[2020-01-27 11:38] gabriellsh commented on #15844
As you guys mentioned this has been fixed in a later version of the app, this issue is being closed. In any case, if you experience this again, please reopen.

Thanks!

[2020-01-27 11:38] #15844 closed

[2020-01-27 12:02] gabriellsh commented on #15864
Closed by #16012

[2020-01-27 12:02] #15864 closed

[2020-01-27 12:25] #15875 closed

[2020-01-27 12:54] gabriellsh commented on #15879
Duplicate of #13374.

[2020-01-27 12:54] #15879 closed

[2020-01-27 13:01] antkaz opened #16338 "slackbridge_import command doesn't work"
### Description:

After https://github.com/RocketChat/Rocket.Chat/pull/11346 a slash command `/slackbridge-import ` doesn't work.

### Steps to reproduce:

1. Enable and setting a slackBridge
2. write the command `/slackbridge-import `

### Expected behavior:

New messages imported

### Actual behavior:

I got an error:
`SlackBridge got an error while importing your messages at slack-bridge-dev: C

[2020-01-27 13:03] mariaeduardacunha commented on #16040
Tested in the latest version (2.5.0-develop) and this issue doesn't happen anymore. If you happen to experience this issue again, please reopen this with updated details. Thanks!

[2020-01-27 13:03] #16040 closed

[2020-01-27 13:03] ritwizsinha commented on #16040
ok

[2020-01-27 13:55] gabriellsh commented on #15883
Couldn't reproduce in 2.5.0-develop. Please try on latest and reopen if necessary. Thanks for the help!

[2020-01-27 13:55] #15883 closed

[2020-01-27 13:55] ishriom53tyagi opened #16339 "[BUG] Unable to send message when press ESCAPE key during message as an attachment pop up arrive"
### Description:

When we tried to send a long message. A window pop up opens said if you wish to send as an attachment if you click yes that's alright
but if you press ESCAPE button and tried to send another Message, Message can't be Send.

### Steps to reproduce:

1.  Go to any channel
2.  Send a long message
3.  when window pop up seen press ESCAPE Button
4.  Now tried to send Message without r

[2020-01-27 14:05] gabriellsh commented on #15925
We're still waiting for more details, please refer to the guidelines (martin sent its link above) so you can figure out what is needed. Thanks for the collaboration.

[2020-01-27 15:02] localguru commented on #16308
I do see that behaviour with rc 2.4.2 too. Tested on Ubuntu  16.04.6 LTS mit `i7-6700 CPU @ 3.40GHz` in a KVM guest with 12 GB RAM. RAM seems to be a critical point.

`meteor npm install` = 2 minutes
`meteor npm start` = up to 15 minutes
`meteor build --server ....` = 10 Minutes
Starting server = 10 - 12 seconds

@kapilchhipa4 have you tried it with meteor release 1.8.3. Starting building to with

[2020-01-27 15:05] apaarfus commented on #16323
This really should be posted in the [Rocket.Chat.Electron repository](https://github.com/RocketChat/Rocket.Chat.Electron/issues), as this is the issue tracker for the server-side of Rocket.Chat.

Furthermore, additional information on your system, environment, and background applications (like AntiVirus) may be requested for additional context.  On that last one, for example, our company's solutio

[2020-01-27 15:34] moriccelli opened #16554 "Search in directory by custom field "select""
## My Setup
- Operating System: Windows
- App Version: 2.17.1
- Installation type: exe

- [ ] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
1. Create custom field
"role": {
  "type": "select",
  "defaultValue": "student",
  "options": ["teacher", "student"],
  "required": true,
  "modifyRecordField": {
   "array": true,
   "field": "roles"
  }
2. Put t

[2020-01-27 16:51] mariaeduardacunha commented on #16075
Not enough information provided. Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-01-27 16:51] sampaiodiego commented on #16229
This has been fixed in version 2.4.2 https://github.com/RocketChat/Rocket.Chat/releases/tag/2.4.2 .. More specifically on https://github.com/RocketChat/Rocket.Chat/pull/16147

[2020-01-27 16:51] #16229 closed

[2020-01-27 17:16] volodymyroliinyk opened #16341 "Cannot start new installed RC on local machine (without Docker)"
Hi
How I can debug RC code for understanding and solving problem with starting of new installed RC server on local machine?
- RC is last version(native RC without Docker)
- database installed and view-able by desktop MongoDB editor App
Thanks

Terminal command result:
[code]

[2020-01-27 17:20] lucaspmarra commented on #277
Any new update?
We'll able to install themes like in Brackets IDE? (Open-Source)

[2020-01-27 17:24] reetp commented on #3582
An ongoing management & communication problem that has existed for a long time, and lost Rocket a lot of code, developers, and good will.

You'd think they would have got on top of this by now...... clearly not.

[2020-01-27 17:41] mariaeduardacunha commented on #16100
Any major changes to the design of the UI needs to be approved by our design team. We will raise this issue to our design team, so please be patient. Thanks for the feedback!

[2020-01-27 17:50] buschmann opened #16342 "Live Chat Web-Page Button Space / Place"
The button is exact on the same place where normal on most web pages the "BackToTop" button sit. :(

[2020-01-27 19:55] MartinSchoeler commented on #16316
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-27 19:55] #16316 closed

[2020-01-27 19:58] MartinSchoeler commented on #16306
Hey, looks like you seem to be looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2020-01-27 19:58] #16306 closed

[2020-01-27 20:02] MartinSchoeler commented on #16342
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-27 20:02] #16342 closed

[2020-01-27 20:03] MartinSchoeler commented on #16341
Hey, looks like you are looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2020-01-27 20:03] #16341 closed

[2020-01-27 21:26] forresthopkinsa commented on #3582
If you're so impatient then just build that PR and use that

[2020-01-27 21:41] dimm0 commented on #3582
It's not even a year since the PR was submitted... So impatient..

[2020-01-27 22:14] MarcosSpessatto commented on #16291
Hi @mlowton, [we implemented](https://github.com/RocketChat/Rocket.Chat/pull/15887) a validation on v2.4.0 to avoid users to impersonate other users. This validation does not allow you to send `alias` or `avatar` properties anymore, unless your user has the `bot` role, or if you set the alias as your own real name.
I opened a PR to update the [docs](https://github.com/RocketChat/docs/pull/1573). I

[2020-01-28 02:22] ankar84 commented on #16229
@sampaiodiego I can't confirm fix:
![unread2](https://user-images.githubusercontent.com/4023037/73230402-2af3be80-418e-11ea-8afd-6d356af0cf45.gif)

[2020-01-28 02:25] ankar84 commented on #16229
I confirm fix!
Good job!

[2020-01-28 05:28] ankar84 commented on #16314
My issue is duplicate of https://github.com/RocketChat/Rocket.Chat/issues/16288

[2020-01-28 05:47] ankar84 opened #16349 "[FEATURE] Add Application close/minimizing settings"
By default, when user close Rocket Chat Electron client with **top right corner cross** it is **do not exit**, but **minimized to system tray**.
![image](https://user-images.githubusercontent.com/4023037/73238553-7b791500-41aa-11ea-91dd-e706390382fd.png)
Please add setting that **user can set to decide** how Rocket Chat Electron client will react on closing it with **top right corner cross** - **m

[2020-01-28 07:21] ankar84 commented on #16349
Please move that issue to https://github.com/RocketChat/Rocket.Chat.Electron/issues

[2020-01-28 09:59] disaster123 commented on #8962
same problem - does really nobody care?

[2020-01-28 10:10] ugintl commented on #16316
I respect the rules, but I have posted it in the forum and received no reply https://forums.rocket.chat/t/how-to-integrate-whiteboard/5582

[2020-01-28 10:26] sgregori commented on #7293
I'm testing same thing at year 2020 but i don't found any method or URL for closing sesions from the CAS server.

[2020-01-28 11:37] djscecomps commented on #16055
I wanted to start contributing , would this be a good first issue ?

[2020-01-28 11:42] namandangi commented on #16055
I wanted to start contributing , would it be a good first issue ?

[2020-01-28 11:50] mar-v opened #16350 "Recent role tags are missing"
### Description:

Recently added custom roles do not show the role badge against the user name in groups and channels, even though it's there if you check under User -> Edit. Role tags are configured to be shown.
### Steps to reproduce:

1. Go to Permissions, create a new role
2. Assign the role to a few agents.
3. When the agents message in the private groups or public channels, the role tag is m

[2020-01-28 11:55] lorek123 commented on #277
From what I know we are waiting on migrating from Blaze to React. ETA
unknown.

On Mon, Jan 27, 2020 at 6:20 PM Lucas Marra <notifications@github.com>
wrote:

[2020-01-28 12:07] agisbert commented on #3582
So much hate and anger! Easy going.

Not that a PR (that already existed) will solve this issue.

[2020-01-28 13:04] gautamilango commented on #11666
Is there a way to just share a link to that publicly shared file on NextCloud instead of having to reupload the file over RocketChat?
If not, we can open a feature request.

[2020-01-28 13:20] mariaeduardacunha commented on #16204
Any major changes to the design of the UI needs to be approved by our design team. We will raise this issue to our design team, so please be patient. Thanks for the feedback!

[2020-01-28 13:33] gcommit commented on #3582
Wow that escalated quickly. There was a PR for this FOR A WHOLE YEAR and nothing happend. But since the community is asking for it, you guys start blaming us. Good job 👍

[2020-01-28 14:00] thawn commented on #3582
It seems that I have contributed to escalating this thread. At the time of writing my comment above I was unaware of the existing pull request. I have edited the comment accordingly and apologize to anyone who felt offended.

[2020-01-28 14:06] mariaeduardacunha commented on #16199
Tested in the latest version (2.5.0-develop) and this issue doesn't happen anymore. Also, links shouldn't be highlighted. If you happen to experience this issue again, please reopen this with updated details. Thanks!

[2020-01-28 14:06] #16199 closed

[2020-01-28 14:48] mlowton commented on #16291
@MarcosSpessatto I understand. However in our app, we needed a way to add an extra meta data to a message and as a hack we were using the alias to do so. Will there be any future updates that allows adding extra info to a message?

[2020-01-28 14:51] gstlouisgit commented on #16162
Sorry for the delay.

Here is a before and after screenshot of what it looks like.  When you carefully click on the little grey line it opens up and you can get your dropdown.  hope this helps.

 <img width="963" alt="Screen Shot 2020-01-28 at 9 48 50 AM" src="https://user-images.githubusercontent.com/20375753/73274485-a025ba80-41b3-11ea-8e0e-20ea983b86cf.png">
<img width="898" alt="Screen Shot 20

[2020-01-28 15:33] rsjr opened #16353 "KaTeX version update"
### Description:

Rocket.Chat is currently using KaTeX version 0.9.0, which is 2 years old. Current version (0.11) has several improvements/fixes.

Current KateX release: https://github.com/KaTeX/KaTeX/releases

### Server Setup Information:

- Version of Rocket.Chat Server: 2.5.0-develop
- Operating System: All
- Deployment Method: All
- Number of Running Instances: N/A
- DB Replicaset Oplog: N/A

[2020-01-28 15:44] UziTech commented on #16146
I don't think this is an issue in marked since it only auto links `ftp://`, `http://`, and `https://` links.

[demo](https://marked.js.org/demo/?text=ftp%3A%2F%2Fexample.com%0A%0Ahttp%3A%2F%2Fexample.com%0A%0Ahttps%3A%2F%2Fexample.com%0A%0Ahxxp%3A%2F%2Fexample.com%0A%0Ahxxps%3A%2F%2Fexample.com%0A&options=%7B%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20%22gfm%22%3A%20true%

[2020-01-28 16:35] ashwaniYDV opened #16355 "[IMPROVE] In "Create a New Channel", input should be focused on channel name instead of invite users"
### Description:
While creating a new channel, by default invite users input is focused, but the first input is channel name.

### Steps to reproduce:

1.Create a new channel

### Expected behavior:
Channel name input should be focused.

### Actual behavior:
Invite users input is focused.

### Additional context
I am working on it.

[2020-01-28 17:11] mariaeduardacunha commented on #16212
This issue was fixed as a part of a bigger fix, so this issue can be closed, thank you for taking the time to report this issue!

[2020-01-28 17:11] #16212 closed

[2020-01-28 17:18] renatobecker commented on #16354
@wreiske Here we will do the same action that we did in the CRM integration.
Please, take a look at https://github.com/RocketChat/Rocket.Chat/pull/16286

[2020-01-28 17:44] tobesoeasy opened #16357 "Recommended users 1K means the maximum 1K ?"
Recommended users 1K means the maximum 1K ? Community

[2020-01-28 18:02] #16242 closed

[2020-01-28 19:15] gabriellsh commented on #16104
I see you skipped "Steps to reproduce" and other sections and added all the information under relevant logs. Irrelevant, badly organised or missing information could prevent your issue from being fully understood and makes the process harder for all contributors.

Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional info

[2020-01-28 19:32] gabriellsh commented on #16156
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-01-28 19:49] bkraul opened #16359 "Edited message indicator no longer appears"
### Description:
After editing a message, the edited message indicator (little gray pencil) no longer appears, therefore making it looked like an edited message was never edited. Previous edit indicators (for messages edited before install of current build) are not affected.

### Steps to reproduce:

1. Get latest docker build (9054f0d as of this issue report)
2. Make sure **Allow Message Editing*

[2020-01-28 19:49] sampaiodiego commented on #8978
please look at `Register visitor` section: https://rocket.chat/docs/developer-guides/livechat-api/#register-visitor

[2020-01-28 19:49] #8978 closed

[2020-01-28 20:44] sampaiodiego commented on #1112
you can use [chat.sendMessage](https://rocket.chat/docs/developer-guides/rest-api/chat/sendmessage/) and set the `tmid` property as the message you want to reply in a thread.

[2020-01-28 21:24] sampaiodiego commented on #16294
closing as duplicate of https://github.com/RocketChat/Rocket.Chat/issues/16294

[2020-01-28 21:24] #16294 closed

[2020-01-28 21:24] sampaiodiego commented on #16294
https://github.com/RocketChat/Rocket.Chat/issues/16097 sorry

[2020-01-28 21:25] sampaiodiego commented on #16287
closing as duplicate of https://github.com/RocketChat/Rocket.Chat/issues/16097

[2020-01-28 21:32] sampaiodiego commented on #16097
this has been fixed on the just launched version 2.4.3

[2020-01-28 21:32] #16097 closed

[2020-01-28 21:46] soundstorm commented on #16097
Fix just confirmed, works now.

[2020-01-28 22:31] ryjones commented on #15583
I also tested it on the latest bits. Can confirm, still broken.

[2020-01-28 22:42] ryguy222 opened #16364 "Log level 2 (errors / informational / debug) causes out of memory crash due to console loop when using more than one instance"
### Description:

When using multiple rocketchat instances out of memory error occurs if error logging is set to level 2 (errors / informational / debug). The log is filled with backslashes as soon as a second instance launches. When running just one instance the issue does not occur. My current workaround is to set logging to errors only.

### Steps to reproduce:

1. On an existing rocketchat ser

[2020-01-28 23:58] forresthopkinsa commented on #3582
I'm also not a member of the RC team, I'm just annoyed by weekly notifications coming from this thread with obnoxious comments like "+1" and "when?" over and over again.

Should they have reviewed that PR a year ago? Totally. But seeing as they didn't, stop whining about it and appreciate that there *is* a PR, and just go use that code branch. There, you have your channel avatars.

Like thawn said

[2020-01-29 00:14] localguru commented on #16276
Some problem on server version 2.4.2.

[2020-01-29 00:24] ajkerzner commented on #16146
I concur. Something else is probably going on.... Does RocketChat do anything else around Marked?

[2020-01-29 00:26] localguru commented on #16241
@sknohsalla do you run out of memory? `JavaScript heap out of memory`

[2020-01-29 06:02] johnsunam opened #16365 "Error: session not created: Chrome version must be between 71 and 75"
I have used rocketchat release version 1.3.3.
While running the `chimp-test` I have been continuously getting error message
[code]
Can you provide me some solution how to resolve it.

[2020-01-29 08:05] domenicocosta commented on #16156
Hi Gabriell,
the steps taken to repeat are:
* install version 2.4 on Centos 7
* log in with Admin and create user B, with random password and password change request at first access
* User B receives the email to access in Rocket, after having entered the password attached to the email asks him to change the password.
* inserts the new password, and the system responds with an alert popup the word

[2020-01-29 08:49] suresh0890 opened #16366 "Folder Upload"
I can abel to upload a file with rocket chat. But, how can i upload a folder ( Non zipped )

[2020-01-29 09:52] menardorama opened #16367 "[2.4.2] Account creation and email login/creation possible from IOS/Android App even if it's disable on rocketchat"
### Description:

On a rocketchat instance we have enabled SAML auth and disable email registration.

This was working fine until... Rocketchat 2.4.0 or Rocketchat client (observed on 4.2.3.2099).

Now on the mobile app we have again the ability to create an account et login using email/password.

On the web interface this option don't appear.

Worse, users are able to create an account and login.

[2020-01-29 10:18] #16350 closed

[2020-01-29 10:19] #16283 closed

[2020-01-29 10:21] ggazzo commented on #16226
@ankar84 please your browser....

[2020-01-29 10:23] morjo opened #16368 "Intergration - hooks - change post-as after username change"
This is what I have done:
1. Created a hook and set the post-as to "hook.bot"
2. Changed the username of the user "hook.bot" to "bot.hook"

Now I cant change the post-as in integration-hook to the new username.

[2020-01-29 10:28] anjanaNewput commented on #16283
@ggazzo I don't get solution yet, Why are you closing this.

[2020-01-29 12:20] ashwaniYDV opened #16370 "[BUG] If "InternalHubot_Username" is undefined, then rocket.cat should be set as bot"
### Description:
If settings.get('InternalHubot_Username') is undefined then rocket.cat should be the default bot.

### Steps to reproduce:

1. Go to any room.
2. Type any invalid slash command
3. InternalHubot_Username is undefined

### Expected behavior:
Rocket.Cat should come into action then.

### Actual behavior:
InternalHubot_Username is undefined

![Screenshot from 2020-01-29 18-31-02](http

[2020-01-29 12:22] ankar84 commented on #16226
I think I did that screenshot from RC.Ekectron app version 2.15.5
But now I can check that UI in latest Chrome and on 2.3.4 RC server version.

[2020-01-29 12:27] ashwaniYDV commented on #16045
I think this is the issue with undefined InternalHubot_Username

[2020-01-29 13:02] cchbr opened #16372 "Login API not reachable on version 2.4.2"
### Description:

I upgraded from 2.3.0 to 2.4.2 and now the /login API call is not working anymore, it returns the following:

{
    "status": "error",
    "message": "Cannot read property 'x-forwarded-for' of undefined"
}

I have deployed RC with docker-compose and use nginx as a reverse proxy.

### Actual behavior:

This is the only thing that is logged on the RC server:

rocketchat_1 | API ➔ d

[2020-01-29 13:26] ggazzo commented on #16283
Because the issue doesn't follow the templates issues, it's hard to understand and I'm quite sure its on the wrong repo,but feel free to open again, sorry...

[2020-01-29 14:12] maurice-schleussinger opened #16374 "/giphy command stops appearing after some time"
### Description:
See https://github.com/wreiske/Rocket.Chat.App-Giphy/issues/12. Basically, the Giphy command stops being presented to the user after some time (minutes).

### Steps to reproduce:

1. Install Giphy App from the marketplace
2. Enable it
3. Wait some time (5 min to a few hours)
4. Try to use the command

### Expected behavior:

See the command in the command box and autocomplete and

[2020-01-29 14:18] catdad commented on #10900
This is still happening today on the web app.

![image](https://user-images.githubusercontent.com/2205537/73364235-2e637480-4278-11ea-8937-2f24c7b757d9.png)

The rockerchat web app regularly freezes and I need to wait a minute or two before it reacts again. This happens when I try to switch rooms or to type a message after switching a room, and it happens consistently.

[2020-01-29 14:18] dennishenry commented on #14896
@ixlandia Did you figure this out? We're having the same issue with our installation. The actual members are listed at the very bottom:

<img width="410" alt="Screen Shot 2020-01-29 at 9 17 55 AM" src="https://user-images.githubusercontent.com/4305001/73364294-52bf5100-4278-11ea-88f0-d4987fd24c4e.png">

[2020-01-29 14:37] agisbert commented on #3582
Dude, really? Notifications annoy you? Here is a small tip ->

<img width="580" alt="image" src="https://user-images.githubusercontent.com/5805538/73365555-be231600-42ac-11ea-9313-4ec953e9ef67.png">

+1 is a valid way of showing interest. I don't know why we need multi paragraph comments only.

I remember the auto reply messages some months ago. That made my week! I really have fun with this threa

[2020-01-29 14:54] catdad commented on #5726
I was hoping there would be an update here. I am seeing issues of high CPU usage and the web app freezing for a good minute or two pretty regularly. I reported this on https://github.com/RocketChat/Rocket.Chat/issues/10900 but it looks like this is a similar report that has had more active history. When I look at Chrome's Task Manager, I see this:

![image](https://user-images.githubusercontent.co

[2020-01-29 15:08] #16372 closed

[2020-01-29 15:09] cchbr commented on #16372
The error was due to code in my fork of RC, I'll close it and it can be deleted.

[2020-01-29 15:21] gabriellsh commented on #16225
Hello @ips972, sorry for the delay. This is indeed a bug, but as a alternative you can go to Admin > General > UTF8 and change the UTF8 Names Validation (RegExp) to ".+" without the quotes. This you allow usernames to be any char, so be careful.

What happens is that the "Add users" search uses this regex for some reason, even though it searches for the Display name too. Allowing the username to b

[2020-01-29 15:51] gabriellsh commented on #16239
I tested and could enable google vision in 2.5.0-develop. Could you test again or maybe be a little more specific about what is going on?

Maybe try also changing storage to google cloud and saving, refreshing the page and see if it is still selected, then turn google vision on.

[2020-01-29 17:15] gabriellsh commented on #16249
Just tested 2.5.0-develop, Chrome 79.0.3945.117, macOS Catalina 10.15.2 and it Works fine, please test again.

Also, not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

We need browser versions and OS versions to correctly triage bugs.

[2020-01-29 17:25] gabriellsh commented on #16257
You opened this issue already, and I moved it to https://github.com/RocketChat/feature-requests/issues/273. Please, don't open duplicate issues, it only slows them down.

[2020-01-29 17:25] #16257 closed

[2020-01-29 17:50] gabriellsh commented on #16280
@vipulsaraf You can work on anything, even if someone is assigned or there is already a pull request. In the end what matters is to collaborate in any way you can :D

[2020-01-29 18:05] #16287 closed

[2020-01-29 18:45] ryguy222 commented on #15471
Sadly this trick doesn't seem to work for us on browser or in the desktop app. This bug is still present in **2.4.3**

[2020-01-29 18:57] gabriellsh commented on #16303
Hey, I see you made the PR for this, but don't forget to follow the [guidelines](https://rocket.chat/docs/contributing/reporting-issues) when opening issues.

Thanks for the contribution!

[2020-01-29 19:00] zdumitru commented on #15471
How can this issue be escalated?

[2020-01-29 19:02] ashwaniYDV commented on #16303
@gabriellsh Sure. :)

[2020-01-29 19:10] ashwaniYDV commented on #16219
@ishriom53tyagi I have already mentioned that I am working on it. It is a good practice to mention the issue which you are working on so that other people may know the status. You have made the PR on it. Great! But please follow contributing guidelines :) Cheers!

[2020-01-29 19:16] gabriellsh commented on #16314
Closing, duplicate issue.

[2020-01-29 19:16] #16314 closed

[2020-01-29 19:26] MartinSchoeler commented on #16357
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-29 19:26] #16357 closed

[2020-01-29 19:27] MartinSchoeler commented on #16366
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-29 19:27] #16366 closed

[2020-01-29 19:33] gabriellsh commented on #16320
@ggazzo @tassoevan Tested, when the page is refreshed, replies become regular messages. Is this intended?

[2020-01-29 19:37] MrMatthias commented on #13580
is there a manual fix?

[2020-01-29 19:52] ishriom53tyagi commented on #16219
@ashwaniYDV  I am sorry for this, next time I ask for the same.

[2020-01-29 20:01] ashwaniYDV commented on #16219
@ishriom53tyagi No need to sorry :) Chill!

[2020-01-29 20:41] ShellyXueHan commented on #14537
confirmed that issue still exists at version 2.4.1

[2020-01-29 21:43] localguru commented on #16367
Did you disable `Accounts / Registration / Registration Form` ?

I can't reproduce the bug on my server, RC 2.4.2 and SAML only.

![grafik](https://user-images.githubusercontent.com/8544984/73399878-4d99ea80-42e8-11ea-8ceb-8a41ba2ab54e.png)

![grafik](https://user-images.githubusercontent.com/8544984/73399540-b3d23d80-42e7-11ea-9810-887d498c0e01.png)

[2020-01-29 21:56] ashwaniYDV commented on #16359
I want to work on it.

[2020-01-29 23:02] geekgonecrazy commented on #15746
With no new comments here.  I'm going to go ahead and close this.

[2020-01-29 23:02] #15746 closed

[2020-01-29 23:04] geekgonecrazy commented on #13391
This has been added for a while now: https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#how-do-i-add-option-to-mount-media

[2020-01-29 23:04] #13391 closed

[2020-01-29 23:13] geekgonecrazy commented on #6196
@ggazzo you are last mentioned, do you know if we can close this?

[2020-01-29 23:14] geekgonecrazy commented on #14774
closed by https://github.com/RocketChat/Rocket.Chat/pull/15307

[2020-01-29 23:14] #14774 closed

[2020-01-29 23:24] geekgonecrazy commented on #13301
this seems to be something specific to configuration since more more reports.  Please use one of the support methods in the docs to work through this: https://rocket.chat/docs/getting-support/#community-support

[2020-01-29 23:24] #13301 closed

[2020-01-30 02:35] forresthopkinsa commented on #3582
There have been valuable contributions in this thread, but you wouldn't know it at a glance, because they're lost in a sea of useless comments.

This discussion right now is also irrelevant, and is sending the thread even further off-topic. I'm glad you're having fun, but diluting the thread with all this garbage only makes it *harder* to track the issue you're so passionate about.

[2020-01-30 06:18] ankar84 opened #16381 "Restart multiple RC instances in Admin Panel"
In **Administration => General** there is a button **Restart the server**
![image](https://user-images.githubusercontent.com/4023037/73424845-03912300-4341-11ea-8078-5a4c77a05dfc.png)
If I have **muliple instances**, e.g. 3 - is that button restart all 3 RC instances?
If not - please a**dd that functionality to RC Admin Panel**.
I mean button to restart all instances.
Thanks!

[2020-01-30 07:34] fthiery commented on #16097
Hi, i'm getting this error too but by using Zapier (even if i upgraded to 2.4.5). Anyone else ?
![Capture d’écran de 2020-01-30 08-32-02](https://user-images.githubusercontent.com/87642/73429062-07ba4200-433b-11ea-9408-d58c3a4c6ec9.png)

Zapier only shows "Message text" and "Channel" as mandatory requirements, is that still the case ?

[2020-01-30 07:59] agisbert commented on #3582
Yet you keep on answering. I think you love the discussion too 😉 😘 ...

[2020-01-30 11:18] northway commented on #16285
We've been running MongoDB 4.0 with WiredTiger, so far so good. We've been using WiredTiger since MongoDB 3.2 came out without noticeable problems.

On the other hand, you still have use Debian Stretch for MongoDB 4.0. The folks at MongoDB are very inflexible when it comes to supported Linux Distributions.

[2020-01-30 11:20] franckadil opened #16382 "Zapier integration Error "You are not authorized to change message properties""
Hi,

All Zapier integrations started returning the error bellow after update to 2.4.2.

  | Rocket.Chat: The app returned "You are not authorized to change message properties". This usually happens when your Zap is missing a required field or a field value isn't in a recognized format.
-- | --

![image](https://user-images.githubusercontent.com/42721509/73444592-2c251700-4359-11ea-9a52-b66239e5c7e

[2020-01-30 11:33] ritwizsinha commented on #3223
@ggazzo I have made the pr please review

[2020-01-30 11:34] ritwizsinha commented on #7900
I am working on it

[2020-01-30 12:09] ugintl commented on #16249
Rocket Chat 2.4 installed on ubuntu 18 Bionic. Firefox 72.0.2, Chrome 79.0.3945.130 and I have windows 10 on my laptop. May be this is the problem. I am using 2.4 and you tested on 2.5 dev version.

Should I try updating RC? How to update?

[2020-01-30 12:47] franckadil commented on #16097
I can Confirm that the issue persists for Zapier https://github.com/RocketChat/Rocket.Chat/issues/16382

Thanks for your help,

[2020-01-30 12:53] franckadil commented on #16382
Tested on 2.4.3 with same error.

[2020-01-30 13:14] nikaro commented on #16382
Also affected, on 2.4.5. It started with 2.4.2.

[2020-01-30 13:40] gabriellsh commented on #16249
It depends on the way you deployed it. You could refer to the [Update docs](https://rocket.chat/docs/installation/updating/) for some help.

If you're running RC in production, I recommend you don't update to develop, but to the latest stable version.

Try testing the client on other devices and on the server, if possible report these tests. Thanks really much for your contribution!

[2020-01-30 13:49] ugintl commented on #16249
Would you be so kind to reply to this? https://forums.rocket.chat/t/how-to-integrate-whiteboard/5582

[2020-01-30 13:52] ritvikjain99 opened #16383 "Starred and Followed messages have no indication"
**Problem**:
There is absolutely no indication of a message being **starred** or **following** . You have to see the options to check whether this message is starred or not.
**Proposed Solution**:
We can add icons depicting these just like we mark an edited message.
**Status** :
Working on it!
@gabriellsh please let me know if this is intentional.

[2020-01-30 14:21] gabriellsh commented on #15695
sure, go ahead

[2020-01-30 14:39] karimelghazouly opened #16384 "[BUG] Existing Users Can Have Password That Doesn't Meet The Policy"
### Description:

When a server admin change the password policy to be enabled his / her password and the existing users password stays the same.
2 solutions that I can think of
1) I think all existing users should be asked to change their password to meet the requirements of server.
OR
2) We can have a password policy enabled by default for any account created in rocket.chat

### Steps to reprodu

[2020-01-30 14:40] #15769 closed

[2020-01-30 15:04] ritwizsinha commented on #15695
Could you direct me to the relevant files

[2020-01-30 15:09] lisa761 commented on #16320
I was wondering how we'd go about this, would it be okay to just remove the button when the corresponding message is deleted or should we delete the entire thread from the database?

[2020-01-30 15:48] gabriellsh commented on #1667
Tested again on Firefox 72.0.2, is working fine. I'm closing this. If there is need please reopen.

[2020-01-30 15:48] #1667 closed

[2020-01-30 16:12] #8170 closed

[2020-01-30 16:23] gabriellsh commented on #3366
I think this does not happen anymore. If you still experience this issue, please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-01-30 16:23] #3366 closed

[2020-01-30 17:37] davidschulze commented on #6685
Hi Andreas, I tried it but it doesn't work. Nothing changes :(
Am I doing something wrong? I copy & pasted [data-role="Owner"] { background-color: red; } and put it into the Custom CSS field and saved. Ist there some syntax missing?

Thanks for your reply!

[2020-01-30 17:38] jalik commented on #11666
It seems that I came too late, and I don't know how I missed this topic, but did you managed to workaround the issue ?

As I understand, you are talking about this LoC https://github.com/jalik/meteor-jalik-ufs/blob/master/ufs-store.js#L247 which is required to finalize uploaded (defining size, etag, token, url...) ? how could this problem be solved ? (I don't know how webdav works and why it is in

[2020-01-30 17:51] manosriram opened #16385 "Input field placeholders are hard to see."
### Description:

Currently, the login and register page's input field placeholders can hardly be seen.  It's color can be changed for better visibility.
### Steps to reproduce:

1. Go to login-page
2. Empty the Fields (if not) to see the placeholders.

### Expected behavior:
Placeholders must have better visibility.

<img src="https://i.imgur.com/8Hg5TPf.png" />

### Actual behavior:
Placeholders

[2020-01-30 18:03] gabriellsh commented on #4573
I think this doesn't happen anymore, if you are still experiencing this, please reopen this issue.

[2020-01-30 18:03] #4573 closed

[2020-01-30 18:05] gabriellsh commented on #5397
This doesn't happen anymore. In any case, if you still experience this, please reopen this issue.

[2020-01-30 18:05] #5397 closed

[2020-01-30 20:30] rodrigok commented on #16382
Thanks for your report. We are evaluating the issue and will have a solution ASAP.

[2020-01-30 22:54] #11681 closed

[2020-01-30 23:15] manosriram commented on #16298
@ritwizsinha Can I work on this? Seems interesting!

[2020-01-30 23:24] brittyazel commented on #1887
@adam-kosseck Thanks so much for the link!
The GNOME Foundation is also using this mod:
https://github.com/pbaity/rocketchat-dark-mode (the same one @adam-kosseck listed above) minus the change to the height to the logo icon.

I would LOVE something like this to be added as stock. The code listed in this repo already works super well as is, and with minor revisions to things like the contrast betw

[2020-01-31 02:22] ritwizsinha commented on #16298
Thanks @manosriram for showing interest but I am already working on it and will submit a pr soon

[2020-01-31 04:26] meomay503 opened #16389 "Disable preview image with markdown images"
### Description
When using markdown to send images via links, the preview images are fetched and shown as well.
That will show 2 same images at the same time.
There should be a way to disable it to avoid duplication.

### Reproduce
Send a message with markdown image
**Ex**:
`![sample image](https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg)`

### Expec

[2020-01-31 04:33] meomay503 commented on #15438
I've tested on the develop branch and this issue still appears.

[2020-01-31 08:06] geekgonecrazy commented on #16381
IMO... I think this actually would be a wontfix.

Process management is beyond the scope of this project.  Our job I think ends at making sure we can gracefully be restarted.  It’s up to your process manager to actually perform the restart.

This is a hack to kill the process so your process manager will start it back up again.  We actually can’t restart our selves.  This would require a bootstrap

[2020-01-31 08:49] Venomen commented on #11570
Any news about this issue?

[2020-01-31 09:20] long-nguyenxuan opened #16391 "Command to summarize rocket.chat related binaries version"
### Description:
When we post something to the Rocket Community, it needed to provide those below information,
it's OK to collect it, but it should be easier for user to collect info and copy&paste to the forum by a command, maybe `rocketchat-server --version`

[code]

[2020-01-31 10:37] novacrazy commented on #14873
As it turns out, it really was `rclone mount` to blame. I'm still unsure why simply restarting the server process fixed things, but after six months or restarting it every other day, I finally moved off of `rclone mount` to a regular-ish disk, and it's been going fine for a week. Knock on wood.

[2020-01-31 10:37] #14873 closed

[2020-01-31 10:53] ugintl commented on #16249
I followed this to install rocket chat. https://linuxize.com/post/how-to-deploy-rocket-chat-on-ubuntu-18-04/

Can you please edit and paste the edited version of the update process for me?

[2020-01-31 11:04] manosriram commented on #16298
@ritwizsinha Yeah ok.

[2020-01-31 12:49] MartinSchoeler commented on #16129
@Crayder Could you post the message that breaks here? Thanks!

[2020-01-31 12:52] MartinSchoeler commented on #11773
<img width="914" alt="Screen Shot 2020-01-31 at 9 50 19 AM" src="https://user-images.githubusercontent.com/20868078/73540658-49b4b800-440f-11ea-874b-7dc57ab8d74a.png">
It was added! Closing this issue. Thanks!

[2020-01-31 12:52] #11773 closed

[2020-01-31 13:02] #16254 closed

[2020-01-31 13:13] MartinSchoeler commented on #3177
This seems to be working in the latest version, closing this issue. @Burstaholic If you are still facing this issue, please open a new dedicated issue for it. Thanks!

[2020-01-31 13:13] #3177 closed

[2020-01-31 13:28] #10227 closed

[2020-01-31 13:28] #16353 closed

[2020-01-31 14:06] ugintl commented on #16249
@gabriellsh I updated it successfully. Rocket Chat service is running. However, in the admin console, it is still showing version 2.4.0.

[2020-01-31 16:01] gabriellsh commented on #16249
Does your issue still happen? If it says 2.4.0 it is probably still on the same version. You could try restarting the server.

[2020-01-31 16:38] manosriram commented on #16359
I want to work on this issue. Will that be okay? @ashwaniYDV @bkraul

[2020-01-31 16:45] ashwaniYDV commented on #16359
@manosriram Go ahead :+1:

[2020-01-31 17:03] MarcosSpessatto commented on #16365
@johnsunam can you please update your server version? We already changed chimp to cypress.

[2020-01-31 17:11] MarcosSpessatto commented on #16260
@Khodesaeed did you try send roomName and username instead roomId and userId? Actually the endpoint support the roomName and username.

[2020-01-31 17:17] johnsunam commented on #16365
@MarcosSpessatto Thanks for rply  but I have resolved this issue uncommenting the selenium configuration in chimp-config file. I am closing this issue.

[2020-01-31 17:17] #16365 closed

[2020-01-31 17:27] pkolmann opened #16396 "Creating a new IM Room with a federated User fails"
### Description:

If you have federated users but your User has not had a conversation with the user you can try to create a private room with im.create (https://rocket.chat/docs/developer-guides/rest-api/im/create/) but it fails to use a federated user by the username.

### Steps to reproduce:

1. Set up federation
2. get a user on a federated server
3. try to create a private room with the feder

[2020-01-31 18:42] ugintl commented on #16249
Yes issue is there. I restarted rocket chat server twice. Are you talking the whole machine? I mean ubuntu server?

[2020-01-31 18:46] saurabhkanswal opened #16449 "no response on clicking unpin message option"
## My Setup
- Operating System: windows 10
- App Version: 2.18.0-develop
- Installation type:

## Description
when pin a message then the message doesn't unpin by clicking unpin option /
when deleting a original message, pin message doesn't delete.

### Current Behavior
What actually happens?
     when we pinned a message and then try to unpin message. then the message doesn't unpin.
also when we

[2020-01-31 19:11] Crayder commented on #16129
@MartinSchoeler It's not just a specific message. It every message I send with newline characters within the KaTeX code.

[2020-01-31 19:31] gabriellsh commented on #6823
Tested now, doesn't seem to happen anymore. If you still face this, please reopen.

[2020-01-31 19:31] #6823 closed

[2020-01-31 19:32] gabriellsh commented on #6895
Still happens 2.5.0-develop

[2020-01-31 19:35] MartinSchoeler commented on #16129
Oh I see it, confirmed on the latest develop version

[2020-01-31 20:12] ixlandia commented on #14896
I realized it had happened earlier on in our installation, when we were still experimenting with settings. The Active Directory integration had imported everyone, and we didn't want _all_ the users showing in there, especially not the ones that were service accounts. So we had cleared the **users** collection in mongodb.
Unfortunately, the entries remained in **rocketchat_subscription** and had to

[2020-01-31 21:04] aryamanpuri opened #16399 "Unable to start the app on ubuntu"
Can anyone help with building the project
[![Screenshot from 2020-02-01 02-30-45](https://user-images.githubusercontent.com/43513114/73574243-36e7c500-449b-11ea-853d-b7891d247117.png)

[2020-01-31 22:26] #16382 closed

[2020-01-31 22:26] #16291 closed

[2020-01-31 23:28] ashwaniYDV commented on #16278
@ritwizsinha I think this will be more precise solution to this issue since send ToBottom is already defined. So we can use that function instead of creating new reacting vars and checks.

[2020-01-31 23:44] rodrigok commented on #16382
The issue was fixed on version 2.4.6, please upgrade your installations.

[2020-01-31 23:50] rodrigok commented on #16382
Just a note, the release is in progress, the image may take about one hour to be available.

[2020-02-01 02:23] ggazzo commented on #15471
closed by #16397 any problem let me know :v:

[2020-02-01 02:23] #15471 closed

[2020-02-01 07:54] ritvikjain99 opened #16406 "[MAJOR BUG]: Deletion of parent message leads to parentless message array."
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34532173/73589039-fcac1100-44f6-11ea-89a4-ecd1efc47d2f.gif)
__BUG__:
On deletion of the initial message all the subsequent messages are left abruptly.
__SOLUTION__:
There has to be re-assigning of parent message and it's information should be displayed.
__STATUS__:
Working on it!
PS: It would be really helpful if you guide @Martin

[2020-02-01 08:11] ritvikjain99 opened #16407 "[BUG]: Errorneous rendering of message"
__BUG__:
As we continue to add 'almost consecutive' messages under single parent, first the message is rendered as new parent message then it is added to previous parent with a splash.
__IDEAL BEHAVIOUR__:
It should be added to previous parent smoothly and new message shouldn't be rendered.
__STATUS__:
Working on it!
PS: It would be really helpful if you guide @MartinSchoeler
![ezgif com-video-to-

[2020-02-01 08:49] cygnusm opened #16408 "upload file from android app is not working(upload from web application is working)"
### Description:
Hi, I can't send file with size larger than 2 mb from rocket.chat mobile applications, it 's OK with file smaller than 2 mb.
I can send files with any size from rocket chat web application, any one have advice for solving this problem?

I've tested it with demo rocketchat server and i could send file with any size
### Expected behavior:

send any file with diffrent size

### Actua

[2020-02-01 10:53] localguru opened #16409 "[BUG] [FEATURE] SAML error Error: Unable to validate response url: Error: NotBefore / NotOnOrAfter assertion failed"
### Description:

From time to time I see the following error in the log file:

[code]
I suspect that this is a time discrepancy between SP (Rocket) and IDP (Shibboleth). In our case the SP and IDP use the same local NTP service, so the times should normally match.

Our Rocket runs on an Ubuntu system, timesyncd is configured correctly and also updates the time:

[code]
The "error" is caused by th

[2020-02-01 11:05] localguru opened #16410 "[BUG] DDP Rate Limiter floods the log file"
### Description:

DDP Rate Limiter floods the log file, because DDP Rate Limiter logging comes with log level "error".

The logging itself is legitimate, but should not be classified as "error", but rather as "info" or "debug".

### Steps to reproduce:

1. check logfiles for DDP Rate Limiter entries

### Expected behavior:

With logfile Level 0 (errors only) there should be no DDP Rate Limiter ent

[2020-02-01 11:31] localguru commented on #16241
I do see the same problem after upgrading from server version 2.2.0 to 2.4.2 and on 2.4.5 too.
It happens exactly at the same time at 2:24 am each day since upgrading to version 2.4.2:

[code]

At 0:55 am I shut down rocket.chat service and mongodb, do lvm snaps and then backup the server. This takes about 5 to 10 minutes. This means that the rocket.chat only runs for 1.5 hours in the middle of th

[2020-02-01 11:48] franckadil commented on #16382
@rodrigok Thank you for the update. I'll update our installation. Have an excellent weekend!

[2020-02-01 12:07] Rishgod commented on #16399
okay, you can fix this by uninstalling node-modules and reinstalling all the node modules,

**Step 1: $ npm cache clean --force**

Step 2: Delete node_modules by **$ rm -rf node_modules** folder or delete it manually by going into the directory and right-click > delete / move to trash. Also, delete package-lock.json file too.

**RESTART your computer**

**Step 3: meteor npm install**

To start aga

[2020-02-01 12:47] ashwaniYDV commented on #16384
@karimelghazouly This is intentional.
I was going through the password policy enabling and found it there.

[2020-02-01 13:02] karimelghazouly commented on #16384
@ashwaniYDV ohh okay, but i think this might be useful in some cases as the admin might not be aware of that setting after some users have joined.

Maybe we can ask the server admin if you want to notify existing users and make them change their password?

[2020-02-01 15:16] karimelghazouly opened #16413 "[BUG] Deleting messages while searching causes the whole room chat to disappear"
### Description:

I have attached a gif for the bug
![Screencast 2020-02-01 16_57_07](https://user-images.githubusercontent.com/24472871/73594368-920acd80-4516-11ea-84a0-e69d47dae3d6.gif)

### Expected behavior:

Do nothing

### Server Setup Information:

- Version of Rocket.Chat Server: 2.5.0 develop
- Operating System: Ubuntu
- NodeJS Version: 8.17
- MongoDB Version: 4.0.6

[2020-02-01 15:19] karimelghazouly commented on #16413
Currently working on it

[2020-02-01 15:40] TheQuantumPhysicist commented on #16285
@northway All my servers use Debian Buster. I moved on from stretch a long time ago. I think RocketChat should provide something within the tutorial for installation to solve this problem.

[2020-02-01 18:25] manosriram commented on #16090
I would like to work on this issue.

[2020-02-01 18:46] localguru commented on #16241
I set  `--max_old_space_size=6144`  to my systemd service file for rocket. Will check tomorrow, if that helps.

Also I see some unusual entries in my mongo log exactly at that time RC crashes at 2:24 am. Those entries came up after(!) upgrade from 2.2.0 to 2.4.2, never seen before in mongod log.

[mongod_error.log](https://github.com/RocketChat/Rocket.Chat/files/4143106/mongod_error.log)

[2020-02-01 19:42] Rishgod commented on #16409
can I work on this?

[2020-02-01 19:43] Rishgod commented on #16410
Can I work on this bug?

[2020-02-01 23:31] ashwaniYDV opened #16415 "[BUG] Any type of file message(pdf, image, etc) is rendered blank in message ui if sent from a thread"
### Description:
If a file is uploaded from a thread then in messages it is rendered blank.

### Steps to reproduce:
1. Open a thread
2. Send a file in it.

### Expected behavior:
Message details should be displayed in all messages

### Actual behavior:
It is blank.
![1234567](https://user-images.githubusercontent.com/43786728/73600724-5efa2580-457a-11ea-99ad-d59ebfbad007.gif)

### Additional cont

[2020-02-01 23:42] ashwaniYDV commented on #16276
@gabriellsh There was a simple true/false mismatch :) Would you please review

[2020-02-02 04:02] manosriram commented on #16090
I would like to work on this issue.

[2020-02-02 05:34] geekgonecrazy commented on #16081
When doing docker I typically start an additional instance with the new version and then remove one of the old.  Repeating until fully updated.

The logs about broadcast are normal and will go away.  Basically means the instances notice the old instance become unreachable and takes it a few to realize.

On start up each instance registers a unique id in the db to represent its self.  Those expire

[2020-02-02 10:26] manosriram commented on #16383
I would like to work on this. Will that be okay?

[2020-02-02 10:44] manosriram opened #16418 "Logo slightly to the left in sidebar."
### Description:

Rocket Chat logo is slightly to the left which looks a bit odd in the sidebar bottom.
### Steps to reproduce:

1. Open the app.
2. At the bottom of the sidebar, the logo is not centered.

### Expected behavior:
The logo must be centered.

![Expected](https://i.imgur.com/QNO59Je.png)
### Actual behavior:
The logo is not centered, looks odd.
![Actual](https://i.imgur.com/R6VzHI2.pn

[2020-02-02 12:36] localguru commented on #16241
With `--max_old_space_size=6144` rocket didn't crash tonight.

BUT there is still something inside rocket eating up memory and CPU power since upgrading to 2.4.2, exactly at 2:24 am:

[code]

[2020-02-02 15:58] subham103 commented on #4996
I think, this issue is already being solved by #8700 and will be completely reviewed and merged after this issue ( "Go to home" button: #1628 ), as discussed in pr #8700. If that still doesn't fix this issue, please guide us so that we can work on this issue.

[2020-02-02 16:24] subham103 commented on #5020
Does pr #9353 solve this issue?

[2020-02-02 16:52] manosriram commented on #16061
Are you still working on this? Because it looks interesting and I would like to get into it. @ashwaniYDV

[2020-02-02 18:47] ashwaniYDV commented on #16061
@manosriram I am working on it.

[2020-02-02 19:17] tars21 commented on #16081
thank you very much for sharing your procedure!

[2020-02-02 19:17] #16081 closed

[2020-02-02 20:03] ritvikjain99 commented on #16406
@ggazzo I have some doubts related this issue, seek your guidance!

[2020-02-02 20:11] ritvikjain99 opened #16420 "There should be an option to make passwords visible."
__PROBLEM__:
Currently we have only hidden display of the form ********** for passwords. There should be an option to make them visible.
__SOLUTION__:
Addition of a toggle button.
__STATUS__:
I am working on it!

[2020-02-02 22:41] ritvikjain99 opened #16422 "[BUG]: "save changes" button malfunctioning in user profile view"
__BUG__:
When you type the new username even after an apparent change in username the save button remains disabled.
__IDEAL BEHAVIOUR__:
Button should be active if there is a change in username.
__STATUS__:
Working on it!
![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/34532173/73616572-18b8cb00-463b-11ea-8123-c3e5e3804e4c.gif)

[2020-02-02 23:09] ashwaniYDV opened #16423 "[BUG] If a pdf is collapsed then its canvas is not rendered again when expanded"
### Description:
When collapsed state is toggled then the pdf canvas is not rerendered.

### Steps to reproduce:

1. Upload a pdf in a room
2. Collapse it
3. Expand it

### Expected behavior:
Canvas should be visible again

### Actual behavior:
No canvas is shown

### Additional context
I am working on it.

[2020-02-02 23:25] ashwaniYDV opened #16424 "[BUG] If "Collapse Embedded Media by Default" is set to true then also pdf are displayed expanded"
### Description:
When Collapse Embedded Media by Default is set to true, then also pdf files are shown expanded

### Steps to reproduce:

1. Enable Collapse Embedded Media by Default
2. Send a pdf to any room

### Expected behavior:
Like images and youtube video embedded links pdfs should also be shown collapsed

### Actual behavior:
They are expanded

### Additional context
I am working on it

[2020-02-03 03:07] Evgeniy185 opened #16426 "Error message spam in private chat"
Client version 2.15.5
Rocket.Chat Version: 2.4.2
NodeJS Version: 8.17.0 - x64
MongoDB Version: 3.6.14
MongoDB Engine: wiredTiger

Some users in some private chats start getting error messages:

User do not make any activities to get this error. Rocket.cat spams "error" message every 10 minutes. User still can send and recieve messages in this chats.

We are using LDAP auth (Microsoft AD), no anony

[2020-02-03 05:55] xgdgsc opened #16427 "Able to mention user not a member of private channel"
### Description:

Currently it is possible to mention(@) a user not a member of current private channel. This would make me think the user is already inside the channel.

### Steps to reproduce:

1. go to a private channel
2. @ a user not a member of this channel
3. It works but the user cannot access the message.

### Expected behavior:

Not able to mention user not a member of private channel

#

[2020-02-03 07:14] eloo commented on #15494
This issue is really problematic because also an empty image_url will bring rocketchat to reject an incoming webhook. This makes the API for handling incoming webhook really fragile.

Wouldn't it be more convenient when an empty or invalid image_url would be just ignored? Maybe with a warning on the logs? This way at least the webhook would work every time and the chance to miss imported notificat

[2020-02-03 08:30] localguru commented on #16241
@sknohsalla Try to set `--max_old_space_size=6144` to give more heap memory and with undercore, not `--max-old-space-size=.....". You may have to increase physical memory too.

[2020-02-03 08:43] fleaz commented on #16427
This only happens to you when you have the `view-outside-room` permission, so depending on your setup not all users are affected by this.
But yes, this is super annoying and I regularly mention random people in our customer chatrooms because I type to fast and the suggestbox wont update fast enough and I hit the wrong user. So a clear `+1` from me for fixing this :)

[2020-02-03 09:08] fleaz commented on #16156
The same bug popped up over a year ago. Maybe something similar: #12820

[2020-02-03 09:13] fleaz commented on #16104
The problem is, that the "Generate random password" function does not adhere to the password policy of the server and generates invalid passwords. This is an old and known bug. See #12494

[2020-02-03 09:46] ankar84 opened #16428 "[BUG] Search in Member list do not search all channel users"
### Description:

### Steps to reproduce:

1. Go to any channel with more then 100 members
2. Click **Members List** icon
3. Try to search someone not in first 100 shown users - result not found
4. Click **Show more** button till user you search apears
5. Search user - result user is found

### Expected behavior:

Search all channes users, not only that shown in member list

### Actual behavior:

[2020-02-03 12:20] Borda commented on #16133
I have a similar issue, clicking on a text with underline typo crash whole application!
- version: 2.17.3
- OS: LightDM Distro: Linux Mint 19.3 Tricia ; base: Ubuntu 18.04 bionic

[2020-02-03 12:26] gabriellsh commented on #16249
I don't know if restarting the whole machine would do something, but you can try.

You can try using the client inside your ubuntu server as well, as I suspect this is some sort of connection issue between the server and client.

Most important of all, you have to test the latest version. There's no point in trying to find a bug that is fixed in a newer version (if it is indeed a bug). Also, as mu

[2020-02-03 12:26] #16249 closed

[2020-02-03 13:04] ggazzo commented on #7900
closed by #16243

[2020-02-03 13:04] #7900 closed

[2020-02-03 13:05] chatnl commented on #5020
Hi,

No I don’t think so? People can still choose to set themselves offline. If the status message is altered that doesn’t give me any info if somebody is really offline or not. I need the complete option of choosing to offline gone.

Or am I missing somehting?

Regards,

Stef

Van: Subham Sahoo <notifications@github.com>
Verzonden: zondag 2 februari 2020 17:25
Aan: RocketChat/Rocket.Chat <Rocket.

[2020-02-03 13:13] menardorama opened #16431 "Allow SAML Auth when email attributes is empty"
Hi
We are using SAML authentication to anthenticate our users.

Our idp is bound against an Active Directory and some users don't have email adresses.

I'm trying to figure out how can we be able to authenticate using only one auth Mecanism and ask for a valid email adress at first logon if email attribute is empty.

Is this is possible ?

Thanks a lot

[2020-02-03 13:21] cattussapiens opened #16432 "can not login to Rocketchat using Freeipa LDAP creds"
server.js:204 LDAPHandler ➔ error Error: User not Found     at MethodInvocation.<anonymous> (app/ldap/server/loginHandler.js:60:10)     at tryLoginMethod (packages/accounts-base/accounts_server.js:460:31)     at tryLoginMethod (packages/accounts-base/accounts_server.js:1294:14)     at AccountsServer._runLoginHandlers (packages/accounts-base/accounts_server.js:458:22)     at AccountsServer.Accounts

[2020-02-03 13:30] ggazzo commented on #4825
closed by https://github.com/RocketChat/Rocket.Chat/pull/8942

[2020-02-03 13:30] #4825 closed

[2020-02-03 13:48] tmanaud opened #16434 "Time/date not based on locale settings"
### Description:
It look like Rocket.chat don't follow locale settings.
On a Ubuntu system with a locale set to LC_TIME=fr_FR.UTF-8  the command line "date" returns: lundi 3 février 2020, 14:41:48 (UTC+0100)
But Rocket.chat app gives time and date in message in such format: February 3, 2020 2:56PM
![image](https://user-images.githubusercontent.com/265371/73658158-26e70580-4694-11ea-8511-0d914f3d77

[2020-02-03 14:17] MartinSchoeler commented on #16424
https://github.com/RocketChat/Rocket.Chat/pull/16188 Fixes this issue

[2020-02-03 14:19] MartinSchoeler commented on #16423
https://github.com/RocketChat/Rocket.Chat/pull/16188 Fixes This

[2020-02-03 14:23] MartinSchoeler commented on #16399
Hey, looks like you are looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since GitHub is not the best place to ask for support. For now, I will be closing this issue, as it does not fit our issue guidelines

[2020-02-03 14:23] #16399 closed

[2020-02-03 14:45] githubkoma opened #16435 "Missing "Direct Message" Button"
Dear Team,

thanks for your great work!

Unfortunately my users are really unhappy that there is no 1-Click Way to start a Direct Chat with another User.
Or is there and i missed it?!
Always having to go to the Directory List, or click on a user within a channel confuses people!
E.g. Mattermost has such a direct Message Button

This is what the users are trying within rocket chat and get confused:

[2020-02-03 15:00] ritvikjain99 opened #16436 "In search suggestion list, action button is inactive, event pops up to click."
### Steps to reproduce:

1. Go to 'search user'
2. Click on 'action' (three dots)

### Expected behavior:

You should get various options corresponding to user or there shouldn't be any action button.

### Actual behavior:

It takes you to corresponding window as if you clicked the suggestion not action.

### Client Setup Information

- Desktop App or Browser Version:
- Operating System: Linux

##

[2020-02-03 15:32] manosriram commented on #16383
@ritvikjain99  You still working on this ?

[2020-02-03 16:27] ritvikjain99 commented on #16383
@manosriram sorry for late reply .
Yeah I am working, had to face random installation problems that's why go late!

[2020-02-03 16:39] gabriellsh commented on #16383
Hey guys, this is open source, there is no dibs on who does what. Feel free to work on what you want.

[2020-02-03 16:43] gabriellsh commented on #16406
Duplicate of #16320.

[2020-02-03 16:43] #16406 closed

[2020-02-03 16:58] ritvikjain99 commented on #16406
@gabriellsh
It's not duplicate because if you see the root cause, there is no function that checks which message should be parent after deletion of a message.
The issue you mentioned talks about cascading the models related to message deleted.
Its to be decided on message deletion that the subsequent message would be parent or not. Which is not at all the case with the issue you mentioned.

[2020-02-03 17:05] ritvikjain99 commented on #16320
@lisa761 I don't think just deleting the button would be a good fix because with time our database would be containing useless messages replies !

[2020-02-03 17:07] ritvikjain99 commented on #16406
@gabriellsh I request you to reopen this issue !

[2020-02-03 17:10] ashwaniYDV opened #16439 "There are unused _male and _female translations"
### Description:
Unused _male _female translations must be removed.
Example:  `User_joined_channel` is only used while `User_joined_channel_male`, `User_joined_channel_female` are also there unused

### Additional context
I am working on it.

### Relevant logs:

[2020-02-03 17:20] lisa761 commented on #16320
@ritvikjain99 yeah I thought so too, but it also comes down to whether it is okay to completely remove the replies without the permission of the user who has written them (If this goes against the policy).

[2020-02-03 18:13] alexbiship opened #16441 "Screen transition is not working while doing video call"
### Step To Produce:

1. Select user A(on avatar), click video chat and then accept request.
2. Both user A and B are connected( `remoteVideoItems`) and seeing in the list.
3. Click A user on video screen to switch, it doesn't work at all. Instead it shows user B's flipped screen.
4. But when I click Full screen/Exit screen button after switch user then it works sometimes. It seems that state is n

[2020-02-03 18:28] manosriram commented on #16383
@gabriellsh Thank you, sir. Appreciate that.

[2020-02-03 18:39] gabriellsh commented on #16406
Actually the problem is the same, but the symptoms are different. You see, it's not been defined what happens to parent messages when they are deleted. There's a setting that when you delete a message it shows "message deleted". If that is on, you'll have the same "problem" as the other issue.

I'd rather keep it localised so it's easier to fix.

[2020-02-03 19:15] ashwaniYDV commented on #15250
@MartinSchoeler I dont find the collapse button now in the link preview of spotify song. Is this issue still valid?

[2020-02-03 20:32] ashwaniYDV opened #16447 "Admin pinned messages have no indication"
### Description:
There should be a pin icon for pinned messages when admin pins a message

### Additional context
I am working on it.

[2020-02-03 22:47] #16410 closed

[2020-02-03 22:52] eladnava commented on #4942
Hey all,
Just waned to let you know that it's possible to send push notifications nowadays to Android devices without FCM, using a paid product called Pushy, which uses an MQTT connection to deliver notifications reliably:
https://pushy.me/

Full disclosure: I work for Pushy.

[2020-02-04 01:50] #16278 closed

[2020-02-04 07:12] vvolas opened #16453 "users -> "user info" tab never loads"
### Description:
This happened in 3 rocketchat ( all I use) instances. All have similar configuration.

### Steps to reproduce:

As admin user.

go to users tab -> user info -> never loads.

### Server Setup Information:

Ubuntu18
Snap
Users are from LDAP + hand made.

RocketChat Version | 2.4.2

### Client Setup Information

- Desktop App or Browser Version: App + Firefox
- Operating System: Linu

[2020-02-04 07:25] aimador opened #16454 "OAuth login problem with latest server and desktop client versions"
### Description:

Hi guys,

I've updated our server to version 2.4.6 and also rolled out the new desktop client version 2.17.2 to all our users. Furthermore we're using OAuth via Keycloak.
A user now reported that he is not able to login via OAuth. He clicks on the button and nothing the loading animation starts, but that's it. After 15 minutes still no change.

I've also tried to roll back the de

[2020-02-04 07:42] nicexe2e4 commented on #16241
`--max_old_space_size=6144` didn't help me. But #16364 helped me. I changed log_level from 2 to 0 and the problem was solved, because nodes stopped exchanging a json, which was endlessly shielded and filled the virtual memory of JS.

[2020-02-04 07:43] nicexe2e4 commented on #16364
Thanks, this solved my problem.

[2020-02-04 07:50] nicexe2e4 commented on #16432
Can you write your settings? I use freeipa in prod, everything is OK.

[2020-02-04 08:01] nicexe2e4 commented on #16285
Just use WiredTiger. It works. The mongodb documentation says how. It does not depend on your operating system, the database works the same in all environments.

[2020-02-04 08:01] marco-aa commented on #503
@rsimai maybe this can help you ...

I made a workaround. If the user is using the existing "reporting/complain" button, his report is stored into the rocketchat_reports collection.
This collection contains the reported message including attachments if used.

My PHP 7.x (using curl and mong module) script can be runned in crontab every x minutes to get this reported messages and put them in a chan

[2020-02-04 08:10] bbrauns opened #16455 "Users are never shown offline"
### Description:

Since our update from 2.1.2 to 2.4.5 users are shown as online even though they are not connected. This results in no offline notification emails sent and confused users.

Explicitly logging out from all clients (desktop, mobile) does not change the status either.

The numbers diplayed on the admin panel can not be correct as well. It shows 982 connected clients, but the load bal

[2020-02-04 09:05] abhishuraina commented on #16029
![Screenshot from 2020-02-04 14-29-50](https://user-images.githubusercontent.com/45932588/73729564-4a28b800-475b-11ea-8c11-1c5f49fb826b.png)
Does this solve the issue? or any further changes ?
@ggazzo

[2020-02-04 09:48] domenicocosta commented on #16156
Hello
the popup I am referring to is not the one from the old bug.

Exactly the steps are:
once the email with the password has been received, a change is requested.

On this mask, once a new password has been added, I would expect to log in, instead a pop-up appears in red at the top "not allowed" and I remain with the possibility of returning the password.

In fact, the first password change was

[2020-02-04 09:59] zahaim commented on #16455
Hi guys,
We suffer from the same bug. Do you need any more data from us (logs or sth)?

[2020-02-04 10:05] abhishuraina commented on #16029
![Screenshot from 2020-02-04 15-33-41](https://user-images.githubusercontent.com/45932588/73734585-de971880-4763-11ea-9f5d-d0d5f19073b9.png)
Changes reflected in the replies section too.

[2020-02-04 10:22] M034B5 commented on #15880
@reetp a legend

@rodrigok thank you guys.

[2020-02-04 11:11] ritvikjain99 commented on #16447
@ashwaniYDV you should also add a pin icon if a child message is pinned.

[2020-02-04 12:29] ashwaniYDV commented on #16447
@ritvikjain99 Can you please explain child message. Do you mean thread messages

[2020-02-04 12:40] Gesalat commented on #16133
@Borda: Thank you for adding this comment, I often had crashes after selecting text in a chat and right clicking for context menu. I just could not reproduce it every time, because I did not figure out it only happened on misspelled words.

But: IMHO the issue reported above is a bit different to this one - only "Desktop application" and "context menu" are common ground. Did you think about openin

[2020-02-04 12:45] ashwaniYDV opened #16456 "[BUG] There is no option to pin a thread message by admin"
### Description:
There is an option to star/unstar a message in thread but no option for admin to pin/unpin a thread message. He can pin messages of message section area only.

### Steps to reproduce:

1. Open a thread in a room
2. Open the popup-menu in thread message.

### Expected behavior:
There should be an option to pin the message if user is admin

### Actual behavior:
No button to pin mess

[2020-02-04 12:53] JASG94 commented on #16241
Same problem here after upgrading from 2.3.0 to 2.4.7.  I've tested all versions (2.3.1, 2.3.2, 2.3.3, 2.4.0 ...) and the error started in 2.4.0 version. I've running Rocket.Chat on Kubernetes.

[2020-02-04 12:56] AlenaVorobiova commented on #16455
Hello,
We faced with same issue on Version of Rocket.Chat Server: 2.4.6

[2020-02-04 13:02] gabriellsh commented on #16449
Duplicate of #16061

[2020-02-04 13:02] #16449 closed

[2020-02-04 13:04] Borda commented on #16133
yes, only misspell words and only in the textbox...
this is the console, but there is no error message...
[code]

[2020-02-04 13:11] JASG94 commented on #16364
Same bug here running on kubernetes with more that one instance (with only one there's no problem).

[2020-02-04 13:37] alexleosumy commented on #16455
Hi,
Some issue, please fix ASAP. It's very important mark in our work.

[2020-02-04 13:43] johnypeterson commented on #16455
We have the same situation after an update to server version 2.4.6...

[2020-02-04 14:02] sampaiodiego commented on #16364
closed by https://github.com/RocketChat/Rocket.Chat/pull/16452

[2020-02-04 14:02] #16364 closed

[2020-02-04 14:31] long-nguyenxuan opened #16459 "How to change backup destination?"
### Description:
My server is almost out of storage, so backup always failed
How could I change backup destination to other dir?

### Steps to reproduce:

Trigger backup follow [the guide](https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#how-do-i-backup-my-snap-data)

### Expected behavior:

It should have option to change backup destination instead of `/var/snap/rocketchat-

[2020-02-04 14:42] markb-trustifi commented on #6444
Failed to install Rocket.Chat in Heroku from develop branch:
[code]

[2020-02-04 14:57] aimador commented on #16454
Turns out it was a misconfiguration on the user side. The user messed around with the internet settings in the control panel and changed a setting under "user authentication" in the different network zones.
It was set to ask for username + pw and i had to set it to "only login automatically in the intranet zone". 🙄

[2020-02-04 14:57] #16454 closed

[2020-02-04 16:06] rsjr opened #16460 "Internal Server Error incorrectly triggered when installing/opening an app"
### Description:

'Internal Server Error' error is incorrectly triggered when installing or opening an App (example: JIRA Server App)

### Steps to reproduce:

1. Go to MarketPlace and install JIRA Server or JIRA Cloud app (make sure you are logged on to Cloud Admin with valid credentials)
2. "Internal Server Error" is displayed in the screen, however the App is installed succesfully and working f

[2020-02-04 16:46] MarcosSpessatto commented on #16426
Hey @Evgeniy185, [this PR](https://github.com/RocketChat/Rocket.Chat/pull/16395) "fixes" this problem. Can you please test with the v.2.4.6?

[2020-02-04 16:58] ritvikjain99 commented on #16383
@manosriram
Hey brother, I think you dint test that if message is edited then pencil is gone if your solution is considered.
Correct me if I am wrong.
Cheers!

[2020-02-04 17:55] ritvikjain99 opened #16462 "[BUG]: Message action popup doesn't adjust itself on screen resize."
__BUG__:
After opening message action popup, resizing screen doesn't affect the position of popup's origin i.e. the action menu icon.
__IDEAL BEHAVIOUR__:
It should change it's origin.
__STATUS__:
On it.
![ezgif com-video-to-gif(4)](https://user-images.githubusercontent.com/34532173/73772083-88e36000-47a5-11ea-8095-3faabc6575f4.gif)

[2020-02-04 17:59] ndroo opened #16463 "Users get logged out when page is manually refreshed"
### Description:

User gets logged out on page refresh, but if they dont manually refresh, everything else seems normal and fine.

### Steps to reproduce:

1. Log into rocketchat on web
2. Refresh the screen by pressing command+r
3. User is redirected back to login screen

### Expected behavior:

At step 3, user is still logged in.

### Actual behavior:

User gets logged out and returned to login

[2020-02-04 18:00] manosriram commented on #16383
@ritvikjain99 No brother, I have tested it. It doesn't overlap.

[2020-02-04 18:17] franckadil commented on #2815
### Just to keep this thread updated:

- neither Rocketchat guide or Mini Orange documentation have worked for us.

- This is the solution that currently works as of 2020 🏅
https://wp-oauth.com/docs/how-to/rocket-chat-oauth-setup/

[2020-02-04 20:52] ritvikjain99 commented on #16383
@manosriram
__With your code__:
![issue](https://user-images.githubusercontent.com/34532173/73773727-af56ca80-47a8-11ea-9d8f-789f6d959093.png)
This is how it looks if both icons are always visible. So I thought to show star on hover.
Don't know which is more feasible

[2020-02-04 20:59] #13905 closed

[2020-02-04 20:59] #15659 closed

[2020-02-04 20:59] #8191 closed

[2020-02-04 20:59] #8426 closed

[2020-02-04 20:59] #8435 closed

[2020-02-04 20:59] #9781 closed

[2020-02-04 20:59] #12075 closed

[2020-02-04 20:59] #13628 closed

[2020-02-04 20:59] #6778 closed

[2020-02-04 20:59] #7047 closed

[2020-02-04 21:09] rsjr opened #16464 "Message is lost when the previous message is waiting to be delivered"
### Description:

Message is lost when the previous message is waiting to be delivered to the server. This is more often reproducible when big messages are sent subsequently (or the server is facing some performance issues)

### Steps to reproduce:

1. Send a message
2. When the first message is still to be retrieved by the server (grey out), send a new message
3. New message will be lost, it is n

[2020-02-04 21:28] #16110 closed

[2020-02-04 21:42] #16267 closed

[2020-02-04 23:00] TwizzyDizzy commented on #16024
Seems like [3.0.0-rc0](Upgrade to Meteor 1.9 and NodeJS 12 ) incorporates the upgrade to nodejs 12 :)

Cheers
Thomas

[2020-02-05 00:20] sampaiodiego commented on #16455
thanks for your reports.. can you guys please share more info about your deployment setup?

- what deployment method are you using?
- what reverse proxy are you using?
- what version did you start noticing this?
- how many instances are running on your cluster?

one thing you can do to "reset" all user status is renew the instances.. if you remove all running instances and start new ones, the stat

[2020-02-05 00:22] sampaiodiego commented on #16024
yes, thanks for the reminder @TwizzyDizzy .. I'll close this =)

[2020-02-05 00:22] #16024 closed

[2020-02-05 01:50] Evgeniy185 commented on #16426
Hmm, we are using snap. Snap refresh says "All snaps up to date.", but still 2.4.2

[2020-02-05 03:38] renatobecker commented on #15749
We don't support the old livechat widget anymore, so please update your script according to the `Installation` page.

Thanks.

[2020-02-05 03:38] #15749 closed

[2020-02-05 03:48] renatobecker commented on #15191
Hi @siteleas you need to enable CORS on the Rocket.Chat admin area to get the Livechat working properly.
If you check the browser console, you'll see some errors related to the CORS stuff.

Thanks.

[2020-02-05 05:05] ankar84 commented on #16453
Do not confirm for RC version 2.4.3
![image](https://user-images.githubusercontent.com/4023037/73812579-50b43f80-47ee-11ea-8f02-0cfbdaacc5d5.png)

[2020-02-05 07:11] bbrauns commented on #16455
Thank you for working on this @sampaiodiego
- deployment method: docker
[code]
image in use:

[code]
- reverse proxy: HAProxy version 1.8.21, released 2019/08/16
- version noticing this: as I wrote above I skipped some versions and upgraded from 2.1.2 to 2.4.5
- how many instances: 2 instances running on the same host

[2020-02-05 07:42] stefanandres commented on #16455
We are using the stable/rocketchat (2.0.0) version on kubernetes. We are running 3 nodejs pods and 4 mongodb pods (primary + 3 secondary).
I think noticed since when upgrading from 2.4.3 to 2.4.5 (or 2.3.1 to 2.4.3 - we did those in the tsame week last week).
We are using nginx-ingress (stable/nginx 1.29.6) as reverse proxy.
Redeploying all pods indeed resets the count, but it will build up again.

[2020-02-05 08:00] vedant11 opened #16471 "[BUG]: Text collapses in Marketplace page"
### Description:
In rocketchat-server application, during admin>marketplace page, the Details/Price list heading text boxes collapse.

### Steps to reproduce:
It appears anytime while opening the page:
Home>Hamburger menu>Options>Administration>Marketplace

### Expected behavior:
It has to be clear to read.

### Actual behavior:
Text boxes have collapsed and texts overlap.
![image](https://user-im

[2020-02-05 08:03] subham103 commented on #5453
I would like to solve this Issue, in fact I am working on it:)

[2020-02-05 08:32] rsimai commented on #503
@marco-aa I totally appreciate you took the time to develop and show your workaround, that's excellent! I don't see however how we can use that as we don't want to customize and deviate from the standard containers, or want db access from other hosts. I guess we'll have to wait until the rocket people finally include something like the above in their code and complete the feature. Still I wonder w

[2020-02-05 08:50] BOBMASRER opened #16472 "Media preload problem"
## Description:
I find the media cannot cache locally. Each time when i open a channel, the media will preload. And then when i got back to the channel i have read, the media preload again which is a waste of data and increase the pressure for server.
## Equipment i use
Android 10 mobile phone(Rocket.Chat app and Chrome browser) 、Google Chrome 79.0.3945.130 on windows10

Is there a solution?

[2020-02-05 09:46] benedikt-wegmann commented on #16455
In addition to the setup described above by @bbrauns here is the Haproxy config we use:
[haproxy.cfg](https://github.com/RocketChat/Rocket.Chat/files/4158651/haproxy.cfg.txt)

[2020-02-05 14:12] ashwaniYDV commented on #16447
@ritvikjain99 Can you please explain child message. Do you mean thread messages

[2020-02-05 14:50] vizarch commented on #13134
Simple workaround: https://github.com/vizarch/fix-rocketchat-livechat-routing

[2020-02-05 15:16] ritwizsinha opened #16478 "OTR issues"
### Description:

Currently, the OTR has many issues
![out](https://user-images.githubusercontent.com/43509699/73848856-ef708880-484e-11ea-8fe9-f890bab4f92b.gif)
1. The sidebar shows a cryptic message when a message is sent, It should be better if  a consistent message is shown like "encrypted message sent"
2. When a message is sent through the threads it doesn't appear normally on the room.
There

[2020-02-05 15:18] Oliver84 opened #16479 "Notifications giving error on Android Web App"
### Description:

### Steps to reproduce:

1. Open Rocket.Chat from Android on Chrome web browser
2. Send notification to user using the Android Chrome web browser
3. View console log in Chrome debug mode

### Expected behavior:

Receive notification on Android Chrome Browser

### Actual behavior:

No notification, console error:
`Failed to construct 'Notification': Illegal constructor. Use Servic

[2020-02-05 15:18] ritwizsinha commented on #16478
I am working on it and certainly would like suggestions from @gabriellsh @sampaiodiego

[2020-02-05 15:41] localguru commented on #16455
Hi, I talked to @bbrauns (I'm a user on his RC instance too) and I don't see that problem on our RC (2.4.5). The difference between his and mine setup is, that we run a single server (nginx as proxy). So an idea might be, that only multi instance setups are affected.

[2020-02-05 16:46] gabriellsh commented on #7007
Fixed by #16433

[2020-02-05 16:46] #7007 closed

[2020-02-05 16:52] johanricher commented on #7007
Problem solved on my end, with Rocket.Chat 2.4.7. :tada: Thank you and congrats to all the team on releasing version 3.0.0 soon. :clap:

[2020-02-05 17:06] reetp opened #16482 "enroll-account"
Rocket 2.4.6 on docker

There seems to be an odd link in the 'welcome' email that I can't find where it comes from, despite grepping all the code:

[code]

This server does not allow public registration. Manually created users by admin only.

What is 'enroll-account' about?

Why is it in the 'Welcome' email?

Why does this URL not appear as visible or a link in the html version?

[2020-02-05 17:27] #16464 closed

[2020-02-05 17:38] localguru commented on #16478
@ritwizsinha

on points 3 and 4: this is 3 years old bug, which makes OTR completely insecure, see https://github.com/RocketChat/Rocket.Chat/issues/7507

Users rely on the fact that files uploaded during an OTR session are transmitted encrypted. The fastest solution would be to disable file upload during an OTR session.

[2020-02-05 17:39] localguru commented on #7507
Still does not work in version 2.4.5!

[2020-02-05 17:49] localguru commented on #16463
@ndroo I can't reproduce the behavior with server version 2.4.5, but I seem to remember that server version 2.4.2 behaved like this. But I am not sure. I would update to 2.4.5 and check again.

[2020-02-05 18:06] ritwizsinha commented on #16478
@localguru ok i'll try to do it

[2020-02-05 19:13] #16359 closed

[2020-02-05 19:37] jessey-git opened #16485 "Scrolling forward when a channel is loading new messages causes auto-scroll to the very bottom to occur"
### Description:
Scrolling forward when a channel is loading new messages causes auto-scroll to the very bottom to occur.  This makes catching up on the previous night's conversations nearly impossible.

The poor behavior of paging-in messages (in both scroll back and scroll forward cases) continues to be a source of absolute rage for members.

### Steps to reproduce:

1. Go to a channel with a lo

[2020-02-05 20:07] ashwaniYDV commented on #13374
I am working on it.

[2020-02-05 20:41] ashwaniYDV commented on #13374
@fleaz I have done the changes. Please review my PR #16487 :)

[2020-02-05 21:38] subham103 commented on #15931
Can anybody explain to me what is the real issue here? I have tested it and the behavior I came up with was:
* when `hide roles` is true for a user (say user1 **role1**) then he can't see anybody's role in the chat area but he can see the roles of other users (say user2 **role2**)in the side panel.
* But again in side-panel, strange behavior is, he can't see the role of himself i.e. **role2** but

[2020-02-05 21:58] subham103 commented on #15765
The issue is actually with the toggle option for {unfollow, follow} which is present for all the massages except the one on which the thread started. I would like to work on this issue:)

[2020-02-05 23:01] #16490 closed

[2020-02-05 23:57] pnordhus commented on #16455
I am also seeing this in our setup:

* deployment method: docker
* reverse proxy: nginx/1.10.3
* version: 2.4.6 (image ID: `b7b1842ac76b`), after upgrading from (I think) 2.2.0
* number of instances: 1

[2020-02-06 05:05] nullbio opened #16491 "users.info endpoint: Cannot read property 'username' of undefined"
### Description:

When attempting to call `users.info` endpoint using

[code]
Error response (http 400):

[code]

### Steps to reproduce:

1. Start rocket chat docker image with mongodb
2. Curl the `users.info` endpoint with a non-existing user in the `username` field

### Expected behavior:

A http response with a more normal error message. Something similar to results of calling with a `userId`

[2020-02-06 07:05] alexleosumy commented on #16455
My setup:

deployment method: manual installation
reverse proxy: nginx/1.16.1
version: 2.4.6, after upgrading from 2.3.0
number of instances: 1
OS: CentOS Linux release 7.7.1908
mongo: db version v3.6.17

[2020-02-06 07:37] localguru commented on #16459
https://github.com/RocketChat/rocketchat-server-snap/blob/develop/bin/backupdb.sh

[code]

[2020-02-06 07:46] spermspace commented on #16239
@gabriellsh I noticed this problem with many checkboxes. But there is no problem on the master branch

[2020-02-06 07:53] localguru commented on #16431
If a central IDP is used, the core attributes should also be taken from there. I would personally count the e-mail address among these core attributes, especially if you want to prevent a company from storing e.g. the private e-mail address. But it is possible that despite authentication with SAML the user can change his profile in Rocket.Chat himself.

[2020-02-06 07:55] menardorama commented on #16431
Hi
The thing is that for some users the email attribute is not present at all.
It prevent Rocket.Chat to pass the auth.

Thomas Menard

[2020-02-06 07:57] localguru commented on #16367
@menardorama  Did you check it? If it is just a wrong configuration on your site, please close the ticket. The error you describe is too serious to be left uncommented here.

[2020-02-06 08:00] menardorama commented on #16367
Hi
I have Checked the settings and it was already configured correctly.

Upgraded to latest minor version and the issue disappeared

I’ll try to gather some logs and upload them

Thomas Menard

[2020-02-06 08:17] sknohsalla commented on #16241
Thank for the information, our rocketchat server instance holds 12 GB, so this is ok.
Interesting the param shouldn't work, as I noticed more RAm consumptiopn in monitoring after I set this parameter.
Will change the param to --max_old_space_size=6144, thanks!
We almost have the some graphs as @localguru mentioned - I will try thw workaround of @nicexe2e4  to keep the application alive.

[2020-02-06 10:40] Perflyst commented on #15931
This issue appears to be fixed after updating to 2.4.1

The issue was that if "Hide roles" in user settings was set to "True" all the roles behind a username were still shown. It looked the same, doesnt matter if this user settings was set to True or False.

[2020-02-06 10:40] #15931 closed

[2020-02-06 13:02] gabriellsh opened #16493 "Administration: Selects won’t work"
### Description:

~~The "Markdown Parser" select doesn't change its value.~~

Any select that works in the React part won't change its value.

### Steps to reproduce:

1. Go to administration and enter any link under the search bar.
2. Try to change any select.

### Expected behaviour:

You should be able to select another option.

### Actual behavior:

You can't select anything.
![aaa](https://us

[2020-02-06 13:25] gabriellsh commented on #16462
Also the sidebar search behaves the same way
![image](https://user-images.githubusercontent.com/40830821/73940859-fb019500-48ca-11ea-9361-bbf5cd0fe0bf.png)

[2020-02-06 13:28] gabriellsh commented on #16462
The thing is, should we close them or resize? For example the Image that I posted above, that search will close if you click anywhere outside (even if you click out of the window), but won’t close when resizing the window.

[2020-02-06 13:37] gabriellsh commented on #8747
Tested 3.0.0-develop. Doesn't seem to happen anymore, if you still face this, please reopen.

[2020-02-06 13:37] #8747 closed

[2020-02-06 13:38] gabriellsh commented on #8923
Still happens 3.0.0-develop

[2020-02-06 14:08] ritvikjain99 commented on #16462
Actually after some fight with code came to know that the position of origin of popup(the action button here), is fed to template on it's creation, remains constant for whole life of template. Also it's distance deciding calculations **don't** take into account the **width of screen**. That's what creates this mess.
For you image it's I suppose is due to javascript bubbling I have already reported

[2020-02-06 15:14] anirudhsingh20 opened #16497 "Margin/Padding bottom: official site (small screen) in footer products dropdown"
### Description:

There is no padding-bottom in products dropdown (in small size screen [width < 360px) in official site <https://rocket.chat/>

### Steps to reproduce:

1. go to the official site
2. change the view mode to phone.
3. select Samsung s5 in browser developers tools
4. scroll down to 'products +' click on dropdown
5. You will notice there is no padding-bottom.

### Actual behavior:

!

[2020-02-06 15:15] anirudhsingh20 commented on #16497
I am new here any suggestions for me?

[2020-02-06 15:33] anirudhsingh20 opened #16499 "profile update : no status colors present while updating status"
### Description:
while updating profile there is no status colors preset on update status

### Steps to reproduce:

1.go to profile page
2. see update status input
3. status colors are not present

### Actual behavior:
![Screenshot from 2020-02-06 20-51-03](https://user-images.githubusercontent.com/49402380/73951593-c0781680-4923-11ea-8b72-8a3a1c83a159.png)

### Expected behavior:
similar to this

[2020-02-06 15:43] mar-v opened #16500 "Disable Push notifications for Omnichannel"
### Description:

When a livechat message comes in, push message is being sent to mobile clients. Since mobile apps do not support Omnichannel yet it would be nice to not receive push messages since they are confusing a lot of users.

### Steps to reproduce:

1. Send a message in the livechat (make sure you are assigned to the department and can accept livechats).
2. Push message comes in on your

[2020-02-06 16:31] rmjstn commented on #15005
The creation of this index solved the problems of slowness we had during uploads.
Rocket.Chat 2.4.7

Before (db.rocketchat_uploads.chunks.getIndexes()) :
[code]

After :
[code]

[2020-02-06 16:43] gabriellsh commented on #9112
Tested 3.0.0-develop, seems fixed. In any case please reopen this issue.

[2020-02-06 16:43] #9112 closed

[2020-02-06 16:47] gabriellsh commented on #9221
Tested on open.rocket.chat, iPhone 6s, iOS 13.3, safari, works fine. If you still face this issue, please reopen.

[2020-02-06 16:47] #9221 closed

[2020-02-06 17:05] gabriellsh commented on #9222
Tested on open.rocket.chat, Windows 10, Edge 44.18362. Works fine. If you still face this issue, please reopen.

[2020-02-06 17:05] #9222 closed

[2020-02-06 17:16] gabriellsh commented on #9223
Tested on open.rocket.chat (3.0.0), Galaxy S10, Chrome 78.0. Still happens. Did it just as @danielbressan described.

[2020-02-06 17:20] gabriellsh commented on #9351
Tested 3.0.0-develop, Chrome Version 80.0.3987.87 (Official Build) (64-bit), macOS Catalina 10.15.2, works fine. If this still affects you, please reopen.

[2020-02-06 17:28] sampaiodiego commented on #15765
please do =)

[2020-02-06 17:34] gabriellsh commented on #10069
This has been fixed. If you still face this issue, please reopen.

[2020-02-06 17:34] #10069 closed

[2020-02-06 18:18] ritwizsinha commented on #16478
@gabriellsh Because the user is in OTR conversation when he ends it we can even show the last message as the message that wasn't an OTR because there shouldn't be any trace of an OTR message. This would require storing the last message differently. For any user when OTR is going on his last message shown would be the one he typed/received last in the OTR conversation but when OTR is switched off t

[2020-02-06 18:27] sampaiodiego commented on #8554
Emails are currently only showed to admins.

[2020-02-06 18:27] #8554 closed

[2020-02-06 18:39] mariaeduardacunha commented on #8440
Tested in the latest version (3.0.0-develop) and this issue doesn't happen anymore. Also, links shouldn't be highlighted. If you happen to experience this issue again, please reopen this with updated details. Thanks!

[2020-02-06 18:39] #8440 closed

[2020-02-06 18:41] rodrigok commented on #8808
Now it's possible to invite users using invite links, they have time to expire and usage limits.

When creating users via admin page it's possible to enter a manual password instead of generating a random one, it's possible to not set it via email.

Since we added the [invite links](https://github.com/RocketChat/Rocket.Chat/pull/15933) feature I'll close this issue.

[2020-02-06 18:41] #8808 closed

[2020-02-06 18:42] rodrigok commented on #8892
Closed via https://github.com/RocketChat/Rocket.Chat/pull/16036

[2020-02-06 18:42] #8892 closed

[2020-02-06 18:43] sketch242 commented on #16288
It would be nice if we could get this fix into 3.0.0...

[2020-02-06 18:45] rodrigok commented on #8768
This was fixed already, after the account creation the system shows more information about the activation process.

![image](https://user-images.githubusercontent.com/234261/73967916-97419100-48f7-11ea-8bd4-568a4e4b9a95.png)

[2020-02-06 18:45] #8768 closed

[2020-02-06 18:48] rodrigok commented on #8450
Closing this by inactivity

[2020-02-06 18:48] #8450 closed

[2020-02-06 19:09] rodrigok commented on #8423
We are going to provide those auth services as apps via our marketplace, those improvements will be made there.

[2020-02-06 19:32] heubles commented on #16382
Version 2.4.6 seems unavailable via snap...

[2020-02-06 20:11] LeandroSalvas commented on #12781
I'm using 1.1.1 and the problem still happens. One option to temporarily solve this problem is change   the replica set name before update your version.

[2020-02-07 03:55] iMaciaveller commented on #13003
I too (

[2020-02-07 06:42] mart8mart8 opened #16507 "zapier integration error"
Hello all,
i would like to know if someone  can explain how can i fix this problem when i try to make the integration with zapier in my RC.

![image](https://user-images.githubusercontent.com/18290688/74006856-2ec7d380-493a-11ea-9dd6-3c98235c1cf9.png)

i try with the ip too and was the same problem.

thanks!

[2020-02-07 07:59] ankar84 opened #16509 "Suggestbox in Private Channel should suggest users from Member List first"
### Description:

Suggestbox should suggest users from Member List **first** in Private Channel

### Steps to reproduce:

1. Go to private channel
2. Type @ to mension somebody from that private channel members
3. First you get the list of some channel members (and that's good)
4. But you need to mention other user from that channel member list
5. You type first symbol of username of user that you

[2020-02-07 10:53] novoid commented on #16288
Same here: Xubuntu 1910 (xfce 4.14), Rocket.Chat version 2.17.2-1555.

Although I never see the Rocket.Chat panel icon. the app "Rocket.Chat" is enabled in the list of applications in the notifications panel plugin. In the Rocket.Chat settings, notifications are enabled.

Whatever happens in Rocket.Chat, the icon does not get shown in the panel.

When I re-visit the Rocket.Chat preferences (My Acc

[2020-02-07 11:26] equinoxefr commented on #15005
Very useful with only 13000 chunks

[2020-02-07 11:31] equinoxefr commented on #15800
Hi,

I think you could have a look to #15005 . It works for us !

Regards

[2020-02-07 12:45] gabriellsh commented on #11393
This doesn't happen anymore, if you still face this issue, please reopen.

[2020-02-07 12:45] #11393 closed

[2020-02-07 13:41] himpierre opened #16510 "user mentions in code blocks lead to auto-join the channel"
### Description:

From time to time users paste a codeblock containing user mentions like that:
`
@user1
@user2
@user3
`

and so on. Now all that users are auto-joining the channel the codeblock was pasted to.

### Steps to reproduce:

1. Paste a codeblock with user mentions to channel x
2. All users in the codeblock are dragged into the channel x

### Expected behavior:

No auto-join for mentions

[2020-02-07 14:39] gabriellsh commented on #9351
I just found out that this happens still, but only when using Marked parser.

[2020-02-07 14:45] gabriellsh commented on #11675
Still happens 3.0.0-develop

[2020-02-07 14:56] localguru commented on #16241
Interestingly, the load peaks no longer occur at 2:24h after I set `--max_old_space_size=6144`. Maybe this is or was a one-time job that could never go through because it was always running out of memory. But that's all conjecture.

It would be nice if someone from the Rocket.Chat team could get in touch with us, since some instances seem to be affected by this.

[2020-02-07 15:24] gabriellsh commented on #11791
I just tested this on 3.0.0-develop. The reason the logo looks small on the sidebar is because of its height. No image will stretch past the size of the container. The height of the container for the sidebar footer logo is around 21px (depends on window size). The same goes for the logo on the Desktop app sidebar. If it is too large (height or width) it'll shrink the image until it fits.

Now, for

[2020-02-07 15:24] #11791 closed

[2020-02-07 15:27] gabriellsh commented on #12336
This seems to only happen when using the markdown setting set to original.

[2020-02-07 16:31] gabriellsh commented on #12336
@khobbits Katex now won't render before Code block (#16012). As for the original topic of the issue, that's actually expected. You're basically opening a katex "block" using "\(", so it'll interpret it as Katex. You can either use codeline/block or disable Katex in the settings.

Thanks for your contribution!

[2020-02-07 16:31] #12336 closed

[2020-02-07 17:18] gabriellsh commented on #12553
Doesn't happen anymore. If you still face this issue please reopen.

[2020-02-07 17:18] #12553 closed

[2020-02-07 18:30] MartinSchoeler commented on #16507
Hey, looks like you are looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2020-02-07 18:30] #16507 closed

[2020-02-07 19:36] rsjr opened #16517 "Missing API method for delete roles"
### Description:

No API method available for delete roles

https://rocket.chat/docs/developer-guides/rest-api/roles/

### Expected behavior:

Method so roles can be deleted via API request.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.0.0-develop
- Operating System: All
- Deployment Method: All
- Number of Running Instances: N/A
- DB Replicaset Oplog: N/A
- NodeJS Version:

[2020-02-07 19:37] gabriellsh commented on #12592
Tested on open, still happens.

[2020-02-07 19:53] gabriellsh commented on #12610
The message count still doesn't update after deleting/pruning messages.

[2020-02-07 19:54] ritwizsinha commented on #16517
I want to work on it

[2020-02-07 20:22] gabriellsh commented on #12628
Teste on 3.0.0-develop, doesn’t seem to be an issue anymore. If you still face this please reopen.

[2020-02-07 20:22] #12628 closed

[2020-02-07 20:34] jmeeter opened #16519 "Cannot use Gmail SMTP"
### Description:

Cannot get email verification to work using Gmail SMTP.

### Steps to reproduce:

Click send test email.

### Expected behavior:

Expect to receive test email.

### Actual behavior:

I20200207-21:30:39.461(1) Exception in defer callback: { Error: getaddrinfo ENOTFOUND http http:587     at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:67:26)   errno: 'ENOTFOUND',   code: 'EC

[2020-02-07 21:52] sampaiodiego commented on #16453
cannot reproduce on 3.0.0-rc.2 as well.. it shows:

![image](https://user-images.githubusercontent.com/8591547/74068627-da286500-49da-11ea-8891-dc410d2f7f01.png)

any additional steps to reproduce @vvolas ?

[2020-02-07 21:53] sampaiodiego commented on #16455
hi everyone, we've just released version 2.4.8 with a fix for this.. can you please test and let me know if it has indeed fix the issue? thx

[2020-02-07 21:54] sampaiodiego commented on #16517
thanks @ritwizsinha .. make sure to add tests and update the documentation as well.

[2020-02-07 22:58] Chealer commented on #16490
I'm afraid the right margin for messages was not adapted to the chosen solution. The last 2 characters of a long message can overlap the new button. To reproduce, use a long message of short words and send it twice in a row.

I suggest moving these icons left, since there is already a left margin for avatars, and accumulating them on the right will reduce the space available to messages.

[2020-02-08 00:17] ShellyXueHan commented on #16296
Having the same issue on the app. Looks like the page for integration does not have proper pagination.

@Gummikavalier for now you could list all integrations with the api: https://rocket.chat/docs/developer-guides/rest-api/integration/list/ with add the `count` query parameter: https://rocket.chat/docs/developer-guides/rest-api/offset-and-count-and-sort-info/

[2020-02-08 02:34] aceaceace30 opened #16524 "Remove user from all groups that she joined"
is it possible to remove the user in the groups where she joined without doing it one by one? thanks

[2020-02-08 02:54] krchavdarov opened #16525 "How can i update from 2.4.8 to 3-rc?"
Hello guys,

I apologize for my bad English and congratulations on the most amazing communication project.

Can you help me to install/ or upgrade/ to the new RC-4 version?

[2020-02-08 07:13] vvolas commented on #16453
Its probably some setting, since all instances are almost identical. I
tried to look at it but didint had much time. I will setup additional
instance and will try to figure it out.

On Fri, 7 Feb 2020, 23:52 Diego Sampaio, <notifications@github.com> wrote:

[2020-02-08 07:30] jsternadel commented on #16097
No issue with 2.4.7 that was just installed via docker today.

[2020-02-08 10:13] soundstorm commented on #16097
They did a full rollback, so everything should work as <2.4.x

[2020-02-08 11:48] ritwizsinha commented on #16517
@sampaiodiego I will update the documentation but I have no knowledge of writing tests, Thanks

[2020-02-08 11:59] ritwizsinha commented on #16499
I want to work on it

[2020-02-08 14:03] mytja opened #16527 "Admin permission: See hidden chatrooms and conversations"
Ok, so here it is how it goes!
I want to check hidden chatrooms and conversations! I saw SMARSH, but I want to go INTO the chatroom/conversation and delete, modify... their messages.
Is this possible to do that?

Thanks,
MyTja

Additional: I'm a big fan of Rocketchat

[2020-02-08 14:36] ashwaniYDV opened #16529 "Missing API method for create, delete and update for custom user status"
### Description:
No API method available for create, update and delete custom-user-status.
Just like emoji-custom it should be available for custom-user-status too.

![Screenshot from 2020-02-11 02-34-12](https://user-images.githubusercontent.com/43786728/74189968-753d6b00-4c77-11ea-811a-65008db51722.png)

https://rocket.chat/docs/developer-guides/rest-api/#custom-user-status

### Additional conte

[2020-02-08 15:46] PeGaSuS-Coder opened #16530 "Few enhancements that Rocket.chat could use to simplify admins/users life"
1) - [ ] Replies/Threads replies should be hidden from the channel/room chat (pretty much like Slack does)

2) - [ ] When enabling anonymous read/write, after a user closes the browser, the username should be removed from the database, pretty much like IRC does, freeing up the `Guest` nick to someone else and use the `Message Erasure Type` to the one we've chosen (in my case, it's `Remove Link Bet

[2020-02-08 21:24] ritvikjain99 opened #16532 "[ENHANCEMENT]: No 'show password' button."
__PROBLEM__:
No **show password** button which makes it very difficult to check the password, resulting in unnecessary requests to server!

[2020-02-08 21:48] GoetheG commented on #7268
This should be merged with https://github.com/RocketChat/Rocket.Chat/pull/9584

[2020-02-08 22:38] ashwaniYDV opened #16533 "[BUG] No maxlength defined for custom user status"
### Description:
Max length for custom user status is 120. It is defined in status options. But not defined in custom user status add/edit form.
So the issue here is that user can enter a status of any length but only 120 length is visible. So in this way, an important part of status may be trimmed out. But if max-length is defined then they will try to fit the status in 120 lengths only, keeping

[2020-02-08 23:36] ashwaniYDV opened #16535 "[BUG] Red color error outline is not removed after password update"
### Description:
After updating password, red colour error outline is not removed from password input tag.

### Steps to reproduce:

1. Go to edit progile
2. Update password

### Expected behavior:
No error highlight

### Actual behavior:
Error outline on input tag of password
![qwerty](https://user-images.githubusercontent.com/43786728/74093610-536aa980-4afa-11ea-8208-3b669b8abf7c.gif)

[2020-02-09 04:43] mddvul22 commented on #15189
Is it possible to place a monetary bounty on this issue so that we can help fund resolution?

[2020-02-09 11:02] randomsymbols commented on #8465
![gmlXMc jpg](https://user-images.githubusercontent.com/22531452/74100895-5491ea00-4b7f-11ea-9d98-8422d846e321.png)

Linux Rocket Chat version 2.17.2

[2020-02-09 11:59] localguru commented on #16409
It seems essential that the time on the SP (Rocket) and the IDP run exactly the same. It is recommended to use the same NTP server on the SP as on the IDP, so that both have the same time. Even the slightest deviation in the time will cause problems here.

On Ubuntu systems, `ntp.ubuntu.com` is set as the time server by default in `/etc/systemd/timesyncd.conf` configuration. Here it seems to make

[2020-02-09 12:00] #16409 closed

[2020-02-09 12:09] ashwaniYDV commented on #16447
It is working fine for child messages too.

[2020-02-09 19:02] lisa761 opened #16538 "Username not displayed if the first message of consecutive messages is deleted"
### Description:
If we send consecutive messages and then delete the first message, the coming messages do not show the username anymore.

### Steps to reproduce:

1. Send at least two messages consecutively
2. Delete the first message

### Expected behavior:
The username of the person who sent the message should be displayed.

### Actual behavior:
Refreshing the page does seem to work and the use

[2020-02-09 19:45] ritvikjain99 commented on #16538
Already been opened, and solved, but saying it's a copy of your previous issue, it was closed !
#16406

[2020-02-09 20:09] lisa761 commented on #16538
Okay yes, I will close this issue then, I apologize for missing it.

[2020-02-09 20:09] #16538 closed

[2020-02-09 20:19] ritvikjain99 commented on #16538
No don't apologise, it's actually an issue, which app can't run with, but no one is acknowledging it!

[2020-02-10 02:05] recklessnl opened #16542 "[BUG] File uploads in Rocket Chat are incredibly slow, but there is a simple solution for it."
### Description:
See this thread for a lot more information: https://forums.rocket.chat/t/file-uploads-are-super-slow-because-theyre-sent-in-many-small-post-requests-wtf/4600

In Rocket chat, apparently the files are uploaded via many small sequential POST requests. For example, a 100KiB file (dd’d from /dev/zero) takes four requests to upload! And a 6.05mb jpeg took about 160 requets to upload. A

[2020-02-10 03:19] milannshrestha opened #16543 "Once pinned the message cant be unpinned."
### Description:

I'm not sure if I'm the only one to face this problem but, once i pinned the message on any channel, i cant unpin the message although there is option for 'Unpin'

### Steps to reproduce:

Pin message

Message in channel 'user Pinned a message:'

Open Pinned list.

See Pinned message.

Unpin message.

Message still in Pinned list.

No notification in channel messages.

Close Pinn

[2020-02-10 07:57] frdmn commented on #16519
It's trying to to connect (and resolve) the hostname `http` which obviously fails. Double check your SMTP configuration again.

[2020-02-10 08:06] neil-119 commented on #15616
Any news on this?

[2020-02-10 08:56] stefanandres commented on #16455
Thank you, we've just updated. For now it seems better.

[2020-02-10 08:59] UAnton commented on #13602
I had the same problem with Snap 2.4.2

[2020-02-10 12:21] pjv commented on #16455
2.4.8 👍

[2020-02-10 12:32] MartinSchoeler commented on #16543
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-02-10 12:35] guilhermecfviana commented on #14997
I still have this problem, any news?

[2020-02-10 12:35] guilhermecfviana commented on #15904
I still have this problem, any news?

[2020-02-10 12:47] MartinSchoeler commented on #16543
Also does any errors happen? can you see the message on the pinned sidebar after unpinning? Thanks!

[2020-02-10 12:50] MartinSchoeler commented on #16525
Hey, looks like are looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2020-02-10 12:50] #16525 closed

[2020-02-10 12:51] MartinSchoeler commented on #16524
Hey, looks like you are looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2020-02-10 12:51] #16524 closed

[2020-02-10 13:13] zahaim commented on #16455
LGTM too, many thanks!

[2020-02-10 13:49] #16493 closed

[2020-02-10 14:21] lidere commented on #12386
Hey guys,

i'm facing this issue while we try to start the server.

I tried dropping all indexes from the rocketchat_cron_history but still not working.

If i delete all contect from this collection, my instance reset. I need help on this case URGENT

[2020-02-10 15:17] milannshrestha commented on #16543
So, this is the issue,
[](https://imgur.com/978BlP9)

[2020-02-10 15:21] milannshrestha commented on #16543
Would you please look into POC [here](https://imgur.com/978BlP9)

[2020-02-10 15:32] Yambr opened #16545 "Direct reply from email - adding base64 encoded message"
I turned on the direct answer in the settings according to the instructions.

Everything works, but the message is encoded in base64. (screenshots included)
this is a bug? or feature&)

we are using imap and Rocket.Chat 2.3.1

![image](https://user-images.githubusercontent.com/28951082/74163354-5321f980-4c33-11ea-95fc-7836076aa862.png)
![image](https://user-images.githubusercontent.com/28951082/74

[2020-02-10 15:47] sknohsalla commented on #16241
I can report the same behavior as @localguru described.

Please let us know if we can provide you further information / logs etc.

[2020-02-10 16:44] Yambr commented on #16545
In 2.4.1 Rocket.Chat - same error

[2020-02-10 17:08] jmeeter commented on #16519
Hm, I may have been entering smtp.google.com instead of smtp.gmail.com - either way, it's working now.

[2020-02-10 17:08] #16519 closed

[2020-02-10 18:20] doremio commented on #16299
### Hi!
I have some troubles here too, but my set is a little differ:

Version of Rocket.Chat Server: **2.4.8** running on **Docker**

I've created an application with Redirect URI "https//chatsub-mydomain-com/_oauth/gitlab" in it on
Gitlab's Applications page. And on Rocket chat side under OAuth > Gitlab section  i've configured  like this:

**Gitlab URL**    "https//gitsub-mydomain-com"
**Gitlab

[2020-02-10 20:00] cjhille commented on #7004
Is this currently broken again? AFAIK there currently is no option for setting a channel to default in `/admin/rooms`.

[2020-02-10 20:14] ritvikjain99 commented on #15695
@ritwizsinha you still working ? I wanna take up the issue!

[2020-02-10 20:20] pnordhus commented on #16455
Seems to be fixed here as well after updating to 2.4.8. Thank you!

[2020-02-10 20:37] ritwizsinha commented on #15695
@ritvikjain99 feel free to take up the issue if I dont make a pr in 2 days, I was not actually able to make progress due to not being able to find the file for the change, which I found yesterday

[2020-02-10 20:42] wreiske commented on #16374
@maurice-schleussinger is the app getting disabled?

[2020-02-10 20:48] stevenmcastano opened #16549 "LDAP import of users fails "Cannot read property 'replace' of undefined""
I having a working server with about 450 users... but one or two new users will not import from LDAP and why I try to import while watching the logs I get the following error:

[code]

The server is running on Ubuntu and has the following versions:
[code]

This is syncing against a Windows 2008 R2 Active Directory server. Any ideas on what can be done to troubleshoot more and find out why my LDAP

[2020-02-10 20:58] wreiske commented on #14988
This can be closed now!

https://github.com/wreiske/Rocket.Chat.App-Giphy/commit/82cd8dc79653db3903281df09b7fd0e3970957dc

[2020-02-10 21:31] geekgonecrazy commented on #14988
This is true!  Now useable on open.

If anyone else is trying to do this on a slash command.  You can grab from the slashcommand context and then using the builder set the threadId for the response.

[code]

[2020-02-10 21:31] #14988 closed

[2020-02-10 21:40] Yambr commented on #16545
[pop.txt](https://github.com/RocketChat/Rocket.Chat/files/4183171/pop.txt)
for pop not working - says "invalid email"

[2020-02-10 22:18] lquessenberry opened #16551 "[BUG] JSON Payloads for Livechat Test Webhook POSTs are different than real POSTs."
### Description:

The JSON data structure is different for testing webhooks compared to the real POSTs that come across. Using Webhook.site I was able to determine that the visitor's email address is an object when a real chat comes across, but it's a string when you push the test button.

### Steps to reproduce:

1. Go to https://chat.yoursite.com/livechat-manager/webhooks
2. Set a URL to catch w

[2020-02-10 23:27] cjhille commented on #16105
I'm having the same issue here. Expire date is set to "never". Using latest Docker Image and nextcloud for OAUTH (if that's of any relevance).
On the error page rocket.chat seems to hang and sends potentially hundreds of POST requests (about 12 per second) every to `/api/v1/useInviteToken`, which all return `{"room":{"rid":"REDACTED","fname":"off-topic","name":"off-topic","t":"c"},"success":true}`

[2020-02-10 23:54] lifeofdan opened #16553 "BigBlueButton Feature Request"
My school uses rocket.chat and bigbluebutton. My only complaint with the integration is that you really have to full-screen bigbluebutton to use it for screen-sharing/video conferencing. This is an issue if you only have one monitor. I would like to request that there is a toggle button (exactly like the one in the jitsi integration) to allow bigbluebutton to launch in a new tab/window.

![image](

[2020-02-11 00:01] cjhille commented on #16105
UPDATE: Found the culprit for the error.
If you disable the registration form for new users, channel invite links don't seem to work (even for current users).
If you enable the registration form the invite links work, **however** afterwards the page still performs this enormous amount of request spamming the server until the user changes channels.

[2020-02-11 07:26] bbrauns commented on #16455
looks good 👍

[2020-02-11 07:26] #16455 closed

[2020-02-11 09:43] mrsimpson commented on #9838
I'll just start implementing an API to deactivate users which have been inactive for a longer time

[2020-02-11 10:18] ankar84 commented on #13380
@bytepoets-mzi can you clarify if **disabling UserPresenceMonitor** solved some of your login process heavy load?
And thanks for your [Load tests for Rocket.Chat](https://github.com/eyetime-international-ltd/rocketchat_loadtest_message_listener)

[2020-02-11 10:41] ankar84 commented on #16288
I found another moment with that bug.
User can successfully change **Unread Tray Icon Alert** option by changing **Require Interaction to Dismiss Desktop Notification** option.
![Unread Tray Icon Alert](https://user-images.githubusercontent.com/4023037/74229825-37226480-4cd4-11ea-9877-74f3572851a2.gif)

[2020-02-11 11:20] novoid commented on #16288
I can confirm that the "Unread Tray Icon Alert" settings stays active in this case. I don't receive any unread notification in my panel (except the working libnotify popup notification).

[2020-02-11 12:01] AmShaegar13 commented on #16105
Still present in v2.4.8.

[2020-02-11 12:05] asarubbo opened #16555 "Node.js update"
### Description:

Node.js update

### Steps to reproduce:

The latest release(2.4.9) uses node.js 8.17.0. The support for this version ended on Jan 2020 (see https://nodejs.org/en/about/releases/ )

Can you use a more recent and up-to-date node.js version?

[2020-02-11 12:24] TwizzyDizzy commented on #16555
@rocket-cat label add duplicate

[2020-02-11 12:25] TwizzyDizzy commented on #16555
@rocket-cat close

Duplicate of #16024, Upgrade to nodejs 12 is already incorporated into the RCs of Rocket.Chat 3.0.

Cheers
Thomas

[2020-02-11 12:25] #16555 closed

[2020-02-11 15:52] bytepoets-mzi commented on #13380
@ankar84 Sorry, we're no longer interested in Rocket.Chat and have moved to a different solution (Matrix).

[2020-02-11 15:58] JoshMcCullough commented on #15472
This is more than an IE issue. IMO RC should not rely on the browser's interpretation of a media type for a give file being uploaded -- it is often wrong or non-existent. For instance, we have some obscure _extension_ (not specific _media types_) we need to allow users to upload. But we can't since the browser comes up with an empty/null media type (e.g. for the extension "dat" -- which could map

[2020-02-11 16:35] sampaiodiego commented on #16455
thank you guys for the feedback.. I'll close the issue as it looks as fixed =)

[2020-02-11 17:24] rsjr opened #16561 "Inconsistent behavior - unread messages 'red line'"
### Description:

The unread messages 'red line' bar behavior is not 100% consistent for all cases (DMs and Rooms/Channels)

1. It never consistently appears. This means I spend extra time figuring out which messages are new and which are old.
2. It sometimes appears in a room I'm actively in when a new message appears. I'll be staring at the screen and see a new message appear, and a new "unread

[2020-02-11 18:20] subham103 commented on #16079
while reproducing this issue I didn't come across duplicate settings. I think this might be solved in some pr or I am not in the correct version to reproduce it.
![Rocket Chat](https://user-images.githubusercontent.com/43502196/74265611-dcffbe80-4d28-11ea-91e5-7df57d730536.png)

please tell us whether this issue still persists

[2020-02-11 18:42] sampaiodiego commented on #13331
yes.. thanks @ashwaniYDV

[2020-02-11 18:42] #13331 closed

[2020-02-11 18:45] sampaiodiego commented on #16453
ok.. please let me know if you find something.

[2020-02-11 19:19] 4lxndr commented on #15471
@ggazzo why 3.0.0.?

[2020-02-11 19:31] mddvul22 commented on #15471
3.0.0 is about to release, I believe.

[2020-02-11 19:37] subham103 commented on #12610
the current behavior is:
1) the number of members is displayed correctly.
2) when we add a new message to a channel the message count increases by 1 to the previous count.
3) but when we delete a message the message count remains the same as the previous count

Should we need to fix only the message count problem when we delete the message or there are some other bugs unseen to me?
I want to work

[2020-02-11 19:47] ritvikjain99 commented on #16413
@karimelghazouly I am taking up this issue!!??

[2020-02-11 20:09] subham103 commented on #8824
I would like to work on this issue:smile:

[2020-02-11 21:07] channing-teh commented on #16382
@heubles [Read here](https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#when-will-my-snap-installation-get-the-latest-release)

I have been trying to get zapier to work with Rocket.Chat as well and it's not working, I guess we'll need to wait another 4 days to get the update.

[2020-02-11 21:41] atran-dev commented on #14466
I've wrote a quick script for this purpose.
I cannot understand why I need to create a paid account to download free apps to use.

https://github.com/atran-dev/dl-rocketchat-apps

[2020-02-12 00:24] sumit-kumar-rai commented on #13380
@bytepoets-mzi  Which alternative solution did you move into?

[2020-02-12 00:28] ankar84 commented on #13380
He wrote it - Matrix.

[2020-02-12 06:03] antkaz opened #16563 "sending a message to slack doesn't work after renaming a channel and restarting the server"
### Description:

When SlackBridge enabled and work then after renaming a channel to Rocket.Chat and restarting the server messages are not sent to Slack. It is breaking because populateMembershipChannelMap searches channels by name, even if importId was added

### Steps to reproduce:

1. set up and enable SlackBridge
2. check that it works
3. rename channel to rocket.chat
4. restart the server
5.

[2020-02-12 06:54] pinalpithadiya commented on #15819
Did anyone get the solution for this?
 I am getting the same problem with IE11.
 I think the issue is with s=()=>{}  which will not get resolved by IE11 can anyone fix this and update the repo?

Thanks in advance.

[2020-02-12 07:22] mrsimpson opened #16564 "Regression: admin users table not reactive anymore"
### Description:

Once I as an admin manually create a new user, the user is not immediately appearing on the users list.
I need to refresh the page to see it.

### Steps to reproduce:

1. Go to `/admin/users`
2. Use the tab bar to create a new user

### Expected behavior:

The newly created user shall appear in the main list

### Actual behavior:

The toast confirmation appear, but you need to re

[2020-02-12 07:23] mrsimpson commented on #16564
@ggazzo this may be one for you

[2020-02-12 08:00] Wirone commented on #15471
@ggazzo In our customized RocketChat instance I've cherry-picked this changes to 2.4.7 and unfortunately it does not work... Let's say - it works more than it should, because channels are marked as read even without opening them. New message arrives, channel is for a second marked as unread and then automatically marked as read. I had to revert commit :slightly_frowning_face:

I plan to synchroniz

[2020-02-12 08:41] valsharess commented on #15471
I cant speak for trying to backport the changes but its working very well for 3.0.0+, I deployed last week and my users(200) have been very happy.

[2020-02-12 08:58] dusatvoj commented on #15904
I've upgraded to latest `v2.4.x` RC and it seems solved now :open_mouth:

[2020-02-12 09:08] Wirone commented on #15471
@valsharess you've deployed Release Candidate to 200-users instance? Wow, that's quite... optimistic :sweat_smile:

[2020-02-12 09:35] valsharess commented on #15471
It's a fast paced environment and not knowing which messages they've read when they have 20+ messages is far worse than running release candidate.

[2020-02-12 11:02] karimelghazouly opened #16566 "Redirect URI in a new OAuth app can be a in a wrong format"
### Description:

When creating a new OAuth application the redirect URI can be anything

### Steps to reproduce:

1. open Administration
2. open OAuth Apps
3. click new
4. type the name
5. type in the redirected URI anything

### Expected behavior:

It says invalid URI

### Actual behavior:

accepts the URI

[2020-02-12 11:41] abdalamariano opened #16567 "LDAP at 2.42"
Hi guys, i have a issue with ldap sync
conection ok... and on sync button a message appear "internal server error"

I20200212-03:38:55.547(-8) Exception while invoking method 'ldap_sync_now' Error:  “scope”: “sub”=* is invalid     at _buildFilterTree (/snap/rocketchat-server/1420/programs/server/npm/node_modules/ldap-filter/lib/index.js:200:13)     at _buildFilterTree (/snap/rocketchat-server/1420

[2020-02-12 11:56] karimelghazouly commented on #16413
@ritvikjain99  I already made a PR for this issue not sure if it's the best approach you can look into it and give me feedback if you can think of another solution

[2020-02-12 12:30] Wirone commented on #15471
But on the other hand it's IMO better to not mark messages as read (and force users to use ESC button for example and mark by hand) than auto-marking as read like in our instance... But if RC works for you then :+1: :slightly_smiling_face:

[2020-02-12 14:14] subham103 commented on #8824
Can anybody tell me how can we censor/asterisk a word?

[2020-02-12 14:15] do3meli commented on #12396
+1

[2020-02-12 14:57] ggazzo commented on #15471
sorry @Wirone try cherry pick
https://github.com/RocketChat/Rocket.Chat/pull/16473
https://github.com/RocketChat/Rocket.Chat/pull/16562

[2020-02-12 15:20] ndroo commented on #16463
It seems to happen randomly. Our sandbox server (one we just use for configuration testing before pushing something live) started doing this yesterday, and without any changes it's stopped all on its own. I guess feel free to close this if it's not a big deal, but it's for sure weird.

[2020-02-12 15:27] robinreinhardt commented on #16374
@maurice-schleussinger and i working on the same issue.
The app is still active even if the command no longer works.

[2020-02-12 15:42] talheim-it commented on #16567
@abdalamariano can you provide the ldap config?
Do you use ldap or ldaps?

[2020-02-12 16:19] Wirone commented on #15471
@ggazzo thanks, I've picked changes from #16397, #16473 and #16562, but I think #16442 is most probably what I need - I'll check it and let you know :)

[2020-02-12 17:06] sampaiodiego opened #16572 "Sidebar search should return user's status and not rely on status lazy load"
### Description:

Current searching for user on the sidebar search has a delay to show user's status due to how the lazy load works.

### Steps to reproduce:

1. Click on magnifier icon on the side bar
2. Search for an user
3. Watch for user's presence indicator

### Expected behavior:

Show the user's real status right away.

### Actual behavior:

The user's status will initially show as offline

[2020-02-12 17:13] gabriellsh opened #16573 "Invite links uses count even if the user is already in the room."
### Description:

Users can open invite links multiple times, even if they joined the room already. This should not happen, as invite links can have limited uses.

### Steps to reproduce:

1. Go to any room.
2. Click on the users icon then invite users.
3. Copy the link and access it multiple times on the same account.
4. Go to Admin->Invites: Check your invite link, it should have counted every t

[2020-02-12 17:22] muditjuneja opened #16574 "Inactive users in Members List of channels."
### Description:
Deactivating users will make any direct channels with those read-only. But these users should not be visible in public channels when the "Members List" option is clicked.

### Steps to reproduce:

1. Add a demo user to any public channels
2. Deactivate that demo user via Users setting (Options -> Administration -> Users -> Find the user -> Click User -> Click **...** (three dots i

[2020-02-12 17:29] ritvikjain99 commented on #16573
I wanna work on this, can I @gabriellsh  ?

[2020-02-12 17:54] ritwizsinha commented on #16572
I am working on this @sampaiodiego please direct me to the required files

[2020-02-12 19:07] bhardwajaditya opened #16577 "Cannot find module UIKitIncomingInteractionContainer"
### Description:

I just updated my local Rocket.Chat repository with upstream develop and I encountered an apps-engine error.

### Steps to reproduce:

1. Clone the repository
2. run **meteor npm i**
3. run **meteor npm start**

### Expected behavior:

Rocket.Chat application

### Actual behavior:

![apps-engine error](https://user-images.githubusercontent.com/23612313/74367692-4d294580-4df8-11ea

[2020-02-12 19:22] subham103 commented on #8824
@HammyHavoc ^

[2020-02-12 19:25] HammyHavoc commented on #8824
At this present time, I do not use Rocket.Chat, nor contribute to the development of it. We had to find another solution for our legally blind colleague due to a lack of dark mode and no progress made on that front when we were forced to switch to another solution.

On 12 Feb 2020, 19:22, at 19:22, Subham Sahoo <notifications@github.com> wrote:

[2020-02-12 20:09] ashwaniYDV commented on #16574
I would like to take this up

[2020-02-12 22:04] diegolmello opened #16583 "Add rooms to be ignored by spotlight"
[Spotlight](https://github.com/RocketChat/Rocket.Chat/blob/develop/server/publications/spotlight.js#L22) has these params:
- __text:__ the string we want to search for
- **usernames:** an array of usernames we want to [ignore from the search](https://github.com/RocketChat/Rocket.Chat/blob/develop/server/publications/spotlight.js#L75)
- **type:** { users: boolean, rooms: boolean }

Typically, we se

[2020-02-12 22:25] abdalamariano commented on #16567
ehm can share u the rocket chat setting
ADDC is on windows server 2012 r2
rocketchat on ubuntu 18.04
im newbie on this.
i could make sync the security groups but .... use that to make the users...
[https://aws1.discourse-cdn.com/business4/uploads/rocketchat/optimized/2X/b/b0704c8c1e4c22a1e08ff5c0e9530e7c9ab5a5ba_2_638x500.png](url)

[2020-02-12 22:27] abdalamariano commented on #16567
ADDC Windows Server 2012 r2
RocketChat Server on Ubuntu 18.04

im junior, how can i provide you the ldap config?

[2020-02-13 01:17] matthewbassett opened #16586 "Memory Leak/ Garbage collection issue Version 2.4.2"
Hi All,
I am experiencing an issue with memory growing out of control. I am running RC on Ubuntu 16.04 using SNAPS. I'm having a hard time tracking down what is causing it, but the best I can guess/tell from observations is that it has to do with file uploads that users are doing. I can watch the RAM amount increase as file transfers come in monitoring network with iftop. This grows until the RAM

[2020-02-13 01:35] matthewbassett commented on #16567
@abdalamariano Couple of things for you to try here...
- Your base DN doesn't look right to me... You have uid=#{username},cn=users,dc=bernal it should look more like this I think: ou=users,dc=bernal
- Your User DN (Not sure if this format is an issue or not) But in mine I used the UPN so for your case maybe marianoabdalaadm@bernal probably doesn't make a difference, but worth a shot.
- try switch

[2020-02-13 03:27] abdalamariano commented on #16567
ok, i will try tomorrow at work 00:27 here

[2020-02-13 04:46] ramanamatya opened #16587 "Rest API to 'reactWhenReadOnly'"
I don't see any options to set 'reactWhenReadOnly' through API while creating a Read Only channels.

After creating a readonly channel, I need to manually set reactWhenReadOnly through settings.

[2020-02-13 06:37] Rafiqgithub opened #16588 "Not able to receive notifications on Andoird"
We are trying to enable custom push notification with fcm.
However we replcaed server key and project number.
Restarted server and still not able to get push notification on android devices.
We have also tested test push notification from admin. we received toast on the browser but on mobile side getting below mentioned error.

 ` java.lang.NoClassDefFoundError: Failed resolution of: Landroid/app/

[2020-02-13 07:47] randomsymbols commented on #11370
Need the feature also. Plus one.

[2020-02-13 08:32] ybshin opened #16589 "Livechat isn't showing on Webpage without error log."
### Description:
Current structure for rocketchat
Webserver with SSL reverse proxy (the configuration followed at https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy) <-> Rocketchat server

Another Webserver Site with livechat <-> Webserver with SSL reverse proxy <-> rocket chat
All response is successful from Webserver and Rocket chat server but the livechat on

[2020-02-13 08:48] ankar84 opened #16590 "[BUG] Video message send to wrong user"
### Description:

Second Video message send to wrong user (User1 instead User2)

### Steps to reproduce:

1. Send **Video message** to **User1**
2. Go to **User2** DM and send **another one Video message to User2**
3. **Video message send to User1**, **but not to User2** as it should.

### Expected behavior:

**Video message to User1 should be send to User1 and Video message to User2 should be sen

[2020-02-13 09:59] subham103 commented on #16079
@sampaiodiego Is there any other way to reproduce this issue because, in my case, there is no duplication of settings??

[2020-02-13 10:11] subham103 commented on #12610
@gabriellsh this issue requires us to decrease the message count when we delete/prune messages, right? I think the issue with member count must have been solved previously. Please guide me to solve this issue:)

[2020-02-13 10:26] subham103 commented on #12610
also, the no of new message send to a user seen on the left-side panel doesn't update after deletion of a message by the sender. This issue requires us to solve this problem too, right?

[2020-02-13 10:40] subham103 commented on #8824
@ggazzo, can you please tell me how we can censor/asterisk a word, I am facing difficulty in it.

[2020-02-13 10:51] sknohsalla commented on #16241
**Server setup information:**
Upgraded to version of rocket.chat server: 2.4.7

Noticed same GC behavior in this version.

[2020-02-13 11:02] subham103 commented on #9375
So should this issue be closed as there is an on-purpose change or we need to remove that user who is away from `@here`??

[2020-02-13 11:14] RAurelian commented on #7004
Hi,

Has this been solved? I`m on version 2.4.2 (ubuntu snap) and cannot find any way to make a channel default.

[2020-02-13 11:14] ritwizsinha commented on #16573
@gabriellsh please review

[2020-02-13 11:15] RAurelian commented on #405
Hi,

Has this been added? I`m on version 2.4.2 (ubuntu snap) and cannot find any way to make a channel default.

[2020-02-13 11:15] ritwizsinha commented on #16573
@gabriellsh please review

[2020-02-13 11:23] ankar84 commented on #16590
Could be fixed in https://github.com/RocketChat/Rocket.Chat/pull/16113

[2020-02-13 11:26] localguru commented on #8989
Something like \*text\* seems not possible. Here on github I can escape with ` \*text\*` .

[2020-02-13 11:28] RAurelian commented on #6777
THANK YOU for the guide - I`m on v2.4.2 (Ubuntu Snap) and there is no way to set the default status of a room from the UI, so this worked.

[2020-02-13 11:31] abdalamariano commented on #16567
the problems is my AD is order by an OU call = users -> with subOU. one time, the rocketchat takes rare users with extrange name and sync ok, but not the OU that i need.

[2020-02-13 11:38] mc opened #16592 "Documentation error in the administration-inline-documentation"
(version 2.4.2, commit d57a64dee62fbf8abff75006903628a1001312ec)

goto
 - Administation
 - Menu, Settings: LDAP
 - Group, Synchronise / Import
 - Option, Field for username

In the description it says that (German):

Es können auch Template-Tags wie `#{givenNamen}.#{sn}` verwendet werden.

It needs to read:

Es können auch Template-Tags wie `#{givenName}.#{sn}` verwendet werden.

If you dont pay a

[2020-02-13 11:39] gabriellsh commented on #12610
Yes, that is correct, we should remove from the counter when messages are deleted/pruned. About the new messages, there's a setting to "Show deleted status", which when true, keeps a record that the message has been deleted. In these cases, both counters should keep their values, as the message is in the chat still, at least in some form.

Then theres pruning. When pruning the messages, even with

[2020-02-13 11:41] ritwizsinha commented on #5436
@ggazzo  please review

[2020-02-13 11:41] tmanaud commented on #16434
Just found out this options in "Administration>Message":
![image](https://user-images.githubusercontent.com/265371/74430272-dd00db00-4e5c-11ea-84bf-792e89fcf20f.png)
But why not using locale settings, instead of JS default time format? (as 12h AM/PM style format is plain evil compared to 24h anyway)

In order to have this 24h format:
![image](https://user-images.githubusercontent.com/265371/744306

[2020-02-13 12:19] gabriellsh commented on #16574
Hey @muditjuneja, you can refer to our [Developing Guide](https://rocket.chat/docs/contributing/developing/), there you'll find the information you need. Thanks for your contribution.

[2020-02-13 12:20] ritvikjain99 commented on #16573
Oh don't we have to ask before taking up an issue?
Please confirm so that next time I won't wait!

[2020-02-13 12:21] gabriellsh commented on #16573
No we don't :) . Feel free to take whatever you want.

[2020-02-13 12:31] abdalamariano commented on #16567
how can i provide you a LDAP cfg file to be more easy solve the problem

[2020-02-13 12:41] crazylive commented on #16175
you are welcome

[2020-02-13 12:42] darky commented on #16175
Feel free to add PR please

[2020-02-13 12:56] abhishuraina commented on #15587
I am working on it.

[2020-02-13 13:01] ritwizsinha commented on #16573
@ritvikjain99 you don't have to ask to work just inform that you are working on it so that someone else doesn't make a pr.

[2020-02-13 13:02] ritwizsinha commented on #16573
Also sorry I made a pr on this , I didnt see your comment.

[2020-02-13 13:14] subham103 commented on #9600
@localguru, Is it intended behavior? While sending mail to another user I come across this which seems weird to me.
![Rocket Chat(1)](https://user-images.githubusercontent.com/43502196/74438444-2fa7ba80-4e90-11ea-8ea9-1a1412522c84.png)

Actually, I am unable to send mail to any user as it's giving me an error: `moment-locale-not-found`.
This seems like an issue to me. Kindly help how to reproduce

[2020-02-13 13:20] abdalamariano opened #16593 "MULTI LDAP 2.42"
HI GUYS. i can finally get worked rocketchat on my domain, but the boss is asking to add another domain with another ip diferent range... is it possible?

[2020-02-13 13:53] Bengrunt opened #16594 "Can't send Apple keynote files through the Upload File feature."
### Description:

I'm trying to allow users to send Apple keynote files through the file upload feature.
I managed to do it for Apple `pages` and `numbers` files, allowing the following MIME types:
 * application/x-iwork-pages-sffpages
 * application/x-iwork-keynote-sffkey
 * application/x-iwork-numbers-sffnumbers
 * application/vnd.apple.numbers
 * application/vnd.apple.pages
 * application/vnd.a

[2020-02-13 13:54] localguru commented on #12534
This is still possible with server version 2.4.8

[2020-02-13 14:16] gabriellsh commented on #16573
No, you don't need to inform anything. There's no such thing as taking issues. There can be multiple PR's per issue.

[2020-02-13 14:20] ritvikjain99 commented on #16573
@ritwizsinha no brother it's fine I just wanted to be sure about protocol.
@gabriellsh sure I would follow that!

[2020-02-13 14:35] sampaiodiego commented on #16079
I haven't seen it anymore.. maybe @tassoevan or @ggazzo can say if it was fixed already

[2020-02-13 14:57] makibras commented on #15892
it was indeed fixed by https://github.com/RocketChat/Rocket.Chat/pull/15928 :)

[2020-02-13 14:57] #15892 closed

[2020-02-13 15:07] ggazzo commented on #16079
Me neither, I can't reproduce anymore...

[2020-02-13 15:32] sampaiodiego commented on #405
@RAurelian there is a new snap release that fixes an issue to show the checkbox to mark a channel as default again.. you should be able to update your snap to version 2.4.9

[2020-02-13 15:37] RAurelian commented on #405
Thanks, I`ll try the update maybe next week.

[2020-02-13 17:55] d-gubert commented on #16577
I haven't been able to reproduce this error.

What version of the Apps-Engine is installed on your server?

[2020-02-13 18:09] ritwizsinha commented on #16029
@gabriellsh can this be done

[2020-02-13 18:23] #9032 closed

[2020-02-13 18:34] rodrigok commented on #9119
It's already possible if you click on the message date/time

![Screen Shot 2020-02-13 at 15 32 32](https://user-images.githubusercontent.com/234261/74466601-4e00bc80-4e76-11ea-9bed-009f94fd4b9c.png)

[2020-02-13 18:34] #9119 closed

[2020-02-13 18:35] rodrigok commented on #9032
Closed by https://github.com/RocketChat/Rocket.Chat/pull/16063 and https://github.com/RocketChat/Rocket.Chat/pull/16065

[2020-02-13 18:39] rodrigok commented on #8969
We are working to be able to [install apps with assets](https://github.com/RocketChat/docs/blob/master/contributing/google-summer-of-code-2020/README.md#assets-installation-emoji-and-sounds) so I'd list this as an app idea.

[2020-02-13 18:44] rodrigok commented on #8908
It seems to be solved already. Please open a new issue if the problem persists.

[2020-02-13 18:44] #8908 closed

[2020-02-13 18:46] rodrigok commented on #9118
We are developing a micro-services architecture and our streamer component will solve this problem being a single piece connected on mongodb via query streams.

So I'll close this since we don't have plans to support redisOplog.

[2020-02-13 18:46] #9118 closed

[2020-02-13 19:18] gabriellsh commented on #16061
Hey @manosriram feel free to do it, this is open source, everyone can contribute, no need to ask or to say you're doing it. Thank for your help!

[2020-02-13 20:09] #16561 closed

[2020-02-13 21:03] rsjr commented on #12148
related to #14508

[2020-02-14 03:28] geekgonecrazy commented on #16592
https://rocket.chat/docs/contributing/translating/#translating

[2020-02-14 07:53] antgel commented on #16374
@robinreinhardt When you say "working" on it, you mean you're investigating and hoping to fix?

[2020-02-14 08:06] robinreinhardt commented on #16593
Hey @abdalamariano , do you mean a second LDAP Host or just a IP for accessing into RC?

[2020-02-14 08:31] antgel commented on #16374
Weird one here. Last night it was working after initial install, this morning it had stopped, then it started again without any intervention. :man_shrugging:

[2020-02-14 09:09] Sys-Admin889 commented on #16290
Not solved untill now, any body can help?

[2020-02-14 09:09] RAurelian commented on #405
Apparently the snap updated itself automatically to 2.4.9 and while for the default room you have the checkbox and can make it not be default, there still are no checkboxes for other rooms to make them default.

[2020-02-14 09:36] pkonnov opened #16597 "[BUG]: FileSystemUploads method copy return error"
### Description:

### Steps to reproduce:

1. Storage Type FileSystem
2. Call [here](https://gist.github.com/pkonnov/e64bf5505d1e130865f6800e146fa5e6#file-mycode-ts-L83)

### Expected behavior:

wrapAsync(fs.stat)(filePath) will work without errors

### Actual behavior:

`Meteor code must always run within a Fiber. Try wrapping callbacks that you pass to non-Meteor libraries with Meteor.bindEnviro

[2020-02-14 10:05] #16588 closed

[2020-02-14 10:05] Rafiqgithub commented on #16588
Sorry wrong window.

[2020-02-14 10:07] Wirone commented on #15471
@ggazzo seems like it's working now :) I need re-pick #16562 as far as I see (from `3.0.0-rc.9`).

[2020-02-14 11:00] subham103 commented on #11951
I would like to work on this issue :p

[2020-02-14 11:36] Sys-Admin889 opened #16598 "Openning files within browser"
When trying to open any file (word, excel or pdf) from Windows, Mac and Chrome operating systems, it is going to be downloaded to local storage not within browser, I tried many browsers (Google chrome, Safari and Brave) and I face the same problem. Although I don't face this problem in mobile applications on Android and IOS.
All my server details inside screenshot attached below:

![Capture](https

[2020-02-14 12:02] jdaviescoates opened #16602 "Cannot close chats"
It seems only the visitor who initiates the LiveChat can end a chat (but they often don't because to do so they have to click the tiny options word bottom left which is easily missed).

This leaves lots of "current chats" open which are actually no longer live at all.

Could we make the guest closing their browser window automatically close the chat?
And make it possible for agents to end chats to

[2020-02-14 12:08] diegolmello opened #16599 "Route to get updated and deleted roles after a date"
We only have a REST API to list roles: https://github.com/RocketChat/Rocket.Chat/blob/develop/app/api/server/v1/roles.js#L8

We should have another route to fetch `updated` and `deleted` roles after a date, so it'll be easier to maintain a local database on mobile.

[2020-02-14 12:19] diegolmello opened #16600 "Route to get updated and deleted slash commands after a date"
We only have a REST API to list slash commands: https://github.com/RocketChat/Rocket.Chat/blob/develop/app/api/server/v1/commands.js#L26

We should have another route to fetch updated and deleted slash commands after a date, so it'll be easier to maintain a local database on mobile.

[2020-02-14 12:44] renatobecker commented on #16602
Hi @jdaviescoates
Yes, the agents can close conversations from their side, they just need to open the contextual bar and then close the chat.

![Screen Shot 2020-02-14 at 09 42 26](https://user-images.githubusercontent.com/59577424/74532658-8358e900-4f0e-11ea-8971-854319ed9a29.png)

[2020-02-14 12:44] #16602 closed

[2020-02-14 12:50] ritwizsinha commented on #16600
I am woeking on it

[2020-02-14 12:52] jdaviescoates commented on #16602
Hmz, great, makes sense! But I don't actually see any of that in my contextual bar:

![missing_context_options](https://user-images.githubusercontent.com/2113743/74533034-8660d300-4f28-11ea-8540-f12f7518b3c5.png)

Aha, doh! I was clicking on the three little dots of the right instead of the (i) button on the left. Found it, thanks! :)

![it_works!](https://user-images.githubusercontent.com/2113743

[2020-02-14 13:50] abdalamariano commented on #16593
i need to put 2 differents domains on the same rocket server chat.
2 ldaps
firstcampany.domain 192.168.1.18 own AD
secondcompany.domain 10.10.10.5 own AD

[2020-02-14 13:54] sampaiodiego commented on #405
On "Admin > Rooms", clicking in a public room will open a panel with the following options:
![image](https://user-images.githubusercontent.com/8591547/74537132-409c0e80-4f18-11ea-9597-6e513e3eb24a.png)

there you can change to make it default.

one thing to notice, different from the issue title, private groups cannot be default.

[2020-02-14 13:58] RAurelian commented on #405
Thank you very much for the clarification - indeed, apart from 2 default public channels I had, I was looking at private groups. After creating another public channel, I was able to find the Default toggle and enable it.

[2020-02-14 14:00] gabriellsh commented on #16219
Guys, this is open source, anyone can contribute, even if there are PRs open. Opening a PR doesn't mean it'll be accepted, so don't take other's opportunity to tackle an issue, please.

[2020-02-14 14:05] gabriellsh commented on #16226
This has been fixed since. If you still face this issue please provide additional details so we can reproduce it. Thanks for the help.

[2020-02-14 14:05] #16226 closed

[2020-02-14 14:08] gabriellsh commented on #16239
@pkonnov Sorry if I'm misunderstanding, but is it fixed then?

[2020-02-14 15:18] shaurgon commented on #12939
@timkinnane thanks a lot, dude!
It's worked after 3 days of unsuccessful attempts to receive messages.

@renatobecker 02/14/20 today xD

[2020-02-14 16:48] bhardwajaditya commented on #16577
1.12.0

[2020-02-14 16:58] ggazzo commented on #14508
closed by https://github.com/RocketChat/Rocket.Chat/pull/16601

[2020-02-14 16:58] #14508 closed

[2020-02-14 16:58] ggazzo commented on #12148
closed by https://github.com/RocketChat/Rocket.Chat/pull/16601

[2020-02-14 16:58] #12148 closed

[2020-02-14 17:39] d-gubert commented on #16577
This is the official version that contains all UIKit APIs, this error should not occur.

Have you tried removing your `node_modules` folder and reinstalling your dependencies?

[2020-02-14 17:40] bhardwajaditya commented on #16577
No not yet, will try and let you know.

[2020-02-14 21:21] subham103 commented on #12610
Ok, I want to work on this issue. I'm going to verify whether there is any count() exist or there is just a variable which we are updating btw I am pretty sure that it is a variable per room id which we are updating upon message insertion which doesn't change upon message deletion.
About implementing the count() method with the above-mentioned behaviour, I think we need to discuss whether we need

[2020-02-14 21:22] mrsimpson commented on #13247
as an admin, you can assign the owner permission with respect to a room (private or not) using the permissions-administration:
Open the permissions-table, select "owner". Now, you can pick any room and edit the users with this permission

<img width="874" alt="Bildschirmfoto 2020-02-14 um 22 21 52" src="https://user-images.githubusercontent.com/17176678/74568554-88eb1900-4f78-11ea-938e-57f29644ca5

[2020-02-14 21:46] ashwaniYDV commented on #16599
I am working on it.

[2020-02-14 22:52] ashwaniYDV opened #16605 "[BUG] Directory -> users, email sort button not working"
### Description:
When email sort button is clicked all the users data is wiped out.

### Steps to reproduce:

1. Go to directory search from top bar
2. Click on users tab
3. Click email sort button

### Expected behavior:
It should work same way as name

### Actual behavior:
It is not working and disturbing the UI
![12](https://user-images.githubusercontent.com/43786728/74575142-db91f880-4fab-11ea

[2020-02-15 11:30] ashwaniYDV commented on #16599
@diegolmello I have added a route to get updated roles after a date

[2020-02-15 14:50] pkonnov commented on #16239
@gabriellsh yes)

[2020-02-15 15:26] muhv7 opened #16611 "Rocketchatctl nodejs version breaks 3.x.x update"
RocketchatCTL update will break the whole install when trying to update to 3.x.x since the node version being used is way older than 12.x that 3.x RC uses now.

[2020-02-15 19:35] cldtech commented on #3027
That's not very source friendly!

[2020-02-16 01:13] cldtech opened #16612 "Can't connect to self-hosted server with self-signed certificate from android app"
### Description:
Can't connect to self-hosted server with self-signed certificate from android app.
I did also tried to manually add the certificate in android.

### Steps to reproduce:
1. install rocketchat-server snap
2. enable https
3. connect with the android app

### Expected behavior:
Should ask if accept un-trusted authority. Just like the desktop app.

### Server Setup Information:
- Versi

[2020-02-16 15:06] agentlibre commented on #3582
In the meantime, is there any option to display no avatar for the channels? Otherwise, this could be another option to add.

[2020-02-16 20:47] frdmn commented on #16593
Multiple LDAP backends are currently not possible.

Duplicate of #5058.

[2020-02-16 20:47] #16593 closed

[2020-02-16 20:56] frdmn commented on #16592
I've just updated the string on LingoHub. Should be fixed next time we pull the latest changes from there.

[2020-02-16 20:56] #16592 closed

[2020-02-16 22:29] KrisJohnstone commented on #16567
Did you make the above changes? Otherwise why no provide the config file the same way you did before?

[2020-02-16 22:39] KrisJohnstone commented on #16612
To clarify you:
- Have configured a reverse proxy ala:
https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/
- Used https when attempting to connect.

[2020-02-17 01:29] sampaiodiego commented on #16586
hi @matthewbassett .. thanks for the infos.. I have some other questions:

- how long it takes to eat all RAM available?
- do you have any charts to share showing the RAM increase that co-relates to file uploading?
- how many users are using your server?

thanks for your understanding as well.. it's always hard for us decide whether focus on github issues or developing new features.. we do our bes

[2020-02-17 01:41] Evgeniy185 commented on #16426
after update to 2.4.9 problem is gone.

[2020-02-17 01:41] #16426 closed

[2020-02-17 07:41] ag0r4n opened #16613 "All channel members notification"
Hello,

Would it be possible to notify channel members (you type #channelName in a channel and it notifies members of this channel)

Close to #16311

[2020-02-17 09:50] antkaz opened #16614 "Files do not disappear after deletion"
### Description:

After deleting a file from the files list, the file doesn't disappear

### Steps to reproduce:

1. Open room
2. Open room menu, go to files list
3. Select delete file

### Expected behavior:

File disappear from list

### Actual behavior:

![delete-file-bug](https://user-images.githubusercontent.com/19654261/74642368-ab597e00-5194-11ea-8037-1e906a02278f.gif)

### Server Setup Inf

[2020-02-17 10:15] akong77 opened #16615 "I use trad.chinese."
I update Rocket.chat to 3.0
I use language is trad.chinese. I upgrade to 3.0.0 it's use simp.chinese.
Trad.Chinese is use by Taiwan.
Simple.Chinese is use by PRC.
Please check attachment.
![2020-02-17_181353](https://user-images.githubusercontent.com/6081927/74644578-74459580-51b1-11ea-852e-804fd78dd5d7.png)

[2020-02-17 10:24] ritwizsinha commented on #16614
@antkaz this issue is fixed in my version of rocketchat. Here is my version specifics
![image](https://user-images.githubusercontent.com/43509699/74645345-bb299000-519d-11ea-9375-7d9ae1a12ca1.png)

[2020-02-17 10:40] antkaz commented on #16614
hmmm.... Yes, it works. Maybe the problem is on my side. I close this issue. Thanks @ritwizsinha

[2020-02-17 11:15] standev opened #16616 "How to remove unwanted homosexual emojis?"
Whenever I begin to type`:` in the intention of typing something as ordinary as `:+1:`, emoji popups opens with default suggestion of some homosexuals kissing. There's ton of such emojis, like homosexual "families" and so on. I never intend to use them. How can I remove the whole rainbow package please?
![image](https://user-images.githubusercontent.com/3965564/74649380-b35af300-517f-11ea-9547-297

[2020-02-17 11:36] pkonnov commented on #16597
maybe try `const stat = fs.statSync(filePath);`?

[2020-02-17 12:02] matthewbassett commented on #16567
@abdalamariano what is the path of sub ou's? I can write that path for you if you tell me each OU starting with the top and working down.

[2020-02-17 12:41] santoshsingh94 commented on #16192
I am also getting the same issue

[2020-02-17 13:04] gabriellsh commented on #16298
@manosriram Of course you can work on this! Thanks for the help man.

[2020-02-17 13:31] ritwizsinha commented on #16298
Yeah @manosriram sorry for this, I thought issues were to be claimed before working

[2020-02-17 13:40] fabiomontefuscolo commented on #6862
I have problems when users delete files from the chat and I want to recover the files from S3 versioned bucket. It is very hard going to a mongodb backup, get the filename and then restore it from S3. I would apply physical punishment to users who delete files, but they pay my salary.

About security concerning, if uploaded files are proxied, I think we don't need to obfuscate filenames, right? Fo

[2020-02-17 14:20] Sing-Li commented on #16298
@ritwizsinha   you should not claim an issue.  We welcome all contributions.

[2020-02-17 14:35] pkonnov commented on #16597
[update extension](https://gist.github.com/pkonnov/e64bf5505d1e130865f6800e146fa5e6#file-mycode-ts-L84)

[2020-02-17 15:09] mauricemeyer commented on #16616
My suggestion would be to stop using Rocket.Chat as you’re clearly not in line with the [Code of Conduct](https://github.com/RocketChat/Rocket.Chat/blob/develop/CODE_OF_CONDUCT.md).

[2020-02-17 15:20] ritwizsinha commented on #16298
Sorry @Sing-Li  I didn't know that then

[2020-02-17 15:37] zvs001 opened #16619 "Direct room deleting"
How to delete direct room???
User or better Admin side.

[2020-02-17 15:43] manosriram commented on #16298
@ritwizsinha It's Ok, nothing to worry! @gabriellsh @Sing-Li Thank you Sir.

[2020-02-17 17:06] localguru commented on #16616
It's open source. Forke it, create a community that is compatible with your confused ideas and stay there.

[2020-02-17 17:08] bhardwajaditya commented on #16577
Same error even after trying this

[2020-02-17 17:12] localguru commented on #16619
In the admin interface?

[2020-02-17 17:12] MartinSchoeler commented on #16616
As it was mentioned @mauricemeyer this issue goes against our code of conduct, as well as going against our guidelines for GitHub Issues. I will be closing this.

[2020-02-17 17:12] #16616 closed

[2020-02-17 18:09] zdumitru opened #16620 "Remove 'Reply in Thread' button from thread replies"
### Description:

Since there is no multi-level threads in Rocket Chat, it doesn't make sense to have 'Reply in Thread' buttons under thread replies in the right hand side panel. 'Reply in Thread' button should only be visible under messages posted in the main channel.

### Steps to reproduce:

1. Go to a message that has thread replies
2. Click on the blue button
3. On the right hand side panel h

[2020-02-17 18:16] ggazzo commented on #16590
it was fixed actually, please update your server... any problem, please let me know

[2020-02-17 18:16] #16590 closed

[2020-02-17 18:27] d-gubert commented on #16577
When does this error occur?

[2020-02-17 18:30] bhardwajaditya commented on #16577
When I start the application using **meteor npm start**. It shows in the server terminal as well as in the browser console (as shown in the screenshot).

[2020-02-17 18:37] pkonnov opened #16621 "do not show files in the chat file list"
In the executePreMessageSentPrevent method, you can prevent the message from being sent, and it works. However, if a file is attached to a message, it always appears in the list of channel files, regardless of whether the message was sent or not. And it is necessary that the file does not load if the message is not sent. Can you suggest any ideas on how to fix the situation?

[2020-02-17 18:42] d-gubert commented on #16577
Have you modified the code? Do you have any app installed? I'm trying it with the `develop` branch and can't see this error, so it's probably some kind of change on your environment 😞

[2020-02-17 18:50] ryguy222 commented on #15471
I've upgraded to the 3.0.0. release and am still having issues here.

The counter on the left side does go away when you enter the channel, but the horizontal red line does not go away until you type a message back. Normally ESC key would clear this, or moving to another DM or channel would clear the red bar. Occurs in DM's, Private Channels and Public Channels.

![image](https://user-images.githu

[2020-02-17 19:41] reffu42 opened #16622 "User mentions after a right angle-bracket don't work"
### Description:

If you try to mention a user, and there is a `>` character directly before or with a space in between, the mention does not work. If two spaces are placed between the `>` and the `@`, the mention works correctly.

### Steps to reproduce:

(replace person with the name of an actual person in the channel)
1. Enter the message  `<test> @person `
2. Now, enter the message  `<test>  @

[2020-02-17 20:40] abdalamariano commented on #16567
OU = usuarios
sub ous are a lots of do you need the list?

[2020-02-17 21:47] rasos commented on #15554
Having the same issue on RC 3.0 with local storage (upgraded in several steps). Avatar image can be uploaded, but as soon as you save the profile settings it is replaced by a bold character. Before you upload an image, it shows only the full user name instead of a generated image.
` ufs: temp directory created at "/tmp/ufs"` looks fine at start-up.

[2020-02-18 00:26] akong77 opened #16627 "It's will show undefined when I choose language to trad.chinese(Taiwan)"
Rocket.chat server version is 3.0.0
I upgrade to 3.0.0 but language is simple chinese.I switch language to trad.chinese(Hong Kong) or trad.chinese(Taiwan) it's will show undefined.Please fix it.

[2020-02-18 01:29] sampaiodiego commented on #16586
another important question, what storage type are you using?

[2020-02-18 07:04] zhanggaoxuan opened #16628 "customer can't use Chinese as name"
customer can't use Chinese as name, I found that only support English, hope can solve this issue

[2020-02-18 07:39] khaledalyawad commented on #12545
![image](https://user-images.githubusercontent.com/7322671/74714033-5d259880-51ef-11ea-8f0b-60af764f1405.png)

facing the same issue

"version": "1.0.0"

[2020-02-18 11:10] Wirone commented on #15471
For those interested in fix for RocketChat 2.* this is patch for 2.4.9 done for our instance and working properly in production since last week.

Includes: #16397, #16473, #16562, #16442 and some cherry-picked changes from `3.0.0-rc.9`.

[16397-FIX-Rooms-not-being-marked-as-read-sometimes-ported-to-2.4.9.patch.zip](https://github.com/RocketChat/Rocket.Chat/files/4218838/16397-FIX-Rooms-not-being-m

[2020-02-18 12:10] ansalok opened #16660 "change status Length size make more than 200 character. I have not able to write 142 character in status."
## My Setup

- Operating System:
- App Version:
- Installation type:

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

### Current Behavior

### Expected Behavior

[2020-02-18 12:41] #3694 closed

[2020-02-18 12:44] Yambr commented on #16192
+1

[2020-02-18 12:53] gabriellsh commented on #16628
Hey, You can try and go to Administration -> General -> UTF8 and change UTF8 Names Validation to `.+`. This will allow any character to be used. You can also formulate another RegEx so there are more limits (using `.+` allow people to use some character that can display text in strange ways).

If you still face this issue, please check our [issue guidelines](https://rocket.chat/docs/contributing/r

[2020-02-18 12:53] #16628 closed

[2020-02-18 13:08] ritwizsinha commented on #16620
@gabriellsh please review

[2020-02-18 14:03] Attack44 opened #16632 "npm WARN deprecated request@2.88.2: request has been deprecated"
- Version of Rocket.Chat Server: 2.4.7
- Operating System: Debian 10
- NodeJS Version: v12.14.0
- MongoDB Version: v4.0.16

I can't update Rocket.Chat to version 3.0.0. Currently there is always an error message:
https://forums.rocket.chat/t/getting-error-when-running-a-command-cd-tmp-bundle-programs-server-npm-install/5836

[2020-02-18 14:13] gabriellsh commented on #16627
Thanks for the help.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-02-18 14:20] phatair opened #16633 "Auto Sync LDAP Groups to Channels not working"
Hello,

we are using the following configuration
Server Setup Information
Version of Rocket.Chat Server: 2.4.9
Operating System: Ubuntu LTS
Deployment Method: snap
Number of Running Instances: 1
DB Replicaset Oplog:
NodeJS Version: v8.17.0
MongoDB Version: 3.6.14
Proxy: caddy
Firewalls involved: no
Active Directory: Windows Server 2012R2

If we enable "Auto Sync LDAP Groups to Channels", one user

[2020-02-18 14:31] Bengrunt commented on #15471
Likewise.
Should a new issue be raised?

[2020-02-18 15:50] Routhinator opened #16634 "Where is the RocketChat 3.0.0 helm chart going to live?"
The Helm/Stable repo has been deprecated (see readme https://github.com/helm/charts)

When 3.0.0 dropped I was expecting the docs to be updated with the new helm chart location, however they still point to helm/stable.

Has this been overlooked?

[2020-02-18 16:34] ryguy222 opened #16635 "Unread messages red line lingers, esc key won't clear it"
### Description:

This is likely a duplicate of #15471 however that issue was closed with 3.0.0. However the issue partially remains with us.

When entering a channel after receiving a new message the counter on the left goes up to indicate a new message, and once entering the message (either DM / Public / Private channel) the red "New message" line remains.  Pressing ESC key does not work.

### S

[2020-02-18 16:34] ryguy222 commented on #15471
I've opened a new issue, but the behavior seems similar to this one.

[2020-02-18 16:50] Wirone commented on #14719
We're using custom CSS from @jakubsemerak's comment for a while and it works fine in limiting noise context. But it has flaws because if older comment gets reply in thread (without mention) most probably noone will see it because there isn't any notification.

Milestone is outdated since there are 2.4 and even 3.0 released... Is it possible to rise priority for this?

[2020-02-18 18:27] AgentTNT opened #16636 "Emoji search is inconsistent"
### Description:

Searching for emojis produces inconsistent results. Should be able to discover all emojis via searching their terms within the pop-up box.

### Steps to reproduce:

1. In a new message click the emoji icon
2. Start searching for emojis with dual names (fire/flame)
3. Same emojis will not be found under additional names
4. If you start typing the name/alias of impacted emoji withi

[2020-02-18 19:05] Skinner927 commented on #13391
@geekgonecrazy I don't think it was ever merged?? It's not working on latest snap anyways. https://github.com/RocketChat/Rocket.Chat/pull/13591

[2020-02-18 20:20] ramsey opened #16638 "GitHub API: Deprecation notice for authentication via URL query parameters"
### Description:

I'm running Rocket.Chat 2.4.9 with OAuth enabled for GitHub, and today, I received the following email message from GitHub:

### Steps to reproduce:

1. Using Rocket.Chat 2.4.9, enable OAuth for GitHub under Administration > Settings > OAuth; provide a valid client ID, client secret, and callback URL
2. Login to Rocket.Chat using your GitHub account
3. GitHub should (at some poin

[2020-02-18 20:41] mar-v opened #16722 "Changing Working days or Working hours fails when made in the same day."
Steps to reproduce:

1. It's Monday. Livechat -> Working hours -> Set Tuesday as a non-working day.
2. Try to visit the widget on Tuesday. It shows the offline form.
3. Change your mind, set Tuesday as a working day.
4. The livechat will still be off (offline form).
5. Same with working hours - if the working hours are set to, say, 10-16 today, but you want to change it to 10-20, you change - and

[2020-02-18 22:09] grzebo commented on #16611
This also breaks the Digital Ocean droplet, which is described in the docs as a supported method of installing.

[2020-02-18 23:26] ggazzo commented on #16635
are you sure the room is not marked as read? the read line doesn't mean the room as not read ... check the sidebar ... we keep the red line because we cant decide if you already read the messages or not .. (in your case that you sent, when you open the room, the room is marked as read and the line will disappear, then somebody will complain that its impossible to see the read line ... thats why we

[2020-02-18 23:30] ryguy222 commented on #16635
The room is being marked as read, the red line  -- unread messages is what lingers.
Previously you could use the esc key to clear the red line (as seen in the screenshot) that does not work.

[2020-02-18 23:39] ggazzo commented on #16635
ok if you are asking to remove only if you pressed the esc, but for entering event I dont think so... what do you think?

[2020-02-18 23:49] ryguy222 commented on #16635
I would just like a means of removing the "unread messages" red line that does not require responding to the message. Not all messages need to be responded to.

In RocketChat 1.0.3 you could use ESC as a shortcut to mark messages as read. That functionality was either removed or is not working properly.

[2020-02-19 02:04] ryjones commented on #15583
This is not fixed in 3.0.0

[2020-02-19 02:04] ryjones commented on #15391
This is not fixed in 3.0.0

[2020-02-19 04:53] ankar84 commented on #16635
Totally agree with @ggazzo
Red line it is a marker that shows user what he already saw and what he didn't.
Removing Red line by pressing ESC - no problem.
But removing Red line right after user opened a chat - not make sense. In that case Red line functionality disappear.
And I think that issue not related to #15471 any way. It was about sidebar and unread chats.
But @ryguy222 wants to broke Red l

[2020-02-19 05:51] ryguy222 commented on #16635
@ankar84 I think you misunderstand me. I do not want the red line to go
away upon entering a Channel. I want it to go away when hitting escape key.
That is the functionality that is broken currently in 3.0.0

On Tue, Feb 18, 2020, 9:53 PM ankar84 <notifications@github.com> wrote:

[2020-02-19 05:56] ankar84 commented on #16635
Ok, as I wrote early removing Red line by hitting ESC - it is OK, no problem. It is may be useful to implement.

[2020-02-19 06:14] gregka92 opened #16646 "Check for updates in windows app not work"
![Rocket Chat_T8F491yKCy](https://user-images.githubusercontent.com/28141591/74806762-259a1780-52e7-11ea-9e1e-fe75128e923f.png)

### Description:

### Steps to reproduce:

1. Go to help about
2. Than press button check for updates
3. You will see error message

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deploy

[2020-02-19 06:29] matthewbassett commented on #16586
Thanks for getting back, my apologies for the delay in my response. I work for an international school in China, so life is a little crazy right now as I'm sure you can imagine! q:

- I just had RC use up all of the 24GB of RAM and need to be restarted again. The amount of time it takes to eat up all the RAM varies greatly. overnight it won't add anything, then throughout the day it just steadily

[2020-02-19 06:31] matthewbassett commented on #16586
I actually came up with some ideas for charting RAM usage and network usage over time to see if I can come up with some correlations. I'll start working on that and post results here.

[2020-02-19 08:21] ankar84 commented on #16646
That bug already have an issue https://github.com/RocketChat/Rocket.Chat.Electron/issues/1500

[2020-02-19 08:21] shilu911 opened #16647 "Integration with Keycloak: cannot get username"
### Description:

When use Keycloak as the IDP, and set `preferred_username` as the username field, I am getting `401: Username field "preferred_username" not found in data` when call the login rest api.

### Steps to reproduce:

1. Go to the admin page, create a custom OAuth, follow the instructions of integration with Keycloak on the RC website, set `preferred_username` as username field and sav

[2020-02-19 08:58] zvs001 commented on #16619
@localguru No. Rest API.

[2020-02-19 09:47] pkolmann opened #16648 "Please add minimal required Desktop Client version for releases"
Hi,

you state which SW Releases are supported for every rocket.chat server release.

Would it be possible to also add the minimal required desktop (and maybe mobile) client version to the release notes so we can inform our users who have old desktop client versions runnnig, that they need to update it. (Sometimes auto-update on windows desktop didn't work (esp. from 2.15.2). Also Linux clients ne

[2020-02-19 10:09] Anguel commented on #2153
I find the current behavior still very annoying. There must be a way to completely turn off this strange "feature". I have never seen a thing that is so confusing.

[2020-02-19 10:38] aimador opened #16649 "Webhook issue. SSL error since 3.0.0."
### Description:

After the update to RC 3.0.0 the Giphy integration does not work anymore.  Since the logs show an ssl error i was wondering if it might be a bigger problem underneath.
TLS 1.0 and 1.1 were disabled in v. 3.0.0. The cert on the Giphy side is supposed to use TLS 1.2 so in theory it should work.

### Steps to reproduce:

1. Create a custom webhook with the GifRocket script
2. trigge

[2020-02-19 14:31] tkurz opened #16651 "Chatpal Search - Add additional parameters on key request"
For chatpal search there is a admin ui, where users can request app keys. Currently the request just sends the email address given by the user via input form. In order to provide a better service there is a need for additional parameters. The request data should look as follows:
[code]

[2020-02-19 15:09] subham103 commented on #12610
@gabriellsh please review:)

[2020-02-19 15:14] thesystemninjaneer commented on #2192
Not sure if this is the right Issue to request this but can the functionality to message using `@owner` and `@leader` of public and private channels be added as well?

We have CI/CD pipelines automatically notifying channels of pass/fail build status and the owner/leader of the channel cares about the build status the most. Support for those native roles saves us a few extra steps of having to set

[2020-02-19 16:27] pierrel64 opened #16654 "Joining channel from mobile app"
Tagging a public room name in a message doesn't give possibility to join the channel, just opening channel information

[2020-02-19 16:45] suportecri1 opened #16655 "view-d-room permission isn't working correctly"
### Description:

When configured a role to only view the direct messages (view-d-room), without the permission to create it (create-d), the user is still able to reply a DM but no to see what the sender wrote!

### Steps to reproduce:

Create a new role or update a existing one setting the view-d-room permission active and the create-d permission deactive.
From a user "A" with the permission to c

[2020-02-19 16:55] rpgoldman opened #16656 "Unable to log in with the Rocket.Chat Mac App"
Using RC 2.17.7 on Mac OS 10.15.3, I am unable to log in to my work RC server.  I get "User not found or incorrect password." However, with the same user ID and pw I *am* able to log in from a web browser.  Also, our sysadmin tells me that there are no logs on the server showing failed login attempts from me.  So it seems like something is going wrong inside the app. Or perhaps there is some permi

[2020-02-19 19:39] ggazzo commented on #16656
are you sure you are trying to connect on your server and not on `open.rocket.chat`?

[2020-02-19 19:46] rpgoldman commented on #16656
@ggazzo Yes, I see my company's banner in the window when I open Rocket.Chat.

It occurred to me that the server config might be wrong, so I removed our server, and then re-added it, but I still get the same error.

[2020-02-19 19:46] rpgoldman commented on #16656
Is there any logging done by Rocket.Chat application?

[2020-02-19 19:58] #12703 closed

[2020-02-19 20:45] TimmiORG opened #16657 "File Upload Drag & Drop not working"
### Description:

Not possible to add a file via drag and drop to a channel or direct chat.

### Steps to reproduce:
Go to any channel or direct chat and drag and drop a allowed file (e.g. jpg) into the room.

### Expected behavior:

File will be uploaded into the room

### Actual behavior:

No file get uploaded. No error message shown.

### Server Setup Information:

- Version of Rocket.Chat Serv

[2020-02-19 21:34] rsjr opened #16658 "Unread count for all messages - not counting when mentioning another user"
### Description:

When the 'Unread count" is set to "all messages", the counter is not taking into account messages which mentions another user

### Steps to reproduce:

1. Set "Unread Count" to "all messages"
2. Log on to Rocket.Chat as user A
3. In a different session, logon on to Rocket.Chat as user B
3. Go to a channel/private room and send message mentioning user C. This message won't be coun

[2020-02-19 23:21] ryjones opened #16659 "Heroku one-click deploy fails due to image size"
### Description:

Using the one-click build button from the [here](https://github.com/RocketChat/Rocket.Chat/blame/develop/README.md#L155), the build fails as the image size is 506 megs, and Heroku only allows 500 megs.

### Steps to reproduce:

1. [go here](https://github.com/RocketChat/Rocket.Chat/blame/develop/README.md#L155)
2. click "Deploy" button
3. name app, let install proceed

### Expect

[2020-02-20 11:31] alexmontoanelli opened #16662 "[REST-API LIVE-CHAT"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Client Setup Information

- Desktop App or Browser Version:
- Operating System:

### Additional cont

[2020-02-20 11:31] #16662 closed

[2020-02-20 11:40] tkurz opened #16663 "chatpal-baseUrl should be configurable via ENV"
Currently, the base-url for the chatpal-api is hard-coded in rocket.chat.

For the matter of testing, it should be possible to override it via env/start-parameter.

In addition, the default/fallback URL should be updated to api.chatpal.io (not beta anymore)

[2020-02-20 11:42] alexmontoanelli opened #16664 "RestAPI MessageHistory TS QueryParams is not honnered"
### Description:

The REST-API of LiveChat, has method to load the history messages for a room [1].

There is a params called TS (in the docs),  that allow us to load only messages from this TimeStamp to now..

But this is not honored.

After digging a little, i can't see the param TS begin used , just the undocumented 'ls'. [2]

### Steps to reproduce:

1 - Call Rest API Method to load message hi

[2020-02-20 12:00] Oleg569 commented on #16633
I have this problem when name of chanell write from another language not english.
В общем есть такая же проблема. Создаю канал через мапинг, указывая русское название. Канал создается после пишет логин и пароль не верные.

[2020-02-20 14:02] guilhermecfviana opened #16666 "[BUG] Auto logout frequently on web, app desktop and app android - ios (react)"
### Description:

Rocket.Chat auto logout on web, app desktop and app android - ios (react)

### Steps to reproduce:

1. Login;

Please watch the video:
https://drive.google.com/file/d/1xbQ9ZAi6hE8kccRJCXnV9nOUE9kb1VXE/view?usp=sharing

- go to minute 1'40

### Expected behavior:

Stay connected

### Actual behavior:

Auto logout frequently

### Server Setup Information:

- Version of Rocket.Chat

[2020-02-20 14:58] phatair commented on #16633
Really really strange - my last try was to restore a veeam backup of our rocket chat ubuntu server from november. After that rocket chat upgraded the snap version automatically to 2.4.9 and now the LDAP Group to Channels mapping si working fine....
Maybe something goes wrong in the last automatic snap upgrade... i dont know.

[2020-02-20 14:59] ashwaniYDV commented on #8824
@HammyHavoc @ggazzo
Is this issue still valid?

I am not able to produce it.

![11](https://user-images.githubusercontent.com/43786728/74946642-9e9c8a80-541f-11ea-9ad1-85173f1aad58.gif)

[2020-02-20 15:09] TDzyne commented on #3582
https://forums.rocket.chat/t/channel-avatar-generator/5882

[2020-02-20 15:29] zdelanofw commented on #8322
I have come into a need for this feature as well. What would be nice is to create a room with Twilio SMS enabled, provided (obviously) that the `From` number is valid and that a `To` number is filled in, and to name the room something of your choosing.

[2020-02-20 16:22] #16491 closed

[2020-02-20 16:50] rsjr commented on #16633
We had some issues with the snap image on version 2.4.2 (not fully related to this issue), so it could be the explanation on why it's working now

[2020-02-20 16:50] UAnton commented on #16586
I monitored a memory leak and found out that this is a nodejs.

[2020-02-20 17:39] #16635 closed

[2020-02-20 18:12] gabriellsh commented on #16615
Hey @akong77, could you make a PR on this? Our translations are mostly made by contributors, we'd love to get your help on this. Thank you for your contribution.

[2020-02-20 18:20] Sing-Li commented on #9373
The demand for this is low after 2 years.  We will close it for now.

[2020-02-20 18:20] #9373 closed

[2020-02-20 18:25] Sing-Li commented on #9736
close this. Please let us know if the PR above does not satisfy your use-case.

[2020-02-20 18:25] #9736 closed

[2020-02-20 19:03] ggazzo commented on #16657
hey @TimmiORG  could you provide more info, like a gif, please? its too weird use are used to send a lot of files every day, and we had no problems about that... thanks

[2020-02-20 19:41] ashwaniYDV opened #16670 "Badwords are not filtered correctly in UI"
### Description:
#### These are the issues:-
(1) Bad words are not filtered properly on UI.
(2) If bad words filtering is turned on, then filtering should not be done on previously sent messages.
Currently, if filtering is turned off, then previously sent bad words messages are replaced with  `****`. The expected behaviour is to see actual message with bad words not filtered.

### Steps to reprodu

[2020-02-20 19:53] ashwaniYDV commented on #16670
@gabriellsh
The problem here is that message filtering is done first and then markdown is done on the message. This issue can be solved by first checking  markdown for ** bold words and then filtering is done.

[2020-02-20 20:22] ashwaniYDV commented on #16670
@gabriellsh This issue is solved by removing callbacks.add('beforeSaveMessage'). Please review.

[2020-02-20 20:44] #14925 closed

[2020-02-20 20:57] amoebav opened #16673 "Feature Request: Membership for Direct Messages to control who can direct message who"
Basically there are users who cannot be hounded with direct messages by everyone. They only want to deal with certain users. For example, the CEO and other C people don't want to get tons of direct messages from everyone. Just like programmers don't want to get hounded by tech support or end user direct messages. They only want to deal with certain users in direct messages. The channels allows thi

[2020-02-20 20:59] #16620 closed

[2020-02-20 21:07] #16456 closed

[2020-02-20 21:08] #16276 closed

[2020-02-20 21:09] #15862 closed

[2020-02-20 21:13] #16370 closed

[2020-02-20 21:15] #16216 closed

[2020-02-20 21:17] #16169 closed

[2020-02-20 21:19] #16145 closed

[2020-02-20 21:21] #16321 closed

[2020-02-20 21:25] timlem commented on #7946
@geekgonecrazy - is this functionality available anywhere?  I've been unable to find a solution

[2020-02-20 21:36] ashwaniYDV commented on #8824
You can do so by going `administraion->messages`

[2020-02-20 23:16] recklessnl commented on #16542
Can anybody fix this? It should be fairly simple. @MarcosSpessatto @ritvikjain99 @manosriram

[2020-02-20 23:43] ashwaniYDV commented on #16574
@muditjuneja Feel free to contribute by submitting PR's even if someone has already solved it. Maybe you have a better solution :)

[2020-02-21 00:25] akong77 commented on #16627
OS: Debian 9.12
Browers: Firefox 73.0.1
Rocket.Chat version:Server 3.0.0 Client:2.17.5
![2020-02-21_082242](https://user-images.githubusercontent.com/6081927/74992639-a9890680-5483-11ea-833e-2f30e3063716.png)

[2020-02-21 03:13] matthewbassett commented on #16586
For me both nodejs and mongod increase at a pretty similar rate. @UAnton are you seeing similar things? or is your nodeJS growing faster than mongo?

[2020-02-21 03:19] matthewbassett commented on #16586
@sampaiodiego any further thoughts with the information provided?

[2020-02-21 03:22] matthewbassett commented on #16586
Here is some data from the graphing I setup. I wouldn't say its exactly conclusive, but certainly the memory drain starts when traffic picks up.
![image](https://user-images.githubusercontent.com/7525172/75001463-5f604f00-549c-11ea-9331-7c3119d299cc.png)

[2020-02-21 03:26] matthewbassett commented on #16586
Sorry, had my graph set to last 6 hours. here is a more comprehensive shot of the whole time I have been monitoring:
<img width="1175" alt="Screen Shot 2020-02-21 at 11 23 38 AM" src="https://user-images.githubusercontent.com/7525172/75001553-b403ca00-549c-11ea-88c3-e0631662e18b.png">

I wouldn't call it conclusive by any means, but I certainly think it supports my theory a bit. At least proves th

[2020-02-21 07:00] xmedeko commented on #8311
It works in 2.17.1 already.

[2020-02-21 07:14] xmedeko opened #16675 "Feature: Issue tracker links support for multiple templates"
### Description:

Currently, the Issue tracker links feature supports just one template, just one issue tracker. Since our company works for multiple clients having their issue trackers, we would like to have general multiple templates e.g.
  * `ABC#123` -> `https://tracker1/123`
  * `XY#456` ->  `https://tracker2/456`
  * etc.

Maybe some general regexp replace could do the job?

I know a workaro

[2020-02-21 07:23] subham103 commented on #8824
same here. I am also unable to reproduce this issue. Instead, the problem is when we put a word between two censored words, we unintendedly made that word bold, This issue is opened  #16670

[2020-02-21 07:55] ashwaniYDV commented on #8824
@subham103 i have made a pr for the "bold" issue

[2020-02-21 09:26] Crayder commented on #2192
@thesystemninjaneer That's basically what this whole issue is suggesting, custom groups and custom notification filtering for those groups. With this implementation you'll be able to make those groups and assign people to them like normal except now you will be able to only notify active people and stuff. For being the owner of this particular group you'd just create a group for the channel in que

[2020-02-21 09:40] ashishchauhan1 opened #16676 "My Rocket.chat setup is not working on ubuntu server"
My Rocket.chat setup is not working on ubuntu server as rocket.chat has already mentioned in their  docs
documentation that the minimum requirement (https://rocket.chat/docs/installation/minimum-requirements/) is
    Single core (2 GHz)
    1 GB RAM
    30 GB of SSD

my server specification is

    Node 12.14.0
    Meteor 1.9.2
    Rocket chat 2.4.2
    Platform: linux
    MongoDB v4.0.16
    1 GB

[2020-02-21 11:20] moriccelli commented on #13934
up!

[2020-02-21 11:38] subham103 commented on #10233
Previously, the message count for every channel is increased upon message addition but is not updated upon the deletion of a message #12610. Now that I have linked a pr #16650 on this issue we can save/fetch the actual message count of any channel onto/from the database.

So it will be better if we sum up the four values to get the exact total message count.

I want to work on this issue

[2020-02-21 11:42] serviceman opened #16677 "3.0.1 not working with internet explorer."
### Description:

When loading rocket chat in IE 11, it gets stuck at the 3 dots and never fully loads. I believe this is important because there are some older computers that still use IE 11 as it's default browser.

### Expected behavior:

Rocket Chat to load on IE 11.

### Actual behavior:

Hangs at the 3 dots loading screen.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.0.

[2020-02-21 12:56] drumdum commented on #13003
I have the exact same problem

[2020-02-21 13:10] LuckyCrab opened #16678 "When processing 'IPreMessageSentPrevent' files are not taken into account when sending messages. With the suggested solution."
### Description:

If the message with the attached file is rejected, then there is no message itself, but there is a file.

### Steps to reproduce:

Deploy an application that implements the IPreMessageSentPrevent interface; for simplicity, let all messages be rejected:
[code]
### Expected behavior:
I send a message with text. Then it has been rejected and the recipient sees an empty chat.
I send

[2020-02-21 13:19] #16413 closed

[2020-02-21 13:20] port22 opened #16679 "v3.0.1 App crash on Error sending message (canSendMessage.js)"
### Description:

Since v 3.0.1, following errors occur on a regular basis (in terms of minutes):

[code]
RocketChat is running as a Stack in Docker Swarm (19.03.6) ([swarm yml file](https://gist.github.com/port22/5b4d194498d5aa139b0073af9969c2ad)) with 5x `mongo:3` but only 1x rocketchat_app.

Did not happen in the last 2.x version. I skipped the 3.0.0 and updated directly from latest 2.x to 3.0.

[2020-02-21 13:52] subham103 commented on #8824
@ashwaniYDV The bad word filtering is already conditional. There is a toggle option (Allow Message bad words filtering) already exist in `administraion->messages` which upon off will not change the bad words to ****

[2020-02-21 14:08] thesystemninjaneer commented on #2192
@Crayder I’m tracking the Group approach coming with this the feature in this isse but was asking for a way to notify the person assigned a particular channel role (such as owner or leader) without the extra steps of creating and maintaining a custom group. Is that something easily achievable?

[2020-02-21 14:23] ashwaniYDV commented on #8824
@subham103 The issue here is that if bad words filtering is on and I enter a message `knob is a bad word`, then it is saved in the database as `**** is a bad word`. Now if I turn off the bad word filter from settings, then I expect the message to be `knob is a bad word`.

[2020-02-21 15:22] adrianovieira commented on #16564
I also have similiar behaviour on other administrator pages, such as:

- integrations
- incoming webhooks -> scripts field.

For those pages we need to refresh it to get that page rendered correctly.

But, in our case the Server Setup Information: `2.4.7`

[2020-02-21 17:46] VirtualAirwaves commented on #2058
FYI @Tofdu31 -- WebRTC doesn't really support Push-To-Talk! We've been about to work around it with Virtual Airwaves (see it live at https://cb.virtualairwaves.com/ or learn more at https://virtualairwaves.com/ ) but we're going to see if we can get it in the spec so it's supported properly.

[2020-02-21 18:05] #16677 closed

[2020-02-21 18:44] mrsimpson commented on #16564
Also nasty: create a new role in permissions. After saving and going back, the page needs to be refreshed before you can see the new role in the permissions table.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-21 23:13] strasharo commented on #16611
Confirmed on Ubuntu:
Meteor requires Node v12.0.0 or later.

[2020-02-22 02:41] zhanggaoxuan opened #16686 "will the FileUpload support backblaze?"
will the FileUpload support backblaze? it's cheap to storage the file

[2020-02-22 02:55] sampaiodiego commented on #9010
we don't have phantomjs as dependency anymore so I'll be closing this

[2020-02-22 02:55] #9010 closed

[2020-02-22 06:54] Subhang23 opened #16687 "Dropdown not properly opening in wizard setup page"
### Description: The dropdown options do not open if we click on the downward arrow and we have to press on the content to open it and view other options.

### Steps to reproduce:

1. Enter ```meteor reset``` in the terminal and go to the wizard setup.
2. Press on the downward arrow

### Expected behavior: All the options are seen.

### Actual behavior: Nothing happens

### Server Setup Informatio

[2020-02-22 07:40] subham103 commented on #10249
@ggazzo @gabriellsh Is this an intended behavior in rocket chat? I think it is as when we are in a channel and goes to the user page, then it shows the option to delete the user but when we are in a private channel with the user, it shows the option to block the user(just like a normal user).

[2020-02-22 08:05] subham103 commented on #5562
I have verified, this issue still persists.

When a user comes online (or goes offline), the color of the small dot changes, but it doesn't come to the top of the list (or goes from the top of the list if offline). I think I can solve this issue by calling the function responsible for the reshuffling of the user list in the function which is responsible for color change upon activation of a user.

[2020-02-22 08:33] rasos commented on #16105
Not present in v3.0.

[2020-02-22 08:44] rasos opened #16688 "Allow user to opt out from being listed in directory"
We have users who use a nickname also used elsewhere. Rocket.Chat would be more privacy aware if a user could opt out in his/her profile, not being listed in the user directory.

With the new invite link feature it is still easy to onboard users to rooms, so there is not really a need to have all users in the directory.

[2020-02-22 11:31] ashwaniYDV commented on #16687
@Subhang23 You don't have to clone the repo again and again if you are reproducing this error(if it is there). You can simply run command `meteor reset`. It cleans the database and creates a fresh instance. So this way it will be easy for you to solve this issue. :)

[2020-02-22 11:32] Subhang23 commented on #16687
Thanks a lot for that @ashwaniYDV . Will edit it.

[2020-02-22 14:24] TimmiORG commented on #16657
Hi @ggazzo,
I just updated to 3.0.2 and I can't reproduce the issue anymore.
So I will close the ticket.
Best regards
Timmi

[2020-02-22 14:24] #16657 closed

[2020-02-22 14:37] Kimiaf93 opened #16689 ""TypeError: Cannot read property 'send' of null" error"
Hi, I'm trying to install rocket chat on my windows server to have a team communication but I just sucked on an issue and couldn't fixed it and hope you can help me. The problem is I installed all of the requirements and the rocketchat service is now available under my windows services and I'm trying to connect it to my localhost but when I start the service, it stopped automatically and there is

[2020-02-22 16:29] jdavis7718 commented on #14758
Following up on this bug request again to see if we can't a status update.   I am now on version 3.0.2 and customer fields still do not display in the user info area.
Thanks

[2020-02-22 17:33] Eno12345 opened #16690 "Heroku CLI Instilation Failed"
I'm trying to set up a Heroku Rocket.Chat instance through CLI. Whenever I attempt this, I get the error

[code]
on the step
`git push heroku master
`
**Steps to reproduce:**
Follow the steps [here](https://rocket.chat/docs/installation/paas-deployments/heroku/)

EDIT: Spelling

[2020-02-22 23:29] abhiandthetruth commented on #16636
working on this one :-)

[2020-02-23 02:05] galenski opened #16692 "Script block is empty in "Integrations / Incoming Webhooks""
The "Script" block is empty in "Integrations / Incoming webhooks". If i edit a incoming webhook the script block is empty. But if i save my changes to other fields it already works! (Version 3.0.1)

[2020-02-23 19:18] jdavis7718 commented on #13934
I have issue number 14758 open about the same thing

[2020-02-23 19:40] naymic commented on #16432
It could be that my issue with my ldap is relatet to this.
1 It makes a correct search and finds 1 result.
2. Authenticates the user
3. Fails because of an replace undefined.

`I20200223-20:08:21.671(1) server.js:204 LDAP ➔ Connection.info LDAP connected
I20200223-20:08:21.674(1) server.js:204 LDAP ➔ Bind.info Binding UserDN cn=root,ou=users,o=testldap
I20200223-20:08:21.680(1) server.js:204 LDAP

[2020-02-23 20:07] moriccelli commented on #13934
@jdavis7718 I think it's better to merge this to issues. Notify there, that there is a duplicate and ask all to vote for this ticket. More people - more chances to get the feature!
This issue appeared before the yours, so it would be fair to migrate to this ticket from yours.

[2020-02-24 02:09] pokapow opened #16693 "Bad activity order for chan since upgrade to v3.0.2"
Since upgrade to 3.0.2, activity order of channels seems to be **completly random**!

Am-I the only one this that ?

Last official Docker image used.

[2020-02-24 03:21] timothyparez commented on #15880
That's great, because we do not even use the e-mail feature at all.
The whole reason we have rocket.chat is so we would not need e-mail :smile:

[2020-02-24 08:54] aimador opened #16694 "Custom OAuth issue since upgrading to 3.0.0"
### Description:

Since the Update to 3.0.0 we have issues logging into our Server.
We use Keycloak for OAuth and when the redirect to keycloak happens it should use HTTPS. If that is enabled it throws errors because the TLS handshake fails and no user can login anymore. The Clients simply show an internal server error.

If we set HTTP, the logins are successful (nginx has an internal redirect to

[2020-02-24 09:29] ashwaniYDV commented on #16658
@rsjr The problem here is that if another user(USER c) is mentioned ny current users A and B then unreadCount is increased for that mentioned user only(USER C) and USER A and USER B didn't get the notification and their nuread counter is not increased.

[2020-02-24 10:30] holzfelix opened #16696 "No Signal when starting voice call"
There is no ring sound played when a video call is started. is there a way to activate this or add this feature?

[2020-02-24 11:53] finwe opened #16697 "Reactions imported from Slack do not show correct user names initially"
### Description:

When I import messages from Slack, imported reactions show empty and/or _null_ names of its authors unless I change reactions

### Steps to reproduce:

1. Import Slack messages with reactions
2. Mouseover reaction
3. Empty and/or _null_ names are present
4. Add a reaction myself
5. Reaction authors' names are now present

### Expected behavior:

Names of authors of reactions are

[2020-02-24 12:46] JoshMcCullough opened #16698 "Ability to configure login URL for when Meteor/login token expires?"
Hi, we're authenticating users via "SSO" with our platform. So we basically set the appropriate RC Meteor local storage when the user signs into the platform, and hence they are signed into RC without logging in. Using this solution, things work pretty seamlessly.

However, suppose a user leaves an RC tab open and their Meteor token expires. They are brought to the RC login UI to sign in again. Is

[2020-02-24 14:22] ruKurz opened #16700 "A password history prevents at least the reuse of the last 5 passwords"
## Motivation

Currently no password history is implemented that prevents the reuse of already used passwords. Technically, the password is composed of a SALT and a secret. Even if a user reuses the previous password after a password reset, a potential attacker does not know the SALT. However, if the attacker knows the password in plain text, he can still exploit an already compromised user accoun