[2019-03-16 21:32] GreatEmerald commented on #658
Threads is a great feature that is a big added value to the platform. But threads are very short-lived, they're complementary with the concept of "communities"/"teams". Basically as far as I can tell their use is to structure short topics within a room, rather than to act as rooms within a group of rooms.

[2019-03-16 21:37] Sing-Li commented on #658
@GreatEmerald  you've gotta try our implementation of Threads then.
Lifecycle is in your control. Can be as long lived as the server itself.
It is also absolutely rooms within room - that's how it is implemented, actually.
We've spent a lot of time working out how to make "threading" actually usable by a majority of users - and this particular implementation _might_ do it.

[2019-03-16 21:40] GreatEmerald commented on #658
Perhaps to make it a bit more visual, I'm thinking about a Rocket.Chat instance for a university. There are multiple departments or faculties; each department has multiple chair groups; each chair group organises a number of courses. Each course can have several rooms (e.g. #announcements and #questions-answers). Each room can have a big amount of threads, for instance a question on #questions-ans

[2019-03-16 21:48] Sing-Li commented on #658
@GreatEmerald   just quoting the earlier post

Not the entire namespace need to be partitioned via threads.   Perhaps, the use of isolated instances (subdomains) can help with the higher levels.   Sharing, between these "hard partitioned" spaces, can possibly be relaxed in a controlled manner via Federation.   (allows sharing of users and channels between instances).

It is only in the lower level

[2019-03-16 21:56] GreatEmerald commented on #658
In my case, the hard partitioning Slack style isn't desirable, since it would be bad for cross-organisation collaboration. Also, we have just one LDAP instance for the whole university.

But yes, I agree that support from the protocol level isn't necessary, UI trickery could as well work. But it would be convenient, because you want different people to be admins of the different groups. (Though I

[2019-03-16 22:01] torgeirl commented on #658
@Sing-Li: this approach might be a solution for some, but it isn't comparable to Slack workspaces or Mattermost teams.

One scenario that warrants something comparable is when you have smaller teams/workgroups that use it more internally:
- general channels becomes noise and steals UI real-estate.
- it's hard to control something similar to team/Workspace admins (admins without sysadmin privileges

[2019-03-16 22:01] Sing-Li commented on #658
Right. It is a very separate issue 🙁    This "thread" (pardon the pun) had split into two rather mutually exclusive prongs:

1)  those who wants MULTI-TENANCY on one server
2)  those who actually just needed some level of scoping of object visibility, accessibility and manageability within a very large server instance

Admittedly, some requirements overlaps the two,  But my exploration thus far, i

[2019-03-16 23:09] GreatEmerald commented on #658
Yes, it's what @geekgonecrazy said, there's "Multi Org" and "Multi team per Org" ideas that are quite different in scope.

[2019-03-17 00:35] SiJinmin commented on #13747
yes, i have followed  https://rocket.chat/docs/developer-guides/quick-start/
my g++ version is 8.2
build-essential has been installed
it's an issue of "meteor npm install capnp", but rocket.chat depends on capnp, right?
i just want to build rocket.chat, so ask help for it. thanks
my os is manjaro linux kde

[2019-03-17 10:23] knrt10 commented on #3915
On it, would like to fix this.

[2019-03-17 14:21] knrt10 opened #13754 "[BUG] OTR Timeout not showing"
### Description:

[code]

It is simple, `t`  we want is a **util** but to set the title we are using instance one, which is not a function.

### Steps to reproduce:

1. Start an OTR with a user
2. Do not accept and wait

### Expected behavior:

![Screenshot 2019-03-17 at 7 48 08 PM](https://user-images.githubusercontent.com/24803604/54492547-9eca0700-48ed-11e9-828e-1a794d6d30f7.png)

### Actual be

[2019-03-17 14:49] renatobecker commented on #3915
@knrt10, Cool!
Let's create a new setting to activate this feature, okay?
Thanks.

[2019-03-17 15:19] knrt10 commented on #3915
Ok

[2019-03-17 15:27] tkirumba commented on #13351
@Tomasvrba

Thanks a bunch. I added that line to the config file and it worked like a charm

[2019-03-17 15:41] juliomac commented on #658
Thanks @Sing-Li ! If I understood it well, threads is some sort of "conversation grouping" so people can relate to a specific subject within a larger channel, right? That's a fantastic improvement! However, like you said, it may not solve the 2 main requests you mentioned.

I am trying to achieve some sort of "multi-org scoping" for LiveChat, using departments. With each department being a differe

[2019-03-17 15:41] juliomac commented on #658
By the way... anyone knows of this PR?

[https://github.com/RocketChat/Rocket.Chat/compare/develop...leonardoterrao:develop](url)

[2019-03-17 15:54] torgeirl commented on #658
@juliomac: the URL is broken.

[2019-03-17 15:54] rsmartins78 commented on #13025
I think I found the problem:
When the secret token field has no value, the webhooks not works. I've put any random value in secret token field and webhook started to works.

Maybe problem is here? https://github.com/RocketChat/Rocket.Chat/blob/ed092fbe490c21d64c071772ce1da66515837353/app/livechat/server/hooks/sendToCRM.js#L11

@Pratyush1197

[2019-03-17 15:54] Sing-Li commented on #658
@juliomac    That's precisely the direction that we're exploring at the moment.   A note to those who are on "Prong 1" though.  That the number of departments we're working with will be 10s or low 100s at the limit.

[2019-03-17 17:33] juliomac commented on #658
Hi @torgeirl , strange... it works for me.

Please test this: https://github.com/RocketChat/Rocket.Chat/compare/develop...leonardoterrao:develop

[2019-03-17 17:35] juliomac commented on #658
Dear @Sing-Li , please let me know how could I help there. I have some experience with Meteor.

[2019-03-17 18:23] rsmartins78 commented on #13733
This bug also occurs when I try to get a room in room endpoint with a already used and closed rid.

[2019-03-17 18:38] knrt10 commented on #13733
Will check out. @rsmartins78 and update the PR.

[2019-03-17 20:32] fliptrail opened #13756 "The text in 404 page is unreadable"
The text in 404 error page is unreadable. The page also looks very bad.

### Steps to reproduce:

1. Enter any random URL to display the 404 message
2. PS: cringe

### Expected behavior:

It should be readable and look nice

### Actual behavior:

![Screenshot from 2019-03-18 01-20-12](https://user-images.githubusercontent.com/40834245/54497526-bb803200-4921-11e9-8024-9eb1adcf56fb.png)

### Server

[2019-03-17 20:36] fliptrail commented on #11495
This has been solved. Can be closed

[2019-03-17 20:37] fliptrail commented on #12030
Can be closed. It has been solved in further Rocket.Chat updates

[2019-03-17 21:03] fliptrail commented on #10322
I am working on it.

[2019-03-17 21:03] fliptrail commented on #12528
I am working on it.

[2019-03-17 21:04] archang3l-media commented on #11495
[Closed] Fixed. Thanks everyone

[2019-03-17 21:04] #11495 closed

[2019-03-18 00:39] Rodriq opened #13758 "Android keyboard automatically pops up upon entering a channel."
This issue seem to have been closed previously without any solution.

# Steps to reproduce
1. Visit Rocket Chat on Android browser.
2. Click to enter any Chanel.
OR
Start up RC and visit locally through LAN on Android, and do above.

[2019-03-18 01:34] alexfanchina commented on #13747
Same problem here on macOS

[2019-03-18 04:01] luckenbach commented on #13576
0.74.3 is the latest.

[2019-03-18 04:05] SiJinmin commented on #13747
fixed it by using capnp proto version 0.6 (apt install capnpproto)

[2019-03-18 04:05] #13747 closed

[2019-03-18 04:29] SiJinmin opened #13759 "TypeError: createJSAccountsGraphQL is not a function"
### Description:

when i run "meteor npm start", i got an error, here is the output:

[code]

### Steps to reproduce:

1. install tools required
$ sudo apt install g++ build-essential git mongodb curl python-minimal capnproto libcapnp-dev

2. install nvm
$ curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
then close the teminal and reopen it to enable nvm command

[2019-03-18 05:43] zolbayars opened #13760 "Forwarded Livechat visitor name on the sidebar not getting updated after a change"
### Description:

When a livechat agent edits the visitor name and saves it. It only gets updated on the top of the page. Visitor name on the sidebar remains same even after multiple tries.

### Steps to reproduce:

1. Open a new livechat conversation on the sidebar.
2. Forward the conversation to another livechat agent.
3. Open forwarded conversation as that livechat agent.
4. Click on Visitor In

[2019-03-18 08:29] Tomasvrba commented on #13351
@chirospasm Thanks for the tip. We ended up just switching to RC without importing the Slack history and at this point there probably isn't too much of a reason for doing it. I will test out your solution on a new instance though and close this issue since it seems to be working.

[2019-03-18 08:39] BabyCthulhu commented on #10669
Administration > Layout > User Interface > Allow Special Characters in Room Names

[2019-03-18 09:22] dj301 commented on #11904
Any status update on this issue? @tassoevan  @ggazzo

[2019-03-18 09:31] dj301 commented on #396
Any status update on this feature?

[2019-03-18 10:37] uriesk commented on #13688
Can reproduce.
Same bug here.

[2019-03-18 11:22] TwizzyDizzy commented on #7849
Cannot reproduce anymore on `1.0.0-beta.2`

[2019-03-18 11:22] #7849 closed

[2019-03-18 11:26] cryptobanana commented on #13704
I've identified the probable location of the problem behavior: https://github.com/RocketChat/Rocket.Chat/commit/8a6ef9bd568f25cf16304c97aa8835096d096944

Hi @antaryami-sahoo @MarcosSpessatto  @MartinSchoeler I'm including you also since you show up as contributors to this section of the code. My apologies in advance if it's not relevant to you.

[2019-03-18 11:31] GoetheG commented on #11884
I can confirm this error. Please reopen this ticket. The way I see it, the adminstrator should have the right to change everything he wants no matter what the other users can or can't do.

[2019-03-18 12:07] sampaiodiego commented on #11884
@GoetheG we actually rely on our permissions system and not the roles itself. the original issue was solved already, can you please open a new describing what is happening to you? thanks

[2019-03-18 12:09] sampaiodiego opened #13762 "Federated users should have same avatar as on their origin server"
Currently no avatar is being sent through

[2019-03-18 13:09] pagnotta commented on #9385
+1

But are you sure the solution works? Tried it temporarily on my server by editing `/opt/Rocket.Chat/programs/server/packages/rocke tchat_ui-master.js` so that it injects the `<meta http-equiv="X-UA-Compatible" content="IE=edge" / >` tag before the script in the head, but IE11 still didn't load.

Would be a showstopper, since IE11 is default for intranet pages on our desktops.

[2019-03-18 13:11] sampaiodiego commented on #13742
I guess you have followed instruction on https://rocket.chat/docs/installation/manual-installation/ubuntu/ is that correct?

can you please provide the content of your `/lib/systemd/system/rocketchat.service` file? please remove any sensitive info.

did you check `/var/log/syslog` for any additional info after using `systemctl`?

[2019-03-18 13:13] josep112 opened #13764 "Timezone Webhook livechat"
### Server Setup Information:

Version of Rocket.Chat Server: 0.74.3
Operating System: Debian 9
Deployment Method: tar
Number of Running Instances: 1
NodeJS Version: v8.15.0
MongoDB Version: v3.6.10

Hello,
I am using Livechat with api via webhook what happens is that when I send an image of Livechat it goes with the schedule in advance in 3 hours, someone sage where can I change this timezone val

[2019-03-18 13:21] ashwaniYDV opened #13765 "In the home component, it's written "Rocket.Chat+, for Android and iOS is available from Google Play ""
When a user first sign's up, then in the home screen following line comes:-
"The native mobile app, Rocket.Chat+, for Android and iOS is available from Google Play and the App Store."

I think it shoul be Rocket.Chat and not Rocket.Chat+ since in google play store the app name is Rocket.Chat
![Screenshot from 2019-03-19 00-17-04](https://user-images.githubusercontent.com/43786728/54532844-cd5be680

[2019-03-18 13:42] juliomac opened #13766 "REST nor Real-time API returning visitor "department""
### Description:

After installing liveChat code on website, I am defining an specific department visitors will go to with:

        RocketChat(function() {
         this.setDepartment('FILL HERE DEPARTMENT NAME - case sensitive');
       });

I want to listen and treat visitors differently depending on which department they were assigned to. However, there is no API call that returns information

[2019-03-18 13:48] port22 commented on #1112
Am I understanding correctly that there is a beta release which implemented this new threads possibility? (I am just using `docker.io/rocket.chat:latest`).

I didn't read that he complained about my comment?
Anyway, my comment was actually indeed not meant to be helpful per se, but just a complaint that this issue is closed, as obviously most users seem to not be happy with the current implementat

[2019-03-18 13:57] knrt10 commented on #13760
@zolbayars I see you have committed on your branch, feel free to open a PR for the same. 👍

[2019-03-18 14:05] dreamup commented on #12091
+1

[2019-03-18 14:13] zenjabba opened #13768 "$lookup error in Rocketchat 0.74.1"
### Description:

Every line a user types in creating this error in the logs

### Expected behavior:

Not to create the error in the logs

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.1
- Operating System: Linux
- Deployment Method: Docker
- Number of Running Instances: 1
- DB Replicaset Oplog: Disabled
- NodeJS Version: v8.11.4
- MongoDB Version: mongo:3.0 docker

### Rele

[2019-03-18 14:16] dreamup commented on #10530
I installed rocket.chat via Snap and the voice messages are not working from android. Is it related to the update?

[2019-03-18 14:55] tassoevan commented on #11904
@dj301 We did some adjustments in the `develop` branch version which should fix it.

[2019-03-18 15:09] port22 commented on #1112
I just deployed an instance with the image `docker.io/rocketchat/rocket.chat:1.0.0-beta.2`.

As for the thread not being a sidebar, but a channel of the type "Thread" is absolutely ok for me, but I thought a main reason for threads was that all users of the originating channel will be auto-joined as members to the thread?

[2019-03-18 18:58] wreiske commented on #13686
@sampaiodiego I've been in contact with EmojiOne and they would like to offer us a modified version of their free license for our use case (in Rocket.Chat).

![image](https://user-images.githubusercontent.com/6295044/54555977-472fa800-498e-11e9-94bb-380b7eae6d34.png)

[2019-03-18 19:41] #13733 closed

[2019-03-18 19:56] fasttrackhost commented on #11890
Hapened to us too, while trying to register user via REST API. It happens when username it's composed of 2 words or more, for example: "User Name" and not "UserName".

If you try to create a user using gui accesing https://url.of.your.server:3000 you get a error saying username its not valid, but if you register a new user using REST API you only get a RESPONSE saying "bad request", the user its p

[2019-03-18 19:59] renatobecker commented on #13766
@juliomac,

The department field is returned on this endpoint:
https://rocket.chat/docs/developer-guides/rest-api/livechat/room/index.html

As you can see below:

[code]

[2019-03-18 20:09] engelgabriel commented on #13686
Hi @wreiske thanks for doing that! Let's move forward with that offer!

[2019-03-18 20:22] wreiske commented on #13686
I'll let them know we'd like to move forward. I'll work with their team and get a pull-request going here to upgrade to EmojiOne 4.5.

😀

[2019-03-18 20:24] renatobecker commented on #1824
@FelikZ, yeah!
We'll support the feature you mentioned, but only on our new Livechat client:

https://github.com/RocketChat/Rocket.Chat.Livechat

Thanks.

[2019-03-18 21:51] ashwaniYDV opened #13777 "[BUG] The text on home page is not getting translated to different languages"
### Description:

The text of home page is always english and is not getting translated when user choses differenr languages.

### Steps to reproduce:

The home page content should be rendered with variables storing the text in different languages same as other text are translated of sidebar (for example)

### Expected behavior:

When user choses a specific language then the home page language sho

[2019-03-18 22:17] ashwaniYDV opened #13778 "[BUG] Personal Access Token in sidebar is not translated"
### Description:

For most of the languages (example French) Personal Access Token in sidebar is not translated.

### Expected behavior:

![sdf](https://user-images.githubusercontent.com/43786728/54567392-ab3b8600-49f9-11e9-8f0c-334bf6ca85b1.png)

### Actual behavior:

![asdf](https://user-images.githubusercontent.com/43786728/54567324-69aadb00-49f9-11e9-98c6-d48fa3d48ea1.png)

### Server Setup In

[2019-03-18 22:20] pshute commented on #1112
"But I say, I assume the Slack team invested much time to try out which kind of implementation works best for most. And I never heard someone say the Slack implementation wouldn't be sufficient."

@port22, my team moved to Rocket.chat soon after threads were introduced. They were too useful to not use, but were causing problems. Eg someone would reply as a thread, and then some of the team would p

[2019-03-18 23:14] fliptrail commented on #12996
This has been solved. Can be closed

[2019-03-18 23:34] reetp commented on #1112
Short answer - when it is released.

Watch the releases/tags https://github.com/RocketChat/Rocket.Chat/tags - you can write yourself a little script to check for updates. It's very simple to do.

Note there may be several Beta and RC releases and it may take weeks, or even months.

So you should really have deployed a test version first.

[2019-03-18 23:46] reetp commented on #13749
This is most likely a duplicate of something like this:
https://github.com/RocketChat/Rocket.Chat/issues/12305

There may be other similar bugs if you search.

[2019-03-18 23:48] reetp commented on #13749
@rocket-cat label add duplicate

[2019-03-18 23:48] reetp commented on #13749
@rocket-cat close
Closing as duplicate.

[2019-03-18 23:48] #13749 closed

[2019-03-19 01:48] engelgabriel commented on #9230
The support for BigBlueButton has been added a few version ago via https://github.com/RocketChat/Rocket.Chat/pull/11837

Let's open new issues for bug reports and improvements.

[2019-03-19 01:48] #9230 closed

[2019-03-19 07:18] savish28 commented on #13538
@iegik Do we want that rather than rendering katex parse error in the output block of katex messages, It should render the input message in the katex box?

[2019-03-19 08:34] Juw00 commented on #13777
I'm working on the french version. Do you know where I can find the variable to edit ?

[2019-03-19 08:43] hitochan777 commented on #13576
I am encountering the same problem with 0.74.2

[2019-03-19 09:02] ronnicek commented on #1112
I actually wrote a script which is checking releases, but since all 1.0.0-beta.2 are not marked as "pre-release", then I am getting notifications about upgrade every day even its not updated, because :latest docker is 0.74.3 :)

[2019-03-19 09:17] der-eismann commented on #11933
I'm unsubscribing since I don't use Rocket.Chat anymore.

[2019-03-19 10:27] vdb86 opened #13785 "Not all emails sent with @all"
### Description:

When we use @all RC doesn't send all users an email.

### Steps to reproduce:

1.  Post a message with @all
2.  Check outgoing email and see that not all users will receive an email

### Expected behavior:

All users should receive an email when @all is used.

### Actual behavior:

111 emails are sent out of 262 users.

### Server Setup Information:

- Version of Rocket.Chat Serv

[2019-03-19 10:40] #13765 closed

[2019-03-19 10:52] reetp commented on #13722
@rocket-cat label add wontfix

Adding wontfix as I don't believe native Windows support is going to happen any time soon.

[2019-03-19 10:52] reetp commented on #13722
@rocket-cat close
And closing

[2019-03-19 10:52] #13722 closed

[2019-03-19 10:53] ashwaniYDV commented on #13777
@Juw00 You can find it in packages/rocketchat-i18n/

[2019-03-19 12:21] engelgabriel commented on #13785
Do all users have verified emails?

[2019-03-19 12:24] vdb86 commented on #13785
All emails are verified.

[2019-03-19 12:46] knrt10 opened #13786 "[BUG] OTR not working on denied by other user"
### Description:

A user can start an OTR with any user when they are online, but if the other user declines the OTR if still shows establishing the connection. Which should not happen.

### Steps to reproduce:

1. Go to **any user**  user
2. Click on three dots on the top right and then press OTR
3. Go to any user user
4. Deny OTR
5. See modal message on your user info

### Expected behavior:

Mo

[2019-03-19 12:54] engelgabriel opened #13787 "Find improper use of the color #13679A"
This `#13679A` used to be our default color, we changed for `#1d74f5` but it still shows up in a few places, like when I am mentioned. Let's track it down!

[2019-03-19 13:01] juliomac commented on #13766
THANKS @renatobecker !

Initially I was not able to reproduce it. I was getting this:

      `{
       "room": {
       "_id": "bvnBhk5cFCSGvS7j2",
       "msgs": 0,
       "usersCount": 1,
    "lm": "2019-03-18T20:44:50.611Z",
    "fname": "dsvdwv",
    "t": "l",
    "ts": "2019-03-18T20:44:50.611Z",
    "v": {
      "_id": "rbj3ZDbA7DrQR2iW8",
      "username": "guest-3",
      "token": "GaDkpt4

[2019-03-19 14:45] knrt10 commented on #11118
On it, fixing this

[2019-03-19 14:52] ashwaniYDV opened #13788 "[BUG] Bitcoin link in Readme.md is showing 404 error on clicking"
### Description:

Bitcoin link in Readme.md is wrong and showing 404 error on clicking.

![sd](https://user-images.githubusercontent.com/43786728/54615767-a8d23e00-4a84-11e9-8366-f03cebaa3a21.png)

[2019-03-19 14:54] ashwaniYDV commented on #13788
@engelgabriel please provide me the link that needs to be updated.

[2019-03-19 15:07] MarcosSpessatto commented on #11971
@M4uRoDev can you please test it again with the latest version?

[2019-03-19 15:33] 88fingerslukee commented on #11693
When will this version be pushed to snap? It's there for armhf but not for amd64?

[2019-03-19 16:31] uriesk commented on #13688
Tested it with the 1.0.0-beta2 and the embedded layout is working there

[2019-03-19 16:50] Rodriq commented on #13787
can I give this a look?  @tassoevan @ggazzo

[2019-03-19 16:58] ggazzo commented on #13787
please @Rodriq go ahead, feel free to contribute :)

[2019-03-19 17:04] tonystar commented on #11485
Same problem persists in Cloud version. disappointed... I was ready to buy a license, but w/o this feature it does not make any sense...

@rodrigok @engelgabriel @sampaiodiego any feedback?

[2019-03-19 17:20] mmgoilf opened #13790 "Message box can only insert one character (1.0.0-beta.2)"
Recently we updated to the newest beta version, thinking beta meant it would be more just rough around the edges, but I was informed after that beta is **expected** to break and not recommended for use. Now we are stuck on 1.0.0-beta.2 and it is unusable due to the fact that the message box is completely broken, you can only insert one character into it and it doesn't let you insert anything else.

[2019-03-19 17:34] uriesk opened #13792 "No sanity check when getting usernames from oauth"
I allow oauth login via discord like described in #11396 and fetch the username like described in #11112.
Problem is that discord allows spaces in usernames that rocketchat doesn't. Users that login with discord and have spaces in their names encounter weird issues, like they can not be pinged and they can not change their pfp.

Maybe rocketchat should sanity check and fix it. Automatically replac

[2019-03-19 17:43] uriesk opened #13793 "Voice message not working - never ending upload (1.0.0-beta.2)"
### Description:

Voice message records, but when clicking on the green finished/send button, the loading symbol would never disappear and there is no progress of upload being shown and it will never appear on the server.

### Steps to reproduce:

1. Go to the official rocket.chat server on https://open.rocket.chat or run your own server on beta
2. try to send voice message

### Expected behavior:

[2019-03-19 17:43] reetp commented on #1112
Note that EVERYTHING is essentially pre-release so far. v1.0.0 will be the first full release. Everything before it was Alpha/Beta.

You just need to modify your script - mine works fine - went from 0.74.3 to 1.0.0-beta.0/1/2 etc without missing a beat.

eg

===========================
Subject: RocketChat Server New Version 1.0.0-beta.2 available
From: admin@myserver.com

New Rocketchat 1.0.0-beta

[2019-03-19 17:50] #13778 closed

[2019-03-19 17:58] #12001 closed

[2019-03-19 17:58] #12130 closed

[2019-03-19 19:40] Pratyush1197 opened #13795 "Add 'Browse' button to select destination folder for saving media"
In the file upload section when we select Storage type as 'File system' we need to set the System path manually. This can be done with a browse button next to the input field to easily select the location
![Screenshot_2019-03-19 Rocket Chat](https://user-images.githubusercontent.com/32239181/54636676-f82c6480-4aac-11e9-9cb4-582400c5c265.png)

[2019-03-19 19:41] Pratyush1197 commented on #13795
I can work on this issue

[2019-03-19 19:57] gsupp commented on #10628
Steps:
1. User1 initiates OTR with User2
2. User2 receives no notification that User1 wants to start OTR. If User2 looks at the conversation with User1, there is no indication of an OTR request.
3. If User2 then sends an OTR request to User1, User1 will see the request, can accept it and the OTR session will start.

Expected: Any time a user attempts to start an OTR session with another user, the

[2019-03-19 20:00] ronnicek commented on #1112
Then :latest docker image should be also 1.0.0-beta.2 :)

[2019-03-19 20:05] knrt10 opened #13797 "[BUG] Icon Missing for Knowledge base on Livechat"
### Description:

Inside `app/livechat/client/ui.js` on line 41, tabBar Icon is set to `lightbulb`. But it is missing from `app/ui-master/public/icons`. So add svg for it

### Steps to reproduce:

1. Open live chat for any user
2. See tabBar

### Expected behavior:

Icon should be there

### Actual behavior:

![Screenshot 2019-03-20 at 1 01 43 AM](https://user-images.githubusercontent.com/24803604

[2019-03-19 20:21] MSohm commented on #13720
I'm also not getting any notifications after upgrading to 2.15.1 (on Windows 10).  Even the "TEST DESKTOP NOTIFICATIONS" button in My Account -> Preferences fails to display any notification.
The rooms are bolded when there are new messages, but I don't get any new alerts.

[2019-03-19 20:25] gwpantazes opened #13799 "Feature Request: Search for emoji by related keywords and/or fuzzy meaning"
### Description:

Feature request: Emoji should appear in the emoji search filter by related tags, labels, and keywords, not just strictly matching a substring in the actual emoji name.

In its initial phase, this feature could simply be hardcoded extra labels to describe the emojis to give them extra searchable hooks.

In the ideal phase of this feature, all the first emoji in the search list wou

[2019-03-19 20:29] juliomac opened #13800 "[feature request] Regular users to be able to create Text Snippets"
I know this could be solved by Bots, but...

It would be nice if regular users could create text snippets that they regularly use for response to others and, specially, to Livechat guests.

A few chat services enable users to create "/" +shortCutWord, for instance, "/standardResponse" that will just copy into current Chat window a pre-existing text user previously saved. This would be great for pe

[2019-03-19 21:01] renatobecker commented on #13800
This feature is in our roadmap already.
Thanks.

[2019-03-19 21:05] vroomhenderson commented on #11057
Hello!

I have Nginx proxying to a subdirectory. The url to connect: domain.com/chat.

Everything loads fine except for these avatars.

I can confirm that this issue still exists in specific situations:

- In the extended view of the channels, the channel/direct message pictures are broken (https:/domain.com/chat/chat/avatar/%40testing?_dc=0)

- Replies or mentions in chats, the avatar of the user

[2019-03-19 22:00] sampaiodiego commented on #11485
I'm sorry to hear that. we're validating the opened PR.. expect more info by tomorrow..

[2019-03-19 22:13] robbyoconnor commented on #1112
No, it should not. The latest image is never pre-release versions.
On 3/19/19 4:00 PM, Jindřiška wrote:

[2019-03-19 22:17] sampaiodiego commented on #13686
@wreiske please ask them about adding such on the bottom of the picker.. like in this mockup:
![image](https://user-images.githubusercontent.com/8591547/54645652-6b1ce780-4a7b-11e9-9a1d-266289d1eb0c.png)

[2019-03-19 22:21] ronnicek commented on #1112
Then beta releases should be marked as pre-release :D

[2019-03-19 22:24] robbyoconnor commented on #1112
They are.

[2019-03-19 22:26] robbyoconnor commented on #1112
The fact of the matter is this: ALWAYS check the latest release -- if you are running this in production and not checking the latest release and what changes happened, you are being extremely irresponsible as a sysadmin.

[2019-03-19 22:32] sampaiodiego commented on #1112
in fact beta releases were not set as pre-release.. sry about that.. I have fixed them all.. thanks for the heads up

I'll also hide all conversation about this as offtopic.

[2019-03-19 22:40] robbyoconnor commented on #1112
Thanks -- at least it didn't push the image and update the latest tag!
On 3/19/19 6:32 PM, Diego Sampaio wrote:

[2019-03-19 22:45] ggazzo commented on #13787
closed by #13796

[2019-03-19 22:45] #13787 closed

[2019-03-19 23:32] maurice-does-software commented on #10714
My code change seemed to fix it for the small organization that's using it. But, every few days there are memory overflow issues in mongodb that cause our instance of the app to crash, requiring monit to bring it back up. I haven't had time to look into whether those are due to my code changes or would have been happening anyway. So, a more informed, well-researched, well-tested fix from someone f

[2019-03-19 23:54] rsmartins78 commented on #13025
@knrt10 Can you help in this issue?

[2019-03-19 23:59] knrt10 commented on #13025
Will look into it @rsmartins78

[2019-03-20 03:51] granttoday opened #13804 "Permissions Page UI"
### Description:
With a large amount of roles it will lag the current UI creating all of the elements

### Steps to reproduce:

Opening the Permissions menu in the Administration console

### Expected behavior:

Work better with a large amount of roles, like a drop down if a large amount of roles are found

### Actual behavior:

Lags

### Server Setup Information:

- Version of Rocket.Chat Server:

[2019-03-20 06:46] tonystar commented on #11485
Thanks @sampaiodiego. Eagerly waiting for it

[2019-03-20 09:05] AndreasHo opened #13808 "Rest API upload file get message"
Hello,

I’m created a chat client into a custom app and using the rest api to communicate with RocketChat.

I am uploading files over the function "/api/v1/rooms.upload", but the return value of this call is only if it was successful or not. Is there any chance to get a message object with the attachment information’s? Because I want to show the uploaded file at the messages in my app.

At this ti

[2019-03-20 09:59] Pionell commented on #13742
hello, i've managed to get it running after a few hours of fiddling with configs and a help of a different tutorial. We stopped the service shortly thereafter so no logs anymore.. You can close the issue.

[2019-03-20 11:41] knrt10 commented on #13808
@AndreasHo you are right I think we should return message object too. It just return `return API.v1.success();`currently. Let see what others think of this. If approved, I will make a fix for this.

cc @ggazzo @tassoevan @sampaiodiego should we send message object back on file upload via API?

[2019-03-20 12:02] sampaiodiego commented on #13742
good you have figured it out.

if you found some useful information you'd like to share with others, please consider opening a PR to our documentation page: https://github.com/RocketChat/docs/blob/master/installation/manual-installation/ubuntu/README.md thanks

[2019-03-20 12:02] #13742 closed

[2019-03-20 12:40] Centzilius commented on #1112
I just wanted to add that the threading support in #13541 does not work with the internal SlackBridge. Threads in Slack are still transported without any indication that there is a thread and threads in rocketchat are not transported at all

[2019-03-20 13:23] Tirvanel opened #13810 "Delete doesn't clear message"
### Description:

On Rocket Chat version 0.74.1, when I delete a message on my work's rocketchat instance, the message doesn't disappear until I refresh the page. Even if I change channels and come back, the message is still there.

### Steps to reproduce:

Person 1 send message
Person 1 delete message
Person 2 still sees message

### Expected behavior:

When another user deletes a message, I woul

[2019-03-20 13:36] Hudell commented on #12996
Indeed, the random string bug is fixed. The 4 back ticks are still not parsed properly (it generates two code blocks instead of showing a back tick inside a code block) but that can be moved to a new issue.

[2019-03-20 13:36] #12996 closed

[2019-03-20 14:05] knrt10 commented on #13810
@Tirvanel would you please fill the issue template, otherwise, it is difficult for maintainers to debug the problem you are facing. And also it might not be noticed then. Thanks.

[2019-03-20 14:19] Tirvanel commented on #13810
Where would I find the issue template?

[2019-03-20 14:26] knrt10 commented on #13810
[code]

[2019-03-20 14:34] Tirvanel commented on #13810
@knrt10 main post updated.

[2019-03-20 14:44] knrt10 commented on #13810
@Tirvanel this is fixed in latest RC version. Try updating it and check whether you still have the same problem.

[2019-03-20 14:46] Tirvanel commented on #13810
Ah, awesome. I'm not the admin, so I don't have control over that. Glad to hear it's fixed.

[2019-03-20 14:46] #13810 closed

[2019-03-20 15:44] Rodriq opened #13811 "Other users being tagged in DM"
When in DM with a particular user, including the tagging `@` symbol gives room for other users to be mentioned.
### Actual Behaviour
![other-users-being-tagged](https://user-images.githubusercontent.com/39289592/54698048-ebe8eb80-4b2e-11e9-90bb-fdd9f9c6c0c9.png)

You see that, I'm in DM with `new.user2` but I can still mention `new.user1`.

[2019-03-20 16:00] jschirrmacher commented on #12033
I still experience the same with 0.74.3 - if agents are not logged in when a livechat starts, they wouldn't see it when they log in.

**Steps to reproduce:**
- Agent 1 is logged in, Agent 2 is not logged in
- A user starts a new livechat
- Agent 1 sees the new livechat but doesn't accept it
- Agent 2 logs in, but doesn't see the livechat

![image](https://user-images.githubusercontent.com/2821879/

[2019-03-20 16:03] stevenhfotofix commented on #12033
@jschirrmacher We exerience the exact same issue as well, excellent write-up of the problem!

[2019-03-20 16:08] Kailash0311 commented on #13731
so as RC uses `autolinker` for linking its messages within anchor tag, there exists a bug where it stops recognizing the URL for some reason. so I think if we have to resolve this issue, we have to write our  own package, which can be cumbersome and really not needed as this seems like an edge-case.

[2019-03-20 16:11] Kailash0311 commented on #13811
What happens actually when you tag other people? Do they get a notification?

[2019-03-20 16:22] Wazabiii commented on #7722
Hello, I'm also interested about the Markdown rendering in the livechat widget.
Do you have a workaround for this ?

[2019-03-20 16:38] mddvul22 commented on #13195
@sampaiodiego We finally got around to upgrading our install to version 0.74.x.  I'm very happy to report that your changes did fix this problem for us.  Thank you!

[2019-03-20 16:41] uriesk opened #13812 "Email of all users exposed in Directory"
Edit: I meant directory not dictionary! That little worldbutton that gives you the whole public-channel- and userlist.

When clicking at the user in the Member List sidebar of a channel, you do not see the mail address except if you are a Admin.
But in the Dictionary, everybody can see the email of every user.

Exposing the mail address of all users is a privacy issue for us.

[2019-03-20 16:42] jerrylanejohns opened #13813 "Desktop Notifications"
We’re using latest versions of both server and desktop client. Client running Windows 10. Default and personal settings to show notifications for everything and to show for 30 seconds. However, no notification pop up appears in the lower right corner. I assume it should appear like other “notifications” in Windows 10. I should be able to click on the notifications icon in the tray and see RC notif

[2019-03-20 16:47] renatobecker commented on #7722
Hi @Wazabiii!

Just FYI, we have a new Livechat client, please take a look at here -> https://github.com/RocketChat/Rocket.Chat.Livechat.

We have some issues related to markdown, emojis and other stuff like that, so feel free to ask me about it.

Thanks.

[2019-03-20 16:57] wreiske commented on #13731
Edge case? This happens for me all the time in my day-to-day sending links around. If rocket.chat can't format an amazon link correctly, that's a pretty valid issue.

[2019-03-20 17:08] wreiske commented on #13731
Rocket.Chat uses "autolinker": "^1.8.1"... There was a recent push 3 days ago bringing the latest autolinker to 3.0.5.

I'll try upgrading autolinker and see if the problem is resolved later tonight.

[2019-03-20 17:15] reetp commented on #13812
This is a biggy and present on open.rocket.chat as well as my own 1.0.0.-beta.1

Any user can see any other users email. That should not be allowed by default - GDPR & all that privacy jazz.

[2019-03-20 17:24] renatobecker commented on #12033
Looking at your print screen I can see that the `Accept with No Online Agents` setting is not activated.

[2019-03-20 17:34] Kailash0311 commented on #13731
Sorry I didn't know it was a common issue.

[2019-03-20 17:45] #13800 closed

[2019-03-20 17:47] wreiske commented on #13731
Another note: For really long links, we might want to limit the text and append an ellipsis (...) to the end of it. You would still be able to click it, right click copy link, etc., and it would look cleaner than a giant block of text as a link.

[2019-03-20 17:50] kknyxkk opened #13816 "Livechat Facebook integration not working"
### Description:

Sending message to page configured on Livechat facebook integration and the message never comes to Livechat.

### Steps to reproduce:

1. Configure Facebook keys on Administration > Livechat > Facebook.
2. Go to Livechat > Facebook Integration menu and enable the integration.
3. Pick the page you have and enable it.
4. Send a message to this page.

### Expected behavior:

The mes

[2019-03-20 18:04] MSohm commented on #13720
After Chrome updated, I now see notifications.  Unsure if this is related but figured it was worth mentioning.

[2019-03-20 18:40] fliptrail opened #13817 "No option to collapse a category exists"
I think that as the number of joined channels or private groups become very large in number, the user has to scroll a lot to navigate between them. As a solution, I suggest that the header names should be collapsible so that the user can open it up when required. This interface would be much like discord does.

![Peek 2019-03-21 00-09](https://user-images.githubusercontent.com/40834245/54710409-9a

[2019-03-20 19:16] renatobecker commented on #13766
@juliomac,

If the `departmentId` is stored in the `room` document, this field will be returned in the payload.
Thanks.

[2019-03-20 19:37] sampaiodiego commented on #13808
@knrt10 I think it is fine to return the message object :+1:

[2019-03-20 19:44] knrt10 commented on #13808
Ok, will make a PR for this.

[2019-03-20 22:02] granttoday commented on #13498
(Bump) This is becoming a bigger issue with the community I have 😅

[2019-03-20 22:39] #13760 closed

[2019-03-20 23:16] sudipt1999 commented on #1180
@geekgonecrazy, now the image is not auto downloaded, How can I reproduce the bug !
I guess we need to change `https://github.com/RocketChat/Rocket.Chat/blob/develop/app/file-upload/server/config/FileSystem.js#L20`

[2019-03-20 23:30] sudipt1999 commented on #1180
![Screenshot from 2019-03-21 04-57-04](https://user-images.githubusercontent.com/38929617/54725742-3d789100-4b96-11e9-8494-85cbd098d0d4.png)
![Screenshot from 2019-03-21 04-57-57](https://user-images.githubusercontent.com/38929617/54725745-3fdaeb00-4b96-11e9-87b9-8cf360de2ccc.png)

[2019-03-21 00:24] geekgonecrazy commented on #1180
actually rereading I don’t think this has been an issue for a while.  Closing

[2019-03-21 00:24] #1180 closed

[2019-03-21 02:38] graywolf336 commented on #13812
#livingriskyonbeta 😂

[2019-03-21 02:58] wreiske commented on #13811
I use this all the time. I would say this is a feature, not a bug. This does not notify the user you are tagging.

[2019-03-21 04:41] Rodriq commented on #13811
@Kailash0311 @wreiske This is indeed a feature. How cool. I'll close the issue now.

[2019-03-21 04:41] #13811 closed

[2019-03-21 05:27] knrt10 commented on #13808
@sampaiodiego while we are on this, should there be the endpoint for getting file Data? Currently there is not. Like `Room.upload/:id`

[2019-03-21 07:53] maxdwit opened #13822 "Marketplace Apps with multiple instances"
Scenario:
Have two rocket.chat instances in docker containers running on the same machine: 3000 3001
Prerequisite: Verify that you can in fact communicate between the containers ( setup of mongo is important).

Testscenario:
Connect to the first instance on Port 3000:
Goto: https://serveradress:3000/admin/apps/
Install (i.e.): giphy   ( subsequential to this: add api key test command /giphy cat is

[2019-03-21 09:11] Sx3 commented on #843
Still same
when X-Frame Header Set the desktop app is not loading the content properly

[2019-03-21 10:51] MacGyver27 commented on #1593
@Franziskus1988 haha definitely.. came here to report this problem..

have an example from the webex teams chat.. we use it internally and its markdown is almost perfect..
` ```{language}` it accepts syntaxes like: js, ts, java, py, bash, regex, html, css, scss, scala, c,...

please fix.. also what about giphy and similar?? no memes no fun ;)

[2019-03-21 10:59] dkatheininger opened #13823 "Guest user is assigned user role upon email verification"
### Description:

When a user that only has the role "Guest" assigned changes its email address and verifies his new address by clicking the link the role "User" is automatically assigned to him. I believe this is a major security issue as guest users can upgrade their privileges by themself.

In case there is a setting in the adminstration area that determines this behaviour I wasn't able to find

[2019-03-21 12:01] knrt10 commented on #12938
On it, will try to fix this.

[2019-03-21 12:59] #13766 closed

[2019-03-21 13:29] Abraka commented on #12783
Only workaround is not to use IE. Even microsoft give up on it.

[2019-03-21 13:40] secretoB commented on #12783
Add the following to your Layout - Custom CSS, worked for me:

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    // IE10+ CSS here

#login-card input#emailOrUsername {
  height:40px;
}

#login-card input#pass{
  height:40px;
}

#login-card button.login{
  padding: 13px;
}

}

[2019-03-21 14:00] nickbroon opened #13826 "'Marked' markdown parser does not render usernames in GFM tables"
### Description:

The 'Marked' markdown parser does not render usernames in GFM tables

[code]
### Steps to reproduce:

Use a server that has 'Marked' selected as the Markdown parser and has 'GFM Tables' enabled.

Admin -> Messages -> Markdown:
Markdown_Parser: Marked
Markdown_Marked_GM: True
Markdown_Marked_Tables: True

### Expected behavior:

The username should be highlighted and shown as the

[2019-03-21 14:10] knrt10 commented on #13302
On it, will like to fix this.

[2019-03-21 14:12] marceloschmidt commented on #10590
We will work on restructuring our permissions system, which may or may not solve the issue for you.

[2019-03-21 14:12] #10590 closed

[2019-03-21 14:20] marceloschmidt commented on #10687
We implemented a "Don't ask me again" on the confirmation, so that will reduce the amount of clicks to hide from 3 to 2. We can think on a new UI in the future, but that's not planned right now.

[2019-03-21 14:20] #10687 closed

[2019-03-21 14:27] marceloschmidt commented on #10796
This is not something we think would be good. Imagine if you had so many favorite channels that you can't even see any other channels?

[2019-03-21 14:27] #10796 closed

[2019-03-21 14:32] Wazabiii commented on #7722
Hi @renatobecker
Thanks :+1: This new livechat is beautiful :)

[2019-03-21 14:48] marceloschmidt commented on #10708
Unfortunately after discussing this with the team, we realized this is not technically possible.

[2019-03-21 14:48] #10708 closed

[2019-03-21 15:11] Peym4n opened #13828 "[NEW] Chatpal: Enable custom search parameters"
For some use cases it is required to call the Chatpal search with custom parameters, which are forwarded to the Solr extension's request handler.
This makes it possible to use new parameters of Chatpal's Backend without requiring any new changes in RC.

[2019-03-21 15:17] Peym4n commented on #13828
I already have a fix for this and will submit a PR.

[2019-03-21 16:33] jseong309 opened #13830 "Users chat messages shows reversed/backwards"
On Version 0.74.2 (Snap)
Ubuntu 16
Apache2

It's not a frequent issue but out of our 300 users, 5 users reported that their chat messages are reversed. They would have to close the app and relaunch (PC)

" !?!?esrever ni gnipyt I ma yhW "

Just curious if anyone else has seen this issue or why this is happening.

[2019-03-21 16:37] mwells3work commented on #658
Is there a good branch that we could evaluate what has bee done so far with the multi-org development, as we have a need for this, we could devote some time to getting it working.
thanks

[2019-03-21 17:06] tuxcrafter opened #13831 "SAML SLO TypeError steffo_meteor-accounts-saml"
I am hitting the following, blocking issues in my setup when trying to logout from rocketchat with ipsilon saml running on fedora 28 version.

Can somebody please help me debug steffo_meteor-accounts-saml.js ? I am almost ready to deliver my systems for production testing, but the SLO is blocking at the moment.

[root@rocketchat01 ~]# cd /opt/Rocket.Chat/programs/server/packages
[root@rocketchat01

[2019-03-21 17:34] knrt10 commented on #13823
@sampaiodiego @ggazzo this is a problem I suppose.

[2019-03-21 18:58] mmcconnell535 commented on #13813
We too are experiencing this issue.  Prior to release the iOS app was capable of reading messages but not sending messages -- now upon update, the messages send fine and it will show the number of new messages next to the account name that sent the message, but no audio plays and no notification triggers.

This happens on the App, Web Client and Desktop Client.  If we manually go the user settings

[2019-03-21 19:11] foss- opened #13835 "unwanted ` characters when trying to use code block"
### Description:

one additional ` character when only looking to use ``` to indicate a code block

### Steps to reproduce:

1. press shift and ´ to get to `
2. keep shift pressed and press ´three times to get ```
3. then press shift + enter

### Expected behavior:

cursor should be in new line.

### Actual behavior:

a fourth " ` " is created, even if shift is lifted before pressing shift + enter

[2019-03-21 19:40] sudipt1999 opened #13837 "Added user can be added again in channel"
### Description:
When we try adding a user to channel, we just can simply add his name in search bar and add to him in the channel,
Now if we again search his name in add user we can add him again.

### Steps to reproduce:
1. Go to add user in channel
2. Add a user to channel
3. Again search his name in the list.

### Expected behavior:
If user is already in channel he/she should not be in list to

[2019-03-21 19:48] TheMythPT commented on #7549
Any updates on this? I'm using a [bridge](https://github.com/42wim/matterbridge) to relay Rocket.chat to IRC back and forth and i'm facing the same issue, almost 2y later.

[2019-03-21 20:27] MartinSchoeler opened #13840 "[BUG] Show Setup Wizard Setting can lock users outside the server"
### Description:

If you change the setting `Show Setup Wizard` to `pending`, every user that tries to log in the server, will see the first page of the setup wizard. Since there is already admin users, the first page of the setup wizard will throw an error, locking out any user that needs to log in. If the last admin logs out, the server will be piratically locked down and it will need to be rest

[2019-03-21 20:38] mouragio commented on #13501
I have the exact same problem...

.gif files can be uploaded! (?)
.png an .jpeg both give internal server error.

[2019-03-21 20:43] #13812 closed

[2019-03-21 20:43] Kailash0311 opened #13841 "Sidebar menu closes on clicking room menu (when screen-size is less.)"
### Description:

### Steps to reproduce:

1. Decrease the window size.
2. Click on the menu beside each room.

### Expected behavior:
Side bar should not close, the popover looks out of place now.

### Actual behavior:
![side-bar](https://user-images.githubusercontent.com/34206972/54782931-18dbf200-4c46-11e9-9c1c-8830be759485.gif)

### Server Setup Information:

 Version of Rocket.Chat Server: 1.

[2019-03-21 20:58] krispayne commented on #13813
not getting notifications on mac client 2.15.1 after updating. It also doesn't forward notifications to iOS client anymore. i.e. I stepped out for lunch and came back to several un-notified chats on my computer, but previously would get them on my phone after the timeout.

[2019-03-21 21:14] engelgabriel commented on #13678
This option has been added

[2019-03-21 21:14] #13678 closed

[2019-03-21 21:16] #12683 closed

[2019-03-21 21:19] engelgabriel commented on #13196
@geekgonecrazy can we close this?

[2019-03-21 21:25] engelgabriel commented on #4455
@kentonv what is the latest on Sandstorm development? Are you willing to help us get our latest version working and released on the market place?

We were unsure about the usage, so we have stopped supporting it.

Please let me know your thoughts.

[2019-03-21 21:33] mouragio commented on #13501
looks like it has something to do with Sharp...

error:
Exception while invoking method 'ufsComplete' TypeError: sharp is not a function

sharp
The typical use case for this high speed Node.js module is to convert large images in common formats to smaller, web-friendly JPEG, PNG and WebP images of varying dimensions.

Resizing an image is typically 4x-5x faster than using the quickest ImageMagick

[2019-03-21 21:34] engelgabriel opened #13843 "Threads vs Discussions"
We have decided that was better to delay our v1 release and get the Threads done properly than get the feature out the way it was initially implemented on the develop branch. We have "rebranded" our current implementation of Threads to Discussions (was it creates a new room type) and will implement Threads exactly the same way as Slack does.

In our vision there are 2 different use cases on how to

[2019-03-21 21:36] engelgabriel commented on #13843
https://github.com/RocketChat/Rocket.Chat/issues/13664

[2019-03-21 21:36] engelgabriel commented on #13664
https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 21:42] engelgabriel commented on #13689
https://github.com/RocketChat/Rocket.Chat/issues/13644

[2019-03-21 21:43] engelgabriel commented on #13664
https://github.com/RocketChat/Rocket.Chat/issues/13644

[2019-03-21 21:45] engelgabriel commented on #1112
https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 21:47] engelgabriel commented on #1112
So we have given up on having a single approach for both use cases and will implement both: the Slack-like industry standard and our brand new one, called Discussions.

https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 21:48] geekgonecrazy commented on #13196
I think so.  Please comment here if this should be re-opened

[2019-03-21 21:48] #13196 closed

[2019-03-21 21:51] engelgabriel commented on #1112
So we have given up on having a single approach for both use cases and will implement both: the Slack-like industry standard and our brand new one, called Discussions.

https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 22:06] engelgabriel commented on #6833
So we have given up on having a single approach for both use cases and will implement both: the Slack-like industry standard and our brand new one, called Discussions.

https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 22:06] engelgabriel commented on #6888
So we have given up on having a single approach for both use cases and will implement both: the Slack-like industry standard and our brand new one, called Discussions.

https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 22:07] engelgabriel commented on #13057
So we have given up on having a single approach for both use cases and will implement both: the Slack-like industry standard and our brand new one, called Discussions.

https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 22:08] engelgabriel commented on #13057
With the new thread implementation that we are working on, we will copy the slack model, so the import will be much easier.

[2019-03-21 22:09] pshute commented on #1112
@engelgabriel can you please clarify how threads and discussions will differ? Are they just different representations of the same underlying data?

[2019-03-21 22:09] engelgabriel commented on #13655
https://github.com/RocketChat/Rocket.Chat/issues/13644

[2019-03-21 22:11] engelgabriel commented on #12676
So we have given up on having a single approach for both use cases and will implement both: the Slack-like industry standard and our brand new one, called Discussions.

https://github.com/RocketChat/Rocket.Chat/issues/13843

[2019-03-21 22:12] engelgabriel commented on #12676
https://github.com/RocketChat/Rocket.Chat/issues/1112

[2019-03-21 22:14] engelgabriel commented on #13057
https://github.com/RocketChat/Rocket.Chat/issues/1112

[2019-03-21 22:21] engelgabriel commented on #1112
not, tottaly different data models.

- Discussions = new channels that inherit permission from the parent channel
- Threads = same channel will be like the reply action we have now, but add the parent message property to the messages, so they can be displayed on the side bar.

[2019-03-21 22:30] nemhods commented on #1112
Hey all, appreciate the delay to improve the implementation. Is it planned to have these features toggleable? e.g. turn on _only_ threads but not discussions?

It's a great power user feature to have both, but I can see this confusing the hell out of our users, especially if the mobile applications would take a few months or so to catch up.

[2019-03-21 22:39] engelgabriel commented on #1112
Both these features will be toggleable.

[2019-03-21 23:00] #13797 closed

[2019-03-21 23:10] pshute commented on #1112
@engelgabriel thanks. Can I please request that a Flowdock style display be considered for Threads in addition to Slack style? I think it should be easier to do than Slack style because they're displayed with the other messages in chronological order, just coloured to identify each thread's messages.

[2019-03-22 01:13] engelgabriel commented on #6888
@mrsimpson you have been right in calling it a **discussion** from the beginning

[2019-03-22 04:25] toannv26 opened #13844 "/api/v1/im.list does not return realname and avatar of direct user as before"
Description:
I want to show list direct message from logging user to other user. For each other user, list item must display name, avatar and last message content
/api/v1/im.list does not return realname and avatar of other user

Server Setup Information:
Version of Rocket.Chat Server: 0.74.2
Operating System: Linux
Deployment Method(snap/docker/tar/etc): docker
Number of Running Instances: 1
DB R

[2019-03-22 05:27] 88fingerslukee opened #13845 "Hipchat Import fails with invalid tar header"
### Description:

Hipchat tar.gz importer from Hipchat 2.4.3 fails with invalid tar header. This is on 0.74.3.

### Steps to reproduce:

Import hipchat file. Get error

### Expected behavior:

gimme the good stuff

### Actual behavior:

not the good stuff. Fail to extract

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: Ubuntu 16.04
- Deployment Method: s

[2019-03-22 05:40] wreiske commented on #13731
The issue is with autolinker. I opened a ticket there. I'll keep this issue open since it will require an update of the autolinker npm once it is available.

[2019-03-22 06:22] Abraka commented on #2657
Any progress on this?

[2019-03-22 06:28] luismachado commented on #13631
@MarcosSpessatto so this was on a 0.71.1. However I since tested on a 0.72.3 and the issue persists.
Not even looking at the logs what happens is that every time I log into an account and open a channel the last message is marked as unread (after a second or so it changes to read because the app calls the read endpoint immediately).

Some considerations:
- Tested it on more than one server (as men

[2019-03-22 06:28] Abraka commented on #1194
Agreed, HTTP(S)_PROXY its not a solution here. There should be a option under link preview option in rocket chat administration called "proxy settings for downloading external content". And thats it...see? Easy peasy.

[2019-03-22 07:20] ZhuGuanyu opened #13846 "BigBlueButton integration recording issue"
Hi, I am very excited to see the integration with BBB. While I could not find the "record" button after bbb executed, so guessing the "record=false" as creating the bbb session, am I right? So what's the plan for enabling the recording function and where could we track it?

Thanks a lot

[2019-03-22 07:33] luismachado commented on #13631
@MarcosSpessatto I think I explained myself incorrectly. I was talking about the unread parameter inside the lastMessage part. Ignoring the 'updateSince' parameter, here's an example response for the `rooms.get` endpoint, right after a login:

[code]

[2019-03-22 08:24] winterstefan commented on #13547
_for the sake of completeness_

See https://github.com/RocketChat/docs/pull/1150 for docs
I'll close this issue - thanks for your support!

[2019-03-22 08:24] #13547 closed

[2019-03-22 08:36] mouragio opened #13847 "Internal server error uploading .jpeg or .PNG"
### Description:
When I try to upload an image file (jpg or PNG) I get an internal server error.

### Steps to reproduce:
Upload an image

### Expected behavior:
I would expect the image would be uploaded

### Actual behavior:
It doesnt

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: CentOS 7
- Deployment Method: tar
- Number of Running Instances:
- DB R

[2019-03-22 11:13] Cruaier opened #13849 "File operations not possible when using port other than 80"
### Description:

Our Rocket.Chat is behind a router only accessible using the port 9000. The router is doing the port redirecting to 443. When using port 80 the request won't be redirected to the Rocket.Chat server. When doing file operations (e.g. sending a file to someone else) the request url don't contain the port which is causing that no file can be send.

### Steps to reproduce:

1. Set up

[2019-03-22 11:22] Cruaier commented on #13849
Not sure why...but using the Android client seems to work.

[2019-03-22 11:34] engelgabriel commented on #12703
Maybe storing theusers last selection in the local storage would be better?

[2019-03-22 11:42] engelgabriel commented on #13847
@sampaiodiego @rodrigogs do you have any info on problems with "sharp"?

[2019-03-22 11:48] mouragio commented on #13847
btw..
The error "sharp is not a function" is displayed when uploading from the mobile app (ios)

and in the errorlog above there is the error:
Exception while invoking method 'ufsComplete' TypeError: sharp is not a function

[2019-03-22 12:10] fasttrackhost opened #13850 "Please add to Documentation this info about CORS - REST API"
### Description:
This is not a bug, but dont know how to report it.
Lost 1 week resolving HOW TO MAKE REST-API CONNECTIONS using "X-Auth-Token" and "X-User-Id" -> authenticated requests WHEN USING DIFERENT CLIENT/SERVER URLS and CORS is needed.

Everything goes well when requests to REST-API are simple requests, that means no authentication needed. A simple ajax xhr POST/GET json with no special h

[2019-03-22 13:28] eevrenci commented on #8126
Version of Rocket.Chat Server: 0.74.2
Operating System: Debian Linux release 9.8
Deployment Method(snap/docker/tar/etc): tar
Number of Running Instances: 4
DB Replicaset Oplog: yes
Node Version: v8.11.3

Same problem. Sync with ldap server returns all users, but one of them with no roles. After that I can not assign this user to any role because add roles selection box seems empty for this user. A

[2019-03-22 14:59] Montel opened #13853 "RESTAPI: get pinned message ?"
Hi,
I think that it's not possible to get pinned message for a room from RESTAPI.
We are able to get mentions from a room but it seems that we can't have pinned message.

Regards

[2019-03-22 15:16] Hudell commented on #13845
Do you have a sample file we can trigger this error with?

[2019-03-22 15:16] Peym4n opened #13854 "[NEW] Chatpal: add option to search in all public channels"
Currently only those channels are searchable which the user has joined.
Even though the user can browse and read public channels without joining them, it is not possible to search in them using Chatpal.

A new setting should be added to the Chatpal config for enabling/disabling search in public channels which the user has not joined yet. It should be disabled by default.

Search results from these

[2019-03-22 15:17] Peym4n commented on #13854
I have implemented this feature and will submit a PR.

[2019-03-22 16:34] reetp commented on #13813
Please all of you **fill out a proper bug report template**. There are too many variables here to pin down any issues. Just saying 'me too' is not helping anyone.

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Are you all running the same server version, and same type of deployment eg snap/docker/whatever?

Has anyone actually looked in their server logs to see what

[2019-03-22 17:06] thayannevls commented on #13853
Hello @Montel, I will try to make this endpoint 😄

[2019-03-22 17:10] #12033 closed

[2019-03-22 17:37] #13728 closed

[2019-03-22 17:52] mmcconnell535 commented on #13813
### Description:

Chat messages fail to trigger notification, sound, or forward to email / mobile after server upgrade to 0.74.3.  The number of messages received indicator for a non-active message will show, but no audio or notification triggers.    `@all` and `@user` messages also fail to display notification, play sound or send email / to mobile.

### Steps to reproduce:

1. Upgrade server to 0

[2019-03-22 18:12] graywolf336 commented on #13822
This used to work, but seems to have been broken recently with the communication between the Rocket.Chat instances. @d-gubert

[2019-03-22 18:12] juliomac commented on #658
Hi @mwells3work ! Also for me! I would gladly help. By the way, have you seen the branch I just posted above?

[2019-03-22 18:30] mwells3work commented on #658
@juliomac I have not looked at it yet, If you think this is a good place to start, I will check it out and test the multi-org functionality. Thanks

[2019-03-22 18:34] fliptrail opened #13857 "No user feedback when clicking on Star Message"
### Description:

There is no user feedback telling the user that his message has been starred or not when he clicks on star message option.

### Steps to reproduce:

1. Choose a random message
2. Click on three dots in the messge (Open the message actions menu)
3. Click on star message

### Expected behavior:

The user should get a reply that his message has been starred or a failure if not starr

[2019-03-22 18:35] mrsimpson commented on #13843
@engelgabriel I am kind-of afraid to write this, but I don't really see the difference in the two types.
I understand that you want to implement the "industry standard" and I appreciate replacing (quoted) replies - but I don't understand what makes "your" "threads" different from "discussions".

## The reality captured

Looking at the "real world", what happens is that people talk about a topic an

[2019-03-22 19:47] fasttrackhost opened #13859 "Iframe Event NOT registering "click-message-link""
### Description:

Iframe Events NOT registering "click-message-link"

We can register "unread-changed-by-subscription","unread-changed","room-opened","new-message" but no click event is registered.

Since the rest of the events are registered correctly, we supose RocketChat is not sending this event "click-message-link"

It is a important issue for us, since we have embeded RocketChat in a IFrame

[2019-03-22 20:22] fasttrackhost opened #13861 "Bug with Markdown [urlText] (#)"
### Description:

Writing pull request #13858 realized that here on GitHub **[urlText](#)** IT`S A URL.

Please put your mouse over url **[urlText](#)** and you`ll see href="#" really works. This behavior wont happen when writing in RocketChat and even worse: when posting a message using Rest-Api.
If no **http** / **https** in the **(urlHttp)** "#" will not convert to url.
So for example the "Mark

[2019-03-22 20:33] Abraka opened #13862 "LDAP authentification - BIG problem with users in subdomains"
### Description:

LDAP authentification(AD) is set up and working for users in rocketchat group from my.domain.com. When I add user from city.my.domain.com to user group rocketchat in my.domain.com, then Ldap sync ignore that user and its not imported into rocketchat.
This is a BIG problem for us, as we just starting testing phase and heading to 2000-3000 users and more than 80 percent of those us

[2019-03-22 20:37] paulstephan commented on #12783
Thanks for the tip but Rocket.Chat 0.74.3 doesn't seem to work at all with Internet Explorer. Not a big deal, since even Microsoft is giving up on IE, like Abraka said. But IE is however still widely in use so some kind of support would be nice..
<img width="338" alt="Screenshot 2019-03-22 at 22 37 11" src="https://user-images.githubusercontent.com/46940914/54851559-0f5c9380-4cf3-11e9-9f09-5b9a4e2

[2019-03-22 21:31] #7267 closed

[2019-03-22 23:19] ubarsaiyan commented on #7791
Hey! Can anybody confirm that this works? I tried to use nextcloud as oauth for RC and the nextcloud auth popup appears and I can easily log in and grant permission but when the window closes RC gives an "Internal Server Error".

[2019-03-23 05:08] ashwaniYDV opened #13865 "There is no option for "Hindi" (official lang. of ) in language selector"

[2019-03-23 05:11] ashwaniYDV commented on #13865
I want to work on it and add it to the list.

[2019-03-23 05:13] geekgonecrazy commented on #7791
Any server errors?

[2019-03-23 06:50] sudipt1999 opened #13866 "Outdated Dependencies present in project !"
<pre><u style="text-decoration-style:single">Package</u>                     <u style="text-decoration-style:single">Current</u>   <u style="text-decoration-style:single">Wanted</u>   <u style="text-decoration-style:single">Latest</u>  <u style="text-decoration-style:single">Location</u>
<font color="#C4A000">@accounts/graphql-api</font>         0.2.3    <font color="#4E9A06">0.2.3</font>   <font

[2019-03-23 07:50] ashwaniYDV opened #13867 "[Enhancement] Some part of sidebar is not translated to french"

[2019-03-23 08:54] ashwaniYDV opened #13869 "No user feedback when meassage is pinned or unpinned"
### Description:

There is no user feedback telling the user that his message has been pinned or unpinned

### Steps to reproduce:

1. Select a message to be pinned or unpinned if already pinned
2. Click on three dots in the message (Open the message actions menu)
3. Click on pin message or unpin message.

### Expected behavior:

The user should get UI feedback that his message has been pinned or

[2019-03-23 10:56] ubarsaiyan commented on #7791
@geekgonecrazy Thank you for responding. I wish to take this forward this year with a GSoC project.
I'm building both RC and NC from source and individually they are working fine. I'm able to use NC as a file upload storage for RC. I'm also able to open the file picker for NC from within RC and then send files stored at NC server in RC chats through webdav. But I'm getting "Internal Server Error"

[2019-03-23 12:38] fasttrackhost commented on #13866
Great job recompilating the info. As I wrote in #13861 would be great to have Markdown upgraded, and other plugins that interpret and manipulate the elements in chat: text, images, sound, video, etc.

Integrations are great but since this is a Chat Server Software,  at least from our point of view, the most important integration is the ability to integrate RocketChat in other webs and the ability

[2019-03-23 13:15] rasos commented on #11995
Confirmed, applying different nginx config solves the problem:

[code]

Source:  https://github.com/jitsi/jitsi-meet/issues/312#issuecomment-354418529

[2019-03-23 14:18] ashwaniYDV opened #13871 "Discussion room's back button does not specify its action"
### Description:
When a user hovers over the back button of the discussion room, he/she is not specified of its functionality.
Its functionality is to take the user to the parent channel or group.

### Steps to reproduce:

1. User hovers over icon-back button.
2. Clicks on it.
3. It takes them to the parent channel or group.

### Expected behavior:

It should specify the user whether it takes them

[2019-03-23 16:23] bhardwajaditya opened #13873 "No description text for remove user from a role dialog box"
**Description:**

There is no description text for the remove user from role dialog box.

Steps to reproduce:

- Select a role from permissions page in admin panel
- Click on remove user icon from the users list

**Expected behavior:**

The user should get UI feedback what the current action will do.

**Actual behavior:**

![role-remove](https://user-images.githubusercontent.com/23612313/54868759-

[2019-03-23 17:22] fliptrail opened #13875 "No option to preview message before sending"
### Description
Currently there is no option to preview a message a message before sending. This is very confusing for messages which have a lot of code or KaTeX embedded in them.

### Expected Behaviour
In such cases, the rendered message should be shown before sending the message.

### Server Setup
Rocket.Chat version - 1.0.0 develop

[2019-03-23 17:30] fifou17 opened #13876 "Disable discussion from administration & video message"
![screenshot-localhost-3000-2019 03 23-18-30-29](https://user-images.githubusercontent.com/16228448/54869516-cc093000-4d99-11e9-9256-b17cd7dfff8f.png)
when disabling discussion from administration the message video disappear from the message box menu and discussion title in sidebar should not be appeared when its get disabled

[2019-03-23 17:44] #13876 closed

[2019-03-23 17:44] fifou17 commented on #13876
sorry its already exist

[2019-03-23 17:47] NameTheJew commented on #2885
" We are currently adding a feature that logs at least the failed login
attempts"
PLEASE DO NOT DO THIS
DO NOT LOG IP.

NO IP LOGS is a DISTINCT advantage and point of difference over DOXcord.
Who cares if some admins (for dubious reasons) are BEGGING for IP logs.
You DESTROY user confidence in the platform.
You end up just creating another DOXcord.
ZERO Knowledge is BEST for when subpoenas get re

[2019-03-23 17:52] NameTheJew commented on #2885
translation:
"the internet is becoming an orweallian spy grid, so we should join to"
GTFO
No logs is incredibly important in an age of doxing & honeypots.

[2019-03-23 17:57] NameTheJew commented on #2885
seems like an EXCELLENT Goal to have tho!
Need i remind you all the OTHER encryption feature https etc are to do everything possible to protect peoples privacy...
so why cuckout on IP logs?
webserver might show when someone "connected", but doesnt mean it can connect them to a specific post.  (not if the encryption is being done right)

[2019-03-23 18:10] fasttrackhost commented on #13861
SOLVED partially

----
If you want Markdown Parser to transform  [urlText] (#) into a actual  [url](#) <- like this one (notice its a # url)
you have to go to https://your.rocket.chat.web -> Administration -> Mesages -> Scroll Down to **Markdown** -> Change **Markdown Parser** to "**Marked**"

After changing that option your [urlText] (#) will look like [urlText](#) without the need to use "**http

[2019-03-23 18:56] fasttrackhost opened #13877 "[REQUEST] Allow custom triggers be Registered Event"
This is a REQUEST.

Allow the use of **commands/triggers** similar to mentions **@** and Register a Event "new-trigger" when someone  writes a chat message using a **trigger**. Something similar to giving actions to **Bot**, but instead it would give actions to **external service**.

Don't confuse with Commands sent to RocketChat embedded in a IFrame, this would be the reverse direction: commands

[2019-03-23 19:01] fasttrackhost commented on #13875
This would be great, and maybe it could be extended to:

**1.** allow to Register a Event similar to"new-message" => "pre-message" and allow to manipulate the text the user is about to send (using RocketChat REST-API). This way a custom script could help the user and add relevant information to the text the user is writing in chat.

**2.** allow the use of commands/triggers similar to mentions @ a

[2019-03-23 19:22] fifou17 commented on #2885
@NameTheJew what if you get users terrorists? what if you get sick people that offer drugs and destroy people life from your server?? what if you get some criminals in your site how will you manage that ?? i think message audit panel & ip log and ability for admin to see ips and ban and read convos is safety for client and users

[2019-03-23 19:30] WebSavvyGuy commented on #2885
Please get IP logs.   Ignore the garbage arguments for not having it.  The people who don’t want it have no users so probably can’t be bothered with it.   Anybody with a half decent website with actual users will know the importance of IP logs.   Worse case is let admins turn this feature on and off as they choose.

[2019-03-23 19:33] fifou17 commented on #2885
@WebSavvyGuy i agree the people who arnt planning to do troubles or to harms they dont get worried about admins getting their ip or reading their convo me personaly i dont worry about because i know its for safety of users facebook, skype , twitter , whatsapp kik, all chat apps have this features and they read the convo and they get users ip

[2019-03-23 19:42] WebSavvyGuy commented on #2885
I’ve never seen people complain about a potential added feature that is beneficial.   Even if it was made “optional” (turn on and off logging from the admin panel say)... they would be against it, which makes you wonder what their actual motives are.

[2019-03-23 19:52] fifou17 commented on #2885
@WebSavvyGuy i agree with you 100%

[2019-03-23 19:57] WebSavvyGuy commented on #2885
Yes, it’s really those people who b*tch and complain about it affecting privacy or GDRP which slows this feature down from being made.   They don’t fully understand what GDRP and privacy is.   Those two things are more about how you protect the data, not actually possessing it.   Almost every server has access logs already.   Is the whole world going to shut off their access logs because GDRP was

[2019-03-23 21:05] Rodriq opened #13878 "Add simple example of regular expression on search message panel"
Users that don't know about **Regular expression** should see how a simple Example looks like.
  If approved, sending PR

[2019-03-23 21:15] ashwaniYDV opened #13879 "When an already existing user is added in group is doesn't shows that user already exists."
### Description:

When a user which is part of a group is added in the same group then it shows that "Users have been added."
But it should show that the user already exists in the group.

### Steps to reproduce:

1. Go to add user option
2. Type the user name
3. It shows the same message if the user already exists in the group or not.

### Expected behavior:

If a user is not part of the group th

[2019-03-24 00:29] sudipt1999 commented on #13879
I have already raised this issue in #13837 . So kindly close this one !

[2019-03-24 00:31] sudipt1999 opened #13881 "[TypeError] : 'name' member of PermissionDescriptor 'microphone' is not a valid value for enumeration PermissionName."
TypeError: 'name' member of PermissionDescriptor 'microphone' is not a valid value for enumeration PermissionName.

Reported from `messagebox.js`

[2019-03-24 00:45] sudipt1999 commented on #13879
I am already working on this feature !

[2019-03-24 05:41] NameTheJew commented on #2885
LOL, are you serious. Cos terrorists just LOVE to tell everyone their secret plans.
Any REAL terrorist cell would host their own private encrypted chats.
And would likely be using public wifi & a vpn.
If someone is advocating violence, you delete their account.  Limit new account access to rooms. Require approval for new accounts.
IP bans DONT WORK. Restart router/phone, get a new dynamic IP.

99.

[2019-03-24 05:56] ashwaniYDV commented on #13879
@sudipt1999 I'm so sorry. I didn't know about that.

[2019-03-24 05:56] WebSavvyGuy commented on #2885
@NameTheJew Please stop with your nonsense.

You are assuming EVERY single person out there is sophisticated enough to host their own private encrypted chats, or "smart" enough to use a VPN.

There are legitimate situations where users have been committing criminal offences and were caught doing so because we had their IP address and provided it to the police/law enforcement agency.  Yes, terroris

[2019-03-24 06:04] #13879 closed

[2019-03-24 06:17] NameTheJew commented on #2885
no my concerns are entirely VALID, and represent the interests of all rocket chat USERS.
Go read about all the people who got DOXED using discord, because they received a subpoena, which then implicated EVERYONE in the chat.
Also, a "bad" admin could exploit logs for their own criminal intentions.

You want to "catch criminals" go join the FEDS (im pretending you haven't already).
Rocketchats prio

[2019-03-24 06:21] NameTheJew commented on #2885
Of course NOT.
How would users know if logging was on of off?
Right now, users can feel confident their words are free from DOX.
If the feature exists, then this platform can no longer be trusted.

[2019-03-24 06:43] cheffr opened #13882 "No User Interface visible on v2.15.1"
### Description:

### Expected behavior:

### Actual behavior:

![image](https://user-images.githubusercontent.com/48556334/54875960-6f7c3400-4dde-11e9-9df0-5efada9852f0.png)

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System: Win10
- Deployment Method:
- Number of Running Instances: 1
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Additional cont

[2019-03-24 06:57] WebSavvyGuy commented on #2885
Thats what a site disclaimer is for.  You tell users what you have and how you protect it or when you remove it.

If you have the unfortunate circumstance of a  "bad" admin, i am sure that said website wouldn't have too many visitors for long.    Also, GDRP can go hard on that website, not to mention any law enforcement.

The tool is there to help them if it's needed, you paranoid &!#*.

You shoul

[2019-03-24 07:10] sudipt1999 opened #13883 "[REQUEST-FEATURE] Support github markdowns in chat !"
Since Rocket.Chat is a wide community and is used by all type of people, even developer use it a quite lot so it will be really great feature if we support github markdowns.

[2019-03-24 07:36] knrt10 commented on #12312
On it, would like to add this feature

[2019-03-24 08:29] JoshStrobl commented on #2885
Christ, can the devs lock this discussion with the "heated" reason? It has turned into an absolute cesspool and derailed from the actual discussion / development topic at hand.

[2019-03-24 10:32] lorek123 commented on #13882
I think you post this issue on wrong repo: https://github.com/RocketChat/Rocket.Chat.Electron. Also please update it with more details.

[2019-03-24 12:21] dersvenhesse commented on #13883
Here are informations about the current Markdown support: https://rocket.chat/docs/contributing/documentation/markdown-styleguide/. For the the extended support exists #918.

[2019-03-24 14:46] fifou17 commented on #2885
@NameTheJew you have no idea what you are talking about and how much the net is dangerous you have no idea you just dont assume and you dont care about your client and terrorists they were using twitter and facebook and they were even using chat apps and if they did not added ip ban and read the dms convo they should took alot of adolesent people with them so just dont talk about stuffs which you

[2019-03-24 17:30] justalreadytaken commented on #9512
@Wirone
I was played with Rocket.Chat Version: 0.74.3 and found that in the "Accounts.registerLoginHandler"
property "this.connection" is assigned only when connection is coming from web browser.
and "this.connection" is undefined when user trying to connect from mobile or desktop app.

Also re-connection is not coming to this module.  So user can login from office then switch-off wifi and had acc

[2019-03-24 17:49] Wirone commented on #9512
@justalreadytaken we're using desktop client and mobile apps and last time I was really verificating this, it was working correctly ;-)

Also, we have additional resource registered from server side and we periodically (interval is configurable as far as I remember) request it from client's side, so if IP does not match criteria AFTER user logs in, it will be logged out automatically.

We're curre

[2019-03-24 20:02] frdmn commented on #12593
Seeems to be fixed in 0.74.3

[2019-03-24 20:02] #12593 closed

[2019-03-24 21:06] fliptrail opened #13885 "[BUG] GitHub markdown not working properly"
### Description:

GitHub markdown or markdown as given in Rocket.Chat/docs https://en.wikipedia.org/wiki/Markdown and https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet does not work properly.

### Steps to reproduce:

1. Type `*Hello*` in the message box

### Expected behavior:

It should appear as *hello*

### Actual behavior:

It appears as **hello**

### Server Setup Information:

[2019-03-24 21:27] fliptrail commented on #918
I think that we should use showdown js library.
https://github.com/showdownjs/showdown. It has support for almost every command and it is released under the MIT version. I am working to implement it.

[2019-03-24 22:35] fliptrail opened #13886 "[UI] Text in message box is not centered"
### Description:

The text in the message box is not exactly centred which is kind of off-putting to the user.

### Expected behavior:

The text should be centered or should follow the design principles so that it looks more comfortable to the user.

### Actual behavior:

It is slightly shifted upwards
![Screenshot from 2019-03-25 04-02-54](https://user-images.githubusercontent.com/40834245/548868

[2019-03-25 06:37] Maqsyo commented on #13882
Somehow it happens that the window is on a "third" desktop. That's a common Problem with Windows and happens with many programs in some cases.

i hope this link will help you
https://www.technipages.com/bring-off-screen-window-back-onto-screen

[2019-03-25 07:11] reymonlu commented on #13528
Using Oplog fixed it ty !

[2019-03-25 07:11] #13528 closed

[2019-03-25 07:11] oefimov commented on #13688
Hope it'll be fixed by #13574, waiting for GA release.

[2019-03-25 08:53] Cruaier commented on #13849
2nd not sure: notifications (tested on Android) from a server with explicit port also resulting in an error! the notification text is displayed correctly but on "click" it doesn't display the message

[2019-03-25 09:12] knrt10 commented on #12279
On it, would like to fix this. @renatobecker  would you please add livechat label to it.

[2019-03-25 10:26] cryptobanana commented on #13704
Hi @MarcosSpessatto could you assist me in having this bug addressed?

[2019-03-25 10:37] knrt10 commented on #12388
On it, fixed it.

[2019-03-25 11:28] Peym4n opened #13888 "[NEW] Chatpal: Search for uploaded files"
Currently it is not possible to search for uploaded files (neither for filename nor for textual content within files). To achieve this, we need to:
- Enable indexing for uploaded files by extending the indexing method
- Enable file indexing in the backend
- Enable file search in the backend (for filename and textual content)
- Enable file search by adding a new search tab to the frontend

[2019-03-25 11:32] Peym4n commented on #13888
I'm currently implementing this feature.

[2019-03-25 11:53] fasttrackhost opened #13889 "[BUG] Rocket chat will always set header Access-Control-Allow-Origin"
### Description:

Comes from: [DocsIssues 1155](https://github.com/RocketChat/docs/issues/1155)

If you embed RocketChat in a second web, lets call it **https://domain2.com**
There is a problem:
You cant specify more than 1 url in 'Access-Control-Allow-Origin'.
RFC says Yes (delimited by comas ",") but most major browsers still say No and will throw a error.

The big problem is that RocketChat ser

[2019-03-25 13:22] Rodriq opened #13892 "Make scrollbar in chat list more visible"
Currently what it looks like.
  One can hardly find it.
![screenshot-open rocket chat-2019 03 25-14-16-42](https://user-images.githubusercontent.com/39289592/54922857-545a1300-4f09-11e9-94a5-2480afd071dc.png)

[2019-03-25 13:58] niklasdahlheimer commented on #13351
Hey, I got the same issue here. Unfortunately I have no access to the nginx.conf-file. So I access RocketChat directly via the IP:Port, so the nginx-reverse proxy should have no influence.
But it's still the same, RocketChat throws a timeout (RocketChat-site tries to "connect...") while uploading the zip-file (8MB).
I have disabled all the rate Limiters. Anyone an idea about that?
The import of Sl

[2019-03-25 14:00] #13873 closed

[2019-03-25 14:12] mrsimpson commented on #13461
@RocketChat/core we're experiencing similar issues after migration from node `8.9.4` (0.71.1) to `8.11.4` (0.73.2): The system load climbs to 100%, messages cannot be delivered (remain grayed out), Messages of newly opened channels cannot be displayed. After some 10-30s we can continue working as usual.
This has not happened earlier, no periodic occurrence could be identified. Any guesses or ideas

[2019-03-25 14:51] mmcconnell535 commented on #13813
Not sure if this will fix for all or not, but in our troubleshooting we determined that our MongoDB release on CentOS 7 was the the problem here.    The default CentOS repo was utilizing MongoDB at 2.6.12-1

Notifications began working again after **upgrading to at least MongoDB 3.2**

After the upgrade, all clients (web, desktop app, iOS app, Android app) had to be restarted to begin showing noti

[2019-03-25 15:21] wreiske commented on #13892
One of the biggest complaints I had coming in when moving to Rocket.Chat was that the scrollbar wasn't visible. Not everyone knows you can just scroll in the area without using the scrollbar.

![image](https://user-images.githubusercontent.com/6295044/54931721-ee14c680-4eef-11e9-82a7-b13874d2c3e8.png)

[code]
![image](https://user-images.githubusercontent.com/6295044/54931754-04bb1d80-4ef0-11e9-89

[2019-03-25 15:33] jschirrmacher commented on #8524
I can confirm that with Rocket.Chat 0.73.
![Bildschirmfoto 2019-03-25 um 16 31 29](https://user-images.githubusercontent.com/2821879/54932763-b3288800-4f1b-11e9-9cb2-b252af029c1a.png)

[2019-03-25 15:45] fasttrackhost opened #13894 "[BUG] /api/v1/users.info rooms info fails if not admin or [view-other-user-channels] set"
### Description:

Related to #12726 but different.

/api/v1/users.info with **fields={"userRooms": 1}** will only retrieve rooms if authenticating user user has role Admin or Permission "**[view-other-user-channels]**" **enabled**.  That's kind of strange, considering user can see his active rooms in chat window, why REST-API is not giving same user rooms info?? Is [view-other-user-channels] ignor

[2019-03-25 15:47] Wirone commented on #9512
@justalreadytaken FYI today I've checked our custom LDAP integration and it's working properly for desktop client and in regular browser. I found out that changing our custom configurations does not reload LDAP connection in our server method so old logic (from server's start) is applied, so I fixed it right away ;)

[2019-03-25 16:00] lpmop commented on #7247
Hi, we have same problem when I open website and scroll it,  then open livechat window i see blank page - this is related with code https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-livechat/assets/rocket-livechat.js#L556

When we set permanently set scrollPosition  to 0 work fine but after open livechat window all site is scroll to top.
On Your website You use "new-livech

[2019-03-25 16:13] renatobecker commented on #7247
https://github.com/RocketChat/Rocket.Chat.Livechat

[2019-03-25 16:38] Rodriq commented on #13892
If a different color could be made available by default it'd be cool.
  The current one is almost not visible
I managed to change using webkit too
![Screenshot from 2019-03-25 17-33-06](https://user-images.githubusercontent.com/39289592/54937481-c55af400-4f24-11e9-8968-0d8da08578fc.png)

[2019-03-25 17:00] niklasdahlheimer commented on #13351
I just had a look at the [importer js](https://github.com/RocketChat/Rocket.Chat/blob/develop/app/importer-slack/server/importer.js).

It seems like the script is only processing the `channels.json` and the `user.json`.

Does this mean, that no direct-messages (`dms.json`), private channels (`groups.json`) and multi-client-direct-messages (`mpims.json`) are imported right now?

Is there a workarou

[2019-03-25 18:44] josephsmith1990 commented on #9385
Pagnotta - Theortically, it should work. Everything I'm reading and experience shows that it's a question of moving it ahead of the script tag.   How did you run the temporary server?  I thought Rocket.Chat web-interface calls the Rocket.Chat hosted .js file.  You're saying you just hosted it on your end, and had it refer there?

Hopefully someone can validate this on their end. It really should b

[2019-03-25 19:54] reffu42 opened #13897 "Reactions containing invalid character(s) causes loadHistory call to fail"
### Description:

A channel on our RC server recently failed to load past the first few posts. The error in the browser developer console was

```Exception in delivering result of invoking 'loadHistory': MinimongoError: "Key :make.sense.to.me: must not contain '.'"```.

It looks like the issue is with reactions with custom emoji containing invalid MongoDB key characters ( `.` in this case).

### S

[2019-03-25 19:59] paulstephan commented on #13461
The workaround I've been using is to schedule a reboot of the server daily at non-office hours. Pretty annoying, but it works..

[2019-03-25 20:37] facundomedica commented on #13340
@MarcosSpessatto I have an specific case. Calling:

[code]

works, but the same call in my browser fails. There is no cookie nor auth token sent to the server.

![Screen Shot 2019-03-25 at 20 35 33](https://user-images.githubusercontent.com/14063057/54952370-b9c7f700-4f3d-11e9-8df5-4e131eb25db5.png)

[2019-03-25 20:46] Hudell opened #13898 "[FIX] Replace "View All Members" button with a chevron on top only in channel"
### Description:

The "User Info" panel has a button to show the list of users on the current room, but when accessing it on a Direct Message, this button will cause the panel to malfunction. I believe there's no reason to even keep the button visible there.

### Steps to reproduce:

1. Open a DM with any user
2. Click the "User Info" option
3. Click the "View All Members" button

### Expected beh

[2019-03-25 20:56] discon-nected opened #13899 "Ability to sort search by Users, Rooms, LiveChat Guests, etc"
RC version 0.74.3

Rooms, Users and LiveChat Guests should be separately searchable. If you click the search button you get a list of all of these items, jumbled together...
![image](https://user-images.githubusercontent.com/20234985/54953479-2f1ee080-4fad-11e9-9fc5-186927114785.png)
It would be great to have a sort function to isolate what you are looking for.

[2019-03-26 00:01] derhornspieler opened #13901 "iOS SSL error"
iOS app cannot create SSL connection when using DoD certs. No option to accept them, import them, or connect.  Works fine on Windows Rocket chat app and web app. I suspect it is isolated to iOS app.

[2019-03-26 04:55] khaledalyawad commented on #1112
Guys I raised another PR of slack like threading https://github.com/RocketChat/Rocket.Chat/pull/13805

[2019-03-26 05:21] khaledalyawad commented on #13843
I raised another PR for threading https://github.com/RocketChat/Rocket.Chat/pull/13805

[2019-03-26 06:39] faust64 commented on #10714
@maurice-does-software : can you tell us more about your setup?

Can you confirm the symptoms you're mentioning are local to your MongoDB deployment? Is memory usage on your RocketChat container consistent with what you used to see?

Can you give us your:
- version of nodejs
- version of mongodb
- version of RocketChat you used to have prior applying your patch/what are we comparing to?
- memory a

[2019-03-26 08:47] AndreasHo opened #13903 "Rest API Login/Logout Response"
Hello,

i am using the Rest-API to call with the RocketChat by a custom design.
I have a question about the response type from the login/logout function.

Why is the success information in the property status (status = "success")?
In the other response, for example channels, the information is a own boolean (success: true).

Bye Andreas H.

[2019-03-26 08:55] skyJG opened #13904 "RealTime API stream-notify-user/message event"
Hello,

we are connecting to the RealTime API to recive Updates for a certain User.
But we haven't had a successfull trigger of the Message Event.
All other Events are Working (room-changed/subscription-changed).

When will the stream-notify-user/message event be triggered?

Bye skyJG

[2019-03-26 09:33] fasttrackhost commented on #13715
Recently discovered that duplicated rooms occur when login in with 2 or more users.

Cache/cookie will remember the previous user rooms and show it even after logout and login with a different user.

Clearing browser cookies will fix it.

**The problem is that the second user login in will see the previous user private rooms.** So if a computer its used in a public location where several users hav

[2019-03-26 10:03] tuxcrafter commented on #9545
I am using Rocket.Chat 0.74.3 and I am having SLO errors with SAML. When looking at the code I see differences does the latest version of Rocket.Chat have the upstream patches from steffo? Would somebody be willing to help me out: https://github.com/RocketChat/Rocket.Chat/issues/13831

There is still html body generation in a few places in the code, can this be updated as well to be integrated bet

[2019-03-26 12:35] niklasdahlheimer opened #13905 "Slack Import: corporate-export data (direct messages, private channels, etc.) is not imported"
### Description:

Right now Rocket.Chat´s Slack Import only imports public channels, users and messages.
The coporate-export of Slack gives the opportunity to also export:

- private channels  ("groups")(`groups.json`)
- direct messages (`dms.json`)
- multi-user-conversations (`mpims.json`)

The [importer.js](https://github.com/RocketChat/Rocket.Chat/blob/develop/app/importer-slack/server/importer

[2019-03-26 15:17] reetp commented on #13813
Check the releases page for the software versions required

https://github.com/RocketChat/Rocket.Chat/releases

Rocket 0.74.3 and Development 1.0.0-beta.2

Node: 8.11.4
NPM: 6.4.1
MongoDB: 3.2, 3.4, 3.6, 4.0

[2019-03-26 15:49] MarcosSpessatto commented on #13340
@facundomedica sorry for the long delay. I'll take a look on this again.

[2019-03-26 16:07] mmcconnell535 commented on #13813
Understood, would it be possible for the update to do a dependency check and throw a warning or notice if the versions are below requirement?

For us, I suspect that when this was initially installed it met the requirements, but over time as the dependencies changed it became out of sync on our end.

[2019-03-26 16:53] FabianKirsche commented on #5099
In addition to the behaviour explained above I think I also found a bug.
In the dialog to create the user, after clicking on save, I received the info about the restriction (in the top-right corner) BUT I also received a Email notifying me that this new user just registered and needs activation (which clearly didnt happen).

[2019-03-26 17:03] gsunit commented on #13899
@sampaiodiego @engelgabriel If this feature is something that is required, I would like to work on it.

[2019-03-26 18:54] MarcosSpessatto commented on #13340
@facundomedica what is the status of the response? Feel free to DM if you want (https://open.rocket.chat/direct/marcos.defendi), maybe it could be more efficient.

[2019-03-26 20:00] sudipt1999 opened #13907 "padding missing in button"
In memberlist, the button padding is broken or not done!
![Screenshot from 2019-03-27 01-27-44](https://user-images.githubusercontent.com/38929617/55029322-d47a9880-502f-11e9-86fc-eb32b90193f5.png)

[2019-03-26 20:00] sudipt1999 commented on #13907
I am working on this.

[2019-03-26 20:36] sudipt1999 commented on #13907
#13908

[2019-03-26 20:41] sampaiodiego opened #13909 "Directory fields wrong size"
As seen below when Federation is enabled:

![image](https://user-images.githubusercontent.com/8591547/55031861-58139580-4fee-11e9-8592-81a4393db69b.png)

[2019-03-26 20:47] sudipt1999 opened #13911 "[UX] Toast should be closed"
![Screenshot from 2019-03-27 02-15-18](https://user-images.githubusercontent.com/38929617/55032197-58378380-5036-11e9-93a1-18fde55f9e88.png)

The toast should have a button that would close it, because it is not a good UX for user to not able to close it !

[2019-03-26 21:00] sudipt1999 opened #13912 "[UI] outline of modal button is not appropriate"
It looks like a large and a small button placed together!
![Screenshot from 2019-03-27 02-29-02](https://user-images.githubusercontent.com/38929617/55033054-46ef7680-5038-11e9-9e9a-8d368c895402.png)

[2019-03-26 21:17] ggazzo commented on #13912
sorry but I'm afraid its how should be =/ thats why have a "nude" button =/

[2019-03-26 21:17] #13912 closed

[2019-03-26 21:20] sudipt1999 commented on #13909
@sampaiodiego  should I fix it, I guess we need to increase the height of component

[2019-03-26 21:20] ggazzo commented on #13911
I'm not sure, but I think that banner should disappear only if you enter you e2e password, what do you @thiagosanchz

[2019-03-26 21:22] sudipt1999 commented on #13909
I guess we need to set a min height attribute for that component and that will do the work

[2019-03-26 21:38] sudipt1999 commented on #13909
#13915 pr for this issue

[2019-03-27 00:14] ZhuGuanyu commented on #13846
Hey, any update on this one? thanks

[2019-03-27 07:36] hypery2k commented on #533
any progress on this?

[2019-03-27 08:14] cchbr opened #13916 "Retention policy not working"
### Description:

The automatic pruning of messages does not work. I had messages that were several months old and set the maximum message age to one day but it didn't remove anything. Now I've manually pruned all old messages in the hope that the automatic pruning will work when new messages are older than one day, but that doesn't work either.

### Steps to reproduce:

1. Activate Retention poli

[2019-03-27 08:31] micw commented on #9536
Hi, may it be that this is broken again?
I have added a custom field "Durchwahl". Users can see and edit this field in their profile. But I cannot see it on the user info.
I already added it to CustomFieldsToShowInUserInfo - had no effect.

[2019-03-27 08:54] micw commented on #7610
The issue is that this is not documented, especially the "Custom Fields to Show in User Info" part.
I've created a PR for it: https://github.com/RocketChat/docs/pull/1174

[2019-03-27 10:21] justalreadytaken commented on #4554
If you will change option **Login Fallback** to **False**
Users will not able to login anymore if LDAP auth was failed in any reason.

[2019-03-27 10:36] justalreadytaken commented on #9512
Did you try mobile client?
I'm still having issue connection from mobile client has not defined
**this.connection.httpHeaders**
and
**this.connection.clientAddress**

my debug code returning this
=> App running at: http://localhost:3000/
I20190327-11:30:18.893(1)? taking real visitor's ip
I20190327-11:30:18.895(1)? Object this.connection.httpHeaders is not defined
I20190327-11:30:18.896(1)? Object

[2019-03-27 11:05] skyJG commented on #13904
I made a test in the ARC client.
I can successfully Register the Event:.
![github rchat message notify user](https://user-images.githubusercontent.com/19854635/55071116-0881a800-5088-11e9-9dcb-e3fbf2430a42.png)

But I can't get it to fire.
Maybe it's the same as #12202

[2019-03-27 11:28] Wirone commented on #9512
@justalreadytaken We decided to not handle mobile client since we don't have build process for it and we can't force people to install our version. Never tested how our custom business logic works with mobile client, but I use Android app every day and I don't have problems.

[2019-03-27 12:00] reetp commented on #13901
Without knowing too much about 'DoD' certificates, and having a read around as a result, it seems they are not quite as straightforward as say a Letsencrypt cert :-)

The iOS app is indeed a bit fussier and requires a SSL connection, but I think this type of cert is above and beyond what it is expecting. I am not sure any of the apps can handle this type of cert currently.

You may well need to ro

[2019-03-27 12:19] derhornspieler commented on #13901
Found the correction.  You have to go to Settings - General - About - Certificates - and then trust the root certificate such as the DoD Root.  Now there app works.   The solution to solve this is to allow the app to prompt the user whether they wish to trust an unknown certificate like all your other platforms provide. :-)

Hope this helps for sure updates releases.  Solid product and really enjo

[2019-03-27 12:23] jhmk opened #13917 "Feature: Request: Google Meet support"
Normally RC is just supporting Jitsi & BigBlueButton for Video Conference.
By changing the Domain in the settings for Jitsi to "hangouts.google.com/hangouts/_" you can use hangouts at the moment because a new Meeting will be created when opening this URL.

But because Hangouts will be deactivated this year and the new Google Meet don't support auto-creating a meeting URL by opening an URL this wil

[2019-03-27 13:16] sampaiodiego opened #13918 "Set focus to filter field when opening emoji picker"
It would be cool to set focus to emoji search when opening the emoji picker.

Currently when you click to open the emoji picker the focus stays on message box field.

[2019-03-27 13:38] iesit commented on #4554
Yes, however, then you cannot authenticate users using the local database, so you MUST have ALL users (including the administrator) assigned LDAP accounts.  I think ideally you should allow external and internal authentication with some sort of "hybrid" system.

[2019-03-27 14:01] pernodpepper commented on #13426
It's fixed in the beta I see. But can it be fixed on the normal version?

[2019-03-27 14:03] Shaverdoff commented on #4554
agree with the previous speaker.. is more than one software that use two backend auth

[2019-03-27 14:12] MarcosSpessatto commented on #13631
@luismachado sorry, the `unread` property is added in the room object when the message read receipt is enabled (I completely forgot :disappointed: ). Anyway, I opened [a PR](https://github.com/RocketChat/Rocket.Chat/pull/13919) that will fix it. Thanks for figured out this problem.

[2019-03-27 14:31] ashwaniYDV opened #13920 "While adding custom emoji if aliases is set to name then also it shows updated."
### Description:
While adding new or updating existing custom emoji if the alias is set to name then also it shows "Custom emoji updated successfully". It should give a validation error message through toastr that name should not be equal to aliase.

### Steps to reproduce:

1. Go to custom emoji tab in administration.
2. Click on the add button to create new custom emoji.
3. If aliase is set equa

[2019-03-27 15:11] reetp commented on #13901
Glad you sorted it out.

I'm not sure iOS allows that. But that is a iOS app setting rather than Rocket.Chat itself - this Issue probably needs moving to the right repo.

Seriously ???? ;-)

[2019-03-27 15:53] ThreewayDude commented on #13909
Setting the height attribute for the search bar to 100% corrects the issue

[2019-03-27 16:56] engelgabriel opened #13990 "Replace "Take Conversation" model with the new Join Room UX"
Allow agents to preview the channel before taking it.

![image](https://user-images.githubusercontent.com/1000217/55095952-c82a2600-5097-11e9-9008-540841bbd3db.png)

We should use the same new UX of the joining room, but replace the button label with "Take it".

[2019-03-27 19:49] BigBot96 commented on #13426
Would be great if this fix could be pushed out for the stable release.

[2019-03-27 20:08] rsmartins78 opened #13922 "Not sending audio"
### Description:

In common chat or livechat, when we try to send audio, occurs a error in console of web browser

### Steps to reproduce:

Try to send audio in any chat.

### Expected behavior:

Send audio successfully

### Actual behavior:

Error in console:

![image](https://user-images.githubusercontent.com/33657518/55108461-6925da80-50b2-11e9-9f9d-7c248a1ae94e.png)

### Server Setup Informati

[2019-03-27 20:26] ThreewayDude commented on #13909
I found that setting height parameter of rc-input__element--small to 100% fixes the issue.

[2019-03-27 20:50] sampaiodiego commented on #13909
added a comment regarding the `Local Domains` field on the screenshot. it is there because Federation is enabled

[2019-03-27 22:41] DarkRider1768 opened #13926 "Messages sending out of order (or, frequently, not at all)"
### Description:
Messages are displaying out of order, if they display at all.

### Steps to reproduce:

1. Send a private message.
2. Anticipate it showing on the next line below.
3. Observe it showing up several lines above.

### Expected behavior:
Send a private message.
Observe it showing on the next line below.

### Actual behavior:
Send a private message.
Observe it showing up several lines

[2019-03-28 00:54] MarcosSpessatto commented on #13903
Hey @AndreasHo, there is no apparent reason. We can change this without problem. :slightly_smiling_face:

[2019-03-28 01:02] MarcosSpessatto commented on #13889
@fasttrackhost did you try the docs about [Apache](https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/#running-behind-an-apache-ssl-reverse-proxy) and [Nginx](https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/#running-behind-a-nginx-ssl-reverse-proxy) ?

[2019-03-28 01:04] geekgonecrazy commented on #13922
which browser?

[2019-03-28 01:08] geekgonecrazy commented on #13905
Does the export its self actually include these?  If I remember right if the person who exported is not part of a channel slack doesn't even export them

[2019-03-28 01:08] MarcosSpessatto commented on #13881
@sudipt1999 What browser are you using?

[2019-03-28 01:13] geekgonecrazy commented on #13883
Dupe of: #918

Closing

[2019-03-28 01:13] #13883 closed

[2019-03-28 01:19] geekgonecrazy commented on #13847
Typically when sharp isn't working right on centos its this issue: https://github.com/RocketChat/Rocket.Chat/issues/12788

@mouragio can you check: /opt/Rocket.Chat/programs/server/npm/node_modules and see if sharp is in there?

[2019-03-28 01:23] geekgonecrazy commented on #13840
To quote uncle ben:

Should we not just wack a wontfix?  Or add a description under it?  I remember most php apps where if a install.php file existed this type of thing happened and it was kinda up to the admin to make sure this didn't happen.  If it showed up the app assumed it was intentional.

Kinda feel like the same sort of thing here.

Unless we truly don't want them to go back through the w

[2019-03-28 01:25] geekgonecrazy commented on #13837
from the screenshot it looks like doodle1 was actually removed from the channel when you are about to insert 🤔

[2019-03-28 01:27] geekgonecrazy commented on #13822
Take a look in admin->info and see if the it shows that its connected to the other instance.  If not you may need to set INSTANCE_IP=ip:port-running-on

[2019-03-28 01:36] geekgonecrazy commented on #13813
@mmcconnell535 ❤️ thanks for posting your server info like that.  It really does make a world of difference in solving the issue as you see here we could see the problem. :grin:

@jerrylanejohns can you post the server info also?

[2019-03-28 02:34] geekgonecrazy commented on #13792
Just to be clear.. its actually creating them with the space in their username?

[2019-03-28 02:36] geekgonecrazy commented on #13788
Please feel free to open a PR removing it since the link is broken

[2019-03-28 02:36] geekgonecrazy commented on #13768
I believe updating to Mongodb 3.2 will solve this

[2019-03-28 02:37] geekgonecrazy commented on #13758
Which browser?  Is this Chrome on Android or what?

[2019-03-28 02:42] geekgonecrazy commented on #13750
Definitely a bug.  Even if we don't allow joining from a link for private groups... we shouldn't show the password box.

Not sure if we want to allow going to a link and entering or requesting to join... or just remove the setting of password on private group

[2019-03-28 02:43] geekgonecrazy commented on #13745
Closing, please comment / re-open @ChesterSVK if you still encounter it

[2019-03-28 02:43] #13745 closed

[2019-03-28 02:45] geekgonecrazy commented on #13721
Please add more details on your setup as present in the issue template.  Its not there because we just like it.  But it helps us help you.

Please feel free to edit with the answers and re-open 😄

[2019-03-28 02:45] #13721 closed

[2019-03-28 02:46] zenjabba commented on #13768
Thanks

[2019-03-28 02:51] geekgonecrazy commented on #13666
are you git cloning in the docker build?  Or are you coping in?

If copying in make sure its a clean clone.  No node_modules etc.

[2019-03-28 02:55] geekgonecrazy commented on #13649
@fosBHY can you maybe ssh in and do again and get logs?  All of the above fields that you said can't check now are actually useful in helping.

Especially the exception in the logs

[2019-03-28 03:06] geekgonecrazy commented on #13539
This is kind of a jitsi issue... I find even when in opening outside of Rocket.Chat user joins and such will pop up in the way of the mic / end / camera buttons.  Very annoying

[2019-03-28 03:07] geekgonecrazy commented on #13484
Can you try on a new version of Rocket.Chat?  0.65.0 is pretty old.  Please re-open if still happens

[2019-03-28 03:07] #13484 closed

[2019-03-28 03:09] geekgonecrazy commented on #13446
I'd reach out to your CPANEL provider.  I don't think there is anything we can really do about this one.

You might be able to use the non-ssl port if they provide one.

[2019-03-28 03:09] #13446 closed

[2019-03-28 03:12] geekgonecrazy commented on #13301
From the container can you hop in it and actually hit that port?  like curl http://rocket-1:3000/api/info ?

This seems like an issue with the network layer

[2019-03-28 03:18] Rodriq commented on #13758
Yes Android 8.1.0 Oreo. Chrome browser.

[2019-03-28 03:31] geekgonecrazy commented on #13843
@mrsimpson I struggle with this one...

Chat is a weird mix of async with bursts of sync depending on the person or group.  Because of this I think these two different ways of approaching forking from main topic make sense.

---

I think in the original thread issue I said I didn't see the point in threads. 🙈  Even when i've been forced to use slack to communicate.. It just feels weird and un-natu

[2019-03-28 06:10] sudipt1999 commented on #13881
Google chrome sir

On Mar 28, 2019 6:38 AM, "Marcos Spessatto Defendi" <
notifications@github.com> wrote:

[2019-03-28 06:29] ThreewayDude commented on #13909
Can I fix this issue? I was able to resolve the problem on my system.

[2019-03-28 06:54] sudipt1999 commented on #13909
@ThreewayDude  Iam already working on that!

[2019-03-28 06:57] sudipt1999 commented on #13837
But channel isn't showing any notification regarding this ! Its actually allowing both sudo1 and doodle to be added again . Well I am still unable to locate which adds the users to popup.

[2019-03-28 07:12] mouragio commented on #13847
hi, thanx for the reply.

I checked, but no, there is no sharp in the directory /opt/Rocket.Chat/programs/server/npm/node_modules....

the places where sharp is resided:
/opt/Rocket.Chat/node_modules/sharp
/opt/Rocket.Chat/bundle/programs/server/npm/node_modules/sharp
/opt/Rocket.Chat/programs/server/node_modules/sharp
/usr/local/lib/node_modules/sharp

Also checked the ZLIB versions:
strings /lib

[2019-03-28 08:36] fasttrackhost commented on #13889
Thank you for the reply,

CORS is not the problem, we already embedded RocketChat in a Iframe, Auto Login working well, and authenticated requests can be made too, see [1155](https://github.com/RocketChat/docs/issues/1155).
Please also have a look at bug #13859

**The problem is**:
'Header always set **Access-Control-Allow-Origin** https://domain1.com'

As explained, the Header parameter **Access-

[2019-03-28 08:37] niklasdahlheimer commented on #13905
Thats true in case you use standard export. In the plus-plan you can use the copoerate-export which includes all I mentioned above. You can read about the differenz export-types here:
[Sack : Export your workspace data](https://get.slack.help/hc/en-us/articles/201658943-Export-your-workspace-data)

The structure of the zip file is then:

[code]

The structure of the dms.json is like this

[code]
I

[2019-03-28 08:55] geekgonecrazy commented on #13905
Nice!  Yes if you open a PR we can likely collaborate and get it merged.

Cc: @Hudell probably would be involved here

[2019-03-28 09:46] scebryan commented on #4554
Hi all!

+1 with @iesit. Is it possible to know if someone is going to try to solve this?

Thanks!

[2019-03-28 09:48] scebryan commented on #6144
I think that this request is the same that #4554.

[2019-03-28 10:14] wiebeytec opened #13929 "Adding emoji to message: focus in the filter box and make escape work"
### Description:

After clicking on the 'add emoji' icon for a message, there are two problems:

* if you want to filter, you first have to click the filter box. The way it is now, the popup is half-way pop-up, half-way pop-under.
* You can't press 'escape' to get rid if the pop-up should you change your mind.

### Expected behavior:

* Since a form control that you can type in pops up, I expect t

[2019-03-28 10:57] appelmoesje commented on #13298
I also would like to use AWS DocumentDB for our Rocket Chat. Tried the same thing @jerryline did but didn't work. I got errors like "namespace name generated from index name is too long".

I thought AWS DocumentDB uses MongoDB 3.6 and all the applications you can use on Mongo you also can uses on AWS DocumentDB, but that isn't the case.

Did you find a solution for using AWS DocumentDB on Rocket C

[2019-03-28 11:08] rsmartins78 commented on #13922
Google Chrome For Linux Version 73.0.3683.86 (Official Build) (64-bit)

[2019-03-28 11:31] localguru commented on #12534
@MarcosSpessatto this bug is still open, just tested is on 0.74.3

[2019-03-28 11:32] localguru commented on #12534
see also #12058

[2019-03-28 11:44] aijanai opened #13930 "UX does not effectively highlight unread private messages"
### Description:

When a user sends a private message, beside the temporary notification popup, it's nickname is not lifted in any way to the visible portion of the screen, resulting in missed messages if the user is not at his desk when the message arrives.

### Steps to reproduce:

1. Have enough private conversations that the list overflows the viewport.
2. Receive a private message, disregardi

[2019-03-28 11:48] subesokun commented on #13461
@Sing-Li Any progress on this issue? We're expiring this issue on a daily base and need to restart Rocket.Chat at least once a day. Also, we're permanently suffering from delayed message deliveries (message remains grayed out for more than 30 sec). The users on our platform are already complaining and we don't know what we can do. Please, urgent attention is required on this issue.

[2019-03-28 12:29] ThreewayDude commented on #13909
Oh I'm sorry. XD

[2019-03-28 13:44] Kirinkunhime opened #13931 "No Sound set for Desktop Notifications on Rooms"
### Description:

When joining a room ( e.g. #test-env ) I expect to receive a notification sound.
When checking the notification preferences it seems that the 'Sound' under 'Desktop Notifications' is not set at all!

### Steps to reproduce:

1. Join a new room
2. Go to 'Notification Preferences'
3. Check 'Sound' under 'Desktop'

### Expected behavior:

Sound should be set to 'Use Account Preferen

[2019-03-28 13:50] tars21 commented on #13494
This error does not appear on our productive setup with the same environment like avove.
I've no idea which difference is responsible for this error.. but I think this issue here can be closed then.

[2019-03-28 14:01] tassoevan commented on #13932
@geekgonecrazy Transfered it back since it looks like a bug relatedto anonymous/guest access.

[2019-03-28 14:02] MarcosSpessatto commented on #13431
@geekgonecrazy can we close this issue?

[2019-03-28 14:03] tassoevan commented on #13461
Anyone noticing a high memory usage too?

[2019-03-28 14:07] marceloschmidt commented on #11403
Related:
https://github.com/RocketChat/Rocket.Chat/pull/12710
https://github.com/RocketChat/Rocket.Chat/pull/9353

[2019-03-28 14:24] marceloschmidt commented on #11023
This is not a problem anymore on new livechat client.

[2019-03-28 14:24] #11023 closed

[2019-03-28 14:33] engelgabriel commented on #11563
We should allow users to see the past conversation and start fresh new ones, like on intercom.

![image](https://user-images.githubusercontent.com/1000217/55166068-3a107700-514d-11e9-930e-8cdb4080fa52.png)

[2019-03-28 14:33] hnategh commented on #12448
Hi,
I had similar phenomena, it turns out for me to be the Account->Iframe settings that I enabled to implement Iframe authentication for an app I am developing. It seems that if you switch on the Account->Iframe and not defining any Iframe URL then you would end up in that situations. Maybe Rocket.Chat developers can add up a warning or send out an info to the login interface to not just fail sil

[2019-03-28 14:34] marceloschmidt commented on #11847
It's been implemented. Thanks.

[2019-03-28 14:43] fabien4455 commented on #13186
Up again for 1.0.0 🗡

[2019-03-28 14:47] #13302 closed

[2019-03-28 15:00] renatobecker commented on #11280
Hi @janrudolph
We already have a setting where you can decide what to do with the livechats when an agent goes offline:

![Screen Shot 2019-03-28 at 11 53 27](https://user-images.githubusercontent.com/2067649/55167665-303c4300-5150-11e9-9b65-d22ba67ba58c.png)

And related to the client side(widget), we are now displaying the status of the agent on our new Livechat widget, as you can see below:

![

[2019-03-28 15:25] vfxpandit opened #13934 "Custom data in directory view"
I successfully added custom fields (Designation, Department) in user info using

Now I want to show these custom fields in directory for other users can view department and designations of users.

see image for reference

![DIrectory](https://user-images.githubusercontent.com/3602527/55169829-6ad5c800-51b0-11e9-9e89-49c8c6504dc2.png)

[2019-03-28 16:50] #13788 closed

[2019-03-28 16:52] geekgonecrazy commented on #13431
If it’s a can’t fix sort of deal I guess so

[2019-03-28 16:52] #13431 closed

[2019-03-28 16:55] geekgonecrazy commented on #13932
@alleniver please fill out the template provided when opening a bug here that way we can attempt to reproduce and fix

[2019-03-28 17:02] geekgonecrazy commented on #13298
Documentdb is basic mongo compatible but does not actually implement all of the features.  We use some of mongos features that I cannot see aws implementing for documentdb.  Like oplog.

You might manage to hack it together... but it’s not really mongo so your job administering it would likely always be higher and more prone to breaking

[2019-03-28 17:43] mkretzer opened #13937 "Helm chart not enabling oplog by default"
### Description:

When using the helm chart to deploy rocket oplog is not enabled so scaling the rocket pod is not possible - which would be very helpful in most environments, even if no db ha is needed

### Steps to reproduce:

Deploy via normal helm chart
Oplog is not enabled

### Expected behavior:

Oplog enabled by default

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.2

[2019-03-28 18:20] josephsmith1990 commented on #9385
...to add to my last comment, here's why the code (and where it's placed) matters for those of us in a corporate environment that: a) forces display of intranet sites in compatibility mode, and b) has IE11 as default browser:  http://tesmond.blogspot.com/2011/10/ie9-intranet-compatibility-mode-in.html

The link also provides the solution :)

[2019-03-28 18:55] sbarre-esit commented on #13857
Could there also be a star icon next to the message?

[2019-03-28 19:56] lucassmacedo opened #13939 "Problem calling method API"
[code]
i got the error
{"success":false,"error":"Method 'method' not found [404]","errorType":404}

[2019-03-28 20:22] pshute commented on #13878
It already shows "You can search using RegExp. e.g. /^text$/i". Did you mean to add another example?

[2019-03-28 20:25] pshute commented on #12819
New example:
A search for opportun returns results.
A search for opportu returns no results.
Expecting matches for "opportunities".

[2019-03-28 20:39] bhardwajaditya opened #13940 "[IMRPOVE] Mount reply from broadcast channels in direct channel"
Currently any reply to a message in a broadcast channel does not indicate to which message the sender has replied to.

It would be better if the reply is mounted to input field just like replies/quote in same channel.

![reply-broadcast](https://user-images.githubusercontent.com/23612313/55191010-0c681400-51c7-11e9-80cf-77d481c1d63c.gif)

[2019-03-28 20:41] sampaiodiego commented on #13909
take it easy guys =)

everyone is welcome to help and contribute.. an issue doesn't belong to a person :wink:

you guys can help testing @tassoevan fixes on #13938

[2019-03-29 01:21] tassoevan commented on #13539
As a workaround, set `Administration > Video Conference > Jitsi > Always Open in New Window` to `True`.

[2019-03-29 01:53] macmandr197 opened #13943 "Migrating rocketchat from snap to docker on new host"
Alright, so. I'm reconfiguring how I want to run my server and have decided to go from running snaps on ubuntu, to a docker container on unRAID. How would I go about migrating my data/configurations over? Is it the same as the proposed solution in this issue: https://github.com/RocketChat/Rocket.Chat/issues/4297

[2019-03-29 04:39] vadipp commented on #3358
But #4688 was closed as Won't Fix. So I think that this issue should be reopened again.

[2019-03-29 05:16] vadipp commented on #11388
What about users with Cyrillic, Greek, Chinese or whatever alphabets? They can't even create channels with names in their native language, because there has to be at least one digit or latin letter in the channel name. And it should be unique across all channels. So I just can't create channels like `Разработка` or `Поддержка`. It is ok for developers, but not intuitive for other team members who

[2019-03-29 05:25] netlabs opened #13944 "How to integrate bigbluebutton with rocket chat"
Please help me.

[2019-03-29 05:49] geekgonecrazy commented on #6515
Did #11332 solve this?

[2019-03-29 06:28] geekgonecrazy commented on #3358
Feel free to open a feature request on https://github.com/rocketchat/feature-requests

[2019-03-29 06:39] netlabs opened #13945 "Unable to start BBB call in rocket chat"
When we try to call we get this page and no response afterward. Please help

![image](https://user-images.githubusercontent.com/45689540/55214038-67c3f180-521b-11e9-9232-dd204b847ea5.png)

[2019-03-29 09:01] harimani83 commented on #13542
@pafik13 this error was fixed or not still i am facing same issue on my windows 10

[2019-03-29 10:26] #13930 closed

[2019-03-29 10:27] aijanai commented on #13930
Found it in the AZ ordering preference, it's just disabled by default.
Apologizes.

[2019-03-29 10:28] Impamark commented on #13939
You crossposted this query to a few channels on https://open.rocket.chat and then didn't bother to wait for a reply to see if someone had an answer.

You haven't bothered to fill out a Issue template like this:
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Have you considered your error message?

Where did you find the API end point `LDAP_Sync_Now` ?

[2019-03-29 11:57] reetp commented on #13943
This is a support question rather than a bug. You can ask questions in the forums or https://open.rocket.chat #support for community support.

The most important thing is to make sure you import the DB to the same version of Rocket that you backed it up from.  Do NOT try and save from one version and import to another.

[2019-03-29 12:05] reetp commented on #13943
@rocket-cat close

Closing notabug

[2019-03-29 12:05] #13943 closed

[2019-03-29 12:10] reetp commented on #13944
Github is for Issues with the software. It is not a help forum.

Please visit the forums or https://openrocket.chat #support

[2019-03-29 12:11] reetp commented on #13944
@rocket label close

Please don't open multiple Issues as per this

https://github.com/RocketChat/Rocket.Chat/issues/13945

[2019-03-29 12:12] #13944 closed

[2019-03-29 12:15] reetp commented on #13945
If you believe there is an Issue with Rocket please read this carefully:
https://rocket.chat/docs/contributing/reporting-issues

Then fill in the the bug template and paste the information here:
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Server setup and logs are required. No one can help you without this information

[2019-03-29 12:17] reetp commented on #13932
This one :-)
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-03-29 13:33] vikas0121 commented on #3919
Facing problem while using video conference issue.
Please help.
<img width="1439" alt="Screenshot 2019-03-29 at 7 02 05 PM" src="https://user-images.githubusercontent.com/11190269/55236164-5566a980-5255-11e9-92a5-761c43502769.png">

[2019-03-29 17:52] sudipt1999 opened #13950 "[UI/ UX] Adding a button on page to scroll to top"
![Screenshot from 2019-03-29 23-20-01](https://user-images.githubusercontent.com/38929617/55252607-5578a080-5279-11e9-89a7-86345d083542.png)

How about adding a button to scroll at the top of the page! Will give a good UX to user

[2019-03-29 17:58] kerolloz commented on #13950
I believe this issue should be opened in docs repo :rolling_eyes:

[2019-03-29 18:00] sudipt1999 commented on #13950
Will do !

[2019-03-29 18:00] #13950 closed

[2019-03-29 20:23] saschafoerster commented on #10797
I am one of users searching for this and it took my some time to come back to find this thread with a working solution. But still: favorites over all channels are a great way to remember stuff that has to be done later, and if I don't remember the channel, I am lost again and the star-feature is not very useful to it's full extend. https://github.com/RocketChat/Rocket.Chat/issues/11435

[2019-03-29 20:28] fifou17 opened #13952 "Exception in callback of async function: Error: Cannot find module './PeerServer'"
Exception in callback of async function: Error: Cannot find module './PeerServer'
I20190329-21:26:26.919(1)?     at makeMissingError (packages/modules-runtime.js:222:12)
I20190329-21:26:26.921(1)?     at Module.require (packages/modules-runtime.js:241:17)
I20190329-21:26:26.922(1)?     at Module.moduleLink [as link] (/home/faz/.meteor/packages/modules/.0.13.0.176lf51.fi71++os+web.browser+web.brows

[2019-03-29 20:33] saschafoerster commented on #11435
Closing because of duplicate with feature request #10797.

[2019-03-29 20:33] #11435 closed

[2019-03-29 20:36] #13768 closed

[2019-03-30 12:26] mohamedar97 commented on #13929
done in PR #13956

[2019-03-30 14:55] engelgabriel commented on #6281
@tribjcrea has this issue been fixed on the latest version?

[2019-03-30 22:25] bkraul opened #13957 "Apps system broken: imgur, giphy apps not returning results"
### Description:
The apps system seems to be broken. The apps listing shows `$NaN` on status of not-yet installed apps. Attempting to install an app returns a 404 error. Also if imgur and giphy apps are already installed, using them generates a `no results found` message.

### Steps to reproduce:
1. Update to latest develop docker image (849c9d1)
2. Go to Administration - Apps.
3. See the broken l

[2019-03-31 02:38] lolimay opened #13958 "Add hover style for Admin->Permissions table"
The current  Admin->Permissions table does not have a hover style as shown below:

![without_hover](https://user-images.githubusercontent.com/32427260/55284013-ded6c280-53a0-11e9-8be8-74f51293b4b3.gif)

If a hover style can be added, users can see each row more clearly when they are modifying Permissions for roles.

[2019-03-31 08:45] lolimay opened #13960 "What's the difference between start-discussion and start-discussion-other-user?"
Hi, everyone! I am currently working on improving the Permissions part of the official documentation. See [docs/issues#1191](https://github.com/RocketChat/docs/issues/1191).

I am trying to understand 14 new permissions by reading the source code and testing locally. What I am confused about is the difference between `start-discussion` and `start-discussion-other-user`.

We can see the details of

[2019-03-31 11:09] Rsmiley opened #13961 "Register User via Realtime API does not include username"
So after a rabbit hole adventure of trying to figure out why the users I'm creating with the Realtime API cannot login with said Realtime API. I've reviewed issue #11833 but that was not the issue I was experiencing (except with *my* admin user)

Upon further view I found that the users are being created with no username, but they're expected to login with one? The documentation doesn't advise of

[2019-03-31 11:25] Rsmiley commented on #13961
Closing - Found a workaround resolution for anyone googling in the future. Just use the Rest API I suppose.

```$.post('https://demo.rocket.chat/api/v1/user.register', { "email": "", "user": "", "username": "", "pass": ""});``` [jquery example]

[2019-03-31 11:25] #13961 closed

[2019-03-31 13:17] Tri0L commented on #11713
**Administration -> Assets -> favicon (svg)**

this field contains server logo (left side in desktop apps).

[2019-03-31 14:23] jdpond commented on #6791
File type invalid image/x-icon
![image](https://user-images.githubusercontent.com/271131/55290249-e1d0b380-539e-11e9-8480-168699be2830.png)
Have tried multiple types of upload and image/x-icon added to File Upload

[2019-03-31 18:55] knrt10 commented on #12279
Let me fix this issue

[2019-03-31 20:11] sudipt1999 commented on #13837
#13962  Fixes the popup list

[2019-04-01 05:41] nbhadauria commented on #9537
Just to update:

I am using ECS with mix of On demand and Spot instances and it has been working find for me.

The trick was to use "awsvpc" as network mode and everything worked fine.

And in container configuration command "export INSTANCE_IP=`hostname -i`; node main.js"

I would like to create a cloud formation temple for the same when i get time.

[2019-04-01 05:42] #9537 closed

[2019-04-01 07:45] Cruaier commented on #13849
@MarcosSpessatto are you able to give me an idea about how long it may take to fix this issue?

[2019-04-01 07:58] foss- commented on #13911
This banner shows by default on every login if you clear cookies and use web UI. To get rid of the banner, users have to click blue banner, enter wrong pw, then red banner shows that can be removed.

[2019-04-01 08:09] simnv commented on #9385
Since my original post there were more breaking changes to rocketchat, like the lack of es6 to es5 transpilation. For example, spread and rest syntax (dot-dot-dot) doesn't work in ie11.

You can test it yourself: open rocketchat link in ie11, press f12, choose Edge compatibility manually at the top corner:
![image](https://user-images.githubusercontent.com/3754755/55312564-4400e580-547f-11e9-8fca-

[2019-04-01 09:32] sudipt1999 commented on #13911
@foss-  isn't that a bad UX either we can have a button for closing it !

[2019-04-01 10:12] foss- commented on #13911
Sure is, I never said your request wasn't valid. I just tried provided some more detailed description of the current behavior which I think should be improved.

[2019-04-01 10:14] dkatheininger commented on #13823
The same issue also occurs when an admin user changes the email adress of a user having the guest role only. Once the user clicks the "Verify your Email" link the role 'User' is assigned.

[2019-04-01 10:22] knrt10 commented on #13823
Will look into it.

[2019-04-01 10:37] Abraka commented on #13862
Well, great support here guys.
Solution for me is:
host: zoo.domain.com (name of domain, not a domain controller)
port: 3268 (aka domain katalog)
So, you dont ask directly DC Ldap over 389 or 636. You ask domain catalog through name of the domain on 3268 port. Direct query on DC ldap will not give you subdomain users.
Update your wiki page.

[2019-04-01 10:37] #13862 closed

[2019-04-01 11:32] lolimay opened #13963 "The refresh button at bottom of Administration Info panel displays incomplete"
### Description:
The button at bottom of Administration Info panel display incomplete.

### Steps to reproduce:

1. Go to Administration -> Info
2. Scroll to the bottom
3. Found the <kbd>Refresh</kbd> button at the bottom is incomplete.

### Expected behavior:
The <kbd>Refresh</kbd> button at the bottom shows normally.

### Actual behavior:
![image](https://user-images.githubusercontent.com/324272

[2019-04-01 11:35] lennartgrunau commented on #13317
Since the internal hubot has been removed from rocketchat, I'll close this issue. See  #13522.

[2019-04-01 11:35] #13317 closed

[2019-04-01 11:35] lolimay commented on #13963
It seems a bug, I am trying to work on this.

[2019-04-01 12:41] lucassmacedo commented on #1824
how i add more 1 field on register live chat?

[2019-04-01 13:23] renatobecker commented on #1824
This is not yet supported.
The Livechat supports custom fields, but only on the Livechat API:
https://rocket.chat/docs/developer-guides/livechat-api/#set-custom-field

[2019-04-01 14:04] FelikZ commented on #1824
@renatobecker thank you, is it new version of a chat available somehow already or it is still under development?

[2019-04-01 14:07] renatobecker commented on #1824
Yes. The new Livechat client will be provided on 1.0 release, but if you're running our `develop` branch you be able to test it already.

[2019-04-01 15:45] Gautime commented on #13958
Hey! Is anybody working on this issue?

[2019-04-01 15:48] lolimay commented on #13958
Yes, and I've already pulled the request. See [#13959](https://github.com/RocketChat/Rocket.Chat/pull/13959)

[2019-04-01 16:02] matosc15 commented on #12077
@Hudell Where would the "option to extract the files on the server and user the extracted folder path when starting the import process" show up? I'm having the same issue where the import process seems to corrupt the hipchat tar.gz file, but I can copy the file and successfully untar it on the server.

[2019-04-01 16:38] geekgonecrazy opened #13965 "Auto Translate/Translate not working in discussions when first join"
### Description:

If you attempt to translate a message using the translation action item in a discussion nothing happens.  Verified still works in DM's

### Steps to reproduce:

1. Ask someone nicely to start a discussion
2. Ask them to write something in another language
3. Join the discussion
3. Click the Toggle Original/Translated option from the message actions

### Expected behavior:

Transl

[2019-04-01 17:11] #10968 closed

[2019-04-01 17:12] engelgabriel commented on #10968
closing this as we have decided to also remove "@" from "regular" mentions.

[2019-04-01 17:20] #3606 closed

[2019-04-01 17:25] engelgabriel commented on #5167
@ggazzo maybe we can fix this with the new message input component?

[2019-04-01 17:27] gsunit opened #13967 "Filter users based on roles"
Under "Members List" there should be an option to sort users based on their roles. Currently, we can only filter users based on their "online" status. This feature will particularly be useful in a large room with a lot of users. New members can quickly get to know who are the owners, leaders and moderators of the group.

Thus, according to the following hierarchy, we can sort the users. Please sug

[2019-04-01 17:28] engelgabriel commented on #8921
But what happens if you want to TALK about someone that has left? Shoul'd we just FLAG the user on the list as INACTIVE?

[2019-04-01 17:33] engelgabriel commented on #1727
@sampaiodiego @alansikora @ggazzo @rodrigok We will need to do this when turning all the room events into system messages. We should probably have an option to have an ADD TO ROOM message that accepts an ARRAY of users, to keep it into a single message on the start of the channel.

[2019-04-01 17:34] engelgabriel commented on #4286
this is a duplicate of https://github.com/RocketChat/Rocket.Chat/issues/2194

[2019-04-01 17:34] #4286 closed

[2019-04-01 17:35] engelgabriel commented on #2372
this is a duplicate of #2194

[2019-04-01 17:39] engelgabriel commented on #2194
We should standardize the behavior of how we deal with the mentioned users. Rather than auto-inviting them on public groups and ignoring the mention on private ones, we should alert the sender with an "ephemeral" message that the user mentioned is not in the room, and the message should also have a button to invite that user.

[2019-04-01 17:57] MarcosSpessatto commented on #13849
@Cruaier  I'm working on this now. :slightly_smiling_face:

[2019-04-01 19:34] knrt10 commented on #12428
On it, Will be fixing this.

[2019-04-01 20:00] graywolf336 commented on #13957
This has been resolved

[2019-04-01 20:00] #13957 closed

[2019-04-01 20:38] bkraul commented on #13957
What commit or PR was this resolved on?

[2019-04-01 21:27] TwizzyDizzy commented on #8921
Well, yeah, that would the best choice, actually.

Cheers
Thomas

[2019-04-01 21:45] engelgabriel commented on #13967
I think the first step would be to visibly display the user's role on the list.. and later sort and group by roles.

The order of the roles would need to be defined when you are creating the roles, maybe we need to create a new field for that. But let's leave this part for later, as it will be much more complex.

[2019-04-01 22:00] bkraul commented on #13957
Fixed in develop docker build based on commit 408aa9d .

[2019-04-01 22:07] graywolf336 commented on #13957
Because it was not related to anything inside of Rocket.Chat and is a private repository. Thus if I linked you to the change you wouldn't be able to say it. So yes, I am going to keep it closed and resolve issues like this when it is outside of the scope of Rocket.Chat.

[2019-04-01 22:19] geekgonecrazy commented on #13957
To be clear.. this pulls from: marketplace.rocket.chat - the source code for this is not currently open source.

So we made the fix to our publicly running service and actually deployed the commit that shows the price of the app. (which in this case all apps are free)

Marketplace.rocket.chat will in the near future allow developers to list apps to sell so this is what these changes are bringing a

[2019-04-01 23:57] #13754 closed

[2019-04-02 00:57] #13668 closed

[2019-04-02 01:36] nahga commented on #12448
@hnategh You sir deserve a beer! That was spot on. Also correct that the devs should look into this.

[2019-04-02 01:48] #13909 closed

[2019-04-02 02:21] #13756 closed

[2019-04-02 06:16] mrsimpson commented on #13843
Dear Aaron,

it’s easy to imagine threads as a cleaner version to replies. In fact, I always thought that replies should be fully replaced by some kind of threading, I could not agree more on that. However, I am reluctant to see threads and discussions the way you describe them as separate entities.
Once somebody replies to a message, he starts something new: he starts a side chat related to one a

[2019-04-02 06:16] geekgonecrazy commented on #13666
I’m suggesting to delete the node modules before you run your docker build

[2019-04-02 06:37] mredbishop commented on #12448
Yeh, so this was the same issue for me https://github.com/RocketChat/Rocket.Chat/issues/13616#issuecomment-469668756

[2019-04-02 08:16] sfinity commented on #11933
My System Environment is it work.
LDAP Username foo-bar is work.
core version 0.74.0 and 1.0.0-beta.0

[2019-04-02 08:46] tars21 opened #13970 "guest users shouldn't be added to default channels"
### Description:

A new Rocket.Chat user with 'guest' role joins the default channel(s).
Our 'guest' permissions are:
- view-d-room
- view-joined-room
- view-p-room
The guest can receive messages and invitations, but nothing else. So he is not able to see other users except users in the same channel he is invited to.

### Steps to reproduce:

1. Create new user with role 'guest'
2. Login to Rocket

[2019-04-02 09:06] AndreasHo commented on #13903
Ok nice, so we can use the same function to test the success type.

[2019-04-02 09:49] mrsimpson opened #13971 "Current 1.0 beta: Joining channel looks weird in German"
### Description:

On open.rocket.chat 's version of today, the "Join a channel button" in the message input looks weird (notice the blue "Beitreten" on the right hand side):
![image](https://user-images.githubusercontent.com/17176678/55393236-2bef9b80-553d-11e9-934f-cab59be301e0.png)

### Steps to reproduce:

1. Open a channel you're not joined to yet.
2. Verify the alignment and design of the joi

[2019-04-02 09:50] dreamup commented on #13793
+1

[2019-04-02 10:09] tuxcrafter commented on #13562
Did you ever got SLO to work with rocketchat. I am questioning it worked in the first place. We are having the same error with ipsilon.

[2019-04-02 10:12] barrydegraaff commented on #13562
I can confirm this issue, the type error is thrown in:
programs/server/packages/steffo_meteor-accounts-saml.js

As a result of this line of code, where samlResponse is emtpy
const compressedSAMLResponse = new Buffer(samlResponse, 'base64');

This line of code is in the validateLogoutResponse method, that is called from a case statement earlier in the code where req.query.SAMLResponse seems to be e

[2019-04-02 11:00] jby commented on #13339
I have the same problem for HipChat, my file is 622MB zip (.tar.gz blatantly refuses to load, converting to zip produced an error at least (see below). I'm running in docker in MacOS 10.14. I have set my upload limit to '-1' and still get this. It did take a while though, I guess it worked on the file in 2-3 minutes before bailing out with this output in the logs from the docker container:

[code]

[2019-04-02 11:39] iconist commented on #13889
this is a security threat .how can we resolve it ?

[2019-04-02 12:25] juliomac opened #13972 "Blockstack tiny-secp256k1 dependency breaking deploys"
### Description:

BlockStack is using decencies such as BIP32, bitcoinjs-lib that, in turn, uses a C compiled ```tiny-secp256k1``` lib that breaks deployments in several hosts including Azure and Now.

is it possible to change dependency to secp256k1-node as suggested here https://github.com/fractal-code/meteor-azure/issues/65 ? Could that solve the issue?

Or, better, remove blockstack dependency

[2019-04-02 12:50] edurenye commented on #12279
Ok, I gave you push access to my repo, so you can update my pull request.

[2019-04-02 14:18] MarcosSpessatto commented on #13849
@Cruaier is there any errors in the browser console and the server console?

[2019-04-02 14:31] vishur98 commented on #4432
Hi Guys, I
![1](https://user-images.githubusercontent.com/48165416/55410769-0df85a00-5582-11e9-918d-80dd8451ed5c.PNG)
 am also facing the same issue with the latest snap, with connecting it through Google cloud storage, it says "Internal server error 500"

[34mI20190402-19:54:04.865(5.5) Exception while invoking method 'ufsComplete' Error: error:0906D064:PEM routines:PEM_read_bio:bad base64 decod

[2019-04-02 14:35] vishur98 commented on #4432
[34mI20190402-19:54:04.865(5.5) Exception while invoking method 'ufsComplete' Error: error:0906D064:PEM routines:PEM_read_bio:bad base64 decode
at Sign.sign (crypto.js:331:26)
at Object.sign (/snap/rocketchat-server/1367/programs/server/npm/node_modules/jwa/index.js:76:45)
at Object.jwsSign [as sign] (/snap/rocketchat-server/1367/programs/server/npm/node_modules/jws/lib/sign-stream.js:32:24)
at G

[2019-04-02 14:41] vishur98 commented on #4432
-- Logs begin at Mon 2019-04-01 21:08:19 UTC. --
Apr 02 12:22:29 rocket-chat rocketchat-server.rocketchat-server[27507]:     at Generator.next (<anonymous>)
Apr 02 12:22:29 rocket-chat rocketchat-server.rocketchat-server[27507]:     at /snap/rocketchat-server/1367/programs/server/npm/node_modules/google-auth-library/build/src/auth
/oauth2client.js:22:71
Apr 02 12:22:29 rocket-chat rocketchat-serve

[2019-04-02 14:52] #13340 closed

[2019-04-02 15:08] #11922 closed

[2019-04-02 15:16] Cruaier commented on #13849
@MarcosSpessatto I get an "net::ERR_CERT_AUTHORITY_INVALID" error...but that's due to the not trusted certificate from my router I guess - nothing else though.
Additional: this error also comes from the avatars and files which were already uploaded and are in the chat present meaning there are quite some URLs broken:
![image](https://user-images.githubusercontent.com/5204940/55414172-db0b9180-5594

[2019-04-02 15:47] rafaelks opened #13973 "[NEW] REST API to list Discussions"
### Description:

We need a REST API to list the discussions of a room (public, group or DM).

[2019-04-02 15:48] rafaelks opened #13974 "[NEW] REST API to list Threads"
### Description:

We need a REST API to list the threads of a room (public, group or DM).

[2019-04-02 15:54] MarcosSpessatto commented on #13849
@Cruaier can you please DM me at https://open.rocket.chat/direct/marcos.defendi?

[2019-04-02 16:36] MarcosSpessatto commented on #13849
@Cruaier what is the value of your server `ROOT_URL` setting?

[2019-04-02 17:00] ubergeekzone opened #13975 "Custom oAuth API Login Issue"
Trying to login using an custom oauth provider "wordpress" and its not working witht the REST API. Any ideas on how i can go about getting an access token? Using rocketchat password logins for the users is not an option. Must use wordpress login.

[2019-04-02 18:31] rafaelks opened #13978 "[BUG] Discussions from E2E channels are showing encrypted message & topic"
### Description:

As reported internally, it's creating with encrypted values.

![Screen Shot 2019-04-02 at 15 28 54](https://user-images.githubusercontent.com/551004/55426973-6caadd00-555c-11e9-9b92-bbd425c8c812.png)

![Screen Shot 2019-04-02 at 15 30 04](https://user-images.githubusercontent.com/551004/55426974-6caadd00-555c-11e9-8431-6716cc36c7aa.png)

![Screen Shot 2019-04-02 at 15 21 16](http

[2019-04-02 18:49] ubergeekzone commented on #13975
I keep getting a
`{"status":"error","message":"Unexpected AccessToken service wordpressmobile"}`

[2019-04-02 20:00] stephane- opened #13980 "Administration menu not cleared after update"
### Description:

After RC upgrade to 1.0.0-rc.0, the old menus are still visible like "Hubot interne" & "LiveStream".

### Steps to reproduce:

Go on admin panel after RC migration

### Expected behavior:

Olds menus (unusued) should be removed

### Actual behavior:

![image](https://user-images.githubusercontent.com/8134250/55432219-9f6fc800-5592-11e9-93f7-e09ba93a59db.png)

### Server Setup Inf

[2019-04-02 20:06] stephane- commented on #12862
Hello,
Bug still active on 1.0.0-rc.0 version.

New screen :
![image](https://user-images.githubusercontent.com/8134250/55432483-48b6be00-5593-11e9-9593-5b32389f8716.png)

In my logs, I alway have prune messages, but no deletions

[code]

[2019-04-02 20:07] stephane- commented on #13916
Hello,

Same problem for me ( #12862 )

[2019-04-02 20:35] ubergeekzone commented on #13975
Do I need to setup something else?

[2019-04-03 02:15] swpugh opened #13988 "Chatroom Leaders float over message window"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Additional context

### Relevant logs:

[2019-04-03 03:31] Cruaier commented on #13849
I sent you a message! the root_url is set to the url without the port

[2019-04-03 06:33] geekgonecrazy commented on #13543
Going to go ahead and close.  If any others come across this and have more questions please feel free to contact

[2019-04-03 06:33] #13543 closed

[2019-04-03 09:19] reetp commented on #13988
This is following a discussion on open.rocket.chat

https://open.rocket.chat/channel/support?msg=RiXjSjDyEH7Tb3QoQ

Here are some screen grabs by the OP to illustrate the issue:

https://open.rocket.chat/file-upload/Nfv2CbzQACZQZMvb2/Clipboard%20-%20April%202,%202019%202:24%20PM

https://open.rocket.chat/file-upload/Mdz6daYTLixM6ZTes/Floating%20Leader

[2019-04-03 09:33] reetp commented on #13862
Note that Github Issues are for things that are bugs and things that are broken, not support questions.

You can get Community support at https://forums.rocket.chat or https://open.rocket.chat

Or you can pay for professional support https://rocket.chat/pricing

Why don't you update the wiki page with a pull request yourself with this information (this is open source so its about giving, as well a

[2019-04-03 09:58] fadanner opened #13989 "Web interface doesn't load on IE11"
### Description:

When we load rocket.chat webinterface the page stucks loading with the three loading dots.
Same is for https://open.rocket.chat

### Steps to reproduce:

1. Start Internet Explorer 11
2. Browse to Rocket.Chat instance
3. Error: Page is not loading

### Expected behavior:

Page should load like with all other browsers.

### Actual behavior:

Page stucks loading with the three load

[2019-04-03 10:12] reetp commented on #13989
@rocket-cat label add duplicate

Please search for duplicate Issues before opening another one.

https://github.com/RocketChat/Rocket.Chat/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+IE11

[2019-04-03 10:13] reetp commented on #13989
@rocket-cat close

Please follow up on one of the other open bugs - probably #9385

[2019-04-03 10:13] #13989 closed

[2019-04-03 10:15] jhmk commented on #12497
Just saw that you removed the old Slingshot upload engine. Maybe this will fix this problem. I'm waiting for the final 1.0 release and then give you an update.

@ThePigsMud I also tested it on WebDav, Google Cloud etc. and had the same problem everywhere

[2019-04-03 10:19] fadanner commented on #9385
Having the same issue with 0.74.3.
Issue exists even on https://open.rocket.chat
IE11 logs
SCRIPT1002: Syntaxfehler d1eef865fbf5b68bd6eb0f292fa51263c005b1ba.js (5,1702140)
This is a major problem as we use IE11 in whole environment.

[2019-04-03 12:56] rodrigok commented on #12497
We are working to replace the way we send uploads to use REST, this change may not be finished by the time of the 1.0 release, but it will be for 1.1.

Thanks

[2019-04-03 15:17] #11118 closed

[2019-04-03 17:48] #12428 closed

[2019-04-03 18:24] sudipt1999 opened #13993 "[UI] CSS broke for Developer Guide"
![Screenshot from 2019-04-03 23-50-04](https://user-images.githubusercontent.com/38929617/55503091-9d2d6c80-566b-11e9-9863-84558e8ac8de.png)

You can see the CSS broken !
I would like to solve this error.

[2019-04-03 19:53] josep112 opened #13995 "Livechat API 1.0.0-rc.0 no Work"
### Description:
I upgraded from version 0.74.3 to version 1.0.0-rc.0, I deleted all users and rooms but even so continue to report that I have no agent online what is not true would be a bug of the new version? I have 3 agents online and the info I get is that there are no agents, I use the following code:  curl 'http://localhost:3000/api/v1/livechat/room?token=12345'
Respnse: {"isClientSafe":tru

[2019-04-03 20:53] renatobecker commented on #13995
@josep112 do you have any department registered?

[2019-04-03 22:30] EveBC commented on #9408
We still cannot add channels to the `SlackBridge Out Channels` field. I have tested on 0.74.3 and 1.0.0-rc.0

Before Saving (shows channel below field):
![Screen_Shot_2019-04-03_at_3_56_27_PM](https://user-images.githubusercontent.com/40441914/55517289-9552d580-5635-11e9-8964-5def7a874ce8.png)

After Saving (still shows channel):
![Screen_Shot_2019-04-03_at_3_56_45_PM](https://user-images.githubus

[2019-04-04 05:17] online0227 opened #13997 "How can I get the address of the sidebar?"
I want to implement sidebar only to the left div side of my website. But I do not its address to iframe.
How can I do this?

[2019-04-04 06:10] Myrthian opened #13998 "Improvement: compact view for right-side navigation like Room Info/Search Messages/Members List etc."
Description:
- You can scale the size of the left-side navigation by using "View Mode", and you can scale  the size of the messages under Preferences -> View Mode, but there is no option to also scale the size of the right-side navitations like "Room Info" or "Members List",
- ->Leads to a seemingly oversized right-side navigation if you use condensed for the left-side and compact for messages

Ex

[2019-04-04 06:15] tienthanh2509 opened #13999 "CAS login broken"
### Description:

Rocket chat error while using CAS server

CAS client unable to handle key name contains `.`

Eg: `org.apereo.cas.authentication.principal.REMEMBER_ME`

[code]

### Steps to reproduce:

1. Go to the login page
2. Click on CAS login button
3. Client get error 500

### Expected behavior:

Ignore `.` in attribute name since it's doesn't importance

RockerChat server need handle attri

[2019-04-04 06:53] Myrthian opened #14000 "Bug: "Invite Users" search box doesn't support Germanic umlaut"
Description:
 - Create a new channel
 - Members List -> Invite Users
 - The search box doesn't support Germanic umlaut

Expected result:
 - The search box supports Germanic umlaut, just like the search box in Members List

[2019-04-04 07:00] jby commented on #13339
How would I do that then?
Just put it in the local filesystem and use that path in the file-upload dialog?

[2019-04-04 07:03] Myrthian opened #14001 "Bug: Menu bar items are still in English, even if the language is changed to German"
Description:
- Change rocket.chat language to German -> save
- The language of almost everything is correctly set to German except the menu bar, which still remains English

Expected result:
 - Change of rocket.chat language changes every text inside the client to the chosen language

[2019-04-04 07:10] Myrthian opened #14002 "Bug: Text outside of buttons if rocket.chat client window is re-sized"
Description:
- Change client language to German
- Re-size the window while being on the "My account" page
- The text for both bottons is partially outside the frame of the buttons
![image](https://user-images.githubusercontent.com/30933093/55536168-5fefcb80-56b9-11e9-9673-5a147683643e.png)

Expected result:
- Text is always inside the frame of buttons, even when/after re-sizing the client window

[2019-04-04 07:27] Myrthian opened #14003 "Improvement: Hiding all direct messages with a single button"
Description:
- Currently it's only possible to hide direct messages one at a time to prevent the Direct Messages list from getting large

Use case:
- I constantly chat with different people to ask questions/give feedback etc., but those conversations are finished rather quickly, and yet to get them out of the list of Direct Messages I have to manually hide every single chat

Expected result:
- I w

[2019-04-04 09:15] chojunki opened #14004 "Livechat widget issue : no toolbar with IE11 & running away from mouse cursor."
### Description:

1. When I open a test page with livechat installation script provided from Rocket.Chat management console in Internet Explorer 11, the livechat widget has problems.
- when minimized, it shows maximize, alarm, and popup icon on the right side of the title bar.
- when maximized, those icons are now shown, precisely, they are located at much lower posion from the original position a

[2019-04-04 10:45] luggaesch opened #14005 "rocketchat in subfolder in docker infrastructure with apache2 ssl reverse proxy"
I'm sorry if this isn't the correct place to post this question.
I'm currently struggling to implement a rocket.chat container behind a container that serves as an apache2 https reverse proxy.

I was looking at these parts of the documentation, but can't quite get it to run with the information provided there.
https://github.com/RocketChat/docs/blob/master/installation/manual-installation/running-

[2019-04-04 10:52] reetp commented on #14005
@rocket-cat close

Sorry but this is a support Issue and not a bug in Rocket.Chat (unless you have evidence otherwise)

Please search issues (including closed ones) for 'subfolder', have a search in forums https://forums.rocket.chat and ask in #support at https://open.rocket.chat

[2019-04-04 10:52] #14005 closed

[2019-04-04 12:14] josep112 commented on #13995
Hi, @renatobecker ,
The only way I found it to work was to delete the mongodb and redo all the settings, I would just like to upgrade the version without losing the data, but what I think is that something is left in the mongodb that does not let the room work as it should be

[2019-04-04 12:44] AndreasHo commented on #13904
Hello,

i have the same problem like you... I want to subscribe for each user his joined channels/private/ims.

I created a websocket for "stream-notify-user" with following events:
- message
- notification
- rooms-changed
- subscriptions-changed

When I send an message in one of my channels, i never get an event information.
Is there any example how it works or is this buggy?

Thank you.

Bye And

[2019-04-04 12:49] renatobecker commented on #13995
I see.. So, now everything is working fine, right?

[2019-04-04 12:53] josep112 commented on #13995
Yes, now it works, I'll try to solve the upgrade problem without having to delete the database

[2019-04-04 12:56] renatobecker commented on #13995
Okay. I'll close this issue.
Thanks.

[2019-04-04 12:56] #13995 closed

[2019-04-04 12:57] josep112 commented on #13995
@renatobecker ok,
Thanks

[2019-04-04 12:59] josep112 commented on #13995
@renatobecker ok
Thanks

[2019-04-04 13:02] Hudell commented on #13339
@jby
I'm not sure but I think the import process wouldn't know how to open a .zip file, it expects it to be a .tar.gz.

Instead you can extract the file on the local filesystem and use the path for the extracted folder on the "File URL" option of the import.

[2019-04-04 13:58] reetp commented on #13997
@rocket-cat close

Sorry but this is a support Issue and not a bug in Rocket.Chat (unless you have evidence otherwise)

Please read the documentation, search issues (including closed ones), have a search in forums https://forums.rocket.chat and ask in #support at https://open.rocket.chat

Thank you

[2019-04-04 13:58] #13997 closed

[2019-04-04 14:39] marceloschmidt commented on #11189
We have places for username and real name. We don't see a new field as a viable option.

[2019-04-04 14:39] #11189 closed

[2019-04-04 14:42] marceloschmidt commented on #11280
So this is implemented.

[2019-04-04 14:42] #11280 closed

[2019-04-04 15:14] marceloschmidt commented on #12215
How would this be possible? The relation between users would still exist on the database.

[2019-04-04 15:14] #12215 closed

[2019-04-04 16:33] swares commented on #13319
Thanks for your post !  It was just what I needed.
WriteResult({ "nMatched" : 1, "nUpserted" : 0, "nModified" : 1 })

:)

[2019-04-04 16:34] renatobecker commented on #12040
Hi @dhpowrhost, are you still facing the issue described in the last part of the issue's description(Additional context)?

[2019-04-04 17:29] lolimay opened #14009 "Update new Permissions rules in en.i18n.json"
See [docs/issues#1191](https://github.com/RocketChat/docs/issues/1191) and [docs/prs#1192](https://github.com/RocketChat/docs/pull/1192).

[2019-04-04 21:06] dhpowrhost commented on #12040
We use livechat a lot so we actually decied to reinstall Rocket.Chat and start over on newest version. It resolved the issue, which was probably due to upgrading many times from an early version of Rocket.Chat. Seemed like the data migration was not perfect.
However one issue we still have is that even though we close a Live Chat it does not always dissapear from the active list of livechats. We h

[2019-04-05 03:58] uglimugli opened #14014 "Livechat office hours"
## My Setup
- Operating System: Ubuntu 18.04
- App Version: 0.74.3
- Installation type: snap

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description

live chat office hours show up twice
![kuva](https://user-images.githubusercontent.com/15074905/55602824-1f06be00-5770-11e9-8860-3ed7b6dcf1de.png)

### Current Behavior

### Expected Behavior

[2019-04-05 11:03] jby commented on #13339
From the adminpanel you can choose import -> HipChat and then either .tar.gz or .zip file.

I still don't understand what path I'm supposed to enter and where. I'm running in a docker container on MacOS, should it be a local path within the container and that local path in the webpage that asks for an URL to load from?

[2019-04-05 11:39] jby commented on #13339
Ok, yes - it **does** import if file is put in filesystem and the local path is used in the "File URL"!

[2019-04-05 12:45] renatobecker commented on #12040
@dhpowrhost, regarding auto-hide Livechat on closing, it's fixed: https://github.com/RocketChat/Rocket.Chat/pull/13824

[2019-04-05 13:12] josep112 commented on #13594
I just tested facebook in the new version 1.0.0-rc.0 and the problem continues when I send a mesangem from rocketchat to facebook the message is received after about 3 minutes

[2019-04-05 14:13] RodrigoFerrazsc opened #14013 "Livechat with facebook integration doesn't shows the first message"
### Description:

### Steps to reproduce:

1. Go to facebook and send a message on a page
2. Go to Rocket chat and wait for message
3. message never comes

### Expected behavior:

See the messages of facebook page

### Actual behavior:

Hello guys,
When a new client(A) sends a message on facebook(" a simple "hello", for example), it does not matter how much time I wait for the message it never com

[2019-04-05 16:12] renatobecker commented on #14014
Hi @uglimugli. It seems to be a migration issue.
Are you granted to access the DB?

[2019-04-05 17:59] blamoo commented on #2216
I had the same problem today, and found the solution for my case.

I was [changing the port number](https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#how-do-i-change-rocketchat-port-mongo_url-and-mongo_oplog_url-in-my-snap) of the main service to 80 after the installation.
But I had the redirection loop problem when I enabled SSL with caddy because it tried to use port 80 too

[2019-04-05 19:25] MalloZup commented on #2693
hi all ! So i was using the Rest-api for building an app with `clojure` and a library. ( https://github.com/MalloZup/missile).

Just for sharing my pov. as fresh-eyes to the API:

i felt the inconsistency between the room and the channels, e.g i'm also nto sure what is a `room` and what is a channel :grin:

[2019-04-05 19:57] dhpowrhost commented on #12040
ok thank you.. i will close this issue

[2019-04-05 19:57] #12040 closed

[2019-04-05 20:01] mrsimpson opened #14016 "Conversion of threads into discussions"
With reply-based threads almost in the wild (#13996), I can already see the following need:

## Motivation

Once multiple threads which tend to become long-runners within the same channel have been created, it is becoming more and more difficult to navigate them.
Also, I'd like to be able to join an expert into a particular thread without having to add them to the entire private parent channel, wh

[2019-04-05 20:58] TheDreamSaver commented on #2411
How did you get the access token @anti1234 ?
Which endpoint you used?

[2019-04-05 21:01] ChrissW-R1 commented on #404
This feature would be nice to have a wide-ranging integration option. We already use the Slack compatible API, but XMPP is much more common in the enterprise world.

[2019-04-06 00:41] #6791 closed

[2019-04-06 03:12] engelgabriel commented on #13843
@mrsimpson I really appreciate your feedback and point of view. You've managed to keep me awake at night a few times, pondering about the right way to move forward. In the end, I've got tired of trying to guess how exactly people will behave between the two features, so we planned to implement both approaches with some clear distinction between them and take this conversation about discussions/thr

[2019-04-06 03:43] #8021 closed

[2019-04-06 04:37] #13644 closed

[2019-04-06 04:50] mrsimpson commented on #13843
You are the maintainer, you are running most of the development. It’s your choice 👍
I don’t think I’ll have to tell you “I told you so”, you’ll recognize this yourself.
Still, I opened #14016 to get this integrated on the process layer

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-06 04:58] engelgabriel commented on #6822
This has been done.

[2019-04-06 04:58] #6822 closed

[2019-04-06 04:59] engelgabriel commented on #3526
Done

[2019-04-06 04:59] #3526 closed

[2019-04-06 05:05] ggazzo commented on #13655
thanks @knrt10 we fixed when we changed from 1.0.0-beta to 1.0.0 candidate

[2019-04-06 05:05] #13655 closed

[2019-04-06 05:31] ggazzo commented on #13965
actually @geekgonecrazy its a reactivity problem and not a discussion itself, if you try to open a public channel, the behavior/bug its same. because message template checks if your subscription has "autotranslate setting" as you have no discussion/channel subscription the setting is false/undefined... =/

[2019-04-06 06:14] engelgabriel commented on #12691
possibly related to https://github.com/RocketChat/Rocket.Chat/pull/11578

[2019-04-06 06:18] #11345 closed

[2019-04-06 06:20] #10742 closed

[2019-04-06 06:58] engelgabriel commented on #12312
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/8485

[2019-04-06 06:58] #12312 closed

[2019-04-06 07:01] engelgabriel commented on #9157
We will close this issue until we receive more information to reproduce the problem. Please reopen if it persists.

[2019-04-06 07:01] #9157 closed

[2019-04-06 07:18] engelgabriel opened #14019 "Mentions email inside discussions uses the wrong name property"
Emails are getting the wrong property for alerts

[2019-04-06 07:32] engelgabriel commented on #13219
I agree this is not useful anymore.

[2019-04-06 07:38] engelgabriel commented on #11552
I believe this has been fixed. Please let me know otherwise.

[2019-04-06 07:38] #11552 closed

[2019-04-06 07:40] #1352 closed

[2019-04-06 07:51] engelgabriel commented on #12267
I believe this has been fixed, please let me know otherwise.

[2019-04-06 07:51] #12267 closed

[2019-04-06 08:34] geekgonecrazy commented on #13965
Ah... Blaze.  :)

I guess discussions i'm more likely to be reading while not a member.  Normal channels I usually just join.  Or have been there since beginning.

[2019-04-06 09:31] wemu commented on #12267
@engelgabriel Running 0.74.3 mentions still don't work. Both original and marked markdown parser behave the same. It sort of seems to shortly works and is then removed. Not sure if there is another setting interfering with this.

[2019-04-06 13:43] sampaiodiego commented on #14019
can you please give more details about the issue?

when testing I got this email, where `general - Testing a new message for a discussion.` is the discussion title:

![image](https://user-images.githubusercontent.com/8591547/55670275-d37c0f00-5858-11e9-9a3f-43acddcdfb3f.png)

[2019-04-06 13:51] marceloschmidt commented on #6081
If user name is not required, should we allow setting it to empty after it has been set to something?

[2019-04-06 13:55] Tofdu31 opened #14020 "MONGO-REPLICA exited with code 0"
### Server Setup Information:
- Version of Rocket.Chat Server: latest
- Operating System: Docker
- Deployment Method: docker with your docker-compose.yml
- MongoDB Version: 4.0

### Problem :
Hi all,
Since 2 days I look for a solution for the error you have on mongo replication:
MONGO-REPLICA exited with code 0
Looking at the logs, I'm amazed at this:

For the rest everything works. I only have pr

[2019-04-06 14:30] rodrigok commented on #13973
@rafaelks why do you need a method to list discussions of a single room since they will be listed as rooms in room's list?

[2019-04-06 14:41] #12889 closed

[2019-04-06 14:43] #12976 closed

[2019-04-06 15:41] sfahrenholz opened #14023 "RoomInformation: Leave Button is not completely in the Window"
### Description:

When i show me the Room information, the button to leave the room is not complete showing in the window.

![image](https://user-images.githubusercontent.com/6977657/55671635-89178400-5892-11e9-9795-7b6df1f2bb28.png)

### Steps to reproduce:

1. Go into a room
2. show room information

### Server Setup Information:

- Version of Rocket.Chat Server:  1.0.0-beta

![image](https://us

[2019-04-06 18:52] engelgabriel opened #14024 "Remove @ from beginning of mentions and fix colors"
We have done this already on the mobile apps, and in order to achieve the compatibility with `email handlers`  for the federation, we will stop showing the @ in front of mentions.

We also need to make colors match on badges and mention links.

<img width="554" alt="Screenshot 2019-04-06 at 21 14 44" src="https://user-images.githubusercontent.com/1000217/55678815-6c04a480-58d6-11e9-83ce-c2704fdbed

[2019-04-06 19:09] #6081 closed

[2019-04-06 19:10] #13841 closed

[2019-04-06 19:24] #13828 closed

[2019-04-06 20:25] mrsimpson opened #14027 "Discussions: Can't edit the room info"
After I created a discussion, I may want to edit the description since I carelessly clicked "create". No, I'd like to shorten the veeeery long default description or name the room differently.
There are no controls for that.

Version: `develop` => `5d39c7ee15`

[2019-04-06 21:19] #13700 closed

[2019-04-06 21:29] #8485 closed

[2019-04-06 21:29] #12388 closed

[2019-04-07 01:39] mohamedar97 commented on #14003
working on it

[2019-04-07 13:18] rafaelks commented on #13973
@rodrigok You could not be member of a discussion, then it would not appear in your rooms list.

[2019-04-07 15:02] reetp commented on #14004
Please always test on latest eg 0.74.3 or v1.0.0-rc0 (big changes in livechat coming)
There are lot of issues with IE11. Have you searched for duplicates?

[2019-04-07 15:06] engelgabriel commented on #906
<img width="1342" alt="compressed reply message" src="https://user-images.githubusercontent.com/1000217/55685517-7f8f2a00-592d-11e9-8aa4-90575ec99654.png">

[2019-04-07 15:07] reetp commented on #13939
@rocket-cat close

Closing notabug.

[2019-04-07 15:07] #13939 closed

[2019-04-07 15:12] devopsec commented on #933
What deliverable's are still needed for this?

[2019-04-07 19:52] vibhi19 opened #14032 "Voice message has no audio"
I setup rocket chat on my server using snap. I am trying to send voice msg but there is no voice can someone tell me how to fix it

[2019-04-07 20:11] #1112 closed

[2019-04-07 20:11] #6888 closed

[2019-04-07 20:11] #13843 closed

[2019-04-07 20:32] Zegorax commented on #14020
This is intended behavior. The mongo-init-replica container's goal is only to init the database and then exit.

[2019-04-08 02:15] kelvinblade opened #14035 "Cors Issue trying to access Rocket Chat file upload hosted on S3"
I am trying to access uploaded files through Rocket Chat that are hosted on S3. I am encountering a CORS error. CORS option is enabled for * on Rocket chat. File upload protected is enabled. I have added

It works in postman.

GET http://3.0.253.143:3000/file-upload/7uvaAJgJrneitgywJ/_png.png with a header of X-User-Id and X-Auth-Token

In dev on localhost, I am getting

My code is:

[code]
In Roc

[2019-04-08 03:08] chojunki commented on #14004
My mistake. I am testing on 0.74.3.

[2019-04-08 03:17] knrt10 opened #14036 "[BUG] User info should not have View All members button on Direct messaging"
### Description:

On a direct message with user, **View All members button** should not be there. Cause when clicked it goes back to a blank screen.

### Steps to reproduce:

1. Go to direct message with user
2. Click on User info
3. Click on View All members button

### Expected behavior:

Button should not be there

### Actual behavior:

![Direct message](https://user-images.githubusercontent.co

[2019-04-08 03:54] geekgonecrazy commented on #7791
So dropping index.php from path solved?

[2019-04-08 07:03] igorr-stc commented on #12750
Still does not work in 0.74.3

[2019-04-08 07:15] #14035 closed

[2019-04-08 08:44] mikolaisebastian commented on #13904
@skyJG @AndreasHo Yeah I still have the same problem here.

[2019-04-08 11:55] bkraul opened #14038 "[BUG] Cannot add/edit Incoming Webhook Integrations"
### Description:

Integrations (incoming webhooks) cannot be edited, and the icons for the messages do not respect the icons set on the webhook definition (showing rocket.cat instead).

### Steps to reproduce:
1. Update to latest docker develop (33729fe).
2. Go to Administation -> Integrations.
3. Will not be able to edit any of them. You also **cannot add** incoming webhooks.

### Expected behavi

[2019-04-08 13:38] knrt10 opened #14040 "[BUG] Discussions are not showing on Tab Bar"
### Description:

Discussion for channel are not showing.

### Steps to reproduce:

1. click 3 dots on channel top right
2. click discussions

### Expected behavior:

Discussions should appear

### Actual behavior:

It's empty

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0-develop
- Operating System: MacOS
- Deployment Method: Meteor
- Number of Running Instances: 1
- DB Re

[2019-04-08 14:14] steoo commented on #13952
+1

[2019-04-08 16:29] minimedj opened #14042 "Promo text get covered on the main website. Cannot read."
Here is all you need: https://monosnap.com/file/SLhHG8srHciAflLEE1dAZrSnq921Vh

[2019-04-08 17:22] ubarsaiyan commented on #7791
@geekgonecrazy yes! It did... Though I am still not able to integrate NC OAuth in local server even after using ngrok and then changing the server URL to the ngrok one. It shows an error that unable to verify first certificate and handshake could not be completed. :( Though I couldn't give much time to solve this then.

[2019-04-08 18:47] #13689 closed

[2019-04-08 18:47] #13965 closed

[2019-04-08 18:58] Zegorax commented on #2759
Is there any news about this feature ? It would be really useful for our company.

[2019-04-08 19:40] fsejoseph commented on #13926
I am having the same issue.

[2019-04-08 19:40] #14019 closed

[2019-04-08 20:24] knrt10 commented on #14040
Fixed it, making a PR for the same

[2019-04-08 20:27] jcz1 commented on #4942
:-(

[2019-04-09 00:23] tuxxon opened #14055 "[Feature]Can your product provide the feature that create a channel and username with non-english characters?"
### Description:

In korea, users want to create a channel and username in korean. so Can you provide the feature that uses UTF-8 characters? So, we can create a channel and username in non-english charaters.

### Steps to reproduce:

1. create a channel
2. type a non-english characters in input box for the channel.

 doesn't work

### Expected behavior:

To create a channel or username in UTF-8 c

[2019-04-09 01:17] #14024 closed

[2019-04-09 02:40] Cruaier commented on #13849
Hi @braymundo I send you a message on open.rocket.chat regarding this. can you have a look and assist on this one? Thanks!

[2019-04-09 03:36] luckenbach opened #14058 "Roles displayed regardless of Layout settings"
### Description:

Roles are always displayed in chat

### Steps to reproduce:

Login to a room with users that have roles assigned to them such as 'Owner'

### Expected behavior:

When Administration > Layout > User Interface > Display Roles is set to false roles will not be displayed

### Actual behavior:

Roles are displayed.
![image](https://user-images.githubusercontent.com/533852/55771677-a39

[2019-04-09 03:50] luckenbach commented on #13576
This appears to no longer be an issue with channels created after upgrading to 1.0.0-rc.1

[2019-04-09 05:10] geekgonecrazy commented on #14020
Code 0 is a non error exit code. Going to go ahead and close.  Feel free to open another issue if you find a bug

[2019-04-09 05:10] #14020 closed

[2019-04-09 05:33] geekgonecrazy commented on #13849
Root_url must be set the the url exactly as accessed.  So if you access at my site:6789 then the root_url would need to contain that port

[2019-04-09 05:49] carlo-fontanos commented on #6713
Up for this, still no solution posted.

[2019-04-09 05:57] geekgonecrazy commented on #13511
I think https://github.com/RocketChat/Rocket.Chat/pull/12259 can help with this

[2019-04-09 08:03] wreiske commented on #13843
I'd like to see the discussions look more like discussions...
Check out https://help.github.com/en/articles/about-team-discussions

I noticed a lot of Rocket.Chat's messaging UI already looks like github team discussions.
![image](https://user-images.githubusercontent.com/6295044/55783365-3c8f9c80-5a7c-11e9-9d67-5234dcea723e.png)

Basically, replies would be under the top post in the discussions,

[2019-04-09 10:07] fliptrail opened #14061 "[IMPROVE] The name of audio file should not be displayed if it is recorded in Rocket.Chat"
### Description:

If audio is recorded inside the Rocket.Chat client, it gets the name Audio Record.mp3. This name is displayed above it which looks very odd.

![Screenshot from 2019-04-09 15-35-37](https://user-images.githubusercontent.com/40834245/55791974-4f868900-5add-11e9-80b7-5efd3d417478.png)

### Expected behavior:

In such a case, the name of the audio file should not be displayed

### Se

[2019-04-09 10:14] fliptrail opened #14062 "[IMPROVE] While DMing yourself, a nice message should be displayed"
### Description:

When a user DM's himself, a nice message should be displayed like in slack.
![Screenshot from 2019-03-27 16-17-17](https://user-images.githubusercontent.com/40834245/55792413-303c2b80-5ade-11e9-9309-275eba6f8ff3.png)

### Expected behavior:

A nice message is displayed

### Actual behavior:

No seperate message is displayed.

### Server Setup Information:

- Version of Rocket.Cha

[2019-04-09 10:26] fliptrail opened #14063 "While DMing a user, quote and reply are the same"
### Description:

While DMing a user, quote and reply option both are the same.
So, one option can be removed.

![Screenshot from 2019-04-09 15-56-50](https://user-images.githubusercontent.com/40834245/55793216-0a178b00-5ae0-11e9-9227-a2cfe53cafdb.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0 - develop

[2019-04-09 10:35] fliptrail opened #14064 "[BUG] Discussion name is not displayed while removing a user from discussion"
### Description:

The discussion name is not displayed when a user is removed from a discussion

### Actual behavior:

![Screenshot from 2019-04-09 15-58-55](https://user-images.githubusercontent.com/40834245/55793754-3f70a880-5ae1-11e9-8e97-60f3f1a80d4a.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0 - develop

[2019-04-09 11:04] rusty1281 opened #14065 "Custom CSS being ignored in RC1"
### Description:

Custom CSS being ignored in RC1

### Steps to reproduce:

After upgrade from beta 1 to RC1 custom CSS were preserved in settings but the instance is ignoring it.

### Actual behavior:

This can be fixed by using !important parameter for each custom css and then all is well.

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0-rc.1
- Operating System: Linux
- Dep

[2019-04-09 11:21] darkpal commented on #8297
+1 For example I create a private room called "announcements" and every message in this room should trigger notifications for all users without need to use @all. So it would be nice to have possibility to override (once or permanent) global notification settings for specific rooms.

[2019-04-09 12:51] rafaelks opened #14067 "[REGRESSION] Admin panel is broken after first navigation on embedded mode"
### Description:

The admin panel looses the navigation panel after first navigation when embedded mode is enabled.

### Steps to reproduce:

1. Access this URL from anywhere: `[rc_instance]/admin/info?layout=embedded`
2. Tap on "Info" on the sidebar
3. On tablet size: menu is lost
4. On phone size: hamburger menu doesn't work anymore

[2019-04-09 13:37] ruppo68 opened #14068 "LDAP Login not possible when Sync User Avatar ist enabled"
### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: Ubuntu 18.04.2 LTS (Bionic Beaver)
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog: rs01
- NodeJS Version: 8.11.4
- MongoDB Version: v3.4.2

Ldap is configured:
Try to login as ldap user not possible:
In the log:
Apr  9 15:31:24 testrocket RocketChat[1346]: rocketchat:logger s

[2019-04-09 14:05] #13717 closed

[2019-04-09 16:08] theorenck commented on #11570
@MarcosSpessatto can you take a look in this one?

[2019-04-09 16:10] theorenck commented on #10556
@Hudell can you take look again in this one, please?

[2019-04-09 17:09] mohamedar97 opened #14070 "[bug] when viewing a member in a channel then reopen the panel it will show the same user"
### Description:
in a channel or discussion when you view all the members then view a certain user and reopen the panel it will still view that user instead of the user list

### Steps to reproduce:

1. Go to any channel
2. Click on 'Members list'
3. Click on any user to open his details
4. Close the panel
5. Reopen it

### Expected behavior:

when i close the info panel and open it again it shoul

[2019-04-09 17:10] MarcosSpessatto commented on #11570
@theorenck please see: https://github.com/RocketChat/Rocket.Chat/pull/11731#issuecomment-454132142

[2019-04-09 19:05] LuluGO commented on #6691
Hey, you can change it using this now https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#how-do-i-change-other-environmental-variables-in-my-snap

[2019-04-09 19:18] secretoB opened #14073 "Default "Owner" Permissions"
Does anyone have screenshots or a list of the default "owner" permissions? I made some changes and did not document the default settings. here is an example:
![owner](https://user-images.githubusercontent.com/48289773/55828474-8909c500-5ada-11e9-9651-71c3a9a39525.JPG)

[2019-04-10 05:03] geekgonecrazy commented on #14063
They have been for a long time.  The reply for the longest time was quote + mention.  But now reply’s are threaded.  So depends on the plan here for DMs if reply should truly be removed.

@rocketchat/core ?

[2019-04-10 05:10] geekgonecrazy commented on #13881
I’ve seen this in Firefox as well.  Latest commit

[2019-04-10 07:56] slhck commented on #11846
You should be able to use the SMTP Relay Service instead: https://support.google.com/a/answer/2956491

[2019-04-10 08:05] barrydegraaff commented on #13831
Should be fixed in https://github.com/RocketChat/Rocket.Chat/pull/14074

[2019-04-10 08:06] jankogaga opened #14077 "Data migration from one to another server"
Hi,

We run Rocket chat 0.74.3 and try to move data from one server to another by MongoDB backup/restore procedure.
However, the attachments from "old" server weren't transferred and one of a public channel is not available with the message:  No channel with name "xxx" was found!

Thanks,
Dragan

[2019-04-10 09:57] fadanner commented on #9385
Does anyone have an idea on this?
It is a very big problem for our users if the chat does not work in IE11.

[2019-04-10 12:17] arthurbdiniz opened #14078 "Wrong translation for team in setup wizard"
### Description:

The big difference between us and the people being brought to English. In Portugal avenged a first form, while in Brazil one opted for the next one next to the French. The two are correct, since at the same time a rest of text are in the same standard.

As with the "equipa/equipe" what happened to other words from French, such as "cabina/cabine" or "controlo/controle".

For the f

[2019-04-10 12:24] arthurbdiniz opened #14079 "No back button on page 2 from page 1 Setup Wizard"
### Description:
When necessary make some correction in step 1 of setup wizard, there is no button to back up. The opposite happens from step 3 back to step 2.

### Steps to reproduce:
1. Create docker-compose.yml
2. Run docker-compose up
3. Start setup wizard
4. Go to second page
5. Try to get back to page 1

### Expected behavior:
![image](https://user-images.githubusercontent.com/18387694/55878

[2019-04-10 13:55] mohamedar97 opened #14080 "[BUG] Discussion name is not displayed while muting a user in a discussion"
### Description:

The discussion name is not displayed when a user is being muted in a discussion

### Steps to reproduce:

1. Go to any discussion you created
2. Click on members list
3. Open the options list for any user
4. Click on mute

### Expected behavior:

it should display the room name instead of the Id

### Actual behavior:

![image](https://user-images.githubusercontent.com/44686958/55

[2019-04-10 14:38] mohamedar97 opened #14083 "[BUG] tooltips show room id in discussions"
### Description:

when setting a member as leader, owner or moderator the tooltip that appears on the top right of the page shows the room id instead of the name

### Steps to reproduce:

1. Go to any discussion you created
2. Click on members list
3. Open the options list for any user
4. Click on set as moderator, owner or leader
### Expected behavior:

it should show room name

### Actual behavi

[2019-04-10 16:46] knrt10 commented on #8277
On it, will try to fix this.

[2019-04-10 17:44] sketch242 commented on #13461
We just updated from 0.66.x to 0.74.3 (and mongodb and are experiencing the same issue, but daily reboots are nowhere near enough to fix the problem.  RC hangs with 100% CPU usage somewhere between every 1-12 hours.

For reference:
Version of Rocket.Chat Server: 0.74.3
Operating System: CentOS 7.6.1810
Deployment Method: Rocket.Chat.Ansible
Number of Running Instances: 1
DB Replicaset Oplog: N/A
N

[2019-04-10 19:37] Shaverdoff commented on #14068
i have the one instalation only in OS diff. i use Centos and 3-ee instanse
Sync User Avatar is enabled, and ldap user successcfull login. i use Active Directory instead OpenLdap

[2019-04-10 20:01] knrt10 commented on #9830
On it, will like to add this feature.

[2019-04-10 21:15] renatobecker opened #14087 "Create Livechat rooms with the same agent who has emitted trigger messages"
The Livechat triggers allow getting the next available agent on the queue to emit trigger messages but, currently, when a visitor starts a new conversation and a new room is created, the agent who will attend the chat may not be the same who has emitted the trigger messages.
This is happening because when the new room is created the routing method get the next available agent again.
The goal of th

[2019-04-10 22:13] tommycwleung opened #14088 "Home Page - how to change script"
is there a way to change the Home Page, especially the welcome message.
I may like to rewrite the homepage.
[DefaultHome.docx](https://github.com/RocketChat/Rocket.Chat/files/3066057/DefaultHome.docx)

[2019-04-10 23:03] rodrigok commented on #13971
@mrsimpson can you check with latest version? This seems to be fixed as AFAIK.

[2019-04-10 23:07] guilherme1guy commented on #8051
I'm with the same problem. It ran fine after the first deploy, but after the dyno got shutdown it won't boot anymore.

[2019-04-11 00:11] tuxxon commented on #14055
@tassoevan With your comment, I have configured my rocket.chat on local, but It didn't work. That is, I couldn't create a channel name in korean.
Test url = http://chat.stackcraft.co/ id = tuxxon, pass=123456

The following screen is showed when typing in UTF8 (korean, 테스트).
![image](https://user-images.githubusercontent.com/7301022/55845988-0c7cf200-5b7f-11e9-8929-b9fc4b20da42.png)

[2019-04-11 00:11] geekgonecrazy opened #14090 "Role creation/deletion not working"
### Description:

Creation:
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/51996/55921858-3c021d80-5bc4-11e9-9e2d-6299f6e0fa70.png">

Deletion:
<img width="1087" alt="image" src="https://user-images.githubusercontent.com/51996/55921964-c5195480-5bc4-11e9-8851-fcca99844983.png">

### Steps to reproduce:

1. permissions
2. create
3. click save

1. permissions
2. click e

[2019-04-11 00:39] dprobinson opened #14091 "LDAP - User Data Field Map - Email field does not allow templating despite implication"
### Description:

When performing LDAP user synchronisation, user data is mapped from the LDAP server according to the mapping set in the "User Data Field Map" configuration option.

The help text implies templating is available for both fields ("name" and "email"):

As an example, `{"cn":"name", "mail":"email"}` will choose a person's human readable name from the cn attribute, and their email fro

[2019-04-11 01:06] ThePigsMud commented on #971
Going along with #10606 - if this is an issue to integrate support for signed URLs with that image proxy, could there possibly be an option to simply rewrite the URLs of images to add a proxy URL before them? For example, maybe like `https://open.rocket.chat/proxy/$1`

It seems this would be a good short-term fix and would allow users to use whatever type of image proxy they wanted (possibly even

[2019-04-11 01:08] geekgonecrazy opened #14092 "Starring image causes it to rerender"
### Description:
https://giphy.com/embed/QsyPWzTKSmRRC7XesS

Probably related to #5028 in some way.  But this one has no good reason to be causing a refresh.  A reaction is obviously needing to re-render part of the dom.. this isn't touching any UI related to the message

### Steps to reproduce:

1. send a message to another user
2. star and unstar that image
3. watch it flicker like crazy each ti

[2019-04-11 01:10] geekgonecrazy commented on #14090
@ggazzo @tassoevan this is new 0.74.3 this worked

[2019-04-11 01:41] d-gubert commented on #11964
Closing this since we've had quite a few releases already and there hasn't been any new reports of this problem.

Feel free to reopen if you're still experiencing the issue!

[2019-04-11 01:41] #11964 closed

[2019-04-11 03:17] Cruaier commented on #13849
@geekgonecrazy and that's certainly an issue in my case...I am doing a workaround now which is not that user friendly using also for the internal server the port 9000.
Anyway, it seems that the Android app is doing it different (because there it works!).

[2019-04-11 04:41] sfinity commented on #9385
Having the same issue with 1.0.0-rc.2
'SCRIPT1002: Syntax Error 436769ec810494cebfd29cd81e6d6b2171ad84d3.js (5,1634318)'

[2019-04-11 07:48] ference opened #14093 "RocketChat server crashes shortly after startup"
### Description:

The following error occurs just after the RocketChat container is started in a [docker-compose setup](https://rocket.chat/docs/installation/docker-containers/docker-compose/):

[code]
Here is the container log leading up to the crash with rust backtrace enabled:
[code]

### Steps to reproduce:

Unfortunately there was no obvious event leading to this failure. The issue started oc

[2019-04-11 08:47] #13971 closed

[2019-04-11 08:47] mrsimpson commented on #13971
Yup, looks good op open...

[2019-04-11 10:20] carlo-fontanos opened #14094 "Check if Department status is online before showing the LiveChat widget"
Hi,

I would like to show the LiveChat widget only if the department is online (there is an agent online)

Something like:
[code]

Is this possible? I checked the live chat API but there seem to be no methods available that can help achieve this.

[2019-04-11 10:30] carlo-fontanos opened #14095 "LiveChat: Send offline message to the agent of the target department?"
Hi,

Is there a way to send the offline message to the agents of the target department rather than sending it to the email address configured on the `Email address to send offline messages` field at `admin panel > livechat > offline`?

[2019-04-11 12:32] ghost opened #14096 "Rocketchat more user information"
Hello everyone, first of all, I'm new here.
I hope I opened the subject in the right place.
When we want to display user information in Rocketchat, we can only see the first name last name and e-mail.
First of all, can we extract more information about users from LDAP? If we can't add this information, can you bring it in the new version? The feature I want is in skype enterprise, but I want to us

[2019-04-11 12:42] knrt10 commented on #14090
@geekgonecrazy the problem is with how `t` and `handleError` functions are imported. I have fixed it, making a PR for the same

[2019-04-11 12:44] renatobecker commented on #14095
Hi @carlo-fontanos.
Do you mean an e-mail message?

[2019-04-11 12:54] tomonorisugiura opened #14098 "UpdateMessage with updates only in attachments does not show up"
### Description:

I use updateMessage via Rocket.Chat.sdk to update existing message.
A message has text in msg field with 1 button.
If I try to add 2nd button to the message without updating text in msg filed, nothing to occur.

### Steps to reproduce:

I created an example code.

[code]
After calling updateMessage, the message is not updated if I did not change msg.

### Expected behavior:

The

[2019-04-11 13:25] rodrigok commented on #13243
Closed by https://github.com/RocketChat/Rocket.Chat/pull/14089

[2019-04-11 13:25] #13243 closed

[2019-04-11 14:25] mohamedar97 commented on #14096
can i please add more details about the info you would like to show in the user info tab? also currently in the user info tab you can see first, last names and username, no email.

[2019-04-11 14:53] Mad-Onion commented on #11390
`/invite-all-from #general` is still not working here with LDAP-users and room #general - RC 0.74.3. Error as already mentioned: "rocket.cat: Invalid username"

[2019-04-11 15:14] jbaits commented on #10328
This is still an issue in 0.74.3. CentOS 7 deployed via tar.

[2019-04-11 15:42] skyJG commented on #13904
We did a Debug of the Rocket.Chat iOS App, but unfortunatley - no luck there...
We can't get it to fire there either.
![rChat iOS Debug](https://user-images.githubusercontent.com/19854635/55969871-d0c95180-5c7e-11e9-959c-bfb321922010.jpg)
[rocket.chat.websocket-log.txt](https://github.com/RocketChat/Rocket.Chat/files/3069450/rocket.chat.websocket-log.txt)

[2019-04-11 15:47] Rodriq commented on #14002
@Myrthian please explain where exactly you got this. which page?
  If we change the language, where next are we suppose to go to see this error?

[2019-04-11 16:40] sampaiodiego commented on #13461
@sketch242 please try converting your MongoDB to a replica set. also update your node version to 8.11.4

[2019-04-11 16:40] sampaiodiego commented on #13461
@sketch242 please try converting your MongoDB to a replica set. also update your node version to 8.11.4

[2019-04-11 16:40] sampaiodiego commented on #13461
@sketch242 please try converting your MongoDB to a replica set. also update your node version to 8.11.4

[2019-04-11 17:14] #13562 closed

[2019-04-11 18:00] sampaiodiego opened #14105 "Message box does not go back to initial state after sending a message"
after sending a message it should go back to initial state:
![image](https://user-images.githubusercontent.com/8591547/55980308-8fc74200-5c6a-11e9-9538-a607175bb2d9.png)

but instead it stays like a message is still there waiting to be sent:
![image](https://user-images.githubusercontent.com/8591547/55980276-8047f900-5c6a-11e9-818d-965544745ecf.png)

[2019-04-11 18:30] #7398 closed

[2019-04-11 18:48] #13973 closed

[2019-04-11 19:24] geekgonecrazy opened #14106 "Jitsi keeps alerting of started call"
### Description:

<img width="554" alt="image" src="https://user-images.githubusercontent.com/51996/55985373-1bd66b00-5c65-11e9-940d-3f553d9c9c88.png">

### Steps to reproduce:

1. use desktop client
2. start jitsi call
3. don't refresh, just change rooms

### Expected behavior:

Even if I have the jitsi window open... this shouldn't happen.   This should post once until a new call is started.

##

[2019-04-11 19:26] engelgabriel opened #14107 "Update the ICON for edited messages and remove avatar"
![image](https://user-images.githubusercontent.com/1000217/55986675-d5791000-5c54-11e9-8ad3-e20c9746742b.png)

The icon should be just a pencil, without the outer box, and now Avatar, the user info is already on the hoover.

Make the icon red, when edited by someone else.

[2019-04-11 19:28] geekgonecrazy commented on #14093
That commit doesn't match 0.74.3  what custom changes have you made?

[2019-04-11 19:34] wreiske commented on #14107
Can I request that the avatar be shown when edited by someone else?

Oh wow, you edited your message while I was typing up mine :)