[2015-09-30 16:48] geekgonecrazy commented on #941
Yeah worked for me in firefox 41.  If you want to catch up on the conversation around this issue take a look at #dev in the chat.

[2015-09-30 16:57] marceloschmidt commented on #940
Yes, definitely! We're working on our API so others can do all kinds of stuff, from sending a message to setting preferences, all via API calls... what would be your use case?

[2015-09-30 17:27] marceloschmidt commented on #838
@rcaferati can you take a look at this one? it looks like a simple z-index on footers would solve this, but I'll let you decide that ;) Thanks!

[2015-09-30 18:25] nelreina commented on #940
I build a package  tracking system for a client of my . Al his costumers can logged in to see the status of their packages , nothing special. But the owner ask  me if I can integrate a chat mechanism in the app.
So every users have a user accounts already / I need a way to hook in your app.

I love the app btw :)

[2015-09-30 18:25] #911 closed

[2015-09-30 18:29] marceloschmidt commented on #842
Seems this has already been fixed... Closing.

[2015-09-30 18:29] #842 closed

[2015-09-30 18:30] rodrigok commented on #418
Hi @barhum, thanks for your interest

You can help us with this issue in this branch https://github.com/RocketChat/Rocket.Chat/tree/webrtc

[2015-09-30 18:33] rodrigok commented on #713
Hi @robhawkins, we are moving our main focus to Rocket.Chat

[2015-09-30 19:26] AdrianoCahete commented on #935
I don't know if panel is better. I think about put a icon ![info](https://upload.wikimedia.org/wikipedia/commons/b/b0/Information_icon_ff.png) before channel name, in channel top bar.

[2015-09-30 22:50] sunnipaul commented on #935
That's what I am looking for too.  I hope it can be built soon.  Channel tab is good.

[2015-09-30 23:00] sunnipaul commented on #528
I am really looking forward for this simple but useful feature.

[2015-09-30 23:02] sunnipaul commented on #741
+1.  Really useful

[2015-09-30 23:04] geekgonecrazy commented on #528
:+1:

additional :+1: for that dialog you posted a screenshot of ;)

[2015-09-30 23:09] geekgonecrazy commented on #899
Fixed in #921

[2015-09-30 23:09] #899 closed

[2015-10-01 00:46] #916 closed

[2015-10-01 01:11] denyeo commented on #931
I was just telling @marceloschmidt that live site chat/support would be great if it could offer **offline chats** - i.e. guests can leave messages even when no support staff are around.

For this to make sense, guests will either 1) need to be authenticated or 2) be able to leave contact details like their email address.

I would like to use the live site chat for registered users as well as guest

[2015-10-01 01:18] denyeo opened #943 "Live support chat: text entry field doesn't expand to accommodate long messages"
On https://rocket.chat/livechat-demo.html - if the guest types too long a message in the text entry field, the previously typed text scrolls out of the text entry field and gets hidden. Ideally the text entry field should probably auto-expand to multiple lines as the message gets longer. @rcaferati

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysourc

[2015-10-01 01:22] denyeo commented on #931
One more small but useful UI improvement: implement **page-title-changing when a message has arrived** in the live support box and hasn't been seen yet. This is what Google Hangouts and Facebook messaging do. (A further possibility is to implement **desktop/browser notifications**, but I think that might be too intrusive.)

[2015-10-01 13:32] croth53 opened #945 "Android/iOS - load more"
i'm on same WiFi as with Safari OS X - safari gettting all the updates
on Android and iOS, load more does not work

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27087703-android-ios-load-more?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2015-10-01 14:53] emcguinness commented on #742
This seems related enough to not open up a new issue (I hope). Currently when failing a login using ldap I am getting the error box appear in the top right but it is completely blank. From what I can tell it is trying to toast an object rather than the actual message.
[code]
Hard to give an exact line number as I am using Chrome dev tools pretty print to make any sense of it but in that it is 5366

[2015-10-01 17:18] graywolf336 commented on #939
Should it just be the image? Or should there be details about it as well?

[2015-10-01 17:42] jelenajjo commented on #756
:+1:

[2015-10-01 18:03] shtefcs opened #946 "Search improvments"
## Scenario

I posted some *StackOverFlow* link on private chat few days ago, and when I searched `stackoverflow` in search, it didn't find it. So I needed manually to go all over the chat and find it.

Also, I think it should be link in Search Sidebar when we are searching for some term, which will lead to chat message in chat thats why search term will not be only taken from context, and it will

[2015-10-01 18:13] shtefcs opened #947 "Renaming upload folder"
I think that folder for uploading attachment should have different name then `rocketchat_uploads`, regarding white labeling & branding.

![](http://content.screencast.com/users/shtefcs/folders/Jing/media/f693d0ea-8959-4341-a227-a2b5d8678350/2015-10-01_2014.png)

[2015-10-01 18:19] geekgonecrazy commented on #947
duplicate of #738 please move discussion there.

Thanks :)

[2015-10-01 18:19] #947 closed

[2015-10-01 18:32] kormic opened #949 "Can't connect to server (meteor 1.2.0.2)"
Now that we are on meteor 1.2.0.2 I can't connect to the server from the iphone app (the native one). I guess it could be the Objective DDP problem (?)

ObjectiveDDP has a swift example. If I use that example's server then it connects just fine. To my local rocket.chat server connects just fine. It not connect to the demo server (http://demo.rocket.chat/home).

[2015-10-01 19:04] graywolf336 opened #951 "Server Error Editing Notification Messages"
[code]

[2015-10-01 19:40] #951 closed

[2015-10-01 19:58] royalaid commented on #939
The above is the default embed that Imgur provides. It could be either or and it a really a matter of preference

[2015-10-01 20:01] royalaid opened #953 "Xkcd Embed Support"
Slack currently embeds xkcd like this:
![screenshot 2015-10-01 12 59 37](https://cloud.githubusercontent.com/assets/2439803/10232225/4f038f2e-683c-11e5-973f-4c5e9608d41f.png)
Rocket.Chat currently embeds xkcd like this:
![screenshot 2015-10-01 13 00 52](https://cloud.githubusercontent.com/assets/2439803/10232251/755cfd0e-683c-11e5-91ae-c309d3c51ab0.png)
It would be nice to have embed support for x

[2015-10-01 20:04] kormic commented on #949
I had to put /websocket at the end of the url. It connects just fine...

[2015-10-01 20:04] #949 closed

[2015-10-01 21:09] AdrianoCahete commented on #939
And **IF** users put a nsfw img?
I think image embedds have to stay small.

[2015-10-01 21:58] shtefcs commented on #738
:+1:

[2015-10-01 22:58] davidalzate commented on #270
how can I config the app to use my own host and not the demo one?

[2015-10-02 00:05] royalaid commented on #939
What about an expand on click option?

[2015-10-02 02:13] skyred commented on #519
Anyway that I can test the backend of this livechat demo?

[2015-10-02 02:49] cybercorey commented on #933
Hi there, I'm keen to test these new features.
I've git pulled your branch "webrtc" and built it however I cannot find anything new. I am using the same database would this have caused this?

[2015-10-02 02:51] Sing-Li commented on #933
no ... create a private group of a few users

[2015-10-02 02:55] cybercorey commented on #933
I must be blind, I cannot find the option to start a video call inside a private group.

[2015-10-02 03:18] Sing-Li commented on #933
click on the right panel ... and click join

[2015-10-02 03:21] cybercorey commented on #933
Ahh worked it out, i had the new copy running with a different folder name! Cheers for your Help

[2015-10-02 03:24] Sing-Li commented on #933
let us know if you can get 3 or more parties going ... on my LAN, I'm having some problems with the current code  :smile:

[2015-10-02 03:25] cybercorey commented on #933
Will do! getting 4 on now!

[2015-10-02 03:25] Sing-Li commented on #933
cool. r u on a lan?  any browser running on the same machine as the server?

[2015-10-02 03:28] cybercorey commented on #933
All over wireless, all using Chrome server is running in a VM on my machine. Started lagging once the 3rd person joined

[2015-10-02 03:30] Sing-Li commented on #933
yes ... it would lag ... it is a mesh network where everyone connect to everyone else.  But in your case, every machine is on the same 192.168.x.x subnet?

[2015-10-02 03:30] cybercorey commented on #933
Got 4 of us on currently all working pretty smooth, yes all on the same ip range

[2015-10-02 03:31] Sing-Li commented on #933
cool.  thanks for helping to test!

[2015-10-02 03:32] cybercorey commented on #933
No worries, one of us left now we are unable to click on one of our streams (keeps showing someone elses)

[2015-10-02 03:35] cybercorey commented on #933
Another note: Getting some interesting results leaving and joining again. Prompts people to join the chat while they are in the chat. Also I (A) can now see B while B can see A and C and C can see only A (seems like it was unable to obtain connections to existing group members or something haha.

[2015-10-02 03:37] Sing-Li commented on #933
can you please confirm that all four users have different IP, and that the server also has different IP than all the users?

[2015-10-02 04:09] dcworldwide commented on #796
:+1: for replacing CS with ES2015. It is less about the language, but more about embracing standards and ensuring we have the broadest possible base of developers able to contribute.

[2015-10-02 08:37] cybercorey commented on #933
Yup, all IP address's were different

[2015-10-02 09:37] jelenajjo commented on #756
Yep we need this for sure!

:+1:

[2015-10-02 09:38] shtefcs commented on #756
I had cases on my team chat that we needed this, so we moved conversation over skype cause of file limit.

:+1:

[2015-10-02 09:42] shtefcs commented on #738
Or just put some generic name for upload folder, like `uploads`

[2015-10-02 10:20] sunnipaul commented on #738
I even prefer per room upload folder.

[2015-10-02 11:02] gmsecrieru opened #956 "Mentioning do not work when username ends with `.` and other special characters"
![screen shot 2015-10-02 at 08 02 13](https://cloud.githubusercontent.com/assets/190883/10245228/f0203d86-68db-11e5-9553-7b9199434e3b.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27111889-mentioning-do-not-work-when-username-ends-with?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We

[2015-10-02 11:17] gmsecrieru commented on #941
I will close this one as I just tested on 40.0.3 and it works on my 5+ year old MacBook!
![languages](https://cloud.githubusercontent.com/assets/190883/10245445/f6990808-68dd-11e5-956c-1bf19ccbad86.gif)

[2015-10-02 11:17] #941 closed

[2015-10-02 11:24] shtefcs commented on #738
@sunnipaul good idea

[2015-10-02 11:45] Sing-Li commented on #941
@sinteur please re-open this if problem still exists.   @gmsecrieru  this may be network transport related.  Need to test with a server behind nginx with no websocket configured, thanks.

[2015-10-02 11:50] gmsecrieru commented on #941
In that case, please file up a new issue as the use case provided in this one is clearly working. Thanks!

[2015-10-02 11:56] gmsecrieru commented on #913
:+1:

[2015-10-02 11:57] Sing-Li commented on #941
:+1:  more descriptive title will help us isolate the problem faster :smile_cat:

[2015-10-02 12:07] Sing-Li commented on #941
Meanwhile, it could well be plugins related https://support.mozilla.org/en-US/questions/937462

Testing in Firebox safe mode can isolated the cause.

[2015-10-02 12:48] medvednikov opened #958 "Slack-like Integration with GitHub"
Hello,

Sorry if this is explained somewhere else already. I couldn't find the answer.

I finished setting up Rocket Chat for my company. All internal notifications have been migrated via Rocket.Chat API.

Now the only thing we are missing is receiving notifications from GitHub (commits, pull requests etc).

What's the best way to achieve this?

Thanks a lot.

[2015-10-02 12:52] geekgonecrazy commented on #958
@medvednikov currently we're achieving this using hubot.  We've got an adapter for hubot over at: https://github.com/RocketChat/hubot-rocketchat

Just adding the package: hubot-github-repo-event-notifier to hubot will allow you to receive github notifications.  If you check out our [community chat](https://demo.rocket.chat) this is how we are doing it there.

[2015-10-02 13:43] #859 closed

[2015-10-02 13:44] gmsecrieru commented on #858
Closing this one. @mitar feel free to jump in as suggested and thanks!

[2015-10-02 13:44] #858 closed

[2015-10-02 13:44] sampaiodiego commented on #519
@skyred the backend is the rocket.chat itself..

[2015-10-02 13:46] gmsecrieru commented on #852
Closing as Meteor 1.2 was already merged into `master`

[2015-10-02 13:46] #852 closed

[2015-10-02 13:51] geekgonecrazy commented on #519
@skyred If you want to test the server like @sampaiodiego said its rocket.chat its self.

Or are you wanting to test the receiving end of the live chat, as in actually getting messages etc?

[2015-10-02 13:56] skyred commented on #519
I want to test this either

1. point me to the documentation so that I can enable this feature on top of docker rocket.chat image?

2. provide the access to the server/receiving end of this https://rocket.chat/livechat-demo.html popup?

[2015-10-02 13:57] gmsecrieru commented on #854
Maybe it all boils down to a Notifications settings page, where user can setup when/how is notified and based on what events (perhaps even based on current status), e.g.:

(excuse my awkward attempt to reproduce a <select> input)
* Mentioned on a channel  [Push notification]
* Direct Message [e-mail]

[2015-10-02 13:59] AdrianoCahete commented on #956
Or change username policies to not let usernames starts or finish with dot.

[2015-10-02 14:01] AdrianoCahete commented on #939
:+1:

[2015-10-02 14:19] guarilha opened #960 "Rdio Integration"
Expand rdio links like this

![Slack](https://cloud.githubusercontent.com/assets/902478/10248657/4e1694f6-68f7-11e5-8635-67d7a2368212.png)

instead of this

![screenshot from 2015-10-02 11 16 37](https://cloud.githubusercontent.com/assets/902478/10248667/5b9fa14e-68f7-11e5-8211-f1a5644acc6d.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.c

[2015-10-02 14:27] Sing-Li commented on #519
1 is not possible without re-building.  Default configuration of our build does not include the livechat package - and there is no way to 'enable feature' after a build for docker images

For 2 --  @sampaiodiego...   is it possible to route messages to a specified registered user for these sort of tests?

[2015-10-02 14:33] sampaiodiego commented on #519
actually, only online users with `operator` flag set to true will receive those livechats. BUT, there is no UI to set an user as operator atm, so a update directly on database is needed.. it might be something like this (in mongo shell):

`db.users.update({ username: 'SOME_USERNAME' }, { $set: { operator: true } });`

[2015-10-02 14:38] Sing-Li opened #961 "Implement automated delivery pipeline (CI / Continuous Integration)"
Create a delivery pipeline that will, upon the creation of a pull request:
- [x] run Rocket.Chat tests (completed - pending Velocity bug-fix/overhaul)
- [x] build Rocket.Chat

And upon merge down of a pull request:
- [x] run Rocket.Chat tests (completed - pending Velocity bug-fix/overhaul)
- [x] add buildinfo data
- [x] build Rocket.Chat
- [x] configure and build specialized web executable for DEM

[2015-10-02 14:39] Sing-Li commented on #961
All comments and suggestions welcomed before beginning this major undertaking that will have impact on our daily workflow.

[2015-10-02 14:40] #886 closed

[2015-10-02 14:46] #889 closed

[2015-10-02 15:55] mhkeller opened #962 "Failed to connect to mongodb when using `docker-compose up`"
There could be a step I'm missing in the configuration but when I run `docker-compose up`. I get the following error. The first time I ran it, it failed. I ran it a second time and the error is thrown but the server launches. It seems none of the messages are saved to the database, tho, which would make sense given the errror.

[code]

[2015-10-02 16:01] mhkeller commented on #676
@marceloschmidt did you end up publishing that guide somewhere?

[2015-10-02 16:02] geekgonecrazy commented on #962
if you do `docker-compose ps` what do you have running?

[2015-10-02 16:06] mhkeller commented on #962
I get the following. I have to <kbd>ctrl</kbd>-<kbd>C</kbd> the `docker-compose up` process to get type access to the console. Or do you want me to open up another docker shell and run `docker-compose ps` which the `up` process is running?

[code]

[2015-10-02 16:09] mhkeller commented on #962
Running `docker-compose ps` in a new docker shell with the app running gives me

[code]

[2015-10-02 16:09] marceloschmidt commented on #676
Nope, never did :( but yesterday I was giving docker another shot and I think I'll do it today again. If all goes as I expect, I'll create a wiki on setting it up. Thanks for the reminder.

[2015-10-02 16:10] marceloschmidt commented on #962
How does your docker-compose.yaml look? Have you made any changes?

[2015-10-02 16:13] geekgonecrazy commented on #962
When you type docker-compose up make sure to specify the -d flag to daemonize it.

Like: `docker-compose up -d`

Otherwise any key stroke could bring mongo or rocket.chat down.  Looks like in this case mongo isn't started.  But if you did make any changes to your yml file that'd possibly effect it too.

[2015-10-02 16:13] mhkeller commented on #962
Only the `ROOT_URL`.

[code]

Could it be something with the port? I'm running it off of 8080 per the issue in https://github.com/RocketChat/Rocket.Chat/issues/676#issuecomment-137788217

[2015-10-02 16:17] geekgonecrazy commented on #962
I think your port is probably fine.  Seems more and issue of mongo not being properly linked.

I'd make sure every thing is completely shutdown.

`docker-compose stop`
`docker-compose rm`

Then try with `docker-compose up -d`

Be on the look out for errors with it coming up.

[2015-10-02 16:18] mhkeller commented on #962
When running it with `-d` where do I see the output that was previously in the terminal so I can look for errors?

[2015-10-02 16:19] geekgonecrazy commented on #962
`docker-compose logs`

[2015-10-02 16:21] mhkeller commented on #962
okay i don't see the mongo error but now it says user not found when I try to log in

[2015-10-02 16:22] geekgonecrazy commented on #962
Should be able to just register your user and be good to go.

Also if you need a little more real time assistance.  Feel free to hit us up on our [community chat in #support](https://demo.rocket.chat/channel/support)

[2015-10-02 16:32] mhkeller commented on #962
Doing `rm` and restarting seems to have solved this issue

[2015-10-02 16:32] #962 closed

[2015-10-02 16:39] imclem opened #963 "Rest API - open access to all users?"
Hi Guys,

Just set-up LDAP with RocketChat, on client-side everything works properly. On api side, I can't login with my LDAP credentials. I just get an Unauthorized error.

I've created a non-ldap account on the server, then used it on /login and this works properly.

Looks like login with LDAP account is not supported on the rest api side.

I would also be grateful if you could add the capabilit

[2015-10-02 17:16] mhkeller opened #964 "Removing from favorites with the "X" next to the name doesn't have an effect"
Unstarring from the top of the page within that chat channel does work, though.

[2015-10-02 17:18] geekgonecrazy commented on #964
duplicate of #786.

Please refer there.  Thanks :)

[2015-10-02 17:19] #964 closed

[2015-10-02 17:56] mhkeller opened #966 "Disappearing chats / Chats not being received"
The following gif shows an error we're seeing where chats aren't being received if the window isn't in the front and an issue where chats are lost on page refresh.

The starting frame of the gif (since it's a little hard to tell) is the screen where the most recent chat is "testing again" by "MK".

Next, the page is refreshed and a number of newer chats are now displaying, as they should have been

[2015-10-02 18:12] ninja- commented on #268
honestly I would just stick to the "trusted server" model. the xmpp-otr or even tox-style madness isn't worth it

[2015-10-02 18:33] ninja- opened #967 "Emoticons broken with a question mark at the end"
Testcase:
1. type ":D?"
2. expected is a rendered emoticon
3. there is no emoticon rendered unlike ":D" and ":D!"

[2015-10-02 18:36] maxlinux2000 opened #968 "video-chat: firefox : chrome"
Now Firefox and chrome under ubuntu 14.04 can't use the micro and the camera.

Under Android 5 + chrome, it's works fine.

[2015-10-02 18:42] ninja- opened #969 "sending a PM to self, bugs out the user interface"

[2015-10-02 18:43] maxlinux2000 opened #970 "Meteor bug?"
I don't know if this is a bug, but I have a little script that update meteor and rocket.chat and finally run it for testing.

in the terminal I can see this message:
-------------------------------------------------------------------------------------
The following top-level dependencies were not updated to the very latest
version available:
 * dispatch:run-as-user 0.0.2 (1.1.1 is available)
 * ra

[2015-10-02 18:44] ninja- commented on #970
no worries, it's just outdated dependencies

[2015-10-02 18:45] ninja- opened #971 "add image proxy = get rid of ssl warnings"
should be left as an on/off option if implemented
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27123357-add-image-proxy-get-rid-of-ssl-warnings?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2015-10-02 18:46] Sing-Li commented on #968
@maxlinux2000 it has  *A LOT* to do with your system hardware and not just the browser versions.

Please check with this link -  if your browser + hardware stack works here , it will work:

https://test.webrtc.org/

[2015-10-02 18:47] geekgonecrazy commented on #961
#### Mobile Builds
I think Android / iOS builds need to be a separate process.  Maybe this process kick starts those.  But this process should not be held up by those.  As compiling for meteor already takes long enough, but compiling for Android takes longer.  Not to mention the time to install the SDK every time.

I have a process that does this.  It takes too long.

#### After Successful build
I

[2015-10-02 18:48] maxlinux2000 opened #972 "Please add the emoticons panel, like whatsapp or phpbb"
![xrocket](https://cloud.githubusercontent.com/assets/5683921/10254860/b5b54f9a-6946-11e5-9442-d3abfa3739de.png)

Pressing a button appears all the emoticons, so the user don't need to learn the codes :) :/ :| :( .....

[2015-10-02 18:50] Sing-Li commented on #970
`meteor update` will update all core pages, those that the Meteor platform itself is dependent on - and tested against.   Rocket.Chat may or may not want/need the latest version of a third-party package.

[2015-10-02 18:50] #970 closed

[2015-10-02 18:51] geekgonecrazy commented on #972
Duplicated of #480

Please refer there.

[2015-10-02 18:51] #972 closed

[2015-10-02 18:57] Sing-Li commented on #961
Yes.

[2015-10-02 19:04] ninja- opened #973 "User panel sometimes blank"
this includes the @ all tag

[2015-10-02 19:05] geekgonecrazy commented on #973
This is an occasional bug. Seems to be related to possibly window size.

[2015-10-02 19:08] ninja- commented on #973
this happens ONLY when the tab wasn't opened at least one time before clicking the tag

[2015-10-02 19:12] maxlinux2000 commented on #968
![xrocket2](https://cloud.githubusercontent.com/assets/5683921/10255230/4e91d722-6949-11e5-8066-312ef6ec698c.png)

ok, firefox works fine.

I just tried too:
https://www.webrtc-experiment.com/RTCMultiConnection/AppRTC-Look.html

from my desktop (ubuntu with firefox) and my phone (android 5 with chrome), ando works just fine

[2015-10-02 19:21] Sing-Li opened #974 "Add support for webrtc data channels"
The new webrtc stack supports all styles of audio, video, and screensharing calls.

Upcoming chat-ops integration will include real-time streaming logs, graphs and other visual elements.

The streaming data can be carried and 'switched' by via webrtc data channels.

http://www.html5rocks.com/en/tutorials/webrtc/datachannels/

[2015-10-02 19:25] maxlinux2000 commented on #968
OK, I undestand the problem under firefox.
Pressin the Video_chat button, don't appear the message to share the mic & camera, so the video char can't be start.
In the Console I can reat this:

InvalidAccessError: RTCPeerConnection constructor passed invalid RTCConfiguration - missing username: turn:team%40rocket.chat@numb.viagenie.ca:3478 rocketchat_webrtc.js

[2015-10-02 19:27] geekgonecrazy commented on #961
Cool! I'm 1,000% for it.  I think this will help us a lot!

[2015-10-02 19:29] marceloschmidt commented on #974
This will allow us exchanging secret keys via webrtc without the interference of server: #268

[2015-10-02 19:30] geekgonecrazy commented on #974
oooh! This is true!  I like it!

[2015-10-02 19:37] maxlinux2000 commented on #974
Hi Sing-Li,
Please have a look to #968 closed.

[2015-10-02 20:06] mhkeller opened #975 "Require email address to match domain"
When registering for an account, it would be great to restrict that ability to only users of a certain email domain.

[2015-10-02 20:08] geekgonecrazy commented on #968
@maxlinux2000 did firefox ask you to share these?

[2015-10-02 20:23] mhkeller opened #976 "Email admin when new user registers and registration requires admin approval"
If this is already a feature let me know and I will see if I misconfigured my smtp settings but it would be useful if when a new user registers and the admin has selected the option requiring approval, then the admin gets an email notifying them of such.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27125348-email-admin-when-new-use

[2015-10-02 20:28] mhkeller opened #977 "Email verification et al should look to `ROOT_URL` in `docker-compose.yaml` when deploying using `docker-compose`"
I'm setting up email verification of accounts and in my logs I get

[code]

I imagine the local IP address will be replaced with the `MAIL_URL` location but [docker documentation suggests deprecating this method](https://docs.docker.com/compose/env/) and suggests using the `docker-compose.yml`. Since that file [already asks for the `ROOT_URL`](https://github.com/RocketChat/Rocket.Chat/blob/master/

[2015-10-02 20:38] mhkeller commented on #977
After reading https://github.com/RocketChat/Rocket.Chat/issues/717, it looks like I misunderstood what `MAIL_URL` is. After restarting, the `MAIL_URL` works correctly but I second that issue's suggestion that you tell people that they need to restart the server after configuring `MAIL_URL`.

The local ip address should be replaced with the `ROOT_URL` variable, if deploying via docker

[2015-10-02 20:43] mhkeller opened #978 "Explain how to set/use `Accounts_AvatarStoreType`"
When running through docker-compose, I can't upload an image as an avatar. I'm not sure how to ssh into the docker vm to see if that directory exists but happy to help debug. I *do* get a notification that the upload and image change was successful, however.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27125759-explain-how-to-set-

[2015-10-02 20:44] ninja- opened #979 "Elements and text "selected" stalls UI (user-select)"
fixes some bugs and follows slack's behaviour

[2015-10-02 20:44] gmsecrieru commented on #975
:+1: Looks like a great settings-based feature!

[2015-10-02 20:45] mhkeller commented on #978
Changing the type to `FileSystem` works now. Could this be documented on why this works / maybe a dropdown menu to choose between options:

[2015-10-02 20:51] mhkeller opened #980 "Layout too narrow on settings"
In the screenshot below, the browser is 1287 pixels wide but the settings boxes are very narrow, causing overlapping text that is unreadable even though there is a lot of unused whitespace to the right. The layout should expand to fill this space so that it is more readable.

![screen shot 2015-10-02 at 4 19 58 pm](https://cloud.githubusercontent.com/assets/498744/10257485/b996017a-6925-11e5-9532-

[2015-10-02 20:53] mhkeller opened #981 "docker virtualbox won't forward to port 80"
Following up on this comment https://github.com/RocketChat/Rocket.Chat/issues/676#issuecomment-137788217, I still can't get forwarding to work on port `80`. I imagine it's because `80` is protected and usually requires `sudo` to use. Perhaps there's some sort of permissions settings that needs to be changed to allow for this.

[2015-10-02 20:58] mhkeller opened #982 "Desktop notifications still not working"
I was following this issue around desktop notifications https://github.com/RocketChat/Rocket.Chat/issues/682 but my team and I still can't get them to work on latest versions of Firefox and Safari. Happy to jump into live chat to help debug!

[2015-10-02 21:00] mhkeller commented on #977
Nevermind. This is working as it should. I mistook the local url for the actual URL!

[2015-10-02 21:00] #977 closed

[2015-10-02 21:18] graywolf336 commented on #979
I don't follow what you mean here, mind explaining some more?

[2015-10-02 21:20] ninja- commented on #979
yes for example when you click ctrl+a it will select the user interface elements and this causes some bugs. slack blocks selecting ui elements

[2015-10-02 21:21] ninja- commented on #982
they work if you are mentioned :P

[2015-10-02 21:36] mhkeller commented on #982
Hmm, we're still not seeing them even when @-mentioned. Are they supposed to work for DM-s as well?

Is there any relevant log output that would help debug?

[2015-10-02 21:54] ninja- commented on #982
weird. could you check if they are working on chrome?

[2015-10-02 22:04] mhkeller commented on #982
checked in chrome and not working there either. i dont know if it makes a
difference but we checked whether chrome was in foreground and in the
background.

On Fri, Oct 2, 2015 at 5:54 PM, ninja <notifications@github.com> wrote:

--
@mhkeller
mhkeller.com

[2015-10-02 23:31] Sing-Li commented on #968
@maxlinux2000 the screenshot you showed indicate that browser+system is *not* compatible with webrtc in general.

[2015-10-03 00:02] geekgonecrazy commented on #968
@Sing-Li ah.. weird that it'd have one resolution and make it fail.  But makes sense why it fails.

[2015-10-03 00:02] #968 closed

[2015-10-03 07:02] mitar opened #983 "Use more reactivity on the server side"
I noticed that for some changes to get into the effect on the client side you have to reload Rocket Chat. I think this is because some publish functions are not reactive. So, a shameless plug, maybe you should use our new [reactive publish](https://github.com/peerlibrary/meteor-reactive-publish) to fix that. :-)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://ww

[2015-10-03 07:05] AdrianoCahete commented on #979
This is because #684 . We need to define the user interaction: users can or can't select texts?

[2015-10-03 11:32] Sing-Li opened #985 "Fix Android Cordova build broken after Meteor 1.2 update"
Android Cordova build no longer works after update to Meteor 1.2.

Error is often a frustrating:

`com.android.dex.DexException: Multiple dex files define Landroid/support/v4/accessibilityservice`

[2015-10-03 12:50] gmsecrieru opened #987 "Display "Member of [channels]" in user information on Members List"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27137822-display-member-of-channels-in-user-information-on-members-list?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_med

[2015-10-03 15:11] Sing-Li commented on #968
Once the new stack lands in master and is working for most folks.  We'll party and tune/tweak. Yes it is likely possible that we can 'query' in such a way to support these edge cases. And also improve the UX when browsers are not compatible ( for example  - don't show the button)

[2015-10-03 15:16] IQ2022 opened #988 "Ignore users"
users of a channel, can have an option to put a user on ignore (they wont see their messages) unless they un-ignore that person. it will not impact others

[2015-10-03 15:24] Sing-Li commented on #971
@ninja-   Please elaborate.  Aren't these typically interceptors to insert tracker cookies?

[2015-10-03 15:36] Sing-Li commented on #958
@medvednikov please reopen or logon to demo if you need further support.

[2015-10-03 15:36] #958 closed

[2015-10-03 15:40] Sing-Li commented on #969
@ninja-  please explain in more details on how to reproduce this.

[2015-10-03 17:41] gmsecrieru commented on #983
Thanks for the suggestion, @mitar -- would you be willing to describe in more details which "some changes" or a good use-case for the mentioned component?

[2015-10-03 17:52] gmsecrieru commented on #973
I could finally reproduce this error several times thanks to @ninja- description. Variations may occur but please follow below for an easily reproducible use-case:

1. Fully refresh Rocket.Chat tab/window
2. Click *any* `@`mentions on a given room.
3. Open Members List through right tab-bar button

First two steps will reproduce the blank state. Third step will give another unexpected behavior tha

[2015-10-03 18:00] gmsecrieru commented on #956
_Updated_: Looks like the problem is not related only to dots:

![image](https://cloud.githubusercontent.com/assets/190883/10264349/7a6f3466-69df-11e5-9b72-b8777b83f0d1.png)

[2015-10-03 18:07] rodrigok commented on #933
@cybercorey we did some improvements in connectivity, can you test again?

[2015-10-03 18:08] gmsecrieru commented on #988
I think the ability to ignore a user for Direct Messages is cool, but I wonder if that would make sense for channels as one might end up with crazy/nonsense conversation logs since parts of it would be missing from a given ignored user.

@RocketChat/owners might jump in for discussion.

[2015-10-03 18:57] #803 closed

[2015-10-03 18:59] #528 closed

[2015-10-03 19:02] #985 closed

[2015-10-03 19:07] rodrigok commented on #988
I totally agree with @gmsecrieru

[2015-10-03 19:24] rodrigok commented on #979
What do you think? https://github.com/RocketChat/Rocket.Chat/pull/991

[2015-10-03 20:05] rodrigok commented on #982
@mhkeller are you accessing using HTTPS?

[2015-10-03 20:30] mhkeller commented on #982
This one might be my error in updating to the newest version. Will test when I have access to that machine.

[2015-10-03 20:47] geekgonecrazy commented on #966
Just as a note, I asked him to post the network panel as well.

Basically we've seen several people have this issue, but usually we do a bit of inquiry and it turns out websockets aren't working.  Usually just simply getting websockets working for them has solved this problem.

But here its happening with even websockets.  So we need to figure out what exactly is happening here.  Very small percen

[2015-10-03 20:49] geekgonecrazy commented on #981
@mhkeller hit us up on the community chat some time for this.  This is for sure docker / virtualbox related and not related directly to rocket.chat in any way.

So i'm going to close this.

[2015-10-03 20:49] #981 closed

[2015-10-03 20:52] geekgonecrazy commented on #978
So using the docker-compose setup out of the box i'd for sure not recommend using fileSystem storage at all.

If it actually works it'll be in the container.  When you goto upgrade the rocket.chat container for a new version your files will be gone.

You need to add a volume in your docker-compose file and map a folder inside the container to outside.

Something like:
[code]

As far as the types o

[2015-10-03 20:58] tyronegrandison opened #992 "Import Chat History"
If would be nice to a feature that allows the import of:
1) slack channels and their history
2) Chat histories from other IM programs

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27144374-import-chat-history?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2015-10-03 20:58] graywolf336 commented on #992
In progress ;)

[2015-10-03 21:02] tyronegrandison commented on #992
Phenomenal.

[2015-10-03 21:20] ninja- commented on #969
@Sing-Li try sending a private message using the "+" button. then - enter your own username and click the finish button. the result is an empty buggy entry on the list of private messages.

[2015-10-03 21:21] ninja- commented on #971
@Sing-Li private is one thing, but what I am referring to are the SSL warnings caused by loading images from http links.

[2015-10-03 21:36] graywolf336 commented on #992
How are you thinking the import should be done, @tyronegrandison? As currently the idea is to import the exported zip file from Slack, but that only contains users, channels, messages & files.

[2015-10-03 21:41] tyronegrandison commented on #992
@graywolf336 does it contain user emails or just user names? If both username and user email then that  zip file is perfect for a first version.

[2015-10-03 21:47] graywolf336 commented on #992
Yes, it contains all that and more.

[2015-10-03 21:49] tyronegrandison commented on #992
Then you are good to go.

Any thoughts on importing chat histories from GChat, etc ?

[2015-10-03 21:50] graywolf336 commented on #992
Not sure yet, the framework for the importing is still in the works..how does one export from GChat?

[2015-10-03 21:56] tyronegrandison commented on #992
I think Google Takeout (https://www.google.com/settings/takeout/custom/chat) is the recommended way.

[2015-10-03 22:28] graywolf336 commented on #992
I will have to look into it and see how the data is structured. Are you thinking Google Apps import or personal ones?

[2015-10-03 22:42] ltdenard opened #993 "uploading avatar causes crash"
When I upload a png or jpg file as my avatar, it causes rocket chat crash with the following err in the logs. What other details should I include?

Error: spawn ENOENT
    at errnoException (child_process.js:1011:11)
    at Process.ChildProcess._handle.onexit (child_process.js:802:34)

/var/www/rocket.chat/bundle/programs/server/packages/meteor.js:974
    throw new Error("Meteor code must always r

[2015-10-03 22:44] geekgonecrazy commented on #993
This is because its running into a permission issue writing the file.  I'm guessing you changed to Filesystem for avatar storage?

Also what platform?

[2015-10-03 22:54] ltdenard commented on #993
This is what it was set to by default.. i think? If I can switch it to database storage, that's fine as well.
https://i.imgur.com/WqTqEBl.png

I'm doing the standalone deployment without docker. Currently, i'm on a CentOS Linux release 7.1.1503 (Core) server.

The following is how I have installed everything so far. Most of it is a copy/paste from the original guide but I have added some things.

[2015-10-03 23:00] ltdenard commented on #993
Just discovered this. Turning Accounts_AvatarResize to False only causes the program to momentarily time out with the "try again" bar at the top but the upload happens to the database and the avatar changes.

[2015-10-03 23:01] tyronegrandison commented on #992
Thinking that Google Apps import should be first because then you can import histories from business users

[2015-10-04 01:10] Sing-Li commented on #933
So it seems like we have a problem when one of the browser has the same IP address as the server.  I'll test that again to make sure.

[2015-10-04 02:03] Sing-Li commented on #961
Awesome!

To address the Android build time issue.  I created and tested a heavily customized Android SDK docker image and it now can compile an Android APK from Meteor source in about 1 minute.  It can be hosted on a server/VPS and be triggered by a webhook from CI - so the Cordova build will not impede the 'normal build' workflow.  Thanks for bringing up the issue.

[2015-10-04 06:53] mitar commented on #983
@gmsecrieru: I just did it, easier than explaining. See #995.

[2015-10-04 16:56] ninja- opened #996 "Add more friendly loading screen"
currently it's just "undefined" and a blue screen

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27155627-add-more-friendly-loading-screen?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=track

[2015-10-04 17:18] gmsecrieru commented on #996
Related to #800

[2015-10-04 17:49] gmsecrieru commented on #485
I could not reproduce this error with iOS app, is that still an issue for you @raulfiru ?

[2015-10-04 18:02] gmsecrieru commented on #521
There are so many changes on WebRTC about to merged into `master` from #989 that this might be addressed as well. Would you try again with latest code @graywolf336 ?

[2015-10-04 18:09] #777 closed

[2015-10-04 18:31] graywolf336 commented on #521
Sure will!
On Oct 4, 2015 1:02 PM, "George Secrieru" <notifications@github.com> wrote:

[2015-10-04 18:48] gmsecrieru commented on #987
Possibly related to #69

[2015-10-04 19:07] gmsecrieru commented on #274
Closing this one as you can disable downloading images automatically from Account -> Preferences

[2015-10-04 19:07] #274 closed

[2015-10-04 19:27] gmsecrieru commented on #310
How is this going so far? I believe this is a very requested feature and I have time to help if needed :D

[2015-10-04 19:30] geekgonecrazy commented on #310
@gmsecrieru I resynced the branch recently.  But @marceloschmidt has done most of it.

[2015-10-04 19:42] gmsecrieru commented on #423
Missing content might be related to #973

[2015-10-04 19:58] ninja- opened #998 "Android UI experience checklist"
- [ ] - fix slow window resizing when you bring the android keyboard
- [ ] - get rid of the bar on the right because it takes a lot of space
- [ ] - ability to swype from the left to get the list of channels

swyping from the left works on the "internet" android app but not on chrome...weird
after swyping the bar back, the icons panel becomes blank....the search and userlist icons disappear

<boun

[2015-10-04 20:14] gmsecrieru commented on #760
Closing this based on #955

[2015-10-04 20:15] gmsecrieru commented on #760
Closing this based on #955

[2015-10-04 20:15] #760 closed

[2015-10-04 20:20] Megatronic79 commented on #760
Yep tested that earlier looks good!

Should focus on the #724 for the public facing instances.

[2015-10-04 20:21] gmsecrieru commented on #760
:+1:

[2015-10-04 20:56] gmsecrieru commented on #850
@elviswind Is this still an issue?

[2015-10-04 20:59] gmsecrieru commented on #892
Related to #640

[2015-10-04 21:35] Sing-Li commented on #933
Latest code, test results.  On LAN:

server IP:      192.168.38.102
client 1 IP:     192.168.38.102
client 2 IP:     192.168.38.110
client 3 IP:     192.168.38.111

client 1 uses  http://localhost:3000/  to access sever
client 2 and client 3 uses  http://192.168.38.102:3000/  to access server

client 1 gets "START" button in general, sees own video
client 2 gets "START" button in general (not "JOI

[2015-10-05 02:53] Sing-Li commented on #961
We want to include the building of a Sandstorm SPK as one of the secondary build artifacts.

@paulproteus, @kentonv , @jparyani , @dwrensha

Any idea of how to either:

* build it using the limited travis-ci VM resources available for open source pipelines

OR

* create a docker image for building the Sandstorm SPK

Thanks.

[2015-10-05 06:22] imclem commented on #963
I (We) at least need "Service" accounts. I've just created a Bamboo notification plugin who sends notification to a public (at this time) channel.

As I said in previous post for my usage, creating service accounts with Username/api-token would be sufficient.

[2015-10-05 09:39] Baachi opened #1001 "Installation error"
Hey guys i want to install rocket.chat on our intern server (Ubuntu 12.04).
I followed the installation instruction from your wiki.

But now if i want to create the admin and i visit `http://localhost:3000` i get this error:

[code]

Hopefully you can help me :)

Cheers

[2015-10-05 09:41] imclem commented on #963
FYI: https://github.com/imclem/Bamboo-RocketChat

[2015-10-05 09:50] emcguinness commented on #1001
That looks like the error I got when trying to run the command `meteor` after doing a `meteor build`. It might be worth linking to the wiki guide you used as there are a few different install methods and while I am not going to pretend to understand it just from my trial and error if you have built the app you can't then run it using `meteor`.

[2015-10-05 10:16] Baachi commented on #1001
@emcguinness I followed exactly this instruction https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-to-UBUNTU.
And yes i get this error, if i run `meteor` in the cli.

[2015-10-05 11:34] SaptakS commented on #996
I would like to contribute in this. Can you please guide me what are the things I should do?

[2015-10-05 12:01] emcguinness commented on #1001
OK that is very similar to the guide I used, if not the same. After doing a meteor build you then need to use pm2 to run the app (ok there are other ways but from my brief research this has quite a few benefits). The last two steps of part 4 there are how you get it going.
[code]

The first loads the config file you made and the second command just saves it so on reboot the app should be relaunche

[2015-10-05 12:14] rodrigok commented on #933
@Sing-Li why all clients gets "START" and not only client 1?

[2015-10-05 12:28] gmsecrieru commented on #996
@SaptakS This is an attempt to reproduce this situation:

![loading-undefined](https://cloud.githubusercontent.com/assets/190883/10280407/61d49134-6b43-11e5-95a1-5c4a3a734a7e.gif)

Issue #800 also has relevant information

[2015-10-05 12:33] Baachi commented on #1001
This is what i did already. PM2 is already configured and i build rocket.chat with the `meteor build --server "$HOST" --directory .`.
In the readme I'm on part 4 i want to create my first admin [see here](https://github.com/RocketChat/Rocket.Chat/wiki/Creating-the-First-Admin).

And now i get exactly this error message (which i mentioned above).

It seems there is a build error, because my head.ht

[2015-10-05 12:36] gmsecrieru commented on #756
Depends on #913 -- otherwise clients would need to refresh screen for settings to apply.

[2015-10-05 12:45] sampaiodiego commented on #983
@mitar , on the package page, there is a warning saying the package could break queries not expecting to be reactive.. how do you think it should break rocket.chat queries?

[2015-10-05 15:30] geekgonecrazy commented on #956
@rocketchat/owners I guess the question we need to answer first is, do we want usernames ending in non alphanumeric characters?

I personally dislike usernames ending in a period or dash.  I find it confusing.

Ex: Hey have you seen @ninja. around?

That's just my two cents.

[2015-10-05 16:06] emcguinness commented on #1001
Ahh, I got you. I missed the final step there of create an admin, that is a slightly older guide and you no longer need to do the create an admin step. If you open rocketchat in your browser (which I assume is working after you started it with pm2) and just click the create new user. The first user created automatically becomes an admin now meaning no playing in the mongo database.

The guide I us

[2015-10-05 16:11] sampaiodiego commented on #956
I agree with you guys.. we should not accept usernames ending with non alphanumeric characters.

[2015-10-05 16:12] emcguinness commented on #956
From a new user who is looking into this for his company perspective I agree with geekgonecrazy, ending in special characters could cause confusion (common punctuation more than others).

[code]
Am I speaking to `@user` and using proper punctuation or am I skipping punctuation and talking to `@user'`

[2015-10-05 16:39] ninja- commented on #956
problem is the algorithm which suggests new usernames if they are taken and that adds a dot

[2015-10-05 16:55] geekgonecrazy commented on #956
@ninja- correct.  That's why I ask.  Cause we either fix this and continue to allow this or make tweaks to username creation.

[2015-10-05 17:11] steedos commented on #956
What about UTF-8 usernames, especially for Chinese , Japanese and Korean,

发自我的 iPhone

[2015-10-05 17:56] #786 closed

[2015-10-05 17:57] mitar commented on #983
I checked things a bit and you have not been using `Tracker.autorun` on the server side before, so I do not think you have a situation where you are using `Tracker.autorun` with database queries inside assuming that they are not reactive. So I think you should be good. :-)

[2015-10-05 19:23] mhkeller opened #1003 "Option-Delete doesn't doesn't delete any characters in Firefox"
Normally, <kbd>option</kbd> + <kbd>Delete</kbd> will delete entire words. In Firefox the cursor merely moves. It works as expected in Chrome and in the Electron app for me.

Here's a gif of what I'm seeing when I hit <kbd>option</kbd> + <kbd>Delete</kbd>
![delete](https://cloud.githubusercontent.com/assets/498744/10290935/f90b5d4a-6b74-11e5-9721-05fc7294f3e0.gif)

[2015-10-05 19:24] mhkeller commented on #982
They're working now after properly updating. They do seem to take about 10 minutes to kick in, however.

[2015-10-05 19:24] #982 closed

[2015-10-05 19:25] mhkeller commented on #978
Got it. Is using `GridFS` what you would recommend? Does that route require any additional configuration?

[2015-10-05 19:54] royalaid commented on #978
I just want to echo that out of the box the GridFS setup for avatars and docker does not work for me either.

[2015-10-05 20:00] geekgonecrazy opened #1004 "Uploads with multiple digits in filename"
So it appears when a filename contains multiple digits like a phone number.  This is the output:

![image](https://cloud.githubusercontent.com/assets/51996/10291903/db188298-6b71-11e5-80ce-c56c131d4f34.png)

[2015-10-05 20:03] gmsecrieru commented on #1004
Related to #810

[2015-10-05 20:07] gmsecrieru commented on #810
_Update_: Looks like this is affecting 8+ digits:

![digits](https://cloud.githubusercontent.com/assets/190883/10292078/924b2e00-6b83-11e5-9b61-c9b29720bdd5.gif)

[2015-10-05 20:16] LeonardOliveros commented on #810
No results with disabling phone: false in the package / rocketchat-autolinker / autolinker.coffee still affecting more than 8 digits

[2015-10-05 20:27] gmsecrieru commented on #724
I have started [working on this](https://github.com/RocketChat/Rocket.Chat/tree/file-download-auth-users) but could not find a way to detect if the request for the file is coming from an authenticated user. I wonder if that is related to [the way the file endpoint is defined](https://github.com/jalik/jalik-ufs/blob/master/ufs-server.js#L116) on jalik:ufs

Any pro-tips @RocketChat/owners ?

[2015-10-05 20:45] LeonardOliveros commented on #810
![Uploading Captura de pantalla de 2015-10-05 16:13:39.png…](No results)

[2015-10-05 20:54] dcavni opened #1006 "Long press on a message causes aplication lockup Android 5.1.1. Note 4 910C"
On Android app or in Chrome for Android  if i long press on a message i get a menu options (Delete Message, Report abuse, Cancel), but there is no way to get rid of this menu. Only force closing of app (or tab in Chrome). Helps. On computer everything works fine. Does this happen only to me or is there someone else with this problem?
## <bountysource-plugin>

Want to back this issue? **[Post a bou

[2015-10-05 22:35] gmsecrieru commented on #969
@ninja- Could you please provide a screenshot of this error? I just followed provided steps and could not reproduce.

[2015-10-05 22:36] geekgonecrazy commented on #969
@gmsecrieru if I start one with my self I just get a blank screen

[2015-10-05 22:59] gmsecrieru commented on #969
@geekgonecrazy I think this might have been addressed on `master` already. Could only reproduce on Demo server but at this point we are running outdated code!

![screen shot 2015-10-05 at 19 58 41](https://cloud.githubusercontent.com/assets/190883/10296053/84185e4e-6b9b-11e5-8ce6-b3d0247a4b9a.png)

[2015-10-05 23:24] IQ2022 opened #1008 "room control and payment button on the right panel"
Nice to have add-on a room control and payment buttons on the right hand side (connected to paypal etc. )  user can select some any or all of the premium rooms and order it via general chat room?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27187156-room-control-and-payment-button-on-the-right-panel?utm_campaign=plugin&utm_content=

[2015-10-06 02:14] geekgonecrazy opened #1010 "Preference section to allow desktop notifications"
We need a section that will tell us when desktop notifications are enabled.  As well as a button to trigger the browser to prompt us to allow / deny.

[2015-10-06 02:21] geekgonecrazy commented on #306
Is there a framework we can start using to write some tests?  Even if we started per package it'd be a huge improvement.

@RocketChat/owners

[2015-10-06 02:35] samhatoum commented on #306
you will want to use Jasmine for package testing

https://velocity.readme.io/docs/jasmine-testing-a-meteor-package

[2015-10-06 02:55] trogdan commented on #335
ditto, i too use a virtualhost, but i'm still trying to get back the /_timesync issue.  @ogirardot where is _timesync located, or rather, what rule did you use to tell meteor to find it?

[2015-10-06 03:19] jayxni opened #1011 "Login / signup forms don't work on safari"
I cannot click the form on either OSX El Capitan or iOS 9 versions of Safari.

I believe this is from the CSS making it un-selectable.  Half of my mobile (iOS) users cannot register for the chat service.

[code]

[2015-10-06 04:39] geekgonecrazy commented on #306
@samhatoum awesome! Thanks for the quick response!

I've seen jasmine but not used it.  Looks pretty straightforward.

Any tips on creating tests?

I'd like to start pushing more tests so we can get the habit started now.  Code base is growing at a very rapid pace :smile:

[2015-10-06 06:40] MRYingLEE opened #1013 "Channel Name in other languages other than English should be supported"

[2015-10-06 07:10] Baachi commented on #1001
Ah this is good to know. After i follow your advice i found my problem, i need to uncomment the bind_ip configuration for mongodb (see [ticket](https://jira.mongodb.org/browse/SERVER-16157)).
But now i get this error :cry: .

[code]

[2015-10-06 11:55] brylie commented on #1013
What behavior have you noticed with room names? Does this issue relate to non-ASCII characters in room names? Will you please clarify this feature request?

[2015-10-06 12:24] gmsecrieru commented on #1013
Closing as possible duplicate of #713 and #640 and #892

[2015-10-06 12:24] #1013 closed

[2015-10-06 12:39] brylie commented on #640
Please review my PR, allowing unicode characters in usernames. I followed [instructions on StackOverflow](http://stackoverflow.com/a/150078/1191545).

[2015-10-06 12:50] GQAdonis opened #1015 "Adopt ES6/ES2015 over CoffeeScript at some point?"
I plan to contribute heavily to this project, but I would like to request that, over time, ES6/ES2015 be adopted as the main language over CoffeeScript.

Any new modules I build (like for WebRTC connectivity using MCU/SFU technologies like Kurento and Janus WebRTC gateway--you will get to choose which, etc.) will attempt to use ES6 and not CoffeeScript unless there is some reason I should not proc

[2015-10-06 12:51] gmsecrieru commented on #1015
@GQAdonis Thanks for your interest! Please follow up on #796

[2015-10-06 12:51] #1015 closed

[2015-10-06 13:43] marceloschmidt commented on #969
@gmsecrieru we deployed a new version, can you test again, please?

[2015-10-06 13:45] marceloschmidt commented on #971
Can you suggest how you'd implement this @ninja- ? Thanks

[2015-10-06 13:53] MRYingLEE opened #1016 "A function (actually a web link) of clicking to chat with me is needed"
So I can put the link in my email signature. Everyone can click to chat with me without or with login.

This is also a marketing strategy for Rocket.Chat to promote itself.

This issue is related to #604, anonymous chat, but not the same.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27201347-a-function-actually-a-web-link-of-clicki

[2015-10-06 14:03] nickbroon commented on #404
https://github.com/digicoop/kaiwa is javascript based webclient for group chat based on XMPP.
It uses a XMPP server (https://github.com/digicoop/kaiwa-server) as it's backend, which appears to be just Prosody (https://prosody.im/) with a bunch of useful extensions ("websocket" "carbons" "smacks" "idlecompat" "mam" "offline" https://modules.prosody.im/) added to it.

[2015-10-06 15:18] miscs commented on #1011
Same Problem here

[2015-10-06 15:20] ninja- commented on #998
any thoughts?

[2015-10-06 17:01] #832 closed

[2015-10-06 17:05] #969 closed

[2015-10-06 18:20] gmsecrieru opened #1019 "[Firefox] Unable to browse/traverse input-message content with mouse click"
![input-click-traverse](https://cloud.githubusercontent.com/assets/190883/10318028/c2b7d4fc-6c3d-11e5-88c7-90382b9de805.gif)

[2015-10-06 18:28] gmsecrieru commented on #979
Opening this one again, seems the cause/related to #1011 and #1019

[2015-10-06 18:45] storrgie commented on #756
+1

[2015-10-06 18:55] storrgie commented on #1019
Getting same issue here in FF 41.0.1

Actually causes you from being able to login as well.

[2015-10-06 18:58] gmsecrieru commented on #1019
Related to #1011

[2015-10-06 19:06] storrgie opened #1020 "Log path for Docker Images"
I'm currently deploying as follows:

[code]
I created the volume rocket_logs for /home/app/logs based on the docker_compose.yml file in the base repository. There is nothing being written in this folder. What is the correct way to get file based logging out of rocket? Maybe an environmental variable to specify the path?

Currently I use the `docker logs` directive to get to them, but would rather

[2015-10-06 20:39] AdrianoCahete commented on #979
I think it's better to create a "can_select"/"cant_select" (or something better) classes and apply in parent div's who can be or can't be selected.

[2015-10-06 20:44] Ribeiro commented on #975
@gmsecrieru Could you please give some example on this requirement? Maybe I could work on this! Thankx  =)

[2015-10-06 20:53] Sing-Li opened #1022 "Adding user to private room - status message is incorrect"
It is using two fields from the same user record (both from the user being added):

![wrongname](https://cloud.githubusercontent.com/assets/122633/10322192/ba342706-6c4a-11e5-955b-61c7f7a7e61f.png)

[2015-10-06 20:56] Sing-Li opened #1023 "Adding user to private room - drop down list displays wrong user field"
When adding user to private room, the list of available users is not displayed using the familiar 'user name'.  Instead, it appears to be showing 'full name' of the user - making selection quite difficult.

[2015-10-06 20:57] geekgonecrazy commented on #1023
@Sing-Li possible duplicate of #700

[2015-10-06 22:03] gmsecrieru commented on #975
@Ribeiro Well, I think there's more to the picture than meets the eye, but to get things moving you could:

- [ ] Create a new Admin setting for the domain restriction - ref. [here](https://github.com/RocketChat/Rocket.Chat/commit/dd19e5cfb42d69dbed543581ab93e5b37d814fcb)
- [ ] Change Registrarion form validation based on the setting.

Feel free to ping us on the (Demo Server)[https://demo.rocket.

[2015-10-06 22:40] gmsecrieru commented on #1020
@storrgie I am not sure if that would be your problem but shouldn't you be mapping volumes with absolute paths, e.g.:

`docker run -v **/Users/<path>**:/<container path>`

[2015-10-06 22:45] geekgonecrazy commented on #1020
I think this may be a matter of it not actually logging to file.  I'm not 100% sure but I think its just logging to stdout.

[2015-10-06 22:53] storrgie commented on #1020
@gmsecrieru in CentOS/Fedora not specifying an absolute path is actually good because then docker will handle all the selinux stuff for you. It just all gets placed in /var/lib/docker/volumes

[2015-10-06 22:54] gmsecrieru commented on #1020
Thanks for sharing!

[2015-10-06 22:55] storrgie commented on #1020
but lke @geekgonecrazy said, it'd be really nice if logging could be done to a file so that I could examine it outside of the container.

Also logging could be 'leveled', right now it seems like its in 'debug' where its spewing literally everything to stdout.

[2015-10-06 22:56] gmsecrieru commented on #1020
:+1:

[2015-10-06 23:15] Sing-Li commented on #1020
:-1:

For docker containers.  It is *A LOT* easier when it is *not* logged to a file.  The stdout log is by far easier to view and tail with docker.

Please see http://stackoverflow.com/questions/24621067/how-to-read-files-and-stdout-from-a-running-docker-container

[2015-10-06 23:18] storrgie commented on #1020
:scream_cat:

Can you pull the directive for logs from your docker-compose.yml

[2015-10-06 23:19] Sing-Li commented on #1020
which docker-compose.yml ? Can you provide the github URL?

[2015-10-06 23:21] geekgonecrazy commented on #1020
Also see logstash for handling of logs from docker in a nice easy way :)

On Tue, Oct 6, 2015, 6:15 PM SingLi <notifications@github.com> wrote:

[2015-10-06 23:22] Sing-Li commented on #1020
:+1:  Especially for 'production' sort of deploy!

[2015-10-07 03:27] Angarsk8 commented on #332
This would be the best thing ever! I would really like to migrate all the information from my Slack team to Rocket.Chat

[2015-10-07 03:31] sampaiodiego commented on #332
btw, @graywolf336 was working on importing slack data, but I dont how it is going.

[2015-10-07 06:17] MuhClaren opened #1026 "Documentation Errata: Deploy Rocket.Chat without Docker"
**ENVIRONMENT:** VPS, non-docker installation on Ubuntu 14.04 clean install, stock kernel 3.13.0-55-generic, mongoDB 3.0.6

**WHAT:** Error during rs.instantiate()

**WHERE:** Wiki guide "Deploying Rocket.Chat without Docker", [Section 2](https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker#2-setup-mongodb-replica-set)

**WHEN / HOW:** After editing /etc/mongod.conf fil

[2015-10-07 06:57] Sing-Li opened #1027 "Add unit testing framework and example test"
Meteor's official framework is velocity.   And the most frequently used tester is jasmine.

Add velocity jasmine to core, and a sample markdown client side unit test.

[2015-10-07 09:51] emcguinness commented on #975
Definately sounds like a useful feature, just a few thoughts. First on features. Domain lockdown should not be to a single domain, it should be a list you can optionally add multiple domains to, bonus points if they accept regex. An option to negate the list to turn it into a blacklist could be handy for some people.

Then just a thought on implementation, how does this interact with the other log

[2015-10-07 11:20] gmsecrieru commented on #975
@emcguinness Thanks for putting this down!

:+1 for allowing a list of domains, but that might require a few tweaks on the RocketChat.Settings behavior or a new type of setting -- just a guess here, would have to dig further to confirm. Pertaining to other logins methods, I see at least two roads:

1. Disable other login methods, as e-mail registration is currently our default-by-design option
2.

[2015-10-07 11:56] #1027 closed

[2015-10-07 13:08] mhkeller commented on #975
Thanks for working on this! As a lazy way of implementing a list if that settings type doesn't yet exist would be ask for a comma-delimited string. In case they add spaces you could trim after you split on the comma.

[2015-10-07 13:25] marceloschmidt commented on #1020
@Sing-Li do you think we need to remove these lines? https://github.com/RocketChat/Deploy.to.Cloud/blob/master/GenericLinux/docker-compose.yml#L15-L16
We can close this issue when this is done or answered.

[2015-10-07 13:41] mhkeller commented on #966
hi @marceloschmidt I noticed you added the `need more info` tag. I can be in the chat today if you have questions or if we're not online at the same time, I can answer them if posted here.

[2015-10-07 13:43] Ribeiro commented on #975
@gmsecrieru I was just taking a look at the code and it seems I need manipulate:

1) RocketChat.settings => adding valid domains range;
2) accounts.coffee  => should implement and call a function to validate user´s email if it is within RocketChat,settings valid domain range on Accounts.onCreateUser().

Am I taking the right approach? Please, let me know. Thankx !

[2015-10-07 14:47] storrgie commented on #938
It appears that this is now bound to CTRL + SHIFT + P, which is the default for new private window in firefox.

[2015-10-07 14:50] storrgie opened #1032 "Toggle for Hot-keys"
Would it be possible to toggle listening for hot-keys on and off as a stopgap for a likely eventual configuration interface for hot-keys?

Currently rocket.chat listens to CTRL+SHIFT+P which is the default hot-key for 'new private window' on Firefox. It's likely a bad idea to implement hot-keys have have direct collision with browser functions.

I believe this also corresponds with issue #938
## <

[2015-10-07 15:09] IQ2022 opened #1033 "Cash Tags and HashTag to be added"
have a Cash tag and Hash tag feature enabled.. In Chat rooms..
https://github.com/stocktwits/stocktwits-text-js
a link for whats available from stocktwits.

http://stocktwits.com/developers/docs/display_requirement

Note that $ and # are all searchable in twitter this could be useful when someone pushes messages from chat room to twitter stream.
## <bountysource-plugin>

Want to back this issue? *

[2015-10-07 15:37] Baachi commented on #1001
@emcguinness Thank you for your support i found my error.
The error was that the `$HOST` variable must me without `http/https`.

Love it :heart:

[2015-10-07 15:37] #1001 closed

[2015-10-07 15:44] ninja- opened #1034 "Add two factor authentication"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27234017-add-two-factor-auth?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github).
</bountysour

[2015-10-07 16:12] IQ2022 commented on #1033
https://github.com/gregjacobs/Autolinker.js

[2015-10-07 16:37] marceloschmidt commented on #966
Closing this for this is probably related to deployment settings and not a bug per se. If you think this should be reopened, please advise.

[2015-10-07 16:37] #966 closed

[2015-10-07 16:41] IQ2022 commented on #1008
:+1:

[2015-10-07 16:45] IQ2022 opened #1037 "Change public chat to private"
Would it possible to have room changed from public to private, if admin decided to lock room? and no one else can add users to room.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27235803-change-public-chat-to-private?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-10-07 16:52] IQ2022 commented on #900
if you have sales, or if you an expert, people can book paid appointment with you and have a chat or discussion, slide show, demo, phone call you name it.. that's what a premium room means.  You want more idea's contact me :)

[2015-10-07 16:53] #1010 closed

[2015-10-07 16:54] #700 closed

[2015-10-07 16:57] shtefcs commented on #900
Nice ideas, like I could provide SEO consulting to clients. Room can track time spend on it and charge ^^.

Nice idea :+1:

[2015-10-07 16:58] IQ2022 commented on #900
:smile: there are more..

[2015-10-07 17:11] gmsecrieru commented on #975
@Ribeiro Maybe we can leverage on [configuration](http://docs.meteor.com/#/full/accounts_config), looks like we have `restrictCreationByEmailDomain` for this!

[2015-10-07 17:12] marceloschmidt commented on #1006
It works for me on Android 5.0 LG G3 phone.

[2015-10-07 17:14] ninja- commented on #900
I think the best implementation of this would be via creating invites for users that paid. But you need to consider that all channels are currently public etc. so you wouldn't want that exposed to your clients...

[2015-10-07 17:19] Ribeiro commented on #975
@gmsecrieru  So on Rocket.Chat/server/lib/accounts.coffee we would use:

Accounts.config({
  restrictCreationByEmailDomain: function(email) {
    var domain = email.slice(email.lastIndexOf("@")+1); // or regex
    var allowed = ["gmail.com", "outlook.com"];
    return _.contains(allowed, domain);
  },
  ...
});

Am I on the right direction here? ;)

[2015-10-07 17:22] engelgabriel commented on #335
@trogdan it is not a file or directory, it is a registered route on the http server.

[2015-10-07 17:25] engelgabriel commented on #796
@GQAdonis we like the idea of experimenting with ES2015 on new packages, as they are self contained. It would be a good way to try it out, and eventually migrating to ES2015 if we decide it is the best for the project.

[2015-10-07 17:54] marceloschmidt commented on #938
Not the focus of this issue. The problem with this one is searching for a string and other results showing.

[2015-10-07 18:22] marceloschmidt commented on #983
@mitar can you tell us what are the direct benefits of using this package on RC? I can't remember of something that requires a server restart to take effect. Thanks.

[2015-10-07 18:41] IQ2022 commented on #988
how about temp ignore, that send messages to history, when un-ignored messages come back

[2015-10-07 19:00] engelgabriel opened #1038 "Integration with Sameroom.io"
Here's a rough list of what they're looking for in a protocol: https://sameroom.io/developers
For the reference, the easiest one they've worked with so far was Slack.

Let's get featured at: https://sameroom.io/open-a-tube

[2015-10-07 19:18] frenchbeard opened #1039 "Allow configuration of login error messages or default to secure ones."
Hello,
Regarding the error messages displayed on a login error, the fact that they contain information on the validity of a username or email ("User not found") is a liability.

Although it poses no exploitation risk to the serveur itself, it allows any attacker to enumerate valid users without any information other than the server's address, and therefore should either :
+ follow the same behavio

[2015-10-07 19:24] mitar commented on #983
No, not server restart. But client reload. Or at least close the channel and then open it again.

[2015-10-07 19:25] marceloschmidt commented on #983
Oh, ok... can you provide an example? Thanks.

[2015-10-07 20:02] vwallace opened #1040 ".GIFV extension not rendering preview"
Discovered that .gifv files don't render a preview in chat. Not an earth-shattering issue, but perhaps something that could be noted for future versions.

More about the "format":
https://imgur.com/blog/2014/10/09/introducing-gifv/

[2015-10-07 20:32] mhkeller opened #1041 "Users lose access to private rooms"
Not sure if this could be related to https://github.com/RocketChat/Rocket.Chat/issues/966 but some people are reporting that private groups they've created have now disappeared. Happy to jump on chat if someone is around to try and diagnose today.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27241921-users-lose-access-to-private-r

[2015-10-07 20:32] mhkeller commented on #1041
It seems that the room exists but it no longer has the same users. So perhaps it's a permissions-changing errro

[2015-10-07 20:36] mhkeller commented on #1041
And by "doesn't have the same users," I mean that people who were members, including the creator, lost permission to access the group.

[2015-10-07 20:59] mhkeller commented on #930
+!

[2015-10-07 21:39] ninja- commented on #1039
:+1:

[2015-10-07 22:41] royalaid opened #1042 "Data persistance"
As currently stands the default setup for the mongodb docker image relies on storing the journal within the container. This method of storing data for a database is generally frowned upon because all backend data gets wiped when I remove the container. A simple solution would be to provide a default setup using docker's builtin volumes mechanism by adding:
[code]
to the docker-compose.yml or a sim

[2015-10-07 22:57] marceloschmidt commented on #1042
Can you add that as a pull request and test it? We'll be glad to accept that! Thanks

[2015-10-08 00:23] skemb321 commented on #998
@ninja- do  you experience any issues re uploading images on android app?

[2015-10-08 02:26] graywolf336 commented on #332
Yes, currently working on and off with @geekgonecrazy to get the import framework complete and then finish the slack import.

[2015-10-08 02:48] marceloschmidt commented on #897
I agree with what somebody said in another issue. Too many settings will clutter everything and make it hard for any sysadmin to manage their instance. Do you think we should just stipulate our own limits?

[2015-10-08 03:00] sampaiodiego commented on #897
I don't think a lot of settings are that bad.
maybe we could make a clean settings page with the most important/common settings and another tab/menu with "advanced settings" with a **lot of settings**..

[2015-10-08 03:01] marceloschmidt commented on #897
Whatever the case is, we definitely need a new settings page. Current layout is not user-friendly.

[2015-10-08 03:03] sampaiodiego commented on #897
agreed!

2015-10-08 0:02 GMT-03:00 Marcelo Schmidt <notifications@github.com>:

--
.Diego Sampaio

[2015-10-08 04:22] steedos opened #1043 "Can we support WebRTC in cordova iOS app?"
There is a plugin iosrtc

https://github.com/eface2face/cordova-plugin-iosrtc/

[2015-10-08 04:24] steedos commented on #1043
There is a sample https://github.com/eface2face/iOSRTCApp

[2015-10-08 08:08] IwishIcanFLighT commented on #332
That's great news! I can't wait to test it! :smile:

[2015-10-08 11:30] marceloschmidt commented on #1043
This is our repository for Cordova platform: https://github.com/RocketChat/Rocket.Chat.Cordova please the issue there, or make a PR and we'll be glad to accept that!
Thanks.

[2015-10-08 11:30] #1043 closed

[2015-10-08 12:24] marceloschmidt commented on #1041
Permission changing? What do you mean with that, are you fiddling with the code regarding this, or are you suggesting that an update has made those rooms inaccessible? Is this reproducible? Thanks

[2015-10-08 12:26] marceloschmidt commented on #1040
It looks like gifv, when rendered on imgur, is actually rendered as webm and mp4 videos. So it seems they are converting it. Do you have a code sample where a gifv is embedded? Thanks

[2015-10-08 12:40] #1039 closed

[2015-10-08 12:42] marceloschmidt commented on #1039
This is far from ideal. This will display the same message either way, but if you look at the websocket, you can still know if it is user not found or incorrect password.

[2015-10-08 13:45] mhkeller commented on #1041
Nope I haven't changed the code. What happened was a user made a private group and invited others. They then opened up a different channel and the private room disappeared from their list of accessible rooms. This happened to the creator of the room as well so no one now has access to re-invite people.

I'll be on chat to be able to provide more info if I can look in the logs somewhere.

[2015-10-08 13:53] mhkeller commented on #866
+1 I just got this request from people using our instance

[2015-10-08 14:45] JamesLefrere commented on #985
Hi, I've had some luck with a very similar issue. I don't know about the details of this project, but for my Meteor Cordova project, it was a case of having multiple versions of android-support-v4.jar, or sometimes a combination of android-support-v13.jar and android-support-v4.jar for example. Later versions of this library are backwards-compatible, so you'll need to remove the older versions or

[2015-10-08 15:35] gmsecrieru opened #1044 "Suggestion for package testing approach"
Now that we are starting to add tests, we need to make sure that we can:

1. Test packages as standalone, single units.
2. Test the application as a whole.

Package-specific tests should be placed within `packages/package-name/tests` and should follow [velocity+jasmine conventions](https://velocity.readme.io/v1.0/docs/jasmine-testing-modes).

_Example of package testing_ (Velocity's Continuous Int

[2015-10-08 15:49] gmsecrieru commented on #1044
Recommended sources:

[Getting started with Velocity](https://velocity.readme.io/)
[Getting started with Jasmine](https://velocity.readme.io/v1.0/docs/getting-started-with-jasmine)
[Package Testing](https://velocity.readme.io/docs/jasmine-testing-a-meteor-package)
[Jasmine Testing Modes](https://velocity.readme.io/v1.0/docs/jasmine-testing-modes)
[Examples and Tutorials](https://velocity.readme.io

[2015-10-08 15:55] geekgonecrazy opened #1046 "Remove emoji dependence on cdn"
Right now emojione pulls from //cdn.jsdelivr.net/emojione/assets/png/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27264425-remove-emoji-dependence-on-cdn?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin

[2015-10-08 15:56] gmsecrieru commented on #306
Related to #1044

[2015-10-08 16:05] graywolf336 commented on #1040
From the linked article, it looks like they are just converting it to webm and mp4 videos. So, we'd need to grab one of those and display that. If the url is `http://i.imgur.com/zvATqgs.gifv` then the webm link is `http://i.imgur.com/zvATqgs.webm` and the mp4 link is `http://i.imgur.com/zvATqgs.mp4`, same unique image but different extension.

[2015-10-08 16:16] vwallace commented on #1040
It also seems stripping the v from .gifv serves a "normal" gif - perhaps could just parse the .gifv for the preview?

https://i.imgur.com/F4XcrVK.gifv
vs
https://i.imgur.com/F4XcrVK.gif

[2015-10-08 16:17] graywolf336 commented on #1040
That could work, only issue I see with it is for large gifs the downloading file size will be large compared to webm or mp4's being a lot smaller.

[2015-10-08 16:28] jimaek commented on #1046
If you have any issues or requests regarding jsDelivr just let me know

[2015-10-08 16:29] geekgonecrazy commented on #1046
@jimaek jsDelivr seems solid.  We'd just like to not depend on external resources.  So that we can be deployed in any environment.

[2015-10-08 16:33] jimaek commented on #1046
Sure thing, I understand. For performance reasons you could also make it an option in the config. Enable CDN or not.

Anyway, just wanted to make sure you had no issues using jsDelivr :)

Continue the great work :+1:

[2015-10-08 16:38] steedos commented on #1046
I've done with it, check pull request  #1047

[2015-10-08 16:39] steedos commented on #1046
To make it an option in the config, i'm not good at it. maybe someone can help.

[2015-10-08 16:41] Ribeiro commented on #1046
Wouldn´t be better use npm to install and manage emojione frontend dependency automatically?

[2015-10-08 16:47] Ribeiro commented on #975
@gmsecrieru  What do you think? Is there a domain whitelist?  =)

[2015-10-08 16:49] steedos commented on #1046
the current package does not include pngs in client
https://github.com/qnub/emojione/blob/master/package.js

[2015-10-08 16:53] Ribeiro commented on #1046
@steedos What a shame  =(

[2015-10-08 18:08] royalaid commented on #1042
Testing right now. There are issues with the scheme though because of how mongodb is setup, see the "Where to Store Data" section on [this](https://hub.docker.com/_/mongo/) page

[2015-10-08 18:15] royalaid commented on #1042
Testing right now. There are issues with the scheme though because of how mongodb is setup, see the "Where to Store Data" section on [this](https://hub.docker.com/_/mongo/) page

[2015-10-08 21:16] marceloschmidt opened #1048 "Broadcast Notifications"
I think we should have an alert type of notifications that will stay up until the user dismisses, like this:

![image](https://cloud.githubusercontent.com/assets/1986378/10380120/6344fea8-6de8-11e5-9818-0a48378cb1e9.png)

Maybe also include a tabbar panel with previous notifications with a counter for unread notifications.

System admins could use this feature to broadcast messages to all their us

[2015-10-08 23:54] franciskim commented on #796
I'd be happy to help in the refactoring if this goes ahead! :)

[2015-10-09 00:21] franciskim commented on #796
I say ES6 all the way if you guys want to ensure future development momentum. It's a fantastic product and I really want to see more people get involved +1

[2015-10-09 01:42] alisalaah commented on #796
+100 Yes and if all the code could be translated ASAP I think it would
remove one possible barrier to some of the community who wants to join in
and as Francis said is the way going forward.

On Fri, Oct 9, 2015 at 7:21 AM, Francis Kim <notifications@github.com>
wrote:

[2015-10-09 03:01] geekgonecrazy commented on #796
@franciskim ^ we're for sure not against it.  I think it'd be a great idea to maybe try this on a couple of packages.  We for sure have to try it somewhere.

If anyone wants to try this maybe open a PR?  Show off some of the ES6 strengths.  I think this would be great!

[2015-10-09 08:07] franciskim commented on #796
@geekgonecrazy sure, I did read that too. I'll give it some thought!

[2015-10-09 14:14] mhkeller opened #1050 "Some direct message channels hang after upgrade"
I just pulled the latest with `docker pull rocketchat/rocket.chat` and now some, but not all, direct message channels hang and don't load. On working and both working direct message channels, `websockets` is open gives a `101` status in the Network panel.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27290370-some-direct-message-ch

[2015-10-09 14:19] mhkeller opened #1051 "Settings strings show `undefined` in the UI"
![screen shot 2015-10-09 at 10 18 44 am](https://cloud.githubusercontent.com/assets/498744/10396198/21972c7e-6e6f-11e5-846b-13b81d7ce028.png)

[2015-10-09 14:30] rodrigok commented on #1051
Can you provide more details? Which OS, Browser, how are you running the project, error logs, etc?

[2015-10-09 14:32] IQ2022 commented on #1051
I had similar issue when I was trying to update from master in heruko, ended up deleting files and adding new build from master ... :sagittarius:

[2015-10-09 14:33] mhkeller commented on #1051
On OS X El Capitan I'm seeing it in Electron, Firefox and Chrome. The console doesn't give any errors besides the following:

[code]

[2015-10-09 14:51] rodrigok commented on #1051
How are you running the project?

[2015-10-09 14:54] mhkeller commented on #1051
Through docker-compose.

On Fri, Oct 9, 2015 at 10:51 AM, Rodrigo Nascimento <
notifications@github.com> wrote:

--
@mhkeller
mhkeller.com

[2015-10-09 15:19] mhkeller commented on #1050
"Hiding" the direct message, re-adding the person and refreshing seems to fix this.

[2015-10-09 16:43] rodrigok commented on #1051
I can't reproduce this locally

[2015-10-09 18:54] mitar commented on #796
I think you all will miss the `?` operator more than you know. ;-)

[2015-10-09 19:01] gmsecrieru commented on #975
@Ribeiro Sorry, been busy setting up unit tests. I will have this reviewed ASAP.

Thanks again for your effort!

[2015-10-09 19:03] Ribeiro commented on #975
@gmsecrieru I´ve tried the meteor restrictCreationByEmailDomain approach but it refuses to accept a function as argument. It only accepts a string as argument. =(

[2015-10-09 19:05] zarvox commented on #1003
Similar issue with Ctrl-Delete and Ctrl-Backspace on Firefox on Linux - the cursor moves by a word in the appropriate direction, but doesn't delete the word.

[2015-10-09 19:11] zarvox opened #1055 "In Firefox, forward-delete moves right by a character before deleting the following character"
If I type `testing` into the chat box, and move the cursor to the beginning of the word, and then press forward-Delete, it removes the 'e' instead of the first 't', and leaves the cursor after the first 't'.  Similarly, if I press the key another three times, it will:

* delete the second 't', leaving (^ is cursor) `ts^ing`
* delete the 'n', leaving `tsi^g`
* move the cursor to the right, leaving

[2015-10-09 19:24] #1011 closed

[2015-10-09 19:24] #1019 closed

[2015-10-09 19:25] #979 closed

[2015-10-09 20:01] kentonv commented on #961
Hmm, unfortunately I think it's going to be tough to run vagrant-spk inside of another VM. If you switched to plain spk, then building on Travis should be straightforward, but I don't think I'd recommend that route as plain spk requires more manual work and our tools and documentation mostly focus on vagrant-spk.

[2015-10-09 21:30] TinajaLabs opened #1056 "installing chat ops in-house on rhel6"
At my day job, we're planning to move to the chat ops world and see hubot/chat.rocket as a possible solution.  Both seem to be written in some form of javascript (coffeescript?).

Looks like hubot can be installed via npm but the chat.rocket install seems fairly complicated.  The non-docker install instructions are staggering.  What's up with that?

Also, if we go with chat.rocket do we have to bu

[2015-10-09 22:01] geekgonecrazy commented on #1056
@TinajaLabs

We're in the process of discussing the move to pure javascript see: #1015 but yes right now Rocket.Chat is primarily coffeescript.

We have plans very soon to try and make the installation process of Rocket.Chat as simple as it is with hubot.  Hopefully we'll be started on that soon.

No need to get into the whole meteor platform for integrations.  In fact when you write plugins for h

[2015-10-09 22:03] engelgabriel commented on #796
Some more references: 7m video about tools for ES6.

https://developers.google.com/web/shows/ttt/series-2/es2015?linkId=17821107

[2015-10-09 22:06] mitar commented on #796
I have been converting README of [Blaze Components](https://github.com/peerlibrary/meteor-blaze-components) to ES2015 and I must say that ES2015 did not convince me to switch to it, I will be sticking with CoffeeScript for the time being. Things one misses:
* no `?` operator
* no way to call a static method inside a class body:
[code]
* `super` is really awkward, instead of just calling `super` to

[2015-10-09 22:16] Sing-Li commented on #1056
Yes.  Basically, CoffeeScript is just like a Macro language for JavaScript, patching in some of its shortcomings before the language can evolve to the next stage.

Also Rocket.Chat installations on Redhat should just be as simple (or complex) as most of the other open source server-side technologies that you're already using in-house.  I don't think we're any more difficult to install.  In fact, a

[2015-10-09 22:34] gmsecrieru commented on #1055
@zarvox we merged a few changes that might have fixed this:

![testing](https://cloud.githubusercontent.com/assets/190883/10407090/ab0306e8-6ebc-11e5-893d-ca622031d9ac.gif)

Could you please confirm this is still an issue?

[2015-10-09 22:36] gmsecrieru commented on #975
@Ribeiro please have a look [here](https://github.com/RocketChat/Rocket.Chat/pull/1053#issuecomment-146979501)

[2015-10-09 22:39] gmsecrieru commented on #1004
I will close this one as the problem is not related with the uploads but with autolinked.

[2015-10-09 22:39] #1004 closed

[2015-10-09 22:43] gmsecrieru commented on #1026
@MuhClaren could you please update the referred wiki article and close this issue?

[2015-10-09 22:44] gmsecrieru commented on #1023
Closed by #1031

[2015-10-09 22:44] #1023 closed

[2015-10-09 22:45] #1022 closed

[2015-10-09 22:55] gmsecrieru commented on #1003
Fixed by #1049

[2015-10-09 22:55] #1003 closed

[2015-10-09 22:57] gmsecrieru commented on #988
:+1: for temp ignoring and keeping history.

[2015-10-09 23:01] doomdance commented on #1051
I am also seeing this after updating my Centos install. Seeing this on Chrome for Arch Linux and Mac.

[2015-10-09 23:25] doomdance commented on #1051
So, after restarting with pm2, administrator settings now appears as it should.

[2015-10-09 23:56] zarvox commented on #979
You probably want to allow selection of at least the messages/timestamps in the scrollback.  People frequently want to copy/paste something that was sent to them into an email or notes or code or any number of things.

[2015-10-10 01:00] gmsecrieru commented on #868
@k0nsl could you please give us more info on this?

[2015-10-10 01:09] #850 closed

[2015-10-10 01:53] TinajaLabs commented on #1056
Thanks for the considerate replies.  For my day job, we'll be looking at primarily automating deployment and incident management.

For my home automation and IOT fun I'm thinking of hooking up a chat ops / Hubot integration with monitoring and actuation.  I'm already using node red as a core component of my system. Wouldn't it be great to wrap a "conversation" into the process.

Thanks again, Chri

[2015-10-10 03:16] geekgonecrazy commented on #796
@mitar but the question we have to ask our selves is this.  Are sacrificing these things worth having a ton more contributors?

Nothing on that list makes me say "nope I can't live with out it".

[2015-10-10 04:56] mitar commented on #796
Do you really think the language is the bottleneck for contributors? I do not know. From other open source projects I contributed to is it so that there is always a lot to learn to be able to contribute, technology stack, code structure, understand where something is and how it works, the patterns community likes and so on. The programming dialect is really a smaller part, especially for a languag

[2015-10-10 05:24] steedos commented on #713
I just tried Elastic Search, It's good at Chinese document indexing and search. So we just need an admin settings to enable config Elastic Search and set server url.

And use  Elastic Search, we can also index office documents and pdf files. I think it's important to attach office documents in chat rooms.

[2015-10-10 05:48] steedos opened #1058 "Support of upload office documents in chat room"
Currently, only images are valid to upload. and there is a bug, if i drag a file to the window, it will ignore the file extension check.

Also, it's need the admin settings for documents size limit.

[2015-10-10 06:11] tzeyangng opened #1059 "Complete API List?"
Hi,

Are there already available API to create users, channels, private group? Thinking to use rocketchat for a platform we trying to build however need to help to setup users, channels and group in advance when user create account on our system to avoid duplicate account creation. thanks.

Love what i see so far. thanks.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](

[2015-10-10 07:48] AdrianoCahete commented on #1048
And add an option to disable removing notification (in cases when we need to schedule a maintainance)

[2015-10-10 08:24] MuhClaren commented on #1026
Of course, my pleasure.

[2015-10-10 08:24] #1026 closed

[2015-10-10 11:00] nonsintetic commented on #1059
There's an article on that in the wiki, not sure if it's still up to date though:
https://github.com/RocketChat/Rocket.Chat/wiki/REST-APIs

For the user part you could use oAuth, make your platform an oAuth provider and have RocketChat be the client. Basically users click a button instead of registering an account the first time they come to RocketChat.

[2015-10-10 12:15] #973 closed

[2015-10-10 12:42] 42robots opened #1061 "Cannot get Rocket Chat running over https with Apache2"
Hi there!

I just tried to get rocket chat up and running on Debian 8 using a virtual Host.

But no luck so far.

Installation went fine following the instructions.

MongoDB is up and running and the app starts without errors using

$ pm2 start pm2-rocket-chat.json

But the server is not reachable.

The root url is set to https://subdomain.domain.com

Port is 3000.

Has anyone got experience runni

[2015-10-10 12:55] tzeyangng commented on #1059
thanks, i do found the wiki, but it is lacking the API i need. What i plan to do is make the rocket chat part of my application, it should be transparent to the user.

[2015-10-10 12:57] rodrigok commented on #1051
Ok, the only way to solve this problem is restarting the application.

This was caused by one migration to remove some wrong settings names, but the migration is executed after the load of settings, so restarting will solve cuz the migration will not be executed again.

[2015-10-10 13:04] rodrigok commented on #1061
Can you share your apache configuration?

[2015-10-10 14:18] gmsecrieru commented on #869
@Surfoo could you please add them to `i18n/en.i18n.json` and any other languages you feel comfortable writing and submit a PR?

Thanks!

[2015-10-10 16:14] steedos opened #1062 "Unable to create private groups on mobile app"
![image](https://cloud.githubusercontent.com/assets/3104826/10412071/e36eb55e-6fac-11e5-92a2-b82624406425.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27314033-unable-to-create-private-groups-on-mobile-app?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountys

[2015-10-10 16:17] cesarve77 commented on #268
+1

[2015-10-10 19:00] emcguinness commented on #1061
I was initially using apache for a while so as mentioned if we can see the config should be able to help. The only part I could not get going was the websockets, after a lot of poking around the web it looked to be easier just to swap to Nginx so I did and the config from the guides in the wiki it all worked first time.

[2015-10-10 19:17] 42robots commented on #1061
Hi!
Thanks for the fast response!

here is my current config:

[code]

I thought of switching to Nginx, too. But currently that is not an option within the current infrastructure.

Thanks for any hint on the topic!

Best,
Christian

[2015-10-10 20:08] emcguinness commented on #1061
Assuming apache is running on the same server as Rocket.Chat I would change the two proxypass lines to:

[code]

I am also making the assumption that `pm2 status` shows Rocket.Chat is running and that you can access it successfully by going to http://ip address of server:3000 if that part is not working the problem lies back with Rocket.Chat, not apache.

[2015-10-10 22:35] franciskim commented on #796
@mitar language definitely is a bottleneck for contributors. Rocket Chat is widely known as a Meteor project - I was turned off when I found out I needed to write CoffeeScript. I think CoffeeScript is great, but it is much more beneficial to go with the official JS of Meteor which is ES6.

[2015-10-11 02:31] ninja- commented on #1062
does the same happen if you dont use chineese characters in room's name, because that's a known issue?

[2015-10-11 02:55] steedos commented on #1062
It's because of I can not touch on the save button, it is covered by the iPhone keyboard.

When create channel, will have the same problem.

发自我的 iPhone

[2015-10-11 03:29] alisalaah opened #1063 "Roles & Permissions [$250]"
Proposing a tab in the Administration section under "Users" called "Roles" which would allow Adding/Removing of custom roles other than the current default Guest and Admin.  Under the Roles box would be a Permission section which then allows you to assign granular permissions for everything to each role.  Modules (ie. Live Chat, etc.) need to be able to add permissions to this table such as "Recei

[2015-10-11 03:34] alisalaah commented on #1063
Roles is straight forward but I think it would be good when adding a role to designate if it inherits other roles, example.

Guest [hardcoded role]
User (inherits Guest)
Volunteer (inherits User)
Employee (inherits Volunteer)
Manager (inherits Employee)
Chat Agent (no inheritance)
Admin [hardcoded role]

Then for users I could make someone "Manager" or "Volunteer, Chat Agent" for assigning roles t

[2015-10-11 04:02] alisalaah commented on #1063
Concept in screenshots of a "Roles" tab under users would have these sections/panels... something to show inheritance of roles... the disabled checkbox for User / Default Channel is because it's inherited. Design guys can do better than me... but something that functions like this and of course I didn't put an "Add Role" anywhere above...

![screen shot 2015-10-11 at 10 58 07](https://cloud.github

[2015-10-11 05:14] alisalaah opened #1064 "Unable to paste in OSX App"
Using the Mac OSX app am unable to paste.

[2015-10-11 07:42] mitar commented on #796
I am not saying that it does not lower possible contributions a bit, but that it is not a bottleneck, the main reason why people would not contribute. But of course, all this is speculation and we have no good numbers. It might be a good research to find a way to quantify and evaluate various factors as such in contributing to open source. :-)

Because things are always trade-off. Having many peop

[2015-10-11 11:01] kormic opened #1065 "sendMessage - iOS Native app - canAccessRoom - Error"
Hi there, I am trying to send a message through the native ios app that we re building using the objective ddp library.As I see I need to call the sendMessage method. When I do that  I get from the callback the error:

Error: Error Domain=Meteor.Error Code=0 "[methods] canAccessRoom -> Cannot access empty room [invalid-room]" UserInfo={NSLocalizedDescription=[methods] canAccessRoom -> Cannot acces

[2015-10-11 20:47] 42robots commented on #1061
Already changed ProxyPass and ProxyPassReverse, but not working.

pm2 status / pm2 show 0 shows the app is up and running (what status tells) without any errors, but can't be accessed neither through url nor ip, doesn't matter which protocol may it be http or https.

But i am not 100% sure if that profs that the app is running correctly.

[2015-10-11 21:50] amcdawes commented on #978
Running out-of-the box with docker-compose I don't see avatar changes with GridFS (default) or with FileSystem. Is there anything else you changed mhkeller?

[2015-10-11 22:31] mhkeller commented on #978
after updating the latest neither are working for me either.

On Sun, Oct 11, 2015 at 5:51 PM, Andrew M. C. Dawes <
notifications@github.com> wrote:

--
@mhkeller
mhkeller.com

[2015-10-11 22:58] Tharnas opened #1066 "No admin user after activating ldap"
Hi,

After ldap is enabled and the (local) admin logs out there is no way to log in again with administrator privileges. (as local users are disabled when ldap is activated)

The local admin probably would need to grant the admin role to an ldap user before he logs out but if he doesn't I think the only way is to grant it through database.

<bountysource-plugin>
---
Want to back this issue? **[Pos

[2015-10-12 06:27] ninja- commented on #1066
:+1:

[2015-10-12 07:41] 42robots commented on #1061
Just to follow up. Actually i do not get any possible related errors in the log fies.

[2015-10-12 11:47] emcguinness commented on #1061
OK so not an apache issue then. Lets run through a few things:

1) Can we see the contents of the pm2-rocket-chat.json file that you used when starting pm2.
2) The contents of your /etc/hosts file
3) From the server itself do a `curl localhost:3000` don't need the output of this, just did it return nothing or a bunch of html?
4) While we are at it might as check of monog is working. From the serve

[2015-10-12 12:25] 42robots commented on #1061
Sure.

1)

[code]

2)

[code]

3) Returns a bunch of html

4) shows ```001-rs:PRIMARY> ```
can exit , too

[2015-10-12 14:19] graywolf336 commented on #1059
There are currently no REST APIs for the items you're wanting. If, however, you are using Rocket.Chat and write a package then you could use the various methods located here: https://github.com/RocketChat/Rocket.Chat/tree/master/server/methods

[2015-10-12 14:26] graywolf336 commented on #1058
There's already an issue for setting of max upload file size: #756.

[2015-10-12 15:58] tzeyangng commented on #1059
Ok, thanks for this info.

[2015-10-12 16:05] graywolf336 commented on #1059
There are plans to add the REST APIs, but I don't know what the timeline looks like.

[2015-10-12 16:14] graywolf336 opened #1067 "After Uploading a File, Unable to Paste"
After uploading an image, I am unable to paste inside a channel:
![2015-10-12_11-13-49](https://cloud.githubusercontent.com/assets/850391/10432674/58eb7940-70d2-11e5-98e3-1d661c6c5649.gif)

[2015-10-12 16:18] teetrinkers opened #1068 "Improving notifications"
Hi folks! We (me and some coworkers) found notifications for new messages to be inconsistent and would like to improve them.

This is the current behaviour of Rocket Chat:

| Event | Desktop notification | Icon badge | Sound |
---------|--------|-----------|-----
direct message, window has focus, channel is selected     | no | no | yes
direct message, window has focus, channel is not selected | no

[2015-10-12 16:31] graywolf336 commented on #262
This could be done with the sidebar tabs now :smile:

[2015-10-12 16:33] graywolf336 commented on #278
Maybe posts which are liked get put into a sidebar tab?

[2015-10-12 17:07] benlangfeld commented on #404
I think "expert" is something of a strong word, but I know a thing or two about XMPP. How might I best contribute, @marceloschmidt?

[2015-10-12 17:13] jots opened #1069 "user is typing notifications not working"
notifications that "user(s) are typing" does not appear to be working on my local copy or on https://demo.rocket.chat/

[2015-10-12 17:41] tfraley opened #1070 "Auth's Question"
Good day guys

New to RocketChat.. Still in the stand alone setup process.

I'm up and running, hover I can't seem to get auth's working correctly
Example Facebook & Twitter

Error when trying to login,
Given URL is not allowed by the Application configuration: One or more of the given URLs is not allowed by the App's settings. It must match the Website URL or Canvas URL, or the domain must be a s

[2015-10-12 18:49] ninja- commented on #1070
Yes

[2015-10-12 19:48] zarvox commented on #1055
Fixed indeed, thanks!

[2015-10-12 19:48] #1055 closed

[2015-10-12 19:48] emcguinness commented on #1061
1) Looks fine
2) The only slight difference is at the recommendation of the guide I mapped the machine's hostname to 127.0.0.1
`127.0.0.1 hostname`
Having said that I seem to remember before I did this it caused problems with mongo which seems fine as proved by 4)
3) The fact that this returns HTML implies that everything is working ok. If that works I would expect http://1.2.3.4:3000 in a broswer

[2015-10-12 21:06] Theaxiom commented on #1066
+1

[2015-10-12 21:08] Theaxiom commented on #1068
+1

This is a more verbose explanation of my issue #866

[2015-10-12 21:11] Theaxiom commented on #1063
To expand on this, it would be nice to be able to assign roles on a per-channel basis; this would allow you to create types of users who only have access to channels in which those roles are assigned access. This is kind of like private groups, but instead of invite-only, but could apply to public channels to make them semi-public.

[2015-10-12 21:16] Theaxiom commented on #1056
I have developed an Ansible role/playbook to install Rocket.Chat on RHEL6 -- is this something you'd be interested in? I can share it publicly if you so desire.

[2015-10-12 21:17] Theaxiom opened #1071 "Mirror channels between rocket.chat instances"
I'd like the ability to mirror select channels on my rocket.chat instance with other instances of Rocket.Chat -- to bridge the conversation between Rocket.Chat instances.

[2015-10-12 21:19] Theaxiom commented on #1048
+1

[2015-10-12 21:23] Theaxiom opened #1072 "Ability to edit all room titles as Administrator"
I've discovered I can't change the names of rooms that others have created, although I am an Administrator, because I don't "own" them.

[2015-10-12 21:28] Theaxiom commented on #752
#722 should be merged maybe?

[2015-10-12 22:40] tfraley commented on #1070
This may be very basic but could someone point out how to chnage this?
My /etc/hosts
127.0.0.1       localhost
127.0.1.1       rocketchat

rocketchat.domain.net:3000 loads fine and everything seems to work but the 3rd party auths

I've used other services and products most of which include a callback / redirect url setting, maybe adding this in the future would be a plus.

[2015-10-12 22:42] emcguinness commented on #1066
Some kind of hard to ignore warning before you enable the feature would be good. One that contains instructions, or links to some, would definately help. A good starting point could be a warning at the top of the LDAP wiki page, with how to fix it if you screw up would be a good start.

[2015-10-12 23:07] rwakida commented on #1072
Hi @Theaxiom.  I'm unable to duplicate the error.  Are you sure the user is an Administrator?

What error message appears in:
1. Browser
2. Browser console
3. Server

[2015-10-12 23:29] Theaxiom commented on #1072
Ok, I thought it was intended. This was at work, I will take screenshots
tomorrow from work.

Thanks,
Travis Rowland
http://travisrowland.com
http://linkedin.com/in/travisrowland
http://about.me/travisrowland

-----------------------------------------------

This e-mail is privileged and confidential.  Do not forward, copy or print
without authorization.  If you are not the intended recipient of t

[2015-10-13 00:03] rwakida commented on #1072
Missing pencil icon implies the user does NOT have the 'edit-room' permission.

An admin has the 'edit-room' permission by default.  Check that the user (with missing pencil) has the 'admin' role in mongodb users collection.

[code]

Also:
1. can the admin user view the 'Administration' menu option?
2. can the channel creator see the pencil icon?

[2015-10-13 00:33] NoorQureshi opened #1073 "This is My output After Installing it on Centos"
http://pastebin.com/raw.php?i=nF9pfEbd

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27362036-this-is-my-output-after-installing-it-on-centos?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=t

[2015-10-13 01:14] geekgonecrazy commented on #1073
@NoorQureshi

[code]
ENOMEM means the process ran out of memory.

How much memory is in the machine you are installing this on?

[2015-10-13 01:18] Theaxiom commented on #1072
The admin user is my user account, yes the room creator can see the pencil icon, my account cannot. Also, I can view the administration menu and edit channels I have created. I will check the mongodb collection tomorrow when I am at work. I will also be sure to upgrade rocket.chat to the latest version to see if the issue resolves. If I continue to experience issues, i will let you know. Thank you

[2015-10-13 01:18] geekgonecrazy commented on #1070
Do you have ROOT_URL set?

Also with oauth usually the application facebook etc you put a url there on the platform for the callback.  If the url of your instance is different then the url that is provided to the oauth provider it will throw an error like this.

[2015-10-13 01:20] geekgonecrazy commented on #1068
@Theaxiom would you prefer to move conversation here with the more verbose explanation?

[2015-10-13 01:21] Theaxiom commented on #1068
@geekgonecrazy Yes please, can you merge them?

[2015-10-13 01:21] geekgonecrazy commented on #1067
Yeah i've seen this a lot.  I thought we had already posted it.  :grin: Thanks for posting it :+1:

[2015-10-13 01:23] geekgonecrazy commented on #1072
@Theaxiom just curious.  Do you have any other admin's that you've appointed?  Are they able to see this?  This could be simply an issue of the default admin not having the permission added.

[2015-10-13 01:24] geekgonecrazy commented on #866
@mhkeller @bnikolaus please refer to #1068

[2015-10-13 01:24] #866 closed

[2015-10-13 01:24] Theaxiom commented on #1072
My account wasn't default administrator, I was made administrator by another user. TBH, the version is a bit out of date, so let me get it updated first before I suck any more of your time. I will post my findings here tomorrow.

[2015-10-13 01:26] geekgonecrazy commented on #1066
Absolutely or at the very least always allow initial admin to login unless the account is deleted (which only an admin could do)

[2015-10-13 01:28] geekgonecrazy commented on #1065
@kormic can you confirm / link to the message object you're sending?

[2015-10-13 01:29] geekgonecrazy commented on #1064
@alisalaah does this happen to be only sometimes?   Or after you paste an image?  Because I use the OSX app daily and it works fine.

[2015-10-13 01:30] geekgonecrazy commented on #1059
Yes this is for sure being planned.  Work is about to start pretty heavily on this in the next few weeks.

[2015-10-13 01:32] geekgonecrazy commented on #1056
@Theaxiom that would be awesome!  Would you think about possibly opening a PR here?  That would be awesome and I would think very useful

[2015-10-13 01:34] Theaxiom commented on #1056
@geekgonecrazy Sure, I can make it part of the Rocket.Chat core repo -- Ansible works well like that. :)

[2015-10-13 01:35] geekgonecrazy commented on #1056
@Theaxiom I think we might be trying move anything deployment related in that repo.

I'll get the others feedback on that though.
@RocketChat/owners thoughts?

[2015-10-13 01:41] Theaxiom commented on #1056
Would this work better: https://github.com/RocketChat/Deploy.to.Cloud

[2015-10-13 01:49] geekgonecrazy commented on #1056
@Theaxiom apparently I need sleep.  I meant to put a link to that repo.  Yes please

[2015-10-13 01:50] Theaxiom commented on #1056
That makes more sense now. :)

Thanks,
Travis Rowland
http://travisrowland.com
http://linkedin.com/in/travisrowland
http://about.me/travisrowland

-----------------------------------------------

This e-mail is privileged and confidential.  Do not forward, copy or print
without authorization.  If you are not the intended recipient of this
E-mail, you are hereby notified that any dissemination, dis

[2015-10-13 02:02] tfraley commented on #1070
@geekgonecrazy thanks for getting back to me on this.

I don't believe I set a ROOT_URL, where does one set this?

As for the oath applications, I use them on many other services, I have an understanding on how they work and I believe I have it setup correctly.

[2015-10-13 02:19] geekgonecrazy commented on #1070
I recently helped someone in the demo through something similar.  By default ROOT_URL is set to localhost.  So it uses that in the south request and causes mismatch.

You set via environment variable.  So if using meteor:
[code]

Docker use `-e ROOT_URL=http://host`

[2015-10-13 02:29] geekgonecrazy commented on #1032
I wasn't aware of this key binding.  Only of ctrl + p and cmd + p.  Will need to investigate this.

[2015-10-13 04:54] leftstick commented on #1026
I failed with similar error:

[code]

And i tried every config style, none of them work.

__ENVIRONMENT__: VPS, non-docker installation on Ubuntu 14.04.3 clean install, Linux ubuntu 3.19.0-30-generic #34~14.04.1-Ubuntu, mongoDB 3.0.6

I have those installed in my `wmware workstation`, will this be incorrect?

[2015-10-13 06:09] GQAdonis opened #1075 "Administration Menu Settings Section Titles Missing"
As of commit changeset 469d37b891, the administration menu is missing all titles under the "Settings" section.  All the items  are "untitled".

[2015-10-13 06:55] MuhClaren commented on #936
Yes, I too would find such support quite helpful.

+1

[2015-10-13 07:00] MuhClaren commented on #1067
Confirmed for Opera 31.0.1889.174 (Linux).

Restarting the browser seems to resolve the issue for me.

[2015-10-13 07:16] MuhClaren commented on #978
Confirmed.

Upload appears to have worked, Rocket.Chat renders the balloon notification stating the avatar change was successful, and I can see the changed avatar. However, the change doesn't persist through a reboot of the server.

Before (I can see the avatar): <div class="avatar-image" style="background-image:url(/avatar/admin.jpg?_dc=478);"></div>

After (I cannot see the avatar image, only th

[2015-10-13 10:24] tomac opened #1076 "Uploaded file URL"
Hello,
I've managed to have RocketChat working nginx and SSL but when I upload a new file, the download URL is pointing to the meteor app (http://rocketchat:3000/ufs/...) instead of the SSL port in nginx. Is there any option I should configure?

Thanks

[2015-10-13 10:27] emcguinness commented on #1076
This is set by the following environment variable:

`ROOT_URL=https://$HOST`

with the address being the https://address you use to access the server. One thing to be aware of, and this could of changed since I last looked, but the URL was getting saved on upload. So old files uploaded with the root url set wrong will still be wrong but newly uploaded files should be correct.

[2015-10-13 10:33] tomac commented on #1076
Thanks, my fault, I have the meteor URL in the ROOT_URL variable instead of the https nginx one.

[2015-10-13 10:33] #1076 closed

[2015-10-13 10:47] NoorQureshi commented on #1073
I Have 3GB Ram on my VPS

[2015-10-13 11:54] gmsecrieru commented on #1075
Duplicate. Please follow up on #1051

[2015-10-13 11:54] #1075 closed

[2015-10-13 12:14] gmsecrieru commented on #1050
@mhkeller are you still experiencing this issue and/or can you provide steps to reproduce it?

[2015-10-13 12:20] gmsecrieru commented on #1065
`invalid-room` error is thrown whenever `canAccessRoom(rid, userId)` is called with `rid` attribute containing a _falsy_ value. Can you confirm which values are you calling this method with?

[2015-10-13 12:32] gmsecrieru commented on #1070
@tfraley can you confirm that this is solved by setting ROOT_URL?

[2015-10-13 12:58] kormic commented on #1065
I think I found what I was doing wrong. I will get back to you once I m done with it... :)

[2015-10-13 14:22] gmsecrieru commented on #310
Closing as this was already merged into `master`.

[2015-10-13 14:22] #310 closed

[2015-10-13 14:35] geekgonecrazy commented on #1073
@NoorQureshi could you do: `free -mh` before executing to see how much of that 3GB you actually have free.  This way we have a good idea of how much it has to work with before diving into our options.

[2015-10-13 14:47] k0nsl commented on #1073
I've ran RC on a 512MB without any issues — however, the provider was too restrictive when it came to CPU usage (a OpenVZ-based VPS) so I'm now running it on a KVM VPS with 1GB and no issues :)

@NoorQureshi: what does `top` return for the `node` and `mongod` processes?

[2015-10-13 14:55] geekgonecrazy commented on #1073
@k0nsl as have I.  But i've also ran on 1Gb with 10 other things going and RC died just like that :)  Especially when using meteor to start it.  It eats a good bit up while starting up and building everything.  Docker images etc don't have that because its already compiled.

[2015-10-13 14:56] mhkeller commented on #1068
This looks great so far. I would also add "dock bounce" as a notification type for the desktop version since that's the main way my team has been using it. I believe currently the dock icon will bounce if a message does into a channel and the window does not have focus.

For "group message, user is not mentioned" Slack adds a red circle to the icon, which the current desktop app also does and seem

[2015-10-13 14:59] k0nsl commented on #1073
I noticed that, as well @geekgonecrazy. By the way, I've always ran RC using meteor directly (i.e non-docker).

[2015-10-13 14:59] geekgonecrazy commented on #1068
@mhkeller Just a quick note.  I'm not sure if we can actually control the bounce its self.  That's more of we add the badge, then OSX does the bounce because of a notification.

[2015-10-13 15:16] tfraley commented on #1070
@gmsecrieru @geekgonecrazy
I tried this a few times and variations with reboots between testing with no luck.

[2015-10-13 15:18] geekgonecrazy commented on #1070
@tfraley what is your actual deploy method?  That'll help a lot in making sure we point you in the right direction

[2015-10-13 15:22] tfraley commented on #1070
Fresh Ubuntu 14 server with updates on a XenServer VM

sudo apt-get install git

sudo add-apt-repository -y ppa:chris-lea/node.js
sudo apt-get update && sudo apt-get install -y nodejs
sudo apt-get install mongodb

curl https://install.meteor.com/ | sh

git clone https://github.com/RocketChat/Rocket.Chat.git

cd Rocket.Chat
sudo meteor

Also installed screen and run it their

[2015-10-13 15:23] gmsecrieru commented on #1070
Have you tried following [these instructions](https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker)?

[2015-10-13 15:27] geekgonecrazy commented on #1070
@tfraley so in that particular install method you would replace `sudo meteor` with `sudo ROOT_URL=http://mydomain meteor`

But actually sudo should be completely un-needed since by default meteor runs on a non privileged port.  Port 3000.

I'd personally do:
[code]
Changing the ownership back to you instead of the files created by meteor when ran as root.

Then do:

[code]

[2015-10-13 15:31] tfraley commented on #1070
@geekgonecrazy

sudo ROOT_URL=http://mydomain meteor was one of the varitations I tried with no luck

I will try the other suggestion ie changing back to youruser.

[2015-10-13 15:31] gmsecrieru commented on #788
Closing this one. Please report back should the need arise.

[2015-10-13 15:31] #788 closed

[2015-10-13 15:32] tfraley commented on #1070
@gmsecrieru I did run though that set of instructions once and ran into a glitch and found thouse directions which got me up and running faster but guess not with out a hitch ;)

[2015-10-13 15:37] mhkeller commented on #1050
Ya I'm still seeing this altho it could be related to the VirtualBox situation we were discussing earlier. I've been waiting on IT to provision a server. After that switch I'll see if this issue remains. Currently it's happening only with some users but I can't pin down any pattern. If there are any logs you'd like to see in the meantime I'd be happy to send.

[2015-10-13 15:37] graywolf336 commented on #1067
Drag and drop works fine, you can paste after dragging and dropping. And it only affects the channel you uploaded the file to, you can switch to another channel and paste just fine.

[2015-10-13 15:40] gmsecrieru commented on #1050
[This](http://websocketstest.com/) might help identify if some of these clients are experiencing WS issues, which might be (one of) the cause(s).

[2015-10-13 15:41] gmsecrieru commented on #905
@Surfoo is this something you are still experiencing? Could you please provide more information so we can work on it?

[2015-10-13 15:42] mhkeller commented on #1068
I see, so is the Rocket Chat notification not connected directly to the [Electron dock commands](https://github.com/atom/electron/blob/master/docs/api/app.md#appdockbouncetype-os-x) when running in that environment? If there's a code section to point to I can look at how it works to learn more.

[2015-10-13 15:46] mhkeller commented on #1050
Getting the a-okay in FireFox Chrome and Safari but still the same hanging behavior with certain DMs. Removing and adding those message rooms again seems to fix but only temporarily.
![screen shot 2015-10-13 at 11 45 50 am](https://cloud.githubusercontent.com/assets/498744/10459926/fc36a70a-719f-11e5-996f-b994221eb423.png)

[2015-10-13 15:56] gmsecrieru commented on #1050
Would you be able to ask for the other DM client to perform the same test and report the results to you/us?

[2015-10-13 15:57] geekgonecrazy commented on #1065
@kormic I think based on you posting successfully that this is now resolved?  :+1:

[2015-10-13 15:59] tewksbum opened #1078 "Heroku - One Click Install Not Working"
Getting the following error:

-----> Fetching custom git buildpack... done
-----> Node.js app detected
-----> Installing node
-----> Installing meteor
Downloading Meteor distribution
Meteor 1.2.0.2 has been installed in your home directory (~/.meteor).
Now you need to do one of the following:
  (1) Add "$HOME/.meteor" to your path, or
  (2) Run this command as root:
        cp "/tmp/buildpack_6a64

[2015-10-13 16:17] AntouanK commented on #164
@engelgabriel Is the "quote" feature implemented in v0.5.0?

[2015-10-13 16:24] teetrinkers commented on #1068
The only Electron dock command I've found is in the main.js of the Electron app:
[code]

[2015-10-13 16:31] geekgonecrazy commented on #1068
That would be it.  :+1:

[2015-10-13 16:35] geekgonecrazy opened #1079 "Upload progress bar behind unread bar"
If you do a file upload while you have the unread bar it shows up behind the unread bar.  So you can't really tell if its uploading or not.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27380589-upload-progress-bar-behind-unread-bar?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept

[2015-10-13 16:37] geekgonecrazy commented on #1078
@tewksbum during the UI step of the one-click did you set the ROOT_URL near the bottom?

[2015-10-13 16:45] tewksbum commented on #1078
Okay - apparently a UTS error!  I had inputted the app name above and presumed the parameter passed in below.  I manually inputted and it has setup successfully.  Thanks!

[2015-10-13 16:46] geekgonecrazy commented on #1078
Glad to hear :+1:

[2015-10-13 16:46] #1078 closed

[2015-10-13 16:47] geekgonecrazy commented on #1072
@Theaxiom sounds good let me know if that resolves it for you.

[2015-10-13 16:47] #1065 closed

[2015-10-13 16:49] geekgonecrazy commented on #1056
@TinajaLabs i'm going to close this.

@Theaxiom if you get a chance to create a PR for the ansible stuff, maybe link to this so @TinajaLabs can see the changes.

[2015-10-13 16:49] #1056 closed

[2015-10-13 16:50] geekgonecrazy commented on #1051
@rodrigok so this is a one time issue that should be resolved?

[2015-10-13 16:52] geekgonecrazy commented on #1050
@mhkeller did you ever manage to get a linux vm with bridged networking and install via docker inside that vm?

If not I think this is very much related to your setup.

[2015-10-13 17:00] maxlinux2000 opened #1080 "add GCM: Google Push Messages"
Please consider to add the GCM too.

tnx

[2015-10-13 17:06] geekgonecrazy commented on #1080
GCM is actually already added.  Just look in the push section of settings.

[2015-10-13 17:06] #1080 closed

[2015-10-13 18:08] geekgonecrazy commented on #1034
I just got my new YubiKey in the mail so I might take a stab at this.  :grin:

[2015-10-13 18:34] maxlinux2000 opened #1081 "oauth google... how to configure?"
please add to chat administration a page link with some examples how to configure oauth and callback urls

and... exist this page?  I can't configure oauth with google because de callback url is missing...where is it?

[2015-10-13 18:35] maxlinux2000 commented on #1081
today a can't login in your demo.rocket.chat nor with facebook nor google.

[2015-10-13 18:37] maxlinux2000 commented on #1081
so I ask here:  sorry
I have configured GCM in the chat... but now.. witch steps to test it?

[2015-10-13 18:54] gmsecrieru opened #1082 "rocketchat:markdown crashes Demo Server after link support"

[2015-10-13 19:03] ninja- commented on #1071
? Why would you want to do that

[2015-10-13 19:25] rodrigok commented on #1051
@geekgonecrazy yes

[2015-10-13 19:27] #1051 closed

[2015-10-13 19:32] rodrigok commented on #1079
IMHO we should use flexbox for this things

[2015-10-13 19:33] AntouanK commented on #796
When you make an open source project and you want it to be successful, you have to make choices that attract as many developers/users as possible. CoffeeScript is used by a minority, that's a fact. So by using it, you lock out a lot of potential users/contributors.

For me personally, CoffeeScript is a downside, and the main reason to keep me from reading/contributing to the code.

But in general

[2015-10-13 19:50] rodrigok opened #1084 "Cordova mobile build failed to load avatars"
https://github.com/RocketChat/Rocket.Chat/pull/997#commitcomment-13682706

[2015-10-13 20:41] kernicPanel opened #1086 "Autocomplete bots commands"
My idea is to autocomplete commands and subcommands with help strings from hubot scripts.
I think it would be great to have this feature.

I'm looking for working on this, but I don't know where to start as I've never worked with meteor before.
Maybe someone can guide me a little bit ?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2

[2015-10-13 20:41] #1067 closed

[2015-10-13 21:44] 42robots commented on #1061
Many thanks for the feedback!
I'll go through it again by tomorrow and try one or two other things.

Get back to you soon,
Many thanks!

[2015-10-13 21:59] engelgabriel commented on #658
Lets implement that using the new abstraction layer at
`Rocket.Chat/packages/rocketchat-lib/server/models/_Base.coffee`

[2015-10-13 22:03] engelgabriel commented on #658
The property name on the schema should be configurable, so we can keep compatibility with https://atmospherejs.com/mizzao/partitioner

[2015-10-13 22:32] kernicPanel commented on #1086
I've found client/views/app/messagePopupConfig.coffee and client/views/app/messagePopupConfig.html where I copied popupSlashCommands parts, and added client/views/app/messagePopupHubotCommand.html
I think I begin to understand how popup complete works.

But now I want to silently send "help" message to every user connected, and store the response to build the hubot command collection.
Any idea on

[2015-10-13 23:38] geekgonecrazy commented on #1086
@kernicpanel I've been thinking about this very idea.  I don't think sending a message would be most efficient way of doing this.  I think we need a method on the server hubot can call directly to register its methods.

So this would require an addition here in a package likely.  Then in the adapter after connection gather commands and call the method to register the commands

[2015-10-13 23:39] IQ2022 commented on #900
we also can have a few public chat rooms for your current work/team/support,just to talk in general or just to build traffic. . if you needed to sell courses/webinars/have an expert advise, scheduling an appointment etc.. all  that will be at a premium and you can add features per minute, hour/ month/year etc.. you can either have this from within the chat room (right panel) - book appointment>pay

[2015-10-13 23:59] Theaxiom commented on #1072
Since this is obviously now a support request, instead of a feature request (since what I was experiencing was not expected) I am going to close this. If I need support, I will obtain it via proper means. I don't typically open GitHub tickets to get technical support. Your time is better spent doing more productive things, than helping people use your software. Thanks for your help! :)

[2015-10-13 23:59] #1072 closed

[2015-10-13 23:59] Corwin7 opened #1089 "Defective docker docs"
[code]
[code]

[code]

[2015-10-14 00:07] Corwin7 commented on #1089
OK, the "docs" are some kind of typo. Ignoring and moving on.

I ran
[code]

[2015-10-14 00:36] geekgonecrazy commented on #1072
@Theaxiom there is still a possibility you are experiencing an edge case that we haven't accounted for.  The permissions system is still pretty new.  So we are glad to try and work through these edge cases to see if we need to change something

[2015-10-14 00:58] royalaid opened #1090 "Soundcloud embed support"
Soundcloud links should unfurl into the soundcloud player

should become
[code]

which results in a message looking something like
<img width="1017" alt="screenshot 2015-10-13 17 57 52" src="https://cloud.githubusercontent.com/assets/2439803/10472336/ffd6265e-71d3-11e5-8cd3-2512dc048423.png">

[2015-10-14 02:29] Theaxiom commented on #1072
If that is the case, I will let you guys know then. Thanks! :)

[2015-10-14 03:02] steedos commented on #1068
+1

[2015-10-14 03:03] steedos commented on #1068
Currently, there is no on video call, If i'm not in the chat window.

[2015-10-14 03:44] S4KH commented on #967
Hi guys, I am new, is there any local test users created beforehand?

[2015-10-14 05:33] alisalaah commented on #1071
You can sync Mongo Collections between two servers if you have rights to
both. Hubot may also be valuable in echoing the conversations though it may
not be the ideal solution of actually linking to servers by federating with
each other and then allowing an official bridge.

On Wed, Oct 14, 2015 at 2:03 AM, ninja <notifications@github.com> wrote:

[2015-10-14 05:36] alisalaah commented on #1064
Working now and not sure what caused the previous bug. We can close this
maybe and reference it if it resurfaces since there's no way to test while
the bug is gone.

On Tue, Oct 13, 2015 at 8:29 AM, Aaron Ogle <notifications@github.com>
wrote:

[2015-10-14 06:39] kernicPanel commented on #1086
@geekgonecrazy Of course using help seems ugly, I've thinked about the same implementation us you.
But using help will allow autocompletion of any bot, as help is (almost ?) always implemented in them.
I think it would be more flexible approach, and a far more interesting feature for Rocket.Chat.

[2015-10-14 07:14] steedos opened #1091 "What about P2P file transfer powered by WebRTC"
There is an sample, HTML5 clone of Apple's AirDrop:

https://github.com/cowbell/sharedrop/

[2015-10-14 07:14] elwayman02 commented on #164
@engelgabriel I can't pick a *best* implementation, as I think they could all be improved on; Gitter and PureCloud both take very different approaches to the UX of this type of feature. I think PureCloud's is a bit more efficient, though.

[2015-10-14 08:52] MRYingLEE opened #1092 "Suggestion: To support Unicode and special characters in Group name"
1. For non-English users, Unicode support is critical.

2. If special characters are allowed, we may use a hyperlink as the group name and may support a message format in group name.

In other words, can we support a normal message as a group name? If so the UI could be very attractive.

[2015-10-14 08:54] ninja- commented on #1034
I implemented this another way. I recently did a large multi-service LDAP deployment and made the ldap server work that way so it only accepts a password of <password><your mobile token>. So 2fa across all the services :+1:

[2015-10-14 09:27] sunnipaul opened #1093 "remove members from private group"
Hope this feature be added soon

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27399332-remove-members-from-private-group?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm

[2015-10-14 10:19] AntouanK opened #1094 "Get the development version running."
Got the source code yesterday, and I wanted to start modifying the code. But getting the development version to run is pretty confusing.

In the README is says:
[code]

If I do run this though, that meteor process gets stuck because it cannot find mongo ( which makes sense, there is no container running mongo, right )
I haven't use meteor before, so I have no idea how it runs.
( specifically it ge

[2015-10-14 11:42] AntouanK commented on #1094
I did try to get a separate `mongo` container linked, but again the same situation, gets stuck on LDAP.

Even trying
[code]
gets stuck on this line
[code]

Can I somehow remove or disable ldap? It seems to be blocking the whole thing.

[2015-10-14 11:47] kernicPanel commented on #1094
Maybe I'm too naive, but why not using the meteor command ?

[2015-10-14 11:48] AntouanK commented on #1094
I'm using docker containers.
The image you have in the README ( [`danieldent/meteor`](https://github.com/DanielDent/docker-meteor/blob/master/latest/Dockerfile) ) runs "meteor" anyway, so it should be the same, right?

[2015-10-14 12:01] kernicPanel commented on #1094
Yes, but it uses https://github.com/OnModulus/demeteorizer
https://github.com/DanielDent/docker-meteor/blob/master/latest/Dockerfile#L23

It seems that you have to run mongo by yourself https://github.com/OnModulus/demeteorizer#running-resulting-application

I don't use docker for development, only meteor command, and docker-compose for production.

[2015-10-14 12:05] AntouanK commented on #1094
Ok. ( that comment you just made, should be obvious in the main README )

But still, like I said earlier, even if I run mongo, and link it and set up the env variable, it still gets stuck on ldap installation.
So what's wrong there?

[2015-10-14 12:22] joaocarloscabral commented on #658
Hello guys.
I'll work on this issue on the next days!
As @engelgabriel said before, we have a product that needs this feature and will be a pleasure for me to help.

Yesterday I was talking with @engelgabriel and @rodrigok about the first steps to develop and the suggestion was to start changing this file: https://github.com/joaocarloscabral/Rocket.Chat/blob/master/packages/rocketchat-lib/server/m

[2015-10-14 12:28] #1064 closed

[2015-10-14 12:30] gmsecrieru commented on #1091
See #370

[2015-10-14 12:30] #1091 closed

[2015-10-14 12:32] gmsecrieru commented on #1092
Closing as there are several issues pertaining to this topic.

[2015-10-14 12:32] #1092 closed

[2015-10-14 12:34] #1084 closed

[2015-10-14 12:38] gmsecrieru commented on #1094
I remember running into a very similar situation when running on `danieldente/meteor`, and I believe this is related to the fact that we are running Meteor 1.2.0.2 for RocketChat but the referred image has another version.

Not sure if that's the problem but could be related.

[2015-10-14 12:43] AntouanK commented on #1094
@gmsecrieru Any way for me to test that? How do I specify versions? ( I haven't use meteor before, and I don't really get how it works. it's like a big black box )

[2015-10-14 12:44] gmsecrieru commented on #967
Based on [this comment](https://github.com/Ranks/emojione/issues/137#issuecomment-147127026) it looks like this is an expected behavior and your PR will not be merged.

Closing as this is not an issue with RocketChat itself.

[2015-10-14 12:44] #967 closed

[2015-10-14 12:51] gmsecrieru commented on #1094
@AntouanK What you are trying to achieve requires some Docker-related knowledge and setup, and that goes a little beyond RocketChat itself, even though I highly suggest you join us at the [Demo server](https://demo.rocket.chat) as there are plenty of Docker-experts who can help you.

Have you tried following [other methods](https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-

[2015-10-14 12:54] engelgabriel commented on #164
@elwayman02 the Gitter implementation is very simple, it only adds a button on the message that copies it to the textarea with a ">" in front. Is that enough? We can do that right now.

![image](https://cloud.githubusercontent.com/assets/1000217/10484083/762c5c62-7259-11e5-943f-764742f70467.png)

![image](https://cloud.githubusercontent.com/assets/1000217/10484093/8532595a-7259-11e5-977a-d6f7991ce

[2015-10-14 13:05] mitar commented on #164
And puts a cursor into a new line afterwards without the `>`. I think that would be enough.

[2015-10-14 13:08] engelgabriel commented on #164
Ok, let's do that.

- I mean, let's ask Diego to do that :smile:

[2015-10-14 13:21] #1082 closed

[2015-10-14 13:39] mhkeller commented on #1050
Possibly related to same issue as: https://github.com/RocketChat/Rocket.Chat/issues/1051

Restarting the server seems to have fixed this. Closing.

[2015-10-14 13:50] MyPod commented on #1026
mongodb-org version 3.0.7 reintroduves the yaml syntax, so with it you'll want something like

replication:
  replSetName: "rs01"

[2015-10-14 13:57] engelgabriel commented on #658
@joaocarloscabral Take a look on the link below for how to grab the connection object for that fiber.
https://github.com/RocketChat/Rocket.Chat/compare/EnvironmentConnection#diff-e214084ef39ef04ea8cfce4bd72a420bR26

[2015-10-14 14:04] AntouanK commented on #164
I think I was misunderstood.
If I go in https://demo.rocket.chat and post this:
[code]
I see this as expected:
<img width="78" alt="screen shot 2015-10-14 at 15 03 47" src="https://cloud.githubusercontent.com/assets/4569111/10485966/b2b1d6dc-7284-11e5-99cb-502731db70f1.png">

But, in the rocket.chat I deployed in my own server ( by cloning the repo and using the docker deployment ) I see that:
<im

[2015-10-14 14:09] gmsecrieru commented on #164
@AntouanK looks like you are running an outdated version. Can you just pull an updated version from GitHub?

[2015-10-14 14:15] AntouanK commented on #164
@gmsecrieru I'll do that.

Since I'll have to remove/restart the containers in the docker compose set up, that's brings another thing I would add in the README: How to update/restart without losing data. As in, mount a file-system directory, or a container as a volume, in order for data to persist even if you had to remove/restart the 2 basic containers ( meteor and mongo ).
I got this problem yes

[2015-10-14 14:18] engelgabriel commented on #164
Sorry about you losing your data @AntouanK

@Sing-Li can you point him on the right direction on how to do the PR for that?

[2015-10-14 14:20] marceloschmidt commented on #1090
That sounds great! Could you propose a PR? If you need help, you can use rocketchat:spotify package as reference. Thank you!

[2015-10-14 14:23] marceloschmidt commented on #1089
You must have docker-compose installed in order to run `docker-compose up`.
Check [this](https://github.com/RocketChat/Deploy.to.Cloud/tree/master/GenericLinux) if you need more help on running through docker-compose.

[2015-10-14 14:23] #1089 closed

[2015-10-14 14:32] marceloschmidt commented on #1081
@maxlinux2000 the oauth is specified by meteor. You should use  `http://[your_host_name]/_oauth/google`

[2015-10-14 14:32] #1081 closed

[2015-10-14 14:46] maxlinux2000 commented on #1081
but.... the port number too?

http://chat.mydomain.org:3000/_oauth/google

[2015-10-14 15:01] AntouanK commented on #164
@engelgabriel It's alright, I was just testing it anyway. But it's an important thing to point out for other people.

[2015-10-14 15:03] AntouanK commented on #1094
@gmsecrieru I used docker a lot in my last projects, so I'm happy to help.

If all you do is run `meteor`, then obviously I have to know what meteor does, and pinpoint the problem that is container-related.
And like I said, I have no idea how meteor works, and where to start from.
( I tried the meteor docs, but there is a "hello-world" app, and you have a monster app, so it's not really helpful )

[2015-10-14 15:08] maxlinux2000 opened #1096 "How to configure GCM push notifications?"
Hi
I want to activate GCM notifications.

so I have creates a new project in the google console with te following API

![xpush4](https://cloud.githubusercontent.com/assets/5683921/10487774/f456bd76-7295-11e5-8a33-181b127755df.png)

And this is the configuration... but obviously doesn't work.

![xpush1](https://cloud.githubusercontent.com/assets/5683921/10487732/bebc572a-7295-11e5-9922-605a146d842c

[2015-10-14 15:12] geekgonecrazy commented on #1086
@kernicPanel I would agree.. But any bot made for Rocket.Chat is going to have to have an adapter wrote for it.  Its just one more call to write in the adapter.

This will also allow the bot reloading with more commands to tell Rocket.Chat it has more commands with out pinging it at some interval.

[2015-10-14 15:12] mlazarov opened #1097 "Sending message from Ansible - the Slack way?"
Hi,
I'm curios is it possible to send chat message from ansible to rocket chat like in slack?

Here is the Ansible docs about this:
http://docs.ansible.com/ansible/slack_module.html

Martin

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27408070-sending-message-from-ansible-the-slack-way?utm_campaign=plugin&utm_content=tracker%2F168

[2015-10-14 15:19] geekgonecrazy commented on #1094
Yeah I think our upgrade to the newer version of meteor has messed up the usage of that image.

We may need to find another one or build an image.  Which shouldn't be hard.

@AntouanK so when you run `meteor` it runs the meteor process, which starts mongodb and then does a build of the app.  It also watches the app and when a change is made it rebuilds.

It would be a very simple image to write.

[2015-10-14 15:24] kernicPanel commented on #1086
OK, I get your point.
Can you provide me some tech guidance to get this done ?

[2015-10-14 15:36] AntouanK commented on #1094
@geekgonecrazy
Ok, so I made a debian VM, got the meteor script file, installed it and then cloned the repo and run 'meteor' in the directory.
Seems to be working fine.

The easiest way would be to make a docker image based on debian, and just do those steps.
But I think it's sensible to separate the db, just like you do in the docker-compose file.
So it can be managed better, and separate concern

[2015-10-14 15:39] ninja- commented on #1097
not yet. we are aiming for implementing the same REST API as Slack does, but that isn't yet ready

[2015-10-14 15:40] geekgonecrazy commented on #1034
That works for ldap.  For sure want this in Rocket.Chat its self

[2015-10-14 15:42] ninja- commented on #1034
sure, I am not stopping you from implementing this. Depending on 2FA implementation in each of the services used started to be annoying so that's just the solution I used.

[2015-10-14 15:46] geekgonecrazy commented on #1094
@AntouanK you have to remember though.  This is for development.  Not for running in production.  So running via meteor is simplest via meteor.  If you do want to use your own you can use the environment variable `MONGO_URL=mongodb://host:/db`

[2015-10-14 15:55] Theaxiom commented on #1071
I was actually thinking hubot may be a better solution.
On Oct 13, 2015 10:33 PM, "Ali Camarata" <notifications@github.com> wrote:

[2015-10-14 16:06] AntouanK commented on #1094
I see.

Containers are as much convenient as anything else I think, to work on development.
If anything, they are more portable since you only have one dependency, docker.
For example, the laptop I'm using, I don't want to install meteor or MongoDB. I have docker already, it's easier to just launch a couple of containers.

I'll prepare a dockerfile and a script to show you how easy it can be.

Can

[2015-10-14 16:08] ninja- commented on #900
ok I think that the internal api is more suitable to this than I expected(so no need for bots), you can start by looking at the livechat module which to me still looks like magic :)

[2015-10-14 16:11] marceloschmidt commented on #1081
Yes

[2015-10-14 16:13] geekgonecrazy commented on #1094
in the repo .meteor/packages is I think pretty much the most important.

So all you should have to do is map a volume in the container to your local folder and just running meteor in that folder inside the container should be all you need to do.

[2015-10-14 16:36] maxlinux2000 commented on #1081
But still not work! :(

![xoauth](https://cloud.githubusercontent.com/assets/5683921/10490633/6e272bac-72a2-11e5-8060-42444423fb35.png)
![xoauth2](https://cloud.githubusercontent.com/assets/5683921/10490635/6e29af6c-72a2-11e5-81eb-b5efef607437.png)
![xoauth3](https://cloud.githubusercontent.com/assets/5683921/10490634/6e27c012-72a2-11e5-9b35-a32d5b3b321d.png)

[2015-10-14 17:14] Corwin7 commented on #1089
Thanks for your response. Please update the docs to say `download docker-compose.yml then run docker-compose up`.

[2015-10-14 17:40] storrgie commented on #1089
@Corwin7

[code]

[2015-10-14 17:45] Corwin7 commented on #1089
@storrgie Thanks for the stdout help. What does that have to do with updating the documentation to be a bit more correct?

[2015-10-14 17:47] storrgie commented on #1089
@Corwin7 trying to point out, albeit in a snarky way, that this is a familiarization issue with an upstream product, not with the rocket.chat project. Knowing that you need the docker-compose.yml file is pretty fundamental to using docker-compose.

[2015-10-14 18:12] graywolf336 commented on #521
@gmsecrieru Yes it is still happening. I started a video chat with someone on my phone and it came up on my desktop with "Direct video call from my.username".

[2015-10-14 18:34] marceloschmidt commented on #1069
Fixed in 84e92d271e23f44d38761cf3cf33af4eb76e9124

[2015-10-14 18:34] #1069 closed

[2015-10-14 19:17] marceloschmidt opened #1099 "Bug rendering multiple rooms at the same time"
![image](https://cloud.githubusercontent.com/assets/1986378/10494828/f6ff8a0a-728e-11e5-91db-d6221dca0339.png)

[2015-10-14 19:20] Corwin7 commented on #1097
If I migrate from Slack to RocketChat (I'm still evaluating / attempting to get it to work) I will need the ability to post to it from Bash & Ansible like I do with Slack. Any rough idea on the time frame?

[2015-10-14 19:22] #1099 closed

[2015-10-14 19:26] alisalaah opened #1100 "Module Hooks"
While looking at the LiveChat module it's clear that all code should live inside of modules completely but they still need to tie into parts of the core interface.  While we already have a LiveChat section inside the Administration area now we need to make sure it's templates and function are inside the module completely (not sure how it hooks at the time of this ticket).

Moving forward the modul

[2015-10-14 19:28] alisalaah commented on #1100
Also with future Roles / Perms - per https://github.com/RocketChat/Rocket.Chat/issues/1063 - a module needs to also send the core new permissions that can be assigned to roles.  In LiveChat this would be something like "is-operator" "view-livechat-admin" etc.

[2015-10-14 19:45] rabbihossain commented on #838
I might be able to solve it. Seems a easy fix. Should I go for it?

[2015-10-14 19:46] alisalaah opened #1101 "Hiding Direct Messages wrong icon and title tag"
Hiding a message shows an open eye, instead of slashed eye.  It used to be an "X"?  Also the message says Hide Room... easy quick fix.

![screen shot 2015-10-15 at 02 44 26](https://cloud.githubusercontent.com/assets/277910/10495626/fdd0c27e-72e6-11e5-9383-79ec2cd79dad.png)

[2015-10-14 19:47] biomassives commented on #1101
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (100/100 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:53] marceloschmidt commented on #838
sure @rabbihossain ! thank you!

[2015-10-14 19:54] biomassives commented on #838
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (114/100 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 19:58] royalaid commented on #1090
should I use the rocketchat namespace for the meteor package?

[2015-10-14 19:58] biomassives commented on #1090
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (118/100 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2015-10-14 20:53] pschonder opened #1106 "Apps are broken since merge of theme-package"
<img src="https://cloud.githubusercontent.com/assets/66947/10497412/f91eb798-72c5-11e5-9780-c23ce31d1075.png" alt="screen shot 2015-10-14 at 22 49 55" width="400px">

Looks like the CSS could not be loaded.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27416349-apps-are-broken-since-merge-of-theme-package?utm_campaign=plugin&utm_co

[2015-10-14 21:02] pschonder commented on #1106
@rodrigok any ideas?

[2015-10-14 23:16] engelgabriel commented on #1106
Yes, @rodrigok will take a look. The CSS is now dynamically generated.. so we may have broke something.

[2015-10-14 23:18] engelgabriel opened #1107 "Rename external rocketbot for its original name: hubot"
And use the original avatar.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27419774-rename-external-rocketbot-for-its-original-name-hubot?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=track

[2015-10-15 00:13] steedos commented on #1099
Yes, I have seen this bug several times, but I'm not sure when it would happen.

发自我的 iPhone

[2015-10-15 01:52] geekgonecrazy commented on #1086
@kernicPanel alright i've started a bit on this.

https://github.com/RocketChat/Rocket.Chat/compare/bot-autocomplete
https://github.com/RocketChat/hubot-rocketchat/compare/send-autocomplete

I've got a bit left to do.  Use the bots name as part of the autocomplete, as well as getting updated commands from the server when the bot informs it.

[2015-10-15 02:08] geekgonecrazy commented on #1106
I think the app is a little out dated.  A lots missing from the assets compiled in.  Just building a new version might resolve this.

[2015-10-15 02:09] geekgonecrazy commented on #1101
What's wrong with the title text?

I agree on the eye.  Should be a crossed out eye.

[2015-10-15 02:12] geekgonecrazy commented on #1097
@mlazarov actually it works now for posting messages.

https://github.com/RocketChat/Rocket.Chat/wiki/REST-APIs

Its not up to a comparable place with slack.  We have a few things to wrap up this week and next.  I hope to be able to start on this end of next week. Maybe someone will beat me to starting on it :)

[2015-10-15 02:14] geekgonecrazy commented on #1096
@maxlinux2000 Let me take a look at this process.  We're using a package i'm not familiar with to do the push notifications.  So I need to brush up.

[2015-10-15 02:26] leftstick commented on #1026
The message now as following:

[code]

Is this correct?

[2015-10-15 05:08] pschonder commented on #1106
I did a fresh build to make the Screenshot. A build which is based on a commit before the merge, looks normal.

[2015-10-15 05:27] geekgonecrazy commented on #1106
Some how I missed that you were running in emulator. I'll let the other guys look into that :D

[2015-10-15 06:31] CrystalMethod opened #1108 "No media preview for bot replies"
Is this supposed to be working?

![bildschirmfoto 2015-10-14 um 21 45 42](https://cloud.githubusercontent.com/assets/372398/10498147/559cf364-72ca-11e5-8aee-cc4a3a7be8ff.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27425293-no-media-preview-for-bot-replies?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&u

[2015-10-15 06:35] solo999 opened #1109 "Missing facebook, google, twitter, linkedin icons in login page in Chrome 45 and 46"
Facebook, google, twitter, linkedin icons in login page in Chrome 45 and 46 on Mac OS 10.9.5 are not showing:

https://www.dropbox.com/s/qsw0zfl2gyra7oq/Screenshot%202015-10-15%2014.19.49.png?dl=0

But it works in Firefox 41 and Chrome Canary 48 on Mac and in Chrome versions on Windows 10...

[2015-10-15 07:44] mradke commented on #577
@Sing-Li is there a roadmap for an iOS solution? This is currently holding me back to roll out an instance. :rocket:

[2015-10-15 08:24] S4KH commented on #1090
Any idea how to find/get the track/src url (https://api.soundcloud.com/tracks/227201197) from user entered https://soundcloud.com/yikyakapp/escapetoeverest-twofriends for iframe src attribute?

[2015-10-15 08:31] 42robots commented on #1061
Thanks so much for the great tips, but it did not work out. I decided to force it and go with a separate instance running nginx ;-)

Many thanks and best,
Christian

[2015-10-15 10:17] miscs opened #1110 "Build fails"
Hi devs,

we try to install rocket on a Ubuntu system, but

```meteor build --server "$HOST" --directory .``` fails with

[code]

Using git version a56e7b85ba767d7cfc41509ee006125c53515421

Any hints would be highly appreciated!

Thanks!
Steve

[2015-10-15 10:48] Dbzman commented on #978
We also noticed the exact same problem with avatars today. (using docker, too)
Avatar settings in RocketChat are configured like this:
*Accounts_AvatarStorePath:* /var/www/rocket.chat/uploads/avatar/
*Accounts_AvatarStoreType:* GridFS (we tried FileSystem also)

Then I mounted "/var/www/rocket.chat/uploads/avatar/" to the host system (also because this default path did not exist in the docker cont

[2015-10-15 10:48] AntouanK commented on #1094
@geekgonecrazy I still have a problem getting past the "ldap" step
Terminal always gets stuck at
[code]

Any idea why? Is there maybe a dependency missing for ldap or something?

[2015-10-15 11:58] MuhClaren commented on #1026
@leftstick

No that's not correct. I believe you're getting that error because you have your hostname set to "ubuntu", thus the errmsg ""No host described in new configuration 1...".

Try using your FQDN and see if that works. For example, in my setup it is:
"me" : "chat.my_domain.com:27017"

Have you edited your /etc/hosts file?

[2015-10-15 12:09] MyPod commented on #1026
Actually, you need to make sure that the anser of hostname is contained into /etc/hosts and pointing to 127.0.0.1; there's no need to set the hostname to the expected/actual FQDN.

[2015-10-15 12:11] MuhClaren opened #1111 "Display Rocket Chat Version Number"
Are there any plans to introduce a version number somewhere in the UI? It'd be greatly helpful to have at-a-glance the current version running. Takes the guess work out of wondering if it's the latest docker image or not. Thanks for considering this.

[2015-10-15 12:31] MuhClaren commented on #1026
True. As long as the hostname is mapped  in the hosts file so Mongo can resolve it to 127.0.0.1 it should work, unless it's a remote 3rd party mongo provider.

[2015-10-15 13:01] emcguinness commented on #1110
That looks a lot like the error you get if you try and build the app twice, is there a chance you have already run the build command? you should be able to carry on, do the NPM install if you have not already and then use pm2 to start it. If that last sentance made no sense look at the guide [here](https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker#3-download-rocketch

[2015-10-15 13:03] storrgie commented on #1111
It'd be very nice to know version-build as I re-deploy via docker. I have noticed several things I'd like to have reported as issues, but I can't attribute them to a specific build without slogging through the docker build IDs.

[2015-10-15 13:29] solo999 commented on #1109
It appears that  Adblock Plus 1.9.3 extension enabling made a trick.

[2015-10-15 13:29] #1109 closed

[2015-10-15 13:45] alexschomb commented on #270
I just asked myself the same question. I suspect you can't use BYOS with the AppStore version of Rocket.Chat, yet. Though, it might be possible to build your own iOS version from source with Xcode and upload it to your iDevice with iTunes. (not tested by me)

[2015-10-15 14:17] gmsecrieru commented on #1111
This should be possible with the efforts related to #961.

[2015-10-15 14:20] 42robots commented on #224
Is it possible to disable the "Register new Account" on the login page?

Otherwise, i agree that this must be possible, because right know everyone could enter the chat
if mail confirmation is disabled.

[2015-10-15 14:20] gmsecrieru commented on #1108
Are you running an up-to-date version? I could not reproduce this on our [Demo Server](https://demo.rocket.chat)

![screen shot 2015-10-15 at 11 19 23](https://cloud.githubusercontent.com/assets/190883/10516437/a3e0b6aa-732e-11e5-9c67-8ed00b1a2070.png)

[2015-10-15 14:30] pnewell opened #1112 "Threads"
Is there a thread package available that works like Flowdock has that allows people to reply to certain messages and group them?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27434771-threads?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bo

[2015-10-15 14:33] gmsecrieru commented on #1096
@geekgonecrazy For what it's worth, if you are referring to `raix:push` we are using an outdated RC version. Might be an opportunity to update.

[2015-10-15 14:38] gmsecrieru commented on #1094
@AntouanK Can you try building an running [this](https://gist.github.com/gmsecrieru/528e83e4ee4f35d7e902) instead of `danieldent/meteor`?

[2015-10-15 14:41] gmsecrieru opened #1113 "[rocketchat:markdown] Open links in new tab/window?"
I know there's a lot of UX debate related to opening links in new windows or not, but since we are displaying them inside a chat application I believe this should be an expected behavior.

[2015-10-15 14:41] solo999 opened #1114 "problem to build for architecture=os.linux.x86_64"
After one of the latest 756cacf73cbfc2896a928ffc93659f657a37c591 commit merge into my fork, I've got a problem to build for architecture=os.linux.x86_64:

    meteor build ../demo-chat_bld --server=https://demo.domain.chat --architecture=os.linux.x86_64

    rocketchat:file: updating npm dependencies -- mkdirp, gridfs-stream, gm...
    rocketchat:ldap: updating npm dependencies -- ldapjs...
    st

[2015-10-15 14:49] jonS90 opened #1115 "Notifications stopped working"
We've had a server running for 2 days. Notifications worked on day 1, but seem to have stopped on day 2 now.

It looks like every time I'm *supposed* to get a notification, I get this in the browser console:

![error](https://dl.dropboxusercontent.com/u/1780553/imgs/GitHub/rocket%20chat%20console%20error.png)

Nothing in the server logs looks very interesting.

[2015-10-15 14:54] gmsecrieru commented on #1070
@tfraley this might be a basic question that we might have forgot, but are you running an up-to-date version?

[2015-10-15 15:06] geekgonecrazy commented on #658
@engelgabriel when I think teams i'm thinking of an organizational unit.  A way to say this user is part of this team, this channel is part of this team.  A way of visually organizing and displaying things.

When I read through this thread, this looks like you guys are talking multi-organizational support?  Or partitioning of a single server to be able to take care of multiple organizations.  Comp

[2015-10-15 15:10] geekgonecrazy commented on #1115
Did you recently update to a newer version of code?  What changed?

[2015-10-15 15:13] geekgonecrazy commented on #1114
@RocketChat/owners anyone have any idea about 64bit and the ldap package?

@solo999 does it succeed with 32bit?  This maybe a limitation, and honestly i'm not sure you're going to see any benefits of using 64bit anyways.

[2015-10-15 15:18] jonS90 commented on #1115
I just now got them working by changing ROOT_URL to use the domain name instead of the actual IP. If I navigate my browser to the domain name, notifications work. If I navigate my browser to the IP, I get the console error above and no notifications.

FYI, I updated once yesterday. Our HEAD is at 7aa2b404de9bf6193b820f87faadd76e3f6b27fd.

This might be just be user error...

[2015-10-15 15:19] geekgonecrazy commented on #1115
@jonS90 yeah ROOT_URL will get you... We're trying to work on simplifying this so it can be set via UI and a little more user friendly.

It sounds like a cross domain issue.

[2015-10-15 15:22] geekgonecrazy commented on #1112
@pnewell currently there aren't threads.  By nature chat is going to be with out threads.  This could be tricky to implement.  And do we really want to convert real time chat into a forum style?

[2015-10-15 15:23] gmsecrieru commented on #1112
+1 for @geekgonecrazy

[2015-10-15 15:25] geekgonecrazy commented on #1111
@MuhClaren I think this is very much the plan.  We're working on our build flow.  It should be available very soon.

[2015-10-15 15:29] geekgonecrazy commented on #1108
Somethings for sure different.  The styling of the text from the bot is off.. This may be something from @leefaus or @sampaiodiego in relation to PR #1077 ?

https://github.com/RocketChat/Rocket.Chat/pull/1077#issuecomment-148109650

[2015-10-15 15:31] geekgonecrazy commented on #1096
@gmsecrieru good point!  Hopefully its more flexible.

[2015-10-15 15:34] gmsecrieru commented on #1058
- [ ] Create Admin setting to define allowed [media types](http://www.iana.org/assignments/media-types/media-types.xhtml)
- [ ] Change form validation to reflect newly-added setting
- [ ] Inspect/fix drag-and-drop upload

[2015-10-15 15:35] pnewell commented on #1112
If you make a demo at Flowdock, you can see how they implemented it. It is really smart. It doesn't make it a forum per say, it is just a way to group conversations within conversations.

For our case, we work in support, and there is a constant flow of questions coming in to confirm our products features among reps. So sometimes we have questions and answers coming in at the same time, and it bec

[2015-10-15 15:35] pnewell commented on #1112
Of course in this example, I am having a conversation with myself lol

[2015-10-15 15:38] geekgonecrazy commented on #1112
@pnewell Interesting.. So it doesn't actually group them inline.  Just indicates which post its in reply to?

[2015-10-15 15:40] 42robots commented on #195
Is it possible to disable the "Register new Account" on the login page?

Otherwise, i agree that this must be possible, because right know everyone could enter the chat
if mail confirmation is disabled.

[2015-10-15 15:42] #1115 closed

[2015-10-15 15:42] pnewell commented on #1112
So if you click on the little colored icon, it takes you to a page with just the messages in that thread:

![image](https://cloud.githubusercontent.com/assets/6485697/10519020/d782e2a0-7331-11e5-83a0-0eabeba0e213.png)

That part of it is not as important to us, but not bad to have either.

[2015-10-15 15:46] solo999 commented on #1114
It had succeed when I merged b179ad35efdc9fbe52bbc5f0b2b01d0fbcff0025 commit and before...
So the problem begins today after 756cacf73cbfc2896a928ffc93659f657a37c591 commit.

[2015-10-15 15:57] Sing-Li commented on #1111
100% accurate.

[2015-10-15 16:01] Sing-Li commented on #1114
This may be related to the elusive npmshrinkwrap problem we had for ages.

@solo999  - please check your npm version. And let us know.

[2015-10-15 16:06] solo999 commented on #1114
it's 2.10.1

[2015-10-15 16:29] graywolf336 commented on #332
I've made some good progress, but need opinions. Currently when you upload the exported file (zip) it returns back the users and channels you had in Slack. It contains the deleted users along with the archived channels. My test export has 22 users and 28 channels, a small amount compared to other organizations I've heard about. I want to present a list of users and a list of channels then allow th

[2015-10-15 16:57] geekgonecrazy commented on #332
@RocketChat/owners thoughts / feedback on this ? ^

[2015-10-15 16:57] sampaiodiego commented on #332
Oh well, it really could be a pain when you have so much things to import.
my suggestion is to create a button "import all", that does what it says =P

did you have import data to a temp collection after uploading the zip file? if so, it could be simple to create a page showing fewer results per page and setting a flag on that row on db..

[2015-10-15 17:02] sampaiodiego commented on #1108
so, the default behavior is to always show embed preview.
@CrystalMethod what are the settings on your instance on API page?

![image](https://cloud.githubusercontent.com/assets/8591547/10521275/4e218430-7345-11e5-94a5-c4c144f2296a.png)

[2015-10-15 17:29] royalaid commented on #978
I had to change the path that RocketChat uses, current I am mounting $PWD/avatarstore:/avatarstore and using /avatarstore inside rocketchat for the avatar storage path.

[2015-10-15 17:58] Sing-Li opened #1117 "Build version should show versions of Meteor packages installed"
Right now there is a bug that shows just a list of packages installed, not their versions.

[2015-10-15 18:00] maxlinux2000 opened #1118 "Integrate third party webrtc scalable broadcaster or server"
Imagine being a teacher who wants to teach his students through this chat.
Ideally, the teacher can make a broadcast transmission WebRTC with audio, video, screen, files, and that students can record the video on their mobiles / computer.

The scenarios can be manifold : telepresence conferences , live events ...

here some examples:
https://www.webrtc-experiment.com/

<bountysource-plugin>
---
Wa

[2015-10-15 18:41] CrystalMethod commented on #1108
My test setup:

* repo cloned
* Rocket.Chat started via cmd line ``meteor``
* Rocket.Chat adapter started via Docker

My screen looks a little bit different but option *embed* is ``true``.

![bildschirmfoto 2015-10-15 um 20 35 28](https://cloud.githubusercontent.com/assets/372398/10523792/803473f6-737c-11e5-886d-182d67f8d6fe.png)

[2015-10-15 19:11] graywolf336 commented on #332
A nice big button at the top that says "Just Import it All!" :stuck_out_tongue_closed_eyes:

No they're not in a temporary collection or anything, just in memory but could easily be converted over or could be paged with how they're stored for now (nothing is final, just the beginnings).

[2015-10-15 19:17] IQ2022 commented on #1058
Go for it, we have an issue with anyone dropping a file into chat, it hang chat and you might actually lose connection to room.

[2015-10-15 19:45] maxlinux2000 opened #1120 "Image auto resize client side"
We need to automatically resize images of any size to eg 800*600px from the client side.

In phpbb3 if a user uploads a picture of 5MB, this is reduced to 2-300kB, and it is made from the client side (javascript).

This allows to users's mobiles  with cameras HD (13Mpx) to uploading photos without overwhelming the HD of server .

<del>
Another issue related :
If I have 1000 users that every day th

[2015-10-15 19:55] gmsecrieru commented on #1120
I understand these might be somewhat related but client-side autoresizing and pruning server files look like different issues to me. Could you please separate accordingly?

[2015-10-15 22:20] rabbihossain commented on #838
@marceloschmidt , I have sent a PR. Please have a look on it.

[2015-10-15 22:24] engelgabriel commented on #1073
@NoorQureshi did you try using the `meteor build` command or only running just `meteor` directly?

[2015-10-15 22:24] MuhClaren commented on #978
I saw a commit related to avatars yesterday (or was it two days ago), and launched a new instance of the docker image, which seems to have fixed the issue for me.

Avatars are sticking now, and surviving reboots, logouts, etc.

[2015-10-15 22:27] NoorQureshi commented on #1073
Getting this: Error: spawn ENOMEM
when doing : meteor

[2015-10-15 22:46] engelgabriel commented on #1073
how much memory do you have on that machine? Maybe if you download the "compiled" tar file.. and just run using node directly, you won't need the extra memory to compile it before running.

[2015-10-15 23:19] MuhClaren commented on #1111
A build number would be just as good; if it can be derived from the result of #961, that'd be excellent. Thanks for all your time and effort on this project. Cheers.

[2015-10-16 00:12] steedos commented on #1118
+1

[2015-10-16 00:46] jots commented on #1112
I like this idea.  what is the UI for choosing if you are starting a new thread or replying to an existing?  hopefully there is a way to do it via keyboard, i.e. hit ctrl-R before entering text and it pops up a list of recent threads to choose from, otherwise it is a new thread?

[2015-10-16 02:31] Sing-Li opened #1123 "Create new release for update of our Official Docker Image"
Bumping minor version up to v0.7

[2015-10-16 02:41] #1123 closed

[2015-10-16 02:57] MRYingLEE opened #1125 "An improvement suggestion: Click to Chat in an assigned Channel, or Direct Message or Private Group"
At present, for example, before I login, if I click  https://demo.rocket.chat/direct/may.xu, then login dialog appears, but after I login, the general startup page instead of direct message page appears.

But after I login-ed, if I click https://demo.rocket.chat/direct/may.xu, then assigned direct message page appears.

Please make two situations in a consistent way. In other words, click to chat

[2015-10-16 03:35] graywolf336 commented on #1125
So, remember where the user came in at and after they login take them to where they wanted to go. :+1: for the suggestion.

[2015-10-16 06:16] Dbzman commented on #978
That didn't fix it for me. Now when I upload an avatar the App crashes with this.
[code]

[2015-10-16 06:56] pschonder commented on #1106
@rodrigogs: I can confirm, that the theme is loading now, but there are still some small issues. The icons like the "hash-icon" is not loaded in the app and some textboxes do not adapt the primary background color.
![screen shot 2015-10-16 at 08 54 00](https://cloud.githubusercontent.com/assets/66947/10535489/9356c08a-73e3-11e5-93b7-56326fe94534.png)
![screen shot 2015-10-16 at 08 54 16](https://c

[2015-10-16 10:48] Sing-Li commented on #961
Core features of the CI/CD pipeline is now in place and working.

Will be creating new tickets for all remaining add-on features independently for help from extended team and community.  And this case will be closed in a few days.

[2015-10-16 10:56] Sing-Li commented on #1111
@MuhClaren   thanks.

Every new build now includes a  version +  build number.

For now, it can be accessed directly via :   `http://<your server name>/buildinfo/buildinfo.txt`

Other tickets will be created to 'read and display' this version information in  more UI/UX friendly way across clients and servers - including mobile, Electron, web, and so on.

There is a minor bug  #1117  which should b

[2015-10-16 10:57] #1111 closed

[2015-10-16 11:04] steedos commented on #1125
+1

发自我的 iPhone

[2015-10-16 11:13] Sing-Li commented on #542
Implemented on #989.  Closing this ticket.

[2015-10-16 11:19] Sing-Li commented on #1118
The `webrtc-experiment` styled multi-users video chat service (or broadcast) is *already* in the current version of Rocket.Chat, and should be working.   This style of `mesh network` conferencing is *absolutely not* scalable.

Scalable broadcast will require infra-structure support (someone has to pay for the bandwidth and computing resources)  and integration of third-party server/gateway/cloud s

[2015-10-16 11:44] Sing-Li commented on #1114
@solo999  What sort of machine, OS, and VM / VPS are you building on?

[2015-10-16 11:48] Sing-Li commented on #418
Implemented in #989.   Closing this issue.

[2015-10-16 12:07] solo999 commented on #1114
Mac OS 10.9.5
I had to delete ldap package to fix the problem and to be able to merge with the latest master branch from Rocket.Chat

[2015-10-16 12:19] maxlinux2000 commented on #1118
mmm.... and connect rocket.chat to http://www.kurento.org/ as third-party server?
It's opensource and seem good.

[2015-10-16 12:51] #418 closed

[2015-10-16 12:51] #542 closed

[2015-10-16 12:57] Sing-Li commented on #1118
There are many that 'seems good' for sure.

The key question is, @maxlinux2000 - would you be willing to set up a server and offer the hosting and bandwidth for us to test during the development phase.

Even if you are willing, how many other users are willing and  want to **specifically** run and manage a **kurento** server, pay for its resources and bandwidth,  in order to use the features you d

[2015-10-16 13:19] maxlinux2000 commented on #1118
mmm... ok, I can setup a VPS in digitalocean with kurento and pass to you developper the access.
The have only 20GB of space, but for testing is enought.

Obviously the server is only for testing porpouse, but I will write a simple script for auto setup, so everyone can have a private kurento  media server for 5$ monthly in digitalocean or other similar company.

Please, still some days in order t

[2015-10-16 13:20] oinirio opened #1126 "Enable user to receive sound notification for every message"
Would be possible to let the user change a setting to enable or disable sound on all messages?

In big rooms this can will be an issue but the idea is that you can change that per channel basis.

EDIT: define use case

[2015-10-16 13:36] Sing-Li commented on #1118
Awesome!  Please keep us updated.

[2015-10-16 13:43] Sing-Li commented on #1117
Hints for Digital Ocean Hacktoberfest bounty hunters ....

https://github.com/RocketChat/Rocket.Chat/wiki/Release-and-version-information
https://github.com/RocketChat/Rocket.Chat/blob/master/.meteor/versions
https://github.com/RocketChat/Rocket.Chat/blob/master/.meteor/packages
https://github.com/RocketChat/Rocket.Chat/blob/master/.travis/setbuildinfo.js

[2015-10-16 13:50] Sing-Li opened #1127 "Ctrl-P ... our homage-to-sublime-text 'secret special hot key' search is broken"
The search-results list is now often all blanks.  Seems that the field used has been changed recently but not updated in the code.

![screen shot 2015-10-16 at 9 46 22 am](https://cloud.githubusercontent.com/assets/122633/10543199/071c990c-73eb-11e5-9944-1dc598a9d308.png)

[2015-10-16 13:52] gmsecrieru commented on #1127
Duplicate of #938

[2015-10-16 13:52] #1127 closed

[2015-10-16 13:57] pschonder commented on #1106
@engelgabriel @rodrigok: could you please re-open this issue? there are some more issues as i described above.

[2015-10-16 13:58] giray opened #1128 "Buddy List"
Would be nice to have a buddy list (with favorites / groups).

Currently a regular user cannot lookup another user, add them to a buddy list.

[2015-10-16 14:04] Sing-Li commented on #1114
Cool.  So here is the story.  Your system will build with --architecture=os.osx.x86_64 with no problem.

Your system does not have the cross compiler support for 'os.linux.x86_64' (but might for os.linux.x86_32).

Our commits may or may not contain hard binary requirement for (os.osx.x86_64, os.linux.x86_64, os.linux.x86_32) depending on who last commits [and what system they're on].   Because we

[2015-10-16 14:07] engelgabriel commented on #1106
My mistake :)

[2015-10-16 14:08] engelgabriel commented on #1114
Should we git ignore npmshrinkwrap ?

[2015-10-16 14:12] Sing-Li commented on #1114
The npmshrinkwrap docs says 'no'  wrt floating the shrink-wrapped dependencies.    Perhaps the ldap stack has not been tested with all variants?   idk why it has to have a binary dependency ... maybe low level bit packing or encryption related.  :disappointed:

[2015-10-16 14:56] graywolf336 commented on #1126
I would suggest you add items to #1068.

[2015-10-16 14:59] mhkeller opened #1129 "Missing database after upgrading?"
I ran `docker-compose pull rocketchat/rocket.chat` and `docker-compose restart`.

The `docker-compose.yaml` now points to a different mongo location and after upgrading, my old database seems to not be accessible. I changed my configuration to port `8818` per the docker-compose settings as well.

[2015-10-16 15:18] pnewell commented on #1112
You can sign up for a free account here:
https://www.flowdock.com/

No credit card needed and you can play around with it. To answer your question, every message has an icon that appears when you mouse over next to it that you can click to directly reply to it.

![image](https://cloud.githubusercontent.com/assets/6485697/10545631/a840b956-73f7-11e5-8771-de4dbd571ddc.png)

If you don't click this w

[2015-10-16 15:56] maxlinux2000 opened #1132 "where is the theme/skin?"
Hi,

today 16/oct/2015 at 17:30 circa I have do:

$ export ROOT_URL=http://chat.mrobot.eu:3000
$ cd Rocket.Chat/
$ git reset --hard
$ git pull
$ meteor update
$ meteor

but now my copy of rocket.chat appear as below:

![xrocket01](https://cloud.githubusercontent.com/assets/5683921/10546555/e4350ed0-742e-11e5-9eaa-a5f3cbc0f145.png)

please fix the theme path or the css link
tnx

[2015-10-16 15:59] maxlinux2000 commented on #1132
in the console i can read:

rocketchat_chatops.js:68 startup hooked
Uncaught TypeError: Cannot read property 'initialize' of undefined

[2015-10-16 16:03] maxlinux2000 opened #1133 "Ability to Prune old files"
If I have 1000 users that every day they upload 2 photos of 3MB , after a year of activity, we have 1TB of photos on the server.

Please add the auto prune of the files uploaded, every X time configurable from the administration control panel .
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27466330-automatic-prune-of-old-files?utm_c

[2015-10-16 16:04] maxlinux2000 commented on #1120
done #1133

[2015-10-16 16:20] paulproteus commented on #961
Cool! I know @jacksingleton was also interested in SPK creation via CI;
further discussion here:
https://groups.google.com/forum/#!topic/sandstorm-dev/dE42AeWcsLs

[2015-10-16 17:13] mhkeller commented on #1129
Going to do a fresh install and db restore.

[2015-10-16 17:13] #1129 closed

[2015-10-16 17:39] engelgabriel commented on #1106
Another issue about the same problem https://github.com/RocketChat/Rocket.Chat/issues/1132

[2015-10-16 17:39] engelgabriel commented on #1132
We are working on this https://github.com/RocketChat/Rocket.Chat/issues/1106

[2015-10-16 17:40] engelgabriel commented on #1128
You can, click on the + on the right of the Direct Messages

![image](https://cloud.githubusercontent.com/assets/1000217/10548846/e0e93442-7413-11e5-8ac2-217a41f72620.png)

[2015-10-16 17:40] #1128 closed

[2015-10-16 17:52] engelgabriel commented on #1132
Fix by https://github.com/RocketChat/Rocket.Chat/commit/e0519995993d1d1a3d7299ed86a5672a1cd01853

[2015-10-16 17:52] #1132 closed

[2015-10-16 17:53] engelgabriel commented on #1106
Is this now fixed by https://github.com/RocketChat/Rocket.Chat/commit/e0519995993d1d1a3d7299ed86a5672a1cd01853

[2015-10-16 19:13] gmsecrieru commented on #1058
It turns out the drag-and-drop validation is related to an existing bug on `jalik:ufs`. I have created a PR to fix that (jalik/jalik-ufs#19), hopefully it gets accepted soon and we can leverage this fix.

I will put this on hold while we wait for a reply from the package maintainer. Otherwise we can add my forked version to our `packages`.

[2015-10-16 19:45] #1125 closed

[2015-10-16 20:32] solo999 commented on #1114
I can confirm that the problem has disappeared after merging 7f4397eee1d5ce416f1731d1769f2b81f5c5c026 commit.
Although I got another error about building Cordova app for platform Android (probably it should be moved to another thread):

    => Errors executing Cordova commands:

    While building Cordova app for platform Android:
    Error: /Users/vb/Sites/RocketChat/.meteor/local/cordova-build/p

[2015-10-16 20:49] Tharnas commented on #1096
@maxlinux2000 I also have problems configuring GCM push notifications. I found a way to check if the phone receives the notification on [stackoverlow](http://stackoverflow.com/questions/22168819/android-test-push-notification-online-google-cloud-messaging) (provide there the API key and the device ID (you can find this id in the logs of the server when you login the first time on a new phone))

I

[2015-10-16 21:56] engelgabriel opened #1137 "On typeahead use *key DOWN* instead of *key UP*"
in your typeahead (when you press @), in order to go to the next one, you need to *key UP* but the convention on is to do it on *key DOWN*. This way if you keep pressing down for a second, it starts repeating and going down

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27475062-on-typeahead-use-key-down-instead-of-key-up?utm_campai

[2015-10-16 22:16] vjeux opened #1138 "Image embeds have the wrong hit target"
You can click on the blank area at the right of the image and it still opens the image :(

<img width="850" alt="screen shot 2015-10-16 at 3 10 16 pm" src="https://cloud.githubusercontent.com/assets/197597/10554485/b9638530-7418-11e5-806e-8eb9b5447768.png">

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27475406-image-embeds-have-th

[2015-10-16 22:18] vjeux opened #1139 "Suggestion: adding a 1px semi transparent border on image attachments"
If you attach an image with a white background, it's not very clear where it starts and ends. A trick we use at Facebook is to put a 1px semi transparent border in order to give it visual boundaries without altering the image too much. See a blog post I wrote on the technique: http://blog.vjeux.com/2012/image/css-semi-transparent-border-on-images.html

<img width="860" alt="screen shot 2015-10-16

[2015-10-16 22:20] vjeux opened #1140 ":p<enter> is inserting :copyright: instead of sending the message with the :p emoticon"
This is very frustrating :(

[2015-10-16 22:21] engelgabriel commented on #1140
:+1:

[2015-10-16 22:21] vjeux opened #1141 ":+1: doesn't show up in the typeahead but works."
If you write :+, the typeahead doesn't even open up. Probably an issue where it only recognizes a-z characters

[2015-10-16 22:23] vjeux opened #1142 "Opening the right sidebar makes the content flash"
If you open the sidebar on any chat with more than one page, you can see the content flash. I recorded a video to see it frame by frame and what happens:

1) the content is resized
2) the content is scrolled all the way down

Unfortunately, because those two actions are not done in the same frame, it flashes. Would be nice to sync the scroll with the opening of the sidebar.

<img width="1042" alt=

[2015-10-16 22:26] engelgabriel commented on #1142
The scroll to bottom is not synchronous so it jumped. We need to update the scroll position when the content was changed... when anything can happen that changes the content of the scroll or the size of the scroll area and not during a setTimer.

It would be actually surprisingly easy with React

http://blog.vjeux.com/2013/javascript/scroll-position-with-react.html

[2015-10-16 22:28] vjeux opened #1143 "The new message bar doesn't disappear after you've seen the messages"
The new message bar is a really cool feature. Unfortunately, it does not behave as I expect it to be. Once I scroll all the way top to read the unread messages, it disappears as the count goes to 0. But when I scroll back down it reappears!?

Once you reach the top of the unread messages, it should not reappear.

<img width="888" alt="screen shot 2015-10-16 at 3 26 46 pm" src="https://cloud.github

[2015-10-16 22:31] maxlinux2000 commented on #1096
... the ID of my phone?  sorry but I don't understand.
witch server and witch log in order to get this ID?

Another problem, the interface of the google console has changed a lot. Do you know
any recent tutorial how to configure the push notification? I want to check if something is wrong in my configuration.

MaX

[2015-10-16 22:35] graywolf336 commented on #1139
:+1: good suggestion, I like it.

[2015-10-16 22:36] geekgonecrazy commented on #1139
I agree.  That would help a lot.

[2015-10-16 22:38] graywolf336 commented on #1143
I do believe this is related to #885

[2015-10-16 22:48] pschonder commented on #1106
@engelgabriel: i cannot confirm the bug is fixed. i don't want to get on your nerves, maybe my setup is wrong. the app looks now like the screenshot in the beginning of this issue. can i help with some information, to help you solve the problem?

[2015-10-16 22:54] jalik commented on #1058
@gmsecrieru, thanks for the PR, I've accepted it and published new version of UFS packages (now also include the MIT LICENSE I forgot to add). I'm glad to see my work used and fixed by others ;-)

[2015-10-17 00:18] MuhClaren commented on #1111
Great work! Thanks!

[2015-10-17 03:14] MuhClaren opened #1146 "Browser Console Errors Regarding Websocket"
Happening on 99% of the RocketChat pages, in both Firefox and Opera (linux).

My test results for websocket support: http://websocketstest.com/result/622384

Console output:
[code]
My Nginx setup:
[code]

Server side firewall:
[code]

[2015-10-17 03:22] MuhClaren commented on #1146
Looking at my nginx logs, it appears that this is due to having cloudflare in the middle. While cloudflare supports websockets, they require the user to have a $$$ paid account.  Cite: https://blog.cloudflare.com/cloudflare-now-supports-websockets/

Closing for now.

[2015-10-17 03:22] #1146 closed

[2015-10-17 03:30] geekgonecrazy opened #1147 "Rename History"
I'm thinking we may need to rename this to match its functionality.

![image](https://cloud.githubusercontent.com/assets/51996/10556799/68c171cc-7455-11e5-875e-c4219a2622cc.png)

Right now it makes it seem like this is where you would go to search through message history.  When right now all it does is show you archived channels.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2015-10-17 03:32] beernutz commented on #1147
Agreed.  Thank you for opening this issue.

[2015-10-17 04:19] gmsecrieru commented on #1058
@jalik :+1: thanks for accepting it and thank you as well for your work!

[2015-10-17 04:43] rwakida commented on #1147
:+1:

[2015-10-17 04:44] graywolf336 commented on #1147
It also shows you the current channels, pretty much shows you everything and not just archived channels. History is pretty relevant to what it actually does. The search though on that page is a little confusing.

[2015-10-17 04:49] geekgonecrazy commented on #1147
Right all channels you are or ever have been apart of.  Which is a history.  But its kind of confusing..

If it said "All Channels"

Then inside of it properly organized your archived / hidden / and then other channels.  It would be super useful.

[2015-10-17 06:38] schepely opened #1148 "Multi server capability for mobile apps"
Currently I cannot select a server when running a mobile app. (Android in my case).
This is the main issue that is holding me back of using Rocket and replacing Slack everywhere.

[2015-10-17 06:40] geekgonecrazy commented on #1148
This is a good issue to have open.  A lot of people want this.  So good idea to have a ticket to track the development

[2015-10-17 07:51] Tharnas commented on #1096
Sorry I didn't explained myself well.

I expect you have your Rocket.Chat running on your own server (e.g. on docker like for me) and you build your android application like explained [in this article](https://github.com/RocketChat/Rocket.Chat/wiki/How-to-Build-Rocket.Chat-for-Android).

After you built the application you install it on your phone and log in to your server. During the login you ch

[2015-10-17 09:35] solo999 opened #1149 "Deleting a user doesn't delete it's records from a rocketchat_subscription collection and potentially can cause MongoError: E11000 duplicate key error index"
rocketchat_subscription collection keeps a user records when the user is deleted.
If deleted user is registered again with the same user name, then any attempt to make rocketchat_subscription record (add him to private messages) causes an error:

    MongoError: E11000 duplicate key error index: chat.rocketchat_subscription.$u._id_1_name_1_t_1 dup key

<bountysource-plugin>
---
Want to back this i

[2015-10-17 10:38] Dbzman opened #1150 "Cannot overwrite avatar"
This is something I experienced with the latest dev version (I have RocketChat opened in a browser as well as the App at the same time and use GridFS for storage):
* upload your avatar for the first time
* -> avatar gets synced to browser and app
* reload browser and app
* -> avatar stays (**OK**)
* upload a different avatar
* -> avatar gets synced to browser and app
* reload browser and app
* ->

[2015-10-17 12:16] MuhClaren commented on #978
**UPDATE / WORK-AROUND:**

I have found a way to get avatars working consistently using docker-compose, nginx SSL reverse proxy, Ubuntu 14.04 (64 bit).

1. First, and foremost: TURN OFF CLOUDFLARE! If you have cloudflare in the middle, go into your DNS settings and click the orange cloud to bypass your chat traffic around cloudflare. As long as I failed to do this, the avatar upload behaviors are

[2015-10-17 13:26] liamdawson commented on #1113
I was looking to pick this up, but it looks like it's already been done?

![image](https://cloud.githubusercontent.com/assets/760143/10558932/68f33c58-7526-11e5-8359-27aef90ba3e5.png)

[2015-10-17 13:27] gmsecrieru commented on #1113
@liamdawson I don't think so! Look like you are running a very outdated source code :) Pull a fresh copy and ping me if you need assistance.

[2015-10-17 13:30] liamdawson commented on #1113
@gmsecrieru — I'm running commit 2a9c00b07bf16c2118302fda272de059b9d62e5c committed 16 hours ago... should I be on a different branch?

[2015-10-17 13:35] gmsecrieru commented on #1113
From the screen shot you sent looks there are some differences, e.g:

- Markdown is not really enabled on your end, otherwise you should see something like this:
![screen shot 2015-10-17 at 10 32 55](https://cloud.githubusercontent.com/assets/190883/10558955/921e6718-74ba-11e5-800e-c2a67a75da88.png)

- RocketChat`s logo on the right sideNav looks differente from what we have on `master`:
![screen

[2015-10-17 13:43] liamdawson commented on #1113
@gmsecrieru Okay, I forked this repo to https://github.com/liamdawson/Rocket.Chat and then followed the dev instructions against that (clone, `meteor`), and that's what I end up with. Am I missing something? Master branch, just pulled the latest commit, still no markdown, still the same logo.

[2015-10-17 13:47] gmsecrieru commented on #1113
@liamdawson Please reach me on our [Demo Server](https://demo.rocket.chat) and I will be glad to walk you through this! :)

[2015-10-17 14:36] #1113 closed

[2015-10-17 14:41] liamdawson commented on #1093
I'd have a few questions about how this could be implemented:

1. Where in the UI does this fit? Or should it just be a slash command?
2. Should this be available in public channels too? How do the permissions work? I don't think we have a concept of privileged users in channels of any kind, so even if it's just private groups, anyone can kick anyone. Limiting it to just admin users might not be s

[2015-10-17 14:58] liamdawson commented on #533
Any updates?

[2015-10-17 15:10] gmsecrieru commented on #1149
Could not reproduce. Steps:

1. Created account `newuserregistered`
2. Created DM with another user
3. Admin users deletes `newuserregistered`
4. Created account `newusersregistered`

[2015-10-17 15:33] gmsecrieru commented on #1138
I think that's mostly because we display the image as the background-image of an empty `div` within an `a` tag, which takes up all the available width. I think we would need to define the maximum width of the image container or take another approach.

[2015-10-17 15:33] gmsecrieru commented on #1139
:+1:

[2015-10-17 15:52] liamdawson commented on #1138
@gmsecrieru — The approach you've mentioned (background image on a full-width div) also prevents #1139 from happening, at least from my brief testing. Is there a reason the img tag isn't used as-is?

[2015-10-17 16:15] kernicPanel commented on #1086
Thank you @geekgonecrazy I see how it works now.

[2015-10-17 17:02] solo999 commented on #1114
Update: the commit that causes above Android build problem is e83ee600e0c51faf6b3761a5f8f36d7f28f5a35a

[2015-10-17 17:56] solo999 opened #1156 "building Cordova app for Android error after updating raix:push to the latest"
After merging e83ee600e0c51faf6b3761a5f8f36d7f28f5a35a commit, I've got an error about building Cordova app for platform Android:

    => Errors executing Cordova commands:

    While building Cordova app for platform Android:
    Error: /Users/vb/Sites/RocketChat/.meteor/local/cordova-build/platforms/android/cordova/build: Command failed with exit
    code 8 Error output:

    /Users/vb/Sites/Roc

[2015-10-17 18:19] Tharnas commented on #1096
Meanwhile I managed to make the push notifications work.
For me it didn't work in the beginning because I didn't restart the server after I configured push notifications. (Could be nice to have a hint that a restart is required)

[2015-10-17 18:51] Dbzman commented on #978
@MuhClaren
Thanks for investigating! :)
I played around with that a bit (dev version, no docker) and see similar issues.
* AvatarResize causes the server to crash with boths store types
* with GridFS the avatars are at least persisted but not overwritable (see #1150)
* with FileSystem and a folder with correct permissions I can see the files are placed there but after a site refresh the avatar is

[2015-10-17 19:07] maxlinux2000 commented on #1096
Many many tnx for your help.

Please post here some screenshot of your google console configuration,
about the GCM.(obviously deleting private data)

Another question about these mysterious (for me) GCM in rocket.chat:
If you send a private message to a user that is not connected, this
user will be receive immediately a push message on his phone like
whatsapp?

On 10/17/15, Tharnas <notifications@

[2015-10-17 19:35] Tharnas commented on #1096
Your welcome :-)

I went to [here](https://developers.google.com/mobile/add?platform=android&cntapi=gcm&cnturl=https:%2F%2Fdevelopers.google.com%2Fcloud-messaging%2Fandroid%2Fclient&cntlbl=Continue%20Adding%20GCM%20Support&%3Fconfigured%3Dtrue) to get my API Key and Sender ID:
![google developers](https://cloud.githubusercontent.com/assets/8459274/10560770/52adc0f0-7515-11e5-96b3-5bf293cb0638.PNG)

[2015-10-17 20:44] geekgonecrazy commented on #1086
@kernicPanel Feel free to contribute.  :)  let me know if you start working on it.  I'll probably be working on it tomorrow again :)

[2015-10-17 21:19] MuhClaren commented on #978
@Dbzman

I too had every single one of those problems, using the docker automated build image, which is basically bleeding edge code that is built into a docker image every time a repository commit is made.

After performing the steps I've illustrated above, every one of those problems is gone, including the crashing when avatar resize is on. The images display as they should now, and persist when

[2015-10-17 21:40] Dbzman commented on #978
@MuhClaren

That's interesting. I even tried to empty the "Accounts_AvatarStorePath" you mentioned and had the 3 issues I described in the post above.

Some minutes ago I just tried it again with this configuration:
[code]
And now it seems to work correctly, so I can
* upload avatars without crashing the server
* see the current avatar on the filesystem
* see the current avatar even after a page r

[2015-10-17 21:42] kernicPanel commented on #1086
Yes, I started, but I'having trouble with basic things I guess.
But I'll continue to work on it, and learn from my mistakes.
I'm mot sure I'll be able to PR something for now.
Can I direct message you on demo.rocket.chat if I have precise questions ?

[2015-10-17 21:46] Dbzman commented on #1068
For my team the current notification behaviour is a blocker preventing us from switching to RocketChat.
The most important thing is that we need to get desktop notifications for a specific channel even if it is selected but in the background. No criticism here, just a side note. :)

We're really looking forward to a more consistent notification behaviour.

[2015-10-17 21:49] mhkeller commented on #1068
That behavior is highly requested for my team as well.

[2015-10-18 02:34] liamdawson commented on #953
I'm willing to give this a go.

[2015-10-18 05:32] S4KH commented on #1090
I can't find the spotify's server code. In which file it sends request to the server to get the track URL?

[2015-10-18 05:43] MuhClaren commented on #978
@Dbzman Glad it's working for you!

Guide: https://github.com/RocketChat/Rocket.Chat/wiki/Docker-Ubuntu-14.04-%2864-bit%29-VPS-with-Nginx-SSL-and-Hubot

[2015-10-18 06:10] taoeffect commented on #36
Problem with OTR is that it only works while both users are online.

I recommend using Axolotl instead, developed by Open WhisperSystems of TextSecure/Signal fame. It's like OTR but it supports secure asynchronous messaging, which is important because it's rare that everyone is online all the time. :)

There are lots of Axolotl libraries out there, available for both iOS, Android, and Web.

- http

[2015-10-18 08:45] maxlinux2000 commented on #1096
Ok, I can confirm that the json file is not necessary because the chat
wont run due the error that he can not load the push configutarion 2
times.

Now my problem :)

Push: Send message "@maxlinux2000" via query { userId: 'QPE3RsvcJ6bsaakQP' }
I20151018-04:36:16.618(-4)? Push: Sent message "@maxlinux2000" to 0
ios apps 0 android apps
I20151018-04:36:16.623(-4)? Push, GUIDE: The "Push.appCollection

[2015-10-18 09:04] Tharnas commented on #1096
When I send a message it looks like this:
[code]
Your result looks like that the app does not register at the server.

As I have a docker environment so I use this way to build it: https://github.com/RocketChat/Rocket.Chat/wiki/How-to-Build-Rocket.Chat-for-Android

Is it possible for you to chat between webpage and app?
When you send the message from the webpage to the phone do you have the app op

[2015-10-18 12:08] #1117 closed

[2015-10-18 12:13] kakawait commented on #1090
@S4KH Spotify integration is working with `RocketChat:Oembed` package that in charge to *sends request to server to get the track URL*. Thus on https://github.com/RocketChat/Rocket.Chat/blob/7cb836f33b79fddd787f621cb2a07e2f139abf3f/packages/rocketchat-spotify/client/oembedSpotifyWidget.html we are just using `meta` information from `Oembed` package