[2019-10-10 21:00] nstseek commented on #15354
That's strange, I went to https://open.rocket.chat/ and the "Directory" view seems normal in my browser, look

![Screenshot from 2019-10-10 17-57-04](https://user-images.githubusercontent.com/41304108/66606031-9b4ae580-eb87-11e9-9637-4ea30d771d66.png)

I'm using Firefox Quantum 69.0.1 (64-bit), which browser are you using?

[2019-10-10 22:30] reetp commented on #13063
@rocket-cat close

One of several similar requests that can go under NFR

https://github.com/RocketChat/feature-requests/issues/25

Please follow up there.

[2019-10-10 22:30] #13063 closed

[2019-10-10 22:33] reetp commented on #10963
@marceloschmidt

There are several similar ban Issues. I was going to close this in favour of feature request.
Is this going to happen? If not would it be better to close them all and leave the NFR?

https://github.com/RocketChat/feature-requests/issues/25

[2019-10-10 22:34] reetp commented on #10932
@rocket-cat close

One of several similar requests that can go under NFR

https://github.com/RocketChat/feature-requests/issues/25

Please follow up there.

A possibility of some work maybe on a ToDo here:
https://github.com/RocketChat/Rocket.Chat/issues/10963

[2019-10-10 22:34] #10932 closed

[2019-10-10 22:42] dholbert commented on #15354
It's broken for me, using Firefox 69.0.2 (64-bit) as well as in Firefox Nightly (71.0a1).  Perhaps we have subtly different versions of the Ubuntu font, or some other subtly different OS setting that's contributing to the behavior difference?

One thing that might help, that I noticed when testing on another machine -- if I download and install the "Segoe UI" Microsoft font from https://docs.micro

[2019-10-10 22:53] r-souza commented on #14523
I would really like this functionality too! I am developing a script and I stopped at this point, I did not find a way to set the user status through the REST API.

Thank you for your attention.

[2019-10-10 23:33] dholbert commented on #15354
If you end up testing with Segoe UI font (which makes the issue more severe & perhaps more reproducible I'm hoping), you would want to:
 (1) visit https://docs.microsoft.com/en-us/windows/uwp/design/downloads/#fonts
 (2) Click the link for the "Segoe UI" font zip file there
 (3) open the downloaded zip and double-click `segoeui.ttf` and choose "install" in the Ubuntu font-viewer program
 (4) resta

[2019-10-11 06:39] Ablesius commented on #14401
no updates so far. Anything I can do to help myself?

[2019-10-11 08:06] reetp commented on #14401
https://rocket.chat/docs/contributing/reporting-issues

Have you tried it on latest 2.1.x or the development version on open.rocket.chat ?

There have been a lot of changes since 1.0.2

[2019-10-11 09:04] marxst commented on #3551
Summary for Pasting from Office as plain Text on a Mac:

Native Client: no way, always as picture 😞
Firefox: *CMD+V* results in plaintext
Chrome: *CMD+V* results in picture, *CMD+Shift+V* results in plaintext
Safari: *CMD+V* results in plaintext

[2019-10-11 09:06] dusatvoj commented on #15528
Any updates about this?

[2019-10-11 09:18] Broutard commented on #7391
Same issue with /invite-all-from /invite-all-to

[2019-10-11 10:04] PFight opened #15560 "Feature request: area with recent chats"
I have decades of contacts and chats. Someone have written me a message, I have read it, and toggled to another chat, to read another new messages. Then I suppose to answer to first contact, but I have forgotten - who was writting me just few seconds ago.

Suggestion: add area, similar to "Favorites", where last n chats would be shown.

![image](https://user-images.githubusercontent.com/198847/666

[2019-10-11 11:28] reetp commented on #15560
@rocket-cat close

Feature requests go here:
https://github.com/RocketChat/feature-requests/issues

No idea what Rocket version you are on but....

Set the Channel as a favourite:

![Screenshot_2019-10-11_13-19-39](https://user-images.githubusercontent.com/3800384/66647712-ee757480-ec29-11e9-932b-8d7bd3e10c1c.png)

Group your Favourites:

![Screenshot_2019-10-11_13-18-24](https://user-images.githu

[2019-10-11 11:28] #15560 closed

[2019-10-11 12:20] reetp commented on #15528
Think it has been fixed,

Please test on open.rocket.chat with the latest beta 1.20.1.12048

You may well need to upgrade your own installatioin to 2.1.x but check with the newer app first.

[2019-10-11 12:33] #15422 closed

[2019-10-11 12:38] dusatvoj commented on #15528
I've upgraded servers to `v2.1.0` 2 days ago _(but it has another issues like broken read receipts and so on)_ and with `v1.20.0.11895` it's the same ... I will try beta build if it's fixed.
Thank you @reetp for reply.

[2019-10-11 12:44] reetp commented on #15558
@rocket-cat close

This may be a good idea but it is a feature request and should be opened here please:
https://github.com/RocketChat/feature-requests

[2019-10-11 12:44] #15558 closed

[2019-10-11 12:49] reetp commented on #15521
@rocket-cat close

Please search issue before creating a new one eg
https://github.com/RocketChat/Rocket.Chat/issues?page=2&q=is%3Aissue+join+notification&utf8=%E2%9C%93

In this instance it is a feature request and should have been opened here
https://github.com/RocketChat/feature-requests

Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/7900

May be others too.

[2019-10-11 12:49] #15521 closed

[2019-10-11 13:13] babrums commented on #15296
Same issue here, but with code  401

[code]

[2019-10-11 13:36] bkraul commented on #15484
In my case, this problem only happens in *one* DM channel. All the other channels appear to show the read receipts. Any idea how to troubleshoot this?

[2019-10-11 15:01] WolfieeifloW opened #15562 "Use First Name and Last Name Initials For Generating Avatar"
### Description:
The option of "Use Full Name Initials to Generate Default Avatar" only seems to use the First Name initial instead of First Name and Last Name initials.

### Steps to reproduce:
1. Go to Administration
2. Go to Layout
3. Select "Use Full Name Initials to Generate Default Avatar"

### Expected behavior:
The avatar should use the First Name and Last Name initial (eg "John Smith" sho

[2019-10-11 18:57] Tom-Development commented on #2737
+1

Really need this simple security feature.

[2019-10-11 19:10] Tom-Development opened #15565 "Feature Request - Add recapture to login/register screen."
I think adding recatphca to the login & sign up screens could be a very easy and simple way to secure an instance of RocketChat without requiring complex configuration or settings.

This feature should be optional from the administration interface, since some people may not want to include this. I think there should be 2 different options, one for login screen and one for the register screen.

Thi

[2019-10-11 19:15] Tom-Development opened #15566 "Feature Request - Allow groups to be invited to channels/private groups."
Similar to Slack & Discord, I think a feature where you can assign a group to a channels permissions could speed up administration in larger servers and communities.

For example, say I had two private channels set up, one called #art-2d and another called #art3-d. If I wanted to add my team of artists to these channels, all the artists are in a role called "Artists", with this feature I could the

[2019-10-11 19:30] reetp commented on #15566
@rocket-cat close

This isn't a bug in Rocket.

Please open this in

https://github.com/RocketChat/feature-requests

[2019-10-11 19:30] #15566 closed

[2019-10-11 20:59] suderio commented on #1685
+1

[2019-10-11 21:32] ivr588 commented on #6530
just installed rocketchat, am astonished to find timezone cannot be set in the profile. it's not even taking the time info from the server

[2019-10-11 23:11] adocampo commented on #4427
@M034B5 that code doesn't work properly: it prints the code of the emoji over the emoji and if you type something, then it padded the entire line, and when typing the emoji should be redimensioned to fit the line.

This other still works as per version 2.1.0
[code]

[2019-10-12 10:14] antkaz commented on #15497
@corne-w I had the same problem. Does your host match the host in the settings?
In the settings I set the correct host and the problem was solved (Administration -> General -> Site URL)

[2019-10-12 11:07] reetp commented on #15565
@rocket-cat close

Had already pointed this out in your last NFR.

This isn't a bug in Rocket.

Please open this in

https://github.com/RocketChat/feature-requests

But make sure you gave checked for duplicates as this has been asked before.

[2019-10-12 11:07] #15565 closed

[2019-10-12 11:09] reetp commented on #15562
Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

"Make sure you are running the latest version of Rocket.Chat. It’s very likely simply updating will resolve your issue."

You are a long way out of date.

Please test on 2.1.x

[2019-10-12 12:07] Ablesius commented on #14401
Hi @reetp,

our chat has been upgraded to 2.1.0. same behaviour still.

[2019-10-12 14:53] Tom-Development opened #15569 "Change password should not accept the current user password."
### Description:

When a user is forced to change their password, they can enter their current password, therefor not changing it at all. Furthermore on the user account settings page change password has the same behaviour.

### Steps to reproduce:

1. Go to account page, on the change password screen.
2. Change password, enter your current password.

Or

1. From the admin panel, force a user to c

[2019-10-12 15:31] reetp commented on #15569
"Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

Make sure you are running the latest version of Rocket.Chat. It’s very likely simply updating will resolve your issue."

In this case it probably won't, but as a matter of course you should test anyway.

You know where NFRs go now....

[2019-10-12 15:47] Tom-Development commented on #15569
As I had placed in the bug, I am using the snap version so am currently unable to update till you release the next version...

[2019-10-12 18:38] cchbr commented on #14538
This is the case for me as well.

[2019-10-12 21:16] dusatvoj commented on #15325
Found errors on balancer

[2019-10-12 21:16] #15325 closed

[2019-10-13 15:49] MathiasRenner opened #15571 "App <-> DB connection error after update DB from v. 3.4 to 3.5"
### Description:
I use docker-compose to run Rocket Chat (RC). After following the hint that MongoDB version 3.4 is deprecated, upgrading to 3.5 breaks the app.

### Steps to reproduce:

1. Use a Docker compose file similar to the [official example](https://github.com/RocketChat/Rocket.Chat/blob/develop/docker-compose.yml)
1. Use as DB Tag 3.4, bring the project up and running
2. Change DB tag to

[2019-10-13 15:53] reetp commented on #15569
Snaps are frequently some way behind - and a lot right now because of a big leap to 2.x.

If you are going to report bugs you really need to try an up to date version as per the documentation. It is always the first thing to do because thing s move so fast.

With VM technology at your disposal this is trivial. You can easily spool up a test version in minutes to test this sort of thing, and always

[2019-10-13 17:58] reetp commented on #15571
You have got some number confusion here...

?

Check your mongo logs.

I think you should be moving 3.4 -> 3.6

Can you test that?

[2019-10-13 18:06] MathiasRenner commented on #15571
@reetp Thanks for your feedback. It must be "3.5", of course. Just fixed it in the description.
I'll test with 3.6. now.

[2019-10-13 18:12] MathiasRenner commented on #15571
Test done. DB seems to have problem running migration scripts. Logfile: https://pastebin.com/WVs42Y9y

Consequently, the app has same error: https://pastebin.com/pgMK8XwR

[2019-10-13 18:21] Tom-Development commented on #15569
I thought this may be the case, I have tested using the actual open rocketchat server also, since I understand snaps are behind. This was tested _before_ I had submit the bug report, although I am unsure to what version the live server uses, I assume it is the latest.

[2019-10-13 19:14] bubbapizza commented on #14365
Where did you even see those federation logs?  I am having the same issue but I installed rocketchat using snaps.

[2019-10-13 19:43] aronrichter commented on #11482
@reetp

Could you asign this issue to me, please?!
I developed this already, and I wanna so submit these... :grimacing:

[2019-10-13 19:48] d-gubert commented on #15551
Hi @seanhostdime! Yes, unfortunately, we are unable to implement such method at the moment, as it would load all messages from a room in memory, and rooms are very likely to have thousands of messages - which means that would enable apps to make Rocket.Chat unresponsive.

We are working on a "cursor" strategy, that would enable apps to iterate over such a large set of data without loading it all t

[2019-10-14 00:26] d-gubert commented on #14988
Almost there! https://github.com/RocketChat/Rocket.Chat.Apps-engine/pull/164

[2019-10-14 02:07] phamduc0810 commented on #7179
hi @szluohua , I have the same problem when custom rọcket chat code. Have you found the reason and resolved this issue? Could you please tell me how to fix this?

[2019-10-14 06:06] corne-w commented on #15497
@antkaz Thank you, that seemed to have fixed the issue for me. The /admin/info page now works fine while using RocketChat 2.1.0 but only when using the exact url that was registered as the site url. For example:

Site URL: https://rocketchat.sub.example.org
FQDN: https://rocketchat.sub.example.org/admin/info <- Works.
Host: https://rocketchat/admin/info <- Doesn't work

Just to be sure that this b

[2019-10-14 06:24] Gummikavalier commented on #15497
I did some double checking via statistics in the database, and ours seems to work too. Data is updating, although not so often I had assumed.

We had the correct URL to begin with, so our data-not-updating-issue was a brainfart on my behalf. Sorry for the confusion!

[2019-10-14 06:26] erkankyn1 commented on #15497
Thanks for helping. I will try this step on my server. I downgraded my server's version for this issue. I hope it works. I will turn back to you.

[2019-10-14 09:18] antkaz commented on #15497
This problem is related to the `dynamic-import` package. This package dynamically imports modules at runtime. The environment variable ROOT_URL is used as the hostname for loading the modules, but this variable is replaced by the value of Site_Url [here](https://github.com/RocketChat/Rocket.Chat/blob/develop/app/lib/lib/startup/settingsOnLoadSiteUrl.js#L19). If i remove this line, the information

[2019-10-14 09:32] franckadil commented on #15571
Hi I ran trough the same problem this weekend while migrating our stack to a new server. This error is not related with versions of Mongodb, but instead in our case we had the exact same issue but the culprit is the docker network that is changing the IP address for new containers.

If you look closely at the prompt messages when doing a docker-compose up, you will see clearly an indication that t

[2019-10-14 09:46] mohanbabubb opened #15576 "'From address' missing on email for verify email address from profile page ( 1.3.2 )"
### Description:

From address missing for verify email address , by using the option to send email from the user profile page

### Steps to reproduce:

1. Go to 'My Account' -> Profile -> Update email box
2. Click on Save changes
3. Click on Resend verification email

### Expected behavior:

1. Should receive email with 'from address'

### Actual behavior:

1. From address is blank on the email

[2019-10-14 10:41] dstensnes commented on #6405
How is this going? Currently use rocket chat with Dark Reader extension in Firefox, but would prefer something native such that it is easily available for more people.

[2019-10-14 10:44] chojunki commented on #15497
How about checking if /admin/info works with rocketchat confirured to run in subdirectory like this:

http://xxx.yyy.com/xxchat/

This is my configuration and maybe a clue for this issue.

[2019-10-14 10:56] antkaz commented on #15497
The problem concerns not only the information page. If you try to open other pages in the administrator settings, you will get a similar error (`Cannot find module...`)

[2019-10-14 11:46] Wirone commented on #15324
Confirmed on 2.1.0 - updated today and announcements are not displayed.

[2019-10-14 13:22] reetp commented on #6405
It's closed, so going nowhere so no point in commenting here.
Please follow the links for where something might be happening.

[2019-10-14 13:47] reetp commented on #15571
The error is most likely this:

That is unrelated to Rocket per se - it is related to upgrading the underlying mongo DB.

```backendrocketchat_db_1 exited with code 62```

You need to fix your Mongo migration so Mongo starts and then Rocket should be OK.

https://stackoverflow.com/questions/47850004/mongodb-shutting-down-with-code62

I have a sneaking suspicion this started with 3.2 or even earlie

[2019-10-14 13:50] reetp commented on #15569
Never makes assumptions when you are debugging or reporting issues. Stick with facts.
So check the version and put it in the Issue so everyone knows - saves a lot of wasted time.

[2019-10-14 13:56] reetp commented on #11482
@aronrichter You need to create a single PR with your fix from your repo to here.

Someone will then look at it (I can't do that).

[2019-10-14 14:31] aronrichter commented on #11482
I already did that...
My bad... sorry...

[2019-10-14 14:40] erkankyn1 commented on #15497
Thanks for helping, this step works for mine RocketChat server.

[2019-10-14 15:24] reetp commented on #11482
NP !!

[2019-10-14 17:28] Tom-Development commented on #15569
Unfortunately not all of us have time to spend setting up a new instance just to test a bug, I did my bit by reporting it in the first place.

Also, I couldn't do anything more than assume when I tested that, that is also why I _didn't_ include it in the original bug report because I did not know the definite version....

[2019-10-14 17:42] reetp commented on #15569
I'm a volunteer here. I don't make any money out of Rocket. My time is actually pretty precious as well.

If you are administering a server you should keep a test machine in your back pocket at all times. It is effortless with today technology.

If you don't follow the bug reporting guidelines you are going to get ignored. Like an awful lot of other 'bugs' here.

https://rocketchat.github.io/docs/

[2019-10-14 17:48] nstseek commented on #15354
I did tried to replicate this issue in windows and it did work. The 'g' looks like a 'q'. It just does not happen on Linux Mint, the system that I was working on. I'll try to fix it, thank you.

[2019-10-14 17:52] wreiske opened #15578 "Read Receipts are not showing on 2.1.0"
# Description:

After upgrading to 2.1.0, **NEW** message read receipts do not show. Existing messages prior to the upgrade show the correct blue check.
https://open.rocket.chat/channel/support?msg=a8cgxeno7RhmbMDMf

### Steps to reproduce:

1. Enable read receipts
2. Read the messages
3. No blue checkmark

### Expected behavior:

![image](https://user-images.githubusercontent.com/6295044/66771894

[2019-10-14 17:56] reetp commented on #15578
Same here on 2.1.0

This works in Custom CSS

[code]

[2019-10-14 18:06] georgeos opened #15579 "Redirect URI doesn't get updated using Custom Oauth"
### Description:

Unable to update the redirect URI when domain is changed.

### Steps to reproduce:

1. Install rocket server on premise: https://chatt.example.com using Amazon Web Services (https://rocket.chat/docs/installation/paas-deployments/aws/)
2. Configure Oauth with a custom provider
3. When configuring oauth, rocket chat provides you with a redirect uri. https://chatt.example.com/_oauth

[2019-10-14 18:32] m2theus opened #15580 "meteor npm start problem"
By performing the following steps:

1 - git clone https://github.com/RocketChat/Rocket.Chat.git
2 - meteor npm install
3 - meteor npm start

The following error occurs:

<img width="827" alt="Captura de Tela 2019-10-14 às 15 32 06" src="https://user-images.githubusercontent.com/22775086/66774379-d2770a80-ee97-11e9-88a9-cb25526b93be.png">

[2019-10-14 18:47] #15580 closed

[2019-10-14 19:01] dholbert commented on #15354
Good to hear.  Thanks!

[2019-10-15 01:24] gjsman commented on #8492
**Further updates for those with Auth0 and Rocket.Chat: I managed to get usernames, emails, and profile images to work!** This means that it is now (almost) a fully-supported OAuth integration, and no longer has these missing bits (like missing emails, etc)!

To do this, use the following settings (some are copied from above):
Enabled = Yes
URL = https://ACCOUNTNAME.auth0.com/
Token Path = oauth/t

[2019-10-15 01:25] gjsman commented on #8492
Merging of existing email accounts also works with the above settings @707eric @simonv3

[2019-10-15 05:54] rasos commented on #15579
Try workaround: delete and re-initiate same oAuth provider with new Redirect URI parameter in RC.

[2019-10-15 05:58] martinkruusimagi commented on #11377
This is also breaking previously created Zaps that use any event-based triggers

[2019-10-15 06:15] JohnnyRahul commented on #15018
We too have it. Can reproduce on Windows 7 and 10. Is there a fix for this?

[2019-10-15 06:37] scoopex commented on #14562
Same with 1.3.2.

Further issues with the last releases:

- Automatic snap update leads to a unreachable rocketchat instance.
  The node rocketchat sever starts to fast after upgrading the snap package.
  Mongodb not seems to be ready fast enough and the rocketchat server does not wait long enough  to be connected to mongodb. Probably there is a trivial fix in just increasing connection pool timou

[2019-10-15 09:33] reetp commented on #14562
You have showed no evidence of an apparmor issue which is what this one is about.

Unless your issues are DIRECTLY related to this Issue please open a new one after carefully searching to see if has already been opened.

Thanks.

[2019-10-15 09:44] F-Locos opened #15582 "Can't upload any file using any phone"
Hi,

Easy bug, just try to send a picture or a document using the android/ios app. It doesn't work.
It just show the three points : ...
And fter they disaspear but nothing else happen.

It's an useful features unavailable on mobile!

[2019-10-15 10:04] reetp commented on #15578
I think this may be a duplicate of

https://github.com/RocketChat/Rocket.Chat/issues/15484

Just curious. Why is it seeming to use use the 'Old' Colors and not the 'New' ones?

[2019-10-15 10:06] 2color opened #15583 "Channel permalinks don't work when not logged-out"
### Description:

When opening a channel permalink, e.g. https://aragon.chat/channel/dev the page hangs on the loading animation.

This is not a problem when you're logged in.

Of course, when simply going to https://aragon.chat/ the chat works and the channel can be selected.

This bug isn't unique to us. I noticed it also for https://basicattentiontoken.rocket.chat/channel/brave-browser.

### St

[2019-10-15 10:16] reetp commented on #15582
This is most likely due to your server configuration.

But we can't help you here because you have not filled in a proper bug template.

First read this:
https://rocket.chat/docs/contributing/reporting-issues

Then use this as a template:
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-10-15 10:22] reetp commented on #15583
This is most likely due to your proxy or server configuration.

Please test on https://open.rocket.chat

Redirects to the login page perfectly there, and on both my instances.

[2019-10-15 10:26] akorn commented on #8760
@cturbelin can you provide context for your patch? I'm hitting the same issue with a later version and I'm not sure I see where I need to apply it. Thanks!

[2019-10-15 10:47] 2color commented on #15583
I think there might have been a misunderstanding.

We have `Allow Anonymous Read` enabled so when opening Go to `https://aragon.chat/channel/[ANYCHANNELNAME]` it doesn't work. But if you go home without logging in you can navigate to the channel and it will load.

[2019-10-15 10:57] antkaz opened #15584 "Access to admin info page"
### Description:

I think the information page should not be accessible if there is no permission

### Steps to reproduce:

1. Login to Rocket.Chat as a User (not Admin)
2. Open https://open.rocket.chat/admin/info

### Expected behavior:

I should get an error 404 Not Found

### Actual behavior:

![image](https://user-images.githubusercontent.com/19654261/66825758-5c8ca500-ef64-11e9-9fad-85025345e

[2019-10-15 11:03] reetp opened #15585 "Duplicate label name 'Hide Avatars' in Accounts"
Rocket v2.1.0
(tested on two different installs)

Duplicate label name 'Hide Avatars' in Accounts

![Screenshot_2019-10-15_12-55-11](https://user-images.githubusercontent.com/3800384/66826126-00b62200-ef4c-11e9-9277-3067fca8dc37.png)

These are the two settings concerned:

Accounts_Default_User_Preferences_hideAvatars
Accounts_Default_User_Preferences_sidebarHideAvatar

[2019-10-15 11:59] reetp commented on #15583
Ahhh. That sort of little detail can make a big difference......

Have you tested this on latest - things may well have been fixed already so you need to test.

https://rocketchat.github.io/docs/contributing/reporting-issues/

OK, so you don't have to update, but you can easily spin up a test VM to check this sport of thing.

[2019-10-15 12:47] ElsimarGoncalves commented on #9588
hi,

some evolution of this theme ?

[2019-10-15 13:29] wreiske commented on #15578
Yeah this is a duplicate of: #15484

[2019-10-15 13:29] #15578 closed

[2019-10-15 13:38] MartinSchoeler commented on #14708
Closed By https://github.com/RocketChat/Rocket.Chat/pull/14956

[2019-10-15 13:38] #14708 closed

[2019-10-15 13:44] MartinSchoeler opened #15587 "Existing threads behaviour when threads are disabled"
### Steps to reproduce:

1. Start a thread somewhere.
2. Disable threads
3. Open the created thread

### Expected behavior:

In my opinion the thread should open, but it should be read only

### Actual behavior:

A toast with the error "Not allowed" shows up and the thread sidebar loads indefinitely
![image](https://user-images.githubusercontent.com/20868078/66836866-80d28c80-ef38-11e9-8619-588925

[2019-10-15 15:01] ritwizsinha opened #15588 "The cancel button in the popup dialog has weird background"
### Description:
In the web version of Rocket chat , the style of the cancel button in the dialog window which appears on leaving the room seems unprofessional and weird because of having no container and grey background .
![Screenshot from 2019-10-15 20-13-50](https://user-images.githubusercontent.com/43509699/66843426-66c19a00-ef8a-11e9-8ed0-4a77fb0a88ed.png)

### Steps to reproduce:

1. Any cha

[2019-10-15 15:56] reetp commented on #15584
Wasn't this opened before somewhere?

Someone asked if it was a security risk or similar?

[2019-10-15 15:59] reetp commented on #15484
This works in Custom CSS

[code]
Just curious. Why is it seeming to use use the 'Old' Colors and not the 'New' ones?

[2019-10-15 18:16] rasos opened #15590 "GUI for channel custom fields"
Since RC 0.62 there is an API hook for channel custom fields: https://rocket.chat/docs/developer-guides/rest-api/channels/setcustomfields/ It allows e.g. to define a relation of a channel to a project or an organisation.

However, there is no GUi yet to enter or display channel custom field values.  We think the best place is the info area of a channel. Any alternative proposals?

We would like to

[2019-10-15 18:35] georgeos commented on #15579
Yes, I already tried that but with no luck.

Even I created a new one, and same problem.

[2019-10-15 19:48] PatrickFreitas commented on #15545
The livechat URL in the installation documentation still appears wrong in my application, but **removing the version was enough to solve the problem**. Thanks.

Sorry for that.

[2019-10-16 00:34] geekgonecrazy commented on #15484
@ggazzo @tassoevan just making sure this is on your radar. Seems like css issue

[2019-10-16 01:32] bkraul commented on #15484
I am positive all users in the DM conversation have read all messages that should be showing "read" but are not.

[2019-10-16 01:34] wreiske commented on #15484
Technically, they have not read the messages because RocketChat isn't saving that they read them. That is what I meant.

[2019-10-16 01:36] bkraul commented on #15484
Oh I got you. Apologies.

[2019-10-16 02:29] ggazzo commented on #13110
@barak-haviv I don't think I'm able to reproduce this error, cloud you please test again? thanks

[2019-10-16 02:34] ggazzo commented on #15584
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/11721

[2019-10-16 02:34] #15584 closed

[2019-10-16 06:10] github88-sys commented on #13069
same problem. mark.

[2019-10-16 06:20] m-roshani commented on #2737
+1

[2019-10-16 06:27] F-Locos commented on #15582
### Description:
Easy bug, just try to send a picture or a document using the android/ios app. It doesn't work.
It just show the three points : ...
And after they disaspear but nothing else happen.

### Steps to reproduce:

1. Open RocketChat on iOS/Android
2. Click on add files
3. Send the files

### Expected behavior:
Get the files by other people in the server

### Actual behavior:
Can't send a

[2019-10-16 06:29] F-Locos commented on #15582
I really want to know what we need to do to. This is my "Send files" configuration : https://i.imgur.com/J8OrstM.png

[2019-10-16 09:57] reetp commented on #15582
So, you are quite out of date so if there is actually a problem with your instance (and almost certainly there is not) then it will not get fixed - the fix will mean upgrading.

I would also look at moving off GridFS for storage ASAP.

There is no evidence of a bug so this most likely a support/configuration issue:

https://rocket.chat/docs/getting-support/

[2019-10-16 12:50] GJKrupa commented on #11145
We're seeing something similar when replying in a message thread.  When a user first sends a reply it shows as Real Name but after refreshing the browser it reverts to User ID.

[2019-10-16 13:08] renatobecker commented on #15557
Hey! We were facing an issue with our Facebook Integration, but now you're supposed to be able to activate it again.

Thanks.

[2019-10-16 13:09] renatobecker commented on #15530
Hey guys!

We were facing an issue with our Facebook integration, but now the integration is supposed to be okay.

Thanks.

[2019-10-16 15:14] dudanogueira commented on #15530
Ok, I tried with another page I have, and it worked. However, with the page I want, it's not working. Looks like it doesnt subscribe to the page messenger...

[2019-10-16 15:22] bytefact commented on #15530
@renatobecker Tested and now I can connect our facebook page to live chat. Text messaging is okay, but photo's are not working, both sending and receiving. So this is the first time that we are testing the facebook integration and we are not sure if that ever worked or is related the bug. Can you please confirm?

[2019-10-16 15:40] josep112 commented on #15557
Hi, @renatobecker
Facebook seems to work now but I can't upload the image yet this log is current

12:30:45.695(-3) Exception in defer callback: TypeError: Cannot read property '_id' of undefined     at normalizeMessageFileUpload (app/utils/server/functions/normalizeMessageFileUpload.js:7:86)     at messages.forEach.message (app/livechat/server/hooks/sendToCRM.js:64:27)     at Array.forEach (<anon

[2019-10-16 17:35] dudanogueira commented on #15530
Ok! I was able to setup. The problem was on the page settings:
![image](https://user-images.githubusercontent.com/1761174/66943113-e5691680-f020-11e9-9bfb-ed3a711c2a3f.png)

I also can confirm that neither audio or image is working and also not sure if it is supposed to work

[2019-10-16 17:39] dudanogueira commented on #15530
Interestingly, emojis will work from facebook to Rocket.Chat, but not the other way around. It will set :sweat_smile: instead. I also noticed that the same is true for the livechat. If the livechat user sends an emoji, it will arrive ok to the agent. But if the agent send an emoji to the user, it will appear as text reference, just like :sweat_smile:

[2019-10-16 18:10] renatobecker commented on #15530
We're not supporting file sharing through the Facebook integration yet, so for sure it's not a bug.
Thanks.

[2019-10-16 18:14] renatobecker commented on #15557
I'll take a look at this issue ASAP.

[2019-10-16 19:30] #14322 closed

[2019-10-16 19:33] #14536 closed

[2019-10-17 00:12] wellington1993 commented on #2737
+1

[2019-10-17 07:10] fcoppolani commented on #13602
We have the same problem with 1.2.3, we are going to upgrade to 2.1 soon to check this issue.

[2019-10-17 10:03] Nemra1 commented on #2869
Try to setup riot.im

[2019-10-17 10:52] bkraul commented on #2869
@Nemra, I'm sorry, what is the point of your comment? You are directing us to a platform whose 2 main touted features are: "end-to-end encryption" and "de-centralized". Can you help us understand how this solves the issue of auditing, especially in terms of business auditing requirements?

[2019-10-17 13:36] jthomae1 commented on #11517
I think it's really important to receive pushes on mobile, even if desktop is open!
More and more teammates complaining that behavior, because they don't receive push notifications if their desktop apps are open.

[2019-10-17 14:14] jthomae1 commented on #11517
I can also confirm that users don't receive push notifications on moblile devices even if their status on the desktop app is away (orange) or busy (red). This is really a huge blocker.

[2019-10-17 14:50] #13929 closed

[2019-10-17 15:01] MartinSchoeler commented on #15582
As @reetp comment, I will close this. Thanks!

[2019-10-17 15:08] reetp commented on #11559
Much has changed. Please keep up with github and blogs to see what is happening.

https://rocket.chat/2019/09/27/push-notification/
https://whimsical.com/Bngw3kot3wWPMAAJTebDUJ

This can probably be closed.

[2019-10-17 15:27] scrivna opened #15604 "Audio/Video player stops playing when someone 'reacts' to it"
### Description:

When listening to an audio clip, if I or another user reacts to the message, the audio stops playing.
Possibly caused by the message being re-rendered?

### Steps to reproduce:

1. Upload an audio clip and start listening
2. While listening, add an emoji - 'react' to the message
3. My audio stops playing

### Expected behavior:

Audio playback should not be affected by the reacti

[2019-10-17 15:33] hramrach opened #15605 "Replies in thread unreadable"
### Description:

"Reply in thread" option produces unreadable messages in the UI.

### Steps to reproduce:

1. Go to a channel that has messages.
2. In the menu of the message select "Reply in thread"
3. Write a moderately long message.

### Expected behavior:

Message displayed as normal with link for opening the thread.

### Actual behavior:

Message displayed in tiny font, truncated to one lin

[2019-10-17 15:43] hramrach opened #15606 "Message with attachment posted via API is not editable"
### Description:

When posting message with attachment no ID that can be used for subsequent edits is returned.

https://github.com/42wim/matterbridge/issues/890

### Steps to reproduce:

1. install matterbridge
2. connect to RocketChat and another supported server that supports attachments
3. post attachment on another server, and edit its associated message.

### Expected behavior:

Attachment w

[2019-10-17 15:58] Occhioverde commented on #11559
Of course, surely, I had forgotten to do it...

[2019-10-17 15:58] #11559 closed

[2019-10-17 16:04] MartinSchoeler commented on #15533
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criterion.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-10-17 16:19] MartinSchoeler commented on #15491
Tested on develop 2.1.0 and the issue still exists, only when using three backticks (```)
<img width="671" alt="Screen Shot 2019-10-17 at 13 17 43" src="https://user-images.githubusercontent.com/20868078/67027819-a26e7800-f0e0-11e9-867e-d95e9c2e74b2.png">

[2019-10-17 16:21] reetp commented on #15605
I think this is a more a support issue, not a bug.

Admin/Info - and this sort of info is really important as per the bug template
Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

If you click on a line it will open a window on the right so you can see it full size.

I believe the idea is that threaded conversations don't take too much space in the m

[2019-10-17 16:29] MartinSchoeler commented on #15453
Please reopen this in the appropriate repository, https://github.com/RocketChat/feature-requests Thanks!

[2019-10-17 16:29] #15453 closed

[2019-10-17 16:34] MartinSchoeler commented on #15430
Currently, the discussions are treated like normal messages without any mentions, maybe there should be a preference to notify me if anyone starts a discussion on a channel I belong to?

[2019-10-17 16:46] MartinSchoeler commented on #15250
Confirmed on 2.1.0-Develop

[2019-10-17 17:09] hramrach commented on #15605
but makes them unusable

you can differentiate without making them unusable

You can. That does not make them usable.

As in you open a channel and what you get is a bunch of messages in tiny font. They are even truncated so you cannot read them even if you eyesight is brilliant. If there are multiple conversations going on an d you want to know what is new you do that how, exactly?

[2019-10-17 17:12] hramrach opened #15608 "No UI for determining RocketChat version."
### Description:

https://rocket.chat/docs/contributing/reporting-issues gives instructions on obtaining RocketChat version.

However, many other web applications manage to present support information in the UI so users do not need to search for it when reporting issues.

[2019-10-17 17:26] rasos commented on #15608
If you have admin rights you see the version here https://mychatserver.net/admin/info
End users probably use other 1st level support channels than reporting issues here.

But why not, the RC version could be displayed e.g. also at https://mychatserver.net/account/preferences visible for any logged in user.

[2019-10-17 18:12] lucasOlivio opened #15609 "Hide message to specifics users in room"
Would be nice to have a function to exclude or hide messages to an user, like when an user is invited to a private room all the messages that are older than the users invitation to the room are hidden from him.

(My first time posting an issue, sorry if was not clear enough)

[2019-10-17 18:13] rodrigok commented on #7175
This bug was fixed. Please open a new issue if it persists.

[2019-10-17 18:13] #7175 closed

[2019-10-17 18:18] rodrigok commented on #7257
We already support batch uploads

[2019-10-17 18:18] #7257 closed

[2019-10-17 18:32] rodrigok commented on #7294
Closing due to lack of activity.

[2019-10-17 18:32] #7294 closed

[2019-10-17 18:32] rodrigok commented on #7281
Closing due to lack of activity.

[2019-10-17 18:32] #7281 closed

[2019-10-17 18:32] rodrigok commented on #7115
Closing due to lack of activity.

[2019-10-17 18:32] rodrigok commented on #7058
Closing due to lack of activity.

[2019-10-17 18:41] MartinSchoeler commented on #15608
As @rasos commented, admins can find this info under the admin/info URL.

[2019-10-17 18:41] #15608 closed

[2019-10-17 18:42] MartinSchoeler commented on #15604
This is true for youtube links as well

[2019-10-17 19:07] Lucioric2000 commented on #10457
I would want to contribute heavily for this bot integration to mature, but I would ask if someone can sponsor me to do so.

[2019-10-17 19:42] #15484 closed

[2019-10-17 19:42] pmjunior commented on #15530
@renatobecker Tested and now I can't receive or send messages between FB and RC, any ideia?

[2019-10-17 19:50] ggazzo commented on #15497
closed by https://github.com/RocketChat/Rocket.Chat/pull/15598

[2019-10-17 19:50] #15497 closed

[2019-10-17 20:03] ggazzo commented on #15128
closed  by https://github.com/RocketChat/Rocket.Chat/pull/15358

[2019-10-17 20:03] #15128 closed

[2019-10-17 20:04] ggazzo commented on #15042
please reopen the issue with more infos, thanks

[2019-10-17 20:04] #15042 closed

[2019-10-17 20:12] ggazzo commented on #14870
sorry @caesarcxiv but I'm  not able to reproduce your problem..
![image](https://user-images.githubusercontent.com/5263975/67043787-39e3c300-f101-11e9-8ef9-6a429fc36060.png)
if the problem persists please let me know

[2019-10-17 20:12] #14870 closed

[2019-10-17 20:22] ggazzo commented on #14787
@ubergeekzone at the client side `getUserPreference` should work only for your own user... I really dont like the first argument user on the client, but the function can be used in the both server/client...

so if you try access some info about other user, you will just find the public fields like name, username, status...etc... and sure only for online users... its a complicated case, but we keep

[2019-10-17 20:22] #14787 closed

[2019-10-17 20:28] ggazzo commented on #14766
try
![image](https://user-images.githubusercontent.com/5263975/67044813-7a444080-f103-11e9-98a6-f8951f90d664.png)

[2019-10-17 20:28] #14766 closed

[2019-10-17 20:33] ggazzo commented on #14734
close by https://github.com/RocketChat/Rocket.Chat/pull/14950

if not, please let me know

[2019-10-17 20:33] #14734 closed

[2019-10-17 20:34] ggazzo commented on #14704
thanks for reporting, its not an issue anymore ;)

[2019-10-17 20:34] #14704 closed

[2019-10-17 20:37] stbc commented on #11570
Oh...moved to 2.2.0. This is disappointing... :/

[2019-10-17 20:42] tassoevan commented on #14605
Fixed.

[2019-10-17 20:42] #14605 closed

[2019-10-17 20:44] #14532 closed

[2019-10-17 20:59] #14329 closed

[2019-10-17 21:03] #14083 closed

[2019-10-17 21:05] ggazzo commented on #14279
@phillipplum I'm closing this issue, but it you found this problem again please let me know

[2019-10-17 21:05] #14279 closed

[2019-10-17 21:07] #14162 closed

[2019-10-17 21:11] ggazzo commented on #14063
now you can quote, or reply as thread so I think that problem does not exist anymore :)

[2019-10-17 21:11] #14063 closed

[2019-10-17 21:13] ggazzo commented on #14023
closed by https://github.com/RocketChat/Rocket.Chat/pull/15511

[2019-10-17 21:13] #14023 closed

[2019-10-17 21:19] #13963 closed

[2019-10-17 21:23] reetp commented on #7115
This is still an issue though.

I was swapping between 2 desks today and I was having to click dozens of notifications I had already read on the other desktop. It was extremely tedious. Probably quicker to close the browser and reopen which is ridiculous

Isn't this aligned to expiring notification off mobile if read on desktop, and vice versa?

[2019-10-17 21:24] ggazzo commented on #13922
please test again and reopen if make sense, thanks.

[2019-10-17 21:24] #13922 closed

[2019-10-17 21:28] ggazzo commented on #13878
![image](https://user-images.githubusercontent.com/5263975/67049110-d8752180-f10b-11e9-9147-c46f066bf02d.png)

[2019-10-17 21:28] #13878 closed

[2019-10-17 21:39] ggazzo commented on #13795
I dont think its gonna work because you can be accessing for a different machine, so I think a plain text its the best option for now... thanks

[2019-10-17 21:39] #13795 closed

[2019-10-17 21:39] ggazzo commented on #13793
should be working right now (2.1.0), please let me know if not

[2019-10-17 21:39] #13793 closed

[2019-10-17 21:40] #13790 closed

[2019-10-17 21:40] ggazzo commented on #13790
its no longer a problem thanks for your time

[2019-10-17 21:42] #13708 closed

[2019-10-17 21:45] dudanogueira commented on #15530
@pmjunior , were you able to list your page under the Live Chat > Facebook Messenger Option? If positive, make sure that the toggle button is marked to "on". Also, the option under Administration > Live Chat > Facebook (Expand the tab) should be on.

Another tip is to go to Administration > Logs, and set the log level to a more verbose option. Then you go to Administration > Show Logs and monitor

[2019-10-17 21:48] ggazzo commented on #13568
thanks @serviceman , closing any new issue let me know (:

[2019-10-17 21:48] #13568 closed

[2019-10-17 21:50] ggazzo commented on #13556
I'm closing since we dont have more complaining about

[2019-10-17 21:50] #13556 closed

[2019-10-17 21:52] #13542 closed

[2019-10-17 21:56] ggazzo commented on #13249
@mddvul22 and @tars21 I think this pr fixes your problems  https://github.com/RocketChat/Rocket.Chat/pull/15252 could you test please? I will close this issue because I'm very confident we fixed, but any problem open it again..

[2019-10-17 21:56] #13249 closed

[2019-10-17 21:57] ggazzo commented on #13219
closing to keep the track in only one issue 🔝 , thanks

[2019-10-17 21:57] #13219 closed

[2019-10-17 22:00] #13125 closed

[2019-10-17 22:01] #13100 closed

[2019-10-17 22:05] ggazzo commented on #13024
lets keep the conversation here #13110

[2019-10-17 22:05] #13024 closed

[2019-10-17 22:13] ggazzo commented on #12750
@igorr-stc what about 2.1.0 version? its a weird behavior I cant reproduce =/
test if you can reproduce on open.rocket.chat let me know

[2019-10-17 22:13] #12750 closed

[2019-10-17 22:16] #12749 closed

[2019-10-17 22:19] ggazzo commented on #13498
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/12732

[2019-10-17 22:19] #13498 closed

[2019-10-17 22:23] ggazzo commented on #12589
same of https://github.com/RocketChat/Rocket.Chat/issues/12492

[2019-10-17 22:23] #12589 closed

[2019-10-17 22:25] #12435 closed

[2019-10-17 22:26] #12434 closed

[2019-10-17 22:26] #12420 closed

[2019-10-17 22:27] tassoevan commented on #12437
Closed by #13756.

[2019-10-17 22:27] #12437 closed

[2019-10-17 22:31] ggazzo commented on #12209
@piotrkochan fixed ;)

[2019-10-17 22:31] #12209 closed

[2019-10-17 22:32] phriedrich commented on #15484
Thanks to anyone involved fixing this. I can confirm it's working again.

[2019-10-17 22:33] ggazzo commented on #12202
we dont use the stream "message" only the "stream-room-message"

[2019-10-17 22:33] #12202 closed

[2019-10-17 22:36] #12094 closed

[2019-10-17 22:37] ggazzo commented on #12093
closed by https://github.com/RocketChat/Rocket.Chat/pull/15252

[2019-10-17 22:37] #12093 closed

[2019-10-17 22:38] #11971 closed

[2019-10-17 22:39] ggazzo commented on #11958
please provide us more info, like or server info and some images, thanks

[2019-10-17 22:39] #11958 closed

[2019-10-17 22:41] ggazzo commented on #11943
its working

![image](https://user-images.githubusercontent.com/5263975/67052879-fe072880-f115-11e9-99aa-8b539867ae75.png)
![image](https://user-images.githubusercontent.com/5263975/67052884-0495a000-f116-11e9-8365-2ee14e3daab7.png)

[2019-10-17 22:41] #11943 closed

[2019-10-17 22:48] ggazzo commented on #11941
we are planning to close this issue asap.

btw, I'm closing this one, but please fell free to continue the discussion here https://github.com/RocketChat/Rocket.Chat/issues/12978

[2019-10-17 22:48] #11941 closed

[2019-10-17 22:51] ggazzo commented on #11934
closing this issue because I didt see more problems related, please any problem reopen.

[2019-10-17 22:51] #11934 closed

[2019-10-17 22:54] #11753 closed

[2019-10-17 22:55] #11699 closed

[2019-10-17 23:00] ggazzo commented on #11610
I can't reproduce anymore, @gudge25 could you test again? thanks

[2019-10-17 23:00] #11610 closed

[2019-10-17 23:02] tassoevan commented on #11689
I can't reproduce this issue anymore, therefore I'm closing this issue. Please re-open if you think there's still more to do.

[2019-10-17 23:02] #11689 closed

[2019-10-17 23:02] ggazzo commented on #15509
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/11323

[2019-10-17 23:02] #15509 closed

[2019-10-17 23:03] #11015 closed

[2019-10-17 23:06] ggazzo commented on #10676
@mikaelmello it was fixed could you test it again? thanks

[2019-10-17 23:06] #10676 closed

[2019-10-17 23:08] #10383 closed

[2019-10-17 23:11] ggazzo commented on #9885
we had a lot of changes since you opened this issue see: https://rocket.chat/2019/09/27/push-notification/

please open it again if the problem persists

[2019-10-17 23:11] #9885 closed

[2019-10-17 23:12] ggazzo commented on #14549
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/10219

[2019-10-17 23:12] #14549 closed

[2019-10-17 23:13] ggazzo commented on #9683
fixed ;)

[2019-10-17 23:13] #9683 closed

[2019-10-17 23:15] ggazzo commented on #9605
fixed ;)

[2019-10-17 23:15] #9605 closed

[2019-10-17 23:20] ggazzo commented on #9319
closing it on favor of: https://github.com/RocketChat/Rocket.Chat/issues/15189

[2019-10-17 23:20] #9319 closed

[2019-10-17 23:22] #9355 closed

[2019-10-17 23:23] ggazzo commented on #9293
we dont support anymore sandstorm =/

[2019-10-17 23:23] #9293 closed

[2019-10-17 23:33] #8207 closed

[2019-10-17 23:41] ggazzo commented on #7602
Just checking the issue, and I thinks I had better numbers... could you test again? thanks

![image](https://user-images.githubusercontent.com/5263975/67055365-41fe2b80-f11e-11e9-9cf4-da00263617ec.png)

[2019-10-17 23:42] #7256 closed

[2019-10-17 23:43] #7238 closed

[2019-10-17 23:45] #6731 closed

[2019-10-17 23:47] #6281 closed

[2019-10-17 23:59] #5679 closed

[2019-10-18 01:37] bkraul opened #15613 "Cannot read property 'username' of undefined"
### Description:
After installing the latest `develop` docker image, the Administration -> Log no longer displays, and the stdout shows the following repeatedly:
[code]
### Steps to reproduce:
1. Deploy latest docker `develop` image (commit 699e6fe as of initial report).
2. Attempt to check logs from app (nothing will display).
3. Multiple errors will be logged to stdout.

### Expected behavior:
N

[2019-10-18 02:34] ggazzo commented on #15613
@bkraul there are two issues here, abou the empty log: https://github.com/RocketChat/Rocket.Chat/pull/15614

[2019-10-18 05:14] #14346 closed

[2019-10-18 10:37] reetp commented on #15613
Can confirm this is also on two servers I just updated to 2.1.1
[code]

[2019-10-18 10:40] reetp commented on #15613
(On 2.1.1 I can see View Logs)

[2019-10-18 10:54] TimmiORG commented on #11649
What is needed to get this fixed in the near future?
I would agree that the removal of the time-out would help for the moment if there is not possibility to check the usage of the room through a jitsi meet API or so.

`actionLinks.register('joinJitsiCall', function(message, params, instance) {
	if (Session.get('openedRoom')) {
		const rid = Session.get('openedRoom');

		const room = Rooms.findOne(

[2019-10-18 10:57] idchlife commented on #6230
Hey, is there way to just easily change like url for departments in widgets? Like

[code]

etc?

[2019-10-18 11:39] miko007 commented on #13885
i would like to add, that lists do not seem to work either:

[code]

produces:

\* foo
bar **(and stuff)**\*

[2019-10-18 12:02] reetp commented on #13885
@miko007 Rocket does not currently use github markdown.
It uses Katex - link is at the bottom of the Rocket page in a browser.
https://katex.org/docs/supported.html

This bug and PR was to try and incorporate different mark up, but if you read the PR you will see that has not happened yet and hence why the PR is still open.

[2019-10-18 12:10] moofen commented on #15018
Same issue, both in client and in webinterface.

[2019-10-18 12:16] franckadil commented on #15018
I can confirm the issue in web interface with One to One and One to many users across different zones.

[2019-10-18 13:54] ggazzo commented on #15613
sure because the Log view bug was introduced on 2.2.0-develop, so on  version < 2.2.0 the  log should be working fine...

[2019-10-18 14:03] reetp commented on #15613
So two different bugs then, and this username defined issue is unrelated to the log issue. Do you know where that bug is?

We ought to split this up?

[2019-10-18 14:34] ggazzo commented on #15613
sure, but we don't have to split because I already fixed the view log.

and I asked @pierre-lehnen-rc to check the `username` problem

@bkraul pay attention, the 2.1.1 is supposed to be before than develop branch , its not very recommended/healthy downgrade the version... avoid develop and latest release tags, use the version numbers and check the CHANGELOG.md before, thanks :)

[2019-10-18 14:39] bkraul commented on #15613
@ggazzo I am not sure I understand. Per my report, I am using 2.2.0-develop, not 2.1.1. I understand the develop branch is for the most part unstable, but I use it in order to test fixes and new features.

[2019-10-18 14:41] ggazzo commented on #15613
SORRY @bkraul , my mistake I thought wrote that... sorry
![image](https://user-images.githubusercontent.com/5263975/67103733-14f05e00-f19c-11e9-9f7d-7b1c640e3565.png)

[2019-10-18 15:54] bkraul commented on #15613
The issue appears resolved in develop commit 7d29c68, both log view and undefined error. Only message showing is:
[code]
Which I understand to be informational. Thanks for the lightning-fast action, guys!

[2019-10-18 17:23] pmjunior commented on #15530
I follow all steps, but don't worked for me, there is not logs from facebook, I copied logs, follow below:

I20191018-14:21:45.353(-3) livechat:facebook { id: 'r8uRfCG8FZtX3k6MC',   clientAddress: '200.143.192.70',   httpHeaders:     { 'x-forwarded-for': '200.143.192.70',      'x-real-ip': '200.143.192.70',      'x-forwarded-proto': 'https',      host: 'rocket.rnp.br:443',      'user-agent': 'Mozi

[2019-10-18 17:55] tassoevan commented on #13058
@anqtran We're working to mitigate some BEM violations, like `!important` declarations and deeply nested selectors. I'm closing this issue now since your case is very specific, but feel free to reopen it if this is still an issue for you.

[2019-10-18 17:55] #13058 closed

[2019-10-18 19:14] MarcosSpessatto commented on #13960
@lolimay the big difference is: `start-discussion-other-user` gives the permission to the user to create a discussion from a message sent by another user.

[2019-10-18 19:15] #13960 closed

[2019-10-18 19:32] #1307 closed

[2019-10-18 20:06] ggazzo commented on #6160
hey, we rewrote this component and I think we dont have this problem anymore...any problem please let me know

[2019-10-18 20:06] #6160 closed

[2019-10-18 20:19] ggazzo commented on #14905
closed by https://github.com/RocketChat/Rocket.Chat/pull/15615

[2019-10-18 20:19] #14905 closed

[2019-10-18 20:20] ggazzo commented on #15324
closed by https://github.com/RocketChat/Rocket.Chat/pull/15615

[2019-10-18 20:20] #15324 closed

[2019-10-18 20:42] #843 closed

[2019-10-18 20:42] #14669 closed

[2019-10-18 20:53] #14191 closed

[2019-10-18 21:18] #4759 closed

[2019-10-18 21:41] ulit3 commented on #2737
+1

[2019-10-18 21:54] #15399 closed

[2019-10-18 21:54] #15427 closed

[2019-10-18 21:58] ggazzo commented on #14510
is it still an issue?  any problem open again please.

[2019-10-18 21:58] #14510 closed

[2019-10-18 21:58] ggazzo commented on #14498
is it still an issue?  any problem open again please.

[2019-10-18 21:58] #14498 closed

[2019-10-18 22:00] ggazzo commented on #15161
duplicated of https://github.com/RocketChat/Rocket.Chat/issues/15160

[2019-10-18 22:00] #15161 closed

[2019-10-18 22:03] jimDKE commented on #14498
Right @ggazzo, this is no longer an issue for us.

[2019-10-18 22:03] #13262 closed

[2019-10-18 22:03] #13611 closed

[2019-10-18 22:10] #12279 closed

[2019-10-19 02:55] ggazzo commented on #15613
Please ignore this log, it's a console.log inside of a dependency, I gonna fix soon as possible

[2019-10-19 05:13] ritwizsinha commented on #15604
Can I work on it ?

[2019-10-19 05:18] ritwizsinha commented on #15604
I noticed that except for sending reacts , replying in thread and replying directly also stops the audio clip

[2019-10-19 05:49] vivekkhatri opened #15616 "Block third-party cookies"
As per the news, Google is planning to block third-party cookies in chrome browser by default. If that happens, I guess Rocket Chat won't be able to load while integrated within an iframe in a system hosted on different domain.
I have tried modifying that setting in browser to reproduce the possible issue and certainly Rocket Chat in iframe didn't load. Although, the error occurred on "app/ui-util

[2019-10-19 06:02] ritwizsinha commented on #15588
In this reference I would like to say that the ui of all of the popup boxes are like this for example
![Screenshot from 2019-10-19 11-31-51](https://user-images.githubusercontent.com/43509699/67138628-184f1c80-f264-11e9-84da-5b80ebf6e76e.png)
Is it a problem or the design scheme ?

[2019-10-19 06:52] ritwizsinha opened #15617 "On resizing the screen the chat screen is hidden under the other sidebar"
### Description:
On opening any option present on the chat box and resizing the window to a sufficient size the chat box hides under the options tab opened

### Steps to reproduce:

1. In the channel click on any of the options present in the upper right corner(Like room Info, search etc. )
2. Now resize the screen <=900px
3. The channel box goes behind the options .

### Expected behavior:

This

[2019-10-19 13:17] #13808 closed

[2019-10-19 16:01] d-gubert opened #15619 "Integration with Susi.AI"
SUSI.AI is an artificial intelligence system, combining pattern matching, internet data, data flow, and inference engine principles. Through some abilities to reflect, it can remember the user input to produce deductions and personalized feedback. Its purpose is to explore the abilities of an artificial companion and to answer the remaining unanswered questions.

https://github.com/fossasia/susi.a

[2019-10-20 00:59] #15388 closed

[2019-10-20 04:45] rmcnabb3 commented on #15571
I had the same issue when upgrading via Snap... once it attempted to update the Mongo instance to 3.6, the Mongo instance actually wouldn't even start. I had to downgrade, realized that as Mongo was running v3.4 it actually was set to compatibility mode for 3.2 (which won't allow for a successful upgrade to 3.6).

I connected to the Mongo instance and ran this:
db.adminCommand( { setFeatureCompati

[2019-10-20 11:21] rohitkatlaa commented on #14825
@ggazzo is this issue still valid ? If so can I take up on this issue?

[2019-10-20 11:30] rohitkatlaa commented on #14825
@MartinSchoeler if valid ? Can I take upon this issue?

[2019-10-20 11:47] rohitkatlaa commented on #6846
Hi, I am Rohit.
@marceloschmidt @ggazzo @MartinSchoeler Can I solve this issue please?

[2019-10-20 14:19] dudanogueira commented on #10457
There is a nice, working implementation here, from the rasa-ptbr-boilerplate, but looks like it uses an old version of the Rocket Chat Sdk (https://github.com/RocketChat/Rocket.Chat.py.SDK)

https://github.com/lappis-unb/rasa-ptbr-boilerplate/blob/master/bot/connector.py

The advantages of this approach, from the user point of view, is that:
1) The Bot looks online
2) It updates the "is typing" wh

[2019-10-20 15:05] furaiev opened #15620 "Add the possibility to delete old messages from the chat with yourself"
It's annoying that user can't clear the chat with yourself.
Pls add a possibility to delete old messages from the chat with yourself

[2019-10-20 16:35] STX2k commented on #3661
I don't understand why this feature will not added.. it is an killer feature!

+1

[2019-10-20 16:57] dusatvoj opened #15621 "Login NoSuchObjectError when LDAP_Sync_User_Data_Groups set to true"
### Description:

I've enabled `LDAP_Sync_User_Data_Groups` and after that failed every login try from every type of device _(old sessions persists and groups from LDAP are synchronized)_ or app with `NoSuchObjectError`. It's critical issue in #14278 for us. IDK what's wrong. When I disable `LDAP_Sync_User_Data_Groups` everything is OK (even with synchronized groups from LDAP).

Search filter:
[co

[2019-10-20 21:12] #11230 closed

[2019-10-20 23:46] reetp commented on #15605
@rocket-cat close

As suggested a brief search shows there are already open issues on this.

Please follow the links.
 https://github.com/RocketChat/feature-requests/issues/150

[2019-10-20 23:46] #15605 closed

[2019-10-21 08:27] pierreozoux commented on #601
@Sing-Li Can we close this issue?
Also, it looks like it is matrix behind the scene, but I don't find it in the doc, nor in the code (probably didn't search enough).
Is it possible to federate with matrix too?
If yes, I'll take some time to improve the doc, and if you have some pointers, it would be amazing.
If not, is it planned? If yes where is the issue? If no issue, I still think we can close

[2019-10-21 09:09] cchbr opened #15624 "Possible memory leak and performance issues with anonymous users"
### Description:

I have a public installation with around 2000 users per week, many of these use anonymous accounts to login. When starting the server, Rocketchat and Mongo uses ~10% memory, this increases each day the server is running and after a week the memory usage has risen to ~50%. This continues until the server crashes a few weeks later.

I have also noticed some anonymous user accounts

[2019-10-21 11:07] bkraul commented on #15613
commit 7ef5395 (or any of the commits after 7d29c68) appears to reintroduce this issue:
[code]

[2019-10-21 12:47] MartinSchoeler commented on #14001
Hello @Myrthian, I've tested this issue on the latest version of Rocket.Chat and could not reproduce the problem, If you experience this issue again, please reopen this telling us the server version and specifying where exactly the issue happens. Thanks!

[2019-10-21 12:47] #14001 closed

[2019-10-21 13:02] hramrach commented on #14719
Why first? Last n/any unread makes much more sense.

[2019-10-21 13:05] MartinSchoeler commented on #14000
This is more likely a setting not set properly set than a bug, please make sure that the setting `UTF8 Names Validation` under `Administration -> General -> UTF8` has a valid regexp value. I've tested on version `2.2.0-develop` and it seems to be working alright
<img width="403" alt="Screen Shot 2019-10-21 at 10 01 25" src="https://user-images.githubusercontent.com/20868078/67207535-32b30280-f3ea-

[2019-10-21 13:05] #14000 closed

[2019-10-21 13:23] rgembalik commented on #7741
Same here on the newest version. Both link formats will result in icorrect messages:
* `[ *The Google* ](https://google.com)` wil render `<span class="copyonly">*</span><strong>The Google</strong><span class="copyonly">*</span>` (all being the link)
* `<https://google.com|*TheGoogle*>` will render `<span class="copyonly"*TheGoogle>`, where link ends before asterisk
The correct behavior would be to

[2019-10-21 13:34] MartinSchoeler commented on #14768
I could not reproduce this using firefox `69.0.3 (64-bit)` and Rocket.Chat `2.2.0-develop`

![2019-10-21 10 29 58](https://user-images.githubusercontent.com/20868078/67209502-dc47c300-f3ed-11e9-93eb-409bc6ccd303.gif)

@MaT1g3R @gstlouisgit Could you test this using version 2.0.0 or higher? Thanks!

[2019-10-21 13:44] ritwizsinha commented on #15617
I am a new contributor to RocketChat ,can I work on this issue

[2019-10-21 14:25] ritwizsinha opened #15626 "The "save changes" button in the profile section of My Account shifts to the left"
### Description:

On clicking the "save changes " in the profile section the button text moves to the left and the loading sticks to the left end .

### Steps to reproduce:

1. Go to My Account
2. Click on Profile on the left
3. Click on the Save changes button

### Expected behavior:

The "save changes" should not move to the left

### Actual behavior:

![Screenshot from 2019-10-22 01-17-23](http

[2019-10-21 14:27] MartinSchoeler commented on #11947
Hello @dzienisz , this issue has been fixed in the latest versions, now we ask the owner to appoint someone else as owner before leaving the room
<img width="1525" alt="Screen Shot 2019-10-21 at 11 23 31" src="https://user-images.githubusercontent.com/20868078/67214137-9858bc00-f3f5-11e9-952e-4ead27669a1c.png">
Thanks!

[2019-10-21 14:27] #11947 closed

[2019-10-21 14:31] dzienisz commented on #11947
yes, but what about legacy private groups without owner?

[2019-10-21 16:04] J0kerFace opened #15627 "error: 'Can\'t find migration version 162',"
Our Rocket Chat Server doesn´t come up after auto Update to 2.1.1

### Server Setup Information:

- Version of Rocket.Chat Server: 2.1.1
- Operating System: Ubuntu 18.04
- Deployment Method: snap edge

### Relevant logs:

 error: 'Can\'t find migration version 162',

[2019-10-21 16:28] geekgonecrazy commented on #15627
@J0kerFace please don't use the edge.. use at least the beta channel.  The edge is not meant for production usage

[2019-10-21 16:28] #15627 closed

[2019-10-21 16:29] geekgonecrazy commented on #15627
`snap refresh rocketchat-server --beta` to switch

[2019-10-21 16:31] J0kerFace commented on #15627
We just try this. But same error.

[2019-10-21 16:33] geekgonecrazy commented on #15627
looks like maybe you had 2.2.0-develop on edge and then we published 2.1.1 to edge.  Please use one of the community support methods for help.  [#ubuntu-snap](https://open.rocket.chat/channel/ubuntu-snap) being the easiest of these.

[2019-10-21 16:40] geekgonecrazy commented on #15538
Please stop using edge channel.  At least move to the beta channel.  Before final release of the snap to stable channel we do manual review of the snap.

[2019-10-21 16:42] geekgonecrazy commented on #15501
I believe we have been having some issues with Facebook and our oauth app.  I believe they have re-enabled it for us.  Please try again

cc: @renatobecker

[2019-10-21 16:42] #15501 closed

[2019-10-21 16:44] renatobecker commented on #15501
Yes, as @geekgonecrazy described, we were facing some issues with the Facebook integration, but now it's supposed to be working fine.

Please, try again.

[2019-10-21 16:54] geekgonecrazy commented on #15396
Taking a look at this.. it seems that this is a bug somewhere between the server running rocket.chat and your browser / plugin.  I can confirm you are getting this error when visiting that specific instance.  But tried several others as well as open.rocket.chat and Rocket.Chat its self is not bothered by this at all.

So this is more of a support issue than a product bug.

It looks like your proxy

[2019-10-21 16:58] geekgonecrazy commented on #15433
#533 - yes this is a super long running desire to be flexible.  I believe it is something we are working steadily towards.  The dependence on Meteor and Meteor not supporting it for sure made this harder.  As we move further away from Meteor this will become a bit more feasible.  I'd recommend staying tuned to issues like this so we don't have the issues fragmented

[2019-10-21 16:58] #15433 closed

[2019-10-21 17:00] LuluGO commented on #15627
rocketchat-server.mongo
rs0:PRIMARY> use parties
rs0:PRIMARY> db.migrations.update({}, {$set: {version: 161, locked: false}})

and restart rocketchat-server

[2019-10-21 17:01] geekgonecrazy commented on #15338
closing due to inactivity

[2019-10-21 17:01] #15338 closed

[2019-10-21 17:03] geekgonecrazy commented on #15335
Closing. Looks like question was sufficiently answered.

[2019-10-21 17:03] #15335 closed

[2019-10-21 17:10] geekgonecrazy commented on #15345
This would definitely do it. 👍

Closing since no further comment from author of issue

[2019-10-21 17:10] #15345 closed

[2019-10-21 17:13] geekgonecrazy commented on #15323
Its looking like with recent versions of Rocket.Chat its less of an issue (wiredtiger vs mmapv1).  So the recommendation against it will hopefully be lifted soon.

Closing as no further comment from comment author.  If any changes need made to doc please feel free to open a PR ( can start the process by clicking edit on the doc page ).  Or open an issue on the docs repo.

[2019-10-21 17:13] #15323 closed

[2019-10-21 17:15] geekgonecrazy commented on #15314
https://unix.stackexchange.com/a/93533 unfortunately looks like the workaround might be something like:
env "Search.chatpalProvider.HTTP_Headers=value" bash

[2019-10-21 18:48] geekgonecrazy commented on #601
Not currently using Matrix Protocol behind the scenes.  So currently only possible between Rocket.Chat workspaces.  My understanding is that we still plan to federate with Matrix.

I agree though we should close in favor of one tracking Matrix.  I'm not sure if we have one.  A quick search didn't yield a result

[2019-10-21 20:01] renatobecker commented on #15530
My suggestion is to disable the whole integration in both Rocket.Chat admin area as well on the Livechat Menu and then install it again, starting from the Rocket.Chat admin area.

Please, leave new comments here after running the full installation again.

[2019-10-21 20:30] #13173 closed

[2019-10-21 20:35] tassoevan commented on #6719
Which markdown parser (`Administration` > `Message` > `Markdown` > `Markdown Parser`) is causing this?

[2019-10-21 20:58] #9550 closed

[2019-10-21 22:04] tassoevan commented on #3551
Anything coming from Excel over clipboard has four MIME types:

1. `text/plain`;
2. `text/html`;
3. `text/rtf`;
4. `image/png`.

IMO having a `text/plain` content is sufficient to NOT use the `image/png` one since the message box doesn't support rich text, but (1) I'm not sure if there are users out there which like the option to paste an image from Office documents and (2) we need to ensure that

[2019-10-21 22:18] rajvaibhavdubey opened #15630 "Show/hide password on login and signup page"
There should be a feature to show/hide password on the login page.
![Screenshot from 2019-10-22 03-47-55](https://user-images.githubusercontent.com/33062425/67247387-d221d500-f47e-11e9-974e-dd4e10cb1443.png)

[2019-10-21 22:21] rajvaibhavdubey commented on #15585
@ggazzo are these two settings `Accounts_Default_User_Preferences_hideAvatars` and `Accounts_Default_User_Preferences_sidebasrHideAvatars` supposed to perform different tasks?
From what I found, I think these are duplicate variables for the same feature.

[2019-10-22 00:51] ggazzo commented on #15585
its a little bit messy buy yep, they are different, one is to hide avatars on the sidebar, the other hides on the room view

[2019-10-22 03:32] philn16 commented on #8989
I haven't figured out a workaround for KaTeX escaping the dollar sign for symbolic math as in below:

[code]

[2019-10-22 05:05] xackery opened #15633 "TypeError: Cannot read property 'getSystemIdleTime' of undefined at"
### Description:

TypeError: Cannot read property 'getSystemIdleTime' of undefined    at /Applications/Rocket.Chat.app/Contents/Resources/app.asar/app/preload.js:810

Spammed while the program is open on OSX

### Steps to reproduce:

go to inspector view, console tab on desktop version in OSX

### Expected behavior:

no errors

### Actual behavior:

errors

### Server Setup Information:

- Version

[2019-10-22 05:13] xackery opened #15634 "Allow notification change on OSX desktop exception"
### Description:

went to notification settings, tried to change them, crashed desktop client.
Exception in template helper: TypeError: Cannot read property 'split' of null
    at String.audioNotificationValue (https://chat.jrswab.com/9274be545f9963ddd9bbe3f87b3613110386d47d.js?meteor_js_resource=true:279:1086966)
    at https://chat.jrswab.com/9274be545f9963ddd9bbe3f87b3613110386d47d.js?meteor_js

[2019-10-22 05:18] xackery opened #15635 "Feature Request: Allow < > ignore opengraph links"
This is a behavior in discord, where you can embed a http link with < > wrapped to imply you want it to display without the openapi. E.g.:
<img width="992" alt="Screen Shot 2019-10-21 at 10 17 41 PM" src="https://user-images.githubusercontent.com/845670/67260523-a0921500-f450-11e9-823e-906a647b68f4.png">

Would be handy to add it in.

[2019-10-22 05:40] rajm opened #15637 "custom fields text area is not visible in the admin to enter"
### Description:

I am trying to add custom fields in the admin section for the user. but the text area is not being displayed when i check the css, display: none is set, also if i try the full screen mode also i am not the text area is not visible.

I have attached the screenshot below.

### Actual behavior:

![image](https://user-images.githubusercontent.com/72109/67261034-55ade700-f4bc-11e9-913

[2019-10-22 07:05] starso commented on #6719
Original one

[2019-10-22 07:52] jschirrmacher commented on #15314
Thanks for your reply and the hint of a workaround!
While this actually might help, I would propose to change the setting name nevertheless to make this workaround obsolete.

[2019-10-22 09:19] reetp commented on #601
At least somewhere to keep all the info and links together.

[2019-10-22 09:42] reetp commented on #15538
IOW as per Aarons comment Edge is really a development version for bleeding edge testing ONLY, and problems can and will be encountered.

Snaps are designed to be the most stable versions once released. They are not meant to be the most "up to date" versions.

If you want to track the current release then use Docker or a manual install instead of snaps which will always lag behind.

[2019-10-22 11:43] col-panic commented on #15132
Related https://github.com/RocketChat/hubot-rocketchat/issues/35

[2019-10-22 11:52] col-panic commented on #15132
For docker-compose, the environment variable NODE_TLS_REJECT_UNAUTHORIZED=0 does the trick of accepting self-signed certs. I don't think that this is a bug, but a regular feature.

[2019-10-22 12:25] reetp commented on #15571
Please note that this was a docker install, and not snap. Please don't conflate issues unless you are absolutely sure they are related. IT can just make things worse.

Snaps do their own thing with their Mongo db so I'm not sure what you would be doing attempting to modify Mongo unless you had been seriously hacking about in your snap, and I'm not sure what it has to do with this particular instal

[2019-10-22 12:49] ggazzo commented on #15617
I dont see it as a bug, its how the rocketchat works since we built it ...

[2019-10-22 12:54] rmcnabb3 commented on #15571
I received the exact same error from Mongo during my Snap upgrade that OP got in their Mongo logs, which caused Rocket.chat to fail in connecting to the Database...

"db_1   | 2019-10-13T18:08:09.241+0000 F CONTROL  [initandlisten] ** IMPORTANT: UPGRADE PROBLEM: The data files need to be fully upgraded to version 3.4 before attempting an upgrade to 3.6; see http://dochub.mongodb.org/core/3.6-upgra

[2019-10-22 13:10] skudi commented on #15494
Same on version 2.1.1. Also new integration created after migration (from 1.3.2) gives the same result.

[2019-10-22 13:19] reetp commented on #15571
You may have have done but it does not mean it is exactly related here, strangely enough.......

(I'm not sure what you are doing with snaps because I believe current stable is on 3.4.x so I can only presume that if you have comments about Mongo 3.6 you have been playing with Beta or Edge in which case you may well get issues. Upgrading the DB can be tricky. I am also not sure why you would be mes

[2019-10-22 13:20] MartinSchoeler commented on #15637
Not enough information provided. Please follow our issue template, knowing the server version would help a lot.

[2019-10-22 13:52] theftf commented on #15633
I See the same kind of errors with Server 2.1.1 and Desktop App 2.16.0.

[2019-10-22 14:01] b- commented on #15538
This all makes sense, but it makes me have to wonder why there's an Edge channel in the first place for the Snap, then.

My instance has two users, both of us are Admins and programmers — if it coughs up blood and dies I'm not going to cry a river, and I wouldn't say this is a "production system" in any sense further than that it's actually used regularly. I'm okay with the occasional problem, and

[2019-10-22 14:12] MartinSchoeler commented on #15170
Actually, if you go to `Administration -> Message`  you can change the time formatting on your server.
![Uploading Screen Shot 2019-10-22 at 11.10.51.png…]()

[2019-10-22 14:12] #15170 closed

[2019-10-22 15:18] ixaxaar commented on #11390
Same issue, on version `2.1.1`, no LDAP etc.

[2019-10-22 16:11] reetp commented on #15538
Because they need somewhere to test new snaps....... not just internally but externally too. These are developer channels, not for users. Hence they are not widely talked about because then every man and his dog will try upgrade to get some funky new feature and disaster will ensure in short order.

It doesn't come with any warranty whatsoever. Expect it to break and act accordingly

It should be

[2019-10-22 16:25] tassoevan commented on #13295
I'll close this issue by now, but feel free to reopen it if this bug comes back.

[2019-10-22 16:25] #13295 closed

[2019-10-22 16:47] MartinSchoeler commented on #11367
@mlocati @winterstefan @fais3000 Are you still having this issue on the latest releases? I could not reproduce this using the latest version. Thanks!

[2019-10-22 17:14] mlocati commented on #11367
Sorry, I moved to another chat system because of this issue

[2019-10-22 17:16] #12098 closed

[2019-10-22 19:00] MartinSchoeler commented on #11869
@danieljhochman @barak-haviv Have you had these issues on the latest versions? I could not reproduce this problem, also do you know what version of Edge this happens? Thanks!

[2019-10-22 19:02] danieljhochman commented on #11869
I'm not following this project anymore. Sorry.

[2019-10-22 19:17] MartinSchoeler commented on #11869
I'm sorry to hear that 🙁. If anyone experience this issue again, please open a new issue with updated details. Thanks!

[2019-10-22 19:17] #11869 closed

[2019-10-22 20:18] wreiske commented on #15484
Ahh I think the read receipts are still not working 100% of the time because we have rocket.cat in the channels. rocket.cat isn't reading the messages like it used to :'(

[2019-10-22 22:31] sylvaint opened #15647 "Amazon S3 File upload stopped working"
### Description:
File upload to Amazon AWS S3 stopped working.
Error 500
Seems it does not resolve s3.amazonaws.com from error log below
This has been working fine until today, no change in configuration.

### Steps to reproduce:
Try uploading a File

### Expected behavior:
File uploads to target AWS S3 bucket

### Actual behavior:
Error 500

### Server Setup Information:
- Version of Rocket.Chat

[2019-10-22 22:51] #15647 closed

[2019-10-22 22:51] sylvaint commented on #15647
host name server issue

[2019-10-22 22:54] reetp commented on #15484
On 2.1.1

Is that still true?

"Info" only shows the owner having read a group message even though they must have all read it.

[2019-10-23 03:02] rohitkatlaa commented on #15626
Hi, I am Rohit.
@MartinSchoeler  Can I try solving this issue?

[2019-10-23 03:14] tntho commented on #15621
Related issue #15069

[2019-10-23 06:54] gillbates commented on #15522
anyone from the team?

[2019-10-23 06:56] jschirrmacher commented on #6380
I can confirm this in RC 1.3.2 and Chrome 77 as well.
If it is not possible to actively set the timeout, the config entry should be removed.
An alternative could be to keep the notification open infinitely and let the user close it actively.

[2019-10-23 07:20] Wirone commented on #15484
We've updated to 2.1.1 and read receipts are working properly (information modal displays list of users who read the message), but as @wreiske said, bots cause that blue tick is not shown because they don't mark messages as read. Minor issue, but would be great if this could be fixed (maybe just ignore users with `bot` role when determining if tick should be displayed?).

[2019-10-23 08:10] skudi commented on #15494
I've added "value" to error mesage in ValidLinkParam function (app.js in bundle), and got result:
[code]
So the problem is that ValidLinkParam fails to validate relative URIs passed as image_url. They are provided by example calls in Integrations menu. I belive that relative URIs should be considered valid, or the example should generate absolute URL as "image_url:"

**Workaround**:
- remove image

[2019-10-23 08:27] winterstefan commented on #11367
Thanks for reaching out @MartinSchoeler !

I'm running Rocket.Chat `1.3.0` right now. Testing anonymous read with this version, I _can confirm, that the mentioned use case now works_ for me.
I was able to open the Rocket.Chat UI, open e.g. the `#general` channel and read the existing messages.

👍

[2019-10-23 09:50] reetp commented on #15522
Someone from the team has labelled it so it has been noted.

It will get looked at in due course but remember that this is Open Source.

It may be important to you, but not necessarily to them. It may get fixed, subject to their priorities.

Of course you can pay for support. Alternatively your pull request with a fix will always be welcomed.

Otherwise you will just have to be patient.

[2019-10-23 10:35] rolj commented on #12448
We have similar issue as there: https://github.com/RocketChat/Rocket.Chat/issues/12448#issuecomment-534975118
After investigating with Developer Tools, I see that RockerChat tries to connect following URL to port 80, instead of 3000:
`/__meteor__/dynamic-import/fetch`

As there is nothing on port 80 it fails and I can't get Setup Wizard. If I switch container to port 80 all is fine.
Not sure how t

[2019-10-23 12:21] rodrigok commented on #15484
Good catch @Wirone we will check this.

@wreiske are you sure that your rocket.cat was reading the messages before? The only way I can see this happening today is if you use the APIs to call the readMessages for the rocket.cat user manually via some integration or so.

[2019-10-23 12:45] wreiske commented on #15484
As it is right now with the latest 2.1.1 update.

When I go back to older messages that were sent during the 2.1.0 read brokenness, I only see one person, the original author. The check is blue.
![dQtmfkIXPF](https://user-images.githubusercontent.com/6295044/67392894-58b5df80-f56f-11e9-993b-a854f68c9dde.gif)

When I go back to older messages, BEFORE 2.1.0 read brokenness, I see everyone that had r

[2019-10-23 13:45] MathiasRenner commented on #15571
@reetp Thanks for your pointers! @rmcnabb3 Esp. with your tip, I got it fixed, thank you!

Then I did the following in a while loop, I am now running Mongo v4 latest!
- mongo --repair
- db.adminCommand( { setFeatureCompatibilityVersion: "3.4" } ) (in next loop -> 3.6)
- restart DB and App

[2019-10-23 13:45] #15571 closed

[2019-10-23 14:14] MathiasRenner commented on #14766
@ggazzo this setting was enabled.
I found the feature in the new version (now called "experimental"). A first test worked fine for me:
https://play.google.com/store/apps/details?id=chat.rocket.reactnative&hl=en

[2019-10-23 14:28] eeowaa commented on #10777
My RocketChat server admin has confirmed that we are at the latest version yet cannot export. He pointed me to this ticket as indication that we are stuck. That is all the information I have right now but just wanted to add my suspicion that this issue is not actually fixed.

[2019-10-23 14:46] ritwizsinha commented on #15626
I am already working on this issue when I created it , could you please find some other issue @rohitkatlaa ?

[2019-10-23 14:48] ritwizsinha commented on #15604
@MartinSchoeler can I work on this ?

[2019-10-23 14:51] himpich commented on #10777
It is working on my end now. I configured the correct path and removed the export-jobs from the mongo db. New jobs ran through.

[2019-10-23 14:52] reetp commented on #10777
For others can you please post how you did that? Thanks.

[2019-10-23 15:01] himpich commented on #10777
start your mongo client and connect

use correct database:
[code]

Verify there is some export operations data:
[code]

remove it:
[code]

re-verify that the table (or whatever it is called in mongodb) is now empty.

Good luck

[2019-10-23 15:24] reetp commented on #10777
Not sure that is quite right !

[2019-10-23 15:39] tmanaud commented on #14169
Rocket.chat App 2.15.3
Ubuntu 19.04

Still no possibility to copy **from** chat dialog any attachment: image, etc...
I think its a major hassle

[2019-10-23 16:29] reetp commented on #10777
Still not sure this is fixed. v 1.2.1 docker.

First, it shouldn’t leave old exports blocking up the system but it clearly has.

Second, to try and get over this I deleted out the old keys as per the above comments. That throws errors as per this:

[code]

Full log: https://pastebin.com/Fq7q3N7t

I then tried adding one html and one json export for my user.

It puts the new file paths in the setti

[2019-10-23 16:43] jdavis7718 commented on #14756
This behavior has returned with Rocketchat 2.0.0   Appears to work first the first time video chat, but follows up don't work anymore regardless of rebooting jitsi or rockethcat

[2019-10-23 16:45] jdavis7718 commented on #14758
Just checking in on this bug if there has been any updates to help.  Currently running rocketchat 2.0.0

[2019-10-23 16:46] rohitkatlaa commented on #15626
Ok, Since no one was assigned I thought it was unclaimed. My bad.

[2019-10-23 16:59] MartinSchoeler commented on #12362
This was probably fixed on the latest versions since I can't reproduce it. If you experience this issue again, please reopen this. Thanks!

[2019-10-23 16:59] #12362 closed

[2019-10-23 17:00] MartinSchoeler commented on #12639
Fixed in the latest releases. If the issue happens again, please reopen this. Thanks!

[2019-10-23 17:00] #12639 closed

[2019-10-23 17:02] MartinSchoeler commented on #11367
@winterstefan Awesome! Thanks for testing this out! I will close this issue then.

[2019-10-23 17:02] #11367 closed

[2019-10-23 17:10] eengstrom opened #15653 "ctrl-k/cmd-k should NOT bring up search dialog; instead, should kill current input"
### Description:

Current desktop client behavior for `ctrl-k` (or `cmd-k`) brings up the channel search dialog.  The problem is that key sequence in most other applications, including web browsers, would normally kill the current input.  My typical usage is to `ctrl-a + ctrl-k` to kill what I was typing and start over.

If we can't change this default, ideally, there would be a way to specify dif

[2019-10-23 17:31] MartinSchoeler commented on #13758
I cannot reproduce this using 2.1.0, this was probably fixed by the messagebox refactor. I will close this for now, if you see this issue again, please reopen this. Thanks!

[2019-10-23 17:31] #13758 closed

[2019-10-23 20:04] rodrigok commented on #15484
@wreiske not sure if [this](https://github.com/RocketChat/Rocket.Chat/pull/15656) will help. I could not reproduce your case of having a message marked as read with just a few participants.

[2019-10-23 22:41] tuxity opened #15659 "Slack large import fail"
### Description:

When importing a large ZIP file (1.3G) downloaded from Slack, from either an http url or local path, server trigger an exception.

### Steps to reproduce:

Try to import a large Slack backup with a remote http url or from a local path

### Expected behavior:

Start parsing json files

### Actual behavior:

RocketChat console print an error

### Server Setup Information:

- Versio

[2019-10-24 04:09] mrjavum commented on #10170
I have the same problem as ybshin. Only 2 customfields can work now. If I change the fields LDAP relations it breaks the correct work of custom fields and sync. I need to unset "customFields" in mongodb directly for users. And after that LDAP sync is working again.

Version 2.1.1

[2019-10-24 07:10] Wikinaut opened #15660 "[Suggestion] List of users: show also current user (remove exception)"
As a new user of RC, I am very annoyed that my own user name is not listed. Other messenger systems like Slack and Mattermost do not suppress the own name in the list of users (purpose: quick access to one own's handle).

Therefore I suggest to remove the exception:
https://github.com/RocketChat/Rocket.Chat/blob/7164a2db7a6c8fec63ac2941fa762bdabab9af5c/server/methods/browseChannels.js#L103

and to

[2019-10-24 08:18] col-panic commented on #10420
How may I found out what API commands the web preference setting is sending? Can't I use some way by setting over API activating this oauth connection? Anybody?

[2019-10-24 09:43] reetp opened #15662 "Proper names reverting to username in thread"
Rocket.Chat 2.1.1 Docker (checked on two instances)

Just noticed this morning when I click on a thread the 'Real' names are getting changed to usernames.

The name of the thread creator stays the same, but any one else in the thread gets changed to username.

Bit of video to demonstrate - notice in the right pane when I click on Replies - you can see the name change (I hope)

Seems to have occurr

[2019-10-24 10:08] reetp opened #15663 "[GDPR] Cron jobs for User data export wedged"
This refers:
https://github.com/RocketChat/Rocket.Chat/issues/10777#issuecomment-545527860

After the update to 2.1.1 I noticed that data exports still did not work.

I checked in Mongo and it appears there were jobs still 'pending'. These should have been cleared by the system.

These are some existing jobs on my main v2.1.1 server. They should have been cleared:

![ExistingJobs](https://user-ima

[2019-10-24 10:09] reetp commented on #15663
https://github.com/RocketChat/feature-requests/issues/135

[2019-10-24 10:42] reetp commented on #15660
Please fill in a bug template to properly describe the issue.
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Which version are you on? And where does this occur?? Searching in a channel list?

Don't get annoyed. It doesn't help any one.

Remember, it may be annoying to you, but not necessarily to others. So making things switchable, and not forcing a change for people

[2019-10-24 10:47] reetp commented on #15663
Ahh - just seen this - I presume this fixes 'wedged data' ?

https://github.com/RocketChat/Rocket.Chat/pull/15654

Not sure it is going to fix my DB errors though :-/

[2019-10-24 10:50] Wikinaut commented on #15660
@reetp Where can I find the version information, it's not apparent on https://rocket.events.ccc.de .

Regarding where the (own) account is not shown for the owners themselves:
It's the "Verzeichnis" list of users:

![grafik](https://user-images.githubusercontent.com/1151915/67478656-c1c75100-f65c-11e9-86ad-f8a362bcf8c0.png)

![grafik](https://user-images.githubusercontent.com/1151915/67478663-c68c

[2019-10-24 11:23] arslan95 commented on #15018
Same issue :/

[2019-10-24 11:28] Shaverdoff commented on #15018
Version 2.1.1 – still echo on any webrtc

--

Gerasim Shaverdov | Deputy CTO | Altarix

Mobile:  <tel:+7%20937%20070%2066%2084> +7 937 070 66 84 | Skype/email:  <mailto:gerasim@altarix.ru> gerasim@altarix.ru
Lenina av.25, Samara, Russia, 443068

From: arslan95 <notifications@github.com>
Sent: Thursday, October 24, 2019 3:24 PM
To: RocketChat/Rocket.Chat <Rocket.Chat@noreply.github.com>
Cc: Шавердо

[2019-10-24 12:06] reetp commented on #15660
You need to be an admin. It is the first page in Administration.

Not something I was ever aware of or needed personally.

As I said, make it 'switchable' but also note there may be a good reason why it is the way it is.

[2019-10-24 12:50] rodrigok commented on #7115
@reetp this expiration of notifications are already on track, we are going to do it in our notifications refactor soon, where we have plans to change the behavior, once we finish the spec we will share.

[2019-10-24 15:30] bbrauns commented on #11082
Getting the same with docker image: `rocketchat/rocket.chat:2.1.1`:

[code]

[2019-10-24 15:50] silvaalves03 opened #15664 "rocke-chat local Não deixa alterar foto do avatar. Versão 2.1.0"
Não estou conseguindo alterar foto do avatar. Faz duas semana que isso ocorreu.

@sampaiodiego

[2019-10-24 15:52] wreiske commented on #15621
I think this is related to OpenLdap and not RC.

From: https://www.openldap.org/faq/data/cache/157.html

--
This error will also occur if you try to add any entry that the server is not configured to hold.For example, if your database suffix is "dc=domain,dc=com" and you attempt to add "dc=domain2,dc=com", "dc=com", "dc=domain,dc=org", "o=domain,c=us", or an other DN in the "dc=domain,dc=com" subt

[2019-10-24 16:25] silvaalves03 commented on #15664
Problema foi resolvido. Atualizei o aplicativo resolveu.

[2019-10-24 16:41] d-gubert commented on #15664
Please post issues in English - not everyone in this community understands Portuguese :)

[2019-10-24 16:41] #15664 closed

[2019-10-24 17:14] dusatvoj commented on #15621
- I'm using OpenLDAP on Debian linux.
- It's not empty but now we are setting up mapping you wrote ( #14278 ).

LDAP Search not working for me:
[code]

Our "base" object looks like this:
[code]
... so I've found an error but I don't know how to fix it.

Thank you @wreiske for help.

[2019-10-24 17:21] silvaalves03 commented on #15664
Sorry!

[2019-10-24 18:31] geekgonecrazy commented on #7425
Ok so push notification privacy does not apply to email notifications.  Please feel free to open a new issue about email privacy settings as they are two different things

[2019-10-24 18:33] #7425 closed

[2019-10-24 18:35] #7439 closed

[2019-10-24 18:37] theorenck commented on #7393
On the current version, the behavior is fixed, please let us know if you're still having this problem. Thanks.

[2019-10-24 18:37] #7393 closed

[2019-10-24 18:40] theorenck commented on #7378
@d-gubert the guys on the issue triage want you to assess the relevancy of this one as a possible app.

[2019-10-24 18:40] #7367 closed

[2019-10-24 18:41] theorenck commented on #7351
explain and close

[2019-10-24 18:41] #7351 closed

[2019-10-24 18:42] theorenck commented on #7344
Hey @brunosquadros do you think this makes sense considering the compact model as a whole? If you do please let @ggazzo know. Thanks.

[2019-10-24 18:44] theorenck commented on #7313
@MarcosSpessatto can you take a look at this one and see if it's still a problem?

[2019-10-24 18:50] silvaalves03 opened #15665 "When uploading a file in rocket-chat, it does not load. V 2.1.0"
![rocket chat](https://user-images.githubusercontent.com/40240946/67515873-eed42d80-f675-11e9-8fb9-0ada8cc16458.png)

[2019-10-24 21:12] reetp commented on #15665
Please follow all thid and write out your server details and some log details as per the template.  Help the developers to help you, assuming it isn't a configuration issue.

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Before going too far I would check your proxy settings and your websocket.

You can find out how to do that here:
https://open.rocket.chat/channel/s

[2019-10-24 21:16] marcinkorzycki commented on #15471
+1 on 2.1.1

[2019-10-24 21:25] waiting-for-rocketchat-fixes commented on #15471
Same here at my instance ;( 2.1.1

[2019-10-24 21:55] antgel commented on #12247
And again tonight. Anyone from the RC team interested in this? By the way @geekgonecrazy , looking at my original message, I think there are two different issues:

1. Mentions in HTML don't get parsed.
2. No way to tweak webhook to notify all in the case where we can't control the incoming text e.g.
![image](https://user-images.githubusercontent.com/295571/67528410-118c3380-f6c2-11e9-8c18-04dbe919

[2019-10-25 01:24] GoetheG commented on #4957
Well. I guess that issue has to be reoened since it‘s not working anymore.

[2019-10-25 02:00] 564064202 opened #15668 "Channel name does not support Chinese char"
When I wanted to create a chat room, I found that I could not input Chinese；
Hope PM could improve as soon as possible, thanks!

![image](https://user-images.githubusercontent.com/12368358/67537519-52119e80-f70e-11e9-84cd-d3d053c39414.png)

[2019-10-25 04:46] bidhan-a commented on #1528
Hello,

It doesn't seem like it's possible to post messages to private groups via the REST API.

I can post to public channels using the following API -  https://rocket.chat/docs/developer-guides/rest-api/chat/postmessage/ . But I when I try to post to a private group, it returns an `[invalid-channel]` error.

Is there a separate route that allows posting messages to private groups?

Thanks

[2019-10-25 05:34] col-panic commented on #10420
@MarcosSpessatto sorry to cold call you into this ticket, don't know where to ask this. Is there a way to finance a solution to this ticket for the next release?

[2019-10-25 06:57] ppcat opened #15669 "Custom emoji name and alias cannot use utf-8 encoded characters"
### Description:
I cannot upload custom emoji file in utf-8 encoded characters(Chinese for example), but it used to be worked before. The name and alias will be translated to some encoded string automatically.

### Steps to reproduce:

1. Go to 'Administration -> Custom Emoji'
2. Click on 'Add New Emoji' button
3. Fill in the name and alias field in Chinese ('火箭' for example)
4. Click on 'Choose F

[2019-10-25 07:33] 564064202 opened #15670 "Does Community Version support 1W+ pepole,and why ?"
Does Community Version support 1W+ pepole,and why ?

[2019-10-25 07:37] tars21 opened #15671 "Unread message counter does not disappear sometimes"
### Description:
The unread message counter next to the username or channel does not disappear sometimes.
It takes up to several minutes and / or many clicks into the channel or click to the menu and _mark [as] read_.
This error is not constantly reproducable, different channels are affected for every user.

### Steps to reproduce:
1. Get any message in a channel
2. Open the unread chat conversati

[2019-10-25 07:53] reetp commented on #15670
@rocket-cat close

Closing notabug.

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

This seems to be a setup/support issue.

Please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

[2019-10-25 07:53] #15670 closed

[2019-10-25 08:34] reetp commented on #4957
Please search all the issues both and closed:

https://github.com/RocketChat/Rocket.Chat/pull/15656
https://github.com/RocketChat/Rocket.Chat/issues/15484

[2019-10-25 08:40] rjozwiak commented on #15471
+1 on that

[2019-10-25 08:48] reetp commented on #10420
I know you are desperate but please don't keep adding people in as it gets annoying. Those who need to know already do.

This is Open Source. It will get done when it is done. If you have a support contract you can contact Rocket directly.

You can also look at a bounty here:

https://github.com/RocketChat/Rocket.Chat#donate

[2019-10-25 08:54] #15671 closed

[2019-10-25 08:58] tars21 commented on #15671
Thank you. I did, but I expected something with "counter" in the issue name ;-)

[2019-10-25 10:35] lehrhardt commented on #15471
Updated to 2.1.x this week and seeing this with our user base as well. There is not a really clear pattern when this happens. Our user notice this problem with browser and client on different os.

Pressing "ESC" in the rooms, fixes the problem here too.

[2019-10-25 12:45] goaround opened #15672 "Feature Request: Message Action Button for Threads and more?"
The threads feature is extremely helpful to respond to a message but its always a pain for me that I need two clicks to start a new thread. I think it would be a helpful feature to add an Action Button beside the current emoji button (and more?) like slack does it:

![grafik](https://user-images.githubusercontent.com/5927337/67572130-e04d4b00-f735-11e9-950a-928824309e0c.png)

![grafik](https://use

[2019-10-25 12:57] antkaz commented on #15672
I can do it

[2019-10-25 13:02] spanchy opened #15673 "LDAP Group Sync issue"
### Description:

When LDAP groups and "automatic removal of users from channels are synchronized" to "true", existing users in channels are deleted and added again + new employees. And so constantly, in a circle, every synchronization.

### Steps to reproduce:

1. go to settings LDAP > Sync and enable ldap group sync
2. Click set automatic removal of users from channels are synchronized to True
3

[2019-10-25 13:20] goaround commented on #15672
@antkaz awesome!

[2019-10-25 14:40] marianotribuj opened #15674 "What does RC do when someone Reports a message?"
Hello! I'm trying to find what is the server doing when a user "reports" a message. The API is correctly called from the app. I can see the "report" is inserted on the "reports" table.
But I can't find any way for the moderator of the group (or an admin in general), to actually receive those "reports" (to be able to do something, like remove the message, kick the user out, etc...).
Is it an unimpl

[2019-10-25 15:13] marianotribuj commented on #15674
Disregard my issue... I've just found the PR: [PR14347](https://github.com/RocketChat/Rocket.Chat/pull/14347)

[2019-10-25 15:13] #15674 closed

[2019-10-25 15:22] eengstrom commented on #15653
I'm going to close my own ticket since this looks to be subsumed by #6374

[2019-10-25 15:22] #15653 closed

[2019-10-25 15:23] eengstrom commented on #6374
Happy to see that @rodrigok marked this as planned, but where is the design or discussion for the new features being discussed?

[2019-10-25 15:51] LuluGO commented on #15485
Does this change if you add the other members of the replicaset to the hosts files?

[2019-10-25 17:49] ritwizsinha commented on #15617
Ok, fine then closing this issue

[2019-10-25 17:49] #15617 closed

[2019-10-25 18:08] seanhostdime commented on #15551
Okay, I see the issue. I think I can wrap the cursor that gets returned from a database query in a class which supports pagination on the Rocket.Chat side. When I do this, I will also need to change the interface type on the Rocket.Chat Apps engine side. Currently it expects an `IterableIterator` which, as far as I can tell, doesn't expose any kind of pagination methods. So, even if the concrete t

[2019-10-25 21:19] ggazzo commented on #3223
@timtheguy go ahead any help just ask

[2019-10-25 21:24] ggazzo commented on #12743
I'm quite confident we already fixed this issue, any problem please reopen,

[2019-10-25 21:24] #12743 closed

[2019-10-25 21:36] ggazzo commented on #12479
please test it again... any problem let me know

[2019-10-25 21:36] #12479 closed

[2019-10-25 21:38] #12028 closed

[2019-10-25 21:47] #11320 closed

[2019-10-25 21:49] ggazzo commented on #10992
fixed, any problem let me know

[2019-10-25 21:49] #10992 closed

[2019-10-25 21:53] #8770 closed

[2019-10-25 21:56] ggazzo commented on #8684
@xWyatt  is still an issue? please let me know

[2019-10-25 21:56] #8684 closed

[2019-10-25 22:01] #6211 closed

[2019-10-25 22:03] ggazzo commented on #5898
fixed

[2019-10-25 22:03] #5898 closed

[2019-10-25 22:05] ggazzo commented on #4141
fixed :)

[2019-10-25 22:05] #4141 closed

[2019-10-26 02:24] tassoevan commented on #15668
We can't help you because you have not filled in a proper bug template.

First read this:
https://rocket.chat/docs/contributing/reporting-issues

Then use this as a template:
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Thanks!

[2019-10-26 13:24] mes85 commented on #14910
Affects my installation on 1.3.2 and 2.1.2

I think it is an interesting fact, that if you set a channel to read-only and default, a completly new user will auto-join the channel on registration and be muted. This would in my opinion be the default behavior if someone [an already existing user] joins a read-only channel.

[2019-10-26 13:46] col-panic commented on #10420
@reetp No intention to do so. Thank you very much for the link/information - I opened a bounty on this ticket. I use and value open source very much, that is why I contribute - and yes also to rocketchat; see https://github.com/baloise/rocket-chat-rest-client

[2019-10-26 20:19] Tom-Development commented on #2044
Do we have anymore updates on this functionality?

[2019-10-27 11:37] #14324 closed

[2019-10-27 18:45] betz commented on #4108
I also think this would be a nice feature. coming from the matrix world, where rooms can have multiple aliases, missing it. subscribing

[2019-10-27 19:58] rrader92 opened #15682 "LiveChat client end not updating automatically"
Hello, I have installed RocketChat on Centos 7.7 and have it on an Apache SSL Reverse Proxy. Regular chat works just fine but I am having issues with LiveChat. On the client side I get the following issue.

WebSocket connection to 'wss://chat.commercialloandirect.com//websocket' failed: Error during WebSocket handshake: Unexpected response code: 400

and then

WebSocket is already in CLOSING or CL

[2019-10-27 21:14] rrader92 commented on #15682
figured it out, It was an issue with my apache config. Closing now.

[2019-10-27 21:14] #15682 closed

[2019-10-28 01:07] 564064202 opened #15684 "Channel name does not support Chinese char"
### Description:

### Steps to reproduce:

Create a channel name with Multibyte character just like Chinsese

### Expected behavior:

### Actual behavior:

![image](https://user-images.githubusercontent.com/12368358/67645208-343c7780-f962-11e9-9b4a-1ca89b242815.png)

### Server Setup Information:

lastest snap version

### Client Setup Information

chrome lastest  version

### Additional context
n

[2019-10-28 01:29] #14450 closed

[2019-10-28 01:30] #15634 closed

[2019-10-28 01:32] #14078 closed

[2019-10-28 05:50] rajm commented on #15637
this is the rocketchat version installed on the server

{"version":"2.1.0-rc.0","success":true}

[2019-10-28 06:03] antkaz commented on #15637
@rajm check settings https://github.com/RocketChat/Rocket.Chat/issues/15497#issuecomment-541310377
This problem may occur in such a case.

[2019-10-28 07:45] antkaz commented on #15672
![threads](https://user-images.githubusercontent.com/19654261/67660494-b8055c80-f980-11e9-8436-b4bf4ae57ffc.gif)

[2019-10-28 10:53] bmduarte opened #15686 "Endless RangeError: Maximum call stack size exceeded in logs"
Lately rocketchat keeps crashing and requires a reboot to work again.
After checking the logs, this error keeps appearing:

RangeError: Maximum call stack size exceeded

Out 28 10:51:17 rocketchat rocketchat-server.rocketchat-server[2540]: Exception in setInterval callback: SwitchedToQuery {}
Out 28 10:51:18 rocketchat rocketchat-server.rocketchat-server[2540]: Exception in defer callback: RangeEr

[2019-10-28 12:28] rajm commented on #15637
Thankyou it solved the issue... my bad

[2019-10-28 12:57] sebthom opened #15687 "[Feature Request] Display discussions below parent rooms"
Would be great if discussions could be displayed as child entries below the rooms they inherit from, similar to Zulip

![room_discussion](https://user-images.githubusercontent.com/426959/67679212-e2f3ae80-f988-11e9-9997-f75733f54e6a.png)

This way it is easier to know the wider context of a discussion.

It would also be good if there were seoncd option to prefix discussions with the parent room na

[2019-10-28 13:42] MartinSchoeler commented on #14768
After some extensive testing, I could not reproduce this. Please reope this with updated details if you are still facing this issue. Thanks!

[2019-10-28 13:42] #14768 closed

[2019-10-28 14:01] xWyatt commented on #8684
@ggazzo I cannot replicate the issue any longer- it is not a further issue.

Thanks!

[2019-10-28 14:23] MartinSchoeler commented on #485
With the new UI this problem was fixed, If you think I'm closing this in error, please reopen this. Thanks!

[2019-10-28 14:23] #485 closed

[2019-10-28 14:33] MartinSchoeler commented on #8712
I could not reproduce this in the latest release, so I am going to close this issue. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks!

[2019-10-28 14:33] #8712 closed

[2019-10-28 17:18] #3551 closed

[2019-10-28 17:48] #13881 closed

[2019-10-28 19:16] #5434 closed

[2019-10-28 21:00] ggazzo commented on #15686
@bmduarte could you provide your server version , OS and how you deployed(docker, snap) ? thanks

[2019-10-28 21:02] acomputerwiz opened #15692 "make file:/// urls show up as links"
For example https://example.com will show up as a link but:

`file:///P:\Phones\Bills\1222.pdf`

For example does NOT show up as a clickable link, even though it is valid syntax for a link.

[2019-10-28 21:30] benkroeger commented on #11647
This request would be solved with #15690
use `{{/^(.+)@/::upn}}` as value in the `usernameField` configuration. It will extract whatever is in the `upn` field before the `@` character

[2019-10-29 06:55] tammer123 opened #15693 "OAuth pulled info."
Hello,

Is there a way to get both first name and family name to the Name field? OAuth I'm using gives me both, but I can't find a way to get them both.
And another things is : Is there a way to get E-Mail field added or filled by itself as well. Again, my OAuth gives the info.

[2019-10-29 07:40] antkaz commented on #12655
Hello.
Import works very poorly. I'm trying to import a small file, but as a result I get an error. Even when I try to import the file above, I get an error. After several attempts, the file can be downloaded, but preparing is empty.
Also after import I tried to import again, but I see it
![image](https://user-images.githubusercontent.com/19654261/67746889-46ddac00-fa49-11e9-94cb-256ebc2b1f70.png)

[2019-10-29 07:51] igor523 commented on #12655
It's really amusing to see, that bug, that i reported 11 months ago with really simple steps to reproduce (and in that time i already switched to another job where they don't use rocket chat, lol) is still there, open and beign confirmed by @antkaz ... Okay...

[2019-10-29 09:58] 564064202 commented on #15684
why nobody

[2019-10-29 09:58] 564064202 commented on #15684
any body here?

[2019-10-29 09:58] 564064202 commented on #15684
someone here?

[2019-10-29 10:51] benkroeger commented on #15693
once #15690 landed, this can be achieved like so:
`nameField: '{{first_name}} {{last_name}}'`
`emailField: '{{first_name}}.{{last_name}}@foo.com'` or e.g. `emailField: 'upn'` (if your email value is provided in the `upn` property

[2019-10-29 10:56] tammer123 commented on #15693
But right now in the Custom OAuth section I only see 3 fields : Username, Name Field and Avatar Field, but no email field. How can I get the emailField in there?

[2019-10-29 10:57] benkroeger commented on #15693
you can't. #15690 also adds the emailField feature

[2019-10-29 11:13] #15693 closed

[2019-10-29 11:21] MathiasRenner commented on #14466
@SeeSharpist

I was able to install Poll, when using the latest release, not the latest master as zip: https://github.com/sampaiodiego/rocket.chat.app-poll/releases

[2019-10-29 13:43] #15668 closed

[2019-10-29 13:48] MartinSchoeler commented on #15684
This is more likely a setting not set properly set than a bug, please make sure that the setting `UTF8 Names Validation` under `Administration -> General -> UTF8` has a valid regexp value.

Thanks!

[2019-10-29 13:48] #15684 closed

[2019-10-29 15:19] rajvaibhavdubey commented on #8500
@ggazzo The PR asssociated with the issue has been stale since January, can i take this up?
ThankYou :smile:

[2019-10-29 15:26] rajvaibhavdubey commented on #15662
@MartinSchoeler @reetp I would like to take this up.
Thankyou :smile:

[2019-10-29 16:04] ritwizsinha opened #15695 "The emojis doesn't show up when used with a dot after a sentence"
### Description:
Whenever I write a sentence and end it with a full stop and try to attach an emoji to it then the emoji
doesn't render and only the the text emoji shows up .

### Steps to reproduce:

1. Write a sentence and end it with a  "."
2. Attach an emoji without a space
3. Send the message and observe that the emoji doesn't render on the chat

### Expected behavior:

The emoji should rende

[2019-10-29 16:22] darkpal commented on #11570
Still not implemented? pfff

[2019-10-29 17:10] qhu91it opened #15696 "Manual config push notification"
I have a question about config key for push notification, in ios generator key string like
[code]
Do I need copy all?
![Rocket chat push config](https://i.imgur.com/dLIxeCs.png "Rocket chat push config")

[2019-10-29 18:55] ritwizsinha commented on #15588
@MartinSchoeler  can I work on this ?

[2019-10-29 19:27] mes85 commented on #15057
Hi all,

I agree with @kendrickluong that the naming in the admin panel is misleading. It is not mentioned in the admin interface, that another channel might by specified.
Only by going through the issues here I realized that a channel parameter can be given. Until then I expected the channel to be enforced, if not changed within a script part of a webhook.

I vote to have settings in the webhook

[2019-10-29 19:49] mes85 opened #15697 "Documentation for Debian manual - systemd unit file wrong"
### Description:

I am refering to the Debian manual installation documentation, URL: https://rocket.chat/docs/installation/manual-installation/debian/
In the systemd unit file on that page the line `After=` contains errors. It refers to targets, where services are meant.

### Steps to reproduce:

1. Follow the installation
2. Reboot your Linux server
3. Test Rocket.Chat

### Expected behavior:

R

[2019-10-29 21:36] DillFrescott opened #15698 "Is there a friends list?"
I'm new to this sorry

[2019-10-29 22:10] #15585 closed

[2019-10-29 22:22] reetp commented on #15662
Clearly a regression. Hopefully you can find it.

[2019-10-29 22:29] reetp commented on #15696
@rocket-cat close

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

This seems to be a setup/support issue.

Please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

 Please also be aware of this:

https://rocket.chat/2019/10/11/moving-mobile-apps-to-react/

[2019-10-29 22:29] #15696 closed

[2019-10-29 22:30] reetp commented on #15698
@rocket-cat close

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

Please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

[2019-10-29 22:30] #15698 closed

[2019-10-30 07:32] cronberry commented on #15696
@qhu91it

Please see demo video for better push notifications services: https://www.youtube.com/watch?v=7F9XUshJTKo
This will resolve all issues of push notification.
For more details, please visit, www.cronberry.com

[2019-10-30 07:39] Gummikavalier commented on #15471
I think that when somebody starts writing on the currently open channel ('xxxxx is typing...' when it wasn't there already at which point that may stuck too I think), or when some other channel gets a new message, and its position or message amount is changed on the left pane, both of these seem to clear up the unread status of the channel as well. The other two being clicking any other tab or bri

[2019-10-30 10:38] splattner commented on #15470
I still see this with version 2.2.0

[2019-10-30 12:22] haprodev opened #15701 "Problem: How to integrate Active Directory LDAP users in rocketchat"
After the sync process is approved, the usernames in LDAP or Active Directory will not sync with the Chat Rocket Users Panel, and no Users in ldap(active directory) will be transferred to the Chat Rocket Users Panel.

**According to this guide:**
https://www.youtube.com/watch?reload=9&v=H8C5_ujWm2c
Rocket.Chat #10 How to integrate Active Directory LDAP users in rocketchat

**information ROCKET.CHA

[2019-10-30 13:11] reetp commented on #15701
@rocket.cat close

This appear to be a configuration/support issue rather than a bug.

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

Latest is 2.2.0 - please test there first.

If you have questions or are looking for help/support please see: https://rocket.chat/docs/getting-support

[2019-10-30 13:18] #15701 closed

[2019-10-30 13:25] ulope commented on #8115
Duplicate of #8564

[2019-10-30 14:01] #15293 closed

[2019-10-30 15:45] bkraul commented on #15613
By the way, I do not know for sure if this is related, but this seems to be affecting clipboard pastes, where they show as broken/empty images.

[2019-10-30 16:39] winterstefan commented on #15378
Anybody can confirm that or give a hint how to work around this issue?

[2019-10-30 16:46] pierre-lehnen-rc commented on #12655
@antkaz what version of Rocket.Chat are you using? I've tried the zip file attached in a comment above and it's working properly on the current version.

[2019-10-30 19:04] pierre-lehnen-rc commented on #7313
Fixed by #13452

[2019-10-30 19:04] #7313 closed

[2019-10-30 20:27] pierre-lehnen-rc commented on #8943
This issue was left here for two years without attention, but SAML is working on the electron app these days, so I'm going to close it.

[2019-10-30 20:27] #8943 closed

[2019-10-30 20:29] pierre-lehnen-rc commented on #9413
This feature was added on Rocket.Chat version 2.1.0

[2019-10-30 20:29] #9413 closed

[2019-10-30 20:39] pierre-lehnen-rc commented on #8081
I'll assume this one was either a misconfiguration or something that has already been fixed, as SimpleSAMLphp works perfectly well with Rocket.Chat now.

[2019-10-30 20:39] #8081 closed

[2019-10-30 20:45] pierre-lehnen-rc commented on #11321
This error was fixed at some point since it was originally reported, so I'm going to close the issue. If you run into any other bug please let us know.

[2019-10-30 20:45] #11321 closed

[2019-10-31 01:18] jcatarino commented on #14168
It is available on the API so should be a simple implementation and very useful. I'd suggest on the Users page inside Administration.

[2019-10-31 01:20] jcatarino commented on #12396
+1

[2019-10-31 01:21] jcatarino commented on #14411
This permission could be implemented in the permission refactor maybe?

[2019-10-31 09:22] krf commented on #15471
Still a problem in 2.2.0. No clear pattern when it happens, to be honest.

[2019-10-31 09:58] baurmatt opened #15705 "Add an API call for updating integrations"
It's currently possible to create/history/list and remove an integration with an API call. But not to update it.

https://rocket.chat/docs/developer-guides/rest-api/integration/

It would be create if this would be possible.

[2019-10-31 10:14] bmduarte commented on #15686
Hi @ggazzo

It's a snap based deploy:

Version - 1.3.2
App Engine Version - 1.5.2
DB Migration - 149

[2019-10-31 12:09] ankar84 commented on #14871
Wait for it!

[2019-10-31 12:45] ankar84 commented on #2737
@engelgabriel @rodrigok any updates about that security issue?

[2019-10-31 13:03] renatobecker opened #15706 "Error attaching file in unsubscribed rooms"
When a Livechat Manager enters in an unsubscribed room through the `Current Chats` template and attaches a file, an error is raised:

<img width="1461" alt="Screen Shot 2019-10-31 at 09 55 04" src="https://user-images.githubusercontent.com/2067649/67948794-3d794e80-fbc5-11e9-9613-0be00718f964.png">

This is happening because of the Livechat Managers have full access to all Livechat rooms, even wit

[2019-10-31 13:28] davisbra opened #15708 "can't log in with Ldap users"
I configure Ldap on rocket chat and my LDAP users sync correctly by my rocket chat users but I can't log in to rocket chat with LDAP user.
what can I do?

[2019-10-31 14:03] reetp commented on #15663
Still exists in 2.2.0 because the fix does not appear to have been merged.

[2019-10-31 14:15] reetp commented on #15663
(Just so I remember, and for reference, these are previous attempts at fixes)

https://github.com/RocketChat/Rocket.Chat/issues/14143
Error: ENOENT: no such file or directory, mkdir '/tmp/userData/hYHbjXWQMSRMu2szG/full'
Fixed in
https://github.com/RocketChat/Rocket.Chat/pull/15294

https://github.com/RocketChat/Rocket.Chat/issues/10777
Exception while invoking method 'requestDataDownload' Error:

[2019-10-31 15:37] nealgist commented on #5772
Hi there, is there any update on this? Unfortunately the _botpress-channel-rocketchat_ is several versions behind botpress now.

[2019-10-31 16:17] reetp commented on #15708
@rocket-cat close

This repo is for issues/bugs in Rocket.Chat not support.
https://rocketchat.github.io/docs/contributing/reporting-issues/

You should read this.
https://rocket.chat/docs/getting-support/

https://forums.rocket.chat/
https://open.rocket.chat/channel/support

[2019-10-31 16:17] #15708 closed

[2019-10-31 16:58] ritwizsinha opened #15710 "The preferences section in the settings reloads on clicking save changes even when there is no change"
### Description:
Even when no change is done on the preferences section it still reloads .
### Steps to reproduce:

1. Go to account settings
2. Go to preferences and click on save changes without making any change
3. The application reloads

### Expected behavior:
The application should not reload when no changes are made

### Server Setup Information:

- Version of Rocket.Chat Server:  2.2.1
- O

[2019-10-31 18:13] MartinSchoeler commented on #7335
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that have happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:13] #7335 closed

[2019-10-31 18:15] MartinSchoeler commented on #6054
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:15] #6054 closed

[2019-10-31 18:16] MartinSchoeler commented on #7217
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-10-31 18:16] #7217 closed

[2019-10-31 18:17] MartinSchoeler commented on #7248
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:17] #7248 closed

[2019-10-31 18:17] Sing-Li commented on #216
We have merged https://github.com/RocketChat/Rocket.Chat/pull/10113

If there are additional concerns or problems, let's open new tickets against the new feature.  Thanks.

[2019-10-31 18:17] #216 closed

[2019-10-31 18:19] MartinSchoeler commented on #7714
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:19] #7714 closed

[2019-10-31 18:20] MartinSchoeler commented on #7788
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:20] #7788 closed

[2019-10-31 18:20] #8690 closed

[2019-10-31 18:24] MartinSchoeler commented on #9417
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:24] #9417 closed

[2019-10-31 18:27] MartinSchoeler commented on #9823
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:27] #9823 closed

[2019-10-31 18:27] #9774 closed

[2019-10-31 18:28] MartinSchoeler commented on #9787
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-10-31 18:28] #9787 closed

[2019-10-31 18:30] MartinSchoeler commented on #6712
@engelgabriel @rodrigok @theorenck Is this still an issue?

[2019-10-31 18:33] MartinSchoeler commented on #5650
@graywolf336 is this still an issue?

[2019-10-31 18:34] MartinSchoeler commented on #6092
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:34] #6092 closed

[2019-10-31 18:35] MartinSchoeler commented on #6156
Could you please test this out with the latest version? Channel searching has changed a lot since this issue was created. Thanks!

[2019-10-31 18:35] #6156 closed

[2019-10-31 18:36] MartinSchoeler commented on #6828
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:36] #6828 closed

[2019-10-31 18:37] MartinSchoeler commented on #6241
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:37] #6241 closed

[2019-10-31 18:40] graywolf336 commented on #5650
I don't think so. We can close it now and open it again later if we need to.

[2019-10-31 18:40] #5650 closed

[2019-10-31 18:52] MartinSchoeler commented on #7832
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-10-31 18:52] #7832 closed

[2019-10-31 18:57] #8495 closed

[2019-10-31 18:59] #8231 closed

[2019-10-31 19:02] MartinSchoeler commented on #8950
Hey, looks like you seem to be looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2019-10-31 19:02] #8950 closed

[2019-10-31 19:03] MartinSchoeler commented on #8790
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-10-31 19:03] #8790 closed

[2019-10-31 19:08] MartinSchoeler commented on #9308
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-10-31 19:08] #9308 closed

[2019-10-31 19:11] MartinSchoeler commented on #9287
We are currently refactoring most of the ui to react, so this will be probably fixed by then, for now I'll close this. Thanks!

[2019-10-31 19:11] #9287 closed

[2019-10-31 19:12] MartinSchoeler commented on #9425
Hey, looks like you seem to be looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2019-10-31 19:12] #9425 closed

[2019-10-31 19:16] #9829 closed

[2019-11-01 02:45] DillFrescott opened #15712 "Question about NSFW content."
It says in Rocket Chat's ToS that basically no NSFW (Pornographic) content is allowed. Is this a do all end all or would it be allowed in a DM if both parties consent?

[2019-11-01 06:15] antkaz commented on #12655
Okay, thanks. I will check import again. There may be a problem on my side, since locally everything works

[2019-11-01 06:57] longtqdayma opened #15714 "Add more API to Rocket chat"
I would like to customize and supplement some data query APIs for my own purposes, please help me further.
Thanks.

[2019-11-01 08:52] reetp commented on #15714
@rocket-cat close

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

For help/support please see: https://rocket.chat/docs/getting-support

New features go here:

https://github.com/RocketChat/feature-requests

[2019-11-01 08:52] #15714 closed

[2019-11-01 09:59] new-w opened #15715 "Translate README.md to Korean"
Hello! I am the person who is interested in the Rocket.Chat project.
If I translate README file, I think Korean talented developers can understand and access the project more easily, so I translated it and added PR.
I'd appreciate it if you could check it out!

[2019-11-01 10:33] reetp commented on #15715
Referenced here but not sure how this will work.

https://github.com/RocketChat/Rocket.Chat/pull/15713

[2019-11-01 13:29] #15706 closed

[2019-11-01 17:18] MartinSchoeler commented on #11317
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-11-01 17:18] #11317 closed

[2019-11-01 17:48] MartinSchoeler commented on #15712
If you are talking about the code of conduct, it only aplies to our community channels (open server, forums, GitHub, etc...). For other servers you should follow the rules set by its admins, if you own a server you are free to decide the content that should be allowed (apart from illegal stuff obviously). Thanks!

[2019-11-01 17:48] #15712 closed

[2019-11-01 19:12] biz786 commented on #15272
@sahara18 were u able to install rocket chat then on windows 10 home with docker?

[2019-11-01 19:19] #15637 closed

[2019-11-01 19:21] MartinSchoeler commented on #13185
Please move this to the appropriate support channel. Thanks!

[2019-11-01 19:21] #13185 closed

[2019-11-01 19:26] MartinSchoeler commented on #12488
Closing this due to lack of updates, if you still face that issue, please reopen this. Thanks!

[2019-11-01 19:26] #12488 closed

[2019-11-01 19:28] MartinSchoeler commented on #12482
Closing this due to lack of response, if the issue persists, please reopen this. Thanks!

[2019-11-01 19:28] #12482 closed

[2019-11-01 19:28] MartinSchoeler commented on #12480
Closing this due to lack of response, if the issue persists, please reopen this. Thanks!

[2019-11-01 19:28] #12480 closed

[2019-11-01 19:34] MartinSchoeler commented on #6957
Please move this to the [rocket.chat forums](https://forums.rocket.chat/). Thanks!

[2019-11-01 19:34] #6957 closed

[2019-11-01 19:42] #15557 closed

[2019-11-01 20:08] #15613 closed

[2019-11-01 22:09] rodrigok commented on #6712
@MartinSchoeler not sure, can you test?

[2019-11-02 16:06] CitizenDev commented on #15590
Good to see this feature is getting some interest. I've been running my own custom fork because of lack of this feature for a while now.

[2019-11-02 16:18] wreiske opened #15720 "Search bar doesn't fit to end of sidebar"
### Description:
The search bar doesn't fit to the end of the sidebar.
![image](https://user-images.githubusercontent.com/6295044/68073805-5bcc7f00-fd6a-11e9-9b00-dff16bb45cb1.png)

### Steps to reproduce:

1. Press on the magnifying glass in the top left of the sidebar.
2. Search doesn't fit to the sidebar

### Expected behavior:

![image](https://user-images.githubusercontent.com/6295044/6807384

[2019-11-02 16:43] reetp commented on #15272
Please don't follow up here with support queries.

Use the links I posted please.

[2019-11-02 17:24] biz786 commented on #15272
No one responds in the links u posted buddy.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: John Crisp <notifications@github.com>
Sent: Saturday, November 2, 2019 10:14:28 PM
To: RocketChat/Rocket.Chat <Rocket.Chat@noreply.github.com>
Cc: biz786 <abezar420@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [RocketChat/Rocket.Chat] Unable to Dep

[2019-11-02 21:59] J0kerFace commented on #2192
This is the mostly missing function at the moment.

[2019-11-03 00:06] Tofdu31 commented on #2058
After my request, which was a year ago, has the push to talk project progressed?

[2019-11-03 07:18] ritwizsinha commented on #15626
@MartinSchoeler  please review

[2019-11-03 07:32] ritwizsinha opened #15723 "The sidebar is badly broken on resizing the browser"
### Description:

On clicking on the searchbar and resizing the browser the sidebar breaks badly and some it protrudes out

### Steps to reproduce:

1. Click on the search tab in full resolution of browser
2. Resize the browser to a  sufficient width
3. The sidebar breaks

### Expected behavior:

The sidebar shouldn't break

### Actual behavior:

![Screenshot from 2019-11-03 18-24-56](https://user

[2019-11-03 07:36] ritwizsinha commented on #15588
@tassoevan  can I work on this ?

[2019-11-03 10:00] sahara18 commented on #15272
@biz786 It works on win 10 pro for me

[2019-11-03 10:16] biz786 commented on #15272
Great. The issue is I dont have Pro version. I have home. Why do I need pro? Is it for docker? If so then I already installed docker toolkit so then why still need windows Pro?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Andrew Khantulin <notifications@github.com>
Sent: Sunday, November 3, 2019 3:30:56 PM
To: RocketChat/Rocket.Chat <Rocket.Chat@noreply.gi

[2019-11-03 13:32] dusatvoj commented on #15621
@wreiske Any news? I'm not sure what's wrong and I'm stuck on it :/

[2019-11-03 13:52] reetp commented on #15272
(Please take your Outlook signature off your - it isn't necessary)

They do - see:
https://open.rocket.chat/channel/general?msg=xv7EsJ3K5oJ4vPPRL

But it is community support. No guarantees.

Read 'Read this first' :
https://gist.github.com/reetp/a66149d5f060f260643a353ca7067a98

Of course you can pay for professional support if you want instant assistance.

Otherwise, ask in the relevant places a

[2019-11-03 14:32] biz786 commented on #15272
I did post the file,see the chat. And I know its support ,if this is so bad after paying wats the guarantee it will be better

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: John Crisp <notifications@github.com>
Sent: Sunday, November 3, 2019, 7:23 PM
To: RocketChat/Rocket.Chat
Cc: biz786; Mention
Subject: Re: [RocketChat/Rocket.Chat] Unable to Deploy Rocket

[2019-11-03 14:47] serviceman opened #15724 "Retention Policy Causes CPU Usage To Grow Out Of Control."
### Description:

On busy site, auto pruning is causing heavy cpu usage. The usage grows over time until rocket chat eventually becomes unusable and instances of rocketchat and mongodb need to be restarted. I have a rather active install with up to 200 active users at once and about 6,000 total users. This was not an issue until I upgraded from version 1.3.2 to version 2.2.0. I use a short retenti

[2019-11-03 15:55] reetp commented on #15724
What platform/hardware have you got (just so we know)?
What version of CentOS (just so we know)?
What do you see in your logs - both system and rocket?

[2019-11-03 16:06] Bart1909 opened #15725 "How to run latest version on Raspberry Pi"
Hi,

I‘m trying to run RocketChat on a Raspberry Pi 4. I installed via Snaps which runs fine, but this seems to be version 1.0.3 only.

If I try to install manually there seems to be a problem with the sharp package. It installs fine, but when starting RocketChat it throws an error that some sources could not found for armv6...

Is there a way to update the snaps version to >2.x? Or have someone i

[2019-11-03 16:14] Sing-Li commented on #15725
@Bart1909  Please see the detailed instructions here:

https://github.com/RocketChat/Rocket.Chat.RaspberryPi

The issue should be posted there as well.  BUT you can just join our open server and get the answer immediately in the https://open.rocket.chat/channel/raspberrypi   channel.

Essentially, you can run a Release 2.x  with a 64bit ARM Linux today.

Thanks for your question I am closing this.

[2019-11-03 16:14] #15725 closed

[2019-11-03 16:14] reetp commented on #15272
No you did not do as you were asked.

And... nothing.

Note:

In other words this is NOT officially supported and your mileage may vary. You are not going to get any official help.

If you want full support then use a recommended installation method and pay for for support. That will guarantee it works.

Please leave this issue as closed and follow my links above and hope that someone can help you

[2019-11-03 17:08] biz786 commented on #15272
I know exactly wat I'm doing ,ditching rocket chat.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: John Crisp <notifications@github.com>
Sent: Sunday, November 3, 2019 9:45:30 PM
To: RocketChat/Rocket.Chat <Rocket.Chat@noreply.github.com>
Cc: biz786 <abezar420@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [RocketChat/Rocket.Chat] Unable to

[2019-11-04 07:01] nicowiggersiv commented on #15430
Can't confirm that new discussions are treated like messages without mentions. At least for version 1.3.2. If someone creates a new discussion via the "+" button no new message is shown on the parent channel (I'm in this channel) and no web notification is generated. Of course I get notification from the new discussion channel if I have been invited there. However, I would expect to get a notifica

[2019-11-04 09:29] 564064202 opened #15726 "Iframe Integration can't with http (chrom parent.window.postmessage not work)"
### Description:

Iframe Integration can't with http (parent.window.postmessage not work),our site can't support
https alo

### Steps to reproduce:

no

### Expected behavior:
work with http but chrome not work

### Actual behavior:

can't work

### Server Setup Information:

- lastest Version of Rocket.Chat Server:

### Client Setup Information

no
### Additional context

no

### Relevant logs:

[2019-11-04 09:29] 564064202 commented on #15726
any body?

[2019-11-04 09:45] maciek134 commented on #2192
I have good and bad news - bad news is that our company no longer uses Rocket internally so I need to work on this in my free time only. Good news is that this is my top priority now, so you can expect this to be done shortly ;p

[2019-11-04 09:48] gudge25 opened #15727 "App is not working on Ubuntu"
### Description:

Ubuntu  2.16.0 app  is not working

### Steps to reproduce:

1. install app from snaps (i  have tested  using  deb also)
2. log in  using user  and passwords
3. Close add  and open it  again

### Expected behavior:
expect that session resume

### Actual behavior:

three  dots  on the  screen

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System: Cent

[2019-11-04 10:22] reetp commented on #15726
This is really an issue with browser support than an issue with Rocket.Chat itself,

If your site can't support https you should move. Browsers are going to refuse to support http at all before long, or at least make it extremely difficult to use.

https://blog.mozilla.org/security/2015/04/30/deprecating-non-secure-http/

https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecati

[2019-11-04 11:34] 564064202 commented on #15726
I think you can  url? token=balabala

[2019-11-04 13:10] MartinSchoeler commented on #15726
As @reetp said, this is an issue with browser support, I suggest you move this to the support forums, since github is for bugs and features request, for now I will be closing this. Thanks!

[2019-11-04 13:10] #15726 closed

[2019-11-04 13:40] ggazzo commented on #8698
Sorry about the delay @Venomen but we don't have this feature any more, but you can use the custom css to make the same theming... btw: we are rewriting the ui and we have plans to offer a better theming experience, thanks...

[2019-11-04 13:40] #8698 closed

[2019-11-04 13:57] #2100 closed

[2019-11-04 14:00] ggazzo commented on #15727
@gudge25 I'm moving to the right repository...

[2019-11-04 14:02] sampaiodiego commented on #13610
Since then we are updating from lingohub every monday, this has shown effective to prevent this errors.

Please let me know if this happens again as soon as you can (either via github issue or open.rocket.chat).. I'll then revert the undesired changes, no need to do it manually :wink:

[2019-11-04 14:02] #13610 closed

[2019-11-04 14:11] reetp opened #15730 "Livechat Avatar URL is worng"
### Server Setup Information:

- Version of Rocket.Chat Server: 2.2.0
- Operating System: Linux
- Deployment Method: Docker
- Number of Running Instances: 1
- DB Replicaset Oplog: enabled
- NodeJS Version: 8.15.1
- MongoDB Version: 4.0.12

I was testing the enabling/disable User avatars "Show agent information" and notice the avatar shows a black square.

It seems like the code is adding an extra

[2019-11-04 14:30] serviceman commented on #15724
What platform/hardware have you got (just so we know)?
I'm not understanding what you mean by this question. I am running on an SSD with 8 cores and 32GB of ram.
What version of CentOS (just so we know)?
Centos 7

What do you see in your logs - both system and rocket?
I don't see anything unusual.

[2019-11-04 15:30] jwhitewick opened #15731 "My sign in to RocketChat Marketplace is stuck and cannot install apps"
When I try to install an app i am not able to give me the following error.
{"error":"[Unauthorized] a339a921-b898-4a59-933a-dca24277e53c: %!s(\u003cnil\u003e)\r\n","requestId":"a339a921-b898-4a59-933a-dca24277e53c","status":401}

I try to signout but it keeps me signed in
i tried to login to a completely new account but i am not able to.
i tried to write support no luck.

[2019-11-04 16:52] MartinSchoeler commented on #7278
This issue was fixed with the latest versions. Closing this

![Screen Shot 2019-11-04 at 13 46 22](https://user-images.githubusercontent.com/20868078/68140231-3d04ee80-ff0a-11e9-8c27-edc5344e1535.png)

[2019-11-04 16:52] #7278 closed

[2019-11-04 17:16] #15354 closed

[2019-11-04 17:20] ggazzo commented on #13840
closed by #15623

[2019-11-04 17:20] #13840 closed

[2019-11-04 17:51] ggazzo commented on #3679
fixed long time ago, any problem let me know

[2019-11-04 17:51] #3679 closed

[2019-11-04 19:03] ggazzo commented on #15724
The main problem here is the oplog, for each message deleted we have an event from the mongodb, and the server tries to update each user with this room opened, its quite hard handle a lot of messages... You just found the problem, after the update because the retention policy was not working properly...

[2019-11-04 21:27] rodrigok commented on #658
We are not going to support multiple organizations as described by this issue, using the same database but splitting rooms and messages by a new key.

We are working to support multiple databases (connections, not other databases like Postgres) on our backend for performance reasons, in the way where we can share resources.

This probably will land first in our Enterprise version, since we are doi

[2019-11-04 21:31] rodrigok commented on #533
I'm closing this since it's not in our roadmap.

Support for multiple databases is not feasible right now, due to performance issues and different features each database has. Migrate existant clients to a new database would be problematic.

This item may rise again in the future, but right now it's not possible.

[2019-11-04 21:31] #533 closed

[2019-11-05 05:03] lequy1010 commented on #14871
It's good feature. wait for it too !
If have a plugin to install into Rocket.chat so good.

[2019-11-05 05:11] ankar84 opened #15734 "Username used instead of real name in the quoted message"
### Description:

**Login** not convert to **Name** in a quoted message

### Steps to reproduce:

1. User1 write message
2. User2 quotes User1 message
3. You see User1 login instead User1 name in quoted message

### Expected behavior:

I expect to see User1 Name in quoted message

### Actual behavior:

![image](https://user-images.githubusercontent.com/4023037/68180094-70e02280-ffa3-11e9-954e-2428

[2019-11-05 08:17] pierreozoux commented on #533
Thanks for closing this. Even though we are not all necessarily happy, we have to understand that you have to run a product, and this means making choices.

As RocketChat is based on meteor, people don't get the complexity to add this support now.

I think adding mongo support would be pretty equivalent to refactoring everything.

Thanks again and keep up the good work 👍

[2019-11-05 12:36] Vahid-Peivandi opened #15735 "connect skype with rocket chat"
I am a beginner and wanna connect my skype channel or group to my rocket.chat channel, that is possible?

if yes please guide me step by step and simple

thanks a lot

[2019-11-05 12:38] reetp commented on #15735
@rocket-cat close

 Closing notabug.

This seems to be a setup/support issue.
Please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

[2019-11-05 12:38] #15735 closed

[2019-11-05 13:00] reetp commented on #15735
At best this would be a NFR.

https://github.com/RocketChat/feature-requests/issues

Skype uses closed protocols so this won't get fixed.

[2019-11-05 13:30] tazotodua commented on #5495
Seems it's available now by  `disable_web_page_preview` parameter:

https://core.telegram.org/bots/api#editmessagetext

[2019-11-05 13:32] antkaz commented on #13931
I have the same problem. Also, when I create a new channel

Version of Rocket.Chat Server: 2.2.0

[2019-11-05 14:04] TechOverflow opened #15736 "Unable to edit "Please, tell us some information to start the chat""
### Description:

The user window text "Please, tell us some information to start the chat" cannot be translated anywhere.

### Steps to reproduce:

1. Open frontend user interface

### Expected behavior:

The text should be editable. It is also not in translations (I'm a RocketChat translator)

### Actual behavior:

No way to edit

### Server Setup Information:

- Version of Rocket.Chat Server: l

[2019-11-05 14:44] webdeveloper0429 opened #15744 "Rocket chat setup-wizard doesn't work after install"
[code]

I setup rocket chat and configured ssl as guide direct.
After visit my domain it redirected to setup-wizard.
But it shows black blank screen. so I checked console. it shows below.
[code]

Anybody help...

[2019-11-05 14:46] trauta opened #15738 "Offline as default user presence"
Hey,

is it possible to set the default user presence to 'offline' for new users?
We are using LDAP as our user database and we are using the latest server version (2.1.0).

Thanks in advance,
Alex

[2019-11-05 14:48] Ufoton opened #15739 "Ldap new user Error"
Hello,

After upgrade to latest version new users can not login to rocket chat

Nov  5 14:13:38 rocket-chat rocketchat: server.js:204 LDAPSync ➔ error Error creating user { Error: [error-invalid-domain]
Nov  5 14:13:38 rocket-chat rocketchat: at server/lib/accounts.js:308:10
Nov  5 14:13:38 rocket-chat rocketchat: at _validateNewUserHooks.forEach.hook (packages/accounts-base/accounts_server.js:109

[2019-11-05 15:44] reetp commented on #15739
Not much to go on there so can you please be a bit more descriptive.

Rocket redeployment type eg snap, manual etc?
Mongo version?
Upgrading from what version?

Follow this guide properly please.
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Note:
**A clear and concise description of what the bug is**

Also what happened here?

Error: [error-invalid-domain]

[2019-11-05 16:33] ggazzo commented on #15736
@TechOverflow could you provide some image showing where the message is located? thanks.

[2019-11-05 18:22] reetp commented on #15734
Is this related to #15662 ?

Seems similar issues with losing Real Names

[2019-11-05 21:24] johnz0r opened #15742 "Integration menu missing in 2.2.0"
Hello,

On the 2.0.0 version i was still able to use the Integration menu in Administration.
On 2.2.0, Integration is missing and when i try to reach it typing /admin/integrations in the url, i got:

Integrations

You are not authorized to view this page.

That seems to be a regression ?
Thank you guys :)

[2019-11-06 00:31] edsonapiuna commented on #6530
I have a problem and I can't solve it. The time zone of rocket.chat installed on windows is wrong and when accessed by the browser appears correctly. Can you help me

[2019-11-06 01:18] #15742 closed

[2019-11-06 02:20] ggazzo commented on #15736
hey @TechOverflow I got your point, you are talking about `livechat`
https://github.com/RocketChat/Rocket.Chat.Livechat/blob/develop/src/i18n/en.json#L53

I will move your pr to the right repo and change the title, ok? any problem, let me know... thanks

[2019-11-06 02:22] sampaiodiego commented on #15744
btw, tranfered the issue to our main project repo.. as it is not totally related to our docker image

[2019-11-06 02:32] starcraft0429 commented on #15744
@sampaiodiego I already tried out https in root url but it doesn't work
before, I installed rocket chat once and at that time I used http in root url and it worked well.

[2019-11-06 03:44] #14890 closed

[2019-11-06 03:57] Endareth opened #15746 "Failed mongodb after 2.1.1 Ubuntu snap auto-refresh"
### Description:
After our Rocket.Chat server, installed as a snap on Ubuntu 18.04, did an auto-refresh and updated to version 2.1.1, the mongodb component now fails to start. It now throws a fatal error around needing to upgrade data files to 3.4 before attempting to upgrade to 3.6, and returning error code 62.

While this now seems technically a mongodb issue, it's one that's triggered by follow

[2019-11-06 04:04] peterchiuglg commented on #7339
same here. any luck fixing this?

[2019-11-06 04:17] Endareth commented on #15746
Thinking about this one further, this really seems less like a Rocket.Chat Server bug as such, and more a pair of faults in both the snap system and mongodb. The snap system should not consider the refresh successful if the snap is no longer running properly afterwards (and should at the least enable a rollback), and mongodb should be able to handle upgrading data to latest version, regardless of

[2019-11-06 04:21] peterchiuglg commented on #7339
Hope this helps

[code]

[2019-11-06 05:38] LuluGO commented on #15746
Take a look please at https://forums.rocket.chat/t/snap-news-rocket-chat-2-1/4890/13

[2019-11-06 07:28] Lee1310 commented on #15746
We are having the same issue with mongodb and RocketChat as mentioned above,  but the solution in the link above does not work...

_MongoDB shell version v3.6.14
connecting to: mongodb://127.0.0.1:27017/?gssapiServiceName=mongodb
2019-11-06T18:25:57.292+1100 W NETWORK  [thread1] Failed to connect to 127.0.0.1:27017, in(checking socket for error after poll), reason: Connection refused
2019-11-06T18

[2019-11-06 07:50] Maqsyo commented on #15746
Same problem here.
MongoDB is now on 3.6.14, was before on 3.2, i upgraded to 3.4 as suggested and now this error onccures:

[code]

What to do now?

[2019-11-06 08:22] geekgonecrazy commented on #15746
Please follow all of the directions there.  Just reverting will not solve.  https://open.rocket.chat/channel/ubuntu-snap or replying to forum post is best place to proceed

[2019-11-06 08:35] vvolas commented on #15746
I have same problems as @Lee1310 all 3 instances failed to auto upgrade from 1.3.2. Just finished recovering from backups + blocking snapcraft dns as revert didint work and after restoring from backup snap would autoupgrade immediatly to broken version again...

[2019-11-06 08:40] Lee1310 commented on #15746
Sorry I am new to all this and not sure the best place to post...  When I follow the instructions I get:

snap revert --revision=1416 rocketchat-server

rocketchat-server.mongo --eval "printjson(db.adminCommand ({getParameter: 1, featureCompatibilityVersion: 1}))"

rocketchat-server.mongo  --eval "printjson(db.adminCommand ({ setFeatureCompatibilityVersion: \"3.4\" }))"

snap refresh rocketchat-se

[2019-11-06 08:53] NIbbel92 opened #15748 "Livechat: Incoming Livechats not disappearing"
We are having trouble removing 2 incoming livechats.
It is not possible to hide/delete the Rooms.

Till now we could not reproduce this issue.

 Server Setup Information:

- Version of Rocket.Chat Server: 2.2.0
- Operating System: CentOS 7
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog: yes, activated
- NodeJS Version: 8.12.0
- MongoDB Version: 4.0.13

Client Setup

[2019-11-06 09:02] Azylog commented on #15746
Hello,
As others, my snap auto-refreshed this morning and can't start anymore with message :
** IMPORTANT: UPGRADE PROBLEM: The data files need to be fully upgraded to version 3.4 before attempting an upgrade to 3.6; see http://dochub.mongodb.org/core/3.6-upgrade-fcv for more details.

So I followed procedure : revert to rev 1416 and now, mongodb refuse to start with :
[initandlisten] WiredTiger e

[2019-11-06 09:14] Ufoton commented on #15739
- Version of Rocket.Chat Server: 2.2.0
- Operating System: Linux
- Deployment Method: manual
- Number of Running Instances: 1
- DB Replicaset Oplog: yes
- NodeJS Version: v8.15.1
- MongoDB Version: 3.6.3

New user can not login to the chat. No problem for exithing user. Upgrade done from version 1.3.1

[2019-11-06 09:25] sennewood commented on #6107
Similar, but better issue: https://github.com/RocketChat/Rocket.Chat/issues/13967

[2019-11-06 09:26] sennewood commented on #6603
See also: https://github.com/RocketChat/Rocket.Chat/issues/13967

[2019-11-06 09:43] nicowiggersiv commented on #15430
We are now on 2.1.1. Same issue here.

[2019-11-06 09:55] rehste commented on #15748
Hello together,

i have the same problem... 👎

[2019-11-06 10:10] Aldekein commented on #3056
Just to show a way it could be set up:

1. Set up a [Postmark incoming email](https://postmarkapp.com/developer/user-guide/inbound/parse-an-email) that will send webhooks.
2. Set up Rocket.chat incoming webhook with custom script enabled, like this one:

[code]

[2019-11-06 10:12] AdriWild opened #15749 "Livechat Script points to old URL"
### Description:

Yesterday I installed the standard version of Livechat (somehow the new version doesn't work), but **TODAY** it is available only the new one, and I've checked that the script, and it is pointing to my **old URL**.

I have changed from new to old address, everywhere, but somehow internally still asking to the old url.

![image](https://user-images.githubusercontent.com/17620379/6

[2019-11-06 10:30] AdriWild commented on #6691
It doesn´t work for me

[2019-11-06 10:37] ankar84 commented on #11649
We have the same issue.
We have that issue in DM and in private groups\channels as well.
For example all actions a made in Winodws desktop application (Electron). But it is true and for mobile clients.
User1 press 3 dots and select **Video Chat**. It generates **Click to Join!** button in chat.
User2 in a moment press **Click to Join!** button and see warning **Call Already Ended**
User2 press 3 d

[2019-11-06 11:14] rsimai opened #15750 "Messages/channels are randomly not set to "read" automatically."
As follow up to https://github.com/RocketChat/Rocket.Chat/issues/12743 which I can not reopen.

### Description:

Messages/channels are randomly not set to "read" automatically.

### Steps to reproduce:

* Sidebar sorted by unread on top
* click the channel when it's bright/bold and has a new message

I couldn't see a pattern, it just happens randomly.

### Expected behavior:

The channel should b

[2019-11-06 11:17] dcermak commented on #15750
I can confirm this issue on the same server with the Rocket.chat App from Flathub.

[2019-11-06 11:43] zdumitru commented on #15750
Could be related to #15471 .

[2019-11-06 11:43] sampaiodiego commented on #15744
@starcraft0429 please try adding this environment variable to your start script as well: `OVERWRITE_SETTING_Site_Url=https://{mydomain}.com`

[2019-11-06 11:45] renatobecker commented on #15748
Hi @NIbbel92, can you please record a video screen or something?
Thanks.

[2019-11-06 12:00] vvolas commented on #15746
I solved with this.
https://forums.rocket.chat/t/snap-news-rocket-chat-2-1/4890/13

# Stop Mongo
sudo systemctl stop snap.rocketchat-server.rocketchat-mongo

# Revert version back
snap revert --revision=1416 rocketchat-server

# If that fails run:
snap refresh rocketchat-server --channel stable/fix-migration

# Give it a few to start up and then run:
rocketchat-server.mongo --eval "printjson(db.ad

[2019-11-06 12:02] geekgonecrazy commented on #15746
Yes please refer to https://forums.rocket.chat/t/snap-news-rocket-chat-2-1/4890/14 I’ve updated several times already so best place to refer.

[2019-11-06 12:03] geekgonecrazy commented on #15746
@Azylog go back to latest and repeat with latest from the linked above

[2019-11-06 12:19] Lee1310 commented on #15746
Thanks vvolas...  Your instructions above finally resolved my issues...  Much appreciated...

[2019-11-06 12:19] starcraft0429 commented on #15744
[code]
To this command?

[2019-11-06 12:22] LuluGO commented on #15731
Hello, I replied in the ticket.

[2019-11-06 12:23] #15731 closed

[2019-11-06 12:27] starcraft0429 commented on #15744
It doesn't work.
Actually... who is making this request?
```'http://{mydomain}.com/__meteor__/dynamic-import/fetch'```

[2019-11-06 12:54] rsimai commented on #15750
Seems I had missed #15471 and it seems in fact the same symptom. Good to close this one.

[2019-11-06 12:54] #15750 closed

[2019-11-06 12:56] rsimai commented on #15471
I can confirm this for 2.2.0. We see this massively after an update from 1.3.2 where it didn't happen. No clear pattern.

[2019-11-06 13:03] johannel00 commented on #15429
@daniel-van-niekerk I corrected it by following this direction and changed the ENV VAR: [https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#how-do-i-change-other-environmental-variables-in-my-snap](url)

Thank you @MarcosSpessatto for pointing me in the right direction!

[2019-11-06 13:11] NIbbel92 commented on #15748
Video is a bit problematic, but i have attached a screenshot.
This happens when trying to enter the incoming chat.
![rocketchat_livechat](https://user-images.githubusercontent.com/57345650/68300953-2d6ade80-009f-11ea-911a-7ae41216fb07.png)

[2019-11-06 13:35] Azylog commented on #15746
I also have been able to solve the issue with help in the link above (rocket chat forum) but without having to change channel.

[2019-11-06 14:43] reetp commented on #15739
As per my previous

What happened here?

Have you checked your LDAP logs?

[2019-11-06 15:03] Ufoton commented on #15739
User can authorize on ldap. On Ldap we see succseful login. Ldap type is AD

[2019-11-06 15:41] reetp commented on #15739
Yes that is obvious.

What is in your logs when you get a failure.....? There will be something to tell you what has gone wrong.

[2019-11-06 15:52] Ufoton commented on #15739
In ldap everything is ok. IN rocket.chat

Nov  5 14:10:39 rocket-chat rocketchat: server.js:204 LDAPSync <E2><9E><94> error Error creating user { Error: [error-invalid-domain]
Nov  5 14:10:39 rocket-chat rocketchat: at server/lib/accounts.js:308:10
Nov  5 14:10:39 rocket-chat rocketchat: at _validateNewUserHooks.forEach.hook (packages/accounts-base/accounts_server.js:1094:13)
Nov  5 14:10:39 rocke

[2019-11-06 15:58] agiletuan commented on #14582
Thank you very much!
You saved my night!

God bless you!

[2019-11-06 17:45] tholu commented on #15300
Is the "Maximum Allowed Characters Per Message" setting enforced when posting via Webhook?

[2019-11-06 17:55] mes85 commented on #15057
Using the following script you will only allow icon_emoji, text and attachments to come through. The channel can no longer be overwritten. In addition the IP of the sender is shown.

[code]

[2019-11-06 18:32] clauded commented on #15571
Here's how I fixed it with a snap installation:

`service snap.rocketchat-server.rocketchat-server stop
service snap.rocketchat-server.rocketchat-mongo stop

cd /snap/rocketchat-server/current/bin
./mongo --version # should report 3.6
./mongod --repair --dbpath=/var/snap/rocketchat-server/common/
snap list --all rocketchat-server
snap revert --revision=1416 rocketchat-server
cd ../../1416/bin/
./m

[2019-11-06 18:40] tholu opened #15751 "Message limit is not enforced on incoming webhook"
### Description:

The defined message limit of e.g. 5000 chars ("Maximum Allowed Characters Per Message" setting) is not enforced when posting a message via an incoming webhook.

### Steps to reproduce:

1. Use any incoming webhook
2. Define a message limit of 5000 chars
3. Post a message with 100,000 chars via the incoming webhook

### Expected behavior:

The webhook should not allow the message

[2019-11-06 19:10] MartinSchoeler commented on #9329
@ArchimedesFM Could you test this out with the latest release? I could not reproduce this issue. Also, you can change the color of the text on the sidebar by changing the `Primary Light` and `content` variables. Thanks!

[2019-11-06 19:10] #9329 closed

[2019-11-06 19:52] waiting-for-rocketchat-fixes commented on #11570
2.20 is here but no changes still not fixed, It look like they just moving this bug every new milestone without plan to work on it.  If you guys have no plans to touch it why you add to every new milestone ?

[2019-11-06 19:55] MartinSchoeler commented on #4909
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-11-06 19:55] #4909 closed

[2019-11-06 20:38] renatobecker commented on #13403
Closed by https://github.com/RocketChat/Rocket.Chat.Livechat/pull/257.

[2019-11-06 20:38] #13403 closed

[2019-11-07 02:22] jsmithangular commented on #8692
Wait, is there any way we can change this gateway? http://prntscr.com/ptih0c
What push notification gateways we can use for that value? Without using a self-configured push notification. Please help! Thanks.

[2019-11-07 06:35] antkaz commented on #12740
Hello! Have updates on this issue?

[2019-11-07 07:39] muelli commented on #15408
FWIW: There are some other people reporting this behaviour, e.g.
https://npm.community/t/npm-install-or-npm-update-turns-a-bunch-of-resolved-in-package-lock-json-from-real-values-to-false/3308
or
https://npm.community/t/constant-resolved-false-toggle/276

[2019-11-07 08:25] Ufoton commented on #15739
Hi,
This is some how related to tls. I will continue my investigation

[2019-11-07 08:30] larsziegelmann opened #15753 "Footer logo not showing up after update"
After updating to versions 2.1.1 and 1.6.0 on the 6th of November, the footer logo stopped working in our chat. I get this symbol showing:
![image](https://user-images.githubusercontent.com/54264704/68372307-e2a1a300-0140-11ea-9e91-6d3a4465f261.png)

I checked the image file in _Assets -> logo_ and it was still in the right place like it was before.
When clicking the logo, you should be redirected

[2019-11-07 09:46] larsziegelmann commented on #15753
Advancements: I've removed the logo, but the icon is still showing up with the link.
I've reuploaded the logo, but still the same error.
I've deleted the cache of my browser, but it didn't help.

[2019-11-07 10:12] reetp commented on #15753
You haven't actually said what the actual image URL that is failing.

Most likely it is due to changes in Rocket as this has been reported before.

https://github.com/RocketChat/Rocket.Chat/issues/15386#issuecomment-532115486

[2019-11-07 10:57] reetp commented on #8692
Please read my previous comment. Stop asking here as you will get no help here.

Ask questions in the forums or open.rocket.chat
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2019-11-07 11:11] reetp commented on #11570
Because the bug still exists, but for whatever good reason it has not net fixed yet. Milestone is just a target. This is Open Source - there are no guarantees. Developers may have different priorities with their existing paying customers. It may be important to you, but not the developers.

There are a number of other things that also have to be fixed first to enable this (follow the PR links abov

[2019-11-07 11:14] Shaverdoff commented on #11570
And you quick you make confirm PR?

--

Gerasim Shaverdov | Deputy CTO | Altarix

Mobile:  <tel:+7%20937%20070%2066%2084> +7 937 070 66 84 | Skype/email:  <mailto:gerasim@altarix.ru> gerasim@altarix.ru
Lenina av.25, Samara, Russia, 443068

From: John Crisp <notifications@github.com>
Sent: Thursday, November 7, 2019 3:12 PM
To: RocketChat/Rocket.Chat <Rocket.Chat@noreply.github.com>
Cc: Шавердов Ге

[2019-11-07 12:36] gyde commented on #2922
Where is this feature now, can't see it anywhere under the "My Account -> Preferences"?

[2019-11-07 12:52] Ufoton commented on #15739
Hi,
After our investigation:
This is not related to TLS. Even this not related to new user or system upgrade. For some user we recive this error. For other not. We can not find any relation.

[2019-11-07 13:37] mddvul22 commented on #11570
I think people understand that there might be other priorities.  But if 2FA is broken, it should be shipped with the feature disabled.

[2019-11-07 14:44] #15753 closed

[2019-11-07 15:02] Maqsyo opened #15754 "Wrong asset-path for logo in sidebar__footer"
# Description:
The Logo isn't visible in the footer.
![image](https://user-images.githubusercontent.com/19644698/68399919-74c49e00-0177-11ea-8c58-64b37f1cf294.png)
The img-source is set to `assets/logo` which isnt working - `assets/logo.png` is working

### Steps to reproduce:

1. Go to settings -> assets
2. Set a custom logo
3. check it in the sidebar__footer

### Expected behavior:
The Logo woul

[2019-11-07 16:07] reetp commented on #15754
Always search closed bugs as well.

https://github.com/RocketChat/Rocket.Chat/issues/15753

[2019-11-07 16:45] Maqsyo commented on #15754
thanks @reetp

[2019-11-07 19:45] Mixelito opened #15755 "tzdata out of date on docker"
The docker image with the daylight saving time tzdata package is out of date.

In Brazil (-03:00) no longer has daylight saving time but is displaying timezone with -02:00

apt list --installed | grep tzdata
WARNING: apt does not have a stable CLI interface. Use with caution in scripts.
tzdata/now 2019b-0+deb9u1 all [installed,local]

[2019-11-07 20:37] debugdjblade commented on #14365
Guys, I'm trying to get RC federate on two separate domains. Having some issues and need input.
Like the OP point out how does two servers actually communicate when we are using DNS for discovery with SRV record.

Configured as per the documentation:
enabled flag is set to True
Status is: Running
Domain: Domain name of the Rocket chat server  << Is this for RC server @another domain????
Discovery

[2019-11-07 20:52] MartinSchoeler commented on #13110
@barak-haviv I've tested using Microsoft Edge 44.18362.387.0 on a windows 10 machine and it seems to be working (using the steps you provided on the issue description). I'll be closing this for now, if you are still facing this issue, please open a new issue with updated details and tell us if you experience this on open server or only on your own. Thanks!

[2019-11-07 20:52] #13110 closed

[2019-11-08 04:35] ankar84 commented on #4943
Hi, @sampaiodiego!
We have a Rocket.Chat server version **2.1.0** but still did not find a way to change the avatar for a group or channel.
When that feature will be implemented?

[2019-11-08 09:02] shaihulud-eu commented on #15739
Resolved:
You should use trim() or something like that while creating users

[2019-11-08 09:04] shaihulud-eu commented on #15739
problem was in additional tabulation after .com in mail object in AD

[2019-11-08 10:31] jschirrmacher commented on #14792
Still not working in version 1.3.2.
Even when turning off ALL notifications, the channel name in the left sidebar gets marked.
Even when turning off the counter ("hide counter"), the numbers are still displayed.

[2019-11-08 10:37] 1100101 opened #24201 "Notification text does not show attachement text"
## My Setup
- Operating System: Windows 7 Pro
- App Version: 2.16.2
- Server Version: 2.1.1
- Installation type: exe

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
We're using an Incoming Webhook with connection to a Gitlab instance to post messages to a channel.
The script we use is a slightly modified version from the one available here: https:

[2019-11-08 11:15] mrsimpson commented on #14792
@ggazzo can you please assign this to somebody or is this already addressed?

[2019-11-08 12:52] luckstyle94 commented on #15755
I'm facing the same issue with snap installation, TZData is out of date, I cound'nt fix it yet..

[2019-11-08 15:50] reetp commented on #14365
Github is for Issues, not support.

https://rocket.chat/docs/getting-support

https://open.rocket.chat/channel/federation

[2019-11-08 17:21] renatobecker commented on #6061
I'm closing this issue since we already have a lot of new Livechat endpoints.
Please, take a look at here: https://rocket.chat/docs/developer-guides/rest-api/livechat

Thanks.

[2019-11-08 17:21] #6061 closed

[2019-11-09 02:05] vuongtran15 opened #15756 "Need help install rocket.chat manual on Windows Server 2012"
I install step by step follow install guide (https://rocket.chat/docs/installation/community-supported-installation/windows-server/)
- Node: v8.15.1
- Npm: 6.4.1
- Rocket releases 2.2.0 (https://github.com/RocketChat/Rocket.Chat/releases)

Everything is fine until I run command `node rocket.service.js install`, I recivce log file:
[code]

Do you have anything way fix it.
Thanks.

[2019-11-09 05:42] reetp commented on #15756
@rocket-cat close

As per the documentation this is not an officially supported setup.

For setup/support issue please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

[2019-11-09 05:42] #15756 closed

[2019-11-09 06:01] franckadil opened #15757 "Livechat Triggers not working"
### Description:
Live cat triggers stopped working with the latest release. The livechat agent is assigned and online.

![image](https://user-images.githubusercontent.com/42721509/68523756-cf681200-02bd-11ea-9610-5447ce8f580e.png)

*400 (Bad Request):*
[code]

*Browser log:*
[code]

### Steps to reproduce:

### Expected behavior:

The live chat should be triggered according to the rule set.

### A

[2019-11-09 06:50] gloriouschaos commented on #13538
KaTeX should not act on any code blocks or inline code items. Those are supposed to be rendered verbatim in a monospace font, perhaps with colors, per the Markdown standard. It's not just code that gets messed up by KaTeX. Even typing a dollar sign in plain text seems to trigger the bug, and there is no obvious escape sequence to type a literal dollar sign. Please fix this ASAP.

[2019-11-09 08:09] ritwizsinha commented on #15626
@MartinSchoeler please review

[2019-11-09 16:45] KrinalPatel11 commented on #10187
NOTE: This error is almost always caused because the command does not exist, because the working directory does not exist, or from a windows-only bug. I found a particular easy way to get the idea of the root cause of:

Error: spawn ENOENT
The problem of this error is, there is really little information in the error message to tell you where the call site is, i.e. which executable/command is not f

[2019-11-10 04:02] t-g-kim opened #15758 "Rocketchat socket Error"
Hi, I use Rockect-chat

failed : Error during Websocket handshake : Unexpected response code :400

My setting.
I installed Rocketchat as a sanp on Ubuntu on an AWS EC2 server.
Loadbalancer <-https ------- nginx ----- rocketchat configuration.

Nginx setting

[code]

Thank you.

[2019-11-10 08:01] skahwaji commented on #7545
I guess this is not the final solution, cause after you set the IFrame URL and API URL, you will not be able to access your RC deployed site :(.

Adding to that, this will limit access to a single user, cause your web site will just call the IFrame URL and API URL without being able to specify the user.

I spent a very good time to integrate RC IFrame within my web application, with no luck, then

[2019-11-10 08:06] skahwaji commented on #14987
May be you need to delay the sendMessage until the iframe loaded, I have used the following solution and it worked on localhost :):

<script>
    function authenticateIFrame() {
        document.getElementById('your_iframe_id').contentWindow.postMessage({
            externalCommand: 'login-with-token',
            token: '@authToken'
        }, '*');
    }

    window.onload = function () {

[2019-11-10 09:06] reetp commented on #15758
@rocket-cat close

Closing notabug.

This seems to be a setup/support issue.
This repo is for bugs, not help requests.

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

Please ask for help in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

Suggest you also sort out your SSL and follow this:

https://rocket.chat/docs/

[2019-11-10 09:06] #15758 closed

[2019-11-10 11:57] Shing-Ho opened #15759 "iOS Push Notification is not working"
### Description:

### Steps to reproduce:

1. I customize the rocket.chat web app and mobile app. I am testing the push notification, in android it is working well, but in ios it is not working.
2. I set enable gateway in the /administration/push to false.
3. I set the APN Passphrase as the password of the key file. And APN Key starts from
`-----BEGIN ENCRYPTED PRIVATE KEY-----` and ends with `---

[2019-11-10 12:37] reetp commented on #15759
@rocket-cat close

This looks like a support issue and not a bug in Rocket.Chat

You haven't filled in the details properly as requested as per the template here:
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

These details are really important to try and help diagnose issues.

Also please read these:

Also read this:
https://github.com/RocketChat/Rocket.Chat.Android#

[2019-11-10 12:37] #15759 closed

[2019-11-10 18:04] frozeneffigy opened #15760 "Cannot find modules when scaffolding a new rocket.chat app"
### Description:

I've followed the steps to install the rocket.chat apps CLI, but I'm getting the following error when trying to scaffold a new app using the given rc-apps create command

### Steps to reproduce:
1. install node
2. install npm
3. sudo npm install -g @rocket.chat/apps-cli
4. rc-apps create

### Expected behavior:

A new (contentless) app

### Actual behavior:

[code]

### Server Se

[2019-11-11 07:45] Dirk23 opened #15761 "Rocket Chat forgets login data"
Hello,
since short the Rocket Chat Desktop App always starts with the request to enter the login data. Before that the software started and still had the login data, so you didn't have to log in manually. This behavior can be seen with all users and is therefore in my opinion on the server and not on the client software.

Rocket chat server (via snaps): 2.1.1
Rocket Chat Server OS: Ubuntu 16.04.6

[2019-11-11 09:43] reetp commented on #15761
Please close this and re-open in correct repo

https://github.com/RocketChat/Rocket.Chat.Electron

[2019-11-11 09:48] Dirk23 commented on #15761
As i mentioned, it is no matter wich client or if i use the Website. The Login will not be safed on any Computer. I dont think that the client is the problem.

[2019-11-11 09:51] reetp commented on #15760
I would say the first thing is to make sure your node version matches the current release version
https://github.com/RocketChat/Rocket.Chat/releases

Note in the docs it demonstrates with an even newer version v10.15.3

https://rocket.chat/docs/developer-guides/developing-apps/getting-started/

I'd start there and see what happens.

[2019-11-11 10:00] reetp commented on #15761
No, you didn't mention this. You just mentioned the Desktop app. You said this:

Saving passwords is usually a local function, not that of the server.

So, does this occur with a completely clean browser? (Not the Electron client)

Test with Firefox and a new clean profile and no plugins to make sure nothing affects it.

[2019-11-11 10:02] reetp commented on #15755
I think this is related:

https://github.com/RocketChat/Rocket.Chat.Electron/issues/1388

[2019-11-11 10:25] rasos commented on #658
Let me propose a concept for introducing team spaces simply based on group memberships.  A group or channel in RC may be set as a home base for a team. They are also representing the membership for the team. Any channel or group may have a `is-part-of-team` relation to any other group and channel. We would need to introduce additional permission settings like `allow-add-room-to-team`, `view-outsid

[2019-11-11 10:29] tai-pd commented on #11833
I have rocketchat : https://chat.mydomian
and my webApp :https://app.mydomain
i embed rocketchat by iframe into webApp
and i wanna login in my webApp -> rocketchat auto login
I try to follow this code
function on_load(iframe){
    document.getElementById('rocketchat').contentWindow.postMessage({
        event: 'login-with-token',
        loginToken: 'myToken'
    }, 'https://chat.mydomain');
}
but

[2019-11-11 10:31] Dirk23 commented on #15761
Hi,

sorry. I wrote the text in an texteditor and copied it here. Maybe i missed that part. I just went to a brand new machine and logged into the Rocketchat via Google Chrome Browser ( i had no FF on this machine), i saved the Login in the Browser. Closed the browser, reopend the Browser an i was ask for my login data by the Rocketchat Server

[2019-11-11 11:25] borismedovnik commented on #658
rasos proposal would fit very well into our workflow in multiple installations of RC, and it looks like it would be an additional useful feature for LDAP / enterprise customers.

[2019-11-11 12:07] rodrigok commented on #658
Thanks, @rasos. The "teams" feature is something we would like to have. I'll explain the difference between teams and orgs:

- Teams: A logical separation of channels and users, like departments.
- Orgs: A hard split among companies, requiring to split everything from channels to server settings.

@rasos I'm not sure I understood how this would work on the UI level. Would I have a visual separatio

[2019-11-11 12:17] vickyokrm opened #15762 "Recompute message cache for auto translation."
### Description:

The messages on UI are cached. This prevents the re-computation of auto translated messages. Therefore, when the re-render of translated message happens the original message has to be replaced by the translated message.

Reason: The key for each cached message is `msg._id + _updated.id`. So the translated message with same key exists already in the cache and therefore the transla

[2019-11-11 13:05] rasos commented on #658
@rodrigok agree to focus on team spaces here. Whoever needs to separate organizations should fire up another RC instance and federate channels and groups as needed. This is also the only GDPR safe solution for different legal entities.

My proposal for managing teams in RC is permission-driven. I simply also see those channels and rooms my team (and thus myself) has access to. On the UI level we p

[2019-11-11 14:12] reetp commented on #15761
Yes, you completely missed it and talked about the Electron client with no mention of Chromium.

I don't think the rocket.chat has any control over your browser saving your passwords.

That is a function of your browser, and possibly your server administrator via say GPO policies.

I guess there is a remote possibility that your server admin could have hacked some code in that might prevent this o

[2019-11-11 17:25] renatobecker commented on #15748
Hi, @NIbbel92 are you sure you were running the `2.2.0` version when this happened?
I'm asking because we were aware of it and it's supposed to be fixed after `2.2.0` release.

[2019-11-11 17:47] rehste commented on #15748
Hi @renatobecker
I've had this problem for a few months now. I can't close my chats either, because the error comes "Room not found". So the chats didn't come after version 2.2.0 but we somehow need a solution to delete the chats.

[2019-11-11 17:54] sampaiodiego opened #15765 "Cannot unfollow message from thread's panel"
If you open the thread panel and click on actions buttons of the first message (the one that started the thread) there is no unfollow option.

but if you click on the same message at message's list, the unfollow option is there.

[2019-11-11 18:37] renatobecker commented on #15748
Do you have access to the database?
If so, I can guide you on how to fix it.

[2019-11-11 19:46] rehste commented on #15748
@renatobecker yes. Please tell me where to find the entries, then I will delete them. Thank you

[2019-11-11 19:55] renatobecker commented on #15748
This command should solve the issue:
`db.rocketchat_livechat_inquiry.update({status: 'queued',closedBy: {$exists: 1}},{$set: {status: ‘closed’}},{multi: true})
`

[2019-11-11 20:32] rehste commented on #15748
@renatobecker

with:

get the following error:

`2019-11-11T21:20:51.537+0100 E QUERY    [js] SyntaxError: illegal character @(shell):1:96
rs01:PRIMARY> db.rocketchat_livechat_inquiry.update({status: 'queued',closedBy: {$exists: 1}},{$set: {status: ‘closed’}},{multi: true})
2019-11-11T21:21:19.567+0100 E QUERY    [js] SyntaxError: illegal character @(shell):1:96
rs01:PRIMARY>`

[2019-11-11 20:49] renatobecker commented on #15748
It seems to be a problem with the quoted string `closed`. Please, try the command below:
`db.rocketchat_livechat_inquiry.update({status: 'queued',closedBy: {$exists: 1}},{$set: {status: 'closed'}},{multi: true})`

[2019-11-11 20:54] renatobecker commented on #12740
Hi @wreiske, have you tested it on the `2.2.0` version?
I'm trying to reproduce this bug but I just can't.

[2019-11-11 20:55] renatobecker commented on #12740
What's your server version?

[2019-11-11 21:01] renatobecker commented on #15749
Hi @AdriWild. We changed the `publicPath` of the Livechat bundle so I suggest you update your server to `2.2.0` release, then check the script installation.
You'll probably need to update the script on your website or where Livechat the installed.

[2019-11-11 21:07] rehste commented on #15748
`rs01:PRIMARY> db.rocketchat_livechat_inquiry.update({status: 'queued',closedBy: {$exists: 1}},{$set: {status: 'closed'}},{multi: true})
WriteResult({ "nMatched" : 0, "nUpserted" : 0, "nModified" : 0 })`

Unfortunately the two incoming live chats, which we can't delete, are still there.

[2019-11-11 21:25] renatobecker commented on #15748
In this case, you'll need to update the documents passing the `rid` parameter through the query. For example:

`db.rocketchat_livechat_inquiry.update({rid: 'ZqCQbYjCQbqXZesqY'},{$set: {status: 'closed'}})`

You can get the `rid` value from the `URL`, so you'll need to call this command for each `inquiry`.

[2019-11-11 21:41] rehste commented on #15748
I went into Rocket.chat then clicked "open link" and copied the rid at the end of the url. Unfortunately no status was changed to "closed".

<img width="780" alt="Bildschirmfoto 2019-11-11 um 22 41 15" src="https://user-images.githubusercontent.com/7567967/68623274-64dcef00-04d4-11ea-92f3-bb7b73f697ae.png">

[2019-11-11 23:37] localguru commented on #14232
I do see this on 2.2.0 with SAML login too.

[2019-11-12 02:26] renatobecker commented on #15748
This is really weird. What happens when you find the inquiry by the `rid`? Do you get any results?

[2019-11-12 03:20] ggazzo commented on #15761
@Dirk23 you now if this setting is enabled?
![image](https://user-images.githubusercontent.com/5263975/68639071-2cdca880-04e2-11ea-8de0-226a7602f266.png)
Admin > accounts

[2019-11-12 05:59] Dirk23 commented on #15761
That was the Problem. I dont know how and why this setting was set, but disabling solved the Problem. Thank you very much!

[2019-11-12 05:59] #15761 closed

[2019-11-12 07:24] antkaz commented on #12740
Thanks for the answer. I'm using `2.1.0` version and this error is not always repeated. I will try to reproduce the error and send the report here

[2019-11-12 08:02] rasos commented on #7742
The permission `auto-translate` at `livechat-guest` role does not have any effect in the livechat. It seems that this function has only been implemented for normal groups and channels. We would need that for livechat too, two-way, for both `livechat-guest` and `livechat-agent`.

[2019-11-12 08:44] rehste commented on #15748
@renatobecker now it works.. Thank you :)

[2019-11-12 08:55] AdriWild commented on #15749
I have 2.1.1 Version and I get "snap rocketchat-server has no updates available"

How can I update to version 2.2.0 ?

[2019-11-12 09:24] antkaz commented on #12740
@renatobecker I repeated bug.
Actions:
1. Start a livechat
2. Close the livechat
3. Wait a while
4. Get message 'promptTranscript'

Possibly occurs after reconnecting to the server

![image](https://user-images.githubusercontent.com/19654261/68658465-52f06000-0557-11ea-9fe3-ff2e8c555c73.png)

After reloading the page, the message does not appear.

Rocket.Chat version `2.2.0`
Deployment method Dock

[2019-11-12 09:31] NIbbel92 commented on #15748
yes the issue was present prior upgrading to 2.2.0
I have followed your. steps on deleting the chats directly in the database.
Chats are gone now thank you.
Ticket can be closed

[2019-11-12 12:57] #15748 closed

[2019-11-12 13:18] vickyokrm opened #15769 "Auto translate will not work for the new translation language"
### Description:

The Auto translate will not work for new translation language and it always get the previous translation language from the cache which leads to inconsistency in translation

### Steps to reproduce:

1. Create a channel and activate auto translation to the desired language.
2. Ask someone to write a message on another language.
3. The translated message will be now displayed, if t

[2019-11-12 13:39] renatobecker commented on #12740
I just can't reproduce the case related to the `promptTranscript` message.
But, related to the buttons, which are not being hidden, I've submitted a new PR fixing this behavior as you can see in this PR -> https://github.com/RocketChat/Rocket.Chat/pull/15770.

[2019-11-12 15:19] sp2703 commented on #13391
I would like to contribute on this issue. Any points to refer to?

[2019-11-12 16:28] 88fingerslukee commented on #14562
updated to 2.1.1 and this still persists. Does anybody read this?

[2019-11-12 19:49] MartinSchoeler commented on #6719
@starso is this only happening when using the API?

[2019-11-12 20:01] MartinSchoeler commented on #7264
As we can see on the GitHub comment box if you add multiple spaces it will trim it down to 1, an alternative to this is to use block quotes, as seen on this screenshot
![Screen Shot 2019-11-12 at 16 58 53](https://user-images.githubusercontent.com/20868078/68706072-f9476000-056d-11ea-814b-52c646f971f7.png)
@sampaiodiego
Thanks!

[2019-11-12 20:01] #7264 closed

[2019-11-12 20:06] #12164 closed

[2019-11-12 20:08] #12968 closed

[2019-11-13 02:24] lucianomlima commented on #12924
Here it's not working too. Server version: 2.1.1
`Embed Link previews` it's an admin configuration?

[2019-11-13 03:21] smcardle opened #15776 "No way to disable / remove inbuilt slash commands"
There seems to be no way to disable/hide or remove the inbuilt slash commands.

We are creating extensions using the App Engine to add new slash commands.

However, we also want to disable/hide or preferably remove the existing internal slash commands but even trying to remove them from our App Engine plugin has no effect

[2019-11-13 04:39] thinkeridea commented on #7264
This is a scheme, but I will not use block quotes to format normal communication information. I usually use it in format code or special information. I think as a chat platform, we need to deliver messages according to the user's intention, rather than just providing a parser for markdown. If I want to promote the use of all people in the company, I think it should be a chat tool, which does not n

[2019-11-13 08:12] starso commented on #6719
Yes, If i post message directly with url containing & mark everything is fine.
Using API string gets cut after first occurence of & mark.

[2019-11-13 08:44] tavor118 commented on #12685
The same problem

[2019-11-13 09:25] rsimai commented on #15471
This is not really a scientific approach but to add more information: It seems to me depending on the browser. I tried with Firefox (68.2.0esr) and Chrome (78.0.3904.97) where Firefox behaves better and most often marks the channel read when I change into it. I fails more often in Chrome. Sometimes it helps to click through random channels and on return it's marked. What always helps to trigger is

[2019-11-13 10:15] reetp commented on #12924
As above:

Admin: Message -> Embed Link Previews

[2019-11-13 10:20] antkaz commented on #12685
@tavor118 possibly fixed here #15771

[2019-11-13 11:12] Sicoval31 opened #15778 "Manage users in group ; group !=roles"
not a bug, but a feature for the future ;)
it's seems that no chat software have this option. I don't understand why .. so many chat-users want to manage users in groups to separate some of them and manage them easyly. Nor a AD's group ;)

For example, i want to have :
- VIP group with president, director, etc
- user group with all the other user
- admin_software group for administrator of many so

[2019-11-13 11:17] reetp commented on #15778
@rocket-cat close

There are various issues already open on this sort of thing. Please search before opening Issues.

eg
https://github.com/RocketChat/feature-requests/issues?utf8=%E2%9C%93&q=is%3Aissue+group

At best this is a feature request and should be opened here https://github.com/RocketChat/feature-requests

[2019-11-13 11:17] #15778 closed

[2019-11-13 12:56] localguru commented on #15662
@reetp John, exactly the same problem I have here on my live server (version 2.2.0) too. The `name` of the creator of the thread is displayed (first message). For all further messages either the `username` is displayed directly or after a reload the `name` changes to the `username`. Strangely enough, my test system, which should be configured identically and runs on the same version, does not beha

[2019-11-13 13:27] reetp opened #15779 "Data still retained in rocketchat__trash"
Rocket.Chat v2.2.0
Docker

Following a conversation on #support a user mentioned that data could still be found in rocketchat__trash following pruning and wanted to know if it could be recovered.

I took a look and could see manually deleted data was in there as well. Why?

Is there a 'Restore messages' method, and if so, where is the 'Empty Trash' method' ?

There should be some way to purge this

[2019-11-13 14:03] vineethvijay-MyT commented on #8312
@AndreVolpi Did you got this fixed? We are facing the same issue.

[2019-11-13 14:25] spanchy commented on #14707
@anothertobi You can use stunnel to securely connect to LDAP. Section RocketChat to configure LDAP, please use localhost to connect LDAP and insecure default settings. It will be safe :)

[2019-11-13 14:28] AndreVolpi commented on #8312
No, we gave up on it as a company. (also having the chat didn't give a positive impact on our website so didn't make sense)

[2019-11-13 15:59] ruKurz commented on #8808
When creating this issue, I didn't choose the title well. I updated the title, the description and reopen this issue.

[2019-11-13 16:33] anothertobi commented on #14707
@spanchy we are now using HAProxy (https://github.com/appuio/charts/tree/master/haproxy), but it would be nice to have this feature back in Rocket.Chat :)

[2019-11-13 17:26] chriswoolfe commented on #3365
@jorgejeferson, its under Room Info
![image](https://user-images.githubusercontent.com/5896087/68788124-d752e980-0610-11ea-9226-58eaec9be814.png)

[2019-11-13 21:46] Sumiri opened #15785 "LIVECHAT CHAT: Triggers don't work"
Hello

When update to version 2.2.0 our triggers configured  stopped working.

this is my configuration

![image](https://user-images.githubusercontent.com/10750499/68806729-6a514b00-0634-11ea-8c48-e767dec97825.png)

but i cant make it work

next image show the error

![image](https://user-images.githubusercontent.com/10750499/68806982-fb282680-0634-11ea-910f-717c7813d816.png)

thanks for you help

[2019-11-13 22:16] localguru commented on #15342
For me this sounds more like the wrong SMTP provider.  ;) Or to put it another way: a normal mail account might not be the right approach to use it as smtp relay for a multi user service.

[2019-11-13 22:57] backnight commented on #12388
Hello, I just had the same issue on RocketChat 2.2.0.

Regression?

[2019-11-14 03:17] lucianomlima commented on #12924
Thanks!

[2019-11-14 04:43] ankar84 opened #15787 "Custom authentication service creates accounts, although this is prohibited by the settings"
### Description:
Custom authentication service creates accounts, although this is prohibited by the settings.
It is security issue for us, because we create users in Rocket.Chat by native LDAP with Active Directory security group filter. That creation allows you to bypass this filter.

### Steps to reproduce:

1. Setup **Custom OAuth** provider (**KeyCloak\LDAPS** in our case)
2. In Rocket.Chat **

[2019-11-14 05:23] ritwizsinha commented on #15588
Can anyone please tell me where the file for this modal is located ?
I have been able to find a file named fullModal but it doesn't seem to be the same

[2019-11-14 06:35] antkaz commented on #12740
@renatobecker Thanks for PR!

The `promptTranscript` message added after reconnect to server

![trans-bug](https://user-images.githubusercontent.com/19654261/68832387-99b69500-06d2-11ea-959d-0c647186257a.gif)

[2019-11-14 06:45] Gummikavalier commented on #15779
As a workaround for the lack of option for cleaning up messages in the trash automatically we run this command daily on our server:

Thank you for martinvonwittich for the original command in his/her issue discussing the size of rocketchat_integration_history.

[2019-11-14 08:23] localguru commented on #7507
Still does not work in version 2.2.0!

[2019-11-14 08:29] localguru commented on #12511
Still does not work in version 2.2.0!

[2019-11-14 08:45] localguru commented on #12528
Sill does not work in 2.2.0!

![grafik](https://user-images.githubusercontent.com/8544984/68840672-7a643b80-06c3-11ea-8e81-2b960ae428ac.png)

[2019-11-14 08:51] localguru commented on #12315
Is working in 2.2.0, thanks!

[2019-11-14 08:51] #12315 closed

[2019-11-14 08:51] localguru commented on #12315
Is working in 2.2.0, thanks!

[2019-11-14 08:54] localguru commented on #9600
See PR https://github.com/RocketChat/Rocket.Chat/pull/15767

[2019-11-14 08:54] localguru commented on #9596
See PR https://github.com/RocketChat/Rocket.Chat/pull/15767

[2019-11-14 08:57] localguru commented on #6526
This is still a bug in RC 2.2.0.

[2019-11-14 11:39] nullbio opened #15788 "Is there a way to refresh the loginToken to force re-login from the browser?"
We're using the embedded form of RocketChat in our website. Basically using it as a chat server so registered website users can talk to other users who they've been given access to communicate with. When using the rocketchat iframe and the `API URL` and `API Method` as documented here: https://rocket.chat/docs/developer-guides/iframe-integration/authentication/ - we're able to log the website user

[2019-11-14 12:27] ankar84 opened #15789 "Accounts_AvatarResize breaks avatars on AmazonS3 storage and rotate some avatars"
### Description:

Here is 2 bugs with avatars, that got from LDAP (Active Directory).
1 bug - When **FileUpload_Storage_Type** is set to **FileSystem**. Enabled **Accounts_AvatarResize** rotate **some** photos to 90 degrees. When **Accounts_AvatarResize** is Disabled, photos is in normal orientaion, but slightly compressed vertically.
2 bug - When **FileUpload_Storage_Type** is set to **AmazonS3**

[2019-11-14 12:45] bkraul opened #15790 "Docker develop image is built from an old commit"
### Description:

There seems to be another instance of the develop docker image being built from an older commit. This was reported on #13264 (for a different set of commits). I believe @sampaiodiego  found it was linked to an end-to-end tests issue.

So just giving the heads up that the current image is based on a commit dated Oct 31, when the most current one (per my last backup) is Nov, 11. My

[2019-11-14 13:07] janis-veinbergs commented on #5900
Unfortunately, `#{username}` and `#{groupName}` is insufficient to effectively search Group membership within Windows Active Directory environment. https://github.com/RocketChat/Rocket.Chat/blob/2c756207bd8a99b8e7ee4fc4fd5b384aa8ceb351/app/ldap/server/sync.js#L30

As a workaround, I can specify which OU's to use when searching group membership - but this is ineffective and must manually type all o

[2019-11-14 13:17] bkraul commented on #15790
Please disregard this issue. I am an idiot. Was looking at a different RC instance.

[2019-11-14 13:17] #15790 closed

[2019-11-14 13:21] kakcept opened #15791 "Push notification delayed after upgrade to 2.1.1"
### Description:

We are currently running a RC server for our 400 delegates in Sharm El-Sheik on the World Radio Conference.  Rocket chat is installed with the SNAP subsystem. Until friday last week we were running version 1.3.2, friday night the SNAP updated the RC server to version 2.1.1

Unfortunately our experience is that push notifications to mobile devices now are delayed anywhere from a f

[2019-11-14 14:08] renatobecker commented on #12740
Hi @antkaz
Okay, I'll follow the steps you described, thanks for your help.

[2019-11-14 16:10] sampaiodiego commented on #15790
Don't be so hard at you :joy: thanks anyway for letting us know.. :+1:

[2019-11-14 16:24] willstott101 opened #15793 "Change in notification defaults not reflected in the UI"
### Description:

The Account setting UI still claims that `Mentions` are the default however https://rocket.chat/2019/09/27/push-notification/ and experience suggests otherwise.

### Steps to reproduce:

1. Go to account settings on a new default account.
2. See that the settings claim Mentions only.
3. Have someone send a message in a random channel without a mention.

### Expected behavior:

I

[2019-11-14 16:32] willstott101 commented on #15793
As an aside is it possible to change the default on a per-server basis? As we very much liked the old default of `Mentions` only.