[2018-04-02 15:36] DmitryApollonov commented on #9112
Still an issue on 0.62.2

[2018-04-02 15:45] ricardojrgpimentel commented on #10268
I guess we need to wait for a new snap update for this right?

[2018-04-02 17:01] sampaiodiego commented on #6925
I agree @timkinnane ..

[2018-04-02 17:51] geekgonecrazy commented on #9118
Redis oplog is definitely on our radar.  We've been watching it develop, especially with the recent flurry of activity.  :smile:

We have not begin much testing of it.  Introducing a new dependency like redis is not something we want to rush into.  We have a lot of users, if upgrading suddenly required them to setup redis... it would be rather complicated to work through :smile:

Would love to see

[2018-04-02 17:53] graywolf336 commented on #6925
I agree and will close this. With the upcoming Rocket.Chat Apps and the ability it will have, which is contextual bar additions, this will be possible for someone who wants to code it. That's in the future and not now though. :)

[2018-04-02 17:53] #6925 closed

[2018-04-02 17:59] Hudell commented on #9357
@soundstorm  Yes, the general channel always has that fixed id. I've tried running more tests here and was still unable to replicate the issue.

Have you checked the channel's notification preferences? It overrides the users's global notification preferences, so even if the user is set to display notifications on every message, it will only show notifications on mentions for the channels that are

[2018-04-02 18:10] soundstorm commented on #9357
@Hudell okay, then lets see.
I've set
- #general to use my global preferences
- #offtopic to notify on every message
So settings for these channels should work to send out notifications regardless of trigger words.

[2018-04-02 19:49] adipose opened #10302 "LDAP authentication fails when username does not match LDAP/User Search/Search Field"
### Description:

The first time a user synced from LDAP signs into RocketChat, they cannot sign in using their username.  Instead, they have to use sAMAccountName (or whatever has been specified in the "user search/search field" section of LDAP).  After the first successful sign in, the username begins working.  On LDAP configurations where sAMAccountName is the same as the username, this would n

[2018-04-02 20:50] geekgonecrazy commented on #10268
@mholt thanks for taking the time to post on this issue.  I'll get another build of this going to give that a try.

@ricardojrgpimentel if you are stuck you can run:
[code]

Basically executing the prior snap's caddy version.

1232 should be the number of the last revision.

[2018-04-02 20:54] logancodes commented on #10289
Hi @Hudell, we are actually working on fixing the issue. So you might not need to fix it. Thanks

[2018-04-02 21:11] Hudell commented on #10289
Alright!

[2018-04-02 21:13] mixrat commented on #3416
+1 I often miss calls, even when I am at my computer. Really need it to ring.

[2018-04-02 21:18] rafaelks commented on #9785
@rodrigok Can you describe in more details this one?

[2018-04-02 21:44] ricardojrgpimentel commented on #10268
Thank you @geekgonecrazy it works!

[2018-04-03 01:37] T7o7heVV commented on #2873
@marceloschmidt sorry as a software developer I do not understand how this cannot fit the architecture of Rocket.Chat. A simple version of hashtags would suffice in forms of a user-defined string-prefix which can even be searched for in a normal message-content search. There is no need for any database related support for those hashtags. The feature would only be UI-related as Rocket.Chat would th

[2018-04-03 04:29] theodorDiaconu commented on #9118
@AFrangopoulos very likely I will have time this week to look into the issue.

@geekgonecrazy

This solution should act as an opt-in, for enterprise features, where scalability is required. RedisOplog for 50-100 online users that chat at a rate of 20 msgs / minute, it's useless, you're better off with oplog.

RedisOplog is more of a safety net for apps that grow, and they eventually hit the oplog

[2018-04-03 04:52] geekgonecrazy commented on #9118
@theodorDiaconu makes sense.  So you see biggest gains in connected users?  Would be great to have a more in depth conversation to find out where exactly these gains are coming from.  To see if some of our own performance pains could be relieved.  I suspect they would, but important to really understand how and why that's the case.

[2018-04-03 05:13] theodorDiaconu commented on #9118
@geekgonecrazy it's not the number of users that is important, it's the actual traffic. Scoop a bit through the docs of RedisOplog, everything is explained there, if you do have other questions feel free to ask. On the repository.

[2018-04-03 07:34] ChessSpider commented on #10056
soooo..... im surprised this hasn't been fixed yet. I predict a riot.

[2018-04-03 08:41] JRutledg commented on #8962
I have the same issue. I assumed it was a snap issue, as that is how I installed rocketchat. Version 2.7.0, linux mint. Works correctly within firefox.

[2018-04-03 09:04] janrudolph opened #10304 "[Improvement] Add option to activate/deactivate permission label"
User roles can be displayed in a chat room right next to the user name. Example:

<img width="183" alt="role_names" src="https://user-images.githubusercontent.com/3596824/38239936-78bb8970-372e-11e8-9f48-78ae872f771a.png">

Sometimes you create technical roles or a hierarchy of roles. You do not want to display all elements of the hierarchy next to the user name. Therefore, it would be beneficial

[2018-04-03 09:40] Pikrass commented on #988
If necessary the function could be enabled/disabled in server configuration perhaps?

[2018-04-03 11:00] Dalben96 opened #10305 "Change Directorysearchbar Text to "Search""
### Description:

When opening the Directory. The searchbar is showing "Search Message". You can only search Channels or User.
### Server Setup Information:

* Version of Rocket.Chat Server:  0.62.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances:  1
* Node Version:  v8.9.4

### Steps to Reproduce:

1. Open Directory

### Expected behavior:

Se

[2018-04-03 11:43] robindijkhof opened #10306 "API Request: Get and Reset number of unread messages."
We can of course get the number of unread messages by adding the `unreads` and `oldest` query parameters. However this number depends on the oldest data of course. This isn't a big problem but it can differ from the value displayed in the web client. Also the push notification icon displays the number of unread messages identical to the value in the webclient. Now we can end up with two different

[2018-04-03 12:04] osfunapps opened #10307 "[BUG] 0.63 REST API authentication with external OAuth services doesn't work"
### Description:
In the latest version of Rocket.Chat (0.63 RC1), the REST API authentication requests doesn't work with Facebook and Twitter.

reference to the REST API authentication:
https://rocket.chat/docs/developer-guides/rest-api/authentication/

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63 RC1
* Operating System: Linux Amazon AMI
* Deployment Method(snap/docker/tar/

[2018-04-03 12:26] profrowe commented on #10056
This is breaking for me.  If anyone has a guide on implementing the fixes to a snap, I would be grateful.  I'm happy to help and experienced with coding, just new to snaps.

[2018-04-03 12:28] sefter25 commented on #10266
hi @all

this is not the same of 10268, i don´t have problems with Caddy. My only problem is then snap do a auto-refresh, that my caddyfile will be overwritten with the default caddyfile and after a restart of caddy service the https url will not work. How i can stop the auto-refresh?

[2018-04-03 12:48] arminfelder commented on #10056
@profrowe I haven't tried, but I guess you can
1.) clone https://github.com/arminfelder/Rocket.Chat.git
2.) checkout hotfix-develop-saml
3.) meteor build
4.) checkout https://github.com/RocketChat/rocketchat-server-snap
5.) change ln:67 to point to your Rocket.Chat.tar.gz, which was just created by meteor build

[2018-04-03 13:19] mrsimpson commented on #8312
@sampaiodiego I just debugged the widget and noticed, that by the time the options menu is getting created, the `TAPi18n.getLanguage()` returns the default one ("en"). Once the chat is loaded, it returns the proper client language.
I've also seen that the language is set in a method-call-callback in `Template.livechatWindow.onCreated`. I assume that the rendering of the options menu happens before

[2018-04-03 13:33] paulomatheusgrr commented on #2869
Do we have any news about this?

I can´t install rocket chat in my business while this don't works!!

[2018-04-03 13:52] sampaiodiego commented on #8312
@mrsimpson from what @renatobecker discovered, seems like the livechat widget uses i18n files of rocket.chat app. he opened this PR https://github.com/RocketChat/Rocket.Chat/pull/9966 , could you give it a look?

[2018-04-03 14:04] #10254 closed

[2018-04-03 14:09] sampaiodiego commented on #9722
fixed by #10300

[2018-04-03 14:09] #9722 closed

[2018-04-03 14:09] #10158 closed

[2018-04-03 14:25] sampaiodiego commented on #7100
guys you should rather add reaction on the issue instead of comment `+1` .. this way we can better prioritize issues [sorting issues by reactions](https://github.com/RocketChat/Rocket.Chat/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc) ..

talking about the issue, we have this PR https://github.com/RocketChat/Rocket.Chat/pull/9775 which will enforce 2FA for external authenticators (it s

[2018-04-03 14:26] Drangleic opened #10308 "[FEATURE REQUEST/IMPROVEMENT] Alternating Chat Bubbles"
### Description:

One of the features we'd like to see is to have chats (both DMs and group chats) come from alternating sides of the window based on who is sending it. As in Google Hangouts (and numerous other chat applications), a user's own chats appear on the right hand side of the window, and chats from other users appear on the left. We would highly appreciate the ability to toggle this on o

[2018-04-03 14:30] #10021 closed

[2018-04-03 14:44] mrsimpson commented on #8312
@sampaiodiego @renatobecker basically merged all the translations into the translation s of the main app. While I believe this works, it's a bit ... strange to me. However, I also noticed that translations added in other packages than `rocketchat-i18n` are disrespected. I also had to move our translation files into the rocketchat-package. I however did not merge them, which works fine and at least

[2018-04-03 14:46] jvacek commented on #1861
@MartinSchoeler this ticket as well as #6000 have been marked as duplicate of each other and both closed, has this been resolved elsewhere?

[2018-04-03 15:10] sampaiodiego commented on #8312
unfortunately the way we build and serve the livechat-app, makes `tapi18n` package request translations to the main rocket.chat app.. we couldn't find a way to change the request path though, so that's why we move all livechat translation to `rocketchat-i18n`.

if we had it as a different app/process running, it should work as expected.

[2018-04-03 15:13] graywolf336 commented on #7707
There was a pull request to fix this, but I can't find it now for some reason...

[2018-04-03 15:38] mrsimpson commented on #8312
@sampaiodiego yup, understood. I still don't know whether the TAPi18n-package is a blessing or a curse, but the configuration definitely is the latter.
@renatobecker just fyi: You don't have to merge the files, see https://github.com/assistify/Rocket.Chat/commit/3340357e7f0809b6aea391e7fb913c2f2a402f87

[2018-04-03 16:36] renatobecker commented on #8312
@mrsimpson, I tried to load the livechat translation files during the `Package.onUse` (rocketchat-livechat/package.js), the same way it is done in `rocketchat-i18n`, but it just didn't work well.
So, because of this, we decided to unify the translation files inside `rocket.chat package`.

[2018-04-03 17:15] kneufeld commented on #6588
Rancher has a pretty graph of memory usage going through the roof.

[2018-04-03 17:16] BenWiederhake opened #10311 "Cannot write code containing `@all` if @all is forbidden"
### Description:

Expected behavior: Content of code tags do not matter.

Actual behavior: If the channel forbids using the `@all`-feature, then no code tag may contain `@all`.

In other words, I cannot write this:

Note that this doesn't use the `@all`-feature, so it should be okay.

### Notes while going through the guide
( https://rocket.chat/docs/contributing/reporting-issues )

1. Search the

[2018-04-03 17:21] HammyHavoc opened #10312 "Cannot add a user to a private channel; user cannot join channel even when made public"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Linux 4.13.0-37-generic
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.8.1
* mongoDB Version:

### Steps to Reproduce:

1. Attempt to add user to private channel
or
1. User attempts to join channel once made

[2018-04-03 17:35] HammyHavoc commented on #10312
Turns out it just needed a restart after tinkering with IRC a few days ago.

[2018-04-03 17:35] #10312 closed

[2018-04-03 18:09] filipedelimabrito opened #10315 "[NEW] REST API to perform forgot password"
Creates a REST API to perform `forgot password`.
Here is the idea:

- User calls the forgot password REST API with an email;
- The API checks if the email is valid (I mean, if it exists at least on the DB);
- If the user email is valid the API dispatches an email with a link to able the user to redefine its password (like the web app does).

[2018-04-03 18:26] nemaniarjun opened #10316 "OTR Sidebar Extended View"
When in an OTR conversation, the sidebar shows the encrypted JSON string.
It should instead show something like "Encrypted Message".

[2018-04-03 18:28] nemaniarjun commented on #10316
![image](https://user-images.githubusercontent.com/15715894/38268065-d35eba66-379a-11e8-9586-97d93739d258.png)

[2018-04-03 18:35] rafaelks opened #10317 "[NEW] REST API to favorite/unfavorite a channel/group/dm/custom channel"
Link to discussion here: https://forums.rocket.chat/t/rest-api-for-favoriting-room/465/5.

[2018-04-03 18:42] rafaelks commented on #9295
This is causing this weird sorting.

![2018-04-03 15 39 58](https://user-images.githubusercontent.com/551004/38268854-7e1d36da-3755-11e8-8701-f72c5f9de88a.gif)

[2018-04-03 18:54] rafaelks commented on #8232
Discussion was moved to our forums: https://forums.rocket.chat/t/deprecate-our-cordova-mobile-applications/452/5.

[2018-04-03 18:54] #8232 closed

[2018-04-03 18:55] rafaelks commented on #8400
I'm closing this issue because this won't be fixed in version 1 of the API.

[2018-04-03 18:55] #8400 closed

[2018-04-03 18:55] rafaelks commented on #6511
Closing this one, won't be fixed in v1 of the API.

[2018-04-03 18:55] #6511 closed

[2018-04-03 18:56] rafaelks commented on #8205
I think this one can be addressed in our API v1, what do you think @graywolf336 and @MarcosSpessatto?

[2018-04-03 18:58] rafaelks commented on #9961
I'll move this one 0.64 because we **really** need the APIs in order to have this feature on the mobile apps.

[2018-04-03 19:02] rafaelks commented on #9979
Moving this one to 0.64, will drastically improve the experience of receiving a notification on the mobile apps.

[2018-04-03 19:26] soundstorm commented on #9357
@Hudell can reproduce with any account on our instance.

[2018-04-03 19:58] soundstorm commented on #9357
[code]

[code]

[code]

Seems all okay so far.

[code]
So this uses my user settings

[code]
And this should override my settings and force push notifications, but neither web client nor RC+ on iOS does receive that.

Last option would be to rename the channel, recreate a new #general/#offtopic and change all values to the new one. But this would break # links.

[2018-04-03 20:11] mrsimpson commented on #8312
@renatobecker I tried the same and many hours of my life reconfiguring TAPi18n. Without any success. I was hoping you had ad better connection to the Javascript library world ;)
Now, I can only imagine to get it solved with a [meteor build plugin](https://docs.meteor.com/api/packagejs.html#build-plugin-api)or by simply adding the file-copy to the build process (in the CircleCI-build-chain)

[2018-04-03 21:11] sampaiodiego commented on #9357
@soundstorm just to confirm, do you receive a push notification if you're mentioned at those channels at the same conditions?

I've also found [this](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/server/lib/sendNotificationsOnMessage.js#L236). does it apply to your case?
![image](https://user-images.githubusercontent.com/8591547/38275991-0a754960-376a-11e8-8192-050

[2018-04-03 21:28] rtahmasbi commented on #10280
Its version is 0.62.2.

![screen shot 2018-04-01 at 15 36 17](https://user-images.githubusercontent.com/17692495/38276868-a9c23ad0-3753-11e8-858c-139c0f3f95d7.png)

[2018-04-03 21:53] soundstorm commented on #9357
@sampaiodiego yeah, that's right.
The number of users exceeds 100, just set it to 0 to check, then used the wrong account to publish a message (and therefor got no notification regardless of the settings) but this fixed it.

The description is then misleading, as the "notify on all messages" will not override this limit. So maybe I leave that open to fix the description or the behaviour.

[2018-04-03 22:26] sampaiodiego commented on #9357
yay 🎉 at least we found it! damn..

yep, I found the description misleading as well.. need to dig deeper to see if either the description or the implementation is wrong 😉

[2018-04-03 22:28] tzar commented on #9498
Same bug here - at least I know the space before/after workaround now! The behavior felt very random as to whether I'd get an emoji or not. I am using 0.62.2

[2018-04-03 22:48] tzar commented on #9498
It's probably this (old) issue in emojione - https://github.com/emojione/emojione/issues/54

Looking at the regex used it will not match `<p>:)</p>` or `<p> :)</p>` or `<p>:) </p>`, only `<p> :) </p>`, try it here: https://regex101.com/r/XHfSKj/1

[2018-04-03 22:52] karlprieb commented on #9536
Fixed here #10012

[2018-04-03 22:53] karlprieb commented on #9536
Sorry, is partially fixed. Custom fields isn't fixed yet.

[2018-04-03 23:29] cardoso commented on #10286
@rodrigok @graywolf336 guys, this API is not working for custom emojis...

[code]

[2018-04-04 00:03] c0dzilla opened #10322 "[BUG] Apostrophe misparsed in display text of markdown url"
### Description:

If display text in [text] (url) or <url|text> contains an apostrophe, it is not properly displayed.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: 8.9.4

### Steps to Reproduce:

Enter a message like [it'

[2018-04-04 01:06] #10286 closed

[2018-04-04 02:27] #9561 closed

[2018-04-04 06:52] mc commented on #10226
I dont see what more there is to understand.  The issue is the same as your emojis issue.  use the PR you already created (the one that is linked to the Issue i referenced) and add 'manage-integrations' and 'manage-own-integrations' to the list of roles that are permitted to the Administration menu - just like you added 'manage-emojis' to the list in the PR.

[2018-04-04 07:03] Wirone commented on #8025
Personally I think the lack of this documentation is a problem for all people who want to use Internal Hubot. Of course everything can be done without it (we are currently working on our scripts) but it would be just helpful to get basic information there, especially for non-developers. I don't think that basics of Internal Hubot will change (how it can be enabled, from where and which scripts sho

[2018-04-04 07:17] tctovsli opened #10325 "Feature request: Make e-mail optional for Livechat registration and bots"
### Description:
When using the Livechat with "Registration", the user has to enter both name and e-mail. To have an option where you can make e-mail optional would be useful. It isn't a neccessary field, as the guest users (without registration) doesn't have e-mail associated with them.

The same goes for bot users. When creating bot-accounts, a unique e-mail is required for each bot. In many cas

[2018-04-04 07:51] timkinnane commented on #8025
Thanks @Wirone - I totally agree but we are currently in the process of launching a new adapter for *external* hubot installations and working on that documentation. There' actually a lot of changes on the way for bots and we don't want to waste time updating docs that will be out of date within weeks. We'll put up some of those changes as discussions very soon, with docs to come from that discuss

[2018-04-04 07:57] JSzaszvari commented on #8025
@rocket-cat close

Closing as per @timkinnane comments. Stay tuned people. Great things on the way for bots.

[2018-04-04 08:37] TwizzyDizzy commented on #9865
Hey, @karlprieb, could you have a look at this PR? :)

Cheers
Thomas

[2018-04-04 09:23] himbeere opened #10326 "personal "view mode" (chat window) setting gone in 0.63.0"
Hello Devs.

After upgrading to 0.63.0 the personal setting "view mode" is gone. Usually you can choose between normal, cozy and compact. I can find the "view mode" settings under accounts as adminstrator but it's rather useless if i cannot change that setting as regular user. Any ideas on that? Bug or feature?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0
* Operating Sys

[2018-04-04 09:25] himbeere commented on #10326
0.62.0

![bildschirmfoto 2018-04-04 um 11 22 03](https://user-images.githubusercontent.com/631865/38299562-b1fc0d1e-37fa-11e8-845c-cf312ddc9382.png)

0.63.0

![bildschirmfoto 2018-04-04 um 11 24 42](https://user-images.githubusercontent.com/631865/38299610-ce8733d2-37fa-11e8-8470-f13eef1bc55d.png)

[2018-04-04 11:16] kaiiiiiiiii commented on #9536
@karlprieb The custom fields issue has already been fixed in a previous release (0.62.x). I'll close this one again as both issues has been fixed :)

![2018-04-04 13_14_21-](https://user-images.githubusercontent.com/4711233/38304604-474f3d0a-380a-11e8-8a1b-8e255745c8b6.png)

[2018-04-04 11:16] #9536 closed

[2018-04-04 12:10] marcin70 opened #10327 "Problem with client on multimonitor environment"
### Description:
If I remove the monitor from the multi-monitor configuration, the application stays on the non-existent screen.

### Steps to Reproduce:

1. Move RocketChat to screen on another monitor
2. Disconnect *this another* monitor from computer
3. RocketChat stays on disconnected screen/monitor and I can't do anything...

### Expected behavior:

Automatic move to the existing screen/monit

[2018-04-04 12:31] dachnikrus opened #10328 "[BUG] Forget user session on window close"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Linux, Debian 9
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: none
* Node Version: v8.8.1
* mongoDB Version: from following instruction https://rocket.chat/docs/installation/manual-installation/debian/

### Steps to Reproduce:
1.
Opti

[2018-04-04 13:14] martinvonwittich commented on #9553
Nope, can still reproduce it in https://open.rocket.chat/channel/01test

I typed \`test\`/\`foobar\` and RocketChat rendered it as `test`/\`foobar\`.

[2018-04-04 13:30] guilhermecfviana commented on #10238
@geekgonecrazy I think it's a bug.

My user stay online when my internet is down during all time.

Ex.: At 9 o'clock the internet is down and came back at 11 o'clock, during this time my user stay online for other user.

I think my user should show offline for other users.

[2018-04-04 13:33] TwizzyDizzy commented on #10326
@rocket-cat close

Closing this. Option has moved directly into the main UI:

![viewmode](https://user-images.githubusercontent.com/179595/38310699-889f1eac-381d-11e8-8f09-553cb47af7f6.png)

Cheers
Thomas

[2018-04-04 13:36] TwizzyDizzy commented on #10327
@rocket-cat close

This is an issue of the Electron Client, **not the Rocket.Chat server**. It has already been reported and a quick fix is available: https://github.com/RocketChat/Rocket.Chat.Electron/issues/380

Cheers
Thomas

[2018-04-04 13:36] #10327 closed

[2018-04-04 13:39] stefanandres commented on #10326
This only changes the appearance of the left sidebar, not the actual chat window, as the "view mode" in <0.63.0 did.

[2018-04-04 13:48] himbeere commented on #10326
@TwizzyDizzy Is this setting in the main ui supposed to change both view modes? sidebar *and* chat window? My question is mainly regarding the chat window.

thanks

[2018-04-04 13:56] iprok opened #10329 "Remove "Quote" button from message menu"
Hello!

Seems that "Answer" and "Quote" button do the same, but "Quote" doesn't show preview of quotted message. May be it will be good to remove "Quote" button away?

[2018-04-04 13:57] TwizzyDizzy commented on #10326
@rocket-cat close

Ah. I see. You're right, I was not having both in mind. Reopen.

Cheers
Thomas

[2018-04-04 14:18] tttt-conan opened #10330 "Meteor._reload.reload is deprecated"
**Description**
Check here: https://github.com/meteor/meteor/commit/14dbfb4c2b52dadefa1cf79c1fc5e28aee2ad7d0
Meteor._reload.reload method is deprecated in Meteor latest version (1.6.1.1). Which cause app don't reload when saving changes in "My Account" section. It should be changed to Reload._reload.

**Steps to Reproduce:**

1. Running app with latest Meteor (1.6.1.1)
2. Create user and login
3.

[2018-04-04 14:27] TwizzyDizzy commented on #10316
While your issue is valid, the format of your issue is not. Please adhere to the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) and add these information in your initial post.

Cheers
Thomas

[2018-04-04 14:55] TwizzyDizzy opened #10331 "Rocket.Chat vs. NodeJS 8.11.1 (or rather > 8.9.4): Random SEGV (segmentation violation)"
### Description:

This is happening when running Rocket.Chat **0.61.2** as well as **0.63.0** on **NodeJS 8.11.1**. Both versions don't exhibit this behaviour when run on NodeJS 8.9.4. I had NodeJS 8.11.1 and Rocket.Chat running for a while on my testing instance, which didn't exhibit this behaviour. This leads me to think that the suspect is NodeJS 8.11.1 in combination with:

* either the load o

[2018-04-04 15:02] sampaiodiego commented on #10329
they have different purposes.. while "reply" button will trigger a notification to the sender of replied message, "quote" is used only to add context.

what we should do is to show the preview for quotes as well, but not remove it.

[2018-04-04 15:07] iprok commented on #10329
Ok, but you also should edit the documentation. Cause here https://rocket.chat/docs/user-guides/messaging/ we see

[2018-04-04 15:15] TwizzyDizzy commented on #10325
@rocket-cat close

Hi @tctovsli

First off: thank you for takting interest in Rocket.Chat and its improvement. Unfortunately though,I am closing this issue because this is a feature request. The usual procedure for feature requests is as follows:

* feature request is incoming via [the feature requests category in the forums](https://forums.rocket.chat/c/feature-requests)
* feature request is pre-

[2018-04-04 15:15] #10325 closed

[2018-04-04 15:18] TwizzyDizzy commented on #10308
@rocket-cat close

Hi @Drangleic

First off: thank you for takting interest in Rocket.Chat and its improvement. Unfortunately though,I am closing this issue because this is a feature request. The usual procedure for feature requests is as follows:

* feature request is incoming via [the feature requests category in the forums](https://forums.rocket.chat/c/feature-requests)
* feature request is pre

[2018-04-04 15:18] #10308 closed

[2018-04-04 15:18] TwizzyDizzy commented on #9681
@rocket-cat close

Hi @HammyHavoc

First off: thank you for takting interest in Rocket.Chat and its improvement. Unfortunately though,I am closing this issue because this is a feature request. The usual procedure for feature requests is as follows:

* feature request is incoming via [the feature requests category in the forums](https://forums.rocket.chat/c/feature-requests)
* feature request is pr

[2018-04-04 15:18] #9681 closed

[2018-04-04 15:26] sampaiodiego commented on #10329
right.. I've opened an issue there https://github.com/RocketChat/docs/issues/665

[2018-04-04 15:35] cardoso opened #10332 "[IMPROVEMENT] REST API /settings.oauth missing many fields"
Real-Time API:
[code]

REST API:
[code]

We need all the other fields, especially for custom OAuth!

[2018-04-04 15:36] cardoso commented on #10332
This is blocking a PR on iOS: https://github.com/RocketChat/Rocket.Chat.iOS/pull/1490

[2018-04-04 15:46] geekgonecrazy commented on #10331
@TwizzyDizzy weird.. 0.63.0 in combo with Node.js 8.11.1 should have actually solved this seg fault

https://github.com/meteor/meteor/blob/devel/History.md#v1611-2018-04-02

According to the meteor release which we updated to for the 0.63.0 release... Node.js 8.11.1 actually solved the seg fault.

So for sure 0.63.0 in combo with Node.js 8.11.1 gave the seg fault and not some other combo?

[2018-04-04 16:03] mindaslab commented on #8555
@geekgonecrazy has this thing been resolved? Tried to install rocket chat snap and I got the same problem.

[2018-04-04 16:25] TwizzyDizzy commented on #10331
Hi Aaron,

yes, I just replicated this. Upgrade to NodeJS 8.11.1, do a clean (except for data in MongoDB) install via ansible. Server gets killed after some (not always the same) time.

Downgrade to NodeJS 8.9.4: no such behaviour.

Cheers
Thomas

[2018-04-04 16:27] MarcosSpessatto commented on #8769
@janrudolph How are you doing the call to the endpoint? Because I tried to simulate the error that you reported, and I could not . You are sending by form-data or json?

[2018-04-04 16:44] karlprieb commented on #9536
Thank you @kaiiiiiiiii :)

[2018-04-04 16:46] himbeere commented on #10331
Same here. Still crashing. Rocketchat 0.63.0 / NodeJS 8.11.1. Downgrading NodeJS to 8.9.4 solves it.

cheers
t.

[2018-04-04 16:46] karlprieb commented on #9865
@TwizzyDizzy this PR is approved already, just waiting to be merged.

[2018-04-04 17:45] karlprieb commented on #9924
We @RocketChat/ui tried to reproduce this bug without success, so I will close this issue.

If someone can reproduce and give us a step by step of how to do it I will open this issue again.

[2018-04-04 17:45] #9924 closed

[2018-04-04 17:51] repa12 opened #10333 "Remove "powered by" in LiveChat"
hi,

can anyone help me to remove the "powered by Rocket.Chat" in the Livechat Widget?

thanks for your help!

[2018-04-04 18:01] pageb018 commented on #10056
@arminfelder circling back to the dockerfile.. When I try and build, I get the following using your dockerfile.

[code]

[2018-04-04 18:08] arminfelder commented on #10056
@pageb018 thas does not look like my Dockerfile, where does this "&& curl -SLf "https://releases.rocke..." come from?

here is mine:

[code]

[2018-04-04 18:10] MarcosSpessatto commented on #8625
@himpich and @Fab1en, I think [this PR](https://github.com/RocketChat/Rocket.Chat/pull/10009) solve the problem.

[2018-04-04 18:13] pageb018 commented on #10056
Weird. Ok. So using the above docker file, I get the follow:

`root@ip-172-30-0-209:/var/www/rocket.chat# docker build -t rocket_saml .
Sending build context to Docker daemon  590.5MB
Step 1/12 : FROM rocketchat/base:8
 ---> 39f13643a004
Step 2/12 : ENV RC_VERSION 0.62.2-samlFix
 ---> Using cache
 ---> a9a73e154dc2
Step 3/12 : MAINTAINER buildmaster@rocket.chat
 ---> Using cache
 ---> 2a3484e5a16a

[2018-04-04 18:15] TwizzyDizzy commented on #9553
OK. You're right. I don't know what I did up there, but I was talking rubbish obviously. Sorry for that.

Cheers
Thomas

[2018-04-04 18:32] geekgonecrazy commented on #10333
Feature wise I don't think this is something we are planning to implement.  @renatobecker please correct me if i'm wrong.

Going to go ahead and close this.  If you are looking for support please see our [forum](https://forums.rocket.chat) or https://rocket.chat/docs/getting-support/

[2018-04-04 18:32] #10333 closed

[2018-04-04 18:34] geekgonecrazy commented on #10332
@MarcosSpessatto is this something we can add with out breaking anything?

[2018-04-04 18:35] Janevski opened #10334 "rocket.chat via ubuntu snap is broken on arrival"
### Description:
I am installing rocket.chat via:
`$ sudo snap install rocketchat-server`
And the chat server doesn't start due to mongodb socket permission error.
**This problem didn't happen on many other exactly identical deployments a few days ago. Something, for some reason is broken now.** The problem is replicable 100% of the times.

### Server Setup Information:

A few days ago - this work

[2018-04-04 18:37] pageb018 commented on #10056
@arminfelder unfortunately same issue with the no cache flag. Hmm...

[2018-04-04 18:37] tim-soft commented on #10333
Are there any plans to allow _convenient_ customization of the livechat widget? It's UI has a lot of room for improvement and changing it seems really difficult without recompiling from source.

[2018-04-04 18:38] geekgonecrazy commented on #10326
@karlprieb is this something intentionally removed or did it get removed when relocating the channel list settings?

[2018-04-04 18:41] geekgonecrazy commented on #10295
Lets keep discussion around this in the PR you opened.  No need to duplicate to an issue also.

[2018-04-04 18:41] #10295 closed

[2018-04-04 18:44] filipedelimabrito commented on #8665
Closing this issue since we'll have the API v2 and there is another issues more important.

[2018-04-04 18:44] #8665 closed

[2018-04-04 18:45] geekgonecrazy commented on #10329
@karlprieb thoughts?  I would venture to agree that a quote would also show the beautiful new pop up.  Seems weird when quoting and it doesn't show the popup

[2018-04-04 18:47] geekgonecrazy commented on #10331
@rodrigok @sampaiodiego thoughts?  This seems to be doing the complete opposite of what upgrading to 8.11.1 was supposed to give us

[2018-04-04 18:50] geekgonecrazy commented on #10288
Please try 0.63.0 one of our team had this issue also, but since 0.63.0 hasn't seen it.

[2018-04-04 18:51] tezukzai commented on #10056
+1 for this to be prioritised for the next release.

[2018-04-04 18:53] smcracraft commented on #10288
Thanks.

Is there a way to force this upgrade with snap?

For the test.

We installed with snap.

[2018-04-04 18:56] arminfelder commented on #10056
@pageb018 it just uploaded my build to dockerhub: docker pull afelder/rocketchat:0.62.2-samlfix

[2018-04-04 18:56] geekgonecrazy commented on #36
Our implementation of e2e encryption has a PR open: #10094

Would be great to get some feedback on that PR.

[2018-04-04 18:59] alexbg89 commented on #10331
How can I downgrade to node 8.9.4 in a snap installation ? I'm receiving the same errors.

[2018-04-04 19:00] geekgonecrazy commented on #346
Anyone participating have ideas on what we could rename/refactor this ticket to be a true feature request?  Right now its very generic and not really something someone can act or implement.

Please feel free to open a detail feature request on our [forums](https://forums.rocket.chat) where we can review and decide if we plan to implement.  Feel free to also link to this ticket for historic.  The b

[2018-04-04 19:00] #346 closed

[2018-04-04 19:02] geekgonecrazy commented on #746
Going to close in favor of #758

[2018-04-04 19:02] #746 closed

[2018-04-04 19:03] graywolf336 commented on #10332
Looks like there are different fields being returned. The real time api has the `clientId` and the rest api has the `appId` :thinking:

[2018-04-04 19:05] geekgonecrazy commented on #900
I think a lot of people have managed to do this around integrating the login provider to handle payments and subscriptions.

We have a lot of different API's and such that can help facilitate this.

Our Rocket.Chat App store will probably allow people to add in plugins to let other people make money.  But I don't think this is a goal of Rocket.Chat

[2018-04-04 19:05] #900 closed

[2018-04-04 19:07] geekgonecrazy commented on #1259
I'm going to close in favor of #216 and #10113

Specifically #10113 basically will allow you to deploy an ircd that will be federated with Rocket.Chat and you will be able to connect to Rocket.Chat via irc.

[2018-04-04 19:07] #1259 closed

[2018-04-04 19:10] geekgonecrazy commented on #216
What do those here think of #10113 basically would allow deploying of a small ircd that would federate with Rocket.Chat.  Then allowing irc users to talk via irc/rocket.chat

This would be more seamless.  Users connected on irc would be real users of Rocket.Chat.  They could take their same login and connect to Rocket.Chat.

[2018-04-04 19:12] Atticus- commented on #533
Looks like that graphql branch was merged in late January (https://github.com/RocketChat/Rocket.Chat/pull/8158).

According to the PR, they've even got accounts on GraphQL using [accounts-js](https://github.com/accounts-js/accounts), but it looks like the resolvers still use MongoDB? Does this put us any closer to moving off MongoDB entirely? It'd be nice to get an update on this issue since that

[2018-04-04 19:15] karlprieb commented on #9080
I'll close this issue as it is duplicated from #5358

[2018-04-04 19:15] #9080 closed

[2018-04-04 19:15] geekgonecrazy commented on #1972
Going to close this in favor of #277

Although I feel the true nature of this request was how hard it would be to implement your own UI, not customize ours.

I think now with the improvements to our Rest API and hopefully our documentation.  This wouldn't be so hard.

A good example of this is our Rocket.Chat+ applications.  They are 100% native.  They can only use the api's to communicate.  They

[2018-04-04 19:15] #1972 closed

[2018-04-04 19:17] cardoso commented on #10332
@graywolf336 in the real time API it can come as a `clientId`, `appId` or `consumerKey`

So, the way the REST API is handling this is actually a huge improvement.

[2018-04-04 19:24] geekgonecrazy commented on #3627
Yes exactly the above: its not specific to any oauth provider and works regardless of how you choose to authenticate.

Closing as not an issue and not needed as an additional feature.

[2018-04-04 19:24] #3627 closed

[2018-04-04 19:25] geekgonecrazy commented on #3691
This one should now be complete.  I've not experienced any issues with it.  Closing

[2018-04-04 19:25] #3691 closed

[2018-04-04 19:26] geekgonecrazy commented on #3707
You can already fetch users and your dm unread status via our rest api.  Closing.  Please see our documentation: https://rocket.chat/docs

[2018-04-04 19:26] #3707 closed

[2018-04-04 19:28] geekgonecrazy commented on #4214
With the DB being different, its very unlikely we could even properly integrate with out adding a lot of extra code to Rocket.Chat that would not be shared with other features.

Because of that, i'd recommend building a bridge external to Rocket.Chat to facilitate this.  Closing this as its not something we will likely implement.

[2018-04-04 19:28] #4214 closed

[2018-04-04 19:28] Janevski commented on #10334
The problematic deployment self upgraded to 0.63.0 and the problem automagically is no more.

[code]

[2018-04-04 19:28] #10334 closed

[2018-04-04 19:29] geekgonecrazy commented on #4223
With the upcoming release of our Rocket.Chat Apps framework.  I think this is more fitting as a Rocket.Chat App.

Please feel free to post your Rocket.Chat App idea to our [forum](https://forums.rocket.chat) so maybe someone(even you) can create it.

[2018-04-04 19:29] #4223 closed

[2018-04-04 19:30] gwillen commented on #3691
Thanks! Is there a PR / commit somewhere with the fix? Or is this more a case of "that code got rewritten since this bug was filed"?

[2018-04-04 19:30] geekgonecrazy commented on #4847
This should no longer be an issue... mainly because we no longer even have this element. :smile:

[2018-04-04 19:30] #4847 closed

[2018-04-04 19:31] geekgonecrazy commented on #4862
This is a feature request/bug report for the desktop client.  Please open an issue here: https://github.com/rocketchat/rocket.chat.electron/issues

[2018-04-04 19:31] #4862 closed

[2018-04-04 19:31] karlprieb commented on #8223
@mnlbox I tested on our `develop` branch and this bug doesn't happen anymore.

[2018-04-04 19:33] geekgonecrazy commented on #5523
With the upcoming release of our Rocket.Chat Apps framework.  I think this is more fitting as a Rocket.Chat App.

Please feel free to post your Rocket.Chat App idea to our [forum](https://forums.rocket.chat) so maybe someone(even you) can create it.

[2018-04-04 19:33] #5523 closed

[2018-04-04 19:34] geekgonecrazy commented on #6012
Closing as an app idea.  Could likely be implemented with existing alpha level feature set :smile:

[2018-04-04 19:34] #6012 closed

[2018-04-04 19:35] geekgonecrazy commented on #6013
Closing as an app idea

[2018-04-04 19:35] #6013 closed

[2018-04-04 19:36] geekgonecrazy commented on #6015
Closing as an app idea and not a built in feature

[2018-04-04 19:36] #6015 closed

[2018-04-04 19:38] geekgonecrazy commented on #6578
https://forums.rocket.chat

[2018-04-04 19:38] #6578 closed

[2018-04-04 19:39] geekgonecrazy commented on #6583
Will now be possible via Rocket.Chat Apps.

Technically this is solved, just have to wait until we officially turn the apps framework on :)

[2018-04-04 19:39] #6583 closed

[2018-04-04 19:40] geekgonecrazy commented on #6863
Feature request for the desktop client.  Please open an issue if there isn't one already on that repo: https://github.com/rocketchat/rocket.chat.electron/issues

[2018-04-04 19:40] #6863 closed

[2018-04-04 19:41] rikmendes commented on #216
I like the idea.. But Real users? What if the rocket.chat instance users are fuelled by a LDAP user base ie: cloudron? On Apr 4, 2018 9:11 PM, Aaron Ogle <notifications@github.com> wrote:What do those here think of #10113 basically would allow deploying of a small ircd that would federate with Rocket.Chat.  Then allowing irc users to talk via irc/rocket.chat
This would be more seamless.  Users con

[2018-04-04 19:41] toxicgumbo commented on #216
Based on the comments in #1259, now closed, and the last paragraph in your comments, I read that as if this means IRC users who have a matching username in Rocket.Chat will be able to connect in from IRC and chat with Rocket.Chat users.  Is this correct?  Does this approach abandon the desire expressed in this thread where Rocket.Chat users wish to render IRC channels as rooms within Rocket.Chat a

[2018-04-04 19:42] karlprieb commented on #10329
@geekgonecrazy I agree :)

[2018-04-04 19:42] geekgonecrazy commented on #6889
I'm not 100% sure what to do with this one.  What is a request?  Would this be like for the creation of a thread or a room of a certain type?

[2018-04-04 19:44] geekgonecrazy commented on #6954
We already have rate limiting.  Maybe we can break this down into a specific feature and describe what exactly this feature would do?

All feature requests now are created in: https://forums.rocket.chat in the feature request category until planned, at which time they are moved here and added to the appropriate milestone.

[2018-04-04 19:44] #6954 closed

[2018-04-04 19:47] geekgonecrazy commented on #7458
We're relocating all discussion type issues over to our forum: https://forum.rocket.chat

That way they do not get lost in the clutter of issues and features.

[2018-04-04 19:47] #7458 closed

[2018-04-04 19:48] geekgonecrazy commented on #7791
I believe some nextcloud integration is proposed as a gsoc project.  But long term if we were to do this, it would be in the forum of a Rocket.Chat App.

[2018-04-04 19:51] karlprieb commented on #10326
We accidentally removed the option :( We will fix that on the next release.
Sorry for that @himbeere

[2018-04-04 19:51] geekgonecrazy commented on #7651
This seems very specific to news and handling of it.   To solve your case maybe you could quote the message and post that quoted message in a specific channel?  Or maybe a Rocket.Chat App could be created to let you quote and use a /slashcommand to put in a specific channel?

In its current proposed state though this is not a feature we would be likely to implement.

Please feel free to open a det

[2018-04-04 19:51] #7651 closed

[2018-04-04 19:52] geekgonecrazy commented on #8022
I don't think this is really a bug, or feature request.  Mentions tab is for mentions only.  Highlight is meant to simply highlight so you can spot it.

[2018-04-04 19:52] #8022 closed

[2018-04-04 19:53] geekgonecrazy commented on #8203
I think this would be solved by: #9556

[2018-04-04 19:53] #8203 closed

[2018-04-04 19:56] geekgonecrazy commented on #8480
This is a feature request specific to our desktop app.  Please open an issue there: https://github.com/rocketchat/rocket.chat.electron/issues

[2018-04-04 19:57] geekgonecrazy commented on #8497
#9556 I believe thats the purpose of this.

Alternatively channel announcements

[2018-04-04 19:57] #8497 closed

[2018-04-04 20:02] graywolf336 commented on #2355
@MarcosSpessatto Right now we currently have `channel.cleanHistory`

[2018-04-04 20:04] graywolf336 commented on #2355
@MarcosSpessatto Right now we currently have` channel.cleanHistory` which utilities a real time method. It would be super easy to deprecate this endpoint and instead move over to `rooms.cleanHistory`, that way any room is viable and not just the channels. Less than fifteen minutes of work is required as it's that simple. Just be sure to depreciate the channels endpoint.

https://github.com/RocketC

[2018-04-04 20:10] TwizzyDizzy commented on #10331
No offense intended, @alexbg89, but we want to keep everything here about solving the issue. Maybe someone in the support channel can help you: https://open.rocket.chat/channel/support

Cheers
Thomas

[2018-04-04 20:35] pageb018 commented on #10056
@arminfelder thank you! I am up and running again with SAML back and working perfectly. Appreciate all the help.

[2018-04-04 20:38] karlprieb commented on #9382
@TwizzyDizzy I tested here and yes, is still an issue.

[2018-04-04 20:41] himbeere commented on #10331
Well they said the patch which should solve the problem *should* be in 8.11.1. Maybe it's not? Here the nodejs issue for reference. https://github.com/nodejs/node/issues/19274

thanks and cheers

[2018-04-04 20:43] himbeere commented on #10326
No big deal. Thanks @karlprieb

cheers
t.

[2018-04-04 21:50] mrsimpson commented on #6889
Yup, it’s a creation of a particular roomtype with additional properties.
I’d consider this not being part of the main application anymore though - it should be provided by a Rocketlet

[2018-04-04 21:50] #6889 closed

[2018-04-04 22:01] geekgonecrazy commented on #10331
https://github.com/meteor/meteor/pull/9783#issuecomment-377533852 yup looks like they didn't include the segfault in 8.11.1 instead it *might* be in 8.11.2 :roll_eyes:

[2018-04-04 22:58] sampaiodiego commented on #8312
@mrsimpson I've also spent many hours of my life today fighting against TAPi18n package.

the solution I've found was similar to what you said, but I did on Rocket.Chat build itself, [check it out](https://github.com/RocketChat/Rocket.Chat/compare/livechat-translation-restructure?expand=1#diff-ab553266cce592c04a6041e05da050f6)

this will let everybody with duplicated files on filesystem, but they

[2018-04-05 01:34] adipose commented on #10302
OK, so after fixing this issue for myself, I see that it is not as straightforward a fix as I would have thought.  The problem is that a number of factors are involved in how the LDAP authentication works.

The signin process goes something like this

1. Try to authenticate against LDAP
2. If fails, try to authenticate against local cached credentials

This is problematic for a number of reasons l

[2018-04-05 01:50] geekgonecrazy commented on #6889
That was what I suspected :grin: thanks!

[2018-04-05 01:54] geekgonecrazy commented on #216
For sure doesn't mean that we are abandoning.  Just was curious if helped solve some peoples use cases.

[2018-04-05 01:56] geekgonecrazy commented on #3691
@gwillen to be honest so much has changed since then.  I have no idea :grin: I just can't reproduce any more

[2018-04-05 01:57] geekgonecrazy commented on #10333
I believe there are a lot of features planned for that.  But I can't speak for specifics.

[2018-04-05 02:00] geekgonecrazy commented on #8555
It should be.

[2018-04-05 02:03] geekgonecrazy commented on #10238
sounds like your userSessions collection might be messed up:

Connect to mongo shell switch to your db and run:
[code]

[2018-04-05 03:38] geekgonecrazy commented on #10288
`sudo snap refresh rocketchat-server`

[2018-04-05 05:49] HammyHavoc opened #10337 "Remove one of the download buttons on a voice message"
Seems a little redundant to have two download buttons on a voice message.
<img width="250" alt="voice message" src="https://user-images.githubusercontent.com/503951/38349092-557caeec-389d-11e8-8569-9d5a48f91d69.PNG">
Is there a reason for this?

[2018-04-05 06:18] dbluxo commented on #6535
Same here with version 0.63.0

[2018-04-05 07:40] TwizzyDizzy commented on #2436
Folks! Good news for tou, @frdmn got you covered: https://forums.rocket.chat/t/rocket-chat-userlist-exporter/470

You may praise his efforts and give him feedback over there :)

Cheers
Thomas

[2018-04-05 07:42] cedrikv commented on #3582
+1

[2018-04-05 07:48] TwizzyDizzy commented on #10337
Yes... and no. The lower download button comes from the browser-native implementation. I guess it's not guaranteed that every browser offers the download button in its native implementation, so I guess it's good that Rocket.Chat's own button is there, too.

Just my thoughts though, somebody from frontend should be able to answer this better.

Cheers
Thomas

[2018-04-05 07:50] HammyHavoc commented on #10337
Hey @TwizzyDizzy, thanks for the smart reply!

This is within the desktop app, where we do most of our chatting rather than the desktop browser, but I guess that's because it's a container, right?

[2018-04-05 07:53] HammyHavoc commented on #9300
@pkgodara Just a follow-up to this: I've now enabled Gmail's POP option instead of IMAP. Same issue. I've set the email to be automatically deleted when they are accessed via POP as per the documentation, though these messages are not added to the chat. Not sure why that is. Any ideas?

[2018-04-05 07:57] TwizzyDizzy commented on #10337
The Desktop ab is simply a fanciliy repacked version of chromium (more precise: the combination of nodejs and chromium and some other stuff. All together it's called Electron).

So yes. The app is basically a browser, so no different on that front.

Cheers
Thomas

[2018-04-05 08:00] HammyHavoc commented on #9300
This is one of the errors I'm seeing:
`[34mI20180405-07:49:04.803(0) Exception in callback of async function: TypeError: Cannot read property 'text' of undefined     at POP3Intercepter.initialProcess (/snap/rocketchat-server/1246/programs/server/packages/rocketchat_lib.js:2688:25)     at Meteor.bindEnvironment (/snap/rocketchat-server/1246/programs/server/packages/rocketchat_lib.js:2652:16)     a

[2018-04-05 08:07] bentimms commented on #10331
Is it possible to downgrade to NodeJS 8.9.4 in a snap?  or do I have to wait for a release to fix this?  (I'm seeing the segfault too btw)

[2018-04-05 09:11] trstn70 commented on #10331
How do I downgrade the NodeJs Version within the Rocketchat server? (for dummies?) ..

[2018-04-05 09:53] kaiiiiiiiii opened #10338 "Incorrect german translation of user online status"
### Description:

The german translation of the user status "online" is incorrect since the latest release.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 4
* DB Replicaset Oplog: Yes
* Node Version: 8.9.4
* mongoDB Version: 3.6.x

### Steps to Reproduce:

1.

[2018-04-05 09:56] TwizzyDizzy commented on #10337
@rocket-cat close

Just verified this. Firefox doesn't show the download button, so I'm going to close this.

Cheers
Thomas

[2018-04-05 09:56] #10337 closed

[2018-04-05 10:05] JRutledg commented on #8962
Interesting. Removed the snap variant. Installed the newest debi from rocketchat main site (v2.10.5). Now have access to my mic and camera again.

[2018-04-05 11:07] bixmatech opened #10339 "https is not working!!!"
Dear,
I have a server (http://bixma.com and https://bixma.com), and have a website on it, with many subfolders access through http://bixma.com/subfolderexample and https://bixma.com/subfolderexample.
I installed rocetchatserver on my server and it is working perfectly, where the website is loaded perfectly and rocketchat is loaded on http://bixma.com:3000 and the subfolders are accessed well.
Toda

[2018-04-05 11:22] SebastienGauthierSVI opened #10340 "After update to 0.63.0"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: 8.9.4
* mongoDB Version: 3.0.9

### Steps to Reproduce:

Update from 0.62.0 to 0.63.0

### Expected behavior:
Just start succesfully

### Actual behavior:
Will load ca

[2018-04-05 11:28] kaiiiiiiiii commented on #10339
Hi @bixmatech,

please let me refer you to the Community Support Forum, which is a better place for this as there's no  bug involved here: https://forums.rocket.chat/c/community-support

Thank you for understanding.

[2018-04-05 11:47] bizzbyster commented on #6786
@timkinnane Hi Tim, we're also interested in this, especially for Android. I wonder if it would take some of the load off of the GSOC team if I created an issue in the Android repo and then put a bounty on it to get it done. My my concern then would be that we'd want to be aligned with the GSOC project. So, for instance, we'd want to use the same message schema, etc. that would be consumed by the

[2018-04-05 12:02] TwizzyDizzy commented on #10339
@rocket-cat close

It's exactly as @kaiiiiiiiii said. Therefore I'm closing this.

Cheers
Thomas

[2018-04-05 12:02] #10339 closed

[2018-04-05 12:06] sampaiodiego commented on #10340
what is you NPM version (`npm -v`)?
what command did you use to start it up?
what env vars have you set?

[2018-04-05 12:09] SebastienGauthierSVI commented on #10340
NPN Version 2.15.9

I use the same command i use for the version 0.62.0.

export ROOT_URL=https://abc.123.com/
export MONGO_URL=mongodb://localhost:27017/rocketchat
export PORT=3001
export MAIL_URL=smtp://15.150.0.6
node /Rocket.Chat/main.js

[2018-04-05 12:14] sampaiodiego commented on #10340
your npm version scares me a little bit.. the recommended version is `5.6.0`

did you run `npm install` successfully from `programs/server` folder? in your case probably `/Rocket.Chat/programs/server`

[2018-04-05 12:15] sampaiodiego commented on #10331
I don't think you can @trstn70 .. but @geekgonecrazy released a fix yesterday, please try running `sudo snap refresh rocketchat-server`

[2018-04-05 12:16] SebastienGauthierSVI commented on #10340
Yes, but i will try to update it and do the npm install again. Thx for the tips

[2018-04-05 12:26] sampaiodiego commented on #10330
do you mind opening a pull request? thx

[2018-04-05 12:48] TwizzyDizzy commented on #8556
@rocket-cat close

Cannot reproduce this on 0.63.0 (neither Firefox nor Chromium). If somebody can still reproduce this, please get back to me!

Cheers
Thomas

[2018-04-05 12:48] #8556 closed

[2018-04-05 12:49] TwizzyDizzy commented on #8538
@rocket-cat close

[2018-04-05 12:49] #8538 closed

[2018-04-05 12:51] TwizzyDizzy commented on #7558
This is still true on 0.63.0.

Cheers
Thomas

[2018-04-05 13:15] dbluxo commented on #7507
+1 same here, version 0.63.0

[2018-04-05 13:24] #70 closed

[2018-04-05 13:34] TwizzyDizzy commented on #9841
@rocket-cat open

Reopening, since #9840 has been rejected but this aspect is still relevant.

Cheers
Thomas

[2018-04-05 13:42] xenithorb commented on #7707
@graywolf336 https://github.com/RocketChat/Rocket.Chat/pull/8510 Found it

Perhaps triage https://github.com/RocketChat/Rocket.Chat/pull/9754 to go along with this fix too?

[2018-04-05 14:07] haffla commented on #7584
In the docs it says

`"rocketchat-uploads", // no ideia`

Is it even possible to upload files via Realtime API? Care to comment someone?

[2018-04-05 14:07] #471 closed

[2018-04-05 14:10] geekgonecrazy commented on #255
ref #5788 a PR in progress

[2018-04-05 14:13] engelgabriel commented on #255
Done via https://github.com/RocketChat/Rocket.Chat/pull/5788

[2018-04-05 14:34] rafaelks opened #10343 "[REST] API to report a message"
### Description:

Currently there's a method over RealTime to do that, we need the same parameters (message id and the message itself) on a REST API. 👍

[code]

[2018-04-05 14:38] TwizzyDizzy opened #10345 "UX: No menu, when clicking on status-circle above (z-index) the avatar in upper left"
### Description:

This issue regards the menu that appears when clicking your avatar in the upper left corner of the UI. The area that is clickable is reduced by the circle that shows your online status. Currently, you cannot click on the area of the online status. See the descriptive image below.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0
* Operating System: Oracle Li

[2018-04-05 14:42] alekseysink opened #10346 "Mongo is not running"
I have created fresh droplet on digitalocean with 2gb memory and ubuntu 16.04.4 x64.
After installing rocket chat via '`sudo snap install rocketchat-server`'.
Rocket chat is not starting. Problem in mongo. It has next logs:
[code]

[2018-04-05 14:43] geekgonecrazy commented on #605
In its current suggested state this isn't something we plan to implement.   Going to go ahead and close.

Feel free to open a detailed post in our [forum](https://forums.rocket.chat) in the feature request category for others to upvote and help improve the idea.

[2018-04-05 14:43] #605 closed

[2018-04-05 14:43] antoine-roux opened #10347 "French translation for Disabled"
### Description:
Hello,
Please fix the translation for "Disabled" in the french i18n file...

https://github.com/RocketChat/Rocket.Chat/blob/2b01cdcf8dcbaf100a75abceaf344f11cfe2df99/packages/rocketchat-i18n/i18n/fr.i18n.json#L554

"Handicapé" here means a disabled person.
The right translation should be "Désactivé"

Thanks,
Antoine

### Server Setup Information:

* Version of Rocket.Chat Server: 0

[2018-04-05 14:46] #660 closed

[2018-04-05 14:46] marceloschmidt commented on #660
Issue moved to [RocketChat/Rocket.Chat.Electron #699](https://github.com/RocketChat/Rocket.Chat.Electron/issues/699) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-05 14:50] geekgonecrazy commented on #672
This isn't something we plan to add to our code base.  But this would make for a good App idea.

Please feel free to open a topic in our [forum](https://forums.rocket.chat) in the feature request category for others to upvote and help improve the idea.

[2018-04-05 14:51] #672 closed

[2018-04-05 14:53] geekgonecrazy commented on #839
This is not something we plan to add to our code base.

Please feel free to open a detailed topic in our [forum](https://forums.rocket.chat) for others to vote on and allow us to re-evaluate

[2018-04-05 14:53] #839 closed

[2018-04-05 15:03] geekgonecrazy commented on #891
This isn't something we plan to add to our code base. But this would make for a good App idea.

Please feel free to open a topic in our [forum](https://forums.rocket.chat) in the feature request category for others to upvote and help improve the idea.

[2018-04-05 15:06] geekgonecrazy commented on #1364
related to #503

[2018-04-05 15:36] mutante commented on #692
Could you point to where "display list of all public/private channels" has been implemented?

[2018-04-05 15:49] haffla commented on #7584
It only works with AmazonS3, sadly

[2018-04-05 15:51] adipose commented on #10302
Here's a patch to add this functionality.

[ldapuserauth.patch.txt](https://github.com/RocketChat/Rocket.Chat/files/1880741/ldapuserauth.patch.txt)

[2018-04-05 16:02] AFrangopoulos commented on #9118
@theodorDiaconu My email is AFrangopoulos@updox.com .   If we could start an email thread that would be better/more efficient.  Any information that is pertinent to RC users trying to get redisOplog working I can always post here instead of filling up this Issue board.

[2018-04-05 16:26] geekgonecrazy commented on #7576
Going to close and refer this to a feature request already open on the forums: https://forums.rocket.chat/t/wechat-integration-planned/122/5

But just to note, you can still login with username and password :smile:

[2018-04-05 16:26] #7576 closed

[2018-04-05 16:43] kaiiiiiiiii commented on #9118
Why not using the rocket.chat forum for that @AFrangopoulos ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-05 16:55] adipose commented on #9916
Also see #10302.  This behavior can be confused by the LDAP id being different than the user id in Rocket.  As a result, you can sign in using common name or Rocket name, but it will check different passwords either way.  My patch allows you to find the right LDAP user, but fallback will still work incorrectly and check a cached password which could be different.  If you disable fallback and use m

[2018-04-05 16:55] geekgonecrazy opened #10349 "Secret url login flashes invalid url"
### Description:
If you have secret url login enabled.  If you goto the url, it will show invalid url briefly before showing the registration form.

https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-ui/client/views/app/secretURL.js#L14

We're setting to false causing the invalid url page to show up, and then after verifying setting to true.

It works but is bad UX.  Would

[2018-04-05 17:00] AFrangopoulos commented on #9118
I had some off topic questions but I could still post there as well.

[2018-04-05 17:37] adipose commented on #10302
Depending on how the email value is mapped from LDAP, it's possible email authentication will also not work.  To properly support email login, my patch should be improved to identify the email specified on the rocket user, and look up the id.  At this point, the LDAP/User Search/Search Field would not be needed at all, unless for some reason signing in by LDAP id is preferred over the rocket user

[2018-04-05 17:40] christianh814 commented on #9944
@geekgonecrazy <<bump>>

Any word? Which RH guys? I can ping them on our internal irc

[2018-04-05 17:47] ggazzo opened #10350 "fix form components (css)"
@karlprieb
### Description:

Actually nowadays we have same "weird" form components (css)
- rc-input
- rc-switch
- rc-select
.... etc

I think the way we created the labels/errors/descriptions/inline/small components are wrong. We should spend some time and fix it.

[2018-04-05 17:48] kevmasonk1 commented on #5481
Any update on this? Also how do I perform manually struggling to locate the DB

[2018-04-05 18:13] renatobecker commented on #5481
@kevmasonk1, please take a look at this PR: #10301.

[2018-04-05 18:41] kevmasonk1 commented on #5481
I dont see this maybe on an outdayed version? 0.39.0

[2018-04-05 19:32] MarPiRK commented on #7791
For now it is possible to use NextCloud as OAuth2 provider, so that if someone doesn't use some external way of authentication (like LDAP) it can be very useful, as credentials are managed by NextCloud and Rocket.Chat authenticates via OpenID Connect. I didn't test it yet, but configuring OAuth2 is pretty straightforward, so it should work out of the box.
Probably it would be also possible to shar

[2018-04-05 19:50] mrandrey opened #10352 "Black in Safari 9 and Chrome 49 after update to 0.63"
### Description:

Safari 9 gives a black screen after logging in.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1

### Steps to Reproduce:

1. Open Safari 9.1.2, Chrome 49.0 on Mac, Safari or Chrome 65.0 on iOS 10
2. Go to the Rocket.Chat server and log in.

### Expected

[2018-04-05 19:53] ggazzo opened #10353 "[BUG] flex-tab list doesnt load more items"
@RocketChat/ui
### Description:
lists are not working(search, files, pinned....) =/
![image](https://user-images.githubusercontent.com/5263975/38388484-baab978e-38f1-11e8-9795-669c8d8a91b6.png)

this should fix
[code]

[2018-04-05 20:10] AhmadIbrahiim commented on #7299
Any update related to this issue !! @Gyaviste

[2018-04-05 21:27] AFrangopoulos commented on #9118
Just a little update:  We were able to spend an hour or so on this issue and got a little bit further.  It seems like the livechat/livestream packages were an issue so we removed them.  Then we were able to at least reach the login page.  From there, the userRoles collection is the next obstacle.  This isn't the best approach (tearing away RC features to get something working), but at this point w

[2018-04-06 02:10] mikaelmello opened #10357 "Moving to homepage when leaving a room I am not currently viewing"
### Description:

Really small issue and probably not hard to fix, if no one gets interested in it I'll look at the code to fix it tomorrow.

When I am viewing a room, #general for example, and leave another room via the sidebar, #sandbox, that I am part of but am not currently viewing, confirming the action has a small delay that lasts long enough to bother and I am redirected to the homepage eve

[2018-04-06 02:43] engelgabriel commented on #4265
@rodrigok can you test if this was already implemented?

[2018-04-06 02:52] engelgabriel commented on #9392
@timkinnane can we merge the fork that added this functionality?

[2018-04-06 05:08] timkinnane commented on #9392
@engelgabriel No. There's been no progress on this and it requires dedicated resources and ownership to remove blockers. I can be a part of that process, walk someone through, but I don't have the bandwidth to lead it right now in parallel with my other responsibilities.

[2018-04-06 05:35] geekgonecrazy commented on #9065
Closing in favor of the forum post: https://forums.rocket.chat/t/ifttt-integration/492

[2018-04-06 05:35] #9065 closed

[2018-04-06 05:51] shafqatevo commented on #1112
![d_inscreen_01_room_2x png png 0](https://user-images.githubusercontent.com/5596095/38405224-36d8c28a-39b2-11e8-9af6-0cff668c9cec.png)

Newly launched Google Hangouts Chat for G Suite has the most intuitive implementation for threads. You can either Reply to existing "conversation" or "Create a New Conversation" (new thread).

[2018-04-06 06:05] janrudolph commented on #8769
@MarcosSpessatto I used Postman to test the API

<img width="470" alt="postman-rc-login" src="https://user-images.githubusercontent.com/3596824/38405658-37bf3742-3971-11e8-9a33-b1cff819a73d.png">

[2018-04-06 08:00] Rob117 commented on #4482
@sebbekarlsson
http://www.dictionary.com/browse/proprietary
How is the lack of emoji use related to whether the software is "proprietary" or not?

[2018-04-06 08:03] exhuma opened #10359 "Channel/Group Icon"
### Description:

Users can have avatars, but rooms and channels cannot. It would be nice to be able to upload an image as room icon.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: ?
* Node Version: v8.9.4
* mongoDB Version: ?

[2018-04-06 08:11] JSzaszvari commented on #4482
@sebbekarlsson I'm pretty sure that's not the word your looking for here.

Rocket.Chat is the opposite of proprietary as anyone can go and make the code change to support this functionality. Nobody's locked into anything, the possibilities are endless if you want to make the modifications.

Now if rocket.chat was closed source and used a emoji set they made them selves without the option for anyon

[2018-04-06 08:19] mrsimpson commented on #8312
@sampaiodiego I believe that's good enough!
Compared to just including it in the build, your solution also loads the i18n when launching locally via `meteor run`.
I believe adding a README in the i18n-package about the specialties might help, wdyt?

[code]

[2018-04-06 08:49] kaiiiiiiiii commented on #10359
Duplicate of #3582

[2018-04-06 09:47] shreekarade opened #10361 "Push Notification"
**Description:**
**Server Setup Information:**
Version of Rocket.Chat Server: 0.59.4
Operating System: Linux
Deployment Method(snap/docker/tar/etc): tar
Number of Running Instances: 1
DB Replicaset Oplog:
Node Version: v4.8.4
mongoDB Version:
**Steps to Reproduce:**
Expected behavior: Push notification should work for user to user chat and channel/group notification
Actual behavior: Push notificat

[2018-04-06 09:49] TwizzyDizzy commented on #10361
@rocket-cat close

Hi @shreekarade

I am **temporarily** closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your issue and your setup

[2018-04-06 09:51] TwizzyDizzy commented on #10357
Hi @mikaelmello

please also add the information regarding your setup that we requested in the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md).

Cheers
Thomas

[2018-04-06 10:06] shreekarade commented on #10361
Thanks @TwizzyDizzy . one question should i reply this thread or create new issue using issue template.

[2018-04-06 10:08] TwizzyDizzy commented on #10361
Just edit your initial issue and add the information. If you have done that, I will reopen.

Cheers
Thomas

[2018-04-06 10:34] shreekarade opened #10362 "Push Notification"
**Description:**
**Server Setup Information:**
Version of Rocket.Chat Server: 0.59.4
Operating System: Linux
Deployment Method(snap/docker/tar/etc): tar
Number of Running Instances: 1
DB Replicaset Oplog:
Node Version: v4.8.4
mongoDB Version:

Expected behavior: Push notification should work for user to user chat and channel/group notification
Actual behavior: Push notification work only for user

[2018-04-06 11:04] rafaelks opened #10363 "[v2.0.0-beta3][CONNECTION] App connection issue to the RC server"
@mmarif4u commented on [Wed Apr 04 2018](https://github.com/RocketChat/Rocket.Chat.Android/issues/1019)

Your Rocket.Chat.Android version: 2.0.0 beta 3

Last time i bring this issue to the RC open chat android channel too. And that issue continues, where the app trying to connect to the RC server. While connecting it crash the RC server instance too. I have checked the server logs and found this a

[2018-04-06 11:56] TwizzyDizzy commented on #10361
Erm. Obviously you opened #10362.

[2018-04-06 11:58] kaiiiiiiiii commented on #10361
Actually that's the right behaviour. You only get notifications for DMs and mentions in Channels/Groups by default. You can change that setting globaly in your user account preferences or per channel in the channel notification preferences.

Ex.
![2018-04-06 13_57_21-rocket chat](https://user-images.githubusercontent.com/4711233/38419942-86ef427c-39a2-11e8-8f6a-93d0030be180.png)

![2018-04-06 13_5

[2018-04-06 11:58] rafaelks opened #10364 "Add "New message" text to notifications when "Show Message" is set to false"
edited by @sampaiodiego:
When `Show Message` is set to `false` under `Admin > Push > Privacy` settings, we should then add a text something like `New message` to the push notification, instead of letting it blank.

![image](https://user-images.githubusercontent.com/8591547/38433356-e350b4bc-39a0-11e8-8a77-a1556ab08d51.png)

----------------------

@allabezroutchko commented on [Fri Apr 06 2018](ht

[2018-04-06 11:59] rafaelks commented on #10364
@allabezroutchko Questions:

1) Do you use our gateway?
2) Did you made any change on server source code?

[2018-04-06 12:02] TwizzyDizzy commented on #10361
@rocket-cat open

Please check what @kaiiiiiiiii said and verify this. I'm closing #10362.

Cheers
Thomas

[2018-04-06 12:02] TwizzyDizzy commented on #10362
@rocket-cat close

Closing in favour of #10361.

Cheers
Thomas

[2018-04-06 12:02] #10362 closed

[2018-04-06 12:11] allabezroutchko commented on #10364
1. Don't think so. What is the gateway?
2. No, we didn't change the server source code.

[2018-04-06 13:04] allabezroutchko commented on #10364
We are hosting the server ourselves

[2018-04-06 13:27] ccfiel commented on #10363
@rodrigok I can give you access. Where can I send the credentials?

[2018-04-06 13:33] mmarif4u commented on #10363
@rodrigok I have provided the logs in the thread above. That are the exact logs when this happens. Hope it is of some help to debug.

[2018-04-06 13:34] ccfiel commented on #10363
@rodrigok I have email you the credentials. Hope it can help

[2018-04-06 13:42] monspid opened #10365 "[ERROR] Push notification error"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: centos
* Deployment Method(snap/docker/tar/etc): docker
* mongoDB Version: 3.2.19

### Steps to Reproduce:

1. Send any message.

### Expected behavior:
We get notification on android.

### Actual behavior:
We get an error without any notification on android.

### Relevant logs:
[code]

[2018-04-06 13:52] rodrigok commented on #10363
@ccfiel please contact me at https://open.rocket.chat/direct/rodrigo.nascimento

[2018-04-06 13:59] hexcsl commented on #4959
The problem exists and it is not very convenient.
Users ask who the owner is and who is the moderator in the channel. This can only be known by the history of the message or by looking at the information for each user.

P.S. I'm using version Rocket.Chat 0.62.2 and 0.60.3.

[2018-04-06 14:00] reitzig commented on #2300
@TwizzyDizzy I agree, but I think you're missing a use case. A new topic may emerge in an existing channel. After creating a new one, migrating the pertinent messages in the old one over would be a nice thing to have.

[2018-04-06 14:51] grinapo commented on #7558
Just broken a bunch of browsers by pasting a broken link into #general ... Same effect, all browsers choke using https://open.rocket.chat/channel/general.
` [break your bwoser](https://open.rocket.chat/channel/general?msg=zyXWtsnsxmhivwX!a9)`
* it jumps to the "empty" channel, scrollback broken
* no channel change possible
* after reload it's not possible to do anything anymore, the screen is empt

[2018-04-06 14:58] cmrd-senya commented on #4256
I created a PR  #10366 for this feature, but I need some feedback from more experienced contributors in order to complete it.

[2018-04-06 16:40] TwizzyDizzy commented on #10346
Please check, whether you have another instance of MongoDB running or whether the IP you're trying to bind to is available. This line points into that direction:

`Apr 05 14:32:43 rocket-chat rocketchat-server.rocketchat-mongo[2765]: 2018-04-05T14:32:43.540+0000 I STORAGE  [initandlisten] exception in initAndListen: 15863 listen(): invalid socket? errno:13 Permission denied, terminating`

Cheers
T

[2018-04-06 16:46] sampaiodiego commented on #10364
how is the settings for Privacy under Admin > Push?
![image](https://user-images.githubusercontent.com/8591547/38433356-e350b4bc-39a0-11e8-8a77-a1556ab08d51.png)

[2018-04-06 17:39] balcsida commented on #10047
Fun fact: Scrollbar styling with CSS only works in WebKit based browsers
https://caniuse.com/#search=scrollbar

[2018-04-06 18:04] cinderblock opened #10368 "[IMPROVEMENT] Allow access to remote IP in Incoming WebHooks"
### Description:

I've been writing some custom WebHooks for various things and I thought it would be helpful to have access to the remote IP address of the requester.

This doesn't seem to be available in the current `request` object:
[code]

This probably means we need a setting to set a certain IP as trusted to add accurate remote IP headers.

[2018-04-06 18:05] graywolf336 commented on #6096
@alisianoi that would be a new feature inside of Rocket.Chat. The usual procedure for feature requests is as follows:

* feature request is incoming via [the feature requests category in the forums](https://forums.rocket.chat/c/feature-requests)
* feature request is pre-approved by Rocket.Chat team member
* feature request is discussed and refined until it is utterly clear what is to be implemente

[2018-04-06 18:06] graywolf336 commented on #10368
Hey @cinderblock,

First off: thank you for taking interest in Rocket.Chat and its improvement. Unfortunately though, I am closing this issue because this is a feature request. The usual procedure for feature requests is as follows:

* feature request is incoming via [the feature requests category in the forums](https://forums.rocket.chat/c/feature-requests)
* feature request is pre-approved by Ro

[2018-04-06 18:06] #10368 closed

[2018-04-06 18:29] graywolf336 commented on #8312
Good news it that Rocket.Chat Apps makes usage of the i18n package's runtime configuration of languages. However, this is only on Rocket.Chat side and not on the LiveChat side since the Apps don't touch anything related to the LiveChat. Just thought I'd share since it has worked fine as far as I can tell from the current uses.

https://github.com/RocketChat/Rocket.Chat/blob/a9aea3640262482d7111abe

[2018-04-06 18:44] rafaelks commented on #10363
@rodrigok @sampaiodiego Added to 0.64.0 but I would say we need a patch in order to fix this one.

[2018-04-06 18:45] rafaelks commented on #8205
@sampaiodiego Added to 0.64, do you think it fits? It breaks the experience on the mobile clients because we don’t have this kind of logic over the clients.

[2018-04-06 19:00] graywolf336 commented on #8205
I think it could be `/api/v1/spotlight` and go into the misc folder. :+1:

[2018-04-06 20:51] cardoso opened #10370 "[API] Add "value" parameter to /api/v1/chat.react"
Currently /api/v1/chat.react works like a toggle. We call it once, it either removes or adds the reaction.

This behavior causes some difficulties when working with optimistic UI updates.

My proposal is we add a "value" parameter.

"value": true = adds the reaction (returns error if already added)
"value": false = removes the reaction (returns error if not found)
"value" not present = retains old

[2018-04-06 20:56] graywolf336 commented on #10370
As long as ensure we don't break the current implementation, I would be fine with that.

Although, this isn't a simple change because it will require some changes to how the method it internally calls works.

[2018-04-06 21:33] geekgonecrazy commented on #692
full list of private channels no.  Because they are private.  But public channels are found:
![image](https://user-images.githubusercontent.com/51996/38445226-3e6ab7be-39b8-11e8-8fa3-4da576a49be7.png)

[2018-04-06 21:39] mayeaux commented on #8051
Bump, any help with this guys?

[2018-04-06 21:48] Hudell commented on #7100
PR #9775 now includes 2FA for SAML as well.

[2018-04-06 22:26] rafaelks commented on #10370
@cardoso I support the change, but I agree that we cannot break the current implementation. 👍

[2018-04-07 04:03] andpiazza commented on #3499
Slack implemented this as command line: /who
Here's [the complete list of slack commands](https://get.slack.help/hc/en-us/articles/201259356-Slash-commands). These are not API's - these are "slash commands" that could be entered by any member of the slack instance.

[2018-04-07 04:12] #10347 closed

[2018-04-07 04:12] #10338 closed

[2018-04-07 04:13] graywolf336 commented on #10347
@antoine-roux Thanks for bringing this to our attention! For now, I have created the pull request to fix the immediate issue.

If you're willing to, we use LingoHub as the place were community members translate the various items into their respective languages. If you're willing, we could get you added the project. :)

[2018-04-07 04:14] #10056 closed

[2018-04-07 04:38] #10330 closed

[2018-04-07 06:01] graywolf336 commented on #10331
Closing this due to the merging of #10351 and the release of Rocket.Chat v0.63.1 :) @geekgonecrazy informs me that a snaps release will follow suit in a day or so. :D

[2018-04-07 06:57] graywolf336 commented on #10056
Let us know if the `v0.63.1` release doesn't fix the issue.

[2018-04-07 08:31] shionphan commented on #9829
@axis78  Thanks a lot. It was been solved.

[2018-04-07 09:01] thunderchild91 opened #10377 "Error when I go to change username or other settings."
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:  0.63.0
* Operating System:  Cenntos 7
* Deployment Method(snap/docker/tar/etc): tar download / install
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: 8,9.3
* mongoDB Version: 3,4,14

### Steps to Reproduce:
Go into admin panel and change username, of said user and it won't change all the tim

[2018-04-07 10:45] lunitic commented on #10037
Same thing happens if you using chrome in Android.  I would say reopen the issue.. It seems to be a general android thing.

[2018-04-07 10:47] lunitic commented on #10037
ping @cr22rc

[2018-04-07 13:40] laptopdude90 commented on #10365
Same issue here. Was working a few days ago but suddenly isn't.

[2018-04-07 14:12] michaudg commented on #10331
Still crashing with 0.63.1 and Node 8.11.1 here. Please re-open.

Revert to 8.9.4 solve the problem.

We are not using the Snap release.

[2018-04-07 15:05] geekgonecrazy commented on #10331
If you are using 8.11.1 please downgrade node version to 8.9.4.  Unfortunately until node.js releases another hot fix... We have no other choice.  In snap installs we just downgraded to keep people from being effected.  Docker images are already downgraded.  It's only manual installs left that you have to downgrade nodejs if you did upgrade

[2018-04-07 15:10] geekgonecrazy commented on #10331
Also updated release notes with this note

[2018-04-07 15:11] mgifford opened #10378 "Document language missing - The language of the document is not identified."
### Description:

In the web app the document language is missing.  For WCAG 2.0 AA, the language of the document needs to be identified.

I'm not sure what version I'm using. I'm just a user.

### Steps to Reproduce:

1. go to web interface
2. run the wave toolbar http://wave.webaim.org/extension/
3. look at all the red errors

### Expected behavior:

There should be a title.

### Actual behavior

[2018-04-07 15:15] mgifford opened #10379 "There shouldn't be empty buttons on the web interface"
### Description:

Empty buttons present accessibility problems for people with disabilities. These should be explicitly hidden or not present.

This presents a problem for WCAG 2.0 AA requirements.

### Steps to Reproduce:

1. Load up a rocket chat in a web browser
2. Run the wave toolbar http://wave.webaim.org/extension/
3. Look for all of the red boxes

### Expected behavior:

There should be no

[2018-04-07 15:18] mgifford opened #10380 "Every input form needs a label"
### Description:

For a semantic web interface, every input form needs a corresponding label. That doesn't need to be visible, but often it is better that it is.

The web interface for Rocket.Chat misses this.

### Steps to Reproduce:

1. Login to Rocket.Chat in the web browser
2. Load up the Webaim Toolbar http://wave.webaim.org/extension/
3. Look at the input forms.

### Expected behavior:

You

[2018-04-07 18:21] #10380 closed, assigned to nobody

[2018-04-07 20:51] markwooff commented on #9408
Was hoping a fix for this would be included in the 0.63.1 release. Bumping as I would love for this to be fixed so we can integrate Slack again 👍

[2018-04-08 00:41] cinderblock commented on #10368
Ooops! I missed that you'd like improvement requests in a different place. My mistake.

Thanks for the awesome software! Cheers!

[2018-04-08 03:04] shionphan commented on #8624
Has the problem been solved? The same issue.

[2018-04-08 05:49] graywolf336 commented on #10368
No worries! We're slowly changing every place to say we are now using the forums for feature requests.

[2018-04-08 06:36] lunitic opened #10381 "Keyboard pops up on Android phone when using chrome"
Description:
When I enter a channel the cursor is put in the message box. This seems to pop up the keyboard on android phones when using chrome browser (same thing in cordova browser app) Its REALLY annoying since it then covers half the screen when all you want to do read messages first before you going to respond to anything. Always have to dismiss it.
Started when we upgraded to 0.59 server and

[2018-04-08 08:02] GoetheG commented on #10247
Same

[2018-04-08 08:04] GoetheG commented on #10236
Already an idea when you‘ll release the 1.0 version?

[2018-04-08 08:05] GoetheG commented on #10195
This gets me thinking that there should be a cooperation betweek Rocket.Chat and Nextcloud regarding all the data. This would create anreal collabkrative solution with open sourse software.

[2018-04-08 12:43] rafaelks commented on #8205
@graywolf336 The API already exists... I created few months ago to use on Android. Just need to add the support for ‘#’ and ‘@‘ to the Meteor method.

[2018-04-08 19:13] ekpaila commented on #2985
Any updates in this issue. Would be really helpful

[2018-04-08 20:04] graywolf336 commented on #2985
We have permissions which allow disabling creating and viewing them. What else is missing?

[2018-04-09 02:10] Cambridgeport90 commented on #10379
Thanks @mgifford. I just want to also point out the fact that this is present no matter which interface you use; hardly any of the buttons are labeled at all; I am blind myself, using text to speech. I get lots of "button" and "clickable" when navigating throughout the interface because no screen reader can see behind the buttons and other controls with no labels. I'll pop up a menu and still not

[2018-04-09 03:05] mgifford commented on #10379
Thanks @Cambridgeport90 - I appreciate you verifying this issue. The first step to fix these problems is to report them.  Point to the W3C standards where the guidelines are laid out.  It doesn't always work, but if enough people do it.

Happy to help try work with you to identify some of these.

[2018-04-09 04:06] HammyHavoc commented on #10379
If I have some free time in the next few days then I'll attempt to tackle this for you, @Cambridgeport90. I work with several legally blind users, there's a lot of work to be done on Rocket.Chat in regards to being accessible. One user has some sight, though the bright white UX makes Rocket.Chat impossible to use.

Currently reading through the Web Accessibility Initiative on W3C.

[2018-04-09 04:47] graywolf336 commented on #10379
If anyone submits a pull requests to fix these issues, please tag me. If they're in before our cut off date for the next release, which is the 20th of each month, then I'll try my best to ensure they get merged. I say let's start small and incrementally fix them instead of trying to fix everything in one run.

[2018-04-09 06:17] shreekarade commented on #10361
@TwizzyDizzy @kaiiiiiiiii Thanks, it's work. But it should display notification for channel and DMs by default. Please do that, if possible.

[2018-04-09 06:37] kaiiiiiiiii commented on #10361
You can change the default settings for everyone in the admin panel.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-09 08:26] NIghtCell commented on #9892
Hey guys. I don't want to annoy you with ongoing questions about the progress, but is there anything that I can try to do in order to fix the bug?
Thanks a lot in advance for all your effort!

[2018-04-09 09:00] allabezroutchko commented on #10364
Hello @sampaiodiego , thanks. Show Message in Notification was set to false. I have changed it to true, now the messages are shown in lock screen notification.
Perhaps from UI perspective it would make sense to show <not displayed due to privacy settings> or something like that in the notification, when the option is set to false.

[2018-04-09 09:33] cmrd-senya commented on #396
Why is the issue is closed when the corresponding PR is still not merged?

[2018-04-09 10:12] shreekarade commented on #10361
Can u tell where is this settings? Please

[2018-04-09 10:22] ArtiMane opened #10382 "to send the notification to channel users "/api/v1/channels.notifications " this api not working..."
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-04-09 10:38] kaiiiiiiiii commented on #10361
Administration -> Accounts -> Default Preferences

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-09 10:44] shreekarade commented on #10361
There is no option for Default Preferences in Administration -> Accounts.

[2018-04-09 11:01] kaiiiiiiiii commented on #10361
There is ;)

![2018-04-09 13_00_17-fotos](https://user-images.githubusercontent.com/4711233/38494407-22abdc52-3bf6-11e8-80e9-f710b171d625.png)

[2018-04-09 11:07] shreekarade commented on #10361
![rocketchat](https://user-images.githubusercontent.com/36290412/38494611-2ef8931a-3c14-11e8-8b1a-c2ae034dd34f.png)

See image there is no option for Default User Preferences

[2018-04-09 11:08] kaiiiiiiiii commented on #10361
Can you please upgrade to the latest version and try it again? I'm not really sure when this settings have been introduced in rocket.chat :)

[2018-04-09 11:11] shreekarade commented on #10361
we will try it and let you know it is working or not. Thanks for your support

[2018-04-09 11:16] rafaelks opened #10383 "[BUG] Safari doesn't load video preview for MP4, unless I load the same video in another tab"
### Description:

Safari never loads the preview for MP4 videos. I made an experiment, copied all the HTML code from a message and opened in a separated tab, it loaded the preview just fine and then the Rocket.Chat tab also loaded it. Maybe something is blocking it from load? 🤔

![2018-04-09 08 12 32](https://user-images.githubusercontent.com/551004/38494903-071de368-3bce-11e8-8ace-c5f199550aa3.gi

[2018-04-09 11:46] Cambridgeport90 commented on #10379
Agreed. Work up to completely accessible while in the short run making it useable.

From: Bradley Hilton [mailto:notifications@github.com]
Sent: Monday, April 09, 2018 12:48 AM
To: RocketChat/Rocket.Chat <Rocket.Chat@noreply.github.com>
Cc: Katherine M. Moss <KMoss@WinterHillSolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [RocketChat/Rocket.Chat] There shouldn't be empty buttons

[2018-04-09 11:59] TwizzyDizzy commented on #10382
@rocket-cat close

Hi @ArtiMane

I am **temporarily** closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your issue and your setup as

[2018-04-09 11:59] #10382 closed

[2018-04-09 12:52] cmrd-senya commented on #9615
Related  #396

[2018-04-09 12:53] TheReal1604 opened #10385 "Sidebar: Unread Label is "hardcoded" leading to wrong translations"
### Description:

If you sort your channels like "unread on top" the label of the menu group seems to be hardcoded, which leads to wrong translations in other languages. (i.e. Label is also "Unread" if I select german as my language)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc):  docker
* Numbe

[2018-04-09 12:57] cmrd-senya commented on #9615
Related #1861, contains useful discussion about implementation of multiple message selection by reusing the code from "the Mail Messages feature".

[2018-04-09 13:05] sampaiodiego commented on #396
you're right @cmrd-senya .. reopening

[2018-04-09 13:06] sampaiodiego commented on #10364
Agreed @allabezroutchko .. I'll change the issue title to reflect that.. thx

[2018-04-09 13:14] TheReal1604 opened #10386 "Profile image not shown in Directory search / URLs not consistently created for profile images"
### Description:

The profile image is not shown correctly on our deployment. I possibly found the root cause at the construction of the profile image url´s.

For the creation of a profile image url in the directory menu the "displayname" is used, all other functions, such as the avatars on the sidebar and in the channels using the "username" to construct the url.

For example:

A user is configur

[2018-04-09 13:28] sampaiodiego commented on #8624
it was not yet.. but #10221 should fix it.

[2018-04-09 13:47] Hudell commented on #10385
The code is right, but the key "Unread" is currently missing from the translation files.

[2018-04-09 13:54] TheReal1604 commented on #10385
@Hudell hmph! thanks for the hint.

Quick Fix (custom translation):

[code]

[2018-04-09 13:58] xnextx commented on #9347
+1
This is a big problem when we integrate our service with iframe.

[2018-04-09 14:28] gdelavald commented on #9892
@theorenck can you triage this? I have a fix for it already.

[2018-04-09 14:39] TwizzyDizzy commented on #10236
The most fitting question to your very broad and not really answerable question would be the Debian one: when it's ready.

Cheers
Thomas

[2018-04-09 14:52] shionphan commented on #8624
@sampaiodiego Mobile phone can not receive message from live chat (guest message)

[2018-04-09 15:54] Hudell commented on #5940
Is this problem still present in the latest version of Rocket.Chat?

[2018-04-09 17:02] nbuchwitz commented on #6719
@TwizzyDizzy:
I'm able to reproduce it with 0.63.1 (ac16e938693aa04740758f180f2ea6d7a0337280) - maybe be a regression?

[2018-04-09 17:06] zvikachu opened #10389 "[BUG] 0.63 REST API authentication with external OAuth services expecting Integer"
### Description:

In the latest version of Rocket.Chat, the REST API authentication requests doesn't work with Facebook  Twitter and Google.

reference to the REST API authentication:
https://rocket.chat/docs/developer-guides/rest-api/authentication/

### Server Setup Information:

Version of Rocket.Chat Server: 0.63
Operating System: Linux Amazon AMI
Deployment Method: docker
Number of Running In

[2018-04-09 17:11] TwizzyDizzy commented on #6719
@rocket-cat open.

Just reproduced on 0.63.1. Reopening.

Cheers
Thomas

[2018-04-09 17:36] cenourinha commented on #7397
We have verified this bug. When we, as livechat agent, use the "Forward" option, Rocket.chat doesn't respect the routing method "Guest pool". Instead it seem to redirect to a random live agent.

I think this should alert the live agents for that department and then allow them to accept the incoming live chat request.

[2018-04-09 18:28] theorenck commented on #10047
Hi @mikaelmello we will attend this issue on our planed react rewrite.

[2018-04-09 18:31] theorenck commented on #10042
@willihelm it was fixed in v0.63.1.

[2018-04-09 18:31] #10042 closed

[2018-04-09 18:39] karlprieb commented on #10018
Duplicated of #10068

[2018-04-09 18:39] #10018 closed

[2018-04-09 18:48] kkumaresan commented on #6890
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android. If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 😃

[2018-04-09 18:49] kkumaresan commented on #6876
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android. If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 😃

[2018-04-09 18:49] graywolf336 commented on #6890
@kkumaresan this issue isn't about mobile applications.

[2018-04-09 18:50] kkumaresan commented on #6365
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android. If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 😃

[2018-04-09 18:52] graywolf336 commented on #6365
@kkumaresan Please stop spamming the issues with the same message. :)

[2018-04-09 18:54] kkumaresan commented on #1680
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android. If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 😃

[2018-04-09 19:03] kkumaresan commented on #6365
@graywolf336 Sorry about that.. :)

[2018-04-09 19:39] mrandrey commented on #10352
Here's a picture where you can see the white line of content near the top a bit better:
<img width="411" alt="screen shot 2018-04-09 at 9 31 54 am" src="https://user-images.githubusercontent.com/444565/38518552-eb921d16-3bd8-11e8-947c-3afdbaf976b5.png">

And here's a picture of it highlighted in Safari inspector:
<img width="606" alt="screen shot 2018-04-09 at 9 35 29 am" src="https://user-images.

[2018-04-09 19:41] geekgonecrazy commented on #10363
Fixed in: #10390

Triggered a build will do quick test and push it out before 0.64.0

[2018-04-09 20:05] #10363 closed

[2018-04-09 20:07] geekgonecrazy commented on #10363
Please `sudo snap refresh rocketchat-server` it should now be fixed

[2018-04-09 20:35] Hudell commented on #10023
We have tested it here and everything seems to be working fine. As there has been no answer since the initial report, I'll be closing this issue now.

[2018-04-09 20:35] #10023 closed

[2018-04-09 20:41] geekgonecrazy commented on #10236
I would agree with that answer :grin:

[2018-04-09 21:10] karlprieb opened #10392 "UI don't reload when you change language on user preferences"
### Description:
When you change the UI language on user preferences the UI don't reload and you need to manually reload the page to change language.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63

### Steps to Reproduce:

1. Go to My Account, Preferences
2. Change the language
3. Click "Save changes" button

### Expected behavior:
When the user change the UI language on use

[2018-04-09 21:11] karlprieb opened #10393 "Add users search is broken"
![image](https://user-images.githubusercontent.com/9200155/38523310-70c4b028-3c21-11e8-9788-6a1c48f8363f.png)

[2018-04-09 21:17] graywolf336 commented on #10392
Closing, this was fixed in v0.63.1 via #10348. Please read the release notes to understand what was changed, thanks! :)

[2018-04-09 21:17] #10392 closed

[2018-04-09 21:30] TwizzyDizzy commented on #10346
@rocket-cat close

Closing this due to lack of feedback (maybe a bit too early). But I'll be happy to reopen if this is still an issue for you and you think this is an actual Rocket.Chat bug or the snap package.

Cheers
Thomas

[2018-04-09 21:30] #10346 closed

[2018-04-09 21:40] #9128 closed

[2018-04-09 21:45] #8980 closed

[2018-04-09 21:46] karlprieb commented on #9770
Already fixed in 0.63 release.

[2018-04-09 21:46] #9770 closed

[2018-04-09 21:47] #8308 closed

[2018-04-09 21:50] #9378 closed

[2018-04-09 21:50] #8776 closed

[2018-04-09 21:51] #8855 closed

[2018-04-09 21:51] #8852 closed

[2018-04-09 21:51] #8853 closed

[2018-04-09 21:51] #8791 closed

[2018-04-09 21:51] #8792 closed

[2018-04-09 22:44] donzavitz commented on #10363
this fixed my issue #1057 but is it normal i can't send video or audio messages in this android client?

[2018-04-09 22:58] ccfiel commented on #10363
fix :)

[2018-04-10 03:56] fnerdwq commented on #8474
@dasgarner indeed the tempRooms definition as `const` seems to be the problem. It works for me fixing [this](https://github.com/RocketChat/Rocket.Chat/blob/69ecba0f0f7dfff02cea9a3d1cf8eba7aa5ebddd/packages/rocketchat-importer-hipchat/server/importer.js#L45) w/o `let` and [this](https://github.com/RocketChat/Rocket.Chat/blob/69ecba0f0f7dfff02cea9a3d1cf8eba7aa5ebddd/packages/rocketchat-importer-hipc

[2018-04-10 06:56] rasos commented on #6365
@kkumaresan thanks for notifying here. Nice to see more mobile clients evolving. I will try to test roverz and give some feedback.

We also have been making good progress with a Qt5 based development supporting the RocketChat API, available as "fairchat" App for iOS and Android: https://git.fairkom.net/chat/fairchat Has a similar feature set including photo and video capturing. Lately we integrate

[2018-04-10 07:05] zhouxi4oling commented on #9233
Also need this. We consider it to be the pre-condition to open RC on the internet.

[2018-04-10 07:50] rasos commented on #9233
@zhouxi4oling our set up is: RocketChat server is authenticating against SAML. Users are managed with the keycloak identity provider (which mirros them to an OpenLDAP). User sign-up is managed in keycloak. keycloak has a nice 2FA feature, on Android you use e.g. FreeOTP for the token. The fairchat app (compatible to RocketChat servers) has a SAML connector (pre-configured for fairlogin, but can be

[2018-04-10 09:39] cmonjeau commented on #10022
Hi @renatobecker,

I  just updated to version 0.63.1 and I have the same problem. I tried to run a new instance of rocket.chat with the same docker-compose.yml that my production server and all is ok with the livechat.

I don't understand why there is this problem since the version 0.62.0 on my production server. Maybe a side effect with multiple updates?

[2018-04-10 09:48] cmonjeau commented on #10022
![demo](https://user-images.githubusercontent.com/1289992/38549740-1094ba92-3cb5-11e8-99cb-8dc881bf2fec.gif)

[2018-04-10 10:05] ravimallya commented on #7583
@rajan-goswami No, I neither I did get any solution, nor I tried to debug more after posting issue here. Before that only I tried in all possible way to sort out the issue.

[2018-04-10 10:36] sumedh123 opened #10398 "Misplace of '@' in the directory -> users page."
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1. Head over to the directory search for users.
2. Under the name column, before the name of the user, the "@" symbol looks weird.

### Actua

[2018-04-10 10:39] zvikachu commented on #10389
Hi @MarcosSpessatto
Yes this curl command runs
but i had issues with node and php clients

[code]

for example, the above code will return
[code]

[2018-04-10 10:50] honzasram commented on #10248
After some horsin' around I find out that instance is somehow responsive at `https://our.domain.com/rocket/rocket`. With double subfolder I get loading script but nothing else.
Same when i reach server directly (without reverse proxy).

Can somebody please help me? It's frustrating. Subfolder was working fine before.
I tried to create it from fresh start without config and other data, also unsucce

[2018-04-10 12:24] muhv7 opened #10400 "Auto SSL - Caddy fails to start"
### Description:

Trying to set up SSL trough caddy and it the service just stops after a second of running. It works fine with tls self_signed

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1

### Steps to Reproduce:

1. Edit caddy file according to documentation
2. Re

[2018-04-10 12:27] archang3l-media opened #10401 "User Data Disclosure via API Call"
### Description:
After getting an auth token via:

curl -d "username=myusername&password=mypassword"
https://rocketchatserver/api/v1/login

any authenticated user can crawl all information about any other user, including the highlighted
keywords, last active time and notification settings with

curl -H "X-Auth-Token: $insert_auth_token_here$" \
    -H "X-User-Id: $insert_user_id_here$" \
    https

[2018-04-10 12:33] bumbar1 commented on #9038
Occasionally still experiencing white pages (I suspect this race condition) in our office.

We're on 0.63.0 and have been having this issue since 0.62.x. Mainly happens on iphones and rarely on androids. We're using cordova apps since native ones don't (yet) support custom gitlab url auth.

[2018-04-10 12:40] rasos opened #10402 "Cookie is not secure"
We've been running a simple penetration test with https://pentest-tools.com/ against a RC 0.62 with NGINX reverse proxy.  It reveals a security risk, as the `connect.sid` cookie does not have a `secure` flag set.

This could be probably modified by the proxy, but I think it should be better done in the backend.

[2018-04-10 12:50] DRON4eg commented on #9920
and at 0.63.1

[2018-04-10 13:11] TwizzyDizzy commented on #10400
Hi @muhv7

this is not enough information, we need more detailed logfiles and your caddy configuration.

Cheers
Thomas

[2018-04-10 13:24] muhv7 commented on #10400
Hi! Thanks for the answer. Do you mean the caffyfile config? It's done exactly like the documentation says on rocketchat's webpage.

Also, that log is from the caddy...

[2018-04-10 13:34] TwizzyDizzy commented on #10400
If it's done as in the docs, than you have done it with **example-domain.com** ... so please: share your configuration as requested. You may anonymize your specifics but make it clear where you did that.

Cheers
Thomas

[2018-04-10 13:39] muhv7 commented on #10400
![caddy](https://user-images.githubusercontent.com/34287392/38560176-b5c14d6e-3cdd-11e8-99c6-a24b91e63ef9.png)

Done like this. I replaced the example domain one :)

Basically did everything in here, step by step

https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/autossl/

[2018-04-10 13:47] naamaan commented on #7543
Hi,
I'd installed the latest version using snap behind Nginx for SSL, and I'm using the livechat integrated in Drupal 7 test website.

Everything is okay But I found that the file-sharing feature is not yet implemented in the livechat widget!?

What should I do to get it working? I really need this feature in my case!

[2018-04-10 14:14] karlprieb commented on #10386
Duplicated of #10115

[2018-04-10 14:14] #10386 closed

[2018-04-10 14:25] karlprieb commented on #10398
I get it, maybe we should change the first column to Username (with avatar, @ icon and username) and the second column should be the Name column.

@sumedh123 do you want to make a PR for that?

[2018-04-10 14:53] sumedh123 commented on #10398
@karlprieb Okay I will do it.

[2018-04-10 14:57] karlprieb commented on #10398
@sumedh123 thank you! 👍

[2018-04-10 16:06] sampaiodiego commented on #7543
file sharing is not done yet.. but we plan to ship on next version by april 27th

[2018-04-10 16:09] renatobecker commented on #7543
Hi @naamaan,

Just to give you an update, we're working on this feature at this moment, so I suggest you wait for the next version(0.64).

[2018-04-10 16:43] naamaan commented on #7543
It's a relieve to know this, I was afraid I'm missing something.
Thanks a lot.

[2018-04-10 16:48] #10389 closed

[2018-04-10 16:49] zvikachu commented on #10389
@MarcosSpessatto Thanks, that worked

[2018-04-10 17:47] #9944 closed

[2018-04-10 18:26] danielbahl commented on #8236
@callumthomson @abdelrahmanahmed We are experiencing this issue too. Hope it will get fixed in the near future. 😄

[2018-04-10 19:04] Bill81710 commented on #2770
Hi everyone,
I'm desperately trying to configure my ADFS 3.0 (Windows Server 2012 R2) with RocketChat 0.62.2
I followed megamaced and assafm81 settings whith no luck. I allways have an error after adfs login :

Maybe since then, things have changed.

In the SAML documentation, at the very end :

Idp Returned Attribute Name	Usage
cn	User’s Full Name
email	User’s Email Address
username	User’s userna

[2018-04-10 20:05] graywolf336 commented on #10401
Pull request #10411 addresses this. In your opinion, should this warrant a security release for 63?

[2018-04-10 20:08] TwizzyDizzy commented on #10401
Well... there are the highlight-words of a person right there. In this case it's "essen, kuchen, torte" (which is german and translates to "food, cake, pie") ... but it might just as well be something more private. This is clearly a grave thing to be openly available as it might reveal deeply personal things.

Cheers
Thomas

[2018-04-10 20:13] theorenck commented on #10170
Hi @maxdang365 tanks for reporting the problem to us. @rodrigok can you take a look into this and put in right milestone if needed?

[2018-04-10 20:15] mrandrey opened #10412 "Rocket Chat is 4.85MB - Conditional JS Loading?"
I ran some tests and noticed that rocket.chat script is 4.46MB  and css is 385KB.
<img width="565" alt="screen shot 2018-04-10 at 10 07 44 am" src="https://user-images.githubusercontent.com/444565/38581131-998573ae-3ca7-11e8-938a-7c85e922b6e1.png">

I tried turning off certain features, and it seemed to have no effect on the library size.

So this is either a bug report or a feature request for co

[2018-04-10 20:15] graywolf336 commented on #10401
Thanks @TwizzyDizzy. I am of that opinion myself, so I just wanted to be sure that it wasn't just a me thing.

[2018-04-10 20:17] mrandrey commented on #10352
Confirming that this is still an issue on 0.63.1.

[2018-04-10 20:17] theorenck commented on #10172
Hi @internalfx thanks for report the problem. @renatobecker can you take a look into this one?

[2018-04-10 20:40] rudygodoy commented on #6791
I'm running 0.62.1 and facing the exact same issue. Nothing on logs.

[2018-04-10 20:56] renatobecker commented on #10172
@internalfx,

Just to be sure, you mean the widget remains online but if the page is reloaded the widget goes offline, right? The point here is that the widget should be updated in real time, am I correct?

I'll wait for your feedback, Thanks.

[2018-04-10 23:16] #10401 closed

[2018-04-10 23:54] nemaniarjun commented on #10370
Seems non-breaking to me.

[2018-04-10 23:56] mrandrey commented on #10352
I think it might have something to do with flex, which isn't supported on many older browsers:

.main-content {
    flex: 1 1 100%;
    width: 1vw;
    height: 100%;

If I take out the "flex" definition, the whole thing collapses, ignoring the height. Perhaps instead of height:100%, height:100vh can be used, since it's pretty well supported? Or something with JS calculating specific height on open

[2018-04-11 00:00] nemaniarjun commented on #10316
Sorry. Updated :)

[2018-04-11 00:02] renatobecker commented on #10333
We are planning the redesign of the Livechat widget, as well as enhancing its Livechat customization features.
I still can't say, but it is possible that some of these features appear on our next roadmap.

[2018-04-11 00:56] TwizzyDizzy commented on #10316
Thank you :) As it's probably saved encrypted there (where usually in mongodb there would be the cleartext phrase in non-OTR conversations) I think it's not thaaaat bad... on the other hand there is an information left in the DB simply that *there was* an actual conversation which doesn't align with the goals of OTR, I think (deniability).

Just my thoughts...

Cheers
Thomas

[2018-04-11 01:25] kurji opened #10415 "Do not close search sidebar on idle timeout"
### Description:

There seem to be two related issues:
1. The search sidebar closes on idle timeout
2. The user interface for Idle Time Limit does not specify the unit in which the timeout is being configured

The combination of these made for a very vexing issue that took a long time to isolate, where the search sidebar was totally unusable due to constantly closing every few milliseconds, making

[2018-04-11 01:41] graywolf336 commented on #10415
The last half of that will be fixed when #9824 is merged on the next release. :)

[2018-04-11 03:56] snowyu commented on #9999
The encrypted private key is stored on the server always.   @mrinaldhar The encrypted private key should be stored on the local only.

[2018-04-11 06:09] GalvinGao commented on #10352
iPad Air 2, iOS 10.3.3, Safari & Chrome both confirmed that the error was occurred.
iPad Air 2, iOS 11.3 Developer Beta 6: **NOT** confirmed and everything was working normally on either Safari and Chrome.
Due to the limitation that apple have, I can't see what had been said in the console.

Here's the screenshots that are in **iOS 10.3.3 Safari**.
The first one is the original screen you entered

[2018-04-11 07:07] 42robots commented on #2422
Hi all!
In the meantime, does anyone have experience using a custom javascript? We have this option to add custom scripts and i wonder if that would work, too.
Best

[2018-04-11 07:51] TwizzyDizzy commented on #10412
@rocket-cat close

Hi @mrandrey,

while you are absolutely right with what you're saying, unfortunately this is nothing that can be done with one single (or a few) actions to remedy the situation.

We know, that it's currently bad and we're working on it constantly. Take it as in: Whenever we see the opportunity to cut down on those megs, we will, but this is definately nothing that will be solved

[2018-04-11 07:52] #10412 closed

[2018-04-11 07:55] TwizzyDizzy commented on #10412
Might be the case that @karlprieb can tell us about ongoing efforts in that direction, but no guarantee.

Cheers
Thomas

[2018-04-11 08:00] antgel commented on #7845
@xklx Does this work for you now?

[2018-04-11 09:00] andytipp opened #10416 "No Usernames in Request at Outgoing Webhook for Direct Messages"
I'm trying to create a webhook that sends a notification when a direct message has been written to a specified user. For that, I want to add a script that just checks whether the direct message is sent to the specified user. Unfortunately, the username of the user who receives the message is not part of the request that I can access in the script. The request only consists of this:

`
{
	_id: 'TAQ

[2018-04-11 09:31] a5his opened #10417 "Confusing information while testing"
While doing security testing, we were shown error message which includes some information regarding application(my guess). I have a concern as I am not sure about those information which is from `kadira` app monitoring tool. I need some help to understand what kind of information are they.

Capistrano is used to deploy the app.

**File**
`https://myappdomainlocation/releases/20180201105052/bundle/

[2018-04-11 10:55] TwizzyDizzy commented on #8352
I want to close this issue. Therefore, I have just created [this pull request](https://github.com/RocketChat/docs/pull/685). If approved, I will close this issue.

Cheers
Thomas

[2018-04-11 11:15] TwizzyDizzy commented on #10417
@rocket-cat close

Hi @a5his

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing.

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitation of time. If it should turn ou

[2018-04-11 11:15] #10417 closed

[2018-04-11 12:10] rafaelks commented on #9337
We're going to change the logic on the iOS app in order to avoid this behaviour on the web client. Basically, after investigating, the web is doing `/typing` event every 10 seconds instead.

[2018-04-11 12:10] #9337 closed

[2018-04-11 12:46] golflima commented on #9339
+1

[2018-04-11 13:00] latoile commented on #9339
+1

[2018-04-11 13:18] Hudell commented on #10149
Anybody still seeing this problem on version 0.63? If so, please share any more relevant logs you may have.

[2018-04-11 13:23] saplla opened #10420 "Custom OAuth config not created even if all env vars are set"
### Description:
Installing Rocket Chat with a Helm chart, I'm specifying all the required variables to configure a custom OAuth provider as environment variables. E.g. I create env vars called:
[code]
When I log into the Rocket Chat, no custom OAuth provider called `Keycloak` has been created. But if I create one called `Keycloak`, it populates all the fields from the env vars I supplied. This is

[2018-04-11 13:28] gdelavald opened #10421 "Enable reordering contextual tab bar items via admin panel"
### Description:

Currently the Contextual Tab Bar items are ordered by a static priority that's hard coded when creating the buttons, in the redesign process our plan was to enable drag-n-drop to reorder the buttons so the user define the priority. Since that wasn't implemented yet, a easier solution would be moving the order of the items to be an admin setting, so admins would be able to set pri

[2018-04-11 13:31] cardoso opened #10422 "[BUG] "Message_AllowedMaxSize" not working as expected with messages containing emoji unicode sequences"
If "Message_AllowedMaxSize" = 10

This message will be rejected: "123456789👨‍👨‍👧‍👦"

[2018-04-11 14:32] MartinSchoeler opened #10424 ""Collapse Embedded Media by Default" Preference Breaks Relplies"
### Description:

When the user preference `Collapse Embedded Media by Default` it makes text attachments closed, with no way to open it.

<img width="435" alt="screen shot 2018-04-11 at 11 30 16 am" src="https://user-images.githubusercontent.com/20868078/38623318-beb760cc-3d7b-11e8-8508-74d451327bd7.png">

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Tested on open ser

[2018-04-11 14:54] k0nsl opened #10425 "Editing user is not possible"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: Debian 8
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

To edit a user and save the relevant change(s).

### Actual behavior:

A message a

[2018-04-11 14:56] rafaelks opened #10426 "[EXPERIMENT] Add “mentions” of the message the moment it is sent via Meteor method"
As discussed internally, this is probably something that can improve the clients feedback after sending a message.

[2018-04-11 15:13] karlprieb commented on #10412
@mrandrey that's what you get when you access open.rocket.chat
![image](https://user-images.githubusercontent.com/9200155/38625735-8469d1ec-3d81-11e8-8d1b-9c2680342e65.png)

We still think that 1.18mb it's a huge initial payload, so we are work on dynamic javascript loading when we start the new react webclient project.

Thank you for your report!

[2018-04-11 15:33] rafaelks commented on #10426
API is already returning mentions and channels 🤦🏼‍♂️

[2018-04-11 15:33] #10426 closed

[2018-04-11 15:37] Sing-Li commented on #10426
instant improvement 😁

[2018-04-11 15:38] tim-soft commented on #10333
That's good to hear, I hope you guys take some styling inspiration from https://www.intercom.com/live-chat

I think the this is the style of live-chat that most people would want to use

![capture](https://user-images.githubusercontent.com/10257939/38627266-d3f98696-3d6b-11e8-9b5e-ea18ea6aaad2.PNG)

[2018-04-11 17:02] mrandrey commented on #10352
@karlprieb I only have Safari 9 installed as a way of testing older browsers, so can't say about Safari 10.

Just for kicks, I tested it on a Windows XP VM in Firefox 7 (way old, I know), and was actually able to send a message after a bit of firebug messing around. It's cool that the functionality is there, even though the CSS is far too advanced for such an old browser and it wasn't really useab

[2018-04-11 17:03] theorenck commented on #10182
Tanks for the feedback @Dalben96. @rodrigok can you confirm this as an erratic behavior? If you do so can you prioritize it accordingly?

[2018-04-11 17:09] mrandrey commented on #10412
I just tested it in Chrome and was able to confirm your findings. Any ideas why Safari (9) loads 4.46MB when Chrome only loads 1.18MB? That seems a bit extreme. I tested both on open.rocket.chat.

<img width="1007" alt="screen shot 2018-04-11 at 7 08 46 am" src="https://user-images.githubusercontent.com/444565/38632041-3bafe6aa-3d57-11e8-8748-88c8c95a5214.png">

[2018-04-11 17:12] karlprieb commented on #10412
@mrandrey Ohh i know why :) Safari 9 doesn't accept GZIP compression... :(

[2018-04-11 17:18] theorenck commented on #10188
Hi @bizzbyster, tanks for your feedback but I suppose this would be a discussion to have inside the Rocket.Chat.Electron repository.

[2018-04-11 17:18] theorenck commented on #10188
Issue moved to [RocketChat/Rocket.Chat.Electron #707](https://github.com/RocketChat/Rocket.Chat.Electron/issues/707) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-11 17:18] #10188 closed

[2018-04-11 17:30] mrandrey commented on #10412
Aha! Makes sense. Good to know. Thanks!

[2018-04-11 17:33] graywolf336 commented on #10182
Sounds like when the channel is deleted it's not removed from the default servers? :thinking:

[2018-04-11 17:46] c0dzilla commented on #10422
This is actually expected behaviour. @sampaiodiego is it desirable to not include emojis while deciding the message size setting?

[2018-04-11 17:49] TwizzyDizzy commented on #10412
@mrandrey And you also might just think about dropping whatever old OS version you're using... Safari 9 has been discontinued for ages. You are surfing the web in a highly insecure manner.

Cheers
Thomas

[2018-04-11 17:55] mrandrey commented on #10412
Thanks for the tip. I'm actually developing a web app with Rocket.Chat as the main in-app communication system between users and would like it to be compatible with as many systems as possible. I only open Safari 9 for testing, I promise :-)

[2018-04-11 17:58] karlprieb commented on #10412
Hahahah, @mrandrey you can always use custom CSS to fix those problems if you need to support old browsers.

[2018-04-11 18:03] mrandrey commented on #10412
Yup, I probably will in the future just to expand the compatibility a bit. The new ES6 is pretty exciting, but I know there are plenty of people still on iOS 10 (still not that old) and older Android phones that won't be upgrading anytime soon and the ability to message is kind of basic. I still think wistfully of Skype 2.8 when it was just a tiny window packed with all the functionality one might

[2018-04-11 18:13] TwizzyDizzy commented on #10412
This is definately not the right place to talk about this, but since this issue is derailing for a few comments already, I think I might just go ahead. **I think you're getting something very wrong here**. Software that is not upgraded is software that is insecure. Whether those updates contain changes you don't like is totally irrelevant.

Also, as somebody developing a software I see (almost) no

[2018-04-11 18:28] mrandrey commented on #10412
Yup, I can totally see your point from a developers perspective.

Yet from a user's perspective, it's a bit of a different pickle. For example, I bought an iPad, so I'm now committed to the device. It's running iOS 10, which I'm pretty happy with. An update comes to upgrade to iOS 11, but in that upgrade there is no way (still, I believe) to really turn off wifi and bluetooth. Some might find that

[2018-04-11 18:35] cardoso commented on #10422
@c0dzilla expected but wrong, IMO. It makes sense from a developer perspective, but not from a user perspective.

[2018-04-11 18:44] matheus666matheus opened #10429 "Chat is very slow"
My Rocket Chat instance is very low....takes on average 20 seconds to send a simple message. I followed the centos manual installation procedure in the guide correctly.  What could be causing this slowness?

* Version of Rocket.Chat Server:  0.63.1
* Operating System: CentOS 7
* Number of Running Instances: 1
* DB Replicaset Oplog: no replicaset
* Node Version: 8.9.3
* mongoDB Version:  the latest

[2018-04-11 18:46] TwizzyDizzy commented on #10412
Hehe, kudos for `it's a bit of a different pickle`. I'm no native speaker but this is gonna make it's way into my vocabulary :laughing:

I'm totally with you on what you wrote. This is a shitty practice and I can understand the that you might not want to update. Yet this changes nothing when it comes to security. No updates > no fixes > you're gonna be exploited.

I would venture to say though, th

[2018-04-11 18:51] TwizzyDizzy commented on #10429
Hi @matheus666matheus

I don't see how anybody could help you on the basis of the information you provided. This is just too broad and there could be billions of possible reasons for what you're seeing.

So as long as you don't add anything more precise this is nothing we can help you with. Also: please add your deployment method.

Cheers
Thomas

[2018-04-11 18:54] geekgonecrazy commented on #10402
this one is kind of tough.  We can't just start flagging secure... Then everyone that isn't using https will suddenly not have cookies sent.

This one would need a bit more logic worked out before we could implement

[2018-04-11 19:02] gdelavald commented on #8103
Hey @navya-uppalapati, is LDAP enabled in your server?

[2018-04-11 19:16] mrandrey commented on #10412
Sounds good. Cheers :-)

[2018-04-11 19:18] cinderblock commented on #9580
This is still happening on `0.63.1`

[code]

[2018-04-11 19:19] matheus666matheus commented on #10429
Hi @TwizzyDizzy, thanks for replying,

I know it was not very specific, sorry...but I can't get no useful information, was expecting a common cause for this kind of slowness, or something like that. I followed strictly the guide, the only odd thing that happened to me when I was installing was this warning, when I ran 'node install':

npm WARN lifecycle meteor-dev-bundle@~install: cannot run in wd

[2018-04-11 19:19] cinderblock commented on #9580
This is still happening on `0.63.1`.

[code]

[2018-04-11 19:24] cinderblock commented on #9580
Sometimes Rocket.Chat runs for days without issue.

When it Segfaults, systemd automatically restarts it nicely. Sometimes it comes back after the first restart. Sometimes it fails to start initially, systemd sees the segfault, and restarts the server again. This repeats until Rocket.Chat comes back "permanently", or until it segfaults again...

Are there more verbose logging options I can enable?

[2018-04-11 19:25] c0dzilla commented on #10422
Yes, I agree its not desirable for the user.

[2018-04-11 19:26] rasos commented on #10402
How about an option for administrators:

- [ ] set secure cookie (requires working https!)

[2018-04-11 19:31] TwizzyDizzy commented on #10402
The problem there is, is that hidden behind this little checkbox there is so much potential complexity (and possibilities of your setup) that it's not worth anything ... yes. You would reach your goal with it but to 100 other users this would be confusing and potentially kill their setup.

I would vote for supporting the `Forwarded` and `X-Forwarded-*` and setting the cookie flags on that basis au

[2018-04-11 19:35] theorenck commented on #10231
@MartinSchoeler can we take that in consideration?

[2018-04-11 19:35] #10231 closed

[2018-04-11 19:37] Hudell commented on #10230
Are you still having this problem?

If you disable your script, does it work?

I've tried to replicate the issue with all possible configurations, but it always executed successfully. If you have any other information that may help me trigger this error, let me know.

[2018-04-11 19:42] karlprieb commented on #10117
@magicbelette Ouch, you're right. I tested here and it's happen. We will change all our icons on the next releases and with that we will change our icon system too, so when we do that this problem will be fixed too.

Thank you for your report!

[2018-04-11 20:45] c0dzilla commented on #10424
@MartinSchoeler please have a look at #10427 . Thanks :)

[2018-04-11 20:58] maximus-dv10 commented on #7642
Same here. Is there any updates on this ticket?

[2018-04-11 22:26] theorenck commented on #10425
hi @k0nsl can you give us more context on the problem? Can you send a print screen showing us the problem?

[2018-04-11 23:17] muhv7 commented on #10421
Actually, it would be better to have an option to easily create new buttons and reorder them. Creating a new button is a real hassle right now.

[2018-04-12 02:00] aboyton commented on #9485
Is this bug still present since the fix was reverted?

[2018-04-12 02:57] geraldinkorea commented on #8732
I am having the same issue, I have been looking for the error logs, which log did you get the above information from?

Cheers,
Gerald

[2018-04-12 02:58] geraldinkorea commented on #10149
I have the same issue please let me know what logs you would like to see.

[2018-04-12 06:46] daradurvs commented on #10149
I have the same issue on v.0.63.1
SMTP is configured and tests email is sent as expected.
But I got an error `Error trying to send email:  Mail command failed` by clicking **"Resend verification email"** in **"My Account"** tab.
There is no warning in **"View Logs"**.

[2018-04-12 07:52] CaEike81 commented on #8732
Hey @geraldinkorea

I just copied the log from the admin interface using the webinterface.

Anyhow I just solved the issue by updating Rocket Chat to a newer version.

[2018-04-12 10:35] junlicn commented on #9270
same problem  with server as cloud trial :
mobile client version 2.4  : android-armv7-release.apk

after connecting to the server, then blank.
I set up server today, it means the latest server and latest mobile client.

[2018-04-12 11:52] mahtsche opened #10433 "/rest-api/users/register/ timeout"
**Operating System** (Docker-Compose file form official documentation):
https://raw.githubusercontent.com/RocketChat/Rocket.Chat/develop/docker-compose.yml
* **Browser**: Version 65.0.3325.181 (Developer Build) (64-bit)
* **Rocket.Chat Version**: 0.63.1
* **Expected behavior**: Like the description of users.register from the RestApi: https://rocket.chat/docs/developer-guides/rest-api/users/registe

[2018-04-12 12:35] antgel opened #10434 "Email notifications to @all not working"
### Description:

See below.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: 8.11.1
* mongoDB Version: Whatever's in the docker image

### Steps to Reproduce:

1. Be offline or away in a channel.
2. Wait for s

[2018-04-12 12:37] Sing-Li commented on #3551
Can you please try using keyboard to paste ...
on Mac OSX ... Shift + Option + Command + V
on Windows ...  Control + Shift + V

[2018-04-12 14:24] marceloschmidt commented on #4956
Handled by #9785

[2018-04-12 14:25] marceloschmidt commented on #3590
Being handled by #9785

[2018-04-12 14:25] #3590 closed

[2018-04-12 14:32] graywolf336 commented on #1086
Related: #7445

[2018-04-12 14:58] #1414 closed

[2018-04-12 15:03] mahtsche commented on #10433
solved

was caused by wrong
- MAIL_URL=smtp://smtp.email
in compose file

[2018-04-12 15:03] #10433 closed

[2018-04-12 15:35] TwizzyDizzy commented on #10434
Hi @antgel

so you are currently on 0.60.1? If so, I would kindly ask you to upgrade to 0.63.1 (or maybe wait for 0.63.2 which is coming soon) and try to reproduce your error there. There are also a lot of new settings surrounding the topic of notifications.

As stated in the documentation, we do not support versions other than current stable. Thank you!

Please also adhere to the [issue template]

[2018-04-12 15:48] pauloriply commented on #8103
Same problem. LDAP enabled.

[2018-04-12 15:50] TheReal1604 opened #10436 "SAML Sessions seems not to be shared between loadbalanced RC instances"
### Description:

I setup SAML authentication for our demo system, all worked fine to the point there I hit an issue that sometimes the SAML authentication seems not to work.

Could debug this to the point there it seems that the loadbalancing without stickyness is an issue.

So if SAML-RequestA is created on BackendServer1, but BackendServer2 receives the answer, it doesnt know something about th

[2018-04-12 15:57] TheReal1604 commented on #6677
closing this .. cordova is deprecated. Thanks guys!

[2018-04-12 15:57] #6677 closed

[2018-04-12 15:58] TheReal1604 commented on #6344
Closing this, cordova is deprecated.

[2018-04-12 15:58] #6344 closed

[2018-04-12 15:59] TheReal1604 commented on #5468
Closing this.

[2018-04-12 15:59] #5468 closed

[2018-04-12 15:59] TheReal1604 commented on #5514
Closing this.

[2018-04-12 15:59] #5514 closed

[2018-04-12 16:39] antgel commented on #10434
@TwizzyDizzy No, we're on 0.63.0 which is pretty close to your 0.63.x suggestion, the error has been happening since 0.60.1.

[2018-04-12 16:41] gdelavald commented on #8103
@pauloriply LDAP Enabled instances do not allow username change, this explains your problem.

@navya-uppalapati if you have LDAP enabled as well I'll go ahead and close the issue.

[2018-04-12 16:43] shionphan commented on #9997
solved by this link: https://askubuntu.com/questions/466651/how-do-i-use-the-latest-gcc-on-ubuntu

[2018-04-12 16:48] navya-uppalapati commented on #8103
Yes, ldap is enabled

[2018-04-12 16:50] gdelavald commented on #8103
Ok, I'll close the issue as this is working as intended.

[2018-04-12 16:50] #8103 closed

[2018-04-12 17:24] rodrigok commented on #9785
@rafaelks I did update my specification with more details, @ggazzo will start developing the feature, will define the methods, icons and layout with @karlprieb and our design team, they will keep updating this issue with the interface decisions and DDP APIs developed (we can create a wrapper in REST of course).

Let me know if you need more information

[2018-04-12 18:49] #10236 closed

[2018-04-12 22:50] mayeaux opened #10440 "Snap installation fails (unable to Mount snap "core") (Ubuntu 16.04)"
[code]

Anyone seen this before?

[2018-04-12 23:05] geraldinkorea commented on #10149
Thank you,

My error logs in send mail are sparse, there is no error.

Cheers,

Gerald

On 04/12/2018 03:47 PM, Vyacheslav Daradur wrote:

[2018-04-12 23:07] kaiiiiiiiii commented on #10440
Hi @mayeaux,

please use the issue template (the auto filled text when you open an issue) for your request, otherwise this issue will be closed soon.

It’s hard to give any support with such less information.

Thanks,
Kai

[2018-04-12 23:07] geraldinkorea commented on #8732
I did the install on Wed. I will update and see if that works,

I will try to update and see if it solves the issue.

Thanks

On 04/12/2018 04:53 PM, Carsten wrote:

[2018-04-12 23:10] #10440 closed

[2018-04-12 23:11] mayeaux commented on #10440
It seems my Linux kernel is custom and can't support squashfs

[2018-04-13 00:58] nemaniarjun commented on #10316
@TwizzyDizzy I dont think it is a security issue. Instead I think it is just a small bug, non urgent but easy to fix. I will create a PR soon. :)

[2018-04-13 03:36] Rohlik commented on #9829
Same problem on RHEL7, but @axis78 help me solve this problem. THX.

[2018-04-13 03:59] SignalDancer commented on #10149
@Hudell  Same issue here on 63.1

If there's further logs you need than what's in the rocket chat main log, let me know and I will get them.

[2018-04-13 07:50] mrinaldhar commented on #9999
Hi @cremfert and @snowyu ,

The package is scheduled to be integrated into Rocket.Chat very soon. It's under review and testing.

I started development with the Signal protocol but that had to change because of certain requirements of the project that aren't possible with Signal on the browser. Ability to view previously encrypted messages (Signal uses a new key to encrypt every message, and there

[2018-04-13 07:59] panki27 commented on #10155
I'm having the same problem. Running Ubuntu 16.04 with Apache, installed via Snap.
Upon accessing domain.com/chat, Assets and Stylesheets are being loaded from domain.com/ when they should be loaded from domain.com/chat
Is there a quick workaround for this?

[2018-04-13 08:17] filippotoso commented on #9113
This should be reopened.

Nowhere in the linked direct message api documentation is specified HOW to send a message to a direct message session.

Here's a list of the documented APIs:

- /api/v1/im.close
- /api/v1/im.create
- /api/v1/im.history
- /api/v1/im.files
- /api/v1/im.messages.others
- /api/v1/im.list
- /api/v1/im.list.everyone
- /api/v1/im.open
- /api/v1/im.setTopic

None of this sends a

[2018-04-13 08:56] slyk commented on #6786
Need this too. Can support it with bounty too, if this will help make this feature a little faster. So @bizzbyster when issue with bounty will be ready, post info here, I'll throw a penny too.

Also I found a sort of dirty replacement, for bot buttons only, while the main thing is in progress, that may help to do fast and right now bots with buttons in answers: https://github.com/PropertyUX/rocket

[2018-04-13 09:25] TwizzyDizzy commented on #10434
Still, the issue template would be nice :) (I will be deleting this comment once you added the requested information in your initial post).

Cheers
Thomas

[2018-04-13 09:27] TwizzyDizzy commented on #10429
@rocket-cat close

I'm closing this issue (see my first reply), but let me refer you to the community support forum: https://forums.rocket.chat/c/community-support

If it turns out over there, that there is an actual **bug** involved I'm happy to reopen the issue at hand.

Cheers
Thomas

[2018-04-13 09:27] #10429 closed

[2018-04-13 10:17] dcb1 commented on #9735
hi, I have the same problem.
my rc server version is 0.63, and my android app's version is 1.1.0.
I use https, and the cert is from Letsencrypt.
Anyone can help?
thx!

[2018-04-13 10:32] #9638 closed

[2018-04-13 11:08] hussainnayani commented on #8251
Any update on this issue? I am also having this issue.

[2018-04-13 12:30] Rohlik commented on #9943
Probably duplicated with #9829

[2018-04-13 12:42] bizzbyster commented on #6786
@slyk will sound out a simple spec soon for your (and others) comments. Question: which clients do you need? Getting support for all three might take time but we can certainly add the issues and bounty the ones we need.

[2018-04-13 13:35] xvonabur opened #10443 "Move unread messages above livechat list"
### Description:

Hello!

I'm using Rocket.Chat as livechat server. Unread messages list is very handy, but unfortunately it is below live messages list:

![screen shot 2018-04-13 at 16 22 30](https://user-images.githubusercontent.com/616857/38737414-c6dcda12-3f37-11e8-9c27-85b771dbc5d8.png)

I would like to see it above like with incoming livechats:

![screen shot 2018-04-13 at 16 22 13](https://

[2018-04-13 13:41] kaiiiiiiiii commented on #10443
Duplicate of #10022 I think :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-13 13:45] xvonabur commented on #10022
Same problem with unread messages below livechats.

[2018-04-13 14:40] Hudell commented on #10416
Can you share your webhook configuration? That info-string should not show up on direct messages.

[2018-04-13 15:38] graywolf336 commented on #6786
Some discussion has happened on our forums related to this: https://forums.rocket.chat/t/supporting-fb-messenger-style-rich-chatbot-messages-menus/528

[2018-04-13 16:29] sampaiodiego commented on #8008
Provavelmente corrigido quando migramos os usuários do livechat. Vou fechar a issue, caso ainda esteja ocorrendo com a versão atualizada, por favor, me avise que abro a issue novamente. Obrigado

-----

Probably fixed when we move livechat visitors away from regular user. Closing for now

[2018-04-13 16:29] #8008 closed

[2018-04-13 16:40] theorenck commented on #10443
Thanks @xvonabur for reporting the issue. @renatobecker as @kaiiiiiiiii mentioned this issues are close related, but how close they are? Can you confirm this as duplicate?

[2018-04-13 18:12] gdelavald commented on #9498
From the issue @tzar posted above:

I think the current way is less harmful than showing an emoji when I try to write, e.g.`C://` or `http://`.

[2018-04-13 18:54] MarcosSpessatto opened #10449 "[BUG] REST /channels.files endpoint returns inconsistent data"
The endpoint `/channels.files` return inconsistent data. It returns some different data from web, sometimes more files than the web does for the same channel. These "extra" files usually come with missing information, such as `userId`.

[2018-04-13 20:06] guillaumegarcia13 commented on #2243
Hi,

**OS** : Windows 10
**Client** : Chrome 65.0.3325.181, Chrome Androïd (One Plus 3T), Win10 App
**Storage** : GridFS

Got it regularly (on a weekly-basis)
![image](https://user-images.githubusercontent.com/2786038/38755319-9de163b6-3f65-11e8-93b2-454e479eb3e9.png)
When it occurs, it affects all of my clients (desktop, Windows 10 app, mobile).

In my case, seems to only occur to the uploader of

[2018-04-13 20:26] izodzim commented on #8322
Would like this as well, and would like to contribute monetarily if need be

[2018-04-13 20:27] izodzim commented on #7150
Would like this as well, and would like to contribute monetarily if need be

[2018-04-13 20:32] izodzim opened #10450 "REQUEST : Incoming SMS Routing to Different Location"
We have a general company phone number that's SMS enabled, as well as direct-dial numbers for agents.  I would like to be able to direct SMS to/from the direct dial numbers just to that agent.

[2018-04-13 21:49] TwizzyDizzy commented on #10450
@rocket-cat close

Hi @izodzim

Let me kibdly redirect you to the [feature requests category](https://forums.rocket.chat/c/feature-requests) in the forums, as we reserve Github for bugs only :)

Cheers
Thomas

[2018-04-13 21:49] #10450 closed

[2018-04-14 02:42] snowyu commented on #9999
This is a good UX, but down the security.

Ok, I think It should has a user security setting in preference: whether store the private key(encrypted) on the server. let the user choose more security or more convenient.

The user could store the private key into the `localStorage` to make the browse happy.

[2018-04-14 04:25] mkarimu commented on #6365
Greetings all. Am new to programing and I have installed  Rocket Chat on my linux box. Everything seem to work well  however every time I sign up a new user account, they can view other account. Same xase with the android app. I would like each account to be seperate and not able to switch accounts.

Any app with such features

[2018-04-14 08:13] uglimugli commented on #4898
Not sure if this belongs to this topic but, office hours for us shows up twice

![office hours](https://user-images.githubusercontent.com/15074905/38766036-b5913ada-3fd4-11e8-8d52-289cec837604.png)
Snap install.

[2018-04-14 12:05] ivangerasimov39 opened #10452 "Failed update v0.63.1"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: CentOS 7
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version: 8.11.1
* mongoDB Version: 2.6.12

### Steps to Reproduce:

1.  download archive
2.  extract files
3.  go to <install_folders>/programs/server
4.  run npm install

###

[2018-04-14 12:11] HackyPenguin commented on #2355
We currently have the same issue in requiring a cleanup I ended up writing a python based script very similar in logic to the php script above however as we have to delete literally millions of messages and each of those requiring a seperate api call which took around a second to complete with the python request library this was impractical. and seemed to cause a massive load over an extended peri

[2018-04-14 13:16] TwizzyDizzy commented on #10452
Hi @ivangerasimov39

would you do me the favour of verifying this against #9368 to make sure this is, in fact, no duplicate issue? :)

Cheers
Thomas

[2018-04-14 13:33] ChameleonScales commented on #10253
this issue is also discussed in #956, although it deserves its own thread (here).

[2018-04-14 14:40] albjeremias commented on #878
Is there a simple tutorial on how-to do this? or do I really have to go to this channel and ask? :)) thanks

[2018-04-14 15:40] HackyPenguin commented on #2355
In case anyone else also needs this here is a script which can delete both public and private rooms using the api. https://github.com/HackyPenguin/rocketchat_cleanup/tree/master

[2018-04-14 16:33] echohes opened #10453 "Incorrect display Accounts_CustomFields from register form"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:  0.63.1
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version: v8.11.1
* mongoDB Version: v3.6.3

Hello! problem with Accounts_CustomFields of user registration. Rocket.Chat version 0.63.1 from Docker.
 Settings CustomFie

[2018-04-14 17:11] mwlang commented on #3582
+1

[2018-04-14 22:46] mgifford commented on #10379
It's a journey, not a destination. There are always ways of making things more usable & accessible.  This one is just low-hanging-fruit. Should be fairly straight forward.

[2018-04-15 03:38] benyanke commented on #520
Not sure the status of this, but I'm willing to do whatever's needed to test on my docker cluster at home.

[2018-04-15 04:29] karlprieb commented on #9894
@savikko I can't reproduce this behavior, so I'll close this issue.

[2018-04-15 04:29] #9894 closed

[2018-04-15 10:42] zzzkeil commented on #3661
+1

[2018-04-15 10:42] zzzkeil commented on #6622
+1

[2018-04-15 11:40] kvaps commented on #3582
Please don't noise by leaving `+1` comments, use github reactions instead :+1:

[2018-04-15 15:34] ariekogan commented on #2355
Same requirement here ...
We need a channel / room that we can set an expiration period for the messages in this channel/room.

[2018-04-15 16:49] mwlang commented on #3582
hmmm...thats a new feature to me.  +1 on an issue subscribes me to the issue and I can begin tracking, perhaps even contributing a PR if I figure out how to do it.  Does the thumbs up feature auto-subcribe one to the updates on the issues?

[2018-04-15 18:00] graywolf336 commented on #3582
@mwlang it doesn't auto subscribe to this issue, however using the reactions plus hitting the subscribe button works just as good and doesn't send notifications to everyone - as we do pay attention to the activity and if someone comments something other than `+1`, it could be useful. :)

[2018-04-15 19:29] droberin opened #10455 "2FA Not showing backup codes due to translation"
### Description:

Can't get 2FA backup codes due to language translation but you get a translated variable/placeholder_to_be_replaced that shoudn't be replaced instead.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: Ubuntu (probably trivial)
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node V

[2018-04-15 23:31] si458 commented on #10255
has this issue been fixed at all without using an old version of node?
the latest stable node is now 8.11.1 and its still generating this core dump error

[2018-04-15 23:31] si458 commented on #10060
has this issue been fixed at all without using an old version of node?
the latest stable node is now 8.11.1 and its still generating this core dump error

[2018-04-16 00:25] jamescgalindo commented on #6791
You'll need to use another browser. I used Safari and it worked! I was able to set all of my .ico files. Crazy.

[2018-04-16 00:27] rudygodoy commented on #6791
@jamescgalindo I've tested in Safari, Firefox and with the Desktop client. Problem persist.

[2018-04-16 00:32] jamescgalindo commented on #6791
Weird....I'm using Safari Version 11.1 (13605.1.33.1.2)
![screen shot 2018-04-15 at 5 31 49 pm](https://user-images.githubusercontent.com/8353776/38785289-ebf16e0c-40d2-11e8-8d86-187d7a254775.png)

[2018-04-16 00:33] jamescgalindo commented on #6791
I jumped back over to Chrome and all was good.

[2018-04-16 01:33] Cambridgeport90 commented on #10379
Please. Keep me updated. I love your enthusiasm. If I knew electron, I’d lend a hand directly.

From: Mike Gifford <notifications@github.com>
Sent: 14 April 2018 18:47
To: RocketChat/Rocket.Chat <Rocket.Chat@noreply.github.com>
Cc: Katherine M. Moss <KMoss@winterhillsolutions.com>; Mention <mention@noreply.github.com>
Subject: Re: [RocketChat/Rocket.Chat] There shouldn't be empty buttons on the we

[2018-04-16 01:41] timkinnane opened #10456 "Address notifications logic and UX inconsistencies"
There are some issues with the way notifications are handled in Rocket.Chat that cause confusion for both developers and users.

Below I’ve outlined each concern, but I’d like comment and direction from @RocketChat/core team, to find a comprehensive solution and give clarity to these features moving forward.

Thanks to @graywolf336 for writing up the first section on Rocket.Cat…

## Who or What Is

[2018-04-16 01:45] timkinnane commented on #4103
I think the specific instances of this issue are resolved. I've opened #10456 for the more general discussion.

[2018-04-16 01:45] #4103 closed

[2018-04-16 01:45] #4016 closed

[2018-04-16 01:46] timkinnane commented on #4016
Discuss further on #10456

[2018-04-16 01:52] timkinnane commented on #6786
@slyk I actually built that dirty replacement. I don't have time to work on this right now, but I can chat with anyone who wants to follow up that piece and provide a stop-gap solution.

[2018-04-16 02:16] timkinnane commented on #6786
Following is a draft spec in a format consistent with other bot issues for the bots project roadmap...

## What is this?

Create UI components and develop the handling of message payloads to support new interactions for bots, like buttons, cards, images and more.

## How will it help?

This opens the door for enhanced user experience and interaction flows in automated messaging, letting bots provi

[2018-04-16 03:05] timkinnane commented on #9937
The recent release of our Node.js SDK with a platform agnostic driver for building bots on Rocket.Chat should unlock potential for this issue. We're hoping to make progress from upcoming Google Summer of Code projects but also encourage any interested community members to check out the SDK and start building for their preferred platform.

[Get the SDK](https://github.com/RocketChat/Rocket.Chat.js.

[2018-04-16 03:05] timkinnane commented on #5772
The recent release of our Node.js SDK with a platform agnostic driver for building bots on Rocket.Chat should unlock potential for this issue. We're hoping to make progress from upcoming Google Summer of Code projects but also encourage any interested community members to check out the SDK and start building for their preferred platform.

[Get the SDK](https://github.com/RocketChat/Rocket.Chat.js.

[2018-04-16 03:07] timkinnane opened #10457 "Bot platform adapter for Rasa"
The recent release of our Node.js SDK with a platform agnostic driver for building bots on Rocket.Chat should unlock potential for this issue. We're hoping to make progress from upcoming Google Summer of Code projects but also encourage any interested community members to check out the SDK and start building for their preferred platform.

[Get the SDK](https://github.com/RocketChat/Rocket.Chat.js.

[2018-04-16 03:24] timkinnane opened #10458 "Rocket.Chat Apps boilerplate Bot to replace Internal Hubot"
## What is this?

Rocket.Chat Apps can provide a starting point for bespoke chat ops / messaging automation, to replace the current Internal Hubot.

Note the distinction between _internal_ and _external_ bots:

- External hosted bots use a platform or framework adapter to login and operate a user account. They are suited to messaging-heavy interactions and/or where maintenance or processes are ind

[2018-04-16 03:25] #6640 closed

[2018-04-16 03:34] timkinnane commented on #8025
As @JSzaszvari hinted, we have plans to replace the way most people use the internal Hubot with the Rocket.Chat apps model. See linked discussion #10458.

This won't be immediate, but we'd like to take any further discussion on requirements of "internal" bots over there. The other immediately viable option is to run an _external_ Hubot instance. We've just updated our adapter for Hubot v3 and the

[2018-04-16 03:34] #8025 closed

[2018-04-16 03:35] geekgonecrazy commented on #520
See referenced issue on docs repo right above as well as our documentation.  Read through various docker installs and you'll get a variaty of ways to do your setup

[2018-04-16 03:36] timkinnane commented on #10275
Please see the [last comment on this related issue](https://github.com/RocketChat/Rocket.Chat/issues/8025#issuecomment-381470969).

[2018-04-16 03:36] #10275 closed

[2018-04-16 03:38] timkinnane commented on #10267
Please see the [last comment on this related issue](https://github.com/RocketChat/Rocket.Chat/issues/8025#issuecomment-381470969).

[2018-04-16 03:38] #10267 closed

[2018-04-16 03:39] timkinnane commented on #10097
Please see the [last comment on this related issue](https://github.com/RocketChat/Rocket.Chat/issues/8025#issuecomment-381470969).

[2018-04-16 03:39] #10097 closed

[2018-04-16 03:40] timkinnane commented on #9661
Please see the [last comment on this related issue](https://github.com/RocketChat/Rocket.Chat/issues/8025#issuecomment-381470969).

Also maybe worth adding to the discussion on #10174

[2018-04-16 03:40] #9661 closed

[2018-04-16 03:40] timkinnane commented on #9606
Please see the [last comment on this related issue](https://github.com/RocketChat/Rocket.Chat/issues/8025#issuecomment-381470969).

[2018-04-16 03:40] #9606 closed

[2018-04-16 03:43] timkinnane commented on #8067
@TheBelgarion if you're still interested in this, please comment on #10174 to give a suggestion, or discuss in the forum under [Feature Requests](https://forums.rocket.chat/c/feature-requests).

This issue is not with a current feature or within the current roadmap, so we'll close it for now. Thanks.

[2018-04-16 03:43] #8067 closed

[2018-04-16 03:44] timkinnane commented on #7713
Please see the [last comment on this related issue](https://github.com/RocketChat/Rocket.Chat/issues/8025#issuecomment-381470969).

[2018-04-16 03:44] #7713 closed

[2018-04-16 03:46] timkinnane commented on #7116
I think the points raised against this concept are more valid than any rationale presented in favour of it.
We'll close this now but you can discuss it in the forum under [Feature Requests](https://forums.rocket.chat/c/feature-requests).

[2018-04-16 03:46] #7116 closed

[2018-04-16 03:47] timkinnane commented on #6030
Closing then. Please see the [last comment on this related issue](https://github.com/RocketChat/Rocket.Chat/issues/8025#issuecomment-381470969).

[2018-04-16 03:47] #6030 closed

[2018-04-16 03:50] timkinnane commented on #5732
Closing this as it's handled (depending on particular needs) by either #6583, #1086, or #6890.

[2018-04-16 03:50] #5732 closed

[2018-04-16 03:51] #5495 closed

[2018-04-16 03:53] timkinnane commented on #3498
This issue is very old and recent comments are off topic to the original concern. Closing now, but if you're interested in further discussion, please post to the forum under [Feature Requests](https://forums.rocket.chat/c/feature-requests).

[2018-04-16 03:53] #3498 closed

[2018-04-16 03:55] timkinnane commented on #2531
Closing now as this discussion predates the bots project which has now identified targeted framework adapters for
- #9937 Botkit
- #10457 Rasa
- #5772 Botpress

[2018-04-16 03:55] #2531 closed

[2018-04-16 03:57] timkinnane commented on #2485
Closing this now as the search features and UI have much improved since the issue was created.

[2018-04-16 03:57] #2485 closed

[2018-04-16 04:01] timkinnane commented on #7125
Drafting a spec for this feature on the bots roadmap (below).

## What is this?

A new admin view for creating bot users, allowing simpler provisioning. Would also list existing bot users, with some indication of their status. Could possibly add the ability to shutdown/restart bots and in future be more intelligently integrated with their platform / hosting.

## Why do it?

Bot user accounts withi

[2018-04-16 04:04] timkinnane opened #10459 "Improve rooms list with separation of bots"
## What is this?

The rooms menu should show separate listing of DMs between the user and any bot accounts - optionally enabled by an admin.

## Why do it?

From a user perspective, a bot conversation has different usage and cognitive separation. Just like private vs public, a bot is different to a user, in the way you use the room and share information. Bot DMs are not currently obvious and acces

[2018-04-16 04:07] dcb1 opened #10460 "Android app failed to connect to my private server"
### Description:

Cannot connect from Android app to the server, but from IOS everything works fine.

### Server Setup Information:

* Version of Rocket.Chat Server:  0.63.0
* Operating System: ubuntu16.04.4
* Deployment Method(snap/docker/tar/etc):manual
* Number of Running Instances: 6
* DB Replicaset Oplog: true
* Node Version: 8.9.4
* mongoDB Version: 3.4.5

### Actual behavior:
When I add my

[2018-04-16 04:43] kurji opened #10461 "Ampersand in URLs being incorrectly escaped as an HTML entity"
### Description:

When using Markdown-style links in Rocket Chat, the link generated escapes the ampersands as html entities incorrectly, meaning that clicking on the link will navigate the browser to a modified version of the link, not the actual link intended. The link preview seems correct, but the actual link is not.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Ope

[2018-04-16 05:12] trongthanh commented on #8692
Hi @arminfelder, I'm testing out your gateway server https://git.fairkom.net/chat/RocketChatMobilePushGateway but having blocking issues.

I'm receiving a stdout log from the executable `rocketChatMobilePushGateway` like this:
[code]

I'm compiling the push gateway from source and expose the port 11000 to 80 via Nginx reversed proxy. Unsure if my Nginx reversed proxy config is correct but Content-

[2018-04-16 06:04] Wirone commented on #8025
Too bad it wasn't clear before we chose Internal Hubot as implementation for our scripts, with custom alias (we have customized Rocket instance) and wrote our deploy playbooks and docs. It will require changes in several places (Rocket repo, docs, installers) and new actions (deploying and configuring custom Hubot) from us, simply because you thought it's not important to write 2-3 sentences in yo

[2018-04-16 06:11] himbeere commented on #10060
rumor has it, the fix will be in nodejs-8.11.2

[2018-04-16 06:17] timkinnane commented on #8025
@Wirone - your scripts should work with an external Hubot just as well, if not better.

The issue is not as simple as writing the docs. Implementation with the internal Hubot has always been fraught and I think the documentation was not forthcoming because there was never really a clear recommendation for a good solution. Now we are working on that solution and have provided lots of documentation

[2018-04-16 07:33] droberin commented on #10455
Update: also reported to translations contact address supplied into this project website. Issue probably fixed by now and will be available in next release).

P.S.: One of the automated tests could be to check all variables/replacements where still into translations.

[2018-04-16 07:33] maethor opened #10464 "Compact display mode doesn't work anymore"
### Description:

Compact display mode doesn't seem to work in chat anymore.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: Debian 9.4
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: ?
* Node Version: 8.9.4
* mongoDB Version: 3.2.11

### Steps to Reproduce:

1. In the top left, Display mode -> Conden

[2018-04-16 07:47] maethor commented on #10464
Closing. I finally find this issue as already been reported #10326

[2018-04-16 10:11] jblobel commented on #7100
@sampaiodiego _It is not a personnal preference when you use it in a corporate environment..._
Since Rocket.Chat is an app that you install on premise, most of the time, it is installed in a corporate environment.
So yeah, being able to disable it is mandatory !!!
So far we manage to hide it with CSS, but it's not okay since that option have no specific ID. When we hide it, we also hide some optio

[2018-04-16 10:23] OriginMayo opened #10465 "I am unable to activate new users."
### Description:

unable to activate new users

### Server Setup Information:

* Version of Rocket.Chat Server: latest
* Operating System: ubuntu 17.10
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: null
* Node Version: latest

### Steps to Reproduce:

1. user registers
2. admin verifies user
3. user is not activated

### Expected behavior:

[2018-04-16 10:46] timkinnane opened #10466 "Long loads and room history temporarily disappears"
### Description:

Having loading problems on open.rocket.chat for about the last 2 weeks. Getting much worse today.
Unusable for me right now, I had to go into incognito just to continue a chat.

The result of numerous logged errors is that it takes about 10 seconds to load a channel, then I can't see any messages. Previously I was able to reload a couple times and it would return to normal, but n

[2018-04-16 11:38] arminfelder commented on #8692
@trongthanh I just created a branch "debug", with some additional debug information.

For me it looks like there is no data attached at all, because, libcurl is setting the content-length automatically, please check your serverKey.txt file

[2018-04-16 11:49] ivangerasimov39 commented on #10452
#9368 - Yes
`npm -f i fibers@2.0.0` - this helped

[2018-04-16 11:52] TwizzyDizzy commented on #10452
@rocket-cat close

Thanks! :) Closing this then...

Cheers
Thomas

[2018-04-16 11:52] #10452 closed

[2018-04-16 11:54] panki27 opened #10467 "Apps can’t connect/login to subfolder RC instance"
### Description:
Because there’s already a website running on Apache with a valid Let’s Encrypt certificate, I opted to use the subdirectory installation. https://domain.com/chat/
 Everything is working fine in browser and Windows desktop client, but the native Android App fails to login with an error message stating "chat.rocket.android_ddp.DDPClientCallback$Closed". The iOS app does nothing when

[2018-04-16 12:02] SebastienGauthierSVI commented on #10340
Ubuntu 14.04.4 LTS, i still have the same errror with the version 0.63.1

[2018-04-16 12:05] SebastienGauthierSVI commented on #10340
I have this warning when i execute the npm install.
root@sandstorm:/Rocket.Chat/programs/server# npm install
npm WARN lifecycle meteor-dev-bundle@~install: cannot run in wd %s %s (wd=%s) meteor-dev-bundle@ node npm-rebuild.js /Rocket.Chat/programs/server
up to date in 1.432s

[2018-04-16 12:06] lakhandewnani opened #10468 "Rocket Chat Api"
Hi Team ,

I am new to Rocket Chat application . Our Requirement is to integrate Rocket Chat with our existing Ios/ Android app. For this purpose I want to use the existing Rocket Chat API's.

But the Nodejs code for Rocket Chat that I have downloaded from GitHub doesn't contains code for API's . Could you please suggest that where I could find this code or any other work arround for this solution

[2018-04-16 12:10] Hudell commented on #10465
I wonder if this may be related to #10149

[2018-04-16 12:15] OriginMayo commented on #10465
He appears to be using email for verification - i dont, but the end result seems to be very identical

[2018-04-16 13:04] OriginMayo commented on #10465
solved it!

[2018-04-16 13:04] #10465 closed

[2018-04-16 13:30] Hudell commented on #10465
What was the problem?

[2018-04-16 13:44] Wirone commented on #8025
@timkinnane but we currently use `RocketChat` or `Meteor` methods in our scripts (because of #10267 we had to implement custom method for determining private channel between bot and user). Will it work with external Hubot?

[2018-04-16 13:49] rafaelks commented on #9785
@rodrigok Sounds good. Waiting for the APIs and UI mocks. 👍

[2018-04-16 14:06] OriginMayo opened #10469 "cant make use of å ä ö (swedish characters) in channel names"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: latest at current time/date
* Operating System: ubuntu 17.10
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: latest att curent date
* Node Version: latest at current cdate
* mongoDB Version: latest at curent date

### Steps to Reproduce:

1. create channel
2. inp

[2018-04-16 14:07] ganesh-at-wiw commented on #2127
Hi, I'm also facing same problem. Through API, I can add/remove users to and from channels, but not to private groups.
Our rocket chat version is: 2.10.5.

[2018-04-16 14:28] #9890 closed

[2018-04-16 14:33] #10137 closed

[2018-04-16 14:35] #9927 closed

[2018-04-16 14:39] #10125 closed

[2018-04-16 14:41] #10039 closed

[2018-04-16 14:42] martinvonwittich opened #10470 "Rocket.Chat improperly parses a diff with Markdown code in it"
### Description:

To reproduce the issue, paste the following text in a Rocket.Chat message:

[code]

Normal Markdown parsers would display the result like this:

[code]

Rocket.Chat instead displays it like this:

[code]
+some markdown code
+
[code]

Apparently it interprets the ``` in the diff as Markdown, which it shouldn't.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.

[2018-04-16 14:44] #9892 closed

[2018-04-16 14:46] #10393 closed

[2018-04-16 14:54] #8624 closed

[2018-04-16 15:09] cybergrunge commented on #9968
Same with Firefox beta for iOS.

[2018-04-16 15:58] ci5ic commented on #8007
Yes we really need a way to turn off e-mail verification entirely!

#1. We do NOT want to send offline messages to our users' email!!!
#2. In the case of invitation by e-mail, they are already verifying the e-mail that they've provided to us so that we could send them an invitation!
#3. We require that new users be approved. When they receive the verification e-mail before the account is approved,

[2018-04-16 16:02] trongthanh commented on #8692
OK, I'll do another round of tests tomorrow. Thanks.

[2018-04-16 16:07] internalfx commented on #10172
No not realtime, even if the website visitor reloads, it still show that an agent is available.

[2018-04-16 16:12] iprok opened #10471 "add-user-to-any-p-room permission is not used anywhere"
Hello!

We have add-user-to-any-p-room in permission lists, we can turn it on for example for admins, but there is no option for admins to add user to any private room. So this permission seems to be completely useless.

[2018-04-16 16:24] frdmn commented on #10471
Actually this permission is in use by the APIs:

https://github.com/RocketChat/Rocket.Chat/pull/5809

[2018-04-16 16:38] iprok commented on #10471
So if we have option for admins to invite anybody anywhere it will be good to implement ability to use it somewhere in UI.

[2018-04-16 17:28] graywolf336 commented on #10464
Closing due to the above comment. :)

[2018-04-16 17:28] #10464 closed

[2018-04-16 18:26] TwizzyDizzy commented on #10468
@rocket-cat close

Please refer to: https://rocket.chat/docs/developer-guides/

In case that's not enough, consider asking in the forums please, as we reserver Github for bugs only: https://forums.rocket.chat/c/community-support

Cheers
Thomas

[2018-04-16 18:26] #10468 closed

[2018-04-16 18:32] TwizzyDizzy commented on #10469
@rocket-cat close

There is an admin option to enable the use of "Special Characters" in room names. Please have look in the admin settings section. For details, please see this thread: https://forums.rocket.chat/t/unable-to-use-capital-letters-in-rocket-chat/188

Cheers
Thomas

[2018-04-16 18:32] #10469 closed

[2018-04-16 18:34] TwizzyDizzy commented on #9467
@rocket-cat close

[2018-04-16 18:34] #9467 closed

[2018-04-16 18:36] TwizzyDizzy commented on #10461
@rocket-cat close

Closing this, since - if I'm not mistaken - this is a duplicate of #6719.

Cheers
Thomas

[2018-04-16 18:36] #10461 closed

[2018-04-16 18:48] karlprieb commented on #9214
@engelgabriel ok

[2018-04-16 19:33] Andyyyyy94 commented on #10467
Experiencing exact same issue with ~same server setup. plz help
Many thanks and props for this masterpiece of software!

[2018-04-16 19:44] divergefx commented on #8578
I am having this issue with latest version 0.63.1

[2018-04-16 19:45] kaiiiiiiiii commented on #10233
The total message count is different because the calculation of the values is based on two different tables. The best thing would be to sum up the four already calculated values to get the exact total message count. However, I am not sure if the message count stored in the room object is always up to date.

https://github.com/RocketChat/Rocket.Chat/blob/c978136fd4a64e100e764c30714688e4e3fea90a/pac

[2018-04-16 22:01] TwizzyDizzy commented on #6761
@rocket-cat close

Going to close this. Disabling copy & paste via JS has always been a bad idea in the web. Disabling the spamming user would be the right course of actions.

Cheers
Thomas

[2018-04-16 22:01] #6761 closed

[2018-04-16 22:03] TwizzyDizzy commented on #6742
@TheReal1604 can you still reproduce this on current stable?

Cheers
Thomas

[2018-04-16 22:15] TwizzyDizzy commented on #10279
@rocket-cat label add "type: bug"

[2018-04-16 22:24] TwizzyDizzy commented on #6729
@rocket-cat close

Hi @Nemra1

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing.

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitation of time. If it should turn o

[2018-04-16 22:25] #6729 closed

[2018-04-16 22:27] TwizzyDizzy commented on #6657
@rocket-cat close

Closing this in favour of #1838.

Cheers
Thomas

[2018-04-16 22:27] #6657 closed

[2018-04-16 22:27] WebSavvyGuy commented on #6761
@TwizzyDizzy

That would be the right course of action except theres no real ban or kick feature.  Users can come right back in.  One of the biggest problems of this application of the inability to get rid of problem users

[2018-04-16 22:31] TwizzyDizzy commented on #6639
@rocket-cat close

[2018-04-16 22:31] #6639 closed

[2018-04-16 22:31] TwizzyDizzy commented on #6639
@rocket-cat close

[2018-04-16 22:34] TwizzyDizzy commented on #6628
@rocket-cat close

Closing this, as there's not enough information to act on. Since this is rather old, please try with latest stable and open a new issue, if that's still a problem (and maybe reference the issue at hand).

Cheers
Thomas

[2018-04-16 22:34] #6628 closed

[2018-04-16 22:35] TwizzyDizzy commented on #6607
Is this still present in latest stable?

Cheers
Thomas

[2018-04-16 22:38] TwizzyDizzy commented on #6566
@rocket-cat close

Closing this due to the lack of activity. Please open a new issue (and reference the one at hand) if this is still an issue on latest stable.

Cheers
Thomas

[2018-04-16 22:38] #6566 closed

[2018-04-16 22:41] TwizzyDizzy commented on #6512
@rocket-cat close

Closing this. Please try to reproduce on latest stable and give some information on why you think this is a structural Rocket.Chat problem and not something only on your deployment or your hardware.

Cheers
Thomas

[2018-04-16 22:41] #6512 closed

[2018-04-16 22:45] TwizzyDizzy commented on #6761
I see and I feel your pain. Yet building the feature you requested here just to work around another missing feature (if that's the case, I'm not quite sure there) is also no viable option.

I think I have seen some other issues / requests around that had the topic of kicking/banning.

Cheers
Thomas

[2018-04-16 22:51] TwizzyDizzy commented on #6288
@rocket-cat close

[2018-04-16 22:51] #6288 closed

[2018-04-16 22:56] TwizzyDizzy commented on #6203
@rocket-cat close

Closing this in favour of: #1838.

Cheers
Thomas

[2018-04-16 22:56] #6203 closed

[2018-04-16 22:58] TwizzyDizzy commented on #6177
@rocket-cat close

Windows is no supported platforms, you may try in the forums though: https://forums.rocket.chat/c/community-support

Cheers
Thomas

[2018-04-16 22:58] #6177 closed

[2018-04-16 23:02] WebSavvyGuy commented on #6761
@TwizzyDizzy

Yes you are right alot of features requested months/years ago and still no action.  One of the reasons we’ve looked elsewhere for our chat solutions.

This app is more for small office environments not large scale public websites.

[2018-04-16 23:05] TwizzyDizzy commented on #6115
So Franz seems to now require an account on their site, if I'm seeing this correctly. Also they have some betas of their new clients... could somebody test this?

Cheers
Thomas

[2018-04-16 23:07] TwizzyDizzy commented on #6074
@rocket-cat close

As far as I can see, this is not the case anymore. Please correct me, if I'm missing something.

Cheers
Thomas

[2018-04-16 23:07] #6074 closed

[2018-04-16 23:09] TwizzyDizzy commented on #6052
@rocket-cat close

Cannot reproduce on current stable. Can you? If so, please get back to me!

Cheers
Thomas

[2018-04-16 23:09] #6052 closed

[2018-04-16 23:10] TwizzyDizzy commented on #6010
@rocket-cat label add "Feature: Request"

[2018-04-16 23:11] TwizzyDizzy commented on #5947
@rocket-cat label add "Feature: Request"

[2018-04-16 23:17] TwizzyDizzy commented on #8479
@rocket-cat close

Very likely a duplicate of #5838.

Cheers
Thomas

[2018-04-16 23:17] #8479 closed

[2018-04-16 23:33] #2115 closed

[2018-04-16 23:51] OriginMayo commented on #10469
"%s är inte ett giltigt rumsnamn"

so it does not work

@rocket-cat open

[2018-04-16 23:54] OriginMayo opened #10474 "cant use special characters"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: ubuntu 1710
* Deployment Method(snap/docker/tar/etc): snao
* Number of Running Instances: 1
* DB Replicaset Oplog: idk
* Node Version: latest
* mongoDB Version: latest

### Steps to Reproduce:

1. enable special characters in layout
2. edit name to "Hjälp"
3. save

### Expected behavior:

i

[2018-04-17 00:13] jhonatanmorais commented on #6535
I still have this problem. I've just updated to **0.63.1**.

`Meteor ➔ method createDirectMessage -> userId: MSZDNCva67DFWRm7h , arguments:  { '0': 'jean' }
Exception while invoking method 'createDirectMessage' MongoError: E11000 duplicate key error index: rocketchat.rocketchat_subscription.$u._id_1_name_1_t_1_code_1 dup key: { : "MSZDNCva67DFWRm7h", : "jean", : "d", : null }
    at Function.Mongo

[2018-04-17 01:27] shionphan commented on #8624
@rodrigok  Good news, I will hava a test.

[2018-04-17 04:11] trongthanh commented on #8692
Hi @arminfelder,

Here's the dump of the log from the new debug build:

[code]

BTW, I was a bit confused about the content of the serverKey.txt. I just placed the content of GCM API Key in there, is it correct?

[2018-04-17 06:56] ganesh-at-wiw commented on #2127
I confirm now that the problem is resolved and that, that I can add/remove members to/from private groups via api.

[2018-04-17 07:14] andytipp commented on #10416
Yes! Here you go. Let me know if that information is sufficient

`{
	"_id": "N8wF8zrqFDdzPnC9m",
	"event": "sendMessage",
	"enabled": true,
	"username": "rocket.cat",
	"channel": [
		"all_direct_messages"
	],
	"name": "Integration Name",
	"triggerWords": [],
	"urls": [
		"https://URL/hooks/TO-DO"
	],
	"token": "E7JbjXnrWyHANbcAs3bKAcuZ",
	"script": "class Script {\n\tprepare_outgoing_request({\n\t

[2018-04-17 07:58] BeneStem commented on #6115
It does work with the beta. My fix on their side also made custom Rocket.Chat clients possible.

[2018-04-17 09:33] yandzee opened #10477 "customFields is not saved by POST /api/v1/users.create"
### Description:

Im not sure I fully understand what is going on there but I think the behavior Im discovering is a bug. I tried to make a request for `/api/v1/users.create` with `customFields` in body
and didnt see my fields in user entry after that. I discovered that no saving of `customFields` is performed if `Accounts_CustomFields` is empty in `RocketChat.settings`. By default its empty. Is t

[2018-04-17 09:48] apfelbox commented on #3321
Still an issue on macOS, the CPU peaks to 100% with animated GIFs. I guess that removing GIF support is not a good solution, but what's the status on fixing this issue?

Please note, that opening the same room in Chrome doesn't have this issue.

[2018-04-17 09:55] yandzee commented on #10477
**upd**
Got it, that field can be set set from admin settings. But what if i want to store some private data about user?

[2018-04-17 09:57] keichinger commented on #3321
We're currently in the process of converting from Slack over to Rocket.Chat and while the import is still running I've downloaded the native app form the macOS App Store to test out a few things.

I was trying to get used to the new shortcuts (no more Cmd+T to quick-open, instead it's Cmd+K) I left open our previous `#general` channel where we've posted three gif links the other day. I've noticed

[2018-04-17 10:28] timkinnane commented on #9937
I think you're close @bizzbyster but it's a bit easier than that.
You can take the [hubot adapter](https://github.com/RocketChat/hubot-rocketchat/blob/develop/index.js) (develop branch) as an example implementation of the SDK.
Hubot also requires messages be in a different format, but that's handled by using the message params that come from Rocket.Chat in the constructor for Hubot's own message c

[2018-04-17 10:33] timkinnane commented on #8025
Yes, the Hubot adapter can [call methods](https://github.com/RocketChat/hubot-rocketchat/blob/develop/index.js#L192-L194) <-- See develop branch, for Hubot v3 compatibility, it's even async! The [Hubot v2 adapter](https://github.com/RocketChat/hubot-rocketchat/blob/master/src/rocketchat.coffee#L251-L252) also had that method but it wasn't async.

[2018-04-17 10:59] TwizzyDizzy commented on #6115
@rocket-cat close

That's good to hear. So it seems that I can, effictively, close this issue.

Cheers
Thomas

[2018-04-17 10:59] #6115 closed

[2018-04-17 11:02] TwizzyDizzy commented on #7295
Seems so: #6115

@loswochos

Is there any specific reason why you think this is an error on the Rocket.Chat side of things? Otherwise I would suggest to open this issue over at their repo.

Cheers
Thomas

[2018-04-17 11:09] TwizzyDizzy commented on #10474
@OriginMayo I'm sorry, but I can't reproduce your issue on Rocket.Chat 0.63.2 by doing exactly what you wrote. So either you're missing something or you're not running on the latest stable release (please add the information above).

Cheers
Thomas

[2018-04-17 11:15] TwizzyDizzy commented on #7240
@rocket-cat close

Closing this in favour of #8989.

Cheers
Thomas

[2018-04-17 11:15] #7240 closed

[2018-04-17 11:27] TwizzyDizzy commented on #9340
@rocket-cat close

I don't think that this is going to be implemented (@geekgonecrazy if you think otherwise, please reopen).

Cheers
Thomas

[2018-04-17 11:27] #9340 closed

[2018-04-17 11:28] TwizzyDizzy commented on #9340
@rocket-cat label add "Feature: Request"

[2018-04-17 11:34] Wirone commented on #8025
@timkinnane I did not mean "methods" registered with Meteor API, but calls like `Meteor.users.findOne()` or `RocketChat.getRoomByNameOrIdWithOptionToJoin()`. But ok, I'll look at it, probably we will have to adapt our bot (or maintain custom RocketChat even more customized that it's now).

[2018-04-17 11:47] TwizzyDizzy commented on #3338
@rocket-cat close

I'm going to close this. See [here](https://github.com/RocketChat/Rocket.Chat/issues/10213#issuecomment-376720669) for my reasoning.

If one decides to tackle this, one should go about it in a way that totally decouples the boot time of the server from the amount of content/channels/whatever is on the server.

Cheers
Thomas

[2018-04-17 11:48] #3338 closed

[2018-04-17 11:55] timkinnane commented on #8025
There is a `bot-helpers` package that exposes user query methods specifically for bots, also adding admin settings to control the fields the bots have access too. It's in core now, but my original external repo has the [docs for calling those methods](https://github.com/timkinnane/rocketchat-bot-helpers). Those will be refactored as more obvious and documented features of the new SDK and Hubot ada

[2018-04-17 12:00] TwizzyDizzy commented on #2787
@rocket-cat label add "Feature: Request"

[2018-04-17 12:06] danchr opened #10478 "Text format for messages mostly undocumented?"
### Description:

Rocket Chat supports all sorts of nice formatting for messages. I wanted to tell some colleagues about this, and expected the RC docs to explain this.

### Steps to Reproduce:

1. Go to the [message docs](https://rocket.chat/docs/user-guides/messaging/).
2. Look for help on formatting.
3. Do a web search for “Rocket Chat message formatting”.

### Expected behavior:

I'd expect th

[2018-04-17 12:10] assadvirgo commented on #3897
@svrooij do we have any implicit flow implementation for the openid connect. Currently the whole oauth setup in Rocket.Chat expect a code in the query string while with implicit flow it returns token in the url hash. You can further read about implicit flow on the link http://openid.net/specs/openid-connect-implicit-1_0.html#ImplicitFlow

[2018-04-17 12:13] TwizzyDizzy commented on #533
@rocket-cat label add "Feature: Request"

[2018-04-17 12:14] TwizzyDizzy commented on #2372
@rocket-cat label add "Feature: Request"

[2018-04-17 12:17] TwizzyDizzy commented on #2071
@rocket-cat label add "Feature: Request"

[2018-04-17 12:35] TwizzyDizzy commented on #5281
@rocket-cat label add "Feature: Request"

[2018-04-17 12:46] Unispezi opened #10479 "Channel search box ignores any text right of cursor"
### Description:

When searching for channels using the search feature (^+K), any text to the right of the cursor seems to be ignored.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.2
* Version of Rocket Chat Client: Rocket.Chat+Version 2.10.5, seen in native client as well as in the web client running in Chrome 65.0.3325.181 (Official) (64-Bit)
* Operating System (client):

[2018-04-17 13:01] megamaced commented on #10436
+1 this issue

We deployed two Docker instances through Kubernetes and had the same problem until we went back to one instance

[2018-04-17 14:32] inksis commented on #10146
Issue fix with 0.63.2 update

[2018-04-17 14:32] #10146 closed

[2018-04-17 14:32] cardoso opened #10481 "[BUG] /api/v1/me returns only preferences that are not default"
It doesn't make sense for us to hardcode the default settings in our client.

We should receive all preferences, not only the ones that changed.

Issue in the docs for reference:
https://github.com/RocketChat/docs/issues/695

[2018-04-17 14:34] graywolf336 commented on #10146
Thanks for reporting back that it works now @inksis

[2018-04-17 17:37] #9926 closed

[2018-04-17 17:40] #10068 closed

[2018-04-17 17:42] #10317 closed

[2018-04-17 17:44] #10115 closed

[2018-04-17 17:49] #10326 closed

[2018-04-17 17:52] #9865 closed

[2018-04-17 17:57] #10077 closed

[2018-04-17 17:59] #6366 closed

[2018-04-17 18:07] Hudell commented on #10416
The object you pasted on the original message is from that console.log line?

    { _id: 'TAQvbQBejX3HDEcKQzyaX5AbGaA9bH7APu', _updatedAt: 2018 - 04 - 11T08: 44: 35.812Z,
    t: 'd', msgs: 16, ts: 2018 - 04 - 11T08: 17: 22.471Z, username: 'assistify.admin', lm: 2018 - 04 -
    11T08: 44: 35.805Z, usernames: ['this_will_be_filled_in_with_usernames_when_replayed'] }

It doesn't share the same struct

[2018-04-17 18:25] MarcosSpessatto commented on #8625
@himpich, @Fab1en, I'm closing this issue, because I believe this problem is solved. Please, if you can test with the newer version of rocket.chat. And if the problem persists, feel free to open new issue.

[2018-04-17 18:25] #8625 closed

[2018-04-17 18:37] OriginMayo commented on #10474
im using 0.63.1

[2018-04-17 18:44] MarcosSpessatto commented on #8769
@janrudolph, I have tested here with all the cases you have told and they are working properly. The only thing I found and maybe could be an error is the backslash you reported, if it is not escaped. Just to make sure, are you escaping the backslash on password?

[2018-04-17 18:50] #9848 closed

[2018-04-17 18:57] bizzbyster commented on #6786
@timkinnane I agree with the approach you outlined in the forum link.

Our approach is to do the following:

1) Survey of rich message types across popular chat platforms so we get a sense of what is implemented and how those things overlap. Also we want to put a name next to each category of thing -- quick replies versus attachments with buttons, etc. -- with screenshots before we specify what we

[2018-04-17 19:03] #9873 closed

[2018-04-17 19:11] #10343 closed

[2018-04-17 19:14] #10315 closed

[2018-04-17 19:15] joogser commented on #10340
I guess to resolve this issue, go
`cd /opt/Rocket.Chat/programs/server/npm/node_modules npm rebuild sharp`

and run
`npm rebuild sharp`

I had similar problems with installation. After rebuilded npm packege, installation has gone fine.

[2018-04-17 19:57] Hudell commented on #2872
This is an old issue that seems to have been fixed already. I'll be closing it for now, but if anybody runs into this problem again, you're free to open an issue again.

[2018-04-17 20:00] Hudell commented on #5321
This issue has been open for a long time. Are those problems still happening for anybody?

[2018-04-17 20:26] a-bern commented on #9865
Hi @rodrigok
Could you please explain why you closed this issue? The main problem is still not fixed.
Users with "manage-integrations" for example permissions are still not able to see the admin menu.

Should we open a separate issue for each permission that requires the admin menu?

Thanks

Alex

[2018-04-17 20:38] xbolshe opened #10483 "Cannot read property 'width' of null - rocketchat_file-upload.js"
RocketChat stops a database initial data creation with an exception like:

15:46:53 Exception in callback of async function: TypeError: Cannot read property 'width' of null
15:46:53     at s.metadata.Meteor.bindEnvironment (/some/path/bundle/programs/server/packages/rocketchat_file-upload.js:351:70)
15:46:53     at runWithEnvironment (packages/meteor.js:1238:24)

### Server Setup Information:

* V

[2018-04-17 20:39] moonwolf-github commented on #7791
@MarPiRK have you tested this approach? I'm trying to use Nextcloud as Oauth2 provider for rocket.chat and as for now i didn't succeded...

[2018-04-17 20:51] rafaelks opened #10484 "[BUG] Cannot read property 'includes' of undefined"
Refer to this issue: https://github.com/RocketChat/Rocket.Chat.Android/issues/1023.

Discussion internal points to the error in our dev channel.

[2018-04-17 20:54] graywolf336 commented on #10484
The commit https://github.com/RocketChat/Rocket.Chat/commit/4834deff0da02e9f34fe647b38cc9a2571894a39 added an option to the `findChannelByIdOrName` function which removes the `usernames` from the returned result unless explicitly stated to return it. However, when this was added it did not explicitly state to do so in the `channel.messages` endpoint and checks if a person has access to a channel o

[2018-04-18 00:26] arminfelder commented on #8692
@trongthanh I have fixed the issue, it was related to your newline char at the end of the google key, which did destroy the http header, I added a line to remove all \n from the key after reading it into memory.

the key you need is the one called "Server key":
https://console.firebase.google.com/project -> your app -> Project Settings -> Cloud Messaging -> Server key

I think the GCM key should a

[2018-04-18 02:05] timkinnane commented on #6786
That is an amazing plan @bizzbyster! Thanks for your proactive approach to this.

[2018-04-18 02:11] geekgonecrazy commented on #10481
I think what ever the current value is, default or otherwise... we probably should send.  For the sake of the clients especially in case of: @rocketchat/ios @rocketchat/android

I think the amount of bytes saved here aren't going to be worth the extra work of having to implement in every client.

This is a topic for another time.  But I think we should combine all settings needed for any client in

[2018-04-18 02:12] graywolf336 commented on #10481
I'm conflicted on this one. I feel like the user's preferences should be passed alongside the default ones to each client, but what happens when the server changes the type of the setting/preference? And how will the clients handle the possibility of different types of the values? Or do we need to make a very pointed effort to not change types of preferences anymore and instead deprecate ones and

[2018-04-18 02:15] #10385 closed

[2018-04-18 03:09] graywolf336 commented on #5321
Thanks for following up with us @kajisaap. I'm going to go ahead and close it, should anyone else have these problems please feel free to comment with details and we'll consider opening it again.

[2018-04-18 03:09] #5321 closed

[2018-04-18 03:16] graywolf336 commented on #5884
@Hudell I renamed this pull request to reflect the new issue based upon your comment

[2018-04-18 03:30] graywolf336 commented on #8769
I was able to reproduce this with Postman. Due to the login using json, if you have a string which contains a backslash then you will need to escape the backslash with another backslash.

Going to go ahead and close this.

[2018-04-18 03:30] #8769 closed

[2018-04-18 03:33] graywolf336 commented on #10474
@OriginMayo can you show a screenshot of the error which shows up? As I was unable to reproduce the error:

![image](https://user-images.githubusercontent.com/850391/38910538-577f1d50-428f-11e8-96dd-8a110e39e3b6.png)

[2018-04-18 03:54] #10484 closed

[2018-04-18 04:10] graywolf336 commented on #10416
I am going to close, as the `sendMessage` doesn't actually send the data to the integration. You can see the data it sends at this code:
https://github.com/RocketChat/Rocket.Chat/blob/b97b2235b08a593bc34dc877ad8c60880c50a1e4/packages/rocketchat-integrations/server/lib/triggerHandler.js#L379-L399

And then at replay time the data is pull directly from the database/cache:
https://github.com/RocketCh

[2018-04-18 05:38] OriginMayo commented on #10474
here it is!
![notvalid](https://user-images.githubusercontent.com/9509969/38913521-6eece1b0-42db-11e8-931c-649dc8ba9d85.PNG)

[2018-04-18 05:39] OriginMayo commented on #10474
could it be because my system language is english?

[2018-04-18 07:07] danielbahl commented on #6740
Emojione SVGs are now requiring a premium license.
Alternative open emoji package: https://github.com/eosrei/twemoji-color-font

[2018-04-18 07:51] TwizzyDizzy commented on #10474
Mh. If your server is accessible publicly, could you send me a DirectMessage on https://open.rocket.chat with the server address (my name is identical there). I think this might solve things faster...

Cheers
Thomas

[2018-04-18 07:59] OriginMayo commented on #10474
Sent

[2018-04-18 07:59] OriginMayo commented on #10474
Sent

[2018-04-18 08:05] cortex3 commented on #5938
Is this issue fixed? Im still running into this problem on version  0.57.3

[2018-04-18 08:57] TwizzyDizzy commented on #10478
@rocket-cat close

Hey @danchr

while you are correct, it would be better to open this issue here: https://github.com/RocketChat/docs/

Thank you! :)

Cheers
Thomas

[2018-04-18 08:57] #10478 closed

[2018-04-18 09:08] edisonchen1985 opened #10489 "sometimes it will miss the fname field when calling the method of subscriptions/get from Android/iOS"
Dear all, we are a Chinese company using the Rocket.Chat for the internal communication, in order for better understanding, we have been using the fname field to display the Chinese name for the channel/private group (the name field is for channel/private group' English name).

But on the Android/iOS native application, it can not receive the fname field for some channel/private group, which only

[2018-04-18 09:33] antgel opened #10490 ""Store last message" default breaks Android native 2.x"
Please see https://github.com/RocketChat/Rocket.Chat.Android/issues/1100. I believe that the "store last message" default being set to false, will create a bad UX for Android users from here on in. I'd even suggest setting it to true in a future upgrade migration. WDYT?

[2018-04-18 09:35] EddEdw opened #10491 "Show "name" next to "username" when inviting users to a channel"
### Description:

At the moment, when you invite someone to a channel or you want to reference someone in text, who has not yet "written" in this channel, you only see his username and not the "name" field.

#### Add-Users-Tab:
![image](https://user-images.githubusercontent.com/6577198/38923506-02c468ee-42fb-11e8-89ae-ea2740498781.png)

#### Referencing users in text:
![image](https://user-images.

[2018-04-18 10:52] rafaelks commented on #10490
I agree with @antgel. This feature as "false" is a very bad experience on the Android app today (and iOS in the future, with the new layout).

[2018-04-18 11:04] rafaelks commented on #10481
I can see your points @sampaiodiego, @geekgonecrazy, @graywolf336... IMHO, we don't need to save bandwidth on this situation, because all clients **need** this data in order to work correctly. This argument doesn't make any sense when we know that if the setting changed, the data is actually returned, and no bandwidth is saved. In order to save bandwidth, I believe need to put effort on fields tha

[2018-04-18 11:15] arminfelder commented on #8692
@trongthanh I used ubuntu 17.10 on my dev computer, and debian stretch for the Docker image,
I build the gateway to fit my needs for my FairChat app, if you need additions to the pushmessage json, just write me how it should look like, or make a merge request on our gitlab(sign in is possible with github account)

[2018-04-18 11:54] bizzbyster commented on #9937
"The adapter / connector model does exactly that kind of translation. Nearly all message platforms and bot frameworks follow that convention, of having a layer between them passing things back and forth in the required formats so neither has to be fitted to each other in core."

Ok this makes sense. Currently we are using hubot to integrate RC with our Dialogflow bot using https://www.npmjs.com/pa

[2018-04-18 12:43] lhaig commented on #6140
I am closing this as I no longer support that server

[2018-04-18 12:47] cardoso opened #10492 "[BUG] WordPress authentication not working"
Server to reproduce this bug: https://cardoso.rocket.chat
Version: 0.63.0

When pressing the OAuth button, I'm being redirected to this URL:
https://public-api.wordpress.com/oauth/authorize?client_id=57848&redirect_uri=https://cardoso.rocket.chat/_oauth/wordpress?close&response_type=code&state=eyJsb2dpblN0eWxlIjoicG9wdXAiLCJjcmVkZW50aWFsVG9rZW4iOiJPUXZPRm9yWDJSajNQXzNIQnpRTU1nTXM3VVlwRFY4ajUyQ2pBN

[2018-04-18 12:51] TwizzyDizzy commented on #10474
@rocket-cat label add "type: bug"

I tested this and could reproduce @OriginMayo's error. This is actually a bug. He's going to comment our findings here later.

Cheers
Thomas

[2018-04-18 12:53] iconist opened #10493 "LDAP Authenication: LdapErr: DSID-0C0907C2, comment: In order to perform this operation a successful bind must be completed on the connection."
I have configured LDAP Authentication to Rocket Chat.But when I try to login , message popup as "user not found or incorrect password" even with correct password.
AM I missing anything??

### Description:
Sync User Avatar is set to false
on/admin/LDAP, TEST CONNECTION giving success
Base DN is give in the format : dc=abcd,dc=com

### Server Setup Information:

* Version of Rocket.Chat Server:  0.6

[2018-04-18 12:59] OriginMayo commented on #10474
Bug found, thanks to @TwizzyDizzy for helping me to actually confirm it as a bug!
if my steps are unclear let me know, been a while ago i did any sort of test case or similar stories.

Change room name to something with special characters

A admin should be able to change the room/channel name via the admin page to something with special characters.

Steps
Log into admin account - httpx://example.

[2018-04-18 13:03] TwizzyDizzy commented on #10474
It is noteworthy to add, though, that from the normal room info (accessible via the non-admin room info) the same works...

Cheers
Thomas

[2018-04-18 14:12] iangilfillan opened #10494 "An admin user is able to lock themselves out of the permissions page"
I was attempting to remove the view privilege permission from all admins, and add it to myself as owner. As soon as I unchecked the permission for admin, I (and all other admins) were locked out of the page, so now no-one can set the permissions.

[2018-04-18 14:17] iangilfillan opened #10495 "Add option to delete logs"
It would be useful to add an option to delete the logs. After uncovering a privacy issue in that all direct messages between anyone were available for viewing to all admins in the logs, it would have been simplest to just delete the logs and alert everyone that their messages were not private going forward (the actual privacy is another issue).

[2018-04-18 14:56] TwizzyDizzy commented on #10495
You have not stated which logs you refer to. I have had a similar case... that's why I'm asking this: In my case this was actually MongoDB that was logging queries that were executed slower than `100ms`.

Your can get the value of `slowms` via `db.getProfilingStatus()` in mongo-shell.

You can check my theory by setting the `slowms` value to 2 seconds (`db.setProfilingLevel(0,2000)`) and check whe

[2018-04-18 15:03] iangilfillan commented on #10495
The logs that are viewed via "View Logs" in the Administration menu. We are trialling the hosted solution.

[2018-04-18 15:11] TwizzyDizzy commented on #10495
@rocket-cat close

Well, I can confirm this in my setup when enabling log level "debug". This seems to be the case in cloud instances then. It is also what you would expect of a "debug" loglevel. You can edit your settings regarding the log level here: https://your.server.address/admin/Logs

As this is no bug but rather working as expected, I'm going to close this issue.

Cheers
Thomas

[2018-04-18 15:11] #10495 closed

[2018-04-18 15:27] Bielecki commented on #3766
Anything? I made transparent .png avatar, but it converted it with black background.

[2018-04-18 16:04] adipose commented on #10493
Is that the correct sAMAccountName?  I think in openLDAP you can use uid as the default id checker.

If you browse the ldap and find the user, what does it show for sAMAccountName / uid?