[2020-02-24 15:33] Xerionty commented on #3582
Okay and how do we use this?

[2020-02-24 16:20] gabriellsh commented on #10249
I think that's not intended. It's a different context, when on the admin page, "Delete" means you're going to delete the user from your rocket.chat instance.  What seems to be happening is that when in the private channel, opening the user info from administration triggers as if you were to click in the users info outside the administration menu.

Sorry for the convoluted answer, but that's basica

[2020-02-24 16:36] mar-v opened #16701 "Layout color changes are not applied on cloud instances."
### Description:

Changing primary color (or other colors) under Admin -> Layout -> Colors makes no difference to the interface. Selecting Color (instead of Epression) does not work eaither as once you click on a color palette, the field value is rolled back to Expression.

### Steps to reproduce:

1. Admin -> Layout -> Colors.
2. Click on Primary color -> Color
3. Choose any colot on the palette,

[2020-02-24 16:47] serviceman opened #16702 "3.0.2 not loading in older versions of safari/ipad"
### Description:

I am getting reports that the chat is not loading in older versions of safari on ipad. This is the ipad specs I received from the end user. Please keep in mind that these ipads are on a few years old and there are a lot of them still in use. Report is that it hangs at the 3 loading dots.

Ipad info: Version 9.3.5(13G36) , model MD531LL/A

### Steps to reproduce:

1. Attempt to lo

[2020-02-24 17:59] hifihedgehog opened #16703 "Feature request: Allow 1 minute period for POP3 direct reply polling"
### Description:

As the administrator, I would like to be able to bring the polling time down to 1 minute for direct reply. The first reason is the email server is local and there is no reason for it take longer than that. Secondly, another reason I prefer POP3 over IMAP is if I use IMAP instead of POP3, then it does not parse the email replies correctly and leaves the quoted portion in the email

[2020-02-24 19:33] GH-Rake commented on #2521
would be nice to have /ban /unban commands also so we can do this from the mobile app

[2020-02-25 00:35] franckadil opened #16705 "installing Apps fails [probable cloud syncing issue]"
Can't install apps on latests releases:

![image](https://user-images.githubusercontent.com/42721509/75203505-85247700-576e-11ea-8c00-407dec807514.png)

`https://[REDACTED].com/api/apps?buildExternalUrl=true&appId=ec9aa1c1-11b9-47e4-b919-bbc3fa2f2c00&purchaseType=buy&details=false` **400 (Bad Request)**

Syncing our account fails too:
![image](https://user-images.githubusercontent.com/42721509/752

[2020-02-25 04:11] TeraMind244 opened #16707 "[BUG] UI is not updated by real-time in version 3.0.1"
### Description:
We're using a slash-command application named "cleanrooms" to clean all inactive live-chat rooms and incoming live-chat rooms. Previously, when we use Rocket.Chat version 2.2.0, when the command is executed and all the rooms are closed by the app, all the rooms on the sidebar will disappear. However, when we upgrade to the newly released version 3.0.1, although all the rooms are c

[2020-02-25 07:02] linuxbass commented on #11369
yes, worked for me to. I have it in a docker container. Stopped and restarted the container and now the From address is being included in registration emails and no bounces from Google, Yahoo or other strict MX hosts.

[2020-02-25 10:38] avimanyu786 opened #16708 "Potential Future Bug: Rocket.Chat Docker container run uses deprecated --link <database-container-name> flag"
I would like to report that according to the official docker hub [documentation](https://hub.docker.com/_/rocket-chat), Rocket.Chat on Docker uses the `--link <database-container-name>` flag.  According to Docker's official documentation, this flag is [deprecated](https://docs.docker.com/network/links/). We need to replace it with `--net <network-name>`.

Please update the docker hub documentation

[2020-02-25 10:44] antkaz commented on #16614
I found the problem. If "Show Deleted status" is enabled, the file does not disappear. I reopen this issue.
![image](https://user-images.githubusercontent.com/19654261/75240000-762cdb80-57e5-11ea-92da-a5ea4c605813.png)

[2020-02-25 11:26] ankar84 commented on #16694
Just now I tested login process using **KeyCloak** in **Rocket.Chat.ReactNative** application version **4.4.0.282** with **RC server version 3.0.1** at **iPhone 8 on iOS 13.3.1** without any problems

[2020-02-25 12:17] aimador commented on #16694
Thx for the info. I had other IOs users double check on that. Turns out it's one specific user with that problem. Can't say which IOs version it is, since the user did not report back yet.

[2020-02-25 12:19] iovcho commented on #16611
I have same issue on CentOS 7:
[root@rocket opt]# yum info nodejs
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirrors.neterra.net
 * epel: mirrors.neterra.net
 * extras: mirrors.neterra.net
 * updates: mirrors.neterra.net
Installed Packages
Name        : nodejs
Arch        : x86_64
Epoch       : 2
Version     : 12.16.1
Release     : 1nodesource
Size        : 6

[2020-02-25 12:29] avimanyu786 commented on #7577
This still isn't working. I followed https://rocket.chat/docs/administrator-guides/email/setup/ and set it up with [sendgrid](sendgrid.com). SMTP Test Email is working.

[2020-02-25 12:30] port22 commented on #16679
seems to be related to https://github.com/RocketChat/Rocket.Chat/issues/16097#issuecomment-569624761 which seemed to help

[2020-02-25 12:30] #16679 closed

[2020-02-25 13:35] githubkoma opened #16709 "3.0.2 CSV Import fails with "Failed to start import operation""
### Description:

Getting Error "Failed to start import operation" on CSV Message import in v3.0.2, which worked on version v2.4.x just fine

### Steps to reproduce:

1. https://chat.xyz.de/admin/import/new
    - CSV
    - Upload File mychannel.zip
2. Get automatically redirected to: https://chat.xyz.de/admin/import/prepare
  - Page states: MESSAGES: 18
3. Click on start import

### Expected behav

[2020-02-25 13:36] githubkoma commented on #16709
This is the import file that worked fine under 2.4.x, but not under 3.0.2 :-(

[ccc.zip](https://github.com/RocketChat/Rocket.Chat/files/4250219/ccc.zip)

[2020-02-25 14:30] Routhgen commented on #12072
And use request.content

[code]

Dont parse anything. Its already parsed!

[2020-02-25 14:58] lisa761 commented on #16676
Rocket.Chat requires a lot of RAM while building. Are you running this on a Virtual Machine? If yes then try to increase the allotted RAM, then add some extra space for swap file.

[2020-02-25 17:20] rsjr opened #16710 "JS Client - Memory consumption"
### Description:

Rocket.Chat JS client memory consumption impacts the usage, leading the front end to freeze and crash sometimes (specially in the Electron app). You can see this behavior on devices that don't have a lot of RAM (4 GB / 6 GB ), with more significant issues on Windows.

When changing to different rooms / scrolling on rooms that have a lot of messages, you can see the RAM consumptio

[2020-02-25 17:21] rsjr opened #16711 "JS Client - Memory consumption"
### Description:

Rocket.Chat JS client memory consumption impacts the usage, leading the front end to freeze and crash sometimes (specially in the Electron app). The symptoms are worse on devices that have less RAM (4 GB / 6 GB), with more significant issues on Windows.

When changing to different rooms / scrolling on rooms that have a lot of messages, you can see the RAM consumption increasing i

[2020-02-25 17:31] #16710 closed

[2020-02-25 20:39] Mohamed209 opened #16712 "Voice note seek bar doesn't move forward"
After recording a voice note you can't seek bar forward or backward , even timer freezing at 00:00

[2020-02-25 22:56] geekgonecrazy commented on #16542
I think will be fixed by: https://github.com/RocketChat/Rocket.Chat/pull/16617

[2020-02-26 00:34] therealhanlin opened #16713 "Azure AD SAML auth context mismatch"
This issue presented here is the RocketChat server is unable to carry different SAML auth contexts to Azure AD for authentication.

By default, the SAML auth context is set to urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport, which is working fine by itself if it's a new login. Although we do observe issues when the auth context is different like Windows integrated authentication.

[2020-02-26 00:54] sysfu commented on #3499
Any progress towards this feature?

[2020-02-26 00:54] sampaiodiego commented on #16542
agreed @geekgonecrazy . @recklessnl may you test our current `develop` version? `3.1.0-develop` actually. since we're now using a single POST request to send files you should be able to use total bandwidth available.

[2020-02-26 01:09] recklessnl commented on #16542
@sampaiodiego I have a snaps install - what's the best way to update to that version? And in case things break, how do I get back to this stable version?

Once I know how to I will definitely test it out as soon as I can.

[2020-02-26 05:42] ankar84 commented on #16711
I can confirm that partially
![image](https://user-images.githubusercontent.com/4023037/75315164-05cc9b80-5873-11ea-9c5c-651cb7c3505c.png)
On screenshot you can see RC.Electron 2.17.7 on Windows 10 1809.
I that desktop client I have connected to 2 servers - my corporate and open.rocket.chat
I select process, that was grew up when I press **page up** button in #[support](https://open.rocket.chat/ch

[2020-02-26 06:55] ozata commented on #16177
I am checking this out, any suggestions?

[2020-02-26 07:15] blackaeros opened #16714 "LDAP sync not change fields"
### Description:

LDAP-filled fields (such as email for example) don't synchronize with LDAP till user re-login.

### Steps to reproduce:
1. Change user field (email for example) in Active directory
2. Go to Administration->LDAP->Sync/Import set "Background Sync Update Existing Users" - On
3. Click on Administration->LDAP->Sync/Import->Execute Synchronization Now

### Expected behavior:

All user

[2020-02-26 08:11] xmedeko commented on #8565
Still not working in 2.17 :-(

[2020-02-26 11:32] photoninger commented on #15663
On rocket.chat-3.0.2 user data export works for some users, but for another user the export job exports one room in an endless loop. The json file is growing and growing, the same messages are exported multiple times and in the mongodb the exportedCount stays at zero:
[code]

[2020-02-26 11:54] yarikpwnzer opened #16715 "SSL Error"
We are using rocket chat in our iOS/Android App in a WebView (iframe). We are not using our own server, url: https://<our_app_name>.rocket.chat (chat is private). Everything is working fine, and only one client got SSL error on production, he is running iOS 13.2.
Error Description: An SSL error has occurred and a secure connection to the server cannot be made.
Error Code: -1200
I run few tests on

[2020-02-26 12:00] harakiwi1 opened #16716 "Personal access token not shown"
### Description:

Issue related to #12733. When generating new Personal access token, to generated Token and User ID are not shown. Placeholders in dialog are not resolved for some languages (e.g. Czech) because of unexpected spaces.
Seems like someone is copying i18n text from corrupted source or uses some kind of wrong formatter.

### Steps to reproduce:

1. Personal access tokens
2. Create new

[2020-02-26 12:01] yasenv-code commented on #9916
Any update here.

[2020-02-26 12:23] aimador commented on #16694
Problem solved. Turns out it was an old entry in the systemd service file. Don't use "--tls-cipher-list"... 🙄

[2020-02-26 12:24] #16694 closed

[2020-02-26 12:36] aimador commented on #16649
Same solution as for [16694](https://github.com/RocketChat/Rocket.Chat/issues/16694). Don't use "node --tls-cipher-list" in the systemd service file to start RocketChat unless absolutely necessary.

[2020-02-26 12:37] #16649 closed

[2020-02-26 13:31] ashwaniYDV commented on #16712
@Mohamed209 you can create this issue in rocket.chat-react-native repository
https://github.com/RocketChat/Rocket.Chat.ReactNative

[2020-02-26 13:40] PeGaSuS-Coder opened #16717 "[FEATURE] Option to auto-delete user accounts based on last login"
It would be nice to have an option to delete user accounts based on last login/activity.

This would keep servers clean of users that only join to try the chat and never return.

We can do that manually (for small servers) but in case of a big server with hundreds of users, that's not an option.

Any thoughts?

Cheers!

[2020-02-26 13:46] guilhermecfviana commented on #16666
I found out the reason. My user was being used to authenticate with the rest API.

[2020-02-26 14:12] LakesideMiners commented on #16659
i'm having this issue as well. exact same conditions.

[2020-02-26 15:16] #16715 closed

[2020-02-26 15:21] aimador opened #16721 "[Feature Request] Notify users when their session was terminated"
### Description:

We have changed the default setting for the login expiration. When users get logged out they usually don't see any info as they leave the client minimized. I've got several complaints now, because they missed important messages and did not realize that they were in fact offline.
That's why I wanted to ask if it would be possible to implement a notification popup or something so t

[2020-02-26 16:04] ggazzo commented on #16701
closed by https://github.com/RocketChat/Rocket.Chat/pull/16706

[2020-02-26 16:04] #16701 closed

[2020-02-26 16:42] MarcosSpessatto commented on #16600
@ritwizsinha how is it going? Are you working on that?

[2020-02-26 16:44] gabriellsh commented on #8824
I'll be closing this one as this specific issue doesn't happen. Please, take the discussion to #16670.

[2020-02-26 16:44] #8824 closed

[2020-02-26 19:33] aknrg77 commented on #16418
i would like to fix this issue

[2020-02-26 19:49] #16290 closed

[2020-02-26 20:06] ggazzo commented on #16702
hey @serviceman, do you know the safari version they are using? please check again if you are not running 3.0.1, because we released a fix for old browsers in 3.0.2

[2020-02-27 00:26] #16687 closed

[2020-02-27 03:15] vohrahul commented on #10792
Have started receiving this randomly.
[code]

[2020-02-27 03:18] TheGr8Wonder commented on #15036
Dug into the PR for this - #11236 - and there is another setting that is required to enable the override of the global retention - `edit-privileged-setting` (From the PR notes: Can override global policy with a switch that requires `edit-privileged-setting`). Once I added that to the same group I enable for `edit-room-retention-policy`, the option was no longer grayed out. Working in v3.0.2

[2020-02-27 04:38] AgentTNT opened #16727 "[FEATURE] Granular pruning permissions"
Allow the separation of pruning/cleaning permissions

[2020-02-27 06:03] irfanjunaid commented on #16290
Thanks!

[2020-02-27 07:24] serviceman commented on #16702
I have confirmed that I am running version 3.0.2. I do not know the exact version of safari. I am assuming it is whatever version of safari that is supported by the ipad mentioned above. I am however getting this error in chrome and sometimes the fails to load as a result. I wonder if it is related.

TypeError: Cannot read property 'uid' of undefined
    at cb1059d25c0cbf8d4a9df85876ce23b4452bce92

[2020-02-27 07:56] jack9603301 opened #16729 "The filter function of swearing cannot filter Chinese characters"
My rocketchat can't use the filterability function to filter Chinese. There is a bug!

Version: 1.7.0
Browser: Firefox 73.0.1

[2020-02-27 08:16] softwareXiaotao commented on #16729
me  too

[2020-02-27 09:56] alleait commented on #1975
i have the same issue with verison 3.0.2 i am running nodejs 12.16.1

Feb 27 11:40:56 chat rocketchat[679]: Error: Cannot find module '/opt/Rocket.Chat/programs/server/node_modules/fibers/bin/linux-x64-57-glibc/fibers'
Feb 27 11:40:56 chat rocketchat[679]:     at Function.Module._resolveFilename (module.js:548:15)
Feb 27 11:40:56 chat rocketchat[679]:     at Function.Module._load (module.js:475:25

[2020-02-27 11:21] varac opened #16730 "Reduce docker image size"
### Description:

The [latest docker image](https://hub.docker.com/r/rocketchat/rocket.chat/tags) shows a compressed size of 403.98 MB. However,  decompressed after pulling shows 1,61GB.

### Steps to reproduce:

1. `docker pull rocketchat/rocket.chat:latest`
2. `docker images rocketchat/rocket.chat:latest`

### Expected behavior:

Something much smaller in the lines of ~300MB max

### Actual beha

[2020-02-27 11:22] benkroeger opened #16731 "submitted PR without attention for four months"
Dear Maintainers,
I submitted  PR #15690 end of october 2019 and am since waiting to get any sort of feedback.
It was supposed to help my company evaluate Rocket.Chat as their new messaging tool - in combination with login from Azure AD and picking custom user names.
It also helps closing several other issues (listed in PR description).

Can anyone please tell me what is missing to get this thing

[2020-02-27 11:39] rodrigok commented on #14936
Are your servers working now?

If not, which version and installation method you used?

[2020-02-27 11:39] mbrodala commented on #11436
I noticed the same in a similar setup but with e.g. `groups.invite`  and `groups.kick` if called quickly and repeatedly.

In theory users with the role `bot` or `admin` should be able to bypass the API rate limit:

https://github.com/RocketChat/Rocket.Chat/blob/5bbd7d772a67aa1e675d6f3da99e47a3cc049519/app/authorization/server/startup.js#L21
https://github.com/RocketChat/Rocket.Chat/blob/6ef7275eb7

[2020-02-27 12:14] ankar84 opened #16732 "[Feature] Ability to assign role to newly registered users"
### What we have now
In **Administration => Accounts => Registration** we have a setting **Default Roles for Authentication Services** (**Accounts_Registration_Authentication_Services_Default_Roles**), but this settings works only for user accounts, that registered by Authentication Services and only if corresponding setting **Registration with Authentication Services** is enabled. Actually it is

[2020-02-27 12:18] vvolas commented on #16453
Hello again sorry I couldnt reply faster.

So when I to open the user info I get this error in rocketchat client dev console
`webview: Uncaught (in promise) Error  webview.js:52 `

In fresh installation there is no such error.

I did setup new test instance and configured LDAP and everything works fine. I m kinda lost.

OK this is probably unrelated but maybe it will, in old logs there was spam of

[2020-02-27 13:13] vvolas commented on #16453
I cloned whole rocketchat virtual machine, and setuped it on different IP that damn user tab works! I tried restarting original machine but it didint help. Things are weird.

Ok now I accessed original rocket chat machine via IP directly and now I can access that damn tab so something is wrong with nginx configuration. But everything works except that damn tab, things are really weird :)

[2020-02-27 13:22] mailtosumitrai opened #16733 "Socket hangs after scaling down of EC2 autoscaling instances"
### Description:

We have the Rocket Chat installed in AWS EC2 instances and have autoscaling enabled. When the autoscaling scales down and terminates the instance, we receive this error in the logs of other EC2 instances (app2).

[code]
Here's a snapshot of the data received from rocket chat prometheus server.

<img width="1012" alt="Screenshot 2020-02-27 at 18 19 33" src="https://user-images.git

[2020-02-27 13:26] vvolas commented on #16453
OK nginx it is. I had setuped nginx bad bots filter and forgoten about it and 1 rule did match that special request to user tab.

Thanks for help! My bad.

[2020-02-27 13:26] #16453 closed

[2020-02-27 15:16] Madic- commented on #4554
Why was the issue closed? Is the problem fixed?

[2020-02-27 15:25] rangelbb commented on #4554
I have the same question! What do i need to do for fix this?

[2020-02-27 15:34] vidyabuddhiraju opened #16734 "rocket.chat does not start on ubuntu"
I just installed rocket chat with the instructions here.

https://rocket.chat/docs/installation/manual-installation/ubuntu/

I typed in every one of the commands exactly in the order mentioned.

Here is my linux version output of uname -a

Linux mediamachine 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

lubuntu 18.04 is my version running in headless

[2020-02-27 16:00] rodrigok commented on #6174
Our enterprise version 3.0.2 covers this feature now.

[2020-02-27 16:00] rodrigok commented on #7235
Our enterprise version 3.0.2 covers this feature now.

[2020-02-27 16:00] rodrigok commented on #4554
Our enterprise version 3.0.2 covers this feature now.

[2020-02-27 16:11] Madic- commented on #4554
Do you plan to port this essential security feature to the basic edition?

[2020-02-27 17:19] hifihedgehog opened #16735 "Cannot upload unless permissions are changed to /tmp/ufs to rocketchat user."
This issue persists with the latest stable release of RocketChat, 3.0.2 on CentOS 7.7. I tried both a custom installation with the latest version of NodeJS 12.16.1 and the MongoDB 4.2 with WiredTiger. Thinking that was the issue, I then followed every step to the letter in the guide online, using NodeJS 12.14.0 and MongoDB 4.0 with mmapv1. I simply cannot upload avatars of any kind. Of note, I am

[2020-02-27 17:31] hifihedgehog commented on #1821
This issue still persists. Why?

[2020-02-27 17:34] hifihedgehog commented on #16735
[The issue is related to this.](https://github.com/RocketChat/Rocket.Chat/issues/1821#issuecomment-520645393) You have to expressly set ownership for /tmp/ufs to the rocketchat user. If this is a requirement, this should be listed in the instructions and not buried in an issue. Otherwise, if this is an issue, this needs to be fixed in code so other users don't have to deal with it.

[2020-02-27 17:46] maciek134 commented on #2192
@thesystemninjaneer easily achievable - yes, but I don't think this is in the scope of this issue / PR.

[2020-02-27 17:54] renatobecker commented on #10443
Closed by https://github.com/RocketChat/Rocket.Chat/pull/16437.

[2020-02-27 17:54] #10443 closed

[2020-02-27 18:14] Sing-Li commented on #9205
The UI bit is a bug, the UI should be available again (since 2.4.2).

We are scheduling the feature for a later release.

[2020-02-27 18:17] Sing-Li commented on #10058
This will be moved to an app.

[2020-02-27 18:21] Sing-Li commented on #10072
@Gandalf-the-Grey we are moving this to our oauth / auth refactor.  But please expand on how you see this may be best implemented.  Thanks.

[2020-02-27 18:25] Sing-Li commented on #10133
Need to analyze for consistency throughout our UI (not code).

[2020-02-27 19:30] hifihedgehog commented on #16735
Resolved. The issue arises if you already had created a previous RocketChat installation and in removing the rocketchat user, forget to remove the /tmp/ufs folder. If this folder is not deleted in the uninstall process, it will not be given permissions when you reinstall RocketChat. So you either (1) delete the folder /tmp/ufs prior to reinstalling or (2) set rocketchat as owner to the folder /tmp

[2020-02-27 19:30] #16735 closed

[2020-02-27 19:30] hifihedgehog commented on #1821
Resolved. The issue arises if you already had created a previous RocketChat installation and in removing the rocketchat user, forget to remove the /tmp/ufs folder. If this folder is not deleted in the uninstall process, it will not be given permissions when you reinstall RocketChat. So you either (1) delete the folder /tmp/ufs prior to reinstalling or (2) set rocketchat as owner to the folder /tmp

[2020-02-27 19:49] varac opened #16737 "Reduce mongodb disk usage"
### Description:

I started a test installation of rocketchat and noticed that mongodb uses too
much initial disk space without even using rocketchat at all.

### Steps to reproduce:

1. Create/get access to a kubernetes cluster
2. Install rocketchat using the official rocketchat stable chart with:

  `helm install --name rocketchat --set mongodb.mongodbRootPassword=test --set mongodb.mongodbPassw

[2020-02-27 19:50] hifihedgehog opened #16738 "Latest avatar image isn't shown unless you clear your browser cache."
### Description:

Latest avatar image isn't shown unless you clear your browser cache.

### Steps to reproduce:

1. Log in to account. Attempt to change profile image. Updated image isn't reflected until browser session is cleared.

### Expected behavior:

1. See new profile image as soon as it is uploaded.

### Actual behavior:

1. The old image persists until the browser session cache is purged.

[2020-02-27 19:50] varac commented on #16737
Together with #16730 rocketchat seems quite a bloated installation.

[2020-02-27 19:52] hifihedgehog commented on #12974
The solution is clear your browser cache. The new image is there, but the browser doesn't know to clear/purge the cache of the old one.

[2020-02-27 21:17] subham103 commented on #10249
I believe the `blockUser/Delete` option is now being replaced by the `conversation` option. If that's the case, then this issue doesn't exist anymore.
![Rocket Chat](https://user-images.githubusercontent.com/43502196/75487441-68897880-59d4-11ea-97e2-3c323177d5f3.png)

[2020-02-27 21:35] subham103 commented on #15587
The current behavior is, if the thread is already open and we disable thread, we can see the messages on that thread plus can add replay on that thread, but those messages (after disabling the thread) comes with a grey color.

![Rocket Chat(1)](https://user-images.githubusercontent.com/43502196/75488642-be5f2000-59d6-11ea-86fc-80a34258df1a.png)

But if the thread is closed and we disable the threa

[2020-02-27 22:50] subham103 commented on #15587
The thread's side-bar can be easily shown by removing the check. The big question is Should we give the option to write on the thread after it is disabled? I think it should be read-only as mentioned by MartinSchoeler, and we should remove the input box inside the side-bar if the threads are disabled.

@MartinSchoeler , guide us to the intended behavior

[2020-02-27 22:56] gabriellsh commented on #16727
Although we can have an idea about what you're talking, there's too little information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information next time. Thanks!

[2020-02-27 23:03] gabriellsh commented on #16702
I think that log was fixed by #16704 and is probably not related.

We still need the browser versions so we can reproduce this. Could you arrange that? thanks!

[2020-02-27 23:19] gabriellsh commented on #16693
Hey @pokapow! I didn't notice anything different lately. Do you have any specific example? You could take a look here too:

![image](https://user-images.githubusercontent.com/40830821/75495824-4aa12100-599e-11ea-9728-7efc8ed19c1b.png)

Maybe some settings got lost for some reason? Waiting fot your response...

[2020-02-27 23:44] gabriellsh commented on #16666
So is it really a bug? Do you have any additional info so we can reproduce it?

[2020-02-27 23:51] gabriellsh commented on #16660
I think this is the intended behaviour. I tested and could add only 120 chars at one time. Even being limited, having this much characters in the status makes the UI buggy in some parts. This means that either we need some UI/UX design change so we can fit more in the status or it'll stay like that.

[2020-02-27 23:58] gabriellsh commented on #16656
Are you sure the correct server URL was configured? That's really odd behaviour. You can open devTools inside the app and look at the console, see if you find anything.

[2020-02-28 01:34] TheGr8Wonder commented on #16727
I apologize! I'll do it better next time. However in this case for those that are reading...

This feature is to introduce the breaking out of pruning permissions from a single permission option that includes all 3 -  channels, groups, direct, into 3 separate ones that may be applied at different role levels.

This would partially allow for closing of #14986, by putting the groundwork in place for

[2020-02-28 04:34] hifihedgehog opened #16740 "Cannot change avatar image if name field isn’t filled (name field is configured as not required and is not specified at registration)"
###  Description:

When names are set to not be required at registration, avatar images cannot be changed unless a name is entered.

###  Steps to reproduce:

First ensure names are not required for registration. Register account without a name. Attempt to change profile image without entering a name.

###  Expected behavior:
When names are set to not be required at registration, I feel that I sho

[2020-02-28 05:11] hifihedgehog opened #16741 "When posting GIFs on mobile, only the first from the left can be selected"
###  Description:

When using either the Tenor or Giphy addon on mobile (Safari in iOS), only the first gif from the left can be selected when using gifs. When trying to select any other GIFs to right of the first one, the first GIF is the only one that can ever be selected and displayed.

###  Steps to reproduce:

Install Giphy and/or Tenor addon and search for a GIF and then attempt to select an

[2020-02-28 06:47] ozata commented on #8505
I am on it.

[2020-02-28 08:32] sandreddu commented on #4554
@rodrigok it could be argued that then the issue can not be closed, if it's only fixed in one version

[2020-02-28 11:06] gabriellsh commented on #10249
Thanks for your observation @subham103, this context is no longer mixed.

[2020-02-28 11:06] #10249 closed

[2020-02-28 11:37] vyngur opened #16743 "Blank page in several options when setting up LDAP"
**Description:**
Selecting Sync User Data from the LDAP (Sync/Import) configuration page returns a black page with no error (also checked browser console).
The same behavior was observed with the Background Sync button.
Pushing back in the browser and forward reveals the button with the expected state.

**Steps to reproduce:**
See attached gif

**Expected behavior:**
Button goes to enable and gene

[2020-02-28 12:02] guilhermecfviana commented on #16666
To solve the problem here I created another user with administrator permission and use it to authenticate the REST API

[2020-02-28 12:06] ankar84 commented on #16743
It is fixed in newer versions of RC, in 2.4.3 for example.
You need to update.

[2020-02-28 12:11] vyngur commented on #16743
Thanks! Will check the new version
PS Dislexia :)

[2020-02-28 12:44] pkonnov opened #16745 "[NEW] сhannel file list / download file before save message"
### Description:

In RocketChat app you can check the message before sending by two ways - IPreMessageSentPrevent and beforeSaveMessage. Suppose you decide not to send the message after checking it. The main problem is that the file are visible in the Client and available for download while the check-process is running that can take some time.

![](https://github.com/pkonnov/files/raw/master/ezgif

[2020-02-28 12:48] #16743 closed

[2020-02-28 13:11] hifihedgehog commented on #16703
Bump

[2020-02-28 13:32] gabriellsh commented on #16731
We're sorry for the delay, we acknowledge that this is not supposed to happen and constantly try to improve on our community interaction. Unfortunately sometimes things get kind of buried.

Once again, as said in #15690, thank you very much for your effort, your review is on the way.

[2020-02-28 13:32] #16731 closed

[2020-02-28 13:37] Wirone opened #16746 "Local development based on Docker"
Current development workflow is described in `README.md` as:

[code]

with Git and Meteor as prerequisites.

It does not make sense in modern app development to pollute local machine with dev dependencies (Meteor and NPM packages) and also does not ensure that app is run on the same environment.

Unfortunately `docker-compose.yml` does not offer local stack based on local code since `rocketchat` s

[2020-02-28 13:46] ritwizsinha opened #16747 "Error message in name input when no name provided."
### Description:
When in the require name for signup is disabled the name input is always in error state

### Steps to reproduce:

1. Go to settings in account and then in registration
2. Disable require name for signup
3. Create a new user and dont give a username

### Expected behavior:

The name input should not be in error state

### Actual behavior:
![image](https://user-images.githubusercont

[2020-02-28 14:49] mahal opened #16749 "Debug Log of failed User registration using authentication services"
### Description:

Settings on server:
• Custom OAuth Login Style "Redirect"
• Registration with Authentication Services turned off
• Set Log Level to 2 (Debug)

### Steps to reproduce:

1. Create a new User in the OAuth server
2. Log into Rocket using OAuth-Screen

User can succesfully login in using OAuth but user is not created in Rocket. That is expected behavior.

### Expected behavior:

Log s

[2020-02-28 14:50] mahal commented on #16749
As a beginner it took me a while to figure out what's going on. In general I would expect that all errors shown to user are also logged in logfile.

[2020-02-28 14:51] #8805 closed

[2020-02-28 14:51] mmgoilf commented on #12974
I was talking about the client, not the browser. Also the issue has been fixed for a while now. The issue still exists on mobile, though (mobile has always been way buggier for me for everything).

[2020-02-28 15:41] TwizzyDizzy commented on #4554
Hi @rodrigok

I totally concur with the irritated replies above: you cannot simply provide a feature in the basic edition and then tell people to buy the enterprise edition when they want the feature to be implemented properly.

Breaking it down to this issue: there is no LDAP authentication "that still works, when the account in the directory is disabled". From a security perspective, LDAP authen

[2020-02-28 16:13] Shaverdoff commented on #4554
i agree it!

Отправлено с iPhone

[2020-02-28 16:21] reetp commented on #4554
It is broken in the 'released' version available here. This is a bug in the released version, and should therefore logically be re-opened.

As @TwizzyDizzy correctly states, either LDAP is in, or it is out.

But it should not be the 'Hokey Cokey' version with one foot in, and one foot out.

Yup - I'm pretty sure you are far from alone and Rocket.Chat would pull it now if they could (hindsight is a

[2020-02-28 16:23] subham103 commented on #16510
Currently, the user is extracted from the code-block or any expression and is dragged to the channel. Will try to fix this issue:)

[2020-02-28 16:27] TwizzyDizzy commented on #4554
I wouldn't go so far as to state it this way. That'd be a bit unfair. I simply think it's like you said:

The thing is: there needs to be a proper decision - both directions have implications (and pondering the pros/cons is not up to us) but trying to go half-way is most definately the **worst** choice here.

Cheers
Thomas

[2020-02-28 16:36] gabriellsh commented on #16747
Related to #16740. Actually, thats the same issue, and slightly different consequences. Please don't forget to search for issues before opening them. Thanks! :)

[2020-02-28 18:15] lisa761 commented on #16734
Why don't you try this https://rocket.chat/docs/developer-guides/quick-start/ and see if it helps?

[2020-02-28 18:57] #16740 closed

[2020-02-28 18:57] #16747 closed

[2020-02-28 20:05] serviceman commented on #16702
My instance of rocket  chat is used by the general public, so this is not easy information to get from these users, most are non techie people. I did manage to get two users to report and both stated they used Safari OS 9.3.5

[2020-02-28 20:23] rpgoldman commented on #16656
@gabriellsh Yes, I'm quite sure -- I was able to connect with the same URL (copy and paste) using a web browser.

I did open up the devTools, but I couldn't figure out how to get useful information out.  What I think I should be doing is actuating the login button from inside the dev tools console (I did that), but it seems like this just throws into some callback that eats any error that might be

[2020-02-29 02:26] juanito92 commented on #12974
![ANGRY](http://images4.fanpop.com/image/photos/18500000/Angry-Piccolo-dragon-ball-z-18574143-200-148.jpg)

As the necklord drags his feet, the rocketchat devs chuckle and crackle over the fire talking about their favorite brazilian bongoli gorilla juice when GOKU from DragonBallZ crashes through the window exclaiming   WHOA BRO your rocket chat thingo mabubber is great! me and my DragonBall amiga

[2020-02-29 11:00] rasos opened #16756 "Empty screen when jumping to channel by URL anonymously"
We want to allow to show some channels for anonymous users with a direct link to that channel, e.g. https://fairchat.net/channel/fairmove-label - and it should be possible to embed that channel in web pages (and use it as a forum with threading).

In Account settings, `Anonymous Reading` is on.

### Actual behaviour

Channel loads endlessly, only 3 dots are shown
![Bildschirmfoto_2020-03-30_17-02-

[2020-02-29 11:27] ritwizsinha commented on #5436
@gabriellsh please review

[2020-02-29 14:23] talheim-it opened #16758 "V3.0.2: Direct Messages - No pinning option"
### Description:

Options to pin messages in direct messages is not available.

### Steps to reproduce:

Mark any message, click on options and look for "pin".

### Expected behavior:

To pin messages in direct conversations.

### Actual behavior:

### Server Setup Information:
Rocket.Chat: v3.0.2
MongoDB:
Nodejs: v12.14.0

### Client Setup Information

- Desktop App or Browser Version: 2.17.7 / B

[2020-02-29 18:56] Somtozech opened #16760 "Improve new user experience"
This was my first time using Rocket Chat and I found it difficult for a moment navigating around. Am suggesting a guide that shows new users what to do (like a guided tour or something similar)

[2020-02-29 19:24] hifihedgehog commented on #12974
Having lived in Brazil for two years, I can attest to the fandom and ferver among the populace for the DragonBall Japanese anime. Of course, thanks to Tectoy, a company that widely licenses and manufactures the SEGA Genesis and Master also in the country, a certain spiny, blue rodent enjoys a wide appeal there as well.

[2020-02-29 20:13] hifihedgehog commented on #12974
It also exists on desktop browser for some time, just not mobile browsers. Regardless of the browser platform, you have to clear the cache for the new avatar to be shown.

[2020-02-29 23:01] talheim-it commented on #16760
@Somtozech can you describe it a bit?

Do you mean just "User" or do you mean "Admin"?

[2020-03-01 00:30] Somtozech commented on #16760
Ok. I meant for the user. I just created an account with Rocket.chat and I was kind of confused about what to do. For example, I was looking for the pinned messages that took me a while but I finally found it after clicking on almost all the buttons on the navigation. I suggest a guided tour be added for first-time users (to show how the most important things are done).

[2020-03-01 02:56] recklessnl commented on #13652
Guys, any update on this? @tassoevan @fliptrail @Sing-Li

Android has had a lovely dark theme for a while now, I can't believe there isn't an option yet for desktop and web users to have an official dark theme. Must-have feature for the next release. Please share the status of this, can't wait for this to be added!

[2020-03-01 12:57] awunder commented on #5020
i would really love to have this setting too.. i hate it when people hide and just want to sponge up knowledge of others..

[2020-03-01 15:01] wespinosar opened #16763 "Allow Location sharing via Twilio WhatsApp"
In Livechat allow customer to share its location (Location sharing) via Twilio WhatsApp, in order to request to the customer to share its geo-location (altitude and latitude) for delivery purpose.

[2020-03-02 04:17] ankar84 opened #16765 "[BUG] Message read status in active chat"
### Description:

Now we are using in test mode option Admin -> General -> Notifications -> **Always notify mobile** and I see some not comfortable behavior of that function in active chats.
I get mobile notification even for active chats where I'm actively writing messages

### Steps to reproduce:

1. Enable **Always notify mobile** in Admin -> General -> Notifications
2. Go to any chat to talk w

[2020-03-02 06:44] antkaz opened #16766 "slackBridge method slackAPI.getChannels returns incomplete list"
### Description:

The API method `conversations.list` Slack API returns 100 items by default. If channels in Slack over 100 items then channel may be not found from the list.

Also, if limit up to 1000 items, this does not guarantee that a complete list will be received
https://api.slack.com/methods/conversations.list

need to iterate over the entire list using the parameter `cursor`

### Server S

[2020-03-02 06:44] aleadco commented on #16765
This error was also reported in https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1794

[2020-03-02 09:56] Yolgie commented on #8989
Basic escaping would be awesome for all the formatting characters `*~_

[2020-03-02 11:17] danel1 commented on #12416
@tassoevan any news on this? E2E is pretty useless like this..

[2020-03-02 12:50] sampaiodiego commented on #16453
thanks for letting us know.. great you found the issue 🤗

[2020-03-02 14:33] engelgabriel commented on #3899
@tassoevan is this still the case?

[2020-03-02 14:34] engelgabriel commented on #3899
We are now setting cookies as secure if the chat was accessed via https. Does this resolve the issue?

[2020-03-02 14:36] engelgabriel commented on #3899
Please reopen if this is still a problem after the change.

[2020-03-02 14:36] #3899 closed

[2020-03-02 15:46] rj11 commented on #15880
I'll be darned, well I can eat crow no problem.  I never thought they'd bring it back.

[2020-03-02 16:33] amoebav commented on #13608
I have version 2.2.0 and was having problems with push notifications. Eventually I got push notifications work. Later down the road (today) I had to remove my user and import a different user from ldap. Now I get, "There are not tokens for this user".

[2020-03-02 17:15] rpgoldman commented on #16656
@ggazzo @gabriellsh -- I'm not sure I'm doing the right thing here, but I cracked open the dev tools, and set a break point in app.js inside `handleLogin()`.  The break point is at the first line of the function, right after the function header.

When I press the Login button, I see the popup that tells me I am an unknown user, or have an incorrect password, but the `handleLogin` break point is no

[2020-03-02 17:26] rpgoldman commented on #16656
Looks like the error signaling is here: https://github.com/RocketChat/Rocket.Chat/blob/9054f0dba996d3c2a653756542f374153443a670/app/ui-login/client/login/form.js#L77

Unfortunately, I'm not adept enough at using the dev tools to find this piece of the code in the dev tools.  If you could help me do that, I might be able to give you a more precise bug report, or even a patch.

[2020-03-02 18:30] gabriellsh commented on #5436
Just passing by to say that we're already planning on what to do on this case, as this screen is going to be redesigned from scratch. Thanks for anyone’s help on this! Keeping this open for the record.

[2020-03-02 20:52] Emersonsanch commented on #14013
I'm having this exact same problem.

[2020-03-02 20:53] Emersonsanch commented on #13816
I'm having this exact same problem.

[2020-03-03 06:33] ankar84 opened #16772 "Hide "Was Set Role" messages doesn't work"
### Description:

Hide "Was Set Role" messages doesn't work

### Steps to reproduce:

1. Set some users owner and moderator roles
2. Set **Hide System Messages** in channel settings
3. Set **Hide "Was Set Role" messages** in hide settings
4. Make sure that system messages are still in chat

### Expected behavior:

All expected system messages are hide when corresponding settings are set

### Actua

[2020-03-03 07:00] pehlert opened #16773 "App Framework suddenly throws TypeError that makes sending messages impossible"
### Description:

Suddenly our Rocket.Chat instance stopped working and returned TypeError responses to users.
We had updated to 3.0.2 about 4 days earlier and it was working stable since then. We were not able to identify any event that led to this behaviour. A restart did not fix it.

As it seems to be related to the App Framework, we tried to disable our only extension "Giphy" at first. This di

[2020-03-03 08:58] armagankaratosun commented on #15159
Hi @MarqtransIT,

I also had the same problem and I fixed it with disabling the "UTF8 Names Slugify". Just navigate through Settings --> General --> UTF8 and disable it.

![image](https://user-images.githubusercontent.com/5826329/75759192-75400080-5d35-11ea-9cfd-1390d84d0730.png)

Cheers!

[2020-03-03 09:41] MagnaibayarMN commented on #16647
I also faced on this problem.
so i solved by create new client scope named "**user_name**", it must points to username attribute of user. you can choose mapper type to **user property**.

then you can configure user name field to **username** property of token.

[2020-03-03 10:24] TheoKouzelis commented on #16482
Not sure if this will help you. But in Rocket 3.0.2 (it may be in earlier versions as well) it allows you to edit the email html via the admin UI in /admin/Email.

There you can edit the messages for both Public Registration and Registration via Admin. It allows you to add and remove placeholders such as [password]  [Site_URL] .....

![password-email](https://user-images.githubusercontent.com/4980

[2020-03-03 10:28] RSchlaeger commented on #14936
Hey the worked for a while yes. 😊
Project was buried after all sadly…

Thanks for asking though!

Von: Rodrigo Nascimento <notifications@github.com>
Gesendet: Donnerstag, 27. Februar 2020 12:39
An: RocketChat/Rocket.Chat <Rocket.Chat@noreply.github.com>
Cc: Robert Schlaeger <schlaeger@medialesson.de>; Comment <comment@noreply.github.com>
Betreff: Re: [RocketChat/Rocket.Chat] LDAP Error Timeout (#1

[2020-03-03 10:59] himpierre opened #16774 "messages window does not scroll to bottom after adding emoji"
Hello Devs.

With 3.0.x releases adding emojis to messages seems to be a bit buggy. A new message appears completely but an emoji is only partly shown. Please see the gif. It explains the issue best.

![scroll](https://user-images.githubusercontent.com/40269193/75769091-d40d7600-5d45-11ea-8eb8-9bb35c43e975.gif)

thanks and cheers, t.

[2020-03-03 11:42] ankar84 commented on #16772
Related #16243

[2020-03-03 12:43] jorpiell commented on #15583
Still not fixed in 3.0.3

[2020-03-03 13:55] ritwizsinha commented on #16758
@gabriellsh please review

[2020-03-03 16:55] ed1nh0 commented on #16192
+1

[2020-03-03 17:06] xtilyn opened #16777 "Logout from custom oauth does not log user out"
### Description:

When authenticated through custom oauth, logging out from the server does not completely logs user out.

### Steps to reproduce:

1. Authenticate through oauth
2. Logout
3. Try to log back in --> app redirects back in to the previous signed in account

### Expected behavior:

App should prompt user credentials.

### Actual behavior:

App redirects back in to the previous signed i

[2020-03-03 17:09] #16777 closed

[2020-03-03 18:08] justinr1234 commented on #11377
I'm trying to enable this on the open.rocket.chat server and see a 401 error:

[code]

It seems `rocket.cat` is still enabled on the open.rocket.chat server. I'm able to retrieve messages in the Zapier test step, so something seems to be working. One thing I noticed is that the API request does not match the docs:

https://rocket.chat/docs/developer-guides/rest-api/authentication/me/

The docs rec

[2020-03-03 18:43] hifihedgehog commented on #11213
Is this feature actually working?

[2020-03-03 19:29] AgentTNT opened #16778 "Manual app install issue"
### Description:

After enabling dev mode access for app installs, after selecting the ZIP and clicking install, the button does not do anything. No errors are displayed on the page and no refresh occurs.

### Steps to reproduce:

1. Enable Dev mode for local app install
2. Admin -> Apps -> Upload App
3. Install from file -> Browse/select
4. Click Install

### Expected behavior:

Some sort of prog

[2020-03-03 20:25] d-gubert commented on #16778
This behavior had been seen before, I honestly thought it had been fixed 🤔

There are 2 workarounds you can try while this is not properly fixed:
1 - Try to do the same in a non-windows machine
2 - Use `curl` (or even Postman) to upload the file to the server, e.g.:
`$ curl '{YOUR_SERVER_URL}/api/apps' -H 'X-Auth-Token: {TOKEN}' -H 'X-User-Id: {USERID}' -F 'app=@path/to/app/zip'`

[2020-03-03 21:04] AgentTNT commented on #16778
Worked fine on macOS 10.15.3 with both Chrome and Firefox via the app upload

[2020-03-03 22:47] rodrigok commented on #14936
I'll close this issue then. Please open a new issue if the problem persists.

[2020-03-03 22:47] #14936 closed

[2020-03-04 04:36] ankar84 commented on #16774
Same with messages with link preview
![link](https://user-images.githubusercontent.com/4023037/75845637-c827bf80-5dea-11ea-9ba6-f14ed134e642.gif)

[2020-03-04 04:45] ankar84 commented on #16774
I think it's related to #16071

[2020-03-04 04:55] ankar84 commented on #12119
Why that request converted to discussion?
IMHO, it is a must have function, that a lot of popular and enterprise messages do have, for example Skype for Business (and Skype too), IBM SameTime, almost any XMPP messenger and an old good ICQ.
Our user asking that feature actively.
So @engelgabriel @marceloschmidt please consider to develop that feature, it would be a great improvement for such good m

[2020-03-04 07:14] himpierre commented on #16774
Quoted messages are affected by this bug too.

[2020-03-04 11:19] drasbeck opened #16780 "Emojis are not shown in file upload file name and file comment."
### Description:

 When uploading files to RC it is not possible to use emojis in neither file name nor file comment. Emoji picker is not invoked and typing out the code for an emoji, e.g., :flag_dk:, does not work either. The bug also affects custom emojis.

### Steps to reproduce:

1.  Initiate uploading a file in a channel, group, message, etc.
2.  Input code for emojis or custom emojis in file

[2020-03-04 14:05] rodrigok commented on #11377
@justinr1234 our open server is not intended to be used for zapier integrations of 3rd party users. Please set up your own server or start a server in our cloud to set up your integration.

On open.rocket.chat the zapier integration is disabled.

[2020-03-04 14:48] rasos commented on #12287
A more flexible solution would be to accept an addition parameter `?layout=embeddedTopNavOn` and let that override the setting.

[2020-03-04 21:24] svt7389 opened #16785 "Crappy file upload feature in Github, doesn't allow uploading of Password Protected documents"
Too much disappointed to see that, in Github, when you try to upload any password protected document/files like Word(.doc, .docx) or Excel(.xls, .xlsx) or Powerpoint(.ppt, .pptx), the crappy file upload box, just shows it is loading the file in the blue color, but never finishes upload progress bar....

Just wake-up from your deep sleep and fix this simple and easy-to-find bug, ASAP....

Let me kn

[2020-03-04 21:31] #16785 closed

[2020-03-05 08:29] mr-karan opened #16788 "Unable to connect to marketplace"
### Description:

Unable to login to marketplace after registering workspace on Rocket.Chat Cloud Connect.

### Steps to reproduce:

1. Go to https://my.domain.com/admin/cloud and connected workspace to `Rocket.Chat Cloud`.

![image](https://user-images.githubusercontent.com/5689132/75961779-9d239580-5ee8-11ea-8856-3a98df8988ac.png)

2. Click on `Login to Rocket.Chat Cloud` to enable marketplace.

[2020-03-05 08:46] sflyer commented on #16611
ubuntu 18.04.
Follow instructions in https://rocket.chat/docs/installation/updating/
after sudo systemctl start rocketchat get error:

● rocketchat.service - Rocket.Chat server
   Loaded: loaded (/etc/systemd/system/rocketchat.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Thu 2020-03-05 13:46:13 +05; 8s ago
  Process: 10264 ExecStart=/usr/local/bin/node /opt

[2020-03-05 09:05] Wirone commented on #16746
@sampaiodiego @rodrigok could you look at this? Is it something you consider?

[2020-03-05 09:57] stefanandres commented on #16788
I have the same behavior with 3.0.1

[2020-03-05 11:32] bakaut opened #16789 "Drops connections to LDAP server"
### Description:

Drops connections to LDAP server

### Steps to reproduce:

Check rocket chat logs, docker logs -f

### Expected behavior:

No error logs

### Actual behavior:

Error logs

### Server Setup Information:

- Version of Rocket.Chat Server: 3.0.0 (docker image)
- Operating System: Centos 7
- Deployment Method: docker-compose (app in docker, mongo on host)
- Number of Running Instances

[2020-03-05 12:37] pierre-lehnen-rc commented on #16713
You can change the auth context in the `Custom Authn Context` setting, under SAML.

[2020-03-05 13:48] sampaiodiego commented on #16746
hi @Wirone we have tried to this already a few times without success..

we're definitely accepting contributions on this matter.

[2020-03-05 13:52] pierre-lehnen-rc commented on #16431
You can change the `Immutable field name` setting to username instead of email.

[2020-03-05 14:18] rsjr opened #16791 "Public channel cannot be acessed via URL when 'Allow Anonymous Read' is active"
### Description:

Public channel cannot be acessed via URL when "Allow Anonymous Read" setting is active.

### Steps to reproduce:

1. Go to Settings -> Accounts -> Activate "Allow Anonymous Read"
2. Try to access a public room using the URL path (example: http://YOURHOST/channel/general)
3. Room will be stuck (loading)

![screenshot_13](https://user-images.githubusercontent.com/11891939/75989970-

[2020-03-05 15:18] melikesofta commented on #16692
I have the same issue. My existing incoming hook stopped working after I upgraded to 3.0.3 today and I cannot fill in the 'script' field, says it successfully saved but it's empty when I refresh or close and open the integration details.

[2020-03-05 16:17] serviceman commented on #16702
When will that be included in a release so I can test it?

[2020-03-05 18:11] engelgabriel commented on #9205
We should add a comment to allow to invite @all as we have invite from channels

[2020-03-05 18:17] engelgabriel commented on #10194
We need a test for this kind of deployment as part of our CI.

[2020-03-05 18:20] engelgabriel commented on #10349
@geekgonecrazy  can you test this again? It seems to be fixed.

[2020-03-05 18:26] engelgabriel commented on #10349
This happens because we load the setting via WebSockets, the ReactJS rewrite should fix this.

[2020-03-05 18:29] engelgabriel commented on #10364
We should use the language of the receiving user for the message.

[2020-03-05 18:49] #16338 closed

[2020-03-05 18:59] sotoplatero commented on #1975
same issue with verison 3.0.3 i am running nodejs 12.16.1

[2020-03-05 19:36] sotoplatero commented on #1975
I resolved with

[code]

It is one of the steps of the installation guide https://rocket.chat/docs/installation/manual-installation/ubuntu/

[2020-03-05 21:14] engelgabriel commented on #16418
Hi @manosriram,

I am sorry but this is a case of taste and our designer has aligned the logo to the left on purpose.

Users can change the logo aliment using the custom CSS setting on the admin if they prefer.

:)

[2020-03-05 21:14] #16418 closed

[2020-03-06 00:22] engelgabriel commented on #10955
I like what you are doing @ashwaniYDV

I'll add some comments regarding the enable/disable setting on the PR

[2020-03-06 00:38] jtorrex commented on #16611
`● rocketchat.service - The Rocket.Chat server
   Loaded: loaded (/lib/systemd/system/rocketchat.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Fri 2020-03-06 01:33:42 CET; 1s ago
  Process: 16559 ExecStart=/usr/local/bin/node /opt/Rocket.Chat/main.js (code=exited, status=1/FAILURE)
 Main PID: 16559 (code=exited, status=1/FAILURE)

Mar 06 01:33:41 opsrocketch

[2020-03-06 00:39] ashwaniYDV opened #16795 "Visitor and livechat agent info flexTab data is not defined if accessed by clicking guest/agent name/avatar"
### Description:
When a livechat agent clicks on guest-user or livechat-agent's name or icon then blank user-info flexTabBar is rendered.

### Steps to reproduce:

1. Chat with a guest as livechat agent
2. Click on username or avatar of livechat agent or guest

### Expected behavior:
It should open the user-info same way as it is opened by clicking user-info button on the room header

### Actual b

[2020-03-06 00:58] jj534 opened #16796 "Emoji code not converted into an emoji in Channel Name"
### Description:

When creating a channel, emoji code in the channel name is not converted into an emoji.

### Steps to reproduce:

1. Attempt to create a new channel. The "Create a New Channel" popup appears
2. Input emoji code into the channel name ex) ":smile:" ":laughing:"
3. Click "Create"
4. In the new channel name, the emoji code are shown as the code itself, instead of getting converted in

[2020-03-06 02:34] engelgabriel commented on #10716
@rodrigok is this more complicated than it sounds? Can we just add this filter no the backend when saving this setting?

[2020-03-06 07:43] Trans-IP commented on #16611
Same issue for me trying to upgrade to the latest release

# nodejs -v
v12.16.1

# npm -v
6.13.4

# cat /etc/issue
Debian GNU/Linux 9 \n \l

[2020-03-06 07:47] Trans-IP commented on #16611
Hey I think I figured it out!
From the debian install guide:

`sudo npm install -g inherits n && sudo n 12.14.0`

This seems to do the trick with the latest release (3.03 in my case)

[2020-03-06 07:58] jtorrex commented on #16611
Hi all,

In my case. I discovered that Node was successfully upgraded on my Debian box. You also can test it looking for the paths where the bins reside:

[code]
#/usr/bin/node -v
v12.16.1
[code]
My problem is that on the env of the user that I'm using, on the var $PATH, /usr/local/bin it's checked before /usr/bin:

```PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin```

If I chec

[2020-03-06 08:01] sflyer commented on #16611
Work for me, thanks!

[2020-03-06 08:39] alleait commented on #1975
@sotoplatero  doesn't solve it for me i already have correct node version .

[2020-03-06 10:11] jiaxunelectric opened #16798 "When could the official doc be updated?"
hi guys, apprecations for your hard work, due to the new  release of 3.0, so many exicting feature out there. However, the official doc in the roket.chat website still looks outdated, just wondering when it could be updated? thanks!

[2020-03-06 10:23] mrtndwrd opened #16799 "IRC federation not working, or settings unclear"
### Description:

I'm trying to set up IRC federation with Freenode. My goal is to have our organisation's support IRC channel in our organisation's Rocket.Chat. I've tried to base my settings on what information was available in #216, but the issue is unclear on how to solve the `"SERVER","Not enough parameters"` problem that's also mentioned by others there.

### Steps to reproduce:

1. go to ad

[2020-03-06 12:56] himpierre opened #16800 "DeepL auto-translate broken? rocketchat 3.0.3"
Hello Devs.

Just wanted to try deepl auto-translate. After finishing the setup for that I tried to test it but to no avail. No translation is made. Logfile:

`
I20200306-13:44:43.451(1) server.js:204 System ➔ error Error translating message Error: failed [403]     at Object.exports.makeErrorByStatus (packages/http.js:176:10)     at Request._callback (packages/http.js:140:24)     at Request.self.c

[2020-03-06 15:25] sheuschkel opened #16802 "Default User Preferences for "MessageBox View Mode" could not be saved"
### Description:
Cant save default user preferences for messagebox view mode

### Steps to reproduce:
1. Installed with docker-compose as described in https://rocket.chat/docs/installation/docker-containers/
2. Setup finished with administration account
3. goto administration
4. goto accounts
5. goto default user preferences
6. change MessageBox View Mode from normal to cozy or compact
7. save set

[2020-03-06 16:49] arpsyapathy opened #16803 "Rocket Chat + Jitsi + LDAP."
Hi all!

Whe i start video conf fro, Rocket Chat with Jitsi all users of conf have username "Fellow Jitsi".
Is it possible to put username from Rocket Chat to Jitsi video conf?
I use ldap for Rocket chat. I want to see my rocker chat username in Jitsi video conf.

Thank you

[2020-03-06 16:58] jibe-b opened #16804 "[feature] add subject to message so that email notification has a custom subject"
## Current state

An email notification for a message posted in a canal has a subject of type "XXX has posted a message in #channel"

## Expected state

The email notification has a custom subject

## Suggestion of implementation

Markdown interpreters often take into account yaml/toml headers (pandoc and the libraries used by jekyll and hugo do, as far as I know).

A message starting with a heade

[2020-03-06 18:05] nixpc commented on #3661
@marceloschmidt What is the reason behind not planning to add this? It seems like it would be an amazing feature for RocketChat to have.

[2020-03-06 18:13] marceloschmidt commented on #3661
Our statement is that we will not be building this ourselves, but like stated before, we're open to pull requests with that feature.

[2020-03-06 19:14] Calpoog opened #16807 "Bot editing messages are received but not shown"
### Description:

When my bot using the rocketchat js sdk edits its own message, often (but not always) the message does not update visually in the front end. In the websocket logs I can see that the updated message was received and the content is correct. Sometimes the message will flash (and it is correctly marked with the edit pencil icon) but then goes back to its previous state. A subsequent

[2020-03-06 19:36] geekgonecrazy commented on #16788
Thanks for reporting.  Taking a look at it now.  Looks like its something on our side

[2020-03-06 19:46] geekgonecrazy commented on #16788
@mr-karan @stefanandres this should now be resolved.  Please let me know if its doesn't go away for you.

[2020-03-06 22:10] #16788 closed

[2020-03-06 23:53] dickensdjj opened #16808 "Not showing Chinese characters on channel name in mobile app when language is set to Chinese"
### Description:

I've run the rocket chat on my own server and intend to use as the major team communication for China mainland team. Everything works perfect in desktop app and web app, but on the mobile app (both andriod and IOS), no chinese characters is shown in channel name. Instead, it translates to pinyin, which can be presented in English alphabet.

### Steps to reproduce:

1. Go to Layou

[2020-03-07 10:33] ashwaniYDV commented on #12938
@renatobecker I am working on it

[2020-03-07 20:55] gelinger777 opened #16813 "Let Admins Edit Custom Fields"
I couln'd find following. Is it possible to make it so that the admins , during editing User account were able to edit also custom fields data of users?

[2020-03-08 06:30] 564064202 opened #16815 "“”Invite Link“ ,our users can only use rocket.chat in our own network,we can't visit https://go.rocket.chat/invite"
“”Invite Link“ ,our users only can use rocket.chat in our own network,we can't visit https://go.rocket.chat/invite
so we can't use the Invite Url function

[2020-03-09 04:45] TeraMind244 opened #16816 "Auto-assigning bot to livechat feature should check the availability of the bot agent"
### Description:

Due to the security issue, we set up session timeout to be 1 day for our Rocket.Chat instance. This leads to the situation that our bot adapter will be logged out after every 24 hours. However, when the guest attempt to create a new live-chat room, the bot agent is still auto-assigned to the live-chat room although it has been logged out. Therefore, the bot agent will not respond

[2020-03-09 06:02] mr-karan commented on #16788
@geekgonecrazy This is fixed. Thanks a lot :)

[2020-03-09 08:52] devwinner-sek opened #16817 "Logout saml: ERR_INVALID_ARG_TYPE"
Rocketchat informations:
Version: 3.0.3
Node: 12.4
Version Mongo : 4.2.3

I configured SAML with Rocketchat. I’m using WSO2 identity server

I created a service provider in WSO2, this is it’s informations :

**Issuer** :  https://rocketchat.domain.net/_saml/metadata/Roocketchat_dacrtech

**Assertion Consumer URL** : https://rocketchat.domain.net/_saml/validate/Roocketchat_dacrtech

Enable logout

[2020-03-09 09:39] stefanandres commented on #16788
Thanks, it works!

[2020-03-09 09:46] xgdgsc opened #16818 "No Visual guidence to jump to unread channel when there are a lot of channels"
### Description:

When you have a long list of favorites groups. A new message comes to a channel sorted at the top, hidden in the list that needs to scroll up to show up. You open the desktop client to see it and it takes seconds of thought to remember to scroll up and find the unread one. It makes it easier to miss messages.

Combined with https://github.com/RocketChat/Rocket.Chat/issues/16288 .

[2020-03-09 12:29] Sahil-Bhatt opened #16819 "Feature Request : Poll App delete button feature"
As of now, a user can just create new choices in the **Rocket Chat Poll App**.
A button that can help a user delete/modify a previous choice would make the interface even better and more convenient.

Link to the repository: [https://github.com/sampaiodiego/rocket.chat.app-poll](ur)

[2020-03-09 13:49] Kjarrigan opened #16820 "Feature Request: Add "missing" /api/v1/integrations.update endpoint"
According to the [docs](https://rocket.chat/docs/developer-guides/rest-api/integration/) you can create and delete Integrations but I don't see any way to change existing ones. Is there a good reason for that? Deleting and Removing is not really an alternative as this will always generate a new "token" so I would have to update my scripts everytime.

_Intended Use-Case:_ Manage the Webhooks in a g

[2020-03-09 14:16] #16795 closed

[2020-03-09 14:20] frdmn opened #16821 "Removal "admin" role of last admin should not be possible"
### Description:

Currently it's possible to remove the "admin" role from the current logged in admin even though they're the last one available within the Rocket.Chat instance. As soon as they hit the save button, they're locked out of the admin UI.

Just as we have a [check in place to prevent the _removal_ of the last admin](https://github.com/RocketChat/Rocket.Chat/blob/develop/app/authorizati

[2020-03-09 14:34] reetp commented on #16815
Buried, but there.

Admin/Accounts/Registration/Invite URL Type

It does make you wonder what happens to the data that is collected by go.rocket.chat? There is no notification that data gets sent there when you create a link.

[2020-03-09 16:09] #15342 closed

[2020-03-09 16:21] dg-otrs commented on #16799
Having the same "trouble".

Bit some more documentation would be awesome. So far I will try: https://github.com/RocketChat/Rocket.Chat/pull/10113

[2020-03-09 16:21] pkavajin opened #16822 "Room not found on first DM"
### Description:
When trying to write a DM to a new user the very first time, an "broken" error page appears, showing "Room not found" as title and "Error, too many requests. Please slow down. You must wait 46 before trying again." When switching back to another screen and trying the same thing again after that, it's fixed for that user.
Sadly no error message or warning is logged on the server.

[2020-03-09 16:38] justinr1234 commented on #11377
@rodrigok I know we talked on RC chat, did you ever find out if there's a way we can still do this in the case of Private channels on open.rocket.chat ?

[2020-03-09 16:46] juliensl opened #16823 "To much places to post feature requests"
Hi the team !

I think that there is a communication problem for feature requests (and maybe for issue too).

Today, you can post Feature request :

- In the rocket chat forum : https://forums.rocket.chat/c/feature-requests/8 (depreciated since 2018 but still in activity)
- In the feature request repository : https://github.com/RocketChat/feature-requests/issues ( but lot's of discussions still wi

[2020-03-09 20:36] rodrigok commented on #11377
@justinr1234 can you test now? It was just a missing permission.

[2020-03-09 20:39] ml48603 opened #16824 "Jump to Date Feature Bounty"
I am interested in this feature.  Can this feature be implemented by a rc marketplace app plug in ? Has anyone incorporated this feature into an existing  app?  Would be interested in sponsoring a bounty on this programming with other interested parties

Ref
Jump to Date #3158
 Closed	cjanietz opened this issue on May 6, 2016 ·
https://github.com/RocketChat/Rocket.Chat/issues/3158

[2020-03-09 20:59] justinr1234 commented on #11377
@rodrigok It works! Great work!

One thing, and this isn't for this ticket, but the events in Zapier won't fire for discussions created off of the original private channel. Is it possible to get a UI option in Zapier that allows to include Discussions as well? Could make it an optional switch.

[2020-03-09 21:53] inimatic opened #16825 "Livechat and site url in general settings (No avatar in the Lievechat)"
In the General settings the site url example hint uses a final slash. But with the slash the lievechat couldn't show avatars and files because of double slash in url. If I set the site url in the General settings without final slash then the lievechat works well.
So fix in the url hint on the General settings or url construction in the lievechat should be fixed.

[2020-03-09 22:13] rodrigok commented on #11377
Uhm, I need to check if we have the necessary APIs

[2020-03-10 01:51] renatobecker commented on #16825
Hi @inimatic, can you please give more details about this issue?
For instance, which browser are you using?

[2020-03-10 02:55] 564064202 commented on #16815
thks

[2020-03-10 02:55] #16815 closed

[2020-03-10 03:01] 564064202 opened #16827 "How to upgrade a 2.* version to 3.* version?"
I want to upgrade 2.4.11 to 3.*，could you give me a hand?

[2020-03-10 03:32] routerino commented on #14895
Any progress on this? Encountering this identical issue and it's making me tear my hair out.

[2020-03-10 04:00] 564064202 opened #16828 "How to edit files in snap (we used snap package)"
How to edit files in snap (we used snap package),
some words have not been translated,so we wan to edit.
some translation are wrong ,so we want to edit.

[2020-03-10 04:40] 564064202 opened #16829 "customer translations bug"
version:2.4.11
![image](https://user-images.githubusercontent.com/12368358/76280212-0da52a80-62cc-11ea-8b4c-da398c37658b.png)

I wan't use customer translations,because some translations are wrong,
but when I use customer translations as below:
![image](https://user-images.githubusercontent.com/12368358/76280298-552bb680-62cc-11ea-9907-11459ee2998b.png)

![image](https://user-images.githubusercont

[2020-03-10 04:41] 564064202 commented on #16829
I want to know how to fix it ,or how to upgrade lastest version

[2020-03-10 05:13] inimatic commented on #16825
Google Chrome latest on Windows 10. The same on latest chrome on Android.
RocketChat Version | 3.0.0
Apps Engine Version 1.12.0

[2020-03-10 05:23] inimatic opened #16830 "Second video call in Lievechat with Jitsi Meet repeated refrash"
If I make second Video call using Jitsi Meet (JM) to Lievechat client then the JM web page hangs by continuous refreshing.
First call goes well.

BTW. Client didn't receive a link to the JM video call but empty message showed.  So I had to copy the JM link and post it to the client chat.

Client:
Calling from: Google Chrome latest on Windows 10.
Calling to: Latest chrome on Android or Google Chrom

[2020-03-10 06:52] antkaz opened #16831 "starred messages in threads are not displayed"
### Steps to reproduce:

1. Make a message in thread as starred
2. Open starred messages for room

### Actual behavior:

![image](https://user-images.githubusercontent.com/19654261/76286931-1c3c1380-62c5-11ea-894b-619b8be7ec59.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 3.1.0-develop

[2020-03-10 07:27] auqf opened #16832 "send file"
I use the lastest of the pc rocket.chat, I offen meetting the problem, I can not download the file of the others send to me? why? But I can get the file by the browser of the file's url

[2020-03-10 08:13] 564064202 opened #16833 "how to choose gridfs vs filesystem"
how to choose gridfs vs filesystem,which one is better?

[2020-03-10 08:48] ssartorius opened #16834 "No duplicate firstname / lastname combination possible anymore"
### Description:

In earlier versions we were able to create users with same firstname and lastname, as you can see in the screenshot (communication is over REST API).

![Screen_from_userlist](https://user-images.githubusercontent.com/57718460/76294805-d591ed80-62b3-11ea-9f49-a8f7faf64e3c.png)

If a username already exists, we append the ID from our system, to make sure the username is unique (it'

[2020-03-10 08:55] ritwizsinha commented on #16831
@gabriellsh please review

[2020-03-10 09:39] antkaz commented on #16831
@ritwizsinha thanks for your help!)

[2020-03-10 09:44] ritwizsinha commented on #16831
You welcome @antkaz

[2020-03-10 11:04] ankar84 opened #16836 "How to add custom file type to Accepted Media Types"
### Description:

There is no way to add custom file type to **Accepted Media Types**

### Steps to reproduce:

1. Try to send **text.cs** file
2. Get error **Media Types not Accepted** on type `*.cs`
3. Admins adds `*.cs` to **Accepted Media Types**
4. You still get the same error.

### Expected behavior:

When admin adds to **Accepted Media Types** particular type from **Media Types not Accepted

[2020-03-10 11:41] talheim-it commented on #16830
Hello @inimatic,

bug is already fixed in a later version.

Please upgrade your installation to 3.0.3

Yours,
Mathias

[2020-03-10 11:45] talheim-it commented on #16827
Hello @564064202,

what installation do you use? Non-docker?

If yes:
https://rocket.chat/docs/installation/updating/

I would prefer that way:

-  mongodump --out /opt/backups/rocketchatbackup
-  mv /opt/Rocket.Chat/ /opt/backup
-  systemctl stop rocketchat.service
-  curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
-  tar -xzf /tmp/rocket.chat.tgz -C /tmp
-  cd /tmp/b

[2020-03-10 11:47] 564064202 commented on #16827
thank you ,but I use snap ,how to upgrade?

[2020-03-10 11:47] talheim-it commented on #16832
Hello @auqf ,

which rocket.chat version of the server and which client version?

Yours,
Mathias

[2020-03-10 11:49] talheim-it commented on #16827
@564064202

https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/

sudo snap refresh rocketchat-server

[2020-03-10 11:51] 564064202 commented on #16827
my version is 2.4.11,but this command result is:
snap "rocketchat-server" has no updates available

[2020-03-10 12:00] talheim-it commented on #16827
@564064202 there is no package yet for version 3.

I just tried in on a fresh installed vagrant box on ubuntu 18.04.

You have to wait till it become available.

So you can close this ticket and just wait.

[2020-03-10 12:03] 564064202 commented on #16827
Thank you every much ,but could you tell me what's the diffrence between 2.* and 3.*

[2020-03-10 12:06] talheim-it commented on #16827
@564064202 ,
https://github.com/RocketChat/Rocket.Chat/releases

You can see the changes there. :)

Just read the changelogs.

[2020-03-10 12:07] inimatic commented on #16830
Sorry. I will upgrade the server.

вт, 10 мар. 2020 г., 14:41 Mathias Rumbold <notifications@github.com>:

[2020-03-10 12:09] 564064202 commented on #16827
@talheim-it thank you.
"I just tried in on a fresh installed vagrant box on ubuntu 18.04."
sir ,when you finish it,please tell me .bye....

[2020-03-10 12:12] #16827 closed

[2020-03-10 12:40] Venomen commented on #2194
This bug still exists in 3.0.2

[2020-03-10 13:56] rafaelUrutu opened #16873 "Bug when edit message"
## My Setup

- Operating System: Linux Mint 19.2 Tina
- App Version: 2.17.1
- Installation type: package manager

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
- When I edit one word into chat rocket app for desktop Linux, it change the message but it do not change the message replayed.

### Current Behavior
Don't change word replayed when edit s

[2020-03-10 14:01] cmol commented on #12781
I had this issue in a docker container setup, with one mongodb container and one rocketchat.

It was the name of the replication set member that was not getting updated (it was set to the name of the container when mongodb was created). Changing it to the name of the current container fixed the issue, but this needs to be done any time you update the container which seems like a bad idea. Don't kn

[2020-03-10 14:35] #16766 closed

[2020-03-10 14:38] #16758 closed

[2020-03-10 14:38] #16741 closed

[2020-03-10 16:21] mar-v commented on #16594
Same issue with .cs files (despite adding text/plain MIME type to the accepted media files, .cs files are not being uploaded, giving the same error. [https://github.com/RocketChat/Rocket.Chat/issues/16836](url)

[2020-03-10 16:36] dg-otrs commented on #16799
Was using #10113 recommendations. with same config file from
#1 https://github.com/RocketChat/Rocket.Chat/pull/10113#issue-174534240

Still not able to get it working

I20200310-16:28:53.090(0) [irc][server] Connecting to @xxx.com:6667
I20200310-16:28:53.132(0) [irc][server] Connected! Registering as server...
I20200310-16:28:53.133(0) [irc][server] Sending Command: PASS  0210 ngircd
I20200310-16:

[2020-03-10 17:19] #16716 closed

[2020-03-10 17:23] ashwaniYDV commented on #12938
hi @renatobecker For livechat rooms name property is not defined. Therefore `RoomManager.openedRooms[subscription.t + subscription.name]` is undefined for livechat rooms. I have fixed this by taking `rid` in place of name.
Please review #16809

[2020-03-10 18:48] slowflyer commented on #13945
I got this error fixed, when realized that web hooks are needed to installed for BBB

After running

sudo apt-get install bbb-webhooks

on my BBB installation, I was able to start a Video Conference in Rocket Chat

[2020-03-10 19:52] lucassmacedo commented on #13934
up

[2020-03-11 03:37] #16829 closed

[2020-03-11 06:10] ggazzo commented on #16819
Sorry, @Sahil-Bhatt but I don't think this is the right place...the poll app is not under our organization :(  ... Since you opened an issue there, I will close this one, feel free to contribute in both projects :)

[2020-03-11 06:10] #16819 closed

[2020-03-11 06:54] KBelous commented on #7897
you need to subscribe to stream-notify-logged subscription with user-status event.
https://rocket.chat/docs/developer-guides/realtime-api/subscriptions/stream-notify-logged/

[2020-03-11 09:37] yuhaihan opened #16839 "Log in to the administrator account, and click any one of the management interfaces to fail to respond"
![image](https://user-images.githubusercontent.com/42633508/76402873-fdba4300-63be-11ea-85ac-8661de5da267.png)

[2020-03-11 10:04] pkonnov commented on #16745
@gabriellsh good afternoon. can you assign to me?

[2020-03-11 10:41] jamesbruce166 opened #16840 "Login via Crowd fails with certain symbols"
### Description:

Rocket.Chat authentication fails via Crowd, when using the following symbols within the user password - all have been tried and tested individually:
§ Ä Ö Ü ´ ° ß ä ö ü £ $

Tried and tested on:
Rocket.Chat <= 3.0.3
Crowd Version: 3.4.6

A list of all symbols tested individually are:
! " £ $ % ^ & * ( ) _ + = @ : ; § Ä Ö Ü ´ ° ß ä ö ü ~ # < > \ / | ?

### Steps to reproduce:

1.

[2020-03-11 12:05] 564064202 opened #16841 "how to use rest api send a message with local files(or images)"
sir,how to use rest api send a message with local files(or images)?
I didn't find any method in 'https://rocket.chat/docs/developer-guides/rest-api/‘，please give me a hand.

[2020-03-11 12:13] adrianovieira opened #16842 "Failed to sync with Rocket.Chat Cloud error_updating_account_in_zoho_crm"
Hi!

After we upgraded from 2.4.7 to 3.0.3, we are facing this error on our on-premise Rocket Chat.

[code]

Please, can you explain what exactly this does and what are rocket chat  trying to do here?

[2020-03-11 13:03] #15765 closed

[2020-03-11 13:10] #16303 closed

[2020-03-11 13:12] #16091 closed

[2020-03-11 14:24] #16573 closed

[2020-03-11 14:30] renatobecker commented on #12938
The Livechat rooms can't use the `name` property because there is a unique index for this field and the Livechat rooms use the guest/visitor name to identify the room, so it would be duplicated. Due to that, the Livechat rooms use the `fname` property instead of the `name` property.

Thanks.

[2020-03-11 16:25] corecache commented on #15018
Workaround in FIrefox:
- Right click on the video element and choose show controls
- Either use the audio slider to reduce volume to 0 or click on the sound icon to mute/unmute the element

[2020-03-11 16:26] TheZLabs opened #16844 "Cannot add Marketplace Apps - Not Authorized"
![image](https://user-images.githubusercontent.com/59536236/76439831-625fa880-6393-11ea-90a8-f14ca966a417.png)

This happens with any app I try to install from the marketplace. I have made no changes to the server especially regarding permissions. This has not been an issue before.

[2020-03-11 16:26] corecache commented on #15018
Possible solution in RocketChat:
Simply deliver the video element with muted="muted" element or any other sane and proper way to muted the sound of the video element

[2020-03-11 16:59] Shaverdoff commented on #15018
Already trying.. no effect, still echo

Отправлено с iPhone

[2020-03-11 18:37] subham103 commented on #16191
I want to work on this issue. One doubt is if the client ends the chat, whom should we ask to give this conversation a tag, client or the agent assigned? Imo It should be the agent whom we should bother for things like tags. What say?

[2020-03-11 18:55] renatobecker commented on #16191
Hi @subham103, I'm working on this issue, it'll be available on our next release -> `3.1`.
Thanks.

[2020-03-11 19:03] mramadanahmed opened #16846 "Error in OAuth Server: Match error: Expected string, got undefined"
Hello, I am trying to set a custom OAuth login for Rocket.Chat

It goes into oauthorize, token and me end points and fail with "No matching login attempt found"

I check the logs and I found the following error based during getting the user info

 I20200311-19:00:23.116(0) server.js:204 CustomOAuth ➔ debug Identity response {   "username": "mramadan1212",   "name": "Mohamed Ramadan",   "avatar": "

[2020-03-11 19:50] corecache commented on #15018
Updated workaround description to clarify which mute is meant (to many mutes available)

[2020-03-11 20:09] gabriellsh commented on #16839
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-03-11 20:09] #16839 closed

[2020-03-11 20:10] monarkh-karina opened #16847 "[FEATURE] Add a possibility to see people who read the message."
Currently, there is no way to see who were the users that read it - would be good to have it (Facebook Messenger like).

![messenger](https://user-images.githubusercontent.com/45059765/76459130-53551680-63e4-11ea-8655-0ad27e5f7f41.png)

[2020-03-11 20:11] monarkh-karina opened #16848 "[FEATURE] Add a possibility to see everybody who reacted to the message."
Currently, when you are checking who reacted to the message with a certain emoji only 15 users are shown, so if you have 25 people reacted with a thumbs up to your message - you'll see names of only 15 of them + "and 10 more people" - would be good to be able see the whole list with the names of everybody.

[2020-03-11 20:56] ashwaniYDV commented on #12938
@renatobecker Got it :+1:
So we have to rely on `RoomManager.openedRooms[subscription.t + subscription.rid]` instead of `RoomManager.openedRooms[subscription.t + subscription.name]` for solving this issue.

[2020-03-11 21:24] talheim-it commented on #16844
@TheZLabs did you update the server latestly?

Maybe that is an marketplace error with your account. I mean an issue on the marketplace side.

Just try again a bit later again

[2020-03-11 21:27] Bengrunt commented on #16594
That looks very much like the same issue indeed.

[2020-03-11 21:29] talheim-it commented on #16833
@564064202 that is not an issue.
Such things should be placed in the discourse channel of rocket.chat:
https://forums.rocket.chat/

Example/reason for:
https://docs.mongodb.com/manual/core/gridfs/

[2020-03-11 21:32] talheim-it commented on #16823
It depends on.

It makes sense to post them into github, since most active people have an github account.

The easiest way from my perspective to switch to github is to write the community manager or moderator to close the discourse channel and just link to the github repo :)

Yours,
Mathias

[2020-03-11 21:35] talheim-it commented on #16808
@dickensdjj can you switch tthat to rocket.chat/reactnative client?

you posted into the server and not into the app version :)

Otherwise copy the content to the reactnative and close this one.

yours,
Mathias

[2020-03-11 21:41] talheim-it commented on #16734
@vidyabuddhiraju well the issue is clear:
Feb 27 20:50:41 mediamachine rocketchat[951]: Error: Cannot find module '/opt/Rocket.Chat/main.js'

Please check all, maybe one step didn't pass correctly or is missed.

Yours,
Mathias

[2020-03-11 21:52] mar-v commented on #16821
You can do the same by deactivating yourself as well. Administration -> Users -> User info -> Deactivate.

[2020-03-11 23:36] nerotov opened #16850 "Can not start Rocket.Chat server 3.0.3 Centos 7"
### Description:

Rocket version 3.0.3 can not start on Centos 7

### Steps to reproduce:

https://rocket.chat/docs/installation/updating/

### Expected behavior:

Rocket.Chat server started.

### Actual behavior:
`
node main.js
internal/modules/cjs/loader.js:800
    throw err;
    ^

Error: Cannot find module 'reify/lib/runtime'
Require stack:
- /opt/Rocket.Chat/programs/server/runtime.js
- /opt/

[2020-03-12 01:09] nerotov commented on #16850
Found issue but now:

 Loaded: loaded (/usr/lib/systemd/system/rocketchat.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Thu 2020-03-12 03:59:11 +03; 4min 5s ago
  Process: 989 ExecStart=/usr/local/bin/node /opt/Rocket.Chat/main.js (code=exited, status=1/FAILURE)
 Main PID: 989 (code=exited, status=1/FAILURE)

Mar 12 03:59:09 mv-service-rocket.strikerz.corp

[2020-03-12 02:26] jamping commented on #16808
slugify is true, so channel name of '测试'  is saved as ce4-shi4

[2020-03-12 02:40] dickensdjj commented on #16808
Since it is not a issue of webapp so I opened a new one [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1867).
I will close this issue.

[2020-03-12 02:40] #16808 closed

[2020-03-12 03:24] soeyi commented on #16850
`mv-service-rocket.strikerz.corp rocketchat[989]: Meteor requires Node v12.0.0 or later.`

try to update your Nodejs version

[2020-03-12 04:51] ankar84 opened #16851 "RateLimiter and CPU consumption"
### Description:

We have a lot of `RateLimiter ➔ info DDP RATE LIMIT: limit by connectionId per method` and `RateLimiter ➔ info DDP RATE LIMIT: limit by userId per method` with different names such as `stream-notify-room` - most of all, `stream-room-messages`, `UserPresence:away`, `stream-notify-logged`, `stream-notify-user`.
It begin since upgrade to 3.0.2.

In that moments we see server CPU uti

[2020-03-12 05:01] ankar84 commented on #16847
It you enable in **Admin UI => Message** two options:
- **Show Read Receipts**
- **Detailed Read Receipts**
you will be able to see who read message in it's context menu:

![image](https://user-images.githubusercontent.com/4023037/76488693-3b5ab280-6437-11ea-8ce9-84c50b7d0803.png)
![image](https://user-images.githubusercontent.com/4023037/76488749-5fb68f00-6437-11ea-866e-3906ab588482.png)
![image]

[2020-03-12 05:29] ankar84 opened #16852 "[BUG] Invite link shows Invalid or expired invite token if Registration Form is disabled"
### Description:

Invite link shows **Invalid or expired invite token** if **Registration Form** is in disabled state.
But after refresh (F5 in browser or CTRL+R in Electron) user gets in private chat.

### Steps to reproduce:

1. Go to **Admin UI => Account => Registration**
2. Set **Registration Form** to Disabled
3. As private channel owner generate a valid invite link
4. Share that invite link

[2020-03-12 07:29] ankar84 commented on #16852
We have **Registration Form Disabled** because out Rocket.Chat environment is LDAP-enabled and for now isolated for external users.
We plan to set  **Registration Form** to **Secret URL** after that https://github.com/RocketChat/feature-requests/issues/295 feature will be implemented, i.e when new registered users will be associated with custom role, that restricted in permissions a lot.

[2020-03-12 07:48] frdmn commented on #16852
Confirmed on 3.0.2 as well

[2020-03-12 08:35] dsgagi commented on #14792
Version 3.0.3 still affected by this.

[2020-03-12 09:14] juzser opened #16853 "[BUG] Top & Bottom unread bars in left sidebar is not working"
### Description:

When the left sidebar has many channels, we have a top/bottom unread bar to notice users scroll up or down to check the message.
There is a feature for this in `client/lib/menu.js` **EventEmitter** but currently it's not working.

### Steps to reproduce:

1. Creat some channels, or reduce the height of chat window until see the scrollbar for rooms list.
2. Send a message to the c

[2020-03-12 09:55] Shaverdoff commented on #15018
in desktop this does not show, in web is tu bugged

[2020-03-12 10:25] subham103 commented on #11584
I want to work on this issue:smile:

[2020-03-12 11:53] JuzSer commented on #16853
I've fixed this issue on my local, and update to show the unread bars once receive unread messages.

Please check this issue, and if it's ok so I can create a Pull Request for this.

[2020-03-12 11:58] 564064202 opened #16854 "TypeError: "'name' member of PermissionDescriptor 'microphone' is not a valid value for enumeration PermissionName.""
version：3.0.3
firefox：74
TypeError: "'name' member of PermissionDescriptor 'microphone' is not a valid value for enumeration PermissionName."
how to fire: actually，I don't know ,I just changed some user's name and username,and change the
#general channel to private readonly......

[2020-03-12 12:03] arpsyapathy opened #16855 "Push notification on mobile apps with self-hosted Rocket.Chat in local network without internet?"
Hi!

I have self-hosted Rocket Chat server in our private local network.
Server does not have Internet access.

Users have desktop apps and mobile app.
Notifications on desktop app working good.
But i don't have push notification on mobile apps.
How push notification on mobile apps with self-hosted Rocket.Chat in local network without internet?

I disable gateway and when i try send test push i ge

[2020-03-12 12:06] reetp commented on #4554
YMMV.... ;-)

I am thinking that as above, the fix to this bug is going to be 'upgrade to enterprise'

https://github.com/RocketChat/Rocket.Chat/pull/16801

"and otherwise have a valid Rocket.Chat Enterprise Edition subscription for the correct number
of user seats. Subject to the foregoing sentence, you are free to modify this Software and publish patches to the Software"

So the fix will be in t

[2020-03-12 12:09] 564064202 opened #16856 "Broadcast Channel can't reply,I can supply a remote account"
version：3.0.3
Firefox: 74
Broadcast Channel can't reply
I can supply a account
how to fire: actually，I don't know ,I just changed some user's name and username,and change the
#general channel to private readonly......

![image](https://user-images.githubusercontent.com/12368358/76524713-7b587e80-64a5-11ea-836a-0283eda87efd.png)

[2020-03-12 12:10] Shaverdoff commented on #4554
i suject wait while rodrigok get answer on it

[2020-03-12 12:12] DinDev3 opened #16857 "Guide new users through the UI of the browser application"
When a new, first-time user signs into a server, it's pretty difficult to figure out where to click first.
For an example; where the user is required to click to find channels in a server.
It's better if there is a UI-guide to guide the user through if the user requests to be guided. This can be prompted to users who sign in for the first time.

_The image below is an example_</br>
![view_all_chan

[2020-03-12 12:15] ankar84 commented on #16855
@arpsyapathy you defiantly need internet access for your Rocket.Chat server if you plan to use Push Notifications.
If you are using official marketplace applications - you need access to https://gateway.rocket.chat (443\TCP)
If you are using your own mobile application - you need access to Google and Apple networks.
Apple:
- 17.0.0.0/8 ports 443,5223,2195,2196

Google:
- gcm-http.googleapis.com po

[2020-03-12 12:41] rodrigok commented on #4554
We are just migrating the enterprise code from our closed repo to this repo under a different license so it will be easier for us to show everything we add to the EE version and make it easy for who wants to contribute to the EE features (we have customers that want to contribute as well).

So we think that things will be more clear with this move. We will not remove anything from the community ed

[2020-03-12 12:45] gabriellsh commented on #16850
You can try and go to [our community Support Channel](https://open.rocket.chat/channel/support) to get some help.

[2020-03-12 12:52] gabriellsh commented on #16853
If you've fixed it, please create a PR, even if you're not sure it's an actual bug. Thanks for the help!

[2020-03-12 12:58] gabriellsh commented on #16854
Please, provide a way to reproduce this bug and versions for server/browser. Even if it's the latest, for future checks it helps, because versions change over time. Thanks!

Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-03-12 13:15] 564064202 commented on #16854
@gabriellsh hello sir,I can give you a account.
https://39.105.66.15:7777
test1
111111

[2020-03-12 13:16] 564064202 commented on #16856
https://39.105.66.15:7777
test1
111111

[2020-03-12 14:05] gabriellsh commented on #16854
I won't be able to test without knowing what you did to get that error. Just complete the information missing so anyone can test it. Thanks again

[2020-03-12 14:13] 564064202 commented on #16854
@gabriellsh  actually，I don't know to how to fire ,I just changed some user's name and username,and change the
#general channel to private readonly......

[2020-03-12 14:15] gabriellsh commented on #16854
Did that prevent you from doing something? Or it just logged the message?

[2020-03-12 14:15] 564064202 commented on #16854
I find the another thing. I
![image](https://user-images.githubusercontent.com/12368358/76530603-ece8fa80-64ae-11ea-8861-c65d98489971.png)

[2020-03-12 14:16] 564064202 commented on #16854
and I met a log : douplicate admin id.......

[2020-03-12 14:16] gabriellsh commented on #16854
As I can see you're probably with you RC version outdated. Can you send the whole server info?

[2020-03-12 14:18] 564064202 commented on #16854
![image](https://user-images.githubusercontent.com/12368358/76530871-4b15dd80-64af-11ea-8f68-7aa5047553ec.png)
![image](https://user-images.githubusercontent.com/12368358/76530894-57019f80-64af-11ea-8b43-240bf974d74f.png)

[2020-03-12 14:19] 564064202 commented on #16854
![image](https://user-images.githubusercontent.com/12368358/76530978-75679b00-64af-11ea-8366-d32d0994280d.png)

[2020-03-12 14:20] 564064202 commented on #16854
at the same time ,anther bug :https://github.com/RocketChat/Rocket.Chat/issues/16856

[2020-03-12 14:28] 564064202 commented on #16854
@gabriellsh Sir，how I can fix it?

[2020-03-12 14:28] 564064202 commented on #16854
@gabriellsh Sir，how I can fix it?

[2020-03-12 14:38] DinDev3 opened #16860 "Loading animation on Open Rocket.Chat server"
I feel like it would look more appealing and attractive if the loading of 3 dots of the Open Rocket.Chat server on the browser happens **inside the rocket chat logo** and once the loading is complete, to zoom it out and fade in all the content of the webpage. Because of the use of React components, the components can be faded in separately. as if they are falling into place.
This will give the use

[2020-03-12 15:35] reetp commented on #4554
Excellent - so all users will benefit from a fix to this bug then?

[2020-03-12 16:00] 1rV1N-git commented on #15823
Need add
import { dispatchEvents } from '../handler';
in this line
https://github.com/RocketChat/Rocket.Chat/blob/9c21ff405ce6c4c6ee7e9f2b90807f2e103f3941/app/federation/server/hooks/beforeDeleteRoom.js#L5

[2020-03-12 16:16] rodrigok commented on #4554
@reetp the disabling of removed users from LDAP is still an enterprise implementation. Not related with the repositories merge.

[2020-03-12 16:27] gabriellsh commented on #16860
Prototypes? So you already coded this? Please open a Pull request so we can take a look.

[2020-03-12 16:51] gabriellsh commented on #16828
You can't edit snap versions, it is meant for development.

But, if you want to help with translations, you can contribute here on github and if it gets merged, next release it'll be on snap too!

There's the option of cloning the repo and trying to build it for snap, but thats on your own.

[2020-03-12 16:51] #16828 closed

[2020-03-12 18:52] gabriellsh commented on #16822
`Version of Rocket.Chat Server: 2.4.9` we're at version 3.0.3 already. Could you test this on latest? I couldn't reproduce it.

[2020-03-12 19:05] luciafallavena opened #16863 "Limited options in Rocket.Chat's search bar"
Hey guys!

Nowadays, we have limited options in the search bar. For instance, I am looking for teammate Lucia: https://d.pr/free/i/v3XTFi but she won't appear there, which made harder to open a discussion since I don't know her surname.

I ended up opening a subdiscussion in a group that I know she was/

However, I wonder if it could not be more intuitive and maybe pull out more options or catch t

[2020-03-12 19:25] DinDev3 commented on #16860
No. Sorry for the misunderstanding. I drew the screens on Figma to convey the message with a better understanding.
This is my 3rd issue/ contribution to Open Source. Still trying to get the hang of everything.

I'll try to get the code done as well.

[2020-03-12 19:39] gabriellsh commented on #16860
Relax! I just thought you had made a prototype 😁. Thanks for your contribution, no need to do the code if you don't want to.

[2020-03-12 19:48] gabriellsh commented on #16854
If we can't reproduce it, there's little chance on fixing it. Can you try to make this happen again? Also, when opening issues, please try to add all the information you can, that's why we have the template.

[2020-03-12 20:16] gabriellsh commented on #16833
Thanks @talheim-it ! You're right. Github is the place for bugs/features. I'll be closing this.

[2020-03-12 20:16] #16833 closed

[2020-03-12 21:28] reetp commented on #4554
Ahhh. As expected.

So as per my previous comments, and as I suspected, you are not going to fix this then? A simple yes or no answer to this will suffice, so people know where they are and your policy.

The Community version IS broken.

This is the Community repo (as far as I am aware).

This bug is against the Community version (this repo) and not the Enterprise version and should therefore be r

[2020-03-12 21:37] rodrigok commented on #4554
Yes, we are not moving this feature to the community version now. I can't say about the future.

It's not a bug since we never implemented such sync. We only import new users and sync data changes.

Users **deleted** from LDAP or with **password changed** can't **login** but they will continue to be logged on already existent sessions. It's still possible to disable them manually, it's not blocked

[2020-03-13 02:09] 564064202 opened #16865 "There are so many bugs when I installed version 3.0.3,even if I reinstall it and do nothing."
### Description:

### Steps to reproduce:

1. on ubuntu 18.04,use manual install(https://github.com/RocketChat/docs/blob/master/installation/manual-installation/ubuntu/README.md )
2.when I have finished installation,on my admin account will see
![image](https://user-images.githubusercontent.com/12368358/76582603-b5f80080-6511-11ea-8949-253c65df87c3.png)

3.when I  used my admin account to create a

[2020-03-13 06:05] Anixceed opened #16866 "Failed start app in rocketchat/rocket.chat:latest docker container"
I've tried to install rocket.chat according to  [https://rocket.chat/docs/installation/docker-containers/docker-compose/](url)
**The rocketchat/rocket.chat:latest container can run,but can't start to listen 3000 port.**

**The node main.js log**
LocalStore: store created at
LocalStore: store created at
LocalStore: store created at
Setting default file store to GridFS
LocalStore: store created at
L

[2020-03-13 06:51] Shaverdoff commented on #4554
So if i kill active session from mongo in disabled or changedpasswd ldap user it cant login? This you wanasay?

Отправлено с iPhone

[2020-03-13 06:53] auqf commented on #16832
![image](https://user-images.githubusercontent.com/8895540/76596860-2581e600-653a-11ea-8ed8-6afc628aca64.png)
![image](https://user-images.githubusercontent.com/8895540/76596876-2c105d80-653a-11ea-8a95-b45c84fbd828.png)

and I found that the rocketchat server is always connecting the server:"3.93.26.21:443", is it a hole?

[2020-03-13 06:53] auqf commented on #16832
![image](https://user-images.githubusercontent.com/8895540/76596971-6bd74500-653a-11ea-9cae-d03434d28ddc.png)

[2020-03-13 06:57] fbartels commented on #4554
Maybe there is just a misunderstanding going on here that is causing the (understandable) disappointment. @rodrigok wrote:

While the initial report was (and what I also was able to observe when I subscribed to this issue):

So in other words: If the user was disabled in ldap or its password was changed the user will no longer be able to create new sessions going forward?

This would be a good thi

[2020-03-13 07:05] ankar84 opened #16867 "[Improvement] Move Always notify mobile option to user preferences"
### Description:

While #16765 not fixed it is a good idea to move **Always notify mobile** setting from **Admin UI** => **General** => **Notifications** to **My Account** => **Notifications** so each user can decide how important to get push notification regardless of presence status.

### Expected behavior:

User (not Admin) can decide if it is very important to him\her to get push notification

[2020-03-13 07:10] Nikhil713 opened #16868 "Display user status along with icon"
### Description:
Currently in the mobile view of the user profile, one can only see the icon regarding the user status. It would be better if the mobile site mirrored the desktop site, in which both the icon as well as the description are shown since the icon alone wouldn’t be recognized by all.

### Steps to reproduce:

1. Click on the user icon in any chat window.
2. You can see their status bel

[2020-03-13 07:14] ssartorius commented on #16834
The problem was a regex for room and usernames. The unicode range I've defined should contain - sign, but it doesn't. After modification it works.

[2020-03-13 07:14] #16834 closed

[2020-03-13 10:42] frostbtn commented on #14768
@MartinSchoeler

Server: 2.4.11
Windows App: 2.17.7

It's hard to reproduce intentionally, but the problem is quite severe when working from a notebook with a sensitive touchpad.

See the demo (it starts when I having three "Text" words and doing some small movements):

![rocket-14768](https://user-images.githubusercontent.com/12114238/76612185-cec1df80-652c-11ea-9848-847bd8041869.gif)

1. Select

[2020-03-13 11:25] flazeh commented on #15479
Hello,
I was having similar issue.
It was solved checking the Files upload section. Try to reset or clear the media file type. It seems to be connected with the send/receive of the audio/video messages.
If you clear the field, careful with the security involved.

[2020-03-13 14:45] jherman commented on #15144
It's happening again @tassoevan. Any idea?

[2020-03-13 16:29] dimm0 commented on #14652
Same issue in Mac OS Catalina, recent rocketchat

[2020-03-13 17:09] geanferrani123 opened #16870 "GLPI Integration - Documentation"
Guys, good afternoon!

Where can I find documentation that explains how to integrate rocket.chat with GLPI?

Can you help me?

[2020-03-13 19:54] LeeThompson opened #16872 "If You Drag Text While Editing It Client Gets In "Drop To Upload File" State"
## My Setup

- Operating System: Windows 7
- App Version: 2.17.2
- Installation type: exe

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description
If text is highlighted and dragged, it goes into drag and drop mode which causes RocketChat to *think* you're trying to upload a file.

### Current Behavior
Type in some text in a chat or private message, high

[2020-03-13 20:00] customizeXF opened #16874 "macOS - reinstalling app does nothing (also no camera permission)"
Using macOS 10.15.3 and RocketChat 2.17.7

After removing the app from mac and reinstalling it all configurations stay. Nothing happens, I'm instantly logged in to my servers after launching the app. So no server login credentials are asked, nothing.

I tried to remove the app with ForkLlift app too. All files and folders moved to trash, but the result after installing it again is the same. Like n

[2020-03-13 20:24] subham103 commented on #7330
Actually this is happening because we are removing the subscriptions for the particular user in the room when the user leaves the room(``removeByRoomIdAndUserId``). As @waveyuk  said, we shouldn't change the user permissions if the user leaves the room, and as the UI doesn't reflect these changes upon removal of a user, it's going to be an easy update to fix this. Will try to solve this issue:)

[2020-03-13 20:39] subham103 commented on #6641
Can anyone tell me how we can reproduce this issue?

[2020-03-13 20:50] sampaiodiego commented on #6641
I don't this is an issue anymore..

I'll close for now.. If someone can still reproduce it, I'll open again.

[2020-03-13 20:50] #6641 closed

[2020-03-13 21:03] subham103 commented on #6603
I think we can display the roles of every user in the Users section in the Directory page by adding one extra column to it. Also, we can add one more way to sort in the member list but not sure about the format(it can be separate for all the roles, or the order of sorting can be predefined). I am interested to work on this feature:)

[2020-03-13 21:09] rmaksimov opened #16896 "Option to download all attachments from a chat"
Hi there,

Could you add an option to Windows version (don't know if there is something similar in others) allows to download all attachments from any chat, perhaps with some filter functionality to select them before downloading?

Many thanks

[2020-03-13 21:14] rmaksimov opened #16894 "Copy any attachment using hotkeys"
Hi there,

It would be cool to be able to copy any attachment from a chat using the CTRL+C key combination. Could you add it, please?

Best Regards

[2020-03-13 21:16] subham103 commented on #5446
I couldn't be able to reproduce this issue. Works fine for me in the recent RC version

[2020-03-14 11:46] 1rV1N-git opened #16879 "When a user left a federated room. The federated server doesn't know it."
### Description:
We don't have the event for this action
https://github.com/RocketChat/Rocket.Chat/blob/ee85516ecb2ff0c4997518c274c28095b407b24f/app/federation/server/endpoints/dispatch.js#L25

### Steps to reproduce:

Create a room. and a user from the federated server.
if the federated user left the room. I don't know about it

### Expected behavior:

System message "User left the room"

### Act

[2020-03-14 13:52] himpierre commented on #16800
https://www.deepl.com/pro.html#developer subscription is needed. Now it works.

[2020-03-14 13:52] #16800 closed

[2020-03-14 15:24] emengd opened #16880 "Incomplete support for running in a subdirectory"
Hello,

I followed the instructions [here](https://rocket.chat/docs/installation/manual-installation/debian/) to install rocket.chat on Debian, and then [here](https://rocket.chat/docs/installation/manual-installation/running-in-a-sub-folder/) to make the service available under `mything.com/chat/` through Apache, even though it's actually running on `localhost:3000`. So I set ROOT_URL to `https:/

[2020-03-14 16:39] asosso commented on #16852
Confirmed on 2.4.11

[2020-03-14 17:42] rpkoller opened #16881 "Latest MAS version of Rocket.Chat crashes with Illegal instruction: 4 right on start"
### Description:

I've upgraded Rocket.Chat to the latest version 2.17.9 in the MacOS Appstore. After upgrading, if I try to start Rocket.Chat, the app crashes right on start.

### Steps to reproduce:

1. Upgrade to Rocket.Chat 2.17.9
2. Click the Application Icon
3. Crash each time I try to start the app

### Client Setup Information

- Rocket.Chat 2.17.9
- MacOS 10.13.6 all the latest patches ap

[2020-03-14 18:51] nunoguerreiro commented on #16880
Have the same problem. Logo and invite are incorrect urls. I'm using NGINX also.

[2020-03-14 18:54] nunoguerreiro opened #16882 "Prevent upload of files in specific channels"
How to prevent the upload of files in somes channels only ?

[2020-03-14 20:24] nunoguerreiro commented on #16852
Hi @ankar84
can you give some hints how you did the LDAP integration ?
I'm using OpenLDAP and is working well but cannot see any users in Rocket.Chat. Thanks

[2020-03-14 22:10] lpilz opened #16883 "Slack threads get imported as individual messages"
### Description:

When importing a Slack export, the messages which were in Threads on the Slack server are being imported as individual messages, not as Threads to Rocket.Chat.

### Steps to reproduce:

1. Export Data from Slack
2. Import Data to Rocket.Chat

### Expected behavior:

When importing threaded messages from Slack one would expect them to be threaded in Rocket.Chat as well.

### Actua

[2020-03-14 22:23] PeGaSuS-Coder commented on #16880
Can you provide the value in `Administration > Setup Wizard > Organization Info > Website`?

[2020-03-14 22:28] PeGaSuS-Coder commented on #16882
AFAIK, that's not possible yet. Probably a feature to be considered by the Rocket.chat team

[2020-03-14 22:29] etopit opened #16885 "Hide system message pin/unpin message"
Hello,
if unpin and remove the message, the System Messages is always visible

I did not find the option to hide this information.

And so if there is an error in the message pin, this message always visible (system information) with this error.

[2020-03-14 23:13] emengd commented on #16880
`Administration > Setup Wizard > Organization Info > Website` is a completely unrelated site.

`Admnistration > General > Site Name` is `mything.com/chat/`.

The Apache2 config looks like this (it so happens that I'm not running anything under the root url for now).
[code]

[2020-03-14 23:43] PeGaSuS-Coder commented on #16880
Seems I'm able to reproduce the issue. Using `http://my.domain.tld:3000/` seems to work as expected. :man_shrugging:

[2020-03-15 06:32] IT-Hebk commented on #16854
Im having the same error...  Users cant Reply to Broadcast Messages
Im using the latest UCS-Docker: 3.0.2

![rocket-Chat1](https://user-images.githubusercontent.com/62198321/76696762-06489d00-668f-11ea-87ed-dbd2378ff84f.PNG)
![rocket-Chat2](https://user-images.githubusercontent.com/62198321/76696765-08126080-668f-11ea-9a35-58fc0f814e3e.PNG)

[2020-03-15 06:48] IT-Hebk commented on #16856
Im having the same error
![Snag_7fc4204](https://user-images.githubusercontent.com/62198321/76696964-56c0fa00-6691-11ea-8e53-6a7b74fe5795.png)
...  Users cant Reply to Broadcast Messages
Im using the latest UCS-Docker: 3.0.2

![rocket-Chat2](https://user-images.githubusercontent.com/62198321/76696968-5f193500-6691-11ea-8567-9fdb431470bc.PNG)
![rocket-Chat1](https://user-images.githubusercontent.co

[2020-03-15 07:21] franckadil commented on #16844
Related to: https://github.com/RocketChat/Rocket.Chat/issues/16705

[2020-03-15 10:02] nooblag commented on #7791
Is there a guide on how to do this? I'd like to try that, if I may, but having trouble finding resources/walkthroughs.

[2020-03-15 10:15] PeGaSuS-Coder commented on #15144
I can reproduce the issue at least in the mobile app and mobile browser, as it can be seen in the attachments below:

### Mobile App
![Screenshot_20200315_111130_chat rocket reactnative](https://user-images.githubusercontent.com/25697531/76699469-0d32d800-66ae-11ea-9d94-c25c0af8e570.jpg)

### Mobile Browser
![Screenshot_20200315_111359_com android chrome](https://user-images.githubusercontent.com/

[2020-03-15 10:32] SaiAshish9 opened #16886 "Run project on gitpod"
![image](https://user-images.githubusercontent.com/43849911/76699718-3b2c1280-66d6-11ea-94fc-b7bd26ca9d37.png)

Can anyone provide me the command to run this project via gitpod?

[2020-03-15 14:45] subham103 commented on #16636
I would like to solve this issue :smile:

[2020-03-15 15:27] avionbg commented on #16692
Same here ...

[2020-03-15 17:24] ankushdas9 commented on #7577
@geekgonecrazy This is still an issue as mentioned by @avimanyu786 Could someone take a look at this? :)

[2020-03-15 17:28] zdumitru commented on #16883
Could be a duplicate of #6833

[2020-03-15 17:57] lpilz commented on #16883
It probably is. Is there any ongoing effort to implement this functionality? And/or (how) could I contribute there?

[2020-03-15 18:33] nunoguerreiro commented on #16880
the same for NGINX (according the manual):

# Upstreams
upstream backend {
    server 127.0.0.1:3000;
}

# HTTPS Server
server {
    listen 443 ssl;
    server_name _;
    ssl on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # don’t use SSLv3 ref: POODLE
    # Self signed certs generated by the ssl-cert package
    include snippets/snakeoil.conf;

    location /chat/ {
        error_log    /var/log/ng

[2020-03-15 21:31] subham103 commented on #16614
This issue might be because of updating the storage for the file but not sending the response to the frontend, which upon refresh get fetched by the frontend and is updated. I will try to investigate and try to solve this issue:)

[2020-03-15 23:37] ashwaniYDV commented on #16600
@MarcosSpessatto There is no date field in the slashcommands.
Please guide.

![Screenshot from 2020-03-16 05-09-25](https://user-images.githubusercontent.com/43786728/76713039-fa6ae280-6743-11ea-8446-86e9518a67a7.png)

[2020-03-16 00:12] nunoguerreiro opened #16888 "Encrypted messages not being delivered nor showed in a encrypted channel"
any time that try to send/or read a message in an encrypted channel nothing happens....
or a notification error appears...

![error-Untitled](https://user-images.githubusercontent.com/1771943/76713224-9393fc00-6738-11ea-8732-8d2bc352c005.png)

[2020-03-16 02:28] Anixceed commented on #16866
Got it!

[2020-03-16 02:28] #16866 closed

[2020-03-16 03:25] ankar84 commented on #16888
I remember when I tested encrypted chats, when you set chat as encrypted, you must refresh client (CTRL+R of F5) before that actually works.

[2020-03-16 03:44] ankar84 commented on #16852
Hi, @nunoguerreiro
It a little bit offtopic here but anyway.
There is no rocket science in LDAP integration and [all in documentation](https://rocket.chat/docs/administrator-guides/authentication/ldap/) and good explained it Admin UI.
To get users from LDAP you need to configure **Admin UI => LDAP => Sync/Import** and after configuration  Press **Execute Synchronization Now** button, and be sure t

[2020-03-16 05:44] ankar84 commented on #16882
File upload availability on per user basis would be a good improvement too.

[2020-03-16 05:55] auqf commented on #16832
hi, can you find it? how can I fix it?

[2020-03-16 08:49] Bengrunt commented on #15018
Having a fix to this annoying issue would be awesome.

Particularly with the pandemic going on, we need more audio contact with fellow coworkers :)

Thanks !

[2020-03-16 08:56] Shaverdoff commented on #15018
No pandemic. Only artificial panic;)! Use jitsi instead. Ot may work localy

Отправлено с iPhone

[2020-03-16 09:00] Bengrunt commented on #15018
Ok will try again with Jitsi, but I recall we encountered other issues there.

We got stuck on remote work anyway so ... :) Gotta make it work.

Thanks!

[2020-03-16 11:32] HartwigFlamm opened #16890 "Invitation Link displays Error Page with SAML enabled and Registration disabled"
### Description:

We have enabled SAML to validate Users and do not maintain local Users. A new User is created as soon as new Persons log into the System Web Page and are positively validated by SAML.
The Registration Page is disabled because of this.
If a User wants to invite others to a private group and sends out invite links Errors happen:
- If the invited user has a valid User and is logged

[2020-03-16 12:00] fralau commented on #2233
Upon reboot of the server, the wizard accidentally restarted and it seems that the configuration has been broken. Is there ANY way to save the configuration, or anything from it (messages, etc.)?

[2020-03-16 13:10] Bartess76 opened #16891 "Polish spell check on my own server"
Debian 9
Rocket Chat 3.0.3
Where can I find the Polish dictionary for download?
How can I install a Polish spell checker on the server?

[2020-03-16 13:12] auqf commented on #16832
I found that when the people of the chat is online less, the file can download normally,is there a limit of the used users?

[2020-03-16 15:52] nopynoop commented on #6012
We've been experiencing problems with jitsi and bbb lately. Would you consider implementing Google Hangouts again?

[2020-03-16 16:05] justinr1234 commented on #11377
@rodrigok Just checking back to see if you found anything out, greatly appreciate your help!

[2020-03-16 16:48] WingsLikeEagles opened #26247 "CAS Support for Smart Cards"

[2020-03-16 16:51] juzser opened #16895 "[Request] Mention user in BlockBuilder (App development)"
### Description:

I'm developing some Rocket.Chat apps, and when I use the BlockBuilder and `newMarkdownTextObject` or any other methods, I see I cannot use `@someone`, it's not rendered as user tag.

### Steps to reproduce:

Try this:
[code]

### Expected behavior:

Mention as user tag
<img width="197" alt="Screen Shot 2020-03-16 at 23 46 19" src="https://user-images.githubusercontent.com/5735071

[2020-03-16 17:54] 15ajohnson opened #16898 "Question: What versions of Edge are supported on Android devices"
On our deployment of Rocket.chat v2.4.0, we are having connectivity issues for android devices using Rocket.chat on Edge.

I am trying to debug this issue, my question is what versions of Edge (if any) are supported for android devices?

[2020-03-16 18:18] WingsLikeEagles commented on #10868
Could this be a JavaScript solution?

https://www.html5rocks.com/en/tutorials/webrtc/infrastructure/

[2020-03-16 18:52] sampaiodiego commented on #14792
taking a deeper look into this issue I've found the current option ("hide counter") is misleading..

if you guys want to have a way to not show any updates of a channel we'll need a new option to do that.

wdyt?

[2020-03-16 20:52] rsjr opened #16900 "User Administration - Usability improvement"
### Description:

Currently there is no way to filter/sort by column information in the User Administration

### Expected behavior:

Filter and sort functionalities in the User panel in order to improve the usability and user experience.

### Actual behavior:

No filters availalble

### Server Setup Information:

- Version of Rocket.Chat Server: 3.1.0-develop
- Operating System: All
- Deployment M

[2020-03-16 20:55] rsjr commented on #16500
closing this one as the ominichannel is now supported in mobile (in beta)

[2020-03-16 20:55] #16500 closed

[2020-03-16 21:27] disaster123 commented on #14578
any news on this?

[2020-03-16 23:47] doremio commented on #16299
Well... I did find out that the reason was about "hairpin nat" issue on my router.

[2020-03-17 02:47] 564064202 commented on #11288
@AmShaegar13 Sir,could you tell me how many users does you one single instance support now？can one single instance support more than 5k people （and what's the server is  needed）

[2020-03-17 05:00] ankar84 commented on #16890
Looks like #16852

[2020-03-17 05:09] ankar84 commented on #16772
I found that system message `Room topic changed to:` not hide and there is no option to hide it.

[2020-03-17 05:20] martinszy opened #16901 "Undefined url for incoming webhook"
### Description:

Hi, I've just updated to 3.0.4 and everything is great.

I decided to add a webhook following this tutorial: https://rocket.chat/docs/administrator-guides/integrations/gitlab/

The issues is that on step for, this is what I get:
[code]

Other than the tutorial claiming that the field will contain only the URL and not a full curl command, which is a small issue, the generated url

[2020-03-17 06:24] matthewbassett commented on #16567
So basically I need the path of OU's down to the OU that you actually need to sync. Sorry, somehow missed your response on this. So if you have a top OU called Users then inside of that another OU called testing then inside it another OU called FinalOU. and FinalOU is the actual OU that you want to sync to RC. so the path would be Users-->testing-->FinalOU If you can give it to me like that I can

[2020-03-17 06:27] matthewbassett commented on #16586
Hi wanted to bump this again. Any movement on looking into this or any further data needed to troubleshoot. I am now on 2.4.11 and I am still seeing this issue regularly. I have had to restart the server several times in the past week.

[2020-03-17 06:33] moobyfr opened #16902 "LDAPSync only sync accounts created from LDAP backend"
### Description:

LDAPSync only sync accounts created from LDAP backend and not others (for my case, CAS)

### Steps to reproduce:

1. enable LDAP, login with user1
2. enable CAS, login with user2
3. set LDAPSync to use username as search key
4. Call the LDAPSync with Execute Synchronization Now

### Expected behavior:

user2 should get updated to name its email and name from the LDAP if exists.

[2020-03-17 07:17] Gummikavalier commented on #16296
This is likely to have been fixed now in
https://github.com/RocketChat/Rocket.Chat/pull/16838

[2020-03-17 07:32] TeraMind244 opened #16903 "[BUG] Toast displays incomprehensible error message when DDP rate limit is reached"
### Description:

When I enable the DDP rate limiter and when the limit is reached by sending multiple messages in a channel, an error message is shown on the UI under the form of a Toast. However, the error message is incomprehensible and is not helpful to the user.

### Additional context

I made some investigation and I saw this error object in the WebSocket:
[code]

### Expected behavior:

See

[2020-03-17 07:52] engelgabriel commented on #5667
Let's add an option to auto set the username if it is unique when using 3rd party logins.

[2020-03-17 07:54] kaffeeknecht opened #16904 "User Limit for private Groups"
### Description:

Private Groups are limited to 100 Users. The admin-Interface prvides no configuration option to change this.

### Steps to reproduce:

1. Create Private group
2. Invite more than 100 Users (via Invitation Link without Limits)

### Expected behavior:

More users can join or better a config option to choose for yourself

### Actual behavior:
the 101st user can't join the channel (s

[2020-03-17 08:21] engelgabriel commented on #4554
Rocketeers, after consideration, we will merge the code to fix these LDAP issues into the main repository. I am reopening a few of the LDAP issues to be resolved this week.

[2020-03-17 08:24] engelgabriel commented on #6174
Rocketeers, after consideration, we will merge the code to fix these LDAP issues into the main repository. I am reopening a few of the LDAP issues to be resolved this week.

[2020-03-17 08:24] engelgabriel commented on #7235
Rocketeers, after consideration, we will merge the code to fix these LDAP issues into the main repository. I am reopening a few of the LDAP issues to be resolved this week.

[2020-03-17 08:32] sizeg commented on #16842
2.4.11 same errors

[2020-03-17 09:38] ankar84 opened #16905 "[BUG] Everyone can start a Video chat and Discussion in Read-only broadcast channel"
### Description:

Everyone can start a Video chat in Read-only broadcast channel.
This is a bug, because any user can send a blue button **Click to Join!** to **read-only** broadcast channel.
[Here](https://rocket.chat/docs/user-guides/channels/#creating-channels) you can read:

### Steps to reproduce:

1. Go to Read-only broadcast channel as read-only user (not owner or moderator)
2. Start Video

[2020-03-17 09:48] AmShaegar13 commented on #11288
Our current setup is 8 servers with one instance each. Downscaling from 3 instances each helped us support more users, apperently. These NxN connections between each and every Rocket.Chat instance seem to limit scalability.

Currently, we have 2100 active users. Howevery, Rocket.Chat is far from stable. About once a day, CPU load of single instances raises to 100 % slowing the instance down. This

[2020-03-17 09:54] 564064202 commented on #11288
do you have tried 2.11，（and what each server's physical config is ?
）
![image](https://user-images.githubusercontent.com/12368358/76844476-4c148980-6878-11ea-813b-f99bf42086bc.png)

[2020-03-17 10:06] RavuAlHemio opened #16906 "Allow users to hide "user joined/left channel" messages on a per-user, per-channel basis"
SUBJECT: Allow users to hide "user joined/left channel" messages on a per-user, per-channel basis

### Description:

It is currently not possible for a user to set a preference whether to show or hide "user joined/left channel" messages for a specific channel.

### Steps to reproduce:

1. Join (or be joined) to a channel with high join/leave traffic.
2. Read lots of join/leave messages.
3. Miss a

[2020-03-17 10:08] reetp commented on #4554
An extremely sensible move thank you.

Either LDAP is in, and works, or it isn't. Sitting on the fence doesn't make Rocket look very good.

If you really plan to remove features that people have become accustomed too, and been a 'selling' point (and I think that LDAP applies to a LOT of community users), then you have to plan that well in advance, and do it slowly.

I would imagine if you pulled L

[2020-03-17 10:28] AmShaegar13 commented on #11288
We are currently running 2.4.8. Can't tell you much about the physical hardware as the servers are virtual machines in our internal VM cluster. 4 cores, 16 GB RAM. That's all I have at the moment. Also, we stopped using pm2 and use systemd services now. However, this should not have any impact.

[2020-03-17 10:31] 564064202 commented on #11288
I am doubting the reason is monodb server

[2020-03-17 10:34] AmShaegar13 commented on #11288
No. mongodb is pretty stable and can even handle high load. Also, our mongodbs are on extra hosts.

[2020-03-17 10:36] 564064202 commented on #11288
you can try nginx http2. could tell me :does pm2 work?

[2020-03-17 10:36] AmShaegar13 commented on #11288
No, I cannot try anything. I have 2000 users in home office because of COVID-19 relying on a stable service.

[2020-03-17 10:38] 564064202 commented on #11288
does pm2 work? I tink we can try http2 or http3

[2020-03-17 10:50] 564064202 commented on #11354
does it support pm2 cluster

[2020-03-17 11:19] 564064202 commented on #11288
what's Gateway's function @nmagedman @AmShaegar13

[2020-03-17 11:32] 564064202 opened #16907 "how to use pm2 cluster (with snap install )"
how to use pm2 cluster (with snap install )

[2020-03-17 11:34] 564064202 commented on #13380
does this exist notifycation bug

[2020-03-17 11:34] ankar84 commented on #16904
I don't know:
![image](https://user-images.githubusercontent.com/4023037/76852451-68a2c880-685c-11ea-97f6-79dd42b8e3bd.png)

[2020-03-17 11:38] ankar84 commented on #13380
Since [3.0.0](https://github.com/RocketChat/Rocket.Chat/releases/tag/3.0.0) it is much better performance.
#16348 do a lot to improve that.

[2020-03-17 11:43] 564064202 commented on #13380
therer are so many bugs in 3.0.3 and 3.0.4 has not fixed them.
https://github.com/RocketChat/Rocket.Chat/issues/16865

[2020-03-17 12:10] DinDev3 opened #16908 "Functionality to share contacts"
I have noticed that the Rocket.Chat web and mobile versions don't give the option to share contacts. It would be good if this option is implemented especially in the mobile version since it's something that users usually use a messaging service for.

[2020-03-17 12:11] dg-otrs commented on #9568
Still valid this bug! Just using RC 3.0.3 with Client 2.17.7 and direct reply via plain mail has issues with ö ä ü and so on.

![image](https://user-images.githubusercontent.com/29101023/76855141-c5988180-6850-11ea-8de9-fffe6a1b02f9.png)

[2020-03-17 12:12] DinDev3 commented on #16908
According to the issue #11557, there's no API implementation to share contacts either. Therefore, both front end & back end will have to be developed to implement this option.

[2020-03-17 12:46] kaffeeknecht commented on #16904
Hi. great, but not here.
Perhaps something snap-specific?

[2020-03-17 12:53] rodrigok commented on #16865
@ggazzo can you check this?

[2020-03-17 13:02] AmShaegar13 commented on #11288
The gateway is used for push notifications from your Rocket.Chat instance to Android/iOS.

pm2 in cluster mode **does not** work. Every Rocket.Chat instance needs it's own dedicated port. Docker should be fine as long as you pass the instance ip as INSTANCE_IP environment variable to Rocket.Chat.

[2020-03-17 13:11] 564064202 commented on #11288
@AmShaegar13 ,thank you sir.does it work fine with Multiple instances ? OR are there some bugs?

[2020-03-17 13:52] AmShaegar13 commented on #11288
Multiple instance work, if you correctly set the INSTANCE_IP environment variable.

[2020-03-17 14:02] rsjr commented on #16586
Hi @matthewbassett . We made some improvements on RC version 3.0 (specially regarding the file upload, that also 'helps' to create this memory leak). Maybe, if you are interested, you can install another server of RC 3.0 and compare both behaviors.

We will analyze/investigate this memory leak situation as whole, but we cannotgive an ETA right now. Thanks for the detailed analysis, so far.

[2020-03-17 14:24] 564064202 commented on #11288
@AmShaegar13 tanks ,somebody said their Multiple instances resolved performance problem,but there 's a bug about notifycation,does this exist now?

[2020-03-17 14:31] PedroPretto opened #16909 "Video conference not working with guests"
Hello Guys!

We are trying to have a video conference using RocketChat via jitsi.

The feature works just fine while both the participants are using rocketchat interface.

Although, when we try to start a video conference with a external guest, he only receives a blank message like the example below:
![rocket](https://user-images.githubusercontent.com/38132954/76865992-40a66b80-6842-11ea-9fd6-d3ec

[2020-03-17 14:33] AmShaegar13 commented on #11288
As I said. The issue has been fixed.

[2020-03-17 14:41] 564064202 commented on #11288
@AmShaegar13 Tanks very much.Jesus Bless you

[2020-03-17 14:46] ggazzo commented on #16594
unfortunately, the browser doesn't provide the mime type... so we receive a generic mime `application/octet-stream`, with our current logic its impossible cover all mime types...

I'm proposing allow the admin install (using rocketchat apps) file validators, so you could install an app that knows the how to indentify your file....

in your case would be something like

[code]
https://github.com/Ro

[2020-03-17 14:50] ggazzo commented on #15472
@JoshMcCullough what do you think about this proposal?

https://github.com/RocketChat/Rocket.Chat.Apps-engine/pull/239

[2020-03-17 14:50] ggazzo commented on #16836
related https://github.com/RocketChat/Rocket.Chat.Apps-engine/pull/239

[2020-03-17 15:08] serviceman commented on #16880
Not really a fix, but you can hide the invite button with this css at Layout ->Custom CSS. This is what I had to do for my install in a sub directory.

.js-invite,[data-id="createinvitelink"]{
display:none;
}

Also, you can manually change the url to include your sub directory url at Layout->Content->Side Navigation Footer. I would give you the exact html to use but I have heavily edited mine for

[2020-03-17 15:40] ramiror commented on #1268
Turning off @all type notifs feature is present but does not work for me.

Rocket.Chat+
Version 2.9.0

[2020-03-17 16:54] uka-support commented on #14537
The issue is still present in 2.4.11.

[2020-03-17 17:07] diegolmello opened #16911 "[BUG] Confusing verification email"
### Description:

I changed a user email and received an email asking to verify my account, but the writing is confusing.
It says "You have successfully created an account..." although I didn't create a new account.

### Steps to reproduce:

1. Enable "Verify email" on server
2. Change a user email

### Expected behavior:

Maybe verification emails shouldn't assume it's a new user.

### Actual beh

[2020-03-17 17:14] sampaiodiego commented on #16911
we could change `Verification_email_body` i18n key by removing the "successfully created an account" part. but then we should add something similar to `Visit_Site_Url_and_try_the_best_open_source_chat_solution_available_today` i18n key, which is used for welcome/enrolment email.

[2020-03-17 17:23] antkaz opened #16912 "update the list of users after create/delete a user"
### Description:

List of users isn't updated after create or delete a user

### Actual behavior:

![users-reload](https://user-images.githubusercontent.com/19654261/76883332-cf94a180-689d-11ea-9e96-0b9afc3dc24d.gif)

### Server Setup Information:

- Version of Rocket.Chat Server: 3.0.3
- Deployment Method: Docker
- Number of Running Instances: 1
- DB Replicaset Oplog: enabled
- NodeJS Version: 12

[2020-03-17 17:39] martinszy opened #16913 "Errors after update to 3.0.4"
I imported the 0.74.3 database to a new server, run the old 0.74.3 docker instance with this data, which lead to the app refreshing the page every 5 seconds. Then updated to 3.0.4 and got a stable system, but now users are reporting that they are being forced to establish a new username, can't access chats and just can't use the app.

Here's part of the logs:
[code]

[2020-03-17 17:49] martinszy commented on #16913
It's also asking for new usernames, for everyone and people want to use their old one, which is already registered.

Oh this went south.

![Captura de pantalla de 2020-03-17 11-48-10](https://user-images.githubusercontent.com/997732/76885746-55d0c980-6845-11ea-9a26-ac3cb1b038f0.png)

[2020-03-17 18:42] martinszy commented on #16913
Don't worry, it was our cache messing things up.

[2020-03-17 18:42] #16913 closed

[2020-03-17 18:43] martinszy commented on #16901
Don't worry, it was our cache messing things up.

[2020-03-17 18:43] #16901 closed

[2020-03-17 18:53] ashwaniYDV commented on #16791
I'm onto it

[2020-03-17 19:51] nunoguerreiro commented on #16882
Per user or per role inside the channel also would be nice.

[2020-03-17 19:53] nunoguerreiro commented on #16888
But it's a confusing thing since if you have 2 different clients the keys are not the same (each device has it's one key)... and even so, is not working...

If I send 1 encrypted message from 1 device, the other cannot see it and every time he needs to reset is how key (that will imply a regeneration of the key in the 2nd device)

[2020-03-17 19:59] nunoguerreiro commented on #16880
thanks ... found it - I modified both and the side navigation footer...

<a href="/url/home"><img src="assets/logo.png" alt="Home" /></a>

[2020-03-17 22:05] snoopotic commented on #12176
For me, Option a) fits best.

Option c) sounds good as well but there are smtp servers that do not allow sending „From“  unknown users/addresses so this won‘t work in many cases.
Also option c) has a privacy issue as well: if you  write a rocketchat-message you write a message and not implicitely an email. Thus you may not have authorized this E-Mail. Few companies start continuously gpg/smime sig

[2020-03-17 22:28] subham103 commented on #16427
@fleaz @xgdgsc  I am working on this issue. One small doubt is should we need to remove the non-member users from the suggestion box only, or we also have to treat that message as a normal message (not a mention)?
![Rocket Chat(3)](https://user-images.githubusercontent.com/43502196/76907576-8e67b600-68cc-11ea-93ea-6587ea62d5c8.png)

[2020-03-17 23:25] crltzn opened #16916 "Relogin after refresh"
When you refresh the page it will logout and login again this only occurs using web browser

[2020-03-17 23:36] danielboydston commented on #15748
I recently experience this issue as well.  I'm unsure if the issue existed before we upgraded or not, but we went from 0.? to 2.4.9, after which, the issue was brought to my attention.

I was able to resolve our issue by using the following commands in the mongo shell (the first query suggestion from renatobecker-zz:
`use rocketchat
db.rocketchat_livechat_inquiry.update({status: 'queued',closedBy:

[2020-03-18 01:20] xgdgsc commented on #16427
I' m for remove.

[2020-03-18 02:45] geekgonecrazy commented on #6012
Actually have seen someone integrate hangouts in the jitsi meet domain.

Putting hangouts.google.com/ in the domain and hangouts/_/org-domain.com/ in the url room prefix

Kind of a hack taking advantage of how we show jitsi in iframe.  But works last I tested it

[2020-03-18 02:53] geekgonecrazy commented on #16909
@renatobecker is this something that is supposed to work in new livechat widget?

[2020-03-18 02:55] sourabhsinha396 commented on #5495
As, told by ttodua ,you need to pass, `disable_web_page_preview=True` argument

[2020-03-18 05:46] Gummikavalier commented on #16296
Updated to RC 3.0.4. The issue seems to be fixed now.

Closing this one.

[2020-03-18 05:46] #16296 closed

[2020-03-18 06:08] cjpit opened #16917 "[BUG] incoming webhook script is blank after saving and reloading."
### Description:
Script text is blank after saving and reloading

### Steps to reproduce:

![rocket chat](https://user-images.githubusercontent.com/3469512/76930586-cbaa6300-6921-11ea-8dc7-c609e3de5853.gif)

### Expected behavior:

Script text should be visible

### Actual behavior:

Script text is empty

### Server Setup Information:

- Version of Rocket.Chat Server: 3.03
- Operating System:  cen

[2020-03-18 06:11] cjpit commented on #16917
#16692 for previous version as well

[2020-03-18 06:53] ankar84 commented on #16904
May be. We use Docker.

[2020-03-18 08:30] ritwizsinha commented on #16912
Working on it

[2020-03-18 08:37] dasfreak commented on #11649
Also present on our (docker/latest) installation:

Version: 3.0.4
Node: v12.14.0
Mongo: 4.0.16

[2020-03-18 08:44] JohnLukeP commented on #11649
Tested on:

Desktop app version: 2.17.7
Rocket.chat. installation (manual): 3.0.3
Mongo: 4.0.16
Node: 12.16.1

The bug has disappeared and the button is showed properly.

[2020-03-18 08:46] dasfreak commented on #11649
yeah the button is there but it says "call has ended" way too fast

[2020-03-18 08:52] nopynoop commented on #6012
Wow, I just tested it and it really opens the hangout chat.

Great idea @geekgonecrazy. Were you able to see someone else joining that hangout or you didn't test that far?

However, I can only see myself and the other party can see himself.

![V1hastes52](https://user-images.githubusercontent.com/25570106/76942307-d226e380-68fd-11ea-9850-4ebd2ad3b49f.png)

[2020-03-18 08:54] geekgonecrazy commented on #6012
It definitely used to work.  Actually was someone else in the community that suggested it.  Can’t remember where.

Is this in a google apps domain?  Are both of you signed into same org?

[2020-03-18 10:51] luciusmagn opened #16919 "Google OAuth not working -> redirect_uri_mismatch"
Hello, it seems that Google OAuth doesn't work, at least for me.
I have the following Caddy configuration:

[code]

The following RocketChat configuration:

[code]

I tried both with and without the HTTP_ env vars, and with both the correct and local ROOT_URL.

And this is what I have in my Google OAuth settings:
[code]

As you can see, I was getting desperate.

I'm getting either this error (with

[2020-03-18 11:22] gannebamm commented on #8856
This does not seem to be fixed.
[code]

[code]

`MongoNetworkError: failed to connect to server [localhost:27017] on first connect [MongoError: Authentication failed.`

I do not see any issues on monogDB side here.

[2020-03-18 11:25] emikolajczak commented on #15273
Hi,
Any information about possibilty to use mongo sharded cluster with Rocket.Chat?

[2020-03-18 11:31] gannebamm commented on #8856
I fixed it. Actually you **must** pass `authSource=rocketchat`. Example:
[code]

And be sure your rocketchat user has the correct permissions, see my post above.

[2020-03-18 11:44] Malachiasz opened #16920 "Group/person conversation selection doesn't mark as read."
Version: 2.16.2.
The most annoying thing about RocketChat is that often, after I select a group, its status in the list on the left doesn't become "read", so the grup name is still white.
Sometimes when I minimize app, go again and select the same group again, then it gets marked.
Going to menu and choosing select as read also helps.

1. I want INSTANT marking as read.
2. I also want option to mak

[2020-03-18 12:22] franckadil commented on #16705
Thanks to RocketChat support team we found out that the Issue was due to me authorising a secondary wrong account by inadvertence.

The solution was to log out from the cloud account and reconnect with the good account. I am now able to install apps from the marketplace.

[2020-03-18 12:22] #16705 closed

[2020-03-18 12:37] gabriellsh commented on #16920
You can click the three dots on the room and go to notification preferences to customize individual rooms preferences.

[2020-03-18 12:44] jwhiteman36 opened #16921 "Channels don't always show messages are unread"
**Server Setup Information**

- Version of Rocket.Chat Server: 3.0.3
- Operating System: CentOS 7
- Deployment Method: tar / extraction
- Number of Running Instances: 11
- DB Replicaset Oplog:
- NodeJS Version: v12.16.1
- MongoDB Version: 3.6.11
- Proxy: Haproxy

We have users reporting that their channels aren't always being highlighted to show that they have unread messages in a channel. It take

[2020-03-18 12:44] gabriellsh commented on #16916
I think this is kind of intended. If you refresh a page, it's like you're leaving the page and going back to it, so connection is lost. It's not necessarily a logout, but you will appear as being offline.

The main problem is, how can we differentiate a user reloading a page from a user that closed the page?  Once page is reloaded/left we have nothing related to rocket.chat running in the browser

[2020-03-18 13:25] #16791 closed

[2020-03-18 14:40] #16831 closed

[2020-03-18 16:32] ashwaniYDV commented on #16200
hi @renatobecker
This issue is related to livechat repo for which I've made a PR. So is the issue required to be open here too?

[2020-03-18 17:28] #3977 closed

[2020-03-18 17:28] #9282 closed

[2020-03-18 17:28] #16423 closed

[2020-03-18 17:28] #16424 closed

[2020-03-18 17:36] renatobecker commented on #16909
Unfortunately, it's not working yet.
But, the good news is that we have a GSoC project this season that aims to implement it, as well as voice messages.

Thanks.

[2020-03-18 17:38] #13857 closed

[2020-03-18 18:18] rodrigok commented on #16586
@matthewbassett do you have `Admin > Logs > Prometheus` enabled?

[2020-03-18 19:58] LucasFsc opened #16924 "[Feature request]: Obtain ignored users"
Can't get ignored users from RestAPI, apparently there's no endpoint for such request. It just possible to get ignored users through **stream-notify-user**, containing the ignored users, which answers:

`{"msg":"changed","collection":"stream-notify-user","id":"id","fields":{"eventName":"rJGcz5ht9QvDrigkg/subscriptions-changed","args":["updated",{"_id":"s8wSTsaYFTG5a7FXs","open":true,"alert":true,"

[2020-03-18 20:19] ashwaniYDV commented on #16354
@wreiske I'm not able to reproduce this issue. Can you please help.
I've added custom fileds `http://localhost:3000/livechat-manager/customfields`.
Now when I called the api `/api/v1/livechat/config`, there was no customFileds property.

[2020-03-18 20:21] wreiske commented on #16354
The custom fields are not the livechat custom fields, they are custom fields on normal users in Rocket.Chat. You'll have to add the custom fields from the admin, not the livechat settings.

[2020-03-18 20:30] talktopri opened #16927 "Volunteer contributor says HI 👋"
Hello!

I am interested in helping an Open Source project with their documentation, API, etc and I just came across Rocket Chat!
I already requested to be added to the Translating Project and I hope to be helpful here!

I checked open issues with "Documentation: needed" labels, but I wanted to say hi here too, in case there are more Documentation/translation things I can get involved and help with

[2020-03-18 20:34] talktopri commented on #16927
Ah, found this: https://rocket.chat/docs/contributing/documentation/contribution-guidelines/

[2020-03-18 22:28] ashwaniYDV commented on #8090
I thing this issue is not valid in latest version of livechat

[2020-03-18 22:46] #8090 closed

[2020-03-19 01:28] #16246 closed

[2020-03-19 02:34] mathben opened #16929 "Add a switch option to create a channel private or public"
### Description:
Hability to switch option in configuration if by default we want to create a private a public channel.

### Steps to reproduce:
1. Create a new channel and by default, the option is private channel.

### Expected behavior:

The option can be public by default if choose this option in settings.

### Actual behavior:
The default option is private. We cannot switch to public by defau

[2020-03-19 03:18] matthewbassett commented on #16586
@rsjr Thanks for the thoughts! Glad there has been some progress, and I really appreciate you all looking into this. I will work on getting a 3.0 instance up and running (:

[2020-03-19 03:18] matthewbassett commented on #16586
@rodrigok I do not have Prometheus enabled. Should I?

[2020-03-19 03:59] ggazzo commented on #7330
I will close this issue since it's very old and we never heard more complaints about it, and to be honest, I cant see we doing this change...so I'm sorry but, if you are sure its an important feature, please open it again and we can discuss more about

[2020-03-19 03:59] #7330 closed

[2020-03-19 05:42] rapliu opened #16930 "Show only names, but hide user names"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

 just show name, hidden username

### Actual behavior:

If the username is hidden and disappears with the name, please see the following figure

### Server Setup Information:

- Version of Rocket.Chat Server: 3.0.2
- Operating System: centos7.8
- Deployment Method:
- Number of Running Instances: 2
- DB Replicaset Oplog:
-

[2020-03-19 05:48] Malachiasz commented on #16920
@gabriellsh I think you relate to my point 2. Which setting in the room settings will cause room never to be marked as unread? Also on Macos I don't see preferences. Under 3 dots I see only:
- hide room
- mark as read
- vaforuite
- leave room

[2020-03-19 06:45] Malachiasz commented on #16921
It sounds like opposite to this bug, where channels sometimes are not being unhighlighted:
https://github.com/RocketChat/Rocket.Chat/issues/16920
Maybe it's a general problem with highlighting channels.

[2020-03-19 07:03] ankar84 opened #16931 "[Improvement] Really Disable system messages in chats and rooms"
### Description:

New method #16243 of hide system messages is not so good for big read-only channels (maybe default channels).
First time when #4760 was implemented hide options works much better then now.
System messaged was really disabled but not just hide.
My idea - for private groups system message (e.g. join or leave messages) may be very important for security reasons - who was added by wh

[2020-03-19 09:43] dcermak opened #16932 "Clear all unreads modal should take focus from the chat dialog"
### Description:

The clear all unreads modal dialog does not always take the focus out of the chat area. This has the disadvantage, that you cannot reliably do a quick `shift-esc enter` to clear all unreads and sometimes have to use the mouse to click the dialog.

### Steps to reproduce:

1. Press `shift-esc`
2. Press `enter`. If you had the text enter area active, then now nothing happens.

###

[2020-03-19 10:28] gannebamm commented on #14341
Any news here? Maybe just share a small CSS snippet you could use to make it bigger?

[2020-03-19 10:39] port22 opened #16933 "Crashes on canSendMessage.js"
following errors occur on a regular basis (in terms of minutes):

[code]
RocketChat is running as a Stack in Docker Swarm (19.03.6) (https://gist.github.com/port22/5b4d194498d5aa139b0073af9969c2ad) with 5x mongo:3 but only 1x rocketchat_app.

These errors seem to be caused by a sent message of a user or incoming webhook.

I tried https://github.com/RocketChat/Rocket.Chat/issues/16097#issuecomment-

[2020-03-19 10:44] bbrauns commented on #14466
The requirement to have a cloud account is a major pain point. Nowhere is declared which data is sent to rocket.chat about my local on premise instance once I log in.

[2020-03-19 10:45] Syn3rman commented on #16664
Hey @alexmontoanelli,
I'm running into the same issue, were you able to figure out how to get it to work?

[2020-03-19 10:59] 564064202 opened #16934 "Video/Voice Chat bug"
### Description:

When We use Video/Voice Chat,the pople who speak can hear own voice （very loudly）,
and the communication may crashe Suddenly...

### Steps to reproduce:
use Video/Voice Chat,

### Expected behavior:

the pople who speak should not  hear own voice.

the communication may crashe Suddenly,we don't know why?

### Server Setup Information:

![image](https://user-images.githubuserconte

[2020-03-19 11:08] iMezooo opened #16935 "Cannot start"
Running npm-postinstall.js
'cp' is not recognized as an internal or external command,
operable program or batch file.
child_process.js:669
    throw err;
    ^

Error: Command failed: cp node_modules/katex/dist/katex.min.css app/katex/
'cp' is not recognized as an internal or external command,
operable program or batch file.

    at checkExecSyncError (child_process.js:630:11)
    at execSync (chi

[2020-03-19 11:10] #16670 closed

[2020-03-19 11:12] #16415 closed

[2020-03-19 11:12] ashwaniYDV commented on #16415
closing this #16416

[2020-03-19 11:14] #16301 closed

[2020-03-19 11:22] #16068 closed

[2020-03-19 11:24] #15982 closed

[2020-03-19 11:25] 2yue commented on #16935
same question~

[2020-03-19 11:28] PedroPretto commented on #16909
Thanks guys!

Also, do you have any idea when its going to be avaible?

[2020-03-19 11:31] pkolmann commented on #16890
Yes it's the same issue. Thanks @ankar84 for pointing this out.

[2020-03-19 11:44] Donal-Goggin commented on #16288
Both of the fields have the same ID... Someone made a whoopsie :)

![sameID](https://user-images.githubusercontent.com/32106124/77064043-9dd32600-69d6-11ea-82d0-a5e6a06e1c05.png)

[2020-03-19 11:54] port22 commented on #16933
ok I did a debug with tcpdump within the container. Turned out it was the Atlassian Jira plugin. Disabled and errors are gone

[2020-03-19 11:54] #16933 closed

[2020-03-19 12:00] renatobecker commented on #16909
If all goes well with the GSoC project, we will have this feature available in August.

[2020-03-19 12:29] Nikhil713 opened #16937 "Overflowing buttons in Preferences section"
### Description:
The content of the buttons in 'My Data' section are overflowing in the mobile view.

### Steps to reproduce:

1. Start the development server
2. Go to My Account
3. Select Preferences

### Current behavior:
![mydata](https://user-images.githubusercontent.com/31701437/77067086-64b4a900-6a0a-11ea-9f62-c8a62b600e00.png)

### Server Setup Information:

- Version of Rocket.Chat Server:

[2020-03-19 12:46] gabriellsh commented on #16920
You have to open the room and click on the 3 dots on the header :)

[2020-03-19 13:09] didierm commented on #16156
Confirmed in v2.4.0.
This may have been addressed in https://github.com/RocketChat/Rocket.Chat/pull/16184 (fixed in v2.4.2) ?

[2020-03-19 13:25] gabriellsh commented on #16927
Hello @talktopri! How's it going?

You can go to [our Rocket.Chat open Server](https://open.rocket.chat/) if you wish to join other contributors. We welcome all help!

This issue area is reserved for bugs, feature requests, etc, so I'll be closing this. See you on Rocket.Chat!

[2020-03-19 13:25] #16927 closed

[2020-03-19 13:27] 2yue commented on #16935
try to annotation the code  in .scripts/npm-postinstall.js from the line 6 ， some
css files.

[2020-03-19 13:31] gabriellsh commented on #16929
Hey!

Sorry, but I don't really like this idea. It's one more option to clutter the admin UI, and if you really don't want users to be creating private/public channels, you can block it through permissions.

Below is a print of a user without permission to create private channels:

![image](https://user-images.githubusercontent.com/40830821/77072506-8c851c00-69cc-11ea-823d-450b0b78441d.png)

Feel

[2020-03-19 13:31] #16929 closed

[2020-03-19 13:50] gabriellsh commented on #16935
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

Also, by reading your error log, this probably is not a problem with rocket.chat. This area is reserved for bugs and related, if you need help, please, go to our [support channel](https://open.rocket.chat/channel/support)

[2020-03-19 13:50] #16935 closed

[2020-03-19 13:53] sknorr opened #16938 "Allow muting threads that started from a message posted by myself."
### Description:

Sometimes there are situations where a thread that started from a post by yourself goes wildly off-topic or someone starts ranting. In these cases, you may not be all that interested in getting desktop notifications for all of the responses from "your" thread.

However, currently, Rocketchat (web client) does not allow muting threads that started below your own message. Most frus

[2020-03-19 13:57] gabriellsh commented on #16427
This is currently intended behaviour. It's supposed to allow users to tag other users so people can access it directly. As @fleaz said, this can be disabled through the `view-outside-room` permission.

We won't remove this, but, we're already discussing a new search system, so we can improve the currently not reliable one. For now, this will be closed. Thanks for everyone's help.

[2020-03-19 13:57] #16427 closed

[2020-03-19 15:16] user1233445 opened #16940 "Camera Permission for Jitsi Video Conference"
Hey,

we want to use the integrated video chat solution in RocketChat (macOS) via Jitsi. Unfortunately the sub program has no access to the internal camera. I don't know if this is a bug or if the program was distributed wrong from our side.

<img width="804" alt="Screenshot 2020-03-19 at 15 43 40" src="https://user-images.githubusercontent.com/62391194/77081960-b3a71200-69fb-11ea-80e8-a59cf16616d

[2020-03-19 15:35] joshmartintv commented on #16917
Looks like this has been an issue for a while.  I'm on 2.4.11 (snap) and am experiencing this.  Seems like if you save the webhook script and never go back into it you're fine, but even if you go back in to edit and don't save, it breaks the webhook.

[2020-03-19 16:23] realgt commented on #16919
also not working for me, my setup is on ubuntu with the rocketchat snap, nginx reverse proxy
on google oauth credentials my callback url is https://[my website]/_oauth/google?close i've also tried it without the ?close

error:

`W20200319-16:17:50.032(0) (oauth_server.js:392) Error in OAuth Server: Failed to complete OAuth handshake with Google. failed [400] {   "error": "redirect_uri_mismatch",

[2020-03-19 16:35] Numblesix commented on #15760
Im having the same issue i did the exact same thing

### Server Setup Information:

- Version of Rocket.Chat Server:  3.0.3
- Operating System: Rhel 7.7
- Deployment Method: tar
- Number of Running Instances:  1
- DB Replicaset Oplog:  Enabled
- NodeJS Version: v12.14.0
- MongoDB Version: 4.0.16

[2020-03-19 17:21] realgt commented on #16919
i got it figured out, in my General settings, my site domain was still set to localhost. once i configured it to my correct domain it worked.

[2020-03-19 17:24] sudarshann commented on #14554
saves the day. Thanks

[2020-03-19 17:35] luciusmagn commented on #16919
Hmm, let me see, you might be onto something. You are getting the exact same error!

[2020-03-19 17:39] luciusmagn commented on #16919
Hmm, still not good for me. Did it end up working with the ?close part or without?

[2020-03-19 17:44] realgt commented on #16919
i have both in there just in case
![Untitled](https://user-images.githubusercontent.com/30520/77097854-cfa0b880-69e7-11ea-882a-353fd7e76a45.jpg)

[2020-03-19 17:47] mathben commented on #16929
Ok thank for you opinion, I will try to do it by myself :-).
From my point of view, there's already a lot of thing in the admin UI, one more won't really make a difference.
Do you forsee other problems than cluttering the admin UI if I do it?
Thanks

[2020-03-19 17:51] luciusmagn commented on #16919
Oh, I don't have Authorized Javascript origins set. That might be why, huh,
lemme try

On Thu, Mar 19, 2020 at 6:45 PM Fabio Rodriguez <notifications@github.com>
wrote:

[2020-03-19 17:58] luciusmagn commented on #16919
Hmm, no good, but thanks for help so far. What do you have in your environment variable config? Maybe I have something different? Or perhaps wrong ROOT_URL, hmm

[code]
[code]

[2020-03-19 18:02] realgt commented on #16919
i didn't touch anything in there since i just used the ubuntu snap to install

[2020-03-19 18:05] luciusmagn commented on #16919
Hmm, let me try doing that, thanks!

[2020-03-19 18:18] engelgabriel commented on #10685
@pierre-lehnen-rc can you please take a look at this?

[2020-03-19 18:23] engelgabriel commented on #11584
Thanks for the contribution @subham103 !!!

[2020-03-19 18:26] engelgabriel commented on #12689
Closing this one in favor of #11609.

[2020-03-19 18:26] #12689 closed

[2020-03-19 18:28] engelgabriel commented on #14792
Refs: https://github.com/RocketChat/Rocket.Chat/issues/11609
Refs: https://github.com/RocketChat/Rocket.Chat/issues/12689

[2020-03-19 18:29] engelgabriel commented on #11609
Closed in favor of https://github.com/RocketChat/Rocket.Chat/issues/14792

[2020-03-19 18:29] #11609 closed

[2020-03-19 18:33] engelgabriel commented on #12106
@pierre-lehnen-rc have this been changed since the last update on the import function?

[2020-03-19 18:36] pierre-lehnen-rc commented on #12106
It didn't change, the hipchat enterprise importer uses .tar.gz and the non-enterprise hipchat importer uses .zip files.

[2020-03-19 18:45] #16919 closed

[2020-03-19 18:45] luciusmagn commented on #16919
Well, that worked, thanks a lot for the help!

On Thu, Mar 19, 2020 at 7:02 PM Fabio Rodriguez <notifications@github.com>
wrote:

[2020-03-19 19:10] gabriellsh commented on #16929
Well, I don't really see much value for it. For this to make a difference in workflow you'd have to be creating many many channels per day. Even then, we're currently adding support for multiple user direct messages, which would suffice needing to create multiple channels.

That's my personal opinion at least.

[2020-03-19 19:39] gabriellsh commented on #16940
Usually who asks for permission is jitsi. If you're using chrome, check your URL bar to the right and see if there isn't a camera symbol.

I found [this tutorial](https://support.google.com/chrome/answer/2693767?co=GENIE.Platform%3DDesktop&hl=en) too, it might help. Please, let us know if you can make it work.

If you can too, open Rocket.Chat in an anonymous window and see if it prompts for permi

[2020-03-19 21:05] mramadanahmed commented on #16846
I found the solution for that. In fact my OAuth server was not returning back the state that is sent by Rocket.chat. So the state is required while your OAuth is redirecting back to the Rocket.Chat

[2020-03-19 21:05] #16846 closed

[2020-03-19 21:05] #16191 closed

[2020-03-19 21:13] engelgabriel commented on #12430
Now that we have the `Content Filter` app for that, we should remove the functionality from the main code altogether.

We must make sure the `Content Filter` app can work with the non-roman characters.

[2020-03-19 21:14] engelgabriel commented on #12050
@fcecagno, sorry for the delay on this one, we will get it done asap.

Its is so simple, you could have done the PR yourself ;)

@sampaiodiego please take good care of our friends.

[2020-03-19 21:18] engelgabriel commented on #12106
Thanks @pierre-lehnen-rc let's do that.

[2020-03-20 02:08] pmayer commented on #11972
I'm having the same issue and had a quick look at the source. The problem is that during user creation username is always set to result.username – see https://github.com/RocketChat/Rocket.Chat/blob/develop/app/cas/server/cas_server.js#L211

So to fix this it should be overwritten like other int_attrs:

[code]

[2020-03-20 03:10] engelgabriel commented on #10675
@rodrigok and @diegolmello is this what we will need to do in order to process encrypted push notifications before displaying them on the mobile?

[2020-03-20 04:49] wizofaus opened #16943 "markdown doesn't work in channel or discussion name"
We're using Rocketchat discussions per JIRA as part of our development process. We have the JIRA hyperlink in the discussion name/title, but there appears to be no way to make it clickable using markdown or otherwise.  It's clickable via an announcement but it's rather too prominent and requires one click to "open" the announcement then another to browse to the link.
But surely markdown should jus

[2020-03-20 05:32] putt1ck opened #16945 "Service down? https://hub.rocket.chat/api/v1/peers?search=DOMAIN returns 503"
In trying to unsuccessfully setup federation I noticed the error was consistently "server.js:204 Federation ➔ dns.error Error: failed [503] Service Unavailable" regardless of setting changes. On research found out about the manual test using the api and got the same 503 response from the hub server, regardless of URL. Service down deliberately?

[2020-03-20 06:26] ankar84 commented on #16934
I think it is more related to **Video/Voice Chat** itself, but not Rocket.Chat.
Or you using **Admin UI** - **WebRTC** for that?
If you are using Jitsi, better place to create issue is [here](https://github.com/jitsi/jitsi-meet/issues)

[2020-03-20 07:03] Syn3rman opened #16946 "Empty object when querying by date"
### Description:

Querying by date on API endpoint channels.messages  returns an empty object

### Steps to reproduce:
Run the following python script:

[code]
### Expected behavior:

Return messages from channel starting from given date/timestamp to now.

### Actual behavior:

Returns:
[code]

[2020-03-20 09:34] didacroyo commented on #11600
I've used the new version and now it has been improved a lot. Thank you guys.
The only feature I miss now, from the mobile app is the switch to become online/offline as a livechat-agent. Closing this issue.

[2020-03-20 09:34] #11600 closed

[2020-03-20 09:35] subham103 commented on #14883
Looking forward to work on this issue:)

[2020-03-20 10:49] rusty1281 opened #17445 "More keyboard shortcuts if possible (dekstop and mobile)"
This is not a bug, if anything its a plea for more features to make this greate platform even better.

I use RC a lot with multiple servers, and I really don't like to use a mouse if I don't have to. Would it be possible to implement some more shortcuts?

For example, a quote and/or reply would be great. Editing my messages is great with UP key but clicking with a mouse to quote is really not. At

[2020-03-20 11:02] ritwizsinha opened #16947 "Heading still visible when the appsWhatIsIt is loading"
![Screenshot from 2020-03-20 16-31-00](https://user-images.githubusercontent.com/43509699/77157913-4dd48c00-6ac8-11ea-98d3-c8d143c4d47b.png)

[2020-03-20 12:06] SoulEater45 commented on #2737
+1

[2020-03-20 13:22] reetp opened #16951 "Video Call right column still present if call cancelled"
Rocket 3.0.4 on Docker with meet.jit.si

Go to channel
Click three dots
Click Video Chat
Start Video Call Popup appears
Video chat/Video Conference Right hand column can be seen
Click Cancel.
Right hand column still visible:

It should be closed on cancel.

[2020-03-20 13:30] jwhiteman36 commented on #16921
It looks like audio and desktop notifications still work for channels that they are set on even if the channel is never highlighted to indicated unread messages.

[2020-03-20 14:53] Josh-Riggs opened #16952 "Rocket.chat server does not accept Cert from CA"
Chat server was spun up, and is hosted internally.

Systems team cannot get internal CA issued cert to be accepted for HTTPS following normal nginx configuration for certificate. As this is an internal server, cannot expose publicly for Let's Encrypt and cannot use self-signed as hosted CA flags it. Systems team says there appears to be a secondary nginx process running inside rocket.chat itself t

[2020-03-20 16:19] rmjstn opened #16954 "Error while deleting a group throught the API call"
Hello,

A user with Admin role.
Get all the groups with the API call : "groups.listAll".
The API method "groups.delete" return the bellow error when I call it by passing in parameter one of the ID get by the previous call.
{"success":false,"error":"The required \"roomId\" or \"roomName\" param provided does not match any group [error-room-not-found]","errorType":"error-room-not-found"}

Rocket ver

[2020-03-20 16:26] danielfariati commented on #16940
It works on chrome, but it does not work inside the MacOS app.

[2020-03-20 17:15] mhow2 commented on #16934
I observed that too, with WebRTC.

[2020-03-20 18:16] PedroPretto commented on #16909
Thanks guys, closing this issue!

[2020-03-20 18:16] #16909 closed

[2020-03-20 18:44] gabriellsh commented on #16943
I put it in topic and announcement:

![image](https://user-images.githubusercontent.com/40830821/77195969-478ee180-6ac1-11ea-8a78-7e4b4789049f.png)

[2020-03-20 18:49] #6144 closed

[2020-03-20 19:17] renatobecker commented on #16200
No, I'll transfer this issue to the right repo.
Thanks.

[2020-03-20 20:19] engelgabriel commented on #14792
We need to rethink this from a fresh start. The options are really confusing indeed. I'll add get our UX team to look into it for the next release.

[2020-03-20 22:07] gabriellsh commented on #16938
I just tested this in develop 3.1.0 and unfollowing messages works fine. What you might be experiencing is that when you start a thread in a channel, if you receive notifications from that specific channel, even if you stop following the main message, you'll still receive notifications because there is a new message in the room.

You can manage per-room notifications if you want by clicking the 3

[2020-03-20 22:07] #16938 closed

[2020-03-20 22:14] gabriellsh commented on #16943
We had discussed this, and titles will be kept plain text. Thanks for your concern 😄

[2020-03-20 22:14] #16943 closed

[2020-03-20 22:20] gabriellsh commented on #16947
Hey @ritwizsinha, please, try to follow at least the issue template. Although you have opened the PR already, there is not enough information provided so other people can understand this. Thanks for your help!

[2020-03-20 22:31] gabriellsh commented on #16934
This could be due to someone's microphone (it usually is). Can you tell us what video chat you're using? (Jitsi, etc) Thanks.

[2020-03-20 22:36] gabriellsh commented on #16932
You're talking about this?

![image](https://user-images.githubusercontent.com/40830821/77211177-dc093c00-6ae1-11ea-9790-2d86a9d881a0.png)

If not, I don't know about what modal you're talking about, pressing `shift-esc` automatically removes the unread messages for me. (Your server is outdated BTW, I'm using 3.1.0-develop). Can you send a gif/video of this happening?

[2020-03-20 23:08] #16599 closed

[2020-03-20 23:11] #16563 closed

[2020-03-20 23:12] #14002 closed

[2020-03-21 00:09] nklock commented on #15673
I am also running into this issue. Every time the cron job kicks off to sync the user accounts, every room is flooded with dozens of users entering and leaving the channel. Can these notifications be disabled when the process is run in the background?

Or as a work around disable joining and leaving notifications altogether?

[2020-03-21 00:12] #16868 closed

[2020-03-21 00:21] #16309 closed

[2020-03-21 00:22] #16218 closed

[2020-03-21 00:40] #16137 closed

[2020-03-21 00:52] #16209 closed

[2020-03-21 00:57] #16041 closed

[2020-03-21 01:02] #16152 closed

[2020-03-21 02:59] #11972 closed

[2020-03-21 08:43] 564064202 commented on #16934
with WebRTC.

[2020-03-21 10:22] Sys-Admin889 commented on #16598
There is no one to help?

[2020-03-21 11:57] Turbocube644 commented on #15673
Hi, I get the same Issue. Is there any new information?

[2020-03-21 12:04] Turbocube644 commented on #15673
Hi,
the Issues still exists in 3.0.4. A fix would be much appreciated!

[2020-03-21 12:10] Turbocube644 commented on #16633
Hi,
I'm experiencing the same Issue in Version 3.0.4 (Docker). After enabling the Group Sync, the Authentification failes (Passwort incorrect). If the Group Sync is disabled, it works just fine.

Here is some log:
LDAP ➔ Search.info Searching user <MY_MAIL>
I20200321-12:07:02.636(0) LDAP ➔ Search.debug searchOptions {   filter: '(&(objectclass=posixAccount)(|(mail=<MY_MAIL>)(uid=<MY_MAIL>)))',   s

[2020-03-21 12:43] Sys-Admin889 opened #16961 "Error sending push to gateway"
Hello everyone,

- I think this error related to push notifications.

![Capture](https://user-images.githubusercontent.com/59320357/77226045-c47f9100-6b7d-11ea-836b-149e7fa32625.JPG)

- I'm currently using push gateway way to setup push notifications with Rocket.Chat.

- If any user not use the official Rocket.Chat mobile applications, that will cause this error?
   or there are other reasons?

![

[2020-03-21 16:27] ndroo commented on #15018
If anyone wants to help fix this i'm willing to fund your work. Feel free to ping me.

[2020-03-21 16:45] rudiservo commented on #6206
Hi I think that for security purposes there is an issue with LDAP:
i.e. one security measure is to add a few numbers to the user, like john.smith.1234
this is like a nightmare for hackers because it make it much harder to brute force.

also is an issue if the server show every username in the server by simply putting the "@"

Smartphone are a security problem, a big one, there should be a remote w

[2020-03-21 17:02] douglasmcqoy commented on #3952
![image](https://user-images.githubusercontent.com/13311864/77231894-a6be2600-6b95-11ea-9923-c9700a2c687a.png)
Jitsi meet server i installed on digital ocean and configured to use for video calls on rocket chat has noise and echoes during calls and can upload video chat messages.

[2020-03-21 20:38] spanchy commented on #15673
Yes, you can disable this message in settings. Message -> Hide System message, and select what you want to hide.

[2020-03-21 20:40] spanchy commented on #15673
I wrote to support by email, and they replied that they would pass the information to the developers, but they haven 't fixed it yet.

[2020-03-21 20:40] Rodriq commented on #16954
Check your error message very well. I've tried the same API call and it works with `roomId` and `roomName`. Maybe you're missing something.
Remember the payload you're passing is suppose to be in a correct parsed JSON format. :)

[2020-03-21 21:27] rmjstn commented on #16954
Hello Rodriq,

This is an extract of my Python script.

The first call :
[code]

The second one :
[code]
It seems all right to me

Thanks,

Rémy

[2020-03-21 21:34] Rodriq commented on #16954
Does the first response give an `_id` or  `id`?

[2020-03-21 21:54] rmjstn commented on #16954
Rodriq,

An extract of the response of the first call :

[code]

[code]

[code]

If I pass the roomName instead of the roomId, I've got the same error.

Rémy

[2020-03-21 21:54] Telefonorosso opened #16962 "REST API returns the 404 page"
### Description:

Call to authenticated REST API resource returns the 404 page

### Steps to reproduce:

[code]

### Expected behavior:

Get the presence status of all users

### Actual behavior:

Curl spits out the "404 not found" page source

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.3
- Operating System: Raspbian GNU/Linux 10 (buster) (ARM)
- Deployment Method: snap
-

[2020-03-21 21:59] karmapandya commented on #13945
@slowflyer Can you share your config settings / screenshot (for rocket chat) ? I can't seem to make it work (with webhooks installed)

Still getting "500 internal server error"

Thanks

[2020-03-21 22:34] goraksha commented on #16659
[code]
Logs be precise.
Built with 1-click option today.

Following _Customized command line for developers_ from the docs, it's the same, but `509.1M is too large (max is 500M).`

[2020-03-21 22:36] Sys-Admin889 opened #16963 "Nextcloud & Rocketchat integration"
Hello everyone,

I’m trying to integrate Nextcloud v17.0.3 & Rocketchat v2.4.11, both of them installed on Ubuntu 18.04 LTS by snap.

Configuration configured on Nextcloud server:
1- External user authentication App has been downloaded and enabled from this path
     /settings/apps/integration.
2- The bellow section already added to /nextcloud/config/config.php as the
     following [instructions]

[2020-03-21 22:52] rmjstn commented on #16954
Here are the logs. But I don't think it provides more informations.

[code]

[2020-03-21 23:01] hathawayweb commented on #13830
^^ Bump! Has anyone resolved this? An update?

[2020-03-22 00:41] sysfu commented on #16940
I can reproduce this problem on macOS 10.15.3 with Rocket.chat desktop app 2.17.8

[2020-03-22 00:53] sysfu commented on #16940
PRAM reset did not resolve. Right now I have Rocket.chat configured to launch Jitsi conference in a new window. I am able to get the camera working with Jitsi calls when using Rocket.chat in the Vivaldi browser, but not Safari.

[2020-03-22 02:43] Rodriq commented on #16954
Where exactly did you specify the `groups` variable that you are using in your `data`.
 From the first get call, you may want to do something like `response.json()["groups"][0]["_id"]` to get the _id of the first group.

Check your logic very well. Nothing is wrong with the server.

[2020-03-22 05:49] ggazzo commented on #13830
Sorry @hathawayweb, but we cant reproduce the bug with the provide info... could you say more about?
what language are you using in the server/client? are there any message text with RTL (Right To Left)? It would be nice if you sent a print showing the all current state... thanks for your time (:

[2020-03-22 05:53] hathawayweb commented on #13830
Hello @ggazzo!

Thank you for the response.

I can't show a screen shot of what's happening either, as it happens randomly for us as well. We are using English, we have no messages that should be RTL.

Print out of the from the Administrator > Info page?

[2020-03-22 06:01] ggazzo commented on #13830
... the rocket.chat version is enough thanks ...so are you using the rockect.chat desktop, did you see this problem on the web browser? I have never seen this before, BUT I will check the code...

[2020-03-22 06:04] hathawayweb commented on #13830
@ggazzo sorry wasn't sure what you wanted!

I only have seen it happen on the desktop client, I don't usually use the web browser for it.

[2020-03-22 06:11] ggazzo commented on #13830
The rocket.chat version and the desktop app version 😬

[2020-03-22 06:13] hathawayweb commented on #13830
It'll have to be about 1 day before I can follow up with more information.

Due to it being Sunday, I am not able to see the desktop version I have within the office! Have been out of the office for COVID-19 for over the week, I'll follow up as soon as possible! Thank you :)

[2020-03-22 06:56] jseong309 commented on #13830
After a few updated versions I have not had anyone reporting this issue. Currently on server version 2.4.11 and Windows 2.17.7.

[2020-03-22 08:18] rapliu opened #16964 "<br /> Tags do not work in Firefox"
![QQ图片20200322161727](https://user-images.githubusercontent.com/58632405/77245326-ab97de00-6c58-11ea-9bc9-3e227dc385d4.png)

Version | 3.0.2
-- | --
Apps Engine Version | 1.12.0
Database Migration | 174
Running Instances | 2
OpLog|Enabled
OS Type | Linux
-- | centos7 x64
Node Version | v12.14.0
-- | --

**I want Firefox to display exactly like Google <br />,
Maybe it's a problem with Firefox, if I

[2020-03-22 08:38] Tulkas59 commented on #2737
I really need this feature too. Just a log line with attacker's IP and fail2ban will do the rest :-)

[2020-03-22 09:50] ruKurz commented on #6152
I like the title of this issue! It states out the real intention: "prevent brute force attacks" (unfortunately the description is reduced to log failed login attempts).

To fend off Bruteforce attacks effectively there are a lot of things you can do against it, e.g.

- [ ] Strong passwords  (implemented | #9857)
- [ ] Two-Factor Authentication (implemented | but not mandatory #9233)
- [ ] Do not u

[2020-03-22 10:08] ruKurz commented on #2737
IMHO limit failed login should be featured by the application itself.

I think logging failed logins would be a first step in the right direction (#13387). But this issue here (#2737) aims to limit the number of failed logins. One could then install fail2ban to block sources from which attacks are made. But what you really want is to block user accounts that are the target of an attack.

Besides t

[2020-03-22 10:28] ruKurz commented on #16204
related with https://github.com/RocketChat/Rocket.Chat/issues/11294

[2020-03-22 11:34] TwizzyDizzy commented on #6152
This is not a good idea, because then I can lock you out of your account.

Tarpitting (increasing waiting time before new login can be tried)  based on the source IP seems to be a good way.

This way you cannot lock my account because if you try, my logins are still not tarptitted because I (usually) am from a different IP.

Cheers
Thomas

[2020-03-22 13:05] Telefonorosso commented on #16962
My bad,

`http://localhost:3000/api/v1/users.presence`

endpoint was added in a newer version than the one I've deployed.

[2020-03-22 13:05] #16962 closed

[2020-03-22 13:17] pooyanazad opened #16965 "drop settings"
after enable service and saving settings it'll disable again .

[2020-03-22 14:44] ruKurz commented on #6152
OK! Delaying further authentication attempts is the first step, but after several failed attempts the user ID must be blocked. This is also recommended by the BSI (ORP.4).

For both increasing delay and account locking, login attempts must be stored in the database.

[2020-03-22 15:27] #13867 closed

[2020-03-22 15:55] franckadil commented on #15018
We need a way to make the team acknowledge and prioritize this issue. In my understanding this issue is not really acknowledged yet. It have a direct impact for many on their choice to use Rocket Chat. @sampaiodiego

[2020-03-22 17:09] kevinprogramador commented on #16632
i have the same error when I try to create a ionic project

[2020-03-22 22:16] Pjirlip commented on #16940
I can also reproduce this bug inside the MacOS app. (Current Version from AppStore / MacOS Mojave). Native Rocket.Chat WebRTC Audio/Video functions also doesn't work.

Rocket.Chat App is not listed in "System Settings > Security > camera/microphon" (Like it should) and doesn't ask for Permission.

[2020-03-22 22:37] regalstreak opened #16967 "[IMPROVEMENT] Update our existing PR template"
Our current PR template does not provide much value to the maintainers or any developer that is browsing through the specific pull req. Update it to match the needs of the maintainers, so we get the info that we need out of every PR.

[2020-03-23 00:31] ndroo commented on #15018
So i actually fixed it, i'll submit a PR to address it for everyone else (tomorrow?).

[2020-03-23 07:58] darkounet commented on #7312
🆙  Interesting feature !!

[2020-03-23 08:00] bahamut45 commented on #7312
🆙

[2020-03-23 08:02] nicolaslebrun commented on #7312
would be very useful

[2020-03-23 08:11] xavierleho commented on #7312
up

[2020-03-23 08:31] tbigot opened #16970 "Cannot write to read-only channels with Android app even if authorized"
I am member of a read-only channel, and I’ve been authorized to talk. It works perfectly on the web app (I can send messages), but using my up-to-date Android Rocket.Chat app, I have the message “This room is read only” in place of the input text box at the bottom of the screen. No way for me to send any message to this channel using my phone.

[2020-03-23 09:06] franckadil commented on #15018
@ndroo Thanks for helping out, that's surely going to help!

[2020-03-23 09:43] cs-1 commented on #16015
The problem seems to be the fact that BBB is included as an iFrame. If you right-click the iFrame and open it in a new tab it will properly ask you for permissions for your camera etc. and after you granted those it'll work in the iFrame as well. Of course this is not a way to solve this problem in production deployments

[2020-03-23 09:49] tomdwyer3003 commented on #16945
I'm seeing exactly the same error when trying to set this up. New installation on Ubuntu 18.04 of version 2.4.11

[2020-03-23 10:15] rmjstn commented on #16954
Hello,

The API method _groups.counters_ works, but not the method _groups.info_ !!!???

With this Python script :

[code]
I've got this output :

[code]

Thanks,

Rémy

[2020-03-23 10:58] dcermak commented on #16932
No, I'm talking about this dialog that is displayed when you press `shift-esc`:
![Screenshot_2020-03-23 (•) Rocket Chat](https://user-images.githubusercontent.com/45594031/77309390-dc315380-6cfc-11ea-8814-f7ec1d78c57c.png)

Yes, it does that **after** confirming the dialog. That is **not** my issue though, clearing unreads works.

The issue (it's actually more of an inconvenience) is that the moda

[2020-03-23 10:59] mbrodala commented on #4424
FYI: I found the solution to my issue. The completely undocumented settings `Iframe_Integration_receive_enable`  and `Iframe_Integration_receive_origin` must be set to enable sending commands via the iframe:

https://github.com/RocketChat/Rocket.Chat/blob/2.4.11/app/ui/client/lib/iframeCommands.js#L77

[2020-03-23 13:16] wolbernd opened #16972 "BBB Integration doesn't allow desktop sharing"
### Description:

When starting a video conference via BBB it is not possible to share your desktop. Microphone and Camera work fine.

### Steps to reproduce:

* Configure BBB Integration
* Enter Channel and start Video conference
* Click on Share Desktop Button

### Expected behavior:

My desktop (or parts of it) are shared to all other participants.

### Actual behavior:

Error message "Permissi

[2020-03-23 13:25] hathawayweb commented on #13830
The coworker who is constantly reporting it is on version 2.17.3 and so I'm having her update to 2.17.7.

[2020-03-23 14:11] douglasmcqoy commented on #15018
can you share with me how you did?

[2020-03-23 14:14] long-cv opened #16974 "Device does not receive push notifications."
Hello everybody,
We build our own mobile app base on rocket chat, and now we need a push notification system.
We follow docs here: https://rocket.chat/docs/administrator-guides/notifications/push-notifications. Using Self Configured, disable Push Gateway (Set the Enable Gateway to False) and input GCM API Key, GCM Project Number. But the device cannot still receive notifications.
This is logs from

[2020-03-23 14:28] JoshMcCullough opened #16975 "Discussion link, when clicked, says "invalid or expired invite token""
### Description:

Immediately after generating an invitation link and then trying to use it, the following is shown:

![image](https://user-images.githubusercontent.com/4859660/77326899-dafa2980-6cf0-11ea-9be5-57c0b789744f.png)

### Steps to reproduce:

1. go to a discussion
2. click the Members List
3. click Invite Users
4. copy the generated link
5. paste the link in a new tab
6. "invalid or exp

[2020-03-23 14:28] JoshMcCullough opened #16976 "Generated discussion invitation link doesn't work for RC hosted in sub-directory"
### Description:

The invite URL generated from a discussion is incorrect. (URls below have been decoded for clarity.)

### Steps to reproduce:

1. go to a discussion
2. click the Members List
3. click Invite Users
4. copy the generated link
5. paste the link in a new tab
6. 404 is shown because URL has "chat/" in it twice

### Expected behavior:

URL should not include the sub-directory in the `p

[2020-03-23 15:09] colin13-zz opened #16977 "Admin could limit a user to communicate with certain other users"
It's been a while I've been using Rocket Chat, and I've come across this one a few times:

Somewhere like "Roles & Permissions" or in "User Profile", super admin is able to specify who to connect with, for a desired user.

This is needed for different types of companies, startups, and teams, to limit some of the users, so that they won't be able to see/DM/... all other users.

Thanks

[2020-03-23 15:52] justinr1234 commented on #11377
Hey @rodrigok how's it going?

[2020-03-23 17:21] Tulkas59 commented on #2737
Thank you for mentioning issue #13387 !

Of course it would be better if it was featured by the application itself. I wanted to emphasize the fact that the log-based solution is quite easy to implement :-)

[2020-03-23 18:14] hexus commented on #15429
This is actually quite a big breaking change for us at Claromentis, as we depend on this endpoint to log in users synchronised with our platform. The documentation does not make it clear that the value of the environment variable needs to be set to exactly `yes` or `true`.

This can be seen in the code of the merge request you linked, @MarcosSpessatto:
- https://github.com/RocketChat/Rocket.Chat/p

[2020-03-23 18:50] krispayne commented on #3792
```mongo rocketchat --eval "db.rocketchat_room.find( {'u.username':'accountname'}, {'name':1} ).forEach(function(u){print(u.name);})"```

Does this command still return the owners? I made a change this morning to a private room and it's still showing up under the old owner's account name in the output of this command. The admin interface shows the correct, new private group owner, though.

[2020-03-23 19:22] ashwaniYDV commented on #14606
@renatobecker This issue is already fixed by my merged PR.
Can we close this?

[2020-03-23 20:49] myteksp commented on #14124
Hey there.
Could you elaborate on version where the issue was resolved?

<img width="1645" alt="Screenshot 2020-03-23 at 22 45 07" src="https://user-images.githubusercontent.com/16536796/77361681-66f36c00-6d58-11ea-9feb-a736ce243e66.png">

<img width="532" alt="Screenshot 2020-03-23 at 22 45 34" src="https://user-images.githubusercontent.com/16536796/77361707-72df2e00-6d58-11ea-9fa9-a88531799684.p

[2020-03-23 21:05] mariaeduardacunha commented on #16964
Hi! This happens because the code you wrote is thrown inside a <div> with display: flex, so if you add a <div> around your code, it'll work as expected.

[2020-03-23 21:05] #16964 closed

[2020-03-23 21:08] mariaeduardacunha commented on #16965
Not enough information. Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-03-23 21:08] #16965 closed

[2020-03-23 22:16] danger89 opened #16980 "Missing Nextcloud Icon"
### Description:

Missing Nextcloud icon on login screen (Oauth).

Server: https://chat.melroy.org/

### Steps to reproduce:

1. Enable Nextcloud Oauth
2. Fill-in the ID/secret and all. Press Save.
3. Log-out and visit the login window.

### Expected behavior:

Instead of "NEXTCLOUD", I expect the icon of Nextcloud. Just like Gitlab, etc.

### Actual behaviour:

![nextcloud_icon_not_loaded](https:

[2020-03-23 22:27] ashwaniYDV commented on #7698
I could not produce this issue.
There is no option to delete livechat messages by the agent.

[2020-03-23 23:50] danger89 opened #16981 "Missing video call button only in public groups (WebRTC & Jitsi enabled)"
### Description:

The "Video Chat" button is **missing** from the action menu within the public group chats.
While this button _is present_ in both the direct messages as well as private groups...

### Steps to reproduce:

1. Enable WebRTC for public groups in admin panel
2. Enable Jitsi as video conference in admin panel
3. Go to the public group, press the 'action/more..' menu and ... . Missing

[2020-03-24 00:06] danger89 commented on #16963
If you want to connect Nextcloud to Rocketchat for logging in reasons. You should create a App in nextcloud and don't use WebDAV. WebDav is for calenders and stuff.

Within Nextcloud go to Admin panel -> Security.

Like: https://your-nextcloud-server.com/settings/admin/security

Then.. At the **bottom** of the page. Create a new 'app' for your Oauth validation.

Use something like this:

![image](

[2020-03-24 00:12] danger89 commented on #16970
Maybe it's a bug for..

https://github.com/RocketChat/Rocket.Chat.Android

?

[2020-03-24 00:22] danger89 commented on #16981
To answer on my own message. WebRTC is apparently still WIP, although the user-interface says that Jitsi is also beta.

Nevertheless, I found the problem. You need to select 'Enable in Channels', in order to use Jitsi within public channels.

Maybe an idea to call it all either groups or channels or rooms. But it's very confusing regarding the inconsistency of the names. Also, I disabled WebRTC fo

[2020-03-24 00:22] #16981 closed

[2020-03-24 00:40] danger89 opened #16982 "Inconsistency between groups, channels & rooms"
### Description:

Inconsistency of the naming of groups, channels, rooms within Rocket.chat app.

### Steps to reproduce:

1. Channel -> Info -> Says: "Room Info "
2. Admin panels -> "#rooms"
3. Root url (you see channels & private groups)

### Expected behavior:

I except 1 name that is used at all locations including the admin panel. Instead of using all these different names.

### Actual behavi

[2020-03-24 00:45] danger89 commented on #11649
I also hope there is a way to remove this message. Since I do not see 'remove message' for this kind of notifications.

While I can remove this message "Click to join" when I select 'Prune messages' which deletes all messages.

[2020-03-24 02:58] rapliu commented on #16964
你好，谢谢，怎么做?

[2020-03-24 03:19] noconnor29 commented on #16919
Adding both https://<domain>/_oauth/google and https://<domain>/_oauth/google?close solved the problem for me.

Is that intended behavior though?

[2020-03-24 03:57] rapliu commented on #16964
hello,thank you,plaese how to do it?

[2020-03-24 04:16] y377 opened #16984 "Error bug caused by OAuth using only Chinese names ！！！"
Excuse my poor English, when the OAuth custom name is used in Chinese, there is no delete option, I think this is also a mistake

![a01](https://user-images.githubusercontent.com/58632405/77387659-ffc1d000-6dc8-11ea-9ec3-d311435227e4.png)
![a02](https://user-images.githubusercontent.com/58632405/77387669-051f1a80-6dc9-11ea-8910-7530cc861c1d.png)
----------------------------------
In figure 1, I us

[2020-03-24 04:21] aryankoul commented on #16924
I would like to work on this issue.

[2020-03-24 05:02] 564064202 commented on #13380
@bytepoets-mzi how to use mongodb with authen
@ankar84
docker run  \
 --env MONGO_URL=mongodb://admin:pwd@172.17.117.61:27017/rocketchat?replicaSet=rocketchatReplicaSet\&authSource=admin \
 --env MONGO_OPLOG_URL=mongodb://admin:pwd@172.17.117.61:27017/local?replicaSet=rocketchatReplicaSet\&authSource=admin  \
 --name docker3000  -p 3000:3000  \
 -d rocket.chat:2.4.11

but error is :
MongoNetworkEr

[2020-03-24 08:29] mkretzer commented on #14908
Is there any work done on this?

[2020-03-24 08:47] sgohl opened #16985 "Edited text resets to origin text"
### Description:

9/10 times when you edit your last chat message, hitting enter will not save your edit.
Instead, the original message stays unchanged.
Mostly happens with the desktop app.
Running mongo:3 replicaSet as recommended. I feel that this perhaps has something to do with this, client-app not being synchronized with the actual/current updated message.

### Server Setup Information:

[cod

[2020-03-24 08:58] borzaka commented on #16940
I'am experiencing the same on Ubuntu with the native desktop app as well:
![image](https://user-images.githubusercontent.com/1230402/77406242-a3ed4c00-6db4-11ea-9e9d-026914eaea3e.png)
![image](https://user-images.githubusercontent.com/1230402/77406903-a308ea00-6db5-11ea-9c80-9763b2edb0a2.png)

### Client Setup Information
- Desktop App: 2.17.9
- Operating System: Ubuntu 18.04.4 LTS (5.3.0-42-gener

[2020-03-24 09:00] corrigac commented on #13945
- similar issue, but logs indicating 'Error: url must be absolute and start with http:// or https://' so redoing config

[2020-03-24 09:14] corrigac commented on #13945
- Setup page for BBB chat is misleading
Domain:   isn't actually the domain, its more like a root url -  https://docs.bigbluebutton.org/dev/webhooks.html#WebHooks_ resource URL component before /bigbluebutton/api/hooks/.....  including protocol indicator and NOT trailing slash

[2020-03-24 09:22] karmapandya commented on #13945
Yeah. I could not figure out the issue. I always ended up using jitsi for video conferences, so I gave up on BBB. BBB also needs a higher server configuration compared to Jitsi.

It is way simpler to integrate standalone jitsi meet server.  It meets my requirements.

There should be simpler documentation for setup. BBB server setup is simple but webhooks documentation is not great.

[2020-03-24 09:23] karmapandya commented on #13945
Let me know if I can help with anything.

[2020-03-24 09:30] bbrauns commented on #16975
duplicate #16852

[2020-03-24 11:13] JanZerebecki opened #16986 "mentions in a thread are missing author, time, message"
### Description:

Mentions in a thread are missing author, time and message content. A mention in a thread is show in the mentions tab of a channel only as the thread icon.

### Steps to reproduce:

1. Get mentioned in a thread.
2. Go to the mentions tab of the channel (via the 3 dots).
3. It shows only the thread icon and the mute icon.

### Expected behavior:

3. It shows also the author, time a

[2020-03-24 11:30] luto commented on #7465
@rodrigok can you please outline what an acceptable solution would like? what do you think about respecting [`$TMPDIR`](https://en.wikipedia.org/wiki/TMPDIR) here?

[2020-03-24 11:30] 564064202 commented on #11288
sir,when I use remote mongo_url(with password)，this is an error:

MongoNetworkError: failed to connect to server [127.0.0.1:27017] on first connect [MongoNetworkError: connect ECONNREFUSED 127.0.0.1:27017]

why 127????

version: "3.3"
services:
  rocketchat-00:
    image: rocket.chat:2.4.11
    restart: always
    environment:
      PORT: "3000"
      INSTANCE_IP: "172.17.117.62"
      ROOT_URL: '

[2020-03-24 11:57] tomdwyer3003 commented on #15159
@armagankaratosun Thank you mate, that fixed it for me too. Was only seeing 124 users, the other 800 have come through now :)

[2020-03-24 12:35] einhirn commented on #16553
Well, actually, "always open in new window" should be the default and perhaps doesn't even need to be configurable, because opening BBB in an iframe like it is done now causes a lot of issues with the media access - at least for me:
 - Screen Sharing doesn't work at all (allow lacks 'display-capture' right)
 - Doesn't work at all when using a load balanced BBB setup (you get redirected from BBB-AP

[2020-03-24 12:59] 564064202 opened #16987 "ther is a docker's bug"
`version: "3.3"
services:
    rocketchat-3000:
        image: rocket.chat:2.4.11
        environment:
            - PORT=3000
            - INSTANCE_IP=172.17.117.62
            - ROOT_URL=http://172.17.117.62:7777
            - MONGO_URL=mongodb://admin:a23456@172.17.117.61:27017/rocketchat?replicaSet=rocketchatReplicaSet&authSource=admin
            - MONGO_OPLOG_URL=mongodb://admin:a23456@172.1

[2020-03-24 13:25] 564064202 commented on #8856
@gannebamm  no,you have not. please read it
https://github.com/RocketChat/Rocket.Chat/issues/16987

[2020-03-24 13:39] MarcosSpessatto commented on #16600
@ashwaniYDV yes you are right, we can't do that for now, because we don't have this Date field to be able to filter. I'm closing the issue for now.

[2020-03-24 13:39] #16600 closed

[2020-03-24 13:40] gannebamm commented on #8856
@564064202 I don't see anything related to this issue above. I do not use docker for rocket chat.

[2020-03-24 13:52] lucasOlivio opened #16988 "Slow server self-hosted"
Description
I have a self hosted Rocket.Chat server on amazon instance, the instance is already on type t3.large and the chat is very slow, to type and on rocketchat react-native app is slow to load big audios too, but the bigger issue is the typing on the channel too slow. I have others websites bigger on other instances with type t3.medium and is not that slow, so I’m not very sure the server co

[2020-03-24 13:55] 564064202 commented on #8856
no,I don't think so.
![image](https://user-images.githubusercontent.com/12368358/77433295-2e1bcb80-6e1a-11ea-9b82-ef893e0e7c84.png)

[2020-03-24 14:06] einhirn commented on #16248
You probably need to install "bbb-webhooks" on your BBB-Server. That's why you get a 404 error.

[2020-03-24 14:14] einhirn commented on #13945
So to sum this up:

- Change the label from "Domain" to "BBB-Webhooks Base URL" or something
- Give an example for a working Base URL
- Inform the user that he needs BBB-webhooks installed on the BBB server

[2020-03-24 14:20] einhirn commented on #14586
Well @Beeez since you see "ETIMEDOUT" your RC server has some kind of problems reaching the bbb bbb server's external IP... Re-Check your connectivity...

[2020-03-24 14:21] marceloschmidt opened #16990 "UIKit messages with mentions are not working."
![image](https://user-images.githubusercontent.com/1986378/77435941-a609d780-6dc1-11ea-82fd-606ce2fc59b4.png)

[2020-03-24 14:22] einhirn commented on #14586
Hi @Shaltz,
Actually BBB server doesn't authenticate users via LDAP. A frontend like Greenlight does. But RC is just pointed to the BBB Backend API URL, so there shouldn't be any messages about LDAP login succeeded etc. in your logs at all.