[2020-12-18 18:49] andres-mauricio commented on #19728
Hello Folks!

One quick check here, do you display the "real name" or the "username" on the RC instance?
I ask because I noticed that before changing the "name" both fields have the same info at least in the specified case here.
I was able to replicate the behavior you experience because by default RC does not display the "name" field, but the "username" field instead.

to fix this, go to Administ

[2020-12-18 19:21] cassiobastos opened #19896 "Match Failed [400]"
Steps to reproduce
1 - Go to My Account - Preferences - Highlight - Highlight Words (I don't know if this is the correct option name because I use the Portuguese version, whose translation is "Destaques - Destacar Palavras").
2 - Put some words in the field and save
3 - Clear the field and try to save again
4 - it throws the error "Match Failed [400]"

Expected behavior
To be able to save the fiel

[2020-12-18 19:38] nhcarrigan commented on #19888
We have discussed this previously among our team - the concern with creating a separate `Staff` role is there doesn't appear to be a method for preventing a moderator with permission to assign roles from assigning that role. (Whereas the default Admin role requires a separate permission to assign)

[2020-12-18 20:14] aKn1ghtOut commented on #19896
The problem that causes this is that the **initialValue** of the TextAreaInput element(fuselage) does not change after clicking save. There is another issue that happens on the server if you try to enter an empty "highlights" entry after reloading the page which I have solved.
The frontend issue however might have to be dealt with a little differently, as the usage of the initialValue is causing t

[2020-12-18 21:24] eengstrom commented on #18556
As currently implemented, there is a 120 second delay in sending push notifications if the user is active/online in some client.  See: https://github.com/RocketChat/Rocket.Chat/pull/17357

[2020-12-18 21:25] eengstrom commented on #18925
As currently implemented, there is a 120 second delay in sending push notifications if the user is active/online in some client. See: https://github.com/RocketChat/Rocket.Chat/pull/17357

[2020-12-18 21:39] eengstrom commented on #19097
I'm glad to see lots of progress on this, and the original updates as part of https://github.com/RocketChat/Rocket.Chat/pull/17357, but it's really unfortunate I had to find this bug report and related PRs to realize that the documentation is seriously out of date.  Specifically:

- 60 second delay:  https://docs.rocket.chat/guides/mobile-guides/push-notifications-1/push-notifications-user-guide#u

[2020-12-18 23:28] eengstrom commented on #19065
I've also been seeing these, even after upgrading to 3.9.1.  I think I'm getting at least one for **every active** user.  FWIW, using the dockerized image that rocket.chat provides via a k8s cluster.
[code]

[2020-12-19 04:36] dkoo761 opened #19905 "Oplog processing stops working after MongoDB replica set election"
### Description:

Oplog tailing / processing stops working correctly after a MongoDB replica set election, resulting in real-time data not being delivered to the browser.

This means:
- when a user posts a message, it gets saved to the DB but appears greyed out to the user that posted it
- new messages in a channel don't show up until the user refreshes the browser
- the only way to get the above

[2020-12-19 06:15] aditya-mitra commented on #19832
I am sorry to hear that.
Can you reproduce this problem locally (for example - in a virtual machine) and check if the problem still persists?

[2020-12-19 06:38] deez17 opened #19906 "Snap has no updates yet"
Still snap showing no updates as below unable to update this is big problem with snaps please advice stuck at version 3.8 yet
![928F646C-6868-408A-A15B-98A1478B8D52](https://user-images.githubusercontent.com/75223599/102682893-e7190600-41f2-11eb-83da-a019a76be119.jpeg)

[2020-12-19 06:38] #19906 closed

[2020-12-19 07:11] DKoff commented on #9916
@astunk , looks like some problem is in the cloned user in AD

After your step 4 try to
1) Run script, with this string commented out:
`Invoke-Restmethod -Uri $request_disableuser -Method Post -Headers $headers -Body $body_disableuser`

2) If usertestchat_2 will be listed in script output (as "disabled") -- try to check his "Enabled?" parameter in AD without script
`Get-ADUser -Filter 'samaccountn

[2020-12-19 08:36] mvanderwoerd commented on #9920
Hey @geekgonecrazy  & @pierre-lehnen-rc  thanks for working on this but I believe this might have been incorrectly closed.
Was this verified before closing?

**Steps to reproduce:**
- Go to settings>  OAuth section (/admin/OAuth)
- Click: "add custom OAuth" & add placeholder text "test" into available fields & click "enable"
- Click: Save Changes
- Click: refresh OAuth Services
- Open newly added

[2020-12-19 08:41] geekgonecrazy commented on #9920
Can you open a new issue?  This one was reported back in 0.61 and seemed related to UI.  It was rewrote.  No reports on any newer issues since then

[2020-12-19 10:01] scebryan commented on #19905
Same issue, I have a case with support but I have no answer.

Although I think this happens if you have the Mongo with PSA (Primary-Secondary-Arbiter) architecture. With PSS (Primary-Secondary-Secondary) it doesn't happen.

[2020-12-19 10:03] scratttt commented on #19905
Same issue, I have a case with support but I have no answer.

Although I think this happens if you have the Mongo with PSA (Primary-Secondary-Arbiter) architecture. With PSS (Primary-Secondary-Secondary) it doesn't happen.

[2020-12-19 13:07] guidtz commented on #19877
@makibras yes it seems to work thanks

[2020-12-19 17:06] Ashray123 commented on #4055
I want to work on this issue, please someone point me to the file in which the changes are to be made .

[2020-12-19 17:12] RonLek opened #19908 "Tooltip for SideNav Header Icons"
### Description:

It would be helpful to have a tooltip corresponding to the icons in the sidenav header similar to the ones displayed for all other icons within Rocket Chat. Some users might find the icons in the sidenav header ambiguous and may realise what it does only after clicking on it.

### Steps to reproduce:

1. Hover over the icons in the sidenav header.

### Expected behavior:

Tooltip

[2020-12-19 17:15] RonLek commented on #19908
I'd love to raise a PR for this and would be grateful if someone could point me to it in the code :)

[2020-12-19 17:27] Ashray123 commented on #6094
I want to work on this!.. Please someone take the lead and guide me or point me in the right direction.

[2020-12-19 18:54] rodrigok commented on #18925
@eengstrom only if the user is online, after the user be away (2min of no activity) it has no delay.

[2020-12-19 19:51] mvanderwoerd commented on #9920
OK, will do - thanks for the quick follow-up.

[2020-12-19 20:16] mvanderwoerd opened #19909 "Custom OAuth not removed on pressing "remove custom OAuth""
Related issue #9920

### Steps to reproduce:

Go to settings> OAuth section (/admin/OAuth)
Click: "add custom OAuth" & add placeholder text "test" into available fields & click "enable"
Click: Save Changes
Click: refresh OAuth Services
Open newly added service named "test" by expanding it and click "remove custom OAuth"
Click "save changes" (top of the page)
Click: refresh OAuth Services

### Expe

[2020-12-19 20:16] #19909 closed

[2020-12-19 20:24] mvanderwoerd opened #19910 "Custom OAuth not removed on pressing "remove custom OAuth""
### Description:

Custom OAuth not removed on pressing "remove custom OAuth"

### Steps to reproduce:

1. Go to settings> OAuth section (/admin/OAuth)
1. Click: "add custom OAuth" & add placeholder text "test" into available fields & click "enable"
1. Click: Save Changes
1. Click: refresh OAuth Services
1. Open newly added service named "test" by expanding it and click "remove custom OAuth"
1. Cli

[2020-12-19 20:40] mmgoilf commented on #19728
Real name is selected:
![Clipboard - December 19, 2020 9_38 PM](https://user-images.githubusercontent.com/42281789/102699134-d6907c00-4242-11eb-9ea3-4d7449a6ec69.png)

[2020-12-19 22:51] galiazzi commented on #18868
This was fixed in version 3.9.0 #19577

[2020-12-19 22:51] #18868 closed

[2020-12-20 00:00] savish28 commented on #13557
@ggazzo could you please review #19872 ?

[2020-12-20 05:16] geekgonecrazy commented on #19905
@rodrigok @sampaiodiego this one is super important for us to fix.

looks like something in our new oplog / change streams processing stuff.

[2020-12-20 06:53] dkoo761 commented on #19905
Yes, I only have a single replica-set locally and didn't want to set up multi-node replica set just to verify this. But if you can set up your replica set to function the same way that Atlas does, then you should be able to reproduce locally.

[2020-12-20 07:45] bbyszio opened #19913 "APP Update for RocketChat on UCS"
We operate Rocket Chat as a UCS app. There has been no update for the APP at UCS for a long time.  The actually version is there 3.7.1 . This is a security risk.  When will the APP be updated to the current version at Univention?

[2020-12-20 07:45] #19913 closed

[2020-12-20 07:48] bbyszio opened #19914 "APP Update for RocketChat on UCS (Univention)"
We operate Rocket Chat as a UCS app. There has been no update for the APP at UCS for a long time. The actually version is there 3.7.1 . This is a security risk. When will the APP be updated to the current version at Univention?

[2020-12-20 07:48] #19914 closed

[2020-12-20 07:59] karniemi commented on #19860
Ok, thanks! That confirms it. Adding that explanation to the doc would be nice. Still, compared to other services' configuration mechanisms this is somewhat exceptional,
; it would be easier if the plain environment variable( without "override_") was always used if set.

[2020-12-20 10:13] arefhosseini commented on #17909
@killmasta93 What should I add to? I got the same error.

[2020-12-20 14:01] dossantg commented on #19880
Same issue on 3.8.1

[2020-12-20 15:22] abelbabel commented on #17459
I won't see this issue as closed just because nobody commented on it for sime time ...

[2020-12-20 16:50] sushant52 opened #19915 "[BUG] Edit Status under profile options is not translated"
### Description:

After clicking on your own account logo, a list of options pop up. All the other options have translations available in multiple languages, however the "Edit Status" button has no translation available in majority of languages.
### Steps to reproduce:

1. Change language to some random language(say Italiano).
2. Click on the account logo.
3. A list of options pop up, with "Edit S

[2020-12-20 19:46] killmasta93 commented on #17909
hi there i dont remember exactly but i gave up on rocketchat

[2020-12-20 20:16] fabiiretro opened #19917 "Email notfication link not working"
### Description:

When opening the link (not via deep link gateway) from the email notification, the client shows an error overlay

### Steps to reproduce:

1. enable email notifications
2. click on link

### Expected behavior:

link should redirect to the right message

### Actual behavior:

link redirects to the correct channel/group but does not jump to the correct message and shows a big "room

[2020-12-20 23:56] idarlund commented on #19815
What a coincidence. Just 9 days after creating this issue an "[Important XSS Security hotfix](https://github.com/RocketChat/Rocket.Chat/releases/tag/3.9.3)" is released.

Please fix this issue so that we can mitigate such risks!

[2020-12-21 00:53] robpedersendev opened #19918 "Invalid Purchase Type error on install of free package from market place"
I am running on "Version 3.93" on Ubuntu 18

The package I am trying to install is
![image](https://user-images.githubusercontent.com/40696979/102728792-fc715b80-42ea-11eb-9932-bac9a18fd3cf.png)

Once I click on install I get the red error and then all that occurs is the loading icon
![image](https://user-images.githubusercontent.com/40696979/102728904-7efa1b00-42eb-11eb-99fa-397e1ff09f18.png)

I

[2020-12-21 00:53] #19918 closed

[2020-12-21 00:58] robpedersendev opened #19919 "Can not install the package"
Steps to reproduce

    Expected behavior

    Actual behavior

    Server Setup Information
    Version of Rocket.Chat ServerI am running on "Version 3.93" on Ubuntu 18

### Description:

### Steps to reproduce:

The package I am trying to install is
![image](https://user-images.githubusercontent.com/40696979/102728792-fc715b80-42ea-11eb-9932-bac9a18fd3cf.png)

Once I click on install I get the r

[2020-12-21 02:00] mvanderwoerd commented on #19910
@geekgonecrazy
**This also seems to be broken on version 3.9.2**

### Server Setup Information:
Version of Rocket.Chat Server: **3.9.2**
Operating System: linux
Deployment Method: docker
Number of Running Instances: 1
DB Replicaset Oplog: enabled
NodeJS Version: v12.18.4
MongoDB Version: 4.0.20

I believe this means that **none of the Open-ID Connect solutions** are working:
1. [Okta](https://docs

[2020-12-21 06:03] sneakyx opened #19920 "Snap install security fix"
### Server Setup Information:

- Version of Rocket.Chat Server: 2.4.11
- Operating System: ubuntu server
- Deployment Method:
- Number of Running Instances: 1

Our server is still on 2.4.11 - and we can't install the security fix. This morning I got the "Security alert message".
I thought snap is the recommend way to install rocket.chat, so we installed it that way 2 years ago. Could You please up

[2020-12-21 06:03] #19920 closed

[2020-12-21 06:08] sneakyx opened #19921 "snap install doesn't upgrade"
### Description:

The snap install doesn't update the security fix.

### Steps to reproduce:
none-message shows directly

### Expected behavior:

upgrade to min 2.4.14

### Actual behavior:
We're still on version 2.4.11

### Client Setup Information

- Desktop App or Browser Version: Crome/Chromium/Firefox, newest version on OSes
- Operating System: Windows/Mac/Linux

### Server Setup Information:

[2020-12-21 06:35] astunk commented on #9916
With this input, I get the following results:

1.  > Run script, with this string commented out:
`Invoke-Restmethod -Uri $request_disableuser -Method Post -Headers $headers -Body $body_disableuser`

usertestchat_2 is disabled in AD, disabling in Rocket Chat

2.  > If usertestchat_2 will be listed in script output (as "disabled") -- try to check his "Enabled?" parameter in AD without script
`Get-AD

[2020-12-21 07:35] rogerpfaff commented on #19433
That is not even remotely a workaround if you don't know nothing about development inside RocketChat. I could not find the mentioned file so I can not fix this. Either somebody should write a better documentation for the workaround or much better just fix what was broken without further notice.

[2020-12-21 09:28] h3d-haivq commented on #19880
upgraded to 3.9.2 but the problem is still persisted

[2020-12-21 12:37] dev-manager-uk commented on #19209
Does anyone have an eta for 3.0.8 please?  This bug has been going on for a while and it would be AMAZING to have reliable status for all users again!!  Thank you for all your great work :-)

[2020-12-21 14:41] gik000 commented on #19921
We also are experiencing problems in upgrading rocketchat from version 2.4.11 to version 2.4.14.

Any ideas of how to unstuck this situation?

[2020-12-21 15:47] slyk commented on #19433
Nobody _should_, but you could ask for help, that what internet is used sometimes :)

I'm dealling with this right now, so if you have Ubuntu/Debian this should work:
1. You have access to your server with rocketchat bot service is running using ssh. Most of the times you should connect usinf terminal (ctrl+t):
`ssh root@192.168.1.10 `
(change to your IP address)

2. Search for the file with probl

[2020-12-21 15:48] DKoff commented on #9916
@astunk , judging by your information (get-aduser cmdlet returning `null` value for `Enabled?` attribute for new users) - problem is in active directory:

- it is either security issue (user running script, does not have enough permission to read `userAccountControl` attribute),
- or, _more likely_, domain controller replication issue (`userAccountControl` attribute of newly created user account n

[2020-12-21 16:33] Gummikavalier commented on #19917
Confirming that we are experiencing this issue too at least with direct and private rooms.

[2020-12-21 18:21] joswhite commented on #16711
My organization just updated. I have two RC servers I am connected to (3.9.0 and 3.9.3), and there seems to be a good memory consumption improvement. The memory doesn't go above 500 MB, and it drops down to 400 MB after a minute or so of inactivity. Previously, if I scrolled through a bunch of messages the memory consumption went up dramatically, but that doesn't happen anymore, it just goes up a

[2020-12-21 21:59] hpsaturn commented on #16738
I don't if this issue has relation with the next: I changed my avatar many times, but ever the other platforms like Twitter, Telegram, etc, find my first avatar, don't matter if I clean my browser cache, or third party cache, all time the Github service get my first avatar, it is insane:

## Telegram preview
![image](https://user-images.githubusercontent.com/423856/102825573-505d6c80-43df-11eb-957

[2020-12-21 22:08] MJPGPleasant commented on #19728
We have the same issue as well. We Display "Real Name". If you have any existing conversations under the old name, they will update momentarily in the UI, but on log out / log in / refresh cache (?) these conversations will revert to the previous name.  Full name in the "User Info" field displays correctly, as does any chat history. Only the Left Pane and the chat title displays the historical nam

[2020-12-21 22:39] aKn1ghtOut opened #19927 "[BUG] Outdated current value for fields in Account settings after saving changes"
### Description:

In My Account, the current values aren't updated after changes have been saved without reloading.

### Steps to reproduce:

1. Go to My Account -> Preferences. In Highlights, start editing the "Highlighted words" TextArea.
2. Enter "klt"
3. Save Changes
4. Change to "kl" [ "Save Changes" activates ]
5. Change back to "klt" [ "Save Changes" does not deactivate even though this is

[2020-12-21 23:21] dougfabris commented on #19908
@RonLek you can simply pass the title prop to the header action components of the sidebar. Feel free to create your branch and send a PR.

**code locale hint**: client/sidebar/header/actions

[2020-12-22 02:49] teak421 commented on #19574
Looks like this has been resolved in #19898.

[2020-12-22 02:50] sampaiodiego commented on #19574
yes! thanks @teak421 for pointing it out..

[2020-12-22 02:50] #19574 closed

[2020-12-22 04:04] astunk commented on #9916
Thank you for your assistance! The script is absolutely working and all my resentments related to its performance relate solely to the specifics of my individual infrastructure setup. Thanks again for the provided script, thanks!

[2020-12-22 04:51] #19035 closed

[2020-12-22 05:07] #18387 closed

[2020-12-22 05:51] #19896 closed

[2020-12-22 07:27] RonLek commented on #19908
Thanks @dougfabris. I'm on it!

[2020-12-22 08:26] peiacademics commented on #2049
+100 for this feature. Its really useful and would make things so much more efficient.

Check : Telegram's folder structure also. Everything is moving towards better organization.

[2020-12-22 08:52] mohammad-matini opened #19933 "Code Block Highlighting Broken for Python, C++, Diff, and Many Other Popular Languages in Versions 3.9.0+"
### Description:

https://github.com/RocketChat/Rocket.Chat/pull/19533 disables code highlighting for many target languages, including the `diff` target, starting with version 3.9.0.

### Steps to reproduce:

Send a code block with a `diff` highlight type in versions 3.9.0+

### Expected behavior:

`diff` code blocks should be highlighted.

### Actual behavior:

`diff` code blocks are not highligh

[2020-12-22 11:54] DKoff commented on #9916
@astunk , glad to help

Added disclaimer to my original post, to warn other users: _"make sure, that script runs less frequently than domain controller replication interval, or incorrect behaviour can occur, see comments below"_

[2020-12-22 13:34] ismabvbbr commented on #19881
I have the same problem!!

[2020-12-22 14:37] #19836 closed

[2020-12-22 14:42] jwalker5006 commented on #18591
I noticed with ours, depending on browser, clicking the cloud to download seems to always work, clicking the file name will not work and receive a forbidden. I leaned the forbidden for me was the ROOT_URL was not using https but rather http, so cross site scripting in the browser made it forbidden.

Not sure if this will help. we had to instruct everyone to always click the cloud icon. Im not good

[2020-12-22 15:49] phlbrz commented on #18347
Yeah,

Today I upgraded my instances, from 3.2.2 to 3.9.3 and same problem...
I had to do this workaround https://github.com/RocketChat/Rocket.Chat/issues/18347#issuecomment-666590634

[2020-12-22 16:05] MJPGPleasant opened #19936 "Users not showing up in Room Members List (Custom OAuth Room Mapping)"
### Description:

Room Users List seems to only show users that where added to the room (server?) previous to the current individual joining the room.  We are using Custom OAuth room mapping to add users to rooms as they log in.

### Steps to reproduce:

1. Set up Custom OAuth
2. Set up OAuth Group Channel Map
3. Set up groups such that two users (not previously logged in to Rocket.Chat) become me

[2020-12-22 16:29] MJPGPleasant commented on #18391
This has become a HUGE issue for our rollout. We are working around it by logging in as Admin and toggling the "Verify email" fag for the user affected. However if this continues to happen we may be forced to roll back our implementation.

Custom OAuth using AzureAD, RC 3.9.1

[2020-12-22 18:54] sushant52 opened #19939 "[BUG] SideNavBar under Administration does not scroll properly."
### Description:

The sidenav under administration can't be fully scrolled. The WebRTC option is not properly visible on the screen.
### Steps to reproduce:

1. Go to administation.
2. Scroll down the sidenav.
3. WebRTC option is not fully visible.

### Expected behavior:

The scrolling should work properly with all the options clearly visible.

### Actual behavior:

![ezgif com-video-to-gif](http

[2020-12-22 18:55] sushant52 commented on #19939
I would like to work on this. Any help on how/where to start would be nice !

[2020-12-22 19:06] Drexl opened #19940 "rate-limited push notifications"
Please consider exposing an option to enable rate-limiting for push notifications. Our team has used Slack and Discord and like features of both, but easily the BIGGEST issue some of our users face is the inability to rate-limit notifications. This leads to users muting channels out of frustration and then not getting messages for weeks months when they should be. Temporary muting, or @mention set

[2020-12-22 19:06] #19940 closed

[2020-12-22 19:47] theabhinavdas commented on #19027
Facing this bug on version 3.9.3 right now. As well as the blue banner that asks us to join the push notification service.

[2020-12-22 20:37] diego219 commented on #19837
same here +1

[2020-12-22 22:55] vitos202 commented on #13433
Has anyone been able to properly build LDAP query filters to get users from trusted domains? Can you show me an example?

[2020-12-22 23:44] #19939 closed

[2020-12-23 06:42] Vinutha-Garimella commented on #19065
Same issue with `rocketchat/rocket.chat:3.9.3` image

[code]

[2020-12-23 12:52] kakaotasse opened #19947 "Rocket Chat blank or no videos"
I've got a problem mit the Rocket Chat Mac app. Recently, when I try to enter a video conference, the conference window either turns blank, or I see the participants' IDs but no video. No audio, too. When I use the browser version, it works.

[2020-12-23 12:52] #19947 closed

[2020-12-23 13:01] kakaotasse opened #19949 "Bug in Rocket Chat Mac App"
### Description:

I've got a problem mit the Rocket Chat Mac app. Recently, when I try to enter a video conference, the conference window either turns blank, or I see the participants' IDs but no video. No audio, too. When I use the browser version, it works.

### Steps to reproduce:

1. Start Rocket Chat Mac App
2. Join a video Chat

### Expected behavior:

A regular window with working video and

[2020-12-23 15:47] RonLek opened #19952 "[BUG] Pinned Message menu doesn't lose focus"
### Description:

The menu for the pinned message doesn't lose focus causing it not to close when seen from the Pinned Messages section for a channel. This results in the entire screen getting unscrollable, with the only way out being a screen refresh. Even unpinning the message itself doesn't change anything.

The menu should automatically lose focus and close if the user clicks anywhere outside

[2020-12-23 15:48] RonLek commented on #19952
I would love to work on this. Any leads would be really appreciated :)

[2020-12-23 18:39] MJPGPleasant commented on #19728
Workaround - If you change the UserID as well (and then if need be change it back after saving) The displayed username properly updates and holds it new value.

[2020-12-23 19:31] gotton commented on #19921
hello,
Are you using a raspberry pi ?
The snap packages on rapsberry pi doesn't received update.

[2020-12-24 01:27] PH-Bluechain commented on #14562
How is this still happening, especially with such a simple workaround existing?

[2020-12-24 01:29] PH-Bluechain commented on #18086
Issue has been happening for a year and a half now, really could do with it being fixed.

[2020-12-24 09:18] ankar84 opened #24284 "[New Feature] Deeplink for applications in chats context menu"
## My Setup

- Operating System: Windows 10
- App Version: 3.1.0
- Installation type: exe

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
Now when you click right mouse button on any chats name in a Sidebar you can choose **Copy link** in context menu.
But that link for chat works only for web client version.
I suggest to add another option in con

[2020-12-24 10:03] Darshilp326 commented on #19952
@RonLek  i think #19526  would fix this issue!

[2020-12-24 13:15] aditya-mitra commented on #19869
Thanks for pointing out this issue.
I have made a PR which resolves this issue. :smile:

[2020-12-24 13:43] relikd commented on #18391
I've had this issue too. But I seem to have fixed it with this configuration:
Go to Administration > Users > Registration, disable "require name for signup" and "require password verify" (is handled by the oauth anyway). Make sure that "verify external email" is set to on, as otherwise the email addressed won't be marked as verified upon registration. Sometimes I got a "enter your verification cod

[2020-12-24 13:49] relikd commented on #18391
I have another issue with nextcloud OAuth login. Actually two issues. First, if I use the built-in nextcloud OAuth config, that login button is not shown in the RC iOS app. So I've set up a custom OAuth handler which is doing fine. Except, every successful login is logged as a failed login attempt in nextcloud. Resulting in the brute-force app to block all connections to RC and making the OAuth lo

[2020-12-24 13:59] Darshilp326 commented on #19755
@Robbilie Can you guide me to solve this issue?

[2020-12-24 14:05] relikd commented on #19250
I can tell you exactly why this happend and why it will probably happen again. Please feel free to reopen the issue if you can confirm it.

The issue is that every login attempt, successful or not, is logged as a failed login attempt in nextcloud. If you have the brute-force app enabled, it will kick in and rate-limit the login procedure. At some point it will take to long to log in and the handsh

[2020-12-24 14:10] mohjam2004 opened #19960 "The timestamp value in my Prometheus alertmanager is not sent to rocket chat webhook"
I send alerts from prometheus to rocketchat webhook. This is the configuration of one of my alert rule:

- alert: HighCpuLoad
  expr: 100 - (avg by (instance, group, host) (irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 81
  for: 5m
  labels:
    severity: warning
  annotations:
    timestamp: "{{ with query "time()" }}{{ . | first | value | humanizeTimestamp }}{{ end }}"
    description

[2020-12-24 14:10] #19960 closed

[2020-12-24 14:18] mohjam2004 opened #19961 "The timestamp value in my Prometheus alertmanager is not sent to rocket chat webhook"
### Description:
I send alerts from prometheus to rocketchat webhook. This is the configuration of one of my alert rule:
- alert: HighCpuLoad
  expr: 100 - (avg by (instance, group, host) (irate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 81
  for: 5m
  labels:
    severity: warning
  annotations:
    timestamp: "{{ with query "time()" }}{{ . | first | value | humanizeTimestamp }}{{ end }}"

[2020-12-24 15:02] mohjam2004 opened #19963 "I want to change the color of alert based on the type of the message"
### Description:

I use a script to send alerts to rocketchat webhook. All messages have the same side line orange color in rocketchat messages.
How can I change the color based on the type of the message? for example orange for warning and green for info

### Steps to reproduce:

1. I use this script:

![image](https://user-images.githubusercontent.com/59224403/103095660-a405cb00-4616-11eb-8a69-2

[2020-12-24 15:47] RonLek commented on #19952
Thanks @Darshilp326 . On implementing the changes in the mentioned PR, it sure does unpin the messages but the menu doesn't lose focus and close away resulting in the screen to 'freeze' as mentioned in the issue description. Check it out below.

![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/28918901/103097447-44ff8080-462d-11eb-8151-e5128c721da4.gif)

[2020-12-24 16:05] RonLek opened #19964 "[BUG] Inconsistency in number of replies to a message after deletion of replies"
### Description:

If a user deletes the replies to a message in thread the number of replies shown for the message remain the same even if replies are deleted. Either a "Message Removed" should be shown for the reply deleted or the count of replies should by updated after a reply is deleted.

### Steps to reproduce:

1. Hover over a message and click on "Reply in thread".
2. Type anything and repl

[2020-12-24 18:39] peterbohl opened #19966 "Not showing messages after changing My Account Preferences"
I'm not sure this is the cause, but it is the most likely cause.  I was a new user in My Account Preferences to check out what settings I could do.  I clicked on all the drop-down sections to see what options there were, but did not change some.  (I'm doing it again now to be accurate in my description, so maybe the glitch will happen again.)

Language = no change.
Global = no change.
User Presenc

[2020-12-24 18:39] #19966 closed

[2020-12-24 21:07] sneakyx commented on #19921
No, it's a regular ubuntu server.

[2020-12-25 14:09] murtaza98 commented on #19891
Hey @Colobon

I tried to run the telegram app with same configuration you have specified, however I'm sorry I couldn't reproduce the error you are facing. The app was able to exchange messages in both directions.

Could u confirm if u are still facing this error?

[2020-12-25 16:02] Colobon commented on #19891
Yes, it still here

Well, i've created a new bot just now. Set the bot's privacy to "Disable"(just in case...), changed the "Telegram Bot Token" in the Rocket to the new one.
After it, i joined to the new bot in Telegram and recieved(!) "Welcome Message" from Rocket. But now i see same problem - messages go only from the Telegram to the Rocket, but not back

[2020-12-25 16:26] mmgoilf commented on #19728
What do you mean by "userID", the @?

[2020-12-25 20:30] nikoma commented on #9967
Did this get added? I am trying to use Atlas service from MongoDB. Won't work without username/password.

[2020-12-26 09:15] huko600rr commented on #19877
THANK YOU!!

[2020-12-26 09:43] 123qwealex opened #19969 "Где скачать версию Rocket.Chat 3.1.1 для windows?"
Здравствуйте,уважаемые разработчики!
Где скачать версию Rocket.Chat 3.1.1 для windows?
На Вашем сайте при скачивании последней версии по ссылке https://rocket.chat/install/ (https://github.com/RocketChat/Rocket.Chat.Electron/releases/download/3.0.6/rocketchat-setup-3.0.6.exe?utm_source=facebook&utm_medium=organic&utm_campaign=social&gclid=undefined) при скачивании отображается версия 3.0.6,а само

[2020-12-26 09:43] #19969 closed

[2020-12-26 09:58] 123qwealex opened #19970 "Update Rocket.Chat"
Unable to update the Rocket version.Chat up to 3.1.1. Where to find links to download the current version.On the Rocket website.Chat has a version for windows 3.0.6.

Steps to reproduce - Runs on the update screen.
Expected behavior - It should go to the site where you can download the latest version or the latest version should immediately download and install itself and at the same time it shoul

[2020-12-27 11:33] nodiscc commented on #17467
Proposed fix in https://github.com/RocketChat/Rocket.Chat/pull/19971

[2020-12-27 14:22] dusatvoj opened #19972 "TypeError: Cannot set property 'subscriptionInfo' of undefined"
### Description:

Why do I have this error in exceptions channel?

### Steps to reproduce:

1. Nothing. Just Have enabled exceptions to channel

### Expected behavior:

Nothing in exceptions channel

### Actual behavior:

![image](https://user-images.githubusercontent.com/11560794/103172876-f9301f80-4856-11eb-92c4-c4f2d5ea477d.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 3

[2020-12-27 16:51] Darshilp326 opened #19973 "No translations for error message."
### Description:

Error messages are not translated into preferred language
### Steps to reproduce:

1. Go to User Profile
2. Select Preferences
3. Select  your preferred language

### Expected behavior:
Error message should be translated into preferred language.

### Actual behavior:
Error messages are in english language only.

https://user-images.githubusercontent.com/55157259/103174888-da984b8

[2020-12-27 16:51] Darshilp326 commented on #19973
Please help me to solve this issue!

[2020-12-27 17:12] Angstroem opened #19974 "Pictures corrupting during upload from mobile phone or pc"
### Description:

When using the mobile Rocket.Chat app on android or the PC app to send one or more pictures to the Rocket.Chat instance, some of the uploaded pictures are corrupted (e.g. one half of the picture is black/transparent). This behaviour could be observed from us on multiple android phones (including three samsung galaxy s10+, a galaxy s20, an older a-series phone, etc) as well as PCs

[2020-12-27 19:54] RonLek opened #19975 "[BUG] Profile picture changes with change in username for a user"
### Description:

As and when the username for a user is changed, the user's corresponding profile picture also changes automatically. In case the user justs wants to change her username she would have to re-upload her profile picture back again unless she selects her current profile picture from the right every time before changing the username.

Moreover, if an existing username is typed, that u

[2020-12-28 06:56] sneakyx commented on #19921
our server is now on v2.4.14 - thanks guys for upgrading the snap package!

[2020-12-28 06:56] #19921 closed

[2020-12-28 08:29] Colobon commented on #19891
So, testing with my colleagues have shown that everithng is working fine. Almost. Because messages do not sending only to my Telegram account.

This is probably my local problem. I think this issue can be closed. Thanks.

[2020-12-28 08:29] #19891 closed

[2020-12-28 13:42] thealek0 commented on #17170
+1

[2020-12-28 15:26] MJPGPleasant commented on #19728
Yes the "@" name. Sorry for mixing up terminologies above...

To correct above:

"Name" field in RC = What I refer to as "User Name" = What is displayed when "Show Real Name" is enabled
"Username" field in RC = What I refer to as "User ID" = The "@" name and what is displayed when above is disabled.

[2020-12-28 17:44] yash-rajpal commented on #19973
I am not able to play the video you uploaded.

[2020-12-29 08:17] tallaras commented on #17177
Up

[2020-12-29 10:10] amezioud commented on #19225
Still happening on 3.9.3

**Additional information :**
Version du moteur d'applications | 1.21.0-alpha.4235
Mise à jour de la base de données | 212
Date de mise à jour de la base de données | 28 décembre 2020 20:44

[2020-12-29 10:59] reda-alaoui opened #19984 "Custom user information is not received from OAuth"
Re-opens #15912

The issue is still relevant.

[2020-12-29 10:59] #19984 closed

[2020-12-29 11:06] reda-alaoui opened #19985 "Custom user information is not received from OAuth"
### Description:

We have our own OAuth server and need to get some user information (only OAuth `sub` for now) from OAuth to send back in the livechat webhook events.

### Steps to reproduce:

1. Go to 'Accounts > Registration > Custom Fields'
3. Set this json :
`{"sub" :{"type": "text","required": true}}`
4. Set 'Registration Form' to 'Disabled'

### Expected behavior:

I was expecting to get th

[2020-12-29 11:20] b2pacific commented on #19975
Can I work on this issue?

[2020-12-29 12:12] g-thome commented on #19001
Is this still happening on latest release?

[2020-12-29 13:04] iamtushar324 commented on #19975
Sir, Should the suggestion avatar image change with the change in the username or it should also be fixed.

[2020-12-29 14:58] milton-rucks commented on #19482
Hi @mddvul22 , we are working on that for Q1/21

https://forums.rocket.chat/t/addressing-push-notifications-pain-points/9222

Thanks for your feedback.

[2020-12-29 15:52] psoares commented on #19703
Same issue in Rocket chat 3.7.1 without any upgrades...

[2020-12-29 16:02] MJPGPleasant commented on #19728
It looks like the issue of the real name not being properly updated has been resolved via https://github.com/RocketChat/Rocket.Chat/pull/19834, which is released in https://github.com/RocketChat/Rocket.Chat/releases/tag/3.10.0

Test and enjoy :)

[2020-12-29 16:16] MJPGPleasant commented on #19975
Looks like it may be addressed in Rocket.Chat 3.10. Noted that the default avatar changes letter (not colour) as appropriate only after saving, and custom avatars are left intact.

[2020-12-29 16:21] iamtushar324 commented on #19975
Ok Got it

[2020-12-29 17:19] iamtushar324 commented on #19975
Please Review My fix https://github.com/RocketChat/Rocket.Chat/pull/19991

[2020-12-29 17:19] iamtushar324 commented on #19975
https://user-images.githubusercontent.com/54494629/103301796-2122ad00-4a28-11eb-937f-03b8731e9f45.mov

[2020-12-29 17:21] yasirrose commented on #19111
This issue still exists in 3.9.3.

[2020-12-29 17:26] gabriellsh commented on #19974
Hi @Angstroem! If you access the folder where the uploads are saved, does the image appear normal? Also, if you upload the same image again, does it corrupt again?

The logs you sent from the browser seem to be browser's extensions errors (maybe some extension you had installed does not work with rocket.chat). It would be really nice to see if the server logs anything AFTER a corrupted image is up

[2020-12-29 18:18] gabriellsh commented on #19975
I believe the Default avatar "suggestion" should always show the color and letter changing, but the actual profile pic should only change when one of the buttons is clicked.

[2020-12-29 18:19] gabriellsh commented on #19985
Can you send the payload of the oauth that's going to the rocket.chat server? Also, I think the payload must contain that custom field inside an object, like this: `customFields: { sub: 'Hi' }`. I'm not sure this works by default, but from what I read from the Meteor docs, it looks like it should...

[2020-12-29 18:29] reda-alaoui commented on #19985
Hi @gabriellsh,

The OAuth payload is:

[code]

I don't think CustomFields can be currently mapped from OAuth claims.
Please take a look to #19887 which solves this issue.

[2020-12-29 18:36] reda-alaoui commented on #19985
FYI, I can't move `sub` attribute since it is part of OpenId Connect standard.

[2020-12-29 19:12] mmgoilf commented on #19728
Yes that works, although now there seems to be another bug that changing names takes a very long time to go through and makes the server temporarily disconnect. I will test that more and make a bug report for it.

[2020-12-29 19:26] gabriellsh commented on #19985
There's indeed no way to do what you wan't right now. However, I raised this problem internally and I believe a customField map setting is gonna be added sooner than later. It'll be linked to this Issue, so you'll be notified when it's out.

Thanks a lot for your comprehension @reda-alaoui

[2020-12-29 19:28] mmgoilf opened #19994 "Changing names causes server to disconnect"
### Description:

When changing your name, the server will start to lag, channels won't load, until finally the entire server disconnects. After some time the name will successfully change and the server will run again. In the past it only did this with your @/username, now it is doing it with name too.

### Steps to reproduce:

1. Go to user settings
2. Change name
3. Save

### Expected behavior:

[2020-12-29 19:32] Darshilp326 opened #19995 "[BUG] Member ignore message not working properly."
### Description:
When member is ignored/unignored same success message is displayed.

### Steps to reproduce:

1. Select any room
2. Select members from contexual bar.
3. Select three dots option on user you want to ignore.

### Expected behavior:
Different messages for ignoring and unignoring should be displayed.

### Actual behavior:
Same messages are displayed while ignoring and unignoring.

ht

[2020-12-29 19:32] Darshilp326 commented on #19995
Working on it!

[2020-12-29 19:35] reda-alaoui commented on #19985
@gabriellsh are you talking of #19987 ?

[2020-12-29 19:44] mmgoilf commented on #19728
The issue is actually not fixed. For all other users, changing their name fixes the issue. For me though, my name on the sidebar is still a very old nick I had for other users. Changing my nick does not make it go away. Also here is the new issue: https://github.com/RocketChat/Rocket.Chat/issues/19994

[2020-12-29 19:58] mmgoilf commented on #19728
It took a minute to confirm, but this is still an issue for me, but only for my own username. It went something like this (FYI our usernames on this server are inside jokes):

I had the nick "Internet Shaman" a while ago. Then I changed it to several other nicks. Right now I have the nick "Indigo Cat of Divination". I changed it to "Indigo Cat of Divinations", and then back again to attempt to fix

[2020-12-29 20:23] Angstroem commented on #19974
Hello @gabriellsh, thanks for your fast reply!

First, i dont think that a network connection issue or bottleneck is the cause of this problem. Rocket.Chat is deployed in its own VM which is hosted together with a FreeNAS VM on the same server. The host server runs Windows Server 2016 with 2x4c/8t Xeon Processors and 128Gb of RAM (where 6Gb are allocated for the Rocket.Chat VM and 16Gb for the Fre

[2020-12-29 20:26] Angstroem commented on #19974
FYI: When i disable caching again (removing `cache=none` from fstab), i can instantly reproduce the problem in my enviroment.

[2020-12-29 21:39] MJPGPleasant opened #19999 "Permissions UI: Lock permission "Name" column"
### Description:

Lock the permissions "Name" column to the left side of the pane such that it does not scroll out of view when scrolling right / left through roles

### Steps to reproduce:

1. Go to Administration > Permissions
2. Set window size such that you need to scroll right to see additional roles
3. Scroll right

### Expected behavior:

Permission names do not scroll

### Actual behavior:

[2020-12-29 21:43] Robbilie commented on #19755
What exactly do you need? Happy to help

[2020-12-29 21:53] MJPGPleasant opened #20000 "Cannot assign room based custom role to user"
### Description:

### Steps to reproduce:

1. Create a Custom Role with a scope of "Room"
2. Go to a Room and try to assign that role to someone in the room

### Expected behavior:

There should be some way to assign a custom role for the room

### Actual behavior:

There is no way that I can see to do so

### Server Setup Information:

- Version of Rocket.Chat Server: 3.10
- Operating System: Ubu

[2020-12-29 22:21] distek opened #20001 "Docker 3.10.0 image showing as 3.9.2 in image"
### Description:
Not sure if I'm just doing something wrong, but from what I can tell, the docker image is showing the incorrect version number.

Showing: 3.9.2
Expected: 3.10.0

Docker logs output at end of issue

### Steps to reproduce:

[code]

### Expected behavior:

Server reflects version 3.10.0 and rocket.cat stops yelling at me.

### Actual behavior:

Server reflects version 3.9.2 and rock

[2020-12-29 22:26] SebastGG commented on #18999
i'm using lineage os without GAPPS. So, with my mobile phone it doesnt works! Same error as mentioned above! I've tested it with a google mobile phone and it works!

So this might be the problem for me. Is there a way to use it without GAPPS?

[2020-12-29 22:28] MJPGPleasant commented on #20001
Try `docker pull rocketchat/rocket.chat:latest`

I did this this morning and updated to 3.10 using `docker-compose` without issue.

[2020-12-29 22:37] distek commented on #20001
@MJPGPleasant Should have mentioned that. Tried with `latest` and `3.10.0`, same result. If you're getting it to show `3.10.0` though, it's probably something I'm doing.

Gunna keep fighting it for a bit. I'll close this if I happen to resolve the issue myself.

[2020-12-29 22:55] mmgoilf opened #20002 "Jitsi does not work in latest update"
### Description:

Before I could only get jitsi to work if open in new window was enabled (See: https://github.com/RocketChat/Rocket.Chat/issues/19782 ) but now as of 3.10.0 calls do not work at all.

### Steps to reproduce:

1. Enable Jitsi
2. Attempt to place calls

### Expected behavior:
Jitsi calls function as before
### Actual behavior:

Placing a call does nothing, a blank white "call" tab o

[2020-12-29 23:40] Nelinski commented on #9477
Still an issue nearly 3 years later..

[2020-12-30 02:35] distek commented on #20001
Somehow managed to make just everything worse. DB's now screwed and I currently hate MongoDB. Closing this.

[2020-12-30 02:35] #20001 closed

[2020-12-30 05:17] ankar84 opened #20004 "[Improvement] Add users to chat by list"
### Description:

Very often our users need to add 20-50 other users to new chat (channel or private group) during creation process.
And very often that owners have a list of users, that need be added.
That list can be **username** or **name** list. In name on our server we have user first name and user last name.
I did try to add users by list with different separators (space, comma, new line, se

[2020-12-30 07:19] ankar84 opened #20005 "[Improvement] Links in Custom Fields"
### Description:

We plan to set a link in Rocket.Chat user profile (User Info) to user profile in another system (e.g. Facebook, Tweeter, Youtube, etc)
As I see link now only rendered as hyperlink only in **Bio** field.
But **Bio** field not fills on LDAP sync. **Custom fields** do. But custom fields not render markdown style link (and not render any link scheme like `http://`)
So, we need a new

[2020-12-30 08:18] Ismaw34 commented on #20002
Just to add some logs here:
On Firefox 84.0.1 it gives this error on the javascript side:

`TypeError: 'microphone' (value of 'name' member of PermissionDescriptor) is not a valid value for enumeration PermissionName.
    t https://localhost/027988dc7bd96e79e89997a5652bdb13cb80a2e7.js?meteor_js_resource=true:1637
    i https://localhost/027988dc7bd96e79e89997a5652bdb13cb80a2e7.js?meteor_js_resourc

[2020-12-30 09:59] Tusko opened #20006 "App store old version"
### Description:

Please update the version on App Store. The latest there is 3.0.0

### Steps to reproduce:

1. Open `App store` on your MacOS
2. Search for `Rocket.chat`
3. Check the latest version to update

### Expected behavior:

Version 3.9.1
![image](https://user-images.githubusercontent.com/2039259/103344113-4b12b880-4a96-11eb-9824-bfaa03b2a2a3.png)

### Actual behavior:

![image](https://

[2020-12-30 09:59] #20006 closed

[2020-12-30 10:22] Attack44 commented on #20002
I have the same problem with this version.

[2020-12-30 11:00] drummer73 commented on #20002
Same here with Rocket.Chat Server 3.10.0

[2020-12-30 12:53] kalexnolasco commented on #20002
I have the same problem with this version.!!!

[2020-12-30 15:01] lemmings67 commented on #20002
Same issue here !

[2020-12-30 16:06] paulopera opened #20008 "Can't use term for search in account custom fields if channel matches the same name."
### Description:

We create a custom field for users so everybody can search for a department name and bring the list of the people which works there. We thought about using a custom field with the department name because we use an IM app which the ppl were listed in groups as departments like HR, IT etc. So if you need to talk with someone in IT you would go to the app and see in the IT group who

[2020-12-30 16:16] JonCSgr opened #20009 "Ldap background sync is not working"
LDAP works fine if i press the sync now button.
but Background sync doesn't work .
Settings are :
Background Sync Interval
every 1 minute

Another issue i am facing with LDAP is that if i delete the user in ldap the user is not getting deleted in rocketchat.
He can chat just fine unless he logs out , even if he closes the browser he still stays logged in even though
log in fall back is set to fals

[2020-12-30 16:16] #20009 closed

[2020-12-30 16:18] JonCSgr opened #20010 "LDAP Background Sync Interval doesn't work && ldap deleted userrs can still chat just fine !"
### Description:

LDAP works fine if i press the sync now button.
but Background sync doesn't work .
Settings are :
Background Sync Interval
every 1 minute

Another issue i am facing with LDAP is that if i delete the user in ldap the user is not getting deleted in rocketchat.
He can chat just fine unless he logs out , even if he closes the browser he still stays logged in even though
log in fall b

[2020-12-30 16:21] JonCSgr opened #20011 "LDAP deleted users are not getting deleted / disabled on rocket chat unless they LOG OUT"
### Description:

 users deleted on ldap are not deleted in rocket chat

### Steps to reproduce:

1.  ldap and delete a user
2.  rocketchat , the deleted user can type just fine unless he logs out.
Even if he closes his browser his season is saved so he can reopen and type on rocket chat just fine even though
Log in fallback is disabled

### Expected behavior:

 kick user out of rocketchat

### Ac

[2020-12-30 16:21] #20011 closed

[2020-12-30 16:33] iammattmartin commented on #14562
I reported this a long time ago and really didn't get much of a look in from RC.

Today just got a disk usage alert as those logs have taken up huge amounts of space and have now just found this. Glad I'm not alone.

[2020-12-30 16:36] JonCSgr commented on #17939
I didn't try the server restart but mine is not working as well !

[2020-12-30 16:55] JonCSgr commented on #20010
Ok main issue is fixed.
Fix is , to disable background sync interval , press save, then enable background sync interval press save.
my cron is set to
every 10 seconds

[2020-12-30 16:55] #20010 closed

[2020-12-30 16:58] JonCSgr opened #20012 "LDAP deleted users can still use rocketchat just fine unless they log out"
### Description:

LDAP deleted users can still use rocketchat just fine unless they log out

### Steps to reproduce:

1.  Ldap and delete a user
If that user is already logged in he can chat just fine , even if he closes and opens his browser he is still logged in and can chat just fine . Log in fallback is set to false .
### Expected behavior:

 user getting kicked out of rocketchat

### Actual b

[2020-12-30 16:58] JonCSgr commented on #20012
By the way i know this is a common issue i read all the available topics here but did not find a work around on this.

[2020-12-30 18:03] brunobertoldi commented on #19730
Thanks @cprice-kgi! I did something similiar and it worked!
The enabled/disabled for `retention.overrideGlobal` and `retention.enabled` were toggled multiple times at my server and nothing happened. But when I increased the `retention.maxAge` it worked properly!

I noticed a strange behavior in multiple channels with this retention policy.
When I tried to increase the default value, `1`, the value

[2020-12-30 22:15] firlevapz commented on #19250
hey @relikd - thanks for your support on this issue! you are right, the nextcloud failed login attempts were the reason for this timeout problems here!

I solved it by setting `127.0.0.1` as `trusted_proxies` in the nextcloud `config.php`, then the actual external IP of the user was properly stored in the login attempts table and the problem with the wrong login-attempts was solved!

so for me thi

[2020-12-31 04:05] yash-rajpal opened #20015 "[IMPROVEMENT] Status circle is not in center vertically in Status Message TextInput"
### Description:
The Status circle is not in center vertically in status message text input on Profile Page.

### Steps to reproduce:

1.  Go to my account section.

### Expected behavior:

The Status circle should be in center.

### Actual behavior:

The status circle is not centered, its a little bit above center.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.10.0
- Operatin

[2020-12-31 04:06] yash-rajpal commented on #20015
Working on it.

[2020-12-31 06:51] ankar84 commented on #20012
Just deactivate AD users in RC before deletion in AD
https://forums.rocket.chat/t/ldap-auth-disabled-ad-users/1715/14?u=anton.karlan

[2020-12-31 07:23] apacoco9861 commented on #19065
3.10 docker image problem persists
➔ +----------------------------------------------+
➔ |                SERVER RUNNING                |
➔ +----------------------------------------------+
➔ |                                              |
➔ |  Rocket.Chat Version: 3.10.0                 |
➔ |       NodeJS Version: 12.18.4 - x64          |
➔ |      MongoDB Version: 4.0.19                 |
➔ |

[2020-12-31 09:05] samouraiwallet commented on #20002
We are also seeing this issue on the latest version (3.10.0)

We do not see any javascript errors in the debug console

[2020-12-31 10:00] relikd commented on #19250
Hi @firlevapz sounds great, though I am not there yet. Can you help me? I already had the trusted proxies set to include localhost

[code]

But it still logs the server ip address. Did you change anything else? Or can you post your relevant configuration? This is my nginx config

[code]

[2020-12-31 10:01] pierreozoux opened #20017 "Change stream does not need db admin priviledge"
### Description:

Currently:
 - it is stated in the log that change stream requires db admin
 - it is stated [here](https://docs.rocket.chat/installation/manual-installation/mongo-versions) in the doc that it requires clusterMonitor

but these requirements are too much, readWrite should actually be enough.

The code defining this is here:
https://github.com/RocketChat/Rocket.Chat/blob/master/app/m

[2020-12-31 10:03] pierreozoux commented on #19905
I can configrm I have the exact same issue. Messages keep being marked unread although I've read them.

I decided to investigate to fix forward and implement change stream instead of native oplog.

The result of the investigation is this bug report:
https://github.com/RocketChat/Rocket.Chat/issues/20017 with a workaround.

[2020-12-31 10:08] xkungfu commented on #19062
same

[2020-12-31 10:09] somya339 commented on #8969
Is this idea some thing like the discord custom emojis? I have some ideas regarding this issue but I need to know the type of codebase for this.(preferred node.js).

[2020-12-31 10:22] urosino opened #20018 "Links in Topics stopped working - upgraded to 3.10.0"
### Description:
Before the upgrade (3.10.0), you could place links in the channel/group topic, which was really useful.

### Steps to reproduce:
1. Click on the Room info
2. Hit Edit
3. Put the following text under the Topic: `[Google.com](https://google.com)
`
### Expected behavior:
1. You can click on the topic link, and Google.com opens
2. This is how it was formatted: [Google.com](https://goo

[2020-12-31 12:51] Gummikavalier commented on #18391
We got this issue with brand new RC Oauth-endpoint-config. Old endpoints don't seem to be affected.

[2020-12-31 15:57] MJPGPleasant commented on #19604
Not sure if the code above achieves this, but I would suggest that that "Allow Profile Change", when set to disabled, should NOT override other options such as "Allow Password Change", "Allow Avatar Change", etc.

This allows for lockdown of Bio, Nicknames, Custom Properties, without disabling other items (Password being the most critical)

Setting "Allow profile change" should also grey out contr

[2020-12-31 16:59] pierreozoux commented on #15225
I just tried with RC 3.9.3, keycloack and group sync, it works on first login, but then I logout, I remove the group, login again, and it is not synced.

[2020-12-31 18:09] rustamsh commented on #19225
Still happening on 3.10.0

Version	3.10.0
Apps Engine Version	1.21.0-alpha.4235
Database Migration	212

[2020-12-31 18:13] MJPGPleasant commented on #19936
Upon Further testing this is not related to the order in which users are joined to the room, but **is** related to the way they are joined to the room. The issue is specific to using the OAuth Group > Room mapping functionality.

[2021-01-01 00:38] adolfombarros commented on #20002
Same issue here (Firefox and Chrome)
RocketChat 3.10.0
MongoDB 4.0.20

[2021-01-01 05:36] #18362 closed

[2021-01-01 08:27] geekgonecrazy commented on #9967
If using atlas just set mongo url with environment variable override should do trick.

[2021-01-01 09:30] geekgonecrazy commented on #15248
@RocketChat/apps is this on your radar?

[2021-01-01 09:48] geekgonecrazy commented on #1442
Can you try group dm?  If you add user here I believe creates new dm.  From what I can tell this still works exactly as we intend

[2021-01-01 13:05] aditya-mitra commented on #3520
@xenithorb
just asking

If you remove the `https://` from the link, the metadata is not rendered.

![image](https://user-images.githubusercontent.com/55396651/103439081-ef942680-4c5f-11eb-89f2-950cb3487e59.png)

Is this what you wanted?

[2021-01-01 16:53] thiagovilla commented on #16659
Me too. Any way to make it leaner?

[2021-01-01 20:01] xkungfu commented on #18165
same issue!
hi. did you resolve this issue?

[2021-01-02 06:21] codeneno commented on #19082
Does this only fix "mmapv1 database engine or when no admin access was granted to the database user,"?
we use 3.3.3 version,and it will have a high cpu load sometimes,does this work for wiredTiger ?thank you.

[2021-01-02 07:24] RonLek opened #20024 "[BUG] No toast message/icon showed on following/unfollowing messages without a thread."
### Description:

When a user follows or unfollows a message that has no `tcount` (thread count), there is no alert. This behaviour is unlike when a user stars or pins a message.

Also, since there is no icon displayed on the message it becomes impossible to know which message has been followed by the user, thus making a followed message indistinguishable from an unfollowed one. The only option to

[2021-01-02 12:17] tetefolle commented on #2049
+1

[2021-01-02 20:06] aminvakil commented on #20002
Same issue here running both rocketchat and jitsi on docker.

[2021-01-03 10:16] codeneno opened #20027 "when we use rocket.chat 3.9.4 version,without (USE_NATIVE_OPLOG=true),our mongodb will have so many getmore operations and the mongodb's cpu is 99%......"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 3.9.4
- Operating System: ubuntu
- Deployment Method: docker
- Number of Running Instances: 22
- DB Replicaset Oplog: enabled
- NodeJS Version: 12.*
- MongoDB Version:4.2.1

### Client Setup Information

- Desktop App or Browser Version:

[2021-01-03 11:11] mrsadko commented on #17834
We still have such behavior in the latest version.

[2021-01-03 11:18] codeneno commented on #20017
may be 'Change stream' is a bad design
https://github.com/RocketChat/Rocket.Chat/issues/20027

[2021-01-03 11:24] codeneno commented on #18925
@ankar84 Hi,brother,we use the lastest version(3.9.4),but we met a problem
https://github.com/RocketChat/Rocket.Chat/issues/20027
did you know the reason

[2021-01-03 11:24] codeneno commented on #18925
@ankar84 Hi,brother,we use the lastest version(3.9.4),but we met a problem
https://github.com/RocketChat/Rocket.Chat/issues/20027
did you know the reason

[2021-01-03 11:47] codeneno commented on #20027
BUT WHEN WE USE_NATIVE_OPTLOG=true, there are so may logs:

2021-01-03T10:31:29.315826883Z   userId: '4K9d7sde32ieAzRBZ'
2021-01-03T10:31:29.315829658Z }
2021-01-03T10:31:32.480555250Z null {
2021-01-03T10:31:32.480584876Z   id: 'YF3a68esrJMdJHQES',
2021-01-03T10:31:32.480588714Z   clientAddress: null,
2021-01-03T10:31:32.480591740Z   httpHeaders: {
2021-01-03T10:31:32.480594828Z     'x-real-ip':

[2021-01-03 16:41] MetahumanFamily commented on #15616
Issue still persisting with option disabled. Any updates?

[2021-01-04 03:12] philipp65 commented on #18893
This seems to be a valid bug.
I managed to get it working by entering all the keys directly into the mongodb. They are still not visible through the Settings UI but they are working.

[2021-01-04 04:08] andrew-shamin opened #20032 "500 error when purchasing a subscription for 360Dialog"
### Description:

500 error when purchasing a subscription for 360Dialog

### Steps to reproduce:

1. Go to marketplace and choose 360Dialog
2. Fill in creditcard data and adress
3. Press "Subscribe" button
4. Get 500 HTTP error

### Expected behavior:

No error appear, getting free trial

### Actual behavior:

[Error screenshot](https://prnt.sc/wfoked)

### Client Setup Information

- Desktop App

[2021-01-04 04:08] #20032 closed

[2021-01-04 04:28] andrew-shamin opened #20033 "500 error when purchasing a subscription for 360Dialog"
### Description:

500 error when purchasing a subscription for 360Dialog

### Steps to reproduce:

1. Go to marketplace and choose 360Dialog
2. Fill in creditcard data and adress
3. Press "Subscribe" button
4. Get 500 HTTP error

### Expected behavior:

No error appear, getting free trial

### Actual behavior:

[Error screenshot](https://prnt.sc/wfoked)

### Server Setup Information:

- Version of

[2021-01-04 05:50] raghu0812199 commented on #20008
i am interseted in workingon it  can you please guide me

[2021-01-04 07:41] raghu0812199 commented on #20004
i want to work this can you please guide me  through the files

[2021-01-04 10:07] Darshilp326 opened #20035 "Setting home title to empty makes it return an obect instead of string."
### Description:
Setting home title empty returns key 'project: (en)' returned an object instead of string.

### Steps to reproduce:

1. Administration
2. Search layout and select content
3. Make home title empty

### Expected behavior:
Instead of that message we should give a title when home title is empty.

### Actual behavior:
Home title is key 'project: (en)' returned an object instead of stri

[2021-01-04 10:09] Darshilp326 commented on #20035
What will be a better option?
-Not allowing empty title.
-Setting a default title when title is empty.
Please help :)

[2021-01-04 10:15] rainsy2000 opened #20036 "Error when access by subfolder"
I setup a server names like https://mydomain/chat (by nginx).

Almost features can be normally usable through web browser, but it goto https://mydomain when I click "Rocket.Chat" icon at left-down.

After I add the server url to MacOS Desktop APP (Ver. 3.0.3), the server name in the list display as https://mydomain.
So I can't access my chat server normally.

[2021-01-04 10:15] #20036 closed

[2021-01-04 10:24] rainsy2000 opened #20037 "Error when access rocketchat by subfolder"
### Description:

Error when access rocketchat by subfolder, like https://mydomain/chat.

### Steps to reproduce:

Setting up a server names like https://mydomain/chat (by nginx).
Almost features can be normally usable through web browser.

### Expected behavior:

I can access https://mydomain/chat at all time.

### Actual behavior:

It goto https://mydomain when click "Rocket.Chat" icon at left-d

[2021-01-04 11:39] eugeniumegherea opened #20038 "Auto translate broken. API keys not changed on save, only read once on server start"
### Description:
Auto translation is broken for all providers (Microsoft, google, deepl) because the API key is not changing on the server when updated from admin panel.
The key is only read once on server startup.
Current workaround: After you set the key - restart the rocketchat.

Firstly I found the issue on v3.3.3. Still is present on v3.9.4.
Based on commits, I believe it is broken from 2.0 t

[2021-01-04 12:53] joakinen opened #20039 "Error updating RocketChat on npm install"
### Description:

Errors while updating RocketChat

### Steps to reproduce:

Standard update procedure from https://docs.rocket.chat/installation/manual-installation/updating

1. sudo systemctl stop rocketchat
2. sudo rm -rf /opt/Rocket.Chat
3. curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
4. tar -xzf /tmp/rocket.chat.tgz -C /tmp
5. cd /tmp/bundle/programs/server &&

[2021-01-04 13:12] zdumitru opened #20040 "Status and info is only shown for the first user in direct message between multiple users"
### Description:

### Steps to reproduce:

1. Go to https://open.rocket.chat/
2. Click on pen button in the left panel, choose `Direct messages`
3. Choose several users
4. Click `Create` blue button
5. In the top right corner click `User info` button
6. See that despite having multiple users, the info is shown only for the first user in the list.

### Expected behavior:

See avatars, usernames and

[2021-01-04 13:36] prettyjai opened #20042 "Rocket chat"
malibu chat server not loading

[2021-01-04 13:36] #20042 closed

[2021-01-04 13:39] prettyjai opened #20043 "BUG ERROR"
malibu chat server not loading

[2021-01-04 13:39] #20043 closed

[2021-01-04 15:39] sgoetsch opened #20044 "Docker tag "latest" not correctly linked to latest release"
### Description:

The docker tag "latest" does not correctly link to latest release, in terms of highest version number. Instead it points to the latest upload.
But it should always point to highest release version number, imo.

### Steps to reproduce:

1. Pull and run latest rocket.chat image

### Expected behavior:

latest tag should point to the 3.10.0 release.

### Actual behavior:

Latest poi

[2021-01-04 16:54] riantasolutions commented on #20002
Same issue:

Rocket.Chat v3.10.0
Node v12.18.4
Mongo v4.0.17
Manual install under CentOS 7
Problem exists in Desktop client 3.0.9, 3.1.0, 3.1.1, Firefox, Chrome (normal and icognito)
- checked both Firefox and Chrome permissions to allow popups, notifications, etc.

[2021-01-04 18:18] raghu0812199 commented on #20035
i think not allowing empty title would be a better option

[2021-01-04 18:27] raghu0812199 commented on #19821
hi @superseby2 are you working on this issue right now

[2021-01-04 21:31] drobin03 commented on #17584
I'm running into this issue as well with Filesystem storage. I would prefer not to switch to GridFS as a solution. Is there any timeline on a fix?

[2021-01-04 21:45] shahyar opened #20048 "Archived rooms reappear and stay permanently in sidebar"
### Description:

Archived rooms should not appear in sidebar rooms list. In certain cases, they do, and then persist.

### Steps to reproduce:

1. Be in a room with 2 people.
2. User A archives the room.
3. On User B's screen, it is now gone, though they are still in the room in the main panel.
4. User B can either refresh, navigate to another room and press back, or put the full URL for the room

[2021-01-04 21:45] #20048 closed

[2021-01-04 22:11] MJPGPleasant opened #20049 "OAuth - Single intransmutable reference should be used for user identification / mapping"
### Description:

Currently Rocket.Chat tries to use a combination / permutation of user, username, and email fields to try to determine if a user being authenticated via OAuth already exists within Rocket.Chat. However as all these properties are displayed within the UI in one form or another there is multiple reasons why these properties may need to be changed within the UI.

The best solution t

[2021-01-04 22:12] 2580ayush2580 opened #20050 "Update README.md"
For this [RocketChatLauncher](https://github.com/RocketChat/Rocket.Chat#rocketchatlauncher) and [Ubuntu 16.04](https://github.com/RocketChat/Rocket.Chat#ubuntu-1604) has no documentation available in [Readme.md](https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md)

![r1](https://user-images.githubusercontent.com/56980422/103583604-0065c600-4f06-11eb-8abe-aca42aa1a805.png)

[2021-01-04 22:12] #20050 closed

[2021-01-04 22:36] Falconx1000 commented on #4029
I think related to this issue is that with special characters set to false it disables creation of channels with uppercase letters but the channel can be edited to include uppercase after in the room info side panel

[2021-01-04 22:39] 2580ayush2580 opened #20052 "Update README.md file"
### Description:
For this [RocketChatLauncher](https://github.com/RocketChat/Rocket.Chat#rocketchatlauncher) and [Ubuntu 16.04](https://github.com/RocketChat/Rocket.Chat#ubuntu-1604) has no documentation available in [Readme.md](https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md)

### Steps to reproduce:

1. [Readme.md](https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md

[2021-01-04 22:39] #20052 closed

[2021-01-04 22:51] 2580ayush2580 opened #20053 "Update README.md file"
### Description:
For this [RocketChatLauncher](https://github.com/RocketChat/Rocket.Chat#rocketchatlauncher) and [Ubuntu 16.04](https://github.com/RocketChat/Rocket.Chat#ubuntu-1604) has no documentation available in [Readme.md](https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md)

### Steps to reproduce:

1. [Readme.md](https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md

[2021-01-04 22:51] #20053 closed

[2021-01-04 23:01] 2580ayush2580 opened #20054 "Update README.md"
### Description:
For this [RocketChatLauncher](https://github.com/RocketChat/Rocket.Chat#rocketchatlauncher) and [Ubuntu 16.04](https://github.com/RocketChat/Rocket.Chat#ubuntu-1604) has no documentation available in [Readme.md](https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md)

### Steps to reproduce:

1. [Readme.md](https://github.com/RocketChat/Rocket.Chat/blob/develop/README.md

[2021-01-04 23:01] #20054 closed

[2021-01-05 01:30] rainsy2000 commented on #20037
rocketchat.service:
[Unit]
Description=The Rocket.Chat server
After=network.target remote-fs.target nss-lookup.target nginx.service mongod.service
[Service]
ExecStart=/usr/local/bin/node /opt/Rocket.Chat/main.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rocketchat
User=rocketchat
Environment=MONGO_URL=mongodb://localhost:27017/rocketchat?replicaSet=rs01 MONGO_OPLOG_URL=mongodb://

[2021-01-05 01:35] #19795 closed

[2021-01-05 03:41] HariAcidReign opened #20056 "Logo does not render in Shields badge"
### Description:

The Official RocketChat logo does not render on the Shields.io badge in the "Community" section of readme.md

### Steps to reproduce:

1.  Go to Readme.md
2.  Scroll down to the Community subheading.
3.  The RocketChat icon is not loading.

### Expected behavior:

 The icon to be displayed on the left side of the badge
![image](https://user-images.githubusercontent.com/58134096/1

[2021-01-05 04:08] pierre-lehnen-rc commented on #19847
If the username is the same, yours users just need to use their LDAP password to login on Rocket.Chat and the LDAP data will overwrite the old password-based user.

[2021-01-05 04:08] #19847 closed

[2021-01-05 07:12] nooblag commented on #19268
Issue persists in 3.9.3

[2021-01-05 07:23] micdzi opened #20057 "Update information"
When rocket Chat is sarting, it asks if you want to install update, when i clik on YES, then i reveive the info that i will be notified when it will be ready to install. Unfortunately it never informs that it's ready to install. This feature stoppped to work a few updates ago.

[2021-01-05 07:23] #20057 closed

[2021-01-05 09:23] EnCz opened #20058 "Can't remove users from channels"
### Description:

Since one of the last updates (3.9.3 / 3.10.0) we cannot remove users from channels / private groups anymore.
We use LDAP and sync accounts from ldap-groups to Channels but we can reproduce this error even on manually created private groups.

### Steps to reproduce:

1. Create new private group with another person
2. Open "Members"
3. Click on other person
4. 3-Dot -> Remove from

[2021-01-05 10:56] EnCz commented on #20058
FYI: I just kicked the person succesfully via curl:
curl -H "X-Auth-Token: [insert_your_token]"      -H "X-User-Id: [insert_your_id]"      -H "Content-type: application/json"      https://rocketchat.bz-medien.de/api/v1/groups.kick      -d '{ "roomId": "[insert_room_id]", "userId": "[insert_user_id]" }'

So it seems like the problem is within the sidebar itself (which probably isn't using this API

[2021-01-05 12:27] joakinen commented on #20039
Version of n was incorrect.

[2021-01-05 12:27] #20039 closed

[2021-01-05 12:32] lbouquinUniv opened #20059 "rocketapi not set user active."
hi,

I've got problem with user online when i'm connect it wirth REST API.
`def login(user):
    response = requests.post('http://my_addr_rocketchat/api/v1/login',
                             data={"user":user, "password":user})
    data = response.json()
    header_post = {
    'Content-type': 'application/json',
    'X-Auth-Token': data['data']['authToken'],
    'X-User-Id': data['data']['userI

[2021-01-05 12:32] #20059 closed

[2021-01-05 12:32] milton-rucks commented on #18312
@rodrigok , I believe we can close this one. @damian-centrone tested and now it's working fine.

[2021-01-05 12:47] lbouquinUniv opened #20060 "rocketchat API not connect really user"
### Description:

User not really connected by API Login

### Steps to reproduce:
 Use API:

1. connect user
2. set active status

![login_rocket_api](https://user-images.githubusercontent.com/57000474/103647928-59604900-4f5c-11eb-9806-b86ab5c27a6d.png)

### Expected behavior:

User must be connected. And the number online user increment

### Actual behavior:
The number of online user  aren't diff

[2021-01-05 12:57] EnCz commented on #20058
FYI: I just kicked the person succesfully via curl:
`curl -H "X-Auth-Token: [insert_your_token]"      -H "X-User-Id: [insert_your_id]"      -H "Content-type: application/json"      https://[insert_url_here].de/api/v1/groups.kick      -d '{ "roomId": "[insert_room_id]", "userId": "[insert_user_id]" }'`

So it seems like the problem is within the sidebar itself (which probably isn't using this API c

[2021-01-05 13:24] paulopera commented on #20008
Sure! What kind of information do you need?

[2021-01-05 13:40] xkungfu commented on #16746
very sad for this unresolved issue... anyone else work on this ?or is there another solution?

[2021-01-05 13:54] #19915 closed

[2021-01-05 14:01] EnCz commented on #20058
2nd FYI: This is 100% reproducible even on open.rocket.chat

[2021-01-05 15:35] EnCz commented on #20058
And here is the reason. The userId doesn't get sent to the api:

![image](https://user-images.githubusercontent.com/7642122/103665658-f5497f00-4f73-11eb-8919-bcdbfb692982.png)

[2021-01-05 16:05] rmjstn opened #20062 "Latest tag on Docker Hub"
Hello,

I automatically update our Rocket.Chat instance via the "latest" Docker image. By relying on the "latest" tag. It has been working fine for quite a while, but the last update caused a rollback. I was in version 3.10.0 and I went back to version 3.9.4. Indeed, the "latest" tag points to version 3.9.4 (I always expected version 3.10.0).
Is this a misunderstanding on my part of the "latest" t

[2021-01-05 16:05] #20062 closed

[2021-01-05 16:08] rmjstn opened #20063 ""latest" tag on Docker Hub"
Hello,

I automatically update our Rocket.Chat instance via the "latest" Docker image. By relying on the "latest" tag. It has been working fine for quite a while, but the last update caused a rollback. I was in version 3.10.0 and I went back to version 3.9.4. Indeed, the "latest" tag points to version 3.9.4 (I always expected version 3.10.0).
Is this a misunderstanding on my part of the "latest" t

[2021-01-05 16:08] #20063 closed

[2021-01-05 16:10] rmjstn opened #20064 ""latest" tag on Docker Hub"
### Description:

Hello,

I automatically update our Rocket.Chat instance via the "latest" Docker image. By relying on the "latest" tag. It has been working fine for quite a while, but the last update caused a rollback. I was in version 3.10.0 and I went back to version 3.9.4. Indeed, the "latest" tag points to version 3.9.4 (I always expected version 3.10.0).
Is this a misunderstanding on my part

[2021-01-05 16:10] #20064 closed

[2021-01-05 16:25] shahyar opened #20065 "Archived channels reappearing permanently"
### Description:

The channels list is not consistent across user experiences, and archived channels appear when they should not.

### Steps to reproduce:

1. Be in a room with 2 people.
2. User A archives the room.
3. On User B's screen, it is now gone. (Though they are still in the room in the main panel, this is not necessary.)
4. User B can either refresh, navigate to another room and press ba

[2021-01-05 16:28] shahyar opened #20066 "Mobile UI Regression: Sidebar does not autoclose, cannot be swiped closed"
### Description:

Sidebar should autoclose upon room join, and menu should be swipeable from anywhere.

### Steps to reproduce:

1. Be on a small screen or mobile device where the sidebar is not permanently visible.
2. Open sidebar.
3. Click channel.
4. You must now close it manually. Try to swipe within the boundary of the sidebar, does not work. Click on the room overlay itself (right side) - th

[2021-01-05 16:34] shahyar opened #20067 "Room members list infinite scroll loader does not get all users"
### Description:

Scrolling to load users in a room does not work. We tested with 105 users, of whom 1 was active, and only 103 showed up.

### Steps to reproduce:

1. Open room members sidebar.
2. Use All members search.
3. Scroll until end. Sometimes it will stop and you have to scroll up first. Sometimes you reach near the end and it never loads more. (103/105 for us.)

### Expected behavior:

[2021-01-05 17:15] diegolmello commented on #20040
Also, it looks like `getUsersOfRoom` doesn't return anything for Group DMs.

Private group:
![image](https://user-images.githubusercontent.com/804994/103676910-6da64500-4f60-11eb-8154-9810ab46b599.png)

Group DM:
![image](https://user-images.githubusercontent.com/804994/103676954-7c8cf780-4f60-11eb-82e7-f82b19152f78.png)

[2021-01-05 17:34] #20044 closed

[2021-01-05 17:41] xkungfu opened #20068 "rich messages from rasa abandoned by rocket.chat api client"
rasa response message:

`[{"recipient_id":"z37Ar5whqGRebn7K7","text":"rasa text replaced","test":"rasa message new item test","alias":"xxxxxxxxxxxxxxxxxx","attachments":[{"audio_url":"http:\/\/www.w3schools.com\/tags\/horse.mp3","author_icon":"https:\/\/avatars.githubusercontent.com\/u\/850391?v=3","author_link":"https:\/\/rocket.chat\/","author_name":"Bradley Hilton","collapsed":"false","color":"

[2021-01-05 17:41] #20068 closed

[2021-01-05 17:51] xkungfu opened #20069 "rich messages from rasa abandoned by rocket.chat api client"
### Description:

rasa response message:

`[{"recipient_id":"z37Ar5whqGRebn7K7","text":"rasa text replaced","test":"rasa message new item test","alias":"xxxxxxxxxxxxxxxxxx","attachments":[{"audio_url":"http:\/\/www.w3schools.com\/tags\/horse.mp3","author_icon":"https:\/\/avatars.githubusercontent.com\/u\/850391?v=3","author_link":"https:\/\/rocket.chat\/","author_name":"Bradley Hilton","collapsed"

[2021-01-05 18:42] bombaata commented on #19065
Same issue with 3.9.4 version (not Docker) :
[code]

[2021-01-06 00:13] avale-eclipse opened #20071 "BBB BigBlueButton icon not showing since 3.9.3 upgrade."
### Description:

Previously before 3.9 when a channel had a BBB meeting active, it would show a video icon next to the channel so you would know their is a meeting on.
Now it does not show at all. If you do go into the channel, top right you can see a meeting is on but you would have to be in that room to notice.
I have updated to 3.10 as well to test and similar behavior.
Unable to rollback as 3

[2021-01-06 07:19] jangaraj commented on #19682
Don't include the -----BEGIN/END CERTIFICATE----- headers/footers in the `Custom Certificate`

[2021-01-06 08:05] NicoHaase commented on #19877
Is there any way to fix this properly? I'm logged in to my RC app daily, and receive such alerts daily. This morning, I had to confirm 13 of these blue messages in a row, for a single server instance...

[2021-01-06 08:05] q16marvin commented on #8561
same for me:

![grafik](https://user-images.githubusercontent.com/19844709/103744553-4736e700-4ffe-11eb-89f2-977465f83c1f.png)

i found this "application/x-rdp", but also dont work

[2021-01-06 08:13] raghu0812199 commented on #20008
can you please hint me in which files i need to work on

[2021-01-06 08:46] wangengzheng opened #20072 "The administrator can't delete groups"
### Description:

I have two administrator accounts a and B

A created groups

B cannot delete the groups created by A

### Steps to reproduce:

### Expected behavior:

Administrator rights should be removed

### Actual behavior:

{"success":false,"error":"The required \"roomId\" or \"roomName\" param provided does not match any group [error-room-not-found]","errorType":"error-room-not-found"}

Wh

[2021-01-06 09:12] pmp02 commented on #20002
Same issue (Chrome, Windows Desktop client)

Electron Client 3.1.0
Rocket.Chat v3.10.0
Node v12.18.4
Mongo 4.0.22
Docker installation

[2021-01-06 09:20] Hyperion2400 commented on #19970
I use the Windows App and also have the problem that the update dialog just keeps popping up.
If I click on 'Install Update' it says it will notify me after the update is downloaded but it never does.
If I click on 'Skip Version' it keeps asking me again after a restart.

![image](https://user-images.githubusercontent.com/34254020/103751165-2a9fac80-5008-11eb-878b-57296ae21160.png)

[2021-01-06 09:27] Darshilp326 commented on #20058
Working on it!

[2021-01-06 10:06] EnCz commented on #20072
Maybe related to https://github.com/RocketChat/Rocket.Chat/issues/20058

[2021-01-06 11:27] rmjstn opened #20074 "Off-the-Record Conversation always results in a timeout"
### Description:

Off-the-Record conversation always results in a timeout

### Steps to reproduce:

When I start an Off-the-Record conversation, I've got a Timeout error.

### Expected behavior:

Starting OTR conversation

### Actual behavior:

![image](https://user-images.githubusercontent.com/24813225/103763126-af46f680-5019-11eb-925e-ed5bebd4c163.png)

### Server Setup Information:

- Version o

[2021-01-06 11:59] #18391 closed

[2021-01-06 12:08] slimlv opened #20075 "[FEATURE] no way to delete exported UserData Files"
rocketChat has feature to export UserData (for example via [Request Data Download](https://docs.rocket.chat/api/rest-api/methods/users/requestdatadownload))
There is no way to remove the files generated.
Dedicated Retention policy for UserDataFiles should be present, API to remove the files should be present, User interface to manage UserDataFiles should be present.

Rocket.Chat Version  2.4.14
Ap

[2021-01-06 12:08] #20075 closed

[2021-01-06 12:12] slimlv opened #20076 "[FEATURE] no way to delete exported UserData Files"
### Description:

rocketChat has feature to export UserData (for example via Request Data Download)
There is no way to remove the files generated.
Dedicated Retention policy for UserDataFiles should be present, API to remove the files should be present, User interface to manage UserDataFiles should be present.

### Steps to reproduce:

1. Request User Data Export

### Expected behavior:

Any way t

[2021-01-06 12:20] slimlv opened #20077 "[BUG] UserDataFiles are not accounted under admin/info Usage"
### Description:

rocketChat has feature to export UserData (for example via Request Data Download)
The disk space used by the files is not shown in admin/info Usage list

### Steps to reproduce:

1. request UserData export for any account
2. go to Administration -> Info
3. find any data for generated files

### Expected behavior:

Administration -> Info should has records for the files generated

[2021-01-06 13:39] ankar84 commented on #20004
No. I'm not a developer or even team member.

[2021-01-06 13:53] Darshilp326 opened #20079 "[BUG] Error message is displayed while archiving a room."
### Description:
When we try to archive a room an error message is displayed on screen with success message.

### Steps to reproduce:

1. Room info from contexual bar.
2. Select edit
3. Scroll down and toggle archived button.

### Expected behavior:
No error message sould be displayed on screen

### Actual behavior:
Error message is displayed with success message which can confuse user.

https://u

[2021-01-06 13:53] Darshilp326 commented on #20079
Working on it!

[2021-01-06 13:54] Darshilp326 commented on #20079
Can anyone explain me what are we actually doing by archiving any room?

[2021-01-06 14:00] Tejeev commented on #2049
+1
Easily the most desirable improvement to RocketChat for me

[2021-01-06 14:23] apiening opened #20080 "Example docker-compose.yml does not target current / latest release?"
My RocketChat installation is based on the provided **docker-compose.yml** example from this repository.
The referenced image is **rocketchat/rocket.chat:latest** but this does not seem to be the latest release.

https://github.com/RocketChat/Rocket.Chat/blob/5769cec0f4188195bac005602a3b940ca8be41e4/docker-compose.yml#L5

After pulling the image I'm on **Rocket.Chat Version: 3.10.0** and the web i

[2021-01-06 14:23] #20080 closed

[2021-01-06 14:39] apiening opened #20081 "Example docker-compose.yml does not target current / latest release"
### Description:

My RocketChat installation is based on the provided **docker-compose.yml** example from this repository.
The referenced image is **rocketchat/rocket.chat:latest** but this does not seem to be the latest release.

https://github.com/RocketChat/Rocket.Chat/blob/5769cec0f4188195bac005602a3b940ca8be41e4/docker-compose.yml#L5

After pulling the image I'm on **Rocket.Chat Version: 3.10

[2021-01-06 15:00] sushant52 opened #20082 "Title not available for user avatar change options"
### Description:

There are pop up titles available for various options in the main room such as Discussions. These options are not available for options regarding change of avatar. This creates confusion as to what the options are supposed to do.

### Steps to reproduce:

1. Click on user avatar in left panel.
2. Go to My Account->Preferences.
3. Hover over the options for avatar upload and URL a

[2021-01-06 15:01] sp2703 commented on #20082
Can I work on this issue?

[2021-01-06 15:16] sushant52 commented on #20082
@sp2703 Oh Sorry, I have already completed the changes required for this issue. That's why I added the additional context. :/  You can look for some other issues :D

[2021-01-06 16:52] yash-rajpal opened #20086 "User Actions don't work from UserInfo page."
### Description:

The user actions like set users as owners or moderators from user info section of any room, does'nt work

### Steps to reproduce:

1. Open Members list of any room
2. Select any member and open the User Info page
3. Try and set any user as owner or moderator, we recieve an error

### Expected behavior:

No errors when clicking on User actions from the user info page

### Actual b

[2021-01-06 16:52] yash-rajpal commented on #20086
I would be working on it after 2-3 days. Thanks.

[2021-01-06 17:17] paulopera commented on #20008
Sorry I don't know which files you need to look. I only found the bug but I don't know how it would be possible to be fixed.
But if you need more information let me know and I'll be pleased to provide.

[2021-01-06 18:17] gpopesc opened #20087 "jitsi authentication jwt not generated"
### Description:

In the latest version rocket chat doesn't generate JWT for jitsi authentication
### Steps to reproduce:

1. In admin menu, video conference, Jitsi, I have enabled jitsi authentication
2. in chat menu click on call  and nothing happens or /jitsi slash command, generate the link, but the jitsi server require authentication.

As you can see from jitsi server logs there is no jwt cod

[2021-01-06 20:11] rolexam commented on #17124
Мы тоже ждем!

[2021-01-06 21:38] MJPGPleasant opened #20088 "Add ability to "clear" blocked logins"
### Description:

Introduce a way to reset failed logon attempt counters for accounts / IPs locked via https://github.com/RocketChat/Rocket.Chat/pull/17783

### Steps to reproduce:

1. Lock out an account / ip using functionality in https://github.com/RocketChat/Rocket.Chat/pull/17783
2. Once clocked out, try to unlock it.

### Expected behavior:

There should be an interface somewhere to re-enabl

[2021-01-06 22:24] xkungfu commented on #15062
hello.
did you find a solution?

[2021-01-06 23:34] thiesschneider commented on #14466
any news here?

[2021-01-06 23:54] mvanderwoerd commented on #19910
This hasn't been triaged/ looked at for 18 days,
so I'll close this and switch to Mattermost.

[2021-01-06 23:54] #19910 closed

[2021-01-07 05:07] lequy1010 commented on #17124
It's a very important feature for users, rocket.chat hasn't responded to this in a long time :(

[2021-01-07 06:27] movcmpret commented on #9917
I'm using a custom event manager (js) with multiple `stream-room-messages` subscriptions. It would be nice to actually use a subscription id to differentiate the events coming from the websocket. My workaround is to search for the `roomid` in the returned object (in `fields`) to allocate the response to a specific room in order to fire an event for that.

[2021-01-07 09:02] HugoHeneault commented on #16635
This is weird as clicking/reacting to a message below the red line doesn't remove it anyway...

So if I don't reply to the message the red line will never go? 🤔

[2021-01-07 10:49] HariAcidReign opened #20091 "Automatic drop down of sidemenu on clicking elements"
### Description:

Sidemenu automatically drops down to the "Settings" section on clicking an element.

### Steps to reproduce:

1. Go to the Administration tab
2. Click on any item
3. After clicking, the user is taken to the Settings Search tab instead of staying at the same place

### Expected behavior:

The item should be chosen and the menu shouldn't go down.

### Actual behavior:

https://user

[2021-01-07 11:33] jw4949 commented on #19011
same here :(

[2021-01-07 11:40] nooblag commented on #19021
Issue persists in 3.9.3.

[2021-01-07 11:50] recounter7 opened #20092 "[FEATURE REQUEST] Display member roles in channel member list"
For normal users in a channel it is not possible to identifiy channel admins or moderators until one of them writes a message (displays roles of the user in message header).
Therefore i would like to request the feature to display the user roles in the member list of a channel, so that every user is able to see directly who is admin or moderator in the member list of a channel.

[2021-01-07 11:50] #20092 closed

[2021-01-07 12:34] chetas411 opened #20094 "Ignore button in user info is returning an undefined"
**Description**
When ignore button is clicked in user info bar in a room , it returns an undefined

**Steps to Reproduce**
1. Click on any user from room and click on see full profile.
2. Click on  ignore button.

https://user-images.githubusercontent.com/65273718/103892964-7474b980-5112-11eb-871a-dabf8763933b.mp4

.

[2021-01-07 12:34] #20094 closed

[2021-01-07 12:36] chetas411 commented on #20094
I am willing to solve this on my own , can anyone help in telling the files I should begin to look at?

[2021-01-07 12:50] chetas411 opened #20095 "[BUG] Ignore button in User info returns undefined when clicked"
### Description:
When we click ignore button in full profile mode of a user , it doesn't work and returns  an undefined instead.

### Steps to reproduce:

1.  Go to any room and click on any user.
2.  Click on show full profile.
3.  Click on ignore button.

### Expected behavior:
A success message or notification should popup.

### Actual behavior:
Undefined is returned

### Server Setup Informati

[2021-01-07 12:51] d3hof commented on #14930
Would be nice to have that fixed.

[2021-01-07 12:51] chetas411 commented on #20095
I am willing to solve this issue on my own , can anyone help me in telling which files should I begin to look at ?

[2021-01-07 13:46] nikolas-digitalBabylon opened #20096 "docker image tag"
Hi,

the ":latest" tag for the docker image seems to deliver an rc version (currently 3.10), while the stable seems to be 3.9.4.
There should be either a dedicated tag for the latest stable, or the ":latest" should always deliver the last stable and production-ready build.

[2021-01-07 13:46] #20096 closed

[2021-01-07 13:58] hans4rc commented on #18939
I use Google Authenticator and some of my users keep getting blocked. Not reproducible why. Even if I change the username or reset the 2FA, users remain blocked.

[2021-01-07 14:06] jrlandis525 opened #20097 "Desktop app does not fully load"
There are occasions when the desktop app does not fully load.  Typically I can go to View -> Reload ignoring cache, but this morning that did not even work.  Right now I am just staring at a grey background.  I have closed the app and killed the process twice so far and it still does not load.

[2021-01-07 14:06] #20097 closed

[2021-01-07 14:44] samir-s commented on #20002
Same here.

Anyone knows how to add unit testing for this use case in the coverage test ?

It's the second time we're experiencing this feature break and using jitsi through RC is critical for our crew since all our videoconference meeting are managed through RC/jitsi. It definitely breaks our workflow.

[2021-01-07 14:51] riantasolutions commented on #20002
Hi all,

v3.9.4 seems to work fine.  I downgraded two days ago and issue is resolved.

FYI.

[2021-01-07 16:07] RonLek opened #20099 "[BUG] Starring a message stars it for all users of the channel, unstarring doesn't change icon."
### Description:

Starring any message stars it for all users across a channel. On unstarring it the star icon next to the message doesn't disappear and the message still appears starred for all users even if the original user who starred the message has unstarred it.

### Steps to reproduce:

1. Click on the message menu for any message.
2. Click on "Star Message". (The star icon appears here.)
3

[2021-01-07 16:15] kshitij86 commented on #20088
@MJPGPleasant Can I take this up?

[2021-01-07 16:17] MrBS13 commented on #14858
Hey!
What about enabling copy part of the message?
right now, when you copy part of the message, it will copy it without any formatting

[2021-01-07 16:17] MJPGPleasant commented on #20088
Please, and Thanks :)

[2021-01-07 16:23] Cronus1007 commented on #10955
@engelgabriel  I want to implement this feature.

[2021-01-07 16:40] gabriellsh commented on #19974
Thanks a lot for your detailed explanation @Angstroem! I'll leave this issue open, but I ask: Can you rename it to more appropriately match the issue with caching? Thanks! I'll leave the issue open, since there may still be a bug.

Once again, thanks for your contribution!

[2021-01-07 16:45] Darshilp326 commented on #20079
@aKn1ghtOut Hey man, i was working on it :/

[2021-01-07 17:00] Cronus1007 commented on #13151
Shall I Take over this issue  if currently no one is working upon it.

[2021-01-07 17:23] martinszy commented on #20002
Same here.

Rocket Serve version 3.10.0
Rocket Snap 3.0.1.

Please fix.

[2021-01-07 17:53] yash-rajpal commented on #20095
This is a duplicate issue from #20086 and I am already working on this.

[2021-01-07 20:05] bdelwood commented on #19713
@ggazzo Unfortunately the issue is not fixed. The Email section now includes the email, but still shows up as not verified.

[2021-01-07 20:15] kevinmui commented on #19804
@lucams observe the same.  One mitigation step that appears to work for us is if you enter into Omnichannel option's first page which is "Current Chats", it appears that new conversations that begin thereafter does execute a chime.

[2021-01-07 20:21] MrBS13 opened #20102 "Formatting isn't copied when coping only part of a message"
### Description:
When copying part of a message, this particular part is copied without formatting.

This is caused because there should be a listener to copy event, so we could save in clipboard the desired part.
the copy should save both formatted text and regular text, so when we paste into rocket.chat, the clipboard will take from the 'rocket.chat' format (ClipboardEvent.clipboardData.getData(

[2021-01-07 21:33] thiesschneider commented on #18893
@philipp65 where did you change this?

[2021-01-07 22:17] bdelwood opened #20103 "Inconsistency in how channels avatars behave"
### Description:

Uploading a channel avatar from `dot menu > Room Info > edit > upload` works as expected. When returning to the `Room Info` page the image is the same default.

When one goes to `Administration > Rooms > <Room name> > Room Info` panel, the uploaded picture is not reflected either.

Using `Administration > Rooms > <Room name> > Room Info > upload` accepts an upload but it is not r

[2021-01-07 22:57] bdelwood opened #20104 "[FEATTURE] Additional options for Hide System Messages"
### Description:

It would be nice to be able to suppress additional channel system messages such as "Room description", "Room announcement", and "Room topic", as they are missing from the current "Hide System Message" dropdown. It would also be nice to have the option to suppress all channel system messages. The current UI requires one to hide each message type individually.

### Steps to reprodu

[2021-01-07 22:57] #20104 closed

[2021-01-07 23:02] bdelwood opened #20105 "[FEATURE] Additional options for Hide System Messages"
### Description:

It would be nice to be able to suppress additional channel system messages such as "Room description", "Room announcement", and "Room topic", as they are missing from the current "Hide System Message" dropdown. It would also be nice to have the option to suppress all channel system messages. The current UI requires one to hide each message type individually.

### Steps to reprodu

[2021-01-08 01:49] goodjun commented on #13690
you can try:

set token in local storage.

javascript code:
[code]

[2021-01-08 03:42] #19975 closed

[2021-01-08 03:43] #19973 closed

[2021-01-08 04:45] MatthiasHertel opened #20107 "E2E cannot renenable or reset 1:1 encryption , React minified error on client side"
### Description:

users cannot reenable e2e in direct messages, all clients are cleaned (no client side data), setting is globally disabled/enabled through admin backend - **nothing works** - the users get a blank page if they try to enable the e2e in the direct messages (screenshot 1)

**i guess have to fix that in mongo db schema to clearly remove all old missconfigurations , but where ?**

if u

[2021-01-08 06:53] Gummikavalier commented on #20107
E2E in RC seems to be designed in a way that user cannot do anything on the channel (direct or private) when the client end does not hold a working E2E session key.

We've spotted that the desktop client handling of private or session key is not operating correctly in some circumstances. Keeping the desktop and mobile client offline and then resetting the private key in the browser can fix the sit

[2021-01-08 07:17] EnCz commented on #15673
We have the same problem, please take a look @MartinSchoeler

[2021-01-08 07:33] EnCz commented on #20002
Same here, pretty annoying.

[2021-01-08 08:09] krollo opened #20108 "LDAP user gains wrong role and created before LDAP sync."
### Description:

New LDAP users on our univention server get synchronized over to our rocketchat server (v3.9.3) about every 20 minutes or when triggered manually by an admin of our rocketchat instance.
So users that are eligible to be synced and did not exist on our rocketchat instance pre-sync will be synced.
Depending on the properties of the ldap user, the rocketchat user will have the role '

[2021-01-08 08:35] emikolajczak commented on #20027
I can confirm flood of getmore operations on MongoDB when "USE_NATIVE_OPLOG=true" is not set.

[2021-01-08 08:52] Darshilp326 commented on #20086
@yash-rajpal #20073 would solve this issue.

[2021-01-08 09:05] HariAcidReign opened #20111 "Redundant tooltip in kebab menu options"
### Description:

The exact same tooltip appears above the options in the kebab menu inside a channel

### Steps to reproduce:

1. Go to channel
2. Click on the "More Options" kebab icon
3. On hover over an item, the same name is shown in the tooltip (redundant)

### Expected behavior:

On hover, there should be no tooltip, as it offers no extra information

### Actual behavior:

https://user-imag

[2021-01-08 09:05] 564064202 commented on #20027
may be it's a bug

[2021-01-08 09:09] 564064202 commented on #20027
we did

[2021-01-08 09:11] Darshilp326 opened #20112 "[BUG] Ubuntu 16.04 in readme.md"
### Description:

By clicking on Ubuntu 16.04 in deployments in README.md doesn't take to that section.
### Steps to reproduce:

1. README.md
2. Deployment section
3. Click on Ubuntu 16.04

### Expected behavior:
User should be navigated to that section.

### Actual behavior:
User is not navigated to that section.

https://user-images.githubusercontent.com/55157259/103996079-54e79a80-51bf-11eb-83c

[2021-01-08 09:11] Darshilp326 commented on #20112
Working on it!

[2021-01-08 09:12] Darshilp326 commented on #20112
Should i delete that Ubuntu 16.04 as i was not able to find any related section of it?

[2021-01-08 10:14] tars21 opened #20113 "Direct Reply via e-mail are multiplied by the amount of running instances"
### Description:
When using "Direct Reply" via e-mail the recipient gets the same reply X times equal to the amount of running instances.

### Steps to reproduce:

1. Get an e-mail notification that you've been direct messaged
2. Answer per e-mail
3. Get the same answer multiple times

### Expected behavior:

I expect to get the answer just once

### Actual behavior:

Actually I got the same answe

[2021-01-08 12:10] raghav-khunger commented on #14353
I was able to fix this issue by adding USE_NATIVE_OPLOG=true in the environment variables for rocketchat container.

![image](https://user-images.githubusercontent.com/904902/104013769-f24ec880-51d7-11eb-9fc0-99fb07bfeee2.png)

[2021-01-08 12:56] 564064202 commented on #13380
new optlog implementation change stream

is a evil

[2021-01-08 14:37] rogerpfaff commented on #19433
Thanks for the comprehensive guide and sorry for my rude words before. Sometimes just asking is out of range when in rage too much. :) ☮️

[2021-01-08 15:12] yash-rajpal opened #20115 "[IMPROVEMENT] ToolTip missing for Kebab menu on Chat header."
### Description:
Chats header Have tooltips for all icons except Kebab Menu.

### Steps to reproduce:

1.  Go to any room or direct message.
2.  On the chat header, on right side Icons are present, hover over them.
3.  Kebab menu has no tooltip visible.

### Expected behavior:

All Icons should have tooltip

### Actual behavior:

Kebab icon has missing tooltip
### Server Setup Information:

- Vers

[2021-01-08 15:33] martinszy commented on #20002
Downgrading worked fine 3.9.4 does not have the issue. I Think we can't upgrade until this is fixed. Too bad.

[2021-01-08 15:34] aminvakil commented on #20002
@riantasolutions @martinszy are you sure downgrading doesn't break something?

[2021-01-08 15:42] yash-rajpal commented on #20086
@Darshilp326 Ohh I see. Np I will close this.

[2021-01-08 15:42] #20086 closed

[2021-01-08 16:16] riantasolutions commented on #20002
I always back up first.  😁

No issues so far, with 100+ users who use Jitsi integration extensively.

FYI.

[2021-01-08 16:41] aminvakil commented on #20002
I can confirm downgrading to 3.9.4 fixed the issue for me too.

[2021-01-08 16:49] Darshilp326 commented on #20079
@aKn1ghtOut  Can you explain what are we actually doing by archiving rooms?

[2021-01-08 17:29] #20058 closed

[2021-01-08 17:29] #20095 closed

[2021-01-08 18:14] Sx3 commented on #18740
![image](https://user-images.githubusercontent.com/3599933/104049603-40c98a80-520b-11eb-9bbd-372fde0b8705.png)

PDF thumbnail Issue again on rocket chat snap version 3.9.3

![image](https://user-images.githubusercontent.com/3599933/104049707-6787c100-520b-11eb-85c2-c618cb3b54a4.png)

[2021-01-08 18:50] maiconbaumx commented on #19550
Any new on this?

[2021-01-08 18:53] jw4949 commented on #19011
made a complete reinstall, and made sure that I set the hostname under the General settings to my domain https://chat.example.com and then made an account on https://cloud.rocket.chat with the same email, that I used to create the local admin account on my on premise server

After that I could connect and sync successfully, it now seems to be working fine

[2021-01-09 02:01] HariAcidReign opened #20126 "Missing and broken links in Readme.md"
### Description:

1. Section for the links "RocketChatLauncher" and "Ubuntu 16.04" does not exist
2. Links for the sections "Feature Requests" and "Contributor License Agreement" does not exist

### Steps to reproduce:

1.  Go to Readme.md

### Expected behavior:

Links exist for all subsections and work as intended

### Actual behavior:

Some links are missing and some exist for unavailable subse

[2021-01-09 09:14] aKn1ghtOut commented on #20079
Hey, it was just changing the "archived" key in the "Rooms" mongo collection by id. You can find more details about the exact error from the PR I made. The description and the file itself I made the edit in should be a good descriptor for what needed to be changed, and why.

[2021-01-09 10:33] mmgoilf opened #20130 "Adding !important to CSS makes it impossible to do custom CSS"
### Description:

As of recently many of the CSS rules have "!important" added to them, with these rules breaking custom CSS changes our team has put hard work into making to give our server a custom look and feel. Adding !important makes it impossible to make changes to these rules and breaks our custom CSS, along with the custom CSS of many other people we have found on github, e.g: https://gith

[2021-01-09 10:38] mmgoilf commented on #20002
3.10.3 seems to have fixed this issue. But #19782 is still an issue. Closing for now.

[2021-01-09 10:38] #20002 closed

[2021-01-09 10:52] codeneno commented on #11288
still here 3.9.4 and 3.10

[2021-01-09 15:38] abhinav-TB commented on #8171
@marceloschmidt I would like to work on this issue could you guide me with this

[2021-01-09 15:54] abhinav-TB commented on #20112
I think this issue is already dealt with in #20126

[2021-01-09 18:36] jacotec opened #20133 "[BREAKING!!] New user registration screwed sidebar for *all* users!"
### Description:

A new user has registered on my server running 3.10.1. Once the user was approved, all private chats for **all users** are screwed now! Every private chat is showing the username of the new registered user.

<img width="286" alt="grafik" src="https://user-images.githubusercontent.com/3321655/104105827-47124200-52b1-11eb-869e-fbb82735efad.png">

Update to 3.10.3 did not solve the

[2021-01-09 19:18] yash-rajpal commented on #20133
Do you have a backup of the database before you updated?

[2021-01-09 19:20] jacotec commented on #20133
No, just my nightly VM backups. The issue was not the update, it was triggered by the registration of a new user.
Reverting to 3.9.4 does also not solve the issue, is there a command to repair the database?
Only other solution would be to take the backup from last night, but all users will loose all messages from today in this case.

[2021-01-09 19:46] plustigahl commented on #20133
Having the same issue.  Albeit, on latest version (upgraded today), new user accounts show correct name and avatar with corresponding letter.  It also shows all the other users as normal.  Seems like this is only affecting users that were created before 3.10.1 as my admin account is showing them with all the same username/initial on avatar.  Sigh.

[2021-01-09 19:55] jacotec commented on #20133
The only action I could do right now on a Saturday night to get my server back online was to revert the VM to my last night's backup. Unfortunately users lost all their messages from today, but this is better than the mess caused by the issue.
I've updated to 3.10.3 then and registered a test user which did not cause any issue. Maybe it was related to 3.10.1 (hopefully), but it should be definitel

[2021-01-09 19:57] plustigahl commented on #20133
@jacotec, pretty certain was related to 3.10.1 and maybe 3.10.2.  Was losing my mind last night as well.  No backup, but the workaround aforementioned will do for now until a fix can be rolled out for this.

[2021-01-09 20:25] jacotec opened #20136 "Pages in the Admin Panel can't be scrolled in Safari"
### Description:

The admin panel can't be used anymore with Safari browsers (MacOS, iPhone, iPad). The content of the right frame can't be scrolled anymore.

### Steps to reproduce:

1. Open the admin panel in any Safari Browser
2. Open a topic where the config page on the right side exceeds the screen height (i.e. "Layout" or "Users")
3. You can't scroll the content of the right frame, so anythi

[2021-01-09 20:34] nanocat-net commented on #14562
I also have this problem.

[code]

[2021-01-09 23:42] evroon opened #20137 "Sending URLS inside a double inline code breaks the HTML of the page"
### Description:

Sending URLS inside a double Markdown inline code (for example the string between these quotes: "` `https://example.org/` `") causes the message to be displayed incorrectly and messes up the HTML of the page. It is similar to issue #13007, the effect is the same, only the cause is different.

### Steps to reproduce:

1. Send a URL inside a double inline code (for example: ``` ` `

[2021-01-10 08:19] Darshilp326 commented on #20112
@abhinav-TB Yes he made a new issue for his pr :)

[2021-01-10 09:27] abhinav-TB commented on #20102
I would like to work on this issue could someone guide me to the relevant files

[2021-01-10 10:07] Darshilp326 opened #20138 "[BUG] Wrong information in user info page for non-admin users."
### Description:
While opening user info from list of members gives wrong information of Last Login and Created at if you are a non-admin user.

### Steps to reproduce:

1. Register as a non-admin user
2. Join any room and open members list from contexual bar
3. Click on any of the member

### Expected behavior:
Correct information should be displayed for both admin as well as non-admin users.

##

[2021-01-10 10:08] Darshilp326 commented on #20138
Working on it!

[2021-01-10 10:24] 564064202 commented on #19082
no. it didn't

[2021-01-10 10:26] 564064202 commented on #19082
it wasts too many  mongodb cpu  100%
too many getmore operations

[2021-01-10 12:53] nikolas-digitalBabylon commented on #20081
...To add to this, using "latest" tag, doesn't result in the latest "release" built, but to RC. For example, while 3.9.3 was stable release, "latest" docker tag would download 3.10.0 which was RC and was causing issues.

[2021-01-10 13:13] HariAcidReign commented on #20112
Hey man! There were many other broken links like that, so I made it into a separate issue and fixed it. Thanks for pointing it out :)

[2021-01-10 13:26] Darshilp326 commented on #20112
@HariAcidReign No problem :)

[2021-01-10 13:26] #20112 closed

[2021-01-10 14:44] chaperonRose commented on #19853
Is someone else using retention policy and threads or discussions agree with this ? :)

[2021-01-10 15:26] chaperonRose opened #20140 "[Bug] CAS Log in / Authenticate is not possible with some browsers"
Hello,

### Description:

With CAS authentication, the actual way to log in prevent access with some broswers (tested with Jelly Browser).

The Log in button is stuck with its loading icon forever (like image in step 5 of https://github.com/RocketChat/Rocket.Chat/issues/7071).

This is the case if CAS session :
- doesn't exists and user open one in other window (because pop up don't fire).
- alrea

[2021-01-10 17:13] yash-rajpal commented on #20138
I think this is a setting to enable this for all, I am not sure though.

[2021-01-10 20:34] amezioud opened #20141 "[BUG] Encrypted content message sending from both channel and direct message are visible on android"
**Description:**

When we try to send a message from an encrypted channel to a disconnected or absent user, the message content is visible on the pop-up on my android smartphone. Even if all three privacy options are unchecked.
On the other hand, no content displayed when sending is done from an unencrypted channel.

**Steps to reproduce:**

    Disable privacy options in push parameters.
    Crea

[2021-01-10 20:34] #20141 closed

[2021-01-10 20:36] gpopesc commented on #20087
Solved in next docker version   Rocket.Chat Version: 3.10.3
Sometimes I have the impression that Rocketchat developers launch new version as in production without testing thoroughly  and consider us a beta testers. Few versions ago launch a version with high CPU usage... I would prefer not so many updates, only few but very well tested in advance.
Now when I hung up the jitsi window (in windows) i

[2021-01-10 20:36] #20087 closed

[2021-01-10 21:01] amezioud opened #20142 "[BUG] PUSH from encrypted channel or direct message is not working properly."
### Description:

When we try to send a message from an encrypted channel to a disconnected or absent user, the message content is visible on the pop-up on my android smartphone. Even if all three privacy options are unchecked.
On the other hand, no content displayed when sending is done from an unencrypted channel.

### Steps to reproduce:

1. Disable privacy options in push parameters.
2. Create

[2021-01-11 02:20] Simon2046 commented on #20136
Same.
Can NOT access admin items from iOS client and iOS web browser.
I think it happens from Server version 3.9.0 when I upgrade from version 2.4

[2021-01-11 03:38] nooblag commented on #18983
Issue persists in 3.10.3.

[2021-01-11 05:35] codeneno commented on #17559
@frdmn I think meteorjs should  awalys use websocket
@ankar84

[2021-01-11 05:37] codeneno commented on #17559
@ankar84  May I have your Email?

[2021-01-11 05:39] codeneno commented on #15290
NO!
It is still here in 3.9.4 version

[2021-01-11 05:39] codeneno commented on #15290
NO!
It is still here in 3.9.4 version
@ankar84

[2021-01-11 05:49] ankar84 commented on #15290
Yeap, issue is still here
https://github.com/RocketChat/Rocket.Chat/issues/17559

[2021-01-11 05:50] TarunTomar122 opened #20143 "[Improvement] Reply to thread icon is inconsistent"
Description:
Currently the icon to reply to thread is inconsistent in mobile app and web app. In web app. we have a reply button and a thread icon showing the no of replies separately but in mobile app they are merged.
I think it's redundant in the web app and can be modified to be consistent with the mobile app.

Actual Behaviour
Web App -
![web](https://user-images.githubusercontent.com/54112921

[2021-01-11 05:50] #20143 closed

[2021-01-11 05:52] codeneno commented on #15290
@ankar84  My email qsmy_qin@163.com,may I have your email sir?

How many users online do you have now

[2021-01-11 05:52] codeneno commented on #15290
@ankar84  My email qsmy_qin@163.com,may I have your email sir?

How many users online do you have now

[2021-01-11 05:55] TarunTomar122 opened #20144 "[Improvement] Reply to thread icon is inconsistent and redundant."
### Description:

### Steps to reproduce:

1. Check the thread icon in the messages having replies.
2. Click on the thread icon. Nothing happens.

### Expected behavior:

Either by clicking on the thread icon the thread of the replies shall open up or the icon itself can be merged with the reply button like in case of mobile app.

### Actual behavior:

Right now the thread icon is sort of useless

[2021-01-11 05:56] TarunTomar122 commented on #20144
Can I work on this issue?

[2021-01-11 06:22] bubonicfred opened #20145 "Hovering over thread in channel view shows tooltip 'Open_thread' instead of 'Open Thread'"
### Description:
Minor UI bug
Tooltip for hovering over thread entry in channel window shows 'Open_thread' instead of 'Open Thread'

### Steps to reproduce:

1. Make a thread in a channel
2. Mouse over blue thread link in channel
3. Look at tooltip

### Expected behavior:

Tooltip should show as 'Open Thread' in line with other tooltips

### Actual behavior:
Tooltip shows as 'Open_thread'
![rocket

[2021-01-11 06:34] ankar84 commented on #15290
![image](https://user-images.githubusercontent.com/4023037/104152308-3caa9200-53f0-11eb-9b64-88070651aac2.png)

[2021-01-11 07:26] codeneno commented on #15290
@ankar84 Hi sir,Do you still have to restart RC  manually every week?

[2021-01-11 07:27] ankar84 commented on #15290
Yeap, now twice a week - Wednesday and Sunday

[2021-01-11 07:37] ankar84 commented on #20133
I think that issue is fixed by https://github.com/RocketChat/Rocket.Chat/pull/20128

[2021-01-11 07:51] yash-rajpal commented on #20145
Working on it. Would raise a PR in few hours.

[2021-01-11 08:28] Darshilp326 commented on #20138
@yash-rajpal Where you able to find?
If there is setting then we should not show these details to non-admin users on user-info page instead of showing wrong details.

[2021-01-11 09:16] codeneno commented on #17559
sugget :meteor should use always websocket

[2021-01-11 09:24] codeneno commented on #17559
@ankar84  do you Disable Presence Broadcast ?

[2021-01-11 09:39] codeneno commented on #17473
@sampaiodiego When “Diable Presence BroadCast” We need a button to get user ative status,
“Diable Presence BroadCast” is very important to resolve many problem,but we can't get a user status immediately.
@ankar84

[2021-01-11 09:44] codeneno opened #20147 "“Diable Presence BroadCast” Problem (Suggestion)"
### Description:

When “Diable Presence BroadCast” We need a user interface to get user ative status（click user photo?）, “Diable Presence BroadCast” is very important to resolve many problem,but we can't get a user status immediately.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:
When “Diable Presence BroadCast” We need a user interface to get user ative status（click user photo?）, “Di

[2021-01-11 09:52] codeneno commented on #15290
@ankar84 we have 4K users,but we come across xhr flood sometimes,and RC will stop work (high cpu)  still we restart all instances.

[2021-01-11 09:52] ankar84 commented on #17559
No. It is enabled now and always.
We disabled Presence Broadcast during some RC performance and stability issues in past.

[2021-01-11 09:58] codeneno commented on #15290
@ankar84 you have only 2k online users  at same time ,so you may  think you have resolved this problem.but it is waiting for you when you have more users online users.

[2021-01-11 10:13] salehi commented on #20133
I didn't find a good way to recreate the subscription names via mongo shell, May be its better for rocketchat developers to provide one solution!

[2021-01-11 10:26] djcruz93 commented on #13688
Even I noticed the same behavior when I tried creating a mock for my project on [JSFiddle](https://jsfiddle.net/murtaza98/y6qks45p/45/).
Initially, when we run the code, it works fine.

**Steps to reproduce:**
Clicking on either the chat window or message input bar or attach button(+), results in breaking of embedded layout as the sidebar and room-header appear.

Using https://open.rocket.chat/cha

[2021-01-11 10:56] Joey-Nguyen opened #20148 "Cannot "meteor npm start" Rocket Chat"
Hi @all,

I have followed the correct steps on guides for Win 10 (https://docs.rocket.chat/guides/developer/developing-on-windows-10). But it's showing error like image below:

![PermissionDenied](https://user-images.githubusercontent.com/64880211/104172017-245d6600-5436-11eb-9f40-b47d3eb41b9a.png)

Can someone help me to solve this issue?
Thanks

[2021-01-11 10:56] #20148 closed

[2021-01-11 10:59] Joey-Nguyen opened #20149 "Cannot "meteor npm start" Rocket Chat"
Hi @ALL,

I have followed the correct steps on guides for Win 10 (https://docs.rocket.chat/guides/developer/developing-on-windows-10). But it's showing error like image below:

![PermissionDenied](https://user-images.githubusercontent.com/64880211/104172305-a77ebc00-5436-11eb-8f46-661eae533732.png)

Can someone help me to solve this issue?
Thanks

[2021-01-11 10:59] #20149 closed

[2021-01-11 11:02] Joey-Nguyen opened #20150 "Cannot "meteor npm start" Rocket.Chat"
### Description:

Hi @ALL,

I have followed the correct steps on guides for Win 10 (https://docs.rocket.chat/guides/developer/developing-on-windows-10). But it's showing error like image below:

![PermissionDenied](https://user-images.githubusercontent.com/64880211/104172600-1e1bb980-5437-11eb-8e7d-d06c35429267.png)

Can someone help me to solve this issue? Thanks

### Steps to reproduce:

1.
2.
3

[2021-01-11 11:17] mmebsout opened #20151 "[BUG] Cannot remove emoji reaction"
### Description:

It' s now impossible to remove an emoji reaction by clicking on it.

### Steps to reproduce:

1. go to a message
2. mouse over the message
3.  click on ' add a reaction'  (the smiley with the ' +' icon)
4. click on any smiley
5. the emoji appear below the message with a counter
6. click on the emoji
7. => the emoji isn't removed nor the counter decremented.

### Expected behavior

[2021-01-11 11:58] didacroyo opened #20152 "Omnichannel closed messages are not linked to the visitor's history if servedBy is null"
### Description:

Omnichannel conversations from the same visitor (with the same guest-ID and token) are not linlked (not visible in the vistor History icon) and we discovered that this unexpected behavior happens when the servedBy field is blank.

### Steps to reproduce:

1. An agent opens an incomming omnichannel conversation from a recurrent visitor.
2. The agent reads the messages from the vis

[2021-01-11 12:11] amezioud commented on #20142
I just tried the version 3.9.3 and it's the same behavior.

[2021-01-11 12:34] Darshilp326 commented on #16298
@gabriellsh Do we need to add button as mentioned in https://github.com/RocketChat/Rocket.Chat/issues/16298#issuecomment-632261740 ?

[2021-01-11 13:03] sampaiodiego commented on #20133
I'm very sorry about this guys.. It was indeed happening on 3.10.1 and 3.10.2 but it was fixed on 3.10.3 a few hours later..

you can use the following mongodb shell script to fix them (I recommend shutting rocket.chat down before running it)
[code]

I tried releasing a fix as fast as I could so I didn't ship a migration to fix it.. I can work on a migration to automatically fix it without the nee

[2021-01-11 13:12] ksarink commented on #20151
Can confirm

[2021-01-11 14:12] Darshilp326 commented on #19111
Working on it!

[2021-01-11 14:49] Pictor13 opened #20153 "[BUG] Broken empty search results"
### Description:

The channel search (with regular expression or not) finds results but doesn't display them.
This, in my experience, is happening since months.

### Steps to reproduce:

1. just try to search something in a channel

### Expected behavior:

Get the results **AND** have the results displayed correctly.

### Actual behavior:

![Screenshot 2021-01-11 at 15 29 48](https://user-images.g

[2021-01-11 14:50] amezioud commented on #20142
I think I figured out how to reproduce the problem.

If you change the Site URL in "Administration/General" from http://localhost:3000 to https://rc.your_domain and you register your workspace on https://cloud.rocket.chat, the encrypted messages will no longer go hidden.
For this to work, you must leave the url name on http://localhost:3000 and register it.

Unfortunately it will no longer be poss

[2021-01-11 14:56] rxpha opened #20154 "I can't unblock someone who I've blocked some time ago"
I'm trying to talk with a co-worker but I can't because I blocked him some time ago and now I can't unblock.

See the image below:
![image](https://user-images.githubusercontent.com/44279227/104197619-9fedf180-53fb-11eb-8651-94d6c9f80d47.png)

[2021-01-11 14:56] #20154 closed

[2021-01-11 15:41] samtuke opened #20155 "High desktop Linux app CPU usage"
### Description:

RC desktop has consistently high CPU usage causing laptop fans to spin. Screenshot shows 31% of one cpu used while RC is idling, but often % is much higher. Only 6 enabled users exist on this instance with low traffic.

### Steps to reproduce:

1. Use RC desktop on Linux
2. Check system resource usage

### Expected behavior:

CPU usage under ~5%?

### Actual behavior:

Typically

[2021-01-11 16:08] jjmg84 commented on #17927
Really needed feature.

[2021-01-11 16:28] SardorbekR commented on #13715
I am also having this kind of issue, I've implemented Rocket chat API in my app, issue occurring randomly, sometimes it creates two chat sometimes one. I am not sure what's the reason of it.

[2021-01-11 16:38] enespexbo opened #20156 "Rocket Chat Does Not Download Files"
One of my team members is trying to download pdf's and/or photos to their computer. The save screen comes up, however, when clicked to download, nothing happens. Is there anyone that had this issue? Can you please help me ASAP? Thank you in advance.

[2021-01-11 16:38] #20156 closed

[2021-01-11 16:45] voodoo-people opened #20157 "Template files aren't replaced in custom theme created"
### Description: Theme files aren't replaced in custom theme

I'm trying to create the custom Rocket.Chat theme to place a Rocket.Chat to the custom page layout following the [official guide](https://docs.rocket.chat/guides/developer/ui-and-theming/themes#adding-and-modifying-templates), the section "Adding and Modifying Templates". But Rocket.Chat continue to load original ones from `app/ui/clien

[2021-01-11 17:22] Angstroem commented on #19974
Okay, done! Thanks for your support as well.

Here are some further information on my Linux VM that is running Rocket.Chat:

Linux Debian kernel version:
[code]

cifs-utils version:
[code]

Let me know if you need any more information from my instance.

[2021-01-11 17:34] salehi commented on #20133
Thank you @sampaiodiego
I used your base and here is my final script which fixed the problem:
[code]

I also need to change the url so that I can debug it in my machine first, may be useful to someone else.
[code]

[2021-01-11 19:04] plustigahl commented on #20133
running this via mongo shell worked perfectly.  Thank you!

[2021-01-11 19:19] plustigahl commented on #20133
@sampaiodiego, one thing i did notice, my admin user, when clicking on my own profile in a DM, it shows me as rocket.cat bot user, any idea?  All the other users are showing their corresponding user.

[2021-01-11 19:44] josh-nexxt commented on #13501
I found this error message (`TypeError: sharp is not a function`) in another library. The solution was just to use `const sharp = require('sharp');` instead of `import * as sharp from 'sharp';`

I was using the same version in another package without issue, so I am not sure what caused this - possibly something related to the Typescript config.

[2021-01-11 23:42] hans4rc commented on #18751
Same problem with 3.10.3
after entering the Mail Authentication code for 2FA activation = white screen
tested in Chrome, FireFox and Opera
now the browser allways reloads to a white page
to get RC back to screnn i had to delete the browser cache

![image](https://user-images.githubusercontent.com/66670106/104250975-a796b000-5466-11eb-912e-2b2a080b3d73.png)

[2021-01-12 02:39] ArthurMacGuffin opened #20160 "Video audio not working"
Any videos I play in the Rocket Chat app do not play any sound and I have to open them up in a separate tab in order to listen to the sound

[2021-01-12 02:39] #20160 closed

[2021-01-12 03:12] wongsingfo commented on #19604
Same problem Rocket.Chat 3.9.4

[code]

[2021-01-12 04:59] xgdgsc commented on #14144
Also hpp file doesn' t work.

[2021-01-12 05:09] wangengzheng opened #20162 "How to make an interface /api/v1/users.info return unreads"
### Description:

/api/v1/users.info response no include  unread count

### Steps to reproduce:

1.  Admin Panel => General => Unread_Count
![image](https://user-images.githubusercontent.com/12171338/104271700-5e3b6600-5450-11eb-8ffa-acefb47a8e0b.png)
![image](https://user-images.githubusercontent.com/12171338/104271732-701d0900-5450-11eb-9cc5-7600cc8815f7.png)

### Expected behavior:
![image](htt

[2021-01-12 05:10] wangengzheng commented on #20162
We look forward to your reply

[2021-01-12 05:31] wangengzheng commented on #20162
![image](https://user-images.githubusercontent.com/12171338/104273725-1ae2f680-5454-11eb-896f-743e25ec3ff4.png)

https://github.com/RocketChat/Rocket.Chat/blob/bf88a0e013a335611d53cfacc722f2d17ff68ff4/app/api/server/v1/users.js

Is rest API doc inconsistent with the code

[2021-01-12 07:02] xavierpriour opened #20163 "No official docker image for latest image 3 days after release"
### Description:

My rocket.chat instance is self hosted and deployed using docker, pulling the official image from docker hub.
A new version 3.10.3 was released 3 days ago, and I am getting a header warning "new version available, please update to 3.10.3" in rocket.chat.

But when I went to docker hub to perform the update, the latest version was still 3.10.0, pushed to docker 11 days ago (and re

[2021-01-12 07:18] Manas502 commented on #20153
Hey, are you talking about the irc channel search results?

[2021-01-12 07:25] alcodevops commented on #20074
I got the same problem.
On version 3.9.1 it worked, and after updating to 3.10.0, OTP stopped working.
It doesn't work for version 3.10.0; 3.10.1; 3.10.2; 3.10.3 either.
A clean install does not solve this problem.
I am using nginx-proxy configured according to [Configuring SSL Reverse Proxy](https://docs.rocket.chat/installation/manual-installation/configuring-ssl-reverse-proxy).

[2021-01-12 08:40] philipp65 commented on #18893
I connected to the mongodb by exposing the ports. Then I looked up the `_id` values inside Rocketchat.Settings which started with `Push`.

[2021-01-12 08:56] inscrutable0 commented on #14904
any proggress?

[2021-01-12 09:14] marcoskv commented on #8794
I have one rocketchat instance v3.7.2 running on a subdirectory like mywebsite.com/chat.

ROOT_URL is set properly.

With desktop client v3.0.1 for Linux, after inserting the URL, the client opens the homepage at the root url instead of the rocketchat service running on the sub-dir.

On server side, I see the following requests

- GET /apps/chat/api/info
- GET /

With a former server version (do n

[2021-01-12 09:36] EnCz commented on #20163
We use this repository: https://hub.docker.com/r/rocketchat/rocket.chat/tags?page=1&ordering=last_updated

Seems to be up2date all the time

[2021-01-12 10:11] amsnek commented on #19604
same issue on 3.9.1

[2021-01-12 11:34] ankar84 opened #20165 "[BUG] Add .png extension to pictures pasted from clipboard"
### Description:

Rocket Chat have a great feature to paste picture from clipboard into any chat, and that is really awesome!
But name for that pasted picture generates without any extension, so if user try to save it, it will not be saved as picture. So, just add ".png" to generated name and that problem will be solved in moment.

### Steps to reproduce:

1. Get a screenshot in clipboard (with WI

[2021-01-12 11:42] ankar84 commented on #20165
I think fix will be in that line
https://github.com/RocketChat/Rocket.Chat/blob/119028b17f71df8797a46234cfee7cc6c8ee9217/app/ui-message/client/messageBox/messageBox.js#L389
@ggazzo what do you think?

[2021-01-12 11:48] ankar84 commented on #20163
Here is an answer for your question in official documentation https://docs.rocket.chat/installation/docker-containers/available-images
`The Official Docker Images Repository is where Rocket.Chat's Official, stable image **is maintained and controlled by Docker**, and reviewed by the Docker committee.`

[2021-01-12 12:32] aKn1ghtOut commented on #20165
Sounds like a good idea to me. No reason to not have an extension?

[2021-01-12 12:34] aKn1ghtOut commented on #20165
Just tried it using Chrome on Ubuntu 20.10, with the server on the same machine.
It does include the png extension for me while downloading. I'll give it a try on a different machine

[2021-01-12 13:26] manpoffc commented on #19378
Is this issue resolved?

[2021-01-12 14:16] #20015 closed

[2021-01-12 14:19] #20018 closed

[2021-01-12 14:21] hans4rc opened #20166 "[BUG] White screen after entering the 2FA Authentication code"
### Description:

After the new registration of a user, he receives an authentication code for the activation of the 2FA by email.
The user has been checked and confirmed by the admin and the admin has specified a user name for the user.
After entering the authentication code and clicking on check, only a white page is displayed in the browser.
It is not possible to set up a new user!

The followi

[2021-01-12 14:24] #20115 closed

[2021-01-12 14:25] reda-alaoui commented on #15225
Tested on RC master with Keycloak, it works.
Roles are correctly synced on each authentication.

[2021-01-12 14:46] Ymahern opened #20167 "Having problems with Rocketchat"
Hi
With the last update, every time that I restart my computer I try to open rockectchat but it doesn't upload https://prnt.sc/wlvmke, I had tried restarting my computer again and keeps happening. I closed and opened that app several times, the same, I pressed reload option, reload ignoring cache, it keeps showing a black screen. To open the app again I have to uninstall and reinstall the app, I h

[2021-01-12 14:46] #20167 closed

[2021-01-12 15:06] d3hof opened #20168 "Inconsitency in notifications"
### Description:

Me and several people observed that there are inconsistency regarding notifications. I didn't see any clear pattern yet.
Sometimes people get push notifications on their Smartphone, but don't get any notfications in the browser or the rocketchat-client. Sometimes it's the other way around. Sometimes it just works fine. Sometimes they arrive too late. This is observed on Kubuntu 2

[2021-01-12 15:09] Pictor13 commented on #20153
I'm not aware of any related irc channel. 🤷‍♂️

I am talking about the search functionality of the RocketChat web user interface (see screenshot above).

[2021-01-12 15:37] reda-alaoui opened #20171 "[IMPROVE] Condition Custom OAuth authentication to the presence of arbitrary roles"
### Description:

On my rocket chat instance, all users are provided by Keycloak as a custom OAuth provider.
Some users are allowed to use rocket chat, while some are not.

### Steps to reproduce:

1. Setup a Custom OAuth in RC
2. Try to tell RC what users coming from the OAuth provider are authorized to use RC

### Expected behavior:

I want to be able to declare a list of `required roles` in the

[2021-01-12 15:52] mmgoilf commented on #19994
Seems to have been fixed in 3.10.3.

[2021-01-12 15:52] #19994 closed

[2021-01-12 15:52] mmgoilf commented on #19728
Seems to have been fixed in 3.10.3, will reopen if problem appears again.

[2021-01-12 15:52] #19728 closed

[2021-01-12 16:03] immanuelfodor commented on #20107
I accidentally disabled E2E by clicking on the small green :key: icon next to a user's name in a DM session. It didn't look as disable function, the tooltip said Encrypted or somehting like that. Now we both can't turn on E2E as the relevant menu is missing from the dropdown. How can we reenable E2E? Using the browser chat, no desktop clients involved.

![image](https://user-images.githubuserconte

[2021-01-12 16:25] sennewood commented on #20163
Do Rocket.Chat has some influence to the build process of the official docker images?

[2021-01-12 16:53] #19927 closed

[2021-01-12 16:58] xenein opened #20173 "Image uploads fail when /tmp/ufs directory does not exist"
### Description:

For whatever reason the ufs directory in /tmp was missing. Image uploads fail if that is the case. There is an error message in the browser, but it does only state that a file in /tmp/ufs is missing not that the directory is missing.

### Steps to reproduce:

1. cd /tmp; rm -r ufs
2. try to upload an image to a channel in a rocket.chat instance

### Expected behavior:

- /tmp/ufs

[2021-01-12 18:14] ggazzo commented on #20133
@plustigahl

My bad :x fixing as soon as possible

[2021-01-12 19:17] aditya-mitra opened #20175 "Username"
### Description:

*This is a very corner case situation.*

I will try to explain it as simply as possible.

Consider a user (say `A`) has recently **changed his username** and  another user (say `B`) now **takes his username**.
`A` had **reacted** to some messages where `B` had not. Now, `B` reacts to those messages (after renaming himself). He finds that the reactions are being removed (of both `

[2021-01-12 19:32] xavierpriour commented on #20163
Oh I see, thanks so much for the answer, and sorry for not RTFMing.
I've switched to rocketchat/rocket.chat instead of rocket.chat and everything works.
It doesn't help that the "right" solution is only third entry when searching for rocket.chat on docker, but I guess there's nothing you can do about that.

And rocket.chat is an awesome product, thanks for all your time and dedication!

[2021-01-12 19:32] #20163 closed

[2021-01-12 21:29] aKn1ghtOut commented on #19952
The answer was staring at me right in my face. Had another PR with a similar issue and that helped. The events handling the menu button were bound twice, and the second "rc-popover" element that blocked the page couldn't be removed. Removed the duplicate event binding, and everything works well now!

[2021-01-12 21:42] wolfcreative commented on #19378
@manpoffc no

[2021-01-13 01:56] yash-rajpal commented on #20175
This happens because we are using the only userName for setting and removing reactions, so if same username is found, problem occurs.
We can get around it by saving userids also along with usernames.

[2021-01-13 03:31] nooblag commented on #19053
Hi there, I've noticed a regression of this issue on 3.10.3. Can we re-open or should I lodge a new issue #?

[2021-01-13 04:32] aKn1ghtOut opened #20184 "[BUG] starredMessages screen menu doesn't close"
### Description:

### Steps to reproduce:

1. Make sure the channel has at least one starred message
2. Go to the menu for the channel ('...')
3. Click on 'Starred Messages'
4. Hover over any starred message to get the menu ('...') and click on it.
5. Click anywhere. The menu just doesn't go away.

### Expected behavior:

For the menu to disappear on clicking on either one of the actions or elsewh

[2021-01-13 08:00] d3hof commented on #16921
Might this be connected with my Bug? Sometimes you don't get a notification.  https://github.com/RocketChat/Rocket.Chat/issues/20168

[2021-01-13 08:41] Deelight-fr commented on #20151
The emoji can be cancelled by clicking on it again the emoji list, but indeed, it's not intuitive.

[2021-01-13 08:41] finkyseb opened #20186 "[Bug] Impossible to override globale retention policy in a room with a bigger value."
### Description:

It seems impossible to specify a bigger room retention policy in the web interface.
The new value is written in the mongo database, but in the preferences of the room the the policy is set to the globale value.

### Steps to reproduce:

1. You must set a global retention policies ex: 30 days.
2. Go on a channel and try to set a value bigger than the global one You can do the same

[2021-01-13 08:58] leManu commented on #20186
Maybe the problem sits in this line ? https://github.com/RocketChat/Rocket.Chat/blob/119028b17f71df8797a46234cfee7cc6c8ee9217/app/retention-policy/server/cronPruneMessages.js#L50

maxAge is always 30...

[2021-01-13 08:59] ankar84 commented on #20165
Not in my case
![image](https://user-images.githubusercontent.com/4023037/104429500-bb413400-5596-11eb-87d8-1843e0a7999b.png)
Downloaded that file in Chrome 87 on Windows 10

[2021-01-13 09:10] ankar84 commented on #19378
Unfortunately not.
There is a 2 fixed, but they not merged for some reason.

[2021-01-13 09:21] aKn1ghtOut commented on #20151
No need though. There was a bug that'll be easily fixed by the above PR. Clicking on the reaction itself should work again with it merged.

[2021-01-13 09:52] yash-rajpal opened #20187 "Star Icon doesn't disappear after unstarring a message"
### Description:
Even after the message is unstarred, the star icon appears with the message.

### Steps to reproduce:

1.  Goto any room and star a message.
2.  Now unstar the message.
3.  Even after the message is unstarred, it appears as starred.

### Expected behavior:
Unstarring a message should remove the star icon

### Actual behavior:
Unstarring the message doesn't remove star icon

![befo

[2021-01-13 10:02] ankar84 commented on #20168
I confirm that. For some reason from time to time push notifications appears on user smartphones with delay (5-10-20 minuses). And I don't actually know how to troubleshoot that issue, how and what to monitor (push queue in DB for example)

It's impossible by design. If you get notification and message on desktop or web client, why you need it on your mobile as push notification in that same momen

[2021-01-13 10:06] SkyVera opened #20189 "When the incoming notification is opened, the scroll of the message area goes to the top."
### Description:
When a notification arrives or when clicking on the tray icon to read the incoming message, it scrolls to the middle or top of the screen instead of showing the last message.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 3.10.3
- Operating System: Debian GNU/Linux 9 (stretch) Linux

[2021-01-13 10:15] Darshilp326 commented on #20187
@yash-rajpal  #19645 solves this :)

[2021-01-13 10:21] yash-rajpal commented on #20187
@Darshilp326 , Right, I didn't noticed.

[2021-01-13 10:22] #20187 closed

[2021-01-13 10:26] korobita commented on #19604
same issue on 3.9.0

[2021-01-13 10:39] d3hof commented on #20168
Thanks for the info. You're right that is actually a smart behaviour. I will check if that is actually how it works.

[2021-01-13 10:45] d3hof commented on #20168
But what if i have theoretically the desktop app and a browser chat shouldn't it send the notifications to both? Because I observed that sometimes there are unread messages in the browser but not in the desktop app.

[2021-01-13 10:47] ankar84 commented on #20168
Rocket chat team members can answer you more accurate, but I think you right. you will get notification in both desktop and web clients.

[2021-01-13 10:58] ankar84 commented on #20189
Could be duplicate of https://github.com/RocketChat/Rocket.Chat.Electron/issues/1835

[2021-01-13 10:58] finkyseb commented on #20186
I don't think so.
The value is set to 30 only if the value in room.retention is not set.
But it can't happened because we search only rooms with this attributes :
[code]

[2021-01-13 11:01] finkyseb commented on #20186
After more tests, it seems the room configuration is taken by the cron job correctly, but only the value in the webinterface in the room information is incorrect.
Anybody can confirm that ?

[2021-01-13 12:45] sennewood commented on #20163
The "right" solution for us is to wait till the image is curated by docker.
So ... it depends what "right" is :)

[2021-01-13 13:04] EnCz commented on #20186
Yes that seems to be the case. Retention Policy Settings are a little bit wonky at the moment.

In Administration we have activated the retention policy but didn't apply it to any room:
![image](https://user-images.githubusercontent.com/7642122/104455264-56420a00-55a7-11eb-8ba4-1861fcd14d31.png)

So our users can overwrite this setting on a per-room basis. Still every room has this message in it's

[2021-01-13 13:43] dougfabris commented on #20150
@Joey-Nguyen We strongly recommend you to use WSL 2 instead of the Windows PowerShell.

Please, follow the pre-requisites before you start:
- Make sure you have Windows 10, version 2004 or later
- Install and configure WSL 2 by following Microsoft documentation,  making sure to select Ubuntu 20.04 LTS distribution as your choice of Linux
- Download and install the latest Linux Kernel Updates

[2021-01-13 14:30] SkyVera commented on #20189
Yes absolutely correct, I checked the list of current problems before but I overlooked.

That's why I'm closing this topic.

Thanks.

[2021-01-13 14:31] #20189 closed

[2021-01-13 14:41] lkiii commented on #19065
Docker version 3.10.3 still has the same warning:
[code]

[2021-01-13 16:31] MJPGPleasant opened #20191 "Error after upgrade to 3.10.3"
### Description:

After upgrading from Rocket.Chat 3.10.0 to 3.10.3, OAuth users receive the error "No matching login attempt found" and is left at the RocketChat "Loading" page. Page refresh properly loads without error, and error does not seem to occur on subsequent logons.

### Steps to reproduce:

1. Have OAuth configured in an older release of RocketChat, and valid OAuth users authenticated
2

[2021-01-13 16:48] RonLek opened #20192 "[BUG] Blank Personal Access Tokens can be created."
### Description:

Personal Access Tokens(PATs) without a name can be created. This should raise an error since each PAT should have a unique name associated with it.

### Steps to reproduce:

1. Click on My Account.
2. Click on Personal Access Tokens.
3. Click on Add without entering a name for the token.

### Expected behavior:

Non-named PATs shouldn't be generated and an error should be raised.

[2021-01-13 17:13] mmgoilf commented on #19604
Same issue on 3.10.3

[2021-01-13 17:55] Darshilp326 opened #20194 "[BUG] In administration on selecting Info gives white screen."
### Description:

When we open administration, screen appears blank.
### Steps to reproduce:

1. Administration
2. Info
3.

### Expected behavior:
Info should be displayed on screen

### Actual behavior:
Screen doesn't shows anything.

https://user-images.githubusercontent.com/55157259/104490024-55849480-55f6-11eb-9be6-20ef0cf852df.mp4

### Server Setup Information:

- Version of Rocket.Chat Serve

[2021-01-13 17:56] Darshilp326 commented on #20194
Can anyone guide me to solve this issue?

[2021-01-13 18:03] Darshilp326 commented on #20194
![Screenshot from 2021-01-13 23-32-23](https://user-images.githubusercontent.com/55157259/104490998-9e891880-55f7-11eb-833d-76e410e1fb35.png)
This gives undefined:/

[2021-01-13 18:18] jdavis7718 opened #20195 "User's Custom Statuses no longer displayed in Direct Chat"
Running Version 3.10.3

We upgraded from 3.7, after upgrading custom statuses don't appears in the windows at the top by Username on Direct Message Windows.   If you click the User Info button it appears in there, but that is not helpful.   It was helpful to see Custom Status Messages next to a user's name when direct messaging.    It use to appear much like how Topics appears in Rooms.
Request to

[2021-01-13 18:18] #20195 closed

[2021-01-13 18:24] jdavis7718 opened #20197 "User's Custom Statuses no longer displayed in Direct Chat"
### Description:

Custom User statuses don't appears in the windows at the top by Username on Direct Message Windows.   If you click the User Info button it appears in there, but that is not helpful.   It was helpful to see Custom Status Messages next to a user's name when direct messaging.    It use to appear much like how Topics appears in Rooms.
Request to reinstate the ability for Custom Statu

[2021-01-13 18:38] yash-rajpal commented on #20194
I am not sure, but works for me.
![image](https://user-images.githubusercontent.com/58601732/104494556-9e3f4c00-55fc-11eb-8ff0-4d191254b41e.png)

[2021-01-13 18:46] yash-rajpal opened #20198 "[UI] No margins between status bullets and status label on My accounts page."
### Description:
No margin is available between status bullets and status label on my accounts page, in status dropdown.

### Steps to reproduce:

1. Goto my accounts.
2. Click on Status Button on right side of status Message .
3. No margins between text and status bullet.

### Expected behavior:
Some margin should be available.

### Actual behavior:
No margin available.

### Server Setup Informat

[2021-01-13 19:02] #20133 closed

[2021-01-13 19:43] snake-py commented on #9684
How can I deactivate emails for registration completely?

[2021-01-13 21:59] UAnton commented on #20136
Have the same problem.

[2021-01-14 06:05] Darshilp326 commented on #20194
Can anyone confirm the issue?

[2021-01-14 06:09] jlfguthrie commented on #14502
The documentation really needs to be more specific in order to configure correctly.

Has anybody managed to figure out how to get this up and running and willing to share their config example?

[2021-01-14 08:32] Darshilp326 commented on #19378
@ankar84 No review till now:/

[2021-01-14 08:34] Bengrunt commented on #20151
Hello, I'm wondering whether this will solve the very similar issue of not being able to increment another user's emoji reaction by clicking on it ? Or should I open a separate and dedicated issue to this problem?

Here is what this looks like:
![Jan-14-2021 08-59-33](https://user-images.githubusercontent.com/5541437/104564754-98248c00-564b-11eb-8745-52f8304f7eda.gif)

Thanks!

[2021-01-14 08:35] baiking commented on #17748
what is that option mean?

[2021-01-14 08:36] baiking commented on #17748
same issue here

[2021-01-14 10:22] Kulfadir opened #20204 "Error with created Message Links"
### Description:

When using the function 'Get Link' an Error appears.
![grafik](https://user-images.githubusercontent.com/44830091/104578101-9615f980-565a-11eb-9f59-11230bb25d40.png)
### Steps to reproduce:

1. Go into room.
2. Click on the 3 Points behind an Message
3. Click on 'Get Link'
4. Use this Link.

### Expected behavior:

No Error

### Actual behavior:

![grafik](https://user-images.git

[2021-01-14 11:55] Manas502 commented on #20197
Hey, @jdavis7718 can you attach a screenshot to elucidate it a bit more?

[2021-01-14 12:18] desser-code commented on #18208
Can everyone open this again?

[2021-01-14 12:20] desser-code commented on #19676
Is there any progess?

[2021-01-14 12:25] aKn1ghtOut commented on #20151
I haven't tested it for that yet but from what I can gather from the GIF, yes. This should solve that issue as well.

[2021-01-14 13:14] jeci-sarl commented on #5009
@marceloschmidt Your support has not responded for 3 months. How can I ask for database dump ?

[2021-01-14 13:36] ExTechOp commented on #18145
This unfortunately still seems to be an issue with rocket chat 3.9.1:
[code]

[2021-01-14 14:23] devadattas commented on #13195
For anyone facing a similar issue here is the restoration code I used:

[code]

[2021-01-14 14:29] sampaiodiego commented on #13195
thanks guys.. I'd like to say that if you guys upgrade to version 3.10.4 it should fix automatically.. no need to run an external script.. pls let me know if you try it. thx again

[2021-01-14 15:22] Bestoloch opened #20205 "Room owner can't archive channel/discussion"
### Description:
When a user without permission to "archive room" create a new channel/discussion, it is not possible to archive this room. However when reassign this user to owner (or set "owner" another user) - user can archive room

### Steps to reproduce:

1. Create new room
2. Try to archive room
3. Reassign "owner" and try one more time

### Expected behavior:
Can archive room

### Actual be

[2021-01-14 15:24] JamieVampire opened #20206 "Chat won't show again after clicking 'show' on tray icon"
### Description:

I have just updated my Rocket.Chat client from v. 2.15.3 to v. 3.1.1 and now it shows a very weird reaction when using the tray icon. The chat window won't come back up again, so that I'll have to invoke Rocket.Chat by using Alt + F2 (I'm on Linux), which is the same that I usually do to open a program - not that Rocket.Chat is closed at any time, just the chat window won't show.

[2021-01-14 15:29] danielpotthast opened #20207 "WebRTC: video and audio chat not working"
### Description:

We configured WebRTC with a self-hosted STUN / TURN server and tried to use it for direct video calls.

### Steps to reproduce:

1. Click an a profile
2. Open the detail profile page
3. Start a video call

### Expected behavior:

A video overlay should appear and the call should be visible.

### Actual behavior:

When trying to start a direct video chat, my own webcam lights up a

[2021-01-14 17:02] yash-rajpal commented on #20205
I think this is the correct Implementation, correct me if I am wrong.
Only a user with the correct permissions can archive rooms, even if he created the room, if he doesn't have the required permissions, he cannot archive room or make the room as read only.
@gabriellsh @sampaiodiego

[2021-01-14 18:06] MJPGPleasant commented on #20197
![image](https://user-images.githubusercontent.com/73244744/104630665-446c6f80-5658-11eb-8262-f60dac37e375.png)

Issue is reproducible in both 3.10.0 and 3.10.3. Although status is in the detailed information, it is missing in the conversation title bar.

[2021-01-14 18:14] Darshilp326 commented on #20205
@yash-rajpal I also think you are right.

[2021-01-14 18:18] Darshilp326 commented on #20204
@Kulfadir It's working fine for me:)

[2021-01-14 20:36] dkoo761 commented on #19905
UPDATE: Using the workaround above (USE_NATIVE_OPLOG=true) I haven't had any problems whatsoever with my RocketChat connection to Atlas MongoDB since I posted this issue almost a month ago.

So the workaround seems to be very stable :)

[2021-01-14 20:55] jdavis7718 commented on #20197
@MJPGPleasant thanks for supplying those screenshots.  That is exactly what I am referring to.

[2021-01-14 22:52] ArchdukeTim opened #20208 "[BUG] External users can delete channels in federated servers"
### Description:

A user that has permission to delete channels in server A can be invited to and subsequently delete a channel in server B.

### Steps to reproduce:

1. Federate two servers, A and B
2. Invite user X from server A into a channel J in server B
3. User X can delete J in server B using his permissions in server A

### Expected behavior:

External users cannot delete federated channel

[2021-01-14 22:52] #20208 closed

[2021-01-14 22:55] ArchdukeTim opened #20209 "[BUG] External Users can deleted federated channels"
### Description:

A user that has permission to delete channels in server A can be invited to and subsequently delete a channel in server B.

### Steps to reproduce:

1. Federate two servers, A and B
2. Invite user X from server A into a channel J in server B
3. User X can delete J in server B using his permissions in server A

### Expected behavior:

External users cannot delete federated channel

[2021-01-15 02:33] Endareth commented on #18398
Happy to say that issues seems to finally be resolved in 3.9.3! Thanks whoever managed to fix this, I was getting tired of using curl for all my user management (but at least I *could* do it, thanks for the API)!

[2021-01-15 02:52] StefanGan opened #20210 "@-Mention can hide the user "Not in Channel"?"
### Description:
When type @ the list will show the user even no in the channel, can I hide it ?

### Steps to reproduce:
Go to a channel or private group
@username (which not in channel)
![image](https://user-images.githubusercontent.com/23218839/104673931-ab079100-571d-11eb-8d12-fb6ad690feed.png)
it will show out

### Expected behavior:
When @username automatically adds as member of channel

###

[2021-01-15 02:52] #20210 closed

[2021-01-15 03:04] StefanGan opened #20211 "@ - Mention can hide the users "Not in Channel" ?"
### Description:
When type @ the list will show the user even no in the channel, can I hide it ?

### Steps to reproduce:
Go to a channel or private group
@username (which not in channel)
![image](https://user-images.githubusercontent.com/23218839/104675749-0dae5c00-5721-11eb-980f-2c22ad26c724.png)
it will show out

### Expected behavior:
Not in Channel user will not been show.

### Actual behavio

[2021-01-15 05:26] Manas502 commented on #20197
@ggazzo Can I take up this issue?

[2021-01-15 06:25] Bestoloch commented on #20205
Yes, you are right. But I think there is another problem:
For example, Owner and Admin have "archive" permission.
1. Create a new room (room#1) as "Admin" (become owner ) - "room#1" can be archived by the owner (since the user has **global** permission before creating room#1);
2. Create a room#2 as "User" (become owner) - "room#2" cannot be archived by the owner (since the user didn't have **globa

[2021-01-15 06:26] wolfcreative commented on #19378
@ankar84 Unfortunately, this is not the first time we have observed the irresponsibility of developers. When you need to fix bugs, they introduce new functionality.

And what passions were boiling about push notifications on the forum, and how they evaded the answer - it is impossible to convey in words.

_Я аж английский свой подтянул пока в пикировках с ними был_

[2021-01-15 06:46] ankar84 commented on #19378
@rodrigok @engelgabriel hello!
Please take a look at that issue and whole situation.
Issue with two fixes but no attention from team.

[2021-01-15 07:03] wreiske commented on #20056
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/14820

[2021-01-15 07:08] wreiske commented on #20197
I was sad to see this regression :(.

[2021-01-15 07:13] mosesdd commented on #18398
I can not confirm this, still the same problem for me with 3.9.4

[2021-01-15 07:30] HariAcidReign commented on #20056
@wreiske Thanks for pointing it out, but the problem still exists right? Wouldn't this PR fix it? I'll close this issue soon

[2021-01-15 07:33] wreiske commented on #20056
This pr is just masking the problem with the shields not displaying correctly in the documentation.  The underlying problem with the shields not working correctly is still an issue and fixing that would also fix this issue.

E.g. If you can resolve the duplicate issue linked above, this issue would no longer exist.

[2021-01-15 08:12] baltazorbest commented on #19110
Hello. Any news about fix?

[2021-01-15 08:18] ankar84 commented on #20144
Looks like now mobile behave like web https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2686

[2021-01-15 08:19] rusty1281 commented on #19110
True, but the regular quote is still not presenting itself.

[2021-01-15 08:30] #20211 closed

[2021-01-15 08:31] StefanGan commented on #20211
closed you may disable the permission "View Outside Room" to get this

[2021-01-15 08:42] HariAcidReign commented on #20056
Understood. But there seem to be some hiccups in resolving that issue, and this PR would solve the issue for now. I'll close this issue now, but let the PR be.

[2021-01-15 08:42] #20056 closed

[2021-01-15 09:51] danel1 commented on #20166
Sounds like #19364 - ping @ggazzo

[2021-01-15 10:37] amirhmoradi commented on #17124
We are facing this issue , and it is really a huge pain. Please update.

[2021-01-15 11:13] ChrissW-R1 opened #20214 "TOTP don't work anymore"
### Description:

If a user has activated TOTP as 2FA, login will not work since update to 3.10.x

### Steps to reproduce:

1. Activate TOTP as 2FA for a user
2. Logoff
3. Update Rocket.Chat to 3.10.x
4. Try to login with this user

### Expected behavior:

The user will ask for the 2FA code.

### Actual behavior:

Rocket.Chat reject the login, with the following error message:
![image](https://use

[2021-01-15 12:34] adolfombarros commented on #9611
we look forward to this feature

[2021-01-15 13:05] xi67 commented on #19877
Same here. Have to close notification multiple times and the push limit is not reached (2000/10000)

[2021-01-15 13:33] DerNoob24 opened #20215 "How to save a zipFile"
I have writen a little Rust Webserver that shows me a HTML file where I can upload a zipFile.
To upload it I send a HTTP-Post Request back to my server where i want to save it locally.
With this code i can save a normal txt file (with headers but that doesn't matter)
`#[post("/", data = "<data>")]
fn upload(data: Data) -> Result<String, Debug<io::Error>>{
    data.stream_to_file("../../testupload/

[2021-01-15 13:33] #20215 closed

[2021-01-15 15:07] nooblag commented on #19649
Issue persists in 3.10.3.

[2021-01-15 15:07] nooblag commented on #19268
Issue persists in 3.10.3.

[2021-01-15 15:09] nooblag commented on #19021
Issue persists in 3.10.3.

[2021-01-15 15:25] d3hof commented on #20168
So i realised it was an issue related to our hosting. I am closing this for now.

fyi it actually sends the notification to all devices, I tested it. You get the notifications on your desktop even if your absent as well as the push notification.

[2021-01-15 15:25] #20168 closed

[2021-01-15 18:08] adrianovieira commented on #14504
We also just get this error here.

Trying to upgrade from rktc-3.3.0 to 3.10.4

logging: <Details>
[code]
</details>

I appears that all migrations has been applied:

<details>

[code]
</details>
</Details>

[2021-01-15 18:13] adrianovieira commented on #17045
We also just get this error here.

Trying to upgrade from rktc-3.3.0 to 3.10.4

logging: <details>
[code]
</details>

I appears that all migrations has been applied:

<details>

[code]
</details>

[2021-01-15 18:59] adrianovieira opened #20217 "BulkWriteError: E11000 duplicate key error collection: rocketchat.rocketchat_room index: _id_ dup key"
### Description:

What did we do so far... upgraded server from v3.3.0 to v3.10.4

And after the upgrade process this happened during the first start up of the rocketchat server .

### Steps to reproduce:

1. upgrade 3.3.0 to the newest version (e.g.: 3.10.4)
2. start the server after the upgrade process
3. take a look on logging

### Expected behavior:

None logging error
### Actual behavior:
[co

[2021-01-15 19:13] williamjamir opened #20218 "Code markdown is not showing syntax highlight"
### Description:

Code markdown is not showing syntax highlight

### Steps to reproduce:

Type a code markdown, informing the language

![image](https://user-images.githubusercontent.com/5083518/104768545-a27a7f00-574c-11eb-8e8d-921c1e9aa318.png)

### Expected behavior:

The code with syntax highlight for python, without showing the language name

### Actual behavior:

![image](https://user-images

[2021-01-15 19:35] Darshilp326 opened #20219 "[BUG] No success message after saving Notification Preferences in room."
### Description:
After saving notification preferences from contexual bar no success message is displayed.

### Steps to reproduce:

1. Select any room
2. From contexual bar select notification preferences.
3. Toggle any option.

### Expected behavior:
Success message should be displayed on screen.

### Actual behavior:

No success message is displayed on screen.

https://user-images.githubusercon

[2021-01-15 20:29] wreiske commented on #20151
![jYcGngxMTv](https://user-images.githubusercontent.com/6295044/104775498-a64ed700-5735-11eb-89f2-7d66450e3721.gif)

Seeing the same behavior. Glad to see there's already an issue open for it.

[2021-01-16 00:42] ggazzo commented on #20197
Sure, I think it will be a little hard, but still feel free to try

Btw this is temporary only, we have plans to put this feature back soon as possible

[2021-01-16 03:38] dunn commented on #19550
AFAIK https://artifacthub.io/ is the official replacement for hub.helm.sh

[2021-01-16 04:27] ggazzo commented on #19377
I believe we fixed that long time ago , please reopen if not

[2021-01-16 04:27] #19377 closed

[2021-01-16 04:38] TarunTomar122 commented on #20144
Yeah right so I should probably close this issue and find some other one to work on :(

[2021-01-16 04:38] #20144 closed

[2021-01-16 04:47] ggazzo commented on #20194
closed by: https://github.com/RocketChat/Rocket.Chat/pull/20180. this bug was never released, only on development

[2021-01-16 04:47] #20194 closed

[2021-01-16 04:57] ggazzo commented on #19868
closed by https://github.com/RocketChat/Rocket.Chat/pull/19945

[2021-01-16 04:57] #19868 closed

[2021-01-16 05:38] mr-karan commented on #19027
Why is this closed? It's happening on 3.10.0 as well which is the latest on Docker Hub.

[2021-01-16 06:27] Darshilp326 commented on #20194
@ggazzo Okay:)

[2021-01-16 06:33] hibobmaster opened #20223 "Add LibreTranslate-Free and Open Source Machine Translation API"
https://github.com/argosopentech/argos-translate
It is good to add this translate service rather than google/microsoft translation that cost a lot.

[2021-01-16 06:33] #20223 closed

[2021-01-16 07:31] aKn1ghtOut commented on #20111
I do agree with the suggestion. The tooltips are redundant.

[2021-01-16 09:44] Mahla-ch opened #20224 "scaling"

[2021-01-16 09:44] #20224 closed

[2021-01-16 11:26] HariAcidReign commented on #20111
Awesome! Working on it

[2021-01-16 13:04] im-adithya opened #20226 "Old logo in mailer"
### Description:

### Steps to reproduce:

Any prompt involving the mailer like reset password or new account creation

### Expected behavior:

The new logo must appear in the mailer's header.

### Actual behavior:

![old logo](https://user-images.githubusercontent.com/64399555/104812600-56e9d300-5829-11eb-9cb3-70fce2e99736.jpg)

### Server Setup Information:

- Version of Rocket.Chat Server: NA
-

[2021-01-16 13:05] im-adithya commented on #20226
@Sing-Li I would like to work on this.

[2021-01-16 13:45] im-adithya opened #20227 "[BUG] See Full Profile doesn't switch"
### Description:

On clicking other user's "See Full Profile" it doesn't switch to the other user's profile but instead collapses the profile of the previous user.

### Steps to reproduce:

1. Go to any channel.
2. Click on any username and open full profile.
3. Now click on any other username and do the same.

### Expected behavior:

The other user's profile must be visible.

### Actual behavior:

[2021-01-16 13:51] Karting06 commented on #20218
It's linked to this issue: https://github.com/RocketChat/Rocket.Chat/issues/19933

[2021-01-16 16:48] SteveScott commented on #2869
I actually DON'T want an audit trail. So if the TB is encrypted and I don't use Enterprise version the messages are private?

[2021-01-16 16:55] Darkestlyrics commented on #2869
@SteveScott, whilst you may not want it, there are companies that do REQUIRE message logging of employees.
 But not wanting audit trails is a bit strange.  I'm all for bants at work, but remember, it is work.

Also before this thread gets a load of people coming off the WhatsApp security trend, if YOU do not host it, YOU do not own the data, simple.

[2021-01-16 16:58] hans4rc commented on #20166
In the meantime we made an update to 3.10.4 and successfully tested it there.

[2021-01-16 17:41] SteveScott commented on #2869
@Darkestlyrics this isn't for work this is for my friends.

[2021-01-16 17:52] Darkestlyrics commented on #2869
@SteveScott

I do not want to detract from the development done by the devs. They are trying to cater for a wide audience of people. I enjoy privacy, and if you search up I was one of the first to find issue with this.

However, if you do not like a technology or a project. Don't use it, but don't slam it, that's a dick move.

There are other FOOS you could adopt, if you looked around.

[2021-01-16 18:01] bbrendon commented on #2869
Take your chit chat to the forums. People have work to do.

[2021-01-16 18:21] Darshilp326 opened #20231 "[BUG] Room avatar is not aligned properly in room info."
### Description:
Room avatar is not aligned properly in room info.

### Steps to reproduce:

1. Administration
2. Rooms
3. Select any room

### Expected behavior:
Room avatar should be centered

### Actual behavior:
Room avatar is left aligned.

https://user-images.githubusercontent.com/55157259/104819703-3b94bd00-5855-11eb-9e5d-f265b917a6f8.mp4

### Server Setup Information:

- Version of Rocket.

[2021-01-16 18:48] bubelnyk opened #20233 "grey empty window"
![image](https://user-images.githubusercontent.com/22681145/104820168-d1bbe980-583b-11eb-8fe9-ffe729c84d5a.png)
menu can be shown but doesn't work anything exepting "quit "
![image](https://user-images.githubusercontent.com/22681145/104820185-e304f600-583b-11eb-952a-af9193b33eaf.png)

[2021-01-16 18:48] #20233 closed

[2021-01-16 19:33] sadiesocio opened #20236 "No one can change profile settings."
### Description:
### BUG 1
No one can change profile settings, this prompt appears even when all correct passwords have been typed in. This issue can be solved for some people by using incognito.

### Steps to reproduce:

1. Go to profile settings.
2. Change a setting.
3. Error is produced.
![1](https://user-images.githubusercontent.com/33590053/104820747-dce72900-57eb-11eb-984e-038e4702fe62.jpeg)

[2021-01-16 20:03] aKn1ghtOut commented on #20236
I could not reproduce the bug you mentioned on the web client. Could you mention what client you're using as well and on what platform.

[2021-01-16 22:28] sadiesocio commented on #20236
Hello,
Thank you for your quick response. We are using the web client via Firefox and Brave browsers. As for the platform, we are using and running xubuntu 20.04 and Windows 10. I've looked into it more detailed, and have noticed the issues have more to do with making changes that require the user's password.
![1](https://user-images.githubusercontent.com/33590053/104824455-994de880-5806-11eb-8608

[2021-01-17 02:45] carmenanotaai commented on #20236
Hi! I have this same problem when I want to edit the profile settings. However I found that deleting the password and trying to save it again works normally.

[2021-01-17 05:23] akshun-j commented on #19604
same issue on 3.10.0

[2021-01-17 09:01] Darshilp326 commented on #20236
Same!

[2021-01-17 09:59] aKn1ghtOut commented on #19686
This is kind of an opinion thing, I guess. If you think this is the way to go, I can start a PR for this @sampaiodiego @ggazzo

[2021-01-17 13:02] aKn1ghtOut commented on #19675
@Gummikavalier could you please provide a screenshot of where it is present in the profile settings for you. That would help a lot.

[2021-01-17 13:59] calra123 opened #20239 "Threads and Discussion have white background in Dark mode."
### Description:

Threads and Discussions have a white background in Dark mode.

### Steps to reproduce:

1. On website version, click on the "moon" like icon on top left to Open Dark mode.
2. Click on Threads icon on the top right
3. The threads dialog will open with white background.

### Expected behavior:
In Dark mode, the Threads and Discussions dialog should have a Dark background. Similar t

[2021-01-17 15:07] VickoF opened #20240 "Integration telegram and LiveChat (Omnichannel RocketChat) not working"
Hi guys,

I´m trying to integrate telegram messenger to rocket chat livechat.
I´ve searched the documentation and the forum and other resources, but was unable to find any information for integration telegram and livechat RocketChat.

**What was done:**

registration in cloud rocket chat
installing the telegram application from the rocket chat store
registering a bot in a telegram, receiving a tok

[2021-01-17 15:07] #20240 closed

[2021-01-17 15:25] VickoF opened #20241 "Integration telegram and LiveChat (Omnichannel RocketChat) not working"
### Description:
I´m trying to integrate telegram messenger to rocket chat livechat.
I´ve searched the documentation and the forum and other resources, but was unable to find any information for integration telegram and livechat RocketChat.

### Steps to reproduce:

1. registration in cloud rocket chat and connect it
2. installing the telegram application from the rocket chat store
3. registering

[2021-01-17 19:16] OmGuptaIND commented on #20130
@mmgoilf I would like to work on this problem, it is still open?

[2021-01-17 19:41] csimpi opened #20242 "error adding symbols: file in wrong format"
### Description:

Hi! I use the manual installation method described here:
https://docs.rocket.chat/installation/manual-installation/ubuntu

For some reason the `npm-rebuild.js` fails with an error:

[code]

### Steps to reproduce:

1. Get a clean Linux Ubuntu environment on Raspberry Pi 4 (8GB)
2. Follow the steps https://docs.rocket.chat/installation/manual-installation/ubuntu until `cd /tmp/bun

[2021-01-17 19:55] aKn1ghtOut commented on #20239
I don't believe a default dark mode is bundled yet with Rocket.chat. The good folks over at blender.chat would probably have to add additional css for the tabs to change the colors there.
If the administrators of the chat board believe this is a bug in Rocket.Chat, we could investigate further.
Right, @ggazzo @dougfabris ?

[2021-01-17 20:01] JapneetSingh5 commented on #20239
I'll love to work on this!

[2021-01-18 03:12] Ashray123 commented on #7734
I want to work on this issue.

[2021-01-18 06:12] ankar84 commented on #20239
Look like that issue for that repo https://github.com/pbaity/rocketchat-dark-mode/issues

[2021-01-18 06:26] ankar84 commented on #19259
Still an issue in 3.10.0
![image](https://user-images.githubusercontent.com/4023037/104879554-257b1f80-596f-11eb-8518-f54c4269e359.png)
![image](https://user-images.githubusercontent.com/4023037/104879574-2ca22d80-596f-11eb-9b73-2f01e4424def.png)
And long status message is cutoff
![image](https://user-images.githubusercontent.com/4023037/104879623-43488480-596f-11eb-8701-14404180c046.png)

[2021-01-18 06:32] ankar84 commented on #18953
Same in 3.10.0
![image](https://user-images.githubusercontent.com/4023037/104880089-08931c00-5970-11eb-80c7-eb10bcaa62e9.png)
![image](https://user-images.githubusercontent.com/4023037/104880113-1183ed80-5970-11eb-905b-8a9a3e665886.png)

[2021-01-18 06:39] Gummikavalier commented on #19675
@aKn1ghtOut Yes, it is shown like this under personal settings

![Screenshot from 2021-01-18 08-32-34](https://user-images.githubusercontent.com/6958942/104880264-e85f5f00-5967-11eb-8175-1c4e2daea5c9.png)

When I click that setting it shows a scrollbox with only one setting for the existing hide room option. This is with account that had hide room confirmation messages disabled. With a new account

[2021-01-18 08:23] Kulfadir commented on #20204
Unfortunately not for me.

When i reload the page in the Browser (Strg+R), sometimes it happens sometimes not.

[2021-01-18 11:15] pjsft commented on #20074
We also. 3.10.4.
Overall, version 3.10. * introduced a lot of bugs.

[2021-01-18 12:23] nooblag opened #20247 "Time and Date format not respected in Message Info panel"
### Description:
When clicking on (i) info panel for a message, the time and date format remains in United States format, not localised settings.

### Steps to reproduce:

1. Click on : menu for message
2. Select Info

### Expected behavior:
Info panel dates and times should reflect settings set in Administration -> Message:

![Captur2](https://user-images.githubusercontent.com/1122344/104915036-2

[2021-01-18 12:26] nooblag opened #20248 "Regression of 19053: User Info shows email 'Not Verified' when it actually is verified"
### Description:
Regression of #19052 in RC 3.10.3.

In Administration -> Users, in User Info panel, it is shown that user email address is 'not verified' when it is known for certain that the user's email address IS verified.

### Steps to reproduce:

1. Open Administration -> Users
2. Select a user with a known verified email address
3. User Info panel displays email address 'not verified'

###

[2021-01-18 12:26] #20248 closed

[2021-01-18 12:28] nooblag opened #20249 "Regression of 19052: User Info shows email 'Not Verified' when it actually is verified"
### Description:

Regression of #19053 in RC 3.10.3.

In Administration -> Users, in User Info panel, it is shown that user email address is 'not verified' when it is known for certain that the user's email address IS verified.

### Steps to reproduce:

1. Open Administration -> Users
2. Select a user with a known verified email address
3. User Info panel displays email address 'not verified'

###

[2021-01-18 13:07] adrianovieira commented on #19964
This error also happens here for server version 3.10.4

![image](https://user-images.githubusercontent.com/5561794/104919348-ddf79200-5974-11eb-912a-8b679ad18be6.png)

[2021-01-18 13:09] dlecan opened #20251 "Unable to reset the list `AllowedDomainsList` to allow all domains for the livechat"
### Description:

I used to use the livechat for a specific list of allowed domains.
Now, I want to allow all domains, so the list `AllowedDomainsList` is now empty.
But the `content-security-policy` is wrong for most of the domains: these not included in the previous list).

### Steps to reproduce:

- Configure a first list of domains in `AllowedDomainsList`: `a.com`
- Check the CSP header for th

[2021-01-18 13:21] Darshilp326 commented on #20138
@yash-rajpal Found any setting for this issue?

[2021-01-18 13:23] ebbo-k opened #20252 "custom emoji with equal name delete build in emoji"
### Description:

if you create a custom emoji with the name of a build in emoji, and delete it. the build in emoji and the custom emoji is dropped from the system.

### Steps to reproduce:

1. create a custom emoji "parrot"
2. use custom emoji "parrot"
3. delete custom emoji "parrot"

### Expected behavior:

The custom emoji "parrot" ist dropped

### Actual behavior:

The custom emoji "parrot" an

[2021-01-18 13:29] dlecan commented on #20251
Sorry, the bug report was sent too early. It is now updated with the correct information.

[2021-01-18 13:47] Schluggi commented on #17766
This bug still exists in Version 3.10.0.

[2021-01-18 15:19] ebbo-k commented on #20252
Problem was solved with a restart from the desktop app.

[2021-01-18 15:19] #20252 closed

[2021-01-18 15:44] kingdsand commented on #20251
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated har-validator@5.1.5: this library is no longer supported

`linux-x64-72-glibc` exists; testing
Binary is fine; exiting
npm WARN lifecycle meteor-dev-bundle@~install: cannot run in wd meteor-dev-bundle@ node npm-rebuild.js (wd=/tmp/bundle/programs/server)
added 146

[2021-01-18 15:52] chaperonRose opened #20254 "Embedded layout : formatting bar doesn't appear"
Hello,

### Description:

In Embedded Layout, the formatting bar doesn't appear under the message box.
Is that a choice or a bug ? I don't see any information about that in https://docs.rocket.chat/guides/developer/embedded-layout

**Embedded layout capture :**
![rocket_embbed_layout](https://user-images.githubusercontent.com/73117999/104936701-2cc11e00-59ad-11eb-9687-b4fbd333626a.png)

**Normal l

[2021-01-18 16:15] chaperonRose commented on #20074
Same problem in 3.10.4
For the user who asks for OTR, the process loops and fire timeout messages regularly. To stop it, the only way seems to refresh the page.
For the other user, nothing happens.

[2021-01-18 17:36] notatallshaw commented on #20153
I see this issue frequently as well, I asked out Admins and we are currently on version 3.5.3.

[2021-01-18 17:44] csimpi opened #20256 "Cannot start server with an unknown storage engine: mmapv1."
### Description:
 I followed the instructions here:
https://docs.rocket.chat/installation/manual-installation/ubuntu

The doc says I have to use mmapv1 storage engine in order to use rocket chat.

### Steps to reproduce:

1. Follow these steps: https://docs.rocket.chat/installation/manual-installation/ubuntu
2. sudo systemctl status rocketchat - Failed
3. cat /var/log/mongodb/mongod.log
4.  you sh

[2021-01-18 18:03] aKn1ghtOut commented on #20254
Could add a PR if warranted. What does the Rocket.Chat team think? @dougfabris @ggazzo @engelgabriel

[2021-01-18 18:07] aKn1ghtOut commented on #19675
I could track down what changed and add the checkboxes back if that's a bug and not a conscious decision the team made to remove that feature.
What do you think should be done @ggazzo

[2021-01-18 18:44] pierreozoux commented on #6174
Same issue with oauth, should I create another issue to track it specifically?

[2021-01-18 19:10] hans4rc commented on #20166
similar issues
#18751 and #18599

[2021-01-18 19:30] jazztickets commented on #20204
I get the same thing on 3.10.4, but also for direct messages and rooms. It also happens when you click the link in the notification email (the ones that say "You have been direct messaged by ______")

Seems to work fine in 3.7.4 though.

[2021-01-18 19:35] renatobecker commented on #20241
@murtaza98 can you please take a look at this case?

Thanks.

[2021-01-18 19:50] Darshilp326 commented on #20204
@Kulfadir Are you present in that private group of which the message link is shared?

[2021-01-18 20:27] RonLek opened #20258 "[BUG] Editing User with blank email doesn't raise an error"
### Description:

On making the email field blank in Edit User and clicking Save, no error is raised and the previously set value of the email remains set. This is in contrast to when adding a new user where blank emails are not allowed and an error is raised.

### Steps to reproduce:

1. Go to Administration -> Users.
2. Click on any User and click on Edit.
3. Clear out the prefilled email.
4. Hi

[2021-01-18 20:30] Kulfadir commented on #20204
Yes I am present in this group.
Both pictures above  are my account. I used the private group 'zeiterfassung* for testing.

[2021-01-19 02:14] PH-Bluechain commented on #19774
Resolved after help from @geekgonecrazy

[2021-01-19 02:38] StefanGan opened #20260 "When "View Outside Room" permission had change to false, the auto complete mention was not displayed on mobile (working on desktop)"
### Description:

Mention autocomplete which allows the user to see a list of users in the current channel after typing @... does not pop up the users list on mobile devices, it works fine for the same user on desktop app / native web browser. (When "View Outside Room" permission is False.)

### Steps to reproduce:

1. Verify your user which does not have "View Outside Room" permission.
2. Join a

[2021-01-19 07:33] murtaza98 commented on #20241
Hey @VickoF

You have followed the correct steps. I'll need some more info to understand what's happening.

1. Are you setting the `Default Department Id or Name` setting within the app
2. Could you share the following setting - `Site Url` (Administration -> General -> Site url). Here I want to confirm that the url is `https`
    ![image](https://user-images.githubusercontent.com/34130764/10500192

[2021-01-19 07:37] murtaza98 commented on #20241
Just an FYI, To view the logs, goto App Page (Setting > Apps > Telegram). There click on menu item (3 vertical dots icon) and then select `View Logs`
The recent logs appear on the top and the important ones are `apiExecutor` and `executePostMessageSentHandler`. If any errors are throws by the app they would appear here

[2021-01-19 09:26] antunmod opened #20261 "Room Topic links not displayed properly"
In previous versions the room topic links written in `[name](link)` syntax would be displayed as a link with name `name`. Now all the topic text is displayed and the link is not clickable.

[2021-01-19 09:26] #20261 closed

[2021-01-19 09:34] hans4rc commented on #19225
Same in
Version 3.10.4
Apps Engine Version 1.21.0-alpha.4235
Database Migration 213

[2021-01-19 09:53] hans4rc commented on #20249
Same in 3.9.4 and 3.10.4

[2021-01-19 09:56] chaperonRose commented on #20151
Same behavior with 3.10.4 :

- no iteration by clicking on a reaction added by someone else (need to add it by typing the name of the emoji).
- no removal of a reaction by clicking on it.

[2021-01-19 10:23] bbrauns commented on #20256
Relevant docs: https://docs.mongodb.com/manual/core/storage-engines/
[code]

[2021-01-19 10:52] yankiokdemir opened #20262 "SSL Certificate Error"
Hello,

I am getting an SSL certificate error when I am trying to use the Rocket Chat Desktop App.

When I use same server address by entering it in browser, it is working and I could login.

But in Desktop app, after I type in my SecurID Card PIN, I get this 400 Bad Request SSL Certificate Error.

How can I solve this ?

Thank you

Yanki

[2021-01-19 10:52] #20262 closed

[2021-01-19 11:36] csimpi commented on #20256
@bbrauns  Thx, but I'm looking for answers from RocketChat's side since their documentation is wrong and broken.

[2021-01-19 12:26] VickoF commented on #20241
Hello @murtaza98 . Looked it, The Site url is present with the https protocol and with a closing slash at the end

[2021-01-19 12:33] VickoF commented on #20241
Yes, I found the logs. The fact of the matter is that there is nothing errors in the logs

[2021-01-19 13:45] dlecan commented on #20251
Solved by asking the Rocket.chat support to restart our instance

[2021-01-19 13:45] #20251 closed

[2021-01-19 14:26] mmgoilf commented on #20130
Yes, it's still open.

[2021-01-19 15:36] adrianovieira opened #20263 ""Error, too many requests. Please slow down" on channel's add user"
### Description:

Error trying to add user on a channel.
It appears on UI as you can see below.

### Steps to reproduce:

1.  open a channel
2.  Members
3.  Add users
4. Choose users field
5. fill it with letters of an user that doesn't exists
6. hit backspace

### Expected behavior:

None of that red banner be shown

### Actual behavior:

![Captura de tela de 2021-01-19 12-09-29](https://user-ima

[2021-01-19 16:30] adrianovieira commented on #20263
This error also happens if we copy and paste the username to search for and try to add.

[2021-01-19 17:22] #20227 closed

[2021-01-19 17:23] #20166 closed

[2021-01-19 17:28] #20219 closed

[2021-01-19 17:32] #20198 closed

[2021-01-19 17:37] #20145 closed

[2021-01-19 17:40] #20151 closed

[2021-01-19 17:42] #20079 closed

[2021-01-19 17:45] #19995 closed

[2021-01-19 18:20] #20231 closed

[2021-01-19 19:43] scratttt commented on #20256
@csimpi From RocketChat side: https://docs.rocket.chat/installation/manual-installation/mongo-versions

[2021-01-19 20:11] Darshilp326 commented on #20263
@dougfabris Any leads? The API rate-limit limit is getting reached.
![Uploading Screenshot from 2021-01-20 01-40-59.png…]()

[2021-01-19 20:12] aKn1ghtOut opened #20266 "[BUG] Quoted message messageLink doesn't work after changing room name"
### Description:

The messageLink generated for quoted  messages does not get updated on updating room name.

### Steps to reproduce:

1. Quote a message
2. The timestamp of the quoted message has the href which is supposed to link to the original message.
3. Change the room name.
4. The timestamp link does not work anymore.

### Expected behavior:

The links for the attached messages to be automa

[2021-01-19 20:13] Darshilp326 commented on #20263
@dougfabris Any lead? The API rate-limit limit is being reached.
![Screenshot from 2021-01-20 01-40-59](https://user-images.githubusercontent.com/55157259/105087659-d6450400-5ac0-11eb-8a6a-6f3c3618c8db.png)

[2021-01-19 20:19] dougfabris commented on #20263
@Darshilp326 Not yet. I'm going to find out

[2021-01-19 20:29] geekgonecrazy commented on #19774
Going to close this.  I think it was an issue with our login system that has now been resolved

[2021-01-19 20:29] #19774 closed

[2021-01-19 20:30] aKn1ghtOut commented on #20260
This issue is better suited for the Rocket.Chat.ReactNative repository as it appears the problem you're mentioning is only in the app.

[2021-01-20 01:57] Endareth opened #20268 "User/Channel mention markdown fails"
### Description:
When mentioning a user or channel within a message, the markdown fails to work for the object unless it's the end of line

### Steps to reproduce:
1. Start a message in any channel/dm
2. Send something like: "Test message to @username about something"

### Expected behavior:
Resultant message shows clickable and coloured display name for @username

### Actual behavior:
Resultant m

[2021-01-20 02:51] andylin2004 opened #20269 "White bar divider is not properly placed between profile pictures"
### Description:

### Steps to reproduce:

1.  Go create a new direct message with multiple people in them (create -> direct message)
2.  Press create.
3.  The issue will pop up with the profile picture bar over the "you have created a new direct message with"

### Expected behavior:

White divider lines are placed such that part of group chat members' profile picture "bleeds" through the line to

[2021-01-20 07:15] murtaza98 commented on #20241
Hey @VickoF I'm having trouble reproducing the issue you mentioned. I installed the Rocket.Chat server version `3.10.4` and installed the Telegram app there and it worked properly without any issue. Here is the recorded screenshot of the test. Could you verify if this is the correct process you are following

https://user-images.githubusercontent.com/34130764/105140079-37022a00-5b1d-11eb-8d87-f2b4

[2021-01-20 08:21] meomay503 commented on #16802
same issue in 3.9.3

[2021-01-20 08:24] meomay503 commented on #16802
This caused by the setting's keys are set to type number but not string.

[2021-01-20 08:37] NateScarlet opened #20270 "Room leader always displayed as offline"
### Description:

status of room leader on top always offline, never updated when actual status change.

### Steps to reproduce:

1. Create a room
2. Set other user as leader
3. Login other user
4. See leader status

### Expected behavior:

leader has correct status

### Actual behavior:

![image](https://user-images.githubusercontent.com/21083014/105148009-d8e53f00-5b3c-11eb-9fba-044adcab3660.png

[2021-01-20 08:55] Darshilp326 opened #20271 "[BUG]Custom sound success message not included in translations."
### Description:

### Steps to reproduce:

1. Administration
2. Custom Sounds
3. Add a new sound.

### Expected behavior:
Success message should be present in translations.

### Actual behavior:
Success message not present in translations.

https://user-images.githubusercontent.com/55157259/105150764-2c4e9180-5b2b-11eb-9714-2afeedcc9165.mp4

### Server Setup Information:

- Version of Rocket.Chat

[2021-01-20 09:04] NCDemonic opened #20273 "User cannot change password in profile"
Version	3.10.4
Version der Anwendungsumgebung	1.21.0-alpha.4235
Datenbankmigration	213
Datenbankmigrationsdatum	20. Januar 2021 09:42

Users cannot set a new password via the profile page (neither in the client nor in the browser).
After entering two idenitical new passwords there is always the error "invalid-password-password"

Tested with various different settings (enabled/disabled password pol

[2021-01-20 09:04] #20273 closed

[2021-01-20 09:18] NCDemonic opened #20274 "[BUG] User cannot change password via the profile page"
### Description:

Users cannot set a new password via the profile page (neither in the client nor in the browser).
After entering two idenitical new passwords there is always the error "invalid-password-password"

I tested the behaviour with various settings combinations (enabled/disabled password policy, allowed/disallowed different profile change settings)

### Steps to reproduce:

1. Use Broswe

[2021-01-20 09:34] hazhayder commented on #6899
Any update on this?

[2021-01-20 09:52] SLRover opened #20275 "Several users can't increase or reduce counter of emoji at the bottom of the message"
### Description:

When a user tries to append existing emoji at the bottom of the message, nothing happens. And when the user adds a new emoji, he can't remove it.

### Steps to reproduce:

1. Adding a new emoji at the bottom of the message
2. Trying to remove it
3. Trying to append emoji, which was added by another user

### Expected behavior:

Counter of emoji at the bottom of the message would

[2021-01-20 10:24] aKn1ghtOut opened #20276 "[BUG] Wrong name displayed in prompts with special characters on"
### Description:

The "Hide room" and "Leave Room" confirmation prompts use the "name" key from the room info. When the setting "
Allow Special Characters in Room Names" is enabled, the prompts show the normalized names instead of those that contain the special characters.

### Steps to reproduce:

1. Login as administrator
2. Go to Administration
3. Under "Layout", check "Allow Special Characters

[2021-01-20 10:34] aKn1ghtOut commented on #20275
Can you please try with the updated build. Should be solved by #20159

[2021-01-20 10:36] olafmertens commented on #19110
I can confirm the bug. quoting doesn't work in our private channels.

[2021-01-20 12:35] SLRover commented on #20275
Thank you! We updated our stage to dev build and it's works! Now we are waiting for the new release with this bugfix.

[2021-01-20 12:55] #20276 closed

[2021-01-20 13:18] Karreg commented on #10402
Any news about this issue? I'm pretty surprised security is not taken into account in 2021. http should not be blocking security increase?

[2021-01-20 13:21] bbrauns commented on #20074
Same here with `3.10.3`; The other user gets no request and the whole process results in a timeout.

[2021-01-20 13:32] aKn1ghtOut opened #20278 "[BUG] Wrong name in Room Info with special characters on"
### Description:

The Room Info panel shows the wrong name.
When the setting "Allow Special Characters in Room Names" is enabled, the panel show the normalized name instead of those that contain the special characters.

### Steps to reproduce:

1. Login as administrator
2. Go to Administration
3. Under "Layout", check "Allow Special Characters in Room Names"
4. Change the name of a room to "The Ro

[2021-01-20 13:48] berardin opened #20281 "API users.list can't query eppn"
### Description:

Since we have some integrations with Rocket.Chat, we do use the API to create, query and subscribe User of a System to the Rocket.Chat. We use the SAML authentication and we work with the eppn parameter.

### Steps to reproduce:

Before it was easy to search for a user in rocket chat with the eppn, since you could query the eppn with the API users.list.

api/v1/users.list?query={

[2021-01-20 13:56] zdumitru opened #20282 "No user roles displayed in the thread replies"
### Description:

### Steps to reproduce:

A user with special role, e.g. `Admin` that is displayed next to his username needs to do the following:
1. Go to any public or private channel or direct message
2. Find a message
3. Write a thread reply
4. Check that there is no role e.g. `Admin` displayed next to the username. --> a bug

In the regular messages, all user roles are displayed correctly.

[2021-01-20 14:13] pratyaksh123 opened #20283 "[BUG] Improper rendering of bio in UserCard"
### Description:

When you click on a user, while the user card is loading,` MarkdownText.js` renders [ Object Object ] in place of bio ( after a few sec then correct bio shows up ).
![Screenshot from 2021-01-20 17-07-56](https://user-images.githubusercontent.com/55044774/105186072-5453ea00-5b57-11eb-8cc8-3f55dcad1897.png)

### Steps to reproduce:

1.
2.
3.

### Expected behavior:
It should just s

[2021-01-20 14:28] pratyaksh123 commented on #20282
Hey, Can I work on this?

[2021-01-20 15:21] zdumitru commented on #20282
Sure

[2021-01-20 15:42] aKn1ghtOut commented on #20275
This can be safely closed @dougfabris @ggazzo

[2021-01-20 15:49] #20153 closed

[2021-01-20 15:53] #20150 closed

[2021-01-20 15:53] Darshilp326 commented on #20263
@dougfabris have you fixed this issue?

[2021-01-20 15:57] dougfabris commented on #20263
Not yet, do you have any guess? Please, send me a message on our open server!

[2021-01-20 15:58] dougfabris commented on #20275
@aKn1ghtOut Thank you mate!

[2021-01-20 15:58] #20275 closed

[2021-01-20 16:04] Darshilp326 commented on #20263
@dougfabris Your username?

[2021-01-20 16:08] dougfabris commented on #20263
@Darshilp326 The same

[2021-01-20 16:33] dmitriy-olhovsky commented on #19225
I confirm - we have the same problem.

Version 3.10.4
Apps Engine Version 1.21.0-alpha.4235
Database Migration 213

[2021-01-20 23:16] mariusiscoding opened #20288 "[Improve] REST API IP-Restriction"
Would be a nice feature and easy to implement and have a great impact of security.

[2021-01-20 23:16] #20288 closed

[2021-01-21 02:48] uni-infra opened #20289 ""show thread messages in the main thread" will be disabled in a few days."
### Description:

Enabled "show thread messages in the main thread". But the next day it will be invalid.

### Steps to reproduce:

1. Enabled "show thread messages in the main thread".
 Administration > Accounts > Default User Preferences > Show thread messages in the main thread

2. Thread messages are successfully displayed on the main thread.

3. The next day I notice that the thread message i

[2021-01-21 04:25] #20258 closed

[2021-01-21 04:27] #20271 closed

[2021-01-21 06:59] aditya-mitra commented on #20268
Hey @Endareth, thanks for raising this issue.

I tried to reproduce your issue.

**what I did**
- I mentioned the user in message body
- I sent the message by pressing enter key in the beginning, middle and end of the text message
- I also tried mutli-line mentions
- I tried this in both as an admin and normal user

![image](https://user-images.githubusercontent.com/55396651/105312434-ae01f600-5be

[2021-01-21 07:41] MonteroJR opened #20292 "Send files failed"
Good morning.
I am implementing rocket.chat in my company, but I am encountering an error. When I try to send a file, in a direct message or a room, it doesn't. The counter stays at 0%. Could you help me please. Thanks greetings.
![errorChat](https://user-images.githubusercontent.com/33041150/105318919-661fa680-5bc4-11eb-9b0f-445d355173d7.png)

[2021-01-21 07:41] #20292 closed

[2021-01-21 08:20] Endareth commented on #20268
Thanks for looking into this. Your attempts to reproduce are fine, seems likely that whatever is going wrong is a result of either config or user/channel data in our system. Most likely config, seems unlikely the same weirdness would be in both user and channel data. The issue has been happening for us for at least 4-5 months now, so it's not anything recent. I've included a screenshot of how it l

[2021-01-21 10:11] aKn1ghtOut commented on #20254
Just found an inconsistency in the embedded layout relating to this issue. The Room view messageBox does not have the formatting shortcuts but the thread messageBox has if a thread page is linked instead.
We should either allow it in Room view too or remove it from the thread too.
OR provide a setting that separately enables the toolbar in embedded views.

Embedded room:
![Room](https://user-image