[2021-03-03 08:52] ubivec92 opened #20974 "Automatic saving of files to a temporary folder"
Good day dear developers of the program. There is a question about the desktop version of your application, the version currently being used is 3.1.1. The question is of the following nature: when you receive a file in a message and when you try to open it by clicking on the file name, a browser window opens automatically to download the file through it. Please tell me if it is possible in the cur

[2021-03-03 08:52] #20974 closed

[2021-03-03 09:04] yash-rajpal commented on #20946
I feel the reason why this happens is the because of a dependency passed to useMemo which initiates jitsi calls. This dependency triggers useMemo function for no apparent reason according to me, due to which jitsi is reloaded or a new window appears.

If any of you are using Jitsi call in new window, a temporary work-around can be after initiating a jitsi call, close the video conferencing tab bar

[2021-03-03 09:08] ubivec92 opened #20975 "Automatic saving of files to a temporary folder"
Good day dear developers of the program. There is a question about the desktop version of your application, the version currently being used is 3.1.1. The question is of the following nature: when you receive a file in a message and when you try to open it by clicking on the file name, a browser window opens automatically to download the file through it. Please tell me if it is possible in the cur

[2021-03-03 09:08] #20975 closed

[2021-03-03 09:22] ankar84 commented on #20946
Confirm that workaround! Works for me!
Just close that panel in right
![image](https://user-images.githubusercontent.com/4023037/109783457-126c9800-7c1b-11eb-8e91-400a91ad24bb.png)

[2021-03-03 09:47] ankar84 commented on #20971
This issue should be fixed in 3.12 by https://github.com/RocketChat/Rocket.Chat/pull/20606

[2021-03-03 10:15] Donjeen opened #20976 "[Feature Request] Automatic opening of the attached file"
### Description:

Destktop application.

Right now if user gets a message with an attached file and clicks it, web browser opens, and file is automatically downloaded. Can you improve this behaviour? It would be great if file is downloaded without opening web browser and then automatically opened in default application for file's type. If web browser's "intermediation" is necessary, it's alright,

[2021-03-03 10:15] #20976 closed

[2021-03-03 10:21] Donjeen opened #20977 "[Feature Request] Automatic opening of the attached file"
<!>

### Description:

Destktop application.

Right now if user gets a message with an attached file and clicks it, web browser opens, and file is automatically downloaded. Can you improve this behaviour? It would be great if file is downloaded without opening web browser and then automatically opened in default application for file's type. If web browser's "intermediation" is necessary, it's alri

[2021-03-03 10:21] #20977 closed

[2021-03-03 10:25] micksharma commented on #8171
@marceloschmidt  Can I work on this issue ?

[2021-03-03 10:26] micksharma commented on #7734
@Sing-Li  Can I work on this issue ?

[2021-03-03 10:27] Donjeen opened #20978 "[Feature Request] Automatic opening of the attached file"
### Description:

Destktop application.

Right now if user gets a message with an attached file and clicks it, web browser opens, and file is automatically downloaded. Can you improve this behaviour? It would be great if file is automatically downloaded without opening web browser and then automatically opened in default application for file's type. If web browser's "intermediation" is necessary,

[2021-03-03 10:34] Jimitest0303 opened #20979 "After try to login user hangs forever with "Please wait" message"
User Email:- Jaimini.Kanhasoft@gmail.com

Please try to resolve soon

![image](https://user-images.githubusercontent.com/79974581/109793049-2c69a300-7c3a-11eb-824f-19b6dd357a68.png)

[2021-03-03 10:34] #20979 closed

[2021-03-03 10:37] HiveMindNet opened #20980 "So I sponsored, but can't get in or push benefit?"
Appreciate this is likely not the right place, but I'm not getting help elsewhere.

I sponsored rocket, particularly attracted by the push limit increase. However, when redirected from GitHub the URI is invalid. I contacted support but as I'm a 'sponsor' and not a paying customer I'm not getting help.

Here's what I get

<img width="456" alt="Screenshot 2021-03-01 at 23 30 40" src="https://user-im

[2021-03-03 10:37] #20980 closed

[2021-03-03 10:39] micksharma commented on #909
Can I work on this bug ?

[2021-03-03 10:40] HiveMindNet opened #20981 "Sponsored but unable to access cloud account or receive push increase benefit"
### Description:

Appreciate this is likely not the right place, but I'm not getting help elsewhere.

I sponsored rocket, particularly attracted by the push limit increase. However, when redirected from GitHub the URI is invalid. I contacted support but as I'm a 'sponsor' and not a paying customer I'm not getting help.

Here's what I get

<img width="456" alt="Screenshot 2021-03-01 at 23 30 40" sr

[2021-03-03 10:40] eloo commented on #20971
@ankar84
no this seems to be not fixed in 3.12 as we are running 3.12..

[2021-03-03 10:40] Jimitest0303 opened #20982 "Please wait message stuck while try to login"
Not able to login.

had tried many time uninstall and install new version again and again.

Username: -Jaimini.Kanhasoft@gmail.com

System windows

[2021-03-03 10:40] #20982 closed

[2021-03-03 10:42] Jimitest0303 commented on #20982
Steps to reproduce
Expected behavior
Actual behavior
Server Setup Information
Version of Rocket.Chat Server:- rocket chat 3.1.1

[2021-03-03 10:59] fdellwing commented on #20946
Another question, why is the panel even opening if "open in new window" ist active? It did not do that with 3.11.x.

[2021-03-03 11:05] Gummikavalier opened #20983 "Channel listing last entry is not visible"
### Description:

In RC 3.12.0, depending on the channel list view settings, some entries may get cut from the view or be only partly visible.

### Steps to reproduce:

1. Have lots of channels and contacts
2. Scroll to the bottom

### Expected behavior:

All entries are fully visible

### Actual behavior:

Last entry or part of it is missing.

![Screenshot from 2021-03-03 12-51-53](https://user-i

[2021-03-03 11:37] ankar84 commented on #6107
Users ask for it!

[2021-03-03 11:44] johanneshiry opened #20984 "Download path generation invalid in subdir"
### Description:

A valid upload file cannot be downloaded, because the download link provided differs from the actual upload link when Rocket.Chat runs in a subdir. Seems like RC is adding the already proxied subdir a second time for downloads.

Worked in pre 3.12 versions - started occuring with v3.12.0.

May be related to #20640, but can't figure out if the issue is the same or if there is just

[2021-03-03 11:47] ankar84 opened #20985 "[Bug] Room owner do not see all members in room's Members"
### Description:

Room owner don't see all of room members in Member List and because of that can't delete these "invisible" users

### Steps to reproduce:

1. Open Members in chat where you are owner
2. See not al users of chat

### Expected behavior:

Owner need to see all room users to be able manage membership of that room

### Actual behavior:

![image](https://user-images.githubusercontent.c

[2021-03-03 12:08] CyrilVanErsche commented on #17737
Any chance to re-open this issue?

How are we supposed to install free apps without having a rocket.chat cloud account ?

[2021-03-03 12:14] ankar84 commented on #20985
That is disabled users

[2021-03-03 12:14] #20985 closed

[2021-03-03 12:28] ankar84 commented on #20957
open server have that bug too
![image](https://user-images.githubusercontent.com/4023037/109805899-10173780-7c35-11eb-8015-bcc0d35322ba.png)
@ggazzo please take a look

[2021-03-03 12:29] aditya-mitra commented on #20281
@berardin Can you please point the previous code implementation?
I will try to resolve this issue. 🙂

[2021-03-03 13:01] aleadco commented on #20957
@ankar84 The two images shown at the beginning are in the web version

[2021-03-03 13:06] aditya-mitra commented on #20968
@sk044 This could be nice improvement!

I think you should raise this issue in [Rocket.Chat.Fuselage](https://github.com/RocketChat/Rocket.Chat.Fuselage) because the component that is being used is a `<Menu/>`. See [/client/views/room/Header/ToolBox/ToolBox.tsx#L82](https://github.com/RocketChat/Rocket.Chat/blob/develop/client/views/room/Header/ToolBox/ToolBox.tsx#L82).

You can also see the [Menu

[2021-03-03 13:11] aditya-mitra commented on #20984
@johanekhager Can you please point out in which recent version this was functional?

I will try to resolve it. :smiley:

[2021-03-03 13:14] ndarilek commented on #20982
Please don't randomly ping people. I have nothing to do with this other
than having filed some issues a long time ago. Pinging random people you
see in the issue history is rude.

[2021-03-03 13:21] NicoHaase commented on #17834
Could this be the same as https://github.com/RocketChat/Rocket.Chat/issues/20570?

[2021-03-03 13:38] johanneshiry commented on #20984
Thanks for the reply - I think it must have been 3.11.2

[2021-03-03 14:02] PapsOu commented on #8565
The issue is still present in version `3.12.0`

[2021-03-03 14:05] PapsOu commented on #14638
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/11214 ?

[2021-03-03 14:48] jorueda commented on #20963
rocketchatctl is a great command included in Rocket Chat that automates many things. You can install and update Rocket Chat with one command!

Here is the link about rockechatctl command: https://docs.rocket.chat/installation/manual-installation/rocketchatctl

My solution is not with docker, it is a manual install made with rocketchatctl.

After modifying the config file with engine: wiredTiger, y

[2021-03-03 14:57] fdellwing commented on #20963
Did you make sure that mongodb is starting correctly and running on localhost and default port?

[2021-03-03 16:05] sk044 commented on #20968
Thanks a lot . I'll do the above  surely . :)

[2021-03-03 16:20] spshar commented on #19682
This is offtopic.
Yes, the license has not changed, but the terms of service have changed. Everyone is interested in push notifications, but they are provided as part of other additional services and licenses. I thing the cost of a license for an on-premise server is very high, so this was an incentive to change the messenger.

[2021-03-03 16:23] Darshilp326 commented on #20983
@Gummikavalier Hello! Can you give more information/video?

[2021-03-03 16:41] cpra-lcoffe commented on #20374
Hello,

We updated from 3.11.0 to 3.12.0 today and firefox users were not able to login using oauth (with keycloak). It would exactly do what is described in this issue. Changing Login Style from redirect to popup solves the problem in the interim.

[2021-03-03 16:45] Gummikavalier commented on #20983
@Darshilp326 Regarding the issue? Generally there is no more into it than just scrolling down in channel list and contacts list.When you reach the last entry it gets cut more or less depending on your view settings. This happens because margin of that .eteste CSS element is outside of the visible area. The margin value without any custom CSS edits is -14px, so it looks like it gets under the logo.

[2021-03-03 17:00] mmgoilf opened #20989 "Multiple instances of Jitsi open when placing call"
### Description:
When placing Jitsi calls the window pops out multiple times (and when window pop out is disabled it also has appeared multiple times on the panel). Sometimes it opens 2 windows, sometimes it even opens up to about 5 or 6.

### Steps to reproduce:

1. Enable Jitsi under video conference
2. Enable always open in new window
3. Attempt to place calls with someone

### Expected behavio

[2021-03-03 17:09] Gummikavalier commented on #8565
Yeah, this is pretty longstanding. I'm closing this down in favor of that more official one. Thanks for spotting it! :+1:

[2021-03-03 17:09] #8565 closed

[2021-03-03 17:14] mmgoilf opened #20990 "Icons and images take a long time to load when first starting server, and files cannot be uploaded at first"
### Description:
When first starting the server, avatars, icons, and images take a while to load. Most noticeably the "#" and online/offline indicators. Additionally you are unable to upload files during this time period, sometimes for even longer periods of time than that.

### Steps to reproduce:

1. Start server

### Expected behavior:

Rocketchat instantly loads, as before

### Actual behavior

[2021-03-03 17:15] xmedeko commented on #8565
@Gummikavalier why closing the issue? The bug still persist.

[2021-03-03 17:27] mmgoilf opened #20991 "Impossible to be in a Jitsi call and also check other channels/DMs without enabling "always open in new window""
### Description:

If "always open in new window" is not enabled, then you are forced to remain in the DM/channel where you placed the call, making it so you can't go to other channels/DMs and check other messages.

### Steps to reproduce:

1. Enable jitsi
2. Place a call
3. Try to click on another channel or DM

### Expected behavior:

You are able to place calls and also check other channels and

[2021-03-03 17:29] AvivBenShoham commented on #20165
@dougfabris I'd like to work on this issue

[2021-03-03 17:44] AvivBenShoham commented on #20823
@leManu feel free to review my pull request

[2021-03-03 17:45] tsteiner commented on #20699
Update: this error seems to have gone away after I updated to NodeJS 12.21.0

[2021-03-03 17:53] AvivBenShoham commented on #20576
@nooblag I would like to work on this bug

[2021-03-03 19:58] sandrotanner commented on #12396
If I understand your issue correctly this was addressed in #799

[2021-03-03 20:05] fdellwing commented on #20989
Probally same issue as #20946

[2021-03-03 20:44] sandrotanner opened #20993 "Remove deactivated user from group."
### Description:

Deactivated users are no longer shown in the member list of a group, but when they are reactivated, they are automatically in this group again. see: #18711 https://github.com/RocketChat/Rocket.Chat/issues/18711#issuecomment-685894273
As far as I can see, there is no way to remove a deactivated user from a group. One might want to do this, if the content of the group is only meant

[2021-03-03 21:20] itsarectangle commented on #17426
Hi, i have the same problem.  How did you fix this?  Thanks

[2021-03-03 22:23] chubber147 commented on #20559
Hi there,
we have the same error in ubuntu installation version 3.11 and a docker installation  in latest version 3.12. Download of pfs is working though.

[2021-03-03 23:16] Vkat14 commented on #20659
@ggazzo

Can Rocket Chat team skip 3.11 for SNAP Installers and go straight to 3.12 ?

[2021-03-03 23:53] jthomaschewski opened #20994 "[3.12.0] Scrolling in channel list very sluggish in chromium"
### Description:

Scrolling in channel/chat list started to be very sluggish in chromium based browser (Chrome, Electron...) since 3.12.0.
Scrolling "down" is relatively smooth, scrolling "up" is very sluggish.
Problem gets worse when increasing zoom/scaling.

No issues in Firefox on same machine.

### Steps to reproduce:

1. Open RocketChat instance with many channels/chats in Chromium
2. Increas

[2021-03-04 00:43] itsarectangle commented on #18857
Did you ever get this fixed?  Still experiencing this error?  Thanks

[2021-03-04 00:53] vmcemin commented on #20568
Hi we have same problem, just as you described

[2021-03-04 01:45] nooblag commented on #20576
Great!

[2021-03-04 03:24] OKNoah opened #20995 "Administration section is frustratingly undescriptive"
The Administration area needs serious work. There is not description at all on what most settings do. They ask for user input values that often I can't even find with a search engine. The help menu doesn't seem to contain help with these either.

Some examples (of bad settings menus):

* Omnichannel - `Omnichannel enabled` us the first option. Not idea what this is. This contains a bunch of sectio

[2021-03-04 03:24] #20995 closed

[2021-03-04 03:25] OKNoah commented on #20995
Reopen

[2021-03-04 04:26] OKNoah opened #20996 "Missing descriptions of Administration menu options and their settings"
### Description:

There is almost no information describing what some admin settings do, but the ability to have descriptions clearly exists and is demonstrated on some areas within Administration. The options and fields that exist seem so improperly named that I can't find information about through search engines. And when it comes to 3rd party integrations, sometimes can't find the wanted detail

[2021-03-04 05:25] Darshilp326 commented on #18711
@sampaiodiego Hello! Would the correct response be Showing 2 Total 2?

[2021-03-04 05:34] teak421 commented on #20957
@ankar84 That looks like the bug over on the electron client.  Come to think of it, I don't remember it happening inside of the web version.  I will be on the look out for it.

[2021-03-04 05:56] ankar84 commented on #20991
Just don't tie yourself and **enable always open in new window** Jitsi option

[2021-03-04 06:59] iuryLandin opened #20997 "SAAS - Multitenancy"
Is there any way for chat to be a SAAS?

Like, create companies and insert your employees into them

[2021-03-04 06:59] #20997 closed

[2021-03-04 07:05] anyway111 commented on #20997
i think this is a good requirement, but why closed by Bot :(

[2021-03-04 07:12] yash-rajpal commented on #20997
@anyway111 The issue template was not followed by this issue, that's why it was closed by bot.

[2021-03-04 07:33] Gummikavalier commented on #8565
Because it is a duplicate of a later issue that devs have opened themselves: https://github.com/RocketChat/Rocket.Chat/issues/11214

Discussions regarding issues are best kept in there.

[2021-03-04 07:58] xmedeko commented on #8565
Ah, sorry, I have overlooked that. Thanks for the reply.

[2021-03-04 08:59] Noidart commented on #20746
Thank! The problem was solved with this instruction.

[2021-03-04 09:00] #20746 closed

[2021-03-04 10:09] voroyam opened #20999 "[v3.11.1] Slow loading of Channels: Up to 10 seconds. Safari browser."
### Description:

When I want to enter a channel it takes from 6-10 seconds until the channel loads.

### Steps to reproduce:

1. go to server url and login
2. click on a chat channel
3. wait for the channel to be opened

### Expected behavior:

channel is opened and I can see the contents

### Actual behavior:

nothing happens for 6-10 seconds

### Server Setup Information:

- Version of Rocket.C

[2021-03-04 10:13] adocampo commented on #20999
that was solved on 3.12.0, but beware, on that version there is a jitsi error making spawing jitsi windows every few seconds

[2021-03-04 10:23] devZer0 commented on #14145
hello, we are using rocketchat as part of the wechange project @ wechange.de / rocketchat.wechange.de  , which is a rocketchat instance with 10000+ users. we are a community inside wechange, using several projects/groups in wechange which have their counterpart in rocketchat instance

rocketchat is having severe acceptance problems in our community. people are using personal messengers or other te

[2021-03-04 10:42] corrigac commented on #20946
Same issue seen on Mac(Big Sur 11.2.2)  - Client  V3.0.7 , RC Server V3.12.0 and also on Windows client V 3.1.1 with the same backend.

[2021-03-04 10:52] adocampo commented on #20946
Let's hope the [bugfix](https://github.com/RocketChat/Rocket.Chat/pull/20973) release will be released ASAP, 3.11.0 and 3.12.0 bugs are very annoying and boss is getting mad with RC. IT team have been testing RC for a year and _precisely_ when we put it in production bugs began to spread...

[2021-03-04 11:07] ankar84 commented on #20999
It fixed in 3.12 by https://github.com/RocketChat/Rocket.Chat/pull/20860

[2021-03-04 11:15] redRolf opened #21001 "Searching for group members in private chanel causes an error "to-many-requests""
### Description:

When searching for members in a private group/channel after typing some letters to search for a group member the page blanks and an error message "to-many-requests" is displayed.

### Steps to reproduce:

1. Go to a private group/channel
![image](https://user-images.githubusercontent.com/42872307/109952764-7fe1fc80-7cdf-11eb-9e79-c14533dc4b8d.png)

2. Click on members:
![image](h

[2021-03-04 11:35] ITSonixcdGmbH commented on #7586
Crowd got TFA and the Passwords are still insecure. Crowd is capable of more than ansi passwords.
We consider switching to mattermost, because people are not allowed to use certain symbols and have to keep hair passwords simple. This makes Rocketchat a not very secure product in our eyes

[2021-03-04 11:35] shrinish123 opened #21002 "The Reactions option doesnt show who have reacted what emoji on the message"
### Description:

If we try to see the reactions on a particular message to check which users reacted what emoji, it just shows an empty modal

### Steps to reproduce:

1. Hover over any message
2. Click on the 3 dots option and then go to last option 'Reactions'
3. Click on Reactions

### Expected behavior:

The modal should actually show who have reacted

### Actual behavior:

![issue 3](https:/

[2021-03-04 12:08] dext0r commented on #20268
It seems that a whitespace character in the UTF8_Channel_Names_Validation setting causes the issue. See https://github.com/RocketChat/Rocket.Chat/issues/7488#issuecomment-624247512

[2021-03-04 12:52] Darshilp326 commented on #21002
@shrinish123 Hello! #20753 would fix the issue :smiley:

[2021-03-04 13:01] Darshilp326 commented on #21001
@dougfabris Should we increase debounce time?

[2021-03-04 13:08] shrinish123 commented on #21002
@Darshilp326 oh sorry ,didn't see that. Thanks for helping :)

[2021-03-04 13:18] miko007 commented on #20946
can @rodrigok or some other maintainer at least comment on this?

[2021-03-04 13:44] mmgoilf commented on #20991
That's fine and all, and that's what I do. But it would be better for it to work properly without that enabled, as well.

[2021-03-04 13:51] dougfabris commented on #21001
Please, let's try it!

[2021-03-04 14:52] leolage commented on #20568
Today I updated my rocket chat version to 3.12 but problem persists here. Nobody with the same problem? Only me and @vmcemin  ?

[2021-03-04 15:06] iraj465 commented on #19188
@sampaiodiego How I can see the oembed request log on the server side? Is there any Meteor logger or equivalent to check the headers for this request?

[2021-03-04 15:54] vmcemin commented on #20568
We upgrade to 3.12 and the problem persists @leolage. Our implementation is in AWS under Ubuntu 20.04 Nginx as a proxy, and with docker as the implementation method. We have activated S3 to save files.
I have noticed that if you right click on the link and select save as, the file is downloaded and it is possible to view it. In the same way, if you copy the link, and open it in a new tab, the imag

[2021-03-04 16:10] Darshilp326 commented on #21001
Onto it!

[2021-03-04 16:30] leolage commented on #20568
You are  right vmcemin. probably is a problem on url of attached file printed on system. I used GridFS, I tried to change to Filesystem storage and same problem continues ocorring, but in all choices, if I click to open link I can view the file.

[2021-03-04 17:00] sampaiodiego commented on #19188
these are the request
https://github.com/RocketChat/Rocket.Chat/blob/791002413f803765d4d6a8613b18ee0bc9d373a3/app/oembed/server/server.js#L98

[2021-03-04 20:13] tassoevan commented on #20946
@miko007 There is not so much to add beyond confirm that @yash-rajpal nailed the bug and the fix will land on 3.12.1. A rocketeer is working on keeping the unnecessary contextual bar closed. At the moment, there is no integration test I'm aware that is capable to catch this kind of error -- specially considering that Jitsi is integrated as a _service_ rather than a 3rd-party _library_ --, but @dam

[2021-03-04 20:51] yash-rajpal opened #21003 "Call Contextual bar remains open after starting the call"
### Description:
Start a jitsi call, the contextual bar should close after the call is started by pressing 'YES' on modal.

### Steps to reproduce:

1.  Go to any room
2.  Press on Call Icon
3.  Click Yes on modal to start call
4. Check contextual bar, it remains open

### Expected behavior:
Contextual bar should close automatically after call is started.

### Actual behavior:
Contextual bar doesn

[2021-03-04 21:56] #20946 closed

[2021-03-04 23:13] #21003 closed

[2021-03-05 08:28] Gummikavalier commented on #19082
Because this issue discusses effect of oplog method, I'll add this here.

Here is a weekly CPU graph of one server RC Vmware instance with SSD-disks, 8 cores and 38 GB memory. DB and 20 nodes on the same box. The server is mostly idling so there is no considerable load for actual use. I thought it gives some comparison to idle loads different versions and OpLog methods have.

![Screenshot from 202

[2021-03-05 08:46] OKNoah commented on #20996
So, before installing Jitsi on my server, I tried "8x8" Jitsi SaaS. There is no mention of an application secret, required in the settings. Does it mean the private key key that can be downloaded? What about the URL, 8x8.vc? Room prefix, suffix?

Moreover, user avatars don't work despite _some_ uploaded files working with the S3-compatible bucket.

Given that Rocket.Chat still uses SaaS services o

[2021-03-05 09:30] iraj465 commented on #19188
@sampaiodiego I was thinking of adding a separate setting for User Agent header that also takes into account the RocketChat version, say something like API_Embed_Rocket_UserAgent and not mess up the default API_Embed_UserAgent , but adding a separate setting in the admin settings is a big change. Can you please suggest some workaround?

[2021-03-05 09:48] tyz98 opened #21005 "Cannot Install an App in Marketplace"
I'm using Gitpod for developing, and the version of Rocket.Chat is 3.12.0-develop. When I try to install an app from market place, it throws an error as below:
![error dialog](https://user-images.githubusercontent.com/45393278/110097478-0c70e580-7dda-11eb-8a47-a0398ea6cea1.png)
I have connected to Rocket.Chat Cloud and are there some missing steps?

[2021-03-05 09:48] #21005 closed

[2021-03-05 10:00] OneTwoBarbecue opened #21006 "Permalinks not working"
### Description:

Permalinks to messages do not work as expected. When opening permalinks in browser an error occurs: "room not found" or "user not found" messages appear and Rocket.Chat shows topp of the correct room/user-channel.

Same behaviour when trying to open permalinks locally via http://local.ip.of.rocket.chat:3000/... so proxy-settings do not seem to cause the issue.

### Steps to repro

[2021-03-05 10:07] RonarPS commented on #16827
thanks a lot for those hints - upgrade has worked perfectly - after upgrading npm and nodejs and relinking the node vs. nodejs problematic. Now running on RC serer 3.12 :)

[2021-03-05 10:09] tyz98 opened #21007 "App Install Failed in Marketplace"
### Description:

### Steps to reproduce:

1.  Go to admin -> MarketPlace
2.  Click 'install' on any of the apps

### Expected behavior:
The app gets installed successfully.

### Actual behavior:
It throws an error as below:
![截屏2021-03-05 17 28 57](https://user-images.githubusercontent.com/45393278/110100098-fe709400-7ddc-11eb-96e0-f35c46bf188c.png)

### Server Setup Information:

- Version of Ro

[2021-03-05 10:24] marcusquinn opened #21008 "Error: "Edit username not allowed" when the usename hasn't changed"
### Description:

### Steps to reproduce:

This instance is setup to use LDAP authentication

Go to Edit and Save any User details.

### Expected behavior:

Edited details should be saved

### Actual behavior:

The error Error: "Edit username not allowed" shows:

![image](https://user-images.githubusercontent.com/6428977/110102271-7ff40200-7d9c-11eb-9a29-3d86be0793c5.png)

### Workaround

Administ

[2021-03-05 10:24] #21008 closed

[2021-03-05 10:44] flablog opened #21009 "gitlab WebHook messages are not displayed correctly"
### Description:

Hi

When using the current gitlab webhook, the messages are displayed truncated in rocket.chat in webbrowsers or desktop clients, but are displayed well on android and iOS apps.

This is on desktop (windows) or web (chrome, firerefox for windows and safari for ios):
![image](https://user-images.githubusercontent.com/870195/110103141-e3366200-7da5-11eb-881a-9fab29e69e8d.png)

This

[2021-03-05 12:24] marcusquinn opened #21011 ""Edit username not allowed" when the usename hasn't changed"
### Description:

"Edit username not allowed" when the usename hasn't changed

### Steps to reproduce:

1. This instance is setup to use LDAP authentication
2. Go to Edit and Save any User details - not the Username.

### Expected behavior:

Edited details should be saved, since the Username is NOT being changed.

### Actual behavior:

The error Error: "Edit username not allowed" shows:

![image](

[2021-03-05 12:24] #21011 closed

[2021-03-05 12:24] marcusquinn commented on #21008
Bad bot, trying again: https://github.com/RocketChat/Rocket.Chat/issues/21011

[2021-03-05 12:25] marcusquinn commented on #21011
Bot fail.

[2021-03-05 13:19] micksharma commented on #20996
I want to work on this bug.

[2021-03-05 13:40] qchn opened #21012 "Rocket.Chat fails to deliver messages after MongoDB changed it's primary server"
### Description:

Whenever the underlying MongoDB switches it's primary server, Rocket.Chat instantly fails to deliver messages, sent messages will be greyed out until the MongoDB middleware servers will get restarted. In the past, this wasn't a thing.

### Steps to reproduce:

1. reboot mongodb primary
2. After that, when you send a message to someone via Rocket.Chat, the message is greyed out an

[2021-03-05 13:40] #21012 closed

[2021-03-05 13:43] qchn opened #21013 "Rocket.Chat fails to deliver messages when MongoDB switches the primary"
### Description:

Whenever the underlying MongoDB switches it's primary server, Rocket.Chat instantly fails to deliver messages, sent messages will be greyed out until the MongoDB middleware servers will get restarted. In the past, this wasn't a thing.
Steps to reproduce:

### Steps to reproduce:
1.    reboot mongodb primary
2.    After that, when you send a message to someone via Rocket.Chat, the

[2021-03-05 14:38] pjsft commented on #21009
https://github.com/RocketChat/Rocket.Chat/pull/20606

The bug has already been reported multiple times. It has been fixed in version 3.12.

[2021-03-05 14:45] dougfabris commented on #20697
@Darshilp326 I had a discussion with our design team and we agreed that we can remove the follow button in this case. Are you able to help us with that?

[2021-03-05 15:25] flablog commented on #21009
Ok, we'll update the server.
Sorry I wasn't lookinf for the right terms and thought it was just with the gitlab hook.

Thanks !

[2021-03-05 15:25] #21009 closed

[2021-03-05 15:45] Darshilp326 commented on #20697
Yes working on it! :+1:

[2021-03-05 16:05] trialsin commented on #17144
Same here! Rocket 3.10.5 over snap

![image](https://user-images.githubusercontent.com/35371595/110140809-3e228600-7db3-11eb-9991-ee5bdf47f6f3.png)

![image](https://user-images.githubusercontent.com/35371595/110140840-467ac100-7db3-11eb-8807-307f8c32399f.png)

[2021-03-05 16:56] Gummikavalier opened #21017 "All interactive layout elements disappear permanently"
### Description:

In some specific situations all interactive elements disappear from the RC layout.

We haven't been able to deduce what actually causes this problem yet. It has happened twice to users so far with RC 3.12.0.

Similar issues happened with earlier versions since 3.9.0, but this happens immediately after the user has logged in which is particularly bad as user cannot even log out.

[2021-03-05 17:11] pierreozoux commented on #17733
@photoninger on the latest 3.11.1 there is a regression of this exact same bug, can you reopen?

[2021-03-05 17:12] pierreozoux commented on #18635
We'd like to at least be able to hide the email.

[2021-03-05 17:43] trialsin commented on #6529
After some years, same yet:

https://github.com/RocketChat/Rocket.Chat/issues/17144#issuecomment-791515009

[2021-03-05 18:14] micksharma commented on #20996
@OKNoah  in client Setup information side I am on windows ? Can I work on this issue.

[2021-03-05 20:06] izaacmenezes commented on #10977
Já vi aquele # 8517 e tentei sem sucesso. De qualquer forma, verifiquei novamente e identifiquei que quando copiei minha configuração SSL do nginx havia uma linha específica

add_header X-Frame-Options DENY;

@possebon
Qual caminho voce encontrou o arquivo do ssl pra apagar essa linha?

[2021-03-05 20:31] g-thome commented on #20906
Tried reproducing the error but it worked as expected. Is there anything being outputed in the logs?

[2021-03-05 20:43] g-thome commented on #20906
seems to be a duplicate of #20493

[2021-03-05 20:43] #20858 closed

[2021-03-05 21:01] #14523 closed

[2021-03-06 00:47] LeeThompson commented on #19066
Seeing a variation of this with 3.12.0 (MongoDBb 4.4.4 / wiredTiger with oplog Enabled; running in docker container).

1. I created a new channel
2. I uploaded an avatar
3. Avatar does not appear

If I go to change the avatar, the one I uploaded shows in the Info/Edit for the channel but _nowhere_ else.

![temp-markup](https://user-images.githubusercontent.com/1982261/110188961-6cfc2480-7dd2-11eb-

[2021-03-06 00:57] fabiiretro commented on #19917
not sure when and how, but it got fixed since opening this issue

[2021-03-06 00:57] #19917 closed

[2021-03-06 06:31] sketch242 opened #21022 "Completion shouldn't suggest users twice"
### Description:

@mention completion still generates duplicate suggestions on RC 3.12.0 in some situations.  If you you type their complete username in a @mention in a channel you are both in.  It doesn't happen if the user is not on the same channel, or if you don't type their complete username.

### Steps to reproduce:

1. Type the complete @username of a user you've conversed with recently whi

[2021-03-06 09:07] urosino commented on #21022
Besides that, the online status is ignored. It usually appears offline, even though the person is online or maybe away.

[2021-03-06 14:07] rasos opened #21023 "Allow to move message into thread"
Occasional users often do not answer in threads, but in the channel. Sometimes you get answers mixed in the channel and in the thread which makes following a thread difficult.

It would be great to be able to move selected messages to a thread (and maybe also to a discussion, see also #14016). This would require a separate permission, which could be given by default o all users, but may be restric

[2021-03-06 14:07] #21023 closed

[2021-03-06 14:19] acinonyxjubatus commented on #20926
The problem was the Id object must be a String, not an Int
`"id": Random().nextInt(Constants.int32MaxValue).toString(),`

[2021-03-06 14:19] #20926 closed

[2021-03-06 18:01] JustinTimperio commented on #20884
@robpedersendev This issues has been fixed for us by the latest release

[2021-03-07 03:44] aleadco commented on #20969
@ankar84 I have read the PR and I understand it perfectly. But there is an error associated with the push when the mobile device is not connected to the network.
Do the following test:
1 - Disconnect your mobile from the internet, turn off the Wi-Fi mobile data network.
2 - Access the web client and generate conversations with several users, expect to receive messages and make sure to read them fr

[2021-03-07 07:25] ABHAYJAIN2601 opened #21024 "Selecting avatar in user profile"
### Description:

When we select different avatar option in the profile section problem arise when we select the link option and go back to default or image option save changes works

https://user-images.githubusercontent.com/51324264/110232562-68f01400-7f44-11eb-8e66-47f298a33772.mp4

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

-

[2021-03-07 09:11] ABHAYJAIN2601 opened #21026 "User Preferences time format in message"
### Description:

### Steps to reproduce:

1. Change the format of your preference to 24 hr
2. you will still Quote message time in 12 hr format
### Expected behaviour:

All-time must be according to the user preferences of time format

### Actual behavior:

![time zone](https://user-images.githubusercontent.com/51324264/110234825-a52a7100-7f52-11eb-9f1f-e40b31251b5e.JPG)

### Server Setup Informa

[2021-03-07 09:12] #21026 closed

[2021-03-07 09:18] ABHAYJAIN2601 opened #21027 "Time format Preference by user for message"
### Description:

### Steps to reproduce:

1. Change the format of your preference to 24 hr
2. you will still Quote message time in 12 hr format
### Expected behaviour:

All-time must be according to the user preferences of time format

### Actual behavior:
Time format of quote message is still 12 hr

![time zone](https://user-images.githubusercontent.com/51324264/110234825-a52a7100-7f52-11eb-9f1f

[2021-03-07 09:18] #21027 closed

[2021-03-07 11:51] shrinish123 opened #21028 "The search message feature doesn't work sometimes maybe for specific words and also doesn't if complete word is not searched for"
### Description:

### Steps to reproduce:

1.Go To search messages option
2. Search for a message
3. Sometimes it works and sometimes not

### Expected behavior:

It should work always for all words and even if an entire word is not searched should work for matching letters

### Actual behavior:

1. Doesn't work for the word 'what'
![what ](https://user-images.githubusercontent.com/56491104/110238

[2021-03-07 12:07] micksharma commented on #21028
I am working on this.

[2021-03-07 12:46] endurance21 commented on #21022
i would like to work on this

[2021-03-07 13:33] ABHAYJAIN2601 opened #21029 "Searching setting in sidebar from admin account"
### Description:

It doesn't show the correct sequence according to the word that type in the search field

### Steps to reproduce:

1. Go to administration in sidebar option search for any setting in the search bar
2. you will see that it produce the wrong sequence.

### Expected behavior:

At least the first letter that matches any setting name need to come first

### Actual behavior:

![regrex]

[2021-03-07 22:31] albertosgz opened #21031 "Enable CORS in ui.interaction endpoint"
Hi @sampaiodiego ! I hope you can help me with this.

I have an issue implementing the UI Kit library.

I have an error calling to `api/apps/ui.interaction/c33fa1a6-68a7-491e-bf49-9d7b99671c48` endpoint:
[code]

I see I can add cors easily into the code:
https://github.com/RocketChat/Rocket.Chat/blob/e802fa59ce48fdee93a5ef56136b076acb213d87/app/apps/server/communication/uikit.js#L13
Whit this code

[2021-03-07 22:31] #21031 closed

[2021-03-07 22:37] albertosgz opened #21032 "Enable CORS in ui.interaction endpoint"
### Description:

Hi @sampaiodiego ! I hope you can help me with this.

I have an issue implementing the UI Kit library.

I have an error calling to `api/apps/ui.interaction/c33fa1a6-68a7-491e-bf49-9d7b99671c48` endpoint:
[code]

I see I can add cors easily into the code:
https://github.com/RocketChat/Rocket.Chat/blob/e802fa59ce48fdee93a5ef56136b076acb213d87/app/apps/server/communication/uikit.js#

[2021-03-07 22:37] #21032 closed

[2021-03-07 22:39] albertosgz opened #21033 "Enable CORS in ui.interaction endpoint"
### Description:

Hi @sampaiodiego ! I hope you can help me with this.

I have an issue implementing the UI Kit library.

I have an error calling to `api/apps/ui.interaction/c33fa1a6-68a7-491e-bf49-9d7b99671c48` endpoint:
[code]

I see I can add cors easily into the code:
https://github.com/RocketChat/Rocket.Chat/blob/e802fa59ce48fdee93a5ef56136b076acb213d87/app/apps/server/communication/uikit.js#

[2021-03-07 22:51] OKNoah commented on #20996
@micksharma This is in `Administration`. I'm on macOS.

[2021-03-08 04:08] anyway111 commented on #21013
i have same issues

[2021-03-08 06:58] fdellwing commented on #21013
You have some important info missing from your Server Setup block. How many instances of RC and Mongo are you running?

[2021-03-08 09:46] qchn commented on #21013
Sorry, copy-paste misfortune.
I have 8 middleware servers and 5 MongoDB nodes.

Best
Robert

[2021-03-08 10:52] AragonBTR opened #21035 "can't set livechat offlineSuccessMessage"
### Description:

I can't set a string for offlineSuccessMessage neither by admin backend nor RocketChat(function()

I'm setting a language (german) for the Livechat Widget API
RocketChat(function() {
    this.setLanguage('de');
    this.setTheme({
    offlineSuccessMessage: 'Ihre Nachricht wurde versendet',
    });

### Steps to reproduce:
I'm setting a language (german) for the Livechat Widget A

[2021-03-08 11:15] Cob0ld opened #21036 "Jitsi constant restart"
I hope you guys can help me with this. Since the last update to Rocketchat version 3.12.0 its impossible to use the Jitsi selfhosted video call in a direct chat. You will get spammed with window restarts like hell.

-->

### Description:

### Steps to reproduce:

1. Start a call in a direct chat

### Expected behavior:

having a stable call

### Actual behavior:

the video chat will be restarted e

[2021-03-08 12:38] antgel commented on #5667
@engelgabriel @rodrigok Hey, long time, hope all are well. This is going through milestones like a knife through hot butter. :laughing:  Do you think it will be implemented at any point?

[2021-03-08 13:09] lolimay commented on #21033
Hello, @albertosgz ! We provide this [slack compatible package](https://github.com/RocketChat/slack-compatibility-for-apps) for you guys to develop apps the slack way (a.k.a. access UIKit from outside Rocket.Chat)

[2021-03-08 13:51] sauravrajleaf commented on #20902
@ahtrahdis7 It's happening in Firefox web browser too but it's not occurring al the time.

[2021-03-08 14:00] endurance21 opened #21037 "Alert Box's overlap with background due to less background opacity"
### Description:

When we copy the invite link , we usually get a alert box on the top to acknowlege us saying  "Copied to clipboad ", the problem is when there is a banner or some other element just behind that alert box , the alert box seems transparent and the content on it seems mixed with content behind it.

### Steps to reproduce:

1. Go to any channel
2. Go to Members section
3. click on `I

[2021-03-08 14:02] endurance21 commented on #21037
as i was using live website , i was not able to retrieve the server info!

[2021-03-08 14:09] endurance21 commented on #21037
Also i would like to work on this

[2021-03-08 14:51] albertosgz commented on #21033
Thanks @lolimay . I am not sure if SCL is what I need, since is not migrating an app from Slack, nor having a channel among them (slack <-> RocketChat).

However, with that documentation I see I can declare custom endpoints. But I see 2 downsides:
- I need to implement the whole RC App, when I would like to reuse the [Poll command](https://docs.rocket.chat/guides/rocket-chat-apps/poll), which I th

[2021-03-08 15:06] lolimay commented on #21033
Regarding the point 1, yes, you still need write a little code to create a Rocket.Chat App to trigger UIKit actions since we don't allow apps/apis to trigger a UIKit (opening a modal for example) without users ' operations. So a UIKit action must be triggered by a user interaction (either by entering a slashcommand or by clicking a button etc.).

As for the point 2, CORS only works in the browser.

[2021-03-08 15:13] fdellwing commented on #21036
Duplicate of #20946

[2021-03-08 15:33] sennewood opened #21038 "Upload files are broken depending on the docker image"
### Description:

If you use the **rocketchat/rocket.chat:3.11.2** image, the upload files on the filesystem are not working at all. If you use **rocket.chat:3.11.2** from docker everythings works fine.

### Steps to reproduce:

1. Use rocketchat/rocket.chat:3.11.2
2. Start containers
3. View or upload an image

### Expected behavior:

An uploaded image should be shown or be uploaded.

### Actual

[2021-03-08 16:00] markgharvey commented on #20766
Also not able to render emoji by entering their label in RC channel topic description.

openSUSE Leap 15.2
Chomium ... Version 2020.11 (Iridium Build) (64-bit)
You're on Rocket.Chat 3.12.0, using Hubot 3.3.2.
Adapter version 2.0.0-development, using version 0.2.9 of the SDK.

[2021-03-08 16:01] yash-rajpal commented on #21036
This is fixed in latest 3.12.1 release and was fixed by #20973

[2021-03-08 16:19] albertosgz commented on #21033
Thanks for your reply @lolimay .

About point 1, yes, in my app the UIKit is trigger by the user with the request to `https://chat-test.ichair.org/api/v1/method.call/slashCommand`. Notice that for this endpoint, `.../api/v1/...`, the REST Configuration of this picture applies:
![image](https://user-images.githubusercontent.com/12124175/110347968-720adf00-8031-11eb-86d7-4254f4fd3cc0.png).
Instead,

[2021-03-08 16:21] lolimay commented on #21033
cc @d-gubert

[2021-03-08 16:30] photoninger commented on #20207
I have the same problem, even with the default google-turn/stun-servers.
rocket.chat: 3.10.6
The called user gets a pop-up message with "incoming call from undefined". Perhaps this is a hint where to search for the bug?
With rocket.chat 3.8.8 webrtc calls were working.
No hints in server logs or browser console.

[2021-03-08 18:58] Darshilp326 commented on #21029
@ABHAYJAIN2601 Hello! I dug into the issue and found out that our text searches for inner setting also but returns its parent setting name(Eg. If any setting is listed into accounts and you search for that it would return 'Accounts' instead of that inner setting)

[2021-03-08 19:06] Darshilp326 commented on #21028
@micksharma Any leads?

[2021-03-08 19:13] yash-rajpal commented on #21029
I agree with @Darshilp326 , this is not a bug but a feature. Lets say you are searching for setting `UI_Use_Real_Name` or `use real name` and you don't know where this setting is located, you can directly search for this setting and you will be shown `Layout` option as this setting is in Layout section.

I think this is a good thing to have to easily search desired settings and this issue can be s

[2021-03-08 19:14] micksharma commented on #21028
@Darshilp326 Today I submit pr.

[2021-03-08 19:30] ata-star commented on #503
news?

[2021-03-08 19:50] endurance21 commented on #21037
@Sing-Li can I raise a pr for this ?

[2021-03-08 19:51] ABHAYJAIN2601 commented on #21029
@Darshilp326  @yash-rajpal  thanks for looking into this Yeah! you guys are correct

[2021-03-08 19:51] #21029 closed

[2021-03-08 21:53] fabiiretro commented on #21038
check the permissions/owner of your upload folder. the docker hub and rocketchat image use different users for that.

uid 65533 for the github rocketchat vs user rocketchat in the docker hub image (this translated to user "nobody" in our environment as far as i remember)

[2021-03-08 23:50] Sing-Li commented on #21037
@endurance21   this is by design.  Thanks.

[2021-03-08 23:50] #21037 closed

[2021-03-09 02:04] dkoo761 opened #21039 "Email and push notifications randomly stop sending - requires server restart each time to fix"
### Description:

Email and push notifications randomly stop sending for no apparent reason. The notifications are inserted into the rocketchat `email_notifications_queue` collection in the DB but are never processed. No errors in the logs. Once these notifications stop sending, the only way to get them to send again is to restart the server. Upon restart, everything that was sitting in email_noti

[2021-03-09 02:52] ricardojlrufino commented on #20899
A have same error.
![image](https://user-images.githubusercontent.com/515675/110411360-30962600-8069-11eb-8b53-2588ff50a4ca.png)
Using: 3.10.4

This has happened to some users ...

[2021-03-09 02:54] ricardojlrufino commented on #20899
Similar error:
https://github.com/RocketChat/Rocket.Chat/issues/19062

[2021-03-09 05:19] #20932 closed

[2021-03-09 05:58] fdellwing commented on #21038
RC also has the ability to store uploads in the database (its easier to backup and restore imho).

[2021-03-09 06:16] Cancer-zern opened #21040 "Webhook is not working for the new line \n for RC 3.12.1"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System: 3.12.1
- Deployment Method: snap
- Number of Running Instances: 1
- DB Replicaset Oplog: Enabled
- NodeJS Version: v12.18.4
- MongoDB Version: 3.6.14

### Client Setup Information

- Desktop App or Browser Version: 3v

[2021-03-09 06:23] Cancer-zern commented on #21040
Script
for Slack it's working, for RC current version is broken

[code]

[2021-03-09 07:47] miko007 commented on #20946
@tassoevan well, i was shooting for more of an ETA of a possible bug fix release or something.

i really did not imply any unit or integration tests missing, i am aware that this can not be reasonably covered by them, but don't you just "user test" the app before a release? just trying all the major functions, clicking around and stuff?

as the bugfix release is out now, we will thoroughly test it

[2021-03-09 08:07] Cancer-zern commented on #21040
but RC app for android is showing fine/okay, the problem for web browser and desktop app.

[2021-03-09 09:47] pawadski commented on #13312
+1. We would appreciate this as well. A lot of messages that are not necessary are being logged.

[2021-03-09 10:08] Nono-m0le commented on #18086
This is still true with Snap version 3.12.1

[2021-03-09 10:28] ABHAYJAIN2601 opened #21041 "Making Discussion Channel to favourite"
### Description:

If user try  to add discussion channel to favourite It don't show any pop-up/message if user is not the part of that Discussion channel

### Steps to reproduce:

1. Try to add any Discussion channel to your favourite (that you are not part of it)

### Expected behavior:

At-least we can show any can of pop-up/message

### Actual behavior:

it's like kind of error why i can not ma

[2021-03-09 10:30] ABHAYJAIN2601 commented on #21041
I started looking into this issue. If you have any other idea please share it here!

[2021-03-09 10:44] Nono-m0le commented on #21038
It doesn't seems to be limited to docker image ...

We use the snap install, recently (auto) updated to 3.12.1 yesterday (already using GridFS) : Fileupload is also broken.

[2021-03-09 11:14] homberger commented on #16789
@bakaut: Did you find the cause of the error? I get this error every some minutes. The ldap server is perfectly reachable for other scripts and services.

[2021-03-09 11:21] andreybrasil commented on #20204
Fixed for me in version 3.12.1. snap deploy.

[2021-03-09 11:26] Gummikavalier commented on #20983
Linking here as related:
https://github.com/RocketChat/Rocket.Chat/pull/21014

[2021-03-09 11:26] ABHAYJAIN2601 commented on #21041
@dougfabris  Please review this !

[2021-03-09 12:19] minix-it commented on #21040
Hi there, i confirm all. Since 3.12.1 community edition,  \n in webhooks isnt honored in web and desktop app

[2021-03-09 12:36] Nono-m0le opened #21042 "File Upload using GridFS on Snap install 3.12.1 doesn't work anymore"
### Description:

- It's not possible to download file uploded BEFORE 3.12.1
- It's not possible to upload file since (auto) installation of 3.12.1

### Steps to reproduce:

1. try to upload a file by using drag-and-drop
2. Get 'error empty file'
3. Try to upload a file from the "+" then "From computer",
4. Got the file uploaded (at least, the progress bar) but the download link is wrong (at least

[2021-03-09 12:43] Gummikavalier opened #21043 "Oauth based users cannot delete their accounts"
### Description:

Users are requested to type in their username in their own account deletion dialog under the profile.

Account name is not accepted, and password is required instead.

Oauth / OpenID Connect and SAML based users cannot delete their accounts because the password is not provided as by design in these authentication and provisioning methods.

### Steps to reproduce:

1. Log in as no

[2021-03-09 14:39] sennewood commented on #21038
My point is: Everything works fine with the official docker image, but not with the image from the rocket.chat team. Beside this were no changes made.

I just wanted the devs to know, that the docker team fixed this issue and they should look what happend there :)

[2021-03-09 15:09] falkiy opened #21045 "WebDav [undefined] Error on Upload from NextCloud"
### Description:

[undefined] - Error on Upload from Nextcloud

### Steps to reproduce:

Enable webdav
Config Webdav
Check config, username password and URL
Choose File and try Upload to chat

### Expected behavior:

Upload File from Nextcloud-WebDav Location

### Actual behavior:

Mar 09 15:52:02  rocketchat[471]: Exception while invoking method ufsCreate TypeError: Cannot read property 'rid' of

[2021-03-09 15:47] ABHAYJAIN2601 commented on #20266
Are you working on it

[2021-03-09 15:50] aKn1ghtOut commented on #20266
I plan to, but you can give it a shot of you want to. No reserving topics in open source :)

[2021-03-09 15:54] ABHAYJAIN2601 commented on #20266
Okay i will try this !

[2021-03-09 15:55] tanc commented on #14792
Frustratingly still an issue. Is there any chance this can get looked at sooner than milestone 4.1?

My personal user story for this is:

As a rocket.chat user,
I want to remain part of channels but not be notified or have the channel indicator increment when `@all` or `@here` is used in channels
So that I can drop in and look at channel messages without thinking someone has notified me directly

[2021-03-09 16:47] jrgong420 commented on #20066
same issue here, on a fresh install
I was able to reproduce on chrome android and macOS

[2021-03-09 16:54] georgschoelly opened #21046 "Caddy does not support URLs with ports"
### Description:

Setting caddy-url to a URL with a port does not work.

### Steps to reproduce:

1. Try to set the caddy-url:

[code]

### Expected behavior:

The URL is accepted.

### Actual behavior:

Setting the URL fails with

[code]

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System: Ubuntu 18.03
- Deployment Method: snap
- Number of Running Instances: 1
- DB

[2021-03-09 16:58] IJSlater opened #21047 "Can't access certain DMs `TypeError: Cannot read property 'filter' of undefined`"
### Description:
Can't access certain DMs after snap auto update.
### Steps to reproduce:

upgrade to version 3.12.1.
click on DMs with any user that has an @ next to their name.

### Expected behavior:

Access DMs  for that user.

### Actual behavior:

Find a completely blank window.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.1
- Operating System: Debian 10
- Deployment

[2021-03-09 17:27] ABHAYJAIN2601 commented on #20266
I think we need to store room id instead of room name but to do this we need to change routing can cause lot of change may be action using room-name any other way you think

[2021-03-09 18:08] ABHAYJAIN2601 commented on #21041
Yeah! but if user get pop-up message to show it will look more better right?

[2021-03-09 18:23] siacali commented on #21047
I have the same issue.  Reproducible with Chrome, Edge, Firefox.  Oddly, the mobile (IOS) client appears to function properly...

[2021-03-09 19:16] georgschoelly commented on #19293
The new snap version 3.12.1 did not fix the issue. However, we noticed now that the problem was due to a wrong siteurl. Our app is accessible at https://rocket.example.net:30000 but the `siteurl` variable of snap was set to https://rocket.example.net without the port.

We fixed it by adding a `.env` file in `/var/snap/rocketchat-server/common` as suggested by [the documentation][envfile]

This was

[2021-03-09 19:24] foss- commented on #20831
Seems this was reverted: `⌘Enter` creates linebreak while `Enter` sends the message. Not sure if intentional or not. Was unable to find anything for linebreak or new line in changelog. Assuming intentional and closing.

[2021-03-09 19:24] #20831 closed

[2021-03-09 19:52] petschni opened #21049 "Push notifications not working"
### Description:

In our Rocket.Chat instance push notifications are not working. When testing push notifications using the admin UI I get the error "Not allowed" - although I have admin rights.

### Steps to reproduce:

1. Administration
2. Push
3. Send a test push to my user

### Expected behavior:

Would expect to send a push notification to my mobile device

### Actual behavior:

I get the a m

[2021-03-09 20:14] Nono-m0le commented on #21042
Our Site URL didn't include the port (as managed by Caddy)
We fixed it by adding a `.env` file in `/var/snap/rocketchat-server/common` as suggested by the [documentation](https://docs.rocket.chat/guides/administrator-guides/troubleshooting)

[2021-03-09 20:17] Robbilie commented on #19755
@Darshilp326 this should be fairly easy to reproduce yourself :)

[2021-03-09 23:37] shrinish123 opened #21053 "Error messages contains some extra text(error key) not to be shown to users"
### Description:

In many of the error messages, the error message contains the error key which shouldn't be shown to users

### Steps to reproduce:

1. Go to Room Members on any channel
2. Click on three dots on any user and try to remove yourself as the owner (Given that u are the only owner)
3. It shows the error but also displays the error key

### Expected behavior:

The error key shouldn't b

[2021-03-10 00:32] robpedersendev commented on #20884
I still have this occurring, Mobile app on iOS is 4.14.1, ios V 14.4

[2021-03-10 00:33] robpedersendev commented on #20884
We are using Rocket.Chat 3.12.1

[2021-03-10 06:54] ankar84 commented on #21049
Tell more about your environment.
Do you use official mobile apps or your own whitelabeled apps?
Do you use Push Gateway? Did you enabled Push in Admin UI?

[2021-03-10 07:12] Vishv07 opened #21054 "Quoted Message Should be deleted too when if original message is being deleted"
### Description:

Whenever you send any message and Quote it to reply in the context of that message and if you delete that original message then that quote message panel should be closed after the message is being deleted.

here are some Screenshots So You guys can have a
clear idea

1)  ![RocketChatBug1](https://user-images.githubusercontent.com/37216460/110589266-2aed2d00-819c-11eb-9c8b-8ec8e57

[2021-03-10 07:28] petschni commented on #21049
@ankar84 sorry - forgot the obvious. We are using the official mobile app and your gateway. Config see below. It used to work in the past but I cannot tell if it broke with an update or "just sometime".

<img width="631" alt="image" src="https://user-images.githubusercontent.com/4078440/110592438-91615380-817a-11eb-9c95-3d12bb2dd20a.png">

<img width="613" alt="image" src="https://user-images.gith

[2021-03-10 07:34] fdellwing opened #21055 "[Bugbounty: $400] Possible regression of #21004 / Call already ended"
$400 bounty for solving this issue: https://www.bountysource.com/issues/97216131-possible-regression-of-21004-call-already-ended

---

### Description:

After updating from 3.12.0 to 3.12.1 we get "call already ended" a few seconds after someone started a call. This might be a regression of #21004.

### Steps to reproduce:

1. Start a new call in a new windows
2. Wait 10sec
3. Click on "click to j

[2021-03-10 07:42] sviat9440 commented on #2192
@maciek134 are you have problem? 2021 still waiting (

[2021-03-10 08:12] dvydruk commented on #21055
Same with snap version.

[2021-03-10 08:26] buschmann opened #21056 "What was the last Version with old licence model ??"
What was the last Version with old licence model ??

[2021-03-10 08:26] #21056 closed

[2021-03-10 08:28] buschmann commented on #21040
Anybody know??
What was the last Version with old licence model ??

[2021-03-10 10:29] ankar84 commented on #21049
Yeap, that case should work, but it's not working for some reason.
I think someone like @geekgonecrazy from cloud team can help.

[2021-03-10 11:30] mmgoilf commented on #20989
Yes you're right, and I see they said it should be fixed in the next update.

[2021-03-10 11:30] #20989 closed

[2021-03-10 11:36] H4x1 commented on #20990
We're having the same issue on our server using the same version.

[2021-03-10 13:37] minix-it opened #21057 "Omnichannel community version not display green-operator-status when he is online"
### Description:

Since RC 3.12.1 community edition the omnichannel icon (on/off) not work but operator is, of course, online.  That wasn't supposed to happen.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.1
- Operating System: ubuntu
- Deployment Method: snap
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Versio

[2021-03-10 13:37] #21057 closed

[2021-03-10 13:41] minix-it opened #21058 "Omnichannel community version not display green-operator-status when he is online"
### Description:

Since RC 3.12.1 community edition the omnichannel icon (on/off) not work but operator is, of course, online. That wasn't supposed to happen.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.1 community edition
- Operating System:  UBUNTU 18.4
- Deployment Method: SNAP
- Number of

[2021-03-10 13:49] minix-it opened #21059 "EMAIL INBOXES new with RC 3.12.1 - not save department in config - dont play bell at the conversation begin"
### Description:

New feature with RC 3.12.1 EMAIL INBOXES. I notice that don't save in config default department. Also in Omnichannel conversation miss the bell-alert at the beginning of conversiation, Other functions works well, until now.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.1
- Ope

[2021-03-10 17:07] rasos commented on #9543
It would be great if any live streaming service would be accepted to broadcast to.  Currently, even  if the Broadcasting Client ID field is empty, a YouTube login pops up. I suggest that if that field is empty, you do not require any authentication.  Streaming servers like PeerTube 3.0 only require a URL and a key to stream to.

Jitsi Meet now also allows to enter a YouTube stream key **or** a `rt

[2021-03-10 17:13] likewhatevs opened #21063 "Large files (<2GB) cause user data download to fail/loop leading to extreme slowness and out of heap."
### Description:

### Steps to reproduce:
Have 1TB+ of free disk space.
Raise file upload limit to 2gb.
Use s3 as backing blob store.
Upload 10GB worth of files (this much might not be necessary) to channel user has access to.
Attempt user data download.

### Expected behavior:
User data download works.

### Actual behavior:
User data download fails.

### Server Setup Information:

- Version of Ro

[2021-03-10 17:13] jkshapiro commented on #3625
Nice to have the icons on the dots, that helps. We could make them more visible by increasing the colour contrast; check out https://www.w3.org/TR/WCAG22/#non-text-contrast

[2021-03-10 17:24] knokio commented on #1929
I have a simple PR with this working, with a simple "Remove Link Preview" message action.

[2021-03-10 17:42] knokio commented on #1929
Demo: https://streamable.com/p0cxfj

Things to improve:
- Better icon
- Only show option when there is really a preview

Do you have any more suggestions?

[2021-03-10 20:31] klepptor commented on #21055
Same here with docker RC and native Jitsi Meet.

[2021-03-10 22:01] apurv-1 opened #21068 "[UI] Message Box icons don't have hover effect."
### Description:

If the user hovers over icons like Emoji picker or microphone or '+' icon, the cursor changes to pointer but the icon color remains the same.

### Steps to reproduce:

1. Open any room, and Try hovering over any of the mentioned icons.

### Expected behavior:

We can add a hover effect for changing the colour of the icon.

### Actual behavior:

Only cursor changes to pointer.

##

[2021-03-11 04:51] meomay503 opened #21074 "[Security] Missing validation for visitor token in livechat:closeByVisitor"
### Description:

When closing the room by the method `livechat:closeByVisitor` Rocket.Chat does not check for token validity. That could lead to several situations:
* Wrong or missing token: The room closer will be set to the first visitor in the db
* Provide token but the visitor owns that token is not the visitor of the closed room: Room closed successfully.

### Steps to reproduce:

1. Call `l

[2021-03-11 07:35] torygg commented on #20856
Same issue here after updating to 3.12.1

[2021-03-11 09:31] OneTwoBarbecue commented on #20908
Fortunately this error is solved in version snap 3.12.1.

Also clicking the user-icon now permits to easily access further user information and various smart user actions - however it would be nice to also have access to a direct videocall as it is possible in the mobile apps.

Thanks very much to everybody for solving this issue,

    Marco

[2021-03-11 09:31] #20908 closed

[2021-03-11 09:36] OneTwoBarbecue commented on #21006
In version 3.12.1 snap permalinks now do not cause errors any more.

But I would guess that the expected behaviour is that the permalink automatically scrolls to correct post and highlights this post in order to make it easily accessible.
This does not happen.
Instead the permalinks lead inside the right channel to somewhere nearby the correct post which is not highlighted at all. This happens whe

[2021-03-11 09:46] OneTwoBarbecue opened #21075 "pdf preview not working in snap 3.12.1"
### Description:

pdf preview of first page is not rendered at all.

I guess this is due to the fact that there is a typo in the link generated by Rocket.Chat.
When hovering over the pdf-filename in the chat the ending of the filename is donwload instead of download which is probably not intended.

### Steps to reproduce:

1. Upload pdf-file to chat.
2. No pdf preview generated.

### Expected beha

[2021-03-11 11:07] MatthiasWiesner commented on #19880
Same issue on 3.12.1

[2021-03-11 12:16] milton-rucks commented on #17991
https://github.com/RocketChat/Rocket.Chat/pull/20720

[2021-03-11 12:57] bognerf commented on #21055
Same here, after updating from 3.11.x to 3.12.1 running on Ubuntu 18.04 we experience identical issues as thread starter does.

[2021-03-11 13:08] yash-rajpal commented on #21055
@fdellwing and all others suffering from this, I am very sorry that closing tab bar after initiating a call is having such serious problems, and I am looking into it. I tested this but didn't tested for this issue or thought this could be a possible regression of #21004
That said, in earlier versions the tab bar used to automatically close after connecting the call and this issue wasn't there. Als

[2021-03-11 13:17] fdellwing commented on #21055
Yeah, initially the issue is surely to be found in the react rewrite of the component. But closing the sidebar has an impact on it, so I mentioned it here. Thanks @yash-rajpal.

[2021-03-11 13:21] ABHAYJAIN2601 commented on #21054
Hey @Vishv07 I think it's not a bug but more of feature many platform don't delete them some do!

[2021-03-11 14:35] josep112 opened #21077 "Desktop don't play sound work at newest version 3.12.0"
### Description:

Does not play sound on the desktop when messages arrive on livechat

### Steps to reproduce:

Send a message on livechat that will not play the sound on the desktop

### Expected behavior:

Play a sound on the desktop when a message arrives on livehcat

### Actual behavior:

User  receives a new message and don't get notified. No sound is played and no desktop notification is sen

[2021-03-11 14:50] tech62 commented on #18857
Same problem on edge  89.0.774.45 and chrome Mobile
Working with firefox

[2021-03-11 15:31] Vishv07 commented on #21054
Have you checked discord?

[2021-03-11 16:15] aditya-mitra commented on #21053
@shrinish123 By error key did you mean the *[error-remove-last-owner]*?

[2021-03-11 17:12] matheus-rn opened #21078 "Infinite loading when clicking confirm audio, before allowing the microphone to be used"
### Description:
when clicking on the option to send a voice message, the timer and the options to cancel and confirm audio are shown, but also the permission prompt is displayed on the screen, if the user clicks on the option to confirm audio before allowing the use of the microphone , the loading indicator is displayed, and even after giving permission, the charging indicator still continues for

[2021-03-11 17:39] voroyam commented on #20999
if this is fixed, I will close the issue and wait for the 3.12.1. Thanks all. :]

[2021-03-11 17:39] #20999 closed

[2021-03-11 17:42] fettfoen opened #21081 "mmapv1 to wiredTiger for non docker user"
Does also exist a step by step guide/script for migrating rc mongodb from mmapv1 to wiredTiger for non docker user? I only found a migration tut for docker user (https://docs.rocket.chat/installation/docker-containers/mongodb-mmap-to-wiredtiger-migration).

thanks
ff

[2021-03-11 17:42] #21081 closed

[2021-03-11 20:13] pierreozoux commented on #21039
I have the same behavior.

I though that https://github.com/RocketChat/Rocket.Chat/pull/20605 would fix it, but still the same. I have 3.12.1, I have log level info, and I see nothing.

If there is anything I can do help investigate, please let me know!

[2021-03-11 22:00] itsarectangle commented on #12427
Hi there, did you ever figure out what causes that error?  I got the same when trying to install DialogFlow integration app.  Thanks

[2021-03-11 22:24] sgohl commented on #20632
still happens on update to `3.12.1`

it works when I remove `&readPreference=nearest` from the `MONGO_URL` connection string

Did something change within the connection pooling logic in Rocket.Chat ?

[2021-03-12 06:48] shrinish123 commented on #21053
Yes

[2021-03-12 07:22] Kulfadir commented on #20204
Fixed in snap 3.12.1.

[2021-03-12 07:22] #20204 closed

[2021-03-12 07:50] ABHAYJAIN2601 commented on #21054
Yeah i use discord if you see whatapps don't delete quote message

[2021-03-12 08:52] endurance21 commented on #21022
@KevLehman
Do this really is a problem ?

Showing two different version of same user if they are online .

Also the codebase is new to me , can you guide me where I can find the respective components this belongs to ?

[2021-03-12 08:53] Darshilp326 opened #21088 "Unread threads not displayed on top."
### Description:
In a channel with many users, we need to scroll to find all our unread threads.

### Steps to reproduce:

1.  Make a thread
2. Reply on a previous thread from a new account.
3. Make a new thread

### Expected behavior:
Unread threads should be displayed on top

### Actual behavior:
Unread threads are not displayed on top.

https://user-images.githubusercontent.com/55157259/1109160

[2021-03-12 09:59] Vishv07 commented on #21054
But It also allows you to at least send the msg. But here that penal sticks and until and unless you won't close that you won't be able to send the message you'll have to close this. It's a tiny thing but I think it should be resolved.

[2021-03-12 10:33] aditya-mitra commented on #21053
I feel that this error key **should be shown**. Because it is kind of very helpful in debugging (when using like *find and replace* in the editor or `grep` from the console). This is because the main error text is translated to the corresponding languages.

[2021-03-12 10:33] adocampo commented on #20206
I forgot to add my +1 here a while ago.

I ended unchecking the View --> Tray Icon so when I close RC it really closes, because if the tray icon is shown, when I close RC, it closes, but I can't even open it back. So disabling the tray icon is the only workaround, if you close accidentally the chat, at least you need simply to open it back, yet it's a bit annoying to lose messages in the meanwhile

[2021-03-12 11:12] MarekRzewuski commented on #20374
I have the same issue. Firefox not working, unless popup is on.

Version 3.13.0-develop
Apps Engine Version 1.23.0
Node Version v12.18.4
Database Migration 218 (10. mars 2021 kl. 23:46
MongoDB 4.0.18 / unknown (oplog Enabled)

[2021-03-12 11:55] foss- opened #21090 "inconsistent presence status"
### Description

Presence status for contact inconsistent. The status at the top of the chat does not match the (correct) status in the left panel.

In this example the user has been `Away` for a while and yet status in the chat is still showign as `Online`.

### Steps to reproduce:

Switch status and notice how the information goes out of sync.

### Expected behavior:

Status should always be con

[2021-03-12 12:59] zakhar-petrov commented on #20766
The same on 3.12.1

[2021-03-12 13:48] thassiov commented on #19781
Hey @wreiske , I was trying to reproduce the problem but I didn't get the same result. The commands are running as expected after the upgrade. Are you still experiencing this issue? Have you upgraded since then? And what are you using to run your cluster, is it kubernetes, docker compose?
Thank you

[2021-03-12 14:49] Dezrengs opened #21092 "Уведомления"
При отправке клиентом сообщения, приложение его не видит, появляется только после перезагрузки приложения.
Так же при нажатии кнопки взять это! Так же нужно перезагрузить приложения, для ответа клиенту, а клиенту необходимо перезагружать страницу для просмотра сообщения.

[2021-03-12 14:49] #21092 closed

[2021-03-12 15:53] billynoah commented on #853
having this same problem in Version 3.12.1.  Some users are fine.  One user in particular can not receive my DMs.  Sends notification and shows snippet in the left hand pane but room fails to retrieve messages when clicked.  Also never properly loads if I do a hard refresh - simply continues showing animation icon until I leave the channel and go back in.

[2021-03-12 18:09] paco-coutaud opened #21095 "Push test notifications OAuth : There are no tokens for this user"
### Description:

Sending a push test notification through the official gateway returns "There are no tokens for this user".

### Steps to reproduce:

_Prerequisites_

- Custom OAuth is enabled (Keycloak) and well configured
- Rocket-Chat official Android App is installed
- User is logged in the official Android App
- Same user is logged in the browser or desktop app
- User has "admin" privileges

[2021-03-12 19:10] aditya-mitra commented on #21075
Hello @OneTwoBarbecue ,
Actually PDF Preview is disabled - [Known Issue#attachment-pdf-preview-is-no-longer-being-rendered](https://github.com/RocketChat/Rocket.Chat/blob/develop/KNOWN_ISSUES.md#attachment-pdf-preview-is-no-longer-being-rendered)
Also you can check PR #12632.
However, I will surely fix the spelling of `download`. Thanks for pointing that out :smile:
Thank you.

[2021-03-12 21:19] aditya-mitra commented on #20971
Hello everyone,

Are 3 attachments in a row okay?

![in a row](https://user-images.githubusercontent.com/55396651/110998686-35c6de00-83a5-11eb-859c-6bf2685512d0.png)

It would be great if you could tell me how the previous implementation was if this is not okay. :smiley:

[2021-03-13 00:43] glonkar opened #21101 "getting error: This email has already been used and has not been verified. Please change your password."
![image](https://user-images.githubusercontent.com/3055104/111012781-fa4ef400-8351-11eb-958f-4817bd0b5b0b.png)

getting error with endless loop and unable to use the chat in either web or desktop. oddly enough the mobile version which is still logged in is working. I logged in using my seeking alpha username and password. Also clicking on the "Launch Chat" from seeking alpha is not working

[2021-03-13 00:43] #21101 closed

[2021-03-13 01:02] itsarectangle commented on #14141
Thanks, this helped me too.  BUT I want to use iframes.  So there's no way to use iframes without crippling the entire app?

[2021-03-13 01:03] itsarectangle commented on #14141
Thanks, this helped me too. BUT I want to use iframes. So there's no way to use iframes without crippling the entire app?

[2021-03-13 06:40] guptapranav4299 commented on #1745
I would like to solve this issue, please assign it to me

[2021-03-13 06:42] maansiii commented on #21068
Use Font Awesome <i class="fas fa-plus"></i> and add this to your html element.

[2021-03-13 06:42] maansiii commented on #21068
<i class="fas fa-plus"></i>

[2021-03-13 06:43] maansiii commented on #21068
`<i class="fas fa-plus"></i>`

[2021-03-13 07:35] apurv-1 commented on #21068
@maansiii You can check the PR I've mentioned in this issue.
And if you think you have a better solution. Please go ahead and open a new PR for this. 😄

[2021-03-13 11:33] sauravrajleaf opened #21102 "[BUG]Notifications preferences doesn't appear of the discussions when opened from main chat room."
### Description:
Notifications prefrences not showing when opened from the discussions option from the main chat.

### Steps to reproduce:

1.  Go to https://open.rocket.chat
2.  Open any channel which contains discussion threads.
3.  Open the discussion threads from the main channel.
4. Click on notifications preferences of the discussion thread.

### Expected behavior:
Notifications preferences

[2021-03-13 13:24] Schrammi commented on #13688
I've got the same issue.

[2021-03-13 14:32] petschni commented on #21049
@geekgonecrazy any idea what the problem could be?

[2021-03-13 15:24] Vishv07 commented on #21068
@apurv-1 can I work upon this?

[2021-03-13 15:28] Vishv07 commented on #21053
@aditya-mitra I think its not a good idea to show this error-tag or id whatever it is just for its helping out in debugging. for a dev purpose, we can create debug mode in our code base or something like that which can overcome this.

There is no production-ready application that shows this kinda error with an error tag.

[2021-03-13 23:32] mmgoilf commented on #20990
Still an issue in 3.12.1. Sometimes I've briefly had problems with it doing stuff like this even after rocketchat has been opened for a while too.

[2021-03-14 03:56] justincohan commented on #17935
It looks like the browser blocks the popup and then this error occurs.  If the popup is allowed the login works

[2021-03-14 03:58] justincohan commented on #18234
The docs appear to be outdated.

The actual command to login with google would look like this. But when using this the popup gets blocked.

[code]

[2021-03-14 05:46] shresth2102001 opened #21103 "Code should be readable and properly commented"
Description
A code that is well formatted with proper indentation in accordance with conventional guidelines and proper commenting , is more readable. Going through the code, I found it as an enhancement, for all of us out there.

[2021-03-14 05:47] #21103 closed

[2021-03-14 05:54] shresth2102001 opened #21104 "Code should be readable and properly commented."
Description
A code that is well formatted with proper indentation in accordance with conventional guidelines and proper commenting , is more readable. Going through the code, I found it as an enhancement, for all of us out there.
Steps to reproduce:
Read the code and rewrite it with a proper commenting and indentation

Expected behavior:
A code that is well formatted with proper indentation in acc

[2021-03-14 06:38] n3crosis opened #21105 "Chat menu does not work on iOS safari"
### Description:

Chat menu does not work on iOS safari.

### Steps to reproduce:

1. Install a fresh Rocket.Chat instance
2. Use iOS safari to visit the site
3. Initiate a chat with rocket.cat
4. Click on the menu button
5. Click on one of the items

### Expected behavior:

Corresponding actions should show up

### Actual behavior:

Nothing happens after clicking the menu

### Server Setup Inform

[2021-03-14 11:01] Gummikavalier commented on #21090
We are seeing this too. Status in the topic field seems to get stuck while the one in the contact/channel-list updates correctly.

[2021-03-14 11:08] mmgoilf commented on #21090
Same problem for us.

[2021-03-14 13:33] lovesh12 commented on #20906
I've tested it as well, it works as expected.
@Rodriq, from the second screenshot it seems as if admin is the receiver as well as the sender. So, I don't think anything wrong's here

[2021-03-14 15:08] OneTwoBarbecue commented on #21075
Hello @aditya-mitra ,
ok! Thanks for pointing that out. So I'll close this issue :)
Do you know if there are plans to fully integrate a pdf-viewer like pdf.js into Rocket.Chat?
Kind regards, Marco

[2021-03-14 15:08] #21075 closed

[2021-03-14 17:48] aditya-mitra commented on #21075
Actually they were integrated in Rocket.Chat in #10519, until they were removed in #12375 and #12632 because they made the client slow and laggy.
However, I will surely try to find out a way which can render the PDF effectively with minimal impact on performance. :D

[2021-03-14 18:00] apurv-1 commented on #21068
I've already opened a PR and mentioned it, But if you have a better solution please go ahead! @Vishv07 .

[2021-03-14 18:57] PiyushDhamane opened #21107 "The toolbar to format messages is not very accessible"
The text formatting icons in the toolbar at the bottom are very difficult to spot and use for a new user. So the icon size must be increased or be given some better hover effects. In the placeholder for textarea, a short indication can be given to use the formatting options.

[2021-03-14 18:57] #21107 closed

[2021-03-14 19:12] PiyushDhamane opened #21108 "The toolbar to format messages is not very accessible"
### Description:

### Steps to reproduce:

1. Open any room and check the icons used for formatting text.

### Expected behavior:

We can make the icons/options more easier to spot. Placeholder for the text area can be changed and the noticeable transitions can be added to easily spot.

### Actual behavior:

The icon size is too small to spot for a new user.

### Server Setup Information:

- Versi

[2021-03-14 19:12] Deepak-learner opened #21109 "Incomplete Email Validation"
### Description:

In rocket chat app , Email validation is wrong at all places . Email validation should be present and email must contain " . "(dot) and "@" in email field  with valid email address format . For valid email address format , visit this site : https://help.xmatters.com/ondemand/trial/valid_email_format.htm#:~:text=A%20valid%20email%20address%20consists,com%22%20is%20the%20email%20do

[2021-03-15 00:11] endurance21 commented on #21102
actually the `subscription` variable comes out to be undefined sometimes here https://github.com/RocketChat/Rocket.Chat/blob/978cd3a845b01a164e5b9fd7b82ad41d9a3ef4c8/client/views/room/contextualBar/NotificationPreferences/NotificationPreferences.js#L66

maybe we need to make a check here to this undefined variable

[2021-03-15 00:11] endurance21 commented on #21102
@KevLehman  any thoughts on this

[2021-03-15 00:34] endurance21 commented on #21109
The regex being used here itself has this behavior. https://github.com/RocketChat/Rocket.Chat/blob/978cd3a845b01a164e5b9fd7b82ad41d9a3ef4c8/app/lib/server/lib/validateEmailDomain.js#L35
it matched for a email like ` rocket@chat` !

@KevLehman @Sing-Li  is this intentional to have domains without "." ?

[2021-03-15 02:02] endurance21 commented on #21109
@Deepak-learner i just found out , the email addresses of format`example@localhost` is a valid type !
please have a look here https://en.wikipedia.org/wiki/Email_address#Examples .

[2021-03-15 04:13] #21109 closed

[2021-03-15 06:02] Gummikavalier commented on #21090
This issue has been reported also here:
https://github.com/RocketChat/Rocket.Chat/issues/20957

[2021-03-15 07:08] Darshilp326 commented on #21102
@endurance21 Were you able to reproduce on our localhost server?

[2021-03-15 07:10] ak2783934 opened #21111 "Sidebar doesn't disappear upon selecting in mobile view"
### Description:

When we go on the mobile version of the web-app and select any channel after selecting clicking the hamburger, the side bar doesn't disappear

### Steps to reproduce:

1.  Set the view to mobile view using developers tool
2. Click on the hamburger sign and select any channel
3. After selecting the channel, the sidebar will not disappear

### Expected behavior:

It should have gon

[2021-03-15 07:11] endurance21 commented on #21102
yes i did

[2021-03-15 07:12] Darshilp326 commented on #21102
Can you share your video as I was not able to reproduce :cry:

[2021-03-15 07:20] ak2783934 opened #21112 "Options doesn't disappear after clicking the 3 dots twice"
### Description:

In any application, generally, 3 dots are provided for opening options, but when we click those dots again, the options dialog disappears, But it is not the case with Rocket.Chat

### Steps to reproduce:

1. Open any channel and click on the 3 dots on the top-right corner
2. You get an options box, and now again click on the three dots

### Expected behavior:
Upon clicking the 3

[2021-03-15 07:20] endurance21 commented on #21102
yea thats not very consistent , not every time it happens
that is due to undefined behavour of subsription variable( i have checked this by using chrome breakpoints )
let me see if i can make one !

[2021-03-15 07:29] ak2783934 opened #21113 "Unexpected arrow with no use in https://open.rocket.chat/account/preferences sound tab besides the slider"
### Description:
There is an unexpected arrow after the slider, where the percentage of the volume is shown in preferences under account

### Steps to reproduce:

1. Login with the account, open profile, and then preferences
2. go down and click on the sound option
3. besides the slider, there is a left arrow that doesn't disappear or do anything on sliding the slider

### Expected behavior:
That

[2021-03-15 08:38] ABHAYJAIN2601 commented on #21112
Hey @ak2783934 I think this [PR](https://github.com/RocketChat/Rocket.Chat.Fuselage/pull/389#issue-564124356) will fix this issue

[2021-03-15 08:44] ak2783934 commented on #21112
Yup, But I couldn't find any issue related to this 😅

[2021-03-15 08:50] ak2783934 commented on #21112
@ABHAYJAIN2601 I am a little confused about how that repository will affect this one? I read somewhere that this repo contains the full system for rocket chat web client and server?

[2021-03-15 09:02] foss- commented on #21090
Thanks closing as dupe.

[2021-03-15 09:02] #21090 closed

[2021-03-15 09:05] #21112 closed

[2021-03-15 09:07] col-panic opened #21117 "Federation 3.9 <-> 3.10 stops working with Event has missing parents"
### Description:

We have (had) a federation setup working good between two 3.9 instances. Now one of the instances update to 3.10.

A (3.10) - B(3.10)

After the update, B still receives the messages (as seen in the log), but they are not shown in the chat with debug showing

[code]

### Steps to reproduce:

1. Have a running setup between 2 instances
2. Update one to a higher version
3. See the

[2021-03-15 09:12] ABHAYJAIN2601 commented on #21113
Hello! @ak2783934 [ #20310](https://github.com/RocketChat/Rocket.Chat/pull/20310) will fixes the issue.

[2021-03-15 09:34] col-panic commented on #21117
Was related to a routing problem!

[2021-03-15 09:34] #21117 closed

[2021-03-15 10:35] lovesh12 opened #21118 "[BUG] Notifications preferences doesn't appear when user is not joined"
### Description:
Notifications preferences doesn't appear when user is not joined, it shows blank white screen

### Steps to reproduce:
1. Go to a public channel or discussion link (make sure **you are not joined in it**, actually you need to message to join it)
2. Click on Notification Preferences
3. It will show blank screen along with error in console

### Expected behavior:

Notifications Pref

[2021-03-15 10:37] lovesh12 commented on #21102
#21118 I've created a new issue containing the actual reproducing steps

[2021-03-15 10:59] JakobFerdinand commented on #8564
I tested it with `3.12.1`. It works there. 👍

[2021-03-15 13:57] shrinish123 commented on #21054
Hey @Vishv07  do you want that quoted message box should go off after the message is deleted ?

[2021-03-15 14:02] #21113 closed

[2021-03-15 15:28] jsalatiel opened #21121 "Can not restart OTR if timed out - Please wait while OTR is being established"
Since I have upgraded from 3.8.8 to to 3.12.1 I can not retry the OTR if it times out due missing input from the other user.

### Description:

### Steps to reproduce:

1. Choose a User and ask him to ignore the OTR request ( not deny, ignore )
2. Try to create a new OTR with that user
3. After times out, there is no option to retry. The failed one will still be showing the progress bar.

### Expe

[2021-03-15 18:18] caue-santos commented on #19001
same here, with rocket.chat server: 3.7.1

[2021-03-15 18:57] Jackent2B commented on #21111
@ak2783934 I would like to work on it

[2021-03-15 20:32] watter opened #21126 "Message Behaviour Changed from 3.10 on"
### Message appearance changed from version 3.10 on

Using the API to send some test messages I've found that the message behaviour changed from 3.10 on (3.11 and 3.12 and 3.12.1 act the same way).

On 3.10 we had the following
![Seleção_018](https://user-images.githubusercontent.com/446293/111214908-46e43a80-85b1-11eb-96af-6c681e16e733.png)

As 3.11 and up we've got the following result:
![3_11_a

[2021-03-15 21:28] billynoah opened #21127 "The “Full Name” that’s shown when I click “View Profile” on a user shows only their username - the correct full name is shown in admin but not in the user chat interface"
### Description:

The “Full Name” that’s shown when clicking “View Profile” on a user in a channel shows only their *username* instead of their *full name.* The correct full name is shown in the admin panel user info but not on the user front end.

Note: I have not tested or verified this in the desktop app since I don't have it installed.

## Steps to Reproduce:

1. Click on a username in a chann

[2021-03-15 21:28] #21127 closed

[2021-03-15 21:36] billynoah opened #21128 "User info shows username instead of full name"
### Description:

The “Full Name” that’s shown when clicking “View Profile” on a user in a channel shows only their *username* instead of their *full name.* The correct full name is shown in the admin panel user info but not on the user front end.

I have tested or verified this in both the desktop app and the web ui.

### Steps to reproduce:

1. Click on a username in a channel
2. Click "See full

[2021-03-15 21:37] #21128 closed

[2021-03-15 21:39] billynoah opened #21129 "User info shows username instead of full name"
### Description:

The “Full Name” that’s shown when clicking “View Profile” on a user in a channel shows only their *username* instead of their *full name.* The correct full name is shown in the admin panel user info but not on the user front end.

I have tested or verified this in both the desktop app and the web ui.

### Steps to reproduce:

1. Click on a username in a channel
2. Click "See full

[2021-03-15 21:39] billynoah commented on #21128
The bot is stupid.  "Version of Rocket.Chat Server" is not part of the template - I had to add it.

[2021-03-15 22:05] PiyushDhamane opened #21131 "No option to minimize the sidebar"
### Description:
The sidebar cannot be minimised. So we can add an option to minimize the sidebar, giving a bigger chat window.

### Steps to reproduce:

1. Go to any chat window and there you can find the sidebar, which can't be minimized.

### Expected behavior:

It should minimise.

### Actual behavior:

No option to minimise.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.1

[2021-03-15 23:26] Rodriq commented on #20906
No they're two different users.
User admin and user testos

[2021-03-16 04:09] ak2783934 commented on #21111
@Jackent2B sure go-ahead

[2021-03-16 04:25] ak2783934 opened #21135 "[Enhancement] Hamburger icon doesn't appear for width value from 778 to 600"
### Description:
When the screen size is about 778, the sidebar automatically disappears, but then there should be a button to bring the sidebar when necessary, but that is not present.

### Steps to reproduce:

1. open dev tools after opening the app
2. select the width range between 778 to 600,
3. There won't be any option to change channels because there is no sidebar

### Expected behavior:
Th

[2021-03-16 05:18] Darshilp326 commented on #21129
@billynoah Hello! You need to turn ON the setting 'UI_Use_Real_Name' for displaying real names instead of usernames.

[2021-03-16 05:24] Darshilp326 commented on #21135
#20736 Fixes the issue! :smile:

[2021-03-16 05:50] Electron-2002 commented on #21028
@micksharma Are you still working on this?

[2021-03-16 07:03] Monolithys opened #21136 "Client do not shows avatar's"
Hello all!

We using snap version rocket, and after I change track from 2.x to 3.x I have some problems.
We make integration Jira and rocket by web hook (with script on rocket side).
Rocket version now 3.12.1
Jira 8.5.1

![pix01](https://user-images.githubusercontent.com/32746979/111268433-58275880-863e-11eb-8f40-c1e5c521aa55.JPG)
Project avatar and user avatar does not shows, but in Browser versi

[2021-03-16 07:03] #21136 closed

[2021-03-16 07:18] Electron-2002 commented on #21104
How to go about this issue?  The codebase is very huge.

[2021-03-16 07:38] micksharma commented on #21028
Yes

[2021-03-16 08:05] ak2783934 commented on #21135
hmm thanks, I couldn't find that one.  😅

[2021-03-16 08:05] #21135 closed

[2021-03-16 09:41] HiveMindNet commented on #21126
We have also seen this change.

[2021-03-16 09:48] HiveMindNet opened #21137 "Message Discussion Thread UX Broken"
### Description:

When within a discussion within a direct message, we could previously navigate back to the direct message at the top of the discussion, (showing all chat and other discussions contained within the direct message). This UX is no longer present. So once you enter a discussion within a DM, you are unable to get back out of it to the main direct message.

### Steps to reproduce:

1.

[2021-03-16 11:01] HiveMindNet commented on #21137
I take it back - maybe it was cache - seems to be working now though with no change? Anyway, all good.

[2021-03-16 11:01] #21137 closed

[2021-03-16 11:28] billynoah commented on #21129
@Darshilp326 - Where do I find this setting?

[2021-03-16 11:32] ankar84 opened #21138 "[Bug] Users self chat are duplicated"
### Description:

User chat with himself (if it enabled in Admin UI) somehow duplicated with different entities.

### Steps to reproduce:

1. Enable **Admin UI - Message - Allow user direct messages to yourself** option
![image](https://user-images.githubusercontent.com/4023037/111302026-efeb6d80-8663-11eb-8637-df78a1a176f8.png)

2. Find your own user and chat with him
3. Somehow create another su

[2021-03-16 13:45] shrinish123 commented on #21129
@Darshilp326 after looking at the code even I felt that there has to a setting to show real names, but not able to find it.

[2021-03-16 13:47] shrinish123 commented on #21138
@ankar84  how do we create a duplicate chat with yourself, because after trying various ways to do it I am not able to create a duplicate chat

[2021-03-16 14:27] marcuszani commented on #21042
Not only in the gridfs, but also with filesystem, the uploaded files are no longer accessible.

In my case it occurred after upgrading from version 3.11.2 to 3.12.1

[2021-03-16 14:31] Nono-m0le commented on #21042
Feel free to reopen a ticket, for me the issue was the missing port.

[2021-03-16 14:31] #21042 closed

[2021-03-16 14:50] antirais opened #21139 "Show ratio of people who have read the message compared to people in the channel"
### Description:

Rocket.Chat uses ticks to indicate the read receipts for the user. It is possible to see the list of people who have read the message from the "Info" popup, where the members are listed. To keep track of all people in the room who have read the messages, it would help to see an ratio of people who have read the message out of the total people in the room. It will help the room ad

[2021-03-16 14:50] #21139 closed

[2021-03-16 14:54] antirais opened #21140 "Show ratio of people who have read the message compared to total people in channel"
### Description:

Rocket.Chat uses ticks to indicate the read receipts for the user. It is possible to see the list of people who have read the message from the "Info" popup, where the members are listed. To keep track of all people in the room who have read the messages, it would help to see an ratio of people who have read the message out of the total people in the room. It will help the room ad

[2021-03-16 14:54] #21140 closed

[2021-03-16 14:55] antirais opened #21141 "Show ratio of people who have read the message compared to total people in channel"
Rocket.Chat uses ticks to indicate the read receipts for the user. It is possible to see the list of people who have read the message from the "Info" popup, where the members are listed. To keep track of all people in the room who have read the messages, it would help to see an ratio of people who have read the message out of the total people in the room. It will help the room administrator / mode

[2021-03-16 14:55] #21141 closed

[2021-03-16 14:59] antirais opened #21142 "Show ratio of people who have read the message compared to total people in channel"
### Description:

Rocket.Chat uses ticks to indicate the read receipts for the user. It is possible to see the list of people who have read the message from the "Info" popup, where the members are listed. To keep track of all people in the room who have read the messages, it would help to see an ratio of people who have read the message out of the total people in the room. It will help the room ad

[2021-03-16 15:55] ankar84 commented on #21138
I don't actually know how this happened. But I did it on my server and open server and today one of my users did the same, so I decided to make that issue.

[2021-03-16 16:52] ArchdukeTim commented on #20542
Dup of #20209 ?

[2021-03-16 17:12] Darshilp326 commented on #21129
@billynoah @shrinish123 Administration->Layout->User Interface

[2021-03-16 18:05] rodrigok opened #21144 "Testing"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Client Setup Information

- Desktop App or Browser Version:
- Operating System:

### Additional cont

[2021-03-16 18:14] apurv-1 opened #21145 "[BUG] Auto-Translate dropdown menu doesn't show the language name"
### Description:

In any room, the Auto Translate feature doesn't show the language name.

### Steps to reproduce:

1. Open any channel
2. Click on 3 dots, at the top right corner of the navbar.
3. Click on Auto-Translate.
4. Turn on the Automatic Translation.
5. The dropdown is with empty fields.

### Expected behavior:

It should show the name of the language.

### Actual behavior:

https://user

[2021-03-16 19:07] Darshilp326 commented on #21129
@billynoah But sadly code is implemented by using this setting :disappointed:

[2021-03-16 19:30] billynoah commented on #21129
I see what you mean - in /client/views/room/contextualBar/UserInfo/index.js:

    name: showRealNames ? name : username

That really seems like the wrong use of that setting to me.  I'd propose we either need another setting or simply change the code to:

    name: name

It's nonsensical to display the username under "full name" since that's clearly not what it is.

[2021-03-16 19:39] Darshilp326 commented on #21129
@dougfabris Can you look into this issue?

[2021-03-16 19:41] yash-rajpal commented on #21129
I feel like we should always show real names under `full names` section.

[2021-03-17 03:01] ankar84 commented on #18953
Still an issue in 3.12.
![image](https://user-images.githubusercontent.com/4023037/111408372-41d4d780-86e6-11eb-802d-cc158c7670aa.png)

[2021-03-17 03:30] ak2783934 opened #21151 "No delete button for any chat. Only hide button is present"
### Description:
There is no option for deleting any chat with someone if we want. There is a hide button and no option for directly retrieving chat after hiding it.

### Steps to reproduce:

1. Open the website, and open a chat (dm) with someone
2. Click on the  3dots in the sidebar for that chat
3. only hide button is present

### Expected behavior:
There should be a delete button for every chat

[2021-03-17 03:33] nxa127 commented on #16136
Same issue here, any solution ?

[2021-03-17 03:44] ak2783934 opened #21152 "No use of 3 dots in the search bar results"
### Description:
3 dots used in the history part of the search is of no use, Should be used for deleting the search history

### Steps to reproduce:

1. Open the website, click on the search bar
2. You will see the list of users, the 3 dots appear on hovering over any individual
3. On clicking that dot, we just get redirected to the chat with that person

### Expected behavior:
There we should get

[2021-03-17 04:08] ankar84 commented on #19259
Still an issue in 3.12.0
![image](https://user-images.githubusercontent.com/4023037/111413582-8dd84a00-86ef-11eb-9bc3-b6a7b01e29ac.png)

[2021-03-17 04:12] ankar84 commented on #20577
Hey, @alansikora
Can you take a look at that issue?

[2021-03-17 04:40] ak2783934 opened #21153 "Option to DM yourself"
### Description:
Whenever we search our own name in the member's tab, we get ourselves and also get to dm

### Steps to reproduce:

1. Open the website
2. Open any channel and go to the member's tab and type your userId
3. You will find yourself and after that, you will also get the option to dm

### Expected behavior:
Searching myself is fine but the option to DM shouldn't be there

### Actual be

[2021-03-17 04:55] Darshilp326 commented on #21153
@ak2783934 Hello! This is not a bug!

[2021-03-17 05:12] ankar84 commented on #21153
This is option **Allow user direct messages to yourself** in **Admin UI - Message**
Try to disable it and look what happened.

[2021-03-17 05:13] ak2783934 commented on #21153
@Darshilp326  But what is the need for texting yourself. And after that, you also get an option to call/video call yourself. And this shouldn't be there right? If we can just remove that button, then the user will never reach there and there will be no option for him to call himself.

[2021-03-17 05:16] ankar84 commented on #21153
It's like favorites in Telegram.

[2021-03-17 05:23] ankar84 commented on #21151
Related to https://github.com/RocketChat/Rocket.Chat/issues/17927

[2021-03-17 05:33] ak2783934 commented on #21153
ok but what about the option we are getting? Should that be removed?
![selfcall](https://user-images.githubusercontent.com/54025079/111419984-69409a00-8710-11eb-9f59-77add0cf808b.JPG)

[2021-03-17 05:44] ankar84 commented on #21153
I think it's not really important in Jitsi+RocketChat world and that buttons can remain there.
It's not a telephone call to yourself, which is a crazy thing. It's just creation of Jitsi call with certain name.

[2021-03-17 05:45] ak2783934 commented on #21151
okay, looks like a lot of discussions already happened. Thanks

[2021-03-17 05:45] #21151 closed

[2021-03-17 05:47] ankar84 commented on #21151
Yeah, that feature ask a lot of users indeed.
Telegram and WhatsApp have it.

[2021-03-17 05:53] ak2783934 commented on #21151
yess

[2021-03-17 06:36] ankar84 commented on #21131
Agree that sidebar should be sizable

[2021-03-17 06:40] christianreiss opened #21154 "Unread Notification do not dissapear"
### Description:

The unread counter in the left menu bar is not disappearing. Hitting "Mark all read" or "escaping" does not help, nor does updating the server. We also tried to logout & login. We are unsure on how this came to be. We assume this was due to one person replying in a thread and then deleting the message without the other participants having a chance to read it.

### Steps to reprod

[2021-03-17 06:48] liugddx commented on #21009
I have the same problem.My version is 3.12.

[2021-03-17 06:56] fdellwing commented on #21153
The option to DM yourself is really important for an admin that needs to debug things. So obviously it should not be removed. Also there is no need to arbitrary remove options from the self-DM, it would just create more code complexity and possible things that can break.

[2021-03-17 06:56] col-panic commented on #20542
@ArchdukeTim definitely related :)

[2021-03-17 07:00] fdellwing commented on #21138
I also dont know how it happened, but I can confirm that it is possible. Having this for some months now.

I can confirm the strange ids, but avatar and status works for me.

[2021-03-17 07:13] Darshilp326 commented on #21153
@fdellwing I completely agree!

[2021-03-17 07:36] krzysztof-osiecki opened #21155 "Custom Oauth login with provider access Token"
I belive it's a bug, however it may be my mistake somewhere in the process.

Scenario:
1. I have working instance of RC with a bunch of users created with login and password via RC API.
2. I add Custom OAuth provider (it's my own provider, so there is the first place where my own mistake is possible)
3. I want users logging into my app to log into RC REST API using my own access token. So i make l

[2021-03-17 07:36] #21155 closed

[2021-03-17 07:39] krzysztof-osiecki opened #21156 "Custom Oauth login with provider access Token"
### Description:

User created with login and password cannot login via RC API unless he logs in with RC web app first.
I belive it's a bug, however it may be my mistake somewhere in the process.

### Steps to reproduce:

1. I have working instance of RC with a bunch of users created with login and password via RC API.
2. I add Custom OAuth provider (it's my own provider, so there is the first pla

[2021-03-17 07:40] adocampo commented on #17124
I agree. I think at least a RC dev should hang by here and say something, from 'we are having an internal discussion about implementing this' to 'this won't come on the foreseen future', so we can start trying other chat alternatives or wait for your _basic_ feature.
Letting us in the dark is the most frustrating as the months passing.

[2021-03-17 07:54] adocampo commented on #21153
If you don't like it, why simply don't disable *Allow user direct messages to yourself* in admin settings?

[2021-03-17 07:56] eloo commented on #20971
@aditya-mitra
i ts not about the amount of attachments in one row.. its about the amount of fields in a row.
before this change we had up to 8 fields in a single if the screen was wide enough. so i'm not sure why this is limited now anyways.

![image](https://user-images.githubusercontent.com/2631895/111433402-8a988a80-86fe-11eb-9313-acb338779979.png)

like in this screen shot there is a lot of sp

[2021-03-17 08:31] sennewood commented on #20839
Still a problem with 3.11.2

[2021-03-17 08:52] ak2783934 commented on #21153
Okay Thanks.

[2021-03-17 08:53] #21153 closed

[2021-03-17 09:07] sennewood commented on #19317
Still a problem with 3.11.2

[2021-03-17 10:02] fcoppolani opened #21157 "gitlab WebHook messages are not displayed correctly"
### Description:

Since the upgrade from 3.9 to 3.12, the display of Gitlab notifications are somewhat not correctly displayed.
It is probably linked to https://github.com/RocketChat/Rocket.Chat/issues/21009 but the behavior is different, and still somewhat incorrect. We never tried the 3.10 version of Rocket.chat.

### Steps to reproduce:

1. Create an incoming integration in rocketchat (without

[2021-03-17 10:30] HiveMindNet commented on #20981
Seems fixed by support. Thank you.

[2021-03-17 10:30] #20981 closed

[2021-03-17 10:32] Bengrunt commented on #13602
Hello there, still seeing the memory leak on our 3.12 instances.

I know this kind of issue is always hard to fix but is there any hope in this getting fixed sometime soon or do we invest time in countermeasures on the deployment side?
If anyone has feedback on this I'd be glad to read it :)

[2021-03-17 10:33] HiveMindNet commented on #21055
Anyone know of a temp fix we could implement while we wait for a proper fix in a pull please?

[2021-03-17 10:38] fdellwing commented on #21055
Just click on the call symbol again. It's a bit of spam in a large group, but works perfectly fine.

[2021-03-17 10:44] HiveMindNet commented on #21055
Thanks - That's what we've been doing. Actually, if it helps anyone else, we created this which we need to keep posting.

![Trouble Joining Video Call - READ THIS](https://user-images.githubusercontent.com/19346725/111455385-a2c3d600-870d-11eb-9ea8-7a717c3761a7.png)

I was more hoping for some code to tweak though in the meantime, so that we can quick-fix before the real fix is in a pull.

Thanks

[2021-03-17 10:56] nooblag opened #21158 "Weird user lockout problem/behaviour: "Login has been temporarily blocked for this User""
### Description:
I'm an administrator on a Rocket Chat instance and got a user report that they were locked out of their account because they forgot their password and had failed login attempts. I was able to reset the password as admin some time later (hours later after they reported it) but even the next day (more than 24hrs later) and after a reboot of the Rocket Chat server the user reported b

[2021-03-17 11:02] shresth2102001 commented on #21104
I agree that might be difficult but it is a enhancement for the codebase.it can be slow time taking process.

[2021-03-17 12:52] shrinish123 opened #21159 "the last channel of search list on the sidebar is not properly visible"
### Description:

### Steps to reproduce:

1. Create many channels
2. Go to search in the sidebar
3. Check the last channel is not properly visible

### Expected behavior:

The last channel should be properly visble
### Actual behavior:

![searchlist](https://user-images.githubusercontent.com/56491104/111470172-91022300-874d-11eb-8d94-b05f0ca5f3ac.png)

### Server Setup Information:

- Version of

[2021-03-17 13:51] codefist commented on #17124
If any developer on this project is NOT working on this feature, they are wrong.  This is the ONLY thing that needs attention until it's done.  The lack of this feature alone is preventing millions of people from using rocketchat daily as their main bread-and-butter company chat.  The fact that this isn't happening means that this project has no leadership and/or is abandonware.

[2021-03-17 15:23] grthr opened #21163 "Status in sidebar out of sync"
### Description:

The users status in the sidebar is not updated and therefor out of sync with the status in the rooms or the user profile.

### Steps to reproduce:

1. Open chat in browser.
1. Wait for the status of a user to change.

### Expected behavior:

The status indicator in the statusbar is updated if the status of a user changes and is in sync with other status indicators of the same use

[2021-03-17 15:55] DigitalFrontiersMedia commented on #13688
I’ll note that this problem seemed to go away for us eventually.  I don’t think I changed any settings that did it; I think it resolved itself after we got everything completely on the right domains and https protocols and stuff.

--
Check out our mention in MIT's Technology Review!  ARticle on #augmentedreality (3rd paragraph-"Commerce and Entertainment")-- http://goo.gl/XhFvt <http://goo.gl/XhFv

[2021-03-17 16:49] sthuber90 commented on #20766
Tested with RC 3.12.1 on Docker as well. For me not even the text within the attachment gets a rendered markdown icon

[2021-03-17 17:31] jrgong420 commented on #21111
Same consistent issue here on iframe on all browsers that I tried with: Chrome, native app and in iframe embed. On MacOS and Android

[2021-03-17 17:54] Darshilp326 commented on #21159
Duplicate of #20983

[2021-03-17 19:06] mikemkm commented on #21138
Same situation on our server for at least six months (or even longer but don't remember when noticed it)
Right now on 3.12.0 server version.

[2021-03-17 21:59] pierreozoux commented on #21039
Hum.. I was happy to think it was related to https://forums.rocket.chat/t/messages-not-displaying-and-greyed-out/2035/17 and that this person probably has the fix for us :) But you are the same person..

I'm applying your fix, I'll see, but then my hope is lower than previously :)

[2021-03-17 22:30] dkoo761 commented on #21039
@pierreozoux Yes that was me too....so sorry to disappoint you! 😂 I was hoping that my solution from that forum post would work for offline email notifications but unfortunately they were still happening.

In NotificationQueue.ts I see that there are some calls to `this.worker(...)` that are missing `await`. Since `this.worker()` is async, that might be related but I'm not sure. The code is using

[2021-03-17 23:34] shrinish123 opened #21170 "The options of audio call and video to yourself are not working and are illogical"
### Description:

We see the option of auio call and video call to our ownself and the buttons also dont work

### Steps to reproduce:

1. Go to create dm with yourself
2. Go to user info
3. Check the option to video call and audio call yourself

### Expected behavior:

These options should not be there as they are illogical

### Actual behavior:

![action_intial](https://user-images.githubusercon

[2021-03-17 23:38] rcaldeiradev opened #21171 "Omnichannel - Livechat - Agent name and email only appear after a page reload"
### Description:

When a user starts a conversation from the Rocket.Chat Livechat widget, the agent information (name and email address) is not shown. After reloading the page or opening the same page in another tab/window, the agent information is displayed correctly.

### Steps to reproduce:

1. Go to the page where you have set the Livechat widget on.
2. Click the chat icon
3. Type a message an

[2021-03-18 01:42] ankar84 commented on #21154
I think one of my users have same extraordinary situation. I didn't get to reproduce that, but looks like it was deletion of thread simultaneously with other users answer in it.

[2021-03-18 01:54] ankar84 commented on #21170
Please check yesterday discussion on that topic https://github.com/RocketChat/Rocket.Chat/issues/21153

[2021-03-18 02:02] ankar84 commented on #21163
Indeed I saw that issue on open.rocket.chat recently

[2021-03-18 05:19] micksharma commented on #21171
I am working on this.

[2021-03-18 06:26] fdellwing commented on #21138
I have just found something interesting. Can you click on the "user info" Button in the DM with the longer ID? For me some user that was disabled in the past *and* I had a PM with is shown there. The user info of the DM with the short ID shows my own data.

[2021-03-18 07:24] APPX-Studio opened #21174 "logined website no nav menu"
![image](https://user-images.githubusercontent.com/49307767/111588112-16451080-87fe-11eb-863e-90659f4a341a.png)

[2021-03-18 07:25] #21174 closed

[2021-03-18 07:39] ankar84 commented on #21138
Indeed, you are right!
![image](https://user-images.githubusercontent.com/4023037/111589185-91de9780-87d5-11eb-8a24-4bc94ff2b349.png)
User info for  `kane-3` opened!
Actually I didn't have conversations with that users at all.
It could be the key for the reason of that bug.

On my own server both chats open my user info, which is a little strange.

[2021-03-18 08:10] PriyaBihani opened #21175 "Last login always shows never when viewing profile"
### Description:
When we select a profile to view by clicking on "view full profile "  Last Login date is always set to never.

### Steps to reproduce:

<img width="1440" alt="Screenshot 2021-03-18 at 1 29 36 PM" src="https://user-images.githubusercontent.com/69837339/111592997-7da79400-87ef-11eb-82a2-a00996197e10.png">

1. Select someones profile
2. Click on view full profile
3. Last Login shows

[2021-03-18 08:10] #21175 closed

[2021-03-18 08:13] yash-rajpal commented on #21175
#20923 would fix this issue.

[2021-03-18 08:31] Trutch70 opened #21177 "JS exceptions prevent opening `My Account` tab"
I can't open the `My Account` tab.

Here is the output of the console:

[code]

[2021-03-18 08:31] #21177 closed

[2021-03-18 08:34] Darshilp326 commented on #21170
I think discussion was done in #21153

[2021-03-18 08:41] shrinish123 commented on #21170
I checked the discussion now , but the point is the buttons are not working for me at least, so why to keep them ?

[2021-03-18 08:43] shrinish123 commented on #21159
Should i close this issue ,but atleast we need to keep the pull request to fix this ?

[2021-03-18 08:47] yash-rajpal commented on #21170
It can be useful for others @shrinish123

Lets say you want to make a jitsi call and want to send its link to your friend, one easy way can be to open self's user info and create a call, without disturbing someone else for making a call.

[2021-03-18 08:49] Cherkasik commented on #18989
There is check box in Administration -> General Settings -> Number of unread. Have you enabled it?
If no, that's why it can happen

[2021-03-18 09:09] PierreBon opened #21178 "User creation: Password required even if set random password is selected"
RocketChat Version 3.12.1

On this version, when trying to create a new user, we have an error and we need to fill ourself the password field event if "set random password and send  by email" is select.

![image](https://user-images.githubusercontent.com/7646273/111600444-b59fde80-87d1-11eb-9cde-3c222a6fc419.png)

[2021-03-18 09:09] #21178 closed

[2021-03-18 09:25] PierreBon opened #21179 "User creation: Password required even if set random password is selected"
### Description:

On this RocketChat version, When trying to create a new user, we have an error and we need to fill ourself the password field event if "set random password and send by email" is select.

We didn't have this behavior before.

### Steps to reproduce:

1. Go to 'Administration'
2. Click on 'Users'
3. Then click on 'New'
4. Fill the User Creation form
5. Select "set random password a

[2021-03-18 09:26] Cancer-zern commented on #21157
Same issue: https://github.com/RocketChat/Rocket.Chat/issues/21040

[2021-03-18 10:11] ankar84 commented on #21163
Could be related to https://github.com/RocketChat/Rocket.Chat/issues/20957

[2021-03-18 10:11] foss- commented on #21163
Not related but a dupe.

[2021-03-18 10:38] grthr commented on #21163
Duplicate of #20957

[2021-03-18 10:38] #21163 closed

[2021-03-18 10:38] grthr commented on #20957
still an issue in 3.12.1

[2021-03-18 10:40] pierreozoux commented on #21039
You are right, a job is a job and should be a separate process. I guess their new enterprise offering with microservices has this. In this sense, rails is quiet nicely architected. But again, we could search how is the meteor community doing to run fibers separated from the main webserver ( a quick research didn't bring quick gold :) ).

What is complicated for me is that this side process doesn't

[2021-03-18 10:41] emikolajczak opened #21182 "Rocket.Chat stability issue when many users disconnected and connected again"
### Description:

Hi,
From time to time we have observing really serious Rocket.Chat stability issues. Duo to network problem, about half of our 3000 connected users are disconnected and connected again to Rocket.Chat. This situation caused under 100% processors load on Rocket docker containers and unavailability (messages greyed out, client disconnects). Also high containers RAM and Garbage Colle

[2021-03-18 11:10] ankar84 commented on #21182
That is definitely true!
If I need to restart HAProxy during high daily load I always disable user presence monitor first.

[2021-03-18 11:17] Darshilp326 commented on #21159
@shrinish123 Yes close this issue but keep the PR open!

[2021-03-18 11:28] emikolajczak commented on #21182
Hi,
When you enable presence monitor again? During working hours or when users load is low?

[2021-03-18 12:03] ankar84 commented on #21182
You better enable **Presence Monitor Broadcast** again only on a low load, because enable itself do a big load.
Couple of hours users can work without current statuses, IMHO. But if RC on a very high load - users definitely wont be happy - because no ability to chat - main chat feature.

[2021-03-18 13:18] shrinish123 commented on #21159
Ok Thanks

[2021-03-18 13:18] #21159 closed

[2021-03-18 14:17] lanphiergm opened #21184 "Percent (%) symbols in hyperlinks are escaped again"
### Description:

When using the `[text](address)` syntax for specifying a link, if the address contains encoded characters, the percent symbol gets re-encoded so that, for example, `%20` becomes `%2520`.

### Steps to reproduce:

1. Post the following message in a Rocket.Chat channel:
    `[cool story](https://foaas.com/cool/my%20name)`
2. Click the "cool story" link
3. When the browser opens, no

[2021-03-18 15:40] Kalpana200 commented on #21111
@ak2783934 Sir, I would like to work on it.

[2021-03-18 15:48] rashad101 opened #21187 "KaTeX is not working"
### Description:

KaTeX is not working. Cannot format math notations with KaTeX

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.1
- Operating System: Ubuntu 16.04.6
- Deployment Method: docker
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version: v12.18.04
- MongoDB Version: v4.0.18

[2021-03-18 15:48] #21187 closed

[2021-03-18 15:49] rashad101 opened #21188 "KaTeX is not working"
### Description:

KaTeX is not working. Cannot format math notations with KaTeX

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:
Version of Rocket.Chat Server: 3.12.1
Operating System: Ubuntu 16.04.6
Deployment Method: docker
Number of Running Instances:
DB Replicaset Oplog:
NodeJS Version: v12.18.04
MongoDB Version: v4.0.18

### Clien

[2021-03-18 15:51] Kalpana200 commented on #21152
@ak2783934  I would like to work on it.

[2021-03-18 15:58] Kalpana200 commented on #21142
@antirais I would like to contribute to it.

[2021-03-18 16:24] SimonBin commented on #21188
This seems to be a priority conflict between katex and markdown

[2021-03-18 16:47] #21188 closed

[2021-03-18 16:48] rashad101 commented on #21188
Thanks. The roblem got solved mostly by the using $$ tag

[2021-03-18 17:42] PriyaBihani commented on #21184
I'm working on it

[2021-03-18 19:04] KashyapPavra opened #21191 "User options dots icon close improvement"
### Description:

The dot icon to open options for any chat is currently closes if we click anywhere except on clicking the icon again, I think as a good user-experience the menu should also close when clicking the dots icons
### Steps to reproduce:

1. Go to the main website
2. Click on the 3 dots icon besides any user or channel, it opens a number of options
3. Again click on the dots, it won't

[2021-03-18 19:51] Darshilp326 commented on #21191
@KashyapPavra Hello! Please go through #20968

[2021-03-18 19:58] KashyapPavra commented on #21191
@Darshilp326 Ohh sorry I must have missed this. Thanks.

[2021-03-18 19:58] #21191 closed

[2021-03-18 20:20] apurv-1 opened #21196 "[UI] Message Box, Pop over text don't have hover effect."
### Description:

If the user hovers over popover text, the cursor changes to pointer without any hover effect.

### Steps to reproduce:

1. Open any room.
2. Click on `+`.
3. The popover modal appears, try hovering over those.

### Expected behavior:

It should have some hover effect which matches UI.

### Actual behavior:

https://user-images.githubusercontent.com/53378650/111692181-29cf9600-885

[2021-03-18 22:06] v-rohan commented on #21142
@antirais @KevLehman  I would like to work on this issue.

[2021-03-18 22:09] easaw opened #21198 "Can I buy multiple Github Sponsorships?"
Regarding: https://github.com/sponsors/RocketChat

If I would like to increase my push notifications limit to say, 30k, can I get two sponsorships?

Thank you.

[2021-03-18 22:09] #21198 closed

[2021-03-18 22:44] easaw commented on #21198
Well you could have at least answered yes or no...

[2021-03-18 22:47] easaw commented on #21198
Regarding: https://github.com/sponsors/RocketChat

If I would like to increase my push notifications limit to say, 30k, can I get two sponsorships?

Thank you.

added for bot:

### Steps to reproduce:

### Expected behavior:

### Actual behavior:

### Server Setup Information:

### Client Setup Information

- Steps to reproduce
- Expected behavior
- Actual behavior
- Server Setup Information
- Ver

[2021-03-19 01:45] Kartik18g commented on #21184
Something might be wrong with the markdown creation

[2021-03-19 01:55] PriyaBihani commented on #21184
@Kartik18g  You're right while generating markdown it doesn't check if the url is already encoded or not, i've added a check that ensures only the unencoded url's encode. My PR in progress.

[2021-03-19 03:14] kosmas-formulatrix commented on #21154
Also happen to me. The problem is happening especially when the admin prune message. There is no way to see the removed message after that and leave the unread notification. Also, mark as read didn't clear the number (if the mark as cleared can clear this, it should be enough ).

![image](https://user-images.githubusercontent.com/5257848/111726509-b13ff800-889b-11eb-8ebe-5531e672cb32.png)

[2021-03-19 05:41] PriyaBihani commented on #21131
@ankar84  are you suggesting something similar to vs code sidebar ? or just
an option to collapse the sidebar even in the desktop view.

[2021-03-19 05:53] Vishv07 commented on #21054
Yes

[2021-03-19 05:58] ankar84 commented on #21131
Yeah, VS Code good example of sizable sidebar.
And maybe some limits are needed - minimum and maximum size of sidebar.

[2021-03-19 07:12] DmitriyYashin opened #21200 "The quoted message is displayed incorrectly"
### Description:
When you try to quote a post, it doesn't look right. Just a link and logo of the rocket chat appears
<img width="1063" alt="Снимок экрана 2021-03-19 в 09 14 27" src="https://user-images.githubusercontent.com/54892247/111741737-04b04700-8898-11eb-90d6-3724cf26f526.png">

### Steps to reproduce:

1. Go to 'https://chats.profreework.com/channel/shkolnyi-chat-obshii'
2. Quote any mess

[2021-03-19 07:15] Kartik18g commented on #21200
I'm working on it

[2021-03-19 07:58] Sarimuko commented on #21158
I am trying to work on this issue, any suggestions on where to begin with?

[2021-03-19 08:14] dvydruk commented on #21055
If RC uses the same URL every time we press "call" button than I miss the purpose of all this "call already ended".
Shouldn't it generate different room URL every time?
Now if some one manage to get a URL he can join all the meetings...

[2021-03-19 08:25] PriyaBihani commented on #21145
I am working on it.

[2021-03-19 08:26] GenericGoose opened #21202 "the absolute#1 top priority issue"
https://github.com/RocketChat/feature-requests/issues/38
why is this still not in? this should've been a feature from day 1. do you not understand just how horrible of a security flaw it is that just anyone can join and upload anything? are you waiting for someone to start spamming every public server with gore and illegal stuff before you fix this?

[2021-03-19 08:26] #21202 closed

[2021-03-19 08:27] ankar84 commented on #20957
Yeap
![image](https://user-images.githubusercontent.com/4023037/111751857-07b23400-88a6-11eb-95bc-e5b9ec79c5b2.png)

[2021-03-19 08:28] GenericGoose commented on #21202
thanks bureaucracy

[2021-03-19 08:33] GenericGoose opened #21203 "ultimate absolute #1 top priority issue"
### Description:
RocketChat/feature-requests#38
why is this still not in? this should've been a feature from day 1. do you not understand just how horrible of a security flaw it is that just anyone can join and upload anything? are you waiting for someone to start spamming every public server with gore and illegal stuff before you fix this?
### Steps to reproduce:
join server, spam gore
### Expect

[2021-03-19 08:33] #21203 closed

[2021-03-19 08:34] GenericGoose commented on #21203
alright fuck off

[2021-03-19 08:43] DmitriyYashin commented on #21200
How much estimates?

[2021-03-19 09:13] ankar84 commented on #19080
@dougfabris Looks like that bug fixed in 3.12.1 (maybe on any previous version, I tested in 3.12.1)
![jitsi-thread](https://user-images.githubusercontent.com/4023037/111757566-85793e00-88ac-11eb-9096-3d4417d5827e.gif)

[2021-03-19 10:35] pascal1337 opened #21205 "mark-tags affect internet addresses in search"
Hey,

when searching for an address e.g. `https://rocket.chat/installation` and the result I'm looking for is `https://docs.rocket.chat/installation/mobile-and-desktop-apps`, it destroys the links target and formats it like this: `https://mychat.com/%3Cmark%3Ehttps://docs.rocket.chat/installation%3C/mark%3E/mobile-and-desktop-apps` (bug)

When quoting my partial search string (`"https://rocket.cha

[2021-03-19 10:35] #21205 closed

[2021-03-19 10:44] pascal1337 opened #21206 "mark-tags affect internet addresses in search"
### Description:

When searching for an address there are problems with formatting and the target link. This is issued by the mark-tag.

### Steps to reproduce:
Search for
1. case: `https://rocket.chat/installation`
2. case: `"https://rocket.chat/installation"`
3. case: `"https://docs.rocket.chat/installation/mobile-and-desktop-apps"`

### Expected behavior:

search result should always show and l

[2021-03-19 10:44] adocampo commented on #11649
Thank you @hever , I've implemented your workaround, as I used source installation as well. It's working quite well (some times it adds another "Click to Join" button, but I guess is because the other interlocutor needs to reload the client ignoring cache)

In our scenario, jitsi was working just fine until a few months ago, before the painful 3.11 and 3.12 upgrades. I remember to join a videoconf

[2021-03-19 10:53] ankar84 commented on #19441
Version 3.12.1 still unhandled situation if someone try to start Jtisi call in Read-Only chat

[code]

[2021-03-19 10:56] Kartik18g commented on #21200
I tried reproducing the issue but wasn't able to reproduce it as I couldn't log in and new registrations are closed, any suggestions @DmitriyYashin ?

[2021-03-19 10:57] bellegarde-c commented on #12148
Same issue with 3.12.0

[2021-03-19 11:03] PriyaBihani commented on #21206
Checking it

[2021-03-19 11:12] Kartik18g commented on #21206
@pascal1337 can you elaborate how to reproduce this issue

[2021-03-19 11:25] DmitriyYashin commented on #21200
Sorry  email: test@mail.ru password: 12345678

[2021-03-19 11:35] iamparasbansal commented on #21179
I will like to work on this issue

[2021-03-19 13:43] itsarectangle commented on #6230
Hi there, were you able to work out a solution for this or is this supported now by Rocket.chat in some way?  I'm trying to do the same.   Thanks!

[2021-03-19 13:52] agilecontent-bassani commented on #20206
Same problem here.

It seems that the 'show' action from the tray icon menu is not setting rootWindowState.visible to true. You can edit  ~/.config/Rocket.Chat/config.json and set it manually.

[2021-03-19 14:44] itsarectangle commented on #17914
hi there, did this ever get fixed?  Why was this closed and the last message ignored?  I'm having the same issue.

[2021-03-19 15:17] renatobecker commented on #17914
What is your server version?

[2021-03-19 15:28] itsarectangle commented on #17914
3.12.1

[2021-03-19 17:10] dt123 commented on #21171
Any ETA on a fix here?

[2021-03-19 17:18] fdellwing commented on #21055
Congratulations, you understood how Jitsi works. If you have the link you can join. That is the reason you setup authentication.

[2021-03-19 17:31] frankie-njie commented on #21196
I am trying to work on something for the popup...and alternative to what @apurv-1 had done, but am I finding difficulties in finding the styles for the class = "rc-popover__column"

[2021-03-19 17:38] apurv-1 commented on #21196
Hey @frankie-njie, Its in directory app/theme/client/imports/components/popover.css at line 58.

[2021-03-19 18:29] giterium commented on #21036
In 3.12.1, it just breaks the session after 10 seconds.

[2021-03-19 19:06] apurv-1 opened #21210 "[BUG] Microphone icon in message box vanishes if user doesn't allow."
### Description:

The microphone icon on the Message box in any room disappears if the user doesn't allow the microphone access.

### Steps to reproduce:

1. Open any channel.
2. Try sending a voice message.
3. if you don't allow, the icon disappears.

### Expected behavior:

If the user doesn't allow permission (by mistake), the microphone should appear and the user should again ask for permissio

[2021-03-19 19:10] yash-rajpal commented on #21210
duplicate of #21078 and #21082 solves this problem.

[2021-03-19 19:14] apurv-1 commented on #21210
Have a look at #21078  once again @yash-rajpal.

[2021-03-19 19:25] dvydruk commented on #21055
I know how Jitsi works. I thought that RC generates different URL over time. But now it is the same url for RC channel for days.

[2021-03-19 19:32] yash-rajpal commented on #21210
@apurv-1 I did, and realised. So deleted my comment. :)

Are you working on this?

[2021-03-19 19:48] apurv-1 commented on #21210
Yes, mentioned a PR.

[2021-03-19 21:48] emaktech commented on #658
We are actively looking for an open-source Slack/Teams style alternative that supports multi-tenant installations. Typically multi-tenant is handled by putting each tenant on their own domain/subdomain.

Broadly speaking, it can be accomplished by adding a new primary key in every database table specifying the tenant something belongs to. Definitely a lot of work for a big project like this, but t

[2021-03-19 22:20] robpedersendev commented on #20884
Any other advice or ideas here?

[2021-03-20 02:32] PriyaBihani commented on #21145
This might not be a technical issue it's just that you need to add ad valid API token before being able to use auto translate.
`https://docs.rocket.chat/api/rest-api/methods/autotranslate`

[2021-03-20 02:38] geekgonecrazy commented on #21049
If you had an http error or something I'd say it was the gateway.  But that exception alone doesn't give me enough context.

As is I'd say some how your user doesn't have permission to execute the call.  But if admin that doesn't make sense unless you took one of your permissions away in permission manager

[2021-03-20 03:54] rahljoshi commented on #21126
Can I work on this issue?

[2021-03-20 10:41] siva2204 opened #21216 "[Bug] admin/info route renders error loading pages for "user" role users"
### Description:
admin/info route for "user" roles renders error loading pages instead of "*you are not authorized to view this page*".

### Steps to reproduce:

1. login as "user" role user
2. navigate to http://x.x.x/admin/info

### Expected behavior:
the response must be **you are not authorized to view this page**

![Screenshot from 2021-03-20 15-53-33](https://user-images.githubusercontent.co

[2021-03-20 11:03] petschni commented on #21049
I eventually got it fixed. After re-enabling push again it still did not work but one day later it did. So issue can be closed.

[2021-03-20 11:03] #21049 closed

[2021-03-20 11:24] Codeweb04 opened #21217 "Meteor Error in deploying"
I cloned the rocket chat repo and ran `meteor npm install && meteor`, it wasn't able to deploy the app and got stuck, so I exited and tried `meteor` but the same happened. It throws this error:
[code]

And gets stuck there.

[2021-03-20 11:24] #21217 closed

[2021-03-20 11:28] Codeweb04 opened #21219 "Errors prevented startup meteor"
I cloned the rocket chat repo and ran meteor npm install && meteor, it wasn't able to deploy the app and got stuck, so I exited and tried meteor but the same happened. It throws this error:

Errors prevented startup:

While loading plugin `Livechat` from package `rocketchat:livechat`:
child_process.js:635:11: Command failed: C:\web dev\RocketChat\Rocket.Chat\packages\rocketchat-livechat\plugin/bui

[2021-03-20 11:28] #21219 closed

[2021-03-20 11:29] rasos commented on #12148
This is a regression. Even when it was fixed a year ago with #16601 it still appears in 3.7.1 in the web browser and app. Likely the other user has put the laptop in hibernation.  Very annoying and makes integration of Jitsi Calls unusable.

[2021-03-20 11:29] nooblag commented on #21158
I have no idea sorry, I'm not a developer, just reporting the bug

[2021-03-20 11:31] nooblag commented on #19080
I haven't encountered it for a while and now using 3.12.1 so maybe you're right.

[2021-03-20 11:42] Codeweb04 opened #21220 "Errors prevented startup"
### Description:

I cloned the rocket chat repo and ran `meteor npm install && meteor`, it wasn't able to deploy the app and got stuck, so I exited and tried meteor but the same happened. It throws this error:

[code]

Your application has errors. Waiting for file change.
Started MongoDB.

And gets stuck there.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### S

[2021-03-20 12:38] siva2204 commented on #21216
I'm working on that :)

[2021-03-20 12:40] siva2204 commented on #21216
there's no need to run side effects(use effect) if the user role is "user"

[2021-03-20 12:45] yash-rajpal commented on #21216
@siva2204 #21218 solves this issue.

[2021-03-20 13:22] apurv-1 commented on #21145
It is on the production, and If you closely look at the video, the languages actually translates but the language name is not shown in the dropdown.

[2021-03-20 14:22] siva2204 commented on #21216
@yash-rajpal according to your pr whether a user is authorized or not, it will request server for statistics and calls method instances/get, where server will throws an error for that method and bad request for API call (check your serverlog & devtools). if user role is "user" which gets catched and component renders again un wantedly.my pr #21221 solves this.

[2021-03-20 19:20] GunnerBasil commented on #17766
still exists

[2021-03-20 21:16] caesarcxiv commented on #21154
Same issue after prune - channels have unread counters that cannot be reset.

[2021-03-21 07:06] BrijeshBumrela opened #21226 "[IMPROVE] Status tooltip for LiveChat conversations"
### Description:

Adding a status tooltip for LiveChat conversations

### Steps to reproduce:

1. Start a conversation through LiveChat
2. Hover over the guest

### Expected behavior:

Show status "Online" | "Offline" (when the chat is not finished by the customer)
![Screenshot from 2021-03-21 12-22-56](https://user-images.githubusercontent.com/37417813/111896723-90190c00-8a41-11eb-9fca-97d470e75f

[2021-03-21 07:06] BrijeshBumrela commented on #21226
If it is a valid improvement, I would like to work on it :)

[2021-03-21 10:26] #21220 closed

[2021-03-21 14:01] thomsenle commented on #21045
Seems like the same problem
https://github.com/RocketChat/Rocket.Chat/issues/20939

[2021-03-21 15:30] PaleCoder opened #21228 "Reset Password hangs when there is a . in the email address"
I'm trying to reset my password, and I can type in any random address and it will go through immediately, but when I put in my real address, formatted like so: xxxxxxx.xxxxx@gmail.com, it hangs indefinitely. I can only assume it is because there is a period there. The reset password button just says "Please Wait..." and never changes.

[2021-03-21 15:30] #21228 closed

[2021-03-21 18:23] azhaubassar opened #21230 "[BUG] Discussions and Threads not showing in Safari"
### Description:
Discussions and Threads not showing when opened from the channel in Safari.

### Steps to reproduce:

1. Go to https://open.rocket.chat
2. Open any channel which contains discussions or threads.
3. Open the discussions or threads(at the top right toolbar).

### Expected behavior:

Discussions and threads in the channel should appear in Safari, Chrome, Firefox, and other browsers.

[2021-03-21 18:23] #21230 closed

[2021-03-21 18:29] azhaubassar opened #21231 "[BUG] Discussions and Threads not showing in Safari"
### Description:
Discussions and Threads not showing when opened from the channel in Safari.

### Steps to reproduce:

1. Go to https://open.rocket.chat
2. Open any channel which contains discussions or threads.
3. Open the discussions or threads(at the top right toolbar).

### Expected behavior:

Discussions and threads in the channel should appear in Safari, Chrome, Firefox, and other browsers.

[2021-03-21 19:04] piyushdevOP commented on #21206
Trying it

[2021-03-21 19:54] AllAstronauts commented on #21126
Bump on all of this. A lot of my integrations are broken now. attachment - text parses alright but that's about it. Losing audio_url right now hurts.

[2021-03-21 22:01] MikeScotty opened #21232 "Unable to delete Rocket.Chat account"
Whenever I try to delete my rocket.chat account it says "Invalid username". Even though I copy and pasted it into the dialog. I signed up using github if that helps any.

[2021-03-21 22:01] #21232 closed

[2021-03-21 22:13] MikeScotty opened #21233 "Unable to delete rocket.chat account"
### Description:

Whenever I try to delete my rocket.chat account it says invalid username, Even after I copied and pasted the correct username into the dialog.

### Steps to reproduce:

1. Go to My Account
2. Click on delete my account
3. Enter username

### Expected behavior:

Account is deleted

### Actual behavior:

It tells me that the username I entered is Invalid

### Server Setup Informati

[2021-03-22 01:37] cpmech commented on #17531
Exactly!

I'm still using the following suggestion from 2017 to disable emphasis: https://github.com/markedjs/marked/issues/753

[2021-03-22 02:07] APPX-Studio opened #21234 "Marketplace install Dialogflow error failed [500]"
### Description:

failed [500] {"code":475,"error":"app not ready yet","errorId":"82c999c1-3ae5-4d9c-a824-4512a3afb636","status":500}

![image](https://user-images.githubusercontent.com/49307767/111931267-d3cd4d80-8af5-11eb-8feb-42ebeae08b82.png)

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

don't install google Dialogflow

### Actual behavior:
don't install google Dialogflow
![image

[2021-03-22 04:43] anthonymanzo commented on #4685
Wow, it's been 5 years and I need help with this same thing.  I'm using Django, and trying to configure Django Oauth Toolkit to get the same functionality -- If a user is logged into Django, they can automatically get logged in to the chat, which I have in an iframe.  I've been using iframe auth before this, but it has been flakely, hoping this is more solid.
Cheers

[2021-03-22 07:02] PriyaBihani opened #21235 "[BUG]Multi Select isn't working in Export Messages"
### Description:

While exporting chat messages,  ' To Users ' field  was supposed to accept multiple user names but it was accepting just a single user name.

### Steps to reproduce:

1. Create a Private Channel and send some messages.
2. Click on export messages.
3. Select the users from user field.

### Expected behavior:

We should be able to select multiple users.

### Actual behavior:

https

[2021-03-22 07:09] Kartik18g commented on #21231
Working on it

[2021-03-22 07:25] pauloriply opened #21237 "Logical error for disabled users"
### Description:

earlier, when I deactivated a user in the admin panel, the chat channel with him became read-only.
now I can continue chat with the deactivated user.
how to return early behavior?
it is absolutely logical that after disabling the user, the room (DM) with him for all users becomes read-only status, which helps users to understand that this user has been blocked (in our case, the u

[2021-03-22 08:43] sennewood commented on #13380
Does 3.11 or 3.12 still benefits from DISABLE_PRESENCE_MONITOR when multiple instances are used?

[2021-03-22 09:15] sennewood commented on #20105
3.11.2 those filters are also missing, but I remember that they exists in previous versions.

[2021-03-22 09:38] szampardi commented on #4297
@airdogvan next time you need that you should `docker run -d [...mount volumes etc..] --entrypoint /bin/sh $image tail -f /dev/null`

[2021-03-22 09:39] sennewood opened #21239 "MD035 - Horizontal rule: doesn't work"
### Description:

Horizontal rules wont be rendered like descripted: https://docs.rocket.chat/contributors/contributing/documentation/markdown-styleguide#md035-horizontal-rule-style

### Steps to reproduce:

1. Start a new message.
2. Write three lines and make the 2nd "---".
3. Send.

### Expected behavior:

A horizontal line appears.

### Actual behavior:

A horizontal line doesn't appear.

###

[2021-03-22 09:49] albertosgz commented on #21033
hi guys! any new on this? @lolimay

[2021-03-22 10:35] sennewood opened #21241 "Saving the room topic deletes "hide system messages" settings"
### Description:

Saving the room topic deletes "hide system messages" settings.

### Steps to reproduce:

1. Create a new room.
2. Define some hidden system messages.
3. Save and exit.
4. Refresh the page, just to be sure :)
5. Set a topic and click on save.
6. Refresh the page.
7. See "Hide System Messages".

### Expected behavior:

Topics and hidden system messages shouldn't interact.

### Actu

[2021-03-22 11:09] Nono-m0le commented on #19165
Any update on this issue ?

I'm still getting multiple (false positive) alerts daily

[2021-03-22 12:56] mateusrovedaa opened #21243 "Message being marked as read on a thread if it is open and has another chat open"
### Description:
When chatting on a thread and leaving it open, that is, just switch to another chat without clicking close on the thread, when someone sends a message it will be automatically marked as read.
The notification takes place and at the same time it is marked as read. This makes it difficult because we do not always remember to close a thread. This was working well and recently started

[2021-03-22 12:56] #21243 closed

[2021-03-22 12:57] Jeanstaquet commented on #21241
I found the problem, I prepare the commit

[2021-03-22 13:01] mateusrovedaa opened #21244 "Message being marked as read on a thread if it is open and has another chat open"
### Description:

When chatting on a thread and leaving it open, that is, just switch to another chat without clicking close on the thread, when someone sends a message it will be automatically marked as read.
The notification takes place and at the same time it is marked as read. This makes it difficult because we do not always remember to close a thread. This was working well and recently starte

[2021-03-22 13:05] Kartik18g opened #21245 "Status message doesn't change once a custom status is set"
### Description:

When a user sets custom status and then changes it afterwards to one of the presets "busy", "away", "invisible" or "online", the status message doesn't change according to the preset values instead stays set to the custom message.

### Steps to reproduce:

1. Click on the user avatar on top left.
2. select a custom status and create a custom status.
3. Change the status back to a

[2021-03-22 14:17] nishant23122000 opened #21249 "Option to video call or audio call with own self"
## Description:

When I open my own chat section (Direct message with own self) and open the user info option, it will show the start video call and audio call buttons.

## Steps to reproduce:

1.Search your own name inside the left section
2. you will reach the chat section where you can send messages to yourself
3. click one user info icon on the top right of the chat section
4. you can find the

[2021-03-22 14:38] yash-rajpal commented on #21249
Please check earlier discussions on it, #21153 and #21170

[2021-03-22 15:51] shrinish123 commented on #21249
Yep this issue can be fixed by #21172

[2021-03-22 16:03] #21249 closed

[2021-03-22 16:54] rahljoshi commented on #20993
Can I work on it?

[2021-03-22 19:22] siva2204 opened #21255 "Admin settings search filter not working properly"
### Description:

setting search filter in admin panel is not working properly

### Steps to reproduce:

1. navigate to admin panel
2. scroll down to settings in the admin sidebar
3.  start searching

### Expected behavior:

### Actual behavior:

https://user-images.githubusercontent.com/63258524/112045879-5ba46d80-8b71-11eb-800e-997055bb66ce.mp4

### Server Setup Information:

- Version of Rocket

[2021-03-22 21:05] JakobFerdinand commented on #12587
I got the same log some seconds after starting.

`Rockte.Chat 3.12.1 (Docker)`

[code]

[2021-03-22 21:13] ggazzo commented on #21108
I closed your PR because we have a design for that, the implementation should follow the design. I will mark the design team here, but I dont think this is a real problem

[2021-03-22 22:52] #11213 closed

[2021-03-22 23:08] #20927 closed

[2021-03-22 23:23] #20866 closed

[2021-03-22 23:33] #14735 closed

[2021-03-22 23:40] #20752 closed

[2021-03-22 23:40] #21002 closed

[2021-03-22 23:41] #20734 closed

[2021-03-22 23:44] #20628 closed

[2021-03-22 23:49] #20353 closed

[2021-03-23 00:24] #20944 closed

[2021-03-23 01:43] ankar84 commented on #21237
agree with @pauloriply
previous behavior was more logical.

[2021-03-23 03:02] #21121 closed

[2021-03-23 03:15] mmgoilf commented on #20990
Often uploading files will get stuck on 0%, long after RC has been opened. Other times, images in some channels will fail to load, only showing as thin lines instead

[2021-03-23 03:36] Kartik18g commented on #21231
@azhaubassar on digging in i found that the problem is with "Virtuoso" the library that's used here for the sidebar. `https://github.com/petyosi/react-virtuoso/issues/309` according to the discussion here, it virtuoso doesn't support data attribute on safari, I'm working on a workaround though.

[2021-03-23 04:59] Darshilp326 commented on #21255
@siva2204 Hello! Please go through this #21029

[2021-03-23 05:02] manmath opened #21265 "Rest API im.messages has problem with CORS enable"
I enabled CORS and added my domain into CORS Origin.
![manmath-enabled-cors](https://user-images.githubusercontent.com/2101163/112095382-faab8280-8bce-11eb-8b21-cbe02ad1e467.png)

I tried to access APIs like `users.list`, `im.list`, `im.history`, ... work properly. There is one that does not working is `im.messages`, it is still blocked by cors. See error message:

_Access to XMLHttpRequest at 'ht

[2021-03-23 05:02] #21265 closed

[2021-03-23 07:48] fdellwing commented on #21040
I can confirm this issue, it does work if it is wrapped in something like a code block. But not as plain text.

[2021-03-23 07:49] jorgtron commented on #4996
Would really love this feature as well.

[2021-03-23 08:15] priyanshuSharma-WebDev opened #21266 "General Question about contributing?"
Hey! I am using your project past few months and I really love it, I want to contribute in it but your code base is quite large and I don't able to understand. But **I really want to become a part of your community can anybody guide me if he/she doesn't mind or have time to guide me**

I hope you will accept a newbie in your project like me.
Thank you very much in advance ...

[2021-03-23 08:15] #21266 closed

[2021-03-23 09:07] DmitriyYashin commented on #21200
Hello. What about estimates?

[2021-03-23 09:11] nishant23122000 opened #21267 "Autocomplete"
I think we should implement the **autocomplete** feature in the message input box. This will improve User Experience, speed typing, and great usability.

We can implement this feature as the user types the message, a faded text generation shows possible completion of that message, which can be accepted by the TAB key.

Any custom library can be used to bring this into reality.

[2021-03-23 09:11] #21267 closed

[2021-03-23 11:30] tmartincpp commented on #20596
Same issue for me: as an admin you can enable E2E in direct messages but not as a user or owner, despite the permissions being set.

[2021-03-23 12:23] valessiobrito opened #21268 "Replace racially charged language "whitelist/blacklist""
I'd like to deprecate the "whitelist/blacklist" language in Rocket.Chat, replacing them with "safelist/blocklist". (Not a new or original idea; saw this at rack/rack-attack#181.)

print:

![Screenshot from 2021-03-23 09-19-55](https://user-images.githubusercontent.com/310049/112145465-291e6300-8bb9-11eb-92f2-e6840feb419c.png)

[2021-03-23 12:23] #21268 closed

[2021-03-23 12:24] valessiobrito commented on #21268
Steps to reproduce
Expected behavior
Actual behavior
Server Setup Information
Version of Rocket.Chat Server

[2021-03-23 12:25] valessiobrito commented on #21268
@engelgabriel

[2021-03-23 12:25] arpsyapathy commented on #21055
Hi all!

I have the same problems after upgrade!

[2021-03-23 12:39] dvydruk commented on #15787
This problem can be mitigated by creating a separated realm in Keycloak wich accepts only correct users.

[2021-03-23 14:35] qchn commented on #21013
Hi @ggazzo, @geekgonecrazy, @engelgabriel, @rodrigok

can someone help me with this, please?

Best
Robert

[2021-03-23 15:02] seblu opened #21271 "ReferenceError when "module" string is present in incoming webhooks"
### Description:

The presence of the **"module"** string, either with quote or without trigger **ReferenceError** in incoming webhook scripts.

### Steps to reproduce:

1. Create an incoming webhook
2. Add a script with a module string inside like :
[code]
3. Trigger it.
[code]

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:  3.12.1 H

[2021-03-23 15:38] shrinish123 opened #21272 "WE can create many roles with the same name"
### Description:

We can make create roles  in the admin panel with the same name .

### Steps to reproduce:

1. Go to the Admin Panel -> Permissions -> + button in the right corner
2. Try to create a new role with name which is already existing . And it creates a new role with the same name
3.

### Expected behavior:

There should be only one role with one name

### Actual behavior:

![Screenshot

[2021-03-23 15:45] murtaza98 commented on #21234
Hey @APPX-Studio Could you try to install the app again? This issue should be fixed now

[2021-03-23 17:04] vikkastiwari opened #21275 "Getting Started"
To, Mentors and Contributors.
I am React and Open Source Enthusiast and want to get started with the contribution. Any suggestion would be a great help for me with respect to project workflow that from where I should start my contribution as a beginner.
Thank You!

[2021-03-23 17:05] #21275 closed

[2021-03-23 19:17] #20741 closed

[2021-03-23 19:25] #20369 closed

[2021-03-23 19:27] ggazzo commented on #20362
this is how we 'hide' roles currently. they are 'default' roles that we dont want to show actually (by default) thats why they have no description).

[2021-03-23 19:27] #20362 closed

[2021-03-23 19:29] #15973 closed

[2021-03-23 19:30] #19259 closed

[2021-03-23 19:35] #19964 closed

[2021-03-23 19:37] #20024 closed

[2021-03-23 19:41] #19343 closed

[2021-03-23 19:52] JPaulMora commented on #18759
Confirmed not working yet.

[2021-03-23 19:56] ggazzo commented on #17205
sorry the delay, I thought the guys are handling that issue. The best explanation I can give is: the build step (`meteor build` command) requires `meteor npm install` that will includes the development packages. after you have built you can run `meteor npm install --production`, this dependency is never used in production, it is copied in an initial step of the build, making the package files part

[2021-03-23 19:56] #17205 closed

[2021-03-23 21:54] dudanogueira opened #21279 "channels.messages api endpoint always returning 403 Unauthorized"
### Description:

This api always returns unauthorized, and breaks the UI from the omnichannel, not allowing to see the latest channels messages from the same user.

### Steps to reproduce:

1. Open one omnichannel chat, close it.
2. Open a second omnichannel chat.
3. Click at the clock, from the visitor info panel
4. Click on one of the previous chats

### Expected behavior:

The chat should be s

[2021-03-23 23:21] #20439 closed

[2021-03-23 23:43] #21279 closed

[2021-03-23 23:45] dudanogueira commented on #21279
I paid no attention to the code. You are required one permission and not the other one. Changing the permission accordingly solved my issue.

[2021-03-24 01:59] OdinWynd commented on #19910
This is still a bug, it has only been partially fixed.

[2021-03-24 02:15] OdinWynd opened #21280 "Custom OAuth only partially removed when clicking "Remove custom oauth"."
### Description:
Custom OAuth only partially removed when clicking "Remove custom oauth".

### Steps to reproduce:

1. Login and go to administration
2.Create new custom OAuth.
3.After creating it try to remove it with REMOVE CUSTOM OAUTH button.

### Expected behavior:

Custom oauth is removed

### Actual behavior:

Custom oauth is partially removed

1. The custom oauth remains listed.
2. Roles/G

[2021-03-24 04:10] himanshujaidka opened #21281 "Bug: No scrollbar in members section"
### Description:
There is no scrollbar in the member's section, if the user wants to see the members list then he or she is not able to scroll
![Screenshot (182)](https://user-images.githubusercontent.com/58654018/112253567-f8a3fb00-8c84-11eb-9fb6-ff4b714ff269.png)

[2021-03-24 04:10] #21281 closed

[2021-03-24 04:17] himanshujaidka opened #21282 "Bug: Scrollbar is missing"
### Description:
There is no scrollbar in the members section.

### Steps to reproduce:

1. web app or desktop app
2.  click on any channel
3. go to members option, here you will find that user is not able to scroll the list

### Expected behavior:
There should be a scrollbar so that the user is able to scroll the member's list

### Actual behavior:
Not able to do scrolling

![Screenshot (182)](ht

[2021-03-24 06:38] farhad2161 opened #21283 "Optional email"
How can I make `email` and `name` optional for user creation `/api/v1/users.create` ?

[2021-03-24 06:38] #21283 closed

[2021-03-24 07:13] nishant23122000 opened #21284 "Upload image freezes in channel edit section"
### Description:

When I change the room image and upload any other image file, it works fine but if I upload some other file format like .txt, .docx, etc then the upload screen freezes. And after that, if I try to upload a correct extension image format then it doesn't reflect. The image box goes into a permanent skeleton loading screen.

### Steps to reproduce:

1. Create your own channel or els

[2021-03-24 08:27] APPX-Studio commented on #21234
i have install scuseeed ,i am to test,if can running bots.i will to tell  you. thank you.

[2021-03-24 09:32] fabiosurrage commented on #20939
I got exactly the same error. Any help ? I think we are missing something...

[2021-03-24 10:49] Karasuni commented on #8989
There is _no_ escaping of special characters in RocketChat?

[2021-03-24 11:01] NgocTH commented on #11288
@AmShaegar13  @magicbelette  @ankar84
Hello, we are currently having issue about CPU of server and DB increases 100% when many users disconnected and reconnected.
Currently with 1000 users online, we deployed (which is to restart all servers, when each server starts again, user access to server again causing CPU of server rise to 100% and it doesn't go down. We opened devtool on Chrome browser and

[2021-03-24 11:10] ankar84 commented on #11288
@NgocTH Hi!
Please check that issue https://github.com/RocketChat/Rocket.Chat/issues/1338 https://github.com/RocketChat/Rocket.Chat/issues/21182
And that thread at open server https://open.rocket.chat/channel/support?msg=3zoNiPWAQLyeNkvzR

[2021-03-24 11:25] Kartik18g commented on #21282
working on it

[2021-03-24 11:26] PriyaBihani commented on #21284
Working on it

[2021-03-24 11:36] himanshujaidka commented on #21282
already working, FIFO

[2021-03-24 11:53] nishant23122000 commented on #21284
@PriyaBihani can i join with you?

[2021-03-24 12:04] nishant23122000 commented on #21284
Can you mention the issue, So that I can understand it's already working?

[2021-03-24 12:10] magicbelette commented on #21182
Hi,
Remember to enable sticky sessions on your reverse proxy to avoid unecessary broadcast between instances :
https://github.com/RocketChat/Rocket.Chat/issues/17473#issuecomment-621203370
Cheers

[2021-03-24 12:15] emikolajczak commented on #21182
Hi,
We have configured sticky session on haproxy from begin.

[2021-03-24 12:50] iammattmartin commented on #21157
This also appears to impact long message lines which are truncated and made to flow to a new line. Likely a change made which broke both.

[2021-03-24 13:00] matheus-rn commented on #21078
#21082

[2021-03-25 12:54] sennewood opened #21300 "Feature Request: Drag & Drop messages into a thread"
At our server it often happens, that users write into the main chat when they reply to a thread - mostly because somebody clicked on "post into main chat" (or whatever it is called in english ^^). To fix this, it would be awesome if the channel owners, moderators and the author of a post could move a message into the thread.

[2021-03-25 12:54] #21300 closed

[2021-03-25 12:57] sennewood commented on #21300
Dear bot,

I updated my issue. Please re-open it :(

[2021-03-25 12:57] sennewood commented on #21300
Dann halt nicht! 😠

[2021-03-25 13:02] giterium opened #21301 "Missing permission delete-own-message"
There is no way to prevent users from editing someone else's messages, so that they can still edit their own messages

[2021-03-25 13:02] #21301 closed

[2021-03-25 13:11] giterium opened #21302 "Missing permission edit-own-message"
### Description:

There is no way to prevent users from editing someone else's messages, so that they can still edit their own messages

### Steps to reproduce:

1. Go to Permissions
2. Enter "message" in the search box
3. The results will not include Edit own message

### Expected behavior:

Some users would like their messages not to be able to be edited by others, but to be able to edit their o

[2021-03-25 13:14] devZer0 opened #21303 "rocketchat web crashes with "undefined" when browsing trough userlist in channel"
### Description:

when you enter a channel, then choose "Members" Button on the upper right, choose "All" in the dropdown and then scroll trough the userlist without entering a search term, my browser view crashing with "undefined" (screenshot) when you try to scroll down trough the list.

it happens with firefox and safari on OSX, but not with rocketchat or fairchat mobile app.  tried both rocket

[2021-03-25 13:14] #21303 closed

[2021-03-25 13:27] devZer0 commented on #21303
oh, i see, you have to many bugs to handle/solve. sorry for disturbance....

[2021-03-25 14:45] mc opened #21304 "When deleting Messages in a Room, there is a hardcoded Limit of 2000 Messages."
https://github.com/RocketChat/Rocket.Chat/blob/deca64cd3ead7405bb3f225afa98c78079ccca40/client/views/room/contextualBar/PruneMessages/PruneMessages.js#L207

Hi,

I try to clean up a room with well over 350.000 Messages. Every delete Action is limited at a maximum of 2000 message.  This limit is hardcoded at the location referenced above.  It'd be nice if there was a way at least for server admins

[2021-03-25 14:45] #21304 closed

[2021-03-25 14:56] mc opened #21305 "Deleting Messages deletes max 2000 messages"
### Description:

Deleting Messages deletes max 2000 messages

### Steps to reproduce:

1. click on the channel in question
2. click on the triple dot in the upper right corner
3. click delete messages
4. select older-than
5. choose 2021-01-01
6. click the big fat red DELETE button

### Expected behavior:

Messages before 2021-01-01 are deleted

### Actual behavior:

2000 Messages are deleted.

##

[2021-03-25 14:56] mc commented on #21305
### Seriously though ###

The Limit is hardcoded at
https://github.com/RocketChat/Rocket.Chat/blob/deca64cd3ead7405bb3f225afa98c78079ccca40/client/views/room/contextualBar/PruneMessages/PruneMessages.js#L207

I tried to clean up a room with well over 350.000 Messages. Every delete Action is limited at a maximum of 2000 message. This limit is hardcoded at the location referenced above. It'd be nice

[2021-03-25 16:02] Tadls commented on #21305
Hi, I've the same Problem now.
Over 7.65GB uploads, over 320 tsd messages.
Is there any possibility to say "leave only messages start from 1.1.2021 and any other incl. attachments delete"?
My VM was today dead because of "disk full".
Greets

[2021-03-25 18:36] sammyzord commented on #21305
I'm trying to see if there is a good reason for the hardcoded limit as simply getting rid of if would be simple enough.

[2021-03-25 19:26] g-thome commented on #21104
we use a linter to enforce formatting in general, but old code written before those rules got implemented may indeed contain inconsistencies. if you find any examples i ask you to report them so we can fix them

[2021-03-25 20:07] devZer0 commented on #21300
i think it's totally fine how rocketchat does welcome volunteers reporting issues. NOT

[2021-03-25 20:37] sennewood commented on #21305
Instead deleting the hardcoded limit, a variable limit in the Admin-UI could do the job. So if someone server can't handle more than 2.000 messages, the limit can be reduced - and if someones server can handle 50.000+ messages at once, the limit can be raised.

[2021-03-25 21:09] jrgong420 commented on #18398
Same issue here with some users

[2021-03-25 21:28] sammyzord commented on #21305
Nice idea, I'll start working on it

[2021-03-25 22:42] shrinish123 commented on #21237
Hello @pauloriply how do we deactivate a user in admin panel ? Please help

[2021-03-25 23:56] renancleyson-dev commented on #21158
After reproducing(without 2FA), this is what I figured out, let's use the enumeration to refer to these checks:
1. The server counts how many failed attempts to log in the user did since his last session. Then checks if it's less than the limit count https://github.com/RocketChat/Rocket.Chat/blob/f01b25554bb5eaf08ac4aada9c6c2c9ff48f44dc/app/authentication/server/lib/restrictLoginAttempts.ts#L62-L6

[2021-03-26 04:48] renancleyson-dev commented on #21154
I reproduced it with different steps. Instead of sending a message on a thread and then delete it, I deleted the whole thread with prune.

### New steps to reproduce
- Open a thread with at least two persons
- Person A sends a message
- Admin prune messages of Person A and B
- Person B with permanent unread counter

[2021-03-26 05:38] DmitriyYashin commented on #21200
How much estimates?

[2021-03-26 07:15] siva2204 opened #21313 "user not logged out completely after Reset E2E keys"
### Description:
user is not logged out completely after reset E2E keys, they have to sign in again to get their new E2E keys. thus all the requests after reset E2E keys are unauthorized, the user is not pushed to the home route to sign in again.

### Steps to reproduce:

1. Go to My account
2. navigate to security, E2E Encryption
3. click the Reset E2E key

### Expected behavior:

user must be lo

[2021-03-26 09:20] mosesdd commented on #18398
@MartinSchoeler I can see a 404 in Browser Console when I try to open the user info page. Seems like trying to load an avatar of a user (that is disabled in ldap) fails
https://rocketchaturl/avatar/username

[2021-03-26 14:24] primozkocuvan opened #21319 "messagePopupConfig.js"
Hello, I would like to add something to this script, but I don't quite understand what should for example in this popupSlashCommandsConfig() function the getFilter method return? The getFilter takes 2 parameters one is collection the other is filter. This collection is a Set or a Map data structure like it's named in the javascript language? What is then filter parameter?

And what is `TAPi18n` ob

[2021-03-26 14:24] #21319 closed

[2021-03-26 15:04] caesarcxiv commented on #20925
Confirmed still broken.

Researching the error, appears to have to do with the + parsing in node.

[2021-03-26 16:02] Schrammi opened #21320 "embedded layout disappers after clicking somewhere"
### Description:
When i load a channel with ?layout=embedded, the channel loads with the simplistic optic. This is ok. But when i click somewhere in the window, the query parameter dissapers and the full optic is shown.

### Steps to reproduce:

1. Open https://open.rocket.chat/channel/general?layout=embedded
2. Click somewhere in the window

### Expected behavior:

The view stays in layout=embedd

[2021-03-26 16:03] #21320 closed

[2021-03-26 16:08] Schrammi opened #21321 "embedded layout disappers after clicking somewhere"
### Description:

When i load a channel with ?layout=embedded, the channel loads with the simplistic optic. This is ok. But when i click somewhere in the window, the query parameter dissapers and the full optic is shown.

### Steps to reproduce:

1. Open https://open.rocket.chat/channel/general?layout=embedded
2. Click somewhere in the window

### Expected behavior:

The view stays in layout=embed

[2021-03-26 16:49] Brendan-McCoy commented on #20884
Having a similar issue. The messages only decrypt for users on the mobile app, but the desktop app or webapp, even after inputting the key on the prompt, are not decrypting messages.

[2021-03-26 17:26] shrinish123 commented on #21233
hi @MikeScotty can you try doing the same by entering your password instead of username ? please tell me if that works

[2021-03-26 18:34] NicoHaase opened #21325 "Sort channels by most recent message does not work"
### Description:

#16604 introduced the possibility to sort the channel list by most recent message. This does not work on our instance: some channels do not list any "last message" (even if they had at least one in the last twelve months), for others, this date is set to a random date many months ago

### Steps to reproduce:

....sorry, I don't know how to reproduce it

### Expected behavior:

Pr

[2021-03-26 19:44] pkonnov commented on #18939
:v:
In the ldap module, I make a check that is already in the chain of user authentication logic through possible services. This solution makes it possible to prevent unnecessary requests from being sent to ldap.
I think you can create a function in app/authentication/server/startup/index.js or app/authentication/server/utils.js(for exapmle) and call it before sending requests to other authenticat

[2021-03-26 22:35] MikeScotty commented on #21233
@shrinish123 Umm... I signed up using Github, I don't have a password and am unable to create one.

[2021-03-26 23:46] Jonathan-juc opened #21334 "Email Inboxes - Email conversations are not assigned to the configured department when the contact's email is registered with Rocket.Chat"
**Description:**

When a contact initiates an email conversation and the contact's email exists in Rocket.Chat, it is assigned to the department of their last conversation, not the department configured in Email Inboxes. The conversation is expected to be assigned to the department configured in the Email Inboxes

**Steps to reproduce:**

1. Set up an email in the Email Inboxes. Add in the departm

[2021-03-27 00:46] andriamirul opened #21335 "Image placeholder not rendered/showing at omnichannel client (guest) side"
### Description:

Hello Rocket.chat,

Were trying to develop some omnichannel for our product, but we found some problem. When the client (Guest) side try to upload an image, it failed to loading. Meanwhile from the admin side, the image load just fine.
### Steps to reproduce:

1. Enable omnichannel, insert the omnichannel code to the website
2. Start the chat with agent
3. Upload a image as guest

[2021-03-27 05:57] Aakash2408 commented on #21282
Can I Work on this issue @himanshujaidka?

[2021-03-27 07:48] #21234 closed

[2021-03-27 08:06] Aerya opened #21336 "Tonights update: RC wont restart (control is locked/Can't find migration)"
Hi

### Description:
Using the official Docker: https://hub.docker.com/r/rocketchat/rocket.chat
Tag: Latest
It was auto-updated about 5-6 hours ago and RC didn't restart.

### Actual behavior:
[code]

### Server Setup Information:
- MongoDB Version: mongo:4.0

[2021-03-27 08:06] #21336 closed

[2021-03-27 08:09] Aerya opened #21337 "Last update: RC won't start (control is locked/Can't find migration)"
Hi

### Description:
Using the official Docker: https://hub.docker.com/r/rocketchat/rocket.chat
Tag: Latest
It was auto-updated about 5-6 hours ago and RC didn't restart.

### Steps to reproduce:

### Expected behavior:

### Actual behavior:
[code]

### Server Setup Information:
- MongoDB Version: mongo:4.0

### Client Setup Information

### Additional context

### Relevant logs:

[2021-03-27 08:09] #21337 closed

[2021-03-27 08:11] Aerya opened #21338 "Last update: RC won't restart (control is locked/Can't find migration)"
### Description:

Using the official Docker: https://hub.docker.com/r/rocketchat/rocket.chat
Tag: Latest
It was auto-updated about 5-6 hours ago and RC didn't restart.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: latest
- Operating System:
- Deployment Method:
- Number of Running Instances:

[2021-03-27 08:56] Aerya commented on #21338
Purged/pulled everything and it's working fine.

[2021-03-27 08:56] #21338 closed

[2021-03-27 11:00] Gummikavalier commented on #19082
For the record, above extra load triggered by RC 3.12.0 ended eventually three weeks later. This makes me think it was an RC based background process doing something after the upgrade. Update to 3.12.3 along with restarts to all nodes also did not trigger it again. I'm also considering some kind of race condition in Mongodb.

![Screenshot from 2021-03-27 12-55-11](https://user-images.githubusercon

[2021-03-27 14:10] mmgoilf commented on #20990
Still an issue in 3.12.3. Would like to know if the devs are working on this, it's a rather frustrating issue. Does anyone else have this problem? Maybe there is already another bug report for it that I missed.

[2021-03-27 16:43] mmgoilf commented on #20957
Still an issue in 3.12.3

[2021-03-27 18:31] aleadco commented on #21302
@giterium  You must adjust the permissions of the roles. You must remove the permission to edit messages from the user role and only give it to owner.

![image](https://user-images.githubusercontent.com/35962168/112730638-0b2e6680-8f09-11eb-9437-ee242793fedb.png)

[2021-03-27 20:01] EduardoPicolo opened #21339 "Missing Pt-Br translation at admin/ConnectivityServices page"
### Description:
Connectivity Services page is missing some Pt-Br translation.

### Steps to reproduce:

1. Go to admin panel;
2. Go to Connectivity Services.

### Expected behavior:
All the dialog should be translated

### Actual behavior:

![Captura](https://user-images.githubusercontent.com/49292747/112733174-1be8d780-8f1d-11eb-9bca-20d855a78fcd.png)

### Server Setup Information:

- Version of

[2021-03-27 20:22] rodrigok commented on #19082
@Gummikavalier thank you for the very detailed information. It seems to be an edge case that we were not able to reproduce here yet. We will put a new round of focus to this soon and I hope we can improve the idle CPU usage more.

[2021-03-27 23:07] Verfuchst commented on #2049
+1

[2021-03-28 00:15] caesarcxiv commented on #21154
I see the fix but it doesn't solve all of the unread counters that are permanently incorrect on the instance. Is there a rails query or something that can be run?

[2021-03-28 00:51] robbyoconnor commented on #2049
THis would be cool -- I could split out for example Google Summer of Code by year!

[2021-03-28 04:32] ankar84 commented on #18939
@pierre-lehnen-rc can you implement that solution of @pkonnov to codebase?

[2021-03-28 04:40] giterium commented on #21302
I need users to be able to edit posts too but only their own

[2021-03-28 08:31] abhay313 commented on #14140
Can I work on this issue ?

[2021-03-28 20:35] koszycl commented on #3661
+1

[2021-03-28 21:25] valessiobrito opened #21342 "LiveStream support different origins according to previous list"
### Description:

Currently Livestream only supports Youtube. As a user I would like to incorporate broadcasts from different sources. As an administrator, I will make a prior registration of the sources they support.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.1
- Operating System: Ubuntu
- Deployment Method: SNAP
- Number of Running Instances:  1
- DB Replicaset Oplog:

[2021-03-28 21:26] #21342 closed

[2021-03-28 22:59] aleadco commented on #21302
The problem is in the role logic where this particular permission must be understood backwards.  That is, marking the edition only to the *owner* role means that only the owner of the message will be able to edit and not the one who has the *owner* role.
 Set the parameters as seen in the picture for your understanding.

[2021-03-29 02:42] karlosgaldino commented on #4534
O comando acima não funcionou no meu banco. Uso a versão mais novo. Tive a infelicidade de ativar está opção e agora o sistema não inicia. Ainda há alguém que possa ajudar ?

[2021-03-29 03:53] karlosgaldino commented on #13319
Pessoal, boa noite. Fiz o procedimento acima, mas não executou nada. Ao executar show database ele não exibe uma database chamada rocketchat. Exibe apenas: admin, contigo, local e parties. Acredito que por isso não funcione. Eu instalei via linha de comando, não sei se isso interfere: anão install rocketchat-server.

[2021-03-29 05:24] emikolajczak opened #21343 "Security hotfix - possibility to merge into 3.9.7"
### Description:

Hi, last weekend security hotfixes was released. Is there possibility to merge this hotfixes also to 3.9.7 version. For us is last stable version (3.12 has issues with Jitsi). 3.9 was ommited but 3.8 has this fix. Please consider it.

### Steps to reproduce:

1. 3.9.7 not fixed with security hotfix

### Expected behavior:

Release 3.9.8 with security hotfix

### Actual behavior:

[2021-03-29 07:13] shree675 commented on #21282
In the web app version, on clicking Members icon, the whole page is going blank, it is not just the scroll bar that is not appearing.
This is happening to me in the gsoc2021 channel.

Chrome OS Version: 89.0.4389.90

![Screenshot (23)](https://user-images.githubusercontent.com/58718144/112799524-1958c000-908c-11eb-931e-31b6c4cd347b.png)

[2021-03-29 07:39] louislivi commented on #18989
Yes,only direct messages show this badge.

[2021-03-29 07:39] #18989 closed

[2021-03-29 09:42] bvartik-tachyum commented on #11950
Version 3.12.3, issue still exists. LDAP to MS AD.

[2021-03-29 11:27] MPritsch commented on #21126
Links and formatting seems to not work in attachments. This breaks the [gitlab-integration](https://docs.rocket.chat/guides/administrator-guides/integrations/gitlab) resulting in a message like this:
![Screenshot 2021-03-29 at 13 21 44](https://user-images.githubusercontent.com/15358778/112830061-52942e80-9092-11eb-84c7-94189b545a19.png)
Usually you would also see who committed but the message is

[2021-03-29 11:49] wokawoka commented on #16963
Any news on that? Is the problem still affecting the current versions? (I'm interested in integrating nextcloud with rocketchat)
Thank you!

[2021-03-29 14:45] davidecavezza commented on #13688
Happened to me too, just like the videos posted by @djcruz93.
The reason seems to be the user option My account > Preferences > Messages > Hide right sidebar with click.
When it is active, you see that problem.
By turning it off, it was solved for me.

Seems like a bug.

[2021-03-29 14:57] mreitinger commented on #19001
@g-thome I can confirm this is still happening with 3.12.3

[2021-03-29 15:33] pinkman7009 commented on #20165
Can I work on this issue?

[2021-03-29 16:10] theamanjs commented on #21282
Hey, @himanshujaidka I've looked into your issue and tried reproducing it. But I saw no problem. I was using the same version as you specified with the same platform. I think there must some issue with installation on your machine. I also tried the same on Linux as well and it was working smoothly. Can you please try reinstalling the desktop app I hope it will solve the issue?

https://user-images

[2021-03-29 16:13] theamanjs commented on #21282
Hey, @shree675 I tried reproducing it on web app using the same version of Chrome you using. Everything seems fine to me. Not sure why it is showing you an issue you can check in the below video

https://user-images.githubusercontent.com/38748298/112866772-c7d62280-90d7-11eb-8169-50a205e57dbf.mp4

[2021-03-29 17:09] vikkastiwari opened #21345 "Save your encryption password alert window"
### Description:
The absence of a close tab to save your encryption password found.

### Expected behavior:
There should be an option where the user can close the tab and use the application.
Once the page refreshes the notification tab should reappear but again with the close option tab as a reminder to save our encryption password.

### Actual behavior:
The panel pops and stays as there is not a

[2021-03-29 17:09] #21345 closed

[2021-03-29 17:19] vikkastiwari opened #21346 "Save your encryption password alert window"
### Description:

The absence of a close tab to save your encryption password found.

### Steps to reproduce:

1. Function Setup
2. Conditional Styling
3. State Setup for re-rendering

### Expected behavior:

There should be an option where the user can close the tab and use the application.
Once the page refreshes the notification tab should reappear but again with the close option tab as a remin

[2021-03-29 17:34] shree675 commented on #21282
@theamanjs Thank you for your showing the video. Unfortunately, it is still occurring on my browser.
I guess we must dig deeper.

https://user-images.githubusercontent.com/58718144/112876300-f9082000-90e2-11eb-9de5-74f1f4e86ee7.mp4

[2021-03-29 17:35] josep112 opened #21347 "history chat no works"
### Description:

I can not look in the history of the message, it gets blinking and hangs the screen

### Steps to reproduce:

In a message in Livechat Customer Click on the icon on the right side above: Historic of chat contact, choose one of the messages that are going to appear, click on top after this is blinking 3 icons and nothing happens

### Expected behavior:

Which appears the selected

[2021-03-29 19:32] aryan0078 commented on #21346
Assign this to me!

[2021-03-29 22:08] Schrammi commented on #21321
As @davidecavezzi mentioned in the issue #13688 this seems to be a bug with the setting:
My account > Preferences > Messages > Hide right sidebar with click.

I will test it tomorrow.

[2021-03-29 22:09] Schrammi commented on #13688
@davidecavezza Thanks for the information. I will test it tomorrow.
I also created a new issue, because this one was originally another bug.
The new issue is #21321

[2021-03-30 01:18] amlamarra commented on #14586
I'm having the same problem. Rocket.Chat is at v3.9.7 and both RC & BBB are LDAP authenticated with an Active Directory server.

[2021-03-30 04:33] himanshujaidka commented on #21282
@theamanjs , I think you are using pc?

[2021-03-30 07:17] giterium commented on #21302
Own and owner are different concepts

[2021-03-30 07:53] bbrauns opened #21359 "Unfollowing a thread leads to thousands of API requests"
### Description:

Unfollowing a thread leads to thousands of API requests

### Steps to reproduce:

![followunfollow](https://user-images.githubusercontent.com/6813310/112953153-86785e00-913d-11eb-8175-b73d62d5579b.gif)

### Expected behavior:

Do not dos the server.

### Actual behavior:

dos the server.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.0
- Operating System: u

[2021-03-30 11:10] JustDevNull commented on #15225
Any update abouth this? I'm currently using 3.13.0-rc.2 with Docker and the roles still are not updated.

[2021-03-30 12:31] fdellwing commented on #21343
I cannot say anything about the 3.9.x but you know there is also a 3.10.x and Jitsi works fine there (it broke completely in 3.11.x and kinda works in 3.12.x).

[2021-03-30 13:34] amlamarra commented on #919
Where in the Admin panel is that?

[2021-03-30 13:51] sampaiodiego commented on #14792
I'm really sorry the delay guys. as @engelgabriel we need to rethink the notification preferences from scratch.. unfortunately it didn't happen within the timeframe he would like to, but we're already talking about it internally.

in the mean time, I can say this is working as expected, I'd say it is a matter of an UX issue.. in order to get rid of the highlighted channel and the "notification cou

[2021-03-30 14:06] rcsilvadev commented on #21359
Same behavior here.

### Server Setup Information:

- Version of Rocket.Chat Server: 3.12.1
- Operating System: Debian GNU/Linux 9 (stretch)
- Deployment Method: PM2
- Number of Running Instances: 1
- NodeJS Version: 12.18.3
- MongoDB Version: 3.6.19

### Client Setup Information

- Desktop App or Browser Version: Chrome 88.0.4324.182 (64-bit)
- Operating System: Ubuntu 20.04.2 LTS

It fires a lot

[2021-03-30 14:07] rcsilvadev commented on #21171
Hey. Anyone else having this issue?
Please, leave a thumbs up in the issue if so.

[2021-03-30 15:30] tmartincpp commented on #20596
From my understanding the issue is that the code does not have an exception for direct messages, so it checks if the user have the right to edit rooms.

Here is a patch for _app/e2e/client/tabbar.ts_ (3.12.1) to make it work with direct messages :
[code]

Also for the current development code :
https://github.com/RocketChat/Rocket.Chat/commit/42ff6fddf965209b72ad1db7a37aa3bd38f3fdd8

I'm actually

[2021-03-30 17:05] RotonEvan opened #21362 "Members-list page does not open when WebRTC video call is started"
### Description:

Members-list page does not open when WebRTC video call is started. This causes the video call to **NOT** get started even though camera and microphone starts sending media.

### Steps to reproduce:

1. Make sure WebRTC calls are enabled through Administrator -> Settings -> WebRTC
2. Go to a direct message
3. Open user details
4. Click on "Start Video Call"

### Expected behavior:

[2021-03-30 17:40] snipextt opened #21364 "Channel conversation area goes blank when using the browsing Members list"
### Description:

The channel conversation area goes blank when a user hovers over the list of members in a public channel he didn't joined yet.

### Steps to reproduce:

1. Go to directory
2. Search for a channel you've not joined yet
3. Tap on the members list and hover hover the name of any member

### Expected behavior:

Not sure but definitely not the conversation area going blank

### Actual

[2021-03-30 17:46] RotonEvan commented on #20207
Apparently `/members-list` adds up in the URL but the list does not show up. #21362 I've posted this issue.

[2021-03-30 18:19] tanc commented on #14792
@sampaiodiego I'm not sure it does work properly though, I have `Show counter` and `Mute @all and @here mentions` off yet I still see a counter whenever anyone uses `@here`

[2021-03-30 18:46] sampaiodiego commented on #14792
hi @tanc .. so `Show counter` should be *off* and `Mute @all and @here mentions` should be *on*.. as you can see on this video:

https://user-images.githubusercontent.com/8591547/113040309-079c1900-916f-11eb-8117-ac4630c454d2.mp4

[2021-03-30 19:47] leonardofs commented on #14803
I have some issue.

[2021-03-30 20:41] tanc commented on #14792
@sampaiodiego sorry I made a mistake, I meant that I have `Mute @all and @here mentions` turned on and `Show counter` turned off. I was writing in a hurry. I'll confirm tomorrow when there is activity and will take some screenshots or a video.

[2021-03-30 20:41] frankie-njie commented on #21210
If a user has denied permission once, there is no API to ask for it again.
IMO, I think we should show a message that describes how to enable the permission manually. Of course, the microphone button should not disappear.

[2021-03-31 04:20] renancleyson-dev commented on #21364
Hi, can I work on it?

[2021-03-31 09:26] PetrPy opened #21377 "Multiple variants of LiveChat widget (for different sites)"
RocketChat should be able to work with multiple variants of LiveChat widget, each with its own set of parameters. If an organization runs multiple websites, a separate widget might be needed for every site, with different visual style, texts (such as LiveChat title) and behavior.

[2021-03-31 09:26] #21377 closed

[2021-03-31 09:28] PetrPy opened #21378 "Multiple variants of LiveChat widget (for different sites)"
RocketChat should be able to work with multiple variants of LiveChat widget, each with its own set of parameters. If an organization runs multiple websites, a separate widget might be needed for every site, with different visual style, texts (such as LiveChat title) and behavior.

[2021-03-31 09:28] #21378 closed

[2021-03-31 10:31] Ishrat-Manzoor opened #21379 "QA-Regression: Forgot password functionality doesn't work in Enterprise edition."
### Description:

Forgot password functionality doesn't work in Enterprise edition.

### Steps to reproduce:

1. Launch Rocket chat Enterprise edition.
2. On the Login page, click on the Forgot password link.
3. Go to your registered email, and click on the Reset link sent in the email.
4. Enter new password.
5. It will now ask for the verification code sent in the email.
6. Enter the verification

[2021-03-31 11:46] ganomi46 opened #21380 "snap image is constantly crashing and dialog does not have proper font"
Description:
snap image is constantly crashing and dialog does not have proper font

Environment:
openSuse Tumbleweed with latest updates
KDE

Steps to reproduce:
Install snap:
rocketchat-desktop  3.0.1                       196    latest/stable  rocketchat✓   -
Run snap
After some time the application crashes
Also when opening dialog to send file, i get fonts with squares everywhere. I run Signal

[2021-03-31 11:46] #21380 closed

[2021-03-31 12:16] ganomi46 opened #21381 "snap image - opening dialog does not have proper font"
### Description:

snap image - opening dialog does not have proper font. Letters are displayed as rectangles. I don't experience the same problem with Signal snap app.

### Steps to reproduce:

Install snap:
rocketchat-desktop 3.0.1 196 latest/stable rocketchat✓ -
Run snap
After some time the application crashes
Also when opening dialog to send file, i get fonts with squares everywhere. I run Sign

[2021-03-31 12:16] #21381 closed

[2021-03-31 12:24] ganomi46 opened #21382 "snap image - opening dialog does not have proper font #21381"
### Description:

snap image - opening dialog does not have proper font. Letters are displayed as rectangles. I don't experience the same problem with Signal snap app.

### Steps to reproduce:

Install snap:
rocketchat-desktop 3.0.1 196 latest/stable rocketchat✓ -
Run snap
Open dialog to send file, i get fonts with rectangles everywhere. I run Signal app snap and everything works there.

### Expec

[2021-03-31 12:31] ganomi46 opened #21383 "Report Issue menu item redirects the user to wrong github issue template"
### Description:

Report Issue menu item redirects the user to wrong github issue template

### Steps to reproduce:

Open linux snap app
Click on Help in the top menu
Click on Report Issue
That takes you empty issue template
![image](https://user-images.githubusercontent.com/22440293/113144377-e6275400-9278-11eb-95f0-1d7b00c69b14.png)
When user writes a bug, the issue is closed, because template w

[2021-03-31 15:44] shrinish123 opened #21388 "Discussion list doesn't show when discussion was created instead shows current time for all discussions"
### Description:

The discussion list does  not show when the particular discussion was created instead keeps showing the current time

### Steps to reproduce:

1. Go to discussions
2. Check the time beside the discussion name and it will always show the current time
3.

### Expected behavior:

It should show when the discussion was created

### Actual behavior:

![issue4](https://user-images.gith

[2021-03-31 16:05] vikkastiwari opened #21391 "Dropdown freezed under Omnichannel Livechat setup"
### Description:

while setting up livechat under Omnichannel the dropdown under Livechat Title Background Color freezed irrespective of the selection.

### Steps to reproduce:

None

### Expected behavior:

1) After clicking the cross button the dropdown should be closed.
2) After selecting any one option the dropdown should be closed by selecting the respective option.

### Actual behavior:

whe

[2021-03-31 16:19] vikkastiwari commented on #21346
@aryan0078 Just fork > setup > track the issue > start coding

[2021-03-31 17:39] tanc commented on #14792
@sampaiodiego after today I can confirm I still see a channel notification icon even though my settings are configured to not show the counter and to mute mentions, as screenshots below:

![image](https://user-images.githubusercontent.com/76320/113187045-b0727300-9258-11eb-9c61-fec057a9c2ef.png)

![image](https://user-images.githubusercontent.com/76320/113187068-b700ea80-9258-11eb-8958-1395f853972

[2021-03-31 17:45] tanc commented on #14792
The counter shown above was triggered by someone in that channel using `@here`. My expectation as a user is that if `Show counter` is off and `Mute @all and @here mentions` is on that I should _not_ see an icon indicating there is an unread message.

[2021-03-31 17:48] tanc commented on #14792
[code]
[code]
[code]
[code]
[code]

[2021-03-31 17:49] tanc commented on #14792
I guess I should set up a test version and confirm its an issue there and if it isn't a bug then we need to figure out why this instance is not the same as a fresh instance and fix it

[2021-04-01 00:40] #21001 closed

[2021-04-01 05:10] samdup commented on #2049
+1 - lack of channel organization makes the communication tool get more and more cumbersome and intimidating with time. I'd love to see this feature (ideally for admins) with Rocket.chat! 💖

Here's what some competitors have done
- [Slack has this as a "sections" feature](https://slack.com/help/articles/360043207674-Organize-your-sidebar-with-custom-sections#organize-your-conversations). On enterp

[2021-04-01 08:01] KaterinaKorobchits opened #21404 "Wrong unread counter messages when delete new(unread) message"
### Description:

Wrong unread counter messages when start use delete message(own message)

### Steps to reproduce:

sent 2 new messages and then delete last message(unread) - unread counter, that get with subscription stream-notify-user(subscriptions-changed), not changed and remains equal to 2; Event "subscriptions-changed" doesn't come

### Expected behavior:

unread counter decrease

### Actua

[2021-04-01 08:25] murtaza98 commented on #21058
This should be fixed now and will be released in the `3.13.0` version shortly. If you wish to test it right away before the release, then you'll need to clone the `develop` branch

[2021-04-01 09:08] rasos commented on #19497
Looks like a duplicate of #21036 for which a fix has been merged.

[2021-04-01 09:19] DmytroPuzhay commented on #14792
@sampaiodiego it clearly does not work as expected. In case as you said "we'll be looking into how to improve the UX of this" than please open/link respective feature request so it's tracked somehow.

[2021-04-01 10:53] battosai30 commented on #18992
Hi,

Nearly the same issue : email verification is disabled, but can't get email notification if email is not verified. With a test user I got no email notification until I manually send a verification email and email address got verified

[2021-04-01 11:37] smartie2076 opened #21405 "No emoticons with RocketChat v3.1.1 on Win10"
I am using RocketChat 3.1.1 on my Windows10. For a long while I had an old version that needed to be updated - I now uninstalled that one, did not delete the user data, and reinstalled the new version. Sadly, no emoticons are displayed now :(

![grafik](https://user-images.githubusercontent.com/44204527/113288387-2f19ef80-92ef-11eb-80a5-6d43d5194b03.png)

Weirdly, "activity" is the only group that

[2021-04-01 11:37] #21405 closed

[2021-04-01 11:40] smartie2076 commented on #21383
Remains an issue in `RocketChat 3.1.1` on `Windows10`

[2021-04-01 11:48] smartie2076 commented on #20766
The emojis are also not rendered in the desktop app (`Rocketchat 3.1.1`, `Windows10`):
![grafik](https://user-images.githubusercontent.com/44204527/113289704-dba8a100-92f0-11eb-9af5-9cfac8d1fd49.png)
Weirdly, only this category is rendered:
![grafik](https://user-images.githubusercontent.com/44204527/113289745-ec591700-92f0-11eb-9704-d98d1deb114b.png)

[2021-04-01 12:28] shanu13 commented on #4586
hi , can you assign me on this bug ?

[2021-04-01 13:33] heyyo-droid opened #21407 "Images lazy loading"
To improve loading performance, images should be lazy loaded :+1:
`<img src="mypic.jpg" loading="lazy" />`

Avatars, images shared, thumbnails of link shared...

[2021-04-01 13:33] #21407 closed

[2021-04-01 13:37] himpierre opened #21408 "Direct messages broken in 3.13.0-rc.4 (Browser only it seems)"
### Description:

After upgrading to 3.13.0-rc.4 i cannot enter existing direct messages anymore. I get i white page only. When leaving an existing direct messages it's not possible anymore to create one.

### Steps to reproduce:

1. Upgrade to 3.13.0-rc.4
2. Enter an existing DM
3. White Page

### Expected behavior:

Entering / Creating a DM should be possible.

### Actual behavior:

White Page.

[2021-04-01 13:44] heyyo-droid opened #21409 "Images lazy loading"
To improve loading performance, images should be lazy loaded.
`<img src="mypic.jpg" loading="lazy" />`

Avatars, images shared, thumbnails of link shared...

[2021-04-01 13:44] #21409 closed

[2021-04-01 13:52] BombTheDodongos opened #21410 "Monthly push limit banner won't dismiss"
We exceeded the 10,000 monthly push limit last month. On my admin account I now have a banner that can't be dismissed informing me of this fact:

![image](https://user-images.githubusercontent.com/49031517/113304243-d6872a00-92cf-11eb-9eaf-c6d710e6cdee.png)

The month has now reset, I've confirmed that we are below the limit on cloud.rocket.chat, but the banner is still there and still can't be di

[2021-04-01 13:52] #21410 closed

[2021-04-01 14:02] bleschber opened #21411 "User is able to delete own messages without appropriate permissions"
**Operating System / Version / Architecture (64 bit?)**
Server = 64-bit Ubuntu 20.04.2
Client = 64-bit Windows 10 (1909)

**Browser type and version, including any add-ons. (e.g. AdBlocker, NoScript, etc.)**
Chrome 89.0.4389.114

**Rocket.Chat version**
3.12.1 (Deployed from Ubuntu Snap)

**Expected behavior**
With these settings:
     "Allow Message Deleting" = Enabled
     "Block Message Deletin

[2021-04-01 14:02] #21411 closed

[2021-04-01 14:13] bleschber opened #21413 "User is able to delete own messages without appropriate permissions"
### Description:

When using the product as designed to restrict standard "user" role users from deleting messages, while still allowing "Admin" role users to delete messages, the product still allows standard "user" role users to delete messages inappropriately.

### Steps to reproduce:

With these settings:
"Allow Message Deleting" = Enabled
"Block Message Deleting After (n) Minutes" = 0
"Delete