[2015-05-25 21:21] engelgabriel opened #3 "Exception while invoking method 'login' TypeError: Cannot read property 'lastLogin' of undefined"
rocket.chat-0 (out): 2015-05-25 17:12:35 880: Exception while invoking method 'login' TypeError: Cannot read property 'lastLogin' of undefined

[2015-05-25 21:22] engelgabriel opened #4 "Internal server error after github auth"

[2015-05-25 22:22] #3 closed

[2015-05-25 22:23] #4 closed

[2015-05-26 22:24] rickbenetti opened #6 "Language options"
O forked your project and will be create two branchs: spanish-language and italian-language to be able add to more languages.

It's ok this way? I pull request after that.

[2015-05-26 22:34] engelgabriel commented on #6
Sure, but you don't need to create 2 branches.. just create the languages files on the i18n folder

[2015-05-27 13:08] sampaiodiego opened #7 "Remove package konecty:mesosphere"

[2015-05-28 13:00] #7 closed

[2015-05-28 13:02] sampaiodiego opened #11 "autogrow lib is generating too many <div>"

[2015-05-28 15:10] engelgabriel opened #12 "Standardize collection names"
All to lowercase, and remove data. prefix

[2015-05-28 15:11] engelgabriel opened #13 "Add autocomplete for ASCII Emojis"
Support :) the same way we support :smiley:

[2015-05-28 15:16] engelgabriel opened #14 "Add Google Tag Manager"

[2015-05-28 15:16] #14 closed

[2015-05-28 15:18] engelgabriel opened #15 "Add Google Analytics"

[2015-05-28 15:18] #15 closed

[2015-05-28 15:19] engelgabriel opened #16 "Send verification email"

[2015-05-28 15:19] #16 closed

[2015-05-28 15:20] engelgabriel opened #17 "Create user username when user login without username"

[2015-05-28 15:20] engelgabriel opened #18 "User friendly URLS with room names and usernames instead of IDs"
Create slugs and use them to link to rooms

[2015-05-28 16:21] engelgabriel opened #19 "Force user to retype password on registration"

[2015-05-28 16:21] #19 closed

[2015-05-28 16:21] engelgabriel opened #20 "Use CDN"

[2015-05-28 16:21] #20 closed

[2015-05-28 16:53] engelgabriel opened #21 "Add unread messages counter on favicon"
- [x] Ttile indication
- [x] Favicon indication
- [x] Sum the unread messages from all rooms

[2015-05-28 19:43] engelgabriel opened #22 "Make email verification link optional"

[2015-05-28 20:12] posix4e opened #23 "Irc support"
If we could proxy irc (the opposite of what slack does), could we replace irccloud?

[2015-05-28 20:53] marceloschmidt opened #24 "File Sharing (Upload, Paste, Drop)"

[2015-05-28 21:23] engelgabriel opened #25 "Giphy Support"

[2015-05-28 21:28] engelgabriel opened #26 "Retrieve the user profile image from the LoginService."

[2015-05-28 21:28] #26 closed

[2015-05-28 21:36] engelgabriel opened #27 "Create README with how to install"
- [x] Heroku
- [ ] Vagrant
- [ ] Nitrous

[2015-05-28 21:40] engelgabriel opened #28 "Translate landing page"

[2015-05-28 21:40] #28 closed

[2015-05-28 21:40] engelgabriel opened #29 "Cleanup CSS (merge files, removes unused styles)"

[2015-05-28 21:40] #29 closed

[2015-05-28 21:46] engelgabriel opened #30 "Block users with email not verified"

[2015-05-28 21:47] #30 closed

[2015-05-28 21:58] engelgabriel opened #31 "Keep removing old messages from the DOM, until user scrolls up again."
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18475867-keep-removing-old-messages-from-the-dom-until-user-scrolls-up-again?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&ut

[2015-05-29 00:49] marceloschmidt opened #32 "Pre-process messages to allow plugin developers to add their own /commands"

[2015-05-29 01:52] marceloschmidt commented on #32
Thought about having a list of pre-processors and enabling plugins to register pre-processors. Then, before saving the message to the database, call each processor with the return statement of the previous processor. There should also be some way for defining plugin priorities.

[2015-05-29 03:54] engelgabriel opened #33 "Validate e-mail address (more than HTML5 does)"

[2015-05-29 03:54] #33 closed

[2015-05-29 12:20] #22 closed

[2015-05-29 12:35] rodrigok opened #34 "Mentions and Emojis not working in input of edit message"

[2015-05-29 15:29] alexgaribay opened #35 "'roomNotFound' template doesn't exist"
The default template for 404 routes in the config points to the 'roomNotFound' template which doesn't exist. Going to a url like rocket.chat/1 gives an error that the template isn't found.

[2015-05-29 15:32] wanderer opened #36 "Off-the-Record (OTR) Messaging [$1,000]"
## <bountysource-plugin>

There is a **[$1,000 open bounty](https://www.bountysource.com/issues/18684038-off-the-record-otr-messaging?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github).
</boun

[2015-05-29 16:00] charlieman commented on #36
You mean beyond https?

[2015-05-29 16:03] wanderer commented on #36
it would be nice if it has some OTR for direct messaging

[2015-05-29 16:06] skyhighwings opened #37 "Native Cross-platform Desktop Application using Electron.Atom"
This definitely increases user engagement and satisfaction, at least at my workplace. It'd be really nice to have this.

[2015-05-29 17:28] rodrigok opened #38 "Prevent large messages"

[2015-05-29 17:28] rodrigok opened #39 "Remove message processing before set value of editing input"

[2015-05-29 17:34] #39 closed

[2015-05-29 17:48] stephenreid commented on #37
We could use node-webkit for this.

[2015-05-29 17:49] stephenreid commented on #38
This is important for IRC compatibility. Other chat softwares might recommend attaching the large blob as a text file, and we can even convert to text file for the user.

[2015-05-29 19:22] ari-gold opened #42 "Native client?"

[2015-05-29 19:28] rodrigok opened #43 "Broadcast indicator in message"

[2015-05-29 19:40] rodrigok opened #44 "Block message editing after 10min?"

[2015-05-29 20:51] Orbyt opened #45 "Has anyone tried "embedding" a version of this into another meteor app?"
So you could use a smaller version inside other templates. Anyone tried this?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18748083-has-anyone-tried-embedding-a-version-of-this-into-another-meteor-app?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2015-05-29 21:13] rodrigok opened #46 "Create Help / Shortcuts modal window"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18752135-create-help-shortcuts-modal-window?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github

[2015-05-29 21:20] rodrigok commented on #44
@engelgabriel @marceloschmidt @sampaiodiego @rcaferati What do you think about this?

Maybe we can add this as an option in minutes:
* 0: no limit editing
* 1+: time to edit since created

I think that this is useful and can be planed for v0.2

[2015-05-29 21:39] engelgabriel opened #47 "(DESIGN) Button to edit messages"

[2015-05-29 21:39] #47 closed

[2015-05-29 22:18] rafaelks commented on #25
@engelgabriel Actually, would be nice to support different kind of integration. Something more generic. What you think?

[2015-05-30 01:16] skyhighwings commented on #37
I'd personally suggest Electron because it's pretty slick. I've used it
to much success at $DAYJOB and to minor success with a toy IRC client.
Both times it's been very trivial to get started and to keep progressing.

On 5/29/2015 12:48 PM, Stephen Reid wrote:

--
Rylee Fowler
PGP: 41EA 1D94 F261 8602 6CD4 B2B5 05A6 3421 F637 E333
Never heard of PGP? See https://emailselfdefense.fsf.org/en/ !
http

[2015-05-30 08:39] riaan53 opened #49 "Emoji does not work when clicked on"
Hi,

It looks great so far!

I played around with it a bit and i was not able to select the emoji when clicking on the list - you have to use arrow keys and enter.

Minor things. But at the end it counts :)

Thanks.

Regards,
Riaan

[2015-05-30 16:14] sampaiodiego commented on #49
hey @riaan53, it is definetly a bug, we'll look into this.

thanks =)

[2015-05-30 16:15] sampaiodiego commented on #44
I don't get the part "1+: time to edit since created"

[2015-05-30 16:18] rodrigok commented on #44
You can set 0 for disable this feature or set time in minutes to block message to be edited.

[2015-05-30 16:29] sampaiodiego commented on #36
the idea of OTR implies in not saving the message on db?

[2015-05-30 16:36] sampaiodiego commented on #25
this could be achieved by #32

[2015-05-30 16:36] sampaiodiego commented on #13
this could be achieved by #32

[2015-05-30 16:38] sampaiodiego commented on #44
ok.now I get it. so, we have to define the configuration page

[2015-05-30 17:01] rodrigok commented on #44
@sampaiodiego of course, but we can implement this functionality separated from the configuration page

[2015-05-30 17:03] rodrigok commented on #13
@sampaiodiego autocomplete is different from message processing, do not you think?

[2015-05-30 18:11] rodrigok commented on #37
Electron seems great, but as I never used this solutions I really can't opine.

Can you help us with this?

[2015-05-30 19:04] sampaiodiego commented on #13
true. My thought was only on show emoji when message has :) I don't think autocompletion for 'ascii emoji' necessary.. only display them as images.

[2015-05-30 20:13] engelgabriel commented on #36
## Off-the-Record (OTR) Messaging

Allows you to have private conversations over instant messaging by providing:

### Encryption
No one else can read your instant messages.

### Authentication
You are assured the correspondent is who you think it is.

### Deniability
The messages you send do not have digital signatures that are checkable by a third party. Anyone can forge messages after a conversa

[2015-05-30 20:41] engelgabriel opened #50 "User mentions autocomplete"

[2015-05-30 20:42] #50 closed

[2015-05-30 20:46] engelgabriel opened #51 "Channel mentions autocomplete"

[2015-05-30 20:46] #51 closed

[2015-05-30 23:58] #17 closed

[2015-05-30 23:58] rodrigok opened #53 "Save avatar at public folder"

[2015-05-31 02:16] engelgabriel commented on #25
Agreed.. we must build a generic plugin interface, and create some initial samples.. and Giphy could be one of them.

[2015-05-31 02:16] engelgabriel commented on #32
+1

[2015-05-31 02:21] engelgabriel commented on #13
Lets try to turn this on
http://git.emojione.com/demos/ascii-smileys.html

[2015-05-31 03:32] engelgabriel opened #55 "Public Rooms"

[2015-05-31 03:33] #55 closed

[2015-05-31 03:34] engelgabriel opened #56 "Add markdown support"
https://atmospherejs.com/meteor/markdown

[2015-05-31 03:34] #56 closed

[2015-05-31 04:01] dmlittle opened #57 "GitHub login fails to get primary email"
When trying to login with a GitHub account, an alert saying "You don't have any email as public email in your GitHub account" pops up.

[2015-05-31 14:16] engelgabriel opened #58 "Add Emoji"

[2015-05-31 14:16] #58 closed

[2015-05-31 14:17] engelgabriel opened #59 "Create a default `admin` user for project"

[2015-05-31 14:17] #59 closed

[2015-05-31 14:17] engelgabriel opened #60 "Display a link on landing page footer to switch to English version, when english is not the default user language"

[2015-05-31 14:17] #60 closed

[2015-05-31 14:18] engelgabriel opened #61 "Block users with email not verified"

[2015-05-31 14:18] #61 closed

[2015-05-31 14:18] engelgabriel opened #62 "Strange behavior when user is inserting a new message."

[2015-05-31 14:18] #62 closed

[2015-05-31 14:19] engelgabriel opened #63 "Change all avatars to use lib avatar"

[2015-05-31 14:19] #63 closed

[2015-05-31 14:22] engelgabriel opened #64 "Login user after email validation"

[2015-05-31 14:22] #64 closed

[2015-05-31 14:22] engelgabriel opened #65 "Password recover"

[2015-05-31 14:22] #65 closed

[2015-05-31 14:23] engelgabriel opened #66 "Translate 'no connection' warning and fix icon"

[2015-05-31 14:23] #66 closed

[2015-05-31 14:26] engelgabriel opened #67 "Improve error when user login with GitHub but don't have email as public"

[2015-05-31 14:26] #67 closed

[2015-05-31 14:43] engelgabriel opened #68 "Fix day change break"

[2015-05-31 14:44] engelgabriel opened #69 "Create option to turn the profile information private"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19159095-create-option-to-turn-the-profile-information-private?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issue

[2015-05-31 14:46] engelgabriel commented on #45
It is not that easy to do this yet. We are restructuring to make it into a Meteor packedge, so you will be able to do
```meteor add rockectchat:core```

[2015-05-31 14:47] engelgabriel opened #70 "Improve alerts of password reset"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19159388-improve-alerts-of-password-reset?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github).

[2015-05-31 15:04] engelgabriel opened #71 "Improve sound of new direct message"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19161066-improve-sound-of-new-direct-message?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=githu

[2015-05-31 15:07] engelgabriel opened #72 "Remove flexbar in Home screen (click on Rocket.Chat logo)"

[2015-05-31 15:08] engelgabriel commented on #68
It is still buggy, when you open an old chat and send a new message.

[2015-05-31 15:08] engelgabriel opened #73 "Turn "LOAD MORE" automatic when it comes into view, with loader."

[2015-05-31 15:17] engelgabriel commented on #57
Did you configured your primary email to be public?

[2015-05-31 15:19] engelgabriel opened #74 "Fully test on Mobile and fix bugs"

[2015-05-31 15:19] engelgabriel opened #75 "Add examples of MD"

[2015-05-31 15:20] engelgabriel commented on #75
![captura_de_tela_2015-05-25_as_19 48 54](https://cloud.githubusercontent.com/assets/1000217/7902411/71c526b6-078f-11e5-8477-fd0000613a3b.png)

[2015-05-31 15:24] engelgabriel opened #76 "Inform user of email validation after account register"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19164479-inform-user-of-email-validation-after-account-register?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issu

[2015-05-31 15:25] engelgabriel opened #77 "Create settings form on the nav bar"

[2015-05-31 15:26] engelgabriel opened #78 "Page to configure many things of the chat, like external login services, SMTP address, etc."

[2015-05-31 15:34] Calinou opened #79 "Markdown: striked text is not supported"
Markdown allows you to write striked text by surrounding text with `~~` (two tildes). ~~Example.~~

It doesn't appear to be possible in Rocket.Chat.

[2015-05-31 18:00] engelgabriel commented on #75
Need to read https://github.com/meteor/meteor/blob/devel/packages/markdown/showdown.js to discover all the syntax options

[2015-05-31 18:03] engelgabriel opened #80 "Replace the alert for email verification"
Replace the alert for email verification with something better.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19193234-replace-the-alert-for-email-verification?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2015-05-31 18:12] engelgabriel commented on #35
Fixed, thanks!

[2015-05-31 18:12] #35 closed

[2015-05-31 18:51] dmlittle commented on #57
Yes.
![](https://cloud.githubusercontent.com/assets/3803621/7903279/29de15bc-079c-11e5-8da8-dc8c42c03335.png)

[2015-05-31 21:15] engelgabriel opened #81 "Ability to clear current window messages up to "Load more" button"
Command (or CTRL) + K clears current window messages up to "Load more" button, which when clicked would retrieve all previous messages. If user re-enters room, messages are loaded as usual.

[2015-05-31 22:01] steynvanesveld opened #82 "Cannot access general chatroom"
Actions: First adding and then removing the general chatroom from my favorites.

Result: I can't re-join the general chatroom. Message "You don't have permission to view this room" pops up.

[2015-05-31 23:09] engelgabriel commented on #82
Thanks. What icon did you click? The "star", the "x" or the "exit"?

[2015-05-31 23:36] rodrigok commented on #57
@dmlittle I understand, this it is a little bit confusing :(

You need to go to your "Profile" and after the input with your name exists another input to select which email you want use as public email, the default value is "none".

[2015-06-01 01:57] #13 closed

[2015-06-01 02:36] #53 closed

[2015-06-01 02:45] #49 closed

[2015-06-01 02:50] engelgabriel commented on #37
I like the http://electron.atom.io/ idea :+1:

[2015-06-01 03:47] matthewshirley opened #87 "Mention comes up as HTML when editing twice"
Replication:
* Post a message with @ whoever (eg. Hi @admin)
* Edit the message and save
* Edit message again and it will be HTML

Tested on local installation and rocket.chat

[2015-06-01 04:06] matthewshirley commented on #34
Basically doing what chatWindowDashboard does but changed to the correct class.

This is the best way I could see doing unless there is a common file these helpers can be placed in?

[2015-06-01 05:09] engelgabriel commented on #87
Thanks, will investigate.

[2015-06-01 05:11] engelgabriel commented on #34
What do you think @rodrigok ?
Is there is a common file these helpers can be placed in?
Maybe a global helper?

[2015-06-01 05:14] riaan53 commented on #74
Hi,

Will this include cordova? Will you also support offline mode (which is a important for cordova) with ground db?

I have tested with iOS cordova and it doesnt look bad, with a bit of tweaks here and there you can have full iOS and Android support - which will be fantastic :)

Regards,
Riaan

[2015-06-01 06:43] steynvanesveld commented on #82
I can't reproduce the problem, but I think it was "Exit room".

[2015-06-01 07:46] davidmalcoci opened #88 "Sound synchronization"
Should try to enhance the sync between the message and the audio notification as it goes on after the messagge arrives; massage is istantaneous but sound notification arrives after a fev seconds.

[2015-06-01 11:34] rodrigok commented on #34
This popups can be moved to a separated template passing only the input selector to configure.

I can accept this PR and make this changes, but later today only.

[2015-06-01 11:36] rodrigok commented on #74
I think that we can create a cordova version first and then start native versions.

[2015-06-01 13:04] skyhighwings commented on #37
Potentially. I don't have a lot of free time, unfortunately, but I could
see what I could do.

On 5/30/2015 1:11 PM, Rodrigo Nascimento wrote:

--
Rylee Fowler
PGP: 41EA 1D94 F261 8602 6CD4 B2B5 05A6 3421 F637 E333
Never heard of PGP? See https://emailselfdefense.fsf.org/en/ !
https://keybase.io/rylee

[2015-06-01 14:05] engelgabriel commented on #82
OK.. we are developing the missing ability to search and join channels... it will fix you problem. I'll let you know when it is done.

[2015-06-01 14:12] ujuc opened #89 "Use named parameters in translations"
hi

I translate `i18n/en.i18n.json` > `i18n/ko.i18n.json`.

1 problem..

this line `Room name changed to: <em>%s</em> by <em>%s</em>`
Korean translate is `방이름 변경 : <em>%s</em> 에서 <em>>%s</em>`

edit `<em>%s1</em> by <em>%s2</em>`.
Korean translate is `<em>%s2</em> 에서 <em>%s1</em>`

Thanks.

[2015-06-01 14:39] engelgabriel opened #90 ""Welcome Messages" should be grouped in a single line"
It is very annoying the way it works now.. but mainly because there are so many people entering out demo server.

[2015-06-01 14:44] engelgabriel commented on #90
![screen shot 2015-06-01 at 11 43 28](https://cloud.githubusercontent.com/assets/1000217/7915375/8a9387c2-0853-11e5-9aea-5c8ac652d0e4.png)

[2015-06-01 14:47] engelgabriel commented on #89
Can you do a Pull Request?

[2015-06-01 14:49] engelgabriel commented on #89
@marceloschmidt I think we have to use name parameters.

@ujuc Can you submit your file in a Pull Request so we can test it?

[2015-06-01 14:51] engelgabriel commented on #88
We are working on that. Its part of the next performance tuning.

[2015-06-01 15:19] engelgabriel commented on #27
Added One-Click-Deploy to Heroku

[2015-06-01 15:32] ujuc commented on #89
@engelgabriel yes :smile:

[2015-06-01 15:33] rodrigok commented on #90
Group messages is a good ideia too.
![captura de tela 2015-06-01 as 12 32 48](https://cloud.githubusercontent.com/assets/234261/7916453/5527ff76-085a-11e5-93b3-aac363b28c95.png)

[2015-06-01 17:22] engelgabriel commented on #90
100% Agreed!

konecty*Gabriel Engel*Co-founder and CEOskype: gabriel_engel

gabriel.engel@konecty.com

+55 51 98089422 <+555198089422>

+55 51 30855151 <+555130855151>

www.konecty.com

On 1 June 2015 at 12:33, Rodrigo Nascimento <notifications@github.com>
wrote:

[2015-06-01 17:40] kumavis commented on #36
I don't know if this implementation has been audited or not but https://github.com/arlolra/otr

[2015-06-01 18:10] #34 closed

[2015-06-01 18:22] #87 closed

[2015-06-01 20:08] rodrigok opened #94 "Resize avatar images before save"

[2015-06-01 20:29] #94 closed

[2015-06-01 20:50] #68 closed

[2015-06-01 21:05] rodrigok opened #96 "Page to configure first access if installation doesn't have settings yet"

[2015-06-01 21:17] rodrigok opened #97 "Process mentions in messages"

[2015-06-02 00:58] marceloschmidt commented on #89
I've started using named parameters for phrases that include more than one %s. I have already inserted the correct named parameters where you had put %s1 and %s2. Please update accordingly if needed. Thanks for your help!

[2015-06-02 01:01] marceloschmidt commented on #89
PR ready to merge: https://github.com/RocketChat/Rocket.Chat/pull/98

[2015-06-02 01:01] #89 closed

[2015-06-02 01:37] engelgabriel opened #99 "Create user editing profile edit page"

[2015-06-02 01:37] ujuc commented on #89
:+1:

[2015-06-02 01:38] engelgabriel opened #100 "Improve notifications"
(create a collection to observe and show notifications)

[2015-06-02 01:38] engelgabriel opened #101 "Possibility to enable/disable e-mail validation."

[2015-06-02 01:38] #101 closed

[2015-06-02 01:40] engelgabriel opened #102 "Show user current date / time in user list."

[2015-06-02 01:41] engelgabriel opened #103 "Embed posted links"
https://github.com/itteco/meteor-oembed

[2015-06-02 01:56] engelgabriel opened #104 "Hubot"
Integrate with Hubot to have our version of slackbot https://hubot.github.com/

[2015-06-02 05:56] harshadsabne opened #105 "Special characters in Channel names not displayed"
I noticed that if a channel name consists of only special key characters like (!@#$%^&*_-+=;':",<>.) the channel is created but without a name as shown below. Several such "unnamed" channels can be created.

![rocket chat1](https://cloud.githubusercontent.com/assets/3154126/7928724/6e7428ac-0912-11e5-8428-e6d5752643a0.png)

Now if you go to edit the name of the recently created channel, you will s

[2015-06-02 12:14] sampaiodiego commented on #105
hey @harshadsabne .. in fact, room creation needs a lot of checks. It will need to be unique, not blank, and add the possibility to user to review the name if it was changed due to special characters like your examples.

actually the room name is "slugified" and saved. we really need a more friendly interaction here.

thanks for the issue

[2015-06-02 12:15] sampaiodiego commented on #100
I've already started this. but I get some problems. Maybe I put here to discuss later.

[2015-06-02 13:32] sampaiodiego opened #108 "Channels/groups list behavior"
Now, this lists only show rooms that have an action within 2 days. If a room does not have any message in this time, they can only be found on "history".

I think we must change this behavior. The room lists should be persistent, you decide what to hide or not. But, if you choose to hide a room and a new message is sent to it, the room will appear again. If you do not want any notifications about

[2015-06-02 13:55] rodrigok commented on #108
2 states is better I think, subscribed or not subscribed to the room.

[2015-06-02 15:17] engelgabriel opened #109 "On login screen, use the list of "configured OAuth services" instead of "installed OAuth packages""

[2015-06-02 19:26] kumavis commented on #36
And further reading on the state of otr https://github.com/arlolra/otr/issues/59

[2015-06-02 21:43] dstollie commented on #104
@engelgabriel Im willing to help you guys with this. For SpaceTalk we need this to and it would be awesoem if we could create some easy to use  hubot package for meteor. Have guys already did something with this?

[2015-06-02 21:44] dstollie commented on #103
take a look at this issue about rich embeds for SpaceTalk: https://github.com/SpaceTalk/SpaceTalk/issues/73

[2015-06-03 00:19] Igor1201 commented on #36
I think [arlolra/otr](https://github.com/arlolra/otr) is the best option we have, audited or not, [cryptocat/cryptocat](https://github.com/cryptocat/cryptocat) uses it.

As said on arlolra/otr#59, pointed by @kumavis, just few other implementations are available, and [otr4-em](https://github.com/mnaamani/otr4-em) and [node-otr4](https://github.com/mnaamani/node-otr4) aren't well compatible with Me

[2015-06-03 01:39] engelgabriel commented on #108
@rodrigok this is not what @sampaiodiego meat.

I don't agree with Diego.. some groups are just for a quick chat... and thats fine if they are hidden after becoming inactive. There shall be a way to search for them, in the same way you will search for public channels.

But if you want it to stay.. you should favorite it.

[2015-06-03 01:39] #108 closed

[2015-06-03 01:48] engelgabriel commented on #104
Sounds great @dstollie we have not started any work on that yet. One of the guys that created Hubot was testing the chat the other day, and he offered to give a hand too. I'll dig his contact details from the logs.

[2015-06-03 02:25] #109 closed

[2015-06-03 03:48] Igor1201 commented on #36
It's indeed very easy to implement OTR using [arlolra/otr](https://github.com/arlolra/otr).
Just made a simple PoC [Igor1201/otr](https://github.com/Igor1201/otr).

[2015-06-03 05:04] Sing-Li commented on #104
@engelgabriel    Count me in for this as well.
@dstollie   Interesting idea - re: common hubot integration adapter for multiple Meteor based chats.
I've got the basic adapter working against the current head.  See pic.   Kludgy to configure, but can be a base for everyone to dive in.

![hubotrocket](https://cloud.githubusercontent.com/assets/122633/7952972/ec3c4656-098b-11e5-91f8-f7d702cd6c7c.png)

[2015-06-03 05:15] riaan53 opened #114 "Select avatar later option"
Hi,

Like the progress!

I have an suggestion.

It will be great if there is an option for the user to select the avatar later and then just use the default like you had in the beginning with the R block for Riaan.

After registration a user wants to check out the app asap to see if he likes it or not (the first few minutes are critical for user retention) and to make him find a foto first can be

[2015-06-03 05:24] #72 closed

[2015-06-03 05:26] engelgabriel commented on #36
Looks like this feature has more people interested than I expected. I'll raise its priority. :+1:

[2015-06-03 05:58] riaan53 commented on #104
nice!!! @Sing-Li

[2015-06-03 07:31] dstollie commented on #104
@Sing-Li Could you fork this work and push it to a branch of that fork.. Im getting really curious if I see this

[2015-06-03 07:39] engelgabriel opened #115 "WebRTC signalling"
https://atmospherejs.com/?q=WebRTC
https://atmospherejs.com/fds/webrtc
http://otalk.org/
https://simplewebrtc.com/

- [x] Video with adio call
- [x] Action to stop call
- [x] Alert to accept or reject call
- [ ] Redirect user to call room when accepted
- [ ] Only audio call
- [ ] Option to enable/disable video
- [ ] Option to disable audio
- [ ] Option to mute microphone
- [ ] Browser compatibilit

[2015-06-03 07:55] engelgabriel commented on #115
https://atmospherejs.com/nucleuside

[2015-06-03 08:29] tlongren commented on #59
So what's the default? Tag was deleted so link to commit is gone...

I don't know where to find it in master.

[2015-06-03 10:00] diomed opened #116 "People not displayed in Members List?"
I see lots of people coming to #general in test page, and welcome message greets them,
but they are not displayed in sidebar, in Member List.
some even write messages in chat, but they still aren't displayed in Member List.
is this some sort of bug?

Also, upon registration I went to upload avatar from PC, and my browser crashed.
I did it from 2nd try, though.

[2015-06-03 11:59] rodrigok commented on #116
@diomed, sorry for that. This is a know problem, we are working on it.

Its because we removed the subscription for all users in room because we didn't expect to have 3000 users in a single room :D

Probably this issue will be resolved today or tomorrow.

[2015-06-03 12:25] marceloschmidt opened #117 "Auto-translation for messages"
I think we could have a auto-translation setting that if enabled would display the message sent in its original language and below it a auto-translated version of it.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20063921-auto-translation-for-messages?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=gi

[2015-06-03 14:09] sabatesduran commented on #59
@tlongren searching into the code i found in the file Rocket.chat/server/startup/initialData.coffee
That the default email is "admin@admin.com" and the password is "admin" (without the quotes).

[2015-06-03 14:13] engelgabriel opened #119 "Create initial setup wizard"
When the system starts for the first time and finds that the DB is empty, it would display a configuration wizard with option like: SMTP server, Brand Name and Logo, Email Validation, Admin User name and password, etc.

[2015-06-03 14:13] engelgabriel commented on #59
Hi, we need to create a setup wizard #119 for that

[2015-06-03 14:29] engelgabriel commented on #104
@Sing-Li WOW! That's awesome! Please submit a PR and I'll revise it straight away. Thanks!

[2015-06-03 17:10] Hosseinamraji commented on #18
how download?

[2015-06-03 17:13] #97 closed

[2015-06-03 17:14] rodrigok commented on #18
@Hosseinamraji how download what?

[2015-06-03 17:21] rodrigok commented on #114
Makes sense, because this we try to suggest photos from social services and from gravatar :D

Lets see what more people think about this.

[2015-06-03 17:24] engelgabriel commented on #36
Can any of you guys do a Pull Request or create a fork with a proposed implementation?

[2015-06-03 17:27] rodrigok commented on #119
Duplicated of #96

[2015-06-03 17:27] #119 closed

[2015-06-03 17:32] sampaiodiego commented on #82
solved by #118

[2015-06-03 17:32] #82 closed

[2015-06-03 18:00] sampaiodiego opened #122 "Unread counters behavior"
Now, unread counters displays a number of new messages on each room you are subscribed to.

We may change this behavior to count only mentions and direct messages, and for non-read messages, we may only mark rooms as bold.

This will reflect in #21

[2015-06-03 18:03] rodrigok opened #123 "Convert all DB references to users from _id to object with username"

[2015-06-03 18:03] #11 closed

[2015-06-03 18:09] dewajac commented on #114
+1

[2015-06-03 18:52] engelgabriel opened #125 "Ability to create avatar from name initials"
So people can skip the avatar upload form.
Maybe the background color could be random too.

[2015-06-03 18:53] engelgabriel opened #126 "Allow to login with username"
Not just emails

[2015-06-03 20:24] engelgabriel opened #127 "Add LinkedIn OAuth"
https://atmospherejs.com/pauli/accounts-linkedin

[2015-06-03 20:25] engelgabriel opened #128 "Add Twitter OAuth"
meteor add accounts-twitter

[2015-06-03 20:42] engelgabriel commented on #57
@dmlittle did you understand?

[2015-06-03 20:43] #57 closed

[2015-06-03 20:45] derek-skinner opened #129 "Add BitBucket OAuth"
https://github.com/npaton/meteor-bitbucket
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20180299-add-bitbucket-oauth?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_med

[2015-06-03 20:57] diomed commented on #71
http://www.soundjay.com/button/sounds/button-43.mp3

[2015-06-03 21:19] diomed opened #130 "embed tweet support"
Would you include embedding of tweets into Rocket Chat?

[2015-06-03 22:26] engelgabriel opened #131 "Fix "backspace" key making browser reload."

[2015-06-03 22:44] Sing-Li commented on #104
Thanks @riaan53 , @dstollie  and @engelgabriel

PR #132 contains the working initial adapter, and some setup instructions.  There are several moving parts and not so easy to setup right now.

In a few days, I'll follow up with a Docker image that will make adapter development "setup free" and maybe even serves as a  deployment container for rocketchat bot instances.

Right now, this adapter requir

[2015-06-03 22:58] andela-cnnadi commented on #104
+1. Looking forward to building cool hacks with this. :+1:

[2015-06-04 01:40] #127 closed

[2015-06-04 01:41] marceloschmidt commented on #128
We won't be doing this yet, as twitter won't provide e-mail addresses.

[2015-06-04 02:14] engelgabriel commented on #103
Thanks! I'll try the same approach

[2015-06-04 02:31] engelgabriel commented on #6
Please use this link: https://www.transifex.com/organization/rocketchat/dashboard/rocketchat

Let me know if it works for you?

[2015-06-04 02:31] #6 closed

[2015-06-04 02:32] engelgabriel commented on #21
thanks @scottyallen

[2015-06-04 02:45] marceloschmidt commented on #105
I have updated the channel creation to limit the characters that may be used on it's creation. I removed the slugify. If that's absolutely needed, just put it back on :) Pull Request 134

[2015-06-04 02:58] scottyallen commented on #21
Sure thing:)  Sounds like it has a bug though, where there's unread messages across multiple rooms.  I'll send a second PR to fix that.  I misunderstood the ChatSubscription data model, I think.

[2015-06-04 03:03] engelgabriel commented on #21
Cool! Looking forward for that!

[2015-06-04 03:17] joepie91 opened #135 "Username autocomplete using Tab"
Filing here as requested.

Currently, the mention popup (triggered by typing `@`) only allows for making a selection using the `Enter` key.

Ideally, the `Tab` key should also be usable here - this creates behaviour similar to an IRC client (and is less ambiguous - in some IM/IRC clients, hitting enter actually *sends* the message, even from an autocomplete prompt).

[2015-06-04 03:34] joepie91 opened #136 "Escape HTML tags instead of stripping them"
Also filing this as requested :)

Currently, if you type the following...

[code]

... this becomes...

[code]

Instead, it should probably just escape `<` (to `&lt;`), `>` (to `&gt;`), etc., so that the text remains visually the same. As from the perspective of a chat user, 'HTML tags' are not meaningful (and simply another form of plaintext), stripping them out is certainly not the correct optio

[2015-06-04 03:42] joepie91 opened #137 "Message grouping"
It would be easier to read if successive messages from the same person were 'grouped' like in Skype, without including the avatar and name every time.

Example:

![selection_299](https://cloud.githubusercontent.com/assets/1663259/7976515/6b8cdc4a-0a7c-11e5-8208-cb204d267e77.png)

[2015-06-04 03:45] joepie91 commented on #137
By the way, to create the above mockup, all I did was to remove the elements for the avatar, name and time from the DOM. No style changes otherwise, so this shouldn't be too hard to implement :)

[2015-06-04 03:51] joepie91 opened #139 "'Action' (/me) command"
It would be nice to have a `/me` command, similar to IRC :)

[2015-06-04 03:58] #131 closed

[2015-06-04 09:02] riaan53 opened #141 "Delay when changing between channels - add subscription manager"
Hi,

It looks like when changing between channels all data is resent again even if no new messages have been added. Adding a subscription manager caches the data on the client for a set amount of time. The result should be more snappy channel changes, less load on the server and less data transfered.

The subscription manager can be added for most of the subscribes, except for notifications, user

[2015-06-04 09:24] riaan53 commented on #137
Nice! +1

[2015-06-04 09:26] captchadex commented on #139
I tried to create a /me command, here is my pull request: https://github.com/RocketChat/Rocket.Chat/pull/142

[2015-06-04 10:26] scottyallen commented on #21
Can we close this issue now or is there something still unfinished?

[2015-06-04 11:36] marceloschmidt opened #143 "Limit size of message"
We should have a limit on the size of a message

[2015-06-04 11:36] marceloschmidt opened #144 "We should replace new lines for <br>, allowing the text to span multiple lines"

[2015-06-04 11:37] marceloschmidt opened #145 "A user reported he can't scroll through the list of channels via More Channels, in Chromium 41"

[2015-06-04 11:49] marceloschmidt commented on #32
Adds the possibility of inline pasting code

[2015-06-04 13:08] jcarloos commented on #6
It works perfectly

[2015-06-04 15:25] #144 closed

[2015-06-04 15:28] #135 closed

[2015-06-04 16:32] #126 closed

[2015-06-04 16:38] rickbenetti commented on #6
Sorry I have problems, but it is because my account, I'm in contact withh
their support.

Em quinta-feira, 4 de junho de 2015, Carlos Rodríguez <
notifications@github.com> escreveu:

--

Atenciosamente,

Rick Benetti
Celular: +55 (11) 98202-8104
Skype: rickbenetti

[2015-06-04 17:51] engelgabriel commented on #103
https://github.com/SpaceTalk/SpaceTalk/pull/74/files

[2015-06-04 18:44] #125 closed

[2015-06-04 19:04] engelgabriel opened #148 "replace all "by" for "u" in Message objects"

[2015-06-04 19:21] engelgabriel opened #149 "Serve transparent 1px gif for missing images to avoid 404s"
Or PNG if it is smaller

[2015-06-04 19:39] engelgabriel opened #150 "Check if "nc": true is still in use in Room obejct"
Name Changed

[2015-06-04 22:13] rodrigok opened #151 "Sort users in room by username"
![captura de tela 2015-06-04 as 19 12 05](https://cloud.githubusercontent.com/assets/234261/7995586/b1884678-0aed-11e5-9d90-68cdebb04b41.png)

[2015-06-04 22:30] marceloschmidt opened #152 "Scroll to top of members list on opening user details."

[2015-06-04 22:33] #151 closed

[2015-06-04 23:15] #149 closed

[2015-06-04 23:15] #123 closed

[2015-06-04 23:16] #21 closed

[2015-06-05 00:18] scottyallen commented on #18
So, it's not immediately obvious what a room link should look like, based on what's here.  As a straw man, how about:

http://rocket.chat/room/57om6EQCcFami9wuT/general

Sound reasonable?

Another option is to just use the room name, ie:

http://rocket.chat/room/general

However, this suffers the problem that if the room is renamed, the link no longer works, whereas the former you can still look u

[2015-06-05 01:06] engelgabriel commented on #18
We already stated to work on this, so please wait a couple is days and you
will see your second option implemented :)

--
Sent from Mobile

[2015-06-05 12:57] rodrigok commented on #116
Hi @diomed, we solved this problem yesterday. Now you can see all users online in channel and soon we will add an option to list all offline users too.

[2015-06-05 12:57] #116 closed

[2015-06-05 12:59] diomed commented on #116
cool :thumbsup:

[2015-06-05 13:14] rodrigok commented on #130
@diomed like pasting a url of a tweet?

[2015-06-05 13:17] rodrigok commented on #104
Looks amazing, I hope to help soon.

[2015-06-05 13:20] rodrigok commented on #136
Thanks @joepie91 I will work on it today.

[2015-06-05 13:22] rodrigok commented on #141
I agree @riaan53.

@riaan53 can you help us with this?

[2015-06-05 13:29] rodrigok commented on #143
Duplicated of #38

[2015-06-05 13:29] #143 closed

[2015-06-05 13:33] riaan53 commented on #141
Hi @rodrigok,

Will help anytime. I spoke to @engelgabriel about this quickly on the general channel and he said that it will actually be resolved in the next release and that theres already a type of subscription manager in rocket chat. One of the problems was related to unnecessary data kept in memory. Gabriel can you elaborate please? Does the subs manager cache subscriptions to avoid unwanted

[2015-06-05 13:34] rodrigok commented on #137
Great suggestion.

I will try to implement this.

Slack has a time to separate messages grouping, if you type a new message after some minutes slack create a new message group.

![captura de tela 2015-06-05 as 10 33 07](https://cloud.githubusercontent.com/assets/234261/8006929/5d5e3806-0b6e-11e5-83a2-4863593c5aef.png)

[2015-06-05 14:15] #148 closed

[2015-06-05 14:25] rodrigok commented on #136
Hi @joepie91 I tried this in http://rocket.chat and this works.
Can you test it?

[2015-06-05 14:25] #136 closed

[2015-06-05 16:16] diomed commented on #130
yes, like that.

[2015-06-05 17:03] joepie91 commented on #136
Seems to work great, thanks! :)

[2015-06-05 17:04] joepie91 commented on #137
Yeah, time-based grouping seems like a good addition to me as well.

[2015-06-05 18:15] rodrigok commented on #130
We are working to add support for external libs to access the message text and process information, after that we can add this idea :)

[2015-06-05 20:16] #137 closed

[2015-06-05 22:15] joepie91 opened #159 "Tab-complete without @"
Would have rolled this into #135 if I'd realized it earlier, but I only just noticed.

Right now, you need to explicitly enter `@` to autocomplete a name, rather than being able to just type the first few letters and hit `Tab` like in an IRC client. Perhaps it'd be possible to allow this without `@` as well?

[2015-06-05 23:21] joepie91 opened #160 "Chat window "jumps" down when messages arrive"
When a new message arrives in the channel, the entire channel view jumps back down. This is rather annoying when trying to read chat history.

A solution would probably be to only make it 'stick' to the bottom if the page is scrolled down entirely.

[2015-06-06 03:43] udnaan opened #162 "Knwl.js integration"
Integrate Knwl.js so a user message contains actionable links for plugins. As in a map plugin can intercept an entered address or a calendar plugin can intercept dates.

I know it's a bit early to be talking about it but it would be a cool think to have and would make this a true Slack alternative.
Just leaving it here for reference. I may come back on work on it if someone else doesn't pick it up

[2015-06-06 15:08] rockneverdies55 opened #163 "User status indicator in 1-to-1 chat page"
User status (available, busy, etc..) indicator is missing next to other user's avatar in 1-to-1 chat page.

[2015-06-06 15:10] rockneverdies55 opened #164 "Ability to quote from previous messages"
It would be nice to be able to quote from earlier messages?

It's very helpful feature when referring to something that's said earlier in long conversations...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20740478-ability-to-quote-from-previous-messages?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_sourc

[2015-06-06 22:17] Sing-Li commented on #104
Folks, please check the https://github.com/RocketChat/hubot-rocketchat  project where the code lives.

I've got a queued PR that catches up with all the publication & method changes in the core, so the bot will now work with the restructuring-in-progress head.   Currently, I'm testing the docker container and it should be ready by the next PR.

@rodrigok - awesome!    @andela-cnnadi  - can't wait

[2015-06-07 05:15] shahar3012 opened #165 "Feature Request: Add support for RTL"
Rocket.Chat should support RTL in order to display the following languages properly:
Hebrew and Arabic.
Please consider adding this support. It should not take a lot of time to finish it.

[2015-06-07 18:12] AdrianoCahete commented on #145
Chromium itself or Chrome?

Chrome 45.0.2424.0 canary works good here.

[2015-06-07 18:25] rkb81 opened #167 "Ability to select specific messages to reply to"
Will be nice if we can reply a single message or group messages, share this message or group, comment message or group, in group case just shift-cick to select multiple messages.

Using icons or just text to Reply, Share, Comment, Private contact.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20821693-ability-to-select-specific-mess

[2015-06-07 18:39] engelgabriel commented on #104
@Sing-Li I've just invited you to the https://github.com/orgs/RocketChat/teams/hubot-rocketchat so you can be an admin of the project too.

[2015-06-07 20:42] rickbenetti commented on #167
This it's an example of my idea with Grouped to comment and links to Replay and Share.
![rocket_chat_group](https://cloud.githubusercontent.com/assets/1049908/8025932/81298248-0d3c-11e5-8d0a-87927ef6ef5d.png)

[2015-06-08 03:45] Sing-Li commented on #104
@engelgabriel   Thanks!

The docker image is ready.   Everyone can start hacking the adapter code, or launch his/her own bot within a few minutes now.  Please head over to the [hubot integration project](https://github.com/RocketChat/hubot-rocketchat)  for information.

[2015-06-08 03:52] AdrianoCahete opened #168 "Make possible to remove users from room"
When you're admin, you need to remove (temporarily or definitely) some users sometimes (for many reasons, dismissals f.e.).
Right button on name on user list with a small popup with actions will be good.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20882025-make-possible-to-remove-users-from-room?utm_campaign=plugin&utm_content=tr

[2015-06-08 03:56] joepie91 commented on #164
+1

I'm personally a fan of the way a Vanilla forum plugin does it; you select a snippet of text, it pops up a small 'Quote' button right below your selection, and you can click it to quote that specific snippet with the username and such prefixed.

[2015-06-08 03:58] joepie91 opened #169 "Userlist automatically hidden"
When starting the client, it now automatically hides the entire userlist, no matter what. Instead, it should remember whether the user 'expanded' or 'collapsed' the userlist, and restore it to this state on load.

[2015-06-08 03:59] joepie91 opened #170 "Automatically close code tags"
When using &#96;&#96;&#96; to open a block of code, it's easy to forget to close it again. It'd be helpful if a missing closing &#96;&#96;&#96; would be automatically inserted upon sending a message.

[2015-06-08 04:09] SN4T14 opened #171 "Option to enable/disable notification sound/message"
The notification sound (which appears to be taken from Facebook?) gets quite annoying after a while because every time I hear it I instinctively check Facebook. It'd be nice to be able to either turn it off entirely, or set which channels play a notification sound. Additionally, being able to choose another notification sound (or you switching away from the Facebook one entirely) would probably be

[2015-06-08 07:08] chrisidefix commented on #164
also quoting yourself via `>` should be possible (you can even do this in this chat)

`> This is a quote`

[2015-06-08 07:10] chrisidefix commented on #79
Actually, I just tried this in the demo and it works fine - either someone already implemented it there or this issue should have been closed?

[2015-06-08 07:14] chrisidefix commented on #170
Also, it should be possible to quote in test `like this` == \`like this\` and you shouldn't have to start a new line for a block of code - that's just annoying!

[2015-06-08 08:00] Calinou commented on #79
It works, but you use only one tilde, not two, which is strange.

[2015-06-08 08:17] diomed commented on #168
I completely agree. Banning them, and deleting their messages should be an option.

[2015-06-08 10:06] joepie91 commented on #170
Potential complication; you need to be able to add a language directly after the code-block opening tags, for syntax highlighting. Not sure if that'd become a potential edge case in the no-newline scenario.

[2015-06-08 10:59] rockneverdies55 opened #172 "Prioritize LDAP support"
It would make adopting or checking out Rocket.Chat much easier for organizations if LDAP (and Kerberos too possibly) was supported.

In `Readme` it's listed as a planned feature however it's not in any of the current milestones.

Is it possible to prioritize LDAP support?

[2015-06-08 11:40] shahar3012 commented on #172
:+1: It sure be nice to have it and it is really important if you want to get organizations into this product. They are key to the success of this project.

[2015-06-08 12:20] karthick-i2i commented on #172
Hi all,

I am karthick. I have just started looking through Meteor,node and all
those cool stuffs.

Could someone please suggest me some simple task to kick start my
contribution ?

On Mon, Jun 8, 2015 at 5:10 PM, shahar3012 <notifications@github.com> wrote:

--
Thanks,
Karthick

DISCLAIMER:

This e-mail and any files transmitted with it are for the sole use of
the intended recipient(s) and may co

[2015-06-08 16:49] sampaiodiego commented on #145
is this fixed by #161 ?

[2015-06-08 17:10] sampaiodiego commented on #165
Can you help us with that @shahar3012 ? We don't know exactly what to change.. It has to be all the interface? Logo, room list position or what? We need some help to do this =)

thanks

[2015-06-08 17:17] sampaiodiego commented on #172
@karthick-i2i I don't think this is the right place to ask that. but, you can see the issues list and pick one you think is the easiest to do. ;)

@rockneverdies55 and @shahar3012 , what you think is the most important thing on LDAP integration? The authentication? The structure?

[2015-06-08 17:22] engelgabriel commented on #172
Some options to deploy something fast.

https://atmospherejs.com/?q=ldap

[2015-06-08 17:24] engelgabriel commented on #169
Fixed.

[2015-06-08 17:24] #169 closed

[2015-06-08 17:29] sampaiodiego commented on #171
what do you think about the sounds proposed in #71 ?

[2015-06-08 17:32] sampaiodiego commented on #164
a link to quote a message that simply copy the message to "textbox" with the `>` character, is something easy to do. is it enough? or do you think it should link to the quoted message or something like that?

[2015-06-08 17:56] rockneverdies55 commented on #164
@sampaiodiego - as my opinion it can be thought of as 2 steps process. Of course linking quoted texts to the originals would be very nice.
However, if basic quoting functionality is easy enough to implement, then let's get that in asap.
Then later, linking quoted texts to their originals can be done as an additional enhancement.

[2015-06-08 18:08] #104 closed

[2015-06-08 18:10] sampaiodiego commented on #164
ok. I think we may change the pencil edit icon to an 'cog' icon with extra options, like edit, quote.. what you think?

[2015-06-08 18:13] engelgabriel commented on #114
Done.

Now we just need to make the email optional too.

[2015-06-08 18:13] #114 closed

[2015-06-08 18:22] rockneverdies55 commented on #164
Sounds very good!..

[2015-06-08 18:27] rockneverdies55 commented on #172
@sampaiodiego - I'm inclined to say "authentication" but at the same time I'm not really sure what you mean by "structure"...

[2015-06-08 18:45] sampaiodiego commented on #172
@rockneverdies55 I know that LDAP (or active directory) can store a lot of "data" (such as groups).

An LDAP integration could create a room for every "group" (or whatever), but this could be a lot complex.

An authentication support could be easy to do, on the first configuration page ( #96 ) you may choose if the Rocket.Chat uses LDAP authentication or others methods.

[2015-06-08 18:47] rockneverdies55 commented on #172
Yes, I definitely agree. For now authentication should be the primary goal as a first step.

[2015-06-09 02:56] joepie91 commented on #171
I'd personally say that regardless of new sound, there should be a mute setting :)

[2015-06-09 03:06] joepie91 commented on #71
I personally find both of those highly aggravating. The default notification sound should probably be more subtle (and only really apply for 'watched' channels, direct messages and highlights/mentions anyway).

Aside from that, the SoundJay sounds are very clearly *not* [OSI-compliant](http://opensource.org/osd-annotated). From their Terms of Use:

- use them as a raw material to create sound effe

[2015-06-09 03:07] joepie91 commented on #164
Sounds good as initial implementation. I'd still support implementing "selection quotes" at a later point as well, though :)

[2015-06-09 03:11] SN4T14 commented on #171
I agree with what joepie91 said both here and in #71, a lower-pitched sound, more of a "bloop" sound would be nicer than the ones suggested in #71, and of course with a compatible license.

[2015-06-09 08:15] chrisidefix commented on #79
Yes, I get what you are saying now - I guess implementing this would be fairly straight forward. I suggest to keep both options, though (so entering `~test~` and `~~test~~` would both result in ~~test~~).

[2015-06-09 08:19] chrisidefix commented on #170
I don't see any complications with that - it's a question of implementation. All you have to do is parse the text right after \`\`\` and if it's a key-word (e.g. `javascript`) then just parse it as that (or do it the way github does and simply render it as code.

[2015-06-09 09:43] dfyx commented on #172
:+1:

Right now, LDAP auth is one of the reason why I prefer Let's Chat over RocketChat.

[2015-06-09 14:54] marceloschmidt opened #175 "Command to /ping a user (notify)"
I think we should have the ability to ping a user, sending him a notification. Notification shall not be repeated until the user has seen previous notification, as to not bother too much. Also, ping notifications must have the option of being disabled on user profile.

[2015-06-09 18:57] esambo commented on #170
I like the inline `code` syntax of Slack a lot. Fixed width font in red is great.
Syntax highlighting should be optional, even for:
[code]
GitHub renders it just fine right here!
Why not just use [GitHubFlavoredMarkdown](https://help.github.com/articles/github-flavored-markdown/)?

[2015-06-09 19:27] Schniz commented on #165
@shahar3012 will help you (I know this guy....) and so do I.
the basic thing that should be implemented is that every `input`/`textarea`/message holder/username should be

[code]

this should set the direction automatically based on the language. no extra work needed on the alignment and directions and stuff. new browsers yay.

[2015-06-09 19:30] Schniz commented on #165
but it makes me wonder about the whole layout, should it be RTLed too?
from what I understand, you guys are working on translating the product (I can't see it, maybe it will be under the new settings page when it will come?), maybe if the user is on Arabic/Hebrew the whole layout should be RTL?

(that, of course, doesn't hurt the `dir="auto"`, it helps for writing english/hebrew/arabic in one sent

[2015-06-09 19:31] Schniz commented on #172
By Kerberos you mean `REMOTE_USER` header or user/password?

[2015-06-09 19:46] rodrigok commented on #175
Why not just use mentions?

[2015-06-09 19:47] rodrigok commented on #79
Agree, I will fix it.

[2015-06-09 19:56] marceloschmidt commented on #175
Yeah, I think that would be a better option :)

[2015-06-09 19:56] #175 closed

[2015-06-09 19:59] #79 closed

[2015-06-10 04:06] Sing-Li opened #177 "Add temporary image and map embed to support bot writers"
We can't quite wait until 1.0.  Because bot writers need to do this now:

![embed](https://cloud.githubusercontent.com/assets/122633/8074725/d66c25f8-0f03-11e5-8e30-37fccd4936e9.png)

Propose to add temporary (hacky, throwaway) implementation of image and map embed to support bot writers.  PR follows.

In the PR, a modular implementation using the brand-new renderMessage callback hooks is also inc

[2015-06-10 09:09] amazg commented on #177
cool，good job

[2015-06-10 10:15] joepie91 commented on #170
@esambo Isn't that already what Rocket.Chat is using anyway? The language specification method I described is from GitHub Markdown also.

[2015-06-10 12:07] rockneverdies55 commented on #172
@Schniz - By kerberos, I meant support for authenticating users via Kerberos. So the direct answer to your question would be user/password probably... But I'm not very clear on your question either; Kerberos vs `REMOTE_USER`?

[2015-06-10 14:01] jscruz opened #179 "Add user to room"
When I created a new room, I clicked on the right corner to display the room options. Then, rocket found the user successfully but I can not add it to the channel. This has been tested in the following browsers:
- Google Chrome Version 43.0.2357.124 m
- Internet Explorer 11.0.9600.17801
- Mozilla Firefox 37.0.2

[2015-06-10 15:58] Wloa commented on #179
I also like to add, when create a new room/channel and "Add Member" during add new channel. Rocket did not notify other user and not shown in the other user channels list as well so other user did not know that he/she is invited to a channel.

[2015-06-10 16:06] Wloa opened #180 "Join Channel and Favorites"
Using IE 11, channel is not listed in Channels list when joining and no effect when clicking Favorites. Work with Chrome and Firefox.

[2015-06-11 01:48] engelgabriel commented on #104
The initial hubot deployment is now running on our demo server... check it out!

[2015-06-11 14:12] karthick-i2i commented on #38
@rodrigok  Restricting message length to 150. Is that fine ?

[2015-06-11 14:15] karthick-i2i commented on #38
@rodrigok  Restricting message length to 150 characters. Is that fine ?

[2015-06-11 14:20] sampaiodiego commented on #38
@karthick-i2i I think 150 is too short. maybe it should limit to 500. but certainly should be configurable.

[2015-06-11 16:16] shahar3012 commented on #172
@rockneverdies55 I think what @Schniz meant is that it would be nice to have a Kerberos authentication that works with `REMOTE_USER` header. Rocket.Chat will authenticate users based on the `REMOTE_USER` header that was passed by a proxy server like Apache that does the user authentication.

The `REMOTE_USER` approach is more easy to implement becuase you don't need to deal with the user authentic

[2015-06-11 16:21] Schniz commented on #172
@shahar3012 :+1:

[2015-06-11 16:34] Schniz commented on #172
I'll add a bit to it. Many organizations use Kerberos as the SSO, without using the user/passwords but using tickets via [GSSAPI](http://en.wikipedia.org/wiki/Generic_Security_Services_Application_Program_Interface).

So why shouldn't we use GSSAPI? well, there is no node module available yet for it.
I had a worker in my organization who developed a nice library using the `SSPI` Apache httpd plugi

[2015-06-11 18:52] shahar3012 commented on #165
I'm working on RTL support. Will create pull request when finished.

[2015-06-11 20:26] Schniz commented on #165
@shahar3012 If I were you I'd create the PR with [WIP] at the beginning of the title.
this could help all of us comment and discuss about the pull request :smile:

[2015-06-12 09:50] karthick-i2i commented on #38
@sampaiodiego Is there any mailing list or any other communication channel for discussion ? So that i could get some help in fixing this issue.

[2015-06-12 13:08] AdrianoCahete commented on #145
Isn't primary  idea, but can be. @marceloschmidt can you ask to user try with new version again?

[2015-06-12 13:11] AdrianoCahete commented on #38
@karthick-i2i i find some help in #general room of Rocket Demo itself. Worth a try.

[2015-06-12 13:44] ThaMunsta opened #183 "Emoji auto complete"
Very small bug but when using the shortcuts, the closing colon tricks auto complete into thinking you are starting a new emoji. For example typing something like `:hearts:` and enter will make the auto complete fill in `:hearts:hash: ` since `:hash:` is the first emoji in the auto complete list.

[2015-06-12 16:49] sampaiodiego commented on #38
@karthick-i2i we used the own rocket.chat to discuss.. =) you can create a channel or group to a more "private" conversation

[2015-06-14 20:23] Sing-Li commented on #177
Closing.  PR was manually merged due to the 'slippery finger effect'  :)

[2015-06-14 20:23] #177 closed

[2015-06-15 12:24] marceloschmidt opened #186 "t"

[2015-06-15 12:25] #186 closed

[2015-06-15 12:25] marceloschmidt commented on #186
Invalid!

[2015-06-15 12:27] marceloschmidt commented on #145
I believe it's fixed now. Let's close it and reopen if needed.

[2015-06-15 12:27] #145 closed

[2015-06-15 12:29] marceloschmidt commented on #152
I don't remember why I opened this. Let's close it for now.

[2015-06-15 12:29] #152 closed

[2015-06-15 12:32] marceloschmidt commented on #42
Duplicate of #37

[2015-06-15 12:32] #42 closed

[2015-06-15 20:03] sampaiodiego opened #187 "Implement "join Channel" button"
When you enter a channel by the channel list you may only see it's messages.. to send messages to that channel you may click "join channel" button, that will replace the "textbox".

[2015-06-15 23:23] #183 closed

[2015-06-16 12:14] sampaiodiego commented on #130
it's already there =)

[2015-06-16 12:14] #130 closed

[2015-06-16 12:14] sampaiodiego commented on #122
done!

[2015-06-16 12:14] #122 closed

[2015-06-16 12:15] #77 closed

[2015-06-16 12:15] #75 closed

[2015-06-16 13:52] #187 closed

[2015-06-17 03:03] #105 closed

[2015-06-17 03:16] engelgabriel commented on #165
Please let me know if all works for you now.

[2015-06-17 03:16] #165 closed

[2015-06-17 03:18] engelgabriel commented on #139
The /me is now working as a package.. you can add more functionality there if you want. Thanks!

[2015-06-17 03:18] #139 closed

[2015-06-17 03:19] engelgabriel commented on #103
All working now!

[2015-06-17 03:19] #103 closed

[2015-06-17 03:31] engelgabriel commented on #25
We now support Hubot and custom message processor via packages, so I'll close this one.

[2015-06-17 03:32] engelgabriel commented on #32
@marceloschmidt finished this already.

[2015-06-17 03:32] #32 closed

[2015-06-17 03:35] #150 closed

[2015-06-17 03:50] engelgabriel commented on #162
This does looks cool.

I've just added the issue https://github.com/loadfive/Knwl.js/issues/85 offering to help them to build an offial meteor packdege. If anyone think it would be useful, please give a :+1: there!

[2015-06-17 05:34] engelgabriel commented on #170
Tested with ```js var a = b; window.alert('test'); ```

and

[code]

or

[code]

even

[code]

[2015-06-17 05:34] #170 closed

[2015-06-17 05:44] engelgabriel commented on #164
We've implemented the basic > quote

So I'll move the issue to a later milestone as it is not a priority now.

[2015-06-17 06:41] haosdent opened #192 "How to avoid "Invalid user error""
Hello, I try to write a third part plugin like packages/rocketchat-hubot. But I meet this error when I call `Meteor.call "sendMessage"`.
[code]
I check the code of [rocketchat-hubot](https://github.com/RocketChat/Rocket.Chat/blob/master/packages/rocketchat-hubot/hubot.coffee#L57-L61), but seem it also don't set userid. I am confuse here, how could I avoid this error. Thank you in advance.

[2015-06-17 06:43] haosdent commented on #192
My code snippet is
[code]
I have already wrap this function by `Meteor.bindEnvironment` before.

[2015-06-17 06:50] engelgabriel commented on #115
https://github.com/foxdog-studios/meteor-webrtc

[2015-06-17 06:53] engelgabriel commented on #115
WebRTC signalling for Meteor with Reactivity!

[Demo](http://webrtc-signalling.meteor.com/) - in `examples/app`

https://atmospherejs.com/fds/webrtc

[2015-06-17 11:44] marceloschmidt opened #193 "We should have a "shareable" link"
Share a link to my profile or a private group so others can talk to me.

[2015-06-17 12:56] sampaiodiego commented on #192
maybe @Sing-Li can answer this?

[2015-06-17 13:18] Julime opened #194 "Invite new users by email"

[2015-06-17 13:18] Julime opened #195 "Block new registations to rocketchat"
In our team we would like to block the registration of external users. New users should only join with an invite (#194)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22334936-block-new-registations-to-rocketchat?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountys

[2015-06-17 13:25] nrunde commented on #195
+1
There should be an option to toggle this behavior in a global settings section.

[2015-06-17 13:26] nrunde commented on #194
+1

[2015-06-17 13:49] Julime opened #196 "Chat scrolldown after images are loaded"
If i change to a chat where images are going to be loaded this happens:
- chat messages are loading
- viewpoint is scrolling down to the last message
- image is now loaded
- viewpoint is now too high

[2015-06-17 13:54] Julime commented on #196
this happens also with smileys ;)

[2015-06-17 13:58] Julime opened #197 "Avatar upload/login does not work"
if i choose facebook/google/... i get the error "Service not configured"
if i choose "select file" nothing happens

[2015-06-17 13:58] engelgabriel commented on #195
:+1: thats right!

We need the admin config page ASAP. I'll bump the priority on that!

[2015-06-17 13:59] Julime commented on #195
Maybe there should be an admin account for settings like this?

[2015-06-17 14:01] engelgabriel commented on #197
Have you created the apps on facebook/google and got the credentials to configure the service?

[2015-06-17 14:03] Wloa commented on #197
"select file" only work in Chrome.

[2015-06-17 14:05] engelgabriel commented on #192
@haosdent did you create a user for Hubot? You need to register yourself as Hubot, and set the login credentials on the hubot server via environment variables.

[2015-06-17 14:06] engelgabriel commented on #194
:+1:

[2015-06-17 14:06] Wloa commented on #197
@engelgabriel - I don't think we have documentation to configure the service for FB, Google, and other.

[2015-06-17 14:09] engelgabriel commented on #192
We need to add a default Hubot user and generate a random token, visible to the admin

[2015-06-17 14:21] engelgabriel commented on #196
Maybe we need to always load placeholders for images, and fix the height of the preview to 400px

[2015-06-17 14:55] Julime commented on #197
i did not create any apps or configured anything

[2015-06-17 15:05] Julime opened #198 "Display amount of users in a Group"
i would like to see how may people are in a Channel/Private Group.
maybe a little badge just like the bootstrap ones http://getbootstrap.com/components/#badges

[2015-06-17 15:10] Julime opened #199 "Option to delete Channels in Channel list"
Every old channel will stay in the channel list, regardless if it is empty or unused. I would like to delete those channels.

[2015-06-17 15:10] engelgabriel commented on #197
You need your own credentials to use any OAuth service.

I'll create some documentation about it.

[2015-06-17 15:16] engelgabriel commented on #199
:+1:

[2015-06-17 19:49] est31 opened #200 "Github login requires email to be public"
The log in with github button requires that the e-mail is public. The application should rather ask for the e-mail through the github API, then users with non-public e-mails can log in, too.

[2015-06-17 23:14] Wloa opened #201 "Channels is not reactive"
Require refresh the page to have new Channel appear in the list of "More Channels.." It only show for the creator of the channel.

[2015-06-18 01:28] #179 closed

[2015-06-18 06:57] haosdent commented on #192
Thank you for your reply. @Sing-Li @engelgabriel .
In fact, I try to write a irc plugin for rocket.chat. https://github.com/haosdent/rocketchat-irc/blob/master/irc.server.coffee

And it could works although it only have the basic communicate function.

Channel message:
![_haosdentd___hadoop__153__n__hadoop_-_http___hadoop_ap](https://cloud.githubusercontent.com/assets/950759/8225675/13ec4bde-15ca-

[2015-06-18 06:59] haosdent commented on #192
I add a receiveMessage to Meteor.methods in server directory. But I am not sure whether it is the best way or not.

[2015-06-18 13:37] engelgabriel commented on #192
That looks cool! Lets me try it and I'll give you some feedback. About the receiveMessage, I had a similar idea... let's talk about it after I have had read the code.

[2015-06-18 13:48] haosdent commented on #192
Thank you for your great help.

[2015-06-18 15:00] Wloa commented on #180
It is working. I was not aware there is a "join" button to join the channel. Once user joined than the Favorites function is working.

[2015-06-18 15:00] #180 closed

[2015-06-18 15:00] engelgabriel commented on #200
:+1:

We will make the whole email "thing" optional.

[2015-06-18 23:23] jerdog commented on #197
Adding a manual icon / avatar via the provided upload your own option does not work.

[2015-06-18 23:26] jerdog commented on #168
Ban with option to delete messages is preferred. Also needs to be only available to creator of channel

[2015-06-19 00:39] udnaan opened #202 "Slack Compatible API for external integration"
The external integration/plugin API should be slack compatible. That way, most of the available slack integrations don't need to be rewritten and can be simply reused.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22427290-slack-compatible-api-for-external-integration?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=is

[2015-06-19 01:50] turkasoft opened #203 "the letter "ş""
" ş " letter appears to be corrupt

![sharfi](https://cloud.githubusercontent.com/assets/4641951/8245937/96387a08-163e-11e5-916d-a85e726fcb6a.png)

[2015-06-19 05:48] engelgabriel commented on #192
@haosdent do you want make a pull request with yous script? I'd be glad to accept it. We just need to turn all the configuration loaded form the DB... so we can setup using an admin interface.

[2015-06-19 06:09] engelgabriel commented on #203
What language file is this?

[2015-06-19 06:10] haosdent commented on #192
Sure and very gladful you want to accept it. Let me fix some minor issue of my scripts and create a merge request.

[2015-06-19 06:11] turkasoft commented on #203
Turkish

[2015-06-19 06:12] engelgabriel commented on #202
:+1:  that's the plan!

[2015-06-19 06:13] engelgabriel commented on #197
@jerdog What browser and OS?

[2015-06-19 06:19] jerdog commented on #197
Chrome (both Incognito and regular) and Firefox. Linux 15.04. Firefox doesn't even provide the file select prompt.

[2015-06-19 06:20] nrunde commented on #197
In chrome the thumbnail of the image is shown in the avatar dialog but nothing happens if you chose that option.

[2015-06-19 11:36] pierreozoux opened #205 "Docker registry?"
Hi!

FIrst of all, great job guys!

Then, a quick question, do you plan to publish your docker file to the registry as an automated build?
I did publish one in the mean time: https://registry.hub.docker.com/u/indiehosters/rocket.chat/

It would be great if you could publish it "officaily".

If you need, I run it with this folder: https://github.com/indiehosters/Rocket.Chat

Cheers!

[2015-06-19 11:38] pierreozoux opened #206 "Create Admin User"
I see form the logs that there is an admin user that is automatically created.

Is it the excepted behavior for production environment?
Can I set it up from ENV variable?
How can I delete it from a production environment?
How can I change the password?

Thanks for your answers :)

[2015-06-19 11:42] pierreozoux opened #207 "Cannot read property 't' of undefined"
Hi!

I'm just trying to run it though Docker, and I encouter the following issue.

During the first run, I see the following error from the logs:
[code]

And then this one:
[code]

Then I can't print the chat. The rest is working fine, but the chat loads forever.
And then when I restart the app, everything is working fine.

This is just to let you know!

Tell me if you need further checking on my

[2015-06-19 12:08] Sing-Li commented on #192
Cool!  Now we can 'bridge in' mainstream OSS project IRC channels :+1:

[2015-06-19 15:49] Wloa commented on #201
It is working now.

[2015-06-19 15:49] #201 closed

[2015-06-19 17:49] engelgabriel commented on #115
Core library of Kurento Media Server
http://www.kurento.org/whats-kurento
https://github.com/Kurento/kms-core

WebRTC Signalling with Meteor demo
http://webrtc-signalling.meteor.com

[2015-06-19 18:08] engelgabriel commented on #205
I'd be glad to publish it officaily.

@Sing-Li can you help?

[2015-06-19 18:37] Sing-Li commented on #205
@pierreozoux @engelgabriel   Sure.  Actually, I've been working on several Docker images for Rocket.Chat deployment to popular cloud services such as AWS, Bluemix, and Google Compute.
We can definitely merge Pierre's work in.

@engelgabriel - please create a DockerImages repos.

@pierreozoux , is it okay with you if your work is merged into an MIT licensed project (ala Rocket.Chat)?

[2015-06-19 18:39] pierreozoux commented on #205
Totally fine :) I still don't have strong opinions about licensing.

[2015-06-19 18:49] Sing-Li commented on #205
Cool.   @pierreozoux  How do you like Docker Compose beta so far?

I've been trying to convince them to include support for   YML + [image-1, image-2, ... image-n]  on their new hub 'product'  -   docker/hub-beta-feedback#57    :)

[2015-06-19 20:22] pierreozoux commented on #205
I find it cool :)

I don't who will win among:
 - procfile
 - unit/fleet file
 - panamax
 - app container pod

I think docker-comnpose is simple and nice to use but fall short on some issue (how to describe multiprocess container, how to apply 'layers' at execution time) and app container pod looks like to solve it.

Anyway, it is a really exciting time!

[2015-06-19 22:05] engelgabriel commented on #207
I think I know what can be causing it. We are working on the setup wizard, that should sort this out.

[2015-06-19 22:31] engelgabriel commented on #205
Created https://registry.hub.docker.com/repos/rocketchat/

What should I do next?

[2015-06-19 22:45] Sing-Li commented on #205
Thanks!

We also need a github repos for our reference "Dockerfiles".

Perhaps:

https://github.com/RocketChat/DockerImages

Then, under there, we will have directories like:

/GCP
/Bluemix
/AWS
/Heroku
/GenericLinux
/CoreOS

... and so on ...  @pierreozoux  -  pls let me know if this organization of directory makes sense to you

... and each directory will have a Dockerfile

Then, we can link eac

[2015-06-19 22:47] engelgabriel commented on #205
Done

https://github.com/RocketChat/DockerFiles

[2015-06-19 23:00] Sing-Li commented on #205
Cool.  I'll add the first set of 'rough-in' top level directories now.   I think we can take it from here.  Thanks, @engelgabriel .

[2015-06-20 00:48] aolko opened #211 "shared hosting"
Can this thing be installed/deployed to a shared (php) hosting?

[2015-06-20 02:01] engelgabriel commented on #211
Probably not. You need NodeJS.. and if Apache is using port 80, you need to configure it to proxy the traffic to the chat process.

[2015-06-20 02:01] #211 closed

[2015-06-20 10:51] pierreozoux commented on #207
Before the setup wizard, would be amazing to have an ENV var.

Please read http://12factor.net/ for in depth explanation.

But just to let you know that as a hoster, then I'd have to end up to ugly steps like this if there is just a wizzard:
https://github.com/IndiePaaS/IndiePaaS/blob/master/dockerfiles/services/piwik/startup-piwik.sh#L96-L100

Thanks :)

[2015-06-20 10:56] pierreozoux commented on #205
I just have experience with CoreOS, and wouldn't know what to say for the rest.

I hope there is a way to have just one Dockerfile. But I just know the names from other systems.

I can provide you a unit file for that, at least the one I'm using. I don't have fleetctl file yet.
I think this is amazing what you are trying to do! Really lookign forward to the outcome! No/not a lot of app developper

[2015-06-20 23:28] Sing-Li commented on #205
@pierreozoux   Thanks!

Can you please submit a PR for your current work into the GenericLinux directory?

I think we can evolve it.

One thing that I'll do though, as much as I respect what Arunoda and the MeteorHack gang is doing, is to replace the all-purpose base with a specialized 'slim' image that I've been tuning (https://registry.hub.docker.com/u/singli/meteor/).

CoreOS!  Very very cool.

[2015-06-21 00:03] Sing-Li opened #213 "WANTED: Anyone deploying Rocket.Chat on Aliyun, NTT's Cloud(n), or Naver's NCloud"
Please share your experience with us at the Rocket.Chat cloud deployment project.
Create an issue at:   https://github.com/RocketChat/DockerFiles

[2015-06-21 00:27] tracphil commented on #172
LDAP auth is important for me as well.

[2015-06-21 06:24] AdrianoCahete commented on #168
Not only to creator, but administrators or moderators (or some access rules to grant/deny).

[2015-06-22 03:23] jasonirwin opened #214 "Ability to mute user for set period of time"
Sometimes it is necessary to temporarily mute users who do not adhere to a chat site's rules. It is desirable to provide administrators/moderators with the ability to mute such users for set periods of time so that they can continue to view the chat but cannot post again until the mute period ends or they are explicitly unmuted.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2015-06-22 15:31] haosdent opened #216 "Improve rocketchat-irc plugin"
Current rocketchat-irc plugin just a prototype, I need do more works to improve it.
- [ ] Add config to enable or disable this plugin
- [x] Reconnect when connection failed between irc server
- [x] Remove unused logs
- [x] Show member status
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22748500-improve-rocketchat-irc-plugin?utm_cam

[2015-06-22 16:39] engelgabriel commented on #23
Prototype implemented. Continue the discussion on #216

[2015-06-22 16:39] #23 closed

[2015-06-22 16:39] engelgabriel commented on #216
Is this going to achieve something like https://www.irccloud.com/ ?

[2015-06-22 16:53] haosdent commented on #216
No sure, I just do it for fun. But I need to make this plugin reliable for other users which want to use it

[2015-06-22 16:55] haosdent commented on #216
For @posix4e 's question, I think it could replace irccloud finally.

[2015-06-22 17:01] nevson opened #217 "Allow disabling Google Analytics"
I know it's very important during early stage of development to get deep insight into how your app gets used so it's understandable that Google Analytics is activated by default. But as I want to run Rocket Chat within my own intranet I want to avoid any user behavior tracking as it might reveal sensitive data.

Would it be possible to add an option to disable GA as page admin or to exclude it dur

[2015-06-22 19:48] engelgabriel commented on #216
That's the spirit @haosdent ! :+1:

[2015-06-22 19:50] engelgabriel commented on #217
You are right. I am building an ADMIN page, on /settings and that is one of the options we plan to have there. Not just to turn it off, but to add your own if you want.

[2015-06-23 02:29] WikiCopter commented on #168
Yes. Like IRC, it would be also nice, in additon to a GUI, to have text commands (say //kick @example).

[2015-06-23 04:18] stefanffsx commented on #214
Good idea +1

[2015-06-23 05:14] karthick-i2i commented on #38
@AdrianoCahete  Are you saying about this one http://rocket.chat/login . I am unable to login. Its shows some script errors while logging in.

[2015-06-23 05:45] nevson commented on #217
Awesome, looking forward to it :)

[2015-06-23 12:05] pierreozoux commented on #205
@engelgabriel can you create an automated build from https://registry.hub.docker.com/repos/rocketchat/rocketchat pointing to this repo. (as there is already a dockerfile, this should work just fine!)

[2015-06-23 13:24] Sing-Li commented on #205
systemd support  (thanks @pierreozoux )   is vital in getting Rocket.Chat into Linux distros.

I think we may want to rename the "Dockerfiles" registry to "Deployments and Linux packages".

[2015-06-23 14:30] pierreozoux commented on #205
Yes, it would make more sense! And maybe we'll see a need for other dockerfiles in the future, we'll see at this moment!

[2015-06-23 15:13] douglas commented on #172
Hello,

Also needing the ldap backend to try it in a brazilian government company ;-)

Congrats guys, you are doing an amazing jog !

[2015-06-23 18:42] AdrianoCahete commented on #38
@karthick-i2i I can't try right now (it's blocked in my work), but @sampaiodiego may can help you.

[2015-06-23 19:48] oinirio opened #218 "general chat-room got froze after a clean install"
I just clone the repo and after creating a new user and enter the default general chatroom the loading animation doesn't go away. this is the terminal output

[code]

[2015-06-23 20:17] engelgabriel commented on #218
Let me try this here

[2015-06-23 22:44] marceloschmidt commented on #88
Is this still an issue?

[2015-06-23 23:07] engelgabriel commented on #218
Should be fixed now.

[2015-06-23 23:07] #218 closed

[2015-06-23 23:09] engelgabriel commented on #205
https://registry.hub.docker.com/u/rocketchat/rocket.chat/ created... is that ok? With the . on the name?

@pierreozoux If it is not, please, reopen the issue and let me know.

[2015-06-23 23:09] #205 closed

[2015-06-23 23:12] marceloschmidt commented on #203
@turkasoft is this an isolated case or all "ş" are corrupt?

"Yeni bir kanal oluştur"
"Geçmiş"
"Giriş yap"

Are those also corrupt on Rocket.Chat?

Thanks.

[2015-06-23 23:15] marceloschmidt commented on #203
BTW, we are not using that phrase anymore, so if it was an isolated case, we can close this issue.

[2015-06-23 23:23] engelgabriel commented on #207
I am creating the admin and the initial configuration tool. My current thinking is that we should accept init values to be passed via environment variables, but they would be overwritten if later the user changes it via /setting page.

The bugg should be fix now. Let me know otherwise?

[2015-06-23 23:23] #207 closed

[2015-06-24 02:29] Wloa opened #219 "Channel not showing in the Channels list"
Create a new Channels and add members during Add Channel. The new channel did not show in the other member's channels list (Pic 1). Refresh the browser still not showing up. However, the member is listed in the members list (pic2).

![pic 1](https://cloud.githubusercontent.com/assets/12832493/8321623/3cba06a6-19f7-11e5-99f4-7eb0ead479ff.jpg)

![pic 2](https://cloud.githubusercontent.com/assets/128

[2015-06-24 03:32] engelgabriel commented on #219
Did you send a msg on the room after adding him?

[2015-06-24 04:02] Wloa commented on #219
No, I did not, In the previous version it automatically show in the Channel list.

I also just find out that if I create new Channel other user could not see the channel when click "More Channel" and require refreshing the browser.

[2015-06-24 04:06] engelgabriel commented on #219
We will fix this.

[2015-06-24 04:07] engelgabriel commented on #219
Just to be clear.. can you test one thing or me? If you add the user when you are CREATING the channel.. it will not alert him until you send the first message... but if you create a channel, and add him later... it will alert him. I think this may be confusing, but it was the behaviour form the beginning, i believe.

[2015-06-24 05:23] Wloa commented on #219
I think the logic make sense.

Scenario 1 - When I add users during creation of the Channel, it will not alert them until the first message.

Scenario 2 - When I add new user after the Channel exist, it will alert the other user.

But the new release did not alert the other user for Scenario 1 after entering the first message.

[2015-06-24 09:34] pierreozoux commented on #207
Great thanks!

[2015-06-24 09:38] pierreozoux commented on #205
Looks amazing!

[2015-06-24 13:53] sampaiodiego commented on #38
@karthick-i2i what errors are you getting on http://rocket.chat/login? can you open an issue showing the errors? thanks

[2015-06-24 14:03] marceloschmidt commented on #172
LDAP support is now available! We need to add a settings config for defining host and other parameters. Currently it is hardcoded in /server/lib/ldap.coffee with a testing server.

[2015-06-24 14:42] karthick-i2i commented on #38
![rocket-chat](https://cloud.githubusercontent.com/assets/3647767/8332784/50b87726-1aad-11e5-8bcf-757806416033.png)

[2015-06-24 15:00] karthick-i2i commented on #38
Its shows Please wait for long time and i am unable to login. Should i need to make any local system configurations ?

[2015-06-24 15:03] tracphil commented on #172
Thank you!

[2015-06-24 16:18] rockneverdies55 commented on #172
@marceloschmidt - Thanks for taking care of this.

Is *"settings config"* stuff in progress currently? Is there an issue or something to follow up the development on that?

[2015-06-24 16:22] marceloschmidt opened #222 "Create Settings Page"
- [ ] Configure external services authentication
- [x] SMTP settings
- [ ] Disable registration #224
- [ ] Disable e-mail verification
- [ ] LDAP options
- [ ] Analytic settings (set ID or disable)

*Message Editing/Deleting*
  - [ ] Allow/Disallow message editing
  - [ ] Allow/Disallow message deleting
  - [ ] Show/Hide that a message has been edited/deleted
  - [ ] Keep history of edited/deleted

[2015-06-24 16:24] marceloschmidt commented on #172
There is now: https://github.com/RocketChat/Rocket.Chat/issues/222

[2015-06-24 16:29] #88 closed

[2015-06-24 16:53] turkasoft commented on #203
There are now only uppercase letter trouble. I think the font does not support Turkish characters

![](http://i.imgur.com/EDDJ8f1.png)

[2015-06-24 17:06] marceloschmidt commented on #203
I don't think I get what the problem looks like to you... Here's how it shows up to me if I choose Turkish language:

![image](https://cloud.githubusercontent.com/assets/1986378/8336315/f08e0c36-1a79-11e5-9c28-961f7ec94ea4.png)

Do you think this might be a wrong encoding? My encoding is set to UTF-8, what's yours?

![image](https://cloud.githubusercontent.com/assets/1986378/8336347/2c9b3e4c-1a7a-

[2015-06-24 17:11] turkasoft commented on #203
the problem is that it's not the side menu. http://rocket.chat/room/8DKrxMs3YJqMQjWrq in the field of chat

[2015-06-24 17:23] marceloschmidt commented on #203
We found out this is a problem with Roboto font under Linux. Please @rcaferati, could you change it to something else?

[2015-06-24 18:30] sampaiodiego opened #223 "User karthick-i2i is having some problems to access the demo site"
As he reported:
![print](https://cloud.githubusercontent.com/assets/3647767/8332784/50b87726-1aad-11e5-8bcf-757806416033.png)

[2015-06-24 18:31] sampaiodiego commented on #38
@karthick-i2i I created an issue (#223) to talk about your problem.

[2015-06-24 18:33] sampaiodiego commented on #223
@karthick-i2i seems meteor is trying to use XHR instead of websockets. are you behind a proxy? are your connection stable?

[2015-06-24 18:49] rockneverdies55 commented on #172
Thanks @marceloschmidt. Would you like to update `README` so it indicates LDAP is supported now (or like to wait till settings page allows configuration)?

[2015-06-24 18:50] sampaiodiego commented on #203
seems to be a font render issue.. changing font-size to 17px, it seems ok:
![image](https://cloud.githubusercontent.com/assets/8591547/8338665/af9d8ea4-1a88-11e5-855a-95836933f3d8.png)

[2015-06-24 19:03] marceloschmidt commented on #172
Done :)
I've also added a wiki entry on how to configure and use it.

[2015-06-25 05:01] stefanffsx commented on #194
+1

[2015-06-25 07:49] karthick-i2i commented on #223
I am sure nothing is blocked here and i believe there is no problem with
internet connection

On Thu, Jun 25, 2015 at 12:03 AM, Diego Sampaio <notifications@github.com>
wrote:

--
Regards
Karthick

[2015-06-25 12:04] sampaiodiego commented on #223
when asked you by firewall, I don't mean there is something blocked. I asked this because websockets (used by Meteor) has some problems when using behind a firewall.. So this is a known problem with the technology.

I have to double check all the possibilities to realize how to fix this. Your help would be very helpful.

[2015-06-25 13:13] sampaiodiego commented on #222
I think we may define what kind of options we must have here, like:

* Options to configure external services authentication
* External e-mail server
* Disable register (for closed teams)

@marceloschmidt can you edit the issue with the "accepted" options?

[2015-06-25 13:31] marceloschmidt opened #224 "Add the possibility to disable registration completely"
Only admins can add/remove users to their infrastructure.

[2015-06-25 15:41] Sing-Li opened #225 "Add ability to disable or filter object embed - admin / settings"
Object embed is a source of bots-net styled Denial of Service attacks for chat based systems

For the admin / settings page, it would be nice to have:

1.  setting to disable embed altogether
2.  setting to replace iFramely oembed with simple-embed  (we may not have access to item 3 with iFramely)
3.  setting to configure [access, deny] filter rules for "after embed transforms", "before render", U

[2015-06-25 16:13] sampaiodiego commented on #222
We should add an option to change behavior of message editing/deleting..

It could be enable or disable the feature of editing/deleting messages or keep it's history maybe.

[2015-06-25 17:31] #27 closed

[2015-06-25 17:56] Schniz opened #226 "RTL: aligning code to left"
I think that `hljs` class should have `text-align: left`.
I don't know any RTL code.. and this will fix the looks of this:
![screen shot 2015-06-25 at 8 55 25 pm](https://cloud.githubusercontent.com/assets/2054772/8361601/91e417c6-1b7c-11e5-8281-d3821362a0cb.png)
into this:
![screen shot 2015-06-25 at 8 55 41 pm](https://cloud.githubusercontent.com/assets/2054772/8361604/9823a458-1b7c-11e5-9633-d0

[2015-06-26 07:22] Sing-Li commented on #216
Interesting read (try to read to the end - I know its a little dry):

http://thenextweb.com/insider/2015/03/24/slack-is-quietly-unintentionally-killing-irc/

Then read the *real*, zero-hype account of the very same need/trend referenced by Pierre above.

This is no longer a technology looking for a solution; but an identified trending market void.

Rocket.Chat can service this niche better than Sl

[2015-06-26 12:06] rockhouse opened #227 "Avatar is not displayed next to message in an ongoing conversation"
![screen shot 2015-06-26 at 13 41 48](https://cloud.githubusercontent.com/assets/2719928/8376823/9176dbd6-1c0b-11e5-8e37-ebfdae38bbda.png)

as you can see in the screenshot in an conversation with @sampaiodiego the avatar did not display although someone else was writing the message

maybe good to know is that a refresh of the page fixes the issue!

[2015-06-26 12:11] sampaiodiego commented on #227
@rodrigok I think we still have a bug here.

[2015-06-26 18:32] engelgabriel commented on #225
https://github.com/RocketChat/Rocket.Chat/pull/230

[2015-06-26 19:11] rodrigok commented on #227
I can't understand this bug.
How to reproduce?

[2015-06-26 19:24] sampaiodiego commented on #227
when chating with someone, I think if you start typing on the same moment another message arrives, it will be wrongly grouped.

[2015-06-26 19:24] Schniz commented on #226
Great work @shahar3012

[2015-06-26 19:24] #226 closed

[2015-06-26 20:04] engelgabriel commented on #115
Use as a benchmark for UI
https://www.tribecube.com/room/t0ttv59mb2u4db1uru5vg193d7

[2015-06-26 20:35] shahar3012 opened #232 "LDAP sync"
Hi,
I believe it will be great to have a way to sync user inforamtion such as display name and avatar (image) from the Active Directory.

This feature has to do ldap queries to fetch the user data.
The data fetching can be done when the user is connected to Rocket.Chat for the first time after the authentication - SSO and auto creation of users.

Also, there should be some settings for the LDAP co

[2015-06-26 20:53] shahar3012 opened #233 "Piwik integration"
Piwik is the leading open-source analytics platform.
It will be very nice to have an integration with Piwik - only need to specify a siteID (a number), the url for your own piwik tracker and to put the generated code from piwik in some place on the site.
This is for the basic intergration.

It can be a bit challanging to use all of piwik features, but we might not have to - it's your choice.

As I

[2015-06-26 22:05] warcode opened #234 "Cleanup in master"
Currently the master branch contains all kinds of appids, og-refs and tracking that really shouldn't be there.

Forking the repo should yield a clean base that a user can deploy without the need for external services and without leaking any information to 3rd parties.

[2015-06-27 02:02] engelgabriel commented on #234
That's why it is not a 1.0 yet :)

Do you want to do a PR with the thing you think should be removed to help us out?

[2015-06-27 02:03] engelgabriel commented on #234
We will be able to do this, when we finish #222

[2015-06-27 08:35] shahar3012 opened #237 "Bug - Automatic refresh multiple times when connecting to rocket.chat"
Hi,
I've noticed that in the last commit, there is a bug that cuases a refresh multiple times automatically when connecting to rocket.chat.
After 2-4 times that the page was refreshed, it stops.

[2015-06-27 18:14] brandonweis opened #239 "Message count of each room is not accurate"

[2015-06-27 23:41] rodrigok commented on #239
@brandonweis, can you explain?

[2015-06-28 07:40] pixelpoesie commented on #194
+1

[2015-06-28 08:06] brandonweis commented on #239
![image](https://cloud.githubusercontent.com/assets/1314902/8395630/6282e3f6-1daf-11e5-8317-01a97204a4b5.png)
![image](https://cloud.githubusercontent.com/assets/1314902/8395635/81f2d390-1daf-11e5-8a20-5362e7779180.png)

I have one conversation in inchatpm channel but the message count shows 0. unless it's private message number not conversation number?

[2015-06-28 18:28] pixelpoesie opened #241 "Failed to deploy on Heroku"
The buildprocess failed with:

$ROOT_URL, if specified, must be an URL.
 !     Push rejected, failed to compile Node.js app

[2015-06-28 18:56] Sing-Li commented on #241
@pixelpoesie -  Are you using the ONE-CLICK-DEPLOY button?

[2015-06-28 20:39] Wloa opened #242 "Fail to install at Local Mcahine"
I just clone the current git and got this error.

![error](https://cloud.githubusercontent.com/assets/12832493/8398228/42d88fce-1db4-11e5-8d1c-3747585df203.jpg)

[2015-06-28 22:00] rodrigok commented on #242
Hi @Wloa,

we are not testing this project in Windows yet.

Do you want to help us to find erros and improve the the support for Windows?

In fact, no one of the core team has Windows installed :)

[2015-06-28 22:36] engelgabriel commented on #242
@Wloa can you try
[code]

and run meteor again

[2015-06-28 22:47] Wloa commented on #242
@engelgabriel - it works. I will do some testing and report what I found if any.

@rodrigok - I am a newbie but willing to learn. :)

[2015-06-28 23:13] engelgabriel commented on #242
OK @Wloa so the problem is probably one of the hubot scripts, probably the youtube one, by the msgs on the log. I'll close it in this case.

[2015-06-28 23:13] #242 closed

[2015-06-28 23:15] engelgabriel commented on #241
I've tried for hours to get the ROOT_URL information from the environment, with no luck. :(

[2015-06-28 23:15] #241 closed

[2015-06-28 23:18] engelgabriel opened #243 "Automate Continuous Integration with Travis"
https://travis-ci.org/

[2015-06-28 23:27] Sing-Li commented on #243
Please push our version tagged builds to MaxCDN  - https://www.maxcdn.com/open-source/

They should be open-source friendly - and truly edge'd worldwide.

[2015-06-29 02:56] rodrigok commented on #243
Travis activated, testing only the build process to prevent errors like this https://github.com/RocketChat/Rocket.Chat/commit/e4848046368d9c60a2273e6b0d4409e609cc818e

https://travis-ci.org/RocketChat/Rocket.Chat/

[2015-06-29 11:04] pixelpoesie commented on #241
Ehm, so deploy to Heroku will not work after all? Hmm maybe then remove the Button in the readme.md...

[2015-06-29 11:23] pixelpoesie commented on #241
Now it works. Didnt do any thing special since yesterday.  Thx!

[2015-06-29 11:27] nevson opened #246 "Chat text input improvementes"
When somebody starts typing a message then the text input jumps up by a few pixels as the information that somebody else is writting a message gets displayed. This can be very distracting in case you're also writing a message as then the text input jumps all the time up and down. Would it be possible to
  a.) statically reserve the space for this notification so that the layout doesn't change or

[2015-06-29 14:22] nevson commented on #222
- [ ] Analytic settings
  - i.e. allow adding new analytic trackers or disable them completely, see https://github.com/RocketChat/Rocket.Chat/issues/217

[2015-06-29 18:38] jjkaufman opened #247 "Total unread message count in browser tab title"
I think it would be helpful to see the total unread message count in the browser tab title. Attached a screenshot of a POC I did locally.

![image](https://cloud.githubusercontent.com/assets/1706950/8415386/678203ba-1e6c-11e5-8d11-3e5a251cf0a6.png)

[2015-06-29 18:44] rodrigok commented on #247
Nice, I prefer before the title, like Facebook:
(3) Rocket.Chat

[2015-06-29 18:49] jjkaufman commented on #247
I agree, it'd look nicer as a prefix.

For my screenshot, I was messing with this code
`if document.title.indexOf('+')<0 then document.title = document.title + ' +1'
else if document.title.indexOf('+')>0 then document.title = document.title.substr(0,document.title.indexOf('+')+1) + (parseInt(document.title.substr(document.title.indexOf('+'),document.title.length)) + 1)`

[2015-06-29 18:51] rodrigok commented on #247
You can create a PR and we can discuss and improve the code :)

[2015-06-29 18:54] jjkaufman commented on #247
I'll give it a go tonight :+1:

[2015-06-29 20:12] Sing-Li opened #248 "Update title description link to HTTPS"
The one below the github title:

![githubssl](https://cloud.githubusercontent.com/assets/122633/8417293/8c238006-1e79-11e5-82e1-9010fc7019ac.png)

[2015-06-29 20:32] sampaiodiego commented on #248
you're fast man :D

[2015-06-29 20:32] #248 closed

[2015-06-29 20:33] sampaiodiego commented on #223
@karthick-i2i can you test now with https? https://rocket.chat

[2015-06-30 06:55] karthick-i2i commented on #223
Its work fine now :)

On Tue, Jun 30, 2015 at 2:03 AM, Diego Sampaio <notifications@github.com>
wrote:

--
Regards
Karthick

[2015-06-30 11:09] sampaiodiego commented on #223
:D good to hear it and thanks for your report.

[2015-06-30 11:09] #223 closed

[2015-06-30 11:21] karthick-i2i commented on #223
welcome :)

[2015-06-30 14:39] hjf288 commented on #232
What help is required with this?

I'm not familiar with JS and Meteor but I've worked with quite a bit of LDAP.

[2015-06-30 17:57] engelgabriel commented on #247
When there are unread messages, but non of them is a Direct Message or a Mention, they should not be counted on the title, maybe just a (!) instead.

[2015-06-30 17:59] engelgabriel commented on #237
@shahar3012 Reopen this issue and let me know if that still happens, or it was just a build eventual failure.

[2015-06-30 17:59] #237 closed

[2015-06-30 18:01] engelgabriel commented on #233
Depends on #222

[2015-06-30 18:02] engelgabriel commented on #232
Depends on #222

[2015-06-30 18:09] engelgabriel commented on #225
Depends on #222

[2015-06-30 18:11] engelgabriel commented on #224
Depends on #222

[2015-06-30 18:12] engelgabriel commented on #195
Depends on #222

[2015-06-30 18:23] engelgabriel commented on #206
If a ADMIN_PASS is provided during the installation, we should create an admin user with that password, otherwise, the first user to register should be the admin user.
Depends on #222

[2015-06-30 18:28] engelgabriel opened #249 "Create UI to edit the Subscription object / channel settings"
Maybe the link would be a COG beside the room name at the top. It would open the right flex bar with the setting for the room and your subscription for the room too.

[2015-06-30 18:30] engelgabriel commented on #200
Depends on #222

[2015-06-30 18:32] engelgabriel commented on #214
Depends on #249

[2015-06-30 18:33] engelgabriel commented on #216
Depends on #222

[2015-06-30 18:34] engelgabriel commented on #217
Depends on #222

[2015-06-30 18:56] engelgabriel commented on #199
Depends on #206

[2015-06-30 19:06] engelgabriel commented on #192
@haosdent

I've split the `/server/methods/sendMessage.coffee` method into the server method that can be called by the client (that has to pass all auth/permissions check) and the rest main functionality is now on a function in `/packages/rocketchat-lib/server/sendMessage.coffee`  that can only be called by server side scripts (without auth/permissions checks)

This should eliminate the need of yo

[2015-06-30 19:06] #192 closed

[2015-06-30 19:07] engelgabriel commented on #168
Depends on #206

[2015-06-30 19:09] engelgabriel commented on #96
Duplicates #222

[2015-06-30 19:09] #96 closed

[2015-06-30 19:10] engelgabriel commented on #119
Duplicated #222

[2015-06-30 19:19] engelgabriel commented on #44
Depends on #222

[2015-06-30 19:27] engelgabriel commented on #171
Depends on #249

[2015-06-30 19:30] engelgabriel commented on #193
Depends on #156

[2015-06-30 19:35] engelgabriel commented on #193
Depends on #18

[2015-06-30 19:40] shahar3012 commented on #237
Now everything works well.
I think it was a build failure, that took some days to fix it.

[2015-06-30 19:41] engelgabriel commented on #78
Duplicates #222

[2015-06-30 19:41] #78 closed

[2015-06-30 19:45] engelgabriel commented on #45
We started to move things into the main rocketchat:lib package

[2015-06-30 19:46] engelgabriel commented on #128
Depends on #222

[2015-06-30 19:47] engelgabriel commented on #129
Depends on #222

[2015-06-30 19:49] engelgabriel opened #250 "Make email validation optional on registration"
Depends on #222

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23398778-make-email-validation-optional-on-registration?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_me

[2015-06-30 19:50] engelgabriel commented on #200
Depends on #250

[2015-06-30 19:51] engelgabriel commented on #128
Depends on #250

[2015-06-30 20:06] pierreozoux commented on #206
I'm totally fine with first user registered is the admin.
But yeah, the best way would be to create the admin on the first run with ADMIN_PASS, ADMIN_EMAIL.

[2015-06-30 20:28] engelgabriel commented on #76
Needs to take in consideration #22

[2015-06-30 20:40] engelgabriel commented on #69
Depends on #99

[2015-06-30 20:41] engelgabriel commented on #69
Depends on #222

[2015-06-30 22:23] WikiCopter commented on #168
Guys. I'm OCD. Please, someone, rename this thread to "Ability to..." rather than "Hability to..."

[2015-07-01 01:57] haosdent commented on #192
Thank you very much! I see it, let me migrate.

[2015-07-01 11:13] engelgabriel opened #251 "Option to send messages with geo-location or just current location"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23447827-option-to-send-messages-with-geo-location-or-just-current-location?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm

[2015-07-01 11:14] engelgabriel commented on #251
Lique Facebook Messenger and WhatsApp

[2015-07-01 11:17] engelgabriel commented on #102
We get the current timezone on the login, and set to the user, and give the ability to change on the profile page #99

[2015-07-01 11:35] engelgabriel commented on #162
Depends on #222

[2015-07-01 11:35] engelgabriel commented on #73
Should be configurable #222

[2015-07-01 11:36] engelgabriel commented on #71
Depends on #222

[2015-07-01 11:41] engelgabriel commented on #141
@riaan53 is this fixed now? We finished the first level of refactoring to improve performance. We still plan  make it even faster, but I think it is acceptable now? Reopen the issue otherwise.

[2015-07-01 11:41] #141 closed

[2015-07-01 11:57] engelgabriel opened #252 "Replace Iron-Router with Flow-Router"

[2015-07-01 12:10] engelgabriel opened #253 "Refactor "typing" messages"
Maybe use another collection or streaming

[2015-07-01 12:35] engelgabriel opened #254 "Use Events or Streams to broadcast messages"
The idea is to reduce the need for the merge box, broadcasting all messages of each room, and have the minimongo to update the entire message on the local collection.

Arunoda's Streams looked promising, but it discontinued
http://arunoda.github.io/meteor-streams/
https://github.com/arunoda/meteor-streams/

Maybe we could ask to become the maintained or at least fork it.
https://github.com/arunoda

[2015-07-01 12:37] engelgabriel opened #255 "Create whiteboard rooms"
http://blackboard.meteorhacks.com/vutLGkeJuGEzsJa2f

[2015-07-01 13:32] sampaiodiego opened #256 "Mention to all members in channel/group"
We should have an @all to send a notification to everyone on a room

[2015-07-01 16:38] mhkeller commented on #217
+1

[2015-07-01 16:42] mhkeller commented on #246
I'm not sure if this is the same problem but I sometimes get a flicker / bump when I send a new message.
![rocket chat bug](https://cloud.githubusercontent.com/assets/498744/8459935/8c53e856-1fee-11e5-9624-ece9a52fab8e.gif)

[2015-07-02 10:12] edoardocavazza commented on #37
If you need help, I could do an analysis of what are the steps to do (issues to resolve, configurations, etc...). I have experienced with Electron and NW.js both!

[2015-07-02 14:28] engelgabriel commented on #246
It is a problem. We are fixing it. Thanks! :)

[2015-07-02 14:29] engelgabriel commented on #246
Depends on #253

[2015-07-02 14:56] kohenkatz commented on #241
I got the same error today when using the one-click deploy button.  Here is the entire log:

[code]

[2015-07-02 15:02] kohenkatz commented on #241
I figured out my issue.  I chose to create a new Heroku account for this app, and the first time that I clicked the "Deploy" button, Heroku interrupted the deployment to ask for credit card info in order to verify my account.  The deployment was left in "half-configured" state, so future clicks of the "deploy" button failed too.

After I deleted the old half-configured deployment and started total

[2015-07-02 15:19] engelgabriel commented on #241
Yes, Meteor needs the $ROOT_URL variable.

[2015-07-03 01:42] jaypanares opened #257 "Error on meteor run"
Hi,

I'm working on a fork of this repo, but when I run `meteor` I get the following error:

[code]

Is there anything I need to do beforehand before I can get it to run?

[2015-07-03 02:10] jaypanares commented on #257
Slightly figured out that there might be something wrong with my environment (Windows 8).  I ran the same app on Cloud9 (Online IDE) with no errors.  What's wrong with my local setup?  Did I miss to install anything?

[2015-07-03 02:17] Wloa commented on #257
Hi Jay, There is some issue with Windows installation. I had the same problem and Gabriel Helped me. See the below link.

https://github.com/RocketChat/Rocket.Chat/issues/242https://github.com/RocketChat/Rocket.Chat/issues/242https://github.com/RocketChat/Rocket.Chat/issues/242

[2015-07-03 02:22] jaypanares commented on #257
@Wloa Thanks!  It's working now, but are there any side effects with removing `rocketchat:hubot` ?  Does the app still work with full functionality without that package?

[2015-07-03 02:30] Wloa commented on #257
The app works perfectly the only issue is video. So when you enter say you tube url, it just list the link while in Linux one will show the video in the chat body itself..

[2015-07-03 02:33] jaypanares commented on #257
Ok, good to know.  Thanks!

[2015-07-03 02:33] #257 closed

[2015-07-03 13:49] rajasankar-ideas2it opened #258 "Unable to start in my ubuntu12.04 local machine"
![screenshot from 2015-07-03 19 17 31](https://cloud.githubusercontent.com/assets/5243457/8500297/67deca92-21b8-11e5-8e45-a93607c4edc3.png)

[2015-07-03 16:46] sampaiodiego opened #259 "Cannot set user name on meteor.com deploy"
meteor.com servers uses MongoDB 2.4, which not support $sort in update of array of strings.

[2015-07-04 15:04] brandonweis opened #262 "Is it good to have a Todo List in each channel?"
Members can pin their conversation to the todo list and also create one manually.
Member can assign other members to the todos.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23677383-is-it-good-to-have-a-todo-list-in-each-channel?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept boun

[2015-07-06 03:36] AdrianoCahete commented on #217
How about "if undefined = disabled"? I think it's disabled when you don't have anything set, is a little bit strange. Just UX things, you know.

[2015-07-06 12:09] guarilha opened #265 "Can't access online demo: `ReferenceError: mozRTCSessionDescription is not defined`"
[code]

[2015-07-06 12:17] rodrigok commented on #265
Which browser and version are you using?

[2015-07-06 12:19] guarilha commented on #265
Mozilla/5.0 (X11; Fedora; Linux x86_64; rv:38.0) Gecko/20100101 Firefox/38.0

[2015-07-06 14:15] sampaiodiego commented on #258
@rodrigok or @engelgabriel , how can we resolve these rocketbot dependencies errors? I already see other other people with errors like these.

[2015-07-06 14:18] sampaiodiego commented on #262
we are planning some improvements on right side bar. this is a good idea to put in there. =)

[2015-07-06 14:18] engelgabriel commented on #265
Seems to be related to https://github.com/RocketChat/Rocket.Chat/blob/master/packages/rocketchat-webrtc/adapter.js

[2015-07-06 14:19] rodrigok commented on #258
@sampaiodiego can you reproduce this errors in your linux?

[2015-07-06 14:22] engelgabriel commented on #262
![screen shot 2015-07-06 at 11 21 50](https://cloud.githubusercontent.com/assets/1000217/8524380/43b0f454-23d1-11e5-958c-a2473b0cde42.png)

[2015-07-06 14:51] engelgabriel commented on #258
We need to make the hubot scripts optional, so people can disable them.
We need to find a 12.04 to try to sort out the problem.

[2015-07-06 17:10] warcode commented on #262
Is it possible to extract things like these into plugins? While useful this doesn't seem to be something directly related to chat.

[2015-07-06 17:27] engelgabriel commented on #262
Thats the plan. Everything will go into /packages so you can turn every feature on/off

[2015-07-06 17:41] sampaiodiego commented on #258
so @rodrigok I can't. And I get no errors installing on a fresh digital ocean ubuntu

[2015-07-06 17:45] Sing-Li commented on #265
We may want to detect for webrtc support within our package code *before* executing any line that can fail.  Then ensure the "Video Button" does not show when there is no support.   It will avoid having to troubleshoot multiple variations of  browser + OS combinations (similar to this issue).

In this field tested Apache Licensed code - see the isWebRtcCompatible() for a possible implementation:

[2015-07-06 17:58] engelgabriel commented on #265
I thought that we could do this using just the adapter.js we copied from https://github.com/webrtc/adapter

There are other alternatives:

https://github.com/Temasys/AdapterJS
https://github.com/willscott/webrtc-adapter

Maybe we need to spend more time to investigate the best solution. Thanks for the extra info @Sing-Li

[2015-07-06 18:03] engelgabriel commented on #115
Another app for inspiration:
https://appear.in/
https://github.com/appearin

[2015-07-06 18:24] brandonweis commented on #262
cool, everything in package and reusable, is there a coding style guideline? I have some time for this.

[2015-07-06 18:51] warcode opened #268 "Shared secret encryption plugin"
While waiting for a true OTR solution a simple shared secret symmetric encryption set by the users themselves would probably be "good enough" for most use-cases where you just want confidentiality for the message contents.

I have started a plugin at [warcode/rocketchat-sharedsecret](https://github.com/warcode/rocketchat-sharedsecret) and the basic functionality is there.

The users should be able

[2015-07-06 20:29] engelgabriel commented on #262
We have been using CoffeeScript, but not real coding style guideline yet :( That's in my TODO list.

[2015-07-06 21:32] engelgabriel commented on #268
Looks like a good start! I didnt try it on my local version, but on the high level seems to be the right way to do it.

[2015-07-06 22:19] engelgabriel commented on #37
Hi @edoardocavazza we do need help! How can I help you help us? :)

[2015-07-06 22:21] engelgabriel opened #270 "Native iOS Application"
We need to start working on this to get a ALPHA version as soon as possible.

Some ideas on https://github.com/danielfbm/meteor-cordova-web-example are very interesintg.

From https://forums.meteor.com/t/different-interfaces-based-on-devices/264/19

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23821702-native-ios-application?utm_ca

[2015-07-06 22:24] engelgabriel opened #271 "Native Android Application"
We need to start working on this to get a ALPHA version as soon as possible.

Some ideas on https://github.com/danielfbm/meteor-cordova-web-example are very interesintg.

From https://forums.meteor.com/t/different-interfaces-based-on-devices/264/19

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23822064-native-android-application?ut

[2015-07-06 22:35] engelgabriel commented on #37
Some ideas on https://github.com/danielfbm/meteor-cordova-web-example are very interesintg.

From https://forums.meteor.com/t/different-interfaces-based-on-devices/264/19

[2015-07-06 23:03] engelgabriel commented on #36
Hi @Igor1201 can we work together to get your PoC to work on Rocket.Chat?

[2015-07-06 23:07] engelgabriel commented on #36
See #268

[2015-07-06 23:08] engelgabriel commented on #268
See #36

[2015-07-06 23:34] engelgabriel commented on #115
https://www.twilio.com/blog/2014/12/set-phasers-to-stunturn-getting-started-with-webrtc-using-node-js-socket-io-and-twilios-nat-traversal-service.html

[2015-07-06 23:34] engelgabriel commented on #115
https://apprtc.appspot.com/

[2015-07-06 23:38] engelgabriel commented on #115
https://github.com/opentok/OpenTokRTC

[2015-07-06 23:40] engelgabriel opened #272 "Watch YouTube Together"
http://simulchat.com/
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23825865-watch-youtube-together?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_sou

[2015-07-06 23:48] engelgabriel opened #273 "Whiteboard - Draw together"
We should have a plugin to open a Whiteboard on the right flex tab

Examples:
https://awwapp.com/
http://simulchat.com/

[2015-07-06 23:52] DonSinDRom opened #274 "Option to not convert link to image"
If someone post a big gif (or other image), client may start lagging.
It will be nice to have ability to switch off/on link->img feature.
I see it as a checkbox under textarea.
Checkbox to switch off/on audio notification will be great too.

[2015-07-06 23:52] engelgabriel opened #275 "Members on a map"
We should have a plugin to open a map on the right flex tab that would show the list of users in the room.
Users would be able to choose the level of accuracy. It could be fun for communities.

Example:
http://idoco.github.io/map-chat/
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23826433-members-on-a-map?utm_campaign=plugin&utm_co

[2015-07-07 04:58] Sing-Li commented on #265
I think the 'webrtc compatibility charts' all over the web are misleading.  Just because it says Firefox 38 supports webrtc - it does not mean ALL firefox-38 + OS combinations support webrtc.  This is why run-time, browser capabilities-based detection of webrtc support remains very important in production systems.

[2015-07-07 07:02] edoardocavazza commented on #37
I have tried to follow this [guide](https://medium.com/@guidouil/cross-platform-desktop-apps-with-meteor-and-electron-5355eb9e351) but I found a lot of problems with relative paths (many of them have the trailing '/', good for web, but not for Electron or Cordova). In my opinion, this is the first issue to manage!

Path issues:
- [ ] `//fonts.googleapis.com/css?family=Roboto:500,300,700,400&subset

[2015-07-07 08:09] edoardocavazza commented on #37
I have made a shell script for compiling and preparing the Electron app.

First of ll, install Electron `npm install electron-prebuilt -g`.

Then navigate to the project, and run this script:
[code]

You can also specify the server url:
`../build-electron.sh --server <your server url here>`

[2015-07-07 12:38] rodrigok commented on #265
I am working on it. I've tried to use AdapterJS, looks good, but do not worked for me easily, so I changed the old adapter to a much more simple code and now webrtc is working in FF in OS X.

The next step is create this verifications if the browser support webrtc and then work with some solution to make webrtc work in IE and Safari.

[2015-07-07 14:26] engelgabriel commented on #37
Hi @edoardocavazza thank you so much for the help and welcome to the team!

I'll try to fix what you have listed here.

Have you seen this links?

https://medium.com/@guidouil/cross-platform-desktop-apps-with-meteor-and-electron-5355eb9e351

and:

https://github.com/sircharleswatson/Electrometeor
https://sircharleswatson.github.io/2015/04/30/Electrometeor-Build-Desktop-Applications-With-Electron-M

[2015-07-07 14:48] rodrigok commented on #265
@guarilha Can you test again?

[2015-07-07 16:32] engelgabriel commented on #37
I am trying to do too many things at once.. I've just noticed the link now... stupid me.

[2015-07-07 16:39] engelgabriel commented on #37
@edoardocavazza can you add your shell script to the root directory on a PR?

[2015-07-07 16:42] engelgabriel commented on #37
Maybe  `meteor build . --server $url` should be `meteor build . --mobile-server $url` to solve the issue with the `/sockjs/info` url?

[2015-07-07 16:55] edoardocavazza commented on #37
It seems that `--mobile-server` is not a valid flag for `meteor build`, it is not working for me :(

[2015-07-07 17:29] engelgabriel commented on #37
i think it is just for meteor run :(

[2015-07-07 17:32] guarilha commented on #265
it's working now @rodrigok :+1:

[2015-07-07 17:50] Sing-Li opened #277 "Skins and themes support"
Make it possible to 'white label' Rocket.Chat.

Should not need to know Meteor or JavaScript to become a skin/theme artist.

Embrace a mini-industry of Rocket.Chat themes and skins creators.

TEST for success: When we see a themed Rocket.Chat in the wild, but we're not certain if it is really Rocket.Chat :)

[2015-07-07 18:19] rodrigok commented on #265
:D

[2015-07-07 18:19] rodrigok commented on #265
:D

[2015-07-07 18:19] #265 closed

[2015-07-07 18:40] brandonweis commented on #262
I would like to contribute. Is there a todo-assignee list? Be great to avoid working on things others already been doing

[2015-07-07 19:20] engelgabriel commented on #37
I am not sure why we need to rename the JS and CSS files? Just a matter of taste?

[2015-07-07 19:21] edoardocavazza commented on #37
ok, I have found out that the `index.html` used by the shell script won't work. I am trying to figure out how to dynamically create a new one. Once I have found a solution, I will PR the script!

[2015-07-07 19:33] hobarrera commented on #37
I'd really love to work on this, since I need something like this for a few projects (and I'd rather pick RocketChat instead of Slack, but the need for a *native* client is pretty strong).

My intention is to use Qt for this, to keep it simple and lightweight, but I'm not seeing any public API for RocketChat (and the README says it's in the roadmap). Is it still on the roadmap? Is anyone willing t

[2015-07-07 19:36] hobarrera commented on #37
Oh, I only just noticed that this issue's title doesn't match with what the README states (I got here by it). Maybe the README needs updating, or we need a separate issue for a 100% native client?

[2015-07-07 20:11] shtefcs commented on #271
This will be some awesome and biggest feature for sure. :+1:  for that guys, waiting to see.

[2015-07-07 20:12] engelgabriel commented on #277
Depends on #222

[2015-07-07 20:14] Sing-Li commented on #37
@hobarrera   Can Qt work with a 100% publish-subscribe API?   That is, can the UI components sit idle pending incoming events/changes while yielding 100% to the OS without polling or freezing?

[2015-07-07 20:59] warcode commented on #268
The plugin is now usable with a /setsecretkey KEY/off command. If a key is set the plugin will currently encrypt and decrypt messages with that key in all conversations and channels.

Messages and urls are encrypted.

As far as I can see there is no way to do encryption clientside and the keys have to be stored in memory on the server. This is still a step up from saving them in the db.

For now t

[2015-07-07 22:14] hobarrera commented on #37
@Sing-Li I don't see why not. Specifically, are we talking about http long-polling, or web-sockets?

[2015-07-07 23:07] Sing-Li commented on #37
@hobarrera - it can be either, actually - because the engine underneath Rocket.Chat : Meteor uses sockjs and it adaptively uses either long-polling or web-socket depending on the vintage of the client's browser.

In any case, if Qt can handle pub-sub, then the 'API' is essentially already in-place.  Because all that Rocket.Chat is, on a server-data level, is [this set of Collections](https://githu

[2015-07-08 00:10] guarilha commented on #37
@Sing-Li - I agree the current API format is good enough to create an alternative front-end as @hobarrera intends. But as [Slack](https://api.slack.com/) points out:

Even though the back-end has an API in place, a more friendly way of interacting with Rocket Chat could really help the project gain more adoption. I'm one that's waiting the REST API before I can deploy RC at my company.

Anyway, th

[2015-07-08 00:19] Sing-Li commented on #37
@guarilha  - I would agree 100% re: REST API for external integrations (or 'complex services').  My comments are specifically directed towards a 'native client' implementation.

[2015-07-08 02:23] Sing-Li opened #278 "Like or Up-vote a post"
Posts with more likes or up-votes get longer retention time.

Beyond a certain threshold likes, post becomes part of a rolling 'sticky list' at top of the room.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23906925-like-or-up-vote-a-post?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We a

[2015-07-08 02:26] Sing-Li opened #279 "Personal Wall - subsume core Facebook / Twitter (but private and controlled)"
Allow a directed room to oneself.   Only one single writer allowed in this room, but unlimited visitors.

Visitors gets a 'facebook-skinned' or 'twitter-skinned' view into all posts in the room.

Native mobile apps with specialized views: enable private social-network styled interactions.

Depends on #277 and #278

Finally give that sparse index a _real_ test :)
## <bountysource-plugin>

Want to b

[2015-07-08 02:43] stefanffsx commented on #265
working in chrome for you guys?

[2015-07-08 13:55] engelgabriel commented on #37
We will move the work on the Native Cross-Platform Desktop Application via Electron to
https://github.com/RocketChat/DesktopApp

If anyone wants to join the DesktopApp team, let me know.

[2015-07-09 01:24] #115 closed

[2015-07-09 05:07] engelgabriel commented on #268
@RocketChat/owners ideas?

[2015-07-09 05:22] Sing-Li commented on #24
Interesting how a slight change on the title can turn a UI detail into a killer feature.

So are we thinking:

[scalable multicast]
single upload ->  S3 or Object Storage -> CND -> tons of downloaders

OR

[simple multicast]
single upload -> server-side temporary holding -> tons of downloaders

[p2p]
intent to share -> File Sharing 'Signaling'  ->  tons of sharing sessions going browser-to-browser

[2015-07-09 05:49] aokutemaruino opened #283 "Enable Desktop popup Notifications"
When the window receives the message at the time of the non-active, I want to make HTML5 desktop notification is displayed.
Also, I want to be a notification of conditions can be set for each DM and room. (Notification conditions, such as "Mention only" や "All messages")

The ability to display a notification has been implements in notification.coffee? Just not being used?

https://developer.mozil

[2015-07-09 14:06] Transporters commented on #271
will it be a native or hybrid app ?

[2015-07-09 14:14] #239 closed

[2015-07-09 14:21] rodrigok commented on #283
Hi @aokutemaruino, we are working on it now as we are developing the Desktop App (https://github.com/RocketChat/Rocket.Chat.Electron), the notification will be available on the Desktop and Web version, probably until the weekend.

The configuration will be implemented as long as we implement the settings page (https://github.com/RocketChat/Rocket.Chat/issues/222)

[2015-07-09 14:29] rodrigok commented on #268
Maybe we can disable the oembed plugin in encrypted messages

[2015-07-09 15:07] engelgabriel commented on #271
We will start with hybrid.. thats all we have time for now. But if someone want to help with a fully native, it would be awesome!

[2015-07-09 15:10] engelgabriel opened #286 "Add custom HTTP Headers to let other servers know it is a Rocket.Chat server"
Needed for native apps
See https://github.com/RocketChat/Rocket.Chat.Electron/issues/1#issuecomment-120001636

[2015-07-09 15:13] engelgabriel commented on #262
We are focusing on the issues for v0.4 and v0.5

All others as open.. if you let me know you are working on one, I'll add the IN PROGRESS tag.

[2015-07-09 16:21] rodrigok commented on #286
Name suggestions? Value suggestions?

My suggestion:
* rocket-chat-version: 0.0.1

[2015-07-09 17:48] engelgabriel commented on #286
:+1: for rocket-chat-version: 0.0.1

[2015-07-09 21:22] rwakida commented on #12
Questions:
1. Does data.ChatRoom becomes chat_room or chatroom?
2. Any other collections besides: data.ChatMessage, data.ChatRoom, data.ChatSubscription, and data.ChatTyping?
3. Does the solution need to migrate existing data?  Meteor doesn't support renaming or deleting a collection as far as I know.  Any suggestions?

[2015-07-09 21:36] engelgabriel opened #287 "Channel messages sent in a scheduled email digest"
Starred and Upvoted messages on a channel

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24035917-channel-messages-sent-in-a-scheduled-email-digest?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_cont

[2015-07-09 22:12] Sing-Li commented on #268
Do we not use localstorage somewhere in the code base?

@warcode - do you speak XMPP?

[2015-07-09 22:13] sampaiodiego commented on #12
I was thinking in to use a prefic like "rocket" for collection names. should be one of these:

- rocket.chatRoom, rocket.chatMessage, rocket.chatSubscriptions
- rocketRoom, rocketMessage, rocketSubscription

I think using a prefix is the best for an existing database with other collections

[2015-07-09 22:21] sampaiodiego commented on #24
I think we are thinking in 'scalable multicast'..

you can paste an image or a file of any type and you or other can pin the object in the room, or simply download it.

actually, @rockhouse should be working on a part of these..

[2015-07-10 00:36] aokutemaruino commented on #283
@rodrigok Thank you answer! looking forward to the weekend.

[2015-07-10 00:42] eolynyk opened #288 "username already in use bug"
works fine on localhost, but once deployed to meteor.com, I keep getting an error like

REGISTER USERNAME
The username is used to allow others to mention you in messages.
eve988886 is already in use :(

No matter which username, the same bug keeps popping up.

http://eve-fcc3.meteor.com/home

[2015-07-10 02:10] rodrigok commented on #288
Hi @eolynyk. Unfortunately the meteor.com use mongodb 2.4 and we are using APIs that only exists in mongodb 2.6+

The problem is related with $sort with $each (https://github.com/RocketChat/Rocket.Chat/blob/fd7c3b7bd7b4e3553c493ee31f557ea186a7befb/server/methods/setUsername.coffee#L24)

We are thinking how to solve this problem.

[2015-07-10 02:22] #286 closed

[2015-07-10 06:09] Wloa opened #290 "Cannot post message using IE"
There is no text input for message when using IE 11.0.9600.1783

[2015-07-10 06:40] Blaumeiser opened #291 "_*ib*_ doen't work"
Combining _ * to have italic bold-combos does't work. Example:
_i_ -> ok
*b* -> ok
_*ib*_ -> nok
*_bi_* -> nok

[2015-07-10 13:00] sampaiodiego commented on #288
duplicated of #259

[2015-07-10 13:00] #288 closed

[2015-07-10 13:02] sampaiodiego commented on #291
seems that doesn't work on github too :laughing:

[2015-07-10 13:07] #283 closed

[2015-07-10 13:48] engelgabriel commented on #12
I think we should either lose the prefix all together.. and use

* rooms
* messages
* subscriptions

or

* rocketchat_rooms
* rocketchat_messages
* rocketchat_subscriptions

[2015-07-10 16:26] vahid-sohrabloo opened #292 "Add roles and permissions schema"
I think we need role for user and access to action (like create channel) based on role.

[2015-07-10 18:31] warcode commented on #268
The key is saved in localstorage on the client for decryption. The issue is that the saving of the message, and 'beforeSaveMessage' is ran individually on the server and client, the server version overriding the client one once that runs. This is standard procedure in a meteor app, but not helpful in my case.

@Sing-Li Not enough to confidently say I do.

[2015-07-10 18:36] neurobe opened #293 "New Label, "Use Cases"?"
Great job with this guys.
With all the enhancements proposed and recent addition of video, got me thinking that the most precious commodity was now screen real-estate.Todo list, youtube, maps, calendar  and also the question of Roles. Quite a handful.
We have the notion of Rocket.Chat as meteor plugin, but it seems to me that a more valuable concept would be to consider Rocket.Chat "payloads" (Roc

[2015-07-10 21:56] warcode opened #294 "Slash commands as events"
Slash commands such as

    /topic
    /me
    /slash parameter1 parameter2

should have a built-in handler that lets plugins register for the callbacks.

Returns the parameter(s) entered by the user.

[2015-07-11 00:01] rwakida commented on #12
As an outsider learning the system, the prefix helps to differentiate Rocket.Chat's collections from non-Rocket.Chat collections.  I like rocketchat_rooms format.

What about existing data migration?

[2015-07-11 00:32] rodrigok commented on #12
I agree with @rwakida.

About the data migration we already use one lib to do migrations, you can see here (https://github.com/RocketChat/Rocket.Chat/tree/master/server/startup/migrations)

[2015-07-11 00:46] sampaiodiego commented on #294
we do have plugins and handlers for this =)

as you can see the /me command on https://github.com/RocketChat/Rocket.Chat/tree/master/packages/rocketchat-me

so, unless you want a specific command I'll close this issue, ok?

[2015-07-11 00:46] #294 closed

[2015-07-11 00:51] sampaiodiego commented on #292
Yeah we need this.

This will define some implementations of #168 and #206

[2015-07-11 00:52] rwakida commented on #12
Thanks @rodrigok. I saw the migrations, but I think this is a special case.  Meteor (from what I know) doesn't support Mongo's renameCollection or drop collection.  So we either have to:

1. Instruct the user to manually run renameCollection from the shell before starting meteor.
or
2. Rename the collections in collections.coffee.  Create a migration that accesses the old collections and migrates

[2015-07-11 00:52] sampaiodiego commented on #12
@rodrigok but using meteor could be painful since you can't rename collections

[2015-07-11 11:02] greentornado commented on #270
I can try to ake one in Appcelerator

[2015-07-11 17:26] warcode commented on #294
As it is now each plugin has to check for /x in a message and handle it from there.

What I am proposing is a single system that checks for /x before any real "message" is sent, generating a callback to the registered function for x. This makes it possible to restrict having a command affecting  multiple plugins, which might break things. The current system also makes it cumbersome to have a /help

[2015-07-11 18:16] Sing-Li commented on #268
Are you saying that you can work with a 'beforeSaveMessageClientOnly'  hook?

Sounds like a big security hole - but then we *must* trust our published packages since they are really part of core, just componentized :)

[2015-07-11 18:56] warcode commented on #268
We would need a hook that fires before the server method _sendMessage_ is called, or wherever it is we are before we transfer the message object to the server. (I haven't had time to look through the code for that yet)

Right now a user has to trust the server to not listen in on the message before it is encrypted for storage in mongodb. If we can do a pure clientside encrypt/decrypt we are better

[2015-07-11 19:29] rodrigok commented on #12
IMHO, there is no problem in create the new collections, migrate de data from old collections, remove old data and keep this collections empty.

We don't have a stable version yet, this seems to be a very small problem.

[2015-07-11 20:02] devwill opened #295 "How i build"
How i build a web version

[2015-07-11 20:18] rodrigok commented on #295
Can you be more specific?

[2015-07-11 21:07] devwill commented on #295
estou tendo dificuldade de rodar o rocket no meu servidor tenho pouca experiencia com apps assim e gostaria de instala-lo para estudos

[2015-07-11 21:14] mcsaucy commented on #295
Hey Devwill,

The development installation instructions work fairly well if you're simply looking to try it.
[code]

[2015-07-11 21:29] rodrigok commented on #295
Fala @devwill, como tu está tentando rodar ele? Tem 2 formas, uma usando o Meteor como descrito pelo @mcsaucy e outra compilando e rodando direto com o node.

[2015-07-11 22:55] devwill commented on #295
qual o processo para compilar pelo node e rodar no meu servidor poderia me enviar pelo email por gentileza ewill849@gmail.com

[2015-07-12 00:06] rodrigok commented on #295
@devwill você pode seguir este script: https://github.com/RocketChat/Rocket.Chat/blob/master/build.sh

Basicamente você precisa fazer o seguinte:
* Fazer build do projeto *meteor build --server url.do.teu.server.com ./*
* Pegar o tar.gz e descompactar dentro do teu server
* Entrar na pasta *bundle/programs/server*
* Instalar as dependências *npm install*
* Voltar para a pasta *bundle* e rodar o ar

[2015-07-12 00:06] #295 closed

[2015-07-13 11:33] haosdent commented on #222
+1

[2015-07-13 13:11] marceloschmidt opened #298 "Allow a user to change password"

[2015-07-13 13:31] #81 closed

[2015-07-13 13:32] marceloschmidt commented on #81
It's now enabled. You can press CTRL (or Command) + Shift + K. Shift was added because CTRL+K will move the cursor to the search bar on Google Chrome (Linux and Windows)

[2015-07-13 13:33] sampaiodiego opened #299 "Old messages are being removed when new arrives"
Because of [this](https://github.com/RocketChat/Rocket.Chat/blob/master/client%2Flib%2Fcollections.coffee#L21-L22), when you are in a room and a new message arrives, the oldest message disappear, causing a glitch when it was a grouped message:

![image](https://cloud.githubusercontent.com/assets/8591547/8650663/a73e24d2-294a-11e5-9788-040d8901a841.png)

[2015-07-13 19:26] mhkeller commented on #197
The "select file" is not working for me either in FF 39.0, OS X 10.10.4

[2015-07-13 20:27] engelgabriel opened #300 "Remove pierreeric:rxfavico dependency and update favico.js lib"
Remove `pierreeric:rxfavico`
https://github.com/PEM--/rxfavico
And add directly
https://github.com/ejci/favico.js

[2015-07-13 21:02] engelgabriel opened #301 "Offline app use - Service Worker"
We need to use Service Worker to make the app available for offline use.
May we have to wait and see if there is any official implementation from MDG.

https://forums.meteor.com/t/meteor-and-service-workers/1765

http://www.html5rocks.com/en/tutorials/service-worker/introduction/

[2015-07-13 22:14] Sing-Li commented on #301
:+1:

Not on their roadmap past, present, or future :(

https://trello.com/b/hjBDflxp/meteor-roadmap

[2015-07-14 11:49] leoharsha commented on #257
type:meteor remove rocketchat:hubot and run it...it works!

[2015-07-15 02:56] rwakida commented on #172
@marceloschmidt's wiki entry: https://github.com/RocketChat/Rocket.Chat/wiki/LDAP-Authentication

[2015-07-15 19:16] hexrain commented on #270
Based on some experience with Cordova I can't recommend this approach.
I'm yet to become familiar with Meteor so correct me if I'm wrong – Meteor's build on DDP, right? There's an iOS library out there - https://github.com/alansikora/objective-c_ddp-client.
It should be possible to create a native app without JS.

[2015-07-15 19:22] rodrigok commented on #270
@hexrain yes, it's possible. I already did an native iOS app with Meteor.

[2015-07-15 19:22] #299 closed

[2015-07-15 20:00] engelgabriel commented on #270
@hexrain we will do the Cordova first, and leave the full native for later, and probably keep both.

[2015-07-15 22:24] #298 closed

[2015-07-15 23:28] #243 closed

[2015-07-15 23:29] engelgabriel opened #306 "Tests... create a lot of tests"
See http://www.meteortesting.com/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24407175-tests-create-a-lot-of-tests?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_med

[2015-07-16 13:16] #253 closed

[2015-07-16 13:19] sampaiodiego commented on #246
related to #253 and fixed by #307

[2015-07-16 13:19] #246 closed

[2015-07-16 14:53] marceloschmidt opened #308 "Have a place for blogs/posts or other stuff"
![image](https://cloud.githubusercontent.com/assets/1986378/8726540/47a6ea5e-2bb1-11e5-869c-ea818fa7feb1.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24444000-have-a-place-for-blogs-posts-or-other-stuff?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2015-07-16 14:54] marceloschmidt opened #309 "Make all chats searchable"
Maybe we could have this on channels history

[2015-07-16 16:23] marceloschmidt opened #310 "Star messages as favorites and have somewhere to see all starred messages"

[2015-07-17 01:04] marceloschmidt commented on #274
Depends on #222

[2015-07-17 12:53] #300 closed

[2015-07-17 14:27] sampaiodiego commented on #254
done by #311

[2015-07-17 14:27] #254 closed

[2015-07-17 14:39] #252 closed

[2015-07-17 16:11] diomed opened #314 "Embedded tweets don't display properly"
They used to display normally in blue box, now they don't, and display characters that shouldn't be displayed (&quot;)

![x](http://i.imgur.com/ngQtB5B.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24506989-embedded-tweets-don-t-display-properly?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=git

[2015-07-17 18:40] marceloschmidt commented on #12
I have merged this PR, but I think we should also change the names of "settings" and "migrations" collections. Also, rename "userSessions" to "user_sessions".

[2015-07-17 23:20] rwakida commented on #12
Hi @marceloschmidt.  Sorry, I missed those collections.  I noticed you added the "in Progress" label.  Does that mean you're taking over and renaming the settings, migrations, and userSessions collections?

[2015-07-18 00:38] engelgabriel commented on #12
Thanks for the work @rwakida, you did a great job. @marceloschmidt just labeled as in progress so we know that is half done. Having said, I am not sure you'd have access to control the name of all those collection from our repository. Some are 3rd party packages, other are made by us, but in other repositories... you cam give it a try and let us know.

[2015-07-18 03:06] warcode opened #316 "Possible to join room multiple times"
A user should never be able to have multiple entries in a room.

Due to the routing being broken (?) when I go to /room/GENERAL and click JOIN in the preview mode I get added to the room multiple times. This should check if the user is already in the room before adding it again.

[2015-07-18 08:18] rwakida commented on #12
@engelgabriel @marceloschmidt I did a quick search and found that settings and oembed_cache are under Rocket.Chat control.  I added both to the v9 migration and created a new pull request.

[2015-07-19 09:05] vahid-sohrabloo commented on #292
No milestone?

[2015-07-19 15:34] engelgabriel commented on #301
We may have to do something about it ourselves then :)

[2015-07-19 21:59] marceloschmidt commented on #316
I cannot reproduce this, as the JOIN button doesn't show up. @warcode can you test this again and let us know if this is still a problem? Thanks!

[2015-07-19 22:02] marceloschmidt commented on #12
Thank you very much @rwakida

[2015-07-19 22:02] #12 closed

[2015-07-19 22:44] warcode commented on #316
This might be part of a different issue.

1. Leave/Hide the General channel
2. Go to more channels
3. All channel links go to /room instead of /room/id
4. Manually type in /room/GENERAL
5. Click Join button fails.

This issue appeared after the switch from Iron to Flow.

[2015-07-20 00:06] marceloschmidt commented on #316
Fixed!

[2015-07-20 00:06] #316 closed

[2015-07-20 01:12] engelgabriel commented on #163
Added to the room title

[2015-07-20 01:12] #163 closed

[2015-07-20 19:49] mikeamcbrien opened #322 "SSO with forums"
So many communities would love a system that would allow sso from their software, like forums, Invision Power, vBulletin and eve wordpress.

Allow a mechanism for Single Sign On from any of these systems could be a huge benefit to any of the communities involved and their real time communication needs.

and API that would also allow simple information, like #of users chatting, online, active, etc

[2015-07-21 12:56] sampaiodiego opened #323 "Grouped message keeps grouped after removing the divisor message"
As shown below, deleting the first message makes the second message looks like it was sent by rocketbot:

![gifrecord_2015-07-21_095014](https://cloud.githubusercontent.com/assets/8591547/8801108/73a0f1dc-2f8e-11e5-9fbe-f38d0f4f24bf.gif)

[2015-07-21 15:29] haosdent opened #324 "Support showing full name"
Currently, username is as primary key and could not change. It also used in room and  subscription and other data structures. Do we have plan to support this? For example show the nickname in room. And user also could change nickname.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24714393-support-showing-full-name?utm_campaign=plugi

[2015-07-21 15:31] haosdent commented on #291
Other markdown editor also not support this.

[2015-07-21 16:14] sampaiodiego commented on #324
you (or chat admin) should choose what to show, either username or name/nickname.

so yes, we do have plans to support this configuration. =)

[2015-07-21 16:19] haosdent commented on #324
thank you

[2015-07-21 23:12] engelgabriel commented on #24
BUG: Always pointing to localhost

![screen shot 2015-07-21 at 20 11 42](https://cloud.githubusercontent.com/assets/1000217/8814612/c92f29a6-2fe4-11e5-8a82-cac62ddf9c49.png)

[2015-07-21 23:16] #291 closed

[2015-07-22 00:55] sampaiodiego commented on #24
@engelgabriel I think discussion (including bug reports) should continue on PR (#320)

[2015-07-22 07:40] klaus-spb opened #325 "Cyrillic in font Roboto"
Seems font Roboto was taken without Cyrillic. And in cyrillic it does not work. Can you put font with cyrillic characters ?
![cyrillic](https://cloud.githubusercontent.com/assets/2184315/8820360/6521a99c-305d-11e5-87b6-ecf691add058.png)

[2015-07-22 12:07] sampaiodiego commented on #291
@engelgabriel is this fixed? won't be supported?

[2015-07-22 12:10] sampaiodiego commented on #291
fyi: in github two characters means bold either * ou _ .. one of them means italic.. three of them are bold **and** italic.

[2015-07-22 12:39] sampaiodiego commented on #291
well, this is now officially supported @Blaumeiser

[2015-07-22 12:55] sampaiodiego commented on #325
hey @klaus-spb can you paste here some cyrillic characters so we can test it? thanks

[2015-07-22 13:02] klaus-spb commented on #325
Это написано кириллицей.

Thanks

[2015-07-22 20:59] warcode opened #327 "User administration page"
A page similar to the "Settings" pages, visible only to administrators.

- [x] List all users
- [x] Disable/Ban/Delete users
- [x] Edit users
- [x] Promote users to administrators
- [ ] Invite users / Generate invitation links
- [x] Manually approve users after registration

Many of these are already issues as individual items.

[2015-07-22 21:05] warcode opened #328 "Channel/Group topics"
Editable topic/title shown at the top of the channel/group behind the name.

* Displayed in chat when a user enters for the first time.
* Used as MOTD/description/etc

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24792104-channel-group-topics?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)**

[2015-07-23 04:10] rwakida opened #329 "Check for duplicate name before creating channel or private group"
To reproduce:
1. Create private group with name: 'pg1'
2. Create another private group with same name, 'pg1'
3. non-descriptive Internal Server Error returned

[2015-07-23 08:04] klaus-spb opened #331 "Opening sidebar with big latency"
On official site https://rocket.chat/ when open sidebar in room to see "Members List"  it`s opening with big latency. About 3-4 seconds.

On my local project i have not such problem. Seems because i have less users

[2015-07-23 09:36] IwishIcanFLighT opened #332 "Slack database migration"
Hi, I just discovered RocketChat and I already love it! Keep it up!

As RocketChat claims itself as a Slack-like app, I think it would be great to let the admins to migrate theirs own Slack database (channels, user infos, etc) via the [Slack export tool](https://my.slack.com/services/export). The export is a bunch of JSON file ready to be used.

This would encourage people to use RocketChat instea

[2015-07-23 12:18] sampaiodiego commented on #331
yes @klaus-spb on live we have about 9000 users in General channel.. the members list wasn't optimized yet for this number of users, but we know the issue and will take a look before 1.0

thanks for pointing it out btw.

[2015-07-23 12:28] sampaiodiego commented on #332
we are glad to hear that you loved our app :D

this migration makes sense but we haven't thought about it before.

maybe when we get closer to 1.0 we should do it

[2015-07-23 12:31] sampaiodiego commented on #329
I see you had fixed.. can you make a PR? =)

[2015-07-23 12:35] IwishIcanFLighT commented on #332
Awesome, thanks ! :D

[2015-07-23 15:09] guarilha commented on #332
I guess this should be available with the [slack-like API](https://github.com/RocketChat/Rocket.Chat/issues/202). Maybe it could be added to the v1.1 milestone as well.

[2015-07-24 07:59] rwakida commented on #256
Is this similar to mentioning a user in the room?  For example, if I type @user1, then a green icon with '1' appears in the sidenav next to the room for user1.

So typing @all would create the same green icon for all users subscribed to the room?

[2015-07-24 08:41] HeadhunterXamd opened #334 "meteor breaks of from running"
when trying to run the master branch I get an error
[code]

[2015-07-24 09:15] ogirardot opened #335 "Use Meteor.absoluteUrl() to handle being deployed on a virtual-host.com/folder/"
I'm kind of struggling trying to get it working on a server name like that http://my.domain/rocket.chat/
More precisely, these fonts/images are trying to load from / instead of ROOT_URL :
 * /fonts/roboto-regular-webfont.woff2
 * /fonts/roboto-regular-webfont.woff
 * /images/logo/favicon-16x16.png?v=3
 * /fonts/roboto-regular-webfont.ttf

Which is not *critical* but the FlowRouter does not behave

[2015-07-24 11:37] marceloschmidt opened #336 "After inactivity time, chat reopens last window, without any messages"
User nikolai.lapenok reports: "think something wrong and in members list is three me. I write direct messages to rocketbot. After that i close room with bot and open general channel. But after several minutes without any clicks open page with direct messages with rocket bot. I returned to general. And after an hour it repeat, again without any clicks opens room with rocketbot (btw witout any messa

[2015-07-24 12:06] #329 closed

[2015-07-24 12:12] sampaiodiego commented on #334
are you using windows? please take a look on #257 and #242

[2015-07-24 13:13] HeadhunterXamd commented on #334
Has someone figured out the problem? What is actually happening?

[2015-07-24 13:20] haosdent opened #337 "show offline users"
I suggest change the [code](https://github.com/RocketChat/Rocket.Chat/blob/master/client/views/app/room.coffee#L210-L212) from

[code]

to

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24886953-show-offline-users?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via

[2015-07-24 13:47] sampaiodiego commented on #337
@haosdent doing this on demo server could break clients =P there is so much users to show that it is not a good idea.

we'll optimize the members list soon ;)

[2015-07-24 13:49] sampaiodiego commented on #334
seems that they removed hubot package..

are you trying to run on Windows?

[2015-07-24 13:55] haosdent commented on #337
LoL. Does the config part is OK now? If it's OK, could config this through settings. I could add it.

[2015-07-24 14:06] sampaiodiego commented on #337
yes, it's working. you could try to do it. =)

only for you to know, will be there a button to toggle offline users' visibility.. later your settings may control if this button will displayed or not, something like "always show offline users: yes or not"

[2015-07-24 14:10] haosdent commented on #337
Thanks, let me do it.

[2015-07-24 14:11] sampaiodiego commented on #337
thank you :smiley:

[2015-07-24 14:18] haosdent commented on #337
np

[2015-07-24 19:27] warcode opened #338 "Changing html on rendring breaks message ordering"
1. Create a new channel
2. Type "1", "2", "3" as individual messages
3. Refresh the page and its fine
4. Paste a link as an individual message, type "4" as an individual message
5. Refresh the page

Order is reversed/mixed.

If you disable autolinker and oembed this doesn't happen.

[2015-07-24 19:57] rwakida opened #339 "Blank page on login"
To replicate:
1. Login (URL path == /home)
2. Select Channel
3. Logout
4. Login (URL path should point to channel before login)
5. Login succeeds, but only blank page with blue background is displayed.  No error messages on server/client
6. Refresh and page appears

[2015-07-24 20:08] rwakida opened #340 "Messages not displayed on re-login using room URL path"
To replicate:
1. logout and go to /home URL path.  Refresh screen
2. login
3. select a channel (URL path should update with path)
4. logout
5. login again (see blank blue screen from RocketChat/Rocket.Chat#339)
6. logout
7. login.  SideNav appears, but loading rocket ship image is displayed in message area.   No error on server/client console.
8. Refresh page and everything works.

[2015-07-25 11:47] inderpreetsingh opened #342 "Case insensitive username"
I was looking into open source slack alternatives for a little startup and came across rocket.chat. I deployed it locally and when I tried to signup with username IshwerDAS (that's how we would like to spell it as DAS is actually an acronym). Anyway, it gave me an error. It took me a while to figure out what was wrong as all that error said was `use only letters, numbers, dots and dashes` and that

[2015-07-25 20:55] engelgabriel commented on #335
I'll fix it.

[2015-07-25 21:02] #342 closed

[2015-07-25 21:37] engelgabriel commented on #335
I removed the fonts form the /public folders and started to use it from google fonts api again.

But there are a few places where we have to add Meteor.absoluteUrl() to the beginning of the url.

@ogirardot can you give it a shot and submit a PR with the changes?

[2015-07-25 21:40] engelgabriel commented on #335
How are you trying to achieve this? With NGINX or Apache?

[2015-07-26 01:39] marceloschmidt commented on #206
I've created this. If you run with ADMIN_PASS and ADMIN_EMAIL, server will look for an admin user or another user with provided e-mail. If none is found, admin user is inserted. We need to update README accordingly.

[2015-07-26 01:39] #206 closed

[2015-07-26 16:24] engelgabriel commented on #334
I'll make rocketchat:hubot disable by default

[2015-07-26 16:24] #334 closed

[2015-07-26 19:48] marceloschmidt opened #343 "Scroll doesn't work on user status sidebar"
To replicate, open javascript console, so the screen gets smaller in height. Click on username to open user status sidebar. Sidebar doesn't scroll to allow a user to logout, for example.

[2015-07-26 22:04] marceloschmidt commented on #340
Fixed

[2015-07-26 22:04] #340 closed

[2015-07-26 22:05] #339 closed

[2015-07-26 22:08] marceloschmidt commented on #338
Cannot reproduce. Maybe it's already been fixed.

[2015-07-27 04:17] captchadex commented on #343
Hi, I've tried to fix this in #345. Please ignore #344, I messed up in SourceTree.

[2015-07-27 12:22] #343 closed

[2015-07-27 16:36] stefanffsx commented on #322
+1 to register/sign-in with like a vBulletin forum, would be awesome.

[2015-07-27 18:15] jmatsushita opened #346 "Move towards Glip approach?"
Here's a [blogpost describing what the Glip approach is](http://blog.glip.com/bid/342385/Glip-Puts-Conversations-at-the-Heart-of-Team-Collaboration). This is the relevant extract:

I've been trying this and the concept is powerful. Moving "standard" things like tasks, calendar, links and files "inside" the chat rather than dealing with 2 way integration for key apps is really compelling (there are

[2015-07-27 18:23] #37 closed

[2015-07-27 18:35] oinirio opened #347 "history is not showing"
While trying to view the history for a group the will try to redirect to /room

[2015-07-27 19:16] engelgabriel opened #348 "Favicon not working with multiple icons sizes"
Depends on https://github.com/ejci/favico.js/issues/85
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25035266-favicon-not-working-with-multiple-icons-sizes?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&

[2015-07-27 20:49] warcode commented on #338
@marceloschmidt I pulled the latest right now, and its still happening in Chrome Version 35.0.1916.153 in my Linux VM, and both Firefox dev 41.0a2 (2015-07-27) and Opera beta 31.0.1889.74.

This is happening when I run it with meteor in dev and when after being deployed with mup.

The only thing I have done to the repo is disabled rocketchat:oembed in packages.

[2015-07-27 20:51] marceloschmidt commented on #325
@klaus-spb could you please see if this has been fixed so we can close this issue? Thanks!

[2015-07-27 20:51] Sing-Li opened #349 "Implement REST-full API"
Add an initial implementation - to be fully extended in later releases.

[2015-07-27 21:09] rodrigok commented on #322
Any ideas how to implement this?

[2015-07-27 21:15] AdrianoCahete commented on #322
XenForo have a Steam SSO here: https://github.com/HowIChrgeLazer/Steam-Authentication-for-XenForo

[2015-07-28 00:35] marceloschmidt commented on #203
Is this still a problem? If so, we may reopen.

[2015-07-28 00:35] #203 closed

[2015-07-28 04:45] klaus-spb commented on #325
Now fonts are looking good. Thanks

[2015-07-28 04:45] #325 closed

[2015-07-28 08:22] hooramin opened #351 "Option to delete messages from banned user after kick"
In every public chatroom sites we see hate speech and spams
in this issue #206 you must add an option to kick users and remove all of their message after ban !

Also we will have a lot of abuse reports from private messages too , but in Rocketchat we don't have any option to  receive the reports now.

Unfortunately Rocketchat developers just focus on optional features and didn't plan any todo for

[2015-07-28 09:03] hooramin opened #352 "Verify Account with phone number"
we can add another option for registering steps that get and verify their number instead of email
or get and verify both of them
this can be useful for future feature to find phone contacts that use a same rocketchat site too!
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25060838-verify-account-with-phone-number?utm_campaign=plugin

[2015-07-28 11:20] sampaiodiego commented on #351
hey @hooramin , thanks for your concern.

the primary focus of rocket.chat is for private use, like teams of companies who want their own chat service. because of that, this administration tools are not in our main roadmap.

we would be glad to hear your thoughts in this area.. and with your patience on implementation. =)

[2015-07-28 13:12] oinirio opened #354 "freeze on loading screen after avatar change"
While changing the avatar if use the initials is selected or an image file the app will freeze until I select another room

[2015-07-28 17:35] #349 closed

[2015-07-28 18:33] #331 closed

[2015-07-28 20:07] #338 closed

[2015-07-28 20:08] #323 closed

[2015-07-28 20:10] #160 closed

[2015-07-28 20:11] #196 closed

[2015-07-28 20:12] #227 closed

[2015-07-28 20:16] rodrigok commented on #347
@oinirio are you talking about the history view where is listed the history of all channels, groups and private rooms?

Or the button "load more" inside each room?

[2015-07-28 20:55] rodrigok commented on #354
We just changed how to change user's avatar. Can you test again and reopen this issue if this problem still occurs?

[2015-07-28 20:55] #354 closed

[2015-07-28 21:08] rodrigok commented on #314
I just removed the quotes.

Can you suggest a layout for tweet embeds?

[2015-07-28 22:03] AdrianoCahete commented on #314
Why not using default Twitter cards layout?

Without images / conversation = none / cards = hidden
https://dev.twitter.com/web/embedded-tweets

With that little blockquote bar (on the left) blue?

[2015-07-28 22:31] AdrianoCahete opened #361 "Latest RocketChat (demo) don't work in IE11"
Trying to reproduce #290 , i can't open RocketChat in the same browser version, but newer build (IE11 11.0.9600.17905)

Console log:
````You are running a browser with no localStorage or userData support. Logging in from one tab will not cause another tab to be logged in.````

````Error initializing storage for FS.HTTP````

[code]

[2015-07-28 23:01] rodrigok commented on #314
Looks great, I didn't know this style guide.

We need to create a specific template to render twitter oembeds and see what data was extracted from link source to metadata and see if we have all information to mount a card like that.

Do you want to help us creating this new template in the oembed package?

[2015-07-28 23:12] ArjunRajJain commented on #270
thoughts on using something like famo.us for the rendering?

[2015-07-29 04:07] joepie91 commented on #160
Was this fixed? I didn't see a commit reference.

[2015-07-29 04:13] rodrigok commented on #160
We can't reproduce anymore, was fixed in some moment in the past :)

If you can reproduce, please reopen this issue.

[2015-07-29 10:25] rwakida commented on #256
Hi @sampaiodiego is my last comment on the right track?  Thanks.

[2015-07-29 11:05] sampaiodiego commented on #256
hey @rwakida , I'm sorry for not answered before.

it's exactly what you described on previous comment.. a @all message shouold notification everyone who has a subscription to that room. =)

[2015-07-29 12:56] oinirio commented on #347
@rodrigok It's in the history view, after I click in a channel nothing happen

[2015-07-29 13:05] rodrigok commented on #347
OK, I'll take a look ASAP

[2015-07-29 13:46] AdrianoCahete commented on #314
HTML teamplate or psd template?

[2015-07-29 13:48] rodrigok commented on #314
HTML, but I'm working on it now.

[2015-07-29 13:53] oinirio commented on #354
@rodrigok latest master solve this bug, but now after ```meteor reset``` while creating a new user the general room doesn't have the text entry ![no entry text](http://i.imgur.com/X2ppfAm.png)

also I cannot upload an image to use it as avatar from firefox v39.0, in chrome works fine

[2015-07-29 13:55] AdrianoCahete commented on #314
I just have time to do things like this in weekends, sorry... :(
But push that modification to branch and i'll see friday.

[2015-07-29 14:33] rodrigok commented on #314
Unfortunately the tweet page does not provide all necessary informations via meta tags as you can see below.

I started a branch with initial templates for twitter render: https://github.com/RocketChat/Rocket.Chat/tree/twitter-oembed

[code]

[2015-07-29 14:40] rodrigok commented on #354
Can you pull the project and test again?

I just fixed a problem with the package rocketchat-logger that is causing this problem.

[2015-07-29 15:20] oinirio commented on #354
@rodrigok Awesome it works perfectly.

One question, Any idea why other users in my local network can't see the avatars nor the uploaded images or the initials?

[2015-07-29 15:36] diomed commented on #314
I wish I knew what exactly changed, because in the beginning everything was fine,
when this was integrated tweets were displayed in normal box with blue edges. and now they're not anymore.

[2015-07-29 15:44] Wloa commented on #354
@rodrigok, There is no text input when using IE, and no chat post as
well. I think, we have issue with IE browser.

 

On 29.07.2015 11:20, Oscar Rosario wrote:

Links:
------
[1] https://github.com/rodrigok
[2]
https://github.com/RocketChat/Rocket.Chat/issues/354#issuecomment-125987019

[2015-07-29 16:13] rodrigok commented on #354
@oinirio No ideia.

@Wloa Can you open a new issue about this problem?

[2015-07-29 16:20] rodrigok commented on #314
In the past we used an external plugin to create oembed, but this plugin created many problems with rendering, so we decide to create our own plugin to have more control about render.

Probable the old plugin uses the Twitter API to mount this card, and do this in render time, we changed the approach to request the posted url and save headers of the request and meta tags of HTML, is the same appro

[2015-07-29 17:59] Wloa opened #366 "Latest code is not working with IE 11"
Can not use IE 11 from the latest code. Chat is not showing and the chat input field is missing.
![ie bug](https://cloud.githubusercontent.com/assets/12832493/8965502/fd06dcea-35f9-11e5-9c0a-574923378f17.jpg)

[2015-07-29 18:03] oinirio opened #367 "Images are not showing in lan"
Avatar images ( Initials or uploaded ) are not showing to the other users in the lan.
To test I turn off the firewall but the images won't load either, not even when the users connect using the public ISP IP.

PS:. Images parsed from URLs load perfectly only the avatars are in blank

[2015-07-29 18:05] sampaiodiego commented on #367
it's a known bug @oinirio .. thanks for reporting =)

[2015-07-29 18:10] sampaiodiego commented on #367
I mean, if you set or change your avatar, other people won't see your new avatar until a browser refresh.. this is a known bug..

[2015-07-29 18:11] sampaiodiego commented on #366
duplicated of #361 ?

[2015-07-29 18:17] engelgabriel commented on #259
fixed!

[2015-07-29 18:17] #259 closed

[2015-07-29 18:36] oinirio commented on #367
@sampaiodiego not even if I refresh the browser, I try cleaning the cache and force restart (ctrl + shift + r) and still can't see the avatars, but I can see it perfectly in localhost

[2015-07-29 18:44] rwakida commented on #256
okay.  Thanks @sampaiodiego =)

[2015-07-29 18:56] sampaiodiego commented on #367
ok, I see.. it could be a problem with ROOT_URL.. tell me, are you running on localhost and telling the others to access your app by your IP?

can you try running with a command like this? changing _192.168.1.100_ to your real IP

`ROOT_URL="http://192.168.1.100:3000" meteor`

[2015-07-29 18:59] engelgabriel opened #369 "Scalable File Sharing"
Upload -> Object Storage -> CDN -> tons of downloaders

- [x] Local Filesystem
- [x] S3 Storage
- [ ] OpenStack Swift Storage
- [x] CDN Configuration

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25133618-file-sharing-via-scalable-multicast?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We

[2015-07-29 18:59] engelgabriel commented on #24
Initial version working.

[2015-07-29 18:59] #24 closed

[2015-07-29 19:00] oinirio commented on #367
@sampaiodiego this fix it, thanks

[2015-07-29 19:00] #367 closed

[2015-07-29 19:01] engelgabriel opened #370 "File Sharing peer2peer"
intent to share -> file sharing 'signaling' -> tons of sharing sessions going browser-to-browser
(almost too perfect for the data-channels portion of web-rtc; or BitTorrent integration)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25133716-file-sharing-peer2peer?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&u

[2015-07-29 19:01] engelgabriel commented on #24
Added sub tasks:

https://github.com/RocketChat/Rocket.Chat/issues/369

https://github.com/RocketChat/Rocket.Chat/issues/370

[2015-07-29 19:02] engelgabriel commented on #370
made possible by https://github.com/RocketChat/Rocket.Chat/issues/24

[2015-07-29 19:02] engelgabriel commented on #369
made possible by https://github.com/RocketChat/Rocket.Chat/issues/24

[2015-07-29 19:02] Wloa commented on #366
I am not sure.

On 29.07.2015 14:11, Diego Sampaio wrote:

Links:
------
[1] https://github.com/RocketChat/Rocket.Chat/issues/361
[2]
https://github.com/RocketChat/Rocket.Chat/issues/366#issuecomment-126045543

[2015-07-29 19:47] marceloschmidt opened #371 "Configure external services authentication"
Create settings for oauth (app id, secret, etc.) for each service

[2015-07-29 19:52] marceloschmidt opened #372 "SMTP settings"
Build a MAIL_URL environment variable based on:

SMTP_Host
SMTP_Port
SMTP_Username
SMTP_Password

[2015-07-29 19:52] marceloschmidt opened #373 "Disable e-mail verification"
Setting exists, should use it now.

[2015-07-29 19:53] marceloschmidt opened #374 "Message editing settings"
Allow/Disallow message editing
Allow/Disallow message deleting
 Show/Hide that a message has been edited/deleted
 Keep history of edited/deleted messages

[2015-07-29 19:56] #222 closed

[2015-07-29 20:02] wolfika commented on #256
Just an idea for consistency, maybe you could consider using @channel instead of @all, since Slack uses the former for the exact same functionality you described.

[2015-07-29 20:08] wolfika commented on #197
Does anyone have any details about the manual avatar upload problem? The demo seems to work just fine, but I can't get it to work on my own installation of Rocket.Chat. Could it possibly be that some file permissions are not set correctly?

[2015-07-29 20:11] sampaiodiego commented on #256
ok,  we should have @channel and @group just an alias for @all ..

[2015-07-29 21:34] stevenolen commented on #222
is this implemented now? I've been meaning to get started with rocketchat but was waiting on this one! :+1:

[2015-07-29 22:01] stevenolen commented on #222
...for anyone else visiting, it's referenced in another issue: `/settings`. :tada:

[2015-07-29 22:06] marceloschmidt commented on #222
And in case you've missed it, you gotta be admin. So if you need to access /settings on your own instance, set admin: true under your user in mongodb.

[2015-07-29 22:17] Wloa commented on #366
@Marcelo, it still happening with IE and Safari.

In IE - It needto refresh after registration and can not see any posting
nor do any posting

In Safari - Registration is fine but can not see any posting nor post.

On 29.07.2015 15:57, Marcelo Schmidt wrote:

Links:
------
[1] https://github.com/RocketChat/Rocket.Chat/issues/366
[2] https://github.com/RocketChat/Rocket.Chat/issues/366#event-368746

[2015-07-29 22:32] Wloa commented on #222
@Marcelo, there is no admin field in users collection.

On 29.07.2015 18:06, Marcelo Schmidt wrote:

Links:
------
[1]
https://github.com/RocketChat/Rocket.Chat/issues/222#issuecomment-126110578

[2015-07-29 22:56] rodrigok commented on #256
I agreed with @sampaiodiego

[2015-07-29 22:59] rodrigok commented on #197
Have you changed your settings to save avatar in File System?
As I remember ,if you didn't, all avatars are saved in MongoDB, so, no problem with file permissions.

[2015-07-29 23:05] rodrigok commented on #366
Why is this closed?

[2015-07-29 23:09] sampaiodiego commented on #222
@Wloa create the field with value 'true'

[2015-07-29 23:35] marceloschmidt commented on #222
@Wloa Exactly as @sampaiodiego said, just create it, like so:
[code]

[2015-07-29 23:35] marceloschmidt commented on #366
Duplicate of #361

[2015-07-29 23:48] sampaiodiego commented on #366
I'm looking into IE 11 compatibility.. after that we can check if this and #361 have been fixed.

[2015-07-30 01:22] sampaiodiego commented on #366
@Wloa can you test with latest commit please?

[2015-07-30 01:31] sampaiodiego commented on #361
seems that you have some security config not allowing sites to use localStorage.

what happens if you type the following command on dev tools while accessing any website?

`localStorage` (hit enter)

[2015-07-30 01:33] AdrianoCahete commented on #361
Hm, i just opened IE directly from Start Menu (Win 8.1 x64):

````localStorage````

````null````

[2015-07-30 01:37] sampaiodiego commented on #290
fixed by 4ee7e9465e62ebd7b8eca3d0b9c30a70bf7f049e

[2015-07-30 01:37] #290 closed

[2015-07-30 01:41] sampaiodiego commented on #361
it's weird.. can you open rocket.chat on another browser so we can talk directly?

[2015-07-30 02:16] Wloa commented on #366
IE is working, Now I can see the post and can post, but Safari still not
working.

On 29.07.2015 21:22, Diego Sampaio wrote:

Links:
------
[1] https://github.com/Wloa
[2]
https://github.com/RocketChat/Rocket.Chat/issues/366#issuecomment-126147084

[2015-07-30 02:39] engelgabriel commented on #222
@marceloschmidt can you create a migration turning the oldest user into admin on the next release update?

[2015-07-30 11:41] sampaiodiego commented on #366
ok, I'll take a look on safari

[2015-07-30 11:44] marceloschmidt commented on #366
@Wloa it works on my Safari, Version 8.0.7 (10600.7.12). Can you be more specific at which version it doesn't work, please? Thank you.

[2015-07-30 12:26] marceloschmidt commented on #222
Done

[2015-07-30 12:44] Wloa commented on #366
I am using Safari 5.1.7 for window and here the screen shot.

![safari](https://cloud.githubusercontent.com/assets/12832493/8983303/3a70ff32-3697-11e5-983a-3ee083505175.jpg)

[2015-07-30 12:49] Wloa commented on #366
Using my Ipad is fine, meaning I can see the post but no avatar.

[2015-07-30 12:54] sampaiodiego commented on #366
avatar issue is related to #367

you can do this https://github.com/RocketChat/Rocket.Chat/issues/367#issuecomment-126058648

[2015-07-30 14:58] engelgabriel commented on #366
Hi @Wloa , @sampaiodiego has deployed a final fix for IE 11, can you reopen this issue if it doesn't work?

[2015-07-30 14:58] #366 closed

[2015-07-30 14:59] engelgabriel opened #375 "Console error logged when navigating fast between rooms"
Exception from Tracker recompute function:
TypeError: Cannot read property 'invalidate' of undefined

[2015-07-30 16:27] sampaiodiego commented on #366
@Wloa I'm not finding download of Safari for Windows.. is there an updated version? what version are you using?

[2015-07-30 16:27] Wloa commented on #366
IE now is working fort posting and read posted chat but the first time
user registration got a blank screen (after typing the username, email
and password). It require user to refresh the page to get the "Register
Username" page.

On 30.07.2015 10:58, Gabriel Engel wrote:

Links:
------
[1] https://github.com/Wloa
[2] https://github.com/sampaiodiego
[3]
https://github.com/RocketChat/Rocket.Chat/is

[2015-07-30 16:32] Wloa commented on #366
It said version 5.1.7 (7534.57.2)

I think i got it from here - http://safari.en.softonic.com/

I am using Window 7

On 30.07.2015 12:27, Diego Sampaio wrote:

Links:
------
[1] https://github.com/Wloa
[2]
https://github.com/RocketChat/Rocket.Chat/issues/366#issuecomment-126392962

[2015-07-30 16:47] sampaiodiego commented on #366
I think Safari 5 will not be supported, like IE 9.

We may check exactly what browser versions will be supported and plublish on Readme.

[2015-07-31 11:41] sampaiodiego commented on #361
fixed by @AdrianoCahete restornig default settings of his IE

[2015-07-31 11:41] #361 closed

[2015-07-31 16:51] rodrigok commented on #336
Probably solved by https://github.com/RocketChat/Rocket.Chat/pull/377

[2015-07-31 16:51] #336 closed

[2015-07-31 19:44] devwill commented on #295
I build with meteor and now how i publish in my server

[2015-08-01 03:11] fantashi opened #383 "How to load Rocket.Chat on webview android?"
When i load webview on mobile app, it show only blue screen. Can not show form login.

[2015-08-01 20:14] andricicezar commented on #322
+1 I would love this feature. I would like to use it with a CAS server, like this one: http://rubycas.github.io/

[2015-08-01 20:40] andricicezar commented on #322
Check this, maybe it can help you: https://atmospherejs.com/admithub/shared-auth

[2015-08-02 16:45] #375 closed

[2015-08-02 19:14] Sing-Li opened #385 "Add scalable remote video monitoring"
Implement remote video monitoring, enabled by webrtc, extendable to 10s, 100s, or even 1000s of remote locations.  Capacity limited only by directed channels available.

Minimal client-side hardware requirements.   Camera required only at each monitored location.

[2015-08-03 05:38] #385 closed

[2015-08-03 07:14] Sopheaks60 opened #387 "I translated the Rock Chat in Khmer Language"
Hi All,
I completed of translate the Rock Chat into Khmer(Cambodian) Language as i18n file, How can I commit to you repo?

[2015-08-03 17:56] rodrigok opened #388 "Unread alert in burguer icon"

[2015-08-03 18:24] oinirio opened #389 "keep notification until chat windows load"
while in another tab the notifications for the last room are not displaying (eg. we have 2 rooms "work" and "social" and we are currently on "work" and switch to github. If someone type something in "work" there will not be a persistent notification as if someone type in "social" )

[2015-08-03 19:44] engelgabriel commented on #270
The Rocket.Chat Native iOS Application project has started. https://github.com/RocketChat/Rocket.Chat.iOS
Who wants to join in? The plan is to use Swift.

[2015-08-03 20:17] engelgabriel commented on #387
Yes, please do a Pull Request.. and send us an email to support at rocket.chat so we can add you to https://lingohub.com

[2015-08-03 20:30] #387 closed

[2015-08-03 20:30] #388 closed

[2015-08-03 23:50] engelgabriel commented on #322
Guys, just so I can understand and see if we can make this into our v1.0 release.

Is the SSO part important? Or just the OAuth or SAML part?

I mean, is that important that the user is automatically logged in, or it is enough for now that he can just use the same username and password without the need to re-register?

We could use soemthing like https://atmospherejs.com/natestrauser/accounts-saml

[2015-08-04 06:10] andricicezar commented on #322
I think is more important that the user be automatically logged in, because
it will be a seamless flow when you integrate more projects together.

On Tue, Aug 4, 2015, 2:50 AM Gabriel Engel <notifications@github.com> wrote:

[2015-08-04 09:20] fantashi opened #395 "How to login with LDAP"
Do you have any tutorial for LDAP login?

[2015-08-04 11:07] pupaxxo opened #396 "Ability forward messages into other chat rooms"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25351601-ability-forward-messages-into-other-chat-rooms?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_s

[2015-08-04 12:45] rodrigok commented on #389
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/397

[2015-08-04 12:45] #389 closed

[2015-08-04 12:51] oinirio commented on #389
awesome thanks

[2015-08-04 14:08] sampaiodiego commented on #396
the "answer" feature was discussed in #167

but what you mean "forward messages" ? like a share by e-mail?

[2015-08-04 14:12] pupaxxo commented on #396
I mean sending(sharing/forwarding) received or sent message in other chats. Like telegram

[2015-08-04 14:13] sampaiodiego opened #399 "link to channels"
we may have link to channels starting with # (hash)

an autocomplete feature would be awesome :smiley:

[2015-08-04 14:17] sampaiodiego opened #400 "blank page after registration"
I got a blank page after registration!

[2015-08-04 14:18] #256 closed

[2015-08-04 14:27] sampaiodiego commented on #396
I see.. we could do this..

if you could provide some thoughts on UI we can discuss about it.

[2015-08-04 16:18] sampaiodiego commented on #247
already on demo site

[2015-08-04 16:18] #247 closed

[2015-08-04 16:50] #197 closed

[2015-08-04 16:51] #399 closed

[2015-08-04 17:24] #159 closed

[2015-08-04 17:32] engelgabriel commented on #383
How do you plan to login? Maybe if we have SSO in place?

[2015-08-04 18:11] Sing-Li commented on #383
For any Android 5.x device (Lollipop  - since November, 2014), look on Google Play for [Android System Webview](https://play.google.com/store/apps/details?id=com.google.android.webview) from Google.

Webviews before 5.0 are not upgradable, and baked into the ROM.

The Webview on 4.4.2   (KitKat - since Oct, 2013) works fine.

If you're programming Cordova / Phonegap -- even older devices, all the

[2015-08-04 18:20] jmatsushita commented on #346
@engelgabriel @rodrigok No interest? Roadmap too full? Don't see the point?

[2015-08-04 18:45] engelgabriel commented on #346
WE DO! Totaly! Sorry for not replying!

We are even working on the idea already... so anyone can create new packages that would register new message types (events, tasks, files) and room types (chat, whiteboard, conference call)

The link you sent was really helpful to make it more "real" what we have thoght we wanted to do since the beginning of the project.

Do you want to join the team and help

[2015-08-04 19:06] jmatsushita commented on #346
That's awesome to hear! I've been playing with meteor a bit but I don't have the bandwidth to contribute unfortunately. But whenever you guys have tasks and files up, then I'll probably beta test! Otherwise maybe the Gitter open source peeps (@malditogeek) would be into contributing to Rocket.Chat ? :)

[2015-08-04 19:44] rodrigok commented on #31
It is still necessary?

[2015-08-04 19:45] rodrigok commented on #102
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/391

[2015-08-04 19:45] #102 closed

[2015-08-04 23:26] rwakida commented on #400
@sampaiodiego @rodrigok I noticed this as well.  It only happens when registering after logout and appears after the enter name,email,password page and before the select username page.
To replicate:
1. Login as any user.
2. Logout
3. Click on register a new account link
4. enter name, email, password and click submit button.
5. blank page displayed.

If I refresh the page, then the select username

[2015-08-05 01:12] chrisvella opened #404 "XMPP Federation Compatibility"
Hi

Are there any plans for xmpp compatibility, either supporting the xmpp protocol internally, or providing some bridging functionality? I love the look of rocket.chat, but I need android compatibility, and would like to stick with the conversations xmpp client (for now).

Thanks for all the great work. Rocket.chat looks fantastic.

 Task: [FEDCORE-47]

[FEDCORE-47]: https://rocketchat.atlassian.

[2015-08-05 01:50] sampaiodiego commented on #38
I'm reopening this issue because we should check message length on server too, what #403 does not.

[2015-08-05 09:05] callmephilip commented on #38
@sampaiodiego : nice catch! i'll patch it up in a new PR. thanks

[2015-08-05 13:25] radalin commented on #404
This might be a good feature. XMPP is kind of a default protocol for chat messaging and this way you can use an XMPP server like Openfire or similar to handle these message loads.

[2015-08-05 14:28] rockneverdies55 commented on #404
:+1:

[2015-08-05 20:05] sampaiodiego opened #405 "Default channels/groups"
Right now, when a new user enters on rocket.chat it automatically join to GENERAL channel.

I think this behavior shoud be configurable and admins should have an option to choose which channels and/or groups new users will automatically join after registration.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25413425-default-channels

[2015-08-05 21:32] naggie commented on #271
I use slack, and the android app (slow loading messages, btw) is useful mainly for the push notifications. Even if it just does push notifications it would be useful.

[2015-08-05 22:39] rodrigok commented on #405
+1

[2015-08-06 01:29] sampaiodiego commented on #395
@marceloschmidt can you help @fantashi please?

[2015-08-06 01:39] marceloschmidt commented on #395
@fantashi LDAP is still on its baby-steps. We made it to simply connect to a given host and we haven't implemented it's login schema.

To try it out, you have to modify the following settings to your needs:

LDAP_DN
LDAP_Port
LDAP_Url

These settings can be modified by accessing /settings on your instance (if you are admin) or directly modifying it on database collection rocketchat_settings.

Then

[2015-08-06 01:39] #395 closed

[2015-08-06 13:29] wellingtonufsc commented on #405
Is there any prospect the development of this possibility?

[2015-08-07 04:00] rwakida opened #412 "Remove conversation button on right flex-tab when viewing yourself"
In private group or channel, the "conversation" button in the right "flex-tab" area should not be visible when viewing yourself because you can't talk to yourself...unless you're crazy.

To replicate:
1. Create channel
2. Expand right flex-tab area that shows channel members
3. click on your username
4. click on conversation button.  Does nothing.

[2015-08-07 06:49] tkowalczyk commented on #271
I think Xamarin is worthly to consider, they can give a free license for Open Source project!

[2015-08-07 10:30] #412 closed

[2015-08-07 11:13] Sing-Li opened #415 "Deleting the first message of a set (sometimes) also delete the avatar"
This was an old bug, but back under some (not reliably reproducible) situations.

If you type two messages in rapid succession, and then delete the first one, sometimes the avatar next to the first message also disappears.

[Observed on Electron Mac app]

UPDATE: .... but after a few minutes, it fixes itself

[2015-08-07 12:24] rodrigok commented on #415
@Sing-Li I made some changes to force re-render of messages around of the deleted message I hope that solve this problem :)

https://github.com/RocketChat/Rocket.Chat/commit/f012ee033067fc66526d647470f40555ac4ac8e8

[2015-08-07 12:24] #415 closed

[2015-08-07 14:38] rodrigok commented on #405
Needs a config option

[2015-08-07 15:03] rockneverdies55 opened #418 "Screensharing"
Does the current video feature supports screensharing?
If not, is it among the planned features?

[2015-08-07 15:10] Sing-Li commented on #415
As of 11 AM (UTC - 4)  I am no longer fast enough to cause it to happen  :smile:

[2015-08-07 15:15] Sing-Li commented on #418
Not yet.

And yes it is planned - webrtc styled video screen sharing.   Might you be able to help?

[2015-08-07 15:26] rockneverdies55 commented on #418
Glad to hear. That will be very nice feature to have. Especially in development environments, screensharing is vital between developers, between developers and testers or product managers etc...

[2015-08-07 18:15] Sing-Li opened #419 "Option to geo-locate user login and display a mini-country-flag (emoji one) next to the UTC offset on right flex"
This would be a fascinating addition for our demo chat; and might be even useful for other use cases.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25490710-option-to-geo-locate-user-login-and-display-a-mini-country-flag-emoji-one-next-to-the-utc-offset-on-right-flex?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issu

[2015-08-07 20:23] engelgabriel commented on #419
It is underway! :)

[2015-08-07 20:24] engelgabriel commented on #232
Lets get some help from https://github.com/sscpac/chat-locker/issues/45

[2015-08-07 23:52] engelgabriel commented on #383
We found a bug on our own server.. that was configuring the cross header twice (once on the app, other on nginx). Please reopen the issues if it is still not working.

[2015-08-07 23:52] #383 closed

[2015-08-08 02:00] fantashi commented on #383
Thank for your support, now everything is good :)

[2015-08-08 14:02] Sing-Li opened #423 "Android right flex rendering anomalies"
Happens frequently on latest updated Chrome running on Android 4.4.2;  Android 5.1.1 latest Chrome has no such problem.

Also the Hamburger left 'rocket-blue' slide works perfectly on Android 4.4.2, it is just the right 'gray' flex that has these anomalies.

###  Tab disappears

Sometimes, the arrow tab disappears, but you can still touch the area to open the flex:

![anprob1](https://cloud.github

[2015-08-10 09:56] Sing-Li opened #426 "Add APIs to support scaled egress testing; custom directory sync; and automated admin tools"
Extend REST APIs to:

1.  support large scale egress tests.. like this...
![pic1](https://cloud.githubusercontent.com/assets/122633/9167866/c2dcb606-3f23-11e5-8aea-6c1311608fb2.png)
15,000 users in  ...
![pic2](https://cloud.githubusercontent.com/assets/122633/9167885/d61687ec-3f23-11e5-942d-d9011d1a6f84.png)
5,000 rooms
2.  provide the 'Rocket.Chat' half of the equation for custom implementations

[2015-08-10 11:41] #426 closed

[2015-08-10 20:04] bbrockman commented on #337
I wish I saw this before  I implemented this in our fork ( sscpac/chat-locker/pull/42 ).  I also updated the user names to be styled corresponding to their status.

[2015-08-10 21:22] rodrigok commented on #337
@bbrockman Have you tested with 10.000 users in a single room?

[2015-08-11 10:55] engelgabriel commented on #270
Hey folks, we are testing our hybrid app for iOS, if you want to test the application please send me your email (apple id) to support at rocket.chat with subject *ios-app* and we will add your email to our testflight.

[2015-08-11 12:26] rodrigok opened #432 "[Cordova] Set user as offline when application goes to background"

[2015-08-11 12:53] guoyoujin opened #433 "If there are points of administrators and ordinary users"
Whether has the branch of administrators and ordinary users, if not, may go against management

[2015-08-11 13:01] marceloschmidt commented on #433
@guoyoujin I'm sorry, we could not understand what the issue is. Can you explain a little better? Thanks.

[2015-08-11 13:09] marceloschmidt commented on #404
XMPP is planned but yet to be developed. We need more background on that, so if anyone is kind-of-expert on XMPP, we could use some help.

[2015-08-11 14:18] bbrockman commented on #337
@rodrigok We have not, but luckily for us, our customer base is much smaller :smiley:

[2015-08-11 14:28] rodrigok commented on #337
Ok, but this PR will break our online demo :smile:

We need a config view for rooms, so this can be optional per room, but, until there, can you add one IF to render offline users only if room has less then 200 users?

[2015-08-11 14:35] #400 closed

[2015-08-11 14:48] bbrockman commented on #337
We have quite different use cases!

[2015-08-11 14:49] Sing-Li commented on #433
@guoyoujin  Please post in language you are most familiar with.  Community members are likely able to translate if needed. Thanks :smile:

[2015-08-11 15:06] engelgabriel commented on #337
Hi @bbrockman they may be a bit different, but we surely can add some "IFs" just to accommodate this differences? It should be very straight forward to test the size of the room and decide the best behavior, do you agree?

[2015-08-11 15:40] rockneverdies55 commented on #432
When application goes to background, user should be *"Away"*.
Should be *"Offline"* only if user logs out or closes the application.

[2015-08-11 16:22] bbrockman commented on #337
Certainly.

[2015-08-11 16:34] rodrigok commented on #432
@rockneverdies55, yes, make sense :)

[2015-08-11 17:00] marceloschmidt commented on #99
Closed by PR #435

[2015-08-11 17:00] #99 closed

[2015-08-11 17:02] engelgabriel commented on #337
@bbrockman GREAT! :+1:

We are looking forward for you pull request!

[2015-08-11 18:54] Sing-Li opened #438 "[mobile app] embed image goes full screen - no way to escape"
On iPad.

Click on any embed image. It goes full screen.

No way to dismiss it except to restart app.

[2015-08-11 19:28] oinirio commented on #347
@rodrigok any update on this, sorry to bother with this

[2015-08-11 20:17] #432 closed

[2015-08-12 13:56] Sing-Li opened #443 "Insta-selfie .. take a pix and upload + oembed to the current channel in ONE single touch"
Just thinking mobile .... now that we are all on smartphones.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25684346-insta-selfie-take-a-pix-and-upload-oembed-to-the-current-channel-in-one-single-touch?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](htt

[2015-08-12 14:17] Sing-Li opened #444 "Parental mode ...lock into single private room with disabled hamburger and left drawer"
Turns smartphone into 'family messaging appliance'.

Less confusing. No way to 'mess up'. And good for small sized screens.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25685056-parental-mode-lock-into-single-private-room-with-disabled-hamburger-and-left-drawer?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&ut

[2015-08-12 15:56] rodrigok commented on #443
Interesting :smiley:

[2015-08-12 22:09] marceloschmidt opened #452 "Users administration"
Have a user administration page

[2015-08-13 03:09] rwakida opened #454 "Extract addUserToRoom/removeUserFromRoom logic to separate function that doesn't require logged in user"
Use Case:
Allows automated, anonymous (bot) adding/removal of users from a room.  For example, we create a channel based on a user's location, and automatically add the user to the channel.

The logic to update the ChatRoom/ChatSubscription, and create a new ChatMessage would be extracted to a new non-exposed, serverside function.  The existing Method methods would check that Meteor.userId() exist

[2015-08-13 03:10] rwakida opened #455 "Extract create channel logic to separate function that doesn't require a logged in user"
Use case:
Allows automated, anonymous channel creation on the server.  For example, we create a channel based on a user's location, and automatically add the user to the channel.

The logic to validate name and create the room and subscriptions in the createChannel Meteor method would be extracted to a non-exposed serverside function that accepts name, members, and an optional creator.  The create

[2015-08-13 03:51] rwakida opened #456 "Extract default channel/group logic from setUsername"
Use case:
Automated anonymous user creation (e.g. import a LDAP user) could call the extracted function.  Currently when we import a LDAP user, we can't call the setUsername method because it requires a logged in user.  So, we have duplicate the logic to add them to "general" etc.

Another option would be to observe username field change and add user to default channel/group.  Then the "bot" would

[2015-08-13 04:09] Sing-Li commented on #455
@rwakida  , please take a look at REST apis  [bulk/register and buik/createRoom](https://github.com/RocketChat/Rocket.Chat/blob/master/server/restapi/restapi.coffee).

Users with special 'roles' can call these methods.   A 'role' example can possibly be an 'automated bot'.

Accountability / audit-ability are important; creating a few million rooms in a short time will bring down the system.

Is th

[2015-08-13 04:11] Sing-Li commented on #455
See #426 for more info on the bulk APIs.

[2015-08-13 06:33] gabel commented on #347
Is this only a channel history or should I be able to search the chat history here? Nevertheless here are details about the routing error (see attached screenshot).

![image](https://cloud.githubusercontent.com/assets/242039/9243866/d74234f8-4195-11e5-8802-60947de5ef56.png)

[2015-08-13 07:31] rwakida commented on #455
Thanks for the feedback @Sing-Li.  I'm relatively new to RocketChat and Meteor so please bear with me :smile:

With the current API, the "bot" would need to authenticate which would require an account right?  If so:
1. Is there currently way to restrict a user from logging in with the "bot" account from the frontend, but still allow the "bot" to authenticate on the backend?
2. Is there currently a

[2015-08-13 07:49] 112madgamer opened #457 "cant disable email verification"
cannot seem to find the disable email verification setting and every time i try to login it says user account deactivated

[2015-08-13 08:59] katopz commented on #258
@sampaiodiego Do you have a guide for installation via Digital Ocean please? I'm trying Docker and failed already. :disappointed:

[2015-08-13 09:03] fantashi opened #458 "Can not load message on mobile browser?"
Hello,

If i open rocket.chat on browser and send message between 2 peoples. I received message as normal.
But when i'm complete close browser and some one send message to me. Then, i open browser again. I do not receive new message.

[2015-08-13 11:48] sampaiodiego commented on #258
hey @katopz I don't have a step-by-step guide for doing that.
but you can try follow these instructions of @marceloschmidt http://stackoverflow.com/questions/31737086/how-to-install-github-rocket-chat-files-on-server/31746165#31746165

but, for a _test instance_ you can do the follow:

install meteor:
`curl https://install.meteor.com/ | sh`

download Rocket.Chat source code:
`git clone https://git

[2015-08-13 13:10] oinirio opened #460 "Can't go beyond login screen with latest master"
I just pull the latest master and can't login with an existing or a new user.

In the console I can see that the confirmation email will not be sent ( I don't have configure my ```MAIL_URL``` ) but when I try to log in with that user shows the ```User not found``` error and if I try to create that same user again will said the the email already exists

[2015-08-13 13:35] marceloschmidt commented on #460
You did have an installation before and you're trying to use the same user/pass you used before pulling changes? Can you access your meteor shell and reset your password, just to be on the safe side?

[2015-08-13 13:37] marceloschmidt commented on #458
Hey @fantashi thanks for your feedback. Can you try that again, just to be sure it wasn't some kind of instability on our servers? Since we're still in the middle of development, there is a chance we were deploying some changes the exact same time you were testing... Thank you.