[2016-03-22 03:55] stemendrew commented on #1209
Consider this another comment in agreement that this is needed. I'd work on it myself, if I had the time right now. :( My organization can't migrate to RocketChat, as our usernames are rather inconvenient; most other systems we use employ a description or "Display Name" for a user, rather than their username.

[2016-03-22 05:42] andreas-bulling commented on #2579
I just checked with the debugger. The URL for the inline link seems to be correct. If I paste it in the browser I get a 403 forbidden (I've enabled secure links in the Rocket.Chat config) until I login to the chat in the browser. Then downloading the file works without any problem.

Maybe the client doesn't send the right HTTP header / is not authenticated properly from the point of view of the se

[2016-03-22 06:04] saigop commented on #2408
Yes I downloaded via git. Or can I remove the whole directory or move the directory of Rocket.Chat and install from the scratch?

[2016-03-22 10:10] uhillig commented on #1831
same issue here, for Edge and Internet Explorer

[2016-03-22 10:41] tautek opened #2587 "Speeding Up Build"
Hi All

Just wondering if anyone can point me to some ways to speed up the 'meteor build' process? I'm looking to be able to deploy changes to a single package included into the base Rocket.Chat quickly but the full build is way too slow. I'm not really familiar with Meteor and I've tried searching for partial builds, integrating a package after the build, or pre-building packages but I don't real

[2016-03-22 11:56] sinteur opened #2588 "limit autocompleting names in private channels to those in the channel"
When you're in a private channel and start to type @name... it attempts to autocomplete, but it will include names of people NOT in the channel. If you're using private channels for conversations with customers, this leaks info on other customers (or employees)

[2016-03-22 12:10] alfredbez commented on #661
It would also be nice to disable those messages entirely like mentioned in #2180

[2016-03-22 12:21] engelgabriel commented on #2544
This should be fixed on version 0.23.0
Please reopen otherwise.

[2016-03-22 12:21] #2544 closed

[2016-03-22 12:25] bott0r commented on #661
I for one are a huge fan of the old school IRC chat behavior. Especially with the time stamp being displayed at all times. I'd really like to see some possibility to customize how the chat looks. i.e. user individualized schema.

![irc style](https://cloud.githubusercontent.com/assets/17119942/13570142/bd574180-e46c-11e5-8ce6-d5ecfd365d61.PNG)

[2016-03-22 12:25] engelgabriel commented on #2497
Hi @l3mde, please turn off the **Resize Avatars** option and reopen this issue if the problem persists.

[2016-03-22 12:25] #2497 closed

[2016-03-22 12:27] engelgabriel commented on #505
This will be out on the next release.

[2016-03-22 12:33] lunitic commented on #2587
Quick start for code developers

Prerequisites:

Git
Meteor
Now just clone and start the app:
git clone https://github.com/RocketChat/Rocket.Chat.git
cd Rocket.Chat
meteor

Then your changes are instant..
When your are done you do a build..

[2016-03-22 12:34] engelgabriel commented on #2101
You can now leave it blank or just put a single "*" as on the settings to allow all.
This should be fixed on version 0.23.0
Please reopen otherwise.

[2016-03-22 12:34] #2101 closed

[2016-03-22 12:37] engelgabriel commented on #2243
This should be fixed on version 0.23.0
Please reopen otherwise.

[2016-03-22 12:37] #2243 closed

[2016-03-22 12:39] Julime opened #2589 "smiley button on wrong postiotion and not working"
Your Rocket.Chat version: 0.23.0
there seems to be a static smiley below the text input field
![capturfiles_4](https://cloud.githubusercontent.com/assets/7944656/13951829/69bddd18-f033-11e5-9b08-71ea44a3853b.png)
![capturfiles_5](https://cloud.githubusercontent.com/assets/7944656/13951830/69bf849c-f033-11e5-9ea8-b5560c43ccb6.png)

[2016-03-22 12:41] engelgabriel commented on #2468
Sure you can, see our own SMTP settings.

Make sure you SAVE the settings and RESTART your Rocket.Chat server after you update the config, this is a limitation of MeteorJS.

![image](https://cloud.githubusercontent.com/assets/1000217/13951847/fc0f3008-f011-11e5-8808-0e16f1ce4296.png)

[2016-03-22 12:41] #2468 closed

[2016-03-22 12:45] engelgabriel commented on #2332
The perfect behaviour would be for the notification to be put on a queue for 5 minutes. If there ir activity in the webclient, the queue is cleared, otherwise the notification gets forward to the mobile.

[2016-03-22 12:46] bott0r commented on #2589
This, is the button to utilize the emoji picker in the web version, its not working for me on the mobile version.

[2016-03-22 12:52] engelgabriel commented on #2579
@jeffrapp  and @andreas-bulling
This should be fixed on version 0.23.0
Can you try again?

[2016-03-22 12:56] Julime commented on #2589
can't click on it. Neither on macos desktop app nor web view

[2016-03-22 12:58] bott0r commented on #2589
it works flawless on chrome

[2016-03-22 12:58] engelgabriel commented on #2579
No, my mistake. This is not fixed on version 0.23.0
We found the bug, 2 actually. We will fix them shortly. Thanks for the info.

[2016-03-22 13:00] tautek commented on #2587
Thanks for your answer @lunitic. I understand that process but I am looking at being able to deploy a production build more rapidly. The build is taking 10s of minutes, I would prefer to get it well under 5. Build times seem to be an issue for Meteor, I may be stuck.

[2016-03-22 13:02] bott0r commented on #2524
I updated to the develop 0.23 this morning and i still have the same visual bug.

I deploy with docker, with a simple bash script that removes rocket chat, fetches the new version and installs it. Not sure if that has anything to do with it :)

[2016-03-22 13:12] engelgabriel commented on #2408
What is the value of you MONGO_URL setting?

[2016-03-22 13:32] rodrigok commented on #2524
@bott0r We found the issue, it's related with our theme package, we are fixing it right now, thanks.

[2016-03-22 13:34] bott0r commented on #2524
You guys are doing amazing work! i am just a mere bug finder :dancers:

[2016-03-22 13:41] andreas-bulling commented on #2579
Thanks!

[2016-03-22 13:43] andreas-bulling commented on #2300
I support this feature request/idea. It happens quite often that people post into the wrong channel and being able to move (directly multiple) messages instead of deleting and submitting them again would be great

[2016-03-22 13:46] andreas-bulling commented on #1861
I think what we actually want/need is, in general, a mechanism to easily select multiple messages for subsequently deleting, moving, sending them etc. Maybe using some checkbox-like interface that only shows when the user clicks on a corresponding button somewhere. Or, even better, just by clicking on the message itself. At the moment, the message the mouse is hovering over is only highlighted. Co

[2016-03-22 14:03] rodrigok commented on #2394
@marceloschmidt @TheReal1604 Will be fixed via https://github.com/RocketChat/Rocket.Chat/pull/2590

[2016-03-22 14:05] Julime commented on #2589
works not even in chrome for me.

[2016-03-22 14:09] bott0r opened #2591 "Introduce History / storage time for messages in a channel"
As usual, a picture to describe what i'd like to see.
The admin of a channel can decide via the admin panel how long messages and uploads in a given channel are supposed to be stored in your database. Ranging from infinite days to 1 day.

![capture](https://cloud.githubusercontent.com/assets/17119942/13954124/b7336f20-f03f-11e5-9b0e-73a84d15ecf7.JPG)

In this case every message before Saturday, No

[2016-03-22 14:14] bott0r commented on #2589
![capture2](https://cloud.githubusercontent.com/assets/17119942/13954382/cee30c1a-f040-11e5-8e69-12a9398b9c57.JPG)

[2016-03-22 14:22] Sing-Li commented on #2587
@tautek    **DO NOT** use `meteor` to deploy to production !

[2016-03-22 14:29] bott0r commented on #2402
https://github.com/RocketChat/Rocket.Chat/wiki/WebHook-Scripting---Telegram

[2016-03-22 14:31] Sing-Li commented on #2587
Please reopen if you still have issue with deployment speed when using compiled distribution.

[2016-03-22 14:31] #2587 closed

[2016-03-22 14:36] Julime commented on #2589
![capturfiles_6](https://cloud.githubusercontent.com/assets/7944656/13955135/da46ba90-f043-11e5-9729-c1ef1be02d6c.png)

[2016-03-22 14:41] bott0r commented on #2589
I know the crafty decs working on the mobile fix, i am sure it will work soon :+1:

[2016-03-22 14:51] himbeere commented on #2510
hello @marceloschmidt Just installed 0.23.0 and have the same issue. It can be solved the same way as mentioned above.

Bit I really don't know what you mean by "Were you working on anything that might have added that package?" It's a plain rocketchat install. I did not work on anything.

thanks and cheers

[2016-03-22 15:11] tautek commented on #2587
Hi @Sing-Li  I think you're confused by @lunitic's response. I'm not deploying using meteor I am building a customised version of RocketChat for deployment. I'm just trying to find a way to speed up the build itself because it is terribly slow. Looking at the build times for Meteor 1.2 vs 1.3 it may be a fundamental issue with Meteor itself so I'll leave this closed.

[2016-03-22 15:17] Sing-Li commented on #2591
This is a duplicate of #795

Please relocate discussion to that ticket.  Closing this one.

[2016-03-22 15:17] #2591 closed

[2016-03-22 15:27] bott0r commented on #795
Maybe Indicate the History the following way.

![capture](https://cloud.githubusercontent.com/assets/17119942/13954124/b7336f20-f03f-11e5-9b0e-73a84d15ecf7.JPG)

In this case every message before Saturday, November 8, 2014 will be deleted

[2016-03-22 15:40] Sing-Li commented on #2587
@tautek  Ah.  Sorry for the confusion.

But this is a classic problem with tracking FOSS.   So the best approach is always to push your customizations upstream - like donating them back to FOSS as much as possible :smiley:  Many community members are doing exactly that.

Having said that.  MDG  is well aware of the build-speed problem (community wide outcry!)  and they have experimental branches t

[2016-03-22 17:59] sinteur opened #2593 "different color for @all notifications"
Imagine you're in a few dozen channels. You go away to fetch a cup of coffee, and you hear the notification sound. You get back to your laptiop - and seven channels have a green icon. One, and only one, has a message @you, the rest is @all.

Choose wisely, young padawan...

[2016-03-22 18:20] rodrigok commented on #2569
@valessiobrito your server is restarting by a problem in your Push certificates, since when the integration create a new message the server, probably, is trying to send that message via Push Notification and then crashing.

You should have the same behavior if you go the the "push" section in your admin page and hit the button to test push notifications.

Can you do that? Or we can talk better via

[2016-03-22 18:32] geekgonecrazy commented on #2593
this pain is real! lol

What about the cases where you have an `@all` and `@you` in the same channel?  Thoughts on handling that?

[2016-03-22 18:34] sinteur commented on #2593
@you comes first of course

[2016-03-22 18:37] geekgonecrazy commented on #2588
@sinteur I hadn't thought of this use case.  Good one though.  Also you can't invite on mention... so there really isn't a need to mention anyone outside the channel.

[2016-03-22 18:38] geekgonecrazy commented on #2576
yeah this is pretty painful.  Looks like we need a bit of debouncing on the save to the local variable to reduce the lag felt here.

[2016-03-22 18:40] #2394 closed

[2016-03-22 18:40] #2125 closed

[2016-03-22 18:41] #2579 closed

[2016-03-22 18:43] #2534 closed

[2016-03-22 18:54] rodrigok commented on #2417
@dmidmi84 No, we don't get suggestions for disabled services but we always try to get suggestion from gravatar, the problem is that this method to get suggestions is blocking all other methods until finish, I fixed that in the PR #2596

[2016-03-22 19:05] #2417 closed

[2016-03-22 19:06] engelgabriel commented on #2589
We think we know what the problem is, and @sampaiodiego  will submit a fix to the develop branch shortly.

[2016-03-22 19:07] gramakri opened #2597 "Integrations: script compiled when null"
Your Rocket.Chat version: 0.23.0

1. Create Outgoing WebHook Integration
2. Save integration
3. `Script` is compiled on the server using babel despite untouched. In general, this is not a problem, but for a Cloudron app the babel cache is setup incorrectly, so it ends up being flagged as an 'Error' in the ui.

In the database (rocketchat.integrations), the `script` is `null` as expected.
[code]

T

[2016-03-22 19:21] #2557 closed

[2016-03-22 19:30] engelgabriel commented on #2588
there is.. if you want to say: talk to @sampaiodiego
for example.

[2016-03-22 19:32] sinteur commented on #2588
That's my point. It shouldn't. See use case I mentioned

[2016-03-22 19:36] engelgabriel commented on #2588
I agree It should not leak (not send a alert to the person), but the autocomplete should still work.

[2016-03-22 19:36] gramakri opened #2599 "incoming webhook ui: curl example link disappears when clicked a second time"
Your Rocket.Chat version: 0.23.0

1. Create `Incoming WebHook Integration`
2. After creating the webhook, click on the `COPY TO CLIPBOARD` in `Example` section. The link disappears when clicked twice.

The other two copy to clipboard links above this, work fine.

Tested on chrome 49 and firefox 46.

[2016-03-22 19:39] sinteur commented on #2588
leaking is often unintended and not the the person mentioned, but to the other customers in the channel.

suppose I am talking to several bankers and I accidentally autocomplete @bankerjoker when I meant to autocomplete @bankerjones - where bankerjoker is a competitor and bankerjones who IS in the current channel should not know that.

[2016-03-22 19:39] sampaiodiego commented on #2588
if a user have access to a private channel, he'll have access to any person on the chat? am I wrong?

[2016-03-22 19:41] sinteur commented on #2588
Again: auto complete makes me leak info about people who are NOT in the channel TO the people who ARE.

[2016-03-22 19:43] engelgabriel commented on #2578
I think we should replace the rocket for a standard loading, that uses less CPU.

[2016-03-22 19:43] sampaiodiego commented on #2588
but everyone in the channel can talk to anyone in the server. there is no such limitation.

[2016-03-22 19:47] sinteur commented on #2588
How, if they don't know the other person is on the server?  And if the CAN know, they shouldn't or RocketChat is unusable as a way to talk to customers

[2016-03-22 19:51] engelgabriel commented on #2588
OK, this is specific use case. We should create a special type of users, like "guests" that have much more limited permission, so that they cannot mention anyone outside their channels.

[2016-03-22 19:53] sinteur commented on #2588
It's not the guests who make the auto-complete error....

[2016-03-22 19:54] Sing-Li commented on #2578
I think this is a cornerstone part of  _**"The Rocket.Chat  Experience"**_

The "pumping heart"  - that gives Rocket.Chat the "soul" that so many adore.

Please consider to re-consider.

[2016-03-22 19:59] engelgabriel commented on #2588
So you want a special setting on rooms so no memeber is allowed to mention non members?

[2016-03-22 20:01] sinteur commented on #2588
Well - at least leave them out of the autocomplete - if that only works by forbidding the entire @name string, I will live with that. And even better if I can make that the default

[2016-03-22 20:01] engelgabriel commented on #2578
I will reconsider...

[2016-03-22 20:08] mrplow commented on #2578
I think thats going a little far to say its the cornerstone part of "The Rocket.Chat Experience". That's more owning your own data, not the loading image.
The "pumping heart" is most definitely slowing down switching channels on lower end mobile devices for our team members.

[2016-03-22 20:33] k0nsl commented on #2578
I say, keep it, but let us customize it, or even add the ability to disable it.

[2016-03-22 20:35] dupree972 commented on #2578
Yeah, it’s friendly looking and end users I think like that Rocket has that inviting look and feel as opposed to some of the less attractive options like Zulip.

[2016-03-22 20:40] engelgabriel commented on #2578
Ok, my goals would be:
- Keep the logo but make it configurable via admin ASSETS panel
- Use a less CPU intensive animation

[2016-03-22 20:42] #2576 closed

[2016-03-22 20:43] #2597 closed

[2016-03-22 20:45] #2599 closed

[2016-03-22 20:47] #505 closed

[2016-03-22 20:51] rodrigok commented on #2402
@bott0r AWESOME, can we close this issue?

[2016-03-22 21:01] rodrigok commented on #2028
Someone can help me to setup SAML at my local server to test this behavior?

[2016-03-22 21:01] gramakri opened #2604 "No Logo in fresh installs"
Your Rocket.Chat version: 0.23.0

In the login page, the url is now "/assets/logo?v=3". With a fresh install, this url is not found and thus results in a broken image link in the login page.

Possibly related to https://github.com/RocketChat/Rocket.Chat/pull/2581

[2016-03-22 21:02] gramakri commented on #2604
@rodrigok you can see this here - https://chat-demo.cloudron.me/ . Note that upgraded installs work fine because they reference the older link it seems "/images/logo/logo.svg?v=3"

[2016-03-22 21:03] a7medo778 commented on #1570
well using firebase as a backbone can almost eliminate the need for a server, i mean you can basically scale infinitely without worrying about scaling the infrastructure
that and slew of ready to be used features

[2016-03-22 21:08] gramakri commented on #2604
Just a guess: https://github.com/RocketChat/Rocket.Chat/pull/2581/commits/0639849c8655ca44350179e54b69e2326dac533f#diff-b91dc66abec974250a8985f32de853cdR11 should be served from _two_ urls now to support both fresh (/assets/logo?v=3) and upgraded (/images/logo/logo.svg?v=3) installs.

[2016-03-22 21:09] amitmeyraz opened #2605 "issiue with css"
Your Rocket.Chat version: (23)
hi,
there is a few minor bugs with the RTL of the web site and the app (android - didnt check ios)
when i want to add a channel
![2016-03-22_23-03-15](https://cloud.githubusercontent.com/assets/5375635/13967949/79ceb6ce-f082-11e5-87ff-09e7315da787.jpg)

if i minimiae the page and then  open it for full screen its ok.
but at first when i am trying to add something, it

[2016-03-22 21:11] rodrigok commented on #2604
The new url should redirect to old url if no value was setted for that asset.

The problem is with the redirect

https://chat-demo.cloudron.me/assets/logo?v=3 redirects to https://chat-demo.cloudron.me//images/logo/logo.svg?v=3 with `//`

[2016-03-22 21:24] GuiSim commented on #505
Will the `+:emoji_name:` method for adding a reaction also be supported?

[2016-03-22 21:30] engelgabriel commented on #505
not now, but you can open another issue with a features request, or a PR :)

[2016-03-22 21:34] #2604 closed

[2016-03-22 21:41] Sing-Li commented on #1570
So a thought exercise just so I understand the line of thought.

I get into a chat  with 1,000,000 users just to direct message with @geekgonecrazy.

With firebase and eliminate the need for the server, are you saying every single browser client copy should maintain information on 1,000,000 users so that two can direct message?

[2016-03-22 22:05] a7medo778 commented on #1570
kinda yes
because you would've arranged your database in a way to accommodate all
chats
so you can update the 1,000,000 "room" in the db without even feeling any
kind of load or latency because of the nature of the service

On Wed, Mar 23, 2016 at 12:41 AM, SingLi <notifications@github.com> wrote:

[2016-03-22 22:09] lunitic commented on #2578
@engelgabriel Sound goods,

I also like the symbol, but on a customized server people just get confused of a big unknown logotype

[2016-03-22 22:10] a7medo778 opened #2607 "Deeplinking support"
hi guys
it makes sense since the apps are crossplatform, the sharing URL should be using deeplinking method to detect if the user is opening the chatroom url in a mobile device and launch it in the app instead of webpage
the best option out there is : https://branch.io/ (free and activly updated)

with regards
ahmad

[2016-03-22 22:56] GT500org opened #2608 "SMTP Settings - Sending Test E-mail Without Restarting Rocket.Chat Server Results in "AuthError: Invalid login""
Your Rocket.Chat version: 0.23.0

If I configure my SMTP settings, save them, and send a test e-mail it errors out (login failure). My maillog says the following, which suggests Rocket.Chat may be ignoring the login information I entered:

Restarting the Rocket.Chat server solves the problem.

I was able to log in to the account I created for Rocket.Chat via webmail before testing it in Rocket.Cha

[2016-03-22 23:20] dmilith opened #2609 "IDN domains not working in chat"
Your Rocket.Chat version: AppStore version.

For example, paste this screenshot in Rocket.Chat - http://ół.pl/e12c046f49d635769b79adb8b39cff5f.png
Same screenshot without IDN domain which will actually work: http://s.verknowsys.com/e12c046f49d635769b79adb8b39cff5f.png

[2016-03-23 00:03] Deadlyhacker commented on #1593
Yes add this please +1

[2016-03-23 01:22] #2589 closed

[2016-03-23 01:23] sampaiodiego commented on #2589
The fix is now on `develop` branch.
@Julime can you test it please? thank you

[2016-03-23 02:03] fduraibi opened #2610 "None Latin words are not getting highlighted"
Your Rocket.Chat version: (latest from develop branch)

English words gets the yellow highlighting but Arabic words doesn't!
![tmp_11155-img_20160322_214706-194488521](https://cloud.githubusercontent.com/assets/432460/13973505/d103cbcc-f079-11e5-860f-ee566e8e48e6.jpg)
![tmp_11155-img_20160322_214853-629836013](https://cloud.githubusercontent.com/assets/432460/13973507/d44e9cd0-f079-11e5-8398-e094f

[2016-03-23 05:23] saigop commented on #2408
MONGO_URL=mongodb://localhost:27017/rocketchat

[2016-03-23 05:55] andreas-bulling commented on #2339
@engelgabriel the example scripts are extremely helpful. Any chance these could be extended quickly with an example that allows git pushes to be shown with the corresponding commit message(s) and an URL to the commit?

[2016-03-23 06:00] flantascience opened #2613 ""Internal Server Error" when new user registers - somehow related to mail"
Your Rocket.Chat version: 0.21.0

Just deployed to entrepreneursanonymous.net

When a new user registers, it throws an "Internal Server Error" message.  The email does get registered and stored, but the user doesn't advance to the next page.  If they go back to the login screen, they are actually able to login.  Though most people probably wouldn't try logging in after getting rejected at registra

[2016-03-23 06:26] amitmeyraz commented on #2605
if you need more print screen i will send you.

[2016-03-23 08:45] TheReal1604 commented on #2394
@rodrigok perfect, thanks for your work!

[2016-03-23 08:50] recioalex opened #2615 "Bad Uri generation for Gitlab Oauth profile"
Rocket.Chat version: (0.23.0) docker installation.

In the Oauth - gitlab configuration the callbackURL is being generated without a "/" after the domain
Example.

For https://foo.bar

the direction being generated is

https://foo.bar_oauth/gitlab

Instead of the correct

https://foo.bar/_oauth/gitlab

If I use a personalized Oauth i can authenticate against my gitlab, because the uri generated is

[2016-03-23 09:47] brylie opened #2616 "WebRTC Media stream error: The operation is insecure."
Your Rocket.Chat version: 0.19.0

When initializing a call over WebRTC in Firefox, the call fails. I notice the following error in the browser console:

[code]

[2016-03-23 09:48] brylie opened #2617 "Sound when incoming WebRTC call is received"
Your Rocket.Chat version: 0.19.0

When a call comes in via WebRTC, it would be useful to hear a sound.

[2016-03-23 10:11] bott0r commented on #922
It would be outstanding to be able to connect to irc servers from the RC instance.

[2016-03-23 10:32] brylie opened #2618 "Upgrade Rocket.Chat through Admin UI?"
Your Rocket.Chat version: 0.19

[code]
# Feature

Add a page to the Administrator UI allowing privileged users to upgrade Rocket.Chat to the latest version. This feature has been demonstrated by applications such as Discourse (which also uses Docker for deployment).

What are the plans to support Rocket.Chat upgrades (and possibly backups) via the Admin UI?
# Background

We have multiple people wi

[2016-03-23 11:29] ulope commented on #2101
This should really be explained better in the UI. Especially since there now seem to be two kinds of "all". Empty means some ill-defined subset of all while `*` means really-yes-I-want-all.

[2016-03-23 11:42] andreas-bulling commented on #2618
+1

[2016-03-23 11:45] andreas-bulling opened #2619 "Add support for bibtex-js (or similar)"
Your Rocket.Chat version: 0.22.0

We are using Rocket.Chat within our research group and regularly paste paper references into chat windows, either only for future reference (like an archive) or during a specific discussion. It would be really nice if Rocket.Chat supported some bibtex parser to 1) render the pasted bibtex nicely in the chat window (similar to katex for Latex) and 2) still allow to

[2016-03-23 11:57] andreas-bulling commented on #2619
Some more options:
https://github.com/vkaravir/bib-publication-list
https://github.com/mikolalysenko/bibtex-parser
https://www.npmjs.com/package/bibtex-parser-js
http://brianmingus.github.io/bibtex.js/website/

[2016-03-23 12:09] k0nsl commented on #2618
I like this suggestion, particularly your suggestion about being able to backup the instance from within the Admin UI.

However, as for upgrading: is there some way to distinguish if Rocket.Chat has been deployed with docker, or if it has been deployed simply by launching `meteor`? I don't use docker for Rocket.Chat myself, hence the curiosity.

[2016-03-23 12:11] philthynz opened #2620 "Emoji hover over syntax"
It would be very useful to be able to hover over any emoji, and see the `:xxx:` syntax for the emoji. Also having this inside the emoji picker would be great.

[2016-03-23 12:55] cedemore commented on #2551
+1 i find this annoying too.. :-/

[2016-03-23 13:09] engelgabriel commented on #2408
So the DB will remain the same.

[2016-03-23 13:14] markhorsman commented on #254
Hello everyone. I tried @rodrigok approach but got the following error:

a["{\"msg\":\"nosub\",\"id\":\"9ZFTePErqMDzvuYyv\",\"error\":{\"error\":404,\"reason\":\"Subscription not found\",\"message\":\"Subscription not found [404]\",\"errorType\":\"Meteor.Error\"}}"]

Because I never get an subscriptionId, the connection.call line also fails.
It looks like the 'stream-typing' sub does not exist.

A

[2016-03-23 13:16] valessiobrito commented on #2569
@rodrigok this type of Push works normal. I did as directed the application did not restart. I got the push usually on the smartphone.
Believe may be related to Push when posted by the BOT, I will do new tests and maintain documented in this Issue.
How to update the certificate? Any tips? I don't remember any generated certificate to set my instance.

[2016-03-23 13:28] miscs opened #2621 "More Channels -> Filter Joined / All"
Your Rocket.Chat version: 0.23.0

Is it possible somehow to set the Filter-Standard in "More Channels -> Filter Joined / All" to "All"?

We had some feedback from users "searching" for channels not finding them because of the filter set to "Joined". They are coming from slack.

Thanks!

[2016-03-23 13:35] rodrigok commented on #2569
@valessiobrito Are you using custom certificates in your Push settings? Or are you using our gateway?

[2016-03-23 13:43] valessiobrito commented on #2569
Don't use Push settings for Apple; This blank. Can be it?
Use own configuration for Android.

[2016-03-23 14:03] unixfox opened #2622 "Ability to customize channels who a new user will join by default."
Your Rocket.Chat version: 0.23.0

A new user always join the default channel aka "general", it could be cool if I can customize channels by default a new user joins to avoid having to add each new user in the other channels.

[2016-03-23 14:25] denen99 commented on #637
@manuelbachl let me know if you have a working repo, would like to contribute to this one

[2016-03-23 14:32] manuelbachl commented on #637
@denen99, I haven't started this yet. Have some trouble getting my hook working for Bitbucket. Once this problem is solved, I'll finish the BitBucket integration. I Think much code of this integration can be reused for JIRA. But I'll let you know once I'm starting ;-)

[2016-03-23 14:42] engelgabriel commented on #637
What problem are you having @manuelbachl ?

[2016-03-23 14:42] MaxKK commented on #2622
This is AFAIK already possible. "Default channels".

[2016-03-23 14:46] manuelbachl commented on #637
the probelm is, that I can't receive the payload from Bitbucket. Have been working on this with @rodrigok an this last friday. But we should meet again in chat for fixing this. Using the same hook, rodrigok reveived the payload. It seems, that there is any issue with our R.C setup.
I'm at home in about 1 and a half hour - maybe he's in then, so we could move on working on the integrations ;-)

[2016-03-23 14:55] engelgabriel commented on #637
@rodrigok will be here in the office in 1 hour too. Let's get that fixed.

[2016-03-23 14:59] corecache commented on #2622
If I remember correctly - as Administrator do:

- create the room
- Admin Panel -> Rooms -> Select your newly created room -> Right Panel select "Default" to True

[2016-03-23 14:59] Sing-Li commented on #1570
Then everyone with more than 1GB of storage requirements will have to pay
$50 a month?

*Sing Li*Core Contributor

sing.li@rocket.chat

+ 55 51 30855151 <+555130855151>

@ <https://demo.rocket.chat/direct/sing.li>sing.li

https://rocket.chat

On Tue, Mar 22, 2016 at 6:05 PM, a7medo778 <notifications@github.com> wrote:

[2016-03-23 15:08] unixfox commented on #2622
@corecache Thanks you, I din't see it. Sorry

[2016-03-23 15:08] #2622 closed

[2016-03-23 15:08] engelgabriel commented on #2101
Strange, that shouldn't be the case. Empty and * should be the same.

@sampaiodiego can you investigate this?

[2016-03-23 15:10] engelgabriel commented on #2339
We are working on that, and w way to share scripts via a online catalogue too.

[2016-03-23 15:11] engelgabriel commented on #2621
I agree, @marceloschmidt can you make the default be "All" by "Name" please.

[2016-03-23 15:34] IQ2022 commented on #2621
can we group Channels? like set a department and within that multiple groups?

[2016-03-23 15:35] nikashitsa commented on #1794
I think one thumbnail for message attachment is enough to reduce network bandwidth.
With aws s3 + lambda thumbnails can be created in cloud. Here are [examples of lambda functions](https://github.com/nikashitsa/aws-lambda-thumb).
Official s3 thumbnails [tutorial](http://docs.aws.amazon.com/lambda/latest/dg/with-s3-example.html)

But there is issue with Invocation Types. If use Event invocation typ

[2016-03-23 15:36] IQ2022 commented on #2618
:+1: :100: backup DB, or even email list, etc (ability to download a copy) for future deployment.
Also the version upgrade is great to have.

[2016-03-23 15:37] graywolf336 opened #2623 "When Using Push Gateway Server Can't Start"
Your Rocket.Chat version: `develop branch`

[code]

@rodrigok this is happening as a result of 32461b00d6f6da03d39dd55c80ffed0afb7697c1.

[2016-03-23 15:54] warain commented on #1570
@Sing-Li is pricing with firebase you reservation?

[2016-03-23 15:57] warain commented on #1570
I think what firebase allows us to do is integrate other firebase hosted application well with rocket since,

[2016-03-23 16:08] rodrigok commented on #2623
Thanks, fixed by https://github.com/RocketChat/Rocket.Chat/commit/503890f2015706774574dcb18e0601607b1b2cee

[2016-03-23 16:08] #2623 closed

[2016-03-23 16:39] Julime commented on #2589
I can check this on tuesday

[2016-03-23 16:41] hunterua commented on #1831
Same issue for local installation

[2016-03-23 16:42] a7medo778 commented on #1570
chats doesn't really take that much space, images and voice and video are offloaded to s3 anyways
The ability to have a scalable app with minimum cost and self growing infra is really good for some use cases

Regards
Ahmed

[2016-03-23 16:52] Sing-Li commented on #1570
Agreed for some use cases.

Why do they charge $150 a month minimum for _private backup_?  Does it mean that to export data, you need the minimum $150/month plan?  tia

[2016-03-23 16:58] Sing-Li commented on #1570
@warain I would conservatively estimate that monthly recurring cost is a concern for over 60% of our FOSS user base.

Just need to understand more before we can even begin considering the priority of this work.

Thanks for all the help and information.

[2016-03-23 17:02] rodrigok commented on #1548
@WhiteHatTux You can pass `parseUrls: false` within your message from hubot to prevent this.

[2016-03-23 17:17] valessiobrito commented on #2402
Owww!!!  Thanks a lot!  Fantastic this integration!   :+1: :tada:

[2016-03-23 17:24] rodrigok commented on #2402
Well I will close this issue, please reopen it if you need.

[2016-03-23 17:24] #2402 closed

[2016-03-23 17:36] engelgabriel commented on #2438
You can change colours and logo on the admin ui.

[2016-03-23 17:40] engelgabriel commented on #577
@avital what if the work was limited into making it possible to implement the UI and behaviour, by allowing the DOMAIN to be used as a key on cache storage, etc. We could work on a PR with MDG.

The UI would be implemented by the app.

@rodrigok what do you think?

[2016-03-23 18:33] rodrigok commented on #577
@engelgabriel I don't know, I need to take a look into the new plugin code

[2016-03-23 18:35] manuelbachl commented on #637
thanks to @rodrigok our hook works for now. I'll do the integration tomorrow and will paste the link to the repo here

[2016-03-23 18:51] denen99 commented on #637
Should there be a "webhooks" repo under RocketChat org where we can keep all the contributed webhooks ?

[2016-03-23 18:55] manuelbachl commented on #637
there are plans for building a "marketplace" - as website and even inApp, but it's a little bit too early to talk about further details :-D But be sure, you'll all be informed as soon as it's working ;-)
Since then, have a look at the Wiki https://github.com/RocketChat/Rocket.Chat/wiki#technical-guides - there some integrations will be mentioned

[2016-03-23 19:00] rodrigok commented on #637
We are trying to create our first MarketPlace version this week

[2016-03-23 20:15] engelgabriel commented on #2608
Meteor requires the server to be restarted in order to read the new SMTP settings. There is notting we can do at this point. We are working with MDG to try to solve the issue.

[2016-03-23 20:15] #2608 closed

[2016-03-23 20:18] engelgabriel commented on #2609
Even GitHub doesn't recognise the URL as a LINK :(

[2016-03-23 20:19] engelgabriel commented on #2613
@rodrigok should we wrap the send email on a TRY to avoid server restart?

[2016-03-23 20:23] engelgabriel commented on #2616
Please upgrade to the latest version of Rocket.Chat and make sure you are using SSL.

[2016-03-23 20:23] #2616 closed

[2016-03-23 20:29] engelgabriel commented on #2610
Can you help with a PR?

[2016-03-23 20:33] dmilith commented on #2609
Slack does ;p (They fixed it after my report)

[2016-03-23 20:54] amitmeyraz opened #2625 "when a new user enters on rocket.chat it automatically join to GENERAL channel."
Your Rocket.Chat version: (23)
hi,
at my server mschool.rocket.chat its not happening.
when a new user join to the chat, nothing happen. i created the general channel and define it as default, but there is no automatic appearance of the channel.
please advice
![2016-03-23_22-52-32](https://cloud.githubusercontent.com/assets/5375635/14000509/30cae2f4-f14a-11e5-8b9c-c8d783b2ca39.jpg)

[2016-03-23 21:29] engelgabriel commented on #2618
We can do a shell upgrade script inside our Docker Images, and trigger them from inside the UI like Discourse.

But the best way to update Docker Containers would still be by using Docker to download new images.

[2016-03-23 21:32] engelgabriel commented on #2609
Can you ask them what is the REGEX that they are using now? :)

[2016-03-23 21:33] GT500org commented on #2608
I'd recommend adding some sort of notice in the SMTP settings that the server does require a restart for SMTP setting changes to take effect.

[2016-03-23 21:42] fduraibi commented on #2610
@engelgabriel I don't know which part of the code is doing the highlighting, but I feel it has something to do with "Slugify" being enforced even if the setting is disabled.

Do you know who implemented this feature?

[2016-03-23 22:31] Sing-Li commented on #271
@dandv:  How do you visualize a chat app  _work offline_ ?   Or are you thinking of temporary/ intermittent  disconnection scenario.

Would the user know that he/she is offline and queue messages, uploads, etc - for when the device/system becomes online again?

[2016-03-23 22:32] fduraibi commented on #2610
ok, first of all, i hate you @engelgabriel you kinda tricked me to work on it.

I found the problem, it is caused by using the regex anchor \b to detect word boundaries, however, that anchor is not unicode compatible.

so in this line:
https://github.com/Johann-Snapp/Rocket.Chat/blob/develop/packages/rocketchat-highlight-words/client.coffee#L20

[code]

i replaced it with this (simply removing the

[2016-03-24 00:18] engelgabriel commented on #2610
@rodrigok is our in-house REGEX expert :+1:

[2016-03-24 00:43] dandv commented on #271
@Sing-Li: exactly; much like Meteor apps work offline and can show an online indicator using `Meteor.status()`. The two top value propositions are searching within the local cache of recent messages, and queuing messages for posting when the connection is re-established.

[2016-03-24 01:32] Sing-Li commented on #271
@danv - we want to stand up a PoC for something very similar.   Might you be available to help us in an advisory role?

One of our primary use case are in emerging economies where low speed 3G connections might be intermittent and interrupted frequently.  The catch 22 is the affordability of phone hardware that can run the fundamental blocks for progressive web.

Are we talking about Android 6 and

[2016-03-24 03:58] engelgabriel commented on #271
We are also working to make Meteor become DB agnostic.. @Sing-Li is refactoring the account package for MDG. I was wondering if we could eventually make Rocket.Chat be able to run entirely on services from the Google Cloud Platform.

[2016-03-24 05:35] saigop commented on #2408
Ok thanks for all your suggestions, let me move the folder and will
download fresh copy from git.

Thank you.

On Wed, 23 Mar 2016 at 18:39 Gabriel Engel <notifications@github.com> wrote:

[2016-03-24 07:00] amitmeyraz opened #2627 "user should have the ability to invite"
Your Rocket.Chat version: (23)
hi,
i think that a user need to have a permission to invite a potential users that are not in the system.
its an important thing for the community.
maybe there is such a possibility, but i didnt find it.

[2016-03-24 07:25] nishimaki10 opened #2628 "[Request] Support regexp or simple search messages"
Your Rocket.Chat version: (0.23.0)

Hello.

I'm Japanese. MongoDB can not text search for japanese text, because [not support](https://docs.mongodb.org/manual/reference/text-search-languages/#text-search-languages).
In current, we can search only alpha-numeric characters. It is inconvenient.

Thanks!

[2016-03-24 07:39] bott0r commented on #2618
That what i have been doing, i just have a shell script and a cronjob every tuesday morning.

[2016-03-24 07:41] brylie commented on #2618
Would you mind sharing your shell script example @bott0r?

[2016-03-24 09:15] Schniz commented on #1870
Gravatar can be a good idea, but the OAuth providers can also be in this list

[2016-03-24 09:29] manuelbachl commented on #637
@denen99 I've got the Bitbucket Server integration up and running. But I've recognized just at this moment, that there is only a possibility to receive updates on repositories. The POST receive webhooks from bitbucket server just send on receiving pushes. As far as I could figure out, there is an other behavior for Bitbucket Cloud, there you could also receive pull requests a.s.o...

Because of th

[2016-03-24 09:35] manuelbachl commented on #637
https://confluence.atlassian.com/bitbucketserver/draft-using-repository-hooks-776639841.html
down at the bottom, there is an interesting part...

[2016-03-24 10:27] #2514 closed

[2016-03-24 11:43] System-Glitch opened #2630 "Soundcloud player"
When I use a channel with a Soundcloud embed player in it, my navigator freezes all inputs/outputs. Impossible to load any tab and to post new messages in the channel.
After a few seconds, the "Reconnecting..." message appears in RocketChat.

I'm using firefox.

[2016-03-24 12:22] bott0r opened #2631 "Feature Request - Radio Channels"
Nice to have, maybe not legal, but worth a shot.

It would be really fantastic to be able to create a bot that could first connected to spotify, lastfm, or something, and would reroute the audio signal from these services into a given channel, via webrtc, all other clients would not have the permission to speak(voice) in this channel, so connected people could listen to the generated audio signal,

[2016-03-24 13:12] denen99 commented on #637
thanks @manuelbachl i thought we were talking about JIRA, not BitBucket though ?

[2016-03-24 13:14] manuelbachl commented on #637
yes @denen99 you're totally right, but as stated before, I just wanted to finish the BB integration because I've already been working on this when I found this issue.

[2016-03-24 13:20] kramer65 commented on #533
Just a question. How much money would need to be raised to get this going?

[2016-03-24 13:21] engelgabriel commented on #2618
Please share?

[2016-03-24 13:58] amayer5125 opened #2632 "Start Direct Message By First And Last Name"
Your Rocket.Chat version: 0.23.0

If I click the + beside "Direct Messages" to start a new conversation I can not search by persons name, only by their handle. While I understand this it may be hard for less technical users to start a direct message with a co-worker.

[2016-03-24 14:00] droup opened #2633 "subgroups in a private group"
Your Rocket.Chat version: 0.23

Hi guys, first of all.. BRAVO ! What a great job you've done!

we use rocket in our company and it's just awesome!
Just a suggestion, it will be really great if we can create subgroup in a private group already created.

For example, i create a Private group "fellowshipofthering" with 9 users for a chat with the entire group,
i would like members of this group can c

[2016-03-24 14:43] rodrigok commented on #2610
@fduraibi Can you try this:

[code]

[2016-03-24 15:00] amayer5125 opened #2634 "Admins Do Not Get Email Verification Prompt"
Your Rocket.Chat version: 0.23.0

I set email verification to True. And asked some users to log out and log in. Regular users get an email verification prompt after attempting to log in. Admins do not get the email verification prompt. I would like all users to get email notifications when they are not logged in but there seems to be no way to verify admin email addresses.

I am currently using th

[2016-03-24 17:39] pavankumarkatakam commented on #2319
Hi, I update to the latest software, but not getting the  mobile push notifications here is my logs:

[code]

[2016-03-24 18:24] kramer65 commented on #2634
I guess what you're describing is a feature, not a bug. If admins would be required to verify their email address before logging in, and there would be only one admin, nobody would be able to log in anymore.

Furthermore, I guess you do need to "trust" your admins a bit more and limit the number of people you make admin.

That said, I'm not a developer for this project, just an enthusiast.

[2016-03-24 18:25] alisalaah commented on #1870
The suggestion was not to limit what is already there but have an "if
gravatar exists" use that by default rather than the letters.  Could use
any avatar that exists at all (Facebook, etc.) before using the letters as
an "only if no avatar exists" as the default behavior.  People can disable
the avatar for letters by choice though.

On Thu, Mar 24, 2016 at 4:15 PM, Gal Schlezinger <notifications@g

[2016-03-24 18:27] kramer65 commented on #2633
Isn't what you're describing simply a new private group? At least, I'm not sure how it differs?

If what you're describing would be possible, wouldn't that create a mess of groups in groups in groups in groups... inception?

[2016-03-24 18:28] kramer65 commented on #2631
This indeed sounds quite awesome, but I guess it's not very high on the list of priorities.. :-)

[2016-03-24 18:33] gazzerh opened #2635 "/invite works in direct message chats which seems to be unintended"
While in a direct chat with someone the creator can /invite someone else. This person then gets a direct chat which hasn't got a name.

A record in the subscription collection then looks like this:
[code]

As you can see the name is null which I believe is because of this unique key:
[code]

The use of /invite in direct chats seems unintended behaviour and probably needs to either be disabled, or

[2016-03-24 18:49] amayer5125 commented on #2634
The problem I am having is that admins dont get email notifications when a new message is sent to them because their email address is not verified. Maybe a solution would be have a way to click "verify my email" somewhere in the settings?

[2016-03-24 19:00] kramer65 opened #2636 "App can't connect to my Rocket.Chat installation. How to debug?"
Your Rocket.Chat version: 0.22.0

I've installed RocketChat using the Docker image by issuing the following commands:

[code]
I explicitly set the ROOT_URL as an environment variable so that it is correct. The site works fine, but unfortunately, the Android app won't fully connect to my server instance. It first connects, downloads some files, and then I end up with the screen below.

Does anybody

[2016-03-24 19:41] Danathus commented on #2513
Note: in slack you can alt + click on a message to mark it as unread. Also if you hover over a message, and click the "..." to the side, one of the context menu options that pop up is "Mark unread."

I'd recommend the same user interface for the rocket.chat implementation.

[2016-03-24 20:05] sampaiodiego opened #2638 "Add user doesn't save the name"
Your Rocket.Chat version: 0.23

Creating a user at `Administration > Users` doesn't save its name.

[2016-03-24 20:06] frenchsquared commented on #2638
Here is a screen cast of the issue
http://screencast.com/t/8bewzxEb

[2016-03-24 20:15] mikrobyte opened #2639 "Add ability to delete channel's history/media"
Your Rocket.Chat version: 0.23.0

**1.** The ability to delete a channel's or 1 to 1 conversation history and media shared.

**2.** For small servers, the ability to automatically delete/overwrite the memory used for conversation and shared media history. Say, if it's older than X days, months. **OR**, whenever the conversation history or media buffer is over X amount of gigabytes, then start over

[2016-03-24 20:19] dytec commented on #2633
That would be the worst you can do...

[2016-03-24 20:30] gramakri opened #2640 "Script Full Screen button in 'Integrations' does not work"
Your Rocket.Chat version: 0.23.0

1. Create integration
2. Press Full Screen button under scripts code view

I see this in the console
[code]

[2016-03-24 20:34] Vulg commented on #2609
It works in mattermost ;)

[2016-03-24 21:31] zgana commented on #1553
+1 I would love to see this.  Collapsable pastes for code and logs would be really useful for my team (and so a key selling point if I am going to convince them to migrate from Slack...).

[2016-03-24 22:07] rodrigok commented on #2640
Fixed by https://github.com/RocketChat/Rocket.Chat/commit/28aa767774f18222dea087a14db879458d21acf7

Thanks

[2016-03-24 22:07] #2640 closed

[2016-03-24 22:09] rodrigok commented on #2625
Can we access your chat to test?

[2016-03-24 22:21] droup commented on #2633
No create groups in groups in groups wille be the better way to madness...

Imagine the principal private group like a team, subgroups could be multiple projects but that should be limited to one degree of subgroup into the principal private group.
In this way, it will be easy to find a specific project because it looks like "classified" by team.

[2016-03-24 22:27] amitmeyraz commented on #2625
yes, of course.
https://mschool.rocket.chat/home

sign in as a new user , you can sign in via faceook.
do you need admin pass?

[2016-03-24 22:34] rodrigok commented on #2625
@amitmeyraz as you can see I was added to the general room after my account creation

![image](https://cloud.githubusercontent.com/assets/234261/14033212/5e17c9ae-f1f7-11e5-8834-284df9baa2e7.png)

[2016-03-24 22:39] amitmeyraz commented on #2625
yes i see,
i wonder why when i am entering as a new user, its not happening.
for test purpose, i made a new user and sign in with the new user and nothing happen.
i will try now again and update you.

[2016-03-24 22:43] ekajmiller opened #2642 "LDAP email data sync: Error creating user { [Error: Match error: Expected string, got object in field email]"
Your Rocket.Chat version: 0.23

While using LDAP authentication, when a user logs in that has multiple email addresses in the LDAP field mapped to 'email' login will fail, more specifically syncing the email data will fail. I have sync data on, but I haven't checked to see if this fails with it off. My apologies.

Here's the stack trace I get from the server (pardon me blacking out info with **):

[2016-03-24 22:43] amitmeyraz commented on #2625
strange, its working very good now,
i can promise you that few days ago i tried dozen times and nothing.
i am very sorry that i bother you.
thanks a lot.
Amit Meyraz

[2016-03-24 22:44] rodrigok commented on #2625
Haha, no problem, I'm glad this is working now.

[2016-03-24 22:44] #2625 closed

[2016-03-25 00:37] engelgabriel commented on #2587
This seems to be much better with Meteor 1.3.
We will also work on a few improvements on our side.
Once Meteor sorts out the multiple entry point, and LiveChat interface can be integrated into the main project, this will cut the building speed to a fraction.

[2016-03-25 00:38] engelgabriel commented on #2584
@sampaiodiego you have done this before, can you point @etb09 in the right direction, until our docs get updated.

[2016-03-25 00:39] engelgabriel commented on #2588
We have discussed, and will work on that in the next week or two.

[2016-03-25 00:47] engelgabriel commented on #2636
You need to set the admin setting: Site URL

[2016-03-25 00:50] engelgabriel commented on #2634
Hum... I see the problem. What @kramer65 has described was the problem behind making admin skip the verification process, but now we only send emails to verified users.

Maybe we have to make them ABLE to login without verification, but still prompting them to verify.

[2016-03-25 00:54] engelgabriel commented on #2630
Does it happens on other browsers? What happens when you you see the Soundcloud embed player in other sites?

[2016-03-25 00:56] engelgabriel commented on #2627
Is this duplicate of #2181 ?

[2016-03-25 00:56] #2627 closed

[2016-03-25 01:00] engelgabriel commented on #2632
This is a duplicate of https://github.com/RocketChat/Rocket.Chat/issues/324

[2016-03-25 01:00] #2632 closed

[2016-03-25 01:17] jots commented on #2292
How did you get the latest fibers?  I tried changing programs/server/package.json to 1.0.9
but npm install still gives:
[code]

also, how to install fresh bcrypt?

[2016-03-25 01:44] jots commented on #2292
I removed programs/server/npm-shrinkwrap and did npm install.  it worked.
also did:
cd programs/server/npm/npm-bcrypt/
npm update

server appears to be functioning.
Are these problems because on node v5.9.1  ?

[2016-03-25 03:23] flantascience commented on #2613
Is this something others are encountering?  Or is it just me?

[2016-03-25 03:26] geekgonecrazy commented on #2613
I think we've noticed a few others having this issue. As mentioned a fix for it is being considered.  Hang tight :smile:

[2016-03-25 03:27] flantascience commented on #2613
Cool!  This seems like a sweet app.  Hoping it will be a cool tool for a peer support group for entrepreneurs.  Also looking to use it with a bunch of home schooling students too.

[2016-03-25 03:31] geekgonecrazy commented on #2613
:+1: sounds like two awesome use cases! Thanks for sharing your use case.  Always love to see what people are doing with it.  If you ever want to tell us  more feel free to hit us up on our demo server.  :smile:

Back on subject:  Seems like anything involving an external action like this, might be good to wrap in try catch to prevent it from blowing up.

[2016-03-25 05:27] gramakri opened #2643 "Styling error in integrations view on update"
Your Rocket.Chat version: 0.23.0

The integrations view has a different style for a fresh install and an updated install. There are no obvious errors on the browser console, so I am not sure how to give you more information.

A fresh install on Rocket.Chat 0.23.0 looks like below:
![fresh_install](https://cloud.githubusercontent.com/assets/82041/14038519/4fd1a2e4-f20f-11e5-9770-f5c37fede8cc.png)

[2016-03-25 05:30] gramakri commented on #2643
You can see the breakage here : https://talk-demo.cloudron.me/admin/integrations (username: cloudron password: cloudron)

[2016-03-25 06:54] kramer65 commented on #2636
@engelgabriel - Thanks for the suggestion, but I forgot to mention that that is already set as well:

![schermafbeelding 2016-03-25 om 07 51 10](https://cloud.githubusercontent.com/assets/596581/14039615/888911fe-f25e-11e5-9d00-43595c5b572b.png)

I tried looking at the server logs, but that just says the following:

[code]

Any more ideas?

[2016-03-25 08:09] amitmeyraz opened #2644 "username initials"
Your Rocket.Chat version: (23)
hi,
when a user name join rocket he is getting initials.
when a user use not latin letters there is no initials, just a clear coloured box.
![no init](https://cloud.githubusercontent.com/assets/5375635/14040617/f0217764-f279-11e5-81cc-5f833cfd62d8.jpg)

[2016-03-25 08:52] amitmeyraz opened #2645 "system not recognize user non latin letters"
Your Rocket.Chat version: (23)
hi, enclose a PS

when try to change role of users via permission the system not recognize users that there name isnt latin.
![rc2](https://cloud.githubusercontent.com/assets/5375635/14041249/08e423a4-f280-11e5-9d35-f6e41396e935.jpg)

[2016-03-25 14:22] kkachura commented on #1832
+++++1

[2016-03-25 15:00] fduraibi commented on #2610
@rodrigok It works, however there was a missing double quote at the end of the regex, and I also added another form of comma used in Arabic language `،`

Here is the new line after fixing the missing quote and adding the special comma:
[code]

[2016-03-25 16:26] uidzero commented on #1311
I was going to open a separate issue for this, but after this is done, would it be possible for the moderator to permanently ban someone from a channel? I would like to use rocket.chat somewhat like the demo is being used, as a semi-public space for people to gather.

I just started looking at this project, and coming from an IRC background, it seems that in a social (as opposed to work) setting t

[2016-03-25 17:13] rodrigok commented on #2610
@fduraibi awesome, can you create a new PR with this change?

[2016-03-25 17:42] rodrigok commented on #2636
@kramer65 can you test our latests develop version? We did some changes related to this issue.

[2016-03-25 18:47] klimkowd opened #2646 "RootURL pathprefix not working with reverse proxy; (resource paths not all relative)"
I'm hosting my rocket chat on an external server @ https://domain.com/chat

I'm using the default reverse proxy settings as listed in the instructions -- forwarding requests to http://localhost:3000

However, when I attempt to load rocket chat from https://domain.com/chat i only get a 'Unknown path" response. My ROOT_URL=https://domain.com/chat/.

Is there any additional starting paramters that ca

[2016-03-25 19:01] fduraibi commented on #2610
@rodrigok done

[2016-03-25 19:01] #2610 closed

[2016-03-25 19:14] k0nsl opened #2648 "Add support for alternative Amazon S3 providers"
It would be great to have support for alternatives to Amazon S3 (e.g Delimiter’s ObjSpace). I have an account and active service with them and could lend out the credentials for the core team to use, in order to make it work with Rocket.Chat.
This service works fine for other programs and is for example fully compliant with `s3cmd`.

This is something I already spoke about in Rocket.Chat with some

[2016-03-25 19:52] twhiting opened #2649 "Latest Windows electron package"
Quick question, it looks like the latest version of the Windows client is at 1.2.0 but on your website the only download is for 1.1.0.  Is this intended?

[2016-03-25 20:51] JeremGamer commented on #2630
No problems on other websites with the same navigator.
It seems that there's no problem on Edge. I currently can't test on other navigators.

[2016-03-25 21:21] richardwlu opened #2650 "Mobile App Showing Plain Text Only"
Our Rocketchat version is 0.23 with the app version 2.2.2.

When we connect to our RC server from the mobile app we are getting plain text only from both iOS and Android.

I'm not sure if this has to do with some nginx configuration. The server we are accessing ends in .com and it is reverse proxying into our backend that ends in .us. Everything works in the browser fine. I noticed someone in #sup

[2016-03-25 22:06] kentonv commented on #1374
Can we get a release with this fix?

[2016-03-25 22:17] TheReal1604 commented on #2650
Got this issue some days ago, after updating rocket.chat with the latest commits all seems fine. Think some update did break it, but it's fixed for now.

Anyone have better information around this issue?

[2016-03-26 00:35] #1046 closed

[2016-03-26 00:48] geekgonecrazy opened #2651 "Silent mention"
So it would be nice to be able to mention someone with out notifying them.  Kind of like a polite mention.

Think for example you are referring to someone in conversation but you don't really need to notify them about it.

Example: `this feature was developed by @rodrigo and @diego`  I don't want to alert them and drag them out of what they are doing.  I just want to credit them / point to the act

[2016-03-26 05:11] Sing-Li commented on #2648
Yes. We may have to look at this sooner or later. Because not everyone can afford the (expensive!) S3.

Delimiter, along with other lower cost alternatives, will only work with the REST APIs of S3 - initiated server-side. Slingshot uses a client-side POST request that is not compatible. We can enable a server mediated upload (if the admin enables it) and support these third party object services.

[2016-03-26 07:28] kramer65 commented on #2636
@rodrigogs - I'd love to test you latest develop version. Is there a docker version of that, or do I need to manually install that?

[2016-03-26 14:26] bott0r commented on #216
I actually love IRC have been using it for almost 18 years, how much money is needed, to write a reliable plugin that can be toggeld on/ off if needed.

[2016-03-26 14:44] bott0r opened #2653 "[Request] - rocket chat to rocket chat communications."
Another request from your favourite nuisance!

It would be amazing if channels could be shared between instances.

For example, I would really like to subscribe to the demo.rocket.chat/developer channel on and chit chat with gabriel, however to do so I need to go open another tab and open another RC instance, and join that channel. Would it not be fantastic to just add  that specific channel to my

[2016-03-27 01:44] vikaskedia opened #2655 "Running rocketchat from a subfolder"
Your Rocket.Chat version: (.23)

When running rocket chat from a subfolder http://www.site.com/chat/

The problem is that:
1. Images
2. Avatar
3. Assets

Are loaded from document_root as /images /avatar and /assets.

To solve this problem I had to give the following commands:

Since
ROOT_URL=https://www.site.com/chat

the system should have loaded images and assets from chat folder.

Any idea wher

[2016-03-27 02:42] capensisma commented on #2653
well this can be easily done with the Current APi, just allow people to get an API key so they can connect to their account from the instance and chat on other channels...

or have a admin option to add other Rocket.Chat Instance ...

[2016-03-27 07:44] nishimaki10 opened #2656 "Markdown Headers do not work"
Your Rocket.Chat version: 0.23.0

I set Markdown Headers to `True`. However, do not work with the user does not have a `view-privileged-setting` permission.

 I pended the #2652, because I have found this issue.

[2016-03-27 09:18] netdevfighter opened #2657 "Missing proxy settings for fetching external pages"
We use the rocket chat on an internal network without direct internet access (is blocked by firewall) but we can use a proxy for access it (only for external networks/pages).

Is it possible to implement proxy (external destination) and no proxy (internal destination)?

That would be pretty cool for link previews (for example).

[2016-03-27 09:25] bott0r commented on #2653
This would also be a solution to have decentralized servers :dancers:

[2016-03-27 13:28] lunitic commented on #2655
Planning to do the same. Did you solved it within rocket chat?

[2016-03-27 15:00] graywolf336 commented on #2655
#2624 is an attempt to get this going.

[2016-03-27 17:36] TheReal1604 commented on #2653
+1 Need this.

[2016-03-27 17:50] lochiiconnectivity commented on #2431
@homberger , Using 0.22.0 but with gateway and don't see the problem.

[2016-03-27 19:17] fearlessinc opened #2658 "change color"
Your Rocket.Chat version: (make sure you are running the latest)

[2016-03-27 19:18] #2658 closed

[2016-03-27 21:51] lochiiconnectivity commented on #2143
+1 also

[2016-03-28 03:42] graywolf336 opened #2659 "Require Password Change Can Be Bypassed"
Your Rocket.Chat version: 0.23.0

Currently if you require a password change for someone, they can simply type the following in their browser's console and skip changing their password: `Meteor.call('clearRequirePasswordChange')`

[2016-03-28 06:15] lamjack opened #2661 "How to made the messages readed on api?"
Your Rocket.Chat version: 0.5

API Version: 0.1

I get the user unread messages list on api, but how to mark then readed? because i implement this function on my website.

Could make it readed using rest api?

[2016-03-28 13:20] #2638 closed

[2016-03-28 13:48] #2605 closed

[2016-03-28 13:53] #2621 closed

[2016-03-28 14:00] #2615 closed

[2016-03-28 14:08] sampaiodiego commented on #2533
@Morgy93 can you please confirm that this is still happening?

I just tried it but I'm not able to reproduce.

Tested on Linux: Chrome 49, desktop app 1.2.0, Firefox 45

[2016-03-28 14:24] engelgabriel commented on #2643
This is fixed on version 0.24.0
Please reopen otherwise

[2016-03-28 14:24] #2643 closed

[2016-03-28 14:26] engelgabriel commented on #2646
This depends on https://github.com/RocketChat/Rocket.Chat/pull/2624

[2016-03-28 14:31] engelgabriel commented on #2661
Hi, due to limited resources, we can only support users that are keeping the server up-to-date. Can you upgrade to the current version?

[2016-03-28 14:37] engelgabriel commented on #2653
We believe this is one of the most important features we need to implement.
This is planned on https://github.com/RocketChat/Rocket.Chat/issues/601

[2016-03-28 14:37] #2653 closed

[2016-03-28 14:38] engelgabriel commented on #2657
I believe this depends on https://github.com/RocketChat/Rocket.Chat/pull/2555

[2016-03-28 14:43] engelgabriel commented on #2650
This should be fixed in the release 0.24.0 shipping today.
Please reopen this issue otherwise.

[2016-03-28 14:43] #2650 closed

[2016-03-28 14:46] engelgabriel commented on #2655
Please try the develop branch when #2624 get merged today.

[2016-03-28 14:57] engelgabriel commented on #2649
Fixed, thanks.

[2016-03-28 14:57] #2649 closed

[2016-03-28 15:24] #2483 closed

[2016-03-28 16:30] TheReal1604 commented on #2636
Change this: docker pull rocketchat/rocket.chat:latest to docker pull rocketchat/rocket.chat:develop

This should pull the latest image from the develop branch.

[2016-03-28 17:23] Molle500 opened #2666 "Add a back button"
If you use the desktop application to use rocket chat and you click on Privacy / Terms of use you have no way of getting out of there. You'll have to leave the server completely. If you do it on the website you can simply just use the backfunction in the browser but not in the desktop.

You should add a "back" button so the user can get back to the login page again.

[2016-03-28 18:15] netdevfighter opened #2667 "Links on the Files List are not signed for S3"
Your Rocket.Chat version: ? Running on your demo chat. ;)

Over the side menu I can not open some attachments.  I get only the loading circle all the time.
![unabletoopenatts](https://cloud.githubusercontent.com/assets/4456399/14085215/e9520b54-f51e-11e5-98a0-dfa5529a4839.png)

Can you check this?

[2016-03-28 18:19] sampaiodiego commented on #2645
@amitmeyraz this field only search for `usernames`..
I just tested with the username `תובתסוד` and it worked.

I'll close this for now. Please reopen it if you still can't find a user by their **username**, ok?

[2016-03-28 18:19] #2645 closed

[2016-03-28 18:27] sampaiodiego commented on #2667
@netdevfighter can you please check your browser console for errors? also, do you got any errors on the network tab? thanks

[2016-03-28 18:32] netdevfighter commented on #2667
Yes, I get HTTP Code 403. I can see more details on the screenshots.

![accessdenied](https://cloud.githubusercontent.com/assets/4456399/14086193/2475ffb0-f524-11e5-9d7b-b789301931df.png)

[2016-03-28 18:39] sampaiodiego commented on #2667
Ok, thank you..

this is related to S3 storage type. links on the file list are not signed (shame on me).

I'll fix this ASAP.

[2016-03-28 18:52] #2635 closed

[2016-03-28 19:09] #2667 closed

[2016-03-28 19:22] sampaiodiego commented on #2510
@himbeere which steps are you doing for upgrade?
what is your nodejs version? `node --version`
`meteor build` will not work on nodejs version above `0.12`

[2016-03-28 20:08] chihoko commented on #1112
This really is a core feature that is enticing our users towards Mattermost, their implementation is excellent.

[2016-03-28 20:15] dmidmi84 commented on #2588
Hello! That will be great if those users "with much more limited permissions" also cannot use autocomplete search in direct messages.

[2016-03-28 20:23] zxweed opened #2669 "Limit the history depth for group of users"
Your Rocket.Chat version: 0.24.0

Hello. It would be great to have a way to limit the history depth (search and scroll) for group of users. For example, provide full history for administrators and moderators and a month ago for a user.

[2016-03-28 20:58] engelgabriel commented on #2669
It would be easier to limit per "days back" than per number os messages.

[2016-03-28 21:00] engelgabriel commented on #117
Reference: http://texturner.com/

[2016-03-28 21:01] sagar-srivastava commented on #933
does anyone have an idea why my audio and video chat buttons are not clickable at all. I tried both windows client and chrome browser on windows 8.1. my server is a newly setup server on docker

[2016-03-28 21:07] engelgabriel commented on #1493
https://github.com/TAPevents/tap-i18n#advanced-i18n

[2016-03-28 21:10] engelgabriel commented on #1493
http://i18next.github.io/i18next/pages/doc_features.html

[2016-03-28 21:37] sagar-srivastava commented on #2249
for me, on my docker install webRTC is not working.

[2016-03-28 21:58] #2486 closed

[2016-03-28 22:07] #335 closed

[2016-03-28 22:07] #1696 closed

[2016-03-28 22:07] #2401 closed

[2016-03-28 22:16] #1194 closed

[2016-03-29 04:16] DreadKnight commented on #1112
There's another free open source chat that I kinda like which does it like Flowdock from what I can tell (never used Flowdock myself, but checked the previous comments), hopefully it will help a bit: http://scrollback.io

[2016-03-29 06:03] dannystyleart opened #2673 "Can't lock to Ubuntu launcher"
Linux client could not be locked to the ubuntu launcher, so after I have closed the app I have to search for it trough the dash, start the app and from panel context menu have to click on show to open the app window.

Environment: Ubuntu 14.04 LTS x64 (Unity DE) with virtual desktops turned on.

Expected:
When app starts, the icon in the launcher should appear and stay untill app closes, but if th

[2016-03-29 06:29] dsdharam91 commented on #1797
i want to implement rocket chat  in  our own website.is there anyone who have used it earlier. i have cloned the rocket chat Repo and installed all packages and it working very well on localhost. But it is working different post and i want to implement this on inner screen. how can i do it .Is t here any API that i can use.i have spent whole day but did'nt get any solution.please help. Thanks

[2016-03-29 07:12] Julime commented on #2589
@sampaiodiego
Things didn't went better i'd say ...
![capturfiles_7](https://cloud.githubusercontent.com/assets/7944656/14100501/3d27c92a-f58e-11e5-875e-8deb5c06df06.jpg)

[2016-03-29 07:22] netdevfighter opened #2674 "Improvements for videoconference/audio calls/desktop sharing"
Your Rocket.Chat version:  0.24.0

I see some problem with this feature:

On Safari 9.1:
I see the buttons for videoconference/audio etc. but I get no feedback after clicking the button. I know the reason is the missing WEBRTC but I think in this case is better to send a feedback message to the user.

General:
- It is not possible to add person in an ongoing video conference.
- Is it possible to h

[2016-03-29 07:28] Morgy93 opened #2675 "Emoji item selection just changes on KeyUp()"
Your Rocket.Chat version: 0.24.0

If you try to select one of the Emoji with the arrow keys, you'll notice that the selection just changes on some KeyUp() event.
Meaning you can't keep the key pressed to cycle through the items.

![emoji](https://cloud.githubusercontent.com/assets/7961978/14100817/720a2cbc-f590-11e5-9fdf-86873bd2c06d.gif)

[2016-03-29 07:45] zb471914758 opened #2676 "Which release version can the outgoing webhook work successful from?"
Your Rocket.Chat version: (make sure you are running the latest)

[2016-03-29 08:08] netdevfighter opened #2677 "[Rocket.Chat+.App] Invalid url"
![rocketchat](https://cloud.githubusercontent.com/assets/4456399/14101600/cd788eae-f595-11e5-958c-a8b3155d79a3.png)

The URL pattern is not correct implemented.

Your Rocket.Chat version: 0.24.0
Client version: latest of Apple store

[2016-03-29 08:28] himbeere commented on #2510
Hi @sampaiodiego

Should be fine:

[code]

[2016-03-29 08:39] netdevfighter opened #2678 "Empty item at chanel member list"
![rocketchatmemberlist](https://cloud.githubusercontent.com/assets/4456399/14102315/1952ce08-f59a-11e5-98dc-460b61401440.png)

There is a blank line at the member list. I don't know what this has triggered. Maybe the deletion of the user rocket.cat?

Your Rocket.Chat version: 0.24.0

[2016-03-29 08:40] anthony-o opened #2679 "Unable to switch to another user when administrating users"
Your Rocket.Chat version: 0.24.0

In https://myrocketchantinstance.mycompany.com/admin/users, when I edit a user, after clicking on "Save", I want to select another user to modify it, and the right panel sticks on the previous selected user, even if I click on "Cancel".

That right panel should display me the user I've just selected.

[2016-03-29 09:09] brylie commented on #933
@sagar-srivastava consider opening a new issue that is specific to your question.

[2016-03-29 09:16] sinteur opened #2680 "integrations broken in latest build"
when I try the curl command listed in the integration screen, I get:  {"status":"error","message":"You must be logged in to do this."}

[2016-03-29 09:28] shahar3012 opened #2681 "Permission per room - Feature suggestion"
Hi Rocket.Chat team,
I found that permissions per room just like slack are missing, because when allow user to add integration to a room they can add it any room and see all the integrations, although they aren't admin and are not in the other rooms.

I noticed that when I tried to add new integration it doesn't have autocomplete of the available rooms (please remember that permissions per room ar

[2016-03-29 10:00] thiesschneider opened #2683 "download status"
I am using the Rocket.Chat.Electron app beside the webclient and would love to have something like a progressbar for the file I download in Electron also.
It would also be nice to open the downloaded file or the folder where the file is stored.

Thanks for this great Chat... you rock!

[2016-03-29 10:41] bott0r commented on #2680
Works for me, however i had the same error when the token for the integration were using special characters. which RC version are you using at the moment ? (check your tokens for anything like % or so)

[2016-03-29 10:44] sinteur commented on #2680
I did a git pull yesterday, so I'm fairly up to date. Token has no % - and since none of them work anymore I suspect that's not it. Here's a sample token: hpiAnf2Twqtnykn2c/12dmjBcJSTgnVAJ4SnjC4EmiRSVSl5Z/fSDfxIZLfOA=

[2016-03-29 11:05] andreas-bulling opened #2684 "Inline link preview not working?"
Your Rocket.Chat version: 0.24.0

Unless there is something that I need to configure in the latest version inline link previews (incl. youtube) don't seem to work anymore.

[2016-03-29 11:07] synotna commented on #2526
Is this similar to but not the same as https://github.com/RocketChat/Rocket.Chat/issues/2195 ?

We just updated to 0.24.0 and the problem is still there

[2016-03-29 11:13] andreas-bulling commented on #2579
The button that you added in the latest version 0.24.0 works but I find it a bit weird that the server still shows the file title as a clickable link (that still doesn't work). I suggest to either remove the href or remove the button and make the title clickable directly.

[2016-03-29 11:35] bott0r commented on #2680
hmm, i just updated 10 seconds ago to the recent dev built and both incoming and outgoing webhooks work.

[2016-03-29 11:36] netdevfighter opened #2685 "Jump to first unread message doesn't work"
![rocketchatfirstunread](https://cloud.githubusercontent.com/assets/4456399/14106535/0b86f386-f5b2-11e5-8fb6-191d65a42318.png)

After clicking on "JUMP TO FIRST unread" is nothing happens ...  No move on the scroll bar. Can you have a look on this?

Your Rocket.Chat version: demo chat

[2016-03-29 11:36] blubbi321 opened #2686 "Image Download in Windows Client broken?"
Hey everybody,

could not find this issue via searching so here we go:

I cannot seem to download images in the windows app by clicking the blue link above the image. The functionality works flawlessly in a browser though.

Rocket.Chat version: 0.22.0

[2016-03-29 11:41] sinteur commented on #2680
just did another git pull, I will update this with the results. It's building now

[2016-03-29 11:42] engelgabriel commented on #2195
Need to double check https://github.com/RocketChat/Rocket.Chat/issues/2526 too, as apparently it was not fixed.

[2016-03-29 11:44] engelgabriel commented on #2510
Please use node v0.10 until Meteor 1.4, that will support later version of NodeJS.

[2016-03-29 11:44] #2510 closed

[2016-03-29 11:50] engelgabriel commented on #2675
Thanks for reporting. PRs are welcome!

[2016-03-29 11:52] bott0r commented on #2680
I just tested a newly created webhook and it worked fine, however i my webhook token only consists out of normal characters  no slashes no =

S8dWiZhztSko4Dot8/XtEb5RDsSdvqDtzWFCzQepqyoHj2ZrxbuEWJHi3qexwzPo9A

[2016-03-29 11:56] engelgabriel commented on #2579
I agree. @rodrigok what do you think?

[2016-03-29 11:57] engelgabriel commented on #2589
Can you clear your cache? Some of your icons are not updated either.

[2016-03-29 11:59] andreas-bulling commented on #2686
maybe related to #2579?

[2016-03-29 12:01] sinteur commented on #2680
It looks like this last git pull fixed it - although all integrations are turned off now. That, however, is something I can fix. I will close this.

[2016-03-29 12:01] #2680 closed

[2016-03-29 12:01] blubbi321 commented on #2686
Sound like it. Sorry, was not looking for mac issues. Will try to upgrade and report back. Thanks for the quick reply!

[2016-03-29 12:20] andreas-bulling commented on #2686
the new version shows a download button next to the title.

[2016-03-29 12:57] Julime commented on #2589
Do you mean client cache? I'm using the MacOS client, but in browser there is even more broken (wrong icons). If there is a server cache: where can i clear it?

[2016-03-29 13:04] corecache commented on #2526
Okay, a few things to note, I tested the auto-joins before the PR and it worked - the code which was implemented came from packages/rocketchat-ldap/server/loginHandler.js - so in theory that one shouldn't work either.

[2016-03-29 13:50] vetash opened #2687 "Emoji as avatar does not show correctly"
![rc_emoji](https://cloud.githubusercontent.com/assets/8321589/14110238/998fdd0c-f600-11e5-937f-36a716850c77.png)

Solution is:
[code]

[2016-03-29 14:02] bott0r commented on #2676
I am running the latest dev built and everything works flawlessly!

[2016-03-29 14:05] giray commented on #2673
Works for me on Ubuntu 15.10 (Unity) and RocketChat+ 1.2.0, though its a bit flaky, have to quit rocketchat then start, and lock to launcher.

If I unlock, I cannot re-lock to launcher without restarting...

[2016-03-29 14:09] engelgabriel commented on #2589
Client cache. Can you clear the cache in your browser and send a new screenshot?

[2016-03-29 14:17] engelgabriel commented on #2526
@rodrigok can you take a look at this?

[2016-03-29 14:19] IQ2022 opened #2688 "UI and Addons"
Given using rocket chat in i-frame is not totally recommended specially if you use SSL and you don have that enabled for your main website, i suggest we make use of the real-estate available - i know this wa mentioned before but here are some more suggestions..
having ability to add icons for site menu, or widgets, or even pod-cast player, youtube channel, this can goes up and down - sounds too dr

[2016-03-29 14:26] Julime commented on #2589
shure
![capturfiles_8](https://cloud.githubusercontent.com/assets/7944656/14111437/ff067262-f5ca-11e5-87a2-7aed1db34940.jpg)

[2016-03-29 14:44] engelgabriel commented on #2688
This is possible and even planned to some extent.

[2016-03-29 14:46] IQ2022 commented on #2688
:+1: :100: ROCKET chat has Rocket team :) very happy to hear that @engelgabriel

[2016-03-29 14:51] engelgabriel commented on #2574
The message input gets the focus when the window get focus.
We will make the message input also get focus when you press any letter and you are not already on another input.

[2016-03-29 14:54] engelgabriel commented on #2673
Hi, can you please open the issue at https://github.com/RocketChat/Rocket.Chat.Electron/issues

Please make sure you are using the version 1.2

[2016-03-29 14:54] #2673 closed

[2016-03-29 14:55] engelgabriel commented on #2676
I dont remember what version it was initially implemented, but please make sure you are using the 0.24.0 as there were many improvements.

[2016-03-29 14:55] #2676 closed

[2016-03-29 14:57] engelgabriel commented on #2686
please upgrade your server to version 0.24.0 and your desktop app to 1.2 and reopen this issue if the problem persists.

[2016-03-29 14:57] #2686 closed

[2016-03-29 14:57] engelgabriel commented on #2685
I had the same problem today.

[2016-03-29 14:59] engelgabriel commented on #2685
Is this happening to anyone else on the @RocketChat/core ?

[2016-03-29 15:01] engelgabriel commented on #2683
Thanks for the kind words! :)

[2016-03-29 15:04] engelgabriel commented on #2687
Thanks @vetash, @sampaiodiego will fix this.

[2016-03-29 15:10] engelgabriel commented on #2677
@netdevfighter are you sure http://srv-rc-test.bs.kae.de.oneandone.net/ is accessible?
The message is not saying that the URL is bad formatted, but it is saying that it didn't find a valid Rocket.Chat instance.

@rodrigok maybe we can make the error message more clear?
"No valid instance found at the url"
"INVALID RESPONCE"

[2016-03-29 15:11] engelgabriel commented on #2678
Does the empty line persist after refresh?
Can you open the console and get a dump of the users list array of the room?

[2016-03-29 15:19] zxweed opened #2689 "Import history from plain text file"
Your Rocket.Chat version: 0.24.0
Is there a way to import history from plain textfile with simple format "date;member;text" ? I can import my history into the mongodb table **rocketchat_message** directly, but I cant regenerate the previews for urls and documents...

[2016-03-29 16:12] Vidhyadharantechdays commented on #2517
I have checked with the other client. it was working fine.

I am currently running in docker? If i want to upgrade to 0.23.0 , what should i run ?

[2016-03-29 16:14] engelgabriel commented on #2684
Lets test after https://github.com/RocketChat/Rocket.Chat/pull/2682 gets merged.

[2016-03-29 16:19] engelgabriel commented on #2674
As part of the https://github.com/RocketChat/Rocket.Chat/issues/933

[2016-03-29 16:21] netdevfighter commented on #2677
That's confused me ...

My input was "https://srv-rc-test.bs.kae.de.oneandone.net" also with https. After the click on the connect button I get the url back without 's'.

Some more detials about this box:
´´´
tlindenmann@bluefire:/opt/rocketchat$ host srv-rc-test.bs.kae.de.oneandone.net
srv-rc-test.bs.kae.de.oneandone.net is an alias for et-0.srv-rc-test.bs.kae.de.oneandone.net.
et-0.srv-rc-test.b

[2016-03-29 16:35] engelgabriel commented on #2633
This will be done on issue https://github.com/RocketChat/Rocket.Chat/issues/2049

But this grouping will be for listing only. We are still deciding if it will be per TAGs or FOLDERS.

[2016-03-29 16:35] #2633 closed

[2016-03-29 16:37] engelgabriel commented on #2677
Is this a private network? I can access from here.

[code]

[2016-03-29 16:40] engelgabriel commented on #2689
It can be done, @geekgonecrazy has created a import framework that you should be able to adapt to use any file format. Do you want to collaborate to create a PR for plain text file?

[2016-03-29 16:40] #2685 closed

[2016-03-29 16:46] netdevfighter commented on #2678
@engelgabriel Yes, the line is persist after refresh, clear the browser cache etc.

Here the users list of the room:
´´´
a["{\"msg\":\"added\",\"collection\":\"rocketchat_room\",\"id\":\"GENERAL\",\"fields\":{\"name\":\"helpdesk\",\"t\":\"c\",\"topic\":\"NWDev\",\"usernames\":[\"jboehler\",\"arunk\",\"hubot\",null,\"tlindenmann\",\"khirschfeld\"]}}"]
´´´

[2016-03-29 16:51] rodrigok commented on #2655
Our develop branch has this option, please reopen this issue if the problem persists.

[2016-03-29 16:51] #2655 closed

[2016-03-29 16:52] geekgonecrazy commented on #2689
@graywolf336 built most of it out with the slack plugin.  :smile:

@zxweed would csv be an acceptable format to use? It's just Comma Separated Values so very similiar to what you describe, and would potentially be more universal.

[2016-03-29 17:09] netdevfighter commented on #2677
@engelgabriel Yes, is a private network (RFC1918).  Is only internal reachable of the company.

[2016-03-29 17:09] fduraibi commented on #2072
I use the RTL interface and I don't see any problem with it, at least nothing obvious.

@hooramin Can you share with us what are the bugs that you see/have?

[2016-03-29 17:12] #2666 closed

[2016-03-29 17:14] engelgabriel commented on #2677
Ok, so I presume you can open the URL https://srv-rc-test.bs.kae.de.oneandone.net in your browsers and use Rocket.Chat with no problems?

[2016-03-29 17:16] rodrigok commented on #2684
Please reopen if the problem persists

[2016-03-29 17:16] #2684 closed

[2016-03-29 17:18] rodrigok commented on #2569
@valessiobrito please reopen this issue if the problem persists

[2016-03-29 17:18] #2569 closed

[2016-03-29 17:21] rodrigok commented on #2526
How can I test CAS?

[2016-03-29 17:26] corecache commented on #2526
By having a CAS instance configured with some non-selfsigned ssl certs

[2016-03-29 17:27] engelgabriel commented on #2526
That was polite way to ask for one to borrow :)

[2016-03-29 17:28] corecache commented on #2526
I don't have one available in public

[2016-03-29 17:32] netdevfighter commented on #2677
Yes, works fine without problems.

![rocketchatrunning](https://cloud.githubusercontent.com/assets/4456399/14117435/f6b712d2-f5e4-11e5-8b2e-2940f4518903.png)

Let me know if you need more information.

For installation I've used the ansible script.

[2016-03-29 17:35] fduraibi opened #2693 "Is it a room or is it a channel?"
I think in Rocket Chat we use three words to mean the same thing Room, Channel and Group.

Group is used with private groups, Channel is used almost everywhere else and Room is used in few locations (like Room Info button on the side bar of the channel)

This is a bit confusing and also more work for translators and I don't see the point of doing it like this.

I suggest renaming them to one unifi

[2016-03-29 17:44] rodrigok commented on #2526
Can you verify if the `user._id` has the correct value when calling the `joinDefaultChannels`?

[2016-03-29 17:45] rodrigok commented on #2526
You can see that in logs if you active the debug level:
[code]

[2016-03-29 17:46] rodrigok commented on #2677
@netdevfighter: Your HTTPS is invalid, if your instance is not reachable via HTTP the app will not connect to your instance.

[2016-03-29 17:46] zxweed commented on #2689
Yes, csv is the acceptable format to use - I can convert my history to it and then import. Generally, I need only "datetime", "member" and "message" fields.

[2016-03-29 17:51] corecache commented on #2526
I'm still on vacavation and will verify this as soon as I'm home again - this will probably in the week of 4th - 8th april.

[2016-03-29 17:54] engelgabriel commented on #2677
The mobile and desktop app to not accept self signed certificates.

[2016-03-29 17:59] engelgabriel commented on #2677
That's why we try to access the URL without SSL after failing on HTTPS.

[2016-03-29 18:03] netdevfighter commented on #2677
Ok, but the error message is in this point incorrect.

Is it not possible to irgnore this maybe with configuration field (checkbox)?
Or can I import the ca-certificates of self signed certificates?

[2016-03-29 18:04] djeber commented on #2693
Direct messages should be private messages

[2016-03-29 18:05] netdevfighter commented on #2677
The app works with http://srv-rc-test.bs.kae.de.oneandone.net:3000

The problem with the other url was the redirect to https from nginx.

[2016-03-29 18:24] geekgonecrazy opened #2694 "Video calls not keeping track of existing members and session"
When you start a group call it frequently has issues establishing connections to the existing guests.

Often prompting existing participants to join a call when a new person tries to join.

[2016-03-29 18:34] saymd commented on #2693
I agree your suggestion.
When I was translating these words,
I was confued by the difference of the channel and public channel, also group and private group too.
In my understanding,
The "channel" is abbivation of the "public channel".
The "group" is abbivation of the "private group".
If it's OK, I would like to suggest renaming these likes below.
Create a new public channel => Create a new channe

[2016-03-29 18:35] geekgonecrazy commented on #2689
@zxweed so this would only be message details?  Would all the users already be created then require a mapping maybe via the UI?

[2016-03-29 18:47] zxweed commented on #2689
@geekgonecrazy, according to my experiments with table **rocketchat_message**, users does not need to be created before import, the link with message uses the username as key, not the userid. So I can import the users after messages.

[2016-03-29 19:01] engelgabriel commented on #505
hi @jeffrapp did you have a chance to test the new feature?

[2016-03-29 19:13] engelgabriel commented on #1664
see https://github.com/RocketChat/Rocket.Chat/issues/1187

[2016-03-29 19:13] engelgabriel commented on #1775
see https://github.com/RocketChat/Rocket.Chat/issues/1187

[2016-03-29 19:17] engelgabriel commented on #36
Hi @jespow have you been following the development of this feature? Do you have any comments on the current implementation?

[2016-03-29 19:27] kenlane33 commented on #251
Geo-location would be a great feature.
It potentially could also be used to help users find each other when they are geographically near each other or near to a geolocated channel. And who doesn't love geo-located channels? ;]
-Ken =]

[2016-03-29 19:46] geekgonecrazy commented on #2689
@zxweed as part of our import framework we actually insert the message so that it'll be fully processed by the stack.  This way things like mentions will be properly associated with users. So as for an import process we'd want to import users and then messages.  This is fairly easy with our import framework.

[2016-03-29 20:19] BrendanBerkley opened #2696 "RocketChat hijacking Firefox shortcut"
Your Rocket.Chat version: 0.22.0

Shift + Ctrl + P is a shortcut I use quite a bit to open a private window in Firefox, but when I try to use it with a Rocket Chat window open, the shortcut gets hijacked in favor of a search feature.

If the thinking was that the Print shortcut isn't needed in Chrome, maybe remap the quick search feature to Ctrl + P for Firefox?

[2016-03-29 20:26] jeffrapp commented on #505
@engelgabriel - sure did.  Updated the server last night, looks good.  Thanks again!

[2016-03-29 20:27] netdevfighter commented on #2677
:+1:  An clear error message would have been desirable. ;)

Keep it up.

[2016-03-29 20:36] engelgabriel commented on #505
@jeffrapp can you release the bounty so I can relocate to other issues?

[2016-03-29 20:38] engelgabriel commented on #2677
Agreed, I have changed the error message. But the browser dont give a error code for invalid SSL certificate, it just return an error :( so there is not much we can work if.

[2016-03-29 20:47] jeffrapp commented on #505
Jeff Rapp
Software Engineering
402.817.4014
jeff.rapp@spreetail.com

From: "Gabriel Engel" <notifications@github.com>
To: "RocketChat/Rocket.Chat" <Rocket.Chat@noreply.github.com>
Cc: "jeff" <jeff@lapkosoft.com>
Sent: Tuesday, March 29, 2016 2:01:51 PM
Subject: Re: [RocketChat/Rocket.Chat] Add reaction support (#505)

hi @jeffrapp did you have a chance to test the new feature?

—
You are receiving

[2016-03-29 20:49] engelgabriel commented on #2694
Related to https://github.com/RocketChat/Rocket.Chat/issues/933

[2016-03-29 20:50] blubbi321 commented on #2686
Upgrade with the additional button solved the issue :)

[2016-03-29 21:09] jeffrapp commented on #505
@engelgabriel Done!

[2016-03-29 21:17] bisaacson commented on #1187
+1, I hate not being able to hide media.

[2016-03-29 21:50] dandv opened #2697 ""Create" vs "Save" button when creating a direct message room"
![image](https://cloud.githubusercontent.com/assets/33569/14124972/8a2d7a2e-f5bd-11e5-9b37-f84af89e0eaf.png)

When creating a room, would "Create" be a more appropriate label than "Save"?

[2016-03-29 21:54] dandv opened #2698 "When creating a DM room, Enter should submit the form"
1. Click the + next to Direct Messages
2. Type some characters and use arrow keys and Enter to select a user from the autocomplete
3. Press Enter again.

Expected result: the room gets created
Actual result: user gets selected again

[2016-03-29 22:00] graywolf336 commented on #2697
Yes I think so, good catch. :+1:

[2016-03-29 22:18] engelgabriel commented on #268
@marceloschmidt and @warcode should we close this now that the OTR is implemented?

[2016-03-30 00:11] dandv opened #2699 "Exception in delivering result of invoking 'loadMissedMessages': TypeError: Cannot read property 'length' of undefined"
v0.21.0

What I've done:

1. Register a new user. I landed on the preferences page
2. From another instance, make that new user Admin

The console displays the error message blow, and clicking on #general doesn't go to the channel. Reloading /channel/general did work.

[code]

[2016-03-30 00:16] engelgabriel commented on #2699
Can you please run the version 0.24.0 ?

[2016-03-30 00:19] dandv opened #2700 "Deleting user doesn't delete messages"
0.21.0, commit hash ...dac592
1. Log in as user X and leave some messages in #general
2. In a different tab, log in as an admin and delete user X. Notice the warning dialog saying that the user's messages will be deleted.

A third user who was watching #general reports that user X's messages are still there. Hard reloading the page no longer shows the deleted user's messages.
When I wanted to join

[2016-03-30 00:42] dandv commented on #946
Isn't this solved? There's a :point_left: icon under the cog in the search panel.

[2016-03-30 00:45] geekgonecrazy commented on #946
Absolutely!  Thanks :grin:

![image](https://cloud.githubusercontent.com/assets/51996/14128447/a8df0086-f5e6-11e5-8c9e-a94c0144f6ea.png)

Snapshot for reference.  @shtefcs closing this.

[2016-03-30 00:45] #946 closed

[2016-03-30 00:46] dandv opened #2701 "Ability to link to individual messages"
Use case: send someone a link to a specific part of the conversation in a given channel

This can almost be done right now via search (see #946), but the URL should be updated with a permalink to the message, probably based on its `_id`.

Another enhancement would be to have a "link" context menu item next to Star and Reactions:

![image](https://cloud.githubusercontent.com/assets/33569/14128494/2

[2016-03-30 00:52] dandv commented on #1871
Another use case: many users are too lazy to setup an avatar.

[2016-03-30 00:54] geekgonecrazy commented on #1871
Related to #1870

[2016-03-30 01:09] engelgabriel commented on #2700
We dont send the "remove" message for each deleted message on this event, as it may be a lot of traffic. We could maybe send the delete user event to all logged users, so they can delete the messaged on the client.

[2016-03-30 01:11] engelgabriel commented on #2700
It would be something similar to the UPDATE AVATAR :)

[2016-03-30 01:27] engelgabriel opened #2702 "Allow web-hooks to choose other content-types than JSON"
This is to be Slack compatible:

https://api.slack.com/slash-commands

[2016-03-30 04:57] zxweed commented on #2689
ok, @geekgonecrazy, how can I use this import framework?

[2016-03-30 05:42] andreas-bulling commented on #2701
+1

[2016-03-30 05:45] andreas-bulling commented on #2700
I am not sure I understand the logic behind this - why delete all messages of a deleted user at all/by default? Couldn't it be that some messages the user posted are still of value to others even if the user himself is not active any more? I would at least leave the decision to also delete all messages to the admin so he can do this on a case-by-case basis.

[2016-03-30 07:11] royalaid commented on #2701
Just context Slack implaments this by a link that can be copied by right-clicking the timestamp of a message

[2016-03-30 07:33] dytec commented on #2700
@andreas-bulling +1

[2016-03-30 08:08] zb471914758 opened #2704 "The latest version can't find rocketchat:ldapjs package, so start up failed, when I execute "npm install ldapjs", the error occured agian, do you know why?"
=> Errors prevented startup:

   While selecting package versions:
   error: Package version not in catalog: rocketchat:ldapjs 1.0.0

   While refreshing package catalog to resolve previous errors:
   error: Network error: wss://packages.meteor.com/websocket: UNABLE_TO_VERIFY_LEAF_SIGNATURE

[2016-03-30 11:31] marceloschmidt commented on #268
@engelgabriel this has been implemented, it's just not active in our Demo... I think it's OK to close this issue, but let's write a doc explaining how to use this sharedencryption plugin.

[2016-03-30 11:31] #268 closed

[2016-03-30 11:41] Julime commented on #2589
@engelgabriel can you please re-open this bug?

[2016-03-30 11:49] Julime commented on #2589
Okay, i fixed it: a few weeks ago i tried to include a css file (@import) in administration/layout, but it didn't work. Until the next restart (8 days ago) there was no problem with it.

[2016-03-30 12:10] #2659 closed

[2016-03-30 12:25] jasperla opened #2705 "API for sending messages to users?"
Is it planned to integrate into the API a way to send direct messages to users?
E.g. for setups where public rooms are not an option and instead private groups are used, status bots' only method for communication with certain users would be through direct messages.

[2016-03-30 12:28] engelgabriel commented on #2700
In that case you should not DELETE the user, but just deactivate instead. If you REALLY want to delete the user record, we have to delete related references to keep DB integrity.

[2016-03-30 12:39] andreas-bulling commented on #2700
@engelgabriel that makes sense. What does DEACTIVATE involve - the user is not able to login anymore etc?

[2016-03-30 12:40] engelgabriel commented on #2700
Yes, the user looses access completely.

[2016-03-30 12:42] vetash commented on #2705
Use @user instead #chanel
```curl -X POST --data-urlencode "payload={\"channel\": \"@admin\", \"username\": \"Asterisk*\", \"text\": \"test\", \"icon_emoji\": \":asterisk:\"}" $webhooklink```

[2016-03-30 12:44] andreas-bulling commented on #505
It would be nice if the reaction smiley wouldn't show all icons but only the most relevant ones - similar to github where it only shows six different ones

[2016-03-30 12:48] vetash opened #2706 "Webhook page does not contain script"
![webhook_page](https://cloud.githubusercontent.com/assets/8321589/14142506/2351f096-f6c1-11e5-8f39-4b4c1b29a043.png)

Rocket.Chat version: (0.24)

[2016-03-30 12:57] engelgabriel commented on #2706
The script is optional. See https://github.com/RocketChat/Rocket.Chat/wiki/WebHook-Scripting

[2016-03-30 12:57] #2706 closed

[2016-03-30 12:58] vetash opened #2707 "Mute channel function"
If there'll function "mute channel" like in slack it will be great. )

[2016-03-30 12:59] engelgabriel commented on #2704
Are you building from source or have you downloaded the tar file?

[2016-03-30 13:02] vetash commented on #2706
Oh, i thought is curl example, sorry. :smile:

[2016-03-30 14:27] jasperla commented on #2705
But that would only work if I setup a webhook for every receiving user (adding multiple users to the "Post to Channel" field gives an error), and keep track of the unique webhook URLs that would thus be produced.

[2016-03-30 14:29] vetash commented on #2705
No, just change @admin to @another user.

[2016-03-30 14:34] jasperla commented on #2705
That works perfectly fine. Thanks!

[2016-03-30 14:34] #2705 closed

[2016-03-30 14:59] shahar3012 commented on #2681
@engelgabriel this issue is related to @galstar tweet yesterday.

[2016-03-30 16:02] IQ2022 commented on #988
:+1: just refreshing.. ;) this came back up.. the ignore button good to have .. IRC have this feature.

[2016-03-30 16:38] saymd opened #2708 "Deleting user doesn't delete avatar"
Your Rocket.Chat version: 0.24
Steps to reproduce:
1. Log in as a user-A and go to My Account -> Change avatar
2. Upload an avatar from computer, and log out
3. Log in as admin and go to Administration -> User
4. Delete user-A
5. Add new user which username is same as user-A by admin or registration request.
6. Log in as a user-A

[2016-03-30 16:53] saymd opened #2709 "Blank user managing panel is shown"
Your Rocket.Chat version: 0.24
Steps to reproduce:
1. Log in as admin and go to Administration -> User
2. Click "Add User" in right sidebar
3. Click "CANCEL" button in "Add User" panel.
![20160331_020000](https://cloud.githubusercontent.com/assets/1680266/14150622/e48666d4-f6e4-11e5-9b29-7a2443153904.png)

if "DELETE" button is clicked in the above blank panel,
last selected user in center "Users"

[2016-03-30 17:00] mimiflynn commented on #2613
@flantascience This is happening on my server as well when users sign up. It seems to freeze and the server restarts. They can log in but do not get an email. The email SMTP is set up correctly from what I can tell.

[2016-03-30 17:15] brakhane commented on #1187
I actually started on this one a few weeks ago but forgot to finish it. I'll see if I can finish it.

[2016-03-30 17:27] royalaid commented on #505
@andreas-bulling you can kind of work around this with most recently used section of the emoji but having the option to set a custom selection would be awesome

[2016-03-30 17:54] engelgabriel commented on #2305
@pcarn can you check this with the latest version: 0.24.0 ?

[2016-03-30 20:21] jspeigner commented on #2648
What about Google Cloud Storage support since slingshot has support for it already? Cost is lower than AWS S3 at this time.

[2016-03-30 20:23] jspeigner commented on #2196
Yes this would be great to configure per channel

[2016-03-30 21:28] dandv commented on #795
Perhaps a more stringent use case than space limitations, is message retention policy from legal departments. In some large companies, chat messages must not be stored beyond X days, to limit the risk of exposure in case of subpoenas/legal discovery processes.

[2016-03-30 21:42] shtefcs commented on #946
It was actually two issues, but both are done.

Tnx

[2016-03-30 21:50] bott0r commented on #2677
I had a similar problem, for me i have two domains DomainA.com hosts the RC instance and DomainB.com justs forwards to DomainA.com.

What works is, i have to directly input DomainA.com into the app in order to connect via the app. If i input DomainB.com it doesnt work. Of course both domains work in a regular browser.

[2016-03-30 22:34] richardwlu opened #2712 "Logo on bottom left hand corner is missing icons"
Your Rocket.Chat version: 0.24

The Rocket.Chat logo on the bottom left hand corner of the UI on each platform is missing the Made with <3 on Github (or something like that)

<img width="256" alt="screen shot 2016-03-30 at 5 29 42 pm" src="https://cloud.githubusercontent.com/assets/8405384/14159756/55fd3e84-f69d-11e5-8130-43cbe746a418.png">

[2016-03-30 23:34] anthony-o commented on #2526
To launch a local CAS server, you can use [this project](https://github.com/iorga-group/docker-cas-test):

[code]
(don't forget to associate `sso.mycompany.com` with your localhost)

[2016-03-31 01:35] zb471914758 commented on #2704
@engelgabriel, I build from source, but it can't be download automatically

[2016-03-31 03:08] Buzzele opened #2713 "How can I access to database?"
Hi,

I have deployed Rocket.Chat with help of the tutorial at DigitalOcean. Now I want to get access to database because I want to try making backups. If I am in the Rocket.Chat directory and type in "mongo" then its connectint to "test". Where is my mistake. Is there a docu online?

Best Regards

[2016-03-31 03:23] IQ2022 commented on #2436
@engelgabriel
In addition to download user list (user name/email)
Personally i think a must have there should be an option to backup entire DB from within the Rocket.Chat Admin area, and ability to build a new instant from a backup or revert to  previous issue..

[2016-03-31 03:37] IQ2022 commented on #2712
actually can we make it more user friendly in the way to customize this part? i.e ability to add menu buttons etc.

[2016-03-31 07:41] kramer65 commented on #2636
Awesome, it works now!
From today I'm going to test this within our organisation with 2 other people. If that goes well, next week we're gonna ditch slack and use rocketchat with our whole organisation (about 20 people).

One more question: what turned out to be the problem?

[2016-03-31 07:46] Floyd25 commented on #1615
+1

[2016-03-31 07:48] Sing-Li commented on #2636
A bug introduced by recent code changes that messed caused old ROOT_URL value to be used.  Now fixed.

[2016-03-31 07:48] #2636 closed

[2016-03-31 07:50] Sing-Li commented on #2713
Definitely become familiar with MongoDB administration in general, especially `mongodump`, if you are running Rocket.Chat in production:

https://docs.mongodb.org/v3.0/tutorial/backup-and-restore-tools/

[2016-03-31 08:38] silentwarrior commented on #1553
Id be extremely happy if it works exactly like Slack, if you can make it even better, great!

IMHO. Integration with pastebin might not be the best option however. Having it save locally to the rocket chat instance by default and then have an integration option to "Export" it as a pastebin would actually be the best option here.

[2016-03-31 09:02] zb471914758 opened #2714 "In dev mode, using meteor - help on removing a package I installed"
version: 0.24.0

I have downloaded the package: mdg:validation-error@0.5.1,
And even if I delete the mdg:validation-error@0.5.1 in the file .meteor/versions, the error occurs still:

[code]

can I get some help, or would you offer the package please ? Thanks!

[2016-03-31 10:39] kramer65 opened #2715 "Image upload doesn't work."
Your Rocket.Chat version: (make sure you are running the latest)

I'm running the latest development version of Rocket.Chat (pulled from `rocketchat/rocket.chat:develop`) and I'm having trouble with image uploads. When I upload an image it looks like it finished successfully. I first see a correct preview:
![schermafbeelding 2016-03-31 om 12 24 44](https://cloud.githubusercontent.com/assets/596581

[2016-03-31 11:11] andreas-bulling commented on #2715
check the console output when running Rocket.Chat. Could be a permission problem

[2016-03-31 11:32] nishimaki10 opened #2716 "The default value for the e-mail verification in login form"
Your Rocket.Chat version: 0.24.0

I set Email Verification to True.
A user update email and logout without verification. The next time the user try to login, I want so that the user can get a default value in verification form.
And I want to update user data if modified in this form, because can not login if updated to invalid email.

[2016-03-31 11:33] kramer65 commented on #2715
Hmmm, and now it suddenly works. No idea why..

But thanks for your suggestion!

[2016-03-31 11:33] #2715 closed

[2016-03-31 12:10] cbajohr opened #2717 "Create webhook/integrations with rest api"
Is it or will it be possible to create/edit/remove integrations and rooms via API?
It would save a lot of time if you could create (private) rooms and automatically create a new webhook for it, with a defined script.

Your Rocket.Chat version: 0.24.0

[2016-03-31 12:40] marceloschmidt commented on #2360
I think that, if I type a word that is set to be highlighted, it should be highlighted. It shouldn't fire an alert, though. @geekgonecrazy can you test this with current code in `develop`  and see if it's still happening to you? Thanks.

[2016-03-31 13:02] andreas-bulling opened #2718 "Image upload doesn't work"
Your Rocket.Chat version: 0.24.0

I am experiencing a problem with uploading images (see #2715): The loading bar goes up to 50%, then suddenly drops back to 0% and nothing happens, both using GridFS and Filesystem.

Exception while invoking method 'ufsComplete' TypeError: Cannot call method 'pipe' of undefined at gm.identify (server/config/configFileUploadFileSystem.js:28:20) at gm.emit (events.js

[2016-03-31 15:08] marceloschmidt commented on #2508
Importing from services like Linkedin, Google Contacts, Facebook, etc. would be good.

[2016-03-31 15:13] marceloschmidt commented on #25
@geekgonecrazy has created an integration webhook with Giphy

[2016-03-31 15:25] engelgabriel commented on #25
@marceloschmidt Can you add the link here for the script while we dont get the app catalogue?

[2016-03-31 15:26] manuelbachl commented on #25
geekgonecrazy did, too? So now we've got 2 integrations?

[2016-03-31 15:26] engelgabriel commented on #25
actually... @geekgonecrazy installed yours, @manuelbachl :)

[2016-03-31 15:27] engelgabriel commented on #25
Once we get the catalogue up, @manuelbachl will be able to publish there.

[2016-03-31 15:28] manuelbachl commented on #25
in the meantime just look at the wiki - under Technical Guides - Webhooks, there It's listed
https://github.com/RocketChat/Rocket.Chat/wiki/WebHook-Scripting---Gif

[2016-03-31 15:39] #25 closed

[2016-03-31 15:43] gafish04 opened #2722 "Feature request - More search options"
Hi,

We have install Rocket.Chat few days ago, very good job !
We have some needs, and Rocket.Chat covers most of them very well.
The only thing we haven't found yet it's some more advanced search options :
- in a channel, search for post for a particular user (maybe with a keyword in the search, like "from: @user "
- in a channel, search on document name

Is these features are planned ?

Best reg

[2016-03-31 15:56] marceloschmidt commented on #25
You rock, @manuelbachl thanks for that

[2016-03-31 16:15] gcassel commented on #2196
Yes, I think this would be a great feature, as long as groups have the option to *not* self-destruct files.   I agree strongly with your suggestion @Sing-Li :

*a per-file property

[2016-03-31 17:12] #2565 closed

[2016-03-31 17:25] dandv opened #2723 "Create skeleton manifest.json"
When loading https://demo.rocket.chat/channel/general, Chrome attempts to fetch manifest.json:

![image](https://cloud.githubusercontent.com/assets/33569/14184538/78ed6f26-f72a-11e5-9f32-b41ac0366bca.png)

It would also help the [PWA effort](https://github.com/RocketChat/Rocket.Chat/issues/271#issuecomment-193459286) to have a valid skeleton manifest.json.

Generators:
* https://github.com/hemanth

[2016-03-31 18:41] engelgabriel commented on #2723
We already have:

https://github.com/RocketChat/Rocket.Chat/blob/develop/public/images/logo/manifest.json

Should we move it to a route like `/manifest.json`

[2016-03-31 18:42] engelgabriel commented on #2723
We also have the TAG on the
[code]

[2016-03-31 20:10] JakeDEvans opened #2725 "Can I use a script to use slack webhooks with rocketchat?"
Is there a script to take webhooks written for slack (like the one for graylog) and allow them to be used with rocketchat?

out of box doesn't send the message contents.  (body  missing, but title and icon show up correctly)

Your Rocket.Chat version: 0.24.0

[2016-03-31 20:27] matrunchyk commented on #1963
Same issue for me. How to workaround that?

[2016-03-31 20:27] matrunchyk commented on #1963
I'm using 0.24.0

[2016-03-31 20:45] bgomelsky commented on #2722
There are a couple of existing channel search options **from:**_username_ and **mention:**_username_  (no spaces between **:** and username)

[2016-03-31 20:49] netdevfighter opened #2726 "Setting for statictics reports"
Your Rocket.Chat version:  0.24.0

This is the default of:
"Don't send my statistics to Rocket.Chat" => false

1.) This sentence confuse me. Could you take out the negation, please?
2.) The setting should not be enabled after installation. This is a bad behavior... :-1:

[2016-03-31 21:00] #2709 closed

[2016-03-31 21:38] engelgabriel commented on #2725
They are design to work out of the box, all that we tested do. Can you see any error on the logs?

[2016-03-31 21:46] sampaiodiego opened #2727 "Standardize how error messages are sent from the server"
Today error messages thrown from the server are not standardized. For example:

* with the [error message translated](https://github.com/RocketChat/Rocket.Chat/blob/6157e7763cb7fb3c0b068c9f67d1144383abda49/server/lib/accounts.coffee#L104)
* with a `[method]` [prefix of an untraslated message](https://github.com/RocketChat/Rocket.Chat/blob/088ac81d10eb93f7babe3385ab00655391b1cf7a/packages/rocketcha

[2016-03-31 21:46] lunitic commented on #2560
I would say close this ticket.. the option "Allow User Profile Change" already exists .

Haven't notice it .

[2016-03-31 21:46] #2560 closed

[2016-03-31 21:56] JakeDEvans commented on #2725
I'm not sure if it's related, but there are a lot of lines with this in the log:

`
I20160331-16:15:48.996(-4) Exception from sub filteredUsers id NmzMFFXMPfSNXy4pq SyntaxError: Invalid regular expression: /all)/: Unmatched ')'     at new RegExp (<anonymous>)     at [object Object].<anonymous> (server/publications/filteredUsers.coffee:8:12)     at [object Object].<anonymous> (server/lib/debug.js:4

[2016-03-31 21:59] engelgabriel commented on #2725
Can you change the log level to DEBUG on the admin panel?
And can you check if the happen when the web hook is called?
What integration are you trying to use so I can test here?

[2016-03-31 22:00] JakeDEvans commented on #2725
Sure can,
https://github.com/Graylog2/graylog-plugin-slack

[2016-03-31 22:04] JakeDEvans commented on #2725
We used ansible to deploy, do you know where those logs are written to file?

[2016-03-31 22:14] JakeDEvans commented on #2725
Here you go:

[code]

[2016-03-31 22:44] engelgabriel commented on #2727
I agree, just thing that erro codes code start with "error-" so they will be grouped on the i18n.json files.
Does this applies only to erros or to all messages returned to method calls?

[2016-03-31 22:49] engelgabriel commented on #2725
The
[code]
looks odd. Did you create this content?

[2016-03-31 22:54] sampaiodiego commented on #2727
To any exception thrown with Meteor.Error

[2016-03-31 22:55] JakeDEvans commented on #2725
yes and no, I generated the log entry but the plugin created the notification,

Plugins settings:
[code]

[2016-04-01 00:03] flantascience commented on #2613
Wonder if this will be better w/ Meteor 1.3
Not sure if it's related issue at all

[2016-04-01 00:07] mrplow commented on #2291
Fixed in
@e4f68c3

[2016-04-01 00:07] #2291 closed

[2016-04-01 01:35] vikaskedia opened #2728 "Subsequent versions of rocketchat are regressing on snappiness"
Your Rocket.Chat version: .24

Hats off to a great piece of engineering,

At our organization:
1. The users love the features of rocketchat
2. The management loves the privacy/owning its own data

BUT,
I am getting pushback from users that rocketchat is not as snappy to use as slack.

I have done the following settings to pare rocket chat down:
1. Administration -> Messages -> Embeds -> False
2. A

[2016-04-01 02:29] geekgonecrazy commented on #2728
@vikaskedia first off glad to hear that your users love our features :+1:

Regarding speed.  What kind of user load are you running?  Also Rocket.Chat being based on Meteor and Node.js is single threaded so its only making use of a single Thread.

Are you running just one instance of Rocket.Chat on your server?  On our demo server we have 4 cores and have 4 instances of Rocket.Chat running.

If yo

[2016-04-01 03:27] jkdale opened #2729 "Issue upgrading from 23 to 24"
Your Rocket.Chat version: upgrading from v23 to v24

I was upgrading from a new install of v23 to v24 and I am seeing an issue upgrading.

After starting the new version, I see these in the log:

[code]

The server is up and running though. If I look in mongo, I see:

[code]

Then I kill RocketChat and try to start it again and I am plagued with:

Not migrating, control is locked. Attempt 3/30. Tr

[2016-04-01 04:38] Sing-Li commented on #271
And the saga begins.  Thanks, @danv!

@tvld and gang, please stay tuned for  ....

https://github.com/RocketChat/PWAClient

[2016-04-01 05:14] mrplow opened #2730 "Downloading protected uploads should login if not authenticated"
Your Rocket.Chat version: 0.24 develop

Using the mobile android app.
When Protect uploaded files is enabled when you go to download a file it opens a web page in a browser authenticating the user. If your not logged in you receive a 403 error.

Even though my credentials are stored in a cookie I still recieved the 403 error. After going to my main rocketchat site in the browser (logged in automat

[2016-04-01 05:19] geekgonecrazy commented on #2730
maybe it should open with a token so that we know your authenticated, instead of having to have you log in?

[2016-04-01 05:43] mrplow commented on #2730
Looks like it does contain a token, but I'm not skilled enough to know what it's doing on the backend.

https://chat.myserver/file-upload/M2G9zrWc582mcyk7P/snapseed-01.jpeg?rc_uid=WWxDgp7dJo5whppm8&rc_token=aNDjP5J0qUjye6zlRLE0NvxLPZH9Zz0VK368jkpXQ9_

[2016-04-01 06:11] hkuich commented on #1615
+1

[2016-04-01 06:12] lunitic commented on #2728
Please if possible keep the discussions here, causes I think it would be valueable information for others...

[2016-04-01 07:23] kjcsb1 commented on #1118
From what I understand Slack is using Janus. Looking forward to the Rocket.Chat implementation.

[2016-04-01 07:58] Buzzele commented on #2713
Thanks alot

[2016-04-01 07:59] #2713 closed

[2016-04-01 09:02] gafish04 commented on #2722
Thank you.
It works with from:user, without spaces (when I've tried, it was with spaces).

[2016-04-01 09:07] pierreozoux opened #2731 "Loading mixed (insecure) display content"
Your Rocket.Chat version: 0.22.0

Let's say I run Rocket.Chat behind https, and I share a link to a resource that is served under http.
Rocket.Chat will embed a remote picture.

And the browser will complain!

Here an example with firefox:
[code]

The solution is to cache locally the embeded media.
Here is how github is solving the issue for instance. (From your README.md)
[code]

They use a proxy

[2016-04-01 09:50] JelX7ouss opened #2732 "Require JSON file"
Hi, I am trying to build a slach-command for fun, so I am having a problem when loading JSON data from another file.

I know I am still a beginner with the Meteor app structure and Meteor globally, I am doing AJAX calls because, `require('fs').readFile()` didn't work with an `Error: ENOENT` :( so to load JSON with AJAX you can use as far as I know two solutions, either HTTP.get() or $.getJSON jQue

[2016-04-01 11:37] tvld commented on #271
Wow... you are rocking there.... :+1:

Long README, excellent... but would be great to write a bit of an introduction. Where does this stand compared to the default Client? REplacement, addition? Strategic direction?

Also, if we like our own interface / theme, could be use this as boiler plate?

Again.. great to see this speed :)

[2016-04-01 11:43] Sing-Li commented on #271
A lot more information to come.   Please bear with us while we build out the site and community.

Basically, there is no major barrier of entry with Web Components and PWA.  No need to be a node.js guru or Meteor genius.   If you do HTML, CSS, and a little JavaScript - you can contribute to the project and/or customize it !  :)

[2016-04-01 13:17] marceloschmidt commented on #2727
I agree we start using "error-..." on error codes, eg. error-invalid-room. Error message should be english and without any reference to the method being called. So, instead of "[method] archiveRoom -> Invalid Room.", we should use "Invalid Room.".

[2016-04-01 14:47] JelX7ouss commented on #2732
`JSON.parse(Assets.getText('file_path.json'))` Worked! however don't forget to add `api.addAssets('filepath.json', server_or_client, {isAsset: true});` in package.js

[2016-04-01 15:34] IQ2022 opened #2734 "User Status change"
It would a be a cool idea to have more settings for the status change, like you can leave a message on your status on top saying away from desk or at work etc, or even don't disturb, with possible custom messages. - Message should clear once you are back

[2016-04-01 15:36] IQ2022 opened #2735 "User LOGIN to Rocket Chat from Word press Website"
How would we enable single login from wordpress site, without getting prompted to login again into Rocket Chat  and what if we use SSO to login to a website, do we have to login again or sign up with rocket chat?

[2016-04-01 15:40] IQ2022 opened #2736 "backup DB Chat from ADMIN and App Upgrade"
I dont know what issue is open (I Probably posted this as a comment somewhere) I am opening a new issue anyways :) cause i think its really important to backing-up the entire DB from the ADMIN without going into CLI, also ability to upload the setting and DB from local file on your PC via the admin page..

also another cool feature is to do the Rocket.Chat updates from the App itself and rolling b

[2016-04-01 15:46] felixtosh commented on #712
Hi Guys,

keep up the awesome work :)
If you ever plan on supporting internal search as well, a look at our indexapi.com page might be interesting. We are going to open source many of our search index integrations in the future and having a standardised logic would benefit everyone.

Cheers,

- Felix from [Grape](https://chatgrape.com)

[2016-04-01 16:39] richardwlu opened #2737 "Limit Number of Failed Login Attempts"
Your Rocket.Chat version: 0.24

Is there a way to limit the number of failed login attempts for a user account? How much security can be put into place from this end?

This should be helpful for those of us who run an instance that is available on the public internet.

[2016-04-01 18:36] engelgabriel commented on #2736
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/758

[2016-04-01 18:36] #2736 closed

[2016-04-01 18:39] engelgabriel commented on #2728
@vikaskedia you really need to run multiple process, 1 per core is ideal when you have 100s of users.

[2016-04-01 18:44] engelgabriel commented on #2729
Why do you kill RocketChat if it is up and running?

[2016-04-01 18:46] jkdale commented on #2729
Normally I run RocketChat as a system service, in this case I was just running it through "node main.js".

[2016-04-01 18:49] engelgabriel commented on #2729
Looks like you are running it multiple times?

[2016-04-01 18:50] #2732 closed

[2016-04-01 18:52] engelgabriel commented on #2734
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/2422

[2016-04-01 18:52] #2734 closed

[2016-04-01 18:57] engelgabriel commented on #2729
have  you ever delete the general room and recreated after?

[2016-04-01 19:00] jkdale commented on #2729
I ran the upgrade with node main.js (as I like to see the output directly). Then I killed the app in the console. After I saw my web client fail to connect, I tried to start the service.

I have not ever deleted General either. We actually just started in the last week with RocketChat and were trying it out on v23.

[2016-04-01 19:06] rodrigok commented on #2729
@jkdale Can you see if there is a room with `name: 'general'` in your mongodb? If yes, can you paste the room record here?

[2016-04-01 19:16] jkdale commented on #2729
db.rocketchat_room.find({"name":"general"}).pretty()
{
	"_id" : "LpAJSiKTPLSNxPPDp",
	"name" : "general",
	"t" : "c",
	"usernames" : [
		"jack_d",
		"matt_l"
	],
	"msgs" : 225,
	"u" : {
		"_id" : "ee5T8nFSKHzmHRAJa",
		"username" : "matt_l"
	},
	"ts" : ISODate("2016-03-26T03:11:37.074Z"),
	"lm" : ISODate("2016-04-01T19:10:37.445Z"),
	"default" : true
}

[2016-04-01 19:20] engelgabriel commented on #2729
you will have to rename this room and restart the server for the original general room to be recreated.

[2016-04-01 19:20] #2729 closed

[2016-04-01 19:37] engelgabriel commented on #2731
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/971

[2016-04-01 19:37] #2731 closed

[2016-04-01 19:40] engelgabriel commented on #2737
I believe there is already. 5 per second, but we can change it.

[2016-04-01 19:47] engelgabriel commented on #2735
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/322

[2016-04-01 19:47] #2735 closed

[2016-04-01 20:03] engelgabriel commented on #2722
awesome

[2016-04-01 20:03] #2722 closed

[2016-04-01 20:03] richardwlu commented on #2737
That sounds good. Is there a way to also block based on IP?

[2016-04-01 21:04] leandroqm opened #2739 "Can't send audio messages or videochat while on chrome or chromium (Tested on Linux and Windows)"
Your Rocket.Chat version: 0.24.0

Can't initiate or receive audio messages and videochat while using chrome or chromium.
It works on Firefox, either on Linux or on Windows desktops, but won't work with Chrome or Chromium on those.
If I send an audio message from firefox, the user on Chrome/Chromium can listen to it, but he can't record, no matter what OS is used.

Deployment was done through this

[2016-04-01 21:07] richardwlu commented on #2737
I forgot to mention, does it still apply for LDAP users?

[2016-04-01 21:24] engelgabriel commented on #2727
If we can pass more debug information as a 3rd parameter, I agree in removing the "[method] name ->" from the API messages.

[2016-04-01 21:24] engelgabriel commented on #2737
Applies to all method calls, so it still apply for LDAP users.

[2016-04-01 21:33] richardwlu commented on #2737
And if there is a way to set how many attempts for how long til we lock it and possibly get a notification, that would be ideal.

[2016-04-02 07:01] sethfork opened #2740 "Channel navigation is confusing"
### Usability Feedback for More Channels view:

**Context:**
I’ve visited the [Startup Study Group Chat](https://ssg.rocket.chat/) around 3-5 times since the initial creation of my account a few weeks ago. Until today, I was a member of just two channels. It wasn’t that I was uninterested in joining the other channels; **it’s just that I actually had no idea that they existed**.

While I’ll admit

[2016-04-02 07:32] lunitic commented on #2206
This can now be archived by custom.css

[2016-04-02 07:32] #2206 closed

[2016-04-02 07:38] lunitic commented on #2728
@engelgabriel does it exist any doc/tutorial regarding scaling?

[2016-04-02 10:10] zxweed opened #2741 "Make previews for PDF files"
Your Rocket.Chat version: 0.24.0
It would be great to make previews for first page of PDF-book, attached or linked to the chat.

[2016-04-02 11:09] Bitti09 commented on #2741
:+1:

[2016-04-02 11:35] zxweed opened #2742 "Search by username"
Your Rocket.Chat version: 0.24.0
It would be great to search not only by message text, but by usernames too (case insensitive, of course.)

[2016-04-02 11:38] nishimaki10 commented on #2741
:+1:

[2016-04-02 11:50] lvh1 commented on #2742
Might as well go all-out with it, like this:
![](https://i.imgur.com/YgBbkPL.png)
But that would require quite some work/testing :p

[2016-04-02 14:59] rebeld commented on #2728
+1

I'd love to see the demo deployment details as a case study. There are lots of vanilla meteor scaled deployment posts out there (nginx -> HAProxy, etc) but it would be nice to know how you chose to do it for RC.

[2016-04-02 15:05] mhisoft commented on #1209
it is a must have.

[2016-04-02 16:35] zxweed opened #2743 "loadSurroundingMessages' TypeError: Cannot set property"
Your Rocket.Chat version: 0.24.0

While trying to goto to the found message (via search) with loading data the error happening:

[2016-04-02 17:44] zxweed opened #2744 "Enabling "Force SSL" + nginx reverse proxy makes the cyclic forwarding error"
Your Rocket.Chat version: 0.24.0
After enabling "Force SSL" I cannot login to the chat. How can I disable this setting in database or config file? I have not found this settings in the **rocketchat_settings** collection

![image](https://cloud.githubusercontent.com/assets/16319433/14228068/c8eb99d6-f913-11e5-9f6c-1d78256bf30b.png)

[2016-04-02 21:05] stunder opened #2746 "Messing up the amazon S3 Configuration leads to (admin/general) lockout"
I updated the FileUpload Max size from 2097152 to 20097152 then I enabled Amazon S3 storage and saved my information.  After this the frontend began "retrying connection"  I eventually accessed the default root of the serer and now I am getting 503 errors.   Is there a way to change the FileUpload settings back to default?  I can see the changes in the DB but the service will not start.

[2016-04-02 21:06] mrplow commented on #2730
Fixed in @0828804

[2016-04-02 21:06] #2730 closed

[2016-04-02 23:12] jkdale commented on #2729
I still have issues after doing this. I cannot get the application to start smoothly after migrating.

It just sits in a long repeating cycle doing these:
Not migrating, control is locked. Attempt 3/30. Trying again in 10 seconds.
Not migrating, control is locked. Attempt 4/30. Trying again in 10 seconds.
Not migrating, control is locked. Attempt 5/30. Trying again in 10 seconds.
Not migrating, co

[2016-04-03 09:13] corecache commented on #2744
This might have something to do with what env variables are beeing passed down from nginx site config towards RocketChat. What is your nginx site/upstream configuration?

[2016-04-03 09:14] corecache commented on #2726
+1

[2016-04-03 09:28] zxweed commented on #2744
I have used official manual to deploy the configuration - https://www.digitalocean.com/community/tutorials/how-to-install-configure-and-deploy-rocket-chat-on-ubuntu-14-04,

but I make 80 the default port for chat :

[code]

[2016-04-03 09:51] zxweed commented on #2744
PS: I have temporary changed the port of chat to 3000 (+backend and proxy_pass parameters) with the same results - ERR_TOO_MANY_REDIRECTS

[2016-04-03 10:02] k0nsl commented on #2744
@zxweed: what happens if you set the set IP in `proxy_pass`?

[2016-04-03 10:14] zxweed commented on #2744
@k0nsl, thank you, I have put the IP-address in the line
**proxy_pass http://127.0.0.1**
and the problem was solved.

Can you request the manual (https://github.com/RocketChat/Rocket.Chat/wiki/Run-Rocket.Chat-behind-a-SSL-Reverse-Proxy) change? There are provided the sample with **hostname**, not the digital IP-address:

location / {
        proxy_pass http://your_hostname.com:3000/;

[2016-04-03 10:33] zxweed commented on #2744
And the last question is - how can I disable the "Force SSL" setting in database without the drop of it...

[2016-04-03 10:57] thiemol opened #2747 "Overflow mongodb getStatistics"
Your Rocket.Chat version: 0.24

i get in the info panel an internal error. The log says:
Exception while invoking method 'getStatistics' MongoError: Plan executor error during find: Overflow sort stage buffered data usage of 33554604 bytes exceeds internal limit of 33554432 bytes

Is there a missing index by sorting? (http://askubuntu.com/questions/501937/how-to-increase-buffered-data-limit)

[2016-04-03 16:36] ragesoss commented on #216
I came looking for the same thing as @pierreozoux: instructions on how to enable this. The readme for the package is unhelpful: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-irc/Readme.md

Is it possible to enable this from a Sandstorm grain?

[2016-04-03 18:02] tvld commented on #271
Excellent...  forked and playing ;)

[2016-04-03 19:30] mrplow opened #2748 "Sperate gateway for iOS and android push"
Your Rocket.Chat version: 0.24 dev

I am using my own key and product number for the gcm settings but the apn stuff is all blank. The gateway is disabled so gcm works with my android build, but that also disabled notifications for the app store version for iOS.
I can afford the $25 to publish my android app but not the $200 for iOS, also from what I read you need a mac to compile it as well.
I was

[2016-04-03 20:35] zxweed commented on #2742
At this time for me will be enougth just include the username in search scope, without any GUI changes

[2016-04-04 06:54] amitmeyraz opened #2750 "joomla plugin"
Your Rocket.Chat version: (0.24)

joomla plugin can be a great thing, i think that for start as a joomla user we just need that when a user subscribe to a joomla website there will be a bridge that will create the user name at rocketchat.

the best solution but its complicated (i think) its to build a component according to joomla rules, and when a user install it it will install the chat in his s

[2016-04-04 07:20] corecache commented on #2744
A small external independent helper utility might help set generic database entries in the future

[2016-04-04 08:10] dytec commented on #2742
There are existing channel search options:  **from:**username and **mention:**username

[2016-04-04 08:12] dytec commented on #2742
#2722

[2016-04-04 08:12] lvh1 commented on #2742
Nice, guess it should just be documented then.

[2016-04-04 08:15] zxweed commented on #2742
@dytec, thank you for info

[2016-04-04 08:15] #2742 closed

[2016-04-04 10:00] sptq opened #2751 "As User I want change my username or delete account when I was logged in by Google Account."
As User I want change my username or delete account when I was logged in by Google Account.
**Tested on: ** demo.rocket.chat

**Expect:**
Username or account delete action should be processed

**Accual:**
I need confirm action with a password - but when I'm using oauth I don't have my user password.

![capture](https://cloud.githubusercontent.com/assets/5262306/14244684/b83b9c68-fa5c-11e5-8f16-9f4

[2016-04-04 12:19] engelgabriel commented on #2729
Did you restart the "hardware"? are you sure you are not running multiple instances of the Rocket.Chat process?

[2016-04-04 12:45] marceloschmidt commented on #2727
We can pass a 3rd parameter. I'll add { method: 'methodName' } to the error details. Can anyone think of any other info to get into details object? eg.: `throw new Meteor.Error('error-not-authorized', 'Not authorized', { method: 'archiveRoom' })`.

[2016-04-04 13:07] jkdale commented on #2729
This is a hardware stop / start. After the server comes back online, the RocketChat app cannot be launched.

[2016-04-04 13:22] Againstreality commented on #637
anything new on this Topic?

[2016-04-04 13:33] engelgabriel commented on #2729
Did you rename the general room and restarted the server? Can you paste the full logs here?

[2016-04-04 14:41] engelgabriel commented on #2750
I believe that automatically install the chat in his server is close to impossible.

[2016-04-04 14:43] jkdale commented on #2729
We figured it out. It was user error. Our service that we have that runs RocketChat was pointed at another instance of the app on the machine, so I was upgrading the wrong location. Sorry for the mix up and appreciate the support.

[2016-04-04 14:45] marceloschmidt commented on #2699
I've tried reproducing the error and there was no error. I'll close this until we get another feedback.

[2016-04-04 14:45] #2699 closed

[2016-04-04 14:54] bott0r commented on #922
Is there any news on this ?

[2016-04-04 14:55] engelgabriel commented on #2739
Are you deploying with SSL?

[2016-04-04 14:57] engelgabriel commented on #2728
@vikaskedia did you manage to run multiple instances?

[2016-04-04 14:57] #885 closed

[2016-04-04 15:18] engelgabriel commented on #2747
Hi, we have just added some new indexes to try to fix this, but we are not sure what indexes were missing.

But, if your log says "Version: 0.22.0" it means that you are not running the latest build.
What upgrade process did you do? How are you deploying Rocket.Chat?

[2016-04-04 15:19] marceloschmidt commented on #2747
If you can test with latest code from `develop`, we've added two indexes to the users collection.

[2016-04-04 15:27] #2697 closed

[2016-04-04 15:27] #2698 closed

[2016-04-04 15:32] richardwlu opened #2754 "Mobile Push Notifications not working properly"
Your Rocket.Chat version: 0.24

The mobile push notifications on both iOS and Android aren't pushing for some reason. Push notifications are enabled for the app on the phone and on the Rocketchat website.

Is anyone else noticing this?

[2016-04-04 15:36] engelgabriel commented on #2744
"Force SSL" should never be used with reverse proxy. If you have a reverse proxy, you should do the redirect THERE. We only added the option to do "Force SSL" at the application level, for deployments like Heroku, that does not allow you to configure the redirect at the reverse proxy.

@rodrigok can  you please add a description bellow the field on the admin panel?

[2016-04-04 15:42] geekgonecrazy commented on #2754
@richardwlu just curious if you restart the server do they start to deliver again?

[2016-04-04 15:55] marceloschmidt commented on #2740
This should now be much better with ffef53e5235a9f932f48d611eb7498799fce485f. Let us know if it there's still something missing.

[2016-04-04 15:55] #2740 closed

[2016-04-04 16:01] richardwlu commented on #2754
@geekgonecrazy I gave the server a restart but no changes

[2016-04-04 16:04] amitmeyraz commented on #2750
i believe you are right.
maybe the first option, the bridge, it is possible i think.

[2016-04-04 16:04] zxweed opened #2755 "Click markdown example toggle help dialog"
Your Rocket.Chat version: 0.27

It would be nice to have the ability to format the text not only by markdown codes typed on keyboard, but by selecting a fragment and mouse click on the help line (or by the hotkey like ctrl-b) too.

![image](https://cloud.githubusercontent.com/assets/16319433/14254253/94cab558-fa97-11e5-9652-f9a9601fc9fc.png)

[2016-04-04 16:11] amitmeyraz commented on #2694
hi,
is it will be fix at 0.25? no video or audio :(

[2016-04-04 16:18] twhiting commented on #2754
Also have had no mobile notifications for quite a while.

[2016-04-04 18:08] sampaiodiego commented on #2746
@stunder did you see any message at server logs?
you can see them under `Adminstration > View Logs`

[2016-04-04 18:19] stunder commented on #2746
@sampaiodiego I just got done rebuilding the server.  After the lockout I was unable to get the server to accept any connections that would get me to the View Logs.   I have now built 3 servers 2 for me to develop/test on and 1 that I can point most of my users to. I will retry the error situation tonight and report back.

[2016-04-04 18:24] sampaiodiego commented on #2746
ok.. thanks..
if it get stuck, view the logs directly from the server.. for example with: `docker logs`, `pm2 logs`, etc. depending how you deployed your rocket.chat

[2016-04-04 18:36] #2338 closed

[2016-04-04 18:42] gwillen commented on #885
@marceloschmidt Is there is a commit that fixes this issue?

[2016-04-04 18:49] bott0r commented on #2755
In general it would be outstanding to figure out how all the inline commands work. I could not figure out how kalatex works, tho i have a lot of experience with latex in general.

nothing seems to work haha :dancers:

[2016-04-04 18:51] zxweed commented on #2755
@bott0r, you should inline the expression with \( and \) and enable the KaTeX plugin

[2016-04-04 18:55] JakeDEvans commented on #2725
Any ideas?

[2016-04-04 19:06] marceloschmidt commented on #885
There were multiple commits regarding this, the latest one being dffc11b.

[2016-04-04 19:13] marceloschmidt commented on #2471
Let's see if Meteor accepts our PR https://github.com/meteor/meteor/pull/6698

[2016-04-04 19:21] engelgabriel commented on #2725
It looks like the payload is invalid. Does your config works with Slack?
Can you hardcode a safe message like "TEST" just to check if the problem is indeed the parsing of the text property of the payload?

[2016-04-04 19:23] gwillen commented on #885
Thank you, that's awesome! That helps me track what I should be encouraging our IT guy to update to, and when.

[2016-04-04 19:40] sohovfx opened #2757 "Client issues"
Your Rocket.Chat version: 1.2

Hi all,

Thanks for such a great project, we really appreciate all your effort!

One of our users running on OpenSuSE 13.2 raised an issue.

- When messages are raised and he's away from his desk, the notifier shows him the messages and offers a 'view' button.  Clicking this button does nothing.

- When viewing unread messages, they don't disappear from the notifier

[2016-04-04 19:46] royalaid opened #2758 "Admin/Mod Flair"
Your Rocket.Chat version: 0.24
I was wondering if there is a way to add something similar to user flair on reddit to denote Admin/mods in chat. Even better would be to add custom titles but the Admin/mod flair could actually serve a purpose.

[2016-04-04 19:52] fabiomontefuscolo commented on #874
Is it possible to search user using `'^' + selector.username` at https://github.com/RocketChat/Rocket.Chat/blob/develop/server/publications/userAutocomplete.coffee#L18?

I'm looking for this file at my docker instance, but I can't find.

[2016-04-04 20:27] #2712 closed

[2016-04-04 20:33] #2687 closed

[2016-04-04 20:48] engelgabriel commented on #2754
What version of the mobile app are you using? What happens when you try the test button on the admin panel?

[2016-04-04 20:52] rhysxevans opened #2759 "Room/Channel/Group Membership based on LDAP group membership"
Your Rocket.Chat version: 0.24.0

Hi

I would like the ability to assign membership to a Room/Channel/Group via a group in a LDAP directory. This way we can set the membership once and not update it every time someone new comes on board.

I think this would be particularly useful for Private Groups, where we have people come and go within the organization.

Thanks

[2016-04-04 21:33] Sing-Li opened #2762 "Regression: web-rtc - support remote video monitoring (again)"
I believe this feature has been replaced, and then refactoring removed it altogether.

We need to have an ability for a callee to auto-answer for remote video monitoring (after a delay, and so on).   It used to work, even AFTER the inband driver has been eliminated.

[2016-04-04 21:55] engelgabriel commented on #2757
What is the version of the server?

[2016-04-04 21:56] engelgabriel commented on #2758
We already have the moderator role in the room, so what are you requesting in more details?

[2016-04-04 22:16] twhiting commented on #2754
we are using android primarily, when I click the test button we get a "Your push was sent to one device" without a notification ever actually reaching it.  I've also heard complaints about not receiving notifications on our windows electron app.  (We are running via docker, could that be the issue? no idea.)

[2016-04-04 22:26] msklywenn commented on #1968
Encountered this on 0.24.0 too. I don't even remember setting ForceSSL but disabling it re-enabled access to rocketchat.

[2016-04-04 22:34] sohovfx commented on #2757
Hi Gabriel,

Version is 0.22.0

Thanks,

Todd Smith
Head of Information Technology

soho vfx |
99 Atlantic Ave. Suite 303, Toronto, Ontario M6K 3J8
office: (416) 516-7863 fax: (416) 516-9682 web: sohovfx.com

----- Original Message -----

[2016-04-04 22:34] royalaid commented on #2758
Just a little label next to the name of the user
<img width="174" alt="screen shot 2016-04-04 at 3 33 07 pm" src="https://cloud.githubusercontent.com/assets/2439803/14266089/9e62c1d6-fa7a-11e5-83cd-ef04189a62e8.png">
In this case the flair is `Nexus 6, Chroma` but having labels like `admin` and `mod` would be useful especially on larger servers.

[2016-04-05 00:07] brakhane commented on #1775
implemented as part of #2763

[2016-04-05 00:50] leandroqm commented on #2739
If this goes to production, then yes. For now, there is no SSL/TLS enabled.

[2016-04-05 00:52] rareshornet opened #2764 "File links not clickable because they contain more than 2 slashes file:/// in kde env"
Your Rocket.Chat version: 0.25

We are using Fedora 19 ith kde4 in our production environment and the killer feature for rocket chat for us is that it doesn't recognize the file:/// links. It does recognize file links with 2 slashes file:// but they don't work in kde. Is there a chance you guys can add an exception for 3 slashes like file:///bla/bla/vbla so we can add rocket chat to our prod env?

[2016-04-05 02:07] engelgabriel commented on #2739
A few browsers dont support WebRTC without SSL

[2016-04-05 02:09] engelgabriel commented on #2754
Did you turn on DEBUG and looked into the View Logs

[2016-04-05 03:26] leandroqm commented on #2739
Yes, but I can do it on the demo server, just not on the fresh pull from the docker repo.

[2016-04-05 03:41] Sing-Li commented on #2739
On the demo server, you are **ALWAYS** accessing with SSL - it is **https:**//demo.rocket.chat/ !

[2016-04-05 04:04] leandroqm commented on #2739
I see. Okay, I will implement SSL/TLS and test it tomorrow and get back to you. :-) Thanks!

[2016-04-05 05:37] lunitic commented on #2758
Aint it same as https://github.com/RocketChat/Rocket.Chat/issues/2378 #2378

[2016-04-05 06:23] bott0r commented on #2755
@zxweed thanks!
Tho, to mention the spaces are very important, \(test)\ does not work while \( test )\ does

[2016-04-05 06:47] leandroqm commented on #2739
Thank you very much, that solves the issue.

[2016-04-05 06:47] #2739 closed

[2016-04-05 06:52] thiemol commented on #2747
Sorry the Version mismatch was my fault in an updatescript. I am now on version 0.25 with the same issue. I'll try the develop Version next.
(own Rocket.Chat instance on a Ubuntu Linux machine without docker)

I20160405-08:43:41.417(2) (migrations.js:114) Migrations: Migrating from version 33 -> 37
I20160405-08:43:43.129(2) (migrations.js:114) Migrations: Finished migrating.
I20160405-08:43:54.081

[2016-04-05 08:28] pavankumarkatakam opened #2766 "Error with gitlab authentication"
Hi, im using the latest docker rocketchat container, up to yesterday it is working fine with gitlab oauth authentication. but after today updated to develop tag of docker container it is not working

here are some logs
[code]

[2016-04-05 09:12] sunnykumargpt opened #2767 "Custom Login"
how to login without using login form?

[2016-04-05 10:47] assafm81 opened #2768 "amazon s3 upload"
Your Rocket.Chat version:0.24.0

hey,

i configure my amazon s3 bucket but i cann't upload any file in the channels.  i checked my permissions with bucket explorer and from there i can upload and delete files.
in the logs i can see "

[methods] slingshot/uploadRequest -> userId: edfer , arguments:  { '0': 'r
  '1': { name: 'comment.txt', size: 102, type: 'text/plain' },
  '2': { rid: 'a26r8fizEeb5

[2016-04-05 10:47] sunnykumargpt opened #2769 "How to create user using REST APi?"
How to create user using REST APi?

[2016-04-05 10:48] assafm81 opened #2770 "saml configuration"
Your Rocket.Chat version: 0.24.0

how can i configure rocket chat with ADFS...
what are the cleam rule that i need to create in the adfs server ?

thanks

assaf

[2016-04-05 11:07] brakhane opened #2771 "Regression: message cog does not show on Android Cordova client"
Your Rocket.Chat version: 0.25

With 0.25 (maybe sooner, it worked with 0.21) the message cog where you star/pin/delete messages does not shown anymore on the mobile Cordova client, it still works on desktop .

[2016-04-05 11:10] manuelbachl commented on #637
not yet, but maybe this weekend I'll dive into this. I'll keep you updated

[2016-04-05 11:21] achraf-jeday opened #2772 "Livechat messages are lost when all agents are offline"
- If a guest starts a chat session and there are no livechat agents online all messages sent by the guest will be lost and no chat channel will be created.
- If a livechat agent logs out while a guest is still messaging him the guest's messages will not be saved.

### Proposed Solution

1. Livechat messages should not be lost when all agents are offline.
2. Notify guests when there are no livechat

[2016-04-05 11:24] zxweed opened #2773 "Show small previews/icons for pictures in the files list tab"
Your Rocket.Chat version: 0.24

It would be useful for fast visual picture search

<img width="362" alt="2016-04-05 14 22 25" src="https://cloud.githubusercontent.com/assets/16319433/14280203/f97d6d68-fb39-11e5-99de-0aca0c0b1ad1.png">

[2016-04-05 11:34] #2360 closed

[2016-04-05 11:41] marceloschmidt commented on #2679
Fixed in e1291d7

[2016-04-05 11:41] #2679 closed

[2016-04-05 11:49] #2743 closed

[2016-04-05 11:58] marceloschmidt commented on #874
I don't know why this issue was still open, since now we search usernames only. Though @fabiomontefuscolo suggestion is a good one too, IMHO. What do you think, @RocketChat/core ? Have you ever used the autocomplete to select a user and instead of typing their initials, you typed something to the middle? If you have, do you think that's expendable?

[2016-04-05 12:10] k0nsl opened #2774 "Support for Piwik and/or Google Analytics"
It would be good to have support for analytics; configurable via the administration UI — particularly [Piwik](http://piwik.org/), as alternative to Google Analytics.

[2016-04-05 12:11] k0nsl commented on #2774
My bad, I now see there is a similar issue about this:

#233

[2016-04-05 12:49] zxweed opened #2775 "The SSL reverse proxy mode broken in release 0.25"
Your Rocket.Chat version: 0.25.0

if the Site URL points to http version (because it served too) the error is:
![image](https://cloud.githubusercontent.com/assets/16319433/14282029/12639950-fb45-11e5-92e6-41b88528bc19.png)

if the Site URL points to https - the chat is loaded, but the logo picture are not shown:
![image](https://cloud.githubusercontent.com/assets/16319433/14282160/d31d6586-fb45-11

[2016-04-05 12:54] cbajohr opened #2776 "Seperate webhook management and parser scripts"
Updating a webhook script for many rooms is currently really uncomfortable. It would be much easier if you could create scripts and link them to a created webhook, instead of adding the scriptcode directly to each integration. This would allow to update many integrations that are using the same parser script.

Your Rocket.Chat version: 0.25.0

[2016-04-05 12:58] engelgabriel commented on #874
We are still planning to enable full names back in the system, so lets wait for that to be completed before we make any decision.

[2016-04-05 13:00] cbajohr opened #2777 "Automatic file cleanup after a period of time"
Over time the disk space is running low on the server because of file uploads.
An administration option to automatically clean up old files after a period of time could help to save a lot of disk space in long term.

Your Rocket.Chat version: 0.25.0

[2016-04-05 13:14] LokiMasterMind commented on #1494
Hi @eclickhu ,
 Do you created app in ionic if yes let me know...I need your help

[2016-04-05 16:43] royalaid commented on #2758
Oh yeah it kinda is, only difference being that with this you offer an option to customize your flair.

[2016-04-05 17:06] engelgabriel commented on #2758
Let's keep the discussion on the #2378

[2016-04-05 17:06] #2758 closed

[2016-04-05 17:23] maggo commented on #1680
A few days back MDG [launched meteor 1.3](http://info.meteor.com/blog/announcing-meteor-1.3) and with it full featured support for ES2015 imports and npm! That and react being a first party view layer for meteor mean that it's the right time to seriously think about a shift to new frontend technologies.

[2016-04-05 17:26] engelgabriel commented on #1680
We agree @maggo, it is just a matter of scheduling time to do it.

[2016-04-05 17:44] Sing-Li commented on #1680
We have accepted ES2015 PRs for a while now.

Are we ready to make a public statement that we will accept UI PRs that are ReactJS based?

[2016-04-05 17:51] twhiting commented on #2754
Here is what the logs said:

Push: Send message "@twhiting" via query { userId: 'xxxx...' }
I20160405-17:40:11.214(0) send to token { gcm: 'xxxx...' }

Then nothing, no errors or anything.

[2016-04-05 18:01] MaxKK opened #2779 "Users registering with @protonmail.com don't receive confirmation mail."
Your Rocket.Chat version: 0.24.0

The users who registered with a protonmail.com email address don't receive their confirmation link.

Cheers.

[2016-04-05 19:09] engelgabriel commented on #2754
We are going to have to do a joint test, so we can look at the logs on our gateway to try to pin point the failure.

Can you guys upgrade to 0.25.0 before that?

[2016-04-05 19:51] richardwlu commented on #2754
Yes, I'll update to 0.25.0 and will let you all know once its complete.

[2016-04-05 20:05] unixfox opened #2780 "Interactive tutorial for new users"
Everytime a new user join my Rocket Chat platform, I have to learn him how to use Rocket Chat. It could be great if you introduce an interactive guide like Mattermost already does.

![](https://i.unixfox.eu/54-21-59-2016.png)

Disclaimer : I do not ask exactly copy other web chat platforms but to take up the idea.

[2016-04-05 20:21] unixfox commented on #2744
I've no problem with proxy pass with hostname and force SSL enabled.

Here is my nginx configuration:
[code]

[2016-04-05 20:38] k0nsl commented on #2744
@unixfox:

In the configuration example you gave it shows you're proxying to a IP, not hostname.

[2016-04-05 21:40] engelgabriel commented on #2779
What does the LOG says? What SMTP are you using?

[2016-04-05 21:46] engelgabriel commented on #2766
Error introduced by https://github.com/RocketChat/Rocket.Chat/pull/2752/files

Maybe this should a config of the oAuth?

[2016-04-05 21:47] engelgabriel commented on #2777
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/2196

[2016-04-05 21:47] #2777 closed

[2016-04-05 21:49] engelgabriel commented on #2767
You need to use one of the following:
- CAS
- SAML
- OAuth
- LDAP
- IFrame Login

[2016-04-05 21:49] #2767 closed

[2016-04-05 21:58] engelgabriel commented on #2776
Just so we can understand you use case, why do you use the same script for more then one web-hook?
Do you know that you can let the web-hook decide the channel it will post the message to?

[2016-04-05 22:08] engelgabriel commented on #2775
Can you inspect the URL the logo is trying to load? The error message is unrelated.

The alerts about blocking an unsafe request, are correct, you should never to that.
If you want your site served overt HTTPS, you should redirect all other requests and put the correct address on your Site URL.

[2016-04-05 22:10] engelgabriel commented on #2771
This is a new feature, unfortunately we are waiting for apple to release the new version of the app that will open a native menu when you press and hold the message.

[2016-04-05 22:10] #2771 closed

[2016-04-05 22:17] engelgabriel commented on #2774
You can already configure your Google Analytics by defining the Google Tag Manager ID in the Admin Panel, in the General tab. :)

[2016-04-05 22:17] #2774 closed

[2016-04-05 22:23] AJ-Acevedo commented on #2771
I just received an in app iOS notice that a new version of the app is available.

[2016-04-05 22:26] engelgabriel commented on #2771
The IN-APP does not count. This is a major update, need to be form the app store when a couple of days.

[2016-04-06 00:40] dcsan commented on #1680
have you converted this project to 1.3, fully - ie taking advantage of some of the new NPM module packing?
did it affect the build times?

I've basically dropped doing anything in meteor cos it was too slow builds = painful once a project got to scale. you guys are like a canary in the coalmine - if it's working for you maybe it's usable again.

[2016-04-06 00:44] engelgabriel commented on #1680
We have not done that yet, we will do in a couple of weeks. We are waiting for others to find more  bugs :)

[2016-04-06 01:11] rodrigok commented on #2775
@zxweed Can you test our latest develop version?

[2016-04-06 01:12] engelgabriel commented on #867
Added to https://demo.rocket.chat/images/join-chat.svg

[2016-04-06 01:14] #867 closed

[2016-04-06 01:14] rodrigok commented on #2305
@pcarn can you test with the latest version: 0.25.0?

[2016-04-06 01:15] rodrigok commented on #2195
@synotna can you test with the latest version: 0.25.0?

[2016-04-06 01:21] #1187 closed

[2016-04-06 01:54] AJ-Acevedo opened #2781 "bash scripts are not portable"
I noticed that the bash scripts like [install.sh](https://github.com/RocketChat/Rocket.Chat/blob/develop/install.sh) and [example-build.sh](https://github.com/RocketChat/Rocket.Chat/blob/develop/example-build.sh) are not using portable bash shebangs. Not everyone uses the default bash. For example you can change your default bash using homebrew.

These:
`#!/bin/bash`

Should look like this:
`#!/us

[2016-04-06 02:24] #2751 closed

[2016-04-06 02:32] rodrigok opened #2782 "Allow upsert in message model methods"
To fix: https://github.com/RocketChat/Rocket.Chat/pull/2272/files#diff-ad79574d6187c3bae6b473dc30c3295eR205

[2016-04-06 04:07] rodrigok commented on #2782
Fixed by https://github.com/RocketChat/Rocket.Chat/commit/4efbfe4b81a00cd9c4f9b59c0348eeceedfb72e4 and https://github.com/RocketChat/Rocket.Chat/commit/b39092aef946f81c38e8e9929dd458244097ea2a

[2016-04-06 04:07] #2782 closed

[2016-04-06 04:38] engelgabriel commented on #2781
Can you do a pull request?

[2016-04-06 05:50] synotna commented on #2195
Will do at the end of next week!

[2016-04-06 07:41] cbajohr commented on #2776
I use incoming webhooks for our ticket tool for example. With this ticket tool each ticket project has one webhook in rocket chat for receiving informations for private project group.
So the parser script is always the same for every webhook, but the webhook URL is another at the tickettool.

It would be much easier if I could edit the script at one place for all linked webhooks. Currently I have

[2016-04-06 08:44] chang9e commented on #2254
Please upgrade as soon as possible to meteor 1.3

[2016-04-06 08:44] frdmn opened #2783 "Severe lag with OS X client when application is running on Retina Display"
Your Rocket.Chat version: just recloned from master

![bildschirmfoto 2016-04-06 um 10 39 33](https://cloud.githubusercontent.com/assets/944459/14310737/e015d32e-fbe3-11e5-950c-821520584d6d.png)

I am using a Cinema Display in addition to my MacBook Pro Retina screen and I noticed that whenever `Rocket.Chat+` is running on the Retina display, the fans are spinning like crazy and the Rocket.Chat cl

[2016-04-06 08:50] vaggosifa opened #2784 "Full end to end encryption"

[2016-04-06 09:09] frdmn commented on #2780
:+1:

[2016-04-06 09:09] brakhane commented on #2771
@engelgabriel you just mentioned the iOS app, am I right in assuming a new android version will be released with the iOS one?

[2016-04-06 09:10] frdmn commented on #2783
Crud, I just noticed that i should have probably raised this issue in the https://github.com/RocketChat/Rocket.Chat.Electron/ repository.

[2016-04-06 09:25] sunnykumargpt commented on #2767
you have any example of iFrame login.

[2016-04-06 09:39] giray opened #2785 "@ autocomplete also match on Name"
Your Rocket.Chat version: 0.24.0

Currently autocomplete when mentioning a user via '@' only matches usernames.  It would be great if the lookup would also take into account the "Name" of the user.

[2016-04-06 10:37] engelgabriel commented on #2771
Yes :)

--
Sent from Mobile

[2016-04-06 10:48] engelgabriel commented on #2776
Ok, this is on the plan. We will create web-hook templates, more like App,
that can be reused or in other words, installed multiple times. So that
will do what your are looking for.

--
Sent from Mobile

[2016-04-06 11:18] engelgabriel commented on #2767
We are still writing the documentation, but id does something like:

The Flow for Facebook on Cordova:

1. We call your API to se if the user is logged in, if yes, we close the iframe, if no continue
2. We redirect the iframe to your login screen
3. The user will click on facebook button
4. You will call our method call-facebook-login
5. We will open the facebook application to login
6. After the

[2016-04-06 11:32] tanc opened #2786 "Emoji size"
Rocket.Chat version: 0.25.0

The emoji are quite tiny and hard to see. One thought was whether we could show a larger emoji if the emoji is displayed on its own? Much like Skype does. Thoughts?

[2016-04-06 12:02] barnardm commented on #2013
Confirmed, there is a mapping for :'( to sad but it is not being processed correctly. It looks like the root of the issue is that any emoji shortcut with a single quote is being html escaped. Once the single quote has been converted into &#39; it doesn't match the string in the emoji package. I'm working on a PR for this.

[2016-04-06 12:04] hExPY opened #2787 "MongoDB Encryption At Rest"
Your Rocket.Chat version: 0.25.0

Hey Guys,

i've been looking for a way to encrypt messages stored in the mongodb. I work for a big IT company and the guidelines says that all messages have to be encrypted.
Do i need to implement my own solution?
Does anyone already done this?
Is there a already implemented or beta solution?

I already tried OTR in Rocket Chat but it still crashes with no error m

[2016-04-06 12:10] senthai opened #2788 "internal update"
It would be awesome, if you can update rocketchat from the admin panel.
Do you think this is possible?

[2016-04-06 12:14] k0nsl commented on #2788
Discussed here: #1581.

[2016-04-06 12:15] rodrigok commented on #2783
@frdmn Had you downloaded the app from the Map App Store?

If yes, can you try the DMG version? https://github.com/RocketChat/Rocket.Chat.Electron/releases/tag/1.3.0

I'd test here and this happens for me only when I'm using the version distributed via Mac App Store. If you confirm I will open a new issue on the electron's repository.

Thanks

I will move this issue to the correct place

[2016-04-06 12:16] rodrigok commented on #2783
Issue moved to [RocketChat/Rocket.Chat.Electron #164](https://github.com/RocketChat/Rocket.Chat.Electron/issues/164) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-06 12:16] #2783 closed

[2016-04-06 12:35] engelgabriel commented on #2788
Duplicate

[2016-04-06 12:35] #2788 closed

[2016-04-06 12:37] engelgabriel commented on #2787
Have you seen this https://docs.mongodb.org/manual/core/security-encryption-at-rest/ ?

[2016-04-06 12:39] engelgabriel commented on #2787
What is the error you are getting with OTR?

[2016-04-06 12:55] engelgabriel commented on #2786
Like Skype too.

[2016-04-06 13:04] galr52 opened #2789 "run Rocket.Chat on windows"
Your Rocket.Chat version: the latest

i followed the instructions for developers:

git clone https://github.com/RocketChat/Rocket.Chat.git
cd Rocket.Chat
meteor

but when i run the app (the meteor command) i get the following error:
 i try with windows 10 and 7;

C:\RocketChat\Rocket.Chat>meteor
[[[[[ C:\RocketChat\Rocket.Chat ]]]]]

=> Started proxy.
=> Meteor 1.3 is available. Update this projec

[2016-04-06 13:12] assafm81 commented on #2768
i solved that F**k issue :)
i was needed to configure the default CORS policy of the bucket.
the correct policy should be:

<?xml version="1.0" encoding="UTF-8"?>
<CORSConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
    <CORSRule>
        <AllowedOrigin>*</AllowedOrigin>
        <AllowedMethod>PUT</AllowedMethod>
        <AllowedMethod>POST</AllowedMethod>
        <AllowedMethod>GET

[2016-04-06 13:12] assafm81 commented on #2768
<?xml version="1.0" encoding="UTF-8"?>
<CORSConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
    <CORSRule>
        <AllowedOrigin>*</AllowedOrigin>
        <AllowedMethod>PUT</AllowedMethod>
        <AllowedMethod>POST</AllowedMethod>
        <AllowedMethod>GET</AllowedMethod>
        <AllowedMethod>HEAD</AllowedMethod>
        <MaxAgeSeconds>3000</MaxAgeSeconds>
        <AllowedHea

[2016-04-06 13:13] #2768 closed

[2016-04-06 13:14] assafm81 commented on #2770
i found the way to do that..

[2016-04-06 13:14] #2770 closed

[2016-04-06 13:15] #2789 closed

[2016-04-06 13:18] assafm81 opened #2790 "auto role - saml issues"
Your Rocket.Chat version: 0.25
first :  i can create new user with all the values:
email, name, username
but i can't auto associate the user to a an existing rule
i am always get the 'User' role for new user creation.

any one solved that ?

[2016-04-06 13:19] GilbertGobbels opened #2791 "Livechat won't show: No such function: __ (livechat.js?_dc=042de0a...:5)"
Your Rocket.Chat version: 0.25.0
Whenever I try to use livechat on a webpage, it fails to display the window.
Instead, I get the following error in my browser console upon page load:
` livechat.js?_dc=042de0a…:5 Error: No such function: `
Which is an error thrown when the variable "t" is assigned.
We've had livechat working without problems fine before, but it sometimes just does this, and it's re

[2016-04-06 13:22] hExPY commented on #2787
Hi i already seen https://docs.mongodb.org/manual/core/security-encryption-at-rest/  but it seems to be only available for enterprise mongodb.

Theres a bubble appearing in the top right corner but with no content. After some seconds i receive a timeout.
Does the client need to communicate with the mongodb directly?
We drop every package for the mongodb default port which is not from the server wh

[2016-04-06 14:02] pcarn commented on #2305
I'm not using rocketchat much anymore, so I haven't had a chance to.

[2016-04-06 14:40] corecache commented on #2526
@rodrigok Retested this with 0.24 and 0.25, works as intended:

`.015(0)? cas_server.js:30 CAS ➔ debug Using CAS_base_url: https://login.my.org/sso`
`.120(0)? cas_server.js:42 CAS ➔ info Validated user: mytestuser`
`.622(0)? cas_server.js:129 CAS ➔ debug Looking up user with username: mytestuser`
`.632(0)? cas_server.js:149 CAS ➔ debug User 'mytestuser'does not exist yet, creating it`
`.664(0)? ca

[2016-04-06 14:52] engelgabriel commented on #2305
Why have you not used more? :)

--
Sent from Mobile

[2016-04-06 14:54] IQ2022 commented on #2773
:+1: Agree, we need to have more features added to the attachment/File section

[2016-04-06 15:00] IQ2022 commented on #2759
could we also have sign-ups on the front page home page. ?
as an example we can do something like this

![image](https://cloud.githubusercontent.com/assets/12454319/14321241/6a3eb1e0-fbe6-11e5-8683-a92e58c2b755.png)

[2016-04-06 15:12] achraf-jeday opened #2792 "No more than one livechat agent can chat with a guest at a time."
When many livechat agents are online and a guest starts a chat session only one agent will be able to chat with her/him (only one agent will have access to the newly created chat channel).

### Proposed Solution

All livechat agents should have access to the guest channel including offline agents.

[2016-04-06 15:17] graywolf336 commented on #2792
You can actually invite an agent into the room and they will be able to chat with them.

[2016-04-06 15:23] achraf-jeday commented on #2792
@graywolf336 thank you. Can you show me how to invite another livechat agent to the guest channel.

[2016-04-06 15:50] graywolf336 commented on #2792
@achraf-jeday It's the same as any other room, via the invite slash command. `/invite @username` :)

[2016-04-06 15:55] zxweed commented on #2775
@rodrigok development build was ok, thanks

[2016-04-06 15:55] #2775 closed

[2016-04-06 16:09] achraf-jeday commented on #2792
@graywolf336 after I invited the agent to the guest room he is able to submit messages but unable to receive messages from the guest or from the other agent !

[2016-04-06 16:11] graywolf336 commented on #2792
@achraf-jeday That's odd, it used to work that way. We'll have to wait for someone else to chime in, as I'm not sure if that is intended or a recursion bug.

[2016-04-06 16:22] zxweed opened #2795 "Add COPY button to the message menu in mobile version"
Your Rocket.Chat version: 0.25.0

It will be very useful to have local menu buttons for edit message and copy to clipboard in mobile version

![screenshot_2016-04-06-19-06-06_19-11-04](https://cloud.githubusercontent.com/assets/16319433/14324232/a6a97944-fc2c-11e5-9668-ea91c2582e96.png)

[2016-04-06 16:22] achraf-jeday commented on #2792
@graywolf336 thanks for your responses just one last question:
when a guest starts a livechat session the system picks an agent to chat with her/him and leave the other agents.
How does the chat system do that (based on what)?

[2016-04-06 16:29] graywolf336 commented on #2792
That would be a question for @sampaiodiego

[2016-04-06 16:52] engelgabriel commented on #2526
@anthony-o please reopen this issue with your startup logs if the problem persists for you on version 0.25.0

[2016-04-06 16:52] #2526 closed

[2016-04-06 16:56] engelgabriel commented on #2787
No, the client never talks to the DB directly. It is all done via the server.
The key sharing actually doens't even go via DB, its is a memory stream only, so this may be the problem. We are working on new versions of Encryption that will store the encryption keys on the server, protected by by a passphrase. It will be less secure in some respects, but more stable and grater usability.

[2016-04-06 16:59] engelgabriel commented on #2107
The new version of the autocomplete prioritises users in the rooms and in order of last participation. Just typr @ and you will see.

[2016-04-06 16:59] #2107 closed

[2016-04-06 17:36] twhiting commented on #2754
I was already on .25 what do you need from me @engelgabriel ?

[2016-04-06 17:41] engelgabriel commented on #2754
Can you send a screenshot of your Push Notifications settings from the admin, blurring any keys, obviously.

[2016-04-06 18:13] rodrigok commented on #2795
Hi @zxweed, the new version (2.3.0 https://github.com/RocketChat/Rocket.Chat.Cordova/releases) has a new native menu for that.

Are you using Android or iOS? I'm releasing the Android for public access right now and the iOS is in review by Apple right now.

[2016-04-06 18:25] twhiting commented on #2754
![capture](https://cloud.githubusercontent.com/assets/10718586/14327985/fd867d60-fbf1-11e5-82a6-ea4d477b6ca1.JPG)

![capture2](https://cloud.githubusercontent.com/assets/10718586/14327990/02ce81d2-fbf2-11e5-9fcd-efd0430c5921.JPG)

This is what I've found following the guide I've found in the wiki.
https://github.com/RocketChat/Rocket.Chat/wiki/Mobile-Notifications-Gateway-Configuration

GCM might

[2016-04-06 18:30] zxweed commented on #2795
I have manually updated to the version 2.3.0 for Android, but the local menu still the same.

[2016-04-06 18:38] rodrigok commented on #2795
@zxweed Are you sure? This only works with Rocket.Chat server version from 0.25.0

[2016-04-06 19:10] zxweed commented on #2795
@rodrigok, sorry, I was checked version 0.24, with server version 0.25 local menu are great, thank you.

[2016-04-06 19:10] #2795 closed

[2016-04-06 19:16] rodrigok commented on #2795
@zxweed you are welcome

[2016-04-06 19:52] djeber commented on #2780
:+1:

[2016-04-06 20:04] Sing-Li commented on #2780
:+1:

We would ❤️  to see community contribution on this one!

We know many of you,  our community members,  are semi-pro bloggers and You-tubers -- here's your chance to contribute to this super project!!

Just for inspiration... in our **tiny**  RockOnPi community (folks who run Rocket.Chat on their $5 RaspberryPi servers) ... one community member @rdagger , created this ....

[![screen shot 201

[2016-04-06 20:29] hExPY commented on #2787
And what can we do now to encrypt the messages in the database?
Load own javascript to encrypt and decrypt?

[2016-04-06 20:47] Sing-Li commented on #2787
Unless you're using 3.2 or on the enterprise mongo $ subscription... third party encrypted-volume solutions as that article suggests - LUKS for Linux  -   something like https://www.digitalocean.com/community/tutorials/how-to-use-dm-crypt-to-create-an-encrypted-volume-on-an-ubuntu-vps

We have not tested this, and do not know the performance characteristics.

[2016-04-06 21:38] rodrigok commented on #2613
@flantascience and @mimiflynn, have you guys changed the SMTP email templates under `Admin > SMPT > Invitation`? If yes, can you paste your HTMLs here please?

[2016-04-06 22:03] #2656 closed

[2016-04-06 23:42] olafleur opened #2799 "When typing an IP in the chat, it isn't clickable."
When entering an IP address in the chat (for example : http://127.0.0.1/ ) the URL is not clickable like when you enter an URL like http://google.com .

Is that intended behaviour?

[2016-04-07 01:27] Lochemage commented on #2768
@assafm81

Thank you for this, I had the same problem and this fixed it.

[2016-04-07 01:32] Lochemage commented on #2746
@sampaiodiego

I did this as well, my problem was that I had changed Amazon S3 Region setting to an invalid value and apparently it causes the server to crash on startup.

In my case, I had to SSH into the mongodb directly and apply the following:
[code]

Hope this helps.

[2016-04-07 01:58] graywolf336 commented on #2768
We need to add that to the documentation then.

On Wed, Apr 6, 2016, 8:27 PM Jeff Houde <notifications@github.com> wrote:

[2016-04-07 02:00] sampaiodiego commented on #2768
yes.. sorry about that.. this is already in slingshot's docs..
my fault not writing it somewhere. =\

[2016-04-07 02:06] zb471914758 commented on #2714
@sampaiodiego,@Sing-Li  Would  someone help me? Thanks!

[2016-04-07 02:11] sampaiodiego commented on #2714
use this command to remove a package `meteor remove mdg:validation-error`

[2016-04-07 03:21] AJ-Acevedo commented on #2799
Confirmed on https://demo.rocket.chat

[2016-04-07 03:22] AJ-Acevedo commented on #2781
@engelgabriel I submitted a pull request for this issue.

[2016-04-07 06:26] zb471914758 commented on #2714
@sampaiodiego When I execute " meteor remove mdg:validation-error",
It occurs "mdg:validation-error is not in this project. ", that means I have no "validation-error" package, but why it should also load the package? how can I delete the using in all callings? Thanks!

[2016-04-07 07:33] Laisky opened #2801 "Can I download files in the File List window?"
Your Rocket.Chat version:

  - server v0.25
  - client: v1.2.0 for OSX(same problem on Windows client v1.2)

Could I download files that displayed on the File List window?

When I click a image file, the image will display. But there is nothing happened when I click a non-media file such as pdf.

![rocket_chat_](https://cloud.githubusercontent.com/assets/4532436/14343805/dbee8f00-fcd5-11e5-9096-38

[2016-04-07 07:40] Sing-Li commented on #2714
Easiest way is to start over fresh from empty directory and `git clone ...`;  your package directory may be messed up.

[2016-04-07 07:48] Sing-Li commented on #2750
joomla supports SSO through authentication plugins (check plugin directory)

Rocket.Chat also supports SSO through a wide variety of authentication providers

just have both joomla and Rocket.Chat authenticate via the same provider - and you do not need a 'bridge'

[2016-04-07 07:54] popiolek commented on #2191
Same thing here on v0.24. Sometimes connection breaks and one of the participants does not receive an invitation. Restart on the computer that does not see a pop-up helps. All the logs are totally empty and I guess that the root of that issue is some resource allocation problem - same thing happens when there is no mic connected to the PC.

The real problem tho, that would help to take any actions

[2016-04-07 08:13] Sing-Li opened #2802 "@mention autocomplete when inside Private Groups should show members only"
Currently, the autocomplete shows and searches the entire universe of users.

[2016-04-07 08:32] #2744 closed

[2016-04-07 08:36] zxweed opened #2803 "Show the special textmark/icon for moderators"
Your Rocket.Chat version: 0.25

It would be nice if the moderators of room will have the special text mark like (tm) or icon to indicate their status.

[2016-04-07 09:05] corecache opened #2804 "Add feature to show login formular as collapsed by default"
**Use-Case**

With external authentication services, such as CAS or SAML, the landing/login page shows the external service button and the login formular (user, password field). Even tho there is a "Login with CAS/SAML/xyz ..." button shown, some part of the users still feel like trying to use the username/password formular - it seems like some natural reaction to login formulars.

In order to mis

[2016-04-07 09:36] lunitic commented on #825
Have any progress been done regarding the readonly channels?

[2016-04-07 10:57] hExPY commented on #2787
We actually didnt want to use LUKS or similar.

And like you said: its untested

[2016-04-07 11:03] cbajohr commented on #2802
That would be extremely useful.... it happens quiet often that you accidentally mention someone in a private channel, that is not on the channel and not allowed to see the message...

[2016-04-07 12:05] antgel commented on #2317
@engelgabriel Hey, everybody's rocketchat server is a different URL, so I don't quite get what you mean by that. Can you explain? (rocketchat newbie here)

[2016-04-07 12:09] blubbi321 commented on #2563
Still present in 0.24

[2016-04-07 12:32] zb471914758 commented on #2714
@sampaiodiego , @Sing-Li
My directory is empty, and git clone it, but the error still occurs,
Perhaps my network proxy is limited, it can not be downloaded automatically.
Can someone share the package: mdg:validation-error@0.5.1?

[2016-04-07 12:34] zb471914758 commented on #2714
@sampaiodiego , @Sing-Li
Where the package is used,? I can not find it is required or called. Thanks!

[2016-04-07 12:34] engelgabriel commented on #2317
When you go to Rollbar, it will ask you for the URL of the integration. Rather than giving the url generated on Slack admin panel, just give the url generated at your Rocket.Chat admin panel, they are compatible.

[2016-04-07 12:41] antgel commented on #2317
I tried that, it wasn't as you describe. I went to https://rollbar.com/<company>/<project>/notifications/slack, and it takes me to a screen like
![image](https://cloud.githubusercontent.com/assets/295571/14351303/232e7500-fcd7-11e5-9441-459043afa13d.png) after which I click the Add to Slack button and it sends me to... Slack. (I don't have a Slack account.)

[2016-04-07 12:44] dytec commented on #2803
Duplicate #2378

[2016-04-07 12:47] engelgabriel commented on #2317
They may have changed. Let me take a look.

[2016-04-07 12:51] zxweed commented on #2803
closed as duplicate

[2016-04-07 12:51] #2803 closed

[2016-04-07 13:05] sampaiodiego commented on #2792
so, this is a bug not related to livechat itself..
I'm submitting a fix soon =)

[2016-04-07 13:20] freddielam commented on #795
was looking for how to do this,

so while waiting for their feature to be done here's how it can be done.

from mongo shell
[code]

this will expire any message after 1 hour, even existing messages.

[2016-04-07 13:28] #2696 closed

[2016-04-07 13:38] #2792 closed

[2016-04-07 13:38] k0nsl commented on #2791
I can confirm and recreate this as well.

[2016-04-07 13:40] #2781 closed

[2016-04-07 16:41] ChanningMorris opened #2807 "Private Group Owner Cannot Rename Group"
Your Rocket.Chat version: 0.25 (Docker Version)

We've stood up the Docker version of Rocket.Chat locally and are testing it with about 50 users.  One user made a private group for his team, but cannot rename the group.  He gets the red error bar that says "Not Allowed".

I was able to join the private group via invite and change it (I have admin privileges) as well as verify that he has owner and

[2016-04-07 16:53] lvh1 commented on #2804
Do you mean the 'Show form-based Login' setting (under admin-> accounts)?
I assume that setting hides the username/password login form

[2016-04-07 16:54] twhiting opened #2809 "Comment on a file upload"
Your Rocket.Chat version: 0.25.0

**[Feature Request]**
Currently when you upload some type of file it automatically inserts into the thread without being able to comment directly on the post.  I have to edit the file upload post to attach a comment to it.  it'd be nice if on a file upload there was a field to add a comment directly.

[2016-04-07 17:02] twhiting commented on #2754
I figured out my issue.  I was referencing my server as a gateway when I do not have it set up correctly to be one.  Using https://rocket.chat as a gateway fixed the issue for me and push notifications now work.  I'm not sure if it fixes the other guy's problem to tho. (Found answer is #2431)

[2016-04-07 17:43] klimkowd opened #2810 "sockjs and _timesync cannot be run from subdirectory"
Currently running version RocketChat 0.25 and trying to get it to run out of a subdirectory.  All the assets load correctly but calls to sockjs and _timesync are still making requests to the root domain.

[2016-04-07 17:49] engelgabriel commented on #2754
Thanks @twhiting! Glad to hear that!

Hey @richardwlu can you send a screenshot of your Push Notifications settings from the admin, blurring any keys, obviously.

[2016-04-07 17:58] richardwlu commented on #2754
@engelgabriel Sure thing! Sorry, I've been pressed on available time.

<img width="1405" alt="screen shot 2016-04-07 at 12 54 28 pm" src="https://cloud.githubusercontent.com/assets/8405384/14361332/05bfe524-fcc0-11e5-9ebb-855808070f9f.png">

[code]

[2016-04-07 18:23] twhiting commented on #2754
Can confirm, neither are any other push notifications working on our end besides just a test push.  I didn't think to check that once I had a successful test push.

[2016-04-07 18:34] graywolf336 commented on #2754
This sounds odd, but try to click the `Logout from other logged in locations` under `My Account->Profile`. Then log in via your phone, go offline, actually close your opened instance of Rocket.chat, and then have someone private message you. Just to see if for some reason there is an open session which is causing you to not get the notifications since the test push is working.

[2016-04-07 18:55] richardwlu commented on #2754
@graywolf336 Ok, we tried that out and found out:

1. Logging out of the other instances, logging back into mobile app, and closing the web browser session pushes to iOS successfully from a direct message
2. After that successful push, I opened a web browser session and a push from a direct message was unsuccessful
3. Then, I closed the web browser session and another push from a direct message wa

[2016-04-07 19:13] andreas-bulling commented on #2755
If KaTeX (or other plugins) is enabled it should add an entry to the markdown help line

[2016-04-07 19:13] engelgabriel commented on #2754
So that is working correctly. You are not expected to get push notification when you are already online on other devices.

[2016-04-07 19:16] twhiting commented on #2754
@engelgabriel When we used Slack, if you didn't recieve a notification on your computer (whether you were running it or not) it would send a push notification to your phone.  This type of behaviour would be highly appreciated for us.  We never log out of rocket.chat on our computers because they are on all the time (so we can remote into them from home) therefore, we will never get push notificati

[2016-04-07 19:17] richardwlu commented on #2754
Is it still appropriate that when I closed my other web browser sessions that I still don't receive pushes?Because if so, I would be required to logout of my other instance and relogin into the mobile app when I am heading out.

Lastly, is there any talks about allowing pushes to work even when a user is online since there are times when users have stepped away but would like to be notified of mes

[2016-04-07 19:38] marceloschmidt commented on #825
Not yet @lunitic :(

[2016-04-07 19:42] marceloschmidt commented on #2084
Do you guys think that admins should be able to see/join private groups? By design, we decided they wouldn't be possible to, but that's changeable, of course. @RocketChat/core what do you think?

[2016-04-07 19:44] engelgabriel commented on #2754
After 5 minutes of inactivity, a device is considered AWAY.
You dont need to be logged out, you just need to be AWAY or OFFLINE in ALL devices to receive pushes.

[2016-04-07 19:55] sampaiodiego commented on #2084
I have mixed fellings about this..
If I was an admin, I would like to be able to see/join private groups.
But if I am just an user, I don't know if I like the idea of someone reading my messages on privates groups.

For the project, I think it should be possible (to an admin see/join private groups), also we should have a permission to allow others to do so.

[2016-04-07 19:59] twhiting commented on #2754
@engelgabriel Then I say we have an issue, because thats definitely not working on my end.  I'm going to guess its the same way for @richardwlu

I've logged out of all locations except my phone for about the last hour and have not recieved a single notification w/ mobile push turned on in both private and public chats.

[2016-04-07 20:03] marceloschmidt commented on #2084
I think that defeats the purpose of **private** groups... I think we should protect users privacy on this one.
Although I'm not convinced this is a good thing to have, I'd accept it **if** admins could **not** see the contents of the room prior to entering. This way, if they wanted to read the messages, they'd be announcing they joined (through system messages).

[2016-04-07 20:06] engelgabriel commented on #2754
What presence status (green/yellow/red) do you appear to be to other users?

[2016-04-07 20:06] richardwlu commented on #2754
Having enough time to be Away and OFFLINE from my web session, the push worked for me. I'll have to give it a few days to see if this acts consistently.

[2016-04-07 20:07] engelgabriel commented on #2754
Some people say that 5 minutes is too much. We want to make it configurable in the future.

[2016-04-07 20:08] engelgabriel commented on #2754
And again, the system ignores your manually set presence status, it really needs to be 5 minutes away from ALL devices.

[2016-04-07 20:38] engelgabriel commented on #2757
Please upgrade to the latest release, as this problem has been fixed.

[2016-04-07 20:44] soenkef commented on #2802
+1 - good feature

[2016-04-07 21:08] mattbk opened #2811 ""Invalid Domain" when attempting to sign in as first admin"
Version 0.25.0.

[2016-04-07 21:27] Lochemage commented on #1325
+1 Our username convention is to use first letter + last name, but that makes it impossible to search for someone by their first name when trying to direct message them. Note, that you can search their first name when trying to @ mention them, this seems to also search their full name details, but not when trying to find the user to direct message them privately.

[2016-04-07 21:29] mattbk commented on #2811
Okay, so it seems to have resolved itself...

[2016-04-07 21:29] #2811 closed

[2016-04-07 21:33] Lochemage commented on #1968
I had this same problem, I think it was related to what @tuudik said about Apache, except mine is using nginx to do the redirection.

not sure if this is fixable at all, but maybe it might be nice for it to come with some kind of warning label just in case. I was lucky that I was already logged in on my mobile and was able to toggle the force SSL option off from there, otherwise everyone would hav

[2016-04-08 01:29] root-dir commented on #2718
Make sure the user running the app has write permissions on /tmp/ufs

[2016-04-08 02:25] mylesw-luma commented on #2764
+1 for this

[2016-04-08 04:56] geekgonecrazy commented on #795
@freddielam this is for sure an easy way of accomplishing this.  😄

[2016-04-08 05:06] geekgonecrazy commented on #2754
@twhiting your description of how slack is doing it sounds very appealing.

Notify logged in session.  If they don't read it in x amount of time notify the next method.

Say I run out for a cup of coffee.  I've only been gone for 4 minutes and someone sends me an urgent message that the server just crashed.  I won't even see that message at all until I get back.

But if that message notified deskt

[2016-04-08 05:35] twhiting commented on #2754
@geekgonecrazy Good catch, I have mobile push set to all messages so technically that should send everything to my phone, your right.  Although I'm still not convinced that notifications are working on our end.  I haven't received a single notification all day with every client logged out except my nexus 6p.

Like I noted, a slack like mobile notification system would be amazing for shops like our

[2016-04-08 05:38] geekgonecrazy opened #2812 "Inbox style push notifications"
Currently the newest push notification overrides the last push notification.

On iOS I don't believe you have much choice in the matter.  But on Android we have a couple of different types of notifications to allow stacking of notifications.
### Threading

You would increment an id every message and it would let you show multiple messages.  This would do for single threaded conversations.

Just li

[2016-04-08 05:42] geekgonecrazy commented on #2754
@twhiting I also spent a think a day or more trying to figure out why notifications weren't working :smile:  Its really hard to test getting all sessions disconnected.

If you get them to your user when you do the push test it should be functional.  If you don't even on the push test... then you might need to clear tokens push tokens for your user.  I can walk you through that if that is the case

[2016-04-08 05:50] twhiting commented on #2754
@geekgonecrazy When I click the "Send a test push to my user" button I **do** get the test notification on my phone.  After I got that working I then clicked the log out of all locations button and then logged out/in on my android phone when I went to class today.  I haven't received a single notification on my phone all day.

Thoughts?

[2016-04-08 05:56] geekgonecrazy commented on #2809
I agree.  This would be nice, instead of having to do something like ^^ What do you think?

I've done that and had someone send a message before I was complete, kinda throws things off a bit

[2016-04-08 05:59] geekgonecrazy commented on #2802
Probably a dupe of #2588

[2016-04-08 06:01] geekgonecrazy commented on #2807
Can you verify if he wasn't naming to the same name as any other group or channel?  Or that it didn't include any special characters?  I think the error on this isn't super clear.  So just want to make sure its not it being unclear and it was a valid new name.

[2016-04-08 06:05] geekgonecrazy commented on #2804
@lvh1 That's exactly what that option does.  Just verified it.

@corecache can you give that option a shot and see if that does the trick for you?

[2016-04-08 06:07] geekgonecrazy commented on #2791
@sampaiodiego might have some insight into this.  I know we started investigating this.

[2016-04-08 06:10] twhiting commented on #2809
Currently the upload field looks like this

<img width="501" alt="screen shot 2016-04-08 at 12 06 58 am" src="https://cloud.githubusercontent.com/assets/10718586/14375363/e8ecc314-fd1d-11e5-96b0-cc3d20650ea4.png">

Adding a textbox above / below the image where we could add a message in would be great.  Ideally Github handles this **very** well.  It allows you to upload a file and continue writing

[2016-04-08 06:10] geekgonecrazy commented on #2784
@vaggosifa can you be more specific?  Which part of enabling end to end encryption?  There is a lot of parts to doing end to end encryption.  Some including SSL.  Which is something the person setting up would handle.

So will need more details.  :smile:

[2016-04-08 06:19] geekgonecrazy commented on #2584
@etb09 did you get this figured out?

You'd set your environment variable `MONGO_URL` something like this:

`MONGO_URL=mongodb://username:password@127.0.0.1:27017/meteor`

[2016-04-08 06:20] twhiting commented on #2809
So overall mashing github's file upload / commenting style on rocket.chat, it'd look something like this:

<img width="1378" alt="screen shot 2016-04-08 at 12 16 39 am" src="https://cloud.githubusercontent.com/assets/10718586/14375542/5425ead8-fd1f-11e5-91b0-a4939e5fd3de.png">

Hope that makes sense.

[2016-04-08 06:35] geekgonecrazy commented on #2809
Hm...  How about this.

If you are typing a message and you paste or attach an image.  It would go inline like you have illustrated above.

If you just click attach and don't have a message you'd be able to type a message to send along with the image or file?

[2016-04-08 06:40] twhiting commented on #2809
Sounds great to me, this would help people like me that sometimes are writing long technical posts that ideally should all be one post instead of a bunch of posts split up by file uploads and images.

[2016-04-08 07:42] zxweed commented on #2801
Why don't use the click on filename to download?

[2016-04-08 08:27] corecache commented on #2804
@lvh1 and @geekgonecrazy: I don't want the login form to be omitted completely. The Admin user of the RC should still be able to use the user/pass login formular, while users authed by external services will use their Login method at the Login layout.

The Option you described above hides the username/password field completely, it is not collapsed, but "omitted" - here is the difference:

Hidden:

[2016-04-08 08:28] Laisky commented on #2801
@zxweed Click on the filename just display the image. and there is nothing happened when I click the non-medie file(such as .pdf or .rar).

[2016-04-08 08:32] corecache commented on #2804
Also I wanted to note that "Show form-based Login" should really be called "Enable/Disable form-based login" as it has the potential to lockout admnis aswell - or at least warn users about it :)

[2016-04-08 09:54] zxweed commented on #2801
I have checked it now (version 0.25) - the pdf file was succesfully downloaded by click on the filename

[2016-04-08 10:16] lwrbakro commented on #741
+1

[2016-04-08 10:38] zxweed opened #2813 "Drag scrollbar by mouse only does not disable the autoscroll mode"
Your Rocket.Chat version: 0.25

If I read history and new message arrived - the chat was scrolled down to the new messages. How can I disable this mode?

[2016-04-08 11:40] zxweed opened #2814 "Make the mention by click on username"
Your Rocket.Chat version: 0.27

It would be useful to paste the mention into message bar by mouse click on the username (may be with ctrl/alt modifier)

[2016-04-08 11:50] #810 closed

[2016-04-08 12:13] bott0r commented on #2378
Another alternative is to just have different colors in the Userlist. i.e. Admin red, voice blue, normal black

[2016-04-08 13:26] ChanningMorris commented on #2807
I was able to change the room to what he wanted it named, so I'm pretty sure it wasn't an invalid name or duplicate room name.

I have been able to recreate the problem though.  I created a test user on our instance this morning, created a private group, and I'm unable to change the name.  I named the room "testgroup" on creation and have tried editing it to "testgroupedit" and "asdf1234" - both r

[2016-04-08 13:47] honnel commented on #2766
Same problem here...

[2016-04-08 14:22] ChanningMorris commented on #2807
Just a few more data points from my testing this morning:

Enabling room editing for all users allows the test user to make the change that's throwing an error despite having owner and moderator permissions.

Removing the ability for owners and moderators to edit the channel removes the pencil button that brings up the edit box, which is expected.  Adding them back restores the pencil, but non-adm

[2016-04-08 15:17] pavankumarkatakam commented on #2766
Yeah, may there shoud be an option to choose the Headers or query to keep token.

[2016-04-08 15:26] phillc73 opened #2815 "Wordpress OAuth 3.1.96: Unable to Authenticate"
Your Rocket.Chat version: 0.25.0

I'm having trouble authenticating using the Wordpress OAuth Server plugin, v3.1.96. I've been following the information in #747 but am still striking issues. I don't know if this is because the WP OAuth Server is now a later version that the one tested in the instructions.

On the WP side:
* I've added `$me_data['id'] = $me_data['ID'];` to the filters.php file and

[2016-04-08 15:58] bgomelsky commented on #2807
I think the issue is on this line https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-channel-settings/client/views/channelSettings.coffee#L65
The if statement
`if not RocketChat.authz.hasAllPermission('edit-room', @rid) or room.t not in ['c', 'p']` should use `rid` instead of `@rid`

[2016-04-08 16:01] pandel opened #2816 "LDAP - user field map - gather name from multiple LDAP fields"
Hi!

Would it be possible to extent the user field map to let the name (not the username used for login) to be constructed out of multiple LDAP fields? We don't have some kind of "fullname" field in our AD configuration, but "givenName" and "surname". So we'd like them to be combined to the full name.

I tried combinations like this, but it surely didn't work:
{"givenName sn":"name", "mail":"email

[2016-04-08 17:29] engelgabriel commented on #2813
Autoscroll is turn off when you scroll up, and the flag appears to alert about new messages.

![image](https://cloud.githubusercontent.com/assets/1000217/14392129/509b8540-fd96-11e5-9c49-46f2b7b3be08.png)

[2016-04-08 17:37] MaxKK commented on #2779
Ok, it was a problem with SMTP. Working again. Thank you.

[2016-04-08 17:37] #2779 closed

[2016-04-08 18:08] zxweed commented on #2813
This mode does not work always. For example, I read the history very far away from current line and I me constantly throws back on every new message

[2016-04-08 18:22] engelgabriel commented on #2813
do you see any errors on the console log?

[2016-04-08 18:51] zxweed commented on #2813
No any message in console, browser - Firefox for Windows, version 45

[2016-04-08 18:55] engelgabriel commented on #533
@kramer65 This has been big investment for us. We have already spent over 15k USD on development, and probably need another 15k USD to finish.

[2016-04-08 18:57] engelgabriel commented on #1374
@kentonv Is it not working on the current version at Sandstorm?

[2016-04-08 19:01] kentonv commented on #1374
@engelgabriel You pushed a release a few days ago, so yes, it works now. :)

[2016-04-08 19:24] zxweed commented on #2813
The problem was reproduced if I scroll history via drag scrollbar by mouse only, not by the keyboard or mouse wheel.

[2016-04-08 19:34] sampaiodiego commented on #2791
livechat is broken on `master` branch (and the 0.25 version as well).
but it's already fixed on `develop` branch..

@engelgabriel should we release a hotfix version?

[2016-04-08 20:11] phillc73 commented on #2815
I installed the older 3.1.7 version and still receive the error:

`
{"error":"redirect_uri_mismatch","error_description":"The redirect URI provided is missing or does not match","error_uri":"http:\/\/tools.ietf.org\/html\/rfc6749#section-3.1.2"}
`
The URL in the pop-up login window includes the following:

redirect_uri=http://myrcinstance.com/_oauth/wordpress

This is exactly the same URL I have e

[2016-04-08 20:23] Telemakhos commented on #658
Watching... :+1:

[2016-04-08 20:46] phillc73 commented on #2815
I have followed the instructions in #747 and created a custom RC OAuth entry, just calling in "wordpresscustom". I updated the details in my WP OAuth Client details.

This has overcome the "redirect_uri_mismatch" error. The pop-up window presented me with the WP login screen. This is with "Require Exact Redirect URI" checked in the WP OAuth Server settings.

Unfortunately, after logging in, the po

[2016-04-08 21:25] #2766 closed

[2016-04-08 22:54] jclabaugh commented on #1859
This would be huge for us in the Enterprise.

[2016-04-09 00:26] RichardFoxworthy commented on #1861
When I delete a Channel, then recreate a new channel with same name, all the old messages reappear in the new chanel

[2016-04-09 01:03] zpallin opened #2822 "Telephone numbers after 11 numbers in succession"
Your Rocket.Chat version: (0.25.x)

For some reason, having 11 numbers in succession automatically makes those numbers a "telephone number". Meaning, clicking on it has the effect of calling a number... except not really.

I'm not sure why this is the case, but it seems like a bug, or just a poorly implemented feature (no offense, I could be wrong).

If Rocket Chat intends on making "tel:" links f