[2016-08-29 14:41] alfredbez commented on #4132
Have you tried <kbd>CTRL</kbd>+<kbd>P</kbd>?

[2016-08-29 14:50] #613 closed

[2016-08-29 15:29] Silvenga commented on #3951
I don't know. What I was really hoping for is API upgrade paths for non-JS libraries. Lot's of breaking changes without warning or an upgrade path really sucks for other open source projects. Since many of my tests are broken I

[2016-08-29 16:26] DavePS opened #4135 "Automate a message with the steam browser protocol"
Rocket.Chat version: latest

Hey and thanks for the work on RocketChat,

Like I said in the title, I wanted to know how to make a custom message (automatically) every time that a user send a link like 'steam://connect/1.0.0.27:27015' on the chat it will be renamed to "Join the game" for example. All of that for the Steam browser protocol.

Thanks in advance.

[2016-08-29 16:53] iamkarlson commented on #4132
@alfredbez Great! Exactly the same what I'm looking for!! But is it any search messages shortcut?

[2016-08-29 17:39] aldarionsevero commented on #4050
Hi,

We have the same problem here.  If any user shares an http link, and the preview is shown, the browser complains about it. http links without preview does not break the ssl. Disable just the http link preview would be really nice.

[2016-08-29 18:21] luanguimaraesla commented on #4050
Same problem here

[2016-08-29 18:38] alexgleason commented on #4131
I'm also having this issue. I have 3 users:

* alex (admin)
* Rocket.Cat
* marykate (user)

When I try to change any of marykate's credentials, it pops up with that error: "Removing the last Admin is not allowed"

The only workaround is to delete the user and add them again with the correct credentials.

[2016-08-29 18:39] alexgleason commented on #4131
Relevant commit? (19 days ago) https://github.com/RocketChat/Rocket.Chat/commit/03f3db2588fc914569f8e2c2200032d6e17694eb

[2016-08-29 18:47] alexgleason commented on #4131
Pinging in @timkinnane

[2016-08-29 19:18] bhbarbosa commented on #4123
OK, this configuration works, looked like it was really a problem on my desktop.

@MartinSchoeler feel free to update wiki if this helps. Thank you!

[2016-08-29 19:18] #4123 closed

[2016-08-29 19:22] bhbarbosa commented on #741
Please make "Offline Email Notifications" the same way "Merge private groups with channels". Of course this is an User choice, but at least for me, the default "opt in" for every DM/Mention is a killer. Make a default option come from the server properties.

[2016-08-29 19:30] graywolf336 commented on #4116
Currently those are not possible, but if someone is up to adding the new features we'd gladly help them get those features planned out and added. :+1:

[2016-08-29 19:32] graywolf336 commented on #4103
@FibreFoX It'll get added back into the system when the server gets started again.

[2016-08-29 19:41] graywolf336 commented on #4064
@basvdheijden Yes, the build is very slow. You could remove some of the internal packages you no longer need however a tip I've learned is don't stop the server itself when developing as it will catch all the edits and rebuild faster once it's back up.

As already mentioned by @MartinSchoeler, this is a problem with large Meteor applications and Rocket.Chat isn't the only one affected by it. You c

[2016-08-29 19:41] #4064 closed

[2016-08-29 19:50] graywolf336 commented on #4062
How does `Embed Link Previews` sound? @FibreFoX

[2016-08-29 19:54] graywolf336 commented on #1659
@Syirrus `Administration -> Message -> Embed`

[2016-08-29 20:02] graywolf336 commented on #4037
@RocketChat/core Whatever happened to our report message feature we used to have on mobile? Does that only exist on the phones now? As I couldn't find it on the desktop with the other buttons

[2016-08-29 20:07] graywolf336 commented on #3998
Closing as it is a duplicate of #3582

[2016-08-29 20:07] #3998 closed

[2016-08-29 20:13] FibreFoX commented on #4062
@graywolf336 sounds very good :D now i would understand it more clearly, thanks !

[2016-08-29 20:15] #4062 closed

[2016-08-29 20:21] graywolf336 commented on #3983
1. This was enabled via #4127.

The other two are not currently not possible, please open a new issue for each one individually so it can be tracked by itself.

[2016-08-29 20:21] #3983 closed

[2016-08-29 20:23] graywolf336 commented on #3978
Also a duplicate of #3050.

[2016-08-29 20:23] graywolf336 commented on #3963
Duplicate of #3050.

[2016-08-29 20:23] #3963 closed

[2016-08-29 20:34] graywolf336 commented on #3945
@curtisclark Can you verify this is still happening with the latest version? As I just tried it locally, on windows, and it was working fine:

![image](https://cloud.githubusercontent.com/assets/850391/18066431/06794b4a-6dfe-11e6-9c68-4eab85996638.png)

[2016-08-29 20:36] graywolf336 commented on #3943
This is possible with the latest version: `Administration -> Layout -> User Interface`

![image](https://cloud.githubusercontent.com/assets/850391/18066497/4d0a02b6-6dfe-11e6-8b2b-253c49cc9fa6.png)

[2016-08-29 20:36] #3943 closed

[2016-08-29 20:38] graywolf336 commented on #3940
@RocketChat/core I experienced this the other day as well. It will get through the process of changing it but then the error happens and now you've got messages with the new username yet when you send messages you've still got your old username.

[2016-08-29 20:46] #3985 closed

[2016-08-29 21:00] aldarionsevero commented on #4050
This happens even in your demo... http://imgur.com/eQxPyOV

[2016-08-29 21:09] graywolf336 commented on #3909
Any errors happening in the logs? If so, can you paste them?

[2016-08-29 21:10] asthomasdk commented on #3830
it would also be good for the caller to get a notification during the outgoing call.

[2016-08-29 21:10] MightyPixel opened #4140 "Audio call sound disappears in certain cases"
Hi, I really like Rocket.Chat+, I think I just found a small bug, there is a way to go around it so it's not such a big deal, but here's how I think it can be reproduced: when I start the application (win 7 x 64, Rocket.Chat+ 1.3.1) and call someone (audio call) - when I go to another menu in the program (like Room Info, or another chat / general channel) the audio stops, when I go back to User in

[2016-08-29 21:39] Valiantiam opened #4141 ""No users in this role" after adding users."
Your Rocket.Chat version: 0.37.1

When editing permissions - I cannot see anyone under certain default or custom roles. I can see myself if I add myself to a specific role for a room, however those that have the permission already, or that I add after, don't show up.

They DO get the permissions though. This leaves me with a big problem. I can't remove people from permissions!!

![image](https://c

[2016-08-29 21:46] graywolf336 commented on #3889
@Truative I'm going to go ahead and close this, however once you post more information about your setup please feel free to open again so we can help you get this figured out.

[2016-08-29 21:46] #3889 closed

[2016-08-29 21:46] #4131 closed

[2016-08-29 23:32] timkinnane commented on #4131
How embarrassing 😝
Thanks for fixing my bad @sampaiodiego, @graywolf336, @engelgabriel

[2016-08-30 01:35] curtisclark commented on #3945
We were able to fix it by stopping mongodb, running a repair and starting everything back up. So far the issue has not popped back up.

[2016-08-30 01:56] mixrat commented on #3515
I think this would be great as well. Right now you would have to ask the customer to choose which department (website) they are contacting.

[2016-08-30 03:25] takavfx commented on #3934
Hi I still need its quick fix.

Is that just because of this part? : https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-integrations/client/views/integrationsIncoming.coffee#L21-L24

Could it be fix by changing like this? : https://github.com/takavfx/Rocket.Chat/blob/incomingWebhook-behind-reverseProxy/packages/rocketchat-integrations/client/views/integrationsIncoming.coffe

[2016-08-30 04:26] sureshdba2003 opened #4143 "Having issues with LDAP sync"
Your Rocket.Chat version: 37.1

Unable to sync users with LDAP

![image](https://cloud.githubusercontent.com/assets/16605816/18076038/f5b04f4e-6e97-11e6-8ba8-e8617ca774fa.png)

[2016-08-30 04:39] iamkarlson commented on #4132
Huh, my colleague found that SHIFT+Enter create new line in input box instead of sending message. Is it any shortcuts help like common '?' ?

[2016-08-30 04:39] TheReal1604 commented on #4131
@graywolf336, @engelgabriel, @sampaiodiego Thanks for the really fast bugfix! Awesome.

[2016-08-30 04:48] graywolf336 commented on #3945
Ah okay, so seems to maybe have been a mongodb error as sending messages with those shouldn't cause any issues on our side due to it just being in a text field. If this happens again, feel free to open the issue with more details. :+1:

[2016-08-30 04:48] #3945 closed

[2016-08-30 07:11] alfredbez commented on #4132
see also #3281 and https://rocket.chat/docs/user-guides/keyboard-shortcuts/

You can edit the page here: https://github.com/RocketChat/Rocket.Chat.Docs/blob/master/4.%20User%20Guides/Keyboard-Shortcuts/README.md

[2016-08-30 08:21] timkinnane opened #4145 "Backwards migrations cause errors for local development"
0.35.0+

While testing different branches and doing local development I'm switching versions a lot, backwards and forwards. It seems the migrations script can only handle forward migrations though, because when I go from 0.37.x back to 0.35.0 (e.g. for instances that were stable with specific hubot-adaptor versions) I get the following error:

[code]

I can fix it using `meteor reset` but that los

[2016-08-30 10:53] wargamesqcf opened #4146 "Can't edit usernames anymore"
Your Rocket.Chat version: 0.37.1

I upgraded from .35 to .37.1 recently and encountered a weird error, I can't seem to edit usernames for people.

http://i.imgur.com/qW4W4s4.png?1

[2016-08-30 13:58] kashifnawaz123 commented on #3988
MartinSchoeler , Could you or anyone from Rocket team can let us know when this would be fixed , its bit annoying behavior, and i feel like i missed something important message but nothing is there to read

[2016-08-30 14:44] lucasvanhalst commented on #4145
just set the migration version to whatever you want in the database

[2016-08-30 14:59] Valiantiam commented on #4146
Also have this issue as well.

@wargamesqcf are you having similar issues with permissions by chance? Such as people not showing up in channel roles that you know they are?

[2016-08-30 16:33] wargamesqcf commented on #4146
I don't think, or atleast not yet? we just upgraded 2 days ago, and just ran into this problem.

[2016-08-30 16:54] Sing-Li opened #4148 "Ability to reduct, edit or remove emoji reactions"
Your Rocket.Chat version:  0.37.1

Our entire message can be edited except for attached emoji reaction(s).

Just for consideration due to recent need to edit a mis-fired reaction.

[2016-08-30 18:03] phutchins opened #4149 "Users cannot register after being auto added by slack-bridge"
Your Rocket.Chat version: 1.3.1

After a user is added automatically by the slack-bridge, the user cannot register as it says that they are already registered.

If there is some other way for them to  register, it is not clear.

[2016-08-30 19:00] lucasvanhalst commented on #4132
@iamkarlson that is standard behaviour that happens with every textarea input in most browsers.

[2016-08-30 19:26] xenithorb commented on #3611
Duplicates #3724

[2016-08-30 19:51] xenithorb commented on #3300
Gents, can we bump the priority of this? Pretty standard stuff for an app with a multitude of oauth providers.

I should be able to login with any one of my Oauth providers and it should take me to the same account.

[2016-08-30 19:53] xenithorb commented on #3300
- My Account -> Preferences should have an "Oauth Accounts" section. I imagine the procedure would be similar to registering with an Oauth account, but instead of making a new account, it would just link this Oauth ID to this RocketChat user.

[2016-08-30 19:55] xenithorb commented on #4149
Hi! Welcome,

The Rocket.Chat version we're looking for is of the server. i.e. 0.37.0, 0.37.8, etc.

I do believe this is an extension of #3300

[2016-08-30 19:56] xenithorb commented on #3300
#4149 would likely benefit from this

[2016-08-30 20:26] xenithorb opened #4150 "Link/credentials not properly passed to browser when clicking from Rocket.Chat.Electron"
Your Rocket.Chat version: 0.38.0
#### Problem:
- Rocket.Chat.Electron is configured to open links in external browsers (as it should be)
- Right now, when uploading a file or picture ("media object") - the room is populated with both a link "File Uploaded: " - and a download button
  ![image](https://cloud.githubusercontent.com/assets/10273878/18105384/2d8c8cea-6ecd-11e6-86d7-c00098c89ddf.png)
- T

[2016-08-30 20:49] #3863 closed

[2016-08-30 21:14] AlecTroemel commented on #4116
Do you think all closed livechat's should be archived & searchable (they are saved in the DB), or would it be something an agent chooses to do (archive) when they close a chat? I've been working on a page that allows any livechat agent to search by phrase through all their chats as well as look through all their conversations.

<img width="1266" alt="screen shot 2016-08-30 at 4 13 04 pm" src="http

[2016-08-30 21:19] michaeltlombardi commented on #4116
I think it probably makes the most sense for all closed livechat's to be archived and searchable! What you're working on there looks stellar - is it limited to only the livechats an agent participated in?

Ideally, it would make sense for all agents/managers (in my case, everyone, but we're a small team) to be able to search through all past livechats. That keeps the knowledge available and search

[2016-08-30 21:27] AlecTroemel commented on #4116
Maybe the scope of searches should be a settable (just your own, department, all agents), because I can see both sides. Its nice to have that info available, but some may not like all chats being visible to all agents (especially when there are a lot of agents).

[2016-08-30 22:31] timkinnane commented on #4145
Thanks @lucasvanhalst. Where would I run that? I can't call it from Meteor shell or console because startup doesn't complete. If I need to make file changes each time I check out a different version, that's a little tedious, but I guess it could work as a temp solution.

That seems to be the purpose of the `RocketChat.Migrations.migrateTo` method run on startup. I'm wondering if there's something

[2016-08-30 22:43] engelgabriel commented on #4149
@marceloschmidt what is the expected behaviour here? Should just users request a new password? Can we automate that for active user? Like just sending them a welcome email with a temp password when they get imported?

[2016-08-30 22:46] engelgabriel commented on #3300
The oAuth is already supposed to link the two accounts if they have the same email. Is this not happening?  Bare in mind that some oAuth services don't share the email info.

[2016-08-30 22:50] xenithorb commented on #3300
I think that's what's happening for me, then, as I hide my public email in GH as xenithorb@users.noreply.github.com ...

Is there a workaround for this? I feel like as an admin I should be able to point-click and merge accounts together.

One use case is that I have a user that created a new GH account and logged in and it made a new account, yet we have a long history on his other username

[2016-08-30 23:11] engelgabriel commented on #3300
Admins should be able to point-click and merge accounts together, I agree.

And also users should be able to merge accounts using some verification steps.

[2016-08-30 23:12] xenithorb commented on #3300
Then we agree, excellent! Thanks for your input, Gabriel

[2016-08-30 23:18] michaeltlombardi commented on #4116
Configurable is probably the right way to go.

[2016-08-30 23:46] phutchins commented on #4149
Should have grabbed server version. It is 0.37.1.
@marceloschmidt & @xenithorb, I would expect to be able to attempt to register, then to be notified that I've already had a user created for me from X service (Slack in this case) and all I need to do is verify my email address and set a password.

Since the user isn't already expecting to have an account, they probably should be lead through a ver

[2016-08-30 23:54] phutchins opened #4152 "Sometimes when switching to admin view, channel is still displayed and admin text overlays channel"
Your Rocket.Chat version: 0.37.1

Sometimes when you click the administration link on the drop down (on the desktop app), the channel view does not disappear and the admin view is rendered over it. It is not clickable. You can then click back on a channel to have it re-render then go back to admin and it usually works.

I saw something similar where I could not render some admin pages on Android.

[2016-08-30 23:55] phutchins opened #4153 "Admin view should disappear when you click the X on the admin menu"
Your Rocket.Chat version: 0.37.1

When you click the X in admin, the admin view should then disappear but you have to click on a channel to remove that view.

It should then display the most recently viewed channel.

[2016-08-30 23:57] rodrigok commented on #4019
@alexandrezia @AstrosMX @mpetersen42 Can you test the version 0.38? Should be solved now.

[2016-08-31 00:03] AstrosMX commented on #4050
I have a workaround for this problem. To implement it, you have to make sure that your rocket.chat server is not requiring outgoing connections through port 80 except for showing the http link preview. If your rocket chat server is using this port to perform any other action, you can not use this workaround. Also, you must be using iptables to set your firewall rules.

These are the steps I sugges

[2016-08-31 01:02] brendanheywood commented on #4108
A bit more context, this breaks down into two use cases:

* [ ]  Handling channel renamed more elegantly. ie if a channel is renamed we should record an internal alias of the old channel name so that api hooks and mentions in history and other places still work and link to the new room.

* [ ] alias'es for the sake of aliases, eg #Australia #au #ozzie all go to the same place

[2016-08-31 01:09] AstrosMX commented on #4019
Sure. I'm testing version 0.38 right now. I'll tell you if I find anything.

[2016-08-31 01:14] alexandrezia commented on #4019
Seems to be Ok now,

[2016-08-31 01:28] MandMDub commented on #1034
Is there any upcoming progress on this? I would really love to have this feature or let me know if anyone has any temporary ways to add 2fa to rocket chat.

[2016-08-31 02:22] timkinnane commented on #4145
Actually getting the same error on Heroku now. This instance uses persistent external (mlab) mongo, so I can't just `meteor restart` it. I wasn't even changing version (both were 0.37.1), just  deploying a feature branch to test. The branch builds and works locally, but can't deploy.

[code]

[2016-08-31 03:23] mrplow commented on #4096
@teamfighter
[code]

[2016-08-31 05:23] eirua commented on #4105
Are you guys working on an Zapier app? Is there a beta invite available?

[2016-08-31 05:46] sinteur commented on #1034
if you use nginx you can add this: https://github.com/RobThree/TwoFactorAuth

[2016-08-31 05:55] Saelvarath commented on #4146
@Valiantiam I'm working with @wargamesqcf on the same chat and we do have an issue with people not showing up on the list of users in a permissions group if the group is over a certain size. On the Users page when you scroll to the bottom it will load more but here it just stops.

![untitled](https://cloud.githubusercontent.com/assets/11372109/18117547/864a975a-6f1d-11e6-9272-2aaa989ebd00.png)

[2016-08-31 06:22] eirua opened #4154 "Mautic Integration Guide"
Hey guys,

Would love some guidance on integrating Rocket.Chat with Mautic. I see you have something planned for Zapier.  [Mautic has a beta invite out](https://zapier.com/developer/invite/43460/9a4d44ae0e3aff741b647237a2a6883e/).

I'm a beginner but I tried with a webhook from Mautic to Rocket.Chat directly. The tests succeed but I just get empty posts in my channel with no content (just avatar a

[2016-08-31 06:58] djeber commented on #4148
i think we should have an option to set and limit reactions like facebook reactions for example but giving admins the option to choose and set the reactions they see them good for their community

[2016-08-31 08:36] FibreFoX commented on #4050
@AstrosMX another workaround would be to disable preview of shared links ;) but very nice hack you provided

[2016-08-31 09:46] lucasvanhalst commented on #4145
You would run that on the mongodb console. You can just connect to it using a mongodb client (just the command 'mongo' should do if you have it installed)

[2016-08-31 10:07] timkinnane commented on #4145
Doi! Of course, thanks @lucasvanhalst.
I think the issue should stay open though, until some change allows backward migrations to be handled more gracefully.

[2016-08-31 10:10] Molle500 commented on #4153
@phutchins

Made an issue about this already. #3195

[2016-08-31 11:20] #4153 closed

[2016-08-31 11:22] phutchins commented on #4153
Ok, thanks @Molle500! I searched but didn't see it. Much appreciated.

[2016-08-31 11:25] phutchins commented on #3195
I'm on board with this. We're currently assessing a number of different chat solutions for our business and I really love RocketChat. This is one of the 2 or 3 things however that makes the experience feel clunky which doesn't really fit into the rest of the experience which is very clean and smooth!

Would love to see this changed... If its fairly simple and someone can point me in the right dire

[2016-08-31 12:36] xadcoh opened #4155 "Can not relogin as LDAP user"
Your Rocket.Chat version: (0.38.0)

Hi. Steps to reproduce:
1. Fresh install with docker-compose
2. Register new local user (creating admin user)
3. Configure LDAP (ldapserver as FQDN or IP (different subnet from rocket.chat server), domain base as top level of catalog, Domain Search User, Domain Search Password, save, test) - OK
4. Login as LDAP user - OK
5. Logout
6. Login as same LDAP user agai

[2016-08-31 12:46] subesokun opened #4156 "Error while renaming user"
Hi,

for some reason I get the following error when trying to rename a user (i.e. change the username):

[code]

After the error occurred the user won't see any channels as all roles have been remove from his user.

Your Rocket.Chat version: 0.37.1

[2016-08-31 12:48] propertunist opened #4157 "why does avast security app detect 'doubleclick' tracking on my rocketchat installation?"
i just activated the avast web security plugin for firefox in win 10 and it shows that my rocket chat installation is using 'doubleclick' in some way, presumably a tracking cookie is in there somehow. anyone know how/why that is? i am viewing rocket chat via it's direct URL and not via an iframe. i am not seeing any doubleclick references on any other page in my site. thanks

[2016-08-31 12:56] rodrigok commented on #4019
Awesome, please reopen this issue if the problem persists.

[2016-08-31 12:56] #4019 closed

[2016-08-31 12:57] Venomen commented on #4146
Same situation in 0.38.0 (its related to #4081 ):

I20160831-14:54:06.211(2) Exception while invoking method 'insertOrUpdateUser' MongoError: The positional operator did not find the match needed from the query. Unexpanded update: mentions.$.username at Object.Future.wait (/home/rocket/Rocket.Chat/programs/server/node_modules/fibers/future.js:398:15) at [object Object].<anonymous> (packages/meteor

[2016-08-31 13:07] wargamesqcf commented on #4146
Ours is.

I20160831-05:42:03.601(0) Exception while invoking method 'saveUserProfile' MongoError: The positional operator did not find the match needed from the query. Unexpanded update: mentions.$.username     at Object.Future.wait (/app/bundle/programs/server/node_modules/fibers/future.js:398:15)     at [object Object].<anonymous> (packages/meteor/helpers.js:119:1)     at [object Object].MongoCo

[2016-08-31 13:10] subesokun opened #4158 "E-Mail address in reset password form is case-sensitive"
Hi,

we had the strange error that a user couldn't reset his password. It turned out that the user had a E-Mail address looking like "Some.User@company.com" but he used the E-Mail address "some.user@company.com" when trying to reset his password.

Following error gets then logged:

[code]

Is there an option to make the E-Mail validation case-insensitive?

Thanks a lot :)

Your Rocket.Chat version

[2016-08-31 14:01] nokobon commented on #1723
I have come up with a solution. Pull request coming soon if I don't find any issues with my code.

Both custom and default emoji work seamlessly in webhook avatars, reactions, autocomplete, and the emoji picker.

![image](https://cloud.githubusercontent.com/assets/828413/18131644/39c2bf7a-6f59-11e6-9c81-458829c15562.png)

[2016-08-31 14:20] wargamesqcf commented on #4146
this is what i have after going to v38

I20160831-14:20:09.451(0) Exception while invoking method 'insertOrUpdateUser' MongoError: The positional operator did not find the match needed from the query. Unexpanded update: mentions.$.username     at Object.Future.wait (/app/bundle/programs/server/node_modules/fibers/future.js:398:15)     at [object Object].<anonymous> (packages/meteor/helpers.js:119:

[2016-08-31 14:24] tanc commented on #1723
Great! Look forward to trying this

[2016-08-31 14:58] geekgonecrazy commented on #1034
Nice.  Had never seen that before.

Also alternative would be force south provider and do two factor at that level.   Not ideal

[2016-08-31 14:59] alexweissman commented on #1723
Yesss!  I have so many things I need to emote!

[2016-08-31 15:06] bhbarbosa commented on #3761
Can confirm, it happens also on both Firefox and IE, normal and incognito modes.

[2016-08-31 15:07] geekgonecrazy commented on #1723
@nokobon awesome!  Looking forward to testing your changes.  This has been a much desired feature by many!

[2016-08-31 15:34] akashkaveti opened #4160 "LDAP Configuration"
I have tried to configure Our Rocketchat with LDAP configuration. When I tested the connection it seems fine, but when I tried to login to rocketchat with my LDAP credentials I got an error that the user couldn't be found.

[2016-08-31 16:18] danielbressan commented on #3876
Finally found some time to take a look at this. There were two problems:

1) After starring and unstarring, if you're the only one that starred the message, it leaves a blank array which is truthy. In the star-message "MessageAction" validation - "and not message.starred" will always be false then.

2) In the same situation if you're *not* the only person to star the message, the array will contai

[2016-08-31 16:38] tgy opened #4161 "How is Rocket.Chat better than Mattermost?"
I just stumbled upon this project and it sounds interesting!

I am using Mattermost at work, I'd like to know how Rocket.Chat compares to Mattermost, how it is better (if it is). I checked the issues and couldn't find anything about this so I think it's good to clarify this!

[2016-08-31 17:41] DavePS commented on #4135
up ?

[2016-08-31 17:51] graywolf336 commented on #4081
Duplicate of #3940

[2016-08-31 17:51] graywolf336 commented on #4146
Duplicate of #3940

[2016-08-31 17:51] #4146 closed

[2016-08-31 17:51] graywolf336 commented on #4156
Duplicate of #3940

[2016-08-31 17:51] #4156 closed

[2016-08-31 17:53] graywolf336 commented on #4152
How can we reproduce this?

[2016-08-31 18:00] graywolf336 commented on #4112
This is the expected result in this case, as that'd open a can of worms.

@RocketChat/core what are your thoughts on this?

[2016-08-31 18:11] #2032 closed

[2016-08-31 18:20] tunglam14 commented on #4023
👍   I have the same problem

[2016-08-31 19:18] geekgonecrazy commented on #4112
Yeah this is javascript we are talking about here.  Expensive I/O operations can block the event loop.  If that happens the chat would lock up on your users

[2016-08-31 20:17] #4115 closed

[2016-08-31 20:29] Informatic opened #4166 "Default channels not joined on iframe login"
Your Rocket.Chat version: 0.38.0

Hello,
When user is created in MongoDB collection using external client for iframe integration, user does not join default channels automatically. Doing `rocketchat_room.update({'default': True}, {'$addToSet': {'usernames': USERNAME}})` does not seem to do the trick either. (even though entry is added to respective records)
What is the proper way to make user join

[2016-08-31 21:24] #4121 closed

[2016-08-31 21:35] beatelite commented on #658
What's the good word on this so far?

[2016-08-31 21:49] drickerusa commented on #3619
I have the same issue. I started with version 0.33.0 and now am running the latest 0.38.0 but I didn't notice this until now. Not sure if it was introduced in an earlier version. I get the same exception on the server log as listed above. I use SAML to create the users, but currently it creates them as first letter last name. We are changing all those users to first.last name for easier name searc

[2016-09-01 00:22] timkinnane commented on #2255
@dcsan my team has been thinking about this also. There's A LOT of non essential code running and contributions that might only be useful for a handful of people. I've been advised to disable my contributed packages by default, but I think this has been inconsistently enforced.

I have a solution in mind, let me know if it works for you and I'd be really happy for some help on it.

1. Admins need

[2016-09-01 00:23] MandMDub commented on #1034
Is there any other way or any progress of this being added to rocket chat?

[2016-09-01 00:47] dupree972 commented on #4121
Rocket.Chat version .38
How come it is not possible to attach a source code file .c from a Mac into rocket chat? I added text/x-c and have text/plain as a mime type.. is there a different media type it expects?

Sent from my iPhone

[2016-09-01 00:50] timkinnane commented on #3446
@gkarmas this should be handled by #1859 or #2255. I think the solution for this issue is still to disable (comment out) hex colors package by default and if you need it, turn it on.

[2016-09-01 02:37] laomouzi commented on #2254
Hi guys, is there any update on this front? Can't wait to see how the migration fixes the issues and improves things. @dcsan @rodrigok @engelgabriel

[2016-09-01 05:44] russcalderon commented on #3618
It is working fine now since Aug 22 iOS update

[2016-09-01 06:33] Franziskus1988 opened #4168 "Add possibility to faster switch conversation"
I think a cool feature would be a possiblity to fast switch conversations without using the mouse.

Like the CTRL+P functionality in VS Code or F2 (Quick command) in Vivaldi.

Alternativ would be a searchbar in the conversations overview bar.

Your Rocket.Chat version: 0.38.0

[2016-09-01 08:36] subesokun commented on #3940
I'm currently in the process of migrating all self-registered users to LDAP in our Rocket.Chat instance but therefore a bunch of users needs to be renamed so this issue currently blocks the user migration :(

[2016-09-01 09:32] jhagberg commented on #1723
Yes we would also like to try this out! Very good for team spirit!

[2016-09-01 11:05] khobbits commented on #4133
Keep in mind that the userlist does not automatically pull in new users, even when pressing the sync button.
In 37.1, users do have to actually attempt to login, before they appear.
In 38.0, there is an option to import users from AD.

[2016-09-01 11:11] khobbits commented on #4077
If you are working on the code, and need to modify the css, you need to edit the less files, and less to generate the css files.

The css is a combination of these:
https://github.com/RocketChat/Rocket.Chat/blob/3fb03b5f87246a3210d31788fd3a217c630cdfef/packages/rocketchat-theme/server/server.coffee#L39

The ?<code> is to prevent css caching,

If you are just wanting to customise the css, you can d

[2016-09-01 11:40] khobbits commented on #3870
I think you need at least one 'default' channel.
In my case, I renamed and archived the general channel, and made a new one.

[2016-09-01 12:16] MartinSchoeler commented on #4168
Hey @Franziskus1988 there is a ctrl+p shortcut, take a look at this https://rocket.chat/docs/user-guides/keyboard-shortcuts/

[2016-09-01 12:24] vrooze commented on #4060
I get this too.
I've been through all of the process as far as I can trace and all mentions work except @all you simply get a response of :
`{
  "success": false
}`

The query is simple:
`payload:{"text": "Alert test @all"}`

I was originally using a custom user but like the OP, I shifted to rocket.cat. I have given the bot group permissions to mention-all and it made no difference.

[2016-09-01 13:05] ankibalyan opened #4169 "MongoDb: High CPU Usages"
I've created the custom build from rocket.chat master branch, After successful installation It worked well for 1 day, now it is consuming almost all the cpu processing, after that it keep restarting the app.

Here is Rocket.chat version details
`{
  "version": "0.38.0",
  "build": {
    "date": "2016-09-01T09:06:08.033Z",
    "nodeVersion": "v0.10.40",
    "arch": "x64",
    "platform": "darwin",

[2016-09-01 13:16] joschi commented on #2725
@engelgabriel I think the parsing of the message payload is broken. The message itself is using valid Slack syntax (and is working with Slack and Mattermost): https://api.slack.com/docs/message-formatting#linking_to_urls

[2016-09-01 15:01] stevenhfotofix commented on #2588
This is still an issue in 0.38.0 - Yahoo messenger shut down today, and we are hoping to migrate a large number of users to our rocket chat install - but we can't, because they will have access to names we don't want them to use.  Please take a look at this again.

[2016-09-01 15:10] vetash commented on #4152
@graywolf336 #3868

[2016-09-01 15:12] rasos commented on #3841
Usually you get much better connectivity results with an additional TURN server. In case the firewall / routing set-up does not allow p2p connections, a TURN server mirrors the streams.

[2016-09-01 15:17] salamachinas commented on #1615
+1

[2016-09-01 15:52] graywolf336 commented on #4152
Thanks @vetash. Closing as this is a duplicate of #3868

[2016-09-01 15:52] #4152 closed

[2016-09-01 15:53] graywolf336 commented on #4168
Closing as it is part of Rocket.Chat already, the link Martin linked to shows that :+1:

[2016-09-01 15:53] #4168 closed

[2016-09-01 15:56] graywolf336 commented on #4158
Was fixed via 7acbcfd848f835939600b69cc8facafc8af22643

[2016-09-01 15:56] #4158 closed

[2016-09-01 15:57] bhbarbosa commented on #3081
Hello, I can confirm it.

Rocket.Chat version: 0.37.1

Actually, when you create a private group with uppercase letters, Rocket.Chat converts it to lower case. However, you can rename the group with uppercase letters after creation on the right panel.

@marceloschmidt is it possible to make it just create with uppercase (remove the lowercase function when creating groups):

[2016-09-01 16:17] Syirrus opened #4170 "BUG: 400 When Trying To Enable Bad Word Filter"
Your Rocket.Chat version: (make sure you are running the latest)

If you set the bad word filter to true, you get a 400 error.

LOG BELOW:
Exception while invoking method 'saveSetting' Error: Match error: Expected string, got boolean     at check (packages/check/match.js:33:1)     at [object Object].Meteor.methods.saveSetting (packages/rocketchat_lib/server/methods/saveSetting.coffee:5:3)     at [

[2016-09-01 16:21] graywolf336 commented on #4170
This was just fixed in beta builds.

[2016-09-01 16:21] #4170 closed

[2016-09-01 16:33] drickerusa commented on #3619
I wanted to followup with this. I can change the email address but not the username.

[2016-09-01 16:34] NonlinearFruit opened #4171 "Font Awesome Icon Support"
Incorporating [Font Awesome's](http://fontawesome.io) awesome icon set would be great, especially if the normal `:emoji:` worked with it. Something like `:fa-github:`. Their [license](http://fontawesome.io/license/) says that it is free for company and open source projects. [Here](https://github.com/FortAwesome/Font-Awesome) is their github repo.

Somewhat related to the Custom Emoji request: #416

[2016-09-01 17:02] graywolf336 commented on #4171
@nokobon by chance, how hard do you think this would be? I only ask you since you recently have been in the emoji code..

[2016-09-01 17:06] nokobon commented on #4171
I don't think it would be very hard. In my pull request, I adapted the original rocketchat-emojione package to work as a common package for supporting multiple packages.
What I think would be nice is a server setting to enable/disable certain packages. That would allow, for example, disabling emojione and exclusively using Font Awesome.

[2016-09-01 17:26] graywolf336 commented on #4171
You could add settings to allow the enable/disabling of certain types of emojis.

[2016-09-01 18:26] graywolf336 opened #4173 "Can't Change a Room's Name"
Your Rocket.Chat version: develop as of this issue creation

![image](https://cloud.githubusercontent.com/assets/850391/18179329/92632efa-7047-11e6-989d-279f9ca69f56.png)

Happens when you try and change your room's name

[2016-09-01 21:15] graywolf336 commented on #3891
Can't test until #3940 is fixed, sadly.

[2016-09-01 21:31] mixrat commented on #3843
Same issue here in Rocket.Chat 0.37.1
Problem goes away when I restart the Rocket.Chat instance.
Happens about once a week.

[2016-09-01 22:39] IQ2022 commented on #3919
any update on the desktop top sharing with voice enabled????

[2016-09-02 01:51] RichardFoxworthy commented on #3835
I've got this issue again - this time via my Electron native client on Mac. The underlying RC is v35. It looks OK when accessed by my own Crome browser, but same issue occurs for my colleague

[2016-09-02 02:16] JackDragon commented on #4161
http://www.akitaonrails.com/2016/08/13/choosing-mattermost-over-rocket-chat-and-slack
Here is why some people choose mattermost over rocketchat. Rocketchat is heavy on the client and is limited to mongo for now, though it's supposed to be db agnostic so postgres can come later.

A counter argument for rocketchat is that it's more flexible on more platforms, built on meteor/electron.

[2016-09-02 04:05] wargamesqcf opened #4174 "DMs causing lag"
Your Rocket.Chat version: v38

Some of the people that runs roleplaying scenes for my chat seems to have massive amounts of lag when they start multiple dms with people to the point where they get disconnected from the chat.

I am sure its not their computers because this is one of the computers having issues and not how few DMs they have open to cause this issue.
http://i.imgur.com/LtR6Rgj.png

[2016-09-02 07:19] ryannealmes commented on #3761
Happens for us on Chrome :/

[2016-09-02 07:43] Schwoebel commented on #1838
I echo what MatthewFellows is saying, I think this ticket is for changing emoji sets.  Not for just adding custom emoji's like #1723 is talking about.

[2016-09-02 10:07] antoine-duchenet opened #4175 "Outgoing Webhooks, null response statusCode"
Our Rocket.Chat version: 0.38.0

Every call to an Outgoing Webhook gives us such a message :

[code]

The result is the same with GifRocket and our custom webhooks.

I quickly looked a the Rocket.Chat source code and it seems that the `result` object of our HTTP response is null.

Any idea ?

[2016-09-02 10:57] baierjan opened #4176 "Bad character encoding in name/username during first SAML login"
Your Rocket.Chat version: 0.38.0

Hello, I found a problem with SAML integration. We use SSO solution, which can successfully send an login response to Rocket.Chat together with some attributes to populate name and e-mail. However, there  is an issue with encoding if the name contains accented characters.

Example value of string from SAML: C\u0004B\fernC\u0003B=
Stored in Rocket.Chat: CBernCB=

[2016-09-02 11:00] baierjan opened #4177 "Accept username from SAML response"
Your Rocket.Chat version: 0.38.0

Hi, our SAML identity provider can provide multiple attribures: email, username and name as well. Rocket.Chat should be able to accept username from the response (with "Generate username" switched to false) instead of trying to guess one from email/name.

[2016-09-02 12:50] lucasvanhalst commented on #1838
With the PR #4167 from @nokobon I think this will be easier to implement, although I'm not entirely sure.

[2016-09-02 12:57] phutchins commented on #4152
Great, thanks!

[2016-09-02 12:58] phutchins commented on #3868
This happens probably %20 of the time for me. Would love to see this one fixed...

[2016-09-02 13:21] candro opened #4179 "Autocomplete Messages"
Planned reports prepared or whether the auto-creation of history to live chat?

[2016-09-02 13:22] candro commented on #4179
with the same package from mizzao autocomplete. who can do?

[2016-09-02 14:12] alexandrezia opened #4180 "Create a toggle to disable login if ldap account does not authenticate"
Your Rocket.Chat version: ( 0.38.0 )

We would like to deny login if the ldap account fail to authenticate.
Is it possible to create a toggle to enable or disable local authentication?

Thanks in advance

[2016-09-02 14:20] strk commented on #298
I cannot find the password change link, where is it ?

[2016-09-02 14:27] marceloschmidt commented on #298
It's under My Account / Profile.

![image](https://cloud.githubusercontent.com/assets/1986378/18207147/40f466f6-7100-11e6-9485-9ea17698fb97.png)

[2016-09-02 14:30] strk commented on #298
Thanks !
May I suggest to request entering the new password twice ?

[2016-09-02 14:34] Disar commented on #3661
Yes this would be nice. I use Rocket.chat with my development team but some of our members are not located here at where we work. It would be nice to create a voice channel within the same room so I can directly talk to them without having to create a new room or make everyone else have it blasted trough their headphones.

[2016-09-02 14:40] rockneverdies55 commented on #4064
It's crazy how slow it is. I was surprised how the core team could stand with this.

[2016-09-02 14:52] nokobon commented on #1838
Yes, it would be easier to implement with how I added custom emoji. Different sets of emoji could be added by creating other packages, but there would also need to be a setting or something to enable/disable emoji sets.

[2016-09-02 15:29] jszaszvari commented on #4161
Mattermost also costs $$$ for any sort of enterprise features like Rebranding or AD/LDAP Integration

[2016-09-02 15:36] jszaszvari commented on #4160
What type of LDAP Server is it?

Active Directory?
OpenDirectory (Apple)?
OpenLDAP?

[2016-09-02 15:40] jszaszvari commented on #4068
I agree with @alexandrezia - Any features that compromise a users privacy or inability to conduct private conversations is a big no go for the organisation I am deploying this for.

[2016-09-02 18:31] engelgabriel commented on #1268
Is this now covered by the notifications settings tab on each channel?

![image](https://cloud.githubusercontent.com/assets/1000217/18214242/50784d5a-7122-11e6-85bd-9cefdfa0cdf4.png)

[2016-09-02 18:52] engelgabriel commented on #3177
Hi @Burstaholic do you know if this is still happening?

[2016-09-02 18:54] engelgabriel commented on #3160
This seems to be fixed now, can you please confirm?

[2016-09-02 18:57] engelgabriel commented on #3160
@MartinSchoeler please check if this is still a problem?

[2016-09-02 19:01] #3821 closed

[2016-09-02 19:09] engelgabriel commented on #31
This is still necessary

[2016-09-02 19:10] engelgabriel commented on #76
@MartinSchoeler please verify this one.

[2016-09-02 19:23] IQ2022 commented on #3607
i like this idea to be used along with text chat, sometimes you dont want to type just voice chat, and to have ability to moderate it with raising hands even cooler :D

[2016-09-02 19:32] linjan opened #4182 "Google doesnt provide GCM API keys anymore"
Hello!

1 September Google announced this (@ https://developers.google.com/cloud-messaging/ )
"Firebase Cloud Messaging (FCM) is the new version of GCM. It inherits the reliable and scalable GCM infrastructure. See the FAQ to learn more. If you are integrating messaging in a new app, start with FCM. GCM users are strongly recommended to upgrade to FCM, in order to benefit from new FCM features tod

[2016-09-02 19:57] #4177 closed

[2016-09-02 20:19] AlecTroemel commented on #4004
dont know if this is still a problem for you, but I was experiencing it today. Check this line here to see if it matches yours https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-theme/assets/stylesheets/utils/_colors.import.less#L1153

I think the name of that less variable was changed recently so as KirbySSmith suggested the less wasn't compiling. Updating this file resolv

[2016-09-02 20:22] rockneverdies55 opened #4183 "placeholder overlaps with prepopulated text in login page"
![placeholder-overlap-text-rocketchat-login](https://cloud.githubusercontent.com/assets/4588562/18217180/4e16030c-7129-11e6-9a5c-d74a2f6b8c27.png)

Textbox placeholders in login page overlap its content till clicked to enter data...

[2016-09-02 21:27] lucasvanhalst commented on #31
Yeah it would be great, after a few hundred messages it gets really unresponsive and is quite annoying to use

[2016-09-02 23:29] jszaszvari commented on #4135
Don't try and bump your own threads. This isn't a forum.

[2016-09-02 23:54] RichardFoxworthy commented on #3207
v0.37, the Embed Ignored Hosts seems not to work at all. I used this on a domain that had previously been set up for an incoming webhook, and the embed was auto attached every time. I've added the domain to Embed Ignored Hosts (using forma '<domainname>.com') but the embed continues to occur. The actual URL being post in is unique every time. What am I doing wrong?

[2016-09-03 00:49] RichardFoxworthy commented on #3207
sorry, my bad. Is not unique URL, so presumably that's why the embed reoccurs. How can I flush the oembed cache?

[2016-09-03 03:12] mixrat opened #4184 "LiveChat widget still appears even when offline and "display offline form" is set to False"
Rocket.Chat v0.37.1

I have set "Display offline form" to False in both the Administration->LiveChat menu and the LiveChat->Appearance menu but the Offline form still appears when LiveChat is offline...

![selection_513](https://cloud.githubusercontent.com/assets/20234985/18222331/aea311dc-71e8-11e6-9430-39246dc2edba.png)

![selection_514](https://cloud.githubusercontent.com/assets/20234985/182223

[2016-09-03 04:13] msears commented on #658
We are also looking for this, a multi-tenant architecture for rocket.chat, preferably with subdomains for each tenant. Anyone else have any progress here to report, am thinking about adding a bounty if that would help.

[2016-09-03 05:43] msears commented on #1177
I am so confused. So #202 and #1175 appear to give slack compatible integrations ... but **how do I actually integrate Trello** into rocket.chat??

[2016-09-03 06:45] yarone opened #4185 "Mobile push notifications not working for "All Messages""
Rocket.Chat version: latest. Issue with notifications on iOS.

When changing the notification setting for a particular channel to "Mobile Push: All Messages" we are not getting alerts for all messages.

Mention alerts are working, however.

[2016-09-03 06:46] yarone commented on #4185
Posted this issue per Rodrigo's request.

[2016-09-03 06:58] HelloAllan opened #4186 "Toggle option for blocking invalid /commands"
Your Rocket.Chat version: 3.8

Would it be possible to get the blocking invalid /commands as a toggle option in the settings pane?

Having it blocked by default affects users wishing to use custom / webhooks as well as pasting UNIX file paths in chats.

[2016-09-03 08:28] TheReal1604 commented on #4185
@yarone Can completely confirm that. I had some strange situations. For example: Started with version 0.17.0 and created a channel with incoming integrations for weather. After all updates I got new messages via push, but since I switched the button for mobile push messages from off to on (just for debugging purposes) I get no push messages anymore.. :( In all new created channels I get the deskto

[2016-09-03 09:17] siomosp commented on #2959
+1

[2016-09-03 09:48] Franziskus1988 commented on #4168
Sorry guys. I've read the docs mutliple times, but always misted that.

[2016-09-03 12:16] mnt commented on #4173
Is it possible to tell me the input you wanted to change your room's name ?

[2016-09-03 12:30] linjan commented on #4185
Maybe it linked to #4182

[2016-09-03 13:28] LeDistordu commented on #3940
0.38.0
+1

[2016-09-03 14:18] rodrigok commented on #4182
@linjan We do not support FCM yet, but google still does support for GCM

[2016-09-03 14:19] linjan commented on #4182
@rodrigok is there any way to get GCM key?

[2016-09-03 14:19] rodrigok commented on #4185
@linjan It's not related

[2016-09-03 14:24] rodrigok commented on #4182
@linjan Yes, as we always did, https://github.com/raix/push/blob/v3.x/docs/ANDROID.md

[2016-09-03 14:27] linjan commented on #4182
@rodrigok Now its not possible, because Google forces FCM. Link from API list leads to https://firebase.google.com/docs/cloud-messaging/
![Google API List](https://dl.dropboxusercontent.com/1/view/ut604smnjb80ks5/Apps/Shutter/918bff62.png)

[2016-09-03 14:37] rodrigok commented on #4182
![](https://d17oy1vhnax1f7.cloudfront.net/items/0u27322L0b2F0u3F2y3a/Screen%20Recording%202016-09-03%20at%2011.32%20AM.gif)
![](https://d17oy1vhnax1f7.cloudfront.net/items/0z1l0O232F3E1409443K/Screen%20Recording%202016-09-03%20at%2011.33%20AM.gif)
![](https://d17oy1vhnax1f7.cloudfront.net/items/2C330p2l0m1q2c0i1Q3A/Screen%20Recording%202016-09-03%20at%2011.34%20AM.gif)

[2016-09-03 14:42] linjan commented on #4182
Thanks!

[2016-09-03 14:42] #4182 closed

[2016-09-03 18:25] pgtgrly opened #4188 "Problem connecting rocketchat to smtp (postfix) hosted on the same LAN server"
Your Rocket.Chat version: [latest version as on Sept 4 2016]
I have been testing out rocketchat with Docker (compose 1.8.0) on the LAN.I set it up along with a mailserver on the same server machine(ubuntu 14.04 server).The SMTP is send only and is working fine and I am able to send mails. Here is the yml file part hat needed to be tweaked:

rocketchat:
  image: rocketchat/rocket.chat:latest
  envi

[2016-09-03 18:41] rodrigok commented on #4185
@yarone I can't reproduce the problem

[2016-09-03 19:09] rodrigok commented on #3940
Fixed via https://github.com/RocketChat/Rocket.Chat/pull/4122 in develop right now, will be available in version 0.39.0

[2016-09-03 19:09] #3940 closed

[2016-09-03 19:11] rodrigok commented on #4106
@unquietwiki Can you paste a print screen of the error?

[2016-09-03 19:42] rodrigok commented on #3891
I can't reproduce, please reopen if the problem persists

[2016-09-03 19:42] #3891 closed

[2016-09-03 19:48] unquietwiki commented on #4106
@rodrigok I won't be back at the office for a few days, so I won't be able to do much debugging. The login error was your standard "username or password didn't work" error. One interesting detail: I had followed up with my IT superiors, and not all our LDAP records may have correct email addresses in them. As folks tried the system, it seemed to evolve that some users could get in if they used the

[2016-09-03 19:48] unquietwiki commented on #4106
Ack, accidental close

[2016-09-03 19:57] rodrigok commented on #4106
Can you post an example of your `LDAPdomain`?
Did you set the list of blocked or allowed domains?

[2016-09-03 20:10] unquietwiki commented on #4106
@rodrigok You know, I had on the original install, and haven't (that I recall) on the new one.

I won't be back at the office for a few days, so I can't get you any immediate feedback. I figure if you're hunting down the profile error, its going to be in one of these two files, but I'm not familiar enough with the code to know where an LDAP-derived account gets saved into the MongoDB originally (I

[2016-09-03 21:13] lucasvanhalst commented on #3138
Bump, this is still happening but it's worse now, no preview at all for youtu.be links.
This is the error that occurs
[code]
version 072c5b0a

[2016-09-03 21:30] rodrigok commented on #4106
@unquietwiki This error is related with email validation, that's why I need to know your configuration. Feel free to replay when you get back to your work.

[2016-09-03 21:39] jszaszvari commented on #4188
Your getting a connection refused by your mail server that's what the
ECONNREFUSED
is about.

You need to look into the logs of that mail server to see why it's refusing
the mail .

On Sunday, September 4, 2016, Pranav Garg <notifications@github.com> wrote:

[2016-09-03 21:51] unquietwiki commented on #4106
@rodrigok Acknowledged. A heads up: I hadn't configured email validation on either install, so is that something I should be enabling? Or something I could help you nail down when I do get back in?

[2016-09-03 22:20] takavfx commented on #3934
OK, this is not only the issue.

I tested and the result was failed: the settings are visually reset on the incoming webhook's view.

[2016-09-03 22:29] #4180 closed

[2016-09-04 01:12] rodrigok commented on #4106
@unquietwiki Just verify these settings and send me an example of your login and domain

[2016-09-04 09:33] artkill opened #4191 "different avatar for each channel ?"
Hi! 🙂 Is it possible to have a different avatar for each channel ?

thx

[2016-09-04 13:44] akashkaveti commented on #4160
Open LDAP

[2016-09-04 16:46] LeDistordu opened #4192 "Multiscreen > Notification on the screen where the application is located"
Currently if I have the app on the left screen, notifications are displayed on the right screen. Would be better if notifications are on the same screen as the application or make an option

[2016-09-04 16:49] LeDistordu commented on #3374
I need this !!! +1

Split and Detach are both good options ! Split is priority for me, for web and desktop.

[2016-09-04 17:47] DavePS commented on #2011
My solution if you want a custom url

`.rocket-loader {
	display: block;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	background: url(CUSTOM_IMG_URL) no-repeat;
  	width: 180px;
  	height: 236px;
  	padding-left: 180px;
}`

[2016-09-04 19:13] DavePS commented on #4169
Please leave more informations about your installation ?

[2016-09-04 22:24] jszaszvari commented on #3605
Having the same issue here as of this-morning

In the logs

rocketchat:theme ➔ stop_rendering 344
I20160904-22:22:49.963(0) { [Error: error evaluating function `mix`: Object [object Object] has no method 'toHSL']   type: 'undefined_method',   filename: 'input',   index: 182591,   line: 7592,   callLine: NaN,   callExtract: undefined,   column: 20,   extract:     [ '\t&:after {',      '\t\tbackgrou

[2016-09-05 02:55] realcom opened #4193 "Compile time is too slow in dev mode."
Your Rocket.Chat version: latest (make sure you are running the latest)

I'm customizing rocketchat to develop my own chatting server. It's amazing good program to use.

But when I change js/coffee code, meteor automatically recompile all javascript and it takes almost 30 seconds for changing apply. Is there any solution to speed up the meteor compile time?

[2016-09-05 03:29] niemeyer commented on #3292
That's not quite right either technically or socially.

Technically, webhooks happen to be the main way offered for custom bots to be implemented, and this is the nature of webhooks. If the outgoing webhook is working at all, it's supposed to _be online_ and take the message right then. Otherwise it's broken, much like hubot could be online and broken not answering someone's message.

Socially, th

[2016-09-05 03:39] jszaszvari commented on #4191
Does not look like it - https://demo.rocket.chat/channel/support?msg=WDRrYu7SWNdusYJtM

[2016-09-05 06:21] libmaru opened #4194 "uploaded PSD file corrupted due to orientation adjusting"
`packages/rocketchat-file-upload/server/config/configFileUploadFileSystem.js`

`transformWrite` automatically adjust image orientation for any uploaded file with MIME type of `image/*`

any PSD file uploaded to local file system will be corrupted

sample: http://livven.me/uploads/psds/HTC%20Sense%20Clock%20PSD%20by%20Livven.zip

upload:
size: 2634032 bytes
md5: 2624db3292231002453d63efb8856bd7

do

[2016-09-05 06:22] libmaru commented on #4194
[sample.zip](https://github.com/RocketChat/Rocket.Chat/files/454470/sample.zip)

[2016-09-05 06:40] Hostile commented on #4040
not working RC 0.38.0

[2016-09-05 06:41] Hostile opened #4195 "Rocket Chat 0.38.0 + Hubot 0.1.4 errors"
Your Rocket.Chat version: (make sure you are running the latest)
Rocket Chat 0.38.0 + Hubot 0.1.4

`root@chat:~# docker run -it -e ROCKETCHAT_URL=chat.vodeoo.com:3000 -e ROCKETCHAT_ROOM='general' -e LISTEN_ON_ALL_PUBLIC=true -e ROCKETCHAT_USER=bot -e ROCKETCHAT_PASSWORD=bot -e ROCKETCHAT_AUTH=password -e BOT_NAME=bot -e EXTERNAL_SCRIPTS=hubot-pugme,hubot-help -v $PWD:/home/hubot/node_modules/hubot

[2016-09-05 06:44] wargamesqcf commented on #4195
because 1.4 is garbage use

hubot:
  image: rocketchat/hubot-rocketchat:v1.0.3

[2016-09-05 08:23] Hostile commented on #4195
how can i make it use thsis image ?

i did it by this command from https://hub.docker.com/r/hihouhou/hubot-rocketchat/

[2016-09-05 08:26] wargamesqcf commented on #4195
I use docker-compose

`# hubot, the popular chatbot (add the bot user first and change the password before starting this image)
hubot:
  image: rocketchat/hubot-rocketchat:v1.0.3
  volumes:
    - ./scripts:/home/hubot/scripts
  environment:
    - ROCKETCHAT_URL=rocketchat:3000
    - ROCKETCHAT_ROOM=
    - LISTEN_ON_ALL_PUBLIC=true
    - RESPOND_TO_DM=true
    - ROCKETCHAT_USER=
    - ROCKETCHAT_PA

[2016-09-05 08:31] Hostile commented on #4195
i got docker compose instales but i never used it

i have to create docker-compose.yml and past your file?

[2016-09-05 08:32] wargamesqcf commented on #4195
yep, then just docker-compose up -d hubot

[2016-09-05 08:42] Hostile commented on #4195
@wargamesqcf where do i put docker-compose.yml

/root/docker-compose.yml     ?

[2016-09-05 08:43] wargamesqcf commented on #4195
yep

[2016-09-05 08:45] Hostile commented on #4195
@wargamesqcf

didnt work our as planned :)

root@chat:~# docker-compose up -d hubot
Service "hubot" has a link to service "rocketchat" which does not exist.

[2016-09-05 08:47] wargamesqcf commented on #4195
My entire docker-compose looks like this, just need to fill in the username/password/botname stuff.

'''
mongo:
  image: mongo
# volumes:
#    - ./data/runtime/db:/data/db
#    - ./data/dump:/dump
  command: mongod --smallfiles --oplogSize 128

rocketchat:
  image: rocketchat/rocket.chat:latest
# volumes:
#    - ./uploads:/app/uploads
  environment:
    - PORT=3000
    - ROOT_URL=http://five-rings

[2016-09-05 09:00] Hostile commented on #4195
root@chat:~# docker-compose up -d hubot
Removing root_rocketchat_1...
root_mongo_1 is up-to-date
Recreating e7416ef65a_root_rocketchat_1...
driver failed programming external connectivity on endpoint root_rocketchat_1 (e75665ca639db9dabbdd812e88960dcdb254c00e8b0393183292c50ed7b25ed6): Error starting userland proxy: listen tcp 0.0.0.0:3000: bind: address already in use
root@chat:~#

@wargamesqcf

[2016-09-05 09:01] wargamesqcf commented on #4195
You already have a rocket chat instance open is what that reads.

[2016-09-05 09:08] Hostile commented on #4195
yes, but i thought its bot and chat to separate things and bot connects to chat on same 3000 port
@wargamesqcf

[2016-09-05 09:09] jszaszvari commented on #4195
Send us your docker compose file

On 5 Sep 2016 7:08 PM, "Hostile" <notifications@github.com> wrote:

[2016-09-05 09:19] Hostile commented on #4195
how do i reinstall it ?

root@chat:~# docker-compose up -d hubot
Starting root_mongo_1...
oci runtime error: container with id exists: 5e3e179b1c82d012d4cf807316513817e092ccf00ff0e9760c44ef311b30c20b

[2016-09-05 09:20] Hostile commented on #4195
mongo:
  image: mongo
# volumes:
#    - ./data/runtime/db:/data/db
#    - ./data/dump:/dump
  command: mongod --smallfiles --oplogSize 128

rocketchat:
  image: rocketchat/rocket.chat:latest
# volumes:
#    - ./uploads:/app/uploads
  environment:
    - PORT=3000
    - ROOT_URL=https://chat.vodeoo.com:3000
    - MONGO_URL=mongodb://mongo:27017/rocketchat
  links:
    - mongo:mongo
  ports:
    - 30

[2016-09-05 09:21] garychapman opened #4196 "channelSettings.coffee exceptions in Admin view"
Rocket.Chat version: 0.38.0 (running on Windows 10)

I'm seeing bugs in the latest release (both in the develop and master branches). It's probably easier to describe how to reproduce:
1. (after meteor reset and rebuilding) Create a new user, and then log in
2. Click on #general in the CHANNELS list
3. Click the (i)nformation icon on the top right to display the channel settings pane
4. Open the A

[2016-09-05 09:27] jszaszvari commented on #4195
You need to remove the current container and start again.

In the same folder as your docker file

docker-compose down

 then run

docker ps

and make sure there are no more containers running, if there are more
containers running do

docker stop <containername> (eg docker stop mongo)

then run (in the same folder as docker-compose.yml)

docker-compose up

and if that works, press CTRL+C to exit t

[2016-09-05 09:59] Hostile commented on #4195
kind of working but cant make bot join channel

`rocketchat_1 | ➔ +----------------------------------------------+
rocketchat_1 | ➔ |                SERVER RUNNING                |
rocketchat_1 | ➔ +----------------------------------------------+
rocketchat_1 | ➔ |                                              |
rocketchat_1 | ➔ |       Version: 0.38.0                        |
rocketchat_1 | ➔ |  P

[2016-09-05 10:03] jszaszvari commented on #4195
Try linking direct to the container.

 - In the same folder as compose file run 'docker-compose down'

- under the hubot section of the docker compose file

edit and Change the line
- ROCKETCHAT_URL=https://chat.vodeoo.com:3000

too

- ROCKETCHAT_URL=rocketchat:3000

then

docker-compose up

Dont use the URL or the hostname, specifying rocketchat:3000 tells it to
use the docker link your created

[2016-09-05 10:12] hExPY commented on #3870
Hi @khobbits.

we dont need any public channels.

Kind regards,

[2016-09-05 11:04] takavfx commented on #3934
Hi

I think this problem is solved by changing reverse proxy settings, by altering base url. I'm sorry to have caused you trouble.

Thanks.

[2016-09-05 11:04] #3934 closed

[2016-09-05 11:09] monika18 commented on #1059
Hello, Could anyone know about the api which gives unread message count?

[2016-09-05 11:11] frdmn commented on #3934
Glad you sorted it out👍

[2016-09-05 11:21] thecanadianbaker commented on #4193
@realcom I think this is more of an upstream issue with Meteor than with Rocket.Chat.
There is an open issue in the upstream that you might be able to contribute to and/or follow https://github.com/meteor/meteor/issues/4284

[2016-09-05 11:22] MartinSchoeler commented on #4183
@rockneverdies55 what version are you using? and in which browser?

[2016-09-05 11:22] thecanadianbaker commented on #4191
@artkill @jszaszvari can you provide a use case for the different avatars?

[2016-09-05 11:24] jszaszvari commented on #4191
I don't want it, apologies. Was just pointing out that the question had
already been answered in the chat room.

John

On Mon., 5 Sep. 2016 at 9:23 pm Jason Murray <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2016-09-05 11:28] artkill commented on #4191
Yes, i have a website for gamers.

instead of using an avatar. On my site , players would show their rank in the game.

________________________________
De : Jason Murray <notifications@github.com>
Envoyé : lundi 5 septembre 2016 13:23
À : RocketChat/Rocket.Chat
Cc : artkill; Mention
Objet : Re: [RocketChat/Rocket.Chat] different avatar for each channel ? (#4191)

@artkill<https://github.com/artki

[2016-09-05 11:39] zxweed commented on #3050
0.38 - problem exists

[2016-09-05 11:53] jszaszvari commented on #3050
I have run into the same issue. I found that doing the users first, then
doing the channels one by one seemed to let me get through it till the end.

I needed to restart the server a few times but it eventually all went
through. Very strange.

On Monday, September 5, 2016, zxweed <notifications@github.com> wrote:

[2016-09-05 11:56] Hostile commented on #4195
root@chat:~# docker-compose down
No such command: down

Commands:
  build              Build or rebuild services
  help               Get help on a command
  kill               Kill containers
  logs               View output from containers
  port               Print the public port for a port binding
  ps                 List containers
  pull               Pulls service images
  restart

[2016-09-05 11:56] jszaszvari commented on #3050
Sorry I forgot to mention, it worked much better when I was logged in as a
user that did not exist in the slack import. Not sure if related or just a
coincidence though.

I'll give the import a try in a new instance now..

I may still have a export from a few weeks ago when it was all working
fine. I'll try and do a compare as well and report back my findings.

On Monday, September 5, 2016, zxweed

[2016-09-05 12:00] myobfee opened #4197 "Rocket.Chat - Internal Server Error when attempting to join any channel beyond #general"
Attempting to go to #support and receiving "Internal Server Error"

Issue reported by several people in general channel as well

Tried disabling adblocker (ublock origin) and it did not resolve issue
Firefox (latest) dev console shows no errors.

[2016-09-05 12:03] Hostile commented on #4195
it looks like bot if not on chat but when i prv msg him i get logs,

`rocketchat_1 | ====== BEGIN MAIL #0 ======
rocketchat_1 | (Mail not sent; to enable sending, set the MAIL_URL environment variable.)
rocketchat_1 | MIME-Version: 1.0
rocketchat_1 | To: vodeooltd@gmail.com
rocketchat_1 | Subject: [Rocket.Chat] You have been direct messaged by hostile
rocketchat_1 | Content-Type: text/html; charse

[2016-09-05 12:03] jszaszvari commented on #4195
What flavour of linux is that?

Can you run 'docker-compose version' if this does not work..

Thats very strange.

Try the following for your version (use your container names if different)

root@chat:~# docker-compose stop hubot
Stopping rocketchat_hubot_1 ... done

root@chat:~# docker-compose rm hubot
Going to remove rocketchat_hubot_1
Are you sure? [yN] y

Removing rocketchat_hubot_1 ... done

[2016-09-05 12:04] jszaszvari commented on #4197
I've been seeing this in the public rocketchat room all day today.

https://demo.rocket.chat/channel/support?msg=DXbWfGStyK32ydC7W

On Mon, Sep 5, 2016 at 10:00 PM, myobfee <notifications@github.com> wrote:

[2016-09-05 12:06] Hostile commented on #4195
root@chat:~# docker-compose version
docker-compose version: 1.4.2
docker-py version: 1.3.1
CPython version: 2.7.9
OpenSSL version: OpenSSL 1.0.1e 11 Feb 2013 @

[2016-09-05 12:11] jszaszvari commented on #4195
Can you come on too https://demo.rocket.chat and send me a message and we
can work through it there and i'll post the solution here if we find it.?

There is a few more things we can try

docker-compose stop hubot
docker-compose stop rocketchat

docker-compose up -d

(just so you can run a 'docker-compose logs hubot' so we can see what the
bot is doing.)

On Mon, Sep 5, 2016 at 10:06 PM, Hostile <

[2016-09-05 12:12] Hostile commented on #4195
ok

[2016-09-05 12:28] s17t opened #4198 "Encryption chat and email notification"
Your Rocket.Chat version: 0.37.1

Encrypted chat should not send notification email regardless user settings. The sent email turn to be garbage, btw.

[2016-09-05 12:36] zxweed opened #4199 "[support] The autolinker does not decode HTML tags"
Your Rocket.Chat version: 0.38

For example - the url http://www.zerohedge.com/news/2016-07-24/nintendo-crashing-most-2000-after-admitting-limited-earnings-impact-pokemon-go shows preview as:

![image](https://cloud.githubusercontent.com/assets/16319433/18247930/3427872a-737e-11e6-9086-fb8b94941db2.png)

The host machine have the environment setting **LANG=en_US.UTF-8**

The previous release 0.32

[2016-09-05 12:40] zxweed commented on #2981
The "Quote" button has been added

[2016-09-05 12:40] #2981 closed

[2016-09-05 12:40] lunitic commented on #4199
Have the same issue in 0.36

[2016-09-05 13:06] MartinSchoeler commented on #4197
@myobfee @jszaszvari this should be fixed by now, thanks for the feedback!

[2016-09-05 13:06] #4197 closed

[2016-09-05 13:34] #3965 closed

[2016-09-05 13:38] engelgabriel commented on #2907
Hi guys, is this still a problem in the current release?

[2016-09-05 13:40] engelgabriel commented on #2839
This is configurable on

![image](https://cloud.githubusercontent.com/assets/1000217/18249517/2a2a7274-7355-11e6-8cf2-59c73c0d5b66.png)

[2016-09-05 13:48] jszaszvari commented on #4195
Hostile's issue is resolved

I've walked them through the fix for this, There was a few issues

- URL was wrong in docker-compose.yml, changed the address the bot connects to

FROM -
https://rockechat.domain.com:3000
TO
rocketchat:3000

as to use dockers internal networking.

Also, the digital-ocean guide they followed walked them through installing docker-compose 1.4 - I upgraded this to 1.8 for

[2016-09-05 13:51] engelgabriel commented on #683
@flantascience the Title will come form `Site Name` on the Admin -> General config.

[2016-09-05 14:12] engelgabriel commented on #2824
@sampaiodiego is this done?

[2016-09-05 14:48] Schwoebel commented on #1838
I think @marceloschmidt should consider re-opening this.

[2016-09-05 14:51] Schwoebel commented on #1838
Damn that was quick. Sorry I can't give your reopening this a thumbs up!

[2016-09-05 15:18] #1723 closed

[2016-09-05 15:25] rauhmaru opened #4202 "0.39 - release not found in https://rocket.chat/releases/latest/download"
When I try to access:
https://rocket.chat/releases/latest/download

I get the answer
release not found

[2016-09-05 15:45] engelgabriel commented on #4202
It takes some time for the CI t o build. Should be all good now.

[2016-09-05 15:45] #4202 closed

[2016-09-05 16:11] engelgabriel opened #4203 "Exception while invoking method sendForgotPasswordEmail"
[code]

[2016-09-05 16:29] sampaiodiego commented on #2824
yes!

[2016-09-05 16:29] #2824 closed

[2016-09-05 16:48] rauhmaru commented on #4202
Thanks @engelgabriel !

[2016-09-05 18:32] #3316 closed

[2016-09-05 19:48] Lucky21110 opened #4205 "Android Notifications doesn't work if Windows Client is open"
Your Rocket.Chat version: 0.39.0

Hello,

I'm not able to receive mention notifications anymore on my cellphone if I leave my PC logged on with Rocket Chat client open.
That's annoying because if I forget to close rocket chat client before I leave home/office I'm not alerted anymore on my android phone until I close the client on the PC.

Is it possible to receive alert in both way ?

Regards

Arn

[2016-09-05 20:29] pabloocastro opened #4206 "LDAP password field brings database value"
Your Rocket.Chat version:0.39

If you change type of password field from "password" to "text", it's possible to see the database value.

[2016-09-05 21:08] geekgonecrazy commented on #1034
@MandMDub
Not currently.  But as mentioned right above this would be the "other way"

[2016-09-05 21:26] geekgonecrazy commented on #3050
@jszaszvari that might actually be an important piece.  I can see things struggling a bit if you are logged in as a user present in the import.

@graywolf336 thoughts?  Think this would be a difference between it working and not working?

[2016-09-05 21:28] #4203 closed

[2016-09-06 00:36] thursdaybw commented on #1446
I experience this regularly.
Here is a screen shot of it happening, it goes pretty quick but you can see, type `@matt[tab]` and it completes with `@all`

Ok.. well, no.. doesn't support videos. :( not even 14k sized ones. issue queue yak shearing here I come.

[2016-09-06 01:06] timkinnane commented on #4103
Related #3078, #3869, #4016

[2016-09-06 01:19] jszaszvari opened #4207 "Slash command lets you make channel with capital letters"
On the latest

/create MyNewChannel

will create a channel with the Capital letters in tact

Doing it through the sidebar removes all capitals from it

and both are seperate channels

/join mynewchannel

vs

/join MyNewChannel

<img width="200" alt="screen shot 2016-09-06 at 11 18 52 am" src="https://cloud.githubusercontent.com/assets/872463/18259109/bc4db142-7423-11e6-88ae-6c34cc92abef.png">

Tha

[2016-09-06 01:25] jszaszvari commented on #4207
Whoops, Just found this - I guess this can be closed?

https://github.com/RocketChat/Rocket.Chat/pull/4051

[2016-09-06 04:40] TheReal1604 commented on #1034
@mandmdub Its Not ideal, like the solutions above, but you can work with client certificates too. It's some sort of 2FA. ;-)

[2016-09-06 06:13] mmeinert commented on #1034
@ninja- could you please tell me/us how you did it ?

[2016-09-06 07:17] kaos commented on #4161
AD/LDAP was the single most important feature that had us switch from Mattermost, as well as better HA support. So far, it's been a pleasure to work with, but there are some nagging glitches in our setup (sharding issues, probably related to GridFS, and sporadically too large avatar images).

[2016-09-06 08:10] Molle500 commented on #4207
Better fix so you can create channels with capital letter in sidebar instead as well :)

[2016-09-06 08:57] realcom commented on #4193
Thank you. I'll must learn about the process of meteor upstream progress. Anyway I have one question about the compile time.For both Me and my teammate, we both experience It almost take 30 seconds when meteor catch the change, and refresh the code... @thecanadianbaker is it proper time for upstream issue at rocketchat?

[2016-09-06 10:35] Franziskus1988 commented on #1593
Do you have an up-to-date documentation about the code highlighting topic with a list of supported languages and explanation on how to use this. It seems this site is outdated: https://sourceforge.net/p/rocketchat/wiki/markdown_syntax/

[2016-09-06 11:20] MartinSchoeler commented on #4207
@jszaszvari since there is someone already on that and there is already a issue for that i will be closing this issue, but anyway thanks for the report!

[2016-09-06 11:20] #4207 closed

[2016-09-06 11:28] jszaszvari commented on #4207
Yes apologies.  Only saw the fix as soon as I posted it.

Thanks

On 6 Sep 2016 9:20 PM, "Martin Schoeler" <notifications@github.com> wrote:

[2016-09-06 11:30] Hostile commented on #897
So we are year later. Was that sorted?

[2016-09-06 11:31] #4195 closed

[2016-09-06 11:49] jszaszvari commented on #1034
I wonder if this will work at the moment through the SAML provider using someone like https://duo.com

I might give it a go.

[2016-09-06 11:57] Forrest-Hu opened #4209 "error: Can't install npm dependencies. Are you connected to the internet?"
Your Rocket.Chat version: (make sure you are running the latest)0.38.
While building package rocketchat:
error: Can't install npm dependencies. Are you connected to the internet?

I do not know why,who can help me? thank very much.

[2016-09-06 12:34] subesokun opened #4210 "Improvements regarding display of username"
Your Rocket.Chat version: 0.39.0

Hi,

in our Rocket.Chat instance we've migrated now all users onto LDAP but their usernames are now quite cryptic and hard to remember. So it's now very difficult to identify users in the member list of a room or also in the direct messages section. Ideally Rocket.Chat would provide an option to:
- [ ] display user alias (i.e. full name) in the direct messages lis

[2016-09-06 13:13] MartinSchoeler commented on #4206
@pabloocastro could you give more details?

[2016-09-06 14:07] phrag commented on #3919
bump... would love this killer feature to work! Have intermittent 'permission denied' errors on chrome / firefox / safari (OSX 10.11.6) trying to share desktop. When it works, it works really well 👍

[2016-09-06 14:26] skizzors opened #4212 "Changing a username causes user to be unable to access chat"
Your Rocket.Chat version: 0.37.1
These are our current settings
![screen shot 2016-09-06 at 9 21 36 am](https://cloud.githubusercontent.com/assets/17693312/18277330/b22c2410-7413-11e6-980d-a022568748ea.png)
Every time an admin changes someone's username it makes the sidebar invisible and chat inaccessible. We are forced to delete their account and let them create a new one with the new username.

[2016-09-06 14:33] istvano opened #4213 "use Rocket.Chat as a component"
Hi Guys,

It is a fantastic little piece of software. On our we are about to start developing a commertial application. One requirement of the application is a slack like ( much simpler ) collaboration element.

I was wondering if from licencing point of view.

- Can we use Rocket.Chat as part of our commercial offering?
- What is the best way to embed Rocket.Chat into a ReactJS application as a p

[2016-09-06 15:22] jszaszvari commented on #4004
I've been having exactly the same issue recently.

I need to restart multiple times before I can update any colors in the Web UI

In debug mode the console spams errors like this when trying to save

rocketchat_theme server.coffee:107 rocketchat:theme ➔ stop_rendering 444
{ [Error: error evaluating function `mix`: Object [object Object] has no method 'toHSL']
  type: 'undefined_method',
  filename

[2016-09-06 15:41] adesimonepeak6 commented on #3929
FYI, still seeing the issue in 0.39.0 as well

[2016-09-06 15:45] pabloocastro commented on #4206
On image, you can see the password field and on inspection tool is possible to change the field type (from password to text). This exposes the field value and you can see the value brought from database. Maybe, you can bring '*' instead the real value of the field.

![pass-field](https://cloud.githubusercontent.com/assets/6740209/18280248/ce1dbc40-742e-11e6-8b4a-28a3167f4763.png)

[2016-09-06 15:47] danielbressan commented on #3929
I'm seeing this as well. Mongod version 3.2.8

[2016-09-06 16:06] lucasvanhalst commented on #4213
I'm pretty sure you can do whatever you want - see the license here https://github.com/RocketChat/Rocket.Chat/blob/develop/LICENSE

And the best (and probably only) way to embed it into your existing website is by using an iframe.

[2016-09-06 16:07] Valiantiam opened #4214 "Request - Integration for PHPBB3.1+"
This is a request for some sort of community or official support for phpbb3.1 authentication tie in.

Currently we make use of this https://github.com/EoleDevel/authphpbb3/ and have made use of other integrations into the phpbb authentication db.

Is it possible we could get something setup for this along with SSO between them as well, taking advantage of the phpbb cookie to obtain the sessionid?

[2016-09-06 16:16] istvano commented on #4213
Hi,

thanks very much for your response.

Kind Regards

[2016-09-06 16:16] #4213 closed

[2016-09-06 16:28] markshuttle opened #4215 "Provide clear log and error messages for SMTP connections failures"
Your Rocket.Chat version: snap (stable channel, so you ensure I am are running the latest ;))

Hi, love the snap install and am wanting to integrate it further into our setup. We have an SMTP server but it requires STARTTLS on the connection. I am unable to send welcome emails, and THINK this is the issue.

[2016-09-06 17:07] rockneverdies55 commented on #3919
@geekgonecrazy - it might make sense to take [jitsi guys](https://github.com/jitsi/jitsi-meet/graphs/contributors)'s opinion on this.

[2016-09-06 17:14] zxweed commented on #3375
Any changes? The 0.38 release has the same problem..

[2016-09-06 17:18] engelgabriel commented on #4215
Thanks @markshuttle we will investigate that. Do you know that you have to restart the server when you change the SMTP settings? It is a limitation of Meteor that we have already submitted a PR to fix and will be merge back into our app next week.

[2016-09-06 18:18] bhbarbosa commented on #4210
I think this is related to [#3851](https://github.com/RocketChat/Rocket.Chat/pull/3851), still +1.

[2016-09-06 18:31] zxweed commented on #4199
The 0.39 release has the same problem. Any help, please?

[2016-09-06 18:46] adesimonepeak6 commented on #3929
Seems like this issue is related to GridFS.  I disabled using GridFS for attachment & avatar storage for now.  So far the instance has been stable for the last few hours.

[2016-09-06 18:53] KirbySSmith commented on #4004
@jszaszvari In the Layout->Colors section what are your settings for "Primary Background Color" and "Quaternary Font Color"?

[2016-09-06 19:00] danielbressan commented on #3929
@adesimonepeak6 Thanks for the update! Let me know if you still get an error with GridFS disabled.

[2016-09-06 19:02] jszaszvari commented on #4004
@KirbySSmith

Primary Background Color = #2a3542

Quaternary Font Color = #e1e1e1

This is now the 3rd seperate instance of mine where the layout changing features have just completly stopped working.

I just rebooted 3 times, waited 30 mins, and it's working again, but i expect it to break at some time in the near future as it never stays working for long.

`I20160906-16:33:52.308(0) { rgb: [ 42,

[2016-09-06 19:22] MistaKevin commented on #3919
@isymchych can you provide any context to https://github.com/RocketChat/Rocket.Chat/issues/3919#issuecomment-240501898?

[2016-09-06 19:23] frdmn commented on #3281
+1

[2016-09-06 19:24] frdmn commented on #46
Would be indeed quite helpful, especially for new users of Rocket.Chat.

[2016-09-06 20:31] amaraka commented on #3654
Hi Sing-Li I have installed Rcoket Chat with Nginx SSL so it loads fine with HTTPS and video messaging and audio works in Chrome but Jitsi never populates at all say cannot connect to DNS server and I select True SSL and add in the HTTPS link of my Jitis server.  On its own Jitsi works fine..  Any idea why its not populating?  Please advise..  Thank you Zion

[2016-09-06 20:34] amaraka opened #4216 "Jitis not populating at all in Rocket Chat with HTTPS Nginx configured"
Your Rocket.Chat version: (make sure you are running the latest)
I have installed Rocket Chat with Nginx SSL so it loads fine with HTTPS and video messaging and audio works in Chrome but Jitsi never populates at all say cannot connect to DNS server and I select True SSL and add in the HTTPS link of my Jitis server. On its own Jitsi works fine.. Any idea why its not populating?

Enabled True   Fals

[2016-09-06 21:13] mpetersen42 commented on #3929
I only have this issue when running rocket.chat on multiple servers at this time and that's a not a strict requirement for me.  I did a mongodump and mongorestore but otherwise nothing has changed (2 data nodes and arbiter.)  This is on rocket.chat 0.37.1 - 0.39.0.

I could disable GridFS since that's clearly the root cause, but that kind of kills any semblance of HA (I would need to implement HA

[2016-09-06 21:14] amaraka commented on #1434
Anyone have any idea how to change the Rocket logo on the landing page?  I read some said you have to compile it inside of Meteor?  Not familar with compiling Meteor are the any recommended compiling apps for this that anyone recommends or any ideas? Thanks,

[2016-09-06 21:15] niemeyer opened #4217 "@nick-prefixed messages are not sent out to webhooks"
Your Rocket.Chat version: 0.39.0

After much testing, it's quite clear that any messages prefixed by some `@nick` do not get sent out into the webhook server. Tried everything I could think of.. even using the nick as an explicit trigger. Still doesn't work. Every other message gets sent properly.

[2016-09-06 21:15] KirbySSmith commented on #4004
@jszaszvari
That error "no method 'toHSL'" is thrown if a value passed into the less color function is not a valid color string.

It looks like there is a bug with the color administration page that may be related to your issue. If you type just the hex digits and click off the field, '#' is automatically added to the beginning. However when this happens it does not trigger the template event to u

[2016-09-06 21:50] #2254 closed

[2016-09-06 23:32] drickerusa opened #4221 "Email address changes cause Rocket Chat to view user as a new user"
Rocket.Chat version: 0.39.0.. and all others back to 0.33.0. I currently have this system in a pilot scenario.
We have RC setup in our DMZ and using SAML as the mechanism to allow authentication to the RC service. During this process we create a user having a userid, first.last name and email address.

Our company also has been purchasing companies on a regular bases. Right away these users will b

[2016-09-06 23:52] niemeyer commented on #4217
While logs are in debug mode, I can see the two messages going into the logs:

The first one gets delivered to the other end (twice even, as I had two webhooks configured the same to make sure):

The @-prefixed one is never sent, despite the logging.

[2016-09-07 01:49] markshuttle commented on #4215
Didn't know to restart, thanks, but I still see these:

I20160907-01:46:23.287(0) Exception while invoking method 'sendSMTPTestEmail' Error: connect ETIMEDOUT     at Object.Future.wait (/snap/rocketchat-server/5/node_modules/fibers/future.js:449:15)     at smtpSend (meteor://💻app/packages/email/email.js:86:1)     at Object.Email.send (meteor://💻app/packages/email/email.js:185:1)     at [object Obj

[2016-09-07 02:45] is984 opened #4222 "Displayed error when i use Costome OAuth ."
Your Rocket.Chat version: (0.39.0)
1,Setup Microsoft OAuth.
2,use it
3, displayed error Internal Server Error and return login screen
Server Log
W20160907-11:20:05.756(9) (oauth_server.js:398) Error in OAuth Server: The dotted field '@odata.context' in 'credential.serviceData.@odata.context' is not valid for storage.
I20160907-11:20:06.249(9) Exception while invoking method 'login' MongoError: The

[2016-09-07 07:55] LeDistordu opened #4223 "Seafile integration plugin"
Seafile is a Dropbox open source with self hosted possibility

https://www.seafile.com/en/home/

it would be nice if when transferring a file in Rocket.Chat he offers us the upload on seafile, followed by the generation of a share link sent directly RocketChat

[2016-09-07 08:02] spinza commented on #322
Would also like to see discourse integration.  Using discourse as the SSO provider.

[2016-09-07 08:07] ElNovi commented on #1112
Mattermost have best solution for threads

[2016-09-07 08:08] jszaszvari commented on #322
You can probably do it through the SAML provider already.

These are all plugins that the community should be coming up with, it's not
efficient use of a developers time to interstate this stuff that maybe 5
people would use. They need to be focusing on the core product, not
integration with all these small tools that a few people use.

On Wednesday, September 7, 2016, spin <notifications@github.c

[2016-09-07 09:57] askannon commented on #4155
Same issue here. After enabling LDAP integration users can log in one time only. After they have logged out they won't be able to login again.

[2016-09-07 09:59] spinza commented on #322
Yeah but it's also good to gather interested people.  Happy to get started on doing discourse one.

[2016-09-07 10:11] askannon commented on #4155
It only works when I set Merge existing users=True

[2016-09-07 10:26] andreas-bulling opened #4224 "Show filename in image preview"
Hi,

the image preview as well as the possibility to switch through all images in a channel using the arrow keys is great. It would be super helpful, though, if the image filename was shown above or below the image so it's always clear which image is shown at the moment.

[2016-09-07 11:30] Jan-Ra-wlec opened #4225 "Get no Mails"
Your Rocket.Chat version: 0.39.0

I registred my Gmail Account in RC. It said Mail sent and everything seems to be fine bit I don'tgeht the Testmail.

[2016-09-07 13:20] PavelVanecek opened #4227 "Message dropdown overflows"
Your Rocket.Chat version: 0.39

When in chat, the cog wheel shows a popup (edit, add reaction, star, ...). When the message title is long enough, the popup overflows behind the screen and it is not possible to reach all actions.

<img width="462" alt="screen shot 2016-09-07 at 15 16 34" src="https://cloud.githubusercontent.com/assets/1100170/18313318/7a1f5c94-750e-11e6-9af5-07d0d3d4b175.png">
<img

[2016-09-07 14:17] derekblankmccoy commented on #1615
+1

[2016-09-07 14:43] dzaouch commented on #4206
This is true with all the websites.
It's like someone standing behind you, watching what you type, they'll know your password.
Try the same on facebook login page you'll see.

[2016-09-07 19:00] LNarita commented on #3785
I'm also using Rocket Chat mainly with private groups, so expanding the search would help a lot. :smile:
So may I give this issue a try?
I checked the code out and I think it would be fairly simple to implement that... Well, at least the basic search of private groups you are a member of.

[2016-09-07 19:03] unquietwiki commented on #4106
Hey, I got some more info for you.

* "User not found, or incorrect password": subsequent attempts to login, after the first successful logon.
* Can delete my LDAP user from Rocket.Chat, and log back in successfully the first time.
* "Invalid domain": attempt to change profile settings on a user.
* Per your concern about the domain checks, if I disable the block list, DNS domain check, registratio

[2016-09-07 19:06] unquietwiki commented on #4106
@rodrigok I do see 0.39 came out 2 days ago, with some LDAP fallback thing. Think that'll help any?

[2016-09-07 22:42] adeweever91 commented on #4023
I found a solution that worked for me.
By dropping into a mongo shell and doing the following:
[code]

you only need to unlock the DB if you have already started the migration and had it fail. otherwise you should be able to ignore that. Hope it helps!

[2016-09-08 02:27] tunglam14 commented on #4023
@adeweever91 👍  yeah, I did the same

[2016-09-08 05:39] zxweed commented on #4225
There are another issue for it - https://github.com/RocketChat/Rocket.Chat/issues/2944

[2016-09-08 07:03] engelgabriel opened #4232 "Heroku One-Click Deploy broken"
Your Rocket.Chat version: 0.39.0

Try https://heroku.com/deploy?template=https://github.com/RocketChat/Rocket.Chat/tree/develop

[code]

[2016-09-08 07:07] rmetzler opened #4233 "AdminInfo / Statistics shows wrong install date"
Your Rocket.Chat version: 0.39.0

When I go to Administration -> Info, the date "Installed at" is not the installation date.
Clicking the "Refresh" button on the bottom of the page will change the date to the current date and time.

I think the following happens:

1. The date is named `statistics.createdAt`: https://github.com/RocketChat/Rocket.Chat/blob/a5cb22bb0017f4c39654bf1e2895ae64acb0339b/pa

[2016-09-08 08:10] domberd opened #4234 "HipChat Import Failed"
Your Rocket.Chat version: 0.37.1

While importing HipChat data the following error occurs:

Exception while invoking method 'prepareImport' ReferenceError: tempChannels is not defined     at HipChat.Importer.HipChat.Importer.HipChat.HipChat.prepare (packages/rocketchat_importer-hipchat/server.coffee:89:84)     at HipChat.<anonymous> (packages/rocketchat_importer-hipchat/server.coffee:1:1)     at H

[2016-09-08 09:21] okworld26 opened #4235 "Image upload issue after upgrade to meteor 1.4.1.1"
Just upgraded. commit id:   b957fa9f5101ce62e14195a7a3a05076a70bce1f.

When uploading image in a room, after clicking the "Ok" button on image pop up preview dialog, it just disappeared and nothing else happen, the image isn't uploaded of course.

Below is error from browser console:

ufs-uploader.js:47 Uncaught TypeError: data is not an Blob or File

UploadFS.Uploader	@	ufs-uploader.js:47
FileUpl

[2016-09-08 11:16] subesokun commented on #4210
* Search for direct messages via the user alias

In our current setup it's now almost impossible to search for a user to open a private chat with him as our LDAP usernames are super hard to remember.

[2016-09-08 11:17] ankibalyan commented on #4169
I've created my custom build image from the rocket chat base image.

[2016-09-08 11:23] ankibalyan commented on #4169
The root cause of problem here was `services.resume.loginTokens` It was adding multiple login tokens with every login request from the app. So after some time it gets high with very large user object for each user, making mongoDb busy.
here I've answered on my SO [Question](http://stackoverflow.com/questions/39272938/mongodb-with-node-is-using-high-cpu-usage-on-docker/39389470#39389470).

[2016-09-08 11:35] subesokun opened #4236 "Message action buttons are not accessible on small windows"
Your Rocket.Chat version: 0.39.0

I prefer running Rocket Chat in the "minimised" mode so that the blue side panel gets hidden but in that case the message action buttons are not accessible and I've to resize the window to reach all buttons.

I'd like to attach a screenshot but for some reason it's not working...

[2016-09-08 12:02] LePandaDuNet opened #4237 "Hubot respond only random"
Your Rocket.Chat version: 0.39.0

Hi,

I have upgraded my version of Rocket Chat at the version 0.39.0 and my version of hubot at the version 1.0.3.
Since the upgraded at the version 0.38.0 and 0.39.0 of  Rocket Chat my hubot respond only randomly and I also tested with the basic bot and I get the same result.
For the bot I use an stunnel locally on my machine which passes through a localhost then

[2016-09-08 12:13] rore commented on #4185
It's a very common complaint, see #3519.
We're very frustrated about this, really holding back fully adopting rocket.

[2016-09-08 13:54] MartinSchoeler commented on #4212
@skizzors could you check the roles of these users when they are unable to access the chat?

[2016-09-08 13:58] jszaszvari opened #4239 "Importing of private slack channels"
Please tag as a feature request

A big blocker I've discussed with A lot of people who want to move over to RocketChat is:

A) Slack does not allow export of private groups by default

B) You cant convert private groups back to public so you essentially have to give that history up.

There are a few tools out there that can do this now - But one stands out as being kept up to date and works very w

[2016-09-08 14:08] MartinSchoeler commented on #4236
@subesokun i could not replicate this bug, a screenshot would really help, could you send one at https://demo.rocket.chat/channel/support ?

[2016-09-08 14:25] MartinSchoeler commented on #4224
@andreas-bulling you can see the names if you go in files list tab, is this what you mean?

[2016-09-08 14:34] andreas-bulling commented on #4224
No. I mean if you click on a picture it opens up in fullscreen with nice backward/forward arrows that can be used with the arrow keys on the keyboard. It would be nice to show the current filename there

[2016-09-08 14:38] engelgabriel commented on #4232
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/6c4371bd6c03ec9c088650b6321c7169a0dc9462

[2016-09-08 14:38] #4232 closed

[2016-09-08 14:39] Jamie-Owen commented on #4155
This is because the `ldap` field is not set in the user document:

[Offending code here](https://github.com/RocketChat/Rocket.Chat/blob/0.39.0/packages/rocketchat-ldap/server/loginHandler.js#L104)

I believe it must have previously been set in this [function](https://github.com/RocketChat/Rocket.Chat/blob/0.39.0/packages/rocketchat-ldap/server/sync.js#L154)

`userData.ldap` is returned by a functi

[2016-09-08 14:56] skizzors commented on #4212
How do I view an individual user's role? This also pops up admins or users try to change their username.
![screen shot 2016-09-08 at 9 49 51 am](https://cloud.githubusercontent.com/assets/17693312/18354199/540286e8-75aa-11e6-8cf2-bedab1f9e7e6.png)

[2016-09-08 15:09] andreas-bulling commented on #4224
It would also be nice if a caption could be added to a figure and shown to the right of the figure or so. At the moment users have to write the caption as normal chat text and if other people write messages in the meanwhile that caption appears far below the figure in the worst case.

[2016-09-08 15:11] pierreozoux commented on #3592
Hitting the same issue, I think it is important to have a better UX here!

[2016-09-08 15:12] pierreozoux commented on #3269
Can we close as dup from #3592 3592

[2016-09-08 15:17] Akiren opened #4241 "Loading screen stuck"
Rocket.Chat version: 39.0

When logging in to rocket.chat via Oauth, intermittently users get hung on the loading /home screen with the icon-spinner active forever. There are no console errors, in addition refreshing the page will always simply log the user in. This happens on mobile as well.

Anyone out there experience this or have any ideas.

Its a pretty vanilla rocket.chat installation that f

[2016-09-08 15:34] jszaszvari commented on #4239
If it helps here is a channel export of one I started just to test this, a bunch of test messages and actions.

I have
- Plain Message
- Message with a link
- Link on its own
- File Attachement
- Leave Channel
- Join Channel

You can see they are very very similar - My biggest issue at the moment is splitting the file based on the epoch date

A channel done with the official slack export function-

[2016-09-08 15:54] pierreozoux commented on #659
I don't think this should be a core feature, you can find already a lot of scripts doing this:

https://www.npmjs.com/search?q=hubot+remind

[2016-09-08 15:56] geekgonecrazy commented on #3292
I think this could be as simple as a toggle in the bot settings to appear online.  We let people force appearing offline... why not let the bot force online?

[2016-09-08 16:14] #4233 closed

[2016-09-08 16:18] drickerusa commented on #3872
I'm having the same issue in 0.39.0. I'm trying to run performance test with silk performer but the scripts keep on getting hung up on the login screen. Our test guy even put in a reload to get past this. Sometimes it works but most of the time its sets at the loading screen. From the users standpoint most of them see it waiting and when they reload it will continue.

[2016-09-08 16:21] geekgonecrazy commented on #659
Yeah... it might be adding un-needed complexities to the core.  Because we'll need to then use some sort of cron type process to keep track of all the reminders.

[2016-09-08 16:31] MartinSchoeler commented on #4225
Duplicate

[2016-09-08 16:31] #4225 closed

[2016-09-08 16:49] kyrofa commented on #956
Note that this issue also applies if the username does not end in a period.

![screenshot from 2016-09-08 09-48-30](https://cloud.githubusercontent.com/assets/946674/18358342/74043d8e-75a9-11e6-99d8-e61d438ff531.png)

[2016-09-08 17:11] MartinSchoeler commented on #4236
@subesokun i think this is the same issue as this one #4227

[2016-09-08 17:21] Syirrus commented on #3872
@drickerusa Yeah it's still an issue. A quick and dirty hack that I've been using since I discovered this is to just reload the page.

Last line in rocketchat-ui-sidnav/side-nav/accountBox.coffee:
added `windows.location.href='/home';` and commented out the line before.
To:
`
	'click #logout': (event) ->
		event.preventDefault()
		user = Meteor.user()
		Meteor.logout ->
			RocketChat.callbacks.run

[2016-09-08 17:22] engelgabriel opened #4243 "Update docker-compose.yml to add SSL and ReplicaSet"

[2016-09-08 17:25] engelgabriel opened #4244 "Add bugsnag to our Demo server"
And get all errors to push messages to our support channel.

[2016-09-08 17:31] MartinSchoeler commented on #4212
@skizzors you could try updating your rocket chat to the latest version, this is an old bug that has been happening to you, where if the user gets his username changed he loses all his permitions

[2016-09-08 17:34] Molle500 commented on #4241
noticed this too, this bug has been there for a long time sadly :/

[2016-09-08 17:35] lunitic commented on #3432
Irritating bug

[2016-09-08 17:52] subesokun commented on #4236
@MartinSchoeler exactly :) Sorry didn't see the other issue! Closing this one.

[2016-09-08 17:52] #4236 closed

[2016-09-08 17:56] subesokun commented on #4227
Some problem for me. I prefer running Rocket Chat in the "minimised" mode so that the blue side panel gets hidden but in that case the message action buttons are not accessible and I've to resize the window to reach all buttons which can be quite tedious.

[2016-09-08 18:11] #4173 closed

[2016-09-08 18:47] nmummau commented on #3160
Happened again to me today.
![20160908-144621-inbox - nmummau clarkinc biz - microsoft outlook](https://cloud.githubusercontent.com/assets/10524529/18362270/20234050-75d3-11e6-9151-84fedc8bef3b.png)

[2016-09-08 18:51] subesokun commented on #4244
A bugsnag Rocket.Chat integration would be awesome! https://docs.bugsnag.com/product/integrations/

[2016-09-08 19:03] niemeyer opened #4246 "Webhooks run with old configurations in the background"
I've had multiple instances of webhooks acting strangely that were a side effect of a previous configuration being active. In the last case the webhook was sending messages to an endpoint which wasn't configured. It was quite confusing because it was showing up as a duplicated message. Took me a while to figure that removing all configuration would still keep it sending one of the copies, which me

[2016-09-08 19:34] marceloschmidt commented on #3160
This happens in both windows and linux, but not on a Mac.

[2016-09-08 21:04] #3432 closed

[2016-09-08 21:05] #3160 closed

[2016-09-08 22:04] Xqua opened #4249 "REST API get message limit not working"
Your Rocket.Chat version: 0.30

Hi I am trying to get the messages of a given channel.
I can successfully get the last 50 messages of a room, but I can't get the skip and limit parameters to work...
example of a curl

curl -H "X-Auth-Token: cCZa2GvKlwbddMEvg1bpSYlTl_UMetWJ4sjr5XkUmvk" -H "X-User-Id: px7ryDeqYgZ5GyvhX" "URL/api/rooms/tDtyHc4JyrDYJKaQw/messages?skip=:0&limit=:1"

same in python ...

[2016-09-08 23:05] Lucky21110 commented on #2985
Hello,

Any news for this pull request ?
Is it replaced by another feature ?

Thanks

[2016-09-09 01:35] geekgonecrazy commented on #1446
@thursdaybw as mentioned above.  We're going to be addressing this with some changes we have coming very soon.  👍

[2016-09-09 01:38] geekgonecrazy commented on #1593
@Franziskus1988 i'm not sure where that particular documentation came from.  But our official documentation can be found here:  https://rocket.chat/docs  And nothing more detailed then that currently, sorry.

[2016-09-09 01:43] geekgonecrazy commented on #897
@Hostile we've enforced a limit.  I can' remember what it is exactly, but its not configurable at the moment.

@marceloschmidt can you recall?  I think this is the only reason this ticket remains open?

cc @RocketChat/core

[2016-09-09 01:44] geekgonecrazy commented on #956
@kyrofa yeah it looks like we need to get our regex around username matching fixed asap..

[2016-09-09 01:45] geekgonecrazy commented on #1034
@jszaszvari i'd think it would.

[2016-09-09 04:10] okworld26 commented on #4235
Did a research myself, and found the issue.

Rocket 0.39.0  is using    jalik:ufs@0.6.6.   However,  it should be no more than  jalik:ufs@0.6.0.

This is because there is a big change between 0.6.0 and 0.6.1.

see info from link below:
https://atmospherejs.com/jalik/ufs

you can see that "The method UploadFS.readAsArrayBuffer() is not available anymore,"...

Currently, the workaround is to use  ja

[2016-09-09 05:59] chovy opened #4251 "images don't load when clicked"
Your Rocket.Chat version: v1.3.1 mac

when i click on an uploaded image I just get a blank page in chrome. I used incognito mode to be sure it wasn't any plugins interfering, still no image.

[2016-09-09 09:00] seanxlliu opened #4252 "The port of the attachement url is missing when displaying or downloading an attachment"
Your Rocket.Chat version: 0.39.0

The port of the attachement url is missing when displaying or downloading an attachment.

The following is my env settings:
environment:
    - MONGO_URL=mongodb://db:27017/rocketchat
    - PORT=3000
    - ROOT_URL=http://192.168.3.11:3000
    - Accounts_UseDNSDomainCheck=False

The storage type is set to 'GridFS'.

![default](https://cloud.githubusercontent.com/as

[2016-09-09 09:06] seanxlliu commented on #4235
the storage type 'GridFS' works just fine, but 'SystemFile' doesn't work.

I also filed an issue: [https://github.com/RocketChat/Rocket.Chat/issues/4252](url), which could be related.

[2016-09-09 10:26] rillig-nm opened #4253 "Wrong German translation for "enter to""
Your Rocket.Chat version: 1.3.1 for Windows

When editing a sent message, the following messages appear in the corners of the edit window:

* verlassen, um abbrechen
* betreten, um änderungen speichern

The words and the grammar are both wrong.

* Instead of "verlassen", it should be "Escape" or "Esc", since this is about the keyboard key, not escaping from prison. The whole message should be "Esc

[2016-09-09 10:34] TheReal1604 commented on #4253
Hey @rillig-nm,

i think you can fix this by yourself with "lingohub".

The Rocket.Chat team use that tool, to translate all the things to the language the users want.

@Sing-Li or @marceloschmidt Can give you more information about this.

[2016-09-09 10:37] TheReal1604 commented on #4252
@seanxlliu I think this could be "by design" because rocket.chat is not purposed to run without a reverse-proxy which is the endpoint for SSL. @MartinSchoeler can you say something about this?

[2016-09-09 10:40] TheReal1604 commented on #4251
Hey @chovy ,

i think we need much more information here, to do an investigation on this. In my "home setup" it is working like a charm. Can you give us server logs from your rocket.chat server and reverse proxy when the issue is replicated? A screenshot from the developer console of your browser could be nice to. There we can look what request your browser does..

Thanks!

[2016-09-09 10:43] TheReal1604 commented on #4241
Got this also in my setup. Its a bit strange..

I use normal rc authentication and apache2 as my reverse proxy.. if someone needs more infos or logs, please tell me.

[2016-09-09 10:57] rillig-nm commented on #4253
I don't think I can fix this as a translator alone. If I were to translate "Cancel" with "abzubrechen" (as required in this case), it would become wrong in other places where "Abbrechen" is the correct translation. Therefore, this must be fixed in the code.

[2016-09-09 11:55] andreas-bulling commented on #4224
actually showing at the bottom, i.e. centred between the arrows, would be most meaningful I think

[2016-09-09 12:17] 78c59635bdd8 commented on #1723
We have upgraded to 0.39.  According to the change log, it looks like this version includes the custom emoji code.  However, we are not seeing a custom emoji section in the Admin settings.
![2016-09-09-071637_912x393_scrot](https://cloud.githubusercontent.com/assets/6833993/18386568/7eb8edce-765d-11e6-8cad-939a01a037da.png)

Am I doing something incorrectly?

[2016-09-09 12:21] gabrielsixel commented on #4055
Something like this: http://rubentd.com/gifplayer/ ?

[2016-09-09 12:59] christianreiss opened #4254 "bug: renaming channels"
I am running .39 RC Version.

I can not rename a (private) channel via the info sidebar. The option is there, entering the name is working too; but hitting enter and the "save" button have no effect.

[2016-09-09 13:02] ghamed commented on #4155
same issue

[2016-09-09 13:13] MartinSchoeler commented on #4252
@seanxlliu could you tell us what is the value in the site url field under adiministration>general?

[2016-09-09 13:26] MartinSchoeler commented on #4254
@christianreiss this is strange, i tried to reproduce this bug with no success, could you give us more information?
Thanks!

[2016-09-09 13:42] christianreiss commented on #4254
I recorded a video: https://misc.alpha-labs.net/renaming.ogv

[2016-09-09 13:49] MartinSchoeler commented on #4254
@christianreiss That is very strange indeed, can you see if there is anything in the server log?

[2016-09-09 14:20] engelgabriel commented on #4254
This was fixed by https://github.com/RocketChat/Rocket.Chat/pull/4226 and will be on the next release.

[2016-09-09 14:20] #4254 closed

[2016-09-09 14:36] skizzors commented on #3350
Agreed! Or the ability to add all users to a channel! Thats VERY important

[2016-09-09 14:57] geekgonecrazy opened #4255 "Keyboard Shortcut to jump to Channel with Unread"
In IRC clients like weechat they have a keyboard  shortcut: `alt+a` to jump to active channel.  Made it super convenient to switch between several active channels with out having to hunt them down.

[2016-09-09 14:59] geekgonecrazy opened #4256 "Keyboard shortcut to switch between channels"
We need a shortcut to switch between channels.  Something like `alt+up` to go up in list `alt+down` to go down list.

[2016-09-09 15:00] masonfox commented on #4256
Or `Control + #` depending on what channels you have

[2016-09-09 15:01] emgee commented on #4255
or maybe `alt+shift+up/down` to match https://github.com/RocketChat/Rocket.Chat/issues/4256 better?

[2016-09-09 15:02] emgee commented on #4256
See also https://github.com/RocketChat/Rocket.Chat/issues/4255.

[2016-09-09 15:32] thiesschneider commented on #4235
In my installation GridFS also does not work. Looking forward tp the fix... Cannot upload stuff :(

[2016-09-09 15:40] geekgonecrazy commented on #4256
@masonfox only problem we might have with `ctrl + #` is our desktop app uses this to switch between servers.  :(  so if we did that one... we'd have to switch the desktop app.

[2016-09-09 15:48] geekgonecrazy commented on #4255
@emgee would `alt+up/down` clash with anything?  Just thinking less keys might help?

[2016-09-09 16:09] emgee commented on #4255
@geekgonecrazy maybe, but it doesn't for me (a gnome-shell user) and it's what irccloud uses so I would assume it's ok on most platforms.

[2016-09-09 16:28] KirbySSmith commented on #3925
Saw the same issue with duplicate rooms. Traced it to the cachedCollection for subscriptions not being cleared on logout. If User A logs out and User B logs, User B would see User A's + User B's subscriptions. This issue was fixed in version 0.37 by pull request #4009.

[2016-09-09 16:40] #76 closed

[2016-09-09 16:41] MartinSchoeler commented on #76
you must have the SMTP setting active to this to happen.

[2016-09-09 17:12] codyaray commented on #3835
This is occurring for almost all of our users now, post-upgrade to 0.39.0, across windows and mac native clients as well as web UI in Chrome.

[2016-09-09 17:14] adesimonepeak6 commented on #3835
Same issue here, had to turn off emoji's

[2016-09-09 17:32] brocktimusprime commented on #3835
I am also seeing this issue. I also had to turn emoji's off

[2016-09-09 17:44] victormuramoto opened #4258 "Problems when I change from a chat to another chat - The talks crashes at all."
Your Rocket.Chat version: 0.39.0)

The talks are crashing when I change from a chat to another.

The following print shows the error:
![screen shot 2016-09-09 at 2 34 47 pm](https://cloud.githubusercontent.com/assets/9921593/18396834/e9714614-769b-11e6-822b-6fc309225e5b.png)

[2016-09-09 17:55] MartinSchoeler commented on #4258
@victormuramoto could you give us more info? like where are you using rocket chat and how to reproduce the bug?

[2016-09-09 18:07] geekgonecrazy commented on #1723
Check Permissions and make sure the manage-emoji permission is added to your admin user.  Its possible for some reason it didn't get added.

[2016-09-09 18:26] victormuramoto commented on #4258
Well, I am using the RocketChat inside my company, I don't have all the info of how RocketChat is configured right here. If you need more info, I can talk with the responsible one that maintain the RocketChat right here.

 I am using   Franz + RocketChat and i just changed from a chat to another chat and the interface just "merged" the two chats.
 I don't know if Franz + RocketChat have anything a

[2016-09-09 18:52] 78c59635bdd8 commented on #1723
Thanks for the reply.  I don't have a manage-emoji permission option:

![2016-09-09-135058_877x713_scrot](https://cloud.githubusercontent.com/assets/6833993/18398985/ade8f4ae-7694-11e6-989b-280fc9bc3270.png)

[2016-09-09 19:05] dupree972 opened #4259 "New users can not login, account creation error Match error: Expected string, got undefined in field username]"
Your Rocket.Chat version: .39
[code]

[2016-09-09 19:44] Fenr1r90 commented on #4070
Any ideas to repair this issue? Notifications on mobile are "must have".

[2016-09-09 20:08] jszaszvari commented on #4239
So I actually got this working with now with https://github.com/hisabimbola/slack-history-export and using a script to re-format the data afterwards.

When I say working I mean I got all the messages/message history from a private slack group imported into a RocketChat room

I'll see if I have any luck playing with https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-importer

[2016-09-09 20:11] royalaid commented on #1723
I just want to say I am also experiencing problems with custom emoji permissions not appearing

[2016-09-09 20:11] geekgonecrazy commented on #1723
@rocketchat/core ideas? did a migration not get added?

[2016-09-09 20:13] geekgonecrazy commented on #4055
@gabrielsixel exactly.  Something that wouldn't bog down the render thread.

[2016-09-09 20:23] jszaszvari commented on #4239
Also, It just occurred to me, this is more of an improvement on a exisiting feature (Slack Import) instead of a whole new feature.

[2016-09-09 20:44] yuchaozh commented on #4035
Same things happens for me. My Rocket Chat version is: 0.35.0. Not working on chrome. But works on Firefox. Does anyone know how to fix this?

[2016-09-09 22:16] codyaray commented on #3835
Turning off emojis hasn't fully cleared it for me. But maybe I'm doing it
wrong.

[2016-09-10 01:23] engelgabriel opened #4260 "Error in :0"
## Error in Rocket.Chat

**Error** in **:0**
Non-fatal

[View on Bugsnag](https://app.bugsnag.com/konecty/rocket-dot-chat/errors/57d36092298e405f4ba3ee63?event_id=57d360921067de11004f0c21)

## Stacktrace

    :0 - none

[View full stacktrace](https://app.bugsnag.com/konecty/rocket-dot-chat/errors/57d36092298e405f4ba3ee63?event_id=57d360921067de11004f0c21)

[2016-09-10 01:28] engelgabriel opened #4261 "ReferenceError in packages/rocketchat:lib/server/lib/bugsnag.js:13"
## Error in Rocket.Chat

**ReferenceError** in **packages/rocketchat:lib/server/lib/bugsnag.js:13**
a is not defined

[View on Bugsnag](https://app.bugsnag.com/konecty/rocket-dot-chat/errors/57d361b9298e405f4ba3ee8c?event_id=57d361b9c4b0f7110096d8f8)

## Stacktrace

    packages/rocketchat:lib/server/lib/bugsnag.js:13 - _onTimeout

[View full stacktrace](https://app.bugsnag.com/konecty/rocket-dot-

[2016-09-10 03:53] chovy commented on #4251
nevermind, i think there was some default setting the a user had. His images woudl show in the chatroom but when I clicked them i got a blank page, even in incognito. He said his "private" setting had it disabled or something. not sure.

[2016-09-10 03:53] #4251 closed

[2016-09-10 05:46] dimti commented on #4145
Hello

I reinstall rocket chat to 0.36.1 from my archlinux aur packages.

And after start app i see same error

    Error: [Can't find migration version 57]

I use our solutions with udate mongo db record from console and i try to update from robomongo gui, but, after start application rocket chat, - locked field rewrite to true

http://www.zimagez.com/zimage/2016-09-1008-44-08.php

http://www.zim

[2016-09-10 05:49] dimti commented on #4145
Sorry. More..
New app on adnroid very not worked for me. GUI interface in android app - is confuse. Connection on my server not be established (Error: abort, abort). But from browser and from desktop app connection is work.

May be, after update (and successfully starting chat) porblems if fixed with connection from mobile android app..

How i can see current rocket chart version on my installatio

[2016-09-10 07:55] rankun203 commented on #1635
How to trigger an auto-login by auto-click on the 3rd-party SSO button?

In my case, I can't get managed to auto-click the 「加入討論」button.

![image](https://cloud.githubusercontent.com/assets/2988555/18408889/ef6afd48-776e-11e6-89ed-410c5809c320.png)

[2016-09-10 13:07] #4260 closed

[2016-09-10 13:07] #4261 closed

[2016-09-10 15:40] Sing-Li commented on #31
wargame and others on #support are still experiencing and dealing with this daily

[2016-09-10 19:18] karamata commented on #3973
I run RC on my subdomain and it work perfect, but only has one problem. it only run on firefox, and chrome it didn't work. I think chrome has intercept my self cert

[2016-09-10 21:23] engelgabriel commented on #919
Have you tried setting the `NODE_TLS_REJECT_UNAUTHORIZED` to `false` on the admin panel?

[2016-09-10 21:33] engelgabriel opened #4263 "ReferenceError in programs/server/boot.js:292"
## Error in Rocket.Chat

**ReferenceError** in **programs/server/boot.js:292**
forEachAsset is not defined

[View on Bugsnag](https://app.bugsnag.com/konecty/rocket-dot-chat/errors/57d47c30298e405f4ba40049?event_id=57d47c309fa25c11001be530)

## Stacktrace

    programs/server/boot.js:292 - none
    programs/server/boot.js:128 - none

[View full stacktrace](https://app.bugsnag.com/konecty/rocket-do

[2016-09-10 21:35] #4263 closed

[2016-09-10 23:01] vmnet04 opened #4264 "Need help SSO with a java web application"
I have a web application that is built on Java.
Currently this site is integrated with LDAP and users can use their MS Active directory credentials to Login and view the pages they have access to.
I am trying to add a chat link at the bottom of the page. The user should be able to click on the link and start communicating without the need to Login to Rocket Chat again.
I am looking for someone who

[2016-09-10 23:29] engelgabriel commented on #3785
Hi, what version are you guys using? On the demo server you can user the `ctrl+p`to search private groups that you are already a member:

![image](https://cloud.githubusercontent.com/assets/1000217/18414118/131e0d54-7795-11e6-918f-e9a2d2bd3ba9.png)

[2016-09-10 23:44] engelgabriel opened #4265 "Find a new way to hide settings from removed packges"
https://github.com/RocketChat/Rocket.Chat/blob/73a290dfc69f081559aec83e4f647e20a4966f00/packages/rocketchat-lib/server/startup/settings.coffee#L252

[2016-09-10 23:55] andrewwiik opened #4266 "Issue using Apache2"
Your Rocket.Chat version: latest as of 3 hours ago

Hello,

I am trying to run a Rocket Chat instance behind Apache, my apache version is 2.4.7, I have enabled all the web socket apache things and confirmed they are enabled.

My apache2 configuration:

[code]

This doesn't work, I am never presented with a login form, I have tried tons of other configurations found in other issues and they also di

[2016-09-11 00:23] Sing-Li commented on #4264
This is not a valid issue against the FOSS project.

Closing it now.

Please use form at https://rocket.chat/services  or  find a freelance dev community member on https://demo.rocket.chat

Thanks.

[2016-09-11 00:23] #4264 closed

[2016-09-11 00:26] vmnet04 commented on #4264
Thanks Li,i used the form on rocket.chat/services

[2016-09-11 01:33] wargamesqcf commented on #758
I am also wanting this feature.

[2016-09-11 01:34] wargamesqcf commented on #4243
might also want to do this, so we can easily upload our own scripts.

[code]

[2016-09-11 07:04] boulakar commented on #1333
Hi i have like this bug but i'm not one Docker i'm on Ubuntu AWS

[2016-09-11 08:31] TheReal1604 commented on #4266
Hey @andrewwiik,

make sure your rocketchat container or instance is listening on port 3255. Can you test this and check if you reach the instance without the reverse proxy?

I don't think it's a rocketchat issue because all of my setups are working this way. But I use the default port 3000 on my docker rocketchat container.

If you need further assistance you can write a pm on the demo system als

[2016-09-11 08:37] atikulhaider opened #4268 "Live Chat attention sticker"
My Rocket.Chat version: Latest

Hi, I want to add an attention sticker over the live chat widget something [like this.](http://oi68.tinypic.com/2q82a9w.jpg)
Is there any option? Please tell me how can I do this?
How can I add this to **rocket-livechat.js** file please?

[2016-09-11 09:05] atikulhaider commented on #4266
Here are some configuration to check:
**1.** Make sure port 3255 is open
**2.** Remove those from VirtualHost blocks:
`<Location />
        Order allow,deny
        Allow from all
</Location>`
**3.** Your certificates are not correctly ordered:
Keep this line outside VirtualHost block:
`Include /etc/letsencrypt/options-ssl-apache.conf`

Try using above config. If no result, try removing this line:

[2016-09-11 09:25] RichardFoxworthy commented on #918
Any news on this one?

[2016-09-11 14:54] LNarita commented on #3785
Hi @engelgabriel, I'm using ver. 0.39.0

[2016-09-11 15:24] andrewwiik commented on #4266
@atikulhaider your solutions did not work and @TheReal1604 couldn't figure out why it wasn't working either

[2016-09-11 16:00] #3785 closed

[2016-09-11 16:05] zoopla commented on #4266
Hi here my Apache configuration, it's working (Rocket.Chat listening on localhost:3000 and replace hostname with your hostname naturally) , you can try something similar.

[code]

I also had to enable some Apache module (not sure they are all required...)

[code]

Good luck

[2016-09-11 16:16] zoopla opened #4270 "Mobile Push Channel Notification"
My Rocket.Chat version: 0.39.0

Hi, I have some issue with the Mobile Push configuration and I think there is a bug.
In the Notification panel of a channel, when I choose other than "Mentions (Default)" for Desktop Notification, then the settings in "Mobile push" are not taken into account (the default one is used "Mentions (Default)" ).

I look really quickly at the code (I don't know javascript)

[2016-09-11 16:27] andrewwiik commented on #4266
@zoopla Your configuration did not work and i don't know how it even does because you don't have any rules regarding the web sockets, which should throw a 400 error unless you have something in your apache2 configuration file. Thanks for your time.

[2016-09-11 16:44] LeDistordu commented on #3661
+1

currently my team use Rocket.Chat + Mumble !

Just find an idea to be notified when users use vocal. I think speaker icon on right side with number of voices detected is a good idea.

When you click on this icon you can set parameter
- Unmute / Mute
- Voice / Voiceless
- Record

+ bbcode for notify user to use vocal :)

[2016-09-11 17:57] thiesschneider commented on #4235
anybody working on this?

[2016-09-11 19:31] TheReal1604 commented on #4266
I looked with @andrewwiik at his configuration, all seems fine. But i think there could be a digitalocean / droplet configuration thingy that is bad and cause this issues. Andrew now try to install rc with docker components again.

[2016-09-12 03:46] 9cat commented on #758
almost a year,  still don't have progress?

[2016-09-12 03:59] geekgonecrazy commented on #758
@9cat we haven't gotten to this yet.  We have some other key things we need to take care of first.  But... Since Rocket.Chat is self hosted, you can back up the database at absolutely any time you want via mongo.

[2016-09-12 04:10] dupree972 commented on #758
It's very easy to script the backup and schedule via mongodump.

[2016-09-12 05:31] CONFORM-IT commented on #3761
Same thing here.

[2016-09-12 07:57] SongTreasure opened #4273 "Can't connect to custom Rocket.Chat Window Server using mobile app"
Hi.
I installed rocket.chat server on windows 10.
Chat server work on web.
But on mobile app cannot connect server.
Server no convert https.
Can't find convert https for rocket.chat server on windows.
Can connect on mobile app to windows server?

[2016-09-12 10:01] pavankumarkatakam commented on #4235
in my case "Grid FS" and filesystem both are not working.

[2016-09-12 11:19] takavfx opened #4274 "Leave unpinned history as a message"
Your Rocket.Chat version: (v0.39.0)

How about a pin function to leave unpinned history as a message?
After unpinned messages then people in the room notice each task has done.
This is not flashy thing but it's efficient, isn't it?

Thanks!

[2016-09-12 11:22] alexdorn87 commented on #1824
Hi Guys

A few days ago, I made new feature to live chat of rocket.chat in my project.
- Ability to see what visitor is typing before he/she sends the message (on/off toggle).

Shall I upload it?
I hope it help rocket chat project.
thanks

[2016-09-12 12:37] rodrigok commented on #3761
Is this happening in our demo server or in your installations?

[2016-09-12 13:04] MartinSchoeler commented on #4270
@zoopla yes you are right, thanks!

[2016-09-12 13:04] #4270 closed

[2016-09-12 13:05] rasos commented on #4253
I have fixed this in Lingohub for the German langauge. I applied a shortened wording to circumvent the grammar problem:
Esc: Abbrechen
Enter-Taste: Änderungen speichern
Using "Key: meaning" should be very clear and not affect any other appearances. I recommend to translate that way also in other languages.

[2016-09-12 13:11] rillig-nm commented on #4253
That looks great. Since this only affect these two keys, it was indeed simple. I just couldn't see it. :)

[2016-09-12 13:11] #4253 closed

[2016-09-12 13:18] rasos commented on #4205
You could apply this two-line patch: https://github.com/RocketChat/Rocket.Chat/issues/1602#issuecomment-226559485

[2016-09-12 13:34] rasos commented on #4185
If it is only a setting issue, then it has just been fixed https://github.com/RocketChat/Rocket.Chat/issues/4270

[2016-09-12 13:50] lunitic commented on #758
This is my script I run from crontab once per hour

backup.sh
#!/bin/sh

daten=$(date +%y%m%d%H%M)
mongodump -o /root/backup/$daten

[2016-09-12 14:53] #4060 closed

[2016-09-12 15:11] engelgabriel commented on #4259
@dupree972 can you give more info? Is this on a fresh install? Are you using any other auth methods?

[2016-09-12 15:13] engelgabriel commented on #4259
@rodrigok this looks like an errors on the LDAPA sync function, can you please take a quick look?

[2016-09-12 15:46] mpetersen42 commented on #4259
This is on an existing upgraded install using only LDAP (and local) authentication.  If you "pre-create" a local user with the same username they'll be converted to LDAP on login fine.  However if you login as an LDAP user that doesn't exist it attempts to create the user with an undefined username.

[2016-09-12 17:43] rankun203 opened #4277 "Chinese Traditional(Taiwan) "繁体中文（台湾）" doesn't work."
Your Rocket.Chat version: (0.39.0)

After I check the language of "繁体中文（台湾）", it backs to Chinese Simplified(中文) instead of Chinese Traditional language(繁体).

I've checked the translation file, it's already there, but the interface failed to use it.

[2016-09-12 18:14] joeleaver commented on #3624
Confirmed, same issue in 0.39.0

[2016-09-12 18:40] asthomasdk commented on #4235
We are seeing issues when trying to upload files or screen shots from a web browser (Chrome).

I am able to paste or upload from the Linux client though...

[2016-09-12 21:46] LongLiveCHIEF commented on #918
I had some issues setting up the dev environment the weekend after I posted this, and totally forgot about it.  I did get everything installed though, and nothing going on evening this week, so... yeah.

[2016-09-12 22:10] LongLiveCHIEF commented on #918
ok... n/m... once again:

`curl: (7) Failed to connect to meteorinstall-4168.kxcdn.com port 443: Operation timed out`

I _hate_ meteor. _hate, hate, hate_.

[2016-09-13 01:20] Lucky21110 commented on #4205
Thx Rasos :) Works !!

[2016-09-13 05:30] engelgabriel commented on #4235
@rodrigok please give this high priority today

[2016-09-13 06:09] wargamesqcf commented on #4273
I think the mobile app is old and broken and won't connect to any new server.

[2016-09-13 06:10] engelgabriel commented on #1333
please open a new issue @boulakar

Note that if you are using Rocket.Chat develop, you need NodeJS 4.5

[2016-09-13 06:20] engelgabriel commented on #897
@marceloschmidt why was this part commented?

https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/server/methods/sendMessage.coffee#L44

Was it because of the import and slack bridge packages were calling the methods rather than the functions before? Can we uncomment this?

[2016-09-13 06:24] stealthybox commented on #3761
**+1**
We see this bug only after logging out and trying to log back in.
It occurs for both local users and LDAP users.

Refreshing the app is a temporary workaround.

( Running the official 0.39.0 docker image from the hub )

[2016-09-13 07:25] mikrobyte opened #4282 "Missing settings menus"
Your Rocket.Chat version: 0.39.0

This happens from time to time and it doesnt matter what OS my client is Win or Linux. Also tried with Chrome, Firefox on both operative systems.

The settings list was like this
![selection_218](https://cloud.githubusercontent.com/assets/17494740/18464831/b50cf1c0-7993-11e6-9a5b-c88fb08f12fd.png)

But then, suddenly it starts looking like this, with plenty of set

[2016-09-13 07:30] mikrobyte opened #4283 "Direct messages privacy"
Your Rocket.Chat version: 0.39.0

This is **not an issue but a nice to have request.**

When sending direct messages, as soon as you type any letter, it displays all the usernames that contain that letter. Would it be possible to add a feature to disable this? so that only if you know the username fully you can send a message?

![selection_220](https://cloud.githubusercontent.com/assets/17494740/1

[2016-09-13 07:32] FibreFoX commented on #4150
Is this some kind of duplicate of this bug?? https://github.com/RocketChat/Rocket.Chat/issues/3947

[2016-09-13 08:46] wargamesqcf commented on #4283
so have it be like a letter then wildcard instead of trying to find anything that contains the letter?

[2016-09-13 08:47] sinteur opened #4285 ""Has more..." just sits there"
Since 0.39.0, when switching private channels, all that is shown is "has more.." and I have to click it to get the channel to load.. it's becoming a huge time sink and users are complaining about it...

[2016-09-13 08:54] mikrobyte commented on #4283
Well, more like, not displaying any available users at all, only type in the username (if you know it) and that feature IF implemented, shall be like some enable/disable option.

[2016-09-13 11:53] MartinSchoeler commented on #4282
@mikrobyte  does this happens from time to time? and what modifications you made on rocket chat?

[2016-09-13 11:58] nowacki-lukasz commented on #4285
true story... we really need this to work :+1:

[2016-09-13 12:18] mikrobyte commented on #4282
This has happened to me before even without changing any setting at all in rocket chat. However, i noticed it only started happening with version 0.37.0. Sometimes it only happens in chrome and not in firefox, but then it started again with firefox.

i have no clue how to debug it... this is the page source info when the menus are missing.

`<!DOCTYPE html>
<html>
<head>

<base href="/">

  <link

[2016-09-13 12:23] MartinSchoeler commented on #4277
I think it might have something to do with the uppercase in the "zh-TW" since this happens with other languages that have "-" after its name

[2016-09-13 12:23] mikrobyte commented on #4282
I also see this when "inspecting element" on the settings menu.

          unreachable code after return statement[Learn More]3d0a28d904f450b3cfeed1ccc35c905f68483edb.js:521:20414
CachedCollection subscriptions => Init on login3d0a28d904f450b3cfeed1ccc35c905f68483edb.js:190:9242
CachedCollection permissions => Init on login3d0a28d904f450b3cfeed1ccc35c905f68483edb.js:190:9242
CachedCollection publi

[2016-09-13 12:23] MartinSchoeler commented on #4277
![capture2](https://cloud.githubusercontent.com/assets/20868078/18473509/b6f1e608-7993-11e6-8092-e1b7d9d324bd.PNG)

[2016-09-13 12:34] himbeere commented on #3717
Yes. It's solved. Thanks.

[2016-09-13 12:42] ghost opened #4286 "preventing mentioned people from being pulled in room where mentioned"
RC 0.39.

Hello Devs.

Is it possible to deactivate that function i mentioned in the subject? Every now and then people asking for not being pulled in the room where mentioned.

thanks and keep up the good work
t.

[2016-09-13 12:47] corecache commented on #2325
Upgraded my test instance to latest develop state and tried using meteor 1.4 features such as [Meteor | Npm.depends ](http://docs.meteor.com/api/packagejs.html#Npm-depends) and  [ npmjs package definitions](https://docs.npmjs.com/files/package.json#git-urls-as-dependencies)

Versions:
`rocketchat_1  |    npm info using npm@3.10.6`
`rocketchat_1  |    npm info using node@v4.5.0`

Tried using the ne

[2016-09-13 13:49] Sing-Li commented on #2325
@corecache   Meteor 1.4 supports npm modules directly now.    Please see https://guide.meteor.com/using-npm-packages.html

Basically, you can just `npm install --save`

[2016-09-13 14:02] engelgabriel commented on #897
Closed via https://github.com/RocketChat/Rocket.Chat/commit/1c312aff5ea851cf43f790d17275c05ce50f2c00

[2016-09-13 14:02] #897 closed

[2016-09-13 14:40] bmogadorski commented on #4285
damn, how annoying it is :)

[2016-09-13 14:40] engelgabriel opened #4287 "Integrate with Cog"
[Cog by Operable](https://operable.io/) is a new chat bot written by the author of Hubot.

It is better than alternatives like Hubot or Lita because it allows for various permission levels for users and scripts, something that every significant organization will need. https://blog.operable.io/introducing-cog-8a682e42a25a#.snxcg4t85

As an additional feature it also allows you to compose commands:

[2016-09-13 14:45] oinirio opened #4289 "cannot upload files"
cannot upload any kind of files either with drag & drop or with open file

Running latest version of rocketchat/rocket.chat:develop created 26 minutes ago

[2016-09-13 15:08] xenithorb commented on #4150
Yes. It's definitely related.

[2016-09-13 15:11] Lucky21110 commented on #4289
same issue for me using develop

[2016-09-13 16:39] engelgabriel commented on #4289
This is a duplicate of https://github.com/RocketChat/Rocket.Chat/issues/4235 and @rodrigok is working on it.

[2016-09-13 16:39] #4289 closed

[2016-09-13 16:40] engelgabriel commented on #4194
@rodrigok can you please fix this as part of https://github.com/RocketChat/Rocket.Chat/issues/4235 ?

[2016-09-13 16:43] engelgabriel commented on #4099
@iamphill can you please try this with our `develop` branch when https://github.com/RocketChat/Rocket.Chat/issues/4235 gets closed?

[2016-09-13 16:43] #4099 closed

[2016-09-13 16:45] engelgabriel commented on #3885
@mrplow I believe @marceloschmidt has fixed this on our current release, please reopen otherwise.

[2016-09-13 16:45] #3885 closed

[2016-09-13 16:48] engelgabriel commented on #4252
@seanxlliu what is on your Admin -> General -> Site URL  setting?

[2016-09-13 16:53] engelgabriel commented on #4014
We are updating the GridFS packages, can you guys please retry with the develop branch when https://github.com/RocketChat/Rocket.Chat/issues/4235 gets closed?

[2016-09-13 16:57] engelgabriel commented on #2242
Lets close this issue and track progress on https://github.com/RocketChat/Rocket.Chat/issues/4014

[2016-09-13 16:57] #2242 closed

[2016-09-13 16:58] engelgabriel commented on #1831
Related to https://github.com/RocketChat/Rocket.Chat/issues/4014

[2016-09-13 17:50] mide commented on #4183
I also see this problem on `demo.rocket.chat`, and I think that's running `0.39.0`.
<img width="591" alt="screen shot 2016-09-13 at 1 49 23 pm" src="https://cloud.githubusercontent.com/assets/546518/18485020/0394dd7e-79b9-11e6-81b1-a9db9c30fd3a.png">

[2016-09-13 18:33] rodrigok commented on #4285
@sinteur @nowacki-lukasz @bmogadorski Are you using our branch `develop`?

[2016-09-13 18:40] sinteur commented on #4285
no - just 0.39.0 from the downloads page

[2016-09-13 20:06] rodrigok commented on #4259
@mpetersen42 Which field are you using as your LDAP `Username Field`?

[2016-09-13 20:17] engelgabriel commented on #4285
@sinteur are you using the Stable or Beta?

[2016-09-13 20:19] sinteur commented on #4285
this one:  https://rocket.chat/releases/0.39.0/download

[2016-09-13 20:23] mpetersen42 commented on #4259
Blank or default, so 'sAMAccountName'

[2016-09-13 20:24] engelgabriel commented on #4285
OK, this was fixed here: https://github.com/RocketChat/Rocket.Chat/commit/fecae37360efe9e9bc7193483f48990f4082d442

[2016-09-13 20:24] #4285 closed

[2016-09-13 20:29] sinteur commented on #4285
Thx!

[2016-09-13 21:02] #4259 closed

[2016-09-13 21:12] engelgabriel commented on #4215
[code]

[2016-09-13 22:03] Molle500 opened #4291 "cog menu bugged on mobile"
When you press on someones name on in the feed to access the cog wheel menu, it bugs out if the keyboard is up and some part of the list is behind the keyboard. Now when the done button is removed for the keyboard it's much harder to get out of there.
Would be nice if the menu pops the keyboard force closes.

![14360357_10157733260820643_622839659_o](https://cloud.githubusercontent.com/assets/1771

[2016-09-13 23:37] scorpfromhell commented on #2292
I followed the instructions as given in https://rocket.chat/docs/installation/manual-installation/ubuntu/#Install

Then saw the same bcrypt issue and after searching found this thread.

I deleted the Rocket.Chat folder. Ran the following:
`tar zxvf rocket.chat.tgz
mv bundle Rocket.Chat
cd Rocket.Chat/programs/server`

Then I edited the npm-shrinkwrap.json and package.json files to change the fiber

[2016-09-14 00:39] #4235 closed

[2016-09-14 01:05] geekgonecrazy commented on #897
👍

@Hostile so limit right now is:  `5 msgs/second`

[2016-09-14 02:30] engelgabriel opened #4293 "Remove Autolinker lib and use NPM version instead"

[2016-09-14 04:02] #4293 closed

[2016-09-14 04:18] engelgabriel commented on #1622
Fixed by https://github.com/RocketChat/Rocket.Chat/commit/1e83b4d200f0ac5d6a303c407e004c439ae2890d

[2016-09-14 04:18] #1622 closed

[2016-09-14 04:20] engelgabriel commented on #2131
Hi @tdhz77 is this still an issue? Did you managed to work on this for your own needs?

[2016-09-14 04:21] engelgabriel commented on #2131
@MartinSchoeler Maybe we need to change it to accept -1 which then means size is not a
restriction.

[2016-09-14 04:23] engelgabriel commented on #369
I'll close this issues and we can open new ones for specific storage support

[2016-09-14 04:23] #369 closed

[2016-09-14 04:24] engelgabriel opened #4296 "Add support for OpenStack Swift Storage"

[2016-09-14 04:25] engelgabriel commented on #369
https://github.com/RocketChat/Rocket.Chat/issues/4296

[2016-09-14 04:25] engelgabriel commented on #4296
From https://github.com/RocketChat/Rocket.Chat/issues/369

[2016-09-14 04:26] #443 closed

[2016-09-14 04:27] engelgabriel commented on #2085
Fixed by https://github.com/RocketChat/Rocket.Chat/commit/1e83b4d200f0ac5d6a303c407e004c439ae2890d

[2016-09-14 04:27] #2085 closed

[2016-09-14 04:46] lunitic commented on #4183
See this Issue to,, Chrome latest and win10 x64.

[2016-09-14 04:48] engelgabriel commented on #1079
@rodrigok have you just fixed this today?

[2016-09-14 05:11] engelgabriel commented on #1987
Hi @uwittygit you will have to study `/packages/rocketchat-file-upload`

[2016-09-14 05:11] #1987 closed

[2016-09-14 05:32] #3446 closed

[2016-09-14 05:33] engelgabriel commented on #2255
Have you guy tried the develop branch? We are now using Meteor 1.4.1.1 an it seems considerably faster.

[2016-09-14 05:39] dcsan commented on #2255
yeah i basically gave up on meteor 6 months ago because of rebuild times. it's nice for hackathons but as soon as you really have an app with a bunch of code you're in deep shit.

[2016-09-14 06:26] karamata opened #4297 "How can I move rocket chat to other server?"
Your Rocket.Chat version: Rocket.Chat-0.39.0.zip

Dear all,
I have two question:
1. I have deploy rocket chat to old server, and now I want to move all RC app to other server. how can I do that? do I need export mongodb and import to other server
2. I use https://gonative.io/ to generate mobile app for ios and android for my rocket web app, I have modify source code to implement push and receive n

[2016-09-14 06:29] pierreozoux commented on #4014
@engelgabriel Thanks, but I can't test easily until it hits a release. Just let me know when it is released, and then I let know my user.

(Or do you have a develop docker image?)

[2016-09-14 08:15] Sing-Li opened #4298 "Upload is broken on HEAD"
Your Rocket.Chat version: develop (with fusion on Demo)

Drag and drop upload, as well as click PaperClip button button upload ARE both broken.

Chrome Console message is:

![screen shot 2016-09-14 at 4 12 50 am](https://cloud.githubusercontent.com/assets/122633/18504737/dcaa7f9c-7a31-11e6-9fc7-8f5735edf8d4.png)

[2016-09-14 08:28] dohrix commented on #4298
Issue since the last update ( 0.39)

Console message (with all types of files)

<img width="585" alt="capture d ecran 2016-09-14 a 10 26 43" src="https://cloud.githubusercontent.com/assets/19533401/18505067/cadbefec-7a65-11e6-983a-14f521c2bb29.png">

[2016-09-14 10:11] sinteur commented on #3196
To test the guest role I created a new user called "test.user". I can add the guest role to the new account, however, I cannot REMOVE the user role as there are too many users in my system to have the new user show up on the first (and only) screen of users. How can I remove a role?

[2016-09-14 11:16] kylemclaren commented on #4235
+1 have replicated this issue with GridFS, development branch of Rocket.Chat and Meteor 1.4.1.1 running on Docker.

[2016-09-14 11:25] TheReal1604 opened #4299 "HA - MongoDB and RocketChat Setup"
Your Rocket.Chat version: latest (0.39.0)

Hey guys,

i create a 2 Node setup with docker and a openstack HA proxy in front of these two.

The mongodb is a docker-container on both nodes in a replicaset. I created all users (admins, rocket (the user for rocket.chat, oplogger)

Now, i create rocket.chat docker containers with the following docker-compose config:

[code]

My issue is now, the messag

[2016-09-14 12:34] joseconsuegra commented on #4241
Experiencing the same but authenticating through LDAP.

[2016-09-14 12:44] ronaldosaheki commented on #4019
We are running some load tests running 2 servers with 8 cpus, each server running 7 rocketchat processes (as it is single-threaded) listening in different ports and connected to a 3-member mongodb replicaset, using version 0.39.0 and we are getting the same error and then the chat content is updated only after a reload on the browser.

`» 13 Sep 2016 18:01:15.141 <14>1 2016-09-13T21:01:15.051300Z

[2016-09-14 13:53] Sing-Li commented on #2325
@RocketChat/core   Are we starting to create new package as npm packages now?   Are we migrating?

[2016-09-14 14:00] sinteur commented on #2588
To demonstrate, I've created a new user with only the guest role, verified in the database that this is indeed the only role, invited it to a private channel, and it can auto-complete names not in the channel. See screenshots.
![screen shot 2016-09-14 at 15 57 14](https://cloud.githubusercontent.com/assets/13427371/18515090/60b3b6a2-7a94-11e6-9304-9afe6cdca9f2.png)
![screen shot 2016-09-14 at 15 5

[2016-09-14 14:12] TheReal1604 commented on #4299
I now tested to add a third node.. just to be sure the mongodb replicaset is correctly working because i read here: https://docs.mongodb.com/manual/core/replica-set-architecture-three-members/ that the minimum is three nodes.

Same problem. I am with my Smartphone from the internet on node1 and from internal on node3. RC needs a refresh to show all messages.

[2016-09-14 14:47] geekgonecrazy commented on #4299
So from the look of this... you have two mongodb servers... but doesn't sound like they have been clustered together properly.

Start with a mongodb cluster... get it going then move to scaling Rocket.Chat.

Check out this for mongodb cluster with docker: https://medium.com/@gargar454/deploy-a-mongodb-cluster-in-steps-9-using-docker-49205e231319#.egh4k3t96  Also tons of resources out there on doin

[2016-09-14 14:55] DiJu519 commented on #4243
Just to clarify, is this issue asking to "bootstrap" the steps outlined out here?

https://rocket.chat/docs/installation/docker-containers/#5-installing-nginx-ssl-certificate

Meaning an nginx docker image would be added to the docker-compose.yml?

[2016-09-14 15:06] lochiiconnectivity commented on #4085
We're seeing this as well, we're sticking with our current version until this is resolved.

[2016-09-14 15:12] vytautasgimbutas commented on #4085
@lochiiconnectivity
I was told that the issue was with renaming channel "#general". Once we put it back to #general everything started to work correctly. I'm not sure, maybe this was a coincidence.

[2016-09-14 15:17] lochiiconnectivity commented on #4085
We haven't renamed it at all, I'm afraid.

[2016-09-14 15:27] andrefreitas commented on #3369
I have the same issue here with version 0.39.0.

[2016-09-14 15:52] khobbits commented on #4150
Just came across this bug myself.  I noticed that if i navigated my browser to the site root, it would automatically log me in, then the electron link worked.
We just need to bounce quickly through the login authentication system, long enough to create a new session cookie, or present a login page if credentials can't be found.

[2016-09-14 16:08] throll commented on #4085
Here we have the same issue with version 0.39 when using rocket with a load balancer, with only one instance everything works fine.
We are curently trying to fix it by configuring our load balancer to support correctly websockets.

[2016-09-14 16:31] #1079 closed

[2016-09-14 16:33] Molle500 opened #4301 "Separate regEX between usernames & channel name"
Right now in the admin settings > general > UTF8, you can change the regEX for an example if i want the users to have atleast 2 letters in their name and max 25 letters. However this apparantly affects the channel names as well.

Could we have two different regEX please? one for usernames and one for channel names.

/Molle

[2016-09-14 16:38] engelgabriel commented on #2325
@rodrigok can you help @corecache here?

[2016-09-14 16:44] engelgabriel commented on #2255
Related to https://github.com/meteor/meteor/issues/4284

[2016-09-14 17:02] subesokun commented on #4210
The cryptic usernames are becoming lately quite a problem. If you had a direct chat with several people it's nearly impossible to guess alone from the displayed username the correct channel. So you've to click through all channels unless you find the correct chat again. E.g. my direct channel list looks somewhat similar to:

* njd7sas
* d0asds
* aleq3n
* lk2dd
* ...

So I'd really appreciate if th

[2016-09-14 17:13] ronaldosaheki commented on #4019
Para o rocketchat são duas instancias m4.2xlarge na AWS atrás de um nginx sem usar ELB e todos os processos estão conectando a mesma replicaset mongo:
* MongoDB shell version: 3.0.12
* nginx version: nginx/1.4.6 (Ubuntu)
* Ubuntu 14.04.4 LTS

As configurações para a conexão ao mongo:
env MONGO_URL="mongodb://mongo001.internal.socialbase.com.br:27017,mongo002.internal.socialbase.com.br:27017,mongo0

[2016-09-14 17:37] lochiiconnectivity commented on #4085
we are also in a load balanced environment , what do you mean by fixing your load balancer? what do you think is wrong with it? is it currently working? did something change for you in 0.39.0 where you feel you now have to do this?

[2016-09-14 17:38] rodrigok commented on #4019
Hi @ronaldosaheki, If you are using more than 1 machine you should set the env var `INSTANCE_IP` on each instance then they can connect between machines, otherwise they will try to connect via localhost only.

[2016-09-14 17:40] rodrigok commented on #4235
@kylemclaren It's fixed now, can you try?

[2016-09-14 19:55] engelgabriel commented on #4299
Please also see https://github.com/RocketChat/Rocket.Chat/issues/4019#issuecomment-247094483

[2016-09-14 20:03] TheReal1604 commented on #4299
@geekgonecrazy @engelgabriel @rodrigok I tried to set the env `INSTANCE_IP` like rodrigok suggested.. But the issue persists.. there must be an other thing. Or should i delete the complete data in my rocketchat database?

[2016-09-14 20:15] kylemclaren commented on #4235
@rodrigok Yup, that works 🙇

[2016-09-14 20:21] TheReal1604 commented on #4299
Ah, new error messages! I have now this error in my logs when the instance try to talk to each other:

`streamBroadcast.coffee:83 StreamBroadcast ➔ Stream.error Stream broadcast from '10.250.250.17:3000' to 'localhost:3000' with name notify-all not authorized`

[2016-09-14 20:45] spinza commented on #322
Is there any guidance on auth development for this?

[2016-09-14 20:45] throll commented on #4085
We thought it has something to do with our load balancer configuration (sticky session or webscoket issue), but it appears since version 0.38 or 0.37, so it should be something with the these releases and the fact we are load balancing rocket because everything works fine without it...

[2016-09-14 21:17] engelgabriel commented on #2255
@dcsan have you guys still working with Rocket.Chat? Can we have a talk to get your feedback on your reasons either way?

[2016-09-14 21:20] engelgabriel commented on #2255
@timkinnane I like the idea about the commented file, this would be a great start. Ideally, ONLY the `rocketchat:lib` should be required and it should have all its dependencies, and all the other packages should be optional. I thought about renaming `rocketchat:lib` to `rocketchat:core`

[2016-09-14 21:23] engelgabriel commented on #4299
Did you try running the develop branch?

[2016-09-14 21:29] dcsan commented on #2255
@engelgabriel happy to have a chat. we're not using Rocket.Chat. although it's fine as an end-user it's too painful and tedious to work on as a developer.
waiting for meteor to reload all the time is just a complete killer for productivity and developer happiness, so a project of this scope isn't really a fit for meteor.
we built an internal system that's similar just using plain node/meteor/react

[2016-09-14 21:29] SpencerCarstens commented on #874
Has there been any movement on this issue? It's a serious hinderance for my whole team.

I'm willing to throw some cycles at helping solve any blocking issues to help this along.

😃

[2016-09-14 22:10] mguspero commented on #2985
Hello, any news???
I think it would be a big milestone a good integration with active directory to give permissions.

Thanks!

[2016-09-14 23:04] Perksls opened #4303 "Notification API"
Not an issue just a request, is it possible to add an unread notifications API?

This would be an easy way to create a browser extension that would update the badge with notifications, among other things

[2016-09-15 02:20] leonardoterrao opened #4305 "[Livechat] - There is no route for the path: /livechat"
I added support for multiple customers in livechat, but before the pull request I test and saw that the branch develop is not finding the path to '/livechat'.

To simulate the problem: Copy the installation script on livechat management screen. Add the script to another application. When trying to render the site, the console comes out the following message:

[code]

I could not find the root caus

[2016-09-15 03:18] markshuttle commented on #4215
The issue in my case turned out to be that the SMTP ports were blocked
for Google cloud generally. Switching to a random high port enabled
traffic to flow. Thanks for the debugging and sorry for the noise! It
might however be worth addressing this by providing a clear log message
in these circumstances, I couldn't see anything in the logs suggesting
that the connection was being blocked.

Mark

[2016-09-15 07:43] bighair commented on #2504
This is still a problem for me for Outgoing Webhooks (I haven't tried Incoming) using a manually installed instance on CentOS with v0.39.0. I've tried with my own script and with the example GitHub integration script from the Wiki and I always have a blank error underneath the script field.

I've attached some screenshots if they're any use. Interestingly I was testing my integration scripts with

[2016-09-15 09:49] TheReal1604 commented on #4299
@engelgabriel Nope. I run the latest docker container in production.

But.. SUCCESS!

After the addition from @rodrigok to set the env `INSTANCE_IP` on each RC docker container and unlock the network communication between each RC instance on port 3000 all is working like a charm now. Thank you @geekgonecrazy @rodrigok @engelgabriel you´re awesome. :-)

[2016-09-15 09:49] #4299 closed

[2016-09-15 10:29] wohali commented on #322
@spinza In short if the forum software you have supports acting as an OAuth provider, you've already got what you need - it's just a matter of configuring the OAuth provider in your forum software and the OAuth consumer in Rocket.chat.

Otherwise you're looking at adding that functionality to the forum software, as I did with my IPS addon.

[2016-09-15 10:47] spinza commented on #322
Thanks, it doesn't have oauth.  It's Discourse.

So either I can add OAuth to it (or host a OAuth module separately that talks to Discourse), or I can add a specific module for it's SSO here.  I am a noob with js.  So I'm hoping there is a "template" or good example for adding another auth option to Rocket.Chat.

[2016-09-15 10:55] pavankumarkatakam commented on #4235
For me it is not working, but after this update progress is only showing not uploading the file.

[2016-09-15 10:55] sinteur opened #4308 "Cannot remove a role if a role has too many users"
version: 0.39.0
In Administration->persmissions-> click on the small icon next to role name

A user list is limited in lenght, and I cannot remove the role from a user if he is alphabetically too late in the list

[2016-09-15 10:56] sinteur opened #4309 "specify role for new user in REST api bulk/register"
version: 0.39.0

REST api does not allow me to add a user with, for example, only the "guest" role.

[2016-09-15 11:30] kmi9work opened #4310 "OpenID authentification"
Is there any way to add OpenID authentification through my own server in Rocket.chat? Is there any documentation about it?

[2016-09-15 11:33] gazzerh commented on #4155
We're seeing this issue as well! This has broken a significant amount of users for us. Please can we have an update on this?

[2016-09-15 11:42] MartinSchoeler commented on #4308
@sinteur could you post a screenshot to help us recognize the bug? Thanks!

[2016-09-15 11:48] sinteur commented on #4308
List of users starts alphabetically. Icon on the right is to remove role.

The list is only a limited amount of users long. If I want to remove the role from Zachadeus I'm out of luck, since he is not listed on this screen and I have no way to get him listed. Well, perhaps if I first remove 95% of the other users from the system....

![screen shot 2016-09-15 at 13 44 20](https://cloud.githubuserco

[2016-09-15 13:09] amiryal commented on #2200
Suggest you follow RocketChat/Rocket.Chat.Cordova#104 for updates on this.

[2016-09-15 15:09] nishimaki10 opened #4311 "File Upload: Could not get error dialog"
Your Rocket.Chat version: HEAD  636f5ab0b7fa14bae72b40b0fdcc8577878329a4

I get silent abort when I try uploading over limit filesize or invalid filetype.
(I use GridFS store.)

[2016-09-15 15:32] richardwlu opened #4312 "Various Users Unable To View File Uploads"
Your Rocket.Chat version: .38

We have a few users that are unable to view files. User A shared an image in an Direct Message to User B. User B is unable to view the image as it just shows as an empty box. When User B attempts to download the file, they receive an error "Failed - Forbidden".

Anyone else noticing this?

[2016-09-15 17:29] Molle500 opened #4314 "Attach file icon stucked on mobile"
when you paste something like a link or a normal text, the attach file Button doesn't change to the send Button. You must start typing something before u can access the send Button.
![image](https://cloud.githubusercontent.com/assets/17712562/18560178/c64ef1de-7b7a-11e6-95fe-0ceca00d9c00.png)

[2016-09-15 17:32] #4243 closed

[2016-09-15 17:43] engelgabriel commented on #4050
Guys, `break` is not the right word here. The fact that the browser warns you about not ALL the content being HTTPS is correct, and doesn't mean that the SSL was broken, just that you have mixed contents. You message stream and all the communications with the Rocket.Chat server as still encrypted, you have just requested an image from an unencrypted source.

We can:

1. Make an option to disable p

[2016-09-15 18:01] FibreFoX commented on #4050
I agree with @engelgabriel that this is not a high priority, as there are several ways to "not include" them, but: having MIXED CONTENT is the point, where the state of the website is BROKEN, because it might inject something from hijackable sources. I agree with the view of **HTTPS not being broken** itself, but the mixed-content is a problem of its own.

Another workaround: CSP-headers ... makes

[2016-09-15 18:22] Molle500 opened #4315 "Wrong favicon are shown in some browsers"
Rocket chats favicon are shown in some browsers, even tho all the assets images are changed in the admin panel > assets.

Browsers i have verified it in :

**"Microsoft Edge" (DESKTOP)**
![npmmg7kbpgotlydcj](https://cloud.githubusercontent.com/assets/17712562/18561919/1b994a34-7b82-11e6-8691-11aa95ca4587.png)

**"Chrome" (iOS)**
![waxaynn4ndboywti7](https://cloud.githubusercontent.com/assets/17712

[2016-09-15 18:37] lucasvanhalst commented on #4303
If it is only for notifications I would suggest implementing a service worker instead https://developer.mozilla.org/en/docs/Web/API/Service_Worker_API
Those can also send push notifications, but you don't need to install an extension for it.

[2016-09-15 18:56] silveirado opened #4316 "Optimize loading"
Hi there!
I suggest the creation of a pre-load page to minimize loading time.
The current blank screen loading time is 1.23 seconds, because the app is downloading all css and js files before showing the splash screen. See attached network log screenshot.
![screenshot from 2016-09-15 12-35-53](https://cloud.githubusercontent.com/assets/1919872/18563132/dd32a256-7b5c-11e6-805b-2fca6f0bb68f.png)

[2016-09-15 19:04] geekgonecrazy commented on #4050
Only problem with CSP Headers is I don't think they are re-evaluated if they are changed dynamically.  With our current rendering engine, most changes like deciding if that were to be there or not would happen client side like with the title.

[2016-09-15 19:12] #2200 closed

[2016-09-15 20:10] engelgabriel commented on #4215
@RocketChat/core let's provide clear log and error messages for SMTP connections failures

[2016-09-15 21:15] chodges opened #4318 "Way to Automatically Login - Embedding Chat in existing CRM"
Your Rocket.Chat version: 0.39.0

I have a very straightforward question (I think).  We are creating a custom CRM for a specific industry.  We would love to use RocketChat to allow the users to communicate with each other.  As you can imagine we already have our own authentication scheme (user/pass).  Is there a straightforward way to do 3 things:

1) Embed the chat into our site (I guess we can u

[2016-09-15 21:26] chodges commented on #2001
Has anyone figured out how to bypass the login portion seamlessly?  I'm at the same point you guys are.  Great platform except for seamless integration.

[2016-09-15 21:36] drickerusa commented on #3793
@homologus , I have noticed that when the nginx  points to the local server it works fantastic, but if you trying to access an external server then the problems start.

Did you ever get this to work for you?

My issue is slightly different. I have
# Upstreams
upstream backend {
    server drvm05.test.com:3001;
    server drvm05.test.com:3002;
    server drvm06.test.com:3001;
    server drvm06.test

[2016-09-15 21:41] drickerusa commented on #3619
After upgrading to version 0.39.0 I no longer have this issue.
Thanks

[2016-09-15 21:53] notsoluckycharm commented on #2001
Yeah,

We create a meteor method that we called when the application first loads (
/login ) that would call the following functions in the
client/routes/router.coffee

FlowRouter.route '/login',
name: 'login'
action: ->
readToken = (name) ->
// YOUR CODE HERE
Meteor.call('dojoAuth', readToken(), (err, x) ->
localStorage.setItem('Meteor.userId', x.userId )
localStorage.setItem('Meteor.loginToken',

[2016-09-15 22:39] geekgonecrazy commented on #3619
@TheReal1604 can you confirm you still have this issue on 0.39.0 or the demo server?

[2016-09-15 22:58] chodges commented on #2001
Hi notsoluckycharm!  Thanks so much for the feedback.  I'm a total novice when it comes to Meteor development.  Can you tel me where I would put the code you listed:

FlowRouter.route '/login',
name: 'login'
action: ->
readToken = (name) ->
// YOUR CODE HERE
Meteor.call('dojoAuth', readToken(), (err, x) ->
localStorage.setItem('Meteor.userId', x.userId )
localStorage.setItem('Meteor.loginToken', x

[2016-09-15 23:34] alexandrezia opened #4322 "New conversations do not work until a page reload"
Your Rocket.Chat version: (latest 0.39.0)

when you start a new conversation with someone you've have spoken before, the sent messages appears greyed out, and the answers are not shown.
After a page restart (Command+R/Control+R) the conversation works as expected
The other side will sees your messages
If answer was sent, on the user list you will see a notification and number of unread messages, b

[2016-09-15 23:36] alexandrezia commented on #4258
We have this issue here too,
Just switching channels sometimes causes this issue
Using latest develop branch 5232fbf5c015ac3c79a97d722f9d4dfc3511100f

[2016-09-16 01:08] engelgabriel commented on #4322
Ref: https://github.com/RocketChat/Rocket.Chat/issues/4322

[2016-09-16 01:08] engelgabriel commented on #4322
Reported by https://github.com/Movile/Rocket.Chat/issues/2

[2016-09-16 01:08] engelgabriel commented on #4322
@MartinSchoeler can you please try to replicate this?

[2016-09-16 01:13] #4316 closed

[2016-09-16 01:36] rankun203 commented on #4277
Yes, the server got the `zh-TW` language setting, but the frontend just load the part before `-`.

[code]

What would this split('-').shift() use for? Will something break if I remove this line?

[2016-09-16 03:49] rankun203 commented on #747
Now I need to add these code

[code]

into `wp-content/plugins/oauth2-provider/includes/filters.php`.

[2016-09-16 04:34] TheReal1604 commented on #3619
@geekgonecrazy Change my username now works on the demo system. Thx! :-)

[2016-09-16 04:34] #3619 closed

[2016-09-16 08:08] shadowreturns opened #4324 "How to link cloud based Rocket chat to my website App"
Your Rocket.Chat version: (make sure you are running the latest)
Hey guys,

Im trying to integrate/link Rocket Chat (cloud based one) to my web site app with is made from java, the idea is that there would be a facebook like chat box in my Java app. So that my users don't need to have rocket chat and my app opened.

Im been reading around and im stuck on this.

Help would be appreciated.

[2016-09-16 08:39] kmi9work commented on #4310
I newbie in OpenID, so it would be perfect if somebody competent just say yes or no. Should I try further or find another way.

[2016-09-16 09:51] imtrobin commented on #4099
Is this the right way to get the develop branch?
docker pull rocketchat/rocket.chat:develop

I pull it, set the avatar, same immediate server die

[2016-09-16 10:09] nishimaki10 opened #4325 "Incorrect avatar image on Chrome 53"
Your Rocket.Chat version: 0.39.0

Could not render svg and not animated gif on Chrome 53.

![ss](https://cloud.githubusercontent.com/assets/9736483/18582173/bd7aa264-7c3e-11e6-8d43-45357ba5bfc1.png)

[2016-09-16 13:02] MartinSchoeler commented on #4312
yes @richardwlu this post is a duplicate of this one #4252

[2016-09-16 13:02] #4312 closed

[2016-09-16 13:07] MartinSchoeler commented on #4311
this is a duplicate of #4235

[2016-09-16 13:07] #4311 closed

[2016-09-16 13:24] #4325 closed

[2016-09-16 13:54] Jan-Ra-wlec commented on #1723
Our Server does not have the manage-emoji permission, too. Any solution?

[2016-09-16 14:17] cttibbetts commented on #1723
This functionality is not in v0.39, it's going to be in v0.40, once that is released, as far as I can tell by looking at release notes and such.

[2016-09-16 14:20] Jan-Ra-wlec commented on #1723
Uhm... okay. I was already wondering. Thank you. Do you already know a release date for 0.40.0?

[2016-09-16 15:56] #4322 closed

[2016-09-16 16:00] doctorwho92 opened #4328 "Method to view channels with long names"
Your Rocket.Chat version: (0.39.0)
Channels with names longer than approx 22 characters get truncated in the UI left sidebar. I'd like to see a method where I can either:
A. Adjust the width of the client sidebar to reveal the longer names (manual and/or default=autofit);
B. Adjust the font size of the left sidebar to allow channels names to fit without truncation;
C. Allow an admin option to choo

[2016-09-16 16:14] shadowreturns commented on #4324
Any help would be greatly appreciated. Is it possible to do it ? If not are there any other alternatives or any possible solutions ?

[2016-09-16 16:23] sampaiodiego commented on #1723
It's confirmed missing the permission on 0.39.. the 0.40 should be released on monday.

[2016-09-16 16:39] notsoluckycharm commented on #2001
client/routes/router.coffee

On Thu, Sep 15, 2016 at 6:59 PM, Chris Hodges <notifications@github.com>
wrote:

[2016-09-16 18:04] unixfox opened #4330 "FAQ / Read before asking - Livechat feature"
I'm getting always same questions on my livechat, it could be great to add a feature that the guest has to read a FAQ or "Read before asking" when he clicks on the livechat box for example.

[2016-09-16 18:19] geekgonecrazy commented on #3619
@TheReal1604 thanks for testing that out!  👍

[2016-09-16 20:06] doctorwho92 opened #4332 "Map LDAP fields to user custom fields"
Your Rocket.Chat version: (0.39.0)
Link custom fields to ldap fields, and populate the custom field with those values.

Requires Rocket.Chat to have an ldap listener to update records.

[2016-09-16 20:24] goobersmooch commented on #4308
I'm having the exact same problem.

[2016-09-16 20:46] doctorwho92 opened #4335 "Query-based Channel/Group membership"
Your Rocket.Chat version: (0.39.0)

Create the ability to update the membership of channels or groups based on rules. For e.g.:
customField1 = department
customField2 = office
channel name = Marketing.US
rule = '(&(department=Marketing)(|(office=New York)(office=Chicago)(office=Los Angeles)))'*
- I'm stealing ldap syntax here. Would be nice to use that!

Considerations:
1. The channel should be ab

[2016-09-16 21:11] lucasvanhalst opened #4336 "Inline code parse issue"
Your Rocket.Chat version: demo server

Pasting a link and using inline code immediately after it procudes this result:
![](https://i.imgur.com/4gGfzSW.png)
text used:

[code]

[2016-09-16 21:24] alexbrazier commented on #4210
This is now complete in PR #3851 - waiting for approval
Still todo (in another PR)

- display full name in mentions
- display full name in channel members list

[2016-09-16 21:30] admin-crowd-iugo opened #4337 "rocket chat shows has more instead of loading client content when scrolling thru channels."
Your Rocket.Chat version: (make sure you are running the latest)
0.39

we have several users with over 20 channels. when they click on one channel after another from bottom to the top and again to the bottom the second time around the channel shows has more instead of the rocketchat messages. clicking has more beings up the channel content.
this is both the website and using the electron client.
f

[2016-09-16 21:31] alexbrazier commented on #1721
I think this has been resolved in #3850

[2016-09-16 21:35] admin-crowd-iugo commented on #4337
![rocket_chat_issue](https://cloud.githubusercontent.com/assets/17622866/18601941/c0dd87e2-7c1a-11e6-8449-b37b24927343.png)

[2016-09-16 21:35] admin-crowd-iugo commented on #4337
example screenshot. as noted above clicking has more.... loads the channel content normally.

[2016-09-16 21:56] admin-crowd-iugo commented on #4337
ok i see a potential fix.
https://github.com/RocketChat/Rocket.Chat/commit/fecae37360efe9e9bc7193483f48990f4082d442
if this is the fix please close the bug. thanks.

[2016-09-16 22:19] #3549 closed

[2016-09-16 23:24] alpha14 commented on #3835
Same problem here, happens randomly. I have to restart the app to make it disappear.

[2016-09-17 00:29] chodges commented on #2001
Thank you!

[2016-09-17 00:42] unquietwiki commented on #4106
@rodrigok I had a chance to load 0.39, and revisited my environment. Figure out that if I make sure "Merge existing users" is enabled in LDAP, it will allow me to login again without recreating the account. However, it seems to require a reload/refresh of the chat client to complete those subsequent logon attempts.

[2016-09-17 05:32] deep0892 commented on #4305
Same happening with me too, definitely not a configuration problem.

[2016-09-17 18:18] juckeltour commented on #4182
Unfortunately, this does not work anymore. Does anybody get this running?

[2016-09-17 18:55] matthewshirley commented on #4324
You could use the Rocket.Chat API to send and receive messages. You would have to implement the style yourself. https://rocket.chat/docs/developer-guides/rest-api/

[2016-09-17 19:07] matthewshirley commented on #4318
Without seeing any code it is hard to diagnose. Are you using /api/login to log in the user in? If so, to my knowledge, that will only log the user into the API.

You're looking for a single sign-on (SSO), SAML or OAuth. I cannot find any implementation in Rocket.Chat but is an open feature request: #322

[2016-09-17 20:22] lunitic commented on #1120
https://github.com/protonet/cordova-plugin-image-resizer

Could this be added in the Cordova App?

[2016-09-17 20:26] subesokun commented on #4210
@alexbrazier, awesome thanks a lot! Looking forward to it :)

I guess the issue to display the full name in mentions has been already solved via this commit, or? https://github.com/RocketChat/Rocket.Chat/commit/b3151e60bdfe3188f06ebd32cd40e1bfd8378ab7

[2016-09-17 20:38] lunitic commented on #1988
@stoufa88 did you get this to work? Very interested in same solution

[2016-09-17 21:45] paulcrick opened #4342 "Option to use Google profile pic for user avatar when using Google OAuth"
The Google OAuth integration works great, but Rocket.Chat doesn't use the user's Google profile picture as the Rocket.Chat user avatar picture by default - each user has to go into their profile settings and switch it over to use the Google profile pic.

Would it be possible to add a setting to the Google OAuth module that would set newly created users to use the Google profile pic by default? See

[2016-09-18 00:31] spinza commented on #4342
I think this should be more generic.  I use custom oauth on my instance and my oauth provider provides a profile pic url on the user info call.  However Rocket.Chat does not use this profile pic.

[2016-09-18 06:25] lunitic commented on #4337
Seen this issue too

[2016-09-18 09:55] Molle500 opened #4344 "Improve edit message"
I think Rocket chat's edit message should have the same style and functionality like Slack and Discord.

When you edit a message, the box where you edit the message is inside the post instead of having to type inside the message bar.

Slack:
![slack](https://cloud.githubusercontent.com/assets/17712562/18614826/d14fc536-7d96-11e6-8685-e9aa0a6c7457.png)

Rocket chat:
![rc](https://cloud.githubuserco

[2016-09-18 10:14] heytimc commented on #2869
Yay! Merged to develop :)

[2016-09-18 11:48] AdrianoCahete commented on #897
User is notified when reach this limit?

[2016-09-18 13:32] antgel commented on #637
@gustavkarlsson Do you intend to extend this integration to incoming i.e. connecting a given JIRA project to a RocketChat room?

Also a question for everyone involved, is there a desire to get this integrated in some way, or do we think we'll all be rolling our own for the foreseeable future? :)

[2016-09-18 14:37] antgel opened #4345 "statuspage.io "Slack" integration fails with error"
Rocket.Chat version: 0.39.0

I'm trying to get this going as part of our POC project.

I created an incoming webhook (we have others working), set Enabled (true), and filled in Name (statuspage.io) and Post to Channel (#GENERAL). I left Script Enabled (false), first time I've done that with a webhook - other webhooks I've written parse the REST HTTP call, but in this case I thought RC is meant to

[2016-09-18 14:41] antgel commented on #4035
Can someone remove the "waiting response" label? :)

@yuchaozh 0.35 is really old, can you upgrade as a first step?

[2016-09-18 16:11] spinza commented on #3165
Our mail is also blocking.  How can we add the date header to the emails.

[2016-09-18 18:35] Deepakkothandan opened #4346 "Rocket.Chat Call back plugin for ansible"
Your Rocket.Chat version: (0.36.0)
Hi All,

We had to use the callback feature of Ansible and notify us on failed ansible runs through the incoming webhooks feature. So, I forked the slack callback plugin and modified it for use with rocket chat and the link to source is [Ansible Callback plugin for RocketChat](https://gist.github.com/Deepakkothandan/4808bcb4e9881e2d4fe8a643a9bab4eb)

The only iss

[2016-09-18 18:43] stoufa88 commented on #1988
@lunitic unfortunately not

[2016-09-18 20:51] lucasvanhalst commented on #4346
Full markdown isn't supported yet, only the most common things like headers, quotes, code, links, bold, italics and strike through
Code for it can be found here, it shouldn't be too hard to implement tables.

https://github.com/RocketChat/Rocket.Chat/blob/83e743ac030a43ac2dfc9f505aa14b2a3b981f16/packages/rocketchat-markdown/markdown.coffee

[2016-09-18 22:10] spinza commented on #3165
I tried the fix above and it seems to have resolved it.  No more bad header errors.

Dug a little deeper and that code is actually out of mailcomposer, which is being used by Meteor Email (package?).

mailcomposer is not setting this date automatically and it seems to be advised to set it manually by them.  A bit strange to not set a date as required by RFC but anyway:
https://github.com/nodemaile

[2016-09-18 22:19] rodrigok commented on #4258
@alexandrezia Any ideia on how to reproduce?

[2016-09-18 22:26] alexandrezia commented on #4258
I'm still trying to find out how to reproduce it

[2016-09-18 22:30] spinza commented on #3165
Sorry for the long writing.  Now I see this commit:
https://github.com/RocketChat/Rocket.Chat/commit/b2afdb3af21ebecf9238896dd455fb7c37b947c6
In my noob Meteor experience this seems to include the fix that adds a Date header if none are present when Meteor sends an email. (This PR:https://github.com/meteor/meteor/pull/6916)

[2016-09-18 22:32] spinza commented on #3753
Missing date header seems to be addressed.  See my comment here: https://github.com/RocketChat/Rocket.Chat/issues/3165#issuecomment-247885246

[2016-09-18 22:33] gustavkarlsson commented on #637
@antgel No plans for that. This is for outgoing messages only.

[2016-09-18 23:03] skug67 commented on #3617
I noticed the same problem here and in the cas module.  It's particularly problematic for me because I'm running rocketchat at a suburl via Passenger/Apache, so sending the callback directly to /_cas/ means that it never makes it to my rocketchat server.....

[2016-09-19 05:29] r00t4bl3 commented on #835
:+1: I use mongodb version 2.4 and after node main.js it shows this error. After upgrading to 2.6 and it runs perfectly. I think the manual should be updated so it says minimal mongodb version is 2.6.

[2016-09-19 06:16] dytec commented on #4345
Maybe you have to write the channel name in lowercase letters.
This is something that bothered me in the past...

[2016-09-19 08:39] Jan-Ra-wlec opened #4349 "How to update - Autoupdate?"
Hello,

Last time when I made an Update, I deleted the RocketChat folder and reinstalled it. Is there any other possibility to do an Update?

What if you Add an Auto-Update Tab into adminstration?

Thank you
JR
Your Rocket.Chat version: 0.39.0

[2016-09-19 10:28] mkretzer commented on #2759
Is there any new info about this? This feature is extremely important for us...

[2016-09-19 11:16] antgel commented on #4345
I tried it both ways, no improvement. The channel name is in capitals to satisfy Hubot. See https://github.com/RocketChat/hubot-rocketchat/blob/master/src/rocketchat.coffee, line 84.

I also tried a channel with a lower case name, and got the same result.

@dytec Do you have a working integration with statuspage.io?

[2016-09-19 11:20] Cheatha opened #4350 "Broken, but valid hyperlinks"
Your Rocket.Chat version: 0.39

GitLab tends to add **utf8=✓** to links, for example: https://gitlab.example.com/search?utf8=✓&search=mysearch&group_id=&project_id=42&search_code=true&repository_ref=master

When you copy/paste this link into Rocket.Chat the link will be cut off in front of **✓**: https://gitlab.example.com/search?utf8=

[2016-09-19 13:00] engelgabriel commented on #4344
I disagree :) but let have a discussion about this.

[2016-09-19 13:05] Jan-Ra-wlec commented on #4344
I don't get the differenz, I like it how it is

[2016-09-19 13:17] sampaiodiego commented on #4337
yep, it was fixed by fecae37

[2016-09-19 13:17] #4337 closed

[2016-09-19 13:22] engelgabriel commented on #4246
I am totally lost on this one. @niemeyer Is there an way to consistently reproduce this?

[2016-09-19 13:26] sampaiodiego commented on #4169
@ankibalyan are you running your mongodb on replica set mode?

[2016-09-19 13:36] sampaiodiego commented on #4061
@pacoeu that messages are sent via email.. you can change the email address from the admin panel:
![image](https://cloud.githubusercontent.com/assets/8591547/18633883/d57b99c8-7e54-11e6-9644-8278eebc9083.png)

[2016-09-19 13:36] #4061 closed

[2016-09-19 13:38] JT089 commented on #2759
*bump* We also are highly interested in this feature

[2016-09-19 13:40] JT089 commented on #1196
+1 would love that feature too!

[2016-09-19 13:52] niemeyer commented on #4246
No, I haven't tried to reproduce it explicitly, but I saw its effects very clearly, multiple times.

[2016-09-19 13:59] niemeyer commented on #4246
Ah, one idea: this was happening while #4217 was also a problem, which turned out to be related to #2504, both addressed by @geekgonecrazy.

There might be a problem in the error handling path, either when delivering or saving webhooks (or both), which causes a configuration to persist in the background incorrectly. I'd try to reproduce the above issues, and then observe its effects in that regard

[2016-09-19 15:34] Jan-Ra-wlec commented on #4349
Okay, We'll migrate soon, so I'll try this on my private Server first. Thank you! But will there be an Update button (or command) in the Administration/backend?

[2016-09-19 15:36] rodrigok commented on #4217
Can't reproduce

[2016-09-19 15:36] #4217 closed

[2016-09-19 15:41] spinza opened #4352 "User Profile Time Format (Create at & Last Login)"
Date / Time format not consistent with site settings.
![image](https://cloud.githubusercontent.com/assets/3501598/18638474/98908e56-7e90-11e6-9bdf-2ac48b294111.png)

Note 24h format (as per site setting) for the last seen time and the AM/PM format in Created at & Last login

Your Rocket.Chat version: 0.39.0

[2016-09-19 15:56] spinza commented on #4315
Looking through the headers on my site I find the following. Note all the favicon links.  All the `/asset/` ones are the replaced ones.  The `/images/` ones are the standard red rockets/speech bubbles.

Also the `<title>` should really be my site title I think.
[code]

[2016-09-19 16:19] wargamesqcf opened #4354 "Back up mongodb"
Your Rocket.Chat version: .39

Since rocket doesn't have a back up feature, it really needs one.

How does one go about backing up a mongodb instance inside of a docker-compose container?

[2016-09-19 16:30] geekgonecrazy commented on #4246
One thought I had was that 0.39.0 is using Node.js 0.10.44.  Javascript VM's were pretty young at this point.  It seems like it drops these files in /tmp.  So its possible it was some how picking up and executing the left around copy of the script when an update was performed.

0.40.0 of Rocket.Chat will be using Node.js 4.5.  I'm thinking javascript VM's are handled a good bit better, and this is

[2016-09-19 16:44] rodrigok commented on #4246
@engelgabriel See #4356

[2016-09-19 16:53] geekgonecrazy commented on #4246
@rodrigok 👍 that looks to be it :)

[2016-09-19 17:11] wargamesqcf commented on #758
How can I get that to work when my mongodb is inside of a docker-compose container @lunitic ?

[2016-09-19 17:18] geekgonecrazy commented on #758
@wargamesqcf something like this..  `docker run -it --link rocketchat_mongo_1:db -v $PWD:/backup mongo mongodump -h db -o /backups/<yourfilename>`

Haven't tested this, but I think will work.

[2016-09-19 17:21] wargamesqcf commented on #758
its not rocketchat_mongo_1:db its  whatever your username is _mongo_1:db

[2016-09-19 17:28] geekgonecrazy commented on #758
@wargamesqcf yeah actually I think its dependent on the name of the folder you have the docker-compose file in.  I personally put mine in a folder `rocketchat` so mine is always prefixed with rocketchat.   But if you are running it from your home folder... then yeah it'd start with your username :smile:

[2016-09-19 17:30] wargamesqcf commented on #758
yep that probably what is happening, but you should output something to /backups folder in linux right?

[2016-09-19 17:32] geekgonecrazy commented on #758
@wargamesqcf that command would run inside the container and put the backup inside of the /backup folder inside the container.  That folder is mounted to your file system to `$PWD` which represents your current folder.  If you wanted to dump it into a certain folder then you would change `$PWD:/backups` to something like `/backups:/backups` and then on server backups would be found in /backups

[2016-09-19 17:37] wargamesqcf commented on #758
That worked! now how do we reserves this if/when the mongodb crashes and dies?

docker run -it --link foldername_mongo_1:db -v /backups:/backups mongo mongodump -h db -o /backups/test

[2016-09-19 18:10] rodrigok commented on #4252
Seems that this happens duo a miss configured Root URL. Please reopen it if the problem persists.

[2016-09-19 18:10] #4252 closed

[2016-09-19 18:15] lucasvanhalst commented on #758
I use this to backup the db with a cron job every night
[code]

Then to restore it simply
[code]

[2016-09-19 18:21] lucasvanhalst commented on #4354
See my comment here https://github.com/RocketChat/Rocket.Chat/issues/758#issuecomment-248075332

[2016-09-19 18:25] wargamesqcf commented on #758
For me I have the docker-compose.yml in a home directory, and would just leave out the var in backup dir, that shouldn't really mess with the mongorestore right?

having the application handle the backup/restore is nice because most of those are easier for the end user.

[2016-09-19 18:25] jadolg opened #4357 "Desktop app on linux + Proxy"
Your Rocket.Chat version: 1.3.1
I've tried running RocketChat exporting my proxy variables and I have not being able to connect to the demo server. I don't see any feedback on my terminal.
Can you make it proxy-friendly? (Something like a Settings option would be really cool **Check Telegram configuration for example)

[2016-09-19 18:27] lucasvanhalst commented on #758
Doesn't matter where you docker-compose file is located really. And sure, place the backups wherever you want. I'd recommend copying them over to a remote server as well in the same script.

[2016-09-19 18:28] wargamesqcf commented on #758
100% agree, shove them into a google drive.

[2016-09-19 18:33] #4246 closed

[2016-09-19 18:54] wargamesqcf commented on #758
I used your bash and got this as an outpout

016-09-19T18:53:27.715+0000    Failed: open /backups/mongo/archive.json: no such file or directory

[code]

[2016-09-19 19:07] tdhz77 commented on #2131
I haven't been able to get this working.

[2016-09-19 19:53] skug67 commented on #3617
Seems like this (or at least my piece of this) may be related to #2518, perhaps the fix didn't clean up quite all the URLs that were needed.

[2016-09-19 20:05] #4194 closed

[2016-09-19 20:23] rodrigok commented on #4086
Hi @viniciusrtf, Are you setting the token in user's record on database correctly?

[2016-09-19 20:36] cedemore commented on #4344
I prefer the first imag, like Slack. The first 5 times i edited a message i tried to edit the yellow box inside the message.

[2016-09-19 20:59] #2837 closed

[2016-09-19 21:00] rodrigok commented on #2325
I'll take a look after the 0.40 release

[2016-09-19 21:01] geekgonecrazy commented on #3906
I've opened #4360 that adds a setting to allow sending of unrecognized slash commands to restore this functionality.

[2016-09-19 21:02] #4215 closed

[2016-09-19 21:06] geekgonecrazy commented on #758
@wargamesqcf you would have had to mounted that as a directory when you started the mongo container.  This is why I suggested the additional container approach 😄   This way it mounts that directory executes and then closes.

[2016-09-19 21:23] wargamesqcf commented on #758
I have a fundamental lack of docker knowledge.

[2016-09-19 21:38] Xqua commented on #3824
Anyone working on this ?

[2016-09-19 21:55] #4305 closed

[2016-09-19 22:00] #3906 closed

[2016-09-19 22:15] viniciusrtf commented on #4086
Since we're using Rocket Cloud, I don't think we have access to the database.

We are assuming that logging in the user via Rocket Chat REST API is equivalent to setting the token directly in the database. Are we wrong about that?

Thanks for the reply.

[2016-09-19 22:39] JohnnyKing94 commented on #3661
+1 I support the idea... it would be nice and a good competitor against Discord atm

[2016-09-19 23:24] Xqua opened #4362 "I made a Python rocket chat API library"
Hi,

I made a python rocket chat API library, but I'm not sure where to put it ?
or if it is of any value ?

[code]

Usage is

[code]

etc etc

[2016-09-19 23:35] shtefcs commented on #3593
Anyone ? :)

[2016-09-19 23:44] engelgabriel opened #4363 "SyntaxError in programs/server/packages/rocketchat_oembed.js:421"
## Error in Rocket.Chat

**SyntaxError** in **programs/server/packages/rocketchat_oembed.js:421**
Unexpected end of input

[View on Bugsnag](https://app.bugsnag.com/konecty/rocket-dot-chat/errors/57e07877298e405f4ba50e5b?event_id=57e07877d490371200de176a)

## Stacktrace

    programs/server/packages/rocketchat_oembed.js:421 - none
    programs/server/packages/rocketchat_lib.js:290 - none
    progr

[2016-09-19 23:56] nokobon commented on #4125
I've come up with a solution/workaround that adds a mark as read button to the tab bar.

It works on the Cordova app if you can figure out how to make the client to fetch the custom scripts. I'm not sure what I did, but I eventually managed to get my phone to show the button.

Add this to Administration > Layout > Custom Scripts > Custom Script for logged in users:
[code]

Change `order` as desire

[2016-09-20 00:10] gwillen opened #4364 "Separate edit-topic from edit-room permission"
(Version: 0.39.0)

Hi Rockets!

Would it be possible to separate out topic editing from the edit-room permission? I think in many environments, including ours, it would be nice if all users of a room could edit a topic (much like on IRC with cmode -t), but we don't want them to be able to change the room name, archive the room, make the private room public, etc. (which are generally not necessary

[2016-09-20 00:15] gwillen opened #4366 "Add visibility of room users into room permissions"
(Version 0.39.0)

Hi Rockets!

I think it would reduce confusion around permission issues a lot, if every user could somewhere see the following things on a room:
- What their role is with respect to that room (user, moderator, owner, etc.)
- What specific permissions they have to that room (edit-room, pin-message, etc.)
- What users have owner/moderator permissions on that room (so they know who

[2016-09-20 01:56] timkinnane commented on #2255
@dcsan I started a package [here](https://github.com/timkinnane/rocket.chat/tree/feature/trim-packages), testing removing some (imo) extraneous packages. I took some fairly big ones out, like Livechat, Sandstorm. The result is a much faster and less complicated build, but I had to also chase down some errors where packages were being referenced in core without checking if the package is enabled.

[2016-09-20 01:58] timkinnane commented on #2255
Ideally another part of that PR would be the docs to detail what each package is/does. I don't know what half of them do.

[2016-09-20 02:08] aydancoskun opened #4368 "Jitsi button renders incorrect unresolvable iframe URL"
Your Rocket.Chat version: 39
The URL produced is wrong: https://https//meet.jit.si/oktick/RocketChat5689....
![screen shot 2016-09-20 at 04 03 49](https://cloud.githubusercontent.com/assets/10948793/18655244/780f1254-7ee7-11e6-8607-61e275b42653.png)

[2016-09-20 02:10] aydancoskun commented on #4368
I figured out what the problem is. The URL on the admin page is https://meet.jit.si
But it should be meet.jit.si to make it work with ssl selected

[2016-09-20 02:56] paulcrick commented on #4342
@spinza: My request was for the supplied Google OAuth integration, but I think you raise a valid point for custom OAuth integrations. How would you feel about for custom OAuth integrations having a) an option to provide the parameter name that contains the profile pic URL, and b) an option to specify whether this should be used as the user's default avatar?

[2016-09-20 03:06] paulcrick commented on #4241
I've had this issue too, using nginx as an SSL reverse proxy. @joseconsuegra Are you using a reverse proxy?

[2016-09-20 06:12] LostInAzure commented on #3761
+1 (0.39.0)
Syirrus wrote a fix in another issue but how do I patch that fix into an existing deployment without having to rebuild the entire application?

[2016-09-20 06:39] joseconsuegra commented on #4241
@paulcrick no, I'm not using a reverse proxy...

[2016-09-20 08:26] simsinteractive commented on #4325
Yes I've reported a related bug when using an SVG sprite sheet as a background.  On Chrome 53 results in corrupted background positioning and sizing - and sensitivity to browser window zooming.

[2016-09-20 09:27] himbeere opened #4370 "after entering channel only "has more" is shown to user (screenshot attached)"
RocketChat 0.39.

Hello Devs.

I get a lot of user complaints regarding the subject of this issue.

![bildschirmfoto 2016-09-20 um 11 23 53](https://cloud.githubusercontent.com/assets/631865/18664931/0b0ae532-7f25-11e6-9923-e174c680c89f.png)

Is this a known issue? Is there a way to get around this?

thanks and cheers
t.

[2016-09-20 10:12] antgel opened #4371 "Permission names to have i18n (real names)"
Your Rocket.Chat version: 0.39

Based on the conversation in #1578, especially @geekgonecrazy 's [comment](https://github.com/RocketChat/Rocket.Chat/issues/1578#issuecomment-218847624).

At present, it's really hard to understand what permissions like delete-p actually do.

[2016-09-20 11:02] Mte90 commented on #1268
I think that also get a notification when someone use @all by email it's important, as I can see from the log there are no email sent it in that case.
Also in the profile it's possible to receive email only when the users is not connected but only if is a mention or dm but not when is a classic message.

[2016-09-20 11:02] lunitic commented on #4370
#4285
Seems like it solved in next release

[2016-09-20 12:07] himbeere commented on #4370
Thanks for the link.

[2016-09-20 15:18] mccambridge commented on #1988
I just noticed my 40x40 avatar on our instance is using a 6000x4000px image, lol 😬

You guys ever look at doing the resize in canvas before sending up the file? Something like https://github.com/csbun/resize-image

[2016-09-20 15:40] rodrigok commented on #4086
@viniciusrtf Yes, unfortunately the iframe login uses a different toke property than the usual token.

We have 2 options here:

1. Add an option to use the default token property in iFrame login, then you can keep your approach
2. Add a new REST Api to create the iFrame token

[2016-09-20 16:19] chodges commented on #4318
Yes but will either SSO or SAML allow me to bypass the login screen completely?  That's the goal.  I want this to be a seamless integration where the user does not even know there's a separate account for the chat.

[2016-09-20 16:55] drickerusa commented on #4299
@geekgonecrazy @engelgabriel would this be the best place to document my testing and deployment or soon to be deployed to production. Or how would you like for me to do this? Is there a template to follow etc.? It might be helpful for those who are deploying HA RC deployments. I'm still doing some automated testing which I would love to get some feedback on. I'm not using docker in this implementa

[2016-09-20 17:00] geekgonecrazy commented on #4299
@drickerusa I've open a ticket on our documentation repo.  This is where i've been trying to collect info and do a write up.  https://github.com/RocketChat/Rocket.Chat.Docs/issues/87

If docker specific you could document there or create another ticket on that repo.  I just started there because Its easier to find.  But its up to you :smile:

[2016-09-20 17:33] olafleur commented on #2033
Was not able to reproduce. Which version of Rocket.Chat are you using?

[2016-09-20 17:37] olafleur opened #4372 "Addition to UX : inform the user that to leave the CTRL + P dialog you can press on ESC"
Your Rocket.Chat version: 0.39.0

When entering in the CTRL + P dialog, you are obligated to select something. If you don't you are not able to get out of the dialog.

You should be able to click out of the dialog and make it disappear, don't you think? (or at least quit by doing CTRL + P again)

[2016-09-20 21:14] rasos commented on #4364
Our users would like to be able to set a sub-topic in each room. Maybe this additional feature could also serve your users needs, if you would allow named "threads" like in a forum and let the room remain a rather generic topic. Ideally, you also could view messages by sub-topic threads.

[2016-09-20 21:38] gwillen commented on #4364
@rasos: Hmm, that sounds much more invasive than what I'm talking about. There's already a 'topic' field which is displayed at the top of each room. I'm just asking about adjusting the permissions required to edit that field. No new features, no threading. :-)

[2016-09-20 22:57] compuguy commented on #4216
I can tell you @amaraka that your ssl cert for your jitsi-meet server is self signed to an ip address which is why it doesn't work in rocketchat.

[2016-09-20 22:58] compuguy commented on #4223
While were at it, lets get owncloud and nextcloud support as well...

[2016-09-20 23:28] viniciusrtf commented on #4086
I'm not sure if you did ask my opinion, but here it is... Option 2 seems more flexible to me. With regard to option 1, if we force the developer to choose between two token properties, we may break something that is already in production.

[2016-09-21 00:51] rodrigok commented on #4086
@viniciusrtf I was not asking your opinion, I was just thinking loud 😄

What do you think about this solution: https://github.com/RocketChat/Rocket.Chat/pull/4373

[2016-09-21 03:19] deep0892 commented on #4305
Has this been merged in 0.40.0 branch or just in the develop??

[2016-09-21 03:34] deep0892 commented on #4305
there was a bug with livechat not opening , it was fixed with the above release, but i am facing some issues in livechat, the chat is not getting assigned to any user, i have an admin online and added to live chat, but i am not getting the messages sent from livechat to the admin.

Further, i am unable to create chat from incognito(chrome) , its prompts for usrname and emails, but keeps giving use

[2016-09-21 04:35] wargamesqcf commented on #758
@geekgonecrazy so this works on backing up the mongodb that is in a docker-compose

``` docker run -it --link username_mongo_1:db -v /backups:/backups mongo mongodump -h db -o /backups/test ```

Would this work to restore the back up files?

``` docker run -it --link username_mongo_1:db -v /backups:/backups mongo mongorestore -h db -o /backups/test ```

[2016-09-21 04:44] vbasky opened #4374 "Documentation for Server Meteor Method API"
Your Rocket.Chat version:
0.39

Can we have documentation of API's for the server meteor methods implemented, helps building client depending on Meteor DDP API's.

[2016-09-21 07:49] OnlineBoy opened #4375 "update to version 0.40.0 problem"
Your Rocket.Chat version: 0.40.0
when i use commend
______________________
node main.js

it dosnt start and shows this error
__________________________________
[code]

Help me Plz!

[2016-09-21 08:04] OnlineBoy commented on #4375
oh sorry
i didnt see that new thread in wikis
From 0.x.x to 0.40.0

but wen i use

n install 4.5

it says

     install : node-vinstall

  Error: invalid version install

[2016-09-21 08:15] OnlineBoy commented on #4375
well
correct commend is

n 4.5

not n install 4.5

[2016-09-21 08:15] #4375 closed

[2016-09-21 09:28] droup opened #4376 "Title site and icons"
Your Rocket.Chat version: 0.40

I'm using docker.
How can change the Title of the Main page, "Rocket.chat" appear systematically during the loading on the tab.
Apparently due because the title of head.html file is "rocket.chat".
How can i change that because on google search it's rocket.chat the Title of my site and not my title.

Also when i go on android and iphone web browser, the rocket-chat l

[2016-09-21 09:48] zorenleo opened #4377 "Option to sort direct messages"
Your Rocket.Chat version: 0.40.0
It would be very useful to be able to sort private chats alphabetically (available now) or by last activity (todo). What do you think?

[2016-09-21 10:28] asthomasdk commented on #4024
I tried that the other day as a simple test - just by using a WebHook in Zapier.

[2016-09-21 11:14] MartinSchoeler commented on #4372
hey @olafleur have you tried to press esc to get out of the dialog?

[2016-09-21 11:24] #4370 closed

[2016-09-21 11:39] MartinSchoeler commented on #4350
![screenshot from 2016-09-21 08-37-11](https://cloud.githubusercontent.com/assets/20868078/18709479/c2d3ff94-7fd6-11e6-9e18-95e431b170eb.png)
Just like this

[2016-09-21 12:10] unixfox opened #4378 "Additional fields on the livechat box"
Your Rocket.Chat version: 0.40.0
## Explanation of the idea
It could be great to introduce a ability to add additional fields on the livechat box.
Additional fields could be synchronized with `custom fields`.
And a possibility to require some fields.

## Idea in image
![capture du 2016-09-21 14-04-51](https://cloud.githubusercontent.com/assets/4016501/18710235/683db95c-8004-11e6-9942-ba023da51993.