[2018-03-07 09:11] abdelrahmanahmed commented on #4378
it's weird that this feature is not implemented yet.

[2018-03-07 09:29] magicbelette opened #10041 "Error with sharp module after upgrading to 0.62.1"
### Description:

Hi,

I got an error while upgrading from 0.61.1 to 0.62.1 about sharp module. Is the version embedded in the tar compatible with the node version recommanded by RocketChat ?

"Rocket.Chat 0.60 and higher needs version 8.9.3 LTS of Node.js to work."

Cheers

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Debian
* Deployment Method(snap/d

[2018-03-07 10:43] willihelm commented on #9470
I hab the same Problem. I solved this with the following MongoDB queries:

find all created users after the specified time
db.getCollection('users').find({createdAt: {$gte: new Date("2018-03-07T09:50:00.000Z")}})

delete all created users after the specified time
db.getCollection('users').deleteMany({createdAt: {$gte: new Date("2018-03-07T09:50:00.000Z")}})

find all messages in GENERAL after the

[2018-03-07 10:55] willihelm opened #10042 "Sorting 'Group By Type' hides private rooms"
### Description:

After updating to version 62.1 users complained about not seeing private rooms. I did not have the issue so I searched for the cause. I found out that it was an issue with the user permissions. All users have to have the permission 'view-p-room'. If the sorting is not set to 'group by type' the users can access their private rooms even if they do not have this permission.

### Se

[2018-03-07 10:58] michaelkollmann opened #10043 "Internal Server Error when changing user settings"
### Description:

When saving any changes to my profile (e.g. client language) Rocket Chat displays an "Internal server error". I can't save any changes. Some of the users on my server are affected but not all of them.
We only installed Rocket.Chat two days ago. I think we started at 0.62.0 and after the first night it upgraded to 0.62.1. Rebooting the whole linux server didn't help.

When adding

[2018-03-07 11:05] apmilen commented on #9968
I'm also experiencing this issue in iOS using both Chrome and Safari :(

![img_1875](https://user-images.githubusercontent.com/2745728/37089128-7607dc48-21f7-11e8-92b0-325e1876a310.PNG)

[2018-03-07 11:36] sampaiodiego commented on #8624
@coreyman this is exactly what happens _right now_ . but the whole point of the issue is the step 3 on "how to reproduce", currently rocket.chat does not send a push notification for **new livechats** .. and this happens exactly because if you are _offline_ you will **not** receive a _new livechat_..

we also have this already. which for livechats are automatically set for "every message". but aga

[2018-03-07 12:07] himbeere opened #10044 "rocketchat 0.62.1 crash with nodejs 8.10.0 (segmentation fault)"
Hello Devs.

Just updated to nodejs 8.10.0. Rocketchat 0.62.1 crashes immediately with segmenation fault.

[code]

Known issue?

thanks and cheers

[2018-03-07 12:31] cr22rc commented on #10037
Moved to:
https://github.com/RocketChat/Rocket.Chat.Android/issues/866

[2018-03-07 12:31] #10037 closed

[2018-03-07 12:57] sumedh123 commented on #9976
This issue was reported earlier and has a pull request https://github.com/RocketChat/Rocket.Chat/pull/9739
@c0dzilla

[2018-03-07 13:10] rocketchatdev commented on #10043
same happening at my end

[2018-03-07 13:17] bizzbyster commented on #6890
@chemalopezp did you get an answer to your question? I don't see a follow-up anywhere. I'm also interested in adding support for bots in a way that is similar to facebook messenger and slack. On the server-side, it would be great if we could support slack and facebook messenger webhook API (https://developers.facebook.com/docs/messenger-platform/webhook) so that an admin could point Rocket.chat we

[2018-03-07 13:40] engelgabriel commented on #8976
Lets use our newsletter for this.

[2018-03-07 13:40] #8976 closed

[2018-03-07 13:42] sefter25 commented on #9276
same problem!

[2018-03-07 13:49] rlach commented on #9329
Rocketchat 0.62.1 - The issue still persists.

Quick analysis shows that on .sidebar-item class variable for primary font color gets overriden by `--sidebar-item-text-color` that cannot be set anywhere.
![screenshot from 2018-03-07 14-44-15](https://user-images.githubusercontent.com/5655000/37095416-2a18c15c-2216-11e8-9aeb-da38a24fbed2.png)

In meanwhile I use custom CSS to sidestep the issue:
`
.

[2018-03-07 13:54] #6998 closed

[2018-03-07 13:58] bizzbyster opened #10045 "Chatbot GUI component support"
Chatbot conversations support more than just plain text to improve user experience. For example, here's a list of the "conversation components" that Facebook Messenger supports:

https://developers.facebook.com/docs/messenger-platform/introduction/conversation-components

And also a graphic that shows the range of chatbot interface elements from conversation to GUI.

![image](https://user-images.g

[2018-03-07 14:06] MartinSchoeler commented on #10044
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2018-03-07 14:06] #10044 closed

[2018-03-07 14:09] coreyman commented on #8624
Yea it's been a bit since I had the issue (Dec 2017) so I couldn't remember but I thought that was the case. That clears it up a bit and makes the issue sound like it is easily resolvable. Just give us a dropdown that allows new livechats when agents are offline.

[2018-03-07 14:19] craig commented on #1112
@pshute People who do not like the idea of threading can just refrain from using it.
I think threading is a great idea and a killer-feature that should be implemented in order to keep rocketchat usable in rooms with higher activity.

[2018-03-07 14:19] himbeere commented on #10044
So it's not a generic issue then. Will look into it.

[2018-03-07 14:21] c0dzilla commented on #9976
Cool @sumedh123 , you can reference this issue as well in the pr so that others know it has been addressed :)

[2018-03-07 14:45] #9859 closed

[2018-03-07 14:46] #9925 closed

[2018-03-07 15:37] MikaelMello commented on #7268
Did #9584 fix this or there are things left?

[2018-03-07 15:58] Otiel commented on #9891
This is fixed in v0.62.1.

[2018-03-07 16:16] Otiel opened #10046 "Add feature to change channel image"
It would be nice to be able to change the image of a channel (public or private) displayed on the left sidebar.

Sometimes the generated images are too much alike, like shown below:

![image](https://user-images.githubusercontent.com/3851902/37103717-27176b92-222b-11e8-898f-8b87758636e6.png)

[2018-03-07 16:17] jaytat0 commented on #10045
@graywolf336 @timkinnane is this a good candidate for a rocketlet?

[2018-03-07 16:25] MartinSchoeler commented on #10041
@magicbelette have you already tried a `npm install`?

[2018-03-07 16:33] notnamed commented on #7258
Rocket.Chat Version: 0.62.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 8.9.4

Attempted fix: restart mongo, restart RocketChat

This started happening to multiple users this morning. We are not using any external auth, no user has changed their username (although this server does allow it). This was reported to me by a member of my community, and I was able to replicate. It s

[2018-03-07 16:33] mikaelmello opened #10047 "Scroll of sidebar rooms-list div has white background on Mozilla Firefox"
### Description:

Sidebar div rooms-list is misaligned with header and footer on Mozilla Firefox 58.0 (64-bit) on https://open.rocket.chat/. Picture: https://imgur.com/a/WzxOa

This issue happens only in Firefox in Linux Mint 18, Chrome looks fine.

Update: It happens on both open chat and my local server, still only on Firefox (haven't test anything else than Chrome).

Screenshot shows a 1280x720

[2018-03-07 16:44] charli3cta commented on #10041
I have the same problem with node version: 8.9.4. I also tried with node version 8.10 and I get the same result.

[2018-03-07 17:06] ektoplasmo commented on #10043
Same issue here after updating to 0.62.1 , changing User to Admin didnt change anything either

[2018-03-07 17:13] niekverw opened #10048 "segmentation fault after editing rocket.chat.service"
### Description:

### Server Setup Information:

* Operating System:  VPS, ubuntu 16
* Deployment Method(snap/docker/tar/etc):  DPlatform
* Number of Running Instances: 1
* Node Version: v8.10.0

### Steps to Reproduce:

editted ROOT_URL /etc/systemd/system/rocket.chat.service to test something.  and changed it back again. I restarted services by systemctl daemon-reload and systemctl restart rocke

[2018-03-07 17:18] notnamed commented on #7258
I was informed that another admin had tried to delete a user without a username last night, hitting the bug fixed in https://github.com/RocketChat/Rocket.Chat/pull/9986

The solution was to upgrade to 0.62.1, delete the bugged user, restart RocketChat, and instruct affected users to reload their clients.

[2018-03-07 17:38] geekgonecrazy opened #10049 "Hiding roles prevents being able to save user preferences"
### Description:

Hiding Roles prevents any user from being able to save preferences.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1

### Steps to Reproduce:

1. Administration->Account->Default User Preferences->Hide Roles = true
2. Have any user go to preferences and try to save.
3. Frustration.. no save.

### Expected behavior:

Should save

### Actual behavior:

Doesn'

[2018-03-07 18:01] reetp commented on #9943
Hi Aaron,

64 bit

Happy to try and debug as required but you can see the hoops I jumped through above

[2018-03-07 18:10] MartinSchoeler commented on #10046
This feature is already at our road map and it should be released relatively soon. Thanks for the feedback!

[2018-03-07 18:10] #10046 closed

[2018-03-07 18:31] twardnw opened #10050 "Slack Import reports invalid import file type"
### Description:

Import of Slack zip fails

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Deployment Method(snap/docker/tar/etc): RocketChat Cloud
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.9.3

### Steps to Reproduce:

1. Create export from Slack
2. Upload to RocketChat

### Expected behavior:

Expecting channels and messages to

[2018-03-07 18:37] twardnw commented on #10050
I should note, this was attempted with an export which worked but was affected by #9577, and also tried with an export made just today

[2018-03-07 18:41] MartinSchoeler commented on #10048
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-07 18:41] #10048 closed

[2018-03-07 18:43] Hudell commented on #10049
The setting that causes the issue is actually:
Administration->Layout->User Interface->Display Roles = false

[2018-03-07 19:24] ubarsaiyan opened #10052 "Limit the number of reactions"
### Description:
Limit the number of unique reactions available like that in Facebook's Messenger. Having the whole emojiset as reactions dilutes their use and makes it cumbersome to find the correct emoji. Anyways, we only have 5-6 basic reaction to anything ( happy, sad, laughing, angry, surprised, etc).

[2018-03-07 19:28] ubarsaiyan opened #10053 "[Feature Request] Ability to reorder channels"
### Description:
Ability to reorder or rearrange channels in the sidebar by drag and drop.

[2018-03-07 19:29] robbyoconnor commented on #9329
@rlach yes -- overriding that doesn't quite work -- in fact, it overrides the ability to be notified of new messages since it changes color to gives hints that there are unread messages.

[2018-03-07 19:30] karlprieb commented on #10013
closed by #10028

[2018-03-07 19:30] #10013 closed

[2018-03-07 19:31] niekverw commented on #10044
I had the same issue https://github.com/RocketChat/Rocket.Chat/issues/10048, it worked until I restarted everything.

[2018-03-07 20:10] geekgonecrazy commented on #10050
I know this was working after the fix for #9577 landed so i'm not sure what came along behind it and broke it.

Any idea @graywolf336 ?

[2018-03-07 20:33] ryjones commented on #10049
@Hudell that is the correct UI path.

[2018-03-07 20:36] xenithorb commented on #7707
I think this should be re-categorized as a proper bug, and re-titled "Markdown code fencing produces extra newline"

[2018-03-07 20:58] xenithorb commented on #7707
Inner HTML for the pre's:

` ``` ` on same line:

[code]
With extra space:

[code]

So I'm guessing we either need to stop sending extra `<br>`s or we need to strip leading newlines from the input. Remember these are encased in `<pre>` tags, so the line breaks are going to render.

[2018-03-07 21:04] koen92 commented on #1685
+1

[2018-03-07 21:14] TwizzyDizzy commented on #10052
@rocket-cat close

Hi @ubarsaiyan,

I am pretty sure that this is something that's not going to happen. If you still find this to be something you find extremely important, please first discuss this with the community over in the forums: https://forums.rocket.chat.

Cheers
Thomas

[2018-03-07 21:14] #10052 closed

[2018-03-07 21:25] mauricemeyer commented on #7707
@xenithorb I fully agree with that. I prefer the "stop sending extra `<br>` solution" as it looks cleaner to me.

[2018-03-07 22:28] rodrigok commented on #7413
@VasudhaMathur can you explain the flow you want to do? Cuz it's possible to execute the OAuth login via Realtime API and via REST API, you just need to execute the web flow to get the final token to pass to the login method.

[2018-03-07 22:29] rodrigok commented on #9523
@graywolf336 or @karlprieb can you check if this was already solved?

[2018-03-07 22:30] rodrigok commented on #9523
I'll close this, please reopen if needed

[2018-03-07 22:30] #9523 closed

[2018-03-07 22:33] rodrigok commented on #5977
Closed by https://github.com/RocketChat/Rocket.Chat/pull/7098

[2018-03-07 22:33] #5977 closed

[2018-03-07 22:33] xenithorb commented on #7707
1. It only happens with the `original` markdown parser
2. Because of that, I believe the bug is on this line: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-markdown/parser/original/code.js#L61
  I would fix it but I'm not good with JS, and I'm not certain what the team's goal here would be in a "proper fix"

[2018-03-07 22:39] #10001 closed

[2018-03-07 22:39] #10049 closed

[2018-03-07 22:54] AFrangopoulos commented on #9920
I am new to meteor and this application, so I hacked this line inside removeOAuthService.js
`Accounts.loginServiceConfiguration.remove({ service });`

There also seems to be several existing client side exceptions being thrown upon Custom OAuth removal as well.  Not sure if this is a new bug from this version or before...

[2018-03-07 22:57] AFrangopoulos commented on #9321
@geekgonecrazy What exactly does getIdentity() return for this flow?
I am using a custom OAuth provider that returns the ID i require inside the accessToken json response.  Therefore, I don't need to do a getIdentity() (for my specific provider) and just wondering what else I need to wire up so my user gets Logged in.  I can't seem to mimic the flow and there is a lack of comments in the code.  Th

[2018-03-07 23:07] theorenck commented on #10020
Hi @hartois, thanks for taking the time to report the problem to us. We are closing the issue since it will be fixed by #10019 PR.

[2018-03-07 23:07] #10020 closed

[2018-03-07 23:09] tzar commented on #8564
We have this issue in chrome with the marked parser

[2018-03-07 23:15] pshute commented on #1112
@craig I wish it was that simple. What if your team has some who want it and some who don't? If I put a reply in a thread, the people who don't use threads won't see it. Or they'll add replies outside the thread. I want a solution that's a compromise that thread haters can live with.

[2018-03-07 23:17] theorenck commented on #10053
Hi @ubarsaiyan we understand that it would be very cool to have this feature but it is not a priority for us now. Thanks for the suggestion.

[2018-03-07 23:17] #10053 closed

[2018-03-07 23:56] joshuaspence commented on #10038
I wiped the database (this is in our staging environment) and attempted to upgrade from 0.61.2 to 0.62.1 again, this time ensuring that I was only running on a single host. However, I got the exact same error.

[2018-03-08 00:40] MikaelMello commented on #10047
This is caused by the rule `overflow-y: scroll` on `packages/rocketchat-theme/client/imports/components/sidebar/rooms-list.css`, when the scroll is activated, it has an white background making it seem like the div was misaligned.

Setting `overflow-y: auto` fixes the issue by making it look normal while a scroll is not needed, and when it is, we have a dark vertical bar instead of just white void,

[2018-03-08 01:48] MikaelMello commented on #10042
~According to [1], this is expected behavior, I can't answer for sure though.~

I'd like someone to explain to me why this was designed this way (I won't mention the original author of the CoffeScript version because he seems to be away from Github for quite some time), because this is what I'm getting:

* If `user` role *has* permission `view-p-room`
  * Expected behavior: User can see his privat

[2018-03-08 01:50] geekgonecrazy commented on #10038
Check your home directory and delete the file: `.npmrc` and then delete the node_modules folder on rocket.chat.

And then run `npm install` again like before

[2018-03-08 01:55] geekgonecrazy commented on #9321
Having the info in the accessToken response is great.  But I don't believe it's looking there for it.

Implementing your own oauth server is a noble challenge.  But I'd recommend using a package or something that is set up to deliver the info on the oauth routes

[2018-03-08 03:37] NickStallman opened #10056 "SAML broken after recent update"
### Description:

A recent update to rocketchat-server 0.62.1 seems to have broken SAML.

The SAML process works correctly until the SAML token is returned back to Rocket Chat, where the below error occurs. The previous version (unsure exactly which one as snap handles updates) worked correctly.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu 16.0

[2018-03-08 04:35] geekgonecrazy commented on #10038
Something to do with the npmrc file having another path in it that's incorrect.

I read about a case of that happening a while back, very safe to try so figured we might as well try.

Glad you got it! I'll go ahead and close since resolved

[2018-03-08 04:35] #10038 closed

[2018-03-08 04:54] geekgonecrazy commented on #9943
@reetp indeed!  I'm not familiar enough with the package to know much.  @rodrigok might be able to help us hunt it down.

I'd hate to be stick with Centos 7 because of this.  Especially since the module has precompiled binaries

[2018-03-08 05:50] janrudolph opened #10057 "On/off Buttons - Where does the blue border color come from"
### Description:

There is a new button style, but the border color is not configurable

New Style which looks fantastic:

![image](https://user-images.githubusercontent.com/3596824/37135241-a8ed86bc-229c-11e8-9fec-1ae8b065181f.png)

But if you adapt to your regular color scheme, the border color does not change (see below). Two options:
1. I  do not find the color code which has to be changed
2.

[2018-03-08 07:13] otakuu commented on #3582
+1

[2018-03-08 07:20] CBrunsch commented on #3582
+1

[2018-03-08 07:56] craig commented on #1112
@pshute I totally agree with @HammyHavoc to allow enabling or disabling it on a per-channel basis. :)

[2018-03-08 08:58] nemaniarjun commented on #9927
@ggazzo  Why was this done? https://github.com/RocketChat/Rocket.Chat/commit/752bccd6ccfdc66ef771b4cfd4404806b57eac98#diff-1a6f84da371f01b326a0fe7e72febe53R189

[2018-03-08 09:02] didierhk commented on #9880
mongodb and cluster are also being filtered

[2018-03-08 09:38] kayahr opened #10058 "Feature Request: Support other issue number formats in issuelinks package"
### Description

The Issue Links package currently has a hardcoded regular expression to match issue numbers. This works for issue trackers which use plain numbers (Like GitHub or Mantis for example) but it doesn't work for JIRA. This could be easily fixed by adding a setting for a part of the regular expression. `[0-9]+` could be the default and JIRA users could change it to `[A-Z]+-[0-9]+` for e

[2018-03-08 09:39] reetp commented on #9943
@geekgonecrazy Thaks for looking :-)
Yup. I know the way ahead is 7, but there are still lots on 6 whilst it is effectively supported by RHEL. Clearly from bugs there are a number of others with the same issues.
At SME we've struggled getting people off 5 even though it was EOL a few years back... ! Some people just don't want or like a lot of change, and don't like bleeding edge technology. Some

[2018-03-08 10:25] VasudhaMathur commented on #7413
@rodrigok  I'm executing the web flow using the real time API
{
    "msg": "method",
    "method": "login",
    "id":"42",
    "params": [
        {
            "oauth": {
                "credentialToken":"credential-token",
                "credentialSecret":"credential-secret"
            }
        }
    ]
}
But recieved this error-
"message":https://rocket.chat/docs/developer-guides/realtime-a

[2018-03-08 10:28] magicbelette commented on #10041
Yes, I tried `npm install` as suggested by logs, with no luck.

I've just found the solution by deleting the node_modules folder under `programs/server/` before launching `npm install`.

Thank you for your concern ;)

[2018-03-08 10:28] #10041 closed

[2018-03-08 10:33] trongthanh commented on #10050
I think I figured out the root cause of this bug. And the error log is telling it already:

[code]

I removed the native() function call in packages/rocketchat-importer/server/classes/ImporterBase.js, e.g:

[code]
and it works correctly, at least at my side now.

AFAIK, the package `bson` doesn't have that `native` part anymore, and it is moved to the `bson-ext`

[2018-03-08 10:48] megamaced commented on #10056
+1, was working on 0.61.0 with Microsoft ADFS.. Now it's not

[2018-03-08 10:55] himbeere opened #10060 "rocketchat crash with nodejs-8.10.0"
### Description:

Just updated to nodejs 8.10.0. Rocketchat 0.62.1 crashes immediately with segmenation fault.

[code]

Switching back to nodejs 8.9.4 solves the issue.

### Server Setup Information:

* Version of Rocket.Chat Server:  0.62.1
* Operating System:  Gentoo Linux
* Deployment Method(snap/docker/tar/etc):  tar
* Number of Running Instances: 1
* DB Replicaset Oplog: disabled
* Node Versi

[2018-03-08 11:04] jahantech commented on #10056
+1

[2018-03-08 11:14] JSzaszvari commented on #10060
Hi @himbeere

At the moment Rocket.Chat only supports 8.9.4.

8.10.0 would be considered a unsupported version for the time being.

I'm sure this will change in the near future as 8.10.0 is the current LTS release.

The team has only recently moved to the 8.x release of NodeJS and with a project so large there are a lot of factors to be taken into account when changing versions like waiting for th

[2018-03-08 11:18] JSzaszvari commented on #10060
@rocket-cat close

I'm going to close this issue for the time being  . The dev team is aware of the issue as there's been a few other posts but for the moment you will need to stick with the supported version until they get a chance to update it.

If you feel this issue should remain open then please respond back to me here and I'll re open it for you.

We appreciate you taking the time to report

[2018-03-08 11:18] #10060 closed

[2018-03-08 11:52] Avalarion commented on #8624
Just to know if I should leave this ticket. We don't need Push Notifications but Browser Notifications which are not working for us aswell. Should this be handled here aswell or do you know a better place?

[2018-03-08 12:02] lcharette commented on #9968
Similar issue using electron iOS app. Messages are not showing.

[2018-03-08 12:14] rodrigok commented on #10003
@timkinnane can you test now? We are running version 0.62.1

[2018-03-08 12:37] timkinnane commented on #10003
@rodrigok - Just tested and had the same issue. Errors like:

[code]

and

[code]

It figured it was something cached from before the update, so I tried a "forget about site" and it worked, although was quite slow to load and still had errors in console.

[code]

[2018-03-08 12:55] makixx commented on #1685
+1

[2018-03-08 13:35] axis78 commented on #9829
Right the same problem on fresh Centos 7
Solved with:
[code]

[2018-03-08 13:43] himbeere commented on #10060
Ok, thanks. Good to know.

[2018-03-08 13:50] chrosey commented on #10056
Working with SimpleSamlPHP I could reproduce that.

I had to Change 2 Spots in steffo_meteor-accounts-saml.js to get it working:

`if (!profile.email && profile.nameID && profile.nameIDFormat && profile.nameIDFormat.indexOf('emailAddress') >= 0)`
to
`if (!profile.email && profile.nameID && profile.nameIDFormat && profile.nameIDFormat.value.indexOf('emailAddress') >= 0)`

and

`const credentialToke

[2018-03-08 14:18] winterstefan opened #10062 "Long-running outgoing webhook breaks sending of messages"
### Description:

**Short version**
When having a **slow** Outgoing WebHook Integration for `sendMessage`, it'll crash with a timeout. That sometimes leads to a few further errors where messages are not sent properly.

**Environment**
I'm using both the REST & Realtime API to create a custom chat integration to an existing platform. For testing purposes, I fully checked this error with the standar

[2018-03-08 14:22] antoine-roux commented on #10060
Hello to you dev' team,

Please, fix the node version in the Docker image:
[code]

[2018-03-08 15:07] AFrangopoulos commented on #9321
Right, it isn't looking for it there.  But if all it does is an /identity callback to the Auth server to get "that info" then it just saves me a request.
I was just wondering how I would Log that user in right after I receive my Access Token response.
When I get my accessToken response, I have everything I need.  In the case of someone who has "registered" already, I just need to query for the use

[2018-03-08 15:09] JuliannaR commented on #3281
Something like this would make this much more accessible: https://get.slack.help/hc/en-us/articles/115003340723-Keyboard-accessibility-in-Slack-#windows-linux-1

Currently keyboard nav is completely inaccessible. :( This fails WCAG 2.0. Would love to see someone assigned to help tackle this issue, or someone from the GoC take it on.

[2018-03-08 15:25] bizzbyster commented on #10030
It might also be interesting to allow developers to specify a "WebView" channel, which would load local webcontent specified by the administrator.

So, for instance, on Android a "Web Channel" would use Chrome Custom Tabs and point to a remote URL. And a "Webview Channel" would use Android Webview and load local content. This reflects the  "whentouse" logic in the Android documentation: https://de

[2018-03-08 15:31] isdneuroimaging commented on #658
Multiple teams per org/server is in my view the only major point where Rocket.Chat is still behind the competition. Major point as in potential deal breaker for many scenarios/deployments.

[2018-03-08 15:34] MikeDaniel18 commented on #658
@isdneuroimaging in early Jan '17 I asked to see if anything had been done. It hadn't, it still hasn't, don't hold your breath. I'd check out Mattermost as an alternative. It's very robust and feature rich, though I hate ReactJS with a passion.

[2018-03-08 15:53] cchbr opened #10063 "Guest login"
I can't seem to find a way to offer guest login at the register page. The only way I've managed to activate guest login is to open the channels for public viewing.

Is this the only way given the current version or can we allow guests to login and post within opening the chat to the non logged in public?

Thank you in advance and thank you for a great project!

[2018-03-08 16:04] himbeere commented on #10060
Oh. and maybe as a site note. Ubuntu nodejs.8.x ppa delivers 0.8.10 as default right now.

https://www.ubuntuupdates.org/ppa/nodejs_8.x

[2018-03-08 16:29] MartinSchoeler commented on #419
Closing this since today we already show the timezone on the user

[2018-03-08 16:29] #419 closed

[2018-03-08 16:39] MartinSchoeler commented on #517
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 16:39] #517 closed

[2018-03-08 16:42] MartinSchoeler commented on #987
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 16:42] #987 closed

[2018-03-08 16:44] MartinSchoeler commented on #1032
We had some changes on the shortcuts so i will be closing this.

[2018-03-08 16:44] #1032 closed

[2018-03-08 16:44] MartinSchoeler commented on #953
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 16:44] #953 closed

[2018-03-08 16:45] MartinSchoeler commented on #1033
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 16:45] #1033 closed

[2018-03-08 16:46] MartinSchoeler commented on #1410
This issue is outdated, a lot of things have changed since 2015 closing this issue. Thanks!

[2018-03-08 16:46] #1410 closed

[2018-03-08 16:47] MartinSchoeler commented on #1405
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 16:47] #1405 closed

[2018-03-08 16:48] MartinSchoeler commented on #1284
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 16:48] #1284 closed

[2018-03-08 16:57] MartinSchoeler commented on #1711
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 16:57] #1711 closed

[2018-03-08 16:59] rodrigok commented on #10003
Can you execute `RocketChat.CachedCollectionManager.clearAllCache()` and reload to test?

[2018-03-08 17:00] MartinSchoeler commented on #1792
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:00] #1792 closed

[2018-03-08 17:01] MartinSchoeler commented on #1802
Hey @{name}, I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:01] #1802 closed

[2018-03-08 17:02] MartinSchoeler commented on #1791
I belive that our `discover channel` upcoming feature will resolve this issue, closing this.

[2018-03-08 17:02] #1791 closed

[2018-03-08 17:05] MartinSchoeler commented on #1830
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:05] #1830 closed

[2018-03-08 17:06] MartinSchoeler commented on #1551
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:06] #1551 closed

[2018-03-08 17:07] MartinSchoeler commented on #1826
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:07] #1826 closed

[2018-03-08 17:07] MartinSchoeler commented on #1873
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:07] #1873 closed

[2018-03-08 17:09] MartinSchoeler commented on #1771
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:09] #1771 closed

[2018-03-08 17:09] MartinSchoeler commented on #1769
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:09] #1769 closed

[2018-03-08 17:10] MartinSchoeler commented on #2067
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:10] #2067 closed

[2018-03-08 17:13] MartinSchoeler commented on #1915
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:13] #1915 closed

[2018-03-08 17:14] MartinSchoeler commented on #880
Hey @{name}, I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:14] #880 closed

[2018-03-08 17:15] MartinSchoeler commented on #1946
Closing this due the new design, if you have this issue with the new design, please open a new issue.

[2018-03-08 17:15] #1946 closed

[2018-03-08 17:19] MartinSchoeler commented on #2014
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:19] #2014 closed

[2018-03-08 17:20] DoM1niC commented on #10063
I think you mean anonymous login? Yeah thats will be great...

[2018-03-08 17:21] MartinSchoeler commented on #2062
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:21] #2062 closed

[2018-03-08 17:26] MartinSchoeler commented on #738
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:26] #738 closed

[2018-03-08 17:28] MartinSchoeler commented on #2354
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:28] #2354 closed

[2018-03-08 17:29] MartinSchoeler commented on #129
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:29] #129 closed

[2018-03-08 17:36] MartinSchoeler commented on #2045
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:36] #2045 closed

[2018-03-08 17:41] MartinSchoeler commented on #2154
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:41] #2154 closed

[2018-03-08 17:44] MartinSchoeler commented on #2561
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:44] #2561 closed

[2018-03-08 17:45] MartinSchoeler commented on #1008
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:45] #1008 closed

[2018-03-08 17:46] MartinSchoeler commented on #844
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:46] #844 closed

[2018-03-08 17:47] MartinSchoeler commented on #883
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:47] #883 closed

[2018-03-08 17:47] MartinSchoeler commented on #1016
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:47] #1016 closed

[2018-03-08 17:48] MartinSchoeler commented on #2434
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:48] #2434 closed

[2018-03-08 17:51] MartinSchoeler commented on #1396
This will be fixed with the upcoming feature to add images to channels. I will be closing this issue for now.

[2018-03-08 17:51] #1396 closed

[2018-03-08 17:52] MartinSchoeler commented on #1431
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 17:52] #1431 closed

[2018-03-08 17:56] sampaiodiego commented on #1396
@MartinSchoeler I don't thinks thats the same thing.

but still, why closing now instead of when the feature is done?

[2018-03-08 17:57] MartinSchoeler commented on #1172
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 17:57] #1172 closed

[2018-03-08 18:00] MartinSchoeler commented on #1515
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 18:00] #1515 closed

[2018-03-08 18:05] kaiiiiiiiii commented on #2561
@MartinSchoeler This feature is already implemented as far as I can see? #9549

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-08 18:06] jeanfpoulin commented on #10056
+1 We're seeing this as well on 0.62.1

[2018-03-08 18:17] MartinSchoeler commented on #1610
This will be added when threads are developed. I will close this issue for now.

[2018-03-08 18:17] #1610 closed

[2018-03-08 18:17] MartinSchoeler commented on #2835
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 18:17] #2835 closed

[2018-03-08 18:20] MartinSchoeler commented on #2849
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 18:20] #2849 closed

[2018-03-08 18:22] MartinSchoeler commented on #2607
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 18:22] #2607 closed

[2018-03-08 18:23] MartinSchoeler commented on #2776
I belive that Rocket.Chat apps will solve this issue in time, I will close this for now.

[2018-03-08 18:23] #2776 closed

[2018-03-08 18:24] MartinSchoeler commented on #2509
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 18:24] #2509 closed

[2018-03-08 18:30] MartinSchoeler commented on #3060
I believe that the upcoming channel discovery feature will solve this issue. Closing this for now.

[2018-03-08 18:30] #3060 closed

[2018-03-08 18:31] MartinSchoeler commented on #3053
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-08 18:31] #3053 closed

[2018-03-08 18:31] MartinSchoeler commented on #3043
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 18:31] #3043 closed

[2018-03-08 18:39] MartinSchoeler commented on #1566
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 18:39] #1566 closed

[2018-03-08 18:41] MartinSchoeler commented on #2988
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 18:41] #2988 closed

[2018-03-08 18:46] cchbr commented on #10063
Yes probably, although I'm not entirely sure what the difference between the two is.

[2018-03-08 18:49] MartinSchoeler commented on #2847
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-08 18:49] #2847 closed

[2018-03-08 18:54] #9895 closed

[2018-03-08 18:59] AFrangopoulos commented on #9321
@geekgonecrazy  It looks I got it to work using my own flow.  The only thing that I don't like is that after it returns from OAuth, it goes back to the login page for a quick second and then reroutes to "/".  Is this normal RC behavior?   Also, is there any clarity on what getIdentity() returns?  Right now I am querying for the user that matches my external_id.  But this involves a $loki key which

[2018-03-08 19:15] urbanpt commented on #658
@isdneuroimaging What competition (besides Mattermost)?

[2018-03-08 19:39] theorenck commented on #10000
Hi @912d, we will evaluate you suggestion. But right now it is not on our top priorities. Thanks.

[2018-03-08 19:42] vaibhav4595 commented on #5453
@gdelavald @marceloschmidt Hello, I have just submitted a PR #10064  for this issue. Please take a look and review.

Thanks.

[2018-03-08 19:51] theorenck commented on #10004
Hi @vishwakperera we gladly accept a PR for this one. Just check with @karlprieb if you need any help.

[2018-03-08 20:04] MartinSchoeler commented on #3107
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-08 20:04] #3107 closed

[2018-03-08 20:14] theorenck commented on #10021
Hi @Jannibal, thanks report it to us. We actually could use a PR on this one :smiley: since it isn't on our top priorities right now. Cheers

[2018-03-08 20:18] theorenck commented on #10022
Thanks @cmonjeau. @renatobecker can you check this out?

[2018-03-08 20:18] MartinSchoeler commented on #2365
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 20:18] #2365 closed

[2018-03-08 20:23] MartinSchoeler commented on #2790
Closing due lack of response

[2018-03-08 20:23] #2790 closed

[2018-03-08 20:25] MartinSchoeler commented on #2878
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 20:25] #2878 closed

[2018-03-08 20:27] MartinSchoeler commented on #3796
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-08 20:27] #3796 closed

[2018-03-08 20:27] theorenck commented on #10023
Thanks @amonemian. @sampaiodiego can you confirm if it is a bug?

[2018-03-08 20:30] theorenck commented on #10024
Thanks @Jannibal. @karlprieb can you confirm it as a duplicate?

[2018-03-08 20:38] FC-Jason opened #10066 "MacOS Desktop Client Doesn't Show Server Text Box On First Launch When Installed On A MacOS Parallels Virtual Machine"
### Description:

I'm running MacOS 10.12.6 in a Parallels 13.3.0 Virtual Machine on an iMac. I downloaded and Installed the rocketchat-2.10.5.pkg installer for MacOS.  After installation, I opened the RocketChat app and parts of the Application Window are white, as if they aren't loading.  I cannot access the Server Text box or any Login Information (See Screen Shot)

![screen shot 2018-03-08 at

[2018-03-08 20:49] kaiiiiiiiii commented on #10066
There’s an extra repository for the electron desktop application :) Defo the better place to open an issue.

https://github.com/RocketChat/Rocket.Chat.Electron

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-08 21:25] #10066 closed

[2018-03-08 21:36] rodrigok commented on #9785
## Specification:

- The list will be per room
- Will be saved in user's subscription as an array of users to mute
- Will be a field in room's setting using the component we already have to select users when creating a new channel
- Will affect the rendering of the messages
- Will hide the user's messages when listed in muted array but will keep the username adding a button to expand/show the mess

[2018-03-08 21:44] theorenck commented on #10039
Thanks @DanielRuf. @karlprieb can you look into it and see how far can we go on this one?

[2018-03-08 21:52] sambvfx commented on #2764
Any update on this?

[2018-03-08 22:03] theorenck commented on #10047
Thanks to take the time to report it tu us @MikaelMello.

[2018-03-08 22:07] theorenck commented on #10056
@rodrigok can you have a look into this one?

[2018-03-08 22:11] theorenck commented on #10058
Thanks for sharing you ideas with us @kayahr. This is not on our top priorities right now, so a PR would be much appreciated. 😃

[2018-03-08 22:19] theorenck commented on #10062
Thanks for report it to us. @sampaiodiego can you help  @winterstefan with his doubts?

[2018-03-09 00:01] joshuaspence commented on #9174
Definitely not fixed. Can you point to the PR that was meant to fix this?

[code]

[2018-03-09 00:33] joshuaspence opened #10067 "Constant crashes on version 0.62.1"
After upgrading to 0.62.1, I am seeing constant NodeJS crashes. This might be a NodeJS bug, but it wasn't happening on version 0.61.2. It seems to be crashing around 30-40 times per hour on each instance.

[code]

[code]

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc):  TAR
* Number of Running Instanc

[2018-03-09 00:51] pshute commented on #1112
@craig Yes, it should be possible to enable or disable. I'm not against threads, I want them. I just want a style of threads that will be usable if some users can't be bothered with them much.

@HammyHavoc Do organisations really exist that could force users to use threads? Given how hard it would be to detect and prove deliberate avoidance of threading, I can't believe any attempts to enforce it

[2018-03-09 01:00] HammyHavoc commented on #1112
@pshute Your comment mentioned a hypothetical scenario in which users who don't use threading will miss information. If someone is missing information and not adhering to the company workflow, I doubt a person would last long in that job.

On 9 Mar 2018, 00:51, at 00:51, pshute <notifications@github.com> wrote:

[2018-03-09 03:37] joshuaspence commented on #10067
Ah actually, downgrading the Node version does seem to help.

[2018-03-09 03:54] fifou17 opened #10068 "Menu in RTL isnt in place"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 63
* Operating System: ubuntu
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

![screenshot-open rocket chat-2018 03 09-04-53-00](https://user-images.githubusercontent.com/16228448/37189706-fcaf6efa-2355-11e8-9

[2018-03-09 04:04] fazilboudjellal93 opened #10069 "cant create room name or make username in arabic or rtl language"
cant rename an account or create a room in arabic
![screenshot-open rocket chat-2018 03 09-05-02-17](https://user-images.githubusercontent.com/16228448/37189965-5705434c-2357-11e8-81a2-bed619036179.png)

[2018-03-09 05:16] TechyPeople commented on #10056
+1, SAML with Auth0 is not working for me either

[2018-03-09 05:39] isdneuroimaging commented on #658
@urbanpt Zulip also offers multiple organizations per server.

[2018-03-09 05:41] twardnw commented on #10050
any way this could be added to a point release before the next minor?

[2018-03-09 05:43] twardnw commented on #7990
That helps for bots for sure, it would also be useful to have core identify messages that come from webhook/integrations (a larger issue for us)

[2018-03-09 05:52] geekgonecrazy commented on #10050
@trongthanh awesome could you open a PR with this?

[2018-03-09 05:56] geekgonecrazy commented on #9943
@RocketChat/core can we please get some eyes on this?  Worked fine on Centos 6 before 0.62.0 and sharp.

[2018-03-09 06:28] janrudolph commented on #2790
@MartinSchoeler We also reported this issue a couple weeks ago: https://github.com/RocketChat/Rocket.Chat/issues/9689

[2018-03-09 07:14] divergefx commented on #9543
This is amazing implementation.  It would be even more amazing if I could resize the popout modal.  How difficult would that be?

[2018-03-09 07:21] szluohua opened #10070 "liveStreamTab.css:40:5: variable '--rc-color-primary-lightest' and '--rc-color-primary-dark' is undefined and used without a fall"
### Description:
There was an error when I built the RocketChat environment locally. What should I do?

postcss-custom-properties: /home/luo/github/Rocket.Chat/packages/rocketchat-livestream/client/styles/liveStreamTab.css:19:5: variable '--rc-color-primary-lightest' is undefined and used without a fallbackpostcss-custom-properties: /home/luo/github/Rocket.Chat/packages/rocketchat-livestream/clien

[2018-03-09 07:27] mmenze commented on #605
This would be very useful.
+1

[2018-03-09 07:55] Gandalf-the-Grey opened #10072 "Using OAuth as addition to traditional signup to get "VERIFIED" and "GUEST" accounts."
High level desired use case:

There's a chat related to some service that can authenticate via OAuth as an authoritative source for usernames.

Traditionally you can signup as `someuser1` with `somename@do.main.com` and use few channels enabled for "guests" aka "unverified" users. Resulting name would be `unverified-someuser1` to avoid name conflict and possible only if `someuser1` doesn't already

[2018-03-09 07:55] himbeere commented on #10067
The devs are aware of this problem. https://github.com/RocketChat/Rocket.Chat/issues/10060

[2018-03-09 08:02] dmoldovan123 opened #10073 "I want to use http2 with haproxy and don't work"
* Version of Rocket.Chat Server: 0.61.0
* Operating System: ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 10
* DB Replicaset Oplog: yes
* Node Version: v8.9.3
* mongoDB Version:

Config haproxy to initiate http2 with ssl and not working.

With plugin installed in chrome browser i see i have activate http2 but i don't see rocketchat interfaces.

[2018-03-09 08:27] kayahr commented on #10058
PR (#10059) is already there :-)

[2018-03-09 09:35] janrudolph opened #10074 "[Bug] Not desktop notifications in livechat"
### Description:

In the past, livechat agents got desktop notifications when a customer sent a message in an ongoing livechat (and the agent has not focussed the browser). These notifications are not present anymore.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62

### Steps to Reproduce:

1. Start plain Rocket.Chat server and enable livechat.
2. Start livechat widget in ano

[2018-03-09 10:11] JSzaszvari commented on #10074
I'll have a look at this tonight for you because last time I tested it was working fine. It was not working properly to 0.62 but this PR solved the issue when I tested it (the fix was included in 0.62)

https://github.com/RocketChat/Rocket.Chat/pull/9802

[2018-03-09 10:14] JSzaszvari commented on #10074
@janrudolph  can you confirm for me, are the agents getting the initial livechat notification to say a new chat has started ? But not getting any for messages after that - or are you seeing no notifications at all

Thanks mate

[2018-03-09 10:15] JSzaszvari commented on #10067
Hi @joshuaspence

At the moment Rocket.Chat only supports 8.9.4.

8.10.0 would be considered a unsupported version for the time being.

I'm sure this will change in the near future as 8.10.0 is the current LTS release.

The team has only recently moved to the 8.x release of NodeJS and with a project so large there are a lot of factors to be taken into account when changing versions like waiting fo

[2018-03-09 10:16] JSzaszvari commented on #10067
@rocket-cat close

I'm going to close this issue for the time being . The dev team is aware of the issue as there's been a few other posts but for the moment you will need to stick with the supported version until they get a chance to update it.

If you feel this issue should remain open then please respond back to me here and I'll re open it for you.

We appreciate you taking the time to report t

[2018-03-09 10:16] #10067 closed

[2018-03-09 10:19] rajak68amit opened #10075 "change phpmyadmin login password"
Hi Friends,
How i can change php admin password degital ocean

[2018-03-09 10:33] JSzaszvari commented on #10075
@rocket-cat close

Hi @rajak68amit

You will need to contact DigitalOcean support for this as it's not a official component of rocket.chat therefore is not supported by the team.

Also - As this isn't a bug with rocket.chat I'm closing this issue because we're unable to support third party tools like PHPMyAdmin

[2018-03-09 10:33] #10075 closed

[2018-03-09 10:36] JSzaszvari commented on #10063
Sorry I don't understand.

Anonymous login = anyone can connect and post

If the 'guests' have to 'login and post' then that's just a standard user who has registered ?

[2018-03-09 10:36] janrudolph commented on #10074
@JSzaszvari Thanks for taking over. They are seeing no notifications at all. The sound, when a new livechat is pushed into the guest pool, is the only thing they get.

[2018-03-09 11:24] renatobecker commented on #10074
Hi @janrudolph !

The current behavior related to sound notifications in LiveChat is to send a notification when a new LiveChat room is started. After that, the sound notifications will not appear for new messages coming from visitor.
But, please take a look at this issue #9847 to make sure that is what you're asking for.

[2018-03-09 11:29] cchbr commented on #10063
Not necessarily. A registered user has to input an e-mail, password etc and register. Whilst a guest should only input a username at most, which is then discarded when the user leaves, at least that's how I view a guest user.

What is the definition of a guest on Rocket chat? Is it a user who's not logged in at all?

[2018-03-09 11:31] cchbr commented on #10063
The problem with anonymous login is that you have to open the entire chat to the public to activate it. Everything will probably get indexed by search engines and the users in the chat have no idea how many people are viewing what they're writing.

[2018-03-09 11:43] seerl commented on #3209
+1 for this feature with the format y:\sharefolder\path\document.docx or simliar

[2018-03-09 12:20] janrudolph commented on #10074
@renatobecker Thanks for you reply. My focus in this issue is about the desktop notifications which "fly from the right to the left", when the customer sends a message in an ongoing livechat. In previous Rocket.Chat versions this type of notification was available for livechat as well. Today it is only available for regular channel communication.

[2018-03-09 12:58] janrudolph commented on #9974
@MartinSchoeler @kaiiiiiiiii
I launched a plain Rocket.Chat 0.62 server and tested it again. **Result:** _This kind of error occurs just with **private channels**._ Please find details below:

**Test-setup:**
1) Launch new server
2) Add two users: "jan" = `admin`, "peter" = `guest`
3) jan created a new **private channel** (aka group) and invited peter.
4) peter does not find the channel in the lef

[2018-03-09 13:11] MartinSchoeler commented on #2332
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 13:11] #2332 closed

[2018-03-09 13:18] MartinSchoeler commented on #3065
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 13:18] #3065 closed

[2018-03-09 13:20] MartinSchoeler commented on #3113
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 13:20] #3113 closed

[2018-03-09 13:21] MartinSchoeler commented on #3033
Please reopen this in https://github.com/RocketChat/docs/

[2018-03-09 13:21] #3033 closed

[2018-03-09 13:21] MartinSchoeler commented on #894
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 13:21] #894 closed

[2018-03-09 13:22] MartinSchoeler commented on #3129
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-09 13:22] #3129 closed

[2018-03-09 13:38] MartinSchoeler commented on #2342
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2018-03-09 13:38] #2342 closed

[2018-03-09 13:38] AmShaegar13 commented on #9489
@TwizzyDizzy This should definitly not be closed but #8332 should be in my opinion. #8332 is about HTML not being rendered which is absolutely correct. Otherwise you could abuse it.

This one is about the avatar URL being not escaped properly, which allows bypassing XSS protection!

[2018-03-09 13:40] MartinSchoeler commented on #2368
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 13:40] #2368 closed

[2018-03-09 13:40] MartinSchoeler commented on #2810
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 13:40] #2810 closed

[2018-03-09 13:40] MartinSchoeler commented on #2293
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-09 13:40] #2293 closed

[2018-03-09 13:43] gdelavald commented on #9543
@divergefx Hey, that is an enhancement that we plan as soon as we get the phase 2 (broadcasting) done. Also, feel free to contribute, the popout style can be found in the popout.css and resizing it would need some Javascript implementation (most likely on popout.js file).
Thanks for the feedback :+1:

[2018-03-09 13:43] MartinSchoeler commented on #2980
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 13:43] #2980 closed

[2018-03-09 13:45] MartinSchoeler commented on #2978
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 13:45] #2978 closed

[2018-03-09 13:46] MartinSchoeler commented on #3158
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 13:46] #3158 closed

[2018-03-09 13:47] MartinSchoeler commented on #3168
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 13:47] #3168 closed

[2018-03-09 13:53] MartinSchoeler commented on #3191
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 13:53] #3191 closed

[2018-03-09 13:55] MartinSchoeler commented on #2027
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-09 13:55] #2027 closed

[2018-03-09 13:56] MartinSchoeler commented on #3208
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 13:56] #3208 closed

[2018-03-09 13:56] MartinSchoeler commented on #3236
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-09 13:56] #3236 closed

[2018-03-09 13:57] MartinSchoeler commented on #3243
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 13:57] #3243 closed

[2018-03-09 13:58] MartinSchoeler commented on #3233
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 13:58] #3233 closed

[2018-03-09 14:04] aspiers commented on #7797
Was this ever refiled? I can't find it.

[2018-03-09 14:10] MartinSchoeler commented on #3279
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 14:10] #3279 closed

[2018-03-09 14:11] MartinSchoeler commented on #3282
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 14:11] #3282 closed

[2018-03-09 14:11] MartinSchoeler commented on #3285
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 14:11] #3285 closed

[2018-03-09 14:12] MartinSchoeler commented on #3286
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 14:12] #3286 closed

[2018-03-09 14:13] MartinSchoeler commented on #3340
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-09 14:13] #3340 closed

[2018-03-09 14:19] MartinSchoeler commented on #3415
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 14:19] #3415 closed

[2018-03-09 14:20] MartinSchoeler commented on #3271
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-09 14:20] #3271 closed

[2018-03-09 14:22] MartinSchoeler commented on #3371
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 14:22] #3371 closed

[2018-03-09 14:40] rafaelks opened #10077 "[BUG] "Highlight Words" doesn't work with more than one word"
### Description:

Feature **Highlight Words** doesn't work with more than one word for me.

#### Works:

![screen shot 2018-03-09 at 11 36 24](https://user-images.githubusercontent.com/551004/37212638-59dcb6ae-238e-11e8-8c63-3cd98e4bc577.png)

#### Doesn't work

![screen shot 2018-03-09 at 11 38 29](https://user-images.githubusercontent.com/551004/37212666-6bbad360-238e-11e8-91c5-4cc2e236b7da.png)

[2018-03-09 14:42] bizzbyster commented on #10030
Note: This particular issue applies to the web client only. The Android and IOS client support will be handled via issues opened in those repos with a link to this one.

[2018-03-09 14:49] bizzbyster commented on #10030
A $180 bounty has been attached to this issue: https://www.bountysource.com/issues/55872934-web-channels. Thanks!

[2018-03-09 14:57] nemaniarjun commented on #10077
I would like to look into this! Please assign me :)

[2018-03-09 15:20] nemaniarjun commented on #10077
Can confirm, that this is an issue. Was able to reproduce it on 0.63.0-develop (9fbf1ad78666bceddf60919ae4a19fa3be3c9ce0)

[2018-03-09 15:23] nemaniarjun commented on #10077
Separating by new line does work!

[2018-03-09 15:34] nemaniarjun commented on #10077
@rafaelks Do we want it to separate by commas or by newlines. The help text says commas, but code is separating via newlines.

[2018-03-09 15:52] muhv7 opened #10079 "Apple app has issues"
### Description:

iphone app doesn't load channels correctly after 0.62 update

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

Update
Use iPhone app
Blank screen

### Expected behavior:

[2018-03-09 15:55] JSzaszvari commented on #10079
Hi @muhv7

Please post this issue over in the repository for the iOS Application which can be found here

https://github.com/RocketChat/Rocket.Chat.iOS

This repository is for the server component.

Thanks mate

[2018-03-09 15:55] JSzaszvari commented on #10079
@rocket-cat close

[2018-03-09 15:55] #10079 closed

[2018-03-09 16:03] Drangleic opened #10080 "[IMPROVEMENT/FEATURE-ADD] Rocket Chat + Mobile Apps do not allow for sorting"
### Description:

Rocket Chat web and desktop allow for users to choose how to sort channels/DMs by activity/alphabetical/etc as well as how to group channels/DMs. The native Rocket Chat + Android/iOS mobile apps have no such control over sorting/grouping. This is highly desired by our users and impacts the way they communicate from their mobile devices.

### Expected behavior:

Android/iOS mobile

[2018-03-09 16:05] Drangleic commented on #10080
I realize now that the other projects for the mobile apps might be better for this. I will search there and see if there is already an issue there and submit one if not.

[2018-03-09 16:17] JSzaszvari commented on #10080
@Drangleic thanks very much. If you could post these requests in the relevant projects that would be awesome. Helps keep everything nice and organised :)

[2018-03-09 16:17] JSzaszvari commented on #10080
@rocket-cat close

[2018-03-09 16:17] #10080 closed

[2018-03-09 16:18] DFJizzle commented on #10043
We are having same issue, although the exception it's throwing is a little different:

`Exception while invoking method 'saveUserPreferences' Error: Match error: Expected boolean, got string in field useEmojis     at check (/snap/rocketchat-server/1232/programs/server/packages/check.js:62:15)     at MethodInvocation.saveUserPreferences (/snap/rocketchat-server/1232/programs/server/app/app.js:9982:

[2018-03-09 16:51] ftoledo commented on #1777
yes i like this too. Maybe think in more plugueable authenticators like pop3, samba, ftp,  and simple external protocol (just like prosody as example https://modules.prosody.im/mod_auth_external.html)

[2018-03-09 17:02] JSzaszvari commented on #1777
SMTP isn't really designed at all, even in the slightest to be a authentication provider.

[2018-03-09 17:27] ftoledo commented on #5914
I have same issue at Verification with custom template text on version 0.62.1
[name] and [email]  are not replaced.

[2018-03-09 17:55] ftoledo commented on #1777
Yes i agree with @JSzaszvari , i think that another protocols are more auth friendly.

[2018-03-09 18:06] ear-dev opened #10085 "Chatbot subscription support"
It would be nice if a user could subscribe to various chatbots on demand, and communicate with the bot through direct messaging only, instead of prepending '@botname' or 'bot'.  This kind of bot would not be available in the other channels, but only through direct messaging.  I think that would be a very intuitive way to interact with the bot for non technical users.

Perhaps the admin subscribes,

[2018-03-09 18:25] tbnobody commented on #10044
Having the same issue:

RocketChat Version 0.62.1

[code]
[code]

[code]

[code]

[2018-03-09 18:28] pkgodara commented on #9567
This field is only available under POP protocol..

Refer docs please.

[2018-03-09 18:38] pkgodara commented on #9568
Actually, only plain text emails are being parsed till now.. Its dependent on this library https://github.com/mko/emailreplyparser . Will look for better alternatives.

[2018-03-09 18:48] pkgodara commented on #9564
will look for it.

[2018-03-09 18:58] pkgodara commented on #9566
will look into it.

[2018-03-09 18:59] pkgodara commented on #9569
will be looking into it.

[2018-03-09 19:01] MartinSchoeler commented on #3422
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-09 19:01] #3422 closed

[2018-03-09 19:08] TechyPeople commented on #10056
Submitted #10084 implementing @chrosey's fix for this issue.

[2018-03-09 19:17] tboerger commented on #10060
You are seriously kidding, right? The official Rocket.Chat docker images already got 8.10 and the available 8.x repositories for Ubuntu Xenial also provide only 8.10... So how should somebody keep Rocket.Chat running in that situation?

[2018-03-09 19:26] #10043 closed

[2018-03-09 19:26] crrodriguez commented on #10060
So..who has the nodejs bug report number handy ? nodejs should not crash at all..

[2018-03-09 19:28] #9718 closed

[2018-03-09 19:31] #10050 closed

[2018-03-09 20:01] tboerger commented on #10060
And there is not any useable tag available at https://hub.docker.com/r/library/node/tags/ :(

[2018-03-09 20:29] guilhermecfviana opened #10088 "[BUG] Livechat: When I click on the conversation open the conversation of another person"
### Description:

When I click on the conversation open the conversation of another person.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Linux Ubuntu Server 4.4.0-1049-aws
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances:  1
* DB Replicaset Oplog:  enabled
* Node Version: v8.8.1
* mongoDB Version:

### Steps to Reproduce:

[2018-03-09 21:02] theorenck commented on #9785
@danieljhochman what do you think?

[2018-03-09 21:19] theorenck commented on #10069
Hi @fifou17 thank you for report it to us, can you give us more context on the problem?

[2018-03-09 21:34] jnweiger commented on #10060
Would that one work?
https://deb.nodesource.com/node_8.x/pool/main/n/nodejs/nodejs_8.9.4-1nodesource1_amd64.deb

[2018-03-10 01:40] vRobM opened #10092 "[ Feature ] Slack+other Import selections"
After selecting a slack-export.zip the list of users is presented with checkbox for each.

What is missing is select all, unselect all type checkbox on top, so that only a few users/channels can be selected.

Otherwise we're clicking hundreds or thousands of times :-)

This applies to other import types

[2018-03-10 04:41] pkgodara commented on #9300
Does it display blank message or nothing at all in RC conversation?

[2018-03-10 06:02] MIKNOTAURO commented on #10074
I'm also interesting in this feature related to sound notifications.
Sometimes users take a long time to write/answer so, I think the default behavior should always be send beep notifications to and from livechat users.
At the end, there is a mute button in the livechat ui
@renatobecker Do you know if there is a way to set this now?

[2018-03-10 08:19] tboerger commented on #10060
@jnweiger but I can't get it installed with the deb repo on xenial.

[2018-03-10 08:45] mrinaldhar commented on #9999
Hi @c0fe , we took up End to End encryption as a Google Summer of Code project last year, and the work is currently in the process of being tested and reviewed to be merged. We're also working on adding support for E2E in our mobile apps. PR #10094 should resolve this.

[2018-03-10 09:02] himbeere commented on #10044
Yeah. We all have the same problem. Have a look at https://github.com/RocketChat/Rocket.Chat/issues/10060#issuecomment-372012579. There is a temporary solution.

[2018-03-10 12:44] vnkmpf commented on #7640
I'm testing on 0.62.2.
When I disable notifications in DM for a user, no popup appears = correct.
When I set it to "nothing", no popup appears = correct.
When set to "mentions", popup does appear. I'm not sure if this should or should not appear. There probably isn't much reason to use "@" in DM, on the other hand, the settings say "mentions".

It looks like working fine with global settings to me

[2018-03-10 13:38] TwizzyDizzy commented on #7640
@rocket-cat close

Splendid, thanks for getting back. Then I'm closing this for now :)

Cheers
Thomas

[2018-03-10 13:38] #7640 closed

[2018-03-10 13:40] TwizzyDizzy commented on #10073
Does haproxy try to speak HTTP/2 to the backend (Rocket.Chat), too, or do you speak HTTP/1.1 there?

Cheers
Thomas

[2018-03-10 13:42] TwizzyDizzy commented on #9489
@rocket-cat open

Ah, @AmShaegar13, thanks for pointing this out. Re-opening!

Cheers
Thomas

[2018-03-10 13:46] TwizzyDizzy commented on #8332
Mhhh... @geekgonecrazy: I think we should first elaborate on whether it is something that is working as expected (=not rendering HTML from hooks) or whether incoming HTML from webhook should be rendered.

I think it shouldn't be rendered. Otherwise you would have to do some sanitizing ... and where would you start with that...

One could also view it differently: if you give away a token hook, you

[2018-03-10 13:49] TwizzyDizzy commented on #2436
@rocket-cat close

To my knowledge, this is true. I guess you could open an issue in the docs for that: https://github.com/RocketChat/docs

As for the initial issue: I'm closing this - see my reasoning above.

Cheers
Thomas

[2018-03-10 13:50] #2436 closed

[2018-03-10 13:53] TwizzyDizzy commented on #10068
I'm not very familiar with RTL UIs, but to me that looks pretty much what I would expect. Can you elaborate on what "is not in place" means to you? :)

Cheers & Thanks
Thomas

[2018-03-10 15:06] himbeere commented on #10060
@crrodriguez i built nodejs with debug option and get this:

[code]

This should help I guess?

[2018-03-10 15:13] himbeere commented on #10060
@crrodriguez And here is the nodejs issue: https://github.com/nodejs/node/issues/19274

[2018-03-10 16:01] HammyHavoc commented on #9300
Nothing happens; though emails are correctly sent when users are offline. Can't see it being a configuration issue as have entered the settings many times with the same result, yet this works just fine with other software we're using IMAP and SMTP with.

[2018-03-10 16:09] tboerger commented on #10060
Maybe I should just install the debug package, that have not been updated.

[2018-03-10 18:57] hashseed commented on #10060
I was wrong. This rather looks like the parser is running on a thread it is not supposed to be on.

[2018-03-10 19:27] Julianoe commented on #2436
@TwizzyDizzy thanks for your extended response on that issue. It made me think and changed my mind on certain things.

You might be right on this matter and thus i agree a lot with @FibreFoX about the need for more and better documentation.
I guess instead of making it easy for non tech savvy people the goal for opening libre software to more people is through education... so writing more articles

[2018-03-10 19:30] danieljhochman commented on #9785
@theorenck - looks good. Just adding what @rodrigok said:

It's per room and per user, the mute button could be added to the message's action menu and you could add the user in input inside the room's preference.

Not sure what "inside the room's preference" means exactly.

[2018-03-11 02:54] lpalgarvio commented on #8353
Another reminder, 11 March 2018

[2018-03-11 03:30] tjhorner commented on #6778
I've run into this issue on my Rocket.Chat instance, and part of the problem seems to be that the file is uploaded via WebSocket instead of a normal HTTP file upload, and if it takes too long to upload the file, the WS will close so the file upload never completes. A workaround for this is (if you're able to) connect to the server locally and upload it through there. This should make the upload fa

[2018-03-11 03:42] tjhorner commented on #9577
I am experiencing this on version 0.62.2, except it's saying `-1` instead of `0`. 31ead9ad92867f19b00d0e1256a423773ce2fc2e says that -1 should be unlimited, but it seems it's taking it literally as -1.

![image](https://user-images.githubusercontent.com/2646487/37249387-332f2538-249b-11e8-905f-9ec1854e955d.png)

This can be worked around by setting the max upload size to something huge mid-import.

[2018-03-11 05:06] madguy02 commented on #8353
@Ipalgarvio , DNS Sec records are used for server discovery, and RC does not need to have it right now. But why exactly you require DNS Srv right now? It's better if you can share why is this a requirement right now? Thanks

[2018-03-11 05:47] JSzaszvari commented on #8353
There's no valid reason I can think of for DNS SRV records unless you are thinking about implementing some sort of discovery, which can already be accomplished by deploying a config with your client.

@lpalgarvio @madguy02 if you wish to follow up on this feature request please post it at  https://forums.rocket.chat in the feature request section. The forums are where feature requests that are not

[2018-03-11 07:24] madguy02 commented on #8353
@JSzaszvari  this is actually a feature which is a part of Federation, we need server discovery when we are federating between servers. I am working on that. Apart from that there isn't any need to set up the DNS srv records.

[2018-03-11 08:06] JSzaszvari commented on #8353
Ah good stuff. Thanks for filling me in :)

[2018-03-11 14:43] idanielblake commented on #10068
Hello
Is there any workaround for this bug? with CSS maybe?
thanks

[2018-03-11 14:51] TwizzyDizzy commented on #10068
Hi @idanielblake,

no offense intended, but: can we first agree on what's the actual bug here? ;)

Cheers
Thomas

[2018-03-11 14:57] idanielblake commented on #10068
When I click on my profile picture on right above corner (in RTL RC) menu opens outside of the screen. Just like the picture. sorry for my eng.

[2018-03-11 14:59] TwizzyDizzy commented on #10068
Ah! I though this some censoring for privacy. OK. Then I get it... thanks!

Cheers
Thomas

[2018-03-11 15:05] idanielblake commented on #10068
Now is there any fix with some css? I updated our Rocketchat and It's broken somehow. Can you help? Thank you so much

[2018-03-11 15:09] TwizzyDizzy commented on #8289
@rocket-cat close

Closing this in favour of #10047. The issue remaining in the issue at hand is the same is described there - with a lot less clutter than here (because another issue has been solved here).

Cheers
Thomas

[2018-03-11 15:09] #8289 closed

[2018-03-11 15:29] TwizzyDizzy commented on #9310
@rocket-cat close

I'm closing this, as I, too, cannot reproduce it. This might be related to some custom CSS or JS or to the content of some of your rooms.

I'm happy to re-open, if you can provide additional details / logs.

Cheers
Thomas

[2018-03-11 15:29] #9310 closed

[2018-03-11 15:33] TwizzyDizzy commented on #10030
@MartinSchoeler: I'd recommend closing this. Rocket.Chat is (and probably also should not be) no browser.

Cheers
Thomas

[2018-03-11 15:53] bizzbyster commented on #10030
@TwizzyDizzy I have forked Android Rocket.chat and put a larger bounty on the full feature of "embedded tabbed browsing": https://github.com/WideChat/Rocket.Chat.Android/issues/1. I think we will find that browsing integrated into chat is a better user experience than having to switch between two apps but I can close this and we can wait until we have an implementation of rocket.chat+browsing to t

[2018-03-11 17:54] 26prajval98 opened #10096 "Unable to start Rocket.chat on windows"
When i start the server typing meteor npm start i get this error after proxy and MongoDB are successfully running. Someone please help me out.

Error: EPERM: operation not permitted, lstat 'E:\CompStuff\Rocket.Chat\packages\rocketchat-apps\.npm\package-new-15dpipk.twji\node_modules'
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! Rocket.Chat@0.63.0-develop start: `meteor npm i && meteor`
npm ER

[2018-03-11 23:37] pablocerdeira commented on #3350
There is a "temporary solution" for this. Create some read-only channels with the necessary members, then use, on the other channel, the command /invite-all-from <channel>.
Example:
1. Create a read-only channel called team-sales
2. Add all team sales users to this channel
3. Finally, go to all the channels you would like to include the sales team (ie: opportunities, sales-meetings etc) and add al

[2018-03-12 01:05] lpalgarvio commented on #8353
By having SRV records supported, RocketChat can for example allow running the server on a subdomain, without taking space on the root domain, and without forcing users to know that subdomain.

ie, allows this:
example.com - your organization website
www.example.com - alias for the root domain
chat.example.com - your rocketchat

clients lookup example.com and connect to chat.example.com

This is th

[2018-03-12 01:36] mikaelmello opened #10097 "Warning, in many languages the Internal Hubot interface is *very* misleading"
### Description:

Before being updated to load custom scripts on #7095, it was only possible to load pre-made scripts from a (now deprecated) repository (github/hubot-scripts), so in the description of the interface, the user is guided to insert names of scripts containing in this repository.

When [searching for the variable of the description](https://github.com/RocketChat/Rocket.Chat/search?q=I

[2018-03-12 03:02] joshuaspence commented on #9174
I tried again today and got a different error:

[code]

It looks like it sorta works, but the behavior is completely broken. I think this is what is happening:

  1. Initial file chunk is sent to instance A.
  2. Subsequent file chunks are sent either to instance A, B or C. If you are lucky, every chunk of the file will be sent to instance A and the file will have been uploaded seamlessly. The cha

[2018-03-12 07:05] janrudolph commented on #10074
@JSzaszvari Did you have the chance to reproduce the bug?

[2018-03-12 07:22] tompinzler commented on #658
@geekgonecrazy @vodkhang I‘m not a developer but would like to help on this as well. I could do financial sponsoring. Not huge amounts but something to make things a bit easier.

[2018-03-12 08:17] monspid opened #10098 "[ERROR] The connection of URL and snippet makes weird looking URL"
### Description:
The connection of URL and snippet makes weird looking URL.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Centos 7
* Deployment Method(snap/docker/tar/etc): docker

### Steps to Reproduce:
Write:
[code]

### Expected behavior:
![image](https://user-images.githubusercontent.com/18348137/37272027-9c0feaf2-25d5-11e8-91da-7f15099b173a.png)

[2018-03-12 08:26] efih commented on #10068
same issue here

[2018-03-12 09:15] Avalarion commented on #8961
We'd also like to have this feature!

[2018-03-12 09:33] tboerger commented on #10060
https://github.com/dockhippie/rocketchat/blob/master/Dockerfile#L34-L36 Not really nice, but at least it should hopefully fix the issue for now...

[2018-03-12 09:44] magdalena-dering opened #10099 "I can't log in on Rocket.Chat desktop app."
### Description:

I'm a new user of Rocket.Chat. If I'm using my login and password, I got notification that "the user of Rocket.Chat. not exist or the password is wrong". I have already login to chrome on https://open.rocket.chat/home - on website I can log in, but on my desktop not.
Additionally, I want to conect with the server https://mail.coobers.com:8000

### Server Setup Information:

* Ver

[2018-03-12 10:03] apo-j commented on #9763
Can other user who is not admin see the custom fields ? I also tried to call the rest api /api/v1/users.info?userId=xxx, il returns customFields only called by admin user

[2018-03-12 10:11] idanielblake commented on #10068
I tried some CSS but I'm not a expert. rtl direction made it better but messed up other menus.
.rc-popover__content {
//right:30px !important;
//min-width:200px !important;
//max-width:300px !important;
//transform: translateX(-50%);
direction: ltr;
  //transform: translateX(-10%);
  //animation: unset !important;
}
.rc-popover {
 //direction: ltr;
  //width: 90% !important;
}

[2018-03-12 10:22] SeanPackham commented on #3894
Is now implemented with inline and multi-line code buttons.

[2018-03-12 10:22] #3894 closed

[2018-03-12 10:27] SeanPackham commented on #1724
We already have this feature https://github.com/RocketChat/Rocket.Chat/tree/develop/packages/rocketchat-oauth2-server-config

[2018-03-12 10:27] #1724 closed

[2018-03-12 10:28] SeanPackham commented on #1777
We won't be implementing this feature.

[2018-03-12 10:28] #1777 closed

[2018-03-12 10:29] SeanPackham commented on #1871
We won't be implementing this feature in the near future.

[2018-03-12 10:29] #1871 closed

[2018-03-12 10:41] #10099 closed

[2018-03-12 11:16] SeanPackham commented on #3505
This feature has been implemented in a more recent version.

[2018-03-12 11:16] #3505 closed

[2018-03-12 11:18] SeanPackham commented on #3530
Timezones can be set at the server level but we won't support admins overriding a user's time zone.

[2018-03-12 11:18] #3530 closed

[2018-03-12 11:25] SeanPackham commented on #3621
in more recent versions of Rocket.Chat @'ing someone does not automatically invite them. You have to manually invite them

[2018-03-12 11:25] #3621 closed

[2018-03-12 11:28] SeanPackham commented on #3633
Tested, still an issue in 0.62.0

[2018-03-12 11:29] SeanPackham commented on #3781
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 11:29] #3781 closed

[2018-03-12 11:34] SeanPackham commented on #3844
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 11:34] #3844 closed

[2018-03-12 11:34] SeanPackham commented on #5421
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 11:34] #5421 closed

[2018-03-12 11:38] SeanPackham commented on #6103
You need to click the email link to verify your account. You still will be able to login without a verified account. Please let me know if you are still having this issue. I cannot reproduce it.

[2018-03-12 11:38] #6103 closed

[2018-03-12 11:39] SeanPackham commented on #6303
On consideration, not deleting the channels is the behaviour we want. It is up to other owners and admins to remove it but we wouldn't want users to lose their conversations.

[2018-03-12 11:39] #6303 closed

[2018-03-12 11:41] SeanPackham commented on #6392
This is the expected behaviour. I'd suggest disabling account deleting and have an admin disable the account.

[2018-03-12 11:41] #6392 closed

[2018-03-12 11:42] SeanPackham commented on #6438
I have not been able to reproduce this in 0.62.0 please let me know if it is still an issue.

[2018-03-12 11:42] #6438 closed

[2018-03-12 11:51] sampaiodiego commented on #10023
@amonemian did you set any URL?

since you didn't not filled our issue template, I do not know what are your expectations on this.

how did you expect this to work?

[2018-03-12 11:58] SeanPackham commented on #6508
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 11:58] #6508 closed

[2018-03-12 11:59] SeanPackham commented on #6514
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed. Users can be banned from their individual accounts.

[2018-03-12 11:59] #6514 closed

[2018-03-12 12:04] SeanPackham commented on #6610
Fixed in 0.60.0

[2018-03-12 12:04] #6610 closed

[2018-03-12 12:10] SeanPackham commented on #6762
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:10] #6762 closed

[2018-03-12 12:11] SeanPackham commented on #6853
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:11] #6853 closed

[2018-03-12 12:12] SeanPackham commented on #6887
We don't have any plans to support @'ing real names.

[2018-03-12 12:12] #6887 closed

[2018-03-12 12:14] SeanPackham commented on #7125
As mentioned by geekgonecrazy, bots are full users and need an email address. We won't be changing this in the short term.

[2018-03-12 12:18] SeanPackham commented on #7254
If you use an OAuth provider to authenticate you can skip email signup/login.

[2018-03-12 12:18] #7254 closed

[2018-03-12 12:20] SeanPackham commented on #7310
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:20] #7310 closed

[2018-03-12 12:20] SeanPackham commented on #8007
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:28] SeanPackham commented on #8328
No longer an issue in 0.62.0

[2018-03-12 12:28] #8328 closed

[2018-03-12 12:30] dmoldovan123 commented on #10073
http2 bidirectional.

[2018-03-12 12:31] SeanPackham commented on #9060
Currently this is not supported, each user needs a unique email address.

[2018-03-12 12:31] #9060 closed

[2018-03-12 12:32] SeanPackham commented on #9139
This is the expected behaviour.

[2018-03-12 12:32] #9139 closed

[2018-03-12 12:33] SeanPackham commented on #9386
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:33] #9386 closed

[2018-03-12 12:35] SeanPackham commented on #971
We won't be adding an image proxy, I'd suggest we disable http content from being displayed but if admins allow it, provide a link to open it in another tab.

[2018-03-12 12:36] SeanPackham commented on #1681
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:36] #1681 closed

[2018-03-12 12:38] SeanPackham commented on #2260
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:38] #2260 closed

[2018-03-12 12:41] SeanPackham commented on #7806
This is the expected behaviour. As rasos suggested:

[2018-03-12 12:41] #7806 closed

[2018-03-12 12:42] SeanPackham commented on #9041
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 12:42] #9041 closed

[2018-03-12 13:20] MartinSchoeler commented on #2180
For now you can disable them using the admin screen, unfortunately the feature to be able delete this kind of message is not on our roadmap and it will not be done in the near future, if this feature is planned to be added we will reopen this. Thanks.

[2018-03-12 13:20] #2180 closed

[2018-03-12 13:22] MartinSchoeler commented on #3414
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 13:22] #3414 closed

[2018-03-12 13:23] MartinSchoeler commented on #3501
Closing this due the new ui design, if the problem persists with the new version, please open a new issue with updated details. Thanks!

[2018-03-12 13:23] #3501 closed

[2018-03-12 13:23] MartinSchoeler commented on #3484
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-12 13:23] #3484 closed

[2018-03-12 13:24] MartinSchoeler commented on #3486
Please reopen this on the docs repository

[2018-03-12 13:24] #3486 closed

[2018-03-12 13:25] MartinSchoeler commented on #3508
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 13:25] #3508 closed

[2018-03-12 13:25] MartinSchoeler commented on #3514
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 13:25] #3514 closed

[2018-03-12 13:30] Hudell commented on #513
@raldjr Users can already pin their own channels, by setting them as favorite and checking the "Group Favorites" option on the sort popup.

[2018-03-12 13:53] MartinSchoeler commented on #3487
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-12 13:53] #3487 closed

[2018-03-12 13:53] MartinSchoeler commented on #3543
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 13:53] #3543 closed

[2018-03-12 13:54] MartinSchoeler commented on #3542
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 13:54] #3542 closed

[2018-03-12 13:54] Hudell commented on #4956
You can block direct messages from users by opening a DM window with them, clicking on the "User Info" button and then on the "Block User" option.

[2018-03-12 13:55] Hudell commented on #3590
You can block direct messages from users by opening a DM window with them, clicking on the "User Info" button and then on the "Block User" option.

The blocked user will still be able to talk to you on channels that you both participate, but they won't be able to send direct messages anymore.

[2018-03-12 13:58] MartinSchoeler commented on #3511
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 13:58] #3511 closed

[2018-03-12 14:11] balancin opened #10102 "Password reset not working"
Hi there,

I'm using one mailgun SMTP and I was send some test e-mails successfully but I can't use recover password, when I use password recovery I get this error "Error trying to send email: Message failed"

Can anyone knows about that? I'm using the last version 0.62.2

My best,

[2018-03-12 14:12] sampaiodiego commented on #9943
should we still support graphics magick on scenarios like this?

[2018-03-12 14:31] MartinSchoeler commented on #3601
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 14:33] MartinSchoeler commented on #3614
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 14:33] #3614 closed

[2018-03-12 15:19] Hudell commented on #2152
Similar to #956

[2018-03-12 15:33] Hudell commented on #2700
PR #9947 adds the option to delete an user without removing their messages.

[2018-03-12 15:42] SeanPackham commented on #759
This depends on GitLab choosing to integrate Rocket.Chat. Closing issue.

[2018-03-12 15:42] #759 closed

[2018-03-12 15:46] SeanPackham commented on #628
@dhruvdutt please feel free to take this issue. See Gabriel's last comment for a mockup of how this could work.

[2018-03-12 15:47] SeanPackham commented on #692
Yes you can still choose to show email. Closing issue as it has already been implemented.

[2018-03-12 15:47] #692 closed

[2018-03-12 15:48] theorenck commented on #10030
Hi @bizzbyster this feature was not on our roadmap and we don't want to support it in our code base. I will close this issue but I would like to suggest you two possible alternatives. (1) Fork it as you've done with Android repo and implement the feature there; (2) Implement it as an Rocket.Chat App that will be released soon (more a mid-term solution). Either way, thank you for the suggestions.

[2018-03-12 15:48] #10030 closed

[2018-03-12 15:49] SeanPackham commented on #795
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 15:49] #795 closed

[2018-03-12 15:49] dhruvdutt commented on #628
I've some priority stuff lined up currently and will try to come to this eventually.
Feel free to pick this up if anybody wants.

[2018-03-12 15:52] #868 closed

[2018-03-12 15:54] theorenck commented on #10068
Thanks for inform the problem to us. @karlprieb, can you evaluate @idanielblake workaround?

[2018-03-12 15:55] SeanPackham commented on #1746
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 15:55] SeanPackham commented on #2861
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:02] gdelavald commented on #10070
@szluohua Hey, this is a small oversight we had when renaming some of the color variables, it shouldn't break anything but it is being fixed anyway in the phase 2 of the Livestream feature.

[2018-03-12 16:02] SeanPackham commented on #3081
This is the intended behaviour, all channel names are converted to lowercase versions.

[2018-03-12 16:03] SeanPackham commented on #3140
@marceloschmidt is this still relevant now that we have removed imagemagik?

[2018-03-12 16:03] #3140 closed

[2018-03-12 16:05] SeanPackham commented on #3211
Do not configure email to stop all emails from being sent. We won't support removing them from the logs in the near future.

[2018-03-12 16:06] notnamed commented on #3211
Not configuring email means that password resets don't work. We should be able to send password resets without sending chat logs.

[2018-03-12 16:06] SeanPackham commented on #3292
Since bots are currently tied to user accounts they rely on user presence. Closing as we won't support the ability for bots to permanently appear online in the near future, we will revisit once other priorities have been addressed.

[2018-03-12 16:06] #3292 closed

[2018-03-12 16:07] SeanPackham commented on #4442
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:07] #4442 closed

[2018-03-12 16:10] SeanPackham commented on #4482
Supporting user custom emojis is not on our roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:10] tomneedham commented on #3300
This is already the case for me. It appears if the email matches, they get the same rocketchat account loaded up - even though I have 'merge users' set to false. I want to explicitly turn this off now...

[2018-03-12 16:10] SeanPackham commented on #4526
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:10] #4526 closed

[2018-03-12 16:13] MartinSchoeler commented on #2780
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 16:13] #2780 closed

[2018-03-12 16:14] MartinSchoeler commented on #2947
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 16:14] #2947 closed

[2018-03-12 16:14] SeanPackham commented on #4782
We won't support a admin customisation for specific case in the near future but you can still edit or clear the bad word list from the admin.

[2018-03-12 16:15] tboerger opened #10106 "Missing username or email on activation request"
### Description:

We enabled the option that new registrations have to be enabled by an administrator, the email gets sent out like it should be, but the email is missing the information like name or email.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1
* DB R

[2018-03-12 16:16] MartinSchoeler commented on #3678
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 16:16] #3678 closed

[2018-03-12 16:17] MartinSchoeler commented on #3670
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 16:17] #3670 closed

[2018-03-12 16:19] gigawhitlocks opened #10107 "Add ability to globally disable email message digests"
### Description:

As a Rocket Chat administrator, I would like to be able to globally disable email digests of missed offline messages in order to prevent data exfiltration to 3rd party providers, e.g. Gmail.

It is not currently possible to disable email functionality that can leak private messages from channels within a closed community and still have functioning email for invites / password rec

[2018-03-12 16:31] SeanPackham commented on #4833
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:31] #4833 closed

[2018-03-12 16:32] #4956 closed

[2018-03-12 16:34] SeanPackham commented on #5078
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:34] #5078 closed

[2018-03-12 16:35] SeanPackham commented on #5098
Cannot duplicate in the new UI.

[2018-03-12 16:35] #5098 closed

[2018-03-12 16:36] MartinSchoeler commented on #3425
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 16:36] #3425 closed

[2018-03-12 16:36] SeanPackham commented on #5136
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:36] #5136 closed

[2018-03-12 16:37] SeanPackham commented on #5211
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:37] #5211 closed

[2018-03-12 16:37] SeanPackham commented on #5217
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:37] #5217 closed

[2018-03-12 16:39] SeanPackham commented on #5317
We have no plans to change the audio levels of the default sounds in the new future. You can edit the default sounds, accessible from `https://github.com/RocketChat/Rocket.Chat/tree/develop/public/sounds`

[2018-03-12 16:39] #5317 closed

[2018-03-12 16:41] SeanPackham commented on #5341
Newer versions of Rocket.Chat prevent users from making channels with capital letters, this fixes the sorting issue mentioned.

[2018-03-12 16:43] adilshoukat commented on #4782
@SeanPackham even if we clear the bad words list from admin, the words like "Gay", "Hui", etc. still get blocked. I checked in the mongo DB also, to see if there is some table that has the list of default blocked words. But there is no such table in DB also.
It looks like there is some check in the code, about these default bad words.

[2018-03-12 16:44] SeanPackham commented on #5384
We won't support automatically opening the user list when entering a channel.

[2018-03-12 16:44] #5384 closed

[2018-03-12 16:49] SeanPackham commented on #5764
We currently support viewing online, offline and all users in a channel for non-admin users.

[2018-03-12 16:49] #5764 closed

[2018-03-12 16:50] SeanPackham commented on #5877
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 16:50] #5877 closed

[2018-03-12 16:51] graywolf336 commented on #9577
@tjhorner can you open a new issue for that? It should be working as it worked locally for me, but I will have to test it more.

[2018-03-12 16:52] MartinSchoeler commented on #9780
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 16:52] #9780 closed

[2018-03-12 16:53] TheReal1604 commented on #3081
@SeanPackham Ok, then we have an issue at the edit function of a channel. I can rename channels to uppercase names. This should be fixed.

![grafik](https://user-images.githubusercontent.com/5877910/37297538-3ae6e534-261e-11e8-87f6-199146d0171b.png)

[2018-03-12 16:53] bkraul commented on #4688
Very crude...but something like this, maybe?
![image](https://user-images.githubusercontent.com/14616851/37297505-db92b824-25eb-11e8-9eaa-28c488d4f520.png)

[2018-03-12 17:01] graywolf336 commented on #10045
@jaytat0 Yes. However, before the Rocket.Chat Apps (previously Rocketlets) can make usage of them, the Rocket.Chat platform itself has to have support for them. So, we would need to implement them in the Rocket.Chat code and then ensure the Rocket.Chat Apps support them.

[2018-03-12 17:01] MartinSchoeler commented on #2889
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-12 17:01] #2889 closed

[2018-03-12 17:05] theorenck commented on #10073
@dmoldovan123 we're sorry for your struggle. We actually don't support HTTP2 and we probably still don't in the near future.

[2018-03-12 17:05] #10073 closed

[2018-03-12 17:15] theorenck commented on #10088
Hi @guilhermecfviana, thanks for reporting the problem. Can you give us a little more context on the problem (did it happen more than once?). @renatobecker can you look into it and see if we can reproduce  the problem?

[2018-03-12 17:19] MartinSchoeler commented on #3838
Please reopen this on the mobile repos. Thanks!

[2018-03-12 17:19] #3838 closed

[2018-03-12 17:19] theorenck commented on #10085
@timkinnane what are you thoughts on the subject?

[2018-03-12 17:22] MartinSchoeler commented on #3959
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-12 17:22] #3959 closed

[2018-03-12 17:24] MartinSchoeler commented on #4012
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-12 17:24] #4012 closed

[2018-03-12 17:25] MartinSchoeler commented on #4069
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 17:25] #4069 closed

[2018-03-12 17:27] MartinSchoeler commented on #3215
Please reopen this on the android app repository. Thanks.

[2018-03-12 17:27] #3215 closed

[2018-03-12 17:27] theorenck commented on #10074
Hey @janrudolph tanks for bring it to our attention. This behavior, as you described it, seems to be a bug. Can you give a little more context on how the livechat  notifications are configured? @renatobecker can you try to reproduce the problem?

[2018-03-12 17:28] MartinSchoeler commented on #3302
This was already implemented.

[2018-03-12 17:28] #3302 closed

[2018-03-12 17:29] MartinSchoeler commented on #4108
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 17:29] #4108 closed

[2018-03-12 17:30] MartinSchoeler commented on #4191
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 17:30] #4191 closed

[2018-03-12 17:35] karlprieb commented on #10068
We need to fix the calc that we use to set the position when an user open the popover. It need to be done using JS. I can do that on the 0.64 release

[2018-03-12 17:36] MartinSchoeler commented on #4224
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 17:36] #4224 closed

[2018-03-12 17:37] MartinSchoeler commented on #4265
@engelgabriel did we already find a way to achieve this?

[2018-03-12 17:42] geekgonecrazy commented on #1746
We should probably leave this one open.  A PR is in progress here: #8700

[2018-03-12 17:44] theorenck commented on #10092
Hi @vRobM I agree with you clicking hundreds or even thousands of times is pretty bad. @karlprieb how hard would be for us to have a select/deselect all for the importers?

[2018-03-12 17:51] geekgonecrazy commented on #9174
I think to solve this we should switch to use our new restful API.  That way chunks aren't being sent over the websocket.

[2018-03-12 17:54] geekgonecrazy commented on #9943
That's what I'm wondering.  That or we need to figure out how to force the precompiled binaries.

This also effects armhf snap builds, and I believe I've heard of a few having issues getting working on osx dev machine.

[2018-03-12 18:10] mixrat commented on #3211
Agree with @notnamed  - this issue should not be closed.

[2018-03-12 18:17] TwizzyDizzy commented on #5341
Erm... even when special characters are allowed in admin settings?

Cheers
Thomas

[2018-03-12 18:18] Igloczek commented on #5341
@TwizzyDizzy @SeanPackham Is your open.rocket.chat using current version? If it is, this problem is not fixed at all. User names are not sorted ![](https://i.imgur.com/bVMaGFN.png) and channels still have capital letters, but I wasn't reporting it, my goal was to get sorted list under "Direct messages"

[2018-03-12 18:25] MartinSchoeler commented on #2465
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 18:25] #2465 closed

[2018-03-12 18:39] MartinSchoeler commented on #2124
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 18:39] #2124 closed

[2018-03-12 18:54] MartinSchoeler commented on #1570
As this feature will hardly be implemented in the near future, as seen that is not on our roadmap. I will close this. This will be reopened when we reconsider adding this feature. Thanks for all the feedback!

[2018-03-12 18:54] #1570 closed

[2018-03-12 18:54] MartinSchoeler commented on #2619
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 18:54] #2619 closed

[2018-03-12 18:55] theorenck commented on #10096
Hi @26prajval98, we aim to keep our Github issues for bugs and feature requests.  It doesn't seems to fit that criteria. Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request. Thank you!

[2018-03-12 18:55] #10096 closed

[2018-03-12 19:06] MartinSchoeler commented on #712
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's probable that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 19:06] #712 closed

[2018-03-12 19:09] MartinSchoeler commented on #3015
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 19:09] #3015 closed

[2018-03-12 19:10] MartinSchoeler commented on #2694
@geekgonecrazy is this still an issue?

[2018-03-12 19:21] gzamboni commented on #10074
hey @theorenck! I have the same issue reported by @janrudolph. I have a brand new server installation, using the official docker images. A guest user starts a conversation, the favicon and brower title updates with unread counter, the new conversation notification sound plays, but, then only way I got to see the new LiveChat is turning on the "Unread on Top" option. I have this issue in both Web,

[2018-03-12 19:22] theorenck commented on #10097
Hi @mikaelmello thanks for reporting it to us. @bernardoetrevisan can you take a look into this?

[2018-03-12 19:22] geekgonecrazy commented on #2694
It's likely hit and miss. Let's go ahead and close

[2018-03-12 19:22] #2694 closed

[2018-03-12 19:27] MartinSchoeler commented on #2683
Please reopen this in the electron repository. Thanks!

[2018-03-12 19:27] #2683 closed

[2018-03-12 19:36] MartinSchoeler commented on #2843
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 19:36] #2843 closed

[2018-03-12 19:36] MartinSchoeler commented on #2814
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 19:36] #2814 closed

[2018-03-12 19:38] theorenck commented on #10098
Hi @monspid tanks to bring it to our attention. @karlprieb could you look it more closely to understand if it really is an front-end problem?

[2018-03-12 19:42] MartinSchoeler commented on #2179
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-12 19:42] #2179 closed

[2018-03-12 19:43] theorenck commented on #10102
Hi @balancin, we aim to keep our Github issues for bugs and feature requests only. This doesn't seems to fit in that criteria. Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request. Thank you!

[2018-03-12 19:43] #10102 closed

[2018-03-12 19:43] MartinSchoeler commented on #2209
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-12 19:43] #2209 closed

[2018-03-12 19:45] MartinSchoeler commented on #2261
Closing this due lack of updates, if you still experience this issue please open a new issue with updated details. Thanks!

[2018-03-12 19:45] #2261 closed

[2018-03-12 19:49] renatobecker commented on #9874
@theorenck, do you know if there is an `endpoint` to test this issue?

[2018-03-12 20:12] sampaiodiego commented on #10074
notification preferences mentioned by @theorenck mentioned are the regular preferences for any channel.

as you can from the screenshot above, for livechats they are all set for "all messages".. but I have tested locally and as you guys noticed seems they are not working:
![image](https://user-images.githubusercontent.com/8591547/37307057-736c1358-2618-11e8-914f-bf874dc10620.png)

[2018-03-12 20:40] monspid commented on #10098
@theorenck it's not connected with this issue, but can you assign someone to #9462?

[2018-03-12 21:03] ricardojrgpimentel opened #10109 "Uploaded photos don't load on enabled anonymous chat access"
### Description:

When anonymous chat access is enabled newly uploaded images don't load thumbnail or image itself, if the option is disabled every new uplaod image is show and loads correctly

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): snap

### Steps to Reproduce:

1. Enable anonymous chat access
2.

[2018-03-12 21:15] xlbs-rm commented on #9862
Confirm, it worked!
I didn't see it immediately because the app and the browser still showed cached content.

[2018-03-12 21:15] #9862 closed

[2018-03-12 21:28] theorenck commented on #10109
Hi @ricardojrgpimentel your issue actually duplicates issue #7507 and therefor it will be closed.

[2018-03-12 21:28] #10109 closed

[2018-03-12 22:36] propertunist opened #10111 "Cannot find module './utils.js'"
### Description:

I am setting up latest Rocket.Chat on Fedora 27 (moving from an older installation of Fedora on another server. I have set up node and mongodb - they are running. I have run npm install in the correct rocket.chat folder.

When I run node main.js, I see:
[code]

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Fedora 27 64 bit
* Deployment

[2018-03-12 23:32] christianreiss opened #10112 "Can't connect to Mongo after Upgrade"
### Description:

A production instance running 0.61 was upgraded to 0.62.2. After the Upgrade the Server was/is unable to connect to Mongodb. A downgrade to 0.61 is possible and RC connects to MongoDB again.

Error as follows:

`BIND_IP=127.0.0.1 ROOT_URL=http://ares.xxx.net PORT=3000 MONGO_URL=mongodb://localhost:27017/rocketchat MONGO_OPLOG_URL=mongodb://localhost:27017/local?replicaSet=001-rs

[2018-03-12 23:39] christianreiss commented on #10112
I fixed _this_ error by removed the MONGO_OPLOG_URL environment.

[2018-03-12 23:39] #10112 closed

[2018-03-13 01:04] propertunist commented on #10111
i can see numerous utils.js files inside /server/npm/node_modules/various_folders

[2018-03-13 05:54] micw opened #10114 "Crash on startup after upgrade to 0.62.2"
### Description:

I have been trying to upgrade my docker installation from 0.58.4 to 0.62.2. On a direct upgrade, Rocket.Chart crashed shortly after start. So I did a rollback and a step-by-step upgrade from 0.58.4 to 0.59.6 to 0.60.4 to 0.61.2 to 0.62.2.
Up to 0.61.2 all worked and the data was migrated. From 0.61.2 to 0.62.2, the same crash occurs:

Here's the only log:
[code]

### Server Setup

[2018-03-13 06:31] janrudolph commented on #8007
@SeanPackham okay, but how will you ensure that is issue is handled if you close it?

[2018-03-13 06:32] micleclickme opened #10115 "Avatar path error in Directory"
### Description:

User avatars not displaying in Directory Section because wrong path (uses full user name).
![image](https://user-images.githubusercontent.com/7793751/37325982-0d89de24-26a1-11e8-9a78-9f4a9c67e026.png)

In left menu avatars display correct with path by login
![image](https://user-images.githubusercontent.com/7793751/37326013-325db1d0-26a1-11e8-8390-679e663f6cae.png)

### Server Se

[2018-03-13 07:41] himbeere commented on #10114
Nodejs Version is pretty important right now. "dpkg -l | grep nodejs" will give you that information.

[2018-03-13 08:12] micw commented on #10114
docker run --rm -it library/rocket.chat:0.62.2 node --version
v8.10.0

[2018-03-13 08:21] jshupptechnologies opened #10116 "Is there a way to automate backup process to S3 supported storage ?"
I have a local installation of rocketchat running absolutely fine on our intranet [ Note this was installed via snap ]
I would like to setup routine backup mechanism in which the backup is uploaded to either AWS S3 or DO spaces. or any other supported S3 storage.

So would like to know if there is something already as such that rocket chat supports or this will have to go as a feature request.

[2018-03-13 08:28] himbeere commented on #10114
Well then you are out of luck. You have to downgrade your nodejs version.

https://github.com/nodejs/node/issues/19274

[2018-03-13 08:47] magicbelette opened #10117 "Top left icons disappear with FF ESR"
### Description:

Top left icons disappear with FF ESR (52.6) by clicking on them.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Debian
* Deployment Method(snap/docker/tar/etc): Tar
* Number of Running Instances: 3
* DB Replicaset Oplog: Enabled
* Node Version: 8.9.3
* mongoDB Version: 3.2.12

### Steps to Reproduce:

1. Randomly click on top left icon

[2018-03-13 09:09] magicbelette opened #10118 "Timeout while changing avatar without internet connection"
### Description:

When editing the profile, users have to wait for the "Loading suggestions..."  timeout to change their avatar, even if the option "Accounts_SetDefaultAvatar" is disabled.
![capture d ecran - 13032018 - 09 25 31](https://user-images.githubusercontent.com/6803105/37331238-b1b3aa3c-26a3-11e8-87c4-6bb77ba1f1b3.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62

[2018-03-13 09:15] micw commented on #10114
Thanky a lot. That means the official Rocket.Chat docker image is broken. I'll file a bug report in that repo.

[2018-03-13 09:53] elboletaire commented on #2889
LOL, seriously? What about a "PR accepted" label and leave it open for the community?

[2018-03-13 10:06] danpospisil opened #10120 "Unable to save user settings"
### Description:

Hi, whenever I try to save user preferences, I get this excpetion in the browser (there is nothing in the serverside log):

[code]
Any hint how to solve this? We cant save user profiles at all - this issue was in 0.62.0 and I have a shady memory that someone reported this even before 0.62.0

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System

[2018-03-13 10:34] der-eismann commented on #10120
We encountered the same problem here, the reason is pretty simple and easy to reproduce.
1. After a default installation saving the preferences is no problem.
2. Go to `My account -> Settings -> Messages` - there is a setting called `Show roles`
3. Go to `Administration -> Layout -> User Interface` and choose `Show roles: no`
4. Go to `My account -> Settings -> Messages` - the line with `Show role

[2018-03-13 10:36] SeanPackham commented on #599
Currently we support multiline messages by pressing CTRL+Enter. This enhancement is not on our short term roadmap. We will revisit it the future.

[2018-03-13 10:36] #599 closed

[2018-03-13 10:40] SeanPackham commented on #1318
Closing issue, emojis can't be disabled in more recent versions of Rocket.Chat.

[2018-03-13 10:40] #1318 closed

[2018-03-13 10:42] SeanPackham commented on #1591
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-13 10:42] #1591 closed

[2018-03-13 10:42] SeanPackham commented on #2153
This is the intended behaviour of editing messages.

[2018-03-13 10:42] #2153 closed

[2018-03-13 10:43] SeanPackham commented on #3405
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-13 10:43] #3405 closed

[2018-03-13 10:44] SeanPackham commented on #3811
Remove in more recent versions of Rocket.Chat

[2018-03-13 10:44] #3811 closed

[2018-03-13 10:45] SeanPackham commented on #3056
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-13 10:45] #3056 closed

[2018-03-13 10:45] SeanPackham commented on #2248
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-13 10:45] #2248 closed

[2018-03-13 10:49] marc-bouvier opened #10121 "Unsubscribe streams in Real Time API"
I would like to be able to unsubscribe "stream-room-messages" and "stream-notify-room" from Rocket.Chat Real time API.

That way, I won't need to filter out messages from these streams anymore.

An exemple of message that could be sent to Real time API to unsubscribe stream

    {
        "msg": "unsub",
        "id": "unique-id",
        "name": "stream-room-messages",
        "params":[

[2018-03-13 10:49] SeanPackham commented on #9898
Closing as this feature is not on our short term roadmap, we will revisit once other priorities have been addressed.

[2018-03-13 10:51] SeanPackham commented on #31
@rodrigok is this even still relevant with all our new UI updates?

[2018-03-13 11:00] SeanPackham commented on #1667
I tested this bug on open.rocket.chat and Rocket.Chat Cloud on OSX 10.13.3, Firefox 58.0.2 (64-bit), Chrome 64.0.3282.186 (Official Build) (64-bit) desktop notifications were enabled for both browsers.

Audio notifications work and the tab unread message icon is updated but no desktop notifications are show.

[2018-03-13 11:38] isabellarussell commented on #352
This issue is now closed as the feature is not on our short term roadmap but may be revisited once other priorities have been addressed.

[2018-03-13 11:38] #352 closed

[2018-03-13 11:39] danpospisil commented on #10120
@der-eismann - nice, I switched Administration -> Layout -> User Interface to Display Roles to True and saving now works. Thanks for this workaround - hope it gets fixed soon :)

[2018-03-13 11:39] sampaiodiego commented on #31
this is still relevant @SeanPackham . new UI elements haven't touched messages yet, but still I don't we'll fix this until we change the whole UI to React.

[2018-03-13 11:40] isabellarussell commented on #69
Hey Gabriel, if we still want this feature in the future, it can reopened. Closing it for now.

[2018-03-13 11:40] #69 closed

[2018-03-13 11:42] isabellarussell commented on #1654
This issue is now closed as the intention behind '@all' is that it does notify those concerned.

[2018-03-13 11:45] kaiiiiiiiii commented on #9898
@SeanPackham There’s already an open PR for that issue. Someone just needs to approve it :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-13 11:46] isabellarussell commented on #2944
Rocket.Chat only sends one verification email, not an approval email.

[2018-03-13 11:46] #2944 closed

[2018-03-13 11:49] isabellarussell commented on #3179
Please let us know if this is still a problem. For now, we are closing the issue.

[2018-03-13 11:49] #3179 closed

[2018-03-13 11:53] isabellarussell commented on #3268
Hi, this has been tested. HTML emails are working, using 0.62.

[2018-03-13 11:53] #3268 closed

[2018-03-13 11:57] evgeni commented on #1654
@isabellarussell IMHO not, as the whole point of this issue is that people don't want to be concerned ;-)

[2018-03-13 12:04] isabellarussell commented on #3355
Hi @geekgonecrazy is this still ongoing? Tried to find where to enable missed direct message notifications/emails but could not locate it. To test this, where can we configure the notifications (on Cloud)?

[2018-03-13 12:07] isabellarussell commented on #3787
This has been tested. Admins have to manually subscribe you again.

[2018-03-13 12:07] #3787 closed

[2018-03-13 12:10] isabellarussell commented on #4078
This issue is now closed as the feature is not on our short term roadmap but may be revisited once other priorities have been addressed.

[2018-03-13 12:10] #4078 closed

[2018-03-13 12:11] isabellarussell commented on #4198
Email notifications can be disabled in Administration.

[2018-03-13 12:11] #4198 closed

[2018-03-13 12:14] isabellarussell commented on #4880
This is a similar issue to: #3355 they are related.
Closing this one but do let us know if you require additional support.

[2018-03-13 12:14] #4880 closed

[2018-03-13 12:22] isabellarussell commented on #7577
I have tested this on 0.62 Cloud using Chrome 64.0.3282.167 (Official Build) (64-bit) and this is still an issue.

[2018-03-13 12:30] isabellarussell commented on #9710
I have edited the description and issue title.

[2018-03-13 12:36] sampaiodiego commented on #10114
@micw the logs you showed does not contains any errors.. how long did you wait for it to start?

I've tested the official image and seems it is working. here are the full logs I got (notice Node version):

[code]

[2018-03-13 12:42] louisemessage commented on #1862
Created a private room both as a user and administrator in Rocket.Chat 2.10.5. Deleted this group and then successfully created another group with the same name, again both as an admin and a user.

[2018-03-13 12:42] #1862 closed

[2018-03-13 12:52] MartinSchoeler commented on #2440
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 12:52] #2440 closed

[2018-03-13 12:52] MartinSchoeler commented on #2473
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 12:52] #2473 closed

[2018-03-13 12:56] louisemessage commented on #3235
Tested this in 2.10.5 with jpg. and png. and file preview displays correctly.

[2018-03-13 12:56] #3235 closed

[2018-03-13 13:02] rafaelks opened #10122 "[BUG] Camera usage won't stop after cancelling the record of the video and doesn't show anything in Safari"
### Description:

The camera usage won't stop after cancelling the record, here's a GIF that explains the bugs:

- The video won't show;
- Camera usage is happening, and never stops;

![2018-03-13 09 57 47](https://user-images.githubusercontent.com/551004/37343129-5e4b89bc-26a5-11e8-93eb-c4c4c6c892d9.gif)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: L

[2018-03-13 13:15] MartinSchoeler commented on #3069
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-13 13:15] #3069 closed

[2018-03-13 13:29] Otiel commented on #9898
Seems weird to close issues because they're not on your "short term roadmap". Issues are usually closed when they're :
* invalid
* resolved
* won't fix

By closing them, you're making it harder for people to find if the issue/feature request has already been reported.

[2018-03-13 13:30] MartinSchoeler commented on #2232
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 13:30] #2232 closed

[2018-03-13 13:31] MartinSchoeler commented on #2976
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 13:31] #2976 closed

[2018-03-13 13:35] hduarte commented on #10120
Same issue here. Thks for the workaround @danpospisil

[2018-03-13 13:40] MartinSchoeler commented on #3274
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 13:40] #3274 closed

[2018-03-13 13:46] MartinSchoeler commented on #3372
This was fixed on the latest version.

[2018-03-13 13:46] #3372 closed

[2018-03-13 14:03] louisemessage commented on #3370
Tested in 2.10.5 and this is still an issue

[2018-03-13 14:12] MartinSchoeler commented on #3586
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-13 14:12] #3586 closed

[2018-03-13 14:13] MartinSchoeler commented on #2748
Please reopen this issue in the respective android/ios repositories. Thanks!

[2018-03-13 14:13] #2748 closed

[2018-03-13 14:15] MartinSchoeler commented on #3333
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 14:15] #3333 closed

[2018-03-13 14:15] MartinSchoeler commented on #3733
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 14:15] #3733 closed

[2018-03-13 14:17] MartinSchoeler commented on #1283
Closing this due #2940

[2018-03-13 14:17] #1283 closed

[2018-03-13 14:19] MartinSchoeler commented on #3947
Please reopen this issue in the [here](https://github.com/RocketChat/Rocket.Chat.Electron) . Thanks!

[2018-03-13 14:19] #3947 closed

[2018-03-13 14:20] louisemessage commented on #2043
Thank you for your suggestion. This feature is not on our short-term roadmap and so we are currently unable to consider implementation.

[2018-03-13 14:20] #2043 closed

[2018-03-13 14:20] MartinSchoeler commented on #3782
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 14:20] #3782 closed

[2018-03-13 14:21] MartinSchoeler commented on #3960
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 14:21] #3960 closed

[2018-03-13 14:23] Hudell commented on #10062
I've managed to confirm the issue exists and to consistently trigger the error, but it takes more than a single message to cause it. Sometimes it happens after two or three messages, other times it takes more than 30 slow webhook calls to trigger the issue.

Once it happens, the whole server stops working and you have to kill and restart it to use rocket.chat again.

[2018-03-13 14:28] MartinSchoeler commented on #4071
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 14:28] #4071 closed

[2018-03-13 14:30] louisemessage opened #10124 "Pinned file attachments are not displaying"
### Description:

Using Rocket.Chat 2.10.5. When pinning a message with a file attachment to a channel, the file attachment does not display in the pinned message. I'm assuming expected behavior is for the file attachment to appear in the pinned message.

Instead, all you can see is the username of the user who originally posted the file in the pinned message. I have attached a screenshot below sh

[2018-03-13 14:32] louisemessage commented on #370
Completed in https://github.com/RocketChat/Rocket.Chat/issues/24. Closing issue

[2018-03-13 14:32] #370 closed

[2018-03-13 14:33] louisemessage commented on #1307
Thank you for your suggestion. This feature is not on our short-term roadmap so we will revisit once other priorities have been addressed.

[2018-03-13 14:34] louisemessage commented on #1794
Thank you for your suggestion. This feature is not on our short-term roadmap so we will revisit once other priorities have been addressed.

[2018-03-13 14:34] #1794 closed

[2018-03-13 14:35] louisemessage commented on #2741
Thank you for your suggestion. This feature is not on our short-term roadmap so we will revisit once other priorities have been addressed.

[2018-03-13 14:35] #2741 closed

[2018-03-13 14:36] #2877 closed

[2018-03-13 14:37] louisemessage commented on #2905
Thank you for your suggestion. This feature is not on our short-term roadmap so we will revisit once other priorities have been addressed.

[2018-03-13 14:37] #2905 closed

[2018-03-13 14:39] bitbruder commented on #1654
Well, you could add Notification Settings for each Channel then?

![image](https://user-images.githubusercontent.com/15855432/37348502-82b1cbb6-26d4-11e8-9127-e08de28183f3.png)

It can then be enabled or disabled, if the Admin thinks that the intention behind '@ALL' is that it does notify those concerned.

[2018-03-13 14:39] louisemessage commented on #2951
Thank you for your suggestion. This feature is not on our short-term roadmap so we will revisit once other priorities have been addressed.

[2018-03-13 14:39] #2951 closed

[2018-03-13 14:39] SeanPackham commented on #628
Closing as this feature is not on our short term roadmap and we have had a few attempts to start it with no luck. We can revisit once other priorities have been addressed.

[2018-03-13 14:39] #628 closed

[2018-03-13 14:40] isabellarussell commented on #4880
Hi there, just found this in our documentation and it will help you with your issue:
https://rocket.chat/docs/user-guides/managing-your-account/

[2018-03-13 14:40] shtefcs commented on #1307
I dont believe you will even remember and find this feature ever once you close it.

[2018-03-13 14:42] louisemessage commented on #3369
Tested in 2.10.5 and SVG. files are visible

[2018-03-13 14:42] #3369 closed

[2018-03-13 14:43] SeanPackham commented on #5763
We have made significant improvements to our data usage but have no plans on our roadmap to implement a specific feature like this. We will continue to strive to produce a lean messaging protocol and implement bandwidth saving techniques such as not download images automatically etc.

[2018-03-13 14:43] #5763 closed

[2018-03-13 14:45] louisemessage commented on #3493
Thank you for your suggestion. This feature is not on our short-term roadmap so we will revisit once other priorities have been addressed.

[2018-03-13 14:45] #3493 closed

[2018-03-13 14:50] louisemessage commented on #3996
Confirmed: still an issue in 2.10.5

[2018-03-13 14:52] louisemessage commented on #4571
Thank you for your suggestion. This feature is not on our short-term roadmap so we will revisit once other priorities have been addressed.

[2018-03-13 14:52] #4571 closed

[2018-03-13 14:54] louisemessage commented on #4733
Tested in 2.10.5. MP4s working in embedded player

[2018-03-13 14:54] #4733 closed

[2018-03-13 14:58] louisemessage commented on #4744
Thank you for your suggestion. Closing this issue as this feature is not on our short-term roadmap.

[2018-03-13 14:58] #4744 closed

[2018-03-13 15:00] louisemessage commented on #5156
Thank you for your suggestion. Closing this issue as this feature is not on our short-term roadmap.

[2018-03-13 15:00] #5156 closed

[2018-03-13 15:05] louisemessage commented on #5712
Seeing as progress on this issue does not appear to have been made, I am closing this issue for the meantime.

[2018-03-13 15:05] #5712 closed

[2018-03-13 15:09] louisemessage commented on #5988
Tested: this feature is working in Rocket.Chat 2.10.5. Tested on Mac OS 10.13.3.

[2018-03-13 15:09] #5988 closed

[2018-03-13 15:10] louisemessage commented on #5948
As there haven't been any comments on this issue for over a year, I am closing it for the meantime.

[2018-03-13 15:10] #5948 closed

[2018-03-13 15:11] louisemessage commented on #5839
As there haven't been any comments on this issue for more than a year, I am closing it for the meantime.

[2018-03-13 15:11] #5839 closed

[2018-03-13 15:15] SeanPackham commented on #6041
Tested on 0.61.2 and I can join a public channel which is restricted by a password if I supply the correct password.

[2018-03-13 15:15] #6041 closed

[2018-03-13 15:16] louisemessage commented on #5406
Tested in Rocket.Chat 2.10.5 on Mac OS 10.13.3. Error message displays for files larger than 2MB.

[2018-03-13 15:16] #5406 closed

[2018-03-13 15:17] louisemessage commented on #6002
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:17] #6002 closed

[2018-03-13 15:17] SeanPackham commented on #6137
This would be a useful enhancement, to simplify the backlog I am closing it for now and we can revisit it once the bug backlog has been reduced.

[2018-03-13 15:17] #6137 closed

[2018-03-13 15:19] SeanPackham commented on #6150
Closing as this feature is not a feature we intend to support. Something similar can be achieved with default channels or creating a bot to start conversations.

[2018-03-13 15:19] #6150 closed

[2018-03-13 15:19] louisemessage commented on #6333
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:19] #6333 closed

[2018-03-13 15:20] louisemessage commented on #6381
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:20] #6381 closed

[2018-03-13 15:21] louisemessage commented on #6350
Closing this issue as there hasn't been activity on it for over a year. Feel free to create a PR if you start work on it!

[2018-03-13 15:21] #6350 closed

[2018-03-13 15:21] SeanPackham commented on #6191
We won't support that customization, the intention of that notification is to make sure channel members see the change.

[2018-03-13 15:21] #6191 closed

[2018-03-13 15:22] louisemessage commented on #6670
@rodrigok do you know why this is happening?

[2018-03-13 15:23] louisemessage commented on #3634
Closing this issue for the meantime as there hasn't been activity on it for over a year.

[2018-03-13 15:23] #3634 closed

[2018-03-13 15:23] SeanPackham commented on #6212
We don't have plans to support this feature. Have you considered allowing anonymous read only users for your private channels.

[2018-03-13 15:23] #6212 closed

[2018-03-13 15:27] louisemessage commented on #2196
Nice idea, and an important feature. To simplify the issue backlog for now, I'm going to close this issue, but we can revisit it in the future.

[2018-03-13 15:27] #2196 closed

[2018-03-13 15:29] louisemessage commented on #513
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:29] #513 closed

[2018-03-13 15:29] cchbr opened #10125 "Some translations not working"
I've had some trouble translating RocketChat, these are the one's I've encountered so far:

- Changing the name of the home page from the admin settings doesn't work, it always says 'Home'.
- Some words are not being translated such as 'Channels' and 'Search messages' in the directory, and 'Search member' in the member list of a channel.
- Some strings are not present in the i18n list of translata

[2018-03-13 15:30] louisemessage commented on #555
Thanks for your suggestion, Sing. Closing this issue for the meantime as there hasn't been activity on it for over a year.

[2018-03-13 15:30] #555 closed

[2018-03-13 15:30] louisemessage commented on #930
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:30] #930 closed

[2018-03-13 15:32] SeanPackham commented on #6225
Added more descriptive title.

[2018-03-13 15:33] louisemessage commented on #3522
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:33] #3522 closed

[2018-03-13 15:34] louisemessage commented on #3539
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:34] #3539 closed

[2018-03-13 15:34] louisemessage commented on #3769
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:34] #3769 closed

[2018-03-13 15:42] louisemessage commented on #5775
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 15:42] #5775 closed

[2018-03-13 15:49] SeanPackham commented on #1307
@shtefcs I understand how you feel but I back the decision and can add that we would rather be upfront and clear than let an issue stay open for another 2 years.

We are adopting a stricter stance to feature requests to reduce the administrative burden on the team so that we can deliver more features.

[2018-03-13 15:53] #3165 closed

[2018-03-13 16:04] kkumaresan commented on #4748
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android.  If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 😄

[2018-03-13 16:06] louisemessage commented on #444
Good suggestion, but I'm closing this issue for now as there hasn't been activity on it in over two years.

[2018-03-13 16:06] #444 closed

[2018-03-13 16:07] louisemessage commented on #494
Closing this issue as there hasn't been activity on it in over two years. We're trying to clear up our backlog of issues :)

[2018-03-13 16:07] #494 closed

[2018-03-13 16:08] kkumaresan commented on #8232
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android. If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 🙂

[2018-03-13 16:09] louisemessage commented on #525
Nice idea, closing for now as trying to free up issues backlog :)

[2018-03-13 16:09] #525 closed

[2018-03-13 16:12] louisemessage commented on #2831
Closed as members list is available in 2.10.5.

[2018-03-13 16:12] #2831 closed

[2018-03-13 16:12] louisemessage commented on #2118
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:12] #2118 closed

[2018-03-13 16:13] louisemessage commented on #1948
Nice suggestion but closing for now as there hasn't been activity on the issue for more than two years.

[2018-03-13 16:13] #1948 closed

[2018-03-13 16:14] louisemessage commented on #1930
Closing for now as there hasn't been activity on this issue for more than two years and we're working to clear the issue backlog.

[2018-03-13 16:14] #1930 closed

[2018-03-13 16:15] louisemessage commented on #2688
Thank you for your suggestion. Closing this issue for now due to a lack of activity on it. Feel free to open a PR if this is something you're working on though :)

[2018-03-13 16:15] #2688 closed

[2018-03-13 16:16] louisemessage commented on #2119
Closing issue due to a lack of activity.

[2018-03-13 16:16] #2119 closed

[2018-03-13 16:17] louisemessage commented on #1299
Closed as this is a feature in Rocket.Chat 2.10.5

[2018-03-13 16:17] #1299 closed

[2018-03-13 16:17] louisemessage commented on #2669
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:17] #2669 closed

[2018-03-13 16:18] louisemessage commented on #3806
Closing as already suggested here: https://github.com/RocketChat/Rocket.Chat/issues/1824#issuecomment-230642489.

[2018-03-13 16:18] #3806 closed

[2018-03-13 16:22] louisemessage commented on #4067
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:22] #4067 closed

[2018-03-13 16:22] louisemessage commented on #3240
This is a feature in 2.10.5, so closing this issue.

[2018-03-13 16:22] #3240 closed

[2018-03-13 16:26] louisemessage commented on #4274
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:26] #4274 closed

[2018-03-13 16:26] SeanPackham commented on #272
Closing, this is not a core feature expected in the team chat community space and services like YouTube Live and Twitch cater for this.

[2018-03-13 16:26] #272 closed

[2018-03-13 16:27] louisemessage commented on #4386
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:27] #4386 closed

[2018-03-13 16:28] louisemessage commented on #4335
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:28] #4335 closed

[2018-03-13 16:29] louisemessage commented on #4428
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:29] SeanPackham commented on #275
I like the sound of this feature but think it can be addressed by a community app once we release the app marketplace.

[2018-03-13 16:29] #275 closed

[2018-03-13 16:31] SeanPackham commented on #500
Is this for the purpose of announcements?

[2018-03-13 16:31] #500 closed

[2018-03-13 16:33] louisemessage commented on #4706
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:33] #4706 closed

[2018-03-13 16:33] louisemessage commented on #4722
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:33] #4722 closed

[2018-03-13 16:34] SeanPackham commented on #809
I like the sound of this feature but think it something that can be created by the community if they have the need for it.

[2018-03-13 16:34] #809 closed

[2018-03-13 16:34] louisemessage commented on #4697
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:34] #4697 closed

[2018-03-13 16:34] louisemessage commented on #4852
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:34] #4852 closed

[2018-03-13 16:35] louisemessage commented on #4894
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:35] #4894 closed

[2018-03-13 16:35] louisemessage commented on #4931
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:35] #4931 closed

[2018-03-13 16:35] louisemessage commented on #5135
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:35] #5135 closed

[2018-03-13 16:36] SeanPackham commented on #2404
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:36] #2404 closed

[2018-03-13 16:36] louisemessage commented on #5500
Nice suggestions but closing for now due to a lack of activity on this issue.

[2018-03-13 16:36] #5500 closed

[2018-03-13 16:36] louisemessage commented on #5584
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:36] #5584 closed

[2018-03-13 16:37] SeanPackham commented on #2197
I like the sound of it but think the audience is limited and the effort great.

[2018-03-13 16:37] #2197 closed

[2018-03-13 16:38] SeanPackham commented on #2405
Do we do this already? I know we have email replies.

[2018-03-13 16:38] #2405 closed

[2018-03-13 16:42] isabellarussell commented on #4001
I have tested this in 0.62 Cloud and it is still a problem. There is no new line for the link.
I also uncovered the same issue with the verification email.

[2018-03-13 16:44] MartinSchoeler commented on #4366
This would be a very nice feature, but unfortunately it does not align with our current roadmap, so it's likely that it would not be implemented in the near future. I will be closing this issue for now, if we plan to add a feature like this we will reopen this issue. Thanks for the valuable feedback!

[2018-03-13 16:44] SeanPackham commented on #4854
Building sentiment analysis for multiple languages or text involving emojis and short hands is challenging. Let's close this for now and revisit in the future if we ever wanted to try and prototype it.

[2018-03-13 16:44] #4854 closed

[2018-03-13 16:53] louisemessage commented on #279
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:53] #279 closed

[2018-03-13 16:54] louisemessage commented on #1779
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:54] #1779 closed

[2018-03-13 16:55] louisemessage commented on #3078
Issue that this post is based on (https://github.com/RocketChat/Rocket.Chat/issues/3008) has been closed.

[2018-03-13 16:55] #3078 closed

[2018-03-13 16:56] louisemessage commented on #1554
Not completed in https://github.com/RocketChat/Rocket.Chat/issues/933 so closing for now.

[2018-03-13 16:56] #1554 closed

[2018-03-13 16:57] louisemessage commented on #2349
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:57] #2349 closed

[2018-03-13 16:57] louisemessage commented on #2762
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:57] #2762 closed

[2018-03-13 16:57] louisemessage commented on #3295
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:57] #3295 closed

[2018-03-13 16:57] louisemessage commented on #3361
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:58] louisemessage commented on #308
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:58] #308 closed

[2018-03-13 16:59] louisemessage commented on #3880
Closing to clear the backlog, but we can re-open if we decide to start developing this.

[2018-03-13 16:59] #3880 closed

[2018-03-13 16:59] graywolf336 commented on #2877
Actually this feature has been added so should have been closed as "added": https://rocket.chat/docs/developer-guides/rest-api/rooms/upload/

[2018-03-13 16:59] louisemessage commented on #3880
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:59] louisemessage commented on #3748
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:59] #3748 closed

[2018-03-13 16:59] louisemessage commented on #3723
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 16:59] #3723 closed

[2018-03-13 17:00] louisemessage commented on #4303
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 17:00] #4303 closed

[2018-03-13 17:00] louisemessage commented on #4579
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 17:00] #4579 closed

[2018-03-13 17:01] louisemessage commented on #4612
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 17:01] #4612 closed

[2018-03-13 17:01] louisemessage commented on #4694
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 17:01] #4694 closed

[2018-03-13 17:02] louisemessage commented on #4977
Thank you for your suggestion. Closing this issue for the meantime as this feature is not on our short-term roadmap.

[2018-03-13 17:02] #4977 closed

[2018-03-13 17:04] #2891 closed

[2018-03-13 17:06] louisemessage commented on #2877
Thank you @graywolf336

[2018-03-13 17:54] pinguinpfleger opened #10126 "KaTeX parse error: Expected 'EOF'"
### Description:
Posting shell escape sequences brings a KaTeX parse error

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Debian GNU/Linux 9.4 (stretch)
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: ?
* DB Replicaset Oplog: ?
* Node Version: v8.8.1
* mongoDB Version: ?

### Steps to Reproduce:

Post something like
export

[2018-03-13 18:07] micw commented on #10114
@sampaiodiego The container dies immediately after the log line I copied. Maybe it's an issue with the existing data? As you can see, my installation reads some data while yours reads 0 records.
Any chance to enable some debug log for the docker version?

[2018-03-13 18:12] theorenck commented on #10111
Hi @propertunist, we aim to keep our Github issues for bugs and feature requests. It doesn't seems to fit that criteria. Please see our guidelines for support. If you feel like we are closing in error, please re-open and add additional details about the bug or feature request. Thank you!

[2018-03-13 18:12] #10111 closed

[2018-03-13 18:48] MartinSchoeler commented on #4070
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2018-03-13 18:48] #4070 closed

[2018-03-13 18:48] xenithorb commented on #3300
@tomneedham Not sure how to help you exactly, but I did want to remind the audience the original intent of this ticket was to be able to manually merge accounts as an administrator.

UserA mistakingly makes an account with one authentication method, then UserA starts using UserB due to another authentication method that identified them differently. Significant history on both accounts exists. What

[2018-03-13 18:48] thedonquixotic commented on #277
Hey what's the status of themes in Rocket Chat? I'm having trouble finding this information. I can see docs on how to develop themes, and I can see a section on changing the UI colors with CSS, but I don't see any good repo to actually browse themes or see what other people have done with the features. As someone who is tech savvy but not a full developer, having access to this information would b

[2018-03-13 18:59] shtefcs commented on #1307
@SeanPackham I think that you should def listen community more then you randomly adding new features. That mean you should have some voting system build for the features, so you can sort it out by priority and number of requests.

You didn't listen for community requests for many useful features which in same time was not to hard to develope or do it. Much easier then starting 3-4 different mobile

[2018-03-13 19:10] propertunist commented on #10111
@theorenck - how can i know if this is a bug or not? i am doing what i usually do to launch rocket.chat and it is failing. it certainly could be a misconfiguration on my part, but currently i have no clue what that could be. i have been running rocket.chat (using many versions) for quite a long time and never seen this before.

[2018-03-13 19:10] JohnnyKing94 commented on #4428
That's not excuse to close it... then all the more reason you should have it open cause it's still a possible feature... otherwise it will never be a feature even on the long-term roadmap as you closed it and intentionally abandoned it

[2018-03-13 19:41] winterstefan commented on #10062
Thank you very much for taking a deep look at this!

It was a bit tricky to describe the cause, but your explanation seems very applicable.

May I ask what kind of error message you got - was it the broken JSON?

[2018-03-13 19:52] pinguinpfleger commented on #10126
\\[\\\] KaTeX parse error: Unexpected character: '\' at position 1: \̲
\\[^\\] KaTeX parse error: Expected group after '^' at position 1: ^̲

[2018-03-13 19:52] alexweissman commented on #3782
It looks like there is now a generic [Import CSV](https://rocket.chat/docs/administrator-guides/import/csv/) feature, so theoretically I could scrape the Gitter API, parse it out into RC's required format, and then run the import tool.

[2018-03-13 19:56] Hudell commented on #10062
Most times there's no error shown, the server just stops working. With the debugger attached I get a SIGSEGV.

I tried to remove the script "cache", to make the app recompile the script with every call. This [change](https://github.com/Hudell/Rocket.Chat/tree/removing-script-cache) seems to have made the problem harder to occur, but it may be just a coincidence.

[2018-03-13 20:00] pinguinpfleger commented on #10126
oh it is a feature, not a bug ;)
https://khan.github.io/KaTeX/function-support.html
Ok but it also happens with ``` wrapped text

[2018-03-13 20:39] arthurgiustina commented on #9632
![user information](https://user-images.githubusercontent.com/30700871/37368573-6c3228a2-26e5-11e8-82c2-87569238502c.png)

@karlprieb check this idea =)

[2018-03-13 20:43] xenithorb commented on #9632
I really like that, including how the mute icon is clearer about its intentions. Well done.

[2018-03-13 21:44] theorenck commented on #10116
Hi @jshupptechnologies, we aim to keep our Github issues for bugs and feature requests. It doesn't seems to fit that criteria. Please see our guidelines for support. If you feel like we are closing in error, please re-open and add additional details about the bug or feature request. Thank you!

[2018-03-13 21:44] #10116 closed

[2018-03-13 21:48] theorenck commented on #10117
Hi @magicbelette, can you give us a little more context on the problem? Did it happens all the time? Did you tested it in any other browser?

[2018-03-13 21:58] theorenck commented on #10124
Thanks @louisemessage. @karlprieb could you confirm this as an unexpected behavior? Should we expect the file attachment to appear in the pinned message?

[2018-03-13 22:01] theorenck commented on #10125
Hi @cchbr thanks for let us know of this problem.

[2018-03-13 22:16] mrandrey opened #10129 "SyntaxError: Unexpected token ')' on line 4"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu 16
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1

### Steps to Reproduce:

1. Open Safari 9.1.2
2. Navigate to the chat URL

(Works fine on Chrome & Firefox).

### Expected behavior:

Login prompt

### Actual behavior:

Safari freezes, throws: Syntax

[2018-03-14 00:01] reetp commented on #9957
Think this seems to have been fixed with 0.62.1 #9989

[2018-03-14 01:02] MarkSupinski opened #10130 "Slack import not working"
### Description:

Slack import fails with error message "Invalid Import File type"

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1. Select Export from slack
2. select zip file t

[2018-03-14 01:18] propertunist commented on #10111
I started the install from scratch and got it working - i have no idea what the actual issue was originally.

[2018-03-14 04:09] timkinnane commented on #7125
I don't think this should be closed. Bots should not need an email, emailing them is just generating spam for notifications for their creators. There are some related discussions about how to create and manage bots and normal users separately, because bots don't need email validation or prompts to reset their password either. So it's not a default conclusion that bot fields are and always will be

[2018-03-14 04:11] timkinnane commented on #7125
Also related https://github.com/RocketChat/Rocket.Chat.Apps-ts-definition/issues/25

[2018-03-14 04:14] timkinnane commented on #7785
@soundstorm Bots actually do use a password to login, via Asteroid. There's currently no support for webhook or API based bots due to limitations in setting up message streams for them to read through those protocols. The email issue I think is valid though, but is more related to #7125, so I'm closing this one.

[2018-03-14 04:14] #7785 closed

[2018-03-14 04:24] h-town commented on #1340
rocketchat is a joke, as is the framework its built upon.  i've seen more stable development in copy-and-paste blockchain projects...and that ain't sayin' much.

[2018-03-14 05:41] vodkhang commented on #658
@MikeDaniel18 I also hate ReactJS, that's why I didn't choose Mattermost @geekgonecrazy any update?

[2018-03-14 06:07] timkinnane opened #10132 "@here autocomplete shows wrong list of users"
### Description:

Typing `@here` into message box brings up a tooltip that appears to give a random list of users, with the explanation "Notify active users in this room".

### Server Setup Information:

open.rocket.chat

### Steps to Reproduce:

Type @here into message box.

### Expected behavior:

Should see list of users that are active and in the room.

### Actual behavior:

See list of users

[2018-03-14 06:43] Dirk23 commented on #9498
I Updated my RC to 0.62.1 now and i still ":)" is not converted to a emoji. I need to put spaces before and after it like this " :) "

[2018-03-14 07:00] jdoose commented on #3947
No need to reopen, was fixed.
Works in 2.10.5

[2018-03-14 07:01] jdoose commented on #4150
I think this can be closed.
Works in 2.10.5

[2018-03-14 07:12] Dalben96 opened #10133 "Change Optionname "Leave Room" to "Leave Channel""
### Description:
I think there is some inconsistency about the terms "Channel" and "Room".
If you wanna create a new Channel. The Optionpane is called "Create a new Channel" but to leave a Channel you have to select "Leave Room".
I think this might confuse new users.

### Steps to Reproduce:

1. Select "Create Channel"
2. Try to leave Channel (and read "Leave Room")

### Expected behavior:

Uses j

[2018-03-14 07:26] stuartpb commented on #575
for posterity, the above issue was opened as #603

[2018-03-14 07:34] stuartpb commented on #1838
@SamSaffron Would you be able to point to the code one would borrow if they were inclined to reuse Discourse's work?

[2018-03-14 07:59] DanielRuf opened #10135 "pasting from Office / Word document throws error"
[code]
![bildschirmfoto 2018-03-14 um 07 47 50](https://user-images.githubusercontent.com/827205/37387899-9d3ee362-275e-11e8-85cc-4b84416e42d0.png)

![bildschirmfoto 2018-03-14 um 07 49 43](https://user-images.githubusercontent.com/827205/37387898-9d178b64-275e-11e8-9015-268fc346b95d.png)

https://github.com/RocketChat/Rocket.Chat/blob/7864f4e080cbb82d9f1ec88977100f3af4eb5eb8/packages/rocketchat-u

[2018-03-14 08:15] Otiel commented on #9498
I also still have the issue with 0.62.1.

[2018-03-14 08:42] bbrauns commented on #10114
hey there, I have a similar issue with docker image version rocket.chat:0.62.2 but not with rocket.chat:0.62.1. I saw that 0.62.1 uses Node v8.9.4 and 0.62.2 uses Node v8.10.0.

Before the container crashes I see the following message in syslog: `Mar 14 09:25:45 chat-stage kernel: [372226.247076] traps: node[61380] general protection ip:d8b6b7d5408 sp:7f8878702a18 error:0`.

Anyone knows how to fu

[2018-03-14 09:09] baynes commented on #2922
+1 from me. I am English (UK) but want 24 hour clock.

[2018-03-14 09:28] tkurz commented on #1615
Hi all!
As you can see I created a Pull reqeuest which allows to use either the current Mongo Search or an external Search Service based on Solr (which can be used either as Service or as on-site installation).
It is just a first test but I'd love to improve it based in your feedback!

[2018-03-14 09:30] TomaszDom commented on #6535
Any progress on this? I'm in the same boat.

[2018-03-14 09:46] magicbelette commented on #10117
Reproducible with FF 45.9, FF 52.6, most of the time this combination leads to hide top left icons :
- in a Channel like `#general`
- click `Search`, then `Directory`, then ` View mode`
- icons disappear

No problem with Chrome 64.

[2018-03-14 10:00] JSzaszvari commented on #4150
@jdoose just tested and this works .

Will close. Thanks

[2018-03-14 10:00] JSzaszvari commented on #4150
@rocket-cat close

[2018-03-14 10:00] #4150 closed

[2018-03-14 11:03] danieljhochman commented on #9785
@theorenck - this is approved for dev, right?

[2018-03-14 11:43] gcommit opened #10136 "Rocket.Chat just shows "whitepage" after Update to 0.62 on Safari"
### Description:

Rocket.Chat just shows whitepage after Update to 0.62 in Safari 10.1

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Operating System: Debian 8
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 3
* DB Replicaset Oplog: -
* NodeJS Version: 8.9.4 - x64
* mongoDB Version: 3.2.18
* Safari Version: 10.1

### Steps to Reproduce:

[2018-03-14 11:59] rlach commented on #9329
@robbyoconnor Yes, that's true. If you want those notifications you need to do a bit more:

[code]

Nonetheless, it's very hacky and I only see it as temporary workaround. It should be configurable from admin panel.

[2018-03-14 12:15] himbeere commented on #10136
Is there an apache oder nginx involved? Anything in the logs?

[2018-03-14 12:23] sampaiodiego commented on #10114
@bbrauns I've created a pull request https://github.com/RocketChat/Docker.Official.Image/pull/42 so official docker image will use 8.9.4 too..

in the meantime you can use our own image `rocketchat/rocket.chat:0.62.2` which is using node 8.9 and is working for @micw

[2018-03-14 12:25] SeanPackham commented on #8007
@jangmarker sorry if I misunderstood but it sounded like you were saying that now versification email is sent went it is turned off in the settings. Is this correct? If so this is the expected behaviour of the feature.

[2018-03-14 12:34] SeanPackham commented on #1307
@shtefcs I agree we want to have a better way of filtering feature requests, making them more visible and allowing people to upvote.

What do you think about discussing and upvoting feature requests on our https://forums.rocket.chat/c/feature-requests

[2018-03-14 12:35] kaiiiiiiiii opened #10137 "Browser should never auto-fill values when editing SMTP settings"
### Description:

We should not provide auto-fill values when editing SMTP settings.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Linux
* Browser: Chrome, Safari

### Steps to Reproduce:

1. Open Admin panel
2. Change to "Email" -> "SMTP"

### Expected behavior:

Browser should never auto-fill username and password for me.

### Actual behavior:

Brows

[2018-03-14 12:36] SeanPackham commented on #9898
@kaiiiiiiiii thank you for pointing out the open PR, I will reopen the issue.

[2018-03-14 12:39] SeanPackham commented on #9898
@Otiel what do you think of using https://forums.rocket.chat/c/feature-requests to discuss and upvote features?

[2018-03-14 12:40] SeanPackham commented on #31
Thanks @sampaiodiego, could we add some more detail to the issue saying it would be fixed when we move to React and mention a milestone?

[2018-03-14 12:40] robindijkhof commented on #9638
https://rocket.chat/docs/developer-guides/rest-api/users/updateownbasicinfo/

Was added is 0.62.2

[2018-03-14 12:41] sampaiodiego commented on #31
@karlprieb any plans to start rewriting the UI using React?

[2018-03-14 12:42] SeanPackham commented on #5341
@Igloczek @TwizzyDizzy I am sorry I thought you were referring to private channels when you mentioned "chat rooms" I tested on private direct messages and can confirm your finding that this is still an issue.

[2018-03-14 12:48] SeanPackham commented on #3211
@notnamed @mixrat thank you for clarifying I see how there is no easy way to do this at the admin level without every used individually configuring notification settings.

[2018-03-14 12:50] SeanPackham commented on #3081
Thank you @TheReal1604 that is a new issue! I will update the title and description and reopen it.

[2018-03-14 12:54] SeanPackham commented on #4782
@adilshoukat thank you for your follow up. I will take a look to see if any of these words are hardcoded in our code or the package.

[2018-03-14 13:05] cristiandley commented on #9635
Im using Custom OAuth and is not Logging me out from the app. If i click again on my login icon i enter without login promt.

[2018-03-14 13:18] Otiel commented on #9898
@SeanPackham I didn't know about the forums, I'll take my future feature requests there first. Thanks for the info! 👌

Maybe you should update the README to inform about the existence of these forums? Because the current README says:

[2018-03-14 13:20] SeanPackham commented on #4428
@JohnnyKing94 what are your thoughts about using the https://forums.rocket.chat/c/feature-requests to discuss and upvote features requests?

[2018-03-14 13:23] guidowojke opened #10140 "After Installing 0.62.* the chat server stops working with "Cannot find module './lib/less-node'""
### Description:

After following the installation instructions on
http://rocketchat.github.io/docs/installation/manual-installation/ubuntu/#install
with a chat version greater or equals version 0.62.0 the server did not start.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2 (also on 0.62.1 and 0.62.0)
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/t

[2018-03-14 13:29] gcommit commented on #10136
Hi,

there are no log entries. Since the page is "shown". The problem is, that the RC page, after the login, is outside of the monitor. I just can see, the last line of pixels at the top of my monitor, until i zoom in several times. But when i do, i cannot use it as well, because i can't see the chats or settings, just the tool bar on the left.

I do not use apache/nginx for this. I use the docker

[2018-03-14 13:41] gcommit commented on #10114
I have the same problem. It repeats over and over again the message

Will load cache for users
2 records load from users
Will load cache for rocketchat_room
1 records load from rocketchat_room
Will load cache for rocketchat_subscription
0 records load from rocketchat_subscription
Will load cache for rocketchat_settings
610 records load from rocketchat_settings
Updating process.env.MAIL_URL
Startin

[2018-03-14 13:42] SeanPackham commented on #9898
@Otiel thank you we will update the readme!

[2018-03-14 13:42] SeanPackham commented on #9898
@Otiel looking forward to discuss issue ideas with you on the forum :)

[2018-03-14 13:46] meteorplus commented on #1340
@h-town do you even know how to code bro?

You know how many features in RocketChat even Slack doesn't have?

Have ever deployed a RocketChat on prod Server?

[2018-03-14 13:50] theorenck commented on #10130
Hi @MarkSupinski, thank you for contributing but as @mikaelmello this issue duplicates #10050 and for that reason it will be closed. Make sure you to subscribe to #10050 notifications and don't loose any updates.

[2018-03-14 13:51] #10130 closed

[2018-03-14 14:15] karlprieb commented on #10124
The actual behavior is expected but we can change that if more people also think that the attachments should be visible on that system message.

What you @RocketChat/core think?

[2018-03-14 14:26] karlprieb commented on #9498
Can you send me the exactly message that you're trying to send?

[2018-03-14 14:29] Dirk23 commented on #9498
Yes it is just: `:)` wich is not converted

[2018-03-14 14:31] lichnosam commented on #988
I am against the introduction of this function

[2018-03-14 14:32] karlprieb commented on #31
We plan to start the rewriting in the next month, but can take months to finish that.

[2018-03-14 14:34] maxvisser commented on #10000
I suggest wait like 15 min before sending a mail and add every message missed as a digest.

[2018-03-14 14:35] karlprieb commented on #9498
Ok, but you really need to add the space after? I know that on the first line we have a bug that didn't render the emoji if you start with the emoji, so you need to add a space before, but after too?

[2018-03-14 14:36] Dirk23 commented on #9498
yes, if i only add one space (in front or after) it is not converted

[2018-03-14 15:05] adilshoukat commented on #4782
**Use Case 1:**
![screenshot_111](https://user-images.githubusercontent.com/1608798/37410474-8aeb01d2-27c2-11e8-883d-0bac09547358.png)

**Result:**
![screenshot_113](https://user-images.githubusercontent.com/1608798/37410500-99a25efa-27c2-11e8-8d2b-6e935f64dc38.png)
---------------

**Use Case 2:**
![screenshot_112](https://user-images.githubusercontent.com/1608798/37410532-a48df432-27c2-11e8-84f6

[2018-03-14 15:05] adilshoukat commented on #4782
@SeanPackham I hope the information in last comment will help you diagnose the problem.

[2018-03-14 15:49] craig commented on #2101
Also text/yaml and application/json would be helpful.

[2018-03-14 17:04] Drangleic opened #10142 "Mobile push notifications are no longer working"
### Description:

With default Push settings, mobile push notifications have stopped working for all of our users. By "stopped working", I mean that no one is receiving them, even when @ mentioned. In testing myself, I have enabled notifications for all messages on desktop and mobile, and it didn't fix the problem. This is especially odd since they were working last week.

I've tried toggling the

[2018-03-14 17:14] kkumaresan commented on #9100
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android. If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 🙂

[2018-03-14 17:15] kkumaresan commented on #5585
Hi, we at Mongrov have developed a react-native mobile client library for Rocket.Chat. Please check this url: https://github.com/mongrov/roverz . Works both on iOS and Android. If you get a chance, do check this project for a comprehensive native mobile app using Rocket.Chat. We welcome your feedback 🙂

[2018-03-14 18:02] c0dzilla commented on #9865
@karlprieb may I send a pr for this? :)

[2018-03-14 18:55] rodrigok commented on #9943
@reetp I was able to run RC in CentOS, I did a docker file here https://github.com/RocketChat/Docker.Base.Image/blob/centos6/tests/centos6/Dockerfile but I wasn't able to install chrome or make the tests run using firefox, that way we can't have an automation to test each release and I'm considering drop our official support for CentOS 6 unless you can help me to get the tests running.

Thanks

[2018-03-14 18:58] sampaiodiego commented on #10114
do you guys have enabled `oplog` (have replica set enabled on MongoDB and are setting the env var `MONGO_OPLOG_URL` to start up rocket.chat)?

I was able to reproduce the error using official Docker image without oplog enabled. it works fine with oplog enabled though (which is the recommended the setup)

[2018-03-14 19:12] micw commented on #10114
I have no oplog enabled and run a single node mongodb

[2018-03-14 19:25] sampaiodiego commented on #10114
@micw even on single node mongodb setup using replica set is recommended. you may have issues as your rocket.chat grow up

[2018-03-14 19:59] patcon commented on #2197
Oops. Forgot about this. It already exists and is a work in progress ;)

Here's our instance (code is opinionated due to architecture, so much fork):
http://github.com/edgi-govdata-archiving/matterbridge-heroku

And though not complete, there's a feature branch to auto-generate documentation like this:
https://edgi-matterbridge.herokuapp.com/#organizing-canada

[2018-03-14 20:03] ubarsaiyan opened #10143 "Numbering of"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-03-14 20:07] patcon commented on #2197
An alternative in case anyone comes across this thread later:
http://github.com/edgi-govdata-archiving/matterbridge-heroku

[2018-03-14 20:08] theorenck commented on #10133
Hi @Dalben96 thanks for bring it to our attention, I agree with you that it might cause some confusion and affects the product's consistency.

[2018-03-14 20:19] ricardojrgpimentel commented on #7507
Is there any fix for this yet? Any workaround?

[2018-03-14 20:22] theorenck commented on #10120
Hi @danpospisil thanks for reporting it to us. We will need to rely on @der-eismann's workaround for the time being. We are planning to have a definitive solution soon.

[2018-03-14 20:26] mrandrey commented on #10129
Also, it doesn't seem to be loading on Dolphin on iPad running iOS 10—I get a blank page. I don't have a JS console to see errors there, but I suspect it might be related.

[2018-03-14 20:52] mrandrey commented on #10129
This might be related to https://github.com/rauchg/slackin/issues/132

"It looks like it's caused by the new arrow syntax for anonymous functions:"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions#Browser_compatibility

... which would mean that a lot of browsers are locked out.

Just had a friend try it on his Android phone, and he also got a blank scree

[2018-03-14 22:46] rafaelks opened #10145 "[QUESTION] Why "commands.list" do not return command "/open"?"
### Description:

We're currently developing the commands feature in our new Android app, and we noticed that the command **open** is not being returned on the list of commands. Does someone knows why is that?

![screen shot 2018-03-14 at 19 45 46](https://user-images.githubusercontent.com/551004/37435006-543d897c-27c0-11e8-9d9c-eca2dbb8bd44.png)

### Server Setup Information:

* Version of Rocket

[2018-03-14 22:48] rafaelks commented on #7766
That won't be necessary anymore, the native apps won't be using the native SDKs for now and we don't have a plan to do that in near future.

[2018-03-14 22:48] #7766 closed

[2018-03-14 22:48] rafaelks commented on #7767
That won't be necessary anymore, the native apps won't be using the native SDKs for now and we don't have a plan to do that in near future.

[2018-03-14 22:48] #7767 closed

[2018-03-14 22:49] rafaelks commented on #7768
That won't be necessary anymore, the native apps won't be using the native SDKs for now and we don't have a plan to do that in near future.

[2018-03-14 22:49] #7768 closed

[2018-03-14 22:49] rafaelks commented on #6492
We can close this one. 👍

[2018-03-14 22:49] #6492 closed

[2018-03-14 22:50] rafaelks commented on #8930
Looks like this issue can be closed already.

[2018-03-14 22:50] #8930 closed

[2018-03-14 22:57] rafaelks commented on #7244
@danymanya I'm really sorry for the delay... is this issue still happening for you?

[2018-03-14 22:59] rafaelks commented on #7185
@hborisov1 You'll have to change your apps to register the push token to the logged in user using our REST APIs or our RealTime API. 👍

[2018-03-14 22:59] #7185 closed

[2018-03-14 23:01] rafaelks commented on #6820
Hello guys,

This can already be done on iOS and will be available very soon in Android as well, here's the documentation to do that: https://rocket.chat/docs/developer-guides/deeplink/#deeplink.

I'm closing the issue for now, but we can keep the discussion if you guys have any question.

Thank you!

[2018-03-14 23:01] #6820 closed

[2018-03-14 23:25] inksis opened #10146 "SAML No matching login attempt found after update 0.62.2"
### Description:

I've juste update my RC server 0.61.0 to 0.62.2 and now I can't login using SAML.
I have an error on the RC webpage : "No matching login attempt found"

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: disable
* Node Ve

[2018-03-15 03:22] fifou17 commented on #10069
@theorenck when i try to create an account using a username and name in arabic its gives me error and it doesnt show up and same for rooms name