[2017-03-05 13:06] antgel commented on #4345
Hi, six-month ping - any comments from the RC team? Should what I'm trying to do even work?

[2017-03-05 15:23] localguru opened #6254 "own camera is flipped"
Rocket.Chat Version: 0.52.0

The own camera ("you") is flipped. Why that?

![flipped](https://cloud.githubusercontent.com/assets/8544984/23588590/fc3646b4-01bf-11e7-80b8-2e472bacfa14.jpg)

Ciao!
Marcus

[2017-03-05 17:04] PacketPerception commented on #6238
Thanks for trying, but have tried clearing caches on all affected and non-affected browsers.

[2017-03-05 17:17] Sohalt opened #6255 "Login/Register buttons append text on state change."
I observed the bug in the official demo at https://demo.rocket.chat on 2017-03-05. I don't know the exact configuration for the demo on that day, but hope this info is enough to pin it down.
Rocket.Chat Version: 0.53.0
Running Instances: ?
DB Replicaset OpLog: ?
Node Version: ?

The big blue button (class="button primary login") on the login page doesn't properly update its text between the "LOGIN

[2017-03-05 19:07] mrsimpson commented on #5585
Having the same issue heee on iOS and the RC demo server: just updated the app in-app (five files were loaded).
Since then, I only get the blue screen with the three loading dots.

[2017-03-05 20:31] #6014 closed

[2017-03-05 21:06] rasos commented on #6250
Works here. We see the user names on our own Jitsi meet instance. Using a Jitsi meet nightly build from January 2017.

[2017-03-05 21:12] rasos commented on #5977
And the approving person(s) should get an e-mail notification as well. We should have an extra role "approve-users" for those users (which are in our case not the sysadmins).

[2017-03-05 23:20] shtefcs commented on #31
Honestly I am surprised that this is a still issue.

My RC instance freeze when I search for message and **jump to it** .

It past 2 years from the issue report, i think you should really work on that guys.

[2017-03-05 23:30] danPixl opened #6258 "Images don't appear on native Rocket.Chat android app; can't sign in on desktop app when server is a Sandstorm Grain"
Steps to reproduce:

1. Install Rocket.Chat in Sandstorm

2. Get a webkey from the Sandstorm Shell

3. cut/paste into native app

4. On Android, you can sign in, but no images appear. On the desktop app, it fails to sign in, displaying this message:

[code]

------

Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.4.7

[2017-03-06 01:58] 956237586 opened #6259 "CAS user attribute resolve problem"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog:Disabled
Node Version:v4.5.0

when use wordpress CAS plugin，CAS server response xml below if user not have fitstname and lastname：
<cas:serviceResponse xmlns:cas="http://www.yale.edu/tp/cas">
  <cas:authenticationSuccess>
  <cas:user>aaaaaaaaaaa</cas:user>
  <cas:attributes>
    <cas:first_name/>
    <cas:last_name/>
    <cas:dis

[2017-03-06 02:59] va6996 commented on #6229
@rasos , I am unable to reproduce the bug. I'm on 0.53-develop. When I click on reset password, it takes me to the login page. when I again click forgot password, I don't see any  duplicated button.

[2017-03-06 04:17] FrankFang commented on #3580
How did you solve this?

[2017-03-06 04:44] kasperrt commented on #3580
Added a check if the user object had the property userid. Since dataporten uses user.userid, instead of the usual user.id, it didn't see that the OAuth had gone through.

[2017-03-06 05:24] designgurudotorg commented on #6239
I agree that when it works JitsiMeet is pretty awesome @compuguy ...

[2017-03-06 05:27] designgurudotorg commented on #6250
Weird... not doing it for me... also have some strange problem which is printing an error on screen when more than 1 person is in a JitsiMeet video session!? (ref: https://github.com/jitsi/jitsi-meet/issues/1375 )

[2017-03-06 05:42] RichardFoxworthy opened #6260 "THe"
Rocket.Chat Version: 0.53
Running Instances: 1
DB Replicaset OpLog: false
Node Version: v4.7.3

Auto translate is awesome - https://github.com/RocketChat/Rocket.Chat/pull/6110 - but it would be even better if it was tied back to the My Account Language preference.

Seems intuitive to me that setting the Language pref should also set the destination language for the default translation setting, rig

[2017-03-06 06:20] nimetu commented on #6226
I'm pretty sure this is related to #6162

[2017-03-06 06:51] divesho opened #6261 "Bot access via LiveChat"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

I'm tring to integrate bot to rocketchat. Integration of bot with private channel, group is working. But my concern is how to integrate Bot with livechat. [for guest/anonymous login]. There is no api or method to integrate bot to live chat.

[2017-03-06 08:09] Michuelnik opened #6262 "Special input makes channel inaccessible"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabed
Node Version: v4.8.0

When entering ` ```a) ..``` ` in a channel, my client machine's fans spin up and short time later I get a warning about an unresponsive script from my browser.
Until that magic string is deleted manually from the mongo db, nobody can access the channel without running into the same effect.
Other cha

[2017-03-06 09:51] rajatkumarpati opened #6263 "Disable the option so that users cant be able to mention others"
Hi.

I want to know if there is any option to Disable the mentions option so that users cant be able to mention others.

Please help.

Rocket.Chat Version: 0.49.4
Running Instances: 1
DB Replicaset OpLog:
Node Version: v4.6.2

[2017-03-06 10:36] lucasvanhalst commented on #31
This should be top priority if you ask me... It becomes unusable after it has been open for a few hours.

[2017-03-06 11:10] MartinSchoeler commented on #6262
Confirmed on Demo server too.

[2017-03-06 12:58] localguru commented on #6262
can't reproduce that on 0.52.0

[2017-03-06 13:58] marceloschmidt commented on #5453
I wonder if we can't manually change that in the emojilist (while the official package doesn't implement)?

`var emojiList = JSON.parse(fs.readFileSync('emoji.json', 'utf-8'));`

then

`emojiList['thumbsup'].aliases.push('(Y)')` or something like that.

[2017-03-06 14:13] sebastientaggart commented on #2766
@pavankumarkatakam thanks for the reply!  I'm on latest Gitlab and latest RocketChat as well.  I must be screwing up the settings.  Are your settings the same as your screenshot above?

[2017-03-06 15:13] designgurudotorg commented on #6250
Just reinstalled my whole jitsimeet server from scratch to bug hunt this and still, I'm not seeing usernames passing into jitsimeet sessions within RocketChat...

[2017-03-06 15:13] tomse commented on #6210
got the same error.. following in case an answer appears :-)

[2017-03-06 17:22] krystalcode opened #6265 "Adding labels to messages"
Rocket.Chat Version: 0.53.0

Is it possible to label messages? I haven't found anything so far. That could be for example, when you click on the gear icon for configuring a message, you should get the ability to add a label to the specific message/post. You would then be able to filter a channel's messages with labels.

If it is not possible, I would be willing to develop a plugin that provides th

[2017-03-06 17:28] Nosferous commented on #6006
What is the likeliness this one will be fixed in version 0.54.0?
Originally it was milestoned for 0.52.0

My deployment is still halted due to this 1 issue.

thanks!

[2017-03-06 18:17] ragesoss commented on #6241
Unpaired parentheses in a multiline message are the only situation I've found that triggers the bug, but it happens with any regex that allows parentheses as far as I can tell.

[2017-03-06 18:17] designgurudotorg opened #6267 "Give guests access to specific channels"
Is it currently possible to allow guests to access a specific channel by opening up a public URL to it? Haven't seen a system setting anywhere to facilitate this and am looking for a way to open up RC to the public for specific conversations/channels for a limited amount of time (so you could toggle the public access permissions to a channel on or off say)

q./

[2017-03-06 19:03] johnlund commented on #747
Thanks Jim.

[2017-03-06 20:23] amenk commented on #6250
How is passing on the username supposed to work technically?

[2017-03-06 20:29] laggedHero commented on #6112
It is related to the new notification sounds ( `ding` and etc) but I cannot figure out what to do; it may be file corruption, no file at all, mp3 format errors, incorrect loading...

The error comes from chromium when it talks to some native lib

I tried to find out where it's loading

But, well... I failed

[2017-03-06 21:18] rawwerks commented on #6258
+1 that desktop client is **not** working with sandstorm.
this issue is hinted at by kenton here: https://github.com/RocketChat/Rocket.Chat/issues/1352

[2017-03-07 01:50] gdelavald commented on #2839
Hey, looking into this issue.
Would this be configured in a room-to-room base in the room notification settings? I didn't find any Push Notification specific field on the Account Settings.

[2017-03-07 02:04] thehutman opened #6270 "Clipboard Name to include date by default"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: no
Node Version: v4.7.3

A number of people have asked if the name for pasted items can include the date along with "Clipboard" by default.  Otherwise, the list of files attached can get a bit difficult to sort through by just seeing the name "Clipboard" for everything.

Suggestion:

![image](https://cloud.githubusercontent.com/

[2017-03-07 03:13] karlprieb commented on #2839
Hey @gdelavald I think it could be a user setting on "Account Settings" 👍

[2017-03-07 03:44] tablecell opened #6271 "how add custom chat command like /someaction params to trigger hobut script action"
Rocket.Chat Version: 0.41
Running Instances:
DB Replicaset OpLog:
Node Version: 4.5

I have a running  RocketChat  instance   and runing hubot  instance  both  deployed  ok

how integraite  RocketChat and   hobot together
for example
wher user input  "/someaction params"  then call a hubot script  and retrurn reply

follow the guide https://rocket.chat/docs/administrator-guides/hubot/#hubot
 docke

[2017-03-07 03:55] gdelavald commented on #6270
Hey, made a small change to support this, let me know what you guys think:

<img width="380" alt="screen shot 2017-03-07 at 12 49 57 am" src="https://cloud.githubusercontent.com/assets/6303966/23641065/227b1dde-02d0-11e7-85a1-32581e51d45c.png">
<img width="485" alt="screen shot 2017-03-07 at 12 49 02 am" src="https://cloud.githubusercontent.com/assets/6303966/23641066/227bf3ee-02d0-11e7-8015-e67f0

[2017-03-07 05:13] ajwittman commented on #5791
I am getting the same issue. Images won't go through RC to Slack or Slack to RC. No error showing on RC to Slack but on Slack to RC I get:

[code]

[2017-03-07 07:42] today4king commented on #3047
its really great if have this button

[2017-03-07 08:16] Dracozny commented on #216
A bit of profile snooping on my part. @cpitman  seemed to take a vacation at the beginning of the year.

[2017-03-07 10:30] xsoft opened #6273 ""http" missing from message"
Rocket.Chat Version:  0.53.0
Running Instances: 1
Node Version: v4.7.3

Message like:

[code]

sends:

[code]

Screen: http://imgur.com/a/cfj0D

Like HTTP is missing.
PS: Is also possible that quote (or any other punctuation) NOT resolve this url? (its kinda ugly when sending more URL)

[2017-03-07 10:52] whuber-work commented on #6216
figured it out: Identity Path has to point to: /userid

[2017-03-07 10:52] #6216 closed

[2017-03-07 11:14] gregharvey commented on #4897
I'm having exactly this issue on Debian 8.7 - package versions:

[code]

Rocket.Chat version is 0.52.0, avatar uploads using GridFS work just fine, file uploads don't work at all, stop at 0% uploading. Tried FileSystem, GridFS, turned off Protected mode as suggested in some related threads, all to no avail. File upload into a chat and microphone recordings simply do not work. I also don't get any

[2017-03-07 11:17] gregharvey commented on #4923
I'm having exactly this issue on Debian 8.7, not snap, manual install. I posted it in #4897 before I realised that's closed and probably won't be responded to. Package versions:

[code]

Rocket.Chat version is 0.52.0, avatar uploads using GridFS work just fine, file uploads don't work at all, stop at 0% uploading. Tried FileSystem, GridFS, turned off Protected mode as suggested in some related thr

[2017-03-07 11:17] gregharvey commented on #4897
Sorry, disregard, re-posted in *active* thread #4923.

[2017-03-07 11:59] xsoft commented on #1775
Is it possible to send http and https links that DONT get preview?
(yes I checked an open issue with /colapse /expand request for slack).

Just note that checking URL for TITLE actually OPENS that url.
Aka, you CANT send "delete links" or any other "perform action" links at rocket chat.
You can just make something like h**p or h**ps:// links. Its kinda .. awkward.

Idea:

http://secret.api/?delete

[2017-03-07 12:04] JulioFN commented on #5292
+1 on this!

[2017-03-07 12:56] thehutman commented on #6270
That looks great!  Mimics functionality that Slack has for this.

[2017-03-07 13:05] TwizzyDizzy commented on #6144
So might I summarize what has been said so far and seems to be agreed upon:

* We **do NOT** want passwords to be saved in MongoDB when LDAP is enabled (this might be made into an option in the backend, if not, it should be default)
** unless fallback-login is activated
** this means the passwords need to be erased (for LDAP-flagged accounts) on disabling fallback login and stored on next login, w

[2017-03-07 13:39] #6055 closed

[2017-03-07 14:45] designgurudotorg commented on #6250
Not sure @amenk but it works out of the box with RC and the default meet.jit.si implementation!

[2017-03-07 15:11] localguru commented on #6273
can confirm on  0.52.0

[2017-03-07 15:35] rasos commented on #6229
@va6996 the duplicated button is definitely reproducable on 0.52, I have the same issue on a test server as well as on production, both repeatedly updated since 0.36 or so. Will check again after our next upgrade cycle.

[2017-03-07 16:08] drickerusa opened #6275 "Room not found after changing room from private to public"
Rocket.Chat Version: 0.51.0
Running Instances: 10
DB Replicaset OpLog: Yes
Node Version: v4.6.2

Previously I had the same issue #5903 but after an upgrade the channel showed up.
It seems to be happening again when some users change their private room to a public channel then users are no longer able to get to them
The error is:
![image](https://cloud.githubusercontent.com/assets/21371983/23662964

[2017-03-07 16:27] gdelavald commented on #2839
If I add a new user setting for Global Push Notification, this would probably reflect in the whole process of sending notifications (same way email does, checking the global configs and then the room configs).
Also, would I need to create a new option on the Push Notifications for each channel, like the Audio/Email do ("Use Account Preference")?

[2017-03-07 16:46] gdelavald commented on #6273
Hey, I'm looking into this one.
Looks like the rocketchat-markdown interprets the http as the language and removes that from the string.

[2017-03-07 17:19] localguru commented on #6275
I had the "no channel ... was found" messages in to past too, but can't remember the circumstances as it was a test instance. I created a private channel (as normal user), put two other users into it and then changed the channel to public. I had no problems. After that I renamed the channel, also no problems. Version 0.52.0

[2017-03-07 17:29] drickerusa commented on #6275
Thanks @localguru I was playing with it a few minutes ago and was going through and restarting my instances one at a time. After these restarts completed I was able to see this channel again. Which actually makes me a little more wary of this situation since its possible that everything is not totally in sync. Not sure how I narrow down an RC instance to a problem like this. So this leaves me to b

[2017-03-07 20:22] rasos commented on #6265
This would be awesome and could be a "modern" way of threading messages. Let also users instantly create labels.  See also #5460 for a wireframe redesign, where this could be integrated.

[2017-03-07 20:27] rasos commented on #6229
Weird login button behaviour is duplicate of #6255 - see screencast https://vid.me/qUoP

[2017-03-07 21:59] Dracozny commented on #3919
I have the latest one installed and corrected the chrome extension key to reflect the new one but it still gives me the failed to share permission denied error

[2017-03-07 22:00] gdelavald commented on #2839
I guess not, looks like #4339 already solves my concerns.

[2017-03-07 22:02] Dracozny commented on #4630
perhaps an old bug? Linux mint with chrome gives the pop up just fine, although the extension gives a permission denied error after selecting what to share.

[2017-03-08 00:10] gdelavald commented on #6273
I would have to ask someone else about some logic in this feature, seems like when you are adding a multiline block it expects the first word to be the code language and then it automatically does highlighting for that. However, this was causing issues when pasting links directly into the blockquotes, since it would interpret `http` in front of the url as the language and remove that from the mess

[2017-03-08 00:35] tribjcrea opened #6281 "jitsi app not opening on ios"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog:
Node Version:
This is installed and running locally on CentOS 7.3.1611
When trying to start or join video chat on ios, the installed jitsi app doesn't launch and there is just a gray window. However when clicking on a shared video (jit.si) link it launches and works fine.

[2017-03-08 01:28] Dracozny commented on #6273
punctuation causes the issue on the demo server. That said the link will still resolve if preview is enabled

[2017-03-08 01:41] ledainam commented on #6190
i have same bug
they always said room isn't exist
![bug](https://cloud.githubusercontent.com/assets/25676833/23686274/15f744e6-03db-11e7-98a5-91ac5e06a9bf.png)

[2017-03-08 02:01] publicvirtualvoid commented on #4377
+∞ it's such a productivity killer

[2017-03-08 02:26] gdelavald commented on #2839
If I understand correctly the point of this ticket is to create something like this:

<img width="353" alt="avoid flood message" src="https://cloud.githubusercontent.com/assets/6303966/23687451/49932890-038d-11e7-8360-c1c3639f42e8.png">

This would be triggered whenever the user changed the Push Mobile and Email Notifications to something different than `nothing`/`disabled`, which would cause some

[2017-03-08 05:42] Julianoe opened #6284 "Rocket.chat not starting with server"
I used the troubleshooting section of the documentation and
`/usr/local/bin/docker-compose up`
works very well. The server is up and running. But if i exit the terminal in which i executed this command (via SSH), it will stop. The rocket  does not start when i reboot the server... What should i do ?

Rocket.Chat Version: 0.53
Running Instances: 1
DB Replicaset OpLog: Disabled (?)
Node Version: v4.

[2017-03-08 05:53] k0nsl commented on #6284
You are probably experiencing the same issue I had and which would happen at random. I simply added `restart: always`.

[2017-03-08 07:08] dopykuh opened #6286 "Collapseable snippets (+ large messages)"
Rocket.Chat Version: latest <Docker>
Running Instances: single

It would be nice to get the ability to collapse snippets. Possibly also large messages.

[2017-03-08 07:28] imtrobin commented on #6128
Reported in Electron issue

https://github.com/RocketChat/Rocket.Chat.Electron/issues/386

[2017-03-08 07:28] #6128 closed

[2017-03-08 07:46] coderbaicai opened #6287 "CAS how to logout?"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: enabled
Node Version: 4.7.3

when using CAS login Rocket.Chat, I login use user1, and then logout .
And then I click CAS login again, user1 doesn't logout.
how do i logout when using CAS login?

[2017-03-08 08:43] shaharido1 opened #6288 "no such package "rocketchat:webrtc-ib""
Hey,

In the docs you mention as first step to install the package "rocketchat:webrtc-ic", but it's missing in your repo. https://rocket.chat/docs/user-guides/remote-video-monitoring/

I'm trying to configure the video motoring - what's the alternative?

[2017-03-08 10:06] corecache commented on #6226
Users authenticated thru CAS SSO auth module stumble upon the same error. The problem lies withing the 'users.services.password' fields not beeing set or set to something empty.

I've come up with a local workaround for my local RC instance, but I think it's bad style for the CAS SSO auth module to take care of other services realm (password), hence the code can only be found here and not in some

[2017-03-08 10:15] corecache commented on #6162
Some profiles - like authenticated through external SSO providers - don't even have a password set. So verifying for currentPassword makes no sense for passwordless logins.

[2017-03-08 10:37] corecache commented on #6287
The /logout of Rocket.Chat terminats the session within Rocket.Chat and NOT the session with your SSO login provider. The reason for this is that if you have a SSO session witha central SSO provider and you log out of one application, would log you out of all applications.

[2017-03-08 10:43] n30ngruu3n commented on #5797
Persistent problem even in RC 0.53.0 with german language setting and the same errors in log..

[2017-03-08 10:49] corecache commented on #6259
Can you post all of your CAS attribute-handling settings please?

[2017-03-08 11:05] billtt opened #6289 "Server cache consistency problem"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: true
Node Version: 4.5.0

Recently we've run into a problem with the consistency of server cache and db. One of the users suddenly couldn't see messages in a channel one day, and reloading (client) didn't solve the problem. I (as the owner of the channel) tried to remove him from the channel, but failed (it prompted the use is n

[2017-03-08 11:24] rbprado commented on #5453
Yes, sure! It would perfectly insert the (Y) to the emojiList['thumbsup']['aliases'] key. But I was afraid about hardcoding it right after reading the emoji.json. I dunno but I assumed that it would not be desirable.

I also tried to build and run the app with this fix, following [this issue comment](https://github.com/RocketChat/Rocket.Chat/issues/4908#issuecomment-259613358) and while running th

[2017-03-08 11:33] lashae opened #6290 "IOS Unread Counter Badge Doesn't Decrement"
Rocket.Chat Version: 0.51.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.7.1

We are using rocket.chat as a hosted instance via our alias on rochet.chat domain. On IOS, unread count never syncs with server to decrease the counter. When a new message arrives it is incremented, I read the message on my desktop but IOS app badge still remains at "1"; even after tens of hours.

[2017-03-08 11:54] FibreFoX commented on #5453
It is already possible to have custom emojis, why not creating a default-conversion-map which is configurable via global admin-mask? And making it enabled/disabled per user-basis ;) don't be annoying

[2017-03-08 13:01] Julianoe commented on #6284
@k0nsl ok but where should i add that ?

[2017-03-08 14:05] ulope commented on #2857
Just FYI: This can be solved even easier with the `guest` role (which might not have existed when this issue was created). Guests can by default only view rooms they have been invited to.

[2017-03-08 14:09] hollowisation commented on #5020
What happened to this feature? I need it too.

[2017-03-08 14:14] tribjcrea commented on #6281
It also works fine on demo.rocket.chat
Just trying to find out if we're missing some config somewhere.

[2017-03-08 14:15] k0nsl commented on #6284
@Julianoe: You add it to your `docker-compose.yml` file, specifically for the chat container but you could add it to both containers as well.

[2017-03-08 14:21] Abi-Abhisek commented on #5453
@FibreFoX I am willing to solve this issue. I have gone through the packages of emoji, emoji-custom, emoji-emojione. till now i have deciphered that what emoji-custom ,  emoji-emojione does. But Does the emoji package was created to build to provide the user to choose an emoticon ??

[2017-03-08 14:38] jsumners opened #6293 "Disable "rocket.cat""
How do you disable this "rocket.cat" thing?

[2017-03-08 14:38] nmolinski commented on #1848
Really hoping this gets fixed soon as it prevents RocketChat from being used for commercial use. Can't have guests access the chat page.

[2017-03-08 14:52] Julianoe commented on #6284
`db:
  image: mongo
  volumes:
    - ./data/runtime/db:/data/db
    - ./data/dump:/dump
  command: mongod --smallfiles

rocketchat:
  image: rocketchat/rocket.chat:latest
  environment:
    - MONGO_URL=mongodb://db:27017/rocketchat
    - ROOT_URL=https://mychaturl.fr
    - Accounts_UseDNSDomainCheck=True
  links:
    - db:db
  ports:
    - 3000:3000

hubot:
  restart:always
  image: rocketchat/hub

[2017-03-08 15:06] 956237586 commented on #6259
https://github.com/goblindegook/wp-cas-server/pull/17/files
I already change my cas server plugin code in wordpress to prevent this bug. you can test with this plugin in wordpress and just set username and email when you signup in wordpress.

[2017-03-08 15:12] k0nsl commented on #6284
You put it in the `hubot` section: put it in the `rocketchat` section instead.

My `docker-compose.yml` looks like this:
[code]

[2017-03-08 15:17] nmolinski opened #6294 "Wipe all LiveChat history"
Rocket.Chat Version: 0.53
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3

Upon switching the Guest Counter from 6 to 1, RocketChat holds the references to all of its previously conducted chats and doesn't allow them to be overwritten. Now new livechats created are not able to be viewed because when clicking on them, it redirects to the older livechat at that id number.

i.e

[2017-03-08 15:19] rockneverdies55 commented on #3919
@Dracozny - what happens if you visit jitsi-meet page directly: https://meet.jit.si ? If you create a test room in there can you use screensharing feature?

[2017-03-08 15:20] Dracozny commented on #3919
Yes, I can use meet.jit.si directly without any issues.

On Wed, Mar 8, 2017 at 7:19 AM, rockneverdies55 <notifications@github.com>
wrote:

[2017-03-08 15:35] danpospisil commented on #6115
So .. there is an update workaround without the need of older server:
1) Install Franz and quit it (ot just quit if you have it installed).

2) Open services.json file (in %USERPROFILE%\AppData\Roaming\Franz\settings) and change it to following (don't forget to change ( "team": "https://URL_HERE") (still I have no idea what the field "id" does, but it works):
[code]
(if you already have some servi

[2017-03-08 15:39] billtt commented on #6289
The problem went away after I restarted the server. But I'm afraid it my imply something more serious hidden somewhere.

[2017-03-08 15:49] Julianoe commented on #6284
Thanks for your answer and help !

I edited the file and did the `reboot` command on my server to test it but it still does not restart.
It still works when i do the following command though

[code]

I modified my .ylm and put restart: always in the rocketchat section as you recommended

[code]
Do you have any other idea of what i could do to make it run in the background without having to execute

[2017-03-08 16:00] FibreFoX commented on #5453
Don't know about the package itself, but it I have an area for custom emojis inside the administration ;) so I guess it was might not be created in that fashion, but the RocketChat interfaces say so.

[2017-03-08 16:09] k0nsl commented on #6284
Try doing `docker-compose up -d rocketchat`.

[2017-03-08 16:13] #6270 closed

[2017-03-08 16:56] BenoitLondon commented on #255
+1

[2017-03-08 17:39] cpitman commented on #6115
This is an issue with how Franz validates the URL. I've submitted a patch to fix this in https://github.com/meetfranz/plugins/pull/231

[2017-03-08 18:05] TheReal1604 commented on #6112
@laggedHero Is there a workaround to disable the loading of this files or changing the files myself?

[2017-03-08 18:07] danpospisil commented on #6112
@TheReal1604 By now I am affraid that the workaround is called Slack because I dont see any effort from the developpers to solve this...

[2017-03-08 18:12] sandrabordini2 commented on #3625
![direct-1](https://cloud.githubusercontent.com/assets/20732772/23717107/531abdea-0411-11e7-9698-a8b814c47c9c.png)
![direct-2](https://cloud.githubusercontent.com/assets/20732772/23717109/53524b48-0411-11e7-853e-33e3c9bcc023.png)
![general-1](https://cloud.githubusercontent.com/assets/20732772/23717108/5342ec5c-0411-11e7-82cf-461f45fe7233.png)
![general-2](https://cloud.githubusercontent.com/asset

[2017-03-08 18:24] laggedHero commented on #6112
Hi all,

Sorry if I'm not a JS/HTML/CSS guy and that I have no prior experience with Cordova apps and its details.

We know that this bug is really annoying and we are working on it. I'd love to give a deadline but that I cannot do.

We'll fix this. For real. We just need some extra time.

[2017-03-08 18:29] luckofthelefty commented on #6061
Sorry for the delay, I'm actually just asking where the api is stored on a linux install so I can update with my code. I initially wrote this in a docker image, but that was just for demo purposes and when our IT team took over, they moved it to a standard linux install.

[2017-03-08 18:35] luckofthelefty opened #6296 "Question: Rest API endpoints for User/update/status"
Rocket.Chat Version: 0.48.2
Running Instances: 4
Node Version: v4.5.0

Is there a way to update the user status (Online,Away,Busy,Invisible) with an API call? I'm working on a hubot script for people to be able to set a status with a message. It would be nice if I could have my bot also change the users actual status.

Thanks

[2017-03-08 18:42] joshstrom commented on #3625
@sandrabordini2 - I love these!

Personally, I prefer your first example:
- While the "dots" in the second example _are_ different, it is not immediately obvious what the symbol in the middle means (does the "v" mean visible, or is it just the down-arrow symbol). You would probably have to have other documentation as to what the symbol means.
- The words would probably be easier to localize to oth

[2017-03-08 18:57] #5104 closed

[2017-03-08 18:57] #5825 closed

[2017-03-08 19:52] luckofthelefty commented on #6296
Disregard, I found it in the realtime-API

[2017-03-08 19:52] #6296 closed

[2017-03-08 20:02] LongShanksBraveHeartKiller commented on #5999
Also having this issue. Notification duration appears to do nothing global or user over ride. Same for both chrome and the stand-alone client. Can someone shed some light on this? Both client and server are on latest version.

[2017-03-08 20:26] ggazzo commented on #1721
@RocketChat/core the problem still persists on ```history/private``` but the link doesn't exist anymore.
What should I do? Fix the problem? delete the route?

[2017-03-08 21:04] karlprieb commented on #3625
Hi guys, we are working on those different color and forms to improve accessibility on our [UX Review](https://github.com/RocketChat/Rocket.Chat/projects/4) :)

We are still discussing about that, but we already has a preview.
Take a look
![image](https://cloud.githubusercontent.com/assets/9200155/23723733/13ce3528-0429-11e7-843d-78065422eecd.png)

What you guys think?

[2017-03-08 21:14] #5033 closed

[2017-03-08 21:50] DaBlitzStein commented on #2089
Looks that again is happenning:
`ception in delivering result of invoking 'loadHistory': TypeError: Cannot read property 'length' of undefined
    at https://host:443/livechat/livechat.js?_dc=3c6f71b5e881cca916b5b2b852579629c5c69b01:157:9742
    at c._callback (https://host:443/livechat/livechat.js?_dc=3c6f71b5e881cca916b5b2b852579629c5c69b01:3:7449)
    at c._maybeInvokeCallback (https://host:443

[2017-03-08 21:53] DaBlitzStein commented on #1848
This is not fixed as today and that make it unusable for us.

[2017-03-08 22:54] engelgabriel opened #6300 "TypeError: Cannot read property 'autoTranslate' of undefined"
![image](https://cloud.githubusercontent.com/assets/1000217/23727913/e826418c-040e-11e7-96cc-3c24f89ebddc.png)

[2017-03-09 01:09] #6112 closed

[2017-03-09 01:11] #5297 closed

[2017-03-09 02:53] thehutman opened #6302 "post-readonly permission doesn't seem to work for anyone but an admin"
Rocket.Chat Version: 0.53
Running Instances: 1
DB Replicaset OpLog: no
Node Version: v4.7.3

We have a need for a few read-only channels that a lot of people are members of, but only a few can write to.  However, it appears the only user that is allowed to post messages to the channel is an Admin.  Moderators and owners with the post-readonly permission do not have rights to post.

Anyone with "po

[2017-03-09 03:10] coderbaicai commented on #6287
OK, i got it.
Thanks.

[2017-03-09 03:10] #6287 closed

[2017-03-09 06:32] kristinahaendel opened #6303 "Automatically remove channels when owner deletes his account"
Rocket.Chat Version: 4.4.0-31-generic
Running Instances: 1
DB Replicaset OpLog:
Node Version:4.7.3

How can I automatically remove a channel when owner deletes his account?
We are just testing the system and when users leave the system, their channels stay there orphanned and only admin can delete these channels.

[2017-03-09 08:47] DalePayman commented on #6303
+1
Or Archive them - respectively send the content via Mail to the Chat-Admin

[2017-03-09 08:47] DalePayman commented on #6293
In Admin - Internal Hubot - disable.

[2017-03-09 08:53] guoxiangke commented on #5716
@rapcal  how config nginx? I use https://cloudron.io/ thanks

[2017-03-09 09:00] gregharvey commented on #2804
My 2-cents, I had to Google to find this setting - I assumed it didn't exist because I couldn't see it anywhere, mainly because "form-based" didn't mean anything to me. :-)

So +1  for a minor wording change - my suggestion would be:

"Enable Rocket.Chat default login form"

That's really clear, no way anyone can possibly not understand what it means. Happy to make a PR if it will help?

[2017-03-09 09:08] gregharvey commented on #2804
Did it anyway. You can reject it if you disagree. :-)

[2017-03-09 09:11] pizzarabe commented on #6303
If somebody got the time, I bet you can write a simple python script to do that.

https://rocket.chat/docs/developer-guides/rest-api/groups/list
https://rocket.chat/docs/developer-guides/rest-api/groups/archive
https://rocket.chat/docs/developer-guides/rest-api/groups/close

[2017-03-09 09:15] rasos commented on #5764
User list needed for:
1. inviting someone for private chat
2. adding someone to chat group
3. managing users (e.g. check, if a user already registered)
Ideally we have a role "list-users". Task 3 is not necessarily done by the admin, but a secretary, who takes care of the onboarding.
For an organization or company, it would be normal that all logged in users can see others.

[2017-03-09 09:21] rasos commented on #3499
See the more detailed specs at #5764 - add a role "list-users".

[2017-03-09 09:42] corecache commented on #2804
I wouldn't even call it "Rocket.Chat login form" - I guess the correct term would be "Password login form" since the internal service is also called "services.password"

[2017-03-09 09:55] Julianoe commented on #6284
Hi ! It worked !
Well at first it did not but i figured by doing `docker ps -a` that one service of the three was not running.
So i ran `docker-compose up -d hubot` and now it is working as intended !

Just so i can understand it well, what does the `-d rocketchat` do ?

Anyway thanks for the help @k0nsl ! You rock !

[2017-03-09 10:26] Darlelet commented on #4571
Would definitely be useful to save storage space.

[2017-03-09 12:10] alexbrazier opened #6305 "Allow emoji in channel topic"
Rocket.Chat Version: 0.53.0

When setting a topic to `:thumbsup:` it should convert it into emoji, rather that just showing `:thumbsup:` in the channel topic.

[2017-03-09 12:24] thehutman commented on #6302
Ok, found a way around it for now.  A bit confusing, might be related to how its implemented.  It appears that when read-only is enabled, users are muted by default.  You can UNMUTE a user in the channel, which then gives them the ability to write into the channel.

If you toggle the read-only status, then the user is re-muted.

Seems non-intuitive, but at least we can work around it.

[2017-03-09 13:03] jsumners commented on #6293
Thank you. That wasn't at all obvious and I couldn't find any documentation on the feature what-so-ever.

[2017-03-09 13:03] #6293 closed

[2017-03-09 15:42] cescgie commented on #5878
Thank you for all your responses.
I have version 0.53.0 now and it seems work, but...

i have tried couple times but i still don't get an email even i got above message

[2017-03-09 16:27] Adirio commented on #5009
I would add user information to the message history and configuration. This would not only allow to backup the chat, but also to make the data auditable when evidencies need to be given to a certain authority.

[2017-03-09 16:32] Valiantiam commented on #6178
I also have this issue exactly. My examples are the same. Version: 0.52.0 & Node Version: 4.5.0

[2017-03-09 16:40] localguru opened #6306 "SAML configuration questions. Missing documentation."
Rocket.Chat Version: 0.52.0

Hi,

I'm trying to get SAML authentication working with our University's shibboleth. I'm not sure about the meaning of some fields in Rocket.Chat SAML configuration and can't find any documentation. Could someone explain the fields to me in a few words please. If I get it working I'll write it down for documentation on https://rocket.chat/docs/administrator-guides/auth

[2017-03-09 16:48] karlprieb commented on #6273
Hey @gdelavald I agree with you. You can finish your fix :)

[2017-03-09 19:01] Dracozny commented on #6303
Suggestion: delete channel if it's empty. Some channels may be popular and should be given the chance to be given new ownership.

[2017-03-09 19:07] mddvul22 commented on #6151
Maybe I should open a bug request on this.  I don't know if this is related, or not.  We are running 0.53.  When we upload an image over an OTR session, nothing is shown to the other user, not even a text link.  In fact, the person doing the uploading doesn't see the uploaded image, either.  And then, to complicate things, if the person opens another RC client (perhaps in a different browser, or o

[2017-03-09 19:33] ggazzo commented on #6162
fixed here #6307  :)

[2017-03-09 19:56] k0nsl commented on #6284
The `d` flag means that it will run the container daemonized, in the background -- or as it says in the man page:

I'm glad I could be of help. I had some similar issues when I started with Docker, so you're not alone ;)

[2017-03-09 21:28] Plup-io commented on #2593
Is this the right place to propose a different sound for the @all notification as well ?

Just to know if somebody needs you now or if it's just a guy talking to the world about its last great idea (you can check that later).

[2017-03-10 00:17] WebSavvyGuy opened #6310 "How to have custom work done?"
Hi

Sorry if this is the wrong place to put this but we are looking for some custom work on this chat software to implement in our website.

Tried to use their contact page but no reply for a few days.

Can anyone help?

[2017-03-10 00:31] Dracozny commented on #6310
They take a few days to get to people, It took them about 5 to get back to me about white labeling.

[2017-03-10 02:05] gdelavald opened #6311 "Multiline block doesn't trigger when inline"
Rocket.Chat Version: 0.53.0

Issue:
![image](https://cloud.githubusercontent.com/assets/6303966/23778897/df14ff58-051b-11e7-8693-34c738552473.png)

Looking at the regex for the blockquotes I know this is intended, but I really think it would be an improvement to have the inline block being parsed as well.
It would work like this:
![image](https://cloud.githubusercontent.com/assets/6303966/23779057

[2017-03-10 03:42] lukerohde commented on #1112
Please don't implement threads.  Slack's threads suck.  I'm pretty sure the obsession with threads is a false consciousness.  However you implement threads, half of the people who wanted it will hate it.

[2017-03-10 04:25] Julianoe opened #6312 "SMTP not sending mail nor returning error"
Although I tried to read all the SMTP configuration linked issues here i face always the same problem : when i test my mail sending in Administration, it works well and returns "mail sent", but i never receive the test mail and also i can't figure any error linked to mails in the logs.
I tried rebooting the server etc but it's always the same problem.

What should be my course of action to at leas

[2017-03-10 07:02] kristinahaendel commented on #6303
But in private channels, when owner has left the system, nobody of the other users is able to take over the ownership I think? Not used channels on our system are deleted automatically anyway.

[2017-03-10 07:48] Dracozny commented on #6303
Private channels should still be able to be taken over by other users on an account deletion event IMO.

[2017-03-10 07:54] Dracozny commented on #1112
If it were implemented I think it should be done as an optional component. Not every group needs this but it's a nice to have for development groups. I might suggest this down to a channel level option, not just an administrator level one.

[2017-03-10 08:08] kristinahaendel commented on #6303
We just tested it. when owner leaves the system, no other user in private room is able to take ownership.

[2017-03-10 08:16] Dracozny commented on #6303
@kristinahaendel I'm not saying that that's how it works currently. I'm suggesting that's how it should be implemented.

[2017-03-10 08:55] kristinahaendel commented on #6303
OK, missunderstanding. We all would like the same improvement :-)

[2017-03-10 10:39] rajitgarg2 opened #6313 "Getting Syntax errors while IPhone built of Rocket chat project using xcode"
Hello,

I am using Rocket Chat project and trying to build its Iphone app on my mac mini version 10.11.5 (15F34) with Xcode Version 7.3.1 (7D1014), but my build is failing and giving me Syntax errors. I have attached the screenshots as below:-

![image](https://cloud.githubusercontent.com/assets/19546825/23792030/56f37d80-05ab-11e7-8b28-1673422c5190.png)

![image](https://cloud.githubusercontent.c

[2017-03-10 10:48] rajitgarg2 opened #6314 "Only logo/white screen is showing from Android app of Rocket chat project"
Hello,

I am using Rocket Chat project and created android apk, but now when i am opening this app, it stucks at default meteor logo and nothing else show, if i go to back then only complete white screen is showing .I am using mac mini of version 10.11.5 (15F34) to generate apk.

please help me to come out of this, Thanks a lot in advance...

Rocket.Chat Version: 0.53.0
Running Instances: 1
Node V

[2017-03-10 11:39] KptnKMan commented on #1112
@lukerohde Really if you have nothing useful to contribute, just stay out. This is clearly a thread promoting **implementing** thread functionality.

@everyone else, please don't feed trolls.

[2017-03-10 12:23] hughlroberts commented on #6302
Yeah, having this issue too. Would love if it was fixed, it's a bit annoying 👍

[2017-03-10 12:54] hughlroberts commented on #6302
Having a similar issue with "Allowing Reactions" in read-only channels. I used the un-mute option but really need to allow my muted users to react in the private group.

[2017-03-10 13:43] willihelm opened #6315 "cant see highlighted name in search"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0

I cant see the user- or channel-name when searching. The names appear but the font of the highlighted name turns grey so you cant see it on the background.
![rocket chat](https://cloud.githubusercontent.com/assets/16389803/23797341/b01a9b8e-059f-11e7-8d07-27be61734684.png)

[2017-03-10 14:09] localguru opened #6317 "SAML problems. Testing SAML with Shibboleth (testshib.org): Required NameID format not supported"
Rocket.Chat Version: 0.52.0

I'm trying to test RC with SAML and testshib.org. To understand the SAML config fields this was a big help:

https://github.com/RocketChat/Rocket.Chat.Docs/pull/232/files

My SAML Config looks like this:

Custom Provider: schoppa-rocketchat
Custom Entry Point: https://idp.testshib.org/idp/profile/SAML2/POST/SSO
IDP SLO Redirect URL: https://www.testshib.org/Shibboleth.

[2017-03-10 14:12] Seferi opened #6318 "sudo rocketchat-server.initcaddy doesn't work (Nextcloud Box)"
Hi, I just installed rocket.chat on my nextcloud box and i'm trying to enable ssl  as described on this page:
https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/autossl

and getting command not found error: sudo: rocketchat-server.initcaddy: command not found

I appreciate if someone could help. Thanks.

Rocket.Chat Version: 0.39.0
Running Instances: 1
DB Replicaset OpLog:
Node

[2017-03-10 15:21] localguru commented on #6317
Hi,

I did post cert and key without leading and ending to the fields "Public cert contents" and "Private key contents":

-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----

-----BEGIN PRIVATE KEY-----
-----END PRIVATE KEY-----

Authentication with testshib.org is still not working, but this timeout error is gone.

Could be mentioned in https://github.com/RocketChat/Rocket.Chat.Docs/pull/232

A

[2017-03-10 16:55] localguru commented on #6317
I did some search on the "Get a "Error Message: Error decoding authentication request message" error.

The debug log at testshib.org says:

10:53:39.552 - DEBUG [edu.internet2.middleware.shibboleth.idp.profile.saml2.SSOProfileHandler:366] - Decoding message with decoder binding 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST'
10:53:39.552 - WARN [edu.internet2.middleware.shibboleth.idp.profile.sam

[2017-03-10 17:34] Nemra1 commented on #6310
contact me and watch this video about my last custom work
https://files.fm/u/3dbd8sjh#/view/Video_2017-03-10_190039.wmv;play

[2017-03-10 17:44] WebSavvyGuy commented on #6310
We are looking for some added features.  Similar to those found in the old 123flashchat software that is now no longer supported, but some of you may remember.

[2017-03-10 17:49] Nemra1 commented on #6310
im comming from 123flashchat last version 10 and im done from him...many bugs and support is endded from 2010 so im start with rc system alone.. wellcome to party if u want to help !!

[2017-03-10 17:50] WebSavvyGuy commented on #6310
@Nemra1 Hi.  Please give me your Skype contact.  I do not know how else to contact you.

[2017-03-10 17:52] Nemra1 commented on #6310
odratop10 @skype

[2017-03-10 17:57] WebSavvyGuy commented on #6310
@Nemra1  Thanks added you.

If anyone else can offer custom services please let me know.

[2017-03-10 19:03] #6300 closed

[2017-03-10 21:02] Rohlik commented on #6306
Some info about SAML - https://github.com/RocketChat/Rocket.Chat.Docs/pull/232

[2017-03-10 21:31] lukerohde commented on #1112
Yep I was trolling. Sorry. We want to move off slack on to Rocket.Chat so we can roll out chat more broadly. The only thing holding us up are a few of us who think we need threads.  I don't agree as we've found slacks threads really interrupt conversation and make things hard to follow. It's frustrating.

The consensus amongst the thread lovers is flowdock's approach is the way to go. But this is

[2017-03-10 22:51] k0nsl opened #6322 "Previews doesn't work for (custom) S3"
Rocket.Chat Version: 0.53.0

**Scenario:** somebody uploads a photograph, doesn't matter what extension, but let's say it is a `PNG`, and the preview isn't available until the message has been edited. I discovered this the other day but didn't think much of it because I was just so tired and didn't pay much attention.
However, now that I tested it again I had to report it even though it is an incr

[2017-03-10 23:11] TheReal1604 commented on #6322
@k0nsl i run a minio docker container on a vps and this works like a charm with my rocket.chat setup. No preview issues.

[2017-03-10 23:25] #5535 closed

[2017-03-10 23:32] #6226 closed

[2017-03-11 02:03] imsamthomas commented on #5996
Hi @MartinSchoeler ,

How to resolve this permission issue?

Regards,
Sam

[2017-03-11 02:41] imtrobin commented on #6143
Not sure if this is related, but this is from my log from Admin View Logs

Will load cache for rocketchat_subscription
[34mI20170311-02:25:05.981(0) 632 records load from rocketchat_subscription
[34mI20170311-02:25:05.982(0) Will load cache for rocketchat_settings
[34mI20170311-02:25:06.016(0) 458 records load from rocketchat_settings
[34mI20170311-02:25:07.565(0) Updating process.env.MAIL_URL

[2017-03-11 03:58] sacOO7 opened #6323 "what is the website end-point for realtime communication?"
You have provided websocket enpoint as demo.rocket.chat in realtime API docs. But it doesn't seem to be working. Which end-point should I use for communication?

[2017-03-11 04:30] uvatbc opened #6324 "List of all RocketChat community rooms on the rocketchat.com landing page"
There's no easy way to know about RocketChat rooms that are open to the community.
If a community allows it, can you please put its information into a list that is on your main landing page?

This will be a great way for new users to use RocketChat without having to set up their own servers or communities.

Please?

[2017-03-11 07:23] lescheib opened #6325 "Install Problem:"
when i try to run/configure the mongo DB with:

[code]

i got this message:

[code]

But when i try to connect to the mongoadmi with this string it works:

`	mongo admin --port <port> -u <mongoadmin> -p <password>	`

what am I doing wrong?

[2017-03-11 12:14] localguru commented on #6317
Hi,

got some feedback on the shib user mailinglist on this issue:

_"As the error said, your IDP does not support the requested NameID format. (A Shib IDP does not support email-based NameIDs out of the box, hence Tstshib doesn't either. Whether it's a good idea to adapt your own IDP is questionable and depends whether you get the application to use something else to uniquely identify the subject

[2017-03-11 14:49] gdelavald commented on #2839
The changes here are based on @alexbrazier #4339 PR for notifications options for user settings.

[2017-03-11 15:23] gdelavald commented on #6311
Modified the regex for multiline blockquotes, this would lead to the following messages (and parsing as shown in the image):

[code]

<img width="326" alt="screen shot 2017-03-11 at 12 18 12 pm" src="https://cloud.githubusercontent.com/assets/6303966/23824416/0c2222b6-0655-11e7-9016-207bf78b48b5.png">

[2017-03-11 16:18] jszaszvari commented on #6314
You can post issues for the Android project here: https://github.com/RocketChat/Rocket.Chat.Android/issues

[2017-03-11 16:20] jszaszvari commented on #6313
You can post issues for the iOS version here: https://github.com/RocketChat/Rocket.Chat.iOS/issues

This issue tracker is for the server/backend/web version

[2017-03-11 16:23] jszaszvari commented on #6305
This would be awesome.

+1

[2017-03-11 17:19] hadifarnoud commented on #4846
not working, neither video conference nor webrtc.
version .53

[2017-03-11 17:23] hadifarnoud commented on #2122
I can't figure out why this isn't working for me. tried WebRTC settings people said here too
<img width="951" alt="screen shot 1395-12-21 at 8 51 04 pm" src="https://cloud.githubusercontent.com/assets/589808/23825319/ac6608fe-069c-11e7-9284-be78db92726d.png">

[2017-03-11 17:28] hadifarnoud commented on #2122
this issue been open for months!!!

[2017-03-11 17:28] THS-on commented on #4923
@gregharvey I have the same problem. File Upload is working if I run Rocket.chat as root, but this is really **not a good idea**. This tells me it's likely a permission problem.
I run the latest version of Rocket.chat and nodejs version 4.7.3 (same as snap) on Debian 8.

Then in my logs I found this:
[code]
And the solution is pretty easy: `chown rocketchat:rocketchat /tmp/ufs` (rocketchat is the

[2017-03-11 18:30] frdmn commented on #2122
Because we don't prioritize issues based only by the creation date. Read up the relevant issues regarding WebRTC and you'll understand why this one is still open.

Von meinem iPhone gesendet

[2017-03-11 18:57] hadifarnoud commented on #2122
I've read #4846 but still don't know why this issue is still open. can you please tell us why @frdmn ?

[2017-03-11 19:11] frdmn commented on #2122
@hadifarnoud Simply because no-one came up with a proper and advanced solution for this. If you can help you, you're very welcome to do so.

[2017-03-11 19:40] hadifarnoud commented on #2122
I get this error when clicking on mic.
[code]

I guess that's because I have RC on http (without SSL)

[2017-03-11 22:41] Szomy opened #6327 "Livechat users can access Homepage"
While I'm testing the livechat feature (which is very useful btw) I use **incognito mode** (so I'm not logged in with my administrator user).

After I send the first message from my website to the livechat I can access my chat homepage by going to **chat.mycompany.com**

_Is it the proper working?_
If it is then it would be great if I could turn this off on the administration page because I dont w

[2017-03-12 00:28] sjonstevens commented on #2158
I am having the same issue. My version is 0.53.0

[2017-03-12 00:59] sjonstevens opened #6328 "Resend Verification Email - Error trying to send email: Mail from command failed - 501 5.1.7 Invaild address"
Receiving message: "Error trying to send email: Mail from command failed - 501 5.1.7 Invaild address

This error message is from My Account -> Profile -> Resend Verification Email

Under Administration -> Email -> SMTP is setup correctly and test emails are sent and received as expected

Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog:
Node Version: v4.7.3

[2017-03-12 04:51] MatthewVita opened #6329 "LiveChat Links Not Wrapping as Expected"
Rocket.Chat Version: 0.52.0
Running Instances: N/A
DB Replicaset OpLog: N/A
Node Version: N/A

[OpenEMR](http://open-emr.org/) is now using RocketChat (awesome work, all!) and we're noticing that long links don't wrap as expected:

![image](https://cloud.githubusercontent.com/assets/1715206/23829098/73ab6662-06b5-11e7-8b40-3643e88702fc.png)

Should be super easy to fix by following: https://css-tr

[2017-03-12 08:58] karan-96 commented on #46
i would like to work on this issue . Can i start working on it?

[2017-03-12 12:05] Hackarrin opened #6330 "Visitors cant view file uploads."
Rocket.Chat Version: 2.50

 My websites visitors cant preview the images I upload to them. It only shows up as blank.

[2017-03-12 15:02] timmc commented on #795
Additional use-case, along the same lines as the legal/corporate one: Activist groups or people talking about sensitive issues often want auto-expiring messages/retention policies.

[2017-03-12 15:04] timmc commented on #2355
Just to cross-link: If you want retention policy rather than manual deletion, There's An Issue For That: https://github.com/RocketChat/Rocket.Chat/issues/795

[2017-03-12 15:18] stuurgurs commented on #6048
There is an answer: http://stackoverflow.com/questions/28473806/how-to-add-a-meteor-package-manually

[2017-03-12 15:19] Nemra1 commented on #6303
+1
nice idea

[2017-03-12 15:44] rasos commented on #5774
Still an issue for the iOS App with RC 0.52.
Andorid app 2.5 is extremely long laoding and then has a time out. Reinstall did not help.

[2017-03-12 16:17] chrisjd20 commented on #2355
Dang. lol. Thanks that is much easier.

On Sun, Mar 12, 2017 at 11:04 AM, Tim McCormack <notifications@github.com>
wrote:

[2017-03-12 17:11] duckqu opened #6331 "Add channels open in columns (tweetdeck)"
![chatchatchat](https://cloud.githubusercontent.com/assets/26363626/23833973/56e8f2d8-075f-11e7-8c05-f5604df3f346.PNG)

Customisable columns
Rocket.Chat Version: 0.53.0

[2017-03-12 18:56] delatbabel commented on #4990
This has now worked fine on a clean Rocket.chat installation

[2017-03-12 18:56] #4990 closed

[2017-03-12 21:39] localguru commented on #5987
+1 Yes PLEASE !!!

[2017-03-12 22:15] asinorum commented on #5543
Your Rocket.Chat version: (0.52.0)
We have the same issue here with bluehost.
No error logs, all seem fine, but mail notification doesnt work. I've configured a gmail account in our rocket.chat's smtp via admin and works fine.
Any update on this issue?

[2017-03-12 22:16] Nemra1 commented on #6331
what is the point or wher u want to add this !  can you explain

[2017-03-12 22:27] Nemra1 opened #6332 "what i miss in setup 0.52.0 developer"
Rocket.Chat Version:  0.52.0
Running Instances: 1
DB Replicaset OpLog:
Node Version:
i want to setup V 0.52.0 but i see this error
OS : WIN 8.1 64X
METEOR@1.4.2.6

![2017-03-13_002139](https://cloud.githubusercontent.com/assets/22897987/23836590/6aa9d66a-0783-11e7-8a28-e2de2a7fc8f4.png)

[2017-03-12 23:07] designgurudotorg opened #6333 "Disable File Upload Access in Permissions"
I'd love to have a permission which controls the ability to display/edit File Upload settings in RC - limiting access per role; so I could have a certain admin level/role which can't change the file upload settings once they've been set by a super admin.

Any way to do this currently?

q./

[2017-03-12 23:43] freddielam commented on #795
This product is not designed for activist use from ground up. I dont think
it's a good idea to recommend it. Minimally, it must have some form of
forward secrecy such as the Signal Protocol that must not be disabled. In
addition, there should be more pen testing to see where it might break. In
this current climate, a such a recommendation just scares me.

On Sun, Mar 12, 2017 at 11:02 PM Tim McCor

[2017-03-13 00:49] thursdaybw opened #6334 "UI Bug when archiving channel"
Rocket.Chat Version: 0.5.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.0

Toggle changes when click archive. Confirmation box pops up. Click cancel. Toggle remains changed.
(has it really changed??).

Wish I could upload videos here so I could show you.

[2017-03-13 01:39] RichardFoxworthy commented on #5514
any updates on this one? Makes the image upload function unusable on iOS

[2017-03-13 02:59] vdittgen commented on #6030
In my tests it responds on Livechat only if you put the bot name as the first word.
I need the bot to respond even if his name is not in the phrase, like an normal DM.
Is there any configuration I am missing?

Using `RESPOND_TO_DM=true` works on DMs but not on Livechat.

➔ +---------------------------------------------------------+
➔ |                      SERVER RUNNING                     |
➔ +-

[2017-03-13 05:51] TheReal1604 commented on #5514
@RichardFoxworthy Karl told me that this is a bug in a cordova plugin (statusbar I think.) So this maybe could be difficult to fix.

[2017-03-13 06:23] RichardFoxworthy commented on #5514
@TheReal1604 @karlprieb is there a Cordova bug logged for this? Makes Rocket.chat Cordova iOS unusable for our usecase. Its a big deal for us

[2017-03-13 07:57] rasos opened #6335 "RC App endlessly waiting for server connection"
The RC Cordova App 2.5 is is starting with downloading 39 files, but then stucks with "waiting for server connection". Happens since some time on Android and iOS. Seems to be the only debug message related to it:

`[34mI20170313-08:52:43.828(1) rocketchat_lib.js:1062 [34mMeteor ➔ method canAccessRoom -> userId: null , arguments:  { '0': 'ykMWvxNy4MLTgzwqh', '1': 'k7JtoesNHELCiPZtr' } `

How can

[2017-03-13 08:07] green-ghost opened #6336 "[Q] How to access to models from outgoing webhook integration?"
[code]

In this case I want to find message and author of this message from outgoing request, but I can't access to models.

[2017-03-13 08:13] szluohua opened #6337 "loading package emojione:emojione@2.2.6 Error"
Rocket.Chat Version: 0.53
Running Instances:
DB Replicaset OpLog:
Node Version:4.7.3

=> Errors prevented startup:

   While loading package emojione:emojione@2.2.6:
   error: Command failed:
   /home/luo/.meteor/packages/meteor-tool/.1.4.3_1.194k2uz++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/bin/npm
   rebuild --update-binary
   Error making request.
   Error: read ECO

[2017-03-13 08:36] localguru opened #6338 "secret login page for local accounts"
Rocket.Chat Version: 0.52.0

Hi,

what about a secret login page like "Registration Form Secret URL" for local accounts? This would be a good fallback if "Show form-based Login" is disabled and e.g. only SAML as login method is activated.

Ciao
Marcus

[2017-03-13 10:15] faburem commented on #6003
I have a similar setup working perfectly fine on our sandstorm instance. I think what is missing here is the creation of a "Webkey":
<img width="469" alt="screen shot 2017-03-13 at 11 07 10" src="https://cloud.githubusercontent.com/assets/11456790/23849827/50fe0d58-07dd-11e7-89ea-910d39cbfb0b.png">
Especially the part of the URL after the # is very important. You need to provide this authorization

[2017-03-13 10:17] faburem opened #6339 "Integrations with scripts do not work in sandstorm"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.4.7

When I create a new Integration and activate any script (doesn't matter if it's an incoming or outgoing webhook), I get the following error:
`EROFS: read-only file system, mkdir '/programs/server/npm/node_modules/meteor/babel-compiler/node_modules/meteor-babel/.babel-cache'`

<img width="1152" alt=

[2017-03-13 10:25] pierreozoux commented on #5009
I understand your use case, but your hosting provider should be able to give you a way to perform unattended backups.

[2017-03-13 10:28] lashae commented on #5009
@pierreozoux Please check out the issue description, the issue is created mainly for deployed Rocket.chat instances. There is no hosting-provider, Rocket.chat is provided as a service by Rocket.chat itself. We use Rocket.chat as a subdomain on http://[subdomain].rocket.chat address.

On the other hand, hosting providers may or may not offer a way to create a custom backups, however having the abil

[2017-03-13 10:35] pierreozoux commented on #5009
@lashae yes, I read correctly. I'm myself a provider of rocket.chat as a service ( [IndieHosters](https://rocket.chat/blog/viva-liberte-indiehosters-supporting-internet-freedom-with-open-source-chat) ) And we have a way for end users to backup there full data, unattended (data folders + mongo dump).

We are supporters of https://userdatamanifesto.org/.

But agreed, that a export/import via admin i

[2017-03-13 10:42] #3127 closed

[2017-03-13 10:49] bbrauns opened #6341 "reverse proxy as described not working properly"
Rocket.Chat Version: 0.52.0
Running Instances: 2
DB Replicaset OpLog: Activated
Node Version: v4.8.0

Hi everybody,

The load balancing method as described in the documentation https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy#running-behind-a-nginx-ssl-reverse-proxy is not working properly regarding my setup. I have a VM with rocket chat in a docker-compose s

[2017-03-13 13:13] shaharido1 opened #6342 "can't scroll inside a long message"
Rocket.Chat Version: 0.51
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.6.2

Hey!
I noticed that you can't scroll inside a long message (as you type it).
Is it a bug..? Maybe you can add it for next versions..?

[2017-03-13 13:49] TheReal1604 opened #6344 "Profile picture created in cordova app is wrong rotated"
Rocket.Chat Version: 0.51.0
Running Instances: 3
DB Replicaset OpLog: YES

Hi,

if i update my profile photo with the cordova app und make a picture in the app, it is wrong rotated.

[2017-03-13 13:56] ggazzo commented on #6334
![fix](https://cloud.githubusercontent.com/assets/5263975/23857310/9ce141ba-07db-11e7-8092-0c42d18b9c0c.gif)

[2017-03-13 14:31] IQ2022 opened #6345 "unable to access one of the room"
I have one of the private rooms, that i can't seem to access, session eventually times out..
I havent tested all rooms, but they seems to work..

Rocket.Chat Version: 0.53.0
Running Instances:
DB Replicaset OpLog:
Node Version: v4.7.3

[2017-03-13 14:49] DalePayman commented on #4710
+1
Is there nothing new on this one? :-(

[2017-03-13 14:50] rasos commented on #6335
Issue solved. We had installed CORS on the same nginx that serves Rocket.Chat (for tests with the Jitsi Meet App). Meteor seems not to like CORS enabled web servers.

[2017-03-13 14:50] #6335 closed

[2017-03-13 14:50] localguru opened #6346 "where to delete old livechat conversation"
Rocket.Chat Version: 0.52.0

Just played around with livechat, but I can't find a way to delete closed livechat conversations as admin nor as live chat manager.

[2017-03-13 15:13] ggazzo commented on #5479
in version 0.54.x you can use ```/msg @user <message>``` to send a message and ```/open @user``` to open a user event if you have not started a conversation before.

[2017-03-13 15:13] #5479 closed

[2017-03-13 15:14] localguru commented on #6294
Rocket.Chat Version: 0.52.0

Same here, after playing around with livechat

[2017-03-13 15:59] #6334 closed

[2017-03-13 16:39] graywolf336 commented on #6336
If you're just trying to figure out the owner, the message object contains a `u` property that contains the user's id and username.

[2017-03-13 16:40] graywolf336 commented on #6339
You'll need to somehow launch Rocket.Chat with a new environmental variable: `BABEL_CACHE_DIR=/tmp` and change the directory to one that Rocket.Chat can write to in sandstorm.

[2017-03-13 16:44] #6313 closed

[2017-03-13 16:46] graywolf336 commented on #6303
We welcome a pull request to add the things mentioned. :+1:

[2017-03-13 16:46] virtuman opened #6348 "counter of unread messages doesn't seem to work anymore"
Counter of unread messages doesn't seem to work anymore on neither the room name or on the icon of the application on desktop and mobile apps.
Used to work up until an update starting a few versions ago.

Is there a setting for it or has this functionality been removed?

Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: yes
Node Version: 4.7.3

[2017-03-13 16:46] axeloz opened #6349 "Unable to connect because of excessive load"
- Rocket.Chat Version: 0.53 installed using Snaps
- Running Instances: 1
- Node Version: 4.2.6
- System: Ubuntu 16.04

Hello,
My Rocket.chat instance is installed on a dedicated DigitalOcean server using Snaps (nothing else running on the server). There are 20 users connected at most. This is a private chat, no public link nor contribution.

It used to work just fine for weeks until last friday: a

[2017-03-13 16:49] faburem commented on #6339
Can you please re-open this issue? This is nothing an end-user can fix inside sandstorm, instead this has to be fixed in Rocket Chat's capnp file.

[https://github.com/RocketChat/Rocket.Chat/blob/develop/.sandstorm/sandstorm-pkgdef.capnp#L111](https://github.com/RocketChat/Rocket.Chat/blob/develop/.sandstorm/sandstorm-pkgdef.capnp#L111)

I think you pointed in the correct direction, for sandstorm

[2017-03-13 16:50] axeloz commented on #6349
Some log:

[code]

[2017-03-13 16:55] designgurudotorg opened #6350 "Disable GridFS and Filesystem from File Upload"
In order to avoid running into server caps I want to disable the display of Filesystem and GridFS as storage options for customers - without editing the theme or forking the codebase I'd love to see a simple admin permission to override the default (or hide File Upload from the left-sidebar)

Thoughts?

q./

[2017-03-13 16:59] graywolf336 commented on #6339
Feel free to open a pull request then. :+1:

[2017-03-13 17:17] sampaiodiego commented on #6161
I was enable to reproduce it.

which setting were you not able to overwrite?

[2017-03-13 17:33] karlprieb commented on #6344
Hi @TheReal1604 I can't reproduce this bug on android. Have you tried on both android and iOS?

[2017-03-13 17:34] sampaiodiego commented on #1721
I think we don't need this page anymore.. that's why the link were removed.

[2017-03-13 18:00] sampaiodiego commented on #6235
@pierreozoux you can set the following environment variables at startup:
* `FileUpload_Storage_Type=AmazonS3`
* `FileUpload_S3_Bucket`
* `FileUpload_S3_AWSAccessKeyId`
* `FileUpload_S3_AWSSecretAccessKey`
* `FileUpload_S3_CDN`
* `FileUpload_S3_Region`
* `FileUpload_S3_BucketURL`

[2017-03-13 18:03] sampaiodiego commented on #6192
We actually create the env var `MAIL_URL` from `Administration -> EMail -> SMTP` values at runtime. So they are the same thing.

But yes, we could read from `MAIL_URL` to fill `Administration -> EMail -> SMTP` values.

[2017-03-13 18:21] MatheusRV commented on #6339
sorry i dont know with here is the best place but i'm using sandstorm and want to know how to integrate external-acess and facebook integrations i already find the repo.

[2017-03-13 18:21] green-ghost commented on #6336
Thanks, but what about another message?
I tying to integrate Rocket Chat with some services with fast replying. Incoming message (comes with incoming webhook) contains some properties like id of owner, link to owner in foreign service, etc. If I replying to this message in channel, data about this message contains only link to original message. From this link I can take message id. And now I want

[2017-03-13 18:22] MatheusRV opened #6352 "SandStorm Rocket.Chat Errors in Log"
[34mI20170313-04:16:23.106(0) [32m➔ [32m+----------------------------------------------+
[34mI20170313-04:16:23.107(0) [32m➔ [32m|                SERVER RUNNING                |
[34mI20170313-04:16:23.108(0) [32m➔ [32m+----------------------------------------------+
[34mI20170313-04:16:23.111(0) [32m➔ [32m|                                              |
[34mI20170313-04:16:23.112(0) 

[2017-03-13 18:31] geekgonecrazy commented on #6318
@Seferi can you try `snap run rocketchat-server.initcaddy` ?

[2017-03-13 18:31] IQ2022 commented on #6345
it was fine with 0.52.0... any idea?? why would one room get to be unavailable?

[2017-03-13 18:36] geekgonecrazy commented on #5543
I've just experienced similar issue on a host that blocks outbound.  Its very possible they now block outbound email via port 465 and others.  Worth checking.

[2017-03-13 18:49] geekgonecrazy commented on #6207
I would personally recommend always specifying the docker tag and never just: `latest` that way it gives you the highest degree of control.

[2017-03-13 18:55] IQ2022 commented on #6349
btw can you go back to 0.52.0, i wasnt able to load it when i went back .. i noticed its bit heavier as well

[2017-03-13 19:13] #6339 closed

[2017-03-13 19:44] Nemra1 commented on #6331
+1
I love it😊

[2017-03-13 19:57] Nasr2013 commented on #6230
Hi There,
First Thank you for your time and the good work
---
I was searching for the same feature:
1 instance Rocket.Chat, serve multiple sites
Is it possible to get the multiple installation scripts with any available instructions?
--
The other option is
Create Multiple Department "each department will represent the website"
Use the same  code for the iframe in each site
Visitor select the depar

[2017-03-13 19:58] Nasr2013 commented on #6230
sorry for this bold and large font - no intention to do so

[2017-03-13 20:02] TheReal1604 commented on #6344
Hi Karl,

just tested it on iOS.

Am 13.03.2017 um 18:35 schrieb Karl Prieb <notifications@github.com<mailto:notifications@github.com>>:

Hi @TheReal1604<https://github.com/TheReal1604> I can't reproduce this bug on android. Have you tried on both android and iOS?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/RocketChat/Roc

[2017-03-13 20:17] lucasvanhalst opened #6355 "Cannot view a channel that you're not in"
If you try to view a channel that you're not in an error is thrown:

[code]
Followed by a series of these:

[code]

Rocket.Chat Version: d61d2d5b89cfc9b294f7ebac71d668f5b8c5b105

[2017-03-13 21:27] arminfelder opened #6356 "ios push notification uses always badge:1"
We are developing an QT5 based iOS 10/Android 4.4+/WinMobile10, client for RocketChat(which by the way will be released soon under GPLv3),
and I am now facing the issue, that the iOS push notifications always contain badge:1, instead of sending the absolute number of unread messages.

[2017-03-14 00:38] ddiddi commented on #4923
I'm trying to make it Run with Heroku and having the same issue. How do I resolve it?

[2017-03-14 05:06] #6311 closed

[2017-03-14 07:51] cjd9023 opened #6359 "can't show picture in room"
Rocket.Chat Version:  0.45.0
Running Instances: 1
DB Replicaset OpLog:
Node Version: v4.6.1

i have a  vm in openstack cloud , i install docker on it , and  run rocker.chat by docker;

map port   0.0.0.0:8880->3000/tcp , i send picture in room ,but  except me , other members  see blank;

what wrong with it ?

thanks for answer.

![0314](https://cloud.githubusercontent.com/assets/11306473/23890724/

[2017-03-14 08:02] cjd9023 commented on #6359
download forbidden
it look like my company forbidden download picture.

[2017-03-14 08:02] #6359 closed

[2017-03-14 09:04] TheReal1604 commented on #5468
@rodrigok @laggedHero This behavior is also happening if you click on the paperclip on the right side and opening a attachment like a pdf file. This is not redirecting into the mobile browser - it is openend directly into the app without a way to leave this view.

[2017-03-14 09:08] szluohua commented on #6337
The problem has been solved,these are the problems I encountered in starting Rocket.chat
Rocket.chat version: 0.53
Node version: v4.7.3
npm: 3.10.10

1.  .travis.yml add
[code]
[Install errors with node v4 and v5 #776](https://github.com/node-inspector/node-inspector/issues/776#issuecomment-162383014)

2. [bcrypt fails at the install script at node-gyp rebuild #432](https://github.com/kelektiv/nod

[2017-03-14 09:08] #6337 closed

[2017-03-14 09:23] yethrib commented on #6230
@Nasr2013 There is an issue worked on related to this https://github.com/RocketChat/Rocket.Chat/pull/6035

@sampaiodiego I agree, to filter the departments over the API is a step forward in serving multiple sites. This will make livechat scalable over multiple sites.

[2017-03-14 10:25] willihelm commented on #6315
Or maybe you can tell me which color in the layout settings is used there. I tried allready different colors but cant find this one.

[2017-03-14 12:10] hughlroberts commented on #5136
+1

[2017-03-14 12:29] willihelm commented on #6315
I found a workaround by setting custom CSS to:

.room-title {
    color: white;
}

[2017-03-14 13:21] zanshin commented on #6220
@engelgabriel It is causing problems. You cannot use `ctrl-k` to delete from the current cursor position to the end of the field. Using Cmd/ctrl-k for search breaks the paradigm expected by command line users. "F" is typically the letter used for search (find) in applications.

[2017-03-14 14:06] gregharvey commented on #4923
@THS-on Thanks for the update. Unfortunately I'm not seeing anything in the logs, and even if I (temporarily) chmod 777 the upload directory it still doesn't work, so in my case it doesn't seem to be permissions...

[2017-03-14 14:09] Vonnguru opened #6360 "Slackbridge is broken"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.3

Has anyone been paying attention to SlackBridge? It appears it is out of date. Slack Bot's require OAuth and do not appear to have API tokens anymore.

[2017-03-14 14:11] gregharvey commented on #4923
@THS-on Oh wow, so even though I had no log entries I tried setting the ownership of /tmp/ufs to root:www-data and perms to 775, and now it works! Thank you so much! I wonder if it's because Rocket.Chat was first run as root and it made the directory itself? This seems related:

https://github.com/jalik/jalik-ufs/issues/6

[2017-03-14 14:23] ksuquix commented on #6220
@engelgabriel I see this is broken as well...   why is this closed?

[2017-03-14 16:01] alexroosenstein opened #6361 "Set S3 file prefix"
I'm currently using RocketChat with file uploads to S3 (powered by Minio), and this works great.

But I'd love to be able to set the prefix/directory the files are stored in.

Currently it uses the hostname of the RocketChat install, but if that could be replaced or prefixed, then I would be able to group all files of 1 client (of different applications) inside a single directory.

Would this be p

[2017-03-14 19:02] danielfl commented on #3656
To change the role for a RocketChat user, go to https://domain/admin/permissions and click in the name of the role you want to assign. A form will open with the list of users for this role and a textbox where you can insert the username.

I agree that in the flyout page it would be much better and intuitive.

[2017-03-14 20:16] Manu-H opened #6362 "[Question] Create/Manage Users via Terminal"
Hello!
I would like to implement RocketChat into our team. I want to install it on an Linux Debian System. Is there any kind of possibilty to create Accounts through the Terminal (eg. with a Script, or an input to a mysql database)?

[2017-03-14 20:25] howellsd opened #6363 "Must manually type ":" at end of @username in message field to alert user"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3

In previous versions of RocketChat (i.e. 0.32), if you typed @ and selected a user from the displayed list it would insert @username into the message as a highlighted entry/link to the user into the channel and alert that user. The same functionality exists in 0.52.0, but you have to manually add th

[2017-03-14 21:07] howellsd opened #6364 "Two Custom OAuth Parameters can't be set in UI after 0.32 to 0.52 upgrade"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.1

We recently upgraded our system from RocketChat 0.32 to 0.52.  Because new fields were introduced to the Custom OAuth config from one version to the next, we had to delete and recreate our Custom OAuth configuration after upgrade.  The config updated fine in the DB, except for two fields, "Token Sen

[2017-03-15 07:20] TheReal1604 commented on #6344
@karlprieb i verified it again.. its happening on iOS.

[2017-03-15 08:05] mehdiyahyaoui commented on #5762
Hello

Sorry for not reporting back on the issues

My Problems is still the same - the integration not working

Here's what it shows on the log

[code]

[2017-03-15 08:30] TheReal1604 commented on #6325
@lescheib Just an config example from my systems:

[code]

Maybe you need the authSource=<authdb> parameter.

[2017-03-15 09:02] benedikt-wegmann commented on #6341
Does anybody have any experience running multiple instances of Rocketchat behind a load balancing setup and can confirm or disprove the observed effects?
We are quite curious about it because long term, for any meaningful large setup, this is important. And while basic chat functionality works there is limitations as described above which users are likely to run into.

[2017-03-15 10:38] #6162 closed

[2017-03-15 10:58] rajitgarg2 opened #6365 "Customize Rocket chat app and create its Web App, Android app and IOS App"
Hello,

I have require to customize Rocket chat app and create its Web App, Android app and IOS App, is it possible, I have first of all tried with https://github.com/RocketChat/Rocket.Chat and this works fine for web app, but when i follow the steps for creating its android apk using meteor build steps https://guide.meteor.com/mobile.html#building-for-production, i got app with only meteor logo,

[2017-03-15 12:13] JacksonWages commented on #6363
I'm having this issue as well, but only on usernames that have a space in them.

Example: @Jackson Wages: would require the colon
@JacksonWages would not.

[2017-03-15 13:22] localguru commented on #6362
Hi,

did you check the ocket.Chat REST API

  https://rocket.chat/docs/developer-guides/rest-api/users/create

Ciao!

[2017-03-15 15:12] DalePayman commented on #6349
show yout htop in tree view please.

[2017-03-15 15:34] axeloz commented on #6349
OK, I must wait for this to happen again.

[2017-03-15 16:08] zombified commented on #6210
I don't know if this helps, but I found I had to do an `meteor npm install` before I did the `meteor add rocketchat:internal-hubot meteorhacks:kadira` step to build it otherwise the katex dependency wasn't installed when doing the `meteor add`, which at some point triggers https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-katex/package.js#L26-L29

[2017-03-15 16:18] jblobel opened #6366 "No error page when connecting to wrong url https://[server_name]/[wrong_name]"
Rocket.Chat Version:  0.49.2
Running Instances: 1
DB Replicaset OpLog: 79
Node Version: 4.7.1

When connecting with a browser (Firefox 45 ESR) to an URL like https://[rocket_chat_server]/[random_name] user get no error report and is not redirected anywhere. He is connected but have no clue what to do.

Same thing happen in the demo server (see gif attached) : go to https://demo.rocket.chat/nothing

[2017-03-15 16:26] Dracozny commented on #6366
Or redirected to the main page. perhaps an Admin option of where to redirect 404 would be ideal.

[2017-03-15 16:30] somebrel commented on #4996
Hello there, I would like to work on this. Any suggestions about where I should start?

[2017-03-15 16:32] zbyte commented on #4780
this feature is very important for me

[2017-03-15 17:02] Seferi commented on #6318
@geekgonecrazy getting this error: error: cannot find app "initcaddy" in "rocketchat-server"

[2017-03-15 17:28] Nemra1 commented on #6365
i can help you with android but iphone ..im not expert

[2017-03-15 18:24] TheReal1604 commented on #6143
and again.. :(

[code]

[2017-03-15 18:25] k0nsl commented on #6143
How much memory is available on the server in question, @TheReal1604?

[2017-03-15 18:26] TheReal1604 commented on #6143
@k0nsl the server has the following specs:

4vCPU
10GB RAM

[2017-03-15 18:28] k0nsl commented on #6143
Good, thank you. I guess we can rule out lack of memory. I run my instance on less memory than that, without any issues. Have you tried upgrading to `0.53.0` to see if the issue persists or not?

[2017-03-15 18:28] TheReal1604 commented on #6143
@k0nsl it is already updated. sry, dont mention that here.

[2017-03-15 20:40] rasos commented on #6356
BTW, here is the link to the QT5 based app, where you can download and test a preview version for Android: https://www.osalliance.com/en/ucom-app

[2017-03-16 01:37] dhavalpatelj opened #6369 "MongoError: failed to connect to server [localhost:27017] on first connect"
var express = require('express');
var app = express();

var mongodb = require('mongodb');
var MongoClient = mongodb.MongoClient
var dbOperation = null;

MongoClient.connect('mongodb://localhost:27017/training', function(err, db) {
  if (err) throw err
  dbOperation = db;
 })
app.use('/mahadev', express.static('src'));
app.get('/todo', function(req, res) {
  dbOperation.collection('todo').find().to

[2017-03-16 02:43] sethlester commented on #1352
Is there a workaround for this for the desktop apps?

[2017-03-16 04:01] pandada8 commented on #5775
what about adding an icon/button beside current `leave-room` and `hide-room` button and when clicked simply mark the room as read
A global `mark as read` button could be added too

[2017-03-16 06:45] rash-uk opened #6370 "[QUESTION] Visibility permissions for groups."
Hello,
is it possible to implement: users from one group are forbidden to see users from other groups?
For example:
creating groups for departments and that users of some departments will not see users of other departments and only administrators see all users.

[2017-03-16 08:16] lewyg commented on #3402
Try to add this in Layout>Custom CSS

It works for me(for .png logo)

[2017-03-16 08:38] thecodemonkey82 opened #6371 "Outgoing webhook for room archived not working"
Hello!

I've a problem with outgoing web hooks. It will not call the URL for the event roomArchvied (a hook for messages works fine).

The log says:
[code]

So, the hook was added. But when I click archive in a room now, the following happens:

[code]

Maybe a bug? Must this not search for triggers for room __any?

Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node

[2017-03-16 10:38] 1stposition-ad commented on #6370
in addition to the above question, if there is a way to do that, is it also possible to hinder people from one group to write private message to another group?

[2017-03-16 11:38] c-thomasFR commented on #4318
Could someone create a small index.php page to see the full method because i'm a bit lost. I also want to integrate rocket chat on my website with automaticall login. Thanks for your help

[2017-03-16 12:24] pmjunior commented on #3830
+1

[2017-03-16 12:26] c-thomasFR commented on #2001
@neha1deshmukh I have the same problem, does anyone have a solution ? Thanks for your help

[2017-03-16 12:29] DalePayman opened #6373 "Mark Topics possible"
Hi,

i want to have Topics to be markable!
Thx! :-)

Dale

[2017-03-16 12:37] c-thomasFR commented on #1996
Does anyone know how to automatically login a user in the iframed rocket.chat, ?

I have used "https://xxx.xxx.xx:3000/api/v1/login" and getting the success in response
stdClass Object ( [status] => success [data] => stdClass Object ( [authToken] => BPT8Gt4k2fbUZjtQDfENtKawa41ZwwwmbV6KH-_kL8akvT [userId] => dSZ38wjgPD33irls4L6Y ) )

how should i use this response further to achieve above goal.

Th

[2017-03-16 12:46] evaletolab commented on #4318
@c-thomasFR :+1:

[2017-03-16 12:56] zanshin opened #6374 "Search field shortcut breaks EMACS bindings"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled ?
Node Version: v4.5.0

Using ctrl-k as the keyboard shortcut for the search field breaks using EMACS keyboard bindings for editing within the message text box. A search for "emacs text editing shortcuts" will reveal any number of results detailing these widely used key combinations, e.g., https://msdn.microsoft.com/en-

[2017-03-16 13:30] c-thomasFR commented on #5927
I have the same problem and i tried  to do that :
`document.querySelector('iframe').contentWindow.postMessage({
				externalCommand: 'login-with-token',
				token : '<?php echo $me->data->authToken;?>',
			}, '*');
`

[2017-03-16 14:34] divergefx commented on #6365
@rasos I would love to have customized apps, how do we go about doing this?

[2017-03-16 15:03] childnode opened #6375 "[Improvement] Handling of auto-Links to Private channel/room links in mentions and their visibility"
Rocket.Chat Version: 0.52

if you have or you're member of a private channel / room, you …
* … are able to write room/channel actions by using the autocomplete

But:
* Rocket.Chat doesn't auto-create a link to a given / posted private room / channel. The text `#private_chan` keeps a text, without a link to the room neither any special markup

It would be OK for me if this is the "desired" behaviou

[2017-03-16 15:21] localguru opened #6376 "Feature request: LDAP -> add LDAPTLS_REQCERT option"
Rocket.Chat Version: 0.52.0

I had some problems with authentication using LDAP+SSL against an AD (eg. ad.company.com) which resolves via round robin to different single host names (dc1.ad.company.com etc.) and each host's certificate doesn't include the generic SubjectAlternativName for ad.company.com, but only for its single hostname, eg. dc1.ad.company.com etc.. The result is a certification mi

[2017-03-16 15:53] jblobel commented on #6366
I guess it would be good to give user feedback, so he can aware of his error, and readjust his bookmark for example.

[2017-03-16 17:16] graywolf336 commented on #6350
We accept pull requests, so if you come up with a solution let us know via a pull request so then it can be discussed. :+1:

[2017-03-16 23:32] salj76 commented on #4318
Hi can any one tell me how the process works or if it is possible using kginstructor's solution if I am using SAML for authentication. Specifically how I can get the token would the parent app call RC's login?

[2017-03-17 00:33] richardt3 commented on #3369
Same problem in 0.53.0.

Proxying through nginx. Will do some testing on direct access and on how nginx handles svg outside of RC

[2017-03-17 00:34] richardt3 commented on #6026
Have this in 0.53.0

Going via nginx.

[2017-03-17 03:34] IQ2022 commented on #6345
i had to delete the room, browser was hanging..

[2017-03-17 05:08] rajitgarg2 commented on #6365
Hi Nemra1@ Help me for android, i am waiting

[2017-03-17 06:34] Manu-H commented on #6362
Thanks!

[2017-03-17 06:34] #6362 closed

[2017-03-17 07:43] rasos commented on #6365
@divergefx have you tested the Qt5 based app and do you like it? We are glad to help to customize it, send me a PM via our web page mentioned above.

[2017-03-17 08:31] killstyl opened #6380 "Notification Duration - not working."
Rocket.Chat Version: 0.53.0
Running Instances:  6
DB Replicaset OpLog:
Node Version:  v4.5.0

Tired to change: Notification Duration to 120 and the popups did not stay longer then 10 sec.
Tested on personal setting and global settings the same nothing changes.

[2017-03-17 09:09] TheReal1604 opened #6381 "Feature Request - use google/guetzli to compress pictures"
Hey,

this is a feature request. Google delivered a very good performing compression algorithm to compress jpeg pictures.

https://github.com/google/guetzli

Maybe this can be useful to compress pictures in rocket.chat?

[2017-03-17 09:59] reitzig commented on #4161
Mattermost seems to support AD/LDAP now.

[2017-03-17 10:03] ssbarnea commented on #4161
I think that a great way to achieve a good comparison would be with something like https://www.slant.co/topics/4554/~open-source-alternatives-to-slack

PS. I am not affiliated with them, just a happy user. It works like a wiki, were people can add properties values so you can compare two different products or solutions.

[2017-03-17 11:45] localguru opened #6382 "SAML: how to validate further attributes?"
Rocket.Chat Version: 0.52.0

Beside NameID I'd like to validate further attributes like employee status (eduPersonScopedAffiliation) to handle access to RC. How would I do that? Do I need to hard code that to
programs/server/packages/steffo_meteor-accounts-saml.js ?

[2017-03-17 12:42] recteurlp opened #6383 "rocketchat_lib.js cache on docker image"
Rocket.Chat Version: last docker/develop image
Digest: sha256:9cf70dd794193a2851c3ed78cbebe60c3cf0bbbd9f47aa4674ce7825bfc8b044

[code]
The rocketchat_lib.js file on the docker image is fine

[code]
But in the browser i still get the old url ```<img src="/assets/logo" />``` which does not work with subdir.

I don't know if it's cache related or CDN related ? Any help would be appreciated.

I'm wait

[2017-03-17 13:34] kapellan2000 opened #6384 "The login field and password do not appear"
Rocket.Chat Version: 	0.53.0  installed using Snaps
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.3

It is impossible to login to the server, there is no login field and password. All those who entered before  the update work without problems. But it's worth to remove the cookies from entering any more fails

screen http://joxi.net/Vrwo8kXfOX0J7r

[2017-03-17 13:53] localguru opened #6385 "redirect OAuth and SAML login in the same window instead of new popup window"
Rocket.Chat Version: 0.52.0

How do I redirect the authentication for OAuth and SAML login in the same window instead of new window popup?

See #6249

[2017-03-17 15:13] drastik opened #6386 "develop branch (3-16-2017): ReferenceError: Cookies is not defined"
The error is:
[code]

Rocket.Chat Version:  0.53.0   (actually the `develop` branch)

[2017-03-17 15:34] basitkhanpk commented on #5069
Hi, Thanks for your great help! i hve changed the entries in fiber and installation is successful, i created the service as well, but when its not listening on said port http://localhost:3000 boht mongodb & rocketchat services are up and running. can you please guide what should i do to troubleshoot it?

[2017-03-17 17:22] basitkhanpk commented on #5069
While Diagnosing the log file i found the following error in rocketchat.err file

C:\RocketChat\programs\server\boot.js:283
}).run();
   ^

Error: $ROOT_URL, if specified, must be an URL
    at Error (native)
    at packages/meteor/url_server.js:8:1
    at C:\RocketChat\programs\server\packages\meteor.js:1132:4
    at C:\RocketChat\programs\server\packages\meteor.js:1274:3
    at C:\RocketChat\pro

[2017-03-17 19:20] Rohlik commented on #6369
Totally useless issue...
How you deployment RC and mongodb?
Version of RC and mongodb?
Did you setup ENV for RC connect to DB?
And so on....

[2017-03-17 19:34] roketsohbet opened #6388 "ios mobile apps unexpectedly closing."
Hi All; im running version 0.53 on linux. I made the definition of ssl. I have access to the chat system with https://chat.mydomain.com sub domain. I can login from Android systems with Rocket.Chat+ Mobile app. Android perfect. But when i login to the server with RocketChat+ mobile app on iOS, the Mobile app is loaded and turned off. What do i have to do in this regard?

[2017-03-17 20:10] dark-penguin commented on #5473
I can confirm that this is still present in 0.53.0. I run Rocket.Chat with Docker, not snap, and I have not set MAIL_URL variable because according to #6192 this is not necessary as it will be automatically built from the values in Administration -> Email -> SMTP . Indeed, test messages work, "Registration via Admin" messages work, but email confirmation does not work - and hence people either can

[2017-03-17 23:21] localguru opened #6389 "avatar picture can be accessed without any login"
Rocket.Chat Version: 0.52.0

The avatar picture can be accessed without any login:

  https://rc.domain.com/avatar/youruser

[2017-03-17 23:59] pletchman commented on #5907
Our chat server on the beta cloud just froze when I tried to restart it via the admin panel. It's the first time I've tried since posting about it before so I don't think whatever issue is causing it has been resolved.

[2017-03-18 00:35] geekgonecrazy commented on #5907
@pletchman it's for sure been resolved.  Updating your instance and restarting it.  I'll follow up via email

[2017-03-18 01:57] #6369 closed

[2017-03-18 01:57] dhavalpatelj commented on #6369
solved

[2017-03-18 09:05] wayn opened #6390 "How to translate the registration custom field"
Here is my custom field, how can I translate the 'role', and the options

    {
        "role": {
	    "type": "select",
	    "defaultValue": "student",
	    "options": [
	        "teacher",
		"student"
	    ],
	    "required": true,
	    "modifyRecordField": {
	    "array": true,
	    "field": "roles"
	    }
        }
    }

[2017-03-18 13:23] Manu-H opened #6391 "Add Groups to Channel?"
Hello! Is there a way to add a Group to a Channel? I have differnt Groups (like Admins, Team, Sale) with differnt members. I want to add the group "Admin" to Channel "Admin". Is this possible?

[2017-03-18 19:24] mrsimpson commented on #6161
Sorry for the delay, @sampaiodiego!

I created a custom setting like this:
[code]

I am not able to override (set) this externally as in the origin code, as the overriding with a process.Env is only being checked later.

[2017-03-18 19:26] jszaszvari commented on #4287
Keep us posted, theres a small conversation going about it on their end as well - https://github.com/operable/cog/issues/1059

[2017-03-18 21:07] FibreFoX commented on #6346
This might be a duplicate of https://github.com/RocketChat/Rocket.Chat/issues/6294

[2017-03-18 21:22] FibreFoX commented on #3427
@hadifarnoud this still an issue?

[2017-03-18 21:25] FibreFoX commented on #3574
Maybe hubot has no connection to these special rooms? I'm interested in this topic and just started to dive in, but having some HUBOT being the first participant on a livechat might bring "conversational ui" with RocketChat ;)

[2017-03-18 21:26] FibreFoX commented on #3758
@athossouza you might want to use english language for this to get recognized

[2017-03-18 21:29] FibreFoX commented on #3796
@vetash is markdown not shown when typed by the website visitor using livechat?

[2017-03-19 00:40] Sentinelrv opened #6392 "Deleted User Account Removes All Posts, Making Chat History Unreadable"
Hi, we have an instance of RocketChat setup at https://peercoin.chat/

One of our users started up a new account in order to change their user name and deleted their old account name. This apparently had the effect of wiping all of the posts that were posted by the old account.

This was an active user and they had many conversations all over the chat in many channels. Now that all of their posts

[2017-03-19 01:09] k0nsl commented on #6392
The content is gone. This routine is the desired outcome when deleting accounts.

[2017-03-19 01:58] Sentinelrv commented on #6392
So does that mean there is no chance of an improvement changing this to be controlled only by site administrators? This has basically completely destroyed the readability of large sections of our chat. That can't be considered a positive outcome. If a user wants something personal deleted that they shouldn't have posted in the first place, I think it would make more sense for them to contact the a

[2017-03-19 02:17] Sentinelrv commented on #6392
And if no change, is there anyway for admins to manually disallow account deletion to prevent this from happening again?

[2017-03-19 04:14] Sentinelrv commented on #6392
I also have to mention that the person who deleted the account did not anticipate this as the outcome and was disappointed when he realized all of his posts were gone, so saying that this is the desired outcome is not true for everyone performing this action.

[2017-03-19 07:53] localguru commented on #6392
#6186

[2017-03-19 09:15] asinorum commented on #5543
hi guys, i think is not a bluehost issue. i've test the bluehost's smtp settings "Private (with SSL)" in this testing page http://smtper.nanogenesis.fr/ and in my RC server.
When use the port 465 give an error in the testing page, not from RC.

When use the port 25 instead, I receive a mail from the testing page, but nothing from the RC, doesnt give any error message,  RC confirmed that the mail w

[2017-03-19 10:23] hadifarnoud commented on #3427
I gave up on it and just used docker image. Flynn does support docker image push thankfully

[2017-03-19 14:17] pkgodara commented on #6328
@sjonstevens Can you please tell what environment did you used to deploy it. Mine is working fine on ubuntu with local mail server.

[2017-03-19 14:40] shtefcs commented on #2216
I have this problem as well. It's started happening week a go, and now more and more users reporting problem that they can't enter the chat.

My version is 0.50.1

I have not **Force SSL** turned on

[2017-03-19 16:26] Nemra1 commented on #6392
i hope to get any option to fix that too..big problem when u delet some one and all posts not deleting with him

[2017-03-19 16:29] Nemra1 commented on #6365
@rajitgarg2  come to skype odratop10@skype

[2017-03-19 20:14] #4206 closed

[2017-03-19 22:08] localguru commented on #6392
@Sentinelrv: you can disable deleting accounts as admin: Settings -> Accounts -> Allow users to delete own account. Set it to false and an user can't delete his/her account. Instead of deleting I would deactivate accounts.

[2017-03-20 02:51] billtt commented on #6392
@Sentinelrv username and name can be changed by the user or admin.

[2017-03-20 02:53] Sentinelrv commented on #6392
Yes I know. I believe it was something the user did on his own.

Thank you @localguru. I have disabled account deletions until something is done about this.

[2017-03-20 08:32] brylie commented on #1112
@KptnKMan it is perfectly reasonable to offer a dissenting viewpoint. Please treat people who might not share the same viewpoint with the respect they deserve.

[2017-03-20 09:04] c-thomasFR commented on #5951
@engelgabriel I would like to do the same, can you explain me how you've done ? Thanks for your help

[2017-03-20 09:33] KptnKMan commented on #1112
@brylie I was perfectly respectful of his opinion, and I honestly think you should read back over his first input. He had nothing useful to add, and and I was being directly honest about that.

There is nothing wrong with what I said.
This is a feature request thread.

[2017-03-20 09:35] oliver-bowman commented on #6391
I had to do it with hubot as I could not see any other way of doing it.

[2017-03-20 09:50] Manu-H commented on #6391
How did you do that with the bot?Am 20.03.2017 10:35 Vorm. schrieb Oliver Bowman <notifications@github.com>:I had to do it with hubot as I could not see any other way of doing it.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-20 10:07] ZhaoVitapublic commented on #6323
I'm also looking for this information. I have found a url dummy.url/websocket to establish the socket connection via a java-client. But i can not do the authentication for it. Could someone help me on that?

[2017-03-20 11:57] YoShiiro opened #6393 "LDAP : no sync & error with openldap auth"
I got problem when i set LDAP to auth & synchronise user, i got strange errors & strange things, if someone can help me it would be create :).

On the rocket chat server if i test ldapsearch on the LDAP server (Not the same as the rocket chat server)
`ldapsearch -b dc=domain,dc=local -H ldap://10.0.1.2 -D cn=admin,dc=domain,dc=local -W "(&(objectClass=inetOrgPerson)(uid=*))"` This work and i got t

[2017-03-20 12:35] Huljo commented on #5226
Hi @graywolf336, I just tried the new "roomCreated" webhook but there is no post request when creating a new room... messages events work fine. :(

[2017-03-20 12:37] graywolf336 commented on #5226
Did you turn on debugging and see what that outputs?

On Mon, Mar 20, 2017, 9:35 AM Josselin Mo <notifications@github.com> wrote:

[2017-03-20 12:56] oliver-bowman commented on #6391
https://github.com/RocketChat/hubot-rocketchat And a script that places users into groups, places them as export variable.  The combination of two means that you can tag a group like this @platform and they will be dragged into the channel by the bot.

[2017-03-20 13:22] MartinSchoeler commented on #6355
@marceloschmidt Any ideas?

[2017-03-20 14:52] salj76 opened #6395 "How to use iframe integration for authentication: saml"
Rocket.Chat Version: 0.52.0
Running Instances: 1
Node Version: v4.7.3

I am using Rocket.Chat embedded in a parent web application. I am trying to seamlessly login automatically without having to show a login page from my parent page. I am using SAML to authenticate user but have not found any documentation on how this can be accomplished through an iframe the documentation mentions that you can c

[2017-03-20 14:53] Avlessi opened #6396 "ldap configuration file"
Hello!
Is it possible to configure ldap authentication using external configuration file?
In your documentation I've only seen a possibility of LDAP configuration using graphical interface. The context is that I need to have an automatized system of ldap authentication so that I didn't need to configure it manually every time rocket-chat is redeployed.

[2017-03-20 15:47] andreaazzara commented on #5503
Hi! I have the same issue, I managed to connect and login via websockets to the rocket chat server using this message format:

[code]

@engelgabriel What is the exact format for GCM and APNS token registration?
thanks

[2017-03-20 17:21] IQ2022 opened #6397 "ADMIN has the right to Turn ON and OFF Video Conference"
I like Jitsi, and i have enabled it in private rooms only, however i would like to have the ability to disable it from some rooms? alot of times users with read only join a room and they get to click on camera(jitsi), it would be good if we disable that? give admin more room controls..

Thank you

Rocket.Chat Version:
Running Instances:
DB Replicaset OpLog:
Node Version:

[2017-03-20 17:58] iacopo-papalini opened #6398 "Outgoing webhook inside docker fails with 403"
Rocket.Chat Version: 	0.53.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.7.3

Configured an Outgoing Integration.
**Event Trigger**: Message sent
**Enabled**: True
**Channel**: all_private_groups
**URLs**: http://172.17.0.1:8888/some_url
**Impersonate User**: True
**Script Enabled**: False

RocketChat runs in a docker container: another container in the same daemon publishes

[2017-03-20 19:24] ggazzo commented on #5870
@zorenleo , could you be more specifc? There are 2 "ways" to do a video conference. I made some test but works fine.

1º way -> webrtc button into "room info, or user info"
![image](https://cloud.githubusercontent.com/assets/5263975/24117588/88e2acae-0d89-11e7-9a87-3aa8ab369912.png)

2º way ->jitsi button on right bar
![image](https://cloud.githubusercontent.com/assets/5263975/24117482/2b7ac4a2-0d

[2017-03-20 19:30] #6391 closed

[2017-03-20 19:30] Manu-H commented on #6391
Thx

[2017-03-20 19:32] localguru commented on #6396
Hi,
you can change any configuration directly in mongodb, eg:

db.rocketchat_settings.update({'_id':'LDAP_Login_Fallback'}, {$set: { 'value':true }})

or check REST API

https://rocket.chat/docs/developer-guides/rest-api/settings/update

[2017-03-20 20:25] #6235 closed

[2017-03-20 21:21] athossouza opened #6402 "Server error when i will sending selected messages by email"
Hi
Server error when i will sending selected messages by email, but when I will test the smtp it work normally, I did this video for better explanation.

![sending mail error rocket chat](https://cloud.githubusercontent.com/assets/16904054/24122990/a54b7fa2-0d9c-11e7-9af8-e7bf0a442d98.gif)

[See Vídeo](https://youtu.be/36uNfyuceVA)

[Sending mail error Rocket Chat.zip](https://github.com/RocketCha

[2017-03-20 21:36] IQ2022 opened #6403 "changing General Room to Private , doesnt stop new members from joining in"
I have changed my general room default to Private from channel,  however new registered users are still able to join that room?? is this by design?

thanks,

I

Rocket.Chat Version:
Running Instances:
DB Replicaset OpLog:
Node Version:

[2017-03-20 22:24] lucasvanhalst commented on #6355
It's not fixed, just pulled master. Same issue.

[2017-03-20 23:07] htkibar commented on #1206
@jmls Using iframes and returning a token from your backend works. However, I seem not to be able to make logouts work, heh  (User immediately gets logged back in) :)

[2017-03-21 06:00] Julianoe opened #6405 "Feature Request : "night / dark mode" switch available to users"
I'm from the "blue light" fighters team and work (i guess like many of you) on screens a big part of the time, and my users too. One of the first thing that was asked to me when introducing Rocket : "does it have night mode ?"

I know we can redesign through the admin but i though it would be awesome (and not that complicated ?) to **add a Dark/light theme separation and let the user choose one or

[2017-03-21 06:22] iacopo-papalini commented on #6398
Adding and enabling the following script:
`class Script {
  prepare_outgoing_request({ request }) {
    console.log("***** SENDING POST");
    try {
    	var result =   HTTP.call('POST', 'http://172.17.0.1:8888/backend-api/v1/rocket-chat/incoming-message',
              { data: '123'});
       console.log(JSON.stringify(result));
       console.log("***** POST SENT");
    } catch (e) {
    	consol

[2017-03-21 06:40] iacopo-papalini commented on #6398
My fault: I left the default docker composer
HTTP_PROXY value on.

Closing ticket.

[2017-03-21 06:40] #6398 closed

[2017-03-21 07:27] pkgodara commented on #6402
Mine is working fine. I'm not able to reproduce this. Are you using docker? What does console output?

[2017-03-21 07:34] pkgodara commented on #6078
Hi, for sending the mails using mailer section, just type "[unsubscribe]" in Email body. It will automatically provide unsubscribe link and would work.

[2017-03-21 07:44] TheReal1604 commented on #6403
Hi @IQ2022,

i think the "default" setting in your room is persisting:

![image](https://cloud.githubusercontent.com/assets/5877910/24137110/8c22bc36-0e12-11e7-8fb2-ab6b2f0efc9e.png)

Can you check that in your admin settings?

[2017-03-21 07:58] xseguib commented on #4489
+1

[2017-03-21 08:20] teamsoo commented on #5878
@engelgabriel  Mine isn't working now (it used to work long time ago. just received a report from user).

Snap Rocket.Chat Version: 0.53.0
NodeJS Version: 4.7.3 - x64
Platform: linux
ReplicaSet OpLog: Disabled
Commit Hash: cbdc26ded8
Commit Branch: HEAD

Log
`rocketchat_lib rocketchat_lib.js:1092 Meteor ➔ method sendForgotPasswordEmail -> userId: null , arguments:  { '0': 'email@company.com' }`

F

[2017-03-21 08:48] soenkef commented on #6405
+1 nice feature!

[2017-03-21 09:15] GenericUK commented on #4752
Still the same problem

$ snap list
Name               Version  Rev   Developer  Notes
core               16-2     1512  canonical  -
rocketchat-server  0.46.0   204              -

$ snap --version
snap    2.23.5
snapd   2.23.5
series  16
ubuntu  16.04
kernel  4.4.0-66-generic

[2017-03-21 09:43] pierreozoux commented on #6235
Thank you very much this helps a lot to know that :)

[2017-03-21 10:14] victornewman commented on #1949
I have smilar question and I think many others. I have web site for this I have vps server and installed virtualmin, I can reach root I can create subdomain and I want to install rocket chat just for live chat.
Is it possible to setup on subdomain or we should forget about it?
If topic is closed so fast I think answer is no, we need to buy another vps server for chat but you know instead of paying

[2017-03-21 11:28] GenericUK commented on #4752
The reinstall fix above hasn't worked. Probably doesn't like the jump from 0.46 to 0.53
After install rocket chat will load then after copying backup to common it will fail.

$ sudo systemctl status snap.rocketchat-server.rocketchat-server.service
● snap.rocketchat-server.rocketchat-server.service - Service for snap application rocketchat-server.rocketchat-server
   Loaded: loaded (/etc/systemd/sy

[2017-03-21 11:50] athossouza commented on #6402
I use this command `snap install rocketchat-server` when I installed, this information is relevant for you?

[2017-03-21 12:08] lucasvanhalst commented on #6405
This is basically the same as #277, now that they've refactored a lot of the colours it should be a lot easier to implement

[2017-03-21 12:09] localguru opened #6406 "search field: find users by their real name (alias) and email"
Rocket.Chat Version: 0.52.0

Hi,

it would be helpful to find users by their real name (profile alias) and email address and not only by their username.

Ciao!

[2017-03-21 12:39] #5861 closed

[2017-03-21 13:57] graywolf336 commented on #6403
If you didn't set the `default` configuration setting on the room to false as TheReal mentioned, then yes that's working by design.

[2017-03-21 14:33] marceloschmidt commented on #6196
The `Mailer.sendMail` function is supposed to be used only by admins through the administration panel. I don't think having the `From` field there is a problem, unless you don't trust your administrators.

![image](https://cloud.githubusercontent.com/assets/1986378/24152347/223d11be-0e2a-11e7-8d0f-b17cdcb1c778.png)

@RocketChat/core thoughts?

[2017-03-21 14:37] ggazzo commented on #6403
@graywolf336  this option (channel ->private) shoud be disabled to default rooms?what do you think?

[2017-03-21 14:43] Huljo commented on #5226
Sorry, what do you mean by "tuning on debugging" ? :)

[2017-03-21 14:51] #5722 closed

[2017-03-21 15:02] #6273 closed

[2017-03-21 15:08] localguru commented on #6403
I can confirm. After setting default to false, new users can access the room anymore.

[2017-03-21 15:13] bbrauns commented on #5165
Is it possible to priorize this issue higher? We have the same problem in our instance and the workaround with "sync-data: true" is not optimal. It results in a ldap query for *every* user on login, which generates a lot of pressure on the ldap backends.

[2017-03-21 15:53] MartinSchoeler commented on #6231
@antpaw I will be closing this issue. If your question was not answered please reopen this. Thanks for the feedback!

[2017-03-21 15:53] #6231 closed

[2017-03-21 15:55] IQ2022 commented on #6403
there is no where to change default to no default

[2017-03-21 16:04] #6371 closed

[2017-03-21 16:11] IQ2022 commented on #6403
where to change default?
![image](https://cloud.githubusercontent.com/assets/12454319/24157371/91dfb6a2-0e2f-11e7-9b04-0a38ed328a86.png)

[2017-03-21 16:15] PotHix commented on #6348
I can confirm that. The workaround for us is restarting the application.
[code]

Running with Docker and streamcast.

[2017-03-21 16:49] IQ2022 commented on #6052
any update on this one? i still dont get any thumbnails show when i post a hyper link

[2017-03-21 17:10] ggazzo commented on #6403
You can just change to default if the channel is public... there are a problem if you open the info channel that you dont subscribe, but I will fix it.

[2017-03-21 19:01] sampaiodiego opened #6411 "Large image doesn't close properly if opening from "Files List""
Rocket.Chat Version: 0.53

If click in multiple links on the "Files List" before the first image show up, it will not close properly.

[2017-03-21 19:12] c-thomasFR commented on #1206
@jmls Can you explain me how to login just with token and login in the custom script when user is deconnected ? Thanks for your help

[2017-03-21 19:18] brynn-macpherson commented on #4489
Plus one for me as well, we're migrating from Slack and this will make things MUCH easier

[2017-03-21 20:08] graywolf336 commented on #6139
The `error-code-invalid` comes from when someone is trying to join a room and the room requires a join code to join.

@RocketChat/core thoughts on allowing users with the `bot` role to join channels ignoring the `joinCode` requirement?

[2017-03-21 20:21] Dracozny commented on #4489
Please just use the Thumbs up of the post you're +1ing. Otherwise, it drives unnecessary notifications to everyone following the issue.

[2017-03-21 20:27] alexroosenstein opened #6412 "API setAvatar remove/clear avatar"
Rocket.Chat Version: 0.53

I'm trying to connect RocketChat to another program I got running, and currently syncing the avatars (using the REST API users.setAvatar endpoint, with the avatarUrl argument). This works great in general, except when a user deletes their avatar (deletes, not replace with a new avatar), I can't remove it from RocketChat so it seems.

I tried sending an empty avatarUrl an

[2017-03-21 20:36] IQ2022 commented on #3600
is there a way to download email list??? into CVS from admin side???? it should be easy no?

[2017-03-21 21:35] armandomonzone commented on #746
hi guys!!

Someone have news about the revier the chat history??

I tried to export database and I can´t :(

Do you help me??

[2017-03-22 04:02] Maado commented on #4318
@kginstructor Thanks that works for me fine

[2017-03-22 06:54] almorel opened #6414 "Rocketchat S3 storage with radosgw provide by CEPH"
Hello,

Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disable
Node Version: v4.7.3

I try to configure an S3 storage provide by radosgw (CEPH). I just follow the instructions for minio or amazon and complete the amazon S3.

I apply also the CORs configuration to the bucket. When I try to upload a file from rocketchat, I get a "404 bad request" error from rocketchat and also

[2017-03-22 07:27] dmitrijnikolajev opened #6415 "Linux client generates high CPU load"
When rocket.chat linux client is running (even when not chatting) it constantly consumes CPU resources (~ 40% in my case). Using Ubuntu Gnome 16.10 (asus ux306ua hidpi screen 3200x1800).

Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.3

![screenshot from 2017-03-21 16-34-24](https://cloud.githubusercontent.com/assets/23337957/24186201/e54eafe0-0e

[2017-03-22 08:50] GenericUK opened #6416 "Livechat hidden conversations unhide if same user messages again"
RECREATE
Create 3 live chat conversations using the same name and email (use incognito browser)
Hide the conversations in admin
In a fresh incognito browser create another conversation, again using the same name and email.
End the conversation

ISSUE
The end conversation has to be clicked multiple times to end, this is because it is associating itself with the hidden conversations which are now un

[2017-03-22 09:25] GenericUK commented on #3303
Especially in a dockerised world. I've just lost all my data because the snap wouldn't upgrade and copying and restoring the snap common directory stopped rocket chat starting. Database backup and restore needs to be in all database dependant snaps.

[2017-03-22 09:48] shaharido1 commented on #6288
Hey, any news maybe? @MartinSchoeler

I don't really understand the instructions of setting up monitoring cams...
where are the settings..? for exemple I can't locate this "flex window" : "..Click on the top right arrow to open the flex window. You will see THREE buttons:"

thanks!

[2017-03-22 12:22] localguru commented on #6415
I can confirm such a behavior. The linux client seems to be very hungry at all and from time to time eats up CPU and memory.

[2017-03-22 13:54] marceloschmidt opened #6418 "Add Do not Disturb Mode / Snooze for notifications"
After #5373 is merged, #2707 and #2143 will be closed, but we still need the Snooze Notifications feature from #2143.

[2017-03-22 14:22] graywolf336 commented on #6336
Just submitted a pull request to allow this. :+1:

[2017-03-22 14:24] graywolf336 commented on #6139
@RocketChat/core would like your opinions on the above, otherwise I will just submit a pull request with changes to allow it.

[2017-03-22 14:26] graywolf336 commented on #6003
@jimscarver Did you get this working with the response and details from @faburem?

[2017-03-22 14:47] sampaiodiego commented on #6139
bots are becoming more powerful as admins.

my only concern is that all this _power_ is not clearly warned, so bot users can be not "secure" as they need to be.

otherwise I'm good with it.

[2017-03-22 14:57] Valiantiam commented on #1728
This is something our community would really love as well.

My thought on this is maybe there is a Bot Agent that could be used when it scrapes the site for a preview / summary? In this way, for example, phpbb forums can add a bot user that has read access, and can scrape general read only information in the same way to google or bing bots do.

[2017-03-22 15:23] jimscarver commented on #6003
Sandstorm changes the request and I was not able to get the integration
working.

On Wed, Mar 22, 2017 at 10:26 AM, Bradley Hilton <notifications@github.com>
wrote:

[2017-03-22 15:28] Valiantiam opened #6421 "Link Preview phpbb3.x | Log-in Required | Not Working | Browser Agent"
Rocket.Chat Version: 	0.52.0
Running Instances:  1
DB Replicaset OpLog: OpLog Disabled
Node Version: v4.7.3

---

I thought I would make an ticket here for others that might run into this issue or similar issues. I had a forum/web application (PhpBB) that blocked guests from read access on the website. Thus, anytime we posted a link from our community forums into the chat, it showed a "Login requi

[2017-03-22 15:28] Valiantiam commented on #6421
Self resolved. See all of my original notes on the issue and how it was resolved.

[2017-03-22 15:28] #6421 closed

[2017-03-22 15:46] jsumners commented on #5462
Please add support for https://github.com/RocketChat/Rocket.Chat/issues/4563

[2017-03-22 15:56] TheReal1604 opened #6423 "Image preview seems broken in electron / cordova in 0.54.0"
Rocket.Chat Version:  0.54.0
Running Instances: 1
DB Replicaset OpLog: yes

On the newest rocketchat build if i try to post a picture to a channel from cordova or electron the preview is broken. (But not the upload!) If i access the site with a web browser like google chrome, all seems fine. Also the native iOS app is working fine.

This is reproducable on the demo system.

Electron:
![image](http

[2017-03-22 16:11] kginstructor commented on #4318
Here is the exact index.php I am using: (keep in mind, this is php)
[code]
the \Cmn\Chat\Rocket\UserBased class:
[code]
which extends the \Cmn\Chat\Rocket\Base class:
[code]
You'll notice that I am using GuzzleHttp, so you have to have that somewhere loaded (our autoloader falls back to composer, so we just used composer to install that). You'll also notice I cache the auth response which mostly w

[2017-03-22 16:12] graywolf336 commented on #6003
Okay thanks for following up, @Sing-Li any ideas?

[2017-03-22 16:13] graywolf336 commented on #6139
@sampaiodiego How would you recommend overcoming that and fixing that?

[2017-03-22 16:14] kpcyrd commented on #5812
Your messages are only protected by https and are stored in mongodb as plain text.

There is a feature called "OTR", but it's a [custom implementation][1] that I don't recommend for anything remotely serious. :)

[1]: https://github.com/RocketChat/Rocket.Chat/blob/master/packages/rocketchat-otr/client/rocketchat.otr.room.js

[2017-03-22 16:15] graywolf336 commented on #5930
This is because the user, can be a bot, doesn't have the permission `mention-all` enabled by default, thus it's working as intended since enabling that permission on the user, or bot, fixes this.

[2017-03-22 16:15] #5930 closed

[2017-03-22 16:41] jy2008 commented on #6078
Thanks it works now. another question: it will always present a link to whoever i email to as below
https://chat.usorgames.com/mailer/unsubscribe/rYNQ7mvHv2hPpLDyy/1487221408395.
What is the purpose of this link, i clicked on it, it took me to some RC pg, is this link customizable?

[2017-03-22 16:46] pkgodara commented on #6078
I think it's unsubscribe link and compulsory to protect user rights and I don't think it's customizable.

[2017-03-22 16:47] pkgodara commented on #6078
It lets users unsubscribe themselves from such emails.

[2017-03-22 16:55] geekgonecrazy commented on #6423
I can confirm.  I'm seeing the same behavior in electron.  No errors in console log either :(

[2017-03-22 16:56] pkgodara commented on #6078
Please close the issue if problem is solved. Thanks

[2017-03-22 17:42] graywolf336 commented on #6139
After some discussion, it has been decided to add a permission to do what I suggested above. New permission would be something like `join-without-join-code` and every time the "bot" user needs to do something special we add a new permission instead of hard coding the role of bot.

[2017-03-22 18:09] tkuhrt commented on #5989
I have Version 1.3.1 (15) for Mac installed, and I have the same problem.  This it makes it extremely difficult to find the last unread message in a busy chat window.

[2017-03-22 18:45] felipeolcav opened #6428 "One-on-one chat as a widget"
Hey guys,

sorry if I'm bothering you with a know issue, but regardless many searches in the issues and google abroad, I'm not able to find a answer...

My question is:

- Is there any ready feature to embeding a chat **between** logged users in a site showing a widget with the list of users one can select and chat with?

I know about livechat, but, as far as I can see, it purpose is to offer a cu

[2017-03-22 19:10] sampaiodiego commented on #5806
thanks @timkinnane ..

The reset button doesn't work.. but agreed we shouldn't show it for blocked settings ;)

this is by design.. if a setting is hidden, no client can read it, just the server has access to it.

[2017-03-22 19:13] #6322 closed

[2017-03-22 19:16] robertwessen commented on #4318
```header('Access-Control-Allow-Origin:` '.$_SERVER['HTTP_ORIGIN']);
header('Access-Control-Allow-Credentials: true');```

potentially off-topic, my apologies...but doesn't this CORS config permit *any* script on *any* origin the ability to retrieve your user's RC login tokens?

[2017-03-22 19:45] Artraxon opened #6431 "Error while Uploading Picture"
Rocket.Chat Version: 0.53.0
Running Instances: 3
DB Replicaset OpLog: enabled
Node Version: 4.8.0 - x64

I'm using GridFS for file uploads, and getting the following error when uploading a file,
sometimes it works, but most of the times, it doesn't.

Error: ENOENT: no such file or directory, open '/tmp/ufs/3zCzpFck6TwDCcgTD'
  at Object.Future.wait (/app/bundle/programs/server/node_modules/fibers/

[2017-03-22 19:49] kginstructor commented on #4318
Yeah, @robertwessen , it sure does. I have several servers hitting it, and since the entire project is still in beta, that was the fastest way to get past the XSS limitations and move on with integration. Keep in mind, if the client hitting it is not already authenticated in the other system, `\Cmn\User::Current()` will return null and they just get an error, so the threat of exploit was low enoug

[2017-03-22 19:51] kginstructor commented on #6428
I wasn't able to find any such feature either, and so i am planning on building one in-house. But if you find one, or someone else has something they'd be willing to opensource, would save me a lot of time!

[2017-03-22 19:58] TheReal1604 commented on #5741
i close this issue because we now have merged docs. 👍

[2017-03-22 19:58] #5741 closed

[2017-03-22 20:24] armandomonzone opened #6433 "Review chat conversations"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disable
Node Version: v4.7.3

Hi guys, actually I have implemented rocket.chat in our infraestructure, I review the possibility to review the conversations for the register users.

I followed the steps to install, snap install rocketchat-server Ubuntu 16.

I check the correct path for the database but i do not locate it!

Can I

[2017-03-22 21:24] rhruiz opened #6434 "Error messages during update"
Rocket.Chat Version: 0.52.0 -> 0.53.0 and 0.53.0 -> 0.54.0
Running Instances: 2 (one with old version and one trying to start with the new version)
DB Replicaset OpLog: Enabled
Node Version: v4.7.3 (using the `rocketchat/rocket.chat` docker image with the version tag)

During the upgrades from 0.52.0 to 0.53.0 we encountered the message bellow.
We had to open a mongo shell and remove all entries f

[2017-03-23 00:19] timkinnane commented on #5806
How does it not work? For me, as pictured, It resets the setting (though in this case it shouldn't).

What about client side methods that use `RocketChat.settings.get` - There's a bunch of them, that seem pretty critical, like `Site_Name` - I assumed the reason to make a setting hidden, was to simplify settings pages by removing settings that would never change and/or are unnecessary for the insta

[2017-03-23 01:49] soundstorm opened #6435 "Rocket.Chat+ not loading on iOS"
Rocket.Chat Version: 0.54.0
Node Version: 4.5.0

Just installed RC+ on my iPhone (iOS 10.2.1, not tested with any RC instance before 0.54). But when entering the correct URL, I just see a spinning wheel. Neither local network nor LTE works. Wrong URLs will show error message, so connection from App to server somehow works. Regular Rocket.Chat App works, just the "plus" App not.
![img_9879](https:/

[2017-03-23 02:07] soundstorm commented on #6435
Seems to be more related to Rocket.Chat instance than the App itself (affects more than one device), so opened it here and over at the iOS Repo https://github.com/RocketChat/Rocket.Chat.iOS/issues/371

[2017-03-23 02:09] soundstorm commented on #6435
demo.rocket.chat is working with Rocket.Chat+ without problems.

[2017-03-23 05:32] RichardFoxworthy opened #6436 "Channel search does not find newly created channels"
Rocket.Chat Version: 0.54
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.3

Channel search cannot find newly created channels

To Reproduce:

1. Create a new channel
2. Search for the new channel name

[2017-03-23 05:38] RichardFoxworthy opened #6437 "Channel search click breaks channel list display"
Rocket.Chat Version: 0.54
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.3

When I click into the channel search field, the Channels and Users list in left panel gets redisplayed in some random order, and without the section headings like 'Channels' 'Direct Messages ' etc

This reordered list looks exactly like the normal default list, so execpt for the blinking cursor in th

[2017-03-23 07:56] juanrhino opened #6438 "Channels disappear for some use users"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.8.0

Some users have felt a problem with the channels, it looks like they are not longer part of some channels, such as #general, but when they logout and login again some times it work (in some cases it's worst, and they have to repeat the process). It looks like a cache problem. We already disabled to change th

[2017-03-23 08:48] danpospisil commented on #6423
The same here .. please release a fix ASAP and not in 3 weeks. Users are really starting to ask questions why we dont move to Slack and its harder to me to convice them that RC is a good choice with every release that breaks a major feature..

[2017-03-23 09:22] danpospisil commented on #6423
And one more thing I have just noticed - Giphy (https://rocket.chat/docs/administrator-guides/integrations/giphy) doesn't even load in browser.

[2017-03-23 10:29] nzhtrtlc opened #6439 "interfaceConfigOverWrite does not apply changes."
Rocket.Chat Version: 0.53.0
Running Instances: i don't know whats this
DB Replicaset OpLog: i dont know whats this
Node Version: v6.9.5

I want to configure settings in [LivechatVideCall.js](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-livechat/app/client/lib/LivechatVideoCall.js)

I'm trying to over write interfaceConfig settings but my configures does not effect to

[2017-03-23 11:49] TheReal1604 commented on #6435
@soundstorm got the same issue, and found the problem at my reverse proxy. Please check if it supports websockets. And the correct rewrite:

With this apache2 ProxyPass Rules it works nicely:

[code]

[2017-03-23 12:30] B-Stefan commented on #1669
Maybe this is interesting for you.
To add your own fly in panel I developed a docker container that pulls the RocketChat source code and generates a new build of RocketChat with your custom meteor module.

**This is highly experimental**

https://github.com/B-Stefan/Sofia/tree/master/service-rocket-chat

[2017-03-23 12:44] cescgie commented on #5878
Ok i finally found the problem.
This is message that i got in my sendgrid from each email activity that had been blocked from sendgrid

[XXXXXXX] Our system has detected that this message is not RFC 5322 compliant: 'From' header is missing. To reduce the amount of spam sent to Gmail, this message has been blocked. Please visit https://support.google.com/mail/?p=RfcMessageNonCompliant and review RF

[2017-03-23 12:44] soundstorm commented on #6435
Ah, okay. Thank you, worked.
Is this documented?

[2017-03-23 12:44] #6435 closed

[2017-03-23 13:06] rafaelks commented on #6435
Awesome! Thank you @TheReal1604!

[2017-03-23 13:17] Rohlik commented on #6415
I think this is problem with node.js itself.
https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-performance#running-multiple-instances-per-host-to-improve-performance

[2017-03-23 13:23] Rohlik commented on #117
I think this is implemented in https://github.com/RocketChat/Rocket.Chat/commit/976dcef1e76e5f472b003372bf92eb1c3d9c7709

[2017-03-23 13:30] Rohlik commented on #1038
This is already done I think.
https://sameroom.io/open-a-tube/signin/rocketchat

[2017-03-23 13:35] graywolf336 commented on #1038
Yes indeed, thank you @Rohlik

[2017-03-23 13:35] #1038 closed

[2017-03-23 13:36] Syirrus commented on #2304
@shaharido1 I'm having the same problem. Were you able to resolve this?

[2017-03-23 13:57] devoger opened #6440 "Canned messages, Auto-response and Pro-active chat"
Hello,

Congrats with this amazing software! Loving it even more everyday!

Do you have any future plans to add these functionalities? I do not see an updated roadmap so I am posting it here.

I believe these features are essential for providing an extraordinary support to customers.

1. Canned messages
Would be great if we can create a canned messages. It will allow us to provide a more efficient

[2017-03-23 14:06] sampaiodiego commented on #5806
it looks it resets, but it doesn't :stuck_out_tongue: anyways, I've submitted a PR (#6432) to fix this weird behavior.

I see what you want, but it was designed to prevent settings being sent to client.

[2017-03-23 14:07] graywolf336 commented on #4835
Closing this because recent updates to the Integrations have improved them and removing an integration actually removes them. However, if something tries and fails and the retries is on then it will keep retrying even if the integration was removed or disabled. Working on fixing that now.

[2017-03-23 14:13] sampaiodiego commented on #2304
have you guys correctly configured the `Custom Fields` under `Administration > Accounts > Registration`?

[2017-03-23 14:16] gerbsen opened #6441 "SAML Integration missing hash algorithm"
hey there,
I've set up rocket.chat with SAML and my IdP added me. So far so good. The issue now is that:

    Sorry, an annoying error occured
    Error: hash algorithm 'http://www.w3.org/2001/04/xmlenc#sha512' is not supported
    Close Window

Is there anything I can do to fix that?

Cheers,
Daniel

Rocket.Chat Version:  0.51.0
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: 4.7

[2017-03-23 14:17] islammuezzinoglu opened #6442 "CHAT"
Rocket.Chat Version: 1.0.0.0
Running Instances:
DB Replicaset OpLog:
Node Version:

[2017-03-23 14:25] Syirrus commented on #2304
@sampaiodiego I have not. I just added the fields manual to my document i.e.

   "_id" : "Giek2324dsd",
    "customFields" : {
        "situation" : "I was hurt by a person.",
        "amount" : "50",
        "isShowing" : false
    }

So I have to add the custom fields in the admin section and then the API (users.update) will work?

Syirrus

[2017-03-23 14:36] sampaiodiego commented on #2304
Yes, exactly

[2017-03-23 14:37] quinox opened #6443 "Change of UID broke uploads"
Rocket.Chat Version: 0.54.0

Between version 0.34.0 and 0.53.0 the UID of rocketchat was 999. With 0.54.0 it's 99999:

[code]

This broke file permissions of the docker upload volume for me.

---

EDIT: For other people with the same issue: To fix my installation I ran `chown -R 99999:99999 /var/rocketchat/uploads` on the Docker host

[2017-03-23 14:47] Syirrus commented on #2304
@sampaiodiego I added the custom fields as such to the Admin section:

{
  "bounty" : {
    "situation": "text",
    "willPay": "text",
    "isShowing": false
  }
}

I'm POSTing to my url and get the following return:

<all of my data>
"success": true

But, when I look at my "bounty" key it's exactly the same
I've checked my variable types and all is consistent with what I added in the Custom Sect

[2017-03-23 15:04] Syirrus commented on #2304
@sampaiodiego nevermind I took a break and looked at what I was doing and figured it out. Sorry for bothering you and thank you for your response earlier!

[2017-03-23 15:05] vishnuprabhu-g opened #6444 "Heroku install failed"
Rocket.Chat Version: 54
Running Instances: heroku
DB Replicaset OpLog: --
Node Version: --

I'm getting below error

<details>
│ ├─┬ tdigest@0.1.1
│ │ └── bintrees@1.0.1
│ └── util-extend@1.0.3
├── semver@5.3.0
└── toastr@2.1.2
-----> Building Meteor app with ROOT_URL: https://vischat.herokuapp.com
=> Errors while initializing project:
While loading emojione:emojione@2.2.6...:
error: Command faile

[2017-03-23 15:18] dmitrijnikolajev commented on #6415
No problems with CPU load if I use rocket.chat via web browser on my Linux laptop. With Linux client the CPU cores are constantly loaded.

[2017-03-23 15:55] jbarrere commented on #1628
@OrdinaryGuy, just add a link in the Side Navigation Footer
`<a href="/home"><img style="left: 10px; position: absolute;" src="/assets/logo.png" /></a>`

[2017-03-23 16:15] MartinSchoeler commented on #6437
@RichardFoxworthy I'm pretty sure this is a feature, when you click the search it shows the last channels you were in. Maybe make it more visible that this is a list with the channels you last entered?
@karlprieb What do you think?

[2017-03-23 16:20] #6442 closed

[2017-03-23 16:27] MartinSchoeler commented on #6436
@RichardFoxworthy are you sure you are currently not in the channel you are searching for? Since it will show the channel in the search if you are in it. Thanks for the feedback!

[2017-03-23 16:37] pierreozoux commented on #6236
I'm looking to PR the Docs repo.
So far, I'm using this little script inside this repo:

[code]

This would be nice to have a way to document this in an array:

| Environment Variable | Description | Type | Default |
|------------------------------|-----------------|--------|-----------|
| WebRTC_Enable_Channel | Enable WebRTC Visio Conference in Channels. | false | boolean |

For this we would ne

[2017-03-23 16:45] pierreozoux commented on #6236
Ok, but not all settings are added with '@add" like Jitsi_Enabled for instance. Need to figure out a better script.

[2017-03-23 16:50] pierreozoux commented on #6194
I tried to reproduce, and didn't manage, never mind.

[2017-03-23 16:50] #6194 closed

[2017-03-23 16:50] #6423 closed

[2017-03-23 16:56] pierreozoux commented on #6192
@sampaiodiego thanks for your answer.

Actually the doc is pretty clear about it. As I know about MAIL_URL, it is strange for me as a meteor user.

I created this PR: https://github.com/RocketChat/Rocket.Chat.Docs/pull/260 to simplify the doc, and remove reference to MAIL_URL as it is not really needed then.

[2017-03-23 16:56] #6192 closed

[2017-03-23 17:03] pierreozoux commented on #6196
@marceloschmidt yes sorry about the security issue, you are right, it is not.

I was confused at first because, I'm a meteor user, and I expect MAIL_URL to work. But as explained in #6192 and the documentation, SMTP settings need also to be specified for a proper working Rocket.Chat instance.

I still think that sending emails should be refactored for 2 reasons:
 - clarity of the code, one functio

[2017-03-23 17:08] MartinSchoeler commented on #348
@engelgabriel is this still a issue?

[2017-03-23 17:21] MartinSchoeler commented on #117
@marceloschmidt has this already been implemented? Can we close this issue?

[2017-03-23 17:24] MartinSchoeler commented on #523
@geekgonecrazy  @graywolf336 Can we close this?

[2017-03-23 17:26] MartinSchoeler commented on #521
@graywolf336 can we close this?

[2017-03-23 18:09] k0nsl opened #6448 "Livechat widget and headers"
Rocket.Chat Version: 0.54.0

I see this in the console log of Chromium:

I have correctly filled `Livechat allowed domains` with the appropriate value. I'm just throwing this out there in case it hasn't been caught already.

[2017-03-23 18:20] TheReal1604 commented on #6062
Got this also on a 0.51.0 deployment with oplog.. but only for one specific message in a new created channel. Crazy.

[2017-03-23 18:30] freshmonarch opened #6451 "Why do some gifs auto play while others do not and require you to click on them"
Rocket.Chat Version: 2.4.0
Running Instances:
DB Replicaset OpLog:
Node Version:

[2017-03-23 18:31] KirbySSmith commented on #5585
This issue is fixed by https://github.com/RocketChat/Rocket.Chat.Cordova/pull/182

[2017-03-23 19:07] lazbog opened #6452 "Fail with Heroku deployment"
I want to deploy Rocket.Chat to Heroku. I Press button, it gets me to Heroku dashboard where I input app name and click Deploy btn. Here is the log:

-----> Node.js app detected
-----> Listing HEROKU_ environment variables
HEROKU_APP_ID:
HEROKU_APP_NAME:
HEROKU_DYNO_ID:
HEROKU_RELEASE_VERSION:
HEROKU_SLUG_COMMIT:
HEROKU_SLUG_DESCRIPTION:
-----> Installing meteor
Downloading Meteor distribution
Met

[2017-03-23 19:09] Rohlik commented on #3941
I think this should be closed.

[2017-03-23 19:14] geekgonecrazy commented on #523
@MartinSchoeler I think so.  I haven't seen this happen in a long time.

[2017-03-23 19:14] #523 closed

[2017-03-23 19:15] MartinSchoeler commented on #3941
@usmanasif I will close this issue, if the problem persists, please reopen this. Thanks!

[2017-03-23 19:15] #3941 closed

[2017-03-23 19:42] marceloschmidt commented on #3625
@sandrabordini2 do you mind creating a PR with your proposed changes? Thanks!!

[2017-03-23 19:47] recteurlp commented on #6383
The problem persist on 0.54.0 image and 0.55.0-develop

as a workaround i'll set `<img src="assets/logo" />` on the html part instead of `{{{ footer }}}`

[2017-03-23 20:00] geekgonecrazy commented on #4357
Opened an issue on that repo: https://github.com/RocketChat/Rocket.Chat.Electron/issues/407

[2017-03-23 20:01] #4357 closed

[2017-03-23 20:19] #5806 closed

[2017-03-23 20:21] #5883 closed

[2017-03-23 20:23] MartinSchoeler commented on #1143
@vjeux hasn’t seen this bug recently, for now i will close this. Please reopen this if the bug show up again.

[2017-03-23 20:23] #1143 closed

[2017-03-23 20:25] MartinSchoeler commented on #1142
@vjeux I think that has already been fixed, if not, please reopen this. Thanks!

[2017-03-23 20:25] #1142 closed

[2017-03-23 20:28] #6403 closed

[2017-03-23 20:30] MartinSchoeler commented on #983
@mitar should this issue be closed?

[2017-03-23 20:31] #5761 closed

[2017-03-23 20:31] #6342 closed

[2017-03-23 20:32] #6416 closed

[2017-03-23 20:33] #5793 closed

[2017-03-23 20:36] #6247 closed

[2017-03-23 20:36] #6248 closed

[2017-03-23 20:36] MartinSchoeler commented on #1721
@sampaiodiego so should this issue be closed?

[2017-03-23 20:37] #4463 closed

[2017-03-23 20:38] #5998 closed

[2017-03-23 20:38] sampaiodiego commented on #1721
@MartinSchoeler no.. we have to decide to whether remove the page or fix it.

[2017-03-23 20:49] MartinSchoeler commented on #1633
@meteorplus I think that issue has already been fixed, if not, please reopen this. Thanks!

[2017-03-23 20:49] #1633 closed

[2017-03-23 20:51] MartinSchoeler commented on #1814
@joubertredrat is this still a issue?

[2017-03-23 20:54] joubertredrat commented on #1814
@MartinSchoeler for me this issue can be closed, I didn't do any more tests.

[2017-03-23 21:02] mitar commented on #983
Yea. It can be.

[2017-03-23 21:02] #983 closed

[2017-03-23 21:08] #6336 closed

[2017-03-23 21:36] #6139 closed

[2017-03-23 21:37] danpospisil commented on #6423
Thanks guys! I hope this is the version we can finally hold to for a while!

[2017-03-23 22:46] rodrigok commented on #6386
@drastik Did you update your installation?

[2017-03-23 22:46] rodrigok commented on #6386
@drastik Did you execute `meteor update`?

[2017-03-23 23:11] ryepdx commented on #1615
Likewise would like such a feature. Have been considering just writing a utility to handle it. What's the blocker here?

[2017-03-23 23:27] #6386 closed

[2017-03-23 23:35] ssbarnea commented on #3097
Sorry to say it but the current implementation of the plugin is utterly useless: **no support for API keys and WebHooks**, which renders any enterprise level deployment impossible (2FA and SSO = no passwords).

Even once the support for webhooks and tokens will be sorted we will still not be able to configure notifications per job, which means that any team of more than 10 people will not able to

[2017-03-23 23:42] fifou17 opened #6454 "autotranslate"
Rocket.Chat Version: 0.54.0
Running Instances: 1
DB Replicaset OpLog: yes
Node Version: 4.7

auto translate doesnt work its give error 403 permission denied
[code]

[2017-03-24 03:46] HighwayStar commented on #5825
Still same issue on just upgraded 0.54.1.
[code]

[2017-03-24 03:56] HighwayStar commented on #5825
Login page logo now works, chat page logo not https://mydomain.com/assets/logo

[2017-03-24 04:08] billtt opened #6460 "Can't see uploaded images on desktop apps since 0.54.0"
Rocket.Chat Version: 0.54.0
Running Instances: 1
DB Replicaset OpLog: 1
Node Version: 4.5.0

After upgraded to 0.54.0, all users can't see uploaded images in desktop apps. I find that this problem is caused by commit 2834b3f88ab07221351fc483454ea895151225e1
I don't quite understand the commit, can someone from the team explain it? Thanks.

[2017-03-24 05:39] timkinnane commented on #5806
Surprised to see this closed. As per @engelgabriel's initial response, the least I was hoping for was some docs for these features. Especially as its not at all obvious how they're meant to behave.

[2017-03-24 07:35] billtt commented on #6454
Did you set the Google API Key? Also, you need to make sure that you have enough fund in your Google developer console to use the translation API. You can input your payment info to get a $300 / 1 year free trial quota.
You can checkout your current quota at https://console.developers.google.com/apis/api/translate.googleapis.com/quotas

[2017-03-24 07:37] TheReal1604 commented on #6460
@billtt please update to 0.54.1 which was released yesterday. This fixes the issue. :-)

[2017-03-24 07:37] Rohlik commented on #3097
@ssbarnea This plugin is not development by RC team. But You can setup different notification settings for different job in Jenkins.

[2017-03-24 07:45] billtt commented on #6460
@TheReal1604 thanks!

[2017-03-24 08:03] Nirzol opened #6461 "Add LDAP synchro with CAS auth"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

Hello,
Our CAS not send information about mail or name.
So can you make an option to make a synchro with LDAP to get information when user connect on CAS ?

Or is there a solution already ?

Thanks

[2017-03-24 09:49] #6460 closed

[2017-03-24 09:58] billtt opened #6462 "Auto translate breaks room preview"
Rocket.Chat Version: 0.54.1
Running Instances: 1
DB Replicaset OpLog: true
Node Version: 0.45.0

1. Enable Auto Translate and input API Key
2. Grant auto-translate permission to all users
3. Click a channel that haven't opened before (from all channels list)
4. The room shows blank instead of preview messages, and reports the following error messages in console: `TypeError: Cannot read property 'a

[2017-03-24 10:55] Xarkam commented on #6443
I suggest to modify the https://github.com/RocketChat/Docker.Base.Image/blob/master/Dockerfile to remove the -g 99999 and -u 99999 to let the system make the group and id for user rocketchat.

I my case, my system have already a 999 user. So, rocketchat dont create rocket user/group

[2017-03-24 11:34] xilu0 commented on #5151
hi，@TheReal1604
ProxyPassMatch ^/sockjs/(.*)/websocket ws://127.0.0.1:3000/sockjs/$1/websocket
                ProxyPass / http://127.0.0.1:3000/
This config are use one server? but I would like to have multiple back-end servers.
Thanks for your respone!

[2017-03-24 11:35] Rohlik commented on #935
We already have this implemented, right? If yes, we can close this...

[2017-03-24 11:37] marceloschmidt commented on #935
Right @Rohlik thanks for point that out ;)

[2017-03-24 11:37] #935 closed

[2017-03-24 11:40] TheReal1604 commented on #5151
@xilu0 yes, at the moment the loadbalancing is done on a openstack lb (based on haproxy, but not that configurable) So we do ssl terminating not on the LB, but on the RC server itself.

If you want to use apache2 or nginx as a lb for several instances.. you can follow this guide: https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-performance

[2017-03-24 11:44] Rohlik commented on #1457
We can close this.

[2017-03-24 11:47] marceloschmidt opened #6463 "On admin, indicate settings are being saved after clicking the "Save changes" button"
Sometimes it takes a long time between clicking the "Save" button and the message that settings have been saved.

[2017-03-24 11:48] Rohlik commented on #1492
I think this is solved, so we can close this.

[2017-03-24 11:50] recteurlp commented on #5825
Another issue is open #6383

[2017-03-24 11:53] Rohlik commented on #1593
This is solved in https://github.com/RocketChat/Rocket.Chat/commit/ffc0bdaed34af88bddc16d7eedb2cfeb635cd0d3, right?

[2017-03-24 11:56] #117 closed

[2017-03-24 11:56] marceloschmidt commented on #117
Thanks @Rohlik and @MartinSchoeler

[2017-03-24 11:59] marceloschmidt commented on #6462
Thanks @billtt this is duplicate of #6355 and I just found the origin of error. So this should be fixed by the next release.

[2017-03-24 11:59] #6462 closed

[2017-03-24 12:00] #6355 closed

[2017-03-24 12:01] xilu0 commented on #5151
@TheReal1604
I have tried to https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-performance.
There's one problem ,The messages send are not displayed directly if you are connected to a different node, the user have to refresh the browser to see all other messages send to the other node,  I am a multiple server, not only multiple instances ,
I can config "INSTAN

[2017-03-24 12:20] MartinSchoeler commented on #6451
@freshmonarch which platform are you using?

[2017-03-24 12:58] freshmonarch commented on #6451
I'm just using the desktop app

[2017-03-24 13:32] comander192 opened #6465 "Rocketchat(+) apps cant connect to Server"
Rocket.Chat Version: 0.54.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.1

Hello,

We have set up a new Rocketchat Server from scratch yesterday with Version 0.54.1. Today none of our mobile apps can connect to the server, happens on Android and iOS.

We are using the newest app versions 2.5.0 for regular Rocketchat and 1.0.8 for Rocketchat+. Uninstalling and resinstalling

[2017-03-24 13:38] graywolf336 commented on #6412
@alexroosenstein I do believe you're correct, this is just not currently possible. Feel free to submit a pull request though to implement that feature! :+1:

[2017-03-24 13:39] fifou17 commented on #6454
@billtt i did set google api in api console

[2017-03-24 13:50] rafaelks commented on #6388
@roketsohbet

- Can you send me some video/screenshot?
- The app closes or it just doesn't connect?
- Does your server support SSL (valid)?

[2017-03-24 13:54] MartinSchoeler commented on #6389
Duplicate of #3480 and #3481

[2017-03-24 13:54] #6389 closed

[2017-03-24 14:02] MartinSchoeler commented on #6380
Bug confirmed on demo and local

[2017-03-24 14:12] #1814 closed

[2017-03-24 14:14] MartinSchoeler commented on #2301
@jmatsushita @samhocevar If the bug reappears please reopen this. Thanks!

[2017-03-24 14:16] #2301 closed

[2017-03-24 14:20] MartinSchoeler commented on #4044
@candro Since this issue hasn't been updated for so long, I'm closing it until we see it happen again. Please reopen if so. Thanks.

[2017-03-24 14:20] #4044 closed

[2017-03-24 14:28] MartinSchoeler commented on #5306
@RomanKisilenko I will be closing this issue then. If the bug reoccurs please reopen this. Thanks for your feedback!

[2017-03-24 14:28] #5306 closed

[2017-03-24 14:30] MartinSchoeler commented on #348
@engelgabriel I will close this issue. Reopen if this bug still exists

[2017-03-24 14:30] #348 closed

[2017-03-24 14:31] MartinSchoeler commented on #4645
Hey @derrickdunville , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 14:31] #4645 closed

[2017-03-24 14:35] MartinSchoeler commented on #5594
@Syirrus Is the problem solved then?

[2017-03-24 14:37] MartinSchoeler commented on #3988
Hey @kashifnawaz123 , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 14:37] #3988 closed

[2017-03-24 14:41] MartinSchoeler commented on #1850
@maxsdw is this still a issue?

[2017-03-24 14:43] MartinSchoeler commented on #1973
@marceloschmidt is this still a issue or it has been resolved by now?

[2017-03-24 14:45] MartinSchoeler commented on #2115
@sampaiodiego is this still happening?

[2017-03-24 14:47] MartinSchoeler commented on #2111
@rodrigok can this issue be closed?

[2017-03-24 14:49] sampaiodiego commented on #2115
yes

[2017-03-24 14:49] MartinSchoeler commented on #2053
Hey @jadeqwang , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 14:49] #2053 closed

[2017-03-24 14:56] MartinSchoeler commented on #2098
Hey @jcardila , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 14:56] #2098 closed

[2017-03-24 14:56] laggedHero commented on #6465
@comander192 We have some updated Apache proxy docs (https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy#running-behind-an-apache-ssl-reverse-proxy). Have you seen them?

Could you please contact me on https://demo.rocket.chat (tiago.cunha) with and user and pass?

That way I could try and see what may be happening on the wire.

Thank you.

[2017-03-24 14:57] MartinSchoeler commented on #2559
@sampaiodiego can this issue be closed?

[2017-03-24 15:04] MartinSchoeler commented on #2813
Hey @zxweed , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 15:04] #2813 closed

[2017-03-24 15:06] MartinSchoeler commented on #2833
@karlprieb this is still happening on the latest version

[2017-03-24 15:09] MartinSchoeler commented on #2644
@amitmeyraz  Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just

[2017-03-24 15:14] MartinSchoeler commented on #3002
@geekgonecrazy have you seen this bug happening recently?

[2017-03-24 15:16] MartinSchoeler commented on #3095
Hey @{name}, I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 15:16] #3095 closed

[2017-03-24 15:17] MartinSchoeler commented on #2880
@jhiswin  Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just to

[2017-03-24 15:21] MartinSchoeler commented on #2213
Hey @eriksays , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 15:21] #2213 closed

[2017-03-24 15:22] MartinSchoeler commented on #3132
@agrover Is this still happening in the latest release?

[2017-03-24 15:23] MartinSchoeler commented on #3142
Hey @anonymouse64 , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 15:23] #3142 closed

[2017-03-24 15:31] MartinSchoeler commented on #3219
Hey @connorshea , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 15:31] #3219 closed

[2017-03-24 15:58] geekgonecrazy commented on #3002
I personally don't know that I ever saw it.  Going to go ahead and close.  @maxsdw let me know if this was closed in error.

[2017-03-24 15:58] #3002 closed

[2017-03-24 16:06] geekgonecrazy commented on #6433
@armandomonzone the db for snaps are in: /snap/rocketchat-server/common/

But with snaps you can do a db dump via: `sudo snap run rocketchat-server.backupdb`

As to importing into SQL. Mongodb is a NoSql database you aren't going to be able to simply import into sql.

[2017-03-24 16:06] #6433 closed

[2017-03-24 16:08] geekgonecrazy commented on #1492
@Rohlik I believe so.  I'll go ahead and close @marceloschmidt / @sampaiodiego let me know if closing in error :)

[2017-03-24 16:12] MartinSchoeler commented on #2967
Hey @giray , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-24 16:12] #2967 closed

[2017-03-24 16:15] MartinSchoeler commented on #3188
@gregorycoleman is this still happening in the latest release?

[2017-03-24 16:22] sampaiodiego commented on #1492
We still need a restart for Push notification settings.

[2017-03-24 16:24] sampaiodiego commented on #2559
no @MartinSchoeler

[2017-03-24 16:35] geekgonecrazy commented on #5806
@timkinnane did some preliminary documenting of this here: https://github.com/RocketChat/Rocket.Chat.Docs/issues/261

[2017-03-24 16:37] gerbsen commented on #6441
Metadata from IdP: https://netz.gruene.de/saml2/idp/metadata.php
Metadata from SP: https://chat.ichbinmitdergesamtsituationunzufrieden.de/_saml/metadata/gruener-chat

[2017-03-24 17:53] geekgonecrazy commented on #1492
@sampaiodiego ah right... we don't have a note there telling them a reboot is needed.  Re-opening..

[2017-03-24 17:57] localguru commented on #6389
Why closed, if there is no solution? I think it's a security issue.

[2017-03-24 18:02] Syirrus commented on #5594
@MartinSchoeler Yes everything seems to be working :)

[2017-03-24 19:01] k0nsl opened #6475 "Manifest missing for Rocket.Chat 0.54.2"
When I try to pull `0.54.2` I get the following error:

[code]

[2017-03-24 19:05] engelgabriel commented on #6475
Need to wait for https://travis-ci.org/RocketChat/Rocket.Chat/builds/214761196 ;)

[2017-03-24 19:05] #6475 closed

[2017-03-24 19:32] recteurlp commented on #6383
To fix this :
- Go to the Administration menu
- Choose "Appearance" menu.
- In the "Content" Section replace the old footer by the new `<img src="assets/logo" />`
- Save

[2017-03-24 19:32] #6383 closed

[2017-03-24 19:59] pixelbacon commented on #6452
++

[2017-03-24 20:02] mcgoosh opened #6477 "mini-files.js - const unicodeNormalizePath"
I have Rocket.Chat installed and running on a Cent 6 box.  There is no sysinit script so I opted to use the forever route.  Upon boot this is the message I get with forever.

[code]

[2017-03-24 20:36] graywolf336 commented on #6115
Since there's nothing we can do inside Rocket.Chat, can this be closed since the pull request above seems fix the issue?

[2017-03-24 20:44] mcgoosh commented on #6477
I just ended up setting the exported variables and launch of main.js in rc.local.

[2017-03-24 20:45] #6477 closed

[2017-03-24 21:50] purp commented on #1177
Hi, @marceloschmidt.

This issue seems to mean "Create an integration between Rocket.Chat and Trello" **which depends on but is not a duplicate of** "Create an external API that can be used to enable integrations."

Is this out of scope for this project? If not, could we please re-open this until there is either an existing integration that enables actions in Trello to be reflected in a Rocket.Cha

[2017-03-25 00:13] soundstorm commented on #6465
See also #6435

[2017-03-25 02:10] xilu0 opened #6480 "Do Rocket.Chat support multiple server load balancing? Distributed deployment"
Do Rocket.Chat  support multiple server load balancing? The following is my configure nginx reverse proxy:
`upstream backend {
    server 172.19.6.25:3001;
    server 172.19.6.26:3001;
    server 172.19.6.27:3001;
}
server {
    listen 80;
    server_name localhost;

    error_log /var/log/nginx/rocketchat.access.log;
location / {
        proxy_pass http://backend;
        proxy_http_version 1.1;

[2017-03-25 09:48] localguru opened #6481 "SAML: changing realname and email address results in new user"
Rocket.Chat Version: 0.52.0

I get a unique and never changing nameid (mapping) from my IDP, like integernumber@domain.tld. This IDP nameid never changes, even if the user's realname or email address or IDM username change. Rocket.Chat as SP creates a new user if those attributes change. Any idea how to avoid that? The idea of an central identity management is having a never changing unique id, ev

[2017-03-25 12:40] RichardFoxworthy commented on #6436
Yes, it will not show the result if you are already in the channel.

I get it that it's unlike a user would search for a channel that they are already in, but it seems very weird to exclude current   Handel from the search results.

I think current channel should be included in results list when it matches the search term

[2017-03-25 12:45] RichardFoxworthy commented on #6437
I think it should not show any results at all until after the user has input some characters to search on.

It feels wrong for it to immediately show some new list, and the list does not reflect recent channel usage anyway.

[2017-03-25 13:45] IQ2022 opened #6482 "Method of tracking every upgrade and performance?"
I don't know if this fits in an issue, but how do you guys track every upgrade from one release to the other , do you have a mechanism on track performance/bugs added/removed ?? Every time i do an upgraded, i have this fear something might not work,.. so far it has been solid
but as this product get closer 1.. i feel there should be a way to quality control it? thoughts

Rocket.Chat Version:
Runni

[2017-03-25 13:59] nadavbrkt commented on #918
Are we getting anywhere with this? is there any reason not to edit [markdown.coffee](https://github.com/RocketChat/Rocket.Chat/blob/c0a3ca004fae1e118f60a59d035e56acdf9960cf/packages/rocketchat-markdown/markdown.coffee) to handle wanted markdown features?

[2017-03-25 14:37] jemus42 commented on #6360
What do you mean? I just tried to set up the bridge and added a new bot for that, receiving a token.

![](https://dump.jemu.name/2017-03-vx6cmpockqw4vsp.png)

The actual syncing however does not work, which is how I found this issue.
So… _if_ I have a bot API token, _should_ the bridge work?

[2017-03-25 17:59] Vonnguru commented on #6360
Yes, it does work but the documentation on how to set things up is incorrect.

The proper link is https://slack.com/apps/A0F7YS25R-bots

The documentation needs to be updated.

[2017-03-26 00:43] jemus42 opened #6483 "Sign in with OAuth service for existing users doesn't join accounts, but creates new user"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.7.3

Steps taken:

- Create admin account after initital Rocket.Chat setup
- Configure OAuth providers
- Go to my profile -> Avatars
- Log in with Facebook, sign in
-> Rocket.Chat forces me to select a new username (choosing my existing one results in conflict)
- Try the same with Twitter login, same res

[2017-03-26 01:15] roketsohbet commented on #6388
Hi @rafaelks , i sent u an email related to this  topic. Check ur rafaelks@me.com email .

[2017-03-26 01:46] timkinnane commented on #5806
Thanks Aaron. 👍

[2017-03-26 06:48] shaharido1 commented on #2304
Hey @Syirrus I also missed the part of adding the fields to the registration tab. Maybe it's worth to add it to the docs, as it's not very intuitive..

[2017-03-26 08:09] MAB-Yaka commented on #6444
Same for me, just now

-----> Node.js app detected
-----> Listing HEROKU_ environment variables
HEROKU_APP_ID:
HEROKU_APP_NAME:
HEROKU_DYNO_ID:
HEROKU_RELEASE_VERSION:
HEROKU_SLUG_COMMIT:
HEROKU_SLUG_DESCRIPTION:
-----> Installing meteor
Downloading Meteor distribution
Meteor 1.4.3.2 has been installed in your home directory (~/.meteor).
Now you need to do one of the following:
  (1) Add "$HOME/.m

[2017-03-26 12:20] rafaelks commented on #6388
@roketsohbet Sorry but I didn't receive anything... can you send here?

[2017-03-26 13:02] yanivz commented on #1352
Hi kentov, about point 6 (Paste in the copied URL (the whole thing!) as your Rocket.Chat server address.)
I've installed the rocket.chat on sandstorm (and want to link it as embed to another site [Dolphin Platform]),

1. How and where i am passing the link?
2. Today i see a prompt when entering to the website (where i linked Rocket.Chat). The page asks usr&pwd, when i click on cancel comes the mes

[2017-03-26 14:45] roketsohbet commented on #6388
Video: https://youtu.be/SFng9ITwLVg
Ssl ok: http://i63.tinypic.com/308f6g7.jpg

[2017-03-26 16:54] wandonye opened #6484 "Use SoundManager2 as audio player"
Rocket.Chat Version:  0.51.0
Running Instances: 1
DB Replicaset OpLog: N/A
Node Version:

This allows more choices of audio format.
Demo [here](http://www.schillmania.com/projects/soundmanager2/)

SoundManager 2 provides a easy to use API that allows sound to be played in any modern browser, including IE 6+. If the browser doesn't support HTML5, then it gets help from flash. If you want stricly HT

[2017-03-26 20:51] kentonv commented on #1352
Hi @yanivz,

My instructions were specifically for the Rocket.Chat mobile apps, which have been extended to understand Sandstorm webkeys. Unfortunately it won't work for other apps that don't support this format.

[2017-03-26 21:55] lazbog commented on #6452
I have just noticed the similar issue #6444. Is there a possibility to merge issues?

[2017-03-26 23:17] k0nsl opened #6486 "sentry.io integration?"
Have you heard of sentry.io? I use this service mainly for my gitlab instance and have found it very useful at times.

![chrome_2017-03-27_01-13-47](https://cloud.githubusercontent.com/assets/2517921/24336178/ca8ae2b0-128a-11e7-9b14-2a20eb893008.png)

Check it out: https://sentry.io/

Right now we (or I) only use the following method of keeping track of errors:
![chrome_2017-03-27_01-15-41](https:

[2017-03-27 03:18] sethlester commented on #1352
@kentonv , Can the same work that enabled sandstorm logins on mobile be done on desktop? Or is there some reason the desktop apps cannot support the format?

[2017-03-27 06:21] molochmike opened #6488 "Rocketchat With Mobile Server"
**Rocket.Chat Version: 0.53
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3**

**I have some questions simple and straightforward, hope someone could help me out.**

1) I have a production mobile server which have plan to put in chat app.
2) Currently the mobile server is running on LAMP stack and application is written on php.
3) I have setup a rocket chat server as info pr

[2017-03-27 06:40] redgang opened #6489 "Multiple instances and Multiple servers cluster in centos server"
Rocket.Chat Version:  0.53.0
Running Instances: 2 servers and Multiple instances
DB Replicaset OpLog:N/A
Node Version:4.7.1

![image](https://cloud.githubusercontent.com/assets/15260914/24342907/532fa04a-12f6-11e7-9c9b-1bc8c1a56311.png)

I use nginx proxy two servers, each server through the 'meteorhacks: cluster' to open the Multiple instances，and mongodb done cluster processing.Now I use user1 t

[2017-03-27 06:51] xilu0 commented on #6489
I do more server cluster deployment also encountered the same problem, do not know that there is no solution

[2017-03-27 07:55] comander192 commented on #6465
Hi soundstorm,

Your issue fixed our problem, thanks for that. Our reverse proxy missed the /websocket entry.

Thanks for the help.

[2017-03-27 07:55] #6465 closed

[2017-03-27 08:16] soundstorm commented on #6465
@laggedHero I tried the official one, resulted in "Access to / is denied" - so something seems to be wrong there. Apache 2.6 on CentOS 7. The inofficial solutuion in the referenced issue works. I also got ProxyPreserveHost turned on.

[2017-03-27 08:19] soundstorm commented on #6465
At least the official solution does not work for me. Copy/Pasted.

[2017-03-27 09:06] burhangul commented on #3905
Hi, How i add custom field to this screen ? How can i communicate with api ? Thank you everyone already.
![exmp](https://cloud.githubusercontent.com/assets/18610205/24348727/60fbc570-12e5-11e7-99a5-0e64a0829ddd.PNG)

[2017-03-27 09:27] sychevsky commented on #1209
+1

[2017-03-27 10:14] ArchimedesFM opened #6490 "Broken umlauts"
Hello,

the umlauts are broken in German and de_at for:
- Google Chrome
- Rocket.Chat+ 2.5.0 Desktop on Windows 10

Screenshots attached.
![allgemein](https://cloud.githubusercontent.com/assets/26709898/24351582/8cd9cbfa-12e6-11e7-93ce-74fc1fb6a29b.JPG)
![channels](https://cloud.githubusercontent.com/assets/26709898/24351612/aefc8c2c-12e6-11e7-8cda-c4d819237886.JPG)

In IE11 they are working.

Ubu

[2017-03-27 11:17] pauloriply commented on #4150
Where can I find the answer to this question? A lot of copies, but not much use!
Why is not downloading files from the desktop client?

[2017-03-27 11:49] drderkummer commented on #5085
We just set up a server and thought we could filter teamleads to assign them to a room creation role but it seems not to be possible. It would be great to have that feature. It's a lot of work doing it by hand!

[2017-03-27 11:52] drderkummer commented on #5086
I'd also like that!

[2017-03-27 12:20] MartinSchoeler commented on #3188
Due lack of updates I will close this issue. If the bug still exists, please reopen this. Thanks for the feedback

[2017-03-27 12:20] #3188 closed

[2017-03-27 12:21] MartinSchoeler commented on #3132
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-27 12:21] #3132 closed

[2017-03-27 12:21] #2880 closed

[2017-03-27 12:27] MartinSchoeler commented on #6490
@ArchimedesFM couldn’t reproduce neither on demo or in the latest release, could you give us more info on your setup? Thanks!

[2017-03-27 12:32] comander192 commented on #6465
The following is our config on RHEL7 apache version httpd-2.4.6-45.el7.x86_64. Works fine so far, only Notifications are not working on mobile app but this could be another issue.

`<VirtualHost *:443>
        ServerName xxx

        ErrorLog logs/chat_error_log
        TransferLog logs/chat_access_log
        LogLevel warn
        SSLEngine on
        SSLProtocol xxx
        SSLCipherSuite xxx

[2017-03-27 12:57] ArchimedesFM commented on #6490
@MartinSchoeler Sure if you can tell me what you want to know.
Rocket.Chat itself runs as a Snap-Installation on an Ubuntu 16.04 (Language = german) as a virtual System.
The virtual System runs on an Windows HyperV-Setup.
Rocket.Chat was newly installed last week as a test for our Company.
The umlauts were broken right after the finished installation - as an Administrator in the console or as an U

[2017-03-27 13:07] rafaelks commented on #6388
@roketsohbet Interesting! Can you invite me to your chat? My email is `rafael.kellermann at rocket.chat`. I believe the crash is happening in some message format that we currently don't support.

[2017-03-27 13:27] rafaelks opened #6492 "Simplify the Pin/Unpin message API"
As we talked privately, we need to have a simpler API to **pin/unpin** messages, just like we have for **starred** messages.

## Requirements
- Instead of sending the entire message object, send just the `_id` and `rid`
- One API to pin/unpin or a flag (true/false) like we have on **starred** API

[2017-03-27 13:29] KirbySSmith commented on #6489
In your db check the "instances" collection. Verify that for each instance "host" is your sever's IP address and not just "localhost". If you see "localhost", you need to set the environment variable process.env.INSTANCE_IP for each server with it's own IP address. Each instance uses process.env.INSTANCE_IP and process.env.PORT to broadcast to events to other instances. The default value is "local

[2017-03-27 13:34] KirbySSmith commented on #6480
see https://github.com/RocketChat/Rocket.Chat/issues/6489#issuecomment-289453406

[2017-03-27 13:35] joshkel commented on #1593
@Rohlik - From testing the Docker image of 0.54.0, most of the problems I listed [here](https://github.com/RocketChat/Rocket.Chat/issues/1593#issuecomment-163316575) are still an issue:

1. Whatever theme or stylesheet is being applied fails to give keywords their own color.
2. I can't find any official list of supported languages. ([This](https://github.com/isagalaev/highlight.js/tree/master/src/

[2017-03-27 13:36] vitor251093 commented on #4214
I would like to see that happening as well. phpBB3 is an excellent forum; responsive, very modular and with integrated ReCaptcha support, but it lacks a chat like Rocket.Chat.

[2017-03-27 13:43] xilu0 commented on #6489
@KirbySSmith
Thank you for respond！
 I hadn't validated before fully, by looking at the source code to understand

export INSTANCE_IP=“ip”

[2017-03-27 13:44] xilu0 commented on #6480
@KirbySSmith
Thank you for respond！
I hadn't validated before fully, by looking at the source code to understand
export INSTANCE_IP=“ip”

[2017-03-27 14:34] Rohlik commented on #6486
@k0nsl  I think that RC have this integration acording to docs - https://rocket.chat/docs/administrator-guides/integrations/sentry

[2017-03-27 14:38] unixfox commented on #3905
@burhangul

You can't, an issue has been opened for this feature: #4378.

The documentation is here: https://rocket.chat/docs/developer-guides/livechat-api#-set-custom-field-

[2017-03-27 14:52] burhangul commented on #3905
okey thank you. so  there is no way..

[2017-03-27 14:58] k0nsl commented on #6486
Thank you for finding that documentation, @Rohlik. I should have checked that before submitting the issue.

I will give it a try later tonight.

[2017-03-27 15:26] cedricwalter commented on #2750
I am a joomla developer, will check at this now since i need it :-) i would more write a rocket chat plugin since joomla users use 99% of the time the default joomla provider authentification mechanism....
(joomla support LDAP, GMAIL authentification)

[2017-03-27 15:32] #6078 closed

[2017-03-27 15:41] roketsohbet commented on #6388
I send u email Rafael

[2017-03-27 15:48] Valiantiam commented on #4214
Mostly i'd just like to provide a way for the community to not have to register twice.

[2017-03-27 15:54] k0nsl commented on #4214
A bridge would be nice to have -- phpBB3 is excellent, as @vitor251093 already wrote, with a very good track record with regards to security.

It uses MySQL/MariaDB (don't know if it supports any other database backends, but I doubt it does) so I am not sure how such a bridge could be implemented. However, if this is possible, then it is something I, too, would like to see.

[2017-03-27 17:04] timandovo commented on #1615
I am getting to the point of desperation now.  I am incredibly happy with RocketChat, it's superb in so many ways, but I have a team of 25 and I am getting almost daily complaints about the lack of a global search with people telling me it is costing them a huge amount of time as they search through multiple channels one by one looking for a particular message.  This problem only gets worse the mo

[2017-03-27 17:47] pandada8 commented on #3099
I have an available patch which test passed on `cn-north-1` region, where only  version 4 is supported.
If anyone have interests, I can open a PR for it.

[2017-03-27 19:26] localguru commented on #6490
Can't confirm here: Chrome Version 57.0.2987.110 (64-bit), Rocket.Chat+ Version 2.4.0 on Linux, RC 0.52.0 running on Ubuntu 16.0 TLS.

[2017-03-27 19:29] dirkmueller commented on #1615
+1

[2017-03-27 19:31] MartinSchoeler commented on #1286
@geekgonecrazy is this still a issue?

[2017-03-27 19:33] MartinSchoeler commented on #3764
Duplicate of #2137

[2017-03-27 19:33] #3764 closed

[2017-03-27 19:42] MartinSchoeler commented on #3876
@karlprieb this still happens on demo server

[2017-03-27 19:45] MartinSchoeler commented on #3212
Hey @jjzhangg , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-27 19:45] #3212 closed

[2017-03-27 21:25] graywolf336 commented on #6492
All the pin and unpin messages are about are the `{ _id, rid }` so in theory you could just pass those values in and it would work as is.. https://github.com/RocketChat/Rocket.Chat/commit/f16db8ee471d46a3e2e9df5164df22e97f6d4b74

[2017-03-27 23:01] rafaelks commented on #6492
@graywolf336 That's great! I'll try it tomorrow. Thank you!

[2017-03-28 00:56] #6480 closed

[2017-03-28 01:12] geekgonecrazy commented on #1286
This particular one... I don't think so.  But there are other ones related to the unread bar.  I'll go ahead and close this one.

[2017-03-28 01:12] #1286 closed

[2017-03-28 02:13] jhaohai commented on #5797
same issue in 0.54 with chinese

[2017-03-28 05:17] pkgodara opened #6506 "Sending email notifications after editing time expires."
Current RC sends offline email notifications as soon as message is sent. If message is edited, no notifications are given.

Now, If "Block Message editing after (n) minutes" is set to some non-zero value by administrators to give some space to their users to edit the message if something misprinted, then emails should be sent after that time expires. And it should send the latest edited message.

[2017-03-28 05:22] redgang commented on #6489
@KirbySSmith
Thank you for respond，I think the problem has been resolved！

[2017-03-28 05:22] #6489 closed

[2017-03-28 07:55] willihelm commented on #6275
I have a similar issue when changing the room name. I can add users via API but they cant join a public channel themself with the same error message.
Seems like evry change on a chat room causes this.

[2017-03-28 08:06] willihelm commented on #6275
Okay after the latest update 54.2.0 and restarting the server it works again.

[2017-03-28 08:40] ArchimedesFM commented on #6490
Problem visible with:
Windows 10 Pro 64Bit german
Chrome: 57.0.2987.110
Rocket.Chat+ 2.5.0
iPhone on iOS 10.3 with Rocket.Chat 2.5.0
Android 7.1.1 with Rocket.Chat 2.5.0

Working fine on Internet Explorer 11.953.14393.0 on the same Computer.
Reproducible with different PCs on the same Rocket.Chat Server.

[2017-03-28 09:13] TwizzyDizzy commented on #6431
Upgraded from 0.53.0 to 0.54.2 and it fixed this issue. So you might give this a shot. :)

Cheers
Thomas

[2017-03-28 09:17] gdeverlant opened #6507 "Starting Docker container error logs"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog:
Node Version: 7.7.4

Servers : Raspberry Pie and Odroid C1

Dockerfile content:

module.js:472
    throw err;
    ^

Error: Cannot find module 'fibers'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/modul

[2017-03-28 09:37] ToeiRei opened #6508 "Expire inactive user accounts"
It would be nice to be able to expire inactive user accounts or at least get an idea when they logged in last time looking at the user table.

[2017-03-28 09:51] imsamthomas commented on #5996
Hi @MartinSchoeler ,

We need your helps, please response.

[2017-03-28 10:07] ENEUE commented on #6444
I've just tried it and same problem:

[code]

[2017-03-28 10:20] karan-96 commented on #6463
I would like to have a go at this issue. Can I start working on it?

[2017-03-28 10:53] hughlroberts commented on #1112
+1 for implementing. Very much needed! Would be nice if it could be taken out of the channel conversation somehow so it can continue like a normal chat and not overwhelmed with replies.

[2017-03-28 10:53] jinshunlee commented on #5990
hi @allw1994, i'm trying to do the same thing here, do you have any success in doing so yet?

[2017-03-28 10:57] takavfx commented on #4563
Could this be taken the place by #6075 ? Is this a work on going?

[2017-03-28 11:30] soundstorm opened #6509 "Slackbridge one way if channel was created in Rocket first"
Rocket.Chat Version: 0.49.3

Creating a channel in Rocket.Chat first and then in Slack leads to a one way synchronisation.
Chatbot joined in Slack by invite, message shows up in Rocket. All further messages are synced from Slack to Rocket but not from Rocket to Slack.

Creating it in Slack then in Rocket works seamlessly.

[2017-03-28 11:37] rafaelks commented on #6388
This crash is already fixed in our `develop` branch and will be on the next App Store update that we're submitting today (1.0.5).

Thank you @roketsohbet!

[2017-03-28 11:37] #6388 closed

[2017-03-28 12:04] ENEUE commented on #1996
Any news on this? I'm interested in doing the same as @Superhearing

[2017-03-28 12:14] jsumners commented on #4563
@takavfx ugh, no, I would not want it to be a permanent preference. Most messages are single line, and should be easily submittable by a simple "enter" key press. But there are those few that need more lines, so it would be nice to not have to press "shift + enter" at the end of every line. Thus the desire for a toggle directly in the input field. Maybe @MartinSchoeler forgot he reviewed this requ

[2017-03-28 12:45] MartinSchoeler commented on #2986
@karlprieb the search works but the flex tab doesn’t close. There should be a if that collapses the flex if the platform is mobile.

[2017-03-28 12:48] MartinSchoeler commented on #2828
Hey @muke5hy , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-28 12:48] #2828 closed

[2017-03-28 12:51] MartinSchoeler commented on #3145
This is still happening on the latest version

[2017-03-28 12:52] MartinSchoeler commented on #3261
@IQ2022 this was already fixed

[2017-03-28 12:52] #3261 closed

[2017-03-28 13:01] takavfx commented on #4563
@jsumners Thanks for the reply. I'm just curious that how does it exactly behave like. I used to want such function but actually #6075 did solve my case. 😉

[2017-03-28 13:02] MartinSchoeler commented on #2874
@watermelonjuice this should be already fixed, if not please reopen this with updated details. Thanks!

[2017-03-28 13:02] #2874 closed

[2017-03-28 13:06] jsumners commented on #4563
@takavfx just try out a gitter.im channel, e.g. https://gitter.im/pinojs/pino . Normal input is "enter" to send the message. But if you need to write multiple lines you can use a shortcut, "cmd + /" on macOS, to switch the input field to a multi-line input field. When in multi-line mode, "cmd + enter" will send the message.

[2017-03-28 13:06] MartinSchoeler commented on #3353
@geekgonecrazy it seems to be working now

[2017-03-28 13:06] #3353 closed

[2017-03-28 13:07] MartinSchoeler commented on #2875
This is a duplicate

[2017-03-28 13:07] #2875 closed

[2017-03-28 13:14] MartinSchoeler commented on #3388
This was already implemented.

[2017-03-28 13:14] #3388 closed

[2017-03-28 13:25] MartinSchoeler commented on #3044
@gaodoo  Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just to

[2017-03-28 13:25] Nemra1 opened #6510 "Error: Cannot find module 'is-property' RC Developer .0.54.0"
Rocket.Chat Version: 0.54.0
Running Instances: 1
DB Replicaset OpLog:
**iCANT Run Developer Version any more**

Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\Windows\system32>cd C:\Users\Ahmed ElSheikh\rc542

C:\Users\Ahmed ElSheikh\rc542>npm install is-property -g
is-property@1.0.2 C:\Users\Ahmed ElSheikh\AppData\Roaming\npm\node_modules\is-pr
opert

[2017-03-28 13:28] pierreozoux commented on #868
I think we can close the issue, there is now a meta section in admin.

[2017-03-28 13:30] #3284 closed

[2017-03-28 13:38] MartinSchoeler commented on #3324
@MichaelSavin Couldn’t reproduce on latest version, probably the issue has been fixed. If not, please reopen this. Thanks!

[2017-03-28 13:38] #3324 closed

[2017-03-28 13:41] MartinSchoeler commented on #2718
@andreas-bulling
Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading,

[2017-03-28 13:43] MartinSchoeler commented on #3928
Hey @th3fall3n0n3 , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-28 13:43] #3928 closed

[2017-03-28 13:44] MartinSchoeler commented on #3853
This has been fixed.

[2017-03-28 13:44] #3853 closed

[2017-03-28 13:48] MartinSchoeler commented on #3784
This seems to be working now, if you see this bug again please reopen this. Thanks!

[2017-03-28 13:48] #3784 closed

[2017-03-28 13:56] gdeverlant commented on #6507
This is the output of the last steps for the image compilation.

Step 11/16 : RUN npm install
 ---> Running in d0edbd547551
npm WARN enoent ENOENT: no such file or directory, open '/app/package.json'
npm WARN app No description
npm WARN app No repository field.
npm WARN app No README data
npm WARN app No license field.
 ---> 70df9500d262
Removing intermediate container d0edbd547551
Step 12/16 : US

[2017-03-28 13:57] #3611 closed

[2017-03-28 14:03] MartinSchoeler commented on #4196
Hey @garychapman , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-28 14:03] #4196 closed

[2017-03-28 14:04] MartinSchoeler commented on #4282
@mikrobyte
Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just t

[2017-03-28 14:08] MartinSchoeler commented on #3794
Hey @sacarlson , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-28 14:08] #3794 closed

[2017-03-28 14:12] rafaelks opened #6511 "Different format of data when has one or more users that starred a message"
I'm developing the pin/unpin and star/unstar feature on the iOS native app and noticed that for the `starred` property, the object has two different types of data being returned in the message object.

**With only one user, it returns an JavaScript dictionary**
[code]

**When has more than one user, it's an array of JavaScript dictionaries**
[code]

My questions are:
- Why is the format different?

[2017-03-28 14:16] MartinSchoeler commented on #4308
@sinteur today you can click on 'view more' button.I know this is not the best solution for this but we are planning some serious changes on this part of the ui.

[2017-03-28 14:16] #4308 closed

[2017-03-28 14:23] IQ2022 opened #6512 "Slowness in Messages"
This was not an issue in the prior versions, i have noticed it and also my users report slowness when they sent a message it shows after few seconds.. this bring back to my performance implications when we upgrade from one rev to the other?

in fact i see it happen on your demo instant but you have 1000s of users active

Rocket.Chat Version: 0.54
Running Instances: 1
DB Replicaset OpLog:
Node Vers

[2017-03-28 14:32] Nemra1 opened #6513 "Future: Add Monitor To Dashboard"
Add Monitor Screen In Dashboard To Watch who login + Who logute + Login Room + Who trying connect + who kicked + who banned+ who muted + ....etc
Path in Admin panel ( Dashboard >  Monitor )
Somthing like this screen
![mnt](https://cloud.githubusercontent.com/assets/22897987/24410746/25b45348-13d4-11e7-8876-f37b527a217d.jpg)

[2017-03-28 14:38] MartinSchoeler commented on #4241
@Akiren  Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just to

[2017-03-28 14:45] Nemra1 opened #6514 "Future : Add Ban Panel in Dashboard"
add banned user setting in dashboard  Path ( Dashboard > Users

with options
 1-ban username
2-ban ip
3-ban ip range
4- ban computer from mac adress or harddesk serial
5-ban country
6- ban reason
7 - ban list
![ban](https://cloud.githubusercontent.com/assets/22897987/24411181/854c4aee-13d5-11e7-83af-48c59810f8e6.jpg)
**ban list**
![ban2](https://cloud.githubusercontent.com/assets/22897987/24411185

[2017-03-28 14:50] MartinSchoeler commented on #4500
@jtbrush56 is this still happening on the latest release?

[2017-03-28 14:55] localguru opened #6515 "split up view-full-other-user-info permission"
Rocket.Chat Version: 0.52.0

I'd like to give my users the permission to see other users email address. Activation of "view-full-other-user-info" permission can do that, but then they can see information like "Created at" and "Last login" too. Especially "Last login" is an information which could be sensible in some circumstances. To my mind this permission should be split up into something like "

[2017-03-28 15:10] designgurudotorg opened #6516 "Livechat guests can't see images + youtube/other links in chat?"
Anyone else found this? I tested on a few different installs and am still finding that this seems to be an RC bug - guests participating in LiveChats can't see rich media in chats (and the agent doesn't realize this because they can drop media into chat like normal) - looks like a bug because the guest ends up seeing an empty message on their end.

I looked at the permissions but it doesn't seem l

[2017-03-28 15:13] designgurudotorg commented on #6428
I would *love* to be able to embed any chat (private group/channel/direct messages) externally with specific js per (ideally that code would be available on the chat info tab from the right sidebar - viewable to only people with the right permissions)

q./

[2017-03-28 15:57] takavfx commented on #4563
@jsumners I get your idea. I tried gitter.im's switching input key function. Yes this works good. Voted it.

[2017-03-28 16:19] MartinSchoeler commented on #4399
@8754463964 Tested on the latest version and it is working, please reopen this if the issue persists. Thanks!

[2017-03-28 16:19] #4399 closed

[2017-03-28 16:19] MartinSchoeler commented on #4314
@Molle500 Tested on the latest version and it is working, please reopen this if the issue persists. Thanks!

[2017-03-28 16:19] #4314 closed

[2017-03-28 16:38] #2963 closed

[2017-03-28 16:45] Artraxon commented on #6431
I just copied the collections into a new instance.
I still don't know what the issue was, but the new instance doesn't have the problem.
I'll close the issue

[2017-03-28 16:45] #6431 closed

[2017-03-28 16:46] MartinSchoeler commented on #4905
It looks like its working now, if not, please reopen this.Thanks

[2017-03-28 16:46] #4905 closed

[2017-03-28 16:50] graywolf336 commented on #6515
Feel free to submit a pull request adding this. :)

[2017-03-28 16:50] MartinSchoeler commented on #4529
Hey I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-28 16:50] #4529 closed

[2017-03-28 17:04] MartinSchoeler commented on #5168
@Molle500 have you seen this bug recently?

[2017-03-28 17:22] MartinSchoeler commented on #4922
Haven’t seen this message in a while. If you see it again, please reopen this. Thanks!

[2017-03-28 17:22] #4922 closed

[2017-03-28 17:35] MartinSchoeler commented on #5374
Since there is no more direct messsage form, I will close this.

[2017-03-28 17:35] #5374 closed

[2017-03-28 17:37] MartinSchoeler commented on #5422
Looks like it was fixed. Thanks for the feedback!

[2017-03-28 17:37] #5422 closed

[2017-03-28 17:37] graywolf336 commented on #6511
Where are you seeing this format?

[2017-03-28 17:43] #5070 closed

[2017-03-28 17:47] #4401 closed

[2017-03-28 17:53] #3269 closed

[2017-03-28 17:57] MartinSchoeler commented on #3052
This is a duplicate.

[2017-03-28 17:57] #3052 closed

[2017-03-28 17:59] MartinSchoeler commented on #4068
Duplicate of #2869

[2017-03-28 17:59] #4068 closed

[2017-03-28 18:05] localguru commented on #6151
@timothyparez I can confirm this on RC 0.52.0.
@mddvul22 I can confirm this too!

 Is it fixed in newer versions? To my mind this is an [#security](url) bug as uploads do bypass OTR.

[2017-03-28 18:25] JigSawFr commented on #4332
Could be great too for us !

[2017-03-28 18:33] #4842 closed

[2017-03-28 18:34] #1457 closed

[2017-03-28 18:45] localguru commented on #4161
@reitzig AD/LDAP is only supported in the Enterprise E10 version, SAML in Enterprise E20. So those features are not open source, which was a no go to me for mattermost.

[2017-03-28 19:24] MartinSchoeler commented on #3090
@pboos https://github.com/RocketChat/Rocket.Chat.Electron/pull/337 fixed this.

[2017-03-28 19:24] #3090 closed

[2017-03-28 19:26] #3198 closed

[2017-03-28 19:28] MartinSchoeler commented on #2275
duplicate of #1106

[2017-03-28 19:28] #2275 closed

[2017-03-28 19:30] MartinSchoeler commented on #3164
@rusty1281  Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just

[2017-03-28 19:32] MartinSchoeler commented on #2884
Hey @pachox , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-03-28 19:32] #2884 closed

[2017-03-28 20:29] Nemra1 opened #6517 "Can't find npm module 'mime-type/with-db'. in developer version 0.54.2"
Rocket.Chat Version: 0.54.0
METEOR@1.4.3.2
**i cant Run any Developer Version since v 0.52.x**
C:\Users\Ahmed ElSheikh\rc542>meteor
[[[[[ C:\Users\Ahmed ElSheikh\rc542 ]]]]]

=> Started proxy.
'C:\Users\Ahmed' is not recognized as an internal or external command,
operable program or batch file.
=> Started MongoDB.
W20170328-17:40:08.281(2)? (STDERR) Note: you are using a pure-JavaScript implem
ent

[2017-03-28 22:54] rafaelks commented on #6511
@graywolf336 Any message list that returns the message complete object. Example: `getHistory`.

[2017-03-29 02:19] rajakhoury commented on #6444
Same here

[2017-03-29 03:45] hubertkahr opened #6518 "CentOS - How to re-enable login / registration?"
Rocket.Chat Version:  0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0

I disbaled the login / registration page. How can I enable it again in CentOS 7?

[2017-03-29 07:56] nzhtrtlc opened #6519 "Trigger video conferance from custom button (using iframe integration)"
Rocket.Chat Version: 0.53.0
Running Instances: 1
Node Version: v6.9.5

I am using RocketChat with iframe integration. I can open direct chats using this code

document.querySelector('iframe').contentWindow.postMessage({
  externalCommand: 'go',
  path: '/direct/' + username
}, '*')

But i want to open one-to-one (private) jitsi conferance. I am able to do this in RC iframe but i want to trigger it

[2017-03-29 08:34] vrooze commented on #5182
new error I just spotted registering a new user:
[code]

[2017-03-29 08:43] pierreozoux opened #6520 "Image link preview of other rocket chat."
When I share a link to another rocket.chat instance, I get the current chat icon, but not the remote one.

![pimentachat](https://cloud.githubusercontent.com/assets/1863453/24446079/1f1a3012-1464-11e7-88c9-f8b13b6997ce.png)

[2017-03-29 08:51] akachapati commented on #5347
I am in 0.51 now and the issue still exists

[2017-03-29 08:59] akachapati commented on #6129
Is there an update on this?

[2017-03-29 08:59] Superhearing commented on #1996
@ENEUE you might want to add to this bounty https://www.bountysource.com/issues/26280752-allow-anonymous-use-of-the-chat

[2017-03-29 09:11] localguru commented on #6518
Hi,

on webinterface see Accounts -> Show form-based Login

directly via mongodb (restart Rocket.Chat after change - does anyone know how to handle this without a restart?):

db.rocketchat_settings.update({_id:'Accounts_ShowFormLogin'}, {$set: {'value' : true} });

Ciao
Marcus

[2017-03-29 09:22] shaileshpatel91 opened #6521 "Unable to deploy rocket chat on ubuntu vm through docker"
Hi,

I am deploying latest rocketchat on vm through docker.
I installed docker and setup the docker-compose also.
while doing docker-compose up I am getting the error

rocketchat_1          | /app/bundle/programs/server/boot.js:356
rocketchat_1          | }).run();
rocketchat_1          |    ^
rocketchat_1          |
rocketchat_1          | TypeError: Cannot read property 'slice' of null
rocketcha