[2019-04-11 19:36] ference commented on #14093
I were no custom changes apart from picking configuration options in the admin panel.

This is my docker-compose.yml:
[code]

Initially I ran an older version, but a few weeks ago upgrade using the following steps:

[code]

[2019-04-11 20:57] geekgonecrazy opened #14108 "Custom Oauth login with provider access Token"
We have a method called: `registerAccessTokenService`
Source found: https://github.com/RocketChat/Rocket.Chat/blob/develop/app/lib/server/oauth/oauth.js#L9

It is executed from the login endpoint: https://github.com/RocketChat/Rocket.Chat/blob/develop/app/lib/server/oauth/oauth.js#L27

So when you do a login like:
[code]

serviceName matches the oauth service registered and executes the function p

[2019-04-11 21:05] geekgonecrazy commented on #5521
@Hudell I opened another issue #14108 for adding to custom oauth.  But this issue is technically solved.

By executing:
[code]

You can login to Rocket.Chat.

Only ones currently supported are: Google / Facebook / Twitter

[2019-04-11 21:05] #5521 closed

[2019-04-11 21:06] knrt10 commented on #14108
On it, will try to fix this

[2019-04-11 21:13] geekgonecrazy commented on #14108
@knrt10 awesome!  Feel free to request my review on it when you open a PR.  Will gladly help you shape it up and test it.

[2019-04-11 21:23] Rodriq commented on #14107
Can I see into this?

[2019-04-11 21:25] rafaelks opened #14109 "Drag & drop into Threads panel"
### Description:

It should be possible to drag & drop a file into the Threads panel to send a file.

[2019-04-11 21:26] rafaelks opened #14110 "[REGRESSION] Avatar on autocomplete seems wrong"
### Description:

![Screen Shot 2019-04-11 at 18 23 58](https://user-images.githubusercontent.com/551004/55994130-4a653d80-5c87-11e9-82a9-47dc7e52ecb0.png)

[2019-04-11 22:01] #14087 closed

[2019-04-11 22:40] serviceman opened #14112 "Feature Request - Global Block & API"
Can I make a request that the block/ignore function be part of the API. Block/ignore should also be global, not just in the channel they are blocked in, or at least have this be a setting for the Admins. Also, I have had requests from my users to have a block users text not appear at all, instead of "this message has been ignore", at the very least, this should also be a setting for the user.

Tha

[2019-04-11 22:56] serviceman opened #14114 "Feature Request Profile Link"
It would be great if we could have a profile link added to the admin settings. Something like "domain.com/profile.php={username} and when you click that link the user is brought to a profile page for that user. This could prove useful in any office or community setting where a user has a company/site profile.

[2019-04-11 23:39] ThePigsMud opened #14115 "Don't copy backticks for inline code"
### Description:

When trying to copy the text in inline code, this can be incredibly frustrating, as it ends up copying the code _with_ backticks.

### Steps to reproduce:

1. Write message with inline code

2. Attempt to copy it, especially parts at the end. It will copy the message with the tick, and can be incredibly frustrating if you're just trying to share a quick snippet.

### Expected beh

[2019-04-12 00:28] fifou17 commented on #14114
good idea

[2019-04-12 02:10] engelgabriel commented on #14107
this is already done on https://threads-qa.rocket.chat/

[2019-04-12 02:18] engelgabriel commented on #906
you can see it working at https://threads-qa.rocket.chat

[2019-04-12 06:40] erkankyn1 commented on #14096
First of all, thank you for your answer.
In the User information section, I would like to add information such as the contact's phone number, e-mail, IP phone number, title, and manager's name.

[2019-04-12 07:14] carlo-fontanos commented on #14095
Hi @renatobecker,
Yes, an e-mail message,

[2019-04-12 09:03] igor523 opened #14117 "New Thread feature's UI doesn't work properly with GIFs"
### Description:

Bug in https://threads-qa.rocket.chat/ version, not latest release!
When you have opened GIF in a thread, autoscroll to new messages breaks.

### Steps to reproduce:

1. Open up a thread.
2. Send GIF there or find any, that's already there.
3. Open preview of it.

### Expected behavior:

Everything should work same as without GIFs

### Actual behavior:

Every new message in a thr

[2019-04-12 10:14] reetp commented on #12863
@rocket-cat close

Closing as we have no further information

[2019-04-12 10:14] #12863 closed

[2019-04-12 10:47] L3nny5 commented on #10278
Well it kinda got solved in V0.71.0 but there are still some issues:

- First import works fine. If you reimport the same archive or a newer one it somehow removes all pictures
- Import of Attachments is not possible - won't be displayed

With these "issues" its still not possible for us to migrate to Rocket.Chat :-(

[2019-04-12 10:48] L3nny5 commented on #10002
Any idea when this will be fixed? It would really help us to migrate from Slack to Rocket.Chat.

[2019-04-12 10:49] ahmadnadzirr commented on #1270
thanks i have the same problem and i really helped

[2019-04-12 11:43] Maqsyo commented on #14088
"If you're an admin, feel free to change this content via Administration -> Layout -> Home Body"

[2019-04-12 11:59] lolimay opened #14119 "[BUG] Inappropriate escaping in REST API"
Hi, I found  a bug when testing `/api/v1/channels.addAll` REST API. The inappropriate escaping like `\"` are too annoying. Can someone fix this problem? See my screenshot below:

![image](https://user-images.githubusercontent.com/32427260/56035707-72bf6b80-5d5d-11e9-844c-7367161a1680.png)

[2019-04-12 12:29] igorr-stc commented on #11681
Still have same problem with 0.74.3

[2019-04-12 12:31] ChrissW-R1 opened #14120 "GIMP file couldn't uploaded"
### Description:

File created by GIMP (file extension *.xcf) couldn't be uploaded.

### Steps to reproduce:

1. Add "image/*" (default) or "image/x-xcf" (exact MIME type) to the list of "Accepted Media Types" (Administration --> File Upload)
2. Open a channel
3. Try to upload a file produced with GIMP

### Expected behavior:

The file will be uploaded and a message with the attachment will be pos

[2019-04-12 12:48] ralfbecker commented on #14108
I'll created a provider for [EGroupware OpenID Connect / OAuth server](https://github.com/EGroupware/openid), I'll refactor it for all custom OAuth servers and send a pull request soon.

[2019-04-12 13:26] wreiske commented on #14119
How is this an inappropriate escape?

You have to escape the double quotes because the string starts and ends with quotes. It wouldn't be valid JSON if it wasn't escaped.

[2019-04-12 13:39] lolimay commented on #14119
Yeah, you are right. There no way to avoid escaping unless we use other symbols (like ``` and `'`) instead.

[2019-04-12 13:39] #14119 closed

[2019-04-12 14:24] erkankyn1 commented on #14096
First of all, thank you for your answer.
In the User information section, I would like to add information such as the contact's phone number, e-mail, IP phone number, title, and manager's name.

[2019-04-12 15:16] fifou17 opened #14122 "Video Message disappear when i disable disscussion"
When i disable disscussion from administration video message button disappear from message-box ![screenshot-localhost-3000-2019 03 23-18-30-29](https://user-images.githubusercontent.com/16228448/54869516-cc093000-4d99-11e9-9256-b17cd7dfff8f.png)

[2019-04-12 16:46] rodrigok opened #14123 "Grouping not grouping correctly on some rerenders"
![reaction_vs_avatar](https://user-images.githubusercontent.com/234261/56053000-396d0880-5d29-11e9-9f65-b822113abb34.gif)

[2019-04-12 16:47] rodrigok opened #14124 "User autocomplete not loading suggestion from current room"

[2019-04-12 16:50] #14090 closed

[2019-04-12 17:27] lolimay commented on #14120
The `*.xcf` files is the source file of an image (like `*.psd`). In fact, there's no need to support this format. You can simply export your image to `*.jpg/*.png` or other common image formats by <kbd>Ctrl</kbd> + <kbd>E</kbd>. Hope it can help you :)

[2019-04-12 17:46] rodrigok opened #14126 "User autocomplete not updating with latest messages"
I did a fix for the global list of users here https://github.com/RocketChat/Rocket.Chat/pull/14125 but still need to refresh that list on new messages or when using the autocomplete (like before)

[2019-04-12 18:01] wreiske commented on #6750
👀

[2019-04-12 18:42] #14126 closed

[2019-04-12 18:42] #14124 closed

[2019-04-12 18:53] graywolf336 opened #14128 "Message Attachment Fields Are no Longer short"
Attachment fields are no longer respecting the `short: true` values, causing attachment fields to not be as they used to be.

**Before:**
<img width="692" alt="Screen Shot 2018-08-07 at 9 59 37 PM" src="https://user-images.githubusercontent.com/850391/56059649-23137c80-5d2a-11e9-8924-faa987b4bac1.png">

**Now:**
<img width="968" alt="Screen Shot 2019-04-12 at 1 52 22 PM" src="https://user-images.g

[2019-04-12 20:57] renatobecker commented on #14095
@carlo-fontanos, it's not possible.
But you can now send e-mails per departments, there is a new e-mail field on Livechat departments.

[2019-04-13 01:04] mohamedkais commented on #14122
Your idea is gd but that's not possible to the public

[2019-04-13 01:42] geekgonecrazy commented on #13849
yeah the android app handles slightly different.  But in general ROOT_URL must be set to the url you will access with.

Sounds like this is resolved.  Closing

[2019-04-13 01:42] #13849 closed

[2019-04-13 02:02] Rodriq opened #14132 "Broadcast channel option hidden"
## Howto reproduce
- Try creating a new channel
You'll see the Broadcast channel covered like below
![Broadcast chanel hiden](https://user-images.githubusercontent.com/39289592/56073242-81774400-5d98-11e9-85c5-f708c1feaf64.png)

The scroll bar should be visible so that someone knows there're options above

[2019-04-13 02:16] bkraul commented on #14038
Editing/adding integrations appears to have been corrected on d5c14f7. However, the Avatar (URL) is still not respected, and it uses the rocket.cat avatar.

[2019-04-13 10:07] Shaverdoff commented on #9916
still no fix.. 0.74.3

[2019-04-13 10:42] hypery2k commented on #12243
PR seems to get merged soon

[2019-04-13 12:43] knrt10 commented on #12702
fixed by #13848

[2019-04-13 20:26] danielmcc123 opened #14134 "Failed to complete OAuth handshake with keycloak"
### Description:

I am trying to authenticate Rocket-Chat with Keycloak using OpenID Connect. I have been through all the related posts but can't work out what is wrong with my setup. I am getting the same issue as #7418 but I have looked at the solution on that post and it matches up to what I have. I am hosting in docker, both Rocket-Chat and Keycloak are on the same `docker-compose.yml` file.

[2019-04-13 21:12] fifou17 commented on #14122
@fifou17 im talking about bug not feature request

[2019-04-13 21:36] Fahad-Mahmood commented on #11580
I would like to work on it

[2019-04-13 21:49] localguru commented on #10402
@TwizzyDizzy How would the nginx config would look like?

I tested

``
proxy_set_header        X-Forward-Proto https;
``

in my nginx config, but testssl.sh criticized _"Cookie(s)                    1 issued: NOT secure, 1/1 HttpOnly"_

[2019-04-13 22:02] localguru commented on #10402
What about

``
proxy_cookie_path / "/; secure; HttpOnly";
``

for nginx?

[2019-04-13 22:05] TwizzyDizzy commented on #10402
Yes. I don't know if that's a Meteor issue or Rocket.Chat issue, but the behaviour I described above ("controlling RC behaviour from proxy side by headers") is not implemented yet, hence the cookie is still not secure.

Indeed, one could modify the cookies-Headers manually but ... I mean... come on!

Cheers
Thomas

[2019-04-13 22:33] jagloro commented on #13461
We experience this issue as well.  Every 5-8 days the CPU will max out to 100% and the server will be inaccessible and the box its on has to be forcibly restarted.

[2019-04-14 00:18] alnikitich opened #14135 "Launch custom RC application"
### Description:

The custom application generated (launched) by rc-apps (without marketplace) cannot show on rocket chat UI.
Error:
On screen (RC UI):
[code]

On browser console:
[code]

### Steps to reproduce:

1. rc-apps create testapp
2. rc-apps deploy --url=https://.... -u .... -p ....
3. view it on RC UI : Apps/testapp/App details
### Server Setup Information:

- Version of Rocket.Chat Serve

[2019-04-14 02:32] franckadil commented on #10530
For people using docker-compose you can solve this issue with the following:

1. Create a folder that we will use as a volume to persist the fix:
_Mine is named /fixes._

2. Download the lame.min.js file from https://github.com/rkramer1964/lamejs

3.Put it iside the folder you have just created (in this example: fixes)

4. Add a volume as shown bellow:

 rocketchat:
   image: rocketchat/rocket.cha

[2019-04-14 03:02] geekgonecrazy commented on #13461
Any here having the issue please provide details of your setup.  We need to determine if there is any sort of pattern so we can try to reproduce.

If mongo is on the same host also might be worth moving it to its own to see if that changes anything

[2019-04-14 03:41] jagloro commented on #13461
I'm running an AWS t2.micro
Users: 4.  About 20-100 messages day with about 5-10 file uploads.
Image Storage: S3
CPUs: 1
RAM:  1gb
Storage Size: 4gb used out of 8gb
OS: Ubuntu 18.04 amd64
MongoDB is on the same instance as Rocket
Mongo Version: 3.6.3
Rocket Version: 0.74.3
Node Version:  8.11.4

It runs fast and without problems until the 5th to 8th days then the box becomes inaccessible until for

[2019-04-14 07:26] thawn commented on #3582
@marz71 you seem to have dived into this quite a bit and you also seem to have the necessary programming skills. Any chance, you could adapt the rocket.chat source code to implement this feature and create a pull request?

[2019-04-14 08:19] ChrissW-R1 commented on #14120
No, there is a huge need, because we need to exchange the source files for working on them.

[2019-04-14 08:21] ChrissW-R1 commented on #14120
We have the same issue with text files, that don't have the *.txt extension.
For example there is a MatLab file (*.m) which have the MIME type text/plain. This MIME type is in the granted list, but it is not possible to upload them.

[2019-04-14 12:12] foss- commented on #14120
Same is true for .pgp .gpg files. Would be nice to add those to the list as well.

[2019-04-14 12:49] aberkvam opened #14140 "Auto scrolling breaks on slow-loading images"
### Description:

If an image takes a long time to load (slow network, large GIF, etc.), auto-scrolling breaks.  It appears that the message appears first with a small area allocated for the image.  Later, the image loads and extends the message area down past the bottom of the scrolling area.  This stops the automatic scrolling.

### Steps to reproduce:

1. Have someone send a message with a larg

[2019-04-14 16:34] knrt10 commented on #6595
On it, will try to fix this

[2019-04-15 06:12] carlo-fontanos opened #14141 "Can't access RocketChat after setting iframe URL to localhost"
Hi,

I was trying to implement the iframe auth login. Since I am working from my local machine - I've set the iframe URL to: `http://localhost/development/rocket-chat` under `Administration > Accounts > Iframe` and now the chat app is no longer working.

When I check the browser console it says:

`Mixed Content: The page at 'https://test.com/home' was loaded over HTTPS, but requested an insecure r

[2019-04-15 08:29] igorr-stc commented on #7857
Got this problem after upgrading to 0.74.3, before we didn't have it.

[2019-04-15 08:43] karlettoh commented on #6750
Tested this in 1.0.0-rc.2 and 0.74.3 and 2FA is bypassed when using LDAP still.

[2019-04-15 09:09] h4wkmoon commented on #14141
You should secure the iframe and expose it with HTTPS.

And my understanding of the iframe is that it is viewed from the user workstation. Therefore, "localhost" may not work.

[2019-04-15 09:18] carlo-fontanos commented on #14141
@h4wkmoon the RocketChat installed in this link: https://cyberauctionschat.com is not an iframe. I believe the one that caused this issue is when I set the `iframe URL` field to `http://localhost/development/rocket-chat` under `Administration > Accounts > Iframe` And since I can't even access the admin anymore, I am unable to remove that URL.

[2019-04-15 09:25] carlo-fontanos commented on #14141
@h4wkmoon Is there like a backdoor where I can reset / clear the settings under `Administration > Accounts > Iframe` I believe that is what I need to get this fixed.

[2019-04-15 09:37] h4wkmoon commented on #14141
maybe the rocketchat_settings collection, but that's very ugly way.
You have backups, right ?

[2019-04-15 09:39] #14117 closed

[2019-04-15 09:41] h4wkmoon commented on #14141
And the nice way would be
[Rest API ](https://rocket.chat/docs/developer-guides/rest-api/settings/)

[2019-04-15 10:06] jcatarino opened #14143 "DownloadUserData not working"
### Description:

Downloading user data (created because of GDPR) is not working. No errors show up on the log. No email is received.

### Steps to reproduce:

1. Go to "A Minha Conta"
2.  Click "Transferir os meus dados"

### Expected behavior:

I would expect to get an email in the next few days of clicking the button.

### Actual behavior:

nothing happens, no email, no data, no errors.

### Se

[2019-04-15 10:21] carlo-fontanos commented on #14141
Hi @h4wkmoon,
I tried your suggestion. Using a admin account I did a GET on the following URL: https://cyberauctionschat.com/api/v1/settings

And it returned the following configurable API settings:

[code]

But I am not sure which setting above is for `Administration > Accounts > Iframe`. Help please?

[2019-04-15 10:25] h4wkmoon commented on #14141
Looks like 24 is section, not a setting.
Can you try get settings/24?

[2019-04-15 10:30] carlo-fontanos commented on #14141
Hi @h4wkmoon,
GET on `settings/24` returned `{"success":true}` only :(

[2019-04-15 11:19] prashanthym commented on #5127
Still I am facing the same issues while uploading .py files on rocketchat  0.72.3

[2019-04-15 11:37] prashanthym opened #14144 "Cant upload python files"
### Description:

When I try to upload the python files, it is throwing an error as media types not accepted and here are version details

### Steps to reproduce:
    Add "application/x-python,application/python,application/*.py,text/python,text/x-java,text/x-script.phyton,application/x-bytecode.python,application/octet-stream" (exact MIME type) to the list of "Accepted Media Types" (Administratio

[2019-04-15 12:31] h4wkmoon commented on #14141
The API uses pagination, like they all should.

https://rocket.chat/docs/developer-guides/rest-api/offset-and-count-and-sort-info/

use option "?count=0" to disable it.

[2019-04-15 13:01] Venomen opened #14145 "Searching doesn't show all requested users"
### Description:

"Search" results in user panel are bugged. Total random results. Not showing all users from requested patterns (for example searching users with same surname, name, department in name).

Moreover same search request from different rocket user, gives totally different search results but also totally random, not complete.

### Steps to reproduce:

1. Go to "Search"
2. Write your se

[2019-04-15 13:55] mfurseroberts commented on #14135
If you follow the getting started guide here:
https://rocket.chat/docs/developer-guides/developing-apps/getting-started/

It is suggest that you can run Rocket.Chat from Docker:
`docker run -it --rm -p 3000:3000 -v `pwd`/rocketdb:/var/lib/mongodb rocketchat/rocket.chat.preview
`

However, this does not seem to work and results in your error. To fix it, I had to do the alternate suggestion:

The di

[2019-04-15 16:21] geekgonecrazy opened #14146 "Location Sharing missing"
### Description:

We still prompt in browser for location so that the sharing feature will work.  But the button seems to be missing.

Potentially related to dropping the cordova package?

### Steps to reproduce:

1. goto new browser
2. login
3. allow location access
4. goto messagebox
5. Click the + to share location

### Expected behavior:

Option to share location

### Actual behavior:

<img wi

[2019-04-15 16:38] tassoevan commented on #14146
The settings `MapView_Enabled` and `MapView_GMapsAPIKey` are properly set? Doest the browser support the `navigator.geolocation.watchPosition` API?

[2019-04-15 17:34] rasos commented on #12555
Missing updates also being discussed at Sandstorm: https://github.com/sandstorm-io/sandstorm/issues/3129

[2019-04-15 20:11] #14128 closed

[2019-04-15 20:33] sketch242 commented on #13461
@sampaiodiego Interesting.  I was actually running in a replica set with only one member before I updated mongo from 2.6 to 4.0.  Figured I would just leave it off since I wasn't using it anyway.
 I've re-enabled the replica set now, hopefully that will help.

On the node version, I notice that even the latest Rocket.Chat.Ansible role from github is still installing 8.9.4, not 8.11.4.  Seems like

[2019-04-15 21:14] #906 closed

[2019-04-15 21:14] #14107 closed

[2019-04-15 21:49] #14108 closed

[2019-04-15 22:12] #12243 closed

[2019-04-16 02:29] tiyooo opened #14151 "The service is stopped."
hi~
I recently upgraded the server. ( 0.72.3 => 0.74.3 )
The service stops occasionally after the upgrade.
So we restart the service.

Attached is a log file.
I'd appreciate it if you could tell me how to solve it.

Current Environment.
CentOS Linux release 7.5.1804 (Core)
mongo db version v3.6.7
npm 5.6.0
node v8.11.3

[messages.txt](https://github.com/RocketChat/Rocket.Chat/files/3082741/message

[2019-04-16 06:56] Syirrus commented on #5774
Did you ever come up with a solution to this issue?

[2019-04-16 07:04] dhoeld commented on #13602
Same problem here. There is a restart for any of our 3 Rocket.Chat replicas on our Kubernetes Cluster every night due to "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"

We also got these strange errors mentioned above in our logs.

[2019-04-16 08:39] BobKnip opened #14159 "Hide room confirmation shows "undefined" instead of user name (only DM, only via Room Info sidebar)"
## My Setup
- Operating System: Windows 10
- App Version: 2.15.1
- Installation type: EXE

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

Hide room confirmation shows "undefined" instead of user name (only DM, only via Room Info sidebar).

- Does NOT work correctly : Room info (sidebar, right) > "Hide" (button at the bottom):
'Are you sure you wa

[2019-04-16 08:41] kelvinblade opened #14152 "S3 SignatureDoesNotMatch for videos on Android"
[code]
I am using S3 for file uploads.

It works fine for video, images on Android and it works fine for videos, audio, images on iOS. Please help figure out why this only for videos on Android. Thanks.

[2019-04-16 09:01] tranhoang123 opened #14153 "Can't use channel.online API"
Hello everyone.
I need list all member of a channel that called supporter, I use API to see that in command line
[code]

It worked as I expect
[code]

[2019-04-16 09:35] jankogaga commented on #14077
/data/fs folder has been moved from the first to the second Rocket chat server and FileUpload settings are adjusted.
Still chasing for missing the announcement channel.

[2019-04-16 09:44] carlo-fontanos commented on #14141
Hi @h4wkmoon,
Thank you that worked, it revealed all the settings.

I tried to reset all the settings to what I can remember but unfortunately I am still unable to get the chat app to load, it is currently just showing a dark-gray empty page on my end. I've already reached out to their support team, hoping that they could fix it.

[2019-04-16 09:47] premanandmanimaran commented on #8093
Hi
I want to know how to change the Notification server name , like you have teamseadapp.com.

Also How to change the Desktop App icon ?

Thanks

Prem

[2019-04-16 09:49] baoc75 opened #14154 "Implement SSO with Restful API"
As the documentation mentioned (SAML, oAuth, CAS, LDAP), currently there is no information about implementing SSO with Restful API. So do we have any progress with Restful API?

[2019-04-16 10:51] KirbySSmith commented on #5774
Support for the Cordova app was dropped in the latest versions. The custom autoupdate package was removed in v0.72. If you are using a version lower than that the issue could be related to the .meteor/.id file being removed. https://github.com/RocketChat/Rocket.Chat/commit/27413c69afe9271659edf1d97322875e43ddd704#diff-cf6323754c6dfa68e897ce35d9845ceb
You can add that file back with the same id to

[2019-04-16 12:48] subesokun commented on #13461
Not sure if MongoDB a replica set will solve this issue as in @jagloro's case a very little instance with only 4 users has been affected too.

Luckily I was now finally able to create a CPU profile while the the CPU maxed out

<img width="1225" alt="Screenshot 2019-04-16 at 14 09 42" src="https://user-images.githubusercontent.com/6920421/56209812-b2839d00-6054-11e9-8c86-95f6627d6f5a.png">

A healt

[2019-04-16 13:10] knrt10 opened #14156 "[BUG] Threads not opening when clicking on desciption or replies button"
### Description:

This issue is only occurring on `open.rocket.chat` server. It is working fine on the local server for 1.0.0-develop  and also on `threads-qa.rocket.chat`. Problem is on both desktop app or browser.

### Steps to reproduce:

1. Click on description of threads
2. or click on replies button for thread.

### Expected behavior:

It should open the thread

### Actual behavior:

It is n

[2019-04-16 13:12] Srinivasan2017 opened #14157 "Issues for setup in windows from meteor"
We are utilizing the rocketchat source code for chat solutions.

When we trying to build the dev environment windows, we get the below error

C:\Users\s.gurukannan\AppData\Local\.meteor\packages\meteor-tool\1.8.1\mt-os.windows.x86_64\dev_bundle\lib\node_modules\meteor-promise\promise_server.js:218
throw error;
^

Error: ENOENT: no such file or directory, open 'C:\Users\S80F7~1.GUR\AppData\Local\Te

[2019-04-16 13:14] Srinivasan2017 commented on #14157
![image](https://user-images.githubusercontent.com/11881505/56212442-a957f780-6077-11e9-9cff-e8ba851ef71d.png)

[2019-04-16 13:33] reetp commented on #14156
Occurring on open.rocket.chat

Version 73.0.3683.75 (Official Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

[2019-04-16 13:34] reetp commented on #14156
Also Firefox 66.0 64 bit  on Xubuntu 16.04

[2019-04-16 14:07] #12691 closed

[2019-04-16 14:09] rafaelks opened #14158 "Bug: reacting a message inside a thread from thread panel looses the message"
### Steps to reproduce:

1. Open any thread
2. React to a message
3. Message will be removed from the UI

[2019-04-16 14:20] Rodriq commented on #14156
I have the same issue on
Ubuntu 18.04.2 LTS | 64-bit
**Google Chrome Version 72.0.3626.109**
**Rocket.Chat App**
  And like @knrt10 said, it works well locally.

[2019-04-16 14:50] tassoevan commented on #14159
@BobKnip I transferred this issue since it looks like a Rocket.Chat server bug. Can you please fill a bug description following this template (https://raw.githubusercontent.com/RocketChat/Rocket.Chat/develop/.github/ISSUE_TEMPLATE/bug_report.md)?

[2019-04-16 15:37] tassoevan commented on #14156
@knrt10 Is any error logged on browser's console after clicking?

[2019-04-16 15:41] knrt10 commented on #14156
@tassoevan this is the whole log for web view but this loads on page load. When clicked no log is generated neither on web or desktop

![Screenshot 2019-04-16 at 9 10 26 PM](https://user-images.githubusercontent.com/24803604/56223859-2f7e3900-608c-11e9-9d34-c6cd8c751d71.png)

[2019-04-16 17:07] jcatarino commented on #14143
Could someone check if it is just me? Thanks

[2019-04-16 17:30] lucassmacedo commented on #13934
I want this feature.

[2019-04-16 17:35] #13693 closed

[2019-04-16 17:42] jcatarino commented on #11082
I think this still doesnt work...

[2019-04-16 17:42] jcatarino commented on #14143
Similar to #11082

[2019-04-16 17:44] bkraul commented on #11082
Same here with latest docker develop image.

[2019-04-16 18:42] fifou17 commented on #13952
i did still same

[2019-04-16 19:52] tassoevan commented on #8093
Please check our forum (https://forums.rocket.chat/c/community-support) and community support channel (https://open.rocket.chat/channel/support) for help.

[2019-04-16 19:52] #8093 closed

[2019-04-16 19:53] tassoevan commented on #14157
I'm closing it due to our recommendations: https://rocket.chat/docs/developer-guides/quick-start/#on-windows.

[2019-04-16 19:53] #14157 closed

[2019-04-16 20:19] tassoevan commented on #14156
I can't reproduce it. Does it happen every time? Does refreshing the page change anything?

[2019-04-16 20:39] knrt10 commented on #14156
Yes, it happen everytime. Refreshing does not change anything. I also cannot understand why is it happening.

[2019-04-16 22:18] geekgonecrazy opened #14162 "Improve thread topic message starting with a mention"
### Description:

<img width="278" alt="image" src="https://user-images.githubusercontent.com/51996/56247729-6b54d680-606b-11e9-89ec-213e9cc212e4.png">

Messages that people reply to that start with a mention look weird when replying.

In this case the person mentioned replied several times and looks extra weird.

1. Maybe remove mention?
2. improve how its rendered?

[2019-04-17 00:40] geekgonecrazy commented on #13461
Thanks for sharing!

Just to clarify on replicaset.  It does actually make a difference even if single mongo node and a few users.  Meteor uses oplog to watch for some confirmations,  if not there it has to poll which is generally more expensive.

[2019-04-17 00:43] geekgonecrazy commented on #13461
@subesokun is that something you would be willing/able to share?  Would be very interesting to dig into that a bit more.

[2019-04-17 02:30] Cruaier commented on #13849
@geekgonecrazy I can confirm that it works when using the root_url with port - but the question in general stays if that's the right way to go. Also, I don't really get the reason for having such a "root url" - isn't it pretty error prone? Wouldn't it be more intuitive to use the URL of the client?

[2019-04-17 06:15] subesokun commented on #13461
@geekgonecrazy Sure, which information would help you?

[2019-04-17 06:55] tiyooo commented on #14151
If the service is stopped, the message below appears.

Apr 17 10:46:43 rocket rocketchat: server.js:199 API ➔ warn Invalid value for permissionsRequired
Apr 17 10:46:43 rocket rocketchat: server.js:199 API ➔ warn Invalid value for permissionsRequired
Apr 17 10:46:43 rocket rocketchat: server.js:199 API ➔ warn Invalid value for permissionsRequired
Apr 17 10:46:43 rocket rocketchat: server.js:199 AP

[2019-04-17 09:07] MIKI785 opened #14164 "Discussion & threads start message does not follow 24/12h clock preference"
### Description:

When starting a new discussion or a thread, the timestamp in the original message starting it does not follow the clock format preference (Preferences -> Messages -> Time format).
The same issue appears in the _Threads_ sidebar.

### Steps to reproduce:

1. Set the clock format to 24h
2. Start a thread/discussion
3. Observe the timestamp

### Expected behavior:

The timestamp sho

[2019-04-17 09:38] irfanjunaid opened #14165 "Migrate to new server"
**Description:**
Trying to migrate the server from old(2 gb / 1 cpu) to new(4 gb / 2 cpu). But unable to migrate data using mongodump and mongorestore as mentioned on #4297 . Also, tried using the _snap run rocketchat-server.backupdb_ at https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#snaps

**Steps to reproduce:**
- On the old server: mongodump ~/backup
- Archive the dir:

[2019-04-17 09:44] subesokun commented on #13461
@geekgonecrazy had just another crashed pod because the node ran out of memory after RC consumed > 3.2 GB RAM. During this time the CPU profile showed that the garbage collection was very busy and took up to 40 seconds per run/execution.

[2019-04-17 10:03] Venomen opened #14166 ""+" button works only 1time and after refresh"
### Description:

Just like in the topic: "+" button for uploading files works only at first time and after refreshing page/app. Doesn't matter if it's priv or channel / app or web.

### Steps to reproduce:

1. Go to Rocketchat.
2. Start conversation and type something.
3. Upload "+" button is hidden after sending message :(
4. Refresh page/app to see and use "+" again.

### Expected behavior:

"+

[2019-04-17 10:10] ralfbecker opened #14167 "Using single Rocket.Chat instance with multiple OAuth servers"
This ticket is not (yet) a bug report, I will describe what we are trying to archive and the obstacles we run into so far.
I appreciate comments, as less time I need to figure out the current status quo, as more I can spend on fixing issues and - of cause - sending them back as pull requests.

We run a Kubernetes based SAAS hosting for our own open-source software EGroupware (www.egroupware.org, h

[2019-04-17 10:13] ralfbecker commented on #14154
Since about a day Rocket.Chat API accepts login with OAuth access-tokens, if a (custom) OAuth server is configured. That seems to make it in the upcoming 1.0 release, as far as I understand.

[2019-04-17 11:18] jcatarino opened #14168 "Channels list by user"
It would be extremely useful for administrators to have a way to see which channels a particular user is in. Somewhere we could select a user and get a list of channels where that user is. Thank you.

[2019-04-17 13:22] Venomen opened #14169 "Copy object (image for example) doesn't work"
### Description:

When using copy from menu on pasted file (for example image), there is bug on pasting - "[object Object]" - instead pasting image. Bug is on application (currently 2.15.2) and web version.

### Steps to reproduce:

1. Go to Rocketchat
2. Copy object (from menu or right mouse click)
3. Try to paste it, get nothing :(

### Expected behavior:

Object should be copied properly.

###

[2019-04-17 13:34] ggazzo commented on #13952
delete the folder and run `git checkout .`

the folder was renamed `peerServer` -> `PeerServer` for some reason the git doesnt (probably you are using windows or macosx)... if the problem persists let me know. if not close the issue ;)

[2019-04-17 13:36] fifou17 commented on #13952
@ggazzo im using github windows desktop

[2019-04-17 13:58] eloo-at-abi commented on #13061
@knrt10
Hi, i've tried the rc1 and rc2 of 1.0.0 and i cant create incoming webhooks at all.
When i'm clicking on new webhook and Incoming WebHook nothing happens.. only the text changes from `New Integration` to `Incoming WebHook Integration` on top of the page.. but i can still see the incoming webhook and outgoing webhook buttons :/

[2019-04-17 14:00] reetp commented on #14156
Still broken in open.rocket.chat from here.

Works in my dev test rig from a few days back

[2019-04-17 14:08] eloo-at-abi opened #14172 "Floating point in fields is not working"
### Description:
Hi,
i've discovered a bug using incoming webhooks.
The bug occurs when a field with an value of type double is send. Then an error is thrown.
With wrapping the value in quotes it works, but the problem is that my system is not wrapping it. Also it works in Slack without quotes.

### Steps to reproduce:

1. Create incoming webhook without script
2. Send message to incoming webhook

[2019-04-17 14:30] ggazzo commented on #13952
did you remove the folder or renamed?

[2019-04-17 14:53] lolimay commented on #14166
It seems a great start for my contribution. Hi @tassoevan, could assign this issue for me? Thanks!

[2019-04-17 14:54] richardwlu commented on #9965
@setpill Can you show me how then? I do not see the feature. We should be able customize the sound to differentiate from a message and a highlighted message.

[2019-04-17 14:55] turbomettwurst opened #14173 "German Translation for "block user" is misleading"
### Description:

The Term "Block User" in the "User Info" window translates to "Lock User" which is misleading as it suggests a users account is actually being disabled on the Server.
This has the potential to create security issues when accounts that are supposed to be locked are instead silenced to the administrator.

### Steps to reproduce:
* set Language Settings to any of the Germans
* selec

[2019-04-17 15:07] eloo-at-abi commented on #14172
Looks like a script like this would fix the issue
[code]

so maybe a simple toString() is missing somewhere

[2019-04-17 15:45] Kailash0311 commented on #14098
Hi, I would like to clarify that this is not the side-effect of the PR as you had pointed at the end.

This is resulting because Rocketchat's update-message only lets the text of the message to be updated and not anything else.

[2019-04-17 16:24] reetp commented on #14166
Noted on open.rocket.chat today

[2019-04-17 16:50] mmgoilf opened #14176 "Bug in 1.0.0-rc.2 with file upload icon"
The "+" file upload icon usually goes away when you are typing and gets replaced with the send message icon. There has been a bug in the past (before this release) that sometimes it would get stuck and the "+" icon wouldn't appear again. In the past simply refreshing the client fixed it. Just now me and someone else encountered this issue, but it would persist even after refreshing the client. We

[2019-04-17 16:55] daneallenh commented on #12974
We have this issue too. It has gotten worse, now when **other** users change their avatars, we have to delete the cache folder in .config (on Linux) to see the new avatar. It is an issue with reloading the cache, I think. "Reload ignoring cache" does not work, and "reset app data" simply refreshes the client without doing anything else. The only way I have found to fix it is to delete the Cache fo

[2019-04-17 17:10] ggazzo commented on #14166
duplicate of #14105

[2019-04-17 17:10] #14166 closed

[2019-04-17 17:25] reetp commented on #14176
Probably a duplicate of #14105 and #14166

[2019-04-17 17:26] reetp commented on #14176
@rocket-cat close as duplicate

[2019-04-17 17:26] #14176 closed

[2019-04-17 17:59] chotaire commented on #10952
I can confirm this issue.

[2019-04-17 18:36] #14105 closed

[2019-04-17 19:19] #13974 closed

[2019-04-17 21:04] fifou17 commented on #13952
@ggazzo thank you so much you saved my day yes i did and its worked

[2019-04-17 21:04] #13952 closed

[2019-04-17 21:46] juanito92 commented on #14105
My boss got really mad at me and threw a cup of coffee at the secretary today because of this issue, better fix it or we'll sue.

[2019-04-17 21:48] juanito92 commented on #12974
My boss got really mad at me and threw a cup of coffee at the secretary today because of this issue, better fix it or we'll sue.

[2019-04-18 04:34] tomonorisugiura commented on #14098
Thanks you for comment.

https://rocket.chat/docs/developer-guides/realtime-api/method-calls/update-message/

In the above document,

So, I think updateMessage should handle update in any portion of a message, not only text...

[2019-04-18 06:48] coders-kitchen commented on #13479
hi!

having this feature not available is a blocker for us using RocketChat in production.

In theory we could make our own distro out of it and patch all the time when a new version is released. but we definitely would like to see this available in the shipped version.

From the issue linked we understood that the whole topic is a heated discussion which makes it hard to find a solution there. Ou

[2019-04-18 06:51] coders-kitchen commented on #2885
so no updates on this apart from a completed heated discussion?

[2019-04-18 08:23] nguyentuandat commented on #13975
The same issue here.

[2019-04-18 09:07] Lawri-van-Buel commented on #2885
OK, To get this discussion back on track, and give a short overview of the issues (as I see them):
The Asked question is "`@xa-bi Can you add an feature that enables storing an users connected IP address and have the ability to ban on IP basis?`"

- Some people think (I am one of them) that mandatory storing / displaying of the IP address is a bad idea. Among other things GDPR compliance and rogue

[2019-04-18 09:43] internalG opened #14183 "How to build or integrate with a blog?"
rocket.chat is amazing so we decide to use it as the key real time communication system in our site. And we need to build the blog system for users. rocket.chat is based on Meteor, is it good to build the blog on the same Meteor in rocket.chat? That avoids complex user authentication but may be limited to rocket.chat functions. If we build the blog on separated Meteor or Django, what's the best wa

[2019-04-18 09:56] jcatarino commented on #14168
It would also be useful to have a filter on the directory to be able to see only who is online.

[2019-04-18 10:31] coders-kitchen commented on #2885
Thanks a lot.
Just a few comments from my side

- I agree that this must not be mandatory, but it should be an option to at least write them on unsuccessful attempts to a log. Which the linked PR provides.
- Yes indeed, IP banning might be sometimes an overkill and will/may affect other users. And I completely agree that IP bans are **not** the tool for punishing malicious users. There are better

[2019-04-18 10:53] setpill commented on #9965
Under "My Account -> Preferences" there is a "HIGHLIGHTS" section where you can define words/phrases to receive notifications on. This functions in the same way (same sound) as if someone @-mentioned you/the room. So if you need to differentiate between being @-mentioned and having a word highlight triggered, I don't think that's currently possible, but it was not clear to me from the original iss

[2019-04-18 11:35] WebSavvyDude commented on #2885
As mentioned before, lets make this OPTIONAL.

That would solve those problems with people who are really scared of GDRP (there are many ways to remain GDRP compliant) or having rogue admins (are you serious? lol... re-examine your hiring practices then).

An optional feature should pretty much keep everyone happy (except one person here).

[2019-04-18 11:51] smzlivee commented on #1927
I have the same problem, use snap to install, use Certbot to get the SSL certificate. Browser and desktop can be accessed, andriod, ios cannot (I am a Chinese, English is not good, I hope to describe this problem)

[2019-04-18 12:00] Lawri-van-Buel commented on #2885
Optional IP logging (e.a. a config options) would not be something I am against. (For example to comply easily with the PATRIOT-act for USA based Hosters)

There already is rate limiting in place on Rocket.Chat, does that not suffice for your needs?
does it need to be expended? Also, Rate limiting can also be achieved on the Firewall level (e.a. a Firewall can only allow 'x' number of packages / s

[2019-04-18 12:03] Lawri-van-Buel commented on #2885
Not everybody uses Payed admins, (think about non-profit or other volunteer vocations).
If we Limit the impact a rogue admin has, we also limit the impact an attacker can have. (it hinders misuse whether intentional and unintentional).

I Agree

[2019-04-18 12:09] #14110 closed

[2019-04-18 12:16] WebSavvyDude commented on #2885
Don’t get me wrong i understand your point about rogue admins (we use volunteer ones also).

But the “chances of one going rogue” is far less than the chances of a person abusing a service criminally.

We have worked with the FBI, Homeland Security and Interpol and countless law enforcement agencies many times over the years with our services.  The ability to provide them IP addresses has led to h

[2019-04-18 14:10] ggazzo commented on #14158
Do you have more information about that? because I dont think its so "simple" to reproduce

[2019-04-18 14:22] marceloschmidt commented on #4082
We have autolinker settings now that you can turn on/off checking for http(s) in links. Thanks.

[2019-04-18 14:22] #4082 closed

[2019-04-18 14:23] marceloschmidt commented on #4589
This belongs to Heroku.

[2019-04-18 14:23] #4589 closed

[2019-04-18 14:24] marceloschmidt commented on #1527
Sandstorm is not supported anymore.

[2019-04-18 14:24] #1527 closed

[2019-04-18 14:25] marceloschmidt commented on #6436
This was fixed. Let us know if this happens any time again. Thanks.

[2019-04-18 14:25] #6436 closed

[2019-04-18 14:25] wreiske commented on #14156
👀

[2019-04-18 14:29] marceloschmidt commented on #1842
@renatobecker please take a look at this issue and the referenced issue. Make a list of API requests, consolidate, and then close this issue, please? Thanks.

[2019-04-18 14:31] rafaelks commented on #14158
At least for me, any thread I react to, the message gets removed from the list:

![2019-04-18 11 31 20](https://user-images.githubusercontent.com/551004/56368294-84759880-61cd-11e9-8add-1de84de56bf5.gif)

[2019-04-18 14:33] marceloschmidt commented on #1163
We currently use eslint to validate coding style, and our CI will not allow PR without passing the rules. Please check https://github.com/RocketChat/eslint-config-rocketchat

[2019-04-18 14:33] #1163 closed

[2019-04-18 14:41] marceloschmidt commented on #10085
I believe we need a way of showing which apps / bots are available to the user. But currently, it's already possible for bots to respond to DMs only.

[2019-04-18 14:41] #10085 closed

[2019-04-18 16:37] danielmcc commented on #14134
I found the problem, docker networking issues on MacOS.
This issue was solved by replacing `http://localhost:8080/auth` with `http://docker.for.mac.localhost:8080/auth` in Rocket-Chat.

[2019-04-18 17:10] reetp commented on #14165
Are the Rocket versions identical? If not then make sure they are.

I'm not sure what a snap backup install has to do with it as you are using a tar install.

What do your rocketchat logs tell you?

[2019-04-18 17:12] reetp commented on #14183
@rocket-cat close

This is a support question rather than a bug in Rocket.Chat

Please ask in the forums or open.rocket.chat

[2019-04-18 17:12] #14183 closed

[2019-04-18 17:15] adrianovieira commented on #11144
Hi!

This also is happening here on my on-premise implementation.

What coul'd I do to fix it?

[code]

[2019-04-18 17:17] geekgonecrazy commented on #13849
We allow things like running in a subfolder etc.  So we cannot simply use relative paths to the root of the domain.   This so far has been the most sure fire way.  We are definitely open to PR's if you find a better way that can work across all deployment scenarios :)

[2019-04-18 17:25] reetp commented on #14032
@rocket-cat close

Please, always search for existing issues.

Probably a duplicate of https://github.com/RocketChat/Rocket.Chat/issues/10530

The likely fix is wait for the release of v1.0.0

[2019-04-18 17:25] #14032 closed

[2019-04-18 17:37] adrianovieira opened #14186 "Maximum call stack size exceeded"
### Description:

UnhandledPromiseRejectionWarning: RangeError: Maximum call stack size exceeded

### Steps to reproduce:

`#  service (re)start rocketchat`

### Expected behavior:

No log errors

### Actual behavior:

Error logging

- main one

[code]

- consequent one

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: Red Hat 7.6
- Deployment Meth

[2019-04-18 17:40] #14038 closed

[2019-04-18 18:03] himpich opened #14187 "LDAP Login broken in 1.0.0-rc.3"
### Description:

I updated our Rocketchat from rc.2 to rc.3, now the LDAP Logins aren't working anymore

related logentries:
[code]
It worked fine in rc.2, my password is correct, other users aren't able to login, too.

I guess the quoting of the Authentication DN is wrong (shouldn't quote , or =) and it is related to https://github.com/RocketChat/Rocket.Chat/pull/14160

### Server Setup Informat

[2019-04-18 19:07] adrianovieira commented on #14186
It appears that it has another consequence...

rocket.chat craches. So, we need to restart both services rocketchat and httpd

[2019-04-18 19:12] bkraul opened #14190 "[BUG] Custom avatar on integrations not respected"
### Description:

Incoming hook integrations are not using the specified custom avatar for posting of messages, and are instead using the default rocket.cat avatar. This issue is related to #14038 which seems to have been already corrected.

### Steps to reproduce:

1. Deploy latest docker develop image.
2. Create an incoming webhook integration. Set a custom avatar in place of the default.
3. Tri

[2019-04-18 19:34] d-gubert commented on #14190
Hi @bkraul! I believe this issue has been fixed by [this PR](https://github.com/RocketChat/Rocket.Chat/pull/14184), so it should be available on the next RC.

Thanks for contributing and please reopen the issue if this problem is not solved :)

[2019-04-18 19:34] #14190 closed

[2019-04-18 19:49] bkraul commented on #14190
@d-gubert You are correct. This appears solved in the latest develop build based on commit ea58137 . Thank you!

[2019-04-18 20:05] unixtam opened #14191 "[FeatureRequest] Setting user language via SAML attribute"
I would like to set the user language automatically according to a `language` attribute returned on SAML login. Would you consider adding this feature?

I am new to Rocket.Chat. Would it be as simple as placing something like

[code]

into https://github.com/RocketChat/Rocket.Chat/blob/develop/app/meteor-accounts-saml/server/saml_server.js, maybe around line 141, after the user creation code?

[2019-04-18 20:38] adrianovieira commented on #14186
It crached at last 4 times so far!

[2019-04-18 20:47] Venomen commented on #14187
Yes, this is major bug, rolling back to rc.2

[2019-04-18 21:08] geekgonecrazy commented on #14146
yes to all of the above.  its open.rocket.chat.  I'm using firefox if that helps at all

[2019-04-18 21:14] Venomen commented on #14169
Still broken in 1.0.0-rc.3

[2019-04-18 21:55] tassoevan commented on #13461
Can it be related to #14186?

[2019-04-18 22:41] himpich commented on #14187
unfortunatly there is a migration in rc.3, so no rollback possible without database restore and therefore dataloss

[2019-04-18 22:45] Venomen commented on #14187
Yeap, thats why I'm always making snapshot/checkpoint etc.

[2019-04-19 03:20] irfanjunaid commented on #14165
Hey @reetp Yes, both the versions are identical.

My colleague initially used ubuntu snaps to install the server. I am now preferring manual method for greater control. I used the mongodump tool from snaps installed location and manually installed using apt. DB is backing up and restoring fine...

I tried searching the /var/logs location for log files but not successful. Though I never encountered

[2019-04-19 07:55] ppraksa opened #14193 "I can't update Rocket MacOS Mojave 10.14.4"
![Zrzut ekranu 2019-04-19 o 09 53 02](https://user-images.githubusercontent.com/14870997/56413827-0c6ca880-6289-11e9-9c7f-b267603de85a.png)

While clicking on the 'install update' nothing is happening

[2019-04-19 09:03] danielmcc123 commented on #10420
+1 for this

[2019-04-19 10:00] phlegx commented on #12331
Is this option now there? Couldn't find it either.

[2019-04-19 11:09] ros-calumgilchrist commented on #14172
Maybe this should be another issue, but I see similar issues with large numbers in the value field:
For example: `28363980800` errors but `28363980` does not.

[2019-04-19 13:27] alnikitich opened #14194 "I can`t send personal message / notification from Rocket.Chat App to rc.SDK client"
I try to send a personal message from Rocket.Chat App (https://rocket.chat/docs/developer-guides/developing-apps/getting-started/) to RC user to RC.SDK client (https://github.com/RocketChat/Rocket.Chat.js.SDK), but I can`t find a way for it.

First way: in IModifyCreator I can`t set destination user.

Second way: RC.SDK client can`t receive message created by INotifier

What the best way to send a

[2019-04-19 16:24] irfanjunaid commented on #14165
Alright, managed to extract the logs from journalctl:

systemd[1]: Started The Rocket.Chat server.
rocketchat[24525]: Updating process.env.MAIL_URL
rocketchat[24525]: LocalStore: store created at
rocketchat[24525]: LocalStore: store created at
rocketchat[24525]: LocalStore: store created at
rocketchat[24525]: Setting default file store to GridFS
rocketchat[24525]: Starting Email Intercepter...
roc

[2019-04-19 16:59] dimm0 commented on #12331
Go to users in administration, click a user, and the option is in its menu

[2019-04-19 17:04] wreiske opened #14197 ".wav files do not play in attachment previews"
### Description:

Uploaded .wav files do not seem to play when displayed as attachments. They play fine in the upload dialog, but not in the message attachment.

### Steps to reproduce:

1. Upload a .wav file
2. Try to click the play button

### Expected behavior:

Play the file

### Actual behavior:
The file isn't playable. Looks like the type="audio/wave" should be "audio/wav".

The file content

[2019-04-19 17:09] online0227 opened #14198 "Internal Server Error when signing as anonymous"
### Description:

Shows internal server error and anonymous doesn't work when it is requested. Pressing button reacts nothing but shows the error.

On console, it shows 2 kinds of exception:
**1.**
I20190419-17:01:42.982(0)? Exception in callback of async function: TypeError: Data must be a string or a buffer
I20190419-17:01:42.983(0)?     at Hash.update (crypto.js:99:16)
I20190419-17:01:42.984(0)

[2019-04-19 17:18] ramrami commented on #13461
Maybe related to this [issue](https://github.com/meteor/meteor/issues/10216) in meteor 1.8.0.
High CPU usage in production and 80%+ of time is spent in the GC, on both node 8.11.4 and 8.12.0

[2019-04-19 17:45] wreiske commented on #14197
Changing the audio_type in the database to "audio/wav" fixes this.

![wave](https://user-images.githubusercontent.com/6295044/56436295-4f3e7880-62a9-11e9-91bf-1ad864474ff6.gif)

[2019-04-19 20:29] unixtam opened #14200 ""Invalid user" error when terminating SAML session on logout"
### Description:

After logging out via SAML, a red error notification pops up in the upper right corner of the page reading "Invalid User" if the SAML session is configured to be terminated on logout.

### Steps to reproduce:

1. set up SAML
2. make sure "Logout Behaviour" is set to "Terminate SAML-Session"
3. log in a SAML user
4. log out the SAML user
5. see error pop up on the login screen

##

[2019-04-19 20:54] Sparkfiber commented on #7549
Same issue - not resolved as of yet, but it is problematic when attempting to use a bridge/bot - it does the same thing for the profile picture.

[2019-04-19 22:05] wreiske commented on #14197
The audio preview should take the actual content type of the file being previewed.. Currently, it is hardcoded to audio/wav.

![image](https://user-images.githubusercontent.com/6295044/56445869-6beca780-62cd-11e9-8fcb-c321802e20a5.png)

[2019-04-20 00:40] 0E800 commented on #13148
ditto: Debian Stretch

[2019-04-20 04:12] juliomac opened #14202 "image_url avoid adding ROOT_URL automatically"
I am connecting to Rocket Chat from another Meteor app using DDP.connect and calling 'sendMessage' method as below.

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0-rc.0
- Operating System: Ubuntu (AWS)
- Deployment Method: docker on Ubuntu AWS
- Number of Running Instances: 1
- DB Replicaset Oplog: Disabled
- NodeJS Version: 8.11.4 - x64
- MongoDB Version: 3.6

### D

[2019-04-20 04:31] flantascience commented on #2815
I'm revisiting this because now that I'm trying to get the mobile app working, this error has returned:
{"error":"redirect_uri_mismatch","error_description":"The redirect URI provided is missing or does not match","error_uri":"http:\/\/tools.ietf.org\/html\/rfc6749#section-3.1.2"}

Desktop works fine.  But this error prevents the mobile app from connecting.

[2019-04-20 06:15] knrt10 commented on #14197
@wreiske nice. Can you please tell which application are you using to debug the database collections on the above gif. Thanks

[2019-04-20 06:18] knrt10 commented on #14168
This is nice. Let me try and implement it.

[2019-04-20 09:04] zhanggaoxuan opened #14204 "will you support b2+cloudflare for the storage and CDN?"
will you support b2+cloudflare for the storage and CDN?
it will be very cheap for own by ourself

[2019-04-20 09:59] sophornsna opened #14205 "User cannot send message direct"
Dear rocket chat team,

I have a problem user cannot send a message it shows ignore and the option conversation is lost.
![Selection_001](https://user-images.githubusercontent.com/16955446/56455799-753d4900-638d-11e9-96c6-9a687cda0732.png)

[2019-04-20 14:40] wreiske commented on #14197
https://www.mongodb.com/products/compass

[2019-04-20 14:51] knrt10 commented on #14197
Thanks a lot.

[2019-04-21 01:01] Sparkfiber commented on #4645
Actually this is a feature that would be very helpful - currently you cannot group users with a global role and allow access to that group in rocket.chat as far as I can see. Being able to gate off access to rooms based on a global role/group would be extremely helpful.

For example: having a role for marketing - allowing all members with the marketing access to marketing-related rooms but not acc

[2019-04-21 12:12] knrt10 commented on #14205
@sophornsna If you are the administrator of your server, go to **Administration -> Permissions** and check whether`Create Direct Messages` is enabled for your server. Otherwise, your administrator might have disabled it for users. Fifth block is for user permissions

![Permission](https://user-images.githubusercontent.com/24803604/56469859-d122d300-645c-11e9-9617-77d43bdb5f64.png)

[2019-04-21 13:24] Kailash0311 commented on #14092
@geekgonecrazy can you please review it?

[2019-04-21 14:43] knrt10 commented on #12237
Hmm, a valid point will make a PR for the same. As far as I think both the manager and admin should be able to enable/disable office hours.

[2019-04-21 17:21] knrt10 commented on #396
On it, will try to add this feature.

[2019-04-22 02:25] sophornsna commented on #14205
Thanks, now it is working fine.

[2019-04-22 02:48] knrt10 commented on #14205
Cool, feel free to close the issue

[2019-04-22 07:50] erkankyn1 commented on #10170
This problem continues in version 0.74.3.

[2019-04-22 08:24] carlo-fontanos opened #14208 "Error when creating a new department"
I am currently getting the error message `Match error: Expected boolean, got string in field enabled` when creating a department. I tried in both PHP and jQuery but still getting the same response. I believe this is a bug. Please see my code bellow:

**jQuery Version:**
[code]
Above return the following response:

`{"message":"Match error: Expected boolean, got string in field enabled","path":"ena

[2019-04-22 11:47] knrt10 commented on #14208
@carlo-fontanos. 2 things to add. This is not updated in docs, will open a issue for the same, but you have to add 2 more fields, `email: String` and `showOnOfflineForm: Boolean`. @renatobecker I thinks docs are not updated.

[2019-04-22 11:53] lorek123 commented on #14193
Wrong repo, post the issue here https://github.com/RocketChat/Rocket.Chat.Electron

[2019-04-22 11:56] knrt10 opened #14209 "[BUG] Personal Access Token not getting listed"
### Description:

When creating a personal access token, the list is not shown

### Steps to reproduce:

1. Click My accounts -> Personal Access token
2. Create a new token
3. Close dialog

### Expected behavior:

The list should be shown

### Actual behavior:

![Personal access token](https://user-images.githubusercontent.com/24803604/56499382-ba937f00-6523-11e9-8d63-283c97f6d20a.gif)

Nothing

#

[2019-04-22 12:53] adrianovieira commented on #14186
Wow!
That was our issue.

After disabling WebDAV integration our rocketchat environment becomes stable again.

Thank you all.

[2019-04-22 12:53] #14186 closed

[2019-04-22 14:55] #14205 closed

[2019-04-22 15:42] darkpal commented on #13970
+1

[2019-04-22 16:32] reetp commented on #14202
Please test on the latest rc (currently 3) so you are using latest code. You can also try the devel version as well.

[2019-04-22 16:34] reetp commented on #14193
@rocket-close
Closing as duplicate and wrong repo.

[2019-04-22 16:34] #14193 closed

[2019-04-22 17:39] 1RF17 opened #14212 "New server bug layout"
Hello,
I created a new cloud server in the silver plan, to do some tests and check the features for using Rocket.chat in my company.
But after running it, the layout came out like this:

`https://photos.app.goo.gl/FVMd5FTPwkeHv2Tt8`

Is this normal? All the videos and photos I saw of the product were not that way. I know I can change this in the settings, but I could not find a nice layout by doin

[2019-04-22 18:44] tassoevan commented on #14156
The `Hide Right Sidebar with Click` preference is interfering here. A patch is coming.

[2019-04-22 19:07] graywolf336 commented on #14153
Closing as I do not see any difference between the two responses. One has more users online and the other doesn't. Everything else about the two responses are the same.

[2019-04-22 19:07] #14153 closed

[2019-04-22 19:32] MarcosSpessatto commented on #13462
@Galatoni I'll close this issue since we talked about this problem via DM, if the problem persists, feel free to reopen.

[2019-04-22 19:32] #13462 closed

[2019-04-22 19:46] tassoevan commented on #14197
Weird. Both `audio/wav` and `audio/wave` are valid MIME types for *.wav files.

[2019-04-22 20:12] knrt10 commented on #13061
@eloo-at-abi sorry for the late response. I tried on the latest `1.0.0-develop` code it is working fine. Would you please specify the exact version. Also if running locally, please rebase the code and try again.

[2019-04-22 20:19] #14156 closed

[2019-04-22 20:22] #8082 closed

[2019-04-22 20:36] juliomac commented on #14202
Thanks! Is There a docker image for rc3 ?

[2019-04-22 21:10] #14109 closed

[2019-04-22 21:12] reetp opened #14218 "Cannot return to original comment from 'Reply'"
Rocket v1.0.0-rc3

Following the bug and patch here https://github.com/RocketChat/Rocket.Chat/issues/14156

I tested commenting on a Reply.

I noticed the box now opens to the right as expected, but the main conversation jumps down to the latest message.

There is then no direct route back to the original comment for reference (I found I had wanted to read some other things from around the time of

[2019-04-22 21:38] reetp commented on #14202
Yup - Just pulled it myself:

image: rocketchat/rocket.chat:1.0.0-rc.3

You can also use rocket.chat:latest (currently 0.74.3) or rocket.chat:develop for whatever is the latest docker image built

Things are moving at a very quick pace so things can be fixed (and broken again !) in a day.

[2019-04-22 21:56] #14197 closed

[2019-04-22 23:16] reetp commented on #14169
Seems to occur in a browser too - I just tried on Chromium

Version 73.0.3683.86 (Official Build) Built on Ubuntu

reetp 12:52 AM
[object Object]

[2019-04-23 03:07] carlo-fontanos commented on #14208
@knrt10, I added the 2 fields you suggested, but still not working

[code]

My RC version is **0.74.3**

I think the problem is that REST API of RC seem to be treating the payload as a String rather than Boolean, as stated in the error message `Match error: Expected boolean, got string in field enabled`

Any other ideas?

[2019-04-23 03:22] granttoday opened #14221 "Bug with joining"
### Description:
When a new user joins, it adds them to the default channels, which is normal. But if they change their username, their join message username link doesn't work anymore, freezing the sidebar.

### Suggested Solution
Make the user tags (the clickable usernames) tied to user IDs, preventing username changes from breaking the user info page

Make the user details page (userinfo flex pa

[2019-04-23 04:10] knrt10 commented on #14208
Check is only for Boolean though in the code, its a bug, will look into it and get back

[2019-04-23 04:31] knrt10 commented on #13061
@himpierre binary release for `1.0.0-rc.3` is out

[2019-04-23 04:38] geekgonecrazy commented on #14154
Yes this is now possible to send access token along

[2019-04-23 04:38] #14154 closed

[2019-04-23 04:43] geekgonecrazy commented on #14134
Yes localhost is pointing to the container it’s self.

Closing since solved

[2019-04-23 04:43] #14134 closed

[2019-04-23 04:49] geekgonecrazy commented on #13975
This is fixed in the latest rc for 1.0

[2019-04-23 04:49] #13975 closed

[2019-04-23 05:06] knrt10 commented on #14208
@carlo-fontanos I solved it. I problem is how you are sending request to the server. Here try this

[code]

In your jQuery ajax call, `JSON.stringify` your data before you send it will arrive at the server as a parse-able javascript object. But if you leave out the `contentType` attribute then things get all goofed up including the bools. Hope this should work. Feel free to check and close the iss

[2019-04-23 05:25] carlo-fontanos commented on #14208
@knrt10
Thank you, it is working now.
Closing the issue.

[2019-04-23 05:25] #14208 closed

[2019-04-23 06:22] eloo-at-abi commented on #13061
@knrt10 looks goot in 1.0.0-rc.3 for me 👍

[2019-04-23 07:06] romannep commented on #13688
0.74.3 - same issue.

CSS class "embedded-view" aplied to DOM, but with no visual effect.
Can be solved localy by adding user CSS style
[code]

[2019-04-23 08:19] Armadill0 commented on #12489
I just stumbled across this. Is there a possibility to configure the statistics refresh cycle time?

At least the statistics API endpoint (https://rocket.chat/docs/developer-guides/rest-api/miscellaneous/statistics/) has the possibility to refresh the data on the fly. Maybe the Prometheus logic can be rewritten to use this instead?

[2019-04-23 08:30] himpich commented on #14187
FYI: Commenting out the Line `		dn = ldapEscape.dn`${ dn }`;
` of https://github.com/RocketChat/Rocket.Chat/pull/14160 fixed my problems, I managed to get a self-build image running. No issues with the other ldap changes of the PR so far

[2019-04-23 09:22] erhan- commented on #14187
Well that reverts the input sanitation in the username during LDAP login but you also put yourself at risk for LDAP injections.

[2019-04-23 09:46] himpierre commented on #13061
Yes. Seems to be working again. Thanks @knrt10 :-) ---> closing issue.

[2019-04-23 09:46] #13061 closed

[2019-04-23 09:56] himpich commented on #14187
I know. I just wanted to state that all other sanitze changes (there are a few more other "escapes") don't cause a problem in my installation, it's just this line.

[2019-04-23 10:00] reetp commented on #14221
Can you please test on latest which is currently 1.0.0-rc.3 (ONLY on a test setup, not your production machine)

There are a huge number of changes and updates from current stable so please see if yours has been fixed.

Try and make sure you use the same engine versions for testing as per https://github.com/RocketChat/Rocket.Chat/releases

eg

Engine versions
    Node: 8.11.4
    NPM: 6.4.1
    Mo

[2019-04-23 10:03] reetp commented on #13688
As per previous comments this is probably fixed in v1.0.0.x (and the fix for 0.74.3 will be upgrading to v1.0.0)

Can you please test on latest which is currently 1.0.0-rc.3 (ONLY on a test setup, not your production machine)

Try and make sure you use the same engine versions for testing as per https://github.com/RocketChat/Rocket.Chat/releases

eg

Engine versions
Node: 8.11.4
NPM: 6.4.1
MongoDB

[2019-04-23 11:31] julienvey commented on #12880
To add information about the issue. We recently switched to a multiple instances rocketchat installation and we no longer see any memory leak. So the problem seems to happen only when using a single rocketchat instance (or a single mongo database ?)

![Capture d’écran 2019-04-23 à 13 28 22](https://user-images.githubusercontent.com/455944/56577680-dc484100-65cb-11e9-8c81-02ff160e1d71.png)

[2019-04-23 11:35] cortex3 commented on #13602
same here, using CentOS 7, rocketchat 0.73.2, mongodb 4.0.5, node 8.11.4 and 2 instances on the same host. Restarting the service resolves the problem for a while.
![rock](https://user-images.githubusercontent.com/10298122/56577947-a5265f80-65cc-11e9-8b6b-c6415a58e689.jpg)

[2019-04-23 11:52] MIKI785 commented on #14212
Did you try restarting the server? I think there was an issue with the styling not being loaded correctly on the first start of the server.

[2019-04-23 13:33] Saurobot1 commented on #12974
We've been having this issue too. Any update on this?

[2019-04-23 14:35] 1RF17 commented on #14212
Yes, I just rebooted now. Same problem yet. Another image of how it is:

`https://photos.app.goo.gl/WRwcAr6qq1aLU82H7`

[2019-04-23 14:42] d-gubert commented on #14212
Apologies, I mistakenly closed the issue 😬

[2019-04-23 16:25] alyssais commented on #13686
Is there a copy of the full license that will apply to users of rocketchat after this upgrade? What terms does it impose on redistributors?

[2019-04-23 17:06] ggazzo commented on #14158
@rafaelks could you try again on open.rocket.chat? I think it was solved...thanks :)

[2019-04-23 17:23] ggazzo commented on #14212
@1RF17 could you send me a message on https://open.rocket.chat/direct/guilherme.gazzo ? I could check your instance, and get some "private" information :)

[2019-04-23 17:32] 1RF17 commented on #14212
Ok, @ggazzo , I sent a message there

[2019-04-23 17:53] rafaelks commented on #14158
@ggazzo Still happens to me :-(

[2019-04-23 18:12] renatobecker commented on #1842
Okay, @marceloschmidt.
Thanks.

[2019-04-23 18:21] #14212 closed

[2019-04-23 18:22] d-gubert commented on #14212
Hey @1RF17 could you comment the solution here for anyone who might have the same problem in the future? Thanks!

[2019-04-23 18:30] 1RF17 commented on #14212
@d-gubert yes, of course:

@Ggazzo restarted my instance and resolved the issue.

But this problem was only happening in my computer, in the other computers of my company everything was normal. I had cleared cache, cookie and history and nothing had advanced. Just rebooting the instance solved.

[2019-04-23 19:54] ggazzo commented on #14164
closed by #14177

[2019-04-23 19:54] #14164 closed

[2019-04-23 20:04] tassoevan commented on #13075
It seems solved right now.

[2019-04-23 20:04] #13075 closed

[2019-04-23 20:42] juliomac commented on #14202
Unfortunately issue continues with image: rocketchat/rocket.chat:1.0.0-rc.3. It is still adding ROOT_URL too image_url on sendMessage method.

Could be something else?

![Captura de tela 2019-04-23 17 29 29](https://user-images.githubusercontent.com/3759295/56613710-9603d980-65ed-11e9-9aaa-28e49c383e4e.png)

[2019-04-23 20:48] geekgonecrazy commented on #12489
most of the data provided by prometheus endpoint is the data of internal workings and method timing.  Its not necessarily meant for all of this data, its just been exposed here.

As far as I know though there isn't a way to set interval.  I've seen someone else have a cronjob that hit one of the stats endpoints to generate more frequently.  Any stats generated will be the same stats the prometheus

[2019-04-23 20:56] renatobecker commented on #1842
We've created specific issues for each feature described on the issue's description.
All of these features can be found here: https://github.com/orgs/RocketChat/projects/20
If you guys notice that there is any feature missing, please, just let me know.
Thanks.

[2019-04-23 20:56] #1842 closed

[2019-04-23 21:18] juliomac commented on #14202
This is the HTML of the resulting response:

[code]

[2019-04-23 22:30] apazureck opened #14228 "Outgoing webhook always returns error ECONNREFUSED"
Hi,

I am trying to call a method on my asp.net core controller using an outgoing webhook in rocket chat. When I call my endpoint with postman I get the intended result. When I try calling it using the outgoing webhook I always get the response ECONNREFUSED.

I ran fiddler to see, what acutally goes out, but it seems there is nothing sent out by Rocket Chat at all. My postman request shows up as e

[2019-04-23 22:31] geekgonecrazy commented on #2815
@flantascience ios or android?

[2019-04-24 00:51] d-gubert commented on #14228
Hello @apazureck !

You mentioned you are using a docker image. By default, your container runs in an isolated network and is not able to communicate with other local addresses on your machine, so that is probably why you can successfully make your request with Postman but Rocket.Chat fails.

In Unix systems you can pass the flag `--net=host` to the docker run command and then your container would

[2019-04-24 01:17] d-gubert commented on #14202
Hello @juliomac

It is weird that the issue still persists for you in this version, since [this change should have solved this kind of problem](https://github.com/RocketChat/Rocket.Chat/blob/1.0.0-rc.3/app/utils/lib/getURL.js#L7).

I haven't been able to reproduce the problem in the `1.0.0-rc.3` tag with the following call:

[code]

Maybe I'm missing some step you did?

[2019-04-24 04:17] Wille007 opened #14230 "[DocumentDB] MongoError: namespace name generated from index name is too long"
I am using Amazon DocumentDB to instead of MongoDB, and then use docker-compose to deploy. finally I found one error below, and I didn't found any solutions:

when I run docker-compose up, then I met this kind of error.
but I found that in the DocumentDB, threre is rocketchat collections there, but there is no users in users collection. that means connection is no problem  right?.
I tried local Mo

[2019-04-24 06:31] jsdckr commented on #11518
I'm also seeing this issue. Ubuntu 18.04; manual installation. User selects "End Chat". Pop-up appears, "Are you sure you want to end this chat?" -> Yes -> No change visible at user end (automatic closing message doesn't send). At server end; the chat no longer shows as live. If the user messages further, the chat re-livens.
With grateful thanks, Jamie

[2019-04-24 09:20] hypery2k opened #14231 "Registration Error"
### Description:

Using latest develop branch docker image on our preview system and upgraded it with latest image results in error
### Steps to reproduce:

1. Deploy develop branch
2. Redeploy after changes on develop branch

### Expected behavior:

Works ;)

### Actual behavior:

Getting this error:
[code]

### Server Setup Information:

- Version of Rocket.Chat Server: develop branch of docker

[2019-04-24 10:01] juliomac commented on #14202
AHAAA!! I've found what is the issue!

It is working on the OLD version of Livechat. But it is not working working on the NEW Version of the LiveChat. The one that is called with ```'https://chat.libertas.tur.br/livechat?version=1.0.0'```

I tested both with same call and conditions and that's definitely the issue.

THANK YOU!

[2019-04-24 10:03] unixtam opened #14232 "Sometimes(!) the home screen does not load after logging in"
Sometimes when I log into Rocket.Chat, the home screen does not load. There is the channel list on the left and on the right there is a white screen where the 3-dot animation keeps looping. When I click on a channel, the home screen loads. Only when I then click the channel a second time does the channel load. It's as if the home screen loading was waiting on some event to continue which in some c

[2019-04-24 11:34] tea-mo903 commented on #3582
Besides the endless +1 comments, I'd also like to see that feature. That would make our endlessy growing amount of RC channels more easy to distinguish between

![rc_channels](https://user-images.githubusercontent.com/11437666/56656341-8e980b00-6695-11e9-8da9-9005d3f1b104.png)

[2019-04-24 11:49] Agisbert commented on #3582
### +1
Having multiple channels is definitely a reason

[2019-04-24 12:44] fleaz commented on #13374
Can anybody help @algomaster99 with this?

Our customer are running into this issue regularly :(

[2019-04-24 13:15] engelgabriel opened #14233 "Thread Reply title breaks when original message contains quote"
<img width="456" alt="Screenshot 2019-04-24 at 10 12 47" src="https://user-images.githubusercontent.com/1000217/56662189-cb560900-6679-11e9-85a1-f0a3ede93df8.png">

[2019-04-24 13:17] erhan- commented on #14187
Forget what I said. A user can not change the `dn` attribute anyway. The only risky thing might be the unsanitized username. If it still works with the escaping, it's good imho.

[2019-04-24 13:30] #14209 closed

[2019-04-24 13:55] d-gubert commented on #14202
Nice! :D

Do you mind creating an issue [on the new livechat repo](https://github.com/RocketChat/Rocket.Chat.Livechat)?

[2019-04-24 13:58] johncordeiro commented on #13426
When it will be available at a Stable version?

[2019-04-24 14:00] lucassmacedo commented on #13934
any idea?

[2019-04-24 14:07] Gautime commented on #8171
Hey @danieljhochman! I am interested in solving this issue. Can you please guide me to the files relevant to this issue?

[2019-04-24 15:22] Gautime commented on #5031
@timkinnane  Can i work on this? Please point me to the relevant file needed to be changed in this issue.

[2019-04-24 17:06] niklasdahlheimer opened #14237 "[Bug] user is marked as "online" after logout"
### Description:

There is one user in our Rocket.Chat which is shown online all the time, even after the user has been logged out at all devices. An Error is being thrown everytime the user logs in/out.

I tried to manually set the status to "offline" in the Collection, but that didn't help.

**A restart of the Rocket-Chat-Container fixes the error.**

### Expected behavior:

User should be displ

[2019-04-24 18:28] rodrigok opened #14239 "Arrow up to edit the last message set the cursor position to the beginning of the message instead of the end"

[2019-04-24 18:28] rodrigok opened #14240 "Arrow down is editing the last message as well and shouldn't"

[2019-04-24 18:47] DarkRider1768 commented on #13926
No, unfortunately. It comes and it goes. We updated to 1.0.0-rc3 in the hopes that it might have tackled some of the issues but it's too early to tell if it fixed that particular issue.

[2019-04-24 18:52] geekgonecrazy opened #14243 "Unhandled Promise Rejections"
With: #14220 and newer version of node.js exiting by default on unhandled promise rejections... we now need to capture and solve every case of a unhandled promise rejection.

- [x] subscription.receiver is not iterable
[code]
- [ ] MongoError: ns not found
[code]
- [ ] mongo network related
<details>

[code]
</details>

- [ ] error loading cert.pem https://github.com/RocketChat/Rocket.Chat/issues/

[2019-04-24 18:56] geekgonecrazy commented on #13494
If you see this again definitely open a new issue.  In the future unhandled promise rejection will actually terminate the process.

[2019-04-24 18:57] geekgonecrazy commented on #14243
@rodrigok here is first since the change.  Keeping an eye out for more

[2019-04-24 20:16] #14123 closed

[2019-04-24 21:51] geekgonecrazy commented on #13889
I don't think just removing necessarily solves

But.. if multiple are provided we could simply check to see if among the ones allowed and if so respond with just that host instead of the raw string with both values.  This is how typically done.

So if set to: https://domain1.com, https://domain2.com

You request with https://domain1.com **Access-Control-Allow-Origin**: https://domain1.com
And you

[2019-04-24 22:01] geekgonecrazy commented on #14231
What commit? Also do you know if this was registered or unregistered? Was this an upgrade from a previous version when you got this?  If so what version?

[2019-04-24 22:03] geekgonecrazy commented on #14230
Rocket.Chat is not compatible with documentDB.  DocumentDB is not mongodb. It may implement some of its query set but its not going to work with Rocket.Chat

[2019-04-24 22:04] #14230 closed

[2019-04-24 22:13] geekgonecrazy commented on #14202
Closing this issue.  Please open issue over on livechat repo if you haven't already :)

[2019-04-24 22:13] #14202 closed

[2019-04-24 22:16] geekgonecrazy commented on #14165
if you are moving from snap make sure your MONGO_URL is pointing to the DB name `parties` as thats what the DB name is in snaps.

To avoid this you can:
[code]
then mongorestore

[2019-04-24 22:16] apazureck commented on #14228
Hi @d-gubert,

Thank you for your quick reply. Sadly the `--net=host` only works for linux. I have to use Docker Toolbox for windows, as I cannot install the docker for windows due to a "typo in the installer" preventing it from running on my totally fine windows 10 installation.

In docker toolbox I have virtualbox doing the network stuff. It also creates networks. When I open RC on my browser it

[2019-04-24 22:16] #14228 closed

[2019-04-24 22:25] geekgonecrazy commented on #14077
This is more of a support thing.

Feel free to post in forum.  Suggest posting more information about the source install setup and destination install setup though for better help.

[2019-04-24 22:25] #14077 closed

[2019-04-25 00:31] miguelmota commented on #10161
Getting the same problem on a fresh git clone

[2019-04-25 00:36] miguelmota commented on #9399
Same problem on a fresh git clone install

[2019-04-25 01:17] Wille007 commented on #14230
@geekgonecrazy , thanks!

[2019-04-25 03:36] hypery2k commented on #14231
not really sure which commit. Hat it twice. Each time I use the latest develop version. When I drop the data_dir of the mongo container all is working again

[2019-04-25 06:59] geekgonecrazy commented on #14231
going to attempt to reproduce this.  Definitely do not want this happening.

But would be good to know if you did anything different in register

[2019-04-25 07:54] ralfbecker commented on #14167
I looked into what need to be changed in Rock.Chat to allow using just a path as OAuth endpoint: problem is that Meteor OAuth code/classes do not make the request information available to Rocket.Chat OAuth code, so the enhancement would need to go rather to Meteor then Rocket.Chat.

Given the above and some obvious benefits of running single Rocket.Chat instances for each domain, we implemented no

[2019-04-25 07:54] #14167 closed

[2019-04-25 09:36] sethunath commented on #7780
Custom fields works only for registration, not for login

[2019-04-25 11:08] erkankyn1 commented on #14143
The same problem exists on my server.

[2019-04-25 11:46] juliomac commented on #14202
Will do. Thanks!

[2019-04-25 12:22] #14239 closed

[2019-04-25 13:03] #11586 closed

[2019-04-25 14:03] MatthiasHertel commented on #13488
same issue here after a fresh install with docker-compose. i skipped the setup wizard with ` - OVERWRITE_SETTING_Show_Setup_Wizard=completed` is that a problem ?

below some informations:

**docker-compose.yml**
[code]

**logs**
[code]

[2019-04-25 14:17] marceloschmidt commented on #10458
Internal hubot has been deprecated.

[2019-04-25 14:17] #10458 closed

[2019-04-25 14:27] marceloschmidt commented on #2071
Future architecture has encryption and potentially MQTT support.

[2019-04-25 14:27] #2071 closed

[2019-04-25 14:32] rodrigok commented on #7125
We will have an option to create bots via apps https://github.com/RocketChat/Rocket.Chat.Apps-engine/issues/49

[2019-04-25 14:32] #7125 closed

[2019-04-25 15:19] Sing-Li commented on #10174
This is a strange one.  @timkinnane asked for ideas to demonstrate BOT but we received tons of Apps ideas.    Have captured all App ideals in the feature-request repository as issues.

Will be closing the base issue.

[2019-04-25 15:19] #10174 closed

[2019-04-25 16:12] MarPiRK commented on #2071
@marceloschmidt could you elaborate what is the future architecture and where can I track its development (ie. issue, or sth)?

[2019-04-25 16:18] nguyentuandat opened #14247 "meteor npm install has error"
### Description:
Do we have any document to deploy develop branch? Thank you

### Steps to reproduce:

1. I download pre-release 1.0.0-rc.3 at https://github.com/RocketChat/Rocket.Chat/archive/1.0.0-rc.3.tar.gz
2. Then i unzip
3. run `meteor npm install`

### Expected behavior:
`meteor npm install` is successful

### Actual behavior:

[code]

### Server Setup Information:

- Version of Rocket.Chat

[2019-04-25 16:51] pkgodara commented on #14247
@nguyentuandat Seems like package installation failed. Try installing the app again or install the package that failed.

[2019-04-25 17:13] diegolmello opened #14248 "Legal pages on mobile"
This is how Terms of Service presented on mobile. It happens on Privacy Policy as well.
I think we don't need a modal or that large grey margin.

![image](https://user-images.githubusercontent.com/804994/56754299-0aac5480-6763-11e9-882a-2f166c7e0780.png)

[2019-04-25 17:17] bott0r commented on #10174
Can you link the feature request repository

[2019-04-25 17:57] abicur opened #14249 "Pressing Enter in User Search field at channel causes reload"
### Description:

Pressing Enter in User Search field at room causes reload.
The problem exists on web client and desktop client.

### Steps to reproduce:

1. Go to any channel
2. Open users list
3. Type a query and press Enter. Or just press enter without any query.

### Expected behavior:

Searches and displays the search result.

### Actual behavior:

App is reloading.

### Server Setup Informa

[2019-04-25 18:04] anju-jsl opened #14250 "Not able to invite users to a private channel"
### Not able to invite users to my newly created private group

### Steps to reproduce:

1. Create a private group
2. Go to member list create "invite users"
3. type a name and it will show "loading" inifinite time

### Expected behavior:

Users should be shown as search results

### Actual behavior:

Nothing happens beyond "Loading"

### Server Setup Information:

- Version of Rocket.Chat Server:

[2019-04-25 18:11] ggazzo commented on #1988
we could make something on frontend... https://codepen.io/ggazzo/pen/qvxpVP?editors=1111

[2019-04-25 18:40] #9339 closed

[2019-04-25 19:07] pedrolucasoliva commented on #14247
Have you tried to delete "c:\User\USERNAME\node_modules\" folder?

[2019-04-25 19:30] williamjamir commented on #9708
Anything new about this problem? I am using the dev version released today (04/25/2019) and the problem persists with links that are FTP

[2019-04-25 20:08] knrt10 commented on #13583
On it

[2019-04-25 20:18] #5028 closed

[2019-04-25 20:49] #13305 closed

[2019-04-25 21:07] reetp commented on #9399
Adding this to a bug closed over a year ago is not going to get you any help.

As you have also put the same comment on https://github.com/RocketChat/Rocket.Chat/issues/10161#issuecomment-486475681 you probably need to review your build process and you node/npm versions.

If you still have a problem first ask in https://open.rocket.chat or https://forums.rocket.chat
If it cannot be solved there th

[2019-04-25 23:23] flantascience commented on #2815
@geekgonecrazy    This is on IOS

[2019-04-26 00:01] geekgonecrazy commented on #2815
@rocketchat/ios thoughts?

[2019-04-26 01:12] nguyentuandat commented on #14247
Thank you for your response @pkgodara I got it.
I found out that i missing `bzip2` lib on my CentOS.
Just run the command `sudo yum install bzip2` then `meteor npm install` and then it resolve.

[2019-04-26 02:07] d-gubert commented on #14250
There is an on-going PR to solve this https://github.com/RocketChat/Rocket.Chat/pull/14253 :)

Please note that this is a behavior introduced in a release candidate, and is not present in the latest _stable_ version of Rocket.Chat

[2019-04-26 02:36] geekgonecrazy commented on #14243
@rodrigok found two more.  Both popped up right around the time that an unexpected primary election happened.  Added both above.  `MongoError: ns not found` happened on 3 out of the 4 instances.  The other happened on just one.

[2019-04-26 03:26] nguyentuandat commented on #14247
When i build, i have an issue
`Killedlding for web.browser `
My VPS just 1GB RAM, so Can i build? (It need 8GB of RAM) If not possible, How can i build on my local (macos) and deploy into my VPS @pedrolucasoliva ?

Thanks.

[2019-04-26 03:37] anju-jsl commented on #14250
Thanks @d-gubert , How can I get the stable version of Rocket.chat? I downloaded the dmg file from internet

[2019-04-26 05:24] engelgabriel opened #14254 "Update message actions"
# This is the final list:

Add Reaction
Start a Discussion
Reply in Thread
Reply Directly
Quote
Get Link
Copy
Edit
Pin
Star
Info
Mark Unread
____
Report
Delete

## TO REMOVE
Translate -> Move to an icon on beside the message time (like edited), so it is more visible
Ignore User -> move to the user info
Snippet -> I don't think we need it, just leave at the message input + button
Follow -> Move the

[2019-04-26 06:31] carlo-fontanos opened #14255 "Bug on Livechat switch department"
I'm getting the following error when attempting to switch department:

![Untitled](https://user-images.githubusercontent.com/12164593/56787449-21b87880-682f-11e9-9629-0965923912d8.jpg)

And I get this error in another page:

![Untitled2](https://user-images.githubusercontent.com/12164593/56787450-21b87880-682f-11e9-9812-e63466d0b6f8.jpg)

There is no error visible on the console, so I am not sure

[2019-04-26 07:20] Jessting opened #14256 "Your application is crashing. Waiting for file change."
First, I git clone . When I run  meteor, I'm prompted for an error : "Your application is crashing. Waiting for file change.".  My operating environment is Xcode 10.2.

[2019-04-26 07:31] rayderua commented on #14145
Also if you have a user with a nickname "grf", search results may not show it.
For example we have users with two character nicknames (like "ok", "rw' etc),  It very hard to find them in search.

[2019-04-26 08:19] knrt10 commented on #14256
@Jessting would you please full description with issue template so that we can help you better, otherwise, it will be closed. Thanks.

[2019-04-26 08:24] knrt10 commented on #14255
@carlo-fontanos LiveChat API code must be inserted after the Livechat installation script, edit this to

[code]
. I see you have used `$(document).ready` function but try with above solution, it might work, if not report back.

[2019-04-26 08:24] repentles commented on #14145
Duplicate of #

[2019-04-26 08:36] Jessting commented on #14256
meteor npm start

[[[[[ ~/APP/git/Rocket.Chat ]]]]]

=> Started proxy.
Browserslist: caniuse-lite is outdated. Please run next command `npm update caniuse-lite browserslist`
WARNING: npm peer requirements (for juliancwirko:postcss) not installed:
 - postcss@7.0.6 installed, postcss@^6.0.22 needed
 - postcss-load-config@2.0.0 installed, postcss-load-config@^1.2.0 needed

Read more about installing

[2019-04-26 08:41] Venomen commented on #14145
Are you sure?

[2019-04-26 08:43] Jessting commented on #14256
@knrt10 ，hello, I have  sent my question, you can see a description.

[2019-04-26 09:07] carlo-fontanos commented on #14255
@knrt10 I tried your suggestion but still getting `error-invalid-room` and `400`.
Any other ideas?

[2019-04-26 09:36] DKohno opened #14259 "Channel search / create link missing"
### Description:

After logging in as an Admin and/or a regular user, there is not a search field to the right of the "Channel" header.  NOR is there a "+" to add a new channel.

### Steps to reproduce:

1. Login to instance
2. Expect to find search field next to "Channel"
3. It is missing
<img width="324" alt="Screen Shot 2019-04-26 at 11 21 57 AM" src="https://user-images.githubusercontent.com/5

[2019-04-26 09:37] woulf commented on #11649
one way to work around this is for the user that want to join to reclick on the "video chat" button, it will make them join the proper jitsii meeting instead of launching another one.

[2019-04-26 10:00] DKohno commented on #14259
My mistake...I should have found the create new channel button....newbie.

[2019-04-26 10:00] #14259 closed

[2019-04-26 10:56] knrt10 commented on #14256
try rebasing the latest code and try again.

[2019-04-26 11:10] Jessting commented on #14256
I have done like you said.

[2019-04-26 13:19] renatobecker commented on #14255
@carlo-fontanos What is your server version?

[2019-04-26 14:09] lfdajr commented on #14256
Can you post your NPM INSTALL log? Does it get to the end?

[2019-04-26 14:11] rafaelks commented on #2815
@flantascience On the OAuth settings section for Wordpress, what's the value you're using for **Server Type**? Have you tried changing it?

[2019-04-26 14:17] lfdajr commented on #14256
Maybe you have some blocking rule on your network, which is causing a hanging problem on the npm install process. Well, that was my problem, anyway.

The solution: git config --global url."https://".insteadOf git://

Then try npm install all dependencies. After that you may be ok to run meteor.

[2019-04-26 14:23] rafaelks opened #14261 "[REGRESSION] Date separator is displayed twice on the same channel for the same day"
In our _gsoc2019_ public channel.

![Screen Shot 2019-04-26 at 11 22 21](https://user-images.githubusercontent.com/551004/56814461-a0a0b780-6815-11e9-952e-802a81be2586.png)

[2019-04-26 14:26] d-gubert commented on #14250
Hey @anju-jsl !

This is actually a problem in the Rocket.Chat server, and the dmg you downloaded is a client. So you'd have to contact the administrator of the server you connect to for them to update the server

[2019-04-26 15:11] anju-jsl commented on #14250
Thanks @d-gubert
Sorry to ask trivial question, as I am more an end user of this application rather than the developer.
I have used the following URL as server URL : https://open.rocket.chat

I am still trying to understand as where the server actually is :-). any help is appreciated here

[2019-04-26 15:30] granttoday commented on #14221
I will test it soon

[2019-04-26 16:04] ramrami commented on #14243
I keep getting the following UnhandledPromiseRejectionWarning :

[code]
It comes from `app/assets/server/assets.js` in this line :
`WebAppInternals.staticFilesMiddleware(WebAppInternals.staticFiles, req, res, next);`

I don't know if it's a problem in my setup, but after checking the webapp package, I think it should be `WebAppInternals.staticFilesByArch`

[2019-04-26 16:18] geekgonecrazy commented on #14243
@theorenck with #14220 these exceptions cause Rocket.Chat to crash instead of carrying on.

So need solved, or we need to make the exiting on unhandled optional at first or 1.0 will lead to a bad experience.  Not everyone is using autorestart on crash

cc @rodrigok

[2019-04-26 16:29] d-gubert commented on #14250
Ah, I see, you're using our community server!

Yes, we usually try out our release candidates on there - so you might stumble upon some instability here and there every once in a while.

The PR has already been merged and we'll be updating the our server soon enough - just bear with us a little longer for this to be fixed.

Thanks for being part of the community! :)

[2019-04-26 18:32] ubarsaiyan opened #14264 "[BUG] Incorrect thread description shown"
### Description:

![DeepinScreenshot_select-area_20190426235359](https://user-images.githubusercontent.com/22556377/56828705-87345580-687f-11e9-8bf7-75d48dad0c26.png)

In the above screenshot, the thread description (written in blue) is of another thread.

### Server Setup Information:

- Rocket.Chat Server: open.rocket.chat

[2019-04-26 18:35] knrt10 commented on #14264
+1. Also for me description was different, maybe some message counter is getting wrong.

[2019-04-26 21:17] wreiske opened #14267 "Unable to upload wav/mp3 using rooms.upload API"
### Description:
I'm trying to post an mp3 or a wav file to a rocket.chat channel when someone calls and leaves a voicemail. I'm able to upload text files, images, etc., but for some reason, wav and mp3 files will not post. I know image uploads work with this API because I have a door bell script that takes a picture whenever someone hits the doorbell.

![image](https://user-images.githubuserconte

[2019-04-26 23:10] wreiske commented on #14267
NOTE:

Removing all of the allowed mime types allows the files to upload, but no audio player is shown.

![image](https://user-images.githubusercontent.com/6295044/56840691-eaf65880-6856-11e9-9d83-516b0a7cc281.png)

[2019-04-26 23:23] wreiske commented on #14267
![image](https://user-images.githubusercontent.com/6295044/56840957-b1bee800-6858-11e9-8fd6-edaa3d0f637e.png)

[2019-04-26 23:23] #14267 closed

[2019-04-26 23:46] DarkRider1768 commented on #14187
Experiencing the same problem. Willing to do anything, up to and including ritualistic animal sacrifice, to assist in resolving this issue. Let me know if there is any information I can provide to help.

[2019-04-27 00:34] engelgabriel commented on #14187
Guys, can you help us look into this?

[2019-04-27 02:47] rodrigok commented on #14187
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/14234

[2019-04-27 02:47] #14187 closed

[2019-04-27 04:02] #13487 closed

[2019-04-27 09:08] ralfbecker opened #14270 "Is memory usage of 1.0.0-rc.3 Docker/Kubernetes deployment too high ~500MB/instance?"
We're in the process of deploying multiple Rocket.Chat instances with a shared MongoDB replica-set. Memory usage of 2 Rocket.Chat instances with < 5, not active test-users in it is around 500MB per instance:
![Bildschirmfoto 2019-04-27 um 10 50 51](https://user-images.githubusercontent.com/972180/56847400-82e95600-68da-11e9-95f2-d6565c52cf0a.png)
The high memory usage is reached immediately after

[2019-04-27 09:11] ralfbecker commented on #14270
Before you have to ask: I currently use no fixed memory request for the container/pod, the memory has been requested and somehow used by nodejs / Rocket.Chat.

[2019-04-27 09:22] Sing-Li commented on #14270
@ralfbecker  this is not abnormal.   We do not tune for quiescence memory claims at all.  Can you please explain why it may be significant for you?

[2019-04-27 09:28] ralfbecker commented on #14270
Thanks for the quick answer :)

We want to deploy Rocket.Chat for all our SAAS users, which are currently around 500 instances of our own open-source software (https://www.egrouwpare.org).

While Rocket.Chat is for most of our users a nice "goody", it would take considerable more (memory) resources compared to our main product, which is a PHP based web-application. Please don't take me wrong, I re

[2019-04-27 09:37] Sing-Li commented on #14270
No problem at all  🙂 And thanks for your support @ralfbecker !

It may just be difference in app tuning approaches and app memory usage patterns.

Rocket.Chat as a nodeJS server app actually has the following "highly dynamic" pattern of memory usage:
   * initial startup at quiescence =  significant size as you've observed
   * per user connection with mainly chat activity = incrementally small

[2019-04-27 09:42] ralfbecker commented on #14270
Thanks again for your insights 🙂

[2019-04-27 09:42] #14270 closed

[2019-04-27 09:45] Sing-Li commented on #14270
Just an additional note:   As a garbage collected runtime system, nodeJS servers  have the runtime memory usage pattern, under high load,  of -- linearly increasing up to the maximum allocated (say 4 GB) then sudden (reclaim) decrease --- repeated sawtooth-like  over time 👌

Thanks again for bringing this up @ralfbecker.

[2019-04-27 09:52] ralfbecker commented on #14270
Do you have more advice or documentation about production deployment of Rocket.Chat, I wasn't very successful in finding much :(

Specially about session handler (giving that scary message of not being for production)[https://github.com/RocketChat/Rocket.Chat/issues/10714], or expected resource usage ...

Ralf

[2019-04-27 10:20] online0227 opened #14271 "Auto keyboard pop-up in mobile making hard to read chat"
### Description:

On mobile web browser, whenever I move to any chat channel, keyboard automatically pops up, making hard to read chats before writing anything to catch up the situations in each chat room.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:
Keyboard should not pop up automatically whenever moving to a channel unless user press text box.

### Actual behavior:
Keyboard just a

[2019-04-27 11:44] hypery2k commented on #14231
in the above repo you'll find a sample project which is getting the same issue.

HTH

[2019-04-27 12:41] pafik13 commented on #13542
i try now and it's not working

[2019-04-27 16:14] MarcosSpessatto opened #14272 "Reply in direct message does not open the reply popup in the message box when the room has never been opened."
### Description:

"Reply in direct message" message action does not open the reply popup in the message box when the target room has never been opened. If the target room was previously opened and then a reply in direct message is made, it works correctly

### Steps to reproduce:

1.Create a channel with at least 2 members
2. Send a message with one of the two users
3. Open message actions, click

[2019-04-27 16:20] reetp commented on #14247
@rocket-cat close

This doesn't appear to be a bug in Rocket.Chat but a configuration/support situation and needs following up in https://forums.rocket.chat or https://open.rocket.chat #dev

There is plenty of documentation on building here https://rocket.chat/docs/developer-guides/

[2019-04-27 16:20] #14247 closed

[2019-04-27 17:22] rockkoca commented on #2511
need example like how to get the values from settings

[2019-04-27 17:47] ggruber4711 commented on #658
For implementing a multi-org feature, wouldn't a naive approach be to have:
- organisations as new entity
- obligation to link each user to an organisation, existing installations could be updated by a "core" organisation, where every existing user is automatically linked.
- add functionality into core that users would only see messages, users etc. only from own organsation
- add special role to a

[2019-04-27 20:25] #14254 closed

[2019-04-27 20:25] #14272 closed

[2019-04-27 20:31] #14067 closed

[2019-04-27 20:32] #13898 closed

[2019-04-27 20:32] #14036 closed

[2019-04-27 20:45] geekgonecrazy commented on #14231
This should be resolved now.  Please let me know if you get this again

[2019-04-27 20:59] #14233 closed

[2019-04-27 21:04] #14040 closed

[2019-04-27 21:16] hypery2k commented on #14231
still having the same issue with develop and rc4

[2019-04-27 22:22] wreiske commented on #1196
I would like to work on this. I can get started this weekend, I already have some code working that we use internally for our LDAP / AD server.

@engelgabriel are you cool with me starting a pull-request for this? I don't want to start something if there are other pull-requests out there that may affect this. I can get this done over the weekend.

[2019-04-27 22:43] geekgonecrazy commented on #14231
@hypery2k

Can you DM me on our community server?

https://open.rocket.chat/direct/aaron.ogle

I have a feeling being on dev branch some how state got messed up.

I can help get it sorted.  Thanks!

[2019-04-28 00:56] engelgabriel commented on #14158
Why is this Blocked ?

[2019-04-28 01:03] #13990 closed

[2019-04-28 03:35] geekgonecrazy commented on #14256
Is this a straight clone or is this with your own changes?  Right now this appears to just be a support related thing.  Not seeing an actual bug here.

[2019-04-28 05:54] Jessting commented on #14256
Now I download the project again, add the command "git config --global url."https://".insteadOf git://", and then the problem is solved. The project can run. Thank you everyone.

[2019-04-28 06:31] nielsk commented on #5346
This issue seems to happen again with 1.0.0

[2019-04-28 06:51] kvaps commented on #14231
Hey, how did you solve this?

[2019-04-28 07:00] wreiske commented on #1196
Pull request is in. #14278

[2019-04-28 07:50] phillipplum opened #14279 "Some Private groups and direct messages empty"
### Description:

After upgrading to Version 1.0.0 some dm and private channels empty. I can not see why some are empty and some are not. But in the admin panel it shows that there are messages.

![image](https://user-images.githubusercontent.com/6051483/56860828-fbafe700-699a-11e9-9c08-86beb97bea04.png)

![image](https://user-images.githubusercontent.com/6051483/56860839-0ec2b700-699b-11e9-84ae-c

[2019-04-28 07:54] kvaps commented on #14231
I have this issue on `v1.0.0`

[2019-04-28 07:59] wreiske commented on #5085
Pull request is in #14278

[2019-04-28 08:09] jungeonkim opened #14280 "Cannot startup server"
### Description:

### Steps to reproduce:

1. systemctl start rocketchat

### Expected behavior:
server runs normally.

### Actual behavior:
[code]

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0 60f1a4afd6d91094b86a47576de1a8a15356029b
- Operating System: ubuntu 16.04
- Deployment Method: manual
- Number of Running Instances: 1
- DB Replicaset Oplog: Enabled
- NodeJS Versio

[2019-04-28 08:16] kvaps opened #14281 "TypeError: Cannot read property '0' of undefined after upgrade to 1.0.0"
### Description:

After upgrading rocketchat to v1.0.0, it's not starting with `TypeError: Cannot read property '0' of undefined` error.

### Steps to reproduce:

I've tried both: [manual installation](https://rocket.chat/docs/installation/manual-installation/ubuntu/#manual-install) and official docker image:

[code]

### Expected behavior:

### Actual behavior:

[code]

### Server Setup Informati

[2019-04-28 08:43] nguyentuandat opened #14283 "Bad words filtering does not work as expected"
### Description:
I enable `Allow Message bad words filtering` feature and it does not work as expected
Seem 2nd keywords or utf-8 keywords were not filtered.

### Steps to reproduce:

1. Go to settings, enable `Allow Message bad words filtering`.
2. Add some keywords as string: `cho, meo` or `chó, mèo`.
3. Click `Save changes`

![bad words](https://i.gyazo.com/6c26d8c0fd819cded7d7506d89ed9d7b.png)

[2019-04-28 09:12] hypery2k commented on #14281
see #14231

[2019-04-28 10:46] marcinkorzycki commented on #11570
1.0.0 released - still no 2fa ldap fixed...

[2019-04-28 11:03] sinteur commented on #14281
@hypery2k  14231 is a closed issue, and I just had this very same issue. It's not resolved yet

[2019-04-28 12:11] oliob opened #14284 "Error getting MongoDB version"
### Description:

### Steps to reproduce:

1. Update to 1.0.0
2. Watch the logs
3. Observe Errors:
Apr 28 13:15:22 <host> rocketchat[10219]: Error getting MongoDB version
Apr 28 13:15:22 <host> rocketchat[10219]: Error getting MongoDB info

### Expected behavior:

RC should be able to query the MongoDB verision.

### Actual behavior:

Output:
Apr 28 13:15:22 <host> rocketchat[10219]: Error getting

[2019-04-28 12:23] immanuelfodor commented on #13543
This is the current data flow as I see:
`Button click in RC settings -> Payload 1 to rocket.chat -> Email sent with token -> Token entered in RC settings -> Unknown action/payload on save -> Unknown Payload 2-N to rocket.chat on push/app install`
My questions:
- What data leaves the server in Payload 1?
- What happens when the token is saved (action/payload)?
- How is the token later used on e.g.

[2019-04-28 12:36] immanuelfodor commented on #14284
I spent a couple of hours debugging this and here is the solution. I suppose you've set up MongoDB Replicaset `rsXX` beforehand:

[code]

A few links that helped me to solve the same problem:
- Grant clusterMonitor to both rocket&oplog users to have permission to run serverStatus: https://docs.mongodb.com/manual/reference/built-in-roles/#clusterMonitor
- Exception thrown here, you can log it with

[2019-04-28 12:43] immanuelfodor commented on #14284
Made some edits above to include the involved try-catch blocks + correct some typos. Hope it helps!

[2019-04-28 14:46] ggruber4711 commented on #658
A poor man's solution could also be:
- add custom field 'organisation' to both user and room
- implement a proxy around rocket.chat server which intercepts any request and will filter out users and rooms based on the organisation custom field.

Goal would be that a user, which has set the organisation custom field would only see users and rooms of the same org.

[2019-04-28 14:55] himpierre opened #14285 "TypeError: Data must be a string or a buffer (Rocketchat 1.0.0)"
### Description:

Hello Devs. After upgrading to 1.0.0 my log gets flooded by:

`
    at /opt/rocketchat-1.0.0/programs/server/npm/node_modules/meteor/promise/node_modules/meteor-promise/fiber_pool.js:43:40
Exception in callback of async function: TypeError: Data must be a string or a buffer
    at Hash.update (crypto.js:99:16)
    at AccountsServer._hashLoginToken (packages/accounts-base/accounts

[2019-04-28 15:14] himpierre commented on #14285
The problem seems to be the android client. Error only occurs if an android client connects. Currently using the 3.3.0 foss apk.

[2019-04-28 15:24] nxplsq opened #14287 "Service terminate periodically"
I deployed rocket.chat in docker. It occurs that the service terminate periodically. The log shows the services oom. My server is 4CPU+16GB memory and the top usage of memory is about to 30% in console. So how can I solve that problem?

[code]

[2019-04-28 15:58] himpierre commented on #14285
Also there are no avatar pictures anymore. The error message says something related i guess.

[2019-04-28 16:33] geekgonecrazy commented on #14287
Nodejs v8 vm has a top of 1.7Gb for the heap.  If exceeding that it will terminate.

You omitted the rest of the template so I’m not sure how many instances you have.  But.. can do one of two things:
1. Scale horizontally and distribute the load across more instances (if you only have one instance... I recommend this)
2.  You pass in a flag to nodejs to increase the v8 restraints.  You’ll need to

[2019-04-28 16:51] ccfiel commented on #14285
same here

[2019-04-28 17:58] robbyoconnor commented on #14285
Not to be that guy, but also here too:

[Here's a full log](https://gist.githubusercontent.com/robbyoconnor/82724033e8f42d23acb2517ce9e068a7/raw/40bf8b642c33c665f5c3b2b1c9645e8f2e17972e/gistfile1.txt):

[2019-04-28 18:00] robbyoconnor commented on #14285
I love this team, they're amazing but I do want to state that I feel like this release could have stood some more QA.

[2019-04-28 18:29] geekgonecrazy commented on #14284
@oliob do you have mongo auth as suggested by @immanuelfodor ?

[2019-04-28 18:59] flantascience commented on #2815
@rafaelks    where do you see "Server Type"?

I've tried this using both WP OAuth Server and WP OAuth Server Pro.  Neither has a setting for "Server Type" that I see.

Inside of Rocket.Chat, I don't see a setting for "Server Type" either.

[2019-04-28 19:09] miguelmota opened #14289 "Dockerfile.local not working"
### Description:

Trying to build local docker image using ./docker/Dockerfile.local

### Steps to reproduce:

[code]

### Expected behavior:

Compiles docker image successfully.

### Actual behavior:

Docker image build fails with error.

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: master branch
- Operating System: macOS

[2019-04-28 19:10] geekgonecrazy commented on #14280
Is there any more logs associated with this?

[2019-04-28 19:12] geekgonecrazy commented on #14243
Have another one in SAML - https://github.com/RocketChat/Rocket.Chat/issues/14280

[2019-04-28 19:14] jungeonkim commented on #14280
[code]
Here is a full log of syslog.

[2019-04-28 19:17] geekgonecrazy commented on #14289
That one should have been removed.  I have now removed it.

Please use the normal dockerfile.  Note you will need to download or compile the bundle.

You'd do something like:
[code]

Meteor build is needed as a compiled bundle is needed

[2019-04-28 19:17] #14289 closed

[2019-04-28 19:33] miguelmota commented on #14289
Will give it a shot and report back

[2019-04-28 20:09] #14256 closed

[2019-04-28 20:09] geekgonecrazy commented on #14256
Good deal 👍

[2019-04-28 20:32] miguelmota commented on #14289
[code]

Failed building using instructions given
@geekgonecrazy

[2019-04-28 20:40] perfectwebtech opened #14292 "zimbra integration"
zimbra integration unable to work

according to zimbra step

anyone can help me ?

[2019-04-28 21:19] geekgonecrazy commented on #14289
what os are you building on?  did you tweak the docker image at all?

[2019-04-28 21:23] miguelmota commented on #14289
on macOS Mojave 10.14.4. Dockerfile is original with nothing altered

[code]

please let me know if there's additional things i need to provide

@geekgonecrazy

[2019-04-28 21:54] oliob commented on #14284
@geekgonecrazy yes I have mongo auth enabled.

[2019-04-28 21:57] geekgonecrazy commented on #14289
hm.. interesting.  Newest version of docker for mac?

I just ran the following all from scratch:
[code]

[2019-04-28 22:15] oliob commented on #14284
@immanuelfodor Thank you for you guidance. It worked.

[2019-04-28 22:16] oliob commented on #14284
I ll close this. A section in the docs about this might be helpful.

[2019-04-28 22:16] #14284 closed

[2019-04-28 22:44] geekgonecrazy commented on #14284
Agreed!

[2019-04-28 23:36] #14231 closed

[2019-04-28 23:36] #14281 closed

[2019-04-28 23:37] #14285 closed

[2019-04-28 23:38] GoetheG commented on #5330
Hey there. I don't quite get what has been implemented.

What I am looking for is an option to disable the history of a channel for new users. I do not mean to delete anything. I just wish to avoid new users in a group to see what people have been talking about.

We are using Rocket.Chat for our club, our managing board has a separate channel. Most of the time we use Rocket.Chat to discuss potenti

[2019-04-28 23:39] GoetheG commented on #1442
Is there anthing new here? this is a serious compliance issue for me and my club. We cannot allow new users to see the chats there were in a channel before the user joined the channel.

[2019-04-28 23:42] rodrigok commented on #14280
@jungeonkim are you using something that requires/allows SSL like SAML, LDAP, etc?

[2019-04-28 23:44] GoetheG commented on #9235
Hey there. Is it possible to deactivate the name of the username for all users? For my club we do not want other users to see the username of a mamber.

[2019-04-29 00:34] GoetheG commented on #7268
Hey there. Are there any news on this matter?

[2019-04-29 01:23] thaiphv opened #14298 "Rocket.Chat 1.0.0 stopped working with Percona server for MongoDB 3.6"
### Description:
We have been running Rocket.Chat with Percona server for MongoDB 3.6 for several months without any issues. However, after upgrading to the latest release `1.0.0`, all of Rocket.Chat instances stopped working

### Expected behavior:

Rocket.Chat 1.0.0 should work with Percona server for MongoDB 3.6 as it is compatible with MongoDB 3.6.

### Server Setup Information:

- Version of

[2019-04-29 01:36] rodrigok commented on #14298
Thanks @thaiphv we are shipping version 1.0.1 with some fixes, we will check your PR and ship 1.0.2 tomorrow.

[2019-04-29 03:40] zombified commented on #14280
FWIW, we updated to 1.0.0 initially and were getting this error, which would kill everything. Updating to 1.0.1 seems to still produce the error, but not kill everything.

[2019-04-29 04:25] knrt10 opened #14300 "[BUG] Anonymous user not able to talk anonymously"
### Description:

Refer Description of issue

### Steps to reproduce:

1. Administration --> Accounts
2. Enable `Allow Anonymous Read` and `Allow Anonymous Write`
3. open private window and go to any channel
4. Click on `Or talk as anonymous`

### Expected behavior:

Ask for username

### Actual behavior:

Internal Server error

### Server Setup Information:

- Version of Rocket.Chat Server: `1.1.

[2019-04-29 05:15] jungeonkim commented on #14280
@rodrigok I do not use SAML, LDAP, etc. I did a little debugging. This seems to be related to the rocketchat_push module. I do not use push gateway and I uploaded the APN certificate to the admin page.

[2019-04-29 06:48] coders-kitchen commented on #2885
As it seems there is an agreement around "If it's optional, than it's ok" - please correct me if my understanding is wrong, how do we proceed now with (https://github.com/RocketChat/Rocket.Chat/pull/13387) ?

[2019-04-29 06:53] Deltachaos commented on #6481
I have opend PR #14275 that solves this problem

[2019-04-29 06:57] miguelmota commented on #14289
There were some changes to it but I think it has to do with my node or meteor installation. Since it's working for you then it's most likely something on my end so we can conclude this issue.

[2019-04-29 07:14] miguelmota opened #14302 "Very slow start up time (takes ~10 minutes)"
### Description:

Starting up rocket chat for development is very slow and takes about 10 minutes.

### Steps to reproduce:

[code]

### Expected behavior:

Rocket chat to start up immediately.

### Actual behavior:

Takes 10 minutes to start up server. Here you can see the start and end timestamps.

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: latest
- Operating System:

[2019-04-29 07:42] wreiske commented on #5086
Pull request is in: https://github.com/RocketChat/Rocket.Chat/pull/14278

[2019-04-29 07:49] fabien4455 commented on #14298
i have a problem when upgrading to 1.0.1.... I'll send a issue

[2019-04-29 07:54] wreiske commented on #2759
Pull request is in: https://github.com/RocketChat/Rocket.Chat/pull/14278

[2019-04-29 07:58] wreiske commented on #5252
Pull request is in: #14278

[2019-04-29 08:03] wreiske commented on #11710
Pull request is in: https://github.com/RocketChat/Rocket.Chat/pull/14278

[2019-04-29 08:18] fabien4455 opened #14303 "Rocket.Chat Version: 1.0.1 --> Fail install"
### Description:

I was in 0.73.2. I tried to update to 1.0.1 i got SERVER ERROR.

I restored my snapshot and i tried to update 0.74.3. Success. I think that the problem is the new version of RocketChat that does not recognize my mongodb version

### Steps to reproduce:

1. Be on version < 1.0.0 ( 0.74.3 is the lastest )
2. Modify the docker-compose to install the 1.0.1
3. Run it.
4. See the logs.

[2019-04-29 08:29] reetp commented on #14303
Read your log error.

https://go.rocket.chat/i/oplog-required

Which actually goes here:
https://rocket.chat/docs/installation/manual-installation/mongo-replicas/

A decision was made to enforce oplogs, but unless you read the release notes (you really should) you won't notice.

https://github.com/RocketChat/Rocket.Chat/pull/14227

[2019-04-29 08:40] wreiske commented on #11721
Probably could require auth for the api info.
The mobile apps should be able to auth and then grab the version if needed. It would be nice to be able to hide any Rocket.Chat versioning from the public eye without being authed.

[2019-04-29 08:40] fabien4455 commented on #14303
That's so smart that when you want to downgrade to avoid 1.0.1 it's fucked up. Rocket Chat is broken... Actually I'm happy to do this in a test environment... Rocket Chat is going to be less and less good...

[2019-04-29 08:45] wreiske commented on #14303
Before upgrading you should always do a full database backup, and make a copy of the old Rocket.Chat server folder. That's all you need to revert back to any previous version.

[2019-04-29 08:53] fabien4455 commented on #14303
I did it ;) my rocketchat is safe.

[2019-04-29 09:25] fabien4455 commented on #14303
Ok i added OPLOG.. but not working ;)

[code]

[2019-04-29 09:26] fabien4455 commented on #14303
The problem is not anymore OPLOG.. But rocketchat that can't see mongodb version.. But why ?

[2019-04-29 09:32] fabien4455 commented on #14303
i tried to switch with mongoadmin account at the line :

- MONGO_URL=mongodb://rocket:password@192.168.10.69:27017/rocketchat?authSource=admin

So now it's

- MONGO_URL=mongodb://mongoadmin:password@192.168.10.69:27017/rocketchat?authSource=admin

it works but that's really unsecure... Why it's not working with rocket user now ? ...

[2019-04-29 09:38] reetp commented on #14303
Can you paste long logs like that on a gist or something ? It clutters the issue and makes it hard to read.

Just paste relevant snippets - probably this:

Then you would search Issues and probably find this.

https://github.com/RocketChat/Rocket.Chat/issues/14298

[2019-04-29 09:40] fabien4455 commented on #14303
I'll upload the logs please wait.

[2019-04-29 09:43] fabien4455 commented on #14303
Ok even if i use Rocket user, it works. the only problem is :

RocketChat don't say that rocketchat is up on IP:3000
And i don't have informations in administration about mongodb. But it works.

[2019-04-29 09:55] fabien4455 commented on #14303
Docker composing with admin user // in rocketchat administration :

![image](https://user-images.githubusercontent.com/22091839/56888826-469e2d00-6a75-11e9-8d0e-e1f0e6cf6fb1.png)

Docker composing with rocket user // in rocketchat administration :

![image](https://user-images.githubusercontent.com/22091839/56889014-ac8ab480-6a75-11e9-9510-d4d1404b2040.png)

Here the files :

[docker-compose up-ro

[2019-04-29 09:58] fabien4455 commented on #14303
I think the problem is : adding mongo version check in administration, but if rocketchat can't access it, it doesn't tell that rocketchat is up..

[2019-04-29 10:12] nielsk commented on #13147
After updating to 1.1.0 rocketchat crashes.
I updated npm to 6.9.0 and this didn't help
This is what I get: /usr/local/bin/node: symbol lookup error: /opt/Rocket.Chat/programs/server/npm/node_modules/bcrypt/lib/binding/bcrypt_lib.node: undefined symbol: _ZN4node19GetCurrentEventLoopEPN2v87IsolateE

[2019-04-29 10:12] jby opened #14304 "mongorestore will not overwrite existing users but leave them without role"
### Description:

I did a mongorestore into the DB-docker-container and the one user that had logged in before the restore ended up with no role.

### Steps to reproduce:

1. Setup new server with AD/LDAP auth
2. Login with an AD/LDAP user
3. restore mongodb on top of the newly created one (mongorestore --drop -d rocketchat [dump-dir])

### Expected behavior:

The user who already existed should p

[2019-04-29 11:08] reetp commented on #13147
https://github.com/RocketChat/Rocket.Chat/releases

Here are the recommended versions:

1.0.1 2019-04-28
Engine versions

    Node: 8.11.4
    NPM: 6.4.1
    MongoDB: 3.2, 3.4, 3.6, 4.0

[2019-04-29 11:33] jdpond opened #14305 "Error message: OPLOG / REPLICASET IS REQUIRED TO RUN ROCKET.CHAT refers to misleading article"
### Description:
Starting In Release 1.0, Rocket.Chat requires the use of MongoDB REPLICASET to improve performance via Meteor Oplog tailing.

Instances that had not enabled MongoDB OPLOG fail on startup.

OPLOG is required, which is a component of  the MongoDB REPLICASET functionality, but having actual replicated clusters, though intimated in the link (https://rocket.chat/docs/installation/docke

[2019-04-29 11:56] sampaiodiego commented on #5330
hi @GoetheG .. this is not possible right now. Do you mind opening a new issue on https://github.com/RocketChat/feature-requests describing what you need? thx

[2019-04-29 13:19] rodrigok commented on #14303
@fabien4455 you can add the role `clusterMonitor` to your user and it will have access to that info.

More information in this thread https://github.com/DataDog/dd-agent/issues/318#issuecomment-76344665

[2019-04-29 13:22] rodrigok commented on #14305
Closed via https://github.com/RocketChat/Rocket.Chat/pull/14288

[2019-04-29 13:22] #14305 closed

[2019-04-29 13:23] dimm0 commented on #14303
Note to self: never run rocketchat in kubernetes with :latest tag.. A simple restart might kill everything

[2019-04-29 13:30] rodrigok commented on #14280
@jungeonkim if you upgrade to 1.0.1 this error will stop exiting the process, but please check your certificates since the error means something is wrong.

[2019-04-29 13:32] fabien4455 commented on #14303
Ok it works ! I ran :

db.runCommand({grantRolesToUser:"rocket",roles:["clusterMonitor"]})

And now it's working ;)

thank's

[2019-04-29 13:36] ixlandia commented on #14058
This is still an issue in the 1.0.0 release

[2019-04-29 13:38] rodrigok commented on #14303
@fabien4455 great, we will add that to the error logs and our documentation.

[2019-04-29 13:40] fabien4455 commented on #14303
Perfect, you can close the issue :)

[2019-04-29 13:42] rodrigok commented on #14303
@fabien4455 will keep it open until we add the info into the error log and docs, then will close.

[2019-04-29 13:42] himpierre opened #14306 "Rocketchat 1.0.0 Email Direct Reply broken"
### Description:

Email Direct Reply was working fine with 0.74.3. No settings changed. Just Upgrade to 1.0.0 (1.0.1 same issue) and try to direct reply to a notification email. Email is moved from new to cur folder by rocketchat but the message is not shown as message in rocketchat.

Logs:
[code]

[2019-04-29 14:11] h4wkmoon opened #14307 "Gitlab OAUTH Failure"
### Description:

Version : 1.0.1
Docker image.
Fresh install
I've set up oauth2 with Gitlab (Gitlab is identity provider), like I always do in rocketchat. No change on gitlab side.
When users try to login with gitlab in RC, they receive an error message 500.
RC logs indicate a "401 Unauthorized" error from gitlab.
Gitlab indicates no error except the attempt to access the v3 api.

### Steps to re

[2019-04-29 14:38] rodrigok opened #14308 "Date separator cutting the thread reply message"
![Screen Shot 2019-04-29 at 11 34 16](https://user-images.githubusercontent.com/234261/56903753-469d2d80-6a73-11e9-92ea-fe03b89f66d3.png)

[2019-04-29 14:48] h4wkmoon commented on #14307
I tried with another gitlab server, on https, with a valid certificate. Same issue.

[2019-04-29 14:56] schonarth opened #14309 "Email notifications could have a delay"
I just disabled the email notification feature since it happens quite often that a RocketChat new message notification pops up and right the next second I also get an email about it.

Important email started to drown in the middle of all these notifications -- and if I just wrote filters to put them away, they would serve no purpose, so better to not receive them in the first place.

IMHO these em

[2019-04-29 15:29] tiredofit opened #14310 "Roles showing in channels even when switched off"
### Description:

Even after switching off role display, roles still show in channels, threads and discussions (i.e. Owner, Moderator, Admin)

### Steps to reproduce:

1. Disable Role Display

### Expected behavior:

Roles to not show as they did in 0.9x

### Actual behavior:

Roles Show in channels

### Server Setup Information:

- Rocketchat 1.01
- Operating System: Arch Host - however using Doc

[2019-04-29 15:35] rodrigok commented on #14261
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/14269/commits/fe190867cbd4ccef7f177d23cee72aff79050275

[2019-04-29 15:35] #14261 closed

[2019-04-29 16:21] tassoevan commented on #14264
Does it keep happening?

[2019-04-29 16:43] tassoevan commented on #13907
What browser was rendering it?

[2019-04-29 16:56] #14064 closed

[2019-04-29 17:03] tassoevan commented on #13542
Please, notice that development on Windows is **not** recommended: https://rocket.chat/docs/developer-guides/quick-start/#on-windows

[2019-04-29 17:06] ggazzo commented on #11904
we changed the messagebox code a lot since this issue was opened, I'm very confident we already fixed it, please reopen if I'm wrong.

[2019-04-29 17:06] #11904 closed

[2019-04-29 17:23] wreiske opened #14312 "Editing a message in a thread causes the message to be duplicated"
### Description:

When editing a message in a Thread, while message editing history is enabled, the message duplicates when you re-enter the thread.

### Steps to reproduce:

Make sure "Keep Per Message Editing History" is set to true.

![image](https://user-images.githubusercontent.com/6295044/56915029-82d88a00-6a83-11e9-93e5-5c772a852186.png)

1. Right-click on a message and click "Reply in thre

[2019-04-29 17:32] rodrigok commented on #13186
Closed via https://github.com/RocketChat/Rocket.Chat/pull/14273

[2019-04-29 17:32] #13186 closed

[2019-04-29 17:32] rodrigok commented on #9408
Closed via https://github.com/RocketChat/Rocket.Chat/pull/14273

[2019-04-29 17:32] #9408 closed

[2019-04-29 17:32] rodrigok commented on #11356
Closed via https://github.com/RocketChat/Rocket.Chat/pull/14273

[2019-04-29 17:32] #11356 closed

[2019-04-29 17:32] rodrigok commented on #11485
Closed via https://github.com/RocketChat/Rocket.Chat/pull/14273

[2019-04-29 17:32] #11485 closed

[2019-04-29 17:32] rodrigok commented on #7539
Closed via https://github.com/RocketChat/Rocket.Chat/pull/14273

[2019-04-29 17:32] #7539 closed

[2019-04-29 17:32] rodrigok commented on #10002
Closed via https://github.com/RocketChat/Rocket.Chat/pull/14273

[2019-04-29 17:32] #10002 closed

[2019-04-29 17:57] filipedelimabrito commented on #11980
Just an update: It is present on native Android app now (since 3.4.0 version).

@tuxmartin
c/c @ggazzo

[2019-04-29 18:09] himpierre commented on #14306
Interesting observation. Direct reply works with kmail (the kde mail application) but not with roundcube 1.4.0-rc1. Testing a little bit more.

[2019-04-29 18:13] himpierre commented on #14306
k9mail (android) works too. So i'm starting to blame roundcube 1.4.0-rc1.

[2019-04-29 18:17] wreiske commented on #14312
Just as a note: The Rocket.Chat Experimental (react native) app has this issue as well on Android.

[2019-04-29 18:21] flantascience opened #14314 "Need correct iFrame settings to allow JITSI to send request for Microphone/Camera to parent window"
Running Rocket.Chat in an iFrame at peerunschooling.net/chat

When I do a video call, it doesn't ask for access to the microphone/camera.  If I open the app directly (no iframe) - then it does.

I see there is an area for Admin -> General -> iFrame  but I'm not sure what settings go here:

Enable Send:  True   False
Send Target Origin:
Enable Receive: True   False
Receive Origins:

[2019-04-29 18:34] #14310 closed

[2019-04-29 18:35] ggazzo commented on #14058
closed by #14313

[2019-04-29 18:35] #14058 closed

[2019-04-29 18:38] cchbr opened #14315 "Several register issues on newest version"
### Description:

When a user tries to sign in anonymously he/she receives an Internal server error. See the log below.

There are also problems creating regular new accounts, the account is created but the user isn't redirected and can't login either.

### Steps to reproduce:

1. Activate anonymous writing
2. Try to talk anonymously in any channel
3. Receive error

### Expected behavior:

The use

[2019-04-29 18:55] miguelmota commented on #6048
To add a package, do:

[code]

[2019-04-29 19:21] #13918 closed

[2019-04-29 21:04] #14298 closed

[2019-04-29 21:07] #14300 closed

[2019-04-29 21:24] geekgonecrazy commented on #14302
I’m going to close this.  This is not a bug.

Also starting up immediately in development mode is not feasible it is compiling the entire app and setting things up to watch all the files for changes.

10 minutes is a while... but after the first time it should be faster.  Also while developing you don’t need to start again just keep it running

[2019-04-29 21:24] #14302 closed

[2019-04-29 21:33] knrt10 commented on #13583
On it

[2019-04-29 21:38] #14009 closed

[2019-04-29 23:02] gsunit commented on #13967
@engelgabriel Please have a look at this. :)

[2019-04-30 01:27] #13907 closed

[2019-04-30 02:38] Rodriq commented on #14271
I think this Issue is duplicate to #10381 and #13758

[2019-04-30 03:48] carlo-fontanos commented on #14255
@renatobecker
I'm running the above script from my local machine, and our RocketChat app is hosted at `https://cyberauctionschat.com`. Can you advice how to get  the server version please?

[2019-04-30 06:00] danpospisil opened #14321 "1.0.1 - Rocket.Chat Mobile app will not load"
### Description:

The app will not load since 1.0.1 -  I see only this message on Android:
Sorry an error has occurred, please try again
There is nothing in the logs.

Version - 1.0.1
Apps Engine Version - 1.4.2
Database Migration - 143

[2019-04-30 07:12] krf opened #14322 "View mode Compact no longer has timestamp and text on a single line"
### Description:

We just got upgraded to 1.0.1. The view mode setting inside the user preferences stopped working. If I understand correctly, then no matter what the setting is, "Normal" is used.

### Steps to reproduce:

1. Go to Profile -> My Account -> Preferences
2. Set View Mode to "Compact"

### Expected behavior:

View mode changes to "Compact" mode, which is one line per chat entry.

###

[2019-04-30 08:15] nicexe2e4 opened #14323 "[BUG] Broken audio notification (1.0.1)"
### Description:
No sound notifications are received after upgrading to 1.0.1

### Steps to reproduce:

1. Send message
2. Recive message
3. Don't receive sound notification

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.1
- Operating System: CentOS 7 (3.10.0-957.1.3.el7.x86_64)
- Deployment Method: tar
- Number of Running Instances: 3
- DB Replicaset Oplog: yes
- NodeJS Vers

[2019-04-30 08:19] jungeonkim commented on #14280
@rodorgas After upgrading to 1.0.1, the server will not crash, but an error message will still be logged.
I found a way to reproduce the problem in a clean installation environment.

1. https://rocket.chat/docs/installation/manual-installation/
Follow the document to complete the installation.
1. On the Push tab of the Administration tab, change "Enable Gateway" to "False" and set "APN Key" and "A

[2019-04-30 08:32] irfanjunaid commented on #14165
@geekgonecrazy  This was it!

In https://rocket.chat/docs/installation/manual-installation/ubuntu/#configure-the-rocketchat-service

We need to edit **rocketchat** to **parties** in the **MONGO_URL**

Thanks for the assist!

[2019-04-30 08:32] #14165 closed

[2019-04-30 08:41] adrianrobotka opened #14324 "Snap: deprecated prepare keyword in snapcraft.yaml"
I get the following warning when I issue the `snapcraft stage` command on Ubuntu 16.04 (or on Ubuntu 18.04)

[code]

According to the URL

The official (xenial) mirror contains snapcraft, version 2.43.1

[2019-04-30 10:33] k0nsl opened #14327 "Cannot pull latest Rocket.Chat"
I was going to update my instance to `1.0.0` today but I cannot seem to pull it because I keep getting the following response:

[code]

I do not have much to go on, but perhaps somebody else have run into this and is able to clear it up. I can't seem to come up with a solution to it.

[2019-04-30 12:06] tienthanh2509 commented on #14169
yay, still broken in 1.0.0

[2019-04-30 13:15] #14303 closed

[2019-04-30 13:34] alper commented on #13988
We got surprised by this feature and would like to not have this.

[2019-04-30 13:45] anju-jsl commented on #14250
Able to invite user now.
Thanks!!

[2019-04-30 13:45] #14250 closed

[2019-04-30 13:59] Mackie opened #14329 "Error when opening thread. Can't write answer. No Input field"
### Description:

When opening an existing thread, I see the discussion but can't enter any response. The Chat input field won't show up.
Worked with 1.0.0-rc3

### Steps to reproduce:

1. Create a thread
2. Open it again

### Actual behavior:

It shows the following JS error in the console:
"Exception in template helper: TypeError: Cannot read property 'verifyShowJoinLink' of undefined"

and

"Ex

[2019-04-30 14:55] #14312 closed

[2019-04-30 15:07] neonfly opened #14331 "Create personal access token without authorization"
Description:
Users can create personal access tokens, even if they are not authorized to do so.

Steps to reproduce:
Make sure user's aren't allowed to create access tokens.
As normal user: Go to Profile -> My Account -> Personal Access Tokens
Create Token

Expected behavior:
No menu item is there and if the function should be locked.

Actual behavior:
Users can create personal access tokens.

Ser

[2019-04-30 15:51] pageb018 opened #14333 "Hide Role Tags not working after upgrade to 1.0.1"
### Description:

After upgrading from .7x to 1.0.1 role tags are now displayed in direct message and channels where they had not been before.
In Accounts > User Prefs "hide role" is set to true and in Layout > User Interface "display roles" is set to false.

### Steps to reproduce:

1. upgrade to 1.0.1

### Expected behavior:

user roles should be hidden. No settings changed during upgrade proces

[2019-04-30 17:09] tassoevan commented on #14333
Duplicate of #14310 and #14058.

[2019-04-30 17:09] #14333 closed

[2019-04-30 17:27] engelgabriel opened #14335 "UX Update to sidebar menus"
UX Update to sidebar menus:

- Unify both menus
- Add "check mark" to items, rather than just **bold**
- Change the main icon (the one with az) to a generic list setting icon.
- Change the behavior of Avatar toggle to use "check mark"
- Re-word sorter options to match new mobiles apps

<img width="237" alt="Screenshot 2019-04-30 at 14 14 25" src="https://user-images.githubusercontent.com/1000217/5

[2019-04-30 17:56] michaudg opened #14337 "[BUG] LDAP - Can't login anymore"
### Description:

Can't login anymore with LDAP. Was working with version < 1.0.0.

### Actual behavior:

User not found or incorrect password

### Server Setup Information:

- Version of Rocket.Chat Server: **1.0.1**
- Operating System: **Ubuntu 18.04**
- Deployment Method: **tar**
- Number of Running Instances: **1**
- DB Replicaset Oplog: **Enabled**
- NodeJS Version: **8.11.4**
- MongoDB Versi

[2019-04-30 18:23] #14323 closed

[2019-04-30 19:12] tassoevan commented on #10381
Closing in favor of #13758.

[2019-04-30 19:12] #10381 closed

[2019-04-30 19:12] tassoevan commented on #14271
Closing in favor of #13758.

[2019-04-30 19:12] #14271 closed

[2019-04-30 19:14] tassoevan commented on #14255
@carlo-fontanos @renatobecker

[2019-04-30 21:21] PointPubMedia commented on #14303
Just a stupid question.... people using rocket.chat on a single VM... how do we deal with the new "replica" requirement ?

[2019-04-30 21:45] PointPubMedia commented on #14303
@fabien4455 Did you "migrate" from a rocketchat setup using a single VM or you already have a mongo setup using multiple instance ?

[2019-04-30 21:48] rodrigok commented on #14303
@PointPubMedia you do not need multiple mongodb instances, just need to enable the replicaset mode in your single instance to enable the oplog stream where Rocket.Chat listen for data changes.

[2019-04-30 21:49] PointPubMedia commented on #14303
@rodrigok Would really need some help with our setup on Debian :(

[2019-04-30 21:50] rodrigok commented on #14303
@PointPubMedia contact me at https://open.rocket.chat/direct/rodrigo.nascimento please

[2019-04-30 23:35] mariofc22 opened #14340 "custom my register login pannel includ new input field"
I would like to include an html input field on the register screen called request where the user should enter a their protocol number.

my instance rocketchat: https://www.vistoriaonline.defesacivil.tk

[2019-05-01 00:16] geekgonecrazy commented on #13881
@tassoevan i'm not sure whats going on but we have another report from someone in #dev too

[2019-05-01 02:54] immanuelfodor commented on #14284
There is a nice error message added in #14320. Sadly, people don't use the Github search and went all over it again in #14303 to debug the same issue but at least there is an explanation for others next time.

[2019-05-01 03:27] carlo-fontanos commented on #14255
Any update on this please?

[2019-05-01 05:11] evant89 opened #14341 "Small size logo"
### Description:

After updating the server to version 1.0.2, the size of the logo has decreased.
In Layout - Custom CSS I have

: root {
    --sidebar-footer-height: 90px;
}

but nothing changes

### Expected behavior:

![234141224124124](https://user-images.githubusercontent.com/36101287/57006320-66a22d80-6be8-11e9-8b84-b009d46d85e5.jpg)

### Actual behavior:

![Screenshot_7](https://user-images

[2019-05-01 05:47] evant89 commented on #14341
This is the file used for the logo
![logo](https://user-images.githubusercontent.com/36101287/57006965-c5b67100-6bed-11e9-8667-64ed01a3b37c.png)

[2019-05-01 06:38] k0nsl commented on #14327
This may also be of help:

[code]

[2019-05-01 09:26] theonetech1 opened #14342 "How to stop multiple user login at a time from Rocket.chat ?"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: Ubuntu 18.10
- Deployment Method:
- Number of Running Instances: 1

[2019-05-01 09:26] sudipt1999 commented on #13219
@engelgabriel  can I work on this, seems like I need to remove it from template.

[2019-05-01 09:29] sudipt1999 commented on #2194
@engelgabriel  https://github.com/RocketChat/Rocket.Chat/pull/13962 This pr solves this issue, kindly review it please.

[2019-05-01 09:46] reetp commented on #14218
There is no Avatar next to the original Thread link so you have no idea who posted the message. There is no real context.

It would make more sense when you click the thread link in the main pane for the main pane to go up to the original thread message when it opens the right 'Thread' hand pane (I presume the reason it doesn't is on mobile it opens into the thread). So the main pane actually does

[2019-05-01 09:48] reetp commented on #14342
Please fill in the blanks in the template with your information and a proper description of your issue - no one can help you otherwise.

[2019-05-01 10:32] Lawri-van-Buel commented on #14307
might be DNS / IP routeing.... however I get the following issue when I solve that bit...
Gitlab logs: `Can't verify CSRF token authenticity.`

[2019-05-01 10:33] himpierre commented on #14337
Is this affecting all ldap installations or just this one user? I'm hesitating to update seeing this bug.

thanks and cheers

[2019-05-01 10:35] h4wkmoon commented on #14307
Same exact configuration works perfectly with rocket.chat 0.7x.

[2019-05-01 10:41] theonetech1 commented on #14342
I think you know very well, Rocket chat version and Other things not required for this Questions

[2019-05-01 10:45] Lawri-van-Buel commented on #14342
the awnser is than also simple... by deploying rocketchat as prescribed in the documentations.... Otherwise we will need to know your setup (even if its just so we can reproduce the issue and have proper logging).

[2019-05-01 10:58] Abraka commented on #14337
Same here.

[2019-05-01 10:59] reetp commented on #14342
And the question is still not that clear.

Are you talking about one person logging in multiple times? How would that work if they leave their desktop connected and use mobile at the same time ?

Or preventing multiple users at the same time? Why?

Please clarify as it makes no sense at the minute.

[2019-05-01 11:33] Abraka commented on #14341
Its small only in rocket chat client or in browser too?

[2019-05-01 12:18] evant89 commented on #14341
in client and browser

[2019-05-01 12:23] #14342 closed

[2019-05-01 12:30] theonetech1 opened #14343 "Rocket chat not continously blinking Taskbar when got new message from anyone"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: Ubuntu 18.10
- Deployment Method:
- Number of Running Instances: 1

[2019-05-01 12:51] stevenmcastano commented on #10621
Looks like this is still a problem 0.74.3... any updates?

[code]

[2019-05-01 15:58] premanandmanimaran commented on #10530
Voice Messaging is not working after replacing lame.min.js into ..opt/rocketchat/programs/web.browser/app/lame.min.js
I am i missing any steps.
Do i need to restart rocketchat?

[2019-05-01 16:00] GoetheG commented on #10142
I can confirm that this issue is not resolved. The push notification topic is still really complicated and does not work properly. I don't know why.

[2019-05-01 16:34] tassoevan commented on #14343
This issue is related to the desktop client. Please reopen it in the [desktop app repository](https://github.com/RocketChat/Rocket.Chat.Electron). Thanks!

[2019-05-01 16:34] #14343 closed

[2019-05-01 16:53] mmickelson commented on #13002
I found this works when pasting into the web client (paste using cmd+shift+v) but not the MacOS app.

[2019-05-01 17:28] DenisAraujo68 commented on #10530
Hi, @premanandmanimaran .
I don't know if it's the same problem is happening to you, but for me, I downloaded an HTML file instead of lame.min.js file. You can open the lame.min.js file and see if your file has the same content.
You don't need to restart the server. What you could do is reload the rocketchat client.

[2019-05-01 18:46] robbyoconnor opened #14344 "Add ability to unsubscribe from threads"
It doesn't seem to be clear how to remove ourselves from threads. If not possible, it should be.

I propose we have a group in the sidebar for threads like we do discussions.

[2019-05-01 19:40] dhoeld commented on #10777
We are able to confirm this on Rocket.Chat version 0.74.3 too.

[2019-05-01 20:35] geekgonecrazy commented on #14344
@RocketChat/core didn't we have the ability to follow / unfollow during development of this feature?  It seems to have disappeared or not made it into the final version?

Actually seems to have been commented out here: https://github.com/RocketChat/Rocket.Chat/pull/14268

cc @MarcosSpessatto

[2019-05-01 20:39] geekgonecrazy opened #14346 "Link in Announcement popup broken"
<img width="598" alt="image" src="https://user-images.githubusercontent.com/51996/57041170-37f77780-6c27-11e9-88fe-46db8d6282a0.png">

Announcement is: `If you are updating to 1.0 be sure to [see guide. here:](https://rocket.chat/docs/installation/updating/to-1-0/)`

Version: 1.0.2

[2019-05-01 20:43] geekgonecrazy commented on #14340
https://rocket.chat/docs/administrator-guides/custom-fields/#custom-fields

setting to required should make it show up on register.

[2019-05-01 20:43] #14340 closed

[2019-05-01 20:45] geekgonecrazy commented on #14327
uh oh.. seems docker is having some issues.  What does your command look like inside your update-rocketchat.sh ?

Also make sure 1.0.2 to get bug fixes.  :)

[2019-05-02 00:02] wreiske commented on #14337
From the code....
[code]

This slug function is doing a replace on a text string... if the text is null, the replace is going to fail.

This is called from:
[code]
So check that setting. Also make sure that the field you are using to pull the username is correct. Here's what we use.
![image](https://user-images.githubusercontent.com/6295044/57050711-edd4bd00-6c4b-11e9-8910-4bb8f8bf99b5.png)

[2019-05-02 00:21] michaudg commented on #14337
@wreiske Thanks to you!

We had **cn.givenName** for the username and **uid** for the identifier. It worked for years like that but maybe this code has been updated in the last version. Replacing with **cn** and **uidNumber** solve our problem. We can now log in again.

[2019-05-02 00:35] mariofc22 commented on #14340
I did this in json valid code, but the result was the emergence of only one space between the inputs between the email field and the password field not popping up the new input created.

[2019-05-02 00:56] mariofc22 commented on #14340
I did this but I don't have a good result

[2019-05-02 01:00] #14337 closed

[2019-05-02 02:21] GoetheG commented on #10046
This post should be merged with https://github.com/RocketChat/Rocket.Chat/issues/3582

[2019-05-02 06:04] k0nsl commented on #14327
Hi @geekgonecrazy !

I tried to pull `1.0.2` today with the same result as shown above.

At any rate, here is some relevant information which may be of help.
[code]

[code]

And the contents of `update-rocketchat.sh` is quite lame, see:
cat: ./rocketchat/update-rocketchat.sh: No such file or directory
[code]

My `docker-compose.yml` is pretty basic as well:
[code]

That's it. Not a lot to go on, u

[2019-05-02 06:56] erkankyn1 opened #14348 "TRAY ICON PROBLEM"
### Description:

### Steps to reproduce:

1.  Close RocketChat with X button.
2.  If the tray icon feature is on, the rocketchat drops to the bar at the bottom right.

### Expected behavior:

Tray icon feature sending application to the opposite side in a closed manner.
### Actual behavior:
1- Close RocketChat with X button.
2- If the tray icon feature is on, the rocketchat drops to the bar at th

[2019-05-02 07:25] KonstantinCodes opened #14349 "Saving hashes of every login token ever"
### Description:

The MongoDB persists the hash of every login token generated ever. I'm running a RocketChat instance for little over 2 months and I use the API to generate login tokens for all of the users of my custom frontend. Per user there are already almost 400 records of hashes

### Steps to reproduce:

1. POST to `/api/v1/login`, get userId and token
2. MongoDB persisted the hash of that

[2019-05-02 08:08] evant89 opened #14350 "The web client does not work on Windows XP for Google Chrome. Firefox works correctly."
The web client does not work on Windows XP for Google Chrome. Firefox works correctly.Steps to reproduce:

1. Go to https://chat.oranta.ua

### Expected behavior:

![Знімок екрана з 2019-05-02 11-06-39](https://user-images.githubusercontent.com/36101287/57062938-624e4100-6cca-11e9-8380-34ce5f338f9f.png)

### Actual behavior:

![Знімок екрана з 2019-05-02 11-03-31](https://user-images.githubusercon

[2019-05-02 08:13] evant89 commented on #14350
Google Chrome ver.

![Знімок екрана з 2019-05-02 11-13-04](https://user-images.githubusercontent.com/36101287/57063256-4b5c1e80-6ccb-11e9-938b-28c8415a2004.png)

[2019-05-02 08:17] reetp commented on #14350
Windows XP has no official support, and hasn't for a long time.
It is unlikely the devs are going to fix this. Like most of us they probably don't have XP to even test with.
The resolution is to use a supported OS.

[2019-05-02 08:30] reetp commented on #14315
Note there has never been an option to downgrade due to changes made to the db on upgrade.

The only way to 'downgrade' is to restore a backup from a previous version. E.g restore a 0.74.3 backup to 0.74.3 Rocket. Mixing versions will likely break your install.

Before upgrading you should always take a backup, and upgrades should be thorougly tested before deployment.

Note you also seem to be ru

[2019-05-02 09:23] alireza-salehi commented on #10530
RocketChat 0.74.3 / Voice Messaging (Recording Audio Message):
works fine on:
1. Chorme 74.0.x  on win 10

not working and recorded audio message is empty on:
Windows 10 x64 1809(17763.439)
1. Chorme 73.0.x  on android phone
2. Firefox 66.0.3
3. RocketChat.Electron 2.15.3

steps i did:
1. replacing lame.min.js (/opt/Rocket.Chat/programs/web.browser/app/lame.min.js)
2. clearing clients cache
will f

[2019-05-02 09:32] KayzerCode commented on #10142
The same with me.
Looks like nobody cares.

[2019-05-02 09:37] horvan commented on #10530
can confirm this bug is fixed in 1.01

[2019-05-02 11:29] IDoProgramming opened #14353 "OPLOG / REPLICASET IS REQUIRED TO RUN ROCKET.CHAT <- can it be made optional?"
➔ |  OPLOG / REPLICASET IS REQUIRED TO RUN ROCKET.CHAT, MORE INFORMATION AT:  |
➔ |  https://go.rocket.chat/i/oplog-required

Dependency on  made it impossible to run Rocket Chat on my regular user account located at the server of big shared hosting despite server has mongodb version that has version number high enough to run it. Can you please make that function optional?

[2019-05-02 11:30] premanandmanimaran commented on #10530
@DenisAraujo68

I downloaded the Zip from Lame.min.js and replaced it in /opt/Rocket.Chat/programs/web.browser/app/lame.min.js

in Mac OS - Electron App ( I build this today)
After reload its working fine

in Mac OS - Safari Browser Version 12.0
Its working fine

in Mac OS - Chrome Browser Version 73.0.3683.103
its working fine

in Windows - Electron App
After reload / Clearing cache also its not

[2019-05-02 12:30] kvaps opened #14354 "Secure LDAP connection is not working after upgrade to 1.0.0"
### Description:

Secure LDAP connection is not working after upgrade to 1.0.0.

### Steps to reproduce:

1. Configure LDAP, and enable TLS encryption for it
2. Click "Test Connection" button

### Expected behavior:

Working LDAP over TLS

### Actual behavior:

Throws an error: `Error: socket hang up`.

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.2
- Operating Syste

[2019-05-02 12:35] ggazzo commented on #14344
@robbyoconnor actually that feature was removed from the message actions ( and I didnt like it) but now you can unfollow clicking here(bell)
![image](https://user-images.githubusercontent.com/5263975/57075597-92dbae00-6cbd-11e9-9273-7a95779131d7.png)

[2019-05-02 12:42] crazy-max opened #14355 "Blank Internal Hubot menu settings"
### Description:

### Steps to reproduce:

Admin > Settings > Internal Hubot

### Expected behavior:

As I have disable Internal Hubot through the env var `SETTINGS_HIDDEN=InternalHubot`, I expect this entry not displayed.

### Actual behavior:

Even if I use `SETTINGS_HIDDEN=InternalHubot` the entry appears in Settings.
Seems linked to #13522

### Server Setup Information:

- Version of Rocket.Ch

[2019-05-02 13:04] steerben opened #14356 "Crowd sync fail: Wrong logging method"
### Description:

Crowd sync fails because a wrong/non-existing logging method is used: `logger.warning` instead of `logger.warn`

### Steps to reproduce:

* Create a local user (e.g. admin)
* Initiate Crowd sync

### Expected behavior:

Sync works

### Actual behavior:

Sync fails:
[code]

### Server Setup Information:

- RC v1.0.2

### Additional context

### Relevant logs:

[code]

[2019-05-02 13:05] n8v8R commented on #533
distros have started to drop Mongo from their repos

https://wiki.archlinux.org/index.php/MongoDB

[2019-05-02 15:32] reitzig opened #14358 "Image drag & drop from Firefox onto a message list is not handled"
### Description:

Dragging an image from the browser into a chat in the same browser is not handled well.

### Steps to reproduce:

1. Open any image in Firefox (66.0.3 for me).
2. Open Rocket in a new tab in the same browser; open a chat room.
3. Drag the image from 1 into the tab from 2; aim for the message list.

### Expected behavior:

The image (or its URL) is sent (resp. inserted into the in

[2019-05-02 15:37] graywolf336 commented on #14350
Closing issue because of what @reetp mentioned, plus the Chrome version you're using is years years old. The current version of Chrome is 74.0.3729.131.

[2019-05-02 15:37] #14350 closed

[2019-05-02 15:39] robbyoconnor commented on #14344
The UX for that is horrible. I should also see it in the thread side-view, but I don't.

![image](https://user-images.githubusercontent.com/23088/57087794-db4f9780-6cce-11e9-88df-ffbbf49be365.png)

[2019-05-02 16:09] robbyoconnor commented on #14344
Also to add onto this, that bell is so tiny it's not funny, what if someone is visually impaired?

I'm trying to not be negative and bitter over this whole thing, but it's getting really hard, the saving grace is how receptive you folks are to feedback, but it shouldn't have taken this 2 point releases in less than a week.

[2019-05-02 17:09] franckadil opened #14359 "Auto translate is Broken"
### Description:

I followed the tutorial steps:

1. Go to http://cloud.google.com/console/
2. Create a Project and select it.
3. On the navigation menu, go to “APIs & Services” => Dashboard Tab
4. Click on ENABLE APIS AND SERVICES and search for Cloud Translation API.
5. Go to “Credentials” Tab
6. Click on “Create credentials”
7. Choose “API key”

But still the translation doesn't work. I tested

[2019-05-02 18:00] ggazzo commented on #14344
@robbyoconnor 🤷‍♂

[2019-05-02 18:10] brunosquadros commented on #14335
@engelgabriel
Here is the final propose. I realized that we don't have a hover behavior on menus then I've done one similar as the messages
<img width="834" alt="Screen Shot 2019-05-02 at 15 05 37" src="https://user-images.githubusercontent.com/4096458/57096740-53788600-6cec-11e9-942d-abe5aabd4a1c.png">

[2019-05-02 18:21] robbyoconnor commented on #14344
Wait, what is supposed to be meant by that :man_shrugging: emoji?

[2019-05-02 18:33] ggazzo commented on #14344
means sorry about:

but there is nobody to be blamed, its not our intention turn the things worst... the only thing I/we can do its accept the feedback and fix soon as possible :) :(

[2019-05-02 18:47] kulkarniamit commented on #8051
Same issue.
Logs:
[code]

[2019-05-02 19:13] d-gubert commented on #14344
This is a really good point which we really need to be more considerate of

[2019-05-02 20:10] geekgonecrazy commented on #14327
@k0nsl if it never pulled i'd revert back to the previous version.

Then try doing docker pull until docker lets you pull it.  Then once its downloaded successfully you can try upgrading.

But yeah nothing wrong with your setup there that I can see.  Seems docker isn't liking something

[2019-05-02 20:13] sampaiodiego opened #14361 "New day separator overlapping above message"
It happens if the new message is a system message:

![image](https://user-images.githubusercontent.com/8591547/57103948-7e1f0a80-6cfd-11e9-9456-b40d22d913fc.png)

[2019-05-02 20:47] #10045 closed

[2019-05-02 21:19] mcsage commented on #14307
Same here. I can confirm @h4wkmoon 's issue. Just upgraded to 1.0.2 and Gitlab oauth is broken.

[2019-05-02 21:19] D3473R commented on #7339
Hello, just had the same error `Uncaught TypeError: Cannot read property '_id' of undefined`
I am on version `1.0.2`
For me the issue only appears if i'm trying to add a user with a png profile picture.
If i leave the profile picture unset it works and i can add id later.

[2019-05-02 21:52] sunnythaper commented on #10142
Damn, this post just reminded me how long ago I tried out RocketChat and I'm surprised this still isn't fixed. I'm not joking when I say the only reason we switched to MatterMost (and honestly love it now) is solely because this one feature didn't work on RocketChat. Had this issue not been a thing for us, I honestly think I'd be on RocketChat to this day.

[2019-05-03 00:26] huergomartin commented on #12854
Same behavior in version 1.0.1.
Is there any news about this issue ?

[2019-05-03 01:56] ggazzo commented on #12854
@vidoshsahu @huergomartin its very hard to paginate because we have 3/4 lists inside (discussion/direct/unread/Channel/Private). please say us what range are you talking about (here we have 1k channels usually and works very well)...btw you can hide finished and unused rooms too if helps...

[2019-05-03 02:07] #14361 closed

[2019-05-03 02:48] franckadil opened #14363 "Google Maps inside docker fails with 403"
### Description:
Can't use Google Map as intended it fails with a 403 error.

### Steps to reproduce:
![image](https://user-images.githubusercontent.com/42721509/57117681-f6191f00-6d55-11e9-9535-8c3b426310b5.png)

![image](https://user-images.githubusercontent.com/42721509/57117688-0204e100-6d56-11e9-8e7b-5eb8e230da14.png)

![image](https://user-images.githubusercontent.com/42721509/57117704-1ba62

[2019-05-03 03:03] franckadil commented on #6454
Hello, this could be related: https://github.com/RocketChat/Rocket.Chat/issues/14359

Cheers,

[2019-05-03 03:16] marceloschmidt commented on #14359
Do you have funds on Google? You need to make sure that you have enough funds in your Google developer console to use the translation API. https://console.developers.google.com/apis/api/translate.googleapis.com/quotas

[2019-05-03 03:22] franckadil commented on #14359
@marceloschmidt Hello, yes I have $300 USD for tests, and added our company billing information for backup. The api is also using no restrictions. I also disabled our firewall.  I also got no luck with the Google Auto-Translate, I am starting to think hat the issue may be related.

![image](https://user-images.githubusercontent.com/42721509/57118398-0a134f80-6d5b-11e9-8f26-1836f7da3ad3.png)

[2019-05-03 03:26] franckadil commented on #14359
Update:
![image](https://user-images.githubusercontent.com/42721509/57118498-9b82c180-6d5b-11e9-809e-a13fc69af345.png)

[2019-05-03 03:31] marceloschmidt commented on #14359
Did you try other languages?
Also, do you have access to the database, so that you can inspect the message object **after** it has been translated? It should have a `translations` property.

[2019-05-03 03:45] franckadil commented on #14359
@marceloschmidt  Thank you for taking the time I really appreciate! The error was mine, I had to activate the billing for the service to work ! There was no clear message about that, I just randomly clicked on a blue button displaying: Activate billing...

Now I have this widget on my dashboard
![image](https://user-images.githubusercontent.com/42721509/57118843-dbe33f00-6d5d-11e9-8e6a-3249a4c97f9

[2019-05-03 03:50] #14359 closed

[2019-05-03 03:51] marceloschmidt commented on #14359
Awesome! I'm glad it works.

[2019-05-03 04:06] sampaiodiego commented on #10142
@GoetheG what do you mean by notification topic? what exactly is not working for you?

@KayzerCode what do you mean by anybody cares? I'm here from the very beginning trying to fix multiple issues you guys are facing.. I haven't heard from you before that you're having issues btw

@sunnythaper I'm not sure *what exactly* you mean by this is not fixed, as many different subjects were discussed in t

[2019-05-03 04:06] franckadil commented on #14363
I found what was the issue with the help of Google's Support. When they checked the requests made to their API they found out that Rocket.chat uses the **Static Map API**, so it needs to be enabled as well of the APIS listed bellow to avoid being stuck in the future.

![image](https://user-images.githubusercontent.com/42721509/57119287-dfc49080-6d60-11e9-9f2e-50febef3454b.png)

[2019-05-03 04:37] #14363 closed

[2019-05-03 05:36] Gummikavalier commented on #14354
For the record LDAP encryption works on our 1.0.2 system.

We are using a genuine certificate, port 636, encryption is set to use SSL/LDAP (not StartTLS).

For all we know it might not be using TLS though, as the backend is Windows AD that may downgrade it to SSL at will, but at least it is not plaintext.

[2019-05-03 06:46] sinteur opened #14364 "roles visible when they should not be visible"
### Description:

role labels are visible - but not everybody sees them - despite "hide roles" being true in settings

### Steps to reproduce:

1. set "hide roles" to true in settings
2. have most users still see them. it's not clear why the flag is honored for some people but not all

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:  1.

[2019-05-03 06:53] KayzerCode commented on #10142
Me and my system administrator were trying to make RocketChat possible to push notification about new messages to mobile. I use "Send Test Notification" button and only once it worked.
Never ever later.
So, the point is: we are still on RocketChat, but this problem make us think about alternatives.
We created channels, invited friends and clients, believing that this problem is what we could manag

[2019-05-03 08:49] r3dsn0wz opened #14365 "Federations not working"
### Description:

Configured as per the documentation:
enabled flag is set to True
Status is: Running
Domain: Domain name of the Rocket chat server
Discovery Method is set to: DNS

When now executing FEDERATION_Test_Setup this error message pops up:
`Error
Could not find your server using your setup, please review your settings.`

But furthermore the whole Federation Discovery seems rather strange

[2019-05-03 09:10] dj301 commented on #13830
Same issue here! Rocket Chat server 1.0.1 and Windows app 2.5.3

[2019-05-03 09:25] mariusherea commented on #9552
Same, version 0.74.3, from iOS

[2019-05-03 10:50] lazyants opened #14366 "Support of snapcraft.io stopped?"
there are for a while no update available, even not for the 0.74.x

<img width="992" alt="image" src="https://user-images.githubusercontent.com/249065/57133083-048d2800-6da2-11e9-9614-b42d602d8b6f.png">

[2019-05-03 11:32] ShoaibCubix opened #14368 "Delete My Chat History"
Hi,

I am trying to find a solution to be able to delete chat from direct-room but only for the user deleting the chat. All the solutions I found delete the chats for both user which is not appropriate. If I want to delete a chat it shouldn't be deleted from the other user. Any help in this regard will be highly appreciated.

[2019-05-03 11:41] christianreiss commented on #13351
I am having the exact same issue. Running via nginx and body size to unlimited as well as going to the node process by ip and port yields the same error. The export .zip file is 3mb in size and uploading shows the error, after which I am silently returned to the standard slack upload page.

[2019-05-03 11:57] sampaiodiego commented on #10142
@KayzerCode no problem, I'll need more information in order to help you, we definitely don't want to have a software that doesn't work as expected.

Can you please open a new issue describing (again) the issue you're facing? Saying what how you expect things to work and they're actually working (or not working). Please make sure to include in the issue:

* the Rocket.Chat version you're running
*

[2019-05-03 12:05] evant89 commented on #14364
Fixed in ver.1.0.2

[2019-05-03 12:52] SeaLife commented on #10045
Is this implemented @bizzbyster ?

[2019-05-03 13:03] GoetheG commented on #11559
Is it possible to make all this notification stuff a little bit easier?

[2019-05-03 14:09] ChrissW-R1 commented on #13664
It would also be nice to have a permission to allow users to leave discussion, but not public channels or private groups!

[2019-05-03 14:13] ChrissW-R1 opened #14371 "Permission to invite into discussion"
Currently every of our users is able to create a new discussion.
But only an admin is able to invite additional users, after the discussion is created.

It would be nice, if every user could invite other users to a discussion, but not to a public channel or private group.

[2019-05-03 15:20] fadanner commented on #9385
Any news on this? Bug is still open.

[2019-05-03 15:23] graywolf336 commented on #14366
As per our documentation, snaps are delayed in receiving updates due to them being our biggest installation base. As such, we would like to prevent breaking thousands of installations due to an oversight or unforseen bug. With the massive update of v1, there were several issues identified early in the release which further emphasised the need to delay updating snaps until we know that it won't bre

[2019-05-03 15:23] #14366 closed

[2019-05-03 16:56] facundomedica commented on #13822
I'm getting this same error with instances in different containers. I can see in info

Running Instances | 8
-- | --

It randomly makes the app usable

[2019-05-03 17:14] mghicas commented on #10777
Anyone have a fix for this?
On thing i noticed in my setup (3 docker containers on 3 different hosts) - One container has /tmp/userData created and the others done. Do you need to bind a host directory to /tmp/userData?

[2019-05-03 17:23] wreiske commented on #13822
👀

[2019-05-03 17:27] novafire99 commented on #14255
I have the exact same problem.  Was having the problem with 0.74.3 and then upgraded to 1.0.0-beta.1 with the same results. It's installed as a snap on debian 9.9 on a qemu vm.

[2019-05-03 17:28] Xarkam commented on #3582
Hello, this is a css workaround based on aria-label. If you change the channel name, you need to change the value of aria-label in your custom css.

The result:
![image](https://user-images.githubusercontent.com/331816/57154200-96178c80-6dd8-11e9-86f5-6da27779568a.png)

How to:
in rocket.chat admin, goto appearance -> custom css
for each channel add
[code]
Simply change `"general"` between double

[2019-05-03 17:32] renatobecker commented on #14255
@carlo-fontanos, what happens when you use the regular registration form instead of `registerGuest` method?
Does the same problem happen?

[2019-05-03 17:34] mghicas commented on #13822
Had same issue -

Look for this on the Admin/Info page at bottom - if not there - then the instances do not see each other.
I originally had port:3000 bound only to localhost so they instances could not speak, once fixed - each instance saw the others (after full restart)

Also - you can set this:
INSTANCE_IP=host_or_ip_other_instance_can_reach_via

![image](https://user-images.githubusercontent.c

[2019-05-03 18:34] Hudell commented on #14371
You can use the `add-user-to-joined-room` permission. It is assigned to the `owner` rule by default so whoever created the discussion can invite users to it.

[2019-05-03 18:44] LuluGO opened #14373 "Edit replies on threads not working"
## Description:

Is not longer possible to edit replies in threads

### Steps to reproduce:
1. Write a message using Reply in Thread
2. try to edit that message from the thread right panel but the option to edit is missing

- Version of Rocket.Chat Server: open 1.0.2

[2019-05-03 18:49] horvan opened #14374 "SMTP Testmail gets send while resend verification mail gives error"
Hi folks. I am trying to debug an error with SMTP and rocket chat.

I've set up the mail credentials the only way test mail is come to my servers inbox.

![e-mail](https://user-images.githubusercontent.com/5676367/57158397-979a8200-6de3-11e9-94be-c85bbb24666b.PNG)

Sending a Test Mail works perfect now.

But as soon as I create a new account and push resend authentication information the error
**E

[2019-05-03 18:55] robbyoconnor opened #14375 "how to Theme/skin the sidebar"
### Description:

Theming has yet to actually be resolved. It is not clear what values need to be changed to modify the color of the text in the sidebar. For example, have a peek at my instances theme:

It's still rather confusing how to theme/skin Rocket Chat.

![image](https://user-images.githubusercontent.com/23088/57159098-1e833680-6db3-11e9-91b7-b33617d37040.png)

### Server Setup Information

[2019-05-03 18:57] geekgonecrazy commented on #13200
Can we maybe listen on both paths?  or tack subdir easily on when connecting to other instances?  This is catching more people now.

[2019-05-03 18:59] geekgonecrazy commented on #13200
@rodrigok @sampaiodiego how hard would this be?

[2019-05-03 20:32] facundomedica opened #14377 "Web client loads all assets at once and crashes the server"
### Description:

If a user had talked to thousands of users, then the client tries to load all of those users' avatars at once (in the network tool of Chrome I can see all the requests being launch at the same time) even when those avatars aren't being displayed.
This does 2 things:
1. crash the server (because of all the requests I suppose)
2. makes the web client slow (it is unusable in most ca

[2019-05-03 20:34] facundomedica commented on #13822
My issue came from https://github.com/RocketChat/Rocket.Chat/issues/13200

[2019-05-03 22:01] Gandalf-the-Grey opened #14378 "Discussions can't be created with custom UTF8 Names Validation"
### Description:

### Steps to reproduce:

1. Go to Settings -> General -> UTF8 -> UTF8 Names Validation
2. Set it to something without uppercase letters: `[0-9a-z-_.]+`
3. Try to start discussions.

### Expected behavior:

Discussion is started

### Actual behavior:

Error: `__room_name__ is not a valid room name`

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.2

[2019-05-04 03:53] peasead commented on #14353
I know it isn't @IDoProgramming's initial issue, but instructions on how to do this when running Rocket.Chat as a container would be greatly appreciated if this cannot be optional.

[2019-05-04 10:27] pagnotta commented on #9385
As pointed out by simnv in https://github.com/RocketChat/Rocket.Chat/issues/9385#issuecomment-478479029 it seems to be a problem of ES6 code which is not compatible with IE11, like e.g. the three dot (...) spread syntax for iterable objects.

See https://kangax.github.io/compat-table/es6/ for compatibility.

Is there no transpilation to ES5?

[2019-05-04 15:24] jamaica23 commented on #12071
How to join this typing job

[2019-05-04 16:21] himpierre commented on #14373
Works for me. RC 1.0.2 / Firefox 66

[2019-05-04 18:23] Abraka commented on #14341
Same here, after update to 1.0.2 :-1:

[2019-05-04 18:47] mjovanovic0 opened #14380 "[Feature] Custom user name field from custom OAuth"
Add ability to specify which field from custom OAuth identity response should be mapped to user name field (not username which is already supported, but name).

[2019-05-04 21:20] pbengert opened #14382 "Users without permission can open "Create new diskussion" and see all users on the system."
### Description:

Users without permission can open "Create new diskussion" and see all users on the system.

I need a system where all users can only see one special user and direct chat with that user.
But but they should not see all the other users nor talk to them.
So I removed all permissions for role user except of: View Direct Messages
Now users cannot create new channels and using the sear

[2019-05-04 22:52] tsukiRep commented on #12723
Thank you! :+1:

[2019-05-04 23:52] bayareacoder commented on #10213
Agree with @AntMarras. We have the same issue w RocketChat on Heroku. We did get Heroku to provide us 180s boot time for this app but still we see error messages on the restart every day. I believe this issue should be left open, not closed for convenience.

[2019-05-04 23:58] bayareacoder opened #14383 "RocketChat update on Heroku fails w Mlab Mongo database on a shared plan"
- attempted to update RocketChat on Heroku from 0.66 to current 1.02
- update failed with console messaging stating ‘could not check Mongo version’ and then a message to add a role to Mongo user database to allow the checking of the Mongo cluster. The suggested Mongo shell command in the console log shows an update is needed to the ‘admin’ database.
- when on a non-dedicated shared plan for Mlab h

[2019-05-05 09:11] Venomen commented on #14169
still broken in 1.0.2

[2019-05-05 09:11] Venomen commented on #14145
still broken in 1.0.2

[2019-05-05 09:12] Venomen commented on #8709
I think that should be closed, working ok since 2018.

[2019-05-05 10:54] pluhmen opened #14384 "Snap: Startup failure due to MongoDB's real spinup time"
### Description:

Snap: RocketChat startup timings -> not really waiting for MongoDB

### Steps to reproduce:

MongoDB writes PID-File, but needs more time to really startup

`
Mai 05 03:00:41 rocket rocketchat-server.rocketchat-mongo[685]: 2019-05-05T03:00:41.688+0200 I CONTROL  [initandlisten] MongoDB starting : pid=788 port=27017 dbpath=/var/snap/rocketchat-server/common 64-bit host=rocket
`

`

[2019-05-05 13:09] tsega commented on #10194
Not sure that it is exactly related to this but when adding a channel to Rocket.Chat desktop app for the first time, if the trailing slash is not included it will not connect to the server and keeps prompting the user to add in the address without giving any clues.

[2019-05-05 19:54] ubarsaiyan commented on #14243
Hi, I found one bug too related to this. When adding a WebDAV server if the password is incorrect, the latest `develop` server crashes. I earlier thought it's a bug with the `webdav-client` library so I opened an issue there https://github.com/perry-mitchell/webdav-client/issues/156 (Maybe it still is a problem with the library only... but in any case, our server should not crash right?)
The issue

[2019-05-05 20:11] peasead commented on #14353
Okay, from a container perspective, I solved this, or at least a workaround (the documentation still needs to be updated).

[code]

[2019-05-05 22:39] whedro commented on #14307
Gitlab have API v4 .. not v3 ...  `http://******************************/api/v3/user`

API v3 was removed in GitLab 11.0.

[2019-05-05 23:15] l3dlp commented on #5387
I found one tip, by using Caddy server to proxy the snap, and using its filtering method.
Works like a charm for months.

The Caddyfile:
``
domain.tld {
        tls email@domain.tld

        proxy / 127.0.0.1:3000 {
                header_upstream X-Forwarded-Proto {scheme}
                header_upstream X-Forwarded-For {host}
                header_upstream Host {host}
                websocket

[2019-05-06 00:12] moyoteg commented on #13703
@HaleyandtheComets any luck figuring this out?

[2019-05-06 08:18] premanandmanimaran commented on #10530
In the New Windows Desktop build it works.

[2019-05-06 10:02] #12455 closed

[2019-05-06 10:32] xadereq commented on #14307
I'm also confirming this issue, after upgrading to 1.0.1 Oauth doesn't work with Gitlab 11.9.1

[2019-05-06 12:43] sonnyp commented on #404
I'm the author of xmpp.js
I might take the bounty but I'm new to bountysource and I need some clarification as some comments here and on the bounty seems to be out of scope with the description.

This is specifically about client interface (XMPP C2S) to Rocket.Chat right?
Meaning you'll be able to use an XMPP client/library with Rocket.Chat.

[2019-05-06 12:59] MarcosSpessatto commented on #14279
@phillipplum can you provide more details? Did you see if the messages exist in the database or if they were removed?

[2019-05-06 13:27] mirabilos commented on #404
Sonny Piers dixit:

I don't understand this part.

What I'd like to have (which may not be the same as what others
in this thread wish to get) is that I can use my existing Jabber
account on some other server to join Rocket.Chat rooms on a
Rocket.Chat server, so s2s.

[2019-05-06 13:53] ggazzo commented on #14377
Hi @facundomedica I made few tests here, and seems the lazy load it working... could you provide me more informations? could you send me a image with your assets loaded(chrome devtools network)..

[2019-05-06 14:47] facundomedica commented on #14377
Hey @ggazzo thanks for reaching out.

I had to close lots of direct messages (around 9k, using the API `im.close`) so it wouldn't be that bad. But here you can see that it loaded around a thousand images without even having to display them.

![Screen Shot 2019-05-06 at 14 38 53](https://user-images.githubusercontent.com/14063057/57232768-d7907d80-700c-11e9-9b53-c98c38b32b6c.png)

![Screen Shot 201

[2019-05-06 15:50] mjovanovic0 commented on #14344
Also regarding to this, there should be switch in settings for default behaviour: Following or Unfollowing by default.

For example most of our users don't want to follow by default and having main chat "spammed" by replies in thread conversation that they are not interested in.

Either global settings or maybe better in Default User Preference / User Preference so that each user can tweak how the

[2019-05-06 15:51] pageb018 opened #14392 "Email Alerts showing from as undefined after upgrade to 1.0.2"
### Description:

After upgrading to 1.0.2 direct message email alerts are showing as "undefined" in the from field.

### Steps to reproduce:

1. Update to rocketchat 1.0.2

### Expected behavior:
In the past when a direct message was delivered via email, the from address would display the users full name and the smtp email address set in the Rocketchat configuration..

for instance

From: Brian P

[2019-05-06 16:35] MarcosSpessatto commented on #14198
Hey @online0227, I think [this PR](https://github.com/RocketChat/Rocket.Chat/pull/14301) solved this issue. Can you please test with the 1.0.2 version? Please let me know if the problem persists.

[2019-05-06 16:54] josep112 opened #14395 "Current Chat"
Description:
I can not find in the report by name only by attendant and situation

Server Setup Information:

Version of Rocket.Chat Server: 1.0.1
Operating System: Debian 9
Deployment Method: tar
Number of Running Instances: 1
NodeJS Version: v8.15.0
MongoDB Version: v3.6.10

[2019-05-06 17:22] #14027 closed

[2019-05-06 18:13] tassoevan commented on #13002
May I ask you to open an issue in the [desktop app repository](https://github.com/RocketChat/Rocket.Chat.Electron)?

[2019-05-06 18:20] #14344 closed

[2019-05-06 18:20] #14373 closed

[2019-05-06 18:30] mmickelson commented on #3551
IMO, As stated before, the default behavior for cmd+v should be pasting text.

I wouldn't expect many cases at all where pasting an image of the text would be useful. You could always paste a screenshot if you needed an image. If a user highlights text and copy/paste, then their intention should be obvious since you shouldn't expect a rectangular image from a potentially multi-line, wrapped select

[2019-05-06 18:31] mmickelson commented on #13002
It looks like a similar enough issue exists: https://github.com/RocketChat/Rocket.Chat/issues/3551 so I won't create a new one.

[2019-05-06 18:43] joshmartintv commented on #3582
@Xarkam This is a nice workaround, but would not allow the proper separation of Administrator and User roles.  Your solution would require the user to contact the admin to update css for each new channel which introduces more work for the administrator.  The end user should be able to set an avatar after they create their channel without the need to contact the administrator.

[2019-05-06 18:46] mfraiss commented on #3551
@mmickelson Basically you are right, but if you are pasting a table from Excel into an E-Mail or word it also stays readable and formated.

[2019-05-06 19:02] mjovanovic0 opened #14398 "[Feature] Configurable thread following status"
There should be switch in settings for default behaviour: Following or Unfollowing by default.

For example most of our users don't want to follow all threads by default and having main chat "spammed" by replies in thread conversation that they are not interested in.

Either global settings or maybe better in Default User Preference / User Preference so that each user can tweak how they want it.

[2019-05-06 19:30] mjovanovic0 opened #14399 "[Feature] Global setting for Thread following status"
There should be switch in settings for default behaviour: Following or Unfollowing by default.

For example most of our users don't want to follow by default and having main chat "spammed" by replies in thread conversation that they are not interested in.

Either global settings or maybe better in Default User Preference / User Preference so that each user can tweak how they want it.

[2019-05-06 19:39] Ablesius commented on #10253
How would this apply to white space in the middle of a username, though?

[2019-05-06 19:42] milesflo commented on #10253
This post is over a year old 🙂 DW about it

[2019-05-06 19:51] Ablesius opened #14401 "picking mentions with Enter key produce wrong suggestion"
### Description:
If I use @ to mention a user, a selection of usernames is shown. Sometimes, maybe when I am too fast to press Enter, not the username that is currently selected in the dropdown menu is taken into my message, but another username altogether (which might not even have the same characters in the username string).

### Steps to reproduce:

1. add two users, "foo" and "bar"
2. start ty

[2019-05-06 20:01] Ablesius commented on #10253
Hope you don't mean to say this issue is not going to be resolved. It's been a PITA for at least 2 years.

[2019-05-06 20:02] bar commented on #14401
@Ablesius can you please not use my handle to document your code? thanks! :)

[2019-05-06 20:48] matortheeternal commented on #1929
I think it would be best if the user can simply wrap the link in some characters to indicate it should not be embedded.  This allows the user to easily control which links are embedded and which aren't.  This can be done in addition to a "remove link preview" option.

[2019-05-06 23:56] ryjones commented on #10253
This is still a huge problem for Hyperledger; I imagine it impacts other instances as well.

[2019-05-07 01:25] #14307 closed

[2019-05-07 01:26] #14249 closed

[2019-05-07 01:28] #13200 closed

[2019-05-07 03:42] geekgonecrazy commented on #14395
I’m afraid I don’t understand issue.  Please include screenshots and steps to reproduce as required by issue template

[2019-05-07 03:47] geekgonecrazy commented on #14383
#14403 should fix this

[2019-05-07 03:47] #14383 closed

[2019-05-07 03:51] geekgonecrazy commented on #14365
Is it actually saying :80 here?  My guess is this is what’s wrong.  Https:// is generally :443

[2019-05-07 04:39] immanuelfodor commented on #8692
Hi Everyone, I also needed a self-hosted push gateway but I didn't want to hassle with FCM, so I went on another route. My simple gateway implementation is in Python, uses Apprise to connect to Gotify (or other notification providers), runs in Docker, and it's easy to setup with docker-compose. For a few users, it provides a viable alternative instead of using gateway.rocket.chat and the Google ec

[2019-05-07 05:26] tsug0d opened #14406 "[FG-VD-19-050] Rocket.Chat is vulnerable to Cross-Site Scripting"
### Description:

Rocket.Chat is vulnerable to Cross-Site Scripting reflected in command
Tracking Case #: FG-VD-19-050

Fortinet's FortiGuard Labs have discovered a security issue in your Rocket.Chat product. We estimate its risk to 3, on a scale of 1 (lowest) to 5 (highest), in terms of its impact. Please advise of the appropriate contact person in your company to handle this issue.

### Steps to

[2019-05-07 06:49] #13002 closed

[2019-05-07 06:50] nodje commented on #3551
I second @mmickelson , default paste to text and give the option to create a pic/keep the format when needed would be best.
Still doesn't work on Macos

[2019-05-07 07:41] geekgonecrazy commented on #14340
Looks like it’s showing the fields as asked in your issue.  If it’s not working as expected feel free to open a new issue.  Please be sure to include as many details as possible in new issue so can be reproduced

[2019-05-07 08:02] roterschnee commented on #14365
It is actually saying this, which is definitely not right.
It seems this is now fixed as in the new setup i did it correctly send a POST to
https://chat.DOMAINNAME:443/api/v1/federation.events

Despite this Federation is still not working and the Test_Setup returns an error with this in the log:

`May  7 07:06:57 rocket-chat-nits rocketchat[460]: #033[34mFederation ➔ HTTP.info#033[39m Sending requ

[2019-05-07 08:02] casusss commented on #13454
RocketChat  1.0.2
Desktop client 2.15.3
Not found actions "Pin message"
![NotActionPinMessage](https://user-images.githubusercontent.com/50357786/57283333-f8fe7180-70bf-11e9-9715-df540780dd8e.JPG)

[2019-05-07 08:18] geekgonecrazy commented on #14365
Are these valid ssl certs or self signed?  It could now be an issue of self signed.  But looks like having an issue now talking to a peer

[2019-05-07 09:15] nopynoop opened #14408 "PDF preview stopped working in 1.0.2"
### Description:
Before upgrading to 1.0.2 we could see PDF previews.

### Steps to reproduce:
1. Choose a pdf file
2. Upload

### Expected behavior:
Pdf preview is displaying.

### Actual behavior:
No pdf preview is displaying.
![preview](https://pixtis.com/Y4beer4X.png)
### Server Setup Information:
- Version of Rocket.Chat Server: 1.0.2
- Deployment Method: docker
- Number of Running Instances:

[2019-05-07 09:32] tiagoefreitas opened #14409 "LDAP doesn't update users created by Oauth"
When I do a manual background sync of LDAP, I get this error with users created by manual oauth.
It should update the users with the LDAP password so I can login using LDAP as an alternative, because Oauth is not working in any of the Android clients, only iOS.

34mI20190507-09:18:36.291(0) server.js:199 [31mLDAPSync ➔ error Error creating user { Error: Email already exists. [403]     at handleEr

[2019-05-07 09:32] tiagoefreitas commented on #14409
may be related to https://github.com/RocketChat/Rocket.Chat/issues/13069

[2019-05-07 09:52] roterschnee commented on #14365
The Certificates are LetsEncrypt and vaild and not self signed. Not sure what else could cause this issue

[2019-05-07 11:08] ChrissW-R1 commented on #14371
Nice idea. But this collides with our other settings:
We have private groups, which are managed automatically, so users will be invited and removed by the server and only an admin could add or remove them manually.
Every private group needs an owner. And it is only possible to add a technically user, to be the owner of every group to fulfill this requirement.

It would be better, to separate the p

[2019-05-07 11:46] tars21 commented on #13494
Can I reopen this one here or shall I create a new issue with the same content?

Meanwhile I saw this error on our productive environment once in the last 4 days (v0.74.3) and again daily on our updated staging environment (1.0.2).
[code]
The "process termination" makes me listen attentively now. Is there something I can debug here? What is running exactly at 02:00 CET?

[2019-05-07 11:47] mikeaer opened #14410 "New Live Chat"
Hi
When I try acces new live chat on an public IP, nothing appear in web interface
Is an error in console: try to acces some resources on private IP,
Rocket Chat
CentOS 7
Version 1.0.2
MongoDB 3.6
OPLog enabled
Server is installed on an private IP who has NAT o publicIP port 3000
![newlivechat2](https://user-images.githubusercontent.com/34124588/57296855-b005e780-70d6-11e9-928d-168f680a8c13.PNG)
!

[2019-05-07 11:52] jcatarino opened #14411 "Archived Channels"
### Description:
There is a permission missing in the permissions page. There should be a permission called "view-archived-rooms" which would allow only users with that permission to see archived rooms.

### Expected behavior:

If a user doesnt have "view-archived-rooms" then it shouldnt see archived rooms.

### Actual behavior:

There isn't that permission

[2019-05-07 12:01] horvan commented on #14374
Do not know what it was Maybe a typo. So mail is working out of the box in 1.02 Deleting the screenshot now

[2019-05-07 12:01] #14374 closed

[2019-05-07 12:27] #14365 closed

[2019-05-07 12:32] josep112 commented on #14395
<img width="1280" alt="Captura de Tela 2019-05-07 às 09 26 26" src="https://user-images.githubusercontent.com/12038013/57299228-6a332a00-70aa-11e9-8098-712896b78739.png">
This image shows the report data on the screen

<img width="1280" alt="Captura de Tela 2019-05-07 às 09 24 14" src="https://user-images.githubusercontent.com/12038013/57299332-a4043080-70aa-11e9-8938-e99eced5dd60.png">

In this i

[2019-05-07 12:36] Pitstopper opened #14413 "[BUG] Messages with pictures are not ignored"
Version of Rocket.Chat Server: 1.0.2
Operating System: Debian 9
Deployment Method: tar
Number of Running Instances: 1
DB Replicaset Oplog: - On
NodeJS Version: 8.11.4
MongoDB Version: 4.0.9

If the ignored user sends text with a picture, then the picture is not ignored.

![screenshot-eaaa party-2019 05 07-08-29-56](https://user-images.githubusercontent.com/18574776/57299581-ed508200-70a2-11e9-854b

[2019-05-07 12:50] alueers commented on #3321
+1 Any News on this?

[2019-05-07 13:54] Hudell commented on #14349
The login tokens are not being removed because the user never logs out. Currently there's no check to remove expired tokens from mongo.

This is a known meteor issue, but it's low priority. If necessary we can add something on our side to remove those tokens.

[2019-05-07 13:57] phillipplum commented on #14279
@MarcosSpessatto yes. It looks like the messages have also been deleted from the database.

[2019-05-07 14:18] mfurgiuele opened #14414 "A new Owner can not send messages to group or channel"
When a new owner is added to an existing public or private channel/Group, it can not send messages to that group.
I currently have version 1.0.2 and the event is as follows.
Could you help me with this?

I20190507-10:59:49.330(-3) server.js:199 System ➔ error Error sending message: { Error: [You_have_been_muted]     at canSendMessage (app/authorization/server/functions/canSendMessage.js:18:9)

[2019-05-07 17:38] geekgonecrazy commented on #14365
@r3dsn0wz did you manage to get it?

[2019-05-07 17:41] geekgonecrazy commented on #14395
@renatobecker idk if aware of this one or not.

[2019-05-07 17:43] geekgonecrazy commented on #13494
related #14243

cc: @rodrigok

[2019-05-07 17:46] Hudell commented on #14414
#11311 should fix this.

[2019-05-07 17:51] #8709 closed

[2019-05-07 17:52] geekgonecrazy commented on #8709
Thanks for following up 👍

[2019-05-07 18:12] MarcosSpessatto commented on #13970
@tars21 Are you creating the user through the admin panel? Because we have an option(checkbox) to disable `join default channels`. :thinking:

[2019-05-07 18:22] pageb018 commented on #14392
This may be related by emails now say "bpage sent you a message" as opposed to "Brian Page sent you a message." It seems like real name isn't being pulled in correctly for emails. However real names show correctly in user lists and in conversations list.

[2019-05-07 19:25] Hudell commented on #12077
Instead of uploading the file, you can paste the extracted folder path on the "File URL" field. It accepts both an URL and a local path. If the path is for a folder on the local system, it will be imported directly.

[2019-05-07 19:48] Gandalf-the-Grey commented on #13704
Still present in 1.0.2 (latest release)

[2019-05-07 19:56] alankessler commented on #14151
We're seeing this too.

[2019-05-07 20:00] Gandalf-the-Grey opened #14416 "Can't (no longer) jump to message from a list of mentions"
### Description:

`@alice` mentions `@bob` on a channel
After some time `@bob` logs in, see he was mentioned, opens up list of mentions and see message from `@alice`, but it's hard to guess what it was about without a context.
He wants to see it and use "Jump to message" but this option is no longer there.

### Steps to reproduce:

1. Go to channel
2. Click upper-right three-dot "more" menu
3. Ope

[2019-05-07 20:11] slyk commented on #2192
Hello. We have in mid-term milestone:
1. Group to invite #7152
2. Mention multiple users #7043
3. And current about "notifications" #2192

They almost duplicates and solving one will solve others. I'm not good expert on GitHub, but maybe all of those requests need to be closed as duplicate of current one, to redirect all requests to one discussion and have ability to make one good solution for all

[2019-05-07 21:03] franckadil opened #14417 "Version 1.0.2 can't install apps"
### Description:

### Steps to reproduce:

1.  Go to Administration
2. Click on Marketplace
3. In any App details page
4. Click on the Free button
![image](https://user-images.githubusercontent.com/42721509/57332397-96829100-7112-11e9-838e-8f6b4a0dbe16.png)

### Expected behavior:

User should be able to install the App.

### Actual behavior:
![image](https://user-images.githubusercontent.com/4272

[2019-05-07 23:02] #14408 closed

[2019-05-08 00:00] flayks commented on #14375
I agree. It's still a big pain in the *ss to customize the sidebar and other elements. I had to so force !important replaces in CSS for variables and custom items like the active channel text.
A system like Slack with a few **_clearly identifiable_ color codes** would be awesome!

[2019-05-08 00:39] melarcand commented on #10146
We have experienced this issue post update to the 3.3.1-(2064) (Google Play Store) android app posted Fri, May 3. It occurs after users have logged out and attempt to log back in (during troubleshooting of other issues related to the channel list not loading) using our SAML integrated credentials.

[2019-05-08 01:14] wreiske commented on #14406
On a side note, at least this only applies to the local user and isn't executed on other user's browsers.

[2019-05-08 01:17] wreiske opened #14421 "Channel Leader Bar is in the way of Thread Header"
### Description:

When a channel leader is setup, the leader's info shows up on the top of the channel. When a thread is opened, the header gets in the way of the close button on the thread.

### Steps to reproduce:

1. Set a channel moderator/leader
2. Start a thread
3. Open the thread

### Expected behavior:

The header of the thread is viewable and clickable.

### Actual behavior:

The header o

[2019-05-08 01:44] #6743 closed

[2019-05-08 01:54] bkraul opened #14423 "BUG: Incoming webhooks reporting incorrect message"
### Description:

The messages being sent through incoming webhooks are showing incorrectly. Seems either the last message is used or really there is no logic, but what's for sure is that is not the message that was included with the hook call. Last commit that worked was 5827ff3. Every docker build after that one shows incorrect information.

### Steps to reproduce:

1. Run rocketchat commit 5827

[2019-05-08 03:41] d-gubert commented on #14423
Hello @bkraul !

I'd think this issue has been solved by this PR https://github.com/RocketChat/Rocket.Chat/pull/14420
Can you confirm? Thanks!

[2019-05-08 06:16] geekgonecrazy commented on #8692
Important to remind that doing this does require building the mobile apps and getting them distributed to your users

[2019-05-08 06:36] maciek134 commented on #2192
I'll take another stab at it :)

[2019-05-08 06:45] immanuelfodor commented on #8692
Since my solution uses a separate app (e.g. Gotify) to receive the push notifications, you can use the official RC app. The Gotify mobile app uses websockets to get the push messages, and even with excluding it from battery optimization, it doesn't show up in battery usage, no drain or whatsoever for me on Android Pie.

[2019-05-08 07:49] dhoeld commented on #14406
At least on our internal setup (0.74.3) it's not reproducible by the steps above. I got:

No such command: `/<img/src='x'/onerror='alert(1)'>aaa</img>`

[2019-05-08 07:54] gunnarbeutner opened #14425 "Rocket.Chat displays 'You must join to view messages in this channel' for guest users"
### Description:

Rocket.Chat displays the 'You must join to view messages in this channel' banner for guest users even though they're subscribed to the channel and can view and send messages.

### Steps to reproduce:

1. Create a guest user and invite them to a channel. Make sure that `allow anonymous read` is _not_ globally enabled and that the guest group does not have the `preview-c-room` perm

[2019-05-08 08:30] tsug0d commented on #14406
Here mine:
- Version	0.74.3
- Apps Engine Version	1.4.0
- Database Migration	137

[2019-05-08 08:51] tars21 commented on #13970
I forgot this information here: All users are synced from LDAP.

I think because of the missing option to create more than one LDAP import source, all users are created the same way now (with role 'guest'). Colleagues get manually the role 'member' and an invite to the default channels, other stays as 'guest'.
As long as I have no other options at the sync process, this feature request is unnecess

[2019-05-08 13:55] fchiacchiaretta opened #14427 "Sending long text as attachment in an E2E chat results in encrypted file"
### Description:

When pasting long text (an html) in the message field and sending as attachment (i.e. answer yes to the request of sending it as attachment), downloaded file is encrypted and not readable.

### Steps to reproduce:

1. Paste long text in the message field and hit Send button
2. Answer yes to "send as attachment" request
3. Fill file name and description
4. Download file, it is enc

[2019-05-08 14:41] memorais commented on #14429
https://github.com/RocketChat/docs/issues/1288

[2019-05-08 16:06] mfurgiuele commented on #14414
Thank.
I am not a developer, could take a few steps to implement this fix.
For the installation of my Rocket.Chat in Ubuntu, use this package, rocket.chat-1.0.2.tar
from https://releases.rocket.chat/latest/download.

Thank you so much.

[2019-05-08 17:15] #14416 closed

[2019-05-08 17:28] #14406 closed

[2019-05-08 18:07] bkraul commented on #14423
It looks like it is working again with docker build based on commit e9d6611

[2019-05-08 18:07] #14423 closed

[2019-05-08 19:22] rashminair90 commented on #873
Hi..can someone help me with API call for reading last message from the channel? I want to send notification to channel and accept their approval before deleting something.