[2017-01-20 13:25] #5659 closed

[2017-01-20 13:27] oliver-bowman opened #5689 "Client zoom keys the opposite way to be expected."
Rocket.Chat server version: (make sure you are running the latest)
Number of instances: (you can see this on the admin/info)
MongoDB in Replicaset mode: (yes/no)

Testing it on the latest version of the client on multiple OS's (OSX & Linux) the zoom keys appear to do the opposite action. The + key zooms out and the - zooms. This effects multiple users within my company.

[2017-01-20 13:28] danimaiochi opened #5690 "Cannot set a WebHook Integration for a user"
When I'm configuring a WebHook Integration, the second field (Channel) says I can specify an user, but when I do (or use the all_direct_messages suggested), it gives me the following error:
Exception in callback of async function: Error: [invalid-channel]
  at retrieveDirectMessageInfo (/opt/RocketChat/programs/server/packages/rocketchat_integrations.js:1515:9)
  at processWebhookMessage (/opt/Roc

[2017-01-20 13:31] rasathus commented on #5312
I believe I have a similar issue if you need another source of logs.  Im currently running 0.49.3.    Slightly differently I experienced it when running a single instance, but have subsequently increased the instance count as it seems to be the only way to make it useable.  We made ~20 release jump to get here, so can't roll back.

[code]

[2017-01-20 13:36] graywolf336 commented on #5690
This was fixed recently

[2017-01-20 13:36] #5690 closed

[2017-01-20 13:41] graywolf336 commented on #5521
Two ways:

- `Authorization` header with value `Bearer ${accessToken}`
- `access_token` as a query parameter `?access_token=${accessToken}`

[2017-01-20 13:46] graywolf336 commented on #5492
There is `GET /api/v1/im.list.everyone` currently to get the list of all the direct message rooms. As far as getting the messages from those rooms, that is not a feature and is a security concern that I'm concerned about since it is direct messages between users.

[2017-01-20 14:00] engelgabriel commented on #5379
PLEASE NOTE THAT NODEJS 6 is NOT currently supported by our framework

[2017-01-20 14:01] engelgabriel commented on #4543
PLEASE NOTE THAT NODEJS 6 is NOT currently supported by our framework

[2017-01-20 14:02] jsumners commented on #4543
@engelgabriel it should be. Node 6 is the current LTS.

This is why people shouldn't use Meteor.

[2017-01-20 14:50] bnornholm commented on #5492
We are looking to roll this out in a corporate setting in a healthcare workplace.  Because of this, we need to be able to monitor all conversations between users to ensure no mishandling of HIPPA information, and need to be able to pull up conversations at will.

I do agree with you that it is a security concern.  Making this feature only available to admins would help lock it down.

[2017-01-20 14:52] graywolf336 commented on #5492
Hmm not only that, but also a setting that has to be enabled which allows
that. Also the setting would not be enabled by default and maybe a warning
about user privacy. 👍 I'll see about getting this added today.

On Fri, Jan 20, 2017, 12:50 PM bnornholm <notifications@github.com> wrote:

[2017-01-20 14:54] bnornholm commented on #5492
Thank you!

[2017-01-20 14:55] engelgabriel commented on #5689
Fixed by https://github.com/RocketChat/Rocket.Chat.Electron/commit/4f361bc33fa2d79044c03e3c84b4027d0716d4ca

[2017-01-20 14:55] #5689 closed

[2017-01-20 15:10] nopnop commented on #4580
@DeMiNe0, @DaBlitzStein
Have you set the HTTP(S)_PROXY env ?
See https://github.com/RocketChat/Rocket.Chat/blob/develop/docker-compose.yml#L16

[2017-01-20 15:39] rodrigok commented on #5312
Dup of https://github.com/RocketChat/Rocket.Chat/issues/4543

[2017-01-20 15:39] #5312 closed

[2017-01-20 15:40] rodrigok commented on #5312
@rasathus Please see issue https://github.com/RocketChat/Rocket.Chat/issues/4543 We do not support nodejs version 6, please use version 4.x

[2017-01-20 16:50] #5682 closed

[2017-01-20 16:51] drickerusa opened #5693 "Browser has to be refreshed to see new messages."
Rocket.Chat server version: (0.49.3)
Number of instances: (8) Currently 4
MongoDB in Replicaset mode: (yes)

After the upgrade to 0.49.3 users started to contact me on the message refresh of the clients. That is users would send a message and no one would see it unless they refreshed the browser. Because of the number of users I had I was not able to go down to 1 instance and try it to see if it h

[2017-01-20 16:57] tntobias commented on #5218
This happens when a link is contained in a /me message as well.

[2017-01-20 17:02] Nemra1 commented on #5680
@graywolf336 Thank u ..im found this script ./build.sh is working

[2017-01-20 17:05] drickerusa opened #5694 "Saving a file to RC causes two notifications for the same file"
Rocket.Chat Version: 0.49.3
Running Instances: 4
DB Replicaset OpLog: yes
Node Version:

When I drag and drop or browse and save the file notification comes up with two saving notification bars instead of one. The file is only saved once and the initial save bar cleared out. The second bar just sits there until you cancel it.

![duplicate file save bar](https://cloud.githubusercontent.com/assets/2

[2017-01-20 17:11] TheReal1604 commented on #5694
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/5661

[2017-01-20 17:16] axeloz opened #5695 "Issue with import from Slack"
Hello,

using latest version of Rocket on Ubuntu with Snaps, I'm importing from Slack. Many channels remains empty on Rocket. Checking in the logs :

[code]

When removing this line in a JSON file, I get a new error :
[code]

Any idea? Thanks

[2017-01-20 17:31] graywolf336 commented on #4543
As others on this thread have said, Node.js currently has two active LTS versions. `v4` is still active with Maintenance ending on `2018-04-01`. The other active one is `v6` which has a Maintenance ending on `2019-04-18`. So, Rocket.Chat is currently on an active LTS Node.js version and there should be no issue with that since it is still going to be maintained for over another year.

![image](htt

[2017-01-20 17:33] graywolf336 commented on #5492
@bnornholm And pull request #5691 adds this functionality. The setting is under `Admin -> General -> REST API -> Enable Direct Message History Endpoint` and the permission required to call that is `view-room-administration`

[2017-01-20 17:34] drickerusa opened #5696 "After upgrade to 0.49.3 recieving many exception erros"
Rocket.Chat Version: 0.49.3
Running Instances: 4
DB Replicaset OpLog: Yes

After the upgrade from 0.48.1 to 0.49.3 I'm getting tons of these types of exception errors.
Exception from sub stream-notify-room id SsTshpowBLCsvh6qF
[code]
TypeError: Cannot read property 'id' of undefined
  at SlackBridge.postDeleteMessageToSlack (/home/rocketchat/Rocket.Chat/programs/server/packages/rocketchat_slackbri

[2017-01-20 17:43] drickerusa commented on #5696
Never mind on the slackbridge error. I think we have that one taken care of. But the initial one is concerning.

[2017-01-20 18:01] andersonluciano commented on #3621
Hey,
This feature will be developed?

[2017-01-20 18:22] jprone opened #5697 "Permanent Badge Notification after upgrade"
Rocket.Chat Version: 0.49.3
Running Instances:  1
DB Replicaset OpLog: Disabled
Node Version: 4.6.2

I have a permanent badge notification after upgrading to Rocket.Chat Version 0.49.3
![screen shot 2017-01-20 at 10 20 49 am](https://cloud.githubusercontent.com/assets/13991449/22160400/25a5ec18-defa-11e6-818e-900203895fc9.png)
![screen shot 2017-01-20 at 10 21 15 am](https://cloud.githubuserconten

[2017-01-20 18:25] graywolf336 commented on #5477
Will be fixed in the next version. :+1:

[2017-01-20 18:47] andersonluciano commented on #2588
+1

[2017-01-20 18:49] wesbland commented on #1194
This has been closed, but I'm still seeing the issue on the latest versions of Rocket.Chat. Is there some sort of advice/wiki page for setting up a regular proxy (not a reverse proxy) that isn't obvious?

[2017-01-20 18:49] graywolf336 commented on #5494
If you're developing a native application, DDP methods is the best way to go so that items are real time and you subscribe to data instead of having to continually poll.

However, this depends on https://github.com/kahmali/meteor-restivus/pull/217 being merged in. Closing this in favor of that pull request since that is the restapi library we use.

[2017-01-20 18:49] #5494 closed

[2017-01-20 18:55] admin-crowd-iugo commented on #5293
not yet.

[2017-01-20 19:30] engelgabriel commented on #5347
@akachapati can you please try again with `0.49.4`?

[2017-01-20 19:31] rodrigok commented on #5662
Users should have permission `view-d-room` to be able to mention other users

https://github.com/RocketChat/Rocket.Chat/blob/develop/server/publications/spotlight.coffee#L12-L13

I'll close this issue, please reopen it if the problem persists.

[2017-01-20 19:31] #5662 closed

[2017-01-20 19:36] rodrigok commented on #5581
@Nemra1 Sorry if we are not doing the things you need, we have a list of priorities and a small team to maintain this software free for every one.

But as we are Open Source, you can help you, us and the community opening new PRs with implementations of what you need, we will be happy to review and help you to do that.

If you can't contribute with code you can contribute with strategy on how to i

[2017-01-20 19:36] #5581 closed

[2017-01-20 19:38] vitamindck commented on #5693
I had a similar problem a long time ago when transitioning from 0.35 to 0.4x in a high availability setup. I needed to set the INSTANCE_IP environment variable for rocketchat and that solved the problem. This doesn't sound like the same issue but it's similar and probably worth checking.

https://github.com/RocketChat/Rocket.Chat.Docs/issues/87

[2017-01-20 19:39] rodrigok commented on #5669
@hExPY You should point your MONGO_OPLOG_URL to your `local` database and not to `admin` database.

Please try this:
[code]

Let me now if it works

[2017-01-20 19:50] drickerusa commented on #5693
Thanks @vitamindck I do have INSTANCE_IP in my config. As I mentioned above this just started after I upgraded last night. Of course I didn't see the issue until a lot of people started to use the system. I'm pulling my hair out trying to figure out if the latest version is incompatible with previous config settings that worked under 0.48.1

[2017-01-20 20:04] graywolf336 commented on #5615
I think what I will do is temporarily disable that setting and when the import is finished then set it back, unless there is another better way @RocketChat/core

[2017-01-20 20:08] #5672 closed

[2017-01-20 20:09] engelgabriel commented on #5676
Closed by https://github.com/RocketChat/Rocket.Chat/pull/5675

[2017-01-20 20:09] #5676 closed

[2017-01-20 20:22] engelgabriel commented on #5697
What version of the desktop client are you using?

[2017-01-20 20:22] jprone commented on #5697
Version 2.2.2 (2.2.2.222)

[2017-01-20 20:24] graywolf336 commented on #5695
`[34mI20170120-18:01:13.065(1) Missed import types: {} ` is not an error, just an informational log to alert us and users when slack adds a new message type.

[2017-01-20 20:25] engelgabriel commented on #5688
I can confirm that a YouTube video preview triggers the zoom reste.

[2017-01-20 20:26] engelgabriel commented on #5688
It only happens on Electron, and I think it has something to do with the old version of jQuery there.

[2017-01-20 20:29] rodrigok commented on #5693
@drickerusa Is your MongoDB running with OpLog/ReplicaSet enabled?

[2017-01-20 20:29] engelgabriel commented on #5688
@oliver-bowman i'll close this issue here and keep https://github.com/RocketChat/Rocket.Chat.Electron/issues/165

[2017-01-20 20:29] #5688 closed

[2017-01-20 20:31] drickerusa commented on #5669
@rodrigok Since I have upgraded to 0.49.3 I'm trying to make sure this is correct. I have a replica set of rs0. Would my environment be MONGO-OPLOG_URL=mongodb://server:27017/rocketchat?replicaSet=rs0
I asked because if I use the above env. I get the following messages from the mongo log.
2017-01-20T13:25:05.255-0700 I NETWORK  [conn282430] end connection 130.57.1.50:29380 (24 connections now open

[2017-01-20 20:31] graywolf336 commented on #5640
@DalePayman I just tested with the latest version of Rocket.Chat and the latest version of the GitLab Incoming Webhook Integration in our Docs and it worked for me inside of gitlab.com:

![image](https://cloud.githubusercontent.com/assets/850391/22164508/aefdd91e-df3e-11e6-8555-daa0355dd947.png)

[2017-01-20 20:31] #5640 closed

[2017-01-20 20:34] drickerusa commented on #5693
Here is the oplog status using rs.printReplicationInfo()
configured oplog size:   10240MB
log length start to end: 9257541secs (2571.54hrs)
oplog first event time:  Wed Oct 05 2016 11:00:08 GMT-0600 (MDT)
oplog last event time:   Fri Jan 20 2017 13:32:29 GMT-0700 (MST)
now:                     Fri Jan 20 2017 13:32:29 GMT-0700 (MST)

Am I missing something here?

[2017-01-20 20:36] #5492 closed

[2017-01-20 20:37] rodrigok commented on #5693
@drickerusa No, sorry, I missed this info on your first message.

Can you paste here the first lines of your logs? Including the `SERVER RUNNING` box.

[2017-01-20 20:41] engelgabriel commented on #5697
What do you see when you open the browser web client? Does it also say you have 1 message?

[2017-01-20 20:43] rodrigok commented on #5669
@drickerusa Your `MONGO_URL` should point to your db including credentials and replicaset info.

Your `MONGO_OPLOG_URL` should point to db `local` including credentials and replicaset info.

[2017-01-20 20:45] rodrigok commented on #5694
@drickerusa Is this happening always?

[2017-01-20 20:47] jprone commented on #5697
![screen shot 2017-01-20 at 12 46 48 pm](https://cloud.githubusercontent.com/assets/13991449/22165017/90134d20-df0e-11e6-82a5-3ef1a1a2da3b.png)
Yes, with all browsers (Chrome, Firefox, Safari).

[2017-01-20 20:48] engelgabriel commented on #5669
@drickerusa please read https://github.com/meteor/docs/blob/master/long-form/oplog-observe-driver.md#oplogobservedriver-in-production

[2017-01-20 20:48] #5477 closed

[2017-01-20 20:54] engelgabriel commented on #5669
@hExPY I guess you have the info now to configure `MONGO_OPLOG_URL` correctly.

Please reopen the issue if you still have problems.

[2017-01-20 20:54] #5669 closed

[2017-01-20 20:55] engelgabriel commented on #5697
And are you sure you have not closed a channel/group that you do have an unread message?

You can press Shift+Esc to clear them all.

[2017-01-20 20:57] jprone commented on #5697
Wow!  That simple.  That did fix the concern on my end in all instances (browser, OS X App, iOS)

[2017-01-20 20:58] engelgabriel commented on #5693
@drickerusa or can you send a screenshot of your `admin/info` page?

[2017-01-20 21:00] #5694 closed

[2017-01-20 21:00] #5467 closed

[2017-01-20 21:00] #5471 closed

[2017-01-20 21:00] jprone commented on #5697
That was more than likely the reason, because we did recreate all the channels/groups from our previous installation.

I truly appreciate the response.

[2017-01-20 21:01] k0nsl commented on #5697
I've got the same issue as well on the same version of Rocket.Chat.

[2017-01-20 21:01] rodrigok commented on #5696
@drickerusa Is that happening on server or your browser?

[2017-01-20 21:09] engelgabriel commented on #5697
@k0nsl press Shift+Esc to clear them all.

[2017-01-20 21:09] #5697 closed

[2017-01-20 21:11] k0nsl commented on #5697
@engelgabriel: I mean in my browser, not the desktop client. Very annoying. I simply deactivated `Unread Alert` in my account profile for now.

[2017-01-20 21:27] soundstorm opened #5704 "Improvement: Threads"
Just released at Slack: Threads.
You can start a Thread on any post:
![Start Thread](https://cloud.githubusercontent.com/assets/193273/22165948/c611defa-df5e-11e6-8e75-e63e04020a77.PNG)
You may select notification for full channel or just Thread internal
![Reply](https://cloud.githubusercontent.com/assets/193273/22165959/d74697b0-df5e-11e6-8b1f-2f9c859a8f34.PNG)
You may select the notification opt

[2017-01-20 21:36] drickerusa commented on #5693
I was able to get the oplog config to work properly. I no longer get the notification in the administration info screen. Right now I'm checking with my users to see if they are still having refresh the screen to get messages issue. I'll let you know in a few.

[2017-01-20 21:41] drickerusa commented on #5696
This is the exception log I configured to send to a channel. So in my browser.

[2017-01-20 22:58] dmkjr opened #5705 "Update Rocket.Chat"
Rocket.Chat Version:  0.49.3
Running Instances: 1

I am trying to find information on how to update Rocket Chat.  I see 0.49.4 was released but my info still shows 0.49.3.  I deployed using SNAP.  Could someone let me know how to update or will it automatically update?  Is there the ability to upgrade manually?

Thank you,
David

[2017-01-20 23:05] engelgabriel commented on #5704
Dup of #1112 👍

[2017-01-20 23:05] #5704 closed

[2017-01-20 23:06] engelgabriel commented on #5696
@drickerusa but it is the server log, right?

[2017-01-20 23:12] jeffreywescott commented on #3929
@engelgabriel that link you posted relates to MongoDB version 1.4, and has status `CLOSED`.

[Also worth noting](https://docs.mongodb.com/manual/core/gridfs/#when-to-use-gridfs): "In MongoDB, use GridFS for storing files larger than 16 MB." Avatars definitely do _not_ fit the bill here.

As for our deployment, we are on MongoDB 3.2.10, hosted by compose.io. We are using the WiredTiger storage engi

[2017-01-20 23:14] drickerusa commented on #5696
@engelgabriel I assume so. I configure in the Logs under settings. I set the log level=2 I don't show the package or the file and line and send the Log Exceptions to a channel that I have named the same.

[2017-01-20 23:16] drickerusa commented on #5696
@engelgabriel since I fixed the oplog url I have not seen anymore of these exceptions.

[2017-01-20 23:19] drickerusa commented on #5693
@engelgabriel @rodrigok Since I have changed all the config for each instance with and updated and working oplog entry I have not received any feedback on issues with refreshes. So far everything seems to be working. I'm still a little puzzled why this worked fine under 0.48.1. Thanks for your help.

[2017-01-21 01:47] engelgabriel commented on #5693
Version 0.49.x introduced a cache layer for performance, and that depends on the OpLog to sync multiple instances. Keeps us informed, thanks.

[2017-01-21 01:47] #5693 closed

[2017-01-21 01:47] engelgabriel commented on #5696
Keeps us informed, thanks.

[2017-01-21 01:47] #5696 closed

[2017-01-21 01:48] engelgabriel commented on #5705
Aaron, can ou check the snap building process?

[2017-01-21 02:02] garg commented on #604
@snaiperskaya96 That worked for me! And it seems to be working great. Just noticed a few things:

* When not logged in, going to localhost:3000 immediately redirects to the lobby. Can it be so that going to localhost:3000 always shows the login form if not logged in?

* When do the guest accounts get deleted? I made about 4 but they all haven't been deleted yet.

* As guest, clicking on the top le

[2017-01-21 02:21] dmkjr commented on #5705
@engelgabriel Thank you.  I believe it has auto updated in the past.  I only deployed about a week ago, but I don't see an option to upgrade... assumed it was automatic.  Not sure if I need to do something to trigger an upgrade.

Thx,
David

[2017-01-21 02:29] geekgonecrazy commented on #5705
@dmkjr can you check again?  Snaps auto update usually with in 3-4 hours of being released.  I think can be up to 6 hours.  I can confirm 0.49.4 has definitely been released into the snap stable channel.

If you haven't gotten the update and need the update sooner you can run: `sudo snap refresh rocketchat-server` this will force it to check.

[2017-01-21 02:36] dmkjr commented on #5705
Let me check.  I just checked the /info screen.  I'll pull it up once again.

[2017-01-21 02:54] dmkjr commented on #5705
@geekgonecrazy The refresh snap command worked.  I'm not sure when you released the 0.49.4 but I originally posted 4 hours ago and saw it released a few hours before then.  I'm on a Droplet from DO, NY3.

[2017-01-21 02:54] #5705 closed

[2017-01-21 03:34] geekgonecrazy commented on #5705
@dmkjr I'm not sure the exact timing involved in the snap auto update.  I'll try and get exact numbers and add to our FAQ.

[2017-01-21 09:12] klatys commented on #5585
Same problem again with 0.49.4 Unfortunately I will have to downgrade and stop automatic updating till this is resolved :/

[2017-01-21 09:51] titulus commented on #4395
when will we see it on demo?

[2017-01-21 12:32] snaiperskaya96 commented on #604
Hi @garg!
Thanks for your feedback!

Guess this could be an additional settings option, someone may prefer a direct login as guest (the main request is to open Rocket.Chat and being able to read), someone may prefer the user to choice )

They get deleted after they logout, I guess i will have to setup a timer that check if guests are logged in and delete them eventually

Shouldn't happen (doesn't

[2017-01-21 15:30] Nemra1 opened #5707 "im found some old package to /clear chat room msg"
Rocket.Chat Version: 0.49.3
Running Instances: 1
DB Replicaset OpLog:disable
Node Version:4.6.2

when im search about addones for rocket chat ..im found this link
https://github.com/warcode/rocketchat-clearchat ( Clear chat messages )
but this is pkg for old rocketchat system ..not work with 4.x.x
just to be clear..iwant help to update this pkg with our last version bcs the developer dosnt support

[2017-01-21 15:37] soundstorm opened #5708 "Feature: Restore last visited channel"
I hacked it currently the bad way, relying on href-polling, but it would be nice to have a feature within the default scripts. Just restores the last visited channel.
[code]

[2017-01-21 15:51] soundstorm commented on #5413
Just posted a hot fix in #5708 - I put it into custom scripts / logged in

[2017-01-21 15:52] soundstorm commented on #5708
Duplicate of #5413, but offered hot fix for remaining days until 0.50.0 release

[2017-01-21 15:52] #5708 closed

[2017-01-21 17:46] Rohlik commented on #4395
@titulus I try snippets on demo right now and it is working great.

[2017-01-21 18:28] snaiperskaya96 commented on #604
Hey @garg, I've fixed the issues you have found (except the login one that i couldn't reproduce).
There is now an option to enable/disable automatic login as guest. The infinite loading shouldn't happen anymore and the guests get instantly deleted as soon as the session finish (like closing the tab).
Let me know! :)
(Btw, `git pull origin allow-anonymous-access` should be enough to update it :) )

[2017-01-21 19:34] dmkjr opened #5709 "Video Chat on Mobile Devices"
Rocket.Chat Version: 0.49.4

Video chat is having difficulties on mobile devices.  I don't see any documentation, but am curious if I need to install anything else on the server or configure anything else?

Does this video service stream through our hosted server?

Thanks,
David

[2017-01-21 19:50] bazarnew commented on #4717
@engelgabriel

[2017-01-21 19:51] bazarnew commented on #4814
@engelgabriel

[2017-01-21 20:19] dmkjr commented on #36
Any update on this?  I'm just getting a "timeout" error when attempting to use it.

[2017-01-22 01:02] garg commented on #604
@snaiperskaya96 Thanks! That appears to be working well. I had a few of the redirect issues but that may have been because of something cached in the browser but I can't repeat it right now? I'll test some more with different browsers and settings to confirm.

Deleting 'guest' accounts when tab closes works perfectly.

One other thing -- if I close my browser (in this case, Safari), and then reope

[2017-01-22 01:33] dmkjr opened #5710 "Wordpress Integration"
Rocket.Chat Version: 0.49.4

I have installed the Rocket.chat Wordpress plugin and read the documents included with the plugin.  I am having issues getting it to display properly.  There was only one setting in which is asked what my installation URL was for Rocket.Chat.  Afterwards, I copied the script provided in "LiveChat >> Installation".

Have no luck getting it to disply on my site.

[2017-01-22 01:43] dmkjr commented on #5710
Ahh, nevermind.  I resolved this issue myself.

[2017-01-22 01:43] #5710 closed

[2017-01-22 01:57] dmkjr opened #5711 "Script won't load from unauthenticated sources"
Rocket.Chat Version: 0.49.4

Browsers will not load my chat window (using Wordpress plugin).  I'm getting the "this page is trying to load scripts from unauthenticated sources" error.

Any idea how to resolve this so I can display it?  Our website currently has a SSL installed on the domain.

[2017-01-22 01:59] k0nsl commented on #5710
It would be useful for others if you described how you resolved your issue.

[2017-01-22 02:31] Key4ce commented on #5585
I have updated to 0.49.4 and same issue here. Anybody have a work around?

[2017-01-22 09:32] snaiperskaya96 commented on #604
Hello @garg!

The `Invalid user' pops out because the browser is trying to login using a deleted user.
About the direct URL thing I think that I might be part of another issue, something like "allows redirect from login page" so that if you go to /channel/room1 without being authenticated you get redirected to something like /login? p=/channel/page1 and after login (or automatic login if guest) yo

[2017-01-22 10:35] hussamEddinAlhendi opened #5712 "add custom provider to storage type (file upload)"
Can you add new provider api based to storage type so we can manage file uploading storage and handle any further business.

There are three types for storage type : amazon s3, file system, gridfs.
is there is a possibility to add new type (custom api) that accept binary data and the userId.

[2017-01-22 12:25] garg commented on #604
@snaiperskaya96 I left a comment on the PR! :) Thanks

[2017-01-22 12:59] rapcal commented on #5473
Rocket.Chat version `0.49.4` installed on `Ubuntu 16.04` via `snap`

Logging a similar issue here, because it really seems to be closely related. Excuse me in advance if I should have opened another ticket.

Password and verification emails are failing with MAIL FROM syntax error, as per the screenshot below. Other messages are sent without issues.

![screen shot 2017-01-22 at 10 14 08](https://cl

[2017-01-22 13:22] rapcal commented on #5473
Reading the source code, I've stumbled upon the `_addSmarshSyncedCronJob`.
Just reboot the server and everything is working.
Maybe a lucky break 👍

[2017-01-22 17:39] TheReal1604 opened #5714 "Push message formatting broken"
Rocket.Chat Version: 0.49.4

Hey Guys,

since the update to 0.49.4 my push message formatting is a bit broken:

![image](https://cloud.githubusercontent.com/assets/5877910/22184450/f48eb5e0-e0d1-11e6-8f37-5a2e438f49d5.png)

The @ is missing.

Maybe it could be related that i have turned on the option that only the username is pushed. The test pushnotification seems ok.

[2017-01-22 18:19] reetp commented on #5422
And 0.49.4

[2017-01-22 18:29] Syirrus commented on #5594
@engelgabriel @rodrigok
I'm running the latest version or commits rather in the "develop" branch.

After updating, I'm still getting:

`Exception from Tracker recompute function:
meteor.js?hash=e3f53db…:930 TypeError: RocketChat.TabBar.showGroup is not a function
    at Route.action [as _action] (router.coffee:58)
    at Route.callAction (kadira_flow-router.js?hash=863da7f…:889)
    at kadira_flow

[2017-01-22 19:03] mlanner commented on #4296
@engelgabriel Integration with OpenStack Swift would be great. Is this still on the roadmap?

[2017-01-22 19:13] Skrupellos commented on #1824
An other feature that would be nice to see would be "agent by default".

For example, every user is an agent by default ("Default department" drop down when there is no department: "None, Agent" / "Default department" drop down when there are departments: "None, Dep 1, Dep 2, ...").

This could be extended by a role permission: "default-livechat-departement". Now, every user having a role (e.g. "u

[2017-01-22 20:57] dmkjr commented on #758
Is this still missing within Rocket Chat?  Need to move servers and trying to export from Rocket.Chat.

[2017-01-22 21:08] FibreFoX commented on #3760
Just to have this documented somewhere: if you have locked out yourself by disabling that option (because you misinterpreted it), it is possible to re-enable this via REST

[code]

[2017-01-22 21:09] k0nsl commented on #758
Yes, @dmkjr, it is still not implemented (unfortunately).

[2017-01-22 22:05] rapcal opened #5716 "Livechat not loading due to DENY or multiple X-Frame-Options"
`Rocket.Chat Version:  0.49.4 | Ubuntu 16.04 | snap`
`Running Instances: 1`
`DB Replicaset OpLog: N/A`
`Node Version: 4.6.2`

I'm trying to install livechat and I'm facing a weird problem. If I make no changes to the allowed domains list, the `X-Frame-Options` header is set to `DENY`. This seems to contradict the help block in the admin area: `Leave blank to allow all domains.`

![no-whitelist](ht

[2017-01-22 23:33] dmkjr commented on #5711
I think the problem may be because I don't have a SSL cert installed on the Rocket.Chat server.  I'll try that and update this issue.

[2017-01-23 00:30] dmkjr opened #5717 "LiveChat Offline Message destination?"
Rocket.Chat Version: 0.49.4

I'm opening the issue, but I cannot readily identify the problem.

I have Livechat turned off from my username to ensure that the chat window show's "Offline" and to leave a message.  In testing, I'm trying to find out where that offline message is actually delivered and/or how to change where that offline message is delivered.  I'm not seeing it in my account, nor my

[2017-01-23 00:34] zorenleo commented on #5609
Alright @engelgabriel thank you, you're awesome.

[2017-01-23 03:18] garg opened #5718 "Open custom TabBar on entering room?"
Rocket.Chat Version: 0.49.4
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: 4.7.2

I have a custom package added to RocketChat. One action it takes is that it changes the template of the TabBar and opens it when entering a room. In version 0.33 the following code was used in the package:

[code]

I recently updated to 0.49.4 and noticed that RocketChat.TabBar no longer has getTemp

[2017-01-23 06:06] jusfeel commented on #3862
+1

[2017-01-23 06:24] mattlin commented on #4832
I have exactly the same issue. @Huljo can you share your solution ? Thanks a lot

[2017-01-23 06:42] mattlin commented on #5104
Same problem with logo in 0.49.4

[2017-01-23 06:44] mattlin commented on #5104
I can not upload file with using subdir on 0.49.4 I find I can upload file with using subdir on 0.39

[2017-01-23 07:39] hExPY commented on #5669
Hi @engelgabriel,

now it works like a charm. Thanks for referencing the meteor documentation this helps me out.

Adding ?authSource=admin fixed the problem!

Thank you very much!

[2017-01-23 10:13] danimaiochi opened #5719 ""Clipboard... 0%" Message stays forever"
When I paste an image to someone or a group, it shows 2 loading bars on the top of the screen showing the upload progress, but one of the bars keep still at 0% and stays there even after the upload is complete.

Rocket.Chat Version: 0.49.4
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0

[2017-01-23 10:25] elfrinjo commented on #4068
This might be a duplicate of #2869

[2017-01-23 10:34] oliver-bowman opened #5720 "Reoccurring java script popup"
Rocket.Chat Version: 0.49.1
Running Instances: 4
DB Replicaset OpLog: Yes
Node Version: 4.5 LTS
Rocket Chat Client version: 2.2.2

The issue one of my colleagues is experiencing comes after the commit: https://github.com/RocketChat/Rocket.Chat.Electron/commit/4f361bc33fa2d79044c03e3c84b4027d0716d4ca he is expriencing multiple popups wit the message ![jserror](https://cloud.githubusercontent.com/as

[2017-01-23 11:05] rauhmaru opened #5721 "Dropdown items are not displayed"
Rocket.Chat Version: 0.49.4
Running Instances: 1
DB Replicaset OpLog: Não

By clicking on "more channels ..." and then in the dropdown menu, the items appear to be white, the same color as the background, and you can not see the options.
![dropdown](https://cloud.githubusercontent.com/assets/2289237/22201498/a7085c74-e142-11e6-82e5-b9a33d6d9035.png)

[2017-01-23 11:29] axeloz commented on #5663
+1
<img width="1276" alt="rocket_chat_" src="https://cloud.githubusercontent.com/assets/1597611/22202239/89488446-e167-11e6-93d3-39d73bf635f3.png">

[2017-01-23 12:30] soundstorm opened #5722 "Sort menu items by translations"
Currently running 0.49.4:
For me it is sometimes hard to get to the right menu shortly. The ordering is fixed by the english names, but german ordering is then K, A, A, B, C, E, C, D, A, ...
There are just a few options for me that change but would make the difference.
![Accounts=Konten/General=Allgemein](https://cloud.githubusercontent.com/assets/193273/22203942/adff9470-e16f-11e6-8b2f-6c3a51ad30

[2017-01-23 12:39] rodrigok commented on #5293
@admin-crowd-iugo Did you upgrade to version 0.49.4? Are you still getting the infinity loading screen?

[2017-01-23 12:42] rodrigok commented on #5594
@Syirrus Can you simulate this problem with a fresh install? I can't simulate it here on my machine.

[2017-01-23 12:52] #5616 closed

[2017-01-23 13:15] engelgabriel commented on #5719
This was fixed on https://github.com/RocketChat/Rocket.Chat/pull/5702 but not released yet.

[2017-01-23 13:15] #5719 closed

[2017-01-23 13:21] engelgabriel commented on #5716
@sampaiodiego can you take a look at the logic and confirm if this is a bug?

Thanks @rapcal can you please do a PR with your proposed fix?

[2017-01-23 13:23] engelgabriel commented on #5718
@karlprieb can you give some guidance here?

[2017-01-23 13:25] engelgabriel commented on #5720
Thank @oliver-bowman

Can you please open this issue on the https://github.com/RocketChat/Rocket.Chat.Electron project and close ti here?

[2017-01-23 13:27] engelgabriel commented on #5716
@rodrigok can you help check the logic here?

[2017-01-23 13:30] engelgabriel commented on #5711
Indeed, you need SSL on all sources :)

[2017-01-23 13:33] karlprieb commented on #5718
Hi! @garg. You can do something like that https://github.com/RocketChat/Rocket.Chat/blob/0c4944884b298fe6c9660ac4c7d23164ce19429e/packages/rocketchat-ui/views/app/room.coffee#L655

Create your logic and open your TabBar panel when the user enter in the room :)

[2017-01-23 13:41] engelgabriel commented on #5709
It only works on Android for now, and we are still working on stability.

[2017-01-23 13:51] Jannibal commented on #5721
A temporary workaround for this is the following:
Administration --> Layout --> Custom CSS, paste the following
`aside select.c-select option { background-color: #04436a; }`

[2017-01-23 13:56] rauhmaru commented on #5721
Works perfect, @Jannibal. Thanks.

[2017-01-23 14:01] rauhmaru commented on #5721
Now a new problem:
After removing this custom CSS, it still continues to influence the layout.
![dropdown](https://cloud.githubusercontent.com/assets/2289237/22206745/327f4228-e15b-11e6-9a76-5cad43cf20d0.png)
Even after removing the CSS and reloading the page, the background still looks as if the CSS was applied.

[2017-01-23 14:02] dmkjr commented on #5717
If it helps, my domain is 'cityofhanahan.com'

Thanks,
David

[2017-01-23 14:02] karlprieb commented on #5721
@rauhmaru Can you open a new issue for that?

[2017-01-23 14:03] dmkjr commented on #5711
Thank you.  I have resolved the issue by installing a SSL cert on that domain.

[2017-01-23 14:03] #5711 closed

[2017-01-23 14:05] rauhmaru commented on #5721
Roger that :)

[2017-01-23 14:06] dmkjr commented on #5709
Thank you.  I'm having issues on my Android device with someone at a PC.  Doesn't appear to function and just gives me a blank box.   I have an LG V20 with the latest software available.

[2017-01-23 14:08] rauhmaru opened #5725 "After removing custom CSS, the code is still applied"
Rocket.Chat Version: 0.49.4
Running Instances: 1
DB Replicaset OpLog: no

[After removing this custom CSS](https://github.com/RocketChat/Rocket.Chat/issues/5721#issuecomment-274492689), it still continues to influence the layout.
![dropdown](https://cloud.githubusercontent.com/assets/2289237/22206967/058c04a8-e15c-11e6-9dc8-15ea26fe0581.png)
Even after removing the CSS and reloading the page, the

[2017-01-23 14:14] toupeira opened #5726 "Constant high CPU in frontend"
Rocket.Chat Version: 0.49.3
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.7.2

Linux version: Debian sid
Firefox version: 50.1.0-1
Chromium version: 55.0.2883.75-5

Certain conversations in Rocket.Chat always hog my CPU (~30% on a quad-core system, distributed across all cores) and cause my fans to start spinning, this can be observed in Firefox using the Performance tab in th

[2017-01-23 14:39] #5720 closed

[2017-01-23 14:40] MartinSchoeler commented on #5720
Moved to https://github.com/RocketChat/Rocket.Chat.Electron/issues/318

[2017-01-23 15:07] engelgabriel commented on #5726
Thanks a lot @toupeira, this is very useful information. We do have an animation between changing channels, so maybe it is not being removed properly after the page load.

[2017-01-23 15:24] engelgabriel commented on #5726
@karlprieb I have just realised we don't remove the animation for `load more msgs`, we just push it upwards each time. Maybe we should remove the `$('.loading-animation')` and put it back when needed?

[2017-01-23 15:25] engelgabriel commented on #5725
What happen if you put another CSS rule instead? Just trying to find out if the function is ignoring when the setting is empty.

[2017-01-23 15:30] karlprieb commented on #5726
@engelgabriel Probably will decrease the CPU usage in this view. I will test that :)

[2017-01-23 15:40] TheReal1604 commented on #5010
![2017-01-23 16-39-10-1](https://cloud.githubusercontent.com/assets/5877910/22210591/a2d2d812-e18a-11e6-9c93-55a3902de3a0.PNG)

Also happens on Demo.

[2017-01-23 15:41] Sing-Li opened #5728 "Improve Room Header"
Through experiences like this - again and again ....

![screen shot 2017-01-23 at 10 37 45 am](https://cloud.githubusercontent.com/assets/122633/22210544/31a38e20-e158-11e6-9f5d-8b26856a2e92.png)

It is clear that it is not our community members that do not read the topic.

BUT  -  the topic is too hard to read on most monitors / setups.

Please improve the UI aesthetics so that the topic "grabs a

[2017-01-23 15:53] lkraider commented on #533
MeteorPostgres seems dead, anyone knows the state/roadmap of ApolloStack (https://github.com/apollostack) and if Rocket.Chat will migrate there?

For reference, the ParsePlatform guys were able to develop a database adapter interface that talks to Mongo and PostgreSQL, perhaps Rocket.Chat could build on top of the same abstraction:
https://github.com/drew-gross/parse-server/blob/master/src/Adapter

[2017-01-23 15:56] dmkjr opened #5729 "Cannot Connect via Mobile; 3 Dot Endless"
Rocket.Chat Version: 0.49.4

I have a Rocket.Chat instance that we just changed hostname from server IP:3000 to https://hanahan.work

However, when attempting to login from a mobile device (using the applications) and typing in the server address https://hanahan.work I get a "Failed to connect to server: abort.abort"

When I use the old insecure way http://hanahan.work:3000 it says "Validating Ser

[2017-01-23 16:27] engelgabriel commented on #5728
Inded, let's make it less faded.

![image](https://cloud.githubusercontent.com/assets/1000217/22212395/b2470484-e177-11e6-89ca-bf51af2416f5.png)

[2017-01-23 16:38] dmkjr commented on #1927
I'm now having this issue after installing an SSL from Let's Encrypt.  I can access via browsers, just cannot access from my Android App.

[2017-01-23 16:45] engelgabriel commented on #5729
@laggedHero can you give it a try to connect the Cordova app to their domain and debug?

[2017-01-23 16:48] engelgabriel commented on #5621
But would that be a "button" on the admin panel to run this?

[2017-01-23 16:54] engelgabriel commented on #5712
@hussamEddinAlhendi This is definitely on our roadmap, but we haven't started on it. Do you want/like to help?

[2017-01-23 16:56] hussamEddinAlhendi commented on #5712
@engelgabriel I started implementing this feature today

[2017-01-23 17:02] #5695 closed

[2017-01-23 17:10] IQ2022 commented on #5718
can you show us sample image of what is this about?

[2017-01-23 17:10] engelgabriel commented on #5712
Awesome, you can open an Work In Progress pull request, so we can help you reviewing the code and giving you directions :)

[2017-01-23 17:11] rodrigok commented on #5716
The code seems correct, will not return the `X-Frame-Options` if the setting is empty.

Are you using some reverse proxy like nginx?

[2017-01-23 17:15] rodrigok commented on #1927
@dmkjr Can you test your certificate/host address at https://www.networking4all.com/en/support/tools/site+check and https://www.ssllabs.com/ssltest/analyze.html ?

[2017-01-23 17:21] rauhmaru commented on #5725
@engelgabriel, I added a new CSS, applied it and then removed it, using the reset button.
The reset function did not work, leaving the previous CSS.

[2017-01-23 17:22] rapcal commented on #5716
Gosh... duh. Yup ☹️ , with a global DENY clause.
I'll close the issue now and confirm with an updated nginx config later today. If it doesn't fix I'll let you know, but I'm sure you found the root cause.
Sorry to have taken your time, guys, and thanks for the asap response!

[2017-01-23 17:22] #5716 closed

[2017-01-23 17:26] Sing-Li opened #5730 "Add Performance Monitoring Layer - Instrument Everything"
With Kadira fading into computing history, and the rapidly increasing number of hosting providers offering Rocket.Chat as a service -- there is no better time to start making Rocket.Chat meaningfully monitor-able.

The ability to "look into" a running Rocket.Chat instance and obtain both realtime and rolling historical summary of application-meaningful metrics is vital for:

* server (cluster) ope

[2017-01-23 17:56] hussamEddinAlhendi commented on #5712
yeah sure :)

[2017-01-23 18:18] TheReal1604 commented on #5730
@Sing-Li Just to clear some things ;-)...

I am working on my repo on a automated install script for a monitoring pi (Grafana, Telegraf and Influxdb based). At the moment you find in my repo a script which automated install the components and adds just a basic dashboard to monitor your internet connection - but i think this could easily expanded with the dashboard seen above that i created for my

[2017-01-23 18:49] dmkjr commented on #1927
@rodrigok I have ran both tests.

https://www.networking4all.com/en/support/tools/site+check/report/?fqdn=hanahan.work

https://www.ssllabs.com/ssltest/analyze.html?d=hanahan.work&latest

I'm not really sure what it's telling me but it's not showing 100% good.

[2017-01-23 18:51] dmkjr commented on #1927
@rodrigok More specifically, it only seems to be effecting Android devices with the android application.  I can log in via IOS devices and any browser so far.

https://hanahan.work is my URL.  I can give you an account for testing purposes if you desire.

[2017-01-23 18:56] dmkjr commented on #5729
@engelgabriel Thank for assigning this to someone.  So far this is only effecting Android applications.  IOS devices and all browsers appear to be working well.  I saw this thread #1927 as well.

[2017-01-23 19:20] marceloschmidt commented on #5240
Hey @ggazzo could you please open a Pull Request with your solution? Thanks!

[2017-01-23 19:20] marceloschmidt commented on #5301
Hey @ggazzo could you please open a Pull Request with your solution? Thanks!

[2017-01-23 19:27] Jannibal commented on #5729
@dmkjr We had this issue on Android too, for a while. Two things we did to fix it;
1) We had "wrong" Site URL set in Admin --> General. Needed to be the URL that the mobile app actually used (we had it set to the internal URL, not the internet accessible one)
2) After updating from 0.48.2 to 0.49.0 we had to clear the cache an stored data for Rocket.Chat on the phone before it would connect.

[2017-01-23 19:27] Syirrus commented on #5594
@rodrigok I did a fresh install and it seems to work. It must be on my end :(

[2017-01-23 19:33] dmkjr commented on #5729
@Jannibal What did you actually set the site URL to?  I have ours set at https://hanahan.work

I have removed the application, but I'll also try to clear the cache.  We originally had this setup without an SSL.

[2017-01-23 19:41] dmkjr commented on #5729
@Jannibal No luck with clearing the cache.  It's weird, it downloads the files and then sometimes gets past the 3 dot screen but then shows that it is disconnected from the server and will not go any further and just locks the screen up.

[2017-01-23 19:42] jy2008 opened #5731 "Unknown job: rocketchat`"
Rocket.Chat Version: 0.49
Running Instances: Ubuntu 14.04 x 64
DB Replicaset OpLog:
Node Version: 0.45

when i do `sudo start rocketchat`, it gave me error saying: `start: Unknown job: rocketchat`, why is that?

[2017-01-23 20:44] Syirrus commented on #5594
@rodrigok I'm not so sure it's on my end.... I've rolled back on my source control and things work (along with my DB). As soon as I update to the latest, things break in the same manner.

[2017-01-23 22:44] admin-crowd-iugo commented on #5293
i tried it on a test server. i no longer get infinity loading screen but i am logged out everytime i connect with the message Invalid User.

[2017-01-23 23:22] soundstorm commented on #5731
Did you mean `service rocketchat start` or `systemctl start rocketchat`? Did you follow the installation instruction and created the `rocketchat.desktop` file?

[2017-01-23 23:57] soundstorm opened #5732 "Slash callback configuration in frontend"
Currently there is only support for slash commands in distributed in packages (and only loaded after restarting the server, correct me, if I'm wrong).
Slack features - nearly from the beginning on - a simple way to configure a slash command via the frontend, without needing packages and restarts. What they do? Simply take a command `/cmd params[]` and create a POST or GET to a given server address

[2017-01-24 00:15] dmkjr commented on #5729
We were able to resolve the issue.  When we ran a test on our SSL cert, we were getting a "B" rating because of some key chain issues.  While then IOS application and native browsers allowed us to login to our Rocket Chat server, Android application and Android browsers were blocked.  Further, via a browser we were showing an issue with the cert.

A member of our team applied some tweaks and fixes

[2017-01-24 00:15] #5729 closed

[2017-01-24 00:17] garg commented on #5718
@karlprieb Thanks! It appears like I can only get to it from within the Template instance?

@IQ2022 Sure! Thanks.  I'm attaching a screenshot. It is a tabBar with a canvas element inside it.
<img width="1269" alt="screen shot 2017-01-23 at 7 05 13 pm" src="https://cloud.githubusercontent.com/assets/16932/22228471/63385f6e-e19f-11e6-8d4b-62a12a24bcfb.png">

Inside the custom package, I have a tabBa

[2017-01-24 00:43] chrbo commented on #4535
@dalareo Did you find a solution for this problem?

I am running into a similar issue using a custom OAUTH with WSO2IS.

Many thanks!

[2017-01-24 01:40] ggazzo commented on #5240
It's done :)

[2017-01-24 02:37] engelgabriel commented on #533
Yes, we have plans to migrate/add the ApolloStack into Rocket.Chat, so we'd moving form DDP to GraphQL in the future. The current main roadblock is still the Account package. We have done considerable amount of work to port it to PostgreSQL, but it is incomplete. We went a step back, and decided to finish writing all our end-to-end testing before we can safely continue this path, as the chances fo

[2017-01-24 02:50] martindale commented on #5479
Also noticed #5297, which appears to have a similar intent.

[2017-01-24 02:52] engelgabriel commented on #5718
@garg do you want to do a PR with your package so we can help you to make it work? Looks like an interesting features to add to the core project too :)

[2017-01-24 02:56] engelgabriel commented on #4535
Can you please give us the steps to replicate this? Or even a test environment?

[2017-01-24 03:04] engelgabriel commented on #5594
can you give us a link to test this and debug?

[2017-01-24 04:50] kahmali commented on #5494
We've merged the PR in Restivus mentioned above. It's been published in [v0.8.12](https://github.com/kahmali/meteor-restivus/blob/devel/CHANGELOG.md#v0812---2017-01-23). Just a heads up.

[2017-01-24 05:35] zorenleo opened #5737 "502 Bad Gateway"
Rocket.Chat Version: 0.50.0
Running Instances:
DB Replicaset OpLog:
Node Version:
After upgrading to 0.50.0 version got this error on the site
<img src="https://i.imgsafe.org/6e6ce50677.png">

[2017-01-24 05:44] neha1deshmukh opened #5738 "Need rocket chat feature list"
Hi,

i am new to rocket chat. i want know what are the features currently available, under planning/ discussion in rocket chat ??

[2017-01-24 05:54] engelgabriel commented on #5737
the server was restaring

[2017-01-24 05:54] #5737 closed

[2017-01-24 05:57] zorenleo commented on #5737
@engelgabriel should I restart our server too?

[2017-01-24 06:05] scjudd opened #5739 "Snap: missing .node_version.txt file"
So, I've installed Rocket.Chat via `snap install rocketchat-server`, and it appears the latest release (444) won't start up. If I revert to the previous release with `snap revert rocketchat-server`, everything comes up fine.

It looks like a /snap/rocketchat-server/444/.node_version.txt file is trying to be opened, but it doesn't exist.

This is kind of annoying, because it automatically updated t

[2017-01-24 06:08] geekgonecrazy commented on #5739
@scjudd sorry you experienced this.  Thanks for reporting.  Digging into this now to see if we can get this quickly resolved

[2017-01-24 06:09] engelgabriel commented on #3760
@MartinSchoeler maybe we should add this to the docs?

[2017-01-24 06:11] scjudd commented on #5737
@zorenleo This was how #5739 was manifested for me. If you installed the server via `snap install rocketchat-server`, do a `snap revert rocketchat-server` until #5739 is resolved.

[2017-01-24 06:14] geekgonecrazy commented on #5739
@scjudd Good news is i'm able to replicate.  Bad news is its an issue.  Trying to resolve as quick as possible to get a fix out for you guys.

@rocketchat/core https://github.com/RocketChat/Rocket.Chat/blob/develop/server/startup/serverRunning.coffee#L12

[2017-01-24 06:15] ParkerMc commented on #5739
Just thought I would add this we are getting the bug to.

[2017-01-24 06:17] scjudd commented on #5739
Thanks for the blazing fast response time! :100:

[2017-01-24 07:01] geekgonecrazy commented on #5739
@ParkerMc / @scjudd I apologize for the inconvenience.  I've pushed out a build to fix this straight to the stable channel.   Revision 446.

Also #5740 will close this issue for good.

Thanks for your patience and for reporting it :+1:

[2017-01-24 07:18] zorenleo commented on #5737
@scjudd Yeah I just did `snap revert rocketchat-server` command then I just started working properly from the previous version. Thank you, you help a lot.

[2017-01-24 09:10] axeloz commented on #5739
Rocket is back now thanks for the fix.
For those who wonder, just issue a
[code]

[2017-01-24 09:48] TheReal1604 opened #5741 "[Feature Request] Support Minio as File-Upload Backend"
more information coming soon...

https://www.minio.io/

[2017-01-24 09:53] zorenleo commented on #5739
@axeloz is it your rocketchat version still on 0.50.0 that you've fixed after restart command?

[2017-01-24 10:49] a5his commented on #5461
@engelgabriel Why not material design throughout the app?

[2017-01-24 11:23] rapcal commented on #5716
@rodrigok confirmed it was the Nginx config. Thanks!

[2017-01-24 11:24] garg commented on #5718
@engelgabriel That sounds like a very good idea! :) I'll do exactly that later today.

[2017-01-24 11:33] jGleitz commented on #5473
Neither rebooting the machine nor restarting the Rocket.Chat server application changes the issue for me.

[2017-01-24 11:39] jszaszvari commented on #5738
Features: https://rocket.chat/features

In Progress: https://github.com/RocketChat/Rocket.Chat/labels/stat%3A%20in%20progress

Feature Requests: https://github.com/RocketChat/Rocket.Chat/labels/type%3A%20new%20feature

You can sort through what you are looking for by using Labels in GitHub

https://github.com/RocketChat/Rocket.Chat/labels

Why dont you give it a go and see the features first hand?

[2017-01-24 11:45] jszaszvari commented on #5730
If any help with this one is needed please reach out, Anything related to Grafana, Prometheus, CollectD, StatsD, Telegraf, Zabbix / General Monitoring is a strong area for me.

Would be good to be able to pull some metrics from inside Rocket.Chat with a simple API call like users connected, uptime, etc...

Inspired to build a new dashboard now.

[2017-01-24 11:54] #5739 closed

[2017-01-24 12:01] scoopex commented on #3546
From my point of view rocket chat should:
- should delete a user from the local user database after a specifiable amount of time if the user is not part of the ldap directory anymore
- should reject logins using the local password fallback storage after a specifiable amount of time
- should delete inactive users from the local database after a specifiable amount of time

[2017-01-24 12:38] maxdwit commented on #5683
Is this in 0.50.0 ? In my case I would like to add users to channels/private rooms without being in the channel.

[2017-01-24 12:39] engelgabriel commented on #5732
@soundstorm our integrations have similar capabilities, with the option for you to add a JavaScript class that will be executed before hand. This was you can do pretty much anything you want.

Take a look at https://rocket.chat/docs/administrator-guides/integrations/#outgoing-webhook-scripting

@graywolf336 can we take a look and map the Slack slash commands to add to our compatibility effort?

[2017-01-24 12:40] graywolf336 commented on #5683
@maxdwit No it isn't, I will see about getting it into the next release though.

[2017-01-24 12:45] marceloschmidt commented on #5738
Thanks @jszaszvari

[2017-01-24 12:45] #5738 closed

[2017-01-24 12:48] graywolf336 commented on #5730
@jszaszvari @TheReal1604 @geekgonecrazy I just started a private group on the demo server so we can all collaberate and get something good going with maybe some documentation for Rocket.Chat docs. You guys provide the expertise and I can try and get features added to Rocket.Chat to enable more monitoring. :+1:

[2017-01-24 13:12] Sing-Li commented on #5730
@jszaszvari    Prometheus should be integrated soon, and you'll be able to scrape metrics feed into your workflow.   We can sure use your expertise  in defining and implementing meaningful metrics :+1:

[2017-01-24 13:19] maxdwit opened #5744 "admin can't join a guest-user to a channel via API, if he(admin) isn't in that channel"
Rocket.Chat Version:  0.50.0 ( Ubuntu/snapd)
Running Instances:  1
DB Replicaset OpLog: disabled
Node Version: v4.6.2

_admin with full rights can't join a user to a channel via API, if he (the admin) isn't in the channel._

Guest role: create-d  / view-I-room ( nothing else)
Steps:
1. login as admin via api/v1/login as admin. Token and userID is used for subsequent steps
2. create a user via API

[2017-01-24 13:30] engelgabriel commented on #4342
@paulcrick I believe this have been done by @marceloschmidt can you please let me know if that is working for you?

[2017-01-24 13:34] akachapati opened #5746 "DM does not appear in 0.50.0"
Rocket.Chat Version: 0.50.0

In the latest version of rocket.chat, direct messages does not appear at all. Anybody else having the same issue?

[2017-01-24 13:35] akachapati commented on #5662
Thanks @rodrigok

[2017-01-24 13:37] cgaspard commented on #5746
We are getting the messages, but we're not seeing an alert beside the name indicating unread messages.

[2017-01-24 13:45] marceloschmidt commented on #4342
What we did was to enable an option to set default avatar as the oauth logged in account: https://github.com/RocketChat/Rocket.Chat/pull/5338
There's no support for the custom oauth avatar though... should we try to use the `picture` as mentioned by @spinza or add that field in the custom oauth setting as mentioned by @paulcrick ?

Let's just bare in mind that a few oauth providers might not even

[2017-01-24 13:46] Syirrus commented on #5594
@engelgabriel https://clarapy.chat

[2017-01-24 13:48] cgaspard opened #5747 "0.50.0 Snap Upgrade Issues"
My Ubutnu Server / Snap installed rocket chat is experiencing some issues this morning after it auto upgraded last night to 0.50.0.

Here is the list of issues.

1.   After the upgrade, I had to restart the server to get rocket chat to respond again.   NGINX was responding, but it wasn't proxying to rocket chat.

2.  Direct messages and channel messages are not causing notification badges to appea

[2017-01-24 14:06] cgaspard commented on #5747
Here is something I noticed just now.

<img width="804" alt="screen shot 2017-01-24 at 8 05 43 am" src="https://cloud.githubusercontent.com/assets/759034/22250279/efe208cc-e20b-11e6-9485-8e2588eadaa5.png">

[2017-01-24 14:07] chrbo commented on #4535
@engelgabriel Thanks for your quick answer! I gathered some more informations which i will provide soon.

[2017-01-24 14:11] MartinSchoeler commented on #5744
duplicate of #5683

[2017-01-24 14:11] #5744 closed

[2017-01-24 14:15] cgaspard commented on #5747
Restarting the server brought the instances back down to one, but the other problems persist.

<img width="593" alt="screen shot 2017-01-24 at 8 14 32 am" src="https://cloud.githubusercontent.com/assets/759034/22250606/2909ae1a-e20d-11e6-845f-f13e24158514.png">

[2017-01-24 14:16] MartinSchoeler commented on #5747
@cgaspard could you create different issues for each item on the list? Thanks!

[2017-01-24 14:21] geekgonecrazy commented on #4835
@davidyyoo do you still have this issue?  Also just to check... The title indicates a integration isn't working.

Is it that as well, or is it only that you add one and remove it and the trigger word is still active?

[2017-01-24 14:31] cgaspard commented on #5747
@MartinSchoeler  sure thing.

[2017-01-24 14:35] cgaspard opened #5748 "SNAP Upgrade Requires Restart"
I'm splitting this out of the original message I posted here #5747

After the upgrade of my snap package to version 0.50.0 rocket chat was not responding.    NGINX  was responding, but it wasn't proxying to rocket chat.

Unfortunately I didn't do a lot of troubleshooting to see why it wasn't responding, I just rebooted the server and things came back up.

Rocket.Chat Version: 0.50.0
Running Instan

[2017-01-24 14:37] cgaspard opened #5749 "After 0.50.0 Upgrade, Missing Notification Badges"
Direct messages and channel messages are not causing notification badges to appear beside their name in the list of users and channel when new messages arrive.

Rocket.Chat Version: 0.50.0 (Snap Installed)
Running Instances:  1
DB Replicaset OpLog:
Node Version: Snap installed version

[2017-01-24 14:41] cgaspard opened #5750 "After 0.50.0 Upgrade, Notificaiton Badges Appear on Outbound Messages"
Outbound messages flash badge breifly, then disappears.

![notificationissue](https://cloud.githubusercontent.com/assets/759034/22251543/bbe0ec28-e210-11e6-9c6c-5840a71d85bc.gif)

Rocket.Chat Version: 0.50.0 (Snap installed)
Running Instances:  1
DB Replicaset OpLog:
Node Version: Snap installed version

[2017-01-24 14:43] Nemra1 commented on #5746
yup..unread msg NTF is dead since upadate but ithink v50 is not official to now

[2017-01-24 14:45] cgaspard opened #5751 "After 0.50.0 Upgrade, Desktop Notification Settings Ignored"
After snap install upgraded to 0.50.0, desktop notificaiton settings appear to be ignored.

Here is the channel settings I have set.

<img width="402" alt="screen shot 2017-01-24 at 8 43 07 am" src="https://cloud.githubusercontent.com/assets/759034/22251686/4c65ab94-e211-11e6-9535-8c7e2c4f8a8f.png">

After receiving messages in the channel, no desktop notifications were generated.

This appears to

[2017-01-24 14:46] cgaspard commented on #5747
Moved to #5748 #5749 #5750 #5751

[2017-01-24 14:46] #5747 closed

[2017-01-24 14:53] cgaspard commented on #5746
Looks like v50 is official.   At least enough to show up on the download page.

https://rocket.chat/download

[2017-01-24 15:00] geekgonecrazy opened #5752 "0.50.0 First user not admin"
Rocket.Chat Version: 0.50.0
Running Instances: 1
Deployment method: Snap

I don't think this is specific to snaps.  But first user as of 0.50.0 is not automatically set as admin

[2017-01-24 15:02] msasdk opened #5753 "First user to register not becoming admin"
As of version 0.50.0 (snap install), the first user that creates account does not become administrator.

Rocket.Chat Version: 0.50.0 (snap)
Running Instances:
DB Replicaset OpLog:
Node Version:

[2017-01-24 15:04] msasdk commented on #5753
Duplicate of #5752

[2017-01-24 15:04] #5753 closed

[2017-01-24 15:47] igorstajic opened #5754 "Issue with reading custom fields from database"
Rocket.Chat Version: 0.50.0
Running Instances: 1
DB Replicaset OpLog: disableld
Node Version: v4.6.2

The issue came up after updating from version 0.46.0-develop.
Basically we have added some extra data to the "rocketchat_room" collection, a "details" object containing some room specific information (project full name, description, link etc.). Now after merging with the most recent master branch

[2017-01-24 15:57] ParkerMc commented on #5739
Thank you for the quick fix!

[2017-01-24 16:06] Sing-Li commented on #5752
Verified for snaps :(

[2017-01-24 16:10] Sing-Li opened #5755 "Publish master branch snap to Candidate channel"
Quick stop to future disaster, as explored in our discussion on demo.

Basically, a "buggy" master release can impact (take down) all snap users running Stable channel  - due to automatic rollout.

We need to test before publishing to Stable, adding Candidate channel allow us some time.

Until we fully integrate automated testing into the lengthy (elapsed time) build pipeline.

[2017-01-24 16:18] geekgonecrazy commented on #5755
All new snap builds for releases now goto the candidate channel where we can review and move over to stable after passing QA. :+1:

[2017-01-24 16:18] #5755 closed

[2017-01-24 16:19] kajisaap commented on #5746
To keep the sanity in our chat window, we would usually _hide_ the 1-1 conversations provided by "hide button" such that it would pop up only when new activity happens in that DM. That visual sanity trick is futile now :(

**HELP! HELP!!**

[2017-01-24 16:25] geekgonecrazy commented on #5748
@cgaspard did this happen to be last night?  Did you happen to see the revision number?

Might be related to: #5739 0.50.0 was briefly in the stable channel last night in a broken state.  We fixed it pretty quickly, but if your instance caught it before I pulled the build.  A restart I believe would cause it to check for new builds.

If you have any other info please let me know.  I think this is

[2017-01-24 16:30] dmkjr commented on #5746
One thing I found as a work around (because we too are having this bug) is to click on "More Direct Messages" and then it will appear and notifications start functioning again.

[2017-01-24 16:31] dmkjr opened #5757 "0.50.0 Live Chat is dead"
Rocket.Chat Version: 0.50.0

LiveChat seems to have died when using the Wordpress Plugin.  Cannot get it to display on my site.  Worked in the last 0.49.4

[2017-01-24 16:32] chrbo commented on #4535
@engelgabriel The problem (in my environment) is that Rocket.Chat sends both Authorization Header and ClientId + ClientSecret in the body on the token request (https://github.com/RocketChat/Rocket.Chat/blob/master/packages/rocketchat-custom-oauth/custom_oauth_server.js#L81-L95).

This works:
[code]

And this works:
[code]

The original code with Authorization Header and ClientId + ClientSecret in

[2017-01-24 16:36] geekgonecrazy commented on #5752
Another verified via docker.  So for sure not deployment specific.

[2017-01-24 16:39] avantasia commented on #5752
Verified for snaps

[2017-01-24 16:39] cgaspard commented on #5748
It was last night, and I couldn't pull up the rocket chat UI to see the revision number.

My first reaction was to restart.  I'm sure I could have found the revision in the source, but I was in a hurry to get the server back up so I tried a restart first.   I'll look for it if it happens again.

[2017-01-24 16:42] cgaspard commented on #5748
@geekgonecrazy I have 3 other tickets that might be related to rocket chat being in a broken state in the stable channel.    Is there a way for me to verify that my version is the current stable, and not the broken state?

[2017-01-24 16:48] Sing-Li commented on #5730
Prometheus should be functional.

Please start rolling the new metrics implementation PRs and perhaps a new Grafana dashboard project?

[2017-01-24 16:51] rodrigok commented on #5752
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/6ca9b47f68e18db76180da5e2d63b1d9b7dee45f

[2017-01-24 16:51] #5752 closed

[2017-01-24 16:56] geekgonecrazy commented on #5748
@cgaspard running: `sudo snap refresh rocketchat-server` is best way to do a check for new versions of the snap.  0.50.0 is the latest version though.  Once those issues are fixed and we cut a new release we will fast track testing / promoting the release to stable.

Just keep an eye on them to be closed, easiest way to see we've fixed them.

[2017-01-24 17:00] geekgonecrazy commented on #5739
@ParkerMc No problem :)  We've implemented some safe guards to hopefully prevent a bad release from coming out like that again.

Thanks for your patience!

[2017-01-24 17:06] rodrigok commented on #5749
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/6ca9b47f68e18db76180da5e2d63b1d9b7dee45f

[2017-01-24 17:07] #5749 closed

[2017-01-24 17:08] rodrigok commented on #5746
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/6ca9b47f68e18db76180da5e2d63b1d9b7dee45f

[2017-01-24 17:08] #5746 closed

[2017-01-24 17:08] rodrigok commented on #5751
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/6ca9b47f68e18db76180da5e2d63b1d9b7dee45f

[2017-01-24 17:08] #5751 closed

[2017-01-24 17:09] rodrigok commented on #5750
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/6ca9b47f68e18db76180da5e2d63b1d9b7dee45f

[2017-01-24 17:09] #5750 closed

[2017-01-24 17:09] engelgabriel commented on #4342
@marceloschmidt try to use the picture as mentioned by @spinza

[2017-01-24 17:17] kajisaap commented on #5746
waiting for the snap to pick up the new version!!

@geekgonecrazy when would new version get picked up by `snapd` system?

[2017-01-24 17:28] engelgabriel commented on #5757
Please try version 0.50.1 and reopen if the problem was not fixed by https://github.com/RocketChat/Rocket.Chat/commit/6ca9b47f68e18db76180da5e2d63b1d9b7dee45f

[2017-01-24 17:28] #5757 closed

[2017-01-24 17:36] engelgabriel commented on #5748
@cgaspard and @geekgonecrazy version `0.50.1` have been shipped, with the https://github.com/RocketChat/Rocket.Chat/issues/5739 included.

[2017-01-24 17:45] rodrigok commented on #5754
Can you try version 0.50.1?

[2017-01-24 17:58] dmkjr commented on #5748
How long does it take Snap to update?  Says no updates are available at the moment when running snap refresh rocketchat-server

[2017-01-24 18:00] geekgonecrazy commented on #5748
@dmkjr The snap is still building and not yet in the stable channel.  Once it lands usually it will auto update in around ~4-6 hours after released.  Of course manually checking via: `sudo snap refresh rocketchat-server` checks sooner.

I'll drop a note here once it has landed.  Thanks :smile:

[2017-01-24 18:05] dmkjr commented on #5746
@kajisaap I do am seeking that answer.  I have tried multiple times to start it manually without such luck.

[2017-01-24 18:08] geekgonecrazy commented on #5746
@kajisaap / @dmkjr its building now.

@dmkjr i'll let you know as soon as its there as mentioned in #5748 I promise ;)

[2017-01-24 18:11] #5748 closed

[2017-01-24 18:31] igorstajic commented on #5754
@rodrigok Still the same.

[2017-01-24 18:35] MartinSchoeler opened #5760 "You can turn a direct message in a private channel"
![screenshot from 2017-01-24 16-32-09](https://cloud.githubusercontent.com/assets/20868078/22261070/af71a15c-e252-11e6-8646-05b254230197.png)
if you actually click the private button this happens:
![screenshot from 2017-01-24 16-34-32](https://cloud.githubusercontent.com/assets/20868078/22261154/033e2012-e253-11e6-8f9a-eb13a8ba16bd.png)
and you cant get that room back

[2017-01-24 18:45] #5760 closed

[2017-01-24 18:49] geekgonecrazy commented on #5746
@kajisaap / @dmkjr revision 451 / Release 0.50.1 is now in the stable channel.   As always will auto update, but `sudo snap refresh rocketchat-server` will do it quicker.

[2017-01-24 18:49] geekgonecrazy commented on #5748
@cgaspard  / @dmkjr revision 451 / Release 0.50.1 is now in the stable channel.   As always will auto update, but `sudo snap refresh rocketchat-server` will do it quicker.

[2017-01-24 18:54] Abraka commented on #5726
Whats about "low client cpus usage mode"? Creating settings in server administration...something like "Disabling all animation, gifs, zoutube videos etc" for slow or old clients PC?

[2017-01-24 18:58] marceloschmidt opened #5761 "LiveChat Open Days of the Week bug"
The Open Days of the Week are randomly displayed:

![image](https://cloud.githubusercontent.com/assets/1986378/22262013/4fca4124-e256-11e6-83a4-ef4a9e669441.png)

[2017-01-24 19:02] toupeira commented on #5726
@Abraka since this depends on the client's CPU I think the setting should be per-client as well, and you can already disable most of these individually in the account settings.

[2017-01-24 19:04] mehdiyahyaoui commented on #4938
Hello

I'm Running 0.50.0
Snap
Ubuntu 64

I created the webhook with indication from Doc

But I have this error message in the Log:

` Exception` in callback of async function: TypeError: Cannot read property 'statusCode' of null   at /snap/rocketchat-server/446/programs/server/packages/rocketchat_integrations.js:1316:30   at runWithEnvironment (packages/meteor.js:1176:24) `

Trigger Work is "gugg

[2017-01-24 19:07] mehdiyahyaoui opened #5762 "Guggy Integration cannot work"
Hello

**I'm Running 0.50.0
Snap
Ubuntu 64**

I created the web-hook with indication from Doc

But I have this error message in the Log:

`Exception in callback of async function: TypeError: Cannot read property 'statusCode' of null at /snap/rocketchat-server/446/programs/server/packages/rocketchat_integrations.js:1316:30 at runWithEnvironment (packages/meteor.js:1176:24)`

I set Trigger Word as "

[2017-01-24 19:31] Abraka opened #5763 "MOD - "IRC style" go easy on client resources"
Rocket.Chat Version: 49.3

Lets call it IRC mod, as irc text chat cant eat up yours client resources.
Suggestion: create setting in server administration for forcing entire server and-or specific channels to get drop resource hungry animations, gifs, videos etc. Allow the channels became simple text chat with avatars(localy load avatar) without any graphic-resource hungry crazyness.

[2017-01-24 19:37] engelgabriel commented on #3067
Integration script have been updated

[2017-01-24 19:37] #3067 closed

[2017-01-24 19:49] jprone opened #5764 "[Feature Request] Have a online users list for end users"
My end users are wanting a similar view that Administrators have under "Administration > Users" - are there plans to maybe implement something like that?  Or am I missing a "Permissions" checkbox that I could assign to a certain type of user that also isn't a sweeping admin?

[2017-01-24 19:58] Mte90 commented on #5293
I am not sure of this but also us on mobile and desktop lost the notifications of new messages.

[2017-01-24 20:05] Mte90 commented on #4929
Often there are no notifications on desktop and mobile with that gateway but in the log there are no errors, I am using also the latest version.

[2017-01-24 20:11] dauletico opened #5765 "AWS installation - no admin user"
Today I installed the RocketChat following AWS installation.
App is working, I registered a new user, but do not see any Administration tab in the navigation sidebar.
In mongo db in users collection I see two records: 1) rocket.cat with "roles": ["bot", "admin"] and 2) my user with "roles": [ "user" ]. Tried to push admin role in "roles", but Administration tab didn't appear.
What should be done i

[2017-01-24 20:20] engelgabriel commented on #5765
You need to install 0.50.1, this was fixed.

[2017-01-24 20:20] #5765 closed

[2017-01-24 20:30] #2507 closed

[2017-01-24 20:31] engelgabriel commented on #1353
Dup of #726

[2017-01-24 20:31] #1353 closed

[2017-01-24 20:33] engelgabriel commented on #5726
I agree, we should have a per user setting for that, disable all animations. We already have the function for that, used on our testing mode.

[2017-01-24 20:34] #961 closed

[2017-01-24 20:35] #1006 closed

[2017-01-24 20:36] #2069 closed

[2017-01-24 20:37] engelgabriel commented on #1977
We have created a whole class handler for that.

[2017-01-24 20:37] #1977 closed

[2017-01-24 20:38] #2993 closed

[2017-01-24 20:39] engelgabriel commented on #3492
This have been fixed.

[2017-01-24 20:39] #3492 closed

[2017-01-24 20:41] engelgabriel commented on #4098
This have been fixed on later versions.

[2017-01-24 20:41] #4098 closed

[2017-01-24 20:42] graywolf336 commented on #4619
This will be closed when #5625 is merged

[2017-01-24 20:48] #4566 closed

[2017-01-24 20:49] #4790 closed

[2017-01-24 20:51] #5350 closed

[2017-01-24 20:52] engelgabriel commented on #5512
Please reopen the issue with more info if the problem persists

[2017-01-24 20:52] #5512 closed

[2017-01-24 20:52] engelgabriel commented on #5517
thanks for the update @ktt9117

[2017-01-24 20:52] #5517 closed

[2017-01-24 21:04] engelgabriel commented on #4515
Has this been fixed?

[2017-01-24 21:06] engelgabriel commented on #726
Refs https://github.com/RocketChat/Rocket.Chat/pull/5625

[2017-01-24 21:08] engelgabriel commented on #3942
Fixed, you can now just add on the admin panel.

[2017-01-24 21:08] #3942 closed

[2017-01-24 21:08] #4751 closed

[2017-01-24 21:19] engelgabriel commented on #726
This info should allow us to generate https://github.com/RocketChat/Rocket.Chat/issues/3824

[2017-01-24 21:19] engelgabriel commented on #3824
The info should come from https://github.com/RocketChat/Rocket.Chat/issues/726

[2017-01-24 21:32] bighair commented on #4515
Not for me, I'm on v0.49.3 now and still don't get push notifications in my Android app.

I've just tried enabling debug and sending some test messages and I don't get the ECONNREFUSED error anymore. In fact there are no error messages in my log after sending the push test message. As far as my install seems to think, it's been sent successfully. I just don't get any notification on my phone.

[2017-01-24 22:29] chrbo commented on #5521
@graywolf336 Does this really work? I successfully authenticated on the login endpoint of the api (/api/v1/login) with a local RocketChat users username and password (https://rocket.chat/docs/developer-guides/rest-api/authentication/login).

But i cant get authenticated with a valid access token issued by a external identity server. Form based authentication against the identity server does work.

[2017-01-24 22:55] jimscarver commented on #4627
I get the same result with sandstorm slack import with RocketChat V0.49.3: "The importer was not defined correctly, it is missing the Import class. [error-importer-not-defined]".

What can I do?

[2017-01-24 23:48] jy2008 opened #5768 "Can RC chat serve as hubot?"
Rocket.Chat Version: 0.49
Running Instances: Ubuntu 14
DB Replicaset OpLog:
Node Version:4.5

I installed RC that comes with a internal bot rocket.chat Cat. Can i use that as my RC hubot?

[2017-01-25 03:24] mattlin commented on #4832
Your Rocket.Chat version:0.50.1
The issue is not fixed yet.
Hope it will be fixed soon :P

[2017-01-25 07:40] TheReal1604 commented on #5010
@laggedHero If i can give you some additional information - please write a message here, or on the Demo! (@TheReal) This is an absolute usability killer for us.

[2017-01-25 09:00] #4897 closed

[2017-01-25 09:11] dauletico opened #5770 "How can I remove sidebar completely"
I use rocketchat for iframe integration and don't want to show sidebar in the iframe.
How it could be done?
Tried to use Administration -> Layout -> Custom script to accomplish this with removing aside tag, but some empty container is still present in a left side.

[2017-01-25 09:31] cit opened #5771 "Where should custom hubot scripts go in a snap installation?"
Hey,

I installed rocket.chat 0.50.1 via snap on Ubuntu 16.04.1 TLS and enabled hubot. It is awesome! Now we would like to add custom hubot scripts to rocket.chat. However, in snap the directory `/snap/` is mounted as readonly, so I can't just put new scripts in the `hubot-scripts` folder. I also tried to put scripts into `/var/snap/rocketchat-server/common` but this gave me of course the followin

[2017-01-25 09:58] ruriky commented on #5741
I have had a small test setup running with minio as File Upload storage for a while.

The setup uses newest available docker images. Minio's bucket was created manually.
In RocketChat's File Upload menu:
- Storage Type: AmazonS3
- Bucketname: name of my bucket
- Key and ID are what ever minio has generated
- BucketUrl https://internal_domain.com/bucketname

The setup has been running only for my t

[2017-01-25 10:02] engelgabriel commented on #2367
https://rocket.chat/docs/administrator-guides/integrations/gitlab

[2017-01-25 10:02] #2367 closed

[2017-01-25 10:02] TheReal1604 commented on #5741
@ruriky oh nice! Thanks for that sample config.. this is now working.

My mistake was that i formed my Bucketurl like i access it via web:

https://internal_domain.com/minio/bucketname - the upload is not working then. If i delete "minio" out of the bucketurl it works like a charm. Awesome. :+1:

[2017-01-25 10:06] jothoma1 commented on #5086
Hi, same for us, will be really helpful !!

[2017-01-25 10:32] engelgabriel opened #5772 "Botpress module"
I am pretty impressed by www.botpress.io

https://docs.botpress.io/creating-a-module.html

[2017-01-25 10:34] engelgabriel commented on #5770
You can use the embedded layout.

@MartinSchoeler can you point him to the documentation? I could not find it.

@sampaiodiego did we added it to the docs yet?

[2017-01-25 10:41] sureshdba2003 opened #5773 "Update from to 0.28 to 0.51"
Rocket.Chat Version: 0.28.0
Running Instances: 1
DB Replicaset OpLog:
DB_Migration : 48
Node Version: v0.10.10

Deployed via meteor (without Docker)

we need to update Rocketchat from 0.28 to 0.51.0.

Let us know,

How to restore existing private room message?

[2017-01-25 10:49] engelgabriel commented on #5773
Make a back first, and just install the new version, the DB should be migrated automatically.

Open an issue if you have a problem.

[2017-01-25 10:49] #5773 closed

[2017-01-25 11:01] LiorHaim commented on #5768
Same question. Seems like the Internal-Hubot usage isn't explained well...Or just to me.
Also the doc about it is empty:
https://rocket.chat/docs/administrator-guides/internal-hubot/

[2017-01-25 11:45] ghost opened #5774 "iphone app needs reinstallation after server upgrade"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.2

Hello Devs.

I have complains from users regarding the iphone app. Everytime I upgrade the server they need to reinstall the app. Otherwise they are not able to login anymore. They only see the 3 little dots indicating something is happen but it isn't.

Is that a know issue?

thanks and cheers

[2017-01-25 12:03] graywolf336 commented on #5741
@ruriky and @TheReal1604 Do you guys mind writing some documentation for this?

[2017-01-25 12:19] graywolf336 commented on #5521
The access token must be provided by Rocket.Chat, as Rocket.Chat must know about the access token otherwise it isn't valid.

[2017-01-25 12:25] soundstorm opened #5775 "Immediately "mark as read" toggle"
Sometimes you don't want to check all messages before and scroll up all the way or hit "mark as read". Maybe there could be a toggle (my account) to mark a channel as read as soon as you open it and optionally a option to hide that toggle (if used for office and all messages should be read first).

[2017-01-25 12:43] SeMeKh opened #5776 "Incorrect resource path"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.7.1

When opening RocketChat on its Android app, and connecting to the demo server, it tries to load `http://httpsdemorocketchat.meteor.local/sounds/notify.ogg` which results in a 404, and the app keeps retrying.
Same behavior is happening on our own servers.

[2017-01-25 13:03] chrbo commented on #5521
@graywolf336 So it does not work with a configured custom oauth provider?

[2017-01-25 14:04] jooola commented on #5104
Still not in 50.1....

Fix this please !

[2017-01-25 15:54] Nemra1 opened #5777 "Service Temporarily Unavailable after update 5.0"
Rocket.Chat Version: 5.0.1
Running Instances: 1
DB Replicaset OpLog: Disable
Node Version: 4.6.2
after update to 5.1 from 4.9.3
server is work for 2 hour only and givme
Service Temporarily Unavailable
![2017-01-25_174215](https://cloud.githubusercontent.com/assets/22897987/22297650/987be56e-e326-11e6-9f53-78a48c68415b.png)
 Httpd.conf
`<VirtualHost cdn.example.com:443>
NameVirtualHost 192.168.1.4:

[2017-01-25 16:16] jm4rc05 opened #5778 "Push notifications configuration"
This more a support request!

Rocket.Chat Version: 0.51.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.2 - x64

I'm trying to get push notifications working. Everything in the configuration panel seems fine, except for the "Gateway" attribute.

- What is this?
- Can I have my own https://gateway.totalworlddomination.net service running?
- Where can I configure this service?

[2017-01-25 16:27] Wouter0100 commented on #4318
I've created an Rocket.Chat package for "Token Authentication". You'll be able to auth directly to the Realtime API with a hash (username + token). This hash should be created on a backend service, since the token is a secret. See [here](https://github.com/Wouter0100/Rocket.Chat/commits/token-auth). I'm willing to open a PR to merge this, but I'm not sure if it's a proper way of authentication.

C

[2017-01-25 16:31] chrbo commented on #4318
@Wouter0100 I will have a look at this - nice feature! I am currently also searching how to implement an additional authentication method for the api. Does anybody give me a hint?

[2017-01-25 17:03] MastricX commented on #5777
I'd found that the .node_version.txt file contained v0.10.40, while I have v4.5.0 installed.

Altering the .node_version.txt file to v4.5.0 allowed me to start Rocket.Chat, but I'm unsure if this is a correct fix.

[2017-01-25 17:26] jm4rc05 commented on #4318
@chrbo, I think this (https://dev.twitter.com/oauth/reference/get/oauth/authorize) is a good model. Google use this model too.

[2017-01-25 17:37] chrbo commented on #4318
@jm4rc05 Hi - yes it will be an authentication based on a oauth access token. We currently evaluate RocketChat for an project we are using an identity server using OpenID Connect / OAuth2. Everything is working fine - RocketChat is configured to use the identity server with oauth. But we cannot login a user programatically with an oauth token. Currently we have to use the form based flow.

My ques

[2017-01-25 17:46] elespike opened #5781 "Internal hubot default user name should be lower-case"
Note: installed with snap
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.1

https://github.com/RocketChat/Rocket.Chat/pull/5780

[2017-01-25 18:10] Nemra1 commented on #5777
@MastricX the problem not in start server ...the problem about after server start / Rc port disconnected
from himself after 2hr or 33..this is never happen before

[2017-01-25 18:12] drickerusa opened #5782 "Stream error in exception log"
Rocket.Chat Version: 0.49.3
Running Instances: 8
DB Replicaset OpLog: Yes
Nginx: Yes

I have the exception log setup (level 2) in the admin tool to push all exception information over to a channel called log_exceptions. Every time I start an RC instance I get the following error for every instance I start with the difference being the ip address for separate servers and the port numbers.

Network

[2017-01-25 18:29] elespike opened #5783 "The new search box overlaps with the 'online' status option"
- This can be seen on demo.rocket.chat
- Screenshots attached
![no_online_status](https://cloud.githubusercontent.com/assets/14970655/22303650/391974d4-e302-11e6-8b38-e880a3d52445.png)
![no_online_status_2](https://cloud.githubusercontent.com/assets/14970655/22303649/39151e84-e302-11e6-8509-612d48b05063.png)

[2017-01-25 18:30] TheReal1604 commented on #5774
Got this also sometimes, mostly on demo when a new develop build is tested on demo. Not occurred on my systems yet.

[2017-01-25 19:01] shellster commented on #4515
I believe the issue has been figured out based on my comments in this thread: https://github.com/RocketChat/Rocket.Chat/issues/5122

It appears that Rocketchat is not rechecking your GCM values after you register a device, so if it ever changes (like when you install a new ROM), you will cease getting notifications.  I have to validated this, but if this is indeed the problem, you probably can sol

[2017-01-25 19:29] #5677 closed

[2017-01-25 19:33] Nemra1 commented on #5783
quick fix
[code]

[2017-01-25 20:11] Nemra1 opened #5785 "userlist not Not affected by user status 50.1"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog:
Node Version:4.7.2
 when users change status (offline ,online, away ,,etc )
User list Not affected like this
![2017-01-25_182846](https://cloud.githubusercontent.com/assets/22897987/22307290/12b55e90-e34b-11e6-92b4-846855b9d3ed.png)

[2017-01-25 21:01] #2278 closed

[2017-01-25 21:09] TheReal1604 commented on #5741
@graywolf336 @ruriky https://github.com/RocketChat/Rocket.Chat.Docs/pull/196

[2017-01-25 21:50] engelgabriel commented on #5781
@marceloschmidt can you create a migration to fix `InternalHubot_Username` on old servers?

[2017-01-25 21:54] engelgabriel commented on #5776
Is this the same or similar problem fixed on https://github.com/RocketChat/Rocket.Chat/pull/5706 ?

[2017-01-25 22:02] engelgabriel commented on #5777
Rocket.Chat does not handle the SSL, so it looks like the problem is elsewhere. There is not enough info here to help.

[2017-01-25 22:02] #5777 closed

[2017-01-25 22:03] engelgabriel commented on #5783
:)

[2017-01-25 22:03] engelgabriel commented on #5785
This is a known problem reported in other issues. We are working to fix it.

[2017-01-25 22:03] #5785 closed

[2017-01-25 22:05] engelgabriel commented on #5778
You only MUST use the gateway, if you want your users to use our mobile apps from our account on Google and Apple app stores.

If you are building your own mobile apps, with your own certificates, you have to remove the gateway config and put your own certificates used to compile your own apps.

[2017-01-25 22:05] #5778 closed

[2017-01-25 22:07] engelgabriel commented on #5775
Interesting idea. In the mean time, you can use the pressing ESC shortcut when you enter the room.

[2017-01-25 22:08] engelgabriel commented on #5771
Good point, we need to also look at this on Docker. @graywolf336 @rodrigok any ideas?

[2017-01-25 22:09] engelgabriel commented on #5771
@geekgonecrazy any idea on how to do on snaps?

[2017-01-25 23:56] Romich777 commented on #5438
0.50.1
I made this mistake. How now to repair corrupted direct message channel. Maybe some API request to /api/v1/channels.setType ?

[2017-01-25 23:57] Nemra1 opened #5787 "Server stop when send push v0.50.1"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog:
Node Version:4.7.2
this happen now when trying send Push NTF
![2017-01-26_015309](https://cloud.githubusercontent.com/assets/22897987/22314535/bdb0d68e-e36a-11e6-8854-4dfee2995272.png)
Log
[34mI20170125-18:48:23.861(-5) Push: send message "@System" via query { userId: 'xudzgt2G8MSbvu3RX' }
[34mI20170125-18:48:23.862(-5) Push:

[2017-01-26 00:14] engelgabriel commented on #5787
Can you provide the corret version number? 0.5.1 does not exists. Is it 0.50.1 or 0.51.0?

[2017-01-26 00:15] Nemra1 commented on #5787
yup ...im sorry its 050.1

[2017-01-26 02:53] rapcal commented on #5717
@sampaiodiego running 0.50.1 installed via snap on Ubuntu 16.04
Seems the email address is not persisting after save. Refresh the page and the email is gone.

[2017-01-26 03:18] garg commented on #5718
@engelgabriel I have made a PR at #5788.

<img width="551" alt="screen shot 2017-01-25 at 10 16 11 pm" src="https://cloud.githubusercontent.com/assets/16932/22318886/2d7da6fa-e34c-11e6-834e-09f08aeae6c3.png">

[2017-01-26 03:48] teamsoo opened #5789 "Memory leak when uploading file in Chrome"
Rocket.Chat Version: 0.50.1
Deploy Method: Docker
Running Instances: 1
Node Version: v4.7.1
Linux Chrome Version: 55.0.2883.87 (64-bit)
Linux Memory: 24GB

According to Chrome's Task Manager, RocketChat page shows high memory consumption when uploading files (much higher than the actual file size).

Page will crash when uploading file bigger than 4GB

Is this mean that RocketChat will store the wh

[2017-01-26 04:04] zorenleo opened #5790 "Toolbar search bug when clicking the result"
Rocket.Chat Version: 0.51.0
Running Instances:
DB Replicaset OpLog:
Node Version:
Toolbar search bug when clicking the result nothings happen except hitting command enter on the keyboard.
<img src="https://i.imgsafe.org/9744183c39.gif">

[2017-01-26 04:04] geekgonecrazy commented on #5771
@engelgabriel

For snaps anywhere relative to the code execution is read only.  So if we can't change the path in settings or via environment variable then they couldnt write new files.

These changes would be helpful for Docker as well.

[2017-01-26 05:52] janakamarasena commented on #383
@fantashi  @yuchaozh were you able to solve the problem @Sing-Li  am running into the same problem this is a native android app running on android 6.0.1 any help is much appreciated.

Thanks

[2017-01-26 06:09] mrplow opened #5791 "SlackBridge images aren't coming across"
Rocket.Chat Version: Official docker image 0.50.1
Running Instances: 1
DB Replicaset OpLog: mongodb://mongo:27017/local
Node Version: whatever is included in official docker image

SlackBridge images aren't coming across again.

Messages to/from rc/slack are working as expected.

No error in log when sending image from RC, log from sending image from slack to RC below.

`[34mI20170126-05:54:31.024

[2017-01-26 06:36] SeMeKh commented on #5776
I can confirm that `http://httpsdemorocketchat.meteor.local/sounds/door_chime.mp3` is another missing resource indeed.

[2017-01-26 08:59] FibreFoX commented on #3097
Just to update this thread a bit: the [rocketchat-notifier-plugin from JenkinsCI-repository](https://github.com/jenkinsci/rocketchatnotifier-plugin) works with current Rocket.Chat-versions since 0.4.5 and includes individual settings per job, even is callable inside custom Jenkinsfile pipeline scripts.

Maybe as a lot of other "Integrations" are there, this might push some google rankings when fin

[2017-01-26 10:47] Rohlik commented on #637
I found this integration Rocket.chat -> Jira - https://hub.docker.com/r/gustavkarlsson/rocketchat-jira-trigger/ based on Docker image. It is use Outgoing webhook.

Or you can try this integration Jira -> Rocket.chat - https://blog.zemna.net/web/how-to-integrate-jira-and-bitbucket-application-with-rocket-chat/ based on Incoming webhook.

[2017-01-26 11:36] graywolf336 commented on #3097
@FibreFoX Mind adding that to our documentation? That way we can redirect users to that when they ask for Jenkins.

Closing this in favor of: https://plugins.jenkins.io/rocketchatnotifier

[2017-01-26 11:36] #3097 closed

[2017-01-26 11:40] graywolf336 commented on #5521
If Rocket.Chat doesn't know about the authToken, then I would guess no

[2017-01-26 11:54] marceloschmidt opened #5793 "/join command gives you wrong message when channel exists"
Rocket.Chat Version: Demo Server

![image](https://cloud.githubusercontent.com/assets/1986378/22330384/202f995c-e3ad-11e6-9d9b-46319397e948.png)

![image](https://cloud.githubusercontent.com/assets/1986378/22330399/32d5903e-e3ad-11e6-9216-717560531951.png)

/join command should act as /open when channel exists.

[2017-01-26 11:55] chrbo commented on #4535
Can anybody give me a Feedback?

The solution i can provide is a configuration option if the authorization params (authorization header or client_id + client_secret param) will send in header or body.

OK?

[2017-01-26 12:55] pedro-nonfree opened #5795 "[Feature Request] match, filter or search for active channels (public, private, direct messages)"
In my situation, I have a lot of channels (public, private, direct messages), sometimes is difficult to find them or switch to them.

- I would like to have a general filter or search at the top of the channel list that when you start typing it only shows channels that are matched.

- When you scroll down in channel list, the seach/filter/match is still visible and available to use

- When you hav

[2017-01-26 14:20] Alucard616 commented on #3369
Same Problem in Version 0.49.3

[2017-01-26 14:38] MartinSchoeler commented on #5795
Hey @pedro-nonfree , have you tried to use the ctrl+p command? It opens a user/channel search bar.
https://rocket.chat/docs/user-guides/keyboard-shortcuts

[2017-01-26 14:44] IQ2022 commented on #5562
this is still an issue, now user count doesn't update at all - I have to refresh page to get the actual total users logged in

Running 50.1

[2017-01-26 14:46] pedro-nonfree commented on #5795
@MartinSchoeler That's great, and enough for me.

But you know shortcuts are somehow advanced interaction with computer. Other people are also complaining about "too much channels". I think a more user-friendly option should be available like the one I presented. Ctrl+p looks like an extra feature for power users.

For example, I don't know if there is an option to search channels for people using

[2017-01-26 15:09] engelgabriel commented on #5787
Your logs shows no error, are you sure you are looking in the right place? Can you turn on the debug for the module?

[2017-01-26 15:18] MartinSchoeler commented on #5795
@pedro-nonfree actually we are implementing something like you said, take a look in our demo server https://demo.rocket.chat/

[2017-01-26 15:25] pedro-nonfree commented on #5795
@MartinSchoeler That's great! Just a detail. It should distinguish between the channels I already joined, and the other channels.

[2017-01-26 15:28] Nemra1 commented on #5787
my server restart after 15 mn now only after update  /so * im trying  to back to v0.4.4 again and check if this problem happen again or not ( evry thing is good after reback to older version with older DB BKUP )
NOW THIS SCREEN FROM CONSOLE FO V0.50.1
![2017-01-26_172319](https://cloud.githubusercontent.com/assets/22897987/22336840/3956d35c-e3ec-11e6-9fa9-b1eb5956ee6c.png)

[2017-01-26 15:39] pedro-nonfree opened #5796 "[Feature Request] by default and user friendly way to follow up unread messages / channels"
When you are subscribed to a lot of channels is difficult to follow the unread messages (scroll up, scroll down, click).

Is it possible to have a small list at the beginning of channel list with unread channels? or order by unread, and if not alphabetical? Would be nice to have all unread channels "in the same place": at the top.

[2017-01-26 15:46] rebeld commented on #5796
Doesn't My Account -> Preferences -> Unread Rooms Mode = True do that?

[2017-01-26 16:04] mtcoliveira opened #5797 "Cannot send chat messages via email"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog:
Node Version: V4.6.2

i`m trying to use the mail message function and i get this error:

34mI20170126-13:19:58.432(-2) Sending messages to e-mails: [ 'theemailiinput@gmail.com' ]
[34mI20170126-13:19:58.437(-2) Exception while invoking method 'mailMessages' TypeError: Cannot read property 'defineLocale' of undefined at eval (<an

[2017-01-26 16:11] pedro-nonfree commented on #5796
Great! Why is not enabled by default this feature?

[2017-01-26 16:51] dauletico commented on #5770
I don't want to bother you, but I have tried many thing with no luck. Could you tell me more about embedded layout?

[2017-01-26 16:56] #5770 closed

[2017-01-26 17:34] biomassives commented on #5438
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (106/100 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 17:41] engelgabriel commented on #5787
What do you have on your custom translations, seem to be a invalid formate, you must fix it.

[2017-01-26 17:42] biomassives commented on #5787
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (113/100 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 17:42] engelgabriel commented on #5796
Because some people get confused with the room links jumping around :)

[2017-01-26 17:43] biomassives commented on #5796
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (115/100 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-01-26 17:45] pedro-nonfree commented on #5796
And what about something like a bell icon that when you click show the notifications?

[2017-01-26 17:48] Nemra1 commented on #5787
okey im remove it and ihave this now
WebSocket connection to 'wss://cdn.nemra-1.com/sockjs/478/ywev5acy/websocket' failed: Error during WebSocket handshake: Unexpected response code: 200
WebSocket connection to 'wss://cdn.nemra-1.com/sockjs/759/p2cr8ool/websocket' failed: Error during WebSocket handshake: Unexpected response code: 200
3e0464d….js?meteor_js_resource=true:216 CachedCollection privat

[2017-01-26 18:55] kginstructor commented on #5130
This is still an issue in 0.50.1. I forked to go in and see if I could save you some time and fix it, and it looks like, code-wise, it's fixed on the develop branch; although I wasn't able to test yet. What is the status of this at the moment?

[2017-01-26 19:37] Huljo commented on #4832
Hi @mattlin, I've created an issue on Jalik-ufs repository and I'm waiting for their reply.
Take a look at my last comment in here : [#271567995](https://github.com/jalik/jalik-ufs/issues/104#issuecomment-271567995)  to get more details.

[2017-01-26 20:09] #5790 closed

[2017-01-27 02:10] timkinnane opened #5806 "SETTINGS_HIDDEN, SETTINGS_BLOCKED env settings has bugs, needs docs"
I was intrigued by a mention of these environment settings in demo.rocket.chat, but they don't seem to do what they're intended for. The only [check of the environment setting](https://github.com/RocketChat/Rocket.Chat/blob/39b20d13dc3bcc6f7a0caaa9192bec69e6d4b7cf/packages/rocketchat-lib/server/functions/settings.coffee#L1-L7) happens when settings are added. It looks like it's intended to overrid

[2017-01-27 02:29] timkinnane commented on #5683
@graywolf336 I was about to do this now, if you haven't yet? I'm going with your suggestion of adding a new permission, but for semantic accuracy I was thinking to change the original permission to be `add-user-to-own-room` and the new one `add-user-to-any-room`?

[2017-01-27 02:43] dmkjr commented on #5774
We are having this same issue on all iPhones after each release.  The phone will update (download files) but then that's it.  Must remove application from phone and add back to allow it to function.

[2017-01-27 07:02] kentonv commented on #1352
@engelgabriel Same changes as were made by @jparyani to the mobile apps, basically. Need to accept a webkey as the server address, and then use the key portion as the `Authorization` header.

[2017-01-27 09:58] graywolf336 commented on #5683
@timkinnane go for it. That sounds good to me, be sure to create a migration to rename the existing one if it's required. 👍

[2017-01-27 11:23] msklywenn opened #5807 "Deleted image while trying to delete description"
If you add a message to an image by mistake while trying to edit a different message, it's impossible to remove it without removing the image.

Steps to reproduce :
1. Upload image
2. Press UP
3. Type something then enter to edit description
4. Press UP again (to fix)
5. Remove message associated with image
6. RocketChat prompts to warn user that message will be deleted

Expected:
RocketChat shoul

[2017-01-27 11:43] chellem commented on #1034
Is there any update on this new feature?  It would be very interesting to add two factor authentication.

[2017-01-27 12:06] engelgabriel commented on #5795
@pedro-nonfree we are adding this distinction.

[2017-01-27 12:06] #5795 closed

[2017-01-27 12:07] lepetitjan opened #5808 "Direct Message Locked"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.1

Hi there,
I was talking to a colleague and when I clicked on the INFO icon on the top right, I saw a toggle "Private". I thought a DM already was private, but it could not hurt to click it right?

Well I was wrong...when I toggled, I got thrown out of the DM as well as my collegue and we are not ab

[2017-01-27 12:13] lepetitjan commented on #5808
Loggin out and back in seems to help. But we lost all of our previous messages.

[2017-01-27 12:13] engelgabriel commented on #5787
Are you trying to connect to the CDN?

[2017-01-27 12:40] maxdwit commented on #1194
+1 have the same issue. Behind proxy I dont see any preview links

[2017-01-27 13:10] timkinnane commented on #5683
Yep, got it. ;)

[2017-01-27 13:40] citec opened #5811 "api.ai responses not shown anywhere"
Rocket.Chat Version: 0.49.4
Running Instances: 1
DB Replicaset OpLog: Activated
Node Version: v4.7.1

Hi,
    I got api.ai working/processing our livechat messages ( #5779 ), but I don't understand (or it is not working) what it does after getting the response. There is a call to `RocketChat.models.LivechatExternalMessage.insert` on [this line](https://github.com/RocketChat/Rocket.Chat/commit/725c

[2017-01-27 13:45] maxdwit commented on #5090
This worked for me ( 0.50.1 Ubuntu snapd):
# systemctl edit snap.rocketchat-server.rocketchat-server.service
Paste your environment:
[Service]
Environment=HTTP_PROXY=http://myproxy:1234

# systemctl stop snap.rocketchat-server.rocketchat-server.service
# systemctl start snap.rocketchat-server.rocketchat-server.service

Embedded links to pictures/youtube/servers with a specific favicon are visible

[2017-01-27 14:10] Nemra1 commented on #5787
No ..im setup rc server in this subdomain..cdn.nemra-1.com

[2017-01-27 14:47] chellem opened #5812 "Security Implemented"
Hello,
May I know which security implementation exists in rocket chat?
The OTR is not ready (#36), is there others apart from HTTPS?
I've checked the documentation already, I know there's a section concerning security but there's nothing detailed.

Kind Regards,
Chellem

[2017-01-27 14:51] chellem commented on #3104
+1

[2017-01-27 14:56] chellem commented on #2304
+1

[2017-01-27 15:08] maxdwit commented on #3138
In Version 0.50.1 still an issue  http://youtu.be/SWxvEbp1NjE
Short youtu.be links fail to preview

[2017-01-27 15:21] Nemra1 commented on #5718
can you share this packge her..i want test it

[2017-01-27 15:57] Nemra1 opened #5813 "Some tips if You Add New ringtones for calling ( For review )"
Rocket.Chat Version: 0.50.1 developer version
Running Instances: 1
DB Replicaset OpLog:
Node Version:4.7.2
<Description For My idea ( add ringtones for pubic A/V Conversation /P2P Conversation /Custom Ringtones for Audio call only / Custom Ringtones For Video Call only / Custom Ringtones For Public Channels ..etc ) >
<<<< im work in WebRTCClass.coffe and evry thing working as well >>>>
I f u want

[2017-01-27 17:01] engelgabriel commented on #5813
@Nemra1 thanks! Why didn't you do this in a Pull Request? It is much easier to review that way, and we can even collaboarte and merge into the main project after that.

[2017-01-27 17:06] Nemra1 commented on #5813
@engelgabriel ..Thanks SIR but idont to know how to make Pull Request :) Really

[2017-01-27 17:07] bighair commented on #4515
I just uninstalled and reinstalled the app and notifications are working
now.

On Wed, 25 Jan 2017, 19:01 shellster, <notifications@github.com> wrote:

[2017-01-27 17:23] royalaid commented on #3300
Any status updates on this?

[2017-01-27 17:24] sergiusens commented on #1446
I am in Argentina and our server in London, this is a big pain for us. It would be great if the roster could be cached locally and refreshed on a callback (roster-changed).

[2017-01-27 17:26] geekgonecrazy commented on #3691
I've renamed this one to hopefully more accurately explain what it is you're wanting

[2017-01-27 17:29] tbnobody commented on #3402
I am having the same issue with the latest iOS app and a rocket.chat default installation. I did not change any asset settings but the logo is not shown in the app.

[2017-01-27 17:44] jakimfett commented on #5511
@engelgabriel my rocketchat instance is currently broken, but I'll update you as soon as I get my server back online.

[2017-01-27 17:53] thinkingmik opened #5815 "meteor npm run chimp-test errors"
**0.50.0-develop**
Running Instances: 1

We are developing on a fork of 0.50.0-develop
and when we launch the test cases with command
[code]
with env variables set:
[code]

sometimes we get test errors (with the same code), for example:
[code]
Why it happens?

Thanks.

[2017-01-27 18:30] #5783 closed

[2017-01-27 20:45] geekgonecrazy commented on #2304
@RocketChat/core is there anything needed done on this?  From what I can tell #4073 should have resolved this.

[2017-01-27 20:53] geekgonecrazy opened #5822 "[Discussion] Push Notification Retry logic"

[2017-01-27 21:23] BryanQuigley opened #5824 "Hubot doc is empty on website"
https://rocket.chat/docs/administrator-guides/internal-hubot shows an empty page.

Rocket.Chat Version: n/a

[2017-01-27 21:26] icereed commented on #4287
+1

[2017-01-27 21:34] kiview commented on #4287
Just as an heads up, I haven't forgotten about this, but I plan to do this implementation as part of my daily job, so I'm waiting for a good time slot yet.

[2017-01-27 21:35] graywolf336 commented on #2304
@geekgonecrazy Documentation on how it works and how to use it.

[2017-01-27 21:48] rychken commented on #5088
Sharing what just worked for me.

1) I launched with `meteor` from another directory / repo. That succeeded. Weird. Ok, something about my dir? I killed this instance.
2) I renamed the problematic directory / repo.
3) I launched from the renamed directory. That succeeded.

Before this I tried everything. I verified versions. I reset meteor, cleared mongo. I `git clean -ffdx`'d. I rebooted. I tried

[2017-01-27 21:49] mjmst74 commented on #1615
+1

[2017-01-27 21:59] #5822 closed

[2017-01-28 05:06] HighwayStar opened #5825 "Assets and images url broken on proxy suburl installation"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0

I have problem with images and assets on installation configured to be located on https://mydomain.com/chat url.

Login page failed to show image with link https://mydomain.com/chatimages/logo/logo.svg
and chat window failed to show log located at https://mydomain.com/assets/logo.png its meant to be

[2017-01-28 11:58] timandovo commented on #1615
This is such a fundamental feature that causes daily pain.  Is there anyone else able to join me in offering a bounty in order to get this job completed?

[2017-01-28 13:34] RomanKisilenko commented on #5306
We tested it on 0.49.3 for a few days and this issue did not happen yet. It can be resolved or we did not test enough actively it yet.

[2017-01-28 14:17] Rohlik commented on #3818
Something new?

[2017-01-28 16:37] IQ2022 commented on #5543
okay lets do that.. am ready to test bluehost and will even create an account for testing and all.. let me know..

[2017-01-28 18:34] jakimfett commented on #5511
@engelgabriel the update to 0.49.2 fixed it! Thank you!

[2017-01-28 18:34] #5511 closed

[2017-01-28 19:48] Rohlik commented on #3097
@graywolf336 I will create documentation for this soon. Expect my pull soon 😉

[2017-01-28 21:21] geekgonecrazy opened #5831 "Public / Private Channel Name Uniqueness"
Right now a channel must be unique whether it is public or private.

If user A creates a private channel called #dancingbananas and user B comes along and searches for dancingbananas.  Nothing will show up.  So user B tries to create that channel.  They will get:
![image](https://cloud.githubusercontent.com/assets/51996/22399882/58f95406-e56c-11e6-8421-28d1ffdda4e9.png)  This can be bad UX.  They

[2017-01-28 21:34] geekgonecrazy opened #5832 "Quoted messages lose custom name and avatar"
Rocket.Chat Version: develop

Sending a message with a custom name and avatar via an integration:
![image](https://cloud.githubusercontent.com/assets/51996/22399985/ef1cfc38-e56e-11e6-9092-754eb76a22d5.png)

When quoted looks like this:
![image](https://cloud.githubusercontent.com/assets/51996/22399987/fb6bf9a8-e56e-11e6-94ea-b8b4ce3b9fa4.png)

[2017-01-28 22:19] Abraka commented on #5825
Installation into subdir is loooong time broken. Just search here for subdir. It was reported many time over and over again. Looks like nobody care about it as it is a minor thing which only few people using...

[2017-01-29 15:17] snowyu commented on #2693
There are subtle differences between channel and group.

* Channel: 0 to n person. All messages need to keep for ever even if all people exists.
* Group: at least 2 to n person. remove the group and messages if all people are exists.

[2017-01-29 16:22] #5240 closed

[2017-01-29 16:22] #5301 closed

[2017-01-29 20:04] engelgabriel commented on #5787
This error looks like an miss configuration. Looks like the domain cdn.nemra-1.com has a problem with wss:// connections.

[2017-01-29 20:09] engelgabriel commented on #5831
This cannot be changed (not easily), and I don't believe this is an issue worth working on. The same problem would happen if two different users try to create private channels with the same name. We can clarify the message to avoid confusing. @geekgonecrazy please suggest a better wording for the error message?

[2017-01-29 20:13] engelgabriel commented on #5825
Indeed @Abraka we strongly recommend installing Rocket.Chat into a subdomain rather than a subfolder. Even creating automated tests is hard, because involve adding a proxy in the middle and there are many variations to what the configuration would look like. We try our best to keep it working on subfolders, but it has been a best effort and we have been counting on the community to find and fix bu

[2017-01-29 20:15] engelgabriel commented on #5824
Can you please reopen this issue on https://github.com/RocketChat/Rocket.Chat.Docs ?

[2017-01-29 20:15] #5824 closed

[2017-01-29 20:39] engelgabriel commented on #5806
@timkinnane maybe for the lack o documentation you are not doing it right. We have the same use case on our cloud service, and the SMTP details are indeed hidden.

![image](https://cloud.githubusercontent.com/assets/1000217/22407679/4dceac34-e652-11e6-8ced-bffc6a223374.png)

[2017-01-29 20:40] engelgabriel commented on #5806
@sampaiodiego please help @timkinnane and clarify the documentation about this feature.

[2017-01-29 20:41] engelgabriel commented on #5808
@karlprieb this is URGENT, and there are a few other issues opened about this.

[2017-01-29 20:48] engelgabriel commented on #5789
@rodrigok am I right in thinking that this is a Chrome implementation and not Rocket.Chat's issue?

[2017-01-29 20:52] wandonye opened #5834 "WebRTC unable to connect"
Rocket.Chat Version:  48.2
Running Instances: 1
DB Replicaset OpLog: N/A
Node Version: 6.2.2

This is a question, not an issue:

I am stuck with adding video chat feature to the react native client that I have been working on. The problem is that RTCPeerConnection.iceConnectionState changes from checking to closed. A more detailed description of the problem can be found [here](http://stackoverflow

[2017-01-29 20:52] engelgabriel commented on #5771
Should we put it inside the upload folder?

[2017-01-29 21:58] rimolive commented on #5148
@christianh814 could you please check if #5835 solves the issue?

Also, I'm updating the docs too with the following information: you must pass --name=rocketchat too to work.

[2017-01-29 22:10] cit commented on #5771
At least from a user perspective the upload folder was my first thought. However, maybe to avoid that the common directory gets to messy, I would like to recommend something like this: `/var/snap/rocketchat-server/common/hotbot-scripts/`

[2017-01-29 23:02] sebgrizzly commented on #2446
This is not only a duplication, the used emoji's are not very nice, it would be awsome to use the standard emotji's on RocketChat too.

[2017-01-29 23:25] qazbob commented on #3952
I've just installed it. I can confirm that the issue is still there in the last version (50.1)

[2017-01-30 01:23] snowyu commented on #2693
The `room` should be the name for developer or administrator:

Each Room could have these attriubtes:

* room type:
  * Channel
    * the `_id` is the channel name, it's global and unique.
  * Group
    * the `_id` is the `creator name + '/' + group name`.
    * allow the group owner to clear all message, archives, files
* room owners: could no owner or many owners
* privacy:
  * private: only inv

[2017-01-30 01:24] timkinnane commented on #5806
Sorry I derped hard on this one. Figured out that it just wasn't reading because I had spaces in the CSV. Is working now, an example in docs would still be nice though.

[2017-01-30 02:23] teamsoo commented on #5789
@engelgabriel I've checked with some other products that support file sharing. Uploading large files didn't cause any problem.

Maybe it's how Rocket.Chat processes the uploading file before it actually starts uploading the file that cause this issue.

[2017-01-30 02:38] akachapati opened #5837 "Discrepancies between web and desktop version"
Rocket.Chat Version: 0.50.1

Hello, some of my users are complaining of the following discrepancies between the web and desktop version:

1. When using both the desktop app and using rocket chat directly from the browser, received messages appear in the web version but does not appear in the desktop version. After you reload the server in the desktop app, messages are synced again
2. Channels mark

[2017-01-30 03:15] brendanheywood opened #5838 "Links are not correctly detected when they contain a triple ... ellipsis"
Rocket.Chat Version: 0.49.3
Running Instances:
DB Replicaset OpLog:
Node Version:

![image](https://cloud.githubusercontent.com/assets/187449/22411304/8277e5aa-e6f6-11e6-8d12-db9ea68f713e.png)

The weird thing is that the link is correctly detected enough to go and load the preview, but the original link doesn't work, the preview link does.

[2017-01-30 04:13] teamsoo opened #5839 "Changing fireUrl from 'file-upload' to something else"
Rocket.Chat Version: 0.50.1
Running Instances: 1
Node Version: v4.7.1

Is there a way to change fileUrl from '/file-upload/' to something else?
This is because some network proxy usually block URLs that contain 'upload' word.

Normally, fileUrl is '/file-upload/' + file._id + '/' + file.name

[2017-01-30 05:22] neha1deshmukh commented on #5738
Thanks @jszaszvari

[2017-01-30 05:22] timkinnane commented on #5806
Actually I've found a valid bug after all... The `SETTINGS_BLOCKED` settings can still be changed by the reset button....

![screenshot 2017-01-30 16 21 30](https://cloud.githubusercontent.com/assets/1774379/22413021/45676a8e-e708-11e6-89f0-1f7cb3338e2a.png)
![screenshot 2017-01-30 16 21 40](https://cloud.githubusercontent.com/assets/1774379/22413022/4568929c-e708-11e6-9eef-f7a75ab9b2c3.png)

[2017-01-30 05:32] wandonye commented on #5834
I solved the problem by taking out the javascript codes generated from the coffee script of the webrtc module. Change as little as possible to make it runable in react native. Eventually, I found that if I call the following two functions one by one, then it will work.

    peerConnection.setRemoteDescription(new RTCSessionDescription(data.description),onSuccess,console.warn);
    peerConnection.c

[2017-01-30 05:32] #5834 closed

[2017-01-30 06:04] neha1deshmukh commented on #3659
Is there any update on this?

[2017-01-30 06:28] timkinnane commented on #5806
@sampaiodiego I also found that using `RocketChat.settings.get` in a template helper returned null for a `SETTINGS_HIDDEN` setting.

You can reproduce this by trying `export SETTINGS_HIDDEN=Assets_logo`, then (clear cache and) watch the logo on the login page disappear. Tried on v0.50.1.

[2017-01-30 06:34] maxdwit commented on #5771
Maybe it would be helpful to have a filestructur similar to the mounted snap folders, which could externd/overwrite files from the mounted folder?

[2017-01-30 07:34] garychapman commented on #4277
@RoecketChat/core Could we get some clarification on this please? We're about to utilise this functionality with both mainland and Taiwanese Chinese customers. Thanks!

[2017-01-30 09:31] hussamEddinAlhendi commented on #5712
@engelgabriel @rodrigok Please Can you help me how to get the binary data of a file in meteor or if there is any package to use?

[2017-01-30 09:42] neha1deshmukh opened #5840 "integrate rocket chat with existing CRM"
Hello,

Can anyone explain for me, how we can integrate rocket chat with existing CRM for support? I am not able find any documentation about this.

[2017-01-30 12:35] MartinSchoeler commented on #5815
@thinkingmik
* Do these errors show up every time you run the tests?
* Have you made any modifications to the ui?

[2017-01-30 13:13] NQNetwork opened #5841 "MongoDB use all Disk ressources"
Hello,

Sometimes we have the processs mongod  that use all of disk ressources.
We can see that with an iotop. The server is unreachable when this problem occurs.

We are about 70 users on the tchat, usually is all right.

It's seems to be a "rotate" of the DB content, but I have find anything about that.

Have you ever encountered this problem?

Thanks.

Rocket.Chat Version:  0.50.1
Running Insta

[2017-01-30 13:26] Rohlik commented on #3919
They relased new version, so the working URL is [here](https://chrome.google.com/webstore/detail/jitsi-meetings/kglhbbefdnlheedjiejgomgmfplipfeb)

[2017-01-30 13:44] jeromepin opened #5842 "[Feature request] Specify default role for OAuth users"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.2

Hi,

We're using Rocket.Chat for our internal chat system (which is awesome by the way ! Great Work !). Now we would like to open our chat system to the outside world using Github's OAuth. The problem is that users are in the 'user' role by default, which is too permissive for our external user.

I

[2017-01-30 14:04] vrooze commented on #5182
Just to update with a fresh screenshot of the actual error (which doesn't appear in the log, even with debug level logging)
(had to censor domain/email for company policy as it's internal)
![image](https://cloud.githubusercontent.com/assets/16898416/22425675/2ee466c2-e6f4-11e6-8440-3c4d091b38a0.png)

The only thing shown in the log with debug level is:
[code]

The same error posted originally crop

[2017-01-30 14:06] BryanQuigley commented on #5824
Found a dupe there, sorry for the noise -https://github.com/RocketChat/Rocket.Chat.Docs/issues/172

[2017-01-30 14:13] omicron81 commented on #4585
Rocket.Chat+
Version 1.3.1

I use the Rocket.Chat desktop app as a small window. If I try to start the video chat, all I see is this (black boxes were added by me, but the blue area in front of the chat window is really there):
![rocketchatvideobug](https://cloud.githubusercontent.com/assets/8233992/22426091/425cb812-e6fe-11e6-9424-54d9f1ae9aa6.png)

So, instead of a video chat it just hides the c

[2017-01-30 14:24] VerusK commented on #4377
+1

[2017-01-30 14:25] tarabanton commented on #4377
+1 Must have for our use case. With high number of DM it's pretty hard to find recent ones.

[2017-01-30 15:09] stevenhfotofix commented on #4377
+1

[2017-01-30 15:48] ifohancroft commented on #2511
I also desperately need documentation. Specially about the custom js and what can be done with it?
For example can we catch events with it and do something accordingly?
What I mean by that is for example when using the jitsi video conference, when someone calls you don't hear a sound. I'd like to intercept the event with js and play a sound or do something else or many stuff.

[2017-01-30 16:50] CCRDude commented on #5473
Exactly the same problem here, even after updating to 0.50.1.

[2017-01-30 17:08] engelgabriel commented on #5315
@Molle500 can you verify if this is still happening on the develop branch?

[2017-01-30 17:23] engelgabriel commented on #5837
You need to provide all the information from your Admin->Info page.

[2017-01-30 17:28] engelgabriel commented on #5839
@rodrigok can this be turned into a config?

[2017-01-30 17:33] smoslinux opened #5845 "Windows The server is not enabled for mobile apps"
Rocket.Chat Version: 0.34.0
Running Instances: Windows_NT
DB Replicaset OpLog:
Node Version: v4.5.0

Hi all,

I installed Rocket Chat successively and after the installation, i try to login via mobile iphone 7 but its said: "The server is not enabled for mobiles apps."

I checked all familiar issue regarding this error but nothing. My SSL is A checked with sslabs.

Do someone has some suggestion w

[2017-01-30 17:41] engelgabriel commented on #5841
What is the status of your DB Replicaset OpLog?

[2017-01-30 17:46] engelgabriel commented on #5781
closed by https://github.com/RocketChat/Rocket.Chat/pull/5792

[2017-01-30 17:46] #5781 closed

[2017-01-30 17:49] karlprieb commented on #5438
Closed in favor of #5808

[2017-01-30 17:49] #5438 closed

[2017-01-30 18:49] rodrigok commented on #5839
Sure, we can create a new setting for that

[2017-01-30 19:51] carolsilveira opened #5847 "Create new progress bar"
![screen shot 2017-01-30 at 17 50 00](https://cloud.githubusercontent.com/assets/24963820/22438872/b09b490e-e714-11e6-8be7-df304081c41c.png)

[2017-01-30 19:57] carolsilveira opened #5848 "Create badges for users"
- Admin
- Moderator
- Owner
- User
- Bot
- Guest
- Livechat-agent
- Livechat-maneger
- Livechat-guest

[2017-01-30 20:02] carolsilveira opened #5849 "Create new space about the profile"
![screen shot 2017-01-30 at 17 58 18](https://cloud.githubusercontent.com/assets/24963820/22439242/0228d40c-e716-11e6-981b-745017168305.png)

[2017-01-30 20:09] carolsilveira opened #5850 "Side nav - view mode"
Crate view mode cozy and normal in the new style.
(Avatar round and square.)

[2017-01-30 20:11] carolsilveira opened #5851 "Create Home/Discovery"

[2017-01-30 20:24] christianh814 commented on #5148
@rimolive

I have tested and this works for me.

Version:
[code]

[2017-01-30 20:24] #5148 closed

[2017-01-31 05:05] engelgabriel commented on #5806
Thanks @timkinnane

[2017-01-31 05:06] engelgabriel commented on #5815
Please upgrade to the latest version 0.51.0-develop

[2017-01-31 07:33] mdrobisch commented on #3155
Are there any news here? I think a split of view-c-list and join-c would become very handy. Is this task suitable for a beginner like me. It would be  please to contribute to Rocket.Chat in this way. Where could i start?

[2017-01-31 08:27] NQNetwork commented on #5841
Hello,

My OpLog is disabled.
And in the console we have :
rs.status();
{ "ok" : 0, "errmsg" : "not running with --replSet", "code" : 76 }

Thanks.

[2017-01-31 10:48] neha1deshmukh opened #5854 "login api issue"
Rocket.Chat Version: 0.50.1

Hi,
When i am hitting https://www.example.com/api/v1/login -d username=xxxx&password=xxx
getting error "There is no route for the path" and not able to login rocket chat.
OR
When try to use curl.... getting no response .
//login function
function talklogin($fuser, $pass) {
	$service_url = 'https://xxx-xxxx-xxx/api/v1/login';
	$curl = curl_init($service_url);
	$curl_pos

[2017-01-31 11:18] rafaelmr2 opened #5855 "how create admin with snap?"
Hi,

I installed rocket chat with snap in Ubuntu 16.04. I set the env variables to create admin and restart server (systemctl restart snap.rocketchat-server.rocketchat-server.service) but the login is still invalid. I search web, git hub and docs but can't find a solution. How can I create admin account with snap server?

Thanks,

Rocket.Chat Version: Snap is the last version, right?
Running Insta

[2017-01-31 11:32] akachapati commented on #5837
Thanks @engelgabriel We've a couple of implementation of rocket.chat that we use for different reasons and have extended one of them with some custom code. I noticed that it's breaking only in the version that we've extended which is running on 0.48.2

Is if there's anything we should be looking at to resolve this issue? Any help will be much appreciated.

[2017-01-31 12:05] Jannibal commented on #2588
+1

[2017-01-31 12:24] engelgabriel commented on #5855
The first user to register will be made admin. Do you need it to be pre configured with something else?

[2017-01-31 12:37] graywolf336 commented on #5854
Make sure you're actually using the `POST` method and then change `username` to `user`.

[2017-01-31 13:27] rafaelmr2 commented on #5855
Thanks, that's works.

[2017-01-31 13:27] #5855 closed

[2017-01-31 13:46] MaksymRybak commented on #2588
Yes, guys. It's very usefull also for our team.
Thank you very much.

[2017-01-31 15:13] engelgabriel commented on #5808
@rodrigok let's add a migration to fix the rooms that have been affected.

[2017-01-31 15:19] engelgabriel commented on #5841
You MUST enable it, and configure Rocket.Chat to use it.

[2017-01-31 15:21] engelgabriel commented on #5841
All Meteor apps use a busy pooling mechanism when OpLog is not enabled, and that can be very hard on the database.

[2017-01-31 15:22] #5841 closed

[2017-01-31 16:20] flyfishy commented on #3413
Group Video with WebRTC not working in 0.50.1. Same as above, Direct and Jitsu work great.
While in Private Channel, Member list (sidebar icon) is clicked, Member List opens, and at the top of the list shows the Video button. When clicked, "Group video p-group-test do want to accept?" clicking yes turns on camera's, and audio can be heard, but no video or controls is shown. And the only way to sto

[2017-01-31 16:55] danimaiochi opened #5859 "Channels not grouping messages from the same day when users have different languages"
This happend suddenly, I don't know what information is important but, the user with the franz has left the group and then I noticed this.
before, the channel was working just fine

![image](https://cloud.githubusercontent.com/assets/8352137/22475044/e9b4419a-e7c4-11e6-8fde-e8aa9f97e675.png)

Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

[2017-01-31 18:16] MartinSchoeler opened #5861 "Some youtube links not generating preview"
Tried with this link https://youtu.be/L5xCnqE2GiY?t=1m32s
![screenshot from 2017-01-31 16-15-19](https://cloud.githubusercontent.com/assets/20868078/22478311/80d960b8-e7d0-11e6-999f-181cdb022c00.png)

Rocket.Chat Version: demo

[2017-01-31 19:58] Xqua commented on #4494
Hi,

We are using a valid let's encrypt certificate, yet we are seeing this message
I have tried to add the `NODE_TLS_REJECT_UNAUTHORIZED=0` but it does not work.

[2017-01-31 20:32] Xqua commented on #4494
Actually I just solved this problem !

So, the issue was that we are using LetsEncrypt to generate our certificates ! And you HAVE TO use the fullchain.pem and not the cert.pem !

So if anyone above was using letsecnrypt that is the issue, if not, then the issue comes from the fact that nodeJS tries to validate your certificate, if this certificate is not issued by a valid CA you have to make it a

[2017-01-31 21:14] Molle500 commented on #5315
@engelgabriel sorry i dont have a develop branch. I can only check if u commit to ur rocket chat server

[2017-01-31 22:02] jooola commented on #5142
Could someone correct the link , its a 404 for now ...

[2017-01-31 22:50] stu1972 commented on #4477
@alexandrezia This was the exact problem that I had.  On my initial setup I had used my email account as my username instead of my LDAP.  Correcting the username in RocketChat to match LDAP fixed the problem.

[2017-02-01 03:32] wandonye opened #5864 "Shouldn't stream-notify-user/notification return msg object?"
Rocket.Chat Version:  demo.rocket.chat (?50.x?)
Running Instances:
DB Replicaset OpLog:
Node Version:

Currently stream-notify-user/notification return an object like this:

    payload:Object
        _id:"qYvsGwpEAEEpWRaaY"
        rid:"YdpayxcMhWFGKRZb3vqtNHfvcz3ttFh8tW"
        sender:Object
            _id:"YdpayxcMhWFGKRZb3"
            username:"hubot"
        type:"d"
        text:"test"

[2017-02-01 04:00] wandonye commented on #5864
I guess stream-notify-user/message is the one used to receive the msg?

[2017-02-01 06:06] mfilotto commented on #5058
Any news on this one ?

[2017-02-01 06:06] mfilotto commented on #3345
Any news on this one ?

[2017-02-01 06:07] mfilotto commented on #658
Any news on this one please ?

[2017-02-01 06:37] neha1deshmukh commented on #5854
Its working now. Thank you very much for your quick response  :)

[2017-02-01 06:40] spathare21 opened #5866 "Typing indication when someone is typing in group/1:1 chat."
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog:
Node Version: v4.5.0

Can we have a typing indication when someone is typing in group/ in 1:1 chat like whatsapp/Hangout indication in group and personal chat.

i.e abc is typing, if more than one people then 2 peoples are typing something like that.

[2017-02-01 06:42] TheReal1604 commented on #5866
@spathare21 This is already implemented left under your text box?!

[2017-02-01 06:43] TheReal1604 commented on #5854
@neha1deshmukh could you please close the issue yourself if this is solved? :+1:

[2017-02-01 06:44] spathare21 commented on #5866
ohh sorry i think my rocket chat version is 0.46.0  thats why it is not showing.

[2017-02-01 06:47] TheReal1604 commented on #5845
@smoslinux You already checked the docs?

https://rocket.chat/docs/installation/manual-installation/windows-server/

The docs saying that the mobile apps are not supported atm if you install Rocket.Chat on a Windows Server.

![image](https://cloud.githubusercontent.com/assets/5877910/22497524/9741c89a-e852-11e6-96cb-eb06c753ee73.png)

Also your version of rocket.chat is very old, maybe you can upd

[2017-02-01 07:06] gradler opened #5867 "[Q] How to change the default settings for channel notifications?"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: 4.5

Each channel has a mobile & desktop notification settings.
The default value is "mentions".

However, I would like to our server's default to "All messages".
How can I do this?
I do not want to change every new channel I create.

Thanks for your help!
G'day mate

[2017-02-01 07:12] maxdwit opened #5868 "ldap userprofile personel logo sync issue"
Rocket.Chat Version: 0.50.1 ( Ubuntu 16.04 snap )
Running Instances: 1
DB Replicaset OpLog: disabled

Users are created via ldap login.
Settings:
- ldap sync is on
- sync user logo is on
- Users are allowed to upload new logo

Tests:
Uploaded new UserLogo.
Relogged.
ldap User Logo is synced from ldap

Suggestion:
If "Users are allowed to upload new logo" then the ldap UserLogo is only synced on in

[2017-02-01 08:04] thinkingmik commented on #5815
With the upgrade to 0.51.0-develop the unit tests seems to work! thank you very much @engelgabriel  @MartinSchoeler

[2017-02-01 08:04] #5815 closed

[2017-02-01 08:17] kurobeats opened #5869 "Variable required in rocketchat.desktop (.deb package)"
When launched the desktop app is iconless and independent from the launcher. This line added to the rocketchat.desktop file ensures the launcher and the app remain as one on the desktop.

`StartupWMClass=Rocket.Chat+`

So, once complete, rocketchat.desktop will appear as the following:

[code]

[2017-02-01 08:28] zorenleo opened #5870 "Video conference on private channels still visible though it was being disabled"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.6.2
Video conference on private channels still visible except in the public channels though it was being disabled in channel on the Admin settings.

[2017-02-01 08:34] js-um opened #5871 "Cache error in '$all' operator of 'findByTypeContainingUsernames' function"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: enable
Node Version: 4.6.2

It looks like Loki doesn't have '$all' operator

[2017-02-01 09:28] #4619 closed

[2017-02-01 10:00] Rohlik opened #5873 "Request: Add more state of "invisibility" for user"
Hi,

It would be very nice to add more level of "Invisible" status.

For example:
**"invisible"** - Same behavior as now
**"semi-invisible"** - Invisible status in public channels and in search window, but **visible** in private groups and direct chats.

**Why?**

Because sometimes you don't want to be disturbed by others, but you still want working with close co-workers.

[2017-02-01 10:09] djsteveb commented on #1920
I'd like to suggest that https://en-ca.wordpress.org/plugins/wise-chat/ the wise chat and av-chat ( https://en-ca.wordpress.org/plugins/avchat-3/  )
plugins have a very nice setup to consider integrating.
you can embed a full on chat room in a page or post - and if a web site visitor is registered and logged in via your wordpress (or better wordpress with buddypress) system - then the Auth is auto

[2017-02-01 11:25] #5866 closed

[2017-02-01 11:44] sinteur commented on #2355
It does not work for private groups which you temporarily change to public channel for a minute, just to be able to use the api - so either this functionality needs to be duplicated for private groups, or it needs to be fixed so that the workaround works

[2017-02-01 12:31] MartinSchoeler commented on #5869
@kurobeats i think this issue should be on the electron repository, please reopen this issue here: https://github.com/RocketChat/Rocket.Chat.Electron , Thanks!

[2017-02-01 12:31] #5869 closed

[2017-02-01 13:57] #5854 closed

[2017-02-01 13:57] graywolf336 commented on #5840
It would depend heavily on the CRM system you're using and how they allow integrations.

[2017-02-01 17:48] DiJu519 opened #5877 "Add "Last Message" to the "Rooms" Admin View"
An addition column in the Administration -> Rooms channel to allow an Admin to see when the last message sent was.

This would provide an easy method to audit and delete old channels, thereby preventing a huge log of channels in the "Channels" drop-down.

Thanks.

[2017-02-01 18:01] kenspi opened #5878 "Password reset emails not working"
When users try to reset their password via the "forgot your password" link, they see an error in their browser stating "Error trying to send email: Message delivery failed".  The log only indicates this error:
`[34mI20170201-17:55:22.254(0) [34mMeteor ➔ method sendForgotPasswordEmail -> userId: null , arguments:  { '0': '<email_address_removed>' } `

The SMTP settings have been tested and are fun

[2017-02-01 19:04] Rohlik commented on #4891
Also in 0.50.1

[2017-02-01 19:11] Rohlik opened #5879 "Pinned already pinned msg"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: True
Node Version: 4.7.2

You can pinned already pinned message. Screen tell you more.

![image](https://cloud.githubusercontent.com/assets/2051154/22521900/dbc0ec78-e8b9-11e6-979e-a10ea3bcb858.png)

[2017-02-01 19:59] marceloschmidt opened #5880 "Current channel should show on search results so we can easily go back to it"
![image](https://cloud.githubusercontent.com/assets/1986378/22523921/449a4f62-e8a8-11e6-9511-567d257fd014.png)

When you have an open channel and you go to the administration and then you want to go back to your current channel, you'd have to find it by scrolling instead of quickly accessing it in your recent channels.

[2017-02-01 23:23] rasos opened #5881 "Extremely slow or unsuccessful logins"
Since our latest upgrade we observe login times of up to 20 seconds or the browser timed out completely (only three dots running), but not at each attempt.
No special load on mongodb or CPU observed, though, 4GB RAM is plenty, only few concurrent users.
Anybody else having this issue?

Somebody observed this behaviour with Meteor 1.4.2.3 and could resolve the issue when downgrading to 1.3.5.1:  ht

[2017-02-01 23:23] RichardFoxworthy commented on #2970
We need more than just a swipe-able flex tab interface. There are severe usability issues with it on mobile where flex tabs consume the entire screen and it is not obvious how to get back to the normal interface.

The UX needs to make it very obvious to the user that this is a panel sitting on top of the main interface and there also needs to be a very obvious control to collapse the tab.

We've h

[2017-02-01 23:58] rodrigok opened #5882 "Wrong search field size when no permission to create room"
![image](https://cloud.githubusercontent.com/assets/234261/22531655/70fc6d62-e8c9-11e6-8e06-9496d0345c09.png)

[2017-02-02 04:13] zeigerpuppy opened #5883 "Sending emails from sandstorm"
Rocket.Chat Version: 0.49.3 (Sandstorm)

I know that this may be a more general powerbox issue, but thought it was worth filing here anyway for others that may stumble upon it.
Currently sending email via SMTP from within Sandstorm Rocket.Chat is non-functional.
This means you can't use email notifications.

To test:
1) edit the current user profile and set an email address
2) edit the Administrat

[2017-02-02 04:29] SudeepParajuli opened #5884 "Custom Emojis do not respect selected file system for uploads"
Rocket.Chat Version: 48
Node Version: 4.2.6
MongoDB shell version: 3.2.11
Mongofiles version: r3.2.11
os : ubuntu:16.04

I have been using the GridFS file system to store my custom emoji and avatars files. I want to import and export these custom emojis and avatar files into my local filesystem using `mongofiles` but I am not able to perform the operation.

Further, I  moved the existing avatars a

[2017-02-02 04:33] ndarilek opened #5885 "Scroll behavior is problematic for screen readers"
Rocket.Chat Version: All
Running Instances: 1
DB Replicaset OpLog: N/A
Node Version: N/A

The way that scrolling works is problematic for screen reader users. As a screen reader user myself, I discovered this recently when participating in a non-test chat for the first time.

I'll start in the message entry area. When messages arrive, I move my cursor back into the incoming messages area, or tab t

[2017-02-02 08:29] pierm8 opened #5886 "Connection message missing in Realtime-API documentation"
The Realtime-API documentation is missing a reference to the connection message that **must be sent once before any other message** to establish the WebSocket connection, otherwise the server will always respond with "Must connect first" message.

The connection message that I found watching those exchanged by the Rocket.Chat web client is:
[code]

This is the server response:
[code]

This is inst

[2017-02-02 09:46] mikonoid commented on #1732
+1

[2017-02-02 10:05] travka commented on #3565
Still have a problem in MACOS app, can start call, but can't end it

[2017-02-02 10:06] travka commented on #3413
Still not working in macos app

[2017-02-02 13:06] sergioloyola commented on #919
I have problems too. Since my CAS idp uses self-signed certificates, when I try to authenticate my idp indicates that it was successful, but rocket.chat shows me the following error:

_rocketchat_cas rocketchat_cas.js:169 CAS ➔ error error when trying to validate: unable to verify the first certificate_

Who had to deal with the same problem ???

[2017-02-02 13:44] ericzolf commented on #3792
I'm also missing this information to ask for changing the subject, do a hand-over, or whatever.

[2017-02-02 14:58] NargiT opened #5887 "Quick Switcher aka Shortcuts"
Hello,

Is it possible to implement a quick way (shortcuts) as it is done today with Slack (QuickSwitcher CTRL+K). This is the only think that block me to use 100% rocket chat because I have to use the mouse.... :)

[2017-02-02 15:21] 2Dman commented on #404
+1

[2017-02-02 17:02] childnode opened #5889 "[FeatureRequest] Allow users to delete themself"
to say it out loud simple stupid:
https://demo.rocket.chat/account/profile has no button for "delete (my) profile / user / account"

not even on a demo instance this is a good to have but also for those who just want to stop using their account, no longer being able to get DMs anymore which is like calling to /dev/null in a case of an unused account.

Problem I see we have to discuss (or perhaps i

[2017-02-02 18:01] pierm8 commented on #5886
Wrong repository, issue moved here: https://github.com/RocketChat/Rocket.Chat.Docs/issues/205

[2017-02-02 18:01] #5886 closed

[2017-02-02 20:53] evgenymarkov commented on #5458
Is any thoughts about this bug? Mint hasn't snapd by default and after installing it I can't run krita(and probably any other snapped program), it crashes with same error. If you have any experience with debugging snappy subsystem then report a bug to mint bugtracker please.

[2017-02-02 22:44] Jannibal commented on #5887
Ctrl - P

[2017-02-03 01:36] nbaum commented on #5889
This feature already exists, but must be enabled in the "Accounts" page of administration: it's the first option there. Enabling it adds a "delete my account" button to users' "profile" page.

[2017-02-03 01:44] geekgonecrazy commented on #5458
@evgenymarkov from a guess I would say this is something to do with sys calls and apparmor.  Its possible you could install the snap with `--dangerous` and it would work.  I'd say the linux mint guys need to take a look though.

[2017-02-03 04:14] engelgabriel commented on #5880
We already have an issue to go back to the current channel when you close the admin.

[2017-02-03 04:14] #5880 closed

[2017-02-03 04:17] engelgabriel commented on #5873
Thanks for the suggestion, but this requires A LOT of work to achieve, and I don't think we will be able to do it. If you'd like to develop this, I'd be happy to review a pull request.

[2017-02-03 04:17] #5873 closed

[2017-02-03 04:19] #5683 closed

[2017-02-03 04:24] engelgabriel commented on #5859
This is really odd, I cannot even think how to try to reproduce it :(

[2017-02-03 04:36] engelgabriel commented on #5884
@RocketChat/core anyone have done this before?

[2017-02-03 04:38] engelgabriel commented on #5881
How many process instances running in productions? Do you have OpLog enabled?

[2017-02-03 04:49] SudeepParajuli commented on #5884
@engelgabriel please accept my ignorance but one thing I am not getting is why we have not made avatars and emoji to store in s3 bucket ? Is this in the bucket list to release in the future version ?

[2017-02-03 04:55] engelgabriel commented on #5884
Yes @SudeepParajuli , it was just lack of time to implement the same logic to all packages

[2017-02-03 04:56] engelgabriel commented on #5837
can you upgrade to the latest version?

[2017-02-03 05:01] SudeepParajuli commented on #5884
Looking forward to get support from Rocketchat community if there is any workaround for this . By the way upto when could we expect the s3 bucket option ? @engelgabriel

[2017-02-03 07:32] bott0r commented on #216
For me the IRC plugin worked great, what would be great if one could decide which channel/channels should join the IRC network.

[2017-02-03 07:36] rasos commented on #5881
Here only one instance is in production. But we have currently only very few concurrent users and node does not use much CPU, server load is around 0.05, mongod however may spike to 80% CPU when logging in.
I don't think we use OpLog, typical response times in the mongo log are 100ms.

[2017-02-03 08:19] takavfx commented on #3074
I want this one too as a function installed into Rocket.Chat or Rocket.Chat.Electron.
I've already posted my idea here: https://github.com/RocketChat/Rocket.Chat.Electron/issues/334

Actually I found this( https://www.npmjs.com/package/electron-screencapture ) npm-package for electron. I'm not sure how this works but it can be better some kind of this thing is installed into such as  Rocket.Chat.E

[2017-02-03 08:19] takavfx commented on #3047
I want this one too as a function installed into Rocket.Chat or Rocket.Chat.Electron.
I've already posted my idea here: RocketChat/Rocket.Chat.Electron#334

Actually I found this( https://www.npmjs.com/package/electron-screencapture ) npm-package for electron. I'm not sure how this works but it can be better some kind of this thing is installed into such as Rocket.Chat.Electron.

[2017-02-03 10:03] fk0 commented on #5003
same here
Ubuntu 16.10
installed via snap
snap install rocketchat-server
Tested in chrome  55.0.2883.87 (64-bit) and ubuntu desktop client
Works fine in Firefox 50.1.0

[2017-02-03 10:06] NQNetwork opened #5896 "Integrations not working"
Hello,

After this issue https://github.com/RocketChat/Rocket.Chat/issues/5841 we have sold our problem by updating the docker-composer.yml with your new file.
But after that, our integrations like Giphy not working.
When we try to use it, we have this error log:

Exception in callback of async function: TypeError: Cannot read property 'statusCode' of null   at /app/bundle/programs/server/packages

[2017-02-03 10:30] danimaiochi commented on #5859
yeah, I know, we have this group for quite some time and this is the first time it happend.
the 3 of us use to leave the computer and the rocketchat open for days, and sometimes when we go to the rocketchat, messages are not showing and we need to refresh the page.
this happened after one of these moments

[2017-02-03 10:42] alexbrazier opened #5897 "Timestamp in Citations Might Be Misleading"
Rocket.Chat Version: 0.50.1

Copied issue from RocketChat/Rocket.Chat.Electron#260

When I cite someone via the /direct/USERNAME?msg=MESSAGEID link, the timestamp only shows the time, but not the date. This is no problem if the citation is from the same day but might be quite confusing if the citation is from another day.

This is probably a minor thing, but I thought its worth sharing.

[2017-02-03 12:00] childnode commented on #5889
oh ... ups 🙃 i.e. just looked for s.th. in https://rocket.chat/docs/administrator-guides/permissions/
I see ... and any of it's data is deleted, even his messages and private channels ... and the nick is free again for registration ... then ... I will go forward to look for requests or file one
1. to keep old messages of deleted users
1.a. mark them "anonymous"
1.b. delegate private channel permis

[2017-02-03 12:00] #5889 closed

[2017-02-03 12:12] birkb opened #5898 "users in role not updated"
Rocket.Chat Version: 0.50.1
Running Instances: 9
DB Replicaset OpLog: enabled
Node Version: 4.7.2

I have created a channel as admin and i want to configure a normal user as moderator for that channel. I go to /admin/permissions/moderator/edit, i choose the room name and i add the username. The UI responds with "User added", but the user does not appear in the list and he also not moderator of tha

[2017-02-03 12:13] manuelbachl commented on #5896
Hi there, could anyone determine if this is a RC related issue or if we have to adjust our giphy integration? If so, please open an issue here: https://github.com/FinndropStudios/GifRocket
Thanks in advance for figuring out - unfortunately we're limited in time at the moment

[2017-02-03 12:40] thiesschneider commented on #5896
We are running the same version and it is working...

[2017-02-03 13:04] k0nsl opened #5899 "Layout issue"
Rocket.Chat Version: 0.50.1
Running Instances: 1

Issue: when editing the "layout"-option in the administration area, specifically the footer, the change is not applied. All the other items change correctly, all but the footer.

How to replicate? Browse to `Administration > Layout > Content > Side Navigation Footer` and try to put anything in the textbox and apply the change. The change will not b

[2017-02-03 13:04] #3195 closed

[2017-02-03 13:15] engelgabriel commented on #5899
@MartinSchoeler can you please try that on the `develop` branch?

[2017-02-03 13:17] phlegx opened #5900 "LDAP user group filter not working?"
Hi there,

I'm trying out to set the ```LDAP user group filter``` with rocketchat. However this does not seem to work. I can login without the filter just fine via LDAP, but with Groups it is not possible, at least for me.

Here are my settings that I made in the Admin Frontend:

[code]

The log on my ldap server then however shows me the following filter:

[code]

And this does not seem to work t

[2017-02-03 13:24] NQNetwork commented on #5896
@manuelbachl , the problem is not just for the Giphy integration. We have an integration for Redmine, and this is the same issue.

[2017-02-03 13:47] Nikolay-Kha commented on #5458
Hello, I had the same issue with 'Hello, world!' snap on Linux Mint 18.1.
This error caused by attemp to write /proc/getpid()/attr/exec which fails with error.
For me, I solved this issue by:
sudo apt-get install selinux
reboot
sudo apt-get install snapd
reboot
these packages conflicts and replaces each other. Somehow, after such reinstall, error disappeared and snap started working for me. Maybe

[2017-02-03 13:48] rodrigok commented on #5887
@NargiT `CTRL+P` / `CMD+P` solves your problem?

[2017-02-03 13:49] graywolf336 commented on #4988
@tristanflorcb is this error still happening today?

[2017-02-03 13:51] graywolf336 commented on #3936
@patrickpl This has been implemented, I never realized this issue existed. The documentation for this is located: https://rocket.chat/docs/developer-guides/rest-api/users/getpresence#user-get-presence

[2017-02-03 13:51] #3936 closed

[2017-02-03 13:52] engelgabriel commented on #5898
Did you invite the user to the channel? Was the user already a member?

[2017-02-03 13:53] graywolf336 commented on #4424
@tristanflorcb Can you describe in more detail what you're wanting?

[2017-02-03 13:54] patrickpl commented on #3936
That's great. Thank you @graywolf336

[2017-02-03 13:55] graywolf336 commented on #1788
This has been added and the documentation is updated, [create](https://rocket.chat/docs/developer-guides/rest-api/users/create) and [delete](https://rocket.chat/docs/developer-guides/rest-api/users/delete).

[2017-02-03 13:55] #1788 closed

[2017-02-03 13:57] marceloschmidt commented on #3651
If anyone wants to take a step on this, see comments on the PR: https://github.com/RocketChat/Rocket.Chat/pull/3652#issuecomment-229358245

[2017-02-03 13:58] graywolf336 commented on #767
https://rocket.chat/docs/developer-guides/rest-api

[2017-02-03 13:58] #767 closed

[2017-02-03 14:00] graywolf336 commented on #3936
If you guys build a service which enables those buttons, let me know as I'd be Interested in seeing it 👍

[2017-02-03 14:04] Coros commented on #5900
If you are using Active Directory or certain other LDAP servers you may need to use a different filter.  I don't know the specifics but there's a way to specify in your filter to return "users" instead of "persons".  It's a weird distiction in LDAP.  Here's our LDAP filter and it works perfectly.
`memberOf:1.2.840.113556.1.4.1941:=cn=Technology Staff,OU=Groups,DC=DOMAIN,DC=TLD'

[2017-02-03 14:15] birkb commented on #5898
No the user was not member of the channel. Even after adding the user to the channel it does not work.

[2017-02-03 14:29] virtualwatt commented on #2984
any plans to fix this someday? :)

[2017-02-03 14:37] phlegx commented on #5900
Thanks Coros!

Hmm I can try out your suggestion and play with the parameters. What in all worlds is this number about?  ```1.2.840.113556.1.4.1941``` :-)

I can only say that, according to the #openvpn guys in IRC this filter this rocketchat generates, even though I'm on 389, would also not work for filtering out people from ah group with an openvpn server. One would need to do that via ```ldapco

[2017-02-03 14:37] engelgabriel commented on #5887
@karlprieb lets give some visual hint about the  `CTRL+P` / `CMD+P`  on the search element.

[2017-02-03 14:44] Coros commented on #5900
It's an objectclass filter.  See https://social.technet.microsoft.com/wiki/contents/articles/5392.active-directory-ldap-syntax-filters.aspx#Examples

[2017-02-03 15:01] rodrigok commented on #5898
I did some investigation here.

The user was in the channel, I added the user as moderator as @birkb described and the user received the `moderator` badge correctly but the list below was not updated.

The problem is related with subscriptions and the changes we did with client cache. The client receives the subscriptions and users but our current subscription model is not related with `rocketchat

[2017-02-03 15:08] Isabello commented on #5878
Password reset is broken for certain providers for us as well. It works with gmail but not hotmail.

[2017-02-03 15:15] birkb commented on #5898
You are right. After switching from compact to normal view mode i see the badges and the user has the moderator badge. This means the user has received the permissions, but is not listed in the permissions UI. Because of that i'm not able to revoke the permissions.

[2017-02-03 15:15] graywolf336 commented on #1724
@engelgabriel don't we already have this right now?

[2017-02-03 15:22] graywolf336 commented on #5059
This is no longer an issue, was fixed during the rest api revamp.

[2017-02-03 15:22] #5059 closed

[2017-02-03 15:25] graywolf336 commented on #5762
Can you try to update and try again? As this is working in the demo server :thinking:

[2017-02-03 15:25] #5762 closed

[2017-02-03 15:29] graywolf336 commented on #4776
https://github.com/RocketChat/Rocket.Chat/pull/5876 closed this issue. `HTTP('get', 'url', optionsObj)`

[2017-02-03 15:29] #4776 closed

[2017-02-03 15:29] #4983 closed

[2017-02-03 15:31] toxicgumbo commented on #216
I bumped pull request https://github.com/RocketChat/Rocket.Chat/pull/4667 in hopes of some movement. @cpitman has taken this in such a (hopeful) direction that it's more or less prohibitive for anyone else to make incremental changes to the current source.

[2017-02-03 15:33] graywolf336 commented on #4287
@kiview Awesome, if you need assistance with any of the APIs (ddp and rest) then hit me up on the demo server.

[2017-02-03 15:35] marceloschmidt commented on #4309
We removed bulk/register. You can specify roles on `users.create` now: https://rocket.chat/docs/developer-guides/rest-api/users/create#user-create

[2017-02-03 15:35] #4309 closed

[2017-02-03 15:37] graywolf336 commented on #3329
This has been verified to work recently, feel free to open it again if you are still having this issue provide the information you're using. :+1:

[2017-02-03 15:37] #3329 closed

[2017-02-03 15:47] MartinSchoeler commented on #5899
@engelgabriel In develop branch it's working properly, maybe was it already fixed?

[2017-02-03 15:55] graywolf336 commented on #2092
Can someone show a screenshot of how this would be used and what the result would be? Can it not be an integration like giffy?

[2017-02-03 15:56] graywolf336 commented on #5896
This happens when the result from going out to the urls doesn't work and errors out.

[2017-02-03 16:01] graywolf336 commented on #2508
This can be done via the CSV importer now: https://rocket.chat/docs/administrator-guides/import/csv

[2017-02-03 16:01] #2508 closed

[2017-02-03 16:06] graywolf336 commented on #722
This is now completed.

[2017-02-03 16:06] #722 closed

[2017-02-03 16:09] graywolf336 commented on #5879
This only affects compact mode viewers.

[2017-02-03 16:17] thiesschneider commented on #2092
it is integrated in our giffy integration https://github.com/FinndropStudios/GifRocket

[2017-02-03 16:34] graywolf336 commented on #2092
Closing this in favor of that then, thanks :+1:

[2017-02-03 16:34] #2092 closed

[2017-02-03 16:43] rodrigok commented on #5898
@birkb Yeap. But, inside the room, you can click on the user's username to see more details and there exists a button to add/remove that user as moderator.

[2017-02-03 16:58] rasos commented on #2092
We have produced a set of custom emojis (available since RC ~0.42), which fulfill all our needs for stickers.

[2017-02-03 16:58] mrplow commented on #4913
This has resolved itself. I think it was the 0.50 release that fixed it but I can't be sure.

[2017-02-03 16:58] #4913 closed

[2017-02-03 18:06] birkb commented on #5898
@rodrigok Thank you for the clarification. This means the problem only affects the permissions UI.

[2017-02-03 18:41] drickerusa opened #5903 "Channel not found but listed"
Rocket.Chat Version: 0.49.3
Running Instances: 10
DB Replicaset OpLog: Yes
Node Version: 4.5.0

I think this started once I upgrade to 0.49.3 but not quite certain. A channel had been created and member count is 4. The information on the channel says 4 users and 4 messages. But when I try to go to it I get the big red message that the channel does not exist.
Any ideas how to best approach the issu

[2017-02-03 19:09] vitamindck commented on #5903
this sounds like what happened to me when i was testing 0.49 and i toggled "private" in the room info of a direct message. i believe i was unable to access private groups afterward.

[2017-02-03 19:25] engelgabriel commented on #5903
Can you try again with the develop branch?

[2017-02-03 19:50] drickerusa commented on #5903
This is a production system. I have a standard change update on a monthly bases which is not until Feb. 23rd. To my knowledge this is the only channel that has this problem. Wasn't sure if anyone else had seen this behavior. I wouldn't be opposed to deleting it if someone can give me a pointer or two on mongo syntax.

[2017-02-03 20:01] drickerusa commented on #5903
A little more info. If I go into the admin util and look up that room. I can not add a name, topic or change the type. Even I I do make a change it seems to save but  no change in the UI.
![image](https://cloud.githubusercontent.com/assets/21371983/22606345/cced560c-ea10-11e6-8278-294443b35a80.png)

[2017-02-04 00:22] Lochemage commented on #4125
It seams the above script no longer works as of build 0.50.1

Now when I click it, it does not invoke the 'openClick' method and instead opens an empty panel.

[2017-02-04 01:39] Frankstar commented on #328
@engelgabriel Is it possible to use hyperlinks and inline picture in topics?
Like `![Build Status](https://travis-ci.org/RocketChat/Rocket.Chat.svg?branch=develop)`

![Build Status](https://travis-ci.org/RocketChat/Rocket.Chat.svg?branch=develop)

or Hyperlinks like `[Rocket.Wiki](https://rocket.chat/docs/)` [Rocket.Wiki](https://rocket.chat/docs/)

[2017-02-04 02:42] olafleur commented on #5838
This is an Autolinker issue. Will fill an issue there.

[2017-02-04 08:20] geekgonecrazy commented on #328
Hyperlinks are supported.  You'll see we use them on our demo server.  Images however I don't think are.  I would probably argue it would just add clutter.  What do you do if some puts a huge graphic there?

[2017-02-04 08:28] RichardFoxworthy commented on #328
Images & icons in topic can deliver very valuable context and info in compact way. Definitely a good thing to support

[2017-02-04 09:21] Frankstar commented on #328
@geekgonecrazy well sure - but you can mess up so many things.
if you put in a big picture and mess up the header -> remove it.

Still its a very usefull Feature for us any many others i guess.

[2017-02-04 12:20] Frankstar commented on #4975
absolutley love this!
Also we could use this to highlight/background own messages for a better readability

[2017-02-04 15:43] rasos commented on #5881
Reason was that MongoDB log grew to 700MB in /var/log/mongodb
Applied logrotate. Sorry, this is definetely a sysadmin issue ;-)
Much faster experience now.

[2017-02-04 15:43] #5881 closed

[2017-02-04 17:53] DMWOO7 commented on #658
@codyaray That's a load balancer environment. As I understood this ticket, it's about having some kind of teams in Rocket.Chat like Mattermost has. In Mattermost, you can create different teams, that are independent from each other, but share the same user-base. For example you can create TeamA and TeamB. Now when UserA creates an account, you give them access to TeamA only and UserB to TeamB.

In

[2017-02-04 19:06] engelgabriel commented on #5899
@k0nsl can you test with the develop branch?

[2017-02-04 19:11] engelgabriel commented on #5900
@MartinSchoeler can you add this to the documentation?

[2017-02-04 19:16] engelgabriel commented on #5883
@kentonv can you give @zeigerpuppy a help here?

[2017-02-04 19:17] engelgabriel commented on #5882
@karlprieb can we use display flex here?

[2017-02-04 19:44] engelgabriel commented on #5840
@neha1deshmukh what CRM are you looking into?

[2017-02-04 19:44] engelgabriel commented on #5840
@MartinSchoeler can you add the LiveChat api to the documentation? Ask @sampaiodiego for help.

[2017-02-04 19:48] andyrewlee commented on #1149
we deleted one of our users who was having a direct message with some of other users. then we created a new account with the same username.

when trying to open up a direct message with the same people, we got a 500 internal server error.

so we followed @kalebwalton's manual solution and it seemed to work. we didn't get the 500 internal server error anymore. however, now it says "No user with use

[2017-02-04 20:01] engelgabriel commented on #5859
Lets see if the problem persists on the next release? Please install and test with version 0.51.0 when it comes out.

[2017-02-04 20:15] kentonv commented on #5883
Rocket.Chat does not currently use the appropriate Sandstorm APIs for sending e-mail, so e-mail won't work.

One solution could be to modify Rocket.Chat to use the e-mail APIs.

However, since the e-mail is being sent for notification purposes, it may make more sense to rely on Sandstorm's notification system here. In this case, Rocket.Chat should simply hide the e-mail config in its interface. Ro

[2017-02-04 20:20] engelgabriel commented on #5864
@rodrigok can you help here?

[2017-02-04 20:22] engelgabriel commented on #5754
@igorstajic we will release the version 0.51.0 on monday, lets give it another try.

[2017-02-04 20:24] engelgabriel commented on #5867
https://github.com/RocketChat/Rocket.Chat/pull/4339

[2017-02-04 20:31] engelgabriel commented on #5878
Can you give more info? Are the users form a specific domain?

[2017-02-04 20:32] engelgabriel commented on #5883
@sampaiodiego can you please hide all the email setting on the Sandstorm build script?

[2017-02-04 20:41] kenspi commented on #5878
Yes, the accounts are from the same domain, as is the main admin account. This domain is defined in the accepted domains setting.

[2017-02-04 22:00] engelgabriel commented on #5878
@RocketChat/core ideas?

[2017-02-05 02:44] cdhowie commented on #4776
@graywolf336 How does this play with the requirement that hook functions be synchronous (return their result)?  See my request #4775.

[2017-02-05 02:57] graywolf336 commented on #4776
The `HTTP` runs synchronously, so using this in an incoming webhook to gather information is what we actually use on the demo server currently. However your request is about being asynchronous, which I will take a look in more detail about your request the first of this week.

[2017-02-05 04:07] fspc commented on #3099
The documentation should reflect the fact that any region that only supports version 4 as shown at http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region will exhibit the same issue as the S3 Frankfurt Region.

[2017-02-05 09:09] Frankstar commented on #1775
i think it would be ok to have a "enable emded preview for given urls" -> "regex, comma seperated"
something like you do in "AutoLinker URL Regular Expression"

so we can enable the preview only for youtube, as example

[2017-02-05 15:54] tulip0 opened #5906 "REST API's channels.list.joined does not include private channels"
"version": "0.50.1",

`channels.list.joined` should logically include private channels, but there is apparently no method at all for seeing them through the REST API methods. The API seems generally unaware that there are different types of channel visibility, there's seemingly no mention of it in the documentation.

[2017-02-05 21:17] pletchman opened #5907 "RocketChat freezes on reboot"
Rocket.Chat Version:
Running Instances:
DB Replicaset OpLog:
Node Version:

We've been plagued with the server becoming "unresponsive" when restarting it. In digging it seems similar to the issue others reported with Slack bridge (screenshot attached). We aren't using that and the only change we make to the admin side is using a custom OAuth to attempt to connect to a boonex site.

I thought maybe

[2017-02-05 21:54] christianreiss opened #5908 "Bug: Leaving 'private rooms'"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0

I noticed three irritaging issues (all withing a browser session):

a) If you are in a 1:1 message window and send a message, for about 1/3 of a second the left overview bar (channel view) marks 1 unread message (unread counter) for that channel, then immediatly removed that unread message notificat

[2017-02-05 22:10] christianreiss opened #5909 "Issue: Not all iPhone users get notifications"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0

Hey folks,

I have some weird issue here. Notification in general are working; No issues are reported with android users. I know of at least two iPhone users who both run iOs 10.2 with up-to-date Rocket.Chat App (from iTunes store). Both (claim, unverified by me) that notifications are on. Only one

[2017-02-05 22:18] wandonye commented on #5864
I can confirm now that
`stream-room-messages/(room-id)` is the right stream to receive the complete msg.
`stream-notify-user/subscriptions-changed` and `stream-notify-user/notification` can be used to send notification

[2017-02-05 22:18] #5864 closed

[2017-02-06 02:25] engelgabriel commented on #5907
I believe this have been fixed on the latest versions, can you please check?

[2017-02-06 02:42] mattlin commented on #5104
@engelgabriel Hope it will be fixed soon :P  Thanks 💯

[2017-02-06 03:10] pletchman commented on #5907
It froze on your beta cloud deployed so I assumed that was the latest version.

Pletchman
adam@neotekcorp.com

[2017-02-06 06:52] neha1deshmukh opened #5910 "Not able to update roles while registering the user"
Hello,

While registering the new user using 'https://xx.xxx.xxx/api/v1/users.register' api i am passing "livechat-agent" as role to api but  its taking only "user" as role.

Thanks for your continued support!
-Neha

[2017-02-06 07:37] Sanbornzhang opened #5911 "How to change Incoming WebHook accesstoken"
Hi:
  I create new  Incoming WebHook, but web i use Webhook URL the return 404
  The access token have ` \ ` ; So i want change the access token.
  Can someone tell me how to change access token or others solution.
Thanks a lot!

Rocket.Chat Version: 0.482
Node Version: 4.5

[2017-02-06 07:39] manuelbachl commented on #5896
checked this on our RC instance this weekend and it worked like a charm. We just reintegrated the whole integration again.

[2017-02-06 07:59] aitzol76 opened #5912 "mongoDB authentication issue after auth enabled"
I'm trying to set the environment variables to run rocketchat snap in ubuntu 16.04 as follows:
<pre>
Export MONGO_URL = mongodb: // user: password @ localhost: 27017 / parties
Export ROOT_URL = https: //chat.mysite.com
Export Port = 3000
</pre>
-/etc/mongod.conf - security.authenticacion: enabled

when I run:
<pre>
$ Snap run rocketchat-server
</pre>
, I receive the following error message:
<pre>

[2017-02-06 08:46] Sanbornzhang commented on #5911
I found some solution

change mongoDB table `rocketchat_integrations`

but `var UNMISTAKABLE_CHARS = "23456789ABCDEFGHJKLMNPQRSTWXYZabcdefghijkmnopqrstuvwxyz";`
didn't have '\?+' so can anyone tell me? [random.js](https://github.com/meteor/meteor/blob/master/packages/random/random.js#L88)
refer:  [integrationsIncoming.coffee](https://github.com/RocketChat/Rocket.Chat/blob/ddfd757496e2c7a17f016d19a

[2017-02-06 10:25] NQNetwork commented on #5896
Hello,

When we try a curl on an url with the container, it's appear that Rocket.Chat try to connect by proxy.domain.com. How to disable that?

docker exec -it b47060af2214 curl -l  "https://api.giphy.com/v1/"
curl: (7) Failed to connect to proxy.domain.com port 1080: Connection timed out

[2017-02-06 11:30] NerdyProjects opened #5913 "Slack integration: Reactions made by the bot user"
The current slack integration does not handle user names, when it comes to reactions.
If a user in RocketChat reacts to a message, in slack it is displayed as the bot user.

This might be unwanted in a lot of scenarios. (One is, I am using reactions with a group of people to implement a poll-style feature manually, if people forget that they are on rocket chat, this fucks up the results).

So a) F

[2017-02-06 13:03] graywolf336 commented on #5896
Have you setup a proxy for it to use? As Rocket.Chat by default won't try to proxy (that I'm aware of) unless it has been told to.

[2017-02-06 13:18] neha1deshmukh commented on #2001
Hey hi,

Could you please elaborate little bit more with short example how i can fix below issue

Goal: using Rocket.Chat inside my website inside an iframe.
Issue: how to login a user simultaneously on my website and in iframed rocket.chat, without having them to log-in two times ( one in my website and one in the iframe )?

What I want to accomplish is: a user login in in my website and in a tra

[2017-02-06 13:31] TheReal1604 opened #5914 "Password lost email template variables not working (some)"
Rocket.Chat Version: 0.50.1
Running Instances: 3
DB Replicaset OpLog: enabled

I tryed to create some custom email templates for my users and saw that the following variables not working at the moment:

[name]
[fname]
[lname]

Can you fix this? :-)

[2017-02-06 13:33] graywolf336 commented on #5914
The fix for this is easy, if someone wants to hash it out quickly.

https://github.com/RocketChat/Rocket.Chat/blob/develop/server/methods/sendForgotPasswordEmail.js#L14

Needs to pass in the user data that https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/lib/placeholders.js#L12 requires.

[2017-02-06 14:03] soundstorm opened #5915 "[Invite_URL] for invitation mail (registration with secret only)"
Rocket.Chat does currently feature placeholders for [Site_URL], but when registration with secret only is set, the url must be manually extended by /register/secret, which is quite bad, considering a non-static secret (regularly changing is recommend?). Or an alternative would be: add the mail-address to the db as "invited member", so that the admin may revoke invitation (so the admin does not hav

[2017-02-06 14:10] soundstorm commented on #5913
a) The bot is a "user" itself. As the permissions for the bridge are only given to this specific bot/user (and not all users with their usernames), the reaction can be only by the bot. It's on slack, but why would they..?

[2017-02-06 14:41] cdhowie commented on #4776
Ah, interesting.  I assume then that this blocks the entire Rocket server while the request is pending?  Or do hooks get executed in a new runtime?

[2017-02-06 14:42] marceloschmidt commented on #4342
Just tested with a google account and it's fetching the right avatar!

[2017-02-06 14:42] #4342 closed

[2017-02-06 15:22] MartinSchoeler commented on #5910
@neha1deshmukh have you tried to use the users.create? https://rocket.chat/docs/developer-guides/rest-api/users/create

[2017-02-06 16:08] karlprieb commented on #5882
We already use flexbox here. I forgot to declare the input width.

[2017-02-06 16:08] andypost commented on #4806
Looks a duplicate of #3069

[2017-02-06 16:11] kiamgrebgnur commented on #3790
Hi,

can you explain how to use html in the text property?
`"text": '<span>' + request.content.foo + '</span>'`
prints just the html and replaces the tags with entities.

I've tested it inside and outside the attachment key.

[2017-02-06 17:25] #5882 closed

[2017-02-06 18:30] MartinSchoeler commented on #5900
@Coros Would you mind contributing to our docs to so that it will make it easier on other users that need this solution? You can contribute in here https://github.com/RocketChat/Rocket.Chat.Docs/tree/master/5.%20Administrator%20Guides/Authentication/LDAP Thanks!

[2017-02-06 19:07] karlprieb commented on #5280
Done in #5703

[2017-02-06 19:07] #5280 closed

[2017-02-06 19:14] #5879 closed

[2017-02-06 19:27] juniorsemacento commented on #2737
@engelgabriel @rodrigok would be great to have this feature enabled... so we can monitor the logs and use fail2ban.. any idea if it will be available any time soon? Thanks

[2017-02-06 19:38] rodrigok commented on #5896
@NQNetwork You should remove the `HTTP_PROXY` and `HTTPS_PROXY` environment variables from your [docker-compose.yml](https://github.com/RocketChat/Rocket.Chat/blob/develop/docker-compose.yml?ts=2#L15-L16)  or change to your proxy settings.

[2017-02-06 19:38] #5896 closed

[2017-02-06 19:38] rodrigok commented on #5896
Please reopen this issue if the problem persists

[2017-02-06 19:46] djulien19 opened #5920 "Cannot change the translation of titles in the administration section"
Rocket.Chat Version: 0.43.0
Running Instances: 1
DB Replicaset OpLog: 63
Node Version: v4.6.0

[2017-02-06 20:00] #5046 closed

[2017-02-06 20:13] lapvanluu commented on #5293
We are currently on build 0.51.0-develop and we are still having this issue.  You can log in to the server and on the bottom 1/3 of screen is just black, you restart the app and you get invalid user and have to relog in again.

[2017-02-06 20:14] karlprieb commented on #5392
Its already fixed. Probably was a cache problem.

[2017-02-06 20:14] #5392 closed

[2017-02-06 20:23] #5721 closed

[2017-02-06 20:24] #5871 closed

[2017-02-06 20:25] Coros commented on #5900
@MartinSchoeler The LDAP objectclass filter for nested groups/users already appears to be documented there.

[2017-02-06 20:26] #5327 closed

[2017-02-06 20:30] #5808 closed

[2017-02-06 20:45] #5010 closed

[2017-02-06 20:57] #5914 closed

[2017-02-06 21:35] rafaelks opened #5926 "Support multiple certificates/apps on Push Notification (iOS and Android)"
Dear @RocketChat/core ❤️ ,

We currently support just one certificate (iOS) and one push-key (Android) to send push notifications. But since we'll now have more than one app for each platform, it would be required to support different keys.

My suggestion is to send the application id (or some unique identifier) when registering the device for push. On the JSON object today we currently have the `

[2017-02-06 21:49] rodrigok commented on #5926
@rafaelks Yes, that probably is the best way to do that.

[2017-02-07 02:49] saram-kon commented on #5771
For docker one can add custom scripts with docker cp into the location inside the rocketchat container, but these get deleted with every update via `docker pull rocketchat/rocketchat:latest`
It would be very convenient to be able to store them somewhere more persistent.

[2017-02-07 04:24] neha1deshmukh opened #5927 "how to add Rocket Chat through iframe"
Hey hi,

Could you please elaborate little bit more with short example how i can fix below issue

Goal: using Rocket.Chat inside my website inside an iframe.
Issue: how to login a user simultaneously on my website and in iframed rocket.chat, without having them to log-in two times ( one in my website and one in the iframe )?

What I want to accomplish is: a user login in in my website and in a tra

[2017-02-07 04:32] jaredhilton commented on #4982
I'm on v0.51 (NodeJS v4.6.2). Trying to reproduce with all of the various roles in both activated and deactivated statuses and am not having this issue. Can either of you confirm whether or not you are still experiencing this issue?

[2017-02-07 04:57] neha1deshmukh commented on #5910
@MartinSchoeler to use the users.create i need Auth-Token and User-Id which i don't have as i am trying to register new user through api.

In this case which Auth-Token and User-Id should i use and how?

[2017-02-07 04:57] jaredhilton commented on #3651
@marceloschmidt @graywolf336 according to their [documentation](https://github.com/kahmali/meteor-restivus#authrequired), as soon as you set authRequired to true, it responds with a 401 when unauthenticated. The change I have come up with may need some consideration and could probably be done a little better -- essentially, we default with a response of info.version number (that solves for the mob

[2017-02-07 05:16] RichardFoxworthy opened #5928 "render emoji as images in emails"
Rocket.Chat Version: 50.1
Running Instances: 1
DB Replicaset OpLog: Disables
Node Version: 4.6.2

We can configure Rocket.chat to send email to users who were not logged in when the message was sent.

Any Emoji in the messages does not get rendered as an image - is is sent as plain text.

Would be good if these outbound emails would render emoji correctly

[2017-02-07 05:18] neha1deshmukh commented on #4166
@ Informatic how you did iframe integration. Can you give some example or documents?

[2017-02-07 06:57] #5911 closed

[2017-02-07 07:51] Rohlik commented on #5907
I have almost same problem. After click on restart button Rocket.chat freeze.
So only solution for me is restart via systemctl command via terminal.
**My settings:**
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: True
Node Version: 4.7.2
OS: RHEL 7

[2017-02-07 08:06] a5his commented on #5927
Hey @neha1deshmukh

I think you should try iframe integration.
`https://rocket.chat/docs/developer-guides/iframe-integration`

[2017-02-07 09:48] quanticware opened #5929 "Unable to start instance after OPLOG enable"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5

Hello,
When I try to activate OPLOG I have problem. My RocketChat is already in production since version 0.27

What I do:
mongo is already with oplog like see in doc.
[code]
In rocketchat systemctl file:
[code]

I restarted my rocketchat and:

[code]

I need to back to comment OPLOG variable and uncom

[2017-02-07 09:50] mattlin opened #5930 "Incoming web hook can not use "@""
Rocket.Chat Version: 0.49.3

**Incoming web hook can not use "@"**

curl -X POST --data-urlencode 'payload={"text":"@all Example message","attachments":[{"title":"Rocket.Chat","title_link":"https://rocket.chat","text":"Rocket.Chat, the best open source chat","image_url":"https://rocket.chat/images/mockup.png","color":"#764FA5"}]}' http://www.myrocketchat.com/hooks/abccd/WoY2p4SM2tGGhv9po5jaLPBKo4P

[2017-02-07 10:25] Rohlik commented on #4332
This can be useful for import fields like mobile_number or department.
+1 for this feature.

[2017-02-07 10:26] MartinSchoeler commented on #5910
@neha1deshmukh you can try to login with a admin user using /login( https://rocket.chat/docs/developer-guides/rest-api/authentication/login )
and that should return a json with the auth-token and user-id

[2017-02-07 10:37] marceloschmidt commented on #3651
Hello @jaredhilton thanks for helping out on this one. Please create a pull request with your solution! We'd love to see what you've come up with. Thanks!

[2017-02-07 10:44] engelgabriel commented on #5929
It should be
[code]

[2017-02-07 10:44] #5929 closed

[2017-02-07 10:44] engelgabriel commented on #5929
The `MONGO_OPLOG_URL` must always point the `local` database.

[2017-02-07 11:07] MartinSchoeler opened #5931 "Review the current tests and see if they can be improved"
And how we should improve them.

[2017-02-07 11:11] MartinSchoeler opened #5932 "Make the skipped tests functional again"
Some tests were skipped because they were failing in travis

[2017-02-07 11:18] marceloschmidt commented on #4982
@JamieH could you please retry? I would try it myself, but what do you mean by unactivated user? Is your server setup with "Manually approve new users" set to true? Or do you mean the user has not verified their e-mail? Anything else? :) Thanks

[2017-02-07 11:30] JamieH commented on #4982
"Manually approve new users" is set to true

[2017-02-07 12:19] evaletolab commented on #322
:+1:  for SSO solution, it's a great feature that will allow a better user experience.

As an example, Disqus allow this feature and it really gives a better user experience :rocket:
https://help.disqus.com/customer/portal/articles/236206-integrating-single-sign-on
We use it in our plateform karibou.ch, here a screenshot before the karibou.ch login,
![image](https://cloud.githubusercontent.com/ass

[2017-02-07 12:34] rodrigok commented on #5776
The file exists, is there, is accessible, but the server does not hit the file. I tried to debug and change the headers inside the Objective-C code, with no success :(

[2017-02-07 12:57] cescgie commented on #5878
Mine is broken as well. I got this error:

SMTP test is working but reset password shows above error.
I use sendgrid and docker.

[2017-02-07 13:39] neha1deshmukh commented on #5927
@a5his  i am using iframe-integration only.
i have created  three files
FILE # 1:
<?php /* ---------------- Page with ROCKET CHAT in an iframe ----------------------- */
 <iframe src="https://<YOURCHAT>.xxxxx.com" style="width:100%;height:100%;"></iframe>

 FILE # 2:
<?php /* ---------- Page referenced by IFRAME URL Rocket Chat Account Setting ------------ */
 On login function my website i am cal

[2017-02-07 13:49] nredko opened #5934 "Server address is added at start of data:image URL"
Rocket.Chat Version: 0.51.0

I'm sending images inline in msg.attacments. They are then shown well in standalone Windows app, but are broken in web and mobile clients:

[code]

In fact error is in "fixCordova" helper here:

https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-message-attachments/client/messageAttachment.coffee#L4

I have no time to fork-build-test, but have f

[2017-02-07 14:06] lsavio opened #5935 "Rocketchat client doesn't show popup"
Rocket.Chat Version: 2.2.0
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.5

Hi,I installed Rochetchat (client on windows) version 2.2.0. In rocketchat, i did link to jitsi (with openfire meet plugin). When i open a videoconference by click on the icon of jitsi, the popup about login/password appears when the browser it's used, but if instead of browser i use the client of rocketchet, t

[2017-02-07 15:30] quanticware commented on #5929
I changed to .
`Environment=MONGO_OPLOG_URL=mongodb://localhost:27017/local?replicaSet=001-rs ROOT_URL=https://xxxxxxxx/ PORT=3000`

And now:
[code]
Surprise! Same problem.

Sorry...

[2017-02-07 15:42] jszaszvari opened #5936 "Add a option to switch between toolbar search and spotlight search"
Rocket.Chat Version:  0.51.0
Feature Request:

Would it be possible to have a option to switch between the spotlight old search style and the new toolbar one?

I can see from the changes here that it looks to have been completely removed, And I've already gotten multiple emails from staff complaining that they dont like the new search box just sitting there as a primary component all the time

I p

[2017-02-07 15:47] jszaszvari commented on #5441
@geekgonecrazy  - Happy to confirm its working well in both modes now

[2017-02-07 15:49] flayks opened #5937 "Custom light layout theme is confusing other colours"
Hey,
I customized my RocketChat install with some of my brand colors and apparently this is not working well with light scheme… the icons and secondary stuff on the sidebar are kinda invisible and there is no option to modify it.
Any help? Or maybe an enhancement for the next version?
Thank you!

![capture d ecran 2017-02-07 a 16 44 03](https://cloud.githubusercontent.com/assets/273716/22698635/5c

[2017-02-07 15:57] danpospisil opened #5938 "Duplicate key error on LDAP Sync"
We have encountered this error on LDAP sync with one user. This user was modified in LDAP several times (even changing its DN because of a typo) while not changing its uidNumber which is set as Unique Identifier Field.
LDAP sync after that ends up with an error (E11000 duplicate key error collection). I have tried to completely delete the user from Rocket.Chat but sync after that ends up with the

[2017-02-07 16:14] dmkjr opened #5939 "SNAP Update"
Rocket.Chat Version: 0.50.1

I have tried to update SNAP by terminal

snap refresh rocketchat-server

However, it's telling me that an update is not available.  Is there another method to push the update?

Thx - David

[2017-02-07 16:29] childnode commented on #3908
:information_source:  see #971

[2017-02-07 16:32] childnode commented on #971
this mostly happens when linking external websites not running / using HTTPs link where favicon is automatically sourced via http, so mixed Content warning is build
The proxy might solve at least two, even three problems
1. the image is cached and always visible, even the remote site is down
- the shared content / message is historically stored within the chat platform, even it i
2. the remote ser

[2017-02-07 16:33] drickerusa opened #5940 "Users no longer able to upload files"
Rocket.Chat Version: 0.49.3
Running Instances: 7
DB Replicaset OpLog: yes

This seems to be a recent issue. Users are reporting that uploads are no longer working.
If I look at the my exception logs I see the following:
![image](https://cloud.githubusercontent.com/assets/21371983/22699768/b15274c4-ed15-11e6-9212-6cd24aafc58c.png)

These errors happen when the user is uploading a file. I also see i

[2017-02-07 17:33] engelgabriel commented on #5937
@flayks we need to improve this on the next release. It is a know issue with light themes.

[2017-02-07 17:42] engelgabriel commented on #5936
Hi @jszaszvari

I am sorry to hear that. We have no plans to keep both templates working, and I'd strongly recommend you not to do that yourself as the change on templates and functions was significant.

If I were you, I'd leave the complains site there for a week or two, and re evaluate if putting the spotlight back in the previews place is worth your time... is would bet it is not.

What we can

[2017-02-07 17:42] #5936 closed

[2017-02-07 17:46] MartinSchoeler commented on #5940
@drickerusa  Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just

[2017-02-07 17:49] drickerusa commented on #5940
@MartinSchoeler I'll take an emergency change tonight in order to upgrade to 0.51.0, I'll report back after I've done so.

[2017-02-07 18:38] leandroqm commented on #4223
+1 for seafile.

[2017-02-07 18:44] geekgonecrazy commented on #5939
@dmkjr Since snaps auto update, we've changed our process slightly.  We no longer immediately release when a new release is cut.  We spot check them and make sure nothing is wrong.  We don't want anyone's server to just randomly go down because of a bad update.  As we increase testing, we will probably make this automatic.

Just a precaution to protect you guys from an install going down.  I'm tes

[2017-02-07 18:53] dmkjr commented on #5939
Thanks.

[2017-02-07 18:58] geekgonecrazy commented on #5939
Verified and released. Feel free to reach out in the [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) channel on our demo server for inquiries like this.

[2017-02-07 18:58] #5939 closed

[2017-02-07 19:00] #5441 closed

[2017-02-07 19:01] geekgonecrazy commented on #5441
Thanks for reporting back :+1:

[2017-02-07 20:47] engelgabriel commented on #5935
Can you please try the 2.4.0?

[2017-02-07 20:55] christianreiss commented on #5908
This issue seems fixed with 0.51 release.

[2017-02-07 20:55] #5908 closed

[2017-02-07 21:19] christianreiss commented on #5909
This issue has also been addressed within 0.51 release. Notifcation for all those iPhone users who had issues are now resolved.

[2017-02-07 21:19] #5909 closed

[2017-02-07 21:41] lucasvanhalst opened #5943 "Script for logged in users runs each time a user switches channel"
Rocket.Chat Version: 0.50.0

Each time you switch channels the script for logged in users is ran, in the past this would only run on page load (which is the expected result).

[2017-02-07 22:38] k0nsl commented on #5899
I currently cannot test, I'm afraid. But if you say it is fixed, then I trust your word :)

[2017-02-07 23:06] Jazun713 commented on #4626
Seeing this on 0.50.1  Any status on this?

[2017-02-07 23:23] divergefx opened #5944 "Additional message features"
Rocket.Chat Version: 0.50.0
Running Instances:
DB Replicaset OpLog:
Node Version:

1. The ability to move a message to another channel
Use case: we often get into off-topic chatter and I like to use mongochef to move those messages to an off-topic channel manually by changing the RID.  Would be great to have this feature for admins & moderators.

2. Multi-select messages to move or delete more tha

[2017-02-07 23:25] divergefx opened #5945 "Alert admin DM or Email when new user signs up"
Rocket.Chat Version: 0.50.0
Running Instances:
DB Replicaset OpLog:
Node Version:

Simple feature to alert admins with either a DM or email when new users register.

[2017-02-07 23:36] Jamie-Owen commented on #5940
@drickerusa We just upgraded to 0.51.0 and I can confirm it's still broken... I recall from a previous issue that we are running a similar setup.

I think I may have found something, as when I looked at the `rocketchat_uploads` collection I noticed a new field: `path` which has the same value as the `url` field minus a `/` like so:

`{ "_id" : "XN4Bdn3z3Yw28dcai",  "path" : "ufs/rocketchat_uploads

[2017-02-08 01:52] sscholl opened #5946 "Outgoing Webhook sends empty body"
Rocket.Chat Version: 0.50.1
Running Instances: 1
DB Replicaset OpLog:
Node Version: v4.7.1

Hello,
I am relatively new to Rocket.Chat, but playing around with it for some weeks. Month ago, I wrote a outgoing webhook integraton for Slack. Now I want to integrate it into rocket.chat, but it didn't worked. After analyzing I found out, that the body of the POST is completely empty:

[code]

Instead th

[2017-02-08 02:36] sscholl commented on #5946
Oh man. I found my issue. My Nodejs REST-Client was not able to decode. I added the JSON support by following code into my nodejs rest app. This seems to be the difference between Slack and Rocket.Chat. Slack requires `bodyParser.urlencoded`.

[code]

[2017-02-08 02:36] #5946 closed

[2017-02-08 03:43] mattlin commented on #5930
@MartinSchoeler  Thanks a lot

[2017-02-08 06:11] RichardFoxworthy commented on #5446
This prevents admins from removing channel owner role from a user.

[2017-02-08 06:15] RichardFoxworthy commented on #5628
Related: allow users to configure timing for bundling and send of email alerts.

In many cases a daily digest would be preferable to real-time mail-bombing

[2017-02-08 06:38] mattlin commented on #3073
I find this issue in 0.49.3 .   It is not fixed in  0.49.3  😢

[2017-02-08 06:47] mattlin commented on #4832
@Huljo Thank you very much

[2017-02-08 06:58] AmauryVanEspen opened #5947 "Mapping interactions"
Good morning mates,

i would like to know a bit more about integration and features likes "mapping" through API.
For exemple, i could be interesting to map participation and interactions of users and channels through MetaMaps.
Like, getting a public web page with a map of channels and users, in a list view and on a map view
https://github.com/metamaps/metamaps

What do you think about ?

best

Ama

[2017-02-08 09:06] b0c1 commented on #1593
The main problem with using meteor highlight js is: the integrated highlight js is 2 years old.
Not plan to upgrade the highlight js (in a forked repository) or using highlight.js directly in the application.

[2017-02-08 11:06] Xarkam opened #5948 "Allow custom directory for files with file system using Snaps"
Rocket.Chat Version: 0.51.0
Running Instances: 1

Hello, I try to define a custom directory for uploaded files but it doesn't work if the directory isn't /var/snap/rocketchat-server/common/uploads

If I define other directory (/mnt/RocketChatFiles) I recieve this error

[code]
Disable the protected uploaded files doesn't work.

Any help to find a workaround ?

Thanks.

[2017-02-08 11:07] rvion commented on #1227
just got this error too while importing my stack log

[code]

I just deployed rocket.chat today with docker so it used latest images

[2017-02-08 11:08] rvion commented on #1227
@graywolf336 @georgiosd I can't seem to recover from the issue, everything seems to be locked, and restarting containers doesn't work.

Do you have any advice regarding how to proceeed?

[2017-02-08 11:36] alexbrazier commented on #3526
I think it would be good to just use `#` to link private channels as well. Currently they come up as suggestions when you start typing, but they won't be linked.

I think if the user that sends the message has permission to see the private channel, then it should be linked for everyone to see. Another issue could be to have a request to join private channel, that will send a message in the channel

[2017-02-08 11:53] lsavio commented on #5935
Hi,
i tried with the version 2.4.0 as suggest you, but there is the same problem, popups aren't visibile (then i get error of not authentication)...

[2017-02-08 12:18] pbelau opened #5949 "Can't activate new users"
Rocket.Chat Version: 0.51.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.1

"activate" button does not turn green after new users have been registered and verified.

[2017-02-08 12:27] Jamie-Owen commented on #5940
@drickerusa Are you using a reverse proxy? We basically resolved this by setting ip-hash as the load balancing method, where we were previously using least-connected.

Still though, something has changed in recent months, least-connected was working fine for us up until we upgraded last night.

[2017-02-08 12:40] rvion opened #5950 "OEmbed duplicated record error while importing from slack"
Just got this error too while importing from stack

[code]

I just deployed rocket.chat today with docker so it used latest images

[code]

I don't find any way to recover from this issue. restarting the rocket.chat or mongdo db doens't solve the problem

it seems to be linked to https://github.com/RocketChat/Rocket.Chat/issues/1227, but this issue has been closed after this fix attempt: https://g

[2017-02-08 13:11] engelgabriel commented on #5948
Are you sure the user running the Rocket.Chat process has permission to that folder?

[2017-02-08 13:16] engelgabriel commented on #5945
This is in progress, with the new APIs that can fire on almost any events :) You will be able to trigger your own scripts, that can fire a DM, for example.

Follow https://github.com/RocketChat/Rocket.Chat/pull/5823

[2017-02-08 13:18] engelgabriel commented on #5947
This could be awesome. We have been planning to integrate something like https://github.com/RocketChat/Rocket.Chat/issues/3824

But you will also be able to integrate almost anything with the new APIs from https://github.com/RocketChat/Rocket.Chat/pull/5823

[2017-02-08 13:19] engelgabriel commented on #3824
See also https://github.com/RocketChat/Rocket.Chat/issues/5947

[2017-02-08 13:23] olearytd commented on #5142
@jooola I found the new doc but its empty...

https://rocket.chat/docs/administrator-guides/notifications/mailer

[2017-02-08 13:28] jooola commented on #5142
Yup ... Maybe looking in the old files remaining on the git hub that we can use

[2017-02-08 13:32] neha1deshmukh opened #5951 "Using iframe integration not able to login to exact user which i am suppose to"
Hello,

What I want to accomplish is: a user login in in my website and in a transparent way it gets logged in to rc inside the iframe too.

i am able to do login to iframe when user logged to my website using iframe integration.
but in iframe its showing me different user than which username and password i used to login my website.

Its taking any ramdom user from the active/online users list of

[2017-02-08 13:41] marceloschmidt commented on #4982
@JamieH if you can, please try on a newer version. I have tested it with different settings and they are all working for me. I'll close this issue until further notice. Thanks!

[2017-02-08 13:41] #4982 closed

[2017-02-08 13:47] infinitnet opened #5952 "Internal Hubot issues"
Rocket.Chat Version: 0.51.0

Looks like Coffee scripts aren't loading with internal hubot after adding them via GUI.

[code]
Ideas?

[2017-02-08 13:47] Xarkam commented on #5948
It's a snap application. User is root (cf. doc for installing with snap under ubuntu)
And I trying with 777 permissions on the directory but nothing. Always same error.

[2017-02-08 13:49] #71 closed

[2017-02-08 13:49] #171 closed

[2017-02-08 13:52] engelgabriel commented on #1268
The PR https://github.com/RocketChat/Rocket.Chat/pull/5366 has been mergerd

Does this do what you guys needed?

[2017-02-08 13:53] engelgabriel commented on #5948
@geekgonecrazy can you help here?

[2017-02-08 13:57] Mte90 commented on #1268
As I can see that pr get the global notification settings, so in my case yes.

[2017-02-08 14:11] drickerusa commented on #5940
@Jamie-Owen I upgraded last night to 0.51.0 and was able to upload files now. I do use nginx as the reverse proxy and use the ip_hash setting. I have also tried least-connected. It seems over time I have gone back and forth on these settings (can you use both ?). I have some saml issues that seem to have cropped up after 0.48.1 but I'm not sure if that is the version they showed up after. I'll hav