[2019-11-14 16:40] cnvx commented on #12148
This is happening in our instance too but only for one user, they happen to be the only user running Windows.

Details:
RocketChat version: 2.0.0 (self-hosted Docker container)
Client OS: Windows 10
Video chat solution: Jitsi Meet

![image](https://user-images.githubusercontent.com/33325976/68876970-342bce00-06fd-11ea-84a8-1e2a8caa9cf9.png)

[2019-11-14 17:47] sampaiodiego commented on #15791
hi @kakcept .. not sure you're already aware but we changed how push notifications are sent on version `2.1.0` as you can see in this blog post https://rocket.chat/2019/09/27/push-notification/

having that said, have you tried reverting the changed introduced on `2.1.0` by changing the affected settings? (the settings can be found at Admin > Accounts > Default User Preferences.. The settings are

[2019-11-14 17:51] PackElend commented on #14016
We use TEAMS at office threading (whereby only one level) is still and properly will be possible when talking in channels. It is not possible when you chat.

This gets me to a different aspect. May I add my thoughts about threading, side chat or grouping. Although #13843  is a much richer discussion but closed so I post it here.

We may start in the very past. there were chatting tools like IRC cl

[2019-11-15 07:21] drflngr opened #15797 "Users have to login every time they use the iOS/android app"
Good day,

### Description:

There are some users who experience the problem that they are getting logged out from our server every time they don't use the app for a second. This happens everytime they go back to the homescreen or switch off their phone (not shutting it down, but only blacking out the screen). It is independent accross iOS and Android with the latest version of the app.
These prob

[2019-11-15 10:40] reetp commented on #15797
First, please properly fill out an issue template. Some server history may help too.
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Second, you give no information on what versions of the apps that you are using. They are not necessarily the same software, though they may be:
https://rocket.chat/2019/10/11/moving-mobile-apps-to-react/

Next have you checked settings i

[2019-11-15 11:03] jschirrmacher opened #15798 "Adding users requires setting 'Verify' flag"
### Description:

When an administrator adds a new user to the chat and leaves the `verify` switch off, the new user gets an email containing username and password, but cannot login until the administrator switches the `verify` flag on.

### Steps to reproduce:

1. As administrator go to 'Administration / Users' and click on '+' symbol in right sidebar.
2. Fill in necessary user fields, but keep '

[2019-11-15 11:06] reetp commented on #15793
The behaviour you noticed is most likely a bug - I think @sampaiodiego  had noticed this.

Yes you can normally set it per server via Admin->Accounts->Default User->Preferences->Mobile Notifications Default Alert (note 'Mobile Notifications' vs 'Push Mobile Notifications' in Account Settings  - should be called the same name)

But the My Account setting might not be working correctly as above.

Th

[2019-11-15 11:12] willstott101 commented on #15793
I mean the use cases for WhatsApp vs a self-hostable slack-like messaging app seem kinda monumental to me. The idea they serve the same goals is weird. Thanks for the point to the Default User account, that corresponds to what I saw i the code but I didn't quite appreciate it was an actual account.

[2019-11-15 11:19] reetp commented on #15793
Yup I agree. And the idiosyncrasies and flaws in the notifications system here are revealing themselves right now.... suddenly converted with no warning to send every message?? Good luck with that:

https://github.com/RocketChat/Rocket.Chat/issues/15791

NP - glad it helped.

[2019-11-15 11:21] reetp commented on #15798
Ha - just saw your PR so I guess the answer is it is the same?

[2019-11-15 11:39] reetp commented on #15788
Admin-> Accounts
Login Expiration
Forget User Session on Window Close

Note that this really seems to be a support issue and not a bug. You should really be asking elsewhere:

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-11-15 11:52] jschirrmacher commented on #15798
Yes, in fact, it is.

[2019-11-15 13:18] maciej87pl opened #15800 "RocketChat slows and high disk read usage after upgrade to 2.2.0"
Hello,
I migrated rocketchat to new server with rocketctl and i upgraded it to the last version, after upgrade I have problem with read data from disk. Mongodb reads from disk with all available resources. Disk is SSD.
This causes that I cannot do anything in rocketchat for few minutes, also I cannot upload files bigger than 50 mb, before upgrade I was uploading in messages 200 mb files - there is

[2019-11-15 13:48] jh1995 commented on #14728
Please update https://rocket.chat/docs/administrator-guides/federation/ to reflect these changes!

[2019-11-15 14:07] reetp commented on #15800
What are you using for file store? GridFS? Local File Store?

[2019-11-15 14:24] lolimay opened #15801 "Add added/removed events for external componets"

[2019-11-15 15:05] maciej87pl commented on #15800
Gridfs. Temporarly I disabled auto loading images, when i use "click to load" disk is going to read by 4 mongo db processes 300-400 mb/s. In v 2.0 this work ok, in 2.2 I have problem with this. Maybe this is caused by many and big files in gridfs? or maybe this is problem with some index on table updates.chunk?

[2019-11-15 16:47] reetp commented on #15800
For reference, how did you deploy this please? Docker, manual?

I can't comment specifically on Mongo indexes etc. Needs one of the devs to look but a lot are away today I believe. I think there may be some other comments here and at open.rocket.chat on adding indexes etc.

GridFS is not really up for large amounts of storage. It makes your DB far bigger then necessary, and will everything will sl

[2019-11-15 17:26] maciej87pl commented on #15800
In the first option was manual instalation, in last week it was move to the new linux serwer with installed by rocketctl version 2.2. I check and rebuild indexes with google manuals etc. It is posible that I have to many files in gridfs and then everthing slows?

[2019-11-16 06:07] nullbio commented on #15788
Did you want me to move it there? Since you've responded, that setting does not help us. It's possible for a users session to expire without them closing the browser window, which takes them back to the login screen. If they were then to log in again but with a different user it'd still have the old `loginToken`.

[2019-11-16 08:39] cloudsandladders opened #15802 "AutoLinker with Regular Expressions does not work"
### Description:

Updating the 'AutoLinker URL Regular Expression' field under Messages > AutoLinker while AutoLinker is enabled and all other AutoLinker settings set to false has no affect on converting text into hyperlinks.

### Steps to reproduce:

Go to Administration > Messages > AutoLinker
Set 'Enable' to True and set all other settings in the AutoLinker panel to False
Leaving the 'AutoLinke

[2019-11-16 19:35] dudanogueira commented on #3292
This would be very useful. Right now I am on the situation that my Rasa Bot only returns to a livechat if it is online. I need to log in as the bot user in order to it work. I know I could implement some workaround for it to stick to online. While live chat only works like that, while online, the same bot will work OK when triggered from channels or direct message, while showing offline. The toggl

[2019-11-16 20:38] dudanogueira commented on #1824
Can't find a solution to my problem, so I think it should come to here. My use case is: I have the integration with Twilio WhatsApp on sandbox, with a Rasa bot. So I put the rasabot as agent, alone in a department. I want that those incoming messages from twilio go to the bot department (it now goes randomly), so I can eventually forward to a human department. Also, the bot only answers if online,

[2019-11-16 21:46] Exordian commented on #12514
we would be interested in such a feature as well. it's quite important since the desktop client has no 'idle' detection. if you leave your notebook locked, you still won't receive any mobile push notifications currently (2.2.0)

[2019-11-16 21:48] Exordian commented on #11747
the current rocketchat mobile notification behaviour is quite unintuitive. such a setting would make it better. however i think #12514 would be the best solution

[2019-11-17 04:32] geekgonecrazy commented on #14562
@LuluGO any ideas on this?  Do we need to add a plug or something ?  I think these are non critical errors.  But they are noisy

[2019-11-17 09:09] himpierre commented on #15800
We have a similar issue here after upgrading to 2.2.0. From time to time Rocketchat stops responding for 30s or so. Reason seems to be high i/o. We use S3 as storage backend. So i guess the problem has nothing to do with uploading stuff. On the other hand, we just switched to S3 recently so there might be a lot of stuff still in gridfs.

@maciej87pl did disabling autoload images fix your issue?

[2019-11-17 14:43] rodrigossimoes opened #15805 "failed start SNAP rocketchat-mongo"
After update Ubuntu 18.04.3 LTS, service **snap.rocketchat-server.rocketchat-mongo** not starting.

Below is the error (sudo journalctl -f -u snap.rocketchat-server.rocketchat-mongo):

-- Logs begin at Tue 2018-08-21 13:44:14 UTC. --
Nov 17 14:36:23 nectunt-rocket-01 rocketchat-server.rocketchat-mongo[3256]: 2019-11-17T14:36:23.090+0000 I STORAGE  [initandlisten] exception in initAndListen: 28595

[2019-11-17 16:13] scoopex opened #15806 "Automatic snap package update leads to unreachable instance"
### Description:

Trigger a update of the snap package.

It seems that nodejs server runs in a timeout because the mongodb server is not not seems to be ready fast enough. The rocketchat server does probably not wait long enough  to be connected to mongodb. Probably there is a trivial fix in just increasing connection pool timeout values or re-trying forever to get a mongodb connection.

### Steps

[2019-11-17 16:13] scoopex commented on #14562
i created a report for this: https://github.com/RocketChat/Rocket.Chat/issues/15806

already reported, see https://github.com/RocketChat/Rocket.Chat/issues/6979

[2019-11-17 18:01] maciej87pl commented on #15800
Autoload temporarly help me, if i click image to load the disk i/o read went to max ssd parameters. For now probably I resolve issue by adding index to collection rocketchat_uploads.chunks, after upgrade and migrating to new server index files_id_1_n_1 was missing. I will test it tomorrow when i have full load of users.

[2019-11-17 19:51] 88fingerslukee commented on #14562
@scoopex This is NOT what this thread is about, please stop commenting on these issues in this thread.

[2019-11-18 08:33] florealcab commented on #6899
In the latest version of Rocket Chat, I have not the warning anymore when I access with an URL other than the main one. So is it fixed?

[2019-11-18 09:07] ankar84 commented on #15410
It is very important issue for us.
We use LDAP to create users in RC and fill their info + Avatar + channels membership + RC roles.
And we use custom oauth (KeyCloak) to users to authenticate to RC.

[2019-11-18 10:00] tholu commented on #15471
It's a really annoying bug, is there any progress on this?

[2019-11-18 10:07] stefanandres commented on #15800
We are also experiencing this issue.
We're using s3 now, but have old data in gridfs.

[2019-11-18 10:32] willstott101 commented on #15793
![Screenshot from 2019-11-18 10-27-14](https://user-images.githubusercontent.com/335152/69045142-2ec8cf00-09ee-11ea-80b9-271c257794c7.png)

I actually can't see any push notification options. I found this slightly odd setting about Audio notifications and there is an `Audio Notifications Default Alert` which is set to `Mentions` already.

It's as though I'm only seeing a subset of the preferences?

[2019-11-18 11:03] raltmiks opened #15808 "error 404 for links and iframes, but URL works when I type it"
Hi,
I installed Rocket Chat 2.2 on Ubuntu 14.08.
When I am trying to use an ifram or an link (new tab), I get an 404 error page.

### Description:

### Steps to reproduce:

1. Click on the link https://"mydomain"/livechat
2. get 404 error page in new tab
3. click on the URL and press ENTER
4. livechat is loaded correctly

### Expected behavior:
Link should work directly, link URL https://"mydomain

[2019-11-18 11:08] raltmiks commented on #15808
![404 error](https://user-images.githubusercontent.com/49163116/69047687-0ea00c80-09fc-11ea-9230-f3d26825d648.png)

[2019-11-18 12:20] raltmiks commented on #15808
Links and iframes to the main directory work, but as soon as I want to link a suddir/suburl, I get 404-error

[2019-11-18 12:48] renatobecker commented on #1824
Have you tried the setting shown below?

![Screen Shot 2019-11-18 at 09 46 54](https://user-images.githubusercontent.com/2067649/69053587-83694b80-09e8-11ea-889a-7ab9060845b1.png)

[2019-11-18 12:50] renatobecker commented on #3292
We provide a REST API endpoint to change the status of the users, have you tried it?

[2019-11-18 12:59] dudanogueira commented on #1824
@renatobecker

Hi! sorry for that. I was using the version 2.0.0, and not the 2.2.0, which have this new functionality.

I tried looking for this thread yesterday to mention this, and couldn't find it.

This setting solves my use case like a charm...

The reason I was using an outdated version is that the "oficial" docker hub has an old release as the latest: https://hub.docker.com/_/rocket-chat?t

[2019-11-18 12:59] reetp commented on #15808
@rocket-cat close

Please read this fully.

https://rocketchat.github.io/docs/contributing/reporting-issues/

Deployed.... how?

There doesn't seem to be any error in Rocket.Chat itself - you have provided no logs.

This is most likely a web server configuration issue and looking in your webserver logs may give you some ideas where this is going wrong.

For help/support please see: https://rocket.

[2019-11-18 12:59] #15808 closed

[2019-11-18 13:36] ggazzo commented on #12648
we are not grouping pinned messages anymore.

[2019-11-18 13:36] #12648 closed

[2019-11-18 14:17] MartinSchoeler commented on #6719
I've just tested using the API and it seems to be working fine in version `2.3.0-develop` please try to use the latest version, and if the problem persists, please open a new issue with updated details and the specific API call that you are using. Thanks!

[2019-11-18 14:17] #6719 closed

[2019-11-18 14:36] himpierre commented on #15800
@maciej87pl The indexes seem to exist on my installation

[code]

do you have another index created somewhere?

[2019-11-18 14:50] renatobecker commented on #15730
Hi @reetp
The implementation related to the widget-side was not merged yet, because of this you were facing the issue when testing the new setting(`Show agent information`).
Now, it has been merged, as you can see here -> https://github.com/RocketChat/Rocket.Chat.Livechat/pull/279.

[2019-11-18 16:00] stardude900 opened #15810 "Unable to use Amazon S3 in 1.2.4 and 1.3.2"
### Description:

We currently use Rocketchat and want to start using the S3 functionality of Rocketchat for uploads.  We've enabled it according to the instructions at https://rocket.chat/docs/administrator-guides/file-upload/amazon-s3/ and have filled in the requisite fields but it always generates this error:
https://rocket.chat/docs/administrator-guides/file-upload/amazon-s3/

### Steps to rep

[2019-11-18 16:42] raltmiks commented on #15808
The webserver logs are normal, no errors.

[2019-11-18 18:21] antkaz opened #15812 "SetupWizard checkbox layout bug"
### Description:

Checkbox layout text bug

### Steps to reproduce:

1. Run and open Rocket.Chat
2. Go to 4 step in Setup-Wizard

### Expected behavior:

The text is moved to a new line

### Actual behavior:

![image](https://user-images.githubusercontent.com/19654261/69078452-c57ea580-0a59-11ea-9fa8-5bce227fb7cd.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 2.2.0
- Deploym

[2019-11-18 19:04] Puer-Vetus opened #15813 "Message pruning confuses the mobile client."
### Description:

Manually using "Prune messages" or enabling "Prune- automatically prune old messages"
causes the Android mobile client to not download new messages after old ones have been pruned.

The channel list will usually show the latest message excerpt and indicate new messages. But when entering the channel, nothing new is shown, not even the message shown in the channel list.

### Steps

[2019-11-19 06:26] Aldekein opened #15817 "Custom fields are not displayed in user profiles"
### Description:

After setting up custom fields in admin panel they appear while editing own profile but not visible to anyone in the team, including administrators.

### Steps to reproduce:

1. Open chat admin -> Accounts -> scroll to Custom Fields to Show in User Info input
2. Enter Role,Telegram,Phone in input
3. Scroll down to Registration -> Custom Fields
4. Enter following JSON in textarea:

[2019-11-19 08:09] glangePDM opened #15819 "Livechat in rocket.chat 2.1.1 does not load in IE11"
### Description:

We have recently installed the latest version 2.1.1 of rocket.chat with snap. Everything is fine but the livechat widget is not loading in frontend in IE11 on Windows 7 or Windows 10. In Edge 15 or higher the widget is loading.

We have got an syntax error in console output.

Our rocket.chat server is running on Ubuntu 18.4

### Steps to reproduce:

1. Activate livechat in admin

[2019-11-19 09:02] reetp commented on #15817
Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

Can you please test this on the current latest 2.2.x

[2019-11-19 09:12] reetp commented on #15810
Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

Search the interwebs for your error.

I think you should first test with current 2.2.x

[2019-11-19 11:05] mriedmann commented on #14792
We hit that problem on version 2.2.0 and it is really annoying. Any clue how to handle that until a proper fix is ready?

[2019-11-19 11:39] CoMPaTech opened #15820 "api-bypass-rate-limit not working for admin user token"
### Description:

Didn't look like #13441 resembles the issue we had, opening this one.

A high-curling-rate script we run to adjust some settings automatically suddenly gets hit by the rate-limiter. This was working a couple of weeks ago so unfortunately I don't have a version to pin down to (we run snap-based install).

The curling user authenticates is both `user` and `admin`. My permission set

[2019-11-19 11:40] CoMPaTech commented on #15820
Current workaround is to up the rate-limited `default calls` to 300, but I'd rather keep it at the default 10.

[2019-11-19 12:59] saszhuqing opened #15821 "LDAP sync is slower on ubuntu 18.04 than 16.04"
### Description:

I install ubuntu 18.04 use ubuntu-18.04.3-live-server-amd64.iso,then run "snap install rocketchat-server" and " snap start rocketchat-server".
After set up LDAP setting,I click on 'Execute Synchronization Now',and I click on 'Users',the speed of add users is about **2 person per minute**,but in ubuntu 16.04,the speed is about **10 person per second.**
I am sure that the applicati

[2019-11-19 13:19] Aldekein commented on #15817
We plan to upgrade. But the repository for K8s deployment using helm charts offers 2.1.1 as the latest version https://github.com/helm/charts/commit/025d607308daf4ac722f9b9209ff6bc9f10b9cf6

[2019-11-19 13:28] reetp commented on #15817
There's little point in reporting a bug on an old version as per reporting Issues.
Just spin up a test VM somewhere - it isn't that hard?
A lot of stuff changed between 1.3.x and 2.2.x

[2019-11-19 13:38] #14535 closed

[2019-11-19 14:35] #13931 closed

[2019-11-19 14:35] #14946 closed

[2019-11-19 14:42] xadhoom opened #15823 "Federated room cannot be deleted (throws an error on server)"
### Description:

When a federated room is deleted from any server (original server or destination one) an internal server error is raised.

### Steps to reproduce:

1. Invite a federated user to a private room
2. Try to delete the room from the admin area, from any server (origin or destination)

### Expected behavior:

Room is deleted

### Actual behavior:

Internal server error is shown and the

[2019-11-19 15:29] frostbtn commented on #15820
Same here, but for different endpoint (`im.create`).

Our Rocket is installed from snaps, version 2.1.1 is dated 2019-10-17. So after usual 1 month delay our server just got updated last weekend and our integrations stopped working.

As a workaround I've disabled rate limiter altogether (it's acceptable in my case): `Administration` - `Rate Limiter`.

[2019-11-19 15:33] partosXP commented on #11284
I really can't understand, how r you all using chat/messenger whithout this feature.
Almost all  of them have it: Skype for business, Telegram, WhatsApp etc. Whant it here too...
The same closed issue: #823

[2019-11-19 15:54] frostbtn commented on #15817
@Aldekein
Your **step 2** might be "too simple". See [this comment](https://github.com/RocketChat/Rocket.Chat/issues/7610#issuecomment-392265799) for a working example. There's also a [PR to the docs](https://github.com/RocketChat/docs/pull/1174/files), not yet accepted though.

[2019-11-19 16:34] peternovozhilov opened #15825 "Rocketchat 2.2.0 Livechat internalization once again not working"
### Description:

We used such code to implement live chat:

`$(document).one("click tap mousemove",function(){

            $(window).width() > 767 && (function(w, d, s, u) {
                w.RocketChat = function(c) { w.RocketChat._.push(c);  }; w.RocketChat._ = []; w.RocketChat.url = u;

                var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
                j.async = tru

[2019-11-19 16:57] JoshMcCullough commented on #15472
I guess this must be an IE issue where it's just reporting the generic `application/octet-stream` MIME type for some files that it "doesn't know about" e.g. KMZ/KML. Probably nothing for RC to do here.

[2019-11-19 17:07] JoshMcCullough commented on #15472
Following up on my last thought, it seems bad that RC is limiting based on MIME type rather than simply extension. It relies on the user's system having these MIME types defined, whereas we probably don't care, and there is no guarantee that the file they're uploading actually is of the MIME type, but just that the extension matches and was found in the system's registry.

I suggest that RC should

[2019-11-19 17:14] reetp commented on #1824
"Official Rocket.Chat docker deployment image."
https://hub.docker.com/r/rocketchat/rocket.chat

I have no idea who/what the other one is.

[2019-11-19 17:20] canuckbrian commented on #14013
I'm having this exact same problem.

### **Server Setup Information**:
- Version of Rocket.Chat Server: 2.1.1
- Operating System: Ubuntu 18.04.3
- Deployment Method: snap
- Number of Running Instances: 1
- DB Replicaset Oplog: Enabled
- NodeJS Version: 8.15.1
- MongoDB Version: 3.6.14

It doesn't happen with every message, but frequently enough the first message never gets delivered in RocketChat,

[2019-11-19 18:31] geekgonecrazy commented on #1824
Clarified in DM on open.  But just to make clear.

Both are technically valid.  The `rocket.chat` one is a docker "official" maintained by the docker maintainers.  Usually they are in pretty close sync but over last few weeks actually had a disconnect of their bot that builds because of a permission change.   The repo for that image is: https://github.com/RocketChat/Docker.Official.Image

rocketch

[2019-11-19 20:44] #14647 closed

[2019-11-19 20:56] flantascience opened #15827 "Updated to v2.2.0, all menu fonts went blank"
### Description:

Just updated from v1.1.1 to v2.2.0.   I did this using Heroku command line interfact.  I did "git pull origin master" and then "git push heroku master".   I am not sure the build completed, something felt like it "froze".   But, then I checked the app and everything looks 100% correct and functional and the Admin screen says v2.2.0 BUT the font colors in the menu are all clear/bl

[2019-11-19 22:52] dudanogueira opened #15829 "img_url may appear on rocketchat, but not on livechat widget"
### Description:
messages with image_url  attached, not collapsed, sent using the REST API,  is shown correctly inside rocketchat (Direct chat, livechat management, or channel), but not at the livechat widget for the visitor.

If the image is sent "collapsed", it doesn't show on both the Rocketchat (nowhere) and Livechat Widget

### Steps to reproduce:

1. Create a livechat session from the widget

[2019-11-20 05:41] zimmertr commented on #12385
Interesting that others are experiencing this too. We didn't start to notice it until we tried to upgrade an old installation 2.2.0 and couldn't go beyond 0.62.0 without triggering it. So we're sitting there for now. Is a fix in site or is it worth migrating to a subdomain based deployment instead?

[2019-11-20 05:56] Aldekein commented on #15817
@reetp I'm sorry, I didn't realise our version was so old. We did an upgrade overnight and now are using RocketChat/release-2.2.0. The bug is still there, custom fields are not visible in profile. Though @frostbtn offered a solution that worked. I would like to express my gratitude, it fixed the problem. I searched for open issues before creating this one and didn't find #7610 because it's closed.

[2019-11-20 05:59] Aldekein commented on #15817
Can I help to merge the PR https://github.com/RocketChat/docs/pull/1174 into main codebase? It says "This branch has conflicts that must be resolved".

[2019-11-20 12:53] magicbelette opened #15833 "Missing message content for thread reply search results"
### Description:

When search for messages and the results contain thread replies, said replies are empty and their message content is missing.

### Expected behavior:

Thread results should be populated.

### Actual behavior:

![Annotation 2019-11-20 134800](https://user-images.githubusercontent.com/6803105/69240365-9886db80-0b9c-11ea-8cda-a98bd97dcc3f.png)

### Server Setup Information:

- Versi

[2019-11-20 13:35] reetp commented on #15833
On open.rocket.chat 2.3.x develop as well.

You can click a result and it will take you to the relevant message.

![Screenshot_2019-11-20_14-31-44](https://user-images.githubusercontent.com/3800384/69243165-c53df180-0ba2-11ea-9059-8ce16514bb84.png)

[2019-11-20 13:42] reetp commented on #15821
This is not a supported installation method.

The only way to really test this is with a proper installation - there are too many unknowns running a live ISO.

[2019-11-20 15:13] sschueller commented on #15243
I am seeing this also in version 1.1.3.

Calls to
```curl -H "X-Auth-Token: mytoken" -H "X-User-Id: myuserid" -H "Content-type: application/json" "https://myhost/api/v1/rooms.get```
fail until a new message is posted in the "bad" room. What exactly causes it I can not determine. The last message block only contains the ```reactions```key and is missing everything else.

The last message I had in t

[2019-11-20 15:32] reetp commented on #15243
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

You are both quite out of date and your versions are not going to get fixed if they have an issue.

You need to test this on latest - currently v2.2.1

[2019-11-20 15:37] reetp commented on #15243
Also note regarding Android native:

https://github.com/RocketChat/Rocket.Chat.Android#important---please-read-this-first

[2019-11-20 17:18] flantascience opened #15834 "LiveChat not working on WordPress ("Cross-Origin Read Blocking")"
### Description:

LiveChat doesn't show up on my website, instead I  am getting this message in my browser console:

Cross-Origin Read Blocking (CORB) blocked cross-origin response https://pun-chat.peerunschooling.net/livechat/1.0.0/rocketchat-livechat.min.js?_=201903270000 with MIME type text/html. See https://www.chromestatus.com/feature/5629709824032768 for more details.

LiveChat WordPress plu

[2019-11-20 17:24] reetp commented on #15834
I think you will find you should have kept up with breaking changes

Your URL needs fixing. See Livechat/Installation

[2019-11-20 17:43] flantascience commented on #15834
Thank you for the reply!   Got it working

Is the chat bubble the only front-end layout option available?    I preferred how it was before where it was more visible and clearly a chat window.

![image](https://user-images.githubusercontent.com/12577122/69263398-3a092f80-0b93-11ea-93db-66d23969feaa.png)

[2019-11-20 19:01] flantascience commented on #15827
reset all colors.... then changed them back... that worked enough

[2019-11-20 19:02] #15827 closed

[2019-11-20 19:58] GiviMAD opened #15835 "MongoDB 4.2.1 support"
Any plans to support the latest version of MongoDB in a short time?

[2019-11-20 20:48] #14617 closed

[2019-11-20 20:58] maciek134 commented on #2192
Progress update (or more like a teaser):
![image](https://user-images.githubusercontent.com/1146309/69277537-baa24d00-0be0-11ea-9181-1b61dba44293.png)
Got right into zone after work today and finished most of the work, should have a PR ready tomorrow/friday.

[2019-11-20 21:30] reetp commented on #15834
@rocket-cat close

Closing notabug.

Probably not unless you want to hack the livechat code.

Ask in the forums or open.rocket.chat #support or #livechat

[2019-11-20 21:30] #15834 closed

[2019-11-20 21:34] J0kerFace commented on #2192
looks really cool! we are looking forward to test it out

[2019-11-21 00:03] #14358 closed

[2019-11-21 02:57] saszhuqing commented on #15821
Thanks for your relay. I download a new ISO from http://cdimage.ubuntu.com/ubuntu/releases/18.04/release/ubuntu-18.04.3-server-amd64.iso,and install the OS.
After set up LDAP,the speed of add users is OK,but there are some person has no Role.I click "Edit" and then"Select a Role",but is empty. I try to delete these users,but the server give me a error "Internal Server Error" at the right top.

[2019-11-21 03:13] renatobecker commented on #15819
@glangePDM What is exactly the error you're getting on your browser console?

[2019-11-21 05:20] annvt-dl opened #15838 "Can't start RocketChat service after reboot"
### Description:
I installed RocketChat recently in Ubuntu 18LTS and it worked until I restarted server.

### Server Setup Information:
- Version of Rocket.Chat Server: 2.2.1
- Operating System: Ubuntu 18.04 64 bits
- Deployment Method: tar (manual install follow https://rocket.chat/docs/installation/manual-installation/ubuntu/)
- Number of Running Instances: 01
- DB Replicaset Oplog:
- NodeJS Ver

[2019-11-21 05:51] SeaLife commented on #2192
Hopefully this can be set independentlly in each room to not have the sysadmins create notifications groups in a 8000+ employeed company :D

But this looks really nice.

[2019-11-21 07:24] nullbio commented on #15064
@rajm Did you ever find a solution to this?

[2019-11-21 07:25] nullbio commented on #15788
Just wanted to add that this is also an open issue here and hasn't received any activity: https://github.com/RocketChat/Rocket.Chat/issues/15064

[2019-11-21 08:26] Wirone commented on #2192
@SeaLife personally I don't think notification groups should be defined per channel, or at least there should possibility to choose type of such group. We would like to make groups per team, so on every channel team could be mentioned and notified in the same way (defined once, used in multiple rooms). But on the other hand I see scenarios, where group per room could be useful - for example `maint

[2019-11-21 09:22] shreekarade opened #15839 "White Labeling (admin pages)"
![screenshot-ctsichat mvoipctsi com-2019 11 21-14_54_04](https://user-images.githubusercontent.com/36290412/69324649-dc4a1580-0c6e-11ea-9cd8-5c23ebcb4026.png)
I have installed rocket. chat (Version 0.65.2) and want to change rocket.chat word with my brand name from administration pages. Please help.

[2019-11-21 09:29] maciek134 commented on #2192
I tried to think about everything mentioned here, so I already have a solution for this (at work atm so can't post a screenshot) - when creating/editing group you have the following options:
- name
- description
- whether the group also notifies a specific role
- whether the group also notifies a specific group (so in combination with a few other options you can make a transparent copy that notifi

[2019-11-21 09:30] Mesysz opened #15862 "Pressing Cancel while 'deleting by edit' message blocks sending messages"
## My Setup
- Operating System: Ubuntu 18.04.3 LTS x86_64
- App Version: 2.16.2 (and also 2.14.x, so it's not new bug)
- Installation type: snap install rocketchat-desktop (if this is what I had to post here)

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

If you send text to someone and after second thought you want to delete it so you edit mess

[2019-11-21 09:31] reetp commented on #15839
@rocket-cat close

This is a support question, not a bug.

Your version is also way out of date and you are not going to get any help with it.

See https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-11-21 09:31] #15839 closed

[2019-11-21 09:38] reetp commented on #15838
@rocket-cat close

There is no evidence of a bug here. It looks like a support/configuration issue. Please follow the support options below.

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-11-21 09:38] #15838 closed

[2019-11-21 09:39] shreekarade commented on #15839
Thanks

[2019-11-21 09:42] reetp commented on #15821
@rocket-cat close

There is no evidence of a bug here. It looks like a configuration/support issue.

Please follow links for support below.

[2019-11-21 09:42] #15821 closed

[2019-11-21 15:33] #6385 closed

[2019-11-21 15:33] localguru commented on #6385
closed by PR https://github.com/RocketChat/Rocket.Chat/pull/15836

[2019-11-21 16:37] eengstrom commented on #15369
It's not so much that you can't reference the discussion, but that the discussion is named for some random UID generated (e.g. `#x5bX9...` in your example.  Would be nice to be able to construct a human readable version or alias for that, minimally.

[2019-11-21 18:16] rodrigok commented on #7441
Needs to include a no script tag on the server side.

[2019-11-21 18:17] rodrigok commented on #7450
Please reopen if the issue persists.

[2019-11-21 18:17] #7450 closed

[2019-11-21 18:25] #7503 closed

[2019-11-21 18:33] SeaLife commented on #2192
I agree with this in general, but we'r using RC with over 8000 employees. Having custom groups per Channel and creatable by the channel Admin would be really nice to not bother the Admins with notifications groups. :)

[2019-11-21 18:34] rodrigok commented on #7440
It doesn't seem to apply anymore.

[2019-11-21 18:34] #7440 closed

[2019-11-21 19:35] franckadil opened #15842 "Livechat Triggers don't work"
Rocketchat have been updated to 2.2.1  but the fix doesn't seem to have been ported to that build. So livechat triggers still don't work as suggested by this PR -> #320.

Original Issue: https://github.com/RocketChat/Rocket.Chat.Livechat/issues/325

The error is still the same:

## Error
[code]

## Error Log
[code]

## Information

[code]

[code]

[2019-11-21 19:50] jwilczek commented on #11378
I've seeing this same issue with Rocket Chat Version 2.2.0 and desktop Version 2.16.2

[2019-11-21 20:32] nebulade opened #15843 "Wrong link preview image src url"
### Description:

The images in the link previews are broken due to the `src` attribute of those `img` tags missing the original origin. To give an example like jitsi, posting a jitsi channel url like `https://meet.jit.si/foobar` should result in src url within the preview of `https://meet.jit.si/images/jitsilogo.png?v=1` however it only has `/images/jitsilogo.png?v=1` set. Which leads to broken p

[2019-11-21 20:55] flantascience opened #15844 "Video chat sends users into separate video calls"
### Description:

I'm testing the video chat after updating from v1.1.1 to v2.2.0.   I setup a conversation between two users, on on desktop and one on mobile.  When the two users go into the video chat, they are actually in separate chat sessions.  Not able to see one another, though on each persons screen, everything looks fine.

### Steps to reproduce:

1. Start a conversation between two users

[2019-11-21 20:58] flantascience commented on #15844
NOTE: I am able to get into the video call when both users are on desktop.... but not when one user is desktop and one is mobile.

[2019-11-22 04:20] Crayder commented on #2192
Thank you!

[2019-11-22 06:41] prasadareddy21 opened #15845 "package JSON contains deprecated modules"
![image](https://user-images.githubusercontent.com/39421816/69403695-38da1e80-0cc9-11ea-908b-af7b495b31c5.png)

What do I do to set up the project? Please suggest.

[2019-11-22 08:52] mohanbabubb commented on #15576
any improvement is appreciated. or some one point the location on code. so i could contribute.

[2019-11-22 08:57] mohanbabubb commented on #14910
Additionally it's impossible to add a read-only channel to your favorites.

Its other way,
1. The channel owner should invite you or you can ask for the channel owner to invite you . so you can see favorite

[2019-11-22 09:06] mohanbabubb commented on #14910
if we CHANGE sentence from 'you must join to view messages' to 'you must be invited to view messages' , make more sense.
Because invited users can able to join and also add the channel to favorite list

This is kind of clumsy logic,. -1, we should change it

[2019-11-22 09:29] GoetheG commented on #4957
Shouldn't this issue be merged with all the other same isses? Cause this error still occurs with the latest version.

[2019-11-22 09:31] GoetheG commented on #15484
Shouldn't this issue be merged with all the other same isses? Cause this error still occurs with the latest version.
#4957
#15656
#15484

[2019-11-22 09:31] GoetheG commented on #3411
Shouldn't this issue be merged with all the other same isses? Cause this error still occurs with the latest version.
#4957
#15656
#15484

[2019-11-22 10:25] meomay503 opened #15846 "X-Frame-Options is not set unless Cordova app support is allowed"
### Description:

At version 2.2.0, the new options `Restrict access inside any Iframe` and `Options to X-Frame-Options` are added into the Rocket Chat server configuration. But currently, when I tested that header on Rocket Chat server v2.2.0 and v2.2.1, it is still not set even though I enable `Restrict access inside any Iframe` and set a proper value for `Options to X-Frame-Options`.
After inve

[2019-11-22 10:41] TechRova opened #15847 "When choosing S3 or WebDAV , how the uploads are routed ?"
I selected S3 and WebDAV in file uploads and it's successful

Now my confusion is , when I go through the react native code , the `sendFileMessage` seems to be uploading to the RocketChat server

Is it uploading to the Rocket Chat server first and then the RC server reupload the file to S3 / Webdav ?

Please explain

[2019-11-22 10:58] Wirone commented on #2192
@SeaLife but with granular permissions in RocketChat it could be possible to create role for managing notification groups and allow users to do it, so Admins won't be bothered that much. I don't think notification groups configuration should go to channel's settings panel.

[2019-11-22 11:22] reetp commented on #15847
@rocket-cat close

This is a support question, not a bug.

Try https://open.rocket.chat #react-native

[2019-11-22 11:22] #15847 closed

[2019-11-22 11:24] reetp commented on #15845
@rocket-cat close

This is a support question, not a bug.

Try https://open.rocket.chat #dev

[2019-11-22 11:24] #15845 closed

[2019-11-22 11:27] SeaLife commented on #2192
@Wirone okay, we should probably evaluate this first...
Its probably not that good if everyone can create global notification groups...
But we'll see :)

Im looking forward to this :)

[2019-11-22 12:41] glangePDM commented on #15819
I only get the message like described above.

"Script1002: Syntax error
rocketchat-livechat.min.js (7,3021)"

I think it's easy to reproduce. We testet it with IE11 in Windows 7 and 10.

[2019-11-22 13:03] renatobecker commented on #15819
Yeah but you can expand the error and then you'll see the part of the code which is raising this error.

[2019-11-22 13:39] larsziegelmann opened #15848 "Sidebar Header size"
Me and my team are working on customizing Rocket.Chat via the custom CSS option.
Our goal is to recolor the ".sidebar__header" class and we noticed a small block sticking out of the header. You can reproduce this "issue" by recoloring the "sidebar__header".
What purpose does this "block" have and is there a way to remove it?

![image](https://user-images.githubusercontent.com/54264704/69430361-ba6

[2019-11-22 13:44] sampaiodiego commented on #3411
sorry @GoetheG what you mean by merge those issues? Also I didn't get what issue you're still having.

[2019-11-22 13:46] sampaiodiego commented on #11378
@jwilczek if that happens you can restart all rocket.chat processes to free those stuck online users.. in the meantime, we're investigating what might cause this

[2019-11-22 13:48] MartinSchoeler commented on #7784
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that have happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2019-11-22 13:48] #7784 closed

[2019-11-22 14:07] MartinSchoeler commented on #9163
I've just tested with version 2.3.0-develop and the `first channel after login` setting seems to be working as intended now. I will be closing this issue, if you experience this again, please open a new issue with updated details. Thanks!

[2019-11-22 14:07] #9163 closed

[2019-11-22 14:15] MartinSchoeler commented on #9743
I've tested this on version 2.3.0-develop and could not reproduce this issue, I believe that this was fixed since we changed a lot of code regarding loading older/newer messages. If you experience this issue again, please open a new issue with updated details. Thanks!

[2019-11-22 14:15] #9743 closed

[2019-11-22 14:35] MartinSchoeler commented on #10047
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/10367

[2019-11-22 14:35] #10047 closed

[2019-11-22 15:27] ladislavhorky commented on #15494
+1 to workaround.
Also, make sure you have the right URL in configuration of integration. There is a little caveat, deleting "Optional" values does not work, you have to set the correct one once you set it anything else than empty string.

[2019-11-23 04:26] geekgonecrazy commented on #15844
Try the rocket.chat experimental app on iOS.  This version will soon be the one upgraded to stable

[2019-11-23 04:30] geekgonecrazy commented on #15810
Is it actual s3 or s3 compatible.  Try adjusting the signature version to 2 or 3

[2019-11-23 04:34] geekgonecrazy commented on #15805
Please see: https://rocket.chat/docs/getting-support the #ubuntu-snap channel on community server is probably best bet.

[2019-11-23 04:34] #15805 closed

[2019-11-23 07:50] lolimay opened #15854 "Remove broken apps from the collection when meeting unknown errors in deployment"
![image](https://user-images.githubusercontent.com/32427260/69474937-08e26680-0e02-11ea-9bba-e59376bead35.png)

![image](https://user-images.githubusercontent.com/32427260/69475499-cf612980-0e08-11ea-96e3-b6f3e354d17c.png)

When meeting some unknown errors in deployment, we need to remove these broken apps from the MongoDB collection automatically.

[2019-11-23 13:07] entrptaher commented on #9163
@MartinSchoeler , can you confirm that going to a direct link (not the **first channel after login**) doesn't take me to `general`?

[2019-11-23 14:08] reetp commented on #15848
@rocket-cat close

I can't see any actual bug here.

If you want support please follow these links from the bug report template - always make sure you test on the latest current version as well:

[2019-11-23 14:08] #15848 closed

[2019-11-23 14:21] reetp commented on #9163
Please don't @ people hoping to get a response. There is no guarantee it is the right person.

Have you read his comment ?

" tested with version 2.3.0-develop...... first channel after login setting **seems to be working as intended now.** "

Try https://open.rocket.chat/channel/support

[2019-11-23 17:30] tribeiros opened #15851 "Post a chat message payload avatar don't have persistence"
Rocket.chat have persistence for images in chat, but not for avatar ?
when i use my rocket.chat server on a public domain , my image avatar needs a public to, why ?

when i use `"avatar" : "http://10.129.179.195/avatar.png"` works on my local network, but use a public domain `https://mydomain.com.br/channel/mych` the avatar does not appear

So, i need my avatar.png outside my local-network like ht

[2019-11-23 19:29] tlskinneriv opened #15852 "SAML channel adding does not support a multi-value "channels" claim"
### Description:

When a user is added via SAML login, multiple values in the "channels" claim results in no channel subscriptions for the user. A single field in the "channels" claim containing a comma-separated list of channels works correctly.

### Steps to reproduce:

1. Setup a SAML connetion with an IdP to pass "channels" claim with multiple values (in my scenario specifically, Microsoft ADF

[2019-11-23 20:37] ChrisCoffey commented on #2699
I'm receiving this on 0.60.0.

I'm using Rocket.Chat in an embedded iframe within my app. To repro, all I need to do is leave a tab containing the rocket.chat embed open long enough for my machine to go to sleep. When I come back & return to the tab, the error triggers.

[2019-11-23 20:37] stickboy06 commented on #11378
We have a script that restarts all of our RocketChat services every night because of memory leaks and other weird things where the services break or slow down so much that the users have issues.  Restarting every night has made our cluster of RC servers more stable and usable across every version we update to.

[2019-11-23 21:38] glangePDM commented on #15819
If I click on the error message I get a marker in line 7. See the screenshot attached. I hope this helps to identify the problem.
<img width="1660" alt="screen_rocket chat_2 1 1_livechat_IE11" src="https://user-images.githubusercontent.com/49510112/69485600-deb09900-0e41-11ea-9fbc-3da627e98cdd.png">

[2019-11-23 23:19] reetp commented on #15851
@rocket-cat close

I can't see any evidence of a bug. This is most likely a configuration issue.

You have provided no details on your server.

My avatar works perfectly well:

https://open.rocket.chat/avatar/reetp

You should see yours at https://your.server.com/avatar/yourusername

You probably want to look at your file upload settings. Please follow the above link for asking for help on this.

[2019-11-23 23:19] #15851 closed

[2019-11-24 09:08] m-raoufi commented on #12116
You should just set Username Field "#.{uid}"
Username Field #.{uid}

[2019-11-24 09:14] karl-in-office commented on #15343
This issue was already closed, but let me comment for future reference.
It will be happened if we execute `npm install` as root user.
Please see also:
https://github.com/meteor/meteor/issues/9696

[2019-11-24 20:05] maciek134 commented on #2192
This should only take a day or two more, I re-did the admin side of things since it was a bit crammed in a side panel when editing groups.

[2019-11-25 00:43] lolimay commented on #15854
Sorry, it's my fault.

[2019-11-25 05:10] nghiaviettran opened #15855 "Set X-Content-Type-Options header in the response header"
### Description:
At the moment, the request's response from the Rocket.Chat server doesn't have the X-Content-Type-Options header. This directive can prevent the incorrect interpretation of resources (MIME sniffing). This prevents the browser from executing content that should not be executed.

We can add this header via a reverse proxy server, but I think the best place for it would be in the cor

[2019-11-25 09:20] ankar84 commented on #15734
Set **Set a User Name to Alias in Message** option  (Message_SetNameToAliasEnabled) to True fixed my problem.
And it is also fixed https://github.com/RocketChat/Rocket.Chat/issues/15662
![image](https://user-images.githubusercontent.com/4023037/69527637-c8a7f300-0f7d-11ea-8a79-77ffc26dc3f6.png)
![image](https://user-images.githubusercontent.com/4023037/69527683-dcebf000-0f7d-11ea-83b3-55ad0f498933

[2019-11-25 12:23] reetp commented on #15734
Ahhh - so, was this default changed? Mine is false and I don't see why?

[2019-11-25 12:24] reetp commented on #15662
See 15734

I have a feeling someone has been messing about with defaults???

[2019-11-25 12:51] OskarLGS commented on #14639
@asir214 I don't know for sure who you are or what company you are, although I can assume it for this and another repository in addition to your name. What I'm sure of is that I haven't sent that message and that at no time have I ever allowed anything to be done in my name, nor that my name be made public.

[2019-11-25 14:49] robinreinhardt opened #15856 "Exception while invoking method 'deleteUser' TypeError: Cannot read property 'indexOf' of undefined"
### Description:

Some users who registered a long time ago (1-1.5 years ago) via LDAP can no longer log in.
They have not been assigned a name and any role.
The field "Last login" of these users are empty.
And when I try to add role, there is no roles in the list.
So i can't change any settings of these users.
When I try to delete them, I get an error message: internal server error

Log: Exceptio

[2019-11-25 15:40] bajajvinamr commented on #14825
I would like to work upon this issue

[2019-11-25 15:40] bajajvinamr commented on #10955
I would like to work upon this issue

[2019-11-25 15:42] larsziegelmann opened #15857 "Feature Request: Global setting to control the default clock format for sidebar time render"
### Description:

Currently viewing the sidebar with an admin account and the last message is shown in the 12h format. The messages in the chat however are in the 24h format. You can change it to the 24h format(by changing Time Format in the My Account section), however only one user at a time. It would be convenient, to have one setting for all the users.

### Steps to reproduce:

1. Go to my acc

[2019-11-25 15:59] ExTechOp commented on #9976
Over a year on, this still seems to be an issue with version 2.2.0: the posted URL does not get truncated (and clicking it will take you to the right place), but the preview does get truncated (and will take you to the incorrect place).
So https://en.wikipedia.org/wiki/Devil's_advocate gives correct direct link, but the clickable preview is for https://en.wikipedia.org/wiki/Devil and will take you

[2019-11-25 16:31] ExTechOp opened #15858 "Apostrophe-containing URL preview misparsed"
### Description:

Slightly different incarnation reported as #9976

Pasted URL previews mistakenly get truncated at apostrophes, although this is a valid character in an URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986)

### Server Setup Information:

* Version of Rocket.Chat Server: 2.2.0
* Operating System: CentOS Linux release 7.7.1908 (Core)
* Deployment Method(snap/docker/tar/e

[2019-11-25 18:11] anuwan94 commented on #15479
I have the same issue on an updated Arch Linux host :
[code]

Verified already on Firefox / chrome latest versions on multiple clients.
Strangely enough , the only client that works is the one in Android.
Of course both Audio/Video recorders are enabled.

[2019-11-25 21:42] sampaiodiego commented on #14639
I guess this PR will fix this issue https://github.com/RocketChat/Rocket.Chat/pull/15767

[2019-11-25 22:25] karmaking commented on #9178
I'm having the same issue here right now; v2.2.1 - anything to tweak for this to work?

[2019-11-25 22:34] reetp commented on #9178
You can read the info above but this is closed. Follow up in the NFR mentioned as if there is any work, that is where it will happen.

[2019-11-26 00:56] c-e-smith commented on #15554
Having the same issue, hadn't connected it to a file sharing mode. Avatar resets to default whether changed by admin or user; simultaneously having issue with 500 errors when uploading files to local storage, despite permissions being open on folder, now wondering if the two issues are non-trivially connected

[2019-11-26 06:57] antkaz opened #15859 "Offline Email Notifications for all messages"
### Description:
for Email notification in Notification Preference for rooms available 4 values: Default, All messages, Nothing, Mentions.
![image](https://user-images.githubusercontent.com/19654261/69605729-c22f7f00-1042-11ea-9e04-95d152e39905.png)

But in Account preference for the Email notification available only 2-3 values (missing 'All messages' value).

Profile:
![image](https://user-images

[2019-11-26 08:00] antkaz commented on #15859
Sorry, I found this PR https://github.com/RocketChat/Rocket.Chat/pull/10736 and this issue ai not relevant.

[2019-11-26 08:00] #15859 closed

[2019-11-26 10:36] ankar84 commented on #11484
Any updates?

[2019-11-26 12:34] Aschay commented on #10714
the problem persists

[2019-11-26 13:05] sampaiodiego commented on #10714
it is gone since version 2.0.0

[2019-11-26 13:19] stardude900 commented on #15810
@reetp - I'll report back.

@geekgonecrazy - good idea, but instead of the non-file stream error we get access denied, but we've validated that the settings are correct with another application.

To be clear it's s3 compatible as we are using rados gateway

[2019-11-26 14:00] stbc commented on #15526
Still suffering from that bug as well. Running 2.2.0, latest Android app version.

[2019-11-26 14:41] stukev opened #15861 "Cannot use umlauts in channel names"
### Description:
Umlauts (ö, ä, ü) are very important in German and its related languages. It's not possible to use them in channel names.

### Server Setup Information:
Version of Rocket.Chat Server: 2.1.1
Operating System: ubuntu 18.04
Deployment Method(snap/docker/tar/etc): snap
Number of Running Instances: 1
DB Replicaset Oplog: enabled
Node Version: v8.15.1
mongoDB Version: 3.6.14
### Steps t

[2019-11-26 14:46] stukev commented on #15861
I just saw this is a duplicate of #10669. Maybe consider activating this option as default because it is very important to non-english speakers.

[2019-11-26 14:46] #15861 closed

[2019-11-26 16:37] disaster123 commented on #12978
Is there already any solution for this? I even can't change the owner as the room is already archived in my case. How can i delete the user?

[2019-11-26 21:33] Sumiri commented on #15842
Same problem here. =(

[2019-11-26 22:26] flantascience commented on #15844
That works.... though I guess that means that app we were about to launch using the old code won't work.  That is a frustrating waste of time and money.

[2019-11-26 22:39] codythecoder-teslagovt opened #15863 "Internet Explorer: page title and favicon not set as expected, left as default values."
### Description:

The page title and favicon are left default, not set as configured for Internet Explorer.
(Title meaning <head><title>blah</title></head>)

### Steps to reproduce:

1. Use Internet Explorer

### Expected behavior:

Rocketchat title is set from Gerneral -> Site Name
Rocketchat favicon is set as the rocketchat logo

### Actual behavior:

Rocketchat title is the url
Favicon is Inter

[2019-11-26 22:40] aarondl commented on #15788
@reetp Could you possibly tell us how to proceed here? Sorry we didn't follow your issue template. This particular issue is not exactly a bug, but more of a gap in functionality in one of the features.

https://rocket.chat/docs/developer-guides/iframe-integration/authentication/

We already found and were experimenting with the feature you pointed us at (Forget User Session on Window Close) unfort

[2019-11-27 00:02] geekgonecrazy commented on #15844
For sure important to keep an eye on our blog / webinars etc to keep up with announcements.  Its been coming for a while now.

Might be worth getting in contact with our team.  I know a few others with custom apps have been migrating so might have advice for you.

[2019-11-27 05:14] Crayder opened #15864 "KaTeX is prioritized over Code"
### Description:

KaTeX is drawn even when the KaTeX is in a code block.

### Steps to reproduce:

1. Make KaTeX.

2. It works. Good.
3. Put it in a code block, so you can show others how to do KaTeX.

4. That didn't work, instead it just puts the KaTeX inside the code box and does the light gray background.

### Expected behavior:

Show the KaTeX code including the `\[` and `\]` inside the code b

[2019-11-27 06:56] mohsen2hasani commented on #9763
Hi,
We have our own OAuth server and need to get some user information from OAuth and display it on the user info page.
I set 'custom fields' in 'registration' and 'account' and that fields in 'scope' of my OAuth setting, but it's not working for me.
Is this possible? Or should it be developed to achieve this?

[2019-11-27 07:02] milkymura commented on #15241
any answers for this? :(

[2019-11-27 07:04] mohsen2hasani opened #15865 "Can't get user 'Custom fields' from OAuth server"
Hi,
We have our own OAuth server and need to get some user information from OAuth (like phone and customer id) and display it on the user info page.
I set 'custom fields' in 'registration' and 'account' and that fields in 'scope' of my OAuth setting, but it's not working for me.
Is this possible? Or should it be developed to achieve this?
my scopes in OAuth:
`openid email profile groups offline_ac

[2019-11-27 08:48] #15373 closed

[2019-11-27 09:01] beanslee2011 opened #15866 "stuck at login page by refresh once per second"
Server Setup Information:
Version of Rocket.Chat Server: 1.0.3   [ **now upgrade to 2.2.1 ,but problem is same** ]
Operating System: centos 7.4
Deployment Method: Manual by official doc
Number of Running Instances: 1
DB Replicaset Oplog: true
NodeJS Version: 8.11.3
MongoDB Version: 3.6.12

=====
After a server machine reboot, I can't login to rocketchat,and start log is:
{"line":"121","file":"migr

[2019-11-27 11:37] Wirone opened #15867 "Configurable behavior of threads' messages"
Threads are useful BUT right now they are making too much noise in main channel:

![image](https://user-images.githubusercontent.com/600668/69719434-c88c2c80-1110-11ea-8d58-52d90a1379aa.png)

Every message replied in thread is added as notification to main channel along with initial message's content. As you can see on screenshot above, regular messages on the channel are mixed with thread notific

[2019-11-27 11:50] zdumitru commented on #15867
Might be related to #14719

[2019-11-27 11:53] Wirone commented on #15867
@zdumitru I searched `thread` in issues, checked 4 pages of results and somehow missed it :man_facepalming: Yeah, definitely it's related.

[2019-11-27 12:46] reetp commented on #15788
I'm not a dev. I just help triage.

You don't need a new bug as there is 15064 already, and now this. Nor do you need to give excruciating details to start with.

The first thing to do to attract attention is fill out a template with some basic details. It helps sort the wheat from the chaff.

Knowing your server version & deployment type tells the devs whether this is a situation on the current v

[2019-11-27 15:11] reetp commented on #15866
@rocket.cat close

First this is likely a duplicate of #15373

Second it is almost certainly a support issue rather than a bug.

You are not being very clear about what you are doing.

These mean that when you run a particular version of Rocket.Chat it will check for the DB schema version. If the schema is at the correct version (caused by a previous upgrade) the upgrader will not run again. These

[2019-11-27 15:13] stardude900 commented on #15810
Same error using 2.2.1 and mongo 3.6
Non-file stream objects are not supported with SigV4

I should note that using s3cmd i do not get the error message and it uploads the same test file as expected.

[2019-11-27 15:34] CarlJKashnier opened #15868 "Android 8 & 10 mobile app - ldap - invalid credentials"
Server is using ldap auth. I am attempting to login via Android App 4.0.X (current version on play store).

It returns credentials invalid.

I can log in using android app 3.5.0 - I can log in with desktop app, I can log in via web access using the same credentials.

We have the latest snap (it seems to be about a month old).

It would seem that it is likely in the login authentication on the late

[2019-11-27 16:07] reetp commented on #15868
Can you please move this to the React Native repo as I think that is where it should be.

Close this, open a new one, and reference it back.

Also, please provide some logs - Rocket.Chat, LDAP, Server etc etc.

https://github.com/RocketChat/Rocket.Chat.ReactNative

[2019-11-27 16:34] #15868 closed

[2019-11-27 16:43] MartinSchoeler commented on #15867
Thanks for the feedback. We are planning to do something like this on the next version of threads. Please, let's concentrate all the feedback and ideas on a single issue: RocketChat/Rocket.Chat#14719

Thanks!

[2019-11-27 16:43] #15867 closed

[2019-11-27 16:44] #15866 closed

[2019-11-27 16:48] MartinSchoeler commented on #15865
Not enough information provided. Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2019-11-27 16:48] #15865 closed

[2019-11-27 16:54] aarondl commented on #15788
### Description:

There is no mechanism to invalidate a Rocket Chat user who is logged in via the use of the iframe auth API.

This leaves a security hole where even if the client's main-site session it used to retrieve a Rocket Chat token expires or is otherwise destroyed the Rocket Chat token persists in local storage.

The reason this is a security hole is that on a new log in to the main-site

[2019-11-28 03:17] tai-pd opened #15874 "Need rocketchat send a message to origin page"
I have app with iframe rocketchat
when command 'login-with-token', i need a message from rocketchat iframe to confirm user logined, then i can user callback in my app after user login:

	'login-with-token'(data, ...args) {
		if (typeof data.token === 'string') {
			Meteor.loginWithToken(data.token, function() {
				console.log('Iframe command [login-with-token]: result', [data, ...args]);

[2019-11-28 10:11] reetp commented on #15788
OK, thank you for the comprehensive description, but please fill in the missing details correctly as asked.

So which version is that??

"Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues"

Now, I know it probably **won't** fix your issue, but there is a method you need to follow. Rocket moves very fast and there will be a lot of changes even in 8 week

[2019-11-28 12:03] klaus96 opened #15875 "Transfering message to an offline livechat agent"
Hello,
I would like to transfer a livechat message to an offline livechat agent. Because till now when I go to transfer message, it  only shows the agents who are online.
Thanks in advance

[2019-11-28 14:43] tammer123 opened #15876 "Add custom OAuth"
### Description:

In new Administration UI under OAUTH button "Add Custom oAUTH" not working.

### Steps to reproduce:

1. Go to Administration -> OATUH
2. Click on Add Custom oAUTH
3.

### Expected behavior:

Should open a window/tab to add new OAUTH.

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 2.3.0
- Operating System: Ubuntu 18.04
- Deployment Method:

[2019-11-28 15:15] aarondl commented on #15788
Hi @reetp. Thanks for getting back to me. I amended the report above.

[2019-11-28 15:19] vizarch commented on #13134
Hi, was something done in this topic? :)

[2019-11-28 15:37] renatobecker commented on #13134
Hi!

Yes, we have improved our `routing system` over the last months, we have now a new algorithm, it's called by `Load Balancing` routing method.
When running this method, the number of chats is not stored anymore, the new algorithm address the new chats based on the current open chats, it's a real-time approach.
But, this new algorithm is an `Enterprise` feature, so you'll need to get an `Enterp

[2019-11-28 16:08] #13134 closed

[2019-11-28 16:47] fasalsh opened #15877 "WHMCS integration isn't working after latest update"
Hello Guys,

We had an integration between WHMCS and RocketChat to alert whenever an even occur on it. This isn't working after updating to the latest 2.3.0 version for some reason. The calls are coming from the WHMCS module same as before, however, the RocketChat always throwing "400 Bad Request" to those calls. Was there anything changed on this webhook treating part?

This is the RC log:
`I2019

[2019-11-28 18:09] renatobecker commented on #15875
I'm not sure I got it, could you give a bit more context about your request?
I mean.. Do you want to send a message to an agent who was attending a conversation and goes offline?

Thanks!

[2019-11-28 18:25] rodrigok commented on #7549
Closed by https://github.com/RocketChat/Rocket.Chat/pull/14257

[2019-11-28 18:25] #7549 closed

[2019-11-28 18:31] Sing-Li commented on #7602
Work is continuing to improve this. We are moving to React and dynamic imports to load only the modules that are needed.

Closing the issue for now.

[2019-11-28 18:31] #7602 closed

[2019-11-28 18:35] Sing-Li commented on #7648
This is completed.

[2019-11-28 18:35] #7648 closed

[2019-11-28 20:14] digitalsparky commented on #15877
Sure, will check it out shortly and get back to you with a fix asap.

Matt

[2019-11-28 20:34] xurizaemon opened #15879 "Rocket.Chat message notifications should not be case sensitive"
### Description:

If a user is mentioned but the nick is incorrectly capitalised, then the notification is ignored. This is unexpected behaviour, particularly visible if the user has capitalised their own username at `/account/profile`.

### Steps to reproduce:

1. Mention a user with correct capitalisation; notification will be sent.
2. Mention a user and vary the capitalisation; no notification

[2019-11-29 00:58] reetp commented on #15879
Sure there was another issue I have seen on similar but the only thing I could find was this:

https://github.com/RocketChat/Rocket.Chat/issues/1468
https://github.com/RocketChat/Rocket.Chat/issues/10004

Some other stuff on channel names.

[2019-11-29 04:36] ankar84 commented on #15692
I think, if it will be imlpemented, Lotus Notes link like notes:// will work too. It would be great!

[2019-11-29 06:19] Gummikavalier opened #15880 "[Regression] Admin cannot set password for user"
### Description:
It seems that admins lost ability in Rocket.Chat 2.3.0 to set a password for new users or reset the password for any old user.

Issue may be related to removal of E2E-password reset functionality from admins in #15777

### Steps to reproduce:

1. Go to Admin-console -> Users
2. Create a new user and try to set password for it, or try to reset password of any old user.
3. There is

[2019-11-29 07:36] ankar84 commented on #15876
I confirm that bug. **Add custom oauth** button just do nothing.

[2019-11-29 07:47] JASG94 commented on #15880
Same problem here running on Docker containers

[2019-11-29 09:10] apacoco9861 opened #15881 "able to send file before (now only able to send text chat, emoji), affected partial users from the network using web browser (desktop client not affected)"
### Description:
User able to send message, emoji, access api/info also good. but can't upload file (can before)
helm chart deploy
chart: rocketchat-1.1.12
app version: 1.3.1
modified the deployment rocketchat image to 2.2.0 from 1.3.2

after docker image upgrade, everything fine for around 8 days.

Problem keep persists, we tried to delete pod, sometime works, this time don't work.

Enabled debug

[2019-11-29 09:15] apacoco9861 commented on #15881
web version has upload problem, while client desktop version does not affected

[2019-11-29 09:39] apacoco9861 commented on #15881
user confirm again, after desktop client version installed, able to upload file.

[2019-11-29 09:39] #15881 closed

[2019-11-29 11:46] fasalsh commented on #15494
A similar error getting on our WHMCS RocketChat module. I have detailed the issue on this thread - https://github.com/RocketChat/Rocket.Chat/issues/15877

Can someone shed some light on this! :)

[2019-11-29 12:16] #15734 closed

[2019-11-29 12:16] jcatarino opened #15882 "URGENT: Emoji Parsing in URL breaks URL"
### Description:

URL with possible emojis is breaking the url and transforming part of the URL to emoji.

### Steps to reproduce:

Send the following message: http://myFakeLinkedInUrl/url:li:page

### Expected behavior:

The link should not break parsing of emoji should not happen.

### Additional context

Please see related issues, all report the same problem. This is breaking business as usual

[2019-11-29 12:17] ankar84 commented on #15734
Mine was false too, I think it was default option.

[2019-11-29 12:19] reetp commented on #15882
@rocket-cat label add duplicate

[2019-11-29 12:24] reetp commented on #15882
@rocket-cat close

Closing duplicate.

Please note that Rocket.Chat is Open Source.

For urgent support if you have a paid account please contact support@rocket.chat

If not you will just have to be patient. Obviously your Pull Request with a fix will be most welcome.

[2019-11-29 12:24] #15882 closed

[2019-11-29 12:32] reetp commented on #11989
Following 15882 this docs seem like a potential security issue.

I have just tested it on 2.2.1 and can't seem to get it to happen.

Can anyone demonstrate this still occurs?

[2019-11-29 12:32] stephan1827 commented on #10231
I have tried
sudo chown -R 99999:99999 uploads
but I still get the same error message. Is there anything else I have to change?

Thx

Stephan

[2019-11-29 12:39] reetp commented on #10231
See my comment above.

Note that this is a closed Issue. Please don't keep posting. Ask in the forums or open.rocket.chat

Thank you.

[2019-11-29 13:14] johnypeterson opened #15883 "Owner of a room cannot add a user to the room"
### Description:

User list is not available to the owner of a room

### Steps to reproduce:

1. Create a new room and set yourself as an owner
2. Open Member List and perss "Invite Users" button
3. Try to type username

### Expected behavior:

Users should be shown in search results

### Actual behavior:

Users list is not available and the owner of a room is not able to add anyone

![issue](http

[2019-11-29 13:50] klaus96 commented on #15875
Hi, Assuming an agent receives a message through the livechat and he does'nt have knowledges about the message's topic and then wants to transfer it to another agent, who might be offline.
 So far the app shows only online agents when it is about transfering a livechat message.
 I hope I could make myself more understandable. Thank you

[2019-11-29 15:04] dusatvoj opened #15884 "Broken message search"
### Description:

### Steps to reproduce:

1. Write a message with thread replies
2. Try to search something in this test messages

### Expected behavior:

Search works

### Actual behavior:

Search is broken

![image](https://user-images.githubusercontent.com/11560794/69876844-eef0ca00-12c0-11ea-92eb-83ff18e5e824.png)
![image](https://user-images.githubusercontent.com/11560794/69876878-0334c700-1

[2019-11-29 15:08] dusatvoj commented on #15055
Nobody cares

[2019-11-29 15:08] #15055 closed

[2019-11-29 15:09] dusatvoj commented on #15621
:-1: for a needed support @wreiske

[2019-11-29 15:16] wreiske commented on #15621
Sorry, I'm not a Rocket.Chat developer, nor is there any expectation of community members to provide timely support. You can try contacting support@rocket.chat or poke around on open.rocket.chat.

[2019-11-29 15:25] dusatvoj commented on #15621
@wreiske Thank you. I will contact them.

[2019-11-29 15:31] Bengrunt commented on #15471
Still there in 2.3.0.

[2019-11-29 16:34] renatobecker commented on #15875
Yeah, I got it.
The fact is we don't agree that it would be a good idea to forward conversations to offline agents, mainly because there is a Livechat user(guest or visitor) waiting for a reply and offline agents might not be able to answer.
To ensure the best Livechat user experience, we need to continue allowing the forwarding chats to online agents only.

[2019-11-29 18:25] reetp commented on #15055
No. It is open source. Developers priorities may not be the same as yours.

If you have paid support you can contact support@rocket.chat

There is no log attached that I can see....

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

You need to test on 'latest'

Provide some proper logging and someone may possibly take a look.

[2019-11-29 18:28] reetp commented on #15884
Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

Test on 'latest' or 'develop' first please. Currently 2.3.0

Then search for 'search' in open and closed issues as I think this has been raised before.

[2019-11-29 18:30] reetp commented on #15876
@rocket-cat label add "type: bug"

[2019-11-29 18:33] reetp commented on #15883
Can you please test on 'latest' as per this:
https://rocket.chat/docs/contributing/reporting-issues/

Currently 2.3.0

Thanks

[2019-11-30 06:25] ritwizsinha commented on #15857
@MartinSchoeler can I work on this ?

[2019-11-30 09:59] reetp commented on #15857
You don't need to ask. Anyone can work on anything.

Just say 'I'll have a go at this'

[2019-11-30 10:17] reetp commented on #15884
Search "is:issue search thread"

#15200

Should be fixed in PR 15094

Test on latest.

[2019-11-30 12:15] florealcab commented on #6899
It's not true, I haven't it but it's back (without updating), so the problem is still unsolved. Hope it will be implemented soon...

[2019-11-30 15:26] localguru opened #15889 "meteor build: rocketchat-livechat/plugin/build.sh: node: not found"
### Description:

Based on the doc

  https://rocket.chat/docs/developer-guides/quick-start/

building a bundle fails. According to the documentation it is not necessary to install node and npm, meteor is sufficient: "There is no need to install node or npm, as meteor already includes them.". That's true as long as you don't want to build a bundle. In file `packages/rocketchat-livechat/plugin/buil

[2019-11-30 15:55] Gummikavalier opened #15890 "Auto load images not working"
### Description:

After updating Rocket.Chat from 2.2.0 to 2.3.0 none of the new or old uploaded images are not shown automatically anymore. The issue begun immediately after the first reload of pages after the upgrade.

Please comment or give a thumbs up if you have the same issue.

### Steps to reproduce:

1. Make sure you have `Auto Load images` option `True` under your user profile.
2. Upload

[2019-11-30 18:22] kdubss commented on #15857
I'd like to have a go at this!

[2019-11-30 18:29] ritwizsinha commented on #15857
@kdubss I have already asked for it please find some other issue

[2019-11-30 18:31] kdubss commented on #15857
@ritwizsinha - Sure thing!  Don't mean to step on any toes. :)

[2019-11-30 18:32] ritwizsinha commented on #15857
Thank you @kdubss for understanding .

[2019-11-30 18:33] johnyb0y commented on #15890
Just upgrade to 2.3.0 from 2.1.1. Seeing this issue as well.

[2019-11-30 20:35] johnyb0y commented on #15890
[Found this.](https://github.com/RocketChat/Rocket.Chat/pull/15716/commits/e6da5c098a4ee187a09a797cdb1278c9af9b302b#r352303068)

If I understand the code correctly the state of "saveMobileBandwidth" gets checked instead of "autoImageLoad".
This would result in autoImageLoad beeing turned off if saveMobileBandwith is turned off.

**Disclaimer:** It's possible I'm totally wrong here :)

[2019-12-01 09:55] Gummikavalier commented on #15890
I failed in creating working custom CSS for this. Other possibly related change:
https://github.com/RocketChat/Rocket.Chat/commit/3c94b0bd1ba0467a1a0d75a2e3ee1a5a0ace5816

[2019-12-01 10:05] johnyb0y commented on #15890
I just tried to enable "saveMobileBandwith" in my Client which according to my theory would have re-enabled "autoImageLoad" as well.
Didn't work, so probably I'm wrong.

[2019-12-01 11:18] GetGeeks commented on #11554
I am experiencing this (no nginx) any ideas?

[2019-12-01 11:46] mbassiouny33 commented on #15876
I have the same issue running rocket.chat with docker using  `mage: rocketchat/rocket.chat:latest`

[2019-12-01 12:34] mbassiouny33 opened #15891 "Custom oauth not created via docker-compose"
### Description:

### Steps to reproduce:

1. run the docker-compose file
2. go to rocketchat address

### Expected behavior:
custom oAuth should be created and activated.

### Actual behavior:
Nothing! the custom oauth is not created

### Server Setup Information:

- Version of Rocket.Chat Server: 2.0 since 2.2 has a bug with oauth
- Operating System:
- Deployment Method: docker
- Number of Runni

[2019-12-01 17:53] rockneverdies55 commented on #14466
On version 2.3.0 and I still cannot install apps from marketplace. Is it still on radar for upcoming releases?

Also for zip downloading, is there an easy way to install marketplace apps using the downloaded zip file on instances created / running by a docker-compose file?

[2019-12-01 18:52] Aaryan-kapur commented on #9979
can i start contributing to this, and take this up?

[2019-12-01 19:13] mdehollander commented on #2181
What is the status of this PR? Do you have a link to it?

And what is currently the recommended approach to invite new users that are not registered yet?

[2019-12-02 07:45] reetp commented on #14466
Possibly. Depends on the developers.

No not really, and hence this issue.

See above for some clues but note this is an 'Issue' for getting something fixed, not really a help forum. Follow this link for getting help.

https://rocket.chat/docs/getting-support/

[2019-12-02 07:50] reetp commented on #15891
@rocket-cat label add duplicate

[2019-12-02 07:51] reetp commented on #15891
@rocket-cat close

You have already said this is a duplicate of #15876

Closing in favour of that.

[2019-12-02 07:51] #15891 closed

[2019-12-02 07:56] reetp commented on #11554
@rocket-chat close

The original issue was most likely configuration.

A lot has changed in Rocket since this was originally raised.

Please read here for getting some help.

https://rocket.chat/docs/getting-support/

[2019-12-02 09:00] mbassiouny33 commented on #15891
Nope, it's not the same thing!
In #15876 I complained about the button not doing anything in version 2.2 via web interface. The issue is present whether you use docker or not.

My issue here, is using version 2.0 (which works perfectly with oAuth) but having issue getting the oAuth created via environment variables.

That said, Could you please re-open it?

Thanks in advance

[2019-12-02 09:32] reetp commented on #15891
This is for Rocket.Chat 2.0.0 so even if it is a bug it will not get fixed. At best it will get a fix in 2.3.x but you need to test on that first.

Please see the guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

If one of the devs feels it needs re-opening they will.

[2019-12-02 09:33] #11554 closed

[2019-12-02 10:13] cygnusm commented on #15880
Same problem!

[2019-12-02 10:36] ChevalierDeBalibari opened #15892 "mail leaks in log"
### Description:

Recently we tried to use email for our self hosted rocketchat. Anyway, this was not possible and email settings are removed. However Rocketchat now tries to sent notification emails, but fails and logs them into log file. This means that all admins are able to read private messages by looking at message log.

### Steps to reproduce:

1. Enable email.
2. Remove email setitngs.
3.

[2019-12-02 10:38] mbassiouny33 commented on #15891
Thanks for your reply. Makes sense to leave it for Devs to re-open if needed.

Updating makes it even worse as the latest version has no functional custom oAuth feature at all.

I'm just trying to point out that in addition to custom oAuth not working in 2.2, the custom oAuth can not be created with env. vars in docker (since 2.0).

That way, Devs can see that they have 2 distinct issues to fix in

[2019-12-02 10:41] zdumitru commented on #15884
Still happening in 2.3.0.

[2019-12-02 10:43] dusatvoj commented on #15884
Thank's for testing @zdumitru . I wanted to test it on latest but I haven't any time to upgrade cluster

[2019-12-02 11:25] reetp commented on #15891
Note you did say "I have the same thing" and cross referenced here.

https://github.com/RocketChat/Rocket.Chat/issues/15876#issuecomment-560097313

Your choice of wording was a little confusing.

Either way I suspect they are linked and they devs will be on the case.

[2019-12-02 12:48] reetp commented on #15884
You can test on open.rocket.chat and easily spin up a testing instance via docker. It just isn't that hard, and doesn't take long, especially if you keep a test instance running......

You can see it occurring on open.rocket.chat easily enough. I think it is finding the relevant message, but showing other messages in the thread, but without the message content:

![Screenshot_2019-12-02_13-41-40](h

[2019-12-02 12:49] reetp commented on #15200
FYI this is still doesn't work very well as per 15884

It kind of works, but the output is messy.

[2019-12-02 13:16] MartinSchoeler commented on #15857
For anyone working on this, the fix should be similar to the one done in https://github.com/RocketChat/Rocket.Chat/pull/15385

[2019-12-02 14:17] paulpopus commented on #14875
This also happens with the electron wrapper, instead just the app freezes though as it's a separate instance. Very annoying and not sure how to fix it.

[2019-12-02 14:42] typorian opened #15893 "Can't upload files due to timeout in browser"
### Description:

I can not upload files to the newly installed rocket.chat that I installed via snapd. Doesn't matter if I use gridfs or filesystem.

### Steps to reproduce:

1. click on + in the chat
2. select a file from computer
3. click upload

### Expected behavior:

file is uploaded

### Actual behavior:

it is stuck at 0%, with no useful information in the server log. I only see that there

[2019-12-02 16:14] juliensl commented on #15342
Hi localguru,

Yes, maybe you right, I switch to **mailgun** SMTP provider and now it works well.
Outlook, gmail, etc are not the good services for this.

We can close this issue I think.

Have a good day !

[2019-12-02 17:22] #15833 closed

[2019-12-02 18:01] MartinSchoeler commented on #15884
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/15841 Thanks!

[2019-12-02 18:01] #15884 closed

[2019-12-02 19:57] nishantwrp commented on #15857
Hey @larsziegelmann @MartinSchoeler, I'm unable to reproduce this error. Help!

[2019-12-02 21:12] bixmatech opened #15899 "Problem installing!"
#Description:

I installed ubuntu 18.04 with plesk control panel on my vps, i then installed snapd and isntalled rocket chat. rocketchat and mongodb started successfully but caddy is failed.
sudo journalctl -f -u snap.rocketchat-server.rocketchat-caddy
-- Logs begin at Mon 2019-12-02 16:52:14 CET. --
Dec 02 22:02:03 vmi311898.contaboserver.net systemd[1]: Started Service for snap application rocke

[2019-12-02 22:25] MathiasRenner opened #15900 "Federation: Option in settings, field "status" not documented"
In the latest server version, the field "status" field shows "enabled":
![image](https://user-images.githubusercontent.com/2377464/70000209-d3a0eb80-155a-11ea-87a2-6519dab656ab.png)

However, this is not documented here:
https://rocket.chat/docs/administrator-guides/federation/#recommended-configure-your-dns

Why is that? What's the difference to "Running" state?

[2019-12-02 23:53] machester4 commented on #15843
It's also happening in the latest version, I'm going to take this.

[2019-12-03 01:11] ggazzo commented on #15588
`/app/ui-utils/client/lib/modal.html`

[2019-12-03 03:45] machester4 commented on #15858
I was investigating and apparently the problem is that `OEmbed.getUrlMeta` gets a parsed url incorrectly and that is why the **metadata** is incorrect. I will continue with this problem. thanks for reporting it  :)

[2019-12-03 04:19] orlovnv56 commented on #2579
Last rockchat.app 17.0 and earlier one 16.2 on macos catalina doesnt work file upload, from mobile and web work without any problem

[2019-12-03 08:57] jnguiot commented on #15494
I have the same error with Grafana integration.
Usually, Grafana posts message like this:
`{"attachments":[{"color":"#D63232","fallback":"[Alerting] Test notification","fields":[{"short":true,"title":"High value","value":100},{"short":true,"title":"Higher Value","value":200},{"short":false,"title":"Error message","value":"This is only a test"}],"footer":"Grafana v6.5.1","footer_icon":"https://graf

[2019-12-03 10:28] darkounet commented on #11972
I have the same problem with CAS 2.0 & Rocket 2.2.0

I'm unable to override the username attribute.

[2019-12-03 11:43] nishantwrp commented on #15720
@wreiske I can't reproduce this issue too, this seems to be fixed

[2019-12-03 11:49] darkounet commented on #7312
Any news about this feature ?

[2019-12-03 11:54] J0kerFace commented on #2192
What's the status here?

[2019-12-03 11:58] guilhermecfviana opened #15904 "[BUG] Losing login frequently"
### Description:
Both on the desktop app and browse I losing login frequently.
Example: In one day, I losing about 10 times.

Login iframe: Enabled

### Steps to reproduce:
With time, losing login.

### Expected behavior:

Stay login

### Actual behavior:
Losing login frequently, both on the desktop app and browser

### Server Setup Information:

- Version of Rocket.Chat Server: 2.1.1
- Operating

[2019-12-03 12:11] ajajack opened #15905 "Add Livechat queue type: offer to all agents"
In the Livechat future features discussion (#1824), adding more queue types is listed in the wanted/planned features list. Offering incoming chat messages to all agents simultaneous would help allow faster responses and help keep all agents in the loop in organizations where a few agents field a small amount of traffic. I've created this issue as a way to discuss this specific queue type.

[2019-12-03 12:38] klaus96 commented on #15875
Hi, alright thank you . Now I have to find a way to explain it to my boss :sweat_smile:

[2019-12-03 13:03] maciek134 commented on #2192
Got overwhelmed with other work, I hope to have this finished by the end of the week.

[2019-12-03 13:16] akinb85 opened #15906 "Question: Mandatory 2fa for role feature"
Hello All,

Which versions+ of the rocketchat supports 'Mandatory 2fa for role (#9748)'? I could not find out any information in the release notes that contains Mandatory 2fa for role information.

Thank you in advance for your support.

[2019-12-03 13:41] MartinSchoeler commented on #15906
In release [0.73.0](https://github.com/RocketChat/Rocket.Chat/pull/13040) Also, please use our [forum](https://forums.rocket.chat/) for future questions. Thanks

[2019-12-03 13:41] #15906 closed

[2019-12-03 13:42] MartinSchoeler commented on #15899
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-12-03 13:42] #15899 closed

[2019-12-03 14:04] larsziegelmann commented on #15857
Hey @nishantwrp could you describe what you did to reproduce this issue?

[2019-12-03 14:18] typorian commented on #15893
After some additional testing, I want to add that this seems to be completely independent of what kind of storage is set for file uploads. Even if I set it to webdav with a known working remote webdav server, I get errors in the browser and nothing happens.

[2019-12-03 14:47] MartinSchoeler commented on #15874
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-12-03 14:47] #15874 closed

[2019-12-03 15:50] sdelfi commented on #13688
Sometimes I have the same error in the embedded mode

Rocketchat version: 2.3.0
OS: Centos 7
Docker: no
Node Version: v8.15.1
Mongo Version: 4.0.10

[2019-12-03 16:49] nishantwrp commented on #15857
Set the clock format to 24h
    Start a conversation with one of the users
    Observe the last message shown in the sidebar

[2019-12-03 16:50] nishantwrp commented on #15857
@larsziegelmann Can you record your screen while reproducing this issue and send me the link.

[2019-12-03 17:50] renatobecker commented on #12793
@rohitmyaim Have you tried this?
https://github.com/RocketChat/Rocket.Chat/blob/develop/app/livechat/imports/server/rest/users.js#L43

[2019-12-03 18:47] sampaiodiego commented on #2579
@orlovnv56 can you please open an issue on the Desktop App project https://github.com/RocketChat/Rocket.Chat.Electron ? so please describe the issue as much as you can.. thanks

[2019-12-03 19:08] antaflos opened #15909 "LDAP InsufficientAccessRightsError when syncing groups/roles upon user login"
### Description:

We are trying to use the new(ish) LDAP group, roles and channel synchronization feature (#14278) with Rocket.Chat 2.3.0 on Ubuntu 18.04. Our LDAP server (OpenLDAP 2.4.42) requires bind authentication to connect to the directory so we enable _LDAP Authentication_ and specify a User DN that has permissions to authenticate and search the directory. Regular users can authenticate aga

[2019-12-03 19:43] carpecodeum commented on #14825
hey is this issue open?

[2019-12-03 19:45] carpecodeum commented on #13151
can i have a go at it?

[2019-12-03 19:56] r1walz commented on #13151
Hey, @carpecodeum! I don't think anyone is working on this one. Feel free to take this up, if no one has already done it.

[2019-12-03 20:40] apaarfus opened #15911 "Permissions/Option to remove "Disable Auto-Away" from User's Preferences"
### Description:

The Auto Away functionality present in RocketChat works great; however, we would like the ability to prevent users from disabling/modifying these values.  Much to my confusion, our management team is using the online-state of their subordinates as a running attendance (to make sure everyone is working); including for our remote users.  At this time, if anyone is savvy enough to g

[2019-12-03 21:02] ppz8206 commented on #10730
Hello I am new in this kind of thins but I forgot my password and user for rocket chat. It is new fresh installaction so I don't have another users...

[2019-12-03 21:25] wreiske commented on #15909
Thank you for the very detailed report!

I will take a look at this in a little bit.

[2019-12-04 05:39] ritwizsinha commented on #15857
@nishantwrp
I have reproduced the error as follows ,
![image](https://user-images.githubusercontent.com/43509699/70115615-4d81c380-1686-11ea-8f3e-4ded78f91060.png)
The time on sidebar is still 12 hour format while on the chat is 24 hour format
(It's not showing in the morning time , but as the AM/PM aren't there)
This format was enabled by changing clock format to HH:mm in clock format property

[2019-12-04 05:44] wreiske commented on #15890
![image](https://user-images.githubusercontent.com/6295044/70115931-3e235b80-162f-11ea-9a74-bc592c9432e2.png)

I can't click to load images in thread replies.

[2019-12-04 07:17] mohsen2hasani opened #15912 "Custom user information is not received from OAuth"
### Description:

We have our own OAuth server and need to get some user information from OAuth (like phone and customer id) and display it on the user info page.

### Steps to reproduce:

1. Go to 'Accounts' and set this items in 'Custom Fields to Show in User Info':
`[{"CustomId":"#{CustomId}"}, {"phone":"#{phone}"}]`
2. Go to 'Accounts > Registration > Custom Fields'
3. Set this json :
`{"phone

[2019-12-04 07:34] sailfish009 opened #15914 "rocket chat server crashed randomly"
### Description:

rocket chat server seg-faulted

### Expected behavior:

no crash rocket chat server.

### Actual behavior:

rocket chat server stopped working suddenly.

### Server Setup Information:

- Version of Rocket.Chat Server:  2.3.0
- Operating System: ubuntu 18.04
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog: enabled
- NodeJS Version: v8.10.0
- MongoDB

[2019-12-04 07:52] ritwizsinha commented on #15588
@ggazzo @MartinSchoeler Please review

[2019-12-04 08:15] apacoco9861 commented on #15893
I have similar problem on latest helm chart (chart verion: rocketchat-1.1.12, app version: 1.3.1) installation (with latest rocketchat 2.2.0 image updated). User also use Chrome/Firefox, can't upload image as they can before.
I ask them to use IP instead of DNS URL. Problem resolved.
Rocketchat use Admin>General>Site URL to upload the file. While I first update Site URL to IP, it works fine, howev

[2019-12-04 08:20] typorian commented on #15893
@apacoco9861 my website URL has been set to the IP all along, because this was supposed to be a quick and easy interim solution. Does not work regardless.

[2019-12-04 08:31] reetp commented on #15914
Suggest you first check the engine versions here:
https://github.com/RocketChat/Rocket.Chat/releases

Node: 8.15.1
NPM: 6.9.0

[2019-12-04 08:57] apacoco9861 commented on #15893
we deployed rocketchat for 2 months, experience lots of file upload problem. we tried to delete pod, redeploy, reboot server, install desktop client. Almost every 8 days would have user report problem. Install desktop client help make our environment calm and stable 5 days since last file upload problem report.

[2019-12-04 09:32] carpecodeum commented on #13151
@r1walz hey, for which service do i have to make the setting and could you please elaborate how the users select their roles

[2019-12-04 09:34] carpecodeum commented on #15912
I'm on it

[2019-12-04 10:13] typorian commented on #15893
@apacoco9861 I just tried out the desktop client, exactly the same problem.

[2019-12-04 11:42] carpecodeum commented on #15912
@mohsen2hasani models of accounts?

[2019-12-04 12:00] carpecodeum commented on #15879
is this issue open?

[2019-12-04 12:02] carpecodeum commented on #15672
is this still open?

[2019-12-04 12:46] mohsen2hasani commented on #15912
what do you mean of account model?

[2019-12-04 13:14] reetp commented on #15672
Please read the comments and follow the links. There is already a PR for this but it hasn't been merged yet.

[2019-12-04 13:32] phantom603 commented on #13934
up

[2019-12-04 13:57] antkaz commented on #13934
Hello. Maybe I can do it.
But I think that if there are many fields, the table will not be displayed correctly

[2019-12-04 17:03] carpecodeum commented on #15912
i mean to say is there a folder called accounts? and is customfields a model? because i couldn't locate these files

[2019-12-04 17:08] EdiDD commented on #15893
I have the same problem on desktop client 2.16.2 and via web browser. Any fix ?

[2019-12-04 17:58] rehaankhan1 commented on #15912
Sir, @mohsen2hasani
Are you sure, that your OAuth code is correctly written?

[2019-12-04 18:13] rehaankhan1 commented on #15912
Go to Accounts > Scroll Below > Registration > AT last you will see a big text container which is Custom Fields
x-special/nautilus-clipboard
copy
![Screenshot from 2019-12-04 21-41-43](https://user-images.githubusercontent.com/20107730/70168938-0f64be00-16df-11ea-89f6-b1c01ee5e5e5.png)

@carpecodeum

[2019-12-04 19:10] mohsen2hasani commented on #15912
Yes, i used this oauth in other projects and get data.

[2019-12-04 19:33] rehaankhan1 commented on #15912
I will try it tomorrow by creating a dummy OAuth API.

[2019-12-04 19:56] #15890 closed

[2019-12-04 20:01] wreiske commented on #15890
I noticed this was closed, should I create a new issue on the image-to-download not working in threads? @sampaiodiego

[2019-12-04 20:15] makibras commented on #15880
Hi!

this change was intended to limit the admin having access to passwords so that passwords are secrets only known to the user himself.

To change/reset the password of an old user, you can go in the user administration for that user and toggle both "set random password" and "require password change", click "save". The user will receive an email with a temporary password and can then set his new

[2019-12-04 20:17] #15842 closed

[2019-12-04 20:19] sampaiodiego commented on #15890
yes @wreiske , please.. so we don't forget to fix it.. thanks

[2019-12-04 20:26] wreiske opened #15917 "Unable to click to load images inside threads"
### Description:

When you have autoload images disabled, you can't click to open images inside threads.

### Steps to reproduce:

1. Open a thread
2. Send an image
3. click on the "click to load"

### Expected behavior:

Show the image

### Actual behavior:

![image](https://user-images.githubusercontent.com/6295044/70115931-3e235b80-162f-11ea-9a74-bc592c9432e2.png)

I can't click to load images

[2019-12-04 20:27] wreiske commented on #15890
https://github.com/RocketChat/Rocket.Chat/issues/15917

👍

[2019-12-04 20:45] mddvul22 commented on #13249
We still have this problem.  https://github.com/RocketChat/Rocket.Chat/pull/15252 does not appear to have fixed our problem.  Is there something that we need to do to enable the pruning, by cron, that is mentioned on that page?   As mentioned in this ticket, we have a default retention policy of 7 days for everything.  But we have files in channels, that are still viewable, going back several year

[2019-12-04 20:45] wemu commented on #15880
I think for human users this works ok. But when creating/editing a bot user this isn't so practical. It also conflicts with the instructions on this: https://rocket.chat/docs/bots/create-and-run-a-bot/

[2019-12-04 22:45] reetp commented on #15893
Seems this is more likely to be poor configuration and not an Issue.

You are running SSL with a reverse proxy for security as per the docs?
You have got your DNS resolving correctly?
You have checked your websockets are working?

Have a read here:
https://rocket.chat/docs/getting-support/

Then here - look for Read This First at the top:
https://open.rocket.chat/channel/support

Here's the Read T

[2019-12-04 23:29] flantascience opened #15920 "How do I make it so the chat message are encrypted so that even someone with admin database access cannot read them?"
Not sure where else to post this question.... but how do I make it so that everything is secure for my users?    As it is now, it appears that an admin could go in and read messages between people.  Even though I'm the only person with admin access to the database, I'd prefer that even I were unable to read messages between users.  How do I configure this?

[2019-12-05 01:37] sailfish009 commented on #15914
@reetp , how do i install nodejs v8.15.1? i have upgraded it to v8.11.4.

[2019-12-05 02:11] apacoco9861 commented on #15893
some users report problem over web client and some report on desktop.
we just make sure they connect via IP and use desktop client and we keep monitoring the situation. so far so good. those users able to connect without problem, were able to send file, but some how failed to upload. text msg no impact, remaining users to impact, just affected randomly partial user. Still can't find out the root c

[2019-12-05 04:35] lucianomlima opened #15921 "Rocket.Chat for macOS crash after update to 2.17.0"
### Description:
After auto-update from 2.16.2 to 2.17.0, close and open again, Rocket.Chat crashes

### Steps to reproduce:
1. Install Rocket.Chat from brew
2. Open, update to v2.17.0
3. Close and open again after updates finish

### Expected behavior:
Works properly

### Actual behavior:
Crash

### Relevant logs:
<details>
<summary>Log from crash</summary>
Process:               Rocket.Chat [815

[2019-12-05 05:21] typorian commented on #15893
We are using this on a local network only. We don't need SSL, we don't need DNS, we don't need a reverse proxy. The issue even occurs when I use the web client on the same machine the server runs on (a freshly installed fedora 31 workstation).
-------- Original message --------From: John Crisp <notifications@github.com> Date: 12/4/19  23:45  (GMT+01:00) To: "RocketChat/Rocket.Chat" <Rocket.Chat@no

[2019-12-05 06:41] Gummikavalier commented on #15880
@makibras Thanks for opening up this a bit. I now understand the logic, but like @wemu mentioned, it does make creating bots and accounts for troubleshooting purposes bit too complex. Exactly the case where I stumbled upon it.

Our company process for creating routed (working) email accounts is time consuming process to begin with. So now to create a temporary test account I need to assign my own

[2019-12-05 07:46] typorian commented on #15893
@reetp I can confirm that I do have a websocket connection (albeit ws:// and not wss://, for obvious reasons) and I also do get status code 101. This is on both a remote and the local machine that runs the server in Chrome and Chromium respectively.

[2019-12-05 09:05] localguru commented on #14910
Do do see this bug on versions 2.1.1, 2.2.0 and 3.0.0-develop (open.rocket.chat).

We have a lot of public read-only channels here where we post news via hubot. In the past e.g. in version 0.69.2 it was still possible to join these channels as "normal" users and read messages there. Now the "Join" button is missing, which is extremely unfortunate. Since the bug has been known since the beginning o

[2019-12-05 09:58] wsy19961129 opened #15922 "Customize language translation for livechat widget"
I am trying to customize the translation of livechat widget, specifically, to Chinese. I follow the steps in https://rocket.chat/docs/developer-guides/quick-start/ to build the server. I modified 'zh.i18n.json' under packages/rocketchat-i18n/i18n before building, but that doesn't work.
Currently I modified the file 'i18n.zh.chunk.7314b.js' under node_modules/@rocket.chat/livechat/build generated a

[2019-12-05 10:37] TeraMind244 opened #15923 "Transferring a LiveChat room with an empty-named visitor from a Bot to a department return error in version 2.3.0"
### Description:

After upgrading Rocket.Chat to version 2.3.0, if a LiveChat room with an empty-named visitor is transferred to a department, the `/api/v1/livechat/room.transfer` request returns an error `Match error: Expected string, got undefined in field name` with status code 400 Bad request.

**Note:** This bug appears in version 2.3.0. I tested with version 2.2.0, it does not happen.

### S

[2019-12-05 10:56] DmytroPuzhay commented on #14792
Assignees
No one assigned
Labels
None yet
Projects
None yet
Milestone
No milestone

[2019-12-05 10:59] DmytroPuzhay opened #15924 "RocketChat team does not react to bug reports"
### Steps to reproduce:

1. Report a bug

### Expected behavior:

Bug is reacted on by the team, analyzed/prioritized and planned to be fixed

### Actual behavior:

6 moths since reporting bug stays in the following state:

Assignees No one assigned
Labels None yet
Projects None yet
Milestone No milestone

[2019-12-05 11:16] reetp commented on #15924
@rocket-cat close

This is repo is reserved for bugs in Rocket.Chat

If you have comments to make then use the appropriate channels - eg forums and open.rocket.chat

Please note that this is Open Source. There is no guarantee of anything, and the dev team are under no more compunction to fix something than you are.

They have their own priorities which may not align with yours. They do fix Issues,

[2019-12-05 11:16] #15924 closed

[2019-12-05 12:05] Srinivasan2017 opened #15925 "Expand/Collapse button in the Admin menu not working - IE 11"
Hi Team

We are using the IE 11 for rocketchat and noticed and Expand/Collapse button in the Admin menu not working - IE 11.

Kindly help us to resolve this

![image](https://user-images.githubusercontent.com/11881505/70233924-88b6ec00-1785-11ea-98f8-c5ba5df72e83.png)

[2019-12-05 13:40] typorian commented on #15893
Fixed it. The Site URL in the settings needs to contain the port as well, which is not indicated by the example written below it (at least in the German translation). I'm also relatively certain that this is not indicated in an obvious manner in the documentation, and maybe should also be added to the default setup when installing via snap.

[2019-12-05 13:40] #15893 closed

[2019-12-05 14:18] jnguiot commented on #15494
As a workaround, you can use this RocketChat script in the webhook definition:
[code]

[2019-12-05 14:49] carpecodeum commented on #15883
im on it!

[2019-12-05 14:51] carpecodeum commented on #15879
hey can i get a confirmation if this issue is still open?

[2019-12-05 14:52] renatobecker commented on #15922
You need to change the related file(`zh.i18n.json`) and then run the following command before committing:

`yarn run i18n`

[2019-12-05 14:58] carpecodeum commented on #15923
can i work on this?

[2019-12-05 15:23] wsy19961129 commented on #15922
Thanks for your reply. But I wonder where should I execute this command. I find 'yarn run i18n' under RocketChat/Rocketcht.Chat.Livechat; while currently I am using the code from RocketChat/Rocket.Chat and 'zh.i18n.json' is located in packages/rocketchat-i18n/i18n. 'yarn run i18n' always return _'error Command "i18n" not found.'_
Thanks!

[2019-12-05 15:26] renatobecker commented on #15922
You need to run it on the widget repo, here is the correct repository:
https://github.com/RocketChat/Rocket.Chat.Livechat

After that you need to submit a pull request with your changes.
I'm transferring this issue to the correct repo.

[2019-12-05 15:52] carpecodeum commented on #13151
@Hudell hey i found out that the admin can assign the roles to users from the admin/ accounts > registeration and its default is user , also the admin can assign the roles manually. so, what exactly needs go be done?

[2019-12-05 15:53] carpecodeum commented on #13151
@r1walz

[2019-12-05 16:11] carpecodeum commented on #15912
@mohsen2hasani i am sorry but i am already working on it i hope you understand :)

[2019-12-05 16:14] antaflos commented on #15909
A workaround is to change the user group filter so that it only looks at attributes in the user object, like `memberOf` and the LDAP group base DN to further up in the tree, for example:

[code]

This way the unprivileged user only searches in and looks at parts of the directory for which it has permissions (in our case). This of course also requires that the `memberOf` overlay is enabled and used

[2019-12-05 16:15] wreiske commented on #15909
Just for others looking here... I have very little time during the week to work on things like this, so please do not expect a timely fix + it will take weeks before it would be approved and merged in, and then a new release would need to go out. Just FYI!

[2019-12-05 16:44] tholu commented on #15921
You should close this in favor of the linked issues, as this has nothing to do with the server.

[2019-12-05 18:07] nishantwrp commented on #15857
@ritwizsinha I am again not able to reproduce this error

![Screenshot_20191205_233547](https://user-images.githubusercontent.com/36989112/70261258-114e8000-17b8-11ea-80a0-3a5d1214917b.png)

Can you please record your screen while you reproduce this issue.

[2019-12-05 18:14] Sing-Li commented on #7686
Web client already parse it as markdown.  But mobile is likely not supporting it yet.  Passing the case to mobile team for further investigation.

[2019-12-05 18:17] Sing-Li commented on #7734
Calling on the community to implement this feature.   Should not be difficult.

[2019-12-05 18:20] Sing-Li commented on #7759
Verified that this has been fixed.

[2019-12-05 18:20] #7759 closed

[2019-12-05 18:21] diegolmello commented on #7686
@Sing-Li Mobile do support it. Can we close this issue?

[2019-12-05 18:23] Sing-Li commented on #7900
Our UI team will get to this in time.  But calling on the community to implement it in the meantime.

[2019-12-05 18:29] Sing-Li commented on #7959
We are no longer expanding the capabilities of standlone webhooks.  Please refer to Apps development for further information.   This should be readily achievable via our Apps framework.

[2019-12-05 18:29] #7959 closed

[2019-12-05 18:31] Sing-Li commented on #7994
Fixed already.  Please re-open if there is still problem.

[2019-12-05 18:31] #7994 closed

[2019-12-05 18:39] xurizaemon commented on #15879
Hi @carpecodeum, GitHub issue status is shown at top of the issue page, and yes this issue is open as I comment.

[2019-12-05 18:48] Sing-Li commented on #7686
Sure. Thanks!

[2019-12-05 18:48] #7686 closed

[2019-12-05 18:53] Sing-Li commented on #8000
Confirmed still an issue TODAY in one of our channels.

![image](https://user-images.githubusercontent.com/122633/70264481-438bbd80-1777-11ea-806d-b4ee075f339c.png)

Especially scarey on 65 inches+  televisions 😶

[2019-12-05 19:30] reetp commented on #15920
@rocket-cat close

Closing notabug.

This seems to be a setup/support issue.

Please read the documentation.

Questions should be asked in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

[2019-12-05 19:30] #15920 closed

[2019-12-05 19:31] reetp commented on #15914
This is a bug tracker, not a support forum

Please ask for assistance in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

[2019-12-05 20:06] MartinSchoeler commented on #15925
@Srinivasan2017 Not enough information provided. Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2019-12-05 20:08] MartinSchoeler commented on #15921
Duplicate of #1422

[2019-12-05 20:08] #15921 closed

[2019-12-05 21:30] carpecodeum commented on #15879
ohh ok thank you! i would like to work on this.

[2019-12-05 21:51] carpecodeum commented on #15587
i want to work on it

[2019-12-05 21:58] carpecodeum commented on #15587
i want to work on this

[2019-12-06 02:42] ritwizsinha commented on #15857
@ggazzo I have work on the function setLastMessageTs in the app/ui-sidenav/sidebaritem.js to fix this issue right ?

[2019-12-06 02:54] sailfish009 commented on #15914
to update Node v8.11.4 solved the problem.

[2019-12-06 02:54] #15914 closed

[2019-12-06 03:44] geekgonecrazy commented on #15810
if it was me I would try signature version 2 and 3.  I would also check the region.  I think its picky.. it may require an s3 compatible region name (a quirk of the package we use).

[2019-12-06 04:56] ritwizsinha commented on #15857
@ggazzo  Please review

[2019-12-06 05:04] ritwizsinha commented on #15862
I'll have a go at it

[2019-12-06 05:11] ritwizsinha commented on #15626
@MartinSchoeler please review

[2019-12-06 07:44] aashaypalliwar commented on #14825
@LibertyTalk  I wish to work upon this issue. Is it still open?

[2019-12-06 08:10] Perflyst opened #15931 ""Hide roles" not working"
### Description:

Setting "Hide roles" in user preferences to "True" is not working.

### Steps to reproduce:

1. Add roles to users
2. Go into user preferences and set "Hide roles" to "True"

### Expected behavior:

Roles should be hidden in the chat window.

### Actual behavior:

Roles are shown, same as if "Hide roles" would be disabled.

### Server Setup Information:

- Version of Rocket.Chat

[2019-12-06 08:39] aashaypalliwar commented on #15931
Hi! I would like to work on this.

[2019-12-06 10:33] vikas0121 commented on #1663
How can we embed livechat iframe in some mobile apps to provide a good experience?

[2019-12-06 12:29] carpecodeum commented on #15879
hey @xurizaemon any inputs would be highly welcome i was thinking of using regex but that would be quite inefficient another option is for the database to store a lower-case version of the username and then we search the collection with this query
`db.collection.find({"name_lower": thename.toLowerCase()})`

[2019-12-06 12:48] rsimai commented on #14855
This seems a (younger) duplicate to https://github.com/RocketChat/Rocket.Chat/issues/14537

[2019-12-06 12:51] rsimai commented on #14537
I can confirm this for 2.2.0. We have an announcement channel with ~1200 subscribers and therefore searching the list most often fails and doesn't return the appropriate users.

[2019-12-06 13:24] renatobecker commented on #1663
You can do this using `WebView`.
BTW, you can use our `forum` to ask such questions.

Thanks.

[2019-12-06 15:20] salviof commented on #6713
@renatobecker   But I want log with existing user in Live chat, not a guest, not a new guest-user... Is this possible?
Scenario: Auto create chat roms about my leeds, inside leed dashboard, calling RC api (who will create a new room if not exists) The interage will happen in a Livechat iframe inside my aplication..

[2019-12-06 15:39] salviof commented on #6713
@renatobecker Ok, I Found -> https://rocket.chat/docs/developer-guides/iframe-integration/authentication/#what-is-iframe-auth

[2019-12-06 15:54] renatobecker commented on #6713
When you register the guest, they will auto-logged into the Livechat widget.
The link you shared above doesn't have any relation with the Livechat. The Livechat users are not regular Rocket.Chat users.

[2019-12-06 15:55] reffu42 commented on #13538
I agree with @gloriouschaos, code blocks and inline code should have no further rendering applied to them, since (aside from unintended code triggering formatting) it becomes impossible to do something like show the verbatim text one would use to achieve a certain format/rendering appearance.

[2019-12-06 17:13] EdiDD commented on #15893
Thank you. I can confirm that adding port fixed issue.

[2019-12-06 17:36] TheDhejavu commented on #13903
hi @MarcosSpessatto is there a pull request for this yet, i would love to fix this issue

[2019-12-06 18:26] xurizaemon commented on #15879
Would help to see where you propose that change.

I suspect this can be handled in frontend. Under *Actual behaviour* in first comment you can see the browser has highlighted the first mention and not the second. If the list of usernames is already  in browser at this point we may be able to do that matching insensitively with a regex quite easily?

[2019-12-06 20:45] #15876 closed

[2019-12-06 21:00] tassoevan commented on #15925
Related to https://github.com/RocketChat/Rocket.Chat.Fuselage/issues/105?

[2019-12-06 21:13] makibras commented on #15880
Technically, a bot user is the same as any other user and needs an email address, therefore can use the same process. This might change in the future. For now, I will close this.

[2019-12-06 21:31] wemu commented on #15880
@makibras I'm sorry but I have to disagree on this. The a bot user is more of a technical user that does not follow the same password policies as human users. In our case we authenticate users using the oauth features of rocket.chat - I could create the bot user in the forum (our main user source) but the password does not propagate. And after all the user is only required to exist in chat. And it

[2019-12-06 21:48] makibras commented on #15880
I read again my answer and it was a bit ambiguous. What I meant to say was that *right now*, the bot is treated technically like any other user in Rocket.Chat. It is simply a role you can add or remove.  As a result, the bot user needs an email and follows the same password workflows.
In the future, we plan to differentiate out the bot user to fit in more of the technical user role, which will pro

[2019-12-06 21:57] wemu commented on #15880
Ah I see. Well, yes: in the role point of view I can follow now.

Blocked only sort of. I have an existing bot user, I tried adding another one to test the other bot variations possible with rocket.chat - but I can't create a bot user anymore. But there is no urgent need to do so for me, I can wait - not sure about others though.

[2019-12-07 06:33] carpecodeum commented on #15879
Yeah thats a good approach. On it!

[2019-12-07 09:44] ritwizsinha commented on #15812
@tassoevan  I would like to work on it but I don't know how to open setup wizard if I have already done that process

[2019-12-07 14:05] tassoevan commented on #15812
@ritwizsinha You should reset the `Show_Setup_Wizard` setting to `pending`. It might be done when booting up the process: `OVERWRITE_SETTING_Show_Setup_Wizard=pending meteor`.

[2019-12-08 06:38] ritwizsinha commented on #15626
@MartinSchoeler please review

[2019-12-08 06:39] ritwizsinha commented on #15588
@ggazzo @MartinSchoeler @tassoevan please review

[2019-12-08 07:20] ritwizsinha commented on #15812
I am not able to reproduce this error in English, @antkaz which language is this ?

[2019-12-08 07:27] ritwizsinha commented on #15862
@tassoevan I have found the files for message actions ,pin,mark -as-read,etc but not able to find edit message . Could you please let me know the location of the message edit feature

[2019-12-08 08:29] antkaz commented on #15812
@ritwizsinha Russian language

[2019-12-08 13:13] carpecodeum commented on #15587
hey @MartinSchoeler i was thinking to remove the message box when threads are disabled. does that sound fine?

[2019-12-08 13:54] reetp commented on #15588
You do not need to "@" people all the time.

The devs get all the issue reports - they don't need extra pings. It just gets annoying, especially if you ping the wrong people.

Also note that their priorities may not be the same same as yours so you might have to be patient.

[2019-12-08 14:01] ritwizsinha commented on #15588
I am very sorry for this , I was used to pinging others for reviews in projects. Will take care next time

[2019-12-08 19:07] sairajsawant commented on #15931
Can I work on this? I already made some progress.

[2019-12-08 20:47] carpecodeum commented on #15879
hey @xurizaemon from what i have found out there seems to be a problem with the mentionsParser it does not provide a case insensitive search but doing just that does not help i couldnt find where the users get stored in the browser if you could help me on that it would be great!

[2019-12-09 03:02] sairajsawant commented on #15931
@ggazzo can you please review my PR?

[2019-12-09 04:23] antkaz commented on #15812
I check this bug in 2.3.0. Bug fixed. I close this issue
![image](https://user-images.githubusercontent.com/19654261/70407207-43d0d500-1a65-11ea-9d91-d732ce3ca016.png)

[2019-12-09 04:23] #15812 closed

[2019-12-09 11:46] ritwizsinha commented on #15626
Sorry for so many pings

[2019-12-09 12:19] rodrigok commented on #15931
@Perflyst the **hide roles** setting will affect the messages rendering only since it's under the **message's section** in the user's preference panel.

![Screen Shot 2019-12-09 at 9 12 06 AM](https://user-images.githubusercontent.com/234261/70435141-cb6a1400-1a64-11ea-99ae-837317d436be.png)

Is this issue related to a but where the roles are still be shown in messages, or you expect to hide the r

[2019-12-09 12:30] rodrigok commented on #15857
@larsziegelmann you can change the setting **Time Format** in **My Account** page to 24h format:

![image](https://user-images.githubusercontent.com/234261/70435771-79c28900-1a66-11ea-957f-751f175ad3b9.png)

Would this solve your problem?

[2019-12-09 12:42] emikolajczak opened #15938 "Keycloak integration - name not changed in Rocket.Chat when changed in Keycloak"
### Description:

We have integrated Rocket.Chat with Keycloak as Oauth. Where user "name" is being changed in Keycloak is not updated in Rocket.Chat mongo collection field "users.name", which is being shown in app, but only "users.services.keycloak.username".

### Steps to reproduce:

1. Integrate Rocket.Chat with Keycloak as a Oauth
2. For existed user change "name" in keycloak
3. In Rocket.Chat

[2019-12-09 14:46] Perflyst commented on #15931
The roles are shown behind the name in the chat window (group, private message etc)
This was not the case before the update to latest version.

On December 9, 2019 12:19:03 PM UTC, Rodrigo Nascimento <notifications@github.com> wrote:

[2019-12-09 16:00] dusatvoj commented on #12689
Any updates here?

[2019-12-09 21:10] brittyazel commented on #13926
We to have this issue on server version 2.3.0. on Android consistently newly sent messages get placed before the previously received messages. Only after leaving that channel and returning will the messages be in the right order

[2019-12-09 21:31] reetp commented on #13926
Which version of Android?

[2019-12-09 21:37] #15889 closed

[2019-12-09 22:12] dusatvoj commented on #11370
Any updates here?

[2019-12-09 23:36] brittyazel commented on #13926
I am using Android 9 (OnePlus 5t). I am using RocketChat Experimental 1.25.0.13048 and the server is on 2.3.0.

This happens every single time I send messages. The easiest way to replicate it is in sending 2+ messages back to back. Every message after the first will get positioned ABOVE the older messages rather than below. It's like it's ordering them backwards. And, like I said before, leaving t

[2019-12-09 23:48] reetp commented on #15791
Can this be closed with the merge?

[2019-12-10 03:05] lightweight commented on #15018
Still hearing the echo on 2.3.1

[2019-12-10 05:53] sumit-kumar-rai commented on #15116
@hermes-pimentel We had faced the same issue before, and the reason to get the output `Wrong instance, proxing to: localhost:3000` in the logs was due to unavailability or improper setting of environment variable `INSTANCE_IP`.

[2019-12-10 06:14] kakcept commented on #15791
Yes, thx a lot for response .....

[2019-12-10 06:14] #15791 closed

[2019-12-10 09:14] OPARA-PROSPER commented on #7734
@Sing-Li I will love to submit a PR to add this feature.

After reading the issue description by @localguru I understand that this feature when implemented should provide a settings feature in channels to enable (on) or disable(off) link previews when links are posted to the channel.

Please if i'm wrong @localguru I'd appreciate some clarity

[2019-12-10 09:51] ankar84 commented on #15876
Fixed at 2.3.1
Good job!

[2019-12-10 10:50] JASG94 commented on #15880
I'm dealing with the same problem @wemu told.

I understand the new password policy implemented for "normal" users, but, imho it would be great that admins can manage bot passwords, because with this new way of administrate them it's a little bit tricky to create temporaly bots for testing purposses.

[2019-12-10 11:37] mnazarov commented on #15864
See also
https://github.com/RocketChat/Rocket.Chat/issues/8640
https://github.com/RocketChat/Rocket.Chat/issues/12336
https://github.com/RocketChat/Rocket.Chat/issues/13538

[2019-12-10 11:50] larsziegelmann commented on #15857
@rodrigok I was first surprised that, that worked. But the issue with this, is that you have to go and change this setting on every user - if my thinking is correct.
It would be much more practical to have one setting for it, which applies to every user. Like a policy, in that matter.

[2019-12-10 12:06] rodrigok commented on #15857
@larsziegelmann that setting is a personal thing to change the render only, as you can see it will not remove the roles from the user's info panel.

If you want a global setting to hide any role information for security purposes or any other reason I suggest you close this issue and open a new issue of Feature Request at https://github.com/RocketChat/feature-requests describing this behavior.

Tha

[2019-12-10 12:08] rodrigok commented on #15857
@larsziegelmann sure, we can create a global setting to define the default behavior. Would that work? If yes, can you change the title and improve the description on that matter?

Thanks

[2019-12-10 12:35] larsziegelmann commented on #15857
Yes, of course. Thank you for your help.

[2019-12-10 12:53] bigf-oo-t commented on #8324
It is better to remove only LDAP users run the command:
`db.users.remove({"ldap": true});`

[2019-12-10 13:15] ritwizsinha commented on #15857
I will try and work again on this

[2019-12-10 13:16] ahmadali7 commented on #6556
Any luck on this issue (exactly same as @flantascience explained in comment )?

[2019-12-10 13:17] rodrigok commented on #15931
@Perflyst can you add a screenshot here demonstrating the issue?

[2019-12-10 14:55] ggazzo commented on #15857
Actually we have this setting, but we are not using at the sidebar... we made a proper fix here: https://github.com/RocketChat/Rocket.Chat/pull/15930 (thank @ritwizsinha)

btw: @larsziegelmann if you are changing an user preference, we expect only the user will see the changes... to reflect for all users you should look for admin settings

[2019-12-10 15:02] greatfireball commented on #11570
Interestingly, I need to provide a code for authentication via REST API. Neither the web front end nor the Linux client are asking for the 2FA, but REST will...

[2019-12-10 15:18] magicbelette opened #15945 "Huge rocketchat_statistics and userSessions collections"
### Description:

Hi,

Just to know, is it normal to have such sizes for rocketchat_statistics and userSessions collections ?
1,7G rocketchat_sessions.bson
4,3G rocketchat_statistics.bson

Servers are running since 2017 with 3 days session, 1500 active users on 71 instances.

### Server Setup Information:

- Version of Rocket.Chat Server: 2.2.0
- Operating System: Debian
- Deployment Method: tar
-

[2019-12-10 15:18] flantascience commented on #6556
Sorry @ahmadali7    I gave up on that approach a long time ago.

[2019-12-10 15:27] oscarfh commented on #8506
@ggazzo what can I do if I have the same issue as described, but I am not an admin, therefore I cannot change this option?

[2019-12-10 15:41] larsziegelmann commented on #15857
@ggazzo Of course, but I didn't find any setting for changing the time format for the last message in the sidebar.

[2019-12-10 17:06] reetp commented on #15945
@rocket-cat close

Github is reserved for bugs.

https://rocket.chat/docs/contributing/reporting-issues
https://rocket.chat/docs/getting-support/

How long is a piece of string? What is 'normal'? It all depends on usage.

Ask in the forums or open.rocket.chat

[2019-12-10 17:07] #15945 closed

[2019-12-10 19:11] pr0f-cha0s opened #15947 "Cannot read drop down menu options when custom zoom level is set"
### Description:

Using the Windows rocket.chat app, I have the zoom level at 130%? (under view > zoom in, clicked this three times). When I go into Administration panel, and try to change an option (any option actually) with a drop down menu, i cannot read the entire drop down menu option, as I imagine the text has become enlarged but the menu doesn't accommodate for the larger font size.

### St

[2019-12-11 02:30] chatdemoman opened #15950 "MongoDB license issue for commercial use"
Hi Team,

It would be great to know whether the rocket chat support other DBs rather than mongoDB since its no more pure open source. And what are all the options  ?

[2019-12-11 03:24] eliotb commented on #15583
I'm seeing this issue on  Version 2.3.1
BTW the title of this issue should be "... not logged IN"

[2019-12-11 03:42] eliotb commented on #15583
Note. This is the same as #15391

[2019-12-11 04:02] eliotb opened #15951 "Missing login button on default landing page when Allow anonymous read is enabled."
### Description:

A UI or UX problem:

When  "Allow Anonymous Read" is enabled, there is no way to log in from the default landing page.  It is necessary to log in to see e.g. direct chats or private rooms.
To log in, one must visit a visible room, and use the provided login button.

### Steps to reproduce:

1. Enable "Allow Anonymous Read".
2. Log out of chat. (or visit from a clean session)
3. Y

[2019-12-11 06:08] antkaz commented on #15950
This question has already been raised more than once. You can find the answer here:
https://github.com/RocketChat/Rocket.Chat/issues/533

[2019-12-11 07:26] villadalmine opened #15952 "lost change password functionality in. 2.3.0"
After update to version 2.3.0 and also 2.3.1 i can not assign password to new user also my own  user.

[2019-12-11 08:59] villadalmine commented on #15952
I start with 2.2.0 then 2.3.0 , problem appear, and then 2.3.1

I have self host rocketchat, and used with compose . of oficial page.

[2019-12-11 09:50] reetp commented on #15950
@rocket-cat close

https://forums.rocket.chat/t/legal-implications-of-mongodb-licensing-change/2332/5

[2019-12-11 09:51] #15950 closed

[2019-12-11 10:28] reetp commented on #15663
Still on 2.2.1

Also there seems to be an associated bug. I can see the error in the docker log but NOT in the admin View Logs

Admin Log Viewer

[code]

Docker log viewer

[code]

[2019-12-11 11:01] reetp commented on #15952
Search for both open AND closed Issues

https://github.com/RocketChat/Rocket.Chat/issues?utf8=%E2%9C%93&q=is%3Aissue+password

I think this may be the issue:

https://github.com/RocketChat/Rocket.Chat/issues/15880

[2019-12-11 11:09] reetp commented on #15880
@makibras

I'm afraid I don't agree with this policy. You are dumbing down the admin role.

I have a system that uses a dummy domain and the users are unable to use email links.

I set them up with an account and they login JUST with their username and password - no email addresses are used.

And if I am admin and it is my system why CAN'T I reset a users password? It is MY system.

You are basica

[2019-12-11 11:41] makibras commented on #15880
@reetp

Thank you for your comment. The user password is not part of something the
admin should ever know about and common practice. That kind of knowledge
does not belong to an admin. The password is a secret only known by the
user. The admin still has the power to trigger the reset so in your system
you are still capable to do that if you would use regular emails. As you
are using dummy emails,

[2019-12-11 11:58] reetp commented on #15880
In a word "nonsense".

On all my servers I can do whatever **I** as the admin want. (my users have zero control over any of their passwords becuase they are users and will most likely pick useless ones).

I can change their password to one of MY choosing in LDAP that they would have to use in Rocket - so what's the difference setting one in Rocket itself? Nothing whatsoever. This is just "security

[2019-12-11 12:34] antkaz commented on #15471
Hello! Are there any updates on this issue?

[2019-12-11 12:48] rsimai commented on #503
Similar reports:
https://github.com/RocketChat/Rocket.Chat/issues/3514
https://github.com/RocketChat/feature-requests/issues/175

I'm a bit confused as the menu item to report a post obviously is available, on Android, iOS and the browser client. But there appears to be no action when a user confirms the report. The only reference I could find in the docs is for the /api/v1/chat.reportMessage call

[2019-12-11 13:21] magicbelette commented on #15374
Hi,

Same problem with OpenLDAP Server and Rocket.Chat version 2.2.0.

[2019-12-11 14:46] mboekhold opened #15953 "Rest API setStatus documentation"
Hi, I just had to read through the repo's issues and releases to find the proper way to send a post request to the users.setStatus endpoint, I'd like to contribute to the docs for this addition :smile:

[2019-12-11 15:46] Gummikavalier commented on #15880
I'd like to specifically mention that admins are still capable of resetting user passwords directly in the rocketchat database.

They are encrypted, but you can generate one known to you by resetting your own password, and then simply copy it over to any other account. Cumbersome but possible. And of course this method requires access to command line on the server.

Admittedly the current limitati

[2019-12-11 19:36] maulkin opened #15955 "Mentioning users in a public channel bypasses add-user-to-joined-room permissions checks"
### Description:

Any user can add other users to public channels by mentioning them, which bypasses the permission checks. This means that (for example) a spammer could force many people to join a room, or for someone to be added to a very busy room and start getting a lot of notifications which they didn't want.

### Steps to reproduce:

1. Join an existing public channel, so you don't have owne

[2019-12-11 19:55] villadalmine commented on #15952
Thanks duplicated issues i will follow there. Thansk!

[2019-12-11 19:55] #15952 closed

[2019-12-11 20:04] villadalmine commented on #15880
Please document a process if i want to put the password by myself i do not have and do not want enable mail for each password action .  Process for admin user to access command line and put password, and think in the future another functionality without using email.

[2019-12-11 20:07] wemu commented on #15880
I think another workaround might be using the rest api: https://rocket.chat/docs/developer-guides/rest-api/users/create/ - it seems everything is there. Have not tried that yet.

[2019-12-11 20:43] aKn1ghtOut commented on #15955
Can reproduce the issue. I'll work on this if it is fine?
In my opinion, the user shouldn't be notified either if the person doesn't have admin privileges and the user is not already a member of that channel. I'll put that solution up. Please do say if there's a better policy available.

[2019-12-11 21:21] maulkin commented on #15955
My (cursory) reading of the code suggests that not notifying the user would be required. Possibly it may be worth checking now private chats deal with this, and doing something similar.

[2019-12-12 02:32] serviceman commented on #15724
This really is something that is required for larger communities. I have 1000's of messages posted daily and my database is quickly growing. Is there any update on a solution for this?

Perhaps a solution to this, for larger communties, when a message is removed due to the retention policy, the messages are not removed from user view until the Rocket Chat client is reloaded.

With that being said,

[2019-12-12 02:59] makibras commented on #15880
@reetp
please keep your comments civil and focused on the issue at the discussion. Selectively quoting me or Gabriel does not help here and from your answer I could not make out a way to help your situation.

It is common standard nowadays that almost all IT systems rely on an external factor in the control of the user (e.g. mailbox, phone) to authenticate him or as a fallback option to receive ne

[2019-12-12 08:58] rsimai commented on #14910
I can confirm this for 2.2.0, also https://github.com/RocketChat/Rocket.Chat/issues/14910#issuecomment-546602317 and that auto-join works for new users when it's a default read-only channel. Unfortunately that's not the level of self service users expect. It IMO renders announcement channels not usable :-(

[2019-12-12 10:14] chimsue245 opened #15958 "Change user password in Admin Side"
Hi guys please help me how to see the input text box for password im using in admin so i want to change username for my user but the change password box not appear . please help me TIA,

![Capture](https://user-images.githubusercontent.com/17686420/70703573-5c621900-1d0b-11ea-8f8c-fa4be8a712c3.PNG)

[2019-12-12 11:02] OPARA-PROSPER commented on #15958
To Change your password you'd need to locate the `require password change` on the right side:

![rocket](https://user-images.githubusercontent.com/30195980/70706803-fc517f80-1cd6-11ea-96b9-d22f096e7aee.png)

click the toggle button (should turn green when you do), when you hit the save button, you'd be prompted for a new password.

[2019-12-12 11:07] reetp commented on #15880
I was. You should see me when I _am_ being rude. Just because I disagree does not make me rude.

We'll have to agree to differ.

It is my system, and surely it is up to me what happens? I can do whatever else I want on my server. I know everything else that goes on with it, because legally I have too. Why should Rocket be any different?

As already pointed out, it is still perfectly possible to ch

[2019-12-12 11:32] c0dzilla opened #15959 "The link in 'How it all started' section of README throws 404 error"
### Description:

The _How it all started_ section in the `README` links to https://www.synopsys.com/blogs/software-security/rocket-chat-enabling-privately-hosted-chat-services/ which throws a `404` error.

### Steps to reproduce:

1. Navigate to _How it all started_ section in README.
2. Click on link.

### Actual behavior:

`404` error on the provided link.
[![how it all started](https://user-im

[2019-12-12 11:34] jwillmer opened #15960 "OAuth2 token failed for custom OAuth"
I try to setup a custom OAuth 2 provider but the login process always fails. Both applications (RocketChat and UserMgm) are running on the same server in docker containers. Internally user mgm is reachable by `http://usermanagement:5001`. Externally only by HTTPS and a FQDN (using traefik as proxy).

RockeChat Configuration:
![image](https://user-images.githubusercontent.com/1503577/70707873-8569b

[2019-12-12 15:23] blharveymi opened #15963 "Anyone figure out how to get Amazon DocumentDB working with Rocket.Chat?"
Was wondering if anyone as relooked at using Amazon DocumentDB for rocket.chat. I know they have made some improvements to it and looks like you could use changestreams in place of oplogs.

[2019-12-12 17:52] raabeer opened #15964 "Loss of configuration mongo db"
Good Morning.

I have been facing a problem that unfortunately I found nothing related in the community.

I installed Rocket Chat on top of Docker.
The Docker-based installation has greatly improved our performance, but I have been facing a problem with external DNS pointing.

My problem is not really in Docker but in the database (Mongo DB). Because there we have a documment called "db.rocketchat

[2019-12-12 17:59] novacrazy commented on #14910
I’m going to try today to see if a bot with near-admin powers can invite users to read-only channels. At least then we don’t have to do it by hand.

[2019-12-12 18:24] novacrazy commented on #14910
Update: Bots can indeed join users to read-only rooms via the `add-user-to-any-c-room` permission. Just implemented a simple `!join #channel` command for my users.

[2019-12-12 18:50] #15959 closed

[2019-12-12 22:20] villadalmine commented on #15880
I  agree why force to use email ? I have my own server with my own rocket chat for internal use.
All of my. user are admin we are a. group of friends using rocketchat  because we do not want
to use other messaging tool , I. think I. do not want to force use email in my server and if i do not want any secure authentication it is my fault  i do not want no one push me how do i need to do. with my pr

[2019-12-13 02:40] jasonz1987 opened #15971 "how to custom field ui on register page"
Q1: i've add custom filed in admin page ,and it's shown on register page.

but the ui is not same as the other fields?

![image](https://user-images.githubusercontent.com/7090036/70765147-d2f72900-1d94-11ea-9dc5-8f9772a7b0b3.png)

Q2: can i disable email filed for user auth/register?

i want to use my own custom filed?

[2019-12-13 04:22] makibras commented on #15920
@flantascience
End to Encryption might be help for your case. While it does not make "everything secure", it is targeted at your goal to prevent admins from reading plaintext messages between users that use this feature. The admin can only see an encrypted string, the encryption keys are generated client side and cannot be accessed by the admin. Just make sure to activate the global setting in the

[2019-12-13 04:26] makibras commented on #15958
Hi @chimsue245

this change was on purpose in the most recent version to prevent admins from knowing user passwords which is not something to happen in the first place and therefore a security fix.

You can find a more elaborate discussion here where I explain this change here:
#15880

To reset a password, toggle "set random password" and "request password change" and click save. Your user will re

[2019-12-13 04:26] #15958 closed

[2019-12-13 05:00] ankar84 commented on #13537
Search on a custom fields is a very usefull feature.
We added telephone number to custom field **telephoneNumber**.
We added **telephoneNumber** in **Fields to Consider in Search** option in **Account** settings in **Administration**
But search for users telephone number doesn't work now.
Please add opportunity to **search for custom fields in Directory ->User**

[2019-12-13 08:42] JASG94 commented on #15880
In my opinion it makes no sense to allow the password change through the API but not in the UI in the case of bot accounts.

It's just my opinion, but it makes admin life's difficult unnecessary

[2019-12-13 10:15] MIKI785 commented on #15880
As mentioned before, this change just makes it more complicated to change passwords, but not impossible. I don't understand the change either. I mean, couldn't you just change the email to one you control and reset the password then?

[2019-12-13 10:30] whitecolor opened #15972 "Docker compose deployment doesn't publish service on containers IP"
Starting on docker for windows.

Following config:
[code]
It runs ok:
![image](https://user-images.githubusercontent.com/736697/70793432-19607e00-1dbd-11ea-8c6f-12ee433c9929.png)

It is accessible on `localhost:4000`

But I want to access the service using containers IP which looks like `172.20.0.3`, but can not. Port is not published on this IP. Can this be fixed/tuned somehow?

[2019-12-13 13:14] ritwizsinha commented on #15862
@tassoevan I am not able to find the message edit feature in the code, could you please direct me where it is located?

[2019-12-13 13:56] JakubJachym opened #15973 "Custom emojis are being replaced with an internal with similar name"
### Description:

When using a custom emoji, it gets replaced with an internal emoji with similar name. For example `:ga:` emoji (Google Analytics icon) is replaced with `:flag-ga:` (flag of Gabon). Or `:facepalm:` is replaced with `:person_facepalming:`

### Steps to reproduce:

1. Create a custom emoticon (Administration --> Custom Emoji) with name or alias `ga`
2. Go to a chat and use the custo

[2019-12-13 15:01] ritwizsinha opened #15974 "The show agent info property in the livechat appearance have underscores"
### Description:
In the livechat appearance setting show agent info has underscores while all other properties do not.
### Steps to reproduce:

1. As the administrator enable livechat
2. Go to appearance settings of livechat
3. Show agent info property has underscores

### Expected behavior:

There should be no underscores

### Actual behavior:

![image](https://user-images.githubusercontent.com/4

[2019-12-13 15:23] ritwizsinha commented on #15974
Please Review

[2019-12-13 15:49] ritwizsinha opened #15976 "The fields in the email are not changing from english when changed language"
### Description:
The description boxes, as well as the title boxes, don't change from English when language is changed to any other, even though the translations exist

### Steps to reproduce:

1. Being an administrator change language to any other
2. Go to the email settings
3. The description boxes and title boxes don't change

### Expected behavior:
They should change

### Actual behavior:

![i

[2019-12-13 16:20] flantascience commented on #15920
Thank you @makibras
This may be a good solution.... does it require every user to go through this 'one time passcode' type proccess?   Or is that something I do as an admin?   It seems like it'd be a pain to put that on the users.... but would love to be able to make everything encrypted globally.

[2019-12-13 17:02] andreybrasil commented on #14781
Hi!
I have this problem with video calling and voice calling between two people.
I can make a video call or a voice call, but apparently Rocket Chat can't identify that the call has ended and don't have a button to finish it.
Then this happens to me: Via web browser, when I start a new call, it always sends to the same meet room in Jitsi which is a prefix followed by a random string. Independent o

[2019-12-13 17:15] andreybrasil commented on #14584
The current version in open.rocket.chat have the same issue. Here, an old conversation with more details: https://open.rocket.chat/channel/support?msg=pXDSWRTft5Z4Nw6EH

[2019-12-13 17:22] andreybrasil commented on #14145
The current version in open.rocket.chat still have the same issue. Here, an old conversation with more details about this: https://open.rocket.chat/channel/support?msg=pXDSWRTft5Z4Nw6EH

[2019-12-13 17:43] #15974 closed

[2019-12-13 18:56] sshere commented on #15820
Disabling the rate limiter has not had any resolution to this for myself. We have even raised the number of calls to 9999 and the time allowance to 1 and 0 to see if it would have any change.

[2019-12-13 19:22] MartinSchoeler commented on #15976
Could you please tell us the version this error is happening, thanks!

[2019-12-13 19:23] MartinSchoeler commented on #15971
Hey, looks like you seem to be looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2019-12-13 19:23] #15971 closed

[2019-12-13 19:24] MartinSchoeler commented on #15963
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-12-13 19:24] #15963 closed

[2019-12-13 19:59] ritwizsinha commented on #15976
@MartinSchoeler I am building the application from source, so I guess it is the 2.3.2 version

[2019-12-13 20:04] MartinSchoeler commented on #15976
@ritwizsinha  I see, probably this string has not been translated to that language yet, you can probably fix this by finding the string key and adding it to the language i18n file

[2019-12-13 21:12] Amagon96 commented on #15973
Hi! Can I work on this?

[2019-12-14 00:38] makibras commented on #15920
@flantascience
the code (actually the encryption key) is generated client-side at the user and only shown to him. Users need to save/remember that key as they will need it for all clients they use. They enter it one time per client and from there on it works on that client. As it is stored in the cache, clearing the cache or browsing as "incognito" requires re-entering the key. It is functioning a

[2019-12-14 02:42] wreiske opened #15980 "Drag n' Drop doesn't go away after uploading to thread"
### Description:
When dragging and dropping to a thread after dragging over the main channel, the main channel never goes away.

### Steps to reproduce:

1. Drag a file over the main channel into a thread.
2. Upload the file

### Expected behavior:

The drag to upload goes away.

### Actual behavior:

Drag to upload is stuck on the screen and requires reloading.
![drag-upload-doesnt-close](https:/

[2019-12-14 05:55] ritwizsinha commented on #15976
![image](https://user-images.githubusercontent.com/43509699/70844204-d4dbed80-1e63-11ea-8e78-c7372ef6b258.png)
@MartinSchoeler  I have been unable to use the string key in the short HTML snippet in this.add( ) function. I have done it the normal way variables are inserted in HTML, but it's giving an error

[2019-12-14 10:50] Perflyst commented on #15931
Of course, see the screenshot below
![rc_roles_bug](https://user-images.githubusercontent.com/26308977/70847727-8f1d2600-1e5f-11ea-903d-a88d77dee458.png)

[2019-12-14 14:19] rendxq commented on #13301
After update to v2.3.2 the issuers still are existing.

"curl http://rocketchat:3000/api/info ---> {"version":"1.3.2","success":true}"
"curl http://rocketchat1:3000/api/info ---> {"version":"1.3.2","success":true}"
but in rocketchat log I see:
stream error Can't establish a connection to the server at ws://rocketchat:3000/websocket
stream error Can't establish a connection to the server at ws://ro

[2019-12-14 15:10] ashwaniYDV opened #15981 "Variable name is apperaing instead of it's value in Administration->Imports settings"
### Description: SLACK_USERS variable value is not loading in http://localhost:3000/admin/import page. Its value is defined in all the languages but instead of translated value, the variable name is shown.

### Steps to reproduce:

1. Go to Options in home page
2. Click Administration
3. Click Imports

### Expected behaviour:
Value of SLACK_USERS variable must appear.

### Actual behaviour:
"SLACK

[2019-12-14 15:35] mbassiouny33 commented on #15891
Oops! sorry for the confusion. I actually had 2 issues, I cross-refernced here in my 2nd issue just to explain why I'm using an older version( since the newer one had a bug with UI)

Anyway the Admin UI issue is now solved in 2.3.2. I edited my post accordingly.
After further testing with version 2.3.2, I figured my issue is actually like this one
https://github.com/RocketChat/Rocket.Chat/issues/1

[2019-12-14 18:16] ashwaniYDV opened #15982 "The more imformation link in Administration -> Imports -> SLACK_USERS is broken"
### Description:

This link (https://rocket.chat/docs/administrator-guides/import/slack/users) is broken.
It can be found in (http://localhost:3000/admin/import/prepare/slack-users)
### Steps to reproduce:

1. Click Administration on sidebar
2. Click Import
3. Click the "Start" button in SLACK_USERS section
4. Click this link (https://rocket.chat/docs/administrator-guides/import/slack/users) there

[2019-12-14 18:22] ashwaniYDV commented on #15982
@MartinSchoeler Can you please provide the readme file for "importing Slack's Users CSV data in rocket.chat".

[2019-12-14 19:53] bixmatech opened #15983 "snap install failed on ubuntu18.04/plesk, caddy failed to start"
Dear,
snap install failed on ubuntu18.04/plesk, caddy failed to start, any idea?

[2019-12-14 20:14] aKn1ghtOut commented on #15980
If nobody is working on this, I'll take this up

[2019-12-14 22:17] ashwaniYDV opened #15984 "Typo in bug report issue creation template"
### Description: Behaviour is written as behavior.

### Steps to reproduce:

1. See this issue template

### Expected behavior:
### Actual behavior:

### Additional context
I want to correct the bug issue template typo.

[2019-12-15 00:10] didacroyo commented on #15880
Why not making this configurable?

RocketChat has a lot of things configurable. Why not continue in the same "everything configurable" policy?

THIS IS A SUGGESTION..
![image](https://user-images.githubusercontent.com/35463401/70856205-b44d7b00-1ed7-11ea-9bf9-0b803c69cbf7.png)

[2019-12-15 18:23] aKn1ghtOut commented on #15984
"Behavior" is American English, while "Behaviour" is British English.
Might be intended to be the way it is.

[2019-12-15 19:31] aKn1ghtOut commented on #15980
This one is not exactly a bug, but it's more of a browser issue since the "dragleave" event isn't getting fired when you hover over the partition area like that. We can however, still implement a solution to this that might not be very efficient by catching mouseenter and mouseleave events if dragover class is enabled, and processing those too as long as the dragover class is active. In this case,

[2019-12-15 21:37] wreiske commented on #15980
I would say once a dragleave has been fired, or when the attachment box pops up, it should close out all the ope drag dialogs. That way even if the dragleave doesn't fire, one the attachment popup fires, it could close the dialog.

[2019-12-16 03:34] wlsdk0125 opened #15986 "rocketcaht app click save the images no response"
使用rocketchat app点击保存图片没响应无法保存到手机上，在pc端和手机游览器是都可以保存的

[2019-12-16 05:16] ankar84 commented on #13926
I'am sure, that I am having the same issue with **RC Version 2.3.1** in **RC.Electon Version 2.16.0**
But I think I saw it first time today.
We have **3 RC Running Instances** with **OpLog Enabled.**
And now I see one strange thing - **Mongo Storage Engine** shows **unknown** instead of **MMAP**

[2019-12-16 09:34] ankar84 opened #15987 "File Upload Content-Type"
We would like to use FortiWeb as revers proxy with it's rich file processing features.
But for now FortiWeb doesn't see files transfered in Rocket Chat.
FortiWeb [support specified that](https://docs.fortinet.com/document/fortiweb/6.2.1/administration-guide/329620/limiting-file-uploads) for file detection and restriction by file type and size, FortiWeb scans **multipart/form-data; boundary=...**,

[2019-12-16 09:44] photoninger commented on #4890
rocket.chat is still leaking file handles.
I have rocket.chat 2.3.0 with local FS file storage for file uploads.
Most of the open file handles are uploaded files in the local FS.

[2019-12-16 09:45] antkaz commented on #10797
Hi RC team. We also have a need for this feature. Maybe make `roomId` as an optional parameter for the `chat.getStarredMessages` endpoint. Then the result will include all stared messages for the user. And for UI add checkbox to display global or local stared messages.

Using global search with the `has: star` filter is neither convenient nor obvious.

[2019-12-16 12:09] #15130 closed

[2019-12-16 12:22] nodje commented on #14562
I'm having the same symptoms with Ubuntu Snap.
Eager to see my logs clean again, right now get this type of logs 2-3 times per second:
[code]

[2019-12-16 14:00] MatthieuPERIN commented on #8989
Same issue when needing to talk about *.xml & *.xsd files in a chat the rendering brings ".xml &" as bold, please provide a solution !

[2019-12-16 14:25] craig commented on #15892
Isn't this fixed via #15928?

[2019-12-16 14:36] sknorr commented on #7016
As an example of a chat system that allows this, Discord lets you wrap links like this `<https://link/>` to [disable previewing for a particular link](https://support.discordapp.com/hc/en-us/articles/206342858--How-do-I-disable-auto-embed-).

[2019-12-16 16:25] MartinSchoeler commented on #15983
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-12-16 16:25] #15983 closed

[2019-12-16 16:36] pramsky opened #15990 "AD password changes do not replicate to Rocket.Chat"
### Description:

When using LDAP authentication against an Active Directory Server, changing the AD password does not sync to Rocket.Chat.

### Steps to reproduce:

1. Login as an AD user. This should work
2. Log out
3. Change your AD password.
4. Attempt to login with new password, this will fail.
5. Login with old password, this will work.

### Expected behavior:

Login with new password should

[2019-12-16 17:04] ggazzo commented on #5428
we are loading katex using dynamic imports now :)

[2019-12-16 17:04] #5428 closed

[2019-12-16 18:32] dusatvoj commented on #15904
I'm using RC v2.3.0 and 2.3.2 on one project and login is lost very frequently for some users. Without errors syslog.

[2019-12-16 19:23] mddvul22 commented on #13249
Apparently commenting to the issue doesn't automatically reopen it, and I'm not allowed to reopen it explicitly because I didn't close it myself. So, please reopen it :)

[2019-12-16 21:54] ClundXIII opened #15993 "support for user group syncing with groupOfUniqueNames using openLDAP"
Hello,

it seems like there is no (obvious) support for using groupOfUniqueNames (with openLDAP) to sync groups and stream membership. Apparently the filter at the bottom (for only allowing certain user to log in I guess?) does indeed support it.

I am using the ou containing all group as the content of "group base dn" and tried
`(&(cn=#{groupName})(uniqueMember=#{userdn}))` and
`(&(cn=#{groupName

[2019-12-17 01:47] #15923 closed

[2019-12-17 05:10] ankar84 opened #15995 "PUSH notifications in Away status"
**Rocket.Chat Version 2.3.1
Rocket.Chat Electron Version 2.16.0
Rocket.Chat ReactNative Version 4.1.0.2095**
User has Rocket.Chat installed on his desktop and smartphone.
Now PUSH notifications are sent to smartphone only when desktop application is totally off.
It is not so conveniently, because if user out of computer (in a meeting, or just out of office) and his desktop application is launched

[2019-12-17 05:20] ankar84 commented on #11517
Totally agree with that issue!
Here is my relevant issue https://github.com/RocketChat/Rocket.Chat/issues/15995
Server version is up to date, but no PUSH notifications if desktop client is open.

[2019-12-17 05:33] ankar84 commented on #13926
Probably **Mongo Storage Engine shows unknown** not related to that issue.
It become **unknown** when our administrator configured **MongoDB with authorization**.
But today I saw problem described in that issue again.
My messages appears upper the interlocutor message in dialog even though I sent a message later.

[2019-12-17 05:55] ritwizsinha opened #15996 "Incorrect rendering of variable in the ui"
### Description:
In the recent import history, the import type variable is not rendering correctly as the underscores are appearing .

### Steps to reproduce:

1. Click on Administration
2. Go to recent import history
3. The import type variable is not rendered correctly

### Expected behavior:
It should render correctly so that translation could be possible
### Actual behavior:

![image](https://

[2019-12-17 06:28] spanchy commented on #15990
Hello, check please option "Login_LDAP_Fallback". Set False for this and try. I think a problem with ad login sync settings.

[2019-12-17 06:59] ritwizsinha commented on #3223
@ggazzo I am working on it

[2019-12-17 08:59] ankar84 commented on #13926
@DarkRider1768 I think that I found root cause for that issue. It was **time**!
We have 3 instances and there was about 10 seconds difference between then. After we configured all nodes to single NTP server problem was solved.
Can you check time accuracy on all of your 4 instances?

[2019-12-17 10:25] migueltg commented on #15273
Is possible use Rocket.Chat in a Sharded Cluster? Is code prepared to use Shard Keys?
Thanks

[2019-12-17 10:39] frdmn opened #15999 "Channel name incorrect when "Allow Special Characters in Room Names" is enabled"
### Description:

When the option "Allow Special Characters in Room Names" is enabled and turned on, it can occur that the name of a newly created channel or group doesn't correlate with the name that was actually passed by the user / API who created the channel.

### Steps to reproduce:

1. Make sure "Admin UI" → "Layout" → "User Interface" → "Allow Special Characters in Room Names is set" to `tr

[2019-12-17 10:51] McpCyber opened #16000 "File Upload Stock 0%"
Hi there
i deployed Rocketchat ver 2.3.0 with MongoDB 4.2 Replicaset,
Rocketchat install on 2 VM and Number of Instances is 10
Deployment is Clean and i want to use MinIO on Kubernetes  for S3 File Uploads.
at this time file upload settings set to GridFS , But i can't upload any file .
erreoe code is :
 Error: FileNotFound: no file with id 2KAYQa2DwEhtkCqyC found
Dec 17 14:09:55 sv252003001 Rocket

[2019-12-17 11:03] spanchy commented on #15993
Hello. I am using ldap group sync with AD, and have there there is a small problem, and it is described here #15673

But.. this is works and i'am using default settings:
//Filter Group Users
(&(cn=#{groupName})(memberUid=#{username}))

//Ldap Group BaseDN is OU, which includes user groups
OU=ChatGroups,DC=***,DC=***

//Mapping users, example here
{
  "rocket-admin": "admin",
  "allthepeople": "use

[2019-12-17 11:34] ClundXIII commented on #15993
You are using a different way to handle groups. I am using uniqueMember which contains the whole dn. Also I run Linux ;)

I could in theory auto-generate a second way of handling groups using `memberUid` but that would be the last thing I am willing to try.

[2019-12-17 11:39] spanchy commented on #15993
I've tried different ways, but this method (with the powershell script and default settings for FilterGroupUsers) are works more than 4 months :)

[2019-12-17 12:24] Phhere commented on #15856
The issue is in https://github.com/RocketChat/Rocket.Chat/blob/d53e264b83ccc971236123853e4b68c9eb6beeb4/server/methods/deleteUser.js#L33

For this single user the roles attribute seems to be missing.
Maybe it should be replaced by the following
[code]

[2019-12-17 13:08] gabriellsh commented on #14248
closed by gabriellsh

[2019-12-17 13:08] #14248 closed

[2019-12-17 14:31] RealKelsar opened #16002 "CORB blocking new livechat version"
### Description:

Hi, we got the same Problem as in #15545, but removing the Version did not help. We also overwrote the Mimetype, didn't help either. Since i can't add there, here is a new Issue.

As far as I understood https://www.chromium.org/Home/chromium-security/corb-for-developers it sees .js and checks the Mimetype, which is text/html, which i should be, since the content is html, as far a

[2019-12-17 16:05] bugybq commented on #2770
@sc10n how you managed to fix the "invalid signature " issue in the end?

[2019-12-17 16:11] multimill opened #16003 "Profile setting security menu not disappearing"
Hello,

we have configured our Rocket.Chat instance for our company and disabled all features like changing password because we use LDAP.

We would like to hide the security menu as its completly empty and might irritate some users. Is there any way to remove it?

![17-12-_2019_17-08-44](https://user-images.githubusercontent.com/24725624/71012803-f3eeaf80-20ef-11ea-990a-095c25d132b7.png)

We do us

[2019-12-17 17:45] renatobecker commented on #16002
Hey @RealKelsar,

Certainly, there is something wrong with the Javascript snippet installation code on the client where the Livechat widget is installed.

Did you update the installation code already?

[2019-12-17 17:53] scrivna commented on #15604
Hi @MartinSchoeler - any update on when this might get looked at, it's a daily issue we face in our chat room as we regularly share audio clips. Thanks!

[2019-12-17 18:12] mddvul22 commented on #15189
We are having this problem is 2.2.1.  We are experiencing it in the desktop clients, in Firefox and in Chrome.

[2019-12-17 18:23] himpierre commented on #16000
Yeah had that too. The upload succeeded after a very long time (1-2min). That's why we switched to s3. It's working there.

[2019-12-17 19:14] mddvul22 commented on #13249
@ggazzo can you please re-open?   Thanks!

[2019-12-17 19:42] MartinSchoeler commented on #16003
@multimill  This seems like a bug to me, can you tell us what settings you have deactivated exactly? Thanks!

[2019-12-17 19:43] MartinSchoeler commented on #16000
Hey, looks like you are looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since GitHub is not the best place to ask for support. For now, I will be closing this issue, as it does not fit our issue guidelines

[2019-12-17 19:43] #16000 closed

[2019-12-17 20:09] mddvul22 opened #16007 "Missing/delayed messages"
### Description:

We have had a few reports from our employees, where they have looked at a channel, and didn't see any updated messages. Then, a couple of hours later, they looked at the channel again, and see content that should have shown up the previous time they looked at it, but didn't. In other words, it seems like some messages are arriving late.  Furthermore, one user reports that they re

[2019-12-17 20:41] multimill commented on #16003
@MartinSchoeler Thanks for the fast reply. I did take a look at a fresh install and this tab seems to have only one purpose: setting up the 2 factor authentication as seen in this screenshot:

![1](https://user-images.githubusercontent.com/24725624/71032410-99684a00-2115-11ea-9396-7151b8f4ac44.PNG)

We would like to remove the "security" panel and have it look like in the following screenshot. It

[2019-12-17 20:58] rsjr opened #16008 "Custom OAuth is not deleted"
-> Operating System / Version / Architecture (64 bit?)

Linux x64 (Ubuntu)

-> Browser type and version, including any add-ons. (e.g. AdBlocker, NoScript, etc.)

Chrome Version 70.0.3538.77 / Firefox 61.0.1

-> Rocket.Chat version

2.1.2

-> Expected behavior

Custom Oauth to de beleted

-> Actual behavior

Custom Oauth should be removed after clicking on "Remove custom oauth" button

-> Can the b

[2019-12-17 21:44] #15980 closed

[2019-12-18 00:45] #16003 closed

[2019-12-18 06:09] ankar84 commented on #13537
@mmmaks2004 @moriccelli @mayur-rawte @tassoevan great news!
We found that **custom fields search already works great**,
We added t**elephoneNumber** custom field and **found right wa**y to add it to search in **Fields to Consider in Search** option in **Account** settings in **Administration**
Now in that field we have that: username, name, **customFields.telephoneNumber**
And search by telephone

[2019-12-18 07:54] McpCyber commented on #15485
Hello . i have the same problem in my Rocket Chat server and MongoDB. the main problem is file upload . i can't find workaround.
https://github.com/RocketChat/Rocket.Chat/issues/16000

[2019-12-18 09:10] moriccelli commented on #13537
@ankar84 you're perfectly right! thanks a lot!
but still it would be perfect to see the custom fields in the table in the derectory. But this is enother ticket: https://github.com/RocketChat/Rocket.Chat/issues/13934
I think, it's ok to close the issue

[2019-12-18 09:12] moriccelli commented on #13934
UP!

[2019-12-18 09:23] ritwizsinha commented on #3223
@ggazzo please direct me to the related files, I am unable to find them.

[2019-12-18 09:41] jowhor opened #16011 "Password option missing while create any local user or edit local user."
### Description:

### Steps to reproduce:

1. Go To Administrator
2.  Select User
3. Create a user or edit any user

### Expected behavior:

Password set input option should be available.

### Actual behavior:

Password input box missing.

![image](https://user-images.githubusercontent.com/59007667/71073751-66b46500-219a-11ea-8fc6-5166ff936723.png)

![image](https://user-images.githubusercontent.c

[2019-12-18 09:54] McpCyber commented on #16000
Hey the Problem has been fixed.
in General Settings , URL must not be localhost

[2019-12-18 09:54] McpCyber commented on #15485
Hello . i have the same problem in my Rocket Chat server and MongoDB. the main problem is file upload . i can't find workaround.

[2019-12-18 09:55] McpCyber commented on #15485
Hey the Problem has been fixed.
in General Settings , URL must not be localhost

[2019-12-18 10:40] RealKelsar commented on #16002
Hi,

I updated RocketChat to the newest Version and replaced the code, but did not really see a difference in the Code, the old one was from the 2.2.0 Version I think. But neverless that worked, kind of.

Had a 2nd problem, because I had my Browser set to Block 3rd Party Cookies, after removing that it works now.

I have a http/2 error left, but I worked around that by disabling http/2 on the Rock

[2019-12-18 12:11] #16002 closed

[2019-12-18 13:24] MartinSchoeler commented on #16011
This is intentional (done in https://github.com/RocketChat/Rocket.Chat/pull/15818), now you should use the `set random password` option, that will create a random password and send it to the user. I will be closing this now. If you want to discuss the feature functionality, please use our [forums](forums.rocket.chat) or [open server](open.rocket.chat). Thanks!

[2019-12-18 13:24] #16011 closed

[2019-12-18 14:07] MartinSchoeler commented on #12088
Seems to be working on the latest version, please reopen this if you are still facing this issue. Thanks!

[2019-12-18 14:41] cyberfarer opened #16014 "Screen sharing via app or chrome"
I am finding I cannot perform screen sharing via Jitsi Meeting using the Rocket.Chat client or Chome. It works fine in Firefox.

In the client (2.17.1), the share screen dialog simply spins and consumes all CPU. On Chrome (78.0.3904.87) there is no option to screen share. On Firefox, and all participants must be on Firefox, it works.

Our Rocket.Chat server is 2.2.0. Our Jitsi server is 1.0.4101-1

[2019-12-18 14:48] rsimai opened #16015 "Start audio and video buttons without functionality"
### Description:

"Start audio call" and "Start video call" buttons appear when looking at the user info in a direct chat. They don't appear when looking at the user info from a channel.

### Steps to reproduce:

0. disable BigBlueButton and Jitsi under Admin/Video Conference
1. go into a direct chat with another user
2. click "user info" (top right)
3. see the non working buttons, compare to the

[2019-12-18 14:49] rsimai commented on #16015
![Screenshot_20191218_153748](https://user-images.githubusercontent.com/6737491/71096041-eac41800-21ad-11ea-871b-753010b3a1e8.png)

[2019-12-18 15:45] cyberfarer commented on #16014
Solved. The config.js file for Jitsi Meet was changed, I assume after an update, to:
‘desktopSharingChromeDisabled: false’

It is working now.

[2019-12-18 15:45] #16014 closed

[2019-12-18 16:14] qchn commented on #14836
Thank you for the hint, @geekgonecrazy. JWT would fix the issue if we'd use Jitsi only in connection with Rocket.Chat, which is not the case. We use Jitsi as a standalone service as well as Rocket.Chat.
The only way to fix this issue for our setup is to implement something, that randomizes the room id's within Rocket.Chat. This would be very helpful.

Best
Robert

[2019-12-18 18:38] #8640 closed

[2019-12-18 18:38] #11006 closed

[2019-12-18 18:38] #15160 closed

[2019-12-18 18:38] #13538 closed

[2019-12-18 19:10] Accounting-Dial800 opened #16022 "can't verify email"
## My Setup
- Operating System:
- App Version:
- Installation type:

- [ ] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description

### Current Behavior

### Expected Behavior

[2019-12-18 19:25] lorek123 commented on #15911
I totally understand your point of having such option but there is so many ways to mimic that you are working so auto-away won't kick in. Especially if you consider tech savvy people. https://www.zhornsoftware.co.uk/caffeine/ is one example, but there are many more.

[2019-12-18 19:26] mariaeduardacunha commented on #15220
Tested in the latest version (3.0.0-develop) and this issue doesn't happen anymore. Also, links shouldn't be highlighted. If you happen to experience this issue again, please reopen this with updated details. Thanks!

[2019-12-18 19:26] #15220 closed

[2019-12-18 19:42] #10219 closed

[2019-12-18 19:47] #14615 closed

[2019-12-18 20:46] sss-wg2 commented on #15880
This policy is - imho - severally misguided. I am the admin of my server, and the users are 100% maintained by me. They all use a fake email, and atm I have no way of resetting their password.

Further, the idea that admins should not know the users password is 1. wrong, and 2. could be mitigated by forcing a password change at first login.

Please change this. I now have several users locked out

[2019-12-18 22:43] ClundXIII commented on #15993
Apparently userdn is not being used according to the sources:

https://github.com/RocketChat/Rocket.Chat/blob/develop/app/ldap/server/sync.js

Other than that I have confirmed my filter are working in theory (trying it in phpldapadmin). However I do not see any reason why it doesn't work in rocketchat. Is there any sanitation or string filtering going on which might break the ldap filter string?

[2019-12-19 01:02] #14910 closed

[2019-12-19 04:31] makibras commented on #15880
Hi guys, thanks for your inputs and comments.  I understand some of your frustration. Let me add a few comments as a lot of things are thrown together:

What we took away was the option to directly set and view user passwords by admins via the UI. Why? Our policy is: User password values should be known to users only because together with their username/email address, they are their proof of ident

[2019-12-19 05:39] scoopex commented on #15806
Happens again this night.

[2019-12-19 05:59] ankar84 commented on #13537
@moriccelli glad to hear!
And yes, now we need to see custom fields in the **Directory** table.

[2019-12-19 07:40] Gummikavalier commented on #15554
I'm seeing this too on our new rocketchat setup using GridFS. RC version 2.3.2. I recall not seeing this problem with version 2.2.x.

I did not spot any errors in the debug log, and it looks like that the image upload succeeds and gets saved into profile. But the avatar immediately flashes back to initials in milliseconds after pressing the save button.

I disabled CSP in Nginx, looked for any err

[2019-12-19 08:29] balleddog commented on #15470
Same here.
- rocket.chat version : 2.2.0
- Deployed rocket.chat on premise and used a ceph-oss as a s3-compatible user upload location.

[2019-12-19 09:52] RhnSaxena commented on #16015
I will have a go at this.

[2019-12-19 10:38] antkaz opened #16019 "There is no description of fields for administrator settings"
### Description:

After the update administration UI the description of the fields in admin settings is not displayed

### Steps to reproduce:

1. Go to administration
2. Open settings page

### Expected behavior:
For example (2.2.0)
![image](https://user-images.githubusercontent.com/19654261/71166874-65a43600-2275-11ea-97da-e3a354d95a7a.png)

### Actual behavior:
![image](https://user-images.gith

[2019-12-19 10:50] rodrigok commented on #16008
@rsjr I can’t reproduce this error in the latest version, can you?

[2019-12-19 10:55] rodrigok commented on #16007
@mddvul22 are you seeing any error in your logs?
Can you define better this delay? Are we talking about seconds, some minutes or hours?
Can you check if your web clientes have a valid websocket connection or if they are relaying on the fallback pooling?

[2019-12-19 10:59] rgembalik commented on #14719
Actually it would be nice if that was configurable by on-thread basis by each user. This way you could easily navigate within channel threads, but you can also easily skip any conversation. This is useful for any thread that evolved to be a large conversation.

[2019-12-19 11:28] rodrigok commented on #16019
Thanks @antkaz. That's a known issue internally, we are already working to solve.

[2019-12-19 11:45] rodrigok commented on #15995
@ankar84 I wasn't able to reproduce the issue.

I've tested at open.rocket.chat and received all the messages via push as soon my user on the desktop app goes to the away status (yellow).

I'll close this issue. Please check your settings and be sure you have a low time to enter in the away status defined and you didn't disabled the auto away.

[2019-12-19 11:45] #15995 closed

[2019-12-19 11:48] rodrigok commented on #11517
I can't reproduce the issue. Please ensure your profile settings are correct and check if you don't have any client with your account open and online. We just send push if the user has no online connections at all.

Be in mind that we are working to improve how we deliver notifications and this logic may change.

Thanks

[2019-12-19 11:48] #11517 closed

[2019-12-19 12:00] rodrigok commented on #15964
@raabeer did you try to pass the environment variable `ROOT_URL=your.url.here` to your docker when starting the container?

[2019-12-19 12:02] rodrigok commented on #15964
@raabeer you can check this docs for more info https://rocket.chat/docs/installation/docker-containers/index.html#6-create-the-docker-composeyml-file--local-directories

[2019-12-19 12:14] zzeesstt commented on #14562
ubuntu snap install v2.3.1 up!

[2019-12-19 12:24] mvvvmd commented on #14562
Same issue with v2.3.1 on Ubuntu 18.04 here.

[2019-12-19 12:51] raabeer commented on #15964
Bom dia Rodrigo, vou responder em português para facilitarmos a comunicação.
Então, esse DNS é apontado pra meu ip externo, ele nao roda no server do rocket, então se eu apontar ele na ROOT_URL, vou causar um loop nos usuários que utilizam interno.

[2019-12-19 13:15] Gummikavalier commented on #15554
I did a fresh install and the issue persisted.

It turned out to be this line, visible during the start of the service:

We run rocketchat with a service account dedicated for it. The fix was just to take the path into ownership of the service:

`chown -R serviceaccount:serviceaccount /tmp/ufs`

[2019-12-19 13:31] orelinde commented on #14872
It happens to me as well, without the cancel option (Step 3). In the Browser as well in the Electron Client.

The user/channel the video SHOULD go to, DO recevie a notification of 1 unread message. The video/message itself goes into another channel/user.

Version | 2.0.0-develop
Apps Engine Version | 1.5.2
Node Version | v8.16.2
Mongo Version | 4.0.13

[2019-12-19 15:11] MartinSchoeler commented on #16022
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2019-12-19 15:11] #16022 closed

[2019-12-19 15:47] rodrigok commented on #15964
@raabeer can you please call me at https://open.rocket.chat? My username there is `rodrigo.nascimento`. Then we can talk in Portuguese and I update this issue with our conclusions.

[2019-12-19 16:05] sss-wg2 commented on #15880
Your points are all valid, and I tend to agree with most of them.

However, if the intention is to prevent the admin from knowing the plain text password, this can be achieved by allowing the admin to set a one time password (or even generating one), clearing all sessions for the users in question, and forcing a pw change at first login.

What you are really achieving by this change is simply to f

[2019-12-19 16:53] ClundXIII commented on #15993
Okay after some more debugging. I found out that the request for user group membership does not appear in the logs at all for some reason. I set the logging level to trace, still I cannot seem to catch any request to filter groups. I only found one from 2 days ago.

Are the user groups only synced the first time someone logs in? I click on the "sync now" button but nothing happens according to the

[2019-12-19 17:53] Routhinator commented on #1887
@chall8908 Looks great, in my instance the thread drawer is not fixed, but all other drawers work. Trying to work out what's missing.

[2019-12-19 18:05] rsjr commented on #16008
@rodrigok Indeed in the latest version it is not happening. Thanks for the heads-up.

[2019-12-19 18:09] TwizzyDizzy opened #16024 "Node.js 8: EOL on 2019-12-31"
### Description:

Hi folks, Hi @sampaiodiego,

as of 2019-12-31, `Node.js 8` will [be end of life](https://nodejs.org/en/about/releases/). This means no security releases anymore. Hence, from now on, every Rocket.Chat instance will be in potential danger as nobody will search, find and fix security issues `Node.js 8`.

### Additional context

It might make sense to first upgrade to `v12` which wil

[2019-12-19 18:16] #8052 closed

[2019-12-19 18:22] marceloschmidt commented on #8128
We welcome every pull-request with help in writing our documentation.

[2019-12-19 18:27] tassoevan commented on #16008
Fixed by #15934.

[2019-12-19 18:27] #16008 closed

[2019-12-19 18:28] marceloschmidt commented on #8176
We could improve the message as to why we're rate-limiting, but those operations are very heavy on the server and need to be rate-limited.

[2019-12-19 18:33] marceloschmidt commented on #8339
This has been solved with the re-design of jitsi integration.

[2019-12-19 18:33] #8339 closed

[2019-12-19 19:01] #15999 closed

[2019-12-19 19:03] #15672 closed

[2019-12-19 19:55] #12928 closed

[2019-12-19 19:57] citylocalpro opened #16026 "password option is disappeared in rocket chat new update."
i am using Rocket Chat community version, Yesterday i got update 2.3.1. after update, when i create new user, there is no option to set user password.
i have checked all permission and setting but unable to find password option.

[2019-12-19 20:07] zdumitru commented on #16026
#15880

[2019-12-19 20:55] Routhinator commented on #15018
Yeah this isn't the users hardware, You need to mute the local audio stream. You are playing the users local audio input back to them along with the audio output. This is a common mistake with webrtc implementation. Even if one person mutes, the other person hears themself talk.

https://stackoverflow.com/questions/18406193/how-to-avoid-echo-and-noise-in-javascript-for-webrtc

[2019-12-19 20:56] Routhinator commented on #15018
Unforutnately there's no way to fix this from the current version of the ui. You'd have to hack it with extra JS or wait for the dev team to fix the Rocketchat issue here.

[2019-12-19 21:01] Routhinator commented on #15018
To be clear this is not an echo. It is the audio input stream being played back to the sender.

[2019-12-19 21:10] Shaverdoff commented on #15018
Its call - echo;)) all that you explained;) user who hear echo get it on hiself side:)

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84 | Skype/email: gerasim@altarix.ru
Lenina av.25, Samara, Russia, 443068

[2019-12-19 22:12] #16026 closed

[2019-12-20 08:53] JohnLukeP opened #16027 "Jitsi Videocall integration with JWT Token: guest cannot access shared link"
Hi,

I'm trying to integrate Jitsi videocall with RocketChat. I Did setup the JWT token authentication o both rocket and Jitsi and it works fine, people coming from rocket pushing on the "join videocall" button enter correctly. When I share the link with others though, since I've set "allow_empty_token" to false on Jitsi, they are prompted with a basic authentication form when joining the video ca

[2019-12-20 09:04] JohnLukeP opened #16028 "JWT Token for Jitsi not generated from mobile Android and iOS app"
Hi,
I've enabled JWT Token authentication on Jitsi and properly configured with RocketChat (appid, secret). It works fine on the browser web app and desktop app, but on mobile apps  seems that the token is not generated, and when the user joins the video call Jitsi reverts to basic authentication, which happen when the user doesn't have a token.

### Steps to reproduce:

Having setup Rocketchat an

[2019-12-20 09:40] zdumitru opened #16029 "[BUG] Reply in Thread button hovers the text"
### Description:

Reply in Thread button in the threads panel could hover the text.

### Steps to reproduce:

1. Go to the thread replies panel
2. Find a thread reply that is one line long.
3. Hover a mouse over that line

### Expected behavior:

Reply in thread button should not hover the text (same way like emoji and three dots menu buttons don't).

### Actual behavior:

![image](https://user-im

[2019-12-20 09:47] zdumitru commented on #16029
@ggazzo On that note, probably `Reply in Thread` button shouldn't be visible on the thread replies at all.

[2019-12-20 10:19] antkaz commented on #16029
Oh... In the main chat the same problem.
![image](https://user-images.githubusercontent.com/19654261/71247903-820aa600-233b-11ea-836d-6f12809af8d1.png)

Maybe do something like that? And hide this button in threads

![image](https://user-images.githubusercontent.com/19654261/71248144-ffceb180-233b-11ea-9d07-1d410fea1ea2.png)

[2019-12-20 12:40] ClundXIII commented on #15993
Okay it works.

The issue was that the button for synchronizing data did not actually synchronize the ldap group to channel mapping. Only the cron job did this.

You can close this now.

[2019-12-20 12:49] amwzz99 opened #16030 "Password Filed Disapear while creating new usee"

[2019-12-20 13:14] ankar84 commented on #16028
I think related https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1356

[2019-12-20 13:14] Vova-cpu opened #16031 "Change password"
### Description:
After updating to version 2.3.1, it became impossible to change the user password, how to fix it?

![image](https://user-images.githubusercontent.com/59089028/71257135-98186680-233b-11ea-8c6a-bcc80af33b39.png)

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deplo

[2019-12-20 13:22] MuuNU commented on #16031
Similar problem. Fix it please

[2019-12-20 13:27] zdumitru commented on #16031
Readh this - #15880

[2019-12-20 13:47] rsjr opened #16032 "Desktop notification pop-up is not working - Windows 10 only"
Windows 10 x64 - Electron desktop app

-> Rocket.Chat version

3.0.0-develop
Electron App -> latest version (downloaded from the website)

-> Expected behavior

Desktop pop-up to appear in Windows (it does work in Linux and MacOS, issue only happens in Win10)
-> Actual behavior

Desktop pop-up is not appearing.

-> Can the bug consistently be reproduced? If so, how?-> Operating System / Version /

[2019-12-20 14:23] Nemental commented on #15422
On desktop it works, but if I test on my iPhone XS its still the same behavior :(
RC-Server 2.3.2
@nstseek

[2019-12-20 14:34] MartinSchoeler commented on #16031
Please refer to https://github.com/RocketChat/Rocket.Chat/issues/15880 Thanks!

[2019-12-20 14:34] #16031 closed

[2019-12-20 14:36] MartinSchoeler commented on #16030
Please refer to https://github.com/RocketChat/Rocket.Chat/issues/15880

[2019-12-20 14:36] #16030 closed

[2019-12-20 14:48] MartinSchoeler opened #16034 "[BUG] Replying breaks screen max width in smaller screens"
### Steps to reproduce:

1. Write a Huge message
3. Reply the huge message

### Expected behavior:

It should not break the screen

### Actual behavior:

![image](https://user-images.githubusercontent.com/20868078/71262364-444b5480-231e-11ea-96ee-e817e0127d6d.png)

### Server Setup Information:

- Version of Rocket.Chat Server: Tested on open server

[2019-12-20 15:05] MartinSchoeler commented on #15984
As @aKn1ghtOut said, this is intended. Thanks!

[2019-12-20 15:05] #15984 closed

[2019-12-20 15:12] MartinSchoeler commented on #16015
On firefox I also get these errors in the console
![image](https://user-images.githubusercontent.com/20868078/71264038-f89aaa00-2321-11ea-811e-6058cfc5f4af.png)

@rsimai Can you check your browser console for errors as well?  Thanks!

[2019-12-20 15:21] pr0f-cha0s commented on #15947
Has anyone else noticed this? I have since upgraded to server and client 2.17.1  and issue still occurs

[2019-12-20 15:22] sampaiodiego commented on #16024
we are looking close to https://github.com/meteor/meteor/pull/10527 which will upgrade Node to v12..

it is already on `rc.0` so I assume it will be launched in next months.. we'll try to update as soon it is launched :+1:

[2019-12-20 15:37] rsimai commented on #16015
I can't confirm this, sorry. There are no messages in my console (Firefox and Chrome) after I allow camera usage. My UC camera becomes active, I see myself, the other person gets a notification and can also activate their camera. It wouldn't work that callers can see each other which is as expected, as the services are not configured.

[2019-12-20 15:42] PapaGandhi opened #16035 "Typing indicator on status"
If we could have a typing indicator for either rooms or personal messages that would be cool. I'm not talking about what has already been implemented where you can see who is typing above the message box. But i'm talking about a cute little icon that pops up next to somebodies name on  left-hand side name/room lists. Say Anna is typing to me but I'm not viewing our personal chat but im in a room.

[2019-12-20 17:24] reetp commented on #15880
Oh, thanks a lot then.

See below. Why haven't you fixed plain text emails yet?

It's a bit late for that isn't it? You have already created it. That has meant some people can't upgrade because they don't use email. The whole point of Rocket.Chat. Replace email. Not depend on it.

On your own website (I notice you censored my previous post pointing out this fact):
https://rocket/chat

I'd like to

[2019-12-20 17:41] reetp commented on #15880
Another workaround.

If you use dummy emails and you are a sysadmin hosting your own instance then just keep some pseudonyms on your mail server and direct all those pseudonyms to your admin account. You can then read them and send them to your users via a secure method. Simples. It will also work if they (insanely) try to implement some form of 'link' as you can open the link yourself, and reset

[2019-12-20 20:07] #16019 closed

[2019-12-20 20:10] ggazzo commented on #15857
now if the user didnt change the option, it will render `Message_TimeFormat ` that you set

[2019-12-20 20:11] #15857 closed

[2019-12-20 20:25] blunket commented on #14719
This is exciting! Just one question: Is this going to be implemented in such a way that a global default could be set? On my install I'd like it to default to hiding all of the thread messages in the channel for all users (current behavior is confusing some of my colleagues less experienced with technology).

Or is this only going to be a per-user preference? If so, what will the default be? 🤔

[2019-12-21 03:28] Routhinator commented on #15018
This isn't echo in my case. Echo is when your voice exits the other persons speaker and is picked up by their mic, feeding back to you via their audio.

If the other person mutes their mic or I mute them, I can hear myself. I hear myself louder and clearer than the other person. That's not echo, it's the local audio stream.

[2019-12-21 03:36] ritwizsinha commented on #16034
Working on it
@MartinSchoeler  could you guide me to the relevant files ?

[2019-12-21 08:54] Shaverdoff commented on #15018
Now clear to understood

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84 | Skype/email: gerasim@altarix.ru
Lenina av.25, Samara, Russia, 443068

[2019-12-21 11:21] didacroyo commented on #11666
Hi guys! I'm the only one missing the option to "share link" to the target file, instead of only the option to "upload" the file to rocketchat? in my view, one of the key benefits of the integration with NextCloud is preventing to have large and duplicate files that already exist in the NextCloud storage.
![image](https://user-images.githubusercontent.com/35463401/71307292-69a69400-23ec-11ea-8e67-

[2019-12-21 12:25] Khodesaeed opened #16038 "forward message in rocket.chat webhook script?"
i want to check some fields on incoming webhooks and if its true forward message to a list of user in rocket.chat. can you suggest any solution for this scenario?

[2019-12-21 16:56] salviof commented on #15788
já existe uma solução para este problema?

[2019-12-21 18:43] ritwizsinha commented on #16034
Found the files , fixed it by using word-break css property
@MartinSchoeler review plz

[2019-12-22 04:34] ritwizsinha opened #16040 "The increase/decrease counter in livechat office hours is misplaced"
### Description:

The counter is pushed above from its normal position

### Steps to reproduce:

1. Enable Livechat as administrator
2. Click on Livechat settings as administrator
3. Go to office hours

### Expected behavior:

The counter should be properly placed

### Actual behavior:
![image](https://user-images.githubusercontent.com/43509699/71317136-56560000-24a2-11ea-9fa9-2873e7fe53fc.png)

#

[2019-12-22 05:10] aviral243 commented on #15855
@nghiaviettran I would like to work on this

[2019-12-22 05:30] ritwizsinha opened #16041 "Padding required in the Facebook Messenger option in Livechat"
### Steps to reproduce:

1. Livechat settings as administrator.
2. Go to facebook messenger now

### Expected behavior:

Padding should be there
### Actual behavior:

![Selection_001](https://user-images.githubusercontent.com/43509699/71317621-214dab80-24aa-11ea-9d53-5e56ee1db464.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 3.0.0-develop
- Operating System: ubuntu

[2019-12-22 05:54] ritwizsinha commented on #16041
workin on it

[2019-12-22 09:45] rgembalik commented on #7741
The issue still exists in server version 2.3.1.

[2019-12-22 21:20] #15981 closed

[2019-12-23 02:30] soundstorm commented on #5915
Closed by #15933

[2019-12-23 02:30] #5915 closed

[2019-12-23 05:07] qwclytmd opened #16044 "PC version don't upload file"
I based “Configuring SSL Reverse Proxy” doc ，prompt

4c4f931e91f8f7ac9113c06e34fc734b8a61a88d.js?meteor_js_resource=true:187 Mixed Content: The page at 'https://rocket.wildduck.top/channel/general' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://35.220.207.134:3000/ufs/GridFS:Uploads/q5mHzDQ3p2fBxQH9v?token=8aB8D94bF9&progress=1'. This request has been blocked; the

[2019-12-23 07:17] ritwizsinha opened #16045 "User avatar not showing in private messages"
### Description:

If I get a private message for a wrong command the avatar doesn't load

### Steps to reproduce:

1. Type // in the message box(or any slash command that doesn't exist)
2. View the rendered message "No such command"
3. The avatar is missing

### Expected behavior:

The avatar image should load correctly

### Actual behavior:

![Selection_004](https://user-images.githubusercontent.

[2019-12-23 07:54] Lawri-van-Buel commented on #16044
Did you follow the instructions on [Ssl-reverse-proxy](https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/)  to the letter?

Specifically the note regarding the url?

It seems that your rocketchat thinks it’s not using https but plain http.

If you did could you add your vhost snippet as to check if that’s correct? (You should sanitize it first though, to not l

[2019-12-23 09:15] ritwizsinha commented on #3223
@ggazzo I have figured that implementing this would require a change in the i18n format for all of the variables that are related to user interaction, for example, user_added_by, message_pinned_by
![Selection_005](https://user-images.githubusercontent.com/43509699/71348178-ff2f5880-2591-11ea-87aa-bfa860221b1a.png)
Here I would have to change the em to  link tags, in all the languages and also I wo

[2019-12-23 10:04] reetp commented on #15880
If I also read this correctly you are going to force 2FA on admins as well?

Who is actually in charge of their server? Rocket or the administrator? Have you really thought out the consequences of this because your track record to date is not great.

This is a completely retrograde step IMHO. There are many users with air-gapped systems, no external email, no phones etc.

This will break it for ma

[2019-12-23 10:28] lequy1010 commented on #12628
I think have issues with client\statup\i18n.js
`const getBrowserLanguage = () => filterLanguage(window.navigator.userLanguage || window.navigator.language);`
Because when we reload page, we can't get language from "window.navigator.userLanguage" so it will used window.navigator.language for default value.
You can change as bellow:
`const getBrowserLanguage = () => filterLanguage(Meteor._localStora

[2019-12-23 10:29] lequy1010 commented on #5592
I think Rocket.Chat have not fix it.
You can flow here and try again
https://github.com/RocketChat/Rocket.Chat/issues/12628

[2019-12-23 11:18] dusatvoj opened #16046 "Logout error"
### Description:

A lot of users are randomlu logged out from RC server in WebUI or desktop app

### Steps to reproduce:

1. Login into RC server from WebUI or desktop app
2. Start chatting

### Expected behavior:

Chatting without any error

### Actual behavior:

Random logout from RC

### Server Setup Information:

- Version of Rocket.Chat Server: 2.3.2
- Operating System: Linux
- Deployment Met

[2019-12-23 13:34] akhayyat commented on #11664
May I ask why was this closed without being implemented, or is it implemented?

[2019-12-23 13:59] NexonSU commented on #11664
Yep, it is. But rocket.chat already have saml support, which have this authentication method.

[2019-12-23 14:05] bbreijer commented on #15993
@ClundXIII Did you also solve the initial problem?
I'am experiencing the same issue and would like to have the `userDn` available for use in the `User Group Filter`.

[2019-12-23 16:44] anuraag94 commented on #1442
Agreed, I'm a researcher using Slack as a platform to moderate small group interactions. To ensure the validity of my research, I need the history of all channels to be hidden from new users, including #general

[2019-12-23 18:01] ClundXIII commented on #15993
@bbreijer
In my case the username in rocketchat equals `cn` in ldap. So I could easily use the username variable for my User Group Filter.

`(&(objectclass=groupOfUniqueNames)(cn=#{groupName})(uniqueMember=cn=#{username},ou=my_ou,dc=the_whole_dc_path))`

[2019-12-23 18:10] MartinSchoeler commented on #16038
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2019-12-23 18:10] #16038 closed

[2019-12-23 22:07] siteleas commented on #15191
@renatobecker Hey there, we have our Rocket.Chat server up and running and worked through several configuration issues, but all-in-all the server is working well.

However, we are having a couple of problems with the LiveChat Widget.

1. Delay in showing is too long
2. Though the widget appears and though we have users assigned to livechat, when a website visitor fills in the information form and

[2019-12-24 03:11] olgadeng opened #16054 "The livechat Widget won't refresh Latest Chat from Agent"
### Description:

### Steps to reproduce:

1. open the widget
2. start to chat with agents
3. the response from agent won't show up until guest refresh the page(F5)

### Expected behavior:

The LiveChat chat should be updated immediately

### Actual behavior:

the error from network side:
Rocket.Chat.js.SDK.chunk.27bc4.js:1 WebSocket connection to 'wss://rocketchat.dulwich-shanghai.cn/websocket' f

[2019-12-24 04:20] siteleas opened #16055 "Welcome message not parsed when logging into Rocket.Chat"
### Description:

When logging into Rocket.Chat, my welcome message that I customized in the administration layout screen appears, but above it the raw text `Welcome <em>%s</em>.` is inserted as is the %s is not processed and replaced.

### Steps to reproduce:

1. Login to Rocket.Chat
2. Read the Welcome message that appears in the right pane

### Expected behavior:

Welcome _Jim_

### Actual beha

[2019-12-24 09:15] qwclytmd commented on #16044
this is my vhost of nginx.conf：
`server
{

    listen         443 ssl;
    server_name    rocket.wildduck.top;

    client_max_body_size 200M;

    ssl on;
    ssl_certificate      /usr/local/nginx/cert/wildduck.top/rocket.crt;
    ssl_certificate_key  /usr/local/nginx/cert/wildduck.top/rocket.key;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    location / {
        proxy_pass http://35.220.207.134:

[2019-12-24 09:53] AlexDRiVER commented on #15880
This should be a configurable parameter

[2019-12-24 11:51] ritwizsinha commented on #5436
@MartinSchoeler I would like to work on it if no one is assigned for now

[2019-12-24 11:59] ashwaniYDV opened #16057 "Password is updated even if the password and confirm password are not equal"
### Description:

A user can update the password from Update Profile section even if the password and confirm password fields are not equal. It takes the newly updated password as the input password field ignoring the value of input confirm-password field.

### Gif for the issue:
![11](https://user-images.githubusercontent.com/43786728/71480707-94e01780-2820-11ea-887e-596bab7cddc3.gif)

### Steps