[2021-12-22 14:27] plup opened #24013 "Custom OAuth envars broken"
### Description:

It's impossible to use environment variable to configuration a custom OAuth provider. This is due to the hyphens in the chosen names for those variables.

### Steps to reproduce:

In any shell:
[code]

### Expected behavior:

[code]

[2021-12-22 15:03] plup commented on #24013
:)

Trying to fix the issue myself I discovered somebody already fixed it: https://github.com/RocketChat/Rocket.Chat/blob/develop/app/lib/server/startup/oAuthServicesUpdate.js#L151

Thanks guys !

[2021-12-22 15:03] #24013 closed

[2021-12-22 16:46] cg-papoo opened #24014 "Omnichannel/Livechat widget sets cookies and related storage before widget activation (EU ePrivacy conformity)"
### Description:

The livechat widget currently sets cookies and stores data in LocalStorage and SessionStorage when the script is loaded into the website.

According to the EU ePrivacy directive ([2009/136/EC](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32009L0136)) only technical storage that is “strictly necessary in order for the provider of an information society service expli

[2021-12-22 18:28] dudanogueira commented on #24011
Hi, can you please elaborate more?

[2021-12-23 03:16] caozku opened #24016 "api/v1/users.register call very slow"
### Description:

api/v1/users.register call very slow, need 20s,

### Server Setup Information:

- Version of Rocket.Chat Server: 4.2.2
- Operating System: CentOS Linux release 8.3.2011
- Deployment Method: docker
- Number of Running Instances: 1
- DB Replicaset Oplog: --
- NodeJS Version: v14.16.1
- MongoDB Version:4.0.23

[2021-12-23 10:12] pRieStaKos commented on #23638
Same here Desktop App 3.7.1

[2021-12-23 19:27] imanshafiei540 commented on #23997
I have the same issue with the web version.
RocketChat Version: 4.2.
[users.csv](https://github.com/RocketChat/Rocket.Chat/files/7771064/users.csv)
1

[2021-12-24 00:09] pbenkoe commented on #23984
Thank you, give me a few days to get back to you. I'll re-try the upgrade and get these logs.

[2021-12-24 08:31] fatemeh-mgsdi commented on #23997
I'm having the same issue with Rocketchat version 4.2.1. Any updates?

[2021-12-25 04:58] fumin commented on #13652
Reminder, there's still no dark mode on 25th December, 2021!!!!!!!!
Even a monkey knows how to code a dark theme!!!!

[2021-12-25 05:01] fumin commented on #1887
Still no dark theme on 25th December, 2021!?!?!?
Even a monkey knows how to code a dark theme.

[2021-12-25 14:59] swcloudy opened #24025 "setup-wizard page is not work"
os:centos 7.6

Dec 25 06:33:29 localhost rocketchat: +-----------------------------------------------+
Dec 25 06:33:29 localhost rocketchat: |                 SERVER RUNNING                |
Dec 25 06:33:29 localhost rocketchat: +-----------------------------------------------+
Dec 25 06:33:29 localhost rocketchat: |                                               |
Dec 25 06:33:29 localhost rocketc

[2021-12-26 14:56] aswinidev commented on #21118
I think this issue is fixed @dudanogueira please close this

[2021-12-26 15:03] aswinidev commented on #20902
I think this issue is fixed @dudanogueira  please close this.

[2021-12-26 16:21] aswinidev opened #24027 "Some broken URLs in Readme"
### Description:
Some links in Readme need updating like
- Updating community open call link to the latest one i.e., December
- The API link redirects to https://developer.rocket.chat/ whereas it should be redirecting to API docs
- Contact us link is also not right

### Steps to reproduce:

1. Go to Readme
2. Click on the links that i stated above

### Expected behavior:

### Actual behavior:

###

[2021-12-26 17:15] Barrylimarti opened #24029 "Missing link to verify registration in incoming mail from setup wizard"
### Description:
The link sent by the setup wizard in an email to verify registration during workspace registration is missing.
I got this email when I was registering the workspace for the first time but there was no link to verify the registration although the registration was successful without verifying.

### Steps to reproduce:

1. Open a new workspace in Gitpod with the repo, run all the set

[2021-12-26 17:40] foyue5666 commented on #24025
I met the same problem just now
now i'm trying to reinstall it, maybe this can work....
I’d be grateful if you could help me.

[2021-12-26 18:38] aswinidev commented on #24029
Hey! I set up my develop environment a few days back but i never got such confirmation mail :thinking:
So i m confused about your issue

[2021-12-26 18:48] Barrylimarti commented on #24029
I am getting the mail each time I open a new workspace in gitpod and register it. Did you registered for the server through setup wizard??

[2021-12-26 19:34] AndreaTrendafilov commented on #23946
Some of the users on my instants  have hit the same issue with
[code]
So far this is observed by Mac and Windows users under Chrome Version 96.0.4664.110 (Official Build) (64-bit)

[2021-12-27 08:50] smallfish01 opened #24031 "Simplify user invitation process"
### Description:

I have a requirement about invite a new user to a public channel. The currently process is complicated , I need users who are invited do not need register a new account and do not need join the general channel first, the user just need open the invite URL and type his name and join the channel. Please look the detailed as I said.

### Steps to reproduce:

1. I need invite my cust

[2021-12-27 09:03] KevinLJJ opened #24032 "Cannot read property 'Symbol(kResourceStore)'"
### Description:
I got an error when i started rocketchat service.

[code]
**Ignore my host name '2' , please :)**

### Steps to reproduce:

1. mongodb started successed and I can connect it through robot3T.
2. I saw rocketchat created databases for itself.
3.  systemctl start rocketchat , the problem will reproduce.

### Server Setup Information:

- Version of Rocket.Chat Server:  4.2.2
- Operati

[2021-12-27 10:30] ipikiiskinen commented on #18145
Still an issue with 3.18.3
We have Accounts > Login Logs all options enabled (including "Show Username on failed login attempts logs"), but the logs have only little information about failed logins, an example:
[code]

[2021-12-27 11:12] dudanogueira commented on #24029
Hum.

I'll try to reproduce this on my local. I have been using a docker-compose that bypasses the wizard...

I'll use the rocketchat/rocket.chat:develop

[2021-12-27 11:12] dudanogueira commented on #24029
Hum.

I'll try to reproduce this on my local. I have been using a docker-compose that bypasses the wizard...

I'll use the rocketchat/rocket.chat:develop

[2021-12-27 11:38] dudanogueira commented on #24029
I think this only happens at gitpod.

I was not able to find anywhere the strings from the email in our codebase.

[2021-12-27 11:38] dudanogueira commented on #24029
I think this only happens at gitpod.

I was not able to find anywhere the strings from the email in our codebase.

[2021-12-27 11:44] dudanogueira commented on #24025
Hi! Please, inform how you deployed your system.

Also, if possible, try replicating this on a docker deployment.

Thanks!

[2021-12-27 12:07] #23868 closed

[2021-12-27 12:26] NishaSharma14 commented on #19313
Hi, I am facing the similar issue , when trying to copy the db/data/ to another server and running the Rocket Chat and mongo instance on this existing copied data.

The mongo container keeps restarting and the error which I get is below:

[code]

[2021-12-27 12:36] aswinidev commented on #24029
Yeah.. I think this only happens at gitpod because i didnt get any mail while setting up my dev environment.

[2021-12-27 12:53] Barrylimarti commented on #24029
But it is strange how this can happen if it only happens in gitpod also. Can you think of a reason behind it? How is the mail coming if it's not in the codebase?

[2021-12-27 13:44] cs35-owncloud commented on #16738
Hello,

it seems the problem comes from the fact that the avatar URL is not consistent.
Sometimes the URL would be https://xxx/avatar/my_user
But sometimes it's https://xxx/avatar/my_user?etag=CaACNMvTTCQcE4sz7
The latest is the current avatar (the etag changes each time you set your avatar).
Could it be fixed to use only the etag URL ?
The JWT token created by Rocket.Chat to Jitsi is always the o

[2021-12-27 14:57] let5sne commented on #24025
i hava the same problem
here is my docker-compose.yml it's running on a centos  VMware,it's ip: 192.168.137.100
[code]
it's my host nginx config
[code]
but when I visit on browser

[code]

[2021-12-27 15:29] DrashSuthar commented on #23946
I understand that but how can I fix this?

[2021-12-27 15:43] swcloudy commented on #24025
First, I deploy this  in docker environment，but encountered the same problem
so I follow this guide :
https://docs.rocket.chat/quick-start/installing-and-updating/manual-installation/centos

the VM environment is:
OS：Centos 7.6
MEM： 4G
Cores: 4
Storage ：20G  (offiical mini requirement is 30G，I don't know if it's the reason？)

follow the guide and rocket chat latest version，I manual install the mon

[2021-12-27 16:09] jahohu commented on #23997
**Update:**
TOTP request and procedure now works in server 4.2.1 when editing a user account in the admin panel from desktop client 3.6.0 - maybe my test situation wasn't appropriate, or it has been fixed in the meantime.

The error message at the import from CSV persists.

[2021-12-27 17:00] foyue5666 commented on #24025
Maybe I found a temporary way to solve it.
We can use firefox browser instead of edge to open the admin page
I'm not sure what is the real reason for this problem, but it does work on my computer!
I also don't know how to solve it forever, if anyone could help, I'll be great thankful.
I hope this message could help you

[2021-12-27 19:39] dudanogueira commented on #24029
My guess is that gitpod has some configuration that pings our cloud service for registration, and while it's only a dev deployment, it doesn't register it, and do not generate the email properly.

[2021-12-28 04:11] camperjett commented on #10955
Hi, what is the status of this issue? If it is inactive, maybe I can work on it.

[2021-12-28 04:17] camperjett commented on #23989
@Hamulus I am interested in this issue. Can you help me with this?

[2021-12-28 09:50] Barrylimarti commented on #24029
I just finished my setup by the Windows 10 method and registered myself in setup-wizard. I still got the same error and mail without the link.

[2021-12-28 12:22] 0AA55H opened #24040 "Annoying notification on Windows 10"
### Description:

When i start Rocket.Chat (current version 3.7.3, also all previous ones), and I have notifications turned on, the first notification when i close it (it minimizes it, which is what I expect) it shows the notification that the app is still running.

This is useful the first time after i install the program. What i expect is for this notification to show only once and after that to

[2021-12-28 12:32] dusatvoj commented on #23638
@sampaiodiego , @ggazzo , etc. I'm glad you are releasing new features but I thing that issue like this _(even reported using your support and our pro license - ticket 36836)_ have to be fixed ASAP when there are so many versions affected and It's almost 2 months from the first report.

I'm disappointed with your care about issues (counting the money you want for the licenses like Pro, Enterprise,

[2021-12-28 18:00] milton-rucks commented on #23638
Hi @dusatvoj we have already evaluated the fix and it will require a significant workload.
We are planning to deliver the fix in 4.4 (Jan) or 4.5 (Feb)

[2021-12-28 18:15] dusatvoj commented on #23638
Hi, Okay. Hope it will be backported to LTS 3.x

[2021-12-28 20:37] aswinidev opened #24042 "Tooltip missing for options of message-actions"
### Description:
Tooltip missing for options of message-actions

### Steps to reproduce:

1. Hover on any message. The message actions will appear.
2. Hover on the more options menu in the message actions.

### Expected behavior:
Tool tip should be displayed

### Actual behavior:
Nothing is displayed

https://user-images.githubusercontent.com/76481696/147605130-0aa2ed3c-04eb-4688-a231-d58f763e1dfd

[2021-12-29 05:38] ali-alhaidary commented on #23599
Still in v4.3.0

[2021-12-29 05:42] ali-alhaidary commented on #23599
Still in v4.3.0

[2021-12-29 13:32] swcloudy commented on #24025
I solved this problem，

just when install node :
npm install -g npm@6.14.8
npm install -g inherits node-gyp@4.0.0 n && n 12.18.4

Other steps follow the guide

[2021-12-29 13:32] #24025 closed

[2021-12-29 13:34] swcloudy commented on #24025
hope the official docs can add it

[2021-12-29 13:43] Aman-Maheshwari opened #24050 "[BUG] Wrong new userInfo after user creation"
### Description:

When a new user is created from admin panel, after creation the context bar show information for rocket.cat.

### Steps to reproduce:

1. Goto Admin panel
2. Create a new user from user section

### Expected behavior:

Information of the newly created user must be shown

### Actual behavior:
Information of rocket.cat is shown

https://user-images.githubusercontent.com/50165440/14

[2021-12-29 14:35] tanatonaut commented on #20256
RocketChat docs is deprecated. I mean docker-compose section.

[2021-12-29 15:10] matheusbsilva137 commented on #23785
This issue has been fixed on our Zapier app settings' side. Feel free to reopen this issue if the problem persists
Thanks for reporting this issue @redRolf 🚀 🤗

[2021-12-29 15:10] #23785 closed

[2021-12-29 18:26] #15485 closed

[2021-12-29 23:37] saschafoerster opened #24061 "Upgrade from 4.2.2 to 4.3.0 failed "Error: Expected array for search criteria""
### Description:

I'm having the same issue as here https://github.com/RocketChat/Rocket.Chat/issues/23590 and here https://github.com/RocketChat/Rocket.Chat/issues/23590 just with the newest version 4.3.0 (and haven't had that issue before)

I updated RocketChat from 4.2.2. to 4.3.0 and couldn't start it. Docker-Compose logs showed me this error message: "Expected array for search criteria".

I t

[2021-12-30 00:02] saschafoerster commented on #24061
Problem solved, I forgot to switch into the right MongoDB.

So, for anyone following:

- docker-compose stop
- docker-compose start mongo
- docker exec -it rocketchat_mongo_1 bash
  - mongo
    - show databases
    - use rocketchat
    - db.getCollection('rocketchat_settings').find({_id: "Direct_Reply_Enable"}).pretty()
    -  db.getCollection('rocketchat_settings').update({_id: "Direct_Reply_Enab

[2021-12-30 00:02] #24061 closed

[2021-12-30 02:00] davewang commented on #24016
try close  Accounts -> Avatar -> default avatar settings!

[2021-12-30 02:26] lightweight commented on #23836
I'm keen to upgrade my various R.C instance from 4.0.6 to the latest version (4.3.0, it seems)... any further thoughts? Or even hints where I should be looking based on the error? Sounds like @ankar84 thinks it's MongoDB-related... do I need to downgrade from 4.4 back to 4.2?

[2021-12-30 07:26] kalsan opened #24062 "Updating RocketChat to 4.3.0 breaks UI"
### Description:

After login, the UI does not appear. A gray empty wall is shown instead. JS is showing the error below.

### Steps to reproduce:

1. Update Rocket.Chat from 4.2.2 to 4.3.0
2. Visit the site in the browser

### Expected behavior:

UI shows up

### Actual behavior:

UI does not show up. Screenshot:
![grafik](https://user-images.githubusercontent.com/7618650/147730299-42accd5c-6ef4-

[2021-12-30 08:26] bingovivi opened #24064 "rocketchat-server.backupdb error after 1502 upgrade (ubuntu 20) #33"
### Description:

Daily cron job return errors since this update :

snap stop rocketchat-server.rocketchat-server => Stopped.
systemctl is-active snap.rocketchat-server.rocketchat-server => inactive
snap run rocketchat-server.backupdb

=> [-] Please shutdown Rocket.Chat first to get a clean backup
=>[-] Use 'sudo snap stop rocketchat-server.rocketchat-server'
=>/snap/rocketchat-server/1502/bin/bac

[2021-12-30 08:32] yksolanki9 commented on #23977
I wish to take up this issue. Please assign it to me

[2021-12-30 10:34] marek-ciazynski commented on #9611
+1

[2021-12-30 10:54] 0ki commented on #23783
Any plans to make a future version that fails safely without crashing the UI?

[2021-12-30 11:48] ankar84 commented on #17559
4.2.2 looks much better!

[2021-12-30 11:59] ankar84 commented on #23437
Still an issue in 4.2.2

[2021-12-30 12:29] corrigac commented on #23931
Works for me  4.2.0 -> 4.3.0

[2021-12-30 12:30] #23931 closed

[2021-12-30 14:21] abhi-abhiram opened #24066 "Unable to access the message actions menu"
### Description:
I can't able to access the message actions menu after I starred it .But this happening only when I open pinned messages and, after i click on jump to message and, starred it.And This error **"Uncaught TypeError: t.starred.find is not a function"** is logged on console when I click on message actions menu. I caught this bug on this channel **https://open.rocket.chat/channel/gsoc202

[2021-12-30 14:39] #23955 closed

[2021-12-30 16:50] Himanshu664 commented on #24029
I'd like to work on this!

[2021-12-30 18:49] michalstys opened #24071 "Rocketchat 4.3.0 not sending e-mails"
### Description:

After upgrade rocketchat to version 4.3.0, rocketchat stopped sending e-mails (log included)

### Steps to reproduce:

Try to send any notification or other e-mail message

### Expected behavior:

E-mails are sent

### Actual behavior:

E-mails are not sent

### Server Setup Information:

- Version of Rocket.Chat Server: 4.3.0
- Operating System: Ubuntu
- Deployment Method: docke

[2021-12-30 19:44] rsgodinez opened #24072 "Omnichannel --> Agents --> Edit --> Departments - not user-friendly"
### Description:

Omnichannel --> Agents --> Edit --> Departments is actually not user friendly, when the agent is set to many departments (like 4 or more).

### Steps to reproduce:

1. Go to Omnichannel.
2. Click on Agents.
3. Click on Edit.
4. Departments, select many departments.

### Expected behavior:

Adding and Deleting departments happens in an user-friendly interface.

### Actual behavior

[2021-12-31 04:19] serviceman commented on #23483
Did you have any luck on this?

[2021-12-31 09:05] EnableServices commented on #23938
We have the same issue - about 10 seconds after start up, Rocket Chat exits with 'Illegal instruction'

Were you able to fix?

- Jon

[2021-12-31 10:45] pipetamper commented on #23985
Same Problem on 4.2.2 fresh install

[2021-12-31 12:35] dudanogueira commented on #24071
Referenced Line:
https://github.com/RocketChat/Rocket.Chat/blob/4.3.0/app/mailer/server/api.ts#L170

Can you please check if the test email (Admin > Email > Smtp > Send a test to my user) is working for you?

I tried reproducing here, but to no success. Can you reproduce that on a new fresh installed docker?

[2021-12-31 13:13] michalstys commented on #24071
(Admin > Email > Smtp > Send a test to my user) option doesn't work either (same error happens).

I have set environment variable in my docker-compose.yml file:

MAIL_URL=smtps://user:pass@my.domain:465/

I tried to set up smtp server at Admin > Email > Smtp too, but that doesn't help.

When I roll back RocketChat version to 4.1.2 e-mails works fine, but when I upgrade to 4.3.0 it stops to work an

[2021-12-31 13:54] murtaza98 opened #24074 "UiKit Button Action not working on latest develop branch"
### Description:

When we try to click on any UIKit buttons sent by the apps, the button action never gets triggered. I can see the following error within the browser console
![image](https://user-images.githubusercontent.com/34130764/147826657-ed6cc78d-4bbd-4f7c-b4b1-2fb956682e1f.png)

Ps: it seems like `/api/apps/ui.interaction/:appId` endpoint is not working. This issue is reproduceable on unst

[2021-12-31 15:05] #24050 closed

[2021-12-31 19:14] tensor5g commented on #23966
I'm getting the same issue. I am running the docker container version 4.3.0. Here is the error I see in the docker console.
```{"level":50,"time":"2021-12-30T04:36:56.367Z","pid":280,"hostname":"1fce38b76d0f","name":"System","msg":"Exception while invoking method createDirectMessage 'Invalid user [error-invalid-user]'"}```

[2022-01-01 06:55] Himanshu664 commented on #24074
I'd like to work on this!

[2022-01-01 11:03] githlp opened #24076 "service does not start after update to 4.3.0"
### Description:

After updating from 4.2.2 to 4.3.0 the service will not start, journal says

[code]

npm -v
`8.2.0`

node -v
`v12.18.4`

mongod --version
[code]

no idea how to fix.

[2022-01-01 12:22] svenseeberg commented on #24062
I can confirm the existence of this issue. We have at least 2 users reporting the same problem as well.

[2022-01-01 15:32] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #24011
alt key

[2022-01-01 17:09] aswinidev commented on #23168
I don't thing it is an issue or a bug but a deliberate feature. It lets you see the drop down menu even if you have scrolled up.

[2022-01-01 18:15] Barrylimarti commented on #24066
It is indeed happening in the gsoc2021 channel but it is not happening in any other channel or on my workspace server.

[2022-01-01 18:27] rtest12 commented on #23985
At 4.3 it worked, apparently fixed.
I see files, only download freezes, progress bar [0%]

[2022-01-01 19:14] skibbipl commented on #24071
Same on my installation. I've upgraded today and I see errors in log:
`
I20220101-19:07:56.002(0) Exception in defer callback: TypeError: Cannot read property 'email' of undefined     at app/mailer/server/api.ts:170:44     at Meteor.EnvironmentVariable.EVp.withValue (packages/meteor.js:1234:12)     at packages/meteor.js:550:25     at runWithEnvironment (packages/meteor.js:1286:24)
`

[2022-01-02 03:07] ctm commented on #23043
If you have an open WebSocket when you do the OAuth, there's a chance it'll work if you reset the various callbacks on that WebSocket. I apologize if this is not a helpful comment. Your description of the error you're seeing is very similar to one I ran into, but I haven't actually looked at your source enough to know if it's a good match.

[2022-01-02 03:34] grahhnt opened #24079 "User Info not opening correctly after switching between channel types"
### Description:

By using the "view full profile" link inside a UserCard, on first load the link will open the user info tabbar and change the url, but when you click on the same link after switching from a Channel to a DM the link will no longer open the user info panel, but will change the url

### Steps to reproduce:

1. Open a channel on page load (eg https://open.rocket.chat/channel/dev)
2.

[2022-01-02 05:34] serviceman commented on #24079
I reported this many versions ago. I have been forced to hack the script with some custom javascript. Here is what use.

`
let lastUrl = location.href;
new MutationObserver(() => {
const url = location.href;

  if (url !== lastUrl) {
    lastUrl = url;
//Gets the mini profile correctly in the direct messages
if ((window.location.href.indexOf('direct') > 0 ) && (window.location.href.indexOf('member

[2022-01-02 05:36] abhi-abhiram commented on #24066
oh that is weird.

[2022-01-02 13:58] #24066 closed

[2022-01-02 19:43] gobbli commented on #24071
Same for me on my 4.3.0 installation. If a user register, he get a mail from the system. 2FA over EMAIL and EMail testing over SMTP Settings in Admin Panel didn't work.

`I20220102-20:40:24.856(1) Exception in defer callback: TypeError: Cannot read property 'email' of undefined     at app/mailer/server/api.ts:170:44     at Meteor.EnvironmentVariable.EVp.withValue (packages/meteor.js:1234:12)     a

[2022-01-02 21:25] salviof commented on #2684
They persist do not working when in live chat

[2022-01-02 21:26] salviof commented on #2684
They persist do not working when in live chat

[2022-01-02 22:25] DoramGreenblat opened #24080 "RocketChat 4.3.0 Segmentation Fault"
### Description:

Upon starting Rocket Chat, the service runs for a few minutes, then dies with
```main process exited, code=killed, status=11/SEGV```

### Steps to reproduce:
Start RocketChat and Wait for failure

### Actual behavior:

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: 4.3.0
- Operating System: CentOS 7
- Deployment Method: tar
- Number of Running Instances:

[2022-01-03 02:55] anvo1205 opened #24081 "Welcome Email - Logo is not rendered"
### Description:

After I signed up and setup the cloud domain for my org, I received the welcome email, but the logo is not rendered

### Steps to reproduce:
1. Sign up an SaaS account
2. Check the mailbox after successfully sign up

### Expected behavior:
Logo should be correctly rendered

### Actual behavior:
Rocket chat logo is not rendered. 404 error in the console

I am not sure what is the

[2022-01-03 02:59] anvo1205 opened #24082 "Custom Emoji - Failed to load emoji thumbnail after uploaded"
### Description:

I am getting the error related to content security policy after uploading a custom emoji -> I think it's causing thumbnail is not rendered

### Steps to reproduce:

1. Sign in as an admin user
2. Go to Administration >> Custom Emoji
3. Click + button to add a custom emoji
3. Upload an image with .png format
4. Observe the emoji thumbnail after uploaded

### Expected behavior:

Th

[2022-01-03 03:03] anvo1205 opened #24083 "Administration >> Users >> Edit Profile - I was logged out when saving changes on profile update"
### Description:

When I want to edit my profile under Admin >> Users, I was logged out when trying to save changes

### Steps to reproduce:

1. Sign in as an admin
2. Go to Administrator >> Users
3. Select the current user in the table and click on Edit
3. From Profile page, edit one of the info (e.g. bio, or change the avatar)
4. Click Save. Enter the password to verify the account

### Expected

[2022-01-03 03:06] anvo1205 opened #24084 "My Account - Keep getting error "Entered password same as current password" when updating profile"
### Description:

When I try updating my profile, after I enter password to verify account to save the changes, I keep getting that error. It makes me confused whether my changes were successfully saved or not

### Steps to reproduce:

1. Sign in as an admin
2. Go to My Account >> Profile
3. Edit an information in Profile page (e.g. bio or nickname)
4. Click Save Changes
5. Enter current password

[2022-01-03 03:08] anvo1205 opened #24085 "My Account >> Profile - Failed to update avatar"
### Description:

I can't update my avatar, it keeps displaying the default avatar after reloading the page

### Steps to reproduce:

1. Sign in as admin
2. Go to My Account >> Profile
3. Upload a new avatar
4. Click Save Changes
5. Enter current password to verify
6. Reload the page

### Expected behavior:

New avatar should be displayed

### Actual behavior:

Default avatar still displays

Pleas

[2022-01-03 03:10] anvo1205 opened #24086 "Administration >> Integrations - Failed to load Zapier integration"
### Description:

Another issue with content security policy I think. The Zapier integration keeps loading and I can't see which options are available

### Steps to reproduce:

1. Sign in as an admin
2. Go to Administration >> Integrations
3. Click on Zapier tab

### Expected behavior:

The Zapier integration options should be loaded

### Actual behavior:

The table keeps loading. There is a conso

[2022-01-03 04:16] nishlashakya commented on #23977
thanks @yksolanki9

[2022-01-03 06:44] ipikiiskinen commented on #24062
Confirming the same issue in our test instance 4.3.0 and Firefox 91.4.0esr (64-bit) CentOS 7.

[2022-01-03 07:33] debdutdeb commented on #24080
@tassoevan any ideas 🤔

[2022-01-03 07:35] debdutdeb commented on #24076
Could you please try node 12.22.x?

[2022-01-03 07:56] Manik-Aggarwal commented on #23866
I want to work on this issue, please assigned it to me

[2022-01-03 07:59] idominiki commented on #19802
Hello @dougfabris,

we also have the problem. We got the error "Error accessing webdav".
The URL is correct. It also seems not to be a DNS problem 
1) the WebDAV can also not be reached via IP.
2) even with an IP technically accessible name server in the /etc/resolv.conf, name resolution does not work in the Rocketchat container.

I was also able to reach the Test WebDAV address in the container

[2022-01-03 08:29] DoramGreenblat commented on #24080
For a little more information. I have narrowed this down to be related to API jobs.
It seems to trigger on certain API calls.

[2022-01-03 10:32] DoramGreenblat commented on #24080
A full debug of the crash event follows

[code]

[2022-01-03 10:42] salmoooon commented on #23999
Had this issue before and solved it by adding the index mentioned [here](https://github.com/RocketChat/Rocket.Chat/issues/15005), @troyodk @shyokinmv could you try and see if this will fix the issue?

[2022-01-03 10:44] husim0 commented on #23660
No Christmas miracle for that issue ? Still cannot update from 4.0.6 to anything higher

[2022-01-03 11:29] joseluisq commented on #21811
It has caused me minutes of headache on `4.1.2` because of this stupid menu with scroll almost invisible.
I hope the team will fix that.

[2022-01-03 12:53] tassoevan commented on #24080
Hey @DoramGreenblat, any core dump file generated when the crash happens?

[2022-01-03 12:54] almandin commented on #24062
Same here for Firefox 91.4.0 - esr on Kali Linux, same error, same symptoms.

[2022-01-03 13:08] #19188 closed

[2022-01-03 13:28] himpierre opened #24089 "4.3.0 disables apps now and then"
### Description:

Since upgrading to 4.3.0 (from 4.1.2 if that matters) apps from the marketplace get disabled now and then. I experienced this with "poll" "giphy" and "out-of-office". Sometimes just enabling the app again is sufficiant. Sometime I need to reinstall the app.

### Steps to reproduce:

1. Upgrade to 4.3.0
2. Go to administration -> apps
3. Apps are disabled
4. Enable App
5. App work

[2022-01-03 13:57] dudanogueira commented on #24062
I can confirm this. Will escalte internally.

[2022-01-03 14:43] tassoevan commented on #24062
Firefox 91 probably got out of our supported versions, as evidenced by `npx browserslist`:

[code]

I'll see what can be done.

[2022-01-03 14:46] kalsan commented on #24062
FF 91.4.1esr is the up-to-date browser for Debian stable (11.1). Since it is the ESR release, it will be around for many months to come.

[2022-01-03 14:48] tassoevan commented on #24062
@kalsan Sure. We definitely have a problem to solve here.

[2022-01-03 15:29] benito89 commented on #14786
This is an issue again in version 4.2.2.
Since then the content of the [mentioned PR](https://github.com/RocketChat/Rocket.Chat/pull/14644) has been reverted.
Setting "UTF8 Names Slugify" to false can be a workaround.

[2022-01-03 16:10] AbhishekJamhoriya commented on #23967
Hi @psy can you please assign me this issue. so that I can work on it.

[2022-01-03 16:12] AbhishekJamhoriya commented on #23977
Hi, @nishlashakya  is this issue still open if yes, can you please assign me this issue.

[2022-01-03 16:13] AbhishekJamhoriya commented on #23989
Hi @Hamulus  i would like to work on this issue can you please assigne me this issue.

[2022-01-03 16:15] AbhishekJamhoriya commented on #24085
Hi @anvo1205 i would like to work on this issue can you please assign me this issue.

[2022-01-03 16:18] AbhishekJamhoriya commented on #24083
Hi, @anvo1205  I would like to work on it, can you please assign me this issue.

[2022-01-03 18:44] krimlon commented on #2249
has this ever been fixed? I am unable to use also.

[2022-01-03 19:42] githlp commented on #24076
node -v
`v12.22.2`

the rocketchat.service is still exiting, mongod is running ok

[2022-01-03 19:51] saggy2 commented on #2249
never worked for me

[2022-01-04 00:07] grahhnt commented on #24079
@serviceman I've made a fix: https://github.com/RocketChat/Rocket.Chat/pull/24098

[2022-01-04 00:50] anvo1205 commented on #24083
@AbhishekJamhoriya Looks like I don't have permission to assign this issue to you

[2022-01-04 00:50] anvo1205 commented on #24085
@AbhishekJamhoriya Looks like I don't have permission to assign this issue to you

[2022-01-04 01:08] chenchk commented on #6899
Any update on this?

[2022-01-04 03:59] nishlashakya commented on #23977
I am not able to assign the issue. Can you please @dudanogueira ?

[2022-01-04 05:50] Hamulus commented on #23989
I have no rights to assign issues

[2022-01-04 06:59] TomaszDom opened #24099 "Incoming integrations broken after upgrade 3.18.0 to 4.3.0"
### Description:

Incoming integrations no longer work after upgrading from 3.18.0 to 4.3.0.

All integrations return the following message from the server:

`{"success":false,"error":"Invalid href value provided"}`

This behaviour is the same with old and newly recreated integrations, when using the sample curl command the behaviour is the same.

### Steps to reproduce:

1. Go to Administration -

[2022-01-04 08:28] charlretief commented on #24080
@tassoevan the crash happens when a message contains an embedded url with a local domain name like https://test.example/page

Seems like the problem is in a callback hook oembed:beforeGetUrlContent that tries to generate a preview for this local only url.

[code]

[2022-01-04 11:10] Gummikavalier commented on #24099
We are not sure whether this is completely related to issue you are experiencing with RC 4.3.0, as it actually is more related to the testing example that RC integrations page offers for testing.

We spotted in RC 3.18.3 that unless you specify full image path in the `image_url` in the example, you get that invalid href value error message. Changing it to `https://[your_rc_site]/images/integration

[2022-01-04 14:00] parannoide opened #24100 "Unable to change/include a profile picture"
### Description:

Unable to either include a new profile picture or change the currente profile picture

### Steps to reproduce:

1. Go to "My Account"
2. Upload a profile picture
3. Click on "Save changes"
4. Get messages "Profile saved successfully" and "Avatar changed successfully"

### Expected behavior:

Show new profile picture to the user

### Actual behavior:

Shows de default profile pict

[2022-01-04 14:18] 2old4it commented on #12320
In 4.2.2 I can add a new role and I can see it in the permissions tab. I can even assign the role to a user.
However if I want to edit the role I get an error 'Invalid role'.

[2022-01-04 14:25] 2old4it commented on #18635
Is there any progress on this?
We want to facilitate several teams/customers using RC but we (and or customers) don't want the option that everybody can invite everybody to a channel/discussion.
- Version of Rocket.Chat Server: 3.5.3

[2022-01-04 14:26] sandrotanner commented on #24085
Seems to me as this was an issue with password auto-fill.

My theory: it not only fills it in the pup-up but also further down in the section where you can change your emails and password.
That would explain why you get a Error telling you "Entered password same as current password".

Try disabling auto-filling of passwords and manually enter the password.

[2022-01-04 14:31] parannoide commented on #24100
Related  to #15470

[2022-01-04 14:46] #24062 closed

[2022-01-04 15:10] 2old4it opened #24101 "Role editing 'Users must use Two Factor Authentication' doesn't work"
### Description:

Role editing 'Users must use Two Factor Authentication' doesn't work

### Steps to reproduce:

1. Go to Administration -> Permissions
2. Click on any role (top of list) (e.g. user)
3. In Role Editing enable 'Users must use Two Factor Authentication'

### Expected behavior:

If an user has been assigned this role and the 'Users must use Two Factor Authentication' is active for tha

[2022-01-04 15:41] fleaz commented on #21179
4.2.2 and it's still broken...

This is becoming a ridiculous joke.
Why exactly am I paying money every month to a company that is not able to fix a form validation bug in nearly a year?

[2022-01-04 15:58] parannoide commented on #15470
Same problem, but this workaround does not work

[2022-01-04 16:01] mosesdd commented on #24071
same issue here, **afaik this is unsupported** but I was able to downgrade to 4.2.2 after editing the migrations collection in mongodb

`db.migrations.update({"version":252},{"version":249})`

[2022-01-04 16:11] laurent6 opened #24103 "CAS popup does'nt close automatically"
### Description:

When I use CAS connexion the popup window not close. If we clode it manually we are connect to rocketchat
Note that autoclose option is enable to
### Steps to reproduce:

1. Configure CAS option
2. Click on button CAS
3.  Wait and see

https://www.loom.com/share/80bb228798e74eca9c2382024020f801

### Expected behavior:

The popup automatically close

### Actual behavior:

### Serv

[2022-01-04 16:43] kulkarnigaurav38 commented on #24085
Hey, so around 0:11 in the video, 'save changes' button is already enabled before making any changes in that page, so it's the password input field( lower in the same page) which got changed due to your password auto-fill in browser.
So you can just empty out that password field and 'save changes' button becomes disabled( like it should be when no changes are there) and then you can upload a new a

[2022-01-04 17:44] chrisxchrisxchrisx opened #24104 "Windows Client 404 trying to access server available before and still available in Firefox"
Version 3.7.4 installed, re-installed, restarted, Windows 10

[2022-01-04 18:16] dudanogueira commented on #24099
@Gummikavalier, You are right.

I have even noticed this example error last week, and was planning to submit a PR changing it to https://open.rocket.chat/assets/logo.png

@TomaszDom can you please provide us with other example you have used or try the above command:

`curl -X POST -H 'Content-Type: application/json' --data '{"text":"Example message","attachments":[{"title":"Rocket.Chat","title_lin

[2022-01-04 21:18] UAnton commented on #23423
LDAP sync doesn't work in 4.3 as background and manual from Admin Interface

[2022-01-04 21:36] milton-rucks commented on #21179
Hi @fleaz
This fix is scheduled to be delivered in the next release.
did you try to contact support?
Please note this is the appropriate channel for reporting an issue.

[2022-01-04 21:45] fleaz commented on #21179
Thank you!

Yes, I already have an open support ticket since months where I occasionally release my anger just like in this issue here.

This issue is just one of many problems we have with RC since about 4 years now, so please excuse prior language :/

[2022-01-04 22:38] gusdgg commented on #24071
I think It's related to this change introduced in 4.3.0 version:

APPS: Add new email event for apps (#[23925](https://github.com/RocketChat/Rocket.Chat/pull/23925))

[2022-01-05 07:26] Gummikavalier commented on #24099
@TomaszDom I just remembered that apart from the example issue, the actual issue you are experiencing may be that since RC 4.0 the account used in the integration needs to be a member on the channel. Try adding the rocket.cat as a member to the channels with integrations.

[2022-01-05 08:10] Gavilaan commented on #24071
Same problem here. But funny, i have 3 installations running, all installed and updated with the same ansible script. On 1 machine mail is working, 2 others not.

[2022-01-05 09:33] wolbernd commented on #24071
It seems that fc9c193ccfa7039ef763828c3324fcf34b23a106 fixes this problem. I set up a local dev instance and sending mails works with the current HEAD.

[2022-01-05 09:50] skibbipl commented on #24071
Are there any ways to enable apps framework as a workaround without email TOTP? Maybe disable TOTP temporarily in database?

[2022-01-05 10:46] homberger commented on #11950
And still present in 2022

[2022-01-05 11:18] homberger commented on #11598
Try this fix in mongo shell:

[code]

[2022-01-05 11:33] homberger commented on #18469
You can fix the names in mongo shell:
[code]

[2022-01-05 13:25] jahohu commented on #23982
Thanks for bringing it up! We did not start yet to roll out the client version that brings this feature, still on 3.5.7.

**Feature request**, when we are at this already: Would it be possible to add a setting to the admin panel that allows to set the default behaviour of this switch? We would prefer to set this to application window, which is the well-known and working behaviour in client version

[2022-01-05 14:02] icerootsvw commented on #11598
@homberger any further steps needed? i executed the command but the user is still shown with username instead of real name

`cd /snap/rocketchat-server/current/bin/
root@bl-rocket:/snap/rocketchat-server/current/bin# ./mongo
MongoDB shell version v3.6.14
connecting to: mongodb://127.0.0.1:27017/?gssapiServiceName=mongodb
Implicit session: session { "id" : UUID("4ba0cd18-8f81-4f35-8ac2-XXXXXXXX") }

[2022-01-05 17:11] Trans-IP commented on #23208
The solution for me was based on this note: https://github.com/RocketChat/Rocket.Chat/releases/tag/4.0.0-rc.4

My user wasn't part of the target channel and that change was breaking.  Did not notice it before.  I added the user and everything started to work for me.

[2022-01-05 18:07] AllAstronauts commented on #23208
Alas, my user is a bot account that has full perms everywhere and is in every channel. Text pushes but the attachments do not. Double checked just now to be sure. My big worry is this is some super edge-case CORS thing with Snaps with no errors being logged (which is the case, there is nothing at all) - and I've already toggled and tested against all available RC settings. I'll get drunk one of th

[2022-01-05 19:24] agodin3z commented on #22114
Still in v3.18.3 😞

[2022-01-05 21:00] ers81239 commented on #14799
Same here.... I am new to RocketChat.  I created a discussion, and marked it Private in its settings.  The UI Says "Private" "Just invited people can access this channel".  However, someone who wasn't invited quickly joined the Channel.  I think the issue is that the UI looks the same for Discussions and Channels but Discussions can't really be private.

[2022-01-05 21:48] jazztickets commented on #24071
4.3.1 fixed it for me.

[2022-01-05 22:09] homberger commented on #11598
The result of the command you entered is missing in your copied text.
Did you only paste it into the mongo shell without executing the command, maybe?

If it was executed successfully, you should try to force reload your RC client (CTRL + SHIFT + R).

[2022-01-05 23:23] skibbipl commented on #24071
Yup, also works for me

[2022-01-06 13:50] sandrotanner commented on #24085
@anvo1205 if this is resolved, please close the issue. thanks :)

[2022-01-06 13:51] dcardin opened #24113 "Previews of uploaded pictures not showing anymore"
### Description:

The preview feature of uploaded pictures is broken

### Steps to reproduce:

Upload a picture

### Expected behavior:

The picture is shown as a preview

### Actual behavior:

Retry button, no preview

### Server Setup Information:

- Version of Rocket.Chat Server: 4.3.1
- Operating System: Linux
- Deployment Method:  docker
- Number of Running Instances: 1
- DB Replicaset Oplog:

[2022-01-06 14:02] #24085 closed

[2022-01-06 14:46] try-catch-stack opened #24115 "Already selected users are not visible while adding another user from the Add Users menu"
### Description:

There is now way to see if we have already selected a user from the dropdown list in the Add User menu. Also the dropdown list automatically closes after selecting a user which makes it inconvenient to select multiple users.

### Steps to reproduce:

1. Go to the members section of a group/channel.
2. Click on Add button on the bottom.
3. Start selecting users from the list and y

[2022-01-06 15:43] Shivansh-yadav13 commented on #24115
rather than making a separate section maybe we can just keep the selected users in place of having "Choose users" on the search. what do you think? @try-catch-stack

[2022-01-06 16:22] try-catch-stack commented on #24115
@Shivansh-yadav13 Yes that should also work but we need to take care of the space available for typing as it is a text field in the first place. Let's see what admins suggest about the issue.

[2022-01-06 17:27] robertfromont commented on #23863
I've seen this recently, and the cause turned out to be that I had inadvertently un-set replication in `/etc/mongod.conf`

The fix for me was to run:
[code]

[2022-01-06 18:11] Mastadamus commented on #24089
This is happening to mine as well upon upgrade to 4.3.0

[2022-01-06 18:41] AbhishekJamhoriya commented on #24100
Hi, @parannoide  is this issue open. if yes, please assign me this issue.

[2022-01-06 18:54] AbhishekJamhoriya commented on #24084
Hi, @d-gubert I would like to work on this issue. so please assign me this issue.

[2022-01-06 19:22] #21179 closed

[2022-01-06 19:54] dougfabris commented on #19802
@idominiki can you provide which version you're running?

[2022-01-06 21:59] dougfabris commented on #19802
@idominiki Hmm. I believe the update to `4.3.0` should solve this issue! If you could verify, I'll be able to close this one.

[2022-01-06 22:01] dougfabris commented on #19802
@idominiki Hmm. I believe the update to `4.3.0` should solve this issue! If you still get this error, let me know.

[2022-01-06 22:01] #19802 closed

[2022-01-06 22:24] sampaiodiego commented on #24032
Are you sure you're using Node 12.22.1? I'm currently facing this issue while upgrading Meteor (on this PR https://github.com/RocketChat/Rocket.Chat/pull/24075) which uses Node v14

[2022-01-07 07:28] Gummikavalier commented on #24080
@charlretief As I could not reproduce the issue just by posting a message with an url with a local domain name, is there a specific way how this can be triggered for testing?

[2022-01-07 07:36] Gummikavalier commented on #24062
I confirm that this issue is fixed in RC 4.3.1.

[2022-01-07 07:41] charlretief commented on #24080
Sending a chat message of `https://test.example/page` crashes the server for me.

[2022-01-07 08:59] Gummikavalier commented on #24080
@charlretief I tried that with the web client. Does that happen with an iOS or Android client? Or some particular type of channel?

[2022-01-07 09:41] Gummikavalier commented on #24080
Linking earlier https://github.com/RocketChat/Rocket.Chat/issues/23346 here in case this is related to node binary particular to CentOS7.

[2022-01-07 09:52] charlretief commented on #24080
Have noticed it happening in direct messages and messages posted to private groups. Using the web client.

[2022-01-07 10:39] Gummikavalier commented on #24080
@charlretief Thanks! Still stable for us on those types of channels too. Is your server operating system perhaps CentOS7 as is with the original poster of this issue?

[2022-01-07 10:43] CvH commented on #14562
@geekgonecrazy I still have the same problem with the current version and the desired fix is not working

[code]

[code]

[2022-01-07 11:34] dudanogueira commented on #24115
Hi! This is indeed not the best UI experience.

I have marked tag UI and will raise it to our UI/UX team. Not sure if this should be here or in
https://github.com/RocketChat/Rocket.Chat.Fuselage

[2022-01-07 11:36] dudanogueira commented on #24115
For reference:
https://rocketchat.github.io/Rocket.Chat.Fuselage/fuselage/master/?path=/docs/forms-multiselect--multi-select-filtered

[2022-01-08 00:05] vaDrn commented on #11950
I decided to try out Mattermost and potentially migrate to it. Or just get directly to Slack or Teams.
See no point waiting and hoping that basic function will appear or be fixed in a year or two.

oh wait this stuff isn't working since 2018 they might not fix it in another 4 years or ever

this project is dead.
I rather drop this sinking ship

[2022-01-08 00:06] #24082 closed

[2022-01-08 23:39] bzzworld commented on #8324
db.users.deleteMany({"roles": "anonymous"});

[2022-01-09 05:34] serviceman commented on #23483
This is still happening on 4.3.1 on the web browser on open.rocket.chat, as well as my instance. This issue was reported nearly 3 months ago and breaks a large portion of real use cases for rocket chat for anyone on an iphone, yet this issue has had no attention. Is it time to move on from Rocket Chat to another platform? I have attempted to debug this myself, there are not errors on the console o

[2022-01-09 12:32] btittelbach commented on #23613
I can confirm the issue is still present in Rocket.Chat 4.3.1

As far as I can tell the oauth provider serverURL (nextcloud in my case) is correctly read from the settings stored in mongodb, since I get redirected to my nextcloud instance from the rocket.chat login page.

However, apparently there must be some later check where rocket.chat compares the ouath provider url again against `serverURL`

[2022-01-09 13:03] Ayush01729 commented on #23967
So, @psy, you mean that the message which appears in an email should be a hyperlink, isn't it?

[2022-01-09 22:25] grahhnt commented on #23096
I have made a fix in pr #24098, the pull needs to be reviewed though

[2022-01-09 22:38] d-gubert commented on #24074
This PR introduced a change that was breaking this https://github.com/RocketChat/Rocket.Chat/pull/24053

It has since been reverted and all is back to normal :)

[2022-01-09 22:38] #24074 closed

[2022-01-10 04:25] cuonghuunguyen commented on #24089
Happened on 4.3.1 as well

[2022-01-10 04:29] cuonghuunguyen commented on #24089
FYI the apps are disabled on server restart. and the reason may be from this:
https://github.com/RocketChat/Rocket.Chat.Apps-engine/commit/6138fe289bb77800efb787e7db3e97ba9750d582#diff-ffede507682c0eff4ddc51704dcac36acae3efd7d4d3c0c5004cb278667379eaR175
I don't know why it's just happened on 4.3.0, maybe because of the refactoring of the update flow

[2022-01-10 06:11] CvH opened #24124 "Snap update 4.2.2 to 4.3.1 failed"
I tried to update from 4.2.2 to 4.3.1 (current latest in 4.x train)

`snap refresh rocketchat-server`
[code]

current setup
[code]

[2022-01-10 07:42] CvH commented on #23093
@sampaiodiego
updating to 4.3.1 fixed the issue for new users I had never contacted, but all users that I contacted still have just displayed the username

likewise it is somewhere kind of cached ?

[2022-01-10 07:57] andreas-by commented on #24080
@Gummikavalier we can replicate the crashing with a segfault.

- Centos 7
-  npm -v 6.14.1
-  node -v v12.22.1

Sending the link https://test.example/page via direct messages causes a complete crash of the instance

[2022-01-10 08:00] kalsan commented on #24062
I confirm that this issue has been fixed in release 4.3.1

[2022-01-10 08:20] CvH commented on #22145
4.3.1 same issue

[2022-01-10 08:20] v1adislav commented on #23613
@dudanogueira Hi! When will the problem be fixed?

[2022-01-10 08:26] CvH commented on #22295
problem still exists at 4.3.1

[2022-01-10 08:52] CvH commented on #23966
RC 4.3.1, client is Browser/RC Client win/linux
We are using Oauth.

We have the same error since at least upgrading to 3.x .
To clarify it just happens a single time if you get the first "contact" with a user, afterwards never again.
It is easy reproduce able by deleting the pm room (user x user2) at the admin settings tab and retry to send a message to the user.
![user-undefined](https://user-im

[2022-01-10 10:47] 66Leo66 opened #24128 "Webdav file upload error"
### Description:

Setup teracloud.jp webdav and failed to upload files.

### Steps to reproduce:

Setup webdav and upload file.

### Expected behavior:

Successful file upload.

### Actual behavior:

Top banner: `Error: Request failed with status code 401 [ufs: cannot upload file]`
Server log:
[code]
### Server Setup Information:

- Version of Rocket.Chat Server: 4.x/stabel from snap
- Operating S

[2022-01-10 11:23] DATL4G opened #24130 "Profile options menu not showing up on a small height window"
**Describe the bug**
Since version 3.7.4 the options menu is no longer showing up when you click on your profile picture. So it's not possible to change your status for example.

Faced this problem on:
Windows 10
Rocket.Chat version 3.7.4 and 3.7.5

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a server you're logged in to
2. Click on your profile picture
3. Nothing happens

**Expecte

[2022-01-10 12:09] Gummikavalier commented on #24080
@andreas-by Thanks.

We also experienced now a segfault on RC 4.3.1 but we cannot trigger it with that message. Instead the node keeps growing in memory until it bombs.

[2022-01-10 12:31] aimador commented on #24080
@Gummikavalier can confirm it for Centos 7, RC 4.2.1, Node 12.22.1, NPM 6.14.12
Interestingly your link crashes the instance. Other links with an internal domain do not crash the server.

[2022-01-10 12:42] matziu commented on #23638
<br>heif: Unsupported feature: Unsupported codec (4.3000)<br>heif: Unsupported feature: Unsupported codec

Still not working
4.3.1

[2022-01-10 12:57] try-catch-stack opened #24132 "Profile picture also changes on changing the username"
### Description:

On changing the username , the profile picture also changes (Sometimes) to some random user's profile picture . This profile picture maybe of some user with the same username in the past.

### Steps to reproduce:

1. Go to your profile settings.
2. Change your username to some other username and save.
3. The profile picture will be changed to some random image.

### Expected beha

[2022-01-10 13:17] Gummikavalier commented on #24080
For the record we did not have segfaults with RHEL8 with RC 4.2.1 (had been in use since its release). We upgraded to 4.3.1 directly from that.

[2022-01-10 13:48] whitetiger264 commented on #24099
This seemed to work for me after running a few tests. Thanks.

[2022-01-10 14:33] #22205 closed

[2022-01-10 15:13] Himanshu664 commented on #24132
I'd like to work on this!

[2022-01-10 15:40] andreas-by commented on #24080
We can trigger it with .example and .invalid other domains like .localhost dont crash the system.
As workaround we put the broken domains on the blacklist....

[2022-01-10 16:05] Himanshu664 commented on #24132
I face this rarely 1/10 times I think it is fixed earlier

[2022-01-10 16:25] josep112 opened #24136 "Facebook no works ominichannel"
### Description:
Omnichannel does not receive messages from facebook messenger

### Steps to reproduce:

1 - send a facebook messenger message
2 - leave the ominichannel key on

### Expected behavior:
Join the omnichannel service queue

### Actual behavior:
does not enter the queue , there are no logs , the 2 keys are set in the facebook configuration and the page is linked

### Server Setup Infor

[2022-01-10 17:44] sohamp19 commented on #24132
hey @try-catch-stack , may I know what version of Rocket.Chat server are you using ?

[2022-01-10 19:45] try-catch-stack commented on #24132
Latest version

[2022-01-11 04:31] ankar84 commented on #17559
I'm on a 4.2.2 now and looks like that issue is solved now on 4.x branch of server versions.
I still see lots of **sockjs** connections (in HAProxy), but presence load on reverse proxy and Rocket.Chat front-end is really low now.

I don't know what actually fixed that, but @sampaiodiego thank you so very very much!

[2022-01-11 04:31] #17559 closed

[2022-01-11 04:37] ankar84 commented on #19442
Still on 4.2.2
But not interface try to load date for some time and then crashes...
I guess that all about amount of data, so fix should be in that aspect @ggazzo @gabriellsh

[2022-01-11 04:44] ankar84 commented on #23617
Still an issue on 4.2.2

[2022-01-11 04:52] code-pil commented on #24132
Yes I also face this issue!

[2022-01-11 05:11] ankar84 commented on #23415
Could not reproduce that issue on 4.2.2 so probably it is resolved now.

[2022-01-11 05:12] ankar84 commented on #23353
It is a UI bug on one single client, so looks like cache bug.

[2022-01-11 05:12] #23353 closed

[2022-01-11 05:22] ankar84 commented on #22280
Hey, @ggazzo
Thank you for your great job!

Now most important issue for us is [this](https://github.com/RocketChat/Rocket.Chat/issues/22280#issuecomment-857350715)
We have this settings in **Admin UI - Messages - Markdown**
![image](https://user-images.githubusercontent.com/4023037/148885604-e1448e4e-1564-4d89-9ac5-4cf809326bc5.png)

But with new parser `notes` and `e1s` protocols not parse as a

[2022-01-11 05:23] recklessnl opened #24139 "E2E encryption password only unlocks on the official site URL (mydomain.example.com) but NOT on a local instance IP (192.168.1.2)"
### Description:

E2E encryption is enabled on a single RocketChat server. I have a domain name that via a reverse proxy points to this server. Unlocking E2E encryption using my password works without issues when connecting to the domain name. But when I connect using a local IP address on the LAN, the password will not unlock the E2E encryption. This is a bug that's quite annoying and makes it us

[2022-01-11 05:27] ankar84 commented on #22254
Still on 4.2.2
![image](https://user-images.githubusercontent.com/4023037/148886325-641fef9c-3013-4ff9-8941-f96a5f4f2c71.png)

[2022-01-11 05:31] ankar84 commented on #22237
Still on 4.2.2 but amount of that messages decreased a bit
![image](https://user-images.githubusercontent.com/4023037/148886611-49ce0df0-fe24-4dc7-9c1c-f0edf3390863.png)

[2022-01-11 05:34] ankar84 commented on #22146
Still on 4.2.2

[2022-01-11 05:45] ankar84 commented on #23093
You can use @budakovda [script](https://github.com/RocketChat/Rocket.Chat/issues/23093#issuecomment-927022370) to fix all existing DMs

[2022-01-11 07:07] ankar84 commented on #23680
still on 4.2.2
I guess amount of users messages is a key to that but.
I see that error when delete users with big messages count.

And after delete of any user I get User not found error:
![image](https://user-images.githubusercontent.com/4023037/148896544-dfa00239-5e3d-4d2a-b378-6e8254ba1254.png)

[2022-01-11 07:17] ankar84 commented on #24132
Confirm that bug on 4.2.2
Some renamed users get one current avatar picture for some reason (always same)

[2022-01-11 07:41] ankar84 commented on #24083
I see this on 4.2.2
When I remove one users role and click save - Admin UI is crashed (gray screen).
But I press back (ALT+Left Arrow) and refresh to fix that.
I remain logged in.

[2022-01-11 08:05] ankar84 commented on #24079
Confirm that issue on 4.2.2

[2022-01-11 08:27] ankar84 commented on #23415
Actually when I reset Rate Limiter to default, users start report about errors again, so that issue is still on 4.2.2
![image](https://user-images.githubusercontent.com/4023037/148907079-d0e1ee9c-19e0-4f6b-924e-b708e1d9879b.png)

[2022-01-11 08:55] ankar84 commented on #22145
@dudanogueira @debdutdeb  please take a look at that issue.
It's not so critical in functionality aspect, it's a UI\UX bug, but very annoying to users.

[2022-01-11 10:48] ankar84 commented on #22803
Still an issue on 4.2.2

[2022-01-11 13:37] sampaiodiego commented on #17559
that's great to hear @ankar84 ..

to give you a bit of context on what changed, this PR https://github.com/RocketChat/Rocket.Chat/pull/22950 changed how presence updated were sent.. prior to that, as you noticed, we were sending any presence change to **every connected user**, which obviously adds a lot data going through the wire.. and now you'll receive update of people you're actually seeing on

[2022-01-11 14:17] ipikiiskinen commented on #23437
Still an issue in 4.3.1

[2022-01-11 14:25] AMWRI commented on #23383
Hi. It seems I have the exact same issue - across various browsers, on the app, and in both admin and standard user profiles. Its a shame because it would otherwise be such a useful feature!

[2022-01-11 15:02] mddvul22 commented on #23093
That script appears to no longer be available.  Hopefully @budakovda can make it available again?

[2022-01-11 16:17] CvH commented on #23093
Shouldn`t RC provide some script or at least some doc how to do it?
I guess every RC user/server was effected from that bug so the damage is already there and just the problem is fixed for the future and not for the past.

[2022-01-11 18:57] dudanogueira commented on #24136
Hi! Was it working before and just stopped?

3.5.1 is a very old version and a lot has changed, probably on both facebook and rocket.chat.

Can you upgrade it to latest version?

Also, I would strongly advise you deploy using docker instead of tar method, as it isolate a lot of possible problems and make your environment almost equal as everyone else.

[2022-01-11 19:00] dudanogueira commented on #24128
Hi!

Was this working before and stopped working?

It may be a configuration problem.

Also, please state the exact version you are using.

Can you try replicating this issue with a regular webdav server, using docker on latest version?

[2022-01-11 19:56] LouisSung commented on #20671
Can anyone confirm that whether this issue still exists in `4.3.1`?
I haven't set up dev environment for months and hopefully someone could give it a try; otherwise, I'll do it when available

The patch in #22564 became conflicted after some version bumped : (

[2022-01-11 22:05] pbenkoe commented on #23984
Tried the upgrade again, and it worked. Thank you for your help!

[2022-01-11 22:05] #23984 closed

[2022-01-11 23:57] jeanfbrito commented on #11649
Please test if the latest release did solve this. If not please reopen the issue or create a new one and tell us. I will be closing this one for now.

Thank you!

[2022-01-12 00:41] jeanfbrito commented on #22981
Please test if the latest release did solve this. If not please reopen the issue or create a new one and tell us. I will be closing this one for now.

Thank you!

[2022-01-12 00:41] #22981 closed

[2022-01-12 01:26] ankar84 commented on #21237
Still in 4.2.2

[2022-01-12 01:34] ankar84 opened #24146 "error-invalid-room error when user open DM with deactivated user"
### Description:

When user open DM with deactivated user (from chat history for example) then `error-invalid-room` error appears in Rocket Chat logs

Root cause of that issue is https://github.com/RocketChat/Rocket.Chat/issues/21237
I believe that user shouldn't have ability to start DM with disabled user with some warning like `That user is deactivated, you can't DM with him` or at least team mu

[2022-01-12 01:35] ankar84 commented on #21237
@dudanogueira please help to get that issue to Product team.

[2022-01-12 02:33] anvo1205 opened #24147 "Engagement Dashboard - Failed to load data of the dashboard"
Nothing is loaded when admin navigates to Engagement Dashboard menu

### Steps to reproduce:
1. Sign in as an admin
2. Go to Admin >> Engagement Dashboard

### Expected behavior:

Data is loaded

### Actual behavior:

Nothing is loaded. Many console errors `Error: invalid response data type` are fired

Please open this link to see additional information including video, console errors, technical i

[2022-01-12 04:15] ankar84 opened #24148 "Role `user` assign to registered users despite of `Default Roles for Users` settings"
### Description:

Some versions ago a very good setting was added to **Admin UI - Account - Registration**
It's a `Default Roles for Users`
![image](https://user-images.githubusercontent.com/4023037/149061823-88ec4ce0-4cc6-4a26-a073-c3f4a1951867.png)
As you can see on a screen we assign special restricted role `invited-user` to self registered users.
We are using secret URL and invite links to reg

[2022-01-12 05:30] supervladvik opened #24149 "Notification Duration not working for more than 6 seconds"
### Description:

Notification Duration not working for more than 6 seconds

My Account -> Presence -> NOTIFICATIONS -> Notification Duration
Allows you to set any time, but actually works from 1 to 6 seconds. If set more than 6 seconds, it is still 6 seconds.

### Server Setup Information:

Version of Rocket.Chat Server: 12.16.1
Operating System: Linux debianRC 4.19.0-17-amd64 #1 SMP Debian 4.19.

[2022-01-12 10:14] dudanogueira commented on #24149
Hi!

Can you check you server version again?

You can check it out at Admin.

Our latest is 4.3.1, so it can't be 12.16.1

Notification behavior is usually determined by browser or OS configurations.

It used to have this config on old versions, but not anymore.

Thanks!!

[2022-01-12 10:14] Alirezamn93 opened #24152 "Editing settings is not allowed"
Hi,
on step 2 (Organization Info) I get this error log
`Jan 12 11:10:13 xp0.ir rocketchat-server.rocketchat-server[949]: {"level":50,"time":"2022-01-12T10:10:13.048Z","pid":949,"hostname":"","name":"System","msg":"Exception while invoking method saveSettings 'Editing settings is not allowed [error-action-not-allowed]'"}`
what's wrong?
my server is Ubuntu 20.4 and I installed Rocket.Chat using snap

[2022-01-12 10:23] varunbankar commented on #24146
I'd like to work on this issue!

[2022-01-12 10:55] benwick commented on #20323
Same bug on
Server: 4.3.1
Client: 3.7.5

[2022-01-12 11:26] parannoide commented on #24100
Rocket.Chat Version: 4.3.1
NodeJS Version: 12.22.8 - x64
MongoDB Version: 4.2.17
MongoDB Engine: wiredTiger
Platform: linux

Snap updated and the problem persists.

[2022-01-12 11:29] josep112 commented on #24136
Hi,
Yes it worked and stopped. I also have version 4.1.0 running in docker but it doesn't work, I don't get anything in the logs either

[2022-01-12 12:40] Ayush01729 opened #24154 "Backward button of browser not working"
### Description:

When you go to Account page and you want to return back, it is not possible to return back by clicking the backward button on browser. The only way to return back is by clicking the "cross" on the right side of the navigation menu.

### Steps to reproduce:

1.  Go to Profile Tab
2.  Click on "My Account"
3.  Try to come back by clicking on browser's backward button

### Expected

[2022-01-12 13:02] Himanshu664 opened #24155 "Feature Request: Support for reset button in Integration"
### Description:

Support for reset button in Integration -> outgoing is needed, it has only save button
Need of reset button next to save button

### Steps to reproduce:

1. Go to the Administration panel
2. Click on Integrations
3. Create an Outgoing integration

### Expected behavior:
<img width="950" alt="Reset" src="https://user-images.githubusercontent.com/76220055/149144769-93e5ecbf-3dcd-4a

[2022-01-12 13:21] ArchitJain1201 commented on #24146
@ankar84 Can you please assign me this issue

[2022-01-12 13:43] ankar84 commented on #24146
I'm not a dev team member.
Let's ask @dudanogueira and @debdutdeb

[2022-01-12 13:53] ArchitJain1201 commented on #24146
@dudanogueira @debdutdeb Can you please assign me this issue?

[2022-01-12 14:26] debdutdeb commented on #24146
@ArchitJain1201 thanks for showinng interest, but, please read [this])(https://open.rocket.chat/channel/how-to-get-started?msg=XyExC9Fvn3ByQD49a before moving forward :)

[2022-01-12 14:57] disenchant opened #24156 "Non-intuitive user context menu"
E.g. to remove a user from a room one will have to open the list of users in the room (so far no problems) but then the next step is to open the context menu for the user we want to remove. This can be done with a click on the three dots beside the users name but the context menu that pops up has a very bad indication of being scrollable.

<img width="40%" alt="1" src="https://user-images.githubus

[2022-01-12 21:36] #23997 closed

[2022-01-13 04:49] nishlashakya commented on #23977
@dudanogueira hi! when can we expect this fix?

[2022-01-13 05:05] ali-alhaidary commented on #23599
Still in v4.3.1

[2022-01-13 05:44] japrogramer opened #24159 "Cannot view room/channel in firefox"
### Description:

only in firefox can we not see the room

Uncaught DOMException: An invalid or illegal string was specified fireGlobalEvent.ts:17:3
    fireGlobalEvent fireGlobalEvent.ts:17
    _compute tracker.js:308
    Computation tracker.js:206
    autorun tracker.js:576
    fireGlobalEvent fireGlobalEvent.ts:8
    module startup.ts:27
    maybeReady meteor.js:938
    loadingCompleted meteor.

[2022-01-13 09:08] Gummikavalier commented on #24132
In our case this was so bad, that when we changed the name of the user in admin console session, that session somehow started showing and avatar of completely different person from a completely different RC instance that was open in another tab. This indicates some kind of cache leak between separate RC sessions.

[2022-01-13 10:33] dyfet opened #24160 "Docker compose yml still uses Mongo DB 4.0"
### Description:

docker-compose.yml still defaults to both mongodb 4.0 and the mmapv1 storage engine. This is true in both master and the develop branch. Currently mongodb is deprecated in RocketChat, and will be unsupported when 5.0 is released.

While in theory the compose can be updated to mongodb 4.2 or later, in fact if you already have a running rocketchat based on the current compose, to d

[2022-01-13 10:41] Gummikavalier commented on #24062
@tassoevan @debdutdeb Hi, I'm returning to this issue, as Safari 15.2 (latest) is impacted too by this in RC 4.3.1.

[2022-01-13 11:39] vidlb commented on #23931
Trying to update from 4.1.0 to 4.3.1 (non-docker ubuntu installation) and I also see this sharp build error related to libvips.

[2022-01-13 12:03] debdutdeb commented on #24062
@Gummikavalier I'd suggest opening a new issue, I'll talk to Tasso/others if he doesn't reply himself 🙈

[2022-01-13 13:07] jesperordrup commented on #17124
Pulling the plug on our rocket.chat server and returning to slack .. its sad. Theres a lot of good stuff in rocket.chat but we miss the easy workflow for meetings too much.

[2022-01-13 13:48] brknapik opened #24163 "E2E - issue of encryption direct messages on 4.3.1 version"
### Description:

Hi everyone,

In connection with the tests, for the E2E functionality, there was a problem relating to direct encryption. In some cases, it is not possible to encrypt messages despite the correct key configuration.

### Steps to reproduce:

1. Enable E2E encryption feature in administration panel
2. Log in to the account of two users
3. Accept the encyption feature and save the k

[2022-01-13 14:16] brknapik opened #24164 "E2E - Unable to read messages on a private channel on 4.3.1 version"
### Description:

Hi everyone,

In connection with the tests, for the E2E functionality, there was a problem relating to private room encryption. In some cases, it is not possible to decrypt messages after reset E2E key.

### Steps to reproduce:

1. Enable E2E encryption feature in administration panel
2. Log in to the account of two users
3. Accept the encyption feature and save the key password

[2022-01-13 15:44] Gummikavalier commented on #24062
Thanks @debdutdeb . I'll link the new here when ready.

[2022-01-13 16:18] Gummikavalier opened #24167 "UI broken in Safari 15.2"
### Description:

As well as Firefox ESR mentioned in issue https://github.com/RocketChat/Rocket.Chat/issues/24062 fixed in RC 4.3.1, also the latest Apple Safari 15.2 browser fails immediately after logging into RC.

### Steps to reproduce:

1. Log into Rocket.Chat with a clean Safari browser session
2. After the login, the screen turns black

### Expected behavior:

All elements of the page are

[2022-01-13 16:20] Gummikavalier commented on #24167
Pings to @debdutdeb and @tassoevan :)

[2022-01-13 16:27] tom666-debug commented on #17124
At least they have a good sense of humor ....
Guess it's time for me to switch to Matrix/Element.

[2022-01-13 19:12] wwc-trevor opened #24172 "Files.IM API calls not pulling appropriate data"
### Description:

When using curl to query the [files.im api endpoint](https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/im-endpoints/files) by roomId it states it cannot find the roomId. The roomID entered is the one listed in the MongoDB collection rocketchat_uploads.

When I query by username it states it is successful but list no files.

### Steps to r

[2022-01-13 20:13] sveatlo opened #24174 "custom message action buttons cannot be clicked"
### Description:
I'm trying to create an app, which registers a custom message action button. This succeeds, but the created button cannot be clicked, i.e. when clicked nothing happens and the popover remains open.

### Steps to reproduce:

1. create an empty app using `rc-apps create`
2. register new button in app:
[code]
3. deploy

### Expected behavior:
Button can be clicked and the application

[2022-01-13 20:18] geekgonecrazy commented on #14562
@debdutdeb what do you think on this one?

[2022-01-13 22:05] deepesharora commented on #15369
this is awesome @Aman-Maheshwari
Looking forward to your changes being reviewed and accepted

[2022-01-13 23:41] lovekyleman commented on #24167
Here the same, black screen after logging in. But turn E2E off, everything is back to normal

[2022-01-13 23:43] wwc-trevor commented on #23989
I ran into this issue as well and this is what I did as a workaround until it is fixed.

I was able to get rid of our invalid role by deleting the document from the rocketchat_roles collection. [^1]

@Hamulus You probably could assign new permissions in the users collection. It does assign a string instead of a role name which is strange but this is reflected in Administration > Users.

![image](h

[2022-01-14 03:46] dunggnguyen commented on #13911
Vote to close it, because some time we dont need e2e

[2022-01-14 05:25] ankar84 opened #24175 "E11000 on rocketchat.rocketchat_room leadl to Invalid room [error-invalid-room]"
### Description:

I see duplicate errors in logs that leads to errors like Invalid room [error-invalid-room] on `createDirectMessage`  and `getRoomByTypeAndName` methods.

### Steps to reproduce:

1. Check logs for E11000 events per day

### Expected behavior:

No duplicate errors in logs and normal works of Rocket.Chat server

### Actual behavior:

E11000 errors

### Server Setup Information:

-

[2022-01-14 07:07] CvH commented on #23093
@sampaiodiego just to clarify the issue is just partly solved, there is still no way to repair the broken data that still exists and didn't get updated

the linked scripts are not avaible anymore and the "commands" floating around (https://github.com/RocketChat/Rocket.Chat/issues/18469#issuecomment-1005608333 https://github.com/RocketChat/Rocket.Chat/issues/19046#issuecomment-730822814) are not wo

[2022-01-14 07:31] ankar84 commented on #23093
I guess that broken chats should be fixed by some migration like it was with other similar issues.

[2022-01-14 08:22] WLR86 commented on #20307
Still happening.

[2022-01-14 10:16] serviceman commented on #24167
I have the same issue, it doesn't matter if E2E is on or not, just a black screen.

[2022-01-14 10:27] aswinidev commented on #24155
Check #24110. It solves this issue.

[2022-01-14 11:17] idominiki commented on #19802
Hi @dougfabris

Do you know when the 4.3.0 release is available in UCS App Center?

[2022-01-14 11:23] pescobar commented on #24099
I was also experiencing this issue with my gitlab integrations. It seems that since rockechat 4.x the json sent to the webhook endpoint should not provide a field `username` . Sending a field `username` was working with rocketchat 3.x

I have fixed the issue by editing my gitlab integrations and setting `username` to an empty field. I also had to add my bot user to the channels where the alerts ar

[2022-01-14 12:39] bkraul commented on #20307
That is correct, persists on 4.4.0-develop:

![image](https://user-images.githubusercontent.com/14616851/149516676-149519b7-f62b-4cc2-81b8-db83ca59465a.png)
![image](https://user-images.githubusercontent.com/14616851/149516782-4a3dc1cc-7237-4341-91a8-d59cfbb2f188.png)

[2022-01-14 12:45] brknapik opened #24179 "iOS - changing the default language in the mobile application"
### Description:

After updating iOS to version 15.2.1, the user-selected language preference is not saved in mobile application.For my example, the language is always changed to Russian when the session is resumed.

### Steps to reproduce:

1. Download the rocket.chat app from the appstore
2. log in to the rocket.chat server
3. Update your iOS system to the latest version (15.2.1)
4. Change / set

[2022-01-14 14:00] try-catch-stack commented on #23977
Hey @nishlashakya
May I know what options are selected in the Unread count settings present in Administration > General .You can only change it if you have the admin rights of the server.

![image](https://user-images.githubusercontent.com/77742477/149526824-4dde7936-c8b9-429c-8cea-da7c70edaf2b.png)

Because by default , it is set to user mentions only and hence the api will return unread count of

[2022-01-14 15:50] #24174 closed

[2022-01-15 07:15] wilsonfurtado2000 commented on #24146
do u mean blocked users ??

[2022-01-15 14:02] TheDom42 opened #24188 "Backing up Database on Snap fails silently"
### Description:

When trying to create a backup of the Rocket Chat instance on Snap using the command `sudo snap run rocketchat-server.backupdb`, the backup fails silently and the created `.tar.gz` is empty (except for an empty `dump` folder).
The error log (see below) indicates an issue with server selection/permission problems.

### Steps to reproduce:

1. Execute the command `sudo snap run roc

[2022-01-15 14:34] ankar84 commented on #24146
Exactly. But in Rocket Chat terminology it called deactivated.

[2022-01-15 14:45] debdutdeb commented on #24146
I previously brought this up internally, I'll see if I caj find the thread again.

Fwiw the mobile app handles it nicely by showing the room as "read only".

[2022-01-15 14:48] debdutdeb commented on #24146
Blocked and deactivated are different things 😬 but some indication for both would be good additions.

[2022-01-15 15:18] ankar84 commented on #24146
Yeap. My bad!
User deactivated by admin can't connect whole server.
User can block DM of other user and that blocked user can't write in that DM.

[2022-01-16 00:02] #24011 closed

[2022-01-16 09:52] GirardR1006 commented on #23029
Updated to latest version did not fix it. That seem quite a serious issue for me, I am not really sure why it does not have any more exposure.

[2022-01-16 13:51] Ayush01729 commented on #23934
Hello @cyroxx, I am Ayush, a web developer and I am currently working on this issue.
Since I am new to Rocket Chat's codebase, could you please point out this exact directory??

[2022-01-16 15:55] Ayush01729 commented on #24132
Hello @try-catch-stack, are you working on this issue?
It's my first time with Rocket Chat's codebase, so if you are familiar with the codebase, could you please help me out by pointing out the directory related to this issue?

[2022-01-16 17:31] try-catch-stack opened #24189 "Reset section button does not disable the Save button in settings of Administration panel."
### Description:

The  settings in the administration panel (Accounts, Analytics etc.) have a 'Reset section to Default' button which appears if we have some unsaved changes in a section. This button is supposed to reset all the settings in that given section to the default ones and should also disable the save and cancel buttons on the top right if there are no unsaved changes left in any section

[2022-01-17 04:03] nishlashakya commented on #23977
hello @try-catch-stack I have tried by updating `Unread count of DIrect Message` to `All messages`. I only get the correct unread count for **admin users** and for **normal users** the unread count is still 0 even it has many unread messages.

[2022-01-17 06:07] CvH commented on #14562
still the same problem at latest

[code]

[code]

[2022-01-17 06:38] Jaiharishan commented on #24172
I will work on this issue.

[2022-01-17 07:28] leManu opened #24192 "IPv6 not working in INSTANCE_IP"
### Description:

When setting INSTANCE_IP to IPv6 addresses, instances are unable to communicate properly.

### Steps to reproduce:

1. Set INSTANCE_IP env variable for all instances with IPv6 addresses
2. Stop and start all instances.

### Expected behavior:

Like with IPv4 addresses, instances should be able to communicate with each other other IPv6.

### Actual behavior:

Instances are not see

[2022-01-17 08:13] xi67 opened #24194 "Applications are disabled on start"
### Description:

When Rockecchat id restarted Application are disabled.

### Steps to reproduce:

1. Have some apps
2. Restart RocketChat
3. Apps are disabled

### Expected behavior:

Apps are not disabled

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 4.3.1
- Operating System: Debian 11
- Deployment Method: docker
- Number of Running Instances: 1
- DB Repl

[2022-01-17 09:47] syedmazharaliraza opened #24195 "Error: stream unexpectedly closed on running meteor npm start"
### Description:
I tried setting up rocket.chat's repo on gitpod by following the documentation: https://developer.rocket.chat/rocket.chat/rocket.chat-server/gitpod
However, a few errors/warnings showed up during the command `meteor npm i` but the process was completed successfully. On running `meteor npm start`, the local host server started successfully, but a loop of error stating ` Error: stre

[2022-01-17 09:57] erget commented on #6107
:+1:

[2022-01-17 11:25] ankar84 commented on #22323
Still on 4.3.1

[2022-01-17 11:51] IT-Hebk commented on #24167
We also have the same issue.

[2022-01-17 12:58] ExTechOp commented on #18145
Unfortunately the issue still persists with Rocket.Chat 4.3.1 (although the log format has slightly changed).
[code]

[2022-01-17 12:59] dougfabris commented on #24167
Hey guys! We're aware of the issue and we're already working on that! Thanks for sharing

[2022-01-17 14:03] mr-karan commented on #24113
+1 Facing the same

Using `rocketchat/rocket.chat:4.3.0`.

[2022-01-17 14:12] mr-karan commented on #23638
PNG/JPG uploads are broken as well.

Version: 4.3.0

[2022-01-17 14:16] matziu commented on #23638
Yes, all images upload are broken. Its a joke.

[2022-01-17 15:06] sampaiodiego commented on #23638
@mr-karan @matziu can you please open a new issue regarding all image uploads being broken with as most details as possible? it's something we're not aware.. we're using 4.3 on a daily basis and it's working so far.

[2022-01-17 15:22] refs commented on #23638
perhaps #24113

[2022-01-17 15:37] sidmohanty11 opened #24197 "Omnichannel contact doesn't update itself when a contact is added or edited"
### Description:

I think it will be a small but great improvement to give instant feedback to the user when we add or edit contacts in the Omnichannel.

### Steps to reproduce:

1. Go to Omnichannel Contact Center.
2. Click on Add or if you already have a contact edit it.
3. Notice the UI doesn't reflect changes immediately. (You can refresh and see the changes though)

### Expected behavior:
Sho

[2022-01-17 15:38] himanshumalviya15 opened #24198 "[BUG]: Broken link in search"
The link in "Search Messages" open to a not found page.

### Description:

When click on search message icon and search for a link then after when we click on the searched linked it redirect to not found page.

### Steps to reproduce:

1. Click on "Search Messages" box in chat.
2. Find some link in chat.
3. Click to open the highlighted link.

### Expected behavior:

https://user-images.githubuser

[2022-01-17 16:06] Jaiharishan commented on #6985
is the issue open now?

[2022-01-17 16:36] sampaiodiego commented on #24113
does it happen to other image types as well? like PNG and JPEG? or just HEIC?

[2022-01-17 17:20] mr-karan commented on #24113
Yes it's happening to other image types as well. Here's an example of PNG:

![image](https://user-images.githubusercontent.com/5689132/149813053-bb50f293-9a8a-4077-887c-a54c6c9ba985.png)

Network Tab on clicking _Retry_:

![image](https://user-images.githubusercontent.com/5689132/149813281-d26c3027-b7a9-4549-8d38-4b01d74c4863.png)

I noticed that this happens as soon as the S3 Presigned URL gets e

[2022-01-17 17:26] mr-dandy opened #24200 "Usernames instead of displayNames for random users"
### Description:

### Steps to reproduce:

1.  Install or update Rocket.Chat to version 4.3.1. Set display their full names instead of usernames.
2.  Sync users with LDAP
3.  Start chatting with people. Notice that some of them have their usernames instead of full names.

### Expected behavior:
Display full name of users (their first name and last name) in the sidebar contact list and in chat head

[2022-01-17 17:38] pablozandona commented on #24167
We also have the same issue on Chrome 96.0.4664.110.

<img width="999" alt="Screen Shot 2022-01-17 at 14 36 40" src="https://user-images.githubusercontent.com/5611322/149815732-f284a178-dcff-456a-a9ae-8f58ba428800.png">

[2022-01-17 18:37] satyapramodh commented on #6985
I apologize, i am not working on these systems anymore and so won't be able to contribute at the moment.

[2022-01-17 23:10] lovekyleman commented on #24167
And we also have the black screen issue on Rocket.Chat app

[2022-01-17 23:30] rsgodinez opened #24203 "Omnichannel Analytics vs Current Chats - info won't match"
### Description:

We compare information from Analytics and Current Chats. Total conversations matches in both cases, but the agents involved are different.

### Steps to reproduce:

1. Go to Current Chats.
2. Filter chats by a date, example 1 december 2021.
3. Get info about the agents involved in the conversations.

![image](https://user-images.githubusercontent.com/62675312/149847006-3f8c0ea4-1

[2022-01-18 06:44] sumj25 opened #24220 "Encode special character in url."
### Description:
 I create two-channel with names "**6@&hh"** and **"6@#&%^()hh"** and I see url for 6@&hh  channel name is `https://open.rocket.chat/group/6  -and-hh` and for 6@#&%^()hh is `https://open.rocket.chat/group/6-and-hh-2` which is almost similar.Is that intentional?I think we should encode special characters.

### Environment Information:

- Rocket.Chat Server Version:4.4
- Rocket.Chat

[2022-01-18 07:34] Maqsyo commented on #24194
Duplicate https://github.com/RocketChat/Rocket.Chat/issues/24089

[2022-01-18 07:36] ankar84 commented on #24200
Looks like duplicate of https://github.com/RocketChat/Rocket.Chat/issues/23093 with circumstances from [this comment](https://github.com/RocketChat/Rocket.Chat/issues/23093#issuecomment-1012833418)

[2022-01-18 08:50] mr-dandy commented on #24200
Yes, it's the same issue, just didn't find it via search.
This fixed the problem https://github.com/RocketChat/Rocket.Chat/issues/19046#issuecomment-730822814

[2022-01-18 10:50] ipikiiskinen commented on #23555
Issue still in 4.3.1.
You can also get the same error with open.rocket.chat

Some remarks:
- I can get this easily with Firefox 91.4.0esr (64-bit) CentOS. Realod fixes the grey screen, but if you again switch fast between channels you can get the error state (gray screen) again.
- With Version 90.0.4430.212 (Developer Build) Fedora Project (64-bit) I can't get this as easily as with FF. And once I

[2022-01-18 11:28] dusatvoj commented on #23638
The whole stuff is a joke.
When there's a major bug it takes 3+ months to fix. Developers saying it will be released with feature release - no word about backporting it into 3.18.x _(LTS release)_, where initially happend this :bug: .
Anything accelerated even through paid support :angry:

[2022-01-18 12:55] try-catch-stack commented on #24132
Hey @Ayush01729 , code for the edit profile section can be found in AccountProfileForm.js file present in client>views>account , but we are still unsure about the reason causing the issue . As quoted above , it is probably due to some sort of cache leak between different sessions.

[2022-01-18 12:59] Weuxel commented on #2657
After Log4Shell, security has tightened. Internet access via proxy is mandatory now.
Please provide a proxy setting

[2022-01-18 16:55] tars21 opened #24208 "Custom fields not visible in api/v1/users.list"
### Description:

My "custom fields", which are also visible via the GUI, are not displayed using the API.

### Steps to reproduce:

1. Create a custom field
2. Sync custom field via LDAP (or manual if no EE)
3. GET ...api/v1/users.list

### Expected behavior:

[code]

### Actual behavior:

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: 4.2.2
- Operating System: Debian 10

[2022-01-18 17:20] Gummikavalier commented on #24132
Update to the claim of mine that cache between sessions might leak. There is a possibility that the location where I spotted the issue with completely wrong person avatar had once had had an account of that person on the instance a year ago. So it is possible that while the user had been deleted long time ago, his avatar might not have been deleted from the system database because of some bug in t

[2022-01-18 17:30] mrwee commented on #23638
I honestly think comments like "it's a joke" is unnecessary and a bit too harsh.

At the same time I think the team behind RC should tighten up when it comes to structuring communication and customer interaction, so feedback is handled / prioritized in the best possible way, so everyone gets a great tool.
This also goes for e.g. documentation, which can be a bit confusing.

[2022-01-18 17:45] bbrendon commented on #23638
I agree its unnecessary but definitely not harsh if it's the truth. They leave bugs for years like the Windows Update bug. Seriously? Why not at least remove the popups if you're not going to fix it?

[2022-01-18 18:05] dougfabris commented on #19802
@idominiki Sorry but I don't know. Maybe you can ask through the contact [email](mailto:univention_sales@rocket.chat)?

[2022-01-18 18:32] bkraul commented on #23638
I think I mentioned this on an old issue. There was a time when reported RC issues were being triaged and prioritized. Sadly I am seeing the opposite happening where long-standing open issues are being closed down without resolution. I understand handling community-reporting issues for a project of this massive size and impact is no doubt challenging, but here is the question (because I am seeing

[2022-01-18 21:51] serviceman commented on #23638
Uploads on Iphones have been broken for over 3 months. I originally reported it here 3 months ago and have not heard anything about a solution to the problem.

https://github.com/RocketChat/Rocket.Chat/issues/23483

[2022-01-18 23:43] dusatvoj commented on #23638
It's not too harsh when I have a pro license and it's already reported for more than 2 months to RC support. It's just an issue which can be hotfixed by reverting some changes I guess (and after that fully fixed as a "feature" or IDK).
It's blocking issue which so annoying for tens of people in our company every day and I'm disappointed with support bcs there were no reply for more than month abou

[2022-01-19 02:42] ankar84 commented on #22280
@ggazzo What do you think maybe new parser ignores `Markdown Support Schemes List` parameter?

[2022-01-19 04:49] ankar84 commented on #22280
That issue also still persist in most recent 4.3.1 version.
Old parser opens modal windows on click.

[2022-01-19 04:50] ankar84 commented on #22280
And that issue not fixed in 4.3.1

[2022-01-19 04:50] ankar84 commented on #22280
And that one

[2022-01-19 05:23] lovekyleman commented on #24194
We also have this issue.

[2022-01-19 07:50] ankar84 commented on #22280
Actually looks like new parser ignores lots of Admin UI - Message parameters
Another example
![image](https://user-images.githubusercontent.com/4023037/150086984-01103f3b-b717-4bba-afd4-4d724dea161e.png)
![image](https://user-images.githubusercontent.com/4023037/150087067-1788c5eb-e251-4a12-ab7d-e2e9d8ceffe7.png)

[2022-01-19 07:51] t0bbz0n commented on #21990
Have the same "problem".

I've tried to bypass the UI by adding the [ILivechatCustomField.ts](https://github.com/RocketChat/Rocket.Chat/blob/develop/definition/ILivechatCustomField.ts) using the realtime API.
But I could not get it to show in the widget anyway. So I investigated further.

I looked at the Widget and how that was built and found that it is coming from the [Rocket.Chat.Livechat repo]

[2022-01-19 07:54] HeybrokS opened #24212 "Highlight words not working"
Hi there,

the Highlight words setting stoped working for my user. For a very brief moment after entering words listed in the settings are highlighted. Its working for other user on my PC. Already reinstalled the client. I am using version 3.7.6
Any advice?

Thanks,
Seb

![image](https://user-images.githubusercontent.com/98013754/150087629-c770f78a-20da-44d7-ba42-165b868b3791.png)
![image](https:/

[2022-01-19 08:40] Jaiharishan commented on #24198
I will work on this issue and fix the bug.

[2022-01-19 08:51] mik2 commented on #23982
In 3.7.4 and 3.7.6 the video chats are opened in an application window.

[2022-01-19 08:51] #23982 closed

[2022-01-19 09:18] Jaiharishan commented on #24154
I will work on this issue.

[2022-01-19 11:53] nishant23122000 opened #24213 "[BUG] Handle Other formats inside Upload Avatar"
### Description:
 ### When the user uploads any other format except the image format, the skeleton loading is stuck infinitely.

### Steps to reproduce:

1. Go to /account/profile page.
2. Upload any profile picture which is not an image for example. .txt, .exe.
3. It will load skeleton infinite time.

### Expected behavior:

When users upload non-image format, we should provide error as they can

[2022-01-19 14:42] eduardofcabrera commented on #24212
Hi HeybrokS, I tested here with the last dev version with two users and seems to be without any problem.
<img width="233" alt="Screenshot 2022-01-19 113840" src="https://user-images.githubusercontent.com/64327259/150152728-e791a86c-7494-479d-8aa3-d9e883effa02.png">
.
<img width="494" alt="Screenshot 2022-01-19 113734" src="https://user-images.githubusercontent.com/64327259/150152737-6b06627e-88dc-

[2022-01-19 15:34] tassoevan commented on #23638
One thing which is not clear enough for us (maintainers) if this *wasn't* an issue before. I mean, HEIC format is not a web standard e it's not natively supported by any browser (not even Safari). It's clearly a mistake that Rocket.Chat don't transform media files to compatible format, but the idea it's something introduced some versions ago might be a misunderstanding impacting the prioritization

[2022-01-19 15:42] refs commented on #23638
That is fair feedback, but I think when it comes to a bug that blocks people (see @dusatvoj) it should be, if not prioritized, at least openly communicated or have some sorts of follow ups with the affected customers in this case. RocketChat is obviously a for [profit company](https://www.crunchbase.com/organization/rocket-chat) so I feel like shifting this to the community:

Is a little cheeky. I

[2022-01-19 15:51] laurent6 commented on #24103
Hi,
no one have any idea about this issue

[2022-01-19 18:14] tassoevan commented on #23638
Ok, so I confirmed that, until version 3.17.x, HEIC files were uploaded as generic files instead of recognized as image files. Is it correct, @dusatvoj?

[2022-01-19 18:52] debdutdeb commented on #23638
Alright, just an update to this, potential alternatives for this issue has been being discussed for a while now, but we've struggled to come up with something that is good for UX.

To also clarify, this issue surfaced since 3.18.x, before that heic files were uploaded as binary files, without any previews, so essentially Rocket.Chat has never really been able to show previews for heic types.

That

[2022-01-19 19:15] avignat commented on #22963
Still a problem in 4.3.1

[2022-01-19 19:34] ShiroDN commented on #23638
Just found some older HEIC photos, that were uploaded to one of our work channels, and these old photos are displayed just fine. So I downloaded the photo, that is being rendered just fine and compared metadata with some new photo that is not working. Would it be possible that the older ios app did a conversion to jpeg before the upload?

**old photo**
$ file IMG_1575.HEIC
IMG_1575.HEIC: JPEG imag

[2022-01-19 19:38] debdutdeb commented on #23638
Thanks @ShiroDN , checking with mobile team now.

[2022-01-19 20:11] dusatvoj commented on #23638
@tassoevan

IDK, I'm using RC 3.18+ for almost 3 months :upside_down_face:

<hr>

@ShiroDN

I remember smth like `.HEIC.jpeg`, It's true.

<hr>

As I wrote in November:

[2022-01-19 20:14] soundstorm commented on #23638
Maybe there was a change in the iOS API and it's not a issue introduced by Rocket.Chat?
Has anyone a 3.17.x version running and can test? Or is it a change in the Mobile App not the Server Version?

[2022-01-19 20:24] sohamp19 commented on #24172
Hey @wwc-trevor , I am not able to reproduce the error. Both roomId and username params give the expected results.
Also, I think that it retrieves files from direct messages only as mentioned in the [docs](https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/im-endpoints/files)

[2022-01-19 20:41] ShiroDN commented on #23638
According to my colleagues, in some older versions of ios app, if you wanted to upload a photo there was some quick edit function (crop, etc.) that opened by default immediately after you selected a photo, so maybe photos were being converted to jpeg as a part of image processing?

And, yes original format was HEIC, these photos were uploaded directly from an iphone.

[2022-01-19 21:18] soundstorm commented on #23638
This was probably the native iOS App, before switching to Rocket.Chat/ReactNative.
The new app is cross platform development (Android/iOS) so the real native APIs are sadly gone. I can see, that they did it for cost reasons and unified UX, but there are many features missing in the React version of the app. Probably the conversion from HEIC to JPG is one of them.

[2022-01-19 21:22] wwc-trevor commented on #24172
@sohamp19
I am trying to extract the files uploaded in direct messages between users.
I can spend time and go step by step. but a overview is:

1. Look in _rocketchat_uploads_ collection in MongoDB to find desired files and take the _rid_

![image](https://user-images.githubusercontent.com/47799735/150212901-5810b0f1-6f6c-478b-8d9f-dccc18ba988c.png)

**NOTE**
Room is a direct message room (type: d

[2022-01-19 22:40] adolfombarros commented on #18469
Thank you very much

[2022-01-19 22:43] soundstorm commented on #23638
So my quick scrollback:
24. Oct 21: HEIC uploaded and well displaying (just scrolled through in Safari)
5. Nov 21: HEIC not displaying

So a window shorter than two weeks now for me.

iOS 15 was released end of Sep 21, so this is rather a no.
The instance was updated to 4.0.1 on 7. Oct, so after that a HEIC image was still uploaded successfully.
31. Oct to 4.1.0.

4.1.x had a rather long changelog

[2022-01-19 23:04] soundstorm commented on #23638
Another try on an old 3.0.1 server I had deployed: either different configuration or something different:
HEIC images are shown in the App:
![image](https://user-images.githubusercontent.com/193273/150232267-a94e1cac-c4d2-40a4-bcdb-7a27107cba55.jpeg)
In Browser:
![image](https://user-images.githubusercontent.com/193273/150232288-e9f4ff9d-b5cf-45b9-980d-741253258978.jpeg)

Maybe I can update the In

[2022-01-20 01:22] #23678 closed

[2022-01-20 01:34] ali-alhaidary commented on #23599
Still in v4.3.2

[2022-01-20 05:02] HeybrokS commented on #24212
Hi @eduardofcabrera, thanks for that. I know that this setting is working since it works for other users on the same PC. I just need to figure out why its not working for me. Are there any logs or local files I could delete manually?

[2022-01-20 06:48] ankar84 opened #24223 "[Bug] Rocket.Chat metrics shows only some aggregated values since 4.x version"
### Description:

On current 4.3.1 version we have very strange Rocket.Chat metrics graphs - they not fluent, but too sharp.
Looks like instances send only aggregated in some time period values.
We have alerts about to heavy change of connected users on a regular basis, which not good and it wasn't like that on 3.x versions.

Looks like update of graphs appears only at 13 minutes of every hour.

#

[2022-01-20 06:54] hadirsa commented on #24163
Same issue with V4.3.2.

[2022-01-20 08:05] tete2soja commented on #23932
Hello,

The warning is still here for the last minor release 4.3.2.

[2022-01-20 08:21] tobiasreinhard opened #24225 "File Uploads very slow (stuck at 0%)"
### Description:

Since the migration to MongoDB 5.0 with "wiredTiger", the file uploads in all channels are very very slow. If you upload a file or a screenshot, the progress bar gets stuck at 0%. After 1 Minute, the file is uploaded, but the preview image can't be opened. After more than 30 seconds, the preview may open.

### Steps to reproduce:

1. Upgrade RC to 4.3.1 (Docker) with MongoDB 5.0.

[2022-01-20 09:24] czqrny commented on #24194
Also have this bug two times:

1. After restarting server (app in Docker) on version 4.3.1
1. After update from 4.3.1 to 4.3.2

[2022-01-20 09:25] czqrny commented on #24089
Also have this bug two times:

1. After restarting server (app in Docker) on version 4.3.1
1. After update from 4.3.1 to 4.3.2

[2022-01-20 10:05] tobiasreinhard commented on #24225
![grafik](https://user-images.githubusercontent.com/10668507/150317400-444103c1-48cc-477e-a12f-d48ac80e2175.png)

Additionally, the "Person X is uploading..." message won't dissapear.

[2022-01-20 10:38] soundstorm commented on #23638
Can confirm:
Upgraded the 3.0.1 to 4.0.1 and HEIC images fail as in 4.3.x releases.

I have an older iPhone which didn't update the App (as it was turned off for long period). Will try to upload there.

[2022-01-20 10:52] tobiasreinhard commented on #24225
Found this in the Nginx Error Log:

`
2022/01/20 11:42:13 [error] 26214#26214: *415 upstream timed out (110: Connection timed out) while reading response header from upstream, client: 192.168.20.4, server: chat.domain.xyz, request: "POST /api/v1/rooms.upload/QD5v4Xp7F3uySNhba HTTP/2.0", upstream: "http://127.0.0.1:3000/api/v1/rooms.upload/QD5v4Xp7F3uySNhba", host: "chat.domain.xyz", referrer: "htt

[2022-01-20 10:52] ankar84 commented on #24223
@frdmn @geekgonecrazy hey, guys!
Can you help with that issue?

[2022-01-20 11:08] soundstorm commented on #23638
iOS 14.6; had a Rocket.Chat Beta version on the phone which expired.
But:
HEIC is corrupted.
So the issue is in the App, not the Server or the iOS API.

[2022-01-20 11:17] stefanandres commented on #24089
This is really tedious, I sometimes have to re-enable the apps for my server.

I didn't found an API call to workaround this by doing a cronjob, is there any way?

(even worse, in the iOS App there are so many UI glitches that I cannot even navigate to the admin - apps page)

[2022-01-20 11:25] sohamp19 commented on #24172
@wwc-trevor I am still not able to reproduce it.

Here is what I tried.
1. Took the rid from rocketchat_uploads collection (Image below).
<img width="836" alt="image" src="https://user-images.githubusercontent.com/91748938/150327325-d451c7cd-f8c1-48b1-b8ec-4d75b6d1f98c.png">

2. Verified that the type of room is 'd' (Image below).
<img width="853" alt="image" src="https://user-images.githubusercon

[2022-01-20 11:25] soundstorm commented on #23638
Seems like someone found out...
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3633

[2022-01-20 11:37] cello86 opened #24227 "Rocket.Chat 4.3.1 : ldap error "msg":"illegal unescaped char: ("}"
### Description:
The rocket.chat version 4.3.1 has some issues with LDAP authentication after the migration from 3.16.1 version.

### Steps to reproduce:

1. Start a new instance of Rocket 4.3.1
2. Try to login (with error)

### Expected behavior:
The login works.

### Actual behavior:
The login fails.

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:  CentOS 7.9

[2022-01-20 12:45] #22501 closed

[2022-01-20 12:45] karlos-silva2 commented on #22501
Item corrigido na vesão 4.3.2

[2022-01-20 12:51] cyroxx commented on #23934
Hi @Ayush01729,

Thank you for working on this issue!
Unfortunately, I am not familiar with the RocketChat codebase. I only tested this locally in my browser through the Web Developer Console, so I do not know where in the code this needs to be changed.

I'd suggest that you reach out to someone else, who is more familiar with the codebase and can point you into the right direction.

[2022-01-20 12:52] karlos-silva2 opened #24228 "Add button disabled realeases 4.3.2"
Good Morning

Add files button stopped working in realeses 4.3.2

![image](https://user-images.githubusercontent.com/85645175/150341842-7946db79-6f16-4afa-9ee0-675550b2f653.png)

I have to enable something from that version?

Thank you, I await return

[2022-01-20 12:59] zwnk commented on #23660
@husim0 did you update your mongo db to a version >4.0?

[2022-01-20 13:53] Jaiharishan commented on #24228
It works in version 4.4.0, try that one

[2022-01-20 14:03] dougfabris commented on #23934
Hey @cyroxx thank you for your suggestion! We already have a great job done by our design team to make an entire replacement of this screen and very soon it will be implemented by the engineering team. Closing this one for now since it's not a proper issue, but stay with us to check these changes!

[2022-01-20 14:18] cyroxx commented on #23934
Hi @dougfabris, thank you for getting back to me on this. It's good to hear that your are working on an improvement on this. Is there any ticket or issue that I can follow/watch to stay updated on the upcoming changes?

Since you were pointing out that this here is "not a proper issue": Is there anything that I could have done better or differently? I was trying to report this UX/accessibility iss

[2022-01-20 15:10] mddvul22 opened #24229 "[Feature] Change Omnichannel Icon"
### Description:

It appears that we are unable to customize the Omnichannel icon.  Options exist to change other icons inside Rocket Chat.  But there appears to not be an option to change the live chat icon.  The icon I'm referring to is:

![image](https://user-images.githubusercontent.com/6833993/150365175-40c92fb9-4e62-4211-ab56-99286585f56b.png)

### Steps to reproduce:

1. Go to Administratio

[2022-01-20 15:45] sidmohanty11 commented on #24146
hi @ankar84 , I tried to find out the root cause of this and it seems like `_id: 'post-readonly', roles: ['admin', 'owner', 'moderator']`, due to this permission, an admin / owner / moderator can still chat with the deactivated user but not other users.

As you can see here,
**In case of admin:**
![deactivate-admin](https://user-images.githubusercontent.com/73601258/150371861-efddaa7d-6f92-4f0e-a2

[2022-01-20 15:57] wwc-trevor commented on #24172
I hope so. Almost all the other API calls I have made have been successful but this one. DO you know when 4.4 is going to be released? I saw 4.3.2 is the latest.

[2022-01-20 17:56] thangs6 opened #24234 "Trying to deploy Rocketchat in K8 using 2.4.0 version Getting Error"
We are currently using Rocketchat version 2.4.0 in our PROD environment. For our testing purpose we are trying to deploy same version in our test environment but it is getting below error,

C:\Users\chins31\Desktop>kubectl logs rocketchat-865f989d98-69mq7 -n rc-test
New Relic for Node.js was unable to bootstrap itself due to an error:
Error: New Relic for Node.js requires a version of Node equal t

[2022-01-20 18:03] himpierre commented on #24228
Works for me with 4.3.2.

[2022-01-20 18:27] jacotec commented on #23638
@soundstorm Not sure if that's the right way. HEIC is the ways better and more advanced format. Converting in the mobile app to solve this would take the opportunity to send files in original HEIC format. Like: We take the decades old format just everyone sees it.

The right way would be to send the original format in mobile, but transcode in the browser view rendering for compatibility - that kee

[2022-01-20 18:35] soundstorm commented on #23638
@jacotec that's why i commented on the pull request:
You can still upload HEIC for HQ image exchange if needed via "Upload File" instead of "Upload Image" but it will be a simple file upload and not be rendered as image.

[2022-01-20 18:35] diegolmello commented on #23638
@jacotec I understand your point, however we merged https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3633 and we're releasing a new beta unifying "Take photo", "Choose from library" and "Share extension" in a way that all of them converto to JPG, so the browser can render it.
You'll still have access to "Choose file" and send HEIC without any conversion.

We're discussing next steps to i

[2022-01-20 19:08] samad-yar-khan opened #24238 "[BUG] No Errors for Invalid Name or Password on Setup Wizard"
### Description:

Whenever we setup a Rocket.Chat server, we have to go through a setup wizard. While filling the Admin info form in setup wizard we are not able to submit the form if the Name and Password fields are empty, but there is no message showing us that an empty Name or Password is Invalid.

### Steps to reproduce:

1. Start a new Rocket.Chat server and enter the setup wizard.
2.  Fill U

[2022-01-20 19:30] #24079 closed

[2022-01-20 19:30] #22330 closed

[2022-01-20 19:30] #23096 closed

[2022-01-20 19:50] Ayush01729 commented on #24238
Hello @samad-yar-khan, I am Ayush and I am currently working on this issue.

[2022-01-20 19:51] sohamp19 commented on #24172
@wwc-trevor no idea sir

[2022-01-20 20:40] matziu commented on #23638
![obraz](https://user-images.githubusercontent.com/30387047/150418558-0e81d896-a9e4-47a1-bf7f-30a7197c1465.png)

[2022-01-20 21:36] lelvisl commented on #19871
Same problem on 4.3.2

[2022-01-20 21:37] lelvisl commented on #23029
Same problem on 4.3.2

[2022-01-20 22:02] wwc-trevor commented on #24172
Do you think it could be something with my reverse proxy?

<details><summary>Nginx Reverse Proxy Setup</summary>

[code]

</details>

[2022-01-20 22:50] debdutdeb commented on #24234
Which guide are you following?

[2022-01-21 03:20] Jaiharishan commented on #24228
Yep, it works in the latest version.

[2022-01-21 04:07] #24167 closed

[2022-01-21 05:01] ankar84 commented on #24146
Guess you are right!
![image](https://user-images.githubusercontent.com/4023037/150468939-3b8d82c4-14ff-4d2d-a81e-3ba24cf82238.png)

[2022-01-21 07:18] juzser commented on #23909
Update:
My system is running good these days, and no longer shutdown, because I see there is a problem with file upload feature.
I reduced the maximum upload file size (From 50mb to 3mb) and everything seem alright.
As I checked the log, I see somehow when an user uploads a large file, they get stuck at 0% for a long time, and cannot cancel the progress. I guess, the upload pipeline cannot be clos

[2022-01-21 08:30] amirAlamian opened #24245 "Invalid config type when starting application"
Hi I cloned your repository and run it whith meteor npm install and meteor npm start and I get this errors.
[code]

although it says that application is statred but nothing shows at  http://127.0.0.1:3005.

[2022-01-21 09:29] pl4xy commented on #23646
@TheDigitalEagle
Could you share the instructions with the community? I think it would be useful.

[2022-01-21 10:40] njsubedi opened #24246 "Link parsing issue in admin panel."
Possible link parsing issue in the admin panel.

<img width="872" alt="image" src="https://user-images.githubusercontent.com/3161806/150513282-77b8d758-bc7e-40cd-a0f3-bc7b33c4f652.png">

[2022-01-21 12:15] Himanshu664 opened #24249 "[BUG]: Link is not working in admin panel search option"
### Description:
link in search -> chatpal provider is not parsed
![InkedScreenshot 2022-01-21 173545_LI](https://user-images.githubusercontent.com/76220055/150525470-e6cfcbd9-c68c-4a4d-a79a-3b9ca59beb02.jpg)

### Steps to reproduce:

1. Go to admin panel
2. Click on search
3. Click on chatpal provider

Server Setup Information:
Version of Rocket.Chat Server: 4.4.0-develop
Operating System: Ubuntu

[2022-01-21 14:41] #24246 closed

[2022-01-21 14:51] #24228 closed

[2022-01-21 14:51] karlos-silva2 commented on #24228
resolvido na versão 4.3.2

[2022-01-21 15:09] karlos-silva2 opened #24251 "rockect.chat 4.0.5 - Error: EHOSTDOWN: host is down, open '/app/uploads/4kEEbDMfrNvAg3Mp3' [ufs: cannot upload file] FECHAR"
### Description:

I have this error below when sending a file through chat: Error: EHOSTDOWN: host is down, open '/app/uploads/4kEEbDMfrNvAg3Mp3' [ufs: cannot upload file] FECHAR

![Uploading image.png…]()

Rocket.Chat Version: 4.0.5                                   |
NodeJS Version: 12.22.1 - x64                           |
MongoDB Version: 3.6.12                                  |
Platform: lin

[2022-01-21 15:43] dougfabris commented on #24132
Hey guys! I'm trying to reproduce in `4.4.0` but it seems normal. Can someone confirm if it is still happening?

[2022-01-21 16:06] dougfabris commented on #24084
Hey @anvo1205 thanks for reporting. As I can see your browser is filling the password field automatically, because of that it seems you're changing your password and the Confirm Password will be shown to double-check your new password. When you click to save it, shows the error because you did not enter the password there. Please, try to erase the password field before saving changes. Looking into

[2022-01-21 16:17] dougfabris commented on #23983
@Thysma It's already fixed, thanks for reporting!

[2022-01-21 16:17] #23983 closed

[2022-01-21 16:26] dougfabris commented on #23942
Closing this one as we don't receive details about this suggestion. Feel free to open again with more information!

[2022-01-21 16:26] #23942 closed

[2022-01-21 17:08] anvo1205 commented on #24084
Hi @dougfabris Thanks for your explanation. Yes, from user's POV, I didn't know that that field is auto filled by my current password which it shouldn't and it's confusing. It should only auto fill when I login IMO

[2022-01-21 20:09] serviceman commented on #23638
Will this fix also address the issue of not being able to upload photos on IOS in safari with the latest IOS that I reported 3 months ago? https://github.com/RocketChat/Rocket.Chat/issues/23483

[2022-01-21 20:43] karlos-silva2 opened #24258 "Bug - LocalStore: cannot set store permissions 0744 (EPERM: operation not permitted, chmod '/app/uploads')"
Erro:

I have this permission problem in the uploads folder

![image](https://user-images.githubusercontent.com/85645175/150597486-533b5163-931c-46b2-9157-816c43a419b0.png)

Rocket.Chat Version: 4.3.2 |
NodeJS Version: 12.22.1 - x64 |
MongoDB Version: 3.6.12 |
Platform: linux |
Process Port: 3000 |
ReplicaSet OpLog: Enabled |
Commit Hash: 4e8ba15 |
Commit Branch: HEAD

[2022-01-22 05:42] ankar84 opened #24260 "[Bug] All apps are disabled after restart of instance with highest value of Active Handlers in muti-instance deployment"
### Description:

That issue is really critical for us, because we are using one Rocket.Chat application that must be enabled all the time.
Since version 4.1.0 Rocket.Chat performance is much better and RAM memory leak is smaller then before, but still exist.
In previous versions we used to restart all our instances every night (check this for more info https://github.com/RocketChat/Rocket.Chat/is

[2022-01-22 06:01] ankar84 commented on #24223
It looks like Statistic generator is disabled or don't work properly, even it is not disabled in Troubleshooting section of Admin UI
![image](https://user-images.githubusercontent.com/4023037/150626965-83394652-f277-4f21-880e-1bc70d2eb7e0.png)
On that API graph you can see only 2 launches of statistics endpoint for last 6 hours
![image](https://user-images.githubusercontent.com/4023037/150626999-e

[2022-01-22 06:05] nishant23122000 opened #24261 "[BUG] Blank Report Message Sent"
### Description:
 There should be something written inside the report box before sending the report.

### Steps to reproduce:

1. Go to any Channel
2. Pick up any message and report them
3. **Report This message** pop up will open
4. If we add just a spacebar, It gives permission to send a report without any text.

### Expected behavior:

There should be at least something written before sending t

[2022-01-22 07:13] Biki-das commented on #24261
@nishant23122000  hey buddy , could you help me to guide on how do i set up the rocket chat web version

[2022-01-22 07:29] nishant23122000 commented on #24261
@Biki-das  Yes, ping message here: https://open.rocket.chat/home

[2022-01-22 12:37] debdutdeb commented on #24260
Just for public knowledge, this is known internally, and team's working on a fix at the moment.

[2022-01-22 14:39] nikkuAg commented on #8505
Is this issue still open? I would like to work on this

[2022-01-23 06:18] ankar84 commented on #24223
Looks like statistics should be generated every 12 minutes according to https://github.com/RocketChat/Rocket.Chat/blob/develop/server/cron/statistics.js#L59
But in fact it generates only every hour at 12 minutes in `Generate and save statistics` cron task.

[2022-01-23 12:30] Himanshu664 opened #24263 "[Feature]: Uploaded video files of format (.mov, .avi) don'nt play"
### Description:

Uploaded video files of format (.mov, .avi) don'nt play in the player, needed support for the .mov, .avi format.
As support for .mp4 and .webm is there already.

### Steps to reproduce:

1. Go to messages(group,dm)
2. Click on upload files
3. Upload any video of format( .mov, .avi)

### Expected behavior:
Video of format .mov , .avi does'nt playing in player.

https://user-images

[2022-01-23 13:52] samad-yar-khan commented on #17562
@ankar84  @debdutdeb  I am not able to replicate the issue, I think it has been fixed and should be closed. Let me know if you guys are still able to replicate the issue.

[2022-01-24 00:33] ankar84 commented on #17562
Yes, looks like it fixed already in 4.3.1

[2022-01-24 00:33] #17562 closed

[2022-01-24 00:39] ankar84 commented on #24260
Looks like restart of one single instance lead to disable of all apps
And that instance is same as [looks overloaded in Metrics](https://github.com/RocketChat/Rocket.Chat/issues/22254)
![image](https://user-images.githubusercontent.com/4023037/150705042-4ae55903-28c0-41bc-8a33-ffccc1f68a2f.png)

[2022-01-24 04:00] smcardle opened #24266 "Attachments take ages to upload and view"
We have an issue after upgrading our Rocket.Chat install to the latests, server / client and MongoDB (see versions below)

After upgrading, first to wiredTiger, then to version 4.2 / 4.4 then 5.0 all attachments added to chats i.e. images / audio / video etc take an inordinate amount of time.
Also clicking on these attachments also take an inordinate amount of time to show or start playing.
By ino

[2022-01-24 04:09] ankar84 commented on #24266
That is the reason.
Use minio as S3 file storage.

[2022-01-24 05:15] srajandev98 commented on #658
Hey all!

I am a big fan of RocketChat.
In order to solve the issue of separate organizations, I am using separate databases for each of my clients.
So let's say my MongoDB instance remains the same. I just create separate docker containers for my clients and connect them to my single MongoDB container.

In this manner, all my clients are in isolation. And there is no cross-organization interferen

[2022-01-24 06:18] smcardle commented on #24266
Will the migration tool migrate all existing attachments ?

[2022-01-24 06:21] ankar84 commented on #24260
So my guess is that among all instances there is only one that handles RC applications management. And after that instance is restarted - all apps are become disabled.

[2022-01-24 06:25] debdutdeb commented on #24261
Closed by https://github.com/RocketChat/Rocket.Chat/pull/24262

[2022-01-24 06:25] #24261 closed

[2022-01-24 07:03] ankar84 commented on #24266
I don't know actually, I saw that advice [here](https://forums.rocket.chat/t/how-to-extract-files-from-mongodb-and-or-gridfs/13068)

We are using S3 from start without any performance issues.

[2022-01-24 08:09] tobiasreinhard commented on #24266
I have the same issue. #24225

[2022-01-24 10:41] camherry commented on #11649
Hi,
The bug still seems to be present, I'm currently on version 4.3.2 rocket-chat docker image, and when a second participant wants to join me in video jitsi, he gets message "call already ended", so he has to click on the phone icon to join me, what generates a new button in the conversation.
Thanks for your help.

[2022-01-24 11:07] husim0 commented on #23660
Yes, I'm currently using mongodb 4.2.17 / wiredTiger (oplog Activé)

[2022-01-24 12:00] dudanogueira commented on #24258
Hi!

This is probably not a software bug. You need to set the permissions accordingly in your deployment.

[2022-01-24 12:00] #24258 closed

[2022-01-24 12:02] dudanogueira commented on #24251
related:
https://github.com/RocketChat/Rocket.Chat/issues/24258

[2022-01-24 12:02] #24251 closed

[2022-01-24 12:39] zwnk commented on #23660
i updated to 5.0.3 / wiredTiger.
Last week i did some tests. If you leave the db on 4.0 (docker-compose.yml "default") you can update the rc instance.

[2022-01-24 13:08] Ayush01729 opened #24270 "User can direct message himself/herself."
### Description:

A user should be able to direct message others, but he/she is able to direct message himself.

### Steps to reproduce:

1. Send a message
2. Click on three dots on extreme RHS of your message.
3. There will be an option to DM yourself.

### Expected behavior:

When I send a message, others can DM me replying to it, but I shouldn't be able to DM myself.

### Actual behavior:

When

[2022-01-24 13:35] zwnk commented on #24225
i had a similiar issue after updating to 5.0.3. It was solved by moving the db, data folder to an ssd.

[2022-01-24 13:38] zwnk commented on #24225
i saw you are using the latest rc version with mongodb 5 and docker. Could you please send me your docker-compose file because i'm having an issue updating it.

[2022-01-24 13:45] Jaiharishan opened #24271 "[BUG]: video player shows incorrect details"
### Description:

 When a video is uploaded and viewed the player shows incorrect timings

### Steps to reproduce:

1. Go to any channel or teams
2. Send a Video Message from your side.
3. Play the video you sent.

### Expected behavior:

Player to show actual video timings

### Actual behavior:

Player shows incorrect timings

https://user-images.githubusercontent.com/78893503/150909851-d56dccef-

[2022-01-24 15:33] samad-yar-khan opened #24273 "[BUG] Destructuring undefined Room for New User"
### Description:

Whenever we setup a Rocket.Chat server and new user registers to the server (non-admin) they are not part of any other Room except #general. Whenever they access general and click on home, Rocket.Chat freezes due to destructuring of undefined object.

### Steps to reproduce:

1. Start and and setup a new Rocket.Chat server as admin.
2. Logout from the server.
3. Register as a new

[2022-01-24 15:52] wwc-trevor commented on #23989
I would consider this still active. I cannot use custom roles due to this bug. I am on RocketChat server 4.3.2

[2022-01-24 15:59] Himanshu664 commented on #24270
I think this feature is needed to store things in our dm.

[2022-01-24 18:30] samad-yar-khan commented on #24271
Hey @Jaiharishan, I tried following the instructed steps but I am not able to replicate the issue. Can you please upload a screenshot or a screen recording ?

[2022-01-24 18:50] debdutdeb commented on #24270
This is a feature, not a bug. See Admin > Message > "Allow user direct message to yourself".

[2022-01-24 18:50] #24270 closed

[2022-01-25 00:12] smcardle commented on #24266
OK. So it seems the **mongorestore** while upgrading failed to created the indexes on all of the **rocketchat_uploads /  rocketchat_uploads.files /  rocketchat_uploads.chunks** collections.
Only the primary key **_id** index are created

This is also true for the rocketchat_avatar collections

These collections are currently set as gridFS and the amount of time to upload a new file or view an exis

[2022-01-25 03:02] ankar84 commented on #22323
That issue looks like https://github.com/RocketChat/Rocket.Chat/issues/24079 in it's behavior.
I guess there is some circumstances (like changing room types in mentioned issue) that lead to problems in that issue.

[2022-01-25 03:11] ankar84 commented on #20574
@debdutdeb remember we both reproduce and troubleshoot that bug almost year ago.
And it still not fixed.
And main Global Search bug  https://github.com/RocketChat/Rocket.Chat/issues/21659

These two global search bugs looks like easy to fix and ready for a first good issue label, but they still not fixed.
@dudanogueira could you pass that bugs to Product and Front-End teams?

[2022-01-25 03:34] Jaiharishan commented on #24271
Yeah I will upload one

[2022-01-25 08:07] bseclier commented on #11649
Hello, can you please reopen this issue @ggazzo ?
It still doesn't work in 4.3.1 nor in 4.3.2 (docker version).
Thanks

[2022-01-25 09:50] nishant23122000 opened #24279 "[BUG] VRecDialog Opening Also, If Permission Is Set To Block Camera"
### Description:
If the user manually changes the camera permission from allowing to block, We should not open VRecDialog at that time.

### Steps to reproduce:

1. Go to room
2. Click on  the **+** icon in the message box section
3. Click on Video Message.
4. If the user blocked the camera permission, then It will open blank VRecDailog.

### Expected behavior:
If the camera permission is allowed

[2022-01-25 10:09] LittleITworld commented on #23989
We have the same issue with latest rocketchat version

[2022-01-25 10:32] nishant23122000 opened #24281 "[BUG] Needs to Close VRecDialog"
### Description:

Users will face this issue if they jump from one room to another room or channel without closing VRecDialog.

### Steps to reproduce:

1. Go to any room or channel
2. Opens video message from message box section
3. now without closing it, just go to another room.
4. You will see that the VRecDialog which we opened in the recent room is still open.

### Expected behavior:

When Vi

[2022-01-25 11:35] samad-yar-khan opened #24282 "[BUG] Unable to join new discussion on channels"
### Description:

Whenever the user tries to search and join a new discussion on a channel Rocket.Chat crashes and  we see error in colsole.

### Steps to reproduce:

1. Start any Rocket.Chat server channel.( The issue can be replicated on https://open.rocket.chat/channel/gsoc2022 as well)
2. Search a discussion.
3. Click on the discussion you wish to access.

### Expected behavior:

1. User shoul

[2022-01-25 11:41] samad-yar-khan opened #24283 "[BUG] Error on Leaving Discussions on any Channel"
### Description:

Whenever the user tries to leave a joined discussion , Rocket.Char crashes and we see error in console.

### Steps to reproduce:

1. Start any Rocket.Chat server channel.( The issue can be replicated on https://open.rocket.chat/channel/gsoc2022 as well).
2. Click on the tool tip on the right of any joined discussion.
3. Click on Leave discussion.

### Expected behavior:

1. User

[2022-01-25 12:23] Gummikavalier commented on #24062
Also some older Chrome version was affected. Updating to the latest Chrome helped. Unfortunately we didn't remember to check the version of Chrome before updating. But this as a headsup for anyone else who might stumble upon it.

[2022-01-25 15:10] isaifee-infobeans opened #24286 "Bad memory allocation error, due to `LivechatRooms.unsetPredictedVisitorAbandonment` query"
We have 50,000+ live-chat rooms (`t: l`) with enterprise license applied.
Whenever we try to start the server (either inside docker container or using Meteor) then we are getting `NewSpace::Rebalance Allocation failed - JavaScript heap out of memory` or bad memory allocation issue [screenshot attached].
[code]
![image](https://user-images.githubusercontent.com/78843994/151000961-f17166ca-ba48-4a3f

[2022-01-25 16:14] Jaiharishan opened #24287 "[BUG]: Copying the message in quote doesn't work correctly"
### Description:

When tried to copy a message in quote it gives incorrect response.

### Steps to reproduce:

 1. Quote an message in any team or channel.
 2. Use the copy option and copy the quote message.
 3. Paste the copied message and see the error.

### Expected behavior:

To give the exact copied message.

### Actual behavior:

Gives an incorrect response.

https://user-images.githubuserco

[2022-01-25 18:19] pagocs commented on #19167
Same with 4.3.0

[2022-01-25 19:38] y377 commented on #17032
[code]

[2022-01-25 20:38] dougfabris commented on #16385
Hey @manosriram thank you for your suggestion! We already have a great job done by our design team to make an entire replacement of this screen and very soon it will be implemented by the engineering team.

[2022-01-25 21:47] dougfabris commented on #23934
@cyroxx I'm sorry I used wrong words, of course it's a proper issue, I would like to say that it's an issue we aware. I'm going to reopen and use this label to track ui changes that we already have planned, then when we have the proper PRs I'll sync them. Feel free to report the issues as you did here. You're welcome to interact with the community in our forum or the open server. We really appreci

[2022-01-26 04:33] japrogramer opened #24291 "Session ends before Accounts_LoginExpiration"
The user is being logged out before the expiration of the cookie sometimes,
could this be because of the Accounts_Default_User_Preferences_idleTimeLimit ?

I couldn't find in the code where the session is ended because of this setting tho

### Steps to reproduce:

1.
Login
2.
be idle and the window logs user out.

### Expected behavior:

because the cookie doesn't expire for quite some time,
I wou

[2022-01-26 06:09] japrogramer commented on #24291
The Session also seems to end when the screen saver comes on for mac + chrome

[2022-01-26 07:52] WestXu opened #24294 "Links of files from FileSideBar remains unchanged after changing the Site URL"
### Description:

I changed the reverse proxy url of rocket, say from `chat.***.com` to `chat.***.dev`，and changed the Site URL from the rocket's administration-General-SiteUrl settings accordingly. Everything works fine but the FileSideBar, which still points files to the old url.

The file in the message side is correctly changed to
`https://chat.***.dev/file-upload/[fileID]/[filename]?download`

[2022-01-26 07:57] rcadmin19 opened #24295 "2FA bypass when using rest api and personal access token"
### Description:

I'm trying to verify that 2FA is working correctly. It seems that when using rest api with a personal access token where 2FA required, RC server does not require two factor authentication. For example I'm able to create a user without any 2FA requirement.

### Steps to reproduce:

1. Create a local account with admin permission.
2. Login with just created local user.
2. Enable 2F

[2022-01-26 10:10] petsva opened #24296 "Translation error, Swedish"
### Description:

The Swedish translation of the 'Add' translation tag, as used in client/views/room/contextualBar/RoomMembers/List/RoomMembers.js
is wrong. "Skapa" means "create", which is confusing. Should be "Lägg till". Same problem with the other 'Add_' tags. Unless it in some cases really means "create". Also, 'Choose_users' tag in the next step is missing ("Välj användare"). (As is lots of

[2022-01-26 13:33] bkraul commented on #23856
Any updates on this one?

[2022-01-26 13:47] Ayush01729 commented on #24263
Hello @Himanshu664 , I am working on this issue.

[2022-01-26 13:55] fdellwing commented on #24295
Can you name any bigger application that uses 2FA with access tokens? I mean, the whole point of the access token is, that you can use it in a script although you have 2FA activated.

[2022-01-26 15:30] Gummikavalier commented on #24295
Good point; 2FA is seldom implemented together with tokens.

But if it is not supported, then it is misleading that the UI has the check box `Ignore Two Factor Authentication` on the token creation page. Tokens with MFA would be useful for running one-off scripts, for instance.

[2022-01-26 16:19] dougfabris commented on #23609
Already fixed here: #24248
Thanks @kulkarnigaurav38 @dudanogueira

[2022-01-26 16:19] #23609 closed

[2022-01-26 16:27] #14079 closed

[2022-01-26 16:27] #24238 closed

[2022-01-26 16:53] try-catch-stack commented on #24132
I can still reproduce it on the Open community server.It is on the version `4.4.0` as https://open.rocket.chat/api/info does return `4.4.0`?
Also the issue does not happen everytime and is sort of random. The number of users on that server may also be the factor to consider in this case.

[2022-01-26 17:15] hexabinaer commented on #23593
@Karting06 thanks, you comment has been very helpful for me. I'd already been halfway through the on-boarding process to Lingohub just for this issue.

We've already come up with creative interpretations like informal/dialect interpretations in our internal team channel.

Thanks for taking care of German translations, very much appreciated (several people maintaining Drupal translations say hello)

[2022-01-26 18:00] dougfabris commented on #21846
@serviceman @zaphod534 This issue was fixed here: #24098
Thanks for your help guys @ankar84 @sumukhah!

[2022-01-26 18:00] #21846 closed

[2022-01-26 19:30] #24273 closed

[2022-01-26 19:30] #24282 closed

[2022-01-26 19:30] #24283 closed

[2022-01-27 04:06] ankar84 commented on #23538
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/21659

[2022-01-27 04:06] #23538 closed

[2022-01-27 04:09] ankar84 commented on #21659
@debdutdeb please send a reminder to Product team about that issue

[2022-01-27 04:29] ankar84 commented on #21659
Actually first report about that issue is https://github.com/RocketChat/Rocket.Chat/issues/20595
And it's already with community fix!!
And without any attention from team side.

[2022-01-27 07:55] tobiasreinhard commented on #24225
Sure, this is our latest docker-compose file.

[code]

[2022-01-27 07:57] rcadmin19 commented on #24295
Thank you both for the good comments! That's right that usually 2FA is not used with access tokens. Maybe the documentation and UI could be clearer. Documentantion says "You can configure whether or not to ignore 2FA when using it [token] by checking the Ignore Two Factor Authentication box below." https://docs.rocket.chat/guides/user-guides/user-panel/managing-your-account/personal-access-token.

[2022-01-27 08:03] fdellwing commented on #24295
@rcadmin19 You are right, with this wording in the UI. This seems like a bug.

[2022-01-27 12:44] Karting06 commented on #23593
Hi @hexabinaer
Just to be clear, I don't do the German translations. Only the Dutch & French ones ;)

[2022-01-27 16:57] Jaiharishan opened #24313 "[BUG]: Copying a discussion message gives 'undefined'"
### Description:
  When tried to copy a message from the discussion it returns undefined.

### Steps to reproduce:

1. Create a discussion for any message in a channel or team.
2. Go to that discussion page and try copying that message
3. Now paste that message you will get undefined as the response.

### Expected behavior:

To give back the actual message.

### Actual behavior:

It gives back und

[2022-01-27 17:34] ofaws opened #24314 "Unable to have a video conference with Jitsi"
### Description:

When trying to have a video call from any computer with any user within a chat Jitsi shows that the interlocutor has a disabled camera and mic. However works fine if I try to have a call with a mobile device

### Steps to reproduce:

1.  Go to any channel or direct conversation
2. Click on Start a video call
3. Confirm you want to start a video call
4. After a Jitsi tab appears i

[2022-01-28 03:50] ankar84 commented on #24314
It is a Jitsi problem but not Rocket.Chat problem. So you should open it in a proper repo.
And I guess it's something about configuration of bridge.

[2022-01-28 07:21] mes85 commented on #24132
I observed this - or a similar issue - in our installation. In our case it is more obscure:

- My profile picture got lost
- My profile picture is now shown for at least two different users

We are using LDAP for all accounts. Changing the user name is therefore not possible. Automatic LDAP sync is also disabled.

[2022-01-28 08:02] mes85 commented on #24132
Also, this might be a new issue, as admin I cannot delete or change other user's avatars.
The green popup for a successful change appears, but the avatar remains the same.

Let me know whether I should open a new issue entry for this.

[2022-01-28 08:02] serjotaylor commented on #21659
+1 fix from community.

[2022-01-28 09:40] audouts opened #24327 "Upgrading to 4.3.2 got npm security warning"
### Description:

I upgraded to 4.3.2 tonight and during the process, `npm` reported a vulnerability with a package.

[code]

I ran the "fix" command and that downgraded the package.

Is this a concern?

### Steps to reproduce:

1. Presumably, this happens when upgrading

### Expected behavior:

Packages can be updated without security warnings.

### Actual behavior:

See description.

### Server

[2022-01-28 10:10] Skywrath-Mage opened #24329 "Can't exchange images in Federation chat or channel"
### Description:

Can't exchange images in Federation chat or channel, the setup should all be correct, but the port in the SRV Record is marked as not correct even if is on 443.

### Steps to reproduce:

1. classic setup of federation with the wizard
2. DNS records are correct.
3. Message a user on another domain (this works)
4. Send an image (this doesn't work)

### Expected behavior:

You shoul

[2022-01-28 13:34] b-rodrigues opened #24332 "How to configure nginx to access rocket chat on a subfolder/location?"
### Description:

Cannot get rocket chat to load on a url such as: https://mydomain.com/chat/

### Steps to reproduce:

My nginx configuration file looks like this:

[code]

### Expected behavior:

Going on https://mydomain.com/rocketchat should show the website.

### Actual behavior:

But I see the three dots loading indefinitely. Changing the configuration to

[code]

instead of what I have

[co

[2022-01-28 15:47] Gummikavalier commented on #24327
Underscore vulnerability has been at least since the early 2021 in the tar package as well as the container one. I created a ticket about it via our support contract, but there was some confusion and we never got an answer about it.

Since it was not reacted upon, I think underscore is not used in a way that it'd be active in RC.

You can force a fixed package over it by running `npm audit fix --f

[2022-01-28 17:33] dudanogueira commented on #24332
Hi! Please checkout this at our forums:
https://forums.rocket.chat/t/support-for-installation-in-subdirectory-will-be-discontinued/6371/29

Closing for now, as this is not an Issue.

[2022-01-28 17:33] #24332 closed

[2022-01-29 03:13] dudanogueira commented on #24327
Related to https://github.com/RocketChat/Rocket.Chat/pull/24290/files

[2022-01-29 07:44] nishant23122000 opened #24344 "[BUG] Not Deleting Shared Location Message"
### Description:

It should delete the shared location message when the user deletes that message.

### Steps to reproduce:

1. Go to any room
2. Share the location in the chat
3. When we delete the location(delete message) It still shows the message.

### Expected behavior:

When we delete the shared location message manually, we should remove the location UI from the chat section.

### Actual be

[2022-01-29 11:50] fc757 opened #24345 "Upgraded to 4.4.0, app / previews no longer working"
After upgrading to 4.4.0 apps like /tenor or /giphy no longer return results, The following errors show in the logs when attempting:

I20220129-06:45:12.731(-5) Exception while invoking method 'getSlashCommandPreviews' TypeError: Cannot read property 'id' of undefined     at Object._executeSlashCommandPreview [as getPreviews] (app/utils/lib/slashCommand.js:34:17)     at MethodInvocation.getSlashCo

[2022-01-29 12:46] donn opened #24346 "Validation Quirk(s) Importing Slack Messages"
### Description:

Slack messages fail to import with a nondescript "Error".

### Steps to reproduce:

1. Export data from Slack
2. Stand up a new Rocket.Chat instance
3. Administration > Import
4. Import New File
5. Upload Slack .zip archive, wait
6. Start Importing

### Expected behavior:
All users and channels to be successfully imported.

### Actual behavior:
Users import successfully (after a

[2022-01-29 13:51] lovekyleman commented on #24345
We also have the same issues.

[2022-01-29 14:07] Ayush01729 commented on #23653
@ankar84, it's the same case for the desktop version too. I confirmed.

[2022-01-29 14:28] oliob opened #24347 "4.4.0 Upgrade: Error creating index: users -> { bio: 1 }"
### Description:

After upgrading from 4.3.2 to 4.4.0 i get the message on each start of rocketchat server:
`Jan 29 15:19:18 chat rocketchat[180809]: Error creating index: users -> { bio: 1 } { sparse: 1 } MongoError: Index with name: bio_1 already exists with different options`

### Steps to reproduce:

1. Start Rocketchat server 4.4.0

### Expected behavior:

no error message

### Actual behavio

[2022-01-29 17:30] bellegarde-c commented on #2657
Was working previously but breaks in 4.4.0 :(

[code]

Any idea ?

[2022-01-29 17:37] lazyandproud commented on #24347
same here.

[2022-01-29 20:22] soundneedle commented on #24345
same

[2022-01-29 20:39] aakash-gitdev opened #24348 "Discrepancy in the feedback for available channel names"
**Description:**

When we write the channel name while creating a new channel, sometimes the feedback which is supposed to show the availability of that name generates wrong names. Sometimes it responds with a string which is a substring of our chosen name.

**Steps to reproduce:**
1)Click on create new channel button on the left-hand side panel of the rocket-chat window.
<img width="137" alt="Scr

[2022-01-29 20:46] aakash-gitdev commented on #24348
I searched all the previous issues with keywords like "channel names", "feedback" and so on, but I could not find a similar issue, and thus created this new one. I would be glad to receive any suggestions for what could be the possible reasons behind this error.

[2022-01-29 22:41] didierm opened #24349 "Security release v3.18.5 not available for download"
### Description:

Contrary to previous v3.18.4 and latest v4.4.0, security release v3.18.5 is not available for download.

### Steps to reproduce:

`curl -L https://releases.rocket.chat/3.18.5/download`

### Expected behavior:

Download the security update

### Actual behavior:

**{"error":"not found"}**

### Server Setup Information:

not relevant

### Client Setup Information

not relevant

###

[2022-01-29 23:19] Emeka-Ugbanu-hub commented on #24346
I would love to help with this

[2022-01-30 02:24] ali-alhaidary commented on #24345
same

[2022-01-30 10:14] Ayush01729 commented on #23653
@sidmohanty11, could we use windows.localstorage to save and retrieve the data once the page is refreshed?

[2022-01-30 11:04] CvH commented on #24349
Obviously there is also no update at snaps too, so the release is just imaginary. But that is sadly to expect, the whole release train is completely broken since a long time already.

I have no idea about internals, but from the outside it looks like that nobody from the team cares about releases (also not security releases), everything is done manually - and nobody does it. Also if someone does a

[2022-01-30 11:07] jthomaschewski commented on #24347
Same problem here.

Looks like Meteor was upgraded from `v2.2` to `v2.5` in RocketChat `v4.4.0`.
So this is likely caused by the following Meteor issue: https://github.com/meteor/meteor/issues/11666

[2022-01-30 11:08] debdutdeb commented on #24349
I've notified the respective person to fix this issue. Looks like some tests were failing so the bundle upload got skipped.

[2022-01-30 11:08] debdutdeb commented on #24349
@CvH snap release is due Monday.

[2022-01-30 13:56] CvH commented on #24349
@debdutdeb tx for investigating, 3.18.4 was also not released at all at snaps, and the releases before where similar not released
for a long time everything stuck at some random version, similar for docker releases and then someone updates everything just to stuck at some random version again ...

no idea if this is the target behaviour :/

[2022-01-30 14:08] debdutdeb commented on #24349
For snaps we are working on automating the whole process.

As for docker, those are already automated, unless something in the pipeline fails (like in this case, 3.18.5) there shouldn't be any delays.

[2022-01-30 14:22] bellegarde-c opened #24350 "4.4.0 Upgrade: http(s)_proxy env variables not working anymore"
### Description:

RocketChat is unable to use a http proxy anymore.

May be related to Meteor upgraded from v2.2 to v2.5.

### Steps to reproduce:

RocketChat started with configured env (http_proxy/https_proxy)

[code]

### Expected behavior:

Application store is working, external image downloader is working.

### Actual behavior:

Connection error

### Server Setup Information:

- Version of Ro

[2022-01-30 14:30] xmedeko commented on #20102
Such behaviour should be standard for copy&paste (Ctrl+C, Ctrl+V). Just use `setData` with `"text/markdown"` for the [copy event](https://developer.mozilla.org/en-US/docs/Web/API/Element/copy_event) and [cut event](https://developer.mozilla.org/en-US/docs/Web/API/Element/cut_event). Then try to `getData` of `"text/markdown"` on [paste event](https://developer.mozilla.org/en-US/docs/Web/API/Element

[2022-01-30 17:37] himpierre opened #24351 "4.4.0 Jitsi JWT Auhentication broken"
### Description:

After upgrading to Rocket.Chat 4.4.0 Jitsi JWT authentication does not work anymore.

### Steps to reproduce:

1. upgrade to 4.4.0 (from 4.3.2)
2. start video call
3. authentication fails

### Expected behavior:

jwt authentication should still work

### Actual behavior:

jitsi asks for login on mobile and denies connection on browser

### Server Setup Information:

- Version of

[2022-01-30 21:01] norwegianblue-nz commented on #23785
What version was the fix applied to: I am still getting this error in 4.3.2.

OS - Centos 7

Version
4.3.2

Apps Engine Version
1.29.2

Node Version
v12.22.1

MongoDB
4.0.20 / mmapv1 (oplog Enabled)
Commit Details
HEAD: (4e8ba1542)
Branch: HEAD

[2022-01-30 22:26] DecodingDoom opened #24352 "Windows App Is not allowing me to access account page"
I am able to download and install the app, but when I click on my account Icon it does not bring up any options to login or edit my status, as I do on the browser version (chrome)

It's a real bother, as I can't seem to get all of the channels for our chat to load on the browser interface, but I can on the windows app, which won't allow me to use my account

[2022-01-31 00:26] Crashdummyy commented on #24345
Here as well...

[code]

[2022-01-31 03:12] individual-it opened #24353 "docker :latest tag points to 3.18.5"
### Description:
We had trouble this morning when updating our rocket chat to the newest version, logs showed
`Exception in callback of async function: errorClass [Error]: [Can't find migration version 252]`
after investigating a bit I fount out latest tag on docker points to version 3.18.5

### Steps to reproduce:

1. `docker pull rocketchat/rocket.chat:latest`
2.  `docker inspect rocketchat/rock

[2022-01-31 03:29] Provoker commented on #24353
The same problem after upgrade from 4.3.2

[2022-01-31 04:27] DecodingDoom opened #24354 "Uploading doesn't work for file"
I was able to upload a simple hyperlink file successfully, but a larger file is just stuck at 0%. The file is a folder with contents from an .html scrape and is 24.7Mb.

[2022-01-31 04:54] mr-karan opened #24355 "Google OAuth Login broken in 4.4.0"
### Description:

After upgrading to 4.4.0, Google OAuth complains about `redirect_uri` mismatch. Nothing has changed in the config, only upgraded from 4.3.0 to 4.4.0 caused this.

### Steps to reproduce:

1. Login using Google OAuth
2. See the error message

[code]

### Expected behavior:

Google OAuth should work normally as it was working a version before.

### Actual behavior:

![image](https:

[2022-01-31 05:12] debdutdeb commented on #24349
3.18.5 is now available under releases and Docker :) Closing this now.

[2022-01-31 05:12] #24349 closed

[2022-01-31 05:24] mr-karan commented on #24355
For people coming here,
I'd `?close` in the `redirect_uri` in Google Console but it was missing from here. Did this `redirect_uri` change across versions? (removal of `?close` i.e.)

[2022-01-31 06:41] thangs6 opened #24356 "New Relic failed to open log file /app/bundle/programs/server/newrelic_agent.log - Rocketchat 4.2.0"
Hello everyone,
When i try to deploy rocketchat  in kubectl getting permission issue

New Relic failed to open log file /app/bundle/programs/server/newrelic_agent.log
{ Error: EACCES: permission denied, open '/app/bundle/programs/server/newrelic_agent.log'
errno: -13,
code: 'EACCES',
syscall: 'open',
path: '/app/bundle/programs/server/newrelic_agent.log' }
/app/bundle/programs/server/node_modules/

[2022-01-31 08:26] fdellwing commented on #24351
If no token is send, it would say that in the reason. But reason says, that the token is expired. Please double check the datetime on both RC and Jitsi.

[2022-01-31 09:15] ankar84 opened #24358 "Add additional allowed schemes of link in Custom Links"
### Description:

Previously I asked to markdown work in Custom Fields here https://github.com/RocketChat/Rocket.Chat/issues/20005
And @yash-rajpal implemented it in https://github.com/RocketChat/Rocket.Chat/pull/20947 (Thanks, Yash!)

And now at 4.3.1 version I see, that `http` and `https` links works perfect in Custom Links.
But we need other then that two protocols. We need `notes://` protocol

[2022-01-31 09:45] ankar84 commented on #24351
I can not confirm that issue
![image](https://user-images.githubusercontent.com/4023037/151771479-ae960e4d-a7bd-4020-b4d8-7f40e86704e2.png)

[2022-01-31 09:49] ankar84 commented on #24350
I can confirm that issue.
We are using http_proxy and https_proxy env vars in docker deployment and link preview don't work in 4.4.0
![image](https://user-images.githubusercontent.com/4023037/151771990-3311a864-2c73-48e8-a3a8-db22db9272f7.png)

[2022-01-31 10:12] try-catch-stack opened #24359 "channels.members endpoint returns duplicate members"
### Description:

`channels.members` endpoint is used to get the list of all members of that channel. More on the endpoint [here](https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/channels-endpoints/members) .
It can be paginated using the parameters `count` and `offset` which are optional .
After testing with multiple channels I can confirm that the respo

[2022-01-31 10:33] nishant23122000 opened #24360 "Custom sounds missing pause function"
### Description:

In the admin section, inside custom sounds, there are some bugs in handling multiple playing sounds together and some UI issues.

### Steps to reproduce:

1. Go to the admin section
2. Go to the Custom Sounds tab
3. Add 2 or 3 custom sounds.
4. You are able to play different sounds concurrently

### Expected behavior:

We Should add a toggle button that indicates whether the soun

[2022-01-31 10:34] himpierre commented on #24351
You guys are right. System time was skrewed. Sorry!

[2022-01-31 11:21] ankar84 commented on #24353
cc @sampaiodiego to fix that

[2022-01-31 11:47] ankar84 commented on #24345
Do you use proxy in your deployments?

[2022-01-31 12:18] sampaiodiego commented on #24353
it's fixed now. sry guys.

[2022-01-31 12:18] #24353 closed

[2022-01-31 13:07] sandreddu opened #24364 "Prevent users from leaving a single public or private channel"
### Description:

Add possibility for Administrators to prevent users from leaving a single channel.
In our organization we would like to set up a channel for all users to autojoin (like the #general channel) in order to send out internal IT relevant announcements. We would also like to restrict people from leaving this channel, and leave only the admins this possibility.
As far as I can see, I ca

[2022-01-31 13:34] serjotaylor commented on #23966
@ankar84 can you mark [PR](https://github.com/glebPo/Rocket.Chat/commit/260d83b73cba2666e5e41c781b447a3b4ccdab2f) with fix as community?

[2022-01-31 13:53] fc757 commented on #24345
Thank you for the comment. Unfortunately, I'm not using a proxy in my setup.

[2022-01-31 14:31] FrankDaze commented on #5772
I just wrote a Rocket.Chat app for a botpress connection. You can chat with the bot in a direct message.
It's really easy to setup the connection.

<img width="677" alt="Bildschirmfoto 2022-01-28 um 09 59 23" src="https://user-images.githubusercontent.com/22960630/151811770-96c38e7a-86ae-4bff-9b6f-a9e631785800.png">

My only problem is to receive the app settings on update. I can't find our how to

[2022-01-31 14:40] dougfabris commented on #16963
This issue was fixed in this PR #23924, introduced in the version `4.3.0`
I'll close this one because I can't reproduce it anymore, if you guys still have problems after trying it, please let me know!

[2022-01-31 14:40] #16963 closed

[2022-01-31 16:12] ankar84 commented on #23966
Done

[2022-01-31 16:27] mr-karan commented on #24345
Not using proxy, have the same issue.

[2022-01-31 16:36] FrankDaze commented on #5772
Ok, I fixed my problem. I fill the app settings in public static variables and this variables can be updates in onSettingsUpdate event.

[2022-01-31 18:59] parannoide commented on #24132
Could be related to this #24100?

[2022-01-31 20:49] matheusvancoll commented on #22864
I'm also having the same problem, on localhost it works normally but running on some server the option simply a few

[2022-01-31 21:13] aakash-gitdev commented on #2049
I think this issue still persists. The list in the channel section should be made collapsible. Are there any updates regarding this?

[2022-01-31 22:08] matheusvancoll opened #24372 "Audio message not available at address other than localhost"
### Description:
The voicemail option is only available on localhost.
When uploading the application to a server, the function disappears even though it is enabled in: ADMINISTRATION > MESSAGE > VOICE MESSAGE

### Steps to reproduce:
1. Upload the application on localhost
2. Upload the application to some server
3. Notice that the voice message option disappears when uploading the application to a

[2022-01-31 22:35] nathanielread commented on #24345
Also have this issue. 4.4.0 with 5.0.5 mongo DB in docker.
I even spun up a brand new 4.2.3 with 5.0.5 mongo and (giphy) previews worked. Then I changed the version to 4.4.0 in my docker-compose and now getting the error message.

I'm not using those proxy environment variables, but I am using traefik in my docker environment.

[2022-02-01 02:40] tensor5g opened #24374 "Outgoing integrations not accepting response"
### Description:

After the 4.4.0 update, outgoing integrations no longer seem to accept the response text. I have created an extremely simple outgoing integration that will respond with {"text":"test"} to any request, but rocket.chat will not post that message into the channel. When I try to debug this by viewing history, I get a blank page. It seems any integration that has more than 0 history w

[2022-02-01 05:23] thrakks commented on #24345
We have the same issue. 4.4.0 installed on Centos7 with MongoDB 4.4.0.

Restored to 4.3.3 and issue went away so 4.4.0 definitely causing it for us.

[2022-02-01 05:25] thrakks commented on #24374
Same here. All of our webhooks are suddenly broken as of 4.4.0. External applications are returning 200 and yet nothing is appearing in rocketchat.

Version of Rocket.Chat Server: 4.4.0
Operating System: Centos 7.9
Deployment Method: Manual installation
Number of Running Instances: 1
DB Replicaset Oplog:
NodeJS Version: 14.18.2
MongoDB Version: 4.4

[2022-02-01 05:28] debdutdeb commented on #24353
fyi this issue shouldn't repeat itself from now on (https://github.com/RocketChat/Rocket.Chat/pull/24366).

[2022-02-01 05:29] geekgonecrazy commented on #24355
@sampaiodiego we might need to call this out as a breaking change or at least a note?

[2022-02-01 05:35] geekgonecrazy commented on #24287
This is exactly the intended behavior.  Copy copies the message exactly.  If you hit enter the result is the exact same as the one you hit copy on.

The url hit you see there is how quoted messages currently work.  If you hit edit on a message with a quote you will see this same thing

[2022-02-01 05:35] #24287 closed

[2022-02-01 05:35] thrakks opened #24375 "rocket.cat / bots no longer have permission to post to Private Channels / Direct Messages"
### Description:

rocketchat throws the error:

[code]
When trying to post to a private channel as the default bot **rocket.cat** as the result of an outgoing webhook.

**EDIT/UPDATE**: Bot will no longer post within direct messages between users. This is also especially annoying as our outgoing webhook used to provide heaps of quick info depending on a reference number between users.

```Exceptio

[2022-02-01 05:38] geekgonecrazy commented on #24260
I believe no dedicated one manages the apps state. But something happened causing I'm guessing the apps to crash which caused them to be disabled.

The event was probably then propagated to the other instances which then also stopped them

[2022-02-01 06:37] emikolajczak commented on #24375
Hi,
Did you add Rocket.Cat as member of this channel?

[2022-02-01 07:25] JakubJachym commented on #24347
We have similar issue, but different index.
[code]

Rolled back to 4.3.3.

[2022-02-01 07:50] TobiasLenzEconix opened #24377 "Push Notifications not working with Flutter"
### Description:

I am using a flutter App with Firebase and want to receive push notifications on new messages.
I register the device tokens using the [REST-API](https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/push-token-endpoints/push-token). I configured the server with the Firebase Project data for GCM.

For Flutter push notifications the notificatio

[2022-02-01 09:04] luison opened #24378 "SlackBridge body content not appearing"
We configured SlackBridge correctly mainly to connect some apps that offer direct integration to Slack but not Rocket.Chat
The configuration works as expected but we only receive headlines and no content of the notifications sent to Rocket.Chat

I haven't been able to confirm if this is a limitation of SlackBridge or something we can configure or tweak.

To explain this slack integration on a chan

[2022-02-01 09:32] debdutdeb commented on #24377
The flutter app is no longer officially supported. We can not help you with this.

Closing this since it is not a bug of the product.

Feel free to continue the thread if you need additional information. Thanks

[2022-02-01 09:32] #24377 closed

[2022-02-01 09:34] jjmontalbo commented on #23613
Hello all, we are running RocketChat from the snap install. Has anyone found a workaround, or is this being considered for a fix in the near future?

[2022-02-01 12:48] TobiasLenzEconix commented on #24377
@debdutdeb I am not using any official Flutter App.
I am writing one by myself. And I can't get it to work if I can not add the click action data to the push notifications.

[2022-02-01 13:38] fdellwing commented on #24375
Since RC 4.x the bot needs to be a member of the channel it is supposed to post to.

[2022-02-01 14:29] Kubpent commented on #4843
Hi,

With this options, the API request /api/v1/users.forgotPassword is still callable

How can we disable the api method ?

Thanks

[2022-02-01 14:30] Visualbench opened #24380 "Administration Panel - Users page not working in Safari"
### Description:
Administration Panel Users page does not display the users in Safari (self-hosted server)

### Steps to reproduce:

1. Go to Rocket Chat Admin Page
2. Click on Users tab
3. List of the users is not visible

### Expected behavior:
List of the users to be visible

### Actual behavior:
List of the users is not visible

### Server Setup Information:

- Version of Rocket.Chat Server: 4

[2022-02-01 16:57] dudanogueira commented on #24380
Hi! Please, check the version you are using.

Latest is 4.4.0

Thanks!

[2022-02-01 17:25] Visualbench commented on #24380
Sorry about that, I am using 4.4.0

[2022-02-01 17:30] dudanogueira commented on #24378
Hi! Thanks for pointing this out.

I'll need to ask internally to check if someone already have an environment with slack bridge.

[2022-02-01 17:33] dudanogueira commented on #24372
Hi!

Can you please check if the microphone has the permission for this domain?

You can click on the lock right at the side of the domain.

[2022-02-01 17:44] matheusvancoll commented on #24372
Yes it is enabled!
The problem is that the voice recording icon is not even present in the browser's element inspector, that is, it is simply not present, even though it is enabled in the settings

[2022-02-01 17:48] sampaiodiego commented on #24347
just to let you guys know, even though there is this index warning, the system still works.

[2022-02-01 17:55] dudanogueira commented on #24358
Thanks!

[2022-02-01 17:57] dudanogueira commented on #24352
Hi! Do you see any error in logs?

Also, can you state the versions you are using?

[2022-02-01 17:57] wreiske commented on #24345
https://github.com/wreiske/Rocket.Chat.App-Giphy/issues/25

Getting a lot of attention on this issue.

[2022-02-01 18:01] ixlandia commented on #24347
No, it doesn't. The server job ends immediately.

[2022-02-01 18:04] ixlandia commented on #24347
I tried deleting the index generating the error but quickly realized it is Every. Single. Index.
`MongoError: An equivalent index already exists with the same name but different options. Requested index: { v: 2, unique: true, key: { emails.address: 1 }, name: "emails.address_1", sparse: true }, existing index: { v: 2, unique: true, key: { emails.address: 1 }, name: "emails.address_1", sparse: 1 }

[2022-02-01 18:08] sampaiodiego commented on #24347
that's weird, on our Open server, we get the error only for `bio` and `prid` indexes, but it doesn't halt the startup.. it just shows a warning message and keeps going.

anyways, we'll take a look on why this is happening..

I'll get back in case I need additional information.. thx

[2022-02-01 18:10] debdutdeb commented on #24377
Awesome!

Then I suggest you head over to https://open.rocket.chat/channel/dev and https://open.rocket.chat/channel/react-native

People there may be able to help you out 🤗

[2022-02-01 19:37] mtcoliveira opened #24383 "Incoming Emails in OmniChannel"
Description:
Trying to configure OmniChannel to receive and send reply in departments.
I can get messages normally forwarded to a department.
But when I try to reply to the email (message) by clicking on the button and sending the reply, the email does not reach the recipient.

Checking the log does not generate any kind of error. I can only see the following values:

{"level":35,"time":"2022-01-3

[2022-02-01 19:49] mtcoliveira opened #24385 "Error on Download files in WebDav Integration with Nextcloud"
Description:
Hello, i need some help with Webdav Integration function.

I've a Nextcloud Server with Webdav Working perfectly.
I enabled Webdav integration in Rocket.Chat.
In a public room and added a webdav connection.

The problem starts when I use this connection to send some file (like an image, for example) in the chat. I can browse my files on the Webdav Server, I select the file and when I

[2022-02-01 19:51] yann-gael commented on #1296
Hi,
I have the same problem in version 3.18.3. Should I create a new issue?

[2022-02-01 19:54] JakubJachym commented on #24347
I can confirm our server was dead too. Full log:
[code]

[2022-02-01 19:56] sampaiodiego commented on #24347
interesting.. apparently the ones that kill the server are coming from Meteor and not from Rocket.Chat code, because we do have a try/catch to prevent the server from crashing.

[2022-02-01 22:30] dudanogueira commented on #24380
Thanks!

Sorry, forgot to also ask:
Was it working in previous versions and stopped after upgrade?

[2022-02-01 22:41] thrakks commented on #24375
Oh, I figured that was just a workaround.

Is there no way to grant special overriding permission to bots to post to private channels?

Unfortunately I have some problem users in my company that would rather complain about the small task of adding rocket.cat than just do it. Or need help with the adding. I was hoping to continue avoiding all that.

[2022-02-02 00:50] BernaMB opened #24390 "I cannot enter my server that I add"
I cannot enter my server that I add the app is not updating.

[2022-02-02 02:03] Visualbench commented on #24380
It is not working from **3.6.0 or lower**

[2022-02-02 03:07] Visualbench commented on #24380
After Inspecting the element, I found out that this version of Safari (13.1.2) doesn't understand _width: 100% and height:100%_ at the **rc-scrollbars-container** div, so nothing is displayed.

Any suggestions on how to overcome this?

![image](https://user-images.githubusercontent.com/87965439/152086648-571aa0d4-92bc-43b3-b164-38e92c615f5f.png)

[2022-02-02 05:09] ankar84 commented on #24390
Hi and thanks for reporting this.

Can you please use a bug template if you are reporting an issue - this information is extremely important for triage:

https://github.com/RocketChat/Rocket.Chat/issues/new?assignees=&labels=&template=bug_report.md

Make sure you follow the guidelines:

https://rocket.chat/docs/contributing/reporting-issues

That includes testing on the latest version of Rocket.Ch

[2022-02-02 06:24] Himanshu664 opened #24391 "[BUG] Spelling of Incoming in Integration is wrong"
### Description:

Spelling of Incoming is wrong in Integration it is inconming it should be incoming.

### Steps to reproduce:

1. Go to Admin
2. Click on Integration

### Expected behavior:
![after](https://user-images.githubusercontent.com/76220055/152104537-9eaef9d5-edda-4a20-9d42-51bb221c123c.jpg)

### Actual behavior:
![incoming](https://user-images.githubusercontent.com/76220055/152104526-b9

[2022-02-02 06:40] thrakks commented on #24375
As per edit in description:

Bot will no longer post within direct messages between users. This is also especially annoying as our outgoing webhook bot used to provide heaps of quick info depending on a reference number between users. It's really frustrating to have lost this capability entirely.

Is there a way to allow bots access to posting in DMs, or otherwise impersonate the user calling the

[2022-02-02 07:23] mr-karan commented on #24113
Can this issue get at least an acknowledgement?

[2022-02-02 08:25] JakobFerdinand commented on #12587
@ankar84 no, sadly I´m still getting the same error...

[2022-02-02 08:27] northway commented on #12587
Yeah, it's still the same. 😞

[2022-02-02 08:34] jfqd commented on #24354
You should ensure, that the upload limit in Rocket.Chat and your webserver allows an upload of 24.7Mb.

[2022-02-02 09:13] ankar84 commented on #22256
That's all actually still an issue on most recent 4.4.0
But there is a room not found page in that case and normal DM after reload.

[2022-02-02 10:00] ankar84 commented on #24175
Related to
https://github.com/RocketChat/Rocket.Chat/issues/22256#issuecomment-859074481
https://github.com/RocketChat/Rocket.Chat.Electron/issues/2241
Should be fixed in https://github.com/RocketChat/Rocket.Chat/pull/22944 but still appears in some cases.
I guess that `Room not found` error will appear instead new DM when E11000 duplicate in DB `E11000 duplicate key error collection: rocketchat.r

[2022-02-02 13:55] Ayush01729 commented on #24344
Hello @nishant23122000, I am Ayush and I am working on this issue.
I am a beginner and the codebase is a bit large, so I had a few doubts regarding the issue.

I guess the problem lies in messageBoxAction.js, we have to make some changes in messageBox.action. ,
Should I proceed this way or is there something I am missing?

Also, the "Share location" option doesn't work on localhost, is there some

[2022-02-02 14:29] Ayush01729 opened #24394 "Search option doesn't work properly"
### Description:

When you search for something (especially a name), it won't appear in the search result, until you type it completely

### Steps to reproduce:

1. Go to  a channel
2. Search any name
3. Type a few letters, it won't show until you type out the whole name.

### Expected behavior:

It should show up the results as soon as you type on the letters.

### Actual behavior:

![img_1](http

[2022-02-02 15:12] Dnouv commented on #24156
Hello, @dudanogueira. I'm planning to work on this issue, would it be ok to remove the scrolling part by increasing the height of the context menu so that it can accommodate all the options?
Looking forward to hearing back from you, or if this type of issue is handled by some other member please let me know.
Thank you!

[2022-02-02 15:32] szampardi opened #24395 "posting direct download links to large files in chat hangs the server for a while"
### Description:

Posting direct download links to large files in chat hangs the server for a while

### Steps to reproduce:

1. Open a conversation
2. Post URL to file to download
3. This shows up in the server log after a while (various minutes) during which server is completely unresponsive
[code]

### Expected behavior:

(maybe) when generating the chat preview and `content-type: application/o

[2022-02-02 17:37] gstlouisgit commented on #17476
so that's it?  No longer supporting centos 7 because of a missing dependency?  @gabriellsh

[2022-02-02 20:59] Emeka-Ugbanu-hub commented on #24394
I would love to help with this

[2022-02-02 21:23] binarydad commented on #24350
Same exact issue here.

[2022-02-02 21:38] dudanogueira commented on #24395
Hi! Can you confirm if this behavior appeared after 4.4.0 upgrade?

[2022-02-02 21:43] dudanogueira commented on #24380
Then I think we can close this issue.

I know that we are doing some changes at the Admin Panel, and this area may be revamped down the road.

Also, this seems to be more a Safari Bug then Rocket.Chat's, considering that it works well on Safari's recent versions.

Thanks!

[2022-02-02 21:43] #24380 closed

[2022-02-02 21:45] #15479 closed

[2022-02-02 21:46] dudanogueira commented on #24372
looks like related to this one:
https://github.com/RocketChat/Rocket.Chat/issues/15479

Seems that this option will only work with SSL/HTTPS

[2022-02-02 21:57] dudanogueira commented on #24156
@Dnouv thank you!!

I believe it's ok to go forward.

While I can't tell you this is the best approach to fix this, we can consider that if necessary, we can change later at the PR or learn along the way.

[2022-02-03 00:08] thrakks commented on #23433
This workaround worked like a treat for me. Thank you!! I hope they don't now patch this out and instead make it a fuctionality.

[2022-02-03 00:13] thrakks commented on #24375
Workaround posted in #23433 by aboire "fixes" this issue for me and allows rocket.cat to correctly post the result of an outgoing webhook in direct messages between two users as well as within private channels.

Workaround is to change rocket.cat's type to "app" from "bot" in the mongo db:
[code]

[2022-02-03 00:44] szampardi commented on #24395
@dudanogueira sorry but I am not sure at this time, but if not 4.4.0 then one of the more recent releases anyway - I do often post direct links to archives and whatnot

[2022-02-03 03:56] robonuka commented on #22114
Still in v4.4.0

[2022-02-03 05:48] ankar84 commented on #24175
In DevTools I get this:

[code]
![image](https://user-images.githubusercontent.com/4023037/152288348-bce7eca5-d1df-4ca5-af47-f13f113fe18c.png)
![image](https://user-images.githubusercontent.com/4023037/152288378-71d1a4a3-f2fd-40d4-a117-e9f568aa6fee.png)

[2022-02-03 09:21] Dnouv commented on #24156
Thank you for the prompt reply. That sounds good. I'll open a PR and will make changes accordingly.

[2022-02-03 10:05] nishant23122000 opened #24399 "[BUG] Audio File Must Be Save As MP3"
### Description:
When the user records the audio, It must be store in an mp3 format.

### Steps to reproduce:

1. Go to any room
2. Record the Audio
3. Now one Dialog box will open
4. remove the .mp3 and add any other format or leave it blank without any format
5. Then go to the search File section on the top right to search all files
6. Download the file which you saved
7. If you save the file as

[2022-02-03 10:29] Ernat commented on #11123
Hi! Let's Encrypt has [revoked](https://community.letsencrypt.org/t/2022-01-25-issue-with-tls-alpn-01-validation-method/170450) the certificate on which Rocket.Chat worked, now how to reissue the certificate on the Caddy snap. I tried [this](https://docs.rocket.chat/quick-start/installing-and-updating/snaps/auto-ssl-with-snaps) option, certificate reissue didn't work.

[2022-02-03 11:15] ankar84 commented on #24394
Try this setting
![image](https://user-images.githubusercontent.com/4023037/152332663-6c944a29-7542-4a3b-adfe-17b4a80d2bda.png)

[2022-02-03 11:31] Emeka-Ugbanu-hub commented on #24394
is the issue fixed when you enable that

[2022-02-03 13:05] gstlouisgit opened #24402 "new versions of rocket chat no longer work on centos 7"
### Description:

There is a well known issues going around about the latest rocket chat and centos 7 not working.  I've tried several things, including downgrade to the only rocket chat version I could find of 3.7 I believe.  This didn't work.  I'm surprise this wasn't test before for the centos 7 platform that is still widely used today.

### Expected behavior:

There should be at least an optio

[2022-02-03 13:15] #24355 closed

[2022-02-03 14:27] edwardando commented on #11460
@angusvb thanks for posting your config, got me off the ground!

[2022-02-03 14:57] Himanshu664 opened #24404 "[BUG]: Needed Tooltip for sidebar room menu"
### Description:
Needed tooltip in sidebar room menu

### Steps to reproduce:

1. Go to room menu

### Expected behavior:

https://user-images.githubusercontent.com/76220055/152367549-6ce92c71-9f9e-428b-b6ae-2f3379a31970.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/152367572-c1f19592-f089-4f1d-8f66-accc4989a7de.mp4

## Server Setup Information:

Version of Rocket.C

[2022-02-03 16:08] dudanogueira commented on #24227
Hi!

Looks like something with your LDAP User Search filter string. It would help posting it here, if possible.

THanks!

[2022-02-03 16:16] dudanogueira commented on #23992
This feature is for the Enterprise version only.

You can also accomplish that using the REST APIs.

As this is not a bug, closing.

Also, refere to this documentation for more information about custom user field and how to display it:
https://docs.rocket.chat/guides/administration/settings/account-settings/custom-fields

[2022-02-03 16:16] #23992 closed

[2022-02-03 16:22] Gummikavalier commented on #24147
@debdutdeb I can confirm that this issue happens on our Enterprise install too. RC 4.3.3, tar install.

[2022-02-03 16:44] dudanogueira commented on #24383
I was not able to reproduce this issue.

I used it against a working, ssl, dkim enabled mail server according with:
https://github.com/docker-mailserver/docker-mailserver

I had some problems while trying to send: the host should be the same of the ssl domain certificate, otherwise outgoing the email doesn't work.

However, this was displayed right in the omnichannel chat.

[2022-02-03 17:04] debdutdeb commented on #24402
Hi, can you please show us the errors please? Fill the issue template?

[2022-02-03 17:06] #24399 closed

[2022-02-03 19:19] sampaiodiego commented on #24347
I'm trying to reproduce the other index errors other than the `bio` index error..

I've started a rocket.chat version 2.0.0 and starting doing updates up to 4.4.0, and still didn't have such errors.

I'm now trying to figure what other variables may take place here.. for you with errors preventing the server from starting up, what mongo version do you use? what is your deployment method? do you re

[2022-02-03 20:24] #24347 closed

[2022-02-03 21:22] JakubJachym commented on #24347
@sampaiodiego We deploy using the steps described in Manual Installation for Ubuntu. We have a bash script for it:

[code]
Then we replace `/opt/Rocket.Chat` with `/tmp/bundle` and start the service.

We're currently running `MongoDB 5.0.5`.

We're using same update process for the Rocket.chat since 12/2018 when we've started using it. Don't really remember what version it was.

[2022-02-03 21:31] ixlandia commented on #24347
I have a feeling we might have to wait for upstream to fix meteor/meteor#11666
Reading the comments on that issue, it looks like the errors occur during meteor startup, before Rocket.Chat code is even executed.
Our server was set up in Sept 2018, using Rocket.Chat 0.69.1 and MongoDB 3.4.
It seems more likely that it is due to the version of MongoDB being used at that point. It looks like 3.7 was t

[2022-02-04 09:24] Ziehnert opened #24411 "IOS app ignoring user permissions"
### Description:

The rocket.chat IOS app doesn't follow the set permissions by the server, rendering direct messages while the permissions aren't set

### Steps to reproduce:

1. Create a new user
2. Don't add him to "users" group
3. Send a private message to the new user

### Expected behavior:

The new user shouldn't be able to read the direct message, since the permission from the "users" grou

[2022-02-04 09:38] ngrande commented on #23613
RocketChat 4.4.0 still has the issue present - in our case GitHub Enterprise OAuth is no more working. Same Error as the original poster here.

[2022-02-04 11:13] samad-yar-khan commented on #24358
@dudanogueira  If no one has been assigned the issue so far, I can try working on this ?

[2022-02-04 12:00] abruening-iwt opened #24412 "Can't install Rocket.Chat Server 4.4.0 due to conflicting Node versions (12 vs 14)"
### Description:

Rocket.Chat will only install successfully with Node 12 being used but then refuses to actually start because Meteor requires at least Node 14

### Steps to reproduce:

1. Install Node 12 via n on Debian
2. Follow the instructions for manually setting up Node
3. Attempt to start the server

### Expected behavior:

Server should start

### Actual behavior:

When trying to run the

[2022-02-04 12:12] Himanshu664 opened #24413 "[BUG]: Save button in Custom sounds is not disabled"
### Description:

Save button in custom sound should be disabled on adding Name only and should enable after adding sound file and Name both,but it becomes enabled only after adding name.

### Steps to reproduce:

1. Go to Admin
2. Click on Custom Sound
3. Click on New and add only name

### Actual behavior:

https://user-images.githubusercontent.com/76220055/152526917-67a164c8-d7ea-46fb-b4f1-b957

[2022-02-04 12:29] #24413 closed

[2022-02-04 13:46] dudanogueira commented on #24412
Hi! Version 4.4.0 has upgraded meteor version.

As this is a manual installation, you should handle dependencies yourself.

I do not suggest you to run a manual installation, unless you have a great reason to do so.

Please, consider using docker instead. Closing as this may not be considered a bug.

[2022-02-04 13:46] #24412 closed

[2022-02-04 13:57] knordsiek opened #24415 "Node crashing after update to 4.4"
### Description:

I have updated the rocketchat from 4.3 to 4.4 an get the following errormessage presented.

npm WARN deprecated node-pre-gyp@0.15.0: Please upgrade to @mapbox/node-pre-gyp: the non-scoped node-pre-gyp package is deprecated and only the @mapbox scoped package will recieve updates in the future

### Server Setup Information:

- Version of Rocket.Chat Server: 4.4
- Operating System:

[2022-02-04 14:08] aakash-gitdev commented on #24348
@debdutdeb , it will be great if you could give some comments regarding the validity of this issue. This is my first GitHub issue so have no idea about its correctness, but yeah I filed this issue because I myself experienced it while working in Rocket Chat.

Thanks

[2022-02-04 14:23] gstlouisgit commented on #24402
@debdutdeb
This is a well known problem going on with CentOS 7.  It is related to the segment fault error or crash.  I'm not filling in the templates when its already done.  I'm more looking for a workaround by finding an old working version of rocket chat because the fix for centos7 does not look like it will be fixed soon.

or it might just be worth going to mattermost.  I don't know

[2022-02-04 14:40] aakash-gitdev commented on #24394
I think it's somewhat similar to #24348.

[2022-02-04 15:21] debdutdeb commented on #24402
As far as I know that segfault was fixed some versions ago. That's why asked for the template since I don't know which version you're using right now.

Maybe it'd be worth automate centos testing before release.

[2022-02-04 15:31] aakash-gitdev opened #24416 "[FEATURE REQUEST] Message tracking feature should be included"
**Description:**

We should be able to know who all have read our messages, so that during urgent situations we can directly tag them and know their opinions about our message.

**Steps to reproduce:**

1) Click on the options button on the top right corner of any message.

**Expected Behaviour:**

If we click on a particular message, there should be an option to view a complete list of all those

[2022-02-04 15:32] aakash-gitdev commented on #24416
*I will be glad to have some opinions about this feature request.*

[2022-02-04 15:44] Gummikavalier opened #24417 "Escaping %-character in markdown urls fails"
### Description:

There seems to be a bug at least in RC 4.3.3 that causes escaping of character % fails in markdown formatted urls. The %-character itself gets itself transformed into ASCII.

Spaces are common in links created in MS SharePoint, for instance. Hashes are other quite common that require use of their ASCII codes in URL.

### Steps to reproduce:

1. Create a message with a markdown ur

[2022-02-04 15:57] dudanogueira commented on #24395
@szampardi I was able to reproduce the bug and already sent this issue to our engineers.

Thank you!

[2022-02-04 16:51] #24374 closed

[2022-02-04 17:38] debdutdeb commented on #24416
Hi! thanks for the interest :)

The feature you're talking about is called read reciepts, already is part of rocket.chat - Administration > Message > Message_Read_Receipt_Enabled. It is disabled by default.

Closing this now, but feel free to continue the conversation.

[2022-02-04 17:38] #24416 closed

[2022-02-04 18:25] TylerHobanDotCom commented on #21926
same error.., along with a different one as well.

[2022-02-04 22:45] wwc-trevor commented on #23989
What information is needed? I would love to continue this.

[2022-02-04 23:38] serviceman commented on #23483
This is still happening on 4.4.0 on open.rocket.chat as well as my instance. Again, this is happening on all IOS devices using the web version NOT the app.

[2022-02-05 07:28] nishant23122000 opened #24419 "[BUG] Should Display appropriate Message"
### Description:
When there are no messages to prune, It should give the appropriate response.

### Steps to reproduce:

1. Go to any Channel
2. Click on Prune Messages on the top right
3. set the time periods where no message exists to prune
4. prune all messages or any particular user messages
5. It will show an undefined error

### Expected behavior:

When there is no message to prune for given

[2022-02-05 08:41] nishant23122000 opened #24420 "[IMPROVE] Jump To File Option In Files"
### Description:

It's a good user experience if we add jump to file option in the files section also

### Steps to reproduce:

1. Go to Any channel
2. Click on Files on the Top right
3. Click on any file
4. No option of a jump to file

### Expected behavior:

When the user opens the menu for a particular file, there is only a download and delete option available, we can add the jump to the file o

[2022-02-05 14:03] Dnouv commented on #24156
I'm trying to run the End to End Tests as per the instructions on the site, when running the following command,
[code]

The application crashes with the error,

[code]

The development environment is set up on Gitpod, running on the latest develop branch.

@dudanogueira, would you please help me out with this issue.
Thank you!

[2022-02-05 21:16] aakash-gitdev opened #24422 "[BUG] Text pointer does not change to link pointer upon hovering over some options for small screen sizes"
**Description:**

When we work in small screen sizes in laptop for checking the responsiveness of the website, the default text pointer does not change to link pointer upon hovering over some clickable options. On the other hand, it does change in case of normal screen size in laptop.

**Steps to reproduce:**

1)Open Rocket.chat.
2)Reduce screen size to about mobile-phone screen size.
3)Hover over

[2022-02-05 21:19] aakash-gitdev commented on #24422
It is a small issue but in my opinion, it will surely improve the UI when fixed.

[2022-02-05 21:43] gadirotenberg commented on #24346
I'm having the same issue

[2022-02-06 12:07] mtcoliveira commented on #24383
As soon as I send the reply through the channel created in OmniChannel, i can see an output in the Rocket.Chat logs:
Message sent: d4c771fd-f6af-8de9-ccac-ab355275615@MYDOMAIN

It seems to me to be a key, it changes the e-mail address for this kind of key.

Another observation is that I am using Hostgator's email system.

[2022-02-06 13:48] Jaiharishan opened #24426 "[IMPROVE]: Have a default regex search for messages"
### Description:
  For searching for messages in a team or channel or direct message, the user must give a regex query by themselves. Instead, we can have a default regex searching and custom regex searching if the user needs to.

### Steps to reproduce:

1. Go to any team or channel or direct message.
2. Click on the search option on the top right of the screen.
3. Give your search queries.

###

[2022-02-06 16:59] himanshumalviya664 opened #24427 "[BUG] Cannot use deleted user's username for creating new user"
### Description:
Cannot use username of deleted user while creating new user through that username through error 'User already in use'

### Steps to reproduce:

1. Go to Admin
2. Click on Users
3. Create New User

### Expected behavior:

New User can use the username of deleted user.

### Actual behavior:

https://user-images.githubusercontent.com/76220055/152691624-f3923722-314e-488c-83c5-7bac09b

[2022-02-06 17:32] nicupavel commented on #24346
I also have the same issue. RocketChat 4.4.0 MongoDB  4.2. Since RocketChat 3.x slack import no longer works, file is loaded correctly but starting the import fails with error. Even the older backup files that were previously successfully imported with 3.x no longer work on 4.x. Manually inspecting slack export json files don't show up anything related to "\" objects.

`rocketchat_1          | {"l

[2022-02-07 04:18] DuJiming commented on #23992
OK, thinks

[2022-02-07 08:25] rosscdh commented on #16975
still even now

[2022-02-07 09:35] Valllium commented on #23027
Can I tell you more about your decision?

[2022-02-07 10:16] knordsiek commented on #24415
Solved.

If yout get this error please do

then the update to 4.4

[2022-02-07 11:57] rozbit commented on #24080
I have similar problem
`main process exited, code=killed, status=11/SEGV`
after sending inexisting url in direct message. Example https://test.example/page or https://hospital.local/

Server Setup Information:
Version of Rocket.Chat Server: 4.4.0
Operating System: CentOS 7
Deployment Method: tar
Number of Running Instances: 1
DB Replicaset Oplog: Enabled
NodeJS Version: 14.19.0 - x64
MongoDB Versi

[2022-02-07 12:48] Gummikavalier commented on #24080
On RHEL8 and 4.3.x we have so far had but only one segfault in one node, pretty soon after the upgrade to 4.3.x.

I'm still not sure what caused that one, but it seems that this segfault that is triggered via posting just an url does not happen on the node binary of RHEL8 at all. It is likely to be related to CentOS7 node binary.

[2022-02-07 12:54] eduardofcabrera commented on #24427
Hi @Himanshu664, I will check this issue.

[2022-02-07 13:14] eduardofcabrera commented on #24427
@Himanshu664 I tested here with the last develop and seems to be working fine.

[2022-02-07 13:17] LittleITworld commented on #23989
I would give any information needed

[2022-02-07 13:22] Himanshu664 commented on #24427
Okay I will try again thanks for verifying.

[2022-02-07 13:25] IARI commented on #19027
I have this problem on 4.4.0

[2022-02-07 13:33] Himanshu664 opened #24430 "[BUG] No tooltip fo Message Menu"
### Description:

No Tooltip available for message menu.

### Steps to reproduce:

1. Go to Channel
2. Click on Message
3. Open menu

### Expected behavior:

https://user-images.githubusercontent.com/76220055/152797570-1cb2f534-067d-4e64-ae22-f7e97cc6926c.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/152797579-25524334-534b-4526-b3c0-a60862b2a693.mp4

### Server Set

[2022-02-07 13:44] Deelight-fr commented on #23989
I had had the same problem but it disappeared. I have a cluster of 5 nodes, and one node was off. Maybe it's linked...

[2022-02-07 14:23] Ayush01729 commented on #24394
@ankar84 , it solved the issue. Thanks for that

[2022-02-07 14:33] #24395 closed

[2022-02-07 15:20] sidmohanty11 commented on #24358
Hi @ankar84 , hope you are great! I tried reproducing this in my dev environment but couldn't seem to reproduce it. As per my debugging goes, I discovered that the schemes are used properly:

As you can see here,

#### settings log
![after_debugging_mdschemes](https://user-images.githubusercontent.com/73601258/152816278-e45734e3-f9b8-4c44-8a19-c1c967faf186.png)

#### message (by using your example

[2022-02-07 15:27] matthias4217 opened #24433 "[IMPROVE] Hourly rocketchat_users metrics refresh rate"
### Description:

The Prometheus metrics for `rocketchat_users_*` (`rocketchat_users_active`, `rocketchat_users_active`, `rocketchat_users_away`, `rocketchat_users_non_active`, `rocketchat_users_offline`, `rocketchat_users_online` and `rocketchat_users_total`) seem to be refreshed only once per hour. This may also be the case for the data displayed in the rocketchat administration panel.

### Step

[2022-02-07 15:37] 770MOSHE770 opened #24434 "[BUG] room list dancing"
### Description:

The list of rooms is dancing, whenever I scroll. Appears on RTL

### Steps to reproduce:

1. scroll on the room list

### Expected behavior:

https://user-images.githubusercontent.com/38321047/152819233-ceb05237-c1a3-45c1-8cc7-0124f85ab075.mov

### Actual behavior:

https://user-images.githubusercontent.com/38321047/152819256-eb9d4866-ce0b-451e-80e6-1d3f9fe302be.mov

### Server S

[2022-02-07 16:58] JLammering commented on #24160
If you try to docker-compose rocket.chat with mongo 5.0. you have to exchange the mongo related part with this:
[code]
Essentially I stated the new version in mongo and mongo-init-replica and removed the _smallfiles_ and _storageEngine_ option in the mongo command.

[2022-02-07 18:54] sidmohanty11 commented on #24358
@ankar84 thank you so much for your explanation. I could see that in custom fields of user info, marked is used for markdown preview. Here in this line [client/component/MarkdownText.tsx](https://github.com/RocketChat/Rocket.Chat/blob/6fbd7f1614da4eb109252a3c01028e2b04c7ce6a/client/components/MarkdownText.tsx#L111) dompurify sanitizes any other protocol,
![after_debuggin_mdlink3](https://user-imag

[2022-02-07 20:57] waldo323 commented on #24412
I was using: https://docs.rocket.chat/quick-start/installing-and-updating/manual-installation/centos

While installation instructions for CentOS (and similar) does state "As from Rocket.Chat 4.4.0, NodeJS version 14.x.x is used.", it would be helpful if the instruction page also included the updated information for installing nodejs 14 instead of 12.

More specifically the following lines should b

[2022-02-07 21:17] sampaiodiego commented on #24350
I'm having a hard time on how to test this issue.. I don't have a proper environment behind a proxy to test this and make sure the fix is good..

any hint on how to easily get an environment to test?

[2022-02-07 21:21] dudanogueira commented on #24128
I was able to reproduce this error.

I have used this as the webdav server:

  webdav:
    image: bytemark/webdav
    volumes:
      - /tmp/web:/var/lib/dav
    environment:
      - AUTH_TYPE=Basic
      - USERNAME=alice
      - PASSWORD=secret1234
      - LOCATION=/webdav
    ports:
      - 8011:80

[2022-02-07 22:01] bellegarde-c commented on #24350
IMO, the simplest way is to install tinyproxy and configure it on localhost.

[2022-02-08 00:43] ankar84 commented on #24358
@sidmohanty11 thanks for your investigation!
Can we add additional protocols to sanitise rules?
cc @ggazzo

[2022-02-08 02:36] jthomaschewski commented on #24347
@sampaiodiego I can confirm that the fix in  #24409 does work as @ixlandia already assumed.
I just tested upgrading from v3.3.3 to v4.4.1 and its still failing.

This has to be fixed in Meteor though. Untill then a workaround is probably to drop the problematic indexes and let meteor recreate them on startup.
I'm not sure though which rocketchat indexes gets created automatically on startup and wh

[2022-02-08 02:56] tensor5g opened #24442 "Outgoing webhook not impersonating user"
### Description:

With 4.4.0, responses to outgoing webhooks were broken entirely. Now with 4.4.1, it seems that they process the response properly, but the user the response is sent by is rocket.chat even with impersonation enabled

### Steps to reproduce:

1. Create simple outgoing webhook with impersonation enabled and user set to root
2. trigger outgoing webhook
3. observe that the response is

[2022-02-08 02:57] jthomaschewski commented on #24347
### Workaround for everyone looking for a quick solution

RocketChat v4.4.1 will start after manually dropping all old indexes. On start most (hopefully all) indexes should be recreated as `(try)EnsureIndex` calls are placed in startup/constructor code of models throughout the code.
There is no guarantee though, some indexes could be created e.g. only in migrations...

I did the following and Rock

[2022-02-08 02:58] tensor5g commented on #24442
I referred to the rocket.cat as rocket.chat a couple times by mistake. The user the response is being sent by is definitely rocket.cat

[2022-02-08 03:35] ankar84 commented on #24433
Closely related to https://github.com/RocketChat/Rocket.Chat/issues/24223

[2022-02-08 04:35] Sx3 commented on #14781
Issue is still same with
Version 3.18.3

[2022-02-08 07:42] tom666-debug opened #24444 "User Registration Form Secret URL broken since 4.4.0"
### Description:

Seems that the funktion to provide a secret link for the user regestration form is broken since version 4.4.0.
All I got when opening this page (e.g. https://chat.mydomain.de/register/[secret_hash]) is a "provided URL is wrong"

### Steps to reproduce:

1. Check your "secret link" settings here: Administation, Accounts, Regestration
2. Try to open the "secret" link as configured

[2022-02-08 07:53] doc-lb commented on #23613
Please fix this. It is very important feature.

[2022-02-08 07:57] xcore89 commented on #23613
We really need this feature. Please, bring it back.

[2022-02-08 08:15] FrankDaze opened #24445 "[Bug] Uploading app on publisher portal not possible"
.
### Description:

Today I tried to upload a new app to the marketplace by uploading it on the publisher portal.
I dropped the file in the file field. When I clicked on "next" I got a message that this is a compiled version and not the source code.

I created the ZIP file as described with the `rc-apps pachage` command.

Uploading the app by using `rc-apps submit`worked fine.

### Steps to reprod

[2022-02-08 08:55] Sx3 commented on #11649
Issue is with the Version 3.18.3

[2022-02-08 08:56] ankar84 commented on #24444
Confirm that issue
![image](https://user-images.githubusercontent.com/4023037/152952365-e505a60a-438b-4ba4-9164-899a7ee7aee4.png)

[2022-02-08 09:31] dyfet commented on #18751
I am on 4.4.1, on a new install of 4.4.0 that was then upgraded. I had disabled 2FA, and I now sometimes get a blank screen when logging in, especially if logging in rapidly,  If I hit refresh, it then behaves normally.This is what I see in the logs...

{"level":50,"time":"2022-02-08T09:16:11.608Z","pid":9,"hostname":"a5b2308a5675","name":"","name":"System","msg":"Exception while invoking method u

[2022-02-08 09:40] dyfet commented on #24160
Thanks, this worked, I never had to work with mongo before...

[2022-02-08 09:40] abruening-iwt commented on #24412
They mean outdated, surely.

[2022-02-08 09:53] ali-alhaidary opened #24446 "v4.4 not upggarding from v4.3.3"
### Description:
several errors is displayed when upgrading from v4.3.3 to v4.4

### Steps to reproduce:

sudo systemctl stop rocketchat
sudo rm -r /opt/Rocket.Chat.old
sudo mv /opt/Rocket.Chat /opt/Rocket.Chat.old
sudo n install 14.18.2
curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
tar -xzf /tmp/rocket.chat.tgz -C /tmp
cd /tmp/bundle/programs/server && npm install
s

[2022-02-08 10:20] sephentos commented on #23613
I've given up hope on this case. OAuth with RocketChat is for me broken since July 2021.

[2022-02-08 10:26] ali-alhaidary commented on #24412
@waldo323 would you please advice the correct commands for ubuntu

[2022-02-08 11:30] szampardi commented on #24395
thanks all, confirming this as fixed on my instance

[2022-02-08 11:56] mosynaq commented on #22256
I have version 4.4.1 and the issue still persists.

[2022-02-08 12:01] r3dnib commented on #24446
Same Problem here....

[2022-02-08 12:15] dudanogueira commented on #24444
confirming it too. No outstanding logs.

[2022-02-08 12:21] mosynaq opened #24447 "Permissions page in admin panel not loading in version 4.3.2 and 4.4.1"
### Description:
I am evaluating Rocket Chat and I encountered this issue: When I want to view permissions page in admin panel, it simply does not load.
It is worth to mentioning that I use Keycloak as the IdP and my user is admin.

### Steps to reproduce:

1. Login to your account.
2. Go to Admin panel.
3. Click on "Permissions" on left pane.

### Expected behavior:

Displaying Permissions page

[2022-02-08 12:24] dudanogueira commented on #24447
Hi!

Can you reproduce this on a clean install with latest or just in your deployment?

[2022-02-08 13:33] sampaiodiego commented on #24347
thanks @jthomaschewski .. indeed the indexes you had that were failing were from Meteor, and they don't have a try/catch to "ignore" the errors, that's why they prevent the server to start up.

it is safe to remove indexes from DB as you did since they're re-created on every startup.. the ones we have on migrations are the ones that have changed the shape, in this case the one on the model would f

[2022-02-08 13:42] danielfariati commented on #19856
I started having the same issue now, in version 4.4.1.

[2022-02-08 13:44] danielfariati commented on #24355
Don't know if related to this, but now in version 4.4.1, everyone trying to login with Google is getting an "Internal Server Error".
The problem is exactly the same as described here: https://github.com/RocketChat/Rocket.Chat/issues/19856

[2022-02-08 13:45] sampaiodiego commented on #24355
@danielfariati did you end up removing `?close` from callback url on Google as @[mr-karan](https://github.com/mr-karan) mentioned? if so, you should add it back

[2022-02-08 13:53] Ayush01729 opened #24448 "Admin can change the name of user"
### Description:

Admin can change the name of any user.
Although, on the chat the original name is visible, so it is better to disable that "edit" button

### Steps to reproduce:

1. Go to administration
2. Go to users
3. You can edit the name of users.

### Expected behavior:

Only users should be able to edit their name and not the admin

### Actual behavior:

Admin and user both can edit their