[2022-02-08 13:58] danielfariati commented on #24355
No. We actually have both there.

Google:
Javascript origins: https://[our-domain]
Redirect URIs: https://[our-domain]/_oauth/google?close AND https://[our-domain]/_oauth/google

RocketChat:
ROOT_URL=https://[our-domain]

In can see in the settings that  Accounts_OAuth_Google_callback_url is https://[our-domain]/_oauth/google (without the ?close). But that is not customizable and I assume is the s

[2022-02-08 14:11] danielfariati commented on #24355
@sampaiodiego
I believe the cause of the problem is the variable defined here: https://github.com/RocketChat/Rocket.Chat/blob/7632f12cfcc7ed8ee8f843587fdff63b101cc765/app/lib/server/startup/settings.ts#L672
As you can see, the URL is defined without the `?close`. Admins also can't change that, as it is readonly.

[2022-02-08 14:18] jthomaschewski commented on #24355
@danielfariati good idea.
Manually changing the value in DB doesnt help though. temporarily tried it by running this:

[code]
(of course be careful when tinkering with DB...)

[2022-02-08 14:35] jthomaschewski commented on #24355
Workaround for now:

- change migration version in db from 254 to 253:
[code]
- downgrade to `v4.4.0`
- make sure the redirect uri *without* `?close` is authorized in google api console

Migration `254` will be re-applied when upgrading again but this shouldnt be an issue as its only gracefully re-creating some indexes.

[2022-02-08 14:40] waldo323 commented on #24412
which version of Ubuntu? I haven't tried yet but can try with a vm and add updates if I'm able to install successfully.

[2022-02-08 14:41] waldo323 commented on #24412
@ali-alhaidary which version of Ubuntu? I haven't tried yet but can try with a vm and add updates if I'm able to install successfully.

[2022-02-08 14:42] jthomaschewski commented on #24347
Thanks for confirming that indexes will be recreated automatically @sampaiodiego

Actually not only indexes from Meteor where failing. I started by dropping the index which failed during startup, restarting and so on. Many indexes where causing this issue - also some/all of `rocketchat_room`/`rocketchat_message` collections.
Thats why I dropped indexes of those as well.

Maybe recreating those ver

[2022-02-08 15:51] ali-alhaidary commented on #24412
Thank you @waldo323 we are using 18.04 LTS

[2022-02-08 15:52] Rollbacke opened #24449 "Custom colors broken after update from 3.18.5 to 4.4.1"
### Description:

The

### Steps to reproduce:

1. Go to admin panel -> Layout -> Colors
2. Set custom HTML color (Type color, no Expression)
3. Save
4. Refresh and see that it doesn't work.

### Expected behavior:

Working custom HTML colors in Layout -> Colors.

### Actual behavior:

The colors are "broken" since the update to 4.4.1.
When I go back to the admin panel, the colors I changed are in

[2022-02-08 17:07] toantc commented on #24355
I downgraded to 4.4.0 from 4.4.1 and added both URL with and without `?close` to the Google Console.
It's working on the web and desktop app but the mobile app isn't.

## Step to reproduce

1. Open mobile app
2. Login with Google Auth
3. Choose the email to login with
4. Clicked "Open this page in Chat"

## Expected behavior

The mobile app should be logged in

## Actual behavior

The login screen

[2022-02-08 17:11] viveky45 commented on #24449
@Rollbacke i would like to work on it.

[2022-02-08 17:18] ali-alhaidary commented on #24412
@waldo323 https://github.com/RocketChat/Rocket.Chat/issues/24446

[2022-02-08 17:36] sampaiodiego commented on #24355
looks like there was a missing piece on the fix.. I'm working in a new fix right now

[2022-02-08 19:11] audouts commented on #24327
Thanks.

[2022-02-08 20:40] #23772 closed

[2022-02-08 21:02] billynoah commented on #16543
This is not fixed.  I pinned a message today and after unpinning the message it disappears out of Pinned Msgs sidebar but the pin is still there.  I've even deleted the original but the pin continues to show my original message.

[2022-02-08 22:09] william-p commented on #23613
Same here with 4.3.2 (docker), my crappy workaround:

	sed -i 's#gitlab\.com#<YOUR_HOST>#g' programs/server/app/app.js
	sed -i 's#loginStyle||s.includes#loginStyle||s||s.includes#g' ./programs/web.browser/c7ae0387675e4a4763fbf88c74db9a0745d7f75d.js

`?close` in `redirect_uri` don't work with my Gitlab instance ...

Maybe something here:
https://github.com/RocketChat/Rocket.Chat/blob/8c6c788b20a86a

[2022-02-08 23:21] lovekyleman commented on #24444
We have the same issue

[2022-02-09 07:29] nishant23122000 opened #24455 "[IMPROVE] Provide Notification Sound Preview While Changing It From Account/preferences"
### Description:

It is always a good user experience if we play a sound when the user changes the notification sound so that he/she can check the sound before saving it

### Steps to reproduce:

1. Go To Account/preferences
2. Inside Sound Section Change the New Room or New message notification Sound
3. While changing it' it's not playing sound

### Expected behavior:
When the user changes the so

[2022-02-09 08:41] bseclier commented on #11649
Issue is still in 4.4.1...

[2022-02-09 09:49] Rollbacke commented on #24449
Can you reproduce the problem?

[2022-02-09 11:39] Athan972000 opened #24456 "Send Message with attachments API"
### Description:

When i send a message via REST API with attachments, it requires me to double array my the attachment for it to work.
documentation page: https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/chat-endpoints/sendmessage

### Steps to reproduce:

1. curl login? https://developer.rocket.chat/reference/api/rest-api/endpoints/other-important-endpo

[2022-02-09 11:39] try-catch-stack commented on #24455
We already have a PR for it @nishant23122000 https://github.com/RocketChat/Rocket.Chat/pull/24205 .

[2022-02-09 13:29] sampaiodiego commented on #23613
that's right @william-p .. this fix will be released today in 4.4.2 release 👍

[2022-02-09 13:58] sampaiodiego commented on #24442
is this the behavior on 4.3? if so, can you please send the payload response it used to have this behavior? thanks

[2022-02-09 14:17] tensor5g commented on #24442
No, this was not the behavior prior to 4.4.0. A simple response payload such as {"text": "test"} will not be impersonated when before it would.

[2022-02-09 15:22] binarydad opened #24457 "Link previews for Reddit do not display preview block/image"
### Description:

Links pasted into chat do not render a preview do not have a preview. Other links seem to work fine.

### Steps to reproduce:

1. Grab a link, such as https://www.reddit.com/r/funny/comments/so4pyf/dakota_has_been_on_stall_rest_for_months_due_to/
2. Send to chat

### Expected behavior:

I expect a link preview to show at least a description, ideally with image.

### Actual behavi

[2022-02-09 15:45] Bengrunt commented on #16852
Hello, looks like the issue is back in 4.4.0.

We disabled the registration form on our platform.
Users get "invalid or expired invitation token" if not previously logged into RocketChat when accessing the invite link.
Otherwise it works normally.

Any additional info I could provide to help resolve this ?

Thanks !

[2022-02-09 15:53] ankar84 commented on #16852
Yes, and here is an issue about that https://github.com/RocketChat/Rocket.Chat/issues/24444

[2022-02-09 15:59] Bengrunt commented on #16852
Damned, I'm sorry I missed that, thanks @ankar84 !

[2022-02-09 16:00] Bengrunt commented on #24444
Encountered this as well. :/

[2022-02-09 18:59] #23613 closed

[2022-02-09 21:46] dougfabris commented on #20968
Closing this one, as @aditya-mitra said it is a fuselage issue already fixed [here](https://github.com/RocketChat/Rocket.Chat.Fuselage/pull/389)

[2022-02-09 21:46] #20968 closed

[2022-02-10 02:40] tensor5g commented on #24442
Issue is still present in 4.4.2. Another thing to mention is that no matter what user is selected for "post as", it will always display as rocket.cat unless impersonation is disabled, then it will post as the "post as" user.

[2022-02-10 03:22] Jaiharishan commented on #24426
Thanks for mentioning it @Ayush01729 .If there is an option like that then by default it should be enabled.

[2022-02-10 04:05] Ayush01729 commented on #24426
Yes, @Jaiharishan , I am working on it.

[2022-02-10 04:41] KhadishaKudys commented on #6985
If this issue is still open, may I work on it?

[2022-02-10 04:56] KhadishaKudys commented on #24434
May I work on this issue?

[2022-02-10 05:52] v1adislav commented on #23613
@sampaiodiego the error is repeated in the version 4.4.2
```Exception while invoking method 'login' Error: Failed to complete OAuth handshake with gitlab at https://gitlab.com/oauth/token. failed [401] {"error":"invalid_client","error_description":"Client authentication failed due to unknown client, no client authentication included, or unsupported authentication method```

[2022-02-10 05:56] v1adislav commented on #23613
```Automatically added ?close to 'redirect_uri' for gitlab, this behavior will be removed in v5.0.0.\nPlease update your OAuth config to accept both with and without ?close as the 'redirect_uri'."}```

[2022-02-10 06:39] v1adislav opened #24460 "4.4.2: GitLab OAuth doesn't work anymore"
### Description:

After upgrading Rocket.Chat to version 4.4.2, OAuth no longer works with GitLab.
You get an undefined error after successful login to our self-managed GitLab instance.

### Steps to reproduce:

1. Upgrade Rocket.Chat to version 4.4.2
2. Click login with GitLab OAuth
3. Login into GitLab instance
4. Undefined error triggered -> Login failed

### Actual behavior:

When I try to log

[2022-02-10 06:44] xcore89 commented on #24460
I have the same problem on version 4.4.2.

[2022-02-10 06:55] 4nt0h4 commented on #24460
I confirm that OAuth authorization does not work

[2022-02-10 07:30] Manan17 commented on #23866
Hi, can I work on this issue?

[2022-02-10 07:31] Manan17 commented on #23977
Hi is this issue still open if yes, can you please assign me this issue.

[2022-02-10 08:25] davidecavezza commented on #24245
Some of the settings are assigned wrongly-typed defaults. For instance, in `/app/sms/server`
[code]
It should be `int` but is assigned `''`.

The affected settings seem to be:
[code]

[2022-02-10 08:45] Gummikavalier commented on #24327
Seems to have been fixed now in RC 4.x.x

[2022-02-10 11:50] ipikiiskinen commented on #24132
Just updated our servers from 3.18.3 to 4.3.3 and got reports from a lot of users that their profile picture has changed to a profile picture of someone else.
Some profile pictures got lost.
In the upgrade we also did mongoDB upgrade from 4.0 to 4.2.

This is a nasty bug.

[2022-02-10 12:48] dudanogueira commented on #24460
Hi! What are the versions you upgraded from?

this is probably related to https://github.com/RocketChat/Rocket.Chat/issues/24355

[2022-02-10 12:56] v1adislav commented on #24460
@dudanogueira The bug started with version 4.2.2. Now I have updated from 4.4.0

[2022-02-10 13:51] btittelbach commented on #23613
I tried version 4.4.2 and the error does **NOT** seem fixed.

Still can't login with Nextcloud and OAUTH.

- getting the same message that v1adislav got in the log.
- apart from the fact that Nextcloud should not care about the ?close, I tried adding a second secret/pass to nextcloud with the redirection url having the ?close and configuring those new secret/pass in rocket.chat
- the warning messa

[2022-02-10 13:55] sthaydn commented on #24446
Same here. I have installed build-essentials as stated in the error log, but still no luck.

[2022-02-10 14:35] vicentefcardoso opened #24462 "Erro ao Confirmar Usuário Adm"
Fizemos o processo de instação e o primeiro usuário criado como adm, enviou um e-mail para ativar o adm,
porém está dando erro ao ativar

Something went wrong

Criei um segundo usuário e funcionou corretamente, porém fiquei sem usuário administrador.

[2022-02-10 14:57] MightyGoldenOctopus commented on #24132
Same issue on self-hosted 4.4.1 docker compose deployment.
Node Version: v14.18.2
MongoDB: 4.2.17 / wiredTiger (oplog Activé)

[2022-02-10 15:00] ipikiiskinen commented on #24132
More info about the case.

Our system was totally messed up with user profile pictures, so we decided to delete all avatar data from mongoDB:
[code]

After a user avatar update there was a single entry in rocketchat_avatars:
[code]

After a while, the same (!) entry was changed with some other user data:
[code]

Note that only `name` got somehow changed. After this a wrong user has profile picture

[2022-02-10 15:11] nicupavel opened #24465 "Slack import no longer works in 4.x"
### Description:

Slack import no longer works on any 4.x version

### Steps to reproduce:

1. Obtain a slack export
2. Use import from file or public server url
3. Start import
4. After file is loaded and you select the messages/channels/users

### Expected behavior:

Import to work

### Actual behavior:

Import fails

### Server Setup Information:

- Version of Rocket.Chat Server: 4.4.1
- Operat

[2022-02-10 16:05] dougfabris commented on #24462
Hi,

Please follow our guidelines for reporting issues:

https://rocket.chat/docs/contributing/reporting-issues

You can ask for support here:

https://open.rocket.chat/
https://forums.rocket.chat/

[2022-02-10 20:43] #19420 closed

[2022-02-11 05:35] robbyoconnor commented on #24347
This should be reopened -- or retitled because it's not fixed.

[2022-02-11 07:25] fdellwing commented on #24426
The reason it is not enabled by default is, because regex is slow and CPU intensive. Furthermore: Mongo should use FTS under the hood, so there should be no need for regex.

[2022-02-11 08:43] Gummikavalier opened #24478 "Browser and client cache based issues after upgrades"
### Description:

This is a general cache handling issue in RC. During the years we've done upgrades to our RC instances it has become a norm that some or all of the users have all kinds of issues after their clients and browsers connect to the updated instance again.

We've noticed that it does not matter whether the server side update was a live update or done in completely offline fashion.

For

[2022-02-11 10:31] f-roscher commented on #23938
@EnableServices , I have not fixed it yet.
I tried some younger versions, same bug with those versions up to now.

If someone is willing to dive into this I would love and be able to support in debugging and provide additional data to reproduce this bug.

[2022-02-11 11:24] AmiKonst commented on #22145
So. Where is the solution?

[2022-02-11 12:22] Himanshu664 opened #24482 "[BUG]: Empty role is created in new role"
### Description:
when I create new role from permissions, it can be created empty.

### Steps to reproduce:

1. Go to Admin
2. Click on Permissions
3. Click on New Role
4. Save without giving role name
### Expected behavior:

Role name and  Role description should made mandatory.

### Actual behavior:

https://user-images.githubusercontent.com/76220055/153590526-d583398b-bc62-4b2b-a045-5811c77d99b

[2022-02-11 12:37] william-p commented on #23613
Hum hum, IMHO two bugs with different temporality:

1. Bug with default `config.serverURL` ('https://gitlab.com'), custom server was not used => Not fixed
2. Bug with oauth URL and `?close` (different behavior with client and server) => Fixed (from a quick look)

For main bug (`config.serverURL`) of this issue, in my test, debounced callback was not called:
https://github.com/RocketChat/Rocket.Cha

[2022-02-11 12:45] J-Ankit2020 commented on #23866
@psy  can I work on this I am interested to work on this

[2022-02-11 13:02] AlexVonB commented on #21819
Having the same problem, a fix is to download the emoji file (right click, save as) and to choose the same file as upload. Then the data is processed (thanks to #21821 for giving me the hint!).

[2022-02-11 15:02] J-Ankit2020 commented on #24460
Can I work on this issue

[2022-02-11 15:12] J-Ankit2020 commented on #23977
@nishlashakya  can I work on this issue I might be able to fix this

[2022-02-11 15:20] J-Ankit2020 commented on #8505
@itaditya  is this open I would like to work on it

[2022-02-11 15:21] oliob commented on #24347
for me version 4.4.1 fixed the bio index problem. I cannot speak for the other index cases above.

[2022-02-11 18:42] robbyoconnor commented on #24347
@oliob I'm shocked these weren't caught to be honest -- I'm not attacking you, just making sure it's mentioned

[2022-02-11 18:57] prsndp commented on #24482
@Himanshu664 I would like to work on this issue if it is open officially? thanks:)

[2022-02-11 19:50] jthomaschewski commented on #24347
The issue is, that the issue seems to occur for every index, which was created with a quite old MongoDB version (+ probably old Meteor version).
This can't be reproduced by running tests with fairly up-to-date tech stack - all migrations will run successfully.

Also at least some indexes (those maintained by Meteor itself on `users` collection) cause these failures before the applications starts c

[2022-02-11 21:02] dougfabris commented on #20367
As @RonLek it's a Fuselage's component issue. We're working to fix it asap and already have an [issue](https://github.com/RocketChat/Rocket.Chat.Fuselage/issues/252)!
Thanks for helping, guys!

[2022-02-11 21:02] #20367 closed

[2022-02-11 22:16] supportdesk-si commented on #24444
Same here. Upgraded to 4.4.2 and private channel invites are defaulting to Invalid or expired invite token.  This is a huge issue!!!

Making registration private, disabled or public makes no difference.

It was working perfectly fine prior to the update.

Deployment
Version 4.4.2
Apps Engine Version 1.30.0
Node Version v14.19.0
Database Migration 254 (February 11, 2022 3:52 PM)
MongoDB 4.2.18 / wi

[2022-02-11 22:48] supportdesk-si opened #24486 "Invalid or expired invite token from private channels"
After upgrading from 4.0 to 4.4.2 invite links from the private channels stopped working

![image](https://user-images.githubusercontent.com/51302932/153681010-2d5fe961-f3b3-4879-a96c-a94109f90512.png)

Changing registration to private, public or disabled (as proposed in some places) makes no difference.

Version

4.4.2

Deployment ID

******************5j6n

Apps Engine Version

1.30.0

Node Vers

[2022-02-11 23:50] robbyoconnor commented on #24347
To be clear: it doesn't make it not work, just screams when migrations are run

[2022-02-12 00:38] Cob0ld commented on #24444
we have the same problem with version 4.4.2

[2022-02-12 01:55] arifulislamat opened #24487 "I am having trouble to setup Rocket.Chat with a remote MongoDB (TLS)"
## I am having trouble to setup Rocket.Chat with a remote MongoDB (TLS)

What i am trying to accomplish:

***Setup Rocket.Chat container with docker-compose and connect Rocket.Chat with a manged secure MongoDB instance running on DigitalOcean.***

I have found helpfull docs at: https://docs.rocket.chat/quick-start/installing-and-updating/simple-deployment-methods/docker-and-docker-compose/docker-c

[2022-02-12 01:58] supportdesk-si commented on #24444
There is a note in one of the links that it was addressed in 4.4.4 but what a bummer.  You can't get it via releases link and one would say enterprise environments with this type of quality control should really be thinking twice. Just 2 cents

[2022-02-12 07:39] J-Ankit2020 commented on #24460
@v1adislav can I work on this

[2022-02-12 07:44] J-Ankit2020 commented on #24482
@Himanshu664  I would like to work on this issue

[2022-02-12 08:04] J-Ankit2020 commented on #5453
I would like to be assigned on this one.

[2022-02-12 11:22] 1castro opened #24488 "v4.3.3 --> v4.4.2 upgrade errors"
### Description:

several errors is displayed when upgrading from v4.3.3 to v4.4.2

### Steps to reproduce:

sudo systemctl stop rocketchat
sudo rm -rf /opt/rocket/Rocket.Chat
sudo n install 14.18.2
curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
tar -xzf /tmp/rocket.chat.tgz -C /tmp
cd /tmp/bundle/programs/server && npm install
sudo mv /tmp/bundle /opt/rocket/Rocket.C

[2022-02-12 15:29] J-Ankit2020 commented on #24417
Can I take this issue

[2022-02-12 16:07] supportdesk-si commented on #16852
This needs to be reopened for 4.4.2  regardless of the registration settings, the invalid token messages always shows up

[2022-02-12 17:13] ali-alhaidary commented on #24488
https://github.com/RocketChat/Rocket.Chat/issues/24446

[2022-02-12 23:47] lovekyleman commented on #24488
![image](https://user-images.githubusercontent.com/93461213/153732368-f1f90f7b-b11a-4f6e-a4db-0ace9eedc84e.jpeg)
We got a lot of errors after upgrade node from V12 to V14,
Using node V12 everything is good, but can't start Rocket.Chat 4.4.2,
Node V14, got a lot of errors, don't know how to fix this, but Rocket.Chat works fine.
Does anyone know how to fix this?
Thanks

[2022-02-13 01:32] lovekyleman commented on #24446
![image](https://user-images.githubusercontent.com/93461213/153734416-fd45d490-ba81-408d-92ad-683bb1a69925.jpeg)
Downgrade to Node v12 is fine. But can't start Rocket.Chat.
Node V14, errors, but Rocket.Chat works fine.
Does know how to fix this?
Thanks

[2022-02-13 13:20] ShenQingchuan opened #24490 "OAuth login button didn't show up on login page"
### Description:

### Steps to reproduce:

1. I setup a Github OAuth in Administration panel
2. I refreshed the OAuth settings

### Expected behavior:

Github icon and button show up on my login page

### Actual behavior:

Github icon and button didn't show up on my login page, inspect with F12 DevTools also couldn't find it.

### Server Setup Information:

- Version of Rocket.Chat Server:  v4.4.2

[2022-02-13 23:06] Am0rphous commented on #7339
Same

[2022-02-14 03:27] Himanshu664 commented on #24448
@Ayush01729 This is default feature admin has rights to change to username,you can close this issue

[2022-02-14 06:58] miarosemathews opened #24492 "Unable to access once setup is complete"
Whenever i go to the url i set during setup i just get a blank page that has a grey background. I cannot access any of the app.

<img width="1119" alt="Screen Shot 2022-02-14 at 1 56 47 AM" src="https://user-images.githubusercontent.com/63470220/153814987-fc7cf7dc-9824-4f21-acf5-bd31fdec9a32.png">

[2022-02-14 07:08] NeXT405 commented on #24460
Any news on this??

[2022-02-14 07:55] ankar84 commented on #24486
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/24444

[2022-02-14 08:02] kelvinblade opened #24494 "Is upgrading from rocket chat 3.6 to 3.15.1 officially supported?"
We are trying to upgrade mongo from 4.0 to at least 4.2. We understand that the lowest version to support mongo 4.2 is rocket chat 3.15.1. Our rocket chat is currently 3.6.

1) Is there any official documentation on which versions of rocket chat can be safely upgraded to which versions?
2) Does anyone know if upgrading from rocket chat 3.6 to 3.15.1 is officially supported?

Thanks.

[2022-02-14 08:52] KraMorK opened #24495 "Blocking a user in LDAP does not disable the account in RocketChat"
### Description:

Blocking a user in LDAP does not disable the account in RocketChat
the user was blocked a week ago, LDAP synchronization works and was successful, but the account works from the computer where the user was authorized before blocking

### Steps to reproduce:

1. Customize LDAP integration(I use Microsoft AD)
2. Login LDAP account
3. Block users(in LDAP)
4. Force integration
5. Acc

[2022-02-14 09:55] ankar84 commented on #24495
That feature persist in LDAP integration in RocketChat server since 4.0 version.
But only with Enterprise license.

[2022-02-14 14:59] FrankDaze commented on #20546
I still have the same problem with a jpg in Rocket.Chat V4.4

[2022-02-14 16:27] g5pw commented on #24460
I also have an Internal Server Error during OAuth login with Github after upgrading, I can see the following in the logs:

[code]

[2022-02-14 16:42] Christopher-fr opened #24497 "Show / Hide on tray icon is too slow to toggle"
### Description:

The Hide / Show action is too slow to toggle. If you "hide" the application, you have to wait about 2 seconds for the command to become "Show".  So, if you click using the left button very quickly several times in a row on the tray icon, you won't be able to display  the app. Same problem if you right-click, but you have to be fast to see that the contextual menu item hasn't chan

[2022-02-14 17:02] wreiske commented on #20546
### Example 1 with giphy

![image](https://user-images.githubusercontent.com/6295044/153910663-a3b6763a-a22a-42ff-a3e5-54085b5c95f1.png)
![image](https://user-images.githubusercontent.com/6295044/153910720-e699e14a-58c9-4d1b-91ac-38276af58d1a.png)

### Example 2 with image embeds from API
![image](https://user-images.githubusercontent.com/6295044/153910957-4fecf629-dabc-49fa-ac43-17cc6efcedfd.png)

[2022-02-15 02:36] ajtatum commented on #21926
Just ran into this issue...

[2022-02-15 06:06] v1adislav commented on #24460
@sampaiodiego mb fix this problem?

[2022-02-15 07:19] nishant23122000 opened #24511 "[IMPROVE] Validate Register Password"
### Description:

When a new user manually register then we should prompt the user to type a strong password.

### Steps to reproduce:

1. Go to /home
2. Register new user
3. type any weak password

### Expected behavior:

We should display real-time error message whenever users types the weak password. For example, if the password does not contain any special character, we can display an appropri

[2022-02-15 07:44] Jaiharishan commented on #24426
Oh, ok, I got it. Thank you for letting me know about this.

[2022-02-15 07:46] Jaiharishan commented on #24287
Yeah, now I got it. Thank you for letting me know this!

[2022-02-15 07:49] Jaiharishan commented on #24490
Could you send a screenshot or video depicting it?

[2022-02-15 07:54] Dnouv commented on #23216
Hello @debdutdeb
Is this issue available to work on or are you working on it. If it is, please let me know, I would like to work on it.
Feel free to comment.
Thank you!

[2022-02-15 08:34] ankar84 commented on #24497
@debdutdeb these should be moved to Electron repo https://github.com/RocketChat/Rocket.Chat.Electron/issues

[2022-02-15 09:01] #24511 closed

[2022-02-15 10:42] kitich commented on #24444
We have the same issue.

INFO:

[code]

[2022-02-15 11:13] ankar84 opened #24512 "Long mongodb queries in 4.X versions"
### Description:

This issue is to @sampaiodiego and other back-end team members to consider.
It's about optimizing some back-end stuff like queries and indexes.
Previous similar issue was https://github.com/RocketChat/Rocket.Chat/issues/23052 and it was fixed in 3.18.1

But now in 4.X versions I see some long queries. Not so long, like it was before, but they definitely could be optimized by team

[2022-02-15 11:49] northway commented on #24512
+1

We've having the same logs and the UI is pretty much unresponsive.

[code]

I don't know if it's related, but on the client side, we are seeing this:

[code]

### Server Setup Information:

Version of Rocket.Chat Server: 4.4.2
Operating System: Debian 10
Deployment Method: docker
Number of Running Instances: 2
DB Replicaset Oplog: Enabled
NodeJS Version: v14.18.2
MongoDB Version: 5.0.6

[2022-02-15 13:06] fdellwing commented on #24494
Updating 3.6 to 3.15.1 should not be a problem (but please update to 3.18.5 for security reasons). I'm not aware of any breaking changes in between those.

[2022-02-15 13:29] Vringe commented on #23932
Still present in 4.4.2

[2022-02-15 15:08] chrisi51 commented on #21630
any progress?!

Its really annoying to have those custom status set and nobody can use it for a really long time now because the status is not set properly.

[2022-02-15 16:52] Himanshu664 opened #24514 "[BUG] Needed error message in custom sound"
### Description:
Whenever we only write name of custom sound in and do not upload custom sound it shows error 'undefined'.
### Steps to reproduce:

1.  Go to Admin
2.  Click on Custom Sound
3.  Click on New

### Expected behavior:

https://user-images.githubusercontent.com/76220055/154109264-8b56c44b-0c17-4cc6-9205-0c7e81e97bff.mp4

### Actual behavior:

https://user-images.githubusercontent.com/7

[2022-02-16 01:26] zwnk commented on #23660
i tried to update to 4.4.2
same error ...
i tried http only nginx, same error. i don't understand what is causing the issue.

[2022-02-16 01:40] lightweight commented on #23660
This needs the attention of someone with deep MongoDB and Rocket.Chat knowledge, e.g. on the core team. I still haven't upgraded from 4.0.6... I'm getting pretty frustrated. This seems to be affecting a lot of people. I went to quite a bit of trouble to upgrade my MongoDBs from 4.0 to 4.4 as instructed, but now can't upgrade R.C...

[2022-02-16 01:44] zwnk commented on #23660
@lightweight you are having the same issue?

[2022-02-16 01:46] lightweight commented on #23660
Yup. I reported it #23836

[2022-02-16 02:03] zwnk commented on #23660
I will take a look if I can downgrade from 5 to 4.x.

[2022-02-16 02:15] lightweight commented on #23836
This needs the attention of someone with deep MongoDB and Rocket.Chat knowledge, e.g. on the core team. I still haven't upgraded from 4.0.6... I'm getting pretty frustrated. This seems to be affecting a lot of people. I went to quite a bit of trouble to upgrade my MongoDBs from 4.0 to 4.4 as instructed, but now can't upgrade R.C...

I'm going to try back-grading the MongoDB on one of my instances

[2022-02-16 04:21] Rajdip019 commented on #6286
Hey, Can you assign me on this one?

[2022-02-16 07:18] serviceman commented on #23483
Still happening on 4.4.2

[2022-02-16 10:03] husim0 commented on #23660
I'm using mongodb 4.2 and can't upgrade. Indeed the failure occured soon after my mongodb upgrade from 4.0 to 4.2

[2022-02-16 10:51] serjk commented on #12793
Hi @geekgonecrazy

Do I understand correctly?  There is no way to change LiveChat user status via REST API.
I've checked user & agent APIs. Unfortunately I didn't find any ways to do it except ddp client.

[2022-02-16 12:54] serjk commented on #12793
Hi @geekgonecrazy,

It's possible to set "available" status using this api by LiveChatAdmin.
https://github.com/RocketChat/Rocket.Chat/blob/develop/app/livechat/imports/server/rest/users.js#L68
Still agent without LiveChatAdmin role can't change own status. It's so weird.

[2022-02-17 06:01] #24352 closed

[2022-02-17 07:51] debdutdeb commented on #24494
Thanks for replying @fdellwing :)

[2022-02-17 07:51] #24494 closed

[2022-02-17 07:52] debdutdeb commented on #24492
Hi, please fill the issue template, we can't help unless we have all the information.

[2022-02-17 10:28] nishant23122000 opened #24523 "[IMPROVE] No Scroll Down Button Available"
### Description:

I was showing all the past messages of the GSoC 2021 channel and I found that there is no button that redirects me to the bottom message directly. When there are new messages then the "new message" button will pop up.

### Steps to reproduce:

1. Go to any room Which contains many messages
2. Scroll up inside messages
3. Then if you want to scroll the bottom message, there is no

[2022-02-17 14:05] #24448 closed, assigned to nobody

[2022-02-17 14:18] himpierre opened #24525 "[Feature Request] mentioning a team as a non member of the team"
Hello fellow developers.

Currently, only team members can mention teams. Unless it is a public team. But it would be very nice if also non-members could mention private teams. Here's the scenario. There is a security team that needs to be mentioned in a public channel about a security issue. A simple @security-team should be sufficiant to alert all security staff to this issue. Can we please have

[2022-02-17 15:12] nishant23122000 commented on #24523
Hi @SanjaySinghRajpoot great to see that you are interested to work on this issue, but i already fixed it. You can check the logic part and let me know if you need any help from myside. #24526.

[2022-02-17 18:01] #24227 closed

[2022-02-18 01:04] ahayes commented on #20589
FYI, approx. one year ago while attempting to migrate to another chat system, I was working with an export of our rocket chat instance from after this issue came up and I observed that the `dump/parties/users.bson` file was 0 bytes. This was not the case with a dump from before this issue appeared.

I don't know if this issue persists or not, but I have moved on so don't keep it open on my account

[2022-02-18 05:14] ankar84 commented on #22239
@milton-rucks my point, that with today conditions of teams feature works in Rocket.Chat it's not usable and not convenient at all!

So, why you still call them **public** in that case?

Another showstopper for teams feature is that you can add to your team **only your own** public channels and private groups, another words only chats  you create and where you owner. You can't add general purpose

[2022-02-18 06:38] LittleITworld commented on #23989
any updates?

[2022-02-18 08:08] t4nec0 opened #24539 "API Rate Limit bypass `api-bypass-rate-limit` not respected"
### Description:

We have a system that creates groups, assigns users to those groups, uploads images to chat etc. by using a Chat Bot.
After 10 rapid calls to the HTTP APIs it's been blocked by the global Rate Limiter which by default has `Default number calls to the rate limiter` (`API_Enable_Rate_Limiter_Limit_Calls_Default`) set to 10.

By checking the bot has  `api-bypass-rate-limit` permissi

[2022-02-18 10:08] sim-pml opened #24540 "Unable to disable Update Checker (RC 3.18.5)"
### Description:
In Administration settings -> General , we can't disable the Update Checker , despite having appropriate permissions to do so :

We want to disable this as we do update our instance (Sticking with LTS) , but admins get annoyed with regular update notifications.

(For users in the Admin Role set via Permissions then went to settings)
![image](https://user-images.githubusercontent.c

[2022-02-18 12:18] rymek commented on #24444
Same issue here:
`Deployment
Version
4.4.0
Deployment ID
CD2sgexXT6yLzkAh6
Apps Engine Version
1.30.0
Node Version
v14.18.2
Database Migration
253 (February 11, 2022 9:48)
MongoDB
4.4.5 / wiredTiger (oplog Enabled)
Commit Details
HEAD: (f32fdfb36)
Branch: HEAD`

[2022-02-18 12:30] sandreddu commented on #23143
We have the same issue. Rocket.Chat server version 4.3.1. Any idea of the reasons of such behavior?

[2022-02-18 12:49] Sayan-dev commented on #24525
If this feature is approved, I would like to work on this

[2022-02-18 19:47] andrewclapham opened #24545 "Accumulating unactionable update notifications"
Hi team, I have 5 "update now" notifications stacked on top of each other at the top of my rocket chat instance.

Every time I click the notification to upgrade, there is no actionable step to perform the upgrade.

e.g. the notification takes me here:

https://github.com/RocketChat/Rocket.Chat/releases/tag/4.4.2

What do I do now? Do I `scp` the zip file to my server? What about the existing files

[2022-02-19 04:05] 714273725 opened #24547 "4.4.2 Unable to create admin account and finish setup-wizard with standalone server when using docker to install"
### Description:

4.4.2 Unable to create admin account and finish setup-wizard with standalone server when using docker to install 。
I wonder what's wrong or omitd in my case

PS:I didn't install Node.js in my machine,should i?

### Steps to reproduce:

1. download docker-compose.yml from https://go.rocket.chat/i/docker-compose.yml and modify some values , see this image
![image](https://user-imag

[2022-02-19 12:34] nishant23122000 opened #24548 "[BUG] Allowing Administrator To Edit App"
### Description:
Is there a point to allow administrators to edit any apps inside the user tab?

### Steps to reproduce:

1. Go to the Admin tab
2. Go to users
3. If you already installed any apps then you will find apps inside the user section
4. It allows to edit the apps also

### Expected behavior:

I think we should disable the edit button for the apps(.bot). There is no sense to provide an e

[2022-02-19 12:57] Sayan-dev commented on #24548
Ok working on it

[2022-02-19 13:14] nishant23122000 commented on #24548
First needs to discuss with others, still there is some doubts.

[2022-02-19 14:40] Sayan-dev commented on #24548
OK I am available, no issues.

[2022-02-20 05:59] mahyarkarimi opened #24550 "Video and audio call in omnichannel"
Video and audio conferencing using Webrtc in omnichannel has issues

### Steps to reproduce:
1. enabled web rtc in settings
2. enabled audio and video calls in omnichannel settings
3. make a call with agent to widget

### Expected behavior:

The settings() function in `app/livechat/server/api/lib/livechat.js:110` raises an exception due to not having input parameter and reading businessUnit of und

[2022-02-20 15:18] avaflx opened #24551 "Rocketchat 4.4.2 can not send e-mails"
### **Description:**
rocketchat to version 4.4.2 can not send e-mails

### **Steps to reproduce:**
Try to send any notification or other e-mail message

**Expected behavior:**
E-mails are sent

### **Actual behavior:**
E-mails are not sent

### **Server Setup Information:**
Version of Rocket.Chat Server: 4.4.2
Operating System: Linux
Deployment Method: docker
Number of Running Instances: 1
Client

[2022-02-20 15:19] Sayan-dev commented on #24419
Does this needs work or is it fixed?

[2022-02-20 15:30] Sayan-dev commented on #24154
Ok looking into the issue

[2022-02-20 18:14] Sayan-dev commented on #24115
Are we still on this? Then I can proceed with the UI change

[2022-02-20 18:48] emmguyot-adscom commented on #8251
Hi,
Any news about this bug ?
@BilalAlam173 I understand your code and it works well as a standalone, but the problem is where could we put that code in Rocker.Chat ?
The problem is that with React the DOM changes regularly to we should add the event each time the user interacts with Rocket.Chat. So it isn't quite simple.

As anyone tried to plug some code, such as the one above, in the React Rout

[2022-02-20 20:03] try-catch-stack commented on #24115
Appreciate your interest @Sayan-dev ! But we already have a [PR](https://github.com/RocketChat/Rocket.Chat.Fuselage/pull/645) for refactoring of MultiSelect component , that can be used here in place of autocomplete component . You can however have a discussion with the team and work on migrating to MultiSelect after the above PR is merged in the Fuselage repo.

[2022-02-21 05:31] ankar84 opened #24554 "[Bug][Jitsi] Inconsistent behavior of web and mobile client when `Enable room name hash` disabled"
### Description:

We see inconsistent behavior of web client and mobile client in generating of Jitsi call URL with option `Enable room name hash` disabled in Admin UI for some channels.

So, cc @diegolmello @ggazzo

### Steps to reproduce:

1. As Administrator go to `Admin UI - Video Conference - Jitsi`
2. Turn off `Enable room name hash` option
3. As user create chat with non Latin name, like Cy

[2022-02-21 05:57] ankar84 opened #24555 "[Bug][LDAP][Enterprise] Avatars not updated"
### Description:

@pierre-lehnen-rc to consider

Avatar sync background job don't sync avatars.
I enabled `Avatar Background Sync` in `Admin UI - LDAP - Enterprise - Background Sync` and enabled debug level of logs.
I don't see avatar sync event in logs at all, I see only update of custom fields on `LDAP_AvatarSync` cron job

### Steps to reproduce:

1. Update all users with LDAP and get `Username

[2022-02-21 07:16] AllAstronauts commented on #21126
With the latest version of RC (Ubuntu Snap install), a tweaked version of my hack from last year of using the text var (this time  using the initial text var, not the one within the attachments structure) and pushing a manually created html <audio> call works again - but ONLY for desktop browsers. It does not parse in the mobile app. Not ideal but that counts as working for 99.99% of my use needs

[2022-02-21 07:45] BastianTrifork commented on #8568
Any updates on this? I'm still having this issue

[2022-02-21 08:26] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #23027
What do you mean by this?

[2022-02-21 08:26] aadarsh-kumar-tiwari commented on #23702
As I see the reference above, the issue is resolved, @kulkarnigaurav38  can you close this issue.

[2022-02-21 10:11] franck-eyraud commented on #22280
Hello, I encountered an issue with this option, maybe you already know it.

I enabled it without knowing what it was supposed to do, and the result was that OTR sessions were not working for me. All the messages (even mine) were shown as encrypted. I spent some time to find out that it was due to this option enabled days ago and which I didn't notice what it was doing.

Is there a link where to un

[2022-02-21 10:57] axkibe commented on #24486
I tried to figure out if the issue can be easily fixed..
I'm failing because I don't understand how this should work:

https://github.com/RocketChat/Rocket.Chat/blob/develop/client/views/invite/SecretURLPage.tsx

There seem to be only two outcomes to the query, either is loading, or if not loading the invalid URL message is displayed. There is no success route? From debugging, onSuccess from the q

[2022-02-21 11:12] axkibe commented on #24444
I tried to figure out if the issue can be easily fixed..
I'm failing because I don't understand how this should work:

https://github.com/RocketChat/Rocket.Chat/blob/develop/client/views/invite/SecretURLPage.tsx

There seem to be only two outcomes to the query, either is loading, or if not loading the invalid URL message is displayed. There is no success route? From debugging, onSuccess from the q

[2022-02-21 12:56] himpierre commented on #24351
Hello again. :)

Is the "call already ended" problem back again with 4.4.2? I double checked the clocks on the system and there is no difference between them. @ankar84 could you be so nice and confirm or decline the problem? Thanks!

[2022-02-21 13:39] ImaCrea commented on #24375
Thanks, it fixed it for us <3

[2022-02-21 13:50] ankar84 commented on #24351
If it is so, you need yo start another issue with reproduce steps.

And close that issue

[2022-02-21 16:46] TBG-FR commented on #23593
When will this be used in RocketChat ? Any clue on the version number ? We still see this on 4.4.2

[2022-02-21 16:46] TBG-FR commented on #23867
Duplicate of #23593

[2022-02-21 20:08] himpierre commented on #24351
Seems to be a desktop client problem this time.
https://github.com/RocketChat/Rocket.Chat/pull/23904#issuecomment-1047148888

[2022-02-21 20:08] #24351 closed

[2022-02-21 21:11] pkroll61 commented on #21157
Ran into this when we upgraded to 4.4.1. A quick work around I found was adding some layout custom css.

`div.rcx-css-viuaf9 {
  margin-block: 0.25rem !important;
  width: 100% !important;
  max-width: 100% !important;
  display: flex !important;
  overflow: hidden !important;
  flex-direction: column !important;
}`

[2022-02-21 21:58] hackercowboy opened #24569 "Endless connection loop during login when using cloud.mongodb.com shared instance (Mongodb V5.0.6)"
### Description:

For our Rocket.Chat we use a shared M2 instance at https://www.mongodb.com/cloud. After upgrading Rocket.Chat from 4.3 to 4.4.2, we can no longer log into Rocket Chat. We only see a flicker of "Waiting for Server.." and "Connecting...".

I was able to reproduce the problem with a fresh new MongoDB instance on cloud.mongodb.com and new Rocket.Chat docker container. Here the same p

[2022-02-21 22:52] racquetmaster opened #24570 "Omnichannel: Add toPhone Number to custom fields from twilio sms integration"
When an SMS comes in from Twilio, it grabs the city, state, and country and updates the room information. It would be nice if it included the toPhone as well.

We have multiple branches around the country. Each branch has a phone number. Customers can text into those numbers and they all get passed into rocket.chat omnichannel. If we could see the phone number that they are texting, we would know

[2022-02-22 03:02] ShamimIslam commented on #18362
Having this problem on v4.00 of RocketChat. Unable to add 2FA via Google Authenticator - always comes back with invalid code on numbers typed after using QR code or using the key.

[2022-02-22 03:47] #23702 closed

[2022-02-22 06:29] individual-it commented on #23788
happened to us today, to get new messages the user had to reload.
Restarting the server fixed the issue, let's see for how long

[2022-02-22 06:41] KhadishaKudys commented on #24570
May I work on this issue, please?

[2022-02-22 07:00] #24115 closed

[2022-02-22 07:38] pauloriply commented on #21237
@dudanogueira Any updates about this issue?

[2022-02-22 08:47] brknapik commented on #11649
Issue is still also in 4.1.4

[2022-02-22 11:20] Sc0th opened #24576 "screenshare - documentaion outdated"
This guide is no longer accurate:

https://docs.rocket.chat/guides/administration/admin-panel/integrations/deadsimplescreensharing

As this link no longer functions:

https://app.deadsimplescreensharing.com/webhook/rocketchat

I have been unable to find an alternative working link.

[2022-02-22 12:04] jeanfbrito commented on #11649
We are investigating this issue on Desktop App. If it happens outside the desktop app, please let us know.

[2022-02-22 12:22] KodoGit commented on #11649
Desktop Browser version too.

[2022-02-22 12:26] redRolf opened #24579 "View fails to load when trying to send a message to a new user."
**Describe the bug**
- Search for a User you have not messaged before.
- Click on the User with the intent of sending him a message.
- The interface will now not load. It will stay blank, as if it is stuck.
- When reloading the view with `⌘ + r` the view will load correctly and a message can be sent normally

What operating system and which version?
- MacOS 12.2.1
Which version of Rocket.Chat (Ser

[2022-02-22 12:53] bseclier commented on #11649
Thank you @jeanfbrito
As I said in https://github.com/RocketChat/Rocket.Chat/pull/23904, I have no problem with firefox nor chromium, only in the desktop app.

[2022-02-22 13:15] redRolf commented on #24579
That works for me thank you for triaging 🙏

[2022-02-22 17:54] dudanogueira commented on #24569
Hi!

Can you state a version where it worked? All versions prior to 4.3 worked?

[2022-02-22 18:37] dudanogueira commented on #24551
Hi!

Please, check your SMTP settings. The message is saying that the connection to the SMTP server timed out.

Here you can see how to test your SMTP using telnet on both windows and linux:
https://www.sparkpost.com/blog/how-to-check-an-smtp-connection-with-a-manual-telnet-session/

[2022-02-22 19:57] hackercowboy commented on #24569
Sorry, that was a misleading info. I tested it also with 4.3 and had the same problem.

I thought it was caused by the update of Rocket.Chat, but now I know that the problem exists since MongoDB Atlas upgraded their clusters to MongoDB 5.0.6.

[2022-02-22 20:36] aylabbs opened #24584 "Twilio Omnichannel Duplicate Rooms"
### Description:

Some incoming Omnichannel SMS (Twilio) messages do not automatically appear in the existing Room for that phone number when one is available and instead create a new Room for the same phone number.

### Steps to reproduce:

Its is unclear what causes this behavior. Sometimes this happens and sometimes it does not.

### Expected behavior:

Once a Room is created for a given incomi

[2022-02-22 22:43] hackercowboy commented on #24569
Did some debugging and finally found out that the problem was due to the missing clusterMonitor and admin role on our database user, we only had readWrite.

Unfortunately, no error gets displayed in the logs. It seems that everything send to console.error is currently not displayed, which is why the error message from app/utils/server/functions/getMongoInfo.js was not visible to us.

Will try to f

[2022-02-22 22:57] StarWhiz commented on #24160
Just wanted to add that this does not work if you already have an existing data/db folder that was on 4.0 (mmapv1). So deleting the data folder and running `docker-compose up -d` will work.

If you want to keep your old data instead of deleting.

You will need to migrate the database from mmapv1 to WiredTiger as documented here: https://docs.mongodb.com/manual/tutorial/change-standalone-wiredtiger

[2022-02-23 00:28] Sc0th opened #24593 "screen share no longer possible"
The guide for configuring screen share no longer works as the required link is dead:

Guide - https://docs.rocket.chat/guides/administration/admin-panel/integrations/deadsimplescreensharing
Dead link - https://app.deadsimplescreensharing.com/webhook/rocketchat

Is there a new method or is this functionality no longer an option?

[2022-02-23 03:04] Himanshu664 opened #24588 "[BUG] Searchbar more options menu is not working"
### Description:

when we click on searchbar and then click on message menu it is not functioning.

### Steps to reproduce:

1.  Go to Search
2.  Click on message menu

### Expected behavior:

https://user-images.githubusercontent.com/76220055/155254795-b227276e-7349-48ea-9724-a1f870b61fbb.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/155254785-32a6e1b4-36c9-4355-82

[2022-02-23 04:37] ankar84 commented on #24588
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/22146

[2022-02-23 04:50] ankar84 commented on #24260
Update. Recently we added more CPUs to our mongodb server and after that I didn't see that issue, all restart process goes without any issues, like is was before of 3.18.x versions.
So, maybe the reason if that issue is related to database performance?

[2022-02-23 04:52] ankar84 commented on #24579
Related to https://github.com/RocketChat/Rocket.Chat/issues/24175

[2022-02-23 11:31] bombaata commented on #24350
Same issue here.
Push notifications are also unavailable.

[code]

RC 4.4.2

[2022-02-23 13:30] nishant23122000 opened #24591 "[IMPROVE] Not Showing Message In Quote Section For File"
### Description:

### Steps to reproduce:

1. Go to any room
2. Quote some messages
3. If you Quote a file then you will only see the username inside the quote section, not the file name.

### Expected behavior:

If the user quotes any file, then we should show the file name inside the quote section.

### Actual behavior:

Showing black inside quote if we mention any file.

https://user-images.git

[2022-02-23 22:04] lightweight commented on #23836
Ok, I managed to get the upgrade to work - from 4.0.6 to 4.4.2.

I downgraded Mongo to 4.2 from 4.4, and attempted the upgrade. I got another error in app.js, but this time it was different, and it turns out related to #24061 and I ran the changes recommended there in my rocketchat db on Mongo:

[code]
as it turns out I did have "Direct_Reply_Enable" set to true...

After that, I was able to run t

[2022-02-24 07:28] ankar84 commented on #23680
Actually I see this on pretty recent version 4.3.3
I guess it's related to amount of user messages and to some timeout on delete operation.
I DevTools I see this
![image](https://user-images.githubusercontent.com/4023037/155478078-2f03a536-44cf-4f84-9360-1be0868e3842.png)

[2022-02-24 12:17] emikolajczak commented on #24089
Hi, any plans to fix it?

[2022-02-24 12:38] dudanogueira commented on #24465
Hi! PR https://github.com/RocketChat/Rocket.Chat/pull/24585 should fix this.

[2022-02-24 12:39] dudanogueira commented on #23923
PR https://github.com/RocketChat/Rocket.Chat/pull/24585 should fix this.

[2022-02-24 12:39] dudanogueira commented on #23808
PR https://github.com/RocketChat/Rocket.Chat/pull/24585 should fix this

[2022-02-24 13:03] Himanshu664 opened #24604 "[BUG] No need of sidebar menu tooltip"
### Description:

No need of sidebar menu it makes things complicated.

### Steps to reproduce:

1.  Go to Sidebar Menu
2.  Click on Sidebar Menu

### Expected behavior:

https://user-images.githubusercontent.com/76220055/155529083-742a26da-b259-4e75-aded-b4235c32eead.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/155529077-fef6b8bc-bc5e-4403-aa5a-b48c4b2528f4.mp4

#

[2022-02-24 14:28] sthaydn commented on #23947
I have tweaked some bits from above. Let's see if these settings are better.

[2022-02-24 15:37] serviceman opened #24608 "Unable to upload images on iphone using web client (NOT APP) - Desperate"
### Description:

I reported this bug a while back, many versions ago and it is still an issue, so I am reporting it again now. This issue is also happening on open.rocket.chat. With the current release of rocket chat you are unable to upload photos on IOS on the browser version of the client. I have a rather large deployment and I am desperate to get this fixed (even if I have to pay). Can someon

[2022-02-24 16:50] aylabbs commented on #24584
Can anyone point me to where any of this logic is handled in the code. I could try to debug if I knew where to start...

[2022-02-24 17:59] josebarrientos1 opened #24611 "PROBLEM WITH SERVERS"

[2022-02-24 18:13] dudanogueira commented on #24611
Please, provide the informations so we can help you:
https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md

[2022-02-24 18:13] #24611 closed

[2022-02-25 01:24] serviceman commented on #24478
The only way I have been able to fix this issue is to disable caching via apache when I rewrite it remove the port number using mod headers.

[2022-02-25 03:17] sofiabrown commented on #21941
any resolution to this ?

[2022-02-25 05:35] ankar84 commented on #24608
Confirm that issue on open.rocket.chat

[2022-02-25 05:39] ankar84 commented on #24608
@dudanogueira @debdutdeb please send that issue to front end team
Thank you!

[2022-02-25 08:01] markus07 opened #24617 "2FA notification window do not popup when editing user"
### Description:
When trying to edit the user, got the error message "Undefined" or the screen becomes dark, unresponsible.
The same happens via the application or via the web.

### Steps to reproduce:

1. Go to Administration -> users
2.  Try to edit any user.

### Expected behavior:

2FA popup window will appear and input one-time authentication code

### Actual behavior:

The screen is the dark

[2022-02-25 08:06] charlyrock opened #24618 "Chat Alert Sounds for members of different departments / for false departement"
### Description:

We have created two departments in omnichannel and assigned different agents to the departments accordingly. When integrating the live chat into the website, we used two different websites, on each of which we specified a department. Users should not be able to choose the department. Since they are already on the relevant website of the respective department.
Unfortunately, howev

[2022-02-25 08:38] Gummikavalier commented on #24478
@serviceman That indeed would work.

But did I understand correctly that you'd then have to switch the port numbers on the Apache reverse proxy's client side to something else than the usual 443? Otherwise the clients would not see the difference in the load path?

[2022-02-25 08:39] RavuAlHemio commented on #18264
I'm trying to resolve this in #23990; may I request a review?

[2022-02-25 13:36] Himanshu664 opened #24620 "[BUG] Needed validation for Fullname in Add User"
### Description:

Needed validation in full name as anyone can fill numeric number in fullname.

### Steps to reproduce:

1. Go to User
2. Click on Add User

### Expected behavior:

https://user-images.githubusercontent.com/76220055/155724307-07a6c6a9-e9ce-434d-b770-831d68469526.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/155724281-568e5d00-24b5-4e0d-9707-c8c0191d

[2022-02-25 15:29] rtest12 commented on #20775
Still no solution?

[2022-02-25 18:33] Kunalvrm555 opened #24627 "[BUG] required emoji picker for custom status"
### Description:

While updating the custom status, we can add emoji by using the custom keywords which is rendered as well but there is no emoji picker which can be used to insert a suitable emoji.
### Steps to reproduce:

1. At the homepage, click on the user profile to get the dropdown menu.
2. Click on 'Custom Status'.
3. Add an emoji (with optional text) by using custom keywords of the form *

[2022-02-25 19:20] dudanogueira commented on #24618
Hi!

Are you testing with agents logged in on different browsers, or actual agents (each on it's computer), or same browser for different agents?

The reason I ask, is that this may interfere on those tests. Agent A receiving two new chat bell sound and the other none may be a hint for this.

Thanks!

[2022-02-25 20:49] rtest12 commented on #2327
How can i adapt this for sso (keycloak) ...
So far there is no proper solution for this issue.

[2022-02-26 01:02] sthaydn commented on #24446
So I have it working finally. I don't really know what is the solution, but https://docs.rocket.chat/quick-start/installing-and-updating/other-deployment-methods/manual-installation/updating brought me on the right path. Maybe you should also install "make" and please be assured you really have node 14.x installed AND active.

[2022-02-26 10:29] ali-alhaidary commented on #24446
Thanks, worked for me as well 4.3.3 to 4.4.2
I think the issue was installing Node 14.18.2 (as stated in the release)  and not 14.0.0 (as stated in the update), otherwise, all steps were the same...

[2022-02-26 10:29] #24446 closed

[2022-02-26 10:31] ali-alhaidary commented on #24488
see https://github.com/RocketChat/Rocket.Chat/issues/24446

[2022-02-26 10:32] ali-alhaidary commented on #24488
@1castro see https://github.com/RocketChat/Rocket.Chat/issues/24446

[2022-02-26 10:32] ali-alhaidary commented on #24488
@lovekyleman see https://github.com/RocketChat/Rocket.Chat/issues/24446

[2022-02-26 10:54] ali-alhaidary commented on #23599
@ggazzo still in 4.4.2

[2022-02-26 11:11] Himanshu664 opened #24633 "[BUG] Needed save button validation in Custom Emoji"
### Description:

Save button should be disabled when name is empty.

### Steps to reproduce:

1. Go to Custom Emoji
2. Click on New

### Expected behavior:

https://user-images.githubusercontent.com/76220055/155840966-78546664-ccc5-47ec-97ef-7b0b1a49d351.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/155840969-24357865-016f-4e9f-b9f7-a805e0dd06c9.mp4

### Server Set

[2022-02-26 14:56] vnkmpf commented on #24551
I second that. Emails are not correctly sent.
SMTP test email from admin came alright. Before 4.4.2 all emails worked and SMTP was not modified in any way.

[2022-02-26 16:10] nhcarrigan opened #24636 "Discrepancy between docs and docker-compose"
### Description:

This is a small thing, but saw this when looking in to MongoDB version bumps.

In the [documentation](https://docs.rocket.chat/quick-start/installing-and-updating/other-deployment-methods/manual-installation/extras/mongo-versions), the recommended MongoDB storage engine is `WiredTiger`. In the example [docker-compose file](https://github.com/RocketChat/Rocket.Chat/blob/develop/do

[2022-02-27 05:53] 4GAP3 opened #24638 "Animated/GIF Avatars"
Is it possible to somehow have animated avatars in rocketchat in anyway?

Thanks in advance for answering 😄

[2022-02-27 10:33] sneakyx commented on #23718
For me, the question would be:
What is the save upgrade path from 3.18.3 to latest? I want to move rc from a server (based on snap-Installation) to another server (docker compose).
As far as I understood, I should not upgrade more than 2 major versions. That would be 3.18.3->4.0->4.2->4.4
Or would it be safer to use this upgrade path: 3.18.3->4.0->4.1->4.2->4.3->4.4 ?
Thanks in advance!

[2022-02-27 10:43] Karting06 commented on #23718
4.0 -> 4.2 -> 4.4 are minor updates.
So, 3.18.3 -> 4.4 is one major update.

3.18.3 -> 5.0 would be two major updates.

But, I would still make a backup of the database before upgrading ;)

[2022-02-27 17:02] sneakyx commented on #23479
As far as i understood, the `--smallfiles` options have to be removed, right?

[2022-02-28 01:50] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #24639 "Enter key doesn't work when logging in with 2FA"
### Description:

When logging in to your workspace, you may type in your email and password then press the Enter key to log in. However, with 2FA enabled on your account, you must move your mouse to click the "Verify" button in the 2FA window, as the Enter key does not trigger it.

### Steps to reproduce:

1. Progress to the screen where you enter your 2FA code to log in.
2. Try to press the Ente

[2022-02-28 05:19] aadarsh-kt commented on #24627
Hello @dudanogueira I am a new to open source. My research so far is written below.

I navigated to code for the input text field. File name -> EditStatusModal.tsx

![TextInput](https://user-images.githubusercontent.com/72285744/155927534-278bccb5-18b0-44a7-ac3c-4643753224e4.PNG)

The import was ->

![Fuselage Import](https://user-images.githubusercontent.com/72285744/155927804-be7d7e6e-a500-4e27-

[2022-02-28 06:31] Commifreak opened #24872 "[Status change] The status change not consistent between user-list (left) and open chat (heading)"

[2022-02-28 06:35] RanabirChakraborty opened #24641 "503 Service Unavailable No server is available to handle this request."
From today morning 7 AM IST it's showing "503 Service Unavailable
No server is available to handle this request."

[2022-02-28 06:57] yash-rajpal commented on #24641
Please follow the bug template if you are reporting an issue - this information is extremely important for triage:

https://github.com/RocketChat/Rocket.Chat/issues/new?assignees=&labels=&template=bug_report.md

Make sure you follow the guidelines :- https://rocket.chat/docs/contributing/reporting-issues

There seems some sort of a problem in your Rocket.Chat deployment which is not directly relat

[2022-02-28 07:13] #24620 closed

[2022-02-28 07:22] #24641 closed

[2022-02-28 08:02] charlyrock commented on #24618
Hi,

Oh. You were right. I did the tests on the same PC with different browsers. Now in a test with different PCs and browsers it worked. Thanks for the tip.
But that is something that needs to be addressed first. After all, different browsers should also work on one device.

[2022-02-28 08:24] icerootsvw commented on #11598
@homberger sorry for the late response. here is what i entered. I did not get any result. Just a new emtpy line and reload the client with ctrl + shift + r did not fix the issue

`root@bl-rocket:~# rocketchat-server.mongo
MongoDB shell version v4.2.17
connecting to: mongodb://127.0.0.1:27017/?compressors=disabled&gssapiServiceName=mongodb
Implicit session: session { "id" : UUID("7a8f107b-7d13-449e

[2022-02-28 08:37] fdellwing commented on #24636
There are multiple PR working on that exact topic.

[2022-02-28 09:50] leManu commented on #24192
INSTANCE_IP works correctly when set to the hostname that resolve to the right IPv6

[2022-02-28 15:02] Vringe commented on #23876
Same Issue here. Possibly related to https://github.com/RocketChat/Rocket.Chat/issues/31

[2022-02-28 15:21] Kunalvrm555 commented on #21900
I think this issue does not exist any longer.
I'd request @dudanogueira to close this issue.
![image](https://user-images.githubusercontent.com/67605729/156008837-94bd36ea-3201-4378-99d2-2e39629f37f5.png)

[2022-02-28 15:38] RAurelian commented on #11390
Same issue happening to me also
Using v4.4.2 (Ubuntu Snaps)
Is there a work-around or another way to invite all users from one channel to another?

[2022-02-28 16:27] #23808 closed

[2022-02-28 17:51] wolbernd commented on #21533
I can confirm that the problem also persists in RC 4.4.2 . This seems to happen to SAML-Logins as well. I did some digging in a development environment and found out the following:

In https://github.com/RocketChat/Rocket.Chat/blob/a523503195f843f20ee6784039d250d9ad239dee/client/lib/2fa/process2faReturn.ts#L36 the client-side 2fa process is handled (a modal is opened to let the user enter the 2fa

[2022-02-28 21:04] BuggyWilbur commented on #23989
I am experiencing this issue, as well.  I've removed these permissions from all users and still cannot delete the custom permission roles.

[2022-03-01 04:09] ali-alhaidary opened #24654 "'Register a new account' is not localized"
### Description:
'Register a new account' is not localized

### Steps to reproduce:

open rc login page

### Expected behavior:
'Register a new account' is 'تسجيل حساب جديد'

### Actual behavior:
'Register a new account' is 'Register a new account'

### Server Setup Information:

- Version of Rocket.Chat Server: 4.5
- Operating System: ubuntu 18.04 LTS
- Deployment Method: manual
- Number of Runni

[2022-03-01 04:09] ali-alhaidary commented on #24654
![Screenshot 2022-03-01 at 07-02-37 مِـرســال](https://user-images.githubusercontent.com/75235623/156103215-e73e063c-2ff3-4d1c-9d02-be88e79ba42c.png)

[2022-03-01 04:10] ali-alhaidary commented on #23599
still in 4.5

[2022-03-01 08:02] #24027 closed

[2022-03-01 08:52] nishant23122000 opened #24655 "[BUG] Not Resetting User Avatar"
### Description

All fields reset when we click on the reset button but let's say the user changes the avatar, at that time we should also provide that reset feature there.

### Steps to reproduce:

1. Go to account/profile
2. Change user avatar
3. click reset without saving
4. It will not reset the user avatar
### Expected behavior:

When the user clicks the reset button, we should reset the user

[2022-03-01 09:05] rasos commented on #1048
It would be great to be able to send announcements to selected groups or teams with the option to send this also as a push notification.

[2022-03-01 10:50] moell9 opened #24660 "Video Call - show "Ongoing Call""

[2022-03-01 12:18] moell9 opened #24658 "Video Call - show "Ongoing Call""
When I’m in a video call in Jitsi Meet in Teams, Channels or Direct Messages, I want to see who I’m connected to.
Since I'm a member of many teams and channels and there are also many direct messages, it is easy to lose track.

In Skype for example it is called "Ongoing Call".

[2022-03-01 12:56] hmdd81 commented on #24444
Still happens in 4.5.0

[2022-03-01 13:50] fdellwing commented on #24658
Move to https://github.com/RocketChat/feature-requests?

[2022-03-01 19:04] Shivansh2287 commented on #24655
can I work on this issue

[2022-03-01 19:10] Shivansh2287 commented on #24604
hey can I work on this issue

[2022-03-01 21:14] mrfurquim opened #24662 "oAuth with NextCloud dont works"
oAuth nextcloud dont login the call back url dont works
both servers use ldap protocol to log in

https://user-images.githubusercontent.com/80480722/156250845-14e83e3d-b956-4ff9-905c-0de49823c8b2.mp4

[2022-03-01 22:44] emmguyot commented on #8251
Hi,
Here is a patch that works for me.
[code]

[2022-03-02 01:46] gcrocky opened #24663 "need flash window on web when sending message or setting some functions?"
why to flash window when sending message or setting some functions(like: select transfer ) ?

[2022-03-02 01:49] jonapap opened #24664 "Multiple messages missing the user when importing from Slack"
### Description:

### Steps to reproduce:

1. Export messages from Slack
2. Import into Rocket.Chat

### Expected behavior:

All messages are correctly imported, along with their respective user.

### Actual behaviour:

Most imported messages are missing their users.
![image](https://user-images.githubusercontent.com/12878386/156278566-29934519-8f08-463d-ac8c-3cbd6d05bfe9.png)

### Server Setup In

[2022-03-02 05:03] ankar84 commented on #6107
@rodrigok @tassoevan @brunosquadros hello!
Is that still planned?
I think a simple sorting rules could be the solution for that:
1. Owners
2. Moderators
3. Regular chat members
What do you think?

[2022-03-02 05:07] ankar84 commented on #13967
Related to https://github.com/RocketChat/Rocket.Chat/issues/13967
Sorting by roles could be perfect solution for finding owner problem.
@engelgabriel @marceloschmidt @geekgonecrazy @ggazzo what do you think, guys?

[2022-03-02 05:09] ShamimIslam opened #24665 "RocketChat upgrade to 4.5.0 fails"
### Description:
1. Rocket chat running behind nginx proxy since Rocketchat does not force HTTPS redirect
2. 20.04.4 LTS (Focal Fossa)
3. Rocket chat v 4.4.0

### Steps to reproduce:

1. rocketchatctl upgrade-rocketchatctl (current version fails unary operator [)
2. rocketchatctl update

OR
1 follow manual instructions to upgrade (which does not result in the wrong version of node installed)

###

[2022-03-02 07:45] jsdidierlaurent opened #24669 "Cannot open room with new LDAP user"
### Description:

After a fresh rocket chat Update from 4.4.0 to 4.5.0
When i start a chat with new ldap user, i have "Room not found" message

### Steps to reproduce:

1. Adding new user in my Active Directory
2. Connect this account to RocketChat successfully
3. Trying to start chat with it

### Expected behavior:

Correctly starting a Room

### Actual behavior:

![image](https://user-images.git

[2022-03-02 07:56] ankar84 commented on #24669
@jsdidierlaurent Hey!
What if make a refresh (CTRL+R) right after room not found page appears?

[2022-03-02 08:00] ankar84 commented on #24669
Ok! But what if you try to DM that user **again** from directory or any other way?

[2022-03-02 08:02] ysandr opened #24671 "Email notifications stopped working / cant receive two factor authentication"
Was suddenly logged out of rocketchat while logged in. Tried logging back in and it asks for a two factor authentication that is sent to my email. However, I have not for quite some time been receiving any email notifications from rocketchat. How do I log back in?

[2022-03-02 08:03] jsdidierlaurent commented on #24669
Oh ! From DIrectory it works ! It's only broken when i'm using Search !

[2022-03-02 08:10] jsdidierlaurent commented on #24669
Hum, I spoke too soon. Using Directory fix my issue with user i try to talk. But i already have issue with other users ...
And Directory didn't work every time ...

And yes search = magnifying glass tool

[2022-03-02 10:29] nickerber commented on #24669
That's a very annoying issue!
The issue, that one had to press CTRL + R after joining a direct message with a user the first time was very annoying. This new issue makes the process even more complicated. It is hard to tell our users how to proceed.
We're currently evaluating the usage of rocketchat in an enterprise environment and this seems to be a showstopper.

Some more information from my sid

[2022-03-02 11:11] Bugt commented on #23613
I just tested it with version 4.5.0 the first Bug described by @william-p is still not fixed.

The workaround and patch https://github.com/RocketChat/Rocket.Chat/issues/23613#issuecomment-971275545 still works.

[2022-03-02 11:14] ankar84 commented on #24669
Totally agree with you!
Thank you for you detailed analysis!

@rodrigok @engelgabriel @milton-rucks hello!
Please check that issue.
Issues like that shows Rocket.Chat in bad way for community and customers.

[2022-03-02 12:07] CAberry opened #24672 "[4.5.0][CE] MongoError: index already exist after upgrade"
Dear rocket team,

os: Debian 11
node : 14.18.3
mongo: 5.0.6
npm: 6.14.15

I encountered the following error after upgrading from 4.3.3 to version 4.5.0.

Similar closed issue -> https://github.com/RocketChat/Rocket.Chat/issues/24347
Also seen and applied this [workaround](https://github.com/RocketChat/Rocket.Chat/issues/24347#issuecomment-1032161111) fix from same issue ( Working great by the way

[2022-03-02 12:31] redRolf opened #24673 "Can not add user to chanel"
### Description:

When trying to add a user to a channel, only a subset of 10 users is offered for selection.

### Steps to reproduce:

1. create a private channel (the behaviour is not limited to private chanels, this is just as an example)
2. go to the user members menu
3. click on `Add`
4. Search for a user (only a subset 10 users will be displayed)

The same behavior can be observed when creat

[2022-03-02 12:57] XxMoNsTeR commented on #23555
This issue is still happening in version 4.5.0. Please fix this!

[2022-03-02 16:03] himanshumalviya15 opened #24675 "[BUG] Needed reset button in Permissions new role"
### Description:
There should be a reset button near save button in new role permissions

### Steps to reproduce:

1. Go to Admin
2. Go to Permissions
3. Click on new role

### Expected behavior:

https://user-images.githubusercontent.com/76220055/156399409-db75db3a-fcbc-4e8a-9aa9-51de44b0bdab.mp4

### Actual behavior:

![Screenshot from 2022-03-02 18-22-54](https://user-images.githubusercontent.c

[2022-03-02 18:22] sidd-oo opened #24678 "[BUG] Rocket.chat desktop doesn't hot-reloads"
### Description:
Rocket.chat desktop version couldn't able to auto hot-reloads after the internet connection is established.

### Steps to reproduce:

1. Turn off the internet
2. Open Rocket.Chat desktop application for the first time after PC login
3. You will see this below screen due to lack of internet connectivity
![image](https://user-images.githubusercontent.com/25115188/156421819-f71adf9d-

[2022-03-02 18:41] stephko90 commented on #24245
I am running into this issue as well when upgrading my Rocket.Chat application to version 4.1.4

[2022-03-02 19:23] franciscopaniskaseker opened #24679 "Node module Fibers got RangeError: out of memory"
### Description:

### Steps to reproduce:

Randomly our RC is exiting with code 7. Usually it need 1 week to go down.

### Expected behavior:

To not exit.

### Server Setup Information:

- Version of Rocket.Chat Server: 4.4.2
- Operating System: ubuntu 20.04 updated
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog: Enabled
- NodeJS Version: 14.0.0
- MongoDB Version:

[2022-03-02 20:25] dudanogueira commented on #16852
Reopening. I was able to reproduce also in 4.5.0

[2022-03-02 21:10] b1ll1ngsl34 opened #24681 "Unable to re-enter e2e password on mac desktop app"
### Description:

I am not getting prompted for my e2e password from my mac desktop client (v 3.0.0). This is causing messages to remain encrypted in some rooms.

It was working, but we recently updated/moved the server. My mobile app continues to work and so does desktop browser access (after a cookie removal).

I assume it was cached and just needed re-entry, but cannot find a way to enter it.
M

[2022-03-02 21:32] brlarini commented on #22114
Isn't there some workaround for this?
Is it possible to delete any entries of the team's name directly in the database?

[2022-03-03 04:54] ankar84 commented on #24350
Still an issue in 4.5.0
[code]

[2022-03-03 08:01] postwarbreakout commented on #24679
We have the same issue for about 3 weeks now. Error says "Out of memory" but the RAM usage is normal (swap being untouched), there is no problem on the server itself.

[2022-03-03 09:17] Bengrunt commented on #24673
We experience the same issue with our 4.5.0 instances.

[2022-03-03 09:27] redRolf opened #24691 "Links that are part of link preview handle differently"
### Description:
When you send a link, where the preview contains a link to a pdf, the file is opened within the rocket chat.

Clicking on the link in the red box causes the rocket.chat app to open the PDF within the app.
![image](https://user-images.githubusercontent.com/42872307/156532402-e1e3d01c-06da-4808-8285-28473e6feaa4.png)

### Steps to reproduce:

1. Send the following link in any channe

[2022-03-03 09:40] Steini- commented on #24132
Same here: After we upgraded to 4.4.2 it seemed that sometimes the avatars change at random. I could not yet identify any pattern or solution to this but the users on my RC-instance are getting a little confused.
We use the LDAP-Integration just for Authentication.
I could provide with logfiles if that helps, feel free to ask and I will provide them.

[2022-03-03 09:46] redRolf commented on #24673
@Bengrunt a temporary workaround is to:
1. Create the channel as intended, but not add anyone.
2. Add the desired people by sending the slash command: `/invite @username`

This works for public and private channels :)

[2022-03-03 10:49] moell9 commented on #24658
Yes, FR is okay. Thanks. You can move it.

[2022-03-03 11:51] ali-alhaidary commented on #24132
Same here almost all 4.x releases. as shown in the attached image:
1. Avatar is overlapping user name.
2. Avatar size is usually big, however, when starting a call, it small, and in both cases overlapping user name
![Screenshot 2022-03-03 at 14-22-19 (•) مِـرســال](https://user-images.githubusercontent.com/75235623/156559396-57084683-9418-4638-988d-4946315d0151.png)
.

[2022-03-03 12:02] #24492 closed

[2022-03-03 12:42] MercantilTI opened #24692 "Window Crashing"
![erro rocket chat](https://user-images.githubusercontent.com/100847863/156566791-e088b9df-35da-4ce2-a5a3-55db7951071b.png)
when I quickly click on different conversations, the rocket chat window crashes and is all black

[2022-03-03 12:59] paulobernardoaf opened #24693 "Livechat room opening without agent assigned with auto selection routing method"
### Description:

With routing LiveChat routing method set as Auto-Selection, sometimes when a new room is created, an agent is not assigned to it, leading it to be left there until someone opens the current chats tab and realizes that that chat has not been responded to yet.

### Steps to reproduce:

I was not able to reproduce it myself, but every new room go through the same steps:

- Get the d

[2022-03-03 13:42] TimmiORG commented on #24673
This should be something for 4.5.1 as this a quite basic feature which is heavily used.

[2022-03-03 15:45] sgohl opened #24694 "LDAP - User not found - since 4.5.0 (aka better logging needed)"
### Description:

Since Upgrade to 4.5.0, I see those messages in logs while I was checking because some users said they can't login anymore (LDAP)

### Steps to reproduce:

I don't really know. It just happened since upgrade to 4.5.0 that some users can't login anymore and I suspect the error message is related to the problem - but not necessarily. It's a guess.

### Expected behavior:

mention t

[2022-03-03 15:55] fsainovich commented on #19851
Same problem here. Waiting for solution.

[2022-03-03 15:59] wojtokuba commented on #24694
Having the same problem. Firstly i used to have an index issue, now chat keeps restarting every few hours.
No more logs provided just exit code:
`Mar  3 15:58:03 localhost systemd[1]: rocketchat.service: Main process exited, code=killed, status=4/ILL
Mar  3 15:58:03 localhost systemd[1]: rocketchat.service: Failed with result 'signal'.
Mar  3 15:58:08 localhost systemd[1]: rocketchat.service: Serv

[2022-03-03 20:42] franciscopaniskaseker commented on #24679
I did not have problem with free memory too.

[2022-03-04 07:43] raczkow commented on #24669
I've got this issue with local accounts.

[2022-03-04 08:15] Koboo commented on #23867
I can confirm that this is a duplicate of the #23593
With that, I am closing this issue. Thank you very much for the reference to the other issue!

[2022-03-04 08:15] #23867 closed

[2022-03-04 09:12] matteocollina opened #24699 "The attached base64 image is of low quality and low resolution."
### How to reproduce
- Uploading the image from the RN app
- From the admin back-office I see the correct image
- When the server returns the message list the body looks like this and the preview of the base64 image is tiny.

`"image_dimensions":{"width":960,"height":1280},"image_preview":"/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIC

[2022-03-04 09:53] devopg opened #24700 "flex column reverse with scrollbar work difference"
Hello. I do not know who to turn to, there are almost no specialists in this field. But you should definitely know.

i have flex list with scroll. if i add new item to head then scrollbar position on top -> scrollbar remains on top and we see new element.

![image](https://user-images.githubusercontent.com/61819835/156740952-4b2b724b-df8a-42c4-8e6a-53283333877d.png)

Then i set reverse to flex col

[2022-03-04 10:00] moell9 commented on #13892
Any update here ? I want to change the scrollbar color too.

[2022-03-04 11:57] antgel commented on #19121
@caesarcxiv Did you ever get anywhere with this? I have users complaining of the same. Ideally I'd turn threads off, they hide information and increase noise, but we are encouraging users to use ChatOps over email and threads may give them a softer landing.

[2022-03-04 13:31] Himanshu664 opened #24701 "[BUG] Wrong error message when user already exists"
### Description:

When user already exists wrong error message is shown which is 'The users have be added'.

### Steps to reproduce:

1. Go to any room
2. Click on members
3. Click on add users

### Expected behavior:

https://user-images.githubusercontent.com/76220055/156771583-26db2d0e-d7f9-4f2b-bb32-82bc67a02d9a.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/15677

[2022-03-04 13:46] maciejpankanin opened #24703 "Cannot edit rocket.cat user"
### Description:

I have **rocket.cat** bot user without email (IDK if it is normal). Recently I wanted to change its avatar but I cannot because form validation says email is required. Then filled it with some random email and encountered this error:
[code]

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System: -
- Deployment Method: Docker
- Number of Running Instan

[2022-03-04 13:46] m4z commented on #24350
Might be related: after restart, 4.4.1 throws multiple errors like this:
[code]

My suspicion is that it is trying to use the http proxy, not the separately defined https proxy.

(Might also be related to RocketChat/install.sh/issues/57)

[2022-03-04 14:36] demonicirfan opened #24704 "Can not login into https://open.rocket.chat/ using github"
### Description:

I logged into rocket chat using my Github account previously. But after a few months, I changed my device ( operating system ios ) and tried to login into it with GitHub but I was not able to do that. I tried login in from the desktop but was not able to do that also. This issue is with both mobile and desktop (chrome/firefox).

Here is a video of me trying to log in.

https://us

[2022-03-04 15:09] #21900 closed

[2022-03-04 16:51] #22821 closed

[2022-03-04 18:29] dudanogueira commented on #24375
Closing, as this is not a bug, rather an expected behavior.

[2022-03-04 18:29] #24375 closed

[2022-03-04 18:32] dudanogueira commented on #24703
This is probably related: https://github.com/RocketChat/Rocket.Chat/issues/23478

This error was a hard one to reproduce. I think we have a consistent way now. Thanks!

[2022-03-04 19:02] dudanogueira commented on #24692
Can you get more logs from the server?

This is probably the API  Rate Limit kicking in.

Try increasing its throtle value in:
Admin > Rate Limiter

[2022-03-04 19:09] dudanogueira commented on #24681
Hi!

Can you install the latest version directly from the .dmg? Last I heard is that we are facing some new requirements from Apple Store, and because of that, we was not able to publish new version there for now.

You can get the latest app here:

https://github.com/RocketChat/Rocket.Chat.Electron/releases/tag/3.7.8

[2022-03-04 20:50] Psherman42000 commented on #23483
@serviceman tente utilizar o app mobile que pode resolver seu problema, estou enfrentando o mesmo problema a uns meses já, se conseguir achar um jeito de resolver, por favor me avise também, farei o mesmo

[2022-03-05 12:18] debdutdeb commented on #24662
Fixed in https://github.com/RocketChat/Rocket.Chat/pull/24476

[2022-03-05 12:18] #24662 closed

[2022-03-05 15:08] kushalShukla-web commented on #24704
@demonicirfan can i take this issue?

[2022-03-05 18:06] catalins95 opened #24712 "[BUG] 4.5.0 Can't find LDAP users to add in rooms"
### Description:

A fresh install , even the os, debian. After installing , I have managed to setup the LDAP auth, all good, users can loging, but in channels or rooms, when I try to add a new user, I cannot find him.
Same users who  I can't find to add in a room, I can't add in all other rooms.
This bug applies only to several users, not to all of them.
When I try to write their CommonName or the

[2022-03-05 19:23] Shivansh2287 opened #24713 "[BUG] wrong error message profile is update and password is wrong"
### Description:

when I am trying to change the password from my account page and my two-factor authorization is not turned on then when I click on save change button  it asks for my current password and then if I enter the wrong password the error shows "invalid two-factor code"

### Steps to reproduce:

1. Go to my account
2. Change the password and type the current password
3. click on save th

[2022-03-05 19:38] catalins95 commented on #24712
Same issue as #24694
Possible fix by #24328
I will try this fix monday......right now I am not at home....

If someone wants to try this before me, before monday 😄 ❤️

[2022-03-05 19:43] catalins95 commented on #24694
Hello
You have the same issue as me #24712
Possible fix by #24328
Try this fix please 😄 ❤️ and tell me if it is working.

On monday I will try it too.

Let me know please if u could solve it.

Best Regards,
Catalin.

[2022-03-05 23:57] #4978 closed

[2022-03-06 09:10] catalins95 commented on #24673
Hello
You have the same issue as me #24712
Possible fix by #24328
Try this fix please 😄 ❤️ and tell me if it is working.

On monday I will try it too.

Let me know please if u could solve it.

Best Regards,
Catalin.

[2022-03-06 14:07] Kunalvrm555 commented on #24427
LGTM
I followed the steps mentioned above but the bug wasn't reproduced.
Kindly close this issue.

https://user-images.githubusercontent.com/67605729/156926725-bfd52899-8a48-408e-b03f-6367fb712d60.mp4

[2022-03-06 23:24] D34DC3N73R commented on #20546
I have this same issue with the tenor app as well
![image](https://user-images.githubusercontent.com/9123670/156946705-1bcddf82-431b-433a-8ed3-2d7efc31198a.png)
![image](https://user-images.githubusercontent.com/9123670/156946730-e3a2c8ad-45b7-481a-b4cb-8d30088fd3da.png)
![tenor](https://user-images.githubusercontent.com/9123670/156946745-99359ca4-dc38-40a2-9ce0-5c1b017f057e.gif)

[2022-03-07 03:41] lent85 commented on #16854
Same thing happen, but additional issue is I cannot find more than 10 users when Add User to channel.
The error in console print continuously.

[2022-03-07 06:56] lent85 commented on #16822
Same issue happen for RocketChat 4.5.0 by now
![image](https://user-images.githubusercontent.com/9914782/156982823-dcfaf45a-1401-4add-8101-62ea7936d81e.png)

[2022-03-07 07:49] d3hof commented on #22256
Still an Error in 3.18.5.
Oauth used for user login.
The first time you send a message to a user it shows Invalid-User.

[2022-03-07 08:16] nishant23122000 opened #24718 "[BUG] Drag And Drop Not Working For All File Formats"
### Description:
Our platform supports the Drag and drops feature, where users can drag and simply drop files inside the room.

### Steps to reproduce:

1. Go To File section From top right file icon
2.
![image](https://user-images.githubusercontent.com/53515714/156991539-b8bee240-a212-4b0f-ba21-81c84358ecb2.png)

3. Drag And Drop Files except for the image.
4. It will not drop file inside the roo

[2022-03-07 08:32] toantc commented on #24669
We've got this issue with the Google OAuth account

[2022-03-07 10:07] chriz-uniba commented on #24460
I guess this is also related to https://github.com/RocketChat/Rocket.Chat/issues/23613 --- which has some workaround that worked for us.

[2022-03-07 10:15] wolbernd opened #24719 "Invite links lead to error message if user is not logged in"
### Description:

If an invite Link to a channel/room is clicked and the user calling the link is currently not logged in an error message stating "Invalid or expired invite token" is shown.

The invite link exists and is not expired.

### Steps to reproduce:

1. Create a channel/room or use an existing one
2. Create an invite link (resulting in something like this: https://go.rocket.chat/invite?h

[2022-03-07 10:49] LittleITworld commented on #19802
Hello I have the same problem with latest rocketchat version 4.5. My NC webdav is working fine (I can add it to my explorer)

[2022-03-07 13:09] himpierre opened #24721 "Quoting Messages and Link Previews don't work when channels are E2E enabled and encryption is on"
### Description:

After enabling E2E quoting and link previews of messages do not work anymore.

### Steps to reproduce:

1. Enable and activate E2E
2. Goto E2E enabled channel
3. Quote a message, enter text, send message
4. Quoted message doesn't show.

5. Enter Link in message window and send it
6. Only the link appears, no preview of the link

### Expected behavior:

Quoting and Link Previews w

[2022-03-07 13:43] b1ll1ngsl34 commented on #24681
This fixed it, really appreciate the quick turnaround!

[2022-03-07 13:43] #24681 closed

[2022-03-07 15:58] daniel-jettka commented on #24673
Temporary workaround for DMs: go to top menu "Directory", search for user, click on user entry - this will open a DM "channel"

[2022-03-07 16:40] #23478 closed

[2022-03-07 16:40] #24703 closed

[2022-03-07 18:42] panpomaly opened #24727 "Room not found error when initiating a new direct conversation"
### Description:

We just upgraded to 4.5.0 and now have the following problem. When using the search to start a new direct message room with another user, that was never talked to, we get an error message:

But strangely enough this works when not using the search, but starting the direct message using the directory.

### Steps to reproduce:

This can be reproduced on our instance after upgrading

[2022-03-07 18:51] dudanogueira commented on #24704
it has a PR already #24705

[2022-03-07 21:46] Shivansh2287 opened #24731 "[BUG] Save button is by default not disabled in new role creation"
### Description:

When creating a new role in Permission the save option is enabled by default but a role name field is required so until something is filed in role name field save button is disabled

### Steps to reproduce:

1. Go to the administration  option
2. Click on the login button
3. Click create a new role

### Expected behavior

https://user-images.githubusercontent.com/54775060/1571146

[2022-03-07 21:59] Shivansh2287 commented on #24731
[https://github.com/RocketChat/Rocket.Chat/pull/24730](url)

[2022-03-07 22:05] Shivansh2287 commented on #24731
https://github.com/RocketChat/Rocket.Chat/pull/24730#issue-1161958391

[2022-03-07 22:07] Shivansh2287 commented on #24731
#24703

[2022-03-07 22:07] Shivansh2287 commented on #24731
#24730

[2022-03-08 02:52] levycarneiro commented on #24113
We experience this issue one and off for at least 1 year now. It affects some people and not others, then who wasn't affected become affected and vice-versa. We weren't able to pin point a scenario that duplicates it.

[2022-03-08 06:51] yash0483 opened #24734 "rocketchat.service: Failed with result 'exit-code'"

[2022-03-08 06:51] ipikiiskinen commented on #24132
Still running 4.3.3, but I have some update/confirmation about the triggering setting (at least for us).
We use LDAP for integration. We have run the service for >25 days with settings:
LDAP -> Data Sync -> Update User Data on Login disabled
LDAP -> Data Sync -> Avatar -> Sync User Avatar disabled
The issue with this setting is that users do not get Name attribute in place.

I changed LDAP -> Data

[2022-03-08 07:54] lovekyleman commented on #24721
Also have this issue

[2022-03-08 08:34] #24734 closed

[2022-03-08 09:10] TheWrongGuy commented on #24727
I also experienced this issue!

[2022-03-08 09:32] ktsrivastava29 opened #24735 "Development Environment Error"
I'm unable to setup the Development Environment.
It says there's no index.html file

![Screenshot from 2022-03-08 14-48-46](https://user-images.githubusercontent.com/77936821/157208518-a2604f96-90c4-44bd-9d8d-67dce733b7b9.png)

[2022-03-08 09:43] skadefro opened #24736 "Can no longer add new users to a channel"
### Description:
In latest version of Rocket Chat you can no longer add users to a channel.

### Steps to reproduce:

1. Open https://rocket.openiap.io/
2. Click on a channel you are admin off
3. Click Members, then click Add .. as soon as you type something the page turns white

### Expected behavior:

The page should not turn white, but start auto completing usernames you can add.

### Actual be

[2022-03-08 10:19] devadattas commented on #24727
Same here!

[2022-03-08 10:20] devadattas commented on #24736
Same here!

[2022-03-08 11:36] devadattas commented on #24727
It seems to be getting triggered from here:

https://github.com/RocketChat/Rocket.Chat/blob/develop/server/methods/createDirectMessage.js#L15

From front-end userId is being sent as the first parameter without the usernames.

<img width="1194" alt="image" src="https://user-images.githubusercontent.com/56180/157230805-f1f4b480-dadd-4eca-b4d1-3d696e004a05.png">

@sampaiodiego Please look into this a

[2022-03-08 12:16] devadattas commented on #24727
It's a Web Front-end issue for sure as accessing the user from the Mobile App once creates the direct channel and it will start working after that. @panpomaly you can use this work around till there is a proper fix for this.

[2022-03-08 12:26] bzm-plattformbetrieb commented on #24132
We have the exact same setup and issue. Something strange is happening to the avatars, either they go missing or users suddenly had images from different people.

[2022-03-08 12:46] Kunalvrm555 commented on #23943
@debdutdeb @dudanogueira attention required for this issue.
linked PR seems to have resolved the issue.
Please review

[2022-03-08 15:02] chaperonRose commented on #19853
Hello, thanks for the votes ! 😃

Thinking about using threads and discussions, I wonder if we'd not better have a different behaviour for discussions, because :

- A thread begins with one message belonging to the parent room (message is "part of the main conversation")
Whereas
- A discussion is just a link to sort of a new (sub)room. So somehow and sometimes, it makes sense to keep this link in p

[2022-03-08 15:28] txwheeler commented on #24736
We are having the same issue and have submitted a ticket to them for enterprise. No resolution yet.

[2022-03-08 15:47] vinzv commented on #24736
Same problem here:
![grafik](https://user-images.githubusercontent.com/74432/157273368-46b97666-0c81-471b-be1b-ffd55f2b133c.png)

[2022-03-08 16:04] Kunalvrm555 opened #24742 "Offline misnamed as Invisible in Custom User Status edit menu"
### Description:

### Steps to reproduce:

1.  On the homepage, click on your avatar at the top left in the sidebar.
2. Click on **Custom Status**.
3. Click on the drop down menu button at the right side of the Status Message text field

### Expected behavior:

The 4 pre-defined user status should have the same name in both menus.
![image](https://user-images.githubusercontent.com/67605729/1572758

[2022-03-08 16:04] mikuhn commented on #23020
I also have this issue, if i send only an link as message via the web client. An example would be:

https://example-my.sharepoint.com/:x:/g/personal/jlkasjsadfasdfdsf

The `:x:` part is rendered as :x:

[2022-03-08 16:05] bellegarde-c commented on #24350
Did you find time to fix this ? Do you have a patch I can test ? We are locked to 4.3 for now.

[2022-03-08 16:10] cooljeanius commented on #24460
This is breaking the MacPorts Rocket.Chat instance: https://lists.macports.org/pipermail/macports-users/2022-March/050863.html

[2022-03-08 16:11] cooljeanius commented on #24355
so... does that mean this should be reopened, then?

[2022-03-08 16:21] sampaiodiego commented on #24355
the missing part was already done (https://github.com/RocketChat/Rocket.Chat/pull/24450) and released on 4.4.2

[2022-03-08 16:52] vinzv commented on #24736
Nope, no SAML here.

[2022-03-08 16:53] vinzv commented on #24736
This PR fixes the problem btw: https://github.com/RocketChat/Rocket.Chat/pull/24328/files

[2022-03-08 17:00] Himanshu664 opened #24745 "[BUG] Undefined message is shown when Prune message is empty"
### Description:
Undefined message is shown when Prune message is empty, needs a good error message

### Steps to reproduce:

1. Go to Room
2. Click on Prune message

### Expected behavior:

https://user-images.githubusercontent.com/76220055/157285654-28eead29-5cd2-4efa-826c-509f46fca17d.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/157285661-baf96c72-ec6c-48bb-952a

[2022-03-08 17:58] dudanogueira commented on #24735
Hi @ktsrivastava29!

Please, refer to:
https://open.rocket.chat/channel/dev
for development questions

or
https://open.rocket.chat/channel/google-summer-of-code
if your are a Google Summer of Code participant.

Thanks!

[2022-03-08 17:58] #24735 closed

[2022-03-08 18:58] #24745 closed

[2022-03-08 19:08] dudanogueira commented on #24727
Fix is coming in 4.5.1

[2022-03-08 22:25] Majunko commented on #14562
@therealZottel that line it's already added to the script, did you tried to download the latest gist and execute it ?

[2022-03-09 00:04] #23794 closed

[2022-03-09 04:00] ankar84 commented on #24350
Same for us.
We can't upgrade with not working proxy functionality.

[2022-03-09 05:05] scottrlarson opened #24765 "Linux desktop client - Unable to attached image to encrypted channel on the rocket chat"
Rocket Chat Version: 3.78
Linux Distro: PopOS 20.10.

Steps to reproduce:
1. drag a jpg image to an encrypted channel.
2. The pop up will appear asking you to type a description, but the image preview will be gray or strobing as if its trying to upload, but it never completes.
3. Type in a description and click send. A progress indicator will appear at the top in blue, but will be stuck at 0% inde

[2022-03-09 05:05] scottrlarson opened #24922 "Rocket Chat Linux desktop client - Unable to attached image to encrypted channel"
Rocket Chat Version: 3.78
Linux Distro: PopOS 20.10.

Steps to reproduce:
1. drag a jpg image to an encrypted channel.
2. The pop up will appear asking you to type a description, but the image preview will be gray or strobing as if its trying to upload, but it never completes.
3. Type in a description and click send. A progress indicator will appear at the top in blue, but will be stuck at 0% inde

[2022-03-09 05:47] ankar84 commented on #24719
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/24444

[2022-03-09 05:48] ankar84 commented on #24727
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/24669

[2022-03-09 08:01] therealZottel commented on #14562
@Majunko Thanks for the tip. I had not seen that.

[2022-03-09 08:17] Gummikavalier commented on #24692
May be related so linking to this https://github.com/RocketChat/Rocket.Chat/issues/23555

[2022-03-09 08:37] nishant23122000 opened #24772 "[BUG] Issue For Parsing Error Object Inside ToastMessage."
### Description:

Firstly, When the user performs any action, Meteor will call any API method, and If any error occurs(while fetching data from a database or else any other reason). meteor will throw an error with Meteor. Error(),

Meteor.Error() return the object which contain `{error:'', details: }`, and we have function to parse this object inside :
https://github.com/RocketChat/Rocket.Chat/blo

[2022-03-09 08:39] Gummikavalier commented on #23555
API and DDP rate limiters seem to play into this issue somewhat; disabling them all removes the issue almost completely, but I could not figure out yet which ones are most important ones.

Regardless, even when you disable all rate limiters it is still possible to reproduce the issue. You just have to switch channels longer at very rapid pace.

[2022-03-09 08:48] amottier commented on #24736
This is likely to be a duplicated of #24673

[2022-03-09 09:14] amottier opened #24774 "Room name for direct message between multiple users display only a single user real name"
### Description:

I'm using direct message with multiple users (usually a total of 3 users: 2 colleagues + myself). Usually the room name is a concatenation of other participant real name (option `UI_Use_Rel_Name` - Layout → User Interface → Use Real Name enabled).

But for a few (**not all of them**) direct message with multiple users the room name only include a single user real name. I cannot i

[2022-03-09 10:06] Jonher937 opened #24775 "[BUG] File-upload proxy breaks sending files from WebDAV to server"
### Description:
The logic in `app/file-upload/server/lib/proxy.js` breaks uploading files from WebDAV to the RocketChat server.
Tested storage backends:
- S3
- Filesystem
- GridFS

### Steps to reproduce:

1. Go to a room
2. Add a WebDAV server down in the right corner, reload the page after doing so or RocketChat will throw you an error.
3. Go down to the right corner again and try to send a fil

[2022-03-09 10:22] panpomaly commented on #24727
Thanks for the workaround, but we already found out that it works using the directory (see description).

Thanks! Good to hear.

I looked at all issue titles since the last release and would have never thought that the LDAP issue is related, but it is. thanks. I will still leave this issue open, since the pr is added here.

[2022-03-09 10:40] fsainovich commented on #19851
Hi Gummikavalier.

Thank you for your reply. I will try this settings.

[2022-03-09 12:34] ankar84 commented on #24727
Actually, I don't believe that it's a LDAP related issue. because I saw a lot of facts about that issue with local accounts and other authentication services like Google OAuth. It's just some race condition, that I hope will be fixed by Tasso's PR.

[2022-03-09 12:38] Kunalvrm555 opened #24776 "[BUG] cannot add multiple lines in attached file description"
### Description:

### Steps to reproduce:

1. Send a file using the '+' button on the right side of the Message input field or paste an (image) from the clipboard.
2. Go to **File Description** text field and edit it.
3. Enter random text and press **Shift+Enter**.

### Expected behavior:
The file description text field should accept multiple lines as input.

### Actual behavior:
As soon as you pr

[2022-03-09 15:56] rsgodinez opened #24780 "Omnichannel Facebook Messenger Integration seems broken"
### Description:

Facebook Pages are not listed, so conversations are only "complete" in rocket.chat but not in Facebook Messenger.

### Steps to reproduce:

1. Just chatting via Facebook Messenger.

### Expected behavior:

Guests can chat via Facebook Messenger.

### Actual behavior:

Guests won't receive the reply in Facebook Messenger.

### Server Setup Information:

Version of Rocket.Chat Serv

[2022-03-09 15:58] cuongnn-smartosc commented on #22970
any updates, I have the same issue, it is intermittent

[2022-03-09 17:53] dvsmasta commented on #15494
Still an issue

[2022-03-10 02:09] devadattas commented on #24727
Just upgraded to `4.5.1` and seems this issue is still not fixed!

[2022-03-10 02:10] poshoi commented on #24671
My email is set up after unable to send and receive messages

[2022-03-10 02:57] ankar84 commented on #24776
Looks like duplicate of https://github.com/RocketChat/Rocket.Chat/issues/22732

[2022-03-10 06:49] ali-alhaidary commented on #24654
still in 4.5.1

[2022-03-10 06:50] ali-alhaidary commented on #23599
still in 4.5.1

[2022-03-10 07:20] MrMarlin commented on #20644
It would be very helpful to increase this limit or make it configurable.

[2022-03-10 07:37] tom666-debug commented on #24444
Still broken in 4.5.1 - Seems that allowing user to register themself is totally overrated ....

[2022-03-10 07:51] ritikBhandari commented on #24627
Hi!
Is this issue open? I'd like to work on this.

[2022-03-10 07:58] raczkow commented on #24727
4.5.1 - issue not solved

[2022-03-10 10:30] cuongnn-smartosc opened #24786 ""Sign in with Apple" could not updateOwnBasicInfo"
### Description:

When enable the "Sign in with Apple", the server returned when calling API `api/v1/users.updateOwnBasicInfo`, the server returned:

`Cannot read property '0' of undefined`

### Steps to reproduce:

1. Enable "Sign in with Apple" in the server
2. Mobile tapped on "Sign in with Apple" on the device
3. After authorized, mobile app show "SetUsernameView"
4. Choose any username and cl

[2022-03-10 12:25] bellegarde-c commented on #24350
I used https://packages.debian.org/source/bullseye/proxychains-ng until this one is fixed.

[2022-03-10 13:40] khodge281 opened #24787 "notifications"
Why cant my phone alert me to let me know i have a new message on rocket chat. No matter what I do, I can not get any kind of ring tone or alert. I just have to look at my phone about every 5 minutes and that is just ay too counterproductive.  I need an answer right away NOT in two or 3 days. I am working AWAY from my computer and this is a pain in the ass.

[2022-03-10 14:28] #24579 closed

[2022-03-10 14:28] #24669 closed

[2022-03-10 15:01] krenuser commented on #23041
Still experiencing this problem in 4.5.0
As I've investigated a reason, its source is still here:
![image](https://user-images.githubusercontent.com/32645945/157689138-c630bee4-bd53-4d96-b793-5f2381b28de4.png)

Fixed it temporarily by replacing selected line with
```let to = Users.findOneById(username);```
but seems that it's a partial solution.

[2022-03-10 15:23] debdutdeb commented on #23041
@krenuser yep we know. I even opened a PR but it just wasn't the right solution. `findOneById` will just work or this case, any other way you try to create a dm will fail.

[2022-03-10 16:05] supportdesk-si commented on #24444
Latest update same issue.  This is crippling and surprisingly ignored by the dev community.

[2022-03-10 17:32] txwheeler commented on #24727
Why was this issue closed, if users are reporting it broken still in 4.5.1? @tassoevan

[2022-03-10 17:37] VonNao opened #24795 "Rocketchat dosent send Messages after Restarting MongoDB"
### Description:

Rocketchat dosent send messages after restart of MongoDB. Messges are greyed out are only send after reload the browser tab or reloading/restarting the client. This needs to be done for every message. After restarting the Rocketchat Pod everything is working fine

### Steps to reproduce:

1. Restart mongodb
2. Try to send messages

### Expected behavior:

Messages are send as nor

[2022-03-10 18:00] dudanogueira commented on #24673
We have users in forums with the same error that sad it was fixed in 4.5.1

Can you guys confirm?

[2022-03-10 18:08] TimmiORG commented on #24673
Confirmed, working for me again with 4.5.1.

[2022-03-10 18:23] amottier commented on #24673
It is working again but, when trying to add a user, I get immediately (i.e. without any latency) a list of suggested users to add, if I start typing it will first filter users from this list and when my search no longer match a user in this initial list it displays "None" briefly (but feels not that brief), then "Loading" briefly and only then I get the user I was looking for. I would say that "it

[2022-03-10 18:33] billynoah commented on #24673
@amottier - that was my experience as well.  It was reasonably fast to autocomplete but would be nice if there was a "Loading" message or something while it was performing the request, e.g., https://select2.org/data-sources/ajax

[2022-03-10 18:46] panpomaly commented on #24727
I can confirm that it is still not working for us.

But I also can't reopen the issue, since it was closed automatically with the PR. Could someone with the permission please reopen it.

[2022-03-10 20:43] sampaiodiego commented on #24727
the PR fixing the issue is scheduled to land on release 4.5.2 .. meanwhile, are you guys able to help testing it? if you're using Docker you can use the container `registry.rocket.chat/rocketchat/rocket.chat:develop` or you can build from source using the `develop` branch

[2022-03-10 22:40] Shofiya2003 commented on #23967
Is this issue still open?

[2022-03-11 02:36] ankar84 commented on #24787
Actually there is a push notification at mobile client of Rocket.Chat
You need to describe your issue more detailed.
And that issue should be transferred to RCRN repo.

[2022-03-11 04:38] ankar84 commented on #24727
Hey, Diego!
Testing that issue on develop branch in Docker and looks like it is fixed finally!
I only test case starting DM from magnifying glass search - works perfect.

[2022-03-11 05:24] ankar84 commented on #24795
Check you mongo replica set, if it correctly configured.

[2022-03-11 08:02] skadefro commented on #24736
i just updasted to 4.5.1 but the error is still there.

[2022-03-11 08:58] ankar84 commented on #23041
That issue probably fixed by https://github.com/RocketChat/Rocket.Chat/pull/24623
Try develop branch to see if it fixed or not.

[2022-03-11 10:11] sthaydn commented on #23947
Ok, this settings weren't as good as I thought. I have no idea why useres got disconnected that often. Is there a timelimit, when the app is one day closed, for example, that one gets disconnected after a while?

[2022-03-11 12:39] #24213 closed

[2022-03-11 12:58] gregfr opened #24807 "Mapping keycloak groups to rocketchat channel"
Greetings

I've set up keycloak as "custom oauth" and  I can log in. I'd like to map groups to channel, so I can specify in keycloak which channels a user has access to.

The documentation here:
https://docs.rocket.chat/guides/administration/misc.-admin-guides/authentication/open-id-connect/keycloak
is missing images, but even with images from there:
https://github.com/RocketChat/Rocket.Chat/issue

[2022-03-11 14:16] panpomaly commented on #24727
Tested it in a local docker env, with real data from production ... and it works!

Thanks!

[2022-03-11 15:00] TwizzyDizzy commented on #24736
I can confirm, that in `4.5.1` I still get the `toLowerCase` error.

While in `4.5.0` I couldn't add any user, in `4.5.1` I could add a user. Yet, when searching for another one I, again, reproducibly run into the attached error: [1647010333482.log](https://github.com/RocketChat/Rocket.Chat/files/8232993/1647010333482.log)

Cheers
Thomas

[2022-03-11 20:14] dudanogueira commented on #24807
Hi @gregfr

Please, refer to https://open.rocket.chat/channel/support for support.

Also please consider this document about what features are available for CE:
https://docs.rocket.chat/guides/administration/identity-management-ee-vs-ce

[2022-03-11 20:14] #24807 closed

[2022-03-11 20:20] franciscopaniskaseker commented on #24679
Same problem today.

[code]

[2022-03-11 20:38] dudanogueira commented on #24673
Great feedback @amottier! Thanks!

As you probably know, we are refactoring a lot of components, and those nasty bugs are expected.

[2022-03-11 20:47] #24673 closed

[2022-03-11 21:28] Shubhrajyoti-Dey-FrosTiK commented on #24776
Please can you assign me this issue ?
I have gone through the codebase and I think I know what change to do. Can you please assign me this issue ?

[2022-03-11 21:35] dudanogueira commented on #24736
**FYI**
I was have this bug on a playground rocketchat instance I have.

but not on my dev environment.

While trying to find the difference, I noticed one of the users didn't had a name.  After filling up this user name and saving, the bug was gone.

running it on dev dev, I created a new user, and removed it's name directly in mongo (can't do it using UI), and **was not able to reproduce it**

T

[2022-03-11 22:40] skadefro commented on #24736
Good thinking. I had 52 users with no username and name.
So I set a username and name for all. That did not help. So restartet the pod, still no luck.

[2022-03-12 08:12] its-kunal commented on #24627
let me work in this issue

[2022-03-12 08:12] its-kunal commented on #24570
may i work in this issue.

[2022-03-12 09:02] oliob opened #24815 "tiny-secp256k1@1.1.3 fails to build during install"
### Description:

When installing v4.5.2 i got build errors for tiny-secp256k1@1.1.3.
Install works fine though. Server starts and I haven't recognized any issue yet while running the server.

### Steps to reproduce:

1. Download RocketChat tgz and extract
2. run npm install

### Expected behavior:

no errors during install

### Actual behavior:

### Server Setup Information:

- Version of Rocket.

[2022-03-12 14:05] lovekyleman commented on #24815
![image](https://user-images.githubusercontent.com/93461213/158021071-b7bcb77f-2960-4271-89c9-d7d995160224.jpeg)

[2022-03-12 15:35] Gummikavalier commented on #24815
We are getting this with the required NPM 6.14.15 version. Build succeeds with NPM 8.5.3 on another instance.

And the one running NPM 6.14.15 fails with anything never along with python3 env path errors.

[2022-03-12 15:40] #21017 closed

[2022-03-12 15:40] Gummikavalier commented on #21017
Fixed in recent versions.

[2022-03-13 10:17] the-voidl commented on #23601
I have the same error, so the application does not start up.
How can I remove the mail account from the command line?

[2022-03-13 12:28] nishant23122000 opened #24816 "[BUG] Opening Multiple VRDialog With Different Timer"
### Description:

### Steps to reproduce:

1. Go To any room, click on the + icon in the message input field.
2. click on Video Message
3. Start recording
4. Again click on the + icon(without closing the VR dialog)  it will close the VR dialog.
5. Again Open the VR Dialog and start the recording.
6. It will start the second VR dialog timer from 0 seconds.

### Expected behavior:
When the user agai

[2022-03-13 13:52] ritikBhandari commented on #23967
Hi,
Can I work on this issue if still open?

[2022-03-13 13:56] ritikBhandari commented on #24155
Hi,
Is this issue still open? If open I'd like to resolve the issue.

[2022-03-13 18:47] tmkis2 commented on #24795
Same here. After restarting MongoDB I only see new messages when I refresh the browser or the app. Server Version 4.5.2 and MongoDB 4.4

[2022-03-13 20:32] smulikHakipod commented on #24795
Same. Seems after a mongo restart (because of AWS spot) nothing reponse anymore. In my case I had to reboot rocketchat instance. Thanks

[2022-03-14 02:10] devadattas commented on #24727
Upgraded to `4.5.2` and the issue still persists!

[2022-03-14 04:02] Rohan749 opened #24818 "The "App Defination Documentation" Link is not working"
### Description:
On the Rocket-chat Devs website under Apps Engine -> Getting Started -> The Apps Engine CLI, the title: 'Extending the App class' has a link named: 'App Definition Documentation'. It's not working.

Link to Rocket.chat Devs: https://developer.rocket.chat/apps-engine/getting-started/rocket.chat-app-engine-cli
![Screenshot from 2022-03-14 09-26-39](https://user-images.githubusercont

[2022-03-14 05:58] degewo commented on #24727
Upgraded to 4.5.2 and the issue still persists!

[2022-03-14 06:37] Gummikavalier opened #24819 "Cannot create any new direct channels using search"
### Description:

Creating new direct channels is not possible using the the search.

### Steps to reproduce:

1. Select search
2. Search for a user that does not have a direct channel with you
3. Select the user in search, by enter or mouse

### Expected behavior:

A new direct channel is initialized.

### Actual behavior:
![Screenshot from 2022-03-14 08-27-32](https://user-images.githubuserconte

[2022-03-14 07:41] ankar84 commented on #24727
I will check that today.

But @devadattas @degewo can you try to refresh your client after upgrade with **CTRL+R** and try again?

[2022-03-14 07:50] degewo commented on #24727
@ankar84
Thank you for investigating. I rebooted the whole server after update, furthermore i deleted the whole cache from chrome and reloaded the server from Rocket.Chat Client. Nothing hleps.

I also opened the developer console from Rocket.Chat client and by trying to open an direct chat with a new user the following appears multiple times:

Thank you so much for your help

[2022-03-14 07:51] devadattas commented on #24727
@ankar84 I tried it by clearing the browser as well as the CDN Caches. Also, tried by logging out and logging in again. Still same issue.

[2022-03-14 08:00] MightyGoldenOctopus commented on #21659
+ 1 for the fix, pwweease merge

[2022-03-14 08:03] MightyGoldenOctopus commented on #24819
Can reproduce on our `4.5.2` docker compose community deployment, using MongoDB `4.2.17 / wiredTiger (oplog enabled)` and NodeJS `v14.18.3`.

[2022-03-14 08:57] lyz-code commented on #23932
And on 4.5.2

[2022-03-14 09:44] ankar84 commented on #24819
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/24727 and plenty of issues here
But still in 4.5.2

[2022-03-14 10:24] postwarbreakout commented on #24694
Same here, a user notified me that he changed his AD password 2 weeks ago and cannot login with the new one, but the old password is still working.

[code]

I'll update to 4.5.2 tomorrow and hope this is being fixed but I've read nothing about this password issue so far.

[2022-03-14 10:52] debdutdeb commented on #24727
Thanks for confirming Anton.

[2022-03-14 13:31] cpergler commented on #22999
Updated to 4.5.1 > Still no luck.

[2022-03-14 16:00] dmonn opened #24825 "Grouping Period will group messages of different users in DMs"
### Description:

The "grouping period" setting clearly states:

However, we have experienced this for two sets of users that are quickly chatting with each other and getting grouped.

### Steps to reproduce:

Have a conversation between two people. Messages sent seconds apart.

**Set Grouping Period to 0**

![Screenshot 2022-03-14 at 16 50 45](https://user-images.githubusercontent.com/6407031/158

[2022-03-14 16:18] dmonn opened #24826 "User is automatically logged out after a certain amount of logins elsewhere"
### Description:

When logged into RocketChat, a user will automatically get logged out after a certain amount of logins e.g. via the API. E.g. when logged into a server and using REST API calls via https://github.com/jadolg/rocketchat_API, logouts can happen after just 20-25 requests.

### Steps to reproduce:

1. Log in to RocketChat server
2. Install API wrapper https://github.com/jadolg/rocketc

[2022-03-14 16:42] Gummikavalier commented on #24819
@ankar84 Thanks, I missed that one. Late to the 4.5.x. :+1:

[2022-03-14 16:54] #24819 closed

[2022-03-14 16:59] ritikBhandari commented on #24786
Hi,
Can I have a try on this issue?

[2022-03-14 17:07] #24826 closed

[2022-03-14 17:34] dudanogueira commented on #24736
I think I was able to narrow it down, or at least reproduce it consistently.

If a user **do not have** the name attribute in mongo, it triggers the error.

This MAY be caused to admin being created with the environment variables.

This is the full stack for the browser error on 4.5.1 dev environment:

Uncaught TypeError: Cannot read properties of undefined (reading 'toLowerCase')
    at applyFilt

[2022-03-14 18:15] panpomaly commented on #24727
Same here. Does not work after updating to 4.5.2 on prod, but it worked with the docker:develop image on Friday.

[2022-03-14 20:36] dudanogueira commented on #24786
I have seem this message in another Issue (already with a PR/fix) on similar context (saving user info).
Please, check if those are related: https://github.com/RocketChat/Rocket.Chat/issues/24703

[2022-03-14 21:09] dudanogueira commented on #24736
@skadefro, Can you check if this is fixed in 4.5.2?

I was able to reproduce this on 4.5.1, but no longer on 4.5.2

Thanks!

[2022-03-14 21:25] dudanogueira commented on #24818
Is the correct link https://rocketchat.github.io/Rocket.Chat.Apps-engine/ ?

[2022-03-14 22:31] Cob0ld commented on #24444
any eta when this might get fixed ?! its an important feature

[2022-03-15 00:52] brendoncarvalho commented on #24727
**Temporary Alternative:** If you access https://[your-rocket-domain]/direct/[username] through the browser, it works and you can chat with the user. 😅

I'm on version 4.5.2 and the problem still exists. 🤦🏻‍♂️

[2022-03-15 06:01] #23989 closed

[2022-03-15 06:27] kitich commented on #24444
Still broken on 4.5.2

[2022-03-15 06:39] LittleITworld commented on #23989
Problem still there!

[2022-03-15 07:47] axkibe commented on #24444
How is everybody ignoring I did make a patch, despite it not getting
accepted..

On Tue, Mar 15, 2022, 07:27 kitich ***@***.***> wrote:

[2022-03-15 08:05] pwojcieszonek commented on #24679
I have same problem on 4.5.2
`mar 15 08:57:36 rocketchat rocketchat[19613]:                                                   ^
mar 15 08:57:36 rocketchat rocketchat[19613]: RangeError: Out of memory
mar 15 08:57:36 rocketchat rocketchat[19613]:     at Fiber.run (<anonymous>)
mar 15 08:57:36 rocketchat rocketchat[19613]:     at Fiber.run (/opt/Rocket.Chat/programs/server/node_modules/fibers/fibers

[2022-03-15 08:25] skadefro commented on #24736
@dudanogueira success ... With 3.52 the problem is fixed :-)

[2022-03-15 08:25] #24736 closed

[2022-03-15 08:31] ankar84 commented on #24350
@dudanogueira @debdutdeb please check this issue. It without attention for a month now. Please escalate it to back-end team.

[2022-03-15 11:21] dudanogueira commented on #24818
Fix sent to documentation. It should sync soon. thanks!

[2022-03-15 11:21] #24818 closed

[2022-03-15 12:09] arrayown commented on #24780
I can't even set up FB Messenger because the gateway seems to blank out. I wouldn't outsource FB Messenger to any apps and keep it native because none of the integrations seem to be on point, likely due to FB constantly changing things.

[2022-03-15 12:34] Vringe commented on #23932
Version 9.18.5 (which RC is using) and also Version 10 are both EOL and do have known vulnerabilities.
Upgrade to Version 11 is necessary.

See https://github.com/highlightjs/highlight.js/blob/main/SECURITY.md

[2022-03-15 12:49] dudanogueira commented on #23435
We confirmed it working on latest 4.5.X.

We just updated our Zapier docs, please, check it out:
https://docs.rocket.chat/guides/administration/admin-panel/integrations/zapier

SSL Certificate is probably a deployment error. Please, let us know if this issue still persists.

[2022-03-15 12:49] #23435 closed

[2022-03-15 12:49] dudanogueira commented on #14476
Hi!
We just updated our Zapier docs and confirmed it working properly in 4.5.x
please, check it out:
https://docs.rocket.chat/guides/administration/admin-panel/integrations/zapier

[2022-03-15 12:50] #14476 closed

[2022-03-15 12:51] dudanogueira commented on #19743
Hi!

We just updated our Zapier docs and confirmed it working on 4.5.X, please, check it out:
https://docs.rocket.chat/guides/administration/admin-panel/integrations/zapier

let us know if this issue persists.

[2022-03-15 12:51] #19743 closed

[2022-03-15 12:52] #11377 closed

[2022-03-15 14:33] HoldOffHunger commented on #20659
Is there any chance this will be addressed?

[2022-03-15 14:53] dmonn commented on #24826
Hey @sampaiodiego Kudos, this works amazing with the PATs. Issue solved.

Just to be 100% sure, these tokens **never** expire? Even on server restart / updates they'd persist? How many active PATs can a user have? Haven't found docs around this.

[2022-03-15 17:43] Shlok1999 opened #24836 "Search messages feature advancement needed"
https://user-images.githubusercontent.com/47269110/158439061-af1a774c-6039-4780-808e-9f57ca957aac.mp4

Search result does not appear until the whole word is typed.

[2022-03-15 18:55] sampaiodiego commented on #24350
I give this a try again but I still cannot get an environment with internet access only via proxy..

I tried setting up `tinyproxy` as suggested by @bellegarde-c but I couldn't get it to work as I was expecting (maybe I had the wrong expectations)..

any hints on how to get this env up? anyways I'll try to come up with a PR with a possible fix, but I may rely on someone else to validate it, which

[2022-03-15 18:59] sampaiodiego commented on #24826
great to hear it worked @dmonn 😄

no, PATs are persisted, they don't expire and are technically unlimited, I mean, there is no limit on the code, but having too many may degrade system performance.

[2022-03-15 19:24] bellegarde-c commented on #24350
@sampaiodiego It's proxychains4, not tinyproxy.

proxychains4.conf mandatory part:
[code]

and rocket service:
[code]

[2022-03-16 03:51] ankar84 commented on #24836
Try to enable **Admin UI - Message - Always Search Using RegExp**
![image](https://user-images.githubusercontent.com/4023037/158513429-61535096-8ec2-432f-a6fb-934618dbe8e4.png)

[2022-03-16 05:02] Sx3 opened #24839 "RocketChat Genarates Same Jitisi meet URL every time"
### Description:

### Steps to reproduce:

By creating a new call in rocket chat (configured with jitsi meet)

### Expected behavior:
A Randomized URL each time a call is made.

### Actual behavior:
Same URL each time a call is made even for a different user too.

### Server Setup Information:

- Version of Rocket.Chat Server: v3.18.3
- Operating System: Ubuntu 18.04
- Deployment Method: docker
-

[2022-03-16 05:24] ankar84 commented on #24839
How user will get same Jitsi call if every single user will get different Jitsi room name?
In that case there will be set of different rooms (calls, conferences) with only one participant. It's non sense.

[2022-03-16 07:34] gennari-dkt commented on #18789
The issue is still in my 4.5.0 installation.

[2022-03-16 08:06] ankar84 commented on #24350
Hey @debdutdeb
I confirm @stefan7018 information - capitalized variable not a fix
![image](https://user-images.githubusercontent.com/4023037/158544444-bcfdf140-9e7e-4f33-82cd-c80402823c97.png)

[2022-03-16 08:17] postwarbreakout commented on #24694
Problem still exists in 4.5.2.

[2022-03-16 08:51] kuryachiyandreysergeevich opened #24841 "Help! Problem of connecting to server"
![image](https://user-images.githubusercontent.com/13069420/158552132-9f21d32c-6b8c-4ae4-a5fa-46b9741d6dec.png)

account already connected!

[2022-03-16 09:20] samuk commented on #12921
Are there any updates on this please?

[2022-03-16 09:36] charlyrock opened #24842 "Start chat doesn´t work"
### Description:

 If I look for a user in the search bar and click on them to start the chat, I get the error message "Room can´t found".
![Bild_2022-03-16_103358](https://user-images.githubusercontent.com/67680741/158560068-c9465d38-dda2-462b-b8d8-3c542aee79e8.png)

### Steps to reproduce:

1.  Look for a user in search bar
2.  Click on user to start the chat
3.  the error message occurs

### Ex

[2022-03-16 09:39] charlyrock opened #24843 "User search only shows username"
### Description:

Search for a user in the user search shows only the username and not the full name of the user. In a older version will be shown the full name.

### Steps to reproduce:

1.  Searchbar and search for a user
2.  username will be shown
3.

### Expected behavior:

 I expect to see the full name and not the username.

### Actual behavior:

 The username will be shown

### Server Setup

[2022-03-16 10:51] serviceman commented on #24608
I know this has been forwarded and responded to, but us there any update on this issue? Thank you in advance.

[2022-03-16 10:55] dudanogueira commented on #24842
duplicated: https://github.com/RocketChat/Rocket.Chat/issues/24727

[2022-03-16 11:39] derfreiburger commented on #21496
Hi Tim,

I have the same problem you described here.
Plesk Obsidian and a MongoDB in a Docker container.

Have you found a solution in the meantime?

[2022-03-16 11:58] verbeckii opened #24844 "Is Keycloak auth fully working?"
### Description:

I set up Keycloak authentication and noticed that not all functions work
Keycloak is a SSO provider, which means not only a user provider, but also provides additional features such as **Singel Sign In** and **Single Sign Out** between all applications connected to Keycloak.

### Steps to reproduce:

1. I have my _custom app_ which connected to Keycloak
2. I have my Rocket chat w

[2022-03-16 13:05] emikolajczak commented on #24844
Hi, it is known, very old issue.
I have workaround it by
1. Go to "Administration -> Layout -> Custom scripts
2. In "Custom Script for Logout Flow" add
[code]

[2022-03-16 14:48] qkNorris opened #24847 "4.5.1 - Add user pane crashes when typing in a name (if display name isn't set?)"
### Description:

As of the 4.5.1 update, clicking the blue "add users" button on a channel and typing in any username causes the pane to crash. One of our developers might have found the core issue, but i'll leave that at the bottom since its not verified.

### Steps to reproduce:

1. Go to any channel
2. Click on the blue "add" button inside the members list in the top right
3. When you start ty

[2022-03-16 15:04] Dok11 commented on #14719
Any news about this feature?

[2022-03-16 15:10] Gummikavalier commented on #24843
Linking this as a duplicate to this https://github.com/RocketChat/Rocket.Chat/issues/23482

[2022-03-16 15:34] qkNorris commented on #24847
As a side note - this is a huge blocker on the production build right now. I am really surprised this hasn't been reported though - has everyone else found a way to force that the first/last display name is set for every user? I tried with little success. Were using LDAP for logins - which doesn't appear to auto populate the display name field, even though those are in the user directory.

[2022-03-16 16:08] verbeckii commented on #24844
thanks
I also set custom script for logout flow and its work fine
okay now I have only one question How I can make auto login via Keycloak provider?
Right now when unauthorized users go to my rocket chat they see login page and should firstly click Keycloak button
How I can instantly redirect unauthorized users to Keycloak Login page?
I'm tried to do something like your solution and create custom

[2022-03-16 16:35] Gummikavalier opened #24848 "[Docs] Rocket.Chat coverage in Wikipedia"
### Description:

We've spotted that Rocket.Chat does not get good coverage in Wikipedia.

There is a stub that was downgraded to the draft for the lack of notability:
https://en.wikipedia.org/wiki/Draft:Rocket.Chat

The issue seems to be that there is not enough good references of use of Rocket.Chat aka notability. Which is odd because Wikipedia contains a lot of different projects with far less

[2022-03-16 16:41] chandlerlucius opened #24849 "Rocket.Chat can't connect to self hosted server internally on mobile"
When connecting to self hosted server via https url from inside the hosted network the web version can connect, but the mobile app cannot.

[2022-03-16 17:55] photoninger commented on #22832
This affects also federation when you are searching for external users.
It is not user-friendly to type in the exact case-sensitive email address in order to find users on external servers.

rocket.chat Server Version: 4.3.3

[2022-03-16 18:04] cuongnn-smartosc commented on #24727
When you create an direct message, the URL is `http://localhost:3000/direct/JG9iuAbCcMEdvd9kx` and the server code will look up the username  instead of rid therefore it unable to find the "to" user

`let to = Users.findOneByUsernameIgnoringCase(username);` in class server/methods/createDirectMessage.js

Fix is you need to change the rid in `/lib/rooms/roomTypes/direct.ts`

[code]

[2022-03-17 03:21] Rohan749 opened #24852 "Multiple Broken Links"
### Description:

In Rocket.chat Devs Website, under Apps Engine -> Adding Features -> Schedular APIs has a section Permissions which contains 2 links: "Permission System" link and the "Schedular API needs the following permission" link. Both of them are not working.

![Screenshot from 2022-03-17 08-50-10](https://user-images.githubusercontent.com/90546860/158730208-f91ce415-feb6-4757-aafb-b744fab

[2022-03-17 03:57] ankar84 commented on #24727
Main question to me right now is why all worked perfect in develop branch and stop working when same PR was merged in 4.5.2 release. Can someone explain it tp me?

[2022-03-17 04:31] supportdesk-si commented on #24444
The option is not working.  This is very strange for such a platform to ignore such a vital functionality!

[2022-03-17 04:35] supportdesk-si opened #24853 "Version 4.5.2 channel invitation link is not working"
This 5 or 6 update since we originally ran into the issue.  There is a developer who fixed and yet the patch is not available.  Inviting a user to the channel is a critical part of the platform and it is not functioning.  Please address ASAP!!!!!!!!!!!!!!

CentOS 8

Deployment
Version
4.5.2
Deployment ID
xxxxxxxxxxxxxxxxxxxxxxxx
Apps Engine Version
1.31.0
Node Version
v14.19.0
Database Migration
2

[2022-03-17 04:52] ankar84 commented on #24853
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/24444

[2022-03-17 06:50] holzfelix commented on #24727
same issue here!

[2022-03-17 07:02] liketodev6 opened #24854 "Access token"
Hi all.
let me know please how to create access token like this
https://prnt.sc/eDgHF0LQwnMu

[2022-03-17 07:47] Himanshu664 opened #24855 "[BUG] Error message in export messages is not visible"
### Description:
Error message in export messages is not visible fully.

### Steps to reproduce:

1. Go to room
2. Click on export message
3. Click on send
### Expected behavior:

Error message should be fully showed

### Actual behavior:

https://user-images.githubusercontent.com/76220055/158760565-7e46a244-8b2e-499e-9ae7-dd64a235765c.mp4

### Server Setup Information:
Version of Rocket.Chat Serv

[2022-03-17 08:48] vesperk commented on #2049
+1

[2022-03-17 08:54] verbeckii commented on #20792
I'm sorry for disturbing this topic
but how do you solve this?
Actually, I faced the same issue - I need to click "Keycloak Login Button" by custom script when

and this is also doesn't work fo me

[2022-03-17 10:13] icerootsvw commented on #11598
my issue was i was not selecting the correct database (thank you to rocket chat support team)

rs0:PRIMARY> show dbs
admin    0.000GB
config   0.000GB
local    2.381GB
parties  1.536GB
rs0:PRIMARY> use parties

After that i executed this and it was fixed directly

`var subscriptions = db.rocketchat_subscription.find({
	t: 'd',
});

subscriptions.forEach(function(subscription) {
	var user = db.user

[2022-03-17 10:52] Meibisu commented on #2049
+1

[2022-03-17 11:12] Alison4kk commented on #24849
in order to connect from the app, the server needs to be in a public domain and have a SSL certificate
I did it using NO-IP (noip.com)  and lets encrypt ( https://docs.rocket.chat/quick-start/installing-and-updating/rapid-deployment-methods/snaps/auto-ssl-with-snaps)

[2022-03-17 11:12] verbeckii opened #24857 "Custom_Script_Logged_Out is not working"
### Description:

The bug is unworking **Custom_Script_Logged_Out** section on **admin->layout->custom scripts**
NOTE: Custom_Script_Logged_In and Custom_Script_Logout are work fine

### Steps to reproduce:

1. Go to **admin->layout->custom scripts**
2. Try to add Custom Script for Logged Out users, lets's add there a simple console message `console.log('test');`
3. Visit your Rocket chat login pa

[2022-03-17 11:16] brxshncy opened #24858 "Custom CSS not working"
### Description:

I made some tweaks in the Custom CSS and it's not working on a Self Hosted RocketChat.

### Steps to reproduce:

1. Go to Administration > Layout  > Custom CSS Section
2.  tweaking sidebar CSS property,   CSS code below:
[code]
4. Save Changes

### Expected behavior:

Wrapper content should change color background

### Actual behavior:

CSS not working

[2022-03-17 13:56] ritikBhandari commented on #24639
hi,
Can i work on this?

[2022-03-17 14:35] tkurz opened #24859 "Chatpal Search Provider does not index anymore"
### Description:
New messages are not indexed anymore. This may due to changes in settings.get (so events are not handled properly anymore)

### Steps to reproduce:
Add a message and try to search for it using chatpal provider.

### Expected behavior:

Should be indexed and returned.

### Actual behavior:

Does not appear in the index.

[2022-03-17 14:36] tkurz commented on #24859
I am already on it and will provide a hotfix.

[2022-03-17 16:21] Himanshu664 opened #24861 "[BUG] Two Jump to message button when message is starred"
### Description:
Two jump to message button is show when message in thread is starred

### Steps to reproduce:

1. Go to room
2. Click on thread
3. Star a thread message
4. Jump to Message is showing twice

### Expected behavior:

https://user-images.githubusercontent.com/76220055/158846023-609e82b1-a030-48ac-aae7-19b5b0b8ae3c.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76

[2022-03-17 16:39] chandlerlucius commented on #24849
Correct. It has all that. You can connect to the server from outside the internal network, just not inside it.

[2022-03-17 18:35] #24854 closed

[2022-03-17 18:41] TwizzyDizzy commented on #24099
I do, however, see an oddity in the hooks URLs:

[code]

Notice how there seems to be a numerical prefix to the token that is not present in the hook that is working?

The sole difference between those hooks is, IIRC, that the one that is working has been created ages ago, the one not working has been (re-)created recently.

So I'm taking a wild guess: on newly created (or before a certain commit

[2022-03-17 19:26] Kyogre commented on #13351
@pierre-lehnen-rc @sampaiodiego Hello, guys!
Can we reopen this issue and investigate some more? We are still getting 413 error "Payload Too Large". Maybe there is some regression happened...
Tried import with two archives with sizes 38 MB and 212 MB, got the same 413 error. Meanwhile, uploading these archives to channel works fine.

**Server Setup Information**
    Version of Rocket.Chat Server:

[2022-03-17 21:37] toppermitz commented on #24727
I upgrade today from 4.5.1 to 4.5.2 and this issue still existing

[2022-03-18 05:00] Rohan749 opened #24868 "[BUG] The channels change itself on clicking Message box."
### Description:

The Channel keeps changing every time the message box is clicked for initiating a new message.

### Steps to reproduce:

1. Go to any channel
2. Click on the message box.
3. The channel is changed automatically

### Expected behavior:

It should not change the channel

### Actual behavior:

https://user-images.githubusercontent.com/90546860/158940251-a2fb9125-f22e-41d4-beb6-1ac48

[2022-03-18 09:06] fedorenchik commented on #14582
I haven't fixed the issue. :facepalm:

[2022-03-18 09:25] Kunstbanause opened #24871 "Right Click Context Menu not working"
I am experiencing a bug over the last couple of versions where the _right click context menu_ is broken. Currently in version: 3.7.9 windows app

**Get the bug**
- Unknown how this starts.
- When it happens, it persists even after switching the message window. Restarting the app.
- (I am an fidgety user. While reading I select the text I am reading, right clicking all over the place. Starting to d

[2022-03-18 10:37] ankar84 commented on #24871
That issue should be redirected to Electron repo https://github.com/RocketChat/Rocket.Chat.Electron/issues

[2022-03-18 14:08] vinogradovia commented on #24525
I like the idea, I vote for

[2022-03-18 16:08] duven87 commented on #16827
Hi, Im trying since days upgrating my rocketchat 2.2.0  to 4.5.x from  mongodb (mmapv1) 4.0 to mongodb 4.4 (wiredTiger) with Debian Buster + node.
I have tried a lot of ways but I always get errors either from mongo or rocketchat.

In the end I gave up with the original server and installed a new one with rocketchat 4.4 and mongodb 4.4. After some changes it started correctly.
Then I made a dump f

[2022-03-18 16:42] UniPAYNINJA opened #24873 "sign into is currently associated with a different Rocket.Chat Cloud account"
The Rocket.Chat Workspace you are attempting to sign into is currently associated with a different Rocket.Chat Cloud account than the one you are signed in with. (359d7f8b-a9cf-4f12-a2d0-52284272f2aa)

can anyone provide a normal and understandable flow on how to solve this nightmare ???????????

[2022-03-18 17:21] antgel opened #24876 "Restarting server takes ages and stuck in the past - runs migration for no reason, message logs from two months ago"
It's been a while, hope everyone is well. Our server may not be...

### Description:

Restarting our RC (Docker) server process usually takes around a minute. Suddenly it takes around ten minutes, which is very strange, and there is strange behaviour in the logs, it seems confused about what migration level it's at, and old messages are repeated.

### Steps to reproduce:

`docker-compose restart`

[2022-03-18 17:56] gwbrew commented on #24080
Confirmed from my end https://test.example/page  crashes as well as other local urls.
Tried on web and desktop version.. bot crash rocketchat.

RC 4.4.2
Node Version v14.0.0
MongoDB 4.4.12 / wiredTiger
Centos 7

Is there a work around yet or suggestion of change? Thanks!

[2022-03-18 18:59] antgel commented on #10585
I haven't been around for a while, and I just saw this:
![image](https://user-images.githubusercontent.com/295571/159067410-34fd79ee-03b2-4311-9d40-e9b8ce6f4de6.png)

Seriously team? Do you not care about the git commit history at all? Or are we still in hack mode, years later? How can I care more than you? :(

[2022-03-18 21:02] victoroliveira93 opened #24883 "[BUG] Cannot read properties of undefined (reading 'toLowerCase')"
When I start typing a username on the create channel screen, the screen goes black and gives this erro on console:

74ccf51fe933c8ba0d7478ff05b11bf417ec8c05.js?meteor_js_resource=true:1098 TypeError: Cannot read properties of undefined (reading 'toLowerCase')
    at 74ccf51fe933c8ba0d7478ff05b11bf417ec8c05.js?meteor_js_resource=true:5:423170
    at Array.filter (<anonymous>)
    at 74ccf51fe933c8b

[2022-03-19 06:43] Shivansh2287 commented on #24858
I am unable to reproduce the issue

![Screenshot from 2022-03-19 12-12-06](https://user-images.githubusercontent.com/54775060/159110602-966cd2aa-4c0a-439a-8aa0-28945453aa14.png)
![Screenshot from 2022-03-19 12-11-40](https://user-images.githubusercontent.com/54775060/159110604-44d67eed-0d30-4d10-9126-a4b9ad3f8244.png)

[2022-03-19 10:00] samad-yar-khan opened #24885 "[BUG] Unable to Register new server"
### Description:

Whenever the user tries to setup a new Rocket.Chat server, they cannot get past the admin panel setup.

### Steps to reproduce:

1. Build and Run a New Rocket Server
2. Register Server using Admin Panel
3. Fill Details
4. Click On Register

### Expected behavior:

1. Server Should be Registered.

### Actual behavior:

1. Server Not Registered and we get the following error :

![i

[2022-03-19 11:52] ali-alhaidary commented on #24654
still in 4.5.2

[2022-03-19 11:57] ali-alhaidary commented on #23599
still in 4.5.2

[2022-03-19 15:54] herculesbl9 opened #24886 "Search error when trying to direct message users for the first time."
### Description:

When searching for a user I have not direct messaged in the past, the search function returns the user's username instead of name and the wrong URL to the user's room (in fact, it only seems to return a part of the actual URL). The issue is resolved when I select the user from the Directory. After that, the search returns the correct URL and full name instead of username

### Ste

[2022-03-20 14:11] Shivansh2287 opened #24888 "[BUG] horizontal scrollbar in announcement section"
### Description:

In the announcement section, if we enter a word with more than 107 characters it creates a horizontal scrollbar

### Steps to reproduce:

1. Go to any room and click on edit room information
2. Add an announcement with a word of more than 100 characters save the change
3. Go to the same room and click on announcement a modal will open with a scroll bar

### Expected behavior:
![S

[2022-03-20 14:29] Shivansh2287 commented on #24888
#24889

[2022-03-20 15:49] Rohan749 opened #24890 "Cannot Deploy the given example App to Server"
### Description:
In the RocketChat.Devs website, under Apps Engine -> UIKit -> Opening the Contextual Bar, there is a given app to be cloned and tested inside the Rocket chat server. After cloning, I tried to deploy it on a local server.
But it is missing a module "typescript".

### Steps to reproduce:

1. Go to RocketChat.Devs website, under Apps Engine -> UIKit -> Opening the Contextual Bar.
2.

[2022-03-20 16:51] akgupta0777 opened #24891 "Clicking on message box redirects to another page"
### Description:

Clicking on message box in private channels redirects to another page

### Steps to reproduce:

1. Create a private channel with no member only you.
2. Click on message box to type message.
3. You will be redirected to another channel page in my case gsoc-2022

### Expected behavior:

Redirection doesn't happen on clicking messageboxes

### Actual behavior:

https://user-images.g

[2022-03-20 17:06] ae5960e8-a6fc-491f-b252-898ecf59af95 opened #24892 "Users shown as online when offline"
### Description:

Four of the users in my workspace are always shown as online (i.e. with the green light) even when they are not and all their devices are turned off. This also means they will never be notified on mobile, as the server thinks they’re at their device when they are not.

### Steps to reproduce:
unknown

### Expected behavior:
The user's status changed to “offline” when their app cl

[2022-03-20 21:20] alexey-mik commented on #14719
Fresh custom css that is working
`.message[data-tmid] {
    display: none;
}`

[2022-03-20 21:25] Dok11 commented on #14719
It's also hide messages in the thread, so maybe this styles will be more correct:
[code]

[2022-03-20 21:27] alexey-mik commented on #14719
Right, thank you. Just corrected my message

[2022-03-21 07:55] Gummikavalier opened #24894 "Overriding global retention policy in channel settings does not work"
### Description:

Channel specific overriding of the global message retention policy does not work.

### Steps to reproduce:

1. Enable Global Retention Policy under Administrator settings and set it for one year.
![Screenshot from 2022-03-21 09-49-23](https://user-images.githubusercontent.com/6958942/159221753-c9c1bd2c-7384-42b4-8bbe-57fc549fae10.png)

2. As an admin go to any single channel sett

[2022-03-21 08:26] Gummikavalier commented on #24891
I cannot reproduce this as reliably, but I have seen it happen on RC 4.5.2 sometimes just after moving between few channels.

[2022-03-21 09:23] danel1 commented on #23932
@debdutdeb @dudanogueira @tassoevan @sampaiodiego Could someone please take a look at this? This is security relevant and completely ignored....

[2022-03-21 09:57] fdellwing commented on #24890
Pretty sure `NODE_ENV` is in `production`. Either do `npm config set -g production false` or run `npm install --dev` directly.

[2022-03-21 10:45] krumelmonster commented on #16975
Still in 4.5.2. This is bad

[2022-03-21 11:03] Furragen commented on #19461
I guess this is not relevant anymore, since this feature basically moved to RocketChat Enterprise and we nowadays use the Teams-Feature to map new users to multiple channels.

[2022-03-21 11:03] #19461 closed

[2022-03-21 11:04] Furragen commented on #19270
The problem disappeared for us.

[2022-03-21 11:04] #19270 closed

[2022-03-21 11:06] vetash commented on #24858
[code]
Same issue in 4.5.2. Css does not apply on any changes.

[2022-03-21 12:35] cYzzie commented on #24727
we upgraded from 3.X to 4.5.2 and are having the same problem

[2022-03-21 12:47] dudanogueira commented on #24861
Duplicated: https://github.com/RocketChat/Rocket.Chat/issues/23951

[2022-03-21 13:35] talss89 commented on #9611
This is, IMO, a key feature. Could we have an indication of where this sits in the development roadmap?

[2022-03-21 21:39] dudanogueira commented on #24886
Duplicated. Please refer to: https://github.com/RocketChat/Rocket.Chat/issues/24727

[2022-03-21 21:39] #24886 closed

[2022-03-21 21:49] #24883 closed

[2022-03-22 02:08] devadattas commented on #24727
Upgraded to `4.5.3` and the issue still persists!

[2022-03-22 02:23] lovekyleman commented on #24444
Seems no one cares about this bug
4.5.3 still the same

[2022-03-22 02:58] ankar84 commented on #24727
@tassoevan @ggazzo Please consider to fix that issue.
Fox some reason https://github.com/RocketChat/Rocket.Chat/pull/24623 didn't fix that issue.

[2022-03-22 05:42] kitich commented on #24727
4.5.3 still there

[2022-03-22 07:08] holzfelix commented on #24727
yep still there

[2022-03-22 09:10] vinogradovia commented on #2192
Any news ?

[2022-03-22 09:18] fdellwing commented on #2192
https://github.com/RocketChat/Rocket.Chat/pull/16311#issuecomment-825389926 ff

[2022-03-22 09:24] vinogradovia commented on #2192
thx,  strange that I did not find this functionality in the price (licence comparison)

[2022-03-22 09:25] ICarryTheDustOfAJourney commented on #19317
Having same problem with  V4.5.1 on an Ubuntu 20.04 installed as snap.

/tmp/userData/ doesn't exist (/tmp/snap.rocketchat-server/tmp/userData/)

[2022-03-22 09:31] fdellwing commented on #2192
https://docs.rocket.chat/guides/user-guides/rooms/teams/teams-enterprise-edition

It's not even included in the middle price option, only in the highest price that they do not even communicate openly.

[2022-03-22 09:31] ICarryTheDustOfAJourney commented on #12587
Have that error too on V 4.5.1. on Ubuntu 20.04.4 LTS

[2022-03-22 10:03] ketsyrk commented on #23593
Same problem - Polish translation.
There is: USER is pisanie...
should be: "USER pisze..." or "User1 i USER2 piszą..."

[2022-03-22 10:47] AsemAboelareff opened #24907 "MFA windows not showing"
i found that I`m logged out of my rocket chat from the browser, so i tried to login in), it sent Authentication code without showing the input field, the login button froze on (Please wait...).

The desktop agent has the same issue, but mobile works fine.

[2022-03-22 14:35] IARI commented on #11675
@ggazzo I wonder, why this issue was closed, since the merge request for the updated version of marked was rejected - and the issue still persists

[2022-03-22 14:38] MikolaTesla commented on #24679
I have same problem on 4.5.2

Mar 22 09:19:19 srv-rocket rocketchat[767]:                                         return fn.apply(this, arguments);
Mar 22 09:19:19 srv-rocket rocketchat[767]:                                                   ^
Mar 22 09:19:19 srv-rocket rocketchat[767]: RangeError: Out of memory
Mar 22 09:19:19 srv-rocket rocketchat[767]:     at Fiber.run (/opt/Rocket.Chat/program

[2022-03-22 15:11] vinogradovia commented on #8162
+1

[2022-03-22 15:25] Kunalvrm555 opened #24909 "[BUG] New user created by admin asks for verification if marked verified"
### Description:

First login attempt from a new user created by admin requires verification code even if the user was marked as verified at the time of creation whereas a new user not marked as verified is not asked for a verification code.

### Steps to reproduce:

1.  Go to Administration.
2.  Click on **Users**.
3. Click on **New** to create new user.
4. Enter required details and mark the use

[2022-03-22 15:55] wangcc57 opened #24910 "Api create user"
call interface create user,timeout
but the user created successful

[2022-03-22 16:46] franciscopaniskaseker commented on #24679
The doc says to install 14.0.0 ( https://docs.rocket.chat/quick-start/installing-and-updating/other-deployment-methods/manual-installation/updating ), but I upgraed to 14.14.0 to test. After 6 days no crash yet.

[2022-03-22 16:58] aman-simplycool commented on #24909
hey can i fix this issue

[2022-03-22 17:10] wangcc57 commented on #24910
yes

[2022-03-22 17:15] aman-simplycool commented on #24910
hey please can you be more clear about the issue you raised because I am unable to find and get this issue.

[2022-03-22 17:49] ChrisJBurns commented on #2233
Is there a way to completely automate the setup-wizard? The manual task is a bit annoying. We install via Helm so would be great if we could get all of the setup-wizard stuff sorted before we even go to the applicaiton.

[2022-03-22 18:47] dmonn commented on #24826
Hey @sampaiodiego

We just had a short downtime because every single PAT was invalidated at once. What are scenarios where this could happen? We didn't update/upgrade, didn't play around with settings, it just happened 'by itself'.

[2022-03-22 18:55] dmonn commented on #24826
Does 'Login Expiration' have anything to do with this here? We migrated these users that tried out the beta about 7 days ago. The Login Expiration was set to 7 days too....

[2022-03-22 20:20] ChrisJBurns opened #24912 "Automatic User Creation"
We are currently setting up RocketChat, and we were hoping that with RocketChat being installed and setup, alongside it, it would create some bot accounts (in our case just one). Is this possible via configuration options? Or is it a manual process where someone has to run a script to hit an API to do it - or even do it manually via the RocketChat UI?

[2022-03-22 23:03] stefan7018 commented on #24350
Still an issue in RC 4.5.3.
Any news when it will be fixed? Or is an patch available for some testing?

[2022-03-23 01:15] wangcc57 commented on #24910
rocketChatClient.getUsersApi().create(createUserRequest);

call this api,you will found the issue

[2022-03-23 01:27] supportdesk-si commented on #24853
Version 4.5.3 has the same problem.  It is not fixed.

[2022-03-23 01:28] supportdesk-si commented on #24444
Version 4.5.3 is dead in the water again.

Does anyone knows or follows this bug.  Seems there is a fix but it is not incorporated into the release. WTF?

[2022-03-23 03:51] ankar84 commented on #24350
@sampaiodiego that issue is a blocker to upgrade to new versions of Rocket.Chat. I'm still on 4.3.3 and have no ways to upgrade while proxy not supported.
I'm sure that many companies around the World have managed Internet access via proxy servers, so it is a really critical problem for a wide amount of Rocket.Chat community.
Please fix that.

[2022-03-23 04:16] ankar84 commented on #24350
Diego, I can test some docker image with possible fix. I'm ready for that in any time. You can ping me at open server.

[2022-03-23 04:23] ankar84 commented on #24912
Yes, you can create users in scripts via REST API or if you have LDAP, you can integrate it and users will generated from LDAP.

[2022-03-23 04:57] ankar84 commented on #24350
Hey, community!
What do you think if it could be related to [changes in meteor 2.3](https://docs.meteor.com/changelog.html#breakingchanges-10)
[code]
And if so, if that [fetch-with-proxy package](https://www.npmjs.com/package/fetch-with-proxy) could be a fix for that issue?

@debdutdeb what do you think?

[2022-03-23 04:59] debdutdeb commented on #24350
This indeed is related to meteor update, we're aware. But, if you look at Diego's messages here, the problem is that he hasn't been able to reliably test this.

I'll have a quick chat with him tonight as soon as I get back.

[2022-03-23 05:12] ankar84 commented on #24350
Here is a issue about proxy support in node-fetch module https://github.com/node-fetch/node-fetch/issues/195

[2022-03-23 05:29] ankar84 commented on #24350
Hey, Deb!

You have a few test deployments. Can you reconfigure one if them to use proxy, and Diego can test his fix there?

[2022-03-23 07:36] gennari-dkt commented on #24847
Hi, I have the same issue in version 4.5.2 with LDAP authentication, it is very annoying.

[2022-03-23 07:41] Cob0ld commented on #24444
Yeah comes across that way ... idk why this is not getting more attention

[2022-03-23 09:24] lascapi opened #24916 "[translation] a mixed message"
### Description:
Since few month we got a strange translation in French when someone is typing.

### Steps to reproduce:
1. Set RocketChat in French
2. Go on a room and wait until someone is typing
3. And voilà,

### Expected behavior:
I want to see
-  "User1 **est** en train d’écrire"  or
-  "User2 and user3  **sont** en train d’écrire"

### Actual behavior:
The problem is we got some english wor

[2022-03-23 10:05] SimonDry commented on #24916
![image](https://user-images.githubusercontent.com/42568434/159674196-1f650a0f-32ae-41bf-bf1e-684fdd8c7bbd.png)

I currently have "are en train d'écrire" instead of "sont en train d'écrire". (and "is en train d'écrire" instead of "est en train d'écrire" for the singular form)

[2022-03-23 10:13] nikolas-digitalBabylon commented on #24839
1) when a new call is generated, the link is posted as a message in the chat so that everyone in the chat has it. Like it is **already** done: When there is a call, the link is right there, in the chat and people click and open it. So I do not understand the difficulty of sharing a link among people that are in a common chat tbh...

1) Unique link  could be in the form of "RC deployment ID + room

[2022-03-23 10:57] ankar84 commented on #24839
I see your point now.
But with my experience, there is a tons of Jitsi integration issue like "Call already ended", where users need to start call by them self, issues where button don't appears in chat on call start.
So, if your call logic would be implemented, will be much worth.
To protect Jitsi from guest you need to implement Secure Domain with JWT authentication, also you can select plain ca

[2022-03-23 11:48] Gummikavalier commented on #24478
I haven't made justice to the devs regarding the attempts to prevent cache issues, as I noticed that there are lots of elements in the UI that are not in fact dynamic but instead contain a static string that can be changed between the upgrades. :)

Regardless, last time I had issues with the cache was after upgrading RC 4.5.x. The poll application simply crashed the UI when either visiting channel

[2022-03-23 12:01] #24692 closed

[2022-03-23 14:02] matthias4217 opened #24917 "Update Emoji library"
### Description:

Currently, emojis in the emoji picker are limited to Emoji 12. The current set seem to be the one in the npm package `emojione` (`emojione-assets` in the dev dependencies). However, this project has been discontinued due to a change of name. It should be replaced by the newer `emoji-toolkit` package. See more about it in [this Readme](https://github.com/joypixels/emoji-toolkit/bl

[2022-03-23 14:04] cole99simpson commented on #24727
Any update on this issue? Its been a pain for new employees in the office, luckily it isn't affecting iOS or iPad OS

[2022-03-23 14:20] Elintondm opened #24918 "livechat:registerGuest api not working with RC version 4.5.2"
When we call the livechat:registerGuest in the realtime API we didn't get any response.

Using Rocketchat 4.3.2 everything works fine.

### Server Setup Information:

Implantação
Versão
4.5.2
ID da Implantação
Noq4BacoMR5uivnhe
Versão da Apps Engine
1.31.0
Versão do Node
v14.18.3
Migração de Banco de Dados
256 (23 de Março de 2022 às 11:17)
MongoDB
4.2.8 / wiredTiger (oplog Ativado)
Detalhes do Co

[2022-03-23 14:33] hans4rc opened #24919 "https://cloud.rocket.chat/ - Login Error - "You should be logged to access this page""
For a few weeks now, I can no longer log in to the cloud with my account. No matter if with email link or with username and password, I get the same message.

My account exists since December 2020.

https://cloud.rocket.chat/

![image](https://user-images.githubusercontent.com/66670106/159722981-c3e47334-2fb2-4d6c-a24d-c4c24d82b3e7.png)

[2022-03-23 15:58] supportdesk-si commented on #24444
Just placed 4.6.0-rc0 ... same issue :(  What is going on?

[2022-03-23 16:37] #24861 closed

[2022-03-23 16:48] dudanogueira commented on #24919
Please, provide the information asked, such as version, deployment method, etc.

[2022-03-23 16:49] dudanogueira commented on #24918
Hi! Can you provide a curl command or the piece of code you are calling this API?

Thanks!

[2022-03-23 16:52] mclegrand opened #24923 "Constant very high (200%) server cpu load"
### Description:

Our RC instance is on a 2vCPU 4GB server and node+mongo are filling the cpu all the time.

### Steps to reproduce:

1. Start or restart rocketchat

### Expected behavior:

Load is usually low (we have like 10 connected users)

### Actual behavior:

mongodb has a 35% CPU load, node has a 165% load, permanently

### Server Setup Information:

- Version of Rocket.Chat Server: 4.5.2

[2022-03-23 16:53] #24912 closed

[2022-03-23 17:00] Elintondm commented on #24918
Hi,

I don't know how to generate a curl due it is a websocket API. I use this library to https://github.com/daniel-sc/rocketchat-modern-client to send API requests and it is working fine with a lot of versions, except this: 4.3.2

[2022-03-23 17:05] Elintondm commented on #24918
Another information: this rocketchat is cloud hosted at oficial rocketchat service.

[2022-03-23 17:07] Elintondm commented on #24918
I think this could by a proxy or firewall error due my requests doesn't receive any response.

[2022-03-23 19:50] dsobrinho40 commented on #18923
Hi team
During the process configure the new admin user I forgot the password and the recovery via email is not working.
How can I proceed?

[2022-03-23 23:48] mpgent commented on #24917
I'd like to work on this issue

[2022-03-24 00:17] mpgent commented on #24885
I'd like to work on this bug

[2022-03-24 04:01] Yuq-Bian commented on #24675
I'd like to working on this one.

[2022-03-24 05:39] ankar84 commented on #24923
You need more RAM for mongo.

[2022-03-24 06:24] ankar84 commented on #24917
Nice to see new updated emojis in Rocket Chat!

[2022-03-24 06:31] ankar84 commented on #22732
Could be fixed in https://github.com/RocketChat/Rocket.Chat/pull/24924

[2022-03-24 06:36] Yuq-Bian commented on #24675
Hi @Himanshu664 . I create a PR for this issue. https://github.com/RocketChat/Rocket.Chat/pull/24926  Could you help take a look? Thanks!

I notice reset does NOT work for Select (Dropdown List). I've checked other places with the same scenario that to reset a Select (for example, Admin -> General -> Language) and looks it has the same behavior that Select can NOT be reset.

Is this a known issue?

[2022-03-24 09:45] Franc3x commented on #24727
possible not to have a resolution of the problem?
We consider switching to other company chats?

[2022-03-24 10:09] fdellwing commented on #24923
Not really. We are running our cluster (3.18.5) on 3 vServers with 2 vCPU and 2 GB RAM each. It needs to be restarted about once a month to fight the memory leak, but otherwise it runs perfectly fine. So this seems like a real issue here.

[2022-03-24 10:22] ankar84 commented on #24923
Yes. Here is a tons of reasons for such high load. Memory leak is one of then. Restart of all instances could help here.
But my guess was mongo not able to put necessary db data to RAM and heavily use SWAP partition.
That could be for example if for a file storage GridFS is chosen, which is not recommended at all.

[2022-03-24 10:23] fdellwing commented on #24923
Yeah, if there are a lot of images or other things stored in GridFS, than the RAM could be a problem.

[2022-03-24 10:43] mclegrand commented on #24923
Should I switch the file upload storage to FileSystem ?

[2022-03-24 10:48] ankar84 commented on #24923
Best option would be some S3 storage server like minio.
But for 10 users server, I guess FileSystem could be a compatible option.

[2022-03-24 10:52] Gummikavalier commented on #24923
I'd be worried about this:
```RC regularly tried to fill the disk by writing tens of GB of data in /tmp/userData and /tmp/zipFiles```
because it might indicate that someone is making exports of their data constantly. Or some old export has failed and starts again and again from the scheduler of RC.

[2022-03-24 11:04] ankar84 commented on #24923
Nice catch, @Gummikavalier
I think I missed that moment.
It could be the real root cause. And if so, it could be fixed easy.
@mclegrand
Go to **Admin UI - Troubleshoot** and enable `Disable Data Exporter Processor` option
![image](https://user-images.githubusercontent.com/4023037/159903118-8111a1ba-8f82-4c4e-b509-f729ced4935a.png)

[2022-03-24 11:09] mclegrand commented on #24923
oh, nice, the load seems to immediately go back to [2-7]%, I'll monitor it :)

[2022-03-24 11:32] zakrush commented on #9589
Hi/

[2022-03-24 11:35] Kunalvrm555 commented on #22732
Thanks @ankar84

[2022-03-24 11:42] Zishan-7 commented on #24917
Hey! I would love to work on this issue.

[2022-03-24 11:47] himanshumalviya664 opened #24927 "[BUG] Changing Password Field is confusing"
### Description:
Changing password is confusing

### Steps to reproduce:

1.Go to My Account
2. Check password field name

### Expected behavior:

![After](https://user-images.githubusercontent.com/76220055/159909166-899ec6b6-1ee9-4ff0-b859-41e8b9698745.png)

### Actual behavior:

![Before](https://user-images.githubusercontent.com/76220055/159909171-434914fe-f809-40b3-99ab-394b0c0104b2.png)

###

[2022-03-24 12:26] MacedoL commented on #23989
Problem still there

[2022-03-24 12:28] akelon-user commented on #23537
Hello.
I ran into a possible bug. But I have SSL enabled in Rocket.Chat. When calling a subscriber, the subscriber does not have a call implementation window.
Where to look?)
Rocket deployed in 2 different locations, Docker and Manual ubuntu

[2022-03-24 12:37] emikolajczak opened #24929 "[Markdown] Links in brackets"
### Description:

There is an issue with links surrounded with brackets.
Example with brackets:
![image](https://user-images.githubusercontent.com/50440047/159917219-b8af8b05-03e4-4b8a-9ec1-8275d91591da.png)
![image](https://user-images.githubusercontent.com/50440047/159917262-3ccaca1d-8950-4b18-994e-323e88358277.png)

Example without brackets:
![image](https://user-images.githubusercontent.com/50

[2022-03-24 12:44] akelon-user commented on #2249
WebRTC doesn't work neither in Docker nor as Manual install in ubuntu

[2022-03-24 14:42] tars21 commented on #24727
I'm just here to say: same here

[2022-03-24 16:20] Yuq-Bian commented on #24675
Sorry. Just realize there's already an open PR for this issue. Will close mine.

[2022-03-24 16:34] Franc3x commented on #24727
will the next version be 5.4.3? I'm stuck at 4.5.1  thanks

[2022-03-24 16:43] dudanogueira commented on #24918
This could be an error on the library rather then on the server. Maybe the API had some change that is no longer implemented on the library.

I suggest you testing the API on the server directly and then checking the library itself.

[2022-03-24 16:46] dudanogueira commented on #24923
Closing this issue. Please, reopen if necessary. Thanks!!

[2022-03-24 16:46] #24923 closed

[2022-03-24 16:50] dudanogueira commented on #24910
Hi! This is probably something on the library side or deployment.

Please, try the curl command as the documentation so you can eliminate as a server bug:
https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/users-endpoints/create-user-endpoint

Closing for now.
Please reopen if necessary, providing more information and how to reproduce.

[2022-03-24 16:50] #24910 closed

[2022-03-24 16:51] dudanogueira commented on #24918
closing as this is probably on the library side.

[2022-03-24 16:51] #24918 closed

[2022-03-24 16:57] dudanogueira commented on #24919
Hi! When you receive the link for login and click on it, what happens exactly?

It just appears this message on a blank page?

[2022-03-24 17:02] jaykoby commented on #24679
Same problem here! :+1:

[2022-03-24 18:05] hans4rc commented on #24919
Yes exactly, the message is displayed on a white page. After a few seconds the message disappears and a white page remains.

I have tried the login on FireFox, Opera, Google Chrome and Edge. And I have cleared the cache. It is always the same. White page.

[2022-03-24 19:04] sampaiodiego commented on #24826
that's weird.. no, PATs are not invalidated/removed based on Login Expiration setting..

I've found a few actions that cause all login tokens to be removed though (including PATs):

- endpoint `/api/v1/users.resetTOTP`
- endpoint `/api/v1/users.resetE2EKey`
- endpoint `/api/v1/users.logout`
- Deactivate a user

[2022-03-24 19:07] wokawoka commented on #854
Rocket chat is working well and here we like it, but we are a small community and thousands and thousands of e-mails are sent each month just because of this specific issue.
Our group have to pay for the e-mails and the users are getting their e-mail box clogged by hundreds of single messages.

We haven´t found a way to solve this problem ourselves.
Is this issue still being considered? Is there m

[2022-03-24 20:15] sidmohanty11 opened #24934 "Deactivating only owners breaks the app"
### Description:
When a user is the only owner of a channel, and admin chooses to deactivate that specific user in the Administration, then the whole app breaks with an error from server i.e,
[code]

### Steps to reproduce:

1. If owner is the last person, and tries to leave the channel by `Leave` option in the sidebar options, it shows us to set an owner before leaving.
2. But when an admin for e

[2022-03-24 21:08] raffaelone opened #24937 "User's avatar does not render properly"
### Description:
All users avatars are not displayed correctly in the Android  and iOS apps. The avatar letter is not generated.
On the desktop, avatars are generated correctly.
I also asked Rocket.Chat.React Native for information and they replied that the problem could be due to missing fonts on the server.

![20220324_150033](https://user-images.githubusercontent.com/73063127/160008315-42192882

[2022-03-25 02:26] ali-alhaidary commented on #24654
still in 4.5.4

[2022-03-25 02:27] ali-alhaidary commented on #23599
still in 4.5.4

[2022-03-25 03:09] szdefine commented on #23989
Problem still there  。 version 4.5.4， plz fix it

[2022-03-25 05:04] william00179 commented on #24669
We have this issue with SAML accounts

[2022-03-25 05:35] himanshumalviya15 opened #24940 "[BUG] Typo when 1 message is pruned"
### Description:

when 1 message is pruned it shows "1 messages pruned" it should show "1 message pruned"
### Steps to reproduce:

1. Go to room
2. Click on prune message
3. prune only 1 message

### Expected behavior:

https://user-images.githubusercontent.com/76220055/160060660-6fb073df-aa36-4129-9b25-7fd46dcaf77a.mp4

### Actual behavior:

https://user-images.githubusercontent.com/76220055/1600

[2022-03-25 07:25] alpharokot opened #24943 "Merge Roles from SSO not working in open source version of RC?"
### Description:

We are trying to set up RC for use with our website. For this purpose, we wrote a custom OAuth2 server and authorization through it worked. But the assignment of roles does not work.

### Steps to reproduce:

1. Setup custom OAuth with merging Roles from SSO  ![image](https://user-images.githubusercontent.com/36432742/160065960-6cb9524a-08bd-42f0-8ecc-419704b67146.png)
2. The new

[2022-03-25 08:04] smallfish01 commented on #16852
I have the same issue in 4.5.4.

[2022-03-25 08:08] hktalent opened #24944 "docker build error.."
docker build -f .docker/Dockerfile .
=> ERROR [4/5] RUN aptMark="$(apt-mark showmanual)" && apt-get install -y --no-install-recommends g++ make python ca-certificates && cd /app/bundle/programs/server && npm insta 23.8s

https://github.com/webrtc/samples/pull/8 23.53 /bin/sh: 1: cd: can't cd to /app/bundle/programs/server

executor failed running [/bin/sh -c aptMark="$(apt-mark showmanual)" && apt

[2022-03-25 08:19] dmonn commented on #24826
No worries, keeping an eye out.

That being said, are there some situations where `/api/v1/users.logout` is called by the system? We had a brief period where our iframe integration would send `Custom_Script_Logged_Out` without us doing anything, but it happened to solve itself.

[2022-03-25 09:41] fdellwing commented on #24929
It's like this for ages. Only workaround I found is to add an extra space.

[2022-03-25 10:12] Langriklol opened #24946 "[macOS] Whenever rooms are switched until another is loaded, app crashes"
### Description:

Let's say that I have 3 or more unreaded rooms. If I switch to any of them and then immediately to different one, application shows no content box but background and occasionally completely crashes. Also happens if I just switch "too fast" between rooms, which I already red.

### Steps to reproduce:

1. Have 3 or more unreaded rooms
2. click from loaded room to unreaded (unloaded

[2022-03-25 10:56] KevalGajjar-1 opened #24947 "Unread count issue"
Hi there, I found a small issue in the rocket chat app, In the below screenshot you can see that there is showing 1 unread count in the sidebar and thread so basically the user delete the thread but I didn't see that's why it is showing. so can you please look into this? Here are the steps to produce this issue

Step 1: Person 1 send a message to Person 2
Step 2: Send a message in thread in by per

[2022-03-25 11:14] TheMatzy opened #24988 "High CPU Load on Windows Server 2019 Terminal Server since 3.8.0"
**Describe the bug**
With the update from version 2.7.7 to 2.8.0 we have very high cpu usage of rocket chat on our terminal server. you can see this in the screenshot. i would be very grateful for a fix. Cache in RC Client has been cleared. An AppData reset did not help either

**What operating system and which version?**
Windows Server 2019 - Terminal Server with RDP

**Which version of Rocket.Ch

[2022-03-25 13:05] Gummikavalier commented on #22832
We looked into this issue again in RC 4.5.3. The outcome was that the bug might be in the part that does the merge function.

When we create (via login with OIDC/Oauth) an account that has the email **test.account@example.com**
and then log in with a similar account that has email Test.Account@example.com
the result is that the latter account gets merged to the previous account.

BUT if we first l

[2022-03-25 13:36] vinogradovia commented on #23989
@szdefine, fix #24052 in 4.6.0

[2022-03-25 14:20] txwheeler commented on #24727
4.5.4 came out last night, does anyone know if this was fixed with this latest release? The release notes don't seem to indicate that it was.

[2022-03-25 14:44] AntoineHugo commented on #24727
Hi,

I just upgraded to 4.5.4 and after a server reboot, the problem is still there.

For information,
Version
4.5.4
Deployment ID
HGtRPE7bvg5bQKC3G
Apps Engine Version
1.31.0
Version of Node
v14.18.3
Database update
256 (March 25, 2022 3:39 PM)
MongoDB
5.0.6/wiredTiger (oplog Enabled)

Thank you for advancing this point because this problem remains blocking for us

[2022-03-25 14:57] cole99simpson commented on #24727
That's the 2nd time that someone said the new release will have a fix for this issue... and it has been over 3 weeks now... I guess we need to shop for other chat systems. This is a large problem (could be much worse since the majority of my users are on iOS but I imagine it is for others). How are they going to release 4 new versions without addressing the issue?

[2022-03-25 15:37] holzfelix commented on #24727
for me, the matter is also quite clear. we will soon migrate to office365 and teams.

[2022-03-25 16:47] meerhamzadev commented on #24917
Is this issue still open? I would like to give it a try.

[2022-03-25 17:13] SamirSaidani commented on #17172
Doesn't work for Discussion, they don't appear as a room

[2022-03-25 18:27] Karting06 commented on #24916
Hi,
An issue has already been opened here #23593

[2022-03-25 18:52] tobiasreinhard commented on #24225
Still the same problem, any news on this?

[2022-03-25 20:02] Kyogre commented on #13351
as a workaround you can put your Slack backup into the Linux file system (e.g. /home/folder/backup.zip) and then go to Rocket Chat import section and select "Server File Path" (if I recall correctly) as "File Type"

[2022-03-25 20:08] Kyogre commented on #10797
if somebody don't know how to enable global search: open administration settings -> Search -> Default provider -> enable "Global search" option ([official guide](https://docs.rocket.chat/guides/administration/settings/search)).

[2022-03-25 20:11] Kyogre commented on #2125
In current version of Rocket Chat it is realized with <<< in the end. This way:
[code]

[2022-03-25 20:43] dudanogueira commented on #24727
Hi! We are sorry for this delay. A fix is coming soon.

As you probably noticed, we are refactoring some ui components and this is causing some unexpected behavior.

We appreciate all your inputs! Thanks!

[2022-03-25 21:32] dudanogueira commented on #24919
@hans4rc would you mind emailing me the username associated with that account?
my email: duda.nogueira@rocket.chat
thanks!

[2022-03-25 22:45] dsobrinho40 commented on #11286
Description:
I20220325-22:38:20.686(0) LocalStore: store created at {"level":40,"time":"2022-03-25T22:38:26.857Z","pid":709,"hostname":"98150b92ca2a","name":"VoIPService","msg":"Voip is not enabled. Cant start the service"}
{"level":51,"time":"2022-03-25T22:38:27.107Z","pid":709,"hostname":"98150b92ca2a","name":"Migrations","msg":"Not migrating, already at version 256"}

I20220325-22:36:32.651(0)

[2022-03-25 22:48] omarali-me opened #24953 "Updated to latest release but now I can't get server to run"
I have deployed rocket.chat on a digitalocean server. Everything was working fine when i got a bot message saying I need to update to the latest version.

So I ran rocketchatctl update ... and once it updated... I couldn't get the server to run.
There doesn't seem to be any documentation about how to run / restart the server either..

OS: Ubuntu 20.04 LTS

### Description:

### Steps to reproduce:

[2022-03-26 02:06] wangcc57 commented on #24910
install Rocket.Chat server by docker, https://github.com/RocketChat/Rocket.Chat/blob/develop/docker-compose.yml
call the API  users.create by curl, still timeout, but the user created success.

[root@iZwz9ee5ye356hitr5k9okZ ~]# curl -H "X-Auth-Token: Ro3TxvYieJH4OqyKTlaznvHqlABjrRhQf84fPyRXfVW" \

curl: (52) Empty reply from server

[2022-03-26 02:18] wangcc57 opened #24954 "API users.create"
install Rocket.Chat server by docker, https://github.com/RocketChat/Rocket.Chat/blob/develop/docker-compose.yml
call the API users.create by curl, still timeout, but the user be created success.

I have called this API by Postman, but still timeout.

other APIs can be call normally

[root@iZwz9ee5ye356hitr5k9okZ ~]# curl -H "X-Auth-Token: Ro3TxvYieJH4OqyKTlaznvHqlABjrRhQf84fPyRXfVW" \
 -H "X-User-

[2022-03-26 03:12] ankar84 commented on #23680
Yeap, here is a screen on 4.3.3
![image](https://user-images.githubusercontent.com/4023037/160222603-ae09b0a7-f9eb-48d9-a653-57c089aa5289.png)
It is definitely some time-out issue, because deletion process was about one minute before that error.

[2022-03-26 04:47] himanshumalviya15 opened #24956 "[BUG] There is no error message when dates are wrong in export messages"
### Description:
In export messages when user add from date 09/09/2009 and to date 07/07/2000 it should show error message because in this case from>to date.

### Steps to reproduce:

1. Go to room
2. Click on export messages
3. Select Method as export as file
4. Enter From and to dates

### Expected behavior:

An error message should be shown

https://user-images.githubusercontent.com/76220055/16

[2022-03-26 06:04] AKA555RANJ opened #24958 "Rocket.chat not opening"
A blank screen is coming

[2022-03-26 07:45] FractalizeR commented on #8856
Have you solved the problem? Have the same issue with Cloud MongoDB and installing RocketChat via Ansible

[2022-03-26 08:04] Kyogre commented on #20695
FYI final script would be without ``` at the end:
[code]

[2022-03-26 08:06] Kyogre commented on #19167
as a workaround for now we use this script: https://github.com/RocketChat/Rocket.Chat/issues/20695#issuecomment-1079636142

[2022-03-26 08:07] Kyogre commented on #18347
as a workaround for now we use this script: https://github.com/RocketChat/Rocket.Chat/issues/20695#issuecomment-1079636142

[2022-03-26 08:28] Kyogre commented on #13351
@dudanogueira @frdmn @rodrigok hello! Sorry for disturbing, but maybe you guys can reopen this issue?

[2022-03-26 08:47] Kyogre opened #24959 "[Improvement] Deep link support for Desktop app"
### Description:

In Rocket chat you can get link of the message from the context menu. But you can't open that link in the Rocket.Chat.Electron application itself. You can only open it in the browser.
Link example: https://open.rocket.chat/channel/general?msg=3DDRxGocfBrrxnSaE or http://some_rocket_workspace.com/channel/general?msg=slack-C6FR714UC-1627805234-002000

### Expected behavior:

1. use

[2022-03-26 08:52] Kyogre commented on #24959
oh, sorry, I created issue in wrong project I suppose. Maybe need to move to https://github.com/RocketChat/Rocket.Chat.Electron ?

[2022-03-26 08:56] Kyogre opened #24960 "[Improvement] Show all drafts section"
### Description:

Add a section, which will contain all drafts, user has. Thus user will not have to remember, where he started writing a new message.
This feature is very popular in Slack.

[2022-03-26 09:04] Kyogre opened #24961 "Posting in general channel generates junk files"
### Description:

If I post message in “general” channel it generates junk files in uploaded files list.
Though these files disappear after page reload or after reopen attachments panel.

### Steps to reproduce:

1. open general channel
2. open attachments panel
3. send any message
4. there is junk file appear in the attachments list

### Expected behavior:

No junk in attachments.

### Actual beh

[2022-03-26 09:15] Kyogre opened #24962 "Impossible to hover cursor on the edit mark icon of the messages next to the first"
### Description:

It is impossible to hover cursor on the pencil icon of the edited messages, underneath the first message.

### Steps to reproduce:

1. User send 2 (or more) message in a row.
2. Somebody (same user or moderator) edits the second message.
3. User tries to hover cursor on the pencil icon, but the icon disappears.

### Expected behavior:

User can hover cursor on the edit mark icon

[2022-03-26 10:54] Kyogre opened #24963 "Can't search cyrillic letters in /admin/rooms"
### Description:

### Steps to reproduce:

1. open some_rocket_workspace.com/admin/rooms
2. try to search for any channel/room/group, which contains cyrillic (Russian in my case) letters. Example: вопросы-мониторинга

### Expected behavior:

Rooms found.

### Actual behavior:

No rooms found. Got the message "No data found".
Video demo: https://user-images.githubusercontent.com/2260980/160236080-7

[2022-03-26 11:00] Kyogre commented on #24963
maybe connected to
https://github.com/RocketChat/Rocket.Chat/issues/18252
https://github.com/RocketChat/Rocket.Chat/issues/19344

[2022-03-26 11:08] Kyogre commented on #20940
discussing here: https://github.com/RocketChat/Rocket.Chat/issues/1929

[2022-03-26 11:29] Kyogre opened #24964 "Link to the message teleports to wrong scroll position in Firefox browser"
### Description:

Link to the message teleports user to wrong scroll position when link opened in Firefox.

### Steps to reproduce:

1. Go to https://open.rocket.chat/channel/general
2. Press "Get Link" in the context menu of any message.
3. Follow link from step 2.

### Expected behavior:

Firefox loads the page, set correct scroll position focused on the correct post, then highlights it with yel

[2022-03-26 12:59] murtaza98 commented on #7946
Hello All :wave: I'm quite excited to share my new Reminder app over here. It provides a solution to most of the issues mentioned over here. Check out [this doc](https://add-reminders.gitbook.io/docs/) for more info about this app.

Also, feel free to reach out to me on any below-mentioned channels if you wish to share any feedback or suggestions or even criticism.

Open server of Rocket.Chat: htt

[2022-03-26 13:01] murtaza98 commented on #659
Hello All :wave: I'm quite excited to share my new Reminder app over here. It provides a solution to most of the issues mentioned over here. Check out [this doc](https://add-reminders.gitbook.io/docs/) for more info about this app.

Also, feel free to reach out to me on any below-mentioned channels if you wish to share any feedback or suggestions or even criticism.

Open server of Rocket.Chat: htt

[2022-03-26 13:08] krzysztofrudz opened #24965 "macos displays grey area instead chat after update from 3.0.0 to 3.8.0"
- macos version: 12.3
- machine: macbook pro m1
- rocket.chat version: 3.8.0

I've updated rocket.chat app from 3.0.0 version (which worked pretty ok) to 3.8.0. M1 Apple Silicon support tempted me to do this.
It looks like it is total crap because now, rocket.chat app only displays a grey area and I can't use it. So this looks like a blocker/disaster bug:

<img width="1410" alt="Screenshot 2022-03

[2022-03-26 20:38] waltercool commented on #23585
Same problem from our side. Is there any intention to support the FOSS version? As @mirabilos described,  there are security concerns when closedsource libraries are in use.

Best regards.

[2022-03-27 08:16] matthias4217 commented on #24917
This issue is still opened indeed. Feel free to make a pull request I guess !

[2022-03-27 14:24] vibl opened #24968 "Replacing magic numbers in the code by settings"
There are a few "magic numbers" in the code, such as in https://github.com/RocketChat/Rocket.Chat/blob/a1c41a16c550968761dd0be84673318e7bc63b10/app/lib/server/functions/saveUser.js#L231

In this example, is there a reason why `260` has not been replaced by something like `settings.get('Accounts_MaxBioLength')`? (With the corresponding setting added to `app/lib/server/startup/settings.ts`).

[2022-03-28 00:33] ankar84 commented on #24965
@krzysztofrudz did you try to reload server? CTRL+R on Windows (something similar should be on Mac)

And that issue must be transferred to Electron repo https://github.com/RocketChat/Rocket.Chat.Electron/issues

[2022-03-28 00:42] ankar84 commented on #19344
@damian-centrone actually issue is here on 4.3.3
![image](https://user-images.githubusercontent.com/4023037/160308655-989e10a0-a37d-4994-bc0f-8af29fa53bd4.png)
![image](https://user-images.githubusercontent.com/4023037/160308692-ef667bc9-035b-4526-bf1b-76d231b43643.png)
![image](https://user-images.githubusercontent.com/4023037/160308716-90375d41-5346-4a3b-8712-9927132fff95.png)

[2022-03-28 05:11] alpharokot commented on #24943
I find answer on my question in https://docs.rocket.chat/guides/administration/identity-management-ee-vs-ce:
![image](https://user-images.githubusercontent.com/36432742/160328622-2279b34c-0042-44c8-9ae4-f223b12d14ea.png)

Ok, no roles assignment. Why do I get "error-user-no-roles" error when registering a user via oauth2? I think this is a bug.

[2022-03-28 05:41] krzysztofrudz commented on #24965
Yes, of course, I did try to reload.
I will transfer the bug to the electron repo.

[2022-03-28 07:48] FractalizeR commented on #6609
Any activity here? For me it's a must-have for Slack replacement.

[2022-03-28 07:55] nortcele opened #24970 "App CPU usage too high when idle and in the background"
Last version is using too much CPU even while idle in the background.

rocket.chat version 3.8.0
macOS 12.3

[2022-03-28 07:56] nortcele commented on #24970
![rocket chat cpu usage](https://user-images.githubusercontent.com/910206/160352282-237758af-02f4-45dd-9977-5d21e592c823.png)

[2022-03-28 08:26] dbilewicz commented on #24099
I have same issue. Old integrations works, but new with different "token style" don't work. I have error 503.

[2022-03-28 08:38] Turbocube644 opened #24972 "LDAP Sync failing for users with non alphanumeric chars in username (Resaon: not slugifying username for sync)"
Bug probably introduced in PR #23171 (Refactoring of LDAP for Rocket.Chat 4.0)
Problem: The LDAP sync fails for users where the combined username (e.g. LDAP_Username_Field = "#{givenName}.#{sn}") contains non alphanumeric letters. This is true for spaces in the last name (more or less common in europe) as well as german umlauts in any of the names.
As another symptom we noticed the usernames are n

[2022-03-28 09:07] maiksd commented on #24970
Same here, same versions, same CPU usage.
<img width="1186" alt="Bildschirmfoto 2022-03-28 um 11 06 00" src="https://user-images.githubusercontent.com/903073/160364995-ecdc9442-974b-4ed9-b7f2-d2521ed73702.png">

[2022-03-28 09:20] prigaux commented on #12786
NB : "Connection: upgrade" (lower case) is not wrong per the [spec](https://datatracker.ietf.org/doc/html/rfc6455#section-4.2.1).

For example "Rocket.Chat -> meteor -> sockjs -> websocket-driver" correctly handle both-cases, cf https://github.com/faye/websocket-driver-node/blob/main/lib/websocket/driver/base.js#L34

Of course, there may be some apps/libs (wrongly) only handling capitalized "Upgra

[2022-03-28 09:55] maiksd commented on #24970
I killed that specific renderer, which got rid of the CPU load problem, and the client kept running anyway. But obviously that's not ideal.

[2022-03-28 10:24] #24953 closed

[2022-03-28 11:49] ankar84 commented on #24972
Totally agree that it was very hard for us to move to that new case sensitive usernames. I described it here https://github.com/RocketChat/Rocket.Chat/issues/24555

[2022-03-28 12:03] ankar84 commented on #24970
@maiksd @nortcele do you have connection to open.rocket.chat? Or only your home connection?

[2022-03-28 12:34] nortcele commented on #24970
I have connection to https://chat.macports.org server and the my work serve.

[2022-03-28 13:12] #24444 closed

[2022-03-28 13:37] nishant23122000 opened #24974 "[IMPROVE] Broadcasting User Exist Message"
### Description:

### Steps to reproduce:

1. Go To Room members List
2. Click on Add
3. Add the already existing user

### Expected behavior:

When users add an already existing user, we should only give the error,  should not broadcast message in the chat.

### Actual behavior:

When we add an existing user, It responds with a user saved successfully and broadcasts a message, that the user alrea

[2022-03-28 13:38] #24974 closed

[2022-03-28 13:46] maiconbaum commented on #24727
Same here. [just to not let it die :-)]

[2022-03-28 13:53] maiksd commented on #24970
I have only one active connection, which is to our company's work instance. Colleagues don't confirm the problem, but almost all of them don't yet have 3.8.0 running.

[2022-03-28 15:38] yacosta738 opened #24975 "Dark mode"
I think it would be awesome if Rocket Chat could have a native dark mode.

![bitmoji](https://sdk.bitmoji.com/render/panel/21759482-c054-4dc5-aaef-e9ce15cf7e3a-db1ffc10-9e7f-4bea-a043-e744f59d5043-v1.png?transparent=1&palette=1&width=246)

[2022-03-28 17:17] hailfinger commented on #24444
Will this fix be backported to 4.5.x?

[2022-03-28 17:17] Shivansh2287 opened #24976 "[BUG] Federation card is not responsive"
### Description:

In administration pannel info tab federation card is unresponsive

### Steps to reproduce:

1. Go to Administration
2. Open Mobile View
3. Click on Info tab
4. Scroll to the bottom Federation box is not responsive

### Expected behavior:
![pr3solved](https://user-images.githubusercontent.com/54775060/160435601-20f7a625-9e37-4216-a7ab-01cf3cb0eebd.png)

### Actual behavior:
![pr3]

[2022-03-28 18:13] dudanogueira commented on #24975
Hi! Please, give your +1 on this Issue:

https://github.com/RocketChat/feature-requests/issues/143

[2022-03-28 18:13] #24975 closed

[2022-03-29 02:51] ankar84 commented on #24970
Exactly! That was my guess.
Simply open welcome page of open.rocket.chat (not login in) in browser or in Electron app and you see CPU load.
There something on that page.
I already told that to community managers. Let's wait for a fix.

[2022-03-29 04:46] lestercoyoyjr commented on #23346
Hello Team,

I was suffering a lot to install Rocketchat, but I discover that what it fails is the node js version, so I changed from this:

`sudo apt-get -y update && sudo apt-get install -y curl && curl -sL https://deb.nodesource.com/setup_12.x | sudo bash -`

to this:

`sudo apt-get -y update && sudo apt-get install -y curl && curl -sL https://deb.nodesource.com/setup_14.x | sudo bash -`

The e

[2022-03-29 04:54] ankar84 commented on #24959
You wrong here. There is a DeepLink format for Electron app https://github.com/RocketChat/Rocket.Chat.Electron/issues/2038

[2022-03-29 06:20] nooblag commented on #17517
How to fix this with a `snap` on Ubuntu Rocket Chat install?

[2022-03-29 06:43] giterium commented on #24970
Same problem. Ubuntu has a very large load, Windows has less.

[2022-03-29 06:48] Vringe opened #24978 "Issue Tracker links not parsed using multiline message or inside brackets"
### Description:

Issue Tracker Links are not parsed all the time:

- Using multiline Message and the Issue is at the beginning of a line (not on the first line)
- When using brackets

### Steps to reproduce:

Write these messages:

[code]

[code]

### Expected behavior:

Issue number should be a hyperlink.

### Actual behavior:
<img width="324" alt="Screenshot 2022-03-29 at 08 41 37" src="https:/

[2022-03-29 07:20] v1adislav commented on #24460
problem resolve in version 4.5.2

[2022-03-29 07:20] #24460 closed

[2022-03-29 07:59] Franc3x commented on #24727
news? we are unable to carry out normal work

[2022-03-29 09:10] TheMatzy commented on #24970
Hi, I have the same issue. I find out that when you are not logging in, that the CPU is in the Rocket.Chat Client high and in the Browser (Firefox & Google Chrome)

In Chrome when I am not logged in
![grafik](https://user-images.githubusercontent.com/41703752/160575343-d592a3dd-1ea2-49a1-b3ae-22a1ad15182c.png)

When I am logged in, CPU is again low
![grafik](https://user-images.githubusercontent.c

[2022-03-29 10:02] CvH opened #24979 "Snaps are not updated at the repositories"
Rocketchat at snaps is still at 4.5.1 and not updated to latest bugfix release.
The 4.6.x release is nowhere either.

For example the 4.5.1 release contains a bug that is already fixed in later version.
So if you are using OAuth you have still a semi broken application also the fix is already there but you can't install them.

There is a edge channel that isn't used properly either and all other c

[2022-03-29 10:17] debdutdeb commented on #24979
Hi, eta for automating the whole process is tomorrow eod. I'll manually push the newest release tonight :)

[2022-03-29 10:49] CvH commented on #24979
oh thats sounds nice, hopefully the whole situation "just works" soon :)

[2022-03-29 12:13] trialsin commented on #23851
I think it solves: https://github.com/RocketChat/Rocket.Chat/issues/17628#issuecomment-627550479

[code]

[2022-03-29 12:29] teach404W commented on #24727
The support told us to use the directory instead the search to contact users as workaround. Its working. They told us that they are working on fixing the problem
![direct](https://user-images.githubusercontent.com/94044406/160611441-bf3d2fae-c82a-4ef7-9d82-438d8ac21f89.png)
.

[2022-03-29 12:39] gusarg81 commented on #14562
Hi, same problem here... Ubuntu server 20.04. Rocketchat-server snap keeps filing syslog with these:

rocketchat-server  3.18.3         1491   3.x/stable     rocketchat✓  -

[2022-03-29 12:50] dtvu94 opened #24981 "Method logoutCleanUp request is growing up"
### Description:

I am using Rocket.Chat for an internal server with latest version on develop branch. I get an issue with the method logoutCleanUp. It sends a complete information of user through requests. As a result, if a user participates in many rooms, this request weights heavily. You can test it on https://open.rocket.chat.

### Steps to reproduce:

1. Create an account on https://open.rock

[2022-03-29 13:49] DaDummy opened #24985 "Threads are cut off for certain window widths"
**Describe the bug**
With certain window widths the thread view is cut off on the left since a couple of versions:

What operating system and which version?
- Kubuntu 21.10
- Windows 10
Which version of Rocket.Chat (Server)? 4.5.3
Which version of Rocket.Chat.Electron (Electron/Desktop)? 3.8.0
Is there any setting relevant changed? No.

**To Reproduce**
Steps to reproduce the behavior:
1. Open thr

[2022-03-29 15:54] saschafoerster commented on #659
@murtaza98 Is there a reason, why there is no public source code?
https://github.com/AddReminders/Reminders-in-RocketChat

[2022-03-29 17:49] kurrepa opened #24987 "High CPU ON webclient or Aplication desktop"
**Describe the bug**
A clear and concise description of what the bug is.

What operating system and which version?
windows 10 / windows server 2016
Which version of Rocket.Chat (Server)?
4.5.4
Versión de Motor de Aplicaciones
1.31.0
Versión de Node
v14.18.3
MongoDB
4.0.21 / mmapv1 (oplog Habilitado)

Is there any setting relevant changed?
i am not secure

**To Reproduce**
Steps to reproduce the be

[2022-03-29 19:05] BaezCrdrm commented on #24944
You can fix it by changing the Dockerfile with the latest[ v14 bullseye-slim image](https://github.com/nodejs/docker-node/blob/6e8f32de3f620833e563e9f2b427d50055783801/14/bullseye-slim/Dockerfile).

Replace with `FROM node:14-bullseye-slim`
https://github.com/RocketChat/Rocket.Chat/blob/083775f74e34b04eee0d42b7b14ea35cbb115378/.docker/Dockerfile#L1

[2022-03-29 19:22] AhmarZaidi commented on #24968
Hey! I'd like to work on this issue.

[2022-03-29 22:37] toppermitz commented on #24987
Same problem with mac app.  MacOS 12.3 on M1 chip.

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/13020454/160717987-6c5cc0b2-58bc-43c1-9e7e-4258a3077ed5.png">

[2022-03-29 22:50] toppermitz commented on #24970
Same here

MacOS 12.3
Rocket.Chat app 3.8.1
Rocket.Chat Server 4.5.4
M1 Chip

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/13020454/160718482-11018359-5994-49ab-9c49-d2f4db63041f.png">

After I disable this settings the cpu load back to normal and never uses high CPU again
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/13020454/16071886

[2022-03-29 23:54] #7400 closed

[2022-03-30 01:23] #24944 closed

[2022-03-30 01:51] LMjava2017 commented on #24954
Try going to admin->account->avatar and toggling "set default avatar" option off.

[2022-03-30 05:37] ankar84 commented on #24987
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/24970

[2022-03-30 05:37] #24987 closed

[2022-03-30 07:20] Mathiasdm commented on #23909
Not sure if this is related, but with 4.5.3, we are also seeing out-of-memory issues:

<--- Last few GCs --->

[1:0x5811600] 28290833 ms: Scavenge 541.5 (574.2) -> 534.0 (574.5) MB, 218.2 / 2.0 ms  (average mu = 1.000, current mu = 0.965) task
[1:0x5811600] 28291398 ms: Scavenge 543.2 (575.3) -> 536.5 (575.0) MB, 478.2 / 1.7 ms  (average mu = 1.000, current mu = 0.965) task
[1:0x5811600] 28292082

[2022-03-30 08:37] FractalizeR commented on #23027
Same problem here

[2022-03-30 10:17] IgorOhrimenko commented on #24225
I try reproduce issue on the new installation and issue does not reproduce.
https://user-images.githubusercontent.com/24807060/160808790-50194467-feb6-41d9-83c1-ba06d917cfb0.mp4
@tobiasreinhard, your problem reproduce is only on the old big database after migrate?

[2022-03-30 13:09] railsmechanic commented on #23836
Had the same issue upgrading to v4.5.4. Disabling the `Direct_Reply_Enable` worked for me. Now I check whether all other features works as expected.

[2022-03-30 13:26] pierreozoux commented on #22903
I have a slightly similar, but maybe a bit different.

It doesn't reproduce consistently, but If I try 2 times, usually, I can reproduce.
We use an s3 compatible api as an object store (minio) and the logs look good at the upload:
Server:
[code]
And in the browser:
![Screenshot from 2022-03-30 15-15-36](https://user-images.githubusercontent.com/1863453/160843291-567eeb77-4f31-4e1c-9961-2bd049ecfcf