[2018-06-02 13:12] IQ2022 opened #10981 "Add new users from Admin and download User list"
### Server Setup Information:

* Version of Rocket.Chat Server: 65.1
* Operating System: Linux
* Deployment Method: Dockers
* Number of Running Instances:1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

After upgrading to 65.1, i am unable to add or invite new users via admin section, also same for creating new rooms..

Also why is it difficult to have the ability to download user list

[2018-06-02 13:26] kaiiiiiiiii commented on #10981
Duplicate of #10951

[2018-06-02 14:55] #10931 closed

[2018-06-02 14:59] engelgabriel commented on #10931
@ChessSpider @toughIQ @misi can you help us create unit testing for SAML? We don't have anyone in the core team with enough experience to do it.

[2018-06-02 16:28] #7338 closed

[2018-06-02 16:28] #9420 closed

[2018-06-02 16:36] #10889 closed

[2018-06-02 16:39] #9815 closed

[2018-06-02 16:42] #10865 closed

[2018-06-02 16:59] geekgonecrazy commented on #10964
As mentioned before.  It depends on the hardware.  In your case as mentioned earlier... Things take much longer on virtualized hardware.

As suggested above installing the troublesome package by it's self often helps

[2018-06-02 17:01] geekgonecrazy commented on #10268
What are your caddy logs?

`journalctl -u snap.rocketchat-server.rocketchat-caddy`

[2018-06-02 17:04] geekgonecrazy commented on #1352
Rocket.chat aka now simply just "Rocket.Chat"

I do not believe it's on the roadmap.  I believe the legacy app is the only one that supports it.

Best place to ask would be on the repo.  GitHub.com/rocketchat/rocket.chat.android or GitHub.com/rocketchat/rocket.chat.ios

[2018-06-02 18:34] #3883 closed

[2018-06-02 19:11] #9620 closed

[2018-06-02 19:12] #8325 closed

[2018-06-02 19:33] #5473 closed

[2018-06-02 19:43] #9958 closed

[2018-06-02 19:52] rasos commented on #2181
I have put a simple E-Mail invite link in the footer:
[code]
Next step: include my user name in the link: 'https://hellochat.net/direct/mynickname' so that users are connected with me after signing in.

However, when I click on such a direct link anonymously, I get: 'No user with username "mynickname" was found!' - instead of getting presented a login button. This bug has been already reported #85

[2018-06-02 20:10] #8504 closed

[2018-06-02 22:03] engelgabriel opened #10983 "Unify email alerts content logic"
I think we should move the whole HTML and Subject building logic from [`sendForgotPasswordEmail.js`](https://github.com/RocketChat/Rocket.Chat/blob/develop/server/methods/sendForgotPasswordEmail.js) into [`accounts.js`](https://github.com/RocketChat/Rocket.Chat/blob/develop/server/lib/accounts.js)

[2018-06-03 05:12] hikikomorime commented on #6193
HI, Any date when this option will be available? It also be great to set some timeframe when attachments are purged automatically like after 7 days etc.

[2018-06-03 08:25] Maqsyo opened #10984 "Please Update the api user.info"
It would be really great to get the count of the overall unread mesages and to get these of a specific user.
Currently i have to iterate overall channels of the user and have to count all unread messages of the user.

This would be really great!

[2018-06-03 15:18] IQ2022 commented on #10981
still we dont have a way to download a user list to an excel or any other format?

[2018-06-03 20:08] monspid commented on #10365
No

Z wyrazami szacunku,
Przemysław Jakielaszek

2018-06-01 4:03 GMT+02:00 Aaron Ogle <notifications@github.com>:

[2018-06-03 21:27] abdellahaski opened #10985 "[Question] Accounts login/signups integration"
hi,
I'm currently developing a spring boot app (J2EE) and I have a Rocket.chat instance that should be integrated with it just in the authentication part.
So I got my spring boot app where users can create their account and it should also gets created on the rocket.chat automatically also when an existent user login to my spring boot app he also get logged in to rocket.chat automatically.
I search

[2018-06-04 02:55] #10795 closed

[2018-06-04 03:31] #9566 closed

[2018-06-04 03:51] geekgonecrazy commented on #10984
You can turn on metrics endpoint and actually see this information and much more information

[2018-06-04 03:53] geekgonecrazy commented on #10980
Not enough information to properly describe the issue.  Please update to include more information

[2018-06-04 03:55] geekgonecrazy commented on #10977
I believe you have to actually add the domain in the livechat settings

[2018-06-04 04:35] wagesj45 commented on #10951
@h4wkmoon I am running a snap 0.65.1 and am also having the bug, so they seem to be affected as well.

[2018-06-04 05:34] #9564 closed

[2018-06-04 06:52] Maqsyo commented on #10984
thanks for your reply.
But where can i turn on the metrics-endpoint? I can't find it in the Admin-Panel..

[2018-06-04 07:43] engelgabriel commented on #8409
Closed via https://github.com/RocketChat/Rocket.Chat/commit/6921be6237124fd08e45c27ab7ca75d2622351fc

[2018-06-04 07:43] #8409 closed

[2018-06-04 07:44] sovaby commented on #10979
Clear all fields containing NUL

[2018-06-04 08:02] TGriwenka commented on #10980
I see the same issue, but with every large image that was uploaded or is uploaded.

I upload a large image and it is shown as you see in the two attached screenshots. It is shown the same in browser and in Rocket.Chat Client for MacOS (I tried already the actual developer version, which I compiled by myself).

First screenshot shows the image in the timeline. You see only part of the big image.

S

[2018-06-04 08:14] vynmera commented on #10980
Yeah, it seems the new lazyload doesn't scale images. So images that are too large just expand beyond the view.

[2018-06-04 08:26] engelgabriel commented on #8239
@Venomen by "deep searching" you mean regular expressions? Maybe we are missing a full text search index?

[2018-06-04 08:58] foxgoblin commented on #9920
Still happens in 0.64.2

[2018-06-04 09:03] mrsimpson opened #10990 "[New] List non-public room types in directory and request access"
### Description:

The directory has re-introduced a global list of public channels and users - with the intention that users can easily join discussions.
However, private groups and potentially created custom room types are missing. Listing them raises two new issues

- Particularly for private groups, there has to be a mechanism to allow visitors to ask for joining a room
- The already created ro

[2018-06-04 09:14] mrsimpson commented on #10990
There is already an implementation of this comparatively completed in our fork: https://github.com/assistify/Rocket.Chat/pull/319
The quashed merge-commit could be easily cherry-picked. However, this brings some bigger changes which are worth to be communicated earlier:

- A feature to render a field of an attachment of a message with a particular (interactive) template see https://github.com/assi

[2018-06-04 10:08] TwizzyDizzy commented on #10981
@rocket-cat close

@IQ2022 Yes "we" have: https://github.com/frdmn/rocketchat-export-userlist

@frdmn: maybe put this somewhere in the official docs as "you can give this a shot"?

Cheers
Thomas

[2018-06-04 10:08] #10981 closed

[2018-06-04 10:15] Otiel commented on #9891
This bug is back since a few versions on the top header bar title and description:
![image](https://user-images.githubusercontent.com/3851902/40912022-b69664fc-67f0-11e8-9e43-ba363a297a39.png)

I have the issue with v0.65.1.

Left sidebar, login page and administration left sidebar are fine though.

[2018-06-04 10:16] reetp commented on #10980
Same on docker 065.1

Really slows the loading and unnecessarily take up acres of screen real estate.

A real retrograde step.

[2018-06-04 10:20] TwizzyDizzy commented on #9891
@Otiel A reference is good, yet I would still vote for a separate issue as this is not exactly identical. Just 5 cents though.

Cheers
Thomas

[2018-06-04 10:21] drweb86-work opened #10991 "Add possibility to rename user."
Hello

Could you please add possibility to rename user. So if user named himself in different language from mine or nicks i can rename it and easily find through search.

[2018-06-04 10:23] Otiel opened #10992 "Segoe UI: character descender not correctly rendered on top header"
### Description:

While using the font Segoe UI, the characters descender (the part of a character (g, j, p, q, y) that descends below the baseline) are not correctly rendered: they are "cut", as you can see on the screenshot below.

![image](https://user-images.githubusercontent.com/3851902/40912022-b69664fc-67f0-11e8-9e43-ba363a297a39.png)

It happens on the top header bar title and description.

[2018-06-04 10:26] drweb86-work opened #10993 "Do not add links preview for JIRA when preview Text contains "Jira" and "Log in with""
Hello

Most of programmers use JIRA. When posting links Rocket.Chat inserts its preview. Please disable preview for JIRA when preview text contains "Jira" and "Log in with", as there's no sense in that.

Thanks.

[2018-06-04 10:47] Patrick-Remy commented on #3940
For me it's also present in version 0.64.2 for all users.

[2018-06-04 10:50] brtptrs opened #10994 ""Internal server error" when downloading "my data" from the user Profile"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: CentOS
* Deployment Method(snap/docker/tar/etc): Repo
* Number of Running Instances: 1
* Node Version: v8.11.1
* mongoDB Version:

### Steps to Reproduce:

1. Go to "My acount->settings
2. Scroll down to "My Data"
3. Select download

### Expected behavior:

Pesonal data should be downloaded

[2018-06-04 11:15] kaiiiiiiiii commented on #10994
Please upgrade to the latest version. This has already been adressed in #10777 and was fixed in PR #10837 (part of Release 0.65.0)

[2018-06-04 11:33] drweb86-work commented on #10993
Is it possible to do this from Client part?

[2018-06-04 11:35] GP-S commented on #10993
Not really fan of hardcoding not previewing for specific situation neither. On Slack we can integrate JiRa has an application and enable preview while referencing Jira link. Is there a way to do the same with RC ? maybe with the new app feature ?

[2018-06-04 11:36] ibrahimdoqa commented on #6157
I tried the postMessage request to send a direct message. i replaced the value of the channel with the username of the receiving user. and i got this error.

{
    "success": false,
    "error": "[invalid-channel]",
    "errorType": "invalid-channel"
}

can you help me with that? @graywolf336

[2018-06-04 11:37] drweb86-work commented on #10993
Seeing title would be great. JIRA means lot to programming world, huh

[2018-06-04 11:44] kuluev commented on #10980
@rocket-cat label add "type: bug"

[2018-06-04 11:45] brtptrs commented on #10994
Thanks, and sorry for the noise, I missed that fix.

[2018-06-04 11:45] #10994 closed

[2018-06-04 11:47] kuluev commented on #10980
I can confirm this. It happens when you upload a full-sized photo from android client.

[2018-06-04 11:50] frdmn opened #10995 ""UI_Allow_room_names_with_special_chars" does not translate back to fname in global search and server directory"
### Description:

When the option "`UI_Allow_room_names_with_special_chars`" is set to `true`, Rocket.Chat should pick up the channel/room name based on the `fname` database attribute rather than the `name` one.

Currently it looks like this doesn't happen in the global search and the channel/room directory:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System

[2018-06-04 11:55] agustinventura commented on #9632
Hi guys, this was scheduled for 0.65, is there any new milestone planned for the release?

[2018-06-04 12:10] MartinSchoeler commented on #10972
@ramjiplay Hey, looks like you seem to be looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support, as we keep it for bugs and feature requests. For now i will be closing this issue, as it does not fit our issue guidelines. Tha

[2018-06-04 12:10] #10972 closed

[2018-06-04 12:13] kaiiiiiiiii commented on #10995
I think it's the same issue as #10515

[2018-06-04 12:16] MartinSchoeler commented on #10985
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-06-04 12:16] #10985 closed

[2018-06-04 12:33] possebon commented on #10977
I already did that, without success.

[2018-06-04 12:38] Episodio1 commented on #10951
Same here with 0.65.1
Workaround works.

However after creating new users, they show up in the user list with ~~striked text~~ (like that)

And when those new  users try to connect it says "user not found or invalid password".

If we change password it says "update succesful", but user still cannot login.

Rocketchat logs and mongodb logs shows no error at all.

(Ubuntu snap installation)

[2018-06-04 12:57] vynmera commented on #10991
So, personal nicknames for people?

[2018-06-04 13:01] richardt3 commented on #10980
Timeline image previews are not being resized to an appropriate size but are being shown at the original file height and width. No scrollbars so image is useless. Either a css class has been deleted or a resize function is no longer being called.

[2018-06-04 13:06] leonardoaramaki opened #10996 "[NEW] Create REST endpoint to create a direct channel"
Today, we have to rely on the realtime api - more specifically, the [`createDirectMessage`](https://rocket.chat/docs/developer-guides/realtime-api/method-calls/create-direct-message/) method.

[2018-06-04 13:09] drweb86-work commented on #10991
Yea, most of people use nick names, but i prefer calling them by their real names, also some people still use English for their names in chat and i prefer searching them by name in my language.

[2018-06-04 13:11] #10996 closed

[2018-06-04 13:12] bernardobugmann commented on #10991
Well, something like "social nicknames" is good, because some companies uses tools like LDAP and if you change the nickname on the db, the ldap probably will make another user with the old credentials.

[2018-06-04 13:34] vynmera commented on #10980
@richardt3 I'm pretty sure a CSS class was lost, as the images no longer have `cursor: pointer` either. I'll look into it...

[2018-06-04 13:37] drweb86-work commented on #10991
When company uses LDAP its great, because all names in one language (so i can get used to search by name) and without nicknames.

I meant renaming just for myself in displaying in client.

So everywhere names as is, but for my chat it get displayed as i want. I know some guys uses some postfixes to distinquish in Skype between work and their personal contacts...

[2018-06-04 13:40] richardt3 commented on #10980
@vynmera because of users shouting,  I added a dirty hack piece of custom css to my install to make width 80% of the frame. Image is still a full download but doesn't take up the whole screen now.

[2018-06-04 13:58] tonylemeunier commented on #9632
Hi team,

First great job with this app.
I installed 0.65.1 and buttons are still missing.

Best Regards,

[2018-06-04 14:33] MatanRubin commented on #3021
What are the implications of setting it to a very large number (say 100K)?
Is there any Slack-like feature which suggests turning a long message into a snippet (instead of not allowing you to send the message)?

[2018-06-04 15:32] jaydestro opened #10997 "Does not permit "MongoDB Atlas" DBaaS - Auth"
### Description:

When using MongoDB Atlas as the DB provider in the docker-compose.yml you are told there is no valid database user - it will not permit access tot he database.  looks like scramsha-1 isn't supported?

[code]

### Server Setup Information:

* Version of Rocket.Chat Server: latest
* Operating System: Docker - Debian
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Runni

[2018-06-04 16:17] hrobertson commented on #5521
For reference..
I tried using an existing authentication token in an `Authentication` `Bearer` header or a get parameter as suggested by @graywolf336 but it didn't work.

What does work is setting **both** the `X-Auth-Token` and `X-User-Id` headers to the values of the rc_token and rc_uid cookies set by the web interface.

[2018-06-04 17:57] MartinSchoeler commented on #7813
This might not be as simple as it looks, since most of our translations comes from community contributors. So we can not ensure that we have people creating translations for all languages. It is something that one person or group can't do it alone since it needs knowledge from various different languages. For now i will be closing this since it is not possible to patronize our current translation

[2018-06-04 17:57] #7813 closed

[2018-06-04 18:18] graywolf336 commented on #6157
@ibrahimdoqa I actually ran into this issue as well. Please open a new issue, it seems we broke support for `channel` property on the object being sent.

[2018-06-04 18:39] mmiskiew opened #11000 "Exception while invoking method 'rocketchatSearch.search' MongoError"
### Description:

It's impossible to search messages with "search option". It is returning alert "Search failed" and no results.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: CentOS 7
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: -
* Node Version: v 8.9.3
* mongoDB Version: 3.6

### Steps to Repro

[2018-06-04 18:43] graywolf336 commented on #10951
Also it has disappeared on the adding a new emoji page.

[2018-06-04 18:50] #8234 closed

[2018-06-04 18:50] #8235 closed

[2018-06-04 18:50] #9822 closed

[2018-06-04 19:36] wagesj45 commented on #10951
@Episodio1 That sounds like it might be a separate bug, as far as the inability to add new users successfully goes.

[2018-06-04 20:46] #10980 closed

[2018-06-04 20:56] geekgonecrazy commented on #10980
Thanks  for  the fix @vynmera :+1:

[2018-06-04 20:56] geekgonecrazy commented on #10977
@renatobecker any ideas on this?  Is this a bug or a configuration thing?

[2018-06-04 21:02] geekgonecrazy commented on #10984
Logs prometheus enabled.  Will then be available at yourhost:9100

![image](https://user-images.githubusercontent.com/51996/40941497-a1b86f24-6810-11e8-861f-b511ed43c798.png)

[2018-06-04 21:02] #10984 closed

[2018-06-04 21:05] johnallenmoore commented on #10951
Same issue with missing icons (non-docker build).  We run 3 instances of Rocket.Chat with 3 Replica Set Members in MongoDB. All manually installed.   I did find that clicking an existing user will give you the icons like the original poster shows.  Since I do not run my instances in Docker or use Snaps, I don't think this is specific to Docker/Snaps at all.

Secondarily, we have the username/passw

[2018-06-04 21:14] Maqsyo commented on #10984
I think you misunderstood me in any way.
I want to get all unread messages of a specific user and not some logs..
Why you can't give us these informations?

Anyway.. i enabled Prometheus and i can't reach it on the specific port.

I don't understand why this "issue" is closed even though it wasn't resolved. @geekgonecrazy

[2018-06-04 21:21] geekgonecrazy commented on #10984
Ah sorry I misunderstood you want to get count.  Please open a feature request: https://forums.rocket.chat/c/feature-requests

[2018-06-04 22:03] engelgabriel commented on #661
Closed in favor of https://github.com/RocketChat/Rocket.Chat/issues/906

[2018-06-04 22:03] #661 closed

[2018-06-04 22:22] engelgabriel commented on #9635
As @lunaticmonk said, seems this error does not exist now.

[2018-06-04 22:22] #9635 closed

[2018-06-04 22:30] #9098 closed

[2018-06-04 22:44] localguru opened #11002 "Missing default privacy policy (General Data Protection Regulation, GDPR / Datenschutz-Grundverordnung, DSGVO)"
### Description:

Due to the new European General Data Protection Regulation, GDPR (German: Datenschutz-Grundverordnung, DSGVO) Rocket.Chat should be served with a default privacy policy for European users.

See: https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=celex%3A32016R0679

### Expected behavior:

RC should include a default privacy policy.

### Actual behavior:

No default privacy polic

[2018-06-04 22:56] milanchotai commented on #5009
+1

[2018-06-04 23:12] renatobecker commented on #10977
Hi @possebon and @geekgonecrazy.

What you have reported is a quite strange behaviour. The `'X-FRAME-OPTIONS', 'DENY'` is only applied in Livechat side if there is at least one entry in `Livechat Allowed Domains` and the `Livechat URL host` is not found in that list.
But in this case, you wouldn't get the error you mentioned because a `404` error would be generated.
When there is not even one entr

[2018-06-05 05:41] garychapman opened #11003 ""User Info" in DM showing wrong user's info"
### Description:

The "User Info" function in a DM shows the most recently-viewed user's info, which is not necessarily the current DM recipient

### Server Setup Information:

Can be replicated in https://open.rocket.chat

### Steps to Reproduce:

1. Create a DM with UserA
2. Click the "User Info" icon, and UserA's information is shown in the sidebar - as expected
3. Mention UserB in the conversa

[2018-06-05 06:35] flantascience opened #11004 "Can no longer find the 'Group Video Call' capability"
I used to be able to do a group video call for an entire Group or Public Channel... now that I've updated to 0.64.1, I don't see that button anywhere.   Am I missing something?   Where should it be for a group?

[2018-06-05 07:14] siberijah commented on #10979
Thank you, that worked for me:

Steps:

I've found in the internet how to find and delete NULL recursively in collection. Saves it as .js file
My db name is "rocketchat"
[code]
2. the fastest way for me was to loop this script for all collections in my database;
[code]

Noob but fast =)

[2018-06-05 07:20] kaiiiiiiiii commented on #11004
Duplicate of #9632

[2018-06-05 07:43] mmiskiew commented on #11000
Ok, the problem is that i migrated old rocket.chat with mogodump and mongorestore and used "noIndex" parameter. Just recreated indexes on rocketchat_message manually and everything is now ok (used metadata from old dump, modified by removing textindexversion: 3 and 2dsphere from 3 to 2).

[2018-06-05 07:43] #11000 closed

[2018-06-05 08:26] superminiek opened #11005 "_user_name_ sent a message on channel, not real user"
### Description:

After mention of current user e-mail contains _user_name except profile username

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: -
* DB Replicaset Oplog: -
* Node Version: -
* mongoDB Version: -

### Steps to Reproduce:

1. Mentions feature, mentioned

[2018-06-05 08:48] Episodio1 commented on #10951
@wagesj45 It might be, but I  wanted to say that before opening a new issue. It seems someone else is suffering the same behaviour("johnallenmoore").

[2018-06-05 09:03] possebon commented on #10977
Hi @renatobecker

I already saw that #8517 and tried without success. Anyway I double checked again and I identified that when I copied my ssl config of nginx there was a specific line

`add_header X-Frame-Options DENY;`

Of course that after removing this line, LiveChat started to working.

Sorry @renatobecker and @geekgonecrazy and thanks to point me to the right direction.

[2018-06-05 09:03] #10977 closed

[2018-06-05 10:10] terblanchejaco commented on #10142
I know this is already closed, but we have been experiencing the exact same issue for months now. A restart solves the issue for a brief period of time, where all old push notifications come through at once. After a day or two push notifications simply just stop again.

gateway.rocket.chat resolves to 104.196.189.8

There are no obvious errors in the logs, and push notification info in the logs lo

[2018-06-05 12:10] taikedz commented on #3177
Still happening on server 0.65.1 , desktop client 2.10.5

![image](https://user-images.githubusercontent.com/231984/40975120-c704c078-68c1-11e8-9ee7-1658d6a3d912.png)

[2018-06-05 12:19] taikedz opened #11006 "KaTeX kicks in when writing pre-fromatted text"
### Description:

KaTeX parser tries kicks in when adding pre-formatetd/code snippets

### Server Setup Information:

* Server version: 0.65.1 (commit 8349c36de01e14503bcdbc5d382b124568959de9)
* Operating System: Ubuntu 16.04 server
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: ?
* Node Version: 8.11.2
* mongoDB Version: (snap)

### Steps to

[2018-06-05 12:20] taikedz commented on #11006
As I read the issue, should have been resolved by https://github.com/RocketChat/Rocket.Chat/pull/3166 but apprarently this is not the case ?

[2018-06-05 12:33] DRON4eg commented on #10949
In version 0.65.1, the problem also manifests itself :(

[2018-06-05 12:37] vynmera commented on #10949
Do you have any custom CSS / Layout settings changed?

[2018-06-05 12:53] DRON4eg commented on #10949
in Layout, just text with <b> tags and <br>

[2018-06-05 12:56] vynmera commented on #10949
@DRON4eg Anything under the Colors, Old Colors or Custom CSS tabs?

[2018-06-05 13:12] flantascience commented on #9632
So am I to understand correctly...
that th enew approach to doing a 'group' video call in a channel is to use Jitsi?     Or is there also a regular WebRTC approach?

I feel like every public channel use to have an option to just enable an Audio call or a Video call and the little boxes with people's videos would show up.   Now, it seems we've got to use Jitsi?     I don't have a big problem with t

[2018-06-05 13:20] VareliyK commented on #10927
This bug appears only fresh install version 0.64.1, 0.64.2, 0.65.1 and with options sort by Alphabetical, Group by Type, Group by favorites

[2018-06-05 13:21] hexcsl commented on #10927
In version 0.65.1, the problem is repeated 🤕

[2018-06-05 13:22] xenithorb commented on #9632
In my experience it was just easier to have people go to a `meet.jit.si` link (and it has gotten really good at screensharing on both chromium and firefox lately.)

What I liked the WebRTC feature for was 1-1 calling. It worked well for quick chats

[2018-06-05 13:55] ggazzo commented on #9214
@geekgonecrazy what do you think about this solution (if you arent on bottom list), just to avoid this white space

![image](https://user-images.githubusercontent.com/5263975/40980400-ae811bea-68ae-11e8-8c01-85962aa1f540.png)

[2018-06-05 14:23] marceloschmidt opened #11007 "Clicking a user mention on a direct message should enable you to open a new direct message with that user"
### Description:

If I'm on a direct message and click on a user mention `@username` the User Info show up, but there's no button to open a direct message with that user. If you do the same on a channel or private group, it enables you to create a direct message with the user.

The current implementation checks if room type is direct message, then hides the button, assuming user is viewing the cur

[2018-06-05 14:29] vynmera commented on #9214
Why not make a white gradient from the typing indicator, so the messages fade into it? To keep the typing text itself visible you can add a bit of extra shadow in the background color onto the text.

I'm not at home right now, so all I can give is this low-quality mockup:
![](https://i.imgur.com/aX791c0.jpg)

[2018-06-05 14:54] TheReal1604 commented on #10483
@xbolshe Also can reproduce the error with LDAP Sync - the sync is interrupted with this error message. (Possibly at importing some avatar)

[2018-06-05 15:47] asadi110 commented on #7967
+1

[2018-06-05 15:51] renatobecker commented on #4898
Hello everyone!

Sorry for the late answer...
I just want to say that we found some issues related to the `Office Hours` feature.
We're going to check what's going on, I'll respond here when we have more information on that.

Thanks.

[2018-06-05 17:11] ggazzo commented on #9214
hi @vynmera I made the same test, actually is just about opinion... I dont care about the white space... but there are some users that do. I liked both, lets the community talk more.

[2018-06-05 19:41] #2152 closed

[2018-06-05 19:57] #9853 closed

[2018-06-05 19:57] #9874 closed

[2018-06-05 20:33] Hudell commented on #2488
This problem was fixed at some point, as it doesn't happen in the current version.

[2018-06-05 20:33] #2488 closed

[2018-06-05 20:50] Hudell commented on #2773
I'm gonna close this because this feature was included at some point after the issue was opened.

[2018-06-05 20:50] #2773 closed

[2018-06-05 21:21] christianreiss opened #11013 "Bug: Images do not get downscaled in messages"
### Description:

Prior to 0.65 uploading an Image, regardless of size was scaled down nicely into a thumbnail size. Now, the full size image is shown, regardless of size. A giant image is only shown partialy as it will not fit into the chat.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Centos 7.5
* Deployment Method(snap/docker/tar/etc): Tar
* Number

[2018-06-05 21:23] kaiiiiiiiii commented on #11013
Duplicate of #10980, fixed in PR #10998

[2018-06-05 21:28] christianreiss opened #11014 "Bug: Action Menu appears on top left"
Description:

Seen mostly in firefox across many computers (Linux, Windows): Clicking on any action item (Channel Action, Message action) the action box appears in the upper left corner instead of where one is clicking. This does not happen always but roughly 50% of times.

Server Setup Information:

-     Version of Rocket.Chat Server: 0.65.1
-     Operating System: Centos 7.5
-     Deployment Me

[2018-06-05 21:29] christianreiss commented on #11013
true, ok.

[2018-06-05 21:29] #11013 closed

[2018-06-05 21:39] vynmera commented on #11014
Duplicate of #10668
I'm looking into this, it seems resizing the browser window snaps it back into place (when created, it's put at x0 y0)

[2018-06-05 21:40] vynmera commented on #11014
@rocket.cat close

[2018-06-05 21:57] Hudell commented on #2833
The problem is still happening, but if you add a new url when editing, then the previews are updated accordingly.

[2018-06-05 21:59] Hudell commented on #2848
The current version of Rocket.Chat already shows the full date when hovering the message timestamp.

[2018-06-05 21:59] #2848 closed

[2018-06-05 22:01] #2764 closed

[2018-06-05 22:03] imeleges commented on #6193
Hi, I just upgraded my RC to version 0.65.1 and I don't see the ability to delete attachments from file list at all.
Did I miss something? =)
![rc_filelist](https://user-images.githubusercontent.com/13563643/41005183-13139aa0-68e2-11e8-80e1-bd28f59353eb.PNG)

[2018-06-05 22:06] #10483 closed

[2018-06-05 22:21] OmegaPrimeZ3 opened #11015 "iOS devices not receiving push notifications"
### Description:

Since upgrading to the latest version, push notifications are not being delivered to iOS devices. Through trouble shooting, determined that opening Rocket.Chat on our phones does assign a token as we can click the Test under push and the notification will state sent to 1 device. However no message is ever sent. If clicking the Test button a second time, the notification states No

[2018-06-06 00:36] reetp commented on #9632
We only used video for 1 to 1 and miss this a lot.

Not keen on being forced to use external services (GDPR & all that jazz)

[2018-06-06 03:12] eriock commented on #10166
@tomfanning @olegbukatchuk @andreapx Hi Guys sorry for the long wait, This was actually an error on my part I think, on the email server that I was using  I had an SSL Common Name Mismatch Error issue when I fixed that everything seems to work.  Here's my config:

PROTOCOL: SMTP
HOST: (This is where the issue is coming from)
PORT: 587
IGNORETLS: FALSE
POOL: FALSE

I can't explain why it didn't wor

[2018-06-06 04:28] geekgonecrazy commented on #9214
@ggazzo I think this would also be an acceptable solution.  Because it would now be shown in the box instead of seemingly floating

[2018-06-06 05:22] drcursor commented on #6908
Had the same issue on Debian Jessie. Apparently it's related to mongo 2.4, upgrading to mongo 2.6 (available at deb http://repo.mongodb.org/apt/debian jessie/mongodb-org/3.6 main) solved the issue.

[2018-06-06 05:57] DRON4eg commented on #10949
Nothing has changed, standard settings are used for appearance.

http://g.recordit.co/q2k7noe9Kh.gif

[2018-06-06 07:28] agustinventura commented on #9632
@xenithorb that's exactly our use case, we just want WebRTC calls for 1-1 calling. Besides we can't use jitsi for some weird network reasons :)

[2018-06-06 07:46] christianprim commented on #2759
+1

[2018-06-06 07:51] TwizzyDizzy commented on #11004
@rocket-cat close

[2018-06-06 07:51] #11004 closed

[2018-06-06 08:04] TwizzyDizzy commented on #11014
@rocket-cat label add duplicate

[2018-06-06 08:04] TwizzyDizzy commented on #11014
@rocket-cat close

[2018-06-06 08:04] #11014 closed

[2018-06-06 09:37] DRON4eg commented on #10949
@vynmera help :(

[2018-06-06 10:11] vynmera commented on #10949
@DRON4eg The hell are these double `p` tags doing?

![](https://i.imgur.com/XvtBftE.jpg)

If you remove one of the layers, does that work?

[2018-06-06 10:45] Jamirkhan50 commented on #7775
Hi Team,
We have any plan to get unread messages for particular USERS

[2018-06-06 10:56] Jamirkhan50 commented on #9649
@graywolf336

I am also searching the way to get unread messages for particular user.
The current API is for channels, but if my multiple users are online and each belongs to at least five group then  this will impact to our application speed as well as sometimes due more through and fall calls my rocket-chat server get down.

Thanks,
Jamirkhan  Pathan

[2018-06-06 11:06] Maqsyo commented on #9649
@Jamirkhan50
Please leave a vote here:
https://forums.rocket.chat/t/api-user-info-unread-messages-and-count-of/1152

[2018-06-06 11:12] DRON4eg commented on #10949
@vynmera
I'll specify that I did not add these tags :)

Yes, if you remove these tags in the development mode, then the text starts to appear

[2018-06-06 11:28] xxmoC opened #11017 "Rocket.Chat (JSON) accepting blank password field"
### Description:

We use RocketChat with our AD servers for LDAP authentication. But we experience some strange behaviour on iOS devices as our users can authenticate without giving a password (read: empty field).

As far as we can see the Android, Windows and webclient do work as expected, seems like the iOS device has no check whether the authentication is correct. This is already investigated b

[2018-06-06 11:30] Maqsyo commented on #10984
https://forums.rocket.chat/t/api-user-info-unread-messages-and-count-of/1152

[2018-06-06 11:33] Dremor commented on #8895
Will this workaround be added to Rocket.Chat ? I'm using 0.64.2, and still viewing this.

[2018-06-06 11:47] luciofm commented on #10953
Hi @sewebster87,

I used https://www.sslchecker.com/sslchecker to test the certificate.

The strange thing is that using other tools, they say the certificate is OK.

Can I send you a test/debug app, to gather more information on the connection failure?

[2018-06-06 11:56] ChessSpider commented on #10931
@engelgabriel Hi, what kind of help is required ?
I have setup SimpleSAML with OpenLDAP and Rocket.Chat. All running in Docker. I can share (parts of) of the Docker images and configurations, if that helps?

[2018-06-06 12:02] misi commented on #10931
@engelgabriel Sure. Let me know what kind of help you are expecting..

[2018-06-06 12:31] ravirajcm commented on #10976
We are facing the same issue with the snap. here are the details.
Version	0.65.1
Database Migration	121
Deployment ID	gaA4uaXzw3w4DwWXb
Running Instances	1

Commit
Hash	8349c36de01e14503bcdbc5d382b124568959de9
Date	Wed May 30 09:57:01 2018 -0300
Branch	HEAD
Tag	0.65.1
Author	Diego Sampaio
Subject	Merge pull request #10947 from RocketChat/release-0.65.1

to reproduce the issue follow steps mention

[2018-06-06 12:47] flocher49 commented on #8555
Same problem too :( !

[2018-06-06 12:54] flavio80s commented on #10610
Why not just go back to the original behavior?
It is normal to discontinue a feature, but keeping it available with such incompatibility is unacceptable!
It worked very well as it was....

[2018-06-06 13:09] Paulpatou commented on #4924
Hi,

I wanted to know if it was now possible to set a specific notification sound when a user posts a message? For example, to differentiate between users and Bots.

Thank you

[2018-06-06 13:44] lewisf2001uk opened #11018 "Desktop Notifications not appearing with "@all" or "@here""
### Description:

I've reproduced this bug on a newly installed server.
When doing an "@all" or "@here" mention in any public or private channel the desktop notification doesn't show, however when mentioning someone directly "@username" it does show.
Increasing the Setting (Admin > General > Notifications > Max Room Members Before Disabling All Message Notifications) doesn't fix the issue.

### Se

[2018-06-06 13:53] Hudell commented on #3156
I'm gonna close this because it seems to have been fixed (the animation that prevented the image from being sent is no longer active). If anybody is still running into this issue it can be opened again.

[2018-06-06 13:53] #3156 closed

[2018-06-06 14:10] sewebster87 commented on #10953
Hi @luciofm ,

That would be great.  I just got a new LG G7 w/ Android 8.0 and am able to successfully connect to chat.stratacache.com, but not to my personal server chat.odinweb.co - same error "Error while checking server version".

The crazy thing is that this works just fine on chat.stratacache.com.  I am starting to feel like this is something I am doing wrong, however there is inconsistent b

[2018-06-06 14:14] Hudell commented on #2305
This doesn't seem to happen in normal situations for the current version, so I'll be closing this. If the problem is still present we will need more information about how to trigger it.

[2018-06-06 14:14] #2305 closed

[2018-06-06 14:22] bkraul opened #11019 "Inconsistent thumbnail generation on image uploads"
### Description:

### Server Setup Information:
#### Rocket.Chat (docker)
| Version                 | 0.65.1                                                    |
| ----------------------- | --------------------------------------------------------- |
| Database Migration      | 121                                                       |
| Database Migration Date | Sat Jun 02 2018 09:43:00 GMT-0500

[2018-06-06 14:27] Hudell commented on #3092
This has already been fixed.

[2018-06-06 14:27] #3092 closed

[2018-06-06 14:32] kaiiiiiiiii commented on #11019
Second part (large images) is a duplicate of #10980 and #11013 and is already fixed in PR #10998

[2018-06-06 14:43] bkraul commented on #11019
Got you. Since I am on docker, it seems the latest available there is 8349c36 from May 30th. Will await release there.

[2018-06-06 14:57] bkraul commented on #11019
Updated my home docker container to 0.66.0-develop (5565503). It is as you say with the large image issue fixed. I believe the second issue is limited to TIF files (as the one in my example is a tif document). I converted the same file to jpg and png, and it worked fine.

[2018-06-06 15:48] Hudell commented on #3190
We have recently refactored the notification system, so I'll be closing this old issue. If someone runs into this problem again, it can be reopened.

[2018-06-06 15:48] #3190 closed

[2018-06-06 15:50] Hudell commented on #4185
We have recently refactored the notification system, so I'll be closing this old issue. If someone runs into this problem again, it can be reopened.

[2018-06-06 15:50] #4185 closed

[2018-06-06 15:50] Hudell commented on #3519
We have recently refactored the notification system, so I'll be closing this old issue. If someone runs into this problem again, it can be reopened.

[2018-06-06 15:50] #3519 closed

[2018-06-06 15:51] Hudell commented on #3653
We have recently refactored the notification system, so I'll be closing this old issue. If someone runs into this problem again, it can be reopened.

[2018-06-06 15:51] #3653 closed

[2018-06-06 15:54] Hudell commented on #3618
I'll be closing this since it was related to the Cordova app in the first place.

[2018-06-06 15:54] #3618 closed

[2018-06-06 15:56] Hudell commented on #2563
I'll be closing this since it is an issue on the old Cordova app. If the same thing happens on the new apps, an issue should be opened on the respective repository.

[2018-06-06 15:56] #2563 closed

[2018-06-06 16:01] Hudell commented on #3263
In the current version of Rocket.Chat, it is no longer possible to leave a channel when you're the only owner, nor remove your owner status.

[2018-06-06 16:01] #3263 closed

[2018-06-06 16:16] Hudell commented on #3724
While the Rocket.Chat.Android app doesn't have the share-to ability, this issue was already solved on the new API that handles upload, so when the feature gets added it will be working properly.

[2018-06-06 16:16] #3724 closed

[2018-06-06 16:19] Hudell commented on #3312
This issue was a problem with the old Cordova app, so I'll be closing it. If any similar problem is found on the newer apps, it should be registered on the related repository.

[2018-06-06 16:19] #3312 closed

[2018-06-06 16:31] Hudell commented on #3870
Currently the general channel is created on the server startup process because we want it to exist at least once when the server is new, but if it was deleted it needs to remain deleted.

A proposed solution is to remove the creation of the channel from the startup process and add it as a new step on the server configuration wizard, with the ability to choose the channel name as well. Since it wil

[2018-06-06 16:46] Hudell commented on #3842
It's working on 0.65.1. It may have been fixed by the recent refactoring done in the notification system. If anybody runs into this problem again the issue can be reopened.

[2018-06-06 16:46] #3842 closed

[2018-06-06 16:58] Hudell commented on #3961
Version 0.65.1 still shows a 403 error instead of redirecting

[2018-06-06 17:01] Hudell commented on #4100
Has anybody seen this issue on any newer version?

[2018-06-06 17:28] Hudell commented on #4241
Have you had this problem recently? I've used OAuth but never seen it happen. I'll try to replicate it in the current version, but since the issue is old it may have already been fixed.

[2018-06-06 17:31] Hudell commented on #4381
Does this problem still happens for you? I've never seen it happen here.

[2018-06-06 17:36] Hudell commented on #4417
This has already been fixed. If anybody runs into the problem again, the issue can be reopened.

[2018-06-06 17:36] #4417 closed

[2018-06-06 17:36] kaiiiiiiiii commented on #11019
Can you provide a sample TIF file to test with @bkraul?

[2018-06-06 17:42] Hudell commented on #4695
The apps now download the files directly, so I'll be closing this issue. If any app still has problems downloading protected uploads, please create an issue on the corresponding app repository.

[2018-06-06 17:42] #4695 closed

[2018-06-06 17:49] Hudell commented on #4748
We've recently refactored the notification system so this old issue is no longer relevant. If you run into any problems with notifications you can open a new issue.

[2018-06-06 17:49] #4748 closed

[2018-06-06 17:50] Hudell commented on #4515
We've recently refactored the notification system so this old issue is no longer relevant. If you run into any problems with notifications please open a new issue.

[2018-06-06 17:50] #4515 closed

[2018-06-06 17:55] Hudell commented on #4993
Duplicate of #2833

[2018-06-06 17:55] #4993 closed

[2018-06-06 17:56] Hudell commented on #2833
@ggazzo please check the proposed solution on the comments of #4993

[2018-06-06 18:03] Hudell commented on #971
While we won't be adding an image proxy, a setting to disable the preview of http links is necessary.

[2018-06-06 18:06] Hudell commented on #4050
I've recently reopened issue #971 as a feature request for said setting.

[2018-06-06 18:06] #4050 closed

[2018-06-06 18:17] Hudell commented on #5028
The default state is now loaded, but the problem still exists: If you collapse an image and someone adds a reaction, it will be expanded again.

[2018-06-06 18:18] Hudell commented on #5036
This has already been fixed.

[2018-06-06 18:18] #5036 closed

[2018-06-06 18:19] Hudell commented on #5053
Did anybody run into this problem on newer versions?

[2018-06-06 18:30] drweb86-work opened #11022 ""Talk now" in Russian for group owner goes outside button"
Hello

Please see screenshot below
![image](https://user-images.githubusercontent.com/29063147/41057812-c9cd6426-69d0-11e8-9875-e1df680a89ea.png)

Thank you.

[2018-06-06 18:40] Hudell commented on #5562
It is still an issue.

[2018-06-06 18:42] Hudell commented on #5562
According to @ggazzo it also doesn't show users who become online after the list is opened.

[2018-06-06 18:43] Hudell commented on #5585
Fixed by https://github.com/RocketChat/Rocket.Chat.Cordova/pull/182

[2018-06-06 18:43] #5585 closed

[2018-06-06 18:45] Hudell commented on #5774
Since this is related to the old Cordova app, I'll be closing the issue here. If any of the apps run into this  problem please open an issue on the corresponding repository.

[2018-06-06 18:54] Hudell commented on #6197
This was fixed on 0.53

[2018-06-06 18:54] #6197 closed

[2018-06-06 18:58] Hudell commented on #6072
This issue was already fixed.

[2018-06-06 18:58] #6072 closed

[2018-06-06 18:59] Hudell commented on #6154
I'll close this one due to inactivity. If necessary it can be opened again.

[2018-06-06 18:59] #6154 closed

[2018-06-06 19:04] luciofm commented on #10953
@sewebster87 the sales people will enter in contact... Meanwhile, I'll bake a special version of the app for gathering more information of this problem. I'll try to have it for tomorrow, or Friday.

[2018-06-06 19:05] Hudell commented on #6178
It seems to have been fixed already, as I couldn't replicate it. If anybody runs into this problem again it can be reopened.

[2018-06-06 19:05] #6178 closed

[2018-06-06 19:09] Hudell commented on #6229
The button error was fixed on 0.56 (#6741) and the behaviour reported is so by design, so I'll be closing this issue.

[2018-06-06 19:09] #6229 closed

[2018-06-06 19:10] renatobecker opened #11023 "Disconnect from the DDP server when the LiveChat visitor's status is away"
### Description:

When the Livechat Widget is loaded, a new DDP connection is started between the client and the server. The client/visitor may never interact through the widget or just stop chatting, which will change their connection status to away.
In this case, the DDP connection will remain active and consuming server resources, so it would be nice to handle the Livechat DDP connection, conne

[2018-06-06 19:10] bkraul commented on #11019
[20180605_194837.zip](https://github.com/RocketChat/Rocket.Chat/files/2077813/20180605_194837.zip)

[2018-06-06 19:21] Hudell commented on #6348
Has anybody had this problem recently? I have not seen it happen yet.

[2018-06-06 19:27] Hudell commented on #6363
Regular mentions are working properly. Mentioning usernames with spaces is currently not supported.

[2018-06-06 19:27] #6363 closed

[2018-06-06 19:31] Hudell commented on #6275
It seems to be working on the current version. If not, the issue can be reopened.

[2018-06-06 19:31] #6275 closed

[2018-06-06 19:35] Hudell commented on #6411
Problem is still present on the current version. It seems that there are multiple modals opening and the user can only close one.

[2018-06-06 19:36] vynmera commented on #6405
This should really, _really_ be a thing.
I managed to make a dark theme CSS for Rocket.Chat a little bit ago, but it's very messy because 90% of colors are hardcoded. So if we really want to achieve this (we do), we'll need to redo a lot of our UI templates to get rid of the hardcoded colors...
...if someone can point me in the right directions though, I'll be happy to attempt to port my dark them

[2018-06-06 19:59] Hudell commented on #6723
Since this is related to the old Cordova app and the feature is not available on the new app, I'll be closing this issue. For any problems with mobile apps from now on, please open the issue on the App's repository.

[2018-06-06 19:59] #6723 closed

[2018-06-06 20:03] Hudell commented on #6750
@shakalandy it was already implemented and will be included in one of the next releases.

[2018-06-06 20:05] Hudell commented on #6727
I'll be closing this as per the previous message and the reaction and lack of response of the OP.

[2018-06-06 20:05] #6727 closed

[2018-06-06 20:07] Hudell commented on #6792
This issue is still present in the current version.

[2018-06-06 20:10] Hudell commented on #6813
Closing this as it's already fixed.

[2018-06-06 20:10] #6813 closed

[2018-06-06 20:12] Hudell commented on #6876
I'll be closing this since it is related to the old Cordova app. If necessary, please open the issue again on the app's repository.

[2018-06-06 20:12] #6876 closed

[2018-06-06 20:17] Hudell commented on #7075
I'll close this since it is related to the old Cordova app. If still necessary, please open an issue on the old app's repository.

[2018-06-06 20:17] #7075 closed

[2018-06-06 20:18] Hudell commented on #7052
Do you still have this problem in newer versions?

[2018-06-06 20:28] Hudell commented on #7467
The problem is still happening on the current version of RC.

[2018-06-06 20:46] HammyHavoc commented on #6405
@vynmera I'd buy you a coffee/beer/beverage of your liking if you could sort this!

[2018-06-06 21:00] richardwlu commented on #5053
@Hudell I'm on 0.63.3 and do not get this error anymore for LDAP, but I do get it for messages:

    WriteError({"code":11000,"index":0,"errmsg":"E11000 duplicate key error collection: rocketchat.rocketchat_message index: _id_ dup key: { : \"KMnyxrmaFN9Zk3Jxp\" }","op":{"_id":"KMnyxrmaFN9Zk3Jxp","rid":"4dHzd9EJvLmBvpeSZWiyWd5Fm8sFWvgqYu","msg":"<removed>","ts":"2018-05-31T13:57:26.213Z","alias":"<

[2018-06-06 21:13] MarcosSpessatto commented on #10792
Hello @huiminzeng , I did the tests here following the step by step provided by you and I was not able to reproduce the error, in all cases they worked. Could you show the result returned from the `/login` please, so we can recheck it?

[2018-06-07 07:33] spinza commented on #5193
It wasn't working when I tested it as above. It didn't return anything in a channel with online users.

[2018-06-07 07:47] #6589 closed

[2018-06-07 08:32] amarendrayadav opened #11028 "No notifications on Iphone"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-06-07 08:38] jpowie01 commented on #10732
I can agree with your findings. I've also found out that there are some issues with `/api/v1/commands.list` and `/api/apps/languages` endpoints. They seem to not have added my subdirectory :(

RocketChat version: 0.65.1

[2018-06-07 08:49] vynmera commented on #11028
Please, explain more. What iPhone? What app? What version of Rocket.Chat? Any error messages? Update your issue description, please.

[2018-06-07 08:56] Venomen commented on #8239
@engelgabriel I mean any search. Maybe this would help, generally searching in Rocket is just slow. Some additional caching should be involved if it has to be MongoDb?

[2018-06-07 10:46] DRON4eg commented on #10949
@vynmera
can this somehow be fixed for all users?

[2018-06-07 10:51] Leen15 commented on #5481
news @renatobecker? we have version 0.65.1 but we are still not able to delete closed chats.

[2018-06-07 12:29] driesmeyers opened #11029 "User still muted in read only group after role update (with permission [post-readonly])"
Description:
I created a read-only private group where only users with a specific role (with permission [post-readonly]) can add messages to the group. When adding this role (REST API) to a user who was muted before, nothing changes. He is still unable to talk. Only when I unmute him personally from the right-hand menu he is able to post messages.
(When removing the role the user can still talk so

[2018-06-07 12:50] guilhermecfviana opened #11031 "[BUG] Livechat does not show notifications on Windows 10."
### Description:

I use windows version app.

When livechat sends message for me, notification does not show on my pc, I only get sounds.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Linux (Ubuntu) x64 4.4.0-1049-aws
* Deployment Method(snap/docker/tar/etc):  snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.11.2

[2018-06-07 12:57] JayLearn opened #11032 "."
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-06-07 12:58] janrudolph opened #11033 "[Bug] Avatar does not work after SAML registration"
### Description:

Users are able to register via authentication services like SAML. You can set the user name based on the email address. The real name and avatar image is not set by default.

We observed a strange behavior when an user tries to upload an avatar image after SAML registration. The user gets a preview of the uploaded image, however, the image is not saved. When the user presses "sav

[2018-06-07 12:59] #10830 closed

[2018-06-07 13:04] guilhermecfviana opened #11034 "[BUG] Livechat: I can't hide conversations"
### Description:

I can't hide conversations on livechat.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Linux (Ubuntu) x64 4.4.0-1049-aws
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.11.2
* mongoDB Version: 121

### Steps to Reproduce:

![rocket chat-07_06_2018-09_50_5

[2018-06-07 13:46] VareliyK commented on #11017
it's really (((((

[2018-06-07 14:40] vynmera commented on #10949
@DRON4eg I'm looking into it - but I still have no clue where these tags are coming from (this doesn't happen at all for me)

[2018-06-07 14:41] vynmera commented on #11032
Thank you for your report. We will go right ahead trying to fix this issue.

[2018-06-07 14:42] vynmera commented on #11032
@rocket-cat close

[2018-06-07 14:48] engelgabriel commented on #2759
Hi all, can you please share with us your use cases so we can start planing how to best design this feature? @mrsimpson @JSzaszvari do you have some use for this feature too?

[2018-06-07 14:49] engelgabriel commented on #2759
@TheReal1604 do you also use LDAP on your deployment?

[2018-06-07 14:50] #11032 closed

[2018-06-07 14:51] TheReal1604 commented on #2759
Yes, since yesterday.  @engelgabriel

[2018-06-07 14:53] mkretzer commented on #2759
We have a rather big callcenter. When there is new staff or staff gets sent to new teams  (which happens quite often) all the permissions are given via LDAP groups. We also have chat groups for every team. Adding / removing staff from the groups would mean much work if we need to do this with every staff member manually...

[2018-06-07 15:01] userbq201 opened #11036 "Handshake failed"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): -
* Number of Running Instances: 1
* DB Replicaset Oplog: -
* Node Version: v8.11.2
* mongoDB Version: -

### Steps to Reproduce:

1. Open websocket
[code]

Socket crash with exaption `Handshake failed`. (Android device v 7)

[2018-06-07 15:07] TheReal1604 commented on #2759
Yes, it’s a bit manually at the moment. We resolve this with a content / user administrator for the important channels.

[2018-06-07 15:09] myfonj opened #11037 "Wrong font-family order"
https://github.com/RocketChat/Rocket.Chat/blob/98c3ed5c8d9ad67e16ad470d963d6270b6b6671b/packages/rocketchat-theme/server/variables.js#L69

For some (quite understandable) reason, on Windows 10 such declaration produces funky results for emoji and /or combining characters. `, Arial, sans-serif` should be at the end of such declaration, which should be from specific to generic font faces, here the o

[2018-06-07 15:15] jvacek commented on #2759
XWiki has a decent implementation for this via their plugin called LDAP Authenticator.
An XWiki group (or a rocket chat room in this case) can have an LDAP query associated with it, or simply an AD OU or a Group membership.
When a user logs in, all of these conditions are checked, and groups are allocated. I think the entire AD is also re-checked for all the existing users every user-defines amoun

[2018-06-07 15:17] engelgabriel commented on #2922
We are accepting PRs to turn this into a personal setting.

[2018-06-07 15:20] VareliyK commented on #11017
It's very big problem. We are waiting the critical patch for all server version.

[2018-06-07 15:22] engelgabriel commented on #2985
The permission was supposed to really cover this, if there is a work around, we need to fix it.

[2018-06-07 15:34] bott0r commented on #2922
While you guys are at it, I am sure it would be greatly appreciated if a user could customize the order of entities of messages.

Right now its:
[avatar] [name] [time] [msg]

It would be great if users could change the arrangement.
I personally prefere

[time] [avatar] [name] [msg]

I am sure other people would like to do

[time] [name] [msg]

[2018-06-07 15:59] Hudell commented on #11029
Duplicate of #4769

[2018-06-07 15:59] #11029 closed

[2018-06-07 16:29] engelgabriel commented on #11037
https://bitsofco.de/the-new-system-font-stack/

[2018-06-07 16:57] christianprim commented on #2759
We use Rocket.Chat at our school. Every class needs a room. It would be wonderful, if we could fill the room automatically from our LDAP-Groups (every student belongs to a ldap-group for his class). If a student has to change class, it would be nice, if he would chage room automatically. That's our use case.

[2018-06-07 17:40] rodrigok commented on #11017
@xxmoC I wasn't able to reproduce your issue.

Can you please contact me at https://open.rocket.chat/direct/rodrigo.nascimento ?

[2018-06-07 18:05] xxmoC commented on #11017
@rodrigok I will drop a DM in a bit to provide you the URL of the test/acceptance server we built, to reproduce the issue in a clean environment with a dummy Active Directory. Meanwhile, @VareliyK you are having the same issue?

[2018-06-07 18:21] myfonj commented on #11037
Found that while messing with userstyle that disables 'picturized' emojis and returns their text content back, and during investigation found there are more quirks than expected:

https://imgur.com/a/eh8N3sg
https://codepen.io/myf/pen/WyGqbq

The outcome is that for some fonts handles some ways of encoding better and that "Segoe UI Emoji" has most probably some kind of flaw (on my machine).  Resor

[2018-06-07 18:37] VareliyK commented on #11017
@rodrigok and @xxmoC  i reproduce this problem with version 0.65.1 and 0.64.1 with AD users. We had to disaible our chat, because it's critical vulnerability.

[2018-06-07 18:53] rasos commented on #8535
Telegram offers an invite link for each user at https://t.me/nickname . Then it asks if I want to send a message or join Telegram.

Rocket.Chat shows a "not found" when sending some friends my room https://great.chat/direct/nickname

[2018-06-07 20:47] sadkins76 commented on #2869
Tallestthomas,
Did you make any progress with the external logger?  If so, would you mind sharing?  I need this badly....

[2018-06-07 21:01] vynmera commented on #2869
It's probably fair to (if this does get implemented in a way where this is possible) add a warning to private channels and DMs that admins can read these chats (especially for public instances).

As it is right now, DMs could have a warning if the Read other IMs option is enabled in server settings.

I believe transparency is key with these things!

[2018-06-07 21:18] geekgonecrazy commented on #10951
Ah so this is why the + was missing to add a new custom sound and custom emoji!  Looks like its every page there in admin that involves adding something from the sidebar

@ggazzo @karlprieb you guys aware of this?

[2018-06-07 21:28] gt50 commented on #2869
Last year I created a python script that I could run to get the data that I needed. I just uploaded it to a gist. Enjoy!

https://gist.github.com/gt50/82005184d9a030cbe6e2ea91a4ae39b7

[2018-06-07 21:34] rodrigok commented on #11017
@VareliyK can we chat at https://open.rocket.chat/direct/rodrigo.nascimento too? Lets try to find the root cause.

[2018-06-07 21:37] HammyHavoc opened #11047 "No Sets on Windows 10"
Almost every program I use supports Sets, it's really irritating to not have that on RocketChat.

[2018-06-07 21:37] andranikvfx opened #11048 "How to disable file upload in channels but keep it for private messages"
hey guys, was wondering if there is a way to enable file access only for private messages but not for channels.

[2018-06-07 21:50] vynmera commented on #11047
Is this about the desktop app? If so, that should probably be reported here instead: https://github.com/RocketChat/Rocket.Chat.Electron as I believe this would be something Electron will have to pick up in its WINAPI hooks. Opening Rocket.Chat in Edge or w/e should allow using it in Sets, right?

(I don't use W10 so forgive me if I'm wrong)

[2018-06-07 22:05] HammyHavoc commented on #11047
You're absolutely right. :- )

[2018-06-07 22:05] #11047 closed

[2018-06-07 22:06] vynmera commented on #6405
I've begun work on this, anything specific I should add?

[2018-06-07 22:16] HammyHavoc commented on #6405
Somewhere between what Discord's dark color scheme looks like without ripping it off, and the dark mode for Windows 10. I think that'd be a happy medium for readability. I think it'll probably be one of these things that the community provides feedback on once the option is in there to switch to dark mode.

Thanks! :- )

[2018-06-08 02:38] #10951 closed

[2018-06-08 03:50] ggazzo commented on #2833
@Hudell I dont think `/packages/rocketchat-lib/server/functions/updateMessage.js` is a ux problem, but give some days I will try ;)

[2018-06-08 03:52] ggazzo commented on #10951
fixed ;)

[2018-06-08 05:10] bennlich commented on #6579
Hmm. Just ran into the same issue with the 0.65.1 package installed via:
[code]

[2018-06-08 05:13] pkgodara commented on #11034
@guilhermecfviana Anything you can see in logs? That would be quite helpful.

[2018-06-08 05:34] mrsimpson commented on #2759
@engelgabriel we’re not using LDAP in RC at all, since the maintenance of groups via the ldap UI is way more complicated. Thus, I cannot provide more ideas or practices here. Still, I believe this was a useful feature for many

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-08 05:58] bennlich opened #11057 "malformed urls for avatar icon requests when hosted from a subdirectory"
### Description:

When rocket chat is hosted from the `/chat` subdirectory. Avatar icons get requested from broken urls like
[code]
I.e. the subdirectory is repeated in the request URL. Seems similar to https://github.com/RocketChat/Rocket.Chat/pull/10029.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Ubuntu 14.04
* Deployment Method(snap/docker/tar/et

[2018-06-08 06:00] DRON4eg commented on #10949
@vynmera Can I help you?
I am ready to assist in finding the source of the problem.

[2018-06-08 06:54] sinteur commented on #9112
(runningn 0.65.1 now)

[2018-06-08 08:18] fsdaniel commented on #11017
Glad its being looked into! thanks! :)

[2018-06-08 08:45] peterdalydickson opened #11058 "Changes made to Livechat settings do not save"
### Description:

Changes made to Livechat settings do not save.

### Server Setup Information:

* Version of Rocket.Chat Server: 65.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v8.9.3
* mongoDB Version: 3.6.4

### Steps to Reproduce:

1. access Livechat administration
2. change 'Displa

[2018-06-08 10:06] christianprim commented on #9990
manifest.json should look like this:
`{
        "name": "Rocket.Chat",
        "icons": [
                {
                        "src": "\/assets\/favicon_192.png",
                        "sizes": "192x192",
                        "type": "image\/png"
                },
                {
                        "src": "\/assets\/favicon_512.png",
                        "sizes": "512x512",

[2018-06-08 10:55] driesmeyers opened #11059 "[FIX] REST API - ability for a user to delete himself without [delete-user] permission"
When deleting a users tries to delete his own account response returns 'unauthorized' message. (using users.delete endpoint)

[2018-06-08 10:57] VareliyK commented on #11017
@rodrigok Do you have any news for us ?

[2018-06-08 11:14] fsdaniel commented on #11017
@VareliyK If you are desperate you can use this patchy workaround.
https://github.com/fsdaniel/Rocket.Chat/commit/82ba9cedef53c094e7664774f037554290550368

[2018-06-08 11:41] guilhermecfviana commented on #11034
@pkgodara When I execute the action it does not display any log.

![image](https://user-images.githubusercontent.com/17053653/41156315-c39b6aa8-6af7-11e8-978a-bb5821eabcc8.png)

[2018-06-08 11:59] nwd3 opened #11060 "Android App not Working for RocketChat"
### Description:
I have rocketchat version 0.65.1 installed(this issue also occurs for version 0.60.1) and the rocketchat android app does not work.   I tried multiple versions of the app.  It always errors out giving messages like: "this is not a valid rocketchat instance" and other error messages.  The server works fine on the ios app.  SSL is enabled behind an apache server.

### Server Setup I

[2018-06-08 13:32] VareliyK commented on #11017
@fsdaniel Thank's. Does compilation require for the patch?

[2018-06-08 14:43] dotsomething commented on #2869
After trying to get the messages I was thinking: is it possible to use the **REST API** to read the messages? I was trying to get the users message as an admin and I couldn't because I don't have the user's credentials to login into the API.

[2018-06-08 15:01] VareliyK commented on #11017
@rodrigok when you commit this patch ?https://github.com/fsdaniel/Rocket.Chat/commit/82ba9cedef53c094e7664774f037554290550368 ?

[2018-06-08 15:02] janrenz commented on #2759
We would also like to use it for schools. every class has a room, plus every school has a room. it should support multiple schools in one instance.

[2018-06-08 15:06] leoluk commented on #10583
I have a high DPI screen and can confirm the issue: #10900

Right now, it's almost unusable for me :(

[2018-06-08 15:16] userbq201 commented on #11036
@kaiiiiiiiii
As said my CTO, the reason not in a SSL/TLS certificate. We use Let's Encrypt and warning about Trust Co. is normal in this period of Let's Encrypt.

The real reason that nginx on a server has very strong security settings:
```ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";```

He has suggested install less strict  settings:
[code]

But he said that it might be too weak

[2018-06-08 15:34] Franselbaer commented on #3027
The proxy_set settings within location fixed it.

[2018-06-08 15:41] vynmera commented on #2869
@dotsomething You _can_ get DM messages, yes. You can use https://rocket.chat/docs/developer-guides/rest-api/im/messages-others/ together with https://rocket.chat/docs/developer-guides/rest-api/im/list-everyone/ for this.
Simply use im.list.everyone and read the DMs with im.messages.others.
To use this, you'll need to turn on the Enable Direct Message History Endpoint setting!

[2018-06-08 15:41] Nepoxx commented on #2869
@dotsomething Do you have access to the mongo database? If so you can query it to see all the messages you need. See my comment above which contains a sample query.

https://github.com/RocketChat/Rocket.Chat/issues/2869#issuecomment-280046547

[2018-06-08 16:59] rodrigok commented on #11017
@VareliyK You don't need this patch, just enable your `user Search (Group Validation)` set `Group OjbjectClass` to `*` and keep the other fields empty.

This is not a Rocket.Chat but, the LDAP (AD only) reply with bind as success but will fail on next requests saying that the bind was not done.

I'll release an option (false by default) to allow empty passwords ASAP for our 3 latests versions

[2018-06-08 17:03] dotsomething commented on #2869
@vynmera Cool, going to check it out in a few minutes!

@Nepoxx Yes, I do have access to the database. But I was going to build a static page as a web interface to audit in case something wrong happens at the company. Now I'm going to take a look at the solution @vynmera gave me and perhaps use Nodejs with mongodb.

Thank you, guys!

[2018-06-08 17:36] vynmera commented on #2869
@dotsomething You run im.list.everyone as yourself, then find the IM you want to look into. (Hint: the _id field for a DM consists of the 2 user IDs that are talking)
Once you have a _id, use im.messages.others with that id, again as yourself.

[2018-06-08 18:56] ggazzo commented on #11060
hey @nwd3 I think its a problem with android app could you open your issue here https://github.com/RocketChat/Rocket.Chat.Android? Thanks.

[2018-06-08 19:08] VareliyK commented on #11017
It's correct settings  ?
![screen shot 2018-06-08 at 22 06 46](https://user-images.githubusercontent.com/38356277/41176262-694ddd1c-6b68-11e8-9abf-dcf01ccfb595.png)

[2018-06-08 19:12] #11060 closed

[2018-06-08 19:21] VareliyK commented on #11017
@rodrigok Thank's! It works, if Login Fallback false. But i still can login with empty password, if Login Fallback - true :(

[2018-06-08 19:35] rafaelks opened #11064 "[REGRESSION] Mobile apps depending on settings again to show the OAuth options"
### Description:

After this PR https://github.com/RocketChat/Rocket.Chat/pull/10724, the WordPress authorization option differs based in a setting of the server. This information needs to come on the OAuth services API. The client should not need both Settings + OAuth APIs to present the OAuth options.

On mobile, we're forcing the WordPress to use this URL to authorize the user:

We've two optio

[2018-06-08 19:35] engelgabriel commented on #11002
![image](https://user-images.githubusercontent.com/1000217/41177294-de0bc698-6b39-11e8-8c8d-a853540c8dd2.png)

We need to supply a GDPR compliant default value (probably inspired by our own), with a big disclaimer on top, saying that this is a *RECOMMENDED POLICY* that can be edited by the server administrator.

[2018-06-08 19:38] geekgonecrazy commented on #11064
Can we maybe switch all oauth to use the exact same custom oauth?  This way when the mobile teams call the api they will get all values needed and not have to depend on settings for some and the api for others?

I think this is going to be extremely important, especially since in the future we might be moving to adding in oauth providers via Rocket.Chat Apps.

[2018-06-08 19:38] rodrigok commented on #11017
@VareliyK Yes, it will work since the login fallback will store the informed password in Rocket.Chat user's record and will use it if the login on LDAP fails, so if the empty login was working before and you had the login fallback enabled it stored the empty passwords for the users that did login on that time, then, even if the LDAP blocks the login the fallback will be executed and the password w

[2018-06-08 19:40] rodrigok commented on #11017
The fallback login should be user only if you have some users that should authenticate against the internal account system cuz they are not in your LDAP system. Or if you LDAP server have recurrent outages.

[2018-06-08 19:54] VareliyK commented on #11017
@rodrigok i have two questions:
1. how to rewrite empty passwords, if login fallback - true ?
2. Why login the fallback will be executed if account was blocked in the LPAD ?

[2018-06-08 20:49] engelgabriel commented on #11034
@guilhermecfviana is there are msgs on your browser console log?

[2018-06-08 22:45] vikaskedia opened #11065 "Make links in home body clickable"
In my home body I have a hyperlink:

![image](https://user-images.githubusercontent.com/6703876/41184106-e549bd0e-6b32-11e8-8d1e-dd394da578c4.png)

But I cannot make that hyperlink clickable.

I have tried using [url][/url] and I have also tried using the a html tag

[2018-06-08 22:56] vynmera commented on #11065
`<a href="your url goes here">your text goes here</a>`
please, try out W3Schools or Codecademy to learn more about HTML :)

[2018-06-08 23:07] vikaskedia commented on #11065
Thank you @vynmera it works. I did not have the quotes around the URL.

[2018-06-08 23:07] #11065 closed

[2018-06-09 00:18] bennlich opened #11066 "[REGRESSION] Uploaded image urls not respecting full ROOT_URL env var"
### Description:

For a rocket chat server hosted from a subdirectory, e.g.:
[code]
uploaded images fail to render in channels. The bug seems to be that the url in the images' `src` attribute points to `https://my.domain.com/file-uploads/...` instead of `https://my.domain.com/chat/file-uploads/...`.

Maybe related to https://github.com/RocketChat/Rocket.Chat/issues/11057.

This appears to be a reg

[2018-06-09 02:47] lightweight commented on #10801
I'm seeing this, too, on 0.65.1. Attempts to let users self-verify their mails results in a 500 server error, and trying to approve a user via the admin registration moderation also ends in a 500 error. It's creating real problems. Anyone else having issues? My setup is Docker, running Mongo 3.4

[2018-06-09 05:43] tahajahangir commented on #823
"Last seen" or "last online" time **is not** last login time. Users may have open sessions for days or weeks. Many messaging platforms (e.g whatsapp or telegram) provide precise last online time (e.g _3 minutes ago_).

@TwizzyDizzy This is a separate feature (and also may need server side implementation to store last online time in a high-write-capable db, e.g redis). I think the issue can be reop

[2018-06-09 08:17] sybrenstuvel opened #11067 "@mentions break when usernames contain non-ASCII letters"
### Description:

@mentions break when usernames contain non-ASCII letters, for example @stüvel would not be recognised as a mention.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.9.3
* mongoDB Version: unknown

###

[2018-06-09 09:11] Diluke opened #11068 "How to update server (Ubuntu)"
I cant find information on how to update Rocketchat server in Ubuntu.

### Description:
I want to update my server instance in hopes to fix errors in file upload (in some cases uploaded files show empty)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.2
* Operating System: Ubuntu 16.04 64bit
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB R

[2018-06-09 09:21] vynmera commented on #823
This should really be reopened. Last seen is very, _very_ useful for teams!

Last login is not accurate to last seen, last seen should be based on something like our autoaway, not session logins, durations, etc.

Furthermore, **we need to keep from abusing `view-full-other-user-info`**. I can't stress this enough, but that permissions is an insecure overkill.
Using that permission, you can for exa

[2018-06-09 09:37] kaiiiiiiiii commented on #11068
The update process is the same as the install process. Just stop your systemd/pm2//whatever, delete the old RC folder, download and untar the new version, run npm install and start your systemd/pm2 again.

[2018-06-09 12:06] rasos commented on #7524
Did you try migrating the files storage to GridFS? Then the files are not stored in little chunks in the MongoDB. @arminfelder has been working on a migration script.

[2018-06-09 14:05] userbq201 opened #11069 "How to get unread message for private group ?"
How to get unread message for private group ? Im direct mesage good.
is there such a functional?

[2018-06-09 14:08] #11069 closed

[2018-06-09 15:16] Diluke commented on #11068
Thank you very much, i'm running latest version now.
One thing remains, correcting documentation
https://rocket.chat/docs/installation/updating/

[2018-06-09 16:04] vynmera commented on #6405
@HammyHavoc Check out #11071 :)

[2018-06-09 16:13] Julianoe commented on #6405
Love it!

[2018-06-09 19:16] xxmoC commented on #11017
Thanks for workaround @rodrigok

[2018-06-09 19:47] raymondfeliz commented on #10938
I had a similar issue and it turned out to be related to Nginx and not rocketchat. Are you using nginx? With https? If so you may have to look into how your https is set up if you are self signing. I sadly am away  from my computer and forget the setting I changed. I do remember it being related to a poodle exploit is why it was disabled.

[2018-06-09 23:27] engelgabriel commented on #9771
![image](https://user-images.githubusercontent.com/1000217/41196603-517fa4d8-6c1a-11e8-93c2-833778324390.png)

[2018-06-10 01:15] entrptaher opened #11073 "Slow downloads from everywhere"
I went to rocket.chat/install and clicked download. It downloaded at most 1-2Mbps speed since it's downloading from github linked to s3.

I've tested from at least 20 different devices for **past few months** and only few managed to download it without problems. I think this is a serious issue since it actually takes a lot of time just to download the desktop version and test it out.

Here is an i

[2018-06-10 03:59] ggazzo commented on #5193
hey @spinza , can you show us more information? do you have a public server?(maybe we could test), because we are quite sure this method works, we use them on our member list...
open.rocket.chat:
![image](https://user-images.githubusercontent.com/5263975/41198154-2072038e-6c49-11e8-9bb5-34e4f9bea8c5.png)

I made a test here, and I couldn't find any problem with the result
![s3zb8aw1u0](https://use

[2018-06-10 04:07] ggazzo commented on #9112
we are facing some problems with notifications in general (fixed here #11024), but just for emails ... we will test again... :)

[2018-06-10 12:58] spinza commented on #5193
Back when I posted it was not working.  I was wanting to integrate something and the API call did not work. Hence my comment.  I gave up on this and haven't looked at it since.  May be fixed now as you seem to show.

I wanted to automatically add users to a room based on some external data.  Could not check if they were in the room as this call didn't work.

[2018-06-10 13:03] spinza commented on #5193
Maybe this was the fix:
https://github.com/RocketChat/Rocket.Chat/commit/c9bfdc6747769c7f2dd2f9b162c376648311436f#diff-3ebd579e0d8906b13b7eb04e4bb61e1a

[2018-06-10 13:30] ggazzo commented on #5193
thanks @spinza, then I will be closing, if you try again and for some reason you couldnt use, please let us know.

[2018-06-10 13:30] #5193 closed

[2018-06-10 14:40] #2833 closed

[2018-06-10 15:07] #10292 closed

[2018-06-10 16:56] rohtua opened #11075 "Connection refused"
Hi, I've got an issue with my RocketChat server running on a Raspberry Pi 3 (I'm using the snap version on Ubuntu Core). A while ago I had an error where I couldn't connect to my server via the RocketChat app after some digging around on Google I found that it was an ongoing issue and the best current solution at the time was to roll back a version for the snap. Problem Solved!! It has been a whil

[2018-06-10 19:07] #11018 closed

[2018-06-10 21:49] #5341 closed

[2018-06-10 21:49] #9253 closed

[2018-06-10 21:49] #9295 closed

[2018-06-10 21:49] #10004 closed

[2018-06-10 21:49] #10415 closed

[2018-06-11 02:02] neucom opened #11077 "Account creation button is not displayed!"
Logging in with an account with Admin privilege, the Add User button does not appear in [Users] in [Administration].
![1](https://user-images.githubusercontent.com/1433627/41209459-c0f45ac8-6d66-11e8-945e-9363dc0a2f96.png)
When you click on an existing user, the [Invite Users] and [Add User] buttons appear together with [User Info].
![2](https://user-images.githubusercontent.com/1433627/41209460-c

[2018-06-11 06:31] vddmvddm opened #11078 "Duplicate "Add New Server" button in rocket chat applucation 2.11.0 on Windows10"
**Server Setup Information:**
Version of Rocket.Chat Server: 0.64.1
Operating System: Linux (Debian) x64 3.16.43-2+deb8u5
Deployment Method(snap/docker/tar/etc): manual install
Number of Running Instances: 5
DB Replicaset Oplog: Enabled
Node Version: v8.9.4
mongoDB Version: 115

**Steps to Reproduce:**
![rocket_app](https://user-images.githubusercontent.com/28955375/41215604-c0b7859c-6d59-11e8-851

[2018-06-11 07:04] rkgoswami commented on #11078
Update to latest version and started getting the above issue. Anyone resolve it soon.

[2018-06-11 07:12] kaiiiiiiiii commented on #11078
This is not a problem with the server component, it’s an Electron client problem.

An issue in the Electron repo is already existent (https://github.com/RocketChat/Rocket.Chat.Electron/issues/744)

[2018-06-11 07:15] kaiiiiiiiii commented on #11077
Duplicate of #10951

[2018-06-11 07:26] archang3l-media opened #11079 "[Bug] Empty CustomOAuth sometimes breaks Login."
### Description:

An empty (unconfigured) "CustomOAuth" URL breaks the login screen and just shows the user a grey background with three dots.

### Steps to reproduce:

1. Install Rocket.Chat the normal way (tarball)
2. Run 0.65.1
3. Have sometimes breakdowns on your clients logins

### Expected behavior:

Users would be able to login since custom oAuth is disabled (we just use LDAP)

### Actual b

[2018-06-11 08:56] p-hess commented on #9765
That fix does indeed seem to have solved our issue. Thanks!

[2018-06-11 08:56] #9765 closed

[2018-06-11 09:45] RehaChris opened #11081 "RocketChat just work in Background"
### Description:
RocketChat starts up on doubleclick in 4-5 instances, even 2 Symbols with one disappearing on Mouse Hover. But the Programm will never appear on Screen, just work in the Background.
Restart dont fix, Reinstall dont fix

### Steps to reproduce:

No idea....

### Expected behavior:

The Programm would be able to shown on the Desktop

### Actual behavior:

RocketChat just works in Ba

[2018-06-11 09:50] acolville commented on #11013
Is there anyway to work around this prior to the next release? :)

[2018-06-11 09:52] acolville commented on #10980
@vynmera - nice one. I don't suppose you have the CSS handy? Save waiting for the next release :)

[2018-06-11 10:06] vynmera commented on #10980
@acolville My fix includes a small HTML change too, so perhaps try out https://github.com/RocketChat/Rocket.Chat/issues/10980#issuecomment-394358198 ?

[2018-06-11 11:15] neucom commented on #11077
Thank you for letting me know! :bow:

[2018-06-11 11:15] #11077 closed

[2018-06-11 11:22] ChessSpider commented on #10931
@engelgabriel non-intrusive reminder

Additionally, is there a temporary fix for this? Or when will the next version be launched? No one can log in now, still..

[2018-06-11 11:27] kaiiiiiiiii commented on #11081
Hi @RehaChris,

I'd like to refer you to the electron repository, as this seems to be a problem with the electron desktop client.

https://github.com/RocketChat/Rocket.Chat.Electron

Feel free to open an issue over there :)

[2018-06-11 11:58] eszeus commented on #10530
Same issue here, no audio, its just silent.

[2018-06-11 12:06] alireza-salehi commented on #10530
same issue on 0.65.1 on windows 10 1803 (17134.1) with electron windows client 2.11.0

[2018-06-11 12:55] etyack opened #11082 "Error when Downloading or Exporting My Data"
### Description:

We are unable to Download or Export My Data.

### Steps to reproduce:

1. Log in to RocketChat
2. Click on My Account
3. Scroll to the bottom of the page
4. Click either DOWNLOAD MY DATA or EXPORT MY DATA

### Expected behavior:

Clicking on either button, I expect an email with instructions how to access a file containing my chat history.

### Actual behavior:

An email is never

[2018-06-11 13:18] KarlisVe commented on #839
Adding link to related Rocket.Chat forum topic for voting:   [Kerberos-LDAP](https://forums.rocket.chat/t/kerberos-authentication-ldap-single-sign-on/653/2)

[2018-06-11 14:24] kaiiiiiiiii commented on #11082
Hi @etyack,

this should be fixed with PR #10837 (Release 0.65.0). Are you sure you're on the latest release?

Cheers

[2018-06-11 14:30] etyack commented on #11082
Yes, I double checked since I found the issue you referenced before I submitted this issue.

According to the snap output:
erickt@wiki:~ sudo snap list
Name               Version    Rev   Tracking  Developer   Notes
core               16-2.32.8  4650  stable    canonical   core
rocketchat-server  0.65.1     1273  stable    rocketchat  -

And admin Info output.
![screen shot 2018-06-11 at 10 28 34

[2018-06-11 14:39] kaiiiiiiiii commented on #11082
Thanks for the quick reply @etyack :)

@Hudell You may want to have a look?

[2018-06-11 16:03] rafaelks opened #11088 "[BUG] List of channels sorts automatically on new messages"
### Description:

**Version:** 0.66.0-develop
**Server:** open.rocket.chat

The list of favorited rooms is sorting automatically on new messages even when the sorting is alphabetically.

Here's a GIF that demonstrates it:

![2018-06-11 12 59 36](https://user-images.githubusercontent.com/551004/41243109-bc21b96c-6d77-11e8-8bb3-e18f437eb831.gif)

[2018-06-11 16:34] guilhermecfviana commented on #11034
@engelgabriel Yes.

![clipboard - 11 de junho de 2018 as 13-32](https://user-images.githubusercontent.com/17053653/41244663-16883bd4-6d7c-11e8-9d4c-264679c1cc72.png)

[2018-06-11 17:20] HorlogeSkynet commented on #9580
Confirming this is still happening on the latest version, but not blocking the startup process.
This issue should be re-opened :+1:

[2018-06-11 17:32] ggazzo commented on #11088
the bug is just on favorite group with direct messages ordering by asc :)

[2018-06-11 18:05] filipedelimabrito opened #11091 "[BUG] Users without username on users.list REST API"
### Description:

**Version**: 0.66.0-develop
**Server**: open.rocket.chat

Some users are being returned without a username when using the `users.list` REST API.
Searching for `fili` for example, you'll see that the user `filipedelimabrito` hasn't username (that's incorrect).

Here is an image showing that:

<img width="966" alt="screen shot 2018-06-07 at 17 13 53" src="https://user-images.github

[2018-06-11 18:10] filipedelimabrito opened #11092 "[BUG] Unable to search for members with dot character on users.list REST API"
### Description:

**Version**: 0.66.0-develop
**Server**: open.rocket.chat

If I search for a username that has the dot (`.`) character on it, the users.list REST API does not return the user.
Just try to search for `filipe.brito` or `marcos.defendi`- the API doesn't work

[2018-06-11 18:12] rafaelks commented on #11092
@filipedelimabrito I think this is related to the `regex` being used to the search. Not sure how we should deal with it. @MarcosSpessatto Can you take a look please?

[2018-06-11 18:17] tassoevan commented on #10730
Hello, @Robert-turbo. Could you confirm that you've been requested to confirm the new password instead of the current one? I think the modal dialog you saw is like this:

![requesting the current password](https://user-images.githubusercontent.com/2263066/41249252-f7051eea-6d89-11e8-8588-ca39247a2d60.png)

We're currently requesting the old password for security reasons, but we`re working to confi

[2018-06-11 18:23] ggazzo commented on #10003
@timkinnane can you reproduce the problem? because I tried here again and again (and over some time), and looks good now...

[2018-06-11 19:36] Hudell commented on #10915
I recommend working on top of PR #10205 for any slack bridge changes, as it improved the code organization and is planned to be merged before the next release.

[2018-06-11 19:38] Ja12n opened #11094 "Simple Login with AuthToken"
I already generated the authToken for a user with the REST-API.
Is there a simple way of using that token for logging the user in?
For me the easyiest way would be to call a URI like https://rocket.chat/?token=12i93u12u83
Or sending the authtoken via POST. But the only method I can find is using "iFrame Authentication". I think this would be an overkill.

Am I missing something? My current softwar

[2018-06-11 20:16] ToferC commented on #10915
Thanks @Hudell - just figuring out our procurement rules (yay government) and then we'll re-post. It would be great to get an idea of scope of work. Being blunt, I'd like to put the bounty on this work, but our devs have just started to dig into the code.

[2018-06-11 20:52] #10745 closed

[2018-06-11 20:53] #8239 closed

[2018-06-11 20:53] #10713 closed

[2018-06-11 20:59] ggazzo commented on #10712
@LesterChester I will be closing this issue because actually its working (the  behavior is expected if you remove the background-color), as @vynmera we can improve how we render the sidenav but its the scope of this issue...
thanks for contribute all of you (:

[2018-06-11 20:59] #10712 closed

[2018-06-11 21:07] #10950 closed

[2018-06-11 23:42] Tinkerwolf commented on #533
I was about to install RocketChat to replace Discord... then I realized it used MongoDB... then I saw this... oh well... off to looking for another possible alternative.

[2018-06-12 03:12] #10905 closed

[2018-06-12 03:54] engelgabriel commented on #11078
I am closing this issue to track on Electron project.

[2018-06-12 03:54] #11078 closed

[2018-06-12 04:34] misi commented on #10931
@ChessSpider
Could you please describe your issue more here?
Or if you opened a separated issue then add the link here to the issue?

[2018-06-12 04:46] ChessSpider commented on #10931
Still the same issue as described here.. But I use urn uri  in saml and not
the symbolical name. When I'm at work I'll copy paste the full error.

At least we appear to have found an edge case for our unit test!

Op di 12 jun. 2018 06:34 schreef Mészáros Mihály <notifications@github.com>:

[2018-06-12 04:46] serviceman opened #11099 "rocketchat-katex giving errors on custom build. Missing files."
rocketchat-katex giving errors on custom build. Missing files. Meteor build fails every time.

While reading package from `/Rocket.Chat/packages/rocketchat-katex`:
fs.js:904:18: ENOENT: no such file or directory, scandir
'packages/rocketchat-katex/node_modules/katex/dist/fonts/'
at Object.fs.readdirSync (fs.js:904:18)
at package.js:24:29

[2018-06-12 06:08] ChessSpider commented on #10931
[code]

which equals to ['commonName'.](https://commons.lbl.gov/display/IDMgmt/Attribute+Definitions#AttributeDefinitions-commonNamecommonName)

I also saw the same error for this field:  http://www.alvestrand.no/objectid/0.9.2342.19200300.100.1.1.html

[2018-06-12 06:48] toughIQ commented on #10931
@ChessSpider this fix is scheduled for 0.66.0 late of June. Since this was a blocker for my installation too, I went from snap to docker installation and used a custom 0.64.2 image to which I applied the SAML fix manually.

[2018-06-12 06:50] ChessSpider commented on #10931
Cool. Thx. Guess I'll do that too then 👍

[2018-06-12 07:48] mydoghasworms opened #11100 "Failure to authenticate with LDAP"
### Description:

Server has been configured to perform authentication against an LDAP server. However, it does not seem that authentication is working. The server seems to expect that there must be an admin service user available. When trying to log on, a response as follows is given:

`User not found or incorrect password`

On the server log, the following entry appears:

`LdapErr: DSID-0C090752

[2018-06-12 08:38] kaiiiiiiiii commented on #11099
Hi @serviceman,

can you please try to run `npm run postinstall` before you start your build?

Thanks

Ref.: [8031#issuecomment-366939720](https://github.com/RocketChat/Rocket.Chat/issues/8031#issuecomment-366939720)

[2018-06-12 09:12] edzillion opened #11101 "Server is ignoring ROOT_URL env var after updating Site_URL via modal in RC"
### Description:

Found while trying to get hubot working with latest. at first hubot connected fine. When logging into RC from a URL that is different from the current ROOT_URL a modal pops up and prompts you to update the `Site_URL` which seems to be ROOT_URL (these should be homogenised).

After this point it is not possible to change the ROOT_URL when starting RC, or connect hubot.
...

### St

[2018-06-12 09:42] reinerj opened #11102 "Not possible to create new users"
### Description:

With the latest release we are not able anymore to create users. The option to create a new user is not longer there. We tried it with the desktop and the web app. We are using 0.65.1
### Steps to reproduce:

Go to administration
click on users

### Expected behavior:

The option to create a new user in the menu

### Actual behavior:

### Server Setup Information:

Version | 0.65

[2018-06-12 09:45] toughIQ commented on #10931
@ChessSpider I am sorry, but I did this quick and dirty and didnt save my Dockerfile.
But I pushed my image to DockerHub: https://hub.docker.com/r/toughiq/rocketchat/

`docker pull toughiq/rocketchat:0.64.2samlfix`

[2018-06-12 10:19] Robert-turbo commented on #10730
OK..

Translation is bad :)

![image](https://user-images.githubusercontent.com/25224292/41284762-86eddd16-6e3a-11e8-8384-0ab1962a74d4.png)

Wprowadź hasło ponownie - Enter password once again
Dla własnego bezpieczeństwa, należy ponownie wprowadzić hasło, aby kontynuować - For your security, you must enter password to continue.

So it implies that it should be new password :)

[2018-06-12 10:36] kremer-io commented on #2759
+1

[2018-06-12 11:37] kaiiiiiiiii commented on #11102
Duplicate of #10951, #10966, #10981 and #11077.

Will be fixed in the next release (#11049).

Work-a-round: Select an existing User and the menu will appear. After that you're able to add new Users.

[2018-06-12 11:48] tctovsli commented on #7681
0.65.1 still has this issue. Built from source.

[2018-06-12 12:10] sampaiodiego commented on #11091
hi @filipedelimabrito .. this is not a bug, the user `filipedelimabrito` does not have an username set.

this might happen due to our two step register process:

- first you register with an email and a password
- after that you can set your username

so the user can leave at this point and not set an username at all. leaving an user without username on the database.

[2018-06-12 12:10] #11091 closed

[2018-06-12 13:13] engelgabriel commented on #11101
Site_URL URL is persisted on the DB, and DB setting have the highest priority agains environment variables.

[2018-06-12 13:44] renatobecker commented on #11058
Hi @ Peterdalydickson!
Thank you for detecting this wrong behavior in Livechat's appearance. We're going to check what's happening when saving the data.

@joseftw, I suggest you create another issue because the case you are mentioning is not related to the Livechat feature.

[2018-06-12 13:47] sampaiodiego commented on #11091
they are not the same users.. as you can see the *name* of the user on REST response is `felipedelimabrito` .. this is his *name*, not his *username*.. so this is not the same user as you logged in..

[2018-06-12 13:48] sampaiodiego commented on #11091
another thing you can check is the user `_id`.. check the `_id` of the user you logged in.. you can open chrome dev tools and type: `Meteor.userId()` .. you'll see it is different from the one return on REST call

[2018-06-12 13:53] infroger opened #11104 "OTR cancellation option"
I've requested an OTR, the other person was away of the computer, and soon I realized it was not necessary anymore. It would be nice to have a way to cancel an OTR request while the other part hasn't noticed/acted-on it.

[2018-06-12 14:02] edzillion commented on #11101
Yet deleting the db has does not fix this issue.

[code]

I was very confused by this behaviour so I asked a friend, running some linux distro. He did the same, deleted the db, deleted the db folders etc. and then reinstalled and tried again; the URL shown is the one stuck from the original install.

[2018-06-12 14:09] wolbernd opened #11105 "Files List icon in private channels not visible when user is owner"
### Description:

When a user is the **owner** or a **moderator** of a channel (privat and public) the icon for "List files" (paper clip icon) is replaced with the "Add User" icon. The "List files" icon is also not shown in the burger menu.

### Steps to reproduce:

1. Create a channel or enter an existing private channel you are the owner of
2. upload some files (probably optional)
3. See no "Lis

[2018-06-12 14:31] #9562 closed

[2018-06-12 14:48] danieljhochman opened #11106 "Add permission to hide 2-factor authentication"
We don't want our users being able to use 2-factor authentication as we auto-log them in using tokens. Please add this to the list of permissions in the admin panel.

[2018-06-12 17:15] filipedelimabrito commented on #11091
@sampaiodiego There is nothing related to `felipedelimabrito` on the REST result. As you can see, I searched for `filipedelimabrito` and logged in the server with the user `filipedelimabrito` too. Also, give I try searching on our server for `felipedelimabrito`, this users does not exist (until now :D).

Where did you see the `fe...` instead of `fi...`? 🤔

[2018-06-12 17:21] engelgabriel commented on #4978
The documentation about Keycloak is going to be written.

Please follow https://github.com/RocketChat/docs/issues/790

[2018-06-12 17:22] engelgabriel commented on #10845
The documentation about Keycloak is going to be written. Please follow https://github.com/RocketChat/docs/issues/790 and fell free to help us :)

[2018-06-12 17:22] engelgabriel commented on #10420
The documentation about Keycloak is going to be written. Please follow https://github.com/RocketChat/docs/issues/790 and fell free to help us :)

[2018-06-12 17:27] filipedelimabrito commented on #11091
@sampaiodiego Also, I'm unable to get the id using the `Meteor.userId()` as proposed by you. Take a look:

<img width="417" alt="screen shot 2018-06-12 at 14 25 01" src="https://user-images.githubusercontent.com/11776825/41306433-84bb6b8c-6e4c-11e8-900d-2954c2da3c3c.png">

Is it that I really should do? Doesn't work.

[2018-06-12 17:38] filipedelimabrito opened #11108 "[BUG] Emails address is not show correctly"
### Description:

**Version**: 0.66.0-develop
**Server**: open.rocket.chat

When entering an email address on a chat it is displayed like that:

<img width="825" alt="screen shot 2018-06-12 at 14 35 50" src="https://user-images.githubusercontent.com/11776825/41306894-fa15f716-6e4d-11e8-94c7-958bfdface73.png">

Note: Not sure if related, but using the Safari browser.

[2018-06-12 17:49] anvlkv commented on #8251
@engelgabriel could you explain please how Keycloack is going to be helpful in this situation?

[2018-06-12 17:53] filipedelimabrito commented on #11091
@sampaiodiego I used our [Kotlin.SDK](https://github.com/RocketChat/Rocket.Chat.Kotlin.SDK) to get the user id for `filipedelimabrito` and it is `8WCaFa2Jve4FNjMYa` that is different from the response. By the way, why it is showing another id from the response, since there is only a username set up as `filipedelimabrito`?

I know that user can have identical names, but searching for `filipedelimab

[2018-06-12 18:12] geekgonecrazy commented on #11101
If you accept the dialog when you access it will keep changing it back every single time.

If you want to force the Site_Url to be what you pass in via the environment variable:

`OVERWRITE_SETTING_Site_Url=http://www.UPDATED_URL.com` and make sure when you access it, you access at that url.  If you access at: http://www.UPDATED_URL.com:3000 and then accept the changes when it prompts.. its updati

[2018-06-12 18:15] edzillion commented on #11101
To clarify: In this process I have only ever once accepted the dialog.

I will try the `OVERWRITE_SETTING_Site_Url` and see what happens. thanks

[2018-06-12 18:20] geekgonecrazy commented on #11101
Another thing is of course make sure there aren't some how multiple mongo running.  I see snap mentioned there as well as docker.  If you happened to at any point tried the rocketchat-server snap it also has mongo inside.  So could be possible wiping away a different mongo database.

I've had that happen in local testing and forgot I had rocketchat-server snap running.

[2018-06-12 19:03] #10422 closed

[2018-06-12 19:16] #11088 closed

[2018-06-12 19:41] filipedelimabrito commented on #11091
Yep! And if you are creating a channel and wants to add the user on it (searching for the user first), then it is better to user the `spotlight` or even the `directory` endpoint.

That's it!

[2018-06-12 19:46] tassoevan commented on #10730
Oh, I see. Do you want to [fix this translation](https://github.com/RocketChat/Rocket.Chat/#translations) or suggest a better one? Any help would be appreciated. :smile:

[2018-06-12 19:53] serviceman commented on #11099
I will try that. I managed to get it to build by removing the katex plguin. I have a general chat room and I don't think that plugin is of the most importance to my users anyway as it seems to do with math, etc. Thank you.

[2018-06-12 19:59] serviceman opened #11110 "What files do I need to edit to make these changes."
Rather than going through every files and doing some trial and error I hoped someone could lead me in the right direction. I need to make the following changes to the interface, what files do I need to edit to do this.

I need to add a "view profile" button on the User Info. I am integrating this into a community site I own and would like to link to their full profile. What file do I edit.

I also

[2018-06-12 20:05] kaiiiiiiiii commented on #11110
Hi @serviceman,

that's definitely something you should bring up in the Rocket.Chat Forum ([Link](https://forums.rocket.chat/)) or the Open Community Chat ([Link](https://open.rocket.chat/channel/dev)).

The GitHub Issue Tracker is, as it's name says, just for **issues** and the Rocket.Chat Team tries to keep it that way.

Thanks for your understanding,
Kai

[2018-06-12 20:08] mrsheldon opened #11112 "Discord custom oAuth (username field)"
So... I am trying to make "login with discord" button, everything seems to be alright BUT I don't know why to type in "Username field", I tried to search online and nothing... any ideas?

[2018-06-12 20:27] filipedelimabrito commented on #11092
End up using the `spotlight` endpoint that works fine with `.` character. But it's still a valid question.

[2018-06-12 20:54] rafaelks commented on #8448
Tried again this today... took me many tries until I got it right. There's no kind of JSON validation on the field and copying it from the documentation doesn't work because of hidden characters.

In case anyone wants to try the documentation JSON, here's one working:

[code]

[2018-06-12 20:54] vynmera commented on #10668
Oh yeah, I noticed when fiddling around with this that resizing the browser/client pops it back in place most of the time, so does calling its position handler manually
I didn't manage to find a fix, but maybe it helps?

[2018-06-12 21:41] vynmera commented on #8448
yeah, the documentation below it is garbage, it uses tabs which doesnt work

[2018-06-12 22:57] kaiiiiiiiii commented on #11112
Hi @mrsheldon,

Rocket.Chat does not copy the username from Discord, that’s why you need to enter a username.

Cheers

[2018-06-13 00:28] ura14h commented on #10248
Same issue? #10732

[2018-06-13 01:35] #11058 closed

[2018-06-13 02:17] thaiphv opened #11114 "Allow the Prometheus port to be configuration"
**Is your feature request related to a problem? Please describe.**
Currently the Prometheus port is hardcoded to `9100` which has already allocated to the `node_exporter` in https://github.com/prometheus/prometheus/wiki/Default-port-allocations

**Describe the solution you'd like**
The port should be configurable so that if someone also deploys a `node_exporter` on the same host, the server will s

[2018-06-13 04:45] mrsheldon commented on #11112
Hmmm wdym?

[2018-06-13 05:52] #5774 closed

[2018-06-13 05:53] geekgonecrazy commented on #5774
Closing per reason given above 🙂

[2018-06-13 06:40] yuanyong commented on #1680
@geekgonecrazy Is the react migration on the road map?

[2018-06-13 06:49] TheReal1604 opened #11116 "GDPR - Userdata zip-file is missing"
### Description:

Since the addition of the new gdpr features - I find several log lines in my RC logs where the user zip file could not be found.

### Steps to reproduce:

1. Try to generate a zip-file of your data as a user

### Expected behavior:

The zip-files should be generated.

### Actual behavior:

2018-06-13T06:35:07.317730869Z { Error: ENOENT: no such file or directory, stat '/tmp/zipFi

[2018-06-13 07:02] TheReal1604 commented on #11100
@mydoghasworms Logs to me like there is something wrong with your service account how performs the initial LDAP lookup. LDAP Authentication is working for me in 0.65.1 with 3k~ users.

[2018-06-13 07:49] TwizzyDizzy commented on #11116
Closing this, as it is a duplicate of #11082.

Cheers
Thomas

[2018-06-13 07:49] #11116 closed

[2018-06-13 07:57] TwizzyDizzy commented on #11110
Closing this, as @kaiiiiiiiii is perfectly right with his assertion.

Cheers
Thomas

[2018-06-13 07:57] #11110 closed

[2018-06-13 07:57] Paulpatou opened #11117 "Custom sound notifications per user or user group"
Hi

**Is your feature request related to a problem? Please describe.**
When I receive a message from a particular person I would like to be able to set a specific sound to him

**Describe the solution you'd like**
I wanted to know if it was now possible to set a specific notification sound when a user posts a message? For example, to differentiate between users and Bots.

**Describe alternatives y

[2018-06-13 08:00] TwizzyDizzy commented on #11102
Closing this. @kaiiiiiiiii said it all :)

Cheers
Thomas

[2018-06-13 08:00] #11102 closed

[2018-06-13 08:06] mydoghasworms commented on #11100
@TheReal1604 I am not using a service account. Why do I need to?
What is the purpose of the service account? Surely you just want to check that you can bind to the LDAP with the given credentials. That should suffice to authenticate an LDAP user. And then copy their details (as I assume a user has at least read access to their own data like email, name etc.)
Besides, the service user details under

[2018-06-13 08:13] janrudolph opened #11118 "Auto-hide livechat room on close"
### Expected Behaviour

When closing a livechat room, the room should be removed from the room list in the left sidebar. This option was available in past releases.

### Actual Behaviour

Livechat rooms are not removed when closing a room. It does not matter if you close the room via the Smarti widget nor the info panel.

### Steps to Reproduce

1. Open new Livechat
2. Write anything
3. Close room

[2018-06-13 08:17] moonwolf-github commented on #11100
It works for me without service account.

[2018-06-13 08:29] jirip opened #11119 "RocketChat icon improperly drawn in left bar"
After update to v2.11.0 there is ugly rocketChat icon duplicates drawn in the left bar. Sometime they flicker and depending on window size there can be more with the same spacing.
I'm running Win10 x64
![capture](https://user-images.githubusercontent.com/3797263/41339268-afacba14-6ef4-11e8-8055-fc4565037cff.PNG)

[2018-06-13 08:31] duckle commented on #11079
experiencing the same issue

[2018-06-13 08:33] Maqsyo commented on #11119
It's the fault of the Electron-App

Duplicate:
https://github.com/RocketChat/Rocket.Chat.Electron/issues/744

Please close this issue

[2018-06-13 08:33] huiminzeng commented on #10792
Hello @MarcosSpessatto . I have done a lot of tests recently. And i can't reproduce this error either. Currently, it seems that everything works really fine! Thus, I think this issue should be closed.

Thank you very much.

[2018-06-13 08:33] #10792 closed

[2018-06-13 08:39] jirip opened #11120 "automatically move cursor to search field when search button is clicked"
I'm always frustrated when I want to search a conversation. I click the search button, write my query, hit enter, and find out i didn't do any search but send the query as a message instead.

One click on the search button should be enough to search, but in fact you need two, one click on search button and one click to move cursor into the search field.

More intuitive and easy would be similar be

[2018-06-13 08:39] diggamies commented on #9319
Rocket.Chat Version 0.65.1 has the same issue on Mac OSX app 2.11.0.

[2018-06-13 08:39] #11119 closed

[2018-06-13 08:44] phillipplum commented on #11082
We are unable to Download or Export My Data, too. But in our logs, are no error messages.

Here are the only lines:
[code]

[2018-06-13 09:41] eszeus opened #11122 "Delete Chat History in all rooms after x days"
Hello,

I already searched and read all the topics about other users who encountered the same problem, and wants the same thing: Delete the chat history of all public and private rooms after x days.

I tried it with a cronjob script, but the script isnt working for me, sadly.

Is there anybody who could help me out on this? ;)
Using this script right now, but jq is giving me an error.
[rocketchat_

[2018-06-13 09:55] eszeus opened #11123 "Snap auto ssl with caddy does not work"
### Description:

We are using a subdomain to connect to our rocket.chat
sub.domain.com points to our PUBLIC IP:3000, which is redirected via NAT to our internal LOCAL IP:3000.
After enabling caddy with auto ssl, it just doesnt redirect to https and if I try to use https, it shows an error in webbrowser.

My caddy file looks like:
**sub.domain.com
tls self_signed
proxy / localhost:3000 {
   websoc

[2018-06-13 10:03] vynmera commented on #11122
You can use `rooms.cleanHistory`, as a REST API call.

[2018-06-13 10:59] eszeus commented on #11122
@vynmera How do I do this? Sorry for asking :D

[2018-06-13 11:45] vynmera commented on #11122
@eszeus Have a look here: https://rocket.chat/docs/developer-guides/rest-api/rooms/cleanhistory/

Basically, send a POST request to (your server)/api/v1/rooms.cleanHistory, with content:
[code]
You can automate this for all channels, just set latest to X days ago, and oldest to something really long ago (e.g. 1970), and loop through your channels with it.

[2018-06-13 12:06] mfa777 opened #11125 "Server list shows double ICON on Rocket.chat+ v2.11.0"
### Description:
After updating Rocket.chat+ PC client to 2.11.0, server list shows double icon of chatting server.

### Steps to reproduce:

1.  uninstall old version.
2. install new version 2.11.0
3. Click 'veiw' -> 'Toogle server list'

### Expected behavior:
Only one icon is showed.

### Actual behavior:
Double icons are showed.

### Server Setup Information:

- Version of Rocket.Chat Server:

[2018-06-13 12:08] kaiiiiiiiii commented on #11125
This is not a problem with the server component, it’s an Electron client problem.

An issue in the Electron repo is already existent (RocketChat/Rocket.Chat.Electron#744)

[2018-06-13 12:10] xxmoC commented on #11017
Any update?

[2018-06-13 12:12] #11125 closed

[2018-06-13 12:53] mydoghasworms commented on #11100
@moonwolf-github Thanks for the suggestion. I tried setting that switch in the Authentication tab on, but the logon still fails. I get the following in the log:

[code]

[2018-06-13 13:09] eszeus commented on #11122
@vynmera is there a way to make this automatically and in general for all channels? without doing this for each channel.

Sry for all my questions ;)

[2018-06-13 13:13] joseftw opened #11126 "Settings does not save"
### Description:
When updating a setting, it is not persisted.

### Steps to reproduce:

1. Go to Preferences
2. Change Offline Email Notifications to Disabled
3. Click Save Changes

### Expected behavior:

The Offline Email Notification setting should be Disabled

### Actual behavior:

The Offline Email Notification setting is not Disabled.
![rocketchat](https://user-images.githubusercontent.com/

[2018-06-13 13:29] kkovrizhenko opened #11127 "Mobile Web Browser - Preferences: text overlaps fields/controls all over the screen."
### Description:

### Steps to reproduce:

1. Go to Rocket Chat using Mobile web browser (or simulator fo relevant screen size)
2. Navigate to My Account - Preferences sreen

### Expected behavior:

Elements on the screen do not overlap each other.

### Actual behavior:
Mobile Web Browser - Preferences: text overlaps fields/controls all over the screen.
Screen below is taken from Iphone X.
![2018-

[2018-06-13 13:33] antgel commented on #11122
Please take this offline, perhaps to one of the various RC support channels / forums. GitHub Issues are for reporting bugs and feature requests.

[2018-06-13 13:33] #11122 closed

[2018-06-13 13:35] Leen15 commented on #5481
@sampaiodiego any eta here?

[2018-06-13 13:36] kkovrizhenko opened #11128 "Mobile Web Browser: Emoji picker is not in viewport when opened (Iphone)"
### Description:

### Steps to reproduce:

1. Go to Rocket Chat using Mobile web browser (or simulator fo relevant screen size)
2. Open any DM or chat room
3. Click on Emoji icon in the input area

### Expected behavior:

Emoji picker is opened

### Actual behavior:
Emoji picker is not visible, hidden under left side of the screen
![2018-06-13_1632](https://user-images.githubusercontent.com/919704

[2018-06-13 13:41] eszeus commented on #11122
@antgel isnt this a feature request, too`?
As much as I saw, way too many people requested this feature to be implemented.
So to help people out who are searching the same issue, its not bad to have proper explanation about how we can achieve this.

Closing this instantly is kind of censorship, specially if no link/url is provided where this should continue...

Well, thanks antgel.

[2018-06-13 13:44] antgel commented on #11122
Looks like a support request to me ("Is there anybody who could help me out on this? ;)"). Feel free to open a Feature Request using the [template](https://github.com/RocketChat/Rocket.Chat/issues/new?template=feature_request.md).

The project has 1811 open Issues which is extremely difficult to manage, hence the triaging.

[2018-06-13 14:31] kaiiiiiiiii commented on #11122
@eszeus There're already a bunch of requests related to this feature. Please don't open a new one :)

#2355, #3528, #7151, #7011, #8321, ...

[2018-06-13 14:41] arminfelder commented on #9349
my migration script is now working...

[2018-06-13 14:44] dmeier86 commented on #7706
this is really pain in the ass...
tryed to build a HA-scenario via docker and finally getting to the point that this is not possible atm is frustrating.
here's my forum-topic in which i've described my process until this issue is in my way.

so: i'm pushing this one and hope there's someone out there... ;)

[2018-06-13 16:07] undr3ad opened #11130 "On desktop app, groups with large messages are slow"
I have some groups with external reports through hooks. In these groups is common messages with 15000+ characters, and it looks to be slowing down the app when interacting with these groups.

[2018-06-13 16:30] acinader commented on #7706
@dmeier86 I solved this for our deployment on Amazon Web Services Elastic Beanstalk with a truly nasty hack.

Here's how I did it.

1. create your own docker file and copy in the existing rocketchat docker file.

2. edit the file so that the end of the file looks like this

[code]
3. Create a file `./run.js`

[code]

So what does this nasty, nasty hack do?  When the container is built, the docker

[2018-06-13 17:03] rasos commented on #8460
Issue is still open in RC 0.62 - upload of mp3 custom sound files only possible with Chromium, not with other browsers.

[2018-06-13 17:24] lhhong opened #11131 "No permission policy available to access getRoomIdByNameOrId() when not a member"
### Description:

I was trying to get an "admin" bot to join a private room and subscribe to messages. I am using driver.joinRooms() method from Rocket.Chat.js.SDK. The call failed when accessing getRoomIdByNameOrId(). This is done with [add-user-to-any-p-room] permission enabled for this user, which should allow any user to be added to a room. This (although still fix in progress #11010) however,

[2018-06-13 17:38] renatobecker commented on #5481
Hi @Leen15. As you can see here -> #10301, the review process is complete and it will be released in 0.66.
Thanks.

[2018-06-13 17:40] Leen15 commented on #5481
Great thanks!

[2018-06-13 17:49] vynmera commented on #8460
Yep, broken in FF here too, always have to switch to Chromium for it. FF also seems to not pick up the requested mimetypes - the file picker shows all file types by default.

[2018-06-13 17:54] #7372 closed

[2018-06-13 17:57] #10668 closed

[2018-06-13 17:59] tarator commented on #10149
Same here on a fresh install (docker) Version 0.65.1

    rocket_1  | Exception while invoking method 'verifyEmail' MongoError: The positional operator did not find the match needed from the query.
    rocket_1  |     at Function.MongoError.create (/app/bundle/programs/server/npm/node_modules/meteor/npm-mongo/node_modules/mongodb-core/lib/error.js:31:11)
    rocket_1  |     at toError (/app/bundle

[2018-06-13 18:21] MarcosSpessatto commented on #11092
@rafaelks Yes, this is related to the `regex`, to search using `regex`, you must escape the dot, like this `filipe\\.brito`.

[2018-06-13 18:27] rafaelks opened #11133 "[BUG] Directory sorting by createdAt doesn't work correctly"
### Description:

When sorting **channels** or **users** by `Created at` option, it returns the results not in this order.

![2018-06-13 15 25 44](https://user-images.githubusercontent.com/551004/41370513-3a45532e-6f1e-11e8-9639-96b71df5bee7.gif)

[2018-06-13 18:32] rafaelks opened #11134 "[LAYOUT] Directory label is cutting for channels names and usernames"
### Description:

![screen shot 2018-06-13 at 15 28 36](https://user-images.githubusercontent.com/551004/41370818-fe3d3fee-6f1e-11e8-8e5b-d7659b814347.png)

![screen shot 2018-06-13 at 15 35 08](https://user-images.githubusercontent.com/551004/41370964-67d4d19c-6f1f-11e8-98b1-79d13cb6eeff.png)

[2018-06-13 19:05] rudineirk commented on #10694
Just so you guys know, I updated this week to the version 0.65.1, the error stopped happening. Not sure what changed, but it solved the problem.

If you want to investigate further, I recommend testing on version 0.64.1, but feel free to close this issue.

[2018-06-13 19:07] ggazzo commented on #10421
@muhv7 create buttons isnt a problem, the problem is what the button will do :x

[2018-06-13 19:17] tassoevan commented on #10604
I've tried to exploit the current version without success, but I think there is room for improvement. Only double quotes are properly escaped; single quotes not, as well other special characters. A typo squatting XSS can occur if some HTML attribute is delimited by single quotes.

[2018-06-13 19:39] geekgonecrazy commented on #1680
Its on the roadmap I believe.  I don't know about timing.

@ggazzo might be able to speak to projected roadmap or if it still is on roadmap :smile:

[2018-06-13 20:05] Hudell commented on #11082
![](https://github.trello.services/images/mini-trello-icon.png) [Error when downloading or exporting data](https://trello.com/c/MhzJKukS/1-error-when-downloading-or-exporting-data)

[2018-06-13 20:06] Hudell commented on #8474
![](https://github.trello.services/images/mini-trello-icon.png) [HipChat Cloud import fails (rooms -> channels)](https://trello.com/c/P8AchUVy/2-hipchat-cloud-import-fails-rooms-channels)

[2018-06-13 20:11] earlgrei opened #11137 "LiveChat with Guest Pool Routing no popup notification at end user. Only a sound based Ding"
### Description:

We deployed LiveChat to our site, as part of the testing when an incoming chat request is made the Agents desktop application 'Dings' but does not create a Toast style notification (all windows agents).  The audible ding is there so the desktop client knows that something is occurring but not what it is.  I have modified notification settings for the user as well and that has not

[2018-06-13 20:43] Hudell commented on #4241
I'll close this due to inactivity. If anybody runs into this problem again, the issue can be reopened.

[2018-06-13 21:02] imeleges commented on #6719
Unfortunately, it is the same problem on 0.65.1

[2018-06-13 21:34] wemu opened #11140 "POST to /api/v1/login takes very long (> 8 seconds)"
### Description:

We use a plugin in our forum to display the online users in a chat channel. It uses the rest api to retrieve its information.

We noted the POST call to /api/v1/login with username and password takes around 10 seconds. Which makes some refreshes very slow. The logs show no errors or other indications that something is wrong. The rocket.chat was setup only a month ago using the do

[2018-06-13 22:12] #11007 closed

[2018-06-13 22:48] rafaelks opened #11141 "[REGRESSION] channels.members is returning ~7500 results even when count is 50"
### Description:

[code]

[2018-06-13 23:01] martinszy opened #11142 "Privacy warnings for android push gateway"
For those of us that care about privacy, this page should warn about what the implications are of using a push bridge.
Also the settings page on this, seems to be aware that displaying messages in notifications is a privacy issue, but only related to people with physical proximity to the device.
Handing over the data to an external company is not addressed in the page, plus the possiblity of the i

[2018-06-13 23:42] ggazzo commented on #10694
thanks @rudineirk so I will close this issue, any problem please open again

[2018-06-13 23:42] #10694 closed

[2018-06-14 00:28] ggazzo commented on #11141
we are not running under develop branch we are running over here https://github.com/RocketChat/Rocket.Chat/pull/10749
please make a review/comment there.

[2018-06-14 00:28] #11141 closed

[2018-06-14 03:56] mrsimpson commented on #7706
@acinader thanks for figuring this out.
@RocketChat/core is this a workaround which could - in a less hacky way - be integrated to some `startup`-code?

[2018-06-14 04:15] SnehaDoughnut opened #11143 "LDAP REST API"
I am trying to automate LDAP configurations in one of my shell scripts. I am unable to find the REST API relating to it.

[2018-06-14 04:22] mydoghasworms commented on #11100
What I don't understand is that the description for the first option on the first section, where you enable LDAP integration, is "Attempt to utilize LDAP for authentication".
So, as I understand, providing the details in the first section should be sufficient to allow users logging in to be authenticated against the LDAP. All the other options are, and should be, optional.

[2018-06-14 04:28] geekgonecrazy commented on #7706
Personally anytime I have this I add something like: `INSTANCE_IP=$(hostname -I)`

[2018-06-14 04:28] mydoghasworms commented on #10493
@iconist Did you manage to resolve the issue? It seems I may have logged a duplicate with issue #11100. I get the same message in the log. From my understanding, pointing to the LDAP server should be all to configure LDAP authentication. Someone else on my issue confirmed they did not have to configure a service user. I get the same message in the log as you.

[2018-06-14 05:11] mydoghasworms commented on #11100
Welll, I finally got it working, but I had to use a service user :disappointed:

@moonwolf-github Does your LDAP allow anonymous bind for read, or how is your setup different?

Again, I cannot understand the purpose of the service user, or why it is needed, especially when it is an optional configuration setting. To my mind:

1. Rocket.Chat should use the credentials of the person logging on to bi

[2018-06-14 05:27] mkwong04 commented on #11118
I found that there are 2 updates on the **Subscriptions** model, which overwrite the value of "open" depends on the sequence of call

1. packages/rocketchat-livechat/server/lib/Livechat.js
setting the "open" to false (hide the closed livechat room)
[code]
2. imports/message-read-receipt/server/hooks.js
setting the "open" to true, when setAsReadByRoomIdAndUserId() is invoked during "afterSaveMessag

[2018-06-14 06:05] consi opened #11144 "Exception in defer callback: RangeError: Maximum call stack size exceeded"
### Description:

Rocket.Chat periodically shows stack trace like this:
node[28740]: Exception in defer callback: RangeError: Maximum call stack size exceeded
node[28740]:     at appendToResult (/home/rocketchat/rocket.chat-0.65.1/programs/server/packages/minimongo.js:1390:14)
node[28740]:     at /home/rocketchat/rocket.chat-0.65.1/programs/server/packages/minimongo.js:1396:5
node[28740]:     at /

[2018-06-14 06:34] mydoghasworms opened #11145 "User IDs still showing as "[user id] is typing..." and elsewhere even with "Use Real Name" setting on"
### Description:

After setting the "Use Real Name" setting on under Administration > Layout > User Interface, there are still places where the user ID, rather than the name is being displayed:

These include:

* When a user in a channel is typing
* When a user makes changes in a channel, e.g. sets the topic

### Steps to reproduce:

1. Enable the "Use Real Name" setting
2. Note that the user name

[2018-06-14 06:43] vynmera commented on #11145
Yes!!! My team has generated usernames that don't correlate to people's real names, so typing indicators are just a bit confusing unless you know what their username is.

[2018-06-14 06:46] prostofirma opened #11146 "Do not download users from Active Directory"
Good afternoon! Prompt, please, already tried everything ... Connection and synchronization are successful, and users from Active Directory are not added

Installed:
Debian 9.4
rocket chat 0.65.1

First time users mixed with groups somehow booted. In the settings, I manually uninstalled unnecessary users.

Now users do not download at all. I tried to create a group:
CN = RocketChat, OU = RocketCha

[2018-06-14 07:01] edzillion commented on #11101
I am gonna close this because I wasn't able to recreate again.

There is one bug here though - surely Site_URL should not include port number? But if you connect via a port it will ask to change Site_URL to include that port.

[2018-06-14 07:01] #11101 closed

[2018-06-14 07:08] moonwolf-github commented on #11100
Well yes, i can read from LDAP server anonymously (not everything of course - passwords for example are only for authenticated users).

[2018-06-14 08:47] lenriqel commented on #10278
Having the same problems.
Slack import 7MB size. With premium features - direct messages and private channels.
Import goes fine to 1500/80000, then exits with success status. Resulting in only public channels and users being imported.

[code]

Server Setup Information:
 - Version of Rocket.Chat Server: 0.65.1
 - Operating System: Ubuntu 16.04
 - Deployment Method(snap/docker/tar/etc): snap
 - Numb

[2018-06-14 09:32] tarator commented on #10548
Still getting the same error on version 0.65.1 (fresh docker installation. Installed today.)

    rocket_1        | Exception while invoking method 'verifyEmail' MongoError: The positional operator did not find the match needed from the query.
    rocket_1        |     at Function.MongoError.create (/app/bundle/programs/server/npm/node_modules/meteor/npm-mongo/node_modules/mongodb-core/lib/error.j

[2018-06-14 09:55] tarator commented on #10149
Maybe there is something wrong with the link in the mail itself. My mailserver is also complaining, that there is no From-Header set in the mail (other notification mails from rocketchat work correctly (see Header `X-Amavis-Alert`.

Anonymised RAW-Email sent by rocketchat instance:

    Return-Path: <>
    Delivered-To: georg@example.com
    Received: from somesome.myserver.com
            by some

[2018-06-14 09:59] tarator commented on #10149
**I think I found the problem**: It's the `=` sign in the verification link.
Some mail-clients use this sign as a line-break.

They transform the link which should be
`https://rocket.myserver.com/login/#/verify-email/xxxxxxxsnxAASoj=qiHiUXBznUZZxxxxxx`

into the following link:

`https://rocket.myserver.com/login/#/verify-email/xxxxxxxsnxAASojqiHiUXBznUZZxxxxxx`

which breaks it.

[2018-06-14 10:05] o-jans opened #11147 "Channels/Private Groups/Direct Messages disappear after beeing added to Favorites"
### Description:
Channels, Private Groups and Direct Messages disappear after beeing added to Favorites. Only after a reload they suddenly appear again.

### Steps to reproduce:

1. Go to a Channel, Private Group or Direct Message.
2. Click on the star for Favorites.

### Expected behavior:

The new favored Channel, Private Group or Direct Message should be shown instantly under Favorites.

### Ac

[2018-06-14 10:21] vynmera commented on #11147
Duplicate of #10927
I believe it's fixed, but I'm not sure, try the latest `develop`?

[2018-06-14 10:29] poikilotherm commented on #11105
This is also an issue when the user is set as "moderator" of a channel. "leader" is not affected.

[2018-06-14 10:38] forkedjensh commented on #11105
This issue is also present in public channels.

[2018-06-14 10:42] qasim-arbisoft commented on #10510
I still see the error on 0.65.1

![image](https://user-images.githubusercontent.com/23377048/41407641-743e4e02-6fe9-11e8-88ad-5ed72925050b.png)

Is there a fix via configuration?

[2018-06-14 10:55] flayks commented on #9349
@arminfelder yayy! Thanks man, it works like a charm. Saved in my MongoDB database half a gig of blobs and transformed it to actual files 💪

[2018-06-14 10:57] wolbernd commented on #11105
Updated description with new info from @poikilotherm and @forkedjensh

[2018-06-14 11:06] vynmera commented on #10510
@qasim-arbisoft Have you tried changing Primary Darkest?

Administration → Layout → Primary Darkest
Check its setting, if it is invalid the background of the Search field will be transparent. This is working as intended~

[2018-06-14 11:13] kaiiiiiiiii commented on #11147
//CC @TwizzyDizzy It's a duplicate as @vynmera said :)

[2018-06-14 11:37] sinteur opened #11148 "#general keeps getting recreated."
That's an information leak I want to get rid of since it auto-joins every user there. I keep deleting it...

[2018-06-14 12:31] vynmera commented on #11148
@kaiiiiiiiii Possibly also a dupe of #7692 and #10182~

[2018-06-14 12:33] mydoghasworms commented on #11145
Also just found out that when you reply on a message, even though on the original message it shows the user name, on the reply it will show the user ID.

[2018-06-14 13:09] Hudell commented on #10149
Hey @tarator, Glad you figured that out! It doesn't seem to be the same bug that the others are having, but I'll look into it.

[2018-06-14 13:16] kkovrizhenko opened #11149 "Menus (message action menu and room action menu) opens in left top corner when opened for the first time or after reload. Reproducible for all browsers, not stable."
### Description:

### Steps to reproduce:
1. Open browser not in full screen
2. Open any chat
3. Click message action button or room action button

### Expected behavior:

Menu popover is opened under/above clicked button

### Actual behavior:
Menus (person’s menu and chat menu) opens in left top corner when opened for the first time or after reload. Reproducible for all browsers, not stable.
![20

[2018-06-14 13:44] piotrkochan commented on #2717
I think the same. @graywolf336 please consider reopen

[2018-06-14 14:09] tassoevan commented on #10069
As a workaround, you can go to `Administration` > `General` > `UTF8` and change `UTF8 Names Validation` to `[0-9a-zA-Z\u0600-\u06FF-_.]+`. However, there are known issues that we are trying to fix/improve now, like URLs and avatars.

[2018-06-14 14:17] graywolf336 commented on #2717
@piotrkochan and @odk- actually, the documentation is out of date. You can create incoming integrations:

https://github.com/RocketChat/Rocket.Chat/blob/bcbb97bf02564d635fb0ab47168e3927276629da/packages/rocketchat-api/server/v1/integrations.js#L23-L36

[2018-06-14 14:22] robertwessen commented on #11149
same issue here, appeared after 0.65.1 upgrade.

[2018-06-14 14:37] kaiiiiiiiii commented on #11149
Duplicate of #10668, will be fixed in next release by PR #11113

//CC: @TwizzyDizzy

[2018-06-14 14:41] kaiiiiiiiii commented on #11148
@vynmera Yipp, those are dupes as well. @TwizzyDizzy We should keep #3870 and close all the others :)

[2018-06-14 14:49] tassoevan commented on #10922
Please, feel free to open a pull request targeting the `develop` branch with the suggested description.

[2018-06-14 14:51] Hudell commented on #11148
Duplicate of #3870

[2018-06-14 14:51] #11148 closed

[2018-06-14 14:51] Hudell commented on #7692
Duplicate of #3870

[2018-06-14 14:51] #7692 closed

[2018-06-14 14:53] Hudell commented on #10182
Duplicate of #3870.
While the description is not exactly the same, the solution proposed there will fix the problem. I'll add a note there to make sure we test this.

[2018-06-14 14:53] #10182 closed

[2018-06-14 14:53] tassoevan commented on #10069
Related to #1566.

[2018-06-14 14:55] Hudell commented on #3870
As per the description of #10182, once the issue is fixed we need to test LDAP Import to make sure it isn't recreated there too.

[2018-06-14 14:57] graywolf336 commented on #11149
Duplicate of #10668, closing.

[2018-06-14 14:57] #11149 closed

[2018-06-14 14:58] sampaiodiego commented on #3151
This is being done by #10978

[2018-06-14 15:13] engelgabriel commented on #2430
Hi guys, we will merge this PR that covers adding a new protocol for encryption https://github.com/RocketChat/Rocket.Chat/pull/10094

[2018-06-14 15:13] #2430 closed

[2018-06-14 15:22] rahul-meena commented on #7037
i am having this issue too , the newly registered user don't have a username and unable to login .

[2018-06-14 15:23] sampaiodiego commented on #3209
With the upcoming release of our Rocket.Chat Apps framework. I think this is more fitting as a Rocket.Chat App message parser.

Please feel free to post your Rocket.Chat App idea to our [forum](https://forums.rocket.chat) so maybe someone(even you) can create it.

[2018-06-14 15:23] #3209 closed

[2018-06-14 15:35] #5481 closed

[2018-06-14 15:36] engelgabriel commented on #2787
For encryption at rest we have the 2 options:
- Encrypted Storage Engine in version >3.2 and Available in MongoDB Enterprise only. https://docs.mongodb.org/manual/core/security-encryption-at-rest/
- LUKS for Linux - third party encrypted-volume solutions as that article suggests https://www.digitalocean.com/community/tutorials/how-to-use-dm-crypt-to-create-an-encrypted-volume-on-an-ubuntu-vps

The

[2018-06-14 15:36] #2787 closed

[2018-06-14 16:25] cardoso opened #11151 "[BUG] /api/v1/directory pagination not working properly"
[code]

You can see in the query I ask for 50 result, offset by 100, the total is 490, but it comes empty

[2018-06-14 17:39] rasos commented on #3104
@sampaiodiego Is there already an issue for "invite people to private groups"? We may be able to look at or contribute to specific use cases (oauth login etc) or contribute to the wording for the invitations (we do have some tweaks already).

[2018-06-14 17:48] engelgabriel commented on #2869
Here are the screenshots of what we are developing.

![image](https://user-images.githubusercontent.com/1000217/41428144-98035a08-6fdf-11e8-900c-d1e7f592cfdf.png)

![image](https://user-images.githubusercontent.com/1000217/41428161-a12c2dbc-6fdf-11e8-8d2d-10f3e62c79bb.png)

Since this a sensitive feature, we will be releasing it as one of our first Rocket.Chat Apps available via our marketplace ne

[2018-06-14 17:48] #2869 closed

[2018-06-14 17:56] rajsardhara commented on #2869
Sensitive Feature 🤔 🤔

[2018-06-14 18:03] engelgabriel commented on #2869
I forgot to say, if you want to be updated when it is available and are interested on being beta testers, please send an email to contact@rocket.chat

[2018-06-14 18:21] engelgabriel commented on #2869
@rajsardhara sorry for the short "Sensitive Feature", let me elaborate.

We always thought that since all the msgs were available on the DB, that this would be already enough for most use cases. But, as this thread here shows, it was clear not the case and so we proposed that we were going to build that feature in the admin panel.

Then we received a lot of feedback from the community explaining t

[2018-06-14 18:33] ggazzo commented on #11151
https://github.com/RocketChat/Rocket.Chat/commit/ee06a917a287d8158dd6f9cc5f67acab79ec061c#diff-38c1290c93fb7eabfad5d3cd563f36d1R157

[2018-06-14 18:33] osfunapps commented on #7339
does someone solved this?

[2018-06-14 18:56] sadkins76 commented on #2869
I LOVE the way this is looking.  Not sure how I feel about the monetization of an app to add functionality that should be part of the program to begin with.  I really have no issue paying for the functionality, but please, for the love of all that is holy, make it a flat rate fee.  Not another subscription?  PLEASE?

I don't understand the issue people have with an ADMIN seeing conversations, espe

[2018-06-14 18:57] #10739 closed

[2018-06-14 18:58] tassoevan commented on #6719
@rodrigok @sampaiodiego Any update? #7454 and #8318 seem to be related to this.

[2018-06-14 19:00] qasim-arbisoft commented on #10510
Thanks @vynmera . It's fixed now!

[2018-06-14 19:03] MartinSchoeler commented on #11147
Closing this since is a duplicate

[2018-06-14 19:03] #11147 closed

[2018-06-14 19:15] vynmera commented on #2869
Looking very good, count me in!
On the topic of monetization: it's not a bad idea at all. However, we should always be wary of greed, and make sure we don't restrict access to basic features (unlike Mattermost, in which a basic permission system is already paid). Furthermore, we should inform users beforehand on the website what features are paid and what aren't!

@sadkins76 Well, I suppose the id

[2018-06-14 19:15] engelgabriel commented on #2869
And also for clarity, ALL the messages are stored on the DB, so they can be searched and viewed by the sysadmins and DBAs.

Regarding the edited msgs, there is a setting in the admin panel that when turned on, will save all version of the messages on the DB also.

@sadkins76 in a corporate environment most people agree with you, but on other environments, people seems to disagree :)

[2018-06-14 19:17] engelgabriel commented on #2869
@vynmera indeed the topic of monetisation is a delicate on, but very import for the continuity of the project, so we will get the community input on this to make sure we aligned.

[2018-06-14 20:05] Hudell commented on #10915
Once that PR is merged, it might just be a matter of creating two instances of the SlackAdapter. I'll run a test here to check if it would handle two slack bridges properly, in which case the only development needed would be an interface to configure multiple slack servers.

The other issue looks like a simple UI bug, I'll get it fixed as well.

[2018-06-14 20:16] gt50 commented on #2869
When I created this issue, I never realized that it would be such a divisive subject among some users. This sort of functionality has been in place for many messaging applications that could be self-hosted for longer than I have been involved with technology (20+ years).

Regarding public servers, someone owns the server and is paying for it. If it is not the admin, the admin has been appointed by

[2018-06-14 21:41] ggazzo commented on #10604
I think we dont have this problem anymore, if you find any away to inject js/css please let us know

[2018-06-14 21:41] #10604 closed

[2018-06-14 21:45] #8904 closed

[2018-06-14 21:47] dontbesalty opened #11153 "Broken Server Menus - Blank Chats - Freezing"
### Description:

Office of 40+ using Rocket.Chat. Only one user has this issue. Server List is showing duplicates of Rocket.Chat server.

![clipboard - june 14 2018 5-25 pm](https://user-images.githubusercontent.com/2824229/41440038-02be04fe-6ffb-11e8-85d7-1fea5201dc6f.png)

Unable to reproduce on other PCs

[2018-06-14 22:06] ggazzo commented on #10003
@timkinnane I will be closing this issue because I could't reproduce and I think its fixed, any problem please open again

[2018-06-14 22:06] #10003 closed

[2018-06-14 22:08] ggazzo commented on #10136
@gcommit problem solved?

[2018-06-15 00:37] filipealva opened #11154 "[BUG] /api/v1/users.updateOwnBasicInfo not working properly"
When trying to set a username for a new user on a server with `customFields` enabled the API is returning the following response:

[code]

The problem is: It says that the request has failed (`success: false`) but it's a false positive because the username is actually set, so the request has updated the user info and so it was successful.

[2018-06-15 07:07] gcommit commented on #10136
I don‘t know. I updated my Safari and also the rocket.chat to get rid of this. With an update, it works, yes

[2018-06-15 07:43] siberijah commented on #10979
As I've posted above, clearing NULLs worked for me, but there is another issue. One user still cathes an error, the same mongo error with NULLs but his profile changes and everybody can see it. No Nulls in mongo btw. Is it a bug or what?

[2018-06-15 07:49] siberijah opened #11155 "Error changing profile username (login)."
### Description:

Error changing username (login). As I can see, it was fixed  in version 0.39.0 ( https://github.com/RocketChat/Rocket.Chat/issues/3940 ) But still present in version 0.65.1 for all users.

### Server Setup Information:

- Version of Rocket.Chat Server: 0.65.1 (latest by this date)
- Operating System: debian 9
- Deployment Method(snap/docker/tar/etc): tar/pm2
- Number of Running I

[2018-06-15 08:10] timkinnane commented on #10003
Yep, not having issues in FF now but I haven't used it much, will reopen if it comes back. Thanks.

[2018-06-15 09:01] monspid commented on #11153
We have the same problem with server version 0.64.1.
![rc](https://user-images.githubusercontent.com/18348137/41459984-7a929d92-708b-11e8-8463-f644c6d434b4.png)

[2018-06-15 09:06] danpospisil commented on #9974
@MartinSchoeler - we are experiencing this issue as well on 0.65.1

[2018-06-15 09:07] kaiiiiiiiii commented on #11153
This is not a problem with the server component, it’s an Electron client problem.

An issue in the Electron repo is already existent (RocketChat/Rocket.Chat.Electron#744)

//CC: @TwizzyDizzy

[2018-06-15 09:09] DRON4eg commented on #10949
@vynmera
Maybe it's all about styles?
If you replace the style:
[code]
on
[code]
then the announcement is displayed correctly

[2018-06-15 09:15] monspid opened #11156 "[BUG] Huge Security Vulnerabilities"
### Description:
Before you say it's not related to server application read whole description.

We use in our office google play app to work with rocket.chat [link](https://play.google.com/store/apps/details?id=chat.rocket.android). We noticed that app allow changing usernames when we blocked this feature in server application. Moreover app does not force logout user when his token is not up to da

[2018-06-15 09:39] MikeSoft commented on #1348
@d4nyll  thank you friend, you're right

[2018-06-15 09:43] DariuszMaciejewski commented on #10976
@HammyHavoc I think it is related to the "Auto Away" feature which is enabled by default and configured to 0.3 s (probably this value was in minutes in previous versions).

[2018-06-15 10:32] drasbeck opened #11157 "(Option to) only show read receipt for the latest read message."
Read receipts are **awesome**, but they also clutter the chats, with too many blue ticks. In the name of simplicity only the latest read message needs to be marked, to know that all messages before it were also read.

I suggest to take note from other services, such as Facebook, and only show a tick by the latest read message. Any messages with the unread status should still retain the light grey

[2018-06-15 11:06] vynmera commented on #10949
Well, I find it generally erroneous that there's 2 `p` tags in one, but I really can't find the source of them.

[2018-06-15 11:09] nicexe2e4 opened #11158 "Error with File Upload via Amazon S3"
### Description:
Hello, i configured my rocketchat instance for file upload via Amazon S3 and my files won't load, but gridFS nd File System work well.

My settings:

- Acl                                           **none**
- Access Key                                  **mykey**
- Secret Key                                **mysecretkey**
- CDN Domain for Downloads   **none**
- Region

[2018-06-15 11:14] ulope commented on #9005
That UX could use some work. Just ran into this as well.

[2018-06-15 11:25] whatch0ut opened #11159 "Rocket.Chat not working on iOS 9.x"
Rocket.Chat Version: 0.65.1
iOS Version: 9.3.5

I've been updated rocket.chat server on newer version (manual on Debian) and notice one problem that I couldn't connect to my rocket via any of browsers, neither apps. I was updated from 0.54.1 where iOS worked perfectly.
When I want to connect to my server i can Login, but next thing what I see is just background colour with no info on it.

[2018-06-15 11:51] dachnikrus opened #11160 "Favicon gone from tab in latest Firefox"
### Description:

In latest firefox version 60.0.2, there are not svg favicon in the tab^, while normal png is ok.

### Steps to reproduce:

1. Enable in settings Assets -> "Enable SVG favicon"
2. Apply and refresh all clients

### Expected behavior:

Show SVG favicon

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 0.65.1
- Operating System: Windows 10
- Depl

[2018-06-15 12:05] mydoghasworms opened #11161 "Unable to add custom emoji"
### Description:

When opening the "Custom Emoji" admin option, the buttons are missing to add new custom emoji.
This is an on-premise installation. In our cloud installation, the buttons were present.
The storage type under "Custom Emoji Filesystem" is set to GridFS (the default).

There are no errors in the log.

### Steps to reproduce:

As an admin user go to the "Custom Emoji" option.

### Exp

[2018-06-15 12:11] kaiiiiiiiii commented on #11161
Duplicate of #10951

(Different area, same issue).

Is fixed with PR #11049.

//CC: @TwizzyDizzy

[2018-06-15 12:15] vynmera commented on #11160
Noticing this as well. The favicon displays fine when it is a derivative (e.g. you have a notification and it shows a dot or number)

[2018-06-15 12:16] vynmera commented on #9005
perhaps checkboxes, or a Discord-like roles [+]?

[2018-06-15 12:21] dachnikrus commented on #11160
@vynmera Thank you for addition! I checked it now, but in my case it shows only red circle with number, while I sent a direct message to test account.

[2018-06-15 12:21] mydoghasworms commented on #11161
I see, thanks @kaiiiiiiiii . The workaround given there does not work here, because there is no existing record to select. I just looked on our cloud instance as well, and that suffers from the same issue (not sure if the problem was introduced in a recent version perhaps?)
Should I close this issue?

[2018-06-15 12:31] tmbiOS opened #11162 "[FEATURE] /me REST endpoint was missing custom fields."
Should we add "custom fields" (if they are added to the server) to /me REST endpoint?

[2018-06-15 14:06] vynmera commented on #11160
Seems to be broken on Chrome as well :(

[2018-06-15 14:17] dotsomething commented on #2869
As I promised I made a poorly-made workaround for my company. But keep in mind that I've never worked with web development before.

[Repo](https://github.com/dotsomething/rocket-audit)

It just lists users Direct Messages and you need to be an Admin to Log-in. Sorry if it's in Portuguese, I didn't have time to translate it to you guys.

**Ps:** You need to change [this line](https://github.com/dot

[2018-06-15 14:19] kaiiiiiiiii commented on #11161
@mydoghasworms

The error was introduced with Release 0.65.0. Versions below should work as excpected.

Feel free to do that :)

[2018-06-15 14:20] sampaiodiego commented on #11154
what are the `customFields` configured?

[2018-06-15 14:46] kaiiiiiiiii commented on #10976
@DariuszMaciejewski "Idle Time Limit" was in milliseconds before it was changed to seconds :)

[2018-06-15 16:09] rafaelks commented on #11154
This is what happens, when trying to signup in any client with custom fields and setting a username (there's no way to signup with one API, we need to use two):

![simulator screen shot - iphone se - 2018-06-15 at 13 07 16](https://user-images.githubusercontent.com/551004/41478237-4e5e83a0-709d-11e8-8d39-559eac839959.png)

[2018-06-15 16:12] sampaiodiego commented on #11154
@filipealva can you please post the JSON used to configure the custom fields?

also can you send the exactly request payloads and responses? thx

[2018-06-15 16:13] rafaelks commented on #11154
@sampaiodiego

[code]

[2018-06-15 16:28] engelgabriel commented on #3104
@rasos I don't think we have an issue for that yet, please open one.

[2018-06-15 16:31] #11114 closed

[2018-06-15 16:49] #10639 closed

[2018-06-15 16:54] tassoevan opened #11163 "No error message when uploading a corrupted PNG file"
### Description:

When a corrupted PNG file is uploaded, the back end reports

    Exception while invoking method 'sendFileMessage' Error: Input buffer contains unsupported image format

but the client doesn't report errors neither adds the file to the current room.

### Steps to reproduce:

1. Open any room;
2. Upload a blank file or binary file with random content containing the `*.png` extensi

[2018-06-15 17:03] dotsomething commented on #7043
+1

[2018-06-15 17:16] rafaelks commented on #11143
@SnehaDoughnut He's how you do it:

@MartinSchoeler (I think we need to add this to the docs).

[code]

[2018-06-15 17:16] #11143 closed

[2018-06-15 17:17] rafaelks commented on #11159
@whatch0ut What's the iOS app you're trying to use?

[2018-06-15 17:32] whatch0ut commented on #11159
I used Rocket.chat legacy, because rocket.chat+ can't be installed due to requires 10+ iOS, but it doesn't work with any browsers, neither safari or chrome

[2018-06-15 17:44] rafaelks commented on #11156
@monspid Thanks for the report. We'll investigate what's going on with the application, but also I agree that the API should block any action that the user has no permission to do. 👍

[2018-06-15 18:07] sampaiodiego commented on #11156
thanks @monspid .. I've changed the issue title to better reflect the issue.

per your second report, are you saying you can still **use** the app with a expired token? or does the app just tell you about that?

[2018-06-15 18:43] scottalanmiller commented on #4897
Same issue currently on multiple systems.  Seems normal and universal.  Does anyone have this working?  Both GridFS and filesystem fail the same.

[2018-06-15 19:37] ggazzo commented on #10772
@Fscape could you try again? I couldnt reproduce you problem =/

[2018-06-15 20:02] Fscape commented on #10772
Still the same deal for me, on both my servers (now 0.65.1).

Let me know if I can provide some info to assist.

[2018-06-15 20:03] vynmera commented on #11145
Part 1, I suppose - the one causing the most confusion for most people with random usernames. Enjoy: #11164

[2018-06-15 20:09] sampaiodiego commented on #6719
@tassoevan can you please test https://github.com/RocketChat/Rocket.Chat/pull/8318/ to make sure it properly fixes this issue?

[2018-06-15 20:31] #11064 closed

[2018-06-15 20:46] Hudell commented on #10915
I'll continue the discussion about the multiple slack bridges on the issue ( #9339 )

[2018-06-15 20:53] filipedelimabrito commented on #11092
Thank you @MarcosSpessatto.

[2018-06-15 20:53] #11092 closed

[2018-06-15 21:00] Hudell commented on #9339
So I did some basic testing here: I created two instances of the SlackAdapter class created on the PR #10205. Receiving messages from multiple slack channels worked without any extra code, but to send messages to multiple slack servers, we need to change the RocketAdapter class to support multiple instances of the SlackAdapter on it, then change the settings to support multiple configurations.

[2018-06-15 21:09] Hudell commented on #10915
@ToferC Is there anything we can do to help your devs as well? I believe the change for the multiple slackbridge configurations will take less than a day for someone who's familiar with the code, so I might just go ahead and implement it.

[2018-06-15 22:53] vnuness commented on #3574
@geekgonecrazy
how can I use the hubot to transfer to human service within livechat?

Is there a specific method?

Can you help us?

[2018-06-16 00:20] geekgonecrazy commented on #9349
Might be something cool to share in the community creations category of our forums: https://forums.rocket.chat/c/community-creations that way others in the community can find and collaborate with it on you.

[2018-06-16 09:52] gramou commented on #10604
The problem is solved. I have tested it on 0.65.1 .

[2018-06-16 16:02] subesokun opened #11168 "Form validation error caused by @ symbol in username"
### Description:

Unfortunately our usernames have the form user@company.com which causes a from validation error in RC when trying to edit a profile. Our users are signing in via Azure AD and RC successfully creates the account with the @ symbol in the username but it's not possible to modify the users profile afterwards.

### Steps to reproduce:

1. Create a user with an @ symbol in the username

[2018-06-16 17:58] vynmera commented on #11168
Can you check the allowed username RegEx? I'm not sure whether changing it will allow it, because @ is the username notation character, but it might be possible to allow it in that regex?

[2018-06-16 18:01] subesokun commented on #11168
@vynmera nice hint, I'll try that on Monday!

[2018-06-16 20:45] quangtzimong commented on #10635
We had some trouble with the servers filesystem last days, but I'm pretty sure it has nothing to do with this "warning". Under this circumstances this message came into my awareness and it will always appear, when I open Rocket.Chat+ on my IOS device. So every time this app connects to server I will find this message. I haven't checked Android yet.

[2018-06-17 01:12] FaizanZahid opened #11170 "When trying to access the landing page of web rocket chat on mobile android chrome, a blank black screen appears"
### Steps to reproduce:

1. Open the landing page of rocket chat demo (where we put our login details to sign in).
2. I put my login details and clicked sign in / log in.
3. The 3 progress 3 loading dots animate for few seconds
4. and after that the screen goes blank/black and nothing loads up, no menu is visible.
5. if i refresh, i see the same behavior,

I have also cleared all my mobile android

[2018-06-17 03:24] mikaelmello opened #11171 "Long texts as input lag the screen"
### Description:

Whenever I'm typing long messages everything starts to freeze and lagging

### Steps to reproduce:

1. Go to input text
2. Type a lot, 7+ lines

### Expected behavior:

Not lag with that much text

### Actual behavior:

I can't type without having to wait seconds for the characters to show up

### Server Setup Information:

- Version of Rocket.Chat Server: Open
- Operating System

[2018-06-17 08:50] kaiiiiiiiii commented on #11171
Propably a duplicate of #10583

[2018-06-17 12:43] nvhk opened #11172 "Embedding content in the iframe at the chat place."
I would like to be able to embed content in the iframe. Content in iframe e.g.: youtube. twich would be in the place of the current chat, and the chat would be moved to the sidebar.

I would like it to look like a twitch, where there is a big stream in the middle, chat in a sidebar so that you can switch between views.

e.g: channel/general?iframe=LINK

Prepared view as I would like it to look lik

[2018-06-17 17:43] monspid commented on #11156
@sampaiodiego I do not really know if token has expired. Our server should generate token which last 7 days. It works for desktop app and web app, but mobile app do not force log out me after 7 days. I do not even remember when I log in to the app last time, but I'm sure it was earlier than a week ago.

There are some possibilities:
- in the app you can use expired tokens,
- app gets tokens which

[2018-06-17 21:32] zmikolaj opened #11174 "delete"
//delete

[2018-06-17 21:35] #11174 closed

[2018-06-17 23:44] cloudsandladders commented on #11013
@acolville
Yes, in Administration > Layout > Custom CSS

add
[code]

[2018-06-17 23:50] cloudsandladders commented on #10980
quick fix before release

Administration > Layout > Custom CSS
add
[code]

[2018-06-18 01:10] ggazzo commented on #11171
duplicated :) thanks for the feedback

[2018-06-18 01:10] #11171 closed

[2018-06-18 01:14] #11153 closed

[2018-06-18 01:15] ggazzo commented on #10136
thanks @gcommit any problem let me know

[2018-06-18 01:15] #10136 closed

[2018-06-18 01:20] ggazzo commented on #11134
thanks @rafaelks but we are working on a new directory style I think we will have this problem no more
https://github.com/RocketChat/Rocket.Chat/pull/11026

[2018-06-18 01:20] #11134 closed

[2018-06-18 01:27] ggazzo commented on #10927
@hexcsl could you try on develop? or wait for 0.66.0 and let me know if it was fixed (:

[2018-06-18 01:30] ggazzo commented on #10772
the channel's  name.. could you provide me? I changed my language and its working =/

[2018-06-18 07:21] mydoghasworms commented on #11100
@TheReal1604 It doesn't  justify the need for a service account though. As I said above, the user that is providing their credentials presumably should have (and that should probably be 99.9% of cases) access to read their own data from the LDAP.
Therefore, when they log on for the first time to RC and RC needs to get their details from the LDAP (cn, email, etc.), the connection that is establishe

[2018-06-18 07:47] Fscape commented on #10772
Hi, it's not just a particular room - it's all of them.

Some examples:
- general
- channel-hyphen
- private_underscore
- chris (Direct Message)

[2018-06-18 08:01] eszeus commented on #2355
Is there anything new to this, or information about when it will be implemented?
We are having the same issue here in our office, the new EU Law for data protection is really painful.

Did anyone automated the channel history deleting process and can share it with us?

[2018-06-18 08:05] eszeus commented on #11123
push

anybody here who could help solving this?

[2018-06-18 08:58] vynmera commented on #2355
@eszeus There is the REST API call `rooms.cleanHistory`. I might make a PR to implement a GUI for it, in the channel buttons though, to make this easier (and possibly make it automatically stage it so you can tell the process is happening, as cleaning a large channel may take ages)

[2018-06-18 09:35] antoine-roux commented on #10976
Hello, I'm in the same case.
What is annoying with this release is that the mail is not only sent if I am offline but also if I am just away...

In my french instance, the option is called "offline notification". So this is not what i'm expecting.
Have a great day :)

[2018-06-18 09:48] hexcsl commented on #10927
@ggazzo I checked the docker image of rocketchat/rocket.chat:develop (0.66.0-develop) and it does not have this problem 👍 . We will wait for the release of 0.66 for the production.

[2018-06-18 12:12] sampaiodiego commented on #11156
thanks @monspid .. I've verified that REST generated login tokens indeed do not expire. do you mind opening a new issue regarding this behavior? thank you

[2018-06-18 13:33] ggazzo commented on #10927
thanks @hexcsl, just few days ;)

[2018-06-18 13:33] #10927 closed

[2018-06-18 13:34] ggazzo commented on #10772
@Fscape could you try here http://open.rocket.chat ? I will make more tests

[2018-06-18 13:37] ulope commented on #5167
This is a really annoying issue. We've had quite a few cases where people haven't been aware of messages due to a period or comma preventing the mention from working.

Examples of common problematic cases:
- `Please remember to do the thing @someuser.`
- `This needs to be looked at by @someuser, @otheruser or @nobody.`

[2018-06-18 14:02] ice1e0 commented on #533
@marceloschmidt This ticket is still in the [roadmap](https://github.com/RocketChat/Rocket.Chat#roadmap) under **In progress**. The roadmap should be updated when this is not in plan.

Personally, I think that an alternative database would be a great advantage for the product. I don't mind what database system. I think many people refuse to use Rocket.Chat just because the database is MongoDB whic

[2018-06-18 14:10] L3nny5 commented on #4239
Any updates on this? We want to move from Slack to rocket.chat and are still looking for a solution for the private channels. Any idea?

[2018-06-18 14:21] wilsonkwok opened #11175 "Embedded Layout with Iframe integration only works on first time"
I have a iframe in my website, and used the [Iframe integration command](https://rocket.chat/docs/developer-guides/iframe-integration/commands/) login-with-token to login. After that, I used rest api to load group list and show on website, and use **go** command to change the path of iframe by clicking a group:

[code]

The problem is the Embedded Layout only works on first time. When I change to

[2018-06-18 14:54] Fscape commented on #10772
It works fine for me on http://open.rocket.chat !
Quite strange.

So I just installed a fresh snap rocketchat-server 0.65.1 (clicked continue through the wizard leaving everything default).
Went straight to my Profile, and Afrikaans was showing as the Localization language (probably because it's at the top of the dropdown list) ... but everything is in English [Hide Room works]
Saved language as E

[2018-06-18 14:59] kazie commented on #10925
Updated, still a bug in `0.65.2`

[2018-06-18 16:20] ukhryab opened #11176 ""Add user" button doesn't appear in the users list"
### Description:

I would like to add a new user, being an admin. When I go to users list, there's no `+` button (and no other buttons too). But it appears when I select one of the users in list. It is not obvious behaviour.

### Steps to Reproduce:

1. Go to Administration -> Users
see NO buttons at the right side of users list at all! so we can't add a new user

2. Click on the user in the list.

[2018-06-18 16:22] vynmera commented on #11176
This is fixed in 0.65.2: #11049 . Please update :)

[2018-06-18 16:50] ggazzo commented on #10772
we are using develop:latest on open... could you do more one more test? I after that I will search version by version to find which pr fixed the problem

[2018-06-18 16:53] ukhryab commented on #11176
Thank you! :)

[2018-06-18 16:53] #11176 closed

[2018-06-18 17:08] kapace commented on #11133
I noticed this problem when sorting by number of users as well: ![image](https://user-images.githubusercontent.com/517992/41551022-67903fb4-72df-11e8-86d6-450191b1116a.png)

[2018-06-18 18:33] #9440 closed

[2018-06-18 18:36] CoMPaTech commented on #10602
Any ideas?

[2018-06-18 18:38] MarcosSpessatto commented on #7339
Hello @ariep, could you provide us with the call data? Since you yourself said there is no standard for this problem to happen, I could not simulate the problem locally.

@osfunapps if you also suffer from this problem and can also provide the data that possibly causes this problem, it would be interesting.

[2018-06-18 19:12] CoMPaTech commented on #10602
I'll close this one in favour of #9470

[2018-06-18 19:12] #10602 closed

[2018-06-18 19:13] CoMPaTech commented on #9470
I'll figure out another way on #10602 but I have the same issue with the synchronisation happening. While deleting such messages can work, note that users already logged in will still see what was happening in the channel.

[2018-06-19 06:39] engelgabriel commented on #2885
We are considering fro development a solution, that would have the following characteristics:

* Have a server side memory only map of the IP -> USER relationship
* Never store the IP -> USER relationship on the DB
* Enable the admins to ban a IP by reporting a USER
* Enable the method calls rate limiter to filter per IP
* Log abuses of the rate limiter per IP so can be used by [Fail2Ban](https://

[2018-06-19 07:07] Lawri-van-Buel commented on #2885
@engelgabriel
I got the following notes on the top of my mind.

- Keep in mind that ip adressen are not always fixed and can be used by multiple users. (Maybe only allow ban after multiple accounts from that up are blocked or list other accounts on a IP. ).
- Clusters need a way to share this data. Without the database this will be tricky.
- Givven the GDPR, we need a clear ground on which we are

[2018-06-19 07:35] Antairez commented on #9755
Same problem, is there any system-wide workaround for this issue besides asking each user to set their channel preferences?

[2018-06-19 07:44] Gandalf-the-Grey commented on #2885
To some of participants in this discussion: please do not spread FUD about GDPR, please consult your use cases with your own lawyers if you haven't already. GDPR doesn't change much for people that were doing things right. *You should handle PII material with a proper care.* If you are running an Internet service and can't do that properly you should really shut it down.

Obviously if that is such

[2018-06-19 07:51] Antairez commented on #9755
<img width="1181" alt="image" src="https://user-images.githubusercontent.com/7032726/41583949-8f192678-73d8-11e8-85cb-9f607f6f7289.png">
After changing unread count in general to all messages, it seems that the behavior is now normal.

[2018-06-19 08:02] xvonabur commented on #10443
@renatobecker I saw that #10734 was merged, but I still experiencing this behaviour on latest docker image (0.65.2).

[2018-06-19 08:12] vynmera commented on #2885
I believe this is an important issue. If we want to make Rocket.Chat more usable for public usage, we'll need more powerful moderation tools. One of these would be IP bans.
Myself, I currently use a different login provider which allows me to ban IPs, but I feel it would be quite important to build this into Rocket.Chat.

Implementing this doesn't have to be insanely difficult - add a "ban" functi

[2018-06-19 08:22] Fscape commented on #10772
Sure, do you mean test again on open.rocket.chat?
It works correctly on there for me

[2018-06-19 09:32] Lawri-van-Buel commented on #2885
@vynmera

I would support more and better moderation tools.
IP bans are generally not wanted to moderate. (there to blunt a tool to be effective).
IP address do NOT represent individuals in all cases, which would mean you (potentially) ban a lot more users than you think. (this is especially true in not 1st world countries where IP's can be shared between neighbourhoods through NAT's).

To underst

[2018-06-19 09:38] Lawri-van-Buel commented on #10932
Admin's can deactivate a user or block a user. It's part of the Admin ui ==> Users.

[2018-06-19 10:09] WebSavvyGuy commented on #2885
I do like the plans put forth by @engelgabriel

It’s a positive step in the right direction.  Hope this becomes a reality.

I do not agree with the statement raised by another person that we should further limit this function because of a few rare cases of users sharing the same IP addresses.   In that very unlikely event just delete it from your list.

[2018-06-19 10:32] Lawri-van-Buel commented on #2885
@WebSavvyGuy

This is not  a rare event on the global scale.
see [IPv4_address_exhaustion -->Transition mechanisms](https://en.wikipedia.org/wiki/IPv4_address_exhaustion#Transition_mechanisms)

a real thing in Asia, Africa, South America and parts of Europe.
the real difficulty is that there is no reliable way to tell if the customer IP your blocking is the endpoint IP or a intermediate IP (like a

[2018-06-19 10:39] vynmera commented on #2885
@WebSavvyGuy An interesting idea I just thought of is that if you try to ban an IP that multiple people use, it'd give you a warning.
Also, perhaps we could optionally have it use the User-Agent as well.

[2018-06-19 10:49] WebSavvyGuy commented on #2885
It is a rare event at the moment.   You can always do an IP address ban list review periodically to filter out these unlikely events.

They can still contact you as this would be limited to Rocket.chat (i believe)  They can still contact you via contact us page on your site.

Block, deactivate and delete are a joke.  You just need to sign in again.  If you use anonymous user, it's a matter of 1 se

[2018-06-19 10:50] eszeus commented on #2355
@vynmera Any Automated process would be awesome! Specially with a GUI. I am not an expert with APIs and such, sadly...

[2018-06-19 10:53] vynmera commented on #2192
Perhaps we could use a different character, for example +admin? They can be role-based, but you can turn mentionability on and off per role. We can add an extra field to the role settings to how they should be displayed in chat, so that the "Admin" role will be displayed as +Admins.

[2018-06-19 11:12] Lawri-van-Buel commented on #2885
@WebSavvyGuy

you mean for yourself. We are not all located '<insert your location>', and we can not all ignore huge area's of the world.
Also did you measure this in any way (number of additional blocked users, number of blocks that were unfounded?, etc) I find this quite a bold statement if it is without evidence.

If you use anonymous accounts you are right. so maybe switch to a login-in only s

[2018-06-19 11:33] rasos commented on #10824
We let Jitsi open in another window to avoid this behaviour and also to let users change channels without loosing the video call.

[2018-06-19 11:36] rasos commented on #4586
You can configure that Jitsi is opening in another tab to avoid this behaviour.

[2018-06-19 11:41] Lawri-van-Buel commented on #2885
@WebSavvyGuy
So in short you want to have a way to convert a specific login (like a user name) to an IP to use in another process.

This I think would be a good idea. It would enable proper IP restrictions being implemented in the right layers.

This should be a "super admin" type permission that is not enabled default (IMHO) and your privacy statement should list it as a tracked PII. (but that's

[2018-06-19 11:44] Gandalf-the-Grey commented on #2885
I'm not really in the mood for fighting over which place is best suitable for access control.

Current status is that wherever IP based access control should be executed, it just can't be because rocket.chat is not giving us clear data about: **user = ip = action** relationship.

Yes, of course there are always risks of filtering out too much (obviously I'd love to be able to use CIDR notation). M

[2018-06-19 11:49] Lawri-van-Buel commented on #2885
@Gandalf-the-Grey

this is among my main reasons to prefer a (application-) firewall over an application ban function.
It also means less load has to be put on rocket chat (I prefer to use my connections for actual users).

[2018-06-19 11:54] WebSavvyGuy commented on #2885
@Lawri-van-Buel

In the past (I no longer use Rocket.chat anymore and we are building our own chat app) I would go to the Nginx Access log files (/var/log/nginx/access.log) and i would match up username with IP address that way.

The problem was the username you needed would appear with hundreds of different IPs so you would have to take the first one on the list to get the right one.  A lot of ch

[2018-06-19 11:58] Flauschbaellchen commented on #9650
Still an issue in 0.64.1.

[2018-06-19 12:43] Lawri-van-Buel commented on #2885
@WebSavvyGuy Good luck with your own app :smile_cat:
You are right that it is hard (not impossible) to extract the IP from Rocket chat it this time.

But it is also hard to see what connection of a user did what (as rocketchat allows `n` connection for each user)

But we are also living on a changing world. approaches that worked in the past will not (always) work now and in the future. as an exam

[2018-06-19 13:06] Gandalf-the-Grey commented on #2885
Thing is that we are recording IP addresses anyway, as @vynmera mentioned IP address *is* "data required for the operation of the service". Also it is *NOT* PII by itself. It could be "linked" at most.

I have list of all of your 4-digit PINs to your credit cards and all of your IP addresses (yes, even that private one ;-) )

We already have that info (IP) we just don't have convenient way to use

[2018-06-19 13:57] #11175 closed

[2018-06-19 14:24] vynmera commented on #2885
@Gandalf-the-Grey Something I'd like to add: once you've actually seen other people's IPs (lost your IP virginity perhaps?) you will find that in reality, it's not that interesting.

I operate a service with many users, and I store all of their IPs - not because I "love looking through my IPs" or because I "spy on people". Once you actually get people's IPs you will find that you won't care. You h

[2018-06-19 14:31] ukhryab commented on #3830
+1, it's a real problem when you are not in RC window.

[2018-06-19 14:40] Lawri-van-Buel commented on #2885
@Gandalf-the-Grey The fact it is allready used is a Non sequitur. as in having some information does not mean you can use it for "x".

as an analogy, If I would have a copy of your private photo collection, I would NOT have the right to distribute this to all people with an email address ending in "@gmail.com". I need a grounds (reason) in order to be able to do this. In my example here there is n

[2018-06-19 14:57] Gandalf-the-Grey commented on #2885
I have few lawyers around. And yes, I'm in EU and yes GDPR applies. And no, IP address is not PII by itself. Even if linked with other info, even if all together you can say that you process PII then what?
You have to implement appropriate measures anyway, mostly procedural and legal.
I believe that technical matters are already in place because you are already processing data that you need to pro

[2018-06-19 15:10] mycatnamedweb opened #11185 "Tabnabbing and Clickjacking"
https://steemit.com/security/@gaottantacinque/steemit-chat-is-unsafe

[2018-06-19 15:15] vynmera commented on #2885
@Gandalf-the-Grey @Lawri-van-Buel Also: a lot of people here are going to be using Rocket.Chat behind a reverse proxy. Their nginx installs (or Apache (please don't use Apache)) will be storing IPs by default.

[2018-06-19 15:21] WebSavvyGuy commented on #2885
I think GDPR states somewhere that IP addresses are PII data that applies to their rules.   Dumb, but true.

[2018-06-19 15:50] rocketcrazy07 commented on #10966
Looking at the Dev log I noticed this error this happens when I try to manually add the "+" button as well.  Hope this might help somebody figure out what is wrong.
[code]

[2018-06-19 16:01] vynmera commented on #10966
This is fixed in #11049 @rocketcrazy07 :--)

[2018-06-19 17:38] karlprieb opened #11186 "Livestream doesn't work when enable "Enable only audio mode""
### Steps to reproduce:

1. Create a new livestream and enable "Enable only audio mode" option
2. Play it :)

### Expected behavior:

You should listen the livestream audio

### Actual behavior:
You can't listen anything

### Server Setup Information:

- Version of Rocket.Chat Server: 0.64 ~ 0.66

[2018-06-19 17:50] Gandalf-the-Grey commented on #2885
No, GDPR doesn't define IP address at all. You can't identify a natural person solely by IP address that person used.

#### That's irrelevant anyway!
Because of GDPR Recital 49
and because of Article 6, namely
par1a) because of the ultimate ToS, accept it as-is or GTFO
par1b) because it's how TCP/IP works, or GTFO
par1c) because obligations to law enforcement
par1d) and f) because of anti-abuse
(o

[2018-06-19 18:18] marceloschmidt commented on #11185
Thank you for your report. We kindly ask that any security issue should be raised by mailing Rocket.Chat's security team at `security@rocket.chat`. This issue has been fixed by https://github.com/RocketChat/Rocket.Chat/pull/10929.

[2018-06-19 18:18] #11185 closed

[2018-06-19 18:51] TheMMcOfficial opened #11189 "Feature: Add nickname to a user"
**Is your feature request related to a problem? Please describe.**
it's not possible to notify or research someone by a nickname that you add or that they add. We got rocketchat where I work and we are 3 people with the same name so it's difficult to not got a message from someone but the message was deserve to the other person.

**Describe the solution you'd like**
Add a place where we can add a

[2018-06-19 18:53] Hudell commented on #11082
@phillipplum Can you check your "User Data Download" admin settings? Based on your log, it seems like there's no Processing Frequency configured.

[2018-06-19 18:55] marceloschmidt commented on #11168
I've checked and editing the regex works ;) please reopen if it doesn't work for you.

[2018-06-19 18:55] #11168 closed

[2018-06-19 19:55] phillipplum commented on #11082
Here are our settings. We don't change something.

![image](https://user-images.githubusercontent.com/6051483/41620915-70d7e914-740b-11e8-9a0f-0fcbbbb58648.png)

[2018-06-19 20:58] Hudell commented on #11082
I'll look into it.

[2018-06-19 20:59] #9771 closed

[2018-06-19 21:02] #11108 closed

[2018-06-19 21:30] #6509 closed

[2018-06-20 00:04] Lawri-van-Buel commented on #2885
Based on this [blog post (from a Dutch IT lawyer)
](https://blog.iusmentis.com/2018/02/06/waarom-is-ip-adres-persoonsgegeven-en-kenteken/) A IP address is a PII.

Yes we need to process the IP to facilitate the connection. This does not need we need to store it in a conjunction with a user(name).  We would need a different ground than “it’s needed for TCP/IP.” And a ToS is not a ground (by itself)

[2018-06-20 00:46] balcsida commented on #11100
We don't use service account and LDAP auth and sync works as it should.

[2018-06-20 07:48] moriccelli opened #11192 "Artefacts in desktop version"
### Description:

Some artefacts appear on desktop version. See steps to reproduce.

### Steps to reproduce:

See [screen record](https://drive.google.com/file/d/1Irsld0tiejCIjb5_O8IyalJVhPsKN4TU/view?usp=sharing)

### Server Setup Information:

desktop client version - 2.11.0
Server version 0.65.1

[2018-06-20 07:59] kaiiiiiiiii commented on #11192
Wrong repository and duplicate of [#744](https://github.com/RocketChat/Rocket.Chat.Electron/issues/744).

//CC: @TwizzyDizzy

[2018-06-20 08:00] moriccelli commented on #11192
Thanks

[2018-06-20 08:00] #11192 closed

[2018-06-20 08:19] ChessSpider commented on #10931
@toughIQ
Thanks, but I only want to run the official Docker-releases of Gitlab. Can you maybe help me maybe with my Dockerfile?

[code]

errors with:

[2018-06-20 09:05] torgeirl commented on #11082
@Hudell: I also experience this issue. It seems identical to the others here:
- Email is never received with instructions how to access the chat history
- No error message presented to the user
- No error message in logs

Setup:
- Server version: `0.65.1` deployed with Snap, on Ubuntu Ubuntu 16.04 (newest available for snap)
- Default `User Data Download` settings (enabled, frequency=15m, message

[2018-06-20 09:56] xxmoC commented on #11017
@rodrigok any update on when the new version will be released?

[2018-06-20 10:34] nwd3 opened #11194 "When uploading normal pictures to rocketchat they become very large."
### Description:

We upgraded to RocketChat version .65.1 and now whenever anyone uploads an image it displays the image in giant form.
### Steps to reproduce:
Upload imgae
### Expected behavior:
Is there a way to have rocketchat set a default size for the image?

### Actual behavior:

![image](https://user-images.githubusercontent.com/17985368/41653388-e7ca7ee0-7453-11e8-980f-500e1250ef0b.png)

#

[2018-06-20 10:36] vynmera commented on #11194
#10998 fixes this. Please update to 0.65.2 for it :)

[2018-06-20 12:19] bog-dan-ro opened #11196 ":football: emoji shows a weird oval ball not a real round football ball"
In the spirit of the World **football** cup, can someone pretty please fix this very important issue ?

[2018-06-20 12:33] tsukiRep commented on #11196
:soccer::soccer::soccer::white_circle::soccer::white_circle::soccer:
:soccer::white_circle::soccer::white_circle::soccer::white_circle::soccer:
:soccer::white_circle::soccer::white_circle::soccer::soccer::white_circle:
:soccer::white_circle::soccer::white_circle::soccer::white_circle::soccer:
:soccer::soccer::soccer::white_circle::soccer::white_circle::soccer:

`:soccer:` will answer your prayers

[2018-06-20 12:42] bog-dan-ro commented on #11196
I know but the naming is wrong ...

[2018-06-20 12:43] tsukiRep commented on #11196
@bog-dan-ro :us:

[2018-06-20 12:45] otakuu commented on #10402
Why not Secure-Flag as an option?

[2018-06-20 13:05] #10860 closed

[2018-06-20 13:28] bog-dan-ro commented on #11196
@tsukiRep football is used by 🌍 - 🇺🇸 ;-)

[2018-06-20 13:30] MarcosSpessatto commented on #10942
This was corrected in https://github.com/RocketChat/Rocket.Chat/pull/11021.

[2018-06-20 13:30] #10942 closed

[2018-06-20 13:52] askya commented on #839
Hello
Thanks again.
I will follow it.

[2018-06-20 13:52] askya commented on #839
Hello
Thanks again.
I will follow it.

[2018-06-20 13:57] ukhryab opened #11197 "Non-obvious message of changing room type in mobile application"
RocketChat+ v 2.11.0 & RocketChat on Android v.2.4.0 (this app: https://play.google.com/store/apps/details?id=chat.rocket.android)

### In desktop app:
![image](https://user-images.githubusercontent.com/16405513/41662758-78b01dba-74aa-11e8-9e9c-a85a1cc046cb.png)

### In mobile app:
![image](https://user-images.githubusercontent.com/16405513/41662785-86ef4234-74aa-11e8-892e-909b370dc1ec.png)

Notif

[2018-06-20 14:11] luco commented on #3338
+1 on this

[2018-06-20 14:13] luco commented on #8051
+1 on this

[2018-06-20 14:14] tassoevan commented on #11196
Unfortunately, this is an [EmojiOne](https://github.com/emojione/emojione) issue.

[2018-06-20 14:14] #11196 closed

[2018-06-20 14:42] tassoevan opened #11198 "Setup Wizard ignores an invalid username in "Admin Info" step"
### Description:

Usernames which don't follow the default `UTF8_Names_Validation` regular expression (`[0-9a-zA-Z-_.]+`) in "Admin Info" step of Setup Wizard are ignored until the wizard finishes, where a "Register Username" modal appears.

### Steps to reproduce:

1. In a fresh install, open the Setup Wizard;
2. Input a username that doesn't match the `UTF8_Names_Validation` settings (suggested:

[2018-06-20 14:55] raphapy commented on #3294
LOL

[2018-06-20 15:59] myfonj commented on #11037
Looking at ↑ pull (https://github.com/RocketChat/Rocket.Chat/pull/11191/files#diff-39d471521e300f53e48eec47f92c0401R69) this will technically mean given version will have basic windows font **changed from Arial to Segoe UI**, which has different metrics and could potentially surprise users.
There's nothing wrong with it and it was basically my initial proposal (although such switch was unintention

[2018-06-20 16:27] jkshapiro commented on #3625
Icons are an improvement over color alone (see https://www.w3.org/TR/WCAG21/#use-of-color for WCAG's guidance). We'll still need some text--hover or otherwise, as long as it's accessible--providing the meaning of each icon.

[2018-06-20 17:18] vynmera commented on #3625
Anyone working on this? Otherwise I can pick it up - it seems relatively simple to implement.

[2018-06-20 17:46] ggazzo commented on #11159
@whatch0ut hey, could you check if this pr solves your problem? #11199

[2018-06-20 18:11] ggazzo commented on #11197
@rafaelks could you close this issue and open on androi/ios repos? thanks

[2018-06-20 18:14] ggazzo commented on #11197
Issue moved to [RocketChat/Rocket.Chat.iOS #1803](https://github.com/RocketChat/Rocket.Chat.iOS/issues/1803) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-20 18:14] #11197 closed

[2018-06-20 18:18] ggazzo commented on #10730
@Robert-turbo I will close this issue, as its not a bug, you are welcome to contribute and help us to translate any language, if you need some help to know how to do , pls let me know..

[2018-06-20 18:18] #10730 closed

[2018-06-20 18:32] mrsimpson commented on #10990
@vickyokrm please create a PR and pick cee729a6258889c6ceca3b1f6a531fea72138b22

[2018-06-20 19:27] #10370 closed

[2018-06-20 19:49] ggazzo commented on #10772
opss, I didnt see the first part

lets wait for 0.66

[2018-06-20 19:55] #11082 closed

[2018-06-20 19:56] #8474 closed

[2018-06-20 20:01] ggazzo commented on #10305
closed by #11026

[2018-06-20 20:01] #10305 closed

[2018-06-20 20:05] #7681 closed

[2018-06-20 21:06] duckle opened #11203 "Can't save Livechat Appearance Settings"
### Description:
I can't save the changes which I made in Livechat Appearance settings

### Steps to reproduce:

1. Log into RocketChat with admin role
2. Click Livechat -> Appearance
3. Change the value in Title and Title Bar Color
4. Click save button to save the changes.
5. Open a browser and access http://rocketchat-server-ip/livechat to open a client widget

### Expected behavior:

the Title

[2018-06-20 21:29] duckle commented on #11203
Duplicated with  #11111 , let me close it

[2018-06-20 21:29] #11203 closed

[2018-06-20 21:40] #7474 closed

[2018-06-20 21:44] vynmera commented on #11196
We'll have to page @DonaldTrump and @TheresaMay for a debate on this. You see, this has always been a large-scale issue not so much with Rocket.Chat, but with the entire English language.

When the US detached from the UK, the US decided to change the language a little, and developed what is now known as US English. With this, people also developed their own culture.

In that culture, a new sport

[2018-06-20 21:52] #10917 closed

[2018-06-20 21:58] #10969 closed

[2018-06-20 21:59] #11037 closed

[2018-06-20 22:28] #10939 closed

[2018-06-21 00:51] #9543 closed

[2018-06-21 01:17] rodrigok opened #11207 "Release 0.66.0"
# Release 0.66.0
We are releasing a new version, this issue will keep track of the progress between the first release candidate (20th of each month) to the final release (27th of each month).

Beginning on the 20th of each month, we will start the release process which ends 7 days later (the 27th). During this period of time, we will enter a "Feature Freeze". This Feature Freeze means that we will

[2018-06-21 04:50] #10800 closed

[2018-06-21 06:07] mrsimpson commented on #10800
@kb0304 what did you finally do?

[2018-06-21 06:13] kb0304 commented on #10800
Hi @mrsimpson
My project is changed to Integration of Voice Recognition API and Speech2Text engines. I have been working on the same.

[2018-06-21 06:18] subesokun commented on #11168
Yep, can confirm that this solved my issue. Thanks a lot @vynmera !

[2018-06-21 06:38] Radeq commented on #3582
+1 It would be nice

[2018-06-21 06:39] magik092 commented on #3582
+1

[2018-06-21 08:09] DerUser opened #11209 "Add warning to LDAP page / logs when "Manually Approve New Users" is True"
**Is your feature request related to a problem? Please describe.**
I used quite some time to figure out, that having "Manually Approve New Users" on True and configuring a LDAP Connection bear some Problems. The user from LDAP are imported, but they can't login because they are unapproved.

**Describe the solution you'd like**
A Waring on the LDAP page or at least a better error message in the log

[2018-06-21 08:55] huiminzeng commented on #3499
Hello! Any updates? I want this function as well. By getting the list of the online users, I can monitor the entire system as Admin.

thx

[2018-06-21 09:17] himpierre commented on #10552
Same problem in 0.65.2.

[2018-06-21 11:01] sebudot commented on #5499
Hi,
Would be usefull for API to use LDAP auth

[2018-06-21 11:18] o-jans commented on #5252
That feature would be very useful.

[2018-06-21 11:35] kkovrizhenko opened #11210 "[BUG] Ipad - Permalink to the message is not copied to the clipboard"
### Description:

### Steps to reproduce:

1. Open any chat with messages using iPad/ Safari or Chrome browser
2. Click on the menu on the right from any message
3. Click "Permalink" option
4. Check content of tthe clipboard

### Expected behavior:
Link to the message is not copied to the clipboard

### Actual behavior:
Link to the message is copied to the clipboard

[2018-06-21 12:44] o-jans commented on #8548
Same problem here with 0.65.1

Exception while invoking method 'ufsComplete' Error: EACCES: permission denied, open '/var/snap/rocketchat-server/upload/xprB3KYTnAb7qtHeC.png'

[2018-06-21 13:18] renatobecker commented on #11034
Hi @guilhermecfviana.

We've identified some issues related to translations files. I saw that your current language is 'pt'/'pt-BR', if you change your language to 'en', for example, will probably no longer occur.
Can you try this and give us a feedback?

I'll be waiting your feedback.
Thanks.

[2018-06-21 13:41] renatobecker commented on #11034
@guilhermecfviana, this fix will be in our next version(0.66) which will be released very soon.
I'm closing this issue and I suggest you to be tuned and waiting for our new version to test it again.

[2018-06-21 13:41] #11034 closed

[2018-06-21 14:21] L3nny5 commented on #10278
We're having the same issues. We want to switch from Slack to Rocket.Chat. But we need to keep our history. Messages get imported fine. However pictures are just not getting imported. Message with Picture is just missing.

Log shows this:

[code]

Server Setup Information:

- Version of Rocket.Chat Server: 0.65.2
- Operating System: Ubuntu 16.04
- Deployment Method(snap/docker/tar/etc): snap
- Num

[2018-06-21 14:23] bazoonchik opened #11213 "[ Feature Request ] Option to hide or disable system messages when topic is changed?"
Is there a way to hide or disable system messages that are sent as soon as a room's topic is changed? That would also be nice to not count such messages, if they are disabled or hidden, in the counters.

Thank you.

[2018-06-21 14:23] frdmn opened #11214 ""Marked" Markdown parser interfering with Emoji transformation"
### Description:

When you switch from `Original` to  `Marked` Markdown parser in the administration UI (Messages → Markdown → Markdown Parser), normal text emoticons (like `:)`, `:-(` or `:o`) won't be transformed into their corresponding Emoji counterpart

### Steps to reproduce:

1. Switch to `Marked`
2. Type `:)`
3. Look at the text emoticon rather than Emoji

### Expected behavior:

Transform

[2018-06-21 14:48] nwd3 commented on #11194
Great I will try this.
Thanks

[2018-06-21 14:51] nwd3 opened #11217 "When editing a message with a embedded url in it the embedded part of the message remains."
I have rocket chat VS .65.1 and I have this issue.  Thanks

[2018-06-21 14:58] duckle opened #11218 "Error: MONGO_URL must be set in environment"
### Description:
When try to start RocketChat server(ver 0.66.rc-0), I got an error to say MONGO_URL must be set even if this environment var is there.

### Steps to reproduce:

1. Download the tar file from Rocketchat
2. Use tar command to unzip it to local /var/www/rocket.chat
3. change current path to /var/www/rocket.chat/bundle/programs/server
4. run npm install command to install dependencies

[2018-06-21 15:29] kaiiiiiiiii commented on #11217
Hi @nwd3,

please use the issue template provided when you open a new issue. Otherwise we can't help you with that.

Thanks,
Kai

[2018-06-21 15:35] kaiiiiiiiii commented on #11213
Hi @bazoonchik,

the options for hiding system messages can be found under "Administration -> Message".

![2018-06-21 17_31_17-netorium chat](https://user-images.githubusercontent.com/4711233/41729245-0c4db392-7579-11e8-94ed-d68986564f23.png)

Feel free to visit the following site, for any further support request.

https://rocket.chat/docs/getting-support/ (the RocketChat Team tries to use the Git

[2018-06-21 15:53] brettswift opened #11219 "White main page - no content - docker-compose under AWS ALB"
### Description:

Some people have raised issues on black pages under mobile but I'm seeing empty content under an AWS ALB.    I'm running docker compose,  forwarding the docker port 3000 to the host port 80, and then the ALB  terminates SSL and forwards to the host port 80.

This is as simple as I can make it, everything on one image.   The console when I start rocket chat tells me that it's up a

[2018-06-21 15:58] AlexanderPlaza opened #11220 "Rocketchat-Server Snap stuck in Upgrade/Downgrade limbo - Version 0.63.0 Rev 1245"
Hello,

OS: Ubuntu 16.04.4 LTS
RocketChat Version: 0.63.0 Rev 1245
MongoDB Version 3.2.7
Within LXC Container

I currently have the rocketchat-server snap installed within an lxc container. So far I haven't been having any issues and this has been successfully running for approx. 7 months.

Earlier today I attempted to log into my rocketchat instance and was receiving 502 bad gateway within web br

[2018-06-21 16:01] aventrax commented on #10194
Confirmed with RC 0.65.2.

[2018-06-21 16:59] #11159 closed

[2018-06-21 17:29] NumberedThought opened #11222 "User profile username change makes server unresponsive"
### Description:

When a user changes their username, the service will hang and/or crash hanging all clients connected to the service

### Steps to reproduce:

1. Go to User>My Account:
2. Click on Profile
3. Change Username field
4. Click "Save Changes"

### Expected behavior:

User name changed and saved to database

### Actual behavior:

Clicking on save changes just sits and spins.  Server no

[2018-06-21 18:07] rasos commented on #10824
@sysfu simply activate "open in new window" in https://yourchatserver.net/admin/Video%2520Conference

[2018-06-21 18:48] skp19 commented on #10874
The option to mail all messages is no longer available also. Issue below shows as closed.

https://github.com/RocketChat/Rocket.Chat/issues/2162

[2018-06-21 21:04] vynmera commented on #11194
Is it working for you? If so, please close the issue :)
CC @TwizzyDizzy

[2018-06-21 21:28] ChessSpider opened #11226 "Exception in callback of async function: Error: [Can't find migration version 128]"
I just pulled the latest version from https://hub.docker.com/r/rocketchat/rocket.chat/tags/ and got this.
its probably due to this push: latest
242 MB
9 hours ago

downgrading doesnt work
[code]

[2018-06-21 22:36] serviceman commented on #11099
Got this to work on my dev machine. Now on my production machine I am getting this error when trying to build.

ENOENT: no such file or directory, rename '/home/comhost/Rocket.Chat/node_modules/grpc/node_modules/abbrev' -> '/home/comhost/Rocket.Chat/node_modules/grpc/node_modules/.abbrev.DELETE'

[2018-06-21 22:42] serviceman opened #11227 "error on node module abbrev with custom build."
Got this to work on my dev machine. Now on my production machine I am getting this error when trying to build.

ENOENT: no such file or directory, rename '/home/comhost/Rocket.Chat/node_modules/grpc/node_modules/abbrev' -> '/home/comhost/Rocket.Chat/node_modules/grpc/node_modules/.abbrev.DELETE'

[2018-06-22 00:33] serviceman commented on #11227
if anyone else has this issue I got through it with npm install grpc

[2018-06-22 00:33] #11227 closed

[2018-06-22 02:03] sysfu commented on #10824
Thanks I will try that.
Another workaround I discovered is to use the keyboard shortcut (s) to make Jitsi full screen, at which point the audio and camera buttons are usable. Then press (s) again to exit full screen.

[2018-06-22 03:22] mikaelmello commented on #10688
Related discussion: https://forums.rocket.chat/t/change-the-architecture-of-bot-accounts/776

[2018-06-22 03:27] mikaelmello commented on #7125
Related: #10832

[2018-06-22 06:39] serviceman commented on #10732
I can confirm all of these errors. Is there any ETA for when they will be fixed. I can't use Rocket Chat until it is fixed.

[2018-06-22 08:01] bazoonchik commented on #11213
Thank you for getting back, @kaiiiiiiiii.

Yes, I have seen this panel, but it's missing an option to hide a system message that indicates that a user has changed room's topic. Usually, there is the following message pops up: Room topic changed to: bla bla bla.

[2018-06-22 10:08] setpill commented on #9965
This seems to already be working?

[2018-06-22 10:29] setpill opened #11229 "Granular mention/highlight notification sound settings"
**Is your feature request related to a problem? Please describe.**
Mentions serve different usecases, some low-priority, some high-priority, and currently it is not possible to differentiate between them. In a busy channel it might be desirable to respond to an earlier comment or question by mentioning the user, or a lowpriority request can be made to a specific person by mentioning them.

This le

[2018-06-22 10:43] #11033 closed

[2018-06-22 10:58] janrudolph opened #11230 "[Bug] Avatars with transparent background get background after upload"
### Description:

Users can upload pngs with transparent backgrounds as avatars. In the past, the transparency was displayed correctly. Currently, a transparent background is converted in a black one after upload.

### Steps to reproduce:

1. Upload any png with transparent background / elements as avatar

### Expected behavior:

<img width="367" alt="transparent" src="https://user-images.githubus

[2018-06-22 11:59] TwizzyDizzy opened #11231 "Livechat history migration error on update: 0.65.2 -> 0.66.0-rc.1"
### Description:

The error seems to have no impact, yet I wanted to report it. It seems to be connected with the update of livechat history (disclaimer: I have never used livechat)

### Steps to reproduce:

1. Update Rocket.Chat
2. see logfiles

### Expected behavior:

No errors

### Actual behavior:

[code]

### Server Setup Information:

- Version of Rocket.Chat Server: 0.66.0-rc.1
- Operating

[2018-06-22 12:39] dbluxo opened #11233 "Prometheus exporter did not start after redeploy (0.66.0-rc.1)"
### Description:

Prometheus exporter did not start after redeploy (0.66.0-rc.1).

### Steps to reproduce:

1. Deployed Rocket.Chat 0.66.0-rc.1 for the first time
2. Enabled Prometheus (set true) at webui (settings)
3. Deleted Rocket.Chat  0.66.0-rc.1 for the first time (I left MongoDB alive)
4. Deployed Rocket.Chat 0.66.0-rc.1 for the second time
5. Checked Prometheus webui settings: Prometheus w

[2018-06-22 13:29] vdimitrieski opened #11234 "Closing an IM room (im.close) doesn't remove it from im.list"
Hi,

I am looking for a way to close an IM room (or delete it if it is possible) via REST API. If I invoke im.close as described in the REST API documentation i get `success:true` in the response but the IM room is still returned via call to im.list. Have I overlooked some role or (I am doing this as a IM room owner)?

I would expect both users in the room to be able to close it and consequently r