[2017-07-05 20:01] nebajoth commented on #6662
Unfortunately this seems to have broken it more (in that I cannot get a functional rocketchat server when I revert to the way things were before attempting the changes).

[2017-07-05 20:17] waveyuk opened #7424 "User Status "away" not showing in profile panel"
If a user's status is set to away, when viewing their profile in the right-hand profile pane, the orange "away" icon does not show.  It shows correctly for Available, Busy and Offline modes however.

Rocket.Chat Version: 0.57.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: 4.8.1

[2017-07-05 20:17] ml48603 commented on #7420
Thanks!  I created the /var/snap/rocketchat-server/common/uploads 775 root:root directory changed the upload method to FileSystem.  Restarted the MongoDB and RC servers, restarted the RC Linux desktop app and files are now being uploaded to the file system directory.  Thanks a million.

Mark, Saginaw Michigan

[2017-07-05 20:28] ml48603 opened #7425 "PUSH Privacy Settings Not Working"
Rocket.Chat Version:  0.56.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: Build SNAPS 671

From Administration > PUSH Settings > Privacy the following settings are in effect:

Show message in notification FALSE
Show channel/group/username in notification FALSE

Within my user settings > Preferences the setting:
Offline Email Notifications is set to "Every Mention/DM

The resulti

[2017-07-05 21:17] ml48603 opened #7426 "Saving SNAPS Package of a specific version and build of RC for Linux"
Rocket.Chat Version: 0.56.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: Build 671 SNAPS

This is the first version of the RC server that actually triggers audible PUSH notifications to my Cyanogen CM13 Samsung Galaxy S4 smartphone.  I don't want to lose this capability when the next RC build of 0.56.0 is released for SNAPS.

Where can I download RC v0.56.0 SNAPS Build 671 packa

[2017-07-05 21:19] gregs007 commented on #7409
FYI the above does not work. Snap is still refreshing and pulling down the server every few hours. Anyone know how to make it stay at a version? Is there a website I can block?

[2017-07-05 21:22] waveyuk commented on #7420
You're welcome @ml48603

[2017-07-05 21:37] reetp commented on #5191
Rocket v0.57

I'm trying to find a resolution to this so I can add the internal bot to a private channel.

Why is it disabled for Private channels ? (we only use Private within our organisation)

Is there a work around ? Is there a DB entry that could be modified, or an ENV var ?

Could it be made switchable ?

Wondering if this closed bug is related : https://github.com/RocketChat/Rocket.Chat/iss

[2017-07-05 21:44] geekgonecrazy commented on #7409
Sorry for the trouble guys.

Basically.. 0.57.0 came out we released the snap.  Revision 801.  We then had a few people encounter issues with avatars.  So we halted the roll out.

Unfortunately... we didn't stop it in time.  Anyone that had already upgraded to 0.57.0 during the window it was deployed.. was then rolled back to 0.56.0.

Since its listed as the newest snap available... it keeps updat

[2017-07-05 21:49] geekgonecrazy commented on #7402
Any of those experiencing issues with the snaps i'll repost from: #7409

[2017-07-05 21:51] waveyuk opened #7427 "Using Internal Hubot on 0.57.0"
Hi.
I'm a little confused on how to use the new Internal Hubot.  I've created a new directory under /var/snap/rocketchat-server/common/scripts/
In that directory I've placed two scripts... one called `seen.coffee` and `darksky.coffee` (the latter downloaded from https://github.com/github/hubot-scripts/blob/master/src/scripts/darksky.coffee).  In the Scripts To Load field I've entered `seen.coffee,

[2017-07-05 22:09] martman07 commented on #7140
Do you know what file would need to be edited?

[2017-07-05 22:11] martman07 commented on #7140
@sampaiodiego

Do you know what file needs to be edited?  we are running rocket chat on ubuntu 14.04 from a snap and can not seem to find the file.

[2017-07-05 22:11] johnlund commented on #7402
Thank you @geekgonecrazy

[2017-07-05 22:19] waveyuk commented on #7427
Scratch the above!! I figured it out :)

[2017-07-05 22:22] GenericUK commented on #7402
Thanks, `sudo snap refresh rocketchat-server` has now installed Version: 0.57.0 and is working fine.

[2017-07-05 22:32] Scream85 commented on #7172
@sampaiodiego I made the mistake to go from 0.56.0 to 0.57-rc1 with a prod system with 280 users and in use 24 hrs a day. I'm still running 0.57-rc1. So doing any test other than applying a working fix is currently not possible, unfortunately. Is there anything else I can do which won't require downtime and possibly won't break anything else? Thank you!

[2017-07-05 22:50] engelgabriel commented on #7427
For the sake of helping other, what were you doing wrong @waveyuk ? Maybe we can make more clear and add info on the documentation.

[2017-07-05 22:50] #7427 closed

[2017-07-05 22:53] waveyuk commented on #7427
@engelgabriel  I was right clicking the filename in the web page and just downloading it.  This generated a HTML file.  What you have to do is go into the link, copy the script, then paste it into a file, and save it as a .coffee file and then uploading that to the directory I created :)
Simple when you look at the file rather than diving in with blind faith!

[2017-07-05 23:47] trungducnet commented on #7409
When I run this command the second time, after fixing it and got back after a few hours:

**root@manage:~# sudo snap refresh rocketchat-server --revision=801**

And this is an error:
[code]
Who can solve this?

[2017-07-06 03:16] sitexa commented on #4462
In Mac Docker, arising same exception.
`rocketchat_1  |
rocketchat_1  | /app/bundle/programs/server/node_modules/fibers/future.js:313
rocketchat_1  | 						throw(ex);
rocketchat_1  | 						^
rocketchat_1  | MongoError: failed to connect to server [db.27017:27017] on first connect
rocketchat_1  |     at Object.Future.wait (/app/bundle/programs/server/node_modules/fibers/future.js:449:15)
rocketchat

[2017-07-06 03:48] paulrobello commented on #7405
Same here.

[2017-07-06 04:07] achaiah commented on #7384
Hmm well that's the thing, the command hasn't changed since I first started using rocket.chat (v 0.52).  Instead of linking containers directly (because it's brittle as heck) I use a docker bridge network. So the commands in order are:
`docker network create --driver bridge caddynet`
`docker run --name db --network=caddynet --restart=on-failure:10 -v /data/rocket_db:/data/db -d mongo:3.2 mongod --

[2017-07-06 04:13] geekgonecrazy commented on #7384
@achaiah ah I think I got it!

I'm guessing you initially used `rocket.chat:0.52.0`. Then at this point or some other point you might have seitched to `rocketchat/rocket.chat:0.57.0`

https://github.com/RocketChat/Docker.Official.Image/blob/master/Dockerfile#L33 the community managed one there appears to have db in the MONGO_URL

[2017-07-06 05:06] achaiah commented on #7384
Aha, that's it! Strange, I guess I was under the impression that since it was an official image there would be no differences between it and the `rocketchat/rocket.chat:version` build.  I only used rocketchat/rocket.chat build because I wanted to try the latest RC and the "official" release didn't have any RC builds. What would be the best way for me to proceed then?  Should I pass `MONGO_URL=mong

[2017-07-06 06:35] k0nsl commented on #7411
The issue persists in `0,57,1`.

[2017-07-06 07:13] maxdwit commented on #7405
Same here.

[2017-07-06 07:31] chainmueller commented on #7140
@sampaiodiego I thought so. Thank you for your answer.

@martman07 as @sampaiodiego mentioned, you cant change it in compiled state. You have to take the sourcecode, make your changes and build it from source.

Source Code:
https://github.com/RocketChat/Rocket.Chat

And I think these are the two sourcefiles where the changes has to be made. Pls correct me if I am wrong:

https://github.com/RocketC

[2017-07-06 08:03] bbrauns commented on #7417
@MartinSchoeler sorry that I disagree with you :-) but I dont think this a duplicate, because #7385 is strictly about avatars, but with StorageType: FileSystem in 0.57.0 everything file related is broken

[2017-07-06 08:21] gregs007 commented on #7409
@trungducnet When that happened to me, I tried reverting to a previous snap first, then back again and it worked. But it did delete my caddy file and I had to recreate it. Snap 812 is out now, so maybe just the standard `sudo snap refresh rocketchat-server` will do the trick.

[2017-07-06 08:35] himbeere opened #7429 "user cannot login (ldap setup)"
Rocket.Chat Version: 0.57.0
Running Instances: 1
DB Replicaset OpLog: no
Node Version: 4.8.3

Hello Devs.

I have a user who cannot login anymore. He is still logged in via rocketchat app but is not able to login via lets say android app. There he gets the following error:

![img_0594_anon](https://user-images.githubusercontent.com/631865/27902675-d65b2f54-6236-11e7-83fe-561dfb455b7d.png)

Any ide

[2017-07-06 09:14] KonradTUM commented on #2337
Is it possible that someone explains a bit more on how this works?
I need to do this for my rocket.chat server. I needed to reinstall and now i need all the layout settings?

I am running the server under Ubuntu 16.04 with snap.
On my old rocket.chat server I did `sudo snap run rocketchat-server.backupdb`
and copied the backup to the new one and imported like it is explained in the docs `sudo /sna

[2017-07-06 09:49] maxdwit commented on #7429
Possible duplicate of https://github.com/RocketChat/Rocket.Chat/issues/7405

[2017-07-06 10:37] KervyN commented on #7429
Try to disable LDAP Avatar Sync

[2017-07-06 10:37] KervyN commented on #7405
Try to disable LDAP Avatar Sync, worked for us.

[2017-07-06 11:04] TheReal1604 commented on #7421
@ml48603 can you give us more information about the restore / Backup method used?

[2017-07-06 11:21] nORKy54 commented on #7405
Thanks @KervyN ! it works

[2017-07-06 11:34] himbeere commented on #7429
Sync Data is disabled. Is the "Sync User Avatar" active despite of that? Anyways i disabled that switch. Now it looks like this:

![bildschirmfoto 2017-07-06 um 13 30 22](https://user-images.githubusercontent.com/631865/27909141-8b8bdd48-624f-11e7-964c-f3df7a7e9c64.png)

Problem persists.

[2017-07-06 11:41] KervyN commented on #7429
Well, we have sync data enabled so this will not suite your problem.

[2017-07-06 11:42] sampaiodiego commented on #7172
@Scream85 we just released a patch last night which should fix any avatar issue caused either by an `rc` or `0.57.0` version. please give it a try.

if you were using file system as your avatar storage option, you have to set an environmente variable `AVATARS_PATH` with the path you used before you update.

@Majkl578 we're sorry for that.. please update your server to `0.57.1`, since you have the

[2017-07-06 11:44] sampaiodiego commented on #7140
that's right @chainmueller ..

I'll close the issue since it looks like resolved =)

[2017-07-06 11:44] #7140 closed

[2017-07-06 11:46] sampaiodiego commented on #7417
you're right @bbrauns .. reopening

[2017-07-06 11:46] maxdwit commented on #7405
Confirmed @KervyN  Disable avatar sync fixed it for the moment.

[2017-07-06 12:02] sampaiodiego commented on #7385
guys we just released `0.57.1` which should fix any avatar migration issue.

if you were using file system as your avatar storage previous the update, you'll need to set a new environmente variable on first restart to be able to fix the issue. set an env var: `AVATARS_PATH` with the path used for avatar storage.

[2017-07-06 12:08] KervyN commented on #7385
Does anyone know what will happen if multiple instances have different versions?

[2017-07-06 12:24] localguru opened #7430 "emails not listed under Administration/Users on 0.57.1"
Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog: no
Node Version: 4.5

Just installed for testing the official 0.57.1 bundle from the website with a fresh, clean mongodb. Under Administration/Users emails are not listed. The column "email" is empty even if emails are set in profiles.

![rc_email](https://user-images.githubusercontent.com/8544984/27910609-25703cc8-6256-11e7-81c

[2017-07-06 13:00] khobbits commented on #7385
I can confirm that upgrading from 0.57.0 to 0.57.1 does fix my avatars.
(after previously having a broken 0.56.0 -> 0.57.0 migration using gridfs->s3)

[2017-07-06 13:25] himbeere commented on #6604
Seems to be fixed with 0.57.0 here.

[2017-07-06 13:31] #7420 closed

[2017-07-06 13:43] MartinSchoeler commented on #7423
Confirmed on demo and latest develop branch. this happens when the `Merge private groups with channels` preference is set to off.

[2017-07-06 13:58] danieljhochman opened #7433 "Add minimize function to header when using iFrame integration"
When the chat window is integrated as an iFrame, the header should be changed to have a minimize button:
![image](https://user-images.githubusercontent.com/23452628/27914528-223dcffa-626c-11e7-9b03-a31e018589be.png)

The right side menu will also start below the top header (see #7434 ).

[2017-07-06 14:01] danieljhochman opened #7434 "Align right side menu with chat window (not header)"
The top of the right side menu should be aligned with the chat window and not the header bar. This will allow for adding a minimize button in iFrame mode (see #7433)

[2017-07-06 14:03] danieljhochman opened #7435 "Add an "X" to easily close menu windows"
![image](https://user-images.githubusercontent.com/23452628/27914823-feae97c6-626c-11e7-97b3-162307086773.png)

Should be added to every menu screen since clicking the menu icon to close is not intuitive at all.

[2017-07-06 14:05] danieljhochman opened #7436 "Create an option to go straight to direct message when clicking on a user's name"
Right now, when you click on a user's name it goes to the profile page. Many users will prefer to go directly to chat with that user.

[2017-07-06 14:07] k0nsl commented on #7412
I have never been able to get this to work as well. I run my own IRC network using `charybdis` as IRCd.

If anyone would like to try using my IRC network, then please go ahead. You can get a random server by connecting the `irc.k0nsl.org` round robin, running on standard port 6667 and SSL on port 6697.

[2017-07-06 14:45] josephmiller2000 commented on #7396
here is the ERROR what i get from log

[34mI20170706-10:43:01.887(-4) Empty Room for Subscription { _id: 'ugFEkqmLHHgn498qe',   rid: 'HY2t5uju2D9EpzSAcSWoekCbosJWCbfSsc',   name: 'bigman',   t: 'd',   open: true,   alert: false,   unread: 0,   u: { _id: 'HY2t5uju2D9EpzSAc', username: 'Chodomuje' },   _updatedAt: Wed Jul 05 2017 04:00:18 GMT-0400 (EDT),   ls: Wed Jul 05 2017 04:00:18 GMT-0400 (EDT

[2017-07-06 15:02] ml48603 commented on #7421
RC=RocketChat

I followed the procedure published in the RC online docs for backup after having uninstalled SNAPS with RC and reinstalling after experiencing RC server crash with attempted automatic update to Build 0.56.0 SNAPS Build 801.
1) # snap run rocketchat-server.backupdb
2) # cd /
3) # tar -zxvf /mnt/nfs/Backup-RocketChat/backup.tar.gz
Files are stored in /var/snap/rocketchat-server/671/du

[2017-07-06 15:32] ml48603 opened #7437 "Administrative settings are not restored by MongoRestore"
Rocket.Chat Version: 0.56.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: SNAPS Build 671

RC Server crashed on a Ubuntu 16.04.2 LTS x64 server installation and RC was completely reinstalled, including the SNAPS environment.  The procedures used are from RC Docs website:
https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps

MongoDB Backup was performed with
# sn

[2017-07-06 15:59] Fscape opened #7438 "Emails not working since 0.56.0 (now "Invalid login")"
Emails stopped working in 0.56.0 -- "Self-signed certificate" error.
Server is using a Let's Encrypt cert.

Waited to try enable IgnoreTLS option in 0.57.0 -- now I'm getting an "Invalid login" error.
The login is correct (not edited since it was working pre 0.56.0).
Server has been restarted.

Not sure what I'm missing here... Would appreciate any help or direction.
Thanks

Exception in defer cal

[2017-07-06 16:02] geekgonecrazy commented on #7426
@ml48603 the whole idea of snaps is that its easy for you to install and it auto updates.  I believe if you check history in the [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) you'll find where another user as managed to download for purely offline use of Rocket.Chat.  Maybe that will be of use to you.

As to the issues described... please open an issue if you loose notifications bet

[2017-07-06 16:02] #7426 closed

[2017-07-06 16:03] geekgonecrazy commented on #7419
@mzambretti can you run: `sudo journalctl -u snap.rocketchat-server.rocketchat-caddy` and see what logs you can find there?

[2017-07-06 16:10] geekgonecrazy commented on #7409
@trungducnet yes i'd try a standard refresh.  if you still have problems please feel free to join [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) and we can try and debug in a bit more real time.

[2017-07-06 16:14] geekgonecrazy commented on #7384
@achaiah best way forward would be exactly as you said to specify the environment variable.

I would always recommend to use an environment variable to set the path and never to rely on environment variable set.

As to correcting it... Problem is now changing it will result in more cases like your very own.

I'll create a ticket for unifying connection strings.

[2017-07-06 16:14] #7384 closed

[2017-07-06 16:16] geekgonecrazy opened #7439 "Unify connection strings amung deployment methods"
It seems cases like our official docker image has a differing connection string then the docker image build via our CI.

Ref #7384

[2017-07-06 16:22] geekgonecrazy commented on #6662
I would very very strongly recommend not manually changing the links your self if at all possible.  This could mess up snapd's process.  In the future I would recommend using `sudo snap refresh rocketchat-server`  Or `sudo snap refresh rocketchat-server --revision=801`

Though note.. if the latest in the stable channel is 671 its going to install 671 next release.

But this should no longer be hap

[2017-07-06 16:24] geekgonecrazy commented on #7402
This topic kind of got hijacked by snap related discussion.  So I will go ahead and close if.  Original Poster still has issues feel free to re-open or mention me and I can continue to try and help you.

[2017-07-06 16:24] #7402 closed

[2017-07-06 16:27] geekgonecrazy commented on #7332
sorry i'm used to using that term for any certifact not considered valid.  Which generally is self-signed.  But in your case its just because it doesn't trust the CA.  So if you add the CA as trusted to mobile, it should work.

Easy way to test this is to access via your mobile browser.  If your browser gives the warning screen.  Then the mobile app also isn't going to work.

[2017-07-06 16:29] geekgonecrazy commented on #6926
Alright guys... This issue should now be resolved with 0.57.0

If you use sticky sessions it will simply upload to the same instance you are connected to and everything is fine.

If not using sticky and upload happens to hit a different instance then what you are on.  We now proxy the request over.

Thanks everyone for helping contribute information to this thread.  Very helpful

[2017-07-06 16:29] #6926 closed

[2017-07-06 16:31] rafacamargo123 opened #7440 "Feature request: change limits of search results"
Rocket.Chat Version: 0.56.0
Running Instances: 4
DB Replicaset OpLog: Enabled
Node Version: v4.5.0

The Search on the main page is limited to 5 results only and there is no parameter to change this setting.

It would be nice if this value could be changed globally, like a new parameter on Administration page.

Thank you

[2017-07-06 16:34] mzambretti commented on #7419
Hi @geekgonecrazy !

jul 06 00:22:41 sardinha /usr/bin/snap[7021]: cmd.go:114: DEBUG: not restarting into "/snap/core/current/usr/bin/snap" ([VERSION=2.24 2.24]): older than "/usr/bin/snap" (2.25+16.10)
jul 06 00:22:43 sardinha snap[7021]: Activating privacy features...2017/07/06 00:22:43 [chat.oxipira.br] failed to get certificate: acme: Error 429 - urn:acme:error:rateLimited - Error creating
jul

[2017-07-06 16:43] k0nsl opened #7441 "Add message about enabling JS?"
What do you all think about adding a message about enabling JavaScript similar to what Mattermost does? I can only imagine that, for very novice users, that the loading screen -- with JS disabled -- appears as if it is loading indefinitely -- while really that's not the case at all and that the user just have to enable JavaScript, or whitelist the domain subsequently enabling JavaScript.

Sometime

[2017-07-06 16:55] WebSavvyGuy opened #7442 "Another Exploit to crash browsers"
Rocket.Chat Version: 0.56.0
Running Instances: 1
DB Replicaset OpLog:
Node Version:

Have a situation where a user was scrolling hundreds of blank messages and locking up everyones browsers.   He started off his message with a bunch of "@ here "

<img width="1537" alt="screen shot 2017-07-06 at 12 53 39 pm" src="https://user-images.githubusercontent.com/24284360/27922804-4a6eb196-624a-11e7-98b5-ae

[2017-07-06 17:35] WebSavvyGuy commented on #7442
If anyone knows a way to permanently block "@ here" from being used that would be very helpful.  This loser is non stop doing it.

[2017-07-06 17:37] geekgonecrazy commented on #7419
@mzambretti it looks like you've hit the rate limit from letsencrypt:

[2017-07-06 17:38] mzambretti commented on #7419
hum.. so, do you know can I fix it?

[2017-07-06 17:51] localguru commented on #7442
How can I reproduce it? Did some tests with 0.57.1, but can't reproduce it.

[2017-07-06 17:56] WebSavvyGuy commented on #7442
I have no idea how to but its happening now even with the @ blocked.  Constant flooding and locking up the browser.

I am on 0.56.0 though so not sure that makes a difference.

[2017-07-06 17:59] geekgonecrazy commented on #7419
The timeout is something around an hour.  So I would edit your caddy file and add http://yoursite

That'll stop it from trying to get an ssl cert.

Then.. while you wait on the rate limit to expire.. Make sure your site is publicly accessible at the domain your specified.  Because during the letsencrypt process it serves a file up at http://yoursite to verify you are in control of that domain.  So

[2017-07-06 18:20] WebSavvyGuy commented on #7442
He is using

@here @here @here @here @here @here @here <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><

[2017-07-06 18:21] lucasvanhalst commented on #7385
I can also confirm 0.57.1 sort off works, but not completely. I have 58 users, it migrated 48 avatars. Those remaining 10 users now have a blank avatar.
The migration also ignored the AVATARS_PATH parameter and uploaded the files in the folder used for uploads instead.

[2017-07-06 18:27] soporteSL commented on #6662
@geekgonecrazy
Thank you for the advise, I killed all proceses before doing the change.

[2017-07-06 18:34] localguru commented on #7442
He is posting just a @here message with I guess the maximum allowed message size. Try to reduce the "Maximum Allowed Message Size".

[2017-07-06 18:41] WebSavvyGuy commented on #7442
He is able to continuously log in as different guest names and even some of his names show up blank on the screen (see screenshot).  I have the maximum allowed message size all the way down to 20 and its not helping

<img width="1491" alt="screen shot 2017-07-06 at 2 39 33 pm" src="https://user-images.githubusercontent.com/24284360/27927253-270235ac-6259-11e7-8d8f-ce5faf2ba129.png">

[2017-07-06 18:45] localguru commented on #7442
aside from the issue what do you expect on a site you are providing ;)

[2017-07-06 18:47] WebSavvyGuy commented on #7442
Excuse me I dont understand? @localguru

Our site provides a place for users to chat.

What am i providing and what does this have to do with the exploit?

[2017-07-06 19:07] localguru commented on #7442
@WebSavvyGuy an anonymous "teen chat" with ads to a dubious live cam site, right. ;) And you are wondering about "losers" hanging on your site? Don't misunderstand me I don't judge you; everybody in his own world. But I guess that's the user base you have to live with.

[2017-07-06 19:11] antiphase commented on #6930
Disabling Avatar Sync seems not to make any difference to this in our case.

[2017-07-06 19:13] WebSavvyGuy commented on #7442
Well nothing illegal on the site I can assure you.   Just bringing up this exploit.

Whether these losers go there or not, the fact is they are still out there and can pounce on anybody's Rocket Chat.    Saying our site attracts them is being a bit naive.   The fact is the exploit is there.   Any half popular site could be easily affected.

If Rocket Chat goes more mainstream that's just the natur

[2017-07-06 19:21] localguru commented on #7442
You are right, if there is a bug, it has to be fixed. I personally don't agree with your project at all, but I'll split up that from the technical site.

[2017-07-06 19:22] WebSavvyGuy commented on #7442
Yes, please do.   You can internet police elsewhere.  Github is definitely not the place.

[2017-07-06 19:42] rodrigok commented on #7405
Anyone can provide a LDAP server for tests?

[2017-07-06 19:43] rodrigok commented on #7405
What happens if you enable the Avatar Sync again?

[2017-07-06 19:53] KervyN commented on #7405
We were not able to log in

[2017-07-06 20:02] paulrobello commented on #7405
Disabling avatar Sync worked for us

[2017-07-06 20:58] MartinSchoeler commented on #7004
Tested on develop and it's working. @Rohlik please reopen this if this issue happens again. Thanks!

[2017-07-06 21:03] MartinSchoeler commented on #6676
Yes fixed by #7404 and #7376

[2017-07-06 21:03] #6676 closed

[2017-07-06 21:39] wcgcoder commented on #7289
Agreed. Some of us tie our instance to external authentication. Maintaining extra accounts is either a major pain or impossible depending on who controls the directory.

[2017-07-07 00:48] cbanal commented on #7172
Installed 0.57.1 on a test machine with a snapshot of the mongo database from when 0.56 was installed and ldap avatars are still missing.

[2017-07-07 01:17] geekgonecrazy commented on #7405
Ok worked a case that also has this issue.  Sync worked fine.  Brought accounts over, logging with email worked.  But logging in with username did not.  Disabling avatar sync was the magic bullet that got it working.

[2017-07-07 05:06] timkinnane commented on #6890
This thinking is a truly massive step forward imo. I wanna thank you all for doing the hard yards on gathering consensus on approach and significant thinking on adoption. I've been looking for this in Rocket.Chat since making my first custom UI extensions in [May 2016](https://github.com/RocketChat/Rocket.Chat/issues/277#issuecomment-222576928) and struggling to maintain private features with the

[2017-07-07 05:22] graywolf336 commented on #6890
@timkinnane Excited to have you on board and we would love your thoughts, as you and I have discussed privately. Good luck reading up on everything and getting up to speed, we would love all your feedback you can give.

Tomorrow I will take a look at the Actions and Filters to see how WordPress approached them as I completely agree, WordPress has done an amazing job with it's approach to being hig

[2017-07-07 05:26] timkinnane commented on #6890
Yes! Some of those slash commands can be kind of embarrassing within a professional context.
I'm looking at you `/lennyface`

[2017-07-07 05:27] graywolf336 commented on #6890
Exactly. ;) The assciiart commands is actually going to be one of my example Rocketlets which I have already started on. :tada:

[2017-07-07 06:35] TheReal1604 commented on #7385
@sampaiodiego 0.57.1 had also resolved my issues with migrating avatars. But its @lucasvanhalst mentioned, 2 of 12 users are now missing their avatar. There are no errors in the log after first start of the instance and running the migration.

[2017-07-07 09:29] megamaced commented on #7166
@goiaba Not yet.

Still doing the workaround of copying the 8b30c08d68fc362b382342c0e204430d16399153.js and package.json from the official build

[2017-07-07 09:50] sasakura-sora opened #7446 "Scrollbar styling only available in webkit"
Rocket.Chat Version:  0.56.0

I would like to be able to style scrollbars across all browsers with the theme capabilities provided by Rocket Chat.

The existing scrollbar styling is done using -webkit only CSS - https://webkit.org/blog/363/styling-scrollbars/
This has no support in other browsers - http://caniuse.com/#search=css%20scrollbar

As webkit-scrollbar is not on a standards track this wou

[2017-07-07 10:04] waveyuk commented on #7310
Hi guys...
Was wondering if this is going to make it into a build any time soon? It's something that definitely needs to be addressed.  Or at the very least (and possibly a better solution to cover all possible permutations) allow the Admin to create custom fields which can be displayed on the profile of the user.  I can see this having many benefits of the latter as people could enter not only st

[2017-07-07 12:46] zw42 opened #7447 "Slack import fails when encountering file upload"
Rocket.Chat Version: 0.57.1 (Ubuntu snap)
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.8.1

Have an issue when importing from Slack: causes an exception when it needs to upload a file. From the log:

`snap[9263]: Exception in defer callback: TypeError: Cannot read property 'get' of undefined
snap[9263]:   at _class.uploadFile (/snap/rocketchat-server/812/programs/server/packa

[2017-07-07 12:48] miguelzabala commented on #7440
+1

[2017-07-07 13:03] #7430 closed

[2017-07-07 13:13] sampaiodiego commented on #7417
@bbrauns have you tried `0.57.2`? we have done a few fixes

[2017-07-07 13:53] cturcich-catasys commented on #6535
Same issue with deleted/recreated user.

[2017-07-07 14:10] antgel commented on #6890
Rocklet > Rocketlet? :D

[2017-07-07 14:23] vishnuprabhu-g commented on #6444
@sampaiodiego Is it merged into Master?

[2017-07-07 14:30] vishnuprabhu-g commented on #6444
Getting some new error -----> Node.js app detected
-----> Listing HEROKU_ environment variables
HEROKU_APP_ID:
HEROKU_APP_NAME:
HEROKU_DYNO_ID:
HEROKU_RELEASE_VERSION:
HEROKU_SLUG_COMMIT:
HEROKU_SLUG_DESCRIPTION:
-----> Installing meteor
Downloading Meteor distribution
Meteor 1.5 has been installed in your home directory (~/.meteor).
Now you need to do one of the following:
  (1) Add "$HOME/.meteo

[2017-07-07 15:18] sampaiodiego commented on #6444
@vishnuprabhu-g no it is not.. until there please overwride the config var `NODE_ENV` with the value `development` (instead of `production`)

[2017-07-07 15:58] Fscape commented on #7438
I've since started using a different mailserver for emails.
If nobody else is having this issue, it can probably be closed
(May be a problem with my mail setup on localhost)

[2017-07-07 16:52] karlprieb commented on #7446
Hey @sasakura-sora we know that and it's sucks 👎
We are redesigning our web client and will use an JS solution to the new scroolbars :)

[2017-07-07 17:18] geekgonecrazy commented on #7132
For the record when starting via meteor you will need to do: `meteor --mobile-server=http://your-ip:3000`

[2017-07-07 17:18] #7132 closed

[2017-07-07 17:48] watou commented on #7419
I just had these symptoms, only to discover that I had forgotten that certbot needed me to leave open ports 80 and 443 on the firewall for the certificate renewal process.  I had closed off ports 80 and 443 after setting everything up, which was fine until it came time to renew the certificate.  I tried to switch to DNS challenge instead but the certbot in caddy was too old to support my DNS provi

[2017-07-07 19:15] geekgonecrazy commented on #7419
@watou do you have a reference for it being too old?  would love to take a look :+1:

[2017-07-07 19:20] graywolf336 commented on #7447
@sampaiodiego @rodrigok this is broke because of the change to file uploads.

[2017-07-07 19:22] watou commented on #7419
@geekgonecrazy That caddy is too old is an assumption on my part, based on seeing this in the log:

[code]

[2017-07-07 19:37] sampaiodiego commented on #7447
@graywolf336 yes, it looks like.

@zw42 what file upload storage are you using?

[2017-07-07 19:44] zw42 commented on #7447
@sampaiodiego using GridFS, also tried FileSystem but the same issue persisted

[2017-07-07 21:17] cdhowie opened #7449 "S3 file upload support no longer works after upgrade to 0.57.1"
Rocket.Chat Version: 0.57.1
Running Instances: 2
DB Replicaset OpLog: Enabled
Node Version: v4.8.3

After upgrading to 0.57.1, all file uploads fail with the message "invalid-store".  Changing the file storage backend from S3 to something else and then back resolves the problem until the Rocket Chat service is restarted, and then uploads fail again.

There are no log entries to indicate why this m

[2017-07-07 21:31] geekgonecrazy commented on #7419
ah.. yeah a dynamic dns provider.  I'm guessing letsencrypt its self doesn't support authenticating with dyn.

[2017-07-07 21:40] watou commented on #7419
The [caddy docs](https://caddyserver.com/docs/automatic-https#dns-challenge) say they support a DNS challenge, and link to their [github repo](https://github.com/caddyserver/dnsproviders) listing all the DNS providers supported, including [dyn](https://github.com/caddyserver/dnsproviders/tree/master/dyn).  I don't know how that repo is part of caddy or why I got the error message above.

[2017-07-07 22:00] sc10n commented on #7405
I have disabled Avatar sync and my ldap users are still unable to log in. I am getting the following in my log:
[code]
I am on 0.57.1.

[2017-07-07 22:25] k0nsl commented on #7411
I decided to try downgrading back to `0.56.0` (which sported a fully functional Minio integration) but any uploads results in the following:

[![0x0f.su image hosting](https://f.0x0f.su/pIDginKTrEjieZi_Selection_011.png)](https://0x0f.su)

When I re-enabled file uploads I restarted the server, but it still only yielded the same result as shown in the screenshot.
The log claims `InvalidAccessKeyId`

[2017-07-07 23:32] k0nsl commented on #7449
Please see:
https://github.com/RocketChat/Rocket.Chat/issues/7411

[2017-07-07 23:56] cdhowie commented on #7449
@k0nsl The error message is different, and there is nothing logged, contrary to statements made on that issue. This leads me to believe the issues are not exactly the same.

[2017-07-08 11:13] localguru commented on #795
Is there anything going on in this direction?

@geekgonecrazy is the above workaround on database level "secure" or could that cause inconsistency, e.g. files attached to a post left in database?

[code]

[2017-07-08 12:23] andypost commented on #7438
same here for me, mail server using custom cert and new option https://github.com/RocketChat/Rocket.Chat/pull/7084 always gives "Invalid login"

[2017-07-08 16:10] JeromeJ opened #7450 "Markdown Codeblock double-escaping"
Rocket.Chat Version: 0.56.0
Running Instances: 1
DB Replicaset OpLog: ???
Node Version: 4.8.2

I'm aware I used the Markdown wrongly, but it seems the langage's name is being parsed twice.

I narrowed down the issue is probably happening around [here](https://github.com/RocketChat/Rocket.Chat/blob/2d8aa63bc383c7cf3c40720787f7d8c26bd1bd0d/packages/rocketchat-markdown/markdowncode.js#L65).

Screensh

[2017-07-08 16:33] l0k1-smirenski opened #7451 "Enable users blocking DM"
There is no user-level blocking. Moderators can mute users in rooms, but users cannot mute other users in DM. This gives users no effective way to deal with trolls properly.

[2017-07-08 16:33] l0k1-smirenski opened #7452 "please enable room administrators to disable website previews"
please

Rocket.Chat Version:
Running Instances:
DB Replicaset OpLog:
Node Version:

[2017-07-08 17:42] lucasvanhalst commented on #7451
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/7452 and you can already do that, search for the 'embed link previews' option

[2017-07-08 19:06] reetp commented on #6821
Last night I finally got an error free build but not tested it yet.
I'll post my notes later, and I have a number of questions too.... stuff I did but don't really understand!

[2017-07-08 19:10] l0k1-smirenski commented on #7451
search... where?

[2017-07-08 19:11] #7452 closed

[2017-07-08 20:18] Epicanis commented on #251
Even enabling the prepending/appending of geo: URIs ( https://tools.ietf.org/html/rfc5870 ) would suffice for message geolocation, I think. Geolocated channels would be nifty, too, but I'm guessing that's slightly more involved to implement.

(I saw "geolocation" as a supported feature, spent too long trying to figure out why it wasn't working for me and where the "geolocation" feature toggle was

[2017-07-08 21:25] reetp commented on #6821
I took a look in the file
example-build.sh

With that I did the following:

curl https://install.meteor.com/ | sh
meteor npm install
cd ~/git/Rocket.Chat/packages/rocketchat-katex
npm install
cd ../..
mkdir ~/rocketbuild
meteor add rocketchat:internal-hubot
meteor build --server https://chat.myserver.co.uk --directory /home/me/gittest/build

That installed the katex fonts packages and then did a b

[2017-07-08 21:36] reetp commented on #6821
This builds a tar.gz file (finally !):
meteor build /home/me/gittest/build

This builds the code in directories - same structure as the extracted tar.gz I think:
meteor build --server https://cat.myserver.com --directory /home/me/gittest/build

Still like to know about the build directives. I just found this
https://stackoverflow.com/questions/41942329/meteor-build-server-vs-root-url

So --server

[2017-07-08 22:11] danieljhochman opened #7453 "Improve UI of header when using iFrame integration (add arrow button to pop-out)"
A 2nd enhancement related to #7433 is the ability to pop-out the integrated iFrame to a new window (in essence taking it out of iFrame mode). The button could be to the left of the minimize button.

[2017-07-08 22:22] reetp commented on #6821
Ahhh OK, bit more. I built it but when I ran it the server complains of missing modules.

Add this to find missing modules in the build directory:
https://www.npmjs.com/package/npm-install-missing

npm install -g npm-install-missing

Within your project directory:
npm-install-missing

I think it is all well and good if you have a fully setup node build environment. You do not have to think about d

[2017-07-08 23:07] geekgonecrazy commented on #6821
To build and run:

[code]

Once you have the bundle instructions are exact same as any of our instructions.

[2017-07-09 01:03] reetp commented on #6821
@geekgonecrazy Thanks for that. Note that this is to build for running on a different server, not on my build server ( I have a box I use just for building packages). So I need a tar.gz and then to copy that elsewhere (or build into an RPM)

Ran your commands.

[me@buildserver Rocket.Chat]$ meteor npm -i

Usage: npm <command>

where <command> is one of:
'blah'

npm@4.6.1 /home/me/.meteor/packages/

[2017-07-09 01:13] gromain commented on #918
Hey everyone,

I have a preliminary version working well, the CSS may need a good bit of cleanup.
I'll put up a PR tomorrow I think.

Please, give your opinion regarding the questions in my previous comment:
- Should there be a complete compatibility with Github Flavored Markdown, or should we conform to CommonMark or a subset of both?
- How are we going to treat the fact that the syntax is evolvi

[2017-07-09 01:42] rodorgas commented on #3308
There's no support for markup on Notifications API, so this is expected.

[2017-07-09 04:46] l0k1-smirenski commented on #7451
I'm sorry, I meant to be posting the issue about blocking DM... No, it's not possible. Administrators can mute users in a room but DMs cannot be blocked.

[2017-07-09 13:04] gromain commented on #918
I created the PR related to this issue.
Please have a look and comment!

[2017-07-09 13:27] l0k1-smirenski commented on #7451
I discovered how to use this feature. Closing.

[2017-07-09 13:27] #7451 closed

[2017-07-09 13:29] sugen opened #7455 "files can not remove from db"
Rocket.Chat Version: 0.57.1
Running Instances: centos

when i upload the file to the system by rocket chat, but i want to remove it , when i remove it , the screen was removed but the mongodb still has it , the file have not remove from the db, so how to remove it both?

[2017-07-09 16:23] pkgodara commented on #7455
WIP #7383 .

[2017-07-09 17:40] n30ngruu3n commented on #5797
Still persistent in 0.57.1 (already german language settings)

[2017-07-10 00:38] sitexa opened #7457 "need help -- cannot run"
Rocket.Chat Version: 0.57.1
Running Instances:
DB Replicaset OpLog:
Node Version: v8.1.3
Meteor Version: 1.5
OS Version:  Darwin Kernel Version 16.6.0
Master branch

debug.log::
`
0 info it worked if it ends with ok
1 verbose cli [ '/Users/open/.meteor/packages/meteor-tool/.1.5.0.edxpxb++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/bin/node',
1 verbose cli   '/Users/open/.mete

[2017-07-10 01:01] timkinnane commented on #3308
Is it not possible to parse desktop and email notifications through the same methods as message stream rendering, to include html converted from markdown? Obviously wouldn't work for push notifications, but email at least could be consistent.

[2017-07-10 01:23] timkinnane opened #7458 "Add and promote adoption of code ownership"
There's a new Github feature to identify code owners, for big projects with lots of contributors.
https://github.com/blog/2392-introducing-code-owners

I think it would be highly beneficial for Rocket.Chat to add some owners for the various packages and core code where there's a specific team member responsible. It's quite common for someone to ask about a specific area and get bounce around while

[2017-07-10 06:33] bbrauns commented on #7417
its just the same....I can reproduce the error with the following steps:
- Host:
[code]
- Steps:
[code]
- Register account and login first time
- upload files -> that works
- go to settings - file upload - set storage type to: filesystem
- upload file -> does not work

[2017-07-10 07:11] gerricom opened #7459 "Bug in chat.update API call"
Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3

* * *

I'm using some of the API calls of Rocket.Chat to send and update status reports from our CRM. For one of this reports, it is necessary to update existing messages in Rocket.Chat and this is currently not working.

I'm trying to send the following request:

[code]

And I get the following ans

[2017-07-10 09:47] nitinjiniguru opened #7460 "rocket chat new collection created but not working for real time update"
Rocket.Chat Version: 0.56.0
DB Replicaset OpLog: Enabled
Node Version:4.8.2 - x64

I have created a new collection . and created page for the list of the data of that page

collection : sample_collection

created model for the collection named : sampleCollection

in server side i have created a file inside the rocketchat-lib and also publish the method.

`Meteor.publish('sampleData.all', function

[2017-07-10 10:02] lucasvanhalst commented on #7457
Use node 4.x and it should work. Anything higher is not supported

[2017-07-10 12:43] MartinSchoeler commented on #7459
Maybe a message with a attachment is causing this? Since only files with attachments have the `description` property

[2017-07-10 12:46] gerricom commented on #7459
Ok. This is a message without an attachment - so this might be the problem here.

[2017-07-10 12:47] naguchennai opened #7461 "How can i get Realtime Msg via php"
https://rocket.chat/docs/developer-guides/realtime-api
It sis possible get room message via php in realtime?
php websocket not conected rocket chat server.. any php websocket code?

[2017-07-10 13:39] pedroxim commented on #7405
After disabling avatar, it works but lost our pictures :-(

[2017-07-10 14:22] TwizzyDizzy opened #7462 "Upload of application/zip file with non-".zip" extension leads to JS error"
Rocket.Chat Version: 0.57.1 + 0.56.0 (tested on both, the former is the dev environment, the latter is the corresponding live environment)
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: 4.8.3

Upload of filetype *.sketch* fails. This seems to be a normal zip file with the extension ".sketch".

The mime-type *application/zip* is enabled for uploads. If the attached .sketch file (e

[2017-07-10 14:31] localguru commented on #7438
I can't confirm here with a "vanilla" sendmail offering no TLS/SSL. Curiously it's working with IgnoreTLS set fo false or true.

[2017-07-10 14:36] gdelavald commented on #7450
This should be fixed on 0.57.

[2017-07-10 15:22] sampaiodiego commented on #7417
@bbrauns you **need** to set the `System Path` for `FileSystem` uploads. in your example it should be `/data/upload` (which you have mapped a volume)

[2017-07-10 15:55] SCBuergel opened #7463 "Onboarding of guests (assign `guest` role by default)"
We would like to onboard guest users (students from a course) to a specific channel only. In order to do that I am currently facing a bunch of hurdles in the following process:
- students register via rocket registration website -> working fine
- I manually activate them -> this is fine but
**Issue 1:** now they are having the default `user` permission level for a short period which I do not want

[2017-07-10 16:10] graywolf336 commented on #7459
`{ parseUrls: false }`

[2017-07-10 16:35] geekgonecrazy commented on #795
@localguru I think it'd leave orphaned files :(  if using gridfs you could likely add the index there as well.  If you are using a object store on s3 / file system or others.. It'd leave the file there.

[2017-07-10 19:15] Marx1st commented on #2737
+1
Push

[2017-07-10 22:36] soundstorm commented on #7172
@sampaiodiego worked for me - at least for FS migration. Seems like LDAP is another construction side?

[2017-07-10 22:36] #7172 closed

[2017-07-10 23:41] Garen commented on #4542
Active Directory (AD) is similar in that it has a limit, but it's 1000 (not 500) by default.

@hExPY  where did you add the 'sizeLimit' option?   I can see that it's an option in the ldap.js docs here:

http://ldapjs.org/client.html

As well as the paged property, but didn't see any way to set those options from the UI in the LDAP section or from a custom JSON property/value.

[2017-07-11 02:31] dan-chris commented on #3830
Any updates on this?

[2017-07-11 02:44] KVSocial commented on #658
following - would love to see this feature.

[2017-07-11 03:13] ccfang commented on #3402
@lewyg Also works for me for .png logo, thanks a lot.

Test on Android and iOS app built from Cordova, Rocket.Chat version `0.57.1`

[2017-07-11 06:27] bbrauns commented on #7417
thx @sampaiodiego I should have checked that setting...

[2017-07-11 06:27] #7417 closed

[2017-07-11 06:50] N4IR0 commented on #7401
I have found out that this issue only appears if the inter-connect between the instances is going through https. If we speak plain http between the instances the desktop notifications are working.

So maybe SSL support for inter-connection should be implemented.

[2017-07-11 06:54] N4IR0 commented on #6341
It seems that SSL is not fully supported for the inter-connection.

[2017-07-11 07:12] TheReal1604 commented on #7385
@sampaiodiego upgraded another env, it seems that there is an issue with jpegs?

[code]

[2017-07-11 07:37] gerricom commented on #7459
Thanks, @graywolf336!

[2017-07-11 08:17] naguchennai opened #7464 "Explain api channels.archive"
https://rocket.chat/docs/developer-guides/rest-api/channels/archive

Any one explain what is this? why is this?

[2017-07-11 08:29] rdutina commented on #7381
Where I can find Rocket.Chat releases for Windows Server 2012?

[2017-07-11 08:49] gerricom opened #7465 "Allow configuration of UploadFS"
I ran into a little problem with our current hoster. I'm using the german [uberspace](https://uberspace.de) project for hosting a Rocket.Chat instance for our little team of seven users. Everything runs quite smoothly in this environment but file uploads are an issue here.

UploadFS uses in its standard configuration a temporary dir located at `/tmp/ufs/...`. Uberspace encourages you to use a loca

[2017-07-11 09:46] sitexa commented on #7457
After I set node version to v4.5.0, Rocket.Chat still refuse to work.
Exception from console:
[code]
 and the log file:
[code]

[2017-07-11 10:25] takavfx opened #7466 "Add option to display full name in mentions"
Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.2

The new feature "Show full name in mentions if use full name setting enabled" on v0.57.0 is partially good, I think. But when we set the name much longer and when we mention by using user ID, this implementation is conversely confusing and make users feel annoyed.
Could you please make option for t

[2017-07-11 10:35] TheReal1604 commented on #7401
@N4IR0 how do you set that the connection is done via ssl? We have an really identical setup for our rocket.chat cluster, but set the "Instance-IP" to the corresponding LAN-IP of the webserver. Did you checked this? If i remember right, they connect through Port 3000 to each other. Our Desktop Notifications are working fine.

[2017-07-11 10:36] martinvonwittich opened #7467 "Rocket.Chat mangles number in code block"
Rocket.Chat Version: 0.56.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

I just pasted the following code block into Rocket.Chat:

[code]

I would have expected Rocket.Chat to display the result like this:

[code]

But for some reason, the 2 of 236M is missing and it is displayed like this?!

[code]

I was able to reproduce this issue on https://demo.rocket.chat/channel

[2017-07-11 10:45] N4IR0 commented on #7401
@TheReal1604 I have not found an option to enable SSL for the inter-connection. We had set port 443, so they tried to connect through port 443 and for this SSL is enabled in NGINX, but that did not work. We also set the external ip of the instance as "INSTANCE_IP". They connect to the port you enter in the environment variable "PORT" which is also the internal port in the docker container. Current

[2017-07-11 11:17] sitexa commented on #7457
I get it work now. It's not node version limit, but the MacOS ulimit isse. https://gist.github.com/abernix/a7619b07b687bb97ab573b0dc30928a0

[2017-07-11 11:17] #7457 closed

[2017-07-11 11:47] sampaiodiego commented on #7172
yes @soundstorm , LDAP is a different issue. thx

[2017-07-11 11:48] sampaiodiego commented on #7385
@TheReal1604 are you getting this on regular uploads or just during the migration?

[2017-07-11 13:04] TheReal1604 commented on #7385
Doesn't tested uploads, this one was during the migration. @sampaiodiego

[2017-07-11 13:09] MartinSchoeler commented on #7464
It is a api call for archiving channels, archiving a channel marks it as read only and then removes it from the channel list on the left side nav.

[2017-07-11 13:09] #7464 closed

[2017-07-11 14:05] MartinSchoeler commented on #485
@engelgabriel managed to reproduce this bug on the cordova app for android

[2017-07-11 14:11] frdmn commented on #7405
[`@ranga`](https://demo.rocket.chat/channel/support?msg=nrBKj8oxFBaWY5EE3) in the demo platform was affected by this as well:

<img width="882" alt="bildschirmfoto 2017-07-11 um 16 07 46" src="https://user-images.githubusercontent.com/944459/28072399-261bd19a-6653-11e7-8f7c-588eac06892b.png">

As well as [`@bad-bb`](https://demo.rocket.chat/channel/support?msg=iEsSbKHHoPqGnhQZL):

<img width="1156

[2017-07-11 14:23] wgfreitas commented on #4961
Any news about that? Thanks.

[2017-07-11 14:29] childnode commented on #601
while I was looking for this and indeed was very confused because I thought rocket.chat is already based on matrix (but isn't?!):
aside the "official" bridge [announced](#issuecomment-157497768) by @illicitonion another bridge out in the wild comes from @exul https://github.com/exul/matrix-rocketchat
also Google Summer of Code adresses this https://rocket.chat/docs/contributing/google-summer-of-co

[2017-07-11 14:37] MartinSchoeler commented on #6140
Could this be happening because of the coffeescript conversions?

[2017-07-11 14:42] MartinSchoeler commented on #5997
@garychapman #7190 should have fixed this, could you test it again in the latest release? Thanks!

[2017-07-11 14:51] Marx1st commented on #3624
Confirmed, same in 0.57.1

[2017-07-11 15:24] herste commented on #7385
we have a fresh install of 0.57.1 and the login problem persists - meaning: as soon as we have the avatar sync option turned on, users cannot log in. users that are already logged in get all avatars displayed as they are stored in the LDAP directory. But logging out such a client and trying to re-login fails.
From the logs:

LDAPSync ➔ info Syncing user avatar

After that, no more info on this log

[2017-07-11 19:05] wohali opened #7470 "Cannot set new user Avatar via file upload"
Rocket.Chat Version: 0.57.1 (Dockerized)
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.1

History: We upgraded from `0.56 -> 0.57.1` (no RCs) via `docker pull` and avatars failed to migrate. I applied the workaround from #7172 (`AVATARS_PATH=/app/uploads` and `MIGRATION_VERSION=99,rerun`) and was able to get avatars to migrate correctly. We are using FileSystem for File Upl

[2017-07-11 21:07] sampaiodiego commented on #7429
@himbeere can you please try please enabling `Merge existing users`?
![image](https://user-images.githubusercontent.com/8591547/28090729-b1064dca-6663-11e7-97d9-5095529c2394.png)

[2017-07-11 21:07] sampaiodiego commented on #7405
@nORKy54 can you please try please enabling `Merge existing users`?
![image](https://user-images.githubusercontent.com/8591547/28090729-b1064dca-6663-11e7-97d9-5095529c2394.png)

[2017-07-11 23:00] sitexa commented on #6566
Rocket.Chat Version: Last commit
Running Instances: 1
DB Replicaset OpLog: No
Node Version: 4.8.4

[code]

[2017-07-12 00:05] kpcyrd opened #7473 "(•) Rocket.Chat may currently be slowing down Firefox."
When monitoring `about:performance` in firefox, my rocketchat tab periodically switches from `(•) Rocket.Chat currently performs well.` to `(•) Rocket.Chat may currently be slowing down Firefox.`.

I'm not sure what's the reason for this, but it seems rocketchat periodically keeps my content process busy, which freezes all tabs in the current 1-content-process-if-addons-enabled model of firefox.

[2017-07-12 00:31] kpcyrd commented on #7473
Maybe I should add: I'm in some very large rooms, it might make sense to reduce the number of messages that are loaded in the backlog, as those might slow down the browser. Is this value configurable?

[2017-07-12 00:38] edwardmuel commented on #7467
Seems to only happen with specific languages.

![image](https://user-images.githubusercontent.com/15653318/28096690-bb8f2950-6678-11e7-9595-98f6b86d962e.png)

Could possibly be an issue with highlight.js: https://github.com/isagalaev/highlight.js/issues/1566

[2017-07-12 01:53] garychapman commented on #5997
Looks good to me!

[2017-07-12 01:53] #5997 closed

[2017-07-12 06:50] himbeere commented on #7429
@sampaiodiego I am a little worried about that. Are the ldap passwords synced to the mongodb then? And if so, are they encrypted?

[2017-07-12 07:15] lucasvanhalst commented on #7473
This boils down to issue #31 which still hasn't been addressed, even though it is very important :(

[2017-07-12 07:20] EzailRak commented on #7173
Hi, I added some images in the public folder in dev mode, and now I would like to mount my rocketchat application with example-build.sh but I have an error similar to localguru.
Sorry for my bad english :)

[2017-07-12 09:11] lhaig commented on #6140
I have had the same errors after my initial one
`TypeError: Cannot read property 't' of undefined
  at [object Object].<anonymous> (/app/bundle/programs/server/packages/rocketchat_lib.js:3912:15)
  at Streamer.isReadAllowed (/app/bundle/programs/server/packages/rocketchat_streamer.js:343:38)
  at [object Object].<anonymous> (/app/bundle/programs/server/packages/rocketchat_streamer.js:478:16)
  at

[2017-07-12 09:20] sasakura-sora opened #7474 "iframe allow set document.domain"
Rocket.Chat Version:  0.56
Running Instances: 2+
DB Replicaset OpLog: enabled
Node Version: 4.5.0

This requires RC to be running in an iFrame.  The URL structure looks like this:
Main page: www.example.com
RC iFrame: chat.example.com
iFrame domain set onload to value: example.com

In Administration -> Layout -> Custom Scripts:
Custom Script for logged in users:
`document.domain = "example.com;"`

[2017-07-12 10:04] hExPY commented on #4542
Hi @Garen,

i added the sizeLimit option in the ldap settings not in rocketchat.

Kind regards,

[2017-07-12 10:06] raelsan opened #7475 "Phantomjs error on "meteor add rocketchat:internal-hubot meteorhacks:kadira""
Rocket.Chat Version: 0.55.0-develop

Hi !

I got troubles when I install Rocket.Chat.
When I used "meteor add rocketchat:internal-hubot meteorhacks:kadira", I have this error :

npm ERR! node v4.7.3
npm ERR! npm v4.1.2
npm ERR! code ELIFECYCLE
npm ERR! phantomjs@1.9.20 install: node install.js
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the phantomjs@1.9.20 install script 'node install.js'.

[2017-07-12 10:09] hExPY commented on #4542
We updated a day ago to Version 0.57.0 and now it works like charm.

Thank you guys.

[2017-07-12 10:40] TwizzyDizzy opened #7476 "State of Rocket.Chat?"
Hi folks,

at first: this issue is NOT intended to spread [FUD](https://de.wikipedia.org/wiki/Fear,_Uncertainty_and_Doubt) or misinformation. It is motivated by a serious concern about what the current state of Rocket.Chat is. These are my observations:

* as of now: 1967 open issues. Such an amount of open issues is not practical
  * to handle for you as developers
  * to handle for somebody who

[2017-07-12 10:58] antgel commented on #7476
Fair comment. I don't know for sure, but the impression I got is that RC exploded (in a good way), and perhaps the processes are somewhat behind. Interested to see what the team has to say on it - in this agile world, backlog grooming is essential - it never takes as long as one thinks it will, and it pays invaluable dividends.

[2017-07-12 12:11] timkinnane commented on #7476
Hey @TwizzyDizzy I totally agree and raised very similar points in discussion on demo.rocket.chat a while back. I proposed a solution re guidelines that I was going to contribute myself, but I've since been very caught up in another project. Perhaps you can pick it up and draft something with the resources I pointed to? https://demo.rocket.chat/channel/contributors?msg=76tyMwJj937SGjAXk

Another t

[2017-07-12 13:56] mddvul22 commented on #6725
Has there been any progress on this?  We just turned on the setting to use real names (with our ldap server).  And we have also turned on the ldap setting to sync data.  Still some users show as userids in the sidebar, rather than their full name.  If you chat with a person, their full name shows, though.  ulrar said they had to delete conversations to fix this.  However, for some of these people,

[2017-07-12 14:15] mitar commented on #1680
I have finished integrating Tracker with Vue. I think the result looks amazing. There are some internals we could continue improving, but I think that interface for developers works well. [See this comment for more information](https://github.com/meteor-vue/vue-meteor-tracker/issues/3#issuecomment-314778618).

[2017-07-12 15:35] mddvul22 commented on #6725
@alexbrazier I've also noticed this morning that for some users it seems to go back and forth.

[2017-07-12 15:47] #6134 closed

[2017-07-12 16:01] MartinSchoeler commented on #1850
Closing this due lack of updates in a long time, if this bug still exists, please reopen this with updated details. Thanks!

[2017-07-12 16:01] #1850 closed

[2017-07-12 16:07] MartinSchoeler commented on #1914
Closing this for @plutz solution. If the problem persists, please reopen this with updated details. Thanks!

[2017-07-12 16:07] #1914 closed

[2017-07-12 16:09] geekgonecrazy commented on #7020
@matt-jarrett I just grabbed a perma link to clipboard from our community server that's running 0.57.0 and it worked flawlessly.

[2017-07-12 16:25] MartinSchoeler commented on #3864
@svenkey please try to use the bulk register api method. If that doesn't work for you please reopen this. Thanks!

[2017-07-12 16:25] #3864 closed

[2017-07-12 16:27] MartinSchoeler commented on #3439
Closing this issue due lack of response in a long time. If your issue persists after trying the RealTime APIs please reopen this with updated details. Thanks!

[2017-07-12 16:27] #3439 closed

[2017-07-12 16:48] dmitry-sher opened #7478 "Cannot run Dev version of Rocket.chat grain"
Rocket.Chat Version: 0.55, 0.56, 0.57
Running Instances: 0
DB Replicaset OpLog: no
Node Version: not sure
OS: Mac OS X

What we want: we have a version of Rocket.Chat with some added packages, developed in-house (Smooch.io integration, and such). To debug it for sandstorm, we need to run packaging script. When i try to start `vagrant-spk dev`, it's failing multiple times, each time with different

[2017-07-12 18:31] mineZcash commented on #7020
I can also confirm issue is fixed, thanks!

[2017-07-12 19:31] gezims commented on #4489
👍

[2017-07-12 19:41] alexbrazier commented on #6725
@mddvul22 we had the same issue, I'm not sure what the problem was, but it seemed to gradually improve over time, until quite quickly it was showing everyones real names. I think its something to do with caching, so potentially clearing the local cache in the browser might fix it.

[2017-07-12 19:43] sampaiodiego commented on #7429
@himbeere the password is already being saved (encrypted) when the user logs in..

the option `merge existing users` will not get all users and passwords from LDAP and store in rocket.chat though. :wink:

[2017-07-12 19:46] mddvul22 commented on #6144
+1

[2017-07-12 20:08] mddvul22 commented on #6725
I've worked on this much of today.  In our case, (and maybe everybody else's?) is that that we are ldap enabled but we also have "login fallback" set to true.  Because of this, we have some ldap users who should be logging in with their usernames but are logging in with their email addresses.  When they log in with their email address, it uses the local RC backup account, and the ldap sync never h

[2017-07-12 20:11] Ulrar commented on #6725
I can tell you that's not what happened with us as we never used LDAP. But
we haven't had the problem since the initial update so it might be
different I guess

Le 12 juil. 2017 21:09, "mddvul22" <notifications@github.com> a écrit :

[2017-07-12 20:34] sampaiodiego commented on #7385
@herste please see #7472

[2017-07-12 20:43] sampaiodiego commented on #7385
@TheReal1604 which was the avatar file storage and the file upload storage?

[2017-07-12 20:46] OnthegOinOz commented on #6820
@rafaelks thanks for letting me know of the updates. Let me know if we can help out? Not sure how? Customer trials? Our Dev unfortunately does not know meteor

[2017-07-12 21:30] Chripallo commented on #7476
I agree with this and hope something is changed. Having almost 2,000 open issues is problematic. There's still issues that are left open from years ago that people wanted but nothing came of it. My group and I love Rocket.Chat's project and hope to see it thrive, but it won't in this current state.

The fact that such a disruptive issue (breaking custom file and avatar uploads) was passed through

[2017-07-12 22:18] danpospisil commented on #7385
@sampaiodiego @TheReal1604 - we have the same problem while upgrading from 0.56.0 to 0.57.1 - we see the same errors like for some users
`Command failed: convert: no decode delegate for this image format`
We use GridFS

I have reverted back to 0.56.0 until this is solved.

[2017-07-13 00:17] rafaelks commented on #6820
@OnthegOinOz I'm sure that we'll start to develop this feature soon, I'll let you know here on the issue. In the mean time, if you want to help us to test our beta apps, just let send me the emails you want to assign to beta: rafael.kellermann at rocket dot chat.

[2017-07-13 01:57] WebSavvyGuy commented on #7476
I have to agree.   We were planning to use this software on some high traffic public sites but after even some light to moderate testing, have run into all kinds of issues.   Some of the issues brought up many times in the past already.   I would love to see this project take off because it has a lot of potential.

[2017-07-13 02:58] keitaro1020 opened #7480 "Emoji Picker is not displayed in IE11"
Rocket.Chat Version: 0.57.1
Running Instances: 2
DB Replicaset OpLog: Enabled
Node Version: v4.8.3

Emoji Picker is not displayed in IE11. When I narrow the width of the window (Sidenav disappeared).

[2017-07-13 06:53] FrankSpierings opened #7481 "Certain functional tags (strong, br) also URL encoded in error messages."
Rocket.Chat Version: 0.57.0
Running Instances: ?
DB Replicaset OpLog: ?
Node Version: ?

I reported a XSS in rocket chat through Hackerone. This has been fixed, but the fix introduced a functional bug. Error messages are now displayed url encoded, but this impacts the tags <strong> and <br />.
Reproduce: add an incorrect name for a channel or emoji. An error similar to this will appear: `<strong>N

[2017-07-13 08:20] tomepsilva commented on #6026
I've figured out that adding, editing or removing any character on file name in the saving path dialog, it works well. It removes the extra .bin extension
Tested with Rocket.Chat+ 2.8.0 and 0.56.0 with FileSystem storage type

[2017-07-13 08:29] TwizzyDizzy commented on #7476
@Chripallo

Indeed, this is something I wanted to bring up in my initial remarks, too. But as this was rather a feeling than me having "hard" evidence, I dropped it. But yes: I, too, have the feeling, that the quality of releases is somewhat sloppy and the lack of fast solutions to issues resulting from this is kind of unlovely.

But let me highlight one thing, as I don't want to be misunderstood:

[2017-07-13 08:37] id101010 opened #7482 "Link Preview broken for links with underlines"
Rocket.Chat Version: 0.54.0
Running Instances: ?
DB Replicaset OpLog: ?
Node Version: ?

The Link-Preview parser has trouble handling links that feature underlining such as wikipedia disambiguations.

Example:

The Link
https://en.wikipedia.org/wiki/Bear_(disambiguation)

produces a preview which directs to
https://en.wikipedia.org/wiki/Bear

The issue could be related to #6895

[2017-07-13 08:44] himbeere commented on #7429
Okiedokie. Adjusted that setting. Now the user gets 403.
![img_0619_anon](https://user-images.githubusercontent.com/631865/28157855-223fb314-67b8-11e7-81cf-32dc48f7a9c5.png)

Is it neccessary to restart RC after changing that setting?

thanks and cheers
t.

[2017-07-13 10:40] snakelab commented on #1112
ping

[2017-07-13 11:09] tapule opened #7483 "Video Call doesn't work if started from mobile"
Rocket.Chat Version: 0.57?? (https://demo.rocket.chat)
Running Instances: ??
DB Replicaset OpLog: ??
Node Version: ??

Hi,
I was testing the video call and I have noticed that it only works if you start the call from the web app, if you try to start the video call from the mobile (android cordova) it doesn't work.
It throws this error:
NavigatorUserMediaError {name: "PermissionDeniedError", messag

[2017-07-13 11:42] wgfreitas opened #7484 "LDAP authentication not working!?"
Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.8.1

Hi, everyone!

I've installed and set up LDAP authentication, but Firefox returns "User not found or incorrect password".

➔ info Init LDAP login test
➔ Connection.info Init setup
➔ Connection.info Connecting ldap://server1.abc.br,server2.abc.br:389
➔ Connection.info LDAP connected
➔ Bind.info Bindi

[2017-07-13 13:29] krprzenioslo opened #7485 "Small files upload problem multi-instances v. 0.57.1"
Rocket.Chat Version: 0.57.1
Running Instances: 2
DB Replicaset OpLog: Enabled
Node Version: 4.5.0
GlusterFS: YES

I have a problem with file upload. When I upload small file in chat i have an error _500_ on bar at top of the window.

Error in log:

`Jul 13 14:36:02 rocket-prod-app02 rocketchat-0: { [Error: ENOENT: no such file or directory, open '/tmp/ufs/fY7FCMZZYEgmKrkNw']
Jul 13 14:36:02 rocket

[2017-07-13 13:37] MartinSchoeler commented on #314
I am closing this issue due lack of activity in a long time. If this is still a problem please open a new issue with updated details and tested against the latest version of rocket.chat. Thanks!

[2017-07-13 13:38] #314 closed

[2017-07-13 13:41] MartinSchoeler commented on #471
@engelgabriel Can this issue be closed?

[2017-07-13 13:51] MartinSchoeler commented on #1169
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 13:51] #1169 closed

[2017-07-13 13:54] MartinSchoeler commented on #1273
@graywolf336 Have we solved this problem yet?

[2017-07-13 13:57] rodrigok commented on #7434
Closed by #7448

[2017-07-13 13:57] #7434 closed

[2017-07-13 14:02] raelsan commented on #7475
Solved : I just didn't have bzip2. If you have the same issue, you can do this command :
          yum -y install bzip2

[2017-07-13 14:02] #7475 closed

[2017-07-13 14:06] MartinSchoeler commented on #1541
This feature has been already added

[2017-07-13 14:06] #1541 closed

[2017-07-13 14:09] MartinSchoeler commented on #1645
I believe today this can be done with the iframe integration https://rocket.chat/docs/developer-guides/iframe-integration/#iframe-integration . If this doesn't solve your issue please open a new issue with updated details. Thanks!

[2017-07-13 14:09] #1645 closed

[2017-07-13 14:13] MartinSchoeler commented on #1886
This file can be found here https://github.com/RocketChat/Rocket.Chat/blob/develop/.sandstorm/build.sh . If your problem persists please open a new issue with updated details. Thanks!

[2017-07-13 14:13] #1886 closed

[2017-07-13 14:17] PhilMarsden commented on #7484
I'm seeing exactly the same problem with connecting to an Active Directory server over LDAP

[2017-07-13 14:18] MartinSchoeler commented on #1872
@acamarata Today you can exit most screens with the escape key.

[2017-07-13 14:18] #1872 closed

[2017-07-13 14:18] MartinSchoeler commented on #1821
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 14:18] #1821 closed

[2017-07-13 14:19] MartinSchoeler commented on #1617
Hey @flashguy22 , I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 14:19] #1617 closed

[2017-07-13 14:24] MartinSchoeler commented on #2126
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 14:24] #2126 closed

[2017-07-13 14:30] MartinSchoeler commented on #2294
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 14:30] #2294 closed

[2017-07-13 14:30] MartinSchoeler commented on #2111
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 14:30] #2111 closed

[2017-07-13 14:39] MartinSchoeler commented on #1781
Closing this issue due lack of updates in a long time

[2017-07-13 14:39] #1781 closed

[2017-07-13 14:56] MartinSchoeler commented on #2987
Today you can just hold on the message to open the message action menu on mobile. Thanks for the feedback!

[2017-07-13 14:56] #2987 closed

[2017-07-13 14:58] MartinSchoeler commented on #3048
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open a new issue with updated details. Thanks

[2017-07-13 14:58] #3048 closed

[2017-07-13 15:04] FinFrn commented on #7438
Thats same sound me so smtp not work now..??

[2017-07-13 15:11] MartinSchoeler commented on #2630
Couldn't reproduce in the latest version. If you experience this bug again please open a new issue with updated details. Thanks!

[2017-07-13 15:11] #2630 closed

[2017-07-13 15:15] antgel commented on #7453
@Sing-Li Can we add the sponsor tag to this issue please?

[2017-07-13 15:15] MartinSchoeler commented on #2441
@graywolf336 is this still a issue? Can this be closed?

[2017-07-13 15:15] graywolf336 commented on #1273
Not really, but it has improved.

[2017-07-13 15:15] #1273 closed

[2017-07-13 15:19] graywolf336 commented on #2441
@MartinSchoeler Yes it is still an issue.

[2017-07-13 15:52] danieljhochman opened #7488 "Allow room names to have spaces"
Currently room names do not allow spaces. Please add the ability for room names (both public and private) to allow spaces.

[2017-07-13 16:05] danieljhochman opened #7489 "Limit @ user list to members of private room"
If I have a private room and try to @ someone, the users which appear in the list should be limited to the members of that private room.

[2017-07-13 16:09] localguru opened #7490 "Option to disallow non-ssl image previews"
Rocket.Chat Version: 0.56.0 0.57.0

Embed Link Previews result in ssl warnings in browser if the preview content comes from a non ssl site and includes an image. If RC is running on ssl, there should be an option to turn off loading images from non ssl sites or content should be cached locally.

[2017-07-13 16:23] danieljhochman commented on #7489
@Sing-Li - this is not a show stopper for us (for pahse 1)  but seems like an important bug to fix

[2017-07-13 16:51] teamsoo commented on #6920
@MartinSchoeler
My Rocket.Chat version: 0.57.0-develop
Tag: 0.57.0-rc.3
***Latest commit in develop branch***

<img width="765" alt="screen shot 2560-07-13 at 11 42 17 pm" src="https://user-images.githubusercontent.com/9608690/28177419-ed2442fe-6824-11e7-9620-779340f75ac6.png">

I'm seeing this errors in Chrome Inspect from my Cordova App. The App stuck at 3 dots loading screen.

The same app work

[2017-07-13 16:57] teamsoo commented on #6920
I've tested the server with both my custom Cordova app and Official Rocket.Chat from Google Play.

Both of them stuck at 3 dots loading screen.

[2017-07-13 16:59] rodrigok commented on #6920
t

On Tue, May 9, 2017 at 2:26 PM Martin Schoeler <notifications@github.com>
wrote:

--
*Rodrigo Nascimento*CTO & Co-Founder

rodrigo.nascimento@rocket.chat

+ 55 51 99667 0281 <+5551996670281>

@rodrigo.nascimento <https://demo.rocket.chat/direct/rodrigo.nascimento>

https://rocket.chat

[2017-07-13 17:11] MartinSchoeler commented on #3335
Closing this due lack of updates in a long time. If the issue still persists please open a new issue with updated details. Thanks!

[2017-07-13 17:11] #3335 closed

[2017-07-13 17:36] MartinSchoeler commented on #3265
Documentation for our Integrations can be found [here](https://rocket.chat/docs/administrator-guides/integrations). If you have any further questions please  ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat). Thanks!

[2017-07-13 17:36] #3265 closed

[2017-07-13 17:41] MartinSchoeler commented on #2054
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 17:41] #2054 closed

[2017-07-13 18:31] MartinSchoeler commented on #1833
I didn't see this bug in a while,  so i will close this. If you see this bug again, please reopen this issue. Thanks!

[2017-07-13 18:31] #1833 closed

[2017-07-13 18:35] MartinSchoeler commented on #3403
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 18:35] #3403 closed

[2017-07-13 19:11] mhou1981 opened #7491 "Custom CSS cause server freeze"
Edited: I have narrowed it down to this CSS causing entire server to freeze.

Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.8.1

I am trying to add customer HTML to the page to display a header navigation bar which required some specialized CSS for Internet Explorer and Microsoft Edge.  I have added the following content into the Admin -> Layout ->

[2017-07-13 19:18] MartinSchoeler commented on #3460
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 19:18] #3460 closed

[2017-07-13 20:03] MartinSchoeler commented on #3485
duplicate of #6141

[2017-07-13 20:03] #3485 closed

[2017-07-13 20:05] MartinSchoeler commented on #3495
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 20:05] #3495 closed

[2017-07-13 20:31] MartinSchoeler commented on #3610
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 20:31] #3610 closed

[2017-07-13 20:32] MartinSchoeler commented on #3423
@galrotem1993 you can use either iframe https://rocket.chat/docs/developer-guides/iframe-integration or livechat https://rocket.chat/docs/administrator-guides/livechat/#livechat

[2017-07-13 20:32] #3423 closed

[2017-07-13 20:33] MartinSchoeler commented on #3662
Today you can add a title and description to files and attachments

[2017-07-13 20:33] #3662 closed

[2017-07-13 20:39] MartinSchoeler commented on #3447
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open a new issue with updated details. Thanks

[2017-07-13 20:39] #3447 closed

[2017-07-13 20:45] #3892 closed

[2017-07-13 20:51] MartinSchoeler commented on #3763
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-13 20:51] #3763 closed

[2017-07-14 00:16] ScOut3R commented on #919
@wcgcoder Well, I worked around the issue by buying a trusted certificate for our Rocket.Chat instance.

[2017-07-14 01:57] lindoelio commented on #6087
Hi @marceloschmidt! I'm motivated to solve this issue.

[2017-07-14 06:52] ruKurz opened #7493 "Please recommend whether to user ImageMagick or GraphicsMagick"
Rocket.Chat Version: v0.56.0
Running Instances: 2
DB Replicaset OpLog: YES
Node Version: v4.5.0

We are currently setting up an environment and have to make the decision whether to use ImageMagick and/or GraphicsMagick. Can you please recommend which one to use?

In this blog [1] I read, that in some cases the one is better than the other.
Does RC use either ImageMagick or GraphicsMagick, or is th

[2017-07-14 08:35] amenk commented on #2450
It's also possible to pass via GET paramt to the hook

[2017-07-14 09:02] Gummikavalier commented on #7484
LDAP to AD works for us with 0.57.0 at least.

If you use 'login failback disabled' option, you may have to promote some other user to admin and delete the original administrator account, as well as any other (manually) created local accounts that already have the same name in AD.

If none of your LDAP accounts work, you could check if you can sync the accounts in admin console and check under 'Us

[2017-07-14 09:03] martinvonwittich commented on #3467
It would be nice if something could be done about this. The current behaviour is really annoying when you post `apt-get update` output in RC, which we do a lot in our company.

[2017-07-14 13:26] #5989 closed

[2017-07-14 13:26] #6967 closed

[2017-07-14 13:29] #7447 closed

[2017-07-14 13:47] MartinSchoeler commented on #7480
Confirmed on demo server

[2017-07-14 14:02] josean7link commented on #7087
I have the same problem, but when I am using the ldapsearch I can get all my users. Without problems.

We have more of 1600 Users. So what is the problem.

[2017-07-14 14:07] MartinSchoeler commented on #7481
I couldn't reproduce this on the latest develop version.
<img width="304" alt="screen shot 2017-07-14 at 11 05 15 am" src="https://user-images.githubusercontent.com/20868078/28215479-913bea86-6884-11e7-9cfb-874c893c0177.png">

Could you give us more info on how to reproduce this?
Thanks!

[2017-07-14 14:14] #7423 closed

[2017-07-14 14:16] rodrigok commented on #7429
Closed by #7472

[2017-07-14 14:16] #7429 closed

[2017-07-14 14:19] rodrigok commented on #7405
Closed by #7472
Please reopen it if the problem persists after the release of version 0.57.2

[2017-07-14 14:21] wgfreitas commented on #7484
Thank you, @Gummikavalier!
I'm not understanding what is wrong with this setup because I've set up an AD user as administrator and Rocket.Chat/admin/users was synchronized (all AD users were imported).

[2017-07-14 14:22] MartinSchoeler commented on #3482
Closing this due lack of updates in a long time

[2017-07-14 14:22] #3482 closed

[2017-07-14 14:27] MartinSchoeler commented on #3564
Added

[2017-07-14 14:27] #3564 closed

[2017-07-14 14:27] rodrigok commented on #7385
@danpospisil The problem seams to be related with your imagemagick

Which OS are you using?

Can you run `identify -list format` and check if JPEG is in the list?

[2017-07-14 14:35] MartinSchoeler opened #7494 "Hide Flextab Preference Bug"
When the `hide right side bar with click` user preference is set to `true` the flex tabs doesn't open.

[2017-07-14 14:42] MartinSchoeler commented on #3387
Closing this in favor of #3402

[2017-07-14 14:42] #3387 closed

[2017-07-14 14:43] MartinSchoeler commented on #3749
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 14:43] #3749 closed

[2017-07-14 14:44] #3597 closed

[2017-07-14 14:45] MartinSchoeler commented on #4084
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 14:45] #4084 closed

[2017-07-14 14:49] grchis opened #7495 "About section not working on Mac OS Sierra"
Rocket.Chat Version:
Running Instances:
DB Replicaset OpLog:
Node Version:
<img width="433" alt="screen shot 2017-07-14 at 5 47 52 pm" src="https://user-images.githubusercontent.com/12933308/28217133-b79f898e-68bc-11e7-9e54-dad426a7dfd0.png">

[2017-07-14 14:55] MartinSchoeler commented on #4140
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 14:55] #4140 closed

[2017-07-14 14:59] MartinSchoeler commented on #3819
Could be related to #31

[2017-07-14 15:03] gdelavald commented on #7495
Duplicate of https://github.com/RocketChat/Rocket.Chat.Electron/issues/467

[2017-07-14 15:03] #7495 closed

[2017-07-14 15:45] xenithorb commented on #1593
I just want to be able to have "text" highlighting, In any other highlighter this would be synonymous with "Disable highlighting, but still have preformatted text blocks".

Generally I would expect
[code]
But those don't do anything. Note how on github, it doesn't get confused by the use of triple backticks inside triple backticks, either.

[2017-07-14 15:55] geekgonecrazy commented on #7476
Hey guys!  I'm not one of the ones mentioned.  :smile: But just wanted to drop a note.

We are very much aware of the issues.  We are in the process of making improvements to our issue triage process.

I think one of the first steps for us is to bring up the issue quality.  We are trying to encourage that via: #7492

As a result of that we are trying to encourage people with "how to" (or we as we

[2017-07-14 15:56] MartinSchoeler commented on #4112
I will be closing this due lack of updates in a long time. If this issue is still relevant in the latest versions please reopen this.

[2017-07-14 15:56] #4112 closed

[2017-07-14 16:00] MartinSchoeler commented on #3841
I will close this due lack of updates, if this issue turns relevant again, feel free to reopen this issue. Thanks

[2017-07-14 16:00] #3841 closed

[2017-07-14 16:01] geekgonecrazy commented on #2136
A lot has changed in Rocket.Chat since the opening of this issue.  Please give our jitsi integration a try as suggested.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:01] #2136 closed

[2017-07-14 16:03] geekgonecrazy commented on #3709
Please give this a try on the newest version of Rocket.Chat.  Going to go ahead and close.  Please feel free to re-open if still experiencing this issue.

[2017-07-14 16:03] #3709 closed

[2017-07-14 16:04] geekgonecrazy commented on #3793
Looks like this one is no longer needed.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:04] #3793 closed

[2017-07-14 16:08] geekgonecrazy commented on #3828
Re-labeled this.  It appears the ask here is that we accept the pretext field in attachments.

[2017-07-14 16:10] geekgonecrazy commented on #4266
Going to go ahead and close this.  Please check our documentation on [apache2](https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy#running-behind-an-apache-ssl-reverse-proxy).  We've improved the example given there.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your

[2017-07-14 16:10] #4266 closed

[2017-07-14 16:11] geekgonecrazy commented on #4209
Please give this a try on one of the newer releases.  Also make sure you update your version of nodejs to 4.8

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:11] #4209 closed

[2017-07-14 16:13] MartinSchoeler opened #7497 "Changing sounds in preferences throws errors"
Tested on demo and latest develop branch

When you try to change the sounds under account > Preferences the browser console throws this error

<img width="629" alt="screen shot 2017-07-14 at 1 14 12 pm" src="https://user-images.githubusercontent.com/20868078/28220564-5de2c62a-6896-11e7-9a74-30293324891c.png">

[2017-07-14 16:16] geekgonecrazy commented on #4135
This should be possible via an outbound integration.  Please see our docs [here](https://rocket.chat/docs/administrator-guides/integrations)

[2017-07-14 16:16] #4135 closed

[2017-07-14 16:17] geekgonecrazy commented on #4046
Going to go ahead and close this.  I have to assume it hasn't happened again, and was likely a fluke.

Please feel free to re-open if you experience again.

[2017-07-14 16:17] #4046 closed

[2017-07-14 16:18] geekgonecrazy commented on #4625
You can do this in admin->assets.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:18] #4625 closed

[2017-07-14 16:20] geekgonecrazy commented on #4607
Since no activity I assume this is resolved.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:20] #4607 closed

[2017-07-14 16:20] geekgonecrazy commented on #4617
Looks like this one is resolved.  I'm going to go ahead and close.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:20] #4617 closed

[2017-07-14 16:25] MartinSchoeler commented on #4193
I am closing this issue since github is not the best place to ask this kind of question. Please use Stack Overflow with our [tag](https://stackoverflow.com/questions/tagged/rocket.chat). Thanks!

[2017-07-14 16:25] #4193 closed

[2017-07-14 16:26] geekgonecrazy commented on #4594
Please try a recent release and see if you still have this problem.

Key things here:
* Make sure you have our gateway set and the gateway on.
* Make sure you join the channel from your mobile device **after** you do this.  So if you had joined before make sure to uninstall.  Clear application data and re-install.
* Make sure the Rocket.Chat server you have this installed on can communicate with t

[2017-07-14 16:26] #4594 closed

[2017-07-14 16:35] MartinSchoeler commented on #4324
Closing this issue due lack of updates in a long time.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

Thanks!

[2017-07-14 16:35] #4324 closed

[2017-07-14 16:37] geekgonecrazy commented on #4346
Going to close this in favor of #918 Also it looks like we have a PR open that will resolve this.  :)

@Deepakkothandan i'm very interested in your ansible callback plugin though.  Would love to see this used more.  Have you published it any where?  Feel free to send me a message on the community server @ `aaron.ogle`

[2017-07-14 16:37] #4346 closed

[2017-07-14 16:40] MartinSchoeler commented on #4291
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 16:40] #4291 closed

[2017-07-14 16:40] geekgonecrazy commented on #4434
Looks like a solution was found.  Going to go ahead and close this.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:40] #4434 closed

[2017-07-14 16:42] MartinSchoeler commented on #4258
Haven't seen this bug in a while. I will close this issue for now, feel free to reopen this if the problem appears again. Thanks!

[2017-07-14 16:42] #4258 closed

[2017-07-14 16:46] MartinSchoeler commented on #4183
I'm pretty sure that this bug was fixed, if you experience this in the latest version again please reopen this issue with updated details. Thanks!

[2017-07-14 16:46] #4183 closed

[2017-07-14 16:47] geekgonecrazy commented on #7421
Make sure you stop the rocket.chat server prior to doing an import.  This likely has some barring on it.  Just updated the document to add that missing step.

[2017-07-14 16:48] MartinSchoeler commented on #4237
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 16:48] #4237 closed

[2017-07-14 16:50] geekgonecrazy commented on #7332
Feel free to open again or create a new issue if you find any bugs with Rocket.Chat

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 16:50] #7332 closed

[2017-07-14 16:50] MartinSchoeler commented on #3375
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 16:50] #3375 closed

[2017-07-14 16:52] geekgonecrazy commented on #7124
@jy2008 ah!  Yes when you pin a message a new message is inserted into the channel with the message you pinned attached in the state that you pinned it.

[2017-07-14 16:57] #7124 closed

[2017-07-14 16:57] Garen commented on #4542
@hExPY I'm assuming you mean that you changed the limit on your openldap server?   Well, lucky for you. :)

[2017-07-14 16:58] graywolf336 commented on #7460
Please see the code base for answers but also Meteor guides, as this is a general how-to question and not an issue or bug with the core of Rocket.Chat.

[2017-07-14 16:58] #7460 closed

[2017-07-14 16:59] geekgonecrazy commented on #7042
A few notes.  Make sure if you are using snaps that you use a path it has access to like: /var/snap/rocketchat-server/common/uploads

Feel free to re-open this ticket if you have additional information.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat t

[2017-07-14 16:59] #7042 closed

[2017-07-14 16:59] graywolf336 commented on #7459
This should still be considered a bug since there is an error occurring.

[2017-07-14 17:06] geekgonecrazy commented on #7419
Looks like dyn has been there a good while before our release.  I'm not sure what's going on.

We are using the latest release that was available as of 9 days ago when 0.57.1 was released.  That appears to be: caddy 0.10.4

Might be worth asking on their forums.

[2017-07-14 17:09] geekgonecrazy commented on #6877
Make sure when you update the MONGO_URL you also update MONGO_OPLOG_URL having one point to a different host is going to cause you issues.

---
If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 17:09] #6877 closed

[2017-07-14 17:14] geekgonecrazy commented on #7493
I think we actually make use of both.  In snaps we use graphicsmagick and in our docker image we use imagemagick.

I've personally had some issues with snaps and imagemagick.  I don't recall exactly what they were, but switching to graphicsmagick resolved them.

---
If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channe

[2017-07-14 17:14] #7493 closed

[2017-07-14 17:15] geekgonecrazy commented on #7489
Related/Duplicate #2588

[2017-07-14 17:15] MartinSchoeler commented on #4188
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 17:15] #4188 closed

[2017-07-14 17:17] mddvul22 opened #7498 "Favorites Are In Alphabetical Order by Username, even when Use Real Name is True"
Rocket.Chat Version: 0.56.0
Running Instances: 2
DB Replicaset OpLog: Enabled
Node Version: v4.8.2

We have turned on the feature to "Use Real Name", which is great.  And we find that in the side bar, the list of users under the "Direct Messages" setting are in alphabetical order, by first name, which is great.  However, the list of users under "Favorites" is still being orgaznized by username, ev

[2017-07-14 17:17] MartinSchoeler commented on #3693
Feel free to open again or create a new issue if you find any bugs with Rocket.Chat

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 17:17] #3693 closed

[2017-07-14 17:20] geekgonecrazy commented on #7478
From what I can tell looks like we need to make some adjustments.  Last one I see built is 0.53.0

I'll take a look at this.

[2017-07-14 17:21] MartinSchoeler commented on #3397
Will be closing this issue due lack of updates

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 17:21] #3397 closed

[2017-07-14 17:23] geekgonecrazy commented on #7490
I think we've had this come up before.  These warnings are just that warnings they are safe to ignore.

As to providing an option... Lets re-title this to be more appropriate to a feature request. :)

[2017-07-14 17:24] MartinSchoeler commented on #4598
If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 17:24] #4598 closed

[2017-07-14 17:25] MartinSchoeler commented on #4582
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 17:25] #4582 closed

[2017-07-14 17:28] watou commented on #7419
@geekgonecrazy Thanks for looking at the issue.  I will do more investigation and report back.

[2017-07-14 17:29] teamsoo commented on #7483
<img width="848" alt="screen shot 2560-07-15 at 12 28 06 am" src="https://user-images.githubusercontent.com/9608690/28223152-7f015656-68f4-11e7-9f38-525f1006389a.png">

Same issue here on my server running https behind Apache2. Any idea?

[2017-07-14 17:29] antgel opened #7499 "Docker instance reporting MongoDB warning since 0.57.1"
Rocket.Chat Version: 0..57.1
Running Instances: 1 (2 reported)
DB Replicaset OpLog: Disabled
Node Version: 4.8.1

Just upgraded our internal chatops instance to 0.57.1 using docker. Admin page has a new warning:

Why does it think I have multiple instances? It never used to do this.

[2017-07-14 17:35] geekgonecrazy commented on #7485
Can you go into more details on your setup?  Especially how you're running Rocket.Chat and how you have glusterfs setup.  That'll help us determine if there is a bug or if this is something in configuration

[2017-07-14 17:37] geekgonecrazy commented on #7419
Please feel free to re-open or report back if you find anything.  :+1:

[2017-07-14 17:37] #7419 closed

[2017-07-14 17:39] MartinSchoeler commented on #4704
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 17:39] #4704 closed

[2017-07-14 17:42] teamsoo commented on #7483
@tapule Have you found a fix yet?

[2017-07-14 17:48] MartinSchoeler commented on #4714
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-14 17:48] #4714 closed

[2017-07-14 17:51] geekgonecrazy commented on #7455
@sugen Do you have save message edit history on?

[2017-07-14 17:53] geekgonecrazy commented on #7455
@MartinSchoeler / @pkgodara this seems like a case where the file was deleted... but its not being deleted in mongo.

I had a case like this in [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) the issue ended up being that they had save message history on.

So it just modified the file in mongodb and added the `_hidden: true` property to it.  The same thing I believe it does on the mes

[2017-07-14 17:58] MartinSchoeler commented on #4750
I am closing this issue since github is not the best place to ask this kind of question. Please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 17:58] #4750 closed

[2017-07-14 17:59] geekgonecrazy commented on #6140
@MartinSchoeler i'm not sure.  I haven't been able to spend the time to track it down to see where this is happening in the code.  But i'd say its likely

[2017-07-14 18:01] geekgonecrazy commented on #7381
Currently the only way is from source.  The builds were old versions of Rocket.Chat and have been removed.  We are working on automating the builds for windows still

[2017-07-14 18:03] MartinSchoeler commented on #4820
Closing this for @fduraibi solution. If that doesn't solve the issue, please reopen this.

[2017-07-14 18:03] #4820 closed

[2017-07-14 18:04] #5359 closed

[2017-07-14 18:06] MartinSchoeler commented on #5357
Hasn't seen this bug in a while. I will close this issue for now, if you see this bug again in the latest version, please reopen this. Thanks!

[2017-07-14 18:06] #5357 closed

[2017-07-14 18:08] MartinSchoeler commented on #3933
Closing this due lack of updates. If the issue happens again, please reopen this. Thanks!

[2017-07-14 18:08] #3933 closed

[2017-07-14 18:09] #5375 closed

[2017-07-14 18:15] MartinSchoeler commented on #5465
Closing this issue due @reetp answer. If this answer does not solve this, feel free to reopen this. Thanks!

[2017-07-14 18:15] #5465 closed

[2017-07-14 18:15] geekgonecrazy commented on #7483
@rodrigok I think this has something to do with the little server serving the cache?

[2017-07-14 18:15] sampaiodiego commented on #7476
hi guys.. I couldn't say it better than @geekgonecrazy ..

although we are aware of the high issue number, we don't want to close them all, we see some value on many of them.

also as pointed by @geekgonecrazy we're in process of making all process better. we love to hear the community and see what are the most urgent things we should do better.

so thanks for opening this issue, hopefully we sort

[2017-07-14 18:18] MartinSchoeler commented on #5451
Closing this due lack of response.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-14 18:18] #5451 closed

[2017-07-14 18:21] #7411 closed

[2017-07-14 18:22] kentonv commented on #3933
This issue is still very much a problem. Rocket.Chat takes ~40s to load on Sandstorm. You can try it here: https://oasis.sandstorm.io/appdemo/vfnwptfn02ty21w715snyyczw0nqxkv3jvawcah10c6z7hj1hnu0

I can't re-open issues as I am not a project member.

[2017-07-14 18:24] MartinSchoeler commented on #5459
Done!

[2017-07-14 18:24] #5459 closed

[2017-07-14 18:32] MartinSchoeler commented on #5518
You can use either @Nemra1 solution or this one https://github.com/RocketChat/Rocket.Chat/issues/4820#issuecomment-269453939

[2017-07-14 18:32] #5518 closed

[2017-07-14 18:39] MartinSchoeler commented on #3920
Closing this due lack of updates

[2017-07-14 18:39] #3920 closed

[2017-07-14 18:45] teamsoo commented on #7483
so it's possible that the little cache server is running http in Cordova and it might be treated as unsecured origin when making a call to external.

It's running as "localhost.local" and somehow the log in Chrome Inspect show xhr requests origin as
[code]

and according to the link https://goo.gl/Y0ZkNV
[code]

[2017-07-14 18:47] MartinSchoeler commented on #4929
The hubot issue should be resolved by now, and @maxlinux2000 solution should work. I will close this issue. If the problem persist, please reopen this

[2017-07-14 18:47] #4929 closed

[2017-07-14 18:53] MartinSchoeler commented on #5787
Since this looks like a configuration problem i will close this.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat) or [Server Fault](https://serverfault.com/search?q=Rocket.Chat)

[2017-07-14 18:53] #5787 closed

[2017-07-14 18:54] pkgodara commented on #7148
It happened only first time, after that there was no `/#` in the link.

[2017-07-14 18:55] geekgonecrazy commented on #7483
Yup! That looks to be it.  I'm not sure if its even possible to handle that over https.  Not sure what the solution here would be.. :(

[2017-07-14 18:57] geekgonecrazy commented on #7148
@pkgodara so sounds like it was a fluke.  I'll go ahead and close this then.

[2017-07-14 18:57] #7148 closed

[2017-07-14 19:00] MartinSchoeler commented on #5530
Since we don't have LESS files anymore the problem probably should be fixed. Please Reopen this if the problem happens again. Thanks!

[2017-07-14 19:00] #5530 closed

[2017-07-14 19:02] #7387 closed

[2017-07-14 19:04] geekgonecrazy commented on #7499
@antgel that warning should go away.  Basically every time you start your server an entry is made into the instances collection that is unique for every instance of Rocket.Chat started.  That record some times takes a little while to expire.

If it doesn't go away please feel free to re-open this issue!

[2017-07-14 19:04] #7499 closed

[2017-07-14 19:05] teamsoo commented on #7483
@geekgonecrazy I'm able to make it works now by changing the host to **localhost** because **localhost** is treated as a secure origin.

Should I make a PR out of this (at Cordova repo)? I'm not sure if changing from

[code]

to

[code]

will have any bad effect.

[2017-07-14 19:13] #7365 closed

[2017-07-14 19:18] #6817 closed

[2017-07-14 19:18] #7396 closed

[2017-07-14 19:27] #6679 closed

[2017-07-14 19:29] #7391 closed

[2017-07-14 19:31] #6200 closed

[2017-07-14 19:40] #6969 closed

[2017-07-14 20:27] rodrigok commented on #7483
@teamsoo If you change the server to `localhost` only it will not work for multiple servers, it will override the cached files when you add a new server

[2017-07-14 21:58] Deepakkothandan commented on #4346
@geekgonecrazy I have shared this as a public gist and here is the link [Ansible Rocket.Chat Callback Plugin](https://gist.github.com/Deepakkothandan/4808bcb4e9881e2d4fe8a643a9bab4eb)

[2017-07-14 22:29] graywolf336 commented on #7461
@naguchennai I am going to close this issue as this seems like a question which his better fit for Google (php use websockets) or for Stackoverflow and is not an issue with Rocket.Chat itself.

[2017-07-14 22:29] #7461 closed

[2017-07-14 22:35] graywolf336 commented on #7442
So, what are the exact steps to reproduce? Aka how does @WebSavvyGuy reproduce this in a new instance of Rocket.Chat?

[2017-07-14 22:41] graywolf336 commented on #7415
Closing as this is working, please reopen with the exact steps to reproduce this on a brand new installation of Rocket.Chat.

![image](https://user-images.githubusercontent.com/850391/28233305-7e5b4f7e-68bb-11e7-815d-3f15361546c7.png)

[2017-07-14 22:41] #7415 closed

[2017-07-14 22:43] graywolf336 commented on #7408
Currently not possible, but feel free to submit a pull request adding this feature so that it gets added. :+1:

[2017-07-14 22:49] graywolf336 commented on #7366
Will this become a feature of the core rocket.chat? No. Will something be added to Rocket.Chat in the future (2 months or so) that will make this easier? Yes. See #6890 for some details of what was discussed and there is a lot to come as more gets detailed.

So, I am going to close this as the answer to your question is no. However, be watching that issue for when the final solution is added.

[2017-07-14 22:49] #7366 closed

[2017-07-14 22:50] graywolf336 commented on #2263
Closing in favor of #6890. Please watch that issue for future details about "plugins" or the term which has been coined of "Rocketlets".

[2017-07-14 22:50] #2263 closed

[2017-07-14 22:54] admin-crowd-iugo commented on #7476
urgent things are stability first everything else next. losing chats, files and avatars and any user content is not acceptable. period. everything else is secondary to stability.
next is upgrades which have a clear process and no weird glitches which cause problems to production databases.
problem is rocket chat is so unstable we upgrade every 10-15 releases after we had to roll back our productio

[2017-07-14 22:58] graywolf336 commented on #1859
See: #6890

[2017-07-14 22:58] graywolf336 commented on #6890
For some more reading: #1859

[2017-07-14 23:01] graywolf336 commented on #7351
@sasakura-sora We would love to have a pull request which fixes this. Or a pull request which updates the documentation that states those are requirements to use until it is fixed. Thanks!

[2017-07-14 23:07] graywolf336 commented on #7302
Hi @jangmarker, I have reviewed your pull request and requested some changes. Thanks for the pull request!

[2017-07-15 00:49] timkinnane commented on #7476
Thanks for giving the team's perspective @geekgonecrazy and @sampaiodiego.
I think all users and contributors appreciate your approach to valuing our input. I do feel that the sentiment is turning a little sour though and the risks of too many open issues and unstable releases outweighs the need to be overly considerate of etiquette. I think you could be a bit more opinionated about enforcing qual

[2017-07-15 00:53] tholu commented on #7470
Similar problem here, switched to Gravatar for all users as a temporary solution.

[2017-07-15 01:16] TwizzyDizzy commented on #7476
I was taking my time to get the words right, but you took 'em right of my mouth. Thanks for that!

If somebody thinks he should be running an instance of a software (be it on the internet or just on an intranet) they should be able to diagnose an issue properly and get straight to the technical issue, sorting the relevant from the irrelevant and thereby enabling any contributor to get a grasp of t

[2017-07-15 06:35] Gummikavalier commented on #7484
@wgfreitas If you create a completely new user into AD, can that account log in?

For the reference, here are all our LDAP settings (that are other than the defaults).

[code]

[2017-07-15 07:10] watou commented on #7419
It appears that support for the DNS challenge requires that caddy is built to explicitly include the DNS challenge provider you want to use (see [this from the author](https://caddy.community/t/which-dns-providers-should-caddy-support-by-default/58/28) and [the wiki on writing your own DNS challenge](https://github.com/mholt/caddy/wiki/Writing-a-Plugin:-DNS-Provider).) None are included by default

[2017-07-15 09:20] spb opened #7501 "SAML functionality doesn't understand XML namespaces"
Rocket.Chat Version: 0.57.2
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version:

I'm trying to connect Rocket to a SAML Identity Provider which produces namespaced XML output -- that is, the opening tag looks like:
[code]

Submitting this to Rocket's validation endpoint results in "Error: Unable to validate response url: Error: Unknown SAML response message". Manually removing the name

[2017-07-15 09:28] adisos commented on #6890
@mrsimpson sorry for oftopic, but you used some tool to draw that sketches?

[2017-07-15 11:05] mrsimpson commented on #6890
@adisos yes. Multiple: A Surface 4, OneNote, a stylus and my right hand ;-)

[2017-07-15 13:15] WebSavvyGuy commented on #7442
@graywolf336 No idea how to reproduce it.   Just an exploit that i witnessed and it clearly worked in bringing the browser window to its knees.   Limiting the number of characters (including <br>'s) or messages posted in a row (flood control) would help this issue if we can get that.

Tracking the IP down of the culprit was a bit difficult but doable.  Talked to @geekgonecrazy  about possibly gett

[2017-07-15 16:30] Molle500 opened #7502 "Wrong size on verification box"
The size of the verification box is wrong on smaller screens. It looks like this on mobile units

![image](https://user-images.githubusercontent.com/17712562/28240982-9e6c10f2-698b-11e7-9f8d-073c53a0c36f.png)

[2017-07-15 18:30] localguru commented on #7490
@geekgonecrazy yes, those warnings are safe to ignore. But it might confuse some users and could increase tickets to local admin.

[2017-07-15 18:38] localguru commented on #7476
At the moment there are 296 open bugs. What about collecting the most important bugs in a separate issue and vote on them, so we get a better priority.

[2017-07-15 19:55] geekgonecrazy commented on #7476
@localguru typically if we are sorting we'd do so by number of comments and by number of thumbsups.

Gathering and voting in a single issue would cause too much chaos and only would get opinion of a subset of the community.

[2017-07-15 20:13] localguru commented on #6190
I can confirm on 0.57.0, see attached image.

I removed the user "Testine Test" (left side in Firefox) and created it again (I use SAML, so with a new login the user is recreated automatically). On the right side (in Chrome) the user "Al Uminium" was in direct message DM with user "Testine Test" before. After recreation the user "Al Uminium" can't find user "Testine Test" anymore. Curiously user "

[2017-07-15 20:39] localguru commented on #7003
I can confirm on 0.56.0 and 0.57.1

[2017-07-15 20:46] localguru commented on #6725
same here 0.56.0

[2017-07-15 20:52] localguru commented on #6151
Anything going on on this serious bug, which makes OTR completely useless.

[2017-07-15 21:25] mddvul22 commented on #6725
I was able to fix our issue by simply restarting the Rocket Chat services.

[2017-07-16 03:10] geekgonecrazy commented on #4346
Thanks!

[2017-07-16 03:15] geekgonecrazy opened #7503 "Snap: Support DNS Challenge with Caddy"
Caddy needs module built in to support dns challenge:

Ref: #7419

More info here: https://github.com/mholt/caddy/wiki/Writing-a-Plugin:-DNS-Provider

[2017-07-16 03:19] geekgonecrazy commented on #7419
@watou created an issue to add that as its off topic to this issue.  Thanks for digging and coming back with the info.  Will make it much easier

[2017-07-16 09:29] dmitry-sher commented on #7478
The issue is actually because of meteor version. `Vagrant-spk` doesn't supports meteor 1.4. We are going to investigate the issue next week and already had some progress last week -- at least `meteor-spk` creates the dev bundle successfully for other meteor 1.4 projects. I'll gladly share my results with you.

[2017-07-16 09:47] privacyintchat opened #7504 "Rocket.Chat keeps destroying Database / "User not found""
Rocket.Chat Version: 0.56.0
Running Instances: 1
DB Replicaset OpLog: Active
Node Version: v4.2.6

My users get "User not found" Messages at direct messanges from time to time.
Logging out and logging in helps most of the time.

I had a server on a Ubuntu 14.04 Machine a while ago, which had the same problems. When i tried to migrate that Database to another Server Mongorestore failed with errors

[2017-07-16 09:59] danieljhochman opened #7505 "Highlight matching words in message search results"
This is basic search results functionality which Slack has:
![image](https://user-images.githubusercontent.com/23452628/28246591-67e3baa8-6a26-11e7-96f8-d6811d1440a0.png)

Also, when you jump to the message, the animation/highlight should be much slower so you can actually see it - see how Slack does it.

[2017-07-16 10:30] TheReal1604 commented on #6190
I think this has something to do with the client side cache. You can easily reproduce this if you delete a channel and recreate it. You don't see messages first. But if you refresh your browser cache all is working as expected. Maybe @localguru can you try this?

[2017-07-16 11:04] antgel commented on #6846
@karlprieb Any updates on this? :)

[2017-07-16 11:06] antgel commented on #5667
@karlprieb @rodrigok Any updates on this? @magnusjjj Your ideas are nice, but really it should just be an option for the admin. :)

[2017-07-16 11:08] antgel commented on #2317
@engelgabriel Any updates? :)

[2017-07-16 13:46] KervyN commented on #7405
It still persists.

[2017-07-16 18:37] localguru commented on #7482
Can't confirm on 0.57.1

![rc_lp](https://user-images.githubusercontent.com/8544984/28250356-8393139e-6a66-11e7-8df7-0ca4190ce1be.jpg)

[2017-07-16 19:04] localguru commented on #7497
can't reproduce it on 0.57.1 and demo.rocket.chat

[2017-07-16 19:34] localguru commented on #7467
Can confirm on 0.57.1

Interesting is if you change the user "www-data" in your line to e.g. "wwwdata" the result is as expected

![rc_blockcode](https://user-images.githubusercontent.com/8544984/28250659-85a6a5b2-6a6e-11e7-9be2-93d15c73bba4.jpg)

[2017-07-16 19:41] localguru commented on #7357
Hmmm ... can't reproduce this with 0.57.1 Firefox and Chrome.

[2017-07-16 19:50] tboerger commented on #7357
I had been able to reproduce that on latest chrome for Mac, within Alfred and within the desktop app for Mac

[2017-07-16 19:57] localguru commented on #7482
I think it's duplicate of "Url in parsed in a wrong way" #7169

[2017-07-16 19:57] localguru commented on #7169
can confirm, see #7482

[2017-07-16 20:17] id101010 commented on #7482
But this is wrong, isn't it? The website suggested by the preview is not the one in the link. Another example:

![image](https://user-images.githubusercontent.com/7494467/28250982-501d92a6-6a74-11e7-8db4-63102951ea9d.png)

Sodium Chloride is not the NaCl i was looking for when posting this link. ;)

[2017-07-16 20:21] id101010 commented on #7482
@localguru Yes, this looks exactly like the same issue. Haven't found #7169 yet. :) Should we close this one?

![image](https://user-images.githubusercontent.com/7494467/28251017-ef249f66-6a74-11e7-888e-92344fe12ffb.png)

[2017-07-16 20:36] rasos commented on #233
Is PIWIK now able to also track messages, rooms and users? Even when I activate those extended analysis settings, I do not see them in the PIWIK analysis pages.

[2017-07-16 20:46] TheReal1604 commented on #7502
@Molle500 This is also true for the file-upload windows..

[2017-07-16 21:38] localguru opened #7507 "[BUG] OTR leaks image and file uploads"
Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog: yes
Node Version: 4.5

When uploading an image or a file in a OTR session, those uploads are not displayed. After finishing the OTR session and reloading browser those uploads are displayed. Concerning the image part this is duplicate to #6151

There are several open bugs regarding OTR: #6907 #6526 #6151

OTR is a main security

[2017-07-16 21:55] localguru commented on #7482
It's your issue. But yes, I would close it with a hint to #7169

[2017-07-16 22:07] localguru commented on #6190
@TheReal1604 yes, you are right! Cleaning the cache did it. Good to know. Thanks!

[2017-07-16 22:10] TheReal1604 commented on #6190
@rodrigok Maybe you can take a look as you are the cache expert? 👍  😁

[2017-07-17 01:22] mlanner commented on #4296
I have a Swift cluster with the Swift3 (S3 emulation) middleware configured. I have verified that access is working correctly using s3cmd. However, when I configure Rocket.Chat file uploads to go to my Swift (with S3) cluster, it doesn't work. The client simply gets a 500 error.

Regardless of the issue I might be running into here, one thing that would be really nice would be to have a "test conn

[2017-07-17 01:32] tanmoyopenroot opened #7508 "Error while running meteor"
After clone, got this error while running meteor...
![screenshot from 2017-07-17 06-59-25](https://user-images.githubusercontent.com/25791025/28253148-7fe8fb58-6abd-11e7-9504-81ddbcc09bad.png)

openroot@hp:~/Tanmoy/Working Stuffs/openSource/Rocket.Chat$ meteor
[[[[[ ~/Tanmoy/Working Stuffs/openSource/Rocket.Chat ]]]]]

=> Started proxy.
=> Meteor 1.5.1 is available. Update this project with 'meteo

[2017-07-17 01:34] timkinnane commented on #7467
As @edwardmuel suggested, I've found similar problems with code blocks because they are assumed to be javascript by default and so apply javascript syntax colouring.

I have no idea what's happening with the numbers though, that's more likely a bad regex pattern.

I use ` ```markdown ` to render basic text code blocks, but I would prefer if Rocket.chat didn't actually presume javascript by default

[2017-07-17 04:37] nitinjiniguru commented on #7460
I have checked and got the solution from the guide
I have once closed but somehow(by mistake) it was again opened.

Thanks

[2017-07-17 06:20] krprzenioslo commented on #7485
Thank you for the replay.
Of course, here is more details about the configuration.

Rocket.Chat file upload settings:
![upload_settings](https://user-images.githubusercontent.com/11661461/28257052-24c4a028-6ac8-11e7-8da3-05e5f4fd3fc6.PNG)

Service file in systemd:
![service settings](https://user-images.githubusercontent.com/11661461/28257067-4233c242-6ac8-11e7-9525-8f5234158954.PNG)

Permissions

[2017-07-17 06:48] mojtab23 opened #7509 "Match error: Unknown key in field username. in users.setAvatar rest call"
Rocket.Chat Version: 0.57.2
Running Instances: 1
DB Replicaset OpLog: enabled
Node Version: v4.8.2
--
According doc https://rocket.chat/docs/developer-guides/rest-api/users/setavatar
I'm trying to call (/api/v1/users.setAvatar) to set user avatar but I get this error :
{
    "success": false,
    "error": "Match error: Unknown key in field username"
}
when I change username to userId and test It w

[2017-07-17 06:50] assadvirgo commented on #7418
@bakhtizin @MartinSchoeler can you please help me setting up Identity Server or if you can guide me how can i write a custom package to handle this.

I get the same error as mentioned by @bakhtizin after some digging I found that Dynabic.Crocket expect a query param code= while IdentityServer is posting "id_token" in body which cann't be accessed in rocket_custom_oauth package via the query string

[2017-07-17 07:06] FrankSpierings commented on #7481
You are right, I currently cannot reproduce this issue either. I will close this ticket. Sorry for the inconvenience.

[2017-07-17 07:06] #7481 closed

[2017-07-17 07:38] tapule commented on #7483
@teamsoo I didn't find a fix, I will try yours.

[2017-07-17 08:18] onjaG commented on #1927
Same problem here with Android.
Solved by adding all intermediate certs on nginx:
https://www.digicert.com/ssl-certificate-installation-nginx.htm

[2017-07-17 08:19] id101010 commented on #7482
Closing issue. It is already covered by #7169.

[2017-07-17 08:20] id101010 commented on #7482
Closing issue. It is already covered by #7169.

[2017-07-17 08:20] #7482 closed

[2017-07-17 08:50] kurobeats opened #7510 "Documentation on Incoming WebHook parsing"
Rocket.Chat Version: latest (installed via snap)
Running Instances: 1
DB Replicaset OpLog: ?
Node Version: ?

I'm just having trouble finding the documentation on how to filter/format the incoming webhook messages. To provide context, webhook alerts from 411 come through like so:
`
[<http://411.test.local/alert/12893|Alert>]
`
so ideally would like to be able to "prettify" it into a clickable link

[2017-07-17 09:13] TwizzyDizzy commented on #7405
For me too, the issue stands as mentioned above:

    Rocket.Chat Version: 0.57.2
    Database Version: 99
    Running Instances: 1
    DB Replicaset OpLog: false
    Node Version: 4.8.3

* LDAP login **not possible**, when avatar sync is enabled
* LDAP login **possible**, when avatar sync is disabled, no avatars though (quite obvious)

[2017-07-17 09:17] KervyN commented on #7405
The workaround we use: Activate avatarsync, sync ldap data, disable avatarsync. I began to do this as a morning routine

[2017-07-17 09:20] TwizzyDizzy commented on #7405
Just to be clear: by `sync ldap data` your mean the option `Import LDAP users` in `Administration > LDAP`, right?

[2017-07-17 09:22] danpospisil commented on #7385
@rodrigok - I am using your Docker image for running Rocket.Chat and I see JPEG there:
[code]

[2017-07-17 09:22] KervyN commented on #7405
Yes

[2017-07-17 09:47] rivertam commented on #6691
I'm also looking to see how one can change an environment variable, though in my case I would like to specify an external mongo database.

For your usecase, I believe you should be using nginx or something similar, and you can use it to proxy to the rocketchat server.

[2017-07-17 11:21] TheReal1604 commented on #4296
@mlanner Maybe try the Minio documentation on rocket.chat/docs ? We built a setup with minio which works. This is also AWS S3 compatible. (From Client perspective)

[2017-07-17 11:29] jpotts-IIL opened #7511 "Add Channel Delete REST api Method to the docs"
Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.8.1

I am trying to delete a channel that was created, but cant seem to find a way to do it. The only way I have found in the docs is to use the Realtime API, but it is a little unclear about how to set this up. Is there another way to delete a channel, such as the Rest API at all? If not what steps do I need to

[2017-07-17 12:41] wgfreitas commented on #7484
Thank you, @Gummikavalier!

Yes, I think it was related with #7472.
The only setting that I've changed was,

Sync User Avatar:	False

Login is being processed properly.

[2017-07-17 13:05] N4IR0 commented on #1133
This could be also great for us. Any news here?

[2017-07-17 13:07] N4IR0 commented on #4332
+1

[2017-07-17 13:10] localguru commented on #7511
![del_room](https://user-images.githubusercontent.com/8544984/28269354-0f34462a-6b02-11e7-9c3d-7cf2a7a623f1.jpg)

![del_room_admin](https://user-images.githubusercontent.com/8544984/28269355-0f54738c-6b02-11e7-9db6-40bed2940cae.jpg)

[2017-07-17 13:54] MartinSchoeler commented on #7497
@localguru what os are you using? And what browser are you using?

[2017-07-17 14:08] MartinSchoeler commented on #7508
@tanmoyopenroot have you run `meteor npm install` before running the app?

[2017-07-17 14:24] MartinSchoeler commented on #7502
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/7404

[2017-07-17 14:24] #7502 closed

[2017-07-17 14:37] MartinSchoeler commented on #3545
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 14:37] #3545 closed

[2017-07-17 14:37] graywolf336 commented on #7510
Webhooks itself doesn't have any special links parsing, it's just like regular chat links. And those are done via markdown style.

[2017-07-17 14:37] #7510 closed

[2017-07-17 14:38] graywolf336 commented on #7509
Please show an example command of how you are able to reproduce this.

[2017-07-17 14:54] MartinSchoeler commented on #3566
Closing this issue due lack of activity in a long time.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-17 14:54] #3566 closed

[2017-07-17 14:54] #3584 closed

[2017-07-17 14:57] MartinSchoeler commented on #3598
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 14:57] #3598 closed

[2017-07-17 15:00] MartinSchoeler commented on #3715
Closing this due lack of updates.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

Thanks!

[2017-07-17 15:00] #3715 closed

[2017-07-17 15:02] MartinSchoeler commented on #3626
Closing this due lack of updates.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

Thanks!

[2017-07-17 15:02] #3626 closed

[2017-07-17 15:09] propertunist opened #7512 "Rocket Chat 0.57.2 fails to launch on Fedora 64Bit"
Rocket.Chat Version: 0.57.2
Node Version: 4.7.2 - x64

I have run Rocket.Chat on Fedora 64bit here for over a year. I just found out that is has been offline for a week and I attempted to restart it using the systemD service file I had previously created. The service said it was restarted, but Rocket Chat was still unreachable.

I then downloaded the latest version of Rocketchat and installed it.

[2017-07-17 15:33] jpotts-IIL commented on #7511
Is it possible to accomplish this with the REST API?

[2017-07-17 15:44] tanmoyopenroot commented on #7508
@MartinSchoeler I did that before running `meteor`

[2017-07-17 15:46] mlanner commented on #4296
@TheReal1604 I did find the Minio doc, thanks. I tried to adapt it to my setup and I was able to see requests hit my cluster. However, it somehow mangles the request path. I'm still unsure of what it does, but at least I got a bit closer.

It looks like RC is using the AWS NodeJS SDK. Is that correct? If so, maybe I can get someone with more NodeJS skills than me to help me decipher what's happeni

[2017-07-17 15:52] MartinSchoeler commented on #3500
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 15:52] #3500 closed

[2017-07-17 16:28] MartinSchoeler commented on #3754
Closing this due lack of activity.

[2017-07-17 16:28] #3754 closed

[2017-07-17 16:34] #7484 closed

[2017-07-17 16:40] MartinSchoeler commented on #4199
I'm pretty sure that was fixed
<img width="704" alt="screen shot 2017-07-17 at 1 37 57 pm" src="https://user-images.githubusercontent.com/20868078/28278970-5873b760-6af5-11e7-9b7c-ce2eb9ee1822.png">

if not please reopen this.
Thanks!

[2017-07-17 16:40] #4199 closed

[2017-07-17 16:43] MartinSchoeler commented on #7511
@graywolf336 Do we have a api method for deleting channels?

[2017-07-17 16:43] MartinSchoeler commented on #3301
Closing this due lack of updates in a long time. If the problem persists, please reopen this. Thanks!

[2017-07-17 16:43] #3301 closed

[2017-07-17 16:45] MartinSchoeler commented on #3639
Closing this due lack of activity.
If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

Thanks!

[2017-07-17 16:45] #3639 closed

[2017-07-17 16:48] MartinSchoeler commented on #2979
Feature already added.

[2017-07-17 16:48] #2979 closed

[2017-07-17 16:52] geekgonecrazy commented on #7478
@dmitry-sher absolutely please let me know.  We'd love to get builds generated again on new releases. :+1:

[2017-07-17 16:56] graywolf336 commented on #7511
@MartinSchoeler Best place to look is the documentation and the code for the rest api: https://github.com/RocketChat/Rocket.Chat/tree/develop/packages/rocketchat-api/server/v1 https://rocket.chat/docs/developer-guides/rest-api/channels if you can't find it in either of those places, then it would appear not.

[2017-07-17 16:56] localguru commented on #7511
Have you tried "channels.delete"? Looking into "packages/rocketchat-api/server/v1/channels.js" there is a "channels.delete" possibility. Seems that the documentation for channels is not up to date.  But I haven't tested it.

https://rocket.chat/docs/developer-guides/rest-api/channels

[2017-07-17 17:15] localguru commented on #7511
@jpotts-IIL just a quick test. This works with public channels, but not private rooms:

get token
[code]

delete public channel
[code]

Tested with 0.57.1. Anybody knows why it's not possible to delete a private rooms, even if logged in as admin.

[2017-07-17 17:18] MartinSchoeler commented on #7511
@localguru For deleting private groups you have to use the `groups` methods https://rocket.chat/docs/developer-guides/rest-api/groups instead of the channel ones.

[2017-07-17 17:21] graywolf336 commented on #7511
Closing this as you can delete groups and channels, however we are happy to accept pull requests on the documentation repository for adding these. I would advise a new issue be created on the documentation repository for this. https://github.com/RocketChat/Rocket.Chat.Docs

[2017-07-17 17:21] #7511 closed

[2017-07-17 17:24] MartinSchoeler commented on #4856
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 17:24] #4856 closed

[2017-07-17 17:31] localguru commented on #7512
SystemD looks fine to my mind. Have you tried to remove the comments ```#```?

[2017-07-17 17:36] localguru commented on #7512
"Ctrl+Z" send to background, so the process is still running and I guess that's why you can't start it a second time from console with the same environment variables. Use "Ctrl+C" to stop it instead.

[2017-07-17 17:39] MartinSchoeler commented on #4873
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 17:39] #4873 closed

[2017-07-17 17:40] MartinSchoeler commented on #4810
Closing this due lack of updates.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-17 17:40] #4810 closed

[2017-07-17 17:41] MartinSchoeler commented on #4743
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 17:41] #4743 closed

[2017-07-17 17:42] #4827 closed

[2017-07-17 17:45] MartinSchoeler commented on #3609
Closing this since the original question was already answered.
If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-17 17:45] #3609 closed

[2017-07-17 17:47] MartinSchoeler commented on #4906
This is probably a Meteor translation issue, since this phrase is not on our i18n files. Please reopen this in their repository. Thanks!

[2017-07-17 17:47] #4906 closed

[2017-07-17 17:49] MartinSchoeler commented on #4915
If you still have this issue, please reopen it here https://github.com/RocketChat/Rocket.Chat.Electron Thanks!

[2017-07-17 17:49] #4915 closed

[2017-07-17 17:50] MartinSchoeler commented on #4954
Closing this issue due lack of activity.
If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-17 17:50] #4954 closed

[2017-07-17 17:52] MartinSchoeler commented on #3334
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 17:52] #3334 closed

[2017-07-17 17:55] MartinSchoeler commented on #4883
This is a meteor problem. Please reopen this in their repository. Thanks!

[2017-07-17 17:55] #4883 closed

[2017-07-17 17:55] localguru commented on #7509
Can't reproduce it. This is working fine for me on 0.57.1

[code]

[2017-07-17 17:56] MartinSchoeler commented on #4999
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-17 17:56] #4999 closed

[2017-07-17 18:01] graywolf336 commented on #7509
@localguru you even tried setting the avatar to another user by providing their username?

[2017-07-17 18:10] localguru commented on #7509
@graywolf336 no, I only tested to change my own avatar. If I try - as admin - to change another user's avatar I get an error:

[code]

[2017-07-17 18:17] graywolf336 commented on #7509
What command was you using to do it? As it is possible, we developed it and tested it a while back.

[2017-07-17 20:19] localguru commented on #7509
Same as above just with the userid of another user

[code]

[2017-07-17 20:22] graywolf336 commented on #7509
That's why then, that is the incorrect usage. Check the documentation: https://rocket.chat/docs/developer-guides/rest-api/users/setavatar

[2017-07-17 21:46] localguru commented on #7509
Sorry, don't understand. Could you post an example please.

[2017-07-17 22:15] graywolf336 commented on #7509
You always have to use your own user id when calling it. However, some api endpoints allow passing in a `userId: 'id'` or `username: 'uusernamehere'` in the body of the call. That is what I'm talking about

[2017-07-17 22:20] mhou1981 opened #7514 "HuBot cannot reply to the same room after receiving message."
Rocket.Chat Version:  0.57.2
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.8.2

HuBot cannot reply to the same room after receiving message.  Error as follows:
[code]

Rocket Chat error message:
[code]

Can any one help with this error?  I am not sure where it is wrong.

[2017-07-17 22:38] fifou17 opened #7515 "anonymous feature "invalid user" cant sign up as anonymous"
Rocket.Chat Version: 0.57.2
Running Instances: 1
DB Replicaset OpLog: yes
Node Version: 4.8.1

the bug of anonymous "invalid user" isnt solved still same as the ex build 0.57.0
![screenshot-localhost-3000-2017-07-17-15-39-41](https://user-images.githubusercontent.com/16228448/28292914-4163cf22-6b06-11e7-9d8a-01e49052f9d5.png)

[2017-07-18 00:32] wcgcoder commented on #919
@ScOut3R Unfortunately, some organizations have internal certificate authorities they're mandated to use (by law).

In other environments, I'd just use let's encrypt to get my certs.

[2017-07-18 02:33] graywolf336 commented on #7374
This is possible. Your outgoing integration must explicitly return false from either `prepare_outgoing_request` ([see source](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-integrations/server/lib/triggerHandler.js#L635-L638)) or `process_outgoing_response` ([see source](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-integrations/server/lib/t

[2017-07-18 02:33] #7374 closed

[2017-07-18 02:38] propertunist commented on #7512
@localguru - aha! thanks, i had no idea of the difference between Ctrl+C and Ctrl+Z. I closed down the terminal and opened a new one and rocketchat is now working again. Gold star for you! :)

[2017-07-18 02:38] #7512 closed

[2017-07-18 04:13] wcgcoder commented on #6566
Pinging on this one. Wondering what kind of CI Rocket Chat has in place...

I've been unable to build a number of releases from source, having to manually remove katex (for example) from the build in order to build successfully.

Is Rocket Chat being built from scratch each time? It seems like some build artifacts are being cached between builds. While this can make builds faster, it doesn't verif

[2017-07-18 07:23] fmuecke commented on #7374
Yea, sure, that's what the documentation says for **out**going webhooks.
But I don't see how this is going to work with **incoming** WebHooks.
Or am I missing something here?

[2017-07-18 08:42] DelboyJay commented on #5218
Just an FYI but someone has created a CVE for this here: https://nvd.nist.gov/vuln/detail/CVE-2017-1000054

Details of exploiting the vulnerability can be found here [https://www.theblazehen.com](https://www.theblazehen.com). The link in the CVE description appears to be broken.

[2017-07-18 10:03] localguru opened #7516 "[BUG] Notify ignored in edited messages"
Rocket.Chat Version: 0.57.1
Running Instances: 1
DB Replicaset OpLog: yes
Node Version: 4.5

When editing a message and add a notify like ```@all``` to the message, ```@all```is marked, but there is no notification to the users in the channel.

edit:
![edit](https://user-images.githubusercontent.com/8544984/28311770-f40d32c6-6bb0-11e7-8e09-65d0dbfae1e7.jpg)

result: marked, but **no notifcation**

[2017-07-18 10:29] choltkamp commented on #7507
Same here.

[2017-07-18 11:23] miltonfuller commented on #7507
Same here.

[2017-07-18 11:34] W0olFy commented on #7509
Hi all.

I can confirm that in current version 0.57.2 api request users.setAvatar not working if you use username parameter in payload of request.

Example:
[code]
Result:
[code]

Ok, let's try userId instead:
[code]
Result:
[code]
Good. Now let's look at source:
[line 189 of users.js](https://github.com/RocketChat/Rocket.Chat/blob/0.57.2/packages/rocketchat-api/server/v1/users.js#L189)

i don't s

[2017-07-18 11:36] choltkamp commented on #7490
I second this.

[2017-07-18 11:53] Romich777 opened #7518 "Hide deactivated users from rooms members"
Deactivated users shown in room members with invisible status.
I think it will be more useful to hide them in room members list

[2017-07-18 11:59] rndmh3ro commented on #6545
I did some more testing:

I deleted a LDAP user, then changed the auth-method to crowd. The user was then newly created and able to login. However the private conversation I had with him cannot be opened anymore, the error message says "the user could not be found." Now if I want to open the private conversation, the following error is logged:
[code]

I guess if I delete my user, too, the error wi

[2017-07-18 13:12] jthomae1 commented on #7507
Same here.

[2017-07-18 13:39] MartinSchoeler commented on #7515
Yes this fix will be released with version 0.57.3

[2017-07-18 13:39] #7515 closed

[2017-07-18 14:26] MartinSchoeler commented on #4828
Closing this due lack of updates.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-18 14:26] #4828 closed

[2017-07-18 14:33] MartinSchoeler commented on #4823
Please reopen this issue here https://github.com/RocketChat/Rocket.Chat.Electron . Thanks!

[2017-07-18 14:33] #4823 closed

[2017-07-18 14:33] MartinSchoeler commented on #4860
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 14:33] #4860 closed

[2017-07-18 14:34] MartinSchoeler commented on #4901
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 14:34] #4901 closed

[2017-07-18 14:37] MartinSchoeler commented on #4875
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 14:37] #4875 closed

[2017-07-18 14:39] MartinSchoeler commented on #3455
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 14:39] #3455 closed

[2017-07-18 14:47] fifou17 commented on #7515
@MartinSchoeler ohh sorry i didnt know thank you

[2017-07-18 14:53] lindoelio commented on #6087
Hi guys!
As suggestion, I've done implements based on the follows technical design:

- The control of volume for notifications is a new property value of user preferences, stored in your embedded settings document. It's can be configurable in same currently designated UI for setting user account preferences throught out a input range slider wich receive a integer from "0" to "100" value;
- I've cr

[2017-07-18 15:00] gordanyang opened #7521 "how to extend the text message?"
how can i  extend the text message like below?
i want to add **_ext:{...}**
[code]
Rocket.Chat Version:
Running Instances: 0.57
DB Replicaset OpLog:
Node Version: 4.8

[2017-07-18 15:10] localguru opened #7522 "[BUG] wrong user/search counting under Administration/Users"
Rocket.Chat Version: 0.56.0
Running Instances: 1
DB Replicaset OpLog: yes
Node Version: 4.5

The default count "result" under ```Administration/Users``` doesn't show the total number of users, but only the first 50. The expected behaviour if entering ```Administration/Users``` and no search pattern is set, would be the total number of users and not just the first 50.

When searching for users the

[2017-07-18 15:10] MartinSchoeler commented on #5030
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 15:10] #5030 closed

[2017-07-18 15:56] #7521 closed

[2017-07-18 16:45] MartinSchoeler commented on #7521
Closing this due lack of activity.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-18 16:49] MartinSchoeler commented on #5080
Closing this due lack of activity.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-18 16:49] #5080 closed

[2017-07-18 16:51] MartinSchoeler commented on #3673
Yes please refer to #2001

[2017-07-18 16:51] #3673 closed

[2017-07-18 17:02] MartinSchoeler commented on #5097
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 17:02] #5097 closed

[2017-07-18 17:05] MartinSchoeler commented on #3541
@Sing-Li can this be closed?

[2017-07-18 17:15] MartinSchoeler commented on #4035
This is a google chrome problem not a Rocket chat one. Chrome won't allow using your camera or microphone on non `https` sites. https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins

Thanks!

[2017-07-18 17:15] #4035 closed

[2017-07-18 17:20] MartinSchoeler commented on #5356
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 17:20] #5356 closed

[2017-07-18 17:24] MartinSchoeler commented on #3462
If you still have this issue please reopen this in here https://github.com/RocketChat/Rocket.Chat.Electron

Thanks!

[2017-07-18 17:24] #3462 closed

[2017-07-18 17:27] MartinSchoeler commented on #5432
Closing this due lack of updates.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-18 17:27] #5432 closed

[2017-07-18 17:31] MartinSchoeler commented on #5440
Closing this due lack of activity.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-18 17:31] #5440 closed

[2017-07-18 17:34] MartinSchoeler commented on #5456
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 17:34] #5456 closed

[2017-07-18 17:35] MartinSchoeler commented on #5485
Closing this issue due lack of activity

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-18 17:35] #5485 closed

[2017-07-18 18:34] MartinSchoeler commented on #5837
Closing this due lack of updates.

If the problem occurs again please reopen this. Thanks!

[2017-07-18 18:34] #5837 closed

[2017-07-18 18:36] MartinSchoeler commented on #5090
Since the issue was resolved i will close this

[2017-07-18 18:36] #5090 closed

[2017-07-18 18:38] MartinSchoeler commented on #5003
For the camera and microphone to work on chrome you need to be in a https environment. https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins

[2017-07-18 18:38] #5003 closed

[2017-07-18 18:39] Elethiomel opened #7524 "File upload extremely slow with multiple instances"
Since upgrading today from 0.57.2 from 0.56 I'm experiencing extremely slow file uploads. Files are taking minutes to upload instead of being nearly instantaneous.

The file seems to upload very slowly in 16k chunks to /tmp/ufs. I can see things like this in /tmp/ufs

`-rw-r--r--` 1 root root 16384 Jul 18 17:51 72j4eMfBmzJFDeeCf

Then some time later....

`-rw-r--r-- 1 root root 32768 Jul 18 17:55

[2017-07-18 18:41] antgel commented on #7514
I see this too. Using RC 0.57.2, hubot-rocketchat `master`, currently at `a7bb24b1c22f9830ff996e7d520d577ebb62cdb6`.

[2017-07-18 18:42] MartinSchoeler commented on #6051
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 18:42] #6051 closed

[2017-07-18 18:45] MartinSchoeler commented on #6069
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-18 18:45] #6069 closed

[2017-07-18 20:35] johnfelipe commented on #5003
And if we use Firefox?

El 18 jul. 2017 13:38, "Martin Schoeler" <notifications@github.com>
escribió:

[2017-07-18 20:43] localguru commented on #7518
Good idea, but I would flag them as "deactivated". I might be a difference in communication if you know an user will be able to read the channel/room after re-activation, than not being a room member at all.

[2017-07-18 20:48] localguru commented on #7524
Have you tested it with only one running instance?

[2017-07-18 22:35] JohnnyKing94 commented on #6622
There is another issue opened about that... I link it: https://github.com/RocketChat/Rocket.Chat/issues/3661

[2017-07-18 22:49] Elethiomel commented on #7524
@localguru : Great idea!

Moving to one instance gives me file uploads in a second or two. Moving back to three instances breaks uploads again.

Any idea what might have changed between 0.56.0 and 0.57.2 to cause this behaviour?

[2017-07-18 23:03] mhou1981 commented on #7514
The script is working in version 1.0.8 and failed in 1.0.9.

[2017-07-18 23:25] mhou1981 commented on #7514
I have moved this issue to the hubot-rocketchat repository

[2017-07-18 23:25] #7514 closed

[2017-07-18 23:38] Noculi commented on #3661
While this is a cool idea, it would not fit the design of RC.
A substitute can be a "drop-in" type setting that looks something like the screenshot below.

![notincall](https://user-images.githubusercontent.com/15057172/28344295-5821f99c-6bd7-11e7-85ad-724f5a785f6c.png)
![incall](https://user-images.githubusercontent.com/15057172/28344296-582adf8a-6bd7-11e7-9473-3f15c34d02d5.png)

[2017-07-19 07:52] rillig-nm commented on #4823
It is fixed in Rocket.Chat.Electron 2.8.0. Thanks.

[2017-07-19 08:23] KoAi commented on #6809
Hi,
From my part, with same config mention above I get following error:

Did somebody make it works ?

[2017-07-19 09:01] Elethiomel commented on #7524
I spoke too soon. 2 instances causes slow speeds too. Perhap I didn't wait long enough for the second instance to join when I did my last test. After a minute or so it became as slow as three instances.

[2017-07-19 09:27] jthomae1 commented on #7522
I would expect, that (at least) the total number of Users (or search results) is displayed on top. Something like: "50 Results **OF ???**"

[2017-07-19 09:36] localguru commented on #7524
Seems to be a problem between the nodes then. I don't run multi nodes, just one, because there to many issues open regarding multiple nodes, e.g. like notification problems.

[2017-07-19 09:43] Archer4l commented on #6537
@Scream85 you right, it this sting need change
"ProxyPass / balancer://rocketchat/"

[2017-07-19 11:17] localguru commented on #7524
may be similar to #7485

[2017-07-19 12:42] baynezy commented on #4959
Yes please. This is hugely annoying, I should be able to identify each channel member's role without needing them to send a message to the channel.

[2017-07-19 13:53] rndmh3ro opened #7527 "Trailing slash from URL gets cut off (visually)"
When pasting an URL with a trailing slash, the slash gets cut off visually. If I click the URL, the slash is still there, though.
Write `https://example.com/group/test/`, but `https://example.com/group/test` gets shown. But if I actually click the URL `https://example.com/group/test/` gets opened.

![grafik](https://user-images.githubusercontent.com/3198961/28369900-2e3a392e-6c99-11e7-8308-b5d540a

[2017-07-19 14:12] MartinSchoeler commented on #4846
Closing this due lack of info.
If you continue to have this issue, please open a new issue after testing with the latest release and posting any errors in the [console](https://rocket.chat/docs/contributing/reporting-issues#gathering-logs)

Thanks!

[2017-07-19 14:12] #4846 closed

[2017-07-19 14:17] MartinSchoeler commented on #6048
Closing this due lack of activity.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-19 14:17] #6048 closed

[2017-07-19 14:19] MartinSchoeler commented on #6332
Closing this due lack of activity.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-19 14:19] #6332 closed

[2017-07-19 14:21] #6627 closed

[2017-07-19 14:22] MartinSchoeler commented on #6345
Probably related to https://github.com/RocketChat/Rocket.Chat/issues/6814 and that was already fixed. If you experience this again please reopen this. Thanks!

[2017-07-19 14:22] #6345 closed

[2017-07-19 14:24] MartinSchoeler commented on #6349
@axeloz  Closing this due lack of updates. If you experience this again, please reopen this with updated details.Thanks!

[2017-07-19 14:24] #6349 closed

[2017-07-19 15:06] hard2er commented on #7522
same here.
a fix would be nice!

[2017-07-19 15:07] hard2er commented on #7516
same here.
a fix would be nice

[2017-07-19 15:07] hard2er commented on #7507
same here.

[2017-07-19 15:07] hard2er commented on #7490
same here.

[2017-07-19 15:07] hard2er commented on #7241
same here.

[2017-07-19 15:08] hard2er commented on #7100
same here.

[2017-07-19 15:10] localguru commented on #6653
See https://github.com/RocketChat/Rocket.Chat.Electron/issues/455

[2017-07-19 15:10] #6653 closed

[2017-07-19 15:11] kkoorndyk opened #7528 "LDAP login issues"
Rocket.Chat Version: 0.57.2
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: 4.8.2

I had an instance of RC version 0.44.0 running with LDAP working.  There were some issues where users would register an account using non-LDAP credentials which would fail, but the email address would still be in the database so that when attempted to login using their AD credentials it would fail.

[2017-07-19 15:19] localguru commented on #7527
Same here on 0.56.0 and 0.57.1

[2017-07-19 16:53] MartinSchoeler commented on #6439
Closing this due lack of activity.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-19 16:53] #6439 closed

[2017-07-19 16:56] MartinSchoeler commented on #1973
Closing this due lack of updates.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-19 16:56] #1973 closed

[2017-07-19 17:03] zipper2110 commented on #7498
Same goes for direct messages list, it is sorted by username, event though real names are displayed.

[2017-07-19 17:04] MartinSchoeler commented on #2644
Closing this due lack of updates.

[2017-07-19 17:04] #2644 closed

[2017-07-19 17:10] MartinSchoeler commented on #4500
Closing this due lack of updates. If you experience this issue again, feel free to reopen this. Thanks!

[2017-07-19 17:10] #4500 closed

[2017-07-19 17:17] zipper2110 commented on #7498
Also, it sorts the list by capital A-Z first, then by lowercase a-z, so the user who has a username starting with a letter "M" going before user that has username starting with "a".

[2017-07-19 17:23] MartinSchoeler commented on #3164
Closing this due lack of updates

[2017-07-19 17:23] #3164 closed

[2017-07-19 17:27] MartinSchoeler commented on #6062
@Sing-Li Have you seen this bug lately?

[2017-07-19 18:35] MartinSchoeler commented on #6643
Closing this due lack of activity.

If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-19 18:35] #6643 closed

[2017-07-19 19:34] MartinSchoeler commented on #6710
This pr should probably have fixed that #7448 . Please reopen this if the problem persists. Thanks!

[2017-07-19 19:34] #6710 closed

[2017-07-19 19:36] TheReal1604 commented on #7522
Hey Guys,

i think this is not a bug, but a feature. The Number just indicates the current amount listed in the list. If you extend the list with the button, the counter is rising.

[2017-07-19 20:50] localguru commented on #7490
See https://github.com/RocketChat/Rocket.Chat.Docs/issues/328

I think something like a proxy url, which fetches the non-ssl content could solve the problem.

[2017-07-19 20:57] rasos opened #7530 "Push token not sent since 0.56"
Even if token is registered correctly with our own GCM key:
`[34mI20170719-22:18:36.809(2) rocketchat_logger.js:377 [34mMeteor ➔ method raix:push-update -> userId: ijjpgnnnnnbLBQcqz , arguments:  { '0':     { appName: 'qt mobile client',      token: { gcm: 'dnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnng' },      userId: 'ijjpgnnnnnbLBQcqz' } }`

No push messages are sent and I can not send any tokens

[2017-07-19 21:03] localguru commented on #7522
@TheReal1604 Hmmm ... may be it's not a bug, but that's not what one would expect. And getting the total number if user by clicking on the "load" button at the end of the site, can't be the way. I like the idea of @jthomae1

[2017-07-19 21:08] localguru commented on #7497
@MartinSchoeler Linux both server and client. On client side I use Firefox 54.0 (64-Bit)

[2017-07-19 21:11] localguru commented on #7489
+1

[2017-07-19 21:12] localguru commented on #7488
I like the idea. +1

[2017-07-19 21:24] arminfelder opened #7531 "create a mailing list for API changes"
having a mailinglist, which informs about upcoming API changes(even really small ones !), would help to keep track, for App developers!

[2017-07-19 21:32] kassanmoor commented on #4155
I am using 0.57.2 and this issue still happening, first times works well, but eventually one user logs out and never can enter again, logs display correct access, only error is:

`rocketchat_logger rocketchat_logger.js:377 LDAP ➔ Connection.error connection { [Error: read ECONNRESET] code: 'ECONNRESET', errno: 'ECONNRESET', syscall: 'read' }`
--

[2017-07-19 21:35] kassanmoor commented on #5165
Same problem here

[2017-07-19 22:14] localguru opened #7532 "[BUG] non owner can add any user/bot to channels"
* Operating System / Version / Architecture (64 bit?): Ubuntu 16.04 LTS, 64 bit
* Browser type & Version: Firefox 54.0 (64-Bit)
* Desktop Environment (if desktop app) / Version: Linux, Rocket.Chat+ Version 2.8.0
* Rocket.Chat Version: 0.57.1, self build bundle
* Running Instances: 1
* DB Replicaset OpLog: yes
* Node Version: 4.5
* mongodb-org: 3.4.5

* Actual behavior (In other words, the "bug")

[2017-07-19 23:57] localguru commented on #2588
Is anything going on here?

[2017-07-20 00:28] josean7link commented on #6393
I having the same problems with the setup of the LDAP and the Rocketchat. need to update this post with me info later.

[2017-07-20 02:53] keitaro1020 commented on #7480
div class="main-content content-background-color"  -> z-index:120;
div class="emoji-picker secondary-background-color"  -> z-index is undefined

emoji-picker hides behind main-content.
emoji-picker is displayed if set "z-index:121;".

[2017-07-20 10:05] Crivaledaz opened #7534 "Joinning channel - users block on loading screen"
Hi,

I have updated Rocket.Chat two days ago from 0.56.0 to 0.57.2. It was fine, even if the installation process is a bit complex on an offline server (internal company network without internet) because of npm use.

However, since two days my team knows issues to join public channel. In fact, we have chosen to disable channel preview for user (uncheck the box "preview-c-room"), but when a user wa

[2017-07-20 11:11] localguru commented on #7534
I can confirm!

* Operating System / Version / Architecture (64 bit?): Ubuntu 16.04 LTS, 64 bit
* Browser type & Version: Firefox 54.0 (64-Bit)
* Desktop Environment (if desktop app) / Version: Linux, Rocket.Chat+ Version 2.8.0
* Rocket.Chat Version: 0.57.1, self build bundle
* Running Instances: 1
* DB Replicaset OpLog: yes
* Node Version: 4.5
* mongodb-org: 3.4.5
* Logfile
[log.txt](https://gith

[2017-07-20 13:04] #7435 closed

[2017-07-20 14:50] TriPhoenix commented on #6566
As far as I understand the process, the client-ID (assuming you want to work with the public apps) would probably be gathered from https://github.com/RocketChat/Rocket.Chat.iOS/blob/master/Rocket.Chat/GoogleService-Info.plist

However as we don't need to build the client code right now, an alternative is to build using `meteor build --server-only --directory ../rocketchat-build` which only builds

[2017-07-20 15:38] antgel commented on #6566
@reist Might it be that your changes will help here?

[2017-07-20 15:58] jy2008 opened #7536 "Oauth problem: twitter works, fb and google don't"
version: 0.57

It is weird, twitter Oauth login works, but facebook and google doesn't, no matter what i do.
facebook when i click the button, auth login page won't even pop up, on right corner saying `internal error`;
google oauth when i click the button, login auth window does pop up, but shows error saying: redirect URL doesn't match.

Isn't the redicrect url the one on RC admin Oauth section?

[2017-07-20 17:10] geekgonecrazy commented on #7532
@localguru this is by design.  A private channel this is not possible and does exactly what you say.  But a public channel is designed to be fluid to allow mentioning and bringing people into the conversation.

Closing since not a bug.  Also this discussion already exists: #4286

[2017-07-20 17:10] #7532 closed

[2017-07-20 17:14] geekgonecrazy commented on #7504
What version of mongo are you running?

[2017-07-20 17:17] geekgonecrazy commented on #7490
That feature has actually been requested already #4963

Lets keep the ask and conversation on this ticket on topic.  This ticket is about preventing non-secure previews.

[2017-07-20 17:27] geekgonecrazy commented on #7437
@ml48603 all settings would be backed up by the backupdb command.

Can you do an `ls -l` in your `dump/parties` folder?

[2017-07-20 17:28] geekgonecrazy commented on #4963
Duplicate of #971

[2017-07-20 17:28] #4963 closed

[2017-07-20 17:31] ml48603 commented on #7437
geekgonecrazy: it's skidmark2 on Team: demo.rocket.chat

# ls -lah /var/snap/rocketchat-server/829/dump/parties
total 3.0M
drwxr-xr-x 2 root root  4.0K Jul 20 07:25 .
drwxr-xr-x 3 root root  4.0K Jul 20 07:25 ..
-rw-r--r-- 1 root root   161 Jul 20 07:25 instances.bson
-rw-r--r-- 1 root root   191 Jul 20 07:25 instances.metadata.json
-rw-r--r-- 1 root root     0 Jul 20 07:25 meteor_accounts_loginSe

[2017-07-20 17:33] geekgonecrazy commented on #7437
-rw-r--r-- 1 root root 371 Jul 20 07:25 rocketchat_settings.metadata.json

That is the settings that you change in the administrative panel.  So for sure present in the back up.

Are you getting any errors while restoring?

What kind of settings are you noticing that aren't set still?

[2017-07-20 17:35] geekgonecrazy commented on #7530
Do you have your own mobile applications or are you using ours?

If you are using ours published in the apps store, you do not need GCM keys.  All you need is to set use gateway to true.

[2017-07-20 17:36] geekgonecrazy commented on #7528
Can you try turning off avatar sync and turn the other two sync's back on?

[2017-07-20 17:40] ml48603 commented on #7437
When I did the restore no personal settings or administrative settings were retained.  Settings appeared to be default after the restore to 671.

I haven't attempted a backup/restore since the SNAPS auto-refresh from Build 671 to 801 that crashed my server.  Build 812 to 829 auto-refresh happened last night without mishap.

If administrative settings are retained in
-rw-r--r-- 1 root root 255K Jul

[2017-07-20 17:40] geekgonecrazy commented on #7524
So this is caused by #7304 basically if the post that uploads the file hits another instance then the one you are connected to.. it proxies the request to the instance you are connected to.

[2017-07-20 17:44] geekgonecrazy commented on #7474
Just so I understand the main ask here is to allow setting this for the iframe right?

[2017-07-20 17:51] geekgonecrazy commented on #7437
personal settings would be on the users collection primarily

Are you disabling rocket.chat while you import the db?

`sudo systemctl stop snap.rocketchat-server.rocketchat-server`
Do your import
`sudo systemctl start snap.rocketchat-server.rocketchat-server`

See more docs on that here: https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps#how-do-i-restore-backup-data-to-my-snap-

[2017-07-20 18:01] MartinSchoeler commented on #6805
I am going to close this issue due to the lack of any update and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-20 18:01] #6805 closed

[2017-07-20 18:04] ml48603 commented on #7437
It was some time ago.  I can't remember for sure.  I do have it in my notes to stop the RC server during the backup/restore.

[2017-07-20 18:12] wcgcoder commented on #6732
@MartinSchoeler @rodrigok

Hello!
Respectfully recommend that this is *not* a support ticket.
This is a fundamental breaking problem for anyone but the smallest organizations.
The LDAP sync feature as it is implemented currently is unusable!

I can also replicate this in versions 0.56.0 through 0.57.2

[2017-07-20 18:16] MartinSchoeler commented on #6875
Yep fixed by #7404

[2017-07-20 18:16] #6875 closed

[2017-07-20 18:25] geekgonecrazy commented on #7485
So in your settings there it shows that you are using gridfs.

Is the goal here to store files on glusterfs or to store in gridfs?

[2017-07-20 18:58] privacyintchat commented on #7504
MongoDB shell version: 3.2.15

001-rs:PRIMARY> db.version()
3.2.14

[2017-07-20 19:27] geekgonecrazy commented on #7504
Should be good there. Are you running this in some sort of VM? That restore log looks like some sort of corruption.

As to the user not found error.  Do the users they are seeing that for actually still exist?

[2017-07-20 20:49] kkoorndyk commented on #7528
That seems to have done the trick!  Thanks!

[2017-07-20 20:49] #7528 closed

[2017-07-20 21:05] privacyintchat commented on #7504
I'm running it on a KVM VPS with Ubuntu 16.04
Users exist but you get the message "user not found" from time to time when you enter the direct message. The user still exists.

The initial import that failed completely was on that machine, too.
The import from this log was on a virtualbox with Ubuntu 16.04 - but it fails on 14.04 with the same error.

One of my users noticed that it tends to appear

[2017-07-20 22:43] localguru commented on #7532
@geekgonecrazy good to know. But then I don't understand why I can't add users as non owner just via ```Members List``` of a channel or by REST API ```channels.invite```. This is a inconsistent then. And in case of a bot I'm not sure if this is a good idea at all.

[2017-07-20 23:41] wcgcoder commented on #6566
Thanks @antgel. I should have checked!

Indeed, a number of things are cached. With npm any more, things change on a daily basis, so I guess it's not surprising that things won't build for me.

[code]

[2017-07-21 06:34] Gummikavalier commented on #3792
This would greatly help in identifying orphaned channels when people leave or move in the organization to different tasks.

[2017-07-21 07:36] tapule commented on #3830
Also, there is no notifications with WebRTC Voice and Video Calls.
When you have an incomming voice or video call, rocket shows you a popup to accept the call, but there is no notification to advice you.

[2017-07-21 08:16] pkgodara commented on #7527
@rndmh3ro Does it cause any problems? Please state them.

[2017-07-21 08:38] rndmh3ro commented on #7527
There are no problems. One *could* have a problem if you want to copy-paste the url from within rocketchat. Then the trailing slash would be missing.

[2017-07-21 08:48] zys5945 opened #7537 "Couldn't install via snap"
Hi so I just wanted to install the standalone server.

I used the command on rocket.chat
`snap install rocketchat-server`

however I got the following error message
error: cannot install "rocketchat-server": Get
       https://search.apps.ubuntu.com/api/v1/snaps/details/core?channel=stable&fields=anon_download_url%2Carchitecture%2Cchannel%2Cdownload_sha3_384%2Csummary%2Cdescription%2Cdeltas%2Cbina

[2017-07-21 09:12] krprzenioslo commented on #7485
Without GlusterFS, images uploaded in 50% and I have half of image or less when i click on it in chat. With GlusterFS problem disappeared in 0.56 server.
I don't know what would be better configuration?
I have tested the files upload with stopped Glusterfs and active gridfs in Rocket.Chat just few minutes ago.
Problem is the same "Error 500" - my first post.

[2017-07-21 09:18] zys5945 commented on #7537
Ok problem solved. It turned out to be I uninstalled my NS (bind9), but left my resolver to still use the localhost, 127.0.0.1 for name resolution, so it couldn't resolve the domain name and thus giving the error above.

[2017-07-21 09:18] #7537 closed

[2017-07-21 09:27] sasakura-sora commented on #7474
@geekgonecrazy yes a setting that instructs RC to set the document.domain.

It'd be nice to get some more error logging or protection from custom scripts breaking but that's a separate issue.

[2017-07-21 09:42] teamsoo commented on #7530
Push works fine on my custom Cordova build + 0.56 & 0.57.2 servers

[2017-07-21 10:30] chkpnt commented on #1112
I also would like to see threads.

[2017-07-21 11:18] rdutina commented on #7381
Hi,

is there any written procedure or instructions on how to do that?

For version 0.36 I’ve been following https://rocket.chat/docs/installation/manual-installation/windows-server <https://rocket.chat/docs/installation/manual-installation/windows-server> procedure but for newest RocketChat release, I cannot find anything under “the Rocket.Chat releases page”. I would appreciate any help or guide

[2017-07-21 12:03] #7433 closed

[2017-07-21 12:50] ZoR3oL commented on #1149
Solution provided by @kalebwalton worked for me, thanks !

[2017-07-21 13:50] MartinSchoeler commented on #3904
duplicate of #2588

[2017-07-21 13:50] #3904 closed

[2017-07-21 13:54] MartinSchoeler commented on #4519
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 13:54] #4519 closed

[2017-07-21 13:55] MartinSchoeler commented on #4599
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 13:55] #4599 closed

[2017-07-21 13:56] MartinSchoeler commented on #4613
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 13:56] #4613 closed

[2017-07-21 13:59] MartinSchoeler commented on #4655
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 13:59] #4655 closed

[2017-07-21 14:10] MartinSchoeler commented on #4681
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 14:10] #4681 closed

[2017-07-21 14:11] #4753 closed

[2017-07-21 14:13] MartinSchoeler commented on #4962
duplicate of #3522

[2017-07-21 14:13] #4962 closed

[2017-07-21 14:14] MartinSchoeler commented on #5054
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 14:14] #5054 closed

[2017-07-21 14:14] MartinSchoeler commented on #4986
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 14:14] #4986 closed

[2017-07-21 14:37] dariosusman commented on #2651
Can't this be a choice? I'm running 0.57.1. Highlights are marked, but not notified, when the setting clearly states "To be notified when someone mentions a word of phrase..."

[2017-07-21 15:24] Brondahl commented on #7291
I have a very similar issue.
For me I upload 2 files, and both files do get uploaded, but they're displayed with the same names.

OS: Win 10.
Browser: FF
RC vers: 0.57.2

[2017-07-21 15:47] bluenevus commented on #6809
This is your problem.
![image](https://user-images.githubusercontent.com/3675043/28471171-3b59a320-6e0a-11e7-90cf-cd294d8e1abc.png)

it has to be https

[2017-07-21 15:47] bluenevus commented on #6809
![image](https://user-images.githubusercontent.com/3675043/28471212-60effb16-6e0a-11e7-9e54-55c1dba6e19e.png)

[2017-07-21 15:47] bluenevus commented on #6809
![image](https://user-images.githubusercontent.com/3675043/28471220-69bbb640-6e0a-11e7-916d-32f09813772c.png)

[2017-07-21 15:50] bluenevus commented on #6809
your redirect url on o365 will need to be https://your.rocketchat-server.com/_oauth/CustomOAuthNAME

doing a localhost will be problematic.  If you want to do that, put a reverse proxy so you are going out and in on https on 443 not 3000

It works...we have it working this way

[2017-07-21 16:53] MartinSchoeler commented on #7201
Please see: https://rocket.chat/docs/developer-guides/iframe-integration/#iframe-integration for details about iframe integrations
----
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional detail

[2017-07-21 16:53] #7201 closed

[2017-07-21 16:55] MartinSchoeler commented on #7139
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 16:55] #7139 closed

[2017-07-21 17:18] MartinSchoeler commented on #6691
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 17:18] #6691 closed

[2017-07-21 17:27] MartinSchoeler commented on #6613
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 17:27] #6613 closed

[2017-07-21 17:28] MartinSchoeler commented on #5731
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 17:28] #5731 closed

[2017-07-21 17:29] MartinSchoeler commented on #5845
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 17:29] #5845 closed

[2017-07-21 17:34] MartinSchoeler commented on #5840
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 17:34] #5840 closed

[2017-07-21 17:38] MartinSchoeler commented on #5912
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 17:38] #5912 closed

[2017-07-21 17:44] Archer4l commented on #7528
I upgrade rocketchat from 0.56.0(Node version | v4.8.2) version 0.57.2(Node version | v4.8.2), mongodb 3.2.15 and 3.6(on another installation)

LDAP Enable: True
Login Fallback: False

Domain Base: dc=xx,dc=xx,dc=xxxx
Use Custom Domain Search Filter: False
Enable LDAP user group filter: False
Domain Search User ID: sAMAccountName
Domain Search Filter: &(mail=*)(sn=*)(!(userAccountControl:1.2.840.1

[2017-07-21 17:45] MartinSchoeler commented on #7476
Closing this since we are working in reducing the number of issues and updating our issues and support guidelines. Thanks for all your opinions guys!

[2017-07-21 17:45] #7476 closed

[2017-07-21 17:52] MartinSchoeler commented on #5975
#7270 fixed this

[2017-07-21 17:52] #5975 closed

[2017-07-21 17:55] MartinSchoeler commented on #6959
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 17:55] #6959 closed

[2017-07-21 18:10] MartinSchoeler commented on #5996
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 18:10] #5996 closed

[2017-07-21 18:15] MartinSchoeler commented on #6908
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 18:16] MartinSchoeler commented on #7277
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 18:16] #7277 closed

[2017-07-21 18:21] MartinSchoeler commented on #7011
duplicate of #2355

[2017-07-21 18:21] #7011 closed

[2017-07-21 18:22] MartinSchoeler commented on #6000
Duplicate of #1861

[2017-07-21 18:22] #6000 closed

[2017-07-21 18:34] MartinSchoeler commented on #5951
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-21 18:34] #5951 closed

[2017-07-21 21:19] mrplow opened #7539 "SlackBridge - Editing message"
### Description:

Editing a message in slack with SlackBridge installed causes an exception
### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Linux 4.4.0-83-generic
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 2
* DB Replicaset Oplog: yes
* Node Version: v4.8.4

### Steps to Reproduce:

1. Edit a message in slack with Slac

[2017-07-21 22:14] Unterstrichmoepunterstrich opened #7540 "e-mail address is everytime invalid"
### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Debian 8.8
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: don't know
* Node Version: this from docker

[22:00:18] chat:~# lsb_release -a
LSB Version:	core-2.0-amd64:core-2.0-noarch:core-3.0-amd64:core-3.0-noarch:core-3.1-amd64:core-3.1-noarch:core-3.2

[2017-07-21 22:17] antgel commented on #7531
Why not just follow discussions here and release changelogs? IMHO, RC information is already spread in too many different places.

[2017-07-21 22:53] alexweissman commented on #5473
I am also experiencing this issue in 0.55.1, on Ubuntu 16.04.  Other features that use SMTP work fine.

[2017-07-22 02:55] geekgonecrazy commented on #5912
Please feel free to hop in [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) on our community server if you need to follow up on this.

[2017-07-22 02:57] geekgonecrazy commented on #6809
We definitely need to turn this in to a doc.  I think this would be incredibly useful.

[2017-07-22 03:12] geekgonecrazy commented on #7474
@sampaiodiego I think you are most familiar with the iframe stuff.  Is it possible to configure to allow them to set a document.domain ?

[2017-07-22 06:05] sitexa commented on #1927
I am on local machine, rocket.chat + rocket.chat.cordova.
-  start rocket.chat server: meteor --mobile-server=http://192.168.2.104:3000
-  start ios app: cordova run ios , success, I can connect to local server
-  start android app: cordova run android, success, but I cannot connect to local server.
    saying: Waiting for server connection, try again in 148 seconds...
-  also I cannot connect to

[2017-07-22 09:18] rasos commented on #7530
I had to remove all tokens from the MongoDB and restart Rocket.Chat and re-login the client, now push messages are again delivered.

Additionally, applied again patch https://github.com/RocketChat/Rocket.Chat/issues/6988#issuecomment-304784404 so that notifications are always delivered, regardless whether online status of client is online or offline.

[2017-07-22 09:18] #7530 closed

[2017-07-22 09:33] rasos commented on #1602
Push patch for RC 0.56 in /var/lib/rocket.chat/bundle/programs/server/packages/rocketchat_lib.js line 1821:

[code]
line 2000:

[code]

[2017-07-22 09:56] ArjunBhatt opened #7543 "Allow File Sharing in LiveChat"
Is it possible in LiveChat to share files between Agent and Guest?

### Expected behavior:
I think, this feature is more important then other features.

### Actual behavior:
In version 0.56.0, I didn't find a way to share file between Agent and Guest.

[2017-07-22 10:46] trungducnet commented on #7100
Same here :( +1 for this feature

[2017-07-22 10:48] thachpn165 commented on #7100
Same here, please add this feature to disable 2FA for users.

[2017-07-22 11:28] arminfelder commented on #7531
Exactly the spreading is the problem, I can not always check discussion threads to figure out if my application will still work in a few days. I strongly belief that the API has to be rock solid, needs a revision number and has to be an api change alert mailinglist(or ro channel...), as e.g. google offers

[2017-07-22 11:48] antgel commented on #7530
FWIW, I had to do the same thing (remove all tokens from MongoDB). I wish I'd kept the logs of what were there - I seem to remember some token being exceptionally long - not sure if that was the actual cause of the problem.

[2017-07-22 12:42] Elethiomel commented on #7524
@geekgonecrazy I could have sworn that I had stickiness enabled on my load balancer, but it turns out that I didn't I'm guessing that enabling it would fix this? Or is it a case that rocketchat communicates through websockets for most things and the plain HTTP post is therefore a different session and could still end up elsewhere?

[2017-07-22 14:15] startailcoon commented on #1459
I support the need for a Windows Phone application. Better yet, make it a UWP and publish it to the store.
Thanks!

[2017-07-22 15:16] sacOO7 commented on #7399
Any updates? Please !!!!

[2017-07-22 15:16] sacOO7 commented on #7398
Any updates? Please !!!!

[2017-07-22 15:17] sacOO7 commented on #7397
Any updates? Please !!!!

[2017-07-22 16:12] pkgodara commented on #7540
Does it have format like <username@something.something>. Maybe use some example which would replicate the exact format, so that it could be investigated.

[2017-07-22 16:39] NawrasAli opened #7544 "Blue screen shows after running RocketChat over SSL"
### Description:

I installed RocketChat successfully. It works fine through 3000 port (mydomain :3000/). However, it shows blue screen when I try to run it over httpS (https ://my domain)

I use nginx as the main web server and as a reverse proxy.

### Server Setup Information:

* Version of Rocket.Chat Server:  0.57.2
* Operating System: Debian Jessie server
* Deployment Method(snap/docker/tar/e

[2017-07-22 16:47] novuu commented on #6794
I would prefer to store last logged in URL and upon new login, redirect the user to that URL

[2017-07-22 19:44] sampaiodiego commented on #7474
@geekgonecrazy well, we can create a setting for that. but I'm not sure how it works.

@sasakura-sora if you add it (the `document.domain`) at the top of your custom script, does it work as expected?

[2017-07-22 19:45] stacybot123 opened #7545 "Iframe Login Issue not Loading anything"
### Description:

I am trying to login to Iframe using the token. I generated the token at the login page using the username and password. Now on the page where I am trying to load the instance nothing is loading . I am not getting any error message on the Console.

The Rocket Chat is installed on Google Cloud Server.
The Dashboard where I want to Show Chat is on Other server

Here is the code I u

[2017-07-22 19:47] sasakura-sora commented on #7474
@sampaiodiego yes it works as expected in Chrome. The iframe domain matches the outer page domain and we can call functions set on window.parent

[2017-07-22 19:54] sampaiodiego commented on #7474
cool.. thanks @sasakura-sora .. so it's a matter of creating the setting..

[2017-07-22 20:59] Unterstrichmoepunterstrich commented on #7540
its firstname@lastname.net

[2017-07-22 21:29] drasbeck opened #7546 "No favicon in Brave browser"
### Description:

In Brave browser the RC favicon is not loaded.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Deployment Method: Official demo server (but the same goes for my own rpi snap server)

### Steps to Reproduce:

1. Open demo.rocket.chat with Brave browser.

### Expected behavior:

Site should show the RC favicon in all its glory.

### Actual behavior:

No fa

[2017-07-22 21:52] geekgonecrazy commented on #7544
It sounds like your reverse proxy handling the ssl isn't properly proxying requests to rocket.chat.

Have you seen our documentation for setting up nginx reverse proxy? https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy#running-behind-a-nginx-ssl-reverse-proxy

Please give that a shot.  Going to go ahead and close since not a bug or feature request.  Feel free

[2017-07-22 21:52] #7544 closed

[2017-07-22 21:57] geekgonecrazy commented on #7540
@Unterstrichmoepunterstrich is it a valid domain?  If not you might need to turn off dns name check.

Administration->Account->Registration

![image](https://user-images.githubusercontent.com/51996/28494802-b125b996-6efe-11e7-8fa6-c922689b2726.png)

[2017-07-22 22:03] geekgonecrazy commented on #7536
Can you provide more info on what steps you've actually taken so far?

[2017-07-22 22:11] geekgonecrazy commented on #7524
sticky sessions will prevent the proxy from needing to happen.  Depending on your proxy the websocket and http post should be treated as same session

[2017-07-22 23:22] klatys commented on #736
Hi, like I suggested earlier, I tried tinkering with [robot.js](https://github.com/octalmage/robotjs), since it's for a electron apps (or if I get it correctly requires actual app - means it won't work in browser) I used it in [Rocket.Chat.Electron](https://github.com/RocketChat/Rocket.Chat.Electron) and it seems to work:
![inactive window logging mouse pos](http://g.recordit.co/bAESrAYyXN.gif)
No

[2017-07-23 00:34] geekgonecrazy commented on #7473
Yeah it pretty much is because of the changes we need to make proposed in #31

Closing in favor of that one.  If you have other specific reasons you've been able to identify clearly, please feel free to open an issue about that specifically

[2017-07-23 00:34] #7473 closed

[2017-07-23 00:38] geekgonecrazy commented on #7455
Going to go ahead and close this.  Please try to disable message edit history if it doesn't fix please report back and we can investigate from there

[2017-07-23 00:38] #7455 closed

[2017-07-23 00:42] geekgonecrazy commented on #3910
Going to go ahead and close this.  Some task is causing maximum call stack to be exceeded, but the log isn't helpful.  If you happen to see this error directly related to some action on the server please feel free to open a new bug or we can re-open this one with those details.  As of now though there isn't really anything for us to act on.

[2017-07-23 00:42] #3910 closed

[2017-07-23 00:43] geekgonecrazy commented on #4132
Going to go ahead and close this.  Looks like what was needed was found :+1:

[2017-07-23 00:43] #4132 closed

[2017-07-23 00:46] geekgonecrazy commented on #4222
Please see: #6809 a wonderful guide posted there by a community member for integrating with microsoft.

[2017-07-23 00:46] #4222 closed

[2017-07-23 00:51] geekgonecrazy commented on #4429
My guess is you'd have to add on your server as a trusted CA.

Going to go ahead and close this as its not a Rocket.Chat specific problem.  Please feel free to reach out on our community server or other methods found in our [support guidelines](https://rocket.chat/docs/getting-support)

[2017-07-23 00:51] #4429 closed

[2017-07-23 00:58] geekgonecrazy commented on #4447
Go to: Administration->Rooms Click the room and set as default near the bottom.

[2017-07-23 00:58] #4447 closed

[2017-07-23 01:00] #4461 closed

[2017-07-23 01:00] geekgonecrazy commented on #4461
Please see: https://github.com/RocketChat/Rocket.Chat.Electron/issues/487

[2017-07-23 01:02] geekgonecrazy commented on #4505
I believe this is now resolved with newer releases.  Please open an issue here: https://github.com/rocketchat/rocket.chat.electron/issues if not

[2017-07-23 01:02] #4505 closed

[2017-07-23 01:04] geekgonecrazy commented on #4527
Lets close in favor of #1602

If you're still having issues please try one of our support methods https://rocket.chat/docs/getting-support