[2019-02-14 13:53] marceloschmidt commented on #8570
Should be easy to implement after https://github.com/RocketChat/Rocket.Chat/pull/10978 and https://github.com/RocketChat/Rocket.Chat/pull/11611

[2019-02-14 13:56] marceloschmidt commented on #8764
@photoninger I see your point. @rodrigok can we make sure we only display that message if the e-mail is not verified?

[2019-02-14 14:14] bdwarr6 commented on #12437
It seems to not be replacing spaces with %20, I have had several people encounter this issue, I can also replicate this in user to user messages.

Might be fixable by uri-encoding the links and the copy link

[2019-02-14 15:22] himpierre commented on #13473
Same goes for 0.74.3. Had to delete and re-create the channel with livestream to get rid of the livestream symbol.

[2019-02-14 15:40] frdmn commented on #13473
Temporary workaround for Mongo shell until a proper fix is in place for this:

[code]

[2019-02-14 16:23] himpierre commented on #11941
@Gummikavalier although I'm using
`
mongo rocketchat --eval "db.rocketchat_room.find({'u.username':'youruser'},{'name':1}).forEach(function(y){print(y.name);})"
`

it happens the message error-user-last-owner remains for some users. Can you think of an explanation for that behaviour?

thanks and cheers

[2019-02-14 16:36] justalreadytaken commented on #9512
We are very interested in getting that feature.
We made workaround with nginx and white-listing ip for authenticated users. But this is very ugly workaround and we prefer to implement that feature from sever side back-end.
We have version Rocket.Chat Version 0.73.1
I'm tried to find mentioned folder but without success.
[code]
I think it can be good feature to put some shell-hook which can have af

[2019-02-14 16:46] Gummikavalier commented on #11941
@himpierre Unfortunately not. I'm struggling with the same issue with one of our old users. I think those are very old and may have some old cruft from the time when we still were honing our LDAP configuration and had to manually drop and recreate users. It also seems that the original owner of the channel will always be listed as an "owner" on that channel, even though such privileges were remove

[2019-02-14 17:52] elievischel opened #13484 "custom oauth delete not working"
### Description:

impossible to delete a custom oauth once created

### Steps to reproduce:

1. Go to OAuth
2. Add custom oauth
3. Write a name "test"
4. click on remove custom oauth

### Expected behavior:

should be deleted / disappear

### Actual behavior:

nothing happened

### Server Setup Information:

- Version of Rocket.Chat Server: 0.65.2
- Operating System:  Linux
- Deployment Method: SN

[2019-02-14 19:00] MarcosSpessatto commented on #13431
Actually it is not possible to run on the same server port because it causes some inconsistencies in the DDP causing it to not works correctly.

[2019-02-14 19:07] himpierre commented on #11941
Thanks.

Am 14. Februar 2019 17:47:34 MEZ schrieb Gummikavalier <notifications@github.com>:

[2019-02-14 19:25] MarcosSpessatto commented on #13185
@aexonicarindam did you run `meteor npm install` before try to run the project?

[2019-02-14 19:31] geekgonecrazy opened #13487 "Padding missing on home page"
### Description:

![image](https://user-images.githubusercontent.com/51996/52812157-7637be80-305c-11e9-91e8-2a3006af5907.png)

Picture is worth a thousand words :)

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0-develop
- open.rocket.chat :)

### Additional context

I think the padding around this maybe off in other views as well.  But this one is especially bad

[2019-02-14 19:35] nicki-klexx commented on #13473
Thank you for your suggestion, but it doesn't work. I've tried it by _id and by name, the rows were updated, but the camera symbol is still in the sidebar.

[2019-02-14 19:36] tboerger commented on #10106
Thank you

[2019-02-14 20:08] nicki-klexx commented on #13473
Update: It does work! You have to send the query an after that you have to send a message in the room. Then the icon is gone.

Thank you very, very much, @frdmn! :-)

[2019-02-14 20:20] MarcosSpessatto commented on #7747
@huynhquocmy any news?

[2019-02-14 20:44] Brade commented on #13295
Same issue. And I notice this is an ongoing problem with rocketchat. I just installed today on my own server. Even gravatar doesn't work (I'm using the Mac client), so pretty sure it's not a local permissions issue.

[2019-02-14 20:51] MarcosSpessatto commented on #9411
@MariusSpangenberger any news?

[2019-02-14 21:06] rkramer1964 commented on #10530
To everyone - if you download just lame.min.js from github by right-click, save link as - you will get HTML, not javascript.  Best to download the zip file and extract the lame.min.js for replacement that way.

Cheers!

[2019-02-14 21:45] Brade commented on #13295
FYI mobile app seems to reflect the avatar correctly, so might just be a desktop issue.

[2019-02-15 00:51] tzar commented on #13284
I don't think [it has been packaged as a snap yet](https://snapcraft.io/rocketchat-server) but will let you know how it goes once it is. Thanks!

[2019-02-15 01:10] JoKneeMo commented on #13450
Where would this stale import be stored within the snap, database or file? Any idea on how I can kill it from the back end?

[2019-02-15 01:43] bellini666 opened #13488 "Exception in onLogin callback: TypeError: Cannot redefine property: loginAt"
Just noted this on my setup. It's brand new using docker-compose:

[code]

[2019-02-15 01:58] xiefangzhenz opened #13489 "Error: Cannot find module '@accounts/server'"
### Description:
When running command "meteor npm start" an unclear error is thrown

### Server Setup Information:
* Version of Rocket.Chat Server: Latest
* Operating System: MAC OS 10.14.3
* Deployment Method(snap/docker/tar/etc): meteor
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: 8.9.3
* mongoDB Version: 3.6.10

### Steps to Reproduce:
1. Follow steps in the documenta

[2019-02-15 05:49] micfung commented on #12802
@MarcosSpessatto  My `MONGO-OPTIONS` in `.bashrc`
[code]
i will take a look the link you give me

[2019-02-15 06:01] micfung commented on #12802
the command i use to connect mongo from my rocketchat server
[code]

[2019-02-15 07:42] Wirone commented on #9512
If RockerChat team is interested in this feature I can prepare PR with our changes (if I get company's permission of course). We also made resource which is cyclically requested by client so IP is checked while user is logged in and if it doesn't match to rules, user is logged out.

[2019-02-15 09:12] bosna387 opened #13490 "bosnian language not working well"
### Description:

<p>
bosnian language does not translate the interface - everything remains in english. Croatian (Hrvatski) works fine. It is same as croatian - Cant you just clone Croatian and name it Bosanski (bosnian)?
</p>
### Steps to reproduce:

1.  <p> My Account - Localisation - select Bosanski. </p>
2.
3.

### Expected behavior:

<p> Expected to see interface translated to Bosnian.</p>
#

[2019-02-15 09:23] esolitos commented on #11356
Anything we can help with?

I see that [the call](https://github.com/RocketChat/Rocket.Chat/blob/0.74.3/packages/rocketchat-slackbridge/server/slackbridge_import.server.js#L28) is against `SlackBridge`, however the methoid `importMessages` is implemented [on the Adapter](https://github.com/RocketChat/Rocket.Chat/blob/0.74.3/packages/rocketchat-slackbridge/server/SlackAdapter.js#L1120).

Just a wil

[2019-02-15 09:53] ministry-of-code commented on #9632
How can it be that a core feature is fundamentally broken and nobody cares?

[2019-02-15 09:57] Shaverdoff commented on #9632
now even webrtc enable on pv - video/audio button do not work))

[2019-02-15 11:42] MarcosSpessatto commented on #13109
@ggazzo any ideas?

[2019-02-15 11:42] reetp commented on #13489
Can you make sure you run the recommended software versions as per this:

https://github.com/RocketChat/Rocket.Chat/releases

Node: 8.11.4 (yours shows 8.9.3)
NPM: 6.4.1
MongoDB: 3.2, 3.4, 3.6, 4.0

Not saying that will cure anything, but the devs will know the baseline to try and debug it.

[2019-02-15 11:47] MarcosSpessatto commented on #12964
@valmar can you please update your server version and try again? Thanks.

[2019-02-15 11:50] reetp commented on #9632
It's not that they don't care, but the direction of travel is to remove this sort of functionality from the core and move it to Apps/External programs eg in this case Jitsi and in say the case of the internal bot to an external bot system.

It means it simplifies the core making it easier to maintain and manage.

Also remember to date Rocket is essentially Alpha which means things get chopped and

[2019-02-15 11:53] MarcosSpessatto commented on #12943
@mbrodala Actually you can't retrieve the private groups of another user. You can only retrieve the groups that you are part of.

[2019-02-15 11:58] mbrodala commented on #12943
Correct, and with this issue I'd like to request an additional parameter to change that. Or are there some deeper architectural decisions which would prevent this?

[2019-02-15 12:11] georgyip commented on #9512
Hello, we are interested in that feature very much and use the same way like justalreadytaken, ngnix with white-listing.

[2019-02-15 12:12] Franziskus1988 commented on #1593
@Rohlik
![image](https://user-images.githubusercontent.com/5774027/52855902-15bf8480-3123-11e9-9263-38df00d25abd.png)

==>>

![image](https://user-images.githubusercontent.com/5774027/52855923-2ff96280-3123-11e9-9554-ddee7e818711.png)

I think it doesn't work as desired...

[2019-02-15 12:25] ministry-of-code commented on #9632
@reetp thanks for the information. we're in the process of evaluating to use rocket chat for our company and this does not really help to say "it's great, lets go with it". I understand that it makes sense to remove this stuff from core and replace with external services - but even these integrations are broken. We integrated Jitsi and it does not work. When someone start a video conference, nobod

[2019-02-15 13:32] valmar commented on #12964
Dear Marcos,

   I tried and that didn't work. However, it worked this way:

- I did a new installation of Rocketchat
- Restored from the MongoDB dump of the previous installation *without
clearing the new mongdodb database*. This means that some tables are not
imported from the backup, because they already exist
- Restarted the Rocketchat server

This makes me think that there was a database corr

[2019-02-15 14:04] tars21 opened #13494 "UnhandledPromiseRejectionWarning: MongoError: FieldPath 'user_daily' doesn't start with $"
### Description:
Since updating from 0.73.2 to 0.74.2 (also 0.74.3) there is periodically at 02:00 in the morning an UnhandledPromiseRejectionWarning (see relevant logs).
With moving back to 0.73.2 the error message drops out.

### Steps to reproduce:
1. Update RocketChat to version 0.74.2
2. Wait until 02:00 CET
3. Get Error Message "UnhandledPromiseRejectionWarning"

### Expected behavior:
I exp

[2019-02-15 14:14] MarcosSpessatto commented on #12889
- [x] Rest API https://github.com/RocketChat/Rocket.Chat/pull/13495
- [ ]  UI

[2019-02-15 14:14] MarcosSpessatto commented on #12889
@tassoevan is it currently possible to do this in the UI too?

[2019-02-15 14:46] hypery2k commented on #12243
@FaizanZahid and @rafaelks Could somebody help me to get my PR merged?

[2019-02-15 14:52] steerben commented on #12979
Nice to see, that it progresses @engelgabriel

[2019-02-15 15:23] robinreinhardt commented on #13488
I have the same issue.

* Version of Rocket.Chat Server: 0.74.2

* Operating System: CentOS 7.6

* Number of Running Instances: 4

* MongoDB Version: 3.6.9

[2019-02-15 15:54] tassoevan commented on #10530
@rkramer1964 I did a bunch of changes in #13486. Could you check if it's fine? I wasn't unable to reproduce the bug before.

[2019-02-15 17:08] discon-nected commented on #9632
I would say it is foolish to stop maintaining a core feature unless a viable app can replaceme it. Otherwise, we let things deteriorate while we anticipate something that may never come to pass. And in the case of WebRTC, I think 1 to 1 calls should always be a core functionality. What's next? Do we need to find an app for messages? Should RocketChat be reduced to an app container?

[2019-02-15 17:10] HammyHavoc commented on #9632
@discon-nected, ridiculous, right? With this thought process in mind and a lack of basic communication capability, we've been forced to go elsewhere for our communication needs.

[2019-02-15 17:16] discon-nected commented on #9632
@HammyHavoc I guess the RC team became busy selling their paid platforms. I have noticed issues are left open for years now, and closed with "This is better suited for apps"

i.e. https://github.com/RocketChat/Rocket.Chat/issues/7150

[2019-02-15 19:34] pierreozoux commented on #13480
Here is the PR:
https://github.com/RocketChat/Rocket.Chat/pull/9066/files

From what I recall, this didn't work, I mean it was impossible to search for fields in the json, and now it works, I mean you can search for fields in the json.

Can you share your json?

[2019-02-15 19:56] Skosche3 commented on #13480
Set Username field: #{lastname}.#{firstname}.#{uid}
JSON EX: { "uid": "12345", "lastname": "Jones", "firstname": "Bob" }
username returns Jones.Bob.12345

The identity response JSON has additional fields that are not relevant to the point.  Nothing is nested.

[2019-02-15 20:25] jrlandis525 opened #24144 "Dark Theme needs to be selective by user"
## My Setup
- Operating System: Windows 10
- App Version: 2.14.7
- Installation type:

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
 The dark theme is currently a global selection.  While it is good for most users, there are still a few in my company that would rather not use it as it is a bit harder on our eyes

### Current Behavior

### Expect

[2019-02-15 21:04] granttoday opened #13498 "Changing username will lag everyone that has the chat open"
### Description:

When someone changes their name or avatar it will lag everyone who has the chat open

### Steps to reproduce:

1. Have the chat open for at least 15 minutes with ~8 active people
2. Have someone change their name/avatar
3. Experience major lag

### Expected behavior:

Not to lag

### Actual behavior:

Lag

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.2
- O

[2019-02-15 21:07] granttoday commented on #13498
It might happen when that relevant person has said a lot between other people's messages, as it's trying to update hundreds of elements at once

[2019-02-15 22:44] pierreozoux commented on #13480
Ok, I think I understand your problem.
Now, the code that lookup one field, it doesn't create it with multiple part.

Do you understand what I mean?

I don't think it makes sense to create the username field with multiple parts. If you look at implementations in the wild, nobody does that (that I'm aware).

[2019-02-15 22:45] pierreozoux commented on #13480
Actually to make this PR I looked carefully.at implementations from discourse and gitlab, and I came to the conclusion that this is the way to go (and to be honest, I didn't get what the previous code was doing, and now I understand!)

[2019-02-15 22:54] fais3000 commented on #8401
Still happening in 0.74.2

[2019-02-15 22:55] pierreozoux commented on #13480
I'm sorry for you :/ but why don't you have a username field in your json?

[2019-02-16 01:00] Skosche3 commented on #13480
Let me see if I can provide a better example soon, I only pulled out a couple fields as an example of what we are trying to do.  Unfortunately we don't control the service that is returning the identity response and have to work with what they provide us.

Our deployment upgrade was held up by this change and discovering the issue.  We would like to avoid a custom copy of old function in place by

[2019-02-16 01:03] MarcosSpessatto commented on #12964
@valmar  Thanks for let us know. Can we close this?

[2019-02-16 01:19] valmar commented on #12964
Yes thank you

Valerio

On Sat, 16 Feb 2019, 02:04 Marcos Spessatto Defendi <
notifications@github.com wrote:

[2019-02-16 01:46] xiefangzhenz commented on #13489
Thanks,it works!

[2019-02-16 01:46] #13489 closed

[2019-02-16 08:35] Ngenda commented on #4891
Im a complete noob. how do you manually delete a message?

[2019-02-16 10:24] jhaar opened #13499 "Verification email has invalid From: header value of 'https:;'"
### Description:

Just installed 0.74.3 server on Fedora-29 and have created some accounts. I went to validate my email address via "Resend Verification Email" and it failed sending to localhost:25. I got tcpdump up and can see why.

I have DKIM enabled on localhost and it rejects the email due to it having a From header of

From: https:;

Invalid - so the DKIM parser rejected it. I have configure

[2019-02-16 12:05] #13425 closed

[2019-02-16 13:31] #12964 closed

[2019-02-16 13:33] algomaster99 commented on #13487
@geekgonecrazy Are you talking about the padding between hamburger and home right?
![padding](https://user-images.githubusercontent.com/35191225/52900566-6fa47500-321d-11e9-9a2b-900eca046012.png)
Apparently, it is fine when I set up on my local machine. Checked it on chrome and firefox.

[2019-02-16 13:53] algomaster99 opened #13500 "Arrows in breadcrumbs on home page"
### Description:
![breadcrumbs](https://user-images.githubusercontent.com/35191225/52900671-85666a00-321e-11e9-9adb-2c31e7d12c0c.png)

The arrows in the breadcrumbs doesn't look nice in my opinion.

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: Linux

### Additional context

Instead of -> , &rarr; (HTML special character: & rarr;) will look good.

[2019-02-16 17:19] TomaszDom commented on #12691
Can we have this regression assigned to a future milestone? All of our webhooks rely on this getting fixed, we're getting mostly empty messages.

[2019-02-16 18:03] EdwardWu7 opened #13501 "Backend storage problem(Drag to RocketChat Conversation or Copy&Paste Upload doesn't work)"
### Description:

Can not use copy and paste for screenshots

### Steps to reproduce:

1. Go to a session
2. Just copy a pic or do a screenshot
3. The paste it, and went internal server error

Or just drag a file to the conversion and click upload, it does not work, internal server error

### Expected behavior:

work as normal

### Actual behavior:

Can not paste it

![image](https://user-images.g

[2019-02-16 18:05] EdwardWu7 commented on #13501
When start, some errors also occured
Feb 17 02:00:00 ubuntu RocketChat[19688]:     at packages/meteor.js:620:25
Feb 17 02:00:00 ubuntu RocketChat[19688]:     at runWithEnvironment (packages/meteor.js:1356:24)
Feb 17 02:01:14 ubuntu RocketChat[19688]: (node:19688) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'getRedirectURL' of undefined
Feb 17 02:01:14 ubuntu RocketChat[19688]

[2019-02-17 03:30] tassoevan commented on #13487
@algomaster99
1. Clone this repo / checkout and pull to `develop` branch
2. Run `meteor npm i`
3. Run `meteor`

[2019-02-17 04:29] algomaster99 commented on #13487
Okay, will see to it and submit a PR.

[2019-02-17 06:31] tassoevan commented on #11941
Is this similar to #12978?

[2019-02-17 08:50] fifou17 commented on #2885
We really need this feature

[2019-02-17 08:54] savish28 commented on #13285
@ggazzo Please final review #13455.

[2019-02-17 16:53] ratzxx commented on #2935
Working MantisBT to RocketChat plugin: https://github.com/ratzxx/MantisBT-Rocket

[2019-02-17 18:14] wreiske opened #13504 "No way to back out of OAuth registration"
I accidentally clicked on the wrong Google account when logging in to Rocket and noticed there is no way to back out, or log out. Even clearing cookies still shows the registration screen.

![image](https://user-images.githubusercontent.com/6295044/52917136-d8d7c700-32b5-11e9-8328-d330a6bf9161.png)

Would be nice to show a "nevermind" or a "cancel" button that deletes the OAuth association and use

[2019-02-17 19:48] jyork2003 commented on #13426
I can reproduce this on two instances

Hash | 202a465f1c0700b2decd5f904f11794f286aae76
-- | --
Wed Feb 13 23:18:51 2019 -0200
HEAD
0.74.3
Diego Sampaio
Merge pull request #13474 from RocketChat/release-0.74.3

[2019-02-18 04:26] Skosche3 commented on #13480
BTW, we agree with you and have reached out to the identity provider system and made similar recommendations....alas we work with what they give us.  The username field is not useful and structure is not nested so we combine fields to make unique useful usernames.

[2019-02-18 05:23] flantascience commented on #10747
Would love to hear if you find a solution.   I sorta gave up on it.   That
was a year ago.   Now I am trying to have someone build a native app...
maybe that will be easier to resolve.

Jim Flannery

jim-flannery.com
p. 860-578-4966
e. jim@jim-flannery.com
s. jim_flannery

On Tue, Feb 12, 2019 at 8:38 PM John Lund <notifications@github.com> wrote:

[2019-02-18 07:12] pierreozoux commented on #13480
My best recommendation is to make a PR that allows people to configure both.

[2019-02-18 08:18] Toub commented on #8256
What about a "call" button starting existing video service, with video disabled by default? Similar to slack behavior.

Then the user can switch to video later, if necessary.

[2019-02-18 09:29] EdwardWu7 commented on #13501
Found another strange problem, it doesn't work for pictures only(JPG、PNG、etc.)

[2019-02-18 09:31] ThePigsMud opened #13505 "Remove metadata from uploaded images"
Feature Request/Improvement:

This would be an incredibly useful feature and would be very privacy-friendly for users if uploaded images had metadata removed from them such as the author, location, camera, etc.

[2019-02-18 10:25] yaznesh opened #13506 "How to install Rocket chat on Linux server ?"
Hi,

we have urgent requirement, Rocket chat needs to be installed in our Linux server.

i found there is no steps provided for Rocket installation on Linux server.

Kindly provide step by step procedure for ROCKET INSTALLATION ON LINUX SERVER

we need complete step by step command procedure for Rocket installation on Linux server.

Please consider this requirement as High Priority.

Help would be

[2019-02-18 10:26] yaznesh commented on #13506
****

[2019-02-18 10:29] yaznesh commented on #13506
Hi,

we have urgent requirment, Rocket chat needs to be installed in our Linux server.

i found there is no steps provided for Rocket installation on Linux server.

Kindly provide step by step procedure for ROCKET INSTALLATION ON LINUX SERVER

we need complete step by step command procedure for Rocket installation on Linux server.

Please consider this requirement as High Priority.

Help would be

[2019-02-18 10:29] yaznesh commented on #13506
Hi,

we have urgent requirment, Rocket chat needs to be installed in our Linux server.

i found there is no steps provided for Rocket installation on Linux server.

Kindly provide step by step procedure for ROCKET INSTALLATION ON LINUX SERVER

we need complete step by step command procedure for Rocket installation on Linux server.

Please consider this requirement as High Priority.

Help would be

[2019-02-18 10:30] kokotko1337 commented on #617
I can not find options to change sidebar colour ... Im using latest version, and in Layout or Assets can not find option to change default colour to custom.

[2019-02-18 11:32] AlexanderBartash commented on #1112
@rodrigok @engelgabriel @sampaiodiego @marceloschmidt Hello guys. I am just tagging you because you are the most active contributors. Do you have any ETA when any of these PR will be merged? Can i help somehow? I think absence of this feature if one of stoppers why many companies can not use Rocket Chat. In any even medium size company if you have at least 10 people in the same channel without thr

[2019-02-18 12:32] beranPro commented on #13506
https://rocket.chat/docs/installation/manual-installation/

[2019-02-18 13:18] robinreinhardt opened #13507 "Livechat Browser Cache Problem"
### Description:
The information (name and email address) which can be required before you can start a conversation is cached by the browser.

### Steps to reproduce:

1. Click on the livechat element
2. Enter your name and email address
3. Start a conversation
4. Leave conversation
5. Close your browser windows
6. Open your browser & click on the livechat element again
7. see that no name and ema

[2019-02-18 13:49] #12369 closed

[2019-02-18 13:50] tassoevan commented on #617
@kokotko1337 `Admin > Layout > Colors > Primary`.

[2019-02-18 14:31] kokotko1337 commented on #617
@tassoevan oh ... thanks, that description is strange ...  I have just uses custom css... but this way is cleaner

[2019-02-18 15:22] ChibiG commented on #11950
installed 0.74.1 and issue still exist

[2019-02-18 16:19] tassoevan commented on #11950
Is anyone experiencing this **without** LDAP or SAML?

[2019-02-18 16:27] ggazzo commented on #13215
@tassoevan
![image](https://user-images.githubusercontent.com/5263975/52964361-e017d700-3380-11e9-927a-87066f5bed98.png)

[2019-02-18 16:28] tassoevan commented on #13215
We did the steps and we couldn't reproduce it. May I ask you to (1) repeat the procedure with images (since they have a preview) and (2) screen-record your steps?

[2019-02-18 16:30] rkramer1964 commented on #10530
Downloaded your fix/audio-message branch, built and tested it.  Reviewed changes and all seems to work fine.  No new console errors noted.

Cheers!

[2019-02-18 16:32] tassoevan commented on #13242
I'm closing it in favor of #7583.

[2019-02-18 16:32] #13242 closed

[2019-02-18 17:30] tassoevan commented on #11717
It looks fine at 0.74.3.

[2019-02-18 18:12] Hudell commented on #11355
All known hipchat import issues have been fixed with the release of version 0.74.3. If anybody runs into any issue with it, please open a new issue.

[2019-02-18 18:12] #11355 closed

[2019-02-18 18:14] Hudell commented on #13339
This seems to be an issue with the file upload. If you can't get it to work, you can move the file to your rocket.chat server and use the file path to import instead of uploading it on the interface.

[2019-02-18 18:15] Hudell commented on #13127
Fixed with the release of version 0.74.3

[2019-02-18 18:15] #13127 closed

[2019-02-18 18:17] Hudell commented on #12110
Version 0.74.3 of Rocket.Chat should have fixed all issues with the HipChat import (including this one). If you find any new problem, please register a new issue.

[2019-02-18 18:17] #12110 closed

[2019-02-18 18:19] Hudell commented on #12077
Starting with version 0.74.3, if Rocket.Chat fails to extract import files, you have the option to extract the files on the server and use the extracted folder path when starting the import process.

[2019-02-18 18:19] #12077 closed

[2019-02-18 18:21] Hudell commented on #11693
We've recently improved our import process. On version 0.74.3, it should be much faster and able to import a 3GB file without trouble.

[2019-02-18 18:21] #11693 closed

[2019-02-18 18:21] Hudell commented on #12390
Fixed on version 0.74.3 of Rocket.Chat.

[2019-02-18 18:21] #12390 closed

[2019-02-18 18:23] Hudell commented on #11592
Fixed on version 0.74.3

[2019-02-18 18:23] #11592 closed

[2019-02-18 18:24] Hudell commented on #7932
This issue should be fixed now. Please report if there's still any problem.

[2019-02-18 18:24] #7932 closed

[2019-02-18 18:40] robertwessen commented on #9419
Part of this has now been addressed (no more undefined in the URL). https://github.com/RocketChat/Rocket.Chat/pull/13342

There still exists a privacy issue though, since now any one user can calculate all jitsi URLs for any user/room combo (including video meetings launched from DMs)...but at least the larger public collision problem is fixed.

I think a feature when launching a new jitsi meeting

[2019-02-18 18:42] tassoevan commented on #9419
@robertwessen Please, go ahead. And thank you for link this issue with #13342.

[2019-02-18 19:16] lrodriguezc commented on #1994
Hello, you have to be sure that the rocket chat server have youtube access allowed on the firewall.

In my case, that whas the solution ;)

[2019-02-18 19:30] #13506 closed

[2019-02-19 02:00] simonfoxguitar commented on #12029
Same problem for me. I tried users.info with the fields={"userRooms":1} and correct permissions for the calling user. No room data returned.

[2019-02-19 02:02] simonfoxguitar commented on #12943
Is it correct that there is no way for an Admin to tell which private groups a given user belongs to?
I tried users.info with the fields={"userRooms":1} setting, but no luck there.

[2019-02-19 04:11] robertwessen opened #13511 "Jitsi integration URLs are deterministic"
### Description:

There still exists a privacy issue in the current Jitsi integration. Any one user can calculate all jitsi URLs for any user/room combo (including video meetings launched from DMs)

I think a feature when launching a new jitsi meeting would be needed to address this best. It would require two different jitsi meeting types when launched from RC:

1. permanent meeting - a jitsi url

[2019-02-19 04:19] robertwessen commented on #13511
this is related to https://github.com/RocketChat/Rocket.Chat/issues/9419 which was recently addressed.

[2019-02-19 08:22] mbrodala commented on #12943
@simonfoxguitar Correct, right now I need to use this workaround:

1. Use [`groups.list`](https://rocket.chat/docs/developer-guides/rest-api/groups/list/) to get all private groups of an instance.
2. Iterate these groups and use [`groups.members`](https://rocket.chat/docs/developer-guides/rest-api/groups/members/) to get all members of each private group.
3. Iterate these members and compare their

[2019-02-19 08:35] magicbelette opened #13512 "REST API users.info returns hashedToken for non-admin users"
According to the documentation (https://rocket.chat/docs/developer-guides/rest-api/users/info/) REST API users.info returns hashedToken, bcrypt password... only for admin users. On my instance of Rocket.Chat 0.74.3 those informations are returned even for regular users.

Found nothing in my "permissions" menu.

This method seems to work as described in the documentation on open.rocket.chat.

Did I

[2019-02-19 09:06] cheechmarino commented on #11950
Our setup without LDAP or SAML shows FULL (Real) names.

[2019-02-19 09:37] KongNan commented on #839
Waiting ....

[2019-02-19 10:07] dazoot opened #13513 "Missing javascript APIs for livechat chatwindow control (show / hide / expand / shrink)"
### Description:

Would be nice to have more control over the chat window from the Javascript API.
Olark.com for example has APIs for:

Chat window show / hide:

Chat window expand / shrink:

### Expected behavior:

I would expect the javascript API to be available and documented in the Livechat API page:
https://rocket.chat/docs/developer-guides/livechat-api/

### Actual behavior:

No api for cha

[2019-02-19 11:09] pkrolkgp opened #13514 "Exception while invoking method 'stream-notify-room-users'"
When i click to start RTC call i get this error

[34mI20190219-11:57:44.894(1) Exception while invoking method 'stream-notify-room-users' TypeError: this.notifyUser is not a function     at subscriptions.forEach.subscription (packages/rocketchat:notifications/server/lib/Notifications.js:77:50)     at Array.forEach (<anonymous>)     at MethodInvocation.<anonymous> (packages/rocketchat:notification

[2019-02-19 13:02] MarcosSpessatto commented on #13512
@magicbelette the user that you are logged in to API(token) is admin or regular user? If you request the info of a regular user logged as admin, you can get these information that you described. If you call the endpoint with a regular user logged, then yes, you will get the basic information only.

[2019-02-19 13:16] renatobecker commented on #13513
Hi @dazoot!

Thanks for helping us to improve our Livechat solution.
In fact, we have plans to implement the features you're requiring, but maybe you're not aware about our new Livechat repository(client only), so please take a look at here:

https://github.com/RocketChat/Rocket.Chat.Livechat

Therefore, the features that will affect the client side must be created there.
I hope we can start worki

[2019-02-19 13:20] algomaster99 commented on #13512
@MarcosSpessatto I tried using the api. Even though I am logged in, it still shows `HTTP 401 Unauthorized`. This is the repsonse on `http://localhost:3000/api/v1/users.info?username=aman`.
[code]
I am logged in as admin.

[2019-02-19 14:48] magicbelette commented on #13512
My bad, the right [view-full-other-user-info] was enabled for "user" role.
Thanks for your answers

[2019-02-19 14:48] #13512 closed

[2019-02-19 15:07] justalreadytaken commented on #9512
@Wirone Did you get visitors remote IP before authentication?

[2019-02-19 15:42] gsupp commented on #10628
Still happening on Rocket.Chat server 0.74.3, server is Ubuntu 16.04, SSL proxy is NGINX using sample config from Rocket.Chat documentation. Users are on a variety of platforms, Windows 7/10 and Ubuntu 16.04 running both the native client and in browser (Chrome).

* Node Version: 6.7.0
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* mongoDB Version: mongodb (1:2.6.

[2019-02-19 16:23] MarcosSpessatto commented on #13340
@facundomedica are you running this server behind a proxy like Nginx?

[2019-02-19 16:28] MarcosSpessatto commented on #13324
@s7726 can you please update your server version and try again?

[2019-02-19 16:34] #13288 closed

[2019-02-19 16:40] s7726 commented on #13324
Confirmed newer version fixes the issue.

[2019-02-19 16:40] #13324 closed

[2019-02-19 17:06] facundomedica commented on #13340
@MarcosSpessatto I'm running it inside Kubernetes with Istio and accesing it by a subdirectory. This shouldn't be an issue, as I can do almost anything that Nginx can do (I think).
I have a couple of rewrites already:

[code]

This `/rocketchat/rocketchat/` is there because I couldn't make the thumbnails work correctly.

[2019-02-19 18:38] scoopex opened #13517 "Feature request: Possibility to define a default for channel privacy"
### Description:

As an open organization it would be a good thing to have the possibility to define a default privacy level of new channels. If i currently create a channel, the default is "Private Channel - Just invited people can access this channel.".
The described functionality not seems to be currently part of rocketchat.

### Expected behavior:

There should be a global setting which allows

[2019-02-19 20:05] #13514 closed

[2019-02-19 20:43] ubergeekzone opened #13524 "iframe CORS issue"
Having an iframe cors related issue, is there a way to allow cors within rocket chat or would i need to install a cors npm and set it up?

I am trying to edit the html dom on the content from rocket chat within the iframe.

Somethings with rocketchat have been a bit confusing.

[2019-02-19 20:48] MarcosSpessatto commented on #13524
Hi @ubergeekzone, you can enable cors in the admin panel under (`Admin Panel -> General -> REST API -> Enable Cors`).

[2019-02-19 20:49] ubergeekzone commented on #13524
@MarcosSpessatto this will open up access within the iframe as well?

[2019-02-19 21:04] ubergeekzone commented on #13524
Below is a snippet of code showing what i am hoping to do.

[code]

I am getting a Uncaught DOMException: Blocked a frame with origin "xxxxxxx" from accessing a cross-origin frame message though, Which makes sense but was wondering Rocket Chat had something like document.location = 'xxxxxx' built in to allow the pass through.

[2019-02-20 00:22] wargamesqcf commented on #13340
When trying to do oauth I am getting "internal server error" with this in the logs, but my DDP rate limiter is turned off.

Exception in onLogin callback: TypeError: Cannot redefine property: loginAt     at Function.defineProperty (<anonymous>)     at Object.keys.forEach.p (packages/rocketchat:statistics/server/lib/SAUMonitor.js:279:12)     at Array.forEach (<anonymous>)     at SAUMonitorClass._up

[2019-02-20 05:24] iamtpage commented on #13215
Hi,

I've since migrated away from using Rocket.chat as my chat application. My use case used videos, so previews were shown (which is how I discovered the caching issue to begin with). I've torn down my rocket.chat infrastructure so I am unable to help with further troubleshooting. I'll close the issue.

[2019-02-20 05:24] #13215 closed

[2019-02-20 09:46] gabrielloberg commented on #13488
Same issue here, but after upgrading from 0.70.4 on a manual install.

Version of Rocket.Chat Server: 0.74.3
Operating System: Debian 9.8
Number of Running Instances: 3
MongoDB Version: 3.2.11

[2019-02-20 09:47] twintime opened #13527 "[Livechat] Non available Livechat forwarded to different Department"
### Description:

We've created several Departments for the Livechat. Let's call them X, Y and Z.
For each of these Departments we set Show on registration page to no.

Afterwards, we created three embedded seperate Livechats Windows using the Function:
[code]
and set under Appearance "Livechat offline--> Display Offline Form: False" which is working fine.

The problem is that as soon as Departmen

[2019-02-20 12:52] seiichiro0185 commented on #5726
I'm still seeing a permanent CPU-Load of ~15-20% from Rocket.chat on Version 0.74.3

[2019-02-20 13:09] Wirone commented on #9512
@justalreadytaken Not _before_, but _while_ authenticating.

In `packages/rocketchat-ldap/server/loginHandler.js` we used `const remoteIp = this.connection.httpHeaders['x-forwarded-for'] || this.connection.clientAddress;` and we compare this IP against our custom config (using `ip-range-check` package).

[2019-02-20 13:59] reymonlu opened #13528 "Problem with multiple instances in Kubernetes"
Hi,

I would like to deploy rocket Tchat in a cluster with multiple replicas. The mongoDBs databases is outsourced. The deployments is working but when i try to connect to differents pods of my deployment, there are some latences when i write a message to another person in another instance... I did refer the variable INSTANCE_IP with the Pod IP

I would like to know if there is a tips to achieve a

[2019-02-20 14:42] tassoevan commented on #5726
@seiichiro0185 May I ask you to record a performance profile on Firefox?

![peek 20-02-2019 11-39](https://user-images.githubusercontent.com/2263066/53099373-6dcfff80-3504-11e9-9b58-c6a06c8f1bf1.gif)

[2019-02-20 15:51] rmeissn commented on #12357
Reported in the feature-request repo at https://github.com/RocketChat/feature-requests/issues/29

[2019-02-20 17:17] toelapiut commented on #3909
administration > general > REST API

[2019-02-20 18:57] Lipemenezes commented on #11390
When you use `/invite-all-from` in a channel name that has  `.` in it, it doesn't work, i'm guessing other special characters could have the same issue.

I was trying to use `/invite-all-from #ahg.support` and received the following message: `The channel `#ahg` does not exist.`

I also tried wrapping the channel name in quotes / double quotes.

The solution was to rename the channel and remove the

[2019-02-20 19:06] BenWiederhake commented on #823
This indeed should be reopened.  Humans tend to be reachable in multiple ways, and this indicator is a easy and rather reliable way to tell when the other person will be online again.  "Last seen 7 months ago"?  Ah, better write a mail.  "Last seen 3 hours ago"?  Great, they actually use our group's slack instance!

From what I gather, the info is already there in the database, and users can easil

[2019-02-20 19:29] renatobecker commented on #12908
Hi @CahidTopkaraoglu.
Yes, we have plans to improve the customization of the Livechat widget, like creating multiples themes or something like this..
I hope we can start working on this feature ASAP.

Thanks.

[2019-02-20 19:41] renatobecker commented on #13527
Hi @twintime, the current behavior regarding the livechat status(online/offline) does not consider the status of agents related to the department defined with the`setDepartment` method, but it considers if there is at least one agent online when the widget is loaded.
We're aware that we need to improve this behavior and we have plans to start working on this demand ASAP, so I suggest you to keep t

[2019-02-20 22:12] RickvLeeuwen commented on #216
Hi,
I could not get the IRC Federation working. After some debugging and reading the RFC, i found the following solution:

[code]

[2019-02-21 04:19] Cruaier commented on #11390
@geekgonecrazy it seems to be fixed. Tried it out again, works well. Running on RC 0.74.2.

[2019-02-21 04:22] #11390 closed

[2019-02-21 07:37] kokotko1337 commented on #11649
same isue on ubuntu 16.04

[2019-02-21 08:15] wreiske commented on #13504
After further digging, this may be a duplicate of #1463

[2019-02-21 08:21] dscheffer opened #13533 "HipChat Import: Wrong file dates of imported attachments"
### Description:

When importing a large HipChat history with attachments (~10GB) the attachments are added with the date they were imported into Rocket.Chat as their displayed date and not when they were actually created. It would be great if the creation date could be taken from the HipChat history.

### Steps to reproduce:

1. Import large HipChat history with attachments using the workaround p

[2019-02-21 08:46] nodje opened #13534 "SlackBridge documentation out of date"
Maybe I missed something but I really can't enable a Slackbridge using the official https://rocket.chat/docs/administrator-guides/import/slack/slackbridge

It just doesn't work this way in Slack any more, apparently.

I've seen some issues showing it's actually working for some users, so I'm looking forward to some direction on how to enable this precious feature!

Thanks

[2019-02-21 08:53] kokotko1337 opened #13535 "Jitsi - Videoconference link CLICK TO JOIN not working"
### Description:
Other users can not click and join generated jitsi conference.

### Steps to reproduce:

1. User A - Start videoconference
2. Click to join - Link will be autogenerated and posted in chat windows
3. User B,C, D click on Link Click to join - Unable to join with message - Call already ended , but conference is live,
4, after paste link (I Icon in Jitsi) from jitsi to chat, Users B,C

[2019-02-21 09:02] seiichiro0185 commented on #5726
I did some more investigation. Seems like it is in part dependant on the Content. The High CPU-Usage of > 15% seems at least in Part due to Some animated Emojis that are used in our Rocketchat Instance. If no animated Gifs are displayed on screen I see a lower CPU-Usage of around 5% (which is still quite a bit in my Opinion for showing Website without any changes).

I created 2 Performance Profile

[2019-02-21 09:45] winterstefan commented on #11367
**Any advice on this?**

To clarify the issue on _my_ side:
My goal is to be able to **fetch messages** from a certain room **without having a logged in user**. For this, I directly use the **Realtime API**.

The endpoint `loadHistory` only omits the authentication step if `Accounts_AllowAnonymousRead ` has been enabled (see [code](https://github.com/RocketChat/Rocket.Chat/blob/develop/server/meth

[2019-02-21 09:45] hasumashi commented on #9974
In order for private channels to be visible by guests they have to have _View private room_ `view-p-room` permission added to their role.

[2019-02-21 09:47] hasumashi commented on #9974
Still, I think if they cannot view private channels in sidebar they also shouldn't be able to search for such channels.

[2019-02-21 12:38] katamaiah commented on #12448
Hi ,
I have the similar issue with a on-premise installation of rocket.chat with docker .

I have not used nginx and accessing the rocket chat url with 3000 port .

Luckily i have one user which works as it is logged in using chrome . Not sure if it stops working after a cache clear

Any help is appreciated . Please find the image below

![image](https://user-images.githubusercontent.com/26001710/

[2019-02-21 13:45] vitocarpentieri opened #13536 "logout issue with iframe integration"
Description:

When I logout from iframe embedded rocket chat "Iframe URL" doesn't showed despite sso "API URL" return  401 satus code. This happen with version 0.74.* with erarly versions everithing correctly run. Furthermore I noticed that this version calls my sso "API URL" twice, is that right?

[2019-02-21 13:46] iegik opened #13538 "KaTeX parse error inside code block"
## My Setup
- Operating System: MacOS
- App Version: 2.14.7
- Installation type: dmg

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

insert following code to the conversation:
[code]

### Current Behavior

Message shows as code block with following error inside:

[code]

### Expected Behavior

Message shows as code block without any KaTeX error i

[2019-02-21 14:04] marceloschmidt commented on #8779
This is already implemented.

[2019-02-21 14:04] #8779 closed

[2019-02-21 14:11] marceloschmidt commented on #8840
Custom OAuth allows you to specify if you want a popup or redirect. @geekgonecrazy can you check if this solves it and then close if it does?

[2019-02-21 14:13] rodrigok commented on #8840
<img width="1227" alt="screen shot 2019-02-21 at 11 12 56 am" src="https://user-images.githubusercontent.com/234261/53174964-be5d6080-35c9-11e9-8962-b0677467bf95.png">

[2019-02-21 14:17] mmmaks2004 opened #13537 "Search in the directory of users in custom fields"
Hi,
I added custom fields: department and position
How to search in the user directory for them?
How to display them in the user directory?

[2019-02-21 14:36] marceloschmidt commented on #9159
Noreferrer and noopener are already part of every link on Rocket.Chat. Thanks.

[2019-02-21 14:36] #9159 closed

[2019-02-21 14:37] #9177 closed

[2019-02-21 14:39] marceloschmidt commented on #9344
Both suggestions have been implemented.

[2019-02-21 14:39] #9344 closed

[2019-02-21 14:39] #11133 closed

[2019-02-21 14:50] tassoevan commented on #13537
@mmmaks2004  Please describe your issue using the following template: https://raw.githubusercontent.com/RocketChat/Rocket.Chat/develop/.github/ISSUE_TEMPLATE/bug_report.md

[2019-02-21 14:51] tassoevan commented on #13536
@vitocarpentieri Please describe your issue using the following template: https://raw.githubusercontent.com/RocketChat/Rocket.Chat/develop/.github/ISSUE_TEMPLATE/bug_report.md

[2019-02-21 15:01] vitocarpentieri commented on #13536
I modified issue description using the indicated template. Thank you so much

[2019-02-21 15:55] mmmaks2004 commented on #13537
### Description:
I added custom fields: department and position
How to search in the user directory for them?
How to display them in the user directory?

### Steps to reproduce:
1.Sign in to Rocket.Chat in browser
2.Click Directory ->User

### Expected behavior:
I want to display my custom fields in the list of users

### Actual behavior:
no search for these fields

### Server Setup Information:
-

[2019-02-21 16:29] mmmaks2004 opened #13539 "Jitsi Meet in small window (in Rocket.Chat)"
## Description
When the Jitsi Meet is launched in a small window, I cannot press any button due to pop-up messages
I can not close these messages

## Current behavior
 I cannot press any button due to pop-up messages
 I can not close these messages

## Expected Behavior
Messages should not interfere
Give the ability to close messages

## Possible Solution
reduce messages to window size

# Environm

[2019-02-21 16:41] geekgonecrazy commented on #8840
I don’t personally use rambox.  But I would think that would fix.  :)

If anyone else is following this ticket using rambox please let us know if this doesn’t work and we can reopen

[2019-02-21 16:41] #8840 closed

[2019-02-21 18:18] facundomedica commented on #5078
Can this be reopened?

[2019-02-22 05:03] harimani83 opened #13542 "user-presence-tests.js"
C:\Users\--SystemName--\AppData\Local\.meteor\packages\meteor-tool\1.8.0_2\mt-os.windows.x86_64\dev_bundle\lib\node_modules\meteor-promise\promise_server.js:218
      throw error;
      ^

Error: ENOENT: no such file or directory, open 'C:\Users\HARIHA~1\AppData\Local\Temp\mt-achd9u.hjqo8\os\konecty:user-presence-tests.js'
    at Object.fs.openSync (fs.js:646:18)
    at Object.wrapper [as open] (C

[2019-02-22 05:04] harimani83 commented on #13542
any one can this issue

[2019-02-22 08:41] GJKrupa opened #13543 "Unsolicited email invitation to join Rocket.Chat Cloud"
### Description:

I received an unsolicited email to the address of the admin account on my self-hosted instance, inviting me to register the instance with Rocket.Chat Cloud.

### Steps to reproduce:

1. Install a self-hosted instance
2. Do not configure an SMTP server
3. Add an admin user with a valid email address

### Expected behavior:

No emails are received relating to the instance

### Actu

[2019-02-22 09:22] brase opened #13544 "Rocket Chat does not show members list"
### Description:

Cannot open the members list of any private groups and channels. Happens at least in the browser and in the windows client.

### Steps to reproduce:

1. Click on MembersList of a private group or channel

### Expected behavior:

It should show the members.

### Actual behavior:

It does not finish loading:
![image](https://user-images.githubusercontent.com/170088/53232338-3213720

[2019-02-22 09:34] oliynykdm opened #13545 "RocketChat server crashes when specific user login through Linux App"
### Description:

The server was crashed when the user logging in to chat.

Can you help me understand why this appears? Where can I find error line to help you fix this?

### Steps to reproduce:

I can't reproduce it by myself.

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: CentOS 7
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replica

[2019-02-22 09:35] oliynykdm commented on #13545
This bug began to appear from December 2018

[2019-02-22 09:41] brase commented on #13544
Ahh, I forgot. We are using ldap for authentication.

[2019-02-22 09:46] winterstefan opened #13546 "GraphQL - Message subscription doesn't return feedback"
### TL;DR

I cannot get GraphQL subscriptions running. Queries do work (e.g. `messages`), the only available subscriptions (`chatMessageAdded`) gives neither error feedback or informs about new messages in a channel.

### Intro

My goal is to get **live updates** of messages of a certain **channel**, where the user is **not** part of. In a perfect world, the user **may be anonymous** - but I guess

[2019-02-22 09:46] winterstefan opened #13547 "GraphQL - Subscription WebSocket doesn't support secure connection"
Hey guys,

this might not be a bug at all, so I'm using the `Custom issue template` for it. This issue is strongly connected with #13546 - please have a look at this for further details.

- As fully described in #13546 I'm trying to use the Rocket.Chat GraphQL feature.
- The system I'm using fully runs in secure mode (just `https`, no `http` available). So my WebSocket shall be secured, too (`ws`

[2019-02-22 09:49] brase commented on #13544
Okay, my fault.

MongoDB was too old. Upgraded to 3.2. Not it works again.

[2019-02-22 09:49] #13544 closed

[2019-02-22 10:12] Ystro commented on #13276
Today we deleted the user (Victim), recreated the account and reinvited the user to the encrypted channel, but the issue still exists.
Seems like the E2E-keys will not be removed properly if you delete an user.

[2019-02-22 10:45] vitstradal commented on #13340
I have similar behavior. When going directry to rocket.chat (localhost:65065) everything is ok. When going through apache reverse proxy `401 Unauthorized` is returned to `/app/v1/command.list`. Difference is, that request  through apache does not contain headers `X-Users-Id`, `X-Auth-Token`.

[2019-02-22 12:48] tkirumba commented on #13351
Question: Do your other file uploads work as expected or do they all produce a similar error with no logs?

[2019-02-22 13:28] tkirumba commented on #13351
Update: I saw in your question that regular file uploads work correctly

[2019-02-22 14:02] #13545 closed

[2019-02-22 14:17] jrlandis525 opened #13549 "Uploading Excel Files not supported"
## My Setup
- Operating System: Windows 10
- App Version: 2.14.7
- Installation type:

- [x ] I have tested with the latest version
- [x ] I can simulate the issue easily

## Description

### Current Behavior
 when attempting to drop an excel file in a chat, whether it is xls, xlsx or csv, we get a message it is not a supported type

### Expected Behavior
 Be able to accept excel files

[2019-02-22 14:46] appelmoesje commented on #3582
Would love this feature!

[2019-02-22 14:55] edzillion opened #13550 "'Error Changing Password' on password reset screeb"
### Description:

Latest docker rocketchat container (I am locked out and can't find the version number, still have SSH access)

Trying to set a new password during the forgotten-password flow will produce the error message: 'Error Changing Password'

### Steps to reproduce:

1. Click forgotten password link, enter email address
2. Check email inbox, click on link in password reset email
3. Redire

[2019-02-22 16:00] paulz1 commented on #10247
Same problem. Do we have some fix for this?

[2019-02-22 17:18] granttoday opened #13551 "Messages don't unload"
### Description:
After talking for a while, the messages don't seem to unload. Leaving the chat open for long enough will start to lag on lower-end machines.

### Steps to reproduce:

1. Chat for a couple of hours
2. Visible lag on lower-end machine

### Expected behavior:

Not to lag

### Actual behavior:

Lag

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.2
- Operating Sys

[2019-02-22 18:04] granttoday opened #13552 "[Feature] Sort rooms by column"
In /admin/rooms I would like the ability to sort by a column name, like messages.

[2019-02-22 19:13] tuxmartin commented on #13143
@MarcosSpessatto thank you, it works!

[2019-02-22 20:13] MarcosSpessatto commented on #13340
I opened [this PR](https://github.com/RocketChat/Rocket.Chat/pull/13553) that fix this `loginAt` errors, I think this should fix the problem.

[2019-02-22 20:17] facundomedica commented on #13340
@MarcosSpessatto thank you! Do we have a ETA?

[2019-02-23 00:44] chenz67r commented on #8837
Hi, I  have encountered the same problem with HAProxy. The behavior is exactly like  javiercaselli described: 2 times subfolder name in CAS service. Tried Nginx substitution in the Rocket server but no luck

[2019-02-23 03:54] bkraul commented on #13549
Not sure if this applies, but you have to have the MIME type enabled in the File Uploads section of the Administration. Multiples are separated by commas. The 2 I use for excel files are:

```application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel```

![image](https://user-images.githubusercontent.com/14616851/53281331-1c826480-36ec-11e9-9aae-5e860c73118c.png)

M

[2019-02-23 07:33] clarm060 commented on #12796
I seem to be getting this too and I'm on the latest version.

[2019-02-23 11:37] Ngenda opened #13555 "How to change "From name" for all emails"
I wish to customize the "from name" that appears on the emails sent from my private rocket chat site. I want to change it form "Rocket.Chat" to something else.  I have managed to edit my email credentials by going to Administration>Email>SMTP>From Email. I entered it in the following format: "ExampleName <example@site. com>".

The customized name only seems to work on the test mail, the user invit

[2019-02-23 13:44] gsunit commented on #4352
I would like to work on this. @spinza Please let me know how to reproduce the same. @ggazzo could you guide me to the relevant files?

[2019-02-23 14:07] gsunit opened #13556 "No add button for joining new channels"
When I started using Rocket chat and wanted to join a new channel I could not find an option to the see the list of all public channels. There should be an "add button" right next to the channel header that can show a list where I can choose from. Currently, a user is supposed to search using the search box. However, she may not know the channel's name and thus not know what to search.

Also, a li

[2019-02-23 14:51] gsunit opened #13557 "Dismiss button for "save your encryption password" dialog"
I would like to suggest that there should be a dimiss button on the "save your encryption password" dialog. To remind the user, the dialog may still appear again the next time a user re-opens rocket chat.

Also, even if this feature seems important, the user should however at least be able to dismiss it after opening it and clicking on "i'll do it later". Which does not seem to be the case.

[2019-02-23 20:16] NiBOLT opened #13560 "LiveChat / RegisterVisitor / Curl Command"
### Description:
I am getting the following error/results returned when using the CURL command (when copied from the online documentation ) to register a visitor, please can you advise on how this is resolved

![image](https://user-images.githubusercontent.com/45275040/53291186-4351a100-37a7-11e9-925c-ed2ecd4e930b.png)

Register Visitor CURL Command

curl -X POST
-H "Content-type:application/json"

[2019-02-24 04:44] gsunit commented on #13557
Can I work on it?

[2019-02-24 04:55] novacrazy commented on #10850
I'm still encountering this on fresh clones when using meteor from git, but it doesn't happen with the official meteor version.

[2019-02-24 16:25] vitstradal commented on #13340
After some investigation I found this:
when I have application with `ROOT_URL=http://127.0.0.1/chat`
Auth token is stored to LocalSession under key `Meteor.loginToken:/:/chat` (in meteor `_initLocalStorage` in [packages/accounts-base/accounts_client.js](https://github.com/meteor/meteor/blob/devel/packages/accounts-base/accounts_client.js#L524))

BUT, when command `commans.list` is called, it calls

[2019-02-24 18:34] SteffanCline commented on #1975
I too an having this same error on CentOS 7. Node is 8.9.3. I followed the direction above to npm install again but get these errors.

`npm ERR! Linux 4.15.10-1.el7.elrepo.x86_64
npm ERR! argv "/usr/local/bin/node" "/usr/bin/npm" "install"
npm ERR! node v8.9.3
npm ERR! npm  v3.10.10
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn

npm ERR! fibers@2.0.0 instal

[2019-02-24 19:50] Rodriq commented on #13460
@reetp I think like @algomaster99 rightly said this issue should be closed.
  Recent versions of RC has that managed.

![login screen](https://user-images.githubusercontent.com/39289592/53304459-c6412d00-3875-11e9-959e-d2fe1a3d88b6.png)

[2019-02-25 02:11] bkraul commented on #13543
I received this unsolicited email as well:
![image](https://user-images.githubusercontent.com/14616851/53309957-482e5780-3870-11e9-9ea9-ab24ed28bff4.png)
 What's up with this?

[2019-02-25 02:46] EdwinFdoGarcia commented on #4898
Livechat - Office hours duplication of days and impossible to change the hours of attention.

- Version of Rocket.Chat Server:  snap install rocketchat-server - Version | 0.74.2
Apps Engine Version 1.4.0
- Operating System: AWS EC2 t3.medium, Linux Ubuntu 16  x64
- Number of Running Instances:  1
- DB Replicaset Oplog:
- NodeJS Version: v8.11.3

[https://drive.google.com/file/d/1FTvJDqlA2qwl82JjIG

[2019-02-25 10:56] hakan-erdem-temiz commented on #10178
res.header(
      "Access-Control-Allow-Headers",
      "x-auth-token"
    );

it needs to x-auth-token permission in your header so you should add it to your header.

[2019-02-25 11:03] adanielvv opened #13562 "SAML single logout not working with SimpleSAMLphp"
### Description:

SAML implementation works with login, not logout

### Steps to reproduce:

1. Setup SAML auth according to https://rocket.chat/docs/administrator-guides/authentication/saml/
2. Login using SAML
3. Logout using SAML

### Expected behavior:

Logout goes through.

### Actual behavior:
Sorry, an annoying error occured
TypeError: First argument must be a string, Buffer, ArrayBuffer, A

[2019-02-25 13:37] Marcel-123 commented on #3582
this would be very helpful

[2019-02-25 15:19] tassoevan commented on #13543
/cc @geekgonecrazy @LuluGO

[2019-02-25 15:37] geekgonecrazy commented on #13543
The missing of the unsubscribe link is an oversight.

This email how ever is sent as a result of the option chosen at the setup of Rocket.Chat where you choose to either register your server and be able to use the push gateway and the other options listed in the email or the option to configure your self.

So I would argue not entirely unsolicited.  For a while we did not send these because the re

[2019-02-25 15:44] bkraul commented on #13543
@geekgonecrazy Thanks for the explanation. I'd disagree with the unsolicited, because as you are saying, if the registration system was not finished, no email would have been sent when setting up the server. I set up my server months ago, so therefore receiving the email out of the blue was unexpected (thus unsolicited).

Honestly the first thing I thought of was "great so is this going to be one

[2019-02-25 16:23] jSURF68 opened #13565 "Connection refused appli mobile"
Hi,

I haven't been able to connect to rocket.chat mobile applications for a few days now.

Rocket.chat is installed with Docker with Plesk

Rocket.Chat Version: 0.74.3
NodeJS Version: 8.11.4 - x64
Platform: linux
Process Port: 3000
Site URL: https://chat.adcevents.fr
ReplicaSet OpLog: Disabled

Do you have any ideas?

Thank you.

[2019-02-25 16:31] ChuckB0ris opened #13566 "Custom emoji icon gone"
### Description:

The custom emoji icon has disappeared, I do not know why or how to restore it, although emoji's are available if written and can see them in administration
### Steps to reproduce:

1. In any chat window
2. Click on emoji button

### Expected behavior:
the "rocket" icon meant for custom emoji's is not visible

see the icon to be able to select an emoji
### Actual behavior:
no icon

[2019-02-25 17:14] MarcosSpessatto commented on #12796
@clarm060 can you please provide more information about this? Like how we can reproduce this error, What storage are you using, etc?? Thanks

[2019-02-25 17:16] #13143 closed

[2019-02-25 17:27] clarm060 commented on #12796
I ended up re-building the app servers and it went away. I think I had something installed that caused it.

[2019-02-25 17:38] clarm060 commented on #7402
Sure I will build a pull request for it.

[2019-02-25 18:58] MarcosSpessatto commented on #12796
Can we close this?

[2019-02-25 19:01] MarcosSpessatto commented on #13566
@ChuckB0ris I think [this PR](https://github.com/RocketChat/Rocket.Chat/pull/13031) solved this problem. Can you please update your server version and try again? Thanks.

[2019-02-25 20:12] renatobecker commented on #4898
Hi @EdwinFdoGarcia!
Can you please check how many documents you have inside the `rocketchat_livechat_office_hour`?
Thanks.

[2019-02-25 20:12] cdbessig commented on #4898
Hello,

Thank you for your email. Please note, I have gone home sick for the day of 2/25.  As such, you should assume I will have ZERO access to email. I will begin to process my inbox and actionable items upon returning.

If you have an URGENT issue and require an immediate response, please reach out to the general support email. Otherwise, I will answer your request as soon as possible when I re

[2019-02-25 20:22] #8068 closed

[2019-02-25 20:46] renatobecker commented on #13560
Please, take a look at here:
https://github.com/RocketChat/docs/issues/1103#issuecomment-467175588

Thanks.

[2019-02-25 20:46] #13560 closed

[2019-02-25 21:39] renatobecker commented on #13507
Hi @robinreinhardt, in the issue's description you've mentioned a "problem" related to the behavior you described, but do you really think that it's a "problem" or it's a natural behavior of the browser?
If you really need to change this behavior, I would suggest you to close this issue and create another issue in this repository:

https://github.com/RocketChat/feature-requests

Thanks.

[2019-02-25 22:07] dsroot commented on #3582
We are waiting, but he is not ((((

[2019-02-25 23:30] sylvaint opened #13568 "rocket chat reloads and crashes in Safari IOS and OSX"
- Version of Rocket.Chat Server: 0.74.3
- Operating System: linux x64
- Deployment Method: centos manual installation
- NodeJS Version: v8.11.3
- Browser Safari 12.0.3

rocket chat iframe auth
When accessing on Safari, page reloads twice before crashing.
"A problem repeatedly occurred on """

Safari Console error:
Failed to set referrer policy: The value 'origin-when-crossorigin' is not one of 'no

[2019-02-26 03:10] SteveUNSW commented on #12974
Any updates? when we change the avatar, after a reload it changes back to the old one.

We need to do a hard reload for the new one to appear (suggests a caching issue).

Version 0.73.2

[2019-02-26 06:04] saurabhshahare commented on #13542
Facing this too, with 0.74 Master branch

[2019-02-26 07:31] durdenclub commented on #3270
I have installed Rocket.Chat via Snap in Ubuntu 18. Can you please help me to remove this "powered by" thing ?
Thanks

[2019-02-26 07:34] durdenclub commented on #5387
Hi, Is there any way to remove this. I am using Rocket chat installed via Snap.

[2019-02-26 10:49] AmShaegar13 commented on #11288
Still experiencing problems when lots of clients need to reconnect at once. Just had another downtime of half an hour because of this. Even with presence monitor limited to one two of 20 instances.

[2019-02-26 11:15] fabien4455 commented on #12873
Don't know why you're closing it because

https://forums.rocket.chat/t/about-the-feature-requests-category/127 says that

[2019-02-26 11:17] Doc-McCoy commented on #11649
Same isue on manjaro.

[2019-02-26 15:35] MarcosSpessatto commented on #13568
If the error is caused by this log that you are sharing, I think [this PR](https://github.com/RocketChat/Rocket.Chat/pull/13553) will correct the problem.

[2019-02-26 16:01] nmagedman commented on #11288
@AmShaegar13, we've been pretty stable since fixing some bad configuration settings a few weeks ago, all having to do with Apple Push Notifications:

/admin/Push
  Enable: True
  Enable Gateway: True
  Gateway: https://gateway.rocket.chat

Running v0.69.2.  1800 users.  10 EC2 instances.  3 RocketChat daemons per instance.

[2019-02-26 17:01] renatobecker commented on #13141
Closed by #13308.

[2019-02-26 17:01] #13141 closed

[2019-02-26 17:04] joequilter commented on #11288
@AmShaegar13 Not an expert in Rocket chat, but had some experience of broken servers under load and interested in this problem as we evaluate rocket chat. Have you run https://github.com/netdata/netdata and looked for bottlenecks? Common issues I found normally related to various OS limits being set wrong (file handles and sockets in particular), too long timeouts, disk contention (though unlikely

[2019-02-26 17:25] Pratyush1197 opened #13570 "E2E encryption key removes on dismissing dialog box"
For the E2E encryption I have one of the suggestion for making it simple for the user.
On clicking 'I saved the key close the window' the key is removed from localstorage and cannot be retrieved if not saved by user.
So if we implement that on clicking the button the key is saved to the clipboard and then the dialog box is closed with key removed from local storage.

[2019-02-26 17:39] AmShaegar13 commented on #11288
We use our own tooling for that displayed on grafana dashboards which gives you a pretty good overview as well. I will see if I can post a screenshot of today's outage later. Also, please refer to the graph I [posted back in June](https://github.com/RocketChat/Rocket.Chat/issues/11288#issuecomment-401026177).

I will have a look at netdata and see if that will yield any further data. However, I do

[2019-02-26 17:45] kanishk98 commented on #13151
@r1walz I'm getting myself comfortable with Zulip, and I'd like to take up this issue. Are you working on it?

[2019-02-26 17:51] alandroid commented on #2431
This notifications issue needs to be fixed asap, because it makes the entire project unusable and all your adopters will drop like flies. Starting with me.

[2019-02-26 17:51] alandroid opened #13571 "Notifications do not work"
I can see the future. This issue will never get fixed and unfortunately rocketchat is a failed project. I will have to abandon it since no one wants to use it because notifications do not work.

If your going to make a chat system, at least make sure key features are working from the start. Instead of making every part of the project an after thought.

At this rate, i will, start looking at altern

[2019-02-26 17:54] josep112 opened #13572 "Livechat"
Hi,
Livechat Rest APi does not have the option to send images, files and audios, there is some possibildiade, today I use the command below but only sends a message
curl -X POST -H "Content-type: application / json" http: // localhost: 3000 / api / v1 / livechat / message -d "{\" token \ ": \" $ token\ ", \" rid \ ": \" $ roomid \ ", \" msg \ ": \" $ msg \ "}"

[2019-02-26 17:56] alandroid commented on #13572
Every feature does not work.

[2019-02-26 18:00] kanishk98 commented on #5020
@geekgonecrazy I'm getting myself up to speed with Rocket.Chat, and I'd like to begin with this issue. Hope that's okay.

[2019-02-26 18:10] r1walz commented on #13151
@kanishk98 : I guess you have mistaken, this is **Rocket Chat**.  By the way, you can take this up as an issue, I am not getting time to solve this right now. Gor for it! :tada:

[2019-02-26 18:15] josep112 commented on #13572
Will it be deployed soon? Directing to a department is also not available in the api

[2019-02-26 18:24] MarcosSpessatto commented on #13547
Hi @winterstefan, the way of you did this is correct, we can connect via `wss` via proxy as you did or we must load the certificates in the `express` server, it is not only change the protocol from `ws` to `wss`. I think the way you did is the best way to handle with this.

[2019-02-26 18:38] rodrigok commented on #2431
Hi @alandroid

What's happening? We have no comments here since 1 year ago.
We have no but issues related to notifications as far we know, can you explain your case and add details about your installation like version, OS, installation method, etc?

Thanks

[2019-02-26 19:37] MarcosSpessatto commented on #13546
@winterstefan first of all, thanks for the very detailed explanation of the problem. I tested the situation that you are reporting, and I found the problem. Basically the problem is with authentication, the `authenticated` function does not receive the token, because the connection is different from the normal that you send the authToken. As we can see [here](https://github.com/RocketChat/Rocket.C

[2019-02-26 20:38] #13488 closed

[2019-02-26 20:52] geekgonecrazy commented on #13571
@alandroid I understand the urge to post your frustrations.  But it is not productive to you, us or anyone else to just say they "do not work".

What specifically about them do not work?  If you tell us specifically we would be more than happy to take a look.

I get many notifications every single day and so do many people.  So knowing what isn't working for you may allow us to help you get yours

[2019-02-26 20:54] ggazzo commented on #13571
I don't think its entirely true...
![image](https://user-images.githubusercontent.com/5263975/53445195-c3b61300-39ee-11e9-9655-419c1a829393.png)

we have a "complex" flow to decide if the user will receive notifications or not...

we are drawing that flow, please check:
https://whimsical.co/Bngw3kot3wWPMAAJTebDUJ

[2019-02-26 20:55] #13507 closed

[2019-02-26 21:05] ggazzo commented on #13556
@gsunit usually we use the `directory` feature, http://yourserver.bla/directory, and after you open the room you should be able to see the `join button`.

[2019-02-26 23:04] ggazzo commented on #13572
hey @josep112 actually we send files over rest api

please look here:
https://github.com/RocketChat/Rocket.Chat.js.SDK/blob/multiple-clients/src/lib/api/Livechat.ts#L53

and here is a place that I know we are using that method:
https://github.com/RocketChat/Rocket.Chat.Livechat/blob/45b025726052084eed77a9a9fb4dfb7be28cc382/src/routes/Chat/container.js#L133

the javascript way to do that:
[code]

[2019-02-26 23:05] ggazzo commented on #13572
@josep112

I didnt get this one, the user cant change the department over restapi or the agent?

[2019-02-26 23:19] ggazzo commented on #1112
@AlexanderBartash try http://threads-new.rocket.chat

[2019-02-27 01:36] renatobecker commented on #13572
@josep112

You don't send messages to `departments`, you send messages to `rooms` that may be assigned to a department(or not).

You can achieve it easily by using our Livechat REST API endpoints:

1 - Registering Livechat Visitors(When you pass the `department` field)
https://rocket.chat/docs/developer-guides/rest-api/livechat/visitor/#register-a-new-livechat-visitor
2 - Get a new Livechat Room
h

[2019-02-27 02:24] #13571 closed

[2019-02-27 06:22] naiaokami opened #13575 "Pull Roles / Avatar via oAuth"
My suggestion is:

- Define a parameter in oauth for avatar URL, similar to how usernames are taken
- Define a parameter for roles in oauth, and 'associate' them with groups.
   ex. 'group' = 1 == 'admin' for role.

[2019-02-27 06:49] luckenbach opened #13576 "New channels lack owner"
### Description:

Newly created channels lack an owner

### Steps to reproduce:

1. Login to self-hosted Rocket Chat
2. Create a new channel
3. Attempt to edit channel

### Expected behavior:

The initial creator of a channel should be the owner with abilities to edit

### Actual behavior:

Newly created channel lacks an owner and the user that created the room is unable to edit the channel

### S

[2019-02-27 07:23] robguinness opened #13577 "Default styles for Terms of Service and Privacy Policy are hideous"
### Description:

The default styles for Terms of Service and Privacy Policy are hideous.

### Steps to reproduce:

1. Add a few `<p>` and `<h1>` tags to the Privacy Policy or Terms of Service (Layouts->Content).
2. Open the Privacy Policy or Terms of Service links form the login page.

### Expected behavior:

Should look at least decent.

### Actual behavior:

Looks terrible (see screenshot below

[2019-02-27 08:34] tbuerven commented on #12320
Same here. Is there a good workaround available at this time?

[2019-02-27 08:37] raatti commented on #2192
+2 for this, desperately needed for any good group chat to create groups and aliases to mention.

[2019-02-27 08:40] Gaurav-Punjabi commented on #13577
Can I solve this issue ?

[2019-02-27 09:04] nmagedman commented on #11288
We worked around that problem by stopping the server and letting it sit for several minutes.  The clients fail to connect and wait for a progressively longer retry delay.  When we finally bring the servers back up, the clients return gradually.  Ugly, but it was usually successful.

[2019-02-27 09:12] IakovBoguslavskii commented on #13433
@18739940427 , it's done via your Active Directory settings, not Rocket.Chat. I.e., you establish cross-domain trusts between your DCs in Active Directory and then use a single LDAP server in Rocket.Chat's settings.

[2019-02-27 09:14] chatnl commented on #5020
If there is anything that I can test just let me know. I still have users that use the app and set invisible mode.

[2019-02-27 10:29] adispi opened #13579 "notifications and offline emails are not working"
i am not sure what is happening, but desktop notification test button is grayed out, while it is saying that notifications are on, no notifications, no sounds and no offline emails are being sent from the server.
server ver: 0.74.1
node: v8.11.4
npm: 6.4.1

output of npm v:

meteor-dev-bundle@0.0.0 | Proprietary | deps: 5 | versions: 1

dist
.tarball: https://registry.npmjs.org/meteor-dev-bundle/-

[2019-02-27 10:43] jhermann commented on #11288
Adding explicit back-pressure to enter that back-off mode early during startup of the server could at least reduce the severity of the problem, and is a relatively easy fix (time-limited or load-induced addition of a header, and code to act on it with existing back-off in the clients).

[2019-02-27 11:34] josep112 commented on #13572
Guilherme, obrigado pela resposta!
Seria possível usar via curl tentei algo do tipo abaixo mas sem sucesso
curl -X POST -H "Content-type: application/json" http://localhost: 3000/api/v1/livechat/upload -d '{"rid": "$roomid", "file": "imagen.jpg"}'

[2019-02-27 11:39] josep112 commented on #13572
Renato, já faço dessa forma!
No Livechat eu adiciona Departamentos e neles os agentes, Por exemplo tenho um departamento Suporte com o agente Jose e um Departamento Atendimento com o agente Joao, gostaria de direcionar o atendimento para o departamento e não para a sala onde os 2 agentes nesse caso podem atender a mesma chamada

[2019-02-27 11:41] philtweir commented on #2192
(just to highlight, at least some of that bounty is time-limited - not immediately expiring, but keen to flag)

[2019-02-27 12:05] maciek134 commented on #2192
Ok, so I guess @Kailash0311 decided to post a WIP PR that adds pretty much nothing to "reserve a spot"? I'm out then, I'm not going to rush anything because of a bounty... (keep in mind that this is not a trivial feature, 90% of the work is figuring out how to do it properly).

[2019-02-27 12:14] juliomac commented on #13572
It is possible! (É possível)

// Send to Department A
 curl -X POST \
      -H "Content-type:application/json" \
      http://localhost:3000/api/v1/livechat/room.transfer \
      -d '{"rid": "n5MvWu8BLxbuPAQdJ", "token": "CjKEmxqAsBbsNJ5ft", "department": "yB8MwM7oZ2FsKyHzM"}'

//send to Department B
       curl -X POST \
            -H "Content-type:application/json" \
            http://localhos

[2019-02-27 12:24] #13579 closed

[2019-02-27 12:25] adispi commented on #13579
issue was in wrong version of mongodb

[2019-02-27 12:51] mredbishop commented on #13339
This may not be related but I have the same issue with a Slack import, my config is as follows:

![image](https://user-images.githubusercontent.com/1096293/53491434-52c63800-3a8e-11e9-9972-283d2052f713.png)

The error log is as follows:
[code]

[2019-02-27 12:53] AmShaegar13 commented on #11288
We limited the rate of newly created sessions by HAProxy now. This might prevent flooding the servers with reconnects next time.

Here's our monitoring for the recent incident:
![clipboard - february 27 2019 10_23 am](https://user-images.githubusercontent.com/3840390/53491445-ba808100-3a96-11e9-9fa0-b572c88f79eb.png)

[2019-02-27 13:24] josep112 commented on #13572
Enviar Arquivo pelo Livechat resolvido segue os passos abaixo para quem precisar:
general -> Rest api -> ativar CORS
rid=RGaWhZ47PYb7dBNjS
curl -X POST http://localhost:3000/api/v1/livechat/upload/RGaWhZ47PYb7dBNjS -H 'x-visitor-token: xqAsBbsNJ5ft' -F 'file=@/usr/src/rocketchat-realtime/whatsapp/imagem.jpeg'

[2019-02-27 13:24] josep112 commented on #13572
Juliomac vou testar, obrigado

[2019-02-27 13:50] Aditya-Kolla commented on #8171
Can I work on this?
If yes, could anyone elaborate what needs to be done.
Thank you.

[2019-02-27 14:36] spivey76 commented on #2869
Any news on this front? I'm currently testing several solutions and this is by far the most difficult to pin down.

[2019-02-27 14:40] coders-kitchen commented on #2885
The Merge Request will not close but only reference this issue.

@Lawri-van-Buel The feature in the Merge Request contains already the option to choose what to log. In detail you can deactivate logging of the following information
* Client IP
* Forward For IP
* UserAgent
* Username

each deactivated option will be displayed as a simple '-' sign.

[2019-02-27 14:41] atsag opened #13580 "Unable to upload files on snap version of RC"
Installing a snap and then trying to upload a file (I have tried with jpg and pdf) do not work.
Tested in the snap versions provided for Ubuntu 16.04 server and Raspbian 9.
The related error which appears in the logs of the server service itself is the following:

`Feb 27 13:58:22 localhost rocketchat-server.rocketchat-server[1985]: Error: FileNotFound: no file with id GSkEKEQSyjREkBJBH found
Feb

[2019-02-27 15:02] ExTechOp commented on #5166
We are running Rocket behind a nginx reverse proxy on our own server. It turns out these days "[Advanced persistent threats](https://en.wikipedia.org/wiki/Advanced_persistent_threat)" (or maybe just professional spammer-criminals, the difference isn't great from our point of view) are showshoeing just about every service we have with authentication on the internet. It would be nice to get some rea

[2019-02-27 15:17] ExTechOp commented on #5166
The original request was of course phrased in a rather provocative way, but as a sysadmin running our company chat server, it would be really nice to get some indications that:
- one of our users is for some reason having issues logging in
- someone who retired yesterday still has a Rocket client running on their mobile phone
- someone is running a dictionary attack through Rocket against our LDAP

[2019-02-27 15:58] granttoday opened #13581 "Embed link opens in same tab"
### Description:

When someone posts a link it will embed it and if you click the title of the embed it will open in the same tab. The link that was sent was a Spotify Album link

### Steps to reproduce:

1. A channel
2. Send a link (possibly just spotify or spotify albums)
3. Click on the title of the embed

### Expected behavior:

To open the link in another tab like all the other links

### Act

[2019-02-27 17:01] brunoalano commented on #6959
@kolyasya When the user open the Livechat Room, I need to open the User Information page initially. I added this on `room.js`:

[code]

[2019-02-27 17:49] iostat commented on #12206
I've actually been noticing the same issue on our install. We have session timeout set to 90 days, however sometimes our users get logged out or have sent messages grayed out until they refresh and have to log in again.

Found a bunch of this error in the instance logs, might be relevant?
[code]

[2019-02-27 18:00] iostat commented on #12206
Also saw this pop up numerous times before that `loginAt` exception. Probably also relevant given that this sounds like a DDP problem?:
[code]

[2019-02-27 18:21] raphaelmpinheiro commented on #11924
I have same issue with version 0.74.3

[2019-02-27 18:44] Kailash0311 commented on #2192
@maciek134 I just gave it a shot by implementing a part of this feature (there is still a lot to be left and lots of refactoring has to be done) and I am not after bounty, I did it as I think this feature is really needed :slightly_smiling_face:
Feel free to work on your own :slightly_smiling_face: .

[2019-02-27 19:08] renatobecker opened #13582 "Update RD Station Integration API"
The integration between Livechat and RD Station needs to be updated because the RD Station API has been updated to version 2.0.

https://developers.rdstation.com/en/overview

[2019-02-27 19:56] renatobecker-zz opened #13583 "[IMPROVE] Extend Livechat API"
Extend the Livechat Realtime API, supporting new methods and events, such as:

- [x] Allow changing the widget language( [PR #214](https://github.com/RocketChat/Rocket.Chat.Livechat/pull/214))
- [x] Allow hiding/showing the widget
- [x] On widget show event
- [x] On widget hide event
- setCustomTexts
- Goes online/offline mode according to agents availability(Real-time) - it needs to consider offi

[2019-02-27 20:38] josep112 opened #13585 ".bin added to dowloaded files"
### Description:

When I get a file, video or audio in Livechat and I will download it it adds .bin at the end of the file Example the file is called doc.pdf it downloads as doc.pdf.bin, I found a correction to be made in the packages /rocketchat-file-upload/server/lib/ FileUpload.js file, but I did not find this file , my version is 0.74 Does anyone have a light?

### Actual behavior:

### Server

[2019-02-28 05:45] winterstefan commented on #13547
Hi @MarcosSpessatto,

thank you for you quick reply! Cool to hear that I found a suitable way of handling this issue. I personally am totally fine with that solution, since GraphQL seems to be rarely used at the moment. 👍

**Just for clarification**
Is that something the consumer in general has to **do by himself** or would it be suitable in the big picture of **Rocket.Chat** to **assist** the con

[2019-02-28 06:41] saurabhshahare commented on #13542
+1

[2019-02-28 07:59] Abraka commented on #11288
Wohohou, Im just in a middle of rocketchat deployment in our organisation and this does not look good.
For start I plan about 200-700 active users and later if everything will work good, there is waiting potentional 2000-3000 users. Nothing fancY like mobile notification, but now its looks like rocket chat have problems handling even few hundred users. This make me nervous...
And also why do you A

[2019-02-28 08:00] algomaster99 commented on #13374
Can I get some help here on how to go about it? I have understood the flow but can't test it properly. I can't run `console.log()` in `Rocket.Chat/packages/rocketchat-mentions/server/Mentions.js`. The fix will be there only I suppose.

[2019-02-28 08:11] algomaster99 commented on #13566
@MarcosSpessatto It's there in version `1.0.0-develop`.
![custom](https://user-images.githubusercontent.com/35191225/53551118-7e185800-3b5e-11e9-9ebc-9e41d4a372ae.png)

[2019-02-28 08:19] ChuckB0ris commented on #13566
@MarcosSpessatto Unfortunately I can't update RocketChat in prod on my liking :), Icon appeared after I manually deleted all custom emoji's, maybe the sheer number was to much "2889". Now the icon is visible again. I'll try again after I upgrade to import emoji's, I used this https://github.com/amtypaldos/rocketchat-emoji-upload

[2019-02-28 08:19] #13566 closed

[2019-02-28 08:26] zdumitru commented on #13585
duplicate of #6026

[2019-02-28 08:27] woulf commented on #11649
Same problem on one out of 3 client, using the latest desktop app on Windows 10

[2019-02-28 10:35] mredbishop commented on #12448
I have this problem too, nothing logged to the console just a grey screen that briefly shows a box flash up:
![loading-chat](https://user-images.githubusercontent.com/1096293/53560530-7a77d780-3b44-11e9-8792-918f80b37932.gif)

[2019-02-28 10:42] AmShaegar13 commented on #11288
We only use VMs and doubled the amount of servers when we faced these issues for the first time. This obviously did not help. We use 3 instances per server as recommended in [Running Multiple Instances Per Host To Improve Performance](https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-performance/).

[2019-02-28 11:25] Abraka commented on #11288
I have everything in one 8core-vm,16Gb Ram, including mongodb. Point is for me to have all components together, to get rid off any necessary rocket chat component communication over network. Currently 4 instances running with empty channels and 1 connected admin. So far no problems with load :)

[2019-02-28 14:18] Sing-Li commented on #9745
Nextcloud integration has been handled in GSoC projects - successively - in 2018 and soon 2019.  We are, and will continue to,  work in conjunction with Nextcloud team.   Closing this issue.

[2019-02-28 14:18] #9745 closed

[2019-02-28 14:23] #9587 closed

[2019-02-28 14:24] iesit commented on #6174
+1 for this.  Our organization would like to utilize the directory in Rocket to allow employees to see other employee information (ie: email/title/cell phone).  This is only good if the list is kept up to date.

[2019-02-28 14:31] iesit commented on #9900
Seems to me that it is a security issue to "cache" the user's password locally.  The user is authenticated with LDAP, so why store the user-entered password locally?

[2019-02-28 14:36] rodrigok commented on #9900
@iesit

It's stored encrypted as the normal passwords.

[2019-02-28 14:37] iesit commented on #10170
+1 for this.  We are using MS Active Directory LDAP which is able to add and authenticate new users.  I have the following in the Accounts -> Registration -> Custom Fields section:

`{
	"phone": {
		"required": false,
      	"type": "text",
		"public": true
	},
	"cell": {
		"required": false,
      	"type": "text",
		"public": true
	},
	"extension": {
      	"required": false,
		"type": "text",

[2019-02-28 14:40] #10216 closed

[2019-02-28 14:42] joseluisq commented on #9235
It doesn't work for my users created by LDAP sync.

[2019-02-28 14:49] Wirone commented on #10216
@theorenck would be good to hear why it was closed. Probably because Internal Hubot was deprecated. But still... Closing without any feedback isn't community-friendly.

[2019-02-28 14:51] iesit commented on #9900
With LDAP -> Login Fallback set to False, I cannot authenticate users created outside of LDAP, which is important (I seem to recall there is a [forum post](https://forums.rocket.chat/t/ldap-auth-and-local-users/2504) regarding authenticating users through Rocket locally and using LDAP?).  While the inability to authenticate both LDAP and non-LDAP accounts is not insurmountable (and preventing Rock

[2019-02-28 14:57] nopynoop commented on #10583
I am still having this problem. The type window gets very laggy when I type, especially longer messages with use "multi-line".

[2019-02-28 15:06] iesit commented on #9235
I've been working with MS AD LDAP and Rocket (0.74.3) a bunch lately, and I've found that all users I've imported are showing the correct Name and Username in the Admin -> Users list.  I am using "sAMAccountName" for Admin -> LDAP -> Sync / Import -> Username Field and {"cn":"name", "mail":"email"} for the User Data Field Map.  May want to ensure that all of your LDAP users have the correct CN set

[2019-02-28 15:14] iesit commented on #4554
+1... Also this is mentioned and discussed, but not quite the same issue in issue #9900

[2019-02-28 15:39] iesit commented on #5900
I'm using MS Active Directory, and when I run Powershell with Active Directory Module using the following query:

`([ADSISearcher]"(&(&(&(&(objectCategory=person)(objectClass=user)(mail=*)(memberOf:1.2.840.113556.1.4.1941:=cn=User Group,OU=Security Groups,OU=Business,DC=Domain-Name,DC=com)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(!(mail=postmaster@Domain-Name.com))(!(mail=anotheruser@Domai

[2019-02-28 15:58] ooguz commented on #6791
Hello everyone,

I was getting this error and there is no real solution on the web.

The solution is:

- Go to "Administration"
- Enter "File Upload" section
- Append the file type which you get error at the end of "Accepted Media Types" field

Screenshot is on the link:

[https://hackerspace.ist/ico_problem_solution.png](https://hackerspace.ist/ico_problem_solution.png)

Have a nice day!

[2019-02-28 15:58] ooguz commented on #1888
Hello everyone,

I was getting this error and there is no real solution on the web.

The solution is:

- Go to "Administration"
- Enter "File Upload" section
- Append the file type which you get error at the end of "Accepted Media Types" field

Screenshot is on the link:

[https://hackerspace.ist/ico_problem_solution.png](https://hackerspace.ist/ico_problem_solution.png)

Have a nice day!

[2019-02-28 16:00] r-carroll commented on #7036
Was this ever resolved? I am still seeing
`
error: cannot perform the following tasks:
- Run configure hook of "rocketchat-server" snap (snap "rocketchat-server" has n                                                                                                                                                             o "configure" hook)
`
Running server version: `0.65.2` on a pi using snap

[2019-02-28 16:22] #1463 closed

[2019-02-28 17:54] Hudell commented on #6655
@domenicocosta I'm not sure if I understood exactly what you want to do. You want to manually update the users on the database with the CAS username, or are you looking for a way to have Rocket.Chat automatically detecting CAS users that were created through the REST API?

[2019-02-28 18:31] renatobecker commented on #12033
Hi @sebudot!

I want to suggest you update your server version to our latest version(0.74.3) and then try it again, what do you think?
I was not able to reproduce the issue you described, so it would be good to try it on our latest version.

I'll be waiting for your feedback.
Thanks.

[2019-02-28 18:46] josep112 commented on #9278
After finishing a conversation in Livechat, the return until the call returns but does not release the chat to enter the message. Version Rocketchat 0.74

[2019-02-28 19:01] Hudell commented on #13542
We are currently using a package with one file that has a name that is not valid on windows and it causes the file to not be found. We'll rename this file to fix this problem.

[2019-02-28 19:05] harimani83 commented on #13542
Hi  Pierre H. Lehnen ,
  Where I need change the file name because while installing only I'm
getting this error. So please help me which I file I want to change in
Windows machine before installing package

On Fri, Mar 1, 2019, 12:32 AM Pierre H. Lehnen <notifications@github.com>
wrote:

[2019-02-28 23:42] #13585 closed

[2019-03-01 00:34] davidvoisonics opened #13588 "Set user status on specific channel"
The ability to set a separate status on certain channels, as an exception to the user's general global status, would be really useful. So a user could for example be 'invisible' globally, but 'online' in one specific channel.

[2019-03-01 02:36] ryguy222 commented on #13147
I can confirm this is still an issue in Rocket.Chat 0.74.3
NodeJS 8.9.4  and MongoDB 3.4.18

Downgrading to bcrypt 3.0.0 did not fix the issue. Logins that are handled via SAML worked fine, but local accounts immediately crashed the server.

[2019-03-01 04:08] jervis446 commented on #13583
hey @renatobecker, can I know the meaning of "sponsored" tag meaning?

[2019-03-01 05:02] alleniver opened #13589 "Login Error on Web or Client!"
MacOS:10.14.3
Rocket.Chat Version:0.74.3
Client Version:2.15.0

description:
When I Logout ,I can't login it anymore.
It has been a long time since this problem was solved.
I reinstalled both the client and the server, which has always been the case.

![1](https://user-images.githubusercontent.com/6006650/53617454-3824c800-3c22-11e9-90c2-69af9b0c100b.png)
![2](https://user-images.githubusercontent

[2019-03-01 05:02] alleniver opened #13932 "Login Error on Web or Client!"
MacOS:10.14.3
Rocket.Chat Version:0.74.3
Client Version:2.15.0

description:
When I Logout ,I can't login it anymore.
It has been a long time since this problem was solved.
I reinstalled both the client and the server, which has always been the case.

![1](https://user-images.githubusercontent.com/6006650/53617454-3824c800-3c22-11e9-90c2-69af9b0c100b.png)
![2](https://user-images.githubusercontent

[2019-03-01 06:12] knrt10 commented on #13331
I would like to fix this

[2019-03-01 06:26] robguinness commented on #13577
This is open source, so I think the answer is yes!

[2019-03-01 06:29] Gaurav-Punjabi commented on #13577
Can you tell in which folder the terms file is located in ?

[2019-03-01 06:35] #13466 closed

[2019-03-01 06:58] saurabhshahare commented on #13542
@harimani83 for the workaround try changing the version of konecty:user-presence@2.1.0 from @2.30

[2019-03-01 07:04] #13500 closed

[2019-03-01 07:04] saurabhshahare opened #13590 "Trying to use web webkitSpeechRecognition for the Live Chat fallback with Error "Not-Allowed""
### Server Setup Information:

- Version of Rocket.Chat Server: 0.70/ 0.74
- Operating System: Windows
- Deployment Method: Followed Development Deployment Steps
- Number of Running Instances: 1
- DB Replicaset Oplog:
- NodeJS Version: v8
- MongoDB Version:

### Additional context

Trying to use web webkitSpeechRecognition for the Live Chat fallback with Error "Not-Allowed"

### Relevant logs:

[2019-03-01 07:08] harimani83 commented on #13542
Thanks for update me

On Fri, Mar 1, 2019, 12:28 PM Saurabh Shahare <notifications@github.com>
wrote:

[2019-03-01 07:09] yb-shin87 commented on #6791
I got same issue (File type invalid image/x-icon)...upload favicon.ico even though I added image/x-icon

[2019-03-01 07:35] paulstephan commented on #13461
We have the same problem. We are on version 0.74.3

[2019-03-01 08:46] winterstefan commented on #13546
@MarcosSpessatto Thanks for the explanation!

I'm not sure whether I fully understood it, but I played around a bit after reading your answer and the associated docs.

By just passing the token as `connectionParams.Authorization`, I managed to get my use-case running:

[code]

With that, the token gets sent in the initial `connect` frame of the WebSocket.

- Inspecting / debugging the Node process

[2019-03-01 08:53] jacwib commented on #13426
please fix this, developers. can confirm an issue on 0.74.2
(and its really annoying.)

[2019-03-01 11:30] knrt10 commented on #13391
I would like to fix this

[2019-03-01 12:47] mettke opened #13592 "custom oauth is ignoring /etc/hosts"
### Description:

I'm running rocketchat behind a reverse proxy with custom OAuth. My OAuth system is running in its own docker container behind a reverse proxy and cannot be reached by the rocketchat docker container using the external IP. Instead, both are connected using the same docker network and can reach each other using the internal IP. To make sure that the rocketchat server can reach the

[2019-03-01 13:12] Exordian commented on #13592
it's not a rocketchat problem. docker container can't even access the `/etc/hosts` from the host. refer to the docker documentation about modifying `/etc/hosts` within a docker container [1]

[1] https://docs.docker.com/engine/reference/run/#managing-etchosts

[2019-03-01 13:21] mettke commented on #13592
@Exordian
Thanks, but I'm talking about the hosts file inside the container.

[code]

[code]

[2019-03-01 13:32] renatobecker commented on #9278
@josep112, can you please open a new issue describing the steps to reproduce this case?
Thanks.

[2019-03-01 13:40] josep112 commented on #9278
Renatobecker ok!

[2019-03-01 13:46] josep112 opened #13593 "Livechat no return conversation to the agent"
### Description:

I use Livechat with the guest service strategy. After finishing a conversation in Livechat, click on the return the conversation is sent to all agents, I make the caputra in an agent normalemnte, but does not release the chat to enter the message, below the message appears: This conversation is already closed .

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74

[2019-03-01 13:59] mettke commented on #13592
I was able to fix it. For some reason, when the following environment variables are set, rocketchat is not using the ip from `/etc/hosts` but from an external domain server. After removing them, it uses the correct specified ip.

[code]

[2019-03-01 13:59] #13592 closed

[2019-03-01 14:04] josep112 opened #13594 "LiveChat Facebook delay message"
### Description:

There is an immense delay when I send a message from rocket chat to facebook, when sending facebook to rocket chat is immediate but on the contrary the time is immense

### Server Setup Information:

- Version of Rocket.Chat Server: 074.3
- Operating System: Debian 9
- Deployment Method:tar
- Number of Running Instances: 1
- NodeJS Version: v8.15.0
- MongoDB Version: v3.6.10

[2019-03-01 14:04] domenicocosta commented on #6655
Hi i have responce on chat openRocket thanks

[2019-03-01 14:29] FrancoisBillant commented on #9611
I would like this too.

[2019-03-01 15:01] DaGrisa opened #13596 "Office365 as OAuth Provider - 502 Bad Gateway"
Hi,
i get a "502 Bad Gateway" from nginx.

![image](https://user-images.githubusercontent.com/11348169/52562076-99186780-2dfd-11e9-9ede-0ab75e433ac9.png)
![image](https://user-images.githubusercontent.com/11348169/52562110-ad5c6480-2dfd-11e9-822e-95d11e8cee6e.png)

[code]

[2019-03-01 15:52] naiaokami commented on #10456
Rocket.Cat should be nameable as it is not a "branding-friendly" name.

[2019-03-01 16:10] renatobecker commented on #13593
@josep112, please give us more details about this case, I mean.. If I get it right, do you want to send messages in a Livechat room that is already closed?

[2019-03-01 16:21] renatobecker commented on #13572
@josep112, is your case resolved?
If so, please close this issue, thanks.

[2019-03-01 16:24] josep112 commented on #13593
@renatobecker, Right! I understand that if there is the return key and with it I return to the room for the attendants should release the box to continue the conversation

[2019-03-01 16:38] renatobecker commented on #13593
Yes, if you're returning the chat to the pool, the agents will be able to continue chatting normally.
But what you described is that the agent's are not able to chat because the chat is closed, so it seems like you're clicking on `Close` button instead of the `Return` button.
I just can't simulate this case so I would suggest you to record a video screen or something like this.. are you willing to

[2019-03-01 16:42] josep112 commented on #13593
@renatobecker
You're right I'm closing the room. Is there no possibility of returning in the conversation after closing the room? If it was not clear I can record the screen without problems

[2019-03-01 16:44] josep112 commented on #13572
Yes, in parts, now I have the problem of when I send the pdf it adds pdf.ini, but on what we say acim already I will close

[2019-03-01 16:44] #13572 closed

[2019-03-01 16:45] renatobecker commented on #13593
After closing the conversation the room no longer accepts new messages.

[2019-03-01 16:48] josep112 commented on #13593
Is not there a way to do this? I am using Livechat with Whatsapp and since there is no calendar to send a direct message to the user, it would be great if he could return the call to send the message.

[2019-03-01 16:54] renatobecker commented on #13593
@josep112, yeah, I got it.
But, if want to keep chatting further, why do you close the chat?

[2019-03-01 17:00] josep112 commented on #13593
@renatobecker
A necessidade é a seguinte: Estou falando com uma pessoa hoje e termino a conversa, naturalmente fecho o chat ok! Amanha necessito chamar essa pessoa por algum motivo , passar uma informação que faltou por exemplo, então se conseguisse retornar a chamada seria muito util pois estou fazendo isso com uma integração por WhatsApp.

[2019-03-01 17:10] renatobecker commented on #13593
@josep112, please write in English.
In this case, you can just hide de room and then it will not be displayed on your side bide until you restart chatting.

[2019-03-01 17:18] josep112 commented on #13593
@renatobecker
Yes I thought about it but this way the calls are all open in my case I will have to find another solution, thanks for the answers

[2019-03-01 17:18] #13593 closed

[2019-03-01 17:55] #12049 closed

[2019-03-01 19:01] #13596 closed

[2019-03-01 20:10] #6026 closed

[2019-03-01 20:19] #11799 closed

[2019-03-01 21:41] josephsmith1990 commented on #9385
Any update on this issue?  It seems simnv has the solution, just needing Rocket.Chat to implement. It means moving:
<meta http-equiv="X-UA-Compatible" content="IE=edge" / >   tag ahead of the script tag.
The alternative of unchecking "Display intranet sites in Compatibility View" box doesn't work for many of us in a corporate setting to push it across to all users as it breaks a bunch of legacy In

[2019-03-01 23:57] EdwinFdoGarcia commented on #4898
Hi @renatobecker , thanks for your help. Sorry but I do not know where I can see rocketchat_livechat_office_hour. :(

[2019-03-01 23:58] cdbessig commented on #4898
Hello,

Thank you for your email. Please note, I am out of the country on business.  As such, you should assume I will have limited access to email.

For a faster response, please reach out to the general support email or Lori Talarico who is covering Account Management. Otherwise, I will answer your request as soon as possible which may be 1-2 business days.

General Support / Technical Issues
su

[2019-03-02 02:23] renatobecker commented on #4898
Hi @EdwinFdoGarcia, you just need to check the collection inside your database.

[2019-03-02 03:47] igor-binaryanvil commented on #3582
+1

[2019-03-02 06:20] alirezamirsepassi commented on #12512
Same problem here. Lots of end points return http 400 error without any message!! Just `success: false`.

[2019-03-02 06:22] alirezamirsepassi commented on #12512
Maybe this is the solution:
https://rocket.chat/docs/administrator-guides/integrations/zapier/

[2019-03-02 06:26] geekgonecrazy commented on #7036
Snaps we are working to get updated to latest changes.  Once they are you should be able to

https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#snaps See bottom to FAQ questions.

Can set either PORT=ip:port. Or via environment variables use BIND_IP=iptobind

We will investigate setting bind_ip via the config also

[2019-03-02 06:48] geekgonecrazy commented on #12496
Please comment if this issue reoccurs.  Closing

[2019-03-02 06:48] #12496 closed

[2019-03-02 06:58] geekgonecrazy commented on #11356
We take PRs!  :) it definitely could be as easy as that.

[2019-03-02 07:01] geekgonecrazy commented on #12693
Is anyone still getting this?   If so if you open a new incognito tab.. does the issue persist?   Are you able to login from that new tab?

[2019-03-02 09:25] edumarket commented on #13380
@ggazzo would you be so kind as to share your rocket.chat setup for this test?

[2019-03-02 10:35] knrt10 commented on #13187
Fixing this. On it

[2019-03-02 12:22] Col1n04 opened #13600 "Desktop notificatrions not working"
Hello, I am experienceing an issue where I dont get a Notification for my desktop Client (Windows 10) when a Message is being sent. The test messages are working and I did hear a sound when I first joined the RocketChat server but now it doesnt work.

### Steps to reproduce:

1. Enable Notifications for all Messages in the User settings
2. Enable Notifications  for all Messages in the Channel sett

[2019-03-02 12:27] knrt10 commented on #13600
@Col1n04 please provide fill all the relevant information, otherwise, the issue would be closed. Cheers 👍

[2019-03-02 12:33] Col1n04 commented on #13600
Yeah sorry.. First time using GitHub i acidentally posted it but here you go!

[2019-03-02 13:22] knrt10 commented on #9880
@RichardFoxworthy I think this issue is fixed in `1.0.0-develop`. Try checking it. Cheers 👍

[2019-03-02 13:33] knrt10 commented on #12321
On it, will try to fix this.

[2019-03-02 14:20] bkraul commented on #13543
@geekgonecrazy So, from what I understand from your message is that if we want to continue to use push notifications we have to register to rocket.chat cloud? Are you guys going to start charging for use of the push notification gateway? Also, how do I register if I no longer have the registration email? Can't seem to be able to do so. The interface does not have a way to have the email re-sent.

[2019-03-02 15:23] fliptrail commented on #13556
I guess there should be a text under directory button permanently to make it clear. It is confusing for a new user currently.

[2019-03-02 16:40] #8974 closed

[2019-03-02 19:39] bazzilio opened #13602 "Memory leak"
### Description:

I see memory leak on the latest rocket chat  version 0.74.3
How can i debug the root cause of the issue ?

### Expected behavior:

No memory leak :)

### Actual behavior:
![image](https://user-images.githubusercontent.com/13622424/53686630-b4aaca00-3d3a-11e9-8eb3-55b1f08a5c49.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.3
- Operating System: Ubuntu 1

[2019-03-02 20:11] #13441 closed

[2019-03-02 20:23] #13427 closed

[2019-03-02 20:53] #13055 closed

[2019-03-02 20:56] #11924 closed

[2019-03-02 20:57] #13296 closed

[2019-03-02 21:30] fliptrail opened #13603 "User is unable to enter multiple emojis by clicking on the emoji icon"
### Description:

The user is not able to add multiple emojis by clicking on the emoji icon. This is caused due to the absence of space between two inserted emojis.

### Steps to reproduce:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/40834245/53687837-c0f54e00-3d5f-11e9-9c9a-b5cee7feb591.gif)

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0-develop
-

[2019-03-02 23:12] tassoevan commented on #13602
The `Exception in onLogin callback: TypeError: Cannot redefine property: loginAt` was solved by #13553, but I'm not sure it is connected somehow.

[2019-03-02 23:46] wreiske commented on #13577
You can use the search in the upper left hand of GitHub to find the files associated with terms of service:
https://github.com/RocketChat/Rocket.Chat/search?q=terms+of+service&unscoped_q=terms+of+service

That search shows a router layout here:
https://github.com/RocketChat/Rocket.Chat/blob/fd47795f753701cb6f82cb7663baadfd82ced8fc/client/routes/router.js#L110

After further searching, that is a cm

[2019-03-03 00:09] bazzilio commented on #13602
Thank you, for quick answer, i'll try update to the master branch and return later.

[2019-03-03 03:20] Skosche3 commented on #13480
We have a workaround in place now to restore code but hope to help get something that works for everyone submitted here.

[2019-03-03 09:55] rterwedo commented on #7057
@marbetschar How much do you think would be needed in the bounty to push this forward?  I am working on getting a small prototyping budget approve and would like to add this to the list.

[2019-03-03 11:06] knrt10 commented on #13603
This is surely a fix.

[2019-03-03 11:18] knrt10 commented on #13149
On it, will try to fix this.

[2019-03-03 12:29] codekhal commented on #13577
@wreiske very well explained! Thanks, you cleared some of my doubts too :)

[2019-03-03 13:23] knrt10 commented on #8989
On it, will try to fix this.

[2019-03-03 14:37] marbetschar commented on #7057
@rterwedo unfortunately RocketChat and Smooch are no longer part of my stack. So this issue does no longer serve a priority on my end.

Can't tell what would be an appropriate bounty for this either - the higher the bounty, the higher the chance it actually gets done. So I think it all comes down to a "how much is it worth for you" question.

[2019-03-03 15:14] knrt10 commented on #13061
On it, will try to fix this.

[2019-03-03 15:39] knrt10 opened #13606 "Image Markdown for same URL but different message will edit old message"
### Description:

When you try to send  message as an image markdown for example `![Disambiguation](https://en.wikipedia.org/wiki/Disambiguation_(disambiguation)) this is test 1`, this will be sent but image won't be shown. There are 2 errors occuring. When you enter new message in channel or DM , old message with same link are getting updated and image is not shown on first time, even after reloa

[2019-03-03 16:01] fliptrail opened #13607 "Emoji entered from web app is not rendered on mobile app correctly"
### Description:

If I type an emoji in the web app and try to view to view the chat thread without opening it, then the emoji is not rendered. Instead, it is shown as plain text.

### Steps to reproduce:

1. Type an emoji in any thread on the web app
2. View the thread in the Android app

### Expected behaviour:

The emoji should be rendered correctly.

### Actual behaviour:

![whatsapp image 201

[2019-03-03 16:51] rasos commented on #10843
I can confirm mysterious encoding behaviour in RC 0.73.1

Umlauts are also not shown correctly.

[2019-03-03 17:11] MathiasRenner opened #13608 "Mobile push notifications not working: There are not tokens for this user"
### Description:

Push notifications are not working. Testing the feature in the admin section results in an error message: "There are not tokens for this user"

I checked issue https://github.com/RocketChat/Rocket.Chat/issues/10142 but were not successful applying the hints given there.

### Steps to reproduce:

1. Enable push notifications for mobile in settings
1. Press Button "send a test push

[2019-03-03 19:36] Gaurav-Punjabi commented on #13577
I am working on this issue @wreiske

[2019-03-04 03:07] NateScarlet opened #13610 "Lingohub translation has been override by old result"
### Description:

Lingohub translation not got respected.

### Steps to reproduce:

1. Take hours to translate on lingohub
2. Some day @engelgabriel override the result
3. Have to revert translation history on 300+ items

### Expected behavior:

New translation result will not been override again

### Actual behavior:

![image](https://user-images.githubusercontent.com/21083014/53708149-fdfb3680-3

[2019-03-04 06:29] alirezamirsepassi commented on #12512
Any updates?

[2019-03-04 07:37] dscheffer commented on #13533
I understand that that the upload date is set automatically by the UploadFS dependency. So it is probably necessary to adjust the date after the import process. I wrote a mongo script to workaround this issue:

[code]
This goes through all the messages and sets the uploadedAt field to the message timestamp. You might as well do this as a post-import action as HipChat attachments are implicitly dat

[2019-03-04 08:22] jankogaga commented on #12693
Hi geekgonecrazy,

I am able to log in from an incognito tab. However, freezing doesn't persist just on one session, but for all logged users.

[2019-03-04 09:09] fabien4455 commented on #10714
Same problem here on 0.73.1 is it fixed ?

@maurice-does-software Is your code fix the problem ? If yes how can I put that in production to avoid memory leak ?

[2019-03-04 10:21] rBengi commented on #13276
Same issue here

[2019-03-04 10:23] Col1n04 commented on #13600
Okay so I updated mongodb to 3.4 and this fixed the problem.

[2019-03-04 10:23] #13600 closed

[2019-03-04 12:20] #5130 closed

[2019-03-04 12:37] svrnwnsch opened #13611 "Code validation error for Integration script is permanent"
### Description:

If you try to save a webhook script which has a SyntaxError this error will be shown to user.
![grafik](https://user-images.githubusercontent.com/1852828/53733852-90f29b80-3e82-11e9-83f6-1bdf628fa442.png)

If he updates the script and fixes the error and saves the now correct script. The error message still persists:
![grafik](https://user-images.githubusercontent.com/1852828/537

[2019-03-04 12:51] svrnwnsch commented on #13611
This could be related to #2504

[2019-03-04 13:26] Elfanar commented on #2895
I have changed everything, I have disabled dns and domain check, disabled blacklist, took all measures without success to solve this problem !

[2019-03-04 13:57] Sing-Li commented on #7057
@marbetschar   Thanks for your valuable input.  If you don't mind me asking, what has replaced Rocket.Chat on your stack?    🤔

[2019-03-04 14:07] #13187 closed

[2019-03-04 14:10] #13371 closed

[2019-03-04 15:09] kajisaap commented on #10539
@pcm211 Vivek / @nkeilar Nathan, what is the version of Rocket.chat?

We may have been the victim of the same. Can you guys also confirm if upgrading the system to recent version ie. 0.71.0/0.72.0 solved it?

[2019-03-04 15:13] wreiske commented on #13607
Issues with the Android mobile app should be reported to  https://github.com/RocketChat/Rocket.Chat.Android/issues

[2019-03-04 16:30] goobersmooch commented on #13426
We're experiencing this as well.

[2019-03-04 17:32] Armadill0 commented on #9477
Still an issue with:
Version: 0.74.3
Node Version: v8.11.4

[2019-03-04 18:25] fliptrail commented on #13607
I am so sorry for this, will update on the android repo

[2019-03-04 18:25] #13607 closed

[2019-03-04 19:53] jervis446 commented on #13459
hey @renatobecker this is issue is not assigned to anyone .... can I work on this?

[2019-03-04 22:11] sarrala commented on #2153
@marceloschmidt would it be possible to consider reopening this issue and maybe even taking a second look at it. Maybe this could be resolved through separate configuration option?

Even if this actually is "_the intended behaviour of editing messages_" maybe you could still make it optional so that editing older messages could only be done through context menu.

Personally I would also like to be

[2019-03-04 23:46] ura14h commented on #13610
#13087 is same issue about synchronization with LingHub.

[2019-03-05 02:21] tassoevan commented on #13610
Weird that LingoHub has no activity logged at Feb 5, nor Feb 4. I guess synchronizations don't have logs and this is an issue on configuration. /cc @sampaiodiego

[2019-03-05 06:04] maxdwit commented on #9174
@joshuaspence @geekgonecrazy Interesting. This still happens with the most current version.
I had to disable uploading for the moment.

[2019-03-05 06:53] naiaokami commented on #11675
Yes; this is an issue.

[2019-03-05 07:34] pafik13 commented on #13542
Hi.
I have same problem. I found _konecty:user-presence_ in _rocketchat-livechat_ and it has 2.3.0 version.
It has 2.3.0 version in _.meteor\versions_ and __meteor run__ still doesn't work.

[2019-03-05 07:49] harimani83 commented on #13542
Hi,
  I got mail from rockchat team they're made some change in that so wait
for some time once they commit the code our error ill be fix
..

On Tue, Mar 5, 2019, 1:04 PM pafik13 <notifications@github.com> wrote:

[2019-03-05 08:16] knrt10 commented on #13103
@pombaer as you can on [line77](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-integrations/server/methods/incoming/addIncomingIntegration.js#L77), you have to set both `manage-own-integrations` and `manage-integrations`. Once you do that your user will be able to add webhook on his/her own username or any other. Please do give a try. If it works, feel free to close thi

[2019-03-05 08:18] knrt10 commented on #13061
@himpierre I think this issue is fixed in latest release `1.0.0-develop`. Give it a try. If your issue is similar to #13103 then as you can on [line77](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-integrations/server/methods/incoming/addIncomingIntegration.js#L77), you have to set both `manage-own-integrations` and `manage-integrations`. Once you do that your user wil

[2019-03-05 09:09] knrt10 commented on #4773
@ulope this is fixed in latest in latest version `1.0.0-develop`. Now you get the message `Service Unavailable`. Please check, and if fixed feel free to close this issue.

[2019-03-05 09:36] himpierre commented on #13061
@knrt10 Thanks. I give it a shot as soon as 1.0.0-rc0 arrives.

[2019-03-05 10:06] YankinVV opened #13613 "'Undefined' title in push notifications of direct messages."
### Description:
The title of direct message push notification is 'undefined'.

### Steps to reproduce:

1. Send direct message to user.
2. User receives push notification with title 'undefined'

In push notifications settings there is a 'Show Channel/Group/Username in Notification' turned on.
Gateway is enabled and its url is https://gateway.rocket.chat

### Expected behavior:
I guess, there must

[2019-03-05 10:41] naiaokami commented on #13063
We need the ability to ban users from channels. A lot of people (myself included) are using Rocket.Chat as a public service.

[2019-03-05 10:42] naiaokami commented on #13063
#10932

[2019-03-05 10:44] naiaokami commented on #13063
@vynmera #10932 #10963

This is something I feel a lot would want. We are using Rocket.Chat as a "private instance" of something like Discord for a public community.

[2019-03-05 10:55] knrt10 opened #13614 "[NEW] Add pause and reset button when adding custom sound"
### Description:

When we add a custom sound we just have a play button. We should have a feature to pause that sound.

### Steps to reproduce:

1. Click `Administration/Custom Sounds`
2. On right bar click on `+` sign and add a custom sound
3. Add relevant info

### Expected behavior:

We should have the functionality to pause the sound and reset the sound

![Working example](https://user-images.

[2019-03-05 12:23] mredbishop opened #13616 "Using the Snap installed version the login page doesn't appear"
### Description:
I installed the server using Snap. I then configured it from Chrome. It is working fine in this Chrome instance. It doesn't render the login page in any other browser on any other machine I've tested so far:

### Steps to reproduce:

1. Install on Ubuntu 18.04
2. Load in Chrome and configure the Admin user etc.
3. Open the site on another machine or browser or even an incognito wi

[2019-03-05 12:42] knrt10 commented on #13616
@mredbishop can you please provide a screenshot?

[2019-03-05 12:53] mredbishop commented on #13616
This was caused by having the iFrame enabled with nothing in the URL. Whilst I totally appreciate that this is my fault, it would also be good if it didn't let you save that setting without filling in the details that are required.

![image](https://user-images.githubusercontent.com/1096293/53805284-a1b61680-3f41-11e9-8100-9b2779e3d305.png)

[2019-03-05 15:09] zvs001 opened #13617 "System messages about deleted user"
### Description:

When we delete user, system messages like `someone has joined room`  are still in room, but user is not available anymore.

### Steps to reproduce:

1) create user
2) join room
3) delete user

### Expected behavior:

I expect all this system staff should be deleted together with messages by this user.

### Server Setup Information:

- Version of Rocket.Chat Server: 0.70.4

[2019-03-05 18:59] paulstephan commented on #13461
Well, this is not only a performance issue, because the service completely hangs after a while..

[2019-03-05 21:24] chirospasm commented on #13339
Tested this on localhost server -- this unfortunately does not resolve the issue.

[2019-03-05 23:05] loymascarenhas opened #13620 "Android Push Notification: Exception in onLogin callback: TypeError: Cannot redefine property: loginAt"
### Description:

Push Notification: Log shows as sent but after few seconds FCM returns a MismatchedSenderId error.
I have already verified  the FCM API key and FCM Sender ID.

### Steps to reproduce:

1. Configure Administration -> Push settings
![untitled](https://user-images.githubusercontent.com/29827547/53834607-793a1680-3f59-11e9-9da1-57a649260cd3.png)

2. Configure GCM API key and GCM proj

[2019-03-06 10:00] 1100101 commented on #8989
Regarding brackets within a Markdown URL definition, e.g.:
`[Project - Error #1234: Subject [test]](https://redmine.example.com/issues/1234)`
Manual escaping of the verbatim brackets by the user should not be necessary.
Instead, RocketChat's Markdown implementation should figure this out automatically.

The above URL should become:
[Project - Error #1234: Subject [test]](https://redmine.example.co

[2019-03-06 10:22] 99991 opened #13621 "SVG with several XLink references makes browser unresponsive"
### Description:

Posting this link makes the chat unresponsive:

https://happy-stallman-6c63b7.netlify.com/bug.svg

### Steps to reproduce:

1. Post this link: https://happy-stallman-6c63b7.netlify.com/bug.svg

### Expected behavior:

The chat should not become unresponsive.

### Actual behavior:

The chat becomes unresponsive.

### Server Setup Information:

Every possible setup.

### Additional

[2019-03-06 11:21] knrt10 commented on #13621
@99991 would you please specify this issue with the issue template, otherwise, this will be closed. Thanks 👍

[2019-03-06 12:06] 99991 commented on #13621
No problem! I deleted the part where I suggest a possible fix because there was no applicable point in the template.

[2019-03-06 12:23] sampaiodiego commented on #13610
this is weird. I can see only the following imports on lingohub, but the date and time doesn't match with @NateScarlet history's (or maybe it's showing for different timezones, but still the minutes doesn't match):
![image](https://user-images.githubusercontent.com/8591547/53880439-bcdf5f80-3fef-11e9-82b8-7dfaa041b1c5.png)

looks like a bug on lingohub, since the [latest changes](https://github.co

[2019-03-06 13:02] sebudot commented on #12033
Hi @renatobecker the problem no longer appears in version(0.74.3) .

Thank you !

[2019-03-06 13:43] codekhal opened #13622 "[Improve] Fix layout of the image"
### Description:
The image of the different themes of Rocket chat needs proper margin and padding.

### Steps to reproduce:
Go to the main page of the Rocket Chat's website.

### Expected behavior:

![result2](https://user-images.githubusercontent.com/32578541/53885239-3b192180-4043-11e9-9e3d-88694c579ae6.png)

### Actual behavior:

![rocket chat](https://user-images.githubusercontent.com/32578541

[2019-03-06 13:44] 31337 commented on #13608
Same here - but only in a docker environment. Debian 9, native Rocket.Chat (= without docker): push works. Debian 9, Docker: push doesn't work. (Rocket.Chat 0.74.3)

[2019-03-06 14:14] #9900 closed

[2019-03-06 14:45] iesit commented on #9900
Does closing this issue mean it was resolved?  (Maybe I'm not familiar with how Github works?)

It appears to me that LDAP passwords are still being stored in Rocket's database, which many would argue should NOT be happening in an Enterprise team chat.

Thanks!

[2019-03-06 15:59] loymascarenhas commented on #13620
I solved this issue by using the Server Key instead of Legacy Server Key.

But I am still getting this error now
`[34mI20190306-15:52:06.100(0) ANDROID: Result of sender: {"multicast_id":8269478541425864000,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1551887526086644%7ec8bec80034af1a"}]}
[34mI20190306-15:52:32.240(0) Exception in onLogin callback: TypeError: Cannot rede

[2019-03-06 16:19] Hudell commented on #13339
@mredbishop since the code base for the importers are different, I'll ask you to open a separate issue for the slack importer so we can properly keep track of both problems.

@chirospasm can you enable debug level logs and try again, then share the logs here?

[2019-03-06 17:02] reetp commented on #13608
This may help you check the settings:

https://whimsical.co/Bngw3kot3wWPMAAJTebDUJ

[2019-03-06 17:04] Famku opened #13624 "Parser for incoming webhook from Ntopng"
Hi,

anyone who knows how to parse incoming webhook from Ntopng or already use a script?

I cant get it to work

I recieve this in my Rocket Chat log:

`{ alerts:     [ { severity: 'error',        alert_key: 'min_active_local_hosts',        entity_value: 'iface_6',        tstamp: 1551793980,        action: 'release',        message: 'Minute <b>local hosts</b> crossed by interface <a href=\'/lua/if

[2019-03-06 17:49] maitri3 commented on #1112
+1 for threads. I love the way slack does it, where it just pushes open aside panel on the right for a thread, and you can open/close from there. I joined the test enviro threads-new chat but I couldn't respond to other user's threads even if I join, only to my own. Is that a setting?

[2019-03-06 18:57] fliptrail commented on #13577
Since it has been 3 days, I am making a PR on this

[2019-03-06 18:59] MarcosSpessatto commented on #13546
@winterstefan Your solution looks good! Unfortunately is the only way to send the token when the socket connects.

[2019-03-06 19:16] rasos commented on #13602
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/12880 ?

[2019-03-06 19:19] knrt10 opened #13627 "[IMPROVE] Block user button"
### Description:

This is UI/UX related bug. Block User button is a `microphone` right now, which should not be as far as I think. It would be better if we change the icon.

### Steps to reproduce:

1. Click on any user
2. Click on user info button on the top right with user icon on it.

### Expected behavior:

![Expected](https://user-images.githubusercontent.com/24803604/53907192-ac23fd80-4072-1

[2019-03-06 20:21] chirospasm opened #13628 "Slack import fails with generic error in Docker (both latest and developer images) of Rocket.chat"
### Description:

Slack import fail unexpectedly in both Docker developer version and Docker latest version with generic error message displayed in chat client letting user know import has failed, but no console error in browser and no active error response from server (only an import.js error on server start in both Docker developer and latest, not on Slack import attempt).

### Steps to reproduc

[2019-03-06 20:54] nemonik commented on #9339
+1

[2019-03-06 22:40] chirospasm commented on #13351
@Tomasvrba

I use nginx as a reverse proxy and was able to resolve this issue by making sure that I included

under the _http {_ section of the ngxin.conf file. It cannot be set to any strict amount, even high amounts in the GBs. Setting it to 0 tells http connections to have no limit, which ensure this error doesn't pop up.

[2019-03-06 22:54] bhardwajaditya commented on #13627
May I do this?

[2019-03-06 23:15] geekgonecrazy commented on #13543
This forum post might be best way to continue regarding push notifications: https://forums.rocket.chat/t/push-notification-gateway-pricing/3044

For the register email we are going to add the ability to request it again and a few other things.  But currently will have to shoot an email to support@rocket.chat or shoot me an email [myfirst.lastname]@rocket.chat or aaron.ogle on open.rocket.chat

[2019-03-06 23:17] naiaokami commented on #10932
We need a ban for channel owners to use against users.

[2019-03-06 23:34] chirospasm commented on #13339
@Hudell , thanks -- I have opened this as a separate issue for Slack import today elsewhere, since I realized this related to Hipchat, and included logs there (#13628). Appreciate it!

[2019-03-07 03:07] knrt10 commented on #13627
@bharadwajaditya sorry, I already have commited, just need to push. Thanks again

[2019-03-07 04:03] ggazzo commented on #11015
@OmegaPrimeZ3 did you try update to the last version? @DiederikvandenB do you know what version of rocket chat you are running?

[2019-03-07 04:09] ggazzo commented on #13490
@bosna387 I'm not a bosnian speaker, if you are sure, please open a PR "cloning" the dictionary. thanks :)

[2019-03-07 05:50] fliptrail commented on #13621
Why can't I load the svg normally?

[2019-03-07 05:52] fliptrail commented on #13581
I would try this today

[2019-03-07 05:54] fliptrail commented on #13557
I would see to it todat

[2019-03-07 06:12] fliptrail commented on #13555
This is not an issue. Can be closed.

[2019-03-07 06:14] fliptrail commented on #13490
Will try this today

[2019-03-07 06:21] fliptrail commented on #13198
I guess this was more of a temporary build issue. Try once more please

[2019-03-07 06:23] fliptrail commented on #13175
I guess this is mostly just personal preference, but I will try to add a switcher between these two, so that user can choose what he prefers

[2019-03-07 07:44] bazzilio commented on #13602
In #12880 says, that Leak rate seems to correlate with message volume"
In my case i don't see any correlation.

[2019-03-07 07:45] Antairez commented on #4780
@reetp Thanks my friend, how do I find a list of environment variables for changing proxy servers?

[2019-03-07 08:15] winterstefan commented on #13546
Okay, thank you very much for your help!

_For me, the case is solved -> closing issue_

[2019-03-07 08:15] #13546 closed

[2019-03-07 08:25] 99991 commented on #13621
It takes a few hours to load.

[2019-03-07 09:52] luismachado opened #13631 "lastMessage incorrectly set as 'unread' when fetching room list"
Hello,

So I'm working on the iOS version and I'm trying to implement read marks on the subscription list (to extend the already existing functionally inside the rooms) but I'm facing some weird behaviour from the API (so this might not be an issue with the app but with the server so I'm sorry if that's the case).

What happens is that when calling `https://localhost:3000/api/v1/rooms.get?updatedS

[2019-03-07 10:55] leoking-crey commented on #13617
Hi
Could you provide more information about the same?

[2019-03-07 10:55] leoking-crey commented on #13617
I am willing to take up this issue

[2019-03-07 11:18] zvs001 commented on #13617
Step 1:
- create user
- invite him to `groups`
- write few messages

Result:
![screenshot_20190307-130926](https://user-images.githubusercontent.com/25595191/53953018-0062c800-40db-11e9-9755-65c94ca81dd8.png)

Step 2:
- admin do delete user with rest api: `users.delete`

Result:
![screenshot_20190307-131007](https://user-images.githubusercontent.com/25595191/53952992-f214ac00-40da-11e9-9a0c-d1e9fa

[2019-03-07 12:30] sampaiodiego commented on #1112
thanks @maitri3 .. it was a bug.. I've fixed already, but haven't updated the teste server.

[2019-03-07 13:17] bhardwajaditya commented on #13627
You changed the logo in the for loop which will change for all the actions. I corrected that by changing only for block user.

[2019-03-07 13:47] knrt10 commented on #13627
@bhardwajaditya Thanks, you are right. But please remember this, when a PR is opened on an issue, you should not open a PR yourself. You would have suggested changes to the old PR. Hope this will help you in the long run. Cheers 👍

[2019-03-07 13:52] bhardwajaditya commented on #13581
I will solve this by today

[2019-03-07 13:53] bhardwajaditya commented on #13627
Sorry, I am new to open source contributions. Will keep this in mind in future. Thanks for your help.

[2019-03-07 15:04] secretoB commented on #12783
Has anyone addressed this issue or have a workaround?

[2019-03-07 15:50] fliptrail commented on #13581
@granttoday It is opening in a new tab only. Try to update your RocketChat server. If someone else too agrees with I am saying then I guess this issue can be closed.

[2019-03-07 16:00] iesit opened #13633 "LDAP Base DN Multiple Subtree non-functional for > 2"
### Description:

The Base DN search pattern of ou=Users+ou=Projects,dc=Example,dc=com functions, but ou=More Users+ou=Users+ou=Projects,dc=Example,dc=com does not.

### Steps to reproduce:

1. Administration -> LDAP -> Base DN
2. Set to ou=Users+ou=Projects,dc=Example,dc=com and then "Execute Synchronization Now"
3. Check server log and see that users imported reports (users in Users OU & Project

[2019-03-07 16:40] bhardwajaditya commented on #13581
@fliptrail it's an issue. I have fixed it will make a pull request in few minutes. Try clicking on the song link inside the embed.

[2019-03-07 17:36] fliptrail commented on #13581
Ok then, go forward with it. I still can't see it though.

[2019-03-07 17:52] marceloschmidt commented on #11345
Has anyone confirmed this? On a Mac it works. @losclipp what OS are you on? Using desktop app or browser, and if browser, which one, and version, please?

[2019-03-07 19:14] brunoalano commented on #11344
Some news?

[2019-03-07 19:29] fliptrail commented on #13490
@ggazzo Please review this PR. I did some basic research. Both are languages are similar excluding some regional differences. So, the same translation can be used for both.

[2019-03-07 20:42] FaizanZahid commented on #13616
@mredbishop  awesome, fixed issue for us too.

[2019-03-07 20:46] fais3000 commented on #13616
@mredbishop @knrt10  However, Iframes don't work now. Keeps loading. Works without iframe though

[2019-03-07 21:54] mushroomgenie opened #13638 "[UI/UX] Elements in User Info require some padding"
### Steps to reproduce:

1. Click on user icon
2. Username and Status need some padding at the top

### Expected behavior:

![before_padding](https://user-images.githubusercontent.com/24211855/53992230-53c42d00-4152-11e9-8089-ca5f08251f79.png)

### Actual behavior:

![after_padding](https://user-images.githubusercontent.com/24211855/53992242-5c1c6800-4152-11e9-8df2-85edb0326660.png)

### Server Se

[2019-03-07 22:37] iesit commented on #8373
This does not appear to be functioning any more.  Please try testing on latest builds and you will find that !(userAccountControl:1.2.840.113556.1.4.803:=2)  does not function.

[2019-03-08 00:31] matthewbassett opened #13639 "Unread counter in channels cannot be overridden by user"
### Description:

When notifications in channels is set to All Messages for channels and groups in admin, users cannot change a specific channel back to "Hide Counter" on an individual basis. The Mute all notifications switch works as expected and users can override the global admin setting. For our org many users complained that they were not getting notifications, so we opted with the strategy o

[2019-03-08 03:31] #13490 closed

[2019-03-08 04:15] ggazzo commented on #1112
closed by #13541 :)

[2019-03-08 05:10] granttoday commented on #9777
Same behavior on `0.74.3`

[2019-03-08 05:34] tassoevan commented on #11345
Don't forget to check the preference at `My Account > Preferences > Enter key Behaviour`.

[2019-03-08 06:00] geekgonecrazy commented on #13528
Are you using oplog?  Messages are seen from db via oplog tailing.  So if not using oplog each instance polls db for messages

[2019-03-08 06:52] Gummikavalier commented on #8373
@iesit Our current working LDAP filter is:

`(|(&(memberof=CN=all_users,OU=exampleou,DC=example,DC=com)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))(|(CN=extraaccount1)(CN=extraaccount2)(CN=extraaccount3)(CN=extraaccount4)(CN=extraaccount5)))`

This still works with the latest stable version (0.74.3) at least.

(Extra accounts are for those that do not belong to all_users group.)

[2019-03-08 07:06] fifou17 commented on #6740
i will try to work on it

[2019-03-08 08:03] fliptrail opened #13642 "Terms of Conditions and Privacy Policy page is not scroll-able on mobile devices"
### Description:

The terms and conditions and Privacy Policy page is not scrollable on mobile devices.

### Steps to reproduce:

1. Open the page on a mobile browser.
2. Try to scroll the content.

### Expected behavior:

The page should scroll down

### Actual behavior:

The page does not scroll down.

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0.0 - develop
- Operating Sy

[2019-03-08 09:14] ChrissW-R1 commented on #533
You're right. It is not a bug. But e.g. in our environment this tool is the only one which uses it's own database. So we couldn't migrated it in our backup routines or load balancers. So for installations with more than 600 users it makes sense to integrate it in the existing infrastructure.

[2019-03-08 09:35] menturion commented on #533
+1 for Postgres.

[2019-03-08 09:54] hirschnase opened #13643 "Rocket.chat App for Windows and Mac - Jitsi Integration is broken"
When I start a Jitsi Meeting in the newest Windows or Mac Rocket.chat App, I am not able to go "fullscreen" since the latest update of the app. When I click "fullscreen", nothing happens. This prevents me from accessing the audio settings, since the windows is so small, that the settings can not be seen. Since I can not access the audio settings, Jitsi im completely useless for me, because I can n

[2019-03-08 10:04] zdumitru commented on #6833
Now that Threads functionality has been released, Slack threaded messages should probably be imported as RC threads as well.

[2019-03-08 13:46] sampaiodiego commented on #6740
thanks @fifou17 .. but unfortunately current emojione versions doesn't allow embedding on open source projects.

if you want to take a look, we're considering adding https://github.com/twitter/twemoji as a replace for emojione

[2019-03-08 13:48] iesit commented on #8373
Thanks!  I'll continue testing.  Out of curiosity, are you using Microsoft Active Directory?  What is your domain functional level?

Thank you!

[2019-03-08 14:04] ggazzo opened #13644 "Discussions - next steps and minor issues"
Following #13541, we've addressed some issues and defined how the new feature must improve:

### Bugs

- [x] Data to create discussions on direct messages is incomplete (#13646)
- [x] Cannot select more users to invite on "Create a new discussion" modal (#13646)

### Open for discussion

- [ ] Mentioning discussions?
- [ ] Nested discussions?
- [ ] Slash commands for discussion creation/handling?

[2019-03-08 14:53] geekgonecrazy opened #13645 "UI for Mandatory 2FA broke"
### Description:

![image](https://user-images.githubusercontent.com/51996/54034584-da8dff80-417c-11e9-9990-3375475ad5cf.png)

### Steps to reproduce:

1. Force 2FA
2. Login with a user on web that doesn't have 2FA
3. Cringe

### Server Setup Information:

- Version of Rocket.Chat Server: 1.0 - beta 0

### Additional context

### Relevant logs:

[2019-03-08 14:55] Alwandy commented on #9632
As some has mentioned, we're also currently evaluating to use rocket.chat but what hinders us is this functionality! We also do not want to use external apps / third party services to enable this feature, we really would like to use it if it's part of the core as we're self-hosting again for confidential reasons.

[2019-03-08 15:28] sampaiodiego opened #13647 "Could not add federated user with existing email address"
I cannot add an user from another server if that user has the same e-mail address of another user in my local server.

[2019-03-08 15:55] MathiasRenner commented on #13608
@31337 Intersting, I really wonder if Docker might be an issue. Have no clue so far. This is the Docker-compose file I use:
https://github.com/bitleaf/simple-traefik-proxy-and-services/blob/master/backend-rocket.chat/docker-compose.yml

@reetp Thanks! Checked, all OK in my config. Still no notifs.

[2019-03-08 15:58] hemna opened #13648 "No installer for openSUSE"
There is no install for the rocketchat+ desktop client for openSUSE.

[2019-03-08 16:49] fosBHY opened #13649 "total crash after attempt of adding webdav (localhost)"
### Description:

I have nextcloud and rocketchat on the same server.
I enabled webdav integration in rocketchat.
I added nextcloud via https://cloud.example.com/blabla link -> worked fine
I thought I'd try again with https://localhost/blabla link -> rocketchat crashed completely (and sadly I can't ssh into it right now)

### Steps to reproduce:

1. enable webdav integration
2. add https://localho

[2019-03-08 17:42] bhardwajaditya commented on #13644
May I work on this?

[2019-03-08 18:09] fliptrail commented on #13645
I am working on it.

[2019-03-08 18:20] tassoevan commented on #13648
Am I wrong or openSUSE doesn't install RPM packages?

[2019-03-08 18:48] tassoevan commented on #13621
Welp, I don't see any workaround for arbitrary SVG rendering other than disabling any SVG image preview.

[2019-03-08 19:51] rsmartins78 commented on #8896
Up

[2019-03-08 20:28] #8896 closed

[2019-03-08 21:09] fliptrail commented on #13645
![Screenshot from 2019-03-09 02-38-02](https://user-images.githubusercontent.com/40834245/54055934-8a627c00-4214-11e9-920e-9fe80e3b64d7.png)
![Screenshot from 2019-03-09 02-38-50](https://user-images.githubusercontent.com/40834245/54055935-8a627c00-4214-11e9-86a4-99f967d7f09b.png)
This error arises because these two pages use the same CSS styling

[2019-03-08 21:32] avsingh999 opened #13652 "Dark theme for Rocket.chat"
I didn't find any theme setting in rocket chat to change a theme color. I think the feature must be added for a better User Interface.
thanks : )

[2019-03-08 21:52] fliptrail commented on #13652
This is already in GSoC Idea list this year. Plus this is already a planned feature. This issue can be closed.

PS: **DO** follow the Issue/ PR template.

[2019-03-08 22:05] #13652 closed

[2019-03-08 22:49] chirospasm commented on #13438
Do you mean you re0added the bot to the Slack channel, or you re-added the channel to RC server, @GRX. I'm having difficulty with this, similar issue (one channel).

[2019-03-09 02:58] avsingh999 commented on #13652
@fliptrail oh great sorry I didn't see.
Thanks :)

[2019-03-09 03:40] mnlbox commented on #533
Guys you can use nice realtime graphql on postgres with https://hasura.io and zero setup with just 15 mb docker image. It's an awesome tools and have a good mix with react.
Why you still use Meteor and Mongo?
It's 2019.

[2019-03-09 08:20] himpierre commented on #13649
Happend to me too. https://github.com/RocketChat/Rocket.Chat/issues/13191

[2019-03-09 09:43] avsingh999 commented on #13652
@fliptrail  But I see this for Android app. I was thinking about online rocketchat https://open.rocket.chat/home means we open rocketchat in a browser, there is no option for change theme.
thanks : )

[2019-03-09 09:44] avsingh999 commented on #13652
@tassoevan  @fliptrail @Sing-Li  please correct me If I am wrong.

[2019-03-09 10:25] fliptrail commented on #13652
Let @tassoevan and @Sing-Li sir decide

[2019-03-09 10:46] fliptrail commented on #13346
I am seeing to this right now

[2019-03-09 11:06] fliptrail commented on #13346
This isn't happening with me. Works correctly as expected

[2019-03-09 11:09] fliptrail commented on #13346
@knrt10 see this.

[2019-03-09 11:20] fliptrail commented on #13644
I am assuming that by limiting `name` field you meant, name of "thread". I am working on this, cause currently you can create a thread with a real long name like \:

![Screenshot from 2019-03-09 16-44-07](https://user-images.githubusercontent.com/40834245/54070836-49f21500-428b-11e9-8023-a2e9d08b50ad.png)

[2019-03-09 11:30] knrt10 commented on #13346
@eltian try to update to latest version and check if the problem still persists. If not, feel free to close this issue.

[2019-03-09 12:08] lorek123 opened #13654 "[FEATURE] Consider using SaltyRTC for Video Conferencing"
As in current state WebRTC doesn't provide end to end encryption, to provide this feature for all types of communication it's reasonable to check other alternatives. One is https://saltyrtc.org/ from their website:

[code]

There is one public implementation of it in https://threema.ch/en/threema-web, so if someone would like to work on it there is source code and all.

[2019-03-09 12:16] Kailash0311 commented on #13603
any updates on this? I would like to take this up

[2019-03-09 12:26] Kailash0311 commented on #13603
Also, worth mentioning, this doesn't happen when you manually add emoji using a colon (`:`).
That is, a space is added after you add a emoji icon that way.

[2019-03-09 12:31] fliptrail commented on #13603
@Kailash0311 To be honest, I was not able to fix this issue out. You can take this up if you want.
I guessed that `space` would be the easiest method.

[2019-03-09 12:39] 99991 commented on #13621
Here are a few solutions:

1. Try to convert the SVG to PNG and if that takes longer than some arbitrary duration, don't embed the image: `timeout 1s convert bug.svg test.png; echo $?` (Could use some SVG rendering library in a separate process instead of `convert` tool) - The easiest solution, but makes server vulnerable to denial-of-service if SVG uploads are not limited.
2. Parse the SVG and ca

[2019-03-09 13:26] knrt10 opened #13655 "[Bug] Cannot invite user to Discussions"
### Description:

When creating a new thread, not able to invite users either by clicking on the username of pressing enter.

### Steps to reproduce:

1. Go to left navbar and click on create a new thread
2. Enter relevant info
3. Try adding the username to invite Users section

### Expected behavior:

Add users to the thread.

### Actual behavior:

Modal closes and nothing happens

![2019-03-09 1

[2019-03-09 14:27] tassoevan commented on #13652
I need to fix some conflicts here on #11071, but is not going to be merged for next release yet.

[2019-03-09 14:35] tassoevan commented on #13621
@99991 Thanks, I was struggling to remember the attack name.

[2019-03-09 15:03] bhardwajaditya opened #13657 "[IMPROVE] Sidebar create new channel hover text"
### **Steps to reproduce:**

1. Hover on create new icon in sidebar.

### **Expected Behaviour**

![sidebar](https://user-images.githubusercontent.com/23612313/54073159-e0353380-42a9-11e9-974d-faf373ed845c.png)

### **Actual Behaviour**

![Screenshot from 2019-03-09 20-26-04](https://user-images.githubusercontent.com/23612313/54073168-ea573200-42a9-11e9-8dbb-f3048a046898.png)

### **Server Setup I

[2019-03-09 22:38] knrt10 commented on #13644
@ggazzo can you explain a little about the first point in improvement `Join without send a message`?

[2019-03-09 22:43] knrt10 commented on #12685
@itformusic the sound for default is fixed in the latest version. But I would try to fix the name of the sound.

[2019-03-09 23:33] itformusic commented on #12685
That seemed to have fixed the issue with the individual chats.

I'm not sure when this happened, but now I'm not able to select any custom sounds in the main user preferences.  It only shows the default chime.

[2019-03-10 05:07] adamonline45 commented on #2153
Intended behavior is to delete a multi-line edit when you want to cursor to
a higher line of that message?

Guess I can't argue with the product owner, but when I used this software
that was downright aggravating and certainly not a standard behavior for
any other messaging app...

On Mon, Mar 4, 2019, 2:12 PM Sampo Sarrala <notifications@github.com> wrote:

[2019-03-10 08:33] FredericaBernkastel commented on #13655
Here.
Call of the Array.filter function without arguments.
![Clipboard-212](https://user-images.githubusercontent.com/16236235/54082536-5fc21180-4341-11e9-8fa4-d9bf3dd29bdc.png)

[2019-03-10 18:46] knrt10 commented on #13061
@himpierre beta 1.0.0 is here, do try it. Thanks 👍

[2019-03-10 18:52] knrt10 commented on #8477
@Hudell are you still working on it? I would like to fix this.

[2019-03-11 01:48] roura356a commented on #9974
Our client are having the same issues. They don't see the private groups they are part of. No notification badge or anything. They can search, but when they are part of multiple groups gets annoying. For us is a big problem.

[2019-03-11 04:37] fifou17 commented on #6740
sure i will take a look @sampaiodiego

[2019-03-11 06:50] himpierre commented on #13061
Yeah, would love to. :-) But there seems to be no binary release at the moment.

cheers
t.

[2019-03-11 07:10] pwittke commented on #9632
Cutting a core feature that made many peoply move to RocketChat would be a mistake.

For many companies the sole reason of using such a system is to have it on a standalone basis with no external services connected due to privacy/security/confidentiality reasons.

And if the feature is planned to be removed I agree there should not be an option for it and the website should be updated.

But I gues

[2019-03-11 07:28] mrsimpson opened #13664 "Threading: close a thread"
## Motivation

Usually, a thread is being created to discuss something with a goal. Once this goal has been achieved, the thread is going to be deserted. Semantically, it's "done".

## Proposal

The same semantic already exists for a room: "Archived". Once a room is archived, it can still be read, but subscriptions are hidden (so that the side panel is getting cleaned up) and the room is write-pro

[2019-03-11 08:38] himpierre commented on #11933
Same problem here. LDAP Username foo-bar gets converted to foo.bar.

[2019-03-11 11:30] psybox56 opened #13665 "Can't add cyrillic username to room."
Hi.
Can't add cyrillic username to room.  I have LDAP sync on my RC server.
Some time ago, new user, in auth, have a LATIN username, example "Иванов Иван Иванович
@ IVANOV",
but after update, i have THIS.
After auth, new user have a next login/name @Иванов
In RC client, i can't find this  user, in search list, for add in custom channel.
In search list visible only LATIN login/name, example @ Sidor

[2019-03-11 11:41] juliomac opened #13666 "Building Docker fails due to missing file or directory .../.editorconfig"
I've got a forked Rocke.Chat running fine on OSX.

Trying to build a docker from it results:

    Step 13/21 : RUN meteor build --server-only --directory $BUNDLE_DIR
     ---> Running in a910ac56ac28
    WARNING: npm peer requirements (for juliancwirko:postcss) not installed:
     - postcss@7.0.6 installed, postcss@^6.0.22 needed
     - postcss-load-config@2.0.0 installed, postcss-load-config@^1.2

[2019-03-11 12:47] #13657 closed

[2019-03-11 13:48] marceloschmidt opened #13668 "When clicking on incoming livechat, message is blank"
When Livechat Routing (Administration -> Livechat -> Routing) is set to Guest Pool, and there is an incoming livechat and you click on it

![image](https://user-images.githubusercontent.com/1986378/54128552-19c18800-43eb-11e9-90f9-41964db9ae95.png)

The message is coming as blank:

![image](https://user-images.githubusercontent.com/1986378/54128580-28a83a80-43eb-11e9-81ff-9b8a929d1760.png)

[2019-03-11 14:36] renatobecker commented on #13668
I detected the reason for this issue, it's related to the JS SDK method that returns the new room requested on the new Livechat client.
I'm going to fix it and then I'll request to update the Sales server instance.

[2019-03-11 14:36] fliptrail commented on #12924
@wreiske Maybe he wanted to say to actually embed the tweet in the message

[2019-03-11 14:39] fliptrail commented on #12437
I am trying to work on this

[2019-03-11 14:40] eltian commented on #13346
Unfortunately, I can't update Rocket chat on my own. I'll wait until our IT team updates it and check if it works correctly. Thanks.

[2019-03-11 14:41] #13346 closed

[2019-03-11 15:11] MarcosSpessatto commented on #13631
@luismachado can you please paste here your result from these endpoints? To be more easy to find the bug. Thanks.

[2019-03-11 15:17] MarcosSpessatto commented on #13620
@loymascarenhas I think [this PR](https://github.com/RocketChat/Rocket.Chat/pull/13553) solved this issue.

[2019-03-11 15:29] engelgabriel commented on #12890
@theorenck @ggazzo @sampaiodiego can you take a look at this?

[2019-03-11 16:24] ggazzo commented on #9632
@discon-nected  we really want to move to apps... but it doesn't mean we gonna to abandon the features, it's how the framework/code structure works, our apps are our responsibility as the core code is. But on the other hand, if you don like some app/feature you could remove/install/develop a different app.

again its not true, your team its not so huge as you think. ok, its true we have tried to m

[2019-03-11 16:44] rlmccallu commented on #4684
+1

[2019-03-11 17:08] stefanandres opened #13671 "Support kubernetes mongodb-replicasets"
### Description:

As RocketChat System Administrator running RocketChat on kubernetes with your official [helm chart](https://github.com/helm/charts/tree/master/stable/rocketchat), I want to use a kubernetes mongodb replicatset instead of just having a single node.
Reasons:
 * scalability
 * high availability

### Steps to reproduce:

* Install mongodb-replicaset with offical [helm chart](https://

[2019-03-11 17:50] discon-nected commented on #9632
Then why can't I make audio calls?

[2019-03-11 17:53] MathiasGmeiner commented on #9632
https://github.com/RocketChat/Rocket.Chat/issues/9632#issuecomment-471613510
Thanks for the clarification!

[2019-03-11 18:15] ggazzo commented on #9632
there are no excuses fot that, actually, I just can say we had no time to make a proper fix... but believe me, I'm not happy with that, please await for the next weeks :x

[2019-03-11 18:19] diegolmello commented on #13644
I may be wrong, but isn't attachment fields just title/value/short?
With thread, this is the response:
[code]

[2019-03-11 18:33] discon-nected commented on #9632
That's great news. I will wait impatiently :D

[2019-03-11 18:52] rasos commented on #9632
@Shaverdoff you may try again the fairchat app, the 1.2.1 version has got fixed the server change bug. It seamlessly calls the Jitsi Meet app when you get an invitation to join a conference call.

[2019-03-11 19:20] sampaiodiego commented on #12890
unfortunately I did a look on this already but couldn't get it to work on the Docker image.

I'll give it a try this week again

[2019-03-11 19:34] Shaverdoff commented on #9632
in 12/1/4 iOS that fairchat forclose after try to enter server url and press connect. so...

[2019-03-11 19:45] geekgonecrazy opened #13673 "Pruning Messages orphans threads"
### Description:

If you use the use the prune message feature as is often done in #sandbox on open.rocket.chat.  All threads are orphaned with no way to access them.  But they are still around.

### Steps to reproduce:

1. Start a thread
2. Copy url of the thread
2. Prune messages in a range that includes the message that you started a thread from
3. look at threads list its empty.
4. paste threa

[2019-03-11 19:46] geekgonecrazy commented on #13644
related: https://github.com/RocketChat/Rocket.Chat/issues/13673

Idk if want to include in this list or not

[2019-03-11 19:55] sampaiodiego commented on #13673
there is an option on `Global Policy` for `Retention Policy` called `Do not exclude thread messages`..

Looks like the same option is missing from `Prune Message` tab bar.

[2019-03-11 20:06] sampaiodiego commented on #13644
@diegolmello threads introduced those new types of attachments, so they can be rendered specially.

[2019-03-11 20:07] MarcosSpessatto commented on #13547
@winterstefan We can add a little example in the docs.

[2019-03-11 20:40] geekgonecrazy commented on #12890
What is the preferred font here?  We will likely have to install them in docker and in snaps

[2019-03-11 21:51] port22 commented on #1112
surely you can't be serious?

why is this closed? Sure, now the answers are visibly correlating, but this implementation is still bloating the main conversation - what threads actually wanted to avoid.

Slack and Mattermost are doing it right. There's nothin but aside panel.

[2019-03-11 22:09] tassoevan commented on #12890
I just had an epiphany: since `sharp` is rasterizing a SVG to PNG, we can use SVG paths for font glyphs instead of rely on `<text>` tag and server-side fonts. I'll do PoC to see if it's viable, but I need a suggestion for a font with a compatible license.

[2019-03-11 22:12] ggazzo commented on #9632
@discon-nected please check #13675

[2019-03-11 22:27] vanceric commented on #1112
I have to agree that this implementation of threads does nothing to support my team's use cases.

Specific issues include:

- Inability to include the entire channel in the thread without adding members individually.
- Losing my spot in the current conversation when opening a thread.
- Difficulty in starting threads (should be as simple as "reply").
- Threads are polluted with "User has joined the

[2019-03-11 22:43] Shaverdoff commented on #1112
dont worry.
looks in release
![изображение](https://user-images.githubusercontent.com/43804710/54162870-90549900-4470-11e9-903b-2c9a2c0647ff.png)

[2019-03-11 23:34] discon-nected commented on #9632
Sweet. Thank you!

[2019-03-12 03:43] #13645 closed

[2019-03-12 04:05] #13627 closed

[2019-03-12 05:28] ThePigsMud commented on #12497
Just wondering, are there possibly any updates on this? I've noticed that direct uploads to the server don't seem to go at more than 3-4Mbps due to the way it seems to break the file up into chunks and send multiple POST requests. Could it possibly have the option to send it all in a single large POST request, speeding it up for faster connections?

Direct upload to S3 is also an option :)

[2019-03-12 05:41] Gummikavalier commented on #8373
@iesit Yes, we are using AD, functionality level is on Win 2008 R2. I don't expect problems with higher functionality levels, as to my knowledge AD components and functionality haven't changed much during the years, but we too will find out in the near future as the support for Win2008r2 ends in January 2020 and we have to upgrade.

[2019-03-12 05:44] ggazzo commented on #13673
should we promote/transform to private rooms if we remove the parent channel?

[2019-03-12 05:53] ggazzo commented on #6118
Sorry about the delay =/

You can change `Offline_Mention_All_Email` template... but I'm afraid you cant make a distinction between public and private channels =/... if you really need that, please open an issue asking for a special field to private and public rooms

[]s

Administration > Email > Subject > Mention All Email Subject

[code]

[2019-03-12 05:53] #6118 closed

[2019-03-12 06:00] Sonit90 commented on #10530
Are you going to update ubuntu snap with this fix? Audio recording doesn't work for latest Ubuntu snap build.

[2019-03-12 07:15] knrt10 commented on #13673
Ont it, would like to fix this

[2019-03-12 09:39] izenk commented on #13602
Faced with same situation on 0.73.2 (mongo 4.0.5)
docker-compose deployment
50 users, 30 active concurently
Every time after a week of stable work - memory usage increases up 4GB (2GB mongo and 2GB for rchat app).
At the same time [Recommendation](https://rocket.chat/docs/installation/minimum-requirements/#vps-recommended) says that 2GB should be enough for my situation

[2019-03-12 11:05] fifou17 opened #13678 "option to disable thread from administration"
- Version of Rocket.Chat Server: 1.0.0 develop
- Operating System: ubuntu 16
- Deployment Method: none
- Number of Running Instances: 1
- DB Replicaset Oplog: yes
- NodeJS Version: 8.11.4
- MongoDB Version: 4.0
Add option in admin to disable threads and permission doesnt work correctly when i remove permission to user for using thread the user still able to create threads

[2019-03-12 12:28] sampaiodiego commented on #13673
I don't think so.. we the user decides to delete messages that stared a thread, then we should also delete the threads IMO

[2019-03-12 13:17] iesit commented on #8373
Hmm... I wonder if my memberOf filter isn't working because of a space in the CN.  It seems to still be importing disabled users even when I'm asking it not to... I've worked around it for now by not synchronizing, and just letting users log in individually, so that the directory only contains those employees who have logged in previously.

[2019-03-12 13:25] bkraul commented on #13426
This appears to have been corrected as of 02c6312:

![image](https://user-images.githubusercontent.com/14616851/54203502-62874880-44a0-11e9-891f-f688aba2a454.png)

[2019-03-12 13:27] bhardwajaditya commented on #10769
@ggazzo @rafaelks if this issue still requires a fix , may I work on this?

[2019-03-12 14:24] tassoevan commented on #10530
@Sonit90 It was not reviewed after some corrections, but will launch in version 1.0.0. Usually the snap build is deployed two weeks after an official Rocket.Chat release.

[2019-03-12 14:31] bizzbyster commented on #13380
@bytepoets-mzi @ggazzo do we know where the bottleneck is in this test yet?

[2019-03-12 14:48] #12890 closed

[2019-03-12 14:48] stefanandres commented on #13671
This was partly my bad. I need to specify all the mongodb nodes in the variables and then it will find the master on its own, but I still have to know and configure them all.

This looks like this then:
[code]

[2019-03-12 15:03] bytepoets-mzi commented on #13380
Yes, we've made more tests. In general, the login process produces a lot of data (initial connection to the server and getting server data after the login), this produces really heavy load.

In addition to that, presence is a huge problem: for each new user getting online (being in a channel), all online users get the notification, that a particular user is now online. This gets exponentially wors

[2019-03-12 16:41] ggazzo commented on #9157
@garychapman @wonkaba
please I couldnt reproduce here... could you help me ?
![ezgif-2-15a821a0daa6](https://user-images.githubusercontent.com/5263975/54218414-4c8f7d00-44cc-11e9-8907-71a78e371a77.gif)

[2019-03-12 17:24] Rodriq opened #13684 "User remains in DM list even without a conversation"
User shows up in my DM list even without us having a conversation..
 See images below.
**It shows that I have DMed `new.User2`**

![generalChanel](https://user-images.githubusercontent.com/39289592/54220384-93439e00-44f1-11e9-85bc-d79fe37525bc.png)

**But we don't have any conversation**
![dmChanel](https://user-images.githubusercontent.com/39289592/54220349-7effa100-44f1-11e9-994d-63795eb182ed.pn

[2019-03-12 17:47] #13577 closed

[2019-03-12 18:35] #10530 closed

[2019-03-12 18:51] TkTech commented on #10777
Should probably be re-opened, still broken in 0.74.3 and 1.0.0-beta.0. 69 jobs in `rockechat_export_operations` with the oldest one from 2018-06-02. Cleared all old jobs, queued up a new one, same error.

This feature doesn't seem to have ever actually worked except for single server setups.

[code]

[2019-03-12 20:37] pshute commented on #1112
I agree with @mrsimpson that @Shaverdoff 's initial comment is unhelpful, but I have to say I was also surprised that this issue is closed and done after providing a solution pretty much at the other end of the scale to the initial request, which was for threading "that works like Flowdock", ie the lightest type of threading. We're starting off with the heaviest type.

If those wanting that style

[2019-03-12 20:50] Shaverdoff commented on #1112
my comment was only "looks in release& it still beta." whole of top words - is qoute of previouse commentator:) i means that developers team maybe return than some idea on best treads implementation comeback to their mind. do not see where is my " initial comment is unhelpful " let's live in pease.

[2019-03-12 21:12] wreiske opened #13686 "EmojiOne version 2 is no longer supported or distributed"
### Description:
Rocket.Chat currently uses a very outdated version of EmojiOne.
From https://github.com/emojione/emojione#emojione-version-2

### Server Setup Information:
- Version of Rocket.Chat Server: 70afb0eff49131870e787b69bd0b009ac304653b

[2019-03-12 21:12] wreiske commented on #13686
Also submitted as a feature request: https://github.com/RocketChat/feature-requests/issues/54

[2019-03-12 21:53] fliptrail commented on #13617
I am taking this up. I will add an option to choose to delete message or both.

[2019-03-12 22:15] fliptrail commented on #13576
I did not encounter this issue. Please try to upgrade to a newer version of Rocket.Chat server

[2019-03-12 22:15] #13642 closed

[2019-03-12 22:22] #13673 closed

[2019-03-12 23:21] luckenbach commented on #13576
If I upgrade and I continue having this issues what are the next steps?

[2019-03-13 01:06] sumit-kumar-rai commented on #13380
@bytepoets-mzi can you tell me the reason you used Network Load Balancer rather than the Application Load Balancer?

[2019-03-13 01:20] sumit-kumar-rai commented on #13380
Have you tried disabling UserPresenceMonitor on most of your instances https://github.com/RocketChat/Rocket.Chat/pull/12353? There was similar issue before regarding to UserPresenceMonitor like you mentioned https://github.com/RocketChat/Rocket.Chat/issues/11288.

[2019-03-13 03:40] ggazzo commented on #13380
@bytepoets-mzi perfect, there are a lot of things we can do better, and there something we should do right, presence is one of them, we use `meteor publications` to handle presence, its N x N mergebox, and doesnt scale very well because we have to keep in memory all users online for each user online and notify each one.

again, perfect. We send/receive a lot of data (settings, userpresence) after

[2019-03-13 04:37] knrt10 commented on #12723
On it, fixing this

[2019-03-13 05:51] geekgonecrazy commented on #13594
Are you using Omni service also?  Just to make sure we have the full picture

[2019-03-13 07:31] #13671 closed

[2019-03-13 08:18] zvs001 commented on #13617
@fliptail
It doesn’t think you need an option.
Once user is not exists, it looks like a garbage

[2019-03-13 08:23] FelikZ commented on #1824
@renatobecker hello, any update on this?

[2019-03-13 08:36] starso commented on #3551
Not resolved (Mac OSX + Franz) or (Mac OSX + Chrome)

[2019-03-13 10:04] trivoallan commented on #4782
It's pretty upsetting to see that "gay" is listed by default as a bad word.

I think the bad words list should be empty by default as it is something really cutural / contextual to each Rocket Chat installation.

[2019-03-13 10:34] Giplat commented on #6267
Hi, any updates on adding guests to channels? Having 'unlimited guests' is prominently featured on the Rocketchat website, but I can't find any documentation on how to handle guest users.

[2019-03-13 10:51] oefimov opened #13688 "Embedded layout showing left side bar"
### Description:
According to [Embedded Layout docs](https://rocket.chat/docs/developer-guides/embedded-layout/) left side bar must be hidden, but it's shown.

### Steps to reproduce:
1. Open URL `base/channel/general?layout=embedded`

### Expected behavior:
Left side bar is hidden

### Actual behavior:
Left side bar is shown

### Server Setup Information:
- Version of Rocket.Chat Server: 0.74.3
-

[2019-03-13 11:48] sampaiodiego commented on #4782
I understand @trivoallan .. please consider opening an issue on the package we use as well (the one that provides the default bad words list): https://github.com/web-mech/badwords/

[2019-03-13 12:01] josep112 commented on #13594
Hi, @geekgonecrazy
Yes I use OmniChannel API Key and OmniChannel API Secret, I tested it on 3 facebooks with the same problem

[2019-03-13 12:57] reetp opened #13689 "Discussion Deletion"
1.0.0-develop-beta.1

1. Create Discussion

2. Delete Discussion.
- Discussion still appears in channel/Discussion.
- 'No replies' shows under original comment.
- Clicking No Replies shows 'Not Allowed'

3. Cannot appear to rename discussion after creation

Related:
https://github.com/RocketChat/Rocket.Chat/issues/13664
https://github.com/RocketChat/Rocket.Chat/pull/13541

[2019-03-13 13:00] lucianocarvalhalbores opened #13690 "Open chat on webview with logged user"
Hi,

I'm trying to open RocketChat on webview on my Android App (I know that there is a native app, but a want to use a webview at this moment because I will use LiveChat mode to - available only on web) with the user already logged in. The first step that I did was to call the method "/api/v1/login" to get the userId and authToken. After that, is not clear for me how does can I use these field on

[2019-03-13 13:23] reetp commented on #13689
Curiously I can see the room creation in the logs, but nothing for deletion.

And no idea how to remove the lingering thread artefacts either.

[2019-03-13 14:19] sampaiodiego opened #13691 "Cannot manage users in scoped roles from Permissions screen"
While editing a new scoped role the UI is broken when trying to add/remove users to that role for a room.

[2019-03-13 14:39] eth3rgeist opened #13692 "Prometheus set interface"
### Description:

If i enable Prometheus Metrics by ticking the box in the admin interface/Logs, Rocketchat binds the selected port on all available interfaces, which exposes the information publicly. Since i'm using a reverse proxy i would love to bind the metrics to the loopback only.

I can enter the ip address in the webinterface with no error, but the port never opens then.

### Steps to repr

[2019-03-13 15:09] ear-dev opened #13693 "[BUG] Custom Oauth does not register the refreshToken nor respect the accessToken lifetime."
### Description:
- Custom Oauth implementation does include the refreshToken in it's call to registerService(), as seen [here](https://github.com/RocketChat/Rocket.Chat/blob/afb439f27b77e0ff0db9c4087f441518847f5e7b/packages/rocketchat-custom-oauth/server/custom_oauth_server.js#L248)
- RocketChat server seems to be handling the session lifetime on it's own, as opposed to respecting the accessToken

[2019-03-13 15:12] sampaiodiego commented on #13686
Unfortunately not. New EmojiOne license doesn't allow it to be embedded on open source projects, so we cannot upgrade it.

We are internally discussing in either not use an emoji library at all (in this case let platform render emojis) or migrate to twemoji.. see https://github.com/RocketChat/Rocket.Chat/issues/6740#issuecomment-470933462

I would like to not have multiple discussions (in many dif

[2019-03-13 16:43] alexandrenorman commented on #8929
Also affected. My ldap server doesn't handle pagination.
Changed the pageSize parameter to -1 made it work.

[2019-03-13 17:30] bkraul commented on #10777
I can confirm this on the latest docker develop version.

[2019-03-13 17:40] theorenck opened #13694 "[BUG] Weird load behavior when changing workspace scope inside Directory -> Users"
### Description:
In Users tab inside Directory, when the workspace scope is changed it will trigger a weird load behavior, sometimes overlapping header contents for 'domain' and 'created at' columns. Is necessary to scroll in order to actually see the loader, making it very difficult for a user to understand that loading is going on.

### Steps to reproduce:

1. Go to Directory
2. Click on the Use

[2019-03-13 17:40] theorenck commented on #13694
@alansikora can you take a look in this one? Thanks.

[2019-03-13 21:20] rsmartins78 commented on #13025
I'm running in docker with version 0.74.3 and I have same problem.
I configure an URL in Livechat Webhook, test it mannualy with test button, mark options that trigger webhook when agent send messages, but the webhook did not run.

No errors in log.

You can use this site for tests: https://webhook.site

[2019-03-13 22:05] fliptrail opened #13698 "[IMPROVE] Reordering of Channel topic, announcement, description for consistency"
In the channel settings bar,
Channel Topic, Channel Description and Channel Announcement are in a different order as compared to the channel settings edit menu.
They should be same for consistency.

**Actual Behaviour**

![Screenshot from 2019-03-14 03-31-32](https://user-images.githubusercontent.com/40834245/54317673-d5f89980-4609-11e9-9cba-50b5d00bdb9f.png)
![Screenshot from 2019-03-14 03-32-45]

[2019-03-13 22:23] fliptrail commented on #13698
I would correct this after #13699 is merged

[2019-03-13 22:44] sudipt1999 commented on #1180
I will give it a try as mentioned in comments we need to change the configuration of how it works , I guess we just need to show the img in browser and disabling its auto download pop up! @geekgonecrazy  I would like to start working on this!

[2019-03-13 22:51] fliptrail opened #13700 "The current UI of Permissions page is unsatisfactory"
### Description:

The current UI of admin/permissions page is unsatisfactory and looks very poor.
Especially where Text in permissions is embedded in HTML twice, both name and _id.
Also, the livechat permissions expand out of view.

### Steps to reproduce:

1. Be the Admin of a server
2. Click on triple dots in sidebar --> Administration
3. Go to Permissions tab

### Expected behavior:

It should

[2019-03-13 22:55] fliptrail commented on #10603
I am working on it.

[2019-03-13 23:29] kareemhamdy100 opened #13701 "test leader_board update no one should care about this :D"

[2019-03-13 23:34] #13701 closed

[2019-03-14 00:34] geekgonecrazy commented on #1180
feel free :) Its not currently in progress by anyone that I know of.

[2019-03-14 02:17] pshute commented on #1112
@Shaverdoff yes, sorry, I've edited my reply.

[2019-03-14 02:58] knrt10 commented on #10168
On it, Will try to fix this.

[2019-03-14 03:45] shuum commented on #10170
I confirm! The problem is **very important**! On behalf of the entire user community, I ask the developers to pay attention to it. Regards!

[2019-03-14 08:37] HaleyandtheComets opened #13703 "One-click Deployment on Heroku not working"
One-click deployment of Rocket Chat to Heroku is still advertised here, but it doesn't work:

https://rocket.chat/docs/installation/paas-deployments/heroku/

When one tries to deploy the app, the result is:

"
There was an issue building your app. This can mean your app.json's project is not a valid Heroku application. Please ensure your app is deployable to Heroku and try again.
"

![Screen Shot

[2019-03-14 09:01] juliomac commented on #7256
Hi @vagnnermartins  and @m00s ! Have any of you solved it?

What is the proper way to use the sendMessage method through DDP?

I am trying:

                      conn.call('sendMessage',
                                {
                                    _id: "message-id",
                                    rid: message.rid,
                                    msg: "Hello from bot"

[2019-03-14 09:06] CahidTopkaraoglu commented on #12908
Hi @renatobecker .
Thanks for paying attention on this issue. We handle this issue by manually changing the css classes for now. We would really appreciate if there will be such feature.

Thanks.

[2019-03-14 09:34] trivoallan commented on #4782
@sampaiodiego Thanks for the advice. It has been removed. Fix is available in new badwords package version 3.0.2 : https://github.com/web-mech/badwords/commit/88d1aed0e2466510c01d70e99359322036ea3ab4

[2019-03-14 09:36] pagnotta commented on #1194
There is also a solution for the "manual" Ubuntu install:

In the systemd unit file `/lib/systemd/system/rocketchat.service` you can set environment variables, I added HTTP_PROXY and HTTPS_PROXY there. Link preview works now.

[code]

[2019-03-14 09:40] juliomac commented on #1971
@uwittygit know this is long closed. I have used your solution. Thanks! Have you been able to use sendMessage method with this kind of DDP connection? I am struggling with it.

[2019-03-14 09:52] CXgamer commented on #3582
+1

[2019-03-14 09:52] magicbelette commented on #1194
Becarful if you set a HTTP(S)_PROXY it will be you use for everything, even for communication with other local Rocket.Chat instances. NO_PROXY is not read either. See https://github.com/RocketChat/Rocket.Chat/issues/11484

[2019-03-14 11:38] sampaiodiego commented on #4782
cool.. 10 hours ago =) @trivoallan do you mind raising a PR to update the library? thx

[2019-03-14 11:51] cryptobanana opened #13704 "Permalinks do not work correctly when invoked from outside the app whenever `General -> First Channel After Login` is set"
### Description:

If I (as an administrator) have set `General -> First Channel After Login` to a specific channel "A", then any permalink which I create and then follow from outside the application (i.e. pasting the link into the browser's address bar) will cause the application to immediately navigate away from that permalinked messages toward the most recent message of channel "A".

**Note** th

[2019-03-14 12:20] waltsims opened #13706 "[Feature Request] Migration support form Zulip Chat"

[2019-03-14 12:34] trivoallan commented on #4782
Here's the PR : #13705

Would you review it ?
There's also a test "on hold", and i don't know how to change its status.

[2019-03-14 12:40] #8477 closed

[2019-03-14 13:31] DuckyTheKing opened #13708 "Formatting buttons bug"
### Description:

The all formatting button below the message text area, are broken, when I click on it nothing happening and I have an error in my firefox console.
![Capture d’écran du 2019-03-14 14-32-55](https://user-images.githubusercontent.com/29342856/54360858-184fc400-4666-11e9-9a09-014f13c6c4ab.png)

### Server Setup Information:

- Version of Rocket.Chat Server: v1.0.0-dev
- Operating Sys

[2019-03-14 13:51] sampaiodiego opened #13709 "User status of federated users is always set as Online"
Title is self-explanatory =)

[2019-03-14 13:55] sampaiodiego opened #13710 "Federated DMs are created visible even without sending a message"
Basically it should have the same behavior as regular DMs, the subscription should be created with `alert` flag as `false`

[2019-03-14 14:27] knrt10 commented on #13709
@sampaiodiego I would like to fix this.

[2019-03-14 14:36] marceloschmidt commented on #13002
If you hold Shift when pasting, it will paste as text.

[2019-03-14 14:41] necil2201 commented on #2869
Everyone,

A new feature appeared on the Pricing page for the Enterprise version called "Message Auditing Panel".  I think this puts the nail in the coffin of ever getting a dedicated Marketplace App for compliance auditing purposes.

This is particularly sad because I would have gladly paid for a dedicated app but I'm not going to pay thousands of dollars for a bunch of other features I don't wan

[2019-03-14 14:52] Venomen opened #13712 "Bad escaping character "-" from LDAP #{cn}"
### Description:

Since version 1.0.0-beta.1 when using #{cn} as a 'field name' in LDAP synchronization, username has bad name escaping with character "-" (only this one) inside:
https://www.dropbox.com/s/0t8g5nyivos9i4i/Zrzut%20ekranu%202019-03-14%2015.39.00.png?dl=0

It should be "frank.white.hd", but now it's bugged to "frank.white.-.hd"

We are using this approach (https://www.dropbox.com/s/s8

[2019-03-14 14:53] rmundel commented on #2869
What about the community join forces and develop an alternative plugin anyway?

[2019-03-14 15:18] guillaumerybak commented on #13200
Hello, do you think you will be able to fix this issue for the 1.0.0 release ?

[2019-03-14 15:36] bkraul commented on #2869
Yup...I don't think Rocket.Chat is actively saying their auditing panel is the end all be all. I also believe that the Pricing page is not the final word, you can talk to them and I am sure they can tailor services as well. I also do not think they would be far from rethinking their position should enough demand for the feature in self-hosted environment would arise.

[2019-03-14 16:06] fasttrackhost opened #13713 "Avatar issues still in 0.74.2"
### Description:

Several issues:

1. Avatars are not saved IF upload files -> File System -> is set to FileSystem. Avatar desepears after Saving (seen the bug in other issues, but it was marked as solved, and its not)

2. When using File System -> GridFS -> Avatars are deleted if using more than 1 account to login in same browser. Steps to reproduce: Login normaly with account 1, upload avatar, s

[2019-03-14 16:17] fifou17 commented on #3582
+1

[2019-03-14 16:35] fasttrackhost opened #13715 "[BUG] duplicated rooms display & user can see other user private rooms"
### Description:

Rooms are not correctly displayed. Sometimes not all rooms are displayed, and other times rooms are duplicated. In admin area, rooms are OK, its only wrong in the list of rooms.

### Steps to reproduce:

This error seems to apear only in if loged in with more than 1 account in same browser.

### Expected behavior:

There should be only 1 room called: "General".

### Actual behavi

[2019-03-14 17:19] bkraul opened #13717 "Livechat broken on latest develop"
### Description:

Live chat no longer works on the latest develop version, and the log complains about missing assets.

### Steps to reproduce:

1. Get latest docker develop version.
2. Attempt to navigate to the livechat page: https://mychat.com/livechat
3. The page will error out (I run it behind a reverse-proxy so I get 502 Bad gateway).

### Expected behavior:
The public-facing livechat interf

[2019-03-14 17:31] fasttrackhost opened #13718 "user session closes automatically after a few secs of LogIn"
### Description:

User its automatically disconected and redirected to Log In Form, after a few seconds of Loging In.
It happens randomly.
We use a script to auto logIn the user in a RocketChat Iframe integration, after the user Loges In the web that contains the Iframe. Sometimes it is automatically disconected just a few seconds after. Cant say why. Registry is full of errors related to onLogin

[2019-03-14 17:36] bkraul commented on #13717
Thanks to the develop images archive I set up 😜 , I can confirm that livechat last worked fine on commit 44d84927613d85f66745795365d9056d704d8f58 .

There have been 2 builds since that commit, so something must have changed there.

[2019-03-14 17:53] fasttrackhost opened #13719 "Sending a sound message always fails"
### Description:

While in chat, sending a sound message always fails. The circle never disapears until page reload.

There are 2 error messages in Console (F12), pasted them below.

There should be a notification for the user, not only on console.

Seems that RocketChat App does not ask for permission to use the microphone. But even so, it should send a mute sound, not only let the circle spin.

[2019-03-14 17:58] ggazzo commented on #13719
@tassoevan could you check it please? (:

[2019-03-14 18:02] facundomedica commented on #13340
@MarcosSpessatto I've just tried 1.0.0-beta.2 and this issue isn't solved

[2019-03-14 18:09] srpatel commented on #3582
In case anyone is interested in looking into this, here's what I've found so far:

* Avatars for channels are loaded from a url like: `/avatar/%40channel-name?_dc=0` (`%40` being an encoded `@`)
* The endpoint for getting avatars is at `Rocket.Chat/server/startup/avatar.js`

In `avatar.js`, I believe we'd just need to add an alternate case for the `if (username[0] !== '@') { ... }` condition. I'm

[2019-03-14 18:18] #10603 closed

[2019-03-14 18:30] fasttrackhost opened #13720 "notifications not sending in browser"
### Description:

No notification pops up in browser when new messages. When first enterring Rocket Chat, it ask for permision to send me notifications. I never see / receive none.
The messages are sent / received correctly by all users in the room, but you have to visit the room in order to see if there are new messages.
The javascript Iframe listener detects the activity ( althought it detects i

[2019-03-14 18:31] Sx3 opened #13721 "No Real name or User name"
We have latest rocket chat on snap ..in direct messages and channels there is no any user name or real name is showing ..only the avatar ...any directions ?

[2019-03-14 18:34] marz71 commented on #3582
Dear fellow rocket chatters!
This problem can be solve quite easy. You need some programming skills, but not much.

If using apache add this line to your VirtualHost configuration, like this:

RewriteRule   "^/avatar/@(.*)"  "/avatar.php?p=$1"  [PT]

avatar.php can look like this:

`<?php
  $urlArr = parse_url($_SERVER['REQUEST_URI']);
  $pathArr = explode("/",$urlArr['path']);

  if (isset($pathA

[2019-03-14 18:56] abhinavsagar opened #13722 "Not able to install on my windows machine."
### Description:

Not able to install on my windows machine.

### Steps to reproduce:

Run `npm install`

### Expected behavior:

Should have proper installation.

### Actual behavior:

`> Rocket.Chat@1.0.0-develop postinstall C:\Users\Win 10\Desktop\github\Rocket.Chat

Running npm-postinstall.js
'cp' is not recognized as an internal or external command,
operable program or batch file.
child_proce

[2019-03-14 19:48] renatobecker commented on #13717
Fixed here -> https://github.com/RocketChat/Rocket.Chat/pull/13723

[2019-03-14 19:53] bkraul commented on #13717
OK so I must have missed something about this. The PR says that the livechat client is provided now as a "Community Feature", but that the "2" will be maintained for a while.

What does this mean? From the looks the snipped the only thing changing is the `?version=1.0` at the end of the URL. Could you please explain a little, @renatobecker ? My apologies if this has been explained before.

Better

[2019-03-14 20:44] engelgabriel opened #13728 "Turn agents drop down into regular users autocomplete and remove publication"
On large deployments, loding all agents takes minutes.

![image](https://user-images.githubusercontent.com/1000217/54390030-40e4b780-4680-11e9-9919-6af1cf23be46.png)

[2019-03-14 20:46] fliptrail commented on #13576
Well, I was using the latest version of Rocket.Chat and I did not encounter it. So, most probably you also won't. But if still you encounter this issue, Rocket.Chat community would be ready to help.

[2019-03-15 00:07] #9632 closed

[2019-03-15 00:07] #12899 closed

[2019-03-15 00:26] reetp commented on #13717
Same here.

Tried the 'modified' script which throws the error as well.

[code]

[2019-03-15 07:23] tmiveda commented on #3582
@marz71
Thanks for the suggestion of this solution.

This may be a solution if the operator of the rocket.chat installation and the administrator of the chat are one and the same person.
We seperated these responsibilities so when an administrator adds a new channel he has to contact the operator to add a new icon and adjust the script.

For private channels it is even worse since in our organisat

[2019-03-15 08:09] salihoglu87 commented on #13490
i can confirm that croatian and bosnian match to 98%. :)

[2019-03-15 09:24] #13613 closed

[2019-03-15 10:52] luismachado commented on #13631
Sure, calling https://MYCHAT/api/v1/rooms.get?updatedSince=2019-03-14T06:47:08Z
returns the list of subscriptions with the respective lastMessages, like this one:

`{
      "jitsiTimeout" : "2019-03-15T09:21:14.478Z",
      "lastMessage" : {
        "u" : {
          "_id" : "4JSXNR4dM4MDkbYFi",
          "username" : "luis.machado.2",
          "name" : "Luis Machado 2"
        },
        "alias"

[2019-03-15 12:16] ggazzo commented on #7256
your payload seems correct could you paste the response? thanks

[2019-03-15 12:18] MIKI785 commented on #13722
Rocket.Chat server doesn't support Windows as far as i know.

[2019-03-15 13:06] moonwolf-github commented on #10714
Does anyone have plans to fix this issue? It's way more important than fancy new emojis in my opinion.

[2019-03-15 13:06] #3431 closed

[2019-03-15 13:14] MarcosSpessatto commented on #13631
@luismachado seeing the result of the endpoint, I see that the `unread` property is not part of the room and lastMessage objects, the `unread` property is part of the subscription, and the subscription is not returned by this endpoint. The `unread` property that is part of the subscription has the counter of the messages unreads and is not a Boolean. What version of rocket are you using? :thinking

[2019-03-15 13:52] #9383 closed

[2019-03-15 14:01] bkraul commented on #13717
Same here. Even with `?version=1.0` it is still broken. I am still trying to understand what "community feature" means. Is it not bundled with RocketChat anymore?

[2019-03-15 14:24] fabien4455 commented on #13713
You have 2 general ?

Wait that's illegal

[2019-03-15 14:26] reetp commented on #13722
https://rocket.chat/docs/installation/community-supported-installation/

[2019-03-15 14:29] fabien4455 commented on #10714
It's moooore important of course... but they don't care

[2019-03-15 14:32] KaibutsuX commented on #10583
Issue still persists on version 2.15. Basically unusable for chatting at this point.

[2019-03-15 14:33] filipef101 commented on #10714
@ggazzo @rodrigok  Can this be fixed? There is already some code made here I think

https://github.com/maurice-does-software/Rocket.Chat/commit/ed171743f4fc6703164a66101c67d98bb7e79bc4

[2019-03-15 14:57] wreiske opened #13731 "Some links do not show correctly in messages"
### Description:

### Steps to reproduce:

1. Copy the following URL into your clipboard.
[code]
2. Paste into Rocket.Chat message
3. Send it

### Expected behavior:

Show the link correctly.

### Actual behavior:

![58jhaQ6ide](https://user-images.githubusercontent.com/6295044/54440315-d465c900-4710-11e9-9c93-35a00b487f16.gif)

### Server Setup Information:

- Version of Rocket.Chat Server: Open.

[2019-03-15 15:02] fliptrail commented on #13722
This is not a codebase issue. This can be closed.

[2019-03-15 15:03] fliptrail commented on #13731
Probably, this is caused due to a limit in the URL length.

[2019-03-15 15:10] reetp commented on #13722
FWIW for others also check the tag notes for the recommended software versions of node, npm, mongo etc

eg
https://github.com/RocketChat/Rocket.Chat/releases/tag/1.0.0-beta.2

Engine versions
Node: 8.11.4
NPM: 6.4.1
MongoDB: 3.2, 3.4, 3.6, 4.0

[2019-03-15 15:15] rsmartins78 opened #13733 "Bug Report: Livechat: New room created when send message to a closed room via LiveChat API"
### Description:

Livechat: New room created when send message to a closed room via LiveChat API

### Steps to reproduce:

Create a new visitor:
[code]

Get a new room id
[code]

Send messages to this new room
[code]

Close room (via Web Interface or API)

Send repeatdly times a new message to closed room.

### Expected behavior:

Response with error or preferably reopen the closed room. If there

[2019-03-15 15:19] bizzbyster opened #13734 "[IMPROVEMENT] Bots should support a welcome screen"
When I first DM with a bot, it would be great if I could be shown a welcome screen with information about the bot before I engage/subscribe.

![image](https://user-images.githubusercontent.com/4001792/54441893-0298d800-4714-11e9-8b7e-27bbf6419189.png)

is a good example from here:

https://developers.facebook.com/docs/messenger-platform/introduction/conversation-components/#welcome_screen

In some

[2019-03-15 17:09] knrt10 opened #13737 "[BUG] OTR should not start with bots"
### Description:

A user can start an OTR with any user when they are online, but when they start OTR with a **rocket.cat** or any bot, they won't establish the connection, so this should not happen.

### Steps to reproduce:

1. Go to **rocket.cat**  user
2. Click on three dots on the top right and then press OTR

### Expected behavior:

OTR should not be possible between a bot.

### Actual behavi

[2019-03-15 17:28] renatobecker commented on #13717
Hi @bkraul, You're still getting the error because the PR wasn't merged yet.
The reason for the error is because we have made some structural changes on the codebase/packages and it has impacted on Livechat plugin.
But, since you're running the `develop` branch, this is a kind of situation that may happen.

Related to the `Community Feature` stuff, it means that we will start providing our new Liv

[2019-03-15 17:31] engelgabriel opened #13738 "[IMPROVE] Remove unnecessary "File Upload"."
Remove unnecessary "File Upload" text, leave just the file name.

<img width="371" alt="Screenshot 2019-03-15 at 14 26 23" src="https://user-images.githubusercontent.com/1000217/54450148-7f38b000-472e-11e9-8370-958c72e1993a.png">

[2019-03-15 17:34] bkraul commented on #13717
@renatobecker Thanks for the reply. Again I still do not understand what the term `Community Feature` really means but that's OK. I understand that running the develop branch will sometimes incur in some issues. As specified, I was able to go back to the latest build without the error. I will switch to a new image when the PR is merged and built.

[2019-03-15 17:53] tassoevan commented on #13717
@bkraul

We ran a beta testing with Enterprise customers.

[2019-03-15 17:59] knrt10 commented on #13738
On it, will fix this.

[2019-03-15 18:00] Pionell opened #13742 "cannot start service, only as main.js"
hello, trying to start as a service `sudo systemctl start rocketchat`
[code]
But it does not start. Trying `sudo systemctl start rocketchat` gives me this result:

[code]

However starting the server with `node main.js` in the /opt/Rocket.chat directory works and the service works, but to make it work I needed to export the root urls and mongodb parameters.
trying to edit `/lib/systemd/system/rock

[2019-03-15 18:20] engelgabriel commented on #13738
Awesome @knrt10

[2019-03-15 18:25] knrt10 commented on #13738
@engelgabriel PR is made, just one thing is that #13696 is related to it too. That is a bug to be fixed

[2019-03-15 19:04] #13719 closed

[2019-03-15 20:18] ChesterSVK opened #13745 "[BUG] RoomManager import not found when using message recording"
### Description:

**OS:**
NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xerus)"

**Developement Project:**
Finnish national wide Tandem like application for students. Project info not yet published.

**RocketChat Version:**
branch: develop  - last updated 5.3.2019

**RocketChat instance:**
First build launched with original example-build-run.sh script. Next executions via custom script that skips dep

[2019-03-15 21:53] rohithGoudM commented on #13738
Can I take this up?`

[2019-03-16 01:44] tassoevan commented on #13745
Current version on `develop` branch should have fixed this bug.

[2019-03-16 04:48] knrt10 commented on #13075
On it, will try to fix this.

[2019-03-16 05:14] SiJinmin opened #13747 "cannot build rocket.chat from source code"
### Description:

I followed the developer guides (https://rocket.chat/docs/developer-guides/quick-start/) to build rocket.chat from source code.

When I run "meteor npm start", the error message is following:

[code]

so i run "meteor npm install --save capnp", it then display the following error:
[code]

### Server Setup Information:

- Version of Rocket.Chat Server:  lastest
- Operating System:

[2019-03-16 06:01] Kailash0311 commented on #13731
No this can't be due to limit of the URL length, because links work correctly, only thing is that color of the text is not blue for the whole URL and it is not recognized as `clickable` for half of the part of the URL.

[2019-03-16 09:57] knrt10 commented on #3064
This problem is with searching not only for `/me` command.

[2019-03-16 10:47] GreatEmerald commented on #658
"Multi team per Org" is what I'd be looking for. Completely isolating instances can already be achieved by using several subdomains, as mentioned. But it would be a great feature to be able to group channels so that they are organised better, while still being able to talk to everyone. (You can work around this right now in Rocket.chat by using standardised prefixes, but they get rather long and c

[2019-03-16 12:31] williamturner845 opened #13749 "How to see all user's conversation on rocketchat from admin panel or server?"
Hi, is it possible to see conversation between two users? from my rocketchat admin panel or server?

[2019-03-16 14:25] Shaverdoff commented on #11570
0.7.4.3 version RC&LDAP. still the same bug... or maybe we do not correclty undersutd that functional? 2fa login or 2fa works by itself..? becauze 2fa works by itself well, ask code from Goo-2fa app... but whats the point ot them? %)

[2019-03-16 14:27] Shaverdoff commented on #11570
in release tread - https://github.com/RocketChat/Rocket.Chat on bottom page yellow button donate. press here and you surf to paypal donates-service

[2019-03-16 15:45] #13738 closed

[2019-03-16 15:51] #13603 closed

[2019-03-16 18:20] knrt10 commented on #3870
On it, will like to fix this.

[2019-03-16 18:48] Shaverdoff opened #13750 "password for private group"
### Description:

Not correct view/use options for rooms and second way to access the room. (first is invite)

### Steps to reproduce:

1. make private room
2. set password then edit room
3. send url in some way to not invited user
4. user see only that private room was not found
![изображение](https://user-images.githubusercontent.com/43804710/54479964-63bbcb00-483c-11e9-8787-7a839004974b.png)

b

[2019-03-16 19:01] fliptrail commented on #13747
Try to install g++
`sudo apt-get install g++`

Try to install build-essentials
`sudo apt-get install build-essential `

Also, follow instructions on https://rocket.chat/docs/developer-guides/quick-start/

PS: This is not an issue in the code base. It can be closed.

[2019-03-16 19:33] Sing-Li commented on #658
@GreatEmerald   The new Threaded Discussions feature in [release 1.0-BETA](https://github.com/RocketChat/Rocket.Chat/releases) may already do what you need.  Please take a look.

![image](https://user-images.githubusercontent.com/122633/54480604-183bf980-4809-11e9-94b8-09690b4612d4.png)

The UI (including nesting) is still evolving.

With Federation, cross-domain isolations and be relaxed in a sel

[2019-03-16 19:47] knrt10 commented on #13733
On it, I would like to fix this.

[2019-03-16 20:38] juliomac commented on #658
Hi @Sing-Li , thanks for the information. But I quite did not understand how this "threads" implementation relates to "multiple orgs on same instance". How would you think we could leverage this for that purpose? It would be excellent if that could solve it!

[2019-03-16 21:18] Sing-Li commented on #658
@juliomac  That was a reply very specific to @GreatEmerald 's exploration.

Throughout this arduous journey of almost 4 years (since the start of this issue - and multiple public/private attempts to implement something usable), we've learnt the hard way that NOT EVERYONE has the same requirements in this area.  And that a sizable population of the real requirements fall towards what @GreatEmerald