[2017-12-03 18:56] antgel commented on #7043
RC team: Is this something that you plan to work on? I think a lot of users would welcome it, believe it or not, not everyone is running a bot (it's in our roadmap).

[2017-12-03 18:58] antgel commented on #7152
RC team: Same comment as for #7043 - do you consider this a duplicate?

[2017-12-03 19:21] satyapramodh commented on #8977
i made a fix by preferring ogImage (open graph image) if available over the normal image for links that render via oembedUrlWidget. Please review and give your suggestions! @MartinSchoeler
thanks

[2017-12-03 20:22] satyapramodh commented on #8816
I can take a look at this!

[2017-12-04 02:47] ZipherAloha commented on #8986
@cy4n @graywolf336 Thank you for your help. Refer to @cy4n posted link above, at topic "Rocket.Chat files". Step 1. Download the latest Rocket.Chat Windows Release from **the Rocket.Chat releases page**. After click link (as below pic), then the next page show "No releases for windows server currently available". This is why I cannot download Rocket Chat files.

 ![image](https://user-images.githu

[2017-12-04 05:04] kimgb commented on #7980
Minimally tested hack for anyone that needs a temporary fix. JQuery/JavaScript is not my strong point, improvements appreciated. This goes in Administration -> Layout -> Custom Scripts.

This makes use of the absolute URL workaround pointed out by @agulov above. It appears to fix the icon problems in previous versions of Firefox without breaking Chromium or Firefox 59 - I haven't tested any other

[2017-12-04 08:32] isometry commented on #8958
@geekgonecrazy : we're running on a hosted *.rocket.chat instance, so unfortunately have no direct access to the underlying database.

SAML is configured to use OneLogin, which provides NameID:=email, cn and username attributes in its assertion. Previously, this correctly matched existing users based on email, and used cn and username attributes only to provision accounts for new users. For the pa

[2017-12-04 08:36] isometry commented on #8958
Parsing user list, it appears that with the SAML "Generate Username" setting flipped to "True", new users were created with a non-blank username (seemingly the user part of user@domain.tld, rather than the username attribute passed by SAML) but with no role.

[2017-12-04 09:05] nicofreaksout commented on #2759
+1

[2017-12-04 09:46] antgel commented on #8997
Closing, GitHub issue tracker is for bug reports and feature requests. Please go [here](https://rocket.chat/docs/getting-support) for support options.

[2017-12-04 09:46] #8997 closed

[2017-12-04 09:58] peterdalydickson opened #9005 "'The field Roles is required' error displays even when new user has a role set"
### Description:

Issue title says it all!

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.1
* Operating System: MaOS 10.13.1
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v4.8.4

### Steps to Reproduce:

1. Click to add a new user
2. Fill in all required fields
3. Untick 'Join default channel

[2017-12-04 10:35] SakakiOftech commented on #7152
I think #7043 is a group for sending messages and #7152 is a group for adding users.

I really want to do something like the following.

Join the user to the group.
Join the group to channel.
If you send a message to channel, it will be displayed to the user who is joining the group.

[2017-12-04 12:24] hExPY commented on #8788
Bump: Can anyone help? :-)

[2017-12-04 15:41] ingmartinfarias commented on #4378
any update??

[2017-12-04 15:52] mrinaldhar commented on #8496
From what I understand, if the emails being used are different, i.e. different email to sign up for rocket chat and a different one that twitter has, using this twitter account in OAuth would require us to verify the email that is being used by the user's twitter account. So basically, we get the email from twitter OAuth, send a verification email to that address, and once verified, link that emai

[2017-12-04 16:05] ruphy commented on #8496
Hi, yes and no. This allows users who had already signed up with a legacy method to switch to OAuth-based providers, for example. Or to add a password in case they are getting rid of the ID provider account, for any reason...

[2017-12-04 16:30] karlprieb commented on #9005
Hey @peterdalydickson you need to click on the ADD ROLE button before save :)

[2017-12-04 16:36] karlprieb commented on #8999
This feature exist only on Cordova iOS client, in the future this feature will be global.

[2017-12-04 16:41] peterdalydickson commented on #9005
Realise that now!

Thanks.

[2017-12-04 16:41] #9005 closed

[2017-12-04 16:54] balla2185 opened #9006 "LDAP not working"
under top section in LDAP test connection works fine my issue is the other stuff
under authentication i have i have correct info, verified by owncloud settings wich is working properly with ldap
password field here i left blank, what am i suppose to put in the password field?

under sync import
left username field as 'sAMAccountName'
unique indentifier field i left as default value
default domain

[2017-12-04 17:10] balla2185 commented on #9006
![image](https://user-images.githubusercontent.com/34148129/33565795-bc1636e2-d8e3-11e7-8316-6a7141592b37.png)

[2017-12-04 18:55] balla2185 commented on #9006
got it figured out in domain name i needed to put in the ldap server domain in

[2017-12-04 18:57] engelgabriel commented on #3824
Another example https://combot.org/

[2017-12-04 18:57] mrsimpson commented on #8999
Now that’s why I call “mobile first” Scnr 😈

[2017-12-04 19:06] balla2185 opened #9008 "can ping rocketchat server but not get to webgui"
![image](https://user-images.githubusercontent.com/34148129/33570887-ef3dbf26-d8f3-11e7-807d-898dd6e7c57a.png)

any ideas? yes i have even put the port in on web so it reads 192.168.8.20:3000

[2017-12-04 19:24] balla2185 commented on #9008
running nmap on that ip shows that port 3000 is not open not sure where to go from here

[2017-12-04 19:25] valentincollado commented on #8961
![image](https://user-images.githubusercontent.com/8128340/33571409-311ab82c-d930-11e7-8cd0-edc6890a1292.png)

[2017-12-04 20:06] mauricio-sonegatti commented on #8974
I think defining the Proxy Auth for apps has to be done on the server, hence why it's important to keep the issue here. More because whe have a lot o integration through some Cloud Services.
For now, as I'm running my RC on a VM, I can set the network connection through a VPN tunnel to access services outside the corporate proxy, it works.

[2017-12-04 20:10] #8954 closed

[2017-12-04 20:18] #7693 closed

[2017-12-04 20:20] #8977 closed

[2017-12-04 20:23] #8383 closed

[2017-12-04 20:30] #8619 closed

[2017-12-04 20:33] #8858 closed

[2017-12-04 20:34] rodrigok commented on #8888
Needs to fix for mobile where we don't have tooltip option

[2017-12-04 20:39] #8836 closed

[2017-12-04 20:39] #8859 closed

[2017-12-04 21:43] #8246 closed

[2017-12-04 21:44] #8834 closed

[2017-12-04 21:48] dclemmon commented on #199
I tossed the following CSS into our Custom CSS panel as a quick hack to show the buttons without using the browser dev tools.
[code]

[2017-12-04 22:27] geekgonecrazy commented on #8998
Link fixed.  If it gives you problems can also access directly here: https://s3.amazonaws.com/download.rocket.chat/build/rocket.chat-0.59.6.tgz

Basically what happened is... 0.59.4 was cut.  We had some issues with our CI... two additional tags were created... but really the only release was 0.59.4 :)

0.59.4 0.59.5 0.59.6 are all the same release.

[2017-12-04 22:27] #8998 closed

[2017-12-04 22:49] geekgonecrazy commented on #8958
@isometry please shoot an email to cloud@rocket.chat with your instance name.  I can help look into the details there.

[2017-12-04 23:14] localguru commented on #8965
see #8388 : owner of a read only channel can't permission to post to own user.

[2017-12-04 23:32] localguru commented on #9008
Connection on localhost:3000 possible? Firewall? More infos please.

[2017-12-04 23:43] antiphase opened #9010 "Library included in server bundle contains insecure RPATH"
[code]

0.59.4 as downloaded as "Latest stable"

[2017-12-04 23:43] compuguy commented on #8992
This also applies if you have RocketChat on a network with no internet access (or heavily restricted).

[2017-12-04 23:59] Sing-Li commented on #5207
@SamSaffron   awesome to learn about Discourses' potential migration to Rocket.Chat from Slack.  Please let us know if you need assistance in any way.

And welcome to our extended community of open source communities!  😁

We will happily take you up on your offer of hosting an instance!  Thanks in advance.  We can really use a forum at the end of each of our blogs, similar to what you have with yo

[2017-12-05 00:02] graywolf336 commented on #9008
Please ensure that the firewall on the server allows connections through port 3000.

I'm closing this as this is a setup issue and not an issue with Rocket.Chat itself. Feel free to continue the discussion and if we determine there is an issue with Rocket.Chat, we can open the issue back up.

[2017-12-05 00:02] #9008 closed

[2017-12-05 00:05] graywolf336 commented on #9002
A better work around is to not have a trigger setup and filter every message inside of the script of your integration. Basically inside your integration make sure the message starts with `#2374` and if it doesn't then return false.

[2017-12-05 00:38] geekgonecrazy commented on #9010
Can you provide more details?  Also maybe explain why this is an issue?

[2017-12-05 00:42] geekgonecrazy commented on #8965
This one is only a matter of the option not visibly being available.  Sounds like the other one may be deeper.  So related by not likely the same.

[2017-12-05 01:04] SamSaffron commented on #5207
Awesome, this is great news @Sing-Li  will leave this for @jomaxro to organise!

Ideas sound interesting let's hash them out either on meta.discourse.org or your new forum when it is out! We do have an official chat integration provider for RocketChat that covers shipping transcripts from chat over to Discourse on demand and shipping notifications to Chat back from Discourse to RocketChat.

[2017-12-05 01:15] antiphase commented on #9010
RPATHs are runtime library loader paths. Sorry to Wikipedia you, but https://en.wikipedia.org/wiki/Rpath

The binary listed above (`bundle/programs/server/npm/node_modules/meteor/emojione_emojione/node_modules/grunt-contrib-qunit/node_modules/grunt-lib-phantomjs/node_modules/phantomjs/lib/phantom/bin/phantomjs`) as included in the server bundle (`https://releases.rocket.chat/latest/download`) cont

[2017-12-05 02:11] jomaxro commented on #5207
We don't actually support transcripts for Rocket.Chat yet. If I'm not mistaken, Rocket.Chat does not support custom slash commands at this time, and that is how our plugin exposes the transcript send UX. Something we can talk about further once we get everything up and running.

I should be able to get your site up this evening. I'll ping @geekgonecrazy once it's ready to go. Up to you and your te

[2017-12-05 06:53] erlend-sh commented on #830
I posted a video and screenshot in #6583  of how we currently do this with Slack-Discourse.

[2017-12-05 07:26] ledainam commented on #8575
@MartinSchoeler  : version 0.59.3 have same issues.
I didn't know when this issues will be fixed.

[2017-12-05 07:59] fnollet commented on #7980
Thanks for the fix! Works like a charm!

[2017-12-05 08:37] dmoldovan123 commented on #8619
+1

[2017-12-05 08:46] dmoldovan123 commented on #7204
+1

[2017-12-05 10:52] Flauschbaellchen commented on #8988
Retested it with the new packaged 0.59.6 stable release downloaded from the webpage.
However, no changes so far as it has been wrongly packaged and includes the 0.59.4 release.

[2017-12-05 11:18] jezschaj commented on #1086
@geekgonecrazy Hi, I was just interested if the autocomplete function was implemented as feature or you are still working on it. I can definitely see the usefulness of the concept.

[2017-12-05 11:41] Venomen commented on #8568
Still on 0.59.4, 0.59.6

[2017-12-05 13:35] valentincollado commented on #8486
have same issue (version 0.59.3)

[2017-12-05 13:41] robguinness commented on #8934
Can someone please help with this?

[2017-12-05 14:00] ramanamatya opened #9014 "App is stuck and the routing is triggered after a very long time"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.3
* Operating System: Mac OS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 2
* DB Replicaset Oplog: Off
* Node Version: 4.5^

### Steps to Reproduce:

1. Refresh the app
2. App is loaded with a white screen and the actual routing is triggered after a long pause
3. vide for proof:

[2017-12-05 14:11] archang3l-media commented on #8988
@Flauschbaellchen We had the same problem with our rocketchat installation but some option in /admin/General Subsection UTF8 fixed it... What are your Settings there?

[2017-12-05 14:27] Flauschbaellchen commented on #8988
@archang3l-media wow, thanks, that was the right hint.
The setting has been changed to "[^\u0000-\u007F]+" while upgrading from 0.59.2 to 0.59.3.
I reset it back to the default value "[0-9a-zA-Z-_.]+" and now the highlighting is working again.

Thanks for the help and support!

[2017-12-05 14:27] #8988 closed

[2017-12-05 15:41] armand1m commented on #933
Is there anyone working on this?

[2017-12-05 15:50] armand1m commented on #736
Hey, I've updated the PR #8029.

Know the tests are all passing, and we have the feature implemented in 4 languages:

- English (default)
![captura de tela 2017-12-04 as 23 04 00](https://user-images.githubusercontent.com/6154901/33587513-9cb2f354-d955-11e7-8be3-d12ae77f07e8.png)

- Portuguese
![captura de tela 2017-12-04 as 23 04 12](https://user-images.githubusercontent.com/6154901/33587493-8792

[2017-12-05 16:53] rodrigok commented on #8987
@mottobug and @alexmsierra can you show me your LDAP pagination config? The `Search Page Size` and `Search Size Limit` located under `User Search` section.

[2017-12-05 16:58] geekgonecrazy opened #9016 "Enter to send broken with new modal"
### Description:
Caused by: #8882
If you paste a file into channel and then try to enter on new modal it doesn't send any more.

### Server Setup Information:
Current develop branch and develop server.

### Steps to Reproduce:

1. Copy Image
2. Ctrl + v in channel
3. Hit enter to send

### Expected behavior:
Send the file

### Actual behavior:
Nothing

[2017-12-05 17:56] armand1m commented on #8984
I think this is fairly simple to implement using the user presence module that already exists in the app.

@zuernBernhard Do you have any detailed aspects of how you would like to see this working?

If we by default just send notifications to everyone, everytime someone changes their presence status, it could give an extremely poor UX.

I think this would be nice if you as a user could subscribe t

[2017-12-05 18:45] erlend-sh opened #9017 "Feature: Opt to "Send a silent message""
I'm aware of #5524 and #8806. This is something different.

Story:
Using a simple hotkey or this menu:
<img width="225" alt="screen shot 2017-12-05 at 19 39 18" src="https://user-images.githubusercontent.com/583842/33624348-6e83dbfc-d9f4-11e7-9fba-3ee103cc54b6.png">
.. I can opt to send a *silent message*. How it works is quite simple: *Silent messages* will not create notifications of any kind.

[2017-12-05 19:01] rodrigok commented on #8568
@Venomen Is that related with UI problem, like not being able to change the preference or it's related with functionality?

[2017-12-05 19:06] rodrigok commented on #933
@armand1m currently no, be we are looking for some help here or find some one to focus in webrtc.

[2017-12-05 19:13] #736 closed

[2017-12-05 19:16] rodrigok commented on #6902
Should be fixed by #8656 let me know if it was not.

[2017-12-05 19:16] #6902 closed

[2017-12-05 19:16] rodrigok commented on #7412
Should be fixed by #8656 let me know if it was not.

[2017-12-05 19:16] #7412 closed

[2017-12-05 19:20] TwizzyDizzy commented on #8568
@rodrigok from his initial message it's not about setting this option but rather about the functionality: if you set the option to not get mails when you're offline, your're still getting sent those.

[2017-12-05 19:21] truncador commented on #8935
Okay, it was easy.

I Just downgraded mongodb to 3.2 and it works.

[2017-12-05 19:21] #8935 closed

[2017-12-05 19:51] coreyman commented on #8624
I'm having the same issue with 'least amount'. I don't think live chat push notifications for new chats work at all. This is a major bug, and I may have a look at what I can do to help fix it later. Is this feature planned yet?

[2017-12-05 19:54] rodrigok commented on #8007
@janrudolph Take a look at my comment here https://github.com/RocketChat/Rocket.Chat/pull/8110#issuecomment-330199295

Currently we don't have an option to not send the confirmation email, that option define if users will be allowed to login without verified emails. We need to improve the label description.

Please open a new issue if you want a new setting to control if we should send the confirm

[2017-12-05 22:47] paulovitin commented on #8752
I had the same problem in another project. Just encode file name with encodeURI and solve this. I hope so.

[2017-12-05 23:27] paulovitin commented on #8958
@geekgonecrazy this problem is with empty roles or no roles key in database? With empty roles I got login, with no roles key I could not login and in the log has an exception.

If the second one is the problem, I could send a PR.

[2017-12-05 23:29] paulovitin commented on #8752
If ok, I could send a PR to this @glesio.

[2017-12-06 06:14] flaviovs commented on #8692
@geekgonecrazy, can you elaborate a bit more about what travels through Rocket.Chat gateways?

I think that most people that self-host their server are interested in maintaining privacy control of the messages exchanged on their C install, and it is not clear what actually goes back and forth between self-hosted instances and the RC gateway WRT notifications.

More specifically, are message conten

[2017-12-06 06:35] HammyHavoc commented on #1112
Threads are a must, especially coming from Slack. Once you get a decent number of colleagues discussing things in a channel then it can be hard to catch up, especially when hundreds of messages can occur very quickly.

[2017-12-06 06:36] HammyHavoc commented on #9017
Yep, this would be wonderful. I don't like to take attention away from important tasks, but do want to say things for when people have a chance to see it.

[2017-12-06 06:40] HammyHavoc commented on #8986
Lack of mobile support is irritating.

[2017-12-06 07:38] alexmsierra commented on #8987
Hi @rodrigok,

![screenshot from 2017-12-06 08-27-15](https://user-images.githubusercontent.com/23554295/33649789-8a77e662-da5f-11e7-86b6-2cfa9b26fc97.png)

[2017-12-06 09:20] reetp commented on #8934
Suggest you post your server settings and any other relevant setups details.
Anything in your mail server logs?

[2017-12-06 09:56] MrDragon commented on #8804
Well, upgrading from 0.59.2 straight to 0.59.6 (which I think is a patched version of 0.59.4) seems to have fixed things.

[2017-12-06 09:56] #8804 closed

[2017-12-06 10:29] mhenninghaus77 commented on #7980
Yes, this Workaround works at my instance too, thanks a lot!

[2017-12-06 10:54] kiselevo opened #9019 "Iframe integration: Sending commands NOT WORKING"
**iframe.contentWindow.postMessage("{ externalCommand: 'go', path: '/admin/General' }", '*');**

nothing happens

**IframeIntegration -> Enable Receive -> True**

still not working, any idea? Please help.

[2017-12-06 12:10] rodrigok commented on #8987
@alexmsierra Can you test pass `0` to `Search Page Size` to disable pagination?

[2017-12-06 12:22] mfraiss commented on #2422
+1

[2017-12-06 12:29] alexmsierra commented on #8987
@rodrigok

This seems to solve the issue at hand but I have to see how I solve the new error.
Also, I notice that the `memberOf` LDAP filters that I had, are missing after the upgrade.

[code]

[2017-12-06 12:43] jmoont commented on #6809
It seems that Office365 is set to use the body (payload) for the authorize and token and then the header for subsequent requests. Could you add the option to set "Token Sent Via" to something different for the identity request vs the Authorize and Token requests?

[2017-12-06 12:50] rodrigok commented on #8987
@alexmsierra Where that filter was located? In group filter? Can you share more information, like if the configuration is missing in your configuration, or if it's configured correctly but is not been executed as expected?

[2017-12-06 12:55] rodrigok commented on #6809
@jmoont We can try 😄  @mrinaldhar will start working on OAuth improvements soon, he will be able to answer this question soon.

[2017-12-06 13:02] jmoont commented on #6809
That sounds great but I'd like to confirm my idea (and get it working sooner!) - I've got RocketChat running on docker, on Ubuntu, on AWS - is there a way to build a version and deploy to the container or edit/hack the code on the container? Thanks.

[2017-12-06 13:17] martinvonwittich commented on #5013
This issue is one of the top 10 issues when sorting by +1, but it doesn't even have a milestone assigned (along with only two others from the top 10 list). It would be nice if we could see some progress on this; it's pretty annoying and seems to be an easy fix.

[2017-12-06 13:24] dmoldovan123 commented on #8919
+1

[2017-12-06 13:35] hExPY commented on #8766
Hi @graywolf336 ,

can you help out with https://github.com/RocketChat/Rocket.Chat/issues/8788 ?
The error still exists but even after fixing the image source and using a valid script, it's still broken with the same error.

Kind regards,

[2017-12-06 13:45] jmoont commented on #6809
Ok - I worked it out - edited/hacked it on my docker container and its working :)

[2017-12-06 13:49] rodrigok commented on #6809
@jmoont Can you show me what exactly you did? So I can try to fix it ASAP

[2017-12-06 13:51] alexmsierra commented on #8987
It was a user search filter.

It seems that it is not missing since I found this in the database:

`{ "_id" : "LDAP_User_Search_Filter", "type" : "string", "enableQuery" : "{\"_id\":\"LDAP_Enable\",\"value\":true}", "group" : "LDAP", "section" : "User Search", "packageValue" : "(objectclass=*)", "valueSource" : "meteorSettingsValue", "hidden" : false, "blocked" : false, "sorter" : 17, "i18nLabel"

[2017-12-06 14:52] mrsimpson opened #9020 "Find out whether a user has changed a setting"
### Description:
In order  to set defaults from code but not to change user-given settings, there should be an option to find out whether a setting has been manipulated by the user.

I expected `valueSource` to be made for this purpose, but it seems this remains `packageValue` also when changing it from the Admin-UI

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.3

[2017-12-06 15:00] graywolf336 commented on #9017
Is there any way you can see this being abused?

[2017-12-06 15:03] mrsimpson commented on #9020
value` is the current value of the setting and `packageValue` is the default one.
If the two are different, then the setting has been modified.

[2017-12-06 15:03] #9020 closed

[2017-12-06 15:03] jmoont commented on #6809
So I just commented out the case statement for the identity so that it used the header and then set my custom oauth to use the payload for the initial requests. This is obviously a hack to get it working but having the option to use a different "Token Sent Via" for the identity request vs the authorize and token ones would be a generic fix.

[2017-12-06 15:12] graywolf336 commented on #9020
:+1:

[2017-12-06 15:19] graywolf336 commented on #8788
I have verified it again with the latest `develop` branch version and it works fine. Make sure you're copying the code exactly as the example you pasted earlier had invalid characters and invalid code spread throughout, I have updated it with the latest linked from here: https://rocket.chat/docs/administrator-guides/integrations/jira/

[2017-12-06 15:19] #8788 closed

[2017-12-06 15:21] graywolf336 commented on #9017
I didn't have any scenario in my head, I was just wondering if there was anything.

We could have it enabled only on direct message rooms by default and a setting to enable it in other room types. :thinking:

[2017-12-06 15:34] HammyHavoc commented on #9017
Sounds good to me, though do think it needs a symbol indicating that it was a silent message, that way users won't get confused and think notifications aren't functioning. :- ) Eases them into the concept of a new feature. I imagine it would look/function similarly to OTR.

[2017-12-06 15:37] graywolf336 commented on #9017
What would be a good icon? :thinking:

[2017-12-06 15:38] pascal-t opened #9021 "It is Impossible to write 'ö' on US-International Keyboard Layout"
### Description:

Writing German (or other special) characters on an English keyboard Layout requires you to first selct the United-States International Layout. Then you can hit [rightAlt] + [Key] to write the desired Umlaut.
This works in most cases:
[Atl]+[Q] for 'ä' and the uppercase variant; [Alt]+[Y] for 'ü' and the uppercase variant; [Alt]+[S] for ß;
However this does not work for [Alt]+[P]

[2017-12-06 15:43] HammyHavoc commented on #9017
Something similar to this, I think: [https://icons8.com/icon/5782/silent](https://icons8.com/icon/5782/silent)

Perhaps my colleague @bryandesrosiers would be interested in contributing a graphic to RocketChat?

[2017-12-06 15:48] amenk commented on #9002
@graywolf336 Do you have an example?

[2017-12-06 15:57] graywolf336 commented on #9002
Do you have a custom script running on your integration? If so, you would merge this into it:

[code]

[2017-12-06 16:08] amenk commented on #9002
Thanks. No I use a webhook. Can I combine outgoing script and webhook?

[2017-12-06 16:45] ledainam opened #9025 "rocketchat instance stopped working"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.3
* Operating System: Centos 7
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: yes
* Node Version: 0.48.4

Dear support team,
I found some log related about connection from our instance to gateway.rocket.chat.

After this log, our instance stopped working.
i

[2017-12-06 17:41] graywolf336 commented on #9002
Yes you could.

[2017-12-06 17:59] eugenekainara commented on #8409
+1

[2017-12-06 18:00] #9002 closed

[2017-12-06 18:55] marceloschmidt opened #9026 "Upload two files at the same time and the file names get duplicated"
### Description:

When I upload two different files by drag and dropping them from Finder to the Rocket.Chat Electron App, both files get uploaded with the name of the first file.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.4
* Operating System: macOS High Sierra

### Steps to Reproduce:

1. Choose two files on Finder
2. Drag from finder onto Rocket.Chat Electron App
3. D

[2017-12-06 19:15] #7915 closed

[2017-12-06 19:22] flaviovs opened #9027 "Public gateway privacy clarification"
Can anyone elaborate a bit more about what travels through Rocket.Chat notification gateways?

I think that most people that self-host a RC server are interested in maintaining privacy control of the messages exchanged on them, and it is not clear what actually goes back and forth between self-hosted instances and the RC gateway WRT notifications.

More specifically, are message contents sent to R

[2017-12-06 19:38] paulovitin commented on #8665
I took a look in method which create direct message room, and property "name" for room is not setted. I believe just to fill the property with "username.of.the.other.user" then and the return will be auto.

Thats ok folks? If ok, I can send a PR later.

The problem is legacy direct messages rooms. Any idea?

[2017-12-06 20:08] hExPY commented on #8788
Hi @graywolf336 ,

thanks for verifying the problem. After I figured out the needed node version, made an upgrade and refreshed the installation, integrations are back in business.

Kind regards, :-)

[2017-12-06 21:12] sttyru opened #9028 "Log off a user by schedule"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: 0.58.4
* Deployment Method(snap/docker/tar/etc): by tar
* Number of Running Instances:  1
* DB Replicaset Oplog: Disabled
* Node Version: v4.5.0

_i removed templates for describe of errors because my issue was not linked with an abnormal behaviour._
Can you tell me the way for enforce disconnecti

[2017-12-06 22:06] #8002 closed

[2017-12-06 22:07] #8864 closed

[2017-12-06 22:07] #8891 closed

[2017-12-06 22:12] rodrigok commented on #8987
Can you change your filter to the old value? Seems it was a migration problem. That solves your problem?

[2017-12-06 23:56] kimgb commented on #7980
This test `if (!added || (added.localName !== 'use' && !added.children.length))` was giving me a ton of "undefined has no properties" JavaScript errors, and in this case I don't think the children length check is needed. You should be OK to replace it with `if (!added || added.localName !== 'use')` if the errors bother you or are causing actual trouble.

[2017-12-07 00:11] T-Motodate opened #9030 "[Windows App:Rocket.Chat+]New avatar won't be applied in my own's pc."
### Description:
At the windows app(the Rocket.Chat+).
New avatar, that uploaded in the "Avatar" pane in the my account section, won't be applied in my own's PC.
However, in the other PC's Rocket.Chat+, new avatar was applied.

### Server Setup Information:
*Rocket.Chat+ version ... 2.10.1. Howver, this issue occurred in ver 2.9.x

### Steps to Reproduce:
1. Moves to "My Acount" section.
2. Moves

[2017-12-07 00:22] glesio commented on #8752
Thank you for collaboration.

[2017-12-07 02:59] LiuSuY opened #9031 "请问这样该如何解决"
![image](https://user-images.githubusercontent.com/25116549/33696533-a3d0c65e-db3d-11e7-99df-770155a64a8e.png)

[2017-12-07 03:15] LiuSuY commented on #9031
![image](https://user-images.githubusercontent.com/25116549/33697033-deb4ddb2-db3f-11e7-9dae-15645dd26f38.png)

[2017-12-07 05:32] bryandesrosiers commented on #9017
I'm absolutely up for helping created some kind of graphic as an icon!

[2017-12-07 06:47] ledainam commented on #9026
+1 i have same issue with 0.59.3

[2017-12-07 08:25] alexmsierra commented on #8987
I also noticed that with the default value for `Username Field` under `Sync / Import` which by default is `sAMAccountName`, the sAMAccountName value from LDAP is not mapped to the `username` field in rocket.chat.

This is the log:
[code]

As you can see the `debug#033[39m userQuery { username: '' }` username field is blank.

The workaround I found for this was to leave the `Username Field` empty,

[2017-12-07 09:16] rixx opened #9032 "Send multipart emails"
### Description:

Currently, emails by rocketchat are HTML emails exclusively. It would be nice to send multipart (plain text plus html) emails instead.

[2017-12-07 09:34] hoanganh200870 commented on #8971
I'm in the same situation. I tried to put keys on admin site but it still doesn't work. It's hard to know the right way. Anyone can help?

[2017-12-07 09:35] codemug opened #9033 "Using `PORT` is not a good idea"
### Description:

Using the `PORT` environment variable for default rocket.chat port assignment is not a good idea. It can either lead to unexpected behavior or unintentional automation in certain scenarios such as deployment of rocket.chat docker container using an orchestration engine. I faced one issue when using DC/OS for deployment of a hybrid container that contains rocket.chat and another s

[2017-12-07 10:04] wijs9218 commented on #3644
@johnfelipe  How did you configure the SMTP with sendgrid credentials?

[2017-12-07 10:49] localguru commented on #9026
Might be duplicate of old and still unfixed bug #7291

[2017-12-07 11:30] shikhar-scs commented on #8827
The link https://rocket.chat/docs/administrator-guides/authentication/ldap/  already redirects to https://docs.rocket.chat/administrator-guides/authentication/ldap/. It might be that they have fixed it now and so this shouldn't be an issue now . close?

[2017-12-07 11:30] rodrigok commented on #8987
@alexmsierra That log indicates that wasn't possible to get the username from your LDAP user as you can see [here](https://github.com/RocketChat/Rocket.Chat/blob/vcapretz-move-mentions-folder/packages/rocketchat-ldap/server/loginHandler.js#L95-L96).

Are you sure that field `sAMAccountName` exists in your LDAP records?

[2017-12-07 11:36] shikhar-scs commented on #8827
Btw I have already found where to do that. @MartinSchoeler

[2017-12-07 11:57] rodrigok commented on #6809
@jmoont can you check if this PR solves your problem https://github.com/RocketChat/Rocket.Chat/pull/9034 ?

[2017-12-07 12:13] cardoso opened #9035 "[BUG] Single emoji breaking layout in room's last message preview"
Happening in 0.60.0. Reproducible at http://unstable.rocket.chat

Only happens when it's a single emoji character, otherwise everything is ok.

![](https://i.imgur.com/YfcB2uw.png)

- emoji too big
- is pushing room's name up

[2017-12-07 13:32] BNeuner commented on #7843
is there any intention to include this or another solution for the "import private messages from service xy" problem?

[2017-12-07 13:42] fadanner opened #9036 "Upload file is not working in Internet Explorer 11"
### Description:

When i try to upload a file or picture with Internet Explorer 11 (11.0.9600.18762 Update 11.0.45) the file upload doesn't work. The windows file selection dialogue shows up, but if I click open, nothing happens.
When i open the developer toolbar of IE11 it shows a Javascript error:

`e.remove() -> Object doesn't support property or method 'remove'`

Error even occurs on open.rock

[2017-12-07 13:48] graywolf336 commented on #8997
For future reference, please check the real time api: https://rocket.chat/docs/developer-guides/realtime-api/

[2017-12-07 14:13] cardoso opened #9037 "[BUG] Unneeded warning in payload of REST API calls"
Happening on 0.60.0

https://unstable.rocket.chat/api/v1/info
https://unstable.rocket.chat/api/v1/service.configurations

[code]

[2017-12-07 15:17] MartinSchoeler commented on #9031
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-12-07 15:17] #9031 closed

[2017-12-07 16:22] graywolf336 commented on #7775
@mbouchard what's the full url you're calling?

[2017-12-07 16:24] graywolf336 commented on #9026
Closing as duplicate of: #7291

[2017-12-07 16:24] #9026 closed

[2017-12-07 16:40] geekgonecrazy opened #9038 "Trying to access chatMessages before data present"
### Description:
Occasionally you'll reload and you'll just get a white screen.  Some times it'll take several reloads before it loads the page.

Boils down to this:
[code]

Taking a look at: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-ui-message/client/messageBox.js#L470

This makes sense.  Basically onRendered in this template is called before `chatMessages` has ev

[2017-12-07 16:45] geekgonecrazy commented on #9014
Possibly related to #9038

[2017-12-07 17:01] rodrigok commented on #8958
@paulovitin It seams to be related with no roles at all (missing the field).

[2017-12-07 17:01] geekgonecrazy opened #9039 "unread message bar misplaced when announcement used"
### Description:

![image](https://user-images.githubusercontent.com/51996/33727458-1731fa52-db46-11e7-98e8-cae4574f9712.png)
They say a picture is worth a thousand words

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.0+
### Steps to Reproduce:

1. Set an announcement
2. switch channels
3. have another user send a bunch of messages
4. come back to wacky placement

### Expect

[2017-12-07 17:04] geekgonecrazy commented on #9038
@ggazzo added you.  Looks like you were last in the area so might be most familiar :)

[2017-12-07 17:08] geekgonecrazy commented on #9010
looks like its in phantomjs used by another library.  We can at least look into it to see if we can resolve it.

Thanks :)

[2017-12-07 17:10] geekgonecrazy commented on #8958
I should probably spin off another issue.  But just remembered also an admin is unable to give a user a role when key doesn't exist or delete the user when roles key doesn't exist.

[2017-12-07 17:12] VibhorCodecianGupta commented on #7268
I'd like to work on this issue. I'll tamper around with the code and see what I can do!

[2017-12-07 17:13] geekgonecrazy commented on #8920
When it comes to mobile couple of things.

* iOS you must have https.  Its an iOS thing.
* Make sure you have websockets properly forwarded through by your reverse proxy.
* If you don't need to compile from source... don't.  Use official release, helps us help you when you are on an official release.  :)

[2017-12-07 17:15] geekgonecrazy commented on #8878
Going to close due to inactivity.  Please feel free to re-open or join our community server where someone might be able to help you out in real time. https://open.rocket.chat/channel/support

[2017-12-07 17:15] #8878 closed

[2017-12-07 17:21] #8752 closed

[2017-12-07 17:58] #1602 closed

[2017-12-07 18:23] #8377 closed

[2017-12-07 18:23] #8436 closed

[2017-12-07 18:23] madelung opened #9041 "Anonymous Read Default Room instead of Homepage"
Hello everyone!

I hope you can help me with the following topic:

From #6794, I would love to have the same option for anonymous readers as well instead of the homepage. Any advice on how to do it is truly appreciated.

Thanks.

[2017-12-07 19:01] joergludwig commented on #736
Thank you for your work. Unfortunately I think, the actual problem is not solved:

[2017-12-07 20:21] #8576 closed

[2017-12-07 20:53] mbouchard commented on #7775
I'm calling `/api/v1/channels.history?roomName=general&unreads=true&oldest=2017-01-01`. I think I don't really understand what the value of `unreadNotLoaded` means. I've been able to get something else than 0, but the value is not what I expect. I expect it to be the same as the number of unread messages I see in the Rocket.Chat app, but it's not the case. And if I use the `count` param, the value

[2017-12-07 21:10] geekgonecrazy opened #9043 "Multiple unread indicators"
### Description:

![image](https://user-images.githubusercontent.com/51996/33738884-7d2e9c06-db60-11e7-8b09-15e00aa180c2.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-develop

### Steps to Reproduce:

1. Get some messages
2. look briefly and remove focus
3. get some more messages
4. come back.

### Expected behavior:
Should maybe keep oldest of two?

### Actual behav

[2017-12-07 21:13] rodrigok commented on #736
@joergludwig Unfortunately there is no way to get the OS activity from inside the browser.

[2017-12-07 21:37] jgtoriginal commented on #8625
@himpich according to the [docs](https://rocket.chat/docs/developer-guides/rest-api/#rocket-chat-rest-api)

`api/v1/channels.list` Retrives all of the channels from the server.
`/api/v1/channels.list.joined`  Gets only the channels the calling user has joined.

So I'd assume that @Fab1en is right, this might be related to  #8729

[2017-12-07 21:44] jgtoriginal commented on #5945
@engelgabriel you mention the `new APIs` is there any issue to track progress on those?
I find the `rocketchat-api` package pretty well done, are you planning to extend it??
If so, I'd like to know more. Thx!

[2017-12-07 21:51] graywolf336 commented on #5945
@jgtoriginal The new APIs were added for our outgoing integrations. The pull request was merged and has been in production for quite some time now: https://github.com/RocketChat/Rocket.Chat/pull/5823

[2017-12-07 22:00] jgtoriginal commented on #5945
@graywolf336 ok, I got it then.
I was just being curious about the Rest API (which I'm using quite a bit) and the Realtime API (which I plan to use soon). And I see that today you guys updated the docs. And there's a lot going on on that arena. Just want to be sure I'm aware of any news related to these.

[2017-12-07 22:02] graywolf336 commented on #5945
@jgtoriginal Best place to keep updated is to watch our activity here on GitHub. We currently do not have a single source of news, except for GitHub, as to what has been added, removed, or changed. We are all on our community server of https://open.rocket.chat/, so feel free to come join us and ask any questions.

[2017-12-07 22:04] jgtoriginal commented on #8694
@dennispost you got an endpoint to both get and set settings. Check the [new docs](https://rocket.chat/docs/developer-guides/rest-api/settings/)

[2017-12-07 22:09] graywolf336 commented on #8694
@jgtoriginal sadly they're not user preferences, they're only the server's settings.

[2017-12-07 22:12] jgtoriginal commented on #5945
@graywolf336 ok, I'll go on and join you guys on the community server, where I happen to go once and again. Any specific channel though?? Mainly because here on GH I find issues related to occurring problems, but I'm more into what's the horizon here, what needs to get done, what's the roadmap. Maybe there's a specific channel for that. Thanks once again!!

[2017-12-07 22:17] jgtoriginal commented on #8694
@graywolf336 nice, I happen to need some user preferences methods, which I'm about to code the next week. Will focus basically on `name`, `email`, `avatar` & `password` for now.
I usually go by the code conventions when it comes to customization, is this something that might help you guys?

[2017-12-07 22:30] graywolf336 commented on #8694
@jgtoriginal Feel free to implement the user's preferences rest api and submit a pull request, we will review it and provide feedback. :+1:

[2017-12-07 22:32] graywolf336 commented on #5945
@jgtoriginal We do not have a channel for that, however any open issues are open game - if you want to work on something to implement it, tag me and I'll find out if someone else internally is working on it or not and if not then I'll let you know. :) `#dev` is a good channel which we have had some previous discussions in

[2017-12-07 22:36] jgtoriginal commented on #5945
@graywolf336 good to know, thanks for the heads up. and will keep you posted!

[2017-12-07 22:37] jgtoriginal commented on #8694
@graywolf336 will do, thx very much!

[2017-12-07 23:46] geekgonecrazy commented on #9017
I love this idea.

As long as its clearly marked as a silent message.  I can see drama being caused by someone saying: "I told you about it last night" even though used silent notification.

[2017-12-07 23:59] armand1m commented on #736
@joergludwig can you be more clear? you just copy pasted the message from @rockneverdies55 but didn't explained anything at all. If you want me to detect no activity with OS at all, I must say that I'm sorry because this is actually impossible without a chrome extension or something like that. But the PR was merged, the issue was closed and the desired functionality was delivered, I think I deserv

[2017-12-08 00:04] armand1m commented on #736
@joergludwig I've also asked for some feedback before starting to implement this feature, and no one even took the time to respond to some of my questions before I took the liberty to make the decisions about this feature myself. I think it is really not fair.

[2017-12-08 06:14] iruthaya commented on #8997
@graywolf336  Thanks for your valuable reply..

[2017-12-08 07:25] distlibs opened #9047 "Getting exception when logout using REST API /api/v1/logout"
### Description:

I get exception "Exception in removed observer/observeChanges callback: TypeError: connection.close is not a function" in Rocket Chat server when client logout using REST API  [/api/v1/logout](https://rocket.chat/docs/developer-guides/rest-api/authentication/logout/). Then user still online, but not logged. I did not have a problem before, since yesterday when I git pull latest c

[2017-12-08 07:55] codemug commented on #9033
My workaround for now was to reassign the `PORT` in a bash script

[2017-12-08 10:01] kau210 commented on #8729
The was a glitch somewhere, but removing and adding the permissions and restarting made it work. So from my side we can close this issue! Thanks!

[2017-12-08 10:01] #8729 closed

[2017-12-08 12:10] alexmsierra commented on #8987
Yes, I checked and it exists and it has the correct value.

This is the result of the ldapsearch

[code]

[2017-12-08 12:25] rodrigok commented on #736
@armand1m Your solution was a good solution, thanks.

@joergludwig We already have some improvements to get the OS activity when using the Desktop/Electron app, we can improve, please open an issue at https://github.com/RocketChat/Rocket.Chat.Electron/issues if you have suggestions.

Thank you guys.

[2017-12-08 12:29] rodrigok commented on #8987
Can you try to change your `sAMAccountName` to uppercase (`SAMACCOUNTNAME`) at your settings and try again?

[2017-12-08 12:40] armand1m commented on #736
@joergludwig can you accept the claim in the bountysource please?

[2017-12-08 12:44] #6612 closed

[2017-12-08 12:49] pierreozoux commented on #8396
I think it is not expected behaviour, can you reopen please?

[2017-12-08 13:06] asshewale commented on #1118
Hiii @maxlinux2000 : I have integrated Jitsi in Rocket chat actually we are using our own server instead Rocket chat or Jitsi, My issue is when two users are chatting and one of them initiating a video call to other user (For this we are using Jitsi) the other user should get notify about the video call initiated by user one and he will be able to connect to him.

I am not able to understand how s

[2017-12-08 13:10] #7662 closed

[2017-12-08 13:13] #7976 closed

[2017-12-08 13:16] alexmsierra commented on #8987
Switching to uppercase (`SAMACCOUNTNAME`) did the trick.

[2017-12-08 13:17] #6868 closed

[2017-12-08 13:21] #6773 closed

[2017-12-08 13:31] asshewale commented on #6773
@MartinSchoeler @sezinkarli @rodrigok @vkislichenko @sagarshah8814 @rasos : Hi Devs. I also want the same in iOS , I have integrated Jitsi, in Rocket Chat, on chat window of Rocket chat i have one button to initiate a video call to user/users i am chatting with,  So i want that other users should get a notification or something to joine to same conference created by me, as we have to create one co

[2017-12-08 13:39] joergludwig commented on #736
Sorry for the misunderstanding. I thought this issue was about detecting OS activity. We only use the desktop and mobile apps. I was not aware that there are different issue trackers for browser and app usage.

I accepted your claim in bountysource anyway to support further development of Rocket Chat.

[2017-12-08 16:13] armand1m commented on #736
thanks @joergludwig  🙂

@engelgabriel can you take a look and accept the bounty? :smile:

[2017-12-08 16:14] paul-siteway commented on #4489
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=38003640)](https://www.bountysource.com/issues/38003640-direct-messages-between-multiple-users?utm_source=38003640&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2017-12-08 17:58] geekgonecrazy opened #9050 "Add snippet name to list"
### Description:
Snippets were changed in #8937 no longer include the names with the snippets.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0

### Steps to Reproduce:

1. paste code
2. create snippet and name it
3. see name is missing :)

### Expected behavior:
should show name in the list

[2017-12-08 17:59] #8751 closed

[2017-12-08 17:59] #8585 closed

[2017-12-08 18:00] rodrigok commented on #8809
Closed via #8937

[2017-12-08 18:00] #8809 closed

[2017-12-08 18:10] #8032 closed

[2017-12-08 18:13] rodrigok commented on #8987
Awesome, so the issues here seems to be configuration issues only.

I'll close this issue, let me know if you still have problems and we open it again.

Thanks

[2017-12-08 18:13] #8987 closed

[2017-12-08 18:15] rodrigok commented on #6773
Hi @asshewale, can you explain your integration?

[2017-12-08 18:19] rodrigok commented on #7775
Hi @mbouchard , the `unreadNotLoaded` returns the amount of messages you have unread and server didn't returned on that request. It's not the total amount.

To get the total amount we verify if the `unreadNotLoaded` is greater then 0 the unread count will be the `unreadNotLoaded + request.count`, if not we need to check the `subscription.ls` property, that is a timestamp, sort the messages by `ts`

[2017-12-08 18:41] pierreozoux opened #9051 "Custom oauth nested usernameField"
### Description:

I'd like to setup Nextcloud as oAuth provider for RocketChat.
The json sent by Nextcloud on the identity path looks like this:
[code]

I tried `#{"ocs"."data"."id"}` in Username field but without success.

If I understand correctly the [current code](https://github.com/RocketChat/Rocket.Chat/blob/b44415903ff7c6ee76a67faafb584cfc7b3ea47a/packages/rocketchat-custom-oauth/server/cus

[2017-12-08 18:58] geekgonecrazy opened #9052 "Safari reply doesn't move cursor to end of line"
### Description:

On chrome, firefox, and desktop client when you reply your cursor is after the reply.  On safari the cursor shows up at the beginning

Resulting in messages like this:

![image](https://user-images.githubusercontent.com/51996/33780708-519461c2-dc17-11e7-8783-8dccba3d45f1.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.6

### Steps to Reproduce:

1. Open

[2017-12-08 19:20] #9047 closed

[2017-12-08 20:07] rafaelks opened #9054 "[BUG][API] sendMessage API is returning a non-related developer warning"
### Description:

New **sendMessage** API is returning a **developerWarning** property that's not related.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-develop

### Expected behavior:

- Should not return the **developerWarning**;

### Actual behavior:

[code]

[2017-12-08 20:08] theorenck opened #9055 "Fix alignment problems for all text inputs in admin sections"
### Description
Fix alignment problems for all inputs in admin sections
![image](https://user-images.githubusercontent.com/2522158/33783149-9caeb592-dc42-11e7-842e-93acfb3068ca.png)

[2017-12-08 20:08] rafaelks opened #9056 "[BUG][API] channel.members is returning error for GENERAL room"
### Description:

API is returning error, but works for other rooms.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-develop

### Expected behavior:

- Should return the members list;

### Actual behavior:

[code]

[2017-12-08 20:09] rafaelks commented on #9037
#9054 complements it.

[2017-12-08 20:22] rafaelks opened #9057 "[IMPROVEMENT] Compress JSON instead of sending it in a "nice" format"
### Description:

Today the REST APIs are returning with spaces and line-breakers. We could remove everything and reduce the payload size with that.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-develop

### Steps to Reproduce:

1. Request any REST API;

### Expected behavior:

- It should return compressed;

Example of commands API:

[code]

### Actual behavior:

[code]

[2017-12-08 20:24] graywolf336 commented on #9057
TODO: `prettyJson = NODE_ENV !== 'production';`

[2017-12-08 21:35] geekgonecrazy commented on #9051
doesn't look that will work no matter how you slice it.  Honestly not sure what the #{ } support is supposed to even really accomplish.

[code]

returns error.

I've used this solution before in the past: https://stackoverflow.com/a/22129960
[code]
would let you just use `ocs.data.id`

@sampaiodiego @rodrigok thoughts?

[2017-12-08 22:06] geekgonecrazy commented on #8403
closed with #9042

[2017-12-08 22:06] #8403 closed

[2017-12-08 22:09] geekgonecrazy opened #9059 "Disconnect websocket when idling at login page"
### Description:
Un-necessary load to have websocket stay open when someone is just sitting at the login page.

Maybe reconnect if they start to try to actually login?

[2017-12-09 07:58] Levainen opened #9060 "Users with the same emails are not added to the list of users."
My Setup
- Operating System: ubuntu server 16.04
- App Version: 0.59.4
- Deployment Method: snap

Greetings.
At me in the company there are some departments. At each department one mail box which is registered in LDAP and some users.
Is it possible to untie the user's identification from the mail and only bind to the login?

Thank you in advance.

[2017-12-09 11:34] anuardaher commented on #9057
I would like to be assigned on this one.

[2017-12-09 19:54] graywolf336 commented on #9057
@anuardaher feel free to submit a pull request to add this functionality. :+1:

[2017-12-10 11:06] lhaig commented on #8664
I see the same error for an old user that was deleted.

Version	0.57.1
Database Migration	99

Docker container

[2017-12-10 18:49] VibhorCodecianGupta commented on #9057
I'd like to work on this issue. Could we gZip the incoming JSON response to compress it down?

[2017-12-10 19:04] graywolf336 commented on #9057
No. We will leave the gzipping to the web server, such as caddy or ngnix or Apache.

But feel free to submit the pull request for what the issue here describes. 👍🏼

[2017-12-10 19:27] VibhorCodecianGupta commented on #9057
Is the ngnix(/caddy/Apache) configuration already done in the repo? I couldn't pinpoint the code suggesting that.
Also, you mean that gzipping will be left to the server, the issue only requires, say, configuration of something like ngnix, and we're good to go?

[2017-12-10 20:59] geekgonecrazy commented on #9057
You are over thinking it 😁

Basically the idea is turn pretty print off and let reverse proxies take care of compression.  In the API declaration there is a property to enable pretty print.  So just flipping it off if node_env=production is all that's needed :)

[2017-12-10 21:27] georgeowell opened #9061 "rocketchat container fails to connect to mogodb"
### Description:

I was just wondering if anyone could help me with this? It's quite urgent and I'm not really sure how to troubleshoot further.

It seems the recommended docker-compose file has been [changed quite a bit](https://raw.githubusercontent.com/RocketChat/Rocket.Chat/develop/docker-compose.yml) since I started so I wondered if there is some changes I should be incorporating into my own

[2017-12-10 22:23] jszaszvari commented on #9057
@geekgonecrazy thank you. I wanted to say something but didn't as I'm pretty grumpy today.

as that song goes, "you took the words right out of my mouth"

[2017-12-11 03:51] madelung opened #9063 "Misleading Info for New Users that are Manually Approved"
When the setting for "Email Verification" and "Manually Approve New Users" are set to "True", upon registering, the new user is shown this information:

It doesn't mention that the user need to verify its email address first.

How to change the text?

[2017-12-11 05:03] geekgonecrazy commented on #9043
We might should get this one solved before releasing 0.60.0

[2017-12-11 05:59] asshewale commented on #6773
Hi @rodrigok Thanks for your valuable time, i have integrated the Jitsi in Rocket chat using following steps

1. I downloaded Jitsi Clone from [jitsi/jitsi-meet](https://github.com/jitsi/jitsi-meet)
2. Then i followed the steps given under [Jitsi Meet SDK for iOS](https://github.com/jitsi/jitsi-meet/tree/master/ios)

I have integrated this in Rocket chat clone, so one the chat window of Rocket Cha

[2017-12-11 06:41] maxdwit commented on #6535
@rodrigok Maybe a cleanup/verify database script would be helpfull?

[2017-12-11 08:23] distlibs opened #9064 "User still online after logout using REST API /api/v1/logout"
### Description:

User still online after logout using REST API [/api/v1/logout](https://rocket.chat/docs/developer-guides/rest-api/authentication/logout/). Also websocket connection are killed. I did not have a problem before. Earlier statusConnection field in User collection was automatically setted to offline after some time. I think it's related to [#9047](https://github.com/RocketChat/Rocket.

[2017-12-11 08:46] HammyHavoc commented on #6405
Would love to see this; a member of our team is legally blind and struggles with black text on a bright white background, but likewise, some of our team prefer that. Themes change the UX for everybody rather than on an individual level, so per-user themes and/or a dark mode per user would be amazing for accessibility, and even I could appreciate it as I spend so long staring at screens.

[2017-12-11 11:33] HammyHavoc opened #9065 "IFTTT Support"
IFTTT support would be really cool; Convo and Skype have got some great integration with IFTTT, but the uses are endless.

[2017-12-11 12:09] MartinSchoeler commented on #9030
@T-Motodate Does this happens only on the desktop app? If yes, please close this issue and open it here: https://github.com/RocketChat/Rocket.Chat.Electron Thanks!

[2017-12-11 12:18] MartinSchoeler commented on #9061
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-12-11 12:18] #9061 closed

[2017-12-11 12:21] jmoont commented on #6809
Yes - works well. Thank you for the quick turnaround.

[2017-12-11 13:12] rodrigok commented on #6809
Closed by https://github.com/RocketChat/Rocket.Chat/pull/9034

[2017-12-11 13:12] #6809 closed

[2017-12-11 13:13] rodrigok commented on #6809
Awesome, thanks @jmoont

[2017-12-11 16:41] VibhorCodecianGupta commented on #9057
@geekgonecrazy Yep, I got that but I thought maybe I was oversimplifying it :P
So I was looking for API declaration in the code and failed to find any. Could you please direct me to the piece of code I might be missing?

[2017-12-11 17:27] Kusmarius opened #9069 "Can't set user as owner / moderator for the channel"
According to documentation from:
https://rocket.chat/docs/user-guides/channel-actions/
user can do the following actions:
**Members List**
...
...
Set that user as owner of the channel;
Set that user as moderator of the channel;
...

However it's just a member list.
Even Role admin can't do the operations stated in the documentation.
Simply there is no such option in Rocket chat version 0.59.4.

H

[2017-12-11 17:42] VibhorCodecianGupta commented on #9057
Nevermind, I figured it out. Here is a PR regarding the same.

Just about the time I referenced this PR, I noticed that @graywolf336 worked on the same issue as well :D #9070

[2017-12-11 17:43] VibhorCodecianGupta commented on #9057
#9070

[2017-12-11 18:22] #9057 closed

[2017-12-11 18:24] #8632 closed

[2017-12-11 18:43] diogorocha18 opened #9071 "Rocket Chat turned on as soon as I leave my VPS"
Hi,
Unfortunately I can not get Rocket Chat turned on as soon as I leave my VPS, can you help get some solution to ALWAYS stay connected?

greetings

[2017-12-11 19:37] VibhorCodecianGupta commented on #9037
The reason this developerWarning pops up in API responses is that `result.developerWarning` property is specified in the success function, which fires upon a successful API call. A simple commenting out of the statement should suffice, but there is a catch.

`// TODO: Remove this after three versions have been released. That means at 0.64 this should be gone. ;)`

This statement right here rests j

[2017-12-11 19:39] VibhorCodecianGupta commented on #9054
#9072 Resolves the issue. Detailed discussion at #9037

[2017-12-11 19:53] diogorocha18 commented on #9071
Im Resolver, ty xd

[2017-12-11 19:53] #9071 closed

[2017-12-11 20:21] HammyHavoc opened #9073 "Live chat in WordPress plugin says "is_typing" when someone is typing"
The WordPress plugin's live chat says "is_typing" when someone is typing, that needs amending ASAP as it doesn't look too trustworthy to prospective customers.

[2017-12-11 20:23] HammyHavoc opened #9074 "Usernames appear instead of display names in Live Chat"
As the title says; usernames appear in the live chat instead of display names, having lower case names doesn't really look all that professional, at least need the option of using the display names.

[2017-12-11 20:26] hartois commented on #9069
1. Open Members list
2. Click on member:
![scr999](https://user-images.githubusercontent.com/11641656/33852181-8fe51d12-deca-11e7-9790-088826adada8.png)

[2017-12-11 20:27] HammyHavoc opened #9075 "Consider consolidating Live Chat menu contents into Administration"
I think it might make sense to consolidate/combine these two areas as having them spread between a separate configuration area in the menu and in Administration doesn't make too much sense and is very confusing for initial setup.

[2017-12-11 20:30] hartois commented on #9069
I think that for a more understandable interface, need to add the "settings" icon or something like that.
It took me about 15 minutes to find these buttons))

[2017-12-11 20:41] HammyHavoc opened #9076 "Allow replies on Windows 10 desktop notifications like Skype"
Skype allows users to respond directly to a message's notification, it would be really nice if we could do this in RocketChat, it's disruptive opening and closing the window sometimes. :- )

[2017-12-11 20:50] graywolf336 commented on #9054
Duplicate of #9037

[2017-12-11 20:50] #9054 closed

[2017-12-11 20:50] HammyHavoc commented on #8777
Quite like the reaction icon, useful for when writing a reply is inconvenient, something I liked about Discord and Facebook.

[2017-12-11 20:51] HammyHavoc commented on #8776
I'd quite like to see message bubbles as an option; something that works really well with Skype in complex conversations involving multiple people. Obviously this should be set per user and not for a whole server as I can see it not being to some peoples' taste.

[2017-12-11 20:55] graywolf336 commented on #9037
Why the warning? Because the default field selector has changed and removes all of the `usernames` from any of the returned models from the database. So, technically this warning isn't unneeded as we, Rocket.Chat, don't have a great way to get the message out to people that something has changed which is possibly breaking to the consumers of the rest api. However, the way the message is sent could

[2017-12-11 21:03] HammyHavoc commented on #8301
The UX looks far more modern like that; good use of space.

[2017-12-11 22:45] #3887 closed

[2017-12-11 22:51] rodrigok commented on #8239
@Venomen What if we have an option to automatically hide inactive rooms like skype does?

[2017-12-11 23:17] gwpantazes commented on #4489
@simonv3 With the note that a named group wouldn't carry the previous private message history into the channel, the newly named channel would start fresh with the members of the private message.
I think "unnamed" is the right idea, but the "name" of (or way of identifying) the private message "channel" would just be the members participating, right?

[2017-12-11 23:31] ggrish opened #9077 "Creating new public channel is not working"
### Description:
When I try to create new public channel, it is failed and shows this error message on consoel.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-develop
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version: 4.6

### Steps to Reproduce:

1. Press '+' button which is in r

[2017-12-12 00:10] simonv3 commented on #4489
Yeah, I would think so.

[2017-12-12 00:13] ggrish commented on #9077
sorry
only the last commit is for this error
https://github.com/RocketChat/Rocket.Chat/pull/9078/commits/e448a614a51450a1d78c995b23364d1e76787714

[2017-12-12 00:19] jszaszvari opened #9079 "0.60-rc0 NodeJS Version"
@rodrigok

Regarding the 0.60rc0

It might be worth noting on the release that the node.js version has changed from 4.8.4 to 8.8.1 so people can update their build environments

[2017-12-12 00:20] jszaszvari commented on #9079
Closing as it’s more just to notify @rodrigok

[2017-12-12 00:20] #9079 closed

[2017-12-12 00:48] Kusmarius commented on #9069
Well "click on user" opens a private chat in my case.
Simply there's no menu options like your screenshot nor any buttons.

@hartois
Where did you found those buttons?
Thanks

[2017-12-12 05:40] nerfe commented on #8556
This bus isn't fixed in 0.59.4, i tested ` ```U...``` ` in the sandbox rocket chat made the room crash.

[2017-12-12 05:47] hartois commented on #9069
![scr667](https://user-images.githubusercontent.com/11641656/33869295-001425b2-df19-11e7-9d78-7d1252dcb4a3.png)
![668](https://user-images.githubusercontent.com/11641656/33869299-05efbef6-df19-11e7-80f3-bdaef2088d33.png)

[2017-12-12 06:42] k4ni5h opened #9080 "Remove from the group in UI before leaving the group."
### Description:
When solo owner leaves the group, group name removed from UI on warning prompt.

### Server Setup Information:
* Version of Rocket.Chat Server:
* Operating System:Arch Linux-64bit
* Deployment Method(snap/docker/tar/etc):snap

### Steps to Reproduce:
1. Create a group having more than 1 member with 1 owner.
2. If the owner tries to leave the group show a warning prompt "You are th

[2017-12-12 07:14] distlibs commented on #9064
I think this issue come after this commit [Improve API login endpoint to be compatible with DDP](https://github.com/RocketChat/Rocket.Chat/commit/06ddcc267aa8a68aa64a25c9c7920ae0ba7a7a42) . UserPresence.activeLogs(); prints two connections for same user. After logout one connection killed and one still exist.

[2017-12-12 07:25] kanishonpc commented on #9080
I wants to work on this issue. Can I proceed?

[2017-12-12 07:27] T-Motodate commented on #9030
@MartinSchoeler Thank you for your reply.
Yes, and excuse me that I'd recognized this space includes the desktop app.
I close this issue, and open again there.

[2017-12-12 07:27] #9030 closed

[2017-12-12 07:31] uselessanim commented on #4377
@MartinSchoeler  About sorting messages by last activity. Is there any way to enable this feature by default for my server? If no, I think it would be a very useful feature.

[2017-12-12 07:43] jamesdwilson commented on #3211
I would appreciate just the setting to hide message content in the emails, globally.

[2017-12-12 09:49] rajan-goswami opened #9082 "Rocket.Chat not loaded in Safari browser on Windows."
### Description:

Running Rocket.Chat on Safari (version 5.1.7) not loading.
hitting https://open.rocket.chat/home not opening rocket.chat

### Server Setup Information:

* Version of Rocket.Chat Server: Unknown
* Operating System: Windows 10
* Deployment Method(snap/docker/tar/etc): None
* Number of Running Instances:  None
* DB Replicaset Oplog:  None
* Node Version: Default

### Steps to Reprod

[2017-12-12 09:49] rrepolona opened #9083 "Problem with uploading multibyte filename (Japanese character filename)"
Problem with uploading multibyte filename. Japanese character filename

### Description:
Problem with uploading any multibyte filename or japanese character filename.
Using AWS s3 for storage type. For english character filename the upload is always successful, we are using this for almost a year. But recently we need to upload this japanese character filename due to a client project. this is were

[2017-12-12 10:52] VibhorCodecianGupta commented on #9037
I see. That is what I suspected, apologies. I knew the comment was there for a reason, but now I get you that there needs to be a way to communicate that to the consumers of the api. The first bullet point seems like a sweet fix. Should I implement this?

[2017-12-12 11:02] dmoldovan123 commented on #8919
to resolved this issue go to:
administration->MESSAGE->Markdown->Markdown Parser and select Marked.

[2017-12-12 11:26] phidlipus commented on #8919
It helped. Thank You.
It's only workaround. Isn't it?
I don't understand clearly to this part of configuration. Is there som documentation about it?

[2017-12-12 12:24] AmShaegar13 opened #9086 "Cannot create rooms in 0.60.0-rc.0 in Firefox 57"
### Description:

Cannot create rooms anymore.

I am using Firefox 57.0.2 (64-bit) on Arch Linux.

I am aware of #9077 but I'm running 0.60.0-rc.0 and get no error in browser console nor server log. Also, this happens with Firefox only. Chromium can create channels and groups.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-rc.0
* Operating System: Debian 8.10
* Deployment

[2017-12-12 12:50] ArchimedesFM opened #9087 "LDAP sync of usernames with umlaut ist not correct"
### Description:

Usernames with umlauts are not correct while been created via LDAP sync.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.3
* Operating System: Ubuntu LTS 16.04
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances:  1
* DB Replicaset Oplog: active
* Node Version: 4.8.4

### Steps to Reproduce:

1. Create a new User via LDAP sync - user

[2017-12-12 13:42] VibhorCodecianGupta commented on #9064
@distlibs I couldn't spot `UserPresence.activeLogs();`. Could you pin-point the exact location of the code? I am trying to understand the websocket process. Where is the socket being opened? It'd be great if you could just point it out :D

[2017-12-12 13:56] wakkorottix opened #9089 "Add "Mark as unread" option to the room list"
### Description:

#8915 Adds an "Mark as read" option to the room list,
is it possible to add an "Mark as unread" option to the room list? (like in Skype)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.6
* Operating System: Ubuntu 16.04 LTS 64-bit
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:

### Steps

[2017-12-12 14:16] distlibs commented on #9064
`/home/adminas/dev/Rocket.Chat/packages/rocketchat-livechat/server/unclosedLivechats.js`
I added `UserPresence.activeLogs();` myself for user presence testing:

[code]
Now try to login with REST API /api/v1/login and then login with Realtime API using an authentication token returned by REST API.
`

[2017-12-12 14:29] ndousson commented on #8564
I can confirm that this always happen in chrome with the latest release (0.60.0-develop). We use RC in entreprise and all collabs have the problem. Hope that will can be fixed one day.

[2017-12-12 15:10] TwizzyDizzy commented on #9086
this is a dupe of: #9077

[2017-12-12 15:17] TwizzyDizzy opened #9090 "Create a New Channel dialogue: no scrolling possible if window small"
### Description:

If you have a very small browser window or a small screen and you try to add a new channel, then the situation might arise, where you want to create the "Create" button but cannot reach it, because you cannot scroll down.

Might also be present for other dialogues - haven't tested that.
I also haven't tested, whether this is also present in earlier versions or whether this has be

[2017-12-12 16:47] AmShaegar13 commented on #9086
If so, I'm sorry. But I wasn't sure. I don't get a

Nothing happens in my case. Also, Chromium works just fine. Nvm, we'll find out ;)

[2017-12-12 17:33] johnantoni commented on #8870
thanks @phuyem , looking into it myself.

[2017-12-12 18:11] karlprieb opened #9093 "UI bugs on 0.60 release"
small button
![image](https://user-images.githubusercontent.com/9200155/33900647-5a3c27a0-df56-11e7-86ad-213fd018f88c.png)

scroll on "Create a New Channel" page:
![image](https://user-images.githubusercontent.com/9200155/33900664-69fa00e0-df56-11e7-98e7-73a5bde3e4d0.png)

big icons on channel list:
![image](https://user-images.githubusercontent.com/9200155/33900675-7a92fbe6-df56-11e7-8b1c-df5c3de

[2017-12-12 18:35] Kusmarius commented on #9069
@hartois

That's exactly what im doing...however it opens a private chat window.
What could be wrong?

[2017-12-12 19:39] TwizzyDizzy commented on #9090
Closing this issue in favour of newly created #9093 that seems to handle UI bugs/regressions in 0.60.0-rcX.

[2017-12-12 20:31] andreas-bulling commented on #7438
same issue here

[2017-12-12 20:44] cardoso opened #9096 "[BUG] Upload REST API not honoring file size limit"
@RocketChat/core

/api/v1/rooms.upload/:rid added in #8947

You can upload files of any size despite of the limit settings.
Tried with and without admin account.

[2017-12-12 21:09] Lemmmy opened #9097 "Error during migration to latest commit"
[code]

On develop commit b4c4b0b, server fails to start with a migration error. Server is in a replicaset, other nodes running fine. I am updating from 1bcba85.

[2017-12-12 21:14] geekgonecrazy commented on #9096
Need to check file size before we actually upload: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-api/server/v1/rooms.js#L76

[2017-12-12 21:17] Lemmmy commented on #9071
Run it in a systemd service, snap, docker container, screen, tmux or pm2.

[2017-12-12 21:36] Nitrowolf commented on #2355
Ugh, almost 2 years later and this is still not a thing. :(

[2017-12-12 21:53] TwizzyDizzy commented on #9097
Hey @Lemmmy,

while you obviously are capable of building your own RC from specific commits it would still be appropriate to adhere to the issue template ([the text you removed when opening this bug](https://github.com/RocketChat/Rocket.Chat/issues/new)) in order to help friendly community members to better help you.

Thanks ;)
Thomas

[2017-12-13 01:26] jszaszvari commented on #3551
@geekgonecrazy Do you have any idea what component might be causing this?

I'm willing to try and look into it but i cant pinpoint the component causing it.

[2017-12-13 03:10] ledainam commented on #8534
still missing in tar release link for 0.60
![image](https://user-images.githubusercontent.com/25676833/33919935-dc6280d4-dfed-11e7-8e02-cf3a4965556d.png)
https://github.com/RocketChat/Rocket.Chat/releases/tag/0.60.0-rc.0

[2017-12-13 04:27] joshuaspence opened #9098 "Support the use of IAM instance profile credentials"
### Description:

It seems that the S3 file storage functionality requires an access key and secret access key, although it's possible that I am doing something wrong given that the UI didn't seem to complain when I did not provide these values.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-rc0
* Operating System: Ubuntu 16.4
* Deployment Method(snap/docker/tar/etc): TAR

[2017-12-13 04:29] jk2081 commented on #658
+1

[2017-12-13 04:34] jk2081 commented on #1112
+1 for Twist type threading

[2017-12-13 09:01] pawhal opened #9099 "Screen sharing in Video Chat stucks at loading"
Hi. While trying to share a screen via Video Chat the loading circle keeps moving but nothing happens
![untitled](https://user-images.githubusercontent.com/28776795/33929443-cdd883d2-dfe9-11e7-8de3-98c45986356a.png)
Jitsi server is fully functioning (screen sharing also) on both browsers (Chrome and Firefox).
Video and audio are great and the only thing that doesn't work is sharing a screen.

###

[2017-12-13 09:11] mrsimpson opened #9100 "[Wishlist/Feedback] Rocket.Chat in 2018 - on premise adoption"
### Description:

The year's end is approaching and we as consumers of and contributors to Rocket.Chat are thinking where we'll be heading to in 2018.

Our setting: We're a small group inside a big company providing Rocket.Chat on premise as alternative to SaaS-Services. We currently serve about 2000 users in about 30 clients - and it will hopefully be much more soon. We act as kind-of reseller an

[2017-12-13 09:22] ajaysharavat opened #9101 "A single user record in users collection reached to max limit 16 mb"
Hi,
A single user document in user collection reached to max limit 16mb. Now that user couldn't login in application.
Please help me here.

Regards

### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:

### Steps to Reproduce:

1.
2.
3.

#

[2017-12-13 09:24] johnassel opened #9102 "0.60.0-rc.0 fails to start"
When upgrading to 0.60.0-rc.0 via the pre-build binaries Rocket.Chat won't start anymore:
journald states the following:
[code]

I tried fixing the error by removing "{" and "}" in the stated line which is
const pause = require("./debug.js");
afterwards.

Then Rocket.Chat complains about node-fibers:
[code]

As stated in the release notes node is updated:
[code]

After downloading and extracting t

[2017-12-13 09:31] diogorocha18 opened #9103 "Sub domains in chat"
Good afternoon,

I would like to know if it was possible to create systems of private groups like Slack, test.rocket.chat being chosen from the beginning the sub domain desired by each one, each having full control over that created sub domain chat or something similar.

Thanks for replay..

[2017-12-13 09:35] torgeirl commented on #658
@geekgonecrazy are you able to elaborate on what you're currently working towards? For instance, would it be something similar to Mattermost's (and Discords?) model with one user on the server that can join/be added to more than one team, or like Slack where the user can switch between different accounts on different instances (/servers) in the UI?

Besides the leak of PostgreSQL support (issue #5

[2017-12-13 10:12] jszaszvari commented on #9100
Could not agree more. The mobile apps and this feature should be the core focus as that’s where every other competitor is bounds ahead at the moment.

What surprises me is that more noise has not been made about features like slacks interactive messages which allow end to end workflows to be completed in the chat. That’s the sort of stuff that the big adopters are after.

[2017-12-13 10:33] jszaszvari commented on #9100
I came across this a long time ago , I think it’s from a presentation that @engelgabriel  did a long time ago, and it was exactly the direction that things needed to be heading In ![6c5cf199-c2b3-4a35-a12c-3e4e85b48568](https://user-images.githubusercontent.com/872463/33934434-fd50a500-e04c-11e7-8b04-bc642215f9e5.png)

It feels like it’s been left to one guy on the side, who’s doing an amazing job

[2017-12-13 10:39] codyx opened #9104 "SAML error on IE11 - No matching login attempt (credentialToken undefined)"
_First thing first, it actually works on Chrome so the SAML setup is properly configured._

### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.6
* Operating System: linux x64 4.13.0-17-generic
* Deployment Method(snap/docker/tar/etc): docker+ansible
* Number of Running Instances: 1
* DB Replicaset Oplog: disabled
* Node Version: 8.9.0

### Steps to Reproduce:

1

[2017-12-13 11:35] Lemmmy commented on #9097
I seem to have resolved this issue by reinstalling Meteor and doing a clean build. It seems Meteor was too outdated for the build to complete.

[2017-12-13 11:35] #9097 closed

[2017-12-13 11:37] MartinSchoeler commented on #9087
duplicate of #3451

[2017-12-13 11:37] #9087 closed

[2017-12-13 12:45] amonemian opened #9105 "Rocket-Chat Livechat bad request received"
I am trying to connect to my rocket-chat server by Java Stomp Websocket client. but at the begining, after receiveing "o" and "server_id : 0", I receive "msg: error, reason: Bad request" from server.

Would you please help me on this issue?

Thanks in advance,

[2017-12-13 12:55] amonemian commented on #9105
As I mentioned in [issue#8896,](https://github.com/RocketChat/Rocket.Chat/issues/8896) I am trying to link livechat and telegram together. The current issue is based on that issue.

[2017-12-13 12:59] MartinSchoeler commented on #9105
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-12-13 12:59] #9105 closed

[2017-12-13 13:06] Gummikavalier commented on #9101
You could try something like this:

Login to rocketchat (as root):

`mongo rocketchat`

Then check what is using up space on that user's document:
`db.users.find({'username': 'yourusernamehere'}).pretty()`

If some specific data seems to repeat endlessly, or there is an some entry with clearly too much of data, you'll hit the shell limit. Normally you should not, as user document normally would ha

[2017-12-13 15:13] atirjavid commented on #6669
I'm having this issue on 0.59.4 -  None of the posted links generate a preview.

[2017-12-13 16:24] #9093 closed

[2017-12-13 16:49] rodrigok commented on #9102
run-rc.sh
[code]

Output
[code]

[2017-12-13 17:37] #9086 closed

[2017-12-13 17:57] rodrigok commented on #9033
@codemug that env variable `PORT` is handled by the framework MeteorJS, we don't have control over it. Please open an issue in their repository https://github.com/meteor/meteor/issues

[2017-12-13 17:57] #9033 closed

[2017-12-13 18:18] rodrigok commented on #9027
Hi @flaviovs

The entire content of push notifications are sent to our gateway, over HTTPS, and afterwards send to Apple/Google, we do not store any information and we can't identify servers or users.

We store 2 things:
1. Metrics, only the count (number) of notifications sent to Apple and to Google to track if we need to scale
2. The device token (in memory) when Apple/Google reply with error to

[2017-12-13 18:22] rodrigok commented on #9025
Can you try change your gateway setting to some invalid website address and test if it affects your instance?

[2017-12-13 18:25] rodrigok commented on #9019
Can you paste here a screenshot of your iframe admin configuration?

[2017-12-13 18:34] geekgonecrazy commented on #9102
Your error looks like you're using an old version of node.js

With 0.60.0 node.js 8.x is required.  Please see release notes :)

[2017-12-13 18:35] #9096 closed

[2017-12-13 18:35] #9056 closed

[2017-12-13 18:54] Xqua commented on #8396
I'm happy to reopen this issue, though I don't know how it happened or how to reproduce it.

[2017-12-13 18:56] #9064 closed

[2017-12-13 19:36] kiselevo commented on #9019
Closing the issue. Valid code:

this.iframe.nativeElement.contentWindow.postMessage({
                externalCommand: 'login-with-token',
                token: token
 }, '*');

[2017-12-13 19:36] #9019 closed

[2017-12-13 19:57] #8775 closed

[2017-12-13 20:10] sinteur opened #9112 "email notifications on DM even when disabled"
I had a complaint from a user who told me email notifications for direct mentions were being sent despite it being disabled in profile.  I checked mongo, and here's what's in the database:

{ "_id" : "...", <snip>
"emails" : [ { "address" : "REDACTED", "verified" : true } ],
 "settings" : { "preferences" : { <snip> "emailNotificationMode" : "disabled",  <snip> },
 <snip> }

Looks like something is

[2017-12-13 23:24] lightweight commented on #2101
Would be great to include Open Document formats by default, too... `application/vnd.oasis.opendocument.*`

[2017-12-13 23:27] lightweight commented on #2101
I note that manually specifying `application/vnd.oasis.opendocument.*` (and restarting the server) does not seem to successfully allow `application/vnd.oasis.opendocument.text`- am I misunderstanding how "*" (wildcards) work? I'm on 0.59.4

[2017-12-14 00:51] flaviovs commented on #9027
@rodrigok, thank you for the comprehensive response.

Quick question: do the settings under "Push" configuration ("Show channel/group/username in notification" and "Show message in notification") change anything WRT channel/user and message contents that are sent to the RC gateway, and Google/Apple afterwards?

[2017-12-14 06:03] freyderBard opened #9113 "How to send direct message in Rochet Chat using REST Api?"
I work with codeigniter. And i try to build own chat in my project using REST APi of Rochet Chat. But I don't know how to send private message or create direct room. In documentation this topic doesn't exist.If you know ansver help me. Thanks.

[2017-12-14 06:58] maxdwit opened #9114 "Question: snap 0.59.6 says it is 0.59.4, latest tgz supplies 0.59.3"
Can someone please explain the current version?

- snap 0.59.6 says it is 0.59.4,
- latest tgz supplies 0.59.3

It's early in the morning. sip coffee.
I meant: When is the curl to the latest tgz supplying 0.59.4/0.59.6 . Sorry.

[2017-12-14 07:15] janrudolph commented on #8007
@rodrigok Oh okay, then updating the label is fine for me. Thanks for your reply. Do you open a new issue for that?

[2017-12-14 08:40] sinteur opened #9115 "feature wish: GPG encrypted email"
For @ mentions, email is sent unencrypted. This might leak confidential info. It would be nice if outgoing email was encrypted with GPG if the target email address has a public key available on one of the key servers ("gpg --search-key someone@example.com")

[2017-12-14 09:05] johnassel commented on #9102
Yes, indeed it used an other node version than the installed v8.9.3.
Note: When updating node the systemd service file has to be updated as well... ;)

[2017-12-14 09:05] #9102 closed

[2017-12-14 09:06] mey5am opened #9116 "failed when gradle is syncing"
every time imprt the source to android studio 3.0 show this error
Error:Project :xabber declares a dependency from configuration 'compile' to configuration 'default' which is not declared in the descriptor for project :xabber:MemorizingTrustManager.

[2017-12-14 09:10] mey5am commented on #9116
![untitled5](https://user-images.githubusercontent.com/34536128/33984190-fb00fc80-e0cb-11e7-848b-fb69f11f6ba5.png)

[2017-12-14 09:12] mey5am commented on #9116
just Explanation me very very simple

[2017-12-14 09:25] gnidorah opened #9117 "Channel creation is broken on develop branch (particular case)"
### Description:

On develop branch channel creation fails with "No private group with name "test3" was found!" for admin with login e.g. "admin" after someone registers named after him e.g. "admin2".

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: Linux, Chrome
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* No

[2017-12-14 10:57] theodorDiaconu opened #9118 "Think about using RedisOplog & Grapher"
And make rocketchat the most scalable chat ever:

https://github.com/cult-of-coders/redis-oplog
https://github.com/cult-of-coders/grapher

What do you think ? Love this initiative a lot. We invested a lot in making Meteor scalable

[2017-12-14 11:47] #9077 closed

[2017-12-14 11:58] lyricalpolymath opened #9119 "Feature > jump to quote or message link without copying the whole link"
When posting a message with a link to another message
today it copy pastes the whole message, even if it's a very long one.

It would be great to have something like the **right hand button (Jump to message)**

- for quotes
- and for links to prior messages

this would enable to jump to the relevant conversation.

Alternatively it could be useful to fold the connected message, and style it (smalle

[2017-12-14 12:20] MartinSchoeler commented on #9116
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-12-14 12:20] #9116 closed

[2017-12-14 12:53] MartinSchoeler commented on #9113
You can find the documentation on the direct message api [here](https://rocket.chat/docs/developer-guides/rest-api/im/)

[2017-12-14 12:53] #9113 closed

[2017-12-14 12:58] rodrigok commented on #9117
@gnidorah Can you test using our latest commit?

[2017-12-14 13:09] rodrigok commented on #9027
@flaviovs Yes, since our mobile apps can't change the notifications before show up in the device's screen and since we don't touch the notification data on gateway step we need to omit that information before send to the gateway.

So, if you disable the `Show message in notification` and disable `Show channel/group/username in notification` our gateway will not receive that data.

[2017-12-14 13:18] bochos-bln opened #9122 "Security Issue Create Admin without Priveleges"
### Description:

Removing Admin Role to other users without the right and create a new Admin without right.

### Server Setup Information:

* Version of Rocket.Chat Server: 59.3
* Operating System: ?
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: ?
* Node Version: ?

### Steps to Reproduce:

1. Having a new Role for assigning custom roles

[2017-12-14 13:24] TwizzyDizzy commented on #9093
Hi there, @sampaiodiego

the scrolling issue (see above or #9090) is not fixed.

Cheers
Thomas

[2017-12-14 13:41] itskenny0 opened #9123 "Feature request: Multiple theme selections for users"
Hi there!

We have been theming RocketChat to suit our company usage more using the custom CSS feature, but some users would like a different color scheme.

I would like to request the feature to define multiple theme sets that individual users can switch between. Do you think this request is feasible?

Thanks a lot for this great software - we are having a lot of fun using it!

Best,
kenny

[2017-12-14 13:43] itskenny0 commented on #2095
I found that this is already somewhat possible using the custom CSS feature.

This CSS block will add a custom wallpaper to a chat and the sidebar link to it:
[code]

You can get the chat ID (2CMjDpAdYzDkBRtNN) using the Chrome inspector.

[2017-12-14 13:55] gnidorah commented on #9117
@rodrigok Unfortunately no change. This particular issue (still) only happens when second user is registered in the system. Once I delete the second user, I'm able to create new rooms again. I've not yet tested what happens if there are more than 2 users registered in the system.

[2017-12-14 14:00] gnidorah commented on #9117
@rodrigok Unfortunately no change. This particular issue (still) only happens when second user is registered in the system. Once I delete the second user, I'm able to create new rooms again. I've not yet tested what happens if there are more than 2 users registered in the system.

[2017-12-14 14:47] antgel commented on #6610
@geekgonecrazy Ping. Will this be fixed in 0.60?

[2017-12-14 15:05] AmShaegar13 commented on #9115
Cool idea!

[2017-12-14 15:05] gnidorah commented on #9117
It seems also that the issue is actually harder to trigger. It happens if second user has admin name as part of his name. So the following triggers issue for me:
1. Say admin name is "admin"
2. Register a new user for e.g. via admin panel and use "admin2" as value for login
3. Now admin can't create new channels, until he deletes "admin2" user

[2017-12-14 16:27] karlprieb opened #9124 "RocketChat Apps need an icon"
![image](https://user-images.githubusercontent.com/9200155/34002809-cb9d0916-e0da-11e7-8e33-8b5b14eab55e.png)

[2017-12-14 16:30] karlprieb opened #9125 "Rocket.Chat Apps installation page layout"
![image](https://user-images.githubusercontent.com/9200155/34003042-657c21b6-e0db-11e7-954c-ff15965907a2.png)

[2017-12-14 16:39] karlprieb opened #9126 "Rocket.Chat Apps grid layout"
We need a layout for the Apps grid with two grids, on for active apps and other for inactive.
In the future we will need a way to make Apps from our store be visible on this grid too.

![image](https://user-images.githubusercontent.com/9200155/34003601-d5868fcc-e0dc-11e7-9763-db1b20a98346.png)

[2017-12-14 16:41] karlprieb opened #9127 "Rocket.Chat Apps"

[2017-12-14 16:43] karlprieb opened #9128 "Rocket.Chat Apps grid"
![image](https://user-images.githubusercontent.com/9200155/34003601-d5868fcc-e0dc-11e7-9763-db1b20a98346.png)

A list of installed apps. This grid will show all apps (enabled and disabled).

[2017-12-14 16:54] KevinYwanauskas21 commented on #8325
+1

[2017-12-14 17:10] karlprieb commented on #9082
Hey @rajan-goswami Safari for Windows is not updated since 2012 and we doesn't support this browser.

Thank you for you report!

[2017-12-14 17:10] #9082 closed

[2017-12-14 17:12] #9076 closed

[2017-12-14 17:12] karlprieb commented on #9076
Issue moved to [RocketChat/Rocket.Chat.Electron #637](https://github.com/RocketChat/Rocket.Chat.Electron/issues/637) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 17:30] karlprieb commented on #9001
Issue moved to [RocketChat/Rocket.Chat.Electron #638](https://github.com/RocketChat/Rocket.Chat.Electron/issues/638) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-14 17:30] #9001 closed

[2017-12-14 17:36] rodrigok commented on #9069
@Kusmarius Is your setting `Admin > Layout > User Interface > Click to Create Direct Message` enabled?

[2017-12-14 17:45] karlprieb commented on #8876
We're working on a new feature called Discovery.
It will be a page with all channels and filters :)

[2017-12-14 18:05] sampaiodiego opened #9129 "Message action quick buttons drops if "new message" divider is being shown"
### Description:

![image](https://user-images.githubusercontent.com/8591547/34007334-8b579412-e0e8-11e7-984d-8f9f848dcdc2.png)

![image](https://user-images.githubusercontent.com/8591547/34007378-b8e23220-e0e8-11e7-98d3-663a87a71d34.png)

[2017-12-14 18:07] sampaiodiego opened #9130 "Clear all unreads modal not closing after confirming"
### Description:

You have to hit <kbd>Shift</kbd> + <kbd>Esc</kbd> to open the modal. After clicking the confirm button `Yes, clear all!` it mark all as unreads but the modal does not closes.

![image](https://user-images.githubusercontent.com/8591547/34007422-dbe746f2-e0e8-11e7-9d2a-b3e80eff63f9.png)

[2017-12-14 18:11] karlprieb opened #9131 "Link to message on reply not always scroll to original message"
When you click on the date (link to original message) on the first time will scroll to original message, but if you click again nothing happens.

![image](https://user-images.githubusercontent.com/9200155/34007571-6c60efc6-e0e9-11e7-9577-04535308cbae.png)

[2017-12-14 18:13] sampaiodiego opened #9132 "Confirmantion modals showing `Send` button"
### Description:

Confirmation modals are showing a `Send` button, when they should show nothing, for example:

[code]

[2017-12-14 18:22] charliesolomon opened #9133 "Audit log for administrative changes"
### Description:

New feature request: audit log of administrative changes. Some organizations require this as a prerequisite for enterprise software. I couldn't find such a feature in the app or in your docs... having it would reduce the barrier to entry for our organization.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.4
* Operating System: N/A
* Deployment Method(snap/d

[2017-12-14 19:12] graywolf336 commented on #9037
@VibhorCodecianGupta have you submitted a fix for this?

[2017-12-14 19:42] #9043 closed

[2017-12-14 19:45] sampaiodiego commented on #9090
Reopening since this was not fixed

[2017-12-14 20:10] rasos commented on #8692
@arminfelder is working on a push gateway. We need it for our fairchat app, which allows to connect to any RocketChat server, but we can't share private keys for GCM.

[2017-12-14 20:59] diogorocha18 commented on #9103
Upup, can help my pls?

[2017-12-14 21:03] maxsdw commented on #4993
@karlprieb I have a fix for this if you want to try it:

In: Rocket.Chat/packages/rocketchat-lib/server/functions/updateMessage.js

Change this:

`if (urls) {
	message.urls = urls.map((url) => { return { url: url }; });
}`

to this:

`if (urls) {
	message.urls = urls.map((url) => { return { url: url }; });
} else {
	message.urls = [];
}`

[2017-12-14 21:16] #9132 closed

[2017-12-14 21:49] goiaba commented on #4552
I know the issue talks about mp3, but...

I have changed the `Rocket.Chat/packages/rocketchat-ui/client/lib/recorderjs/audioRecorder.js` to directly use a [MediaRecorder](https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder). It works fine, but MediaRecorder seems to not be fully supported by all browsers. I thought we could use it when available (generating webm/ogg files) and falling b

[2017-12-14 21:53] kmoore134 opened #9139 "Cannot bypass domain whitelist when manually adding a user"
### Description: When setting up a whitelist of domains, its impossible as an admin to bypass this restriction when adding new users manually. (Bombs out with domain not allowed errors)

### Server Setup Information:

Rocket Chat - 0.59.4

### Steps to Reproduce:

1. Setup a list of whitelisted domains (or a single one)
2. Go to admin panel -> users and try to manually add somebody outside that do

[2017-12-14 22:07] localguru commented on #7507
Still a problem on 0.60.0-rc.1, tested on demo.rocket.chat

[2017-12-14 23:05] TwizzyDizzy commented on #7507
Hi folks,

I just re-tested this with @localguru and can still confirm this. It looks like - just like in a non-OTR session - a file upload just does a POST request to `https://open.rocket.chat/ufs/GoogleCloudStorage:Uploads/SOMEOTHERID?token=TOKEN&progress=0.3057800339672645` and gets written to mongoDB.

This does obviously undermine the DENIABILITY aspect of OTR.

What I think should be done: w

[2017-12-15 00:06] geekgonecrazy commented on #7507
Not an easy problem to solve.  For fileupload to really be considered part of OTR it would have to actually be encrypted before uploaded by client, and then some how decrypted on the other end.

So really the only solution here until someone were able to solve the more complicated problem would be to actually disable file sharing on OTR sessions or warn them every time they send a file in an OTR s

[2017-12-15 00:10] geekgonecrazy commented on #7507
@mrinaldhar This maybe something you may already be aware of and have fixed in your improved e2e implementation?

[2017-12-15 00:21] TwizzyDizzy commented on #7507
Yes, I agree with you on that. Either disable or show a crystal-clear warning, that this upload won't be part of OTR.

Cheers & thanks for getting back
Thomas

[2017-12-15 00:34] rodrigok opened #9140 "Do not change the message size to show unread mark line"
Continuation of #9138

[2017-12-15 00:35] #9129 closed

[2017-12-15 01:09] #9130 closed

[2017-12-15 04:05] kvingedal commented on #7438
I have been having the same issue trying to configure SMTP for zoho and with gmail.  Zoho, I do not get an errors, it just times out. Gmail I am getting invalid login

[2017-12-15 04:16] mrinaldhar commented on #7507
Hi, the current implementation of OTR doesn't handle file uploads. I think we should display some sort of warning suggesting that file uploads will not be encrypted when people try to use OTR.

#7181 is a new implementation of end to end encryption in rocket chat, and it handles direct messaging, private group messaging, *as well as file uploads*. Files are encrypted on the clients before they're

[2017-12-15 04:19] mrinaldhar commented on #6151
Hi, thanks for raising this issue!

#7181 is a new implementation of end to end encryption in rocket chat, and it handles direct messaging, private group messaging, as well as file uploads. Files are encrypted on the clients before they're sent.

We're in the process of improving that implementation, and it should be ready soon!

[2017-12-15 04:42] mrsimpson opened #9141 "Logging of incoming integrations"
### Description:

As an admin, I want to be able to monitor the execution of my incoming webhook implementations.
Ideally, I can even replay them.

*Remark: This feature is also relevant for the Rocket.Chat Apps (#6890)*

### Steps to Reproduce:

1. Create an incoming webhook with a script
2. Send a message with a valid body which doesn't lead to the expected behavior
3. Wonder why

### Expected b

[2017-12-15 06:41] localguru commented on #7507
@mrinaldhar Great, thanks for your work! Would love to see that.

@geekgonecrazy I vote for disable uploads on active OTR, because uploads are not shown; one have to reload. May be combined with a warning, that uploads are disabled, when selecting the upload function, so that it's clear to users that uploads on OTR are not offered.

[2017-12-15 08:07] arikusu opened #9142 "LiveChat: Showing registration form after ending the chat"
### Description:

Currently, when a guest user tries to end the chat, livechat:closeByVisitor closes the room only.

In shared / public computers, this results in a security risk, since the initial guest user is not destroyed (or logged out), the new comer impersonates the first user and can open a new session/room with the initial user's registration information.

We would need a way to "logout"

[2017-12-15 10:19] Dartui commented on #9069
@rodrigogs after disabling this option I am able to edit user permissions per channel. Everything works great, but buttons do not change their color and text after setting this permissions. If i click again I will get `error-user-already-owner` message

[2017-12-15 11:54] sampaiodiego commented on #9142
I agree this is an issue for shared/public computers, but for the majority use case (personal computers) I think showing the registration form again is bad UX..

since we cannot guess if the visitor is on a shared or personal computer, do you think having a setting which when enabled will force the visitor to register itself again always is good enough?

[2017-12-15 12:33] Praunda opened #9143 "Messages with the class ' livechat_video_call ' and ' jitsi_call_started ' is empty"
### Description:

At the start of a video call there is two info message bubbles appears empty, in my DOM. Both of those empty bubbles has 2 different class every same time -- livechat_video_call -- and -- jitsi_call_started --.

### Server Setup Information:

* Version of Rocket.Chat Server: 060-develop
* Operating System:  Ubuntu
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Runni

[2017-12-15 12:42] arikusu commented on #9142
Hi @sampaiodiego

Strongly agree that it would be a bad UX showing registration form on every chat session end.

I would suggest two things for that
- A logout button separate from "end chat", this will help any guest user (either on public/shared or personal computer)
- A setting as you described maybe with a configurable session timeout duration

Other than that, I tried deleting keys in localSt

[2017-12-15 14:17] diogorocha18 opened #9145 "Two vps requirements"
Good afternoon, as my VPS has as requirements:

The first:
KVM OpenStack
SLA 99.99%
1 vCore (s)
2.4 GHz
6 GB RAM
25GB
High Availability (Ceph)

The second:
KVM OpenStack
1 vCore (s)
2.4 GHz
4GB RAM
20 GB SSD
Local RAID 10

Could you tell me how many users simultaneously and so I can have in each one please?

Thank you all

[2017-12-15 14:40] sampaiodiego commented on #9142
@arikusu the snippet from #8097 does not looks it may work.. as a workaround you should try `localStorage.clear()` , but remember to the change the *target* on browser's console (otherwise you will not run the code within the iframe):

If you want to implement a real solution though I suggest you to log out the user by calling `Meteor.logout()` but I think you'll need to somehow trigger something

[2017-12-15 14:58] TwizzyDizzy commented on #8289
Hi @rodrigok,

I have to reopen this, as the scrollbar issue in the Firefox Window below is still (not again, it has been ever since) present in 0.60.0-rc2. The issue in the sidebar has been fixed though.

![](https://user-images.githubusercontent.com/179595/30799974-d2d26e78-a1de-11e7-8e9b-d908643e00f4.png)

Cheers
Thomas

[2017-12-15 15:16] TwizzyDizzy commented on #9145
This github project is no proper channel for support. Please refer to the support channel on the official Rocket.Chat demo instance: https://open.rocket.chat/channel/support

"Issue" can be closed.

Cheers
Thomas

[2017-12-15 15:24] TwizzyDizzy opened #9147 "UI: Click on channel name - hover area bigger than link area"
### Description:

Hi folks,

something that happened to me a few times: I clicked on a channel name and nothing supposedly happens. What is the issue? The :hover area is bigger than the actual :link area which leads to me sometimes clicking in the :hover area but nothings happens because I didn't actually click the link.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-rc.2

[2017-12-15 15:37] ghuser opened #9148 "per-channel configuration to receive private-message-like notifications."
For some channels it might be more important to be notified when something is written. It would be nice to be able to set on specific channels receiving notifications like in private messaging (message bubble).

P.S. A more advanced option might include bubble-like notification on an x-minute interval. (e.g. 20 new messages on MyChannel in the last 5 minutes )

[2017-12-15 16:06] TwizzyDizzy commented on #9148
Hi @ghuser

You are already able to configure notifications on a per-channel basis. (click the bell in the right sidebar in a channel, at the top there is an option "Disable notifications"). I think this refers to actual notifications as in "Desktop Notifications".

Also: please be so kind to adhere to the issue template ([the text you removed when opening this bug](https://github.com/RocketChat/R

[2017-12-15 16:14] TwizzyDizzy commented on #9115
In itself a nice idea, yet you have a trust problem: what if an attacker uploads his public key to a public keyserver under that mail address (maybe the victim hasn't even had a key on a keyserver) ... your would automatically trust the attacker and encrypt the message with his public key.

Am I missing something?

Cheers
Thomas

[2017-12-15 16:17] TwizzyDizzy commented on #9112
Hi @sinteur,

This might a duplicate of #8568

Also: please be kind and adhere to the issue template ([the text you removed when opening this bug](https://github.com/RocketChat/Rocket.Chat/issues/new)) in order to help friendly community members to help you more effectively. :)

[2017-12-15 16:32] sinteur commented on #9115
That would be a denial-of-service attack since the recipient of the email would suddenly stop being able to read it. And that might actually be the first indication somebody gets that a key was uploaded in his name. Nevertheless, it is simply worked around by changing "check the key server" to "use the key the user uploaded to rocket chat and is stored with his  or her profile". Actually, make tha

[2017-12-15 16:45] TwizzyDizzy commented on #9115
Yeah, true. Upload of the key would be a nice workaround, too :)

:+1:

Cheers
Thomas

[2017-12-15 16:57] #9145 closed

[2017-12-15 18:17] #9140 closed

[2017-12-16 07:30] Mojoejojo opened #9150 "Searchbar on files list"

[2017-12-16 12:02] smithbk commented on #7631
+1

[2017-12-16 12:03] smithbk commented on #7631
+1

[2017-12-16 15:58] TwizzyDizzy opened #9151 "UI: Descenders of glyphs are cut off"
### Description:

Descenders of glyphs are cut off in the sidebar where the last message is shown below the channel name. See screenshot. The lower half of the letter "g" is cut off in the name Diego.

Cheers
Thomas

### Server Setup Information:

Version of Rocket.Chat Server: 0.60.0-develop
Operating System: unknown (not running this instance myself)
Deployment Method(snap/docker/tar/etc): unkno

[2017-12-16 23:45] volas commented on #8571
Any news? It's been 2 months...

[2017-12-17 01:05] hoxia opened #9152 "Adblocker conflict with social-login class in login button"
### Description:

When using an element-hiding adblocker configured with Fanboy's Annoyances or Anti-Social lists, the Rocketchat login button is hidden. This is due to use of the class "social-login", even if the login authentication does not use or offer a "Social Media login".

I would file a bug on that list, but since this is software used on a multitude of domains, and as changing that class

[2017-12-17 14:00] satyapramodh commented on #8782
I am having the same issue while trying to setup. Please re-open the issue.

Operating System / Version / Architecture: Ubuntu 16.04.3, x64
Browser type and version, including any add-ons: Firefox v57
Rocket.Chat version: 0.60.0-develop
Expected behavior: `meteor npm install` install all packages and start the app
Actual behavior:
<code>
npm ERR! Cannot read property '0' of undefined
</code>
Can t

[2017-12-17 21:11] mphslaats opened #9153 "Last sent message reoccurs in textbox"
Hey,

I am using Rocket.Chat (0.59.4 Under latest CentOS) for quite a while now, however I ran into a problem.
I use Rocket.Chat in browser (Chrome on Android 6 and Safari on IOS) and in both cases I get the following problem:
Every time I open a channel my last message is displayed in the textbox. So I first need to remove my last message before I can start writing a new one.

![screenshot_2017-1

[2017-12-17 21:29] mphslaats opened #9154 "I have to upload a picture twice to make it work"
Hey,

I lately ran into a problem on several devices while using Rocket.Chat (0.59.4 Under latest CentOS). I sometimes have to upload a picture twice before Rocket.Chat is able to upload it. If I upload the picture for the first time nothing happens... This happened to me on both Android and Windows 10.

[2017-12-18 01:17] RichardFoxworthy opened #9155 "AutoTranslation glitches since v59.4"
### Description:

Auto-translated message text content renders embedded between visible `<p>` and  `</p>` tags
Auto-translate toggle icon does not appear in message context menu

### Server Setup Information:

* Version of Rocket.Chat Server: 59.4
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version:

[2017-12-18 03:26] joshuaspence commented on #6926
I'm still seeing this issue on 0.59.3. It was originally occuring when we were using AmazonS3 for file storage, but I can reproduce it using GridFS as well. Is this expected to work without stickiness and without mounting `/tmp/ufs` as a shared NFS mount?

[2017-12-18 04:13] LiuSuY opened #9156 "less 出错"
![image](https://user-images.githubusercontent.com/25116549/34089653-cc18ef6c-e3ec-11e7-9545-a05d6a14ddbd.png)

[2017-12-18 07:19] garychapman opened #9157 "Renaming user results in incorrect usernames in RocketChat.models.Rooms"
### Description:

Renaming a user doesn't get reflected properly in RocketChat.models.Rooms

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.4
* Operating System: Windows 10
* Deployment Method(snap/docker/tar/etc): meteor via Windows command shell
* Number of Running Instances:  1
* Node Version: 8.5.0

### Steps to Reproduce:

1. I have a DM between 2 users:  _jekyll_ and _g

[2017-12-18 07:23] distlibs opened #9158 "File `packages/rocketchat-google-vision/.npm/package/npm-shrinkwrap.json` is modified when starting meteor"
### Description:

When I starting Rocket Chat server with `meteor` command file `packages/rocketchat-google-vision/.npm/package/npm-shrinkwrap.json` are modified. When I pull latest changes from `develop` branch I always revert this file. Did this file depends on develop machine, can I ignore it locally?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-develop (1ba24fe371)
*

[2017-12-18 08:50] sinteur opened #9159 "feature wish: add rel="noreferrer" to links"
### Description:

clicking on a link in a chat window may leak information to a destination site since the chat room will end up in the webserver log in the referrer field. Have an option in the settings to add rel="noreferrer" to a link, as per https://stackoverflow.com/questions/5033300/stop-link-from-sending-referrer-to-destination

### Server Setup Information:

* Version of Rocket.Chat Server

[2017-12-18 09:28] LiuSuY opened #9160 "在google-version 一直过不去，即使过了最终的结果也是失败"
![image](https://user-images.githubusercontent.com/25116549/34098909-dfc60dc0-e418-11e7-9e01-d4265c4d7d67.png)

[2017-12-18 10:47] sampaiodiego commented on #6926
hi @joshuaspence yes it is expected to be working.. please feel free to open an issue providing as many details as you can. thx

[2017-12-18 12:31] amateo commented on #7074
So, is this bug really fixed? I have updated my rocket.chat server to 0.59.6 and I'm trying to upload a jmx file (jmeter test file), but I get the `Media Types Not Accepted` error, although this file is detected as `application/xml` in my system and I have this type allowed in the `Accepted Media Types` option.

[2017-12-18 12:41] MartinSchoeler commented on #9160
@LiuSuY Please use the english language when creating issues, otherwise the devs and the community won't be able to help you. Thank you.

[2017-12-18 12:41] #9160 closed

[2017-12-18 12:42] MartinSchoeler commented on #9156
@LiuSuY Please use the english language when creating issues, otherwise the devs and the community won't be able to help you. Thank you.

[2017-12-18 12:42] #9156 closed

[2017-12-18 13:20] LiuSuY commented on #9160
thank you， Your suggestion is a good idea

[2017-12-18 13:40] HammyHavoc opened #9161 "rocketchat-mongo not starting"
### Description:
Mongo service stopped running after refreshing snaps, followed [https://github.com/RocketChat/Rocket.Chat/issues/4752#issuecomment-261750822](https://github.com/RocketChat/Rocket.Chat/issues/4752#issuecomment-261750822). Basically backed up /var/snap/rocketchat-server/common, reinstalled snap, restored common. rocketchat-mongo ran, but server was only accessible via the local IP a

[2017-12-18 14:05] taikedz opened #9163 "Accessing via URL constantly redirects to `general`"
### Description:

When accessing a URL http://rocket.local:3000/channel/foo , user gets redirected to http://rocket.local:3000/channel/general

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.4
* Commit Hash: 65e06c2832
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: 4.8.4
* Node Version: 4.8.4

[2017-12-18 15:21] graywolf336 commented on #5521
@rodrigok any chance this can be added with your changes to the rest api login logic?

[2017-12-18 16:10] rodrigok commented on #8289
@TwizzyDizzy @karlprieb told me that this scroll bar in Firefox is an expected behavior.

[2017-12-18 16:11] karlprieb commented on #8289
All browsers have scrollbar. The difference is that in Chromium the scrollbar have a css style.

[2017-12-18 16:16] TwizzyDizzy commented on #8289
Exactly: in Firefox the scrollbar is also there (and works), yet it is white and thereby "breaks" the layout.

Cheers
Thomas

[2017-12-18 16:54] fcoppolani opened #9167 "Install 0.60 on CentOS7"
Hi,

We had a 0.56.0 installed on our test server and wanted to test the upgrade to 0.60.0-rc0 But we encounter real troubles while starting it

### Server Setup Information:

* Version of Rocket.Chat Server: 0.56.0 -> 0.60.0-rc0
* Operating System: CentOS Linux release 7.4.1708 (Core)
* Deployment Method(snap/docker/tar/etc):  tar, according to  https://rocket.chat/docs/installation/manual-instal

[2017-12-18 17:01] karlprieb commented on #9055
Already fixed on `develop` branch

[2017-12-18 17:01] #9055 closed

[2017-12-18 17:22] vagnnermartins commented on #7256
Hello @m00s , have you solved the problem?

I have the same problem.

[code]

The first time, the message is sent with success, after console shows:
**Error: Invalid user [error-invalid-user]**

[2017-12-18 17:29] HammyHavoc commented on #9161
Some further info after running `systemctl status -l`:

[code]

[2017-12-18 17:45] Kusmarius commented on #9069
@rodrigok

You are right "Click to Create Direct Message" is True in my case.
This issue can be closed.
Thanks.

[2017-12-18 17:45] #9069 closed

[2017-12-18 18:12] rodrigok commented on #9157
@garychapman I wasn't able to reproduce your but, are you able to reproduce it consistently?

How many users and rooms do you have in your instance?

Did you go to `account/profile` or `admin/users` to edit the user's data?

[2017-12-18 18:14] #9153 closed

[2017-12-18 18:14] #9151 closed

[2017-12-18 18:16] #9147 closed

[2017-12-18 18:21] rodrigok commented on #8289
@TwizzyDizzy I agree it's a layout problem, but since it's not an urgent issue I'll keep it open but move to the next release.

[2017-12-18 18:30] TwizzyDizzy commented on #8289
I agree on the urgency. Glad though, that I'm not using Firefox and my OCD will not trigger everytime I use that chat :D

Cheers
Thomas

[2017-12-18 18:55] rodrigok commented on #9167
Hi @fcoppolani

Can you take a look here (https://github.com/meteor/meteor/issues/9269) and see if it solves your problem?

[2017-12-18 18:58] rodrigok commented on #9154
Which version are you using?

[2017-12-18 19:01] mphslaats commented on #9154
I am running Rocket.Chat version 0.59.4 on CentOS 7 with the latest updates.
And I am sometimes getting the problem on Windows 10 (multiple laptops) and most of the time on at least three Android devices (one of the has Andoid 6, the others I don't know).

[2017-12-18 19:13] #9152 closed

[2017-12-18 19:17] jasonfah commented on #7074
Yes it has been fixed @amateo. Check the comments earlier in the thread. The mime types are not pulled from your system but from a node package called mime-db. It has it's own database of mime types.

If you want to allow mime types that mime-db does not know about, you have to allow all.

[2017-12-18 20:20] geekgonecrazy commented on #9161
Taking a look on community server: https://open.rocket.chat/channel/ubuntu-snap?msg=TSGuhcumm8kRa9bPC Conversation starts here.  Will transplant solution here. :)

[2017-12-18 21:37] geekgonecrazy commented on #4752
For all using above advice.. Please see docs for proper backup restore procedure https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/#how-do-i-backup-my-snap-data

[2017-12-18 23:58] joshuaspence opened #9174 "Unable to upload files with multi-instance setup"
### Description:

I am seeing the same problem that was originally described in #6926 using RocketChat 0.59.3. We are running three RocketChat instances and have correctly configured `INSTANCE_IP` and `PORT` to allow for broadcast.

![rocketchat](https://user-images.githubusercontent.com/234676/34133728-7e69da24-e4aa-11e7-8ddf-ed67b6a34a74.png)

![broadcast](https://user-images.githubusercontent.c

[2017-12-18 23:59] joshuaspence commented on #6926
Sure, I have opened #9174.

[2017-12-19 00:00] graywolf336 commented on #9127
Duplicate of #6890

[2017-12-19 00:01] graywolf336 opened #9175 "Allow Auto Translate to Use Other Services"
Currently the auto translate functionality only utilizes Google Translate for the auto translating, however there are other services out there. Ideally we would make this pluggable somehow, possibly with the upcoming Rocket.Chat Apps, #6890.

cc: https://github.com/assistify/Rocket.Chat/issues/175

[2017-12-19 00:03] graywolf336 commented on #6890
This week I will be working on flow diagrams which show how various flows inside of the Rocket.Chat Apps works and will work. :)

Then once #9128, #9126, and #9125 are implemented you will see a pull request shortly thereafter. 👍

[2017-12-19 00:20] joshuaspence commented on #9174
Setting a sticky session cookie in the load balancer seems to fix it, but this isn't an ideal solution.

[2017-12-19 00:22] hdavy2002 commented on #900
wondering any updates on this

[2017-12-19 06:47] shikhar-scs commented on #8827
Are we doing anything about this @MartinSchoeler ? I've already filed a PR for the same #9081 and there hasn't been much response there too of late. Either this issue can be closed or the PR there can be merged.

[2017-12-19 07:44] #9143 closed

[2017-12-19 08:10] mrsimpson opened #9177 "Allow bots to send discreet notification to user in channel"
### Description:

Currently, all messages are public to all users who can view the channel. When implementing a bot, this bot has to be able to interact with a particular user inside the channel: It needs to e. g. ask him to provide further information or guide him through a process. All this interaction (which happens only between the bot and one user) needs to be hidden from other user's eyes in

[2017-12-19 09:17] amateo opened #9178 "Can't add snippet in 0.59.4"
Hi,

  I have just upgraded from 0.58.4 to 0.59.4. Since then, I can't create snippet (which I could did with previous version).

  I have enabled it in Administration>Messages>Allow Message Snippeting and in permission of users (in fact, it's the same configuration which was working with 0.58.4), but the option to create the snippet is not displayed in the message's options.

![captura de pantall

[2017-12-19 09:32] amateo opened #9179 "Right toolbar not displayed in firefox ESR"
Hi,

  I have upgraded from 0.58.4 to 0.59.4. Since then, the toolbar at right of the screen is not displayed in firefox ESR. I have tested in other versions of firefox, chrome and the standalone client and it is displayed, but not in firefox ESR. The space of the toolbar is displayed and buttons are there (and "usable") but the icons are not displayed.

![screenshot](https://user-images.githubuse

[2017-12-19 10:03] magicbelette commented on #9179
See https://github.com/RocketChat/Rocket.Chat/issues/7980

[2017-12-19 10:34] fcoppolani commented on #9167
Hi @rodrigok ,
Thanks but the link concern a problem with make that was not installed (I checked, everything is ok on this side), in our cases it is a lib that is missing . Anyway I asked the same question in the thread you mentionned. Do you have a Centos7 to test the install on you side ?

[2017-12-19 12:36] lindoelio commented on #396
Hey guys! This has been delivered on PR #9180.

Let me know if it works for you. :-)

[2017-12-19 12:48] chaot4 commented on #1112
+1 for adding whichever threading model. It would be awesome if someone finds the time to implement it soon!

[2017-12-19 14:23] TwizzyDizzy commented on #9151
According to the release notes of [0.60.0-rc.4](https://github.com/RocketChat/Rocket.Chat/releases/tag/0.60.0-rc.4) this was supposed to be fixed. I can't confirm it being fixed in 0.60.0-rc.4 - neither in Firefox nor in Chromium. See the attached screenshot below:

![untitled](https://user-images.githubusercontent.com/179595/34161314-914e6616-e4d0-11e7-8178-9e2da78bba95.png)

Cheers
Thomas

[2017-12-19 15:27] nikaro commented on #8990
This is the URL sets in the Ansible Galaxy role.

@hniemann to make it work you can override with these variables:
[code]

[2017-12-19 16:06] stalley commented on #9167
@fcoppolani I had the same issue. It seems that Centos 7 doesn't have a recent enough version of GLIBC and the node-fibers package has to be rebuilt locally on the Centos 7 machine. I believe the appropriate steps are below but I'm just looking through my cli history.

- sudo yum install g++ build-essential

[2017-12-19 16:16] ThomasSteinbach commented on #1112
Would like to see this feature integrated <3

[2017-12-19 18:01] rodrigok commented on #9151
@TwizzyDizzy I can't reproduce, can you specify your OS and Browser versions?

[2017-12-19 18:21] TwizzyDizzy commented on #9151
Whooot... OK. This is weird. Only thing I can think of right now: Maybe my deployment failed without me noticing and I was actually still looking at rc.2 - I'll re-check tomorrow. Sorry for the fuzz!

Cheers
Thomas

[2017-12-19 18:28] rodrigok commented on #9151
@TwizzyDizzy I did a better solution https://github.com/RocketChat/Rocket.Chat/pull/9181

[2017-12-19 18:44] graywolf336 commented on #9177
For future reference, we kind of already have something in place which is used via `RocketChat.Notifications.notifyUser(Meteor.userId(), 'message', {})`. That message is only shown on the web client and doesn't persist through a refresh.

[2017-12-19 18:57] rodrigok commented on #8827
The documentation link was already fixed.

Thanks by your report and let us know if you have any other issue.

[2017-12-19 18:57] #8827 closed

[2017-12-19 18:58] alscheuring commented on #6317
@localguru also interested in this. Any news?

[2017-12-19 19:01] #9131 closed

[2017-12-19 19:10] #9090 closed

[2017-12-19 19:17] #9051 closed

[2017-12-19 19:30] #8964 closed

[2017-12-19 20:55] #8217 closed

[2017-12-19 20:56] #8958 closed

[2017-12-19 20:59] karlprieb commented on #9016
Fixed on #9171

[2017-12-19 20:59] #9016 closed

[2017-12-19 21:40] archang3l-media opened #9187 "Push Notifications not being sent on Rocket.Chat 0.60.rc3"
### Description:

Push Notifications are not working with rocket.chat 0.60.0-rc.3

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-rc.3
* Operating System: CentOS
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 5
* DB Replicaset Oplog: enabled
* Node Version: Node 8.9.1

### Steps to Reproduce:

1. Set up Push notifications with or without gatewa

[2017-12-19 21:52] HammyHavoc opened #9189 "Default welcome screen should mention and link to the RocketChat apps"
As the title says, it would make sense for every new installation to have this written on it with links to the relevant app stores rather than telling you that you can customize the page in the admin area.

If people are interested, I will happily do this and submit a pull request.

[2017-12-19 22:15] #9039 closed

[2017-12-19 22:16] #9035 closed

[2017-12-19 22:18] #9052 closed

[2017-12-19 22:22] #9050 closed

[2017-12-19 22:30] HammyHavoc commented on #9161
Never did solve the issue, but many thanks to @geekgonecrazy for his hours of time troubleshooting the problem. After several days of downtime, we literally just had to call it a loss and move on as the time spent troubleshooting it was fast becoming much larger than the time it would take to start from scratch. A couple dozen users into rolling RC back out. :- )

[2017-12-19 22:31] #9161 closed

[2017-12-19 22:34] HammyHavoc opened #9191 "Remove period following password in welcome emails"
Users seem to be copying the password along with the period in the welcome emails, would be as well to have it on a separate line I feel.

[2017-12-19 22:40] HammyHavoc opened #9192 "Creating a new user and marking them as verified when created doesn't seem to work"
Creating a new user and ticking the box to verify them doesn't seem to work, they end up with strike-through on their details and I have to activate them manually as they don't get an activation email, only a welcome email.

[2017-12-19 23:15] HammyHavoc opened #9195 ""Resend_Verification_Email" button in Profile"
The button looks broken with the wording like this.

[2017-12-20 00:38] #9191 closed

[2017-12-20 00:57] HammyHavoc commented on #9192
User error. :- )

[2017-12-20 00:57] #9192 closed

[2017-12-20 00:59] HammyHavoc opened #9198 "Button to edit channels a user belongs to in a Direct Message"
Whilst DMing with some users, it would be a real time saver to be able to see and choose what channels they belong to as an admin, might also double as a nice way for users to add people to private group chats if their permissions allow.

[2017-12-20 01:24] HammyHavoc commented on #9154
Do you end up with duplicate pictures at any time? We've been getting 2 - 3 of the same picture sometimes, I'm wondering if it's due to people having to try uploading multiple times.

[2017-12-20 01:36] soundstorm commented on #8666
Seems to be related to https://github.com/RocketChat/Rocket.Chat.iOS/issues/1075#issuecomment-352935852
So the file size is present but not correctly calculated. Not happening on iOS Rocket.Chat Cordova App, just with Rocket.Chat+ (testing on Android currently not possible as I have no such device).

[2017-12-20 02:09] engelgabriel opened #9199 "emojiPicker.css variable is undefined and used without a fallback"
Error message at runtime:

[code]

[2017-12-20 02:33] engelgabriel commented on #7508
@tanmoyopenroot can you please try again with the latest version on the develop branch and reopen this issue if the problem persists?

[2017-12-20 02:33] #7508 closed

[2017-12-20 05:52] geekgonecrazy commented on #9174
Can you take a look at your chrome Dev console?  Goto network tab and upload until it fails... Then look at the headers on that request that failed.  There should be an instance Id header on there.

Would probably be useful for debugging to see if it's only one instance that has issues or if it's multiple instances?

[2017-12-20 05:54] geekgonecrazy commented on #9161
If we had more uninterrupted time I think we could have got it. Make sure to check snap faq for backup command.  I'd recommend doing frequently

[2017-12-20 07:48] fadanner commented on #9036
Does anyone have an idea on this?

[2017-12-20 07:59] fcoppolani commented on #9167
@stalley Thanks, you did point me to the right direction. I tried to install on a fresh CentOS7 and I had no trouble. I noticed that fibers was automatically rebuilt during npm install. on this fresh CentOS7
In fact I guess that on our current platform, I first tried a npm install with the wrong node version and event after installing the right node version, npm install was not using it properly.

[2017-12-20 09:37] TwizzyDizzy commented on #9151
Hi @rodrigok

nope, deployment went fine and I was actually looking at rc.4

Windows 7 Enterprise: Firefox 57.0.2 - **no problem** (looks like CSS font fallback to Arial, also no font-Anti-Aliasing)
Windows 7 Enterprise: Chrome 63.0.3239.108 - **no problem** (looks like CSS font fallback to Arial, also no font-Anti-Aliasing)
Elementary OS Loki (Ubuntu 16.04/LTS Spin-Off): Firefox 57.0.1 - **proble

[2017-12-20 10:47] AmShaegar13 commented on #9174
Are instances able to connect to each other directly on port 8080? You could verify that using telnet:

[code]

[2017-12-20 10:49] AmShaegar13 commented on #9159
You could use the [Referer-Policy Header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy) in your proxy to achieve that.

[2017-12-20 11:21] sinteur commented on #9159
Neat. That indeed works. @rocketchat team perhaps add that tip to the install docs or hardening guide?

[2017-12-20 11:28] joshuaspence commented on #9174
I think I figured it out.... it seems that this occurs when Force SSL is enabled.

[2017-12-20 11:31] joshuaspence commented on #9174
Yep, this definitely seems to be caused by Force SSL being enabled. In our setup, there is no reverse proxy. We have an AWS ALB sitting in front of RocketChat and perform SSL termination at the ALB (so the ALB talks to RocketChat itself using plain old HTTP). We aren't running a reverse proxy on the RocketChat instances.

[2017-12-20 11:51] rodrigok commented on #9151
@TwizzyDizzy Can you test our latest develop version? You can test it here https://unstable.rocket.chat

[2017-12-20 11:56] mphslaats commented on #9154
No I have two ways how it goes wrong:

The first one is that I try to upload a picture and nothing happens, even after waiting for a minute or so. After a minute I tried to upload that same picture and it works.

The second way is that it shows me the upload bar on the top but even after ten minutes it is at 0%, therefore I cancel it and if I try it again it uploads immediately.

[2017-12-20 11:58] mphslaats commented on #9036
If you try uploading that same picture again. Does that work?? Because that is my issue: https://github.com/RocketChat/Rocket.Chat/issues/9154

[2017-12-20 12:04] TwizzyDizzy commented on #9151
Looks good on all 4 combinations:

* Windows FF
* Windows Chrome
* Linux FF
* Linux Chromium

Cheers
Thomas

[2017-12-20 12:05] rodrigok commented on #9151
Awesome, thanks 😄

[2017-12-20 12:49] cardoso opened #9201 "/api/v1/users.register registering even when error happens"
[code]

#8475 might be a related issue.

Both issues are pretty bad, because they still create the user in our database which takes up the email.

[2017-12-20 12:52] marceloschmidt opened #9202 "Last message doesn't update when message is updated or deleted"
### Description:

![image](https://user-images.githubusercontent.com/1986378/34207984-be46b36e-e573-11e7-9c8d-fa11e4183af2.png)

![image](https://user-images.githubusercontent.com/1986378/34207979-b7ff74b4-e573-11e7-90b2-d5a0402ad0bb.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0-rc.4

### Steps to Reproduce:

1. Send a message
2. Check channels list and see your mess

[2017-12-20 13:40] fadanner commented on #9036
No, that does not work, neither with the same picture nor with another picture.

[2017-12-20 14:38] andytipp opened #9203 "Reopen LiveChat when customers responds after delay"
When an agent has already closed a livechat with a user and the same user texts the agent again, another livechat is opened. The conversation actually continues after a delay, yet it is opened in a new livechat. There should be a mechanism so that the same livechat is opened again when the same user continues the conversation after a delay.

[2017-12-20 15:35] HammyHavoc opened #9204 "Reword 'How to verify email address on Rocket.Chat' email"
The email with the subject of 'How to verify email address on Rocket.Chat' doesn't match the aesthetic or linguistic style of most of the other RC emails. The 'Thanks' is a little out of place, and lack of paragraphing looks a little sloppy compared to how slick the rest of RC's communications are. May get round to fixing this in the next few hours if nobody else is working on it already.

[2017-12-20 16:02] geekgonecrazy commented on #9174
Makes sense.  We tried to include a warning there about things breaking.  Usually it's the case of people locking them selves out though

[2017-12-20 17:10] rodrigok commented on #9154
@mphslaats which browser are you using? Can you record a video/gif of your problem happening?

[2017-12-20 18:03] joshuaspence commented on #9174
Can we ignore Force SSL for this type of proxy request?

[2017-12-20 18:07] mphslaats commented on #9154
In Chrome Version 63.0.3239.84 (Official Build) (64-bit) on latest Windows 10 it only shows me this for ten minutes until I stop it:
![hallo 387](https://user-images.githubusercontent.com/15626597/34221454-5d7d47ce-e5b8-11e7-8761-e6158a357551.png)

On mobile (Android 6 with the latest Chrome browser) it goes wrong ass follows:
https://youtu.be/jjk13_Q2jms

[2017-12-20 18:15] rodrigok commented on #9154
Did you test using chrome on linux or mac os?

[2017-12-20 18:32] mphslaats commented on #9154
I have not run into this problem on the latest Ubuntu Mate yet.
And I have not tested in on a Macbook or IMac (because I don't have one). However it occurs on a IPhone 7 as well.

[2017-12-20 18:56] mld18 commented on #8571
We also receive negative feedback with respect to this decision from our Rocket users. Hence, I also have to ask: do you plan to release a 0.59.x-Version with a revert of the "more channels..." removal? I would be fine if I would have to do some manual CSS work to make the link visible.

On a more general note: have you considered to have a stable and an experimental branch of development? People

[2017-12-20 20:29] geekgonecrazy commented on #7663
@drasbeck I think this one shouldn't be an issue any more can you confirm?

[2017-12-20 20:32] geekgonecrazy opened #9205 "Add existing users when default channel set"
### Description:
Right now if you create a channel and make that channel default, it only takes effect going forward for all new users.  But does not make default for any of the existing users.

This should at least be an option

### Steps to Reproduce:

1. Create Some Users
2. Create a channel
3. Make channel default

### Expected behavior:

Existing users added

### Actual behavior:

Only new us

[2017-12-20 20:53] drasbeck commented on #7663
I can confirm this. =) New users are now added to the default channels.

[2017-12-20 20:55] geekgonecrazy commented on #7663
Perfect!  Found this again while creating this: #9205 so just wanted to be sure.

I'll go ahead and close this one.

[2017-12-20 20:55] #7663 closed

[2017-12-20 21:54] themikeanello opened #9207 "Selecting message notification does not open that message."
### Description:

Selecting message notification does not open that message.

### Server Setup Information:

* Version of Rocket.Chat Server: No idea.
* Operating System: macOS High Sierra 10.13.2
* Deployment Method(snap/docker/tar/etc): No idea.
* Number of Running Instances: 1
* DB Replicaset Oplog: No idea.
* Node Version: Don't know.

### Steps to Reproduce:

1. Receive a message notification

[2017-12-21 02:27] geekgonecrazy commented on #9174
Hm.. that sounds great in theory.. but we are forcing ssl at low level.  Not sure how easy.

Any reason not forcing upgrade at ALB level.

Disclaimer never used ALB but most other competing products seem to support this functionality

[2017-12-21 03:18] joshuaspence commented on #9174
As far as I know, it can't be done.

[2017-12-21 03:21] umardraz opened #9208 "Multiple instances"
Hi

I am running latest Rocket.chat using docker. How i can run multiple instances like chat1.mydomain.com, chat2.mydomain.com and chat3.mydomain.com.

Do I need separate docker instances or single Rocket.Chat installation is enough?

[2017-12-21 04:25] paulovitin commented on #1163
@geekgonecrazy and @graywolf336 about the discussion of how to check the presence of property in object.

The bug in code is by no checking if user contains roles property, so a send a PR using a secure check of property in an object using ESLint recommendation:

[code]
But, for not being so clear of understand and no according to code style, we agree to use like this:

[code]
But this can cause s

[2017-12-21 07:56] amateo commented on #7980
Neither of both patches supplied by @kimgb works for me. Tested with rocket.chat 0.59.4 and firefox ESR 0.52.2

[2017-12-21 09:04] patit72 commented on #2985
Any news on this requets?

[2017-12-21 09:26] bprinsloo commented on #9208
Might be wrong, but on ubuntu I created instances for different domains on different ports as follow :
sudo forever-service install -s main.js -e "ROOT_URL=https://domain.com/ MONGO_URL=mongodb://localhost:27017/db1 PORT=3000" domain1service

and then for the second domain
sudo forever-service install -s main.js -e "ROOT_URL=https://domain2.com/ MONGO_URL=mongodb://localhost:27017/db2 PORT=3001" d

[2017-12-21 09:43] Julianoe opened #9210 "Using RocketChat Docker's image behind a proxy (nginx-letsencrypt-companion)"
Hi guys!

**this is a crosspost to this issue https://github.com/RocketChat/Docker.Official.Image/issues/38 because i fear it would lack visibility**
I'm willing to contribute to document this if i find a working solution.

note:
- i'm running a Ubuntu Xenial install
- i managed to get RocketChat running on it's own before [following these instructions](https://rocket.chat/docs/installation/docker

[2017-12-21 10:12] pettitto opened #9211 "If importing users from Directory, lock name changes"
### Description:

I've found that a number of users have been changing their names (in the Xmas Spirit, with Xmas Emoji's), which isn't so much a problem, but I'd prefer it if users names were kept consistent with Active Directory. I use Crowd which pulls users from Active Directory - I think it'd be useful to have an option that if you're pulling users from Active Directory either via Crowd or LD

[2017-12-21 10:29] pettitto commented on #9006
Is it worth closing this since it's not a bug/problem?

[2017-12-21 11:04] TwizzyDizzy commented on #8571
@mld18

This has been brought up before and I think lessons have been learned. For now, I think we have to wait and see, if those learnings will be applied ;)

I don't think that this will be the case, because the new "Channel Search" feature in the upcoming 0.60.0 release will supersede the "More channels" feature.

On this topic:

I already opened a similar issue here: #8352 - You may just chime

[2017-12-21 11:54] #4949 closed

[2017-12-21 12:13] VibhorCodecianGupta commented on #9037
Hello @graywolf336 , apologies for the late response. Something unavoidable came up. The mentioned PR implements the first bullet point, i.e the warning shows in the payload response only if `NODE_ENV` is `development`.
As for long-term solutions, a bot integration in Rocket.Chat to communicate this kind of breaking changes in apis or other changes may come in handy. For e.g., as you might know, Z

[2017-12-21 12:33] #9036 closed

[2017-12-21 12:34] #8785 closed

[2017-12-21 12:39] Julia991 commented on #525
Also I recommend you take a look at the article GitHub vs BitBucket vs GitLab - [https://www.cleveroad.com/blog/github-vs-bitbucket-vs-gitlab-developers-research](https://www.cleveroad.com/blog/github-vs-bitbucket-vs-gitlab-developers-research)

[2017-12-21 13:11] janrudolph commented on #9203
One addition:
The old livechat room should not be opened again by default. Moreover the agent should decide to manually join the latest livechat room of the customer with the new one. By joining, the new messages will be copied in the previous room, the previous room will be reopend and the new room deleted. Thereby the conversation can continue in one stream.

[2017-12-21 13:42] Dadibom commented on #8156
confirmed, both in chrome and the desktop app

[2017-12-21 13:54] pettitto commented on #9208
There's documentation on it here too: https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-performance/#run-multiple-instances-of-rocket-chat

[2017-12-21 13:59] umardraz commented on #9208
Hi

My question was multiple sudomains

chat1.domain.com
chat2.domain.com
chat3.domain.com
chat4.domain.com

Do we need a separate instance of each subdomain or a single installation of rocketchat can do this?

[2017-12-21 14:11] janrudolph commented on #976
Especially in a corporate world, this feature will find many lovers. Our team admins complain about the missing notification.

I have suggested another concept some weeks ago. Instead of using email, admin notifications could be sent in a special admin channel: https://github.com/assistify/Rocket.Chat/issues/95 Thereby the admin would have a kind of dashboard. However, I haven't implemented it so

[2017-12-21 15:06] rasos commented on #8308
Has this been merged?  Where are the user profile fileds shown?
How can a user edit his/her profile information? In RC 0.58.1, it is only possible during registration.

[2017-12-21 15:46] soundstorm commented on #8496
Just changed my mail address to that used with the oauth account, linked them and changed it back. Works but is not comfortable ;-)

[2017-12-21 16:45] bprinsloo commented on #9208
For my method above you only need one installation. What I do is to create an service instance per domain or subdomain, all from the same installation.

[2017-12-21 16:54] umardraz commented on #9208
Yes I saw that, but I am more interested with docker swarm

[2017-12-21 17:46] geekgonecrazy opened #9214 "Reduce white space above messagebox"
### Description:

![image](https://user-images.githubusercontent.com/51996/34267899-50c7aeac-e644-11e7-97a0-c0a0ed8638a8.png)

Its really only noticeable when you scroll.

I know this area is needed to display the typing indicators.  Not sure how one could accomplish if at all.

@karlprieb is such magic possible? :)

[2017-12-21 19:31] tobywhughes commented on #9214
Perhaps there could be a button that hides the typing indicators (along with the white space above and the title at the top. It could be a semi-fullscreen button.

[2017-12-21 20:38] graywolf336 commented on #6535
@rodrigok bringing this to your attention as there seems to be a continued issue and I've seen talk in the `#dev` channel on open.rocket.chat about this issue.

[2017-12-21 20:44] Julianoe commented on #9210
Ok i solved this. By using https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion it makes things easy. Don't forget to set `Accounts_UseDNSDomainCheck: "false" ` : i'm not too sure why it's necessary but it seem to work like this :)

### docker-compose.yml for RocketChat

[code]

### docker-compose-yml for the proxy
I'm using the docker-compose and .env files https://githu

[2017-12-21 20:48] rodrigok commented on #9154
Fixed by #9206

[2017-12-21 20:48] #9154 closed

[2017-12-21 20:51] rodrigok commented on #8254
@cello86 Can you check your setting `Admin > Accounts > Login Expiration in Days`?

[2017-12-21 20:55] rodrigok commented on #5878
Are you guys still having problems with reset password email?

[2017-12-21 21:30] personman commented on #8044
It might be worth checking out how Muut does this: [Muut Federated Id](https://learn.muut.com/federated-id/manual-setup#php)

You pass an encrypted message that identifies you as an admin and the email and name of the logged in user. On the server side, Muut creates the user if needed and connects them to the iframe session. Very easy to set up.

[2017-12-21 21:32] #9210 closed

[2017-12-21 22:14] tompinzler commented on #658
We are currently evaluating different chat software and fell in love with Rocket Chat. But missing that particular feature is a blocker for us. Is there any vague ETA I can convince my management with to bet on Rocket Chat? Is it possible to sponsor development on this to speed things up?

[2017-12-21 22:55] Sentinelrv opened #9219 "Delete message option blocked by bottom menu on Safari mobile."
### Description:

In Safari mobile when I tap and hold on a message to bring up the options menu, I can't delete messages as the Safari menu bar at the bottom of the screen blocks the delete button from view. I'm unable to moderate my chat when in mobile now because of this. I don't see a way to dismiss the Safari menu either. Picture included in the link below...

https://i.imgur.com/xQx3uLs.png

[2017-12-21 23:02] Supermathie commented on #1888
Indeed, us as well on commit 65e06c283226ddb56f2d3a592dfc31df09115421. Here's a file I'm having trouble with: [rocket-chat-discourse.ico.gz](https://github.com/RocketChat/Rocket.Chat/files/1580898/rocket-chat-discourse.ico.gz)

Created using:

[code]

[2017-12-21 23:18] Sentinelrv opened #9220 "Cursor floats one line above text in text entry box, sometimes multiple lines above."
### Description:

In Safari mobile when I go to type a message in the text box, the cursor floats one line above where the text should be. This has happened for about a month now maybe. It is confusing because it's difficult to know what line the text is going to appear on.

Something else I've noticed is that sometimes when editing a message and moving the cursor around, the cursor will somehow e

[2017-12-21 23:20] Supermathie commented on #6791
Indeed, us as well on commit 65e06c283226ddb56f2d3a592dfc31df09115421. Here's a file I'm having trouble with: [rocket-chat-discourse.ico.gz](https://github.com/RocketChat/Rocket.Chat/files/1580898/rocket-chat-discourse.ico.gz)

Created using:

[code]

[2017-12-21 23:30] Sentinelrv opened #9221 "Attach file button does not register when tapped on Safari Mobile."
### Description:

In Safari mobile when I tap on the new icon to attach a file, nothing happens. It used to be a paperclip, but was changed to a monitor icon (which does not seem as intuitive to me). All 3 icons to the left of it work, but tapping the fourth icon does nothing. I've been unable to upload anything from mobile because of this.

I'm using iPhone 6 Plus, iOS 11.2.1.

### Server Setup I

[2017-12-21 23:49] Sentinelrv opened #9222 "Upload file screen where you hit send does not launch with Edge browser."
### Description:

In Microsoft Edge, if I click the plus symbol and try to attach a file, the menu opens up for me to select a file, but once I choose a file and try to open it, nothing happens. The usual screen that pops up that says "upload file?" and allows me to send the file does not come up. The process ends after clicking open. This happens with any type of file. I tried the same with FireF

[2017-12-22 00:03] Sentinelrv opened #9223 "In mobile browser, the last typed message remains in the text entry box in all channels even after submitting or clearing."
### Description:

This has been reported to me on both Android Chrome and Safari mobile. Desktop browser (at least Edge) is fine. In every channel the text entry box displays the last message that was typed, even if that message was already submitted or cleared.

### Server Setup Information:

* RocketChat 0.59.6
* Latest Docker

### Expected behavior:

Text should only appear in text entry box if

[2017-12-22 00:30] teamsoo commented on #5878
My 0.59.3 deployment works fine. Thanks.

[2017-12-22 02:10] coding-horror commented on #1838
Please, PLEASE let us select the emoji set in use! I have zero desire (or need) to set custom emoji but I really want to pick from Apple, Google, Twitter, EmojiOne, Microsoft emoji sets globally for our rocket.chat instance!

[2017-12-22 02:11] SamSaffron commented on #1838
Note, at Discourse we ship with 6 sets and allow users to pick which set they want.

Totally happy for you to borrow any of the code we have that is used for updating the sets which is the bulk of the work when adding more sets.

[2017-12-22 03:18] Julianoe commented on #7455
Hi i have this exact same issue.
One of my users uploaded 2 large files (130mo) as a test of our chat. My complete mongodump weight approximatly 520mo (not compressed). So i'm thinking: "okay those files represent a large part of our database, i sould delete them now".

I did that via the attachment interface but i did another mongodump it was the exact same size. I've been to the the Message admi

[2017-12-22 03:38] Julianoe commented on #2436
I revive a little this thread to add a **+1** on that feature.
Allowing users to export their users (lel) in a single document, CSV etc.., would be a nice addition.

For me one of the worst thing companies (non-free software) do is preventing you to go to another product with your data. Allowing RocketChat admins to export their users database easily would be a nice touch.

As @FibreFoX is pointin

[2017-12-22 09:42] janrudolph opened #9224 "Beautify status icon in user list"
The status icon in the user list indicates if a user is online. In the current version the icon is placed on the left of the profile picture. In my opinion this breaks the clear line on the left side of the design.

Current version:
<img width="131" alt="online-status-old" src="https://user-images.githubusercontent.com/3596824/34290825-bcd70e8e-e6f9-11e7-99c9-82852e1feda0.png">

I suggest an alter

[2017-12-22 10:02] AmShaegar13 opened #9225 "Server downloads are down"
### Description:

I cannot download prebuilt server packages from https://rocket.chat/download anymore. I'm getting a 502 Bad Gateway. Looks like https://rocketchat.konecty.com/ is completely broken at the moment.

### Steps to Reproduce:

1. Navigate to https://rocket.chat/download
2. Try to download a server package

### Expected behavior:

Download the tgz.

### Actual behavior:

502 Bad Gatewa

[2017-12-22 10:36] gnidorah commented on #4489
@simonv3 @gwpantazes Thanks! I've made a PR with that in mind https://github.com/RocketChat/Rocket.Chat/pull/9106 Please take a look. Though to match current behaviour of Rocket.Chat, conversion is done not through renaming, but via a separate checkbox like its done with private to public channel conversion.

[2017-12-22 11:03] AmShaegar13 opened #9226 "Deleting and recreating user results in exceptions"
### Description:

Deleting a user and recreating it afterwards results in unexpected behaviour. Direct chats with this user cannot be created if they previously existed. Might be not a big deal as this should never happen productively. We encountered the errors while testing.

This has happened before updating to the current release candidate as well and should have nothing to do with recent chang

[2017-12-22 11:39] sampaiodiego commented on #9225
fixed.. thanks =)

[2017-12-22 11:39] #9225 closed

[2017-12-22 11:54] #9202 closed

[2017-12-22 12:28] AmShaegar13 commented on #4571
Because it is not possible for us to host files with an external contractor we ran into the same *problem*. Here is a Gist of a MongoDB query to delete outdated files from GridFS we are using in a daily cron job.

https://gist.github.com/AmShaegar13/8a2be6895e6058e67d05a7596dd9bfca

Thoughts and feedback welcome!

[2017-12-22 13:10] PalakjainJain commented on #3909
I am also having this same issue

[2017-12-22 13:29] PalakjainJain commented on #7735
Hey @huynhquocmy i am also facing same problem and i used docker to install rocket chat.can you tell me where do i need to make this changes.

[2017-12-22 15:09] huynhquocmy commented on #7735
@PalakjainJain Please see my above comment, it should works.

[2017-12-22 16:03] pettitto commented on #9211
This ctually resolves the problem in this instance: https://github.com/RocketChat/Rocket.Chat/pull/8739

[2017-12-22 16:03] #9211 closed

[2017-12-22 17:17] theorenck commented on #9127
It is a epic, just a wrapper.

[2017-12-22 17:51] pfunk1978 commented on #8311
I can confirm this is happening on 0.59.4. Huge bummer, because we would like to use table markdown in our environment

[2017-12-22 18:01] rodrigok commented on #1163
@paulovitin IMO, there is no need to check if roles property exists and then check the property type, you could check the type directly:
[code]

[2017-12-22 18:19] paulovitin commented on #1163
@rodrigok you are right. 👍

[2017-12-22 18:51] #8120 closed

[2017-12-22 19:55] engelgabriel opened #9230 "[NEW] BigBlueButton Integration"
We would like to support https://bigbluebutton.org as an alternative for video conference.

The plan is to work with https://mconf.com to integrate the new HTML5 UI from https://html5-dev.mconf.com when it gets merged https://github.com/bigbluebutton/bigbluebutton/pull/4661

[2017-12-22 19:56] awunder commented on #7438
same here, fwiw

[2017-12-22 22:30] GustavoAmerico commented on #658
This issue needs documentation summarizing these two years of conversation and pointing out the points that the community can help

[2017-12-22 23:53] soundstorm opened #9231 "[new feature] Public channel without registration"
Currently the only way to interact with people in a Rocket.Chat is either a Livechat Widget (which connects only to one person if online) or public registration.

I just created a [Python relay](https://gist.github.com/soundstorm/91cc6553b117b98b919498b99d3836e2) which opens a WebSocket e.g. website visitors. The messages will be published via a incoming webhook to an channel and responses will be

[2017-12-23 01:49] BlessBau opened #9232 "Cannot build code"
### Description:

I have some customization and want to create a release, so as a meteor project, I did try:
`meteor build --directory /opt/publish`

### Server Setup Information:

* Version of Rocket.Chat Server: Latest from repo
* Operating System: Ubuntu Server 16.04
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:  1
* DB Replicaset Oplog:
* Node Version:

### Steps to

[2017-12-23 02:25] Sing-Li commented on #5207
@ABWelder   Thanks to the generosity of @SamSaffron 's  discourse.org team and expert technical assistance from @jomaxro and his team - we now have our official "Simple Community Forum" that you have described.  Please access it here and start actively participating in discussions:

https://forums.rocket.chat

The BEST way to login is via your https://open.rocket.chat   account!  Once you are logg

[2017-12-23 09:30] rasos commented on #8554
And please make it easy for a user to edit the additional fields by just clicking on where they are shown.

[2017-12-23 10:17] rasos commented on #6265
See also #3283

[2017-12-23 13:23] crsCR commented on #7004
Being able to choose what channels can be set as default would seem like a required basic feature... No?

[2017-12-23 14:12] TwizzyDizzy commented on #9224
Hi @janrudolph

I agree with you general reasoning, yet the clear, visual line on the left part of the left sidebar is currently already broken by the hash icon (for public channels) and the lock icon (for private groups). See the screenshot below.

![image](https://user-images.githubusercontent.com/179595/34320136-0db1dcd6-e7f3-11e7-8c6a-86172c75a029.png)

Yet I very much agree with you, that the

[2017-12-23 14:22] TwizzyDizzy commented on #9226
This seems to be a dupe of #6535, is it not?

Cheers
Thomas

[2017-12-23 14:43] AmShaegar13 commented on #9226
Yup. Exactly the same.

[2017-12-23 14:43] #9226 closed

[2017-12-23 17:09] horstepipe opened #9233 "Mandatory 2FA"
I'd love to see the abilty to force the users activating the 2-factor-authentication.
In a first step, it would be nice to have an overview about which users have it enabled and which don't.

[2017-12-23 19:24] romaroma commented on #9061
Same story. Rocketchat could not connect to the latest docker's mongo container. But let's keep the issue closed so the rocketchat's developers feel comfortable )

[2017-12-23 20:19] rodrigok commented on #7004
@HanniAbu and @crsCR Version 0.59.6 fixed this issue. Can you check?

[2017-12-23 20:38] AmShaegar13 commented on #9232
Did you run `meteor npm install` before and built rocketchat:lib twice as suggested in [example-build-run.sh](https://github.com/RocketChat/Rocket.Chat/blob/develop/example-build-run.sh)?

[2017-12-23 20:51] rodrigok commented on #5878
I'll close this issue, please let me know if you still have problems with reset password email and we can open it again.

[2017-12-23 20:51] #5878 closed

[2017-12-23 20:54] rodrigok commented on #8536
@flayks Did you restart your instance? Cuz if you delete the setting the update will not work, cuz it tries to get the setting from database first to check the value type.

If you restart the instance all the settings will be created with the default values.

[2017-12-23 23:01] BlessBau commented on #9232
yes, I did that after reviewing example-build-run.sh
I tried for both centos 7 and ubuntu 16.04, got the same error.

[2017-12-24 20:29] BlessBau commented on #9232
btw, when trying to run the produced code, this is the error that I am getting:

`node main.js
/opt/build/bundle/programs/server/boot.js:50
const { pause } = require("./debug.js");
^

SyntaxError: Unexpected token {
at exports.runInThisContext (vm.js:53:16)
at Module._compile (module.js:373:25)
at Object.Module._extensions..js (module.js:416:10)
at Module.load (module.js:343:32)
at Function.Module

[2017-12-25 02:56] AmShaegar13 commented on #9232
Version 0.60.0 requires node v8.8.1. You can see the required version [here] (

[2017-12-25 06:47] amonemian opened #9235 "Show Name instead of Username"
Is it possible to show Name instead of Usernames in Direct Message list?

[2017-12-25 07:00] pokapow commented on #933
I would like to help you to improve webRTC debugging tools, and using improvement in rocket.chat ?
How can I get start to help you ?

[2017-12-25 10:32] ledainam opened #9236 "rocketchat.service: main process exited, code=killed, status=11/SEGV"
### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.3
* Operating System: Centos 7
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances:  1
* DB Replicaset Oplog: Yes
* Node Version: 4.84

### Relevant logs:

Dec 25 15:52:01 smchat rocketchat: Exception while invoking method 'sendMessage' WriteError({"code":11000,"index":0,"errmsg":"insertDocument :: caused

[2017-12-25 13:54] Sing-Li opened #9237 "Hyperlinks in room announcements are invisitble"
### Description:

Any hyperlink in room announcements are highlighted in dark blue and becomes completely invisible  against dark blue background.

### Server Setup Information:

* Version of Rocket.Chat Server:  Version | 0.60.0-rc.5
* Operating System:  ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 6
* DB Replicaset Oplog: Yes
* Node Version:  v8.8.

[2017-12-25 14:02] Sing-Li opened #9238 "Make Admin -> Info SAME order as GitHub issues requirements to simplify issue creation"
### Description:

When filling out a GitHub issue, the required "Server Setup Information section" (see the next section) is difficult to pick off from our Administration screen ...   Admin -> Info

Suggest to create a section in EXACT REQUIRED ORDER/FORMAT (see the next section)  to reduce friction when testing and creating  GitHub issues.

### Server Setup Information:

* Version of Rocket.Chat

[2017-12-25 22:20] SamSaffron commented on #9214
I still struggle with the original decision here, cause both mattermost and slack manage to have the typing indicator below the composer fine and it totally eliminates the issue, this works fine on phones in both cases

[2017-12-26 09:24] amonemian commented on #9235
Administration-->layout-->User Interface --> Use Real Name

Solved!

[2017-12-26 09:24] #9235 closed

[2017-12-26 15:46] OtavioCapila opened #9239 "RocketChat sync problem with LDAP"
### Description:

RocketChat didn't sync with LDAP after upgrading to 0.59.6 Docker version

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.6
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 4
* DB Replicaset Oplog:
* Node Version: v.4.8.7

### Steps to Reproduce:

1. Administration
2. LDAP
3. Sync/Import
4. Execute Syn

[2017-12-26 17:02] karlprieb commented on #9221
Hey @Sentinelrv I think I fixed this problem on #9206 . Can you test on unstable.rocket.chat that run develop branch?

[2017-12-26 17:06] soundstorm opened #9242 "Weird channel-link display if channel name is valid hex"
### Description:

I just created a new channel "#cad", which is then parsed as color and channel parallel (?).
![Screenshot](https://user-images.githubusercontent.com/193273/34361010-a70d5d72-ea66-11e7-8ecd-19e72d6f6384.png)
On open.rocket.chat this does not happen, it just parses the color. I think it would be preferred to link to the channel instead of parsing the color, but that's an hard topic

[2017-12-26 17:27] engelgabriel commented on #7780
@MartinSchoeler maybe it is worth having a setting for this if it is the law on many places.

@localguru can it be a client side only feature? We don't save the anything on the DB, but the login button would not be enable until the person checks the box.

[2017-12-26 17:31] #9037 closed

[2017-12-26 17:33] #8888 closed

[2017-12-26 18:23] #9199 closed

[2017-12-26 18:31] engelgabriel commented on #3886
Was this solved by https://github.com/RocketChat/Rocket.Chat/issues/8015 ?

[2017-12-26 18:32] VibhorCodecianGupta commented on #9037
Hi, I was working on this issue @graywolf336 and requested a review too! Should I consider my PR closed?

[2017-12-26 18:37] rodrigok commented on #9037
Hi @VibhorCodecianGupta

I don't think that warning should show only for dev environments, people using the API from a production app will miss that warning.

A good addition would be a setting to disable warnings in API (off by default).

But your PR, as it is right now, is not what we consider correct.

[2017-12-26 18:44] karlprieb opened #9244 "Change emojipicker layout to match the new UI layout"

[2017-12-26 19:43] karlprieb opened #9246 "New sidebar items are wrong on RTL"
![image](https://user-images.githubusercontent.com/9200155/34363560-550b3488-ea64-11e7-9322-2ca5f8f3bc1b.png)

[2017-12-26 21:51] SISolutions commented on #4161
Have you ever tried Zulip?
https://zulipchat.com/

 Zulip is 100% open source software, built by a vibrant community of hundreds of developers from all around the world. With 100,000 words of developer documentation, a high quality code base, and a welcoming community, it’s easy to extend or tweak Zulip.

Zulip has a significantly larger and more active development community than other modern open

[2017-12-26 22:12] arminfelder commented on #8692
as @rasos pointed out, I wrote a small pushgateway for RocketChat, please feel free to give me feedback: https://git.fairkom.net/chat/RocketChatMobilePushGateway

[2017-12-27 01:19] imtrobin opened #9250 "Request Remove deactivated users from all rooms"
Hi, when I deactivate a user, is it possible to have a way to unsubscribe them from all the rooms. Currently I have many rooms and I have to do it manually for every one.

[2017-12-27 05:19] alexweissman commented on #3592
Is there any update on this?  This is really causing problems with my community, [UserFrosting](https://github.com/userfrosting/UserFrosting), because newbies will try to livechat us, no one will be around, and so they'll send me an offline message.

When I respond to this message via email, I tell them to join the main chat, but of course that doesn't work as they are a "livechat user" with no pe

[2017-12-27 06:11] sachinrkeche opened #9251 "[API]How can i get the all messages to the particular channel ?"
Hello Developers,
I am fetching this API [https://ctsichat.mvoipctsi.com/api/v1/channels.history](url) GET request require parameter are X-Auth-Token="", X-User-Id="" and roomId=""  I tried this one to fetch the history of the single channel but I didn't get the expected result, in their mismatch is the documentation or I am doing something wrong? please help me out.

[2017-12-27 09:07] sillicius opened #9252 "Clamav block Rocket Chat as virus (Html.Exploit.CVE_2017_11901-6393372-0 FOUND)"
hello,

Since 2 weeks, we have rocket chat block by clamav :

stream: Html.Exploit.CVE_2017_11901-6393372-0 FOUND
http://chat._mydomain.com_/f24c3486032187f4ce0cc395ff701c7074228d7a.js?meteor_js_resource=true

https://www.cvedetails.com/cve-details.php?t=1&cve_id=CVE-2017-11901

I have see that there are old issues like this one ... Have you a procedure to correct this false positive ?

Thank you

[2017-12-27 09:14] wakkorottix commented on #8801
Hello, any information if this will be fixed in 0.60? haven't seen it in the bugfixes so far
best regards

[2017-12-27 11:14] cello86 commented on #8254
@rodrigok  the value is configured as 85

[2017-12-27 11:54] Lemmmy opened #9253 "DMs are sorted asciibetically"
### Description:
DMs in the room list are sorted asciibetically instead of alphabetically. This makes it harder to find users in a long DM list. Asciibetically means uppercase letters appear before lowercase letters, for example:

[code]

Should instead be sorted:

[code]

Asciibetical sorting can result in unnatural sorting in non-English languages, especially CJK ones, too.

There are packages t

[2017-12-27 11:57] #9246 closed

[2017-12-27 13:34] marzie82 opened #9254 "Kick user from Channel not possible- options missing"
### Description:
Removing user from existing Channel is not possible. Klicking on "Userslist" and choosing User starts a converstation instead off showing Menu with options.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.4
* Operating System: Linux (ubuntu 16.04.)
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances:  1
* DB Replicaset Oplog: yes
* No

[2017-12-27 13:35] marzie82 commented on #9254
The screenshot shows the expected screen when I try to remove a User from A Channel- this screen I don't get with my installation. Trying with rocket.chat works well.

[2017-12-27 13:46] ge-ku commented on #4971
I'd also love to see this feature. Here's how it [works in Wekan](https://github.com/wekan/wekan-snap/wiki/Install#url-settings) (also Meteor based app): `sudo snap set wekan root-url="https://example.com/wekan"`.

[2017-12-27 14:37] RickiWeb commented on #7125
Hello!
@geekgonecrazy with this method the bot is still offline! are there any other solutions?

[2017-12-27 16:32] OtavioCapila commented on #9252
Are you using Internet Explorer?

[2017-12-27 17:56] karlprieb commented on #9112
Hey @sinteur witch Rocket.Chat version are you using? I can't reproduce this error on `develop` branch.

[2017-12-27 18:02] sinteur commented on #9112
It's been happening since early .56 versions, and still happens on 0.59.6. Note that it's not happening with ALL users. I'm not ruling out a database corruption of some sort, so if there's specific queries you'd like to see the results of let me know

[2017-12-27 19:24] zxweed commented on #4381
0.59 - not fixed

[2017-12-27 19:28] zxweed commented on #4199
I have upgrade and checked the last version - 0.59.3, the problem still exists

[2017-12-27 19:30] zxweed commented on #4199
![image](https://user-images.githubusercontent.com/16319433/34391243-7770451c-eb55-11e7-8349-a4358f7a99df.png)

[2017-12-27 19:37] zxweed opened #9261 "The custom logo does not show"
### Description:

**I have specified the custom logo and favicon files but rocketchat shows the default ones.**

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.3
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances:  1
* DB Replicaset Oplog: none
* Node Version: 4.8.4

[2017-12-27 20:18] #7725 closed

[2017-12-27 20:18] #8940 closed

[2017-12-27 21:55] rasos commented on #9233
We have deployed RC with an identity provider (keycloak) and de-activated self-registration in RC.

[2017-12-27 22:09] #8941 closed

[2017-12-27 22:35] #8955 closed

[2017-12-28 00:40] soundstorm opened #9263 "Message action with selectable text in 0.60.0"
Just upgraded to 0.60.0 and tested the new UI on mobile - when holding down on a message the action window pops up, but as the text is selectable, shortly after the popup the textselector will activate. So you got eg a selected "edit" and when clicking elsewhere to hide the selector, the popup will hide too.
![text-selectable](https://user-images.githubusercontent.com/193273/34396789-07d5f1c8-eb70

[2017-12-28 00:43] soundstorm commented on #9242
Closing as duplicate of #8524

[2017-12-28 00:43] #9242 closed

[2017-12-28 01:28] geekgonecrazy commented on #3592
#9048 might actually complicate this request.

[2017-12-28 01:51] horstepipe commented on #9233
Thanks, but in principle I‘m happy with the 2FA. I just want to make sure all users have it enabled.

[2017-12-28 02:38] caesarcxiv opened #9265 "Android App whitescreen after snap upgrade to .60"
### Description:

Snap updated to .60 and Android client is unusable. Client is completely white after the "loading ... " screen.

Attempted uninstall / reinstall of android client from play store.

### Server Setup Information:

* Version of Rocket.Chat Server: .60
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Ena

[2017-12-28 02:45] alexweissman commented on #3592
Hmm, sounds like it's intended to fix this very problem!  @sampaiodiego can you confirm?

[2017-12-28 05:08] shtefcs commented on #3592
Honestly I stopped using livechat feature cause of that.

[2017-12-28 05:23] ledainam commented on #9265
I have same issue. Pls help us to fis this.

[2017-12-28 06:08] pkostiuk commented on #9265
Same issue here but running 0.60 in Docker.

[2017-12-28 07:11] caesarcxiv commented on #9265
Stumbled accross this and downloaded rocketchat+

Issue fixed. I would recommend the play store description be updated to point users to the new client.

https://forums.rocket.chat/t/rocket-chat-vs-rocket-chat/35/2

[2017-12-28 08:53] HammyHavoc opened #9266 "Facebook Messenger livechat integration loads infinitely after enabling"
### Description:
Facebook Messenger live chat integration loads indefinitely after enabling it; the '3 dots' loading animation appears in the 'Livechat' panel.

Can't disable or reload_pages, even after a server restart.

Disabling Facebook in Administration's Livechat area results in an 'Enable' button in Livechat and the loading stopping, however clicking 'Enable' does nothing, just like clickin

[2017-12-28 09:39] Rohlik commented on #6130
In version 0.60.0 is option to delete custom sounds, finally.

[2017-12-28 09:39] #6130 closed

[2017-12-28 09:46] ebxm commented on #2248
Hello, I am interested as well.

[2017-12-28 09:54] HammyHavoc commented on #2924
0.60.0 brings Facebook Messenger support for Facebook Pages. [https://github.com/RocketChat/Rocket.Chat/pull/8807](https://github.com/RocketChat/Rocket.Chat/pull/8807)

[2017-12-28 10:12] pettitto opened #9267 "Redirected to /home when marking message as unread via reaction menu"
When using the 'reaction' option in a chat, there's an option for "Mark as Read" when an unread message is displayed, if I use this in any room on any unread message, I get immediately redirected back to <example url>: rocket.chat/home

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60
* Operating System: Stretch
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running

[2017-12-28 10:15] TwizzyDizzy commented on #9267
I can confirm this behaviour on 0.60.1.

Cheers
Thomas

[2017-12-28 10:45] sampaiodiego commented on #3592
alright, #9048 actually fixes the issue @shtefcs was having. he can now tell his livechat visitors to access his rocket.chat URL and register. :smile:

[2017-12-28 10:45] #3592 closed

[2017-12-28 11:02] shtefcs commented on #3592
Finally ^^ . Thanks Diego and others 👍

[2017-12-28 11:34] edisonchen1985 opened #9268 "where can I find the API codes for the iOS/Android"
Dear all, it's our great honor to use this amazing Rocket.Chat application. Right now we are trying to work on the iOS/Android native Rocket.Chat to add more features on them to somehow match with the Cordova version.

The issue is we are quite new to Meteor/Rocket.Chat system, we really can not figure out where is the API codes? Can anybody help to tell us where can we change/add the codes for na

[2017-12-28 11:56] wemu opened #9269 "Rocket.Chat server down after snap refresh"
### Description:

Using Ubuntu 16.04 and the snap setup, when the snaps refresh the mongo server starts up fine but the rocket.chat server terminates (probably too soon) due to unreachable mongodb

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Op

[2017-12-28 12:57] alternative4 opened #9270 "Blank screen on mobile clients"
Getting trouble while getting access to Rocket Chat from mobile clients. After I enter server URL it goes "Connecting - Downloading" and then just blank screen (first login).

* Version of Rocket.Chat Server:  0.60.0
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: On
* Node Version: 8.9.3

Behaviour slightl

[2017-12-28 14:07] Gummikavalier commented on #7818
I cannot reproduce this anymore on 0.60.1 so this is fixed. Closing.

[2017-12-28 14:07] #7818 closed

[2017-12-28 15:07] pedroarinto commented on #9270
We are experiencing exactly the same problem with 0.60.0 on Android devices. Web version works, as well as Mac and Windows Desktop clients.

[2017-12-28 16:03] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk opened #9271 "Way to disable slash commands."
Is there any way to remove slash commands feature or to disable for some users ?
It is very uncomfortable to send filesystem pathes in messages when they are at the beginning or are the only text in message.

[2017-12-28 16:50] sscholl commented on #8621
If have the same error again in 0.60.1

[code]

[2017-12-28 17:23] Nuvelle commented on #1442
This is something we are looking for at the moment, without it we may not be able to use telegram at all :-/

[2017-12-28 17:32] rodrigok commented on #9268
@edisonchen1985 It depends on what you want to add, can you describe it better?

[2017-12-28 17:43] rasos commented on #9269
Same here, upgrade to 0.60.1 (from 0.58.3) on Debian stretch (single instance, replica on) results in:

Dec 28 18:35:56 h systemd[1]: rocketchat.service: Main process exited, code=exited, status=1/FAILURE
Dec 28 18:35:56 h systemd[1]: rocketchat.service: Unit entered failed state.
Dec 28 18:35:56 h systemd[1]: rocketchat.service: Failed with result 'exit-code'.
Dec 28 18:36:07 h systemd[1]: rocket

[2017-12-28 17:43] rodrigok commented on #9265
@caesarcxiv We are planing to make the native apps the official ones soon.

[2017-12-28 17:54] rodrigok commented on #9267
@pettitto @TwizzyDizzy Can you show me where did you find the `Mark as Read` menu? Maybe a screenshot?

[2017-12-28 18:00] TwizzyDizzy commented on #8571
Hi @geekgonecrazy

after having deployed 0.60.1 I have to return to this topic. As of yet, the full functionality of "More channels" has yet to be restored. As a user, there is currently NO way to get a list **ALL** channels on an RC instance.

I have just tested this:
* login as admin, look for some random room in the admin interface (in my case called "aem-empire")
* klick into the new search ba

[2017-12-28 18:14] TwizzyDizzy commented on #9267
@rodrigok there you go - I use "Mark as unread", yet it's the same as if this was an unread message and I wanted to mark it as read.

![ezgif-3-56a5f168b8](https://user-images.githubusercontent.com/179595/34419307-523b9540-ec03-11e7-9e72-0a1781cdddb6.gif)

Cheers
Thomas

[2017-12-28 18:18] pettitto commented on #9267
Thanks @TwizzyDizzy - was just about to post back with one!

[2017-12-28 18:28] TomaszDom commented on #9270
....so not a single Android apps works with the latest "stable" version of Rocket.Chat? @rodrigok ?

[2017-12-28 18:34] TwizzyDizzy commented on #9261
Would you care to test this again on the latest release 0.60.1?

Cheers
Thomas

[2017-12-28 18:37] sscholl commented on #8621
Nevermind, I found my problem. The LDAP Server can not do pagination.
=>I passed **0 to Search Page Size** to disable pagination

[2017-12-28 18:44] robertwessen commented on #9265
rocketchat+ does not correct the issue for us (and others)
https://github.com/RocketChat/Rocket.Chat/issues/9270

[2017-12-28 19:15] geekgonecrazy commented on #9269
@rasos yours does not seem to be snap related.  So not related to this issue.

Update to nodejs 8.x and yours will start working again.

@wemu can you give me some specs of the machine this is running on?

[2017-12-28 19:41] geekgonecrazy commented on #8571
@twizzydizzy search I believe is still the only way to see all channels.

Ill see if I can locate the appropriate issue where the channel discovery will be added.

[2017-12-28 19:48] reffu42 commented on #6178
As a side effect of this, you can inject custom css into the image preview. For instance, something a co-worker found out is that setting the name (after upload) of a file to `'); position:fixed; top:1em; left: 15em; ` will cause it to sit at the top of the page and not go away until the preview is collapsed. This could be especially bad because you could make an absolute or fixed position image t

[2017-12-28 19:49] wemu commented on #9269
Hello
Thanks for the reply! Am I looking for anything specific? Nothing too fancy. Everything installed via apt or snap, no custom repositories. Here some generic info:

uname -a
Linux dschonas 4.4.0-104-generic #127-Ubuntu SMP Mon Dec 11 12:16:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[code]

If you need something else please just let me know.

[2017-12-28 20:17] rasos commented on #9269
@geekgonecrazy thank you for the hint with the node version, could not find that in the release notes. I update the docs for Debian install, see my pull request: https://github.com/RocketChat/docs/pull/486

[2017-12-28 20:41] volas commented on #8571
@geekgonecrazy search is useless if you don't know what to look for. It's shows only 5 channels per request.
This is a big problem for communities with many channels, they look unfriendly to new users.

<details><summary>open.rocket.chat now:</summary>

![screen](https://user-images.githubusercontent.com/4064061/34422361-050ec1b6-ec26-11e7-821b-97d43080f865.png)

</details>

I love RocketChat, but

[2017-12-28 21:10] zxweed opened #9275 "Meteor Error: Unexpected token: const { pause } = require("./debug.js");"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.1
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances:  1
* DB Replicaset Oplog: none
* Node Version: 4.8.4

### Steps to Reproduce:

**node main.js**

/opt/Rocket.Chat/programs/server/boot.js:50
    const { pause } = require("./debug.js");
          ^

SyntaxEr

[2017-12-28 21:18] zxweed commented on #9261
Sure, but there are another problem in the 0.60.1 - it won't run, https://github.com/RocketChat/Rocket.Chat/issues/9275

[2017-12-28 21:46] TwizzyDizzy commented on #9275
This is probably due to the upgrade to nodejs8 (mentioned in the [release blog post](https://rocket.chat/2017/12/27/rocket-chat-0-60-released/)). So you first need to upgrade to nodejs8 before running >= 0.60.x.

So this issue is probably obsolete and you can close it, as soon as it works with nodejs8.

Cheers
Thomas

[2017-12-28 23:29] bettaa opened #9276 "LDAP connection Error"
### Description:

I keep getting a repeated error in my syslong stating that there has been a connection error with LDAP. I have notice no degradation in service.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version:

[2017-12-29 00:39] #9266 closed

[2017-12-29 00:43] rodrigok commented on #9270
@TomaszDom The native apps should work, did you try the Rocket.Chat+ app?

[2017-12-29 00:44] rodrigok commented on #9270
We are investigating why this error is happening, hope we will have a fix tomorrow

[2017-12-29 00:47] rodrigok commented on #9267
@pettitto @TwizzyDizzy I wasn't able to find the option to mark as **read** in message's menu

[2017-12-29 00:53] edisonchen1985 commented on #9268
@rodrigok  thanks a lot for your reply. For example when the native iOS/Android code calls `subscriptions/get` , the server response back a json object, right now we want to do sth before it return the json object, but we can not find where can we add the codes. (we can not find in which file is the  `subscriptions/get` in?)
Thanks a lot for further reply!

[2017-12-29 00:59] pettitto commented on #9267
Let me get another example tomorrow (UK) time, and see if we can understand what’s causing the behaviour.

[2017-12-29 01:38] TwizzyDizzy commented on #9267
Don't wanto to scramble, but might this be also a privilege-related issue in terms of that you're not allowed that function, or a server option or a user preference?

Cheers
Thomas

[2017-12-29 02:30] ledainam commented on #9270
Rocketchat++ not fully function like Rocketchat @rodrigok
Notification slowly than Rocketchat.

[2017-12-29 03:49] Sentinelrv commented on #9219
I noticed this problem occurring elsewhere. It happens when I open the sidebar and the dropdown menu. I can barely see My Account and Logout is behind the menu.

[2017-12-29 03:51] Sentinelrv commented on #9221
Sorry, I don't know how to do that. I don't run our chat instance and was only trying to make sure the issue was known about.

[2017-12-29 04:56] alternative4 commented on #9270
@rodrigok Rocket.Chat+ returns "Invalid server version" error.

[2017-12-29 06:10] TomaszDom commented on #9270
@rodrigok I had to clear app data and cache of Rocket.Chat+ 1.0.33 to make it work. #9270

@alternative4 Are you sure you're trying "Rocket.Chat+" and not the ReactNative version? Because the ReactNative version didn't work for me with 0.58.0 and it still doesn't with 0.60.1 with the same "Invalid server version" message. Are you perhaps running Rocket.Chat behind Nginx or Apache?

[2017-12-29 07:17] alternative4 commented on #9270
@TomaszDom Yes, Rocket.Chat+behind Apache ReverseProxy. Rocket.Chat+ mobile does not support ReverseProxy? Windows PC client does.

[2017-12-29 07:21] TomaszDom commented on #9270
@alternative4 It may be unrelated, but take a look at what I had to do to make Rocket.Chat+ work when Nginx load balancing/reverse proxy is involved #375

Make sure you are using "Rocket.Chat+", not "Rocket.Chat" application and make sure you cleared application data and cache.

[2017-12-29 07:25] alternative4 commented on #9270
@TomaszDom Thanks, I'll give it a try.

[2017-12-29 10:51] pettitto commented on #9267
So, from a bit more digging, it actually happens when you mark a message as "Unread" - sorry for the confusion.

[2017-12-29 11:05] sampaiodiego commented on #8880
Closing as duplicated of #8730

@HammyHavoc please can you give more details at that issue, thx

[2017-12-29 11:05] #8880 closed

[2017-12-29 11:09] sampaiodiego opened #9278 "Livechat return conversation to the pool if agent goes offline"
### Description:
Currently if an agent goes offline you can only choose to close his opened livechats or forward them. Would be nice to have an option to send it back to the pool (when using Guest Pool routing method), so any other online agent can take it.

[2017-12-29 11:13] sampaiodiego commented on #8072
Just so you guys know, you can still change it from livechat appearance page (click on your avatar at top left corner > Livechat > Appearance). Changing from admin panel is buggy indeed.

[2017-12-29 11:30] rodrigok commented on #9267
@pettitto That was what I thought 😄

So, that is the correct behavior, since you mark as unread you need to leave the room to not mark as read again by activity.

Do you have a better suggestion for that?

[2017-12-29 11:32] rodrigok commented on #9268
@edisonchen1985 With a quick search here https://github.com/RocketChat/Rocket.Chat/search?utf8=%E2%9C%93&q=subscriptions%2Fget&type= you are able to find the correct file, will be the 3rd result `server/publications/subscription.js` at line 35

[2017-12-29 11:33] rodrigok commented on #9268
Is that what you need? Can I close this issue?

[2017-12-29 11:37] pettitto commented on #9267
Ah - sorry!

I can understand why the behaviour works in this way since a message is marked as "read" once you get into a room/channel.

I think the functionality works fine as it is. I was thinking of how we might be able to add an "acknowledge" button if you wanted to mark a message as unread but stay in the room.

I realised that actually, the functionality that's there is correct and I am prob

[2017-12-29 11:37] #9267 closed

[2017-12-29 11:39] sampaiodiego commented on #8773
did you create livechat agent? going to `Livechat > User Management` you **have** to added at least one agent.

[2017-12-29 11:43] sampaiodiego commented on #8978
since #9048 was merged, livechat users/visitors are no longer rocket.chat regular users, this means they will not be logged in if they open the main chat. is that something what you want? or do you want to call some API on livechat widget to "pre-register" the visitor if you already knows who he is?

[2017-12-29 11:47] TwizzyDizzy commented on #9267
Ah... well... from that perspective it makes sense, indeed. Could have seen this coming ^^ ...

Well that, I assume, is the intended function of **starring** a message - so that's already possible.

Cheers
Thomas

[2017-12-29 12:01] sscholl opened #9279 "LDAP Sync: final batch not processed (without pagination)"
### Description:

I use LDAP without pagination (by setting LDAPP_Search_Page_Size to 0), because my LDAP Server is not able to provide pragination. When I use the LDAP Sync Feature (by hand or by cronjob), 500 users are imported at maximum. I guess this is because of the missing pagination feature, but my LDAP sends all ~800 users.

Can you increase the default value or make it configurable?

Tha

[2017-12-29 13:14] slyk commented on #9270
Got same problem on all our Android devices :(

[2017-12-29 13:29] rodrigok commented on #9279
@sscholl There is no hard limit in our code.

Was it working before version 0.60? Could it be a hard search limit in your LDAP server configuration?

[2017-12-29 13:29] rodrigok commented on #9279
We tested imports with more then 200.000 users with and without pagination.

[2017-12-29 13:46] rodrigok commented on #9270
@slyk we are working to release a new Android version ASAP, the problem was related with new JS features not supported by current webview version. Meanwhile you can use the native apps `Rocket.Chat+`

[2017-12-29 14:08] torgeirl opened #9281 "No info given to new OAuth users that need manual approval"
### Description:
With Accounts > Registration > Manually Approve New Users = True, new users signing up using a custom OAuth providers are thrown back to the login screen. They are not given any instructions or other indication that that login will not be available before the account is activated by an administrator. To the user, it looks like a glitch.

### Server Setup Information:
* Version of

[2017-12-29 15:00] vooydzig commented on #6114
I kind of have similar problem: I was creating users with "cryptic" non-changable user names that I didn't want to show in push notifications. I ended up patching `sendNotificationsOnMessage.js` file so that I get user real name. I.e in `sendNotificationsOnMessage.js` line 267:
[code]

For more generic solution probably additional check should be made if `UI_Use_Real_Name` is set to true.

As a si

[2017-12-29 15:17] sscholl commented on #9279
@rodrigok  Thanks for your answer! I can see, that my LDAP is returning ~800 users, so my guess here is Rocket.Chat. I see the value 500 for example here in the source code:
https://github.com/RocketChat/Rocket.Chat/blob/e2c0fc958c85c796a8e111b3eb060645336bfcde/packages/rocketchat-ldap/server/ldap.js#L389

Or is it possible, that I have a problem with asynchronous jobs?

[2017-12-29 15:43] rodrigok commented on #9279
@sscholl That's the internal batch control, is not related with LDAP pagination.

But I found the error, it's not processing the final results of the final batch, I'll fix ASAP, release a new version and let you know.

Thanks

[2017-12-29 15:46] sscholl commented on #9279
Very nice!!! Thank you :)

[2017-12-29 15:51] tryelse commented on #8978
@sampaiodiego Thank you for the answer.
For now we are looking for functionality to track livechat users as regular ones (to keep their history, to know who is writing to support) but as I understand it was decided to separate livechat and regular ones :(
One of solutions we found is to put main chat window to iframe, same sized as livechat. But in such a way we lose livechat functionality (queues

[2017-12-29 15:54] JoeArcher007 opened #9282 "Setting "Collapse Embedded Media by Default" to false doesn't allow for YouTube Previews to show up clicking the arrow"
### Description:

If "Collapse Embedded Media by Default" is enabled in user's preferences, clicking the '>' beside a link doesn't open the preview / collapsed media. It will not open and cannot be opened. This is true for YouTube links as well.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.60.0 (Has been happening for a bit I believe)
* Operating System: Ubuntu 17.10 Server
*

[2017-12-29 16:06] himbeere commented on #9270
Well. I'm using the rocketchat+ client and have the very same problem. Cannot connect to 0.60.x server.

[2017-12-29 16:14] TomaszDom commented on #9270
@himbeere is your server running behind a reverse proxy? Try allowing unencrypted connections on port 80 to `/websocket` and `/api/info` locations instead of redirecting all traffic to https at port 443. That's what I had to do to make "Rocket.Chat+" work back in September with Nginx. https://github.com/RocketChat/Rocket.Chat.Android/issues/375#issuecomment-329981458

[2017-12-29 17:09] sampaiodiego commented on #8978
@tryelse you can already look at past livechats of a visitor on a tab panel on the right.

if you have a way to identify a visitor from outside rocket.chat you can use then [custom fields](https://rocket.chat/docs/developer-guides/livechat-api/#-set-custom-field-) .. custom fields information will be available on the "info panel" of a livechat session.

I guess this covers your needs.

[2017-12-29 17:11] soundstorm commented on #8666
@MartinSchoeler this can be closed too :)
@rafaelks fixed this in https://github.com/RocketChat/Rocket.Chat.iOS/issues/1091

[2017-12-29 17:46] #9126 closed

[2017-12-29 18:59] HammyHavoc commented on #9266
If you 'Enable' the Facebook integration in Administration's Livechat area then you get an infinitely loading bug, whereas if you enter the key and secret, keep it as disabled and then go to Livechat > Facebook Messenger > Click Enable, you then get the auth popup.

[2017-12-29 19:15] HammyHavoc opened #9283 "Allow users to assign certain Facebook Pages to various departments or people for Livechat"
Not every page is relevant to every user or department, it would be awesome to be able to assign a specific page to specific people/departments. :- )

[2017-12-29 19:26] HammyHavoc opened #9284 "Reverse movement direction of rc-switch in /livechat-manager/facebook"
The switches move from right to left, which is inverted from standard UX practices of left to right, and what's seen elsewhere on RocketChat, such as the Livechat enable/disable switch (livechat-status). :- )

[2017-12-29 20:55] wemu opened #9287 "wish: don't use error color just for marking messages (.first-unread)"
In around version 0.60 there is a new marker for unread messages. It seems to use the error color:

https://github.com/RocketChat/Rocket.Chat/blob/d7e0e70c3700d53de2b965b1b948cce1fce3dfad/packages/rocketchat-theme/client/imports/general/base.css#L132

But unread messages are not an error (in my opinion). Please use an own css name and don't re-use names that have a different purpose.

I also find

[2017-12-29 21:29] HammyHavoc opened #9288 "<div class="info"> for You_need_to_verifiy_your_email_address_to_get_notications doesn't format as expected on accountPreferences.html"
As the titles says, the style for this info is aligned to the left rather than directly beneath the form. Currently looking at the source, will report back if I figure it out.
<img width="694" alt="info" src="https://user-images.githubusercontent.com/503951/34447807-4c09069e-ecdf-11e7-9a28-5ded36064038.PNG">

[2017-12-29 21:36] rasos commented on #9270
Also fairchat App works against RC 0.60.1 - you may give it a try https://play.google.com/store/apps/details?id=com.osalliance.rocketchatMobile

[2017-12-29 21:42] rasos commented on #1324
The API offers a joinLink for public channels, but it seems it is not available in the Web UI: https://rocket.chat/docs/developer-guides/realtime-api/method-calls/joining-channels/

Anyway, we would need a way to offer people a link to join both public and private channels.

[2017-12-29 21:48] GPConnect commented on #2355
damn !!! We need this !!!

[2017-12-29 22:48] HammyHavoc opened #9292 "Capitalize the 'U' and 'M' of 'unread messages'"
Capitals are used everywhere else in the UX, introducing lowercase looks really out of place and messy.
<img width="704" alt="unred 2" src="https://user-images.githubusercontent.com/503951/34448929-6c91ff0a-ecea-11e7-90c4-7fdbaa764170.PNG">

[2017-12-29 22:51] HammyHavoc commented on #9287
Couldn't agree more!

[2017-12-30 04:28] robbyoconnor commented on #9265
@rodrigogs RocketChat+ hasn't worked for us yet.

[2017-12-30 08:22] Gummikavalier commented on #9224
@TwizzyDizzy Those icons are needed if you set `merge channels` in options. Personally I'd lose initial avatars in channels unless they get some extra features in the future.

What @janrudolph suggests might cause trouble with avatars with much green, yellow or red hues, so the dot would need additional contouring.

[2017-12-30 09:27] edisonchen1985 commented on #9268
@rodrigok Sorry for my late response. It looks like that is what I am looking for. I will double check with my colleagues when the holiday is over. Thank you very much for the help and Happy New Year to you.

[2017-12-30 09:27] #9268 closed

[2017-12-30 12:41] Gandalf-the-Grey commented on #8284
Guys, lack of anti abuse features makes it unusable at scale because such chat is simply becoming scam-nest. Apache-style flat file logs would help and should be fairly simple to implement for core team. Please make this high priority.

[2017-12-30 13:08] himbeere commented on #9270
Fairchat does not work for me either. Also i'm using apache so the nginx problem should not apply to me.

Is someone working on this problem right now? I'm stuck with version 0.59.x for now.

cheers
t.

[2017-12-30 13:29] TomaszDom commented on #9270
@himbeere just because you don't use Nginx doesn't mean it isn't the same problem.

What I suggest you do is run mitmproxy between your phone and the server, see the traffic for yourself and compare between a working installation and one that doesn't work with Rocket.Chat+.

BTW, Fairchat doesn't work for me either (as well as the ReactNative app which tells me I don't have a valid server...).

[2017-12-30 13:35] himbeere commented on #9270
Yes. Next step would be to run tcpdump or the like to see what's happening. But i thought the rocketchat team would spare me that hassle. :)

cheers
t.

[2017-12-30 14:32] nicolas-arnold opened #9293 "Make permalinks work across different sandstorm apps."
This is a feature request for the **sandstorm** version of Rocket.Chat. I think it would be a great enhancement and a logic conclusion due to the concept of a production suite.

The "permalink"-function should produce a link, that can be used across the plattform. For now it only works inside the Chat itself.

### Expected Behaviour:

1. Copy a permalink to clipboard
2. Paste it in a Pad inside, o

[2017-12-30 16:28] geekgonecrazy commented on #9270
Typically if Rocket.Chat+ doesn't work it's one of two things.

1. You aren't using ssl.  The iOS version requires it.  Or if you are using ssl you are using self signed.  There are ssl test websites that will tell you.
2. Your reverse proxy (nginx or apache) is not properly configured to handle upgrade of websocket.  More often then not it's actually apache users I see with this problem.  Nginx s

[2017-12-30 18:12] himbeere commented on #9270
@geekgonecrazy I guess the real problem is all of us had a working setup and that broke with updating to 0.60.0. So it would be interesting *what* exactly broke the setup.

[2017-12-30 18:47] himbeere commented on #6750
Any progress on that matter?

[2017-12-31 02:28] BlessBau opened #9294 "Cannot update mongodb port"
I changed my mongodb port to 28182
updated my environment
[code]
For some reason, rocket chat is still trying to connect using the port 27017

[2017-12-31 07:14] GalGreenfield commented on #4816
Was something done eventually about this?

[2017-12-31 12:15] lukasreichart commented on #7593
@MartinSchoeler if you could give me some info how you would like to resolve this, I can create a PR ....

[2017-12-31 16:11] JannikZed commented on #6809
@jmoont Hi, just one more little question: do you also know what to put into "Username field"? Right now rocket.chat is not recognizing the email Adresse of the authenticating user.
Kind regards

[2017-12-31 19:47] jszaszvari commented on #6809
@JannikZed

userPrinciplename

[2017-12-31 21:48] soundstorm opened #9295 "[BUG] Sorting of usernames is case-sensitive"
Usernames can be chosen as mixed case strings, which results in an order of usernames like following (sidebar):
A
B
C
a
b
c

They should be up or downcasted before sorting.