[2018-05-12 06:05] kaiiiiiiiii commented on #10745
@danintel

https://chat.hyperledger.org/api/info

[2018-05-12 12:07] ulope commented on #5726
I'm also experiencing (what seems like) excessive CPU usage of constantly ~15% on a MacBook 2016 while RC is idle.

In my case I'm using the Electron App v. 2.10.5 with Server v. 0.64.1.

Using the internal dev tools I can see 'Recalculating Styles' (with the accompanying Compositing and Paint) events happening approximately every 16ms without any obvious cause.

The `.loading-animation` element m

[2018-05-12 14:12] flantascience opened #10747 "OAuth logging in isn't closing my WebView in the app"
(I wasn't sure how to re-open a ticket, so this is a follow-up to [#10725](https://github.com/RocketChat/Rocket.Chat/issues/10725) - I updated my Rocket.Chat server to version 0.64.1 and am still having the problem.)

I made this video to show the issue, seemed easier than describing it:

https://youtu.be/ybZQQjdy6jE

Description:
When logging into the mobile app of Rocket.Chat, I use an OAuth thr

[2018-05-12 14:12] flantascience commented on #10725
Opened this as a new issue [here](https://github.com/RocketChat/Rocket.Chat/issues/10747)

[2018-05-12 16:41] 2E0PGS commented on #8539
I have the exact same issue. I have had a install just break randomly I suspect snap automatically refreshed/updated.

Running `sudo /usr/bin/snap run rocketchat-server.rocketchat-caddy` I get `no such file or directory`

In my `/var/log/syslog` I get the same error too.

I have had the CaddyFile working fine before and it appears to be the same config now.

[2018-05-12 19:52] axchemezov opened #10748 "Did not get notifications from channel"
### Description:

Did not get email about new messages in channel.

For example:
1. We have a channel #test and all users have same preferences.
2. We need that if userX offline, but userY message in that channel then Rocket.Chat push email to user1 about that new message in channel.

There was something similar https://github.com/RocketChat/Rocket.Chat/issues/10361#issuecomment-379232010 but it d

[2018-05-12 20:42] SkyzohKey commented on #10653
Any update on this ? :(

[2018-05-13 01:39] 707eric commented on #8539
Run
sudo systemctl restart snap.rocketchat-server.rocketchat-caddy.service

then

journalctl -xe

and look if it says it fails and if so why it might have failed.

I have been running multiple instances of Rocket with two different users groups with the system available 24/7 for about 6 months now while updating and using customizations like a custom auth provider (Auth0) and so far <knock on wood

[2018-05-13 01:51] 707eric commented on #8539
You can also check for the existence of the Caddyfile and permissions

ls  -l /var/snap/rocketchat-server/current

and if it is there

cat /var/snap/rocketchat-server/current/Caddyfile

verify the contents are accurate

[2018-05-13 02:02] 707eric opened #10750 "UI Color"
I am using a a custom dark theme in RocketChat which for the most part works very well.  I do have one lingering issue which is I can't find what the right place to change the color of the icon that you can just barely see in the image.

![image](https://user-images.githubusercontent.com/12947309/39963079-b54ea96a-5616-11e8-8b3a-85d0aeb52a2a.png)

Ideally I would like it to be white or some other

[2018-05-13 02:13] cloudsandladders commented on #10639
I am also seeing this.

[2018-05-13 02:26] cloudsandladders opened #10751 "REST API Channel List Changed"
### Description:

The REST API changed for getting joined and all channels, which broke some of my custom scripts.  I think the API should be more consistent between groups and channels, so it doesn't need to change in the future.

### Server Setup Information:
* Version of Rocket.Chat Server:  0.63.3
* Operating System: Ubuntu 16.04.4 x64
* Deployment Method(snap/docker/tar/etc): snap
* Number of

[2018-05-13 02:31] cloudsandladders opened #10752 "REST API does not have a way to access messages in unjoined private channels"
### Description:

There is no way to access and delete messages in unjoined private channels via REST API, but with permissions like 'View Private Room' and 'View History' or some combination of admin permissions should allow this.

There already is a way to get messages from direct messages that the user is not a part of via the REST API setting 'Enable Direct Message History Endpoint' being set

[2018-05-13 02:52] Bogidon commented on #10698
Update: I managed to create a functional build script from scrapping together various existing scripts: https://github.com/olin/Rocket.Chat/blob/olin-develop/olin/setup.sh. I'm sure there's some stuff in there that isn't quite right/needed (I'm not quite sure how the replication set stuff works).

[2018-05-13 09:46] toupeira commented on #5726
@ulope I can confirm this with Chromium 66 after upgrading to Rocket.Chat 0.64.1, the paint events weren't happening previously with 0.62.1

[2018-05-13 09:51] TwizzyDizzy commented on #10361
Well? Any news here? :)

Cheers
Thomas

[2018-05-13 10:49] alirezaimi opened #10754 "there is no update available using snap"
### Description:

In the site latest stable version is `rocket.chat-0.64.1.tar` but when i want to update rocket chat using snap there is no update is available.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: debian 4.9.0-6-amd64
* Deployment Method(snap/docker/tar/etc):  snap
* Number of Running Instances: 1
* DB Replicaset Oplog: ?
* Node Version: v4.

[2018-05-13 10:59] 2E0PGS commented on #8539
The Caddy file is present and correct syntax as I stated above.
Its permissions are: `-rw-r--r-- 1 root root 83 May 12 17:42 Caddyfile`

Running `journalctl -xe` shows me the same error of file not present: `MYDOMAINNAME.crt: no such file or directory`

[2018-05-13 11:44] kaiiiiiiiii commented on #10754
Duplicate of #10656

@TwizzyDizzy Thanks!

[2018-05-13 11:46] TwizzyDizzy commented on #10754
@rocket-cat close

[2018-05-13 11:46] #10754 closed

[2018-05-13 12:11] Windoze345 commented on #10656
What is the process for moving a release from candidate to stable.
Candidate is already at 0.64.1. So I guess uploading to candidate is automatic?!? But moving to stable is manual.

[2018-05-13 13:10] naamaan commented on #7543
Hi again,

Following up with issue #10656, I updated my installation to **v 0.64.1 beta**, But still don't have the ability to attach files in the live-chat !!

Is there any special settings for this thing?

Regards,

[2018-05-13 13:11] 2E0PGS commented on #8539
Related posts I found while researching this issue:
* https://wyldeplayground.net/rocket-chat-snap-doesnt-start/
* https://askubuntu.com/questions/894670/rocket-chat-snap-doesnt-start

Also a side note my rocket chat is accessible without going via Caddy proxy. So I can connect to my rocket chat using its internal IP and default port non HTTPS.

[2018-05-13 16:29] graywolf336 commented on #10752
Closing as this is working as intended. Private rooms are private for a reason.

@RocketChat/core feel free to open again if this aligns with anything on the roadmap.

[2018-05-13 16:29] #10752 closed

[2018-05-13 16:30] graywolf336 commented on #10751
What versions did this change between?

[2018-05-13 19:10] cloudsandladders commented on #10752
Direct messages are not private?

[2018-05-13 19:32] cloudsandladders commented on #10751
It looks like these api changes were made over a year ago.  It must have been just a fluke in my code.  The use of ".joined" and "listAll" is a tad inconsistent, but not a huge deal.

[2018-05-13 19:32] #10751 closed

[2018-05-13 19:47] tim-soft commented on #10744
Will this release exist as a stable 0.64.x snap build? https://github.com/RocketChat/Rocket.Chat/issues/10693

[2018-05-14 03:33] rackmuthu commented on #7418
I trying to integrate the Rocket chat with the keycloak.
My Rocket Chat is 0.63.3v . And my  Keycloak is 4.0.0v.
My Keycloak configuration:
id : rocketchat
Client Protocol: Openind Connect
Access Type : Confidential
Valid Redirect URIs : http://192.168.10.97/_oauth/keycloak

Rocket Chat OAuth Configuration
URL: http://192.168.10.230/auth
Token Path : realms/sample/protocol/openid-connect/token
Ide

[2018-05-14 03:57] blaisep commented on #10745
Thank you @kaiiiiiiiii , I got:
{"version":"0.62.0","success":true}
which is I think what @gdelavald was asking earlier.

[2018-05-14 04:28] susankao commented on #2985
Although you disable creating and viewing on direct message, they still can use search function to search user and keep going a chat if another person who has the permission and start a chat.

[2018-05-14 05:36] weismannweb commented on #2815
I can confirm that using the name "Wordpress" as a custom oauth in RC failes and probably because it conflicts with the built in Wordpress.com oauth.  Notice the call back url us the same https://rcdomain.chat/_oauth/wordpress so of course, it would conflict.  I reneamed my custom oauth to "wordpressoauth" and it worked fine.  Now I only have one more issue.  I CAN NOT delete the custom oauth I cr

[2018-05-14 05:50] ispryt opened #10756 "Lost channels in the left sidebar"
Please see the bug on video: http://dropmefiles.com/Pv07t
This bug i see on Windows 10 and Windows 7
Desktop version app: Version 2.10.5

Linux rc 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1 (2018-04-29) x86_64 GNU/Linux
|               SERVER RUNNING              |
+-------------------------------------------+
|                                           |
|  Rocket.Chat Version: 0.64.1              |
|

[2018-05-14 06:29] ispryt opened #10757 "Group broadcast messages"
Hello!
Is it possible to group users into groups. And send messages to the group?

Thank you!

[2018-05-14 08:07] pettitto commented on #10656
Yeah updating to the Beta isn't really a great workaround, it should be stable by now. When are we likely to see the 64.x become stable for snaps?

[2018-05-14 08:15] 707eric commented on #8539
That sounds like the similar issue above where the crt file wasn't being retained due to an with the Caddyfile. Please paste the contents of the Caddyfile.

[2018-05-14 09:29] rackmuthu commented on #7418
Finally i was find solution for rocket chat and keycloak integration.
Here i am not write any name for username field in rocket chat keycloak custom oauth.
And another important point is i am using rocket chat 0.63.3 v.
Here, when i am hitting the rocket chat URL i will never redirect to keycloak login page.
Instead on redirection. i can seen the keycloak button in the rocket chat login screen.

!

[2018-05-14 09:50] danchr opened #10758 "Danish translation is horrible"
### Description:

The Danish translation is horrible and obviously machine-generated. Please remove it.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: macOS
* Deployment Method(snap/docker/tar/etc): Rocket Chat Cloud
* Number of Running Instances: N/A
* DB Replicaset Oplog: N/A
* Node Version: N/A
* mongoDB Version: N/A

### Steps to Reproduce:

1. Open

[2018-05-14 10:46] betterphp commented on #7932
We're seeing a similar error. Here's our log in case it helps.

[code]

[2018-05-14 13:08] cynicoder commented on #1366
Hello
I'd like to work on this, but I can't maintain a module by myself. Could a Rocketchat developer please clarify if such a feature is needed/wanted in the core source tree?

[2018-05-14 13:25] flavio80s opened #10759 "Issue #10610 has not been resolved."
Sorry for the inconvenience, but issue # 10610 was not resolved. Please reopen it.

[2018-05-14 13:37] rodrigok commented on #10610
@flavio80s sorry about that, the DM rooms should return the array of usernames cuz it will be only 2 always. @graywolf336 what do you think?

[2018-05-14 13:37] rodrigok commented on #10759
It was reopened @flavio80s

Thanks

[2018-05-14 13:37] #10759 closed

[2018-05-14 13:49] blue928 opened #14489 "MacOS client sending out random video call requests"
We setup a private channel for a client for communication.  She has latest version of rocket chat client and MacOSX as of the time of this writing. The RC client was loaded in from the desktop version of the AppStore.

When the user is away from her computer and the computer is in Sleep mode, her channel sends out random video conference requests.

I've had her uninstall and reinstall the RC Clien

[2018-05-14 14:56] gdelavald commented on #10745
Thanks, we'll be looking into the issue and report back as soon as possible.

[2018-05-14 15:03] renatobecker commented on #7543
Hi @naamaan.
The PR that provides this feature is still awaiting review.
You can take a look at PR #10514 to follow the review process.
Thanks.

[2018-05-14 15:07] flantascience commented on #2815
I'm having an issue with this.... I've got the OAuth working as a "Custom"
OAuth.  PROBLEM: when logging in via the Rocket.Chat mobile application,
the WebView for logging in doesn't close.   So someone logging in for the
first time, clicks on "Login with WordPress', the WebView pops up asking
for their WordPress login info, and then they get logged intot he WordPress
site in the WebView but never

[2018-05-14 15:09] TwizzyDizzy commented on #10756
@rocket-cat close

The repository for the Electron Client is over [here](https://github.com/RocketChat/Rocket.Chat.Electron), please open the issue there :)

Cheers
Thomas

[2018-05-14 15:09] #10756 closed

[2018-05-14 15:10] TwizzyDizzy commented on #10757
@rocket-cat close

Please ask those questions in the [support channel](https://open.rocket.chat/room/support), not here. Github is for bugs only.

Cheers
Thomas

[2018-05-14 15:10] #10757 closed

[2018-05-14 15:10] lukas116gse opened #10761 "WinClient is detected as a trojan"
After the installation and restart the virus scanner recognizes the client of Rocketchat as a Trojan.

![grafik](https://user-images.githubusercontent.com/39271858/40005917-6982b7d6-5799-11e8-9802-a7b6428639f9.png)

The computer is administered by companies, so I can not put the client on the whitelist

[2018-05-14 15:14] TwizzyDizzy commented on #10738
@rocket-cat close

Folks, please... Github is for bugs only and we expect you to use the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md).

I'll reopen once all the information has been delivered.

Cheers
Thomas

[2018-05-14 15:14] #10738 closed

[2018-05-14 15:15] TwizzyDizzy commented on #10740
@rocket-cat close

In light of @mikaelmello's answer I'm closing this.

Cheers
Thomas

[2018-05-14 15:15] #10740 closed

[2018-05-14 15:44] lukas116gse commented on #10761
Kaspersky: 10.3.0.6294
Windows: W10 Version 1709 (Build 16299.371)

[2018-05-14 16:34] kaiiiiiiiii commented on #10761
Wrong repository mate ;)

https://github.com/RocketChat/Rocket.Chat.Electron

Please reopen your issue in the Electron repo and PLEASE! use the issue template provided by RC.

Thanks

@TwizzyDizzy Thanks

[2018-05-14 16:51] flantascience opened #10763 "Mobile app gives grey screen after update to 0.64.1"
I just updated the server version to 0.61.1.   Now, our mobile app just gives a grey screen after logging in.
![9d5d61ec-8702-4f90-ad7d-d14547da65a8](https://user-images.githubusercontent.com/12577122/40011237-2ea2977c-5775-11e8-8486-57f152b97a63.jpg)

### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:  0.64.1
* Operating System:  Windows
* Deployment Method(snap/doc

[2018-05-14 16:53] flantascience opened #10764 "Users can't change avatars after update to 0.64.1"
### Description:

The "My Account" area no longer has a place for avatars.

### Server Setup Information:

* Version of Rocket.Chat Server:  0.64.1
* Operating System:  Windows
* Deployment Method(snap/docker/tar/etc):  heroku
* Number of Running Instances:  1
* DB Replicaset Oplog:  enabled
* Node Version:  v8.11.1
* mongoDB Version:  not sure

[2018-05-14 17:01] kaiiiiiiiii commented on #10763
Do you have the same issue with the official rocket.chat+ android app?

[2018-05-14 17:25] rodrigok commented on #9769
@Wouter0100, @mootari and @rasos The expiration police for messages will be implemented in the future since it's not required by GPDR (it's not an unnecessary information). You already have the option to delete your profile and remove your messages or delete each message manually.

@rasos we will evaluate this idea and find some solution that match the GPDR requirements and the minimum viable syst

[2018-05-14 17:25] #9769 closed

[2018-05-14 17:35] kaiiiiiiiii commented on #10750
Hi @707eric,

I’d like to refer you to this page to get proper support:
https://rocket.chat/docs/getting-support/

The Rocket.Chat team decided to use GitHub only for issues and yours look more like a support case to me, not like an issue with the core component  :)

Thanks,
Kai

[2018-05-14 17:36] flantascience commented on #10763
Wow... ok... this is weird.... so trying to connect with Rocket.Chat+, I get this message immediately after entering my Server Hosname: "There is a connection error".   It never even gets to the login page.

Whereas on my mobile app (which is using the Cordova rocket.chat), I get to the login screen.  The error comes after logging in.

[2018-05-14 17:37] flantascience commented on #10763
This is the server URL: https://punmessenger.peerunschooling.net

[2018-05-14 17:38] MarcosSpessatto commented on #10592
Hello @sinfosy, this endpoint counts as unread based on the date parameters that you pass, for example, you provide oldest, and latest, then the search will be done in that period, and will be considered as unread, and not based on the amount of messages unread that that user has with that channel. From what I understand, you want to show the unread message counter, so the correct endpoint would b

[2018-05-14 17:42] kaiiiiiiiii commented on #10763
A couple of things

1. Do you use ssl? The Rocket.Chat+ app only works with https
2. The official RC Cordova app is deprecated since the end of march (__This should also apply to any fork__).
3. Desktop Client and Browser versions working fine?

Thanks

[2018-05-14 17:42] flantascience commented on #10763
One last thing... connects fine on my iOS device.

[2018-05-14 17:43] flantascience commented on #10763
1.  Yes, I've got an SSL activated.
2.  Does this mean we're required to update to the Native app?  We can't use the Legacy at all?
3.  Desktop/Browser has no issue.

Looks like its currently isolate to Android.

[2018-05-14 17:49] kaiiiiiiiii commented on #10763
There’s still the option to compile and publish the native apps with a branding by yourself, just like you seem to do it with the cordova app.

Refs. https://github.com/RocketChat/Rocket.Chat.Cordova/blob/develop/README.md

[2018-05-14 17:51] augustechartre opened #10765 "Unable to change user or delete"
Hello,

### Description:

When I add user, server reboot.
When I try to add role, there is no roles in list.
I can't change any settings of user.
When I try to delete, I have error message: internal error

Log: Exception while invoking method 'deleteUser' TypeError: Cannot read property 'indexOf'

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Ubuntu 16.

[2018-05-14 17:57] flantascience commented on #10763
I hired someone to deploy the Cordova apps... I tried to save money by going with the Cordova ones.  The native apps didn't quite seem compatible with my OAuth login anyways.  It's been a disaster really.

Apple rejected it from their store because it wasn't using enough native features.  Android had this issue with my OAuth login not working exactly.  I opened an Issue ([10725](https://github.com

[2018-05-14 18:17] flantascience commented on #10763
Adn even with the native apps... my current Server isn't connecting to Rocket.Chat+ on Android, so that prolly won't help solve this problem.

[2018-05-14 19:58] EddEdw commented on #5521
Hi guys,

I want to give this issue a bump since I am also struggeling with this issue.

[2018-05-14 20:25] shaneleblanc commented on #3548
Wanted to chime in, this is still ongoing.

Notifications about Highlight Words messages **override channel specific notification settings**. If you turn a channel's notifications setting to OFF, it should not notify you about anything - but having any Highlight words (e.g. for your first name)  will override this.

As such, to stop receiving constant notifications in some channels (despite turnin

[2018-05-14 20:34] moonwolf-github commented on #919
Any plans to solve this issue? I've just encountered it when testing nextcloud oauth.

[2018-05-14 21:59] rafaelks opened #10768 "[BUG] Broadcast "deleted" messages are showing the Reply button"
### Description:

![screen shot 2018-05-09 at 18 55 24](https://user-images.githubusercontent.com/551004/40025700-e90b78a8-57a8-11e8-8626-8dd3ef39a0f8.png)

The "Reply" button should never be visible for system messages.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2-rc.0
* Operating System: Linux

[2018-05-14 22:03] rafaelks opened #10769 "[BUG] readonly/broadcast "moderators" can see members list but cannot post messages"
### Description:

![screen shot 2018-05-14 at 19 00 54](https://user-images.githubusercontent.com/551004/40025851-57764322-57a9-11e8-97ea-6d70abb0d237.png)

In the screenshot, user can see the members list but cannot write messages to the room. The room is a Broadcast room and the user is `moderator`.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2.-rc.0
* Operating System:

[2018-05-14 22:04] rafaelks opened #10770 "[BUG] "Empty error message" when trying to add a new user to a private group"
### Description:

![screen shot 2018-05-14 at 19 02 12](https://user-images.githubusercontent.com/551004/40025894-7fa23d9c-57a9-11e8-9678-f47d0f3bfaf7.png)

As a normal user, I can see the button to add new users, but when I try to add I only see an empty error message.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2-rc.0
* Operating System: Linux

[2018-05-14 22:50] #9993 closed

[2018-05-14 23:00] TwizzyDizzy commented on #2393
@rocket-cat close

Hasn't been done for two years now. Probably not gonna happen tomorrow. TBH I see this as a docker topic more than as a Rocket.Chat topic.

Cheers
Thomas

[2018-05-14 23:00] #2393 closed

[2018-05-15 08:10] sinfosy commented on #10592
Hi @MarcosSpessatto, I check the link and run that Api but unread never changing always at "0". the "alert" field is changing to "1" and "blank", for single message "1" and for multiple message also "1". so you please help me.

`Array
(
    [subscription] => Array
        (
            [_id] => aKYL43e8TSsCM8yyE
            [open] => 1
            [alert] =>
            [unread] => 0
            [

[2018-05-15 08:12] moonwolf-github commented on #10624
Same here - after upgrade slack bridge is broken
[code]

[2018-05-15 08:20] Fscape opened #10772 "Cannot Hide Room when using Afrikaans language"
### Description:
When Afrikaans is set as the user's language, the Hide buttons do nothing when clicked.
(Both in the left side "three dots" menu, and the room's "i" Room Info right side menu.)

In Chrome's console when clicked:
![on_click](https://user-images.githubusercontent.com/24841675/40045010-6e404a1e-5829-11e8-82a1-aa3750287af8.PNG)

Works fine with other languages
e.g. French and Dutch

#

[2018-05-15 08:53] glebtv commented on #10583
My problem #10690 is indeed related, this makes chat almost unusable on high dpi screens, even for very short messages.
I narrowed it down to height calculation issue (when typing, textarea height is constantly updated between 21.9978px and 22px, which causes lag)

the following custom styles fixed the problem for me (at the cost of disabling autogrow, which is ok for me)
[code]

Proper solution w

[2018-05-15 09:13] tbaehr commented on #10739
some data has been moved to required in validateAttachmentsFields

https://github.com/RocketChat/Rocket.Chat/blob/73e8ba3038d6c52e3fb2e993c20edbbab2ddb982/packages/rocketchat-lib/server/functions/sendMessage.js

Title and Value are now required to be set ....

had similar problem with one of my own webHook due to this changes ... which in my opinion should not break older webHooks in such a way

[2018-05-15 09:13] TwizzyDizzy commented on #10583
@theorenck if you have any chance to triage this for 0.65.0 instead of 0.66.0 it would be awesome. I know, time for merging is almost up... but this issue has gotten worse on 0.64.0 (for me, probably for others, too).

Cheers
Thomas

[2018-05-15 09:55] darkknightpl commented on #10764
+1, same problem here - after update to _0.64.1_ users can't change their avatars

After clicking on _avatar -> My Account_  option  _Avatar_ is missing:

![image](https://user-images.githubusercontent.com/16231411/40049617-85bae7ce-5835-11e8-92d3-adba7e804267.png)

It was available in previous versions (here screenshot from version 0.58.4):

![image](https://user-images.githubusercontent.com/1623

[2018-05-15 11:03] darkknightpl commented on #10764
Solved, i've changed settings in _Administration -> Accounts_:

![image](https://user-images.githubusercontent.com/16231411/40053090-45cecbf2-5840-11e8-90c0-80b8f280b6cb.png)

[2018-05-15 11:09] TwizzyDizzy commented on #3631
@rocket-cat close

Closing this, as the policy has now been adopted to not officially support Windows server setups. If anybody feels the urge to contribute a [community-supported guide](https://rocket.chat/docs/installation/community-supported-installation/): feel free :)

Cheers
Thomas

[2018-05-15 11:09] #3631 closed

[2018-05-15 11:10] TwizzyDizzy commented on #7381
@rocket-cat close

Closing this, as the policy has now been adopted to not officially support Windows server setups. If anybody feels the urge to contribute a [community-supported guide](https://rocket.chat/docs/installation/community-supported-installation/): feel free :)

Cheers
Thomas

[2018-05-15 11:10] #7381 closed

[2018-05-15 11:11] TwizzyDizzy commented on #8986
@rocket-cat close

Closing this, as the policy has now been adopted to not officially support Windows server setups. If anybody feels the urge to contribute a [community-supported guide](https://rocket.chat/docs/installation/community-supported-installation/): feel free :)

Cheers
Thomas

[2018-05-15 11:11] #8986 closed

[2018-05-15 13:00] naamaan commented on #7543
Thanks a lot @renatobecker
Will follow up.
Regards,

[2018-05-15 14:07] yandzee opened #10773 "Cannot fetch custom props on Rooms model"
I extend `rocketchat_room` table to have my custom prop on it, and now I need to use that prop in `packages/rocketchat-ui-sidenav/client/roomList.js`. I do
[code]
but it gives in result `rooms` is array of objects with two props: `_id` and `name`, no `myCustomProp` is presented. So, do you guys know how to fetch that prop correctly?

[2018-05-15 14:27] gdelavald opened #10774 "Lost channels in the left sidebar"
@ispryt commented on [Tue May 15 2018](https://github.com/RocketChat/Rocket.Chat.Electron/issues/722)

Please see the bug on video: http://dropmefiles.com/Pv07t
This bug i see on Windows 10 and Windows 7
Desktop version app: Version 2.10.5

Linux rc 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1 (2018-04-29) x86_64 GNU/Linux
| SERVER RUNNING |
+-------------------------------------------+
| |
| Rocket.Chat

[2018-05-15 14:54] cmonjeau commented on #10772
Hi,

I observed the same problem with French / Spanish / Italy.

I'm in version 0.63.1.

[2018-05-15 15:13] MarcosSpessatto commented on #10630
Hey @rafaelks, this endpoint already exists. You can find them in [groups](https://rocket.chat/docs/developer-guides/rest-api/groups/close/), [channels](https://rocket.chat/docs/developer-guides/rest-api/channels/close/), and [DMs](https://rocket.chat/docs/developer-guides/rest-api/im/close/).

[2018-05-15 15:56] rafaelks opened #10775 "[BUG] Layout is cutting "badge" on unread for long names"
### Description:

![screen shot 2018-05-15 at 12 54 16](https://user-images.githubusercontent.com/551004/40068516-3814eb78-583f-11e8-8c69-94f8b8e79420.png)

Just noticed that the badge is not visible on this situation.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2-develop
* Operating System: Linux

[2018-05-15 17:18] ggazzo commented on #10746
actually the problem is the `RocketChat.MessageAction.getPermaLink` function that uses the type of opened room to create the url, but sometimes the message is from another room...

[2018-05-15 17:59] rodrigok commented on #10726
@janrudolph awesome, I'll take a look soon, thanks

[2018-05-15 18:02] bkraul opened #10777 "Error when using Download My Data or Export My Data"
### Description:

When attempting to export or download a user's data, the system errors out. No additional configuration has been done to User Data Download section, other than it is enabled.

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: Ubuntu 18.04 LTS
* Deployment Method(snap/docker/tar/etc): docker ```rocketchat/rocket.chat:latest```
* Number of Running

[2018-05-15 18:14] phlegx commented on #8730
@sampaiodiego the `external_api.js` script is loaded from inside `livechat.js` script. See here: `$.getScript(t+"/packages/rocketchat_videobridge/client/public/external_api.js`

[2018-05-15 18:51] #10672 closed, assigned to nobody

[2018-05-15 19:43] karlprieb commented on #8199
Save button is on top header now and working fine on RTL

[2018-05-15 19:43] #8199 closed

[2018-05-15 23:45] graywolf336 commented on #10773
As this is not an issue with Rocket.Chat but instead a development question, I will refer you to our forums for that question: https://forums.rocket.chat/

[2018-05-15 23:45] #10773 closed

[2018-05-16 07:18] huiminzeng commented on #2508
Hi @graywolf336 ! Could you please tell me whether there is any possibility that i can use some script to control the behavior of the importer? For instance, rocketchat would import .csv files automatically when gets started? thx

[2018-05-16 07:26] pkgodara commented on #9569
related #9300

[2018-05-16 10:33] ondrejtomcik commented on #3522
Still not on a radar? Missing this very much: https://slackhq.com/introducing-user-groups-5a17e4531d32

[2018-05-16 10:43] monspid commented on #10610
`groups_list` and `groups_list_all` does not return users also

[2018-05-16 10:56] TwizzyDizzy commented on #10331
NodeJS 8.11.2 is out. I've just upgraded my production instance and the behaviour described in this issue does not occur anymore. This is why I am closing this issue.

Cheers
Thomas

[2018-05-16 10:56] #10331 closed

[2018-05-16 11:00] CrimsonAndrew commented on #10758
I am sorry to inform, but are you sure thay you are talking about mobile verion? As far as I know mobile version have only these translations:

English;
Portuguese;
French;
Hindi;
Spanish;

Or maybe it's about desktop version? You should open it here https://github.com/RocketChat/Rocket.Chat.Electron I met this problem with Ukrainian version ))

[2018-05-16 11:32] kaiiiiiiiii commented on #10758
@CrimsonAndrew The desktop app is using the translations of the rocket.chat core (server). No need to open an issue in the Electron repository.

[2018-05-16 11:51] TwizzyDizzy commented on #10774
Ah sorry, I explicitly asked him to move it to the Electron repo but if the root cause is in the server markup, then it's correct to have it here. Sorry for the fuzz.

Cheers
Thomas

[2018-05-16 12:04] Ismaw34 commented on #10624
It seems that the dependency was updated, but the code was not.
The plugin was 2.0.6 and now its version 4.
https://github.com/slackapi/node-slack-sdk/blob/master/migration_guide_v4.md
The code is not updated to accommodate the new plugin api.

We need a developer here.

[2018-05-16 12:05] rafaelks commented on #10630
@MarcosSpessatto Thank you! 👍

[2018-05-16 12:05] #10630 closed

[2018-05-16 12:24] Gummikavalier opened #10783 "[Request] Message-placeholder for all deleted user messages"
### Description:

GDPR enforces us to delete all personal information of the user when they leave our company. Currently the only `Message Erasure Type` option that does not leave too much information behind is `Delete All Messages`.

However this completely removes all messages of the user, and does not leave **any** indication that message has ever existed. The end result is that the flow of the

[2018-05-16 13:54] hakanguzel opened #10784 "Live Chat Error"
Hello there,
We can not find the room in our live support system. When we get the rooms, the room is hidden. How can we fix it. We use the current version.

[2018-05-16 15:01] axchemezov commented on #10748
@rodrigok Yes it is. All emails of users in that room is verified.

[2018-05-16 15:32] TwizzyDizzy commented on #10114
New nodejs-Version has been released. Please give me some feedback whether the issue at hand is still relevant. Otherwise I'm gonna close it in the near future.

Cheers
Thomas

[2018-05-16 15:37] TwizzyDizzy commented on #10764
@rocket-cat close

[2018-05-16 15:37] #10764 closed

[2018-05-16 15:48] #10750 closed

[2018-05-16 16:38] flantascience commented on #10763
@kaiiiiiiiii    any idea why when trying to connect with Rocket.Chat+ on Android, I get this message immediately after entering my Server Hostname: "There is a connection error".

It never even gets to the login page.  No issue with the Legacy Cordova app on Android, just Rocket.Chat+

[2018-05-16 17:27] geekgonecrazy commented on #10580
This is resolved for all snap installs.  If they aren't using snap installs then they need to make sure they have fonts installed on their system.

[2018-05-16 17:31] kaiiiiiiiii commented on #10763
Can’t really help you with that as I don’t have an Android device to test with ^^’

I think you’ll get proper support from one of the android developers when you open an issue in the Rocket.Chat Android repository (https://github.com/RocketChat/Rocket.Chat.Android)

[2018-05-16 17:40] flantascience commented on #10763
thanks, just posted over there

Jim Flannery

jim-flannery.com
p. 860-578-4966
e. jim@jim-flannery.com
s. jim_flannery

On Wed, May 16, 2018 at 1:32 PM, Kai <notifications@github.com> wrote:

[2018-05-16 19:09] ubarsaiyan opened #10787 "Notification Preferences are not saved"
### Description:

Notification preferences are not saved. I changed the notification preference of a direct chat from default to all messages for both mobile and email. But it changes automatically to "Use Account Preferences" for Mobile and "Mentions" for Email.

### Server Setup Information:

* Version of Rocket.Chat Server: open.rocket.chat
* Operating System: Ubuntu 17.10

[2018-05-16 19:13] graywolf336 commented on #10787
@RocketChat/core heads up...

[2018-05-16 23:51] tsnope opened #10791 ""guest" users get a create-channel screen and can see all users via invite autocomplete"
Is this behavior by design ?
My understanding is that the guest role should prevent an account from contacting a user who hasn't contacted them first whether via dm or message to a channel they have access to, if this is the case then being able to see other users via autocomplete is a security issue - the /msg autocomplete for example doesn't allow that.

[2018-05-17 02:49] kevinwithnall commented on #10624
I'm just running without slackbridge for now as re-enabling it will stop a server restart happening properly.

had to disable from mongo db cli (thanks @mrplow )

[2018-05-17 06:45] PeeterAngelo commented on #8564
The workaround posted above works in Chrome but unfortunately seems to break behavior in the client...

[2018-05-17 07:31] rzelnik commented on #4989
How can I use node 4.6.2, if the rocketchat-server is installed via snap?

[2018-05-17 07:48] huiminzeng opened #10792 ""you must be logged in to do this" while creating a user with REST API"
### Description:

Hello everyone! I was trying to create a user with REST API, but i always got the error: you must be logged in to do this. I read some related issues, but they are not so useful for me. I will appreciate it, if you have any idea. Thank you very much!

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System:  Ubuntu 16.04
* Deployment Method(snap/

[2018-05-17 08:54] olegbukatchuk commented on #10166
How did you solve this problem?

[2018-05-17 09:09] TwizzyDizzy commented on #9580
@geekgonecrazy are snaps already upgraded to nodejs 8.11.2? Is this even applicable? I'm thinking of https://github.com/RocketChat/Rocket.Chat/issues/10331 here.

Cheers
Thomas

[2018-05-17 11:09] Strit opened #10794 "[Feature request] Audio channels"
### Description:

I would like the option to create channels designed for audio calls.
Kind of like how Discord has done it, when you join these special channels you start a call with the entire channel.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Ubuntu 18.04
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replic

[2018-05-17 11:11] erhan- opened #10795 "One persistent and one reflected XSS"
Hey guys,
I already created a PR for the persistent XSS: #10793

There is another one which is not as critical. When you create an account, the next step will ask for a username. This field will not save HTML control characters but you will receive an error which shows the attempted username unescaped.

Nothing critical but it is there.

[2018-05-17 11:33] Dremor commented on #9999
This could also be done by only storing a public key imho.

Each device+account produce it's own key pair, login as usual using login+password, and add the new public key to the account keyring.

When sending an encrypted message, from person A to person B, A would ask the public key of all device on which B is currently connected, use them to encrypt the message, and send it back to the server (e

[2018-05-17 11:49] Oleksandr-Silin opened #10796 "[Feature request, UX improvement] Pin Favorites"
Hello, I would like to pin Favorites group, so I can see it all time and don't need to scroll to it - fast access.
It can have own scrollbar, so Direct messages and other stuff would be scrolled separately.

In my case we have a lot of users and channels. It would be great to have such fast access to Favorites.

[2018-05-17 11:54] huiminzeng commented on #6946
Hi @sassi1990 ! I didn't realize the function, but I replace import with another solution. You can use ansible, and ansible-playbook can directly all the REST API, which you can keep the users and channels or other things in the system.

[2018-05-17 12:27] kaiiiiiiiii commented on #10796
You can already favorite channels by using the 3 dots menu in the sidebar. In addition you need to set "group by favorites" in the sidebar sort options.

![2018-05-17 14_24_02-window](https://user-images.githubusercontent.com/4711233/40177218-389882c6-59de-11e8-9c34-843f9ede2c54.png)
![2018-05-17 14_26_47-window](https://user-images.githubusercontent.com/4711233/40177298-6deec2d2-59de-11e8-90d0-52

[2018-05-17 12:37] tomfanning commented on #10166
I set up an SMTP server on localhost, configured that to send emails properly, then just pointed rocket.chat at localhost with no authentication. Works fine.

[2018-05-17 12:42] Oleksandr-Silin commented on #10796
@kaiiiiiiiii Hello, request not in How to create Favorites. I want them to be Pinned, so it would not be scrolled out, when i do scroll on sidebar.
![image](https://user-images.githubusercontent.com/4909254/40178014-89646ff6-59e0-11e8-9ab2-83c601abfbb9.png)

[2018-05-17 13:07] fcoppolani opened #10797 "[Feature] Have somewhere to see all starred messages"
Hi,

As for 0.63.1 version starred messages are only per channel/private message. Some users aske for a way of searching all their starred message without selecting a channel. I guess this option should be available only if global search is enabled.
I would imagine a checkbox 'starred messages' along with the 'global search' allowing a user to search only amongst his starred message :
![2018-05-17

[2018-05-17 16:20] haffla commented on #10581
I can only cofirm this! When trying to login via REST API => `Server error.` Same log entries like @hannes-angst

[2018-05-17 16:32] dmitry-sinina commented on #3793
I faced same issue.
Workaround - replace
[code]
with
[code]

Rocket chat checks remote address and if it is not 127.0.0.1 and **X-Forwarded-Proto** doesn't contains **https** it will enter into infinite redirect loop. So to use nginx on remote server you should just pass X-Forwarded-Proto https

Proof:

[code]
I don't understand why official manual offers to send **X-Forwarded-Proto http**

[2018-05-17 16:36] Sameesunkaria commented on #9979
This applies to the desktop notifications as well.

<img width="330" alt="screen shot 2018-05-17 at 10 05 54 pm" src="https://user-images.githubusercontent.com/7317008/40191252-8586fc8a-5a1e-11e8-82ef-48cbfa13f7f4.png">

[2018-05-17 17:38] ilyaikik commented on #10655
Also has this issue.
"Allow special characters in room names" - enabled.
UTF8 Names Validation - [0-9а-яА-Яa-zA-Z-_.]+

[2018-05-17 17:55] renatobecker commented on #10784
HI @hakanguzel!

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues.
You can add screenshots, gifs, etc. It will help illustrating your case.

[2018-05-17 17:59] kb0304 opened #10800 "Global Search (GSoC) Task list"
### Coding Task List
- [ ] Indexing `type` of `message` for system messages, etc.
- [ ] Indexing attachment content : Doc files, PDF, other formats
- [ ] Advanced search filters (functionality implementation)
    - [ ] Filter by date range
    - [ ] Filter by message type
    - [ ] Filter by user
- [ ] UI for advance search filter
    - [ ] Filtering based on parameters and their values in search

[2018-05-17 18:27] tsnope opened #10801 "Multiple issues with admin-approved self-registration story."
Right now the registrant only receives a confirmation email after his registration his been approved by the admin - making it impossible to have his email verified prior to approval.
The expected behavior would be for the registrant first having to confirm his email address and then receive an additional email once his account been activated.

Additional issues:

Users created with self-registrati

[2018-05-17 18:44] 2E0PGS commented on #8539
[code]

[2018-05-17 18:49] 2E0PGS commented on #8539
However I just tried @zenglicheng comment and it works with self sign cert.

[code]

[2018-05-17 20:41] cinderblock commented on #9580
To be clear, my issues are from a server not using snap. Maybe I actually have a different issue that the OP. My apologies if I've hijacked this issue.

[2018-05-17 21:01] 707eric commented on #8539
Drop the https part and it will work. The Let's Encrypt is failing because Caddy isn't responding on port 80, its responding on 443.

MYDOMAIN.COM {
proxy / localhost:3000 {
websocket
transparent
}
}

[2018-05-17 21:03] axchemezov commented on #6026
Yes, there is problem with .PSD. Its uploading in messages but not sowed up in there.
https://ibb.co/jKGtty
https://ibb.co/caXoRJ

[2018-05-17 21:07] 2E0PGS commented on #8539
Your statement doesn't make much sense it contradicts itself (remove HTTPS because it responds on the port for HTTPS is what your saying in other words). Also I tried that and it didn't work.

That's the CA for the cert as far as i'm aware.

[2018-05-17 21:11] karlprieb commented on #10136
Do you guys still have this problem on 0.64.1?

[2018-05-17 21:34] rodrigok commented on #9407
@soundstorm Which app are you using? This seems to be a client issue when showing a friendly message to the user and not a REST problem

[2018-05-17 21:44] 707eric commented on #8539
They changed the syntax of the file so it doesn't fully apply though it still requires having port 80 open to function.

Ports 80 and 443 must be externally open
By default, Caddy will bind to ports 80 and 443 to serve HTTPS and redirect HTTP to HTTPS. This usually requires privilege escalation. On Linux systems, you can give Caddy permission to bind to port 80 and 443 without being root using set

[2018-05-17 21:53] 707eric commented on #8539
example.com              # Host: example.com; Ports: 80->443
http://example.com       # Host: example.com; Port: 80
https://example.com      # Host: example.com; Ports: 80->443

Previously when https was specified it wouldn't auto redirect 80 to 443, to have it work in that fashion you left the http and https off. They appear to have changed, maybe even a while ago.I have been using it for quite s

[2018-05-17 23:34] TwizzyDizzy commented on #7442
Well... what to do about this issue? Obviously we do not have enough information to reproduce it? Banning / reporting is already part of other issues (I think, yet still if it's not, the issue at hand would not be the right place for it).

So either we are able to narrow this down or I'll vote for closing this issue.

Cheers & thanks for any additional information anybody might be able to provide

[2018-05-17 23:45] WebSavvyGuy commented on #7442
Rocket Chat has alot of exploits.

I’m hearing its related to the API.

I don’t care either way.  Vote to your hearts content LOL.    I’ve stopped using Rocket.Chat  long ago due to all the exploits that is possible on this application.

Have it closed, I expect nothing less from you.

[2018-05-17 23:45] TwizzyDizzy commented on #9254
@rocket-cat close

This is an administrative option under Layout > "User Interface: "Click to create direct message" (at the bottom)

![image](https://user-images.githubusercontent.com/179595/40208980-fe6ccba2-5a3c-11e8-85e0-6992be142a84.png)

Cheers
Thomas

[2018-05-17 23:45] #9254 closed

[2018-05-17 23:51] TwizzyDizzy commented on #7442
This sentence provides no additional information - even if it was true.

If you could elaborate, I'd be rather thankful.

Also a rather non-productive statement. What do you expect to achieve by such destructive behaviour?

My aim is not to close the issue for the sake of closing it, but to find the issue. If we can't narrow it down or reproduce it, though, it doesn't make much to leave the issue

[2018-05-18 00:16] WebSavvyGuy commented on #7442
Sorry not feeling like getting into yet another debate.

If i had an answer about the API exploits i’d fix it myself.

I have no further information.   Rocket.Chat has alot of exploits that I had seen and was just too tired to open issues about because I know nothing would have been done to fix it.

Most users will never see these exploits as they run RC for very small offices.   We tried to run R

[2018-05-18 01:14] chrisbennight commented on #10136
I'm installed via snap, and that's on 0.63.3 still;  (it presents there still.)  What 0.64.1 gets released on that channel I'll drop back in here.

[2018-05-18 01:15] chrisbennight commented on #9968
Is there any additional info/logs/debug info I can provide to help here?  I still have the same symptoms on 0.63.3  (latest snap release).

[2018-05-18 02:00] RichardFoxworthy commented on #6230
Has there been progress on this? Will be an important LiveChat feature!

[2018-05-18 02:06] geekgonecrazy commented on #7442
An API that can be abused by abusive users can't really be classified as a vulnerability.  We definitely are not super well suited for anonymous chat.

Sadly many of the issues I think you have encountered were cases that we could not reproduce.

Sad to hear you aren't using.. but with your use case it definitely makes sense.

But as @TwizzyDizzy said very well defined issues, with steps defined t

[2018-05-18 02:10] WebSavvyGuy commented on #7442
Thanks Aaron.  You have always been helpful in the past and i’m grateful for that.  It just simply didn’t work out in the direction it was headed.

Too much focus on new features rather than making the product more stable especially for large scale use.   I do understand that focus though... as this app is more suited for smaller scale office use.

[2018-05-18 03:54] muhv7 commented on #10656
Any updates on this? Or is snap now just looked over?

[2018-05-18 04:28] graywolf336 commented on #10656
@muhv7 The updates to the Snap packages were delayed due to a bug with the authentication layers with WordPress. It was dependant upon #10724 getting merged. A little while after a release happens with that fix applied, then the Snaps will be updated. The release updates are delayed to the Snap packages is because of the auto-updating feature and when we find bugs, such as the major breaking one t

[2018-05-18 04:41] OpenSourceMarketing commented on #6230
I just barely got rocket chat loaded on my server so I’m still gonna have to play around with it. It would be awesome if it works.

[2018-05-18 05:45] muhv7 commented on #10656
Sure does. Just didn't know about this earlier. Thank you for clarifying that.

[2018-05-18 06:43] tosione commented on #10149
Still happening in 0.64.1. The symptoms are like #10548: you get error 500 when clicking verify link, emails remains unverified, but the error message is the same.

[2018-05-18 07:31] huiminzeng commented on #1097
hello @Deepakkothandan ! I was trying to send message with ansible uri_module. Ist that possible? Thx!

[2018-05-18 09:58] janrudolph opened #10806 "[Improvment] Hide links when auto-linker renders preview"
### Description:

If you paste a link to any web resource (like pictures) in a channel, a preview is rendered. Examples:

Gif
<img width="207" alt="link_preview" src="https://user-images.githubusercontent.com/3596824/40228669-35559e28-5a92-11e8-8044-c7e44ced506d.png">

Link
<img width="363" alt="link" src="https://user-images.githubusercontent.com/3596824/40228683-3bc69f82-5a92-11e8-8b2e-08f916478

[2018-05-18 10:27] trongthanh commented on #8220
Hi,

I have sent an email to omni@rocket.chat but received no reply (on Apr 18). Should I wait more?

[2018-05-18 11:12] mrsimpson commented on #10800
Some small ideas, more as an "I thought of" - not as a "I thought about" ;)
@tkurz surely has thought about it, but is currently not easy to grasp...

- Indexing attachments => See Apache Tika and [its integration with Solr](https://lucene.apache.org/solr/guide/7_3/uploading-data-with-solr-cell-using-apache-tika.html)
- Have you verified the filter-criteria are not already part of the Solr-Index?

[2018-05-18 12:55] sampaiodiego commented on #8220
I'm sorry @trongthanh .. we had some issues on our `omni` email.. we're now taking care of the backlog.

[2018-05-18 13:20] kaiiiiiiiii opened #10808 "[WEBHOOK] Half of payload is missing in request content"
### Description:

I've written a webhook script for PipeDrive which converts the requests payload (json) into a valid rocket.chat message.

**The problem I'm running into is the following:**
As soon as there's an array in the json payload, the payload is missing half of it's content (cut of after the array).

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System

[2018-05-18 13:29] c0dzilla commented on #9979
@rafaelks can you please check #9995 to see if everything works as expected?

[2018-05-18 13:34] TwizzyDizzy commented on #10777
Can confirm this on `0.64.2-rc.2`.

[code]

[code]

[2018-05-18 13:50] rodrigok commented on #9407
Our server does not return `User not found` for REST API since version 0.60.0

Corrent example is:
[code]
Response:
[code]

How client would handle this message is not responsibility of the REST interface. We reply `Unauthorized` is user does not exists or if the password is wrong.

So I'll close this issue, please let me know if I missed something.

[2018-05-18 13:50] #9407 closed

[2018-05-18 14:19] MarcosSpessatto commented on #10592
I'm closing this issue, because the doubts have been clarified internally. @sinfosy contacted me through the chat and we talked about it.

[2018-05-18 14:19] #10592 closed

[2018-05-18 15:03] TwizzyDizzy commented on #10346
PLease check comment https://github.com/RocketChat/Rocket.Chat/issues/10346#issuecomment-379309179 and try to provide more information than currently available. Right now there is no indication that this is a Rocket.Chat bug.

Cheers
Thomas

[2018-05-18 15:05] graywolf336 commented on #8474
Sad that this has slipped under the radar :( I'm going to go ahead and create a pull request to fix this issue since the solution is above and has been for over a month but no one has created a pull request for it. :cry:

[2018-05-18 15:30] rodripf opened #10809 "Manually create a new user with an email domain not in the whitelist"
### Description:

I have a list of allowed domains for user registration working great.
But I'd like to be able to create users manually with email domains not in the list.
So for manually created users I think I should be able to avoid this validation, and be able to add the users anyway.

### Steps to Reproduce:

1. Set a list of allowed domains for user registration.
2. Create manually an user

[2018-05-18 15:31] rodripf commented on #10809
#975

[2018-05-18 16:48] genesplicer opened #10810 "After upgrading to 0.64.1, when tyring to login via the non-legacy iOS or Android app, I get me.emails.find is not a function error."
### Description:

When I upgraded to the newest release, 0.64.1 by following the upgrade steps of the tar version, everything works fine on the Desktop apps, but for the mobile apps (the non-legacy) on both Android and iOS, I am not able to login via CAS of our institution.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Linux
* Deployment Method(snap/do

[2018-05-18 18:59] bizzbyster commented on #5009
Where does this issue stand? Our use case is very similar and could likely leverage this functionality. We'd like to be able to version control our server configuration. And then code review any changes made to it and then update the running server instance programmatically as part of our continuous integration/deployment (CI/CD) pipeline. I assume that if the Administration console supported Impo

[2018-05-18 19:02] bizzbyster commented on #5009
I suppose we could try what @JSzaszvari suggests here https://github.com/RocketChat/Rocket.Chat/issues/758. We'll see if that fits our need.

[2018-05-18 19:49] guilhermecfviana opened #10813 "[Bug] Send or receiver images not work on livechat"
### Description:

I can't send image from my PC or receive an image on my PC in a conversation on livechat.

This feature fine woks on chat, but not work on livechat.

When I send an image it displays like this:

![screenshot_1](https://user-images.githubusercontent.com/17053653/40255351-3e3cda58-5abd-11e8-8de9-0e7baa03bf49.png)

When I receiver an image it displays like this:

![screenshot_2](htt

[2018-05-18 19:51] #10200 closed

[2018-05-18 19:51] #10508 closed

[2018-05-18 19:51] #9589 closed

[2018-05-18 19:52] #10481 closed

[2018-05-18 19:53] noloader opened #10814 "Windows 10 v 1803 and R.C+ 2.10.5.628 incompatible"
### Description:

Windows 10 v 1803 and Rocket.Chat+ 2.10.5.628 incompatible

### Server Setup Information:

* Version of Rocket.Chat Server:
  - Unknown

* Operating System:
  - Windows 10 Pro x64 version 1803 (OS Build 17134.48)

* Deployment Method(snap/docker/tar/etc):
    - Downloaded Windows installer, ran installer

* Number of Running Instances:
    - Unknown. The best I can tell something

[2018-05-18 19:54] #10631 closed

[2018-05-18 19:55] #10640 closed

[2018-05-18 20:00] graywolf336 commented on #10810
https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-api/server/v1/misc.js#L46

[2018-05-18 20:03] #10202 closed

[2018-05-18 20:05] #10124 closed

[2018-05-18 20:15] #10424 closed

[2018-05-18 20:28] kaiiiiiiiii commented on #10814
Hi @noloader,

I would like to refer you to another repository as this is an issue with the rocket.chat electron app and not with the server component.

https://github.com/RocketChat/Rocket.Chat.Electron

Feel free to open an issue over there :)

Thanks,
Kai

@TwizzyDizzy :)

[2018-05-18 20:49] ChrisKendallVA opened #10816 "Slack-Bridge bug when migrating from 0.63.4 > 0.64.1?"
When migrating from 0.63.3 > 0.64.1 the instance fails to load.
According to the logs it appears to be a slackbridge bug on 0.64.1.

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Ubuntu 14.04 64bit
* Deployment Method(snap/docker/tar/etc): Manual
* Number of Running Instances: 1
* DB Replicaset Oplog: rs001
* Node Version: 8.9.3
* mongoDB Version:  3.0.15

### Relevant logs:
[code]

[2018-05-18 20:53] 2E0PGS commented on #8539
So are you saying I need to port forward port 80 in addition to my existing port 443 forward?
Then remove the https:// from my config?

I don't need 80 to 443 redirection as I only want users accessing it via 443. So that's why only 443 is forwarded at the moment and my config is setup like so. This used to work just fine around 4-6 months ago maybe.

Also surely rocketchat would of added some rul

[2018-05-18 20:57] xbolshe commented on #9653
clippy.js.s3.amazonaws.com is covered by *.s3.amazonaws.com. It seems the problem is related with an intermediate CA certificate Baltimore CyberTrust Root, which is not installed on your computer.

Try to check: [https://baltimore-cybertrust-root.chain-demos.digicert.com/](https://baltimore-cybertrust-root.chain-demos.digicert.com/ ).

You may download and install it in case of problem:

[https://

[2018-05-18 20:58] 2E0PGS commented on #8539
Related issue: https://github.com/mholt/caddy/issues/468

[2018-05-18 21:43] zimmertr commented on #10493
Hello, I'm experiencing this LDAP issue for an unrelated matter. What solution did you end up finding?  How do you "Bind" to a domain before joining?

[2018-05-18 22:05] cardoso opened #10817 "[API] Localize our REST API messages based on HTTP header"
Main problem is our error messages that always come in the english language.

Here is the standard we should be following:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language

[2018-05-18 22:30] graywolf336 commented on #10817
Just fyi, that will be a massive undertaking within the core of Rocket.Chat to get to a point all of our errors are localized. If we decide to undertake that, then we need to have a discussion about making our errors better and creating a centralized place for our errors to reside and be used from.

[2018-05-18 22:45] #10814 closed

[2018-05-18 22:45] noloader commented on #10814
Thanks @kaiiiiiiiii.

[2018-05-18 22:46] #9707 closed

[2018-05-18 22:47] #10623 closed

[2018-05-18 22:49] #8072 closed

[2018-05-18 22:49] #10609 closed

[2018-05-18 22:50] #9684 closed

[2018-05-18 22:52] #8936 closed

[2018-05-18 22:53] rodrigok commented on #9628
Closed via #10488

[2018-05-18 22:53] #9628 closed

[2018-05-19 02:05] graywolf336 commented on #10777
@RocketChat/core This is an important piece of our GRPC and seeing as it is broke on instances, we need to get it fixed asap.

[2018-05-19 02:06] graywolf336 commented on #10656
No problem :) that information is scattered throughout the issues here. Hopefully a release will be forthcoming in the next few days.

[2018-05-19 02:11] zetahoq commented on #8539
Yes, to have the Let's Encrypt SSL work you need to have port 80 and port 443 open and point to your system running Caddy.

Its a better user experience this way vs yours. It will make it so no matter what the user types it will always redirect to a secured connection. Your current method if they type http://YourDomain.com they would receive a 404 or some other error.

Using the suggested method w

[2018-05-19 02:13] graywolf336 commented on #10610
Channels and groups will not return the `usernames` array. Instead, you have to use the `*.members` endpoint.

[2018-05-19 02:15] graywolf336 commented on #7932
@betterphp we don't and never have had a valid Hipchat Enterprise export to test against, so sadly we need someone who does to help us fix this issue and submit a pull request or be willing to send one of our developers the export so we can get the issue fixed.

[2018-05-19 02:19] graywolf336 commented on #10737
Closing because this is a developer question and not an issue with Rocket.Chat. Please see our [forums](https://forums.rocket.chat/) or stack overflow for developer questions.

[2018-05-19 02:19] #10737 closed

[2018-05-19 03:56] 707eric commented on #8539
Yes, to have the Let's Encrypt SSL work you need to have port 80 and port 443 open and point to your system running Caddy.

Its a better user experience this way vs yours. It will make it so no matter what the user types it will always redirect to a secured connection. Your current method if they type http://YourDomain.com they would receive a 404 or some other error.

Using the suggested method w

[2018-05-19 06:44] himbeere commented on #10787
Works for me with 0.64.2 on my own server.

[2018-05-19 09:13] tkurz commented on #10800
The fields that are mentioned for filters are already part of the solr index, yes.

[2018-05-19 09:42] kb0304 commented on #10800
@mrsimpson
I will look into Indexing attachments and would surely take it up in the coming time.
For UI, can you please elaborate what do you mean by 'harmonized with the directory' part and also, could you please give some sample implementations of these form-like elements?

[2018-05-19 16:30] Gummikavalier commented on #10024
We were still experiencing this with in 0.64.2 with Firefox.

Custom CSS workaround:
[code]

[2018-05-19 16:32] Gummikavalier commented on #9951
Custom CSS workaround to fix the problem for anyone witnessing the same problem:
[code]

[2018-05-19 17:14] AlexVonB opened #10820 "Native iOS app login redirects to wrong GitLab OAuth URL"
### Description:

When using the native iOS app, GitLab authentication does not redirect to the given local GitLab installation but calls https://gitlab.com/users/sign_in
Logging in in the browser or the Android app with the local GitLab OAuth works fine. Should be an iOS native app bug.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Ubuntu 16.04
* Depl

[2018-05-19 18:15] jwayong commented on #8277
@sampaiodiego i'm also getting the same thing.. also result of registerGuest doesn't return any token, just the userId, is that normal?

[2018-05-19 18:20] momobadilak opened #10821 "Client code request to /api when ROOT_URL specifies sub-path"
### Description:

When running rocket chat behind nginx reverse proxy, under a path "/chat" and configuring the rocketpath ROOT_URL , I notice that the client code running in the browser is making occasional requests to "/api".

To be clear:
1. this isn't making rocketchat inoperable -- I can still work with the software : admin, chat etc..
1. requests that don't obey ROOT_URL are problematic; in

[2018-05-19 19:38] fifou17 commented on #9968
any news about this bug ??

[2018-05-19 22:17] kaiiiiiiiii commented on #8564
Can you guys please update your RC instance to the latest version (0.64.2) and try again? I can not reproduce the issues behavior with that version, all links get rendered with a `target="_blank"` (macOS, High Sierra, tested with latest Chrome & Safari/Windows 10, tested with latest Chrome).

Thanks

[2018-05-20 09:16] PeeterAngelo commented on #8564
I'd love to, but 0.64.* breaks slackbridge.

[2018-05-20 10:16] kaiiiiiiiii commented on #10821
Hi @momobadilak,

can you please try the solution @candershelley posted in #8487 ? (last post).

Thanks

[2018-05-20 10:17] betterphp commented on #7932
I did a bit of digging and have a feeling it's something do do with some invalid sequence in one of the messages, so the error may be on the part of HipChat and we'd need to workaround it.

Unfortunately I also won't be able to make our export public but will see if I can get some time to have a go at a PR or at least narrow down the issue to a smaller import file that I would be able to share.

[2018-05-20 10:54] kaiiiiiiiii commented on #10820
Hi @AlexVonB,

as you already pointed out, this seems to be an issue with the iOS application and not with the server component. Therefore I’d like to refer you to the Rocket.Chat iOS repository:

https://github.com/RocketChat/Rocket.Chat.iOS

Feel free to open an issue over there.

Thanks,
Kai

[2018-05-20 11:04] AlexVonB commented on #10820
Oh I didn't look for the app repo, thanks!

[2018-05-20 11:04] #10820 closed

[2018-05-20 14:39] marceloschmidt opened #10823 "Rocket.Chat GDPR Readiness"
Dear European and Global community,

Rocket.Chat has implemented various updates and changes to our codebase in preparation for GDPR enforcement on May 25th 2018.

A summary of our overall GDPR readiness strategy for this project can be found below:

https://github.com/RocketChat/Rocket.Chat/issues/9769

The following are some of the more recent GDPR updates that are now part of the core code base

[2018-05-20 16:37] sysfu opened #10824 "Jitsi video call applet button crowding"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: 8.11.1
* mongoDB Version: 3.2.7
* Rocket.chat macOS app v.2.10.5
* macOS 10.13.4

### Steps to Reproduce:

1. Launch Rocket.chat macOS app & go to

[2018-05-20 20:48] sampaiodiego opened #10825 "Avatars looking weird in some places"
### Description:

The lazy load images PR broke some places where avatars are being shown.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.0-develop
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1. Go to /admin/users and see
2. Or go to /livechat-

[2018-05-20 20:49] #2171 closed

[2018-05-20 21:16] abugandar opened #10826 "Add Download progress bar"
Where it can be seen the download progress bar?
if i am downloading multi-files how i can check if the download tasks all finished
and how i can resume or cancel download tasks ?

You need to add thus Download Manager with thus options :+1:
1-Download progress bar  (client)
2-Resume / Pause /Cancel option (client/Server)
3-History downloaded Files (client/Server)

[2018-05-20 21:19] kamelotnsk opened #10827 "Chat not available"
Hello!
Chat is delivered via snap
From the local network, chat is available
http://10.168.2.8:8080/
Before him stands nginx from him I get
404 Site XXXXXXXXX is not served on this interface

[2018-05-20 21:35] abugandar opened #10828 "how to implement RocketChat-e2e"
how to add RocketChat-e2e Package
i need

    E2E Encryption support for Direct messaging
    E2E Encryption support for Private groups
    E2E Encryption support for uploaded files
    Offline encrypted chats

[2018-05-21 02:28] rodrigok opened #10830 "Release 0.65.0"
# Release 0.65.0
We are releasing a new version, this issue will keep track of the progress between the first release candidate (20th of each month) to the final release (27th of each month).

After the 20th of each month we start the release process that ends 7 days after, during that period we enter a Feature Freeze. While in the Feature Freeze, we will only be merging bug fixes and not new feat

[2018-05-21 05:28] momobadilak commented on #10821
@kaiiiiiiiii yep -- will do and report back.

[2018-05-21 07:26] castironclay commented on #9408
The only fix I've found is just to enable the 'Slackbridge out' for all channels. Then I'm able to send messages back to slack.

[2018-05-21 09:07] 2E0PGS commented on #8539
I don't need that user experiance it's locked down for security and is a invite only system. Ideally there should be an option to run SSL port only. There is CLI flags it seems for disabling the different types of challeneges: `disable-http-challenge` and `-disable-tls-sni-challenge`. I wonder if these flags can also be accessed via the Caddy snap for rocketchat?

[2018-05-21 09:10] kaiiiiiiiii commented on #8564
Hi @ndousson,

I still struggle to reproduce the issues behavior on open.rocket.chat =/

![screen shot 2018-05-21 at 11 08 13](https://user-images.githubusercontent.com/4711233/40299730-7f8ecda0-5ce7-11e8-86fb-37daba1d599b.png)

[2018-05-21 09:40] ndousson commented on #8564
Hi @kaiiiiiiiii,

I've created a new private channel to be in the same context than you and i can't reproduce link with target="_blank".

![screenshot_20180521_113332](https://user-images.githubusercontent.com/6339309/40301207-af7e514e-5ceb-11e8-85da-536d17128ce1.png)

As you can see in the capture above, the problem is always here.

I'm on Google Chrome **Version 66.0.3359.181 (Build officiel) (6

[2018-05-21 11:06] ulope commented on #8564
@kaiiiiiiiii do you you have the marked parser in use?

[2018-05-21 11:43] flavio80s commented on #10610
I need that rooms of direct messages return the `usernames`, as it was before, not channels and groups.

[2018-05-21 12:01] ispryt commented on #10774
I replayed the video: https://yadi.sk/i/Lb_TL4pu3WHjrH

[2018-05-21 13:03] mikaelmello opened #10831 "[NEW] Section to monitor and manage bot accounts on admin interface"
This is part of the GSoC project to improve the integration of Rocket.Chat with bots, the discussion about changes on the User model is found [here](https://forums.rocket.chat/t/change-the-architecture-of-bot-accounts/776).

This issue is about creating a new section on the Administration Panel to visualize all bots of the server and monitor or manage them with a interface that is similar to the U

[2018-05-21 13:17] PeeterAngelo commented on #8564
Ah yes, indeed this might be related to the Marked parser, I mentioned here https://github.com/RocketChat/Rocket.Chat/issues/8564#issuecomment-340446641 that the problem also appears when creating a link with Markdown

[2018-05-21 15:14] ggazzo commented on #10770
closed by #10564

[2018-05-21 15:14] #10770 closed

[2018-05-21 15:17] jerometambo commented on #10653
Yes please ? Even a fix to do in the incriminated directory ?

[2018-05-21 16:06] renatobecker commented on #10813
Hi @guilhermecfviana!
We have been working on this feature and there is a PR in the review process to relase it.
Please, take a look here: #10514.
If it´s what you're looking for, please just folow the review process to find out when this feature will be avaliable.

Thanks.

[2018-05-21 16:06] #10813 closed

[2018-05-21 16:27] momobadilak commented on #10821
@kaiiiiiiiii changing nginx config did not change the outcome. requests to /api/v1/commands.list are still being issued by the client code running in the browser.

[2018-05-21 16:49] cardoso opened #10834 "[BUG] Invite users button shows up even if you don't have permission"
Happening on 0.64.2-rc.2

I don't have any of these permissions, but the button on the contextual bar still shows up:

add-user-to-joined-room
add-user-to-any-c-room
add-user-to-any-p-room

Then when I try adding someone, an empty red alert shows up.

[2018-05-21 18:22] graywolf336 commented on #7932
Awesome, I appreciate your understanding and willingness to help! @betterphp

[2018-05-21 20:07] andrey-canon opened #10838 "The text is over/behind the chat text bar"
### Description:

When select the option to layout= embedded and a user is writing a message the text "user is typing "is overlapped with the text box
![rocketchat-bug](https://user-images.githubusercontent.com/36200299/40327449-94313e8e-5d08-11e8-965d-5b6829cc14b1.png)

### Steps to Reproduce:

1. Go to /group/Channel?layout=embedded
2. See the message " User is typing"

### Expected behavior:

T

[2018-05-21 20:55] cardoso opened #10839 "[BUG] /api/v1/directory not returning total, offset & count fields"
It should behave like the other paged APIs, such as:

https://rocket.chat/docs/developer-guides/rest-api/channels/files/#channel-files

[2018-05-21 21:00] rafaelks commented on #10839
@MarcosSpessatto This one is a must have for us, can you please include this one for 0.65?

[2018-05-21 22:07] rodrigok commented on #10709
Closed via https://github.com/RocketChat/Rocket.Chat/pull/10715

[2018-05-21 22:07] #10709 closed

[2018-05-21 22:10] #10022 closed

[2018-05-21 22:12] #10810 closed

[2018-05-21 22:14] #10746 closed

[2018-05-21 22:14] #10768 closed

[2018-05-21 23:05] tzar commented on #8564
Based on: https://github.com/markedjs/marked/issues/655#issuecomment-383226346

In: https://github.com/RocketChat/Rocket.Chat/blob/217073f4c010e8472a7521c998e89fd47c7a68ee/packages/rocketchat-markdown/parser/marked/marked.js

We should add:

[code]

[2018-05-22 01:34] kevinwithnall commented on #10624
How do we know if someone is looking at this ? This is causing real problems for us. I have alf my users migrated to rocket chat and now can't chat with the ones that are still on slack.

[2018-05-22 01:44] #10825 closed

[2018-05-22 05:36] Maqsyo opened #10842 "Snap version doesnt update -> 0.63.3"
![image](https://user-images.githubusercontent.com/19644698/40343891-67b9283c-5d92-11e8-86d7-79681dbce46a.png)

The last Versions (0.64.0/0.64.1/0.64.2) where only in the candidate state on snap, so we haven't got an update.

Could you please bring them to the stable channel, so we can get an update?
Or how does your stable-policity works?

Greets :)
~ Maqs

[2018-05-22 06:41] AlexVonB commented on #10820
Got resolved by https://github.com/RocketChat/Rocket.Chat.iOS/pull/1684 Thanks again!

[2018-05-22 07:38] himbeere opened #10843 "email direct reply dot gets translated to =2E"
### Description:

When answering a message via email direct reply all dots in the message are shown as =2E

### Server Setup Information:

* Version of Rocket.Chat Server:  0.64.2
* Operating System:  Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: no
* Node Version: 8.11.2
* mongoDB Version: 3.4

[2018-05-22 07:38] himbeere commented on #10843
![bildschirmfoto 2018-05-22 um 09 34 46](https://user-images.githubusercontent.com/631865/40348401-ed414532-5da3-11e8-9d5a-d8605b72eb41.png)

[2018-05-22 08:33] TwizzyDizzy commented on #10842
@rocket-cat close

Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/10656

Cheers
Thomas

[2018-05-22 08:33] #10842 closed

[2018-05-22 08:46] nedbase-jesse commented on #10816
I have the same problem on 0.64.2
`SlackBridge ➔ Connection.info Connecting via token:  xoxb-xxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxx
Exception in callback of async function: TypeError: RtmClient is not a constructor
    at SlackBridge.connect (/app/bundle/programs/server/packages/rocketchat_slackbridge.js:203:18)
    at SlackBridge.RocketChat.settings.get (/app/bundle/programs/server/packages/rocketc

[2018-05-22 09:17] himbeere opened #10844 "unable to change / save personal notification settings 0.64.2"
### Description:

Just tried to change email notification setting to "disabled" and noticed after the page reloads the settings is back to "every mention / dm".

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: no
* Node Version: 8.11.2
* mongoDB Ver

[2018-05-22 09:20] himbeere commented on #10844
Further testing reveals only "Offline Email Notifications" setting is affected.

[2018-05-22 09:45] kaiiiiiiiii commented on #10844
Duplicate of #10787? Or at least related?

[2018-05-22 09:46] antgel commented on #10844
@sampaiodiego Could this be related to PR #10686 ?

[2018-05-22 09:46] antgel commented on #10787
@sampaiodiego Could this be related to PR #10686 ?

[2018-05-22 09:47] antgel commented on #10570
@sampaiodiego Another one?

[2018-05-22 09:56] himbeere commented on #10844
Another observation. If i set Administration -> Account -> Offline Email Notifications to disabled i can switch it on under Personal settings. But it's not possible to do it the other way around.

[2018-05-22 10:20] rackmuthu opened #10845 "Keycloak and Rocket Chat intergration"
I am trying to integrate the Rocket chat with the keycloak.
My Rocket Chat is 0.63.3v . And my  Keycloak is 4.0.0v.
My Keycloak configuration:
[code]

Rocket Chat OAuth Configuration
[code]

Here sample is my realm name.

But after this configuration the rocket chat login page does not redirect to keycloak page.
And i am not seeing any login rocket chat and keycloak.

How to solve my problem.Any o

[2018-05-22 11:00] sfmarques commented on #10570
Hello,

This is solved, the user needed to confirm the email address.

Thanks

[2018-05-22 11:00] sfmarques commented on #10570
It's Working

[2018-05-22 11:00] #10570 closed

[2018-05-22 11:09] martinvonwittich commented on #9653
No, it's not? Wildcard subdomains cover exactly one level, so https://js.s3.amazonaws.com would be fine (and indeed my Chrome says "secure"), while https://clippy.js.s3.amazonaws.com is not (Chrome says "NET::ERR_CERT_COMMON_NAME_INVALID").

Loads fine in Chrome.

[2018-05-22 11:41] sampaiodiego commented on #10787
@ubarsaiyan are you changing the notification preference under "My Account" page? or is it on specific channel?

I could reproduce it for the `Email` field under "My Account" page only.

[2018-05-22 11:42] sampaiodiego commented on #10787
https://github.com/RocketChat/Rocket.Chat/pull/10847 fixes the issue on the email btw

[2018-05-22 12:06] himbeere commented on #10787
yes. only there and only that setting is affected. thanks for the fix.

[2018-05-22 13:16] ubarsaiyan commented on #10787
@sampaiodiego The issue occurs when saving the preferences for a particular channel or dm.

[2018-05-22 14:03] ubarsaiyan commented on #10787
https://drive.google.com/file/d/1L_gSYblssaGPXbkTWAQUttJgFJSmw7EE/view?usp=sharing
Video describing the issue ^ on dm with Hubot, using Chrome 66 and present version of open.rocket.chat

[2018-05-22 14:53] jpotts-IIL opened #10849 "IFrame Authentication not working"
### Description:
As far as I can tell I have set up IFrame authentication as described in the docs. However, I have been unable to login with the API URL.

It has been implemented in Django and my API URL points to:

`@csrf_exempt`
`def apiurl(request):
	#get loginToken
	r = requests.post("http://li353-116.members.linode.com:3000/api/v1/login", data={'username': 'user', 'password': 'pass'})`

	if

[2018-05-22 16:13] sampaiodiego commented on #10787
many thanks @ubarsaiyan .. not sure what I did before, but now I'm able to reproduce it

[2018-05-22 16:36] tinlans opened #10850 "Version conflicts of coffeescript on Meteor 1.6.1.1"
### Description:

I noticed that Rocket.Chat had bumped the meteor version to 1.6.1.1 since 0.63.0, so I did a clean and fresh installation of Meteor 1.6.1.1 on my environment. However, I got the following error messages while I was performing **meteor npm start** at the root directory of latest Rocket.Chat:

[code]

I know there are several ways to solve these conflicts, such as clone each packag

[2018-05-22 18:14] #10744 closed

[2018-05-22 19:03] #10353 closed

[2018-05-22 19:40] abugandar commented on #10830
add RocketChat-e2e Package to this version

[2018-05-22 19:48] ggazzo commented on #6818
fixed, use the last version.

![image](https://user-images.githubusercontent.com/5263975/40385932-a279ba3a-5dde-11e8-9561-37e7e6ba2016.png)

[2018-05-22 19:48] #6818 closed

[2018-05-22 20:03] abugandar opened #10852 "E2E encryption needed"
E2E encryption will be implemted in the next new version or not ??

[2018-05-22 20:05] moonwolf-github commented on #10816
Duplicate of #10624.

[2018-05-22 20:09] TwizzyDizzy commented on #10828
@rocket-cat close

The issue you should follow is #36 and the according PR #10094. There is nothing YOU can do to speed this up. As of now, you can use OTR which does have open bugs that probably won't get fixed. Once the new E2E feature is there, there will be an announcement.

The issue at hand does not add any valuable information or does not describe any bugs and is therefore closed.

Cheers
T

[2018-05-22 20:09] #10828 closed

[2018-05-22 20:12] TwizzyDizzy commented on #10852
@rocket-cat close

The issue you should follow is #36 and the according PR #10094. There is nothing YOU can do to speed this up (well if you can code and contribute to the PR, you actually could). As of now, you can use OTR which does have open bugs that probably won't get fixed. Once the new E2E feature is there, there will be an announcement. As you can see #36 is in the milestone "mid-term" whi

[2018-05-22 20:12] #10852 closed

[2018-05-22 20:17] TwizzyDizzy commented on #10827
@rocket-cat close

Hi @kamelotnsk

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing.

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitation of time. If it should tu

[2018-05-22 20:17] #10827 closed

[2018-05-22 20:25] TwizzyDizzy commented on #10826
Hi @abugandar

I'm assuming you're talking about the [Electron Client]https://github.com/RocketChat/Rocket.Chat.Electron)...

There is currently no way to see the progress of a download in the Electron Client. In a normal browser, this is the task of the download manager.

I'm assuming you're talking about the [Electron Client]https://github.com/RocketChat/Rocket.Chat.Electron)...

Currently you c

[2018-05-22 20:39] TwizzyDizzy commented on #10806
Hi @janrudolph

while at first I agreed with your reasoning I then thought about how it would feel. It's rather hard to describe in words but I would feel ... kind of blind. Technically you're right, when the image is loaded there is no actual use in showing the URL, yet seeing it there somehow gives a certain feel of... "I know where this image came from" ... unfortunately I can't put this feelin

[2018-05-22 20:43] #10775 closed

[2018-05-22 20:44] TwizzyDizzy commented on #10794
@rocket-cat label add "Feature: Request"

Hi @Strit

I think this is something that's not going to happen, as it would introduce a totally new kind of channel. I can see your use case, but first and foremost, Rocket.Chat is a chat application, not something that competes with skype or other voice messengers. I will put this into the developers' discussion pipeline but don't get your hopes up.

Che

[2018-05-22 20:56] TwizzyDizzy commented on #10796
@rocket-cat label add "Feature: Request"

I took me a while to figure out what you're actually saying but I think now I got it.

@ Rocket.Chat team

This is a request to have favorite rooms/groups/whatever have some kind of `position:fixed` in the sidebar while everything that's not favourite would scroll "below" it (z-index).

Cheers
Thomas

[2018-05-22 21:04] TwizzyDizzy commented on #10765
Could please try to better describe how to reproduce this issue. From what you wrote it doesn't, to me, become evidently clear how to reproduce.

Cheers & Thanks
Thomas

[2018-05-22 21:09] TwizzyDizzy commented on #10604
@theorenck this has possible security implications so I'd advise to triage this. Thanks! :)

Cheers
Thomas

[2018-05-22 21:14] TwizzyDizzy commented on #9579
@rocket-cat close

Closing this due to lack of feedback and also because the original issue didn't seem to have been an RC issue. If you disagree, please get back to me directly!

Cheers
Thomas

[2018-05-22 21:14] #9579 closed

[2018-05-23 04:05] Strit commented on #10794
Thanks for at least talking about it.
:slightly_smiling_face:

[2018-05-23 04:59] Maqsyo commented on #9649
Is it possible to give the /api/v1/users.info method the attributes "unreadState" and "unreadCount" ?

The only actual solution, that I know, is to iterate over all rooms and users. And this solution has way too much requests..

Thanks!

[2018-05-23 07:05] 2E0PGS commented on #8539
More ports open is a bigger targer especially on default port numbers. If I only need one port then why expose port 80 to attract more attackers.

⁣Peter Stevenson (2E0PGS)
http://www.m3pgs.co.uk​

On 22 May 2018, 23:07, at 23:07, Eric Brogdon <notifications@github.com> wrote:

[2018-05-23 07:48] smnbbrv opened #10854 "macOS High Sierra energy consumption too high"
### Description:

The energy consumption of the application in the background mode is unbelievably high. And I am nearly not using the app. Any other chat is consuming literally nothing compare to rocketchat.

![image](https://user-images.githubusercontent.com/13453858/40410217-7e31ebe0-5e6d-11e8-9505-c6d967961eac.png)

![image](https://user-images.githubusercontent.com/13453858/40410363-e82b63a0-

[2018-05-23 07:57] sinteur commented on #9112
I'm on 0.64.1 at the moment, I'll upgrade soon. I'll keep an eye out for you

[2018-05-23 09:00] kaiiiiiiiii commented on #10854
Hi @smnbbrv,

this is a problem with the electron app, not with the server component. Therefore I'd like to refer you to the electron app repository:
https://github.com/RocketChat/Rocket.Chat.Electron

Feel free to open an issue over there.

Thanks

[2018-05-23 09:16] nv1t opened #10855 "Incoming Webhook - Choosing Channel/User outside rocket?"
As far as i can see, the incoming webhooks are specified to a channel, or user on the rocket.chat side (this is forced behaviour). Is there any type of configuration, where i can let a client, which uses this hook, choose the channel/user to post to?

I tried using the method from different closed issues:  #2705

The other method would be using the REST-API directly, which means i have to setup a

[2018-05-23 09:24] toupeira opened #10856 "Can't disable push mobile notifications"
### Description:

I have push mobile notifications disabled in my account but am still receiving them using the native Rocket.Chat app on Android.

On a related note, I also have offline email notifications disabled (which does indeed work) but the form always reverts to show "Default (Every Mention/DM)" after saving:

![selection_001](https://user-images.githubusercontent.com/6501/40415529-5f2aa6

[2018-05-23 10:31] eszeus commented on #10653
@geekgonecrazy Hello there, same problem here on a Pi 3b with Ubuntu Core 16 (newest dev build).
Cant access the interface nor access it through rocketchat app.
Exactly the same issue as explained in this topic.
The reference from @SkyzohKey did not help at all, because in the reference topic was no solution posted...

Any fix or solution yet?

[2018-05-23 11:45] huiminzeng commented on #2233
hello! I have got a problem with this.
I am using docker-compose to deploy rocketchat, and have already created an Admin with environment variables. But still, when i open the browser and open the localhost:3000 tab, it jumps to the setup-wizard automatically. Could you please tell me, whether this is an issue or it is just me made some mistakes?
thank you!

[2018-05-23 12:21] drweb86-work opened #10858 "Consider using TinyMCE and send html instead of wiki markup in messages"
Hello

Could you please consider using HTML instead of wiki markup upon chat writing. And consider using one of the good html editors for writing messages - TinyMCE.
https://www.tinymce.com/

I doubt anyone want to know that special characters to easily format text. And there're already good editors on the market such as this tool.

[2018-05-23 12:38] cchbr commented on #10685
This major issue is that the permission [preview-c-room] has no effect whatsoever. I have disabled it for all users except for admin and everyone can still preview channels without being logged in or joining the channel.

I have allowed anonymous reading and would like the user to either log in (or choose a username anonymously) and join the room before seeing all the messages in that room.

Anoth

[2018-05-23 12:42] mleatherb opened #10859 "Cannot upload APN cert/key"
### Description:

The fields for APN key/cert in the Push section are text fields and do not allow for uploading the respective files

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: linux/heroku
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: 8.11.1
* mongoDB Version:

### St

[2018-05-23 12:53] smnbbrv commented on #10854
ok, moving it there

[2018-05-23 12:53] #10854 closed

[2018-05-23 13:03] leonardothizon commented on #7282
This feature would be great!

[2018-05-23 13:07] GP-S commented on #10858
I'm not sure to understand. Are you suggesting to drop the markdown syntax ?
If so, can you explain me the benefits ?

I get the point of not willing to learn markdown syntax but you already are able to use button for this purpose on rocket client (bellow the text block, see picture).

![image](https://user-images.githubusercontent.com/9041351/40426110-82f88ab2-5e9a-11e8-92e4-79e72a18206b.png)

[2018-05-23 13:09] leonardothizon commented on #6713
I'd like to do this as well. How @raelsan solved this situation?

[2018-05-23 13:10] drweb86-work commented on #10858
But if person presses button B, i or other staff he can't see how his message will be looking prior writing. When person uses Word or other processor he imminently sees result which is called WYSIWYG.

[2018-05-23 13:21] KirbySSmith commented on #10859
You need to convert the key and cert to pem files then copy the text from the file.

Certificate generation and conversion instructions are available at: https://blog.serverdensity.com/how-to-renew-your-apple-push-notification-push-ssl-certificate/ **Stop After step five.** Then, open the files in a text editor and copy the certificate and key information into the administration → push → certifica

[2018-05-23 13:23] huiminzeng opened #10860 "Create the first Admin via docker-compose.yml"
### Description:

Hello everyone! I am using docker-compose to deploy Rocket.Chat. Here are the environment variables:

    environment:
      - PORT=3000
      - ROOT_URL=http://localhost:3000
      - MONGO_URL=mongodb://mongo:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://mongo:27017/local
      - MAIL_URL=smtp://smtp.email
      - ADMIN_USERNAME=Huimin
      - ADMIN_PASS=123
      - ADMIN_E

[2018-05-23 13:38] mleatherb commented on #10859
Thanks @KirbySSmith , that worked. In case someone else comes across this. You will also need to restart the services for notifications to start working.

[2018-05-23 13:38] #10859 closed

[2018-05-23 13:43] seand88 commented on #533
+1 for postgres

[2018-05-23 14:02] SanthoshiRamya opened #10861 "Can not upload and image with ROOT_URL change, Changing Root Url does not affect ${ __meteor_runtime_config__.ROOT_URL_PATH_PREFIX }"
### Description:

I am runnning 4 instances of Rocketchat behind Nginx. My root URL is https://xx.yyyy.com. I am using pm2 with example-pm2.json and modified it to reflect the ROOT_URL and port. With the app comes up fine and Chat is working fine. But when I try to upload an image/file in to the chat, it still seems to try to connect http://localhost:3000/ufs so the upload is failng. Also I notice

[2018-05-23 14:09] #10839 closed

[2018-05-23 14:51] leonardothizon commented on #4378
Would be nice if all these fields could be auto filled by Livechat API.

[2018-05-23 16:10] blhuynh opened #10863 "Right and Left Aligned Messages"
In order to view messages more efficiently
As a user
I would like to be able to have the ability to have messages sent by myself to be right aligned and all messages sent by other people to be left aligned (similar to how iMessage does it)

[2018-05-23 16:11] blhuynh opened #10864 "Minimize User List"
In order to view messages more efficiently
As a user
I would like to be able to have the ability to minimize the user and channel list on the left.

[2018-05-23 16:35] ggazzo commented on #9112
thanks :)

[2018-05-23 16:44] rodrigok commented on #10642
Closed via https://github.com/RocketChat/Rocket.Chat/pull/10853

[2018-05-23 16:44] #10642 closed

[2018-05-23 16:50] TheBelgarion commented on #4515
DNS resolution does not seem to work/wrong with the IP 45.55.199.111 ( like on some examples above, but had the same problem)

[root@test01 ~]# wget https://gateway.rocket.chat/
--2018-05-23 18:44:10--  https://gateway.rocket.chat/
Resolving gateway.rocket.chat (gateway.rocket.chat)... 45.55.199.111
Connecting to gateway.rocket.chat (gateway.rocket.chat)|45.55.199.111|:443... NO RESULT

while from

[2018-05-23 16:58] ggazzo commented on #2233
@karlprieb

[2018-05-23 17:14] ggazzo commented on #10132
@timkinnane all that users contains `here` on their username, name or email... so the users are not random ... you could remove the permission `view-outside-room` so if you dont have permission, you will see only "friends"(users that you have DM) or users inside the room

[2018-05-23 17:20] TwizzyDizzy commented on #10864
@rocket-cat close

Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/4688.

Cheers
Thomas

[2018-05-23 17:20] #10864 closed

[2018-05-23 17:26] geekgonecrazy commented on #9114
This should be resolved.  CLosing

[2018-05-23 17:26] #9114 closed

[2018-05-23 17:28] geekgonecrazy commented on #10656
Should now be available.  Sorry about the delay.

As said by @graywolf336 we had a few issues we couldn't rightly release and risk breaking someone's install.

Specifically anyone with wordpress authentication would not have been able to login any more.

Its now released.  Closing this issue

[2018-05-23 17:28] #10656 closed

[2018-05-23 17:29] diegolmello commented on #10834
Yeah, it's happening here too.

[2018-05-23 17:30] #10787 closed

[2018-05-23 17:30] #10844 closed

[2018-05-23 18:20] ggazzo commented on #6725
@alexbrazier do you know if the problem persists on new versions? > 0.63.x

[2018-05-23 19:13] kaiiiiiiiii commented on #10863
Duplicate of #9681 and #10308

[2018-05-23 19:21] karlprieb commented on #2233
@huiminzeng If is the first time you run a server you will enter on the setup wizard even if you already have an admin user.

When you open localhost:3000 the first time do you see the first step of the setup wizard (the step with a form to create a user) or do you see the second step (Organization Info)?

[2018-05-23 19:35] #10863 closed

[2018-05-23 20:00] sampaiodiego opened #10865 "Show livechat visitor name bigger when present on Info panel"
### Description:

Currently on the Info panel the visitor's username is show bigger than the name. But the visitor's username (always guest-XXX) is far less relevant then its name.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: Any
* Deployment Method(snap/docker/tar/etc): any
* Number of Running Instances: any
* DB Replicaset Oplog: yes
* Node Version:

[2018-05-23 20:26] sampaiodiego opened #10866 "Create additional iframe APIs to livechat"
### Description:

It would be good to have additional APIs to communicate with livechat iframe.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: any
* Deployment Method(snap/docker/tar/etc): any
* Number of Running Instances: any
* DB Replicaset Oplog: any
* Node Version: any
* mongoDB Version: any

### Expected behavior:

I'm proposing the creation of th

[2018-05-23 21:27] mrsimpson commented on #10800
@kb0304

I'll try: There are two "searches" (identified by a magnifier symbol) on the UI already but they don't fulfill this purpose: The magnifier in the channel list finds only subscribed rooms and users, the find in the tabbar of the room finds messages - and optionally now also cross-room - but is only accessible once a room is opened.
IMHO, there has to be one - and only one - access to all o

[2018-05-23 21:39] zalloy commented on #6405
I agree with @HammyHavoc It would be better to have dark mode available as an option in the rocket.chat client, so that users can choose for themselves which mode to use. Personally, I use a dark theme on nearly everything, so it kind of bugs me that there's no good way to set this for rocket.chat

[2018-05-24 02:53] RichardFoxworthy commented on #10816
Same problem. This issue prevented my Ubuntu Snap from refreshing successully - it gave me a 502 Bad Gateway error, and I have to revert my snap back to 63.3 so I could disable Slackbridge and complete the upgrade. Re-enabled Slackbridge in 64.2 and get this error:

`[34mI20180524-02:15:01.533(0) [34mSlackBridge ➔ Connection.info Connecting via token:  xoxb-xxxxxxxxxxxxxxxxxxxxxxxxxxxx Exception i

[2018-05-24 04:00] NikKomarov commented on #10816
Same here, right now reverted to 63.3, because of broken slack bridge. Stack trace is exactly same as @RichardFoxworthy showed

[2018-05-24 06:06] mnlbox commented on #658
I think something like we have on Slack can be very useful. (worksapce with sub domain support)

[2018-05-24 06:27] huiminzeng commented on #2233
hi @karlprieb ! Thanks for your instruction. What i saw was always the first step, which means i have to create an Admin. Moreover, i couldn't use the Admin, which i defined with environment variables. Thus, I had to give a new account.
I opened an issue yesterday as well. There are some screenshot. I will appreciate it, if you could please have a look.  https://github.com/RocketChat/Rocket.Chat/i

[2018-05-24 06:30] janrudolph commented on #10806
@TwizzyDizzy
Well, I look on this from a non-tech user perspective. These users are pretty fine with just seeing the preview. They do not see any value in having both - the link and the preview. For them it looks "grubby" and most of them do not care where e.g. a picture comes from.
We tech people might have a different view on that than non-tech guys.

[2018-05-24 08:02] wilibox commented on #8540
We are suffering from this problem too. Is it going to be fixed ?

[2018-05-24 08:10] nedbase-jesse commented on #10002
I noticed that when I use /slackbridge-import it did import the pictures from slack to rocketchat. First I noticed that the Maximum File Upload Size (in bytes) at the File Upload settings section, was to small for certain pictures/files. I increased it and ran /slackbridge-import again and more pictures imported

[2018-05-24 08:31] deadmanIsARabbit commented on #7604
@sampaiodiego that is not correct.
The `directory` page doesn't have the ability to show only those users who are online.
The `default` channel would serve this purpose (in a cheated manner) if the user list would also have a keyboard shortcut. Theoretically there could be still users online which are not in the default channel.

So something like the `search` page but with more then those few ent

[2018-05-24 10:26] antaflos commented on #9416
This also seems to affect replying to messages, at least in 0.64.1. When clicking Reply on a chat message only the original author's username is displayed above the input field, not the original message, and the reply doesn't quote the original message:

![rocketchat-message-reply-1](https://user-images.githubusercontent.com/1441852/40479969-5ce8a92a-5f4d-11e8-8c7f-0277bf1e4deb.png)

![rocketchat-

[2018-05-24 10:46] Jamirkhan50 commented on #9443
@graywolf336  is it any way to get unread messages for users at user level like **whatsapp**, in the whatsapp it shows the overall unread msgs and then inside it is divided at component level.

Currently we are having the API to get the unread msgs at of user for particular channels.

[2018-05-24 10:56] alasserr commented on #7791
Hi,
I've successfully connected Nextcloud 13.0.2 with 0.64.1 RocketChat (thanks moonwolf-github  !);
... BUT :  everytime I use the Oauth Connector to access RockeChat over Nextcloud login form, I loose my Nextcloud session (i.e. : if Nextcloud is open in another Browser Tab, the user is disconnected and I have to reconnect).
Any thoughts from someone ?

[2018-05-24 11:14] sampaiodiego commented on #8220
@mattsaddo the gateway cannot be self hosted.. but we have plans to allow you to have facebook integration without the gateway.. it will be by far much complicated to set up, but we understand some people would not like to use the gateway.

[2018-05-24 11:19] sampaiodiego commented on #7604
@deadmanIsARabbit that is a different need than the one asked on the issue.

in fact, there is no place to get all online users of the entire server. that could be fixed by adding a filter on Directory page, what do you think?

[2018-05-24 11:47] 5hay opened #10868 "WebRTC (Video)Calls not working"
### Description:
Hello everyone.

I have Rocket.Chat installed via Docker and I have a Nginx reverse proxy (also Docker) in front of RC with SSL enabled and working. Chat works fine.

But I can't get (Video)Calls over WebRTC to work. When I click on Video Chat, I see myself in the feed but the user I'm trying to call doesn't receive anything on his end.

Tested on Windows 10 and Windows 7 with Chr

[2018-05-24 11:48] ispryt commented on #10774
[Imgur](https://i.imgur.com/iquDApK.jpg)
Screenshot

[2018-05-24 11:53] deadmanIsARabbit commented on #7604
@sampaiodiego Sure that would be a fix. But a keyboard shortcut for a direct access to this filter would be essential.
CTRL+ALT+L(ist) maybe? It seems it is neither used by Chrome nor by Firefox.

And I think this would satisfy what @zipper2110 requested?  I mean as long as you have fast access it should be sufficient.

May I ask if it would be a general solution to make the items on the `side nav

[2018-05-24 12:29] TwizzyDizzy commented on #10806
@rocket-cat label add "Feature: Request"

Yeah... this is most likely true, I agree.

Cheers
Thomas

[2018-05-24 12:57] renatobecker commented on #7798
Hi @monty241!
Just giving you an update about your request: We are evaluating the possibility of migration our `Livechat Webhooks` to `Rocket.Chat Outgoing Integrations`.
Using `Outgoing Integrations` this process would be more flexible, but we need to improve the `Outgoing events` to achieve this, so now we are measuring the effort to make this migration.
I will be commenting this issue as soon a

[2018-05-24 13:27] timkinnane commented on #10132
@ggazzo I didn't know the username search came back with matching emails as well. I think that's what makes it seem so random. Is that a good idea? Seems like no one would be searching for emails because you can't `@` an email.

Requiring users or admins to change permissions to correct a bad UX issue doesn't seem like a very good solution either.

Maybe if you type exactly @here or @all it should

[2018-05-24 14:14] janrudolph opened #10869 "[Bug] Profile update does not work in Internet Explorer"
### Description:

When changing profile properties, like name, you cannot store the information. Clicking the SAVE button does not have any effect

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3

### Steps to Reproduce:

1. Open Internet Explorer and Login
2. Edit user name
3. Save

### Expected behavior:

Saving should work...

### Actual behavior:

Saving does not work.

[2018-05-24 14:25] forij commented on #9348
Please you can say what the way you use to login in iframe RocketChat

[2018-05-24 14:47] graywolf336 opened #10870 "API cleanRoomHistory Does Not Remove Attached Media"
The api which uses the `cleanRoomHistory` method does not clean up the attached files/media.

[2018-05-24 14:51] marceloschmidt commented on #2639
We have a /api/v1/rooms.cleanHistory API method that will delete messages between two dates. We could change that method to also delete files. We could probably add an option to delete files only on this method.

[2018-05-24 17:04] renatobecker commented on #8277
@jwayong, the `token` will not be returned in `livechat:registerGuest`(it's a required parameter and you must generate it on your own), the documentation may not be up to date.

[2018-05-24 20:32] danielbressan opened #10871 "How to query dates in the API"
### Description:

How/Can you use the normal MongoDB query with date? I.e. is there a way I can query "get all users with updatedAt greater than X date"? Or get all messages from the past x day/s?

I've tried various versions of this (which works in Mongo):
`api/v1/users.list?query={"_updatedAt": {"$gte":  new ISODate("2018-05-24T20:10:48.093Z")}}`

I've confirmed that other non-date queries work

[2018-05-24 21:57] olegberman commented on #9652
Try running these 2 commands:

1. `export TOOL_NODE_FLAGS="--max_old_space_size=4096"`
2. `rm -rf build`

[2018-05-24 22:59] kvaps commented on #10668
Agree same problem on
[code]

[2018-05-24 23:01] kvaps commented on #9614
I think solved

[2018-05-24 23:01] #9614 closed

[2018-05-24 23:04] kvaps commented on #9615
Since 0.64 no way for redirect messages from one chat to another :(

[2018-05-24 23:15] lightweight commented on #9951
Thanks for the work-around, @Gummikavalier. Problem still there in 0.64.1.

[2018-05-25 01:12] ggazzo commented on #10132
Sorry @timkinnane but I didnt understand.

It's not a lack of consideration(and I'm sorry if you felt that), but I dont think it is a bug or improvement.

@sampaiodiego @gdelavald @karlprieb @theorenck just moved the issue between milestones, it not means they are involved , but even so I asked for each one about that (my fault, we work on the same place here, maybe I should register each answer h

[2018-05-25 01:30] ggazzo commented on #7791
hey actually we have a gsoc student(@karakayasemi) working on (next|own)cloud, and I believe very soon we will have this feature :)

[2018-05-25 01:33] timkinnane commented on #10132
Cool. I assumed because it had been assigned specific labels and moved to `Desireable` etc, that that indicated general agreement that the issue was worth acting on.

I see now that it's not a technical bug, but I think the search suggestions experience is still confusing and It shouldn't require extra configuration to achieve an experience that makes sense. So maybe there's a UX enhancement to ma

[2018-05-25 01:33] #10132 closed

[2018-05-25 01:43] ggazzo commented on #10655
@ispryt could you test here? https://rocket-chat-pr-10862.herokuapp.com/

or try clone from this branch https://github.com/RocketChat/Rocket.Chat/pull/10862
thanks

[2018-05-25 01:53] timkinnane opened #10872 "Refine autocomplete username suggestions"
On `open.rocket.chat` or any server with many users, the autocomplete username suggestions after `@` are often not very useful, I think for two reasons:

1. The search includes matching on email address - I don't see any reason for this and it just pollutes the list with irrelevant usernames.
2. The search isn't sorted to promote users in the room, so the person you're most likely trying to addres

[2018-05-25 01:54] timkinnane commented on #6570
Relevant #10872 - if the package gets reviewed, I think it would be a good opportunity to address long standing experience issues with username autocompletion.

[2018-05-25 01:54] ggazzo commented on #10739
@MarcosSpessatto

[2018-05-25 03:11] ggazzo commented on #9765
@p-hess I think you fixed this issue here https://github.com/RocketChat/Rocket.Chat/pull/10564

could you try again ?

[2018-05-25 03:42] ggazzo commented on #4885
fixed

[2018-05-25 03:42] #4885 closed

[2018-05-25 03:45] #8658 closed

[2018-05-25 03:57] ggazzo commented on #8453
I think its working now. If I'm wrong please reopen (:

![image](https://user-images.githubusercontent.com/5263975/40525390-28741b02-5fb6-11e8-9298-868d83a5c9d1.png)
![image](https://user-images.githubusercontent.com/5263975/40525375-167b4ccc-5fb6-11e8-8476-e9fa3ad88323.png)

[2018-05-25 03:57] #8453 closed

[2018-05-25 04:04] ggazzo commented on #7424
I think its working now, please feel free to (re)open if you find some problem
![image](https://user-images.githubusercontent.com/5263975/40525573-3ab04074-5fb7-11e8-9524-f6287dc5ed8f.png)

@rasos My Account > Preferences
![image](https://user-images.githubusercontent.com/5263975/40525592-5a593d68-5fb7-11e8-9e51-b43e41898985.png)

[2018-05-25 04:04] #7424 closed

[2018-05-25 04:14] ggazzo commented on #7824
i'm closing because its nice now ;)

[2018-05-25 04:14] #7824 closed

[2018-05-25 04:18] ggazzo commented on #7819
![image](https://user-images.githubusercontent.com/5263975/40525888-708c0c9e-5fb9-11e8-9b14-fc8fa1c9f38a.png)
 we have a new design now, should be working :)

[2018-05-25 04:18] #7819 closed

[2018-05-25 07:20] kajisaap commented on #7524
[code]

We have 3000+ users with roughly 300-500 users online. All the rocket.chat instances are running in single server and the spec is 16 GB of RAM with 4 cores inside AWS VPC. We have nginx proxing to the rocketchat ports.

We have frequent problems with rocket.chat
- not responding timely,
- message not being sent,
- frozen response,
- uploads are not working.
- .....very slow

We know replic

[2018-05-25 09:33] onigoetz commented on #7524
Hello @kajisaap I have a setup similar to yours.

One thing that might help you, at least for file uploads, is to replace nginx with HAProxy.
As explained in this thread, when uploading a file, the file is proxied to the instance that first saw the user when connecting.
As nginx can't support sticky sessions, your users are moved from one instance to another on each request.

Using haproxy with se

[2018-05-25 10:12] ilyaikik commented on #10655
@ggazzo I've tried to create channel with name in russian here: https://rocket-chat-pr-10862.herokuapp.com/
Doesn't work.
In English - it's ok.

[2018-05-25 11:27] maniac777 opened #10874 "Mail range of messages"
### Description:

When mailing messages it is possible to mark fragment of conversation by marking first message, and then, by holding shift on keyboard by marking last one of range that highlite all messages from range but on the Mail Messages dialog shows "2 messages selected", and by sending via email only first and last message from range.

### Server Setup Information:

* Version of Rocket.Ch

[2018-05-25 12:39] rodrigok commented on #10871
@danielbressan you should use the time in milliseconds since 1970

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getTime

[code]

[2018-05-25 13:26] danielbressan commented on #10871
@rodrigok Awesome, thanks! Work perfectly.

[2018-05-25 13:26] #10871 closed

[2018-05-25 14:18] Fscape opened #10876 "Embedded Link Previews show your Rocketchat's domain in webserver logs"
### Description:
The URL/domain of a Rocketchat instance, including channels'/peoples' names is seen in webserver logs of the domain from which you are embedding URLs.

### Steps to Reproduce:
1. Set "Embed Link Previews" to True
2. Watch some other server's webserver logs
3. Post that webserver's URL (or a link to an image hosted on that webserver) in a room or channel
4. Your Rocketchat's full U

[2018-05-25 14:59] cpitman commented on #10809
This is similar to #5099

[2018-05-25 15:05] rodripf commented on #10809
You are right! It's the same, I didnt' find it when searching.

[2018-05-25 15:05] #10809 closed

[2018-05-25 15:35] photoninger commented on #4961
I don't know much about js and the used frameworks in rocket.chat, but I guess LDAP-auth for the REST-API might be possible if the LDAP code also registers an auth method with ```RocketChat.API.v1.addAuthMethod()```like it is done for the oauth2 providers in https://github.com/RocketChat/Rocket.Chat/blob/e1ef24b08c7d2c13ba834a384f9f16ab0d2c68f1/packages/rocketchat-oauth2-server-config/oauth/server

[2018-05-25 15:51] suncal opened #10877 "Use of different emails for multiple domains under the same account, how can this be done?"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): etc
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: v8.11.1
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-05-25 19:11] ggazzo commented on #8239
hey @Venomen, we are releasing a slash command `/hide` and I'm thinking in create an option "Do not ask again" (for hide rooms) what do you think?

[2018-05-25 19:17] Venomen commented on #8239
@ggazzo hello, yeah, thats even better idea ;-)
btw offtopic: we have ~400 active users atm, and mongo is kinda slow when it comes to some deep searching, you guys thinking about switching to some postgresql or other faster db solution?

[2018-05-25 19:18] ggazzo commented on #6254
hey @localguru , I dont think that is a bug, actually all services flip your won camera... I will be closing this issue, but feel free to reopen if you think that is really a problem.
hangouts
![image](https://user-images.githubusercontent.com/5263975/40559747-2ecada68-602e-11e8-9b2e-14b370681820.png)
jitsi
![image](https://user-images.githubusercontent.com/5263975/40559870-9308de62-602e-11e8-99ef

[2018-05-25 19:18] #6254 closed

[2018-05-25 19:19] ggazzo commented on #3193
We dont have this behavior anymore, if I'm wrong please open again :)

[2018-05-25 19:19] #3193 closed

[2018-05-25 19:38] ggazzo commented on #7271
hey @Gyaviste I think we already fixed this issue here #10851 could you check please?

[2018-05-25 19:46] ggazzo commented on #8876
@JeromeJ I think its done :) feel free to open again if I'm wrong

[2018-05-25 19:46] #8876 closed

[2018-05-25 19:54] ggazzo commented on #10271
almost same of #9771 lets keep the conversation there.

[2018-05-25 19:54] #10271 closed

[2018-05-25 20:17] sampaiodiego commented on #10856
@toupeira the push notifications you're receiving are for old conversations? there was an issue for new conversations not applying user preferences.. this and the value for "email notifications" being reverted were fixed by https://github.com/RocketChat/Rocket.Chat/pull/10847

[2018-05-25 20:19] ggazzo commented on #10604
@gramou could you try on > 0.64.2 ? I think its done :)

[2018-05-25 20:26] toupeira commented on #10856
Hmm they were new *messages* but from existing *conversations*, so if
that's what you meant then it sounds like this was indeed fixed :)

Feel free to close the issue, I'll reopen if I still experience problems
with 0.65.0.

Thanks!

On Fri, 25 May 2018, 22:18 Diego Sampaio, <notifications@github.com> wrote:

[2018-05-25 20:39] ggazzo commented on #10769
@rafaelks could you test again? I think its working....

[2018-05-25 21:19] tsukiRep commented on #10703
Doesn't #10733 fix this? It seems to be working on 0.64.2 for me.

[2018-05-25 22:12] 707eric commented on #8539
And you meet these requirements?
The hostname:
   -is not empty
   -is not localhost
   -is not an IP address
   -has no more than 1 wildcard (*)
   -wildcard must be left-most label

The port is not explicitly 80
The scheme is not explicitly http
TLS is not turned off in site's definition
Certificates and keys are not provided by you
Caddy is able to bind to ports 80 and 443

[2018-05-25 22:29] doctorwho92 commented on #4335
why did you close an 20 month old feature request because its not on the short term road map? I waited this long. Can wait longer.

[2018-05-25 22:30] doctorwho92 commented on #3781
why did you close an 22 month old feature request because its not on the short-term road map? I waited this long. Can wait longer.

[2018-05-25 22:34] doctorwho92 commented on #3781
To be clear, this is still the single biggest barrier to adoption of Rocket.Chat in our organization. If I could push it out a config to everyone's computers so that upon launch it would connect them to our rocketchat server, I would simply make Rocket.Chat+ open at login, and people would just provide their username and password, and the numebr of employees on it would exponentially increase. Ins

[2018-05-25 23:13] alexbrazier commented on #6725
@ggazzo I would say it is probably fixed now as our server is now working on the latest version.

I'll close it as its been inactive for a while, and if someone does have the issue they can reopen.

[2018-05-25 23:13] #6725 closed

[2018-05-25 23:26] tbtgspence opened #10881 "Feature Request: Support direct messages with multiple users."
This would most likely just result in the auto-creation of a private room, but something to more easily support DM'ing multiple people similar to how Slack handles it would be very user-friendly.

[2018-05-26 00:31] ggazzo commented on #9647
hey, @pshute what did you see this config?
Administration > Messages
![image](https://user-images.githubusercontent.com/5263975/40570610-d7cf2c98-6062-11e8-99de-2bc96a2287b3.png)

[2018-05-26 01:31] ggazzo commented on #10655
@ilyaikik please try disable "Allow special characters in room names"

[2018-05-26 01:32] ggazzo commented on #10655
its very confuse ... but just let me know, I will try improve that (:

[2018-05-26 01:39] ggazzo commented on #7004
I'm closing this issue because I'm confident that have no more this problem. Fell free to reopen if I'm mistaken

[2018-05-26 01:39] #7004 closed

[2018-05-26 01:42] #5870 closed

[2018-05-26 01:44] #5444 closed

[2018-05-26 01:53] ggazzo commented on #6725
thanks

[2018-05-26 01:58] ggazzo commented on #8239
what kind of search?

[2018-05-26 02:51] ggazzo commented on #8904
@criduvero we made some changes on sidenav, I think its working as you describe, could you check? thanks :)

[2018-05-26 07:47] Venomen commented on #8239
@ggazzo any search in conversations for example (when a lot of people are connected) can be even 30-60sec. Cpu, mem & disks are ok. It could be our rocket db size (~4GB) but still it's slow.

[2018-05-26 11:05] ilyaikik commented on #10655
@ggazzo I would be happy to try that, but I'm not admin here
https://rocket-chat-pr-10862.herokuapp.com/

[2018-05-26 11:06] ilyaikik commented on #10655
Wow!
I've tried on my rocket.chat.
It works! Amazing! =)

This config works:
"Allow special characters in room names" - disabled.
UTF8 Names Validation - [0-9а-яА-Яa-zA-Z-_.]+

[2018-05-26 12:36] ilyaikik commented on #10655
But now, for Cyrillic names I don't see channel's Avatars made of name's first symbol.
Also user names with Cyrillic symbols behave similar.

[2018-05-26 12:53] 2E0PGS commented on #8539
Should my RocketChat be listening on port 80?

Here are the ports open on the server itself locally:
![image](https://user-images.githubusercontent.com/15659301/40576323-0b3f77ca-60ec-11e8-9a24-63728b734af7.png)

[2018-05-26 13:05] 2E0PGS commented on #8539
There are no references to port 80 within any configs or ports open...

All I see is 3000 which seems to be the default for RocketChat and 443 which is what I had specified in the Caddy file for the proxy to 3000.

Anyway I found this interesting that its now trying port 8080 for some reason:
[code]

I am trying a combination of configs in the Caddy file to see what causes it to crash and what wor

[2018-05-26 13:10] bryn1u opened #10884 "npm/node_modules/sharp/build/Release/sharp.node: Undefined symbol "_ZTVN4vips7VOptionE""
Hello guys,

After node install main.js rocketchat crashes. Logs below. Im was trying to find something solution on google but google is completely keeping silent.

### Server Setup Information:

* Version of Rocket.Chat Server:  rocket.chat-latest.tgz
* Operating System: FreeBSD 11 - Stable
* Deployment Method(snap/docker/tar/etc): tar and then node install main.js
* Number of Running Instances:

[2018-05-26 13:18] 2E0PGS commented on #8539
So without specifying HTTP or HTTPS in front the domain it will say its proxying via port 2015 which seems like a random port. So I cannot get it to work without specifying either HTTP 80 or HTTPS 443 in front the domain in my Caddy file.

[code]

However if I specify `http://subdomain.mydomain.org` or `https://subdomain.mydomain.org` it will open and proxy via either http80 or https443 but never

[2018-05-26 13:22] danielfrancora opened #10885 "Mongo 3.4 issues when running docker.compose.yml from main page"
### Description:

I'm trying to migrate our rocketchat server from a VM to our swarm clsuter and for that I found de docker-compse.yml from rocketchat github that creates a rocketchat server, a mongo instance, a replica set that start only to create the replica and the hubot. BUT, in the example the version of mongodb is 3.2 and I'm using 3.4 in our VM.

And, when I start the aplication with 3 rep

[2018-05-26 14:00] 2E0PGS commented on #8539
OK so the only way I have got both port 80 and port 443 proxying is by specifying two rules
[code]
However the HTTP port 80 wont be redirected to HTTPS.

[2018-05-26 14:07] 2E0PGS commented on #8539
More related posts:
https://caddy.community/t/rocketchat-works-only-in-self-signed-mode/3595
https://github.com/RocketChat/Rocket.Chat/issues/10268

[2018-05-26 14:19] #10885 closed

[2018-05-26 14:26] 2E0PGS commented on #10268
Hi I am running into the same issue. My RocketChat snap instance all of a sudden stopped working. It used to work just fine with the following config:

[code]

Now I have to use self signed in order to get it working:

[code]

I am running the following versions:

`/snap/rocketchat-server/current/bin/caddy -version Caddy 0.10.12 (unofficial)`

`lrwxrwxrwx  1 root root    4 May 23 20:20 current ->

[2018-05-26 14:41] vfxpandit commented on #7610
Use this syntax to display custom fields in profile
http://rocketchat/admin/Accounts

Custom Fields to Show in User Info  >>
` [{"Designation": "designation"}, {"Department": "department}]
`

**Registration >> Custom Fields**
sample json format for add custom fields

[code]

To update custom fields though Rest API
` "data": {"name": name, "email": email,  "customFields": {"designation": 'Artist',

[2018-05-26 14:41] vfxpandit commented on #2304
Use this syntax to display custom fields in profile
http://rocketchat/admin/Accounts

Custom Fields to Show in User Info  >>
` [{"Designation": "designation"}, {"Department": "department}]
`

**Registration >> Custom Fields**
sample json format for add custom fields

[code]

To update custom fields though Rest API
` "data": {"name": name, "email": email,  "customFields": {"designation": 'Artist',

[2018-05-26 14:44] mholt commented on #10268
The latest versions have some bug fixes: https://github.com/mholt/caddy/releases

https://caddyserver.com/download

[2018-05-26 14:46] 2E0PGS commented on #10268
@mholt I am running this via a snap on Ubuntu 16.04 is there a dev / unstable snap upstream I can switch to in order to use those changes on my LTS box? Is there a planned stable release for xenial with those "fixes"?

[2018-05-26 14:47] mholt commented on #10268
I dunno, you'll have to ask the RocketChat team.

[2018-05-26 15:46] ggazzo commented on #10655
could you send a print ? btw I will talk with guys, we have to change some things to allow another languages properly

[2018-05-26 16:05] vfxpandit commented on #5387
Put this in custom css

.powered-by {
  display: none;
}

[2018-05-26 18:41] Miracle916 opened #10888 "Raspbian read only file system and npm error message"
I have an issue when trying to install npm package on a rocketchat snap package directory (somthing like that, I'm talking about the server bundle) but then an error appears an it says that tha packge.json is read only and the others dependencies are read only so I tried to change the permissions turning it to 755 as sudo but system says it's a read only file system so I can't change it even if I'

[2018-05-26 19:00] #10624 closed

[2018-05-26 19:00] #10816 closed

[2018-05-26 19:37] JSzaszvari commented on #10881
@rocket-cat label add "Feature: Request"

[2018-05-26 19:40] JSzaszvari commented on #10888
Hi @Miracle916

Can you please log this issue using the issue template - https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md

The detailed information is needed in order to help troubleshoot your problem.

Apologies!

[2018-05-26 19:40] JSzaszvari commented on #10888
@rocket-cat close

[2018-05-26 19:40] #10888 closed

[2018-05-26 19:43] JSzaszvari commented on #10876
@Fscape

You will need to post the relevant apache logs or a entry from them.

I'm unable to replicate this at all

I've just run a test on both Apache and Nginx and in the web server logs I do not see this

[code]

[2018-05-26 19:44] kaiiiiiiiii commented on #10881
Duplicate of #4489, PR #9106

[2018-05-26 19:58] JSzaszvari commented on #10858
Hi @drweb86-work

Markdown is a standard used across the board. If you take a look at the other available solutions you can see this is the case:

https://support.discordapp.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-

https://docs.mattermost.com/help/messaging/formatting-text.html

https://get.slack.help/hc/en-us/articles/202288908-Format-your-messages

[2018-05-26 19:58] JSzaszvari commented on #10858
@rocket-cat label add wontfix

[2018-05-26 19:58] JSzaszvari commented on #10858
@rocket-cat close

[2018-05-26 19:58] #10858 closed

[2018-05-26 21:56] Miracle916 commented on #10888
pi@raspberrypi:/snap/rocketchat-server/1233/programs/server $ ~/meteor/dev_bundle/bin/npm install
npm WARN checkPermissions Missing write access to /snap/rocketchat-server/1233/programs/server/node_modules/source-map-support
npm WARN checkPermissions Missing write access to /snap/rocketchat-server/1233/programs/server/node_modules
meteor-dev-bundle@ /snap/rocketchat-server/1233/programs/server
└──

[2018-05-26 22:06] Miracle916 commented on #10888
@JSzaszvari
Server Setup Information:

Version of Rocket.Chat Server: rocketchat-server snap package
Operating System: Raspbian Stretch 4.14
Deployment Method(snap/docker/tar/etc): ~/meteor/dev_bundle/bin/npm install (dependencies)
Number of Running Instances: 1
DB Replicaset Oplog:
Node Version: 4.8.2
mongoDB Version: using mlab

Expected behavior: Install dependencies

Actual behavior:
pi@raspbe

[2018-05-26 22:34] Miracle916 commented on #10888
I have the 1.4.21 npm version
hello?

[2018-05-26 22:34] Miracle916 commented on #10888
@JSzaszvari need help please

[2018-05-26 23:13] JSzaszvari commented on #10881
@rocket-cat close duplicate

[2018-05-26 23:13] JSzaszvari commented on #10881
@rocket-cat close

[2018-05-26 23:13] #10881 closed

[2018-05-27 03:49] wagesj45 opened #10889 "Piwik implicit referencing support"
### Description:

Piwik analytics seems to hardcode references to the piwik server's "piwik.js" and "piwik.php" pages. There is an alternative available utilizing implicit referencing to "js/" as seen [in the documentation here](https://github.com/matomo-org/matomo/blob/master/js/README.md). (Piwik is undergoing a name change, hence the mixing and matching of matomo and piwik in the documenation).

[2018-05-27 07:48] himbeere commented on #10876
Please see https://github.com/RocketChat/Rocket.Chat/issues/3860

[2018-05-27 08:08] 707eric commented on #8539
What happens if you just do
subdomain.mydomain.org {
tls self_signed
proxy / localhost:3000 {
  websocket
  transparent
}
}

Keep the brackets I added as well

[2018-05-27 08:11] 707eric commented on #8539
Oh ok, I just scrolled up and saw the port 8080 mention

I was having that issue as well. I ended up reverting one back to an older Rocket because I couldn't get the issue to resolve. I know where the 8080 is coming from but I don't know how to stop it sinces its in the snap which is read only

[2018-05-27 08:54] JSzaszvari commented on #10876
Excellent.

Thanks, @himbeere - So we are talking about the referrer field. Makes much more sense now.

@Sing-Li  - Should I close this one in favor/as a duplicate of #3860 , Or should I close #3860 and transfer any relevant details over to this one. Just not sure as that's quite old, but clearly still an issue that needs to be addressed at some point.

[2018-05-27 08:55] JSzaszvari commented on #10876
@rocket-cat label add enhancement

[2018-05-27 09:42] Miracle916 opened #10890 "Can't install dependencies read only file system"
Server Setup Information:

Version of Rocket.Chat Server: rocketchat-server snap package
Operating System: Raspbian Stretch 4.14
Deployment Method(snap/docker/tar/etc): ~/meteor/dev_bundle/bin/npm install (dependencies)
Number of Running Instances: 1
DB Replicaset Oplog:
Node Version: 4.8.2
mongoDB Version: using mlab
npm: 1.4.21

Expected behavior: Install dependencies

Actual behavior:
pi@raspbe

[2018-05-27 10:20] kaiiiiiiiii commented on #10890
Why do you open another issue? #10888

And btw. you need at least node 8.9.x to run the latest rocket.chat release

[2018-05-27 10:36] Miracle916 commented on #10890
because It's closed and what about the npm version?
So I just edit the file package.jason and change the node version or download the package from the page

[2018-05-27 22:26] pshute commented on #9647
@ggazzo no, I hadn't seen that. Ours is set to False. I'm not sure if setting it to True would be a good idea though. It would sometimes help people who don't realise it doesn't do whole word searches, but often they won't realise search are now case sensitive. That might cause just as much trouble.

[2018-05-28 00:08] ggazzo commented on #9647
@pshute I'm not sure if I understand your problem because we use the option `insensitivity` when regexp is enabled ![image](https://user-images.githubusercontent.com/5263975/40592103-8f36f2aa-61f1-11e8-8999-4c926e14ef54.png)

[2018-05-28 00:15] pshute commented on #9647
@ggazzo Thanks, I didn't try changing the default to regex. I didn't know it became case insensitive.

[2018-05-28 01:14] ggazzo commented on #9647
No problem :) I will close the issue... any problem pls open again (or open a new issue)

[2018-05-28 01:14] #9647 closed

[2018-05-28 02:36] cardoso opened #10894 "[BUG] Missing imporant caching directives for image assets"
We should have caching directives in response HTTP headers (max-age):

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control

Also version control for editable assets such as avatars and custom emojis:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag

and

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Last-Modified

[2018-05-28 03:33] teamsoo opened #10895 "The new Lazy load image attachments doesn't work"
### Description:

According to #10608, our instance of RC doesn't show the image when we point at it. Is there a way to disable this Lazy load feature?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.0
* Operating System: Ubuntu 16.04.1 LTS
* Deployment Method(snap/docker/tar/etc): docker (official rocketchat/rocket.chat)
* Number of Running Instances: 1
* DB Replicaset Oplog

[2018-05-28 03:47] #10491 closed

[2018-05-28 05:29] teamsoo commented on #10895
@ggazzo Hi, thanks for the response. I'm seeing this error when scrolling pass the preview image. Not sure if it's related.

<img width="1440" alt="screen shot 2561-05-28 at 12 28 57" src="https://user-images.githubusercontent.com/9608690/40598588-c7604a74-6272-11e8-9601-8cdad3e99c93.png">

[2018-05-28 05:32] teamsoo commented on #10895
yeah. I believe they're related.

`a=e.firstNode.getBoundingClientRect();if(a.top>=-100&&a.left>=0&&a.top<=(window.innerHeight||document.documentElement.clientHeight))return l(e)})};window.addEventListener("resize",window.lazyloadtick);`

[2018-05-28 06:29] monty241 commented on #7798
Hi @renatobecker thanks for your update, very accurate. Would be nice. Already happy that sound now works; when we hear a soft chime in the office we know that there is someone needing help. Would even be greater when we could ring all phones thanks to outgoing webhook.
Regards, Guido

[2018-05-28 06:46] ppcat commented on #10895
got same error after upgrade to 0.65.0

[2018-05-28 08:08] JSzaszvari commented on #10895
I saw this issue too. I did a bunch of testing and it seems to work fine up until the point that this PR is merged - https://github.com/RocketChat/Rocket.Chat/pull/10887

It seems to work OK, but then once you merge that particular PR in, the images will not fully load and stay blurry

@ggazzo FYI

[2018-05-28 08:08] JSzaszvari commented on #10895
@rocket-cat add label bug

[2018-05-28 08:09] JSzaszvari commented on #10895
@rocket-cat label add bug

[2018-05-28 08:09] JSzaszvari commented on #10895
@rocket-cat label add "type: bug"

[2018-05-28 09:22] VareliyK opened #10897 "Incorrect url in button "GO TO MESSAGE""
### Description:
In version 0.64.2 button "GO TO MESSAGE" in the e-mail notifications has wrong url https://sitename/direct/
instead
https://sitename/direct/username or group name
In version 0.64.1 - OK. We checked

### Server Setup Information:

* Version of Rocket.Chat Server: Release 0.64.2 (#10812)
* Operating System: Linux CentOS 7.4
* Deployment Method(snap/docker/tar/etc): docker (official

[2018-05-28 09:52] Rohlik commented on #7004
I test this issue today with build 0.65.0 and I can still set 2 rooms as default, which is wrong.
![image](https://user-images.githubusercontent.com/2051154/40608903-535d9fdc-626d-11e8-94c6-379ed6f3a8eb.png)

@ggazzo Can you re-open this issue please? I don't have permission to do that.

[2018-05-28 09:59] mwarth commented on #10530
Any update here? We are currently evaluating Rocket.Chat for company use and facing the same issue with the desktop app 2.10.5 on Windows 10 1803 as well as Firefox ESR 60.0.1.

Deployment:
Server Version: 0.64.2
Ubuntu Server 18.04 with latest updates - snap deployment
Running on valid wildcard ssl certificate with caddy proxy.

[2018-05-28 10:10] traxanos commented on #10895
i can confirm this

[2018-05-28 10:27] KervyN commented on #2422
Oh yeah!

[2018-05-28 10:37] rafaelks commented on #10769
@ggazzo In `unstable.rocket.chat`, still not working...

![screen shot 2018-05-28 at 07 36 43](https://user-images.githubusercontent.com/551004/40610726-e9c511e0-6249-11e8-9491-59cb939eba49.png)

[2018-05-28 11:19] Episodio1 commented on #9319
Same here with 0.64.2
"unread message" bar stays there, even if user changes chatroom.

[2018-05-28 11:25] rutmb opened #10898 "Moderator list for channel/group"
Hello,
Good day

### Description:

It would be good to have API requests for getting moderator list for the channel/group (like  requests /api/v1/channels.members and /api/v1/groups.members)

### Expected behavior:

- /api/v1/channels.moderators
- /api/v1/groups.moderators

[2018-05-28 11:50] ggazzo commented on #10895
sorry guys, nrr template I'm working to fix it

[2018-05-28 12:24] Lawri-van-Buel opened #10899 "Upgrade from 0.63.3 to 0.65.0 fails with 'call' is not a function.-> Restore from backup only solution to get it back up and working on 0.63.3."
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3 --> 0.65.0
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): Ansible - Tar
* Number of Running Instances: 5
* DB Replicaset Oplog: Present
* Node Version: 8.9.4
* mongoDB Version: 3.4.6

### Steps to Reproduce:

1. Have a running Rocketchat at version 0.63.3 with a slackbridge atta

[2018-05-28 12:29] leoluk opened #10900 "Unreasonably high idle CPU usage"
### Description:

Idle CPU usage of Rocket Chat in Google Chrome (latest stable release) is unreasonably high:

![screenshot from 2018-05-28 14-01-52](https://user-images.githubusercontent.com/859697/40613998-1acba588-6281-11e8-9448-a4e8d84c94d0.png)

Not to mention the 0.6G of RAM.

JS profiler snapshot:

![image](https://user-images.githubusercontent.com/859697/40614135-b5302194-6281-11e8-9a1e-1

[2018-05-28 13:07] TwizzyDizzy commented on #10899
I'm wondering how even your 0.63.3 setup was working. To quote the [release notes of Rocket.Chat 0.60.0](https://github.com/RocketChat/Rocket.Chat/releases/tag/0.60.0):

So please upgrade to the latest nodejs 8.x version (currently 8.11.2) and report what happened.

Cheers
Thomas

[2018-05-28 13:17] ggazzo commented on #10769
@rafaelks actually its not a broadcast problem, the problem is with readonly rooms (broadcast its kind of readonly).

![image](https://user-images.githubusercontent.com/5263975/40616086-fa4fbcd4-625f-11e8-8472-cc1333a0375a.png)

obs: if you add a user and promote him to "moderator/owner" he keeps "muted"

[2018-05-28 13:26] sampaiodiego commented on #10899
@TwizzyDizzy looking at his Ansible script, node version seems correct.. he might have only typed it wrong

but @Lawri-van-Buel I'm unable to reproduce the error. the error seems to happen on startup, is it correct?

does it work if you disable slackbridge (on previous version) ?

[2018-05-28 13:36] ggazzo opened #10905 "Feature "don't ask it again" for some actions"
- [x] Reset option on Profile settings
- [x] Button on action
- [x] Extendable for multiples settings (hide option first)

something like:
![image](https://user-images.githubusercontent.com/5263975/40616827-ba31fe0c-6262-11e8-8d90-a3927daaf620.png)

### Description:

Add the option to skip some modals

[2018-05-28 13:39] Lawri-van-Buel commented on #10899
it happens on startup. I did not check if it works when slackbridge is disabled before upgrade, can it really affect the upgrade this much?

[2018-05-28 13:41] Lawri-van-Buel commented on #10899
Yes itys 8.9.4 not 4.9.4 ( typo on my end)

[2018-05-28 13:46] Lawri-van-Buel commented on #10899
I can try the upgrade again tomorrow with slackbridge disabled (its a live server and it does work on my stage which does not have a slackbridge)

[2018-05-28 13:53] sampaiodiego commented on #10899
@Lawri-van-Buel I'm currently trying to find a cause, since I was not able to reproduce on my environment (with either slackbridge enable or disabled)..

another question, do you have  `Log Exceptions to Channel` enabled? we've verified a bug on it when enabled and something happens during startup and something is calling `sendMessage` during your server's startup.

[2018-05-28 13:53] leetex1337 opened #10906 "Can´t enable E-Mail notifications for all messages"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: Ubuntu 16.04.4 LTS‬
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: v8.11.1
* mongoDB Version:

### Steps to Reproduce:

1. Installing Desktop Client
2. Log in with Account
3. At the top right click on more, then on noti

[2018-05-28 13:56] pradsdev opened #10907 "Live Chat isn't showing on the website"
### Description:

Rocket.Chat window isn't showing up.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.0
* Operating System: Mac OS X High Sierra
* Deployment Method(snap/docker/tar/etc): Docker version 18.03.1-ce, build 9ee9f40
* Number of Running Instances: 4
* DB Replicaset Oplog: Present
* Node Version: v10.2.1
* mongoDB Version: 3.2

### Steps to Reproduce:

1. Installed

[2018-05-28 14:03] sampaiodiego commented on #10906
this was fixed on release 0.65.0 .. thx

[2018-05-28 14:03] #10906 closed

[2018-05-28 14:20] sampaiodiego commented on #9375
we used to have this behavior, but it was [changed on purpose](https://github.com/RocketChat/Rocket.Chat/pull/7059) to the current one, your arguments are solid though.

at the time of that PR, I tested on Slack and it have that behavior, that's why I changed..

[2018-05-28 14:29] JSzaszvari commented on #10897
@rocket-cat label add "type: bug"

[2018-05-28 14:29] JSzaszvari commented on #10897
Just noticed this one my self. I managed to get it fixed, Will submit a pull request now.

[2018-05-28 14:39] samueloph commented on #3627
I don't understand why does @nghinv-exo-tqa have to explicitly block the gmail domain.

Why is simply allowing your domain not enough? And if this is really needed, wouldn't also allow for any other domain that has a google account (which isn't gmail.com or your domain) to login?

[2018-05-28 14:48] sampaiodiego commented on #10856
ok thx.. pls let us know if you still experience the issue.

[2018-05-28 14:48] #10856 closed

[2018-05-28 15:18] JSzaszvari commented on #10897
@VareliyK I've submitted a Pull Request that fixes this -  https://github.com/RocketChat/Rocket.Chat/pull/10911

[2018-05-28 15:30] rodrigok opened #10912 "Voice messages are not working on windows"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.0
* Operating System: Windows
* Deployment Method(snap/docker/tar/etc): all
* Number of Running Instances: 1
* DB Replicaset Oplog: yes
* Node Version:
* mongoDB Version:

[2018-05-28 15:47] JSzaszvari commented on #10894
Marking as an enhancement, Not necessarily a bug as its not 'broken'

@rocket-cat label add enhancement

[2018-05-28 15:48] JSzaszvari commented on #10894
@rocket-cat add label enhancement

[2018-05-28 15:48] JSzaszvari commented on #10894
@rocket-cat label add enhancement

[2018-05-28 16:19] carloshperes commented on #10907
I'm having the same problem...

[2018-05-28 17:01] #9394 closed

[2018-05-28 17:18] aellert commented on #1868
It would be great to do the same for mongodb port (default listen to *:27017). I'd ilke to get Mongo listen only on localhost. Where is document environment variables list please ?

[2018-05-28 18:39] GCDevExchange-CarrefourProgGC opened #10915 "GCcollab Message Slack bridge | Pont pour Message GCcollab et Slack"
Fixed Price: $1,000.00<br>Closing Date: Monday, June 4, 2018<h2>Opportunity Description</h2><p><span style="font-family: Times New Roman; font-size: medium;">Within our team, we have started using an open-source instant messaging platform called Rocket.Chat to enable easier communication between our coworkers. Rocket.Chat has the ability to connect with Slack via web APIs however the current funct

[2018-05-28 19:40] ggazzo commented on #8982
@geekgonecrazy I think it's working now, am I wrong?
![udrwicg5k7](https://user-images.githubusercontent.com/5263975/40627477-9bb8fc2c-6295-11e8-9400-37a85c845902.gif)

[2018-05-28 21:11] cardoso opened #10917 "[BUG] api/v1/users.updateOwnBasicInfo returns success with invalid updates"
[code]

This will return `success: true` and the user object, but with the name unchanged.

Should return `success: false` and proper `errorType` and `error` fields (throw)

This is causing problems on the mobile apps

[2018-05-28 22:26] IQ2022 commented on #10895
I have same issue on my site..  please fix  - I can't even roll back to 64
![image](https://user-images.githubusercontent.com/12454319/40630881-a0dc6518-62a4-11e8-879d-0898fb8f422d.png)

[2018-05-28 22:36] IQ2022 commented on #10895
i have docker build  and the above still an issue

[2018-05-28 22:52] vynmera commented on #10876
Although the referer should definitely be hidden (it exposes the posted channel), it should be pointed out (as a friendly warning) that people may always reverse-DNS your IP, and find out your domain name from that.
For example, one could look up 123.123.123.123 and find "mycoolserver.com".
If you wish to hide that, I suggest you use CloudFlare - although I am not entirely sure how well Rocket.Cha

[2018-05-28 23:01] vynmera commented on #10610
For normal user IDs, you can also split the channel ID in two:
etYwGz2mc5ZtmrFKZvhK8YPvPBd5HheQJw would be an IM between etYwGz2mc5ZtmrFKZ and vhK8YPvPBd5HheQJw (both 17 chars long).
You'll still need to look those user IDs up though, and this may not always work as expected (for example, rocket.cat's ID is "rocket.cat" so an IM with it would be rocket.catYs8JWjD02JShd. Parsing that will be a lot

[2018-05-28 23:01] ggazzo commented on #10703
@markwooff could you check again?

[2018-05-28 23:04] carloshperes commented on #10907
Hi everybody,

For me the way was to follow the steps of this link https://hub.docker.com/_/rocket.chat/

And now it works!
=D

[2018-05-28 23:06] ggazzo commented on #10712
@LesterChester I think you changed the background color, am I wrong?

[2018-05-28 23:07] vynmera commented on #10905
Very good, I see myself tapping that "Yes, hide it!" far too often :-)
We should probably include the word "yes" in the new button, right now it might spark confusion on whether the button confirms or cancels the action (especially if we might have a dialog in the future that could save either option), so something like "Yes, and don't ask again".
Or maybe a checkbox could be used instead...

[2018-05-29 03:50] tinlans commented on #10884
Pre-compiled release version is unsuitable to FreeBSD. You should set up the developement environment called Meteor first. However, the default installation of Meteor doesn't work and no people are willing to share how they fine-tune Meteor so it's still a secret now.

[2018-05-29 04:07] gnat42 commented on #10907
@carloshperes what steps? What's the difference? That seems to just setup the docker instances. shouldn't docker-compose create a similar setup?

[2018-05-29 04:15] mghicas opened #10919 "LDAP(AD) Users sync fails - username not populated"
### Description:

2nd batch of LDAP (AD) users synced however username was not populated.

### Server Setup Information:

* Version of Rocket.Chat Server:
Version | 0.64.2
Database Migration: 119

* Operating System: CentOS 7.5
* Deployment Method(snap/docker/tar/etc): Tar
* Number of Running Instances: 1
* DB Replicaset Oplog: Not Using Replicaset
* Node Version: 8.9.3
* mongoDB Version: db versi

[2018-05-29 07:19] phqtuyen opened #10922 "Language Setting issue"
### Description:

Strange behaviour with Language Settings.
Set general setting to a any language (tested with VN-VI, Chinese), language setting of the new account is set to that language, but the UI is reverted back to English after page refresh. Furthermore, some browser will have UI login page with the set language (firefox), some browser will automatically revert to english.

### Server Setup

[2018-05-29 07:39] LesterChester commented on #10712
@ggazzo I haven't touched it. Maybe my organization has, though. It isn't dark blue by default?

[2018-05-29 07:39] jshupptechnologies opened #10923 "[ Feature Request ] Separate topic inside channel"
### Description:
I came across a very good collaboration + chat tool : https://twistapp.com/
They have a very good way to create separate discussion list inside a project channel. It would be great to have same in rocketchat.

What does everyone think about it ?
Also can anyone add label feature request ?

[2018-05-29 07:50] Fscape commented on #10876
My RC can't be found using reverse-DNS on its IP -- it's firewalled, behind a VPN, hidden from public.
...Which is why I was surprised when I saw it appearing in other servers' logs.
I'm just leaving "Embed Link Previews" as False -- not a big deal really.
Thanks, I appreciate the info, and you looking into it.

[2018-05-29 08:00] pradsdev commented on #10907
@RocketChatApp Please update the docker-compose file and the official documentation.

@gnat42 docker-compose example code uses mongo 3.2. And the following link setup uses mongo 3.0.  https://hub.docker.com/_/rocket.chat/

@carloshperes please share us the docker-compose.yml if you've.

[2018-05-29 08:28] alirezaimi commented on #10709
Thank you for support,
In this bug report i announce two different problem with one specific section of rocketchat, file uploading .
1- cancel problem that stuck and not work
2- file uploading problem that some files uploaded successfully and some files not ! this part of log related to it :
    `May 09 11:24:22 sp2lnx1chat rocketchat-server.rocketchat-server[663]: Error: FileNotFound: no file wit

[2018-05-29 08:39] imabee101 opened #10924 "redirect to #general instead of home"
I want to have the option for the user to default to #general instead of going to the home page home. I cannot find a simple way to do this. I'm trying to get the best way of embedding this into a wordpress div or iframe but it doesn't seem friendly for that. Please advise.

[2018-05-29 09:10] vynmera commented on #10924
This should definitely be optional (maybe in admin settings) as some people use Home for rules and other important info.

[2018-05-29 09:10] imabee101 commented on #10924
I can't find the setting.

[2018-05-29 09:15] earlng commented on #10895
Can confirm. I updated from 0.64.2 to 0.65.0, I'm also getting this issue.

[2018-05-29 09:29] kazie opened #10925 "[BUG] NEW Custom emojis not working after upgrade in chats."
### Description:
After upgrading Rocket.Chat from some version (can't remember exactly sorry, let's call it `0.5.late` (about 4 months ago) or `0.6.early` to newer ones `0.6.late`, at the same time of https://github.com/RocketChat/Rocket.Chat/pull/10171

I was hoping on it getting solved through many upgrades, or that someone else would have the problem (and that I wasn't uniquely having this issu

[2018-05-29 09:55] cmonjeau commented on #10907
Hi,

I have exactly the same problem since my upgrade to version 0.65.0.

[2018-05-29 09:59] muhv7 commented on #10895
Is there any way to put in the fix while being on snap without waiting for the next candidate release?

[2018-05-29 10:19] vynmera commented on #10895
Editing Snaps is usually difficult. You can try these tips: https://askubuntu.com/questions/919091/why-snap-files-cannot-be-modified-in-any-way
Otherwise, you'll have to clone the fixed branch and import your data.

This should _really_ be a hotfix though. Not every team can afford having to switch to a local build...

[2018-05-29 10:35] antgel opened #10926 "GO TO MESSAGE link broken"
### Description:

As per title.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2. Also failed on today's `develop`.
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): Docker / local
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: 8.11.1
* mongoDB Version: Whatever is in Docker

### Steps to Reproduce:

1. Send a message to an

[2018-05-29 11:07] arteislt commented on #7463
would be a very useful feature for external users!

[2018-05-29 11:14] VareliyK opened #10927 "Rooms and users disappear after mark channel as Favorite or Unfavorite"
### Description:

Rooms and users disappear from left panel after mark channel as Favorite or Unfavorite

### Server Setup Information:

Version of Rocket.Chat Server: Release 0.64.2 (#10812)
Operating System: Linux CentOS 7.4
Deployment Method(snap/docker/tar/etc): docker (official rocketchat/rocket.chat)
Number of Running Instances: 1
DB Replicaset Oplog: n/a
Node Version: v8.9.4
mongoDB Version

[2018-05-29 11:15] kaiiiiiiiii commented on #10926
Duplicate of #10897. Fixed in PR #10911

[2018-05-29 11:29] antgel commented on #10926
Thanks, I did check for existing bugs, but some hours passed and #10897 was opened in the meantime.:)

[2018-05-29 11:29] #10926 closed

[2018-05-29 11:43] IQ2022 commented on #10895
can we confirm on the ETA for next release please???

[2018-05-29 11:59] arteislt commented on #9974
+1

[2018-05-29 12:22] rmundel commented on #10907
Same problem here after snap automagically updated from 0.64 to 0.65.

[2018-05-29 12:31] ilyaikik commented on #10655
Yes.
https://drive.google.com/open?id=1NjBhTSNpm-hztrXh4yCqezL3RQiEuDuZ
You see channel names and user's names beginning with Cyrillic have empty avatar.

[2018-05-29 13:03] avignat commented on #9632
Please bring those buttons back. I'm also affected running Rocket 0.65.0 with WebRTC enable for MP, private and public groups.

[2018-05-29 13:30] bl4cks0ar opened #10930 "compose ps"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-05-29 13:30] toughIQ opened #10931 "SAML Auth broken: "Error: key http://schemas.xmlsoap.org/.../name must not contain '.' ""
### Description:
Login via SAML results in error:
[code]
Some Details:
We have a single RocketChat instance running via Ubuntu Snap. We connected it to our WinADFS Server using SAML. Everything worked fine until a few days back. We didnt change anything on the ADFS side. But I think there was an automatic update via snap to v 0.64.2. Since around then SAML Auth does not work anymore.

### Server S

[2018-05-29 13:30] Lawri-van-Buel commented on #10899
Yes we do.

[2018-05-29 13:51] mghicas commented on #10924
Setting is under General - First Channel After Login
Set to the room name

[2018-05-29 14:37] #10924 closed

[2018-05-29 14:47] imabee101 opened #10932 "Ban users"
What command is there to ban a user? Kicking will not be enough.

[2018-05-29 14:56] gnat42 commented on #10907
I can confirm that specifying 0.64.2 for the rocket chat docker image version and the live chat js integration works.

[2018-05-29 15:10] mghicas commented on #10919
Update:
I exported and imported settings to a new RocketChat server (v .65) and tried doing an AD sync again.
Usernames did not populate in RocketChat, however I was able to log in with my AD username and then set my Rocketchat  username via the form field present on the screen.

Obviously this is not desired behavior.  I want the username to be what is defined in AD, and we adjusted the displayna

[2018-05-29 15:51] JSzaszvari commented on #10930
@rocket-cat close

[2018-05-29 15:59] sampaiodiego commented on #10899
@Lawri-van-Buel I'm working on a fix for this. In the meanwhile you guys can turn `Log Exceptions to Channel` off and update to latest version.

[2018-05-29 16:23] ggazzo commented on #10712
I did it changing the value `Primary Darkest` to none

Administration > Layout > Colors > Primary Darkest

![image](https://user-images.githubusercontent.com/5263975/40671585-aab24dac-6342-11e8-813b-ea894a5f6fd4.png)

![image](https://user-images.githubusercontent.com/5263975/40671534-85509bd6-6342-11e8-9554-f2d881a9feff.png)

try change the value, let me know if works

[2018-05-29 16:32] EkaTod opened #10933 "For may users the links posted on Rocket.chat although they seem to be just fine(blue colored, hyperlinked) are actually not working. Clicking on the link is futile. The only way to see the info is to Copy & Paste it in the browser. Please help!"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-05-29 16:32] ggazzo commented on #7004
@Rohlik its not a problem if you have 2 or more default channels(if you disagree, please tell us more why)... but the inconsistence between the list/roominfo exist no more, or exist?

[2018-05-29 16:39] stevenhfotofix commented on #10907
Same issue, upgrade from 0.64.1 to 0.65.0 now kills the live chat - CentOS Linux release 7.2.1511, Ansible deployment.

[2018-05-29 16:54] kaiiiiiiiii commented on #10933
Hi @EkaTod,

please fill out the issue template und give your issue a meaningful title.

Otherwise no one can (or maybe will) help you with your issue.

Thanks,
Kai

[2018-05-29 16:58] vynmera commented on #10712
Isn't this somewhat working as expected? Since `Primary Darkest` controls the background color of the search box, setting it to none (or any other transparent) will allow you to see through it to the controls behind.
For example, you can set it to `#00000080` and it will be a see-through black.

I suppose it would be a little bit nicer if the controls behind it would hide if the search box is open

[2018-05-29 18:38] sampaiodiego commented on #10899
I've done https://github.com/RocketChat/Rocket.Chat/pull/10934 which will not prevent this issue to happen, but if this happen it will then show where the real issue is.

[2018-05-29 18:54] hobbsome commented on #9589
Thanks!

[2018-05-29 18:59] sampaiodiego commented on #10907
guys, we're aware of the issue and we expect to have a fix for 0.65.1 which will be released today.

[2018-05-29 19:01] rmundel commented on #10907
Sweet!

[2018-05-29 19:26] tostanoski opened #10935 "PSD files upload, but do not post in channel"
### Description:

When uploading a PSD file, it appears to upload successfully, but doesn't become available in the channel it was uploaded to. No post occurs following the upload.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: MacOS 10.13.3/Windows 10
* Deployment Method(snap/docker/tar/etc): All
* Number of Running Instances: 1
* DB Replicaset Oplog:

[2018-05-29 19:30] kaiiiiiiiii commented on #10935
Maybe related to [#690](https://github.com/RocketChat/Rocket.Chat.Electron/issues/690)

[2018-05-29 19:33] tostanoski opened #10936 "Uploaded animated WEBP files do not post for download"
### Description:

When uploading an animated WEBP file, it appears to upload successfully, but doesn't become available in the channel it was uploaded to. No post occurs following the upload. Still WEBP images work properly; only animated variants are broken.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Mac OS 10.13.4/Windows 10
* Deployment Method(sn

[2018-05-29 19:37] alvarow commented on #10895
I also see this on 0.65.0 since I upgraded it last night.

[2018-05-29 19:42] graywolf336 commented on #10935
Yeah, it's a duplicate of #690 but since it's actually a core Rocket.Chat problem then it needs to be here and not there. Sadly, this looks like an error with the image processor we use @rodrigok

[2018-05-29 19:57] muhv7 commented on #10895
I agree on the hotfix part. Can't roll back to 64.2 either, site wont come up with it.

[2018-05-29 20:14] imdevine opened #10938 "Rocket.Chat doesn't load on iPhone 6 in any browser."
### Description:

When we open the web page with Rocket.Chat (https://chat.website.com) on mobile (iPhone 6), in any browser (Safari, Chrome, etc) - the page is blank-grey after loading animation disappears.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.2
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB

[2018-05-29 21:29] ear-dev opened #10939 "channel.create - unable to set channel to default?"
Using the Rest API I have been able to create new channels, set as readOnly, etc....  but it does not seem possible to set the room as a default room.   Is it possible to add that functionality?

Thank you.

[2018-05-29 22:08] vynmera commented on #10939
Seems an easy addition, on it...

[2018-05-29 22:48] #10895 closed

[2018-05-29 22:51] #10899 closed

[2018-05-29 22:55] #5358 closed

[2018-05-29 22:55] #7271 closed

[2018-05-29 23:18] geekgonecrazy commented on #8982
I don't recall which server this was.  So i'll go ahead and close, looks like its working to me now too

[2018-05-29 23:44] felipejfc opened #10942 "Slack webhook compatibility broken"
Hi,

This commit https://github.com/RocketChat/Rocket.Chat/commit/01d2aead1d9e61bb6752bde3e4728c677e41e38b#diff-b18deaa461a67499aa1867414e83204eL13 from @rodrigok has broken compatibility with slack api of webhooks, the problem is with the line highlighted, slack webhooks expect int in this "ts" field inside attachments.

Can we change it to be an int? Or maybe change back to Match.Maybe?

Our iss

[2018-05-29 23:47] ggazzo commented on #8982
;)

[2018-05-30 00:13] #10907 closed

[2018-05-30 01:32] phqtuyen commented on #10922
I have a proposed solution for this problem, if the RocketChat team is interested, feel free to reply to this comment and we can continue from there on. Many thanks.

[2018-05-30 04:44] geekgonecrazy commented on #10708
I don't think this is something we can implement. Technically for us it's delivered the very instant you send it.

If we had a single device as device we could use it. Otherwise we would have confirmation from 1-infinite number of devices.

[2018-05-30 04:49] teamsoo commented on #10895
My workaround is adding this script to `Custom Script for Logged In Users` in `Layout`

[code]

<img width="1243" alt="screen shot 2561-05-30 at 11 39 32" src="https://user-images.githubusercontent.com/9608690/40699395-30d3a154-63fe-11e8-99bf-3cd932149d85.png">

[2018-05-30 04:53] geekgonecrazy commented on #10636
Really not enough info to go on.  Try adding some logs from server and browser

[2018-05-30 05:02] geekgonecrazy commented on #10466
We definitely have been aware of some issue related to this. And working to improve. We have had a few of us experiencing this.  But, usually not as bad as your case.

Has it gotten any better?

If not can you show timing in network tab?  Would be great to see more.

Sorry for delay there is a lot of noise here on this repo, hard to find time to read them all.  The forum is a bit less noisy.

[2018-05-30 05:11] geekgonecrazy commented on #3793
Please feel free to open PR to change docs

[2018-05-30 05:49] geekgonecrazy commented on #8022
As said above the mentions are for mentions only.  Highlights do not belong there.

[2018-05-30 05:55] geekgonecrazy commented on #2084
I hate to leave your argument on a closed ticket unseen.  Might be best posting on an open ticket or opening one requesting some sort of feature or permission to allow what you desire.  There might be a request already open

[2018-05-30 06:06] #6140 closed

[2018-05-30 06:17] geekgonecrazy commented on #10653
Unfortunately not yet.

[2018-05-30 07:33] LesterChester commented on #10712
I'm sorry. Not a developer. Where do I access the "Administration"? Tried Devtools. Didn't succeed.
@ggazzo

[2018-05-30 08:35] vynmera commented on #10712
Triple dots in top left (where the search bar is) → Administration
If you don't have this option, ask a server admin to do it for you.

[2018-05-30 08:35] toughIQ commented on #10931
I did some quick testing using Docker images:

1. Setup V0.64.1 with SAML
2. Tried SAML Login -> works
3. Upgraded to V0.64.2
4. Tried SAML Login again -> fails

Anything changed with SAML except for this multi site issue?

[2018-05-30 08:56] magicbelette opened #10943 "All public channels are not displayed in the directory with Firefox"
### Description:

Parsing the directory with Firefox (52.2.0 and 60.0.1) only displays 6 channels and no scroll bar :
![capture d ecran - 30052018 - 10 33 26](https://user-images.githubusercontent.com/6803105/40709830-5a3927aa-63f7-11e8-9727-4a5bdd1aa2eb.png)

No problem with Chrome (66.0.3359.181) :
![capture d ecran - 30052018 - 10 31 35](https://user-images.githubusercontent.com/6803105/4070988

[2018-05-30 08:57] dhoeld opened #10944 "[BUG] Preview of image uploads broken"
### Description:

When uploading an image (.png, .jpeg), it's uploaded successfully but the picture preview on desktop apps (Mac, Windows) and the web ui is extremely blurred. If you try to open the preview, the picture size is very small e.g. 32 x 17 pixels. Downloads of the pictures are working fine and the picture preview on the latest IOS app and Android app is also working fine.

### Server S

[2018-05-30 09:08] dhoeld commented on #10943
Same behaviour also for users in the directory.

[2018-05-30 09:08] Nirkus commented on #10944
Attached the dev console log of an affected chromium (66.0.3359.117) browser.

[2018-05-30 09:32] mohanadrefaai commented on #10708
@geekgonecrazy I think the logic of this problem like the read receipt logic. I mean Why we do not implement REST API to mark the message (or even the whole subscription) as delivered like when we mark it as read using "subscription.read" API. Then I think the problem is related to an account not to a device whether this account received the message or not (not important to which device the messag

[2018-05-30 09:48] Gummikavalier commented on #10943
It should have already been fixed but is not...

Also mentioned in here:
#9951
#10024

Workaround with Custom CSS is:

[code]

[2018-05-30 10:04] magicbelette commented on #10943
Great :+1:
Thx

[2018-05-30 10:04] #10943 closed

[2018-05-30 10:12] toughIQ commented on #10931
The error message really drives me crazy, since I cannot figure out, what is wrong here.
Message:
`Error: key http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name must not contain '.'`

I looked into the logs of a working (0.64.1) instance and found the following result:
`RESULT :{"profile":{"inResponseToId":{"name":"InResponseTo","value":"id-dQRMwkLx7RGroK6iY","prefix":"","local":"InRespons

[2018-05-30 10:14] hagaymyr commented on #9532
@jy2008 Did you manage to accomplish this eventually?

I'm struggling with this as well and can't find a clear solution/approach for this, not here nor in the forum/StackOverflow...

[2018-05-30 11:12] ear-dev commented on #10939
@vynmera Awesome!  I also notice that it is not possible yet to create a broadcast channel.  Should I make a new issue for that or do you think we can roll that into this one?  Thanks!

[2018-05-30 11:26] ocebeci1 commented on #10944
I've tested the upload function in version 0.64.2 and it works without any problem. After an upgrade to version 0.65.0 the problem above occured.

[2018-05-30 11:48] ear-dev opened #10945 "Rest API - support upload assets"
In the admin panel it is possible to upload `assets` which can populate new images for the logo, favicon etc...  It would be great if the Rest API supported that.

[2018-05-30 11:51] kaiiiiiiiii commented on #10944
Duplicate of #10895, fixed in PR #10904

[2018-05-30 11:53] ear-dev opened #10946 "Rest API - support setting of permissions"
In the admin pannel on the RC server at `admin/permissions` it is possible to set permissions for various user types.  It would be great if the API supported that.  (I apologize if it already does, I have just not yet been able to figure out how that would work.)  Thanks!

[2018-05-30 11:58] kaiiiiiiiii commented on #10946
Duplicate of #7961

[2018-05-30 12:15] ear-dev commented on #7961
@kaiiiiiiiii Thanks for pointing this out.

@albanafmeti did you have any luck exporting these settings from mongodb collection?

I see this went into the backlog.......  I'll monitor this issue in the hope that it moves forward.

Thanks!

[2018-05-30 12:28] jangmarker opened #10948 "Add button to hide all direct messages"
### Description:

Direct messages tend to stack up over time. Easiest way to clean up is to hide all direct message rooms - this is not possible at the moment and all DMs need to be hid one by one.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1

### Expected behavior:

Have one button to close all direct messages.

### Actual behavior:

Each direct message needs to be clos

[2018-05-30 12:29] ToferC commented on #6878
Any progress on this issue or space for some help?

[2018-05-30 12:37] ToferC commented on #10915
Hi all. Just a note that we pulled this opportunity down to get the scoping and compensation right. Also looks like this should have been in issue #6878.

I've asked for an update on that issue and see what room/need there is to help out.

[2018-05-30 12:46] Superhearing commented on #1996
@geekgonecrazy but the a viewer would need an account and to login right?

[2018-05-30 13:35] DRON4eg opened #10949 "The text entered in Announcement is not displayed"
### Description:

The text entered in Announcement is not displayed

### Server Setup Information:
* Version of Rocket.Chat Server: 0.64.2
* Operating System: Ubuntu 16.04.4
* Deployment Method (snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enable
* Node Version: 8.9.4
* mongoDB Version: ?

### Steps to Reproduce:

1. Create an ad with any text
2. The text is n

[2018-05-30 14:00] MarcosSpessatto opened #10950 "[NEW] Add setting to control avatars cache time"
Add setting to control avatars cache time in admin panel.

[2018-05-30 14:07] GezimSejdiu opened #10951 "Top right icons for adding new users disappears"
### Description:
When you go to the Users form, the icons on the top right disappears and you are not able to add a new user. I found one workaround by searching for my user and then after you click on the user the icons appear and will allow you to add new users.
### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.0
* Operating System:  Ubuntu 16.04.3 LTS
* Deployment Method(snap

[2018-05-30 15:51] nimetu commented on #9791
I believe that adding `check(result.token, String);` to iframe_server.js will fix this one and also #9530

https://github.com/RocketChat/Rocket.Chat/blob/da6c2c0489e7916c22bfccc956b908c88ebaff86/packages/rocketchat-iframe-login/iframe_server.js#L3

[2018-05-30 15:53] phlegx opened #10952 "error-invalid-post-as-user updating an integration after username change"
### Description:

1. I have created an _Incoming WebHook Integration_.
2. After that I have changed the username `administrator` to `admin`.
3. After that I have changed some data on the _Incoming WebHook Integration_. Click on `SAVE CHANGES` shows me the error on top right: `error-invalid-post-as-user`

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0
* Operating System: Ubu

[2018-05-30 16:33] rneef183 opened #10953 "[INVESTIGATE] Android 7.x Users Unable to Use Rocket.Chat App"
### Description:

Our company recently updated its on-prem installation of Rocket.Chat to 0.64.1. Users were instructed to download and install the latest version of the Rocket Chat app (version 2.2.0) for Android and iOS. However, upon doing so and entering the URL, the message “An error has occurred while checking your server version, please try again” is pushed for mobile users with Android 7.x

[2018-05-30 16:49] ggazzo commented on #10944
its fixed on >= 0.65.1 any problem please open again :)

[2018-05-30 16:49] #10944 closed

[2018-05-30 16:51] viluon commented on #8022
@geekgonecrazy you seem to be ignoring a fundamental UX flaw in RocketChat:

[2018-05-30 17:09] vynmera commented on #10952
What username did you enter into the field? The username must exist.

[2018-05-30 17:51] renatobecker commented on #7282
Hi @puetzstef!
We are improving the Livechat API and we are adding new methods, as you can see here: #10918.
One of these methods is to allow you to set / change the visitor's name so you can do what you are looking for.
Please follow the Pull Request review process to know when this feature will be available.
Thanks.

[2018-05-30 18:13] andysavage commented on #854
SMF uses a pretty simple system - sends out a notice of the first reply to a topic, then won't send any more until after the user has visited it. That would save a lot of convoluted ifs?

[2018-05-30 19:08] phlegx commented on #10952
@vynmera I have updated the issue description...

[2018-05-30 19:30] geekgonecrazy commented on #8022
@viluon maybe a flaw.  But its also off topic for this issue.

We are looking at group mentions and other things of that nature.  As well as improving mentions overall.  But no plans to include highlights.  Because highlights are not mentions.

If you would like to open another issue regarding the UX flaw please feel free to.  But regarding the topic of conversation here I have addressed it.

[2018-05-30 19:49] vynmera commented on #10948
Where would the button for this be placed?

[2018-05-30 19:50] geekgonecrazy commented on #10708
@mohanadrefaai On most devices though when its delivered its basically read.

Mobile for instance.  When you see you have unreads in a DM.  You open the DM.  Those are delivered and a few seconds later they are read.

Same for desktop.

@RocketChat/core thoughts?

[2018-05-30 20:40] vynmera commented on #7961
When doing this, it would probably be best to change our current `Get Permissions` route as well..
`/api/v1/permissions` -> `/api/v1/permissions.list` (breaking)
and a new `/api/v1/permissions.update`

How should the data be laid out? As it is in Mongo, or a different setup (e.g. listing every role, with every permission as a boolean field)? Do we keep the current meta fields?
As for the breaking

[2018-05-30 21:20] simonv3 commented on #6483
I can confirm that I've set up an oauth provider (auth0) that logs in successfully but doesn't join an account even though the e-mail matches.

[2018-05-30 21:22] vynmera opened #10955 "[NEW] Right-click actions"
### Description:
Right now, right-clicking messages, channels, and other things does nothing. It would be a lot nicer UX to allow all elements that have tripledots to also allow rightclick.

Quick mockup:
![2018-05-30_23-18-43](https://user-images.githubusercontent.com/39674991/40748199-f2c8209e-645f-11e8-9512-58db9c4c0a65.png) ![2018-05-30_23-19-31](https://user-images.githubusercontent.com/39674

[2018-05-30 21:28] simonv3 commented on #8492
Did you all get merging of existing e-mail accounts working for this?

[2018-05-30 21:53] 707eric commented on #8492
As far as I know it works. I am using Custom Oauth. Under the scope field I have

openid profile email

The Username field I have left empty

[2018-05-30 21:55] graywolf336 commented on #10953
@rafaelks this is for the native mobile apps

[2018-05-30 21:58] graywolf336 commented on #10915
@ToferC Feel free to do it, as I do not believe anyone internally is working on the Slack bridge.

[2018-05-30 22:11] vynmera commented on #10952
@phlegx Hmmm, what happens if you add a new integration with the new username, does that work? I think you simply can't change the username after creating the hook right now, looking at the code.

[2018-05-30 22:57] rafaelks commented on #10953
@rneef183 The Android Native application works with Android 5.0+. Can you provide me the URL of your server please?

[2018-05-31 00:57] #9847 closed

[2018-05-31 01:39] hlehmann commented on #10866
In case `setGuestToken` or `setGuestEmail` is use, it could be useful to let the visitor start/continue a conversation even when agents are offline.

A mail could be sent to the guest if the agent respond when the guest is offline.

[2018-05-31 05:48] Stabatha opened #10959 "File Uploads Blurred"
### Description:

All images are blurred uploading them to a chatroom or direct message.

### Server Setup Information:

* Version of Rocket.Chat Server:   0.65.0
* Operating System:   CentOS 7.4
* Deployment Method(snap/docker/tar/etc):  Manual @ /opt
* Number of Running Instances:  1
* Node Version:  8.9.3
* mongoDB Version:  2.6.12

### Steps to Reproduce:

Attach image from computer

### Expec

[2018-05-31 05:56] geekgonecrazy commented on #1996
Not if you enable anonymous read

[2018-05-31 06:03] vynmera commented on #10959
Please update to 0.65.1, it should be fixed there.

[2018-05-31 06:05] alirezaimi opened #10960 "uploading file progress stuck and cancel button not work any more"
Thank you for support(https://github.com/RocketChat/Rocket.Chat/issues/10709),
In this bug report i did announce two different problem in one specific section of rocketchat, file uploading .
1- cancel button problem that stuck and not work
2- file uploading problem that some files uploaded successfully and some files not ! this part of log related to it :
May 09 11:24:22 sp2lnx1chat rocketchat-ser

[2018-05-31 06:07] Stabatha commented on #10959
Thanks!  will try now.

[2018-05-31 06:15] Stabatha commented on #10959
Yeap, fixed, thanks!   I'll go ahead and close this incident report now.

[2018-05-31 06:15] #10959 closed

[2018-05-31 06:37] hereiamji commented on #10043
Hello
on the latest 0.65.1 I have a problem with  customFields. I've added some and while trying to input some info in the custom fields catching an error:

[code]

Has anyone solved this problem?

[2018-05-31 06:51] misi commented on #10931
The problem is that mongodb don't support dot in key: https://stackoverflow.com/questions/12397118/mongodb-dot-in-key-name

[2018-05-31 06:53] phlegx commented on #10952
There is no reason to not allow _Post as_ username changes. Or did I miss something?

[2018-05-31 07:05] toughIQ commented on #10931
@misi so this happens since auth keys were moved from memory to mongo in v0.64.2.

[2018-05-31 07:14] misi commented on #10931
I have added a PR #10961 that works for me

[2018-05-31 08:58] jrichard8 commented on #9632
Version 0.64.2

WebRTC activated and dont have button to launch voice call. Whats wrong ?

[2018-05-31 10:33] Lawri-van-Buel commented on #10899
I can confirm #10934 prevents this issue. (it will require a double restart of rocketchat but thats fine)

[2018-05-31 10:49] anvlkv commented on #8251
this issue is pretty default. When your `iframe`'s  url changes it propagates to parent window history. If `.go()` back far enough you will get to rocket.chat login page and you're already authorized, so it redirects home. You can also `go` one more step back and that would be your intended back button action, but you have to know how many steps ago your `iframe` have loaded  and there's no way `f

[2018-05-31 10:49] yennor commented on #10742
yes, the call is (using curl in php):
https://example.com/api/v1/users.create
postfields:
email=Test%40test.de&username=test&name=test&password=test&requirePasswordChange=0&sendWelcomeMail=0

[2018-05-31 11:32] h4wkmoon commented on #10951
This goes for the custom emojis screen as well.

[2018-05-31 11:34] h4wkmoon commented on #10951
same with 0.65.1
But snaps seems to ok.

As the issue appears to be specific to Docker, I guess it's related to the docker image build process. maybe.

[2018-05-31 12:20] dennisverspuij commented on #4898
I agree with @msypes. When a user enables livechat during enabled office hours, and then the end of the hours are reached the user stays online for livechat, the hours setting do not seem to have any effect. Office days do however, when I disable the day the chat widget shows we're not online.

[2018-05-31 12:21] cdbessig commented on #4898
Hello,

Thank you for your email. Please note, I am out of the office from 5/25 - 6/2 and will return on Monday, June 4th, 2018. It should be assumed that I will have ZERO access to email and my responses will be delayed until the week of June 4th.  I assume it may take me a few days to catch up and respond to all emails, especially actionable ones.

If you require an immediate response, please re

[2018-05-31 13:47] ChessSpider commented on #10931
still no SAML unit tests eh 😞  👎 ..broken again

[2018-05-31 13:48] ear-dev commented on #7961
@vynmera I think many would be grateful to have permissions implemented in the API!!  That goes a long way toward automating and versioning configuration settings on a production RC server....

My opinion is that it would be ok to mark `/api/v1/permissions` as deprecated and to go with `permissions.list`,  but maybe others have an opinion too.

I'm not sure what you're thinking when you ask about

[2018-05-31 13:51] Sveer commented on #10530
Have the same issue. On some laptops audio record is working well, but on others we have silence in recorded file.
File only with header.
https://github.com/mattdiamond/Recorderjs lib working.

[2018-05-31 15:09] KickedABrick commented on #10606
This is a very big security issue and should be high priority. There are plenty of image proxies available to use, this one is built on NodeJS and is MIT license, https://github.com/jpmckinney/image-proxy

[2018-05-31 15:43] simonv3 commented on #6483
On further investigation, my issue was because I wasn't passing the `email` scope to the oauth provider, so we never got the e-mail in return.

[2018-05-31 15:56] vynmera commented on #10606
Even a simple implementation (custom URL replacement for image URLs) would be far better than the current. We have to keep link unfurls disabled, but even then people may post custom attachments and steal IPs.
Just a simple "URL Replacement for Image Links" would do a lot better than the current (e.g. you would enter "https://my.company.image.proxy/load/?%s" where %s would become the original URL)

[2018-05-31 16:28] andreapx commented on #10166
I have this problem too.
Any other solution rather than setting up a local email server?

[2018-05-31 16:33] hlehmann opened #10962 "livechat: internationalization api"
### Description:

I need to have texts depending on the main page locale.
Could it be possible to have `setLocale` for livechat messages (menu, close conversation...) and `setCustomTexts` for titles and other custom texts.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1

[2018-05-31 16:49] rneef183 commented on #10953
Sure, our server URL is https://chat.stratacache.com

Also, to clarify, we have 4 running instances as opposed to 1, my mistake. I've edited to reflect such.

[2018-05-31 17:46] geekgonecrazy commented on #7419
New version of caddy is out and in the newest release of the snap 0.65.1. hopefully the workaround will no longer be needed

[2018-05-31 18:59] szab100 opened #10963 "Refactor / Improve permissions / access control subsystem"
I really like this project and we are planning to start a closed community (paid) group chat service and would really really like to use Rocket.Chat as the chat platform.. However, it lacks a well organized channel permission / role-based access control subsystem, which makes us unable to use it.. I hope this will be improved soon!!

The main issue with rocket chat permissions is that it's an IRC-

[2018-05-31 19:45] miPlodder opened #10964 "Setting Up RocketChat on local device"
I want to set up RocketChat on my device (Fedora VMware). But when I run the command `meteor npm start` after as mentioned in the docs. It's shows some warning.

![screenshot 171](https://user-images.githubusercontent.com/22195621/40804502-1c996796-6539-11e8-982b-c71490c73984.png)
![screenshot 172](https://user-images.githubusercontent.com/22195621/40804504-1cdb4990-6539-11e8-9a0d-e6ab584193a1.png

[2018-05-31 20:28] geekgonecrazy commented on #10268
New version of the snap should be in stable channel with caddy 0.11.0 in it.  Please let me know if you guys still have the issue.

Going to go ahead and close this issue.

[2018-05-31 20:28] #10268 closed

[2018-05-31 20:33] geekgonecrazy commented on #8539
A new version of the snap was released with the newest caddy version.  Please give it a try and see if it solves your problems.

Going to go ahead and close this.  If it persists we can open it back up.

Thanks,

[2018-05-31 20:33] #8539 closed

[2018-05-31 21:43] vynmera commented on #10963
So, something like Discord's "channel overrides"?

[2018-05-31 21:44] vynmera commented on #10964
How long has it been going? The initial build may take a **very** long time depending on your system.

[2018-05-31 21:47] cinderblock commented on #9580
The exception is still happening on the latest version for me. It no longer seems to crash rocket.chat but I still see the exception during startup logs:

[code]

[2018-05-31 22:00] vynmera commented on #7961
@ear-dev That is probably the best. I'm working on implementing this now. I'll make `permissons.list` practically the same as the current `permissions`, and add a `permissions.update` that will look somewhat like this:

[code]
This'll update permisson_one and _two to be granted to the roles listed, and keeps all other roles intact.
It'll return the same as `permissons.list`.

Is that OK? Also, do

[2018-06-01 00:37] ura14h commented on #10951
custom_sound and custom_emoji are the same situation too. There may be others.
I seem that right side toolbars is empty when list isn't selected.
I am running version 0.65.1 without Docker.

[2018-06-01 00:41] cloudsandladders commented on #10959
Version of Rocket.Chat Server: 0.65.1
Operating System: Ubuntu 16.04
Deployment Method(snap/docker/tar/etc): Snap
Number of Running Instances: 1
Node Version: 8.9.3
mongoDB Version: 2.6.12

On desktop and browser, I am still having this issue, even with the new version, but it only happens on very large images (ie. 6000x4000).

In addition to being blurred, large photos do not scale down and there

[2018-06-01 02:03] geekgonecrazy commented on #10365
If you restart the server does it start working again?

[2018-06-01 02:31] earlmedina commented on #10925
I'm not sure if I'm crazy or if this is a related issue. I previously had a rocket.chat server set up and I _swear_  I was able to add custom emojis. With this recent release I'm not seeing the option to upload custom emojis anywhere. Am I missing something?

[2018-06-01 02:35] geekgonecrazy commented on #10964
Are you looking to develop or just run it?  If you want to run it please follow our docs: https://rocket.chat/docs in the installation section.

As to meteors slowness running in a VM i've often noticed its much slower.  Usually virtual disk speed is too slow

[2018-06-01 02:35] #10964 closed

[2018-06-01 02:37] geekgonecrazy commented on #10900
This seems to be related to the desktop app.  Please open an issue on: https://github.com/RocketChat/Rocket.Chat.Electron/issues or add to existing issue

[2018-06-01 02:38] geekgonecrazy commented on #10890
Your issue is highly conflicting...

You say snap and everything indicates snap... but you are trying to use meteor.

Meteor and our snap release do not go together.  Please choose one or the other.

[2018-06-01 02:38] #10890 closed

[2018-06-01 04:35] kazie commented on #10925
@earlmedina  When the "add custom emoji" menu dissapeared for regular users was for us due to this issue: https://github.com/RocketChat/Rocket.Chat/pull/10171 / https://github.com/RocketChat/Rocket.Chat/issues/9865
Which made the administration menu hidden for users, even if they had the special permission for adding emojis.

We did not have to do it through the backend either, but that issue is s

[2018-06-01 05:05] earlmedina commented on #10925
@kazie
Thanks for the response. I see - this is not quite what I'm running into? I'm signed in as an Admin, go to Custom Emoji and see nowhere an option to add a new emoji:

![screen](https://user-images.githubusercontent.com/29366220/40821944-85ff7c9a-651e-11e8-9142-60c1a2947101.png)

[2018-06-01 05:11] kazie commented on #10925
@earlmedina ah, for me it is some incredibly small "+" sign to the outmost right of the window. So that would have been about to the right of the rightmost part of the header that says "`Custom_emoji`".

If you don't have that "+" sign over there that would most probably be a separate bug not related to mine - but an hindrance of uploading custom emojis indeed.

[2018-06-01 05:11] maxdwit commented on #10951
@h4wkmoon I use snap 0.65.1 and also don't have an add Button for:
- Emoji
- Sound
- User
Last one seems to be important ;)

[2018-06-01 05:19] 24601 commented on #10635
@richardwlu - we are experiencing the same issue and trying to understand what is going on. It sure seems like a "warning" as @subesokun mentioned, but it's also killing the server, so, either the correlation with the warning and it dying is false or the warning isn't actually a warning and is causing the server to die...

Any further experience you have on this?

[2018-06-01 05:38] ura14h commented on #10732
I use 0.65.1 with sub directory. (e.g. /apps/chat/ )
To open a channel from the left side bar works fine. This link is /apps/chat/channel/general.
But to open a channel from directory page is fail. I seem URL in directory page is incorrect. This broken link is /apps/chat/apps/chat/channel/general.

[2018-06-01 05:46] geekgonecrazy commented on #9580
Perfect an exception that doesn't block startup is progress  🙂

[2018-06-01 05:48] earlmedina opened #10966 "V. 0.65.1 - can no longer add new Custom Emojis"
### Description:

At version 0.65.1, no longer see the "+" to add new custom emojis. The UI appears to be missing this and so it is not possible to add new custo emojis.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: CentOS 7, also Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): manual install on CentOS 7, snapd on Ubuntu
* Number of Running Inst

[2018-06-01 05:50] earlmedina commented on #10925
@kazie Thank you for confirming your workflow and expected behavior. Have logged issue  #10966 for version 0.65.1 accordingly. Seeing this on CentOS 7 (manual install) and Ubuntu 16.04 (snapd).

[2018-06-01 06:10] ura14h commented on #10966
I commented this issue at #10951

[2018-06-01 06:53] tctovsli commented on #10951
I had this issue with 0.65.0 too, built from source (not from pre-built docker image).

[2018-06-01 07:54] miPlodder commented on #10964
`SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})`

What does this means ?

[2018-06-01 07:57] vynmera commented on #10964
@miPlodder I get that too, and my Rocket.Chat builds fine. I believe it's simply an API for OS X, and isn't needed for any other platforms.

[2018-06-01 08:19] leoluk commented on #10900
Please re-open, it's a browser issue, not Electron.

[2018-06-01 08:34] richardt3 commented on #10944
Is this now causing preview images to be full sized.

[2018-06-01 09:21] TwizzyDizzy commented on #10966
@rocket-cat label add "type: bug"

Can confirm this on 0.65.1 (tar deployment via ansible). Fun fact though. If you click an existing custom emoji to see details, the + in the sidebar appears.

At least in my case.

Cheers
Thomas

[2018-06-01 09:29] andreapx commented on #5387
It doesn't work for me, should I enable the custom css somewhere?

[2018-06-01 09:35] h4wkmoon commented on #10951
Yep, same bug.
Unfortunately, I have no custom emoji to click on yet. But, It does work for users.

[2018-06-01 09:43] TwizzyDizzy commented on #10114
@rocket-cat close

Closing due to lack of feedback. If this is still an issue, please get back to me and I'll consider reopening based on the given information.

Cheers
Thomas

[2018-06-01 09:43] #10114 closed

[2018-06-01 09:48] #10966 closed

[2018-06-01 09:51] TwizzyDizzy commented on #10948
@rocket-cat label add "Feature: Request"

@jangmarker if you can, could you elaborate on how you envision this feature in the UI it would be great :)

Cheers
Thomas

[2018-06-01 09:52] TwizzyDizzy commented on #10938
Could you please add information about the browser versions? :)

Cheers & Thanks
Thomas

[2018-06-01 10:11] miPlodder commented on #10964
Apart from Node and Meteor, what else should be installed in my machine ? (I have not worked with web dev much)

[2018-06-01 11:59] vynmera commented on #10948
Just thought about it, maybe we could have it in the user overflow? (Where the away status is also set)

[2018-06-01 12:22] kaiiiiiiiii opened #10967 "[BUG] Cannot uninstall App in multi instance environment"
@graywolf336

### Description:

I've tried to uninstall my AppearCommandApp from our production environment, but it looks like it only happened for one instance. Every 4th reload I see that the app is uninstalled, but all the other times it's still visible. When I try to uninstall it a second time nothing happens at all (except being send to the top of the page).

Am I missing something?

![uninst

[2018-06-01 13:17] luciofm commented on #10953
@rneef183 this issue is due to a problem with the Intermediate Certificates for your backend
![screen shot 2018-06-01 at 10 10 53 am](https://user-images.githubusercontent.com/224255/40842449-4e091f4c-6584-11e8-90a5-32c5eb00c6ba.png)

Please refer to http://nginx.org/en/docs/http/configuring_https_servers.html#chains
https://www.godaddy.com/help/nginx-install-a-certificate-6722
http://mikegrouchy.

[2018-06-01 13:31] graywolf336 commented on #10953
Closing due to the above comment.

[2018-06-01 13:31] #10953 closed

[2018-06-01 13:33] graywolf336 commented on #10967
Yes, multi-instance needs a lot of work due to the instability of the server-to-server communication framework used inside of Rocket.Chat.

[2018-06-01 13:38] graywolf336 commented on #10635
@MarcosSpessatto can you look into this?

[2018-06-01 13:47] spaasis opened #10968 "Show @ when using Real Names"
### Description:

I think it would be better and more consistent to show the @ when mentioning people even when real names are used

### Server Setup Information:

* Version of Rocket.Chat Server:  0.65.1

### Steps to Reproduce:

1. Enable Real Names
2. Mention someone using @

### Expected behavior:

I would expect a similar behaviour than when Real Names are disabled, like
`@user.name` -> `@Rea

[2018-06-01 13:49] sewebster87 commented on #10953
Hi,

I manage this server and am wondering if you have more information about the intermediate cert not being trusted?  What tool did you use to find that the SSL was not trusted?

I ran the site through Qualys and HTBridge's SSL tools and both report the site is A+ and PCI DSS compliant, so it seems they are missing something that this tool you are using was able to pull up.

If you can let me kn

[2018-06-01 14:06] yooomark commented on #1352
@geekgonecrazy So is there a plan to support sandstorm on "Rocket.Chat+"?

[2018-06-01 14:07] ear-dev commented on #7961
@vynmera That looks good to me.  My only question is about setting permissions in bulk, i.e. sending a list of permissions to be updated vs. just allowing one permission at a time per each call to `permissions.update`.  Are there other examples in the API where one call will update many fields?  It may be fine, it just complicates the payload structure.  Maybe that's a non issue....

[2018-06-01 14:17] vynmera commented on #10968
One thing I did on my own server was add a background color to mentions (that aren't to you or all/here), so they look more like mentions.

[2018-06-01 14:42] simopaasisalo commented on #10968
@vynmera seems like a nice trick, mind posting the css? However I think that adding the consistent behaviour would be a better solution on the whole

[2018-06-01 14:43] kaiiiiiiiii commented on #9736
PR #10502 allows muting of @all and @here mentions on a per channel basis.

[2018-06-01 14:45] kaiiiiiiiii commented on #9674
Fixed in PR #9824.

[2018-06-01 15:00] richardwlu commented on #10635
@24601 The server doesn't die for us so I can't say the correlation of the warning and the server dying is always true as your case may be different.

[2018-06-01 15:03] filipedelimabrito opened #10969 "Unable to get the file list using REST API in some cases."
### Description:

When using our REST API to get the file list from a channel, sometimes the following message is show:
**Cannot destructure property `username` of 'undefined' or 'null'**

Note that in fact a bad request (400) is thrown and the API comes with the following result:
`{"success":false,"error":"Cannot destructure property `username` of 'undefined' or 'null'."}`

### Server Setup Infor

[2018-06-01 15:18] MarcosSpessatto commented on #10946
Closing this issue in favor of #7961.

[2018-06-01 15:18] #10946 closed

[2018-06-01 16:17] knokio commented on #2450
Is this working right now? I'm testing with the latest version (v0.65.1) and I can't override the channel defined in the webhook.

[2018-06-01 16:35] miPlodder commented on #10964
@vynmera  @geekgonecrazy What the rough estimate of time taken ? (10 minutes or more)

[2018-06-01 17:23] graywolf336 commented on #10968
I agree and there has been some discussion regarding this in the past, even a pull request if I'm not mistaken. #8041

[2018-06-01 17:38] 2E0PGS commented on #10268
Hi the service still will crash but it also appears port 443 is not being used:

NMAP:
[code]

CADDYFILE:
[code]
It seems to use port 8080 still once I run service xxx status on the caddy snap.

[2018-06-01 17:44] geekgonecrazy commented on #8038
Ran across this a few times now.  Push notifications stop going out.  Then reboot instance and suddenly they all go out.  Accompanying this you can see mongo errors where at one point even briefly it suffered an interrupt in connection.

[2018-06-01 18:35] ramjiplay opened #10972 "Login issue in rocketchat"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63
* Operating System: ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): Manual installation
* Number of Running Instances: 1
* DB Replicaset Oplog: no
* Node Version: v8.9.3
* mongoDB Version: db version v3.2.19

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

 Hi,
I have conf

[2018-06-01 18:59] vynmera commented on #10968
@simopaasisalo It's this code (sadly with hard-coded color):
[code]

It looks like this:
![2018-06-01_20-56-45](https://user-images.githubusercontent.com/39674991/40858381-6e63d552-65de-11e8-9598-59dd6ce175cc.png)

[2018-06-01 19:03] miPlodder commented on #10964
@vynmera @geekgonecrazy Can you take a look at the log file and help accordingly.
(https://notepad.pw/miplodder)

[2018-06-01 20:37] robertwessen commented on #10972
not a dev, but this sounds normal for RC default out of box settings.

Administration>LDAP>User Settings

What is your Search Size Limit set to?

[2018-06-01 21:16] vynmera commented on #10964
@miPlodder I'm not too sure, but can you try manually installing phantomjs like this? `meteor npm install phantomjs-prebuilt`

[2018-06-02 00:05] rafaelks commented on #10969
@MarcosSpessatto I just noticed that this is happening because some data is corrupted. If we limit the amount of results to `20` for example, it'll return just fine.

Also, let's add this to a hotfix release please.

[2018-06-02 00:12] HammyHavoc opened #10976 "Getting emails for every message when it isn't set to do so"
### Description:

Every user is getting emails for every message despite their configuration not being configured for this behaviour.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1
* Operating System: Ubuntu Server 4.13.0-43-generic
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: 4.13.0-43-gener

[2018-06-02 01:10] markwooff commented on #10703
This issue looks to have been fixed, thanks! Closing issue.

[2018-06-02 01:10] #10703 closed

[2018-06-02 02:13] possebon opened #10977 "Refused to display 'https://myfqdn/livechat' in a frame because it set 'X-Frame-Options' to 'deny'."
### Description:

I'm trying to use the LiveChat in my web application (OTRS) and the widget is not displayed. When I take a look on the Chrome Dev Tools console, I'm getting this error message:

Refused to display 'https://mydomain.com/livechat' in a frame because it set 'X-Frame-Options' to 'deny'.

The Rocket.Chat is installed on a different server of OTRS. I'm using HTTPS and this is configure

[2018-06-02 06:52] siberijah opened #10979 "Internal server error after adding custom fields"
### Description:

I've added some custom fields and while trying to save some info in it, cathing an error "Internal server error". Dowsn't matter if you are user or admin or trying to register, if you are trying to write something in the costom fields, you will see error.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.65.1 (latest by this date)
* Operating System: debian 9
* D

[2018-06-02 09:47] mahdikiani commented on #10255
I have the same problem in this configuration:
`➔|  Rocket.Chat Version: 0.65.1               |
➔ |       NodeJS Version: 8.11.1 - x64         |
➔ |             Platform: linux                |
➔ |         Process Port: 3000                 |
➔ |             Site URL: http://xxxxxxx:3000  |
➔ |     ReplicaSet OpLog: Enabled              |
➔ |          Commit Hash: 8349c36de0           |
➔ |

[2018-06-02 11:07] reza899 opened #10980 "Loading larg-sized Images"
### Description:
Our Rocket not work correctly after upgrading to 65.1 in **_loading image_**,
the problem most see in large-sized images,
this problem happens on old posts (before upgrading to 65.1)

### Server Setup Information:

* Version of Rocket.Chat Server:  0.65.1
* Operating System: Ubuntu 16.04 (4.4.0-87-generic)
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instance