[2015-10-18 17:18] maxlinux2000 commented on #1096
OK I understand the problem...
Rocket.chat.cordova don't support push messages, so no way to have a cordova custom app that can substitute whatsapp.

So, new strategy: 2 app!
One native with my custom rocket.chat
One in cordova with others stuffs.

But I never built a native app, so please tell me if these steps are corrects:

*In order to build my own rocket.chat app for android*

a) a local ubun

[2015-10-18 17:54] Tharnas commented on #1096
I'm not sure if I realy got you.
Why would you build 2 apps? One is enough.

I build mine like the following: (after I installed docker and probably git on a new clean machine)
[code]
(You will find the apk in /root/Rocket.Chat/build/android/appName_`date +"%Y-%m-%d_%H-%M"`.apk)
I'm not sure if you need the signing only if you want to publish it through play store or also to install it on the phon

[2015-10-18 18:19] Tharnas commented on #1096
By the way I'm not sure if you can build the latest version as there are currently some issues: https://github.com/RocketChat/Rocket.Chat/issues/1156

[2015-10-18 19:05] maxlinux2000 commented on #1096
TNX for the help!

before build it, I need to re-install my system from 0

My pc is a 64bit, but I'm using the 32bit version of ubuntu.... So
backup, backup and backup!!

I think I will need 2 day before to build the app. I hope that the bug
will be solved. :)

So, I will answer to this very interesting topic, asap.
Now reboot to new installation and reconfigure all my system :(

regards
MaX

On 1

[2015-10-18 19:30] Tharnas commented on #1096
You are welcome.
I'm pleased to help you out.

[2015-10-18 21:58] mhkeller commented on #978
Has anyone been using the heroku deploy method and running into issues? I just spun one up and can't set custom avatars.

[2015-10-19 04:27] liamdawson commented on #332
@graywolf336: I'd love to get my team trialling Rocket.Chat for business usage, is there any way I can give a hand?

[2015-10-19 04:28] liamdawson commented on #1141
@vjeux: I've created a fix (#1155), just waiting on a merge.

[2015-10-19 05:55] Dbzman commented on #978
I just tried it again on our docker environment. (Using this docker image: "https://hub.docker.com/r/rocketchat/rocket.chat/")
The problem is that $HOME is pointing to the none existing folder "/home/rocketchat" and I cannot find any folder which is accessible by the rocketchat user. (besides "/tmp/ufs" which also leads to crashes when I upload an avatar using this folder) If I mount a folder to t

[2015-10-19 09:06] #756 closed

[2015-10-19 09:06] #1058 closed

[2015-10-19 10:57] rodrigok commented on #1141
Fixed by #1155

[2015-10-19 10:57] #1141 closed

[2015-10-19 11:17] shrop opened #1163 "Is there a coding standards doc for Rocket.Chat?"
Just looking for Rocket.Chat coding standards doc so my team can contribute. Thanks!
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27518289-is-there-a-coding-standards-doc-for-rocket-chat?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-10-19 11:38] kakawait commented on #1163
Should create a more common document like `CONTRIBUTE.md` that cover coding style, processes, tricks and other useful things for developers.

:+1:

[2015-10-19 13:15] gmsecrieru commented on #1138
Not sure. @RocketChat/owners ?

[2015-10-19 14:16] geekgonecrazy commented on #1138
@gmsecrieru @liamdawson  check out: #544

I think it might be a good chance to start a discussion about this.

[2015-10-19 15:56] rodrigok commented on #1138
I think I can improve this using the same way that Slack does.

[2015-10-19 16:10] mhkeller commented on #1068
Is the idea that these could be configured on a per-channel basis still being considered?

[2015-10-19 16:27] teetrinkers commented on #1068
For now, my intention is to do notifications the same way as Slack does, including channel options. Right now, I'm waiting on feedback for my first pull request (see above) to see if the Rocket-Chat team thinks that this is the right direction. Also I cannot work on this full-time, so this might take a few weeks, unless other devs contribute.

[2015-10-19 17:04] gmsecrieru commented on #1163
Thanks for your interest! I think that haven't been started yet. Would you be willing to kick-off a document? There are lots of things we could standardise, maybe we could just start by tracking them.

[2015-10-19 17:06] kakawait commented on #1163
@gmsecrieru You/We can copy CONTRIBE.md from other famous project and adapt as base

[2015-10-19 17:08] royalaid commented on #978
Check to make sure your root_url is set.

[2015-10-19 17:13] gmsecrieru commented on #1126
I will close this one as we have a very complete proposal running on #1068 as mentioned.

[2015-10-19 17:13] #1126 closed

[2015-10-19 17:14] geekgonecrazy opened #1166 "Alerting of past channel joins / user mentions"
There seems to be a case where you are renotified of mentions.  I had my phone going off randomly through out the day a couple of days ago.  Then today on channel join someone had it sit there and ding for several minutes straight.  I can only assume it was going through and alerting of every past mention in the channel.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](

[2015-10-19 17:15] #1114 closed

[2015-10-19 17:16] gmsecrieru commented on #1110
@miscs can you confirm this is still an issue to you?

[2015-10-19 17:20] geekgonecrazy commented on #1138
@rodrigok i'm not familiar with how slack handles this.  How do they do it?

[2015-10-19 17:51] stefanlegg commented on #1138
Created a pr that solves this: #1167

[2015-10-19 17:52] stefanlegg commented on #1139
Created a pr that adds this: #1167 and solves #1138

[2015-10-19 18:11] tanc opened #1168 "Avatar initials oddities with inconsistencies across browsers"
I have rocket.chat open in the OS X app as well as in Safari and Chrome on OS X. In the browsers I can see the correct avatars for people whereas in the app some users have missing graphical avatars or mixed up default avatars. For instance for someone called Maria I see 'FI' (for Finn) instead of 'MA' which it should be.

Any idea what is causing this and how to resolve it? I'm on a self hosted v

[2015-10-19 18:13] storrgie opened #1169 "Image resources when using client certificates"
I have an instance where I'm using ssl certificate based authentication. I'm using the poor-mans equivalent, which is to self issue those certificates as files. Based on discussion with @geekgonecrazy it appears that rocket.chat checks the file url to make sure it has valid ssl (and you can enable self signed certificates), but when using client certificates this check fails. Images uploaded to ch

[2015-10-19 18:14] tanc commented on #1168
Actually, I've just fired it up in Chrome and I'm seeing a different Avatar for user Maria. So on the desktop app I see 'FI' for Maria, on Chrome I'm seeing 'AA' for Maria, and on Safari I'm seeing the correct 'MA' for Maria.

[2015-10-19 19:12] rodrigok commented on #1138
@geekgonecrazy @stefanlegg please see here https://github.com/RocketChat/Rocket.Chat/pull/1170

[2015-10-19 20:24] graywolf336 commented on #332
@liamdawson: Message me on Rocket.Chat demo server and we can discuss details :smile:

[2015-10-19 20:32] geekgonecrazy commented on #1169
I think before dismissing as wont-fix (I hate that label).  Lets discuss how this could be resolved a little cleaner.  If it can be resolved.

So you're manually issuing the client certificate and if the client does not have this then it can't complete the ssl connection.

So a user couldn't even use the chat platform at all with out this certificate.

@RocketChat/owners should we even be checking

[2015-10-19 20:35] storrgie commented on #1169
Correct. In this case I issue the certificate, then create

[2015-10-19 20:40] geekgonecrazy commented on #1169
In addition... It actually seems like a waste of resources for us to be checking links for uploaded files.  Since we do know the type.  Occasionally it actually doesn't even come back with an image preview.  So maybe this would be a performance /  UI/ UX improvement anyways?

[2015-10-19 20:57] storrgie commented on #1169
Sorry, hit the key on accident.

I'm wondering if this might also make it so avatars wont render.

[2015-10-19 21:44] danielgomezrico opened #1171 "meteor iOS without styles"
after running `./build-ios-sh` it prints:

[code]

What does that mean? When I run the project that it created the view is completely without styles and scroll and is unusable.

How can I build the iOS meteor version right?

![img_2740](https://cloud.githubusercontent.com/assets/76348/10592272/a8b7ca92-7680-11e5-939e-280726fda113.PNG)

[2015-10-20 01:34] emcguinness commented on #1169
I have not use client certs myself and will likely not have time to try them until Friday but I have spent a bit of time looking into certs to get my self signed one going without having to use the allow all self signed cert flag(which it now is). For that I found [this guide](https://github.com/coolaj86/node-ssl-root-cas#important-try-this-first) had some good info, ignore the tool he provides an

[2015-10-20 03:41] macdonst commented on #1156
@solo999 you'll need to update your Android SDK as per:

https://github.com/phonegap/phonegap-plugin-push#compiling

[2015-10-20 03:58] geekgonecrazy commented on #1169
@storrgie I don't think those pass through the same preview check.  So might be related, but not the same.

[2015-10-20 05:13] Tharnas commented on #1171
For me the style is also broken in android.

[2015-10-20 05:15] Tharnas commented on #1171
Duplicated https://github.com/RocketChat/Rocket.Chat/issues/1106

[2015-10-20 05:25] geekgonecrazy commented on #1171
@danielgomezrico yes please join in on the discussion over on #1106 might as well combine our efforts.  :+1:

[2015-10-20 05:25] #1171 closed

[2015-10-20 05:30] geekgonecrazy commented on #1163
Any good examples of very well done contribute.md?

I think this is a very needed dicussion.  We do need to standardize the coding style.

We shouldn't let this prevent us, but this could be effected by #1015

[2015-10-20 06:29] Dbzman commented on #978
@mhkeller
Do you see anything in the logs when you set an avatar?

[2015-10-20 06:51] MRYingLEE opened #1172 "A feature to embed Rock.Chat into a web Page, or a floating window"
So Rocket.Chat may not affect a normal web surf.

For example, users are discussing the same web page.

Of course, Rocket.Chat should be in a minimized mode to save space.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27542506-a-feature-to-embed-rock-chat-into-a-web-page-or-a-floating-window?utm_campaign=plugin&utm_content=tracker%2

[2015-10-20 11:08] whitebeatle opened #1175 "Slack like integrations"
Features:

1. Ability to add/edit and delete events for a service (like github, trello) to be integrated like slack.
2. Custom templates for different events
3. integration to add messages to channels, direct messages

Integrations to start with?
1. <a href="https://github.com/RocketChat/Rocket.Chat/issues/1176">Github</a>
2. <a href="https://github.com/RocketChat/Rocket.Chat/issues/1177">Trello</

[2015-10-20 11:12] whitebeatle opened #1176 "Github integration"
Integration implementation specifics can be discussed here
https://github.com/RocketChat/Rocket.Chat/issues/1175

[2015-10-20 11:12] whitebeatle opened #1177 "Trello integration"
Integration implementation specifics can be discussed here
https://github.com/RocketChat/Rocket.Chat/issues/1175

[2015-10-20 12:14] kakawait commented on #1163
@geekgonecrazy yeah when I spoke about CONTRIBUTE.md is for structure/format only! You should write your own standard.

ATM I don't have sample CONTRIBUTE.md but I will check on top project (https://github.com/trending)!

[2015-10-20 12:23] storrgie commented on #1172
![wat](http://i.ytimg.com/vi/hEfa0C897H4/maxresdefault.jpg)

[2015-10-20 12:26] kakawait commented on #1163
My 2 cents datamining I found Angular CONTRIBUTING.md file pretty complete (but maybe too many) https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md

[2015-10-20 12:31] gmsecrieru commented on #1172
@MRYingLEE Are you looking for [Livechat](https://rocket.chat/livechat-demo.html) ?

[2015-10-20 13:00] gmsecrieru commented on #277
Available since #1122

[2015-10-20 13:01] gmsecrieru commented on #617
Available since #1122

[2015-10-20 13:01] #617 closed

[2015-10-20 13:01] MRYingLEE commented on #1172
LiveChat is usful, but sometimes I want to discuss the same webpage with colleagues. In other words, I do want the same page showing when we chat.

You may find a case in Google Docs: http://a2.files.readwrite.com/image/upload/c_fit,cs_srgb,w_620/MTIyNDM3NjY2NzIwNDgxODk0.png

[2015-10-20 13:23] shrop commented on #1163
Some helpful links:

[2015-10-20 13:24] MyPod commented on #1172
there's discourse which should already do something like that (although on bottom, iirc). Integration as shown in the picture probably needs the other service to be aware of rocketchat too

[2015-10-20 13:48] shrop commented on #1163
Here are a few examples:
https://github.com/blog/1184-contributing-guidelines
https://github.com/atom/atom/blob/master/CONTRIBUTING.md
https://github.com/puppetlabs/puppet/blob/master/CONTRIBUTING.md
Not a github style, but complete for a project: https://www.drupal.org/contribute

I am happy to help contribute to this task!

[2015-10-20 13:48] shrop commented on #1163
Also, https://github.com/meteor/meteor/wiki/Meteor-Style-Guide :)

[2015-10-20 13:50] kormic commented on #1065
I am sorry for the delay!!!  Yes this is resolved!!!

[2015-10-20 13:56] gmsecrieru commented on #1163
:+1: this is a great contribution!

[2015-10-20 14:24] gmsecrieru commented on #1148
I think this is a duplicate of #577

[2015-10-20 14:36] geekgonecrazy commented on #1148
@gmsecrieru you're right we need to maybe rename that one so people can find it maybe?

[2015-10-20 14:48] gmsecrieru commented on #1148
I will copy this title.

@schepely could you please follow up on #577 ?

[2015-10-20 14:48] #1148 closed

[2015-10-20 14:54] gmsecrieru commented on #651
Could not reproduce this one, I wonder if we have disabled orientation switching.

[2015-10-20 15:00] gmsecrieru opened #1179 "Embedded content disappear when message is edited"
![edit-link](https://cloud.githubusercontent.com/assets/190883/10611367/8cd2539c-772a-11e5-9099-bc74f9efaba2.gif)

[2015-10-20 15:02] tacman opened #1180 "Uploaded image URLs should open browser instead of downloaded"
This is likely a system overload or configuration issue, as I believe the code already supports this.

When I upload an image, it doesn't display inline, and when I go to the link, it attempts to download the png rather than display it.  The picture is at

https://demo.rocket.chat/ufs/rocketchat_uploads/8hXZQfD34nXHKA8fH
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](h

[2015-10-20 15:13] crazyshot commented on #1172
Just want to mention that second feature mentioned in rocket.chat features list is HELPDESK CHAT, it kind of require on-page popup, like livechat.

[2015-10-20 15:30] mikebranski commented on #271
Echoing @tkowalczyk, I think something like [NativeScript](https://www.nativescript.org/) (Xamarin, et al) could really shine here. I've personally used NativeScript in its beta days and loved it, and it's only gotten better.

[2015-10-20 15:51] gmsecrieru commented on #736
[ifvisible.js](https://github.com/serkanyersen/ifvisible.js) looks interesting, do you folks think it could be of any use?

[2015-10-20 16:07] zuigon commented on #271
I think [react-native](https://facebook.github.io/react-native/) with [redux](https://github.com/rackt/redux) would be more suitable.

[2015-10-20 16:09] gmsecrieru commented on #817
Closing for lack of activity. @Builder942014 Please report back should the need arise.

[2015-10-20 16:09] #817 closed

[2015-10-20 16:18] gmsecrieru commented on #838
Fixed on [e87b795](https://github.com/RocketChat/Rocket.Chat/commit/e87b7959eb034255553331240cd1346a165fec1e)

[2015-10-20 16:18] #838 closed

[2015-10-20 16:39] gmsecrieru commented on #906
Related to #661

[2015-10-20 18:35] jonbaer commented on #1180
You may need to adjust your firewall settings (because on links your server will go out + fetch it after upload) ... ie:

iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -p tcp -m tcp -m state --state NEW --dport 80 -j ACCEPT
iptables -A OUTPUT -p tcp -m tcp -m state --state NEW --dport 443 -j ACC

[2015-10-20 18:41] mhurwi commented on #658
We are in favor of 'multi-organization'.  We use slack this way-- each team is a different customer organization that we manage. These different organizations do not talk to each other.

'sales team' and 'marketing team' seem like people that belong to the same organization. They can use private channels to stay separate, but they can still direct message whoever they want and also join in the pub

[2015-10-20 18:54] jonbaer commented on #1108
I have noticed that the hubot I am running when using the Google images script tends to fail on some URLs ...

[2015-10-20 19:02] tkowalczyk commented on #271
@mikebranski yes I also saw NativeScript ;) but in my opinion Xamarin will be better here we have access to the all of the functionalities of the hardware (as well as written native on iOS and Android), also there is a similar tool called [Fuse](https://www.fusetools.com/) but I haven't used it yet.

[2015-10-20 19:16] CrystalMethod commented on #1108
Do you mean
[code]
? I get this error since I pulled the latest changes yesterday or the day before. But I'm not sure if this is caused by these changes.

Does ``bot map me`` or ``bot ship it`` work for you? Embedding images/maps/media is meant here.

[2015-10-20 20:26] geekgonecrazy commented on #658
@mhurwi right that makes sense that you would have the option to separate out to a multi-org if you want isolation between teams.

@engelgabriel I'm going to go ahead and change this title so we its a little more clear.

[2015-10-21 08:13] mdix commented on #1068
I think there should be at least a quickfix for that one. It could not be worse than not being notified while on the most important channel.

| Event        | Desktop notification           | Icon badge  |
| ------------- |:-------------:| -----:|
| direct message, window has focus, channel is selected      | no | no |

[2015-10-21 08:48] kakawait commented on #1090
Close to finish after PR #1161 I just have to support Oembed API to support group

[2015-10-21 08:54] kakawait commented on #1044
Good point last day I pushed #1160 and when I started the PR I was thinking to used package testing approach. But I saw that is not used on RocketChat, I rollback to application testing approach.

May be a good candidate for package testing approach?

[2015-10-21 08:54] kakawait commented on #306
#1160 my small contrib :)

[2015-10-21 08:55] kakawait commented on #1179
@gmsecrieru do you know if it's regression?

[2015-10-21 09:11] #1140 closed

[2015-10-21 09:21] #936 closed

[2015-10-21 09:30] tanc opened #1185 "Provide instructions on how to use different emoji"
I noticed in commit cb6e85adc46d3c4eca7329f1320e62f9fe31bbf4 that its possible to add another emoji package other than the default one. Can you provide instructions on how to do so?

[2015-10-21 10:04] teetrinkers commented on #1068
My Pull-Request fixes that.

[2015-10-21 10:07] mdix commented on #1068
Yay, so all we can do is wait I guess...

[2015-10-21 12:56] gmsecrieru commented on #1044
@kakawait I have some work related to this on [standalone-package-testing](https://github.com/RocketChat/Rocket.Chat/tree/standalone-package-testing) branch. I was trying to set up our CI build tests for both packages and app, but I could only make it work for packages -- see #1045.

If you take a look at the latest [build info](https://travis-ci.org/RocketChat/Rocket.Chat/builds/86495483) from th

[2015-10-21 12:56] kakawait opened #1187 "Ability to hide embed media"
Embed media can catch our attention or pollute chat.

Could be cool to have a way to hide media like in Slack

![screen shot 2015-10-21 at 14 55 30](https://cloud.githubusercontent.com/assets/275609/10637092/d47bd6d0-7803-11e5-95ab-50d83b758eb0.png)

![screen shot 2015-10-21 at 14 55 37](https://cloud.githubusercontent.com/assets/275609/10637095/d828c31a-7803-11e5-8dfa-58e8376dab8a.png)

<bountyso

[2015-10-21 13:26] gmsecrieru commented on #1185
Based on [this comments](https://github.com/RocketChat/Rocket.Chat/blob/cb6e85adc46d3c4eca7329f1320e62f9fe31bbf4/packages/rocketchat-emojione/rocketchat.coffee) I think you just need to create your own package following this same convention and replace `rocketchat:emojione` on `.meteor/packages`. But @marceloschmidt knows best :D

[2015-10-21 15:05] gmsecrieru commented on #1179
Besides a minor bug on the URL mapping, looks like it was (un)intentionally omitted on [24f2463](https://github.com/RocketChat/Rocket.Chat/commit/24f24633a3af8fc44bff22ee6b2e7c2ee48d2cf6#diff-6dfeaedea78dd5c254f4eaa04c22d0a4L21) -- @sampaiodiego can you confirm?

Proposed fix on #1188

[2015-10-21 15:17] sampaiodiego commented on #1179
Oh, I think I forgot to fix that later that commit. Shame on me =)

[2015-10-21 16:03] emcguinness opened #1189 "Audio Recordings"
We know have the very useful option to restrict file uploads by type but this now causes issues with the button to record a message. While it records after hitting stop nothing happens as the default filter is set to images only. While good to see the filter works it is not the best user experience. Thought it would be good to decide on a way best to solve it.

First option would be to produce an

[2015-10-21 16:06] gmsecrieru commented on #1189
Great catch! Thanks @emcguinness !

Feel free to jump in with the PR and let me know if I can help you with anything, as I have worked on the upload filters.

[2015-10-21 16:09] gmsecrieru commented on #1187
:+1:

[2015-10-21 16:13] gmsecrieru commented on #1175
@whitebeatle Is this a possible duplicate for #202?

[2015-10-21 16:15] gmsecrieru commented on #1156
Is this fixed by updating Android SDK? Should we close this issue?

[2015-10-21 16:17] gmsecrieru commented on #1139
Fixed on #1170

[2015-10-21 16:17] #1139 closed

[2015-10-21 16:18] gmsecrieru commented on #1180
@tacman could you please provide reproducible steps for this issue?

[2015-10-21 16:23] macdonst commented on #1156
@gmsecrieru Yes, if you update to Android Support Repository 20 or greater and Android Support Library 23 or greater then this error will go away.

[2015-10-21 16:26] tacman commented on #1180
It must have been a network issue, because now it works as expected.

Related feature request, though.  I'd prefer that clicking on

https://demo.rocket.chat/ufs/rocketchat_uploads/8hXZQfD34nXHKA8fH

display the image in the browser, rather than prompting me to download it.

[2015-10-21 16:28] flashguy22 opened #1190 "LDAP implementation"
First, great stuff. We love Rocket.Chat.

We have our implementation running and hooked it up to our LDAP. Works great.
The thing is I would like to disable registration of new users which I can't figure out how. I don't want anyone not in our LDAP to be able to use the chat.
Additionally when a user changes his username or password on the My Account - Profile Page, a new user is created and the L

[2015-10-21 16:33] gmsecrieru commented on #1180
In that case I will update the title to reflect your more-than-welcome suggestion for image downloads. Thanks!

[2015-10-21 16:45] gmsecrieru commented on #1190
Thanks for the feedback! For what it's worth, disabling registration was requested on #195 -- maybe we should use this issue to track something else.

[2015-10-21 17:30] sunnipaul commented on #1093
I think just the opposite actions to  addUserToRoom is fine.
In many cases, there are admins/coordinators in room who can kick off  members. Slash command plus UI is more fit

[2015-10-21 18:56] Tharnas commented on #1156
Is this fixed in meteor12androidbuilder? ( https://github.com/RocketChat/Rocket.Chat/wiki/How-to-Build-Rocket.Chat-for-Android )

[2015-10-21 20:36] gabrielcsapo opened #1193 "Upload any type of file"
Is there an issue that introduces the ability to add any type of file / be able to specify possible upload types from the admin panel. Right now the default is /images, if there are other options could someone point to where those options are in the wiki?

[2015-10-21 20:40] gmsecrieru commented on #1193
You should be able to setup whatever you with under Admin Settings: logged with an admin user, click on your avatar > Administration > File Upload. You should see something like this:

![screen shot 2015-10-21 at 18 39 04](https://cloud.githubusercontent.com/assets/190883/10649460/107feab2-7823-11e5-8263-913a89440b42.png)

At this very moment you need to restart application after changing, due to

[2015-10-21 20:42] gabrielcsapo commented on #1193
Is there a way to make this more accessible from someone who doesn't know which media types a certain file might belong to?

[2015-10-21 20:46] gabrielcsapo commented on #1193
Having something like this on that page to help users figure out which to add would be useful (http://www.sitepoint.com/web-foundations/mime-types-complete-list/ )

[2015-10-21 20:50] jascott opened #1194 "Outbound http and https requests from server to honor http_proxy env variables (oembed)"
After discussion in Rocket.Chat#support and some investigation, it was concluded that links to images and pages were not embedding in the chat channel because the http_proxy environment variables were not being honored.

The solution we discussed was to make oembed detect the http_proxy variables and use them if they exist.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2015-10-21 21:15] gmsecrieru commented on #1193
I thought you would just leave the field empty, but it turns out there were a little more changes needed. I just pushed those changes to #1192 , and as soon as it is merged you should be able to allow all types of file.

Thanks for the feedback!

[2015-10-21 21:19] gabrielcsapo commented on #1193
:+1: Glad I can help.

[2015-10-21 21:37] gmsecrieru commented on #1193
Jump in, we have tons of things to do and a great community! :) Feel free to reach us on the [demo server](https://demo.rocket.chat).

[2015-10-21 21:41] emcguinness commented on #1190
I have a PR in place for disabling username changes [here](https://github.com/RocketChat/Rocket.Chat/pull/1158) for that exact reason. To be honest I did not think of the password disabling(changing it did nothing) but could quickly extend the change to include disabling of password changes with minimal effort.

[2015-10-21 21:42] gabrielcsapo commented on #1193
@gmsecrieru Thanks!

[2015-10-21 21:43] gmsecrieru commented on #1190
I would say go for it! :+1:

[2015-10-21 22:14] IQ2022 commented on #1033
any ETA on this issue?

[2015-10-22 00:59] Sing-Li commented on #1194
Hints for Digital Ocean Hacktoberfest bounty hunters.

http://stackoverflow.com/questions/3862813/how-can-i-use-an-http-proxy-with-node-js-http-client

https://github.com/RocketChat/Rocket.Chat/blob/master/packages/rocketchat-oembed/server/server.coffee#L12

[2015-10-22 02:12] gabrielcsapo opened #1195 "Linting Tasks (code consistency)"
There is currently no grunt or command line task for linting

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27598970-linting-tasks-code-consistency?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_cont

[2015-10-22 04:04] allanregistos commented on #1193
Hi,

after doing the update docker pull rocketchat/rocket.chat
then docker-compose up
I am still at ancient version:
v0.6.1853
# Meteor packages used by this project, one per line.
#
# 'meteor add' and 'meteor remove' will edit this file for you,
# but you can also edit it by hand.

What's wrong with my update?
Additional info:
directory: ~/Rocket.Chat

Was it because of user permissions?

Thanks,

[2015-10-22 05:43] allanregistos commented on #271
Hi,
Could we use something like free pascal for true native cross platform Rocket.Chat client?
I hope we can get help from this someone from the lazarus/pascal community.

[2015-10-22 05:45] hameno commented on #1066
So, how do I change a user to be admin when this happened? I'm the docker image...

[2015-10-22 05:48] hameno opened #1196 "Admins from LDAP group"
It should be possible to make users that are member of a configured group to be admin, this should prevent #1066
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27601602-admins-from-ldap-group?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2015-10-22 06:00] hameno opened #1197 "Use email and name from LDAP for user"
I just logged into rocketchat using my ldap account and notices that neither my name nor email was configured. I also could not find any way to set the email in the ui.

[2015-10-22 06:52] Dbzman commented on #1066
@hameno
If you're locked out you can change your user to be an admin in mongo db directly.

[2015-10-22 06:56] Dbzman commented on #1197
We noticed this, too. This is especially a problem for us. If we had an email set for the user we could fall back to gravatar for avatars instead of using the currently unstable GridFS or FileSystem storage.

[2015-10-22 07:08] hameno commented on #1066
Yeah, figured that out. Wasn't easy or documented though, the wiki article is also outdated, as it shows an "admin" field while I had to change the roles.

[2015-10-22 07:56] solo999 commented on #1156
@macdonst
my Android Support Repository version is 24.0.0 and Android Support Library version is 23.1.0

@Tharnas
I have built latest Rocket.Chat Android from docker image meteor12androidbuilder and got the same error.

@gmsecrieru
I am not sure that it fixed by updating to Android Support Repository 20 or greater and Android Support Library 23. At least I did not managed to get rid of that error

[2015-10-22 08:36] #1179 closed

[2015-10-22 08:41] #975 closed

[2015-10-22 09:32] marceloschmidt commented on #1195
Could you please elaborate on that? What's it used for, and how would it be used? Thanks.

[2015-10-22 09:34] marceloschmidt commented on #1197
We need someone with experience with LDAP to take on this one. If you are this guy, please let us know! Thanks

[2015-10-22 09:38] hameno commented on #1197
Okay, what kind of infos do you need? I probably won't be able to code this, but I can surely help with LDAP.

For this you would need to be able to configure both the email field and fullname field which is used in LDAP.

Most common ones:
mail
cn / displayName

Then you would just access those fields on the user object, which you should already have for login purposes, right?

[2015-10-22 09:40] hameno commented on #1110
We switched to the docker deployment type.

[2015-10-22 10:06] solo999 commented on #1156
Update:
if I add Crosswalk to meteor12androidbuilder before build, then there is no mBuilder.setColor(iconColor); error, but still it can not build apk:

    root@80ec6c347a5d:/home/Rocket.Chat# meteor build --server http://demo.rocket.chat ./build

    WARNING: The output directory is under your source tree.

    => Errors executing Cordova commands:

    While building Cordova app for platform A

[2015-10-22 11:20] shrop commented on #1163
Thanks @gmsecrieru. I am starting a Quip document that can be a start and get in to a PR as a start. Contributing.md can easily be added to and changed from there, so we just need a solid start that the project leads agree fits Rocket.Chat coding and overall philosophy.

[2015-10-22 11:29] kakawait commented on #1194
Duplicate https://github.com/RocketChat/Rocket.Chat/issues/851 where I explain other possible solution

[2015-10-22 11:49] gmsecrieru commented on #1193
@allanregistos could you please post this in a related issue or open a new one?

[2015-10-22 11:50] emcguinness commented on #1190
My PR just got merged which adds a setting under accounts, general to disable change of username. Due to my incompetence this does actually disable password change too for now. I have most of the code in place to correct that to only disable username and add a new setting to disable password change separately. Should be submitting a PR later tonight unless I screw up again :)

[2015-10-22 11:52] Sing-Li commented on #1156
@solo999  For meteor12androidbuilder,  please make sure you have all pre-reqs here, including the (large) machine and free disk requirements:

https://github.com/RocketChat/Rocket.Chat/wiki/How-to-Build-Rocket.Chat-for-Android

ALSO... please make 100% sure that you follow the readme here word-for-word...

https://hub.docker.com/r/rocketchat/meteor12androidbuilder/

In general, Meteor add, removal

[2015-10-22 12:02] gmsecrieru commented on #1110
In that case I will close this one. Feel free to report back should the need arise :)

[2015-10-22 12:02] #1110 closed

[2015-10-22 12:16] gmsecrieru commented on #1066
Thanks for pointing that out, @hameno . Could you please update the mentioned wiki article in order to reflect up-to-date, reproducible steps?

[2015-10-22 12:17] rodrigok commented on #1040
Closed by https://github.com/RocketChat/Rocket.Chat/pull/1198

[2015-10-22 12:17] #1040 closed

[2015-10-22 12:31] solo999 commented on #1156
@Sing-Li

I have Mac Book Air 8Gb and 100Gb SSD hard disk free.
I have followed https://hub.docker.com/r/rocketchat/meteor12androidbuilder/ readme 100% 2 times (with or without Crosswalk). First time the result was the same as my first post, 2nd time - as in my previous post.
I have run build 3rd time with

    raix:push*  downgraded from 3.0.1 to 2.6.13-rc.1

and the it run smoothly without any e

[2015-10-22 12:35] gmsecrieru commented on #1156
Maybe we should revert this, then. I believe 2.6.13-rc.1 was created by @rodrigok and we didn't test 3.x properly before updating. Maybe we should just do away with 3.x.

cc @engelgabriel

[2015-10-22 12:44] Sing-Li commented on #1156
@solo999. Thanks for working this out with us. Your effort is most appreciated.

I have spent over a week to encapsulate the new android build environment. The builder will soon be part of our CI/CD pipeline (once we get a powerful server to do it in parallel).

[2015-10-22 12:44] marceloschmidt commented on #1175
Yes, duplicate!

[2015-10-22 12:44] #1175 closed

[2015-10-22 12:44] marceloschmidt commented on #1176
Duplicate of #202

[2015-10-22 12:44] #1176 closed

[2015-10-22 12:45] marceloschmidt commented on #1177
Duplicate of #202

[2015-10-22 12:45] #1177 closed

[2015-10-22 12:52] marceloschmidt commented on #1150
I have just tested this, and it seems to be working. A few things to be observed, though:
1. Make sure that after you select and upload your file, you click on "Use uploaded file".
2. Make sure you respect the rate-limit for changing avatars. If you don't, you'll probably get a message like this:
![image](https://cloud.githubusercontent.com/assets/1986378/10665555/512fbdae-78cc-11e5-83f0-0a53f73dc

[2015-10-22 13:31] macdonst commented on #1156
If you don't see the `setColor` method in `NotificationCompat.Builder` then it means you are not picking up the latest version of the Android Support Library. It's also possible that another part of this app is including an older version of android-support-v13.jar.

[2015-10-22 13:32] Sing-Li commented on #1175
@marceloschmidt @gmsecrieru -  from my understanding,  @whitebeatle *already* have an implementation that he wants us to comment on.

@whitebeatle -  please let us know if this is the case, and where the branch might be (GitHub URL) ... we can definitely assign the task #202 to you - and start the discussion!

[2015-10-22 13:36] Sing-Li commented on #202
@whitebeatle please detail your proposed plan-of-implementation, or add a link to your GitHub work in progress - thanks!   We can start the discussion here once we hear back from you.

[2015-10-22 13:43] mdix commented on #1150
@marceloschmidt We'd be very happy if you'd ask us questions instead of closing the issue. We definitely have this issue. We're writing software on our own, so we at least know a tiny bit of what we're talking about. We definitely have the issue that we can't properly upload avatars. We tried deleting caches, we tried with the app, we checked the mongodb and stuff.

I made a video for you. Cache d

[2015-10-22 14:15] #1101 closed

[2015-10-22 14:34] acidicX opened #1204 "Firefox OS support (manifest.webapp)"
Hi there,

I've added a manifest.webapp so that you can "install" (add icon to homescreen) the webapp on Firefox OS devices (#1203). Just point the Firefox to https://wherever-you-deployed.tld/manifest.webapp and hit install. This way you have a fullscreen view available, which is great because all current FxOS devices are rather small and the screen space is very limited.

There is one issue thou

[2015-10-22 15:36] crazyshot opened #1206 "Feature request: Autologin"
The idea is for integration of rocket chat with anything else.
So you register in that other system, send the user email and in the email together with that system's information there would be a special link to login to rocket chat and immediately start talking.
And for that you would need the following minimum:
1. Create user by that system through server-to-server API to rocketchat
2. Generate s

[2015-10-22 16:20] marceloschmidt commented on #1150
Oh, sorry about that, then... I've tested it locally and it worked fine, so now I'll run a few more tests and see why it might have broken for you.

[2015-10-22 16:32] marceloschmidt commented on #1180
Is this an issue? Uploaded image files show a preview and if you click on it it will open  as a "popup" thing... if you click the actual link it will download it. That's by design.

[2015-10-22 16:36] gmsecrieru commented on #1180
Yeah that's much of the conversation that is running on #1192 - For now I think this is not going to be supported.

[2015-10-22 16:39] sunnipaul commented on #713
@steedos It's would be great.  Anyone want to do it?

[2015-10-22 16:51] Theaxiom opened #1209 "Ability to have "Display Name" which is different from username."
This is especially helpful if you are utilizing a corporate LDAP/Active Directory which is setting your username to some obscure alphanumeric combination.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27616256-ability-to-have-display-name-which-is-different-from-username?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=

[2015-10-22 16:53] johnhug commented on #1209
+1

[2015-10-22 16:58] pioneer903 commented on #1209
+1 please

[2015-10-22 17:01] yonkeltron commented on #1209
+1 :+1:

[2015-10-22 17:44] Theaxiom opened #1210 "Ability to disable username changes"
This is useful if you are utilizing LDAP and would like to prevent people from changing their usernames, which could cause issues.

[2015-10-22 17:54] Dbzman commented on #1150
Thank you @marceloschmidt for investigating that further, we really appreciate that! :)
We also saw that some users have the problem that their avatars get saved to the database with the "_id" "ObjectId(someHash)". The users which don't have the problem have the "_id" "firstName.lastName.jgp" for example. We are using LDAP.

[2015-10-22 17:57] graywolf336 commented on #1210
#1158 was merged a few hours ago which adds this.

[2015-10-22 18:01] graywolf336 commented on #1209
Would the display name only be for display or would there be any additional uses for it?

[2015-10-22 18:34] Sing-Li commented on #851
Closing this one instead of #1194  - hopefully some Digital Ocean hackers will pick it up and add a fix soon.

[2015-10-22 18:34] #851 closed

[2015-10-22 18:37] #1210 closed

[2015-10-22 18:39] geekgonecrazy commented on #1210
@Theaxiom let me know if that doesn't solve and we can reopen.

[2015-10-22 18:41] blaskovicz commented on #824
:+1: on this feature

[2015-10-22 18:41] graywolf336 commented on #1209
Right now when you register, not sure about ldap, you set your name. Thereafter there was no way to actually change your name and so it was kind of useless. I just opened a pull request, #1211, which adds a field to the account profile where you can change that.

I'm wondering if there should be an option per user or site wide which sets whether the username or the *(real)*name is used on the mess

[2015-10-22 19:34] gabrielcsapo commented on #1195
@marceloschmidt This is just to help with code standards and to be added to the pull request builder.

[2015-10-22 19:34] gabrielcsapo commented on #1195
@marceloschmidt http://eslint.org

[2015-10-22 20:02] geekgonecrazy opened #1213 "New Messages shows up you get a message in another channel"
I keep seeing this, i'm not 100% sure on the circumstances.  But it'll show the new messages pop up at the bottom in the current channel when there is no new message.  I can only assume its showing up from another channel.

[2015-10-22 20:38] gmsecrieru opened #1214 "Add proper support for right-to-left languages"
For [example](https://css-tricks.com/almanac/properties/d/direction/):
![screen shot 2015-10-22 at 18 33 47](https://cloud.githubusercontent.com/assets/190883/10677597/24be143a-78ec-11e5-9fa5-0b36df1dd868.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27621967-add-proper-support-for-right-to-left-languages?utm_campaign=plugin&u

[2015-10-22 20:40] blaskovicz commented on #232
:+1: for this feature, especially for pulling the email into the user account once a bind has completed.

[2015-10-22 21:01] blaskovicz commented on #978
I was able to get the avatar upload working with the following settings

[code]

[2015-10-22 21:42] Dbzman commented on #978
@blaskovicz
I tried it with the docker container again using your settings. Only Safari currently reverts back to the initials. Probably the fix from @MuhClaren works better than I thought because I always used Safari which seems to have caching issues here.

I also have to find a writable folder which can be used. (I don't like to use "/tmp") I guess in the Dockerfile such a folder should be crea

[2015-10-22 22:19] sammcj commented on #533
Any update on this?

[2015-10-22 22:52] pschonder commented on #1106
@engelgabriel , @rodrigok: Are there any ideas to fix this issue or is it fixed already?

[2015-10-22 22:58] gmsecrieru commented on #1106
I think we have something related to themes merged. Are you still experiencing isses?

[2015-10-23 01:58] liuliming2008 commented on #658
hi @joaocarloscabral and @engelgabriel:
If do ti at Rocket.Chat/packages/rocketchat-lib/server/models/_Base.coffee, can not support one user create or join mutiple organizations like slack, right?

[2015-10-23 05:42] whitebeatle commented on #1175
@marceloschmidt  @gmsecrieru  @Sing-Li
Sorry am busy at work. I will share the github url over the weekend as i need to make some changes. Till then i will layout the details of my implementation.
Sadly i dont think my implementation will be compatible with other slack integrations as (#202) suggested. But i will be happy to re implement them the proper way.

[2015-10-23 06:04] Dbzman commented on #978
Again I tried it with the docker container.
FileSystem seems to reliably store avatars and delete them. The only issue I have is:
After resetting the avatar I have to open the image directly to get a non-cached version. (Even Force-Reload multiple times does not help; affects Safari and Chrome so far)
And as soon as I mount the folder to my host system the folder is owned by root again and I canno

[2015-10-23 06:31] whitebeatle commented on #1175
<b>Implementation</b>

<b>Services</b>
<i>rocketchat_service</i>
These hold the services currently implemented by the app. The tokens and secrets can be set via the administration> accounts.

<b>Attributes</b>:
name, caption, desc, icon, slug, createdAt<br>

<b>Integration</b>
<i>rocketchat_integration</i>
These hold the integrations for the above services

<b>Attributes</b>:
service: { _id, name,

[2015-10-23 06:35] whitebeatle commented on #202
I have detailed them <a href="https://github.com/RocketChat/Rocket.Chat/issues/1175#issuecomment-150488531">here</a>

[2015-10-23 06:40] sunnipaul opened #1217 "New messages indicator pop out unexpectedly when tab bar is opened"
It pops out when opening a sliding in a tab from the right panel which shrinks the width of the message list area.

[2015-10-23 08:03] flashguy22 commented on #763
Unfortunately I can't get the inline image preview.
![bildschirmfoto 2015-10-23 um 10 03 04](https://cloud.githubusercontent.com/assets/1381617/10687418/4a68d4d2-796d-11e5-9c79-68ba85003d17.png)
We did empty the database. Is there any way to enable this again. restarting the server didn't work.

[2015-10-23 08:54] rodrigok opened #1218 "Support oEmbed protocol"
http://oembed.com/

from https://github.com/RocketChat/Rocket.Chat/pull/1216

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27633613-support-oembed-protocol?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin

[2015-10-23 10:18] flashguy22 opened #1219 "Not getting inline image previews"
When posting an image file I don't get the inline preview.
Checking in the database I can see that in rocketchat_oembed_cache meta and headers property are null. Any Ideas?

[2015-10-23 11:31] emcguinness commented on #1190
Looks like my new [PR](https://github.com/RocketChat/Rocket.Chat/pull/1215) got merged, this fixes my last failed one so with the new build you now should have 2 settings (Under accounts, general) that control disabling of username/password.

Adding a setting to control the place holder text for the login form would not take much work, for now though you could use the login terms section under lay

[2015-10-23 11:37] emcguinness commented on #1219
This is often caused by certificate issues from what I have seen, are you serving over SSL? If so and you have not already tried it there is a setting to allow invalid self signed certs under the general settings page. Set that to true and try a new upload and see if it helps. If not it could be worth describing your certificate set up. Can't guarantee to help but more information is always good.

[2015-10-23 11:56] flashguy22 commented on #1219
I have tried allowing self signed certs but it didn't make any changes. It was working until we did a db dump and started from scratch as we had a corrupted user we couldn't remove.

[2015-10-23 12:31] flashguy22 commented on #1219
tail -f /var/log/rocket.chat/*

shows this during file upload:

{ '0':
{ _id: '6kvLCx6CvpzAWJDyG',
name: 'linuxhaus_lihas.gif',
size: 1685,
type: 'image/gif',
rid: 'GENERAL',
complete: true,
uploading: false,
store: 'rocketchat_uploads',
extension: 'gif',
userId: '55vaMZtwYiLYYdusW',
uploadedAt: Fri Oct 23 2015 14:25:13 GMT+0200 (CEST),
url: 'https://chat.phoenixdesign.com/ufs/rocketchat_uploads/6

[2015-10-23 12:38] rodrigok commented on #1204
@acidicX it is working if you request directly to the application, now we are using the NGINX to responde to static files reading them from the disk in our demo server.

@engelgabriel is changing this in the NGINX to fix this in our demo server too.

[2015-10-23 13:39] gmsecrieru commented on #1217
@sunnipaul Could you please provide steps to reproduce this or maybe a gif/screenshot of the error? I tried to follow what you mentioned but could not reproduce.

[2015-10-23 13:43] gmsecrieru commented on #1219
@flashguy22 could you please look into #1194 to make sure that is not related to your current environment setup?

[2015-10-23 13:52] flashguy22 commented on #1219
@gmsecrieru No, we don't have a outbound proxy. I can access the instance without any proxy.

[2015-10-23 13:54] gmsecrieru commented on #1219
Okay just wanted to make sure. Thanks!

[2015-10-23 13:56] flashguy22 commented on #1219
no worries, appreciate your help. Just figured out if I post a link to an external image e.g. http://www.golem.de/1510/117048-108203-i_rc.jpg I get a inline preview. I'm getting really confused...

[2015-10-23 13:58] gmsecrieru commented on #1219
I was just about to mention that if I try to reference your instance's image in the [Demo Server](https://demo.rocket.chat) it also works:

![screen shot 2015-10-23 at 11 56 34](https://cloud.githubusercontent.com/assets/190883/10694488/2a961c40-797d-11e5-97b2-62d04002408b.png)

While embedding URLs, our component generates an HTTP request to identify which kind of content is that so we can embed

[2015-10-23 14:13] blaskovicz commented on #232
Doesn't not pulling the email also break any emailing settings (ie no users will get emailed)?

[2015-10-23 14:13] gmsecrieru commented on #1193
Closed by #1192

[2015-10-23 14:13] #1193 closed

[2015-10-23 14:14] flashguy22 commented on #1219
I'm a happy camper now. Posting the link to an external image file helped us find the problem.
Name resolving was set according to the wiki article in /etc/hosts to 127.0.0.1 chat.phoenixdesign.com.
Imagepreview tries to load uploaded image. Looks for it at chat.phoenixdesign.com:443.
As we modified name resolving this is 127.0.0.1:443.

But the node server runs on 127.0.0.1:3000
chat.phoenixdesig

[2015-10-23 14:25] blaskovicz opened #1221 "Switching Channels Sometimes Causes Message UI to Overlap"
Today, when I first loaded our #general channel and then switched to a private group, the existing chat in the chat pane was overlapped with the new chat from the new channel (without clearing the previous chat messages).

I haven't been able to reproduce this  reliably, but I have seen it happen to me at least 3 times.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2015-10-23 14:30] blaskovicz opened #1222 "Initials-Derrived-Icons Sometimes Uses Wrong Initials"
A few of us using  _RocketChat_ have noticed that sometimes, a person's initials will be incorrect.

We have been changing some avatars and renaming a few accounts lately, so perhaps it's related? Some of our usernames start with _da_, so it seems like _RocketChat_ is getting confused.

In chat, I see:
![image](https://cloud.githubusercontent.com/assets/10687433/10695216/9e9b9c8a-7970-11e5-8ebb-64

[2015-10-23 14:41] Megatronic79 commented on #1197
Yeah thats right, using the same information passed at logon you could indeed get:

displayName = Users first name and surname
sAMAccountName = Username
mail = Exchange Mail address (for AD)
sn = Surname
givenName = FirstName

[2015-10-23 14:44] gmsecrieru commented on #1222
Might be related to #1168

[2015-10-23 14:45] Megatronic79 commented on #1197
depending on your enviroment (Active Directory Corporate for instance)
You may also want things like:
description = Job Title
telephoneNumber = Mobile
physicalDeliveryOfficeName = Office location
co = Country

etc..

[2015-10-23 14:51] rodrigok commented on #232
@blaskovicz yes, but we don't have email notifications yet.

[2015-10-23 14:53] Megatronic79 commented on #1197
rough example:
ldapsearch -H ldap://ldapserver:389 -x -D "somedomain\proxyuser" -W -b "CN=#name,OU=Users,OU=location,DC=somedomain,DC=com" -s sub -a always -z 1000 "(countryCode=826)" "mail" "displayName" "sn" "co" "givenName" "sAMAccountName" "physicalDeliveryOfficeName" "description" "objectClass"

[2015-10-23 15:02] blaskovicz commented on #1222
Note that I just experienced this after creating a channel, joining it, and then attempting to invite someone to it via the `/invite` command:

![image](https://cloud.githubusercontent.com/assets/10687433/10696405/9521c990-7975-11e5-9664-acc95f6b3ad9.png)

[2015-10-23 15:03] blaskovicz commented on #1222
I'm using chrome 46.0.2490.71

[2015-10-23 15:14] flashguy22 opened #1224 "File Security with Session"
Is it possible to make uploaded files only available to people logged in to rocket.chat? We want to be able to share confidential data and right now all urls are public.

[2015-10-23 15:24] graywolf336 commented on #1224
Duplicate of #724..

[2015-10-23 15:26] gmsecrieru commented on #1224
I am working on this but got a few roadblock.

[2015-10-23 15:26] #1224 closed

[2015-10-23 16:44] mhkeller commented on #978
I'm using heroku deploy now with `FileSystem` and `/var/www/rocket.chat/uploads/avatar/` as the path. Uploads work, but similar to the above, they don't persist for the user on refresh.

[2015-10-23 16:52] Theaxiom commented on #1209
@graywolf336 Thank you. :) I think you should be able to reference the display-name and it will auto-complete to the username when doing an @search in chat.

[2015-10-23 16:54] Theaxiom commented on #1071
This could be closed because it is able to accomplish with hubot.

[2015-10-23 16:54] #1071 closed

[2015-10-23 16:56] Theaxiom commented on #195
This is a critical issue if you are managing accounts via LDAP, is there anyone who can focus on completing this? We are running Rocket.Chat in a corporate environment and they will not let it pass through security approval if we are not able to manage the accounts strictly via LDAP.

[2015-10-23 16:59] Theaxiom commented on #1190
Awesome, thanks!

[2015-10-23 17:00] graywolf336 commented on #1209
@Theaxiom I think it currently does search on the display-name (real name, name) when you go to mention someone.

[2015-10-23 17:04] yonkeltron commented on #195
Agreed that this is a must-have feature for users in corporate environments and beyond.

[2015-10-23 17:28] engelgabriel commented on #533
We finished to isolate all DB calls into a package, and now it is helping with the multi tenant support. Once that's done, will jump back into this issue with MDG to get the work done.

[2015-10-23 17:35] engelgabriel commented on #658
@liuliming2008 We will do it in a way to allow a user to join multiple organizations... or I didn't understand you question...

[2015-10-23 17:41] Theaxiom commented on #1221
This has happened to me on occasion as well, I am using Chrome.

[2015-10-23 17:42] Theaxiom commented on #1218
Thank you for brining this up. :)

[2015-10-23 17:44] Theaxiom commented on #1209
@graywolf336 You are absolutely correct, I believe it should be possible to show display names in channel instead of usernames. How feasible is this?

[2015-10-23 17:56] graywolf336 commented on #1209
@Theaxiom Great question, I have not looked into that. I don't imagine it being extremely difficult though.

[2015-10-23 18:01] Theaxiom opened #1226 "Auto-subscribe to #general when first logging in with LDAP"
Currently, when you first log in with LDAP, you are not subscribed to any channels. Users should be auto-subscribed to #general just as with standard registration.

[2015-10-23 18:05] gmsecrieru commented on #1226
I think LDAP needs a label :)

[2015-10-23 18:17] mhkeller commented on #1050
This is still happening now using the heroku deploy process. It is sometimes fixed when you hide and re-add the room but not always. Sometimes hiding + re-adding works in combination with a refresh or restart of the electron app.

[2015-10-23 18:23] pioneer903 commented on #1226
Agreed. +1

[2015-10-23 18:23] graywolf336 opened #1227 "Duplicate key error"
While doing my import from Slack I ran into this issue and it occurred several times.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27650235-duplicate-key-error?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_cam

[2015-10-23 18:25] pioneer903 commented on #195
(thumb)

[2015-10-23 19:08] graywolf336 commented on #332
Just a status update, I've got channels, users, and messages importing. Currently working on the special message types and importing files.

![2015-10-23_14-03-05](https://cloud.githubusercontent.com/assets/850391/10702444/6260b722-798f-11e5-9d2e-7d861c530492.png)

[2015-10-23 19:32] Tharnas commented on #1106
For me it's still like in the initial post (2efecc79a5291eb92b8568e27c035bec85ea6970)

[2015-10-23 19:48] flashguy22 commented on #1190
Thanks @emcguinness. Great work!

[2015-10-23 20:55] blaskovicz opened #1228 "Better `Admin >> Rooms` Hover/Click Styles"
Could the `admin >> rooms >> <room name>` links be updated to `cursor: pointer` on hover at the very least? It wasn't immediately obvious to me that these were clickable.

![image](https://cloud.githubusercontent.com/assets/10687433/10704682/8b84729e-79a6-11e5-8075-35ad9be5aea9.png)

I can try to submit a pull request for this if I have time.

[2015-10-23 21:00] karmacoma commented on #1228
Hi,

I submitted a pull request already which has already been merged.

Please see: https://github.com/RocketChat/Rocket.Chat/pull/1205

[2015-10-23 21:02] mhkeller opened #1229 "When switching channels, text superimposes on eachother"
I can email you a screenshot but the chats appear on top of one another. The channel you are going into remains scrollable while the one you just left is static.

[2015-10-23 22:24] gmsecrieru commented on #1228
Fixed on #1205

[2015-10-23 22:24] #1228 closed

[2015-10-23 22:59] pschonder commented on #1106
I can confirm that the bug is fixed when running locally on my dev machine with the ***meteor*** command. When running with the **pm2** config on my server, the app doesn't load any stylesheets.

[2015-10-24 01:09] engelgabriel commented on #1106
Are you 100% certain that you are running the latest version? Did you do a
'meteor build' after your 'hit pull' ?

--
Sent from Mobile

[2015-10-24 02:02] geekgonecrazy commented on #332
:+1: this is awesome!

[2015-10-24 02:04] geekgonecrazy commented on #1180
If we added zoom to the preview or an option to show full size, then this wouldn't be an issue at all.

[2015-10-24 02:07] geekgonecrazy commented on #1229
Duplicate of #1221

[2015-10-24 02:09] #1229 closed

[2015-10-24 02:33] geekgonecrazy commented on #1227
Interesting... I wonder is this error happening every time someone posts a link that has already been sent before?

[2015-10-24 02:38] sunnipaul commented on #1222
That's what I've experienced recently. on Chrome for windows Version 46.0.2490.71 m

[2015-10-24 02:49] sunnipaul commented on #1217
@rodrigok  I found the current master branch have changed it's behavior of displaying new message when the list is full.  It will auto-scroll to bottom.   The bug I caught is based on previous commit ( serveral days ago, on master branch).  It won't auto-scroll but display a "New messages" indicator.

I now can't reproduce it either.  I should have made gif picture for it.

[2015-10-24 02:59] sunnipaul commented on #1213
That happened to me too.

[2015-10-24 04:26] graywolf336 commented on #1227
I'm not sure myself, just happens quite a bit when doing my import and
sending messages to let it run the full course.

On Fri, Oct 23, 2015, 9:34 PM Aaron Ogle <notifications@github.com> wrote:

[2015-10-24 07:18] pschonder commented on #1106
I used the Wiki article and checked out the master branch with THW lastest commits.

https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-to-UBUNTU#3-download-rocketchat

[2015-10-24 07:30] Tharnas commented on #1106
I got the latest to build the app. Do i also need the latest for the server?

[2015-10-24 09:44] liuliming2008 commented on #658
@engelgabriel I see you said "Lets implement that using the new abstraction layer at
Rocket.Chat/packages/rocketchat-lib/server/models/_Base.coffee",  I think this cloud be not the way to allow a user to join multiple organizations.
You now do it in another way, and I have no question.
thanks

[2015-10-24 10:09] teetrinkers commented on #1068
#1116 is merged!

[2015-10-24 10:12] Dbzman commented on #1068
@teetrinkers
So amazing, thank you very much! We will test this on monday. :+1:

[2015-10-24 10:12] engelgabriel commented on #1068
It is merge indeed! :+1: Thanks for the help!

I believe I should close this issue now :)

[2015-10-24 10:12] #1068 closed

[2015-10-24 10:35] rodrigok commented on #1106
@Tharnas yes you need the latest version of server too

[2015-10-24 10:50] engelgabriel commented on #332
@graywolf336 you are awesome!!!!

[2015-10-24 11:05] engelgabriel commented on #1106
Are your deployments on public URLs we can see so we can try to understand better what is wrong?

[2015-10-24 11:31] Tharnas commented on #1106
Ok, sorry. In this case i will test it with the latest from github (currently just running latest docker image).
In case i still run into issues i will provide you access.

[2015-10-24 12:30] gmsecrieru opened #1231 "Unable to leave room"
![leave](https://cloud.githubusercontent.com/assets/190883/10710459/36521706-7a3a-11e5-8735-b6a14e6d4e3b.gif)

[2015-10-24 13:32] ninja- commented on #1197
displayName should be downloaded once while e-mail/e-mail should be updated every time you login

[2015-10-24 13:39] #1231 closed

[2015-10-24 14:01] engelgabriel commented on #1217
Hi @sunnipaul

We still have the "New messages" indicator, it should no auto-scroll for new messages if you are not at the bottom.

![image](https://cloud.githubusercontent.com/assets/1000217/10710785/714d324a-7a68-11e5-9e8e-5d9b8366880a.png)

[2015-10-24 14:01] flashguy22 opened #1233 "Background Color Text Input"
Could someone please be so kind and change the text input background-color from the static blue to @primary-background-color in /packages/rocketchat-theme/assets/stylesheets/utils/_colors.import.less in line 441. This makes it dynamic which I think it should be.

    .input-line {
		input[type='text'],
		input[type='password'],
		select {
			border-color: @tertiary-font-color;
			background-color:

[2015-10-24 14:12] engelgabriel commented on #1233
OK!

[2015-10-24 14:27] Sing-Li opened #1234 "Create an npm module for Rocket.Chat install"
Make this part of the build process, publish it to the npm repository, and versioning along with other artifacts.

[2015-10-24 14:55] rodrigok commented on #1233
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/3b618e96eb1059d923fce2cf793e8441b6b317a4

[2015-10-24 14:55] #1233 closed

[2015-10-24 15:37] #1219 closed

[2015-10-24 16:12] #1226 closed

[2015-10-24 16:58] Theaxiom commented on #1226
Thank you!

[2015-10-24 16:59] Theaxiom commented on #1068
You guys are rock stars!

[2015-10-24 17:46] engelgabriel commented on #1234
Good idea!

[2015-10-24 17:58] gmsecrieru commented on #1234
Or a setup wizard, maybe?

[2015-10-24 18:55] gmsecrieru commented on #1197
Could you please review #1236 and provide feedback on your particular needs? We certainly can improve this/make it more dynamic, but it's a start.

Thanks!

[2015-10-24 19:22] artpolikarpov opened #1237 "Share performance metrics"
Hi there! Great work!

Can you share the perf metrics? It is very intersting, how RC handle the load. How many connected clients is OK for a single instance? Is there a limits to scale? What are the bottlenecks and so on...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27669507-share-performance-metrics?utm_campaign=plugin&utm_cont

[2015-10-24 21:43] engelgabriel commented on #1175
@whitebeatle that all sounds awesome. Do you have a working version that we can see?

[2015-10-24 23:44] liamdawson commented on #953
I'm leaving this one at this time, btw.

[2015-10-25 04:06] artisin commented on #658
I have not had the time to sit down and really look at RocketChat's code base but would a implementation that leverage minimongo for latency compensation be a better solution? Correct me if I'm wrong but if we implement a solution of that sort it would grant us a bit more flexibility in terms of privileges and roles without making a potentially expensive server call.

[2015-10-25 08:28] Sing-Li commented on #658
Please elaborate.  Interesting idea. Are you suggesting 'client side' only multi-teams?

[2015-10-25 08:31] Sing-Li commented on #1237
Due to the incredibly diverse environments and ecosystems that RC tends to run on.  We would love to have someone coordinating the collections of such metrics.  Might you be able to help?

[2015-10-25 10:41] engelgabriel commented on #658
@artisin Meteor apps use minimongo for latency compensation as default. Can you elaborate?

[2015-10-25 10:45] artpolikarpov commented on #1237
I will be happy to help. But how?

[2015-10-25 11:06] flashguy22 commented on #724
Is there any progress on this issue as it is crucial to our implementation? I tried disabling file upload in admin settings but with no effect. Still able to upload files when set to false..

[2015-10-25 12:06] nebulade commented on #1197
Not sure if this belongs to that issue and if it even possibly solves that, but currently if one supports ldap login with both username (eg. sAMAccountName) and mail, logging in once with username and then with email, results in **two** distinct accounts. I guess the actual mapping ID should be configurable, and as a default setting "sAMAccountName" (that would allow correct mappings even if a use

[2015-10-25 12:35] Tharnas commented on #1106
I tried it now with the latest version (7a96a70a016a4e6c19978bb160463542c588b75d) and it's still the same.
I depolyed the version to an test environment with new database on: https://mathiasjutz.com:8080
In the general Channel you will find a link for the apk.

[2015-10-25 13:45] engelgabriel commented on #1222
Did you try cleaning the cache of your browser?

[2015-10-25 13:47] engelgabriel commented on #1168
Did you try cleaning the cache of your browsers? Are you using any CDN on reverse proxy?

[2015-10-25 13:47] engelgabriel commented on #1168
Probably related to #1222

[2015-10-25 13:51] engelgabriel commented on #1221
It used to happen when the user had a short connection problem, and the load old messages process brakes. Can you take a look at the console log when that happens and send a copy to us?

[2015-10-25 13:53] engelgabriel commented on #1218
Is this now done?

[2015-10-25 13:54] engelgabriel commented on #1214
@shahar3012 can you still help us with that?

[2015-10-25 13:54] maxlinux2000 opened #1240 "How to speed up rocket.chat?"
Hi, I have inserted in a iframe rocket.chat Cordova in my app, but the first load of the chat is very slow.
My web server is a VPS with two 2GHz processors, 4Gb RAM with SSD drive. Other websites on the same server (3 wordpress, 2 phpbb3) run fast.

I think that rocket.chat is for the moment slow, because I'm starting it in development mode. In fact my address with port 3000.

Actually i do this.

[2015-10-25 13:55] engelgabriel commented on #1217
May be the same problem as #1213

[2015-10-25 13:56] engelgabriel commented on #1213
I'll  close the #1217 as it seems to be a duplication.

[2015-10-25 13:56] #1217 closed

[2015-10-25 14:02] engelgabriel commented on #1240
You need actually use the build tool. Just using the `meteor` command is just for development mode, and it is much slower.

Please follow:
https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker

Or one of the other Deployment option on our Wiki.

[2015-10-25 14:02] #1240 closed

[2015-10-25 14:02] kakawait commented on #1218
Nop I'm currently working on it. Wait PR (that I will be linked to this issue)

[2015-10-25 14:09] engelgabriel commented on #1209
This is a very tricky one, and we may have other old issue about the same feature.

The big thing here is: performance and scalability. Our data model is denormalized in favor of really high performance with low CPU and Memory usage. So we don't have the real names available on every message, as we have the username copied.

But we do understand that in small team, with less than 1k users, we coul

[2015-10-25 14:09] engelgabriel commented on #1218
OK! Cool!

Sorry for asking, I was just curious if someone forgot the issue open by mistake :)

[2015-10-25 14:12] maxlinux2000 commented on #1096
Hi all,
I'm coming back after rebuild from zero, my develop laptop with ubuntu 64bit.

During these day I've tried to build the chat in docker, with success, but I have a big problem:

I need to integrate with a Iframe the chat in my cordova app.
I have altrady do this work, but now is rising again the on topic problem:

HOW TO add the push notifications (in Cordova)?

I'm search a plugin and this

[2015-10-25 14:27] kakawait commented on #1090
@engelgabriel but you could close this one

[2015-10-25 14:29] Tharnas commented on #1096
Welcome back :-)

with you can run the following command to see the output of the server:
[code]

When the client registers at the server you will see something like this:
[code]
I think the client registers always after you installed the app and start it or log in. Not sure.

[2015-10-25 15:29] #1090 closed

[2015-10-25 16:10] shrop commented on #1163
@gmsecrieru 2 tabs for indentions is a Rocket.Chat style I can add to the doc?

[2015-10-25 16:14] gmsecrieru commented on #1163
I would say so.

[2015-10-25 16:15] shrop commented on #1163
Formatting standards like this may be helpful: https://github.com/polarmobile/coffeescript-style-guide

[2015-10-25 17:12] acidicX commented on #1204
OK, so far the demo server still answers with ````Content-Type: application/octet-stream````
@engelgabriel did you add it to the nginx config?
Also, is nginx included in the Docker container or does it only use meteor-webapp? Otherwise all Docker users are left out by this solution.

[2015-10-25 17:32] kakawait commented on #1163
It's my 2 cents point of view but when working with community we should create a standard documentation and **above all** use tools like linter (#1195), coding style checker to ensure new PR respect standard.

[2015-10-25 17:50] gmsecrieru commented on #1163
+1

[2015-10-25 17:56] maxlinux2000 commented on #1026
Hi
I have same problem in ubuntu 14.04 64bit

# mongo --help | grep "version:"
MongoDB shell version: 3.0.7

# cat /etc/hosts
127.0.0.1	localhost
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters
# Auto-generated hostname. Please do not remove this comment.
xxx.xxx.xxx.xxx MY-REAL.IP-ADDERESS.ORG MY-REAL
127.0.0.1 chat.myrealdoman.org chat

then:
hostnamectl s

[2015-10-25 18:04] gmsecrieru commented on #1026
I have seen `replSet = xyz` in a few setups. Could you please try that instead of `replicaSet` or `replSetName`?

[2015-10-25 18:10] maxlinux2000 commented on #1026
It still resit me!!

cat /etc/mongod.conf  | grep rep
#replication:
#replicaSet=001-rs
#replSetName:  "001-rs"
#replicaSet=001-rs
replicaSet = xyz
root@chat:~#
root@chat:~# mongo
MongoDB shell version: 3.0.7
connecting to: test
2015-10-25T19:09:56.942+0100 W NETWORK  Failed to connect to 127.0.0.1:27017, reason: errno:111 Connection refused
2015-10-25T19:09:56.943+0100 E QUERY    Error: couldn't c

[2015-10-25 18:14] gmsecrieru commented on #1026
Not `replicaSet`, `replSet`! :)

[2015-10-25 18:19] maxlinux2000 commented on #1026
no... doesn't works for me

#replicaSet=001-rs
#replSetName:  "001-rs"
#replicaSet=001-rs
#replicaSet = xyz
replSet = 001-rs

root@chat:~#

:(

[2015-10-25 19:23] emcguinness commented on #1026
That looks more like the mongo daemon is not running, try typing `mongod` and see if it starts then try `mongo`

[2015-10-25 19:53] maxlinux2000 commented on #1026
No, the daemon won't start with the replica configuration.

Tomorrow I will create a new fresh vps with ubuntu, so I will check again.
El 25/10/2015 20:23, "Ed" <notifications@github.com> escribió:

[2015-10-25 19:56] pschonder commented on #1106
I also installed a fresh version of the latest commit (https://github.com/RocketChat/Rocket.Chat/commit/e0953fa48c5bec306e2f64a4e1ab252d44d76053) to http://rocket.c2is.de:3000 and the app in my ios-simulator is still broken.

[2015-10-25 21:02] dimisdas commented on #1026
Ran into the same issue with 3.0.7 on Ubuntu. Running mongod with:
`mongod --replSet "001-rs"` seems to fix the issue.

[2015-10-26 07:19] 42robots commented on #195
Would make sense to just disable the public registration page?
Or are the dependencies to strong to separate that from the registration code?

[2015-10-26 07:43] evaryont opened #1242 "Selecting a chat message in Firefox will always select the entire line"
![rocketchat_text_select_issue_in_firefox](https://cloud.githubusercontent.com/assets/14547/10723597/a1ccebd8-7b79-11e5-993f-618909eca367.gif)

This has been a ***really*** aggravating bug so I'm glad to shine some light on it. Whenever I try to select some text in a chat message, the entire message is selected instead of letting me select the text I want. And trying to click again on the message

[2015-10-26 08:08] evaryont commented on #1242
Thanks to a hint from @Sing-Li, the issue is the CSS used. I'll make a PR soon, but the problematic line is https://github.com/RocketChat/Rocket.Chat/blob/0b2097b0fa1ad60c45da8a958e0ae8982b3ea585/packages/rocketchat-theme/assets/stylesheets/base.less#L2293

[2015-10-26 08:46] #1213 closed

[2015-10-26 08:51] tanc commented on #1168
It turns out (embarrassingly) that it was browser caching. The main problem I had in clearing caches was with the OS X app which doesn't have any global way of clearing caches (that I know of). Instead I opened dev tools from the menu and selected the checkbox to 'Disable cache (while DevTools is open)', located in the settings part of devtools. I then reloaded the page a couple of times and that

[2015-10-26 08:51] #1168 closed

[2015-10-26 08:52] tanc commented on #1222
Clearing caches helped in my case, on Chrome and on the OS X app.

[2015-10-26 09:09] rodrigok commented on #1204
@acidicX we don't include the nginx in the docker container

[2015-10-26 10:08] acidicX commented on #1204
Then it would be best if the correct headers were set by meteor-webapp, so that everybody can benefit :+1:

[2015-10-26 12:39] shtefcs opened #1244 "Reset button for settings"
I started playing with colors, and made big mess :D.

We need to have reset button which will restore color settings on default.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27699308-reset-button-for-settings?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2015-10-26 12:41] shtefcs opened #1245 "Emoji on hover"
When you hover on emoji, it should show you how they are writen.

Thats how you learn much faster how to write emoji.

Like on skype, when you hover with mouse, it will show you meaning/how to write

[2015-10-26 13:31] shtefcs opened #1246 "Test SMTP button"
It would be nice if we have test button which will test is SMTP settins correct or not.

Fo example, you can have field where you leave test email to see if you get it or not.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27700564-test-smtp-button?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=githu

[2015-10-26 15:15] sunnipaul opened #1251 "HTTP title & description for Rocket.Chat group url"
I wonder if Rocket.Chat could serve HTTP title & descriptions for group url so that when posting the group url in a room, the group description will be rendered.
![image](https://cloud.githubusercontent.com/assets/5299443/10732904/44be1a3e-7c37-11e5-8477-d4f6c5c76de7.png)

[2015-10-26 15:19] sunnipaul commented on #1147
IMHO, it should be called Search as it searches for channels or groups.
HISTORY should list rooms the user visited

[2015-10-26 15:30] mathdroid commented on #1245
Tried to make a solution here [#1250](https://github.com/RocketChat/Rocket.Chat/pull/1250)

[2015-10-26 15:42] shtefcs commented on #1245
Well played :+1:

[2015-10-26 15:58] subesokun commented on #1246
+1 would be very useful for initial setup

[2015-10-26 16:33] tanc opened #1252 "Bug - After converting default channel to a private group can no longer add users"
It occurred to me that we've been using an open channel for discussions which would better be served from a private invite only group on our rocket.chat instance. It would be a shame to lose the history of the channel so I was wondering if there was a way to convert a channel to a private group?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.c

[2015-10-26 16:48] mathdroid commented on #1245
whoops made a mistake. I changed the `messagePopup`, not the `message` itself. Wait a bit.

[2015-10-26 16:48] cygery commented on #1245
The emojis are handled using [qnub:emojione](https://github.com/qnub/emojione). I've created a [PR](https://github.com/qnub/emojione/pull/2) there to include tooltips using the `title` attribute. When this one is merged it's still necessary to update the version in `.meteor/versions`.

@mathdroid It looks like your solution only affects emojis shown in the preview list, right?

[2015-10-26 17:06] mathdroid commented on #1245
@cygery yeah, which does not even show when you hover over it. Your solution is clearly the way to go, and I will close my PR. Thanks, learned a lot today! :+1:

[2015-10-26 17:10] cygery opened #1253 "Crying emoji using quote character, i.e., :'(, is not parsed/rendered as image"
The `:cry:` emoji is correctly parsed in messages. However, when writing `:'(` (or other emojis using a single quote) they are not detected correctly and, instead, displayed in their plaintext form although the corresponding images are shown in the emoji preview popup when writing a message.

[2015-10-26 17:13] jallmantalbot opened #1254 "Uploaded files can be downloaded without authenticating"
Any uploaded file can be downloaded (albeit with the correct URL) without having to authenticate first, presenting a security risk to any uploaded files.

I appreciate that uploaded files are given a random file name, but theoretically a brute force attack has a chance of retrieving at least some data. Additionally, I would like to protect those links from being shared out to anyone that isn't a r

[2015-10-26 17:33] cygery commented on #1253
I've found the root of this issue: the single quote is replaced with the `&#39;` entity which is not matched by emojione's regular expression for ASCII emojis. I'll look if I can submit a patch there.

On the other hand, is it necessary that quotes are escaped at all?

[2015-10-26 18:20] artisin commented on #658
Sorry but after briefly looking at how you handle things I'm going to say disregard my previous comment. Although, to make sure I'm on the same page here the plan is to create a new LiveResultSet for each team?

[2015-10-26 20:11] cygery commented on #1253
I've added a [commit](https://github.com/cygery/emojione/commit/01098c31e9ff977bec8f4a7b3c074cee9d381611) to my [PR](https://github.com/qnub/emojione/pull/2) for the emojione package which addresses this issue.

[2015-10-26 21:29] gmsecrieru commented on #1251
This is not supported at this point as it depends (at least) on two requested features/improvements:

- Anonymous access to rooms (see #604)
- Server-side rendering

[2015-10-26 21:29] #1251 closed

[2015-10-26 21:35] gmsecrieru commented on #1254
Duplicate of #724

[2015-10-26 21:35] #1254 closed

[2015-10-26 21:36] gmsecrieru commented on #724
@flashguy22 this should be ready by tomorrow.

[2015-10-26 21:40] gmsecrieru commented on #232
I have proposed a JSON mapping between LDAP field and RocketChat fields (`name` and `email` as this point for security reasons) at #1236 . Although it does not import Avatars at this point, please review and let me know if that suits your current needs :)

[2015-10-26 21:52] gmsecrieru commented on #1253
Closing as this is not a RocketChat-specific issue.

[2015-10-26 21:52] #1253 closed

[2015-10-26 21:55] gmsecrieru commented on #1245
Closing as this is not an issue with RocketChat itself. @cygery could you please open a PR to update `qnub:emojione` as soon as your PRs are merged/tagged/released ?

[2015-10-26 21:55] #1245 closed

[2015-10-26 22:05] TinajaLabs opened #1256 "Deploy Rocket.Chat without docker - no domain name"
Ran through the steps on this page: https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker

Installed on Ubuntu 14.04 on digital ocean.

Accessing myip:3000 address does not work.

I note that I was asked to enter domain name during the install process.  But I used the simple ```rocketchat``` instead.

Should I use the ip address of my droplet for all steps requiring a do

[2015-10-26 22:18] Sing-Li commented on #1256
@TinajaLabs    Please make sure you're using (Internal or Internet) DNS to bind your hostname.  It is important to use the *exact* hostname that your users will be using to access your chat server.

Set that name to the ROOT_URL.   There can be a variety of installation problems if ROOT_URL is not set correctly.

[2015-10-26 22:28] Mebus opened #1257 "Rocket chat won't start"
Hi!

If  I do

pm2 start pm2-rocket-chat.json

I get this error messge:

<code>
/usr/lib/node_modules/pm2/lib/CLI.js:2508
    return vm.runInNewContext(code, sandbox, filename);
              ^
SyntaxError: Unexpected token )
    at parseConfig (/usr/lib/node_modules/pm2/lib/CLI.js:2508:15)
    at Object.CLI._startJson (/usr/lib/node_modules/pm2/lib/CLI.js:296:15)
    at Object.CLI.start (/usr/lib

[2015-10-26 22:31] Mebus commented on #1257
Bracket was missing in pm2-rocket-chat.json.

[2015-10-26 22:31] #1257 closed

[2015-10-26 22:33] TinajaLabs commented on #1256
At this point there is no "fqdn" only an IP address.  Do I have to go buy a domain name to make this work or can I just use my designated (from the droplet) IP address?

Should ```/etc/hosts``` look like this if my IP was ```99.99.99.99```?
[code]

Should the env variable be: ```HOST=99.99.99.99```
[code]

And lastly do I need to rebuild with the new host as an IP address?

Thanks,
Chris.

[2015-10-26 22:45] Sing-Li commented on #1256
IP address should work - realize that *ALL* of your users will need to type in the same IP address for their URL to server

Remove the first line from your hostfile

[code]

The HOST env variable should be okay

ALL your users should be using:

[code]

to access server

Unless you had build errors - you should not need to rebuild.

PS... the instruction you are following is outdated, but hopefully

[2015-10-26 23:41] pschonder commented on #1106
@Tharnas: Could you try adding the iOS and Android platform to your ***server*** with the following commands in the sources folder:

[code]
then rebuild the server.

After I removed the app from my simulator and started a build from Xcode the app has styles now. :tada:

@engelgabriel @rodrigok: Can you confirm, that this step is needed? There is no hint in the documentation and btw. there are 2 or

[2015-10-27 02:04] shrop commented on #1163
@kakawait couldn't agree more

[2015-10-27 05:26] ghost opened #1259 "Support TTY-styled chat connect; compatible with IRC Clients"
Are there any plans to add support for connecting to RocketChat from IRC clients? (Like connecting to irc.slack.com through XChat)

Support for buffering unread messages and also notifications for edited/deleted messages would be a nice addition. (Slack doesn't do either of these; there is no way of knowing if messages are edited/deleted, and new messages are lost when disconnected.)

This would b

[2015-10-27 05:55] Tharnas commented on #1106
Ok. I'll try it and let you know. Hope i can build it as im building on linux.

[2015-10-27 07:06] Seicun commented on #1222
Reloading the page sometimes help even without clearing the cache. So it seems the problem is not cache related.

[2015-10-27 07:54] Tharnas commented on #1106
I rebuilt the server. It's still the same but i think this is because i built it (added android & ios) on linux that does not support ios build.

[2015-10-27 08:01] cygery commented on #1245
Done in #1260.

[2015-10-27 08:49] rodrigok commented on #1106
@pschonder Yes, if you are trying to use your own iOS/Android app pointing to your own server you need to build the server app adding the ios/android platform, without this meteor will not refresh the mobile application with new resources.

[2015-10-27 08:52] andreas-h commented on #404
If I may formulate a wish:  Supporting XMPP Jingle would be fantastic, as it would allow participation in video chat via XMPP ...

[2015-10-27 09:17] pschonder commented on #1106
@rodrigok Okay, thanks. That issue was nerve-racking for me. Could we add some documentation for this, so we can close this issue afterwards?

@Tharnas If you still need help, please contact me on https://demo.rocket.chat

[2015-10-27 10:33] Sing-Li opened #1262 "Support email / sms one-time auto-signon links"
Allow a user to request for a one-time auto-logon link to be sent via email and/or SMS.

[2015-10-27 13:21] ChristianKniep opened #1263 "Build of Rocket.Chat failed"
Hey there,

I would love to include Rocket.Chat in my QNIBTerminal environment. I put the installation in a Dockerfile, but I get the same error using Ubuntu15 then a couple of weeks back using Ubuntu14.
The docker-repository can be found here: https://github.com/qnib/docker-rocketchat
Just check it out and run `docker build -t qnib/rocketchat .` within the directory to reproduce the error.

[code

[2015-10-27 14:34] mlazarov commented on #1097
Actually it's much harder to use this form of rest API because it requires a few more requests (instead one) and this makes it not in place replacement of Slack :)

If Rocket follows the same api interface it will be easy just to put rocket rest api url in all apps that already have slack integration.

For example calling the Slack api is easy as:

curl -s -X POST --data-urlencode 'payload={"chann

[2015-10-27 19:50] marceloschmidt commented on #1034
+1

[2015-10-27 22:26] gthorne commented on #577
Agreed, need iOS solution.  Lack of an app may be a deal-breaker.

[2015-10-27 22:59] #1242 closed

[2015-10-28 02:03] graywolf336 commented on #1246
:+1:

[2015-10-28 06:48] Dbzman opened #1268 "Advanced notification settings [$50]"
As mentioned in #1068 there should be an option to configure notifications on a per channel basis so that you can also for example receive desktop notifications for a channel.
The pull request #1116 just fixes the notifications so that you get a hint in the dock. It would be cool to also have desktop notifications here.
Also it would be nice to have a global setting for receiving desktop notificat

[2015-10-28 08:54] ChristianKniep commented on #1263
I guess it's due to my node installation.. If someone could have a look, I would appreciate it.
In the meantime I created a Debian version of the Image, which mimics the installation path of the 'official' image. This is now merged into the github repo above.
The commit that broke like seen above is this: https://github.com/qnib/docker-rocketchat/tree/dc467442731b17f7043091ebaabfcb33e0c061cb

[2015-10-28 08:54] #1263 closed

[2015-10-28 09:54] engelgabriel commented on #1204
@acidicX I've just fixed our DEMO nginx config.

[2015-10-28 10:06] acidicX commented on #1204
Great! Can you leave the issue open?
As I said above, with newer FxOS versions, you need to trigger the install via JS. Just pointing to manifest.webapp does not work anymore. I'll be working on that shortly.

[2015-10-28 10:07] rodrigok commented on #658
@artisin, users will access one team per connection, so if you access the chat application in 2 tabs you can access 2 different teams in the same time using the same account.

[2015-10-28 10:39] Razer6 commented on #1034
:+1:

[2015-10-28 13:27] flashguy22 opened #1269 "Users leaving room by clicking on green notification icon"
I just discovered that we have users accidentally leaving the general room. This happens when a new message notification is displayed in green right of the room name. When the user clicks this little green square, the action to leave the room(which is underneath the icon) is triggered

[2015-10-28 14:24] capensisma opened #1270 "Docker-compose error URGENT"
Hi I found this error when I run `docker-compose ps` (also not `docker-compose ps -a` isn't and when I run `docker ps -a` it says )

[code]

I tried many thing and yes I rebooted and add the upstart script before rebooting !

Thanks in advance for you help!

[2015-10-28 14:26] capensisma commented on #1270
also when it said `docker is not installed please use apt-get install docker`

I installed it with `apt-get install docker` and run all of this after it, is it good?

[2015-10-28 15:02] acidicX commented on #1204
See pull request #1271

[2015-10-28 15:11] #1204 closed

[2015-10-28 15:31] #1197 closed

[2015-10-28 15:46] emcguinness commented on #1270
I have not used docker myself unfortunately but it looks like it is having trouble with your docker-compose.yml, can you add the contents of it to here? Just censor any url's/name/passwords as you deem fit.

[2015-10-28 15:48] Sing-Li commented on #1270
@emcguinness - thanks for your help!   We've been helping @capensisma on demo.rocket.chat to get the instance going.  Closing this ticket.

[2015-10-28 15:48] #1270 closed

[2015-10-28 16:17] graywolf336 opened #1273 "Improve Error Handling"
Right now errors are either handled sparsely or not at all. Creating this issue as a discussion/prompting for people to help out with suggestions based upon https://github.com/RocketChat/Rocket.Chat/pull/1265#discussion_r43278148. The toaster is okay for showing error notifications, but if it's a major error the toaster isn't fine in my opinion.
## <bountysource-plugin>

Want to back this issue? *

[2015-10-28 16:30] capensisma commented on #1270
@emcguinness
I know it's the yaml syntax but don't know what's wrong with it!

line 1 col 3

[code]

[2015-10-28 16:58] jallmantalbot opened #1274 "Search not working"
Got a rocket.chat server deployed on an Ubuntu 14.04.3 box, and I can't seem to get the search bar to produce any meaningful results (or, in most cases, anything at all).

Most times it shows no signs of activity and has only occasionally (maybe 1 in 10 times) returned a result, despite me searching for text that I can see in the room. Each time it has returned a result, it was when i searched for

[2015-10-28 18:05] gmsecrieru commented on #232
I believe we can close this one since #1236 was merged.

[2015-10-28 18:05] #232 closed

[2015-10-28 18:18] gmsecrieru commented on #1269
Duplicate, please follow up #797

[2015-10-28 18:18] #1269 closed

[2015-10-28 18:49] unquietwiki commented on #1026
At least as far as getting 3.0.7 daemon to start, the following changes to /etc/mongod.conf helped...

net:
  port: 27017
  bindIp: localhost

replication:
  replSetName:  "001-rs"

[2015-10-28 19:42] vetash opened #1275 "Problem with installation on clean ubuntu"
After all steps is done i see these errors in `/var/log/rocket.chat/err-0.log`
[code]

[2015-10-28 19:43] vetash commented on #1275
root@chat:/var/www/rocket.chat/bundle# echo $MONGO_OPLOG_URL
mongodb://localhost:27017/local

[2015-10-28 20:36] royalaid opened #1277 "Rocket.chat offical android application build failure"
I am trying to build the offical rocketchat android application as per https://github.com/RocketChat/Rocket.Chat/wiki/How-to-Build-Rocket.Chat-for-Android. The docker image and building process seem fine but when I sideload the apk I am presented with a parse error.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27780338-rocket-chat

[2015-10-28 20:53] maxlinux2000 commented on #1026
I confirm that it's works.

root@chat:~# mcedit  /etc/mongod.conf

root@chat:~# service mongodb restart
stop: Unknown instance:
mongodb start/running, process 1096
root@chat:~# service mongodb restart
mongodb stop/waiting
mongodb start/running, process 1123

Only a question:
Followinf with the instructions in
https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker

I can r

[2015-10-28 21:19] richardwlu commented on #1275
@vetash Which version of monogodb are you running? If you're using 3.0.7, take a look at https://github.com/RocketChat/Rocket.Chat/issues/1026.

[2015-10-28 21:22] artisin commented on #658
Thanks @rodrigok. Elegant solution, compared to a alternative like publication overloading.

[2015-10-28 21:34] capensisma commented on #1270
Okay found the solution:

It was an indentation problem :)

db should be the same level as the others...

[2015-10-28 21:37] IQ2022 opened #1279 "have option to name and edit when upload"
when we upload an image or any file, it would be a great idea to be able to rename it or put some comments, similar to Slack.. right now if we post a clip everything will be clipboard or audio
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27781984-have-option-to-name-and-edit-when-upload?utm_campaign=plugin&utm_content=tracker%2F168

[2015-10-28 21:38] IQ2022 commented on #1279
![capture](https://cloud.githubusercontent.com/assets/12454319/10803826/a78422d0-7d9a-11e5-93d1-2ab3642bfeed.PNG)

[2015-10-28 21:54] #1274 closed

[2015-10-28 22:01] richardwlu opened #1281 "LDAP Allow For Authenticated Binding"
Does the current release allow for us to use authenticated binding?

We've been tinkering with the bind search and passing in the username and password but with no luck so it leaves us wondering if it is possible.

[2015-10-28 22:51] emcguinness commented on #1279
:+1: One I had been thinking myself, just not got around to posting it. One that I had been wanting to get around to seeing if I could fix this myself but gotten busy(that and I am horrible at code).

[2015-10-28 23:06] emcguinness commented on #1281
Definitely possible, if anything it is not so good at supporting unauthenticated LDAP. This is an example filter that will do authenticated search:

{"filter": "(&(objectclass=person)(uid=#{username}))", "scope": "sub", "userDN": "cn=someAdmin,ou=admins,ou=some,o=domain", "password": "test"}

Replace `cn=account,ou=admins,ou=some,o=domain` with the account you want to authenticate as then replace

[2015-10-28 23:13] meteorplus opened #1283 "Filter bad/Offensive words from a list"
Hi

I think it's important to have since users can use bad/offensive words it's easy we can have a very good words list from either www.noswearing.com or www.bannedwordlist.com and replace(badword,'****') with stars :)

I can do this ASAP I just need to know where to start thanks :)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2778

[2015-10-28 23:58] unquietwiki commented on #197
Recommend default setting for Avatar Storage Type be changed from GridFS to FileSystem. Also believe the issue is related to being assigned to a non-existent directory on startup: if its temporary storage, maybe use /tmp instead? Otherwise, may want to create the avatar subdirectory as part of the install.

[2015-10-29 00:18] maxlinux2000 commented on #1172
You can integrante rocketchat in a hidden iframe with a button to open or closed it.

something like that:

<script>
function showchat(rocket) {
        document.getElementById(rocket).style.display = 'block';
}
</script>
<div id="rocket" style="display: none;">
<iframe src="http://chat.mydomain.com:3000"></iframe>
</div>
<input type="button" class="my_big_button" onclick="showStuff('rocket');"></

[2015-10-29 00:38] maxlinux2000 commented on #1096
during the las days i have do a lor of work far of my favourite chat, but now I'm back :)

I have some problem to build rocketchat without docker
(https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker)
due a bug.

... with your last post i assume that I can see the logs using the doker... correct?

but with your command I receive that:

root@chat:~# docker logs -f "rocke

[2015-10-29 00:46] maxlinux2000 opened #1284 "Rocket.Chat powered svg image is needed"
Hi,

I suggest to make a little svg banner with "Rocket.Chat powered" to use in the control panel/Admin/Layout when the admin change the default layout.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27786668-rocket-chat-powered-svg-image-is-needed?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github

[2015-10-29 01:29] geekgonecrazy opened #1285 "Unread indicator on drawer"
Say I just have unread messages in general.  When I click into it, it still shows the icon in the menu.  Which keeps making me think I have new unreads in other channels.
![image](https://cloud.githubusercontent.com/assets/51996/10807839/646bdeda-7db2-11e5-8dca-f69c0758a281.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27787229

[2015-10-29 01:35] geekgonecrazy commented on #1227
Find anything more out about this?

[2015-10-29 01:36] geekgonecrazy commented on #1195
We are using codeclimate which does this on push.  But it would be nice to have something we could check code quality prior to uploading.

[2015-10-29 01:40] jtdiii commented on #1281
How do disable LDAP auth?
I killed the admin session I was using to make changes to the Admin/LDAP.

[2015-10-29 01:41] geekgonecrazy opened #1286 "unread bar count not resetting when mark as read"
When you click the mark as read button on the unread bar and then get another message.  The count is still a high number.

I think this may only happen if the unread point is some place in history not loaded in the DOM.

I opened the app had 111 unread messages.  I decided not to read them all clicked "MARK AS READ".  Then a new message came in the bar returns and now says 112 new messages.
## <bo

[2015-10-29 02:17] emcguinness commented on #1281
If you have access to the terminal of the box type `mongo` and hopefully after a few messages your terminal will read `001-rs:PRIMARY>` if so enter the following to turn ldap off:

`db.rocketchat_settings.update({_id: "LDAP_Enable"},{$set: {value: false}})`

If something else happens when you enter `mongo` post the message. having said this if you are using docker there is a different way to acces

[2015-10-29 04:28] nszceta commented on #796
Please use plain old Javascript. There is already so much innovative work being done in this project that the choice of a niche language is a distraction from the greater task at hand and it is also a potential turnoff to the many great developers which are not familiar with coffeescipt. I think it is safe to say that this means the majority of web developers.

Please do the right thing and use Ja

[2015-10-29 06:18] Tharnas commented on #1096
Sorry this is my fault, use docker logs -f rocket.chat (without ")

For building there is also an image for docker.
I will write you later more detailed when i have more time.

[2015-10-29 07:37] kernicPanel commented on #1195
Maybe http://pre-commit.com/ can be useful for this.
Did'nt try it, but I plan to use it at work.

[2015-10-29 07:47] hansaliyad1 commented on #1106
I am facing the same issue. All style sheets are broken. Is there any documentation to fix that?

[2015-10-29 08:12] timokorkalainen commented on #1112
Indeed threads are the reason why I very much prefer Flowdock over any other chat platform. They really, really make any longer discussions much easier to grasp: properly used threads allow users to be aware of the context of any message without the use of hashtags or other explanations. This is also why they suit organisational discussions so well, where looking back at the discussions later on i

[2015-10-29 09:08] maxlinux2000 commented on #1262
+1 .... no!! +2!!! :)

[2015-10-29 09:38] karmacoma commented on #1106
I'm also facing the same issue. On first invocation, the app has no styles. If I close the app and reopen it, the styles then load.

[2015-10-29 09:38] jallmantalbot opened #1287 "When a user leaves a channel, the message in the room states that the user is joining"
Latest master build, the user part message actually states that the user is joining as per attached screenshot.

<img width="279" alt="screen shot 2015-10-29 at 09 37 39" src="https://cloud.githubusercontent.com/assets/5830710/10814954/f31802bc-7e20-11e5-8395-c275abae78c4.png">

[2015-10-29 09:44] crazyshot commented on #1172
Won't work for people who forbid third party cookies, as it also closes
local storage that rocket is using.
On Oct 29, 2015 2:18 AM, "maxlinux2000" <notifications@github.com> wrote:

[2015-10-29 10:31] loukash commented on #1108
I have the same problems :(
Embed media preview doesn't show.

[2015-10-29 11:45] maxlinux2000 commented on #1172
Put your chat in the same domain of the web page, so there are not third
part cookies.
On the port 80 there is the web page, and in the port 3000, the chat.
El 29/10/2015 10:44, "Ilya" <notifications@github.com> escribió:

[2015-10-29 12:58] fabiojansen opened #1290 "Need more info [Screensharing / Audio-Video Chat Multiuser"
Hi, on Rocket page it says that i can "Screensharing" and "Multi User video/Audio chat", how can i enable/test it?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27799574-need-more-info-screensharing-audio-video-chat-multiuser?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bountie

[2015-10-29 13:13] emcguinness commented on #1290
In the admin settings for rocket chat there is a webRTC section.this lets you turn this on and off for channels, private channels and private messages. By default only the two private options have it enabled, you can turn it on for the public ones if you chose. When enabled clicking on the users icon in the top right will have two buttons, the big one for video and the second for audio only.

![im

[2015-10-29 14:46] jtdiii commented on #1281
Thanks mcguinness!
It seems to want to work but we are getting a the error below. It seems related to the method used to pass the credentials..  We are currently using FreeIPA v3.0.1

Based on the error ..
rocket.chat returns simple credentials when strong credentials are required.
or
rocket.chat returns a DN and a password for a simple bind when the entry does not have a password defined.

Below

[2015-10-29 14:55] ninja- commented on #1175
what we want here is an option to choose bot name and image _per message_ so it will look like from a normal user but then add a tag like "BOT". this should be clearly inside the chatops package

[2015-10-29 14:57] graywolf336 commented on #1227
I have not, when I run the import again I will see if I can find any clues as to why this is happening.

[2015-10-29 15:02] ninja- opened #1292 "Don't use channel names + fix private groups"
Seriously, it was a bad idea. The experience is clearly better when the channel doesn't use a hard name and is identified just by room's title (ex. hipchat, mattermost)

What's even worse is that the private groups are also using these hard ids. It's TERRIBLE :cry: .
My idea for private groups is to make them skype-like:

That is: you use these groups for a private meeting with team members.
They

[2015-10-29 15:02] drtomasso opened #1293 "LDAP Authentication not working"
Hi

I'm trying to get the LDAP authentication to work. I'm using the following LDAP settings

**Bind Search:**
[code]
**Distinguished Name (DN):**
[code]

When I try logging in, I get the "username not found or incorrect password".

If I type the incorrect password (seems like LDAP is correct):
[code]
Which is kinda expected, but it shows that the LDAP search is working. Now, if I type the correct

[2015-10-29 15:04] ninja- opened #1294 "Fix message caching"
afaik they were supposed to be cached in localStorage and not be downloaded every time you reload the page...?

[2015-10-29 15:04] ninja- commented on #1287
hard to find the bug while looking at the code...you sure it wasn't fixed recently?

[2015-10-29 15:09] ninja- opened #1295 "Resizing the window is SLOOOOW"
Doesn't matter that much on pc but breaks the experience so much on android web browser when you bring up the keyboard

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27803311-resizing-the-window-is-sloooow?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](

[2015-10-29 15:33] ninja- opened #1296 "Avatar broken after changing username"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27804130-avatar-broken-after-changing-username?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=git

[2015-10-29 15:35] ninja- commented on #1293
yes your problem is probably sAMAccountName

[2015-10-29 15:37] ninja- opened #1297 "Allow animation to cancel by click"
Currently, the click is ignored when the flex is in the middle of animation.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27804317-allow-animation-to-cancel-by-click?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_camp

[2015-10-29 15:40] drtomasso commented on #1293
I'm using AD, so sAMAccountName should be correct. The issue is the same if I replace sAMAccountName with mail. It still find the correct user, but stops on "Attempt to bind".

[2015-10-29 15:41] engelgabriel commented on #1175
Creating a user behind the scenes is the right way. That's the perfect way to give bots their own access levels, usernames, avatar, etc. Bots are like other users, so they need a users. Would be a disaster otherwize. I agree that they deserve a badge to show that they are a special kind of user, but nevertheless users. On that note, creating a single "bot" badge is a waste of resources. We must ma

[2015-10-29 15:42] ninja- commented on #1293
can you try authenticating on "ldapsearch" tool ?

[2015-10-29 15:43] ninja- commented on #1175
hm but isn't that designed already in slack api?

[2015-10-29 15:52] engelgabriel commented on #1175
You absolutely need a user. Trust me on this one. You want to be able to open a direct room with that bot, or invite a specific bot to a particular room.. so every bot (not every bot script, this is vey important) that has a different username will get its own user. There is no other way.

[2015-10-29 16:06] drtomasso commented on #1293
ldapsearch tool is working fine, returning data for the user specified in the filter

I tried with Bind on my bind-user, but also with my personal account, both worked fine with ldapsearch tool.

[2015-10-29 16:07] ninja- commented on #1293
@drtomasso can you share the exact command you used to ldapsearch ?

[2015-10-29 16:15] drtomasso commented on #1293
With my bind user:
[code]
With my own user:
[code]

I'm running Ubuntu 14.04 LTS

[2015-10-29 16:59] ninja- commented on #1294
https://github.com/GroundMeteor/db we should use this

[2015-10-29 17:10] #1287 closed

[2015-10-29 17:30] Tharnas commented on #1096
So, I'm back.

It looks like your docker client is not properly connected to the docker deamon. Check if set it up correctly. (https://docs.docker.com/installation/ubuntulinux/)
When it's correctly set up you can run `docker version` and you should get something like this:
[code]

Afterwards you can follow the instructions on this page https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-with-Doc

[2015-10-29 17:47] maxlinux2000 commented on #1096
Hi, tnk for help!
I will setup the machine soon following your post.

My docker daemon is not runnig:
---------------------------------------------------
root@chat:~# docker version
Client:
 Version:      1.8.3
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   f4bf5c7
 Built:        Mon Oct 12 05:37:18 UTC 2015
 OS/Arch:      linux/amd64
Cannot connect to the Docker daemon. Is 'docker -d'

[2015-10-29 18:28] gabrielcsapo commented on #1195
@kernicPanel or we could use (https://www.npmjs.com/package/grunt-githooks)

[2015-10-29 18:56] drtomasso commented on #1293
It works if my LDAP/AD password is equal to the password used in the Bind Search. How can I use LDAP accounts without having to have the same password?

[2015-10-29 18:57] ninja- commented on #1293
@drtomasso sounds exactly like a bug

[2015-10-29 19:05] drtomasso commented on #1293
Is there a variable for password as there is for the username? As a temporary workaround?

[2015-10-29 19:13] ninja- opened #1299 "Add proper channel grouping/teaming"
So, here's a simple and proper way how to do it.
First, remove channel ids and replace just with channel names like any proper chat platform does (except slack)

Then allow an admin to create a group.
If you are an admin, you see groups even if you aren't in them
This group could have some settings later-on.
For the start, group setting would only contain a list of members.

Then you drag a channe

[2015-10-29 20:17] nebulade opened #1300 "Rocket.Chat Android build failure processing files"
Hi,

just tried to build the Android client following the instructions on https://hub.docker.com/r/rocketchat/meteor12androidbuilder/ and got these build errors:
[code]

Am I missing some command or dependency?

Thanks

[2015-10-29 22:10] emcguinness commented on #1281
The 4th line `Attempt to bind dc=example,dc=com` is what you would see when the LDAP search returned no match, else you would see the full dn of the user. Do you have access to a linux box by chance? If so if you could try an ldap search like so:

ldapsearch -Wx -LLL -H ldap://*ip*:*port* -b dc=example,dc=com -D 'uid=ro-ldap-account,cn=users,cn=accounts,dc=example,dc=com' '(&(objectCategory=person

[2015-10-29 22:43] ninja- commented on #505
I am willing to implement this soon :+1:

[2015-10-29 22:50] Sing-Li commented on #505
Can we safely assign this to you, then, @ninja ?

[2015-10-29 23:12] emcguinness commented on #1293
Not that I have seen. I have tried against my ldap server with different passwords for the accounts without issue. I do have an AD server I can test against at work tomorrow to see if I can recreate this.

[2015-10-29 23:16] ninja- commented on #505
@Sing-Li alright. I studied enough internals to do it in max ~ 30 minutes after setting up the IDE

[2015-10-29 23:24] emcguinness commented on #1300
I have not tried building the app but that looks like the same error you get if you have already ran the build command in the folder. Is that possible? If so downloading the zip again if you have deleted it or just re-extracting if you have it still.

[2015-10-30 04:03] graywolf336 commented on #1227
Update: So, this seems to only occur when my import script is run. Basically the import script is going through all the messages and running the full message process on each message. Sometimes the messages contain the same url as the one right before it and since the OEmbed getting of url meta is "async", both of those messages cause the oembed to fire off and both of them to run the creating in t

[2015-10-30 04:07] graywolf336 commented on #1227
[code]
That's the timestamps when the urls are parsed (I added custom logging to track this down), notice the less than 30 milliseconds time difference.
[code]
Then a full second later (plus some milliseconds) the response for both of them come back and they both try to create the data into the database.

[2015-10-30 04:37] graywolf336 commented on #332
Things left to do:
* File uploads/attachments
* Message to a channel when that channel is archived
* File comments - this I am unsure how to handle, suggestions are welcomed.
* Cleaning up the slack message to rocket message, currently a bunch of 'replace' methods.
* Lots of testing
* Anything I missed
* Emails for invites (or something) to be sent out after the import is finished and new users we

[2015-10-30 06:56] Dbzman commented on #1197
Just as a side note:
We thought that using gravatar could fix our avatar issue but we found out that avatars are always added to RC (downloaded) so this will have no effect there.

[2015-10-30 09:23] deviousgeek commented on #195
+1

[2015-10-30 11:06] nebulade commented on #1300
Indeed that was the issue. Thanks!

[2015-10-30 11:06] #1300 closed

[2015-10-30 11:58] yakirac commented on #610
Name can be changed by expanding username and status on the top left, selecting My Account and selecting Profile.

[2015-10-30 12:40] gmsecrieru commented on #1299
This seem so specific you are even suggesting how to implement it :) Why don't you send over a proof-of-concept PR so we can all discuss this?

[2015-10-30 12:42] gmsecrieru commented on #1296
Can you elaborate this with screenshots or reproduction steps?

[2015-10-30 12:45] gmsecrieru commented on #1294
I would say that If it ain't broke don't fix it :) but feel free to submit an improvement.

[2015-10-30 12:45] #1294 closed

[2015-10-30 12:51] ninja- commented on #1294
@gmsecrieru loading channels after you refresh the page is terribly slow because there's 0 local storage...

[2015-10-30 12:53] ninja- commented on #1296
1. have an avatar
2. change your username in profile settings
3. your avatar is gone
4. if you try to upload a new avatar that wouldn't work too (it would be ignored)

[2015-10-30 14:16] gmsecrieru commented on #1294
I think the loading experience might still seem slow with this unless we implement the logic to only keep a few messages in storage. Otherwise the (potentially) high amount of rendering during a full page refresh might even crash the browser.

[2015-10-30 14:23] jtdiii commented on #1281
Thanks for help emcguinness!
It was an error on my end .. I missed updating the filter ..
from..
&(objectCategory=person)(objectclass=user)
to ..
&(objectClass=inetorgperson)(objectclass=person)

For those that use FreeIPA here is the filter I'm using.
{"filter": "(&(objectClass=inetorgperson)(objectClass=person)(uid=#{username}))", "scope": "sub", "userDN": "uid=ro-service-account,cn=users,cn=acc

[2015-10-30 14:26] gmsecrieru commented on #1279
+1

[2015-10-30 14:34] richardwlu commented on #1281
Closing this issue now. Thanks!

[2015-10-30 14:34] #1281 closed

[2015-10-30 17:43] maxlinux2000 opened #1303 "Push notifications: how works Rocket.chat?"
Hi,
My cordova proj with rocket.chat can now sent the userID to the GCM server a my php server, so in theory rocket.chat can do it too.

I need to know the steps how to cause to send a notification from rocket.chat to a mobile user that is not connected in this moment.

If you need to know how to setup  a simple gcm service based in php and mysql, I can send you the code and the cordova environmen

[2015-10-30 17:45] gthorne opened #1304 "Voice chat not working?"
When we click the microphone next to the 'message' box, it toggles between the microphone and stop icons.  It doesn't seem to record any audio for anyone on this server, though.  I checked this issues group, but couldn't find anyone else with the same issue.  I'm not sure if it's a bug, or just something we've mis-configured.  Is there any documentation on this feature?  I searched the wiki and co

[2015-10-30 17:48] gthorne commented on #1304
Actually doesn't seem to work on demo.rocket.chat either.

[2015-10-30 19:17] kdar commented on #36
I agree with @taoeffect. OTR isn't optimal here.

[2015-10-30 19:43] maxlinux2000 commented on #1303
here my log:

cat rocket.log | grep Push
I20151029-20:56:40.449(1)? Push.Configure { apn: { passphrase: '', keyData: '', certData: '' },
I20151029-20:56:40.455(1)? Push: APN configured
W20151029-20:56:40.455(1)? (STDERR) ERROR: Push server could not find certData
W20151029-20:56:40.456(1)? (STDERR) ERROR: Push server could not find keyData
I20151029-21:02:06.354(1)? Push: Send message "@maxlinux20

[2015-10-30 20:30] jonbaer commented on #1106
So I battled through this one for a few days, @rodrigok is right you need to at least attempt to build iOS/Android ON your server for some manifest files to load properly (at least that was my frustrating experience) ... this is not ideal when your server is CentOS where you can't really do much w/ iOS (or Android for the most part) ... I think this is part of another issue but can't locate the is

[2015-10-30 22:21] graywolf336 commented on #1304
I think #1305 is the fix for this, unless I'm mistaken. You'll need to add the wav type to the allowed uploads.

[2015-10-30 22:31] emcguinness commented on #1304
Yep, what graywolf said. Currently unless you allow wav files the audio recorder button doesn't work (it tries to upload a wav when you hit stop). Add `audio/wav` to your file upload whitelist for it to work(`audio/*` will also work but allow all audio file types to be uploaded to your server).

![image](https://cloud.githubusercontent.com/assets/14922332/10859507/ef1a4d6a-7f55-11e5-98d3-d6dec2555

[2015-10-31 03:23] shtefcs opened #1307 "File List upgrade"
I think it will be really helpful to sort files into types:
- images
- videos
- zip/other

Also, images/videos should be displayed as thumbs, cause it will be much easier to navigate then like its now.

![](http://content.screencast.com/users/shtefcs/folders/Jing/media/5dce73b9-106b-4d3c-9ee5-e4468a3c1734/2015-10-31_0419.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on i

[2015-10-31 03:27] shtefcs commented on #1304
@emcguinness oh thnx for that, just came to my mind today to ask is there a way to upload video.

Can you write  `in` what exactly need to be in *Media Types* field to have both audio and video files.

[2015-10-31 05:17] hansaliyad1 commented on #1106
This problem is killing me @jonbaer struggling hard to solve it..still didnt got a solution

[2015-10-31 05:39] jonbaer commented on #1106
Does this relate? http://stackoverflow.com/questions/30140579/meteor-cordova-app-fails-to-download-manifest-json-for-use-with-autoupdate-what

"The result was that the server did not create the required files for a mobile app like __cordova/manifest.json"

[2015-10-31 05:53] hansaliyad1 commented on #1106
So does this solution works for you @jonbaer ??

[2015-10-31 08:46] kernicPanel opened #1308 "Idea : add autocomplete webhook"
Let me explain this through an example
Once outgoing webhooks ane added, create one triggered by "$", then sended text is parsed by my bot, and runs according command.
ie: "$start 1234" runs "start" command with "1234" args.

Autocomplete hook could work like this:
I enter "$st" and press tab, the hook is triggered, sends current text to the bot and the response populates the autocomplete list wit

[2015-10-31 08:55] kernicPanel commented on #1308
BTW, I've already submitted this idea : #1086 but I think this approach is simpler to implement and gives more flexibility.
Any thoughts @geekgonecrazy ?

[2015-10-31 09:05] kernicPanel commented on #1308
And to be perfectly clear, I've submitted the same idea to mattermost team : mattermost/platform#1256
I hope this would'nt bother anyone, I'd love to see this becoming a kind of standard feature.

[2015-10-31 12:38] Sing-Li commented on #1308
@kernicPanel great minds think alike. Our own @geekgonecrazy has proposed bot command autocomplete over a month ago and we have bashed around a variety of implementations for a few weeks.

My personal comment to the webhook approach is that it might be an overkill to involve such  network and compute overhead, plus the need to sync the client and bot, just to transfer essentially a static table of

[2015-10-31 13:25] kernicPanel commented on #1308
@Sing-Li In my use case, there is no static information.
Data returned for autocompletion may be computed by the bot.

Let me explain my use case more precisely:
My bot contains data for each users including their api key to redmine.
When a outgoing hook is triggered (by slack for now), the bot uses redmine APi in the context of the user, and some commands are available, others not.
Plus using aut

[2015-10-31 13:51] kernicPanel commented on #1308
Imagine this workflow where the bot is using your github api key:
[code]

And so on…
This "simple" implementation allows bots to have their custom autocomplete, regarding current textline, user, chatroom, etc
And all this logic belong where it should: on the bot.

I believe this would be greatly useful.

[2015-10-31 13:55] kernicPanel commented on #1308
Simpler implementaion could require current textline to be in each autocomplete rerponse.
This way when selected, textline is replaced by the autocompleted one.

ie:
[code]

[2015-10-31 14:26] ninja- commented on #1307
I would sort them by date, and only display last X files

[2015-10-31 18:05] emcguinness commented on #1304
Yes, an admin has full control. If you live the accepted media types blank, that means you accept all. Other than that you can have a comma separated list of all the file types you like. [This site](http://www.freeformatter.com/mime-types-list.html) seems to have a good list of all the types. You can also do something like `audio\*` which will allow all audio types.

[2015-10-31 18:22] Porco-Rosso commented on #978
using the below configuration does indeed allow me to upload the image, and I can find it stored under ~/uploads
however, refreshing breaks this, and the image goes back to displaying the username initials despite the file still being under ~/uploads and having the correct permissions.

[code]
PS: on Ubuntu 14.04

[2015-10-31 19:11] vetash commented on #1275
Hello @richardwlu!
Thank to reply, yes i am using 3.0.7.
After reading issue 1026, i check my hosts file.
So, problem was in line
`127.0.1.1      chat`
After i comment this line and add
`127.0.0.1       localhost chat`
rocket chat is start normaly and worked fine.

Thank you!

[2015-10-31 19:11] #1275 closed

[2015-11-01 11:32] Volkanugr opened #1311 "Block Direct Messages"
Hi , Everyone

sorry i'm too late to explain this issue my exams are extremely hard finally I survived 💯
when i use the direct messaging everyone can send and receive text but i do not want to message to come specific person it should be basic ui to block specific persons

Thanks
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2786946

[2015-11-01 12:27] DaniLabs opened #1312 "Channel protected by password?"
I think that a good feature for the project is that the channels have been protected by password.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27870107-channel-protected-by-password?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysourc

[2015-11-01 12:41] xjtufjj commented on #1118
For this feature, I suggest to take a look at jitsi-meet(https://github.com/jitsi/jitsi-meet), which is a mature webrtc based conference platform. Based on my limited knowledge, it uses the SFU as the forwarding core, not the MCU, which needs a lot CPU resource.

[2015-11-01 13:23] blaskovicz commented on #1279
:+1:

[2015-11-01 16:03] deviousgeek commented on #1279
+1 so much.

[2015-11-01 17:36] solo999 opened #1313 "security issue: logout and login with new user shows direct chat messages of previous user"
Reproduction:
user 1 logged in and has direct messages with user X
user 1 logged out
user 2 logged in
user 2 can see direct messages of user 1 with user X

If after user 1 logged out refresh web page, then all is OK and foreign messages will not be shown...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27874421-security-issue-logou

[2015-11-01 20:07] vetash opened #1314 "How can i help with translate?"
Hello, i am russian. I want to help you with translate some parts of application.
I just try to edit `ru.i18n.json` and restart chat, and nothing is happened. So i need some how to :)
Thank's

[2015-11-01 21:28] philip-peterson commented on #577
+1 for iOS being able to access a custom instance!

[2015-11-01 23:26] kenyee commented on #271
Related, but what do people expect out of a "native" app?  It is more the feel or is it something else?
I have the android-ddp-client library we can hook into this for a native experience, but I have to ask why native instead of hybrid for something as simple as a chat client :-)

[2015-11-02 00:52] DaniLabs commented on #1314
They are experimenting Lingohub. If you want to help, send an email to support at rocket.chat to be invited to the translation project.

[2015-11-02 01:07] vetash commented on #1314
Done. :)

[2015-11-02 01:07] #1314 closed

[2015-11-02 01:28] taoeffect commented on #36
FYI, this feature, regardless of how you implement, really only makes sense for DMs. Encrypting group conversations is extremely difficult, and with today's tech it would result in most of the other features of RocketChat having to be removed. First to go would be search.

[2015-11-02 02:04] hansaliyad1 commented on #1106
I would really appreciate if anyone can help me solve this broken app....it is really frustrating....@rodrigok

[2015-11-02 05:32] OGFilthyCasual opened #1315 "feature request: custom notification groups"
geekgonecrazy doesnt like it when I notify _@all_ in _#general_ on the demo server; I thought it might be nice to have a way to create a custom mention group, which I can populate with several folks I would otherwise want to mention all at once.  Like _@rocketDevs_ anyone in the list would get a mention notification.

![image](https://cloud.githubusercontent.com/assets/1946002/10874878/14c9159c-80

[2015-11-02 09:51] mohamedmayla commented on #1050
I have the same problem when I open some direct messages, Administration/Users or channels.
The app stuck with this loading screen:
![chat-loading-bug](https://cloud.githubusercontent.com/assets/4347943/10878497/991663f6-8156-11e5-8031-0c0a061d80e1.PNG)

the solution @mhkeller provided "Hiding the direct message, re-adding the person" sometimes solve the problem.

We deployed the app using docker

[2015-11-02 12:07] Porco-Rosso commented on #978
Somehow the issue has resolved itself.
Under chrome I had to check `Disable cache (while DevTools is open)` from the developer tools options and refresh the page to get it to work.

[2015-11-02 12:57] MyPod commented on #1283
censoring should probably be an option selectable by the users, with an admin setting for auto-enabling, perhaps. Letting people add custom words would be too something to do - and, in parallel, allow to set words that "ping" users

[2015-11-02 15:05] hhenkel opened #1316 "Local login not available if ldap enabled?"
I hooked up an instance of rocket.chat to ldap and I got the impression that I since then can't login with local users via the ui - this seems to be true for the initial admin user as well as the hubot user.

As the bot is still working, even when restared it seems like it is an issue with the ui?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2015-11-02 16:56] engelgabriel commented on #1106
Hi, most of the team was away at OSCON... And some are on holiday today :(

Rodrigo highest priority now it to work on the mobile apps, so this will be
fixed shortly, together with multi server support.

--
Sent from Mobile

[2015-11-02 17:32] zubivan opened #1317 "Hubot services endpoint"
Hi All,

I'm trying to create a custom bot for TFS build notifications as they are supporting webhooks out of the box now. So, I've created a custom bot with the following signuture:

[code]

What is a default url where hubot service is exposed for rocket.chat? Is it the same as root chat url or I should use a default hubot port 8080? Is there any way to configure it?

Regards,
Ivan

<bountysource

[2015-11-02 17:35] solo999 commented on #1106
@hansaliyad1
I had the same issue when I build android/ios version with biuld-android.sh/build-ios.sh without actually build and deploy server part. Try to add android/ios platform, run meteor build and deploy to your server.
First android/ios app run will have broken css, but after hot push update from your server css will be fixed. Hope it'll help...

[2015-11-02 17:45] jonbaer commented on #1106
Yes this is an important part ... you should forget about running "meteor run" and pointing --server to localhost:3000 ... you need to use the server copy that is built along with the mobile app in order for it to function correctly ... (at least that has been my experience), will wait for official word ...

[2015-11-02 17:47] blaskovicz commented on #1221
I just had this happened, and it was the result of switching from `admin page > direct message > private group`.

The console has no log output, just xhr requests:
![image](https://cloud.githubusercontent.com/assets/10687433/10889390/cffb79ca-815f-11e5-94b4-fa6a4312721b.png)

[2015-11-02 17:48] blaskovicz commented on #1221
Picture of overlapping channels:
![image](https://cloud.githubusercontent.com/assets/10687433/10889429/fbabb7f6-815f-11e5-817f-b61446da7e54.png)

[2015-11-02 19:18] CrystalMethod commented on #1317
I stumbled across the same issue. Any information would be really helpful.

[2015-11-02 19:50] capensisma commented on #1283
adding it as an option is easy :)

I have found a good nodejs [package](https://www.npmjs.com/package/bad-words)

we use right now and have a some code for it:

[code]

but where can add this ? and how do I deploy it?

Thanks
@MyPod

[2015-11-02 20:05] capensisma commented on #1206
trying to do this though the API documentation is confusing!
I don't even know which package is taking care of the API

[2015-11-02 20:08] capensisma commented on #1059
@geekgonecrazy next week or next years ? :D

[2015-11-02 22:05] stephenreda commented on #271
Native allows for more thorough security like implementing SSL pinning, secure local storage, binary protection, etc. If you use a cross platform framework, you'll have to be sure all security features are available as 'upgrades'. f.e phonegap/cordova still relies on a third party plugin for implementing pinning.

[2015-11-02 22:08] mitar opened #1318 "No emoji autocomplete should happen if you have emojis disabled"
Even with emojis disabled for my account, there is still emoji autocomplete which is opened. Which makes it sometimes complicated because it selects some other emoji you didn't want, and also adds an extra space.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27907525-no-emoji-autocomplete-should-happen-if-you-have-emojis-disabled?ut

[2015-11-03 00:44] shtefcs commented on #1304
@emcguinness Tnx for help.

I tried to add in field both `image/* , video/* , audio/* ,` and `image/*, video/*, audio/*,`

When I try to upload either video or audio, it's say

![](http://content.screencast.com/users/shtefcs/folders/Jing/media/0eff0e3f-feb4-470a-a02c-52fcd0378f60/2015-11-03_0141.png)

[2015-11-03 01:14] emcguinness commented on #1304
I know someone said they were working on it, I forget who, but that setting is not as responsive as it should be. Try restarting Rocket.Chat and that should help.

[2015-11-03 01:36] IQ2022 opened #1319 "Ability to share a link that goes directly to a specific message (permalink)"
Have the option to share that message into Twitter, Facebook etc. adding their icon

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27912193-chat-enhancement-social-media-added?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?

[2015-11-03 01:52] shtefcs commented on #1304
Oki

[2015-11-03 03:21] mitchtbaum opened #1320 "Unread indicator: link to first unread message"
`{#} new messages since {date}` could help a returning user catch up by linking {date}, or that entire notice bar, to that referenced unread message their upscroll.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27914042-unread-indicator-link-to-first-unread-message?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issue

[2015-11-03 04:52] hansaliyad1 commented on #1106
Thank you @engelgabriel . I really appreciate for that

[2015-11-03 05:48] graywolf336 commented on #1304
@shtefcs what type of file did you try to upload then? And what was the settings when you tried it? Just curious so I can try and replicate it to determine if I can fix it.

[2015-11-03 06:25] k0nsl opened #1321 "Livechat package, what channel?"
A stupid question perhaps, but here goes: what channel (or room) is used for the livechat package? I've added the livechat package successfully but cannot figure out what channel/room it uses. So when somebody enters the livechat they cannot talk because "there's no operators online".

Any help is appreciated.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www

[2015-11-03 09:17] emcguinness commented on #1321
I have not looked over any of that code yet but I saw reference that a user need the "operator" role to appear online for the live chat. There was no way in the UI to do this at the time and it needed to be added directly to the DB. A quick search for operator did return [this](https://github.com/RocketChat/Rocket.Chat/blob/7cb836f33b79fddd787f621cb2a07e2f139abf3f/packages/rocketchat-livechat/meth

[2015-11-03 12:30] hameno opened #1322 "How to update docker-based deployment?"
I have installed Rocket.Chat using [this guide][1]. How can I update my deployment?

[1]: https://github.com/RocketChat/Rocket.Chat/wiki/Docker-Ubuntu-14.04-%2864-bit%29-VPS-with-Nginx-SSL-and-Hubot

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27926220-how-to-update-docker-based-deployment?utm_campaign=plugin&utm_content=tracker%2

[2015-11-03 13:22] Dbzman commented on #1322
You only have to download the latest image (docker pull rocketchat/rocket.chat) and recreate your container.

[2015-11-03 13:23] hameno commented on #1322
I have no knowledge about docker, so a step-by-step guide would be great...

[2015-11-03 13:25] storrgie commented on #1322
You're admitting your gap in knowledge about a project that is unrelated to rocket.chat. Educate yourself by going and researching how docker works.

[2015-11-03 13:27] hameno commented on #1322
I'm sorry, but no. I don't need to know inside knowledge about a third-party tool if I want to run a solution like Rocket.Chat, that is just insane. You can't know every damn tool...

[2015-11-03 13:38] shtefcs commented on #1304
@graywolf336 The file type for video is this ![](http://content.screencast.com/users/shtefcs/folders/Jing/media/8a4cb629-77ae-4c46-a3b1-e840cb36f7d9/2015-11-03_1436.png)

And for audiot, I tried to record using Rocket.Chat audio recording feature.

I tried both this settings `image/* , video/* , audio/* ,` and `image/*, video/*, audio/*,`

[2015-11-03 15:32] phillip-white-sociomantic opened #1323 "Mongo db 001-rs:SECONDARY instead of 001-rs:PRIMARY"
Hi All,

I have seen a possible issue when trying to initiate mongo:

[code]

I am running Mongodb-org 3.0.7. And this to `/etc/mongod.conf`

[code]

Will i have any issues if i continue the install with 001-rs:SECONDARY?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27931716-mongo-db-001-rs-secondary-instead-of-001-rs-primary?utm_

[2015-11-03 15:46] phillip-white-sociomantic commented on #1323
Just running through the install, I have come to this error:

[code]

I have been following the guide here https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker

[2015-11-03 16:00] marceloschmidt opened #1324 "Ability to invite users via public link and/or to specific channels"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27932614-ability-to-invite-users-via-public-link-and-or-to-specific-channels?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&ut

[2015-11-03 16:03] jtdiii commented on #1296
I'm using the linux client and I'm having the same issue.. I go in change my Avatar and save changes and the my initials still show as my  avatar.

[2015-11-03 16:09] marceloschmidt commented on #1324
Invitation via email, private link, public link, widget.
Also, it should be customizable so that each invitation should be able to be automatically granted a role by default.

[2015-11-03 16:24] rendezvousIY commented on #601
I'd like to add a sub feature request, it could be moved to a separate request depending on the maintainer's opinions.
I have a use case where several geographically oriented teams need to be able to manage their own teams/servers independently, however they want to share specific content with other teams/servers. If using Slack it is possible through integrations to use services such as sameroom.

[2015-11-03 16:37] Nepoxx opened #1325 "Support search by full name"
When creating a private message, it would be convenient to be able to search by full name.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27933845-support-search-by-full-name?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2015-11-03 16:52] vstaf commented on #1323
Same error when trying to start # pm2 start pm2-rocket-chat.json

[2015-11-03 17:49] storrgie commented on #1322
![Image go-on](https://imgflip.com/s/meme/Creepy-Condescending-Wonka.jpg)

[2015-11-03 19:10] sampaiodiego commented on #1321
hey guys.

so, the livechat package isn't usuable at the moment.. as @emcguinness found, there is no way on the UI to make a user an operator.

I'm working on a branch to do this things. So in the near future you should be able to assign a role operator to a user..

When I finish this basic things, I'll make a how to use the livechat package wiki page ..

[2015-11-03 19:50] k0nsl commented on #1321
Great, thanks @sampaiodiego !

[2015-11-03 22:04] maurer opened #1327 "[sandstorm] Uploading files yields broken link"
When running as a sandstorm grain, uploading files yields a broken link to the loopback device, e.g.
http://127.0.0.1:8000/ufs/rocketchat_uploads/bwaSyyEohcgxoTrCB.png

[2015-11-03 22:06] maurer opened #1328 "[sandstorm] Users are not prompted to log in"
Under sandstorm, when a non-logged in user goes to a rocket chat grain for the first time, they just see a blue screen, and nothing else. What they need to do is click the login button in the upper right of the screen. There should be a visual hint to direct them to this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27943458-sands

[2015-11-04 01:46] lademone commented on #195
+1

[2015-11-04 06:32] miscs commented on #195
+1 Must have for coorparate usage

[2015-11-04 14:11] navneetap opened #1329 "Every instance of Rocket Chat on Windows 7 opens 3 processes in the background"
Everytime RocketChat Windows application is started, it starts 3 processes in the background which do not stop even when you quit the app.
if you open RocketChat the second time, 3 mroe processes start, which then continue to run until maunally ended.

Replicate the issue on Windows 7 -
1. Start RocketChat the first time.
2. Open Task Manager -> Processes -  3 Rocket.Chat.exe processes.
3. Quit Ro

[2015-11-04 14:28] Sing-Li commented on #1329
Core team members still running on Windows are a dying breed.  i know of at least one who would rather not acknowledge it. :-)

Seriously.  Thanks for the report, @navneetap

[2015-11-04 15:32] Sing-Li commented on #907
Gabriel completed this last week.

[2015-11-04 15:32] #907 closed

[2015-11-04 15:34] Sing-Li commented on #910
This should be fixed in the current base code.   Need to verify after the next cut.

[2015-11-04 15:40] Sing-Li opened #1330 "[sandstorm] Fixes oembed - Outbound HTTP(s) requests must use HackSession"
Right now, oembed does not work because server-side outbound HTTP(s) requests are blocked by Sandstorm's wall-of-security.

Use the currently Sandstorm sanctioned HackSession to obtain an outbound HTTP(s) connection for oembed.   (potentially implementing it 'natively'  as *the* HTTP provider whenever the code is detected to be running in Sandstorm)

[2015-11-04 15:47] Sing-Li commented on #1330
Example source code for obtaining the HackSession ... courtesy Sandstorm core team's @dwrensha

[code]

[2015-11-04 16:03] Sing-Li commented on #1328
@maurer  thanks for the report.  Great idea.  Right now we render a blank blue page, but we certainly could create a consistent UI  to block-arrow-direct user to login - perhaps explaining that they're a guest on a shared grain.

Please prefix all future reports with [sandstorm] - thanks again.

[2015-11-04 16:04] Sing-Li commented on #1327
Closing this as it is a duplicate of #910

[2015-11-04 16:04] #1327 closed

[2015-11-04 16:10] Sing-Li commented on #1330
How to add runtime variables to Sandstorm, and then detect at runtime that Rocket.Chat is operating under Sandstorm - courtesy Sandstorm core team's @kentonv

You can configure runtime environment variables is `sandstorm-pkgdef.capnp`. In fact your `pkgdef` already sets `PATH` this way here:

https://github.com/RocketChat/Rocket.Chat/blob/sandstorm-port-001/.sandstorm/sandstorm-pkgdef.capnp#L92

N

[2015-11-04 16:10] rockneverdies55 commented on #195
+1

[2015-11-04 16:29] Sing-Li commented on #908
See this commit, and associated comments for access to the Sandstorm managed user avatars...

https://github.com/sandstorm-io/meteor-accounts-sandstorm/commit/19a6fde497c7b0c67cf46aa5f0382cee9e1323ed

[2015-11-04 16:39] Sing-Li opened #1331 "[sandstorm] Restore admin menu to grain owner"
Not all admin features available in Rocket.Chat are applicable when running under Sandstorm.

For those that admin options that customizes the server instance, their settings UI should be made available when running under Sandstorm.

This is not a quick/small fix.

It may require some re-design to separate the Sandstorm applicable setting options and UI.

In addition, the interaction between Sands

[2015-11-04 19:07] shtefcs commented on #1307
That could be additional sorting option.

[2015-11-04 22:21] capensisma opened #1332 "Auto-provision Channel via REST bulk/createRoom API"
Hello all,

I am very into Meteor and Rocket.Chat, right now I am in the middle of a task to auto-provision Channel via REST bulk/createRoom API, however I am getting a "You do not have permission to do this." REST response.

Looks to me this would be role/permission related, so would you kindly let me know
1) how to assign the [testagent, adminautomation] roles to a given user?
2) which data stor

[2015-11-04 23:54] wjimenez5271 opened #1333 "official docker image fails to run"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27979972-official-docker-image-fails-to-run?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_sourc

[2015-11-05 00:39] geekgonecrazy commented on #1059
@capensisma

;-) you know life, everything doesn't always go according to plan.

[2015-11-05 00:42] unquietwiki commented on #197
https://github.com/RocketChat/Rocket.Chat/issues/993

[2015-11-05 03:19] unquietwiki commented on #993
Hey, folks at my office were running into this, and had to use the new? feature to disable avatar changes. Problems have occurred since we installed last week: regardless of PNG, JPG, GridFS, Filesystem, or Gravitar. Anything we can do to help fix / troubleshoot this?

[2015-11-05 05:00] jonbaer commented on #1333
You need to make sure you create a mongo instance first + then link to it (via the db alias)

See: https://github.com/docker-library/docs/tree/master/rocket.chat

[2015-11-05 05:47] liuliming2008 commented on #519
1 Cloud team manger/admin set operator flag for team users at the plan?
2 It is better to support image upload, the it can be used to be helpdesk.

[2015-11-05 09:54] 42robots commented on #195
Would really like to integrate that. If there is a hint where to hook into the code, that would
be great :-). I could make a modification and contribute back if things work out .

Best,
Christian

[2015-11-05 11:41] Sing-Li commented on #1333
Yes, or follow the *Deploy with Docker*  link close to  the top of  https://github.com/RocketChat/Rocket.Chat  README , which links to wiki page:

https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-with-Docker

[2015-11-05 14:59] phillip-white-sociomantic commented on #1323
I managed to get this working by having localhost in mongo DB:

[code]

then, on the mongo command line. run `rs.initiate()` twice. It will be SECONDARY first, then it will be PRIMARY which indicates no errors.

After doing that, `pm2 start pm2-rocket-chat.json` seemed to work fine.

[2015-11-05 15:20] phillip-white-sociomantic commented on #741
+1 definitely needed

[2015-11-05 15:52] rasathus commented on #1246
+1 I ran into a few problems with an onscreen success message, but no mail being sent.  This would have been very useful.

[2015-11-05 15:55] phillip-white-sociomantic commented on #1252
+1

[2015-11-05 16:39] marceloschmidt commented on #993
This problem seems to occur only when the resize option is turned on. Rocket.Chat uses GraphicsMagick for resizing, so you'd have to have that installed on your box.

If you are willing to try that, here's how to install: https://gist.github.com/paul91/9008409

If that doesn't fix it, we may reopen this issue.

[2015-11-05 16:39] #993 closed

[2015-11-05 17:02] marceloschmidt commented on #853
Any news on this?

[2015-11-05 17:04] geekgonecrazy commented on #993
@marceloschmidt should we maybe add a note to that toggle so that people at least know?  Maybe with a link to a wiki article explaining?

[2015-11-05 17:06] marceloschmidt commented on #993
Absolutely! @sampaiodiego suggested we have a list of dependencies... Would that be the first one?

[2015-11-05 17:20] marceloschmidt commented on #1070
So, was this fixed?

[2015-11-05 17:22] gthorne opened #1334 "File preview after upload"
Hey everyone-
We've been testing out Rocket.Chat for over a week, and it looks promising.  Here's one minor issue (not really a "bug", just an "annoyance") that we've noticed, though:

When you upload a file in a channel, you get a link to it.  If that file is an image (in most of our cases, it will be), it would be nice to have a preview.  Also, when you click on the link, it tries to download it

[2015-11-05 17:29] marceloschmidt commented on #1256
Was this resolved?

[2015-11-05 17:38] marceloschmidt commented on #1185
It should be possible, but hasn't been done yet.
The package would have to have a list of emojis as in ```
{
: 8ball:: [ { 0: "1f3b1" } ]
: 100:: Array[1]
: 1234:: Array[1]
: +1:: Array[1]
} (spaces were added to avoid interpreting emojis here)
[code]

[2015-11-05 17:38] #1185 closed

[2015-11-05 17:45] marceloschmidt commented on #1094
@AntouanK can you comment rocketchat-ldap on your .meteor/packages file and try running it again?

[2015-11-05 17:54] unquietwiki commented on #993
Using Ubuntu 14.04, an "apt-get install graphicsmagick" & rebuilding the app appears to have done the trick. Thanks! :+1:

[2015-11-05 18:31] marceloschmidt commented on #1334
Well, it should immediately show you the uploaded file... and when you click on it, it should actually open that just like you said it happens with the sidebar links. Let me investigate that... does that happen to you on the demo server as well?

[2015-11-05 18:32] gthorne commented on #1334
Let me try it.

[2015-11-05 18:35] gthorne commented on #1334
Ok, the preview works there, but clicking the link still attempts to download it.

[2015-11-05 18:36] marceloschmidt commented on #1334
right... if you click the link yes, but if you click on the preview, it opens up...

[2015-11-05 18:37] gthorne commented on #1334
Ahh, ok.  I didn't try that.  Any idea why our install isn't generating the preview?

[2015-11-05 18:37] marceloschmidt commented on #1334
If the preview is not showing to you, it's probably settings-related. Go to Settings / API. Is Embed set to true?

[2015-11-05 18:39] gthorne commented on #1334
Yes, it is.

[2015-11-05 18:40] marceloschmidt commented on #1334
Are you running on HTTPS? Can you check if the image links are on the same protocol? And the browser console, any errors showing there?

[2015-11-05 18:46] jjshoe commented on #322
Def. want this without requiring a third party sso/oauth solution. I want to tie into my existing web app.

[2015-11-05 18:48] gthorne commented on #1334
Both are HTTPS.  No errors in the console.
When I inspect in the demo server, I see the preview in a div of the class 'inline-image'.  That div isn't there on our server.  But, there is a curious ::after that shows up where it should be.

![screenshot](https://cloud.githubusercontent.com/assets/782047/10978215/4c85d0a0-83bb-11e5-8195-9d4167bd2304.png)

[2015-11-05 18:49] gthorne commented on #1334
We've had an issue with some people not being able to save avatars, or the avatars don't "stick".  Not sure if it's related, but I wanted to mention it.

[2015-11-05 18:50] marceloschmidt commented on #1334
I have to call for more help :) @RocketChat/core please? can someone help out here? I'm out of ideas...

[2015-11-05 18:51] Telemakhos commented on #1118
+1 for jisti-meet or a jitsi-videobridge solution. Janus gateway is another great option

[2015-11-05 18:58] emcguinness commented on #1334
If you are running over SSL it could be a certificate issue. Was the certificate signed by a public CA? or was it an internally or self signed cert? If this is the case there is a setting under the general settings to allow self signed/invalid certificates. The checks get done on file upload so it will not back date previously uploaded images but for new images it should fix it.

[2015-11-05 19:20] gthorne commented on #1334
That was it, thank you sir!  We are using a self-signed, and that was still set to 'false'.

[2015-11-05 19:21] marceloschmidt commented on #1334
You rock @emcguinness !!! Thank you very much!

[2015-11-05 19:21] #1334 closed

[2015-11-05 20:21] gthorne commented on #1304
Worked for me after server restart.

[2015-11-05 20:29] wjimenez5271 commented on #1333
OK thanks. Sorry if I missed that, the README just said invoke `docker run` with a container name, so I made the assumption it was that simple.

[2015-11-05 20:57] gthorne commented on #1150
Seeing the same thing as @Dbzman. In the snippet below, the avatar works for everyone but jdickson.

    { "_id" : "ddavis.jpg", "filename" : "ddavis.jpg", "contentType" : "image/jpeg", "length" : 62521, "chunkSize" : 261120, "uploadDate" : ISODate("2015-11-03T20:00:47.859Z"), "aliases" : null, "metadata" : null, "md5" : "51874096471757218b2c3b91d01df5d7" }
    { "_id" : "pawinn.jpg", "filename" :

[2015-11-05 21:05] zubivan commented on #1317
Hi all,

So I made some further investigations, read some manuals and when I'm running hubot from terminal via

[code]

And if everything is configured properly you should be able to reach your bot via:

[code]

Which should result in the following log message from running bot:

[code]

P.S. Omg folks, why room name is case sensetive?

[2015-11-05 21:49] unquietwiki opened #1335 "Being able to install Rocket.Chat using NodeJS v4 or v5"
The default instructions for installing Rocket.Chat use Node 0.10: which is now pretty dated, compared to the Hubot requirement for 0.12.x, and the recent re-merging of the Node team builds into versions 4.0 and 5.0. Attempting to upgrade a working system to use NodeJS 0.12 or 5, and rebuilding the app, appears to make it completely unusable.

https://github.com/nodesource/distributions#debinstall

[2015-11-05 22:23] capensisma commented on #1059
yeah i don't but you have to keep people posted with the progress!

it seems you have bulk/createRoom and bulk/registerUser already written but the roles aren't added! what Can we do to get those two API nodes working ?

[2015-11-05 22:36] graywolf336 commented on #1059
If there's been no work on it, how can they update with progress?

From the talks months ago, they were thinking about completely redoing the
rest api and the current ones aren't fully supported.

On Thu, Nov 5, 2015, 4:23 PM Capensis <notifications@github.com> wrote:

[2015-11-05 22:59] capensisma commented on #1059
I agree but at least don't let people hanging tell them we are rewriting the API or something!

but what's the hold up? the current API seems very good! just add those roles for the two last API nodes!!

[2015-11-05 23:30] geekgonecrazy commented on #1059
@capensisma Like I said next few weeks.  I never said I was working on it already.  Second of all we all have full time jobs.

Third I nor any of us owe you anything.  So don't act entitled.  This is an open source project, if you would like it done sooner.  Feel free to open a Pull Request with the changes.  There is always the option of hiring someone to write it for you if you need the changes

[2015-11-05 23:47] capensisma commented on #1059
@geekgonecrazy you owe me to show where can add the roles and or at least show me that so I can get those two nodes working!
I searched in permissions and methods files on the server and didn't find the right place to add those roles?

How can I just quick fix that bulk/createRoom and bulk/registerUser so any admin can access it instead of current testagent or adminuation ...

I will write my code

[2015-11-06 00:12] neurobe commented on #1059
Just like to say how appreciative I am of the core team devoting so much unpaid time to this open source, community supported, not for profit project. Since I am not capable to doing the work (well) myself, I would certainly avail of any bounty system that were to be set up. A mid-tier Role ("supervisor") is big for me - I see there are a few stubs in the code already...

[2015-11-06 00:23] geekgonecrazy commented on #1059
@neurobe thank you!  @RocketChat/core always glad to see appreciation. :)

Yes there is some incomplete code around a mid tier.  I think there is an issue related to that around somewhere.  Would be good to bump that where ever it is.

Never used a bounty system.  Might be worth opening an issue to discuss it.  I don't know what kind of impact it might have on an open source community. Would be go

[2015-11-06 00:27] capensisma commented on #1059
I agree :) and @neurobe is awsome :D

@geekgonecrazy I found something here `Roles.getRolesForUser` can guide me on this!

[2015-11-06 00:31] neurobe opened #1336 "Bounties? Needed? Wanted?"
I guess if users want features implemented that is specific to their special needs, the Core team can always be DMed and negotiations entered into. But separately, when it comes to prioritorising the agreed work plan, is there a role for bounties?  Views?

[The current alternative for bumping issues seems to be harassing tactics on the General channel.]

<bountysource-plugin>
---
Want to back this

[2015-11-06 00:37] capensisma commented on #1336
I agree with you, this seems to be a good idea to solved the increasing number of feature requests :)

[2015-11-06 09:15] nickeblewis opened #1337 "Heroku one-click deploy didn't work"
Hi All

Not sure if anyone else has come across this but when I tried out the Heroku one click deploy it fails. Let me take you through what I did first and then I will share the error that I have.

- Changed the App name to something of my own, it accepts it
- Set region to Europe
- Changed the root url so that it starts with my chosen app name
- Clicked on "deploy for free"

My logfile is as fol

[2015-11-06 12:37] lourdhuraju-p opened #1338 "Notify when new message is arrived & Direct Message"
Hi,

Need to know is there any APIs available to achieve the following
1. Send Direct Message to Individual instead sending to public rooms
2. Send Message to Private Groups
3. How to get notify when there a new message is received or real time messages.?

Basically we are trying from Javascript

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bounty

[2015-11-06 15:42] stephenreda commented on #1026
also issue on clean ubuntu, with mongo 3.0.7.
when trying to run mongod:

![image](https://cloud.githubusercontent.com/assets/2557554/11001015/46f956c6-84a5-11e5-93f4-244a2a73c918.png)

[2015-11-06 15:47] stephenreda commented on #1323
@phillip-white-sociomantic
I don't get mongo even to run
![image](https://cloud.githubusercontent.com/assets/2557554/11001147/0e90f75c-84a6-11e5-8f7c-9e1bbd96fe9a.png)

[2015-11-06 15:50] leefaus commented on #1323
@phillip-white-sociomantic

Does this link help: https://gist.github.com/leefaus/fd55eee32f1dc5918220

[2015-11-06 16:06] nickeblewis opened #1339 "Running Rocket.Chat within a Digital Ocean Docker droplet"
I am trying to get a Docker (Digital Ocean) instance up and running and have followed the instructions as follows:

$ docker run --name db -d mongo --smallfiles
$ docker run --name rocketchat -p 80:3000 --env ROOT_URL=http://localhost --env MONGO_URL=docker run --name rocketchat -p 80:3000 --env ROOT_URL=http://localhost --env MONGO_URL=mongodb://mymongourl/mydb -d rocket.chat -d rocket.chat

I di

[2015-11-06 17:24] VoidAndAny opened #1340 "Can't install on Ubuntu 14.04 : fiber module not found"
I try to install rocket on a fresh Ubuntu, following this guide :
https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker

At the step "npm install" it fail with the following error :
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28034589-can-t-install-on-ubuntu-14-04-fiber-module-not-found?utm_campa

[2015-11-06 17:30] m00t opened #1341 "Rocket.Chat crashes with "Error: spawn ENOENT" when trying to upload avatar"
Hi! I am using Docker for running rocketchat. And having this in my log:
[code]

[2015-11-06 17:33] VoidAndAny opened #1342 "2 wiki page for the same thing"
There is 2 pages describing the process for installing Rocket chat on Ubuntu :
https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-to-UBUNTU
https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker

Which one to follow ?
The section "Download Rocket.Chat" is different especially the content of environment variables :

[code]
versus :

[code]

(port or not in R

[2015-11-06 17:36] VoidAndAny opened #1343 "Rocket behind NGINX port configuration (documentation)"
In the following paragraph "https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker#6-running-behind-an-nginx-ssl-reverse-proxy" it is written not to add port to ROOT_URL variable, if Rocket is behind an Nginx SSL proxy.

But must we set the PORT variable ?
To 3000 or 443 (SSL) ?

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-11-06 19:45] unquietwiki commented on #1341
Try installing graphicsmagick on your OS. Had to do that for my setup.

[2015-11-06 22:27] neynah opened #1346 "[sandstorm] Cannot embed images"
@Sing-Li I'd love to be able to embed images on rocket.chat(on Sandstorm). I'm able to upload the image but it doesn't embed properly. Looks like a network error?
![image](https://cloud.githubusercontent.com/assets/855341/11010266/7d7e36ac-8492-11e5-9894-bea21439af86.png)

[2015-11-06 23:02] dwrensha commented on #1346
Duplicate of #910?

[2015-11-06 23:06] neynah commented on #1346
Yes that sounds the same. Ty!

[2015-11-06 23:06] #1346 closed

[2015-11-06 23:41] mgancarzdsi opened #1347 "err-0 log fills with error: module did not self-register, bcrypt.js related?"
Hi, trying to get rocket.chat test installed using the install without docker instructions, on CentOS 7.

I've gotten it to the point of starting rocket chat, but after running pm2 start pm2-rocket-chat.json, it seems to keep restarting.

The err-0 log is filled with (<snip> replaces the URL path which is a staging server)
[code]

pm2 show 0 displays:
[code]

<bountysource-plugin>
---
Want to back

[2015-11-06 23:44] blaskovicz commented on #742
i can try to take a look at this

[2015-11-07 00:10] phillip-white-sociomantic commented on #1323
@stephenreda Have you set this in `/etc/mongod.conf`. And do you have the hosts file setup correctly?

[code]

After i fixed up the hosts file to be:

`127.0.0.1 localhost rchat`

And i set:
[code]
in `/etc/mongod.conf`. Restarted mongo and it worked.

@leefaus I managed to solve it with the above setup. So not sure if the link works or not.

[2015-11-07 00:15] emcguinness commented on #1342
`HOST=someHostName`
Does not need http, this is the hostname of the machine. Needs to resolve in DNS, or more easily by updating your /etc/hosts file. For example add the line:
`127.0.0.1    someHostName`

MONGO_URL=mongodb://localhost:27017/rocketchat
MONGO_OPLOG_URL=mongodb://localhost:27017/local
Assuming you are running Rocket.Chat on the same server as mongo (which you are if you followed eit

[2015-11-07 00:21] emcguinness commented on #1343
If you are referring to the port environment variable you set in step 3 of that guide, leave it at 3000. That controls what port rocket chat runs on, nginx still connects to it on that port. This is the first part of the config
[code]
That server line is the address and port nginx connects to rocket chat on, if you change that port variable to another port you could update it here to match. having

[2015-11-07 00:21] mcmyt opened #1348 "Ubuntu 14.04 Fresh install problem"
I'm getting this error when I try to install Rocket.chat in Fresh Ubuntu 14.04 (DigitalOcean).

I followed this word by word https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-to-UBUNTU

I am getting this
[code]
When I check the folder /var/www/rocket.chat there is no package.json, nor in the git btw.

I also get this after running ` meteor build --server "$HOST" --directory .`
[cod

[2015-11-07 00:29] emcguinness commented on #1347
A quick Google shows lots of people with that error using the wrong version of node. I am not entirely sure what the newest version Rocket.Chat will run on but hopefully if you post it here hopefully someone who does know can confirm. Can find it easy enough with a `node -v`

[2015-11-07 00:58] yogeshVU opened #1349 "support for desktop sharing"
Please have a desktop sharing feature

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28045605-support-for-desktop-sharing?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm

[2015-11-07 02:12] mcmyt opened #1350 "at Function.Module._resolveFilename (module.js:331:15)"
I just tried to install Rocket.chat in a fresh Ubuntu 14.04 LTS had some troubles first but then almost worked under another fresh install. I can't start the app with pm2. I'm getting this error

Here is err-0.log
[code]

`node -v`
[code]

I'm trying to install it in a DigitalOcean droplet (VPS) with Ubuntu 14.04 LTS

Here is my /etc/hosts
[code]

<img width="794" alt="capture d ecran 2015-11-07 a

[2015-11-07 02:13] mcmyt commented on #1348
This problem was solved. Now I'm having this #1350

[2015-11-07 02:13] #1348 closed

[2015-11-07 02:22] mcmyt commented on #1350
I've fixed this by installing `npm -g n`then `n stable`. And like I'm pretty lucky I get the same error then this issue now #1347

[2015-11-07 02:22] #1350 closed

[2015-11-07 02:36] mcmyt commented on #1347
I've fixed this by downgrading to Node V0.10 with
`nave usemain 0.10`

[2015-11-07 03:09] neurobe opened #1351 "On RC demo, default live channel: "Terminal Messages""
Read only channel which mirrors messages sent to terminal by server - so casual observer can get appreciation of what's happening on server. Demo purposes only.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28047427-on-rc-demo-default-live-channel-terminal-messages?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issue

[2015-11-07 03:54] jadeqwang opened #1352 "[sandstorm] Mobile and Descktop clients can't connect to Sandstorm RC grain"
Right now, I can't seem to figure out how to get my local RC client on my Mac to connect to my Sandstorm RC grain. Probably because it isn't possible yet.

@Sing-Li ?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28047819-sandstorm-mobile-and-descktop-clients-can-t-connect-to-sandstorm-rc-grain?utm_campaign=plugin&utm_content=tracke

[2015-11-07 07:30] Megatronic79 opened #1353 "Add more advanced Statistics options"
Add more advanced Statistics options so we can see peaks and troughs of usage throught a set period of time - maybe in the form of pie chart, line graph etc..

Useful when selling\recommending the idea to the Board after an intial pilot; and of course ongoing monitoring of its useage.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28

[2015-11-07 07:53] Megatronic79 commented on #1293
Hi @drtomasso,

Works fine on AD 2003 and 2008 and OpenLDAP:

My Filter I just tested with is

{"filter": "(&(objectCategory=person)(objectclass=user)(memberOf=CN=ROCKET_CHAT_USERS,OU=General Resource Accounts,DC=domain,DC=internal)(|(mail=#{username})(sAMAccountName=#{username})))", "scope": "sub", "userDN": "rocket.service@domain.internal", "password": "mypass"}

This will only authenticate user

[2015-11-07 07:59] Megatronic79 commented on #1196
+1

[2015-11-07 10:14] stephenreda commented on #1323
@phillip-white-sociomantic
I do have these settings set up.
The mongoDB log contains the following:

    2015-11-07T11:12:25.427+0100 I CONTROL  ***** SERVER RESTARTED *****
    2015-11-07T11:12:25.446+0100 E NETWORK  [initandlisten] Failed to unlink socket file      /tmp/mongodb-27017.sock errno:1 Operation not permitted
    2015-11-07T11:12:25.446+0100 I -        [initandlisten] Fatal Assertion

[2015-11-07 10:43] VoidAndAny commented on #1343
Thanks a lot

[2015-11-07 10:45] phillip-white-sociomantic opened #1354 "Hubot instructions"
Does anyone have an instructions for installing Hubot in a VPS environment? Without docker? It would be great if we could add this to the wiki.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28051954-hubot-instructions?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-11-07 11:06] stephenreda opened #1355 "PM process errored"
After having issues on installing rocketchat on a clean ubuntu 14.04.01 with mongo 3.0.7, I followed the instructions (Update an existing installation with the latest code)

![image](https://cloud.githubusercontent.com/assets/2557554/11014810/b99b0c50-8546-11e5-809d-5a987214258f.png)

When I check the proces, I can see the application is errored
![image](https://cloud.githubusercontent.com/assets/

[2015-11-07 11:10] VoidAndAny commented on #1342
Thanks for the precision, can we add them on wiki pages ?
And why 2 pages for the thing ?

[2015-11-07 15:40] blaskovicz commented on #824
How about a hybrid of the previous suggestions, which uses user icon and hover @rwakida ?

![image](https://cloud.githubusercontent.com/assets/10687433/11015841/d7cbd05c-853b-11e5-918d-1656b6f587c3.png)

I can take a look if interested.

[2015-11-07 15:41] emcguinness commented on #1349
I have not tested it yet myself but it already has this, in theory you just need a browser extension [here](https://github.com/RocketChat/Rocket.Chat.ScreenShare.Extentions). Then when in a video call you should see a new screen share button.

[2015-11-07 15:49] blaskovicz opened #1356 "[style] Enforce Code Style / Linting / Etc"
This is more of a meta issue, but I'd like to start adding some linters, code style enforcement, etc.

As an example, in a lot of the coffeescript files (eg: `client/views/app/message.coffee`), I see the use of explicit `this.` and `return` whereas, to follow the coffeescript convention, `@` should be used and `return` can often be omitted unless returning from a function early.

I'd be willing to

[2015-11-07 16:56] blaskovicz commented on #824
I have a patch ready for this almost.

[2015-11-07 17:21] blaskovicz commented on #824
Submitted pull #1357 for this issue

[2015-11-07 19:30] rosehosting commented on #1340
You need to install the 'build-essential' package.

[2015-11-07 19:45] stephenreda commented on #1354
I agree, some more basic information/walkthrough about implementing hubot chat would be nice. I have no previous experience with node/hubot. I've cloned Rocket.chat.hubot, i've added the hubot rss reader, but I am failing to see how to connect this now to rocket.chat..

[2015-11-07 19:47] stephenreda commented on #1355
I've solved this since.
I had to delete bcrypt, run npm update (node-gyp!) and then re-install the server.

[2015-11-07 19:47] #1355 closed

[2015-11-07 19:49] stephenreda commented on #1347
I've had a similar error. I deleted the bcrypt library, and performed a general 'npm update'. After this, re-installing worked just fine.

[2015-11-07 20:45] romdi commented on #1354
The instructions at https://github.com/RocketChat/hubot-rocketchat cover almost everything, but it's easy to miss a step, so here's how I did it:

1. Go to your Rocket.Chat instance website and register a new user for your bot. Let's use *testbot* as user name and *testpass* as password here and assume *https://testchat.example.com* is your website URL.

2. In your terminal:
[code]

3a. Linux & Ma

[2015-11-07 22:14] stephenreda commented on #1354
What should be mentioned is that npm has to run with sudo, while 'yo' not.

@romdi
![image](https://cloud.githubusercontent.com/assets/2557554/11017606/dc737e52-85a4-11e5-9091-d1f693b5b869.png)
My rocketchat is setup with an IP as hostname. This works perfectly.

![image](https://cloud.githubusercontent.com/assets/2557554/11017619/0ef7ed9a-85a5-11e5-9226-c3451ae51cc6.png)
I can't seem to get the h

[2015-11-07 22:20] romdi commented on #1354
@stephenreda: You're right. I updated the examples

Try with the port at the end:

    export ROCKETCHAT_URL=localhost:3000

or

    export ROCKETCHAT_URL=192.168.101.45:3000

[2015-11-07 22:23] stephenreda commented on #1354
Yes that works! Thanx Romdi.

[2015-11-07 23:31] phillip-white-sociomantic commented on #1354
Thanks guys. I will give this guide a go soon

[2015-11-07 23:50] blaskovicz commented on #1222
I opened the icon that was wrong in a new window (it showed _AH_ when it should have been showing _HB_). After `ctrl+f5`'ing the page, the icon updated.

I notice that the response is sending:

`cache-control:public, max-age=31536000`

Perhaps we could also use `ETag` and `If-None-Match` (and ditch `max-age`)?
[Related article.](https://devcenter.heroku.com/articles/increasing-application-performa

[2015-11-08 03:55] geekgonecrazy commented on #1285
![image](https://cloud.githubusercontent.com/assets/51996/11018669/2b4fbcbc-859a-11e5-93fe-928b6a7af83c.png)

Another screenshot of what's happening.

[2015-11-08 04:01] geekgonecrazy commented on #1286
![image](https://cloud.githubusercontent.com/assets/51996/11018689/1ca82e96-859b-11e5-993e-4ea84df487ac.png)
Good visual of what's happening

[2015-11-08 05:02] Spirotot commented on #195
+1, this would be a great feature/ability to have...

[2015-11-08 06:09] neurobe opened #1358 "bug report: rocketchat-lib/server/models/_Base.coffee"
Is "deny" correct?...
	remove: ->
		return @model.remove.apply @model, arguments

	allow: ->
		return @model.allow.apply @model, arguments

	deny: ->
		return @model.allow.apply @model, arguments

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28066440-bug-report-rocketchat-lib-server-models-_base-coffee?utm_campaign=plugin&utm_conte

[2015-11-08 09:41] stephenreda commented on #1354
How would you advice to get the bot started in an automate way?
At the moment, of the set environment variabels vanish, the bot won't boot up right.

I was thinking of putting the stuff just in a script f.e.

[2015-11-08 10:33] neurobe commented on #825
1+. Read Only Channels: Useful for Channel titles like "Full Manual", "Read Me First", "Help", "Quick Start", "Instructions", Company Info. Also for feeds like "Stock Market Ticker", ...
These could equally be fly-in tabs, not sure which it best.

[2015-11-08 15:44] garg commented on #1336
I've love to contribute towards a bounty for an active ticket that is in the planned list but not in-progress just yet. Would posting something on bountysource be acceptable? Any feedback from the core-team about this?

[2015-11-08 16:29] graywolf336 commented on #1353
I do believe this would be useful under #726

[2015-11-08 16:35] graywolf336 commented on #1338
There is no rest api which supports those at the moment. The DDP might, but I have no experience with that. See: #1059

[2015-11-08 18:44] mnutt commented on #1328
Guest access would be great, but as a initial step, maybe just show a message like "sharing is disabled for this app"? I thought something was broken before I eventually viewed source and saw the message.

[2015-11-08 19:13] stephenreda commented on #1354
@romdi
Could you help me getting started with implementing a third part hubot extension?

f.e. https://github.com/shokai/hubot-rss-reader

I've installed the packages

I've editited external-script.json

What would be the next step?
Testing this into the testbot right away does not seem to work.
Does the 'bot' has to be re-build somehow?

[2015-11-08 19:22] romdi commented on #1354
@stephenreda:

Thanks for the daemon script.

Did you set the environment variables the author described? I haven't tested this extension yet, but for simple hubot extensions all that's usually needed is installing it via npm and adding the name to the external-script.json array. Maybe try a simple extension first and go from there.

[2015-11-09 01:23] capensisma commented on #1335
I am using it with node 0.12.x and it's pretty stable :)

[2015-11-09 01:25] capensisma commented on #1339
dude just don't install it manualy you will get into a lot of trouble just use [mupx](https://github.com/arunoda/meteor-up/tree/mupx) which makes use of Docker this is different from mup which doesn't support docker!

with mupx it's one command and deploy it in less than 2mn ;)

[2015-11-09 01:27] capensisma commented on #1332
@geekgonecrazy any news bro ? :)

[2015-11-09 03:03] Sing-Li commented on #1339
@nickeblewis  Your command lines:

[code]
... looked like they are completely messed up.  Is this just a cut and paste problem, or did you actually used these command lines?

Also, if you are using an external mongo instance, you will not need the first command.

[2015-11-09 03:12] Sing-Li commented on #824
Folks, I think there is a problem with the specification of this feature.

Currently, any edited message is marked as *edited*; and that is good enough for users who want to know that the message has been changed after being posted.

Remember that a single message can be modified by multiple users, an infinite number of times.

For users who care about **BY WHOM** and **WHEN** a message has been c

[2015-11-09 03:20] blaskovicz commented on #824
@Sing-Li you could just remove the `Message_KeepHistory` setting and make it the default feature.
If enabled [it](https://github.com/blaskovicz/Rocket.Chat/blob/feat/message-ui/edit-info/server/methods/updateMessage.coffee#L27) copies the message and preserves the editor, edit timestamp, and parent message. My pull request (#1357) continues to support this feature.

[2015-11-09 03:25] Sing-Li commented on #824
@blaskovicz The question is - how will the UI allow me, as a user who wanted to know more about who modified which part of the message at what time, to walk the revision history?   And if it doesn't - what will the by-whom and last-modified -timestamp really tell me?

[2015-11-09 04:03] lourdhuraju-p commented on #1338
Thank you very much! Will wait for sometime for the required APIs support.

[2015-11-09 04:54] blaskovicz commented on #824
As a simple solution, perhaps a "message history" popup dialog that shows previous versions of the message / author / time.

[2015-11-09 05:00] blaskovicz commented on #824
This is basically what stack overflow does since editors are only people who have achieved that rank. Stack overflow annotates the post with "edited by user at time" and allows clicking for the diff dialog / page. Since posts are markdown, we could display a nice side-by-side diff in rocket chat.

[2015-11-09 08:53] nickeblewis commented on #1339
@Sing-Li thanks and yes, something went awry with the copy and paste here. However your tip regarding the external MONGO_URL was of use, as I tried:

docker run --name rocketchat -p 80:3000 --env ROOT_URL=http://46.101.78.230 --env MONGO_URL=mongodb://root:<mypassword>@cockney.2.mongolayer.com:10088,cockney.3.mongolayer.com:10088/rocketchat?replicaSet=set-55571ff706d20877ff00102d -d rocket.chat

(

[2015-11-09 08:53] #1339 closed

[2015-11-09 09:00] VoidAndAny commented on #1340
Thank you, but build-essential is already installed.

[code]

[2015-11-09 10:02] Sing-Li commented on #1339
@nickeblewis Thanks for following up.  Yes, the deployment method you described via our `docker-compose.yml` is one of the officially supported deployment methods.

Beware of any deployment methods that depend on a `git clone` and/or running `meteor` (either directly or indirectly), they are more suitable for developers who needs to modify code - and we may not be able to support such custom confi

[2015-11-09 10:15] icode commented on #195
+1

[2015-11-09 11:01] #824 closed

[2015-11-09 11:06] m00t commented on #1341
Where should I install graphicsmagick? We use docker image `rocketchat/rocket.chat`. Also we can not reproduce this behavior at localhost and at neighbor server event if we load the same mongo dump.

[2015-11-09 11:26] m00t commented on #1341
Update here: this is something with settings. I try to track which value of which setting causes it.

[2015-11-09 12:00] m00t commented on #1341
After loading fresh database dump, everything is fine now, I can not reproduce this bug anymore, so I am closing it.

[2015-11-09 12:00] #1341 closed

[2015-11-09 12:18] sinteur opened #1359 "changing the user name changes access permissions"
Steps to reproduce:
- create user
- grant additional access permissions
- protect a resource to be accessible with these additional
permissions only
- change user name at /account/profile
- check access to the protected resource

Expected behavior:
- user name changes
- additional access permissions are not affected

Observed behavior:
- user name changes
- additional access permissions are remove

[2015-11-09 13:47] drtomasso commented on #1293
Seems like the username I was trying with, was already created locally in Rocket. When this happend, I could not login with neither my AD password nor my Rocket password. The error (and failsafe) could be improved, but that's not probably high priority.

[2015-11-09 13:47] #1293 closed

[2015-11-09 14:18] rosehosting commented on #1340
It seems that meteor requires Node 0.10.40

[2015-11-09 14:49] intositeme opened #1360 "Domain whitelist not restricting"
The allowed domains is not restricting registration with emails not in the list.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28095346-domain-whitelist-not-restricting?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_ca

[2015-11-09 15:32] engelgabriel commented on #195
Let's move this to the top of the queue

[2015-11-09 17:17] LiftedKilt commented on #1347
I am encountering the same error. Using nave usemain 0.10 allows me to start the server (it's the only version that works), but all of the css fails to load when I do so.

[2015-11-09 17:31] sggncucumber opened #1362 "how to render jpeg image inline in chat room if i pass it as url"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28100375-how-to-render-jpeg-image-inline-in-chat-room-if-i-pass-it-as-url?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_m

[2015-11-09 18:17] icode opened #1363 "how to configure openldap ldaps:// on Rocket.Chat"
my config
[code]

and my gitlab config
[code]

but i can't login with ldaps

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28101695-how-to-configure-openldap-ldaps-on-rocket-chat?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2015-11-09 18:25] unquietwiki commented on #1335
How did your install compare to the instructions at https://github.com/RocketChat/Rocket.Chat/wiki/Deploy-Rocket.Chat-without-docker ?

[2015-11-09 19:53] engelgabriel commented on #658
Hi @joaocarloscabral

I am back from holiday! :) Can we create a PR for the changes done to date?

[2015-11-09 19:53] geekgonecrazy commented on #1362
This functionality is already here.  If this isn't working for you, we will need to you to provide more information.

[2015-11-09 19:54] geekgonecrazy commented on #1360
@RocketChat/core are there caveats to this?  Does it need restarted before it takes effect?

[2015-11-09 20:13] geekgonecrazy commented on #1351
I think we have an issue dealing with a behavior similar to this.  #604 perhaps?

[2015-11-09 20:14] geekgonecrazy commented on #1349
@rodrigok might be able to provide some information on this.  But for sure added.  We may just need to publish this to the chrome extension store?

[2015-11-09 20:19] geekgonecrazy commented on #1337
@RocketChat/core who is our resident heroku expert?  I don't remember who actually added this.

[2015-11-09 20:20] geekgonecrazy commented on #1336
@RocketChat/core guys thoughts?

[2015-11-09 20:22] geekgonecrazy commented on #1335
@unquietwiki it looks like meteor has some bugs with some of the newer versions of node.js

More info:
https://github.com/meteor/meteor/issues/5124

[2015-11-09 20:24] geekgonecrazy commented on #1329
This looks to be for the desktop app?  Might should direct those over at https://github.com/rocketchat/rocket.chat.electron

[2015-11-09 20:31] engelgabriel commented on #1336
I've created https://www.bountysource.com/teams/rocketchat

We need to start promoting it...

[2015-11-09 21:31] unquietwiki commented on #1335
Ah, good to know. So while that's getting cleared up, I could use https://github.com/RocketChat/hubot-rocketchat in a Docker container to get bot-functions going, no?

[2015-11-09 21:31] engelgabriel commented on #1352
Did you try this?

![image](https://cloud.githubusercontent.com/assets/1000217/11047235/751f4f54-8718-11e5-9da3-34cca578acb8.png)

[2015-11-09 21:35] geekgonecrazy commented on #1335
@unquietwiki absolutely.  That's how I personally deploy both hubot and rocket.chat.  :)

[2015-11-09 21:35] emcguinness commented on #1363
are you able to post the console log at the time you log in? Usually helps narrow down what is going on. Also what error, if any, do you get on the logon page.

[2015-11-09 22:45] geekgonecrazy commented on #1336
Is this decided on I guess?  Was just looking around, doesn't look like that particular site is all that active.

Also is this a good fit for our community?  Will this ruin some of the hard work some of us put in when someone comes in and snipes the bounty with a hacky little fix?

Just thoughts.  Really wanted to make sure its a good fit for our community.

[2015-11-09 22:54] garg commented on #1336
I created a bounty but I set it so that it donates to the project even if the ticket does not get solved. I read the bountysource [FAQ](https://github.com/bountysource/core/wiki/Frequently-Asked-Questions) and it seems like we're protected against hacky little fixes because the bounty is not released until it is approved by the backer. And hopefully all backers will be diligent and wait for the fi

[2015-11-09 22:58] capensisma opened #1364 "Reporting = Blocking users and deleting conversations!!"
Hallo all,

This feature should be added for sure! since last time someone started spamming me in the demo site!

So a Reporting = Blocking users and deleting conversations feature would be amazing!

Thanks

[2015-11-09 23:00] capensisma commented on #1335
@unquietwiki @geekgonecrazy right :)

[2015-11-09 23:00] capensisma commented on #1332
@geekgonecrazy @Sing-Li Thanks :)

[2015-11-09 23:04] capensisma commented on #1340
No, it's not nodejs version or something! it's the symlink in the ubuntu!

Can you try running `node` and see if opens the nodejs console?

[2015-11-09 23:09] Sing-Li commented on #1336
I have some very strong opinion [not unusual :-)  ] on bounties.

History and raw stats suggest that they don't  work in conjunction with open source.   And it might actually backfire and undermine the 'spirit' of a growing strong open source community.

It can also have negative impact on possible customization and contract opportunities, moral of paid staff; and even deter well-intentioned 'pure

[2015-11-09 23:31] neurobe opened #1365 "Bug report - when enabling package chatops: example doesn't load google maps"
because needs "meteor add dburles:google-maps@1.1.5"
needs a comment somewhere as to how to get working...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28110625-bug-report-when-enabling-package-chatops-example-doesn-t-load-google-maps?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We acce

[2015-11-09 23:44] neurobe commented on #1336
Example...
I want a functioning mid-tier Role ("moderator"). Most of the code is done (i think about 80%, mostly just needs a UI and testing). My choice is to wait for it to happen sometime or to hack around a solution that would probably work but because I am an amateur the code I generate would not be fit for public consumption. But they are the two choices I have at this point.

[2015-11-09 23:47] neurobe commented on #1336
oh...
choice number 3: harass and harass on the General channel :-)

[2015-11-09 23:50] garg commented on #1336
I do understand the concerns about introducing this method of contributing to rocketchat. Regarding gimp:history brush - the issue was created 13 years but the $30 dollar bounty was set 2 years ago. Re:  gedit - issue was created 11 years ago but bounty was set 1 year ago. It's a bountysource UI problem which does make it seem like the bounty was created 13 years ago but that's not really the case

[2015-11-09 23:50] capensisma commented on #1336
@neurobe Right :D hahahha

Wanna help me? it would be remunerated!

[2015-11-10 00:35] Sing-Li commented on #1336
Actually, IBM is a great example of what might 'work' -  basically, a customization/contracting job that would cost $100k in-house; with similar cost  for professional external contractors - but bounty'd for $7k.

In the same vein, the ENTIRE Rocket.Chat team have regular day-job work to support their passion and accepts contracting ops - and we are really only a PM away - if all you really want i

[2015-11-10 00:58] neurobe commented on #1336
@Sing-Li  In the original posting on this issue I did mention the DM option which is recommended for Coding for a client specific use.

Maybe the question as to whether Bounties is _wanted_ or not has been answered in the negative. Still a question though in my mind whether they are _needed_. I think though, a minimum bounty of say $250 is a good idea. The system setup seems to allow a minimum of

[2015-11-10 00:59] neurobe commented on #1063
What is need is a UI to the alanning:roles code already baked in.

[2015-11-10 01:17] icode commented on #1363
[code]

[2015-11-10 01:18] engelgabriel commented on #1336
OK, maybe it looks like it was premature to create the team there without a proper discussion with the team here, but I've actually did that back in September, and I didn't even create the team myself, someone had already done that in October and I just claimed ownership. I found out about it when I was studying the idea after a few requests for that.

I agree with @Sing-Li in a few points, but no

[2015-11-10 01:21] capensisma commented on #1336
I agree with @engelgabriel :D about everything he said

I vote YES for bounties!

[2015-11-10 01:26] Sing-Li commented on #1336
@engelgabriel

1.  our mods crossed - I was just updating the facts per @garg's post - as you were composing your piece

Absolutely - let's test it for some time.

[2015-11-10 02:03] engelgabriel commented on #1336
Sounds like a plan.

[2015-11-10 03:49] jadeqwang commented on #1352
Hey @engelgabriel, that gets me to the prompt to enter a host URL, but I'm not sure what to put into the "host URL."

For instance, I tried using a Share link that would ordinarily be able to open that instance in a new browser window, but I get the error "Not a valid instance url." I also try using the webkey (which is how Sandstorm connects to things like mobile apps). Same error.

I think there

[2015-11-10 03:56] neurobe opened #1366 "Action Manager : (including Calendar) to schedule and trigger actions [$500]"
eg gabrielhpugliese:supercalendar

Perhaps in a fly-in a la chat-ops.
Many uses, for example:
- scheduling a key-word message to be sent to a Room (like "happy hour starts now")
- which might then be actioned by a hubot (like "action Wednesday's duties")
- or send emails out to specified recipients
- or action client specific code (like create room and send out invites, etc etc etc.)

Setting cale

[2015-11-10 04:04] engelgabriel commented on #1352
It checks for a specific http header, to make sure it is a RC server. Maybe Sandstorm is removing this unknown header?

[2015-11-10 04:11] sggncucumber commented on #1362
thanks for your response earlier.

Just to be very specific.  I am passing screenshot as url (jpeg) to rocket
chat either directly from hubot/custom rest api.  I want to see the actual
image on rocket chat message (either preview/actual image).  How to get
this done as I am failing to achieve the same though tried multiple options
like sending as <img src=*> or passing it from node as 'fs' operati

[2015-11-10 05:01] hosseinsmart opened #1367 "Add ability to delete files"
hi
When i upload a file in message box and i want to delete it, file deleted in message box but it remain on file list!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28115792-add-ability-to-delete-files?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2015-11-10 06:08] engelgabriel commented on #1337
Did you read the following?

* ROOT_URL
IMPORTANT! Please replace <App Name> with the value provided on the top. This will be the full URL of your Rocket.Chat app.

[2015-11-10 06:09] engelgabriel commented on #1337
I just deployed https://gabchat.herokuapp.com using the button...

[2015-11-10 10:41] marceloschmidt commented on #1336
I'm not 100% confident about the bounty-program. I think what could happen is that instead of working on things we think are more important, some collaborators might start working on things that pay more. Instead, I would like to see some work done in this direction: http://rfc.zeromq.org/spec:22 and defining each collaborator's participation in the project.

[2015-11-10 10:55] #1323 closed

[2015-11-10 11:00] corecache opened #1369 "Add CAS protocol as account/login possibility"
Hey there,

It would be nice to have the Jasig CAS protocol as login possibility, there seems to exist a meteor cas binding already at https://github.com/tvoglund/meteor-accounts-cas

If I understood this correctly, a bit of attribute binding, saving settings and graphical exposure is missing in order to get this up and running?

THanks a bunch!

<bountysource-plugin>
---
Want to back this issue?

[2015-11-10 11:13] stephenreda commented on #1034
https://ravis.me/2014/12/02/meteor-js-two-factor-authentication/

[2015-11-10 11:25] icode opened #1370 "Convert a Private Conversation room into a Private Group by adding users to it."
Can i add people in my p2p chat rom?
This is a temp room, temp chat

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28122868-convert-a-private-conversation-room-into-a-private-group-by-adding-users-to-it?utm_campaign=plugin&utm_content=tracker%2F16890630&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](htt

[2015-11-10 11:39] VoidAndAny commented on #1340
Unfortunately, it doesn't succeed :
[code]

I notice something strange, why my node_modules directory is owned by my common user  ?
[code]

(I try to delete it and when I launch npm install, it is re-created with the same ownership)

[2015-11-10 11:42] marceloschmidt commented on #1370
I'll change the topic and keep this issue as a request for making a P2P room into a Private Group. Currently it's not supported.

[2015-11-10 11:43] engelgabriel commented on #1336
@marceloschmidt the two things are unrelated. Collaborator's participation in the project is a *long term* commitment with much stricter rules. Bounties are just another channel for *short term* contribution from non developers. The team seems to be both worried about too much bounty and too little bounty at the same time. Let's the data show us.

We already have developers submitting PRs to fix i

[2015-11-10 11:53] neurobe commented on #1336
Bounties might also drive people away from an issue for fear of being seen as mercenary - a traitor to the cause. Those individuals can always donate the money to the project's consolidated revenue fund.

@marceloschmidt  if Issues are scrutinised by the core team before Feature Request or Bug Report tags get applied - scrutinised for consistency with project direction - then your concerns are add

[2015-11-10 13:16] engelgabriel commented on #1336
@neurobe are you refering to https://github.com/RocketChat/Rocket.Chat/issues/1366?
I am OK with it, if it will be done via an optional package, at least until it gets stable and well understood. It is definitely a nice to have, but not the focus of our core team, so a bounty may help you getting that done.

Alternatively, when people really need something done, they can contact me and get a quote

[2015-11-10 13:16] #1336 closed

[2015-11-10 13:18] engelgabriel commented on #1337
This may be help in the future:
https://devcenter.heroku.com/articles/dyno-metadata-staging?preview=1

[2015-11-10 13:22] engelgabriel commented on #1337
@nickeblewis make sure you added  https:// to the beginning of you ROOT_URL

[2015-11-10 13:24] engelgabriel opened #1371 "Auto configure ROOT_URL for Heroku based on App Name"
This may be help in the future:
https://devcenter.heroku.com/articles/dyno-metadata-staging?preview=1

So this stop happening https://github.com/RocketChat/Rocket.Chat/issues/1337

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28125657-auto-configure-root_url-for-heroku-based-on-app-name?utm_campaign=plugin&utm_content=tracker%2F168

[2015-11-10 13:25] engelgabriel commented on #1337
I'll close thins in favor of https://github.com/RocketChat/Rocket.Chat/issues/1371

[2015-11-10 13:25] #1337 closed

[2015-11-10 13:38] VoidAndAny commented on #1340
@capensisma sorry I didn't seen your answer before make mine.

node command works fine, it open a node console, node --version return the correct version of node (chosen with nave)

[2015-11-10 13:38] engelgabriel commented on #1370
This is not possible and doesn't make much sense if you really think about it... that's why other chat apps don't support this either. On the best case scenario, it will create a NEW room with the extra users.

[2015-11-10 13:38] #1370 closed

[2015-11-10 13:43] #1333 closed

[2015-11-10 14:02] engelgabriel commented on #1222
Thinking about this bug, I think the issue is deeper than just cache.

The avatar url is build with the username, so if you change the username, we have to update all the src attribute of avatars img tags on the screen of the online users, at the same time we update the username itself.

@rodrigok can you check if we are doing that at all?

I know we do that when a user update its Avatar, so maybe

[2015-11-10 15:43] blaskovicz commented on #1222
Maybe it makes more sense to look up the user avatar based on their `_id`?

[2015-11-10 15:47] engelgabriel commented on #1222
that would add a lot of extra complexity and database lookups... we are trying to keep things as fast and scalable as possible.

[2015-11-10 16:04] geekgonecrazy commented on #1034
@stephenreda that looks pretty useful!  Thanks for sharing

[2015-11-10 16:08] #1358 closed

[2015-11-10 18:34] trashcan commented on #1355
Thanks I ran into the same problem.

[code]
^ resolved it for me