[2018-04-18 17:45] graywolf336 commented on #9628
@mrsimpson my apologies, I totally missed your comment.

[2018-04-18 18:24] shemsargent-rvtd opened #10499 "Android app continuously reconnects"
### Description:
Rocket.Chat Android app connects to our server but continuously reconnects.

### Server Setup Information:
* Version of Rocket.Chat Server: 0.63.1
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: v8.11.1
* mongoDB Version: rocketchat-server.mongo 3.2.7

### Steps to Reproduce:
1.

[2018-04-18 18:33] graywolf336 commented on #9632
@karlprieb when you guys go to do this, please add these convert this pull request to the new style: https://github.com/RocketChat/Rocket.Chat/pull/3635

[2018-04-18 18:46] graywolf336 commented on #10499
I'm going to close this and redirect you to our Android repository: https://github.com/RocketChat/Rocket.Chat.Android

[2018-04-18 18:46] #10499 closed

[2018-04-18 18:59] martinszy opened #10500 "Channel is read only in build 2010"
### Description:

In the new android app, I can't write to channels to which I'm admin.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System:  Android
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:
* Android app version: 2.0.0 build 2010

### Steps to Reproduce:

Use w

[2018-04-18 18:59] graywolf336 commented on #5469
See my comment on #5478

[2018-04-18 18:59] #5469 closed

[2018-04-18 19:50] #9942 closed

[2018-04-18 20:07] graywolf336 commented on #10500
Closing this as this is an andorid app issue: https://github.com/RocketChat/Rocket.Chat.Android/issues

[2018-04-18 20:07] #10500 closed

[2018-04-18 20:08] #9930 closed

[2018-04-18 20:18] martinszy commented on #10500
oops, sorry, wrong repo

[2018-04-18 20:18] graywolf336 commented on #10500
No worries :)

[2018-04-18 20:42] sjk303 commented on #10484
Has this fix been pushed out to 0.63.1 yet? This issue just popped up for us this morning with the release of the new app in the google play store.

[2018-04-18 20:49] rafaelks commented on #10484
@sjk303 Not yet.

[2018-04-18 23:34] #10453 closed

[2018-04-19 01:53] timkinnane commented on #9937
@bizzbyster - I think the middleware is something different in this context. E.g. Watson is an NLP provider that can be used to add attributes to messages being processed by Botkit.

In Botkit terminology, there would be a Rocket.Chat "connector" that negotiates the connection and message formatting, between a Rocket.Chat message stream and the bot's internal logic.

So, taking the example of a Bo

[2018-04-19 02:25] #10398 closed

[2018-04-19 02:51] #10298 closed

[2018-04-19 02:51] #10332 closed

[2018-04-19 04:34] mwinckler commented on #5473
This appears to still be an issue on 0.63.1 (installed via snap). The `From` header is entirely missing on password reset emails, causing them to be rejected by some SMTP servers.

[2018-04-19 05:39] iconist commented on #10493
I am using an organization LDAP and I am not authorized to install any of LDAP software to browse through LDAP records, Is there any way to find sAMAccountName via command line linux?

[2018-04-19 05:51] graywolf336 commented on #10484
Rocket.Chat v0.63.3 is out now which includes the fix for this: https://github.com/RocketChat/Rocket.Chat/releases/tag/0.63.3

[2018-04-19 06:40] 42robots commented on #7967
Is there any update on this cool feature ? Best

[2018-04-19 07:07] bbrauns commented on #10493
have a look at: https://wiki.debian.org/LDAP/LDAPUtils or http://directory.apache.org/studio/downloads.html

[2018-04-19 07:36] banholzer commented on #1209
this works in messages but does this also work in "roster" ?

[2018-04-19 07:42] martinvonwittich commented on #10377
Can confirm:

Version of Rocket.Chat Server: 0.63.2
Operating System: Debian stretch
Deployment Method(snap/docker/tar/etc): tar
Number of Running Instances: 1
DB Replicaset Oplog: Disabled
Node Version: v8.9.3
mongoDB Version: mongodb-org 3.2.17

The user then attempted to change his own name (from "first.lastname" to "firstname.lastname"), and now his account seems to be damaged:

- On top of th

[2018-04-19 09:11] iconist commented on #10493
hi @adipose we have correct sAMAccountName only.but still the issue.

[2018-04-19 09:42] winterstefan commented on #10062
I fully understand, that this is a very tricky issue. Nevertheless, do you have any thought of a possible fix, yet / a schedule when the issue **might be** addressed?

_Would any additional information help you?_

For now, my only approach would be to deactivate the message-dependent WebHook.

[2018-04-19 10:06] mfrancisc opened #10506 "Slack import error [Unknown id for changed: Accounts_AllowedDomainsList]"
### Description:

When trying to import Slack zip file, I got an error.
I think it maybe an issue with slow file downloads.
Channels and Users were imported correctly, it starts to  import messages, when encounters this type of slack export object, it stops with the error listed above:
{
        "type": "message",
        "subtype": "file_share",
        "text": "<@U10K51Q1E> uploaded a file: <htt

[2018-04-19 10:19] hupptechnologies opened #10507 "[ Feature Request ] - Schedule automated chat + media backup to S3 supported storage"
I have a local installation of rocketchat running absolutely fine on our intranet [ Note this was installed via snap ]
I would like to setup routine backup mechanism in which the backup is uploaded to either AWS S3 or DO spaces. or any other supported S3 storage.

So would like to know if there is something already as such that rocket chat supports or this will have to go as a feature request. @

[2018-04-19 12:29] #9817 closed

[2018-04-19 12:29] #10024 closed

[2018-04-19 12:58] bizzbyster commented on #9937
Thanks Tim. I need to digest this. But I get what you mean now. Middleware is definitely the NLP (Watson, Wit.ai, api.ai, etc.) okay got it.

Your step #1 above (botkit bot connects to Rocket.Chat via connector/adapter) is essentially this step: https://github.com/watson-developer-cloud/botkit-middleware/blob/master/examples/simple-bot/simple-bot-slack.js#L30 but for RC instead of Slack, is that c

[2018-04-19 13:02] tuudik commented on #9650
👍

Same with version 0.63.2

[2018-04-19 13:06] gdelavald commented on #9112
This one seems very tricky to reproduce.
@DmitryApollonov @gabrielloberg @mddvul22 @sinteur any other details that could help us tracking down the issue?
User preference and room settings in which they were mentioned that triggered the email would help a lot, please report here if you have that information. Thanks!

[2018-04-19 13:08] timkinnane commented on #9937
Yeah. So Botkit has a built-in [connector for Slack](https://github.com/howdyai/botkit/blob/master/lib/SlackBot.js) and [a few other platforms](https://github.com/howdyai/botkit/tree/master/lib), but we can build our own for Rocket.Chat as addon to allow Botkit conversational methods to interface through Rocket.Chat. I'm not too sure of the particulars, just need to start hacking and see what make

[2018-04-19 13:35] dachnikrus opened #10508 "Permission's bug for creating channels"
### Description:

### Server Setup Information:

- Version of Rocket.Chat Server: 0.62.2
- Operating System: Linux, Debian 9
- Deployment Method(snap/docker/tar/etc): snap
- Number of Running Instances: 1
- DB Replicaset Oplog: none
- Node Version: v8.8.1

### Steps to Reproduce:

1. Make a role e.g. Client, uncheck all permissions, except "View Direct Messages" and View Joined Room
2. User with t

[2018-04-19 13:35] ivangerasimov39 opened #10509 "Notifications"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: 7.4.1708
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: 1
* Node Version: 8.11.1
* mongoDB Version: 2.6.12

### Expected behavior:

If user status is online on Desktop or web, he is received notifications only on Desktop. If user status

[2018-04-19 13:43] graywolf336 commented on #10401
@TwizzyDizzy quite honestly, I forgot about this issue when doing both of the previous releases. 🙈 so, it's not in any of the v63 releases.

@RocketChat/core thoughts on this?

[2018-04-19 13:52] demetriolinares opened #10510 "Search bar overlapping display with buttons"
### Description:

When clicking on Search button, Search bar overlaps with buttons (Search, Directory, View mode, Sort, Create a New Channel)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.2
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version: 8.9.4
* mongoDB Version:

### Steps to Repr

[2018-04-19 14:06] Otiel commented on #9498
I'm confused why this is closed and why you consider that this doesn't need to be fixed.

[2018-04-19 14:11] marceloschmidt commented on #1628
Let's add a "home" link to the three dots menu. If the menu is not available, use an icon to go to "home"

[2018-04-19 14:16] rafaelks opened #10511 "[BUG] Some API/Method is allowing to have "short" field as String"
### Description:

This is a feedback from an Android user:

![screen shot 2018-04-19 at 11 09 43 am](https://user-images.githubusercontent.com/551004/38997113-0ff33cac-43c3-11e8-99d2-a0a3fff44bc0.png)

I guess we need to make sure before creating an attachment, that this field is always boolean.

[2018-04-19 14:25] gdelavald commented on #9498
I think we could work with that, can you open a PR for this change? :)

[2018-04-19 14:28] ear-dev commented on #9937
@timkinnane So if our use case were to talk to/with pre-configured botkit bots, hosted in the cloud, then Rocket.Chat just needs to implement an adapter, and not an actual botkit bot.  As I understand it, that would be different than the current implementation with hubot, where you have implemented both a connector and a hubot bot itself.  Am I understanding that correctly?

[2018-04-19 14:31] Otiel commented on #9498
Sorry, I won't be able to create a PR for this.

(Just to clarify, I was not asking for a quick resolution on this, but simply challenging for the fact that this issue should not be closed)

[2018-04-19 14:35] marceloschmidt commented on #1732
We should add an option to the "View mode" menu.

[2018-04-19 14:36] engelgabriel commented on #1732
![image](https://user-images.githubusercontent.com/1000217/38998372-ce9b5390-43c5-11e8-82e2-b7a769e52845.png)

[2018-04-19 14:38] michielkn-mobitrace commented on #9529
I didn't find how to use the restAPI but using the RealtimeAPI you can use the readMessages method to mark all messages in (a) room(s) as read.

`{"msg":"method","method":"readMessages","params":["roomId"],"id":"0"}`

[2018-04-19 14:44] marceloschmidt commented on #1861
We discussed it and think it would be good to have a button that would nuke all room messages, instead of selecting which ones would be deleted.

[2018-04-19 14:54] kaiiiiiiiii commented on #1664
@achen04 Please go to Admin -> Assets and click the "Apply and refresh all clients" button in the upper right corner to force a refresh on all clients :)

[2018-04-19 14:55] engelgabriel commented on #1685
Can you guys please explain the use case better? Our team does not use Weechat so it is hard for us to make a decision on this feature request.

[2018-04-19 14:57] engelgabriel commented on #1887
We should have 2 themes on the admin interface, Light and Dark. Admins should be able to customize each, and end users would be able to choose between both.

[2018-04-19 14:59] kaiiiiiiiii commented on #10510
I cannot reproduce this error in v0.63.3. Tested with Windows (Desktop Client, Chrome 65.0.3325.181) and Mac (Desktop Client, Chrome 65.0.3325.181).

Can you please provide more informations about your system?

[2018-04-19 15:03] rodrigok commented on #1887
We should have a Theme system with 2 default ones (light and dark) but been able to create another ones. With that we could allow users to select among theses themes.

[2018-04-19 15:03] demetriolinares commented on #10510
@kaiiiiiiiii Thanks for the quick reply!
I updated the case with some data I could collect. Hope it helps.

[2018-04-19 15:15] tomfanning commented on #10166
Me too, what's your solution?

[2018-04-19 15:56] fchiacchiaretta commented on #7611
+1
A deeper integration with jitsi-meet would be great; I currently have my own jitsi-meet server with prosody and would like to programmatically send fixed credentials to prosody from Rocket.Chat.

[2018-04-19 16:11] millerlucas opened #10512 "View mode selection (and so compact mode) disappear."
### Description:

View mode disappear from user preferences.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 3
* DB Replicaset Oplog: Activated
* Node Version: - (official docker image used)
* mongoDB Version: 3.4

### Steps to Reproduce:

Just go to user prefere

[2018-04-19 16:15] demetriolinares commented on #10510
We solved it! There was a wrong value at "Primary Darkest" color. Thanks!

[2018-04-19 16:15] #10510 closed

[2018-04-19 16:28] kaiiiiiiiii commented on #10512
I’ve already fixed that in my PR #10395.

The option will be back with the next release at the beginning of may :)

[2018-04-19 16:29] chuckAtCataworx commented on #10508
I have also noticed this same issue in the add users feature. Accessed when in a channel or room from the top right of the screen.

I think the expected behavior would be to not show the add users button if the permission of the role does not allow them to add users to channels or groups.

[2018-04-19 16:42] chuckAtCataworx commented on #10508
I know how to solve this. I would like to work on it?

[2018-04-19 16:52] c0dzilla commented on #1861
There is a method for this called `cleanChannelHistory` ([here](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/server/methods/cleanChannelHistory.js)) that can delete all messages in a room. It can be accessed at the API route `channels.cleanHistory`. A UI option can be also be added that uses this.

[2018-04-19 18:03] antgel commented on #10434
@TwizzyDizzy Done, good luck. (I'll delete this when you delete yours... :laughing:

[2018-04-19 18:13] xandershelley commented on #8487
Currently having this problem. Nginx reverse proxy + docker image = 3 bubbles indefinitely. Changing the urls to be "/" instead of "/rocketchat" works.

[2018-04-19 18:38] trishan commented on #854
We have an instance of rocketchat that we use and have a similar need for a digest email, perhaps daily mail that summarizes the channel(s) activity and then post to a mailing list. When might the capability to allow for daily digests be available in rocket chat.

[2018-04-19 20:37] kaiiiiiiiii opened #10515 "Cannot find channel in search & directory list when using underscores in channel name"
### Description:

I cannot find any channel with an underscore in it's name when using the search nor can I find it through the directory list. This only happens when special characters in channel names are allowed.

IMO this happens, because underscores get replaced with dashes?!

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Ubuntu
* Deployment Method

[2018-04-19 21:09] ChrisEHOliver opened #10516 "Error: read Econnreset"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 63.3
* Operating System: Centos 7
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:
Rocket.Chat
Version	0.63.3
Database Migration	109
Installed at	Thu Apr 19 2018 12:50:37 GMT-0400 (Eastern Daylight Time)
Uptime	1 hours, 59 minute

[2018-04-19 22:05] rafaelks opened #10518 "[NEW] Let user send "ts" of the message on "chat.sendMessage" REST API"
### Description:

Refers to: https://github.com/RocketChat/Rocket.Chat.iOS/issues/1546

[2018-04-19 22:40] #9961 closed

[2018-04-19 22:43] mrsimpson commented on #6535
For those in control of the database, see [here](https://github.com/assistify/Rocket.Chat/issues/288#issuecomment-382883923)

@geekgonecrazy You seem to have had a similar issue [earlier](https://github.com/RocketChat/Rocket.Chat/blob/develop/server/startup/migrations/v060.js#L11-L16).
In order to improve performance, I implemented it with `aggregate`, see [here](https://github.com/assistify/Rocke

[2018-04-19 22:56] tzar commented on #9498
The problem is it's not followed by nothing - by the time the emoji renderer is called, it looks like this: `<p>:)</p>`. You also can't just wrap it in spaces because there might be several elements generated by the markdown renderer all with the same problem, try this:

[code]

You probably also can't render emoji earlier, because it might mess up the markdown format. The only solution I can see

[2018-04-20 00:04] timkinnane commented on #9937
@ear-dev Not exactly. I don't think Rocket.Chat needs to implement anything, it's all done on the Botkit side. The pre-configured Botkit bots would need to be updated to require and use the Rocket.Chat connector module. I am going to set up the connector project repo early next week to kick things off. I won't be able to complete the development work alone, but hopefully it will make more sense wh

[2018-04-20 02:06] rafaelks commented on #10481
@RocketChat/core Any updates on this one guys?

[2018-04-20 02:40] imtrobin commented on #6812
Reporting same issue

[2018-04-20 03:02] luciofm commented on #10481
We already have hard time on mobile with attributes that are not always the same type like when there is just one value it is an object and when there are more it is an array of objects, fields that you are expecting a boolean and get a String.

on Android, at least, ideally I'd have a model like this
[code]
and that's it, this will auto generate an effiecient mapper from/to Json to Java/Kotlin ob

[2018-04-20 06:01] rsc1975 commented on #9139
I reach out this issue, looking for the possibility to bypass the "domains whitelist", this feature It's really desirable, In our organization all the users are from our mail domain "company.com", however, It's quite usual to invite to external users (from our customers) to collaborate with them in software projects and other cases.

So, maybe an additional parameter like "emails whitelist" additi

[2018-04-20 06:02] seanf opened #10521 "Keyboard autocomplete for @mention affected by mouse position"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 	0.63.1

### Steps to Reproduce:

1. Position the mouse a few lines about the "Message" text input form.
2. Type `@` to trigger autocomplete for `@mention`. (Optional: type a few letters of the username.)
3. Hit Enter to choose the best match

### Expected behavior:

The best match (the first in the list) is selected

[2018-04-20 06:14] rsc1975 opened #10522 "Add emails whitelist for "external" users"
We are evaluating Rocket.chat for our organization and It's cool, probably we use it, however I miss a key feature for enterprise use, the possibility to add external users to our organization, when we have restricted the registry to our company domain:

The proposal is:

* Add an additional "rule" in the Registry section to allow specific emails, something like "emails whitelist", so an admin can

[2018-04-20 07:34] mstruebing commented on #1685
@engelgabriel Weechat is an terminal IRC client. For Slack there is an plugin which (I think) communicates via sockets with slack so you can use slack inside weechat with usual weechat functionality.
https://github.com/wee-slack/wee-slack

We want be able to use rocketchat via weechat.

[2018-04-20 08:41] himbeere opened #10525 ""Disable Embed for Users" not working for mobile clients"
* Version of Rocket.Chat Server: 0.63.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: Yes
* Node Version: 8.9.4
* mongoDB Version: 3.4

### Steps to Reproduce:

1. Add User rocket.cat in "Disable Embed for Users"
2. User rocket.cat as WebHook User
3. Embedded Link Previews are shown on mobile clients

### Expected be

[2018-04-20 09:05] TwizzyDizzy commented on #10512
@rocket-cat close

I see, so https://github.com/RocketChat/Rocket.Chat/pull/10395 belongs to #10326 and has been fixed.

Cheers
Thomas

[2018-04-20 09:05] #10512 closed

[2018-04-20 09:08] TwizzyDizzy commented on #10516
@rocket-cat close

Hi @ChrisEHOliver

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing. Here's why:

* `ECONNRESET` indicates that there is something wrong on (or on the network-layer to) your LDAP-Server

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we

[2018-04-20 09:08] #10516 closed

[2018-04-20 09:23] #10507 closed, assigned to nobody

[2018-04-20 09:28] Wouter0100 commented on #9769
Maybe also looking into data retention for messages, for example? This would help implement the GDPR, see , for example, [here](https://ico.org.uk/for-organisations/guide-to-data-protection/principle-5-retention/).

We should store data as less as possible. Messages is of course a complicated matter I think, but keeping it infinity isn't worth the risk. So for example the ability to set a global "

[2018-04-20 09:37] mootari commented on #9769
@Wouter0100 I disagree. One of the purposes of Rocket.Chat is to provide a searchable archive of past conversations. It can't fulfill that task when all messages are deleted indiscriminately after a fixed amount of time.

I could however see the usefulness of a per-channel setting so that channel owners can decide based on the purpose of the channel which retention time span might be useful.

[2018-04-20 09:42] Wouter0100 commented on #9769
@mootari I do agree and personally I would prefer to store it too - but as the same with e-mail, e-mails with customers should also be deleted after a period of time in some circumstances.

Per-channel with a server-wide default would in that case be an option, I suppose.

[2018-04-20 09:46] TwizzyDizzy commented on #10521
Hi @seanf

Mhhh... I can reproduce your issue on 0.63.3 but I'm not quite sure how to solve it. The folks around @karlprieb probably have an idea. I made this screen capture to illustrate the issue.

![ezgif-2-41f9fd9d81](https://user-images.githubusercontent.com/179595/39044462-7aea0bd0-4490-11e8-8b05-280181bd118e.gif)

Cheers
Thomas

[2018-04-20 10:35] saplla opened #10526 "Add support for passing connection options to Mongo"
### Description:
It's not currently possible to provide [connection settings](http://mongodb.github.io/node-mongodb-native/2.2/reference/connecting/connection-settings/) to the Mongo driver with Rocket Chat. This is required to provide a PEM file and CA cert file if Mongo is configured to only accept connections from clients with valid certs. Simply adding `ssl=true` to the `MONGO_URI` isn't suffi

[2018-04-20 11:39] sampaiodiego commented on #9684
while we don't have a better page to configure pre-chat form fields, I was thinking in just having a toggle to disable the fields we current have.. I was thinking something like this, separate the current "livechat appearance" screen into three major groups (with an accordion style component), what do you think?

![image](https://user-images.githubusercontent.com/8591547/39049016-f8b58e92-4475-11e

[2018-04-20 11:51] #10509 closed

[2018-04-20 11:51] sampaiodiego commented on #10401
we should have included this in some of the hotfixes.. but a release candidate will be cut out today with this included, should it be enough?

[2018-04-20 11:51] ivangerasimov39 commented on #10509
Not actual

[2018-04-20 12:24] TwizzyDizzy commented on #10401
Since release of the next version is basically just around the corner, I think we should just move this to the 0.64.0 milestone. Just my two cents, though...

Cheers
Thomas

[2018-04-20 12:49] rafaelks commented on #10525
Issues opened for the mobile apps, closing here: https://github.com/RocketChat/Rocket.Chat.Android/issues/1145 & https://github.com/RocketChat/Rocket.Chat.iOS/issues/1573.

[2018-04-20 12:49] #10525 closed

[2018-04-20 13:30] aziz75012 commented on #9634
hello,
Did you ever resolve this? I am getting the same thing.

[2018-04-20 14:34] djnews24 opened #10527 "Outgoing Integration POST Method send after Connection Close"
### Description:

An Outgoing Integration with a POST Method will not send the Content Correclty:

    return {
      url: request.url,
      headers: request.headers,
      content: "F1=1",
      method: 'POST',
      auth: 'xx:xx'
    };

TCPDump shows:
host: 192.168.0.xxx
content-length: 4
Connection: close

F1=1

Connection: close is send before the content, data or params.

### Server Setup I

[2018-04-20 14:35] engelgabriel commented on #10526
Did you try https://docs.mongodb.com/manual/reference/connection-string/#connection-string-options ?

[2018-04-20 14:39] engelgabriel commented on #10526
We should add a parameter from an environment variable to me merged with the options here:

https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-cors/cors.js#L14

[2018-04-20 14:50] pfunk1978 commented on #8311
@MartinSchoeler Just checking in on this issue. Still happening in 0.63

[2018-04-20 14:51] graywolf336 commented on #6365
I am going to close this issue. We used to offer consulting for customizing our product, however we have shifted our vision and are no longer offering this service. With that said, we have partners which will do that and you can find more information about that here: https://rocket.chat/partners

[2018-04-20 14:51] #6365 closed

[2018-04-20 15:31] rodrigok commented on #4265
@engelgabriel can you explain why do we need to change?

[2018-04-20 16:35] markwooff commented on #10490
Agreed the setting should be "true" by default, this has caused a lot of confusion for our Android users. At first glance, it appears as if all their conversations have been lost.

[2018-04-20 17:11] karlprieb commented on #10521
Thank you @seanf for your report 😄 👍
We will take a look on that, but we don't plan to fix that in the next 2 releases.

[2018-04-20 18:28] HammyHavoc opened #10530 "Voice messaging does not work anymore"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: 4.13.0-37-generic
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.11.1
* mongoDB Version:

### Steps to Reproduce:

1. Record a voice message
2. Play it back
3. Sit baffled in silence for hours on end 😣

### E

[2018-04-20 18:39] javi076 opened #10531 "Permission to Manage custom emojis"
### Description:

We add manage-emoji permission to user role, but they can't see administration option on menu.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.2
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 4
* DB Replicaset Oplog:
* Node Version: 8.9.4
* mongoDB Version:

### Steps to Reproduce:

1. Add permission "

[2018-04-20 18:47] kaiiiiiiiii commented on #10531
Duplicate of #9865

This will be fixed with the next release :)

[2018-04-20 18:55] javi076 commented on #10531
Thanks!

[2018-04-20 18:55] #10531 closed

[2018-04-20 18:57] theorenck commented on #10530
Hi @HammyHavoc can you give us a little more context on the problem? From what browser (and version) are you trying to send a voice message?

[2018-04-20 18:59] HammyHavoc commented on #10530
We use the Windows desktop app primarily, but it also doesn't work in Firefox on Windows. x64 on Windows 10's latest build.

[2018-04-20 19:14] SebastienGauthierSVI commented on #10340
Thanks a lots! that's work!

[2018-04-20 19:15] #10340 closed

[2018-04-20 19:55] rudygodoy commented on #6791
I was able to upload the favicon using the latest Firefox. So, the problem seems to be reduced to the desktop app and Safari < 11.1

[2018-04-20 20:03] annstriganova commented on #2877
@graywolf336, it seems like it's impossible to preview images sent using this method:
[code]
![selection_084](https://user-images.githubusercontent.com/20650874/39071137-9c605590-44ee-11e8-8bac-79a432496be1.png)

In addition, the `.bin` extention is added to the attached image name with attempt to download it.
![selection_085](https://user-images.githubusercontent.com/20650874/39071198-dabbd7ce-44

[2018-04-20 20:15] rafaelks commented on #10467
Can you guy send me the URL of your server?

[2018-04-20 20:33] shemsargent-rvtd commented on #10499
Turns out that I needed to pass WebSocket traffic through nginx.

[2018-04-20 20:39] EddEdw opened #10533 "Custom oauth not working in desktop client"
## My Setup
- Operating System: Ubuntu (server)
- Version of Rocket.Chat Server: 0.63.3
- RocketChat+ App Version: 2.10.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description

We host a Rocket.Chat instance behind my company's proxy. This instance connects to our custom oauth provider - no problems there; it works like a charm. But not when starting to

[2018-04-20 22:34] #9785 closed

[2018-04-21 01:43] #9556 closed

[2018-04-21 01:57] #10511 closed

[2018-04-21 02:00] #9767 closed

[2018-04-21 02:00] #9768 closed

[2018-04-21 02:02] #1654 closed

[2018-04-21 03:05] rodrigok opened #10534 "Version 0.64.0"
# Release 0.64.0
We are releasing a new version, this issue will keep track of the progress between the first release candidate (20th of each month) to the final release (27th of each month).

After the 20th of each month we start the release process that ends 7 days after, during that period we enter a Feature Freeze. While in the Feature Freeze, we will only be merging bug fixes and not new feat

[2018-04-21 03:08] geekgonecrazy commented on #6535
Yes this seems to be becoming more and more of an issue.

@rocketchat/core what do you guys think?  This seems to be an issue for a lot of people still.  I had to help someone fix just today. I think we've fixed new cases of this happening... But I think we have a lot of broken still that needs cleaned up

[2018-04-21 06:30] simopaasisalo commented on #10377
I am also seeing this bug with the username change resetting over time, but there are no server errors accompanying it and the user profile seems intact.
On version 0.63.0

We've tried changing the username both from the admin view and the user's own profile settings. It changes for a while, but then resets after some time to the original. Seems to be related to the user logging in or already bein

[2018-04-21 08:30] prohde commented on #1861
I think there is also a need to delete multiple messages in a channel but not all. On my Rocket.Chat instance we have some channels where we discuss things. Some of the messages are important and we want to keep them but several messages could be deleted after some time.

[2018-04-21 08:30] DanielRuf opened #10536 "Travis and drone not enabled?"
I saw the .travis config file but it seems Travis is not running on commits and PRs anymore so is the config file obsolete?

Also drone is not running (anymore).

[2018-04-21 09:39] ivangerasimov39 opened #10538 "RocketChat periodically crashes"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: CentOS 7
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: 0
* Node Version: 8.11.1
* mongoDB Version: 2.6.12

### Steps to Reproduce:

1. to start rocketchat via systemd
2.  after some time, rocketchat crashes

### Relevant logs:
**Rocket

[2018-04-21 09:42] ivangerasimov39 commented on #10538
**ldap-sync**
![image](https://user-images.githubusercontent.com/29921722/39082786-fd5aaff2-4558-11e8-81cc-e4994ba35144.png)

[2018-04-21 10:00] pcm211 opened #10539 "Emails Landing In Spam due to Incorrect Header Formatting"
### Description:

emails being sent from the application is not being correctly formatted
to be precise the FROM : xxxxx

from the Application fails to correctly be sent as input to the mongodb ---- hence all mails being sent via any means ...have incorrect headers and land in SPAM --- others are stopped by mailers itself

### Server Setup Information:

ALL UPTO DATE

### Steps to Reproduce:

1. B

[2018-04-21 10:01] pcm211 commented on #10539
the workaround is do directly go to mongo and update the "from email"

[2018-04-21 10:08] ivangerasimov39 commented on #10538
again
![image](https://user-images.githubusercontent.com/29921722/39082991-a128565e-455c-11e8-94ad-ca04c1f3b8cc.png)

[2018-04-21 10:30] ivangerasimov39 opened #10540 "Can I send message all except some persons?"
### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0
* Operating System:  CentOS 7
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: 0
* Node Version: 8.9.4
* mongoDB Version: 2.6.12

### Actual behavior:

I want to send direct messages all except some persons
**example:**

[2018-04-21 12:47] ruKurz commented on #10494
@ThomasRoehl is currently working on this issue  here: https://github.com/assistify/Rocket.Chat/pull/318 we will start a PR soon.

[2018-04-21 12:58] propertunist opened #10541 "Unable to change CSS values"
### Description:

If I change values for CSS settings for the theme for Rocket chat using the usual admin interface for CSS changes, the changes are saved in the admin area but do not take effect in the UI.

I have restarted php-fpm, nginx and rocketchat. I have upgraded to various versions (am now on the latest beta) and have cleared browser caches and used different browsers. Every time I change

[2018-04-21 13:02] propertunist commented on #10541
I have tried hitting 'reset' as described here: https://github.com/RocketChat/Rocket.Chat/issues/4004
but it made no  difference.

[2018-04-21 13:38] WoWzee commented on #8428
What is the progress on this feature for ANTI-ABUSE ? Also logging of ip addresses for abuse / DMCA requests. I did see a post relating to a modification for ip logging.

This patch adds a n IP log collection to your rocket.chat.
[code]

[2018-04-21 13:49] WoWzee opened #10542 "Add reCAPTCHA - IP LOGGING for DMCA requests"
Running: RocketChat 0.63.3

I am looking to see if anyone is working on adding reCAPTCHA On registration page as there is no captcha. What's to prevent a bot that runs on nodejs to enter and spam the chat to oblivion... when no staff are around? Also what about DMCA takedown requests and actions for illegal content posted, are any IP logging features in the requests section or modifications that c

[2018-04-21 14:28] andysavage commented on #5142
Hi, Could someone post instructions here, please? A search returns this page but no actual page with instructions, and the 2 above are 404 so at least if it is here people will be able to find it. Thanks

[2018-04-21 18:11] abhishek71994 commented on #9771
@karlprieb I would like to work on this. But last time I couldn't recreate the bug. Some help?

[2018-04-21 19:56] TwizzyDizzy commented on #10539
@pcm211 please adhere to the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (all up to date will not be true anymore in a few weeks) and post some actual header lines.

Cheers
Thomas

[2018-04-22 00:52] cardoso opened #10546 "[BUG][API] /api/v1/settings.oauth identifier field inconsistency"
Getting inconsistent results from our new REST API.

Identifier comes as _id:
[code]

Identifier comes as id:
[code]

Perhaps when it's a custom oauth it's coming as "_id" and when it's a built-in oauth it's coming as "id".

**Let's make everything "_id". Other v1 endpoints are using "_id" like /api/v1/custom-emoji.**

[2018-04-22 00:57] cardoso commented on #10546
Causing this bug on iOS: https://github.com/RocketChat/Rocket.Chat.iOS/issues/1577

[2018-04-22 03:33] JSzaszvari commented on #10541
Can you give a specific example of something you are trying to change?

[2018-04-22 03:43] JSzaszvari commented on #10542
@rocket-cat add label enhancement

[2018-04-22 03:43] JSzaszvari commented on #10542
@rocket-cat label add enhancement

[2018-04-22 13:50] propertunist opened #10547 "RocketChat / MongoDB is crashing every 24 hours"
### Description:

For the last few weeks I have found that my instance of Rocketchat crashes over night, every 24 hours (roughly). I have to restart the mongod process on the fedora based server and then all is well again for another 24 hours. I have upgraded Rocketchat a few times but it made no difference. I suspect the problem is with Mongodb, but having tried a few fixes with that too that did

[2018-04-22 13:59] propertunist commented on #10547
I should point out that as far as I can see there is plenty of HD space left on the server in all the locations I have checked.

[2018-04-22 14:34] graywolf336 commented on #10546
@MarcosSpessatto let's for this and get it merged this week, as it's a regression due to the newly added endpoint

[2018-04-22 15:02] himbeere opened #10548 "[0.64.0-rc1] email verification link leads to mongodb error"
### Description:

When a  new user hits the email verification link he gets after registering a server error 500 is shown. Additionally in the rocketchat error log i see:

`
Exception while invoking method 'verifyEmail' MongoError: The positional operator did not find the match needed from the query. Unexpa
nded update: emails.$.verified
    at Function.MongoError.create (/opt/rocketchat-0.64.0-rc

[2018-04-22 17:10] pcm211 commented on #10547
handle-write: pwrite: failed to write 4096 bytes at offset 28672: No space left on device

Its Coz you maybe having free space but its not formatted as it could have been made later as an afterthoought in the VM and the HDD hasnt expanded accordingly. Id suggest use a partition tool as gparted etc to realign the free space

[2018-04-22 20:58] golflima commented on #9339
As a workaroud, https://github.com/42wim/matterbridge allows to connect multiple Slack channels to one (or multiple) RocketChat channel(s).

[2018-04-22 22:00] kaiiiiiiiii commented on #10492
I’ve submitted a PR for that :)

[2018-04-22 23:02] kaiiiiiiiii commented on #10185
@theorenck Can you please close this issue and remove the milestone? The issue has been fixed in PR #10435 which has already been merged.

Thanks :)

[2018-04-23 05:30] TwizzyDizzy commented on #10538
@rocket-cat close

Please downgrade to nodejs 8.9.4. For details, see https://github.com/RocketChat/Rocket.Chat/issues/10331

Cheers
Thomas

[2018-04-23 05:31] #10538 closed

[2018-04-23 05:47] TwizzyDizzy commented on #10527
If you can, could you provide a filtered `.pcap` file from tcpdump? I think that might help to illustrate the problem a bit more :)

Cheers & thanks
Thomas

[2018-04-23 08:34] marbetschar commented on #7057
@all seems like we may unltimately need the Rocket.Chat / Smooch integration; and maybe I can work on this (not sure yet, have to do further clarification on internal needs first).

Who's willing to help in any way to get this done? @graywolf336, @JannikZed, @tezukzai is this still a need for you?

[2018-04-23 08:34] TwizzyDizzy commented on #10538
Just as a sidenote: we are thankful for any bug report, really, but please do send logs as plaintext, not as image :)

Cheers
Thomas

[2018-04-23 09:07] rasos commented on #604
Where can I define, which public channels are listed in the left column when arriving anonymously at the start page? Currently I see "undefined" only and directory does not allow to search (which is okay for users, but it should list public channels).

[2018-04-23 09:33] djnews24 commented on #10527
Hi i would but i am not allowed to do this on the business network here. sorry :(
anything else i could do?

[2018-04-23 09:35] rasos commented on #604
@lunitic tnx, but where do I set a channel room to become default? Can't find it in any menu. We're on RC 0.62. I only can set it as favorite which is a per user setting.

[2018-04-23 10:04] TwizzyDizzy commented on #10547
@rocket-cat close

Hey folks,

this is clearly no bug, so I'm closing this. Feel free to continue this conversation over at https://forums.rocket.chat/c/community-support or https://open.rocket.chat/channel/support though...

Cheers
Thomas

[2018-04-23 10:04] #10547 closed

[2018-04-23 10:04] TwizzyDizzy commented on #6535
Hi Aaron

Nope, this has been an issue all that time... it's just that nobody cared ;)

Is there proof? My feeling is the same. Though I think there may still be cases that cause this in the LDAP/User sync or import contexts...

Most definately. I think it might make sense to go about it this way:

* create an official solution in terms of "this is how you fix this problem"
* close all issues that

[2018-04-23 10:26] JannikZed commented on #7057
Hi @marbetschar. It's still a need of us. We have on the long-term plan the idea to use smooch on customers websites with rocket.chat & CRM backend for live chat. I never developed any rocket.chat feature & just know smooch and rocket chat from the admin perspective. The smooch api itself is well documented.

[2018-04-23 10:36] marbetschar commented on #7057
https://www.bountysource.com/issues/45481510-smooch-io-integration

[2018-04-23 10:47] Xarkam opened #10552 "Image has shrunk to nothing"
### Description:
I try to paste picture of 1300 width pixels. (and height of 25px)
### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: ubuntu 16.04.4
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances:  1
* DB Replicaset Oplog: active
* Node Version: 8.9.3
* mongoDB Version: 3.2

### Steps to Reproduce:
Take picture of 1300 width p

[2018-04-23 10:58] TwizzyDizzy commented on #10536
@rocket-cat close

Seems to be suited more for the [chat](https://open.rocket.chat/channel/support rather than Github.

As for Travis: I don't think it's used anymore, guess the guys have switched to CircleCI. Drone I don't know.

Cheers
Thomas

[2018-04-23 10:58] #10536 closed

[2018-04-23 11:11] bbrauns commented on #10493
@iconist please install the correct ldap cmdline tools for your distribution and check locally on your rocket.chat server that you can successfully query/bind a user. Examples: https://www.digitalocean.com/community/tutorials/how-to-manage-and-use-ldap-servers-with-openldap-utilities#using-ldapsearch-to-query-the-dit-and-lookup-entries

[2018-04-23 11:12] TwizzyDizzy commented on #10552
@rocket-cat label add "type: bug"

I can confirm this on `0.64.0-rc.1`. Guess on resizing images that have extreme ratios leads to either side of the image being zero when generating the preview.

Cheers
Thomas

[2018-04-23 15:05] flantascience commented on #604
If you set them as "default" channels, I think they will show up
automatically.

Jim Flannery

jim-flannery.com
p. 860-578-4966
e. jim@jim-flannery.com
s. jim_flannery

On Mon, Apr 23, 2018 at 5:07 AM, Roland <notifications@github.com> wrote:

[2018-04-23 15:45] axis78 commented on #10548
+1
Right the same problem.

Version of Rocket.Chat Server: 0.62.1
Operating System: Centos 7 Linux
Deployment Method(snap/docker/tar/etc): tar
Number of Running Instances: 1
Node Version: 8.9.3
mongoDB Version: 3.6.4

[2018-04-23 16:42] BcTpe4HbIu opened #10556 "Error after SAML authentication"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: CentOS 7
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: No
* Node Version: 8.9.3 - x64
* mongoDB Version: 3.6

### Steps to Reproduce:

1. Configure SAML with ADFS 2012
2. Try to login
3. Get error in popup: TypeError: Cannot read pr

[2018-04-23 17:10] cardoso opened #10557 "[BUG][API] /api/v1/settings.oauth Twitter missing clientId"
https://open.rocket.chat/api/v1/settings.oauth

Twitter is the only OAuth that doesn't come with a "clientId"

I think in the DB it's stored as "consumerKey". Maybe we're not mapping it correctly?

[2018-04-23 18:17] tmckinne opened #10562 "I've install rocketchat via snap on centos 7, how do I login to the mongo db?"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:  0.63.3
* Operating System: CentOS Linux release 7.4.1708 (Core)
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-04-23 18:25] MartinSchoeler commented on #10562
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-04-23 18:25] #10562 closed

[2018-04-23 19:01] rafaelks opened #10563 "[BUG] Mention parsing doesn't work when ending with a dot (.)"
### Description:

Mentions aren't working when sending messages and the mention follows a ".".

It does affect the RealTime and REST APIs.

Example:

![img_0061](https://user-images.githubusercontent.com/551004/39147218-71432946-470f-11e8-8a72-931ed2c77043.jpg)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0-rc1
* Operating System: Linux

[2018-04-23 19:32] #10557 closed

[2018-04-23 20:53] Lawri-van-Buel commented on #10542
Ip logging should be done in the Webserver, reCaptcha could be implemented though the use of a seperated (oauth) login provider. Drupal can do this for example, or gitlab, or github, or google... you get the idea.

[2018-04-23 20:53] sampaiodiego commented on #6535
what do you guys think is a good solution for this?

* delete all subscriptions of the removed user? doing this other people will not be able to see old messages with that user.. so, we don't even need to keep messages from that subscription's room
* allowing users to still see messages of the removed user but showing somewhere the user was removed?

1st solution is the easiest from a development

[2018-04-23 21:03] kaiiiiiiiii commented on #6535
“2nd solution might be hard to implement (but not that much) and is very user friendly IMO, no migration is needed since it is mostly front-end work.”

Wasn’t that functionality already introduced with PR #9947?

“Keep (don't remove any message)”

[2018-04-23 21:39] graywolf336 commented on #10058
To be honest, this would be a better App than something in the core of Rocket.Chat. In fact, it's currently possible with the status of the Apps Framework is.

[2018-04-23 22:13] BcTpe4HbIu commented on #10556
Problem is that [search for signature tag](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/meteor-accounts-saml/saml_utils.js#L234) returning nothing, because whole assertion is encrypted.

So now the question is encrypted assertion supported?

[2018-04-23 22:14] BcTpe4HbIu commented on #10556
@Bill81710 (from #2770) is your saml response encrypted?

[2018-04-23 22:35] WoWzee commented on #10542
@Lawri-van-Buel yes but that is beyond the capabilities of people installing via snap. Surely these features inbuilt would be great additions.

[2018-04-23 22:58] sampaiodiego commented on #6535
@kaiiiiiiiii partially.. that PR will remove deleted user's messages, but this issue will still happen since the subscription record will not be deleted.

[2018-04-24 00:43] timkinnane commented on #10466
Still happening but only in my main laptop chrome, another laptop with same OS and chrome plugins has no problem. I have a suspicion it's effecting only users who run their own local instances. Perhaps there's something added to the browser store from my dev rocket.chat that conflicts with the open server.

When I last got a room with disappeared message, I had 50 of these errors:

[code]

That's

[2018-04-24 01:02] Lawri-van-Buel commented on #10542
imho anyone using snap should not be doing anything that would warrant a DMCA request. Also  when utilizing an different file-storage backend than gridfs (like s3 or minio) you could dimply delete the files directly from the storage backend. Rocket already has ways to delete messages though the use of admins or moderators.
I am not against implementing them in Rocketchat but I do believe that its

[2018-04-24 05:10] geekgonecrazy commented on #9340
I'd say if you are handling basic auth...then you should also handle logging in too.  Maybe a login token or something

[2018-04-24 05:27] AmirHadifar commented on #6030
Same issue as @NoahDragon
hubot help not working in livechat. It respond to General channels but not livechat.

Any fix on this?

[2018-04-24 07:38] TwizzyDizzy commented on #10563
@rocket-cat close

Hi @rafaelks,

no offense, but your issue is a dupe of https://github.com/RocketChat/Rocket.Chat/issues/956 tuat already has some discussion in it, so I'm gonna close yours.

Cheers
Thomas

[2018-04-24 07:38] #10563 closed

[2018-04-24 07:50] mrsimpson commented on #6535
@sampaiodiego I didn't get what you objected with your first idea:

From what I understood, there are corrupt subscriptions: the user subscribed does not exist anymore, e. g. since he's been renamed. Removing them will not result in any loss of data, since the subscription was anyway not applicable for the renamed user. And messages are not deleted either when purging the subscriptions from the da

[2018-04-24 08:01] stevenroose commented on #404
It would be awesome to see a version of Rocket.Chat that is built entirely on an XMPP server, not needing its own server. That would allow the Rocket.Chat devs to focus on front-end development while leveraging a server infrastructure like ejabberd for the backend.

[2018-04-24 08:05] zenglicheng commented on #8539
Hi,
I have a similar issue starting rocketchat-caddy service. The journal entry for the failure is:

Activating privacy features... 2018/04/24 17:58:09 open /root/snap/rocketchat-server/1254/.caddy/acme/acme-v02.api.letsencrypt.org/sites/<MY_DNS_NAME>/<MY_DNS_NAME>.crt: no such file or directory

I used nautilus to observe the directory of  /root/snap/rocketchat-server/1254/.caddy/acme/acme-v02.ap

[2018-04-24 08:35] 707eric commented on #8539
What are the contents of you Caddy file?

It should be located in
/var/snap/rocketchat-server/current/Caddyfile

[2018-04-24 09:02] TwizzyDizzy commented on #10345
According to @karlprieb in #10413 this has been fixed in https://github.com/RocketChat/Rocket.Chat/pull/10428/files#diff-92fd73d8cfe56ee2a12def0e2d8e3ffbR35. I can confirm that this issue does not exist anymore in 0.64.0-rc.2.

Cheers
Thomas

[2018-04-24 09:02] #10345 closed

[2018-04-24 09:29] TheReal1604 commented on #10170
@theorenck @maxdang365 some news on this? I try to setup ldap customfields but also with the help of @frdmn I am not able to sync them into rocket.chat. (They doesnt appear in MongoDB)

Any thoughts?

[2018-04-24 09:39] ph1p opened #10568 "[0.64.0-rc.2] Expected Array in field attachments"
### Description:

No integration seems to work.
For example, I got an error by using the giphy integration. (https://github.com/FinndropStudios/GifRocket)
Additional: No one can create a message, when alias is empty in user settings.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0-rc.2
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc):  docker
* Number of R

[2018-04-24 09:40] BcTpe4HbIu commented on #10556
Anyway, solved for me by removing public/private key from saml settings. This disabled encryption on ADSF side and auth worked.

Probably this must be documented somewhere?

[2018-04-24 09:55] WoWzee commented on #8284
#10542

[2018-04-24 09:56] WoWzee commented on #2885
Add reCAPTCHA - IP LOGGING for DMCA requests #10542

[2018-04-24 10:04] exagon opened #10569 "Administrators can't see private groups"
### Description:

When I grant administrative privileges to a users, he can't see all the private group, it is by design ? Because I need to manage users with administrators in all private groups.

Thanks a lot.
EXA

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): manual
* Number of Running Instances:

[2018-04-24 10:25] AmirHadifar commented on #6030
Thanks for your answer. My problem fixed when I set hubot as a only agent of livechat.

[2018-04-24 10:26] sfmarques opened #10570 "E-Mail notifications to channel/room not working"
### Description:

Email notifications to users by reference not working

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances:
* DB Replicaset Oplog: Disabled
* Node Version: v8.11.1
* mongoDB Version: 3.0

### Steps to Reproduce:

1. Configure SMTP - it's working
2. Configure

[2018-04-24 11:25] rafaelks commented on #956
Just to mention that this is affecting the mobile apps on sending messages as well:

![39147218-71432946-470f-11e8-8a72-931ed2c77043](https://user-images.githubusercontent.com/551004/39184227-09951f0e-4799-11e8-8544-5d7359d69948.jpg)

[2018-04-24 11:41] benlangfeld commented on #404
@stevenroosse So a little bit like Candy Chat?

[2018-04-24 12:10] stevenroose commented on #404
@benlangfeld Yes, a little bit like [several](https://github.com/digicoop/kaiwa) old [projects](https://conversejs.org/) that [never](https://jwchat.org/) managed to produce any form of acceptable UX :)

[2018-04-24 12:51] Gandalf-the-Grey commented on #10542
which would be useless unless you have means to assign IP to username
lack of features that can help fighting abuse is most ridiculous design choice in Rocket.Chat

[2018-04-24 13:24] exagon opened #10572 "Chrome enable notification"
Hi, i've a problem with notifications.

On my account I see :
![image](https://user-images.githubusercontent.com/2110701/39189675-14a88a54-47d3-11e8-84a1-9a7f88119595.png)

but when I go on site setting I see :

![image](https://user-images.githubusercontent.com/2110701/39189831-814449c8-47d3-11e8-9739-6c4856f2a2a2.png)

the notification ara blocked ? How I can enable ? The chat is not configure t

[2018-04-24 13:44] exagon commented on #10569
duplicated, sorry

https://github.com/RocketChat/Rocket.Chat/issues/9611

[2018-04-24 13:44] #10569 closed

[2018-04-24 13:57] Lawri-van-Buel commented on #10542
IP bans are not that glorious either (often have side effects just look at Russia’s ban on telegram and its affect on google. )

And with GDPR requireing that we build rocketchat privacy first ergo only store the minimal amount of PII. Rocketchat has means to limit registrations in several ways and you can block / delete users as admin. That should be more than enough for managing users.

[2018-04-24 14:08] cadetmsv commented on #10232
Fix. After you delete all records from the "Null" in the "CustomFields" field of the "parties.rocketchat_subscribtion" table. There was no error.

[2018-04-24 14:08] #10232 closed

[2018-04-24 15:39] graywolf336 commented on #10568
@ph1p can you go to the integration's history and show a screenshot of the result that errors out?

[2018-04-24 15:42] graywolf336 commented on #10518
Just blindly accepting the timestamp property worries me. If we just accept any timestamp, we could end up allowing people to post in the "past" and then they would be able to insert data into the history that never actually happened back then. We need to accept only timestamps which are within a range from the time they hit the server.

[2018-04-24 15:46] rsimai commented on #2355
To second this feature, we also have that requirement not for technical but legal reasons.

Background: in Germany (and probably other countries) data protection law requires to define a maximum storage time for data. That means we need a reliable way to set an expiry date (e.g. "after 5 years") on all content in all channels.

Ideally there's a global setting as well as by channel settings, to al

[2018-04-24 15:59] WoWzee commented on #10542
@Lawri-van-Buel I am not here to have a war about this - I need a urgent solution to DMCA takedown requests as I have them coming in, I am hoping someone here can provide me with some type of answer or some sort of implementation on the short term to fix these malicious users uploading content they should not. Currently I am powerless to prevent it without closing the system down as Rocket.Chat do

[2018-04-24 16:08] rafaelks commented on #10518
@graywolf336 That's a great point! 👍

[2018-04-24 16:36] WoWzee commented on #10542
sure can i will give it a try.

[2018-04-24 16:40] robertwessen commented on #10518
I too worry about the abuse potential and the loss of chat history integrity of the proposed change.

A longer term solution (proposed by a colleague) to improve disconnects or delays would be two timestamps, one generated on the client when they send and another on the server when it is received. Logic could be built to decide which is best to use if the delta is small. As a new feature though, t

[2018-04-24 17:07] FibreFoX commented on #2355
@rsimai not only germany, with the upcoming GDPR (General Data Protection Regulation) the whole EU is having "new" data protection laws, making the whole history-thing a bit more painful than it might have to.

[2018-04-24 18:50] maih43538 commented on #10552
Mobile

[2018-04-24 18:51] maih43538 commented on #10552
Kết nối tài khoảng google

[2018-04-24 19:09] Hudell commented on #10548
Duplicate of #10149

[2018-04-24 20:28] tharrisonbcg commented on #9339
+1

[2018-04-24 20:33] Hudell commented on #10149
Anybody had this problem with any version prior to 0.62.2?

And do all of you have the setting  "Manually Approve New Users" set to true, or it happens with that setting set to false too?

[2018-04-24 20:35] #10568 closed

[2018-04-24 20:37] #10546 closed

[2018-04-24 20:39] #10492 closed

[2018-04-24 21:36] TwizzyDizzy commented on #10572
@rocket-cat close

Closing this since it is no bug in Rocket.Chat. That being said: indeed it seems to be the case, that Chrome/Chromium does disable some functions if your site is not requested via HTTPS (which - to me - totally makes sense as it's a pretty heavy attack vector). Notifications seem to be one of those functions. Looks like you gonna have to enable SSL.

Cheers
Thomas

[2018-04-24 21:36] #10572 closed

[2018-04-24 21:47] mrsimpson commented on #10416
Just for documentation purposes: This was due to a custom enhancement in our fork where we wanted to propagate the room to the integration

[2018-04-24 21:50] TwizzyDizzy commented on #1463
@timkinnane this is rather similar to #1436, is it not?

Cheers
Thomas

[2018-04-24 21:55] graywolf336 commented on #10416
I am reopening because after some more investigating work, it actually effects our codebase and not just the fork. However, the reason why I failed to see this is because their fork exposes the `room` property on the message sent events. However, this bug effects the room created events and any other events which expose the room data. Pull request incoming.

[2018-04-24 22:03] reetp commented on #10552
I'd seen this on 0.63 but thought it was an isolated incident ion my box.

[2018-04-24 22:11] TwizzyDizzy commented on #10541
@propertunist time to dig deep.

* please tell us your browser version
* watch your browser's javascript console while saving custom CSS settings
* have a look at your browser's calculated CSS classes and see if your changes appear there (and let us know by screenshot)

Otherwise we're not getting anywhere here, I fear.

Cheers & Thanks
Thomas

[2018-04-24 22:27] annstriganova commented on #2877
The issue is **not** reproduced for `.jpeg`.
There is a workaround for `.png`: specify `Content-Type: image/png`
[code]

[2018-04-24 22:28] TwizzyDizzy commented on #10114
As far as I see it, this (#10331) is the issue we need to keep track of, isn't it? Docker files have been downgraded to my knowledge (and will get upgraded once #10331 is done - which is the case when a newer nodejs version is released which fixes the SEGVs).

So this issue is redundant, isn't it? If not, please let me know :)

Cheers
Thomas

[2018-04-24 22:32] adamkwilliams opened #10577 "Cannot properly Search and start chats"
I have provided a link to the video which shows what I am talking about. It is difficult to search and start a chat with someone. I reset app data and it's still not working. This happens on both PC and MAC, as well as App based and Web based.

https://drive.google.com/file/d/1K4NvRgw2PHhOwTPSG3OGNmXSpvkSLQqf/view?usp=sharing

[2018-04-24 22:36] TwizzyDizzy commented on #9993
@rocket-cat

Closing this, since @bbrauns' comment seems to actually be the proper way to go. From what I heard in [this](https://devconfcz2016.sched.com/event/5lz8/docker-versus-systemd) talk you don't want to mix those anyway.

Cheers
Thomas

[2018-04-24 22:41] TwizzyDizzy commented on #10577
@rocket-cat close

Thanks for your video, but please adhere to the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) and give us all the information we need. Otherwise we cannot help you.

Since I've watched your video it might also be a good idea to tell us about which browser (and what version) you're using and whether you have any Custom CSS rule

[2018-04-24 22:41] #10577 closed

[2018-04-24 22:59] TwizzyDizzy commented on #8934
@rocket-cat close

It's very likely that this is something related to your SMTP server. Please have a look at the log files of your mailserver. Without any logs, though, we won't be able to help you. For now I'm closing this.

If this is still an error on your side, please provide additional logs and get back to me. I'll be happy to reopen if this turns out to be a bug after all.

Cheers
Thomas

[2018-04-24 22:59] #8934 closed

[2018-04-24 23:02] TwizzyDizzy commented on #8903
@rocket-cat close

Windows is none of our supported platforms. Please feel free, though, to ask the community in the [forums](https://forums.rocket.chat/c/community-support).

Cheers
Thomas

[2018-04-24 23:02] #8903 closed

[2018-04-24 23:05] TwizzyDizzy commented on #8898
@rocket-cat close

Closing this, since it's no Rocket.Chat bug. Probably related to you VPS provider or your architecture. I'll reopen if this turns out to be a general SNAP error by additional evidence.

Cheers
Thomas

[2018-04-24 23:05] #8898 closed

[2018-04-25 03:15] timkinnane commented on #1463
@TwizzyDizzy Similar, both problems with a dead-end in the login/registration flow. But the circumstances are unique.

[2018-04-25 05:14] maxdwit commented on #6535
Just a quick note here. If you really are in need to have a user repaired, based on the commands provided by  himpich above.
This is what I did to fix *ONE* deleted User to talk to *ANOTHER* existing User:

Soo. What I did to fix the subscription between two users. One of them was deleted. The other had problems to subscribe.
Get a mongo 3.2 shell client and connect it to your mongo db.

From abov

[2018-04-25 07:03] micw commented on #10114
@TwizzyDizzy I'm not exactly sure if it's ther very same issue. While in #10331 users complain about random segfaults, this issue is about a reproducable crash on startup.
Nevertheless, both seems to be related to the nodejs version.

[2018-04-25 07:38] TwizzyDizzy commented on #10114
Mh. Well then I'm just gonna check back here when the newer nodejs version is releases.

Cheers
Thomas

[2018-04-25 07:42] propertunist commented on #10541
@TwizzyDizzy - Sure ok
I am using Firefox 59.0.2 64 Bit on Fedora 27 (however I also get the same result in chromium and windows).

I do see these in the console on initial page load:
[code]
The changes do not appear in the browser's calculated CSS classes. Only the original colour and the formula value for the them appear - my own colour is nowhere to be found.

![selection_059](https://user-imag

[2018-04-25 08:27] simopaasisalo commented on #10149
On our server new users have been able to verify their emails without issues, but previously we had this issue. Unfortunately I don't know what changed, I just remember being surprised that new users could sign in without me interfering.
Version 0.63.0
Mongo 3.4

[2018-04-25 09:30] blessbon commented on #3897
Hello guys. Did anyone manage to make Rocket.Chat work with Keycloak. I have put in the configurations used by @rasos but it's not working. The login screen that I see is for Rocket.Chat it never reaches the Keycloak login screen. And when I try to login, there is no call that goes to Keycloak from Rocket.Chat.

[2018-04-25 09:46] himbeere commented on #10149
Bug still present in 0.64.0-rc3.

[2018-04-25 09:48] arminfelder opened #10578 "add option to limit storage time of messages"
add a default option, for maximum storage duration, as well as an option to limit/extend the setting by user for him self

[2018-04-25 10:04] axis78 commented on #10149
@Hudell

Have this problem on 0.62.1
"Manually Approve New Users"  set to false

[2018-04-25 10:04] blessbon commented on #3897
@bakhtizin could you assist

[2018-04-25 10:13] lakhandewnani commented on #7507
Can anyone confirm if this issue still exists in End-to-End-Encryption branch for Rocket Chat too, or can we confirm in which branch this issue is being fixed.

[2018-04-25 11:04] zenglicheng commented on #8539
Many thanks for your reply, Eric. I tried with your method, but still no luck.

However, I managed to get it working with self-signed certificate.
https://mydomain.com
tls self_signed
proxy / localhost:3000 {
  websocket
  transparent
}

I guess the reason my domain name causes the Caddy service to fail is that, "letsencrypt" service could not generate a SSL certificate for my domain name. And the

[2018-04-25 11:26] rafaelks opened #10579 "[BUG] API to search messages returns inconsistent results"
### Description:

We're implementing search of messages to the next iOS release and we just finished the implementation, while testing we found this:

[code]

[code]

Basically, the first request searches by "Welc" and the second one searches by "Welco". They should've been returning the same results, right? Or is there any reason to not return it?

I've looked into this file but couldn't find any

[2018-04-25 12:02] TheMythPT commented on #10578
That would be hugely appreciated, because would spare us lots of trouble to avoid disk space filling fast.

[2018-04-25 12:15] rafaelks opened #10580 "[BUG] Avatar rendering in JPEG/PNG is wrong in some cases"
### Description:

Examples:

- https://messenger.somoschat.net/avatar/general?format=png
- https://chat.ubegin.com/avatar/general?format=png

Result:

![screen shot 2018-04-25 at 09 15 09](https://user-images.githubusercontent.com/551004/39245118-2cdef6b2-4869-11e8-825f-210220fff2ea.png)

When not asking for any format, it generates correctly.

### Server Setup Information:

* Version of Rocket.Ch

[2018-04-25 12:46] hannes-angst commented on #10199
Found the same error in the freshly installed version 0.63.3 on a centoOS7.

[code]

How did you fix it?

[2018-04-25 12:56] #10518 closed

[2018-04-25 12:58] hannes-angst opened #10581 "Rocket Chat Rest Api Login error (Server error.)"
Issue https://github.com/RocketChat/Rocket.Chat/issues/10199 got closed too soon.

The sytem is the same. Only the Rocket.Chat version is now 0.63.3

[2018-04-25 13:07] hannes-angst commented on #10581
I do not get a direct match to the code.
Best match is `./packages/rocketchat-api/server/api.js`...?

[code]

My guess is that `this.logger` is not defined when called as `this.logger.debug(...)`.

[2018-04-25 13:57] gdelavald opened #10582 "[Windows] Please Add Ability to Change Background, Font Weight, Size for People List and Messages Windows"
@drweb86-work commented on [Wed Apr 25 2018](https://github.com/RocketChat/Rocket.Chat.Electron/issues/713)

Hello

Could you please
- add ability to increase font size and make it bold for contacts list.
- add ability to increase font size for messages panel.
- add ability to set custom background for contacts list (white) and messages window (white or some image).
(as an alternative - probably c

[2018-04-25 14:33] martinvonwittich opened #10583 "Typing a message becomes slower the more lines the message contains"
### Description:

When I type a message that spans several lines, Rocket.Chat becomes very sluggish.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.2
* Operating System: Debian stretch
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v8.9.3
* mongoDB Version: mongodb-org 3.2.17

### Steps to Reprod

[2018-04-25 14:35] martinvonwittich commented on #6789
Links are still broken for me - `["Google"](http://google.com)` is rendered as `&quot;Google&quot;` in our Rocket.Chat.

[2018-04-25 15:37] mirzazeyrek commented on #7419
`rm -rf /root/snap/rocketchat-server/current/.caddy` and then restarting again helped to get rid of this pesky `Start request repeated too quickly` message.

Please let me know if that works for you.

[2018-04-25 16:57] mmarif4u commented on #10580
Issue from Android repo, if it is server related i will close that issue.

https://github.com/RocketChat/Rocket.Chat.Android/issues/1085

[2018-04-25 17:35] antgel opened #10585 "git rebase > git merge when updating feature branches"
As I mentioned in https://github.com/RocketChat/Rocket.Chat.Android/issues/1092, the same applies here. The git log is full of unnecessary merges, especially on a high-traffic project like RC. I guess it will always happen from time to time but @rodrigok what do you think about passing the message on to core contributors?

[2018-04-25 17:35] sampaiodiego commented on #10579
since the default "search method" is using [MongoDB Text Search](https://docs.mongodb.com/manual/text-search/) this is a expected result and not a bug. It was not expected by you because you thought we were using a regex to search, but this is not the default.

to explain what happened on your example, when you searched for `Welcom` MongoDB guessed you're actually looking for `Welcome` and this is

[2018-04-25 17:44] #9125 closed

[2018-04-25 17:47] mrsimpson commented on #7796
@sampaiodiego @monty241 this is not completely fixed by #9802 - unfortunately.
@JSzaszvari, do I assume correctly that you tested with livechat in "least amount" routing configuration?
For the guest pool, there is no notification for the new room created. Once an agent has joined the conversation, it works as expected.

@sampaiodiego in my configuration, I also had to fix a nullpointer, see 21acec

[2018-04-25 17:59] rafaelks commented on #10579
@sampaiodiego Oh that clarifies the difference on the results, thank you!

What should we do on the app or on the API to get the result as expected? The way it works right now is not very friendly to the users IMHO. I understand that the result is smart and we can benefit from it, but searching by "Welco" should return "Welcome" messages IMHO :-)

[2018-04-25 18:13] sampaiodiego commented on #10579
idk why you think searching for "welco" should return "welcome" messages, I mean like, google doesn't do that for example..

IMO the currently results are the expected. but like the web client you can offer an alternative for users to search. On web client we say `you can use regex for the search`, but on mobile apps I think you can have an option to enable "partial results" (or whatever makes mor

[2018-04-25 19:28] sudoman commented on #194
If email invites are ever implemented, they would need to _not_ bypass SSO.

[2018-04-25 19:29] miltonarce commented on #3345
Now it is possible?

[2018-04-25 19:31] TwizzyDizzy commented on #10585
@rocket-cat close

Hi @antgel ... while I do appreciate your involvement (I really do!) I'd really like to not have discussions like this here on Github.

@geekgonecrazy could we have a developer's area in the forums? Currently there seems to be no category for development-focussed discussions like those above. I think there should be one :)

Cheers
Thomas

[2018-04-25 19:32] daradurvs commented on #10149
Hi, my issue has been resolved after RocketChate had been updated via Snap to v.0.63.3
**"Resend verification email"** button in **"My Account"** tab works well now.
Thanks!

[2018-04-25 19:36] antgel commented on #10585
Great idea! Until there's an alternative forum where we can have such discussions, I don't see why we should close this, it will fall between the cracks. Please let me know where is a better place to discuss such matters.

[2018-04-25 19:36] TwizzyDizzy commented on #10583
Mhhhh... I can kinda sorta reproduce this, though while it is noticeable, it doesn't seem to impact me as bad as you (I tried with more than 20 times of your suggested amount of lines). This might be subject to the user's machine (and it's speccs) though. It does get worse though, the more lines there are.

Cheers
Thomas

[2018-04-25 19:47] Lawri-van-Buel commented on #10585
My default git config
[code]

[2018-04-25 20:34] orthoxerox opened #10587 "Clicking a link to a forwarded private message clears the channel history shown."
### Description:

When I paste a quote link from a private channel into a public channel, the timestamp turns into a hyperlink (e,g., http://hostname/group/privatechannel2?msg=J9xtJrkmycDbrQSe8). When I click it, the client stays in the same channel, but all history is erased and I have to log out and back in again to view it.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3

[2018-04-25 21:04] bizzbyster opened #10589 "Mobile app install banners"
When a user clicks a link on their phone to a rocket.chat server URL, it would be great if we could check to see if the phone has the Android or IOS app installed on that device and if not prompt them to install it. These are called "app install banners".

In addition, if I have the app installed, I'd prefer to open the link in my mobile app. Not sure if this is one feature or two.

[2018-04-25 21:06] graywolf336 commented on #10589
I am closing this because feature request, such as this one, are to be requested on the forums. https://forums.rocket.chat/c/feature-requests

[2018-04-25 21:06] #10589 closed

[2018-04-25 21:32] borismedovnik commented on #3061
The above solution works great for external users that are added to rocket chat for specific rooms, however there's one tiny issue. By clicking + button to open the "Create room" dialog, or by clicking Add Users - the user with "view-joined-room" permission is able to enumerate all users in the system by typing characters in the user input box, even though that user can't actually create a room or

[2018-04-25 21:55] pettitto commented on #10581
Haven't had a chance to look at this, but one of my users is having this very same issue.

[2018-04-25 22:09] pettitto commented on #10118
Is this similar to https://github.com/RocketChat/Rocket.Chat/issues/8992 ?

[2018-04-26 03:17] akachapati opened #10590 "Preventing certain roles from DM-ing, inviting, mentioning others"
* Version of Rocket.Chat Server: 0.63.1

We have a business need that requires tweaks to the current permissions setup.

Basically, we have three categories of users - clients, on-prem users, and remote users. We want to prevent our remote users from DM-ing/mentioning client and inviting them to a private group, room. However, they can do all of the above with each other or with on-prem users. To

[2018-04-26 03:32] #9382 closed

[2018-04-26 05:06] 707eric commented on #8539
Oh, in that case you just need to make an A record to the public IP where your server is located. Then  setup NAT and firewall rules  to point to your server and the DNS test will succeed.

I have Caddy working as a proxy for multiple sites . I prefer expose only one point of entry vs multiple.

[2018-04-26 07:42] himbeere commented on #10149
*Sending* the verification mail is not the problem for me. Clicking on the link send by it is.

[2018-04-26 11:08] attrib commented on #3621
@SeanPackham With 0.63.3 I still get auto invited and I can't find any option to change this.

Its only solved for private groups, but not for public channels.

[2018-04-26 12:01] bakhtizin commented on #3897
@blessbon take a look at https://github.com/RocketChat/Rocket.Chat/issues/7418

[2018-04-26 12:25] timkinnane commented on #9937
I've started two repos for the required components, with some declaration in the readme about how they should fit together. I haven't made any working examples, just putting the resources up so the two communities have something to put shared focus on:

- [botkit-rocketchat-connector](https://github.com/RocketChat/botkit-rocketchat-connector)
- [botkit-starter-rocketchat](https://github.com/Rocket

[2018-04-26 13:19] #9358 closed

[2018-04-26 14:15] graywolf336 commented on #2717
Closing due to us having this already built out:

https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-api/server/v1/integrations.js

https://rocket.chat/docs/developer-guides/rest-api/integration/

[2018-04-26 14:15] #2717 closed

[2018-04-26 14:27] graywolf336 commented on #2924
Hey everyone, as @HammyHavoc has said, we actually did add Facebook messenger support to our Livechat features. So, as a result of that I am going to close this.

However, if @mrkrumhausen feels like it doesn't satisfies what he wanted (I'm assuming it does since he linked to Zendesk's and that's what our feature is like), then he is free to open this issue back up again with an updated descriptio

[2018-04-26 14:27] #2924 closed

[2018-04-26 14:29] graywolf336 commented on #2317
I am going to close this one and have marked it as an App Idea. More information will be made public in the coming weeks about what exactly Rocket.Chat Apps are and how they can be used. :)

[2018-04-26 14:29] #2317 closed

[2018-04-26 14:31] #10416 closed

[2018-04-26 14:39] theorenck commented on #10590
Hi @akachapati we will analise your request to understand if we can generalize your specific needs in a way that would be possible to improve our permission/role model and give it more flexibility.

[2018-04-26 14:45] theorenck commented on #10587
Hi @orthoxerox thanks for reporting this problem. Would be much appreciated if you could show this (perhaps a short vid/gif) erratic behavior to us?

[2018-04-26 14:49] sinfosy opened #10592 "unread counter not working via rest api."
Description:
"unreadNotLoaded" counter gives wrong result.
calling rest api via curl:
http://<server-url>/api/v1/groups.history?roomId='<roomId>.'&unreads=true&oldest=2018-01-01

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): extracting tarball, npm install
* Number of Running Instances: 1
* DB

[2018-04-26 16:37] jber1 opened #10593 "Caddy fails to start issues when Snap is refreshed"
I've been running version 62.1 of the Rocket Chat snap on a Ubuntu and everything's been fine, but when the snap refreshes to version 63 I lose connectivity. It seems to be an issue with the Caddy snap. The Caddy file is set up the same way as I had it before, so nothing's changed there. I've tried re initializing it and restarting the service, but that doesn't seem to work. I'm trying to figure o

[2018-04-26 17:56] wghilliard opened #10594 "Google OAuth: redirect_uri_mismatch"
### Description:

When authenticating with Google using OAuth, a 400 error is produced stating that the uri provided by Rocket.Chat does not match the allowed redirect uri(s) specified in the Google API.

[code]

The registered redirect uri(s) in the Google API are:
- `https://<my_rocketchat_server>/_oauth/google`
- and for debugging purposes `https://<my_rocketchat_server>/_oauth/google?close`

I

[2018-04-26 19:42] flaviovs commented on #2084
A super-admin (the guy who installed and manages RC) can always go to the DB and see the messages, so I guess everyone agrees that at this level privacy nonexistent, right?

All that said, the _admin can manage private groups_ use case is a legitimate one, and I also guess that the mixed opinions are because many RC admins are OS admins, and many are not (and I suppose some may not want to give su

[2018-04-27 02:53] xarinatan commented on #4455
hey there, sorry for bumping old threads but this still seemed relevant.
Would it be possible to have the RocketChat version that is available for Sandstorm updated to the latest version? iirc the Sandstorm version is 0.56 or so, and for the new non-cordova app you appear to need at least version 0.63.
Really really digging the portable RC in Sandstorm regardless though! It's amazing to have rocke

[2018-04-27 06:23] xFuture603 opened #10600 "[BUG] CSS Chat now button text is delayed from button"
### Description:
The chat now button text is shifted away from the normal button. The used language is german in my case.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Browser: Google Chrome Version 66 (64-bit) and Mozilla Firefox Version 59.0.2 (64-bit)

### Steps to Reproduce:

1. Navigate to a group channel
2. Scroll up and down until a person pops up for direct mess

[2018-04-27 07:08] szluohua opened #10601 "Create, delete, or delete a user from the room, these operations do not inform everyone to update their rooms cache"
https://github.com/RocketChat/Rocket.Chat/blob/develop/server/publications/room.js
[code]
### See code comments

[2018-04-27 07:28] CoMPaTech opened #10602 "LDAP (re)synchronisation adding new users to channels and avatars missing"
### Description:

When pressing the LDAP (manual) sync button existing (as in, already joined) users don't have their avatar updated while users that never logged in to our rocket.chat server are joining the default channels.

Reason/cause:
Some users are missing their (jpegPhoto) LDAP avatar synced, even when asking them to logout/login again.
Effect:
Trying to synchronize manually (with 'add new

[2018-04-27 07:49] trongthanh opened #10603 "Some i18n.json file name not recognized by tap-i18n"
### Description:

In latest develop build, at the language selection dropdown, we see some language not recognized by tap-i18n so they are displayed as: lc-CC (for example: vi-VN, th-TH) instead of the human-friendly language name.

![screen shot 2018-04-27 at 2 26 35 pm](https://user-images.githubusercontent.com/234226/39350309-fc7a2eea-4a27-11e8-83b7-be4aa39db7d7.png)

AFAIK, tap-i18n uses a [la

[2018-04-27 08:46] rasos commented on #9769
We have discussed the retention policy with users in EU and they would prefer a deletion peroid setting on three levels:

- global setting
- per channel setting
- per user setting

So a user could decided not to keep his/her messages as the provider or the channel admin set as default.

[2018-04-27 08:47] gramou opened #10604 "CSS injection in filename"
### Description:

A user can upload a file with css syntax and change the layout of the chat. This is a persistent issue.

I think it is not critical, so I will post it here.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3

### Steps to Reproduce:

1. Create a file with the following name:
**cat.png');position:absolute;left:-75px;padding-top:1200px;padding-left:1500px;cat.p

[2018-04-27 08:58] RollingAgain opened #10605 "After using Iframe Integration, hiding the left menu, users can't use Iframe integration: Sending commands logout to exit."
![image](https://user-images.githubusercontent.com/36060228/39354108-2d52dfa8-4a3c-11e8-8626-9a151772d336.png)

[2018-04-27 09:05] rasos commented on #9769
Another GDPR issue is showing minimum personal data in the room and directory search. It is configurable site-wide, which fields are taken for the search in admin/Accounts, but not, which fields are shown. Global search and directory serach should be a permission configurable per role.

[2018-04-27 09:26] RollingAgain commented on #10605
using Embedded Layout

[2018-04-27 09:56] lzeng commented on #8539
Eric,

Thanks for the advice. Next step I want to experiment is to embed rochetchat with my website. Do you experience with this? As we know the documentation is quite terse, if you can share an actual example of a custom site embedding RochetChat, that would be great.

regards

[2018-04-27 11:03] ghost opened #10606 "Privacy issue in thumbnail loading behavior"
The Rocket.Chat client currently loads thumbnails of image URLs directly from the host in the URL. I believe this is a serious privacy issue, as it allows malicious users to discover the IP address of any online user by sending them links to images on a server they control. In my view, this ought be remedied by letting the server fetch and proxy image thumbnails—many other chat/messaging applicati

[2018-04-27 12:29] kaiiiiiiiii commented on #10605
@RollingAgain Can you please use the issue template for your request?

Thanks!

[2018-04-27 12:30] kaiiiiiiiii commented on #10604
@gramou Can you please use the issue template for your request?

Thanks!

[2018-04-27 12:58] winterstefan commented on #10604
_Some information, just because I tried it on myself (nevertheless the issue template shall be used to add additional information)._

- I was able to reproduce this issue by every upload of a malicious file.
- I used the UNIX `mv` command to rename file locally.
[code]
- Rocket.Chat version `0.63.3`, tested in the Rocket.Chat UI (no custom integration via API)
- Actual output in my chat room:

![s

[2018-04-27 13:15] kaiiiiiiiii commented on #10604
Ok, under macOS I can also readjust the error.

Hint: Windows replaces the colons in the file name  before saving, as colons are not allowed in filenames. Thus no chance to recreate the error under Windows.

[2018-04-27 14:48] TerrenceLP commented on #2122
Unable to get property 'user' of undefined or null reference
SCRIPT438: Object doesn't support property or method 'createMediaStreamDestination'

This using a Paid TURN/stun twilio servers

[2018-04-27 15:48] viluon commented on #8022
@geekgonecrazy This issue has not been resolved.

[2018-04-27 17:54] MarcosSpessatto commented on #10307
Hi @osfunapps, I tried to simulate your problem, but with the same parameters, the server responds successfully.

My request:
curl -H "Content-type:application/json" http://localhost:3000/api/v1/login -d '{ "serviceName": "facebook", "accessToken": "EAAVw1Dkan4YBAC3iIWm0ucZCESpyxPg5ZA6lwTbsCZAkLsmVBwAA7khAx1jhTKiEBGLJ4978LXtiQhAwCKTXTJR3MAAFelq57VmF3EeHkJ8xzzCXzKYZBEEeD8Q72zBo80cEGqSCT967aZBHtc4RS

[2018-04-27 19:17] mrinaldhar commented on #7507
This issue doesn't exist in the End-to-End-Encryption branch, provided you use E2EE there and not OTR, as that implementation handles file uploads as well.

[2018-04-27 19:25] #10245 closed

[2018-04-27 19:43] renatobecker opened #10609 "Livechat setting not showing correctly"
### Description:

The `Livechat Title Background Color` setting is not appearing as expected in Livechat administrative area.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0
* Operating System: any
* Deployment Method(snap/docker/tar/etc): any
* Number of Running Instances: 1
* DB Replicaset Oplog: yes
* Node Version: 8.11.1
* mongoDB Version: 3.4.10

### Steps to Reproduce

[2018-04-27 19:43] TwizzyDizzy commented on #10606
@rocket-cat close

Though the reasoning for implementing such option is a different one in https://github.com/RocketChat/Rocket.Chat/issues/1775, the outcome would be the same, so I'm closing this in favour of #1775.

Cheers
Thomas

[2018-04-27 19:43] TwizzyDizzy commented on #1775
Just closed #10606 that also wants to this option implemented. The motivation there is privacy, yet the outcome would be the same.

Cheers
Thomas

[2018-04-27 19:50] sometoby commented on #10606
I may be missing something, but that issue is about hiding thumbnails. That's not the feature I suggested. If the server caches and proxies thumbnails, all clients can safely consume thumbnails. It's a much better solution in my view.

An aside: unless hiding thumbnails becomes the default setting, the majority of users won't bother to optimize their settings for privacy and remain just as "vulner

[2018-04-27 19:53] sometoby commented on #1775
Please reopen that issue, @TwizzyDizzy. You misunderstood the suggested feature.

[2018-04-27 20:03] TwizzyDizzy commented on #10606
@rocket-cat open

Nope. You're right. I was missing something. Thanks for pointing it out! :)

Cheers
Thomas

[2018-04-27 20:40] flavio80s opened #10610 "/api/v1/im.list.everyone does not return room usernames as before"
### Description:

/api/v1/im.list.everyone does not return room usernames as before.
I consumed this endpoint in the previous version (if I am not mistaken it is 0.58.3) and json was in accordance with the documentation.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1

[2018-04-27 22:53] Nosferous commented on #3551
@Sing-Li

On OSX:
Command+Shift+V works as a work around to regular Command+V when connected to Rocket.Chat in web browser and if it's loaded in latest versions of Rambox & Franz.

Command+Shift+V/Command+Shift+Option+V does NOT work in Rocket.Chat+ Electron app on OSX. (tested in version 2.10.5)

We do not have any Windows clients really using it so have not ran that test on windows.

Would still

[2018-04-28 00:46] robertwessen commented on #10606
This issue has been reported months ago along with proposed fixes via the published security contact email address. I have a local repo with 90% of the fixes in place and some new features as well. The issue identified here actually goes a little further with greater impact than @sometoby has identified.

[2018-04-28 02:31] mikaelmello commented on #10610
As you can see here, this is the new structure: https://github.com/RocketChat/Rocket.Chat/blob/b5a8e2b04017d8e93a9a7b049c074e9e91aaf58b/packages/rocketchat-api/server/v1/im.js#L269-L274

`count` is the length of the array in `ims`, `offset` is the query defined in the request and `total` is the total amount of direct messages (including those that were not returned in the response).

I will update

[2018-04-28 06:34] eeldwin commented on #10136
I'm experiencing same thing, especially on safari mobile. You can check it on rectmedia.com[rectmedia.com](url)

[2018-04-28 07:22] indrisepos opened #10614 "snap: BIND_IP"
### Description:

I can not setup the BIND_IP parameter in the snap rocketchat-server package. It is need because to prevent the external server access.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System:  Ubuntu 16.04.4
* Deployment Method(snap/docker/tar/etc): snap

### Expected behavior:

sudo snap set rocketchat-server BIND_IP=127.0.0.1
The nmap does not

[2018-04-28 07:50] Gummikavalier commented on #9951
@MartinSchoeler Looks like this problem got worse in 0.64.0. Open.rocket.chat with FF 59.0.2 looks like this currently:

![screenshot from 2018-04-28 10-48-20](https://user-images.githubusercontent.com/6958942/39393757-e1018492-4ad1-11e8-843b-53f648784f7c.png)

[2018-04-28 19:38] graywolf336 commented on #10610
@mikaelmello thanks 👍

[2018-04-28 20:49] himpich opened #10616 "RC instances get stuck after a while after update to 0.64.0"
### Description:
After upgrading from 0.63.3 to 0.64.0 the RC instances get stuck after a while (30-90 minutes).
They still accept the http connection and the request but never deliver any answers. The http connection stays open forever.

This happens with a single instance as well as a 4 instance cluster.

The info-level logoutput shows nothing special, the 'getting stuck' happens at different ti

[2018-04-28 23:29] iprok opened #10617 "File upload integration doesn't work (The dollar ($) prefixed field is not valid for storage)"
Freshly updated to rocket.chat 0.64. Not sure whether is was in earlier versions. I've setup outgoing integration for uploading a file in channel. But when I upload file in the channgel nothing is received in software serving the integration (matterbridge) and I see in rocket chat logs:

[2018-04-28 23:37] ejschenck opened #10618 "RocketChat iOS App can't connect to Server running on Plesk"
### Description:

This may be a repeat of #6465 but when I try to connect the iOS app to our server (running on Docker in Plesk) it says it can't connect.  When I follow the instructions for the nginix directives in the KB:  https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/ it ends up making the app work but breaking the web version of Rocket Chat.

The only

[2018-04-29 02:08] laptopdude90 opened #10619 "Fix General -> Site URL example"
Currently, under Administration -> General -> Site URL, the example, "https://chat.domain.com/", has a trailing slash. This is detrimental because it turns out that when including a trailing slash, pictures don't load on the mobile app.

It would be ideal to either change the example and warn about the slash causing issues, or filter it out behind the scenes. Once I know which one would be preferr

[2018-04-29 08:05] naamaan commented on #7543
Hi,
I'm seeing that the version(0.64) is released here in GitHub, when it's expected to be available for the snaps packages?!
OR should I refresh the installation manually ?
Best regards,

[2018-04-29 09:33] BenWiederhake commented on #10311
Bug still present with `/api/info` saying "0.63.3"

[2018-04-29 11:55] TheMythPT opened #10620 "Lack documentation for multiple instances under Apache"
I've been searching around but I didn't find anything clear (I can be overlooking something, and if this is a duplicated i apologize).
Most part of detailed documentation is related to Nginx, a webserver that I, personally, don't run.
Would be very helpful to have a detailed documentation like this [one](https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-perfor

[2018-04-29 12:44] propertunist commented on #10541
Just updated to RocketChat v64, but no change

[2018-04-29 21:00] BenWiederhake commented on #10311
How it currently works: Apparently, the server does the mention-detection/-collection in `rocketchat-mentions/server/Mentions.js:39`, which calls through to a simple regex-based detection on the source message text in `rocketchat-mentions/Mentions.js:68`.  Apparently, this happens before the markdown-parser had any time to work its magic.

So basing on what I guess how it works, these approaches c

[2018-04-29 22:00] rudygodoy opened #10621 "OAuth: LinkedIn integration broken"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances:  1
* DB Replicaset Oplog: Disabled
* Node Version: 8.9.3
* mongoDB Version:

### Steps to Reproduce:

1. Administration / OAuth
2. Expand LinkedIn and enter relevant configuration
3. Save changes
4. Logout

[2018-04-30 03:57] TheMythPT commented on #8321
This is really an important feature, since not everyone is able to rent machines with tons of disk space.
And using snap to install Rocket.chat, makes impossible to query the MongoDB database to make some sort of hack to delete all the messages `older than X`.
Honestly, I think that an option like this should have been already implemented. It's an option lacking in almost every chat platform like

[2018-04-30 04:03] phlbrz commented on #7743
Hello all,
I know it is an old feature not approved yet, but I think it's a great idea. Thank's to @mjovanovic0 .

Like sync.js store avatar, it could be the same to avoid performance issues when loading the image. e.g.: https://github.com/RocketChat/Rocket.Chat/blob/9f883b897655971cf0533f29190516a2c24d352d/packages/rocketchat-ldap/server/sync.js#L207

Could I use an url that is not an API and usi

[2018-04-30 05:35] timkinnane commented on #10466
The nightmare continues...

![screenshot 2018-04-30 15 28 36](https://user-images.githubusercontent.com/1774379/39415905-b9b2ae64-4c8b-11e8-9884-acec4527ad87.png)

I'm also occasionally getting a `Gateway Timeout` and nothing loads at all.

[2018-04-30 05:54] yfoelling commented on #10616
I´m affected by the same issue :-(

[2018-04-30 06:09] timkinnane commented on #10466
@geekgonecrazy - Could this all be due to latency? Is it possible there's some crucial oversights in async requests that break the UI if resources aren't returned on time. Ideally, I would expect a good experience without latency issues, but for some users they're probably inevitable, so the front-end should at least render properly, even if slowly.

I'm not sure how seriously these concerns are b

[2018-04-30 06:14] lakhandewnani opened #10622 "Creating multiple instances in Rocket Chat"
Requirement :-
We have an app build in Ios/Android which is meant for patient recovery process in which his entire recovery process is being analysed for a particular hospital. A single patient can be admitted to multiple hospitals too. This site contains multiple site feature i.e. we have different back-end databases setup for different hospitals available.

We want to implement Rocket Chat in ou

[2018-04-30 07:36] derjohn commented on #10616
+1

[2018-04-30 08:09] xnextx commented on #7611
+1

[2018-04-30 08:45] himpich commented on #10616
Update: After disabling all integrations, it seems to be stable. Will do further debugging.

[2018-04-30 08:45] mjovanovic0 commented on #7743
@phlbrz As long as the URL returns image binary as payload and correct `Content-Type` header I don't see a reason why you should not use `http(s)://acme.com/${username}.jpg`.

Also regarding storing avatar locally, I would like for that to be an option that admin can choose, as for our use case this is not applicable because users can change their image at any time in image service and we want tha

[2018-04-30 08:48] himbeere commented on #10616
My three installations running fine. But they are not running with docker.

[2018-04-30 10:16] andypost commented on #10616
Same here, nothing useful in logs between container restart
[code]

[2018-04-30 10:34] WoWzee commented on #10542
Will this still work as a workaround?

This patch adds a n IP log collection to your rocket.chat.

diff --git a/server/lib/accounts.js b/server/lib/accounts.js
index 1cffa6d..a185a2a 100644
--- a/server/lib/accounts.js
+++ b/server/lib/accounts.js
@@ -179,6 +179,8 @@ Accounts.validateLoginAttempt(function(login) {
 		return RocketChat.callbacks.run('afterValidateLogin', login);
 	});

+	stockabooL

[2018-04-30 10:40] aspiers commented on #9743
FWIW I still see this with our instance which @rsimai upgraded to 0.63.3.

[2018-04-30 11:27] jbguerraz commented on #10616
@himpich  disabling integrations didn't help here => we did it that way : ```
rs0:PRIMARY> db.rocketchat_integrations.updateMany({}, {$set: {enabled: false}})
{ "acknowledged" : true, "matchedCount" : 35, "modifiedCount" : 34 }
rs0:PRIMARY>

[code]

[2018-04-30 11:41] flavio80s commented on #10610
Hi.
The problem is not with the `offset, total or count`, but with `ims` that not return the name off the room in `usernames` like before, leaving me lost in who is in that room.

[2018-04-30 12:11] ulope commented on #9139
This is also a problem for us for the same reason @rsc1975 mentioned. Signup needs to be restricted to the "local" domains but external users (esp. in guest role with only access to a few channels) need to be able to be added by admins.

We're currently working around this by temporarily removing the whitelisted domains, adding the users, then re-adding the whitelist.

Obviously, that's not a very

[2018-04-30 12:25] JulyIGHOR commented on #8555
There is still issue

`MongoDB shell version: 2.6.10
connecting to: test
Note: you are using a pure-JavaScript implementation of bcrypt.
While this implementation will work correctly, it is known to be
approximately three times slower than the native implementation.
In order to use the native implementation instead, run

  meteor npm install --save bcrypt

in the root directory of your application

[2018-04-30 12:32] rafaelks opened #10623 "Return "/me" results on REST login method"
### Description:

The login APIs could return the result of `/me` with all the other information it returns today, to avoid another call after the login to have all the user information required to show in the app.

[2018-04-30 12:42] Ismaw34 opened #10624 "Unable to start rocketchat RtmClient is not a constructor"
### Description:

Upgraded from release package from 0.63.3 to 0.64.0.
Now the Log says:
Exception in callback of async function: TypeError: RtmClient is not a constructor
    at SlackBridge.connect (/root/bundle/programs/server/packages/rocketchat_slackbridge.js:203:18)
    at SlackBridge.RocketChat.settings.get (/root/bundle/programs/server/packages/rocketchat_slackbridge.js:191:14)
    at Objec

[2018-04-30 13:09] RebootfixesAll commented on #10624
Same issue here. Fedora Server 27
Deployment Method: Manual Installation

[2018-04-30 13:16] reetp commented on #10542
Can this be toggled? I have no desire for it to be mandatory.

Also I don't want recaptcha (Google spyware). If it is a plugin and disabled by default them then fine. But not all of us either want or need it.

[2018-04-30 13:30] tkaefer commented on #8935
No need to downgrade though...
Just don't restore the indices with the data:
`mongorestore --host "mongodb:27017" --drop --noIndexRestore --db rocketchat ...`

You might need to recreate the indices right after with the [reIndex](https://docs.mongodb.com/manual/reference/command/reIndex/) command.

[2018-04-30 13:39] himbeere commented on #10616
It seems we are hit by this bug too now. It only took longer I think. Deactivating integrations seems to fixit for now.

[2018-04-30 14:13] pingutux commented on #10616
Same here after update from 0.63.3 to 0.64.0.

[2018-04-30 14:31] himbeere commented on #10616
Had to go back to 063.x. Problem was getting worse.

[2018-04-30 14:33] himpich commented on #10616
Is a downgrade possible, no migrations?

[2018-04-30 14:36] himbeere commented on #10616
No it's not. Had to restore the mongodb backup from last night. The messages from today are gone.

[2018-04-30 14:50] antgel commented on #10434
@Hudell Thanks for getting back to us on this. On our system, that setting is set to 100, and we don't have (nearly) 100 RC users, so I'm nut sure it's related the issue (but correct me if I've missed something).

[2018-04-30 14:52] andypost commented on #10616
I did the same - restored backup

[2018-04-30 15:11] rodrigok commented on #10616
Thanks for the reports, we are investigating this problem.

[2018-04-30 17:30] Hudell commented on #10434
Have those users verified their email address? As an admin you can check if they did and even mark them as verified if needed.

Rocket.Chat won't send emails if the address is not verified.

[2018-04-30 17:32] antgel commented on #10434
@Hudell I wish it was that. They're all verified (GSuite login only). As per my OP, it seemed to work fine up until a certain date. Anything I can check in Mongo?

[2018-04-30 17:39] Hudell commented on #10434
Other than that, the only things that can disable the emails are the user's preferences (both general and per channel). I'm checking the code to see if I can find anything else.

[2018-04-30 17:41] reetp commented on #2885
Websites usually log via the webserver. Forums and other systems may then use the IP and link it to a user, but that now has consequences due to GDPR

Not necessarily with GDPR. Disclaimers will do absolutely nothing to protect you from your responsibilities to look after the data if is personally identifiable - eg an IP linked to a user.

As per the first comment. And strangely enough not everyon

[2018-04-30 17:58] alireza-salehi commented on #10530
Same issue on windows 10 1709 (build 16.299.371)
---Windows App Version 2.10.5,
---Web version on Chrome 66.0.3359.139 & Firefox 59.0.3

Deployment:
Server Version 0.64.0
CentOs 7 - Release | 3.10.0-693.21.1.el7.x86_64
Node Version | v8.9.3
Running on valid SSL cert with Nginx reverse proxy.

i can send an audio message, but nothing recorded,  when i play the file there is nothing. it is empty.

[2018-04-30 18:08] MarcosSpessatto commented on #10477
Hi @yandzee,

Yes, it is correct.

I'll add these informations in the documentation because it is not there.

As it works today, you can only add private data to any user, if you have previously added it to the admin panel (Accounts -> Registration -> Custom fields).

[2018-04-30 18:55] himbeere commented on #10616
@rodrigok we have just a bunch of incoming webhooks. developers, teams get a Webhook URL and a token and use that to post messages to specific channels.

[2018-04-30 19:00] rodrigok commented on #10616
Other question that could help us on this is:
Did you noticed this behavior happening on version 0.63.3 even in more rare cases?

[2018-04-30 19:02] himbeere commented on #10616
I came from 0.63.1 and had *never* such an error.  Now I'm back to 0.63.1. No complaints. Stable.

[2018-04-30 20:03] himpich commented on #10616
We did not have this problem with 0.63.3 or before.

[2018-04-30 20:41] andypost commented on #10616
I got 1 out webhook and a bunch of incoming
Also found that slack integration broken - it require disable to start container at least

[2018-04-30 20:56] theorenck commented on #9771
@sampaiodiego we are waiting for a definition from design team.

[2018-04-30 21:11] karlprieb opened #10626 "Create permissions for Directory"
We should create a permissions to allow users to access the Directory feature (see just channels or users) and add this check on the sidebar to show or hide this button.

[2018-04-30 21:11] karlprieb commented on #10200
We will fix the private/public channel switch behavior on the Create new channel page, check for permissions to show the create channel button on Directory and [create permissions to allow users to use the Directory feature](https://github.com/RocketChat/Rocket.Chat/issues/10626).

[2018-04-30 21:43] jaytat0 commented on #6786
@timkinnane @slyk Here is a draft of the survey of rich message types that is number 1 in @bizzbyster 's plan of action just above: https://github.com/WideChat/Rocket.Chat.Android/wiki/A-Survey-of-Rich-Messaging-in-Chatbots

[2018-04-30 21:48] bizzbyster commented on #6786
Thanks @jaytat0 !

Please send comments and feedback to the forum thread on this topic, which can be found here: https://forums.rocket.chat/t/supporting-rich-chatbot-messages-menus/528/12.

[2018-04-30 21:56] andypost commented on #10616
About slack integration I got the same error as https://github.com/RocketChat/Rocket.Chat/issues/10624

[2018-04-30 21:59] andypost commented on #10624
I did disable slack integration otherwise no way to run 0.64.0 (migrations does not start)
PS: I'm using docker install

[2018-04-30 22:53] mikaelmello commented on #10610
@flavio80s You are right, sorry I missed that.

Honestly I don't know why this happens, did you try adding a `fields` field on your request body?

@graywolf336 maybe this sould be reopened

[2018-05-01 00:01] skp19 commented on #2162
Was this feature removed? There is currently no link available when no messages are selected.

[2018-05-01 09:06] duckle commented on #3574
@geekgonecrazy . could you share me how to use hubot to answer and transfer the conversation to human. could you help me check what's wrong with following script,
`module.exports = (robot) => {
  robot.respond(/live/i, function(res) {
    const hubotPackage = require.main.require('hubot/package.json')
    const adapterPackage = require.main.require('hubot-rocketchat/package.json')
    const sdkPac

[2018-05-01 10:08] no-nice-username opened #10628 "No notification when starting OTR session"
### Description:

When requesting OTR session another party does not receive any kind of notification and, therefore, most of such requests are being ignored. You have to keep your chat window open to make sure you don't miss the request.

In addition I suggest adding the option to start OTR without any confirmation requests, as most jabber clients do. You don't need any user action to generate OT

[2018-05-01 10:40] macrozone commented on #8512
would be cool to have this!

[2018-05-01 10:42] jeje42 commented on #6003
Hi all,

I could get it work using postman with @faburem 's solution.

In the header, I had to add thew following parameters :
  - Content-Type : application/json
  - Authorization : Bearer xxxxxxx(part of the url after the #)

Thanks a lot !

[2018-05-01 12:41] anvlkv commented on #9019
Hi, in docs it says `event: 'login-with-token'` and here it is `externalCommand`
Of course the one in the docs does nothing and this one works...

[2018-05-01 12:45] reetp commented on #2885
@WebSavvyGuy

[General Data Protection Regulation](https://www.eugdpr.org/)

If you don't know about it then I really suggest you go and read up. Plenty of stuff online about it. It is a game changer for data storage with personally identifiable information, particularly in the EU, but affecting anyone who has contact with EU citizens.

[2018-05-01 13:00] WebSavvyGuy commented on #2885
Well almost the entire internet has to be rewritten then.

How much is enforceable, we would have to wait and see to find out.  As you pointed out, mostly applied to EU.   Also, some common sense has to be applied here.  An IP address does not identify you directly.  A lot of hurdles would have to be taken to get the actual person and even then it may not even be the same person.  It could be a ho

[2018-05-01 14:20] himbeere opened #10629 "0.64.0 direct reply "Reply-To: rocketchat+iFvWMK93FHmeu4yFS@undefined""
### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 2
* DB Replicaset Oplog: yes
* Node Version: 8.9.4
* mongoDB Version: 3.6

### Steps to Reproduce:

1. Configure direct reply
2. Answer to an email
3. Because of the wrong reply-to header message is not send to rocketchat serv

[2018-05-01 14:39] rafaelks opened #10630 "[NEW] REST API to "hide" a room from the list of chats"
### Description:

We're implementing actions on the iOS and Android apps and one of the actions is to hide a room, didn't found any API to do that right now.

[2018-05-01 14:40] rafaelks opened #10631 "[NEW] REST API to "mark as unread" at some point"
### Description:

We need an API to mark a room as unread at some point (I guess what we're using right now is a date value).

[2018-05-01 14:43] adeweever91 opened #10632 "Docker invalid cert error"
### Description:
Docker builds failing due to invaild cert error.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: v8.9.4
* mongoDB Version: 3.6.1

### Steps to Reproduce:

Attempt to build the docker image fails when trying to d

[2018-05-01 14:45] himbeere commented on #10629
same as https://github.com/RocketChat/Rocket.Chat/issues/9564

[2018-05-01 14:45] #10629 closed

[2018-05-01 14:50] reetp commented on #2885
@WebSavvyGuy

Welcome to 2018...

More than you may think. Especially if you are in the EU or have any dealings with the EU. Note other bugs on Rocket for GDPR compliance....

Nope. It's intentional. It's the way it is, and I believe there is case law already in the EU regarding the status of IPs

Yup - they'll all need looking at unless you have zero visitors from the EU. But it's OK. You still h

[2018-05-01 15:37] boblmartens commented on #1824
Are we able to have widgets specific to a department? So on one page we would have the widget for one department and then for another page we could embed the widget for another department?

[2018-05-01 15:56] paulhibbitts commented on #1824
Hi @boblmartens , thanks to @sampaiodiego I recently learned about this capability and added it to the docs:
https://github.com/RocketChat/docs/blob/master/developer-guides/livechat-api/README.md#assign-chats-to-a-specific-department

[2018-05-01 16:10] WoWzee commented on #10542
@reetp Ideally I was thinking more on the lines as a very simple built in recapcha or the option of both. IP Logging facility directly in the admin CP & banning also by ip , with box for reason and notes of the ban. Backed up with a log that can be exported.

[2018-05-01 17:10] engelgabriel opened #10633 "Option to flag users as inactive after X days of inactivity."
- The number of inactivity days should be configurable by the admin (defaults to 14 days).
- Inactive users should be reported on admin panel and to statistics collector.
- Inactive users must stop receiving any type of notifications.
- Subscriptions of inactive users should be also flagged as inactive and filtered out the query that updates mentions counters.

[2018-05-01 20:02] richardwlu commented on #9319
I am on 0.63.2 and this is happening for us where the user needs to send a message or go to another chatroom for it to disappear. Scrolling up to read the messages doesn't hide it and there's no way to manually close it.

@TwizzyDizzy Do you know what the expected behavior is?

[2018-05-01 20:51] richardwlu opened #10634 "User List Panel Showing Incorrect Online/Presence Status"
### Description:

User's online/prescence status is incorrect on the left panel compared to what is being shown when you click into the user message.  It is showing many users are online although they are not online. The user r2z2.api is one of the examples in the screenshot who is impacted.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Linux CentOS 7

[2018-05-01 20:56] richardwlu opened #10635 "Log Error: Cant Mix Remove and Get Fields"
### Description:

The logs show the following error: Can't mix remove and get fields

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Linux CentOS 7
* Deployment Method(snap/docker/tar/etc): manual
* Number of Running Instances: 4
* DB Replicaset Oplog: Enabled
* Node Version: 8.9.3
* mongoDB Version: 3.2

### Steps to Reproduce:

1. Not sure how to repro

[2018-05-01 21:05] richardwlu opened #10636 "Application Web View Not Showing Properly"
### Description:

Upon logging in, users are seeing the app missing just about everything except the toolbar and the logo. This happened in the Chrome browser version 47.0.2526.106.

One user was able to properly bring the view into place:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Linux CentOS 7
* Deployment Method(snap/docker/tar/etc): manual
* Nu

[2018-05-02 00:38] maraaaa commented on #7258
Version:  0.63.2  (upgraded from 0.5 something, 0.53 would be my guess as that's what I wrote the cookbook for)
Database Migration Date | Mon Apr 30 2018 20:27:55 GMT-0600 (MDT)
Installed at | Fri Oct 06 2017 22:10:11 GMT-0600 (MDT)
Node Version: 0.8.3
Running Instances: 1
DB Replicaset OpLog: Default? (no idea what this is, so I'm _guessing_ it's Disabled...)

We're running into something similar

[2018-05-02 03:43] timkinnane commented on #9937
@arthurTemporim - I'd like to assign you this issue as part of your GSOC project but I think you need to comment or subscribe or something first because I can't select you from the list.

[2018-05-02 04:06] timkinnane commented on #5772
@arthurTemporim - same here as #9937

I've invited anyone from the Botpress community slack to join a new #bp-rocketchat channel there and follow this issue too. Hopefully some who are more familiar with that end can reach out and help meet us in the middle.

[2018-05-02 08:48] WebSavvyGuy commented on #2885
@WoWzee

I totally hear you.   Let me know if you find a solution.   We definitely need this feature but it's not going to happen with people striking fear into the developers with this GDPR nonsense.

Some idiot added "IP address" to the list of personal data into the FAQ's and now this is going to get them all paranoid. (which it already has some)

We run a website with tens of thousands of user

[2018-05-02 08:55] s1rl3o commented on #8984
Hi there,

our team would be glad to use this feature in assistfy.
Any news about implementation planning?

[2018-05-02 09:47] traxanos commented on #10616
we have the same problem!

[2018-05-02 10:38] lakhandewnani commented on #10622
@rafaelks  :- Can you please help me over this issue

[2018-05-02 10:44] subesokun commented on #10635
Got the same issue and now RC is crashing permanently. As there has been a DB migration we're also not able to rollback hence this issue is very critical to us!

[2018-05-02 12:07] joshuaspence commented on #10616
I'm also seeing this problem.

[2018-05-02 12:07] lakhandewnani commented on #2304
I have a scenario in my case where I need to have a custom field as a list in which I could insert as well as delete elements . Which type of custom field I should create ?

[2018-05-02 12:27] rafaelks commented on #10622
@lakhandewnani I'm not aware of the usage of Mongo DB in the application, but I can help you with questions regarding the mobile apps if you need to. Are you developing native apps?

[2018-05-02 12:43] flypenguin opened #10637 "RC dies after 3-5 mins with 100% CPU usage"
### Description:

When starting RC it dies about 3-5 mins in by using 100% CPU.
This behavior seems to have started with 0.64.

### Server Setup Information:

* Version of Rocket.Chat Server: *0.64*
* Operating System: *Linux*
* Deployment Method(snap/docker/tar/etc): *docker*
* Number of Running Instances: *1*
* DB Replicaset Oplog: ?
* Node Version: ?
* mongoDB Version: *db version v3.4.4, git v

[2018-05-02 12:50] rafaelks commented on #10580
@geekgonecrazy Did we manage to find the dependency on this case? Then I suppose we can close the issue. 👍

[2018-05-02 12:53] rafaelks commented on #9326
This one can be closed already, thanks @MarcosSpessatto 👍

[2018-05-02 12:53] #9326 closed

[2018-05-02 12:54] reetp commented on #2885
I'm not saying you shouldn't have it.

I just just asked that you bear in mind that there are those of us who are subject to different laws, like it or not, and to respect that fact. The USA is not the only nation on the planet, nor does it have the only set of laws.

GDPR is here. It has been for 2 years. Just that it becomes mandatory on the 25th May. It can't simply be ignored. The EU is a mark

[2018-05-02 12:56] kaiiiiiiiii commented on #10637
Do you use any integrations with RC? If so, this issue is maybe related to #10616

[2018-05-02 12:56] reetp commented on #10542
Again, fine, it it can all be disabled.

Otherwise it will undoubtedly have Googles tracking tentacles everywhere which I personally do not want.

[2018-05-02 13:03] flypenguin commented on #10637
integrations? like webhooks? yes, a couple. it looks very similar indeed.

[2018-05-02 13:45] kaiiiiiiiii commented on #10637
Can you disable all your webhooks to very that it’s related to the other issue?

If it’s related you’ll be fine when #10627 is merged and released (hotfix for #10616).

Cheers

[2018-05-02 13:50] flemse opened #10638 "C19ftMY"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-05-02 13:50] #10638 closed

[2018-05-02 13:58] flypenguin commented on #10637
we just downgraded to 63.3, which restored functionality for our users. I am at a conference and really didnt want to deal with debugging :( . sorry!

I assume it's the same thing and will wait for the fix.

[2018-05-02 14:17] graywolf336 commented on #10635
This isn't an error, it's just a warning. This is due to our cache layer. As it's not an error, I'll be closing this.

[2018-05-02 14:17] #10635 closed

[2018-05-02 15:06] driesmeyers opened #10639 "[error-room-not-found] when trying to add user to a private group from API with [add-user-to-any-p-room] permission"
### Description:

I'm trying to add a registered user to a private group. I'm posting a request via API (https://rocket.chat/docs/developer-guides/rest-api/groups/invite/) with admin credentials. The admin is not a member of the private group but should be able to add another user with the add-user-to-any-p-room permission. I keep getting 'error-room-not-found' as error type. However the request s

[2018-05-02 16:10] jaytat0 commented on #2787
Has this made it into any road map/milestone?

[2018-05-02 16:19] engelgabriel commented on #10481
@MarcosSpessatto we need to make sure all *user preferences* have a default in the *admin settings*, so there is nothing hardcoded on the UI. Should @karlprieb and @ggazzo be involved here?

[2018-05-02 16:22] rafaelks opened #10640 "[NEW] REST API to suggest a new username to the user"
## Description

There's already one Meteor method that does that, we just need to add it to a REST endpoint.

[2018-05-02 16:57] sampaiodiego commented on #10481
@engelgabriel recently we decided to drop the settings for `Desktop Notifications Default Alert` and `Mobile Notifications Default Alert` because there are others server wide settings for the same purpose.

[2018-05-02 16:57] Gummikavalier commented on #10637
We got hit by this too. Disabling integrations did not help.

We traced it to one specific client computer in the network, which timed out and moved from a node to node, putting them all one by one with 100% CPU load. We prevented that client connecting to the server with iptables reject rule, and before getting better look at it, the problem suddenly vanished.

[2018-05-02 17:13] TwizzyDizzy commented on #9319
Well. I'm not a developer here, but my expectation as a user would be: scroll down to the bottom and thereby implicitly assume that I have read everything and remove the red-line marker, as now there's nothing unread anymore. I think that would also be a reasonable expectation.

Cheers
Thomas

[2018-05-02 18:17] richardwlu commented on #10636
@geekgonecrazy Do you think you can help shine some light on this?

[2018-05-02 18:19] segphault opened #10641 "Potentially compromised dependency getcookies (via mailparser)"
### Description:

On April 20, a seemingly routine [dependency update PR](https://github.com/RocketChat/Rocket.Chat/commit/a506ee0e810df9afe5d426915350fbe342fd6415#diff-32607347f8126e6534ebc7ebaec4853dR9717) introduced what appears to be a compromised package.

Updating [`mailparser`](https://www.npmjs.com/package/mailparser) from version 2.2.0 to 2.2.3 pulled in a transitive dependency called `ht

[2018-05-02 18:24] rodrigok opened #10642 "Add settings to enable RocketChat Apps and remove the env vars"
Remove the necessity of environment variables to enable RocketChat and add a setting to enable.
Should be disabled by default.

[2018-05-02 18:32] bosko commented on #10641
This makes it impossible to start Rocket.Chat. After cloning project on Ubuntu 16.04 `meteor npm install` fails with:

[code]

[2018-05-02 19:13] neurolabs opened #10643 "Crash after specific message"
### Description:

Rocket.Chat crashes when trying to send the message:
[code]

### Server Setup Information:

* Rocket.Chat Version: 0.64.0
* NodeJS Version: 8.9.3 - x64
* Platform: linux
* ReplicaSet OpLog: Enabled
* Commit Hash: 2fae79ab10
* Commit Branch: HEAD
* Deployment Method: docker
* Number of Running Instances: 1
* mongoDB Version: 3.2

### Steps to Reproduce:

1. use rocketchat via the

[2018-05-02 19:24] AceSlash opened #10644 "chain crash after update to version 0.63.3"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Ubuntu Xenial x64
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: no
* Node Version: 8.11.1
* mongoDB Version: 3.2.19

Rocketchat is installed in an lxd container.

### Description of the issue.

Upgrade from 0.58.3 to 0.63.3, then wait.

[2018-05-02 19:25] renatobecker commented on #10022
Hi @cmonjeau!
We have already identified what is happening in this case, it's related to a migration that is not working as expected.
I'm working on this to fix it as soon as possible, probably in the next version(0.65).

[2018-05-02 20:25] neurolabs commented on #10643
Tried to test for a regression, but downgrade to 0.63.3 does not work due to db migrations:

[code]

[2018-05-02 20:31] neurolabs commented on #10643
no active integrations (compared to #10637 )

[2018-05-02 20:34] neurolabs commented on #10616
symptoms are the same as #10643 (reproducible)

[2018-05-02 20:35] neurolabs commented on #10637
symptoms are the same as #10643 (reproducible)

[2018-05-02 20:40] archang3l-media commented on #10643
I can reproduce the issue when sending the same message, otherwise the upgrade from 0.63.3 to 0.64 (with a small stop at 0.64-rc4 went fine).

[2018-05-02 22:04] ulope opened #10646 "Support callMethod in internal hubot adapter"
### Description:

The regular rocketchat-hubot adapter supports a [`callMethod`](https://github.com/RocketChat/hubot-rocketchat/blob/8dc9e0c277f66f7c9038f9fa22132e329f0418fd/index.js#L192) extension that allows to call arbitrary meteor methods.
This appears to be missing from the internal hubot adapter making it much less useful.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.6

[2018-05-02 22:08] viroos opened #10647 "some js errors"
### Description:

webview: Uncaught TypeError: Cannot read property 'css' of undefined

### Server Setup Information:

* Version of Rocket.Chat Server:  hosted rocket chat (https://rocket.chat/cloud)
* Operating System: Linux phoenix 4.17.0-1-MANJARO #1 SMP PREEMPT Mon Apr 23 19:48:42 UTC 2018 x86_64 GNU/Linux
* Deployment Method(snap/docker/tar/etc): hosted rocket.chat (https://rocket.chat/cloud)

[2018-05-02 22:30] ulope commented on #10646
I've discovered that `Meteor.call()` is available in internal hubot scripts but unfortunately it doesn't seem possible to use as a replacement.

The following test bot results in an `error-invalid-user` error:

[code]

Log:
[code]

[2018-05-03 00:09] evilpacket commented on #10641
Here is some more context about the mentioned modules. https://blog.npmjs.org/post/173526807575/reported-malicious-module-getcookies

[2018-05-03 03:14] fifou17 commented on #10641
same for me but mine its
npm WARN tar ENOENT: no such file or directory, open '/home/Bureau/m/node_modules/.staging/unset-value-4255578a/package.json'
npm WARN tar ENOENT: no such file or directory, open '/home/Bureau/m/node_modules/.staging/unset-value-4255578a/README.md'
npm WARN tar ENOENT: no such file or directory, open '/home/Bureau/m/node_modules/.staging/unset-value-4255578a/LICENSE'
npm W

[2018-05-03 05:08] lakhandewnani commented on #10622
@rafaelks  - Thanks for your response. The app is already built for us . We are just in-process of integrating Rocket Chat application in your app . Can you please assign this issue to someone who could help me over this issue.

[2018-05-03 05:10] lakhandewnani commented on #10622
@mrinaldhar  - Can you help me over this issue ?

[2018-05-03 05:41] neemanbhat opened #10649 "NEW LOGO DESIGN REQUEST"
Hi, I will like to design a new logo for the app if you allow me to, i will try to keep in mind all the requirements if specified. thankyou

[2018-05-03 06:06] neurolabs commented on #10643
I hope this is also fixed by #10627

[2018-05-03 07:05] misse commented on #216
I have two feature requests for this integration which I can't find any information about,
When connecting rocketchat to an IRC server

- [ ] SSL support
- [ ] Password support

[2018-05-03 07:37] SkyzohKey commented on #8555
I have this issue too...

[2018-05-03 07:38] gd-narola opened #10651 "How to send push notification to web application using rocket.chat rest api?"
I need to integrate rocket chat in asp.net application and trying to understand how we can send push notification in chat after send/post message?

Do I need to use subscribe methods?

[2018-05-03 09:41] odk- commented on #2717
According to link you've pasted this is not closed:

type | webhook-outgoing | Required | The type of integration to create, currently only webhook-outgoingis supported.

Issue is that it's not possible to add incoming integration, like for example: You add new room and set up webhook for JIRA notifications about new issues. For me it looks like this should be still open.

[2018-05-03 09:43] SkyzohKey opened #10653 "[armhf] [Snap] wrong elf class on sharp"
Hey guys, we are trying to move our company away from Slack and we choosed Rocket.Chat. Today I wanted to do some "labs" and install it on a small RPi 3 to make the transition easier, by showing it to other members of the company. But I wasn't able to setup the server as basically the snap package is broken. More informations below:

### Description:

Trying to get Rocket.Chat to run on a RPi 3 /

[2018-05-03 09:43] SkyzohKey commented on #8555
Opened a new issue here: https://github.com/RocketChat/Rocket.Chat/issues/10653

[2018-05-03 11:07] cutzenfriend commented on #10624
Same issue here. 0.63.3 to 0.64.
Also using docker install.

[2018-05-03 11:30] adilshoukat commented on #4782
@SeanPackham Should we expect the fix anytime soon? :) Please help, it's causing big problems.

[2018-05-03 11:44] ulope commented on #8564
Happening here as well. Multiple browsers, RC version 0.64.0.

[2018-05-03 12:00] #10641 closed

[2018-05-03 12:01] sampaiodiego commented on #10481
oh darn 🤦‍♂️  I had a local instance where a migration did not run so I had two settings for `Desktop Notifications Default Alert` and `Mobile Notifications Default Alert` .. but on the current state, we have only one, and it is on `Default User Preferences` section.. so I think we're good 👍

[2018-05-03 12:01] #10616 closed

[2018-05-03 12:06] ledainam commented on #10624
i resolved by disable Slackbridge in MongoDB Setting as below :
![image](https://user-images.githubusercontent.com/25676833/39575515-0a04ed7a-4f05-11e8-8bff-3ae8db266dce.png)
my server is working fine after that.

[2018-05-03 12:47] Sing-Li commented on #10641
Thanks @segphault @bosko @evilpacket  and  @isabellarussell  for reporting this!

[2018-05-03 13:01] mommi84 commented on #9974
This is temporarily solved by searching for the private channel (or promptly clicking on a received notification) and then marking it as favorite.

[2018-05-03 13:08] ispryt opened #10655 "Can't create cyrillic room name"
Hello!
I can't create cyrillic channel name
In settings:
[https://i.imgur.com/hKDH0ES.png](url)

But when I create a channel in Cyrillic, it is not created.
Please help me
Thank you!

[2018-05-03 13:12] flavio80s commented on #10610
@mikaelmello `fields` only works in fields that are already part of the result.
When I tryed `http://chat.vsm.com.br:3000/api/v1/im.list.everyone?fields={"usernames":1}` it do nothing.
When I tryed `http://chat.vsm.com.br:3000/api/v1/im.list.everyone?fields={"_id":0}` it hide the `_id` field.

[2018-05-03 13:17] muhv7 opened #10656 "0.64 not available on snap?"
Update has been out for 5 days now and no updates pushed to snap yet?

root@ns54xxxx:~# sudo snap refresh rocketchat-server
snap "rocketchat-server" has no updates available

Ubuntu Server

Rocketchat version 0.63.3

Thank you!

[2018-05-03 13:47] leonardoaramaki opened #10657 "[BUG] Can't post message to read-only channel where I'm the owner"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0

### Steps to Reproduce:

1. Create an read-only channel or group.
2. Since you're the owner of the room you've just created, type in any messange and send.
3. You'll receive an automatically message informing that you've been muted, hence, your message is not sent.

### Expected behavior:

Since I've just cre

[2018-05-03 13:51] JuliannaR opened #10658 "Keyboard Shortcuts - Pass through"
Current set of keyboard shortcuts introduce an array of issues. Crtl + P is a windows command for print.

While the function works it also opens the print window. All keyboard shortcuts should not mimic windows keyboard commands. Because it opens the print window is also disorients the user and takes them away from the chat window by focusing on the windows print menu.

Please consider this across

[2018-05-03 13:53] ispryt commented on #10655
+-----------------------------------------------+
|                 SERVER RUNNING                |
+-----------------------------------------------+
|                                               |
|  Rocket.Chat Version: 0.63.3                  |
|       NodeJS Version: 8.9.4 - x64             |
|             Platform: linux                   |
|         Process Port: 3000                    |

[2018-05-03 14:02] mgifford commented on #10658
Keyboard shortcuts are a real problem. So often they make sense only in English and for some users.  They aren't really discoverable most of the time. Not sure that anyone does reviews to see how often they are used.

I'd really like to see that these are user-definable. Sure, put up some defaults that make sense, but then allow folks to customize them.  There are so many lots of debate about this

[2018-05-03 14:02] ispryt opened #10659 "Message search method"
Hello!

Where can I change the default message search method?
By default, it looks like a complete match of words.
But where can I change this "default" for a partial coincidence?

Thank you!

[2018-05-03 14:04] #10526 closed

[2018-05-03 14:05] #10490 closed

[2018-05-03 16:02] richardwlu commented on #9319
@TwizzyDizzy Thank you for the response. I agree with what you're expecting. I suppose if we can receive a straightforward answer from a dev I can relay the message to our users.

[2018-05-03 18:08] waterboo commented on #2355
@FibreFoX  "upcoming"... as in... the 25th of May 2018! As far as I understand GDPR we will have to have the ability to automatically delete messages after a specified time or upon user request.

[2018-05-03 18:15] PhilGPk opened #10664 "SVG icons in sidebar/toolbar don't render on current desktop Firefox for Linux, ?https issue?"
### Description:

When logged in to Rocket.Chat hosted via Apache reverse-proxy over https, the six icons in the toolbar (for search, directory, etc.) don't appear.
Client browser is Firefox 52.7.3 ESR 64 bit on Linux.

It *does* work on Firefox 59.0.2 on Android and Chromium on the same Linux machine as before.
So "further debugging" below.  It appears to be an interaction of the ESR version of F

[2018-05-03 18:16] neurolabs commented on #10643
Issue is fixed in 0.64.1, thanks.

[2018-05-03 18:16] #10643 closed

[2018-05-03 18:18] neurolabs commented on #10637
probably fixed in 0.64.1

[2018-05-03 19:39] renatobecker commented on #7398
Hi @sacOO7!
Sorry to answer you late, I will work on this issue to fix it as soon as possible.

[2018-05-03 21:35] TwizzyDizzy commented on #7295
@rocket-cat close

Closing due to inactivity and no answer.

Cheers
Thomas

[2018-05-03 21:35] #7295 closed

[2018-05-03 21:41] TwizzyDizzy commented on #6415
@rocket-cat close

Closing this, as you are obviously referring to the [Electron Client](https://github.com/RocketChat/Rocket.Chat.Electron). Please open an issue over there, if the problem still exists. Also have a look at those issues before: https://github.com/RocketChat/Rocket.Chat.Electron

Cheers
Thomas

[2018-05-03 21:42] #6415 closed

[2018-05-03 21:49] TwizzyDizzy commented on #9409
@rocket-cat close

Closing this, due to the lack of feedback. Gonna reopen if somebody can still reproduce this (note though, the the sort feature is now above the search bar in main UI).

Cheers
Thomas

[2018-05-03 21:49] #9409 closed

[2018-05-03 21:51] TwizzyDizzy commented on #9363
@rocket-cat close

Closing due to lack of feedback.

Cheers
Thomas

[2018-05-03 21:51] #9363 closed

[2018-05-03 21:54] TwizzyDizzy commented on #9282
@rocket-cat label add "type: bug"

Just reproduced this as stated above in 0.64.1.

Cheers
Thomas

[2018-05-03 21:56] TwizzyDizzy commented on #9261
@rocket-cat close

Closing this due to lack of feedback.

Cheers
Thomas

[2018-05-03 21:56] #9261 closed

[2018-05-03 21:57] TwizzyDizzy commented on #9159
@rocket-cat label add "Feature: Request"

[2018-05-03 21:58] TwizzyDizzy commented on #6742
@rocket-cat close

Closing this due to lack of feedback.

Cheers
Thomas

[2018-05-03 21:58] #6742 closed

[2018-05-03 22:02] TwizzyDizzy commented on #10659
@rocket-cat close

This is a duplicate of #9647. The answer is: currently you can use regular expressions to achieve what you want. There is no UI setting though to set this kind of search behaviour as a default.

Cheers
Thomas

[2018-05-03 22:03] #10659 closed

[2018-05-03 22:09] TwizzyDizzy commented on #10655
Question: do you have enabled the "Allow special characters in room names" option in admin settings?

Cheers
Thomas

[2018-05-03 22:14] TwizzyDizzy commented on #10649
@rocket-cat close

Closing this issue as it's no bug. You may feel free to contact the Rocket.Chat folks by other means (chat or forums) and ask if they are in need of a new logo. Right now I don't have the feeling that this is the case, but that's only my take.

Cheers
Thomas

[2018-05-03 22:14] #10649 closed

[2018-05-03 22:18] TwizzyDizzy commented on #10637
Is this still happening on 0.64.1 or is it fixed (as #10643)?

Cheers
Thomas

[2018-05-03 22:23] #10644 closed, assigned to nobody

[2018-05-03 22:26] TwizzyDizzy commented on #10622
@rocket-cat close

Hi @lakhandewnani

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing.

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitation of time. If it should

[2018-05-03 22:26] #10622 closed

[2018-05-03 22:30] TwizzyDizzy commented on #10620
@rocket-cat close

While I get that there is currently no documentation on that, this is not typically considered a bug, at least not in the server software. I'd suggest the following:

Open a topic in the forums: https://forums.rocket.chat/c/community-support

If there will be found a proper solution somebody could create a pull request for the [Rocket.Chat Documentation repository](https://githu

[2018-05-03 22:30] #10620 closed

[2018-05-03 22:32] TwizzyDizzy commented on #10618
@rocket-cat close

Hi @ejschenck

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing. Here's why:

* [FREE TEXT]

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitatio

[2018-05-03 22:32] #10618 closed

[2018-05-03 22:34] TwizzyDizzy commented on #10614
@rocket-cat close

Closing this as it seems to be a duplicate of #7036. If that's not the case, please get back to me!

Cheers
Thomas

[2018-05-03 22:34] #10614 closed

[2018-05-03 22:34] TwizzyDizzy commented on #10604
@rocket-cat label add "type: bug"

[2018-05-04 01:03] bizzbyster opened #10667 "Broadcast message support from bots"
https://developers.facebook.com/docs/messenger-platform/send-messages/broadcast-messages

The idea is bots need to send broadcast messages in batches in order to avoid scale limitations.

[2018-05-04 04:32] ispryt commented on #10655
Yes.  "Allow special characters in room names" - enabled.

[2018-05-04 04:37] iMaciaveller opened #10668 "The answer context menu"
The answer context menu in a private group appears in the upper right corner.

* Version of Rocket.Chat Server: 0.64.0 (SNAP) OS Ubuntu 16.04
* Client: FireFox 59.0.2 (64-бит) OS MS Windows 7

<img src="https://pp.userapi.com/c824204/v824204247/1262d7/rQLY4XUtr88.jpg">

[2018-05-04 05:28] ispryt commented on #9647
Please change default method to /text/i

[2018-05-04 06:03] Gummikavalier commented on #10637
Our problem was triggered by Shibboleth metadata XML configuration quote, that included https-link within like this:

[code]

[2018-05-04 06:03] Anish-addweb commented on #3499
Hii,
Rocket chat version 0.63.3 user list or channel list rest api shows only first 50 list. not getting whole list.

[2018-05-04 06:59] TwizzyDizzy commented on #10667
A little more detail would be forthcoming, otherwise I'd just ask: why.

[2018-05-04 07:04] TwizzyDizzy commented on #10651
@rocket-cat close

Hi @gd-narola

Please refer to the forums to ask this question, as there seems to be no bug involved: https://forums.rocket.chat/c/community-support

Cheers
Thomas

[2018-05-04 07:04] #10651 closed

[2018-05-04 07:23] exhuma opened #10669 "Allow unicode in Channel-Names"
I realised today that I am not able to enter umlauts in channel names.

Would be cool if that was possible.

[2018-05-04 07:36] axchemezov commented on #7100
So this issue still didn't resolved? Because I want join to "disable 2fa please or tell me how" :)

[2018-05-04 07:57] samimaktar opened #10670 "User list of a private room"
I want to get the member list of a private room ...so i am following this document https://rocket.chat/docs/developer-guides/rest-api/groups/info/ ...... it successfully returns the group information but shows an warning .....and the userlists are not returned ...... the warning is [WARNING]: The "usernames" field has been removed for performance reasons. Please use the "*.members" endpoint to get

[2018-05-04 08:09] macke800 commented on #10656
Looks like it is there on the candidate level:
sudo snap install rocketchat-server --candidate
... check "Show all versions" on the: https://snapcraft.io/rocketchat-server page.
Not sure when/how/who moves the candidate to become the stable version.

[2018-05-04 08:51] iMaciaveller commented on #10669
im add parameters UTF-8_Names_Validation: [0-9а-яА-Яa-zA-Z-_.]+

[2018-05-04 09:00] iMaciaveller commented on #10656
#install beta update
$sudo snap refresh rocketchat-server --beta
#back to stable update
$sudo snap refresh rocketchat-server --ignore-validation

[2018-05-04 09:01] iMaciaveller commented on #10655
im add parameters UTF-8_Names_Validation: [0-9а-яА-Яa-zA-Z-_.]+
channel name is support сyrillic

[2018-05-04 09:06] muhv7 commented on #10656
So there's two ways? Either way on 63.3 until someone decides to put 64 up to stable or go beta?

[2018-05-04 10:38] eeldwin commented on #10136
Is there anything that I can help to move this bug from blocked to backlog?

[2018-05-04 10:56] mjovanovic0 commented on #10664
This seems to be issue with Firefox and Content Security Policy.

Had same issue and in console there are no error but got warning:
Content Security Policy: The page’s settings blocked the loading of a resource at <URL>

Quick workaround was to disable CSP by navigating to `about:config` and flip `security.csp.enable` to `false`.

Proper fix should be applied on server side in a way to serve SVG w

[2018-05-04 11:09] mjovanovic0 commented on #10670
It means that you use the following endpoint: `/api/v1/groups.members` with `roomId` or `roomName` query parameter

[2018-05-04 11:17] gcommit commented on #10136
The bug is tagged as „need more info“

Can you tell me what you need?!

[2018-05-04 11:18] samimaktar commented on #10670
Ah...Thank you.... works like a charm  :+1:

[2018-05-04 11:18] #10670 closed

[2018-05-04 11:43] bizzbyster commented on #10667
Sorry about that...

So typically DM bots do not introduce any sort of scaling problem. They are essentially like extremely active users with lots of DMs going. But, since the bots activity is triggered by a human user sending a message, the bots work is spread out in time so scale is not typically a problem.

On the other hand, if a bot needs to send a notification or a message to all of the user

[2018-05-04 11:55] markwooff commented on #10624
Same thing for me, using docker-compose to deploy our instance. Rolled back the version to 0.63.3, went into the Administration panel and disabled SlackBridge, then upgraded to 0.64.1 without the issue.

[2018-05-04 12:07] andrewbrooke72 commented on #2101
if you have a popup saying that text/csv not allowed.. add it to access media types with comma at the end of the line ",text/csv"

[2018-05-04 13:40] rafaelks opened #10671 "[BUG] Can't set a description to a file on uploading it"
### Description:

Even if you set in on the API, the description ins't saved to the file.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Linux
* Number of Running Instances: 10

[2018-05-04 14:07] timkinnane commented on #10667
Just to second that this is a real requirement I've come up against in a commercial role. Bots were making announcements to all users, but needed to go as DM because it was the entry point to a one-to-one scripted interaction, so just posting in channels wasn't enough. We had worked it out to just stay under the rate limit, but it could get slow for large user bases.
I think the utility of a broad

[2018-05-04 14:22] diginote opened #10672 "[BUG] Can't send mail notification"
### Description:
An error occures when rocketchat wants to notify someone by email about a missed message.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Ubuntu 18.04 LTS
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: deactivated
* Node Version: 8.9.3 - x64
* mongoDB Version: v3.6.4

### Steps to

[2018-05-04 15:14] saplla commented on #9098
I just hit this issue as well. The access key and secret should be optional. Currently the [AWS uploader](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-file-upload/server/config/AmazonS3.js#L72) enforces an access key and secret even though the Node AWS SDK will look in other places for keys if they aren't present.

[2018-05-04 17:33] mrqbmrqb opened #10675 "IOS Push Notifications Option for Setting "mutable content"."
Is there any way to set "mutable-content" filed in aps body when sending apn?

This feature is very important since we need to edit the content of the notifications before showing it to ios users.

[2018-05-04 17:35] mikaelmello opened #10676 "Empty error mensage when inviting a user to private channel"
### Description:

When adding a new user to a private channel (that I do not own), I get an error pop-up, probably because I don't have the permission to invite new users to the channel, however I should get something more than a red box.

Since my site was in Portuguese, I though this could be a translation bug, however this also happens in English.

### Server Setup Information:

* Version of Ro

[2018-05-04 18:40] martinvonwittich commented on #10583
It's unbelievably annoying when pasting code samples into Rocket.Chat. I tend to write some text, then paste a multi-line code sample into a \`\`\` block, write some more text, paste another code sample, and so on, and only then I submit the complete message. After the second code sample, the latency becomes so bad that I have to CTRL+A CTRL+X CTRL+V my message into a text editor so I can edit it

[2018-05-04 18:58] TwizzyDizzy commented on #10637
@rocket-cat close

Thanks for the feedback! Please do not hesitate to get back if this should occur again.

Cheers
Thomas

[2018-05-04 18:58] #10637 closed

[2018-05-04 19:18] flavio80s commented on #10610
Hi @graywolf336, is there any workaround to this situation?

[2018-05-04 21:08] computeronix opened #10679 "[Feature Request] Reserved Usernames - allow wildcard / regular expressions for matching"
Rather than exact matching, it would be very helpful to allow for wildcard or regular expression matching in the reserved username area.

This way if someone tries to sign up as admin - any username with the word admin in it (adminall, globaladmin, etc) would get rejected

[2018-05-04 21:14] computeronix opened #10680 "[Feature Request] Manual Approval New Users - Better Experience Request"
Currently the experience in manual user registration is as follows

-There is a textbox that mentions reason to join
Suggestion: allow admin to turn this box on/off (i didn't see an option for this but could of overlooked)

-Upon clicking create it notifies the user onscreen that an admin must approve (this is good)

-No email is received saying please wait for admin approval, instead the user rec

[2018-05-04 21:19] saschafoerster commented on #10624
I'm using the docker-version. I managed to open the mongodb-database of the right container
with this

and start mongo in it, but after that, I am lost.

[2018-05-05 00:47] HammyHavoc commented on #10583
Yes, this is infuriating, it's been a problem for a while and is pushing us back to email for lengthy conversations. Hoping this can be fixed ASAP. Using a Surface Pro 2 with i5 and 8GB of RAM as my primary communication box.

[2018-05-05 01:27] engelgabriel commented on #2700
https://github.com/RocketChat/Rocket.Chat/issues/6535

[2018-05-05 01:43] JoseRenan commented on #10004
I was seeing the code which sorts the DM list and discovered that it is sorted by mongo. When I searched about it, I discovered that mongo doesn't currently support case-insensitive sorting. So I was wondering if sorting it on the client side is a good option. What do you think?

[2018-05-05 01:45] engelgabriel commented on #7258
https://github.com/RocketChat/Rocket.Chat/issues/6535

[2018-05-05 01:53] engelgabriel commented on #6535
@sampaiodiego are you sure about this?

@Hudell can we implement a DB migration like https://github.com/assistify/Rocket.Chat/blob/f7dd9a6a5bbb82da0306e5334dff451ebaf1ba9c/packages/assistify-help-request/server/migrations.js#L7-L31 ?

[2018-05-05 02:00] engelgabriel commented on #5461
https://github.com/alexpate/awesome-design-systems

[2018-05-05 02:16] ggazzo commented on #10004
we could improve this PR https://github.com/RocketChat/Rocket.Chat/pull/9959

and insert one more attribute `nameLowercase or blablabla` transforming username/name to lowercase... @karlprieb what do you think?

[2018-05-05 03:51] #5728 closed

[2018-05-05 03:53] #5462 closed

[2018-05-05 03:53] engelgabriel commented on #5462
This have been implemented.

[2018-05-05 03:53] #5847 closed

[2018-05-05 09:48] TwizzyDizzy commented on #10583
@rocket-cat label add "type: bug"

[2018-05-05 10:50] mrqbmrqb opened #10682 "Is there any way to know whether a message is delivered or not?"
I know that "read receipts" is useful to check the "read" status of the message, but I want to know when the message is delivered especially in direct messages.

[2018-05-05 10:58] TwizzyDizzy commented on #10682
@rocket-cat close

Hey @mrqbmrqb

this is no bug, that's why I'm closing your issue. Concerning your question: currently (I think) this is handled by the client. The web-client, for example, greys out your message until it has been successfully delivered to the server. For further questions, please refer to the forums: http://forums.rocket.chat :)

Cheers
Thomas

[2018-05-05 10:58] #10682 closed

[2018-05-05 11:36] TwizzyDizzy commented on #10682
Mhhhh I see. But I'm currently not quite sure, whether there is a technical way to do this. I think currently, indeed, what comes closest to what you mean is the "read" thing. I see your point, that this is technically not the same as "has been delivered" ... not sure where to go from there...

Cheers
Thomas

[2018-05-05 12:19] mrqbmrqb commented on #10682
So @TwizzyDizzy  should I request a new feature for this issue?

Mohanad

[2018-05-05 12:33] PhilGPk commented on #10664
For my setup:
Checking the Firefox console: no warnings about CSP.
Setting security.csp.enable to false didn't fix the issue for me, either.
Also tried configuring Apache to set an "allow everything" CSP: this actually upset Firefox even more!

[2018-05-05 12:36] mrqbmrqb commented on #10682
But just to be clear, what I mean with "delivered" is like "Whatsapp" when grey double check is showed next to the message, indicating that the other user received the message

[2018-05-05 12:56] c0dzilla opened #10683 "[BUG] Message containing asterix alongside heading markdown tag is incorrectly displayed"
Tried this on open.rocket.chat so its the latest version.

Typed message :
![image](https://user-images.githubusercontent.com/23701803/39663478-cde3e524-5091-11e8-8649-9b766ed05f4b.png)

Expected message:
* **a**

Displayed message:
![image](https://user-images.githubusercontent.com/23701803/39663486-dc7521fc-5091-11e8-8ad4-2209ac984609.png)

[2018-05-05 13:04] graywolf336 commented on #10682
Then yes, we have that via the read receipt.

[2018-05-05 13:16] mrqbmrqb commented on #10682
Excuse me @graywolf336 but as I understood from #9717 issue, read receipt indicates when the user "read" the message not "receive" it.

If this thing is already included in read receipt could you please help me with that, how to know when the other user in direct chat received my message depending on read receipt.

[2018-05-05 14:15] MatthewC opened #10684 "Caddy won't start"
### Description:

Caddy fails to start, saying "Start request repeated too quickly". I have tried the command "rm -rf /root/snap/rocketchat-server/current/.caddy" but it still doesn't work.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: Ubuntu 16.04.4 LTS
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Opl

[2018-05-05 15:10] Brightside56 commented on #7611
+1

[2018-05-05 15:33] #10436 closed

[2018-05-05 15:36] #10657 closed

[2018-05-05 17:39] sampaiodiego commented on #6535
@engelgabriel yes! if we decide to delete all removed user's subscriptions, then we can remove also its messages and room object..

[2018-05-05 18:16] cchbr opened #10685 "Permissions not working correctly"
I have noticed a lot of irregularities with the permissions, I haven't had time to investigate it yet but some of the issues I've encountered thus far are:

- Permissions are not having any effect on anonymous users. For example, an anonymous user can view and preview any public channel even when I've disabled this for all user roles.
One possible reason for this could be that the "Allow Anonymous

[2018-05-06 07:47] mrsimpson commented on #6535
@sampaiodiego I don’t know whether this is relevant, but we had the issue after renaming a user.
I was not 100% confident that all models are affected in the same way as subscriptions.
Also, stale messages of a removed user could beactually desired (not in the standard, but in a custom fork).
In General, I consider all these cleanup activities some kind of data curation. If there was an option in

[2018-05-06 18:41] chainchopper commented on #4241
I'm assuming this was never fixed?

[2018-05-06 21:38] PhilGPk commented on #10664
Rocket.Chat really didn't seem to like being a redirect of this.host.name/something.  Replacing the configuration with its own virtualhost where it was at the server root solved the problem I've reported in this issue, too.

[2018-05-06 21:52] christianreiss opened #10687 "[Feature] Extra Hide Button"
### Description:

I am having a lot of channels that I do not want to see on the left hand menu all the time. Things like "monitoring", "alerts", "jokes" etc are great, but due to the fact that they re-pop open should be closed 95% of the time (hidden).

Slack has a single-click button (x) for that. Such a small button next to the three dots that will hide the channel without confirmation would to

[2018-05-07 01:45] timkinnane opened #10688 "Inconsistent implementation of user `type` field"
There is a type field on the user schema that isn't returning the correct assignment for bots created by an admin. The only time it seems to assign the type as `bot` is for the internal Rocket.Cat user.

It would be good for the type to be set as `bot` whenever the `bot` role is given, because by default, bots don't have permission query the role field through the API, their only way to determine

[2018-05-07 08:24] 1th opened #10689 "能不能在发送message的时候指定message type?"
![image](https://user-images.githubusercontent.com/6316996/39692248-ec6041d2-5212-11e8-96ca-2b5c7d57a899.png)
能不能在这里使用自定义的消息类型？

[2018-05-07 10:55] JonCup commented on #10149
Same here. I get an error when I click on the link in the email.

[2018-05-07 11:12] glebtv opened #10690 "Chat text input is laggy on high-dpi screens or when zoomed out"
### Description:

Chat text input is laggy on high-dpi screens or when zoomed out.

This is reproducible in current chrome and electron app.

After pressing a key in text input there is a ~ 500ms delay before any input is displayed in textarea.

This was not present in previous versions.

### Server Setup Information:

* Version of Rocket.Chat Server:  0.64.0, 0.63.3, also on https://open.rocket.c

[2018-05-07 11:49] flavio80s commented on #10610
@graywolf336 please reopen this issue.

[2018-05-07 11:50] Ismaw34 commented on #10624
Disabling the SlackBridge and then enabling it again fixed the issue?

[2018-05-07 11:53] markwooff commented on #10624
It did for me :) disabled it, updated versions then re-enabled t

[2018-05-07 12:04] sampaiodiego commented on #10434
@antgel not sending emails on `@all` mentions is by design, it was this way since the beginning.

but looks like https://github.com/RocketChat/Rocket.Chat/pull/8059 added a logic to send email to `@all` if the room have less than `Notifications_Max_Room_Members` members.. is that a expected behavior? if so, I can add it [here](https://github.com/RocketChat/Rocket.Chat/pull/10686/files#diff-f824816

[2018-05-07 12:15] antgel commented on #10434
@sampaiodiego Hey, long time, hope all well. :) It's definitely expected behaviour, at least according to pretty much all of our users. Otherwise people who aren't online / frequent users, simply don't know what's going on, and the `@all` loses a lot of its power. What do you think?

[2018-05-07 12:27] sampaiodiego commented on #10434
@antgel yep, long time. =)

sending a huge amount of emails can be heavy on server and can lead to exhaust some SMTP quotas. but since the addition of `Notifications_Max_Room_Members` , I think the behavior was changed to send emails on rooms up to that limit.

I'll make sure then email notifications have the same behavior as other notifications, being sent to `@all` to rooms with less then `Notif

[2018-05-07 12:40] antgel commented on #10434
@sampaiodiego Cool, although do see https://github.com/RocketChat/Rocket.Chat/issues/10434#issuecomment-385422065, so I'm not sure what the issue is, because as you say, they should be sent up to the limit. However, maybe the logic is buggy somehow. Is there, or will there be a way to debug this from the logs? When I look at the log, I feel like I'm flying blind. :)

[2018-05-07 12:46] sampaiodiego commented on #10434
the current state might be buggy. I'll not investigate the current implementation but I'll make sure that PR works as expected.

[2018-05-07 15:08] MarcosSpessatto commented on #9589
@hobbsome Can you provide more informations? Like what endpoint and how can we simulate this error, please?

[2018-05-07 17:14] Hudell commented on #10672
It seems that Rocket.Chat is not recognizing the user's email address as valid. Does he have a valid email address assigned to him?

[2018-05-07 17:19] theorenck commented on #10600
Thank you @xFuture603 for your feedback. Just a minor clarification, is this the "chat now" button inside the "leader bar"?

[2018-05-07 17:25] tim-soft opened #10693 "Update snap stable builds to 0.64.x"
@rodrigok
The latest Snap build under `stable` is 0.63.3, is there a reason v0.64.x is still under RC?

https://snapcraft.io/rocketchat-server

![capture](https://user-images.githubusercontent.com/10257939/39714957-e5668fc8-51e8-11e8-8237-db4dc06bdb08.PNG)

[2018-05-07 17:34] spditner commented on #3819
Running into the same input lag problem with RC OSX client 2.10.5. Once a channel goes bad, that's it, logged out, deleted all the caches I could find. Problem persists.

Joining the same channels via Chrome doesn't present the same problem.

[2018-05-07 18:19] diginote commented on #10672
The user has a varified and valid email (it containes an underscore --> cccccc_ccccccc@ccc.cc). I've invited the user with his email ("Send welcome email") an he can login properly.

[2018-05-07 20:15] rudineirk opened #10694 "[BUG] The users/rooms search stops working after some time"
### Description:

The users/rooms search stops working after some time.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Linux (x64)
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v8.9.3
* mongoDB Version: 3.4.14

### Browser Information:

* Browser: Firefox
* Version: 59.0

[2018-05-07 20:34] MarcosSpessatto commented on #9529
If by chance this does not solve the problem, feel free to reopen this issue.

[2018-05-07 20:34] #9529 closed

[2018-05-07 21:51] leonardoaramaki opened #10696 "[BUG] Send a message when muted returns inconsistent result"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1

### Steps to Reproduce:

1. User is muted.
2. Tries to send a message.
3. The result returned is: `{"message":false,"success":true}`

This was tested on main public server `open.rocket.chat` using the REST endpoint:

Maybe it helps to point out that on the realtime api the response is different: `a["{\"msg\":

[2018-05-08 02:05] Bogidon opened #10698 "Release scripts?"
Hi Rocket.Chat team,

First, thank you sooo much for the work you've been doing. This project is ridiculously awesome and I am very much looking forward to using it / contributing to it / seeing others benefit from it.

**Summary/TL;DR:** I'd like to run a deploy my organization's fork to production and am having a bit of a tough time creating a build script. Could y'all share yours? Below is some

[2018-05-08 06:44] Cracky5457 commented on #9649
Same here, we really need an API to get the number of unread message for a specified user in all the room and private where the user is in.

[2018-05-08 07:39] cchbr opened #10699 "Bad gateway"
I'm running Rocket Chat on an AWS instance with docker compose, and after every reboot  I get a 502 Bad Gateway error in the browser. Previously I solved it by stopping and removing the docker containers, this time this doesn't seem to work as the are just restarted instantly with docker compose and the problem persists.

I have tried using the latest version, 0.63.0 and 0.62.0.

Has anyone experi

[2018-05-08 08:10] xFuture603 commented on #10600
Hey @theorenck. Yes the "chat now" button is right under the little navbar with the "info-icon", "search-icon", "members-item" and "useradd-item". I mentioned this Bug inside of a private group chat.

[2018-05-08 08:37] TwizzyDizzy commented on #10699
@rocket-cat close

Hey folks,

I'm closing this, as there is no bug involved. Please use the [forums](https://forums.rocket.chat/c/community-support) for that :) If it turns out that there is an actual bug, please get back to me!

Cheers
Thomas

[2018-05-08 08:37] #10699 closed

[2018-05-08 08:39] TwizzyDizzy commented on #10693
@rocket-cat close

Closing this. It's a duplicate of #10656.

Cheers
Thomas

[2018-05-08 08:39] #10693 closed

[2018-05-08 08:45] TwizzyDizzy commented on #10689
@rocket-cat close

While we do welcome diversity across the community as well as in the team I'm afraid that for purely practical reasons we have to stick to english in public communication.

If you decide to translate your initial issue, please get back to me. Please also adhere to the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md).

Cheers
Thom

[2018-05-08 08:45] #10689 closed

[2018-05-08 10:44] guardian-liferay commented on #10581
I have installed my new rocket chat and i still got the same problem
May I know how to fix this?
Here is my logs snapshot.
`assist4-rocketchat | ➔ +-----------------------------------------------------------------+
assist4-rocketchat | ➔ | SERVER RUNNING |
assist4-rocketchat | ➔ +-----------------------------------------------------------------+
assist4-rocketchat | ➔ | |
assist4-rocketchat | ➔ |

[2018-05-08 11:34] TwizzyDizzy commented on #9738
I came across another issue where this is relevant, as the wrong channel name is displayed (the normalized one, not the one containing e.g. special characters). Gonna link to it in a second.

What I want to add. In the sidebar the wrong channel name seems to be used, too (probably the same variable as the one used in room info as shown in the screenshot above).

Cheers
Thomas

[2018-05-08 11:36] TwizzyDizzy commented on #10669
@rocket-cat close

It is possible, if you enable "Allow Special Characters in room names" (I just tested it with the name below). The problem is, that the display of the channel name is not coherent across every place it is displayed. If you disagree, please let me know exactly where I'm wrong with my assumptions.

E.g. I used "а-яА-Яaäöü" as channel name, but it is shown as "aaou" in the sidebar

[2018-05-08 11:37] #10669 closed

[2018-05-08 11:40] TwizzyDizzy commented on #8163
@rocket-cat close

I'm closing this in favour of #9738. Please see that error and also #10669 to get a complete picture.

The fact that the channel name needs to be normalized ("stripped of every special character") for some cases probably makes sense for internal use but it should always be displayed as the "original name" in user-facing UIs.

Cheers
Thomas

[2018-05-08 11:40] #8163 closed

[2018-05-08 11:47] TwizzyDizzy commented on #10687
@rocket-cat label add "Feature: Request"

[2018-05-08 11:50] TwizzyDizzy commented on #10583
@theorenck once this gets tackled, maybe also have a look at #10690 - it might be the same reason?

Cheers
Thomas

[2018-05-08 11:50] TwizzyDizzy commented on #10690
@rocket-cat close

I would like to merge this issue with #10583 (meaning to close the one at hand) because I have a hunch there might be the same underlying issue involved.

Cheers
Thomas

[2018-05-08 11:50] #10690 closed

[2018-05-08 11:55] TwizzyDizzy commented on #10655
I don't get your problem. Using cyrillic characters is possible (though not always correctly displayed, as mentioned in #10669).

Cheers
Thomas

[2018-05-08 12:07] exhuma commented on #9738
I can confirm that the side-bar shows the wrong name as well. The only place I can see the "real" display-name is when opening the channel itself:

![image](https://user-images.githubusercontent.com/65717/39756162-c52100dc-52c8-11e8-9063-2aaba79e673e.png)

This RC instance is used in a multi-lingual environment with a lot of German and French speakers. Special characters can sometimes change the m

[2018-05-08 12:48] ispryt commented on #10655
https://send.firefox.com/download/9336bba816/#aG6yxofuADab0ADQ6Bt4nA I record video!

[2018-05-08 12:49] ispryt commented on #10655
Other link http://dropmefiles.com/JPccK

[2018-05-08 13:39] Hudell commented on #6535
I created the migration (#10700) and also changed the user deletion method because there were a few subscriptions and empty rooms being left behind.

[2018-05-08 13:40] markwooff opened #10701 "Unable to "Save changes" to uploaded avatar in Internet Explorer"
### Description:

When using Internet Explorer, I am unable to click the "Save changes" button from the Profile page when trying to upload a new avatar. Same issue when using a URL for a new avatar.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker-compose
* Number of Running Instances: 1
* DB Replicas

[2018-05-08 14:45] renatobecker commented on #7399
Hi @sacOO7,
I tried to simulate this issue in the same way you describe, but it's not happening.
So, I wonder if you have tried this again in recent versions?
I'll be waiting for your feedback.

Thanks!

[2018-05-08 14:45] #7399 closed

[2018-05-08 14:50] markwooff opened #10703 "Announcement text no longer appears in modal"
### Description:

When clicking on a channel's announcement, the modal that used to display the full text no longer displays anything.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker-compose
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.9.3
* mongoDB Version: 3.2.

[2018-05-08 17:32] internalfx commented on #10172
We updated to `0.64.1` a few days ago.....

I just asked our support rep, and they said it was fixed.

[2018-05-08 17:32] #10172 closed

[2018-05-08 18:11] ggazzo commented on #10202
@graywolf336 I think this feature had a small life
created: https://github.com/RocketChat/Rocket.Chat/commit/3161216f45f0981dde856c028af37cf0269d13b2
it was deleted on merge   :/
3 days after: https://github.com/RocketChat/Rocket.Chat/pull/3773/commits/f6d978b385fc9e1610843ce4dec169098163b298
I made a fix: https://github.com/RocketChat/Rocket.Chat/pull/10704
@lukegracie this feature will not remov

[2018-05-08 18:44] renatobecker commented on #7397
Hi @sacOO7!
Which `routing method` are you using?
I've tested this issue in both `Least Amount` and `Guest Pool` routing methods.
As @cenourinha described previously, using `Guest Pool` method, the `Forward` option is not sending the chat back to the`Incoming Livechats` and, yes, this is not a correct behaviour, so I will take a look on this.
But, using the `Least Amount` routing method, the redir

[2018-05-08 20:43] #10671 closed

[2018-05-08 22:56] kaiiiiiiiii commented on #10533
Hi @EddEdw,

as you already mentioned, this seems to be a desktop client issue.

This repository ([RocketChat/Rocket.Chat](https://github.com/RocketChat/Rocket.Chat)) is mainly for the server component of Rocket.Chat. You can find the Desktop Client Repository over here ([Rocket.Chat.Electron](https://github.com/RocketChat/Rocket.Chat.Electron)).

I think you'll have more success by opening an iss

[2018-05-09 04:07] mohanadrefaai opened #10708 "[Feature Request] Add feature to set the message as delivered."
Using read receipt is very useful to check whether the message is seen or not. But it does not include the "delivered" status which means that, a user received a message and maybe he did not see it.
And this status is also different from the "sent" status which means that, the message has been sent successfully to the server.

Depending on #9717 issue I see that there is no feature yet to detect t

[2018-05-09 07:01] alirezaimi opened #10709 "uploading file progress stuck and cancel button not work any more"
### Description:

File Upload have some serous problems and stuck in uploading and cancel button not work anymore !
This is some lines for one file with 12MB size :

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: debian 4.9.0-6-amd64
* Deployment Method(snap/docker/tar/etc):  snap
* Number of Running Instances: 1
* DB Replicaset Oplog: ?
* Node Version:

[2018-05-09 07:15] mrplow commented on #10624
@saschafoerster once you get into mongo and switch to the RC db you can use these commands to disable slack bridge.

I ran into this issue too and downgraded, disabled, upgraded and all was well. But after restarting the instance it returned with the same original error. At that point downgrading wouldn't work so I had to go the mongo update path.

This code is also a reference for myself next tim

[2018-05-09 07:31] Mr-Gryphon opened #10710 "[BUG] Cancel button not working while uploading any file"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Linux

### Steps to Reproduce:

1.Open Chat room.
2. Upload a file.
3. While uploading on progress bar, their is a cancel button, is not working. Uploading didn’t cancel when we click on that.

### Expected behavior:

Uploading need to be cancel when user click on that button.

### Actual b

[2018-05-09 07:53] TwizzyDizzy commented on #10533
@rocket-cat close

[2018-05-09 07:53] #10533 closed

[2018-05-09 07:58] TwizzyDizzy commented on #10710
@rocket-cat close

Duplicate: #10709

Cheers
Thomas

[2018-05-09 07:58] #10710 closed

[2018-05-09 07:59] TwizzyDizzy commented on #10709
Hi @alirezaimi

could you please adjust the title of this issue to the one I just linked to? He's got the better headline, but you got the logs ;)

Cheers
Thomas

[2018-05-09 08:02] alirezaimi commented on #10709
Hi @TwizzyDizzy
one of problem is that cancel button not work when uploading process stuck, the Big and main problem is that uploading process stuck sometimes.

[2018-05-09 08:10] TwizzyDizzy commented on #10709
Thanks! I haven't been able to find it just now but there is  at least one issue that concerns itself with the file upload utself not working. IIRC it was when running multiple instances.

Cheers
Thomas

[2018-05-09 09:08] LesterChester opened #10712 "Search bar aligns wrong"
### Description:

The searchbar ends up awfully wrong when trying to search in my contacts.
![skarmavbild 2018-05-09 kl 11 06 00](https://user-images.githubusercontent.com/39119210/39806046-109a78ee-5379-11e8-9682-1fd8a6ce63ce.png)

### Server Setup Information:

* Version of Rocket.Chat Server:  2.10.5
* Operating System: OSX 10.13.4
* Deployment Method(snap/docker/tar/etc):
* Number of Running I

[2018-05-09 09:20] alirezaimi commented on #10709
@TwizzyDizzy
I installed rocket chat with snap and by default it installed on 1 instance, is that all about ? multi instance is solution ?

[2018-05-09 10:03] blmt commented on #10709
Hi all. I am experiencing the same issue. Our system is installed via snap and it was working before it automatically upgraded. (not sure which one is the last known-good version)

As a consequence of the file upload not working the browser reports.
XML Parsing Error: no root element found
Location: https://mychatsite/ufs/GridFS:Uploads/6c8YsSsbviHzewWAp?token=F8fadBFAca&progress=0.161694316421092

[2018-05-09 10:36] FONFAAS opened #10713 "[FEATURE] Create slash command /hide to "close" direct messages"
### Description:

The slash commands `/leave` and `/part` only work on channels
The idea is to add `/hide` command to do the same as we do with the UI:

<img width="185" alt="hide" src="https://user-images.githubusercontent.com/3885397/39810546-458550ac-537d-11e8-9b11-b6516bb29220.png">

[2018-05-09 10:53] saplla opened #10714 "Address use of connect.session() MemoryStore"
### Description:
Upon starting Rocket Chat, a warning is printed to the console:
[code]

This should be addressed or at least provied a link to documentation for how to remove it for a production deployment.

### Server Setup Information:

* Version of Rocket.Chat Server: rocketchat/rocket.chat:0.64.1
* Operating System: linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running In

[2018-05-09 11:55] Mr-Gryphon commented on #10709
Hello i have submit a PR, #10715  . please check and review :)

[2018-05-09 11:56] #3201 closed

[2018-05-09 11:56] #9341 closed

[2018-05-09 11:56] #9357 closed

[2018-05-09 12:47] Silimilikim commented on #6185
+1 no news on this ?

[2018-05-09 12:53] janrudolph opened #10716 "Validate "Site_URL" in backend"
### Description:

Rocket.Chat has a Site URL setting called `Site_url`. This setting is used to render absolut paths. However, if the site URLs end with a slash `/ `, pictures are not displayed in the iOS app. Please see issue https://github.com/RocketChat/Rocket.Chat.iOS/issues/1646 for details. Because of this, the backend should check, if a slash at the end is present. If yes, it should handle

[2018-05-09 13:56] aviv-ko opened #10717 "WebRTC on Android devices"
For some reason WebRTC is not working on Android devices (both smartphones and tablets).
Android ver. 8.0.0
Kernel ver. 4.4.78-13052619

[2018-05-09 14:03] aviv-ko opened #10718 "Jitsi on Mac"
We tried connecting to someone using a Mac. The Jitsi plugin would not work/download properly. Any thoughts anyone?

[2018-05-09 14:04] aviv-ko opened #10719 "WebRTC on Android"
For some reason WebRTC is not working on Android devices (both smartphones and tablets). Her is some tech info on one of the devices:
Android ver. 8.0.0
Kernel ver. 4.4.78-13052619

[2018-05-09 14:05] #9963 closed

[2018-05-09 14:11] TwizzyDizzy commented on #10619
@rocket-cat close

Closing this in favour of #10716 which is a better and more detailed report.

Cheers
Thomas

[2018-05-09 14:11] #10619 closed

[2018-05-09 14:17] TwizzyDizzy commented on #10718
@rocket-cat close

Dude*ness! Please!

* Search the issues before opening a new issue
* Follow the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md)
* and generally don't open the same issue multiple times.

Cheers & Thanks
Thomas

[2018-05-09 14:17] #10718 closed

[2018-05-09 14:17] TwizzyDizzy commented on #10719
@rocket-cat close

Dude*ness! Please!

* Search the issues before opening a new issue
* Follow the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md)
* and generally don't open the same issue multiple times.

Cheers & Thanks
Thomas

[2018-05-09 14:17] #10719 closed

[2018-05-09 14:18] TwizzyDizzy commented on #10717
@rocket-cat close

Dude*ness! Please!

* Search the issues before opening a new issue
* Follow the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md)
* and generally don't open the same issue multiple times.

Cheers & Thanks
Thomas

[2018-05-09 14:18] #10717 closed

[2018-05-09 15:12] MarcosSpessatto opened #10721 "[BUG] Send message through REST API chat.postMessage even being muted."
When you try to send message with a muted user through the REST endpoint `chat.sendMessage` the message is not sent (correct behavior), however when you send a message through the endpoint `chat.postMessage` with a mutated user the message is sent.

* Version of Rocket.Chat Server: 0.64.1

### Steps to Reproduce:

1. User is muted.
2. Tries to send a message through `chat.postMessage` endpoint.

#

[2018-05-09 16:04] neverpanic commented on #10491
Duplicate of #9890, solved in #10444, released in 0.64.0.

[2018-05-09 18:30] mikaelmello opened #10723 "[BUG] Opening a hidden channel/dm throws exception and does not show on sidebar"
### Description:

When you open a room that is hidden, two exceptions are thrown: ```Exception in queued task: Error: Can't set timers inside simulations``` and ```Exception in queued task: Error: Unknown id for changed: <roomId>```

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0 (reproducible on open.rocket.chat)
* Operating System: Elementary OS
* Deployment Method(snap/d

[2018-05-09 18:33] mikaelmello commented on #10723
The exception is thrown during the simulation of the `openRoom` method on `client/methods/openRoom.js`, called on `packages/rocketchat-lib/client/lib/openRoom.js:79`. A quick hack is to comment out the simulation method and everything will work as intended, but there is probably a good fix for it.

[2018-05-09 20:42] MarcosSpessatto commented on #10592
Hi @sinfosy, The `unreadNotLoaded` value is the total of messages that were not read and were not returned by the endpoint. Probably as you described in your call to the endpoint, you did not pass the `count` value, which defaults to 20 messages ([docs](https://rocket.chat/docs/developer-guides/rest-api/groups/history/)), then it would be the 20 that were brought, plus 67 unread, resulting in a to

[2018-05-09 21:09] flantascience opened #10725 "OAuth logging in isn't closing my WebView in the app..."
I made this video to show the issue, seemed easier than describing it:

https://youtu.be/ybZQQjdy6jE

### Description:

When logging into the mobile app of Rocket.Chat, I use an OAuth through WordPress.

If you try logging into Rocket.Chat and are not yet logged into WordPress, there is a bug.  The popup brings up your WordPress login page, but after entering your login info in WordPress and loggi

[2018-05-09 21:51] rodrigok opened #10726 "Improve statistics data collector"
To be able to show a dashboard of server usage over the time with statistics like listed bellow we need to improve our data collector to store more data points and aggregate them correctly.

List of data we could show
- Most active channels
- Most active users
- Average time usage per channel
- Average time usage overall
- Number of users over time
- Most busy time
- Active users per day, week and

[2018-05-09 22:17] engelgabriel commented on #10233
Ref: https://github.com/RocketChat/Rocket.Chat/issues/10726

[2018-05-09 22:17] engelgabriel commented on #8483
Ref: https://github.com/RocketChat/Rocket.Chat/issues/10726

[2018-05-09 22:17] engelgabriel commented on #3824
Ref: https://github.com/RocketChat/Rocket.Chat/issues/10726

[2018-05-09 22:17] engelgabriel commented on #726
Ref: https://github.com/RocketChat/Rocket.Chat/issues/10726

[2018-05-09 22:17] engelgabriel commented on #5947
Ref: https://github.com/RocketChat/Rocket.Chat/issues/10726

[2018-05-09 22:33] tandeson commented on #9589
I think I'm having the same issue:

I use the REST API to get a message, which contains a URL to the message:
environment.RocketChatServer + message.attachments[0].image_url
( my server name such as 'https://rocketchat.foo.com' and the image_url, such as ''/file-upload/MzAKsqhn54sEJt5eS/20180504145314_3918475292411152406.jpg"

If I try to fetch the file using a http get, I get a 403 error.

If I g

[2018-05-09 23:09] mikaelmello commented on #10713
Perhaps I should have discussed the feature here first, mainly if it is desirable by the RC team. Sorry I didn't think of that, however it was something simple and with a current behavior to follow.

[2018-05-10 03:17] Yogapertama opened #10728 "issues"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-05-10 04:46] alirezaimi commented on #10709
any news ?

[2018-05-10 06:45] FONFAAS commented on #10713
@mikaelmello no problem !

[2018-05-10 07:27] ivangerasimov39 commented on #10540
may be to add filters for send direct messages?
**example:**
![rocket_dm](https://user-images.githubusercontent.com/29921722/39857615-3d4648ee-5434-11e8-9377-ffbc4cded496.jpg)

[2018-05-10 08:34] propertunist commented on #10541
is anyone investigating this? anyone got any tests i can run here?

[2018-05-10 11:44] xswqaz opened #10729 "Failed to set username from customFileds of LDAP"
### Description:

Failed to set username from customFileds of LDAP
username blank

[code]

Is it wrong ?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.3
* Operating System: linux
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: 8.9.4 - x64
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expecte

[2018-05-10 13:08] jtimon commented on #8564
I can reproduce it on chromium for the instance my company runs. It started hapening after we updated the last time, I think. Sorry, I don't have more details, I will ask.

[2018-05-10 13:45] jhfrontz commented on #8564
Also an issue on MacOS (Safari 11.1/MacOS 10.11.6).

[2018-05-10 14:10] marceloschmidt commented on #533
We're keeping this issue open as a discussion but it's not in our plans to add this in 2018.

[2018-05-10 14:11] marceloschmidt commented on #658
We're keeping this issue open as a discussion but it's not in our plans to add this in 2018.

[2018-05-10 14:13] #10728 closed

[2018-05-10 14:15] theorenck commented on #10725
@flantascience please update your server version. Thank you for your feedback.

[2018-05-10 14:15] #10725 closed

[2018-05-10 14:25] Robert-turbo opened #10730 "Can't change password."
### Description:

As user or admin I Can't change password. This problem occurred in previous versions.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc):  docker
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:  v3.6.4

### Steps to Reproduce:

1. I click on my

[2018-05-10 14:35] sampaiodiego commented on #2071
pushy.me runs a push service over MQTT.. we could do the same.

[2018-05-10 14:43] theorenck commented on #10685
Hi @cchbr thanks for the feedback, could you please give us more context on the scenarios above?

[2018-05-10 14:50] ulope commented on #9133
This is definitely needed.
Especially being able to tell who and when has added / deleted / enabled / disabled users would be very important.

[2018-05-10 14:56] ktown007 commented on #3027
I'm having the same issue with proper certs.

[2018-05-10 14:59] sampaiodiego commented on #2309
This is something we see you should do on a CMS tool.

Feel free to propose in detail on our [forums](https://forums.rocket.chat) for future consideration as a feature.

[2018-05-10 14:59] #2309 closed

[2018-05-10 15:06] marceloschmidt commented on #2372
The complexity of doing this is not worth the time. We have this one planned though: https://github.com/RocketChat/Rocket.Chat/issues/4286

[2018-05-10 15:06] #2372 closed

[2018-05-10 15:08] thaim opened #10732 "Wrong permalink when running RocketChat in subdir"
### Description:

When running RocketChat in subdir, permalink get wrong URL.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
* Operating System: Ubuntu16.04.4
* Deployment Method(snap/docker/tar/etc):  docker (image: rocketchat/rocket.chat:0.64.1)
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1. start d

[2018-05-10 15:11] sampaiodiego commented on #2161
Although this is a nice feature to have we don't have plans to do this.

Please feel free to open a detail feature request on our [forums](https://forums.rocket.chat) where we can review and decide if we plan to implement. Feel free to also link to this ticket for historic. The better layed out we can get the request the easier it is for us to make definitive decision on whether we plan to impleme

[2018-05-10 15:11] #2161 closed

[2018-05-10 15:29] richardwlu commented on #10636
@rodrigok Hi, can you help with this?

[2018-05-10 15:30] richardwlu commented on #10634
@rodrigok Hi, can you help with this one also?

[2018-05-10 15:42] engelgabriel commented on #7583
@renatobecker can you please test this?

[2018-05-10 15:47] amonemian commented on #10594
I had the same problem.
Add "?close" at the end of your Authorized redirect URIs in the Google Api. (the URI would be yourWebsiteUrl/_oauth/google?close)
It works now for me.

[2018-05-10 16:12] engelgabriel commented on #7583
It worked for me, see the deployment log https://gist.github.com/engelgabriel/ad85dd90b2e687275c267cd41f6d2032

[2018-05-10 16:20] engelgabriel commented on #9769
We need to separate the outstanding tasks into other issue:
https://github.com/RocketChat/Rocket.Chat/issues/2355

[2018-05-10 17:04] jerometambo commented on #8555
I've got the same problem with snap/Ubuntu core on Rpi 3 :(.

[2018-05-10 17:04] jerometambo commented on #10653
I've got the same problem with snap/Ubuntu core on Rpi 3 :(.

[2018-05-10 20:14] javi076 opened #10735 "Limit downloads of custom-emojis"
### Description:
We have a bit more than 1000 custom emojis in our server, and when you open the emojis selector, rocketchat downloads all the emojis (about 850MB)
This consume network bandwith, memory and makes the user's computer can not be used for some time (slowness)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.2
* Operating System: Ubuntu
* Deployment Method(snap/doc

[2018-05-10 22:16] wghilliard commented on #10594
@amonemian at the time of creating this issue, your suggested fix was not working (as cited in the issue, `The registered redirect uri(s) in the Google API are:... and for debugging purposes https://<my_rocketchat_server>/_oauth/google?close`). However, after testing it today, the URI seems to be working. I guess Google is allowing the excess parameters and this issue can be closed.

Thanks

[2018-05-10 22:16] #10594 closed

[2018-05-10 23:06] mikaelmello commented on #1929
@engelgabriel I'm interested in contributing to this, what is the intended design? (Sing Li told me to tag you)

From what I've understood:
 * A preview showing up while you write the message (with an X on it to remove the preview)
 * After the message is sent, an option to hide the preview on the popover menu if it isn't already hidden
 * A global setting to allow/disallow previews

Is that corre

[2018-05-10 23:30] szab100 commented on #3582
+1

[2018-05-10 23:49] tzar commented on #8564
I'm working around this for now with this userscript in case it's useful to anyone (replace \<add-your-domain-here\>):

[code]

[2018-05-11 01:52] timkinnane commented on #1929
I'm not sure about this part: `A preview showing up while you write the message`
It seems like that could get very tricky to get a good UX balance, especially keeping the feature synced with mobile etc. The display of the preview will be hard to position without it looking messy, with thumbnails and snippets of different dimensions etc and it might obstruct other interface components.

Maybe just

[2018-05-11 02:09] timkinnane commented on #1929
Illustration of the concept...

![link embed preview](https://user-images.githubusercontent.com/1774379/39902916-df345b34-5513-11e8-9fa8-a60c5274be5e.png)

I think a subtle approach is best. Loading previews while you type could be a very janky visual experience and cause all kinds of client side performance issues. I think the feature would also be only wanted by more advanced users, so it's best

[2018-05-11 02:15] mikaelmello commented on #1929
On messages with 2 or more URLs, are we going to close all previews or have an X on each oembed to close specific ones?

[2018-05-11 03:13] timkinnane commented on #1929
It would be nice to close each independently, but it might not be feasible - e.g. if there's a single message property to toggle display of previews, it would be easier to work with in templates etc than something like an array of attachment ids with their own unique toggles.

[2018-05-11 05:44] janrudolph commented on #10726
@rodrigok We have enhanced the Rocket.Chat statistics in order to calculate Daily Active, Weekly Active and Monthly Active Users. Therefore we added the number of views and writes per user and hour. If you are interested in the implementation, please have a look at our PR https://github.com/assistify/Rocket.Chat/pull/264

[2018-05-11 06:10] gavinju opened #10737 "How to obtain the answer of hubot robot feedback through Rest API?"
My ENV is：
Ubuntu 16.04
Rocket.Chat0.63.0
hubot-rocketchat v1.0.11
Our OA System: Java + rocket-chat-rest-client(java)

How to obtain the answer of hubot robot feedback through Rest API? In the OA System。

Looking forward to your reply
Thank you very much!

### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc)

[2018-05-11 06:27] cypa commented on #2922
+1

[2018-05-11 07:13] TwizzyDizzy commented on #10735
@rocket-cat close

Closing this, as I think https://github.com/RocketChat/Rocket.Chat/issues/9313 is already about caching those assets locally.

Cheers
Thomas

[2018-05-11 07:13] #10735 closed

[2018-05-11 08:07] lasiiee opened #10738 "Help Rocket.Chat"
What is the node process? It use 100% of process resourses in our organization. Because of this Rocket.Chat is defolted. (works slowly or not work)

![photo_2018-05-11_11-07-04](https://user-images.githubusercontent.com/39184941/39913698-82016c98-550b-11e8-9141-11a52210ead9.jpg)

[2018-05-11 09:35] ph1p commented on #10738
We have had the same problem at our company.
Now we're running it in two docker containers and everything is fine.

**Our docker-compose file:**
[code]

[2018-05-11 11:31] #10455 closed

[2018-05-11 12:30] dairaine commented on #4684
+1

[2018-05-11 12:38] theundefined opened #10739 "Match error: Missing key 'value'"
### Description:
After upgrade from 0.60.4 to 0.64.1 version stop working plugin https://github.com/pragbits/stash2slack/tree/1.7.0 (last version working on stash).
It doesn't show on channel requests do by creating "COMPACT" style of opening pull requests.

Underground - plugin do requests like:

{"channel":"#channel","mrkdwn":true,"link_names":true,"attachments":[{"mrkdwn_in":["pretext","text","

[2018-05-11 13:36] lasiiee commented on #10738
We have Deployment Method(snap)

[2018-05-11 13:42] carrbrpoa opened #10740 "Ability to remove "link previews" in message"
Is it possible to remove "link previews", like it is in Slack? It's very annoying, sometimes:

![image](https://user-images.githubusercontent.com/10212618/39927235-f71955ee-5507-11e8-9e56-cbd9cfb8c17c.png)

[2018-05-11 13:45] mikaelmello commented on #10740
This is already being discussed in the issue https://github.com/RocketChat/Rocket.Chat/issues/1929

If you want to disable all link previews, you can go to the Admin Settings -> Messages -> Disable Embed (or something close)

[2018-05-11 13:48] ph1p commented on #10738
Oh ok. Can you please post your log files?
Maybe there is osme helpful information included.

[code]
https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/

[2018-05-11 14:13] pa-de-solminihac commented on #658
@engelgabriel added the stat: in progress label on 13 Oct 2015

@marceloschmidt I guess you mean this label should be removed.

[2018-05-11 16:41] yennor opened #10742 "can't create user over restapi anymore. It doesn't accept boolean fields anymore"
### Description:
We just updated to the newest rocket.chat version 0.64.1.
Unfortunately the rest call for creating new users doesnt work anymore, if you try to submit boolean fields like sendWelcomeMail and requirePasswordChange .
For requirePasswordChange the errormessage is:
Match error: Unknown key in field sendWelcomeMail

For sendwelcomemail:
Match error: Expected boolean, got string in fiel

[2018-05-11 16:50] mikaelmello opened #10743 "[BUG] No link preview is shown if at least one of the links is invalid"
### Description:

When there are multiple links in a message, each one of them has a preview, however if at least one of the links is invalid, the other valid links do not have a preview.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.0-develop
* Operating System: Elementary OS 0.4.1 (Ubuntu 16.04 based)
* Deployment Method(snap/docker/tar/etc): Development
* Number of Runni

[2018-05-11 19:47] #10696 closed

[2018-05-11 20:15] #10534 closed

[2018-05-11 20:17] rodrigok opened #10744 "Version 0.64.2"
# Release [0.64.2](https://github.com/RocketChat/Rocket.Chat/milestone/117)

For any regression, open a new issue and link to this one.

## Before Release - Preparation
- [x] Create the issue to track the release progress
- [ ] Define the highlights from release PRs as suggestion to be included on Blog Post
- [ ] Talk to the Marketing Team about the Blog Post release
- [ ] Talk to the Documentatio

[2018-05-11 20:27] blaisep commented on #10701
hi @theorenck I opened:
https://github.com/RocketChat/Rocket.Chat.Electron/issues/717
because I can't even get to the Profile page!

[2018-05-11 20:33] gdelavald opened #10745 "Can't access the `/account/profile` page"
@blaisep commented on [Fri May 11 2018](https://github.com/RocketChat/Rocket.Chat.Electron/issues/717)

several colleagues have also reported no response when we click on the Profile link to get to: https://chat.hyperledger.org/account/profile

## My Setup
- Operating System:
OS X 10.13.4
- App Version:
2.15.5

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## D

[2018-05-11 20:35] blaisep commented on #10745
fwiw, at first I thought this was covered by https://github.com/RocketChat/Rocket.Chat/issues/10701 but it seems they can actually load the Profile page.

[2018-05-11 20:36] gdelavald commented on #10745
@blaisep @danintel can you add some server details, specially version?

[2018-05-11 20:37] blaisep commented on #10745
I don't know where to find the server version. Is it in the HTTP headers perhaps?
Oh , btw, I'm using Chrome 66.0.3359.139

[2018-05-11 21:01] leonardoaramaki opened #10746 "[BUG] RocketChat.MessageAction.getPermaLink returns wrong path"
### Description:
When clicking on Reply button on a broadcast channel the markdown permalink being created is incorrect. It's always referring to the message as if it was sent to a DM instead to a channel or group.
Tested on [https://open.rocket.chat](https://open.rocket.chat)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.64.1
### Steps to Reproduce:

1. Join a broadcast chann

[2018-05-11 21:42] danintel commented on #10745
Server: unknown--let me know how I can tell this (nothing in HTML source).  You can poke around yourself at https://chat.hyperledger.org/
Client (latest Chrome on Windows 7 64-bit): Version 66.0.3359.170 (Official Build) (64-bit)

Do these HTTP headers help?
 telnet chat.hyperledger.org 80
Trying 35.161.32.245...
Connected to hyperledger-rocketchat-alb-1-1708041661.us-west-2.elb.amazonaws.com.
Esc

[2018-05-11 21:48] flantascience commented on #10725
How do I re-open?

I updated to 0.64.1

Same problem as before with the OAuth login

Except now --- even after closing the Webview, the app goes completely grey after logging in.  C

[2018-05-11 21:48] flantascience commented on #10725
Can I reopen this @theorenck

[2018-05-11 22:32] chenette commented on #10745
I have the same issue with both a browser and the app.
     Browser: Safari Version 11.0.2 (12604.4.7.1.4)
     Rocket.Chat+ app Version 2.10.5
     System: MacOS Sierra Version 10.12.6

[2018-05-11 23:13] flantascience commented on #10725
And so I'm clear, I'm using a "Custom OAuth" connected to my WordPress site.   Using the actual WordPress OAuth in Rocket.Chat has never worked for me.