[2019-12-24 12:06] ritwizsinha opened #16058 "Some variables have no translations in i18n"
### Description:
Some variables like
1. In_progress on general settings
2. Share_secret on Video conference settings
3. Cloud_info variable on the setup wizard
4. Cloud_Service_Agree_PrivacyTerm on the setup wizard page
5. MessageBox_view_mode on General page
### Steps to reproduce:

1. Go to settings
2. Visit the General, Video Conference and Setup Wizard in the administration settings.

### Expe

[2019-12-24 12:07] ritwizsinha commented on #16058
To work on this should I add translations to all the translation language or just english?

[2019-12-24 12:49] powed commented on #15748
Hello, we have the same problem.

[2019-12-24 14:58] nahga commented on #15880
This is starting to seem like a slippery slope. Forcing these kinds of changes down on those that run their own instance is not preferred. So now I need to setup another service on my rocket instance, just so it can email out password reset links? No offense, but that is just poorly thought out. This change alone will force me to start considering other options for chat.

BTW:      Does anyone kno

[2019-12-24 16:50] ritwizsinha commented on #16029
Working on this

[2019-12-24 17:38] ashwaniYDV opened #16061 "Pinned message are not removed from Pinned message section when unpinned"
### Description:

When a pinned-message is unpinned it is not removed from the pinned message section.

### Steps to reproduce:

1. Open any chanel or direct-message
2. Pin a message
3. Click on "more" button dropdown
4. Click "Pinned Messages"
5. Unpin the pinned message

# Expected behavior:
The pinned message should get removed from the pinned-messages-section

# Actual behavior:
### Case 1 (Wh

[2019-12-24 17:58] ritwizsinha commented on #5436
@MartinSchoeler instead of a reset button wouldn't save changes or cancel button be better for it. It would make it consistent with the overall settings and also would be more efficient as currently the
data in the server is being changed every time when the user clicks on the check or uncheck button .
If we have a save changes or cancel button it would reduce the number of times Meteor.call funct

[2019-12-24 19:11] aviral243 commented on #15972
You can explicitly mention that IP address in port mapping. I think that should work.

[2019-12-24 21:14] aviral243 commented on #15855
@nghiaviettran Can you review the PR please?

[2019-12-24 21:51] ashwaniYDV opened #16066 "[BUG] User can resend email verification even if it does not matches database email"
### Description:
A user can send resend email verification even if the email field is not valid email and does not match database email.

### Steps to reproduce:

1. Go to My accounts.
2. Click on Profile
3. Enter invalid email address or leave it empty in the resend email verification input
4. Click "Resend verification email" button.

### Expected behavior:
User should not be able to click that

[2019-12-24 21:57] ashwaniYDV opened #16067 "No feedback is given if user Profile is actually updated or some error has occured"
### Description:
No UI feedback is given when user updates it's profile. It shoud should error or success message

### Steps to reproduce:

1. Go to user profile.
2. Update it
3. Click save changes

### Expected behavior:
A feedback in form of toast message should be given following all the rocket chat convention of update, delete, etc.

### Actual behavior:
No feedback given to user

### Addition

[2019-12-24 22:39] ashwaniYDV opened #16068 "No margin between buttons in the open.rocket.chat homepage in mobile"
### Description:
![image](https://user-images.githubusercontent.com/43786728/71426201-46216900-26cc-11ea-8b34-a0065d292022.png)

### Additional context
I am working on it.

[2019-12-24 23:24] dusatvoj commented on #15621
I've tried apply memberOf overlay, but it didn't help. It's crashing here https://github.com/wreiske/Rocket.Chat/blob/23b043c4947c050ef78bff0323fa0fcfe449c6de/app/ldap/server/sync.js#L34
There's a debug log
[code]
... I want to repair it but I'm not an JS developer :/ ... Any help wanted

[2019-12-25 03:58] ritwizsinha opened #16070 "The create channel slashcommand should be able to set the type of channel and invite users"
Currently, the slash command for creating the channel only creates a channel with default settings and we can not invite users in the same command but would have to visit that channel for doing the same. It would be great if in a single command we could specify the channel name change the default channel type, set the description or topic and invite users, etc. It would greatly ease the process of

[2019-12-25 04:56] ritwizsinha commented on #16029
I would like to start working on this

[2019-12-25 05:01] ritwizsinha commented on #16029
If the problem is in the main chat also then either we could limit the range of the message or hide the options altogether.
We can also set up an opacity so that the messages are not hidden under the optiions.
For example if the text overlaps with the options we can set the options opacity to zero and only set it one if it is hovered.

[2019-12-25 06:02] rj11 commented on #15958
Umm yeah, my users have no idea how to even check their email.  There needs to be a way to turn this off.

[2019-12-25 06:09] rj11 commented on #15880
Umm yeah, can somebody just make a checkbox to turn this garbage off?  This is a stupid idea.  I put fake emails for ALL MY USER ACCOUNTS.  This is a dumb in-house self-hosted server THAT HAS NO MAIL SERVER!!!!

[2019-12-25 06:11] rj11 commented on #15880
WTF this pissed me off so much I'm typing it at 1:00AM when SANTA is supposed to be here!!

[2019-12-25 06:17] rj11 commented on #15880
I DON'T GIVE A FUCK ABOUT ETHICAL QUESTIONS!!  HOW THE FUCK DOES THE ADMINISTRATOR RESET A FUCKING PASSWORD???? GIVE ME COPY/PASTE EXAMPLES PLEASE FOR UBUNTU 18.04 AND SNAPS

[2019-12-25 08:33] ashwaniYDV opened #16072 "[FEAT] Like many other chat/email platforms (eg. gmail), right clicking on chat should also open the contextmenu of that room."
### Description:
It is very handy in desktop site of RC to open the context-menu (popover) by right clicking it instead of going to the dropdown menu button to open the "popover"

### Additional context
I have implemented it.

[2019-12-25 08:50] antkaz commented on #15471
I think the problem is related with https://github.com/RocketChat/Rocket.Chat/blob/2.3.2/app/ui-utils/client/lib/readMessages.js#L26 because when I open room and wait 2 seconds, the room mark as read. Also if in the room many messages I need open room, wait 2 seconds, scroll up and wait 2 sec again. But if I open the room and don't wait and scroll to up now, the messages don't mark as read

[2019-12-25 08:56] ashwaniYDV opened #16074 "[FEAT] Instead of going atmost right of the to find the dropdown menu of a particular message, user should be able to acces the same faunctionality by right clicking anywhere on the message."
### Description:
I have been facing a minor issue using RC that if I want to do following things to a message (reply in direct message, star it, pin it etc) , I have to go to the right most part of the message element to find the drop-down and then select my action from the popover.
It would have been very handy and easy to use if I was able to do the same thing by right clicking anywhere on the p

[2019-12-25 11:16] whitecolor commented on #15972
I don't want to use port mapping at all.

[2019-12-25 12:48] villadalmine commented on #15880
You can try to test matrix project it is a decentralized chat , looks more interesting and it is really a secured project where the decisions are taken carefully and with best approach , so sad about how changed Rocket chat , those decisions destroy the community edition ... also you can still using version 2.2

[2019-12-25 15:34] Shaverdoff commented on #11570
2.3.2 version...but still not working in electron and web client

[2019-12-25 15:36] makibras commented on #15880
Hey guys,

I´m gonna reopen this issue and we are inviting you for comments in January after the holidays when our team is back and we had a working session planned on this and future changes.

Merry Christmas

(@rj11: I deleted your swears. Please stop that.)

[2019-12-26 02:06] Shadoukun commented on #6754
I'm having this issue with the latest docker image as well. The snap package doesn't have this problem.

Rocket.Chat Version: 2.3.2
NodeJS Version: 8.16.2
MongoDB Version: 4.0.14
Platform: linux
ReplicaSet OpLog: Enabled

[2019-12-26 07:15] lequy1010 opened #16075 "Translation function does not work when pressing the "Translate" the first time"
Translation function does not work when pressing the "Translate" the first time.
Since the 2nd time it's Ok.

[2019-12-26 10:40] yikiksistemci opened #16076 "Error reading content on channel from redirect"
When we want to redirect the user to the channel we want after login, rocket chat goes to the channel first but then returns to the home page, marking all messages in the channel as seen
but when the user refreshes the page later, it redirects it back to the channel

RocketChat version: 2.3.0

[2019-12-26 10:43] #16076 closed

[2019-12-26 10:44] yikiksistemci opened #16077 "Error reading content on channel from redirect"
![rocket](https://user-images.githubusercontent.com/25776984/71472954-1e262880-27e6-11ea-95b4-76b45d375cc2.png)
When we want to redirect the user to the channel we want after login, rocket chat goes to the channel first but then returns to the home page, marking all messages in the channel as seen
but when the user refreshes the page later, it redirects it back to the channel.

version: 2.3.0

[2019-12-26 13:32] #12310 closed

[2019-12-26 14:43] sampaiodiego commented on #16044
@qwclytmd please always fill in the bug report template when opening an issue (if it is a bug report :stuck_out_tongue: ).

looks like the your `Site_Url` setting (you find on Admin > General > Site URL) is wrong.. it should point to the external HTTPS address (in your case `rocket.wildduck.top`) and not to the internal IP.

[2019-12-26 14:55] sadkins76 commented on #15880
This ranks right up there with not giving admins access to an easy way to read chat logs between users.  I understand that there is somewhat of a security component to this, but your processes and thinking behind this are horrifically misguided.

This is a BASIC feature of any software like this, that needs an administrator.  This is a BASIC function of administration.  We don't all have the same

[2019-12-26 16:59] sampaiodiego opened #16079 "Settings are being showed duplicated"
### Description:

Settings are showing duplicated.

### Steps to reproduce:

Not sure exactly how to reproduce, but I've done this:

1. Go to Admin
2. Navigate into multiples sub menus
3. Scroll down open some sections

### Expected behavior:

Shows only one field per section.

### Actual behavior:

Sometimes the settings are showed duplicated:

![image](https://user-images.githubusercontent.com/8

[2019-12-27 06:38] balleddog commented on #10765
Duplicate of #15856

[2019-12-27 07:14] jaenulton commented on #2049
Collapsible would be a must. The feature request is nearly 4 years old, any update yet?

[2019-12-27 09:56] tars21 opened #16081 "[question] Updating Docker HA setup with no downtime?"
Hi, I'm quite new to docker and the documentation and related issues/questions couldn't help me with following question.

My (test) setup is created by this guide:
https://rocket.chat/docs/installation/docker-containers/high-availability-install/
3 Mongo Nodes / 3 Rocket.Chat Nodes / HaProxy as Frontend, connecting to an available Rocket.Chat node

The updating guide just saying "pull the new imag

[2019-12-27 11:00] robiiinos opened #16082 "Error in oplog callback : Cannot read property 'isEmitAllowed' of undefined"
### Description:

Logs are being spammed by an oplog callback error.

### Steps to reproduce:

1. Could not determine a way to reproduce the issue; most likely happening on timed interval when someone goes on a room to read the messages.

### Expected behavior:

No error in logs.

### Actual behavior:

<img width="1416" alt="rocket chat_logs" src="https://user-images.githubusercontent.com/16455953

[2019-12-27 13:42] mariaeduardacunha commented on #8443
Tested in the latest version (2.4.0-develop) and this issue doesn't happen anymore. If you happen to experience this issue again, please reopen this with updated details. Thanks!

[2019-12-27 13:42] #8443 closed

[2019-12-27 13:50] akhayyat commented on #11664
I realize rocket.chat has SAML and Oauth support, but that's not the same as header (reverse proxy) authentication. Header authentication has the following advantages:
1. Single implementation across all applications that are integrated with the SSO (SAML or OAUTH) service, which means consistent behavior and single configuration across all applications.
2. Out-of-the-box support of all other prot

[2019-12-27 13:57] NexonSU commented on #11664
OK.

[2019-12-27 16:48] Wirone commented on #15471
@antkaz nice hint! It's most probably related to changes in [82ae5034](https://github.com/RocketChat/Rocket.Chat/commit/82ae5034e46336fddd81558e32a7f50152a6fd57#diff-b381b3ea6782f041a6d3418ce382ec29), not sure if this delay time is a problem (it was rised from 1000 to 2000 in this commit), but definitely those changes in marking-as-read logic should be checked again.

[2019-12-27 17:36] Rodriq opened #16086 "Add open with Gitpod badge on README"
A simple badge that can allow opening the repo on Gitpod.

[2019-12-28 00:47] michelpy commented on #15880
As mentioned by many other admins here and in the forums, this change is totally misguided. This issue gives me very little confidence in using Rocket Chat at all. I don't want to be forced to downgrade to get the feature back, so if it is not re-instated early in January I will move to another platform. I am not going to mail-enable all of my users, I am not going to mail-enable the Rocket Chat s

[2019-12-28 02:25] ritwizsinha opened #16090 "The messages are not respecting the spaces in between after sending"
### Description:
On sending any message if we set multiple spaces before any word, the message renders as having just one space

### Steps to reproduce:

1. Write any message with a different number of spaces
2. Send the message
3. Observe the message now has only one space between any two words

### Expected behavior:

It should have spaces as described by the user

### Actual behavior:

![Select

[2019-12-28 03:13] ritwizsinha opened #16091 "The search in administration setting shows all settings when no settings found"
### Description:

When I search for any keyword, if there are no search results the UI should show empty instead of showing every search result, it gets very annoying if there is no such setting and we search the entire the list

### Steps to reproduce:

1. Go to settings as administrator
2. Enter any random string in the keyword
3. All settings are still there

### Expected behavior:

If no searc

[2019-12-28 03:34] ritwizsinha opened #16092 "The true false option can be replaced with a simple checkbox"
I don't know whether it is intended or serves some purpose but most of the settings which end in 2 results, yes or no, are shown with a checkbox with true and false options. I don't understand why this was done as  a simple checkbox could serve the purpose and would also be better for the UI
![Selection_011](https://user-images.githubusercontent.com/43509699/71538437-01f2ca80-2951-11ea-9f0d-b90d41

[2019-12-28 03:42] ritwizsinha opened #16093 "Infinite height to settings heading"
### Description:

The settings heading under appearance in live-chat is having infinite height causing the elements to be pushed to the right

### Steps to reproduce:

1. Go to appearance under live chat settings
2. Inspect the settings header

### Expected behavior:

It should not have infinite height

### Actual behavior:
![Selection_012](https://user-images.githubusercontent.com/43509699/715384

[2019-12-28 10:20] yashrajbothra commented on #16057
Hey @sampaiodiego  ,Can i work on this issue?

[2019-12-28 10:34] #16067 closed

[2019-12-28 10:35] ashwaniYDV commented on #16057
@yashrajbothra I have already made the pull request.

[2019-12-28 10:59] yashrajbothra commented on #16057
Okay @ashwaniYDV  Thanks, I will keep that in mind.

[2019-12-28 11:05] ashwaniYDV opened #16096 "[Feature Request] There should be an option to clear all messages of a private chat like in whatsapp."
### Description:
Sometimes due to very large conversation in a private chat or some personal reasons, user may need to clear its chat. So there should be an option in the private message's room to clear all the chat data.

### Additional context
I want to work on it.

[2019-12-28 12:56] soundstorm opened #16097 "[BUG] Users can't send messages (>= 2.4.x)"
### Description:

I updated from 2.3.2 to 2.4.0 - now regular users (only user role) can't send messages anymore. As bot or admin I still can send messages. Will roll back for now.

### Server Setup Information:

- Version of Rocket.Chat Server: 2.4.0
- Operating System: Linux x64
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog: On
- NodeJS Version: 8.17.0
- MongoDB

[2019-12-28 13:48] himpierre commented on #16097
Works for me.

[2019-12-28 13:49] sss-wg2 commented on #15880
I have done some thinking and decided that this is deal breaker for me as well. I do in fact have an email server, and not so many users that working around this "feature" is to much work, but the whole thing just leaves a very bad taste in my mouth.

Drastic changes to such a basic feature should at the very least be clearly marked as deprecated in the UI for a meaningful length of time so that a

[2019-12-28 14:26] ashwaniYDV commented on #16057
@sampaiodiego I have made the pull request for this issue.
https://github.com/RocketChat/Rocket.Chat/pull/16060

[2019-12-28 14:45] ashwaniYDV commented on #13869
@MarcosSpessatto I have made the pull request https://github.com/RocketChat/Rocket.Chat/pull/16056
Please review

[2019-12-28 18:34] michelpy commented on #15880
@sss-wg2 I could not have said it better.
I'm not the only admin of my Rocket Chat instance, actually. My admin assistant and my helpdesk also are, and yes we know user's passwords and yes we log in as them on their PC or on their phones. There are plenty of reasons why we need to know the user's passwords. Geez isn't it enough that a dozen of us have asked for that feature to be put back for it t

[2019-12-28 21:17] ashwaniYDV commented on #7505
@rodrigok I want to work on it. I have accessed the searched text and message. Now I have to just highlight the searched text in each message.
But I am confused here, where should I do the highlight work? Should it be good to do it in the message.html, message.js template?

[2019-12-28 22:36] bubbapizza commented on #15880
Just give up, these guys will NEVER put the password field back.  They will NEVER accept a pull request that puts the password field back.  They've made a stupid decision and can't go back now because there is NO WAY TO SAVE FACE.  There is absolutely no TECHNICAL reason why you can't just put a checkbox and put things back to the way they were.  IT'S POLITICAL.

The only way out now is to fork th

[2019-12-28 23:38] soundstorm commented on #16097
I rolled back, updated again and the same thing happened.

[2019-12-29 00:00] ashwaniYDV commented on #13331
@sampaiodiego Since the PR is already merged, should this issue be closed now 🤔. Sorry if I am wrong.

[2019-12-29 00:30] wemu commented on #15880
well maybe we can cook this down a bit? Since the rest api still contains the feature I don't think it was already removed completely and its impossible to re-introduce it until a better handling is found.  The feature was removed before a better solution was available. Or an option to provide it via a marketplace exists.

I think the mistake that really happened here is that the relation between

[2019-12-29 01:31] michelpy commented on #15880
@wemu :

Thanks.

Both of these apply, in my case. I don't want to connect it to email, I don't want to connect it to AD/LADP. I could if there was a business need, but there is none. The android devices do not have a SIM, they never leave the premises.

Also, it is not that easy to change a password. 90% of my users wear gloves, typing h3d%9sWJ7!sI on an android keyboard while trying to copy it b

[2019-12-29 05:39] syscaday opened #16099 "compile app issue"
TypeError: Cannot read property 'ApiEndpoint' of undefined

[2019-12-29 11:35] ashwaniYDV opened #16100 "The UI of "This room is blocked" is not satisfactory."
### Description:
The "This room is blocked" heading is not looking good and is also somewhat not seperated from the messages.

### Steps to reproduce:

1. Go to any room
2. Block that user

### Expected behavior:
It would be nice if some background and border is given to the "This room is blocked" heading so that it is clear to read and seperated from other messages.

### Actual behavior:
Open the

[2019-12-29 12:40] himpierre commented on #16097
Strange.  My server setup looks exactly like yours.

[2019-12-29 16:29] ashwaniYDV commented on #15917
@sampaiodiego I want to work on it.

[2019-12-29 17:03] sampaiodiego commented on #15917
@ggazzo is this also fixed by https://github.com/RocketChat/Rocket.Chat/pull/16071

[2019-12-29 19:20] adrianrobotka opened #16102 "[BUG] Can't send messages anymore (2.4.0)"
### Description:

I updated my docker container to 2.4.0 - now users can't send messages anymore.

Similar issue: #16097

But I can not send messages as an admin (or in any way).

### Environment

I hava an environment like: https://rocket.chat/docs/installation/docker-containers/index.html#6-create-the-docker-composeyml-file--local-directories

I run this script every night:
[code]

### Server Se

[2019-12-29 19:50] ashwaniYDV opened #16103 "[BUG] The "click to load" text is hard-coded and not translated."
### Description:

### Steps to reproduce:

1. Go to "My Accounts"
2. Click Preferences
3. Set "Auto Load Images" to false.
4. Upload image to any chat
6. Change to different languages in settings

### Expected behavior:
The "click to load" must not be hard-coded and should change when different language is selected.

### Actual behavior:
![image](https://user-images.githubusercontent.com/43786728/

[2019-12-29 21:41] ashwaniYDV commented on #5453
@tassoevan (y) is rendered as thumbs up emoji but not (Y). Is this issue can be solved by just adding (Y) where (y) is converted to emoji.
I would like to work upon it.

[2019-12-30 04:18] alexleosumy commented on #16102
Same problem.  Fix it ASAP, please

[2019-12-30 06:56] Gummikavalier commented on #16097
Our system is hit by this too. The error message is the same.
Happens with both old and new channels.

We have Mongo 3.6, the rest is the same as OP.

[2019-12-30 06:57] ksuquix commented on #16102
Ditto

[2019-12-30 07:55] himpierre commented on #16097
Interesting. I really wonder why it works on my system.

[2019-12-30 07:59] nnluc073 commented on #15880
add html to /app/ui-flextab/client/tabs/userEdit.html

{{#if hasPermission 'edit-other-user-password'}}
			<div class="rc-form-group rc-form-group--small rc-form-group--inline">
				<div class="rc-input rc-form-item-inline">
					<label class="rc-input__label">
						<div class="rc-input__title">{{_ "Password"}}</div>
						<div class="rc-input__wrapper">
							<div class="rc-input__icon">

[2019-12-30 08:05] akong77 opened #16104 "It's got error message when I enable random password."
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 2.4.0
- Operating System: Debian 9
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Client Setup Information

- Desktop App or Browser Version:
- Operating System:

###

[2019-12-30 08:09] Gummikavalier commented on #16097
Is your setup old? If so, there may be something in the database that needs to have been set earlier that cannot be found on newer systems.

For the reference the setup I used for testing was a fresh install starting from RC 2.2.0. The update path has been 2.2.0 -> 2.3.0 -> 2.3.1 -> 2.3.2.

[2019-12-30 08:14] himpierre commented on #16097
Good point @Gummikavalier. My system is rather old, yes.
[code]

[2019-12-30 08:41] Gummikavalier commented on #16097
Since there were changes to the Oauth / OpenID publication (REST) in 2.4.0, maybe I should also mention that our setup uses Custom OAuth / OpenID authentication. However, the issue was also reproducible using original local admin account that was created during the installation.

[2019-12-30 08:44] himpierre commented on #16097
Custom OAuth / OpenID is not activated here.

[2019-12-30 09:07] soundstorm commented on #16102
@ksuquix that's why a mongodump before an update is mandatory (learned the hard way too)

Duplicate of #16097

[2019-12-30 09:16] soundstorm commented on #16097
My Setup is from Dec 2016, Zapier was automatically activated back then, additionally I enabled Facebook, but users were all registered by mail.
My admin account is additionally linked to my Facebook account (haven't yet tried to register an account via Facebook then upgrade or even create a new account under the new environment)

[2019-12-30 09:27] jbguerraz commented on #16097
Same issue here.
Worked around it by using the reset feature in `/admin/Message`

![image](https://user-images.githubusercontent.com/861556/71575903-eae9df00-2aee-11ea-9845-491ef5aedc00.png)

[2019-12-30 09:30] jbguerraz commented on #16097
our one is from `March 17, 2017 6:16 PM` but faced the issue. probably not related then.

[2019-12-30 09:55] adrianrobotka commented on #16102
Worked wor me (as a temporary solution): https://github.com/RocketChat/Rocket.Chat/issues/16097#issuecomment-569624761

[2019-12-30 09:55] #16102 closed

[2019-12-30 11:17] Shaverdoff opened #16105 "invite url on 2.4.0"
### wrong token after proceed invite url: i wonder... what ttl in default of invite-url-token? is setting some how?

![изображение](https://user-images.githubusercontent.com/43804710/71579681-2a2c2600-2b17-11ea-98f3-dc5d4a6f4f31.png)

### Steps to reproduce:

1. generate invite url on pv
2. transfer url to user
3. user must be login and after new user has proceed to url we looking a error

### Exp

[2019-12-30 13:04] dudizilla opened #16106 "We need translators"
We need people interested in translating the button to change the language in login/register page.

When the page is in English, on the button is written 'English Version' in the selected language. We need to change this to '*Selected Language* Version'
![Screen Shot 2019-12-30 at 9 58 45 AM](https://user-images.githubusercontent.com/42151808/71583160-0a333d00-2aec-11ea-8394-48321b0a6b9c.png)

[2019-12-30 14:21] mhaluska opened #16109 "[BUG] Cannot create Outgoing Webhook"
### Description:

Cannot create new Outgoing Webhook, giving me message `No integration found by the provided id.` Same problem on another instance.

### Steps to reproduce:

I've currently no Outgoing WebHook.

1. Go to `Administration -> Integrations -> New integration`
2. Click on `Outgoing WebHook`

### Expected behavior:

Open `Outgoing WebHook` configuration (incoming works).

### Actual beh

[2019-12-30 14:21] Gummikavalier commented on #16097
@jbguerraz Resetting Message settings fixed our issue too.

The setting seems to be:
![Screenshot from 2019-12-30 16-18-21](https://user-images.githubusercontent.com/6958942/71585739-4d0f0800-2b20-11ea-9462-b0469b638449.png)

When it is enabled, the users cannot send messages. When it is disabled (default) they can.

[2019-12-30 14:27] mhaluska commented on #16106
Czech version: Česká verze

[2019-12-30 14:29] rajm opened #16110 "setAvatar Rest API gives statuscode null"
### Description:

When is access the api/v1/users.setAvatar  api end point with credentials in the header and avataUrl and Username in the data, i am getting Statuscode null error

### Steps to reproduce:

require 'net/http'
require 'uri'
require 'json'

uri = URI.parse('https://domain/api/v1/users.setAvatar')

http = Net::HTTP.new(uri.host, 443)
http.use_ssl = true

req = Net::HTTP::Post.new(uri.

[2019-12-30 14:31] mhaluska commented on #16104
Try this, go to `Administration -> Accounts -> Password Policy`, disable `At Least One Symbol`

[2019-12-30 15:10] ritwizsinha commented on #5436
@ggazzo are you working on it ?

[2019-12-30 15:14] soundstorm commented on #16097
A setting like this should not forbid users to text. Leaving this open until a proper software fix, even if it may work.

[2019-12-30 15:26] ritwizsinha opened #16111 "The choose a room in role editing panel overlaps with the text"
### Description:

When we search for rooms , the recommendation results overlap with the current text

### Steps to reproduce:

1. Go to Permissions
2. Go to add role and specify the role
3. Specify the room and the recommendation result appears

### Expected behavior:

It should not overlap

### Actual behavior:

![Selection_002](https://user-images.githubusercontent.com/43509699/71588255-d174818

[2019-12-30 15:51] Gummikavalier commented on #16097
Where that setting seems to affect particularly when disabled, is the impersonation setting with outgoing integrations. This does not work anymore:

![Screenshot from 2019-12-30 17-45-02](https://user-images.githubusercontent.com/6958942/71589181-9c5b3580-2b2c-11ea-9bbe-b30ed4ee5729.png)

[2019-12-30 16:11] mddvul22 commented on #16007
Hours.  A few times, even a day or more.  Web socket connections are valid.

[2019-12-30 16:50] ritwizsinha opened #16112 "No margin between add-users and invite-userrs in members-list"
### Description:

### Steps to reproduce:

1. Any Channel
2. Click on member list
3. No margin between the buttons

### Expected behavior:

There should be margin

### Actual behavior:

![Selection_004](https://user-images.githubusercontent.com/43509699/71591447-5dd87180-2b52-11ea-8197-5bfea3e0ac8e.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 2.4.0 -develop
- Operating Sys

[2019-12-30 17:33] ashwaniYDV commented on #15917
@sampaiodiego I have tested the code of #16071 and I found out that this issue #15917 has been solved there. :)

[2019-12-30 18:34] apaarfus commented on #16104
Sure, but what's the point in having a strong password policy if the random password generator doesn't pay attention to those rules?

[2019-12-30 18:51] mhaluska commented on #16104
I agree, random password generator should reflect Password Policy settings.

[2019-12-30 18:53] serviceman commented on #16105
Not sure if I should start a new ticket for this or not. Invite url duplicates the directory when running in sub directory mode.

https://domain.com/subdirectory/subdirectory/invite/SSBmcX

[2019-12-31 05:44] impearker commented on #15880
I'm only coming into this "bug" now, though I noticed this change recently. I don't see any reason this feature should have been removed. I don't see any security benefits it would give, any functionality benefits, nothing. Please revert this change.

[2019-12-31 05:52] rajm commented on #15788
You need to store the login token in your application and user login rest api call to invalidate the token, and also try to use logout iframe commands...

right now these two optoins are only available.. it mostly logs you out... sometimes not..

[2019-12-31 07:44] serviceman commented on #16100
If possible, I'd like for it to say if the user blocked the room, or if the room has been blocked by the other user in the private chat or the admin, etc.

[2019-12-31 08:49] brittyazel commented on #13926
Yep it was the server clock. It was behind by about 40s in our case

[2019-12-31 12:11] reetp commented on #15880
I believe 2.2.1

If you are on a manual or docker install you can stay where you are. Snap users won't have any choice....

The great irony with this is that many of us will stay on 2.2.1 to avoid this change which means that we are running 'insecure' systems because there are now bug fixes we will not apply.

So much for increasing security...........

I still believe there is a case for a 'Super

[2019-12-31 15:36] wreiske commented on #15880
I have not tested this, but it should do the job....

1. Login to Rocket.Chat
2. Click on your user Avatar and click "My Account"
![image](https://user-images.githubusercontent.com/6295044/71625740-6adb7c00-2bb7-11ea-8414-8853f1c3edb2.png)
3. Click "Personal Access Tokens"
![image](https://user-images.githubusercontent.com/6295044/71625751-76c73e00-2bb7-11ea-9259-eab7504b5da8.png)
4. Give it a nam

[2019-12-31 16:04] nahga commented on #15880
Looks as tho downgrading to 2.2.1 is not possible on a manual install if you've already updated to 2.3.1
Still not sure how these developers can think email is the solution for this. In my use case, email does not exist. I have only 12-15 users, and I know none of their email address. That is the way we want it. Our instance is configured as a mirror for an IRC channel so people can access/continu

[2019-12-31 17:06] #15820 closed

[2019-12-31 17:13] wreiske commented on #15880
Wrote a little bash script to help those that need it.

https://gist.github.com/wreiske/9e3f28900baa6ec82c0ac567e6f920d6

[2019-12-31 19:50] olegberman commented on #11509
Closing due to inactivity.

[2019-12-31 19:50] #11509 closed

[2019-12-31 21:13] JonathanWilbur opened #16115 "Trust header for username or common name"
I would like a setting whereby RocketChat will trust a selected header to contain the username of an authenticated user. It would be easy to implement, and it would allow Nginx proxies to insert headers containing the common name of a client certificate for authentication. In other words, enabling this feature would allow clients to authenticate to RocketChat via TLS certificates.

[2020-01-01 10:43] ClundXIII commented on #6174
I do have a similar problem related to this. When changing the username id of a user I would expect the old user to be deleted and a new one created by rocketchat. However I only get a ton of errors instead.

I would love to have an option, like:

If user is disabled in LDAP: disable or delete in rocketchat
If user does not appear in LDAP (aka deleted from LDAP): disable or delete in rocketchat

T

[2020-01-01 17:41] Gummikavalier commented on #15880
In case it will be removed from API one can use the direct database method:

[code]

My only issue with above (only time I needed it in), was that I didn't know which tool to use to generate bcrypted password, so I copied the hash from one account I already knew (my own).

For listing out any passwords in the database I used:
[code]

[2020-01-01 23:10] zetahoq opened #16116 "Assets >> logo (svg, png, jpg) stoppd working"
### Description:

We are using a PNG logo under Administration >> Assests >> logo (svg, png, jpg). The image is currently showing as a broke HTML image icon. Browser Dev Tools is showing "Failed to load resource: the server responded with a status of 403 ()"

### Steps to reproduce:

1. Open Rocket.Chat and logo is not there. Rinse.Repeat

### Expected behavior:

Image should show up as it normall

[2020-01-02 00:00] aviral243 opened #16117 "A channel/group cannot have zero owners once it has had one owner."
### Description:

When a new channel or group is made, it has no owners. After you set one of the users as owner, you cannot remove him from this postion until you set someone else as the owner. ( You can set yourself as the owner to make this work. )

### Steps to reproduce:

1. Click on user and make him the owner.
2. Try removing him from the owner position.
3. You will get an error message say

[2020-01-02 04:49] aviral243 commented on #16116
I'm not experiencing the issue on the development server.
I deployed using `meteor npm start`
![Screenshot from 2020-01-02 10-16-13](https://user-images.githubusercontent.com/44023445/71652145-48796800-2d49-11ea-8e94-a2ff02faf932.png)

[2020-01-02 05:34] sinray opened #16119 "How to set my own MONGO_URL"
After I  clone this repo.
And i want to do something else by my own.
I changed `package.json`
{
"start": "MONGO_URL=mongodb://localhost:27017/rocketchat MONGO_OPLOG_URL=mongodb://localhost:27017/local meteor",
}

But it didnt work.

Is there a config.js file to set my own MongoDB url ?

[2020-01-02 08:12] jaroslavmraz commented on #16104
Problem with password generator is more then year... I used to do it manualy but now you cant set password on your own as admin...

[2020-01-02 09:10] zetahoq commented on #16116
It was a mistake on our end.

[2020-01-02 09:10] #16116 closed

[2020-01-02 10:42] quiris11 commented on #13003
Any progress on this issue. I also see the same result trying to upload file on Nextcloud server - Random filename and 0 kB file size.

Log file excerpt:
I20200102-10:37:40.842(0) UploadProxy ➔ debug Upload URL: /ufs/Webdav:Uploads/EaKtGbqE7vG78LE39?token=d88B8bbbA8&progress=0.010675423850293861
I20200102-10:37:40.845(0) UploadProxy ➔ debug Correct instance
I20200102-10:37:41.062(0) UploadProxy ➔

[2020-01-02 11:52] reetp commented on #15880
This for listing doesn't work if you have an 'undefined' user (long story why you might have)

However, you can get it for an individual user with:

`db.users.find({'username':'SomeUserName'}).forEach( function(u) { print(u.services.password.bcrypt + " ; " + u.username); } )
`

[2020-01-02 11:53] reetp commented on #16104
https://github.com/RocketChat/Rocket.Chat/issues/15880

[2020-01-02 12:32] gabriellsh commented on #3565
Tested on 2.4.0-develop. Everything seems fine, able do enter and exit of video calls. In any case, if you find that after updating this still happens, please, reopen this issue.

[2020-01-02 12:32] #3565 closed

[2020-01-02 13:27] MartinSchoeler commented on #16119
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-02 13:27] #16119 closed

[2020-01-02 13:39] MartinSchoeler commented on #16092
This was already fixed, the new UI for the admin has toggle buttons 🙂
![Screen Shot 2020-01-02 at 10 38 23](https://user-images.githubusercontent.com/20868078/71669642-203f3880-2d4c-11ea-9c3e-20fbaaad4050.png)

[2020-01-02 13:39] #16092 closed

[2020-01-02 13:40] MartinSchoeler commented on #16099
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-02 13:40] #16099 closed

[2020-01-02 13:43] apaarfus commented on #16104
Worst case, it appears manually setting a password (random or otherwise) is still exposed in the API (for now); so until this issue is addresses, there's still a way forward...albeit, a little convoluted.

[2020-01-02 14:11] fleaz commented on #15879
I already reported this bug nearly one year ago. See #13374

[2020-01-02 14:29] MartinSchoeler commented on #16106
we can simply add the name of the language before the "version" word, we should have that already translated since the language names on the language list are already translated to the right language

[2020-01-02 14:30] MartinSchoeler commented on #11770
This was fixed a while ago, closing this issue

[2020-01-02 14:30] #11770 closed

[2020-01-02 16:28] wreiske commented on #15880
https://forums.meteor.com/t/use-mongo-shell-to-change-user-password/4018/6 may be helpful here.

[2020-01-02 16:30] MartinSchoeler commented on #16117
@aviral243 How are you creating the channels? It should make the creator as owner.

[2020-01-02 16:33] aviral243 commented on #16117
Yes. I just checked. It is happening for all other groups/channels, but not for the #general channel. Is that intented?

[2020-01-02 16:35] MartinSchoeler commented on #16112
It seems to be working fine on the development version, please make sure to run the latest version, and check if you dont have any custom css, since the color of your buttons seems off. Thanks!

[2020-01-02 16:35] #16112 closed

[2020-01-02 19:32] marianotribuj opened #16124 "Frontend doesn't update user's Role after "setting/removing" the role in members list"
The issue can be reproduced on open.rocket.chat:

- Go to members list of a group
- Choose a user, and click on "Set As Owner"
- The green toast is shown saying that the users was set as Owner, and the message in the room appears saying "The user .... was set owner....".
- When you open the contextual menu again on the same user, it allows you the set him as owner "again", and the toast shows an e

[2020-01-02 19:34] marianotribuj commented on #16124
The same thing happens when you go to User Info through the Members list, and click Set As Owner/Remove as Owner. The link doesn't update.

The strange thing is that a local version running on my computer (with meteor npm start) works well...

[2020-01-02 20:22] citylocalpro opened #16125 "SMTP not working"
I am using rocket chat version 2.3.1 on Ubuntu 18.04.3 LTS. I have configured SMTP with Cpanel email service that was working fine from 1 month. But now SMTP not sending email. I have checked all configuration i also have checked with gmail SMTP. I am not getting any error. When i send test mail, i got notification that email sent successfully but i am not getting the email.

[2020-01-02 21:45] rodrigok commented on #15880
Thanks for your comments, let's try to clarify some things here and propose improvements.

## Answering some topics

Yes, we are removing the options step by step, we are going to remove this option soon.

We are listening to the community, but don't expect a new feature or a fix with just 1 or 2 requests from the community, we hove other requests with more engagement that are prioritized. Since w

[2020-01-02 22:00] kaiiiiiiiii commented on #16106
Nope, you shouldn’t do that. It’s maybe fine for most of the languages, but there’s for example german, where the wording is a bit different.

German = Deutsch
German Version = Deutsche Version

[2020-01-03 00:16] michelpy commented on #15880
Switching to zulipchat.

[2020-01-03 01:11] nahga commented on #15880
Installing this tomorrow. If tests prove successful, I’ll migrate to it.

Thanks for the heads up.

[2020-01-03 02:24] aarondl commented on #15788
Hi @rajm. The main problem that we have is that we don't have a way of knowing when the user has been logged out of the application (session expiry) and so there's no actions we can perform when the expiry occurs.

We can't rely on storing the token to invalidate because the session expires meaning all our session data is gone, and we can't store it in the database because there's no session to he

[2020-01-03 02:54] bubbapizza commented on #15880
See, I told ya.  They will NEVER put the password field back.  This statement is not a TECHNICAL decision, this IS a POLITICAL decision.  It's their git repo and they can do whatever they want with it.  You're free to fork the code but this git repo will NEVER have that code:

AND

Sigh, welcome to open source

Somebody can now at least report to their boss that they paid lip service to the commun

[2020-01-03 05:36] michelpy commented on #15880
I have been in the computer industry before the Internet existed. A long time ago, in a galaxy not that far away, I used to be a dBase II developer, then moved to dBase III and Clipper. Before that, I was an Apple /// developer.

One day at Comdex, I see this dude wearing a F.A.T.E. badge. What's F.A.T.E ?
Former Ashton Tate Employee. Maybe someone can come up with a good-looking acronym for "form

[2020-01-03 06:21] ritwizsinha opened #16126 "[FEATURE REQUEST]Add feature to send messages images, pdf, etc. in one message"
Currently while sending any message if the user wants to send any image alongside it, it doesn't work because the image is uploaded first and the message would be sent later, to do this the user would have to enter the message first and then the image, pdf, etc.. It would become much simpler if the user could do all that in one message without the need to create many messages and the messages coul

[2020-01-03 08:22] rgembalik commented on #15189
Actually I have several different behaviours reported form our team - some say it disappears too quickly, for others it stays there for a long time (or until cleared manually from the channel list). I think the first issue is on browsers, the second when using the windows app, although I am not sure. Some channels tend to have more problems with the marker disappearing or appearing for too long. T

[2020-01-03 08:46] FudunTian opened #16127 "Rocket Chat Linux Desktop can not get any notification and open any link"
Hi
I am working on CentOS Linux release 7.7.1908 (Core), and currently using  v2.17.2 Rockchat Linux version.
And I find that I can not get any notification at Linux, but I can get notifications at Windows environment. The desktop notification test function does not work neither.
The second problem is I can not open any link at Linux, it just no feedback, do I need to tell Rocket chat how to start

[2020-01-03 11:44] aviral243 commented on #16045
Should we remove the avatar all over or debug it to show the profile image?

[2020-01-03 11:45] ritwizsinha commented on #16045
I'm already working over it , will try to show the rocketchat bot avatar

[2020-01-03 12:15] reetp commented on #15880
Note I have tried to make this as impersonal as possible, this is a criticism of the Rocket team, of whom Rodrigo is just one (very important) member. It is not a personal attack on any one person.

I am sure some of this will be interpreted as 'rude'. As a lot of the Rocket team know, I am blunt, which can incorrectly be construed as rude. I have always done what I have perceived to be the best i

[2020-01-03 12:19] anktkr commented on #7020
Mojave, 10.14.5, Safari Version 12.1.1 (14607.2.6.1.1) sees this issue again.

So does Firefox 71.0 (64-bit)

[2020-01-03 12:51] MartinSchoeler commented on #16125
Hey, looks like you are looking for support. You will have a better chance of getting help if you go to one of the places listed in [here](https://rocket.chat/docs/getting-support/#community-support) since github is not the best place to ask for support. For now i will be closing this issue, as it does not fit our issue guidelines

[2020-01-03 12:51] #16125 closed

[2020-01-03 13:30] tars21 commented on #16081
I've just tried it now from 2.3.2 to 2.4.0 in my staging area.
3 containers are running -> shutdown 1 of them and updating to 2.4.0
Accessing all nodes seperately, the Admin -> Info shows me version 2.4.0, although 2.3.2 docker images are running there.

during the "version missmatch" I've had following messages spamming the log
`
rocketchat_1  | server.js:204 StreamBroadcast ➔ Stream.error Stream

[2020-01-03 14:04] rodrigok commented on #15880
@reetp by saing

You mean that you don't want to enter a code from Google Authenticator or sent via email only, or don't like the requirement to enter the password in case you don't have the TOTP or email enabled as well?

I'm really trying to understand this point since the 2FA as described here and in the PR will not require you to configure a TOTP or use your email to receive the code, but, in

[2020-01-03 14:20] sadkins76 commented on #15880
You know, this is nearly the EXACT argument that was made, when users were asking for the ability to view messages between users, as administrators...the response was it was something they were considering,  but they were trying to asses the privacy and security ramifications.  Uhhh, OK... Then when it was finally done, they put it in the paid version ONLY.  So, I should expect this to soon be a f

[2020-01-03 15:05] rodrigok commented on #15880
As far as I know, zulip has a hard requirement of email, it's not even possible to create users, just invite them via email.

Rocket.Chat version 2.4 now has the invite links feature where you can generate a link to send to the users so they can register be them selfs.

[2020-01-03 15:23] mddvul22 commented on #15485
In our General Settings, the url is not localhost.

[2020-01-03 15:26] mddvul22 commented on #13249
@ggazzo can you please re-open?   Thanks!

[2020-01-03 16:56] nahga commented on #15880
@rodrigok I think you've missed the biggest concern here. Every person posting in this thread is in a similar use-case where they do not, or cannot use email for password resets.
Also your solution of not having a email verified will just show the password in the UI....how is that any different from me setting it for the user?
I do not pretend to know the long term plans of rocket chat and it's de

[2020-01-03 17:09] michelpy commented on #15880
At least they have not pulled a critical failure from under my feet without a warning, and I won't have to worry about the next move that will cripple my system. I'll download it to see if it works for me, and if it does not I'll try something else like mattermost, it's not like there are no alternatives. Plenty of choices out there.

[2020-01-03 17:19] rodrigok commented on #15880
@nahga we are trying to set degrees of security vs freedom here. Since it's a discussion could you explain why a generated password is worse than enter the password you want? From our side I can explain why a random it's better, it prevents administrators to set the same password to all users and prevent administrators to ask the password desired by the user (which may be the same for other system

[2020-01-03 17:28] greenhats2110 commented on #16109
Hi
I'm also facing same issue.. kindly assist us
Thanks in advance

[2020-01-03 17:51] sadkins76 commented on #15880
@rodrigok WE are the admins of our installations.  Shouldn't the security of OUR servers be of OUR concern and choice?  Most of us don't need 2FA, or email verification, or complex passwords.  I have an environment of about 50 users, most of which are SHARED logins on SHARED computers.  There is no need, want, or requirement that ANY of the users even need to know the passwords to login, as it aut

[2020-01-03 19:09] gelinger777 commented on #14631
I wonder if tmid is supported in incoming hook, or  https://rocket.chat/docs/developer-guides/rest-api/chat/postmessage/  ???  How can we force message to land under specific thread? Is that possible?

[2020-01-03 19:27] dusatvoj commented on #16046
### Update

Same Issue on: server v`2.3.0`, `2.3.2` and `2.4.0` wth recommended node and npm versions

Firefox logs on v2.4.0:
[code]

Related to:
#15904
#14997

It's **critical issue** when people should be online but they don't know, they were logged out in opened window even with `Accounts_forgetUserSessionOnWindowClose = false`

[2020-01-03 20:02] NitinBhasneria commented on #15951
@MartinSchoeler I want to claim this issue?

[2020-01-03 20:03] NitinBhasneria commented on #15951
@eliotb @MartinSchoeler I want to claim this issue. Can I?

[2020-01-03 20:23] wemu commented on #15880
well to give one reason why own passwords are useful: when users lock themself out, they will call the service desk, if the service desk can set an easy one and define that upon next login the user needs to change it, its easier and faster handled. A generated one is hard to spell on a phone and will take more attempts and more time - something service desks should not spend on passwords. I've see

[2020-01-03 21:18] rodrigok commented on #15880
@wemu thanks for your contribution. What if we add some settings to configure the generated password? Today our password is something like `CTrfCyQSpXwtxsPMt` but we could reduce it to 6 chars lowercase only like `dak78g` or even just numbers as we do for 2FA like `759-321`. Would that be better?

[2020-01-03 21:33] villadalmine commented on #15880
So email will be the primary point of contact no way to get an option to disabled it and take own risk ? Just to know because I want to move to another app ASAP this is taking so many time and no action ... maybe someone want to fork it and continue doing with other point of view ...

[2020-01-03 22:19] rodrigok commented on #15880
@villadalmine it depends, in the proposal only if you have a verified email it will be sent by email, otherwise it will show on the screen.

[2020-01-03 23:03] michelpy commented on #15880
@wemu

We do the same, and we actually ask what password they want, so we can check that it is not something completely weak. My users know who I am, they know my voice, and they are the ones calling. They will give me their password over the phone, when they don't stop by my desk to start with.

[2020-01-03 23:06] Crayder opened #16129 "New KaTeX bug, line breaks appear as `<br>`"
### Description:

This definitely wasn't happening last week, not sure when my RocketChat would've upgraded however. I'm on `v2.15.2`.

### Steps to reproduce:

1. Do some KaTeX (sorry if the vulgarness seems unprofessional).
![image](https://user-images.githubusercontent.com/9919010/71753127-2fef7780-2e47-11ea-8678-93c05d2668ab.png)
2. That worked fine and looks great.
3. Add some line breaks.
![

[2020-01-04 10:33] CodazziS opened #16130 "[User information] Email address can be showned with regular user on IOS application"
# Description:

Regular user can see private emails on Iphone application.

### Steps to reproduce:

1. Open rocket chat application, with a non-admin user
2. Select an user, and see details
3. You can see email address

### Expected behavior:

Display user information without email (like Android app, or web app)
CF screenshot (on web application) :
![image](https://user-images.githubusercontent.c

[2020-01-04 10:39] CodazziS commented on #13980
Hello,

Any news ?
Olds menus still here with version 2.4.0.

[2020-01-04 15:23] reetp commented on #15880
You are still asking why do I want to be able to set my own passwords and not use email and not use 2FA?

As if I haven't said it already. Your replies so far have have been nothing more than avoidance or obfuscation. Like a fish wriggling on a hook. The problem is you can't admit the truth and reasoning behind this change can you?

I'll try and put my issues in simpler terms that you can understa

[2020-01-04 21:45] michelpy commented on #15880
You are right, but in this case it is even worse, because I now have a ticket to solve why my service desk can't change the password, AND I have become the service desk, because I don't want them to login as root and making manual changes to the database.

I will join many other posters here in saying that attitude is what is driving me away from RC. I have zero confidence in buying the paid app a

[2020-01-05 05:43] elurex opened #16131 "ldap function matchParens parse error"
server.js:207 LDAP ➔ Bind.info Binding UserDN cn=administrator,cn=users,dc=ad,dc=example,dc=com
{"name":"ldapjs","component":"client","hostname":"rchat1","pid":1796,"clazz":"Client","ldap_id":"2__ldaps://dc01.ad.example.com:636","level":20,"msg":"connected after 1 attempt(s)","time":"2020-01-05T05:26:29.2
40Z","v":0}
server.js:207 LDAP ➔ Search.info Searching user username@example.com.tw
server.js

[2020-01-05 11:42] soeyi opened #16132 "Is schema doc still available ?"
I have seen the issue opened years ago .[https://github.com/RocketChat/Rocket.Chat/issues/532](https://github.com/RocketChat/Rocket.Chat/issues/532)
But the wiki page is not available now.

I also the the Schema Definition Page in [ schema definition doc](https://rocket.chat/docs/developer-guides/schema-definition/#rooms)

However it  only contains few models.So how can I get the total schema defi

[2020-01-05 13:01] Mohammed-Deifallah opened #16133 "Context Menu"
Hello all,
I found a bug in Rocket.chat Desktop application. Here's the relevant information:
Operating System: Windows 10 Pro
Version	10.0.17763 Build 17763
Rocket Version: 2.17.1
System Type: 64-bit Operating System, x64-based processor
Expected Behavior: When choosing any option from the context menu, it should do the same thing as its corresponding keyboard shortcut.
Actual Behavior: Keyboard

[2020-01-05 16:15] TheG0dfath3r commented on #16106
Hindi -
हिंदी संस्करण

[2020-01-05 20:10] bubbapizza commented on #15880
I think I can summarize all this blathering in 2 minor changes:

1) please put a checkbox under administration->accounts->"allow administrators to specify user passwords" (you can make it default to off if you want)
2) if 1) is true, put a  field under the user account that lets the administrator type in any password he/she wants

Was that so hard?

[2020-01-06 01:00] michelpy commented on #15880
I am very sorry to support that this is _not_ a technical move. This is indeed a political move. I interpret it as a F***You. The code was there earlier, we are not talking about spending time writing a new feature here. It costs time to remove the feature, and there is nothing but one thing that justifies going against the community removing a feature that was already there : now, we are going to

[2020-01-06 01:59] serviceman commented on #16117
I was forced to create a "fake/bot" account and hand over ownership to that account. I have other reasons to need a fake/bot account, so it worked for me.

[2020-01-06 02:47] gillbates commented on #15880
just found this when one of our users came to ask for a password change.
Please bring this back for sysadmins.

[2020-01-06 04:53] elurex commented on #16131
problem solved, the error comes from LDAP_Sync_User_Data_Groups_Filter in the setting contains TAB characters...

[2020-01-06 04:53] #16131 closed

[2020-01-06 08:44] cygnusm opened #16134 "jitsi crashed after click on videocall"
### Description:

when i click on videocall button app crashed
### Steps to reproduce:

### Expected behavior:

begin videocall

### Actual behavior:

crash the app

### Server Setup Information:

- Version of Rocket.Chat Server: 2.3.0
- Operating System: ubuntu 16

### Client Setup Information

-rocketchat experimental version: both 1.20 and 4.2.0

### Additional context

jitsi meet is working go

[2020-01-06 09:11] Gummikavalier commented on #16106
Finnish version: "Suomenkielinen versio"

Finnish as in person = "Suomalainen"
Finnish as in language = "Suomenkielinen"

[2020-01-06 10:04] #16134 closed

[2020-01-06 11:22] sss-wg2 commented on #15880
I moved to matrix.org over the weekend. The attitude and ridiculous arguments for this change from the devs made me lose confidence in this entire project. This is just a big middle finger to everyone who are not using Rocket Chat in "the correct way".

No matter how many pages of crap are written to defend it, this remains a POLITICAL change which adds NO security, and the devs are outright insul

[2020-01-06 11:35] #15448 closed

[2020-01-06 11:37] #12287 closed

[2020-01-06 11:38] #12324 closed

[2020-01-06 11:39] #8616 closed

[2020-01-06 11:41] #8113 closed

[2020-01-06 12:11] #14872 closed

[2020-01-06 12:15] #7816 closed

[2020-01-06 13:43] #9849 closed

[2020-01-06 14:35] reetp commented on #15880
Can't say that I blame you. Probably see you there ;-)

I now seriously regret advising a user just recently to use Rocket.Chat, and Rocket.Chat cloud services. Big mistake.

I think Rocket.Chat is likely trying to target a less savvy target audience, and away from enterprise where the competition is too stiff right now.

They look to be dumbing it down, presumably for users/admins who will run it

[2020-01-06 14:36] soeyi opened #16136 "Css doesn't refresh in development mode"
I've changed the `.sidebar`  css attribute `z-index` to `3` like the photo below;

![image](https://user-images.githubusercontent.com/38489160/71824343-46f6c980-30d4-11ea-9402-85544695988d.png)

However after i refresh my Chrome window.The css attribute is still what i wrote before;
![image](https://user-images.githubusercontent.com/38489160/71824464-89b8a180-30d4-11ea-9cce-aef0d0289232.png)

I ru

[2020-01-06 14:37] rodrigok commented on #15880
I'm not, just want to know about the necessity of own passwords.

I can, it was a security improvement. Maybe we did it in a wrong way, that's why we are here providing solutions and trying to understand the root of your necessity because we have good reasons and want to keep our users secure.

We understood that and proposed solutions to not depend on email.

For the Bots we proposed the solution

[2020-01-06 15:20] sss-wg2 commented on #15880
@rodrigok You need to understand that arguing back and forth in this thread about how, why, and what this change really is, and how to move forward is just causing more frustration for the admins that now have angry users screaming at them.

People actually use Rocket Chat for kind of important stuff, and nobody wants to hear that the devs are kinda admitting that they possibly should have done th

[2020-01-06 15:22] jschirrmacher commented on #12291
Seems to be resolved in the meantime, at least with version 1.3.x

[2020-01-06 15:22] #12291 closed

[2020-01-06 15:24] jschirrmacher opened #16137 "Ending OTR shows wrong button 'Send' instead of 'Ok'"
### Description:

Ending an OTR session shows a modal dialog with a 'Send' button. This is misleading and the button should instead be named like 'Ok'.

[2020-01-06 15:51] reetp commented on #15880
I can't actually believe you wrote that. Well, actually I can.

Yes. We know. We keep on telling you this. Keep up.

I said have a superuser account for various functions, but you say 'what if it gets hacked'. And I say what if my whole server gets hacked?? Then what are you going to do?

That is a contradiction in terms. Either we are 3 years old you need to protect us, or we are grown ups......

[2020-01-06 17:07] ugintl opened #16140 "Ability to add contacts and make directory private"
I want to allow users to add contacts to their directory. User should only be able to chat with those users who are in their directory. In other words, contact list.

Currently users can see all users on the server and start a discussion or send direct messages to them.

If I had to give you an example of what is in my mind, so I would give you example of Skype, Whatsapp, viber etc where people ha

[2020-01-06 19:05] adipose commented on #15880
@rodrigok

Thanks for all your hard work on making this software available to free to many of us.  I really appreciate it.

But you have a bug in your statement above.  You said "our system."  It's not your system, it's my system.  It's your software, perhaps, although in open source even that is debatable.  You don't need to worry about how I keep my software secure--I can do that myself.

A true

[2020-01-06 19:54] #13777 closed

[2020-01-06 20:01] ashwaniYDV opened #16143 "The text on Rocket.Chat home page is not getting translated."
### Description:
The text of the home page is always English and is not getting translated when user chooses different languages.

### Steps to reproduce:

1. Go to "My Accounts"
2. Click on "Preferences"
3. Select another language
4. Go to Home by clicking the rocket chat icon at the bottom of sidebar

### Expected behavior:
The  "Welcome to Rocket.Chat!
The Rocket.Chat desktops apps for Windows,

[2020-01-06 20:05] michelpy commented on #15880
How is that working for you ? Are you using riot.im too ?

[2020-01-06 20:22] adipose commented on #15880
As a workaround, set the user's email address to your own email address, then reset the password.  This is so easy, it begs the question of what security has been achieved, here...

I'm sure before long, we won't be allowed to change a user's email address, either.

[2020-01-06 20:45] andreirtaylor commented on #15583
I see this in 2.4.0 as well. You are also unable to read replies/discussions directly by clicking on them.

[2020-01-06 20:46] Sys-Admin889 opened #16144 "Mail Messages"
What is the advantage of this feature and how it can be applied.

[2020-01-06 21:37] ashwaniYDV opened #16145 "Input element of "user-status-custom" component is not alligned correctly."
### Description:
Input element of "user-status-custom" component does not have enough margin and is very close to the text "Presence"

### Steps to reproduce:

1. Go to Administration
2. Click "Custom User Status"
3. Click on add button

### Expected behavior:
There should be enough margin/padding

### Actual behavior:
It is not so.

![imageedit_4_3261222051](https://user-images.githubusercontent.

[2020-01-06 21:44] apaarfus commented on #15880
Unpopular opinion here -- as annoying as this is, and it really is, its not a terrible call.  A bad implementation and deployment, sure--but the change overall I don't fully disagree with.  Still, I figured its worth the response of someone who's less personally invested in this issue, but still a little miffed.

In our environment, we've got our RC instance sending out emails, granted a very smal

[2020-01-06 21:51] adipose commented on #15880
My workaround of changing the user's email address underscores how stupid the concept is.  If you have access to change everything except the password, you have access to change the password, too.  So they've accomplished nothing, while annoying admins.

An admin-lite is certainly an idea I can get behind.  Hell, I would probably use it for some lesser admins I have.  But the superadmin is all pow

[2020-01-06 21:56] apaarfus commented on #15880
I still think a means to perform these actions outside of the webapp itself would be a workable starting point for the community at large.  Its not as easy as doing it within the GUI, I'll give you that; but I feel like this would be the least annoying thing to everyone involved (including me).  At the moment, I'm the sole admin and technical support agent in our company (and have been since I sta

[2020-01-06 21:59] wreiske commented on #15880
See: https://github.com/RocketChat/Rocket.Chat/issues/15880#issuecomment-569960810

For now, while the API still exists, this script should do the trick.

[2020-01-06 22:03] apaarfus commented on #15880
Sure, but that's not a long-term solution given the current roadmap for this hotly debated issue.  As per the current company statement, the API workaround will be removed in a future update--so, while it may work for the time being (though, I never could get that going our testing environment), that's not something that should be heavily relied on going forward...unless a change in statement is r

[2020-01-06 22:11] nahga commented on #15880
I think you've missed the boat. Either they revert this, or they lose people, not only the ones using the software, but also those that championed and recommended the software as well. They've fulled admitted they made a mistake with this rollout. Not with the policy, but it's implementation and delivery. And they've offered no stop gaps to help. The community, specifically @wreiske, did not RC.

[2020-01-06 22:13] ajkerzner opened #16146 "HXXP and HXXPS linkification"
### Description:

hxxp://<url> and hxxps://<url> should not be linkified.

### Steps to reproduce:

1. Enter any URL, like hxxps://www.google.com , in chat

### Expected behavior:

The URL should NOT be linkified.

### Actual behavior:

The URL is linkified.

### Notes

HXXP and HXXPS are commonly used to send a URL as plaintext and prevent linkification. Common use cases are websites with malware

[2020-01-06 22:36] apaarfus commented on #15880
Oh, no, I get that.  I mean, I can't say I'll be recommending it outside of our current deployment in its current state...but I still don't think a complete reversal of this change is really in the cards.  Regardless of demand, the company appears to be pretty adamant that this is the way things are going to be unless some burden of proof is met by the user-base.  While @rodrigok has stated time a

[2020-01-06 22:54] adipose commented on #15880
This is not really the place for this comment, but I was looking at the code of my installed 2.4, and I noticed it differs from the develop tree--as in, it's newer.  Is the source code of the latest install no longer being published to github?

A file which hasn't been updated since I issued a pull request over a year ago, has had its source changed in the 2.40 install.  And yet, in the develop tr

[2020-01-06 22:56] wreiske commented on #15880
Is it here? https://github.com/RocketChat/Rocket.Chat/tree/2.4.0

[2020-01-06 23:05] adipose commented on #15880
No, it's not there.  I'm happy to discuss what file it was.

https://github.com/RocketChat/Rocket.Chat/blob/2.4.0/app/ldap/server/ldap.js

See this line here:

![image](https://user-images.githubusercontent.com/3324395/71855288-7a663380-3095-11ea-8136-d78157931f8d.png)

In the installed 2.40, it instead has this (in app.js):

![image](https://user-images.githubusercontent.com/3324395/71855319-8f42

[2020-01-06 23:27] wreiske commented on #15880
That's exactly right. When babel compiles it, the template literals get converted to concats. Nothing out of the ordinary there.

[2020-01-07 00:26] ryjones commented on #15391
This server is running:
[code]

[2020-01-07 04:55] pierre-lehnen-rc commented on #16105
The invite expiration date is displayed under the generated URL when you click on the invite button.

[2020-01-07 09:09] stukev opened #16148 "Quotes not being shown in group chats (E2E)"
### Description:

Whenever anyone in our group chats uses the quote functionality to quote someone else's message it only displays the actual answer typed by the user, not the original quote. Tested in web client as well as the desktop client for Ubuntu. I noticed on Ubuntu that I see the formatting for the quote appear in the desktop notification, which makes me think it's a render issue rather t

[2020-01-07 09:19] Shaverdoff commented on #16105
But why error appear?

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84 | Skype/email: gerasim@altarix.ru
Lenina av.25, Samara, Russia, 443068

[2020-01-07 09:56] Tupsi opened #16149 "snap server part fails to autostart after server reboot"
### Description:

I have installed rocket.chat on my ubuntu 18.04 LTS from the documentation over at https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/
The software itself works perfect, but I have an issue with the starting procedure after a reboot of my server. From the logs it seems, that the rocketchat-server part does not wait long enough for the mongo part to start as on

[2020-01-07 09:56] Furragen commented on #15621
Hi @wreiske ,
this is not necessarily a problem with OpenLDAP.
I have hit this issue with ActiveDirectory as well.

All users that were synced prior to enabling LDAP role or channel mappings can login without problems.
New users can not login. If I disable the mapping, the new users can login.
Merge existing users is active, the group filter looks like this:
(&(sAMAccountName=#{username})(memberOf

[2020-01-07 10:01] dusatvoj commented on #15621
I think there are `try-catch`es missing or something like that because `NoSuchObject Error` could mean `isUserInLDAPGroup = false`. Isn't it true?

[2020-01-07 11:15] didierm commented on #16055
Confirmed with latest version 2.4.0.
(issue was present in previous versions too)

[2020-01-07 11:49] serviceman commented on #15724
Update, it looks like this issue happens if private messages have a retention policy enforced. There seems to be no problem if it is just for the main channels.

[2020-01-07 13:13] MartinSchoeler commented on #16133
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2020-01-07 13:16] MartinSchoeler commented on #16144
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-07 13:16] #16144 closed

[2020-01-07 14:07] asarubbo commented on #16097
I'm experiencing the same issue, same versions.

The proposed solutions do not work for me. I'm agostino on open.rocket.chat if someone want info to troubleshot the issue.

[2020-01-07 14:37] col-panic opened #16152 "[FEAT] SAML role list attribute dynamic change"
### Description:

In #15232 support for SAML provided role list was implemented. This, however, only seems to work on initial creation of a user - subsequent changes in the IdP leading to a modified list are
not reflected on logging the user in.

### Steps to reproduce:

1. SAML Log-In a user that did not exist beforehand in Rocketchat: Roles are correctly added
2. Remove a certain role in the SAM

[2020-01-07 15:36] Paulpatou commented on #2657
??

[2020-01-07 16:47] Doctor-Who commented on #15880
Rocket.chat was used by us to avoid email creation and be more efficient than email. Also, think that some companies doesn't affect an email address when people is not interacting with customer and only need to interact with colleagues. By skipping this main feature, you force user to get also an email address that is a non sense for an alternative more efficient way of communication.

[2020-01-07 17:12] #14989 closed

[2020-01-07 17:12] #12765 closed

[2020-01-07 17:12] #15604 closed

[2020-01-07 17:12] #15917 closed

[2020-01-07 18:19] adipose commented on #15880
@rodrigok

Under this definition of "insecure," apparently all linux machines and windows servers are "insecure."  The root users and administrator users of those systems all have access to change the password.  What makes rocketchat so special?

[2020-01-07 18:23] thomas81528262 commented on #7706
Thank you for the solution.

Here is the my yaml in kubernete

spec:
      containers:
      - name: rocket-chat
        image: rocket.chat
        env:
        - name: ROOT_URL
          value: "http://XXXXXXX:XXXXX"
        - name: MONGO_URL
          value: "mongodb://mongo-0.mongo:27017/chatdb?replicaSet=rs0"
        - name: MONGO_OPLOG_URL
          value: "mongodb://mongo-0.mongo:27017/local

[2020-01-07 18:28] slowder commented on #6374
Agreed, this is very annoying. I've been on RC for 3 months now and I still hit ctrl-k all the time.

[2020-01-07 18:37] reetp commented on #15880
No, once gone I don't believe it will be seen in a paid version.

They don't want it because they have a target market they are looking at which needs dumbed down security. Simple as that. It isn't about your security. Never was.

It's about the admins of systems that they are trying to attract. These are not enterprise sysadmins. I'd imagine they don't want these systems hacked to bits and giving

[2020-01-07 21:50] ashwaniYDV commented on #16106
@mariaeduardacunha @MartinSchoeler  I am not getting the issue. Do we need a select tag instead of the button so that a user can come and select the language of their choice and then proceed?
The current action is that if Admin selects the language of the server to French (for example), then when user visits the login page, they'll see the "English Version" written there. When they click on englis

[2020-01-07 22:27] ashwaniYDV commented on #16057
@gabriellsh Hello sir. I have already made the pull request. Would you please review this.

[2020-01-07 22:41] ashwaniYDV commented on #16066
@ggazzo Sir please review.

[2020-01-07 22:43] ashwaniYDV commented on #13869
@MarcosSpessatto I have made the pull request https://github.com/RocketChat/Rocket.Chat/pull/16056
Would you please review.

[2020-01-08 01:28] rodrigok commented on #15880
What I can say by now is that I want to revert this change. I just need to have a final decision tomorrow morning in our board meeting and we can fix this for the next version and maybe release patches for 2.3 and 2.4.

[2020-01-08 01:32] gillbates commented on #15880
we deploy the rocket chat for private use without any emails. Since this version, our sysadmin has to setup ONE email address to receive the generated email for each account. That is simply like this. By hiding password changing in admin channel is useless. Please revert it back or we will leave.

[2020-01-08 02:18] #16034 closed

[2020-01-08 02:20] #15588 closed

[2020-01-08 08:42] Mohammed-Deifallah commented on #16133
@MartinSchoeler I'm sorry for inconvenience. I've just edited my issue to meet your standards.

[2020-01-08 09:26] soeyi commented on #16136
any one ?

[2020-01-08 09:40] soeyi commented on #1680
And its 2020 now.

I'm new to Blaze, but I have experiences in React and Vue. And I think the development experience is  terrible with Blaze.
I have so much difficulties in understanding where does this props data comes from.

Any plan of migration ?

[2020-01-08 09:44] peara commented on #15880
Please revert this.
We don't use or have an email server.
We only want simple management with administrator as our team is small anyway.

[2020-01-08 10:57] jmpsf opened #16153 "Add documentation on user and group end to end encryption"
Hi,

I've read the docs and the following issues: https://github.com/RocketChat/Rocket.Chat/issues/9999, https://github.com/RocketChat/Rocket.Chat/issues/36, https://github.com/RocketChat/Rocket.Chat/issues/15095 and the description of the PR: https://github.com/RocketChat/Rocket.Chat/pull/10094 and found no documentation on how e2e encryption is handled either in groups or single chats.

I think

[2020-01-08 11:08] domenicocosta opened #16154 "Update User with REST API"
When i update a user with rest api,
change the username, mail and other field
the response is always positive and update the user.

BUT the username not change if use by another user.

Instead the response is negative if the mail is used by another user.

I would expect a negative response both if the email and the username are used by another user, and the update is not carried out.

Versions eff

[2020-01-08 11:11] asarubbo commented on #16097
Update:
with @frdmn we tried to debug the issue.
In app.js, we added the following before the Error print:
[code]

Then, the issue was 'amenable' to:
```messageContainsAnyForbiddenProp is true```

So we dumped the entire message with:
[code]

And then the result was:
[code]

We finally resolved my issue by adding the bot role to that user, but I reported the entire story that can be helpful.

**NO

[2020-01-08 11:13] LutfiArdiansyah opened #16155 "Rocketchat Error: `gyp` failed with exit code: 1"
### Description:

### Steps to reproduce:

1. curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
2. tar -xzf /tmp/rocket.chat.tgz -C /tmp
3. cd /tmp/bundle/programs/server && npm install
4. yum groupinstall 'Development Tools'

### Expected behavior:
No Error

### Actual behavior:

`linux-x64-57-glibc` exists; testing
Problem with the binary; manual build incoming
Traceba

[2020-01-08 11:13] domenicocosta opened #16156 "First access for user- Change password"
At the first access with password change, once the password has been changed, a pop-up will appear with the word "Not allowed" and the password will be changed regularly.

[2020-01-08 11:28] #16057 closed

[2020-01-08 11:29] domenicocosta opened #16157 "Private Group access for all administrator"
I create private groups from a service administrator user, the problem that other administrators see the private groups created in the Channels from administration palette but cannot access them.

The desired would be that all administrators can access any private or public group.

Best regards
thanks

[2020-01-08 11:38] #15762 closed

[2020-01-08 11:38] soundstorm commented on #16097
For me/us neither App nor Web worked, curl not attempted but that not the usual way to use RC ;)

[2020-01-08 12:02] vytasmk commented on #15663
I am on 2.3.1 also Docker. Yesterday upgraded from quite old version 0.7.1 to the latest.

Today was checking logs and found same error message regarding missing files in `/temp/userData/xxxx/user.html`

Was trying to find what that means and if it is bad or not. It looks like this is the problem when you recreate Docker container as all the files from `/tmp/` folder inside Docker container are lo

[2020-01-08 13:12] geekgonecrazy commented on #1680
The react rewrite is well underway.  Sections such as admin and the setup wizard were first. :)

[2020-01-08 13:22] gabriellsh commented on #1628
This was added on #9366 (Weirdly, one day off to exactly 2 years ago). Just click the logo at the bottom left of the screen:

![image](https://user-images.githubusercontent.com/40830821/71980518-021b8180-31ff-11ea-9e71-052f6ecb996d.png)

Anyway, if ever need be, just reopen this issue.

[2020-01-08 13:22] #1628 closed

[2020-01-08 13:26] reetp commented on #15663
So 2.3.x is still not GDPR compliant then (and probably 2.4.x as well), at least with docker installs.

:-(

[2020-01-08 13:40] gabriellsh commented on #1667
Just tested on firefox 64.0 and 72.0, macOS Version 10.15.2, RC Version: 2.5.0-develop, notifications work fine.

Make sure that notifications are enabled both on the browser and on the OS.

If possible, test this again and report if it works.

[2020-01-08 13:44] qwclytmd commented on #16044
Think You,I am Fix it from you step.

[2020-01-08 14:11] litabe opened #16159 "[BUG] API "Create Token" always returning FALSE, even with correct credentials"
### Description:
The END POINT /api/v1/users.createToken is always returning "[error-not-authorized]" even with correct  X-Auth-Token and X-User-Id

### Steps to reproduce:

1. from comand line:
`curl -H "X-Auth-Token: TOKEN-HERE" \
     -H "X-User-Id: ID-HERE" \
     -H "Content-type:application/json" \
     http://localhost:3000/api/v1/users.createToken \
     -d '{ "username": "usernameHere" }'

[2020-01-08 14:17] wreiske opened #16160 "[Regression] LiveChat Custom Field Endpoint does not exist"
### Description:
LiveChat Custom Field Endpoint does not exist

### Steps to reproduce:

1. Put livechat widget on page with some custom fields
2. Load page
3. Check console logs

### Expected behavior:

No errors, successful post to livechat custom.field API.

### Actual behavior:

[code]
![Clipboard - January 6, 2020 6_00a PM](https://user-images.githubusercontent.com/6295044/71984800-8d911480-3

[2020-01-08 14:28] vytasmk opened #16161 "Push notifications. Hostname/IP doesn't match certificate's altnames"
### Description:

Push notifications are not working.

Was looking thru the Issues did not find any mention about such error.

I have upgraded our chat from 0.71.1 to the latest version 2.3.1.

### Steps to reproduce:

1. In Adminstration go to Push section
2. All settings are default using `https://gateway.rocket.chat` gateway
3. Use "Send a test push to my user" button to send a test message
4.

[2020-01-08 14:49] jibeizhao commented on #13616
guys @mredbishop @fais3000  @FaizanZahid  how do i reset the Enabled to False if it does not load at all?

[2020-01-08 16:04] gstlouisgit opened #16162 "disable / enable registration form"
I have two rocket chats going, one was test and other is live.

on my test Version: 1.2.1 ( all specs below ) in admin -> Accounts -> Registration Form I can see the dropdown.

on my live Version 2.3.2 in admin -> Accounts -> Registration Form I could not see the same dropdown.  Turns out it is there was but like not very visible, it looks like a progress line just under "Registration Form" and ab

[2020-01-08 16:24] gabriellsh commented on #3172
Tested on 2.5.0-develop, seems to be fixed. Closing.

[2020-01-08 16:24] #3172 closed

[2020-01-08 16:49] MatthiasHertel opened #16163 "Compact View Mode Indentation Question"
### Description:
wrong identation of messages
![image](https://user-images.githubusercontent.com/8426566/71997677-922ceb80-323e-11ea-9a9b-2d3484de634b.png)

### Steps to reproduce:
fill the text below
foooo
[code]
![image](https://user-images.githubusercontent.com/8426566/71997764-b8528b80-323e-11ea-893d-0498df45b3c8.png)

### Expected behavior:
no indentation in messages
### Actual behavior:
see

[2020-01-08 16:58] ritwizsinha commented on #16041
@sampaiodiego please review

[2020-01-08 17:01] MartinSchoeler commented on #16133
Thanks!

[2020-01-08 17:02] rodrigok commented on #15880
Good news. We decided to revert this change and put the password field back. By this week we will fix it for the next version and release patches for 2.3 and 2.4. I hope this solves all the problems and makes it clear that we care about the community showing that we are always willing to revert decisions if it makes sense. We are learning with this situation in order to prevent the same to happen

[2020-01-08 17:35] reetp commented on #15880
A sensible decision, at last. A shame that we have had to go through this process. I am not happy with being pilloried for what turned out to be the right point. It shouldn't happen this way.

It causes too much animosity and distrust. I certainly don't need the grief, and I don't expect any of the devs do either.

You also lose customers and goodwill from it. It isn't just about whether one user

[2020-01-08 17:43] wreiske commented on #15880
For what its worth, I would still like to see the other options implemented along with the password field coming back. It would be a nice feature to allow the admin to click one button and send the password reset request to the user. Some environments will utilize the password resets via emails, and some environments don't use email at all. Randomly generating a password in the requirements is nic

[2020-01-08 18:27] geekgonecrazy commented on #16161
Does it actually say DNS:*domain.com and DNS:domain.com or did you replace your company domain with that?

It looks like its not actually proxying... so when https://gateway.rocket.chat your proxy is responding.  Which would explain the cert mismatch related error

[2020-01-08 18:42] vytasmk commented on #16161
Hello. Yes I have changed my domain to "domain.com".

Regarding second idea, need to check so it means that our proxy is responding when Rocketchat service is trying to reach https://gateway.rocket.chat

But why it was working with older version as I have just changed docket container and in proxy just changed port number. So it should not be a problem... I will check what I get from inside contai

[2020-01-08 18:50] wreiske opened #16354 "LiveChat config endpoint sends customFields"
The `/api/v1/livechat/config` endpoint leaks custom fields. These may contain private, identifiable information about an agent.

Please remove the custom fields object from the livechat config endpoint, or make it configurable and OFF by default.

[2020-01-08 18:53] wreiske opened #16164 "Can't scroll down in navigation history on LiveChat Visitor Info"
1. Open a livechat
2. Navigate around a bunch to different pages with the widget
3. Try to scroll to the bottom of the Navigation history

@renatobecker I have sent you a GIF privately of the issue.

[2020-01-08 19:13] wreiske opened #16165 "LiveChat push notification showing undefined"
### Description:

An employee reported the following screenshot to me:
![Clipboard - January 8, 2020 1_56 PM](https://user-images.githubusercontent.com/6295044/72007380-8da50a80-321f-11ea-84e9-59479a88acff.png)

### Steps to reproduce:

1. Add yourself to a livechat queue
2. Have someone start a livechat
3. Go get some coffee
4. ....
5. Receive push notification with `New_livechat_in_queue` and `u

[2020-01-08 19:41] rodrigok commented on #3790
It's no longer supported and we are migrating to use uikit for rich messages.

[2020-01-08 19:41] #3790 closed

[2020-01-08 20:53] geekgonecrazy commented on #16161
Which port number did you change that proxy or Rocket.Chats?

This should hopefully give some clues

[2020-01-08 21:04] vytasmk commented on #16161
Port inside container is default `3000`. And on host system is bind to `locahost:8032`. HAProxy is running on the host and is bind to the public IP. It proxies all requests to that port on localhost. But I think here is all OK as everything else is working just fine.

Regarding communication with gateway I have tried to connect to the gateway using simple curl tool to check the servers certificate

[2020-01-08 21:25] jschirrmacher opened #16168 "New API route to logout from all other sessions"
In the UI, there is a button 'Logout from other logged in locations'. It would be great to have an API for that as well!

[2020-01-08 21:26] jschirrmacher commented on #16168
Could be solved by adding a new route in `/app/api/server/v1/users.js`:
[code]

[2020-01-08 21:37] geekgonecrazy commented on #16161
Interesting looks like some how Rocket.Chat might not be honoring that proxy config.

@RocketChat/backend any ideas?

[2020-01-08 22:00] ashwaniYDV opened #16169 ""Jump to message" is rendered twice when message is starred."
### Description:
When message is starred in any channel, dm or pm "Jump to message" is shown twice for that message.

### Steps to reproduce:

1. Star a message
2. Open context menu for that message

### Expected behavior:
It should appear once

### Actual behavior:
It is appearing twice
![jump](https://user-images.githubusercontent.com/43786728/72019973-bdd8c180-3290-11ea-9bcf-cda3ea5907f6.gif)

[2020-01-09 01:38] tiredofit opened #16172 "Permissions to allow to send to any room | Join user to all rooms"
My impression of Bots have been wrong it appears where I assumed they would be able to send to any channel/room even if not joined. I can't seem to decipher the permissions an area where I can allow a specific user to have access to either a) write to any room that exists or b) automatically join every created room.

The context here would be a "Bot" that would be able to send notifications to var

[2020-01-09 01:38] grzebo opened #16173 "[BUG] Sending more than 30 e-mail adresses in one message hangs Android app"
**Description:**

Android Rocket.Chat app (both stable version and experimental version) become totally unresponsive, when the last message in any channel or DM consists of at least 30 e-mail addresses, each in a separate line.

It is impossible to use the apps until someone posts a new message in the affected channel / DM, so that the message with e-mail addresses is not the last one.

**Steps to

[2020-01-09 01:56] LutfiArdiansyah commented on #16155
Closed!

yum install -y python-setuptools
easy_install argparse

[2020-01-09 01:56] #16155 closed

[2020-01-09 02:23] serviceman commented on #15724
After thinking about what you said regarding oplong I made these changes and things seem to be doing much better. I see no increase in memory/cpu over the last 24 hours. I reduced the size of the oplong, mine was very large. I also updated from mongdb 4.0.13 to 4.0.14, there is a reported memroy leak in 4.0.13. I also included discussions in the punning, discussions are not included by default.

I

[2020-01-09 02:30] soeyi commented on #1680
@geekgonecrazy
Thanks;
I've seen some code written in React.
Its possible to give an estimated time when the totally  migration can be done  ?

[2020-01-09 03:21] geekgonecrazy commented on #1680
Keep an eye on the fuselage repo.  It contains the components being developed.  ETA right now i think is it’s done when it’s done :) I’m sure it will move a long quickly now just need a bit of patience :)

A lot of things going on.  The react component set is just one aspect of the exciting things coming.  Keep an eye out for some rich message stuff in the works.  A lot of powerful features in the

[2020-01-09 03:59] tung93st commented on #16109
I'm also facing same issue

[2020-01-09 04:36] michelpy commented on #15880
Having it back in 3.0.0 does not solve the immediate problem. I loaded riot.im in a VM on Monday, been busy and did not have time to test further, but you don't have much time left. Fix it for the existing deployment, and fix it fast.

[2020-01-09 05:07] lastsecondsave opened #16174 "If there is `ufs` somewhere in url the request to api always returns 404"
### Description:

We have one user for which requests to `users.info` fail with 404 even if the user is in the database. After some experiments we found that if url contains `ufs` string the Rocket.Chat always returns 404 with no body. In out case userId contains `ufs`. We checked open.rocket.chat and it has the same behavior. Any api request fails when `ufs` is somewhere in the url.

### Steps to

[2020-01-09 07:41] vladborovtsov commented on #11681
The issue still happening.
Server version 2.3.1.

Indeed, there is nothing in the logs that could give a clue.

[2020-01-09 08:26] xholicka commented on #12210
Still experiencing this issue on 0.74.3
Real names option is enabled.
Direct messages is mixture of realnames and usernames.

This should have been solved in another threads, but obviously it wasn't.
Anyone have a solution?
Thank you.
![realname_option](https://user-images.githubusercontent.com/1271193/72050688-078dd000-32c2-11ea-82f6-d04f36395624.png)
![versions](https://user-images.githubusercon

[2020-01-09 08:38] nredko opened #16175 "[NEW] Support of ICAP"
Implement embedded support of Internet Content Adaptation Protocol (ICAP) RFC3507 as client.

As major feature, it will allow to connect third-party services for bad-words filtering, antivirus scan of attachments, detection of policy violations etc.

Also it will make possible to provide transparent translation, remote chat logging and any possible content processing performed by connected ICAP se

[2020-01-09 08:39] vytasmk commented on #16161
Yes, so that is why I have submitted this issue, as there is no logic at least at this moment. It looks like it is trying to reach gateway but DNS resolves to our proxy server IP. But I have just created new Docker container with new version and old data. Old container I still have but it is now turned off. Proxy server config has changed just IP port on which new Docker container listens and noth

[2020-01-09 09:39] vytasmk commented on #16161
OK, I guess I found, it was mistake by me (not surprised) in configuration.

As I mentioned I am using docker-compose and as example was using this docker-compose.yml (https://github.com/RocketChat/Rocket.Chat/blob/develop/docker-compose.yml)

 There was one environment parameter `HTTPS_PROXY=http://proxy.domain.com` that I have added to the new config as I was thinking that it is used to inform r

[2020-01-09 09:39] #16161 closed

[2020-01-09 10:11] cnvx commented on #12148
This is possibly a duplicate of https://github.com/RocketChat/Rocket.Chat.Electron/issues/1234.
As far as I know the Windows / MacOS client is using Electron, I've not seen this happen using the browser version or Linux client.

[2020-01-09 10:35] col-panic commented on #16152
Please consider integration of the provided PR to version 2.4.1

[2020-01-09 10:41] antkaz commented on #16024
Meteor 1.9 released https://github.com/meteor/meteor/blob/devel/History.md#v19-2020-01-09

[2020-01-09 10:44] luminouw commented on #15880
On board with the majority (mostly concerning the bot account situation). We don't rely on emails either because we use external auth (OAUTH2), and there is no need for even setting up a password for human users. I can also understand why someone wouldn't want to plug their rocket.chat with an email server for a simple private deployment. Setting up someone's password as an admin and forcing chang

[2020-01-09 10:51] ankar84 commented on #16175
Thumbs up for ICAP support!

[2020-01-09 11:18] pbexiga commented on #16097
We had the same issue - We did the following and it seemed to fix this.

[2020-01-09 11:35] rodrigok commented on #15880
@michelpy and @luminouw as mentioned in my previous comment we are going to fix this for 2.3 and 2.4 as well.

[2020-01-09 11:41] exequos commented on #15748
Hello, We have the some problem after upgrade.
There are Livechats with "Room not found" which cannot be closed neither removed by suggested db.rocketchat_livechat_inquiry.update({rid: '<the rid value from the URL>'},{$set: {status: 'closed'}})

Is there any other solution?

Version | 2.4.0
Mongo Version | 3.6.14

[2020-01-09 13:24] johanricher commented on #7007
I'm having the same problem on our instance (chat.codefor.fr): impossible to change the default status of rooms. I've done it before and could swear it was a toggle option within the Rooms page in the Administration panel. It's not there anymore:

![image](https://user-images.githubusercontent.com/10212787/72070533-1d16f000-32ea-11ea-8454-21cb80b8b365.png)

Can we please reopen this issue to get t

[2020-01-09 13:45] gabriellsh commented on #4328
Just found out that you can hover over the room and it displays its full name. You can read the room name if you open it, it's always displayed on top, even if you didn’t join it. Does this help you?

![image](https://user-images.githubusercontent.com/40830821/72072187-27c28c80-32cc-11ea-93b5-52f598db98e5.png)

Also if you set your sidenav view mode to condensed, most of the text is displayed. If

[2020-01-09 13:45] #4328 closed

[2020-01-09 14:26] zdumitru opened #16177 "[BUG] Images still loaded with 'Auto load images' setting disabled"
### Description:

There is a global setting "Auto load images". When it is disabled (grey toggle), all the images are displayed without having to click on them.

### Steps to reproduce:

1. As an admin go to Administration -> Accounts -> Default User Preferences -> Auto Load Images
2. Set the toggle to disabled state (grey color)
3. Save changes
4. Go to any channel that contains image attachments

[2020-01-09 14:34] rsjr opened #16178 "Administration->Integrations section not loading at first click"
-> Browser type and version, including any add-ons. (e.g. AdBlocker, NoScript, etc.)

Tested in Chrome and Electron Desktop app (Linux), issue is happening in both)

-> Rocket.Chat version

2.5.0-develop (current)

-> Expected behavior

Integrations section to be displayed in the first selection click

-> Actual behavior

When clicking in "Integrations" the first time, a blank screen is displayed.

[2020-01-09 14:52] jonyhayama opened #16179 "Heroku build fails (timeout)"
### Description:

Fails to build app on Heroku.

### Steps to reproduce:

1. Got to https://rocket.chat/docs/installation/paas-deployments/heroku/
2. Click 'Deploy to Heroku'
3. Go to 'Build Log' and check the app failed to build (after 60 minutes)

I have also tried to build it following the steps on 'Customized command line for developers' session, changing the buildpack and using older versions

[2020-01-09 14:57] shibiriba opened #16180 "Can't integrate with Zapier"
I have a selfhosted RC server, tried to integrate with zapier but was unsuccessful. I tried with public IP, private IP, recreated the "oAuth" zapier, but always get the same error: "Invalid OAuth Client".

I activated debug and when I try to connect I always get the following code:

`I20200109-11:27:28.245(-3) server.js:204 Integrations ➔ Outgoing WebHook.debug Starting search for triggers for the

[2020-01-09 16:25] #15880 closed

[2020-01-09 17:53] abmyii commented on #16149
Same issue - otherwise works perfectly.

[2020-01-09 18:54] rsjr opened #16185 "Admin->Integrations - Webhook list display is limited to 50 entries"
### -> Browser type and version, including any add-ons. (e.g. AdBlocker, NoScript, etc.)
Tested in Chrome and Electron Desktop app (Linux) -> Same issue in both
### -> Rocket.Chat version
2.5.0-develop (current)
### -> Expected behavior
All Incomings/Outgoing webhooks should be listed
### -> Actual behavior
Only the first 50 of each type are listed
### -> Can the bug consistently be reproduced? If

[2020-01-09 19:39] ggazzo commented on #11681
its a highlight problem actually 😢

https://github.com/RocketChat/Rocket.Chat/blob/develop/app/markdown/lib/parser/original/code.js#L50

[2020-01-09 20:14] MarcosSpessatto commented on #16174
Hello @lastsecondsave, first of all, thanks for investigating the problem and let us know.
Seeing the problem that you described, I noticed that this problem occurs inside one of our external dependencies, as you can [see here](https://github.com/jalik/meteor-jalik-ufs/blob/master/ufs-server.js#L77-L81). Basically that code verify if there is a `ufs` string inside the url and if it is true, the pa

[2020-01-09 20:17] stefersonferreira commented on #10709
This was the question!! ROOT_URL

Thanks.

[2020-01-09 20:19] LogiEx7 opened #16186 "This is not a Rocket.Chat server. (android app)"
Hello everyone,
I installed a RocketChat 2.4.0 server on debian 10. When I use the desktop application or the browser it works but when I try to connect via the Android app it no longer works. Here is the error that appears. Can you help me?

![screenshot](https://user-images.githubusercontent.com/26462641/72101752-bdd6d100-3325-11ea-8b59-b90b715152d3.jpg)

[2020-01-09 20:51] wreiske opened #16187 "[Regression] Normal users can't use /webex, /math, and slash commands"
### Description:

After updating to 2.4.0 normal users see "Error" when using slash commands like /webex, /math, etc.

### Steps to reproduce:

1. Upgrade to 2.4.0
2. Install Math or WebEx from the app marketplace
3. Type `/math 2+2` or `/webex` as a normal (non-admin) user

### Expected behavior:

Return results from the slash command as normal.

### Actual behavior:
![image](https://user-images.

[2020-01-09 20:52] wreiske commented on #16187
Related: https://github.com/wreiske/Rocket.Chat.App-Math/issues/2

[2020-01-09 21:27] d-gubert commented on #16187
We've identified the cause and are working on a fix 👍

[2020-01-10 00:12] Elintondm commented on #11282
This problem came back in version 2.2.1. Text messages trigger the webhook, but file messages don't.

[2020-01-10 00:28] Elintondm opened #16190 "Send file or image don't trigger the weebhook"
### Description:
Send file or image don't trigger the weebhook on version 2.2.1. But with version 0.69 it works fine.

### Steps to reproduce:

1. Open a livechat with someone
2. Send an image file

### Expected behavior:

The rocketchat should trigger the webhook if enabled.

### Actual behavior:

The webhook is not called in this kind of message

### Server Setup Information:

- Version of Rocke

[2020-01-10 01:33] henryfok opened #16191 "Client's livechat returns an error on close if the department requires a tag"
### Description:

### Steps to reproduce:

1. Client starts a new livechat and selects a department that has the "Request tag(s) before closing conversation" setting set to "Yes"
2. Client attempts to close the livechat by clicking "Options" and "Finish this chat"
3. Chat returns error
4. Toggle the "Request tag(s) before closing conversation" setting  to "No"
5. Repeat step 1 and 2, but this time

[2020-01-10 04:58] ankar84 commented on #15995
@rodrigok I agree with you. I downgraded to **RC.Electron version 2.15.5** and **all works fine** - after away timeout my user went to **Away** status, and when I send a message to my user from test user - **I got push notification**! So, I think it is not RC bug, but **only RC.Electron grater then 2.15.5 version bug**.

[2020-01-10 06:06] uChanning opened #16192 "Blocked autofocusing on a form control in a cross-origin subframe"
### Description:

I am currently trying to get iFrame integration to work. I am using Google oAuth for my authentication on rocket.chat and my main page. I am using Google Chrome and I am getting the following error:
![Screenshot_3](https://user-images.githubusercontent.com/52388029/72129156-e2897380-333a-11ea-8182-849a3bdab9c1.png)
on my main page when logging in.

The domain layout:
example.com

[2020-01-10 07:22] serviceman commented on #15724
I have discovered the actual issue. I had the retention policy to execute every 30 minutes. Because there were so many messages, it couldn't complete in the 30 minutes, so the processes fired up by the retention policy keeps building up until it overtakes all the available cpu, etc. Seems like there could be a better way to handle the retention policy by auto expiring the documents in the database

[2020-01-10 07:25] Jason-2020 commented on #15471
This bug is really show stopper. Manually clicking mark as read or switching back and forth few times just to disappear that notification is really annoying. This bug has been there for months, open.rocket.chat users aren't complaining already?

[2020-01-10 07:53] #15724 closed

[2020-01-10 08:30] tholu commented on #15471
@ggazzo Are you aware of this issue? It's really annoying and users are complaining about it all the time.

[2020-01-10 08:36] tholu commented on #15880
@rodrigok Thank you for reverting this change. Looking forward to the new release!

I recently noticed the password field was gone and thought his was a bug - a notice would have been nice for changes of such nature - my whole process of setting up a new user as an admin was impacted.

[2020-01-10 10:02] #16168 closed

[2020-01-10 11:29] Elintondm commented on #16190
This bug was fixed with https://github.com/RocketChat/Rocket.Chat/pull/15699

[2020-01-10 11:29] #16190 closed

[2020-01-10 11:37] guillecorrea commented on #15958
Hi @makibras
This change is valid when all users have a  valid email and in a public service .  In my case , only private use,  some users do not have email because they do not need it for  work ,they only need to chat. There needs to be a way to turn this off.  Please consider it.

[2020-01-10 12:26] gcommit commented on #3582
When will this be published? Waiting for more than one year O.o

[2020-01-10 12:51] agisbert commented on #3582
I cannot believe that **Microsoft teams** has this feature and the RocketChat Team hasn't take this seriously for more than 3 years.

This is really disappointing.

[2020-01-10 13:20] gabriellsh opened #16194 "Readme.md is outdated"
The "*Help Wanted*" section has some old jobs postings.

[2020-01-10 14:34] #16187 closed

[2020-01-10 15:53] Floflobel commented on #16082
Same problem with snap install:
Rocket.Chat Version: 2.1.1
MongoDB Version: 3.6.14
Number of Running Instances: 1
Numbers of users: 1
Numbers of channel: 1

[2020-01-10 16:54] ritwizsinha opened #16199 "Clicking enter on the edit room info does not save the settings"
### Description:
For saving the settings on the edit room info flexTab you have to manually click on the
 save button

### Steps to reproduce:

1. Go to Room Info
2. Click Edit
3. Change Name and press Enter

### Expected behavior:

The settings should be saved

### Actual behavior:
![Selection_010](https://user-images.githubusercontent.com/43509699/72170930-cdbee580-33f7-11ea-921e-d3e324fd78cf.pn

[2020-01-10 17:30] Wirone commented on #15471
I am wondering if it could be related with massive performance decrease in Android app I'm struggling with for some time already. Very dynamic channels, like automated integrations with external services, are barely usable when entering - for a long time app looks like freezed, after that current messages are re-rendered so date appears between each of them and at the end new messages arrive. Yest

[2020-01-10 18:30] apaarfus commented on #16186
To connect to _any_ Rocket.Chat instance with a mobile device, your site _must_ be an HTTPS connection.  In our case, we're using `nginx` as a reverse proxy to handle the HTTP request, which forwards to Rocket.Chat--which operates over a non-secured port.  I'd recommend taking a look at the [reverse proxy tutorial](https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-p

[2020-01-10 19:36] rodrigok commented on #15880
Version [2.3.3](https://github.com/RocketChat/Rocket.Chat/releases/tag/2.3.3) and [2.4.1](https://github.com/RocketChat/Rocket.Chat/releases/tag/2.4.1) were released with the fix.

[2020-01-10 19:43] michelpy commented on #15880
Thanks !
What is the recommended method to upgrade from 2.3.1 ? is there a way to trigger an automatic upgrade ?

[2020-01-10 19:53] mgifford commented on #14814
I suspect that this is too broad a way to approach this.

I'd love to know if Rocket.Chat works well for keyboard only users.  I haven't done any testing on this, but so many web interfaces depend on mice.

It would also be useful to know if automated tools like:
  https://accessibilityinsights.io/
  http://wave.webaim.org/

identify problems.  These tools are easy for developers to use and evalua

[2020-01-10 22:09] henryfok opened #16200 "Livechat triggers should not cause the chat window to fill up the entire phone screen"
### Description:

When a livechat trigger is set and the user is on a mobile device, the livechat window abruptly pops up and fills the entire browser window. This is very intrusive to the user's website experience.

An option to only display a button badge and not maximize the chat window would be better.

### Steps to reproduce:

1. Use the livechat installation code (/livechat-manager/installat

[2020-01-10 23:26] #16194 closed

[2020-01-10 23:38] serviceman commented on #14633
This issue does not seem to happen on the latest version so I will close this for now.

[2020-01-10 23:38] #14633 closed

[2020-01-11 00:49] GeorgeGedox commented on #9205
This is still and issue, also I cannot mark a channel as default, setting multiple channels under General -> First Channel After Login does not work

[2020-01-11 05:45] igarg2001 commented on #15626
Hi, I am Ishan. If the bug still persists, could I try solving it?

[2020-01-11 06:50] ahorseman commented on #16129
I can confirm, I have these <br> line breaks here, even when not taking strong language ;)

[2020-01-11 07:59] ashwaniYDV opened #16203 "Custom emoji is not deleted from UI"
### Description:
#### When a custom emoji is deleted by admin, it's state is still persisted in the UI and it causes many errors such as:-
(1) After deleting the emoji, it is not removed from UI
![12](https://user-images.githubusercontent.com/43786728/73112474-790d8580-3f34-11ea-9dd5-5afda87bc883.gif)

(2) After deleting a emoji, try to create a new custom emoji. It will give success message editi

[2020-01-11 09:14] Gummikavalier commented on #16153
More documentation is needed indeed.

These are my own speculations on the subject:

- Both public and private keys of users are saved into the database (I checked both can be found in the database)
- Private key is protected by a password (you are asked for this with a new clean browser session)
- In group chats particularly the messages are encrypted with the public keys of all members (for all

[2020-01-11 09:39] ritwizsinha commented on #15626
I am still trying @igarg2001, will surely ping you if I can't do it

[2020-01-11 09:47] ritwizsinha commented on #15626
This issue is fixed in the current version so closing this

[2020-01-11 09:47] #15626 closed

[2020-01-11 10:24] ritwizsinha opened #16204 "Bad ui for unauthorized page"
### Description:

Currently, the 403, unauthorized page doesn't have a good UI.

### Steps to reproduce:
Navigate to any unauthorized page in rocketchat

### Expected behavior:

Good ui is needed

### Actual behavior:

![Selection_012](https://user-images.githubusercontent.com/43509699/72202882-93eaef00-348a-11ea-9cb3-a4c331d4b0d0.png)

### Server Setup Information:

- Version of Rocket.Chat Serve

[2020-01-11 11:19] rodrigok commented on #15880
@michelpy it depends on how you installed your server.

[2020-01-11 11:51] ashwaniYDV opened #16205 "While playing/pausing a custom sound on admin panel, it opens the sound info tabBar too"
### Description:
While playing/pausing a custom sound on admin panel, it opens the sound info tabBar too. It should open it when user clicks anywhere on the list of sounds other than the play/pause buttons.

### Steps to reproduce:

1. Go to admin panel
2. Play a custom sound

### Expected behavior:
There should be stop propagation so that the tabBar is not opened.

### Actual behavior:
![propa](h

[2020-01-11 12:00] ashwaniYDV opened #16206 "Custom user status, custom sound, rooms, etc are not deleted from UI and admin actions on them possesses many errors"
### Description:
#### When a custom user status, room, user etc is deleted by admin, it's state is still persisted in the UI and it causes many errors such as:-
(1) After deleting, it is not removed from UI of info and edit section.
(2) Detele button is working on UI and gives error on deleting the already deleted (this error is quite obvious)

### Steps to reproduce:

1. Got to admin panel
2. Go

[2020-01-11 12:10] ritwizsinha commented on #2938
I am working on it

[2020-01-11 12:49] ashwaniYDV opened #16207 "When click on different tab button in admin sidebar, focus is not on search box of that component"
### Description:
When an admin navigates to the administration section, the default focus is on the search input element of admin sidebar. When a sidelink is clicked, focus is not on search box of that component instead it is on the sidebar search.

### Steps to reproduce:

1. Go to admin section
2. Click on sidebar tab.
3. Start typing

### Expected behavior:
The focus should be on first input el

[2020-01-11 13:56] ashwaniYDV opened #16208 "[BUG] In admin custom sounds, multiple souds can be played at the same time."
### Description:
When admin plays customsound1 and then plays customsound2, both the sounds are played. It should play only one sound at a time. It shoud not overlap.

### Steps to reproduce:

1. Go to admin->custom sounds
2. Play different custom sounds simultaneously.

### Expected behavior:
If customsoud1 is playing and then customsound2 is played, customsound1 must automatically pause.

### Ac

[2020-01-11 14:54] ajayfurbz commented on #15880
has this been updated in the offical docker images?

[2020-01-11 14:58] dg-otrs commented on #13934
+1

[2020-01-11 15:53] ritwizsinha opened #16209 "The click to load text overlaps with the icon"
### Description:
When the image autoload is disabled the text overlaps with the icon

### Steps to reproduce:

1. Disable image autoload
2. Upload the image
3. Observe the change

### Expected behavior:

The icon shouldn't overlap with the text

### Actual behavior:
![Selection_013](https://user-images.githubusercontent.com/43509699/72206844-77fe4200-34b8-11ea-93fa-6a807c78c0d7.png)

### Server Se

[2020-01-11 16:09] ritwizsinha commented on #16209
@MartinSchoeler please review

[2020-01-11 16:33] ritwizsinha opened #16211 "The click to load image can be improved"
Currently, the click to load images is just an empty box with an icon.
![Selection_014](https://user-images.githubusercontent.com/43509699/72207313-10e38c00-34be-11ea-90fc-a9444e9910c7.png)
It would be better if something like that of Whatsapp image loading can be implemented here
The lazy loading of images would also look better
![WhatsApp Image 2020-01-11 at 21 51 20](https://user-images.githubu

[2020-01-11 17:18] ritwizsinha opened #16212 "No margin in the ui of create new role"
### Description:
The create new role page has no margin which makes it inconsistent with the current ui

### Steps to reproduce:

1. Open administration settings
2. Go to permisisons
3. Click on new role

### Expected behavior:
The UI should be consistent

### Actual behavior:

![Selection_015](https://user-images.githubusercontent.com/43509699/72208043-61f67e80-34c4-11ea-9a7a-72b41dc6a78d.png)

#

[2020-01-11 17:43] ashwaniYDV opened #16213 "[Improvement] Single button for play/pause instead of two"
### Description:
In the custom sound admin section, there are three buttons (play, pause and reset). These three buttons are shown seperately. It would be more convinient to show play/pause as a single button like a general media player.

### Steps to reproduce:

1. Go to admin pane-> custom sounds
2. Notice the three media buttons

### Expected behavior:
There should be single play/pause button

[2020-01-11 19:18] ashwaniYDV opened #16216 "[IMPROVEMENT] Focus is not on search box of directory component, when user clicks on Directory button"
### Description:
When you click on "Directory" button on top bar, the focus should be automatically on the search box.
 This will allow users to just start typing for any quick search. I have created this issue to keep the search functionality consistent with the other components of Rocket.Chat

### Steps to reproduce:

1. Click Directory
2. Start typing

### Expected behavior:
For good user exper

[2020-01-11 19:29] ashwaniYDV opened #16218 "A blank page is encountered on UI when a user deletes a chanel, group"
### Description:
After deleting a channel it leaves a blank page on UI. It would be better if it redirects the user to the home page.

### Steps to reproduce:

1. Go to a chanel, group or discussion
2. Delete the chanel, group or discussion

### Expected behavior:
User should be redirected to the home page preferably.

### Actual behavior:
User is redirected nowhere.

![romm](https://user-images.g

[2020-01-11 19:59] ashwaniYDV opened #16219 "Password field is rendered as plain text when it is set on some room"
### Description:
Password is displayed as plain text when a admin/user sets it in some group, discussion etc.

### Steps to reproduce:

1. Go to a channel created by you
2. Edit the channel by clicking the edit option from menu
3. Set a password.

### Expected behavior:
Password should not be visible.

### Actual behavior:
It is visible.

![roompass](https://user-images.githubusercontent.com/43786

[2020-01-11 22:47] HelenS93 commented on #1112
Hello!
Do you have API to post a message as "reply in thread"?

[2020-01-11 23:27] ashwaniYDV opened #16220 "[Feature Request] Add timer in video message to keep track of recording"
### Description:
While sending video message, it would be awesome if user can also keep track of the amount of recording they have made. So this issue is about adding a timer while recording a video message.

### Additional context
I am working on it.

[2020-01-12 03:43] michelpy commented on #15880
@rodrigok
Ubuntu / Snap, about a year and something ago, currently 2.3.1, obviously installed with an earlier version, it auto-updated itself.

I have been looking around and found no way to check for updates, and no way to undo updates.
This is crazy. Even M!cr$!t W!nd0z3 does better.

You will see more people complaining until it fixes itself. Most of us do not get to the RC admin interface dail

[2020-01-12 05:27] smcardle commented on #1727
Hi everybody....
Just wanted to chip in here regarding this functionality as we have a specific use-case where it is pretty much required......

Why is this closed ???

The following comment, in my opinion, is your "opinion" not a solution. (pun intended by the way)

You may well hate this functionality but we would like it, and in one case probably need it....
This ability to notify a user when t

[2020-01-12 05:45] smcardle opened #16222 "Extend existing REST API parmaters"
Hi All.

We use Rocket.Chat quite extensibly in our stack, actually I selected it to be our main application UI.

However,
I'm getting pretty frustrated using the REST API from some of our other stack components.

For instance.... When I create a room with `/api/v1/groups.create ` why can I also NOT set the `topic` and `favorite` the room at the SAME time....
To achieve this I have to make THREE I

[2020-01-12 08:40] ritwizsinha opened #16223 "Make the room name clickable and open room info"
### Description:

Currently, the room name is not clickable.

### Steps to reproduce:

1. Click on room name at the top left
2. It is not clickable

### Expected behavior:

It should be clickable and open the room info in the tab bar

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 2.5.0 -develop
- Operating System: ubuntu

### Additional context
I am working

[2020-01-12 10:18] soeyi opened #16224 "fibers cant match"
### Description:

After I build the project, go into  `/build/bundle/programs/server/`

if i run `npm i `

![image](https://user-images.githubusercontent.com/38489160/72217281-324c8280-3567-11ea-9a5b-2c5a01426bc1.png)

I have already run

[code]

If  i run `meteor  npm i` in `/build/bundle/programs/server/` is ok.
Then:

And i run `pm2 startOrRestart pm2.json `

Then show erros like
![image](https

[2020-01-12 10:28] ips972 opened #16225 "user invite limited to English characters only"
### Description:

### Steps to reproduce:

1. login to rocketchat and enter channel or discussion
2. press users --> add user
3. the text box only allows english chars and our usernames are only numbers, so we have no ides who we are inviting cause no one knows each others username. we can only invite by email or display name

### Expected behavior:
i would expect the system to allow me to invite

[2020-01-12 11:36] GoaGit commented on #16179
@jonyhayama do you have prior, successful experiences with this 'one-click Heroku install'? When I manually deploy the repo to Heroku, it gives (naturally) a timeout as well.

[2020-01-12 11:52] ritwizsinha opened #16226 "Weird dropdown ui"
### Description:

The dropdowns in the administration settings don't have enough padding

### Steps to reproduce:

1. Administration settings
2. Go to any dropdown
3. Click on it

### Expected behavior:
There should be some padding
### Actual behavior:

![image](https://user-images.githubusercontent.com/43509699/72218337-12fe2700-3560-11ea-9afe-bd7117a1bf0d.png)

### Server Setup Information:

- V

[2020-01-12 17:04] mespotine opened #16228 "Feature-Request: More directly seeable options for posts (beside emojis) in Browser view"
I often stumble over the problem, that using threads in RChat is quite inconvenient.

I usually use RChat in browser and when I try to edit, thread, quote, I often have to use the ...-options-menu, as shown in the screenshot below:

![image](https://user-images.githubusercontent.com/4251851/72222374-4b9fff80-3564-11ea-8729-048e2d760b80.png)

I would love to have the option to show somehow addition

[2020-01-12 17:44] dmi7ry commented on #6328
Same here

[2020-01-12 19:49] jonyhayama commented on #16179
@GoaGit absolutelly. First time I tried it (for staging purposes) worked like a charm. Deployed Dec 11, 2019 at 9:41 AM). I had to upgrade the database as stated in some other issue and it all went well.

When I tried a second time (now for production) it simply failed. I struggled a few days with it before posting this issue. The first failed attempt was on Dec 27 2019.

To be more specific, I tr

[2020-01-12 20:11] GoaGit commented on #16179
@jonyhayama I tried the option to deploy to Scalingo. It timed out as well, after 30 minutes (probably their maximum time). I just looked into Rocket.Chat last week, so I have no prior experience. The logs are not detailed enough to figure out which task is being worked on.

[2020-01-13 02:21] soeyi commented on #16224
Downgrade nodejs version to 11.14.0.

run

[code]
in /bundle/programs/server/

works.

![image](https://user-images.githubusercontent.com/38489160/72230061-1cce6b80-35ee-11ea-8544-59fe764e05a1.png)

[see more here](https://github.com/meteor/meteor/pull/10527)

[2020-01-13 02:21] #16224 closed

[2020-01-13 04:27] ankar84 opened #16229 "[BUG] Can't set "Show Read Receipts" on version 2.4.0"
### Description:
When try to turn on **Show Read Receipts** option in **Message** section of **Administration** all message page is disapeared.

### Steps to reproduce:

1.  Go to **Administration**
2. Go to **Message**
3. Click on **Show Read Receipts** to enable it

### Expected behavior:

**Show Read Receipts** sets to **True**

### Actual behavior:
![Show_read](https://user-images.githubuserco

[2020-01-13 04:29] ankar84 commented on #16226
There is more:
![image](https://user-images.githubusercontent.com/4023037/72233099-4e3b3d00-35d6-11ea-811f-bcda5d6b71f0.png)
![image](https://user-images.githubusercontent.com/4023037/72233105-55624b00-35d6-11ea-99d7-3dfc68ea3c7c.png)
![image](https://user-images.githubusercontent.com/4023037/72233110-5c895900-35d6-11ea-87eb-0e49203cd248.png)
![image](https://user-images.githubusercontent.com/4023

[2020-01-13 04:33] ritwizsinha commented on #16226
Yeah so the dropdown's basic template is flawed

[2020-01-13 04:34] ankar84 commented on #16216
It is useful improvement!

[2020-01-13 08:12] LogiEx7 commented on #16186
My site is already in HTTPS... I'm using apache2 and letsencrypt. I have the same configuration for another site and it works ...

[2020-01-13 08:30] barrydegraaff commented on #15958
Yeah this is annoying...

[2020-01-13 08:52] bankaichik21 commented on #15880
When is an automatic update of a snap package to a new version expected?

[2020-01-13 09:34] GoaGit commented on #16179
@jonyhayama have you tried this solution https://github.com/RocketChat/Rocket.Chat/issues/13198#issuecomment-535469428 already?

[2020-01-13 10:10] LogiEx7 commented on #16186
Here is my configuration file:

[code]

[2020-01-13 12:47] reetp commented on #15663
Tested this on 2.3.3 with a mapped volume /opt/uploads and can confirm the same error.

Note it does seem to have generated the data in the directory but viewing the DB keys it seems that is still 'exporting' some rooms. Wondering if it is timing out or somesuch?

Here one room is completed but another (the main room) is still 'exporting'. When you look in the room2.html file it only goes up to Su

[2020-01-13 13:21] guydepauw commented on #16109
Same

[2020-01-13 13:26] gabriellsh commented on #4533
Perhaps some sort of preview button that would render the message only for the user? I can see this being useful in other circumstances.

[2020-01-13 14:00] jonyhayama commented on #16179
@GoaGit I just tried to build it on Heroku.

Regarding this solution https://github.com/RocketChat/Rocket.Chat/issues/13198#issuecomment-535469428 :
I think it's a solution for a different problem. First I build the app, then I get a DB error, then I apply the metioned solution. This is what I did on my staging app (that worked just fine)...

[2020-01-13 14:22] photoninger commented on #9611
Indeed it is very annoying when you try do delete a user which is the last owner of a group or channel.

I would prefer that rocket.chat assigns automatically a new owner in this case:
If the group has at least one moderator, take on of them,
if not, try the leaders and at last take one of the remaining members.
If the user is the last member, give admin the choice to delete the group.

[2020-01-13 14:41] svrnwnsch opened #16230 "Editing top message of a thread changes how the top message is displayed"
### Description:

If you edit the first/top message of a thread this edited message will be no longer shown as a "main" message in the channel. Additionally switching to the the thread view will show the message twice.

### Steps to reproduce:

1. Create message and reply to it in thread:
![grafik](https://user-images.githubusercontent.com/1852828/72264279-c166a280-361a-11ea-883c-f01a53beba35.png)

[2020-01-13 14:42] heleo-ru commented on #16097
Hi. I have identical problem with this option after install clean verion of Rocket.Chat 2.4.0

[2020-01-13 14:54] #16178 closed

[2020-01-13 16:10] pierre-lehnen-rc commented on #16162
Can you share a screenshot of what it looks like?

[2020-01-13 17:35] aviral243 commented on #16029
@MartinSchoeler  Can we have the buttons placement as shown below?

![oie_CW46GFKprcaS](https://user-images.githubusercontent.com/44023445/72278048-2b9e3800-3659-11ea-899c-e20984b4a71f.png)

[2020-01-13 17:36] aviral243 commented on #16229
I am looking into this.

[2020-01-13 18:06] apaarfus commented on #16186
Which Android Application are you using, by the way -- the official client, or the "Experimental" (React Native) version?

[2020-01-13 18:28] ShellyXueHan commented on #10244
Hi @theorenck , any update on this? Thanks!

[2020-01-13 18:30] LogiEx7 commented on #16186
I'm using the official application.

https://play.google.com/store/apps/details?id=chat.rocket.android

[2020-01-13 19:27] gabriellsh commented on #4407
Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just to be safe.

[2020-01-13 19:27] #4407 closed

[2020-01-13 19:34] gabriellsh commented on #4892
Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just to be safe.

[2020-01-13 19:34] #4892 closed

[2020-01-13 19:35] pierre-lehnen-rc commented on #5570
Current version of Rocket.Chat now supports this.

[2020-01-13 19:35] #5570 closed

[2020-01-13 19:39] shibiriba commented on #16097
Could you tell me where this app.js file is and how to add these commands?

[2020-01-13 20:00] BenjaminHCCarr commented on #12176
Similar to: #14789 #13555 and #11704 we are in a situation where messages are "poisoning" corporate address books, as messages received while away are being suggested for "User, Name" <rocket@chat.tld>.

We have read through the issues with concerns about leaking (#12176) but would seek a way to replace the default rocket chat catch-all address with the user's known email address, to prevent poiso

[2020-01-13 20:46] MarcosSpessatto commented on #16159
Hi @litabe, in the last versions, 2.1.0 to be exact, we put a ENV var to be guard this endpoint, then  you need to set that to be able to create new tokens, as you can see [here](https://github.com/RocketChat/Rocket.Chat/blob/develop/app/lib/server/methods/createToken.js#L8).

[2020-01-13 21:54] ashwaniYDV commented on #15951
@MartinSchoeler I have made the pull request. Please review :)

[2020-01-13 22:39] jonyhayama commented on #16179
@GoaGit just o my own piece of mind, I've tried to build the app with a paid db version, still no go... :(

[2020-01-13 23:09] ashwaniYDV commented on #15749
@renatobecker-zz Is this issue stiil relevant?

[2020-01-13 23:13] ashwaniYDV commented on #15720
@wreiske I think this issue is fixed. Kindly close this issue :)

[2020-01-13 23:26] aviral243 opened #16238 "[BUG] Allow converting long messages to attachment option dysfunctional"
When clicking on Allow converting long messages to attachment option, the screen becomes weirdly small and does not restore back.

### Steps to reproduce:

1. Go to administration
2. Click on Message
3. Try switching the Allow converting long messages to attachment option.

### Expected behavior:

The option gets toggled and User gets to Save changes.

### Actual behavior:

Screen becomes cropped

[2020-01-14 06:17] mohanbabubb commented on #15576
+1 if any one fixes!

[2020-01-14 06:43] pkonnov opened #16239 "[BUG] enable google-vision in branch master"
### Description:

I'm trying to turn on google-vision in admins panel

### Steps to reproduce:

1. Go to http://127.0.0.1:3000/admin/FileUpload
2. Turn on Storage Type to Google Cloud Storage
3. In google-vision click turn on

### Expected behavior:

Field with settings google-vision do not hidden

### Actual behavior:

[bug screen](https://lh3.googleusercontent.com/3hpy7KNU-khRodkUyISxBLiskdzkWmB

[2020-01-14 07:41] ritwizsinha commented on #15576
Working on it

[2020-01-14 07:52] GoaGit commented on #16179
@jonyhayama I will try deploying to AWS. Probably somewhere next week. I will use a configuration similar to the Heroku setup. Maybe the logs will be more detailed about certain issues. I do have a strong preference for deploying to Heroku though.

[2020-01-14 08:00] GoaGit commented on #16179
@FriendlyUser @rtarantelli sorry to bother, you seem to have faced a similar issue when deploying Rocket.Chat to Heroku in the past (https://github.com/RocketChat/Rocket.Chat/issues/12588). Were there any obvious reasons for the deploy to fail? Did you manage to get working in the end?

[2020-01-14 08:23] alonzzz opened #16240 "Mentions autocomplete does not work on the mobile app."
Mention autocomplete which allows the user to see a list of users in the current channel after typing @... does not pop up the users list on mobile devices, it works fine for the same user on desktop app / native web browser.

It does work on mobile only if the user has the view-d-room & view-outside-room permission but then he can see all the users on the server not only the users in the relevant

[2020-01-14 08:24] gourav-kandoria commented on #15435
Hi @MarcosSpessatto , Shouldn't the api be such that if the calling user is admin than irrespective of wheather he/she is part of group or not, they should be able to get the group info. since, there is also an api group.ListAll which provide you info of all groups. So, why not have an handy api for admins through which they can retrieve info of a particular group?

[2020-01-14 08:35] LogiEx7 commented on #16186
The problem is solved. The problem came from the apache configuration

[2020-01-14 08:35] #16186 closed

[2020-01-14 08:47] Karreg commented on #10253
Any news on the subject? We just hit this issue. In France there are a lot of people with spaces in their names... :(

[2020-01-14 08:59] sknohsalla opened #16241 "RocketChat [2.4.1] crashes periodically - oom"
### Description:

After migrating to 2.4.0, every night, around the given timestamp in log, the server crashes with heap out of memory.

Our steps:
- added `ExecStart=/usr/local/bin/node --max-old-space-size=4096 main.js` to systemd unit file
- added `Restart=on-failure` to systemd unit file (workaround)

### Steps to reproduce (unsure):

1. Migration from 2.3.3 to 2.4.0
2. wait until given timest

[2020-01-14 09:51] Ablesius commented on #10253
After reading the thread on the special characters in the other issue, I get that this problem is a bit bigger, but still, a single whitespace in between two words like "First Last" should work imho.

[2020-01-14 09:52] SupportAdar commented on #16097
I've same issue any of users with any role can't send messages in private rooms or on channels.

I was updated Rocket.Chat server 2.3.1 to 2.4.1
Server Setup Information:
Version of Rocket.Chat Server: 2.4.1
Operating System: Debian 9.11
Deployment Method: docker
Number of Running Instances: 1
DB Replicaset Oplog: On
NodeJS Version: 8.17.0
MongoDB Version: 4.0.12

And like @Gummikavalier [here](ht

[2020-01-14 10:22] lequy1010 commented on #16075
19 days ago, please confirm @jwilkins

[2020-01-14 11:20] menardorama opened #16242 "2.4.0 : Create invite link not working as channel owner"
Steps to reproduce :
- Create a new channel
- Create an invite link

Debug output
`
server.js:204 Meteor ➔ method roomNameExists -> userId: BTHTzcHhhguXpXpBS, arguments: ["coincoin"]
server.js:204 Meteor ➔ method createPrivateGroup -> userId: BTHTzcHhhguXpXpBS, arguments: ["coincoin",{},false,{},{"broadcast":false,"encrypted":false}]
server.js:204 Integrations ➔ Outgoing WebHook.debug Execute Trig

[2020-01-14 12:17] ggazzo commented on #16242
@pierre-lehnen-rc
https://github.com/RocketChat/Rocket.Chat/blob/develop/app/invites/server/functions/findOrCreateInvite.js#L29

missing scope argument

[2020-01-14 12:21] ggazzo commented on #16226
@ankar84 @ritwizsinha  could you provide which browser both are using?

btw, we are replacing this select

[2020-01-14 12:47] ggazzo commented on #16228
@mespotine what version of rocket.chat are you using, we inserted the reply on thread as you mentioned
![image](https://user-images.githubusercontent.com/5263975/72345558-d858d380-36b2-11ea-928c-2c7a6391f1c9.png)

[2020-01-14 13:02] pierre-lehnen-rc commented on #16242
Already fixed on #16176

[2020-01-14 13:15] #16238 closed

[2020-01-14 13:25] ggazzo commented on #16241
are you using something like prune messages? or something that runs periodically?

[2020-01-14 13:46] asdfg20905 opened #16245 "無法登入"
After download login failed

Cannot log in with the original account

Change the password too

Verify phone and mailbox still can't login normally

Web page display [Oops, an error occurred.]

Phone display [challenge_required]

[2020-01-14 14:02] sknohsalla commented on #16241
Hi @ggazzo, thanks for your feedback!

Yes we do prune messages globally for all channels (we used this option in older versions already).
Unfortunately I don't know how to check, when prune messages is triggered.

Several minutes before posted timestamp we have this error, not sure if related to service exit 24 minutes later:

[code]

[2020-01-14 14:56] ashwaniYDV opened #16246 "No error message of password and conf-password mismatch"
### Description:
When username is already taken a error message is given in UI. Same way, it should be done for password too where no error message is given to user when password and confirm password are not equal.

### Steps to reproduce:

1. Go to "My Account" -> "Profile"
2. Change password

### Expected behavior:
Error message should be given.

### Actual behavior:
No error message given.

[2020-01-14 14:59] #16185 closed

[2020-01-14 15:25] Mystikal57 opened #16248 "BigBluebutton integration doesn't work"
### Description:

BigBluebutton configured and enabled, but isn't working
When i click on start meeting, nothing happened
our BBB server works with moodle very fine

### Steps to reproduce:

1. click on start meeting

### Expected behavior:

open room

### Actual behavior:

nothing happened

### Server Setup Information:

- Version of Rocket.Chat Server: 2.3.1
- Operating System: ubuntu 18.04.6
-

[2020-01-14 15:31] shibiriba commented on #16097
Hello, I ended up stopping here because I had a problem integrating with zapier, did a clean install on a virtual machine and realized that this problem is a bug of this new version, and my production version was old. In the old version I did not have this problem (I had another similar problem, but not this one), I believe the only way to fix this is to roll back to version 2.2.0 (which is the on

[2020-01-14 15:36] shibiriba commented on #16180
I managed to solve the problem!

I will describe step by step, I hope this can help someone later, because to solve this problem, I faced several others.

After facing this situation of Zapier, I did a new installation on a virtual machine, but realized that the version I installed was different from my production version (prod 2.2.0) (new RC 2.4.1), I thought I could be some incompatibility becau

[2020-01-14 15:36] #16180 closed

[2020-01-14 16:06] #16103 closed

[2020-01-14 16:07] soundstorm commented on #16097
Still not flagged as bug @rocketchat/core

[2020-01-14 16:08] #6463 closed

[2020-01-14 16:28] MartinSchoeler commented on #16245
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-01-14 16:28] #16245 closed

[2020-01-14 17:35] mespotine commented on #16228
2.3.1 via Snap.

Is there an option, I have missed to turn that feature on?

[2020-01-14 17:51] ugintl opened #16249 "Audio recording not sending"
When I try to send audio message via direct message, It just stays at 0%. I see this
![rocket-audio](https://user-images.githubusercontent.com/12570802/72368748-79ca3e80-3720-11ea-9247-1dddadd77f80.png)

![screenshot](https://user-images.githubusercontent.com/12570802/72368689-628b5100-3720-11ea-9873-248c4ab501ad.png)

[2020-01-14 18:25] ugintl opened #16251 "User list should not be public"
Currently, anyone can see everyone on the server. Is it possible to restrict user directory to only those who are in the user's contact list? If a user has a username of other user, he can add him to his contact list and then communicate.
![screenshot](https://user-images.githubusercontent.com/12570802/72370979-2b6b6e80-3725-11ea-9b65-1cc5e3075f66.png)

[2020-01-14 21:56] 54330 commented on #15880
Glad to see this change back and the community works :)

 I like @bankaichik21 am also waiting for the snap package to be updated so i can set passwords again.

[2020-01-14 23:36] ashwaniYDV opened #16254 "Cancel button of "Mail Messages" not working"
### Description:
Cancel button for "mail messages" in chat rooms not working

### Steps to reproduce:

1. Go to a room
2. Click on "mail messages" from room menu.
3. Click "cancel" button

### Expected behavior:
The flexbar must close.

### Actual behavior:
The flexbar is not closing
![cancel](https://user-images.githubusercontent.com/43786728/72392002-f24af280-3754-11ea-9fa7-6f618c470984.gif)

##

[2020-01-15 02:26] akong77 opened #16256 "Could support some function?"
Hello,
I use rocket.chat 2.4.1 version. I want know some function could support it.
1. I want let user choose message font, include font and font color and size.
2. Could add screen capture in rocket.chat client? I mean windows system rocket.chat client.
3. Some user will save usually message and it's can quick reply.Could support it?
Thanks a lot.

[2020-01-15 07:29] smcardle opened #16257 "Why can't I set the topic and favorite the group when I create it via REST"
Hi.

Why do the REST API's seem to lack the ability to set multiple values at the same time ?

For instance, I first need to create a group using /api/v1/group.create
I then need to use /api/rooms.favorite to favorite the room ?? But wait.... wasn't it a "group" I just created ???
Still, the DB just has rooms anyway !!!

After these steps I then want to set the topic so I call /api/v1/rooms.setTop

[2020-01-15 08:26] alfredbez commented on #4407
Hi there, I don't use rocket chat anymore.

[2020-01-15 09:54] litabe commented on #16159
Thanks @MarcosSpessatto,
Adding "CREATE_TOKENS_FOR_USERS" to ENV works...

[2020-01-15 09:54] #16159 closed

[2020-01-15 10:20] asarubbo commented on #16097
For me is programs/server/app/app.js
You can add the commands by editing the js file.

[2020-01-15 10:46] LuluGO commented on #15880
Hi, new version 2.4 with this fix should be available this week

[2020-01-15 11:08] bankaichik21 commented on #15880
@LuluGO good news!

[2020-01-15 12:13] TahaHammamy commented on #12448
someone did find the solution for the login page ? even replacing the Account->Iframe : and defining an Iframe URL for the login page is not working !
@hnategh

[2020-01-15 12:17] Teqashi commented on #2192
@maciek134 Any updates on this? It would help a lot

[2020-01-15 12:17] TahaHammamy commented on #12448
did you find a solution for your homepage ?

[2020-01-15 14:29] ips972 commented on #16225
any update?

[2020-01-15 15:23] msisskin commented on #15912
Any traction on this? We have a similar use case.

[2020-01-15 15:32] AmShaegar13 commented on #16097
This is clearly a bug, easily reproducible with a clean install of Rocket.Chat >= 2.4.0 and setting `Message_SetNameToAliasEnabled` to false.

You wont be able to send messages or attachments.

[2020-01-15 17:39] djpavlo commented on #15958
I want to reset password by admin panel too. work in my chat stopped :(

[2020-01-15 21:07] adam-kosseck commented on #1887
I noticed a fork of the dark mode script by @chall8908 was available - https://gist.github.com/pbaity/73beb1dd11fdc8b90e4ee032f1b3f7de

This fork appears to work better in our environment, as all of the drawers are now rendered in dark mode (e.g. conversation threads & room info).

[2020-01-15 21:41] dasBuero commented on #15369
This is really annoying as we often use discussions to structure channels and urgently need a working referencing. Hope to see a solution soon.

[2020-01-15 21:43] yaserhosseini commented on #15958
**Hi there**

**Unfortunately, the ability to directly change the password in the admin section has been removed in the new version**

The Rocket Chat team gives us a lot of opportunities through EPA Restrictions
You can quickly change your users' password by using up to 5 of these web services.
The first step is to log in through the following web service
`http://*****:3000/api/v1/login`
The abov

[2020-01-16 01:35] xgdgsc commented on #16097
When I set Message_SetNameToAliasEnabled to true, message cannot be sent by human users. And robot through python rocketchat_API would get
[code]

[2020-01-16 01:37] xgdgsc commented on #16097
Why I cannot see `reset section` button in /admin/Message

[2020-01-16 05:13] jinlaohu commented on #13003
I've too.

[2020-01-16 06:27] goupper commented on #10201
1.ps axu|grep rocket
如果有mongo的进程，找到后并
kill -9 进程号
2. 重新启动rocket-server
sudo systemctl stop snap.rocketchat-server.rocketchat-server.service
sudo systemctl start snap.rocketchat-server.rocketchat-server.service
3. 启动mongodb
nohup sudo mongod --bind_ip 127.0.0.1 --pidfilepath /var/snap/rocketchat-server/common/mongod.pid --smallfiles --journal --dbpath=/var/snap/rocketchat-server/common --replSet rs

[2020-01-16 08:17] Khodesaeed opened #16260 "Invite user to channel with API."
I want to automate adding user into rocket.chat with ansible, and i need to work with API or ansible instead for create and send welcome message  to new user i used rocket.chat API.
the  [`/api/v1/channels.invite`](https://rocket.chat/docs/developer-guides/rest-api/channels/invite/) only gets `roomId` and `userId`, its bring more compexity is there any API that gets username and room name for addi

[2020-01-16 08:25] iMaciaveller commented on #14728
Which DNS Record we should change SRV Record or Protocol TXT Record?

[2020-01-16 08:28] antkaz commented on #8003
Any updates for this issue?

[2020-01-16 08:37] antkaz opened #16261 "uploaded files are not protected"
### Description:

After adding JWT for downloaded files, files are not protected if JWT is disabled

### Steps to reproduce:

1. Go to Administration -> FIle Upload
2. Enable `Protect Uploaded Files` and disable `Enable JWT protection` and  save changes
![image](https://user-images.githubusercontent.com/19654261/72506934-b737e480-3864-11ea-8ee4-7b6fff758e59.png)
3. Upload file to room
4. Open `FIl

[2020-01-16 12:37] SupportAdar commented on #16097
@xgdgsc you can chekc network output in DevTools, also I've front problem with admin panel, exact when I want choose any switch form Message options everything disapear on panel any it only work on 25% page scale.

[2020-01-16 12:37] macrozone commented on #15973
this was not the case in previous versions. This regression has been introduced recently

@Amagon96 would be great if someone could fix this!

[2020-01-16 12:41] nicexe2e4 commented on #16241
I have a similar problem. But workaround is different. We have a cluster with 3 instances, after updating from 2.3 to 2.4, only 2 remain working at the same time, the third node is killed by the OS, as OOM suspects, but this is definitely not OOM. This is logging - the entire log is spammed with the \ symbol, like a:
[code]
If you turn off sigterm to kill, then the disk space is filled with this l

[2020-01-16 14:50] kenmarsh8 commented on #15471
Same issue here, user acceptance is low due to this issue (and others) on web, and the Android App is just unusable.

[2020-01-16 15:00] ritwizsinha commented on #16226
I am using google chrome

Google Chrome | 79.0.3945.88 (Official Build) (64-bit)

[2020-01-16 15:01] rwhorton66 commented on #15012
Is there any update on this issue?

[2020-01-16 15:01] ritwizsinha commented on #16209
@ggazzo please review

[2020-01-16 15:35] cristigodri opened #16264 "Events for onAgentsAvailable and onAgentsUnavailable"
Would it be possible to implement the following events for the livechat API ?

onAgentsAvailable - fires when online agents are detected
onAgentsUnavailable - fires when no online agents are detected

They could be useful for example to have a different look and functionality on a "help button" if there is at least one agent available.

I know there is the onAgentStatusChange event, but it seems t

[2020-01-16 15:51] menardorama opened #16265 "[BUG] Rocketchat 2.4.1 - Some users can't chat in private but are ok in public channels"
### Description:
Users are logged on Rocketchat using SAML (shibboleth).

Some users are not able to chat in Private, no error is shown on the interface but message is never seen on the other side

### Steps to reproduce:

1. User 1 search for user 2
2, User 1 type something
3 User 2 never see the message
But...
4. User 1 sees the history of the messages

### Expected behavior:

Should work

### A

[2020-01-16 16:28] maciek134 commented on #2192
@Teqashi I'm almost done, just didn't have time to wrap it up and send a PR. I'll try to do it in the evening.

[2020-01-16 16:36] aravorn44 opened #16266 "Crash when double-clicking minimized tray icon in Windows app"
<!--

Please see our guide for opening issues: https://rocket.chat/docs/contributing/reporting-issues

If you have questions or are looking for help/support please see: https://rocket.chat/docs/getting-support

### Description:

When clicking on the tray icon for the Windows application while the main window is minimized, the application crashes.

### Steps to reproduce:

1. Launch Rocketchat (Win

[2020-01-16 17:00] ritwizsinha commented on #16266
@aravorn44 please follow the bug report guideliines

[2020-01-16 18:01] mindey opened #16267 "Integrate in-line forms to chat."
In Telegram messenger, in-line forms enables us to interact with users by letting them click buttons and fill out consecutive forms. We would like this capability in RocketChat, to be able to fill out in-line forms directly in the chats.

For example, a use-case would be bot surveys, or in-chat payments and invoicing directly as part of chat (like in WeChat messenger).

Given in-line forms capabil

[2020-01-16 18:58] nonameexist commented on #16109
Same

Rocket.Chat
* Version	2.4.1
* Apps Engine Version	1.11.0
* Running Instances	1
* OpLog	Enabled

Installed from dockerhub

[2020-01-16 19:33] jhonny2pamp commented on #16179
Good afternoon Gentlemen, I managed to upload rocketchat on amazon, they have a tutorial to do that, just beware!

In the docker-compose.yml file these lines look like this:
mongo:
    image: mongo

should look like this:
mongo:
    image: mongo: 4.0

And I commented the whole replica snippet to save memory

That is all

[2020-01-16 19:38] lorek123 commented on #16267
This will be done via UIKit, which is right now in development.

[2020-01-16 19:50] johnburkhard commented on #15958
This change needs to be reverted because not everyone runs an email notification server. Admin of a rocket chat server should be left up to the admins of the server, not Rocket Chat developers and the workflow that they feel is best.

I literally can't reset user passwords for a team of over 300 people now with this change.

[2020-01-16 20:11] himpierre commented on #16097
@rodrigok @sampaiodiego are you guys aware of this bug? It feels like not. :-)

cheers, t.

[2020-01-16 20:57] dannysauer commented on #7467
I opened https://github.com/highlightjs/highlight.js/issues/2355 today because it was still present in our version.  Whoops. :D

Either way, looks like https://github.com/highlightjs/highlight.js/pull/2219 might have fixed this issue.  So hopefully this can be closed once the bundled code is bumped to include the new stuff.

[2020-01-16 20:58] dannysauer commented on #7467
Weird.  Who knew that simply making a comment would unassign @karlprieb . 🤷‍♂

[2020-01-16 21:55] herbetom commented on #16097
We also had the Problem that neither Users or Admins could send Messages after the Update from 2.3.1 to 2.4.1
The suggestion from @Gummikavalier (disbling the Use Real Name Option) solved it for us.

But since many people had this issue and it cost us about half an hour to restore the chat (analyzing, testing, finding this issue, trying it), maybe it would be wise to withdraw the release until thi

[2020-01-17 03:10] #16132 closed

[2020-01-17 03:11] #16136 closed

[2020-01-17 03:39] githubaccq opened #16269 "Rocket.chat livechat doesn't work on onion addresses"
My main website works on onion address. My rocket.chat server has another onion address

If I use Tor browser for my onion website I see only icon of Rocket.chat livechat on the right bottom side. Clicking on the icon doesn't pop up Livechat window(Clearnet version works perfectly).

I can go to myrocketchatonionaddress.onion/livechat - it will give me a Livechat window but without a field where I

[2020-01-17 06:08] ankar84 commented on #16266
https://github.com/RocketChat/Rocket.Chat.Electron/issues/1439

[2020-01-17 06:36] ednamaeG opened #16270 "Rocket Chat Livechat Plugin error"
**Problem description:**
Rocketchat gives livechat plugin error when building it from source using Windows and meteor npm start command

**Steps to Reproduce**
 - Clone repo from github
- open project
- run meteor npm install
- run meteor npm start
![image](https://user-images.githubusercontent.com/49261930/72589599-abb4ee00-3936-11ea-9623-0acb7431c05a.png)

[2020-01-17 09:24] sknohsalla commented on #16241
thanks for your reply @nicexe2e4 .
I could verify, deactivating option "prune message" doesn't help here.

We have no further cronjobs running.

Please let us know if we could provide more information (debug mode eg).

[2020-01-17 09:24] wabbit187 commented on #8220
Same here. wrote an email for about 2 weeks. Is it still a working integration?!

[2020-01-17 09:30] wabbit187 commented on #16270
could you try running the .bat files without directories that include spaces like "...\Edna Mae....

[2020-01-17 10:38] mes85 opened #16271 "After starting Jitsi the tab with Rocket became unusable"
### Description:

After starting a Jitsi session by clicking the Video Call button the Rocket tab in web browser becomes unusable/broken

### Steps to reproduce:

1. Configure Rocket.Chat:
  - enable Jitsi with our own domain
  - disable Rocket.Chat WebRTC
2. Have a one-to-one chat in a Firefox tab in Rocket.Chat
3. Start a Video Call
4. Continue using Rocket.Chat

### Expected behavior:

By start

[2020-01-17 10:59] nicexe2e4 commented on #16241
Yep, in my cluster "prune message" option was not enabled too. And now I have 1 working node, when trying to connect others this error is here. We are slowly but working. I think problem is on application side or app + our env.

[2020-01-17 11:18] johanricher commented on #7007
@MartinSchoeler Can you give me some advice? Do I open a new issue?

[2020-01-17 11:36] reetp commented on #15958
Don't follow up here. This a duplicate bug and closed.

Check https://github.com/RocketChat/Rocket.Chat/issues/15880

This change has been reverted.

[2020-01-17 11:41] MartinSchoeler commented on #16163
Hey, @MatthiasHertel This is when using the `compact` view mode, right? For now, this is the default behavior, we found having all messages in the same indentation was less confusing, of course, this can be discussed and changed if needed. Since the `compact` view is used by a specific part of the userbase we should ask more people what they think.

[2020-01-17 11:49] MartinSchoeler commented on #7007
@johanricher This Bug seems to have returned, I will reopen this issue.

[2020-01-17 11:53] tmatthaeus opened #16272 "Offline Email Notifications are sent during the user is away but connected"
### Description:

User is connected to Rocket.Chat and the user status was set automatically to away after the idle time is reached. User got a new direct message, now a email notification is sent to the user. Offline Email Notifications is set to "Every Mention/DM".

Regarding to the documentation < https://rocket.chat/docs/administrator-guides/notifications/ > the user should not receive an emai

[2020-01-17 11:55] ritwizsinha commented on #7007
I would like to work on this,

[2020-01-17 12:24] MartinSchoeler commented on #7007
@ritwizsinha there is no ownership of issues in Rocket.Chat, so nobody should give or ask for permission to work on stuff, if you want to work on something, just create a pull request. We usually review and merge PRs based on their quality, and not by "who made it first", anyways this particular issue will already be closed on #16025

[2020-01-17 16:51] paulz1 commented on #14091
Do we have something new on this?

I running 2.4.1 version, but LDAP login does not work because of

There is no mail field in LDAP, but I set "User Data Field Map" to point to the right field. But it still do not work.
I think it will work with setting "Default Domain", but for some reasons I could not set it.

This is a blocking issue for us.

[2020-01-17 19:16] MatthiasHertel commented on #16163
Hey @MartinSchoeler,

whoops sorry my fail, you are right , i forget that i setup this.

for me: i love the compact mode but this indent looks not so nice. i think a linebreak after the username looks nice and is less confusing  but an indent of the whole message makes the message/information more difficult to consume. the metadata line (username, userrole, timestamp,etc) does not look intrusive a

[2020-01-17 19:30] Chealer opened #16490 ""Reply in Thread" should be more prominent"
One very common action done on a colleague's message is "Reply in Thread", which is offered in the "vertical ellipsis" at the right.

This action should be more prominent - either it should trigger directly when clicking a colleague's message, or it should be first in the menu (at least, above "Start a conversation").

[2020-01-17 20:10] DerTomm commented on #15754
We just upgraded from version 1.x to the latest one (2.4.2) and experience the same issue.

In the footer there is the "image not found" icon with reference to assets/logo which leads to a 404.
We do not have a custom icon set.

As far as I understand the correct behaviour is that the Rocket.Chat logo is shown in this case - which works if I manually request assets/logo.*svg*

So is this issue rea

[2020-01-17 20:21] DerTomm commented on #15754
Note for everyone with the same problem:
In our case in Administration -> Layout -> Content -> Footer there was an old custom entry pointing to `assets/logo`. After resetting this value it is now the proper `<a href="/home"><img src="assets/logo.png" alt="Home" /></a>`  and the issue is gone. Maybe a migration issue...

[2020-01-17 20:34] malanvaneck commented on #15880
Thanks @LuluGO, @theRestThatCommented, great job.
This was a bad move from RocketChat.

[2020-01-17 20:35] BlackFenix2 commented on #11647
@benkroeger If i add this value to my usernameField will i mess up other logged in users? if i change this setting i want to ensure the oauth logins still point to the correct rocket.chat user.

i saw that the PR https://github.com/RocketChat/Rocket.Chat/pull/15690 is still in progress. that should solve my SSO issue once and for all!

[2020-01-17 21:23] didacroyo commented on #15880
Thanks community and thanks Rocketchat Team!
I could upgraded from docker to 2.4.1

El vie., 17 ene. 2020 21:34, malanvaneck <notifications@github.com>
escribió:

[2020-01-17 22:08] benkroeger commented on #11647
the current implementation [looks for existing users by username](https://github.com/RocketChat/Rocket.Chat/blob/d544b07c2aacb2ca0926fbf6c4cf2cfe0a885616/app/custom-oauth/server/custom_oauth_server.js#L427). this means, if you change the way the username is compiled on an existing custom oauth provider, you would not find existing users (although the same person might have an account already). Tha

[2020-01-18 03:40] bankaichik21 commented on #15880
@LuluGO snap package 2.4.1 available or not?

[2020-01-18 07:50] col-panic commented on #16152
I think I followed all the guidelines to contribute a patch - is there anything I can do to "speed up" consideration of this patch for the next release? thanks for the help guys

[2020-01-18 08:23] Sys-Admin889 opened #16275 "Can't open PDF files inside browser"
Dear all,

Could you please explain how to view PDF files inside the chat without downloading them to PC?

In other words, I need to open the pdf files inside the browser instead of downloading the PDF file and open it from download folder.

When clicking on the title of the document, it starts downloading instead of showing the preview in the new tab, it tested by using Chrome browser in Mac OS,

[2020-01-18 10:21] #15754 closed

[2020-01-18 10:23] Maqsyo commented on #15754
Yeah it seems to be an migration issue.
Your way is the correct way to resolve this issue.
You have to dig deep in this ref-issue to find this solution

[2020-01-18 10:40] menardorama commented on #16265
Issue is only affecting 2.4.1, I have rolled back to 2.4.0 and it's working fine.

[2020-01-18 12:23] frdmn opened #16276 "Image uploads (thumbnails) out of threads are not visible in regular message view"
### Description:

If you upload a image into a thread, the image is only visible in the left thread sidebar when certain thread is currently opened. In the main conversation view there is just an empty message without any thumbnail or indicator that there should be an image embedded.

#### Thread view

<img width="383" alt="Bildschirmfoto 2020-01-18 um 09 18 19" src="https://user-images.githubuser

[2020-01-18 12:28] ritwizsinha commented on #16276
I am working on this, @frdmn could you please point me to the relevant files

[2020-01-18 16:14] ritwizsinha opened #16278 "Sending a message should scroll to the lastest message"
### Description:

Currently, when a user writes a message the room messages stay there. It would be better after the message is entered the message list jumps to the current typed message

### Steps to reproduce:

1. Write a message
2. Enter the message
3. The message list stays there

### Expected behavior:

The message list should move to the currently entered message

### Actual behavior:

![ou

[2020-01-18 16:30] gabriellsh commented on #16276
If you downgrade to older versions of rocket.chat, thread messages with images just show the users name. I guess we could make it so that when someone replies to a thread with an image it says "username Sent an Image" or something like that?

[2020-01-18 16:32] ritwizsinha commented on #16276
We could also add the image description or name

[2020-01-18 17:12] ritwizsinha commented on #16278
@MartinSchoeler could you please guide me on how to proceed

[2020-01-18 18:24] ashwaniYDV commented on #10955
I am working on it

[2020-01-18 18:46] ashwaniYDV commented on #10955
@tassoevan I think we can also add a setting in user preferences to enable/disable context-ment action for messages or element containing the tripledot

[2020-01-18 21:08] mhaluska commented on #16109
Outgoing webhook creation is fixed in 2.4.2. Thanks

[2020-01-19 07:59] ashwaniYDV opened #16280 "In threads sending a message should scroll to latest thread message"
### Description:
In threads the new messages are not automatically previed if the chat becomes more than the display area. It is lacking auto scroll behaviour

### Steps to reproduce:

1. Create a new thread or reply in an existing thread
2. Just make the chat long

### Expected behavior:
Like the normal message area it should automatically scroll to bottom.

### Actual behavior:
It is not automat

[2020-01-19 12:06] ashwaniYDV opened #16282 "[BUG] Comma containting phrases are not supported correctly in user preferences highlight"
### Description:
We are supposed to highlight words and phrases seperated by [enter] click. But it may contain commas in the phrases. So the criteria to seperate words and phrases should be [enter] key (or new line)

### Steps to reproduce:

1. Go to user preferences
2. Add some phrases containing commas

### Expected behavior:
Eg. `Hey, how are you` should highlight the full phrase

### Actual be

[2020-01-19 12:54] anjanaNewput opened #16283 "I am not able to import any react native library"
TypeError: undefined is not an object (evaluating '_$$_REQUIRE(_dependencyMap[34], "react-native-tts").Tts')

[2020-01-19 14:36] eeldwin commented on #16241
I'm experiencing this problem as well. I've disabled the prune feature. However the rocket chat keep crashing every 12-24 hours. It happened after I upgraded on 2.4.0 or 2.4.1.

[2020-01-19 14:46] LuluGO commented on #15880
2.4.2 available :)

[2020-01-19 15:28] Man-in-Black opened #16284 "User Groups to separate Users from each other"
Hi,

I did not find any similar topic.
I'm looking for a way to create a user group.
When a user browses the directory, he should only see the users of whose groups he is a member.

Is there a way to achieve this?

Thanks and kind regards
Sascha

[2020-01-19 18:25] TheQuantumPhysicist opened #16285 "MMAPv1 is removed in mongodb 4.2 + mongodb 4.0 cannot be installed on Debian Buster = No Rocket.Chat on Buster possible"
This is the first time me trying to install this or use Rocket.Chat or use MongoDB, but I'm familiar with Linux and I'm a developer. Please excuse me if something I did down there is very wrong.

### Description:

It's basically not possible to install Rocket.Chat on Debian Buster. The instructions that I used [from here](https://rocket.chat/docs/installation/manual-installation/debian/) do not wo

[2020-01-19 19:25] michelpy commented on #15880
@LuluGO what is the recommended procedure to upgrade from 2.3.1 snap ?

[2020-01-20 04:43] m11sn commented on #16097
2.4.2 bug still here.
@jbguerraz thanks!

[2020-01-20 07:18] Gummikavalier commented on #16285
We've been running Mongo 3.6 using wiredTiger since last summer without noticeable problems, so I think it should be good.

But good point anyway. WiredTiger should be officially supported since MMAPv1 is being phased out.

[2020-01-20 09:00] Sicoval31 opened #16287 "2.4.2 : no message send"
since new version autoupdate with snap package : no message can be send.
a part of the error message in the log section :
server.js:204 System ➔ error Error sending message: Error: You are not authorized to change message properties     at validateUserIdentity (app/lib/server/functions/sendMessage.js:164:9)     at sendMessage (app/lib/server/functions/sendMessage.js:175:3)     at executeSendMessag

[2020-01-20 09:22] tuxmartin commented on #16287
I have the same problem.

Rocket.Chat SNAP. Version 2.4.2. App engine version 1.11.0. Debian 10.

[2020-01-20 09:29] xgdgsc opened #16288 "Unread Tray Icon Alert cannot be set to on"
### Description:

Whenever I set Unread Tray Icon Alert to on in my profile settings (in linux client or webpage), it will reload the page and it would turn to off. The default preference in admin settings is on.

### Steps to reproduce:

1.  go to my profile settings,
2.  set Unread Tray Icon Alert to on

### Expected behavior:

It keeps on and ever.

### Actual behavior:

The page reloads and it

[2020-01-20 09:30] Sicoval31 commented on #16287
The rocketchat-server.rocketchat-caddy is always inactive (but enable).
even after restart it by the command:  snap start rocketchat-server.rocketchat-caddy

[2020-01-20 09:33] lewisf2001uk commented on #16287
Temporary workaround below
In the admin message settings (/admin/Message).
Turn off "Set a User Name to Alias in Message"
![image](https://user-images.githubusercontent.com/11738262/72715164-e2be1600-3b67-11ea-9287-6eba604a9dfe.png)

[2020-01-20 09:36] tuxmartin commented on #16287
@lewisf2001uk thank you!

[2020-01-20 09:47] AmShaegar13 commented on #16287
See #16097

[2020-01-20 09:51] benben-ops opened #16289 "Continuous sound notifications for new livechat room is not working with Manual Livechat Routing Method."
### Description:
Standard Digital ocean droplet installation. Added new Livechat manager user and two agents, widget on page. Just for testing the live chat. But for me the most important Continuous sound notifications is not working.

### Steps to reproduce:
Livechat Settings:
Administartion > Livechat > Livechat enabled = yes
Administartion > Livechat > Continuous sound notifications for new liv

[2020-01-20 13:27] fdellwing commented on #2192
We just had a meeting, discussing to supersede RC because not custom mentions are possible. Really looking forward into testing this!

[2020-01-20 13:41] Sys-Admin889 opened #16290 "Exception in callback of async function: TypeError: Cannot read property 'prid' of undefined"
Hello everyone,

This error appears after upgrading server version from 2.3.1 to 2.4.2.
What does that mean and how can it solved?

Best Regards

[2020-01-20 15:30] doransmestad commented on #16097
I just hit this issue as well after an update to version 2.4.2.   Changing the "set username to alias" setting to false is working for my users at the moment.

[2020-01-20 15:39] mlowton opened #16291 "/api/v1/chat.sendMessage returns error "Cannot read property 'starred' of undefined" when setting the alias attribute"
### Description:

Sending a chat message returns a 400 http status when including an alias. The issue was noticed following an update on  January 17, 2020.

The api request was working before the update.
The request is successful without the 'alias' attribute.

### Steps to reproduce:
1. Using the api path '/api/v1/chat.sendMessage', send a request body with an alias

### Expected behavior:

The m

[2020-01-20 15:41] blmt commented on #16097
Same here. I am still puzzled by the fact that this bug was reported on 28.12.2019 and nonetheless this morning my snap image of rocket-chat was automatically updated to a broken version. Has this bug been accepted as such?

[2020-01-20 15:58] volodymyroliinyk opened #16292 "Docker RocketChat Push Notification not work on all devices"
-Ubuntu 18.x server
-Nginx
-ssl configured, https works fine
-Docker(RocketChat) latest version
-Push enabled, APN, GCM configured, Gateway disabled, server restarted after each changes
-Google Firebase configured and work fine with another (web app + mobile push notifications)
-web RC + mobile RC(ios , android) configured and work fine but without push notification
-websocket works fine
-RC logs

[2020-01-20 16:00] nomitri-experimental commented on #3361
Is there a roadmap on when this is going to be in stable state or at least when it will be available for the mobile apps?

[2020-01-20 16:17] soundstorm commented on #16097
@sampaiodiego this is simply broken.
Any 2.4.x release is unusable. 😒

[2020-01-20 16:54] buckyball commented on #14562
The issue is still there on Snap:
`rocketchat-server     2.4.2                       1420   stable        rocketchat✓ `
The apparmor fix from @88fingerslukee is also still working though.

[2020-01-20 17:30] gjetithor9 opened #16294 "unable to send massages on rocket chat giving error via rocket.cat Only you can see this message"
Below is the error found in logs

server.js:204 System ➔ error Error sending message: Error: You are not authorized to change message properties     at validateUserIdentity (app/lib/server/functions/sendMessage.js:164:9)     at sendMessage (app/lib/server/functions/sendMessage.js:175:3)     at executeSendMessage (app/lib/server/methods/sendMessage.js:76:10)     at MethodInvocation.sendMessage (app

[2020-01-20 17:38] TheQuantumPhysicist commented on #16285
Are there instructions on how to use WiredTiger on Debian Buster to install MongoDB and Rocket Chat?

[2020-01-20 18:12] herbetom commented on #16294
You should take a look at #16097

What seems to helps is https://github.com/RocketChat/Rocket.Chat/issues/16097#issuecomment-569691591  (disbling the Use Real Name Option)

[2020-01-20 18:16] ritwizsinha commented on #16278
@MartinSchoeler please review

[2020-01-20 19:12] tonymmm1 opened #16295 "Android push notifications are not being recieved"
### Description:
Android push notifications are not being received and iOS notifications are working.

### Steps to reproduce:

1. Latest docker-compose setup running behind a traefik reverse proxy running v1.7
2. Latest rocketchat client and rocketchat experimental from google play store

### Server Setup Information:

- Version of Rocket.Chat Server: 2.4.2
- Operating System: debian 9
- Deployme

[2020-01-20 19:31] Gummikavalier opened #16296 "Existing integrations missing in the Integrations list"
### Description:

Depending on screen size, resolution and browser window shape and size, integrations list under admin console does not show all existing integrations.

### Steps to reproduce:

1. Create about 60 inbound and outbound webhooks. Name them logically so that you can spot missing ones easily.
2.  When you have enough integrations, clean up the browser cache, load the site, and check t

[2020-01-20 19:48] ritwizsinha commented on #2839
I would like to work on it

[2020-01-20 20:33] ashwaniYDV commented on #14825
I am working on it

[2020-01-20 20:41] ashwaniYDV commented on #13151
I am working on it

[2020-01-20 20:49] ashwaniYDV commented on #8500
I would like to work on it

[2020-01-20 21:09] rodrigok commented on #16097
Hey folks. We are aware of this. We are working to fix it and release soon.

Changing the "set username to alias" setting to false Is indeed the workaround to solve this issue. You can still use the real name setting.

[2020-01-20 22:42] mespotine commented on #16228
Ok, it's now there, after the update. So I close this issue.

Thanks :)

[2020-01-20 22:42] #16228 closed

[2020-01-21 04:25] ankar84 commented on #3582
When?

[2020-01-21 04:31] ankar84 opened #16297 "[BUG] Thread quote appear in main channel"
### Description:

Thread quote appear in main channel, but not in thread.

### Steps to reproduce:

1. Make a channel port
2. Reply to post in Thread
3. Go to Thread
4. Quote any message in Thread
5. Quote appears in Channel, not in Thread

### Expected behavior:

Quote appear in thread, not in main channel

### Actual behavior:
![quote](https://user-images.githubusercontent.com/4023037/72775459-7

[2020-01-21 04:42] ritwizsinha commented on #16297
Related to #16297

[2020-01-21 04:57] ritwizsinha opened #16298 "[IMPROVE] Make the quote clickable and redirect to the message that was quoted"
### Description:

Currently the quote isn't clickable but the date and time right next to it redirects to the message, It would be great if clicking anywhere on the quote redirects to the message

### Steps to reproduce:

1. Quote a message
2. Try to click on the markdown box that appears

### Expected behavior:

The quoted message should be clickable

### Actual behavior:

![out](https://user-ima

[2020-01-21 05:16] McpCyber commented on #16276
i have the same issue , but when i logout from rockectchat and login again , thumbnail are displayed...

[2020-01-21 05:47] michelpy commented on #15880
Update : it did upgrade itself to 2.4.2 and the password field is back indeed (untested, it's late).

There was a firewall issue at the same time, could not access it anymore from anything but itself. Difficult to corellate, had to re-create a firewall rule. May or may not be linked, as there was an ubuntu update at the same time.

Will post more update.

[2020-01-21 06:01] ips972 commented on #16225
is there any special reason this ticket isn't getting any attention?

[2020-01-21 06:08] ashwaniYDV commented on #4996
I would like to work upon it. If anyone is having a lead please guide me too :)

[2020-01-21 06:20] ashwaniYDV commented on #5020
I have previously worked with settings and would like to work on this too.
I think the best way is to add an option to disable invisible in the admin settings.

[2020-01-21 07:11] nonameexist commented on #16109
When docker image will be available?

[2020-01-21 09:53] linuxserver2016 opened #16299 "Login self-hosted Rocket chat using self-hosted Gitlab."
### Description: internal server error while trying to login Rocket chat through Gitlab

### Steps to reproduce:

1.  On Rocket chat self-hosted version Go to OAuth > Gitlab > enable OAuth for Gitlab (also I do have a Doubt here, My gitlab is self-hosted should I add Custom OAuth or use the built-in one?) I used built-in and provided my self-hosted gitlab URL
2.  On gitlab I've provided the Callba

[2020-01-21 10:14] chatnl commented on #5020
YES! Please please if you could get this to work like that you will be my hero! If possible I would love two see two options:

1. (most important): being able to disable the invisble mode in the admin settings. This would end the lurking of users that never take part in a discussion but want to know everything that people are talking about. For a public chatbox this is a real problem.

2. If possi

[2020-01-21 10:16] paulz1 commented on #3300
Are there something new on this issue by chance?

[2020-01-21 10:58] irfanjunaid commented on #16290
+1 I am seeing the same here as well. Logs are flooding... Occasionally seeing SMTP timeouts.

[code]

**My Setup**

[code]

[2020-01-21 11:02] ashwaniYDV opened #16301 "[Bug] Active link not highlighted in admin sidebar"
### Description:
Just like chat tabs, active tabs of admin sidebar should also be highlighted.

### Steps to reproduce:

1. Go to administration
2. Click different sidebar tabs

### Expected behavior:
Active tab should be highlighted since there are loads of tabs in sidebar

### Actual behavior:
No tab is highlighted

[2020-01-21 11:06] horstepipe commented on #11213
+1 for this.
If you have a channel which only contains guides / tutorials, those "message was pinned" messages are quite annoying. They can't be deleted by an admin, either.

[2020-01-21 13:32] tassoevan commented on #10955
I'm not sure about why a setting is needed... Do you mind explain it?

[2020-01-21 13:37] ashwaniYDV commented on #10955
Engelgabriel suggested this in fliptrail's PR. This is because maybe all users won't like this functionally.
If you don't want the settings I can do it without settings.

[2020-01-21 13:41] #16058 closed

[2020-01-21 13:55] ritwizsinha commented on #16199
@sampaiodiego please review

[2020-01-21 16:21] ashwaniYDV commented on #7734
I would love to work upon this.

[2020-01-21 16:22] vipulsaraf commented on #16280
,Can i work on this issue as it is not assigned to anybody and i am interested to solve  this issue.

[2020-01-21 16:27] ashwaniYDV commented on #16280
@vipulsaraf I have already made the Pull Request :)

[2020-01-21 16:29] vipulsaraf commented on #16280
Okkk okkk

On Tue, Jan 21, 2020, 9:58 PM Ashwani Yadav <notifications@github.com>
wrote:

[2020-01-21 16:29] IHaveNoIdeaWhatIAmDoingHere opened #16302 "No links visible in Browser and RC-Windows-App, fine in Notifications and Mobile-Apps"
### Description:

When a Message containing a Link is send, the user receives the apropriate notification.
The link and the whole text is visible in the notification, but not in the chat window itself.

### Steps to reproduce:

Send link in Message.

### Expected behavior:

Message is visible

### Actual behavior:

Every message containing a Link becomes invisible in Desktop app or Browser, but no

[2020-01-21 16:42] ashwaniYDV opened #16303 "[BUG] Remove hardcoded texts"
### Description:
Remove some hardcoded texts.

### Steps to produce:
I noticed it in app/message-attachments/client/messageAttachment.html

### Expected behavior:
It should not be hardcoded.

### Actual behavior:
They are hardcoded.

[2020-01-21 18:03] apaarfus commented on #16295
As far as I know, we're not seeing that in our deployment; however, I did notice the official/stable android client isn't pushing notifications.

### Server Setup Information
* Version of RC Server: 2.4.2
* OS: CentOS 7
* Deployment Method: Manual Install
* Push Settings: Default, using RC Gateway
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* NodeJS Version: v8.11.4
* MongoDB V

[2020-01-21 18:29] #15911 closed

[2020-01-21 19:20] Gummikavalier commented on #16285
I'm not very familiar with Debian, but I'd assume that MongoDB 3.2 and onwards would be set up to use wiredTiger engine on it by default, as is mentioned here in official Mongo docs:
https://docs.mongodb.com/manual/core/storage-engines/

MongoDB docs have also instructions how to change engine to wiredTiger here:
https://docs.mongodb.com/manual/tutorial/change-standalone-wiredtiger/

Regarding Roc

[2020-01-21 21:43] najtin commented on #9205
have the same issue as GeorgeGedox, this was definitly possible last year, cant do it now

[2020-01-21 21:47] GeorgeGedox commented on #9205
The solution I've found that worked was to manually go into the database -> rooms and toggle the flag of `default` from `false` to `true` for all channels that I wanted to become default for users, it worked but it does not add existing users to those channels which is a bit of a problem if you already have a few dozen people but want to do a bit of cleaning and restructuring.

This is mostly an U

[2020-01-21 21:53] najtin commented on #6777
this is back

![Unbenannt](https://user-images.githubusercontent.com/42641080/72846437-de494880-3ca0-11ea-9f7e-eecd20883002.png)

[2020-01-21 22:12] najtin commented on #9205
see also this https://github.com/RocketChat/Rocket.Chat/issues/6777

[2020-01-21 22:14] GeorgeGedox commented on #6777
This issue is still present. There is no button to make a room default in the current version, why is this closed?

[2020-01-21 22:15] najtin commented on #6777
this was fixed and then the bug appeared again
last year it definitly worked fine

[2020-01-21 23:31] najtin commented on #6777
i think its somewhere in https://github.com/RocketChat/Rocket.Chat/commit/c2ed1e325af38f6d4b2eb6a8452fafa29d8f71db but couldnt find iot so far

[2020-01-22 03:02] BI3QXJ opened #16306 "how should I config for two lan"
I set up a server with rocketchat running with docker. The server is behind a router with two lan connected. If rc use addr within LAN_1 in GENERAL -- Site URL, only LAN_1 users can upload attachments, upload by users in LAN_2 will stuck in 0%.
how should I config the URL or reverse proxy to make both two lan worked. thx!

[2020-01-22 03:51] TheZLabs commented on #16248
Having the same issue here. This is the only thing I seemingly cannot get to work with RocketChat. I am using the Greenlight front end for BBB if it matters. BBB works fine on its own as does RocketChat.

Error Log:

I20200122-03:08:30.215(0) Exception while invoking method 'bbbJoin' { Error: failed [404] <Map><timestamp>1579662510114</timestamp><status>404</status><error>Not Found</error><message

[2020-01-22 12:18] zdumitru commented on #16029
Related to #16083

[2020-01-22 12:58] rnqlover commented on #4554
any issues?

[2020-01-22 13:05] Shaverdoff commented on #4554
Issues?;) you mean progress?

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84 | Skype/email: gerasim@altarix.ru
Lenina av.25, Samara, Russia, 443068

[2020-01-22 13:07] rnqlover commented on #4554
Yep =) Blocked LDAP users still can auth in rocket chat

[2020-01-22 13:20] ashwaniYDV commented on #10955
We need it for developers who want to use developer tools of browsers.

[2020-01-22 14:01] krecik82 commented on #16287
Hi.
We do have the same error, but on 2.4.0 version and when trying to add new poll. On client there is feedback: "An error occured when trying to send the gif " and in logs:

I20200122-14:43:18.881(1) server.js:204 System ➔ error Error sending message:
Error: You are not authorized to change message properties
at validateUserIdentity (app/lib/server/functions/sendMessage.js:164:9)
at sendMessage

[2020-01-22 14:11] krecik82 commented on #16287
forgot to mention, that proposed parameter is disabled in our case. OS: Centos 7.7.

[2020-01-22 14:21] maciek134 commented on #2192
@fdellwing I'm pushing it today

[2020-01-22 14:30] fdellwing commented on #2192
That's correct, we looked at Slack and Teams. But we would like to further use RC, because we really like the `discussions`.

[2020-01-22 14:37] J0kerFace commented on #2192
HipChat have it too. But that's been discontinued.

[2020-01-22 16:20] compuguy commented on #2192
@maciek134 When you get a chance, can you please link to your pull request when you open it?

[2020-01-22 16:57] wreiske commented on #15720
This is still an issue.

![image](https://user-images.githubusercontent.com/6295044/72915459-526e0580-3d0e-11ea-81f9-42a7202a0462.png)

[2020-01-22 17:09] apaarfus commented on #16306
Please follow the post guidelines when reporting bugs/issues.

[2020-01-22 17:12] apaarfus commented on #16292
Probably related to #16295.

[2020-01-22 18:46] kapilchhipa4 opened #16308 "'meteor npm start' taking too much time"
meteor npm start taking too much time.
=> Started proxy.
=> Meteor 1.9 is available. Update this project with 'meteor update'.
Livechat: updating npm dependencies -- uglify-js...
=> Started MongoDB.
   Linking

it stuck at this stage

[2020-01-22 19:02] kapilchhipa4 commented on #16308
=> Started proxy.
=> Meteor 1.9 is available. Update this project with 'meteor update'.
Livechat: updating npm dependencies -- uglify-js...
=> Started MongoDB.
The system cannot find the path specified.   /
npm WARN deprecated wreck@5.6.1: This version has been deprecated in accordance with the hapi support policy (hapi.im/support). Please upgrade to the latest version to get the best features, bu

[2020-01-22 22:23] ashwaniYDV opened #16309 "[BUG] Unarchive Room modal has incorrect translate variable"
### Description:
Unarchive room modal gives "room archived" message on title and "room has been unarchived" on text.

### Steps to reproduce:

1. Go to any room in which you have admin access.
2. Click on edit room
3. Archive and then unarchive the room

### Expected behavior:
title="room unarchived"
text="room has been unarchived"

### Actual behavior:
![Screenshot from 2020-01-23 03-31-27](https

[2020-01-22 22:32] maciek134 commented on #2192
GitHub links PRs with issue mentions automatically ;p It's pretty much done, but user self-assignment is missing along with a few translations.

[2020-01-22 23:37] grzebo opened #16312 "[BUG] Declining to send a message as an attachment destroys its content"
### Description:
When a typed message exceeds the length limit, it cannot be sent to a channel. In that case the user sees a pop-up window with a message: "Message too long. Send it as an attachment instead?" When the user accepts - everything works fine. But when user declines (i.e. to shorten the message manually, so it fits within the limit), the entire typed up message disappears and is irretr

[2020-01-23 00:17] ttosbt commented on #16116
Sooo, what was the mistake on your end?  We'd like to know.  :^)

[2020-01-23 07:57] ankar84 commented on #15471
**Version 2.4.2** still has that bug in place.
Please fix it.

[2020-01-23 11:08] ankar84 opened #16314 "[BUG] Users can't change Unread Tray Icon Alert setting"
### Description:
#UI #bug
Users can't change Unread Tray Icon Alert setting

### Steps to reproduce:

1. Go to My Account Preferences
2. Change **Unread Tray Icon Alert** setting

### Expected behavior:

*Unread Tray Icon Alert** setting is changed by User

### Actual behavior:
![unread](https://user-images.githubusercontent.com/4023037/72979328-24112880-3de9-11ea-9f2d-7a134c9b8579.gif)
### Server

[2020-01-23 12:21] GoetheG commented on #7007
Having version 2.4.0. I have the same issue here.

[2020-01-23 12:25] GoetheG commented on #16153
I had a similar issue bus it was closed. I think your issue and mine should be merged:
https://github.com/RocketChat/Rocket.Chat/issues/14829

[2020-01-23 15:50] sysfu commented on #10680
I'm onboarding 1500+ people to a new server and the flaws mentioned above are really making it a hassle for the admins and confusing for end users.

Also, on Apple smartphones with smaller screens, the end user is often confused about how to navigate down to the 'reason' box (you have to use the down arrow) so I would like to be able to turn this box off as well.

Mobile users also get confused be

[2020-01-23 16:02] ritwizsinha commented on #16298
The same can be done for the pinned messages

[2020-01-23 17:12] kenmarsh8 commented on #15471
As a temporary workaround, hit the Escape key instead of using the menu. But, still very annoying.

[2020-01-23 17:35] volodymyroliinyk commented on #16292
I want migrate installed RC (with configured database) from docker to this server without docker.
Is it possible?
Can I install concrete RC  version and replace empty database with my configured?
How I can do it ?

I think that push notifications not working because it is Docker, and I tried fixed that ,but without good result.

[2020-01-23 17:47] ugintl opened #16316 "How to enable whiteboard etherpad functionality"
I want to enable multi-users whiteboard functionality. How can I enable it?

[2020-01-23 18:15] fabioperrella opened #16317 "Frequently Used reactions are lost when closing Firefox"
### Description:

In the previous versions, the "Frequently Used" reactions used to be saved for a long period, but in the last versions, it started to clean when closing Firefox.

### Steps to reproduce:

1. Add a reaction

![image](https://user-images.githubusercontent.com/302303/73010618-7bb39200-3df1-11ea-9c26-19b28edbf998.png)

2. Close Firefox (all tabs)

3. Open Firefox and log into Rocketc

[2020-01-23 18:28] apaarfus commented on #16292
I don't see a huge red-flag as to why that wouldn't be doable, AFAIK the database contains all of your server's settings, chat logs, etc (by default).  I would making sure the following are configured the same on your Docker instance as on your non-docker instance--though, I'm not a developer of the project, nor do I have Docker to-hand for testing:

* If you're using a non-GridFS storage type for

[2020-01-23 18:31] pmnhaes commented on #16317
Same thing with me. I use it on chrome (Version 79.0), but it started about a month ago, so maybe in another version.

[2020-01-23 18:35] rafaelbpcrespo commented on #16317
It used to works fine for me, but lately it started to happen too.

I'm using on Chrome (Version 79.0.3945.79).

[2020-01-23 18:38] gabrielmsf commented on #16317
Same for me, I'm using the desktop application on Ubuntu

[2020-01-23 19:34] ashwaniYDV commented on #16146
I would like to work upon it

[2020-01-23 19:56] GoaGit commented on #16179
I need to work with the server locally. I deployed via docker-compose and it works.

[2020-01-23 21:16] ishriom53tyagi commented on #16314
I am working on this issue

[2020-01-23 23:07] ashwaniYDV commented on #15765
I would like to work upon it

[2020-01-24 04:15] vipulsaraf commented on #16278
Can I work on this issue, As it is not assigned to anybody .

[2020-01-24 07:41] valsharess commented on #15471
I hate to be a nagging nancy but I've deployed several rocketchat instances, standalone and docker and the common problem they have is acknowledging messages as read. Can the logic that was added in 82ae5034 be reverted(or reworked again)? This used to be rock solid and now I have users constantly breathing down my neck.

[2020-01-24 08:50] lisa761 opened #16320 "Deleting messages that have replies continues to show replies button"
### Description:
When a message that has replies is deleted, the message is lost but the number of replies continues to be visible. However clicking on this button, the thread channel reproduces no replies. The thread is lost.

### Steps to reproduce:
1. Write a message, and reply to the said message (even a single reply will do).
2. Now delete the message you just replied to.
3. Click on the butt

[2020-01-24 09:05] triivii commented on #13351
I have exactly the same issue. Setting reverse proxy does not help. Can someone share a detailed workaround?

[2020-01-24 11:03] ritwizsinha opened #16321 "Prune message saying files deleted, messages deleted even when singular message or file in prune"
![out](https://user-images.githubusercontent.com/43509699/73064449-3bbede80-3ec7-11ea-831d-c1989f7c6f73.gif)

[2020-01-24 11:08] vipulsaraf commented on #14146
I am working on this issue...

[2020-01-24 14:00] mhaluska commented on #16109
So, incoming webhook creating works, but...
- when webhook is created and entries filled, cannot be changed (user, alias, ...)
- if you leave webhook configuration, you'll loose script definition (not visible)

[2020-01-24 15:09] JohnLukeP commented on #11649
As of today, the issue has not been solved yet. Still present on our (manually installed) environment:

Rocket.Chat Version: 2.4.2
NodeJS Version: 8.17.0 - x64
MongoDB Version: 4.0.13
Platform: linux ubuntu 18.04.3 LTS
Process Port: 3000

Tested on rocketchat webapp and rocketchat desktop app version 2.17.2

[2020-01-24 17:36] inon-peled opened #16323 "Installation of Client 2.17.2 on Win10 Aborts"
### Description:

When running the setup wizard, either as administrator or not, installation aborts by itself and the wizard reads: "Installation Aborted. Setup was not completed successfully".

### Steps to reproduce:

Try to install on Win10.

### Expected behavior:
Installation should finish successfully.

### Actual behavior:

Screenshot:
https://pasteboard.co/IRtLRHW.png

### Client Setup In

[2020-01-24 20:54] davepac7 opened #16325 "Unable to create channel in Internet Explorer"
### Description:

In Rocket Chat 1.5.2 as well as in version 2.2.0 I am unable to create a channel in Internet Explorer 11. I _am_ able to create channels in all other browsers.

### Steps to reproduce:

1. Click Create New Channel
2. Enter a "Channel Name"
3. Enter and select at least one user in "Invite Users"
4. Click "Create"

### Expected behavior:

The channel is created.

### Actual behavio

[2020-01-25 00:15] tassoevan commented on #14146
@vipulsaraf Can you reproduce it in the latest version?

[2020-01-25 00:24] ashwaniYDV opened #16326 "[BUG] headerData is null when flexTabBar is rendered"
### Description:
Header Data is initially null till we click on any of the flexTabBar added butons. The headerData is set from the added buttons to the flexTabBar. But initially it is null. There should be a default headerData for flexTabBar.

### Steps to reproduce:

1. Go to admin secton
2. Click on rooms, users, custom sounds, custom emojis tabs etc. and click on a particular list item

### Exp

[2020-01-25 00:40] #16143 closed

[2020-01-25 02:12] vipulsaraf commented on #14146
Yes sure, I will come with a solution as soon as possible...

On Sat, Jan 25, 2020, 5:45 AM Tasso Evangelista <notifications@github.com>
wrote:

[2020-01-25 07:45] misli commented on #8978
And how can I "pre-register" the already known visitor?

[2020-01-25 14:16] ashwaniYDV commented on #13374
I am working on this

[2020-01-25 16:56] karimelghazouly opened #16329 "[Bug] Reset password does not have to meet the password policy requirments"
### Description:
If a server has password policy turned on, If you reset password it gets reset even if it does not meet the requirements

### Steps to reproduce:

1. Turn on password policy in your server
2. Forgot password for existing account
3. When you are asked for a new password type one that does not meet the requirements

### Expected behavior:
Error saying this does not meet the policy

[2020-01-25 18:45] sysfu commented on #5944
It's been a year and a half without any activity.

Can we get a progress update please?

[2020-01-25 20:28] compuguy commented on #2192
I didn't know that @maciek134. I understand that this is a WIP. It will be worth the wait though.

[2020-01-25 23:02] ishriom53tyagi commented on #16312
I am working on this issue

[2020-01-26 00:54] kromonos commented on #3582
It's done, when it's done.

[2020-01-26 09:03] frontvu commented on #16179
I'm facing this same issue. Nothing as worked so far.

[2020-01-26 17:09] markb-trustifi opened #16333 "Heroku build fails"
### Description:
Heroku build fails for both one-click and CLI

### Steps to reproduce:
As described in this link:
https://rocket.chat/docs/installation/paas-deployments/heroku/

1) clicked Deploy to Heroku
2) removed dependency to sandbox mLab and updated MONGODB_URI with ref to 3rd party mongodb server, added ROOT_URL, did manual deploy from CLI.
3) built release 2.4.2 with updated version of ch

[2020-01-27 02:10] ajkerzner commented on #16146
I created https://github.com/markedjs/marked/issues/1596 .

[2020-01-27 05:24] ankar84 commented on #3582
Answer is true, but the meaning in it is zero

[2020-01-27 07:11] thawn commented on #3582
@ankar84 since this feature appears to be important to you: this project is open source. You can start implementing it right away or hire someone to do it for you. Then submit a pull request to get your implementation into the mainline source.

[2020-01-27 07:13] CoMPaTech commented on #3582
@thawn

Just note that there was a PR but the author deleted his branch last week: https://github.com/RocketChat/Rocket.Chat/pull/14618

[2020-01-27 07:17] ankar84 commented on #3582
Yes, @CoMPaTech right. There **was** PR for that.

[2020-01-27 07:19] thawn commented on #3582
Apparently noone found the time to do a code review. That is indeed a pity. Although I don't quite understand why the author deleted his PR.

[2020-01-27 07:51] knarrff commented on #3582
I guess also the author of a PR might get tired of waiting for something else to happen to a PR than adapting milestones from time to time. After all, it is the PR author that has to keep the PR in-line with upstream during all that time. Once the PR isn't important enough to the author anymore, and it is apparently not important to the dev-team as well, the author might as well abandon it and not

[2020-01-27 08:04] ojsoft opened #16334 "Avatars are not browser cache save"
### Description:

We set fresh Avatars during login by REST Api and this new Avatar is set correctly, but is not usually not visible to the logged in user, due to fact, that the old image is served from browser cache, because the url doesn't change. This is confusing for users that have deleted their old avatar and do not want to see that one again of course.

### Expected behavior:

If a new avat

[2020-01-27 08:27] ojsoft opened #16335 "Feature: Generell ignore"
We want to use Rocket Chat as our community chat system and of course we want to transfer community settings (Like Avatars, profile information a.s.o.) to the rocket chat.

We already have several ways in our community to interact with other users and we do have an existing ignore and users are used to the fact, that someone that is ignored can not see personal information nor contact the other us

[2020-01-27 10:50] ojsoft opened #16336 "Feature: Remove custom role by REST Api"
The REST API

addUserToRole

needs the complementary

removeUserFromRole

Please consider adding "removeUserFromRole" to the API.

[2020-01-27 10:53] phatair opened #16337 "Leaving discussions not possible"
Hello,

we are using rocket chat 2.4.2 on ubuntu snap.

We have configured our system to create private groups on AD Groups. That is working fine and the users dont have the permission to leave private groups.

The problem is, that the users are not allowed to leave discussions, too.
It would be great if there is a permission to allow leaving discussions but dont allow leaving private groups.

I d

[2020-01-27 11:37] ggazzo commented on #16287
I'm quite sure your problem is because we changed how the alias usage works, now only `bot` role can set the alias...