[2017-03-29 10:12] Fscape opened #6523 "No Desktop Notifications for Highlight Words in Channels"
Is it possible for Highlight words to trigger desktop notifications?

Use case:
Multiple teams share a common channel.
One of those teams wants to be notified when someone types the word "maintenance", so the team members have "maintenance" in their accounts' Highlight words.
(The rest of this channel's posts aren't urgent for this team, so can be read at their leisure.)
When someone types "mainte

[2017-03-29 10:48] reetp commented on #5422
Nope - this is still there in 0.54.2 but I can't reopen the bug.

![demo](https://cloud.githubusercontent.com/assets/3800384/24451195/0aaf280c-147e-11e7-934d-864d755e3258.png)

[2017-03-29 12:10] windsource commented on #4155
I have the same issue.

[2017-03-29 12:20] k0nsl opened #6524 "Rocket.Chat on Alpine?"
I'd like to inquire about people who run Rocket.Chat on Alpine Linux via Docker. I have just given it a spin and my attempts have been futile so far.

The Rocket.Chat container is just restarting itself endlessly. I am using the default `docker-compose.yml` file referred to in the documentation.

# Relevant information:
[code]
[code]
[code]
[code]

This is the reference `docker-compose.yml` I've b

[2017-03-29 12:30] localguru commented on #6062
Can't reproduce that with 0.52.0

[2017-03-29 13:19] #6521 closed

[2017-03-29 13:26] MartinSchoeler commented on #6517
@Nemra1 have you already did a `meteor npm install` on the rocket chat directory?

[2017-03-29 13:40] tpayen commented on #6178
Same here, version 0.54.1
This seems to come from the embedded css in div#inline-image that doesn't escape the image name in url
`background-image: url('https://localhost/file-upload/Krk4gmSGemgXPbH8h/b'lablabla.png');` NOK
`background-image: url('https://localhost/file-upload/Krk4gmSGemgXPbH8h/b\'lablabla.png');` OK

[2017-03-29 13:52] shaileshpatel91 opened #6525 "Unable to deploy rocketchat with some changes on ubuntu vm by docker"
on run of docker-compose up command I am getting following error:

rocketchat_1          | /app/bundle/programs/server/boot.js:348
rocketchat_1          | }).run();
rocketchat_1          |    ^
rocketchat_1          |
rocketchat_1          | Error: The babel-runtime npm package could not be found in your node_modules
rocketchat_1          | directory. Please run the following command to install it

[2017-03-29 14:05] jimscarver commented on #6003
I missed the update from @faburem and have not tried again yet. His success is encouraging for self hosted sandstorm via sandcats. Its not clear it can work hosted on sandstorm.io. Its not a priority for me right now but will try again when I have time....

[2017-03-29 14:09] hubertkahr commented on #6518
Sorry, I am new on RocketChat. How do I get into the Webinterface without the ability to log in?

[2017-03-29 14:10] GraemeCrawford commented on #3875
Any update on this at all?

[2017-03-29 14:44] localguru commented on #6518
I'm not 100% sure, but I think you can't. Did you lose your password? You can enable the login form via mongodb and then create a new user and set role to admin. Check REST API. See #1502

[2017-03-29 14:59] graywolf336 commented on #3875
@GraemeCrawford Not currently, however we would love to have a pull request adding this feature. :+1:

[2017-03-29 15:39] localguru opened #6526 "OTR: raw/encrypted binary messages displayed after OTR session is finished"
Rocket.Chat Version: 0.52.0

I still see the raw/encrypted messages of some users after the OTR session is finished. A restart doesn't remove the messages.

![rc_otr_bug](https://cloud.githubusercontent.com/assets/8544984/24463149/4761a554-14a6-11e7-94dc-54d30deaa10a.jpg)

[2017-03-29 16:46] hubertkahr commented on #6518
Okay, will use MongoDB. I was just confused because you offered the webinterface-option as I am not able to login with disabled login-formular.

[2017-03-29 17:02] Julianoe opened #6527 "How to update my Rocket installed with Docker ?"
Hello friends !
I installed ROcket with the help of Docker as it is explained in the documentation.

I don't know how i should proceed to update to the last version available though. Can someone help me please ? :)

Rocket.Chat Version: 0.53
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.7.3

[2017-03-29 18:11] localguru commented on #6518
Sorry, for confusion. For mongodb:

use rocketchat
db.rocketchat_settings.find({"_id": "Accounts_ShowFormLogin"});
(this should show a value set to false)
db.rocketchat_settings.update({_id:'Accounts_ShowFormLogin'}, {$set: {'value' : true} });
quit

[2017-03-29 18:14] lucasvanhalst commented on #6527
Assuming you used docker-compose:
[code]

And that should be it

[2017-03-29 18:27] Julianoe commented on #6527
I'll try this.
Should i do a bakcup though ? If yes i'm not sure of what/how backup the important data of Rocket ... ?

[2017-03-29 18:29] christopherturner commented on #6483
I've tried this as well, though have been successful with accessing my initially-created Rocket.Chat admin account by using the Google OAuth login.  I did not setup the account using OAuth, but have confirmed that I am accessing the same account.  Also, the quantity of users did not change up first trying the OAuth authentication.

Is there any chance that it's some minor issue with the way email

[2017-03-29 19:08] #2087 closed

[2017-03-29 20:13] #862 closed

[2017-03-29 21:04] #4835 closed

[2017-03-29 21:18] #1034 closed

[2017-03-29 21:57] localguru commented on #6050
I can confirm that on RC 0.52.0. Reloading/refreshing the browser shows the channel content again.

[2017-03-29 22:00] localguru commented on #6006
Yes please :D #6406

[2017-03-29 22:45] localguru commented on #6130
Yes, please! Any way to delete a custom sound via mongodb?

[2017-03-30 00:01] designgurudotorg opened #6528 "Email not displayed when user registered with Oauth"
It doesn't look like users' email addresses are stored in RC when they register using an Oauth provider (tested this with twitter and linkedin) - so you can't send them system emails (incl notification emails)

Of course, if someone has registered with their email and then added an oauth provider that wouldn't be a problem but it doesn't look like RC checks whether the email used by the external O

[2017-03-30 00:15] designgurudotorg opened #6529 "Livechat Video starts for agent but not guest"
I've tested this on a few different browsers and mac machines - looks like its a bug.

Basically, when Livechat Video is enabled (Administration > Livechat) the video icon shows in the Livechat widget and a guest can click on it to commence a call, the agent is notified that they have started a video session but when the agent clicks to join they can't see the guest, only their own camera.

Also,

[2017-03-30 00:17] designgurudotorg opened #6530 "Default Timezone setting missing?"
I can't seem to find out where to set the default timezone?

Looks like our business hours are turning off livechat early, which I'm guessing is because the timezone is PST instead of EST - not sure where to change that...

q./

[2017-03-30 00:32] Julianoe commented on #4871
hey @Hostile i also run RC with Docker. Could you describe the basic set of things you did so the bot works ? It seems the Internal Bot works but i can't make work the bot set in my docker file

[2017-03-30 00:47] codyaray commented on #2292
Can confirm this is still an issue in 0.52.0.

[2017-03-30 02:09] molochmike commented on #6488
Hi Guys,

Any feedback to assist me on the matter above?   Thanks.

[2017-03-30 03:47] Julianoe commented on #6527
Answering my own comment for people who are looking for specific information and are not confortable with docker concepts (newbies like me).

### Updating to the latest Rocket.Chat version

Go where your docker-compose.yml is. For me it was :
`cd /var/www/rocket.chat`

Then execute the following
`docker-compose pull`
It will update the docker images you have to the latest or specified version in y

[2017-03-30 03:52] Julianoe commented on #6527
@sampaiodiego @MartinSchoeler I don't really now how these things work (new to open source project i have to admit) but i feel like these instructions (quite simple indeed) would have gained me a lot of time if they were mentioned somewhere?

Also i see that the TODO of the concerned documentation page specifies "section for updating and backing up".
Maybe it's a start ? I'm not qualified enough i

[2017-03-30 05:53] CONFORM-IT commented on #1459
Would also love to have this, in particular for Windows Phones.

[2017-03-30 06:06] rasos commented on #1459
A test version of the Qt App for Android is now available for download, however it connects only to our test server. We are working on some more UX improvements and plan to release a white labelled, generic version for Android, iOS and Windows Phone in 2Qu2017: https://www.osalliance.com/en/ucom-app

[2017-03-30 06:30] Nemra1 commented on #6530
samething her

[2017-03-30 06:33] Nemra1 commented on #6517
yup i have

[2017-03-30 07:26] redgang commented on #5650
i also hope to add upload to external ftp server or a file server.
Whether there is a related plan？

[2017-03-30 07:58] stbc commented on #3621
Would love to see that! 👍

[2017-03-30 08:35] frdmn commented on #5938
Just ran into the same problem. User married and got a new surname, after renaming in LDAP the error message above occured.

[2017-03-30 09:27] MaluNoPeleke commented on #3092
Can this be included in the next release, @engelgabriel ?

[2017-03-30 09:35] AlexTr commented on #4832
The issue still unresolved in v.0.54.2.

On client side there is post request to the root directory without subfolder:
[code]

In server log it fails with the following error:
[code]

[2017-03-30 09:52] k0nsl commented on #6527
@Julianoe: this is how I backup my instance.

[code]

I think that is likely what everybody else is doing as wel, or maybe they run it on a dedicated server which they've split up into virtual machines, and then backup the entire VM before they make a major change such as upgrading Rocket.Chat. But as for backing up MongoDB, then they probably do it the way I showed you.

[2017-03-30 11:09] Svenito commented on #4377
:+1: sorting by last activity helps work out who you were recently speaking to

[2017-03-30 11:12] AlexTr commented on #4832
One mode issue with Rocket.Chat installation in subfolder is that redirect URL from OAuth custom module isn't correct.
Instead of the following:
[code]
it generates this one:
[code]

[2017-03-30 11:16] k0nsl commented on #6524
Here is some verbose output which may be useful in debugging and/or solving the issue:

[code]

[2017-03-30 11:56] pierreozoux opened #6532 "/admin/users is not showing the full list of users"
Rocket.Chat Version: 0.52
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version:v4.7.3

From `/admin/info`
[code]

From `/admin/users`
[code]

And I think the issue is that I can't "load more" at the end.
It looks like there is something limiting the result to 40 users, but don't know where. When you just put "a" char in search, then it is fine again.

Let me know if I can help track dow

[2017-03-30 12:15] rafaelks commented on #6488
@molochmike I'll add some of the back-end guys to the thread. I believe this subject isn't related to mobile development. (cc @rodrigok, @sampaiodiego)

[2017-03-30 12:18] Gimond commented on #4377
+1
Basically, i need the listing that pops out when you click the search field to be set as the default one (via a user option, ideally)

[2017-03-30 12:26] sampaiodiego commented on #6488
@molochmike from what I understood, you want to write your own ios and android app that communicate with rocket.chat server, is it right? if so you don't need to configure anything.

unfortunately there is not a easy to accomplish it.. you can take a look on our [iOS](https://github.com/RocketChat/Rocket.Chat.iOS) and [Android](https://github.com/RocketChat/Rocket.Chat.Android] repos and start fro

[2017-03-30 12:30] szluohua opened #6533 "Create a new channel of type 'p' and convert it to type 'c'. After you add a password, other members of the search will display an error, can not join"
The latest version will also show an error
 ![error](https://cloud.githubusercontent.com/assets/18567056/24504121/8cc50460-1587-11e7-82a1-83b6988aa47e.png)

Rocket.Chat Version: 0.53
Node Version:4.7.3

[2017-03-30 12:37] szluohua opened #6534 "Why I upload more than 80MB or more files will show the browser crash, the system settings have been modified to more than 80MB"
Rocket.Chat Version: 0.53
Running Instances:
DB Replicaset OpLog:
Node Version:4.7.3

[2017-03-30 13:27] 12test12 opened #6535 "Deleting a user doesn't delete rocketchat_subscription's for DM's"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.8.1

I had the same problem like #1149.

I followed **kalebwalton** solution step to solve the problem.

But now I have an other problem.
Now it says "No user with username was found!" when trying to access the direct message.
![issue](https://cloud.githubusercontent.com/assets/23378492/24506198/fe03f904

[2017-03-30 13:45] designgurudotorg opened #6536 "Display multiple file formats as embedded media (ePub, ODF, PDF)"
It seems to me that there's massive interest in this functionality and implementation shouldn't be too difficult - basically, it would be great if any ODF, PDF or ePUB document is uploaded it automatically becomes viewable within the chat area using one of the following Open Source scripts:

https://github.com/futurepress/epub.js/
http://viewerjs.org/

I don't have great JS chops so I can't unfort

[2017-03-30 13:54] Dani-D opened #6537 "Rocket.Chat HTTPS with Apache2 Proxy doesn't work"
**[Newest Rocket.Chat-Version on Ubuntu 16.04 + Apache2]**

Hi,

Problem: Rocket.Chat Server runs perfectly over HTTP, but unfortunately I can't get it to work with HTTPS and Apache2 Reverse Proxy...

Apache-Config sub.domain.com (Rocket.Chat):

[code]

On top runs domain.com which also serves other content via https:

[code]

Caddy-Files looks like this:

[code]

Caddy-Status (Everytime I edit th

[2017-03-30 14:25] 12test12 opened #6538 "cannot change username"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.8.1

I have an bug the user cannot change the username. But i activated the option to change the username.
![issue1](https://cloud.githubusercontent.com/assets/23378492/24508954/594025ce-1565-11e7-8985-8a9c2cdcd0ad.png)
![issue3](https://cloud.githubusercontent.com/assets/23378492/24508973/5f2d96ce-1565-

[2017-03-30 14:49] bbrauns commented on #4155
duplicate of #5165 ? We absolutely need a fix for that bug

[2017-03-30 15:38] jemus42 commented on #6483
As I mentioned, I believe it's because of the non-matching e-mail addresses. I tried the same thing on the official demo chat and got the same result, so I assume I might just be an edge case of an otherwise functioning feature.

[2017-03-30 16:17] willihelm commented on #4210
I would also appreciate this feature. In my company we have cases where the name of a user changed by marriage but it is too much work to change the sAMAccountName. So they are displayed with their old names in rocket.

[2017-03-30 17:08] willihelm commented on #6206
In my company there are many users that share one email address. Please fix this.

[2017-03-30 17:47] subesokun commented on #4210
@willihelm you should repost your comment here https://github.com/RocketChat/Rocket.Chat/pull/3851

Closing this issue in favor of that PR.

[2017-03-30 17:47] #4210 closed

[2017-03-30 18:46] Valiantiam commented on #6013
+1

[2017-03-30 18:48] christopherturner commented on #2869
Are there still plans to integrate this into the UI?

[2017-03-30 18:49] sebastientaggart commented on #2869
+1

[2017-03-30 20:36] cryptikon commented on #3661
One of the few things discord still does better than Rocket.Chat. I would really appreciate this.

[2017-03-31 00:57] TheReal1604 commented on #6537
@Dani-D can you try this rewrite rules?

[code]

[2017-03-31 02:37] teamsoo commented on #5878
@cescgie You're saying that RocketChat password reset email module might not support sending email from Gmail? Because I can send test email from SMTP setting page.

[2017-03-31 02:55] leewillmore commented on #6395
If I embed RC in an iFrame and use SAML as the authentication method I guess I was expecting that if my parent app was logged in via SAML then I would not have to click a button as it should automatically realise that the user is Authenticated.

[2017-03-31 03:04] molochmike commented on #6488
@rafaelks Thanks for the kind assist to have some back-end guys to help out.

@sampaiodiego Hi, you get my point right.  I have an app on my own now running in production, inside the app there is this function chat but it is not real time.  It's written on php.  This app available on android and ios.  If there are user communicate using my app using the chat function, they do not have real-time an

[2017-03-31 04:05] geekgonecrazy commented on #5878
It appears this is just a matter of an email header missing. Do you have a valid from address set @cescgie?

[2017-03-31 04:42] teamsoo commented on #5878
@geekgonecrazy Hi, thanks for the reply. Can you also check my from address below.

![Image of SMTP setting](http://imgh.us/Screenshot_from_2017-03-31_11:40:13.png)

The test email works fine with the configuration but not the forget password email.

Thanks

[2017-03-31 04:53] geekgonecrazy commented on #5878
Does the verification email send?  When you sign up for a new account?  You'll have to have verify emails turned on I believe

[2017-03-31 05:23] teamsoo commented on #5878
@geekgonecrazy The Email Verification doesn't send to new user. Only welcome email with password was sent to user and the user can't login with the password (maybe it's because the Email Verification step doesn't work)

Please suggest.

[2017-03-31 05:31] geekgonecrazy commented on #5878
@RocketChat/core it appears that the emails that are sent via the accounts package are missing the from header we set.  Ideas?

[2017-03-31 06:27] willihelm commented on #324
I would also appreciate this feature. In my company we have cases where the name of a user changed by marriage but it is too much work to change the sAMAccountName. So they are displayed with their old names in rocket.

[2017-03-31 09:58] rndmh3ro opened #6545 "Migrating from LDAP to crowd -> user already exists"
I initially connected rocket.chat with LDAP and synced all users, this worked fine. Now I wanted to use Atlassian Crowd instead of LDAP. The connection to Crowd works fine, but when trying to login, the user cannot login and the following is logged:

[code]

Crowd itself gets its information from the same LDAP-server so I don't know why its trying to create a new user. Any hints?

Rocket.Chat Vers

[2017-03-31 10:07] pierreozoux commented on #5878
@teamsoo Can you try restarting your server after changing your emails details and try sending a forgot password email

[2017-03-31 10:26] Rohlik commented on #3812
You can - https://rocket.chat/docs/developer-guides/rest-api/groups/settopic
We can close this.

[2017-03-31 10:31] alexroosenstein opened #6546 "Connection loss causes client to malfunction"
Rocket.Chat Version: 0.53.0

I've noticed that the Rocket.Chat client (webbased and desktop clients on Windows and OSX) stop working properly when they lose their connection to the server.

This happened on 3 occasions: when a laptop was closed and went into sleep mode, when the nginx reverse proxy was restarted and when I disconnected my computer from the network (by disabling the network interfa

[2017-03-31 10:37] Dani-D commented on #6537
@TheReal1604 Thank you for your fast response. Unfortunately your solution doesn't fix the problem. I think it could also be a problem that if I call https://sub.domain.com that this redirects me to the same content as typing https://domain.com?

[2017-03-31 11:14] mhenninghaus77 opened #6547 "communication rocket chat to own jitsi"
If i use the Default Server within rocketchat everything is working fine.
but if i use my own hosted jitsi-server nothing happens within rocketchat, the only Thing is see is the Default page from jitsi where i can specify a room Name.
Direct accessing jitsi-meet through a browser works fine.

Rocket.Chat Version: 0.5.42
Running Instances: 1
DB Replicaset OpLog:
Node Version: nodejs v4.7.2

[2017-03-31 11:32] rockjins opened #6548 "When I create a channel and open private operation，then I close the channel's private operation，but another people can't join the channel！"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version:v4.7.3

1. create a new channel,and choose the privatte operation:

![image](https://cloud.githubusercontent.com/assets/17586155/24548291/075365e0-1647-11e7-928a-9af1bb0dac33.png)

2. close the private

![image](https://cloud.githubusercontent.com/assets/17586155/24548320/24397d70-1647-11e7-9f65-42834887327

[2017-03-31 11:41] a5his commented on #5358
@karlprieb

Maybe app should warn with a message asking to set another owner when a user(owner) clicks leave icon or want to leave room from any UI for the better experience.

Also, join icon shouldn't appear unless user/owner leaves a room.

![leave-room](https://cloud.githubusercontent.com/assets/330362/24548938/ce89b684-1636-11e7-80a7-2046f8d14da3.gif)

[2017-03-31 11:42] mhenninghaus77 commented on #6547
mmmh, i see
VM70:1 Uncaught SyntaxError: Unexpected token d in JSON at position 0
at JSON.parse ()
at https://srvl043.ac.aixigo.de/utils.js?v=1:48:32
at Array.forEach (native)
at getConfigParamsFromUrl (https://srvl043.XXXX/utils.js?v=1:46:21)
at Object.r.41../Util (https://srvl043.XXXXXX/libs/app.bundle.min.js?v=905:8:4032)
at s (https://srvl043.XXXX/libs/app.bundle.min.js?v=905:1:614)
at https:/

[2017-03-31 12:22] MartinSchoeler commented on #6548
Duplicate of #6533

[2017-03-31 12:22] #6548 closed

[2017-03-31 13:12] Archer4l commented on #6537
This is my apache2 config(with 4 instance) and with redirect from http to https
cat httpredirect.conf
[code]
cat rocket.example.com.conf
[code]

[2017-03-31 13:20] cescgie commented on #5878
@teamsoo actually i only set my smtp via docker-compose.yml.
Yes. I don't set my EMAIL FROM header because as far as i know there is no option to set your email form in rocket chat docker-compose.yml

[2017-03-31 13:21] Syirrus opened #6549 "Database Migration Problem on Heroku"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.7.3
Database Migration: 90

I was previously running version 0.53 and when to upgrade to the latest on Heroku 0.54.2.
I encontered an error in Heroku and decided to try to build the rocket.chat again. It succeed. However, when I went to start my dyno it kept crashing with the following error:

Updating

[2017-03-31 13:50] localguru opened #6550 "npm version confusion on ubuntu 16.04 LTS: version 2.15.9 and 3.5.2 are installed"
Hi,

I've installed npm on ubuntu 16.04 LTS via "apt install npm" [1].

npm -v shows version 2.15.9.

There seem to be two versions on the system, one in /usr/local/bin (= 2.15.9) and one in /usr/bin (= 3.5.2).

[code]
I've seen a lot of manuals, which say npm should be "3.5.2".

Which one will RC use then?

Ciao!

[1] https://rocket.chat/docs/installation/manual-installation/ubuntu/

[2017-03-31 15:33] pmjunior commented on #5797
Same issue in 0.53 with pt-br +1

[2017-03-31 16:13] Valiantiam commented on #5952
Did you find a way to manually resolve this? There are a lot of scripts we would like to use and customize using the internal hubot.

[2017-03-31 16:32] infinitnet commented on #5952
I didn't look into this further and kept using an external Hubot. Maybe @engelgabriel could provide the steps to manually resolve this - I'd be interested in this too. Also not sure why this got tagged as a support request when this issue actually means that the internal Hubot feature is broken. This should at least be considered a bug with low priority.

[2017-03-31 16:40] Valiantiam commented on #5952
I agree. It states we should be able to use any of the scripts located in that repo, yet only a few actually work.

[2017-03-31 17:33] teamsoo commented on #5878
@pierreozoux I have both docker and snap version of rocket chat installed on 2 different machines. I tried restarting both and the forgot password still doesn't work on both instances.

The following error message keeps showing
![Error](http://imgh.us/Screen_Shot_2560-04-01_at_12.28.20_AM.png)

Is it works on your system? Are you using Gmail?

[2017-03-31 18:48] mddvul22 opened #6552 "possible EventEmitter memory leak"
Rocket.Chat Version: 0.54.2
Running Instances: 2
DB Replicaset OpLog: Enabled
Node Version: v4.7.3

This morning, we started having intermittent issues with our various Rocket Chat clients losing their connection to our Rocket Chat server.  A restart of our mongo instances and our Rocket Chat services did not solve our problem.  During this time, the load on the server was very high and, according

[2017-03-31 19:05] IQ2022 commented on #6552
what issue are we on right now?  i am on 54.0 and notice slowness and sometimes i think chat is hanging or restarting.
some messages get sent late and i see them in error log..

[34mI20170331-15:18:43.394(0) Exception while invoking method 'sendMessage' WriteError({"code":11000,"index":0,"errmsg":"E11000 duplicate key error collection: rocketchat.rocketchat_message index: _id_ dup key: { : \"GTMm

[2017-03-31 21:02] Syirrus commented on #6452
I'm getting the following:

└── toastr@2.1.2
-----> Building Meteor app with ROOT_URL: https://<URL>.herokuapp.com
rocketchat:lib: updating npm dependencies -- bad-words, object-path,
node-dogstatsd, localforage, lokijs, bugsnag, prom-client...
rocketchat:2fa: updating npm dependencies -- speakeasy, yaqrcode...
rocketchat:file: updating npm dependencies -- mkdirp, gridfs-stream, gm...
rocketchat:a

[2017-03-31 23:59] flantascience opened #6555 "OpLog returns "disabled" - Compose tech support says it looks correct"
Rocket.Chat Version:  0.52
Running Instances:  1
DB Replicaset OpLog:  Disabled
Node Version: v4.7.3

This is what I'm using:

MONGODB_URI:   mongodb://DBOWNERUSER:PASSWORD1@candidate.53.mongolayer.com:10061,candidate.52.mongolayer.com:10482/PUNet?replicaSet=set-560ab4eb75eea0f4a00007e6

MONGODB_OPLOG_URI:  mongodb://READONLYOPLOGUSER:PASSWORD2@candidate.53.mongolayer.com:10061/local?authSource=pe

[2017-04-01 03:46] flantascience opened #6556 "Trying to LogOut using REST API, getting error "You must be logged in to do this.""
Rocket.Chat Version:   0.52.0
Running Instances:  1
DB Replicaset OpLog:   Disabled
Node Version:  v4.7.3

I'm trying to logout of Meteor through my WordPress site.  I am getting this error message: "You must be logged in to do this."

 believe this means I must be getting my x-auth-token and/or x-user-id from the wrong place.  I am pulling them from my Compose database in the Users collection for

[2017-04-01 06:55] juanrhino commented on #6140
+1 I'm getting the same error over and over

[2017-04-01 07:44] juanrhino opened #6557 "Huge increase in connections crashed the Mongo Server and blocked the system"
Rocket.Chat Version: 0.54.1
Running Instances: 1
Oplog: disabled
Node Version: 4.8.1

Yesterday we suffered a shutdown of our services. According to MongoDB logs in almost 30 seconds the number of connections raised to 620. The Server status reported:

`2017-03-31T01:23:52.314+0200 I COMMAND  [ftdc] serverStatus was very slow: { after basic: 250, after asserts: 470, after connections: 620, after e

[2017-04-01 12:31] iamstevetran opened #6558 "Incomming webhooks test failed due to invalid json error"
Rocket.Chat Version: 0.54.2
Running Instances: Docker

Reproduce steps:
- Navigate to https://rocketchat.instance/admin/integrations/incoming/
- Enter chanel name: #general
- Enable integration and save
- Copy and run generated test command

Actual result:
- Message returned: Bad request
- Docker logs:
[code]

[2017-04-01 17:10] Nemra1 opened #6559 "how to add User level Roletags in members list?"
i am work in Rocket Chat Developer Version as i know Rocket Chat Have role Tags For each user but its show only in user info page not in Members list
i need to add level Name for each users in Members list like

    admin
    (admin)
----------
    John Doe
    (User)
-----------
    john Smith
    (Moderator)

![2017-04-01_185839](https://cloud.githubusercontent.com/assets/22897987/24580790/e4169

[2017-04-01 17:17] Nemra1 opened #6560 "Exception in template helper: TypeError: Cannot read property 'get' of undefined"
i have along log errors in browser cosnole in last version 0.54.2
meteor.js?hash=27829e9…:930 Exception in template helper: TypeError: Cannot read property 'get' of undefined
    at Object.name (http://127.0.0.1:3000/packages/rocketchat_ui-sidenav.js?hash=191863a557c588bfcfdf362cc224ba7b0938efc9:1568:36)
    at Object.dict.(anonymous function) (http://127.0.0.1:3000/packages/rocketchat_logger.js?h

[2017-04-01 21:24] pierreozoux commented on #5878
@teamsoo actually, don't use this kind of `from`, it is not supported, just use the email.
Can you also check server errors?

Here we are again losing time debugging this because the `test email` and `the forgot password email` are 2 different functions:
https://github.com/RocketChat/Rocket.Chat/issues/6196

[2017-04-02 02:49] geekgonecrazy commented on #5878
Agreed if we get that merged and use the single method or all email sending I think the issue described here will go away

[2017-04-02 08:44] pierreozoux opened #6563 "Invalid code for public channel"
Rocket.Chat Version: 0.53
Running Instances: 2
DB Replicaset OpLog: disabled
Node Version: 4.8

You can try to reproduce here, try to join this public channel:
https://chat.zcashcommunity.com/channel/zcash-foundation

On the server and the client, I don't see relevant logs.

Thanks for your help.
(This might be related to https://github.com/RocketChat/Rocket.Chat/issues/6106 )

[2017-04-02 14:13] amenk commented on #4515
@shellster I also have the problem that I do not receive any pushes anymore, might be since a android update, not sure... Did you find out how to clean the device ID from the mongo db?

[2017-04-02 14:47] amenk commented on #4515
App tokens: `db.getCollection('_raix_push_app_tokens').find()`

[2017-04-02 14:57] amenk commented on #4515
Even after reinstalling the app and `db.getCollection('_raix_push_app_tokens').remove({userId: "XXXXXXXXXXXXX"});` i do not receive push messages

[2017-04-02 15:13] amenk commented on #4515
I was able to send a push via my local rocket.chat dev server, but not the live instance ...

	# meteor shell

	'https://gateway.rocket.chat'

	'gcm'

	{ from: 'x', text: 'y', title: 'z' }

	... 		data: {
	..... 			token: token,
	..... 			options: options
	..... 		}
	... 	};

-> that worked

[2017-04-02 15:15] shellster commented on #4515
@amenk I don't really know what solved my issue exactly.  I was speculating a bit, above.  Things I would recommend:

1) Uninstall the app on your phone, and make sure to delete any cache, then reinstall.

2) Check the debug logs on the server to see what it shows if you still aren't getting alerts.

3) Try creating a new account and logging in with this, and see if that account gets alerts (if it

[2017-04-02 15:27] amenk commented on #4515
1+2 I did, it says sending push notification, but it does not get trough... trying to login to meteor shell now on the server to check if it depends on the IP

[2017-04-02 15:37] shellster commented on #4515
After doing 1 and cleaning out your push notification in mongo, what happens if you log in through the web browser and try to do a test notification on the server?  Does it still show it sending an push to an token?  If so, that would let you know that the token's aren't being cleared out in mongo, so you missed something.

[2017-04-02 15:40] amenk commented on #4515
Nope, then it says "There are no tokens for this user"

[2017-04-02 15:56] amenk commented on #4515
I am doing some more debugging:

`curl -H "Content-Type: application/json" -X POST -d '{"token":"xxxxxxxxxxxxxx-xxxxxxxxxxxxxx-","options":{"from":"x","text":"y","title":"z"}}' https://gateway.rocket.chat/push/gcm/send`

is working from that server.

We can get the output from the gateway communication by setting the gateway to http://localhost:8888 and running `nc -tl 8888` in the shell and press

[2017-04-02 15:57] amenk commented on #4515
When I send the exact same output I logged via `nc` from the same maschine via CURL to gateway.rocket.chat it is working ... that is very strange...

[2017-04-02 15:59] amenk commented on #4515
Now after resetting the URL from back from http://localhost:8080 to https://gateway.rocket.chat it started to work - that is very strange. Maybe the gateway setting was not stored properly in the configuration?

[2017-04-02 16:24] timorbridge commented on #6444
Same issue to.

-----> Node.js app detected
-----> Listing HEROKU_ environment variables
HEROKU_APP_ID:
HEROKU_APP_NAME:
HEROKU_DYNO_ID:
HEROKU_RELEASE_VERSION:
HEROKU_SLUG_COMMIT:
HEROKU_SLUG_DESCRIPTION:
-----> Installing meteor
Downloading Meteor distribution
Meteor 1.4.3.2 has been installed in your home directory (~/.meteor).
Now you need to do one of the following:
  (1) Add "$HOME/.meteor"

[2017-04-03 01:39] patcon commented on #604
fwiw, if this is critical to anyone, riot chat allows world-readable channels already: https://chat.tomesh.net/#/directory

[2017-04-03 03:51] Prakharsvnit commented on #6550
It will be nicer to upgdate your npm version.
You can do this by  typing this command in your terminal `sudo npm install npm@latest -g`

[2017-04-03 04:30] cmachler commented on #1112
+1 on Flowdock type approach to replies. Keeps room clean of clutter to easily find different topics going on throughout the day.

[2017-04-03 07:13] Prakharsvnit commented on #6525
@shaileshpatel91 I followed the instructions given [here](https://s3.amazonaws.com/uploads.rocket.chat/demo.rocket.chat/SjiFBiRPauuYhn3YyjzH6fbF5wrgtRtA56/jzH6fbF5wrgtRtA56/YCMdyHf23Artdx5AD?AWSAccessKeyId=AKIAIAI4OLIX2DUKMZZA&Expires=1491203486&Signature=EGAN3AHY%2BYnLXSRfw14EAosJTs8%3D) to install rocket.chat on my Ubuntu 16.04 local machine and it worked fine.

[2017-04-03 07:51] localguru commented on #6550
@Prakharsvnit thank you. After the upgrade it's now Version: npm -v -> 4.4.4. Is 4.4.4 compatible with RC? node --version -> v4.5.0

Ciao
Marcus

[2017-04-03 08:37] lucasvanhalst commented on #6550
npm is just a package manager, its version doesn't really matter.

[2017-04-03 09:10] Syirrus opened #6566 "Cannot build latest Rocket.Chat"
Rocket.Chat Version: Last commit
Running Instances: 1
DB Replicaset OpLog: No
Node Version: 4.7.3

When I try to build rocket.chat meteor application I get the following error:

[code]

Does this SENDER_ID=value have to do with compiling the Cordova.Rocket.Chat app and not the server?  If not, Where do I add my GCM value?

Syirrus

[2017-04-03 10:14] Huljo commented on #5226
@graywolf336, there is the logs when i create a new channel :

[code]

[2017-04-03 10:39] Prakharsvnit commented on #6550
@localguru it must work now.so what issue are you facing?

[2017-04-03 11:41] tmtben commented on #658
Please @chellem , could you explain us?

[2017-04-03 13:42] willihelm commented on #4332
I´m waiting for this feature too. I first mapped the phonNumber to the email field but as the field is not unique in LDAP it does not work for us anymore.

[2017-04-03 13:53] localguru commented on #6550
@Prakharsvnit yes, it does work. I was just confused about the two different versions in /usr/bin (installed by debian package manager) and the on in /usr/local/bin.

[2017-04-03 13:56] amelieq-c opened #6568 "Bad refresh of DMs' view - Clicking in the date of a reply message"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

Tests realised with Rocket.chat Desktop application (version: 2.5.0) and browser client

In a channel with an other user (Direct Messages), reply to a message that you sent. Double-click in the hour of the reply message (it's a link, i.e. 10:50AM). There is a kind of refresh of the chat's view and

[2017-04-03 14:02] Prakharsvnit commented on #6550
@localguru you can close the issue then.

[2017-04-03 14:12] #6550 closed

[2017-04-03 14:29] engelgabriel opened #6569 "Review use of mizzao/meteor-timesync"
Check if we still need the package copied into our repo or can we use the latest from https://github.com/mizzao/meteor-timesync

[2017-04-03 14:37] engelgabriel opened #6570 "Review use of mizzao/meteor-autocomplete"
Check if we still need the package copied into our repo or can we use the latest from https://github.com/mizzao/meteor-autocomplete or should we just turn into our own?

[2017-04-03 16:30] MartinSchoeler commented on #6563
@pierreozoux did you add a code for a private channel and then made it public without removing the code?

[2017-04-03 17:15] pierreozoux commented on #6563
@MartinSchoeler maybe, but now, the thing is that I can't remove the password

If I put it private again, there is no password option...

[2017-04-03 17:16] pierreozoux commented on #6563
if you want you can login there, and I make you owner of the channel to try it yourself :)

And thanks a lot for your time!

Pierre

[2017-04-03 19:10] thijmenkrol commented on #6529
I've got the same problem. And if you invite from a agent to a guest, the guest will see a blank space.

<img width="329" alt="schermafbeelding 2017-04-03 om 21 09 31" src="https://cloud.githubusercontent.com/assets/11840975/24626561/fbd54df6-18b1-11e7-968e-c7021e2417ea.png">

[2017-04-03 22:30] localguru opened #6578 "Mailinglist instead of RC #support or github for user based discussion"
Hi,

I use RC since a month and posted some issues with close to no response in the #support channel nor on github. I know that one can't expect an answer to any question, but I think the response proportionately to the success of RC and to the user base (11.500 stars here on github) is quite low. To my mind the #support channel is too fleetingly, users come and go and a asynchronous communication

[2017-04-03 23:57] mixrat opened #6579 ".node_version.txt - ENOENT: no such file or directory"
The Linux 0.54.2 release found [here](https://rocket.chat/releases/0.54.2/download) is missing the .node_version.txt file. When I tried to run a new install I received this...

[code]
I copied the .node_version.txt file included in the 0.54.0 release to my 0.54.2 installation and it worked.
Just thought it might need to be fixed.

[2017-04-04 01:37] #1209 closed

[2017-04-04 01:37] #3453 closed

[2017-04-04 01:37] #3649 closed

[2017-04-04 01:39] #4277 closed

[2017-04-04 03:46] designgurudotorg commented on #4898
Where is the default time zone set?

[2017-04-04 04:23] teamsoo commented on #5878
@pierreozoux @geekgonecrazy  @cescgie

I changed From Email to just info@company.com and the reset password email works again. Thank you so much.

[2017-04-04 04:25] teamsoo commented on #5878
I was following this guide in https://rocket.chat/docs/administrator-guides/notifications/email

If those kind of from is not supported, maybe someone should update the document?

[2017-04-04 05:40] molochmike commented on #6488
Hi guys,

I'm closing this chapter since i do not get any response from rocket chat.  I have also removed away RC from my server.  Looking for some other alternatives to work on the IM.  Anyway thanks a lot for comments put in and really appreciate it.

[2017-04-04 05:40] #6488 closed

[2017-04-04 06:57] awishformore commented on #6258
If there's already a fix for the mobile app, shouldn't it be rather straight forward to port it for the desktop client?

[2017-04-04 06:57] awishformore commented on #1352
How hard is it to port the fix from the mobile app to the desktop client? I would imagine it would be rather simple?

[2017-04-04 07:56] Syirrus commented on #6549
UPDATE:
After the commits from last night (roughly 120 since yesterday morning), I was able to success build on Heroku. (d88a153)

[2017-04-04 08:15] salj76 opened #6581 "iFrame Login"
Rocket.Chat Version: 0.54
Running Instances: 1
DB Replicaset OpLog:
Node Version:

 Hi has anyone tried the first method of iframe login outlined here https://rocket.chat/docs/developer-guides/iframe-integration/authentication

i.e. To do that you should directly access the Rocket.Chat MongoDB database (using a MongoDB library or driver with the programming language that you have created your logi

[2017-04-04 08:30] nORKy54 opened #6582 "IOS application crash"
Rocket.Chat Version: 0.54.2
Node Version: 4.71

The rocketchat  (not rocketchat+) IOS application  crash when playing a mp3 file. I use an iPhone 6S, last public firmware

[2017-04-04 08:37] TheReal1604 commented on #6582
Could you please open an Issue on the iOS Repo?

https://github.com/rocketchat/rocket.chat.ios/issues

Thanks!

[2017-04-04 08:59] #6549 closed

[2017-04-04 09:12] nORKy54 commented on #6582
Done.

[2017-04-04 09:12] #6582 closed

[2017-04-04 09:54] jekuno commented on #6549
Did you try a fresh deployment to Heroku and even didn't get the error as described in https://github.com/RocketChat/meteor-buildpack-horse/issues/10?

[2017-04-04 10:10] JSzaszvari opened #6583 "Ability to add custom slash commands"
Rocket.Chat Version: 0.52
Running Instances: 6

Hello! :)

Apologies if I missed it, But I've searched around and cant find much.

Is there any way to add custom slash commands at the moment that doesn't involve making a package for the commands?

If not would we be able to investigate adding something similar to mattermost where you can add a slash command from the integrations setup?

Like this:

[2017-04-04 12:18] rafaelks commented on #6488
@molochmike Sorry to hear that! I've one suggestion for you: why don't you use all of our platform and create your own code that uses our APIs only, throught the socket connection? I think it'll be much easier and it will allow you to get all of our updates and fixes.

[2017-04-04 14:00] AlecTroemel commented on #4898
@designgurudotorg All times are translated to Coordinated Universal Time (UTC) when passed to the server side

[2017-04-04 14:46] khobbits opened #6586 "Markdown links are double escaping"
Rocket.Chat Version: 0.54.2
Running Instances: 2
DB Replicaset OpLog: Enabled
Docker Image

Creating a markdown style link:

`[A link](https://www.google.co.uk/search?q=broken&q=penguin&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi5rcjV_4rTAhXCPBoKHeuOBcoQ_AUIBigB&biw=1920&bih=1108)`

Creates an unusable link, as the link inserts `&amp;` rather than using & symbols.

[2017-04-04 14:48] djschilling commented on #5665
I am using Rocket.Chat Version 0.54.2 and i'm still getting this bug.

After upgrading from 0.53 to 0.54.2 and restarting Rocket.Chat the Error `Error: OpLog (ReplicaSet) should be enabled when running multiple instances` appears.
I have only one instance running.

[2017-04-04 15:42] IQ2022 opened #6587 "login to same instance with two users names?"
some how i have two general rooms, and i think this is because somehow i was logged via same instance with Twiter+gmail account  is this possible?

as i logged with gmail account twitter confirmation came and accepted it (associated with email)

![image](https://cloud.githubusercontent.com/assets/12454319/24665482/87da10f6-192b-11e7-9237-48dad2c8e8e9.png)

Rocket.Chat Version: 0.54.2
Running Insta

[2017-04-04 15:47] engelgabriel commented on #6267
Related to https://github.com/RocketChat/Rocket.Chat/issues/1848

[2017-04-04 15:50] oliver-bowman opened #6588 "Possible memory leak when clearing oembed cache"
Rocket.Chat Version: 0.53.0
Running Instances: 4
DB Replicaset OpLog: Yes 7 days
Node Version: v4.5.0

Over the course of a many months I have had several problems with RocketChat running out of ram and swap on several of my VM's each VM has 2.5gb of ram and 2GB of swap. This is a gradual increase in ram, but looking at its memory usage it keep rising till the point the server dies.

[2017-04-04 15:59] stephane- opened #6589 "After a user is removed from a room, redirect him to the home page"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

Hello,
When I kick an user from private channel, he receive all new messages. He can't write messages, but can read all messages.

Video : https://codazzi.fr/public/Videos/2017-04-04_18-53-36.mp4

[2017-04-04 17:39] IQ2022 commented on #6587
i know the issue, user 1 "alphatrader" used gmail to longin , user 2 "alphatrader" used twitter to login, each got different permission

[2017-04-04 18:42] doctorwho92 opened #6592 "Quote marks in Inline code are interpreted"
Rocket.Chat Version: 0.54.2
Running Instances: 2
DB Replicaset OpLog:
Node Version: v4.8.1

This inline code, encapsulated in three back ticks:
export HISTTIMEFORMAT="%F %T  "
export HISTFILESIZE=
export HISTSIZE=

turns into:
export HISTTIMEFORMAT=`&quot;`%F %T `&quot;`
export HISTFILESIZE=
export HISTSIZE=

i.e. the quote marks are converted into `&quot;`

[2017-04-04 18:50] vikaskedia opened #6595 "Make topic link auto-clickable"
the channel topic if it has a link should be clickable

![image](https://cloud.githubusercontent.com/assets/6703876/24673367/eb4deb7a-192c-11e7-9505-ba5d4c188f3c.png)

it would help me if I could click on the URL in the channel topic.

[2017-04-04 19:08] lunacite commented on #6143
We have the same problem and our server has 32gb

[2017-04-04 20:09] k0nsl commented on #6524
Well, upon further inspection I now realize that this must obviously be related to the grsecurity kernel. The virtual machine (KVM) which I am trying to get Rocket.Chat deployed on is running Alpine Linux with kernel `4.9.17.0-virtgrsec`.

At this moment I am not sure how to solve this short of re-installing Alpine with a vanilla kernel since there's really no simple way of switching between kerne

[2017-04-04 20:22] #6017 closed

[2017-04-04 20:24] #1848 closed

[2017-04-04 20:44] geekgonecrazy commented on #5789
https://github.com/RocketChat/Rocket.Chat/pull/6598 May close this.

[2017-04-04 20:50] geekgonecrazy commented on #6595
If you need it immediately clickable you can do `[url](url)` and it'll become clickable :)

[2017-04-04 20:53] geekgonecrazy commented on #6588
@oliver-bowman how quickly does this seem to happen?  And do you notice any pattern?  Like more users connected and it starts using more memory?  Any pattern you can identify would greatly help us track down this potential problem.

[2017-04-04 20:58] geekgonecrazy commented on #6579
@mixrat can you confirm this is still the case?  I just downloaded it and I can see the file is present.

![image](https://cloud.githubusercontent.com/assets/51996/24678275/7fb9c302-194f-11e7-8f04-cb5f04c8a9ea.png)

[2017-04-04 21:01] geekgonecrazy commented on #6557
@juanrhino I see you say oplog is disabled?  If you aren't using oplog Rocket.Chat has to open more queries to mongodb.  I would try using oplog.  You should notice a pretty large drop in number of connections.

[2017-04-04 21:05] geekgonecrazy commented on #6555
try also specifying the replicaSet that is specified in your MONGO_URL in your MONGO_OPLOG_URL

Something like:
MONGO_URL: mongodb://DBOWNERUSER:PASSWORD1@candidate.53.mongolayer.com:10061,candidate.52.mongolayer.com:10482/PUNet?replicaSet=set-560ab4eb75eea0f4a00007e6

MONGO_OPLOG_URL: mongodb://READONLYOPLOGUSER:PASSWORD2@candidate.53.mongolayer.com:10061/local?authSource=peerunschoolingprod&repl

[2017-04-04 21:06] mixrat commented on #6579
Hmmm. I do see it now. Maybe it didn't get copied to my system because it was a hidden file. Sorry.

[2017-04-04 21:08] geekgonecrazy commented on #6552
@IQ2022 these don't look to be related.  Hit me up on the community server :)

[2017-04-04 21:10] geekgonecrazy commented on #6552
@mddvul22 if you take a look at your mongo servers stats are you noticing high CPU / Memory around this time?  Or high latency between your rocket.chat server and your mongo server?

[2017-04-04 21:12] geekgonecrazy commented on #6510
Maybe try deleting your node_modules folder and doing: `meteor npm install` again and see what that does for you.

[2017-04-04 21:13] geekgonecrazy commented on #6547
if you open your browser dev console do you notice any errors?

[2017-04-04 21:14] geekgonecrazy commented on #6579
@mixrat all good! We might need to look at making it a none hidden file to avoid that.

I'll go ahead and close this since resolved.

[2017-04-04 21:14] #6579 closed

[2017-04-04 21:30] mddvul22 commented on #6552
Definitely high load.  We've only encountered this once.  mongo was using all of the processing power, if I recall correctly.  If it happens again, I'll be sure to get the details.

[2017-04-04 21:35] Dani-D opened #6599 "Dissable Force SSL without Web-Access"
Hi,

how can I disable the force SSL-Option without having web access?
Platform: Ubuntu
Installation-Method: Snap
Version: Latest

Greetings from Germany
DaniD

[2017-04-04 21:35] geekgonecrazy commented on #6552
@mddvul22 what version of mongo are you using?  It sounds like you may be using a later version with the wiredtiger storage engine enabled.  I've found it to be a bit aggressive on CPU and Memory.

[2017-04-04 21:40] k0nsl commented on #6524
This was related to grsecurity so what I did was simply this: I switched to a so-called vanilla kernel (specificially `4.9.20-r0`), rebooted and then issued `docker-compose up -d` and everything is now fine. What a relief for me since I just love Alpine Linux for a lot of reasons (but mainly due to no bloat.

This may come in handy to other people for future reference. 😃

[2017-04-04 21:40] k0nsl commented on #6524
This was related to grsecurity so what I did was simply this: I switched to a so-called vanilla kernel (specificially 4.9.20-r0), rebooted and then issued docker-compose up -d and everything is now fine. What a relief for me since I just love Alpine Linux for a lot of reasons but mainly due to no bloat.

This may come in handy to other people for future reference. 😃

[2017-04-04 21:40] #6524 closed

[2017-04-04 21:40] mddvul22 commented on #6552
3.0.14 on Centos 7.

[2017-04-04 22:03] geekgonecrazy commented on #6552
ok so you do have wiredtiger.  If this continues to be an issue for you I would suggest switching storage engines to mmapv1.

[2017-04-04 22:19] flayks commented on #5937
Any news on it?

[2017-04-04 22:37] mddvul22 commented on #6552
Thanks!  We will keep an  eye on this and look into mmapv1.

[2017-04-04 23:53] mixrat commented on #1824
We have multiple websites and need each window trigger to say something different depending on the website. There should also be a delay for the trigger. Currently, only one trigger can be configured for the pop-up chat, either a delay or a URL. Therefore it would be great to have the ability to have two conditions for the trigger like so...
![image](https://cloud.githubusercontent.com/assets/2023

[2017-04-05 00:23] vikaskedia commented on #6595
Tx :)

[2017-04-05 02:19] geekgonecrazy commented on #6552
mmapv1 used to be default.  Please let us know how you end up.  We're looking for as many observations as we can, to determine if this should be the recommended storage engines. Thanks!

[2017-04-05 02:39] teamsoo commented on #5789
@geekgonecrazy thanks.

[2017-04-05 02:39] #5789 closed

[2017-04-05 06:35] dimti commented on #2243
Problem still exists in browser
![b6e13a0c](https://cloud.githubusercontent.com/assets/582144/24692737/7e29e282-19eb-11e7-8e49-bb5a1e8e8029.png)

Version 0.36.0

[2017-04-05 06:39] willihelm commented on #4332
There is a bounty for this one on bountysource.

[2017-04-05 06:41] mhenninghaus77 commented on #6547
Hi, the Problem is solved, i tried a lot in the config files but i can´t realy say what caused the problem. i think i had a problem with prosody and it´s ssl-config

[2017-04-05 06:50] Nemra1 commented on #6510
im already fixe this issu by this way https://github.com/RocketChat/Rocket.Chat/issues/6517

[2017-04-05 08:31] oliver-bowman commented on #6588
This happens around once a month, every month. Users connected stays around the same + - a few users.   I will continue to find more information when I can.

[2017-04-05 09:24] juanrhino commented on #6557
But is weir, I've been checking MongoDB connections and so far the average is 5, so it is strange that only for a moment it had more than 600 connections. I understand the oplog theory, but in our case I don't know if it is an overkill, cause we only have 110 users, and maybe our maximum is going to be 300 once we deliver the product to the complete company. What can cause that increment in the co

[2017-04-05 10:33] punkr0ck opened #6601 "[Feature request] Mute users for X hours and auto-unmute"
When muting users as moderator or admin, it would be helpful, if you could optionally set the number hours the user will be muted. Users should get unmuted automatically after X hours when using this option.

[2017-04-05 10:39] nzhtrtlc opened #6602 "Iframe eventListeners doesn't work"
Rocket.Chat Version: 0.53.0
Running Instances: 1
Node Version: v6.9.5

I want to listen new-message event from rocketChat in iframe. (ref: [here](https://rocket.chat/docs/developer-guides/iframe-integration/events))
I wrote this code to the console while iframe is open and logged in.

    console.log(e.data.eventName); // event name
    console.log(e.data.data); // event data
});

I can not see th

[2017-04-05 10:43] a5his commented on #5358
@RocketChat/core

Do we really need client side method `leaveRoom` since there is no any validation against an owner and the total number of an owner? Server method `leaveRoom` already has these validations.

[2017-04-05 10:43] nzhtrtlc commented on #6581
You need to set rocketChat token to your localStorage then you can use it your iframe-integration auth login.

In your own auth system you need to save the user to your own database and rocket chat's database. So they can be synced.

[2017-04-05 10:51] willihelm opened #6603 "Overwiew or Search for users of Role"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3

I would like to have the ability to search by the **rolename** or just have an **overview** for the _normal_ user to see who is online of a specific role or belongs to that role.

For example I need to ask an admin something but I dont know who is in the role of admin or I need to know which of them

[2017-04-05 10:52] tarabanton opened #6604 "Code blocks formats and escapes special characters"
Rocket.Chat Version:  0.54.2
Running Instances: 3
DB Replicaset OpLog: Enabled
Node Version: 4.8.1

Code blocks formats and escapes cpecial characters etc.
Affected, at least, quotes, ampersands, double quotes.

For example:
[code]

is converted to

[code]

[2017-04-05 10:56] tarabanton commented on #6604
It seems, that this behavior is observed when code block start and\or end sequences` ``` code ``` ` are on the same line as code

[2017-04-05 13:02] himbeere commented on #6604
Have the same issue. Onliner like this: ``` awk '{print \$2}');

leeds to --> screenshot.
![bildschirmfoto 2017-04-05 um 15 02 06](https://cloud.githubusercontent.com/assets/631865/24706694/decc0514-1a10-11e7-9765-84156bc925b4.png)

[2017-04-05 13:09] arcanjoqt commented on #6323
@sacOO7 @ZhaoVitapublic could you try this one wss://demo.rocket.chat/websocket

[2017-04-05 13:13] sacOO7 commented on #6323
Thanks @arcanjoqt

[2017-04-05 13:13] #6323 closed

[2017-04-05 13:44] MartinSchoeler commented on #6589
@stephane- Yes the user keeps in a "Preview" mode of that room, instead the user should be redirected to the home page after a kick

[2017-04-05 14:07] MartinSchoeler commented on #5436
Just back to defaults, like the settings.

[2017-04-05 14:43] alexdorn87 commented on #1824
hi @mixrat

If you tell me more details, I can help you and make contribution.
Could you let me know your skype ID, please?

[2017-04-05 14:53] #6534 closed

[2017-04-05 15:08] geekgonecrazy commented on #2243
@dimti a lot has changed between 0.36.0 and our current release.  Can you let us know if you see it in the latest release?

[2017-04-05 15:10] geekgonecrazy commented on #6588
@oliver-bowman please do!  Anything that could help us reproduce or at least identify where the leak might be would be very useful.

[2017-04-05 15:22] geekgonecrazy commented on #6557
@juanrhino nothing seems wrong with your setup.  I would recommend oplog for a couple of reasons.  While growing lets say you decide you need another Rocket.Chat instance running to help share the load.  Or you want a more fault tolerant setup.  Oplog will be required for that.  Also, we've noticed performance gains by using it.

As to why the increase in connections.  I would assume the connectio

[2017-04-05 15:24] geekgonecrazy commented on #6510
@Nemra1 great!  I'll go ahead and close this issue then.

[2017-04-05 15:24] #6510 closed

[2017-04-05 15:24] geekgonecrazy commented on #6517
@Nemra1 great glad you got it.  Going to go ahead and close this

[2017-04-05 15:24] #6517 closed

[2017-04-05 15:26] geekgonecrazy commented on #6547
@mhenninghaus77 glad you got it figured out.  Yes SSL with video conferencing solutions like jitsi can be a little picky. :+1:

Going to go ahead and close this since it is resolved

[2017-04-05 15:26] #6547 closed

[2017-04-05 15:27] geekgonecrazy commented on #6519
@nzhtrtlc currently I don't believe this is possible via iframe.

[2017-04-05 15:30] geekgonecrazy commented on #6318
I apologize I didn't read the version number. Caddy is not in the 0.39.0 snap.  I think our raspberry pi snaps are a bit behind currently.  I'll take a look at this.

[2017-04-05 15:31] geekgonecrazy commented on #5994
Going to go ahead and close this, feel free to open it back if you still have the issue.

[2017-04-05 15:31] #5994 closed

[2017-04-05 15:32] geekgonecrazy commented on #6318
Going to close this please refer to: #5178 where we will track this

[2017-04-05 15:32] #6318 closed

[2017-04-05 15:33] geekgonecrazy commented on #5450
I haven't seen this issue pop up specifically.  So going to go ahead and close

[2017-04-05 15:33] #5450 closed

[2017-04-05 15:53] nishishailesh commented on #3027
But they could program the app to work the same as the browsers. If they don't fix the android app to work with self-signed certs, I will have no interest in RocketChat since the android app is all I need.

[2017-04-05 16:48] engelgabriel commented on #601
Take a look at:
- https://github.com/ssbc
- http://scuttlebot.io/

[2017-04-05 17:12] a5his opened #6607 "[BUG] Set Owner"
Rocket.Chat Version: 0.55.0-develop

I am using demo.rocket.chat.
The `SET AS OWNER` button is throwing an error though the user is made the room owner. The UI is also broken.

![set-owner](https://cloud.githubusercontent.com/assets/330362/24717676/0920f4e0-1a53-11e7-8471-b384927ec294.gif)

[2017-04-05 17:34] mitar commented on #601
Personally, I prefer orbit: https://github.com/orbitdb/orbit

It is build on top of IPFS, and this means that it is harder to attack the common transport layer, if it is used by many. See: http://mitar.tnode.com/post/146227562556/towards-layered-re-decentralized-web

But it is earlier in development than ssb.

[2017-04-05 18:27] nzhtrtlc commented on #6519
Thanks. I found a temporary solution.
I can trigger the camera button via this code
`document.querySelector('camera_selector').click();`

[2017-04-05 19:28] karlprieb commented on #5726
I removed all unnecessary "load more animations" to decrease CPU usage, but we need to analyze/profile the application to understand why our app increase CPU usage in some views.

After that we can create different issues to fix these problems.

[2017-04-05 19:49] gdelavald commented on #6604
This could be related to the implementation made to fix #6311 and changes made to the Regular Expression

[2017-04-05 21:29] gerbsen commented on #6441
hey @rodrigok, do you have any updates?

[2017-04-05 21:46] tamasgal commented on #6599
I ran into the same issue, same setup as DaniD posted (running on Debian Jessy)....

[2017-04-05 21:56] flantascience commented on #6555
Interesting.... I added that piece of code and now it thinks I've got 2 "instances" running.

**Error: RocketChat requires oplog tailing when running multiple instances.   Please make sure your MongoDB is on ReplicaSet mode and MONGO_OPLOG_URL environment variable is defined correctly on the application server.**

Should it matter if I use "URI" instead of "URL"?

MONGODB_URI:
mongodb://DBOWNERUSE

[2017-04-05 22:01] geekgonecrazy commented on #6555
@flantascience yes it definitely should be MONGO_URL and MONGO_OPLOG_URL

[2017-04-05 22:12] flantascience commented on #6555
@geekgonecrazy    Changing them to MONGO_URL and MONGO_OPLOG_URL crashes the app:

2017-04-05T22:07:05.394796+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/sockjs/info?cb=ewdab8bvo6" host=members.peerunschooling.net request_id=fc0faaeb-791e-45f4-af87-648bfa38b7cf fwd="73.193.155.27" dyno= connect= service= status=503 bytes= protocol=https
2017-04-05T22:07:05.613411+0

[2017-04-05 22:15] geekgonecrazy commented on #6555
try your initial OPLOG URL with the corrected environment variable name.  Also if you could get the actual rocket.chat logs if that doesn't work.  These are just the heroku router level logs.

[2017-04-05 22:34] flantascience commented on #6555
Still crashed with that.  And then I couldn't access the rocketchat logs because the server was down.  Can I access them outside of the Admin section of RocketChat?

I restored the site back.   This is what currently shows in my rocketchat logs:

[34mI20170405-22:29:38.461(0) Will load cache for users
[34mI20170405-22:29:38.601(0) 273 records load from users
[34mI20170405-22:29:38.605(0) Will l

[2017-04-05 22:47] bannostookaylo commented on #658
Why cant there just be a teams collection with a "company ID" and then a user belongs to that company and then they can only access things associated with said company ID... maybe I don't understand MongoDB that well but I'd love to include this with our software but we need to figure out how to implement such a feature. :)

[2017-04-05 23:14] Seferi commented on #6318
Thanks  mmate

[2017-04-05 23:18] wohali commented on #5521
Hi @graywolf336, would you consider reopening this as a feature request along the lines of "Support API login for OAuth users." Right now as @chrbo says if you only allow login via OAuth, the REST API is completely non-functional. I (and I presume others) can't allow local users to our instances by policy.

[2017-04-06 00:16] geekgonecrazy commented on #6555
Yes heroku should have a way to view your application logs.

For Rocket.Chat and compose this might be useful: https://www.compose.com/articles/connecting-to-the-oplog-on-the-new-mongodb/

[2017-04-06 01:46] geekgonecrazy opened #6609 "Ability to mute notifications for a time period"
We have plenty of issues open for changing the behavior of notifications in different ways including disabling of using `@all` `@here` etc.

It would be great to be able to mute notifications just for a time.  Like from Midnight to 6am or something.

This would also be nice to extend to channels / group level too.

[2017-04-06 03:32] xilu0 commented on #4296
OpenStack Swift meets open source spirit！

[2017-04-06 09:52] KSchreyer commented on #3413
Just updated to version 0.54.2. Behaviour is still as @flyfishy described it.

[2017-04-06 09:57] juanrhino commented on #6557
Thanks @geekgonecrazy I think we will discuss it here at the company. To answer your last question, that MongoDB on listens the Backend network, that means other external connections are not possible. Given into account the actual architecture, the 600 connections are really weird and I've been checking the complete week the connections numbers and it's always 5 (actually 6 with the monitor connec

[2017-04-06 10:21] KSchreyer commented on #3413
I think I've found the cause for the invisible WebRTC div container.

On a 1-on-1 WebRTC video call, the class **`animated-hidden`** is added to the DOM-Element `<div class="list-view animated">`. This must be also done for a private group WebRTC video call and the video-container gets visible.

So the CSS class must be added at some point where the private group WebRTC call gets invoked and later

[2017-04-06 11:20] kau210 opened #6610 "Users appear online when logged out or disconnected"
EDIT
The bug can be reproduced if rocketchat service is stopped server side.

--------------------------------------------------------------------------

Rocket.Chat Version: 0.54.2
Running Instances: 1
Node Version: 4.5
Server OS: Debian Jessie
Issue: User presence not updated
How to reproduce: Cannot

We have an installation of Rocket chat with ~30 users on a variety of devices and clients (mobi

[2017-04-06 11:53] danielo926 opened #6611 "Exception while invoking method 'mailMessages' TypeError: Cannot read property 'defineLocale' of undefined at eval (<anonymous>:37:20)"
Rocket.Chat Version:  0.54.2
Running Instances:   1
DB Replicaset OpLog: Disable
Node Version: 4.7.3

[34mI20170406-13:44:06.724(2) Sending messages to e-mails:  [ 'daniel.asdasdas@sadsad.pl' ]
[34mI20170406-13:44:06.738(2) Exception while invoking method 'mailMessages' TypeError: Cannot read property 'defineLocale' of undefined   at eval (<anonymous>:37:20)   at eval (<anonymous>:10:4)   at eva

[2017-04-06 12:00] dhpowrhost opened #6612 "[Feature Request] Posibility to hide email in LiveChat"
Rocket.Chat Version: 0.52.0

Often times you do not want customers to write directly to people, but rather to the support mail. Later versions of Rocket.Chat shows your email in LiveChat to Guests. We need an option to hide the email.

[2017-04-06 13:16] #6223 closed

[2017-04-06 13:43] michaelPf85 commented on #4397
It looks like it has been implemented since 335b08c already, we could close it.

[2017-04-06 14:11] megamaced opened #6613 "Cannot run meteor npm install --save in source dir"
Rocket.Chat Version: 0.54.x
Node Version: 4.7.1

In 0.53.0 and previous releases this process works. But in 0.54.x I cannot build Rocket.Chat source.

# meteor npm install --save

<details>
[code]
</details>

[2017-04-06 14:45] Nosferous commented on #6406
Searching by full name components (first, last or both) USED to work. And broke in version 0.51.0 I see this as an issue/bug and not a feature/improvement. Since version 0.51 you cannot search reliably by first name. You must search last name or username (for my environment linked to AD accounts).

Not sure if email searching worked before- so that aspect may be a feat request/improvement.

See th

[2017-04-06 15:10] navrocky commented on #4395
This plugin doesn't solve 2 main problems with snippets:

- there is a still present a message limit
- i cannot fold huge message by default, and cannot fold this at all

So, this plugin is completely useless at this state.

[2017-04-06 17:12] Rohlik commented on #6609
Slack have this feature as you can see below:
![mute](https://cloud.githubusercontent.com/assets/2051154/24766741/bac6048e-1afc-11e7-95cf-8641d6ef50ea.PNG)

[2017-04-06 17:14] Rohlik commented on #6588
@oliver-bowman  I think that 2GB  swap for 2,5GB RAM is too much. Best practises is use 50% of RAM for swap.

[2017-04-06 17:22] flantascience commented on #6555
Alright - I got the OpLog to show "Enabled" on my test server.  It is saying that it is running 2 instances, though.  So I'm not sure if that is an error.   And it still runs incredibly slow.  There is a long delay before it loads each time and before each channel opens.  I don't think this was the case in earlier versions of RocketChat, this seems to be new to the more recent ones.  I had been as

[2017-04-06 17:33] SthPhoenix commented on #5165
Got same problem here.

[2017-04-06 17:54] engelgabriel commented on #6613
You seem to be having a permission issue:

Error: EACCES: permission denied

[2017-04-06 18:01] megamaced commented on #6613
Yep, but i dont understand how. Every other npm package installs. It looks to be reading or writing to /tmp so no perms issue there. I had another person try on their computer and got the same problem

[2017-04-06 18:03] graywolf336 commented on #5521
@wohali Sure, although off the top of my head I'm not a 100% sure how this would be accomplished and I'll need to talk with someone who has more experience with the oAuth side of the project.

[2017-04-06 18:15] graywolf336 commented on #6556
After looking into this issue in more detail, I am a little confused as to what you're trying to do. The rest api's login/logout *only* apply to the rest api and not actually the internal loginTokens. For the rest api's logout to work, you must login with the rest api and the return token only is valid for the rest api calls.

What exactly are you trying to achieve?

[2017-04-06 18:15] #6556 closed

[2017-04-06 18:28] Gerporgl opened #6618 ""Connecting..." message appear every 10 seconds when using Caddy as a proxy"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: OpLog Disabled
Node Version: 4.7.3
Caddy Version: 0.9.5

When using the client interface (any of them: web, desktop, mobile) the "Connecting..." message bar at the top with show up briefly (flashes) at an intervals of about 10 seconds.
This only happen when Caddy is setup as the proxy.

I followed the Caddy instruction found in

[2017-04-06 18:35] #6412 closed

[2017-04-06 18:39] k0nsl opened #6619 "High-Availability using Docker for Rocket.Chat?"
Hello friends,

I wanted to experiment today with high-availability for my deployed Rocket.Chat. I went through the available documentation, but there exists no documentation for high-availability with Docker. Basically I want to accomplish what is written here:
https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-performance/

For this experiment I wanted to onl

[2017-04-06 18:54] geekgonecrazy commented on #6588
@Rohlik its not best practice, but in this case other then anytime swap is used causing the read / writes to be slower it shouldn't be effecting his issue.

I think I understood correctly that each of these rocket.chat instances is running on its own VM?

[2017-04-06 19:08] #6558 closed

[2017-04-06 19:09] geekgonecrazy commented on #6519
Awesome! Glad you found a solution that works for you

[2017-04-06 19:11] geekgonecrazy commented on #6555
@flantascience is your test server connected to the same database as your production server?  If so then its seeing both servers.  Those servers are also attempting to communicate with each other. Which they would not be able to.

[2017-04-06 20:27] lucasvanhalst commented on #4397
Only partly, the part about ignoring some URL's isn't in there. But that should've been a separate issue anyway so I'm closing it

[2017-04-06 20:27] #4397 closed

[2017-04-06 21:44] geekgonecrazy commented on #6557
@juanrhino one more thing that might contribute is if you have a lot of file uploads and are using GridFS as the file store. I believe it opens a new connection or two for file uploads.  As well as a connection when retrieving a file.

[2017-04-06 22:01] Majaspic opened #6622 "voice channels like discord"
would be an awesome feature :)

[2017-04-06 22:49] engelgabriel commented on #1163
Started at https://rocket.chat/docs/developer-guides/code-styleguide

@MartinSchoeler please add a NodeJS section.

[2017-04-06 23:02] engelgabriel commented on #324
closed by https://github.com/RocketChat/Rocket.Chat/pull/6597

[2017-04-06 23:02] #324 closed

[2017-04-06 23:15] dimti commented on #1728
Preview links with auth usefull use for trello links in chat

[2017-04-07 00:13] Valiantiam commented on #1728
I should note. I got this working with phpbb.

https://github.com/RocketChat/Rocket.Chat/issues/6421

See my notes here. This may help with other applications as well.

[2017-04-07 00:54] Kim-Goon commented on #3429
This problem solved that click the "REFRESH OAUTH SERVICES" button beside " ADD CUSTOM OAUTH" button. :-)

[2017-04-07 03:46] graywolf336 commented on #6618
Please see: https://github.com/mholt/caddy/issues/1562#issuecomment-291609361

[2017-04-07 03:46] #6618 closed

[2017-04-07 06:01] Gerporgl commented on #6618
I see, disabling Caddy's timeouts solved my issue.

I was suspecting something related to timeouts, I was just being dumb here since there was documentation that seemed to tell how to configure Caddy, so I just followed that without really thinking. Thanks a lot for your time.

[2017-04-07 06:46] killstyl opened #6623 "Wrong Keyboard Shortcuts impact local language usage."
Rocket.Chat Version: 0.54.2 and 0.53.0
Running Instances:  0.54.2 - 1 and 0.53.0 - 6
DB Replicaset OpLog: 0.54.2 - Disabled  0.54.2 - Enabled
Node Version:

Key combination "Right Alt+K" does the same as "Ctrl+K"
This impacts usage of local language (Latvian).  We use "Right Alt" to get specific letters like "ķ, š, ģ, ...."

[2017-04-07 08:11] oliver-bowman commented on #6588
This was not the original intention for resources, I had to increase them based on this particular issue. I needed to try to decrease down time. Yes each instance is on its own VM.

[2017-04-07 08:51] 12test12 opened #6624 "Private chatroom block bug"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.8.1

I found another bug. If you block yourself in a chatroom then unblock the other person then the room is blocked no one can write.
To solve this problem you have to block yourself and then unblock yourself.
Could you add that no one could block themselves.

![privateroombug](https://cloud.githubuserc

[2017-04-07 09:22] JohnDorianMD opened #6625 "Attachments in incoming WebHook are not displayed"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

Since early this year (maybe with the update 0.50.1), all of our incoming WebHook attachments are not displayed. Even if you create a new one, the example already shows an empty attachment. Anyone else having that kind of issue?

![rocket chat 2017-04-07 11-06-43](https://cloud.githubusercontent.co

[2017-04-07 09:30] 12test12 opened #6626 "Private chatroom quote bug"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.8.1

If you click on the quoted text twice then a new page open and the last chat history is not visible.
But if you re-login then the chat is back.

![privateroomquote](https://cloud.githubusercontent.com/assets/23378492/24793415/3d0dd6a8-1b82-11e7-95af-bde7c36eb334.gif)

[2017-04-07 11:05] agabi10 opened #6627 "Incorrect behavior minifying custom CSS"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.2

I added these lines to the custom CSS:

[code]

But if I refresh the tab and check the theme.css file I have this CSS code instead:

[code]
I don't think it's appropriate removing the ones with vendor prefixes, but at least it should keep the 100% - 160px because it's only the same as -60% if the h

[2017-04-07 11:52] dmeier86 opened #6628 "Periodic HIGH Load"
Rocket.Chat Version: latest 45

I've running RC on an C4.x4large AWS CentOS7-Instance ATM.
It has 16 Cores, so i have 16 SystemD Scripts and an Reverse-Proxy in Nginx.

Every hour all those Cores get to 100% and the chat (login, typing, chatteing) freezes.
So.. what is this?
In meantime everything seems to work...

[2017-04-07 12:50] litewhatever opened #6629 "Unable to upload gzip file with "Accepted Media Types" defined"
We have defined "Accepted Media Types" setting as `image/*,audio/*,application/*,video/*,text/*`

When tring to upload a .gz file (or tgz, tar.gz) the upload fails silently (no apparent error from application).

From browser console we can see:

[code]

It seems as there is some issue with mime-type `application/x-gzip`?

Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog:
Node V

[2017-04-07 13:18] dmeier86 opened #6630 "Can't see New Messages"
Rocket.Chat Version: 0.54.2
Running Instances: 16
DB Replicaset OpLog:
Node Version:

users get an mail-notification if there are still logged in.
they don't see the message - sometimes relogin helps.

is this a bug in my version or is it because we're running 16 rocketchat nodes in one mongoDB?

[2017-04-07 14:00] MartinSchoeler commented on #6623
@karlprieb maybe we can make the the shortcut customisable via user preferences, what do you think?

[2017-04-07 14:06] MartinSchoeler commented on #6626
Duplicate of #6050

[2017-04-07 14:06] #6626 closed

[2017-04-07 15:24] karlprieb commented on #6627
Hey @agabi10 it's not a problem. The field Custom CSS is a Less CSS field.

In Less `calc(100% - 160px)` will compile to `calc(-60%)`, to make what you want, you need to write this `calc(~"100% - 160px")`

[2017-04-07 16:08] agabi10 commented on #6627
Thanks @karlprieb, and what about adding the vendor prefixes? I tried with `.calc(height, ~'100% - 160px');` as I found searching through the code, but it only adds the normal one, without the prefixes.

[2017-04-07 16:12] graywolf336 commented on #6625
If you click on the arrow of the attachment, does it show the content?

[2017-04-07 16:13] Lawri-van-Buel commented on #1921
Workng on Drupal 7 oAuth Login integration. I got a workign proto just finsihing up on documentation
For Rocketchat I got a [PR:6632](https://github.com/RocketChat/Rocket.Chat/pull/6632) to enable a unified expierience and make the integration easy for everyone and especially new comers to oAuth login scheme'

[2017-04-07 16:13] graywolf336 commented on #6618
No problem, I experienced it as well so I know the feeling. :)

[2017-04-07 17:29] k0nsl opened #6633 "Restoring Rocket.Chat instance on new server"
Rocket.Chat Version: 0.54.2
Running Instances: 4
DB Replicaset OpLog: N/A
Node Version: N/A

I had some spare time over today and decided to try moving my production instance over to a new server which has better hardware and network -- on a wholly different data center.

So I backed up my data with this command:
[code]

Then I rsync'd the compressed backup file over to the new server and tried re

[2017-04-07 17:32] flantascience commented on #6555
So a day later and it is coming out as single instance AND it's moving fast.  Oddly... it seems to have done some kind of duplicating.  My database has twice as many users and there's lots of blank entries.   It's a test server, so that's not really a big issue.  I'm planning on setting up a new database anyways for the site which I don't see any reason that would be a problem.

I am going to mark

[2017-04-07 17:32] #6555 closed

[2017-04-07 17:38] flantascience commented on #6556
Here's what I'm going for....

I've got a WordPress site with RocketChat embedded with an iFrame.  My users login to WordPress and then they use the OAuth to login to RocketChat.  That is actually working successfully.

The problem is that when a user logs of out **WordPress**, it doesn't log them out of RocketChat.  So if they logout of WordPress, then login to WordPress as a different user, they

[2017-04-07 18:58] geekgonecrazy commented on #6555
@flantascience yeah sounds like something odd happened on the data end.  Let us know if you have any other questions.

[2017-04-07 19:14] mddvul22 commented on #6552
Hi geekgonecrazy, I got around today to checking our mongo/rocketchat install more closely.  While we are running 3.0.14, we are not using wiredtiger.  Connecting to our mongo instance shows:

rs0:PRIMARY> db.serverStatus().storageEngine
{ "name" : "mmapv1" }

It appears from the mongo documentation that mmapv1 is the default in 3.0, wiredtiger became the default in 3.2.

[2017-04-07 19:43] geekgonecrazy commented on #6552
@mddvul22 perfect.

Just noticed when looking over the logs you have:

This isn't public exposed any is it?  It saying:

makes it seem as if there are a lot of connections to the server.

Something is definitely causing mongo to get hammered.  On average you shouldn't be having very many connections to mongo.  A lot of data is actually cached in memory to avoid having to connect to mongo as much.

[2017-04-07 19:54] FelipeFMMobile commented on #6444
npm ERR! Linux 3.13.0-112-generic
npm ERR! argv
"/app/tmp/cache/meteor/.meteor/packages/meteor-tool/.1.4.3_1.1ca732t++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/bin/node"
"/app/tmp/cache/meteor/.meteor/packages/meteor-tool/.1.4.3_1.1ca732t++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/bin/npm"
"rebuild" "--update-binary"
npm ERR! node v4.7.3
npm

[2017-04-07 19:55] mddvul22 commented on #6552
No, is is firewalled off, and I've just double checked that to make sure.  I've replaced the hostname in the bug report just to keep it hidden in the bug report.  The reverse proxy is publicly available, but the the mongo instance is only accessible from localhost (for the nginx proxy), the secondary mongo instance, and the arbiter.  Currently, the connections look good.  But of course, we aren't

[2017-04-07 20:34] localguru commented on #6628
Sounds to me like some cron job? What's top saying? Did you check processes at that time?

[2017-04-07 21:49] geekgonecrazy commented on #6552
Please let us know if you discover anything!

[2017-04-08 00:01] flantascience commented on #795
I'd be interested in having an expiration date on file uploads as well.   Maybe messages too... but definitely file uploads.  Is anything brewing with this possibility?

[2017-04-08 04:22] gdelavald opened #6636 "Error when filtering emoji picker list"
Rocket.Chat Version: 0.55.0-develop
Running Instances: 1
Node Version: v4.7.3

I ran into this issue when filtering the emoji picker list, this is reproducible in demo.rocket.chat as well.
Steps to reproduce:
[code]
<img width="1390" alt="emoji picker filter causing error" src="https://cloud.githubusercontent.com/assets/6303966/24825673/971fc6f2-1bf9-11e7-824f-5e12b79341e0.png">

[2017-04-08 05:03] gdelavald commented on #1680
To add some points in favor of React (and also Vue):
- React components makes the code more modular and reusable, which could work very well with RC packages approach;
- React adoption is very high and should continue like this in the foreseeable future (https://stackoverflow.com/insights/survey/2017#technology as most loved for ~66% and most wanted as ~18%) what can help having more contributions

[2017-04-08 05:04] gdelavald commented on #5726
Hey,
I've been looking into some cases where the load times and performance started to feel like a problem to the user.
I ran these analysis using a MacBook Pro with i5@2.7Ghz on OSx El Capitan with Chrome DevTools:

When trying to filter the emoji list I found some delays (also #6636):
<img width="1440" alt="timeline - filter emoji list" src="https://cloud.githubusercontent.com/assets/6303966/248

[2017-04-08 05:26] gdelavald commented on #6604
Same as #6592

[2017-04-08 05:35] gdelavald commented on #6592
Seems like the issue here is that the single line code block had a special treatment for strings that the multiline did not.

[code]

I think adding that to the `@handle_codeblocks` function should fix this issue.

[2017-04-08 13:26] Rohlik commented on #6306
@MartinSchoeler I think we can close this, because we already have SAML docs - https://rocket.chat/docs/administrator-guides/authentication/saml

[2017-04-08 13:30] Rohlik commented on #4161
@tgy Mattermost doesn´t have support for group video calls and for screen-sharing.

[2017-04-08 13:44] Rohlik commented on #6633
`docker save` command just send **images** to a tar archive. Docker doesn´t store your new created data in images, but in containers. So, you need `docker commit` command, which created new image from your current container. After that, you can use `docker save` and move that archive to another server.
PS: Do you have your old and new server same **domainname**?

[2017-04-08 13:46] Rohlik commented on #6619
Some info can be found here: https://github.com/RocketChat/Rocket.Chat.Docs/issues/87#issuecomment-250931596

[2017-04-08 14:12] TheReal1604 commented on #6633
@k0nsl Dont need to do that stuff. Just save your rocket.chat data inside the mongodb with mongodump..
https://docs.mongodb.com/manual/reference/program/mongodump/

After this, you can spin up a new environment with a new mongodb cluster and new rocket.chat docker container. Now restore your dump with mongorestore.

https://docs.mongodb.com/manual/reference/program/mongorestore/

Thats all, your n

[2017-04-08 18:35] jszaszvari commented on #5468
@rodrigok Do you have any ideas on what could be causing this/Have you had a moment to look at this?

I've taken a look but i'm completely lost.

Is there a easy way to ensure that all links that get pressed on mobile open in your default external browser?

I keep accidentally tapping on links and needing to quit the app and re-launch. It's also one of the last major bugs in my eyes with it before

[2017-04-08 19:25] k0nsl commented on #6633
I tried your recommendation, @Rohlik, but no progress:

On the old server I ran the following commands:
[code]
Then on the new server I ran these commands:
[code]
And it just outputs the same as I posted earlier:
[code]

[2017-04-08 19:29] Buzzele opened #6638 "Show all channels"
Rocket.Chat Version: 0.43

Hi,

is there a way to show all channels by default even when an user is not registered in this channel?

Best Regards
Buzzele

[2017-04-08 19:39] Rohlik commented on #6633
@k0nsl How yours docker-compose look like? (mask your private data)

[2017-04-08 19:52] k0nsl commented on #6633
Oh, it is incredibly rudimentary, @Rohlik. Here you go:

[code]

The same `docker-compose.yml` composition works fine on the new server if I change the `mongo` section and pull a clean image of MongoDB, but not if I load my backed up data.

[2017-04-08 20:06] Rohlik commented on #6633
@k0nsl Are you running `docker commit` on stopped container? If not, try your container stop first. Maybe mongodb needs to be properly exited....
Are you using same domainname for old and new server?

[2017-04-08 20:24] k0nsl commented on #6633
@Rohlik: The container was running but I passed the `-p` flag in order to pause it. At any rate, I will try stopping the container  later today or tomorrow and re-do the whole process.

It uses the same domain name.

[2017-04-08 23:25] JulianKingman opened #6639 "[Error] Unable to watch path"
Rocket.Chat Version: Latest dev (2749206da3b433f792ce151008f67f06ff2e6aad)
Running Instances: just localhost
DB Replicaset OpLog: ?
Node Version: 4.4.4

To replicate: download rocket chat, run `meteor npm i -S`, then `meteor`
Already tried re-installing meteor, which is at version 1.4.2, I believe.

Here's the error log:
[code]

[2017-04-08 23:27] JulianKingman commented on #6639
Huh, running in verbose mode seemed to work... Should I close?

[2017-04-09 13:18] Nemra1 commented on #6601
nice one

[2017-04-09 13:40] VasudhaMathur commented on #1762
Hi!
What does "rocketchat administrator panel" refer to in "Fill in the obtained API key in your rocketchat administrator panel (GCM API Key)"?

[2017-04-09 19:36] Rohlik commented on #6638
Yes, you can try on https://demo.rocket.chat
Click on `More channels...`. How simple, right?

[2017-04-09 21:03] Buzzele commented on #6638
Yes, its really simple. But i have written "BY DEFAULT". Normally that is really simple to read this two words, isnt it?

[2017-04-09 23:57] kentonv commented on #1352
@sethlester @awishformore It should indeed be roughly the same work -- look for changes by @jparyani on the mobile app, then apply something similar on desktop. Unfortunately the Sandstorm team no longer employs anyone full-time, so we'll need a volunteer to work on this.

[2017-04-10 03:21] designgurudotorg commented on #4898
Thanks @AlecTroemel - hadn't seen that documented anywhere... so RC uses UTC by default

[2017-04-10 03:23] designgurudotorg commented on #6529
No one else has this problem? I'm surprised more people haven't chimed in on this if its a bug...

[2017-04-10 05:49] wohali opened #6640 "Internal Hubot uses obsolete script repository"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.1

The Internal Hubot admin settings page says:

However, the top-level README for that repository reads:

which in turn says:

Reading through the history, the hubot-scripts repo was already deprecated in 2015!

On top of this, many of the scripts don't even work anymore, not having been maintained f

[2017-04-10 05:58] jszaszvari commented on #6640
Yes it has not been used for a very long time.

https://github.com/github/hubot-scripts/blob/master/CONTRIBUTING.md

The scripts don't get loaded from that repo anymore they are loaded from
npmjs.com

On 10 Apr. 2017 3:49 pm, "Joan Touzet" <notifications@github.com> wrote:

[2017-04-10 06:44] hughlroberts commented on #6129
+1

[2017-04-10 06:46] hughlroberts commented on #5628
+1

[2017-04-10 07:03] Gandalf-the-Grey commented on #6026
Still present in `0.54.2`
"Storage Type" set to "FileSystem"
"Accepted Media Types" set to blank (otherwise it doesn't allow to upload text file with arbitrary extension)

[2017-04-10 07:04] lukmarcus opened #6641 "Notification about new message but user doesn't exist"
I have problem on https://steemit.chat . In section "private messages" I have notification about new message from user, but that user no longest exists (he was deleted). I can't read it or delete it.

[2017-04-10 07:40] awishformore commented on #1352
Yes, I saw and read up on the story. A rather sad development, if I might say. Competing platforms don't offer the same level of security, unfortunately. I should have some time to take a look in ~3 weeks.

[2017-04-10 07:52] tvld commented on #1680
@gdelavald  we feel that Vue already gained the upper hand as the best contender at this time.. but well... we can all have different ideas ;)

[2017-04-10 07:52] Jannibal commented on #5898
Is this related to #5446 ?

[2017-04-10 08:04] wayn opened #6642 "Can outgoing webhook has an Time Event Trigger"
Can outgoing webhook has an Time Event Trigger.

[2017-04-10 08:16] razvanphp commented on #6604
We get this too on `0.54.0`, very annoying for developer teams.

[2017-04-10 08:45] whuber-work commented on #5521
Hi,
we would need this feature as well. Is there perhaps a workaround?

[2017-04-10 09:34] JonLev commented on #6639
@JulianKingman I have the same problem on my machine. The file watch is generally linked to fsevent and it's confirmed by the error message I think.
After some dig-up on the pathwatcher module, it redirects on https://github.com/atom/node-pathwatcher/issues/29 then on https://github.com/atom/atom/blob/master/docs/build-instructions/linux.md#exception-typeerror-unable-to-watch-path that seems to sa

[2017-04-10 11:52] Kim-Goon opened #6643 "I don't know Custom Oauth...."
Rocket.Chat Version: 0.54.2

I'm trying to integrate RocketChat into our web-site.
I coded Oauth server part in my web-server. (/authorize, /token, and /me)
It operated very well. my Oauth <-> Rocket.chat Custom Oauth

but, i don't know "/me" method send to rocket.chat ....
what i send to rocket.chat to login( & join) ????
id? email? nickname?

[2017-04-10 12:27] ulope opened #6644 "[Feature Request] Add cross integration configuration"
It would be very useful if we had the possibility for global configuration which would be accessible from all integration's scripts.

The background is that in our use case we have a lot of integrations from different services (Github, multiple CI services, deployments, etc.). All of these are processed by separate integrations per service which use a script to decide in which channel to post depe

[2017-04-10 12:48] lw-schick opened #6645 "Phone and Mail Link"
# Feature Request

When I am in the Member list and choose a user i get the user with avatar, telephone number, email etc.

It would be really nice if RocketChat could provide a link for the phone number (tel:12345) or mail address (mailto:mail@domain.com).

Rocket.Chat Version: 2.6.1

[2017-04-10 13:37] geekgonecrazy commented on #6640
Yes currently it uses a preseeded folder of scripts compiled in.

We are working on resolving this.  The issue here is we can't just let you specify any random script from npm.  Because we won't be able.to handle the installation of the scripts.

It'll have to only point to scripts you've dropped into a folder.

We have an issue open for setting an external folder where you can add your own script

[2017-04-10 13:58] adam-kulagowski opened #6646 "Slackbridge - unable to delete outgoing channels in "SlackBridge Out Channels""
Hi,

We are unable to remove existing SlackBridge Out Channels at Administrations page (https://codilime.rocket.chat/admin/SlackBridge). Resetting whole section to defaults does not help either. I.e I'm unable to remove "hydepark" from synced channels.

Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: NA
Node Version: 4.8.1
Extra info: running at *.rocket.chat cloud.
URL: codi

[2017-04-10 14:41] jszaszvari commented on #6578
Sorry but who uses mailing lists these days? I know they are still around but just because every message lands in someone's inbox doesent mean people are going to respond.

Stay in the support channel and make sure you have email notifications turned on.

Between here and the support channel there is more than enough. Depending on your issue make sure you search through the closed issues on GitHub

[2017-04-10 14:48] jszaszvari commented on #6389
As @MartinSchoeler pointed out, it's a duplicate issue with a pull request provided in https://github.com/RocketChat/Rocket.Chat/pull/3481 if you wish to fix it.

Many external apps and integrations rely on being able to access the avatar, and until there is a mechanism to do that through OAuth it's probally not really a priority for the RC team.

[2017-04-10 15:08] Rohlik commented on #6645
Similar to https://github.com/RocketChat/Rocket.Chat/issues/4332

[2017-04-10 18:26] graywolf336 commented on #6642
Like crontab style? Or what?

[2017-04-10 18:40] JulianKingman commented on #6639
meteor --v

[2017-04-10 18:59] AlecTroemel commented on #4898
@designgurudotorg from the app (client side) you use and see your local timezone, which is determined by your browser. When you save, rocket chat converts those times to UTC under the hood for saving in the database.

for example:
[code]
Hope that clears some things up. I agree that its not documented well (not really documented at all really 😅 )

[2017-04-10 19:02] designgurudotorg commented on #4898
Oh, not sure if there's a bug in this then - I noticed that when I save the times I want (i.e. local to me - in EST) they seem to be off by a few hours (i.e. livechat automatically turns off earlier then it should)

Will check again this evening and report back.

q./

[2017-04-10 19:05] AlecTroemel commented on #4898
I'll try to look into it today as well!

[2017-04-10 20:23] localguru commented on #6578
@jszaszvari All big open source projects offering mailing lists in "these days", still. ;) The difference between a mail list and a channel is, that mailing lists are more efficient for deferred communications, content is archived and thread based! A mail client has more options than a channel. The nature of a channel is more or less a just in time communication; after a while it's hard to follow

[2017-04-10 20:25] stepek commented on #659
I'll work on this feature.

[2017-04-10 20:31] borisschapira commented on #659
@stepek my hero.

[2017-04-10 23:06] wohali commented on #6640
Is there a list of which scripts are in the preseeded folder anywhere?
The help text in the settings dialogue is definitely misleading at the
very least.

Can you point me to the ticket for the replacement setup as well?

Thanks for your responses!

[2017-04-10 23:15] soundstorm commented on #6583
Addition to #5732

[2017-04-10 23:34] soundstorm commented on #6490
@ArchimedesFM de-AT.UTF-8 as system language or iso?

[2017-04-11 07:08] neoangin commented on #6628
This could be know issue of ldap sync (i have the same issue on my env). During this ldap sync logs show that not only ldap info is synced but also chat history and all rooms state is being synced among all online users. The workaround is to start your apps with a time gap (10-15 mins) to prevent CPU spikes.

[2017-04-11 07:20] rajatkumarpati commented on #6444
same problem here.

[2017-04-11 07:24] Rohlik commented on #6640
Default scripts can be found here: `rocketchat/programs/server/npm/node_modules/meteor/rocketchat_internal-hubot/node_modules/hubot-scripts/src/scripts/`
So, if you want add new one, just put it there and activate in web `http://your_chat/admin/InternalHubot`.
But every RC upgrade will remove your custom scripts!

[2017-04-11 08:16] jblobel opened #6652 "new favicon won't display in Firefox"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.8.1

Hello,

I just tried to change the favicon in the administration/assets section of Rocket Chat. The new favicon is perfectly displayed in Chrome, but it won't show in Firefox. Instead I have a blank icon.

I changed all the favicons ( favicon (ico) favicon (svg) favicon 16x16 (png) and favicon 32x32 (png) ),

[2017-04-11 08:26] #6652 closed

[2017-04-11 08:27] jblobel commented on #6652
I just nailed it by using https://realfavicongenerator.net/
I guess it was a problem with my svg

[2017-04-11 09:45] localguru commented on #3421
Silent installation works in my case with /S parameter, but the client is installed to the user's local AppData Dir:

  C:\Users\myuser\AppData\Local\Programs\rocketchat\Rocket.Chat+.exe

[2017-04-11 09:48] KSchreyer commented on #3413
Does anybody know where to fix this in the code?
I'm currently do not know enough of the Meteor/Rocket.Chat internas, but when someone pointing me to the right spot, I'm maybe able to fix this and submit a pull request.

@geekgonecrazy: Can you change this from _type: improvement_ to _type: bug_, because that is what it is. You click on group chat, your camera led turns on and sound is going over

[2017-04-11 09:52] localguru opened #6653 "Feature request: windows app - parameter for global or local installation, set host URL"
Hi,

silent installation works with /S parameter, but the client is installed into the user's local AppData dir:

  C:\Users\myuser\AppData\Local\Programs\rocketchat\Rocket.Chat+.exe

For a deployed installation a parameter/switch to set a global or local installation would be great as well as a parameter to set a host URL. Or do I miss something?

Ciao!
Marcus

[2017-04-11 12:48] toabctl commented on #1615
+1

[2017-04-11 13:09] ckoe opened #6655 "CAS connector function to merge with existing users"
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.8.0

Hi, I am referring to #3379 as I do not think that the patch is fixing the underlying issue.

When it comes to authentication connectors they should not act exclusively.
E.g. we are using the LDAP connector to provide user and group information. This connector allows the option "Merge existing users

[2017-04-11 13:16] IQ2022 opened #6656 "move major buttons"
i think its better to move these buttons away, as sometimes, using phone and you click on make ADMIN or Owner by mistake very easily.. i think we should move it away.
![image](https://cloud.githubusercontent.com/assets/12454319/24911007/8b94bd9c-1e97-11e7-9e1b-0caa6a91bd7e.png)

Rocket.Chat Version:
Running Instances:
DB Replicaset OpLog:
Node Version:

[2017-04-11 14:15] lw-schick opened #6657 "Different Emotion/Icon Style"
I would like to have a different emotion style - I don't like the current style. Something like iOS and Andriod and looks better...

A choice like [here](http://unicode.org/emoji/charts/full-emoji-list.html) would be cool.

Rocket.Chat Version: 2.6.1

[2017-04-11 14:20] wohali commented on #6640
Thanks - unfortunately I deploy using Docker so I won't be able to leverage this approach easily. And it still doesn't show me what the default list of scripts is from anywhere in this repo, which is what I was looking for.

[2017-04-11 14:22] punkr0ck commented on #988
We need this feature.

[2017-04-11 14:25] jszaszvari commented on #6640
Mount a local folder on the docker host/storage into

/app/bundle/programs/server/npm/node_modules/meteor/rocketchat_internal-hubot/node_modules/hubot-scripts/src/

Then you can just pop your choice of scripts in there the scripts in there.

[2017-04-11 14:35] fforrest commented on #988
Please add this this feature.

[2017-04-11 14:45] fforrest commented on #6601
please consider adding this feature, useful one for admins

[2017-04-11 18:07] stephaneeybert commented on #1061
I wonder if there is such a thing as a log file for Rocket.Chat

[2017-04-11 19:25] oojacoboo commented on #6115
Knock knock - pull request, merge, release... please.

[2017-04-11 19:26] biomassives commented on #6115
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  acmeideal@gmail.com
    Domain biomassiv.es has exceeded the max emails per hour (108/100 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, incl

[2017-04-11 20:53] salj76 commented on #5521
Maybe of topic but would it be possible to add API Login Support for SAML as well?

[2017-04-11 20:56] basitmohammad opened #6660 "Can't configure RocketChat with SAML and Azure Ad or OAUTH with Office 365"
I can't seem to configure my RocketChat to work with SAML or OAUTH. Is there any documentation that could help me to know exactly what to configure on both ends??

Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

[2017-04-11 21:39] Sing-Li opened #6661 "Modified channel topic shows up as _room_topic_ in system msg"
Rocket.Chat Version:  Release Candidate
Running Instances:  6
DB Replicaset OpLog:  enabled
Node Version:  v 4.8.1

On demo server, after changing the room topic of a private group, this message was shown:

![screen shot 2017-04-11 at 5 38 09 pm](https://cloud.githubusercontent.com/assets/122633/24932038/bc6ae112-1edd-11e7-80ed-2c7d5250143c.png)

[2017-04-11 22:10] anlx-sw commented on #3671
i would also like to use a email to rocket.chat channel connector (preferably with the mail attachment as file attachment). unfortunately the link of @teamfighter isn't working for me any more. does anyone know how to accomplish this (i can't find a mail-parser2 script for hubot when i google for it)

[2017-04-11 22:17] teamfighter commented on #3671
@anlx-sw i'll provide script tomorrow.

[2017-04-12 00:24] phoefflin opened #6662 "Error: [Can't find migration version 91]"
Rocket.Chat Version: 0.54.2
Running Instances:  1
DB Replicaset OpLog:  Disabled
Node Version:  v4.8.2

After a docker pull to the latest version (0.54.2) today the startup of the new container fails with an migration error. Downgrade to 0.54.0 didn't solve the issue.

docker logs output:
[code]

[2017-04-12 01:19] phoefflin commented on #6662
seems like somehow the migration id was wrong. In the git checkout of tag 0.54.2 i could only find the migration files up to server/startup/migrations/v090.js. For a test i updated the version number in the migration collection to 90 and the instance came up again:

[code]

Any ideas how that migration version 91 was introduced?

[2017-04-12 06:13] liorkesos commented on #1112
Just heard a podcast discussing how threads actually aid bot interaction in slack, because it lets the bot interact with the human in a thread instead os spamming the whole channel.

[2017-04-12 06:35] LiorHaim opened #6663 "Getting UserId using REST API"
Rocket.Chat Version:  0.49

Hey all,
I'm trying to use the REST API to invite/remove users from groups and channels. In order to do that (using the channels/groups.kick and channels/groups.invite APIs), I need to send the userId.

I hold the usernames of all the users, but not the userId. The only way I see at the moment is to use the users.info API which retrives ALL the users information, and th

[2017-04-12 07:12] monspid opened #6664 "Subscription stream-notify-user/event in Real-Time API always make the 'change' response"
Rocket.Chat Version: 0.54.2
Meteor-client: `python-meteor`

As in Title. I'm writing a bot in Python. If I subscribe to `stream-notify-user/event` I get the `change` response from `Meteor Client`. The problem is that the change response makes a `Key Error`, because there is no such key in collection. We have never `added` it, because every single message is `changed`.
Any ideas?

[2017-04-12 07:16] monspid opened #6665 "Direct-Messages Real-Time API"
Rocket.Chat Version: 0.54.2

I can't find in `Real-Time API `option to send a direct message to specified user by his `username`(to his direct room for example` SendDirectMessage(message, username)`). There is only way to send a message with the `room_id`, but we do not have it when the room has not been `opened` before.
Moreover we can only open the room when we know it's `room_id`.

[2017-04-12 07:27] brylie commented on #1112
@liorkesos could you provide a link to the podcast?

[2017-04-12 07:39] liorkesos commented on #1112
It was in the prielly bot podcast..
Not sure which chapter (I was binge hearing them ;) )
Probably one of these..
https://www.oreilly.com/ideas/amir-shevat-on-enterprise-workplace-communication
https://www.oreilly.com/ideas/ben-brown-on-bot-tools
Found this as well
https://api.slack.com/docs/message-threading#best_practices

[2017-04-12 08:40] willihelm opened #6666 "Room not found after user deleted and recreated"
Rocket.Chat Version: 54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0

I had to delete a user and recreated this user using LDAP. After that some users have problems to create a direct chat with this user. Even if the recreated user starts a conversation the other users can´t see the room but get the notifications. This effects not all users. I think this is only an issu

[2017-04-12 08:42] willihelm commented on #6666
In the RC3 of Version 55 this is still an issue

[2017-04-12 08:48] izzyu91 opened #6667 "Problem with Changed Room Topic / Description"
When changing a room topic or description there is the following in the "chat protocol" instead of the actual topic / description:

Das Thema des Raums wurde von izzyu91 zu __room_topic__ geändert
Raumbeschreibung geändert auf __room_description__ von izzyu91

We use the german language in the interface.

Rocket.Chat Version: 0.55.0-rc.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Vers

[2017-04-12 08:57] willihelm commented on #6666
Exception while invoking method 'createDirectMessage'
[code]

[2017-04-12 09:08] Prakharsvnit commented on #4621
@MartinSchoeler I tested  this feature, it works for me.
![screenshot from 2017-04-12 14-32-19](https://cloud.githubusercontent.com/assets/19989448/24950108/7b7975e6-1f8d-11e7-9eea-f6f4c6aedc76.png)

[2017-04-12 11:23] fifou17 opened #6668 "logs viewer doesnt load"
Rocket.Chat Version: rc3
Running Instances:
DB Replicaset OpLog:yes
Node [Version:] 4.7

![capture d ecran 507](https://cloud.githubusercontent.com/assets/16228448/24955402/2220c53a-1f38-11e7-8dfa-02fe40c453df.png)

[2017-04-12 11:24] dasjosch commented on #3413
Has there been any progress on this issue?

[2017-04-12 11:35] LifeIsAParadox commented on #6666
duplicate #6535 ?

[2017-04-12 11:49] Sing-Li commented on #6667
Duplicate #6661  ?

[2017-04-12 11:50] Sing-Li commented on #6668
Confirmed currently on demo.

[2017-04-12 11:56] k0nsl opened #6669 "Link previews not working"
Rocket.Chat Version: 0.54.2

Me and some of my users noticed that link previews are not working. I am on Mozilla Firefox (ver. `53.0b10`). The other user who noticed the same problem is also on FF.

I have not been able to test this on any other browser. So, I am wondering: is anyone else having the same issue?

[2017-04-12 11:59] willihelm commented on #6666
Seems that this is the problem

[2017-04-12 12:07] willihelm commented on #6535
need this to be fixed

[2017-04-12 12:44] fabiomontefuscolo commented on #601
Hi,

The XMPP protocol provide federated communication. I have my own XMPP server to talk with some rebel friends who reject WhatsApp, Telegram and other commercial solutions.

One server can have several users. Users in this server can talk with users from other server. Some implementations have feature like blacklist and white list, so you can define the boundaries of a cluster.

[2017-04-12 13:01] fabiomontefuscolo commented on #404
Well, it would be very nice RocketChat join XMPP.  RC users could take advantage of XMPP features and ecosystem. I thought about these advantages.

* Federated and decentralized RC network;
* Use android apps like Xabber and Conversation;
* Use XMPP clients like pidgin and others;
* Integration of libraries like ConverseJS to create custom projects;
* Inherit XMPP integrations (for example, Zabbix

[2017-04-12 13:33] alefq opened #6670 "I can't download any files from rocketchat"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3 - x64

 I can't download any files, neither through desktop client nor web version. This is what goes out in syslog.

[code]

[2017-04-12 13:45] tarabanton commented on #6670
Rocket.Chat Version: 0.54.2
Running Instances: 4
DB Replicaset OpLog: Enabled

Same issue here.

[2017-04-12 14:05] tarabanton commented on #6341
I'm running similar setup. Except that my instances are on the same host (not in docker containers).
During startup instances finds each other. OpLog must be enabled and working for proper notifications and good performance.

[2017-04-12 14:20] MartinSchoeler commented on #6666
Yes this is a duplicate of #6535

[2017-04-12 14:20] #6666 closed

[2017-04-12 14:21] MartinSchoeler commented on #6667
Yes this is a duplicate

[2017-04-12 14:21] #6667 closed

[2017-04-12 14:31] teha75 commented on #2759
+1

[2017-04-12 14:33] teha75 commented on #5085
Same situation here!

[2017-04-12 14:49] maxlath commented on #4432
I encountered that exact same issue.
Rocket.Chat Version: 0.54.2
Ubuntu 16.04 / snap install

Can't it be due to file system access restriction inherent to snaps?

[2017-04-12 15:58] pedro-nonfree commented on #404
Hope this issue is evolving from a development (code) and specification (read standards) problem to an integration problem (API ninja, running configurations). I still don't know how to do it, but different references points me that with matrix we can solve nearly all compatibilities

Hope someone have time to test it and bring some light.

https://matrix.org/docs/projects/as/rocket-chat-federatio

[2017-04-12 16:28] graywolf336 commented on #6663
You can pass in the username on latest versions: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-api/server/v1/helpers/getUserFromParams.js

[2017-04-12 16:28] #6663 closed

[2017-04-12 16:29] basitmohammad commented on #6660
Update: This is the error I get when trying to log in with OAuth.

`Exception while invoking method 'login' Error: Failed to complete OAuth handshake with office365 at https://login.microsoftonline.com/oauth/token. failed [404]   at CustomOAuth.getAccessToken (/opt/Rocket.Chat/programs/server/packages/rocketchat_custom-oauth.js:151:17)   at Object.handleOauthRequest (/opt/Rocket.Chat/programs/serv

[2017-04-12 17:44] Prakharsvnit commented on #628
@RocketChat/core I am working on this issue, I think we can display Android, iOS, Linux, Windows and Mac apps.
 but I would like to know how  UI should look like, can it be like above-suggested telegram app's page here: https://telegram.org/apps

[2017-04-12 17:56] karlprieb commented on #628
@RocketChat/core what you guys think? We should use links or images (app store badges)?

[2017-04-12 18:22] geekgonecrazy commented on #628
Badges are used almost everywhere I see mobile apps being linked to.  I think people see them enough they are more intuitive to them

[2017-04-12 18:47] basitmohammad commented on #6660
Update: The new error I'm receiving, this is getting really annoying trying to configure. Any ideas?

`Exception while invoking method 'login' Error: Failed to fetch identity from office365 at https://login.microsoftonline.com/me. failed [404]   at CustomOAuth.getIdentity (/opt/Rocket.Chat/programs/server/packages/rocketchat_custom-oauth.js:198:17)   at Object.handleOauthRequest (/opt/Rocket.Chat/

[2017-04-12 20:03] Multipass2 commented on #3659
I'd also appreciate an update on this 👍

[2017-04-12 20:06] JigSawFr commented on #5085
+1

[2017-04-12 20:06] JigSawFr commented on #2759
+1

[2017-04-12 21:09] marceloschmidt commented on #6526
Hi @localguru do you have steps to reproduce the problem?

[2017-04-12 21:37] JohnDorianMD commented on #6625
No, it does not. The arrow stays as is.

[2017-04-12 21:37] gregs007 commented on #5952
I'd also be interested in a manual workaround. Just trying to load a few scripts with dependencies. Installed via snap in ubuntu server

[2017-04-12 23:49] geekgonecrazy commented on #4432
@maxlath if you have it setup to point to a filesystem path.  Then yes absolutely.  What path do you have specified?

[2017-04-12 23:54] maxlath commented on #4432
@geekgonecrazy I let the path field unaltered

[2017-04-12 23:55] geekgonecrazy commented on #4432
@maxlath could you grab the value and paste it here?  Its possible this value got messed up and maybe something we need to address.

[2017-04-13 00:48] geekgonecrazy opened #6675 "Private to Public makes channel inaccessible"
Rocket.Chat Version: present at least from 0.50.0 to our current 0.55.0-rc.2

![image](https://cloud.githubusercontent.com/assets/51996/24985247/a42877f0-1fb8-11e7-98cd-c60ab2209fd3.png)

Channel is in this state on the demo server: https://demo.rocket.chat/channel/test-private-to-public

Steps to reproduce.
1. Create the channel as private
2. Do some stuff (probably not required)
3. Switch it to

[2017-04-13 02:53] qrevel commented on #6619
+1 I'm looking for an answer too

[2017-04-13 04:06] TimFau commented on #6602
I'm having the same issue. Out of curiosity, do you have iFrame enabled at "Adminstration > Accounts > Iframe"?

[2017-04-13 06:41] TheReal1604 opened #6676 "File Upload UI from mobile (cordova) broken"
Rocket.Chat Version: demo

Hey guys,

the file upload gui seems really broken with cordova at the moment. (from an UI perspective, its functional! 😆 )

![2017-04-13 06-42-00 3869](https://cloud.githubusercontent.com/assets/5877910/24993028/ca886e5c-2024-11e7-8d0b-7a8e797adfce.png)

I know that the native app is now public, but until it supports all the features we have in cordova (core features li

[2017-04-13 06:44] TheReal1604 opened #6677 "Pictures got wrong orientation when uploaded from iOS with cordova"
Rocket.Chat Version: demo

If I upload a picture with the cordova app on iOS, it is wrong oriented..

![2017-04-13 06-42-11 3870](https://cloud.githubusercontent.com/assets/5877910/24993122/3c6181a8-2025-11e7-9e26-ead85c962c86.png)

I have seen this behavior first with 0.52.0.

[2017-04-13 06:50] nzhtrtlc commented on #6602
@TimFau  Sure, otherwise i wont be able to even login in.

[2017-04-13 07:20] bartroff opened #6678 "Problems with email notifications / View logs from GUI after upgrading to 0.55.0 rc2"
Rocket.Chat Version: 0.55.0-rc.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0 - x64

After changing to 0.55.0 rc2 the email feature stopped working for me. I tried several things, like setting the hostname/port in env instead of using GUI, changing between port 25/587 etc.

I get the following error:

[code]

What am I doing wrong?

When trying to access 'View Logs' featu

[2017-04-13 09:13] DalePayman commented on #6669
Your DNS is working properly?

[2017-04-13 09:17] maxlath commented on #4432
Step to reproduce:
* Installed a fresh Rocket.Chat Version: 0.54.2 snap
* After signing up, changed `File Upload` > `Storage Type` to `FileSystem`, without change anything else.
* Back in the general room, trying to upload a small image displays the `Upload File?` modal correctly but once hitting `Send`, a message notify you of an `internal server error`:
[code]

[2017-04-13 09:18] DalePayman commented on #6619
Can you descrube how you'll test your environment?
Searched for a pen-test too...

[2017-04-13 10:29] Ukas9 opened #6679 "File upload problem"
Hey there,

I've got problem with file upload.

Quick info:
[code]
Apache SSL Reverse Proxy conf file:
[code]

I tried to use GridFS and FileSystem but nothing works well. All time file stucks on 0%.
I also tried to edit jalik_ufs.js file, in order to change storesPath to chat/ufs according to https://github.com/jalik/jalik-ufs/tree/v0.6.4#configuration. After that the progress bar comes to 100%,

[2017-04-13 10:59] saifur-rehman commented on #4790
I have tried every thing but my error is little bit different what is this for

native: ENOENT: no such file or directory, scandir 'packages/rocketchat-katex/node_modules/katex/dist/fonts/'

[2017-04-13 11:43] jszaszvari commented on #5468
@TheReal1604 @rodrigok

I've noticed some strangeness with this, The URL Preview Heading cause this most visably,

If i send a link ie, https://google.com - Works fine unless you click on the heading of the preview

If the link is Https://google.com - (Capital H at the start) then both the heading and the URL cause the issue - It sees the link starting with a capital H as different to normal H

**

[2017-04-13 12:20] saifur-rehman commented on #4790
I Follow These Steps and Solve my Problem.

https://groups.google.com/forum/#!topic/jenkinsci-users/Idcjf4ZQxT4

[2017-04-13 13:08] MartinSchoeler commented on #6678
@ggazzo is that second error related to the logger conversion?

[2017-04-13 13:26] geekgonecrazy commented on #4432
@maxlath what is the value of the filesystem path?  Snaps are only allowed to write to certain places.  So this is an important​ piece to verify

[2017-04-13 14:02] engelgabriel commented on #6678
The email problem is caused by https://github.com/meteor/meteor/issues/8591

[2017-04-13 14:03] #5491 closed

[2017-04-13 14:05] maxlath commented on #4432
@geekgonecrazy the `input[name='FileUpload_FileSystemPath']` value is empty

[2017-04-13 14:09] NonlinearFruit commented on #4377
:+1: Instead of ASCIIbetical sorting, a natural sort would be great (and so would an activity sort).

One of the problems I have is finding the direct message I'm looking for because some users entered their name as `Joe.Shmoe` and others `jane.doe`. In the direct message list they are displayed as:
[code]
I feel like alphabetical would be a more intuitive (useful) sort because I won't have to rem

[2017-04-13 14:35] engelgabriel commented on #4845
@MartinSchoeler @Molle500 has this been fixed now?

[2017-04-13 14:45] #6678 closed

[2017-04-13 14:57] engelgabriel commented on #6406
it is still an issue on version `0.55.0`?

[2017-04-13 14:58] engelgabriel commented on #6006
@MartinSchoeler can you test this on the `develop` branch?

[2017-04-13 14:59] OdinWynd commented on #1907
@Morgy93 Any luck with your suggestion?
@Sing-Li An official UWP SDK would be amazing, it goes beyond PC's and Phones... It also brings Hololens, Xbox One, Surface, and IoT. It is worth looking into..

[2017-04-13 15:10] rodrigok commented on #6675
It's a problem with server side cache, trying to find why

[2017-04-13 15:36] geekgonecrazy commented on #6675
:+1: I haven't been able to confirm if the mobile apps can access.  But it's been reported by other users that they can join via the  native iOS app.

[2017-04-13 15:40] rjones-lf commented on #6675
I can join on the iOS app and the desktop app on MacOS.

[2017-04-13 16:02] geekgonecrazy commented on #4432
That's the value. It should be something like: `/var/snap/rocketchat-server/common/uploads`

[2017-04-13 16:14] maxlath commented on #4432
yep, it works when setting the path to `/var/snap/rocketchat-server/common/uploads`, you just need to `mkdir /var/snap/rocketchat-server/common/uploads` first

[2017-04-13 16:31] sampaiodiego commented on #6678
@bartroff can you please try the `rc.4` version?

[2017-04-13 16:36] geekgonecrazy commented on #4432
@maxlath I'll take a look at prepopulating the setting 👍

[2017-04-13 17:19] qge commented on #6566
Have same problem here.

[2017-04-13 17:44] engelgabriel commented on #6006
Did https://github.com/RocketChat/Rocket.Chat/pull/3851 closed this?

[2017-04-13 17:49] Sing-Li commented on #2815
Anyone actually using the WordPress OAuth section of the settings (not a custom oauth one) and is able to authenticate with the latest version of WP Oauth server?

[2017-04-13 17:52] Sing-Li commented on #2815
@wargamesqcf   we are thinking of switching to Method 2 endpoint format as documented here to improve compatibility - https://wp-oauth.com/kb/endpoint-formats/     Especially with the non-pro version of the popular plugin.

Have you had any experience with it?  Thanks.

[2017-04-13 17:54] #6161 closed

[2017-04-13 17:54] Valiantiam opened #6685 "Role-Tag Customization (Colors)"
Looking for a simple and direct way to customize roles colors within the chat. This would let us make some roles show as a different color without having to develop custom CSS (which I'm not to sure is even possible with the current way the tags are setup, but I'm not a css expert)

Thanks.

[2017-04-13 18:38] JulianKingman opened #6687 "Allow delete account in demo"
It would be great if we could delete our accounts in the demo app.

[2017-04-13 18:46] #6675 closed

[2017-04-13 19:59] wargamesqcf commented on #2815
Tried method 1 and method 2 got this as an error
{"error":"invalid_client","error_description":"The client id supplied is invalid"}

My settings
http://i.imgur.com/gRlkOwe.png?1

[2017-04-13 20:30] IQ2022 commented on #4575
Nice is Discord open source?  would be nice if we have voice chat enabled, and controlled by Admin or Room Owner

[2017-04-13 20:54] Sing-Li commented on #2815
@wargamesqcf   What did you have to do to the permalink setting to get Method 1 working with the non-pro version ?     Also did you have to tinker with your .htaccess  file?

[2017-04-13 20:59] Sing-Li commented on #2815
@wargamesqcf   This PR, thanks to @sampaiodiego , should allow method 2 to work with your settings.    #6684   Please test.  Thanks.

[2017-04-13 21:14] BadPirate commented on #6230
Would be a nice feature, fairly easy to automatically select the department messages go to based on a parameter in the copypaste livechat script you put on the website.

[2017-04-14 01:09] ryran commented on #2588
@engelgabriel said:

IMHO, no. The current behavior makes no sense to me for private channels. Currently, I'm in a private channel with 4 users and only one of their names starts with `jh`. I type `jh<Tab>` and it auto-completes the name of someone else in our org ... what ... the heck.

[2017-04-14 03:21] cubefoo commented on #3151
google and dropbox?
we went for rocket.chat to regain control over our data and not give it away to these companies
so please support other self hosted open source apps first (like nextcloud / owncloud)

[2017-04-14 03:27] jszaszvari commented on #3151
@cubefoo it's not like it will be mandatory. You don't have to switch it on.

As great as nextcloud support would be, it will only cater for a very small section of users.

I'm sure it will happen, but google drive and Dropbox are smarter first options.

Your not giving anything away if you leave it switched off..

[2017-04-14 04:02] cubefoo commented on #3151
@jszaszvari // I get it that these services have a larger user base and therefore it's the logical first choice based on demand alone but I strongly disagree that it's the smarter choice ;)

but I have to admit, it seems most people are more concerned about saving a few bucks than protecting the ownership of their data.

[2017-04-14 05:32] Prakharsvnit commented on #6668
according to this image [here](https://cloud.githubusercontent.com/assets/534679/13824905/0b02959a-ebd6-11e5-8e44-293d395bd480.png), there must be a Debug Level settings in admin/General which seems to be missing.

[2017-04-14 06:08] sinteur commented on #2588
You're looking at this from the user point of view. Look at it from a channel point of view. If you ONLY create these permissions, somebody with permission 2 can still accidentally leak info in a private channel. In a private channel 3 should be the default (and since @all means all in channel that would be allowed too) and in public channels somebody might have an extra privilege which would incl

[2017-04-14 06:34] wargamesqcf commented on #2815
I never got it working on verison 3.2+ of WP oauth non-proversion only ever got it working on the older 3.1.96.

[2017-04-14 07:21] ogra opened #6691 "How can I change environment variable ROOT_URL when using snap package?"
Rocket.Chat Version: 0.54.2
Running Instances:
DB Replicaset OpLog:
Node Version:

I installed Rocket.Chat by

    snap install rocketchat-server

on Ubuntu 16.04 LTS.

How can I change environment variable `ROOT_URL` so that the server runs in a subdirectory?
I tried editing /etc/environment and /etc/systemd/system/snap.rocketchat-server.rocketchat-server.service as shown below, but they don't wo

[2017-04-14 08:43] Molle500 commented on #4845
@engelgabriel not on your demo.rocket.chat atleast. Dont know about your dev branches

![rc](https://cloud.githubusercontent.com/assets/17712562/25038447/2869bd16-20ff-11e7-8257-acd391e7fe73.gif)

[2017-04-14 10:18] anlx-sw commented on #3671
@teamfighter could you locate your script? - many thanks

[2017-04-14 10:36] Sing-Li commented on #2815
Good to know.  Please try the PR with your custom oauth settings - using method 2 format - it should now work with any version of the plugin.

[2017-04-14 12:15] lusoalex commented on #4535
Hello,

By default, client_id & secret should be only available in header, and not using params.

By reading the RFC :

You may use the "tokenSentVia" parameter to define if client_id+secret should be sent using header or query param, but from my point of view, it should always be sent only using header Authorization...

PS : If you release an rc on docker, we can test it very quickly ;)

Regards,

[2017-04-14 12:58] designgurudotorg commented on #6529
(Looks like a bug with https://github.com/RocketChat/Rocket.Chat/pull/4095)

[2017-04-14 15:37] wargamesqcf commented on #2815
What do you mean by PR?

[2017-04-14 17:00] richardwlu opened #6693 "Where Is Bundle Folder In Archived Releases?"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: No
Node Version: 4.5

I am trying to set up a new server in a test environment with 0.54.2 by following the instructions https://rocket.chat/docs/installation/manual-installation/ubuntu/.

I performed a `curl -L https://github.com/RocketChat/Rocket.Chat/archive/0.54.2.tar.gz -o rocket.chat.tgz` and noticed that I was not given a

[2017-04-14 17:18] Prakharsvnit commented on #6693
@richardwlu you can find related bundle over [here.](https://github.com/RocketChat/Rocket.Chat/releases/tag/0.54.2/)

[2017-04-14 17:22] richardwlu commented on #6693
@Prakharsvnit Downloading the tar.gz there does not provide a `bundle` folder.  Unless I am missing something here?

[2017-04-14 17:55] geekgonecrazy commented on #6662
@phoefflin which docker image are you using?

[2017-04-14 18:00] Prakharsvnit commented on #6693
If you're trying to setup test environment in Ubuntu you must follow the instructions given[here](https://rocket.chat/docs/developer-guides/pre-requisites).  the instructions that you were following are for deployment, not for testing purpose.

[2017-04-14 18:09] richardwlu commented on #6693
I see where you're coming from; however, I would like to test as I would deploy it. I am not looking to do a quick start. I would like to replicate what I am doing in production. 

Do you know where I can obtain the proper download containing the bundle folder required for deployment of the version mentioned above?

On Fri, Apr 14, 2017 at 1:01 PM Prakhar tripathi

<
mailto:Prakhar tripathi <notif

[2017-04-14 18:47] abalter commented on #4161
@Rohlik V3.8 (April 17) is _supposed_ to have 1:1 video, with group video supported by plugins.

I don't know about others, but I have found Mattermost very hard to deal with as a (prospective) customer. Very slow to respond. Even at the basic E10 enterprise level they only offer ticket support and at E20, email support. To get phone support is VERY expensive. We will probably go with them because

[2017-04-14 19:43] richardwlu opened #6695 "Registration Screen Showing Incorrect Register Button Text"
Rocket.Chat Version: 0.55.0-rc.5
Running Instances: 4
DB Replicaset OpLog: Yes
Node Version: 4.5

Text of button says "LOGINREGISTER A NEW ACCOUNT".
<img width="627" alt="screen shot 2017-04-14 at 2 39 52 pm" src="https://cloud.githubusercontent.com/assets/8405384/25054062/c0e19de0-2120-11e7-9982-f1239066f075.png">

[2017-04-14 21:28] richardwlu opened #6696 "SSL Connection Refused - Requested An insecure XMLHttpRequest endpoint. Nginx config issue?"
Rocket.Chat Version: 0.55.0-rc.5
Running Instances: 4
DB Replicaset OpLog: Yes
Node Version: 4.5

Hi,

While implementing SSL for my instance, the browser console is throwing errors:

The page looks like:
![screen shot 2017-04-14 at 4 07 52 pm](https://cloud.githubusercontent.com/assets/8405384/25056410/47e40b9a-212e-11e7-931f-77b2838393b0.png)

My reverse proxy nginx conf is:

[code]

Whether I a

[2017-04-15 09:30] Syirrus opened #6697 "Custom PUSH notifications sound in iOS???"
Rocket.Chat Version:  0.55.0
Running Instances: 1
DB Replicaset OpLog: None
Node Version: Latest

Does anyone know how to get custom sound notifications to play on iOS?  I have it working in Android by changing the name of my sound file to "chime" and placing it in the appropriate directory on my Cordova build.  I think the problem with it not working (push notifications do work with default sound

[2017-04-15 11:10] phoefflin commented on #6662
we are using the official rocket.chat image (https://hub.docker.com/_/rocket.chat).

[2017-04-15 12:31] ogra opened #6698 "OAuth callback URLs don't include subdirectory name."
Rocket.Chat Version: 0.55.0-rc.5
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.2

I'm running a Rocket.Chat instance in a subdirectory.
I'd like to authenticate with Twitter and Facebook OAuth, but it doesn't work.
I think this is because OAuth callback URLs don't include the subdirectory name.
Is this a bug?

[2017-04-15 18:39] Huljo commented on #5226
Hi @graywolf336 any news about this?

[2017-04-15 18:46] Huljo opened #6699 "Webhook for new channel created not working"
Rocket.Chat Version: 0.55.0-rc.5
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.2

I've a problem with outgoing web hooks. It will not call the URL for the event roomCreated (a hook for messages works fine).

There is the logs when a new channel is created :

[code]
The trigger is "Room Created (public and private)" but I got the same result with "channel archived"

If I jus

[2017-04-15 20:47] Prakharsvnit commented on #5020
@MartinSchoeler I would like to work on this feature,should we make a different 'status' section in administration that has options to turn off Invisible button.

[2017-04-16 00:02] geekgonecrazy commented on #5020
Feel free!  None of us are currently working on it.  But please be sure that by default invisible is there.  It needs to only be hidden by an admin explicitly disabling it.

[2017-04-16 00:04] ChrisKendallVA commented on #5020
I would very much like to see this feature included. invisible/offline should only be available to accounts currently not connected to RC i.e Offline. and shouldnt really be an option to hide yourself as this causes issues within staffing (in my experience of it)

[2017-04-16 00:08] ChrisKendallVA commented on #6000
I would very much like to see this feature implemented! we have hundreds of notifications per day to an observance channel and its a pain to delete them all one by one...

[2017-04-16 00:09] ChrisKendallVA commented on #5944
i would love to see this feature implemented.

[2017-04-16 10:41] Sing-Li commented on #2815
@wargamesqcf   PR = Pull Request  = code fix when merged

Please click this to see the details and track the branch that it lands on:
#6684

[2017-04-16 15:42] k0nsl commented on #6669
Yes, @DalePayman, the DNS is working fine.

[2017-04-16 19:06] TAdeJong commented on #3446
@alfredbez FYI: @TobiasKappe wrote a pull request for something that does exactly that: #6700

[2017-04-17 09:33] soundstorm opened #6701 "Breaking changes broke things: User objects in Channel overview"
Currently running rc-5 but must be there since rc-0:
The breaking changes to return a object array instead of a string array beoke the "Users in room" view. Therefore just getting `[object Object]`. Don't know what is all affected by this change but seems the only bug (or does any other function rely on this call too?).
![img_0053](https://cloud.githubusercontent.com/assets/193273/25085243/70fa4ad

[2017-04-17 12:26] MartinSchoeler commented on #6695
duplicate of #2137

[2017-04-17 12:26] #6695 closed

[2017-04-17 12:57] sampaiodiego commented on #6668
it should be fixed on `rc.4` via https://github.com/RocketChat/Rocket.Chat/pull/6682 .. @fifou17 can you try it please?

[2017-04-17 13:17] athossouza opened #6702 "I can't update my Rocket.Chat using snaps"
Hello,

I can't update my Rocket.Chat, do you know haw I solve it?

![capturar2](https://cloud.githubusercontent.com/assets/16904054/25089964/0d85fc12-2357-11e7-9e56-f35cccada477.PNG)
![capturar](https://cloud.githubusercontent.com/assets/16904054/25089965/0d898e22-2357-11e7-9e78-be80afd05fe1.PNG)

Rocket.Chat Version: 0.53.0
Running Instances: snap
DB Replicaset OpLog:
Node Version:

[2017-04-17 13:37] rodrigok commented on #6701
Did the application ask you to update?

[2017-04-17 13:40] rodrigok commented on #6698
@ogra Did you test with the stable version? Is it working?

[2017-04-17 13:42] rodrigok commented on #6699
@Huljo Is this working with the stable version 0.54?

[2017-04-17 13:48] rodrigok commented on #6668
Please reopen the issue if the problem persists on new versions.

[2017-04-17 13:48] #6668 closed

[2017-04-17 14:28] engelgabriel commented on #6701
@soundstorm can you try re-installing the app? It works for me.

[2017-04-17 14:32] soundstorm commented on #6701
Okay, works. Thanks :)

[2017-04-17 14:32] #6701 closed

[2017-04-17 14:46] engelgabriel opened #6705 "Upgrade email package to from 1.1.18 to 1.2.1"
The version 1.2.0 is broken with AWS SES.

Due to:
https://github.com/RocketChat/Rocket.Chat/issues/6678

We had to downgrade:
https://github.com/RocketChat/Rocket.Chat/pull/6680

Meteor is working to fix:
https://github.com/meteor/meteor/issues/8591
https://github.com/meteor/meteor/issues/8425

Via:
https://github.com/meteor/meteor/pull/8605

[2017-04-17 14:49] magnusjjj commented on #5667
Having the same issue! :). Willing to hoist a bit of money out of my own pocket for a fix, but not sure how and what range?

[2017-04-17 14:54] rodrigok commented on #6698
This is not a regression, will be fixed on next version

[2017-04-17 14:59] magnusjjj commented on #5667
Or, otherwise, hints on where to add the specific code in the best way. I have been hacking at the oauth code before (though that resulted in disaster and other people rewrote it. uhm..), and it looks like it would be able to skip the form if the username is not taken (it needs to error out otherwise)

[2017-04-17 15:15] engelgabriel commented on #6705
@rodrigok Would you be able to test the email package from https://github.com/edemaine/meteor/tree/devel/packages/email to see if it works in our scenario?

[2017-04-17 15:42] howellsd opened #6707 "OAuth login fails with IE11 in Compatibility mode"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3

When running with Internet Explorer version 11 in compatibility mode, the callback to rocket chat with the authorization code fails (no error message in the logs or on the screen, leaving the user on a blank white page).  The only indication of what has happened is the displayed URL: https://rocketc

[2017-04-17 17:35] rodrigok commented on #6699
@Huljo I can't reproduce, can you post more info like your trigger configuration?

This issue seems to not be related with latest release in `rc.5` now.

[2017-04-17 18:22] marceloschmidt commented on #5433
Duplicate of #3756

[2017-04-17 18:22] #5433 closed

[2017-04-17 18:27] marceloschmidt commented on #6609
@geekgonecrazy we have to fix the conflicts here, but it would be easily done on top of this PR https://github.com/RocketChat/Rocket.Chat/pull/5373

[2017-04-17 18:36] geekgonecrazy commented on #6609
@marceloschmidt that would be awesome.  We have a few large communities that would love this

[2017-04-17 18:46] geekgonecrazy commented on #6693
@richardwlu what do you get in your tar.gz? And how are you extracting it?

[2017-04-17 19:43] rodrigok commented on #6679
This issue was not introduced by the new version.

The problem is related with sub folder.

More info: https://github.com/jalik/jalik-ufs/issues/104

[2017-04-17 19:44] rodrigok commented on #6679
The problem is relater with this line https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/lib/startup/settingsOnLoadSiteUrl.coffee#L10 where we override the ROOT_URL removing the sub folder

[2017-04-17 20:06] Rohlik commented on #6656
Or just add some confirmation dialog.

[2017-04-17 20:08] #6661 closed

[2017-04-17 20:59] abernix commented on #6705
`email@1.2.1` has been officially released! :smile:

[2017-04-17 22:03] dfpena opened #6708 "Cannot Create Normal account after Live User creation"
I am unable to create a normal user account after a live user with the same email is created (User with the same email already exists). This would be fine if I was able to convert the live user to a normal account or delete the live user account. I also cannot search for the live user account in admin.

Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4

[2017-04-17 23:22] alexbrazier commented on #6006
Yes, it now works on the latest version

[2017-04-18 02:24] graywolf336 commented on #6699
I couldn't reproduce either.

[2017-04-18 02:58] dimti commented on #2243
I updated to 0.52.0
Problem still exists minimum on two separated members in my chat server.
Images not showing, and in addition, member unable to upload any files.
![c68ecd2b](https://cloud.githubusercontent.com/assets/582144/25112749/e4f830ee-23fb-11e7-827a-e70856e68b7e.jpg)

[2017-04-18 03:57] dimti opened #6710 "Right side bar wrong position, big margin from right side"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.4.6

![_2017-04-18_06-51-07](https://cloud.githubusercontent.com/assets/582144/25114001/f9e31c46-2403-11e7-964f-eafb67caeeec.png)

[2017-04-18 07:41] Szomy commented on #6327
Any update on this?

[2017-04-18 09:47] Devact commented on #2869
To have history for audit is one of the major mandatory business requirements for any company. So +1 for an easy UI interface. 10x!

[2017-04-18 10:58] teamsoo opened #6711 "Possible incorrect error message when create new channel"
Rocket.Chat Version: Official Demo Version at https://demo.rocket.chat/
Possible incorrect error message when create new channel with empty name and users

The error is

**Oops
The field undefined is required.**

![Image of 2](http://imgh.us/bug2_1.png)![Image of 1](http://imgh.us/bug1.png)

[2017-04-18 11:10] kartwang commented on #5473
I have same problem in 0.52.0, and i check my mail server log, it's say :

`Apr 18 18:56:56 smtp postfix/smtpd[6302]: connect from server1 [x.x.x.x]

Apr 18 18:56:56 smtp postfix/smtpd[6302]: lost connection after MAIL from server1 [x.x.x.x]

Apr 18 18:56:56 smtp postfix/smtpd[6302]: disconnect from server1 [x.x.x.x]
`

The test mail is work fine in SMTP setting, and send invitation mail.

I has t

[2017-04-18 11:33] localguru commented on #6578
Filter github messages by Message-ID seems to be a way to sort "watched" messages e.g. by

 RocketChat/Rocket.Chat/releases/
 RocketChat/Rocket.Chat/issues/
 RocketChat/Rocket.Chat/pull/

Ciao!

[2017-04-18 11:36] rafaelks commented on #6697
@Syirrus Just to be sure, are you talking about the Cordova app, or the native iOS app? If you have questions about how to send the sound on the push body data, here's how to do it: http://stackoverflow.com/a/37536705/1088230.

[2017-04-18 12:22] MartinSchoeler commented on #6710
@dimti does this happens every time you open the side nav? And are you using any custom css?

[2017-04-18 12:28] pettitto commented on #4996
@somebrel I'd probably take a look at how the routes work because when the app starts, I'm guessing something points you to the "Home" page. Once you've got there, you can probably backtrace the code and make your change there.

`Rocket.Chat/client/routes/router.js`

Might a good place to start.

[2017-04-18 12:37] engelgabriel opened #6712 "Fix screen sharing add-on compatibility with Firefox 54"
### Extension is not marked as compatible with Multi Process

Warning: Your extension is not marked as compatible with Multi-Process Firefox and may not work in future versions of Firefox. Please review it, make changes if needed and set multiprocess to true in package.json if it's compatible. See https://developer.mozilla.org/docs/Mozilla/Add-ons/SDK/Guides/Multiprocess_Firefox_and_the_SDK for mo

[2017-04-18 12:41] #1864 closed

[2017-04-18 12:44] pettitto commented on #4996
@lashae would this be the last channel you received a communication on? Or would this be the last channel you were looking at before you closed the chat previously?

[2017-04-18 12:51] engelgabriel commented on #6006
Closed via https://github.com/RocketChat/Rocket.Chat/pull/3851

[2017-04-18 12:51] #6006 closed

[2017-04-18 13:02] lashae commented on #4996
@pettitto "The last channel I was looking" seems more logical, isn't it?

[2017-04-18 13:05] sampaiodiego commented on #3938
closing since we're display real names

[2017-04-18 13:05] #3938 closed

[2017-04-18 13:07] #5048 closed

[2017-04-18 13:25] #6705 closed

[2017-04-18 13:27] #4535 closed

[2017-04-18 13:31] #1963 closed

[2017-04-18 13:31] #6042 closed

[2017-04-18 13:32] dimti commented on #6710
Custom css no, no..
Eror still exists in brwoser and in electron app.

In logs exists some records about css processor, but may be that not the side nav:

[code]

[2017-04-18 14:22] richardwlu commented on #6696
I am not sure why...but I did not change anything and the next day everything works when I loaded the page up. Everything shows as secure.

[2017-04-18 14:22] #6696 closed

[2017-04-18 14:56] #6636 closed

[2017-04-18 15:01] raelsan opened #6713 "Connect Rocket.Chat using API and use Livechat"
Rocket.Chat Version: 0.55.0-develop
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

Hi !

When I connect to my website (in which there is the livechat), I use the /login api which return a token and the userId. But I'm still connect as guest (when i use the livechat) because of localStorage Meteor.Token and Meteor.userID. I can't modify it because my website and Rocket.Cha

[2017-04-18 15:17] richardwlu commented on #6693
@geekgonecrazy

[code]

[2017-04-18 15:18] raelsan opened #6714 "Livechat-guest permissions"
Rocket.Chat Version: 0.55.0-develop
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

I think it's a bug but when i am connected as a livechat-guest, I can see and access default room, create public and private rooms, etc... As if as i had user' permissions.

And in the permissions menu, nothing is checked for livechat-guest.

[2017-04-18 15:46] pettitto commented on #4996
Yep, I agree. I'll take a look at this.

[2017-04-18 16:06] basitmohammad commented on #6660
Anyone want to help?...

[2017-04-18 16:14] Prakharsvnit commented on #4996
@pettitto I checked the code and found user is directed to home due to [this](https://github.com/RocketChat/Rocket.Chat/blob/develop/client/routes/router.js#L23) but couldn't figure out what this [if](https://github.com/RocketChat/Rocket.Chat/blob/develop/client/routes/router.js#L30) does.

[2017-04-18 16:58] Devact commented on #5975
I confirm this issue too.

[2017-04-18 17:02] Devact commented on #3081
Hello, This is still an issue. 0.55.0-rc.3

[2017-04-18 17:05] Syirrus commented on #6697
@rafaelks Thanks for responding. I have followed this on stackoverflow before. I think the issue is this:

for Android you specify the sound payload, without the file extension i.e.: sound: 'chime'
for iOS you specify the sound payload with the file extension i.e. sound: 'chime.wav'

Since in pushNotification.js it's defined as 'chime' it works and in android and NOT iOS.  Conversely if you change

[2017-04-18 17:10] designgurudotorg commented on #3059
@IQ2022 Working SMS into the chat experience across the app would be amazing, and open up RC to a whole world of dumb phones (plus enable us to code bots to interact with SMS within chatrooms)...

Guessing we should spec this properly to see who is interested in working on building this out.  Have you seen this functionality work in a specific format through any other chat platform?  Want to write

[2017-04-18 17:39] tempestb opened #6716 "New users able to post in read only rooms, and new user posts can't be erased."
Rocket.Chat Version: 0.53.0
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: 4.7.3

We are running Rocket Chat over at https://community.storj.io

Recently, for some reason we're not aware of, new users are able to post in read only forums (Such as #announcements) and Admins cannot delete posts of users.

To me, this sounds like an index corruption of some sort, but I'm just guessi

[2017-04-18 17:47] geekgonecrazy commented on #6693
@richardwlu `Rocket.Chat-0.54.2` is definitely the folder.  I'll take a look and see whats going on.  We might need to update our documentation

[2017-04-18 17:54] designgurudotorg opened #6717 "Twilio two way SMS through livechat"
I just setup Twilio credentials (at Administration > SMS) for a Messaging Service I setup within my Twilio account and noticed that sms messages received by my Twilio number were being received in Livechat fine, but that when I responded in Livechat/RocketChat the messages weren't being passed through Twilio (they don't show as outgoing messages at https://www.twilio.com/console/sms/logs)and didn'

[2017-04-18 17:59] geekgonecrazy commented on #6693
@richardwlu It looks like you are downloading from github using the download source option.  In our documentation we recommend doing:

`curl -L https://rocket.chat/releases/latest/download -o rocket.chat.tgz`

That should solve your problem :grin:   Let me know if not and we can re-open :+1:

[2017-04-18 17:59] #6693 closed

[2017-04-18 19:04] richardwlu commented on #6693
Based on @geekgonecrazy the doc `curl -L https://rocket.chat/releases/latest/download -o rocket.chat.tgz` will provide you with the "latest", not a specific version.

If you came here looking for the answer, I found that you can go to https://rocket.chat/download and download the specific version.

Example to download 0.54.2 -> `curl -L https://rocket.chat/releases/0.54.2/download -o rocket.chat.t

[2017-04-18 19:06] geekgonecrazy commented on #6693
@richardwlu yes to download a specific version that's how.  Can substitute 0.54.2 with which every version you want.  Follows version number from here.  Also discoverable via our download page. :+1:

[2017-04-18 19:07] karlprieb commented on #6710
Hey @dimti which browser do you use?

[2017-04-18 19:43] howellsd opened #6718 "REST API documentation incorrect for updating settings"
Rocket.Chat Version: 0.52.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.7.3

The Rocket.Chat REST API documentation for updating Rocket.Chat settings example is incorrect:

https://rocket.chat/docs/developer-guides/rest-api/settings/update

Example has:

curl -H "X-Auth-Token: 9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq" \
     -H "X-User-Id: aobEdbYhXfu5hkeqG" \
     http:/

[2017-04-18 23:09] rafaelks commented on #6697
@Syirrus OK, so it seems to be an issue on the back-end, not on the iOS app. Can you open the issue in the main project? https://github.com/RocketChat/Rocket.Chat/issues

I'll close the issue, you can open another one again if you need.

Thanks for your report! 👍

[2017-04-18 23:09] #6697 closed

[2017-04-19 01:49] peccu opened #6719 "Markdown link which url has `&` has broken"
Rocket.Chat Version: 0.54.2
Running Instances: 1
DB Replicaset OpLog: Enables
Node Version: v4.7.1

Markdown link which url has `&` has broken.

ex:
`[url with & has broken](https://demo.rocket.chat/channel/general?test=test&test2=test2)`
becomes a link to https://demo.rocket.chat/channel/general?test=test&amp;test2=test2
( `&` is replaced to `&amp;` )

I think this is because of 590d120ff16c388a5

[2017-04-19 03:16] heunland commented on #4921
We have experienced the same problem on our rocketchat at https://community.storj.io and urgently need for this new permission type to be implemented in order to let mods and admins delete troll and spam posts after the time set for message deleting has run out.

[2017-04-19 06:53] rrepolona commented on #4432
I have the same issue :(

using the latest ubuntu lts, rocketchat version and snap version

[code]

[2017-04-19 07:00] fadanner opened #6723 "Sending selected messages via mail not possible on android app"
Rocket.Chat Version: 0.55.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Android Rocket.Chat app from Google Playstore

When i try to send messages via mail and i use the button "choose messages" it isn't possible to select any messages on my smartphone, because the right sidebar keeps open only, there is no space with the messages. If I go back via the "android back button" it tooks me to th

[2017-04-19 08:26] Devact commented on #5165
The same problem here.

[2017-04-19 08:26] Devact commented on #4155
The same problem here.

[2017-04-19 08:33] k0nsl commented on #6669
Upgrading to Rocket.Chat `0.55.0` solved it.

[2017-04-19 08:33] #6669 closed

[2017-04-19 08:41] bartroff commented on #6678
Thanks @sampaiodiego works now like charm, also logs issue is gone.

[2017-04-19 08:53] alexbrazier opened #6725 "Usernames are still being displayed with use real name setting enabled"
Rocket.Chat Version: 0.55.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: Docker image

Some people's usernames are still being displayed in the direct messages list, instead of full names with the Use real name setting enabled.

This caused an inconsistent look with a mixture of usernames and full names.

(All users have set their full name)

[2017-04-19 09:05] danpospisil commented on #6725
We have the same issue - user has full name in the actual chat window, but the header and user lists shows username for the user. @alexbrazier - since you are the author of this, do you have any fix available?

[2017-04-19 09:06] alexbrazier commented on #6725
Related to #3851 and #6597

[2017-04-19 09:08] alexbrazier commented on #6725
@danpospisil The names are now loaded using the cache, but for some reason it does not seem to be pushing everything to the client side. I will have a look later today, but @rodrigok will probably have more of an idea what the issue is?

[2017-04-19 09:39] Nemra1 opened #6726 "Should Not Show Mute/Block/Kick Buttons for The Current User"
The last Version in RC
I can block myself in private chat room also i can mute my self in public chat room and private group !!
this is normal???
![2017-04-19_113247](https://cloud.githubusercontent.com/assets/22897987/25173509/b32630da-24f4-11e7-8cc3-134ed30fa391.jpg)

[2017-04-19 09:42] willihelm commented on #6535
Fixed this by deleting the subscriptions of the effected users in mongoDB. After that I had to restart the server and the users had to relogin.

[2017-04-19 09:57] Flipez commented on #6172
As far as I can tell this is currently not supported but should not be too hard to implement.

Maybe something like "fullname" with an Array of LDAP-Keys is possible?

[2017-04-19 10:00] vyasjay2793 commented on #2556
@jonbaer I have read all you mentioned above
"Make a copy of rocketchat-theme to (your-company)-theme and then swap the packages ...

meteor remove rocketchat-theme
meteor add (your-company)-theme
mv rocketchat-theme out of /packages
... customize ...

Then create a server/startup.coffee which will update Layout_Home_Body, Layout_Home_Title, Layout_Login_Header, etc."

But, can you please guide me

[2017-04-19 10:03] razanjoshi opened #6727 "Only 46 users are displayed in the Users grid even-though there are more users."
**Rocket.Chat Version: 0.51.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: 4.6.2 - x64**
-------------------------------------

The Users page from the Administration displays only 46 users even though there are more users in the database.

**Screenshots:**
<img width="941" alt="screen shot 2017-04-19 at 3 45 32 pm" src="https://cloud.githubusercontent.com/assets/4223130/2517455

[2017-04-19 10:11] Molle500 commented on #4845
It might have been fixed, i saw there was a few lines at lingohub that wasn't translated with "File Uploaded". I will check after next lingo update :) @engelgabriel

[2017-04-19 10:35] JakeSteam opened #6728 "Direct message conversations can be archived, but not unarchived"
Rocket.Chat Version: 0.54.2

Type `/archive` in a private conversation and the room will be archived, with no option to unarchive it.

The archive option is hidden from the room's info, but directly entering the command is not forbidden.

https://i.imgur.com/fdiOyE9.png

[2017-04-19 10:44] Reamer commented on #6535
How looks your mongodb-Query?

[2017-04-19 11:29] willihelm commented on #6535
db.getCollection('rocketchat_subscription').find({ "name": "username1", $and: [ { "u.username": "username2" } ] })
db.getCollection('rocketchat_subscription').find({ "name": "username2", $and: [ { "u.username": "username1" } ] })

[2017-04-19 11:38] danielo926 commented on #4975
good idea!

[2017-04-19 11:41] Nemra1 opened #6729 "TypeError: C annot read property 'names' of undefined"
Rocket.Chat Version: 0.55.0

THis happend in Rocket chat Developer version 0.55.0 And Stuck on this

[code]

[2017-04-19 11:53] TheAngryFox commented on #3413
Having exactly the same issue! Has there been any progress with this issue recently?

[2017-04-19 12:07] Nemra1 commented on #6638
you can creat blank page and add all channels in the content like this
![2017-03-26_160956](https://cloud.githubusercontent.com/assets/22897987/25179284/80e56da6-2509-11e7-9af8-0ad70262e72c.jpg)

[2017-04-19 12:10] Nemra1 commented on #6624
samething her

[2017-04-19 12:11] Nemra1 commented on #6622
make screen of that

[2017-04-19 12:46] phutchins commented on #4921
Yeah, this is really biting us right now. Almost bad enough to make this a non viable solution.

I would go as far as to say that this is a bug as an administrator should be able to delete any message and requiring an admin (or sysadmin) to delete a message via the DB isn't super reasonable...

[2017-04-19 12:50] The-Big-V commented on #5178
Is there anything further on this? I notice a new amd64 snap was released today (19 April), but armhf still won't update past 0.39

[2017-04-19 13:10] Rohlik commented on #6687
This would be nice.

[2017-04-19 13:26] MartinSchoeler commented on #6716
@tempestb  Thanks for reporting this issue. We value your time in helping us to make Rocket.Chat great. We always try to fix confirmed problems as quickly as we can, and it appears that the issue you reported might already be fixed in the latest release. Can you please help us test it against current latest release? Much appreciated. And please remember to backup your data before upgrading, just t

[2017-04-19 13:50] jonbaer commented on #2556
@vyasjay2793 Sorry I don't think what I wrote applies any longer (considering the ticket is closed and was applied to an earlier version of Rocket.Chat), poking around you should probably look at the official docs: https://rocket.chat/docs/developer-guides/ui-and-theming/ https://github.com/RocketChat/Rocket.Chat/issues/277 or hop on the #support channel in the demo.rocket.chat.

[2017-04-19 14:19] MartinSchoeler commented on #6728
This still happens on the latest version, and also throws this error on the server console
<details>

[code]

[2017-04-19 14:26] geekgonecrazy commented on #5178
@The-Big-V I'm working on this still.  Automating is still a bit off.  But working on getting an updated snap manually published for you guys. I'm currently away from my arm server until next week. I'll send an update here as soon as I'm able to do either

[2017-04-19 14:26] el-dom opened #6730 "'Collapse embedded media' option hides quotes"
Rocket.Chat Version: 0.55.0
Running Instances: 1

Steps to reproduce:
- Go to account settings
- Set option 'Collapse embedded media by default' to true
- Enter any chat
- Quote something

Actual behaviour: The quoted text is not visible and there is no icon to expand it
Expected behaviour: Beforementioned option should either not affect quoted text at all or there should be an icon to expand coll

[2017-04-19 14:34] MartinSchoeler commented on #6726
Yes, also mute/remove from room buttons aren’t necessary. Will rename the issue to reflect that

[2017-04-19 14:46] Nemra1 commented on #6726
@MartinSchoeler i think the members dont need to mute himself or block himself  ...this option must to be for others not for myself ...

[2017-04-19 15:12] tobru opened #6731 "TypeError: Converting circular structure to JSON"
Rocket.Chat Version: 0.55.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.1

The following error pops up every few minutes:

[code]

[2017-04-19 15:19] danpospisil opened #6732 "LDAP sync - TimeLimitExceededError for bigger LDAP database"
We have LDAP database which ldiff is over 300 Mb (because of user photos). When we try to run LDAP sync we get "TimeLimitExceededError". Is there any way how to increase this timeout? Thanks!

Full error is following:
[code]

Rocket.Chat Version: 0.55.0
Running Instances: 2
DB Replicaset OpLog: Enabled
Node Version: 4.8.1

[2017-04-19 15:35] ArchimedesFM commented on #6490
@soundstorm We installed a completly new System today with Rocket.Chat 0.55.0 - same behavior than before. New Ubuntu 16.04 LTS Server without any Data-Backup of the old System.
Installation of Rocket.Chat 0.55.0 via snap
We changed nothing, only created the Administrator-Account:
![rocketchat](https://cloud.githubusercontent.com/assets/26709898/25188399/2f0022de-2526-11e7-8ee9-ec3f50675f75.jpg)

[2017-04-19 15:59] MatthiasKainer opened #6733 "WebApi - /api/v1/users.create never returns on fresh instance"
Rocket.Chat Version: 0.55.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.1

Hejhej,
Using the official rocket.chat docker image, using the WebApi to create a user never returns a callback.

Steps to reproduce:

[code]

Am I too stupid to setup a working docker instance, or is there a bug?

[2017-04-19 16:07] qeesung commented on #6733
+1

[2017-04-19 16:10] ryran commented on #2588
If the 3rd option really is automatically applied for private channels, then yes, this would make things work more how I think most people would expect. However, one should not have to edit channel settings or user roles to achieve this.

[2017-04-19 16:36] graywolf336 commented on #6733
I just tired this locally and also in our hosting service, which uses docker, with the same exact curl command you provided and it returned the data.

@geekgonecrazy any ideas?

[2017-04-19 16:45] asifkh11 commented on #6489
Can i setup 4 rocketchat instances on the same server and use single instance of Mongodb locally installed?
also which file do i touch to address the below error
Error: $MONGO_OPLOG_URL must be set to the 'local' database of a Mongo replica set
Though i do not have replica, just a single instance

[2017-04-19 16:50] MatthiasKainer commented on #6733
@graywolf336 I tested it with one of our rocket.chat inprod instances and funny enough - it worked as well.  Locally same issue though. Difference is mongo replica set instead of single, and setup mail server. And lots of custom emojis...
I'll search for more differences

[2017-04-19 16:56] geekgonecrazy commented on #6733
@MatthiasKainer first one i'd give a shot is trying to use replica set and see what difference that makes.

[2017-04-19 17:03] qeesung commented on #6733
I tried the `users.create` interface with postman , and got the exception

[code]

[2017-04-19 17:03] asifkh11 commented on #5669
which systemd file did you add that into ?

i just added the Environment="MONGO_OPLOG_URL=mongodb://USERNAME:PASSWORD@SERVER:27017/admin?replicaSet=001-rs"

[2017-04-19 17:28] geesper commented on #6067
Try changing your MONGO_OPLOG_URL to this:

`mongodb://user:pwd@localhost/oplogdb?authSource=dbname`

I have been struggling with this for a while and this is what got it to work for me. I'm also configured with mongodb running in a replicaset.

[2017-04-19 17:30] tempestb commented on #6716
Thank you Martin, we'll go ahead and update Rocket.Chat.  I appreciate you letting me know this was addressed.

[2017-04-19 17:30] #6716 closed

[2017-04-19 17:37] dimti commented on #6710
Google Chrome, Firefox, and on Electron similar view. An other separate account and an two many computers

[2017-04-19 17:39] amelieq-c opened #6736 "Not possible to configure upload of JSP(X) files"
Rocket.Chat Version: 	0.53.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

Hello,

In the Administration panel > File Upload > Accepted Media Types
All kind of configuration has been tried to allow upload of JSP(X) files, but no effective result. Few examples:
text/jspx,application/jspx,text/jsp,application/jsp,text/html,application/html,application/xhtml+xml

Any glue w

[2017-04-19 18:02] Ulrar commented on #6725
I had to delete my conversations and re-create them to fix that. Not a huge deal, but losing the history is unfortunate. You do consider that a bug then, should I tell my users to wait before deleting their conversations too ?

[2017-04-19 18:11] MatthiasKainer commented on #6733
@geekgonecrazy no difference with replica. Other diffs are domain whitelisting and user has to be validated manually.

This happens with the 0.45.2 version from rocket.chat as well as with the 0.55 rocketchat/rocket.chat

postman times out with `could not get any response` for me as well. I'll debug some more, see what I can find.

[2017-04-19 18:28] graywolf336 commented on #6733
@qeesung that's an occur that states what it is wrong, you don't have permission to do that or user registration is disabled.

[2017-04-19 18:42] graywolf336 commented on #6728
Best way to fix your current issue, open the room in Chrome then open developer tools and run the following Javascript code in the console: `Meteor.call('unarchiveRoom', Session.get('openedRoom'))`

[2017-04-19 18:43] JakeSteam commented on #6728
@graywolf336 Thanks for the workaround, will try when back in the office.

I believe we got our sysadmin to unarchive it directly in the db, but good to know there's a less drastic solution.

[2017-04-19 18:47] karlprieb commented on #6710
@dimti can you update your instance to version 0.55 and test again?

[2017-04-19 19:23] geesper commented on #6630
Did you find an answer to this?

Is your mongodb running a replicaset? What is your MONGO_OPLOG_URL set to?

[2017-04-19 19:30] joshzitting commented on #2639
I need this feature too! any progress?

[2017-04-19 19:45] geesper commented on #4996
@Prakharsvnit I believe that's related to new users where the "Join default channels" box is checked. It makes sure that they join the channels that are marked as default.

[2017-04-19 20:37] amelieq-c commented on #6305
+1 approuved

[2017-04-19 21:51] dimti commented on #6710
Updated to 0,55.0. Right bar with big margin from right side.

Maybe problem in node v4.4.6. Used node version by default 0.10.46, but on that node version exists problems with bcrypt npm package. And after up to 0.55 (or after my handle changes in node_modules/.../bcrypt package files, i see other error in journal if started rocket chat on node  v0.10.46

[code]

On node v4.4.6 rocketchat started

[2017-04-19 22:05] #2707 closed

[2017-04-19 22:29] #6728 closed

[2017-04-19 22:30] #6329 closed

[2017-04-19 22:37] sinteur opened #6738 "mongodb at 100% cpu for 30 secs"
Rocket.Chat Version: 0.55
Running Instances:
DB Replicaset OpLog: 2 mongo's in a failover
Node Version:

had an chat that was running slow every now and then until it was almost unworkable. Noticed mongo cpu was at 100% for longer and loner periods. Found these in the mongo log:

``` ```
 2017-04-19T22:17:15.504+0200 [conn79] command meteor.$cmd command: update { update: &quot;users&quot;, updates

[2017-04-20 00:22] mineZcash opened #6739 "Deleted User Still Shows "unread message" Notification"
Hello, I run the rocket chat at chat.zcashcommunity.com

Recently I had to remove a user who was not abiding by the chat rules. I disabled the account (username jessicaLawson) and deleted the user which removed all their messages.

But now one user (zooko) is still stuck with a permanent notification of an unread message from the deleted user which cannot be cleared

Log shows: `[34mI20170419-23:3

[2017-04-20 02:52] engelgabriel opened #6740 "Upgrade from emojione v2 to emojione v3"
https://github.com/Ranks/emojione/blob/master/UPGRADE.md

Refactor to avoid having to run the compile script manually on updates.

[2017-04-20 04:41] ehginanjar commented on #2181
+1

[2017-04-20 04:42] ehginanjar commented on #4858
+1

[2017-04-20 05:58] sinteur commented on #6738
current suspicion: each login via the API leaves a token behind

[2017-04-20 06:07] MatthiasKainer commented on #6733
I've pushed the tests where this issue appeared on travis, and works there without issues. Seems to be an issue with my local configurationn. I'll close this issue and fix my machine

[2017-04-20 09:12] TheReal1604 opened #6742 "If windows is in specific resolution, the right side bar is not working correctly"
Rocket.Chat Version: 0.54.2
Running Instances: 3
DB Replicaset OpLog: Yes
Browser: Internet Explorer

If i resize the rocket.chat browser windows to a minimized resolution like in the screenshot. In Internet Explorer the side bar is not working correctly. Only the "show room members" is working correctly. On Google Chrome all is working fine.

![image](https://cloud.githubusercontent.com/assets/58

[2017-04-20 09:17] TheReal1604 opened #6743 "iFrame Integration support for Internet Explorer 10"
Rocket.Chat Version: 0.54.2
Running Instances:  3
DB Replicaset OpLog: Yes
Browser: Internet Explorer 10

If i embed rocket.chat as an iFrame into a sharepoint site, the 3 dots are spinning like crazy and nothing happens.

![image](https://cloud.githubusercontent.com/assets/5877910/25223011/720f254a-25ba-11e7-8139-9f5159b5a808.png)

![image](https://cloud.githubusercontent.com/assets/5877910/25223

[2017-04-20 09:50] sinteur commented on #6738
ok confirmed, each API login adds a hashedToken that's never removed. One of our script writers had a cron job that logged on each minute instead of re-using the received hashedToken

[2017-04-20 10:45] Nemra1 opened #6744 "Future: add font picker for Msg input box / Convert text formating code to buttons"
I hope from the team to add this futures in the next version
First 1- color picker
![2017-04-20_114740](https://cloud.githubusercontent.com/assets/22897987/25224763/a943aa0e-25bf-11e7-98ac-0ac7fbc931e9.jpg)
with option in dashboard ( enable and disable )
![2017-04-20_123054](https://cloud.githubusercontent.com/assets/22897987/25226444/42cfbe10-25c5-11e7-8eed-a76d6008f6ba.jpg)
Seconde 2- Convert bo

[2017-04-20 11:15] reist commented on #4988
I'm getting it since 0.55.0-rc.4. 0.55.0-rc3 still worked...and limit-rated. Probably has to do with pull #6659 fixing #5491 as it's the only thing changing userId to Meteor.userId in between the two (and not in 0.55.0, as the releases page says)

[2017-04-20 12:55] sampaiodiego commented on #6740
SVGs are now at premium license :disappointed:

[2017-04-20 13:03] MartinSchoeler commented on #6739
@mineZcash Have you tried `ctrl`+`esc` shortcut? It marks all messages as read. Thanks!

[2017-04-20 13:09] MartinSchoeler commented on #6742
Hey @TheReal1604 are you using any custom css?

[2017-04-20 13:19] MatthiasKainer commented on #6733
*good* news everyone - travis has replicated the issue successfully:

[travis://qeesung/rocketchat-node#223946970](https://travis-ci.org/qeesung/rocketchat-node/builds/223946970)

The failing test has the same issue that happens to me locally. Restarted the build already, issue was reproducible.

[2017-04-20 13:20] sander3 commented on #3099
Please do! 👍

[2017-04-20 13:29] TheReal1604 commented on #6742
Not in this deployment of rocket.chat. ;-)

[2017-04-20 13:42] MatthiasKainer commented on #6733
very flaky though - for this build it is reproducible, newer builds work. Maybe some docker-version stuff? I'm on 1.12.3.

[2017-04-20 13:46] MatthiasKainer commented on #6733
running this in a loop on a instance where this does not occure I had some timeouts as well - user was created. Seems as if something after the initial creation is slow and thus timing out.

[2017-04-20 14:16] mineZcash commented on #6739
I will have the user try and get back to you, hopefully its that simple :)

[2017-04-20 14:39] designgurudotorg commented on #6717
@sampaiodiego have you guys seen the twilio implementation allow 2 way sms through livechat?  Don't think I've configured anything wrong so I'm not sure if this s a bug with RocketChat or something on Twilio's side to edit.

Here are the steps I did to get Twilio working with RC:
1. Got a new number from Twilio
2. Filled in the RC API url as attached (of course using my appropriate URL)
3. In RC f

[2017-04-20 14:45] designgurudotorg commented on #6717
OMG, I had typed in my Twilio Account SID wrong!  That was the only problem going on, once I fixed that I immediately saw 2 way SMS working fine.

This feature is a *game changer* :)

[2017-04-20 14:45] #6717 closed

[2017-04-20 14:59] geekgonecrazy commented on #4432
@rrepolona it looks like from that you are trying to set the path to /var/rocketchat. Snaps are isolated environments with restricted access to the filesystem for security.  That folder is not accessible by the snap

[2017-04-20 15:39] designgurudotorg opened #6745 "Twilio integration doesn't use MMS? Also, RC sent Emojis not rendered on cellphones"
@sampaiodiego Any idea why emojis from iOS get rendered in Rocketchat when using Twilio/SMS in livechat but RocketChat-created emojis don't render on the receiver side? The receiving cellphone sees emojis from RC as :grin: for example (and not the emoji itself.)

*Also it looks like RC only sends/receives SMS - MMS messages sent to a Twilio/SMS/Rocketchat number show up as empty messages.

![scree

[2017-04-20 15:43] athossouza commented on #6402
Now I'm using the 0.55.1 version and also not work this

[2017-04-20 16:37] sampaiodiego commented on #6745
RC does not use UTF8 characters for emojis, that's why it's not rendered on phone.

[2017-04-20 16:41] designgurudotorg commented on #6745
AH! Okay, so the only way to do this properly then is to paste in the UTF emoji into RC chat - it seems to show up fine then on both sides (ref: http://unicode.org/emoji/charts/full-emoji-list.html)... though copying and pasting from elsewhere is a pain...

[2017-04-20 16:42] designgurudotorg commented on #6745
What about the MMS question @sampaiodiego ? The current RC-Twilio implementation is SMS only right? Any plans to expand that to optionally allow MMS?

[2017-04-20 17:15] designgurudotorg opened #6746 "Changing default livechat SMS message when no agents online"
I just noticed that outside of business hours, or when there are no agents online using livechat, the default SMS message when someone texts RocketChat is "Sorry, there are no online agents."

_Where can this be custom configured? Haven't seen anything in the admin UI._

Ideally we'd have some settings for these cases stored in say Livechat > SMS and include the following options:

1. Custom autor

[2017-04-20 17:25] designgurudotorg commented on #1824
+1 for multiple conditions on triggers! @alexdorn87 msg me if you need more of a functional spec.

[2017-04-20 17:44] rabidang3ls commented on #6477
I'm having this same issue. Would be great if @mcgoosh would provide a few more details about the solution.

[2017-04-20 18:21] christopherturner commented on #5461
@engelgabriel That would be absolutely awesome.

[2017-04-20 19:06] Molle500 commented on #5168
@MartinSchoeler I think this is fixed. I will close it and re-open if i see the bug again.

[2017-04-20 19:06] #5168 closed

[2017-04-20 19:08] Molle500 commented on #4100
i think this is fixed. I will close this issue and then re open it if it happen again

[2017-04-20 19:44] reist commented on #4988
Additional information - 0.55.0-rc.4 broke updating of both email and username fields.
Before that version, only updating of the name field was broken. All other updates don't seem to have the rate-limiting checks and as such are free to update.

[2017-04-20 20:16] designgurudotorg commented on #6746
Apparently the 'Sorry, no online agents' message prints within the livechat widget on the web as well - if someone sees the active chat window but then all agents log off; the message will print as below.  _Of course, this isn't ideal - we need some workflow as I suggested above to capture the person as a lead despite no agents being online..._

![screen shot 2017-04-20 at 4 13 51 pm](https://clou

[2017-04-20 21:47] alexbrazier commented on #6725
I'm unable to recreate this locally with a 1000 users, but it is still persistent on our production system, with about 20% of users still showing their username. It also seems to be random which users are just showing the username, and it seem to change at times. (from what I've noticed, it seems to be gradually picking up more names, rather than losing them)

[2017-04-21 04:30] rrepolona commented on #4432
@geekgonecrazy

i see, actually had the transition from the manual installation to snap (by restoring mongo db to parties)
rocket.chat system went well for the whole week having this configuration '/var/rocketchat' it only acts i believe when our team made some update to integration. (but not sure if this is related)

currently running it like this (as mention by @jGleitz )

but i will check this,

[2017-04-21 07:27] jeromepin opened #6748 "Per-OAuth-service roles definition"
Rocket.Chat Version: 0.56.0-develop
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.8.1

In the continuity of my issue #5842 (and the PR #6028), I would like to be able to specify custom roles per-services. I would need to tell that "every users coming from Github should have the github role", and "every users coming from our custom OAuth system (keycloak-like) should have the s

[2017-04-21 07:40] WebSavvyGuy commented on #4103
Any update on this?

[2017-04-21 07:45] WebSavvyGuy opened #6749 "Deleting old messages?"
Rocket.Chat Version: 0.55.0 rc-6
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.5.0

Hi

Is there a way to delete (prune) old messages automatically?  Ideally i would only want something like the last 50 messages posted to the room to be saved and viewable for any particular user.

I am rather new to Rocket.chat and did not find this function.   It seems to store the entire history sinc

[2017-04-21 07:53] WebSavvyGuy commented on #6749
Just found a similar request #795 but no progress for a couple years.

[2017-04-21 07:58] ghost opened #6750 "Require Two Factor Auth for external authenticators"
Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog: off
Node Version: 4.7.3

Hello Devs.

I have an issue with 2FA. After enabling it i can still login without entering a 2FA code. Is that a known issue?

thanks and cheers

[2017-04-21 08:38] BirknerAlex opened #6751 "Memory leak in latest version"
Hello,

we have updated our Rocket.Chat instance 2 days ago. Since this update we have a crash for one time per day. It looks like a memory leak. The memory usage is growing slowly for the instance.

I've attached the latest crash dump.

Rocket.Chat Version: 0.55.0
Running Instances: 1
Node Version: 4.5.0

[code]

Regards
Alexander

[2017-04-21 08:48] dytec commented on #6516
There was a PR for this feature but it got deprecated: #4142

[2017-04-21 08:59] bbrauns commented on #6738
I have several scripts doing continous logins too. Do the login tokens not expire over time ?

[2017-04-21 09:03] sinteur commented on #6738
apparently not.

[2017-04-21 09:10] chrbo commented on #6738
We can also confirm that there is no handling which removes created tokens. Can anybody clarify when they can be removed?

Does the tokens expire at any time? Are all of the tokens usable or perhaps only the last?

What could be the best option to remove "old" tokens centralized?

[2017-04-21 09:15] a5his commented on #1746
+1
It would be really better to have this feature to save the context of the user (across all the devices). As a user, I will always prefer to see my last active chat room rather than the home screen whenever I log in.

[2017-04-21 09:23] neerajshree commented on #3499
Hey @hExPY , how to get online user's list using **API** ?

[2017-04-21 09:45] ghost opened #6752 "How to prevent turning off video ?"
Hello. How to prevent "Video for xxx has been turned off to save bandwidth" ?
Is there any configuration in order to keep the video running ?

Regards

Rocket.Chat Version: 0.55.0-rc.5
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.8.0

[2017-04-21 10:58] TheReal1604 commented on #6751
For sure the same issue like in https://github.com/RocketChat/Rocket.Chat/issues/6143

[2017-04-21 11:23] BirknerAlex commented on #6751
Oh didn't saw this issue. Yeah sounds like the same one, except that we aren't running the chat inside a Docker container.

We used a much older version before, not sure which one exactly but some 0.4X version. Since the update we have this issue.

Should I close my issues here?

[2017-04-21 11:52] raelsan commented on #6713
Up

[2017-04-21 13:10] nickbunker opened #6754 "Registration Hangs "method RegisterUser""
Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: 4.8.1

When I have users register for a new account it has a 2 minute hang between "Register new account" and when the username screen loads.
I have tested that I don't see this error when running the snap version of Rocket.Chat.
I only see this error when running the GitHub version.
I had the same issue on

[2017-04-21 14:00] steveyj79 commented on #6206
I would love to see this fixed too, we have a site that allow for multiple sign in's using the same email address

[2017-04-21 14:38] Prakharsvnit commented on #1746
Related [#4966](https://github.com/RocketChat/Rocket.Chat/issues/4996). I had discussion with @sampaiodiego and found [this](http://stackoverflow.com/questions/19617803/meteor-js-make-session-object-partially-persistent). Please share your views @geekgonecrazy @marceloschmidt

[2017-04-21 15:18] kevincolten opened #6755 "Secret Registration page breaking"
Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog:
Node Version: v4.8.1

The secret registration page is breaking since, at least, the latest update. You are left at the loading screen with this error in the console

[code]

[2017-04-21 16:39] jszaszvari commented on #6749
@WebSavvyGuy - You could easily script it with the API to remove all messages older than lets say 30 days using the cleanHistory method. That would at least limit the amount of messages stored. It's not 50 messages but better than nothing :)

https://rocket.chat/docs/developer-guides/rest-api/channels/cleanhistory

Just set 'latest' as 30 days ago and 'oldest' as a date from 1 year ago, then run t

[2017-04-21 17:57] jszaszvari commented on #6749
Although the disk space usage should be minimal, we just hit 80,500 messages total and are using 700mb disk space in Mongo - So I'm not sure I'd worry about the last 50 messages....

<img width="592" alt="screen shot 2017-04-22 at 3 54 23 am" src="https://cloud.githubusercontent.com/assets/872463/25290113/d5e689b8-270f-11e7-848b-31ff47ab6f87.png">
<img width="365" alt="screen shot 2017-04-22 at 3

[2017-04-21 18:14] graywolf336 commented on #6754
Seems related to: https://github.com/RocketChat/Rocket.Chat/issues/6733

[2017-04-21 19:12] designgurudotorg commented on #6516
Thanks for the link @dytec ... so the PR relied on code which was changing but has anything happened since that to make rich media and link previews show up in the livechat widget? Anything planned in the product roadmap?

q./

[2017-04-21 20:11] alexbrazier opened #6756 "Add Social Media Links on userpage"
Issue copied from RocketChat/Rocket.Chat.Electron#419 by @ST-KW

## Description

As a user I want to add my social media links (github, xing, linkedin, twitter, facebook, instagram, flickr, youtube, google+) to the user page in the app / web.

![image](https://cloud.githubusercontent.com/assets/25076997/25004788/567c2e90-2056-11e7-97e3-3a603b942555.png)

#### Current Behavior

It's not possible to

[2017-04-21 20:15] alexbrazier opened #6757 "Add Active Directory Fields on userpage"
Issue copied from RocketChat/Rocket.Chat.Electron#418 by @ST-KW

## Description

As a user I want to see some active directory fields like phone number, mobile number or position at the user page in the app.

![image](https://cloud.githubusercontent.com/assets/25076997/25004788/567c2e90-2056-11e7-97e3-3a603b942555.png)

#### Current Behavior

It's not possible to show additional Information at the

[2017-04-21 20:24] #6255 closed

[2017-04-21 20:44] Nosferous commented on #6406
@engelgabriel Searching by first name now works for me in version 0.55.0 I cannot comment regarding searching by email address since my users rocket chat username matches their email address usernames.

[2017-04-21 20:46] Nosferous commented on #6006
Confirmed that first name and full name searches are working again. Thank you for fixing this! I can now move forward with deployment!

[2017-04-21 22:18] janat08 opened #6759 "Begin adapting import modules in anticipation of lazy/dynamic loading for Meteor at 1.5"
It's difficult to tell which library belongs in what package especially when they're acronyms. It would be great to have imports for this purpose. For those unaware meteor will be adding dynamic loading for faster first page loads.

[2017-04-22 00:42] bstone108 commented on #5178
anything I can do to help with these builds?  I'm setting up a rpi to use as an active public chat server for me and a bunch of friends.  Don't mind testing a bit.  built on ubuntu core.

[2017-04-22 00:48] WebSavvyGuy commented on #6749
@jszaszvari Thanks for the reply.    We will look into something like that.  We run a popular website that we might eventually migrate over into Rocket.chat.   We probably would get well over those numbers you have each DAY, so that is why were looking for something that will prune messages down.    The last 50 number is just kind of like what our current chat application does.   It only shows (ca

[2017-04-22 00:54] gdelavald commented on #6739
I couldn't reproduce this in the current develop branch, my steps were:

After step 4, there were no messages from the deactivated/deleted user. I tried deleting without deactivating as well as just deactivating the new account, neither produced the above.

[2017-04-22 02:42] mineZcash commented on #6739
I'm not sure what the issue is, but the notification is stuck in the loop of continually trying to fulfill the unread request. here is the log from a few minutes ago:

`[34mI20170421-19:26:45.161(0) Empty Room for Subscription { _id: '5YPxqdWuqDZwAgvr7',   rid: 'mevnj6TkuP58hHqXixBwG23PKugnMNyLDp',   name: 'jessicaLawson',   t: 'd',   open: true,   alert: true,   unread: 1,   u: { _id: 'xBwG23PKug

[2017-04-22 05:43] PacketPerception commented on #6238
After current updates, this issue seems to have resolved itself. Closing

[2017-04-22 05:43] #6238 closed

[2017-04-22 08:30] crisbal commented on #4103
i'm also interested on this. It is very confusing for new users to see rocket.cat, it can be easily confused for a real user, especially with the auto-reply feature to message like "Hello", "Goodmorning".

[2017-04-22 09:09] vyasjay2793 commented on #3270
Hello,
Can someone help me that how i modify the"powered by rocket.chat" on the login page??

[2017-04-22 09:58] jszaszvari commented on #3270
You can hide/remove it with some custom CSS.

Go into Settings -> Layout -> Custom CSS and pop this in there

.powered-by {
  display: none;
}

On 22 April 2017 at 7:09:57 pm, Jay Vyas (notifications@github.com) wrote:

Hello,
Can someone help me that how i modify the"powered by rocket.chat" on the
login page??

—
You are receiving this because you are subscribed to this thread.
Reply to this emai

[2017-04-22 10:02] WebSavvyGuy opened #6761 "Copy and Paste Disable (but keep for Admins/Owners/Moderators) ?"
Rocket.Chat Version: 0.55.0-rc6
Running Instances: 1
DB Replicaset OpLog:
Node Version: 4.5

Hi

Was just wondering if there is an easy way to disable the copy and paste feature as sometimes it is used to spam on our chat rooms.   The ability to remove this option would help fight alot of spamming especially when a moderator isn't around.

But i think giving permissions for moderators/admins to us

[2017-04-22 11:06] lewizho99 commented on #3317
@galmok  yeah i noticed that... any ideas on how to solve that issue?

[2017-04-22 17:25] BigBoiJefe opened #6762 "Use existing user database"
I wanted to know if it's possible to use an existing user database with RocketChat.  I have users logging into a frontend site and want to eliminate the need for them to create an account in RocketChat.  Any ideas?

Thanks!

Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog: ?
Node Version:	v4.8.1

[2017-04-22 22:58] BigBoiJefe commented on #5927
Has there been any resolution to this?  I'm currently using a e107 cms and i'd like to get this working.

[2017-04-22 23:17] mrgnr commented on #6755
I just upgraded from 0.47.1 to 0.55.1 and am seeing a similar issue. The secret registration page just hangs with the loading animation. I don't see an exception, but I see the following in the logs:

[code]

I'm running on Ubuntu 16.04 with Node 4.5.0.

[2017-04-23 02:13] wandonye opened #6763 "Integrate OneSignal for universal push notification"
Rocket.Chat Version: 0.51
Running Instances: 1
DB Replicaset OpLog: none
Node Version: 7.7.2

Working on push notification for react native app. It seems the existing push notification for Cordova doesn't work in my case. Probably creating a OneSignal version of [cordova.js](https://github.com/RocketChat/Rocket.Chat/blob/develop/server/lib/cordova.js) will solve the problem.

If there is any easie

[2017-04-23 08:37] Nemra1 commented on #6756
nice idea and already do it in my version

[2017-04-23 09:57] cyclops24 opened #6764 "Can't run "meteor npm install" because chromedriver not reachable."
Rocket.Chat Version: 0.56.0-develop (2017-04-18)
Running Instances: 1
DB Replicaset OpLog: none
Node Version: v6.10.2

Hi guys,
I try clone this repo and then run "meteor npm install" for install dependencies but it's return below error:

[code]

Can you help me to fix this?

[2017-04-23 11:20] Nemra1 opened #6765 "Video Recorder In worng position"
Rocket.Chat Version: 0.55.1
As u see
![2017-04-23_131614](https://cloud.githubusercontent.com/assets/22897987/25313081/a69ef76c-2827-11e7-8492-6f67c214ba8a.png)

[2017-04-23 11:55] cyclops24 commented on #5592
Hi @engelgabriel  and @rodrigok ,
I have same problem.
Can you help me to fix this?

[2017-04-23 12:21] cyclops24 commented on #6764
It's because `https://chromedriver.storage.googleapis.com/2.29/chromedriver_linux64.zip` not reachable from  my Internet connection. I don't know why.
Can someone help me to fix this?

[2017-04-23 12:27] cyclops24 commented on #3089
@unixfox I have same problem. How you fix this issue?

[2017-04-23 12:28] cyclops24 commented on #3089
I think this issue related to #5592

[2017-04-23 12:33] saeedjalali1 commented on #3089
+1

[2017-04-23 12:34] saeedjalali1 commented on #5315
I have the same problem.

[2017-04-23 12:41] cyclops24 commented on #271
+1 for react-native android and ios app.

[2017-04-23 12:41] cyclops24 commented on #1680
+1 for use React instead of Blaze.

[2017-04-23 13:53] amenk opened #6766 "Front-end quicksearch not working on real names"
Rocket.Chat Version:  0.55

From: https://github.com/RocketChat/Rocket.Chat/pull/6597#issuecomment-296444373

Test case:
1. I have a active direct chat with Mustermann, Max ( username: mmn)
2. Press Ctrl+K
3. Type "Max" or "Mustermann"
4. Result is not appearing, even in the list is shown mustermann, max
5. Wait a second
6. Result is shown (probably coming from the server)

[2017-04-23 17:36] DanManB commented on #6624
I like this feature.

[2017-04-24 03:31] vyasjay2793 commented on #3270
@jszaszvari Thank you dear.

It's worked!

[2017-04-24 03:35] vyasjay2793 opened #6769 "Integrate with Zendesk"
Hello,

Can someone help me for integrate Rocket chat with Zendesk in details.

Here below details of Rocket.Chat

Thanks

Rocket.Chat Version: 0.55.0
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: 4.5.0 x64

[2017-04-24 05:33] evtuhovdo commented on #3862
+2

[2017-04-24 07:38] Nemra1 commented on #6761
@WebSavvyGuy this for evry user...
<body oncopy="return false" oncut="return false" onpaste="return false">

[2017-04-24 07:57] Flipez opened #6770 "Hide Emojis in links"
Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.8.1

We sometimes have the issue that a link contains a MAC address which matches an emoji (such as flags).
Since I normally do not want emojis in my link this should be disabled somehow.

[2017-04-24 08:25] WebSavvyGuy commented on #6762
I am also wondering about this such as using an existing vbulletin database or other forums software.

[2017-04-24 08:46] ArchimedesFM commented on #5033
Is the bug still present in Rocket.Chat 0.55? In our Installation the button doesn't work at all (the button is visible). The Debug-Log doesn't even show a Method / Trigger.

[2017-04-24 09:46] BirknerAlex commented on #6751
I close this, found already a existing issue #6588

[2017-04-24 09:46] #6751 closed

[2017-04-24 09:53] scj643 commented on #4575
It isn't open source sadly

[2017-04-24 09:54] BirknerAlex commented on #6588
We ran into the same issue, our instance is crashing each day. We have ~ 50 online users around the clock. That should be fine.

Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

The latest crash report:
[code]

Our custom systemd unit does a great job on restarting the crashed instance but this always results in a unexpected downtime.

I've seen

[2017-04-24 12:50] MartinSchoeler commented on #6755
@ggazzo is this related to the conversion from coffee of this file?
 https://github.com/RocketChat/Rocket.Chat/blob/e5ca5b88fa02f4f62db4e71fa8d333ba3b1df1ab/packages/rocketchat-ui/client/views/app/secretURL.js

[2017-04-24 12:56] piotrwlodarczyk opened #6772 "Problem with LDAP login"
Rocket.Chat Version: 	0.55.0-rc.3
Running Instances: 1
DB Replicaset OpLog: Disabled
Node Version: v4.5.0

Hi,

I observe a problem with loggining to rocket using LDAP. Some background:  in my company we have Active Directory and LDAP is used only as a proxy. I turned on LDAP login and turned off registration. It's because we need only AD users on our chat. Everything works fine until AD rules for

[2017-04-24 12:56] arjamizo commented on #6536
is there any progress on this task?
Thanks

[2017-04-24 13:17] rasos commented on #6281
You may need to enable CORS at Jitsi Meet's nginx: https://enable-cors.org/server_nginx.html

[2017-04-24 13:42] rasos opened #6773 "Trigger notification with Jitsi "Click to join" video call"
When starting a video call with Jitsi meet, a button "Join video call" appears.
However, this does not trigger a push notification nor is a new message number or a highlighting of the group in the left bar shown. This way, users are not notified about invitations to video chats.

Our Rocket.Chat Version: 0.52

[2017-04-24 13:51] zagy commented on #4923
We also happen to have a "non working upload" sometimes. What it comes down to is that rocket.chat creates /tmp/ufs on start and then never again. When tmpwatch finds the old directory a few days later it happily removes it. Rocket.chat fails then with `ufs: cannot write chunk of file "tTeMYrLLjYZ6Dk2tM" (ENOENT: no such file or directory, open '/tmp/ufs/tTeMYrLLjYZ6Dk2tM')`. It would be helpful t

[2017-04-24 14:02] whuber-work opened #6774 "Livechat Routing Method not changeable"
Rocket.Chat Version: 0.52
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: v4.7.3

Livechat Routing Method is set to Least Amount. It's not possible to set it to Guest Pool.

[2017-04-24 14:26] rasos opened #6776 "How to remove orphan push tokens?"
We see many push tokens in the log as a queue, which could not be delivered and then hold back new push notifications. This is happening e.g. to users, who do not have an Android phone with Google services enabled, and then switch to another device with Google service enabled. They never get a push notifications, even after weeks.

[34mI20170424-16:09:06.164(2) Push: Could not send notification id

[2017-04-24 14:45] DanManB opened #6777 "Default Selector For Channels Missing"
Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: v4.8.0

The default selector for channels seems to be gone. This is a big issue for my team as we have an announcements channel.

[2017-04-24 15:10] piotrwlodarczyk commented on #6772
Possible reason is that line:

https://github.com/RocketChat/Rocket.Chat/blob/master/packages/rocketchat-ldap/server/loginHandler.js#L112

User created by LDAP doesn't have ldap property

[2017-04-24 15:33] joergludwig commented on #736
We switched to Rocket.Chat for communication in our company. Every user runs the desktop app on his computer. It would be very useful if we could see, who is working at his computer and who is not at his desk. In the past we used Pidgin with an XMPP server, which did this well.

Rocket.Chat should switch a user to "away", if he does not move the mouse for 5 minutes, and switch back to "online", as

[2017-04-24 15:40] tmyoungjr opened #6778 "Slack import not completing"
Rocket.Chat Version: 0.55.1
Running Instances: 1
DB Replicaset OpLog: Enabled (if this is whats being asked)
Node Version: 	v4.8.0

Went to import a slack backup into my brand new install of rocket.chat (I made zero changes to the admin section).   The server got VERY slow during the import and it took a very long time.  I let it run through the weekend.  Upon my return this morning I see users /

[2017-04-24 15:45] geekgonecrazy commented on #6588
@BirknerAlex ah!  You are spot on!  Does appear nodejs limits its self to 1.76GB of memory.  Adding the flag `--max_old_space_size=4096` should allow it to use all available memory.

So switching the command to something like: `node --max_old_space_size=4096 main.js` of course swapping the number to how ever many Megabytes of memory you wish to allow.

@oliver-bowman this might also solve the prob

[2017-04-24 15:54] geekgonecrazy commented on #5178
if you want to give it a try you can download and use the classic snap on ubuntu core using:
`sudo snap install classic --edge --devmode`

Then type: `sudo classic` and it'll drop you into a chroot where you can try building.  The code for the multi-arch snap is currently at: https://github.com/rocketchat/rocketchat-server-snap

Once I get it all working i'll be merging the changes there here into

[2017-04-24 15:57] dmeziere opened #6779 "Login API response format"
Rocket.Chat Version: 0.55.0-develop
Running Instances: 1
DB Replicaset OpLog: active
Node Version: v4.7.3

When login is successfull via the API, the resulting json feed contains a success attribute:
{status: 'success'}

But when an error message is returned, the answer's structure changes :
{body: {status: 'error'}}

Preventing to handle properly the status attribute

NB: This doesn't happen on a

[2017-04-24 16:47] graywolf336 commented on #6779
Kind of a duplicate of this comment: https://github.com/RocketChat/Rocket.Chat/issues/5316#issuecomment-269027879 however this error is because we are using a tool developed by someone else for the rest api backend piece, so it is tough to change.

[2017-04-24 16:49] graywolf336 commented on #6778
[code]
Seems to be an issue with the uploads

[2017-04-24 16:50] graywolf336 commented on #6745
@sampaiodiego can we use emojione to translate them into the UTF8 emojis? This could even be done on push notifications so emojis are rendered in push notifications. :)

[2017-04-24 16:52] tmyoungjr commented on #6778
I forgot to note that this is Ubuntu 16.04 and I'm running the snaps (as is obvious in the log files above).  I saw the behavior during my first install so I wiped the VPS, built another from scratch and re-installed the snaps.   Same behavior again.

[2017-04-24 16:53] sampaiodiego commented on #6745
yes @graywolf336 .. I tried already doing that for push notifications.. but it was more work to do than I thought initially :stuck_out_tongue:

[2017-04-24 16:54] graywolf336 commented on #6733
This stems from https://github.com/RocketChat/Rocket.Chat/issues/6754, so when that gets fixed then this will resolve automatically.

[2017-04-24 16:54] #6733 closed

[2017-04-24 17:26] graywolf336 commented on #6745
Aww that's too bad :(

[2017-04-24 17:27] graywolf336 commented on #6778
Yeah, seems something change either internally inside of Rocket.Chat or with Slack exports and the downloading of the files from Slack and into Rocket.Chat is breaking things.