[2019-01-18 11:24] sampaiodiego commented on #13015
should we close this?

[2019-01-18 11:36] zpavlig commented on #13164
thx, i updated rocket.chat 0.73.2, but nothing has changed.

[2019-01-18 11:53] iegik opened #13190 "[ru] "Chat Now" button for leader in chatroom"
## My Setup
- Operating System: macOS Mojave
- App Version: latest
- Installation type: dmg

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
![screenshot 2019-01-18 at 14 31 02](https://user-images.githubusercontent.com/175293/51384577-d440b700-1b2d-11e9-859c-ad3b9e5658f7.png)

### Current Behavior
![screenshot 2019-01-18 at 14 31 02](https://user-

[2019-01-18 12:13] MarcosSpessatto commented on #12733
@Gemorroj I did some tests in the latest version and it worked well. Can you please update your server and try again? And if the problem still there, please let me know. Thanks.

[2019-01-18 12:41] #13171 closed

[2019-01-18 12:52] TheNullPlayer commented on #10714
They should use connect-mongo. https://www.npmjs.com/package/connect-mongo
Implementing it is easy.

[2019-01-18 13:00] hari319 commented on #12870
@MarcosSpessatto but as if we are using Admin token, it should show us the all things. If using admin token i can see the all private groups , but can see the owner. this is making me some problem. i think it should be change, so that an admin can have access to all things, or else for private groups, admin can do, when someone makes something wrong or something is wrongs in groups. I hope you can

[2019-01-18 13:01] BlueTac92 commented on #13189
I've seen this a few times, usually after upgrading rocketchat. Restarting the rocketchat service usually resolves it form me though I'm not sure why it happens.

[2019-01-18 14:09] moonwolf-github opened #13191 "WebDAV big file and crash"
### Description:

I've recently enabled WebDAV integration (with out Nextcloud) and was trying to send big file (>100MB). Max file size set in rocket is 12MB. After a few minutes server has crashed.

### Steps to reproduce:

1. Add WebDAV integration
2. Send big file

### Expected behavior:

If file exceeds rocket limit it should not be sended, file should be sended otherwise.

### Actual behavior

[2019-01-18 15:05] Hudell commented on #13151
That's right! There's a setting there that does it for OAuth service, so you can just make another one similar to that.

[2019-01-18 15:45] cyohman opened #13193 "Timeout trying to Connect to Rocket.Chat Server from Windows Rocket.Chat Client"
Reference ticket: Rocket.Chat Electron Issue 1065.

https://github.com/RocketChat/Rocket.Chat.Electron/issues/1065

Not sure if it's a client or server issue. Thanks!

[2019-01-18 16:00] reetp commented on #13148
https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/

"When will my snap installation get the latest release?
Snaps are one of our biggest install base. They are also auto updating. As a result we like to spend more time testing before releasing. Updated Snaps are usually released around the 15th of the month - around 2 weeks after a new release. This gives us time to look for i

[2019-01-18 16:05] MalloryThomas commented on #13189
I've downloaded the newest version from the site. This is the version that downloads. Restarting the RocketChat service unfortunately hasn't helped. We were able to upload with no issues before updating the apps. Now, however, it seems that it's impossible to do so.

[2019-01-18 16:06] reetp commented on #4780
It is in the documentation
https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/

[2019-01-18 16:11] reetp commented on #13164
Fill in the bug report properly please. No one can help you otherwise as you have not provided enough information.

[2019-01-18 16:14] reetp commented on #5506
@SteveUNSW
As per Diegos comment please follow up in the forums

[2019-01-18 16:34] reetp commented on #13189
Can you follow this guide please.

https://rocket.chat/docs/contributing/reporting-issues

Then fill in some more of this information.

Which storage file type do you use?

What do your rocketchat and/or server/proxy logs tell you?

[2019-01-18 17:57] cezario commented on #12324
Same here,  when I use "go" command and `?layout=embedded` the iframe is showing the menu.

Tested in version 0.73.0 and 0.73.2

[2019-01-18 18:38] sampaiodiego commented on #6523
we have updated notifications logic and this should be fixed now.

please let me know if this is still an issue and I reopen it.

[2019-01-18 18:38] #6523 closed

[2019-01-18 19:00] sampaiodiego commented on #8659
we have made many changes on push notifications logic, this should be fixed by now.

please let me know if it is still an issue.

[2019-01-18 19:00] #8659 closed

[2019-01-18 19:03] sampaiodiego commented on #7795
we have updated notifications logic and this should be fixed now.

please let me know if this is still an issue and I reopen it.

[2019-01-18 19:03] #7795 closed

[2019-01-18 19:06] sampaiodiego commented on #6801
I'll be closing this due to inactivity please let me know if this is still an issue and I reopen it.

[2019-01-18 19:06] #6801 closed

[2019-01-18 19:07] sampaiodiego commented on #7127
closing as duplicate of https://github.com/RocketChat/Rocket.Chat/issues/2192

[2019-01-18 19:07] #7127 closed

[2019-01-18 19:11] sampaiodiego commented on #9702
you can create tokens that never expires on "Personal Access Tokens" sections of your account.

Regular login tokens will expire as usual.

[2019-01-18 19:11] #9702 closed

[2019-01-18 19:51] robertwessen commented on #13110
Is this as simple as adding additional User-Agents and feeding them the "legacy" bundle? Or does it require using the legacy bundle for all browsers?

I applaud any efforts to cut down on unnecessary polyfills and taking advantage of meteor's logic here, but if it's broken, it's broken. I know Edge is a small portion of overall traffic, but its still large enough to warrant an official minor point

[2019-01-18 21:49] mddvul22 opened #13195 "Adding New User Erroneously Modified EVERY fname value in db.rocketchat_subscriptions"
### Description:

We had a new user log into our Rocket Chat instance today.  When this happened, Rocket Chat decided to modify every fname value in the db.rocketchat_subscriptions collection, to that of the new user.  This resulted in the left panel index, showing every user in the company with this name! This happened for every single user in our Rocket Chat instance!  In every user's session, e

[2019-01-18 21:59] geekgonecrazy commented on #4780
To clarify it was merged today as well as 0.73 released to stable channel today :) . But yes can now set environment variables as described in that document

[2019-01-18 22:01] geekgonecrazy commented on #13095
@piepie314 which docker container are you using?  What version of Ubuntu/docker running underneath?

[2019-01-18 22:22] reetp commented on #13147
And the next one to try is getting your node more up to date.
The docker version runs node v8.11.4 so I'd take a look at that next.
FWIW docker also runs npm 5.6.0

[2019-01-18 23:36] Byt3rus commented on #12324
Worked for me,this is what I was looking for!!!

[2019-01-19 00:04] slyk opened #13196 "Auto-restart after every message sent"
### Description:

I got RocketChat server snap version 0.73.2 on Ubuntu 16.04.5 LTS (GNU/Linux 4.4.0-141-generic x86_64) at DigitalOcean. Almost every time I send direct message I see that client had lost connection... rocketchat-server is restarting.

The message is send ok, so when server is restarted I see that message.

### Steps to reproduce:

1. Rocketchat Server from Snap with data
2. Send

[2019-01-19 00:46] slyk commented on #13196
Seems like there can be problems with SMTP mail config.
Another one config that I'm trying to turn off or revert to defaults... right now, after clearing SMTP config fields messages sent ok, without restarting... We'll try using it actively in next monday, to understand is it really the case.  If so, the good idea would be to catch this error and tell people where is the problem.
I'll keep you inf

[2019-01-19 01:51] bkraul commented on #11230
Was the commit supposed to correct this? I have just pulled dc2005b76d8f4e315ebed6e06126102148672e0e, and the problem seems to persist:

![image](https://user-images.githubusercontent.com/14616851/51420737-6bbbff00-1b5a-11e9-886b-e35c1f91a83c.png)

[2019-01-19 03:39] sampaiodiego commented on #13195
thanks for the very detailed report! I have a script to fix the subscriptions in case this happen. I can send to you if you find useful. In the meantime I'll take a look why this is happening.

[2019-01-19 03:51] sampaiodiego commented on #13195
@mddvul22 is the setting `Username Field` filled in on your LDAP settings?

[2019-01-19 05:52] mddvul22 commented on #13195
@sampaiodiego Thanks for the replies!  1. As for the script to fix the subscriptions, yes, please send it to me.  This would be very much preferable to our restoring from backup.  2. The username field is left empty in the LDAP settings of our Rocket Chat Administration section.  Also, should it be useful to know, the LDAP attribute that identifies the LDAP user who attempts authentication is uid.

[2019-01-19 07:04] Zegorax commented on #1112
A problem with this PR :
If threads are already created and a new user registers to the RocketChat server, it's impossible for him to see messages in the threads.

[2019-01-19 11:47] rodrigok commented on #11230
@bkraul unfortunately no, the FIX does not fix the avatars already uploaded, just for new ones. The ones already uploaded lost their transparency to a black background, so it's impossible to convert back and we can't revert the Rocket.Cat one cuz some installations may have changed the Rocket.Cat's avatar. In this case you will need to reupload the Rocket.Cat's avatar manually.

[2019-01-19 12:08] bkraul commented on #11230
@rodrigok, I see...however, this being stock Rocket.Cat avatar, where would one find the original stock Rocket.Cat logo in order to re-upload?

[2019-01-19 12:58] sampaiodiego commented on #13195
thanks @mddvul22 .. looking at code I found a situation where having the username field empty might cause that.. I'll give this a try..

you can use the following script to fix all subscriptions `fname`.. please use with caution, make a backup of the collection first:
[code]

[2019-01-19 14:08] bkraul commented on #11230
@rodrigok, I just realized...how do I re-upload the Rocket.cat avatar, since uploading avatars require you log in as the acccount you want to change the avatar for? If I set a password for the Rocket.cat bot, will that break its bot funiitonality? Apologize for the many questions.

[2019-01-19 14:11] mddvul22 commented on #13195
@sampaiodiego I really appreciate your assistance on this.  I have one question regarding your script.  Can I run this from within the mongodb shell?  Or do I need to call it from a command line prompt?

[2019-01-19 17:54] rodrigok commented on #11230
@bkraul It will not break the bot functionality, unfortunately the only way now to change the Rocket.Cat's avatar is doing what you described, logging in using the Rocket.Cat account.

[2019-01-19 18:00] bkraul commented on #11230
Thanks. So I re-uploaded. I took the time to read through your commit code and see that this is not really transparency, only exchanging the black background for a white background. This would cause issues with dark style themes, but I don't have those at the moment so I am good. Thanks for the help!

[2019-01-19 18:03] rodrigok commented on #11230
@bkraul We have plans to start accepting PNG as well in the near future, but right now I'm just fixing the black background 😄

[2019-01-19 18:12] #13030 closed

[2019-01-19 18:16] #13116 closed

[2019-01-19 18:19] #13099 closed

[2019-01-19 20:16] #6305 closed

[2019-01-19 21:54] moonwolf-github commented on #13191
Same for 0.72.1.

[2019-01-20 01:05] Yvvw commented on #971
Support for third-party image proxies should really be considered. Image proxies (Internal, or third party) are standard in every competing platform. And critical for user privacy in any situation which allows public access to a chat.

Mattermost implemented third-party proxy support all the way back in early 2018
mattermost/mattermost-server/pull/7991

[2019-01-20 01:13] Yvvw commented on #10876
The [referrer-policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy) could be used to globally modify referrer behavior.

Having this as a selectable option might be good, or it could simply be set at a reverse proxy running in front of rocketchat.

[2019-01-20 08:34] rupinder0007gill opened #13198 "Heroku one click build is failing from master branch"
### Description:
Heroku one click build is failing from master branch.
whenever try to open application after build error page is coming..

### Steps to reproduce:

1. Click 'one click build.'
2. Go to  'view app' after build complete
3. Application error

### Expected behavior:
should Ask for admin info.

### Actual behavior:
crash
### Server Setup Information:
Heroku

[2019-01-20 12:56] ArjonBu commented on #13015
The docker container is not updated yet. Do you guys plan to do this?

[2019-01-20 14:33] guillaumerybak opened #13200 "Clustering not working when using a ROOT_URL with a subpath"
### Description:

When configuring a ROOT_URL for Rocket.Chat on a subpath (ex: https://awsome.tld/rocketchat1), the clustering feature does not seem to work properly. The instances are discovered, but the broadcast status as displayed in the admin's information page ("Current Status > Connected") is always empty and the "Current Status > Status" is either set to "waiting" or "connecting" but neve

[2019-01-20 17:43] ggruber4711 commented on #658
+1
I would love to see this feature as well. We have multi-tenant HR webapp which would strongly benefit from a Rocket.Chat integration. However the tenants need to be seperated. the only cross-org chat would be between tenant and Sass-Operators (Support)

[2019-01-20 18:59] #12282 closed

[2019-01-20 21:13] ChrissW-R1 commented on #9611
Yes, it is possible to manage the roles via the administration GUI. But there is no option to add or remove users to/from channels! It's the same, to change the channel specific roles.

[2019-01-20 22:33] sampaiodiego commented on #13195
@mddvul22 yes it is intended to be run from mongodb shell.

[2019-01-20 22:46] asunyer90 opened #13202 "Problem with IRC federation"
Hi!
I'm getting this when trying to send one message even from irc to rocket or viceversa:

[irc][server][err] { Error: This socket has been ended by the other party
    at Socket.writeAfterFIN [as write] (net.js:364:12)
    at RFC2813.write (packages/rocketchat:irc/server/servers/RFC2813/index.js:115:22)
    at RFC2813.sentMessage (packages/rocketchat:irc/server/servers/RFC2813/localCommandHandle

[2019-01-20 23:41] pshute commented on #1112
@robbyoconnor @Zegorax may be referring to the behaviour of the test site, where clicking on the Thread button for a thread you're not already part of doesn't do anything. Only way I fond to get into them is to use the channel directory, and try to work out which one it is.

Hopefully this has been fixed in the code by now, just not running on the test site.

[2019-01-21 05:49] Zegorax commented on #1112
Yes, it's exactly that behavior

[2019-01-21 06:30] zpavlig commented on #13174
@MarcosSpessatto thank you very much! I update rocket chat to 0.74.0-develop and upload file with webdav ok.

[2019-01-21 06:30] #13174 closed

[2019-01-21 06:42] mrsimpson commented on #1112
Please discuss the PR in the PR. This issue should be implementation agnostic.
https://github.com/RocketChat/Rocket.Chat/pull/11803#issuecomment-455963816

[2019-01-21 08:34] chrismaes87 opened #13205 "File upload of file without extension creates unhandled promise rejection and failing downloads"
### Description:

uploaded files without file extension are not handled correctly

### Steps to reproduce:

1. as admin: allow all file types for upload
2. Uploading file.txt and downloading it works fine.
3. uploading file (without extension) --> download does not work. Logs complain about unhandled promise rejection

### Expected behavior:

works like any other file

### Actual behavior:

downlo

[2019-01-21 09:04] peterkogit opened #13206 "[BUG] File upload"
Rocket.Chat Version:  0.72.2 0.72.3 0.73.2
Node Version: v8.11.3
Storage type: GridFS

Hello. We have been using Rocket.chat for more than 3 months. And they noticed a bug, if, when downloading a file, change its name, the extension disappears from it and it cannot be deleted.

And when downloading multiple files, you can make the send button all, and not reap the send every time.

I apologize for

[2019-01-21 09:55] chart41 commented on #12423
Hi Kailash0311. I don't mind if everyone thinks so

[2019-01-21 10:13] asunyer90 commented on #13202
Solved, have to use last version of ngircd

[2019-01-21 14:05] Kailash0311 commented on #6985
@gdelavald or @satyapramodh can you do PR review of it ?
thanks :)

[2019-01-21 17:18] computerManiac commented on #12423
@Kailash0311 There's already a pending PR for this issue

[2019-01-21 18:32] Kailash0311 commented on #12423
But that's like 2 months old, if its okay I'll work on it. I am really interested. :)
Thanks!

[2019-01-21 19:13] geekgonecrazy commented on #13202
Thanks for following up with the solution

[2019-01-21 19:13] #13202 closed

[2019-01-21 19:16] geekgonecrazy commented on #13200
This one makes sense since at somepoint when setting in ROOT_URL rocket.chat now listens for the subdirectory path instead of the root.

So if website.com/rocketchat the actual instances are now listening at: 10.42.12.64:3000/rocketchat

Seems the event streams weren't updated to take that into account.

@RocketChat/core

[2019-01-21 19:19] geekgonecrazy commented on #13196
Please let us know if you narrow down what field being incorrect is causing this to fail.

[2019-01-21 21:14] ohmonster commented on #13069
@rodrigok when I make those changes, and click the button on the LDAP settings page, it has essentially the same effect -- users I expect to see updated are not updated, but new users are imported.

However, in looking at the code again, it looks as if the cron job uses a code block not called by anything else -- sync.js, function sync().

So I bumped my Background Sync Interval to a higher freque

[2019-01-22 03:58] SteveUNSW commented on #658
+ 1 we have a workaround at the moment where we just have multiple instances on a server with different domains (chat1.domain.com and chat2.domain.com) but its super inefficient.

Any ideas on how to make this better?

[2019-01-22 04:12] iamtpage opened #13215 "File upload cached even when file is changed"
### Description:

If you upload a file as a message attachment and then change the file contents, when you re upload the file as a message attachment it still shows up as the old file unchanged. If you delete the message and re upload the file, the new file is then actually displayed/uploaded

### Steps to reproduce:

1. Upload file as message (http://acme.com/video.mp4)
2. Change file, but keep f

[2019-01-22 10:32] efih opened #13216 "Can't see content message - Android App"
Hi
In the android app , we cannot see the content in the chat

1. open the app
2. go to the chat

Please see the attached file, its happened to all users and all of the kind phones (android and ios)
the language is Hebrew

- Version of Rocket.Chat Server: 0.73.2
- Operating System: Ubuntu
- Deployment Method: snap
- Number of Running Instances: 20+
- DB Replicaset Oplog: no
- NodeJS Version: v8.11

[2019-01-22 10:42] iegik opened #13219 "Remove channel count"
## My Setup
- Operating System: macOS
- App Version: 2.14.7
- Installation type: dmg

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
![screenshot 2019-01-22 at 13 32 03](https://user-images.githubusercontent.com/175293/51529876-ba171980-1e4a-11e9-9e0f-c4fc92b16084.png)

### Current Behavior
Shows channel count

### Expected Behavior
Show unread me

[2019-01-22 11:10] MrHpower commented on #13191
In version 0.74 the webdav conf will be updated

[2019-01-22 13:02] Kalt commented on #11717
Same issue here for version 0.73.2...

[2019-01-22 13:44] TwizzyDizzy commented on #13041
Hi everybody,

I cannot confirm, that the fix is working in `0.74.0-rc.0`. I'm running MongoDB 2.6, though, not 3.2 as described here.

Log output on clicking on the members icon:

[code]

Please let me know, whether I should open a new issue for this one or whether we'll handle it here :)

Greetings to Porto Alegre!
Thomas

[2019-01-22 13:58] TwizzyDizzy commented on #13041
Ha! My bad. Then, indeed, I'll have to schedule a migration from 2.6 to >= 3.2. Closing again.

Cheers
Thomas

[2019-01-22 13:58] #13041 closed

[2019-01-22 15:13] pwittke commented on #9632
Any News?

[2019-01-22 15:22] wreiske commented on #12743
I've noticed that often times the "unread" red bar in channels does not go away, even though you click out of the conversation, click in, move around, etc.

[2019-01-22 15:32] Althoefer commented on #12199
I think this was fixed in 0.71.0. At least it works for me now.
![screenshot 2019-01-22 at 16 30 10](https://user-images.githubusercontent.com/23298361/51545884-34ec2e80-1e63-11e9-99a7-33e522566c25.png)
[Here](https://github.com/RocketChat/Rocket.Chat/pull/12398) is the pull request FYI

[2019-01-22 15:39] ggazzo commented on #13164
hey @zpavlig we strongly recommend you to use a > 0.70 version.
how many concurrent users do you have?

[2019-01-22 15:51] Centzilius opened #13220 "OAuth having problems if a dot is an attribute in the Identity Path"
### Description:

When using Azure AD as OAuth2 provider and using https://graph.microsoft.com/v1.0/me/ as Identity Path you get the following error on log in (server log):
[code]
The content of https://graph.microsoft.com/v1.0/me/ is the following:
[code]
### Server Setup Information:

- Version of Rocket.Chat Server: 0.73.2
- Operating System: CentOS 7
- Deployment Method: docker
- Number of Run

[2019-01-22 16:26] geekgonecrazy commented on #12788
Going to go ahead and close this as the fix is now added to the documentation thanks to @gerricom

link for reference: https://rocket.chat/docs/installation/manual-installation/centos/#configure-the-rocketchat-service

[2019-01-22 16:26] #12788 closed

[2019-01-22 16:47] moroq commented on #12199
Seems to be ok now. Amazing!

[2019-01-22 17:07] #13195 closed

[2019-01-22 19:06] dannysauer commented on #1593
Lack of message formatting documentation is referenced in RocketChat/docs#971

[2019-01-22 19:06] NateDreier commented on #6545
@snoopotic, have you heard anything? I will be needing to migrate from LDAP -> Crowd in the next 2 months and just started researching.

[2019-01-22 19:38] engelgabriel commented on #10530
@octanefilms I've just tested with the latest version of RC in my Safari and seems to work after I have allowed it to access to my mic.

![screenshot 2019-01-22 at 17 35 35](https://user-images.githubusercontent.com/1000217/51560682-661d2c80-1e6c-11e9-9f66-16ef3a5254f5.png)

Can you please let me know if it is fixed?

[2019-01-22 19:48] engelgabriel commented on #10530
@horvan have you tested with the latest version of RC server?

[2019-01-22 20:46] paulstephan commented on #12783
Any workarounds for these issues in Internet Explorer? It would be great to at least get the login screen  fixed!

[2019-01-22 23:20] iamtpage commented on #13215
I also would like to add that the rocket chat android app does not experience this issue, only the web chat client

[2019-01-22 23:47] maste9 commented on #11823
I want to migrate a community of health service coworkers from an old schooled mailing list to something more private where conversations are not stored hundreds of times unencrypted in personal email accounts on several servers.
Because of this the option to turn off email notification in general or to exclude content information is a killer feature in this use case.
Of course I could change the

[2019-01-22 23:50] reetp commented on #13205
As per bug reporting guide here
https://rocket.chat/docs/contributing/reporting-issues

Please test on latest (docker should be 073.x)
Also check for other bugs as I think there is already an open issue on filenames without extension.

Thanks.

[2019-01-23 02:34] Atomicbeast101 commented on #2192
Is this feature in consideration of being implemented at some point in the future?

[2019-01-23 07:47] Shaverdoff commented on #9632
in last FF there are no call button on dm. only strange block. in desktop electron client to - no call button.

[2019-01-23 09:12] mixrat commented on #9632
Hmm, I think you are right @Shaverdoff. I have an old RC 54 installation and the button is still there (for Chrome and FF) but once the other party accepts the call, there is no conversation status indicator and the call does not connect.

[2019-01-23 10:10] marcoj commented on #11355
We're having exactly the same issue. any news on this? The Stride end date is coming close and Rocket is exactly what we need...

[2019-01-23 10:47] artem-levashov commented on #11355
We was able to move from hipchat to rocket only by longway workaround. We have dowkoaded history by small periods. Each file was no more then 100mb maybe less. We spent about 1.5 weeks to upload history of 2 years.

[2019-01-23 11:16] #13206 closed

[2019-01-23 11:16] peterkogit commented on #13206
The bug is noticed, only in the Windows 10

[2019-01-23 11:18] marcoj commented on #11355
Well, we're trying to import only the chat rooms + users and that's around a 2mb file... so file size is not the issue

[2019-01-23 11:31] jandeger commented on #11355
In the new version 0.74 that is coming I saw there was something fixed for HipChat import. From the support they told us that they only support import from HipChat not Stride, I think it's the same format of the export file though. Anyway, we have give up and are moving to Slack, quite good offer the first year for the paid plan.

[2019-01-23 12:04] vdvas opened #13228 "Caddy SSL error"
Hi.
I install rocket chat on Ubuntu 18 and want to configure SSL.
sudo snap get rocketchat-server
Key Value
caddy enable
caddy-url https://rocket-chat.domain.com
https disable
port 3000

Hostnamectl settings dns name as rocket-chat.
In Active Directory DNS i create manual A record.
On public DNS I create manual A record for rocket-chat.domain.com with public IP.
Command “sudo snap set rocketchat-s

[2019-01-23 13:07] zeled commented on #13147
downgrade bcrypt to 3.0.0 solved the problem

[2019-01-23 13:30] osarrat commented on #1771
On our side, we would also love to have this feature.

Is it better to reopen this issue, or to create a new one ?

[2019-01-23 13:54] stoficek commented on #13147
Yes thanks all. Upgrading to node v8.11.4 helped. But after upgrading I have another problem. After one day of usage server runs out of memory and I have to reboot rocketchat.

[2019-01-23 14:16] artem-levashov commented on #11355
Check room topics. We had problem with import when russian letters was used in room name

[2019-01-23 14:18] artem-levashov commented on #11355
Antoher problem was withusers with same email but different names

[2019-01-23 15:03] horvan commented on #10530
@engelgabriel Tested with latest stable from January

[2019-01-23 15:12] devsigner opened #13229 "Script restart attempt"
### Description:

After upgrade the Rocket.Chat server, the server doet not start. It reboot again and again....
### Server Setup Information:

- Version of Rocket.Chat Server:  rocket.chat-0.73.2.tgz
- Operating System: debian_version stretch/sid
- Deployment Method: meteor
- Number of Running Instances: 2
- DB Replicaset Oplog: 3
- NodeJS Version: 4.2.6

Error Log:
[code]

[2019-01-23 15:37] horvan commented on #10530
Even in Android Oreo voice messaging in Google chrome doesn't work.

[2019-01-23 16:31] chellem commented on #658
Make a master instance and from it, the ability to create as many instance that you want dynamically.

[2019-01-23 16:36] AHassanabadi opened #13230 "Input file is missing or of an unsupported image format, Avatar sync problem"
I have integrated Rocket with a LDAP server, everything is working nice except Avatar, I just added a profile picture for user on LDAP server and sniff the packet between Rocket Server and LDAP server, I haven't seen `thumbnailphoto` before adding thumbnial for a user, but after adding thumbnial I have see the packet and Serach LDAP  attributes  contains `thumbnailphoto`, I have set Rocket log lev

[2019-01-23 17:17] horvan commented on #10530
By the way what is used for audio recording in Rocketchat? Webrtc or Recordrtc?

[2019-01-23 17:19] horvan commented on #10530
By the way what is used for audio recording in Rocketchat? Webrtc or Recordrtc?

[2019-01-23 17:50] petersonbasso commented on #13001
+1

[2019-01-23 17:58] LeeThompson commented on #7246
It would be best if RocketChat itself could retry connecting to the db instead of throwing an exception.

Environment variables could control how long to wait between attempts and when to give up.

[2019-01-23 19:04] oCa-flash commented on #9834
Since then, nothing has been decided? Similarly disabled Atlassian crowd but still does not synchronize passwords.

[2019-01-23 19:41] rtarantelli commented on #12219
Hi @RocketChatApp and @geekgonecrazy, any news about this bug? Say yes, please!

[2019-01-23 19:55] rtarantelli commented on #13189
Hi guys, I have the same problem here. Sometimes it works, sometimes it does not. Bad experience.

[2019-01-23 20:02] alexis- commented on #11593
According to the logs of my local postfix relay, which forwards to an external email service, the <from> field is empty for the registration verification email.

[2019-01-23 22:08] mialynx opened #13241 "bad email check"
Cant create user with email user@testlocal.net
error "Invalid domain"
[34mI20190123-22:01:53.770(0) server.js:197 Meteor ➔ method insertOrUpdateUser -> userId: AbWBr9Aq8j99JJwnt , arguments:  [ { name: 'user',     username: 'user',     email: 'user@testlocal.net',     verified: false,     password: 'MdELyXGNa23BECjad',     requirePasswordChange: false,     joinDefaultChannels: true,     sendWelcom

[2019-01-23 22:14] LeeThompson commented on #6899
This is an essential feature, especially in cases where the URL for intranet access is different from external.
Would also be helpful if you could wildcard the protocol (i.e. allow both http and https)

[2019-01-24 04:03] Kailash0311 commented on #12423
@reetp can you please look at the PR and comment? thanks :)

[2019-01-24 05:00] geekgonecrazy commented on #12219
I’m not sure what would even cause this.  Would have to defer to @RocketChat/frontend maybe they know?

Not sure if even still an issue

[2019-01-24 05:11] geekgonecrazy commented on #5020
adding contrib easy pr’s for sure welcome.  🙂

[2019-01-24 05:14] geekgonecrazy commented on #13101
@rodrigok do you have any ideas on this one?

[2019-01-24 05:33] geekgonecrazy commented on #12693
The problem is we really don’t have enough information to go on.

If small amount of memory with mongo and rocket.chat in same system.  It could be a memory struggle.

Would be interesting to see stats from Prometheus or system graphed so we could see if a pattern associated with freezes

[2019-01-24 08:21] jankogaga commented on #12693
Before installation of any SW on Rocket Chat, could you please tell me if you know how to configure a memory usage of Rocket Chat?
Here is the output of free command (one more time Rocket chat is installed as a Docker and it uses all host's resources - there is no HW resource isolation)
[root@rocket /]# free -h
                     total        used       free          shared        buff/cache   a

[2019-01-24 08:25] aexonicarindam opened #13242 "Livechat error when heroku deployment"
Getting below error from livechat, when uploading code to heroku

remote: sh: 0: Can't open /tmp/build_105cbca9643cc71bd3c64ef90735818b/packages/rocketchat-livechat/plugin/build.sh
remote: /app/tmp/cache/meteor/.meteor/packages/meteor-tool/.1.8.0_1.1m0lub4.07ltj++os.linux.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.linux.x86_64/dev_bundle/lib/node_modules/meteor-promise/promise_server.

[2019-01-24 09:43] horstepipe commented on #2737
can anyone guide through an fail2ban implementation?

[2019-01-24 10:13] overfl0 opened #13243 "Cannot destructure property `versions` of 'undefined' or 'null' during checking for updates"
### Description:

The server hangs during the boot up procedure, when checking for updates and an error happens during that process. See stacktrace at the end.

### Steps to reproduce:

(Re)start the server, although it most probably is caused by `https://releases.rocket.chat/updates/check` returning a wrong response, during the check.

### Expected behavior:

The server starts

### Actual behavio

[2019-01-24 10:15] horstepipe commented on #9233
thank you very much @ulope
I'll try it out

[2019-01-24 11:01] rajak68amit commented on #10075
Hello @rocket-cat

Issues resolved.

[2019-01-24 12:05] horstepipe commented on #9233
Hey ulope,
could you please give me some further guidance? I installed Rocket.Chat via snap btw.
I managed to start the mongo console, but it looks like it opens an empty database.
With db.stats() it shows

`{
        "db" : "test",
        "collections" : 0,
        "objects" : 0,
        "avgObjSize" : 0,
        "dataSize" : 0,
        "storageSize" : 0,
        "numExtents" : 0,
        "index

[2019-01-24 13:11] marceloschmidt commented on #7286
This is not our vision for the product. We're not implementing. Feel free to implement this as an app. Thanks.

[2019-01-24 13:11] #7286 closed

[2019-01-24 13:19] marceloschmidt commented on #7307
We have plans of implementing this with the Rocket.Chat Apps.

[2019-01-24 13:31] ruKurz opened #13247 "Getting lose of group ownership"
## Description
If the last owner of a channel has been locked, there is no way to create a new owner for that channel.

## Steps to reproduce
1. Create a mew private group being logged in with user X
2. Logout and login with an Admin user
3. Try to add a new owner without using the login of user X

## Environment
RC: 0.71.1
Platform: linux
Architektur: x64
Node-Version: v8.11.4

## Background
When

[2019-01-24 13:32] marceloschmidt commented on #7553
We've implemented the auto-prune feature, which may solve this problem for you. Thanks.

[2019-01-24 13:32] #7553 closed

[2019-01-24 13:34] tassoevan commented on #10530
@horvan We transfer the data captured from an AudioContext to a web worker for MP3 encoding; no WebRTC or Media Recording API is used.

[2019-01-24 13:34] engelgabriel commented on #7490
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/971

[2019-01-24 13:34] #7490 closed

[2019-01-24 13:35] engelgabriel commented on #971
https://github.com/RocketChat/Rocket.Chat/issues/971

[2019-01-24 13:37] engelgabriel commented on #9575
Duplicated of https://github.com/RocketChat/Rocket.Chat/issues/971

[2019-01-24 13:38] engelgabriel commented on #9575
Duplicated of https://github.com/RocketChat/Rocket.Chat/issues/971

[2019-01-24 13:38] #9575 closed

[2019-01-24 14:22] engelgabriel commented on #9849
So it should work if we also test for NULL and test the "protocol" part of the URL?

[2019-01-24 14:23] engelgabriel commented on #971
![image](https://user-images.githubusercontent.com/1000217/51684251-c928d380-1fd2-11e9-9c48-019eefb310af.png)

[2019-01-24 14:36] breigo commented on #11774
I would vote for that.

We are syncing some fields from LDAP to custom user fields (e.g. telephone number) Users schouldn't be able to change that value in the rocket chat ui.

[2019-01-24 14:37] mddvul22 opened #13249 "Message retention policy is not deleting files, only messages are getting deleted."
### Description:

We have retention policy enabled in our RC instance, with a maximum age of 7 days.  The settings are configured to include private groups, channels, and direct messages.  We don't exclude pinned messages from this policy.  And we have "Only delete files" set to false.  Messages older than 7 days are getting successfully deleted.  However, old files are not getting deleted.  We ha

[2019-01-24 14:52] robertwessen commented on #9849
yes, i think the best option is to add a "permitted scheme" option as well, where admins can explicitly permit certain protocols [https,ftp, etc]. it allows for better flexibility for future RC capabilities. you don't really want to maintain a map of common schemes to implicit ports for those schemes within RC (at least i wouldn't).

the trade-off in this approach is that by permitting a scheme, y

[2019-01-24 14:59] engelgabriel commented on #971
Lets implement support for https://github.com/willnorris/imageproxy

[2019-01-24 15:17] engelgabriel commented on #971
Filtering by port has already been done, see the option on the admin:

![image](https://user-images.githubusercontent.com/1000217/51684251-c928d380-1fd2-11e9-9c48-019eefb310af.png)

Lets also implement support for https://github.com/willnorris/imageproxy

[2019-01-24 17:19] facundomedica opened #13253 "GCM notifications doesn't work in background"
### Description:

EDIT: the same happens with the official app.
EDIT 2: it works just fine with the open server 🤔

The notifications never show up when the app is in background. When the app is in foreground the notification is received but it shows that `notification.title` is null which is the reason why I think it doesn't show the notification in the notifications bar.

[code]

### Steps to rep

[2019-01-24 17:52] supra08 commented on #6286
@tezukzai, can I take this up?

[2019-01-24 19:33] sampaiodiego commented on #6286
absolutely @supra08 .. thanks :smiley:

[2019-01-24 20:37] vishnu2112 commented on #5453
I would like to solve this issue and I am a beginner to open source. Can someone helps me or guides me in solving it.

[2019-01-24 22:18] tripflex commented on #2181
+1 .. or even something similar to Discord with the 1-click invite link that auto joins that user to a specific room

Use case example:
I have numerous open source projects, instead of using gitter i would like to use my own self-hosted rocketchat instance, but those users would only need to be apart of a specific channel/room, not all the other channels (so it does not make sense to set them all

[2019-01-24 22:50] bizzbyster commented on #2181
We are working on a PR for the upstream now. Look for it in the next couple weeks.

[2019-01-25 00:33] dmland opened #13260 "HIPAA Compliance (2019)"
Hello,

We're investigating rocket.chat as a possible in-app chat collaboration feature in our social support platform. We're entering the healthcare market, with all the attendant security and privacy considerations, including HIPAA compliance.

I see that @engelgabriel asked in late 2015 whether rocket.chat was—or was on the road to becoming—HIPAA compliant, and that, as of 9 months ago, @seanpa

[2019-01-25 00:34] reetp commented on #13247
Hi. I think this may have been seen before. Please have a thorough search in Issues and close this if you find a duplicate.

Also when reporting Issues always try on latest as it may have been fixed as Rocket development is still fast. Latest us currently 0.73.2 and there have been a lot of fixes since your version. Please reas the changelogs for more.

[2019-01-25 00:49] reetp commented on #13242
This has been reported before.

This is closed
https://github.com/RocketChat/Rocket.Chat/issues/8838

This is still open:
https://github.com/RocketChat/Rocket.Chat/issues/7583

Close as duplicate?

[2019-01-25 05:31] hortonelectric commented on #9632
Not having mobile support for audio and video calls in Rocket.chat is blocking my organization from adopting this in our enterprise application. Can somebody speak to the challenges or something, anybody from the dev team? We are willing to offer dev support!

[2019-01-25 08:35] 42robotsCS commented on #658
I wonder: is there maybe a reliable setup idea with docker ? Does it make sense to use multiple containers to manage your instances and use a single database for all those instances?

[2019-01-25 08:48] torgeirl commented on #658
I read at lot of the comments in the issue as asking for a way to organize a Rocket.Chat instance into units similar to Slack workspaces or Mattermost teams.

Running multiple instances in Docker containers could to some effect emulate that, but would be much more work to maintain and in my opinion not be a good option for many here who's just asking for some way to keep users separated.

[2019-01-25 09:13] ruKurz commented on #13247
@reetp you're totally right by advising me to first search in already reported issues as well as pointing me using latest and greatest.

I'm involved in "Enterprise Business" therefore it is quite hard spending much time in reporting issues. I know this is a bad excuse. Anyway feedback is more valuable to an project compared with no feedback ;-)

I will scan the existing issues and close this if d

[2019-01-25 09:22] ruKurz commented on #13247
This issue may be related with:
- https://github.com/RocketChat/Rocket.Chat/issues/12978
- https://github.com/RocketChat/Rocket.Chat/issues/11941

[2019-01-25 11:14] ulope commented on #9233
@horstepipe You need to select the correct db first. Use `show dbs` to get a list and then `use <db-name>` to switch to it.

[2019-01-25 11:33] Shaverdoff commented on #9632
in mobile (ios or andr-backet) webrtc/jitsi/bigbluebutton not implemented. webrtc works only in PG and CH but how i see only in directmode (maybe i am wrong). you must click on Member list icons and choise people. like that

![default](https://user-images.githubusercontent.com/43804710/51743593-92c48480-20b6-11e9-86f5-ed7762f9bf65.png)

[2019-01-25 12:50] facundomedica commented on #13253
My bad, didn't have the receivers set up

[2019-01-25 12:50] #13253 closed

[2019-01-25 12:52] steerben opened #13262 "Separate permissions for user managed incoming and outgoing integrations"
### Description:

At the moment it is not possible to manage incoming and outgoing webhooks separately.
Therefore giving a user permission to handle their own integrations means allowing them create both, incoming and outgoing hooks.

Since outgoing webhooks are able to send everything written within a channel to an outside endpoint we cannot allow this from a compliance perspective.

We would all

[2019-01-25 13:31] chrismaes87 commented on #13205
The official docker image latest version is still 0.71 : https://hub.docker.com/_/rocket-chat. I failed to get this running with v0.73, but for the moment we stop looking into rocket.chat.

[2019-01-25 14:09] GerbenBosschieter commented on #6230
This issue is open for a while now. Are there any plans to do something with this issue ?
It would be very use-full for our (multi-sided)platform. We are using RocketChat livechat for support.

Different target audiences are using the platform represented by different websites. Would be awesome if there was an option to turn on/off the Livechat widget per website without influencing the other webs

[2019-01-25 14:20] vdvas opened #13263 "Notification private and public chats and other questions"
### Description:

1) In private channel and public channel dont work notification and popup in desktop application and mobile app.
Notification about private message are work.
Settings of each private& public channel of notification are enabled.
2) How i can settings up notification to rocket chat app a incoming email of some mail provider? Can i use webhook?  The mailbox that must check is users

[2019-01-25 14:36] Shaverdoff commented on #4554
The bug or notgood feature still here
073 version of RC
i disable user on ldap, user do not disconnect on client and i do not delete that user on RC users-table.
if user no logout User-session in mobile client still exist and user can chat and enter to conversations

[2019-01-25 14:55] bkraul opened #13264 "Docker tag develop: commit regression"
### Description:

The develop tag seems to have regressed to a much older commit than what it was recently at. This has reintroduced several issues that have already been fixed, including  #13138. I noticed this when the rocketchat instance started failing with the same error as outline in the issue. When I checked the commit for the version, I noticed that it was at commit dc0d7398c1, which is da

[2019-01-25 15:07] bkraul commented on #13264
Luckily I backed up the develop image with the fix to my own docker registry, and was able to get back on track, but this is an interesting situation. :)

[2019-01-25 15:10] vdvas opened #13265 "analyze"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Additional context

### Relevant logs:

[2019-01-25 15:10] #13265 closed

[2019-01-25 15:32] robertwessen commented on #13260
Dave,

I'm not on the RC team, but IMO a self-hosted install of RC _could_ be HIPAA compliant if you configure it to be so. No piece of software can be designated HIPAA compliant, organizations are or are not HIPAA compliant. It's the combination of the organization and how they use and configure their IT assets and processes that determines their HIPAA status.

Assuming the discussion is around t

[2019-01-25 17:48] sampaiodiego commented on #7246
that would be cool @LeeThompson .. not sure we _can_ do it since Mongo connection is handled by Meteor.

[2019-01-25 18:34] bregolin commented on #12689
Same bug here. I'm on server v0.73.2 and client v2.14.7. Client runs on Arch Linux, server runs on Linux 4.15.0-1026-gcp

[2019-01-25 21:00] awunder commented on #13148
same here on a new installation...

[2019-01-25 21:09] graywolf336 commented on #13260
Thank you @robertwessen for your detailed response. That is extremely good to know!

[2019-01-25 23:34] nylen commented on #10002
any update on this? what part of the code can we look in to help?

[2019-01-25 23:47] geekgonecrazy commented on #13260
@robertwessen Thanks for responding!  This is my understanding also.  We can make recommendations for becoming HIPAA compliant.  But the most we can do from a software perspective is become what I like to call HIPAA friendly.

Hosted is for sure a different ball game and probably what was being referred to when responding.  Because self hosted Rocket.Chat has always been pretty HIPAA friendly.

Fe

[2019-01-25 23:51] bkraul commented on #13264
Anything on this?

[2019-01-26 02:45] reetp commented on #13262
This is a NFR and general policy is to open this in the forums for discussion.
It undoubtedly has merit so will leave open pending a decision by a dev.

[2019-01-26 02:49] reetp commented on #13263
This seems to be a setup/support issue and no evidence of a bug.
Please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/
Thank you.

[2019-01-26 02:50] reetp commented on #13263
@rocket-cat close

Closing notabug

Please reopen if you have evidence of an actual bug.

[2019-01-26 02:50] #13263 closed

[2019-01-26 02:54] reetp commented on #13241
Can you please help the developers by filling out a proper bug report? They can't really help without this information
Use this link: https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Here is an example of how to do it properly:
 https://github.com/RocketChat/Rocket.Chat/issues/13069

[2019-01-26 02:57] reetp commented on #13229
Please check your node version.

You state yours is 4.2.6 which is not going to work?

Should be around 8.11.4

[2019-01-26 03:02] reetp commented on #13228
This seems to be a setup/support issue.
Please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

Please also read the snap and caddy documentation

https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/

https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/autossl/

[2019-01-26 03:04] reetp commented on #13228
@rocket-cat close

Closing notabug

If you have evidence of a bug please reopen and provide full information as per this template

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-01-26 03:04] #13228 closed

[2019-01-26 03:17] reetp commented on #13205
I think you can specify either the version or 'latest'.

I have it running on two different boxes....

Duplicate here and fixed in 0.73.2

https://github.com/RocketChat/Rocket.Chat/issues/12668

[2019-01-26 03:18] reetp commented on #13205
@rocket-cat label add duplicate

[2019-01-26 03:18] reetp commented on #13205
@rocket-cat close

[2019-01-26 03:18] #13205 closed

[2019-01-26 06:29] mindey opened #13267 "E2E Encryption button has word stem "save", which confuses into clicking it to save the password, but the result then is the password is not saved anywhere and forgotten."
### Description:

![](https://rocket.chat/docs/user-guides/end-to-end-encryption/e2e-alert.png)

### Steps to reproduce:

1. Go to: https://<rocket-chat>/admin/E2E%2520Encryption
2. Click that button, without viewing the rest of text.
3. Then, next time, you log-in say, from another browser session, you've got no way of getting back to encryption:
![](https://wiki.mindey.com/shared/shots/7cfb97184

[2019-01-26 07:36] kajisaap commented on #9537
@nbhadauria How has been your journey running rocketchat in ECS?

It looks to be uncharted territory.

As for getting INSTANCE_IP, how about fetching IP through meta-data EC2 service and giving that ENV to the meteor process. In this way, we don't have to patch the code.

[2019-01-26 13:33] slyk commented on #2192
Wow, so good bounty. I wish I know that programming language to write this feature by myself :)

[2019-01-26 13:58] devsigner commented on #13229
ok thanks, it's work !!! :)

[2019-01-26 13:58] #13229 closed

[2019-01-26 14:18] philtweir commented on #2192
Now over £400, at least if completed in next couple months :)

[2019-01-26 14:56] Kailash0311 commented on #7108
I have fixed the issue but I am not able to change the unit tests accordingly.
Help appreciated. :)

[2019-01-27 10:05] #13230 closed

[2019-01-27 13:53] igorr-stc commented on #12750
Version 0.71.1 - works.

[2019-01-27 13:55] igorr-stc commented on #12750
Oops. It "worked" in 0.71.1 because I have an active chat with this user. If I delete chat I still can't find him via search in main interface :-(

[2019-01-28 06:51] ovi-hutu commented on #13262
+1

[2019-01-28 07:59] ChessSpider opened #13271 "XML-decryption module not found"
### Description:

Breaking bug: xml-encryption module not found on docker upon login

### Steps to reproduce:

1. Login via saml
2. fatal error:
[code]
on docker
### Expected behavior:

No crash

### Actual behavior:

[code]

### Server Setup Information:
[code]

- Version of Rocket.Chat Server:
- Operating System:  linux
- Deployment Method: docker
- Number of Running Instances: 1
- DB Replicaset

[2019-01-28 08:01] ChessSpider commented on #13271
Probably related to https://github.com/RocketChat/Rocket.Chat/pull/12153

[2019-01-28 08:04] zenman94 commented on #13271
Same here in docker release.

[2019-01-28 08:18] ChessSpider commented on #13271
@zenman94 temporary fix:
copy/paste:
[code]

[2019-01-28 08:32] zenman94 commented on #13271
Thank you for the patch but we are on Kubernetes cluster.

[2019-01-28 10:06] tiagoefreitas commented on #6428
Iframe doesn't solve this requirement, which is basically the livechat interface with authentication and manual selection of chat instead of automated.

Livechat could be tweaked to meet this easily, it would need to use the currently authenticated user instead of asking for name/email, and add an interface to choose the channel/user to chat with.

[2019-01-28 10:08] tiagoefreitas opened #13272 "Livechat for internal organization chat instead of support"
This was previous described in [One-on-one chat as a widget #6428 ](https://github.com/RocketChat/Rocket.Chat/issues/6428)

Basically the livechat interface with authentication and manual selection of chat instead of automated.

It would need to use the currently authenticated user instead of asking for name/email, and add an interface to choose the channel/user to chat with.

[2019-01-28 10:19] libussa commented on #13061
same here.
for me it works on an old channel, but if I try using a new one it fails with "invalid channel"

[2019-01-28 10:40] ulope commented on #6644
Nothing ever comes out of 'forum' threads.
Could you clarify how this is a discussion?

It's a feature request with a clearly defined scope.

[2019-01-28 11:02] SOUNDTOOLS commented on #10794
Same:
https://github.com/RocketChat/Rocket.Chat/issues/6622
https://github.com/RocketChat/Rocket.Chat/issues/4575
https://github.com/RocketChat/Rocket.Chat/issues/3661

Dear developers, we really hope that this feature will appear in the future. Thanks! 🙂

[2019-01-28 11:45] hairmare commented on #13271
Looks like xml-encryption was removed in 687c3c572aaba7b7cb67ea5683b3100f54bfcb53 while it is still used here:
https://github.com/RocketChat/Rocket.Chat/blob/483f7d5c752679a9795f6324a73e7c03f36601fc/packages/meteor-accounts-saml/server/saml_utils.js#L396
If you are using the [`stable/rocketchat` helm chart](https://github.com/helm/charts/blob/master/stable/rocketchat/) to deploy rocketchat you can

[2019-01-28 15:11] Ystro opened #13276 "Cannot read encrypted room messages after E2E password reset"
### Description:

If you get invited to a encrypted group before you entered your E2E password and then reset it, youll not be able to read the messages in this group.

### Steps to reproduce:
Account: Worker [has his E2E password entered]
Account: Victim [doesnt, also he has forgotten his e2e passoword]
Account: Admin [selfexplanatory]

1. Create with [Worker] a private, encrypted group and invit

[2019-01-28 16:41] aspiers commented on #11609
Unfortunately this is not working as per #12689.

[2019-01-28 16:42] aspiers commented on #12689
Same here with server 0.73.2 running on SUSE Linux Enterprise Server 12.  I'm not sure how to find out my client version.

[2019-01-28 19:07] ltworf commented on #11094
I'd say it's a documentation bug.

Apparently on some update my working websocket client stopped working… It'd be nice to have proper documentation about this.

[2019-01-28 21:00] abyrne55 commented on #13147
I'm experiencing the same issue on my snap installation, also using LDAP for auth. All packages on my host machine are up to date, but I'm not sure how to upgrade the version of node inside the snap since it's on a read-only filesystem. Here's my server's info:

Version of Rocket.Chat Server: 0.73.2
Operating System: Ubuntu 18.04
Deployment Method: snap
Number of Running Instances: 1
NodeJS Versio

[2019-01-28 23:33] abyrne55 commented on #13196
I think I'm experiencing the same issue on my snap installation, but I tried clearing the SMTP as described above and the issue doesn't seem to go away. Here's my server's info:

Version of Rocket.Chat Server: 0.73.2
Operating System: Ubuntu 18.04
Deployment Method: snap
Number of Running Instances: 1
NodeJS Version: 8.11.3 - x64
MongoDB Version: v3.2.7

And here's what keeps getting printed to th

[2019-01-28 23:48] 44online98 commented on #8971
Hi @all
I'm fork new project from Rocket.Chat.iOS. I want to setup Push Notification on env Production.
I need to disable  *Debug*, disable  *Gateway*, enable *Production* and
pass all text in the .pem to *APN Key*, *APN Cert*, *APN Dev Key*, *APN Dev Cert*, is it right?

[2019-01-29 00:42] GoetheG commented on #5292
So is this possible now or not? Would be nice to find out :)

[2019-01-29 00:48] GoetheG commented on #1442
Hey guys. hey @geekgonecrazy: Are there any updates regarding this topic? I find it very important to let the administrator decide whether new users can or cannot read previous messages, before their date of entry in a channel.

[2019-01-29 04:33] 44online98 commented on #10142
<img width="903" alt="screen shot 2019-01-29 at 11 28 59 am" src="https://user-images.githubusercontent.com/7846548/51884340-775cc080-23b9-11e9-8432-a996562a82c1.png">
<img width="1094" alt="screen shot 2019-01-29 at 11 29 14 am" src="https://user-images.githubusercontent.com/7846548/51884341-77f55700-23b9-11e9-990b-247d732529e0.png">
this is my config and I get the same phoenix-bjoern's result

[2019-01-29 06:00] maciek134 commented on #2192
Is someone working on this? I'll gladly implement that feature as I need it myself.

[2019-01-29 07:35] rasos commented on #12555
#4455

[2019-01-29 10:20] shirosaki commented on #11924
I have same issue with 0.72.0.
ROOT_URL is https://xxxxxxxxxxxxxxx/rocketchat/
Avatar URL is https://xxxxxxxxxxxxxxx/rocketchat/rocketchat/avatar/xxxxxxxx?_dc=0
Subdir path is duplicated.

[2019-01-29 10:36] SupportAdar opened #13284 "Notifications doesn't work after server update to 0.74.0"
### **My Setup**
Operating System: Windows 10 Professional 64bit
App Version: 2.14.7(current version on Rocket.chat install menu)
Installation type: exe
Server: 0.74.0

### **Description**
I am using Rocket.Chat 2.14.7 on Windows 10. After update server from 0.72.0 to 0.74.0 notifications doesn't work anywhere eg. from web browser (Google Chrome) or from Windows Client 2.14.7 even "Test notificati

[2019-01-29 15:55] Kjarrigan opened #13285 "Make the channel description a textarea"
Expressing the purpose of a channel in a single line without any line breaks isn't always possible and quite ugly. So please make it a `textarea` instead of an text `type=input`

If I change my local html via Browserdevtools it works out of the box - so you guys are already saving and displaying newlines correctly - I just can't type them without a little hack.

[2019-01-29 16:42] maciek134 commented on #2192
Ok, bountysource wants a link to code so I'll do that when I have something substantial to show, for now I'll just let you know here that I'm working on it :)

[2019-01-29 17:10] renatobecker commented on #7282
Hi @puetzstef!

I didn't get any reply from you, are you still tracking this issue?
As you can see at here: https://rocket.chat/docs/developer-guides/livechat-api/#set-name-field
We can rely on `setGuestName` method:
[code]

So, using this method, we can concatenate the `customer name` + `customer number`, what do you think?
Wouldn't it works on your case?

Any feedback would be very appreciated.

[2019-01-29 18:21] bkraul commented on #13264
@sampaiodiego @MarcosSpessatto , any thoughts on this situation?

[2019-01-29 20:09] slyk commented on #13196
When I was searching for some bug description, I found that there were problem in Node fibers module. But after 11.2 the problem seems like solved...

[2019-01-29 20:14] abyrne55 commented on #13196
Can you provide a link to that bug? And if this is the issue, is it possible to upgrade that node module inside the snap?

[2019-01-30 00:13] shirosaki commented on #11924
Image lazy load appends subdir path to `url` which already has subdir.
`url` seems to be from https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-utils/lib/getAvatarUrlFromUsername.js.
This is a patch. This works for me.

[code]

[2019-01-30 02:16] chrisbennight commented on #13155
I'm seeing this same issue - it does appear to be file size dependent;  I haven't tested for the minimum filesize, but I see it with with a 34MB file.    This is running with the 0.73.2 snap, on ubuntu 18.04

I did restore the mongo database  on this instance from an export of a previous snap deploy (same version - 0.73.2 - at time of export) - don't know if that bypassed any index creation.   (Er

[2019-01-30 03:02] gillbates commented on #11126
this is still true using 0.74.0 docker fresh install

[2019-01-30 05:53] BrusselsSprout opened #13287 "Rocket Chat window overrun by MSConnect"
### Description:

When Rocket Chat is active and I connect to the WiFi at McDonalds the Rocket Chat window becomes the web browser sign in for the WiFi

### Steps to reproduce:

1. Start Rocket chat on home network
2. take your computer to McDonalds for lunch
3. Connect to McDonalds WiFi
4.  Watch RocketChat window process MS Connect network authentication

### Expected behavior:

McDonalds WiFI s

[2019-01-30 08:32] Montel opened #13288 "RESTAPI: missing add/remove leader"
In last version we don"t have rest api for adding/removing leader role:

We have method for adding/removing Moderator/Owner role but not leader.

I think that we need code as:
[code]
Regards.

[2019-01-30 09:22] cahi commented on #12148
We're having the same issue here...
Rocketchat: 0.73.2
Client MacOS 2.14.6

[2019-01-30 10:38] zolbayars commented on #9921
Have you found a solution? @bizzbyster

[2019-01-30 12:56] bkraul commented on #13287
I don't think Rocket.Chat has any control over that. At the very best they could add a check on the client side to detect no connection, but I this should already be in place. In fact, I think the client detects a connection because you technically "do" have internet, but it is limited to the sign-in portal. Regardless this issue should probably be moved to the RocketChat.Electron issue board.

Us

[2019-01-30 13:12] horvan commented on #10530
@ tassoevanBut that's what's happening after the data are available. According to the test I did there are no data captured anymore on Windows 10 and  Android 8 So there must be an Issue in the component that grabs the data. It seem to work for Linux and May be Mac. Is x and safari. Can't tearmt that.

So what would be the next step to find out where the issue comes from.

Would the Rc- team Think

[2019-01-30 13:20] Shaverdoff commented on #13284
just now test on tar 074. push to mobile with apw and notification on desktop just arrived and work well. maybe in you environment have some missconfigurations?

[2019-01-30 13:39] renatobecker commented on #13141
Hi @rohitmyaim!

I'll take a look on this ASAP.
The point is that you would need to have a list of available agents to forward the chat, right?

Thanks.

[2019-01-30 13:42] renatobecker commented on #13134
Hi @hmagarotto!

Yeah, we have already detected that we need to improve the routing method stuff, we have plans to work on it very soon.

Thanks.

[2019-01-30 13:43] overfl0 opened #13290 "Cannot assign to read only property 'stream' of object '#<MediaRecorder>' when recording Video Message"
### Description:

Clicking the button to record a video will trow an error instead of starting the recording.

### Steps to reproduce:

1. Open a channel
2. Click the `+` at the bottom right
3. Click `Video message`
4. Click the recording button

### Expected behavior:

The recording starts

### Actual behavior:

Doesn't do anything; error in the console.

### Server Setup Information:

- Version

[2019-01-30 13:53] overfl0 commented on #13290
Nevermind, this has already been fixed in a newer RocketChat version :)

[2019-01-30 13:53] #13290 closed

[2019-01-30 13:56] renatobecker commented on #13025
Hi @khegiw!

What do you thing about updating your server to the newest release(0.75)?
It would be great to ensure that the issue you described is still happening, then we can take a look on it deeply.

Thanks.

[2019-01-30 13:58] renatobecker commented on #12939
Thanks @timkinnane!

I'll take a look at this issue ASAP.

[2019-01-30 14:00] marcinkorzycki commented on #11570
Any news here?

[2019-01-30 14:05] reetp commented on #13272
Please don't open a duplicate. There is an Issue that you have commented on. Please stay on that.

[2019-01-30 14:06] reetp commented on #13272
@rocket-cat label add duplicate

[2019-01-30 14:07] reetp commented on #13272
@rocket-cat close
Closing in favour of #6428
Please follow up there.

[2019-01-30 14:07] #13272 closed

[2019-01-30 14:10] reetp commented on #6428
Please keep your comments on this Issue - the devs will reopen if they feel it is appropriate.

Of course your Merge/Pull Request would be welcomed if it is easy for you to add some code you feel is lacking.

[2019-01-30 14:32] bizzbyster commented on #9921
I have not used or tested this in a while sorry I can't be more helpful.

[2019-01-30 16:56] gregs007 commented on #9652
Curious if you found a solution. Happened twice in the past week after upgrade to 0.72.3. Multiple-instance with docker.

[2019-01-30 18:25] joafalves opened #13292 "User friendly search"
### Description:

The presence of accent in names should not be considered while using the user search function.

### Steps to reproduce:

1. Have contacts with accent in names (Such as "André")
2. Search for "andre" on the search box

### Expected behavior:

André contact should be listed

### Actual behavior:

André contact is not listed

### Server Setup Information:

- Version of Rocket.Chat:

[2019-01-30 19:37] vwbusguy commented on #9408
Even if I change some other setting, like file uploads, the out channels still aren't actually saved after saving and refreshing.  I've yet to find a workaround in the UI, but I wonder if we can hack this directly in mongo in the meantime?

[2019-01-31 01:05] zolbayars commented on #9921
Hi @renatobecker
Ohh, I found the problem. It was because of the Twilio trial account's limitation. It couldn't send SMS to unverified numbers. After verifying that number on my Twilio console, all went smooth.

Thanks for your concern.

[2019-01-31 04:37] zolbayars commented on #2340
This happened to me. After hours of trying, I noticed some messages in the log right before `Builder can not write without either data or a file path or a symlink path` error throws:

`Jan 31 02:48:53 ip-172-31-31-212 kernel: Out of memory: Kill process 5524 (node) score 587 or sacrifice child
Jan 31 02:48:53 ip-172-31-31-212 kernel: Killed process 5524 (node) total-vm:1985124kB, anon-rss:535392kB

[2019-01-31 06:01] SteveUNSW commented on #3582
+1 💃

[2019-01-31 06:30] linaseniorwebdev commented on #5466
/api/v1/users.register

This is an API for users to register.

Please see https://rocket.chat/docs/developer-guides/rest-api/users/register/ for further information.

[2019-01-31 09:48] abate commented on #2233
I'm struggling with this problem as well . Do we have a solution ?

[2019-01-31 10:17] sawo commented on #2233
Finally, I managed to avoid the wizard by adding this environment variable: `OVERWRITE_SETTING_Show_Setup_Wizard=completed` I hope this helps.

[2019-01-31 10:30] nunofernandes commented on #13147
I also have this problem.... Any timeline on when you think this will be fixed?

[2019-01-31 10:57] josep112 opened #13295 "Cannot set new user Avatar via file upload"
### Description:

### Steps to reproduce:

1. I load the avatar in the user, the photo appears but when saved it disappears

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.0
- Operating System: Debian 9.7
- Deployment Method:  tar
- Number of Running Instances: 1
- DB Replicaset Oplog:
- NodeJS Version:  v8.11.3
- MongoDB Version: db version v3.6.10

### Additional context

#

[2019-01-31 11:03] layman48 opened #13296 "Cannot create a channel with a name in Russian"
### Description:

It is impossible to create a channel with a name in Russian in the desktop clients and in the web browsers.

### Steps to reproduce:

1.  Go to "Create a New Channel"
2. In the "Channel Name" field I enter a name in Russian "Тест" or "Тестовый канал"
3. After pressing the "Create" button nothing happens

### Server Setup Information:

- Version of Rocket.Chat Server: 0.73.2
- Ope

[2019-01-31 11:12] gabricom commented on #13284
Same problem but solved.
I was still using mongodb version 3.0 , and with 0.74.0 notifications stopped working.
Upgraded mongo to version 3.4 and now everything works fine.

[2019-01-31 11:17] Shaverdoff commented on #13284
hm...MongoDB shell version v3.6.8 is my instalation..

[2019-01-31 11:44] #9921 closed

[2019-01-31 11:53] vdvas opened #13297 "Manage size of trumbnails of picture preview"
### Description:

In chats preview of picture is small. Can i manage size preview of picture? Maybe css style or markdown can help me?
### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 0.73.2
- Operating System: Ubuntu 18.04 server
- Deployment Method: snap
- Number of Running Instances: 1
- DB Replicase

[2019-01-31 13:09] ggazzo commented on #13288
hey @Montel looking your snippet seems you are in the right path, why not open a pull request? feel free to open and we can help you to merge it :)

[2019-01-31 13:11] marceloschmidt commented on #7596
We'll work on this when we update the custom fields interface.

[2019-01-31 13:17] TomaszDom commented on #13284
Anybody experiencing a similar issue with Mongo 3.2? Which Mongo version are you running @SupportAdar ?

[2019-01-31 13:18] marceloschmidt commented on #7916
If you mean localization of the Gregorian calendar, that's already built into Rocket.Chat. Reopen if you actually meant other calendar systems, please? Thanks.

[2019-01-31 13:18] #7916 closed

[2019-01-31 13:24] sampaiodiego commented on #13284
@SupportAdar can you please fill the setup details?

[code]

[2019-01-31 13:31] marceloschmidt commented on #7967
This is somewhat covered by our future implementation of threads. Thanks for the suggestion.

[2019-01-31 13:31] #7967 closed

[2019-01-31 13:33] SupportAdar commented on #13284
Any advice before I'll start DB upgrade? I use this [tutorial](https://docs.mongodb.com/manual/tutorial/upgrade-revision/).

[2019-01-31 13:34] marceloschmidt commented on #7995
Users could still use the unicode for the emoji. We don't see this as a good feature. Thanks for suggesting.

[2019-01-31 13:34] #7995 closed

[2019-01-31 13:34] marceloschmidt commented on #7995
You do have a words blacklist, so you may block the words that represent an emoji, or even the unicode.

[2019-01-31 13:36] Shaverdoff commented on #13284
stop rocket stop mongo, yum/apt install, start mongo start rocket. this is was my steps then i am update. before procced ofcouse make snapshot vm/instance or something

[2019-01-31 13:36] marceloschmidt commented on #7996
We don't see a reason one would want that. Sorry and thanks.

[2019-01-31 13:36] #7996 closed

[2019-01-31 13:38] marceloschmidt commented on #8044
We have improved our documentations page for iframe integration: https://rocket.chat/docs/developer-guides/iframe-integration/#iframe-integration

Please let us know if you are still facing difficulties. Thanks.

[2019-01-31 13:38] #8044 closed

[2019-01-31 13:50] jankogaga commented on #12693
Hi,
Here is a graph from Munin monitoring SW, at the time of freezing.
Please take a look at rocket. The other docker containers are covered.

![image](https://user-images.githubusercontent.com/28627293/52058294-710c4700-2567-11e9-978c-e85b943732c4.png)

[2019-01-31 13:52] mbrodala commented on #10742
I just stumbled upon the same issue while trying to toggle the `active` flag of a user:

    Match error: Expected boolean, got string in field data.active

No matter if I passed `true`/`false` or `1`/`0`, I always got the same error.

In my case the `POST` request where performed via [`form_params` using the Guzzle HTTP client](http://docs.guzzlephp.org/en/stable/quickstart.html#sending-form-fiel

[2019-01-31 13:59] Sing-Li commented on #7400
An ongoing GSoC project will address this functionality.   See:

https://rocket.chat/docs/contributing/google-summer-of-code-2018/

And to be continued pending GSoC 2019.

[2019-01-31 14:00] Montel commented on #13288
I can try to make a pull request tomorrow.
I need it for my rocketchat client (kde - ruqola)

I will do it tomorrow

[2019-01-31 14:07] jerryline opened #13298 "rockect chat can not connect documentDB in aws server"
We want to use aws document DB replace MongoDB, but can not connect to it.I want to know can I install rocketchat this way? I have tried to connect document DB with command line, and can connect it successfully,
This is the command I used:
mongo --ssl --host docdb-XXXXXXXX.cluster-XXXXXXXx.us-east-1.docdb.amazonaws.com:27017 --sslCAFile /home/ec2-user/rocketbot/rds-combined-ca-bundle.pem --usernam

[2019-01-31 14:54] rmjstn commented on #13126
Hi,

I performed an installation from scratch and have the same problem. I found this in the logs :

First Docker container :
[code]

Second one :
[code]

Informations on start up :
[code]

From the first container, I can join the second one on port 3000 :
[code]
I see network packets on the second server.

I've installed [wscat](https://github.com/websockets/wscat) in the container. It works, I c

[2019-01-31 14:56] banoleb opened #13300 "Can`t send message with text "string""
Hi, to all
Today i discovered a very strange bug.
Description:
I can not send a message with the text "stri" "string" or "str" + any letter

![123](https://user-images.githubusercontent.com/47217865/52062090-ea646380-2580-11e9-9433-b2ed36a3d3c4.png)

Server Setup Information:
Version of Rocket.Chat Server: 0.73.2

LOG:
`Exception while invoking method 'sendMessage' { BulkWriteError: assertion src/

[2019-01-31 15:07] #13126 closed

[2019-01-31 15:10] rmjstn opened #13301 "Multiple instances : nodes can't communicate"
### Description:

We are running a multi-instances of Rocket.Chat (new installation). Two Docker containers.
INSTANCE_IP and extra_hosts are set in the Docker Compose file.

### Steps to reproduce:

Notifications and users status doesn’t work properly. In the “Broadcast Connected Instances” section “Auth” and “Current Status > Connected” are not set, and "“Current Status > Status” is set to waitin

[2019-01-31 15:21] bkraul commented on #13264
Let me push the backup image I made of the image with the fix to my hub space. Again, the only one I have is from commit a8f26bc which fixes the rooms not loading issue. I am actually trying to figure out how to build my own image from the develop branch, but so far I have not gotten any help from the forums. It is kind of weird that the team is completely silent. Maybe they are on a support freez

[2019-01-31 15:22] rohitmyaim opened #13302 "Read Receipt for Livechat Messages is not showing information of livechat-guest"
Rocketchat Version : 0.73

Steps to Reproduce
1. Enable Showing Detailed Message Read Receipts
2. Start Livechat as a guest from any website having livechat script installed.
3. See the Read Receipt of that livechat message.
4. livechat-guest info is missing whereas it is fine for a RC user as per screenshot.

![screenshot-demotest1 rampwin com-2019 01 31-20-43-46](https://user-images.githubuserco

[2019-01-31 15:50] mialynx commented on #13241
Sorry, this was a test server. having received an error, I could not test it and deleted it

[2019-01-31 15:55] sampaiodiego commented on #13264
sry guys, I'm already taking a look on this.

[2019-01-31 16:02] bkraul commented on #13264
@jmoont you can pull image: [bkraul/rocket.chat:develop](https://cloud.docker.com/u/bkraul/repository/docker/bkraul/rocket.chat) . It should help until this is corrected. I have started a backup/testing environment to make sure the develop builds are usable before I implement them. This is the risk I understand I choose to take when trying to use a development branch, I'm fine with that. @sampaiod

[2019-01-31 16:07] slyk commented on #13196
That bug report was solved in Node 8.11.2 as far as I remember, so when I've updated to 811.3 my server and continue to get my error, I closed tab with that bugtracker.

[2019-01-31 16:51] rmjstn commented on #13301
### Additional information

I made a packet capture in the container (eth0@if101 interface). When we had the "Can't establish a connection to the server" error, we don't see any traffic.

Rémy

[2019-01-31 17:05] rodrigok commented on #897
@lorek123 it is, unless the user is a bot or admin

[2019-01-31 17:13] bkraul commented on #13264
@jmoont Found a more recent one in my cache, dated Jan 22, with more fixes. It also works fine. I have updated the image, and have re-tagged the other one for archival purposes. Might keep 5 or so.

[2019-01-31 17:19] cactrot opened #13304 "Trying to use the REST API to login anonymously"
### Description:

I am trying to use the REST API to login anonymously from an app I'm developing in js. I get a 400 bad request response.
I have enabled anonymous login and can login to the server anonymously using Google Chrome.

### Steps to reproduce:

Run one of these requests in Javascript:

var req = new XMLHttpRequest();
req.open("POST", "https://example.com/api/v1/users.register");
req.se

[2019-01-31 18:21] Anderson-Vasques opened #13305 "Languages Select not working for pt-BR livechat text"
When changing Language to 'Português do Brasil' in admin/General the livechat `You` i18n text (https://github.com/RocketChat/Rocket.Chat/blob/0.74.0/packages/rocketchat-livechat/.app/client/views/message.html#L7) changes to 'Tu' (which is the text from `Português` translate)
I think the problem is https://github.com/RocketChat/Rocket.Chat/blob/0.74.0/packages/rocketchat-ui-admin/client/admin.js#L9

[2019-01-31 18:35] Anderson-Vasques commented on #13305
Removing `toLowerCase` from map could fix this problem, but I am not sure why `toLowerCase` was inserted.

[code]

[2019-01-31 18:36] sushantbansal90 opened #13307 "Notification"
I have followed each and every step here
https://rocket.chat/docs/administrator-guides/notifications/push-notifications/
But still d'nt getting the push notification...

[2019-01-31 18:58] facundomedica opened #13309 "Bugs when installed inside a directory"
I've installed Rocketchat and I access it inside a folder (mydomain.com/rocketchat) and I've noticed a couple of things that are not okay.

1. When quoting the user image isn't shown (the url is wrong)
<img width="302" alt="screen shot 2019-01-31 at 18 55 24" src="https://user-images.githubusercontent.com/14063057/52077808-cbb69a80-2589-11e9-88bd-7c8f53829880.png">

The image url is: `https://mydo

[2019-01-31 20:01] reetp commented on #13297
This is a support request rather than a bug.

Please ask for help here https://forums.rocket.chat or here https://open.rocket.chat/

Note these are community supported so you may need to be patient for a response

[2019-01-31 20:01] reetp commented on #13297
@rocket-cat close

[2019-01-31 20:05] reetp commented on #9652
Please check your memory requirements. A lot of people seem to run Rocket on low memory cloud VMs which causes problems.

If you want this investigated you need to add proper details of your installs using this template.

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-01-31 20:56] zenman94 commented on #13271
We prefer wait a correct docker image before push this in production :)

[2019-01-31 22:31] reetp commented on #13307
Please fill in a bug template properly  or no one can help you.

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Thank you.

[2019-01-31 23:52] reetp commented on #13304
You appear to be using a very old version of Rocket??

Please update to the latest stable 0.73.2 or 0.74.0 and test thank you.

I'd also think about why you get this response

[2019-02-01 00:10] ura14h commented on #13309
That's same issue to:
- #11924 channel avatar is not shown when Rocket.Chat is running in subdir
- #10732 Wrong permalink when running RocketChat in subdir

[2019-02-01 03:27] graywolf336 opened #13312 "Configurable Logging Levels for App Framework"
For the next version, we need a way to set the debugging level of the entire App framework inside of Rocket.Chat. Right now it is extremely verbose, which means the logs are spammed with App framework logs.

[2019-02-01 04:47] jasonfah commented on #13312
Is there anything we can do in the meantime? Our log is getting smashed with "checkPreMessageSentModify" messages.

[2019-02-01 09:39] vddmvddm opened #13313 "Client issue with chat leader banner"
### Description:

Can`t close the description of user in chanel because of leader banner. It happens only in client version, in browser works correctly.
Version of client 2.14.7

### Steps to reproduce:

1. In chanel click on someones login for detailed info
2. Scroll up in message history
3. Banner of chat leader will hide cross sign recently opened icon in detailed info about user.

### Expected

[2019-02-01 09:53] luke5sky commented on #13155
Got the same problem also with 0.73.2 snap.
Anyone got a workaround for this?

[2019-02-01 10:22] rychu3d commented on #6899
Any update since this feature was not released in 0.74 ?

[2019-02-01 10:48] abate commented on #2233
I did that, but I guess the setup wizard drop the database before even asking questions, and did not forgive my initial attempts (even if I did abort the wizard) : So I lost all my data, users and configuration parameters. Not very happy about that :(

[2019-02-01 12:31] reetp commented on #13147
How much memory do you have on your server?

[2019-02-01 12:33] reetp commented on #13147
There is more than one issue here. Which one are you talking about ? Updating node (you can do that yourself if using CentOS/tar install) or running out of memory (how much have you got?)

[2019-02-01 12:37] stoficek commented on #13147
Now its 3GB and 8VCPUs

[2019-02-01 12:47] facundomedica commented on #13309
Ok, clearly a duplicate, sorry!

[2019-02-01 12:47] #13309 closed

[2019-02-01 13:10] MarcosSpessatto commented on #13288
@Montel I think you opened the PR only in your fork, you should open the PR and choose as the target branch: `RocketChat:develop` and not the develop branch of your fork. :sweat_smile: Can you please fix it?

[2019-02-01 13:40] Montel commented on #13288
Ah !
Sorry I didn't use a lot github :) I will try to fix it soon :)

[2019-02-01 13:41] MarcosSpessatto commented on #13288
No problem :)

[2019-02-01 13:46] Montel commented on #13288
https://github.com/RocketChat/Rocket.Chat/pull/13314

it seems that I need to add some reviewer but I don't know who (and how :) )

[2019-02-01 13:47] MarcosSpessatto commented on #13288
I'll do that. :)

[2019-02-01 14:38] Montel commented on #13288
oops sorry I wanted to update my patch and it closed it...
I recreated a new one:
https://github.com/RocketChat/Rocket.Chat/pull/13315

I hope that it'"s ok.

[2019-02-01 14:51] facundomedica opened #13316 "[Feature request] Enable bad words filter per channel"
I would like to enable the bad words filter per channel. I think that bad words should be allowed in direct messages or even private channels.

[2019-02-01 15:06] lennartgrunau opened #13317 "Internal hubot broken"
1.

### Description:

The internal Hubot is broken after the update to 0.73.2. It does not load any scripts and doesn't log anything at all.

### Steps to reproduce:

1.  Go to Settings -> Internal Hubot
2.  Add some custom scripts
3.  Click Save
4. Go To Settings -> View Logs
5. See that nothing has been logged
6. Test you scripts

### Expected behavior:

 Something in logs and working scripts

#

[2019-02-01 15:44] F-Locos opened #13319 "Force_SSL Setting redirect loop, can't set the setting in mongodb (not found)"
Hello guys!

### Description:
It's simple, I'm encoutered this problemafter enabled the Force_SSL setting like this issue : https://github.com/RocketChat/Rocket.Chat/issues/1968

It's wrote on the topic, to execute this command in the mongo db server :
`db.rocketchat_settings.update({ _id: "Force_SSL" }, { $set: { value: false } });`
But gave me :
`WriteResult({ "nMatched" : 0, "nUpserted" : 0, "n

[2019-02-01 15:45] cactrot commented on #13304
Thanks for taking a look at my issue. What leads to the error is exactly what I'm thinking about, but I haven't found the failure point yet. Although I haven't found the difference in the registration code between my local version and current I'll update the server. It would be a very pleasant surprise if an existing patch fixes the problem.

The html UI calls the registerUser function with empty

[2019-02-01 15:46] himpierre commented on #13061
I just made an observation. If i write something to the channel in question first, the creation of the incoming webhooks succeeds. But it has to be me. If someone else writes to that channel the problem persists.

[2019-02-01 15:53] F-Locos commented on #13319
Ok, so simple.
I forgot to enter in the rocketchat database.

Just do :
- use rocketchat
and
-  db.rocketchat_settings.update({_id:"Force_SSL"}, {$set: {value: false}})

[2019-02-01 15:53] #13319 closed

[2019-02-01 16:33] graywolf336 commented on #13312
Disable the App framework, if you're not using it.

[2019-02-01 16:49] sampaiodiego commented on #13264
it's fixed guys.. it was an issue with our end-to-end tests that were preventing the whole process to finish: https://hub.docker.com/r/rocketchat/rocket.chat/tags/

[2019-02-01 16:53] #13264 closed

[2019-02-01 18:20] ggazzo commented on #13300
@banoleb do you know what version of mongo are you using, are you using docker/snap? please give us more information (and try to follow the bug report template issue) thanks :)

[2019-02-01 19:50] wonkaba commented on #9157
Was any progress made on this? I am definitely still seeing the issue. When changing the user's name from the admin/users page, it breaks the rooms. Anyone who has previously been in a room with them gets an error when trying to chat with their new username

Currently using version 0.69.1

[2019-02-01 20:53] #8228 closed

[2019-02-01 21:06] tassoevan commented on #9632
@hortonelectric AFAIK, Jitsi integration is coming soon to the iOS and Android (https://github.com/RocketChat/Rocket.Chat.Android/issues/466) apps.

[2019-02-01 22:39] jrobeano commented on #9177
@timkinnane - Hi Tim, my sincere apologies if this is very obvious... but were you able to implement the notification in the SDK as you mentioned that you might?

[2019-02-01 23:11] s7726 opened #13324 "Message delete does not remove message from other clients until F5 refresh"
### Description:
Similar to #7182
Deleted messages are still visible to other clients until they F5 refresh or otherwise reload the page.
Editing a message, does result in immediate update of the message content. I would expect delete to update immediately as well.

### Steps to reproduce:

User enters text and sends the message.
User deletes message.
Message does not delete from the screen of oth

[2019-02-01 23:21] tassoevan commented on #3636
Closing it due to staleness.

[2019-02-01 23:21] #3636 closed

[2019-02-02 04:11] geekgonecrazy commented on #13196
Snap ships node modules frozen in stone.  Npm shouldn’t even come shipped in it :)

[2019-02-02 04:31] metalcated commented on #11570
Yeah, I feel like this really needs some attention.

Thanks

On Wed, Jan 30, 2019 at 9:01 AM Marcin Korzycki <notifications@github.com>
wrote:

[2019-02-02 07:59] rasos commented on #9632
@hortonelectric Jitsi integration is already available in the fairchat app (which can connect to any RC server, see Android / iOS stores).

[2019-02-02 08:40] Shaverdoff commented on #9632
only in CH & PG. even enable on direct - no option.

[2019-02-02 08:47] Shaverdoff commented on #9632
on mobile ios client no any video options like start video(jitsi/BB) or something else like WebRTC.
on mobile android client webrtc option is appears but it grayout like disabled, even if options turn on on server side.

[2019-02-02 09:19] jasonfah commented on #13317
Same for us. We ended up converting our hubot scripts to an app.

AFAIK it's being encouraged that you move away from the internal hubot and look at Apps or external hubot.

[2019-02-02 11:04] tiagoefreitas opened #13325 "Mobile web not responsive on Android"
### Description:

On Android Chrome/Firefox it shows the desktop version always instead of mobile responsive ui.
Tried on 2 different phones and also happens with open.rocket.chat

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.0
- Operating System: Android 6
- Deployment Method: docker

[2019-02-02 11:05] tiagoefreitas commented on #13325
I have to use the browser on android because none of the android apps work with custom oauth currently.

[2019-02-02 11:59] lennartgrunau commented on #13317
@jasonfah The Problem is we're using the internal hubot to react to DMs between other People, not to the bot itself. The Rocketchat Hubot Adapter can't to that. If you got a solution for this, I'd happily give it a try.

[2019-02-02 12:51] Shaverdoff commented on #9632
ofcouse it configured.. 074 tar
m-p : IOS 12.1.3 client 3.2.0 (223)
this photo from mobile
![img_5599](https://user-images.githubusercontent.com/43804710/52164391-17904d80-270a-11e9-8294-ca6274acea3c.jpg)
and this photo from desktop client.
![2019-02-02 16 44 55](https://user-images.githubusercontent.com/43804710/52164412-735ad680-270a-11e9-8b2b-5c37dcdacf14.png)
do not know how in currently andro

[2019-02-02 13:36] rasos commented on #9632
The screenshot with the cat is from the **fairchat app** - it is an independent app development compatible with RocketChat servers, which has video calls integrated.

Android: https://play.google.com/store/apps/details?id=com.osalliance.rocketchatMobile

iOS: https://itunes.apple.com/at/app/fairchat/id1301616129?mt=8

Source Code: https://git.fairkom.net/chat/fairchat/

[2019-02-02 14:58] Shaverdoff commented on #9632
after add server and click to it - app crash) cool!) i wait until ios team with Refael as Lead will procced with video

[2019-02-02 22:12] graywolf336 commented on #13312
Derp, that was a slip in my memory 😂then sadly not at the moment 😞

[2019-02-03 06:01] supra08 commented on #7900
@MartinSchoeler, @sampaiodiego  can I take up this issue?

[2019-02-03 06:39] rohitmyaim commented on #13141
Yes. @renatobecker
Currently the API exist to transfer the room to a department. Similar it can be forward it to a user.

[2019-02-03 09:29] Soldia1138 opened #13329 "DDP Rate Limit is active for first admin"
### Description:

DDP Rate limit affects first created admin user as well, breaking the setup wizard as it's failing at the last step. As one can't finish update, it's not possible to change the Rate limiter settings via Settings menu.

### Steps to reproduce:

1. Deploy a brand new instance of RocketChat (for me it was docker-compose)
2. Go to the RocketChat-Instance URL
3. Create first admin via

[2019-02-03 10:21] reetp commented on #13325
Can you be more specific about which device you are using and post a screenshot?

[2019-02-03 11:16] horstepipe commented on #9233
thank you very much, that worked :-)

[2019-02-03 15:03] moussa86 opened #13330 "mongo docker compose http 404"
Trying to build a docker for RocketChat. when the docker-compose tries to get Mongo image an Http 404 error no such image found

[2019-02-03 15:16] reetp commented on #13330
Please show your compose file.

Also use this template to give us some more information.

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-02-03 15:18] reetp commented on #13316
Please open NFRs in the forums thank you.

https://forums.rocket.chat/c/feature-requests

[2019-02-03 15:18] reetp commented on #13316
@rocket-cat close

Closing notabug/NFR

[2019-02-03 15:19] moussa86 commented on #13330
version: '2'

services:
  rocketchat:
    image: rocketchat/rocket.chat:latest
    restart: unless-stopped
#    volumes:
#      - ./uploads:/app/uploads
    environment:
      - PORT=3000
      - ROOT_URL=http://localhost:3000
      - MONGO_URL=mongodb://mongo:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://mongo:27017/local
      - MAIL_URL=smtp://smtp.email
#       - HTTP_PROXY=http://proxy.d

[2019-02-03 15:20] moussa86 commented on #13330
`version: '2'

services:
  rocketchat:
    image: rocketchat/rocket.chat:latest
    restart: unless-stopped
#    volumes:
#      - ./uploads:/app/uploads
    environment:
      - PORT=3000
      - ROOT_URL=http://localhost:3000
      - MONGO_URL=mongodb://mongo:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://mongo:27017/local
      - MAIL_URL=smtp://smtp.email
#       - HTTP_PROXY=http://proxy.

[2019-02-03 15:37] reetp commented on #13292
First please fill out a bug template.

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Second I'm not exactly sure how you would think this would work?

é is not the same as e or è or ê or any other variation of the letter.

Additionally you would then also have to search on all variations of each lettter eg o ő ø ö etc. And then that would have to be considered for ev

[2019-02-03 15:38] reetp commented on #13292
@rocket-cat close

[2019-02-03 15:38] #13292 closed

[2019-02-03 15:42] joafalves commented on #13292
All modern chat applications take this variations into account, it's not an uncommon feature. Just take a look at Skype, FB messenger, WhatsApp. They all do the same.

In programming, the term is mostly known as accent insensitive search.

[2019-02-03 17:47] awunder opened #13331 "custom oauth, for the identity path rocket chat requests html instead of json"
### Description:

custom oauth, for the identity path rocket chat requests html instead of json.

### Steps to reproduce:

i guess just use a custom oauth and check the request format

### Expected behavior:

it should request 'application/json'

### Actual behavior:

request.formats: ["text/html"]

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74.0
- Operating System: Ubuntu 1

[2019-02-03 19:16] khaledalyawad commented on #1112
I have the feature working checkout my comment

![image](https://user-images.githubusercontent.com/7322671/52181277-d35a8700-27b5-11e9-9cb0-1be7ac2926c5.png)

this is a forked branch from commit abe1f41202375641f2213afd29314e0fb6f22113

https://github.com/cooderzinc/rocket.chat.reply.threading

[2019-02-03 19:43] pjv commented on #13329
yeah, what they said ⬆️

kinda frustrating hitting this trying to set up first rocketchat instance.

is there any workaround for getting past the setup wizard?

[2019-02-03 20:18] jasonfah commented on #13317
Could you tell us a little about what your hubot scripts were doing. Have you looked at the new app framework? Maybe it can do what you need.

[2019-02-03 21:03] cadetmsv commented on #13296
**Add the field "Full name" to manually fill in the "fname" when creating the channel https://github.com/RocketChat/Rocket.Chat/issues/13019**

**The name of the rooms in channels and private groups in human readable form https://github.com/RocketChat/Rocket.Chat/issues/12638**

[2019-02-03 21:46] reetp commented on #13331
Who is you OAuth provider please?

As far as I could ascertain from reading around, and being no expert on the issue, a request would normally be in html, with a JSON encoded response.

See this for example (search the interwebs for something like "oauth request is in html not json"):
https://stackoverflow.com/questions/38165131/spring-security-oauth2-accept-json

"Why are you trying to use JSON H

[2019-02-03 21:57] reetp commented on #13330
Please fill in the rest of the information as per the template so we have an idea of what system, you are trying to install.

I think you have got your compose file in a muddle - part of it is from a standard docker setup here:

https://rocket.chat/docs/installation/docker-containers/

and part from here:

https://rocket.chat/docs/installation/docker-containers/systemd/

Note it clearly says for t

[2019-02-03 22:58] jasonfah commented on #13317
That seems like it should be possible with the new app framework. Documentation is a bit hit and miss but the best advice I can give is to go to the marketplace and download a few apps. You can then unzip them and take a look at the source.

Maybe a slash command would work for you guys? The user could type /meeting and the app would do a http request to generate a new meeting/conference and posts

[2019-02-04 01:00] juliomac commented on #5998
Can I disallow it? I don't want users to see departments at all in some cases.

[2019-02-04 02:33] zolbayars commented on #13147
For me, updating npm version from 5.5.1 to 6.7.0 resolved this issue.

[2019-02-04 02:52] itbeckham7 commented on #13329
i am too.
because this error, i can't complete setup wizard.

[2019-02-04 04:10] hypery2k commented on #12243
@Hudell Any news on this?

[2019-02-04 06:35] geekgonecrazy commented on #13298
Might be worth reaching out to aws on this one.  I’m not sure how that would translate to a connection string.

We only officially support mongo.  Feel free to open a topic in our forum.  Maybe others in community have an idea

[2019-02-04 06:35] #13298 closed

[2019-02-04 07:02] Shaverdoff commented on #13324
Firtst of all - update the RC server - is 0.7.4.1 already.
Second - Test you issues. I sure you cant see that bug again.

[2019-02-04 08:38] netsliver opened #13337 "Anonymous form by default"
Hello,
I would like to propose an "anonymous" chat where the user enters his login at the opening instead of having to register or authenticate.

The anonymous reading / writing is not enough because in this case we arrive on the list of channels, I want the user to be directed immediately on the choice of the pseudo with the same content elements as on the login page.

Regards

[2019-02-04 08:40] banoleb commented on #13300
@ggazzo hi,
sorry,The first time I write a report, I'll keep it on mind

- Version of Rocket.Chat Server:
- Operating System: Debian GNU/Linux 9.6 (stretch)
- Deployment Method: docker
- Number of Running Instances: 1
- MongoDB Version: 3.2
Version of Rocket.Chat Server: 0.73.2
the problem was before on the version 0.72

[2019-02-04 08:48] kleyoneo opened #13338 "run hook "configure": "((enable)|(disable))" is not a valid, set to enable or disable"
Hello,

On a fresh Debian 9 installation with snap 2.21, it's impossible to install rocketchat-server.

Snap install install rocketchat-server says :
- "**Run configure hook of "rocketchat-server" snap if present (run hook "configure": "((enable)|(disable))" is not a valid, set to enable or disable)**"

Here the syslog :

[syslog.txt](https://github.com/RocketChat/Rocket.Chat/files/2827117/syslog.

[2019-02-04 09:20] mfominov commented on #6545
maybe there is solution like for cas?
https://github.com/RocketChat/Rocket.Chat/issues/3379

[2019-02-04 10:21] mfominov commented on #6545
db.getCollection('users').update({username:"[USER]"}, { $set: { "crowd_username": "[USER]" }});
db.getCollection('users').update({username:"[USER]"}, { $set: { "crowd": true }});

[2019-02-04 10:46] kleyoneo commented on #13338
Well, I found by myself :

apt purge snapd
apt install snapd
snap install --edge core

[2019-02-04 10:46] #13338 closed

[2019-02-04 11:16] pjv commented on #13329
my work-around was changing my docker-compose file from:

`image: rocketchat/rocket.chat:latest`

to

`image: rocketchat/rocket.chat:0.74.0`

then i was able to complete the setup wizard.

[2019-02-04 11:50] Soldia1138 commented on #13329
Same here. Starting with 0.74.0 solves the issue. upgrading to 0.74.1 after setup is complete works fine.

[2019-02-04 11:53] renatobecker commented on #5998
@juliomac, Yeah.. There is a specific Livechat settings(`Allow Visitor to Switch Departments`) to enable/disable this feature.

[2019-02-04 12:25] tosinginchinese opened #13339 "Hipchat Import Error: request entity too large"
Hello,

I was trying the Hipchat Importer in Rocket Chat 0.74.1 (Docker installation), I got an Hipchat export file and decrypted it with openssl aes-256-cbc -d -in hipchat-.....-2019-01-08_12-25-51.tar.gz.aes -out hipchat-.....-2019-01-08_12-25-51.tar.gz
It's a self-hosted instance and I'm not using Nginx as reverse proxy but HAProxy, same problem without a reverse proxy too.
I was able to import

[2019-02-04 13:16] reetp commented on #13337
As per this all New Feature Requests should be opened in the forums for discussion.

http://rocketchat.github.io/docs/contributing/reporting-issues/

[2019-02-04 13:17] reetp commented on #13337
@rocket-cat label add "Feature: Request"

[2019-02-04 13:17] reetp commented on #13337
@rocket-cat close

[2019-02-04 13:17] #13337 closed

[2019-02-04 13:19] reetp commented on #13262
@rocket-cat label add "Feature: Request"

[2019-02-04 13:23] reetp commented on #13300
The documentation refers to the Cordova app which as far as I am aware is now EOL and unsupported.

Does this apply to the new Kotlin/React apps? Should the documentation be updated?

[2019-02-04 13:42] rodrigok commented on #13329
@Soldia1138 thanks for the feedback, we will fix this and release 0.74.2 ASAP

[2019-02-04 14:05] FelikZ commented on #1824
When trigger opens a chat on a curtain page, a chat is immediately starts skipping the info form about user "name,email". So all the users are anonymous. Is there a way to force use enter this details / show form when the chat started?

If not, that would be nice to have and probably easy to implement.

[2019-02-04 14:25] nikoul commented on #8542
Maybe it's not exactly the same issue, but I think this is related.
Let's say I upload an image with user A, with proxy enabled, and send it to user B using a private group.
From what I tested, if a user C is aware of the file path (for example http://server/file-upload/maC8nhQCsryyYHgqB/images.jpeg) , he can access the file...

User C should get some kind of Denied authorization no ?

[2019-02-04 14:55] melanierieback commented on #13325
I'm having the same problem.   I have a Samsung phone w/ Chrome on Android.

[2019-02-04 15:09] tiagoefreitas commented on #13325
Mine is a Motorolla Moto G5S, but I tested several and appears to happen in all of them...

[2019-02-04 15:26] geekgonecrazy commented on #13331
Normally I’d agree that it should be variable.  But we only parse json.  As an oauth client we only parse json responses.

[2019-02-04 15:26] reetp commented on #13325
If you appear to have this Issue you need to be specific about OS version and browser.

Just saying 'me too' does not help.

Please also test in a couple of browsers as well.

[2019-02-04 15:29] facundomedica opened #13340 "Error 401 (you must be logged in) in some endpoints"
/api/v1/commands.list

### Description:

In the web UI (of a self hosted server) I have errors 401 in endpoints `/api/v1/commands.list` and `/api/apps`. And sometimes using the rest api when creating a new user with an admin user (this is solved by relogging, but it's quite erratic and can't replicate it whenever I want, just like https://github.com/RocketChat/Rocket.Chat/issues/10792)

The `/api/

[2019-02-04 15:40] frdmn commented on #13340
Just a hunch, but could this be related to the [DDP rate limiter issue](https://github.com/RocketChat/Rocket.Chat/issues/13329)?

If so, disabling the affected settings (`DDP_Rate_Limit_IP_Enabled`, `DDP_Rate_Limit_User_Enabled`, `DDP_Rate_Limit_Connection_Enabled`, `DDP_Rate_Limit_User_By_Method_Enabled` and `DDP_Rate_Limit_Connection_By_Method_Enabled` to `false`) should help as a temporary work

[2019-02-04 15:43] facundomedica commented on #13340
@frdmn in that issue it says that it happens for the first admin but I've tried with 2 admin accounts. Anyway I'll give it a go. Setting those env variables to empty strings is enough right?

[2019-02-04 15:49] Sing-Li commented on #13325
Same thing observed with Android 8.0.0 with Chrome on Sony Xperia.

However,  @tiagoefreitas  @melanierieback   -- what it the UI gives you the clue that it is the non-responsive layout.   Is the browser

(a)  "Shrinking everything - including the messages displayed  - up to display the entire screen"   .... or
(b)  are you seeing only a CLIPPED corner of a full screen?

Please supply a screen cap

[2019-02-04 16:27] frdmn commented on #13340
@facundomedica You mentioned that "it's quite erratic and can't replicate it whenever I want" - that made me think about the rate limiter. Anyways, might be worth a try to see if it's related to this.

Oh and by the way: If you still have access to the regular admin UI, you can of course use that to set those as well:

<img width="1530" alt="screenshot 2019-02-04 at 17 24 46" src="https://user-ima

[2019-02-04 16:37] facundomedica commented on #13340
@frdmn I've changed that, I'll let you know if the error when creating user disappears. In the meanwhile, can you check the 401 errors in commands.list and apps?

[2019-02-04 17:09] rohitmyaim opened #13341 "Livechat API livechat/agent.next/:token always throwing error of Invalid token"
The above API always throws eror of invalid token

There is a issue in code which I have identified.

[code]

[2019-02-04 17:12] tassoevan commented on #13325
It should be working fine on 0.74.1.

[2019-02-04 17:32] sampaiodiego commented on #7900
sure @supra08 .. we'll be more than happy =)

[2019-02-04 17:40] tiagoefreitas commented on #13325
Confirm its fixed for me on 0.74.1

[2019-02-04 17:48] tassoevan commented on #11622
Closing it in favor of #12899.

[2019-02-04 17:48] #11622 closed

[2019-02-04 20:15] eltian opened #13346 "Dollar signs trigger Katex inside code block"
### Description:

Whenever we try to include two or more dollar signs inside a code block (single or multi line), the katex formatting processes the code.

### Steps to reproduce:

1.write  \`\`\` $x $y \`\`\` and send the message

### Expected behavior:

the code shouldn't be formatted and instead show `$x $y` in a block code

### Actual behavior:
shows the content between the two dollar signs fo

[2019-02-04 22:19] Sing-Li commented on #13325
@melanierieback confirmed fix 0.74.1 via john ... closing.

[2019-02-04 22:19] #13325 closed

[2019-02-05 08:28] Tomasvrba opened #13351 ""Failed_To_upload_Import_File" for Slack Import"
### Description:

When attempting to import a .zip file with Slack history, an error message always pops up in the upper right hand corner saying ""Failed_To_upload_Import_File".
This error does not produce a log entry.
Regular file uploads work well.

### Steps to reproduce:

Go to 'Administration' > 'Import' > 'Slack' > either 'Choose File' or use a 'File URL'
Both options result in the same err

[2019-02-05 08:47] himpierre opened #13352 "emoji size only 50% when enabling markdown "marked" in message"
### Description:

Hi  Guys.

When markdown down "marked" is enabled in messages emojis are only around half the size as it would be normaly.

### Steps to reproduce:

1. Enable Markdown "Marked" in Messages
2. Enter :thumbsup: in a channel
3. Emojis is only half the size it is withoud Markdown enabled

### Expected behavior:

Emoji is the same size.

### Actual behavior:

Emoji is only half the si

[2019-02-05 09:43] reetp commented on #13331
Ironic that your Oauth provider actually generates a token, but then fails with a 406 Unacceptable header. You would think it would fail before generating the token ;-)

Is there anything earlier in the Oauth logs to show the incoming request from Rocket to see the request headers? Or any other way it can be trapped so we can see?

Your Oauth provide says it is "headers: { 'content-type': 'text/ht

[2019-02-05 09:54] Apollinaire opened #13353 "Oauth Apps : Zapier"
I don't understand the point of this peice of code:
https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-oauth2-server-config/server/oauth/default-services.js
What it does, is check at every deployment/startup that an OauthApp called `zapier` exists, and if not it creates it.
It's (apparently) not a huge backdoor because it only means that someone that already has an account

[2019-02-05 09:58] micfung commented on #12802
sorry guys, the error still exists on 0.74.1
On mongo side, the error is **no SSL certificate provided by peer; connection rejected**
On rocketchat side, the error is **MongoNetworkError: connection x to xxx:27017 closed**
I tried so many times to upgrade from 0.71.1 to 0.72 and 0.74.1, but still cannot connect to mongo
The MONGO_OPTIONS works well on 0.71.1

[2019-02-05 10:05] PhilippJung92 opened #13354 "Live chat auto-hide room on close or timelimit"
### Description:

live chat rooms in the left taskbar are still open even if the chat has been ended.
Same issue as #11118

### Expected Behaviour
When closing a livechat room, the room should be removed from the room list in the left sidebar.

### Steps to reproduce:

1.  Open live chat, text
2. close the chat
3. chat is still visible on the left task bar.

### Expected Behaviour
When closing a l

[2019-02-05 10:09] Centzilius commented on #13220
I suggest replacing every unsupported character or simply ignoring it since rocketchat is not going to use it anyway.

I wanted to use the openid endpoint originally but then the mail address is not picked up by rocket chat (probably because it's not the key "mail") so to use that it would be needed to customize the field that is used for mail.

[2019-02-05 10:49] reetp commented on #13341
Please fill out a bug template as per this:

https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Have you tested on the latest 0.74.1 ? If not then please do so.

[2019-02-05 10:59] himpierre opened #13355 "0.74.1 crashloop when uploading big file to channel (70MB)"
### Description:

I was trying to upload a mp4 to a channel. During that process Rocketchat crashloops. It does not recover even after a restart of rocketchat. Had to restore from backup. Error message:

[code]

### Steps to reproduce:

1. Upload a big file (70MB+) to a channel
2. Rocketchat crashes
3. Rocketchat restart does not help

### Expected behavior:

Upload succeeds or a info message appe

[2019-02-05 11:06] frdmn commented on #12743
Seems related to #9319

[2019-02-05 11:18] sinteur commented on #13325
(update on melanie's problem - the update to 0.74.1 fixed it)

[2019-02-05 11:54] reetp commented on #13355
Server spec, particularly RAM?

[2019-02-05 12:06] himpierre commented on #13355
Rocketchat runs on virtual machine with 4GB of RAM. It does not seem the VM was running out of RAM. Is that what the error message says?

thanks and cheers
t.

[2019-02-05 12:30] renatobecker commented on #1824
Hi @FelikZ!
Yeah, We've detected the behaviour you just describe and we're planning to fix it ASAP.
Thanks.

[2019-02-05 12:44] moonwolf-github commented on #13355
Looks similar (related maybe?) to my #13191.

[2019-02-05 12:48] himpierre commented on #13355
Yes it does. WebDAV integrations is enabled on my installation but not used in this case. I just hit the + and "Computer" to upload the file.

[2019-02-05 14:37] himpierre commented on #13355
Should i try to upload that file to https://open.rocket.chat?

[2019-02-05 14:38] reetp commented on #13355
They may have file limits on there.

See if a dev comes back to you here first.

[2019-02-05 15:08] 4dams commented on #13148
Running into the same error.

[code]

[2019-02-05 15:36] ggazzo commented on #9157
@wonkaba please try the last version, I'm confident we fixed :)

[2019-02-05 15:55] renatobecker commented on #13354
@PhilippJung92 duplicated issue?

[2019-02-05 16:04] fleaz commented on #12494
Still a problem in 0.74.0

[2019-02-05 17:54] sampaiodiego commented on #13300
this doesn't seem to be related to Rocket.Chat. There is nothing on the app preventing that.

I have found this looking for this error on google:

https://jira.mongodb.org/browse/SERVER-22678?focusedCommentId=1179270&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-1179270

your error is not related to gridFs but I think worth trying the "fix", try a `reIndex` and a

[2019-02-05 17:54] #13300 closed

[2019-02-05 18:51] sampaiodiego commented on #13095
closing per inactivity

[2019-02-05 18:51] #13095 closed

[2019-02-05 19:34] gomaaz commented on #11604
issue still persists in 0.74.0 Release candidate

[2019-02-05 20:12] coders-kitchen commented on #2885
We are currently adding a feature that logs at least the failed login attempts

https://github.com/tyntec/Rocket.Chat/tree/failed_login_audit

Logging of IP Addresses, Username and UserAgents can be turned on / off via the Admin interface.

[2019-02-05 21:13] Shaverdoff commented on #11604
Its Strange, because then i make changes it permanent after 072 or 073 release

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84<tel:+7%20937%20070%2066%2084> | Skype/email: gerasim@altarix.ru<mailto:gerasim@altarix.ru>
Lenina av.25, Samara, Russia, 443068

5 февр. 2019 г., в 23:35, Daniel Lortie <notifications@github.com<mailto:notifications@github.com>> написал(а):

issue sti

[2019-02-05 21:14] #13329 closed

[2019-02-05 21:16] kaoecoito opened #13371 "Livechat Department in Room Info"
In the information screen of the chat room does not appear which department the guest chose when they entered the chat.

[2019-02-05 21:18] 0zx08509 commented on #13329
Confirmed I am getting the same issue with regular installation method of 0.74.1 on RHEL 7.6:
=====
Feb  5 12:21:51 (redacted) rocketchat: DDP RATE LIMIT: limit by connectionId per method
Feb  5 12:21:51 (redacted) rocketchat: {
Feb  5 12:21:51 (redacted) rocketchat: "allowed": false,
Feb  5 12:21:51 (redacted) rocketchat: "timeToReset": 300,
Feb  5 12:21:51 (redacted) rocketchat: "numInvocationsL

[2019-02-05 21:21] tassoevan commented on #13295
Related to #12098

[2019-02-05 21:54] vanceric commented on #1112
@khaledalyawad This is exactly the kind of threading I would expect. The existing PR for threading does not satisfy our organizational requirements. Unfortunately I'm having trouble comparing your fork to the original since there's no commit history. Do you think you could open a PR here so we can check it out?

[2019-02-05 22:02] #11604 closed

[2019-02-05 22:02] #12399 closed

[2019-02-05 22:46] khaledalyawad commented on #1112
I. Need help in merging

[2019-02-06 00:44] ccfiel opened #13372 "API to get all current livechat chats"
API to get all current livechat chats

![831f154df5a138693f0c34f9b2287aacdab61bcc](https://user-images.githubusercontent.com/1788360/52313920-56185780-29eb-11e9-8cf1-969fe79141c1.png)

[2019-02-06 01:07] sampaiodiego commented on #9319
for me it works fine most of the time. if I see the red bar and let it on the screen after a few seconds, it disappear.

I've found a definition [in the code](https://github.com/RocketChat/Rocket.Chat/blob/9a39789f30c38e66d3afe404fad45fc7e509bffb/packages/rocketchat-ui-utils/client/lib/readMessages.js#L8):

[code]

If it is not working as you expect, you can also try debugging it by running this (

[2019-02-06 09:42] fleaz opened #13374 "Usernames are case-sensitive when mentioning someone"
### Description:

When creating users in RocketChat they are treated case insensitive, e.g. I can't create two users with the username "foo" and "Foo". But apparently when mentioning someone in a channel, it only gets converted to a highlight if one uses the correct case. This bites a lot of our customers because to to pretty short names some of them just type the message including the highlight i

[2019-02-06 11:11] gudge25 opened #13375 "Feature request: SEARCH GLOBAL"
GREAT FEATURE IF POSSIBLE
![image](https://user-images.githubusercontent.com/2346208/52337467-6262db80-2a10-11e9-87d3-b2946892823e.png)
it also can be a "Global search button "
for example i need to search world  "originate" but i diont know in what channel it was
so i go to a "Search" and it can  find out

Sure  global search can be enabled  or disabled  in settings.
Thanks

[2019-02-06 11:16] mrsimpson commented on #1112
@khaledalyawad I have just briefly had a look at your implementation 👍 . I'd much appreciate you open a PR, since then we can discuss it better (even if un-merged!). This thread should be focusing on the issue and functional requirements.

 I'd like highlight some fundamental challenges of inline threading vs. a heavy weight threading:

- How to notify users in the parent thread that new messages

[2019-02-06 11:26] duszek94 opened #13376 "Realtime API authentication problem"
Hi, I'm trying to make a research about Rocket.Chat Realtime API. First question. What is the "id" parameter that I have to send in every request? I thought that this is a "server_id" that I'm receiving in a response after websocket connection. Another problem is that I cannot authenticate to a server through Realtime API. Every time I'm getting a "User not found [403]" response message. Here is m

[2019-02-06 11:38] #13376 closed

[2019-02-06 12:45] vynmera commented on #2885
Just have three modes:
* No logs
* Hashed logs (last 8 or so characters of say, a salted sha512, so you can compare them to other users but not get the IP out)
* Full logs (and display a notice stating you must update your privacy policy to reflect this (and have a button that takes them to the Layout key to change this))

[2019-02-06 12:59] Lawri-van-Buel commented on #2885
@coders-kitchen could you change this so you can choose what is logged. As stated earlier in this thread the laws surrounding what you can and cannot log and why are not uniform across the globe. Having the flexibility to choose how your logging works would make it easier for all to utilize it.

the solution from @vynmera  would also work but lacks flexability.

[2019-02-06 13:43] vynmera commented on #13249
Can you test a manual prune, and see if files disappear then? (e.g., create a channel, post some files, prune the channel, then see if the files are left). Perhaps someone updated the file storage logic without changing the references in the prune function.

[2019-02-06 13:59] mddvul22 commented on #13249
When I do a manual prune, in a test channel, the files are deleted, also.

[2019-02-06 14:27] fleaz commented on #12493
Some of our customers also bumped into this recently (running RC 0.74.0 here). I checked the browser console and apparently the API endpoint already returns a helpful human-readable error message which could be presented to the user.

<img width="2524" alt="screenshot 2019-02-06 at 15 08 57" src="https://user-images.githubusercontent.com/2489598/52347278-d5c11900-2a21-11e9-9b4d-0ef4b3e39bf3.png">

[2019-02-06 14:41] gregs007 commented on #13375
This is already in the code, though still beta as of 0.74.1. Administration >> Search >> Default Provider

[2019-02-06 15:08] clarm060 commented on #7402
Just wanted to put this out there if you installed Rocket Chat on CentOS7 this could be an issue with SELinux blocking the Nginx Upstream loopback to 127.0.0.1 or Localhost.

you can run : `setsebool -P httpd_can_network_connect 1` which will allow the upstream connection to succeed allowing your proxy to work!

[2019-02-06 16:14] ghost opened #13380 "Scaling beyond 100.000 users or 50 messages/second"
Hi,

we're currently looking for options to scale to large number of users
(up to 300.000 registered, ~100k daily active). The our setup in server information.

We're using MongoDB Atlas as managed solution with 2 configurations:

- M30 (2 vCPUs, 8 GiB RAM)
- M200 (64 vCPUs, 256 GiB RAM)

SSL is offloaded by AWS network load balancer, multiple instances per
server are load-balanced by nginx (see c

[2019-02-06 16:23] coders-kitchen commented on #2885
@vynmera @Lawri-van-Buel thanks for hints about the information that should / could be logged.

@Lawri-van-Buel PR is here https://github.com/RocketChat/Rocket.Chat/pull/13381 and what's your idea about ```could you change this so you can choose what is logged```

[2019-02-06 16:25] thayannevls commented on #13374
Is anyone working on this? Can I try to do the mentions case-insensitive?

[2019-02-06 16:31] WebSavvyGuy commented on #2885
Definitely need more than just for “failed logins”

[2019-02-06 17:21] graywolf336 commented on #13304
Closing until you test with the latest version. As a rule of thumb, we generally only support three versions including the latest. However, if after testing it still needs looked at then comment back with an update and re-open the issue.

[2019-02-06 17:21] #13304 closed

[2019-02-06 19:43] sampaiodiego commented on #13380
@bytepoets-mzi thanks for sharing your results =)

do you mind sharing your test suit? what did you use as clients to get this numbers?

we're working to improve these numbers, but there is nothing concrete to share at moment, although we value any additional information that can help.

[2019-02-06 20:00] reetp commented on #13375
@r0cket-vat close.

NFRs should normally be opened in the forums, but this in progress elsewhere.

[2019-02-06 20:00] #13375 closed

[2019-02-06 20:09] reetp commented on #13330
@rocket-cat close

Seems a configuration issue rather than bug.

[2019-02-06 20:09] #13330 closed

[2019-02-06 20:26] sgowie commented on #7524
For what its worth, using the kube-router CNI we've set the service for both the nginx TLS termination proxy, and the rocketchat application to use source-hashing.  This works well, and allows for the pods behind the service to scale based on load.

[2019-02-06 22:18] mixrat commented on #10824
I have the same issue on RC 73. Here is what I see on Ubuntu 16.04, with both Chrome and FF...
![selection_201](https://user-images.githubusercontent.com/20234985/52377399-a49c2380-2ac9-11e9-806b-461eac91eb6b.jpg)

Workarounds are terrible for production environments. I hope this is corrected soon.

[2019-02-06 22:45] geekgonecrazy commented on #7402
@clarm060 thanks for sharing!  It would be awesome if you could add as a note to our docs: https://github.com/rocketchat/docs might help others with this problem

[2019-02-06 22:48] geekgonecrazy opened #13391 "[snap] add option to mount media"
Allow media plug so snaps can write to /media
Should be as easy as adding the removable-media plug: https://github.com/nextcloud/nextcloud-snap/blob/master/snap/snapcraft.yaml#L81 to our rocketchat-server part.

Then need to add something like this to the docs to tell people how to do it: https://github.com/nextcloud/nextcloud-snap/blob/master/README.md#removable-media

[2019-02-06 22:49] geekgonecrazy commented on #5948
opened issue for that request specifically: https://github.com/RocketChat/Rocket.Chat/issues/13391

[2019-02-06 23:35] wonkaba commented on #9157
Upgraded to 0.74.1 today and this is still an issue.

[2019-02-07 01:00] cuiying408 opened #13392 "Push notification not working: iOS"
Hi,

I am new in Rocket.Chat and installed hosting server on AWS. Converted iOS certificates to pem files. I think I have to replace pem files with them on server but I can't find them on server.
Also, I saw **Certificates and Keys** in Administrator/Push page. What strings should I input? (APN Passphrase, APN Key, APN Cert, APN Dev Passphrase, APN Dev Key, APN Dev Cert...)

Thanks,

[2019-02-07 04:53] geekgonecrazy commented on #8542
Make sure protected uploads is on

![image](https://user-images.githubusercontent.com/51996/52391264-ff9a3000-2a61-11e9-9116-6a47f907a511.png)

If you have access and send it... that might be allowing them access.  I'm not 100% certain.  One way to verify would be to pass it out of band to someone not in a room you upload it to and see if they can access it.

[2019-02-07 04:56] geekgonecrazy commented on #12802
@MarcosSpessatto @rodrigok ideas?

[2019-02-07 08:39] brahmaparush commented on #11772
faced with same issue
I use integration RocketChat - Jira
I noticed a very strange behavior.
The RocketChat client forcibly changes the quotation mark to a format of his own.
Steps to reproduce
1. Send request into RocketChat room project = test AND status = "In Progress"
2. Copy this request and paste into jira search form
as actual: brocken jql request, need to replace quotation mark
as expected

[2019-02-07 09:12] Jerome-mi opened #13395 "file upload fails since mongod update from 4.0.5 to 4.0.6"
### Description:

file upload fails since mongod update from 4.0.5 to 4.0.6

### Steps to reproduce:
any attempt to upload a file into a channel, progress bar remains at 0

### Expected behavior:
correct upload as it was before apt upgrade on the server

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 0.74
- Operating System: ubuntu 16.04
- Deployment Method:

[2019-02-07 09:42] reetp commented on #13392
@rocket-cat close

This appears to be a support issue and not a bug in Rocket.Chat

Please ask in the forums https://forums.rocket.chat or https://open.rocket.chat #support

[2019-02-07 09:43] #13392 closed

[2019-02-07 09:47] reetp commented on #13395
Please make sure you are on latest 0.74.2 and check the supported software versions here (just checking the basics here!):

https://github.com/RocketChat/Rocket.Chat/releases/tag/0.74.2

Node: 8.11.4
NPM: 6.4.1
MongoDB: 3.2, 3.4, 3.6, 4.0

Do you have some rocket chat logs to show the errors?

[2019-02-07 10:20] brahmaparush commented on #1593
How to specify the language after the ```?

[2019-02-07 10:28] Jerome-mi commented on #13395
I updated rocket.chat to latest, same issue (edited the post with version and NPM version)
here is the log
[34mI20190207-11:22:54.684(1) ➔ System ➔ startup
[34mI20190207-11:22:54.684(1) ➔ +---------------------------------------------------+
[34mI20190207-11:22:54.684(1) ➔ |                   SERVER RUNNING                  |
[34mI20190207-11:22:54.685(1) ➔ +------------------------------------

[2019-02-07 10:56] fabien4455 commented on #13186
UP

[2019-02-07 12:00] rockneverdies55 commented on #11649
Don't even remember since when but we're having this issue for a long time by now as of v0.74.2. Each time one of us starts a video call, "i" (info) icon has to be clicked on jitsi-meet window and meeting access link has to be copy pasted to the rocket.chat room manually for everybody to join the video meeting.

[2019-02-07 12:06] reetp commented on #13395
No errors in rocketchat, mongo or webserver logs when you try and upload ?

What file storage system are you using?

[2019-02-07 12:09] reetp commented on #12667
@rocket-cat close
Closing on the basis of https://github.com/RocketChat/Rocket.Chat/issues/12667#issuecomment-442584069

[2019-02-07 12:09] #12667 closed

[2019-02-07 12:11] rjozwiak commented on #6822
Any updates on it?

[2019-02-07 12:15] rjozwiak commented on #11570
Any updates on it? The feature is critical for companies I think.

[2019-02-07 12:19] reetp commented on #13080
@rocket-cat close
Closing on the basis of https://github.com/RocketChat/Rocket.Chat/issues/13080#issuecomment-451731943

[2019-02-07 12:19] #13080 closed

[2019-02-07 12:21] reetp commented on #13054
@rocket-cat close

Closing on the basis of https://github.com/RocketChat/Rocket.Chat/issues/13054#issuecomment-452641856

[2019-02-07 12:21] #13054 closed

[2019-02-07 12:24] reetp commented on #4759
What is happening with the MR https://github.com/RocketChat/Rocket.Chat/pull/12540 ?

[2019-02-07 12:41] reetp commented on #11690
@rocket-cat close

Disabling the setup wizard can be configured with an Environment setting.

However, I can't find it to post here because it isn't in the docs as per #871 which really should be looked at.

[2019-02-07 12:41] #11690 closed

[2019-02-07 12:46] reetp commented on #11480
Can we bump this?

Another Merge request languishing about.

[2019-02-07 12:50] reetp commented on #12010
Any update on latest version of Rocket - currently 0.74.2 ?

If not we should close for lack of more information

[2019-02-07 12:51] reetp commented on #12308
@rocket-cat close

Closing this as nothing else has been reported for a while

[2019-02-07 12:51] #12308 closed

[2019-02-07 13:06] marceloschmidt commented on #8256
This is planned to be implemented sometime in the future via a SIP integration.

[2019-02-07 13:06] reetp commented on #3977
Bump - still exists on 0.74.2

You can open the image, but not collapse it.

[2019-02-07 13:08] reetp commented on #12511
I presume this is still an issue in 0.74.x ?
I have nothing to test it with

[2019-02-07 13:14] marceloschmidt commented on #8297
Users have default preferences that an admin should not override. We don't think this would be a good practice.

[2019-02-07 13:14] #8297 closed

[2019-02-07 13:17] marceloschmidt commented on #8313
We've seen some companies reaching out to offer this, but we don't yet know how we're going to make this available. Either through apps or directly in code, or something else.

[2019-02-07 13:20] marceloschmidt commented on #8320
Please check if this has been implemented in recent UI changes. I believe it has. Reopen if not. Thanks.

[2019-02-07 13:20] #8320 closed

[2019-02-07 13:21] marceloschmidt commented on #8319
Implemented via https://github.com/RocketChat/Rocket.Chat/pull/11316.

[2019-02-07 13:22] reetp commented on #12323
OK, I just tested this again with Chromium on 0.74.2

`:D:D:D`      fails and shows exactly that

`:D :D :D`    with spaces between works (doesn't need a leading space)

Presumably this is a parsing issue, but not sure how you would fix it, and whether it would affect other things

[2019-02-07 13:24] reetp commented on #12546
@rocket-cat close

Closing for lack of information

[2019-02-07 13:24] #12546 closed

[2019-02-07 13:26] reetp commented on #12228
Can someone please check on latest (currently 0.74.2)

[2019-02-07 13:28] reetp commented on #12482
Looks like this might have been fixed in 0.74.1

Can someone try it please

[2019-02-07 13:29] reetp commented on #12488
Any further information? Current version is 0.74.2

[2019-02-07 13:30] reetp commented on #12258
@rocketcat-close

Closing based on https://github.com/RocketChat/Rocket.Chat/issues/12258#issuecomment-443586599

[2019-02-07 13:31] reetp commented on #12496
Any further information ? Currently on 0.74.2

[2019-02-07 13:36] reetp commented on #12386
Any further information on this ? Currently on 0.74.2

[2019-02-07 13:36] marceloschmidt commented on #8428
We have a rate limiter applied to almost every spam-able method. We are planning to implement a setting for admins to enable/disable IP logging.

[2019-02-07 13:38] reetp commented on #11681
Any information on this or the PR #12800 ?

[2019-02-07 13:42] marceloschmidt commented on #8446
We are planning to have an admin section for deciding the message and whether to display in home screen or only after login, and also maybe adding roles. We'll use the same blue box we use for e2e encryption key.

[2019-02-07 13:44] marceloschmidt commented on #8473
We are planning to implement a setting for admins to enable/disable IP logging. We have other issues requesting it as well. Closing this on behalf of those, such as https://github.com/RocketChat/Rocket.Chat/issues/8428.

[2019-02-07 13:44] #8473 closed

[2019-02-07 13:55] rockneverdies55 commented on #8297
I meant admin sets the baseline (the defaults) on creation. Then users override those later on if they want to.

[2019-02-07 13:59] xvilo commented on #11681
I don't know. We've stopped using Rocket Chat all together.

[2019-02-07 14:06] metalcated commented on #4489
Same here... I can't get 100% buy-in from the higher up's until this feature is available.

[2019-02-07 14:14] duszek94 opened #13399 "Disabling web interface"
Hi, at the beginning thanks for a great server

I have a question. Is there any configuration that allows to disable web interface of Rocket.Chat? If no, whether there is any other way to do such a thing?

Thanks for help

[2019-02-07 14:15] abicur commented on #12228
What exactly check? I can't find anything about improvements for this issue in change list

[2019-02-07 14:27] steve-todorov commented on #12323
I'm not sure, but it looks like a `client side` issue? Maybe the regex which is matching this has a bug?

[2019-02-07 15:01] dazoot opened #13403 "Livechat missing events for operators online / offline"
### Description:

There are no events fired by Livechat when operators are available (at least one is online, not away / busy / invisible / offline) or not available (no operators online).

### Expected behavior:

I would expect the event to be triggered and documented in the Livechat API page:
https://rocket.chat/docs/developer-guides/livechat-api/

### Actual behavior:

No events available for o

[2019-02-07 15:03] duszek94 opened #13404 "users.setPreferences not working"
Hi, I'm trying to run endpoint users.setPreferences but every time, no matter how JSON looks like,  I'm getting the same result

![image](https://user-images.githubusercontent.com/36196903/52420082-a4178300-2af1-11e9-88ef-8e789f938d22.png)

and this is the data that  I'm sending(it's based on REST Api documentation):
![image](https://user-images.githubusercontent.com/36196903/52420056-95c96700-2af

[2019-02-07 15:08] #13404 closed

[2019-02-07 15:47] Jerome-mi commented on #13395
I'm using GridFS and every parameters by default except file types blanked to allow any type.
Nothing in mongodb log, (/var/log/mongodb/mongod.log)
Nothing in nginx errors
Nginx access :
XXX - - [07/Feb/2019:16:46:01 +0100] "POST /ufs/GridFS:Uploads/9kDK3FpSi7RRXgh8a?token=eAf939b949&progress=0.12270820850808868 HTTP/2.0" 500 161 "https://XXX/group/testerome" "Mozilla/5.0 (X11; Ubuntu; Linux x86_6

[2019-02-07 15:54] Jerome-mi commented on #13395
before upgrade, NGINX access was like that :
XXXX - - [01/Feb/2019:07:14:44 +0100] "POST /ufs/GridFS:Uploads/hHJRk7pAtHaXoKBP7?token=08182b98eA&progress=1 HTTP/2.0" 204 342 "https://XXX/direct/Dominique" "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:65.0) Gecko/20100101 Firefox/65.0"
XXX - - [07/Feb/2019:16:46:01 +0100] "POST /ufs/GridFS:Uploads/9kDK3FpSi7RRXgh8a?token=eAf939b949&progress=0.12270820

[2019-02-07 16:11] sampaiodiego commented on #11480
sorry guys for letting this unanswered.

I don't know at **that** time (at version `0.66.2`) but we don't resize image uploads, we only rotate them, we do resize only avatars (and there is a setting for it already).

as @cloudsandladders mentioned though our mobiles apps do resize images, but there is nothing we can do from this side. Please feel free to open an issue there https://github.com/Rock

[2019-02-07 16:32] ellisgeek commented on #2869
Any news on when this will be available?

[2019-02-07 17:33] stleitner commented on #11480
in 0.73.2snap images are **still** "optimized"/manipulated on upload when using the browser (Firefox 65).

Uploaded image: (6000x4500 pixels; 300dpi; RGB; 4.2 MB)
Downloaded image: (6000x4500 pixels; 72dpi; RGB; 0.5 MB)

[2019-02-07 17:48] sampaiodiego commented on #11480
sry @stleitner but I cannot reproduce it, tried on Firefox 65 as well.

I'll have to try the snap image, but I don't think I'll get different results.. in any case, can you describe what are your file upload storage preferences? have you tried using uploading via REST API (to make sure it's nothing on your browser that is doing that)

[2019-02-07 17:51] sampaiodiego commented on #11480
I was using this image to test btw https://en.wikipedia.org/wiki/File:Pizigani_1367_Chart_10MB.jpg

[2019-02-07 17:55] Rohlik commented on #1593
@brahmaparush Something like that:
[code]

[2019-02-07 18:12] stleitner commented on #11480
You are right, this has a JPEG quality of 29% and it is not manipulated. It seems that there is a minimum quality for images which are manipulated (more than 86%), below this they are not manipulated.

Try this one (99% quality): https://upload.wikimedia.org/wikipedia/de/6/6c/Fanta_zero_logo_300dpi.jpg

This one is not manipulated (86%):
https://upload.wikimedia.org/wikipedia/commons/a/a3/Wyclefje

[2019-02-07 18:26] stleitner commented on #11480
My file upload storage preferences:

File Uploads Enabled: True
Maximum File Upload Size (in bytes): 2097152000
Accepted Media Types: all
Protect Uploaded Files: True
Only authenticated users will have access
Storage Type: Filesystem
File Uploads Enabled in Direct Messages: True

[2019-02-07 18:27] baenglund commented on #1112
So now with PR #13394 and #11803 we have two implementations of this. There are also outstanding requests in this issue for Flowdock and Zulip like features. The remaining features would be highlighting of threads in flowdock, and the topic isolation feature of Zulip, and the ability to rethread messages.

Would it be feasible for #13394, that instead of setting parentMessage._id and replyIds, whe

[2019-02-07 18:30] stleitner commented on #11480
using Safari 12.0.3 and Chrome 72, the image is also manipulated

[2019-02-07 18:40] sampaiodiego commented on #11480
thanks @stleitner .. we found the issue is actually there is a `Orientation` data on the EXIF and because of that we rotate the image which then make it lose quality.

see:
[code]

so we'll have to find the proper fix for it.. we'll need to still rotate images (to show them on the correct orientation) but not losing quality.

[2019-02-07 18:42] sampaiodiego commented on #11480
I have updated issue title to reflect the atual issue.

[2019-02-07 18:43] mixrat commented on #13395
@Jerome-mi
Your node version:  **8.15.0**
RC 74.2 requires: **8.11.4**

Did you try with 8.11.4?

[2019-02-07 18:47] stleitner commented on #11480
I can confirm that our original test image also has orientation information attached

[2019-02-07 19:32] engelgabriel commented on #10106
@ggazzo can you confirm if we can close this?

[2019-02-07 21:30] MartinSchoeler commented on #10106
Tested on the latest version and is working as expected, please update to the latest release and try It again, If the error persists, please open a new issue with updated details. Thanks!

<img width="675" alt="screen shot 2019-02-07 at 19 27 57" src="https://user-images.githubusercontent.com/20868078/52444157-bfdd5200-2b0e-11e9-94fa-a7aee47cd3e5.png">

[2019-02-07 21:30] #10106 closed

[2019-02-08 01:32] vwbusguy commented on #11356
Still an issue on 0.74.2

[2019-02-08 03:27] #12258 closed

[2019-02-08 03:32] #3356 closed

[2019-02-08 03:34] ggazzo commented on #3354
we dont have unread bar anymore =/, I will close this issue, ok :)

[2019-02-08 03:34] #3354 closed

[2019-02-08 04:01] ggazzo commented on #3360
@geekgonecrazy is it still a problem?

[2019-02-08 04:02] ggazzo commented on #4939
I'm closing because we dont offer support for cordova anymore =/

[2019-02-08 04:02] #4939 closed

[2019-02-08 04:02] #4148 closed

[2019-02-08 04:04] ggazzo commented on #4925
@Nemra1 I'm closing that issue because its quite old, we changed a lot and I think its not an issue anymore :)

[2019-02-08 04:04] #4925 closed

[2019-02-08 04:11] ggazzo commented on #4682
closed by #10697

[2019-02-08 04:11] #4682 closed

[2019-02-08 04:15] ggazzo commented on #4656
@Syirrus rocketchat cordova is deprecated

[2019-02-08 04:15] #4656 closed

[2019-02-08 04:17] ggazzo commented on #4490
I think the 'directory' feature solves your problems!
![image](https://user-images.githubusercontent.com/5263975/52458606-955bbb00-2b47-11e9-944c-884618ac56d2.png)
please open again if I'm wrong

[2019-02-08 04:17] #4490 closed

[2019-02-08 04:19] ggazzo commented on #3473
@Isabello I cant reproduce anymore, I think it was fixed long time ago...

[2019-02-08 04:19] #3473 closed

[2019-02-08 04:23] #5026 closed

[2019-02-08 04:29] ggazzo commented on #4000
hey @lunitic we made a lot of changes on emails, all emails should be translated ( and accepting any key from the dictionary)
![image](https://user-images.githubusercontent.com/5263975/52458890-1cf5f980-2b49-11e9-843d-8c8e87ea5999.png)
![image](https://user-images.githubusercontent.com/5263975/52458899-254e3480-2b49-11e9-9007-3c8388741756.png)
any problem please tell me

[2019-02-08 04:29] #4000 closed

[2019-02-08 04:39] ggazzo commented on #6043
@fifou17 closing this issue, please reopen if the problem persists

[2019-02-08 04:39] #6043 closed

[2019-02-08 04:50] #4914 closed

[2019-02-08 04:50] #5678 closed

[2019-02-08 05:01] #6314 closed

[2019-02-08 05:07] ggazzo commented on #6757
hey we have more information now, like email, roles, and more: we have customs fields and we can choose if they will appear on userinfo or not, please check the last version. any problem reopen (:

[2019-02-08 05:07] #6757 closed

[2019-02-08 05:08] #7206 closed

[2019-02-08 05:09] ggazzo commented on #6854
hey @Nepoxx I quite sure we fixed it long time ago, any problem reopen (:

[2019-02-08 05:09] #6854 closed

[2019-02-08 05:10] #7120 closed

[2019-02-08 05:16] #3402 closed

[2019-02-08 06:01] geekgonecrazy commented on #3360
I don’t even remember this issue.  I think may have been when tab bar

[2019-02-08 06:01] #3360 closed

[2019-02-08 06:48] piotrkochan commented on #13380
RocketChat will never be performance monster because it is written in NodeJS which is single threaded.
Simple messages are one of the way to test performance but when upload a file then performance goes down drastically.

[2019-02-08 07:33] sasha2002 commented on #2869
@engelgabriel WE choose to switch to another software because of multiple bugz and feature that is not present, and near future of this features is also unclear!
To all users, think twice before install!

[2019-02-08 07:44] vynmera commented on #2869
@sasha2002 Sorry to hear that. Where official support is lacking, I still very much enjoy using the APIs and JS to integrate my own code. I feel that's the power of RC.

[2019-02-08 09:53] Jerome-mi commented on #13395
moved to 8.11.4, same issue

[2019-02-08 10:32] Apollinaire commented on #13353
OK, I understand this. However, I don't think you answered my last question:

I can understand that the secret might have to be hardcoded because you might not be able to set it on Zapier's side; However, the app should be inactive by default. And you should just need to change [the second instruction here](https://rocket.chat/docs/administrator-guides/integrations/zapier/) to be:

[2019-02-08 10:44] rafaelks commented on #4942
Currently it's not possible to send push notifications without FCM or APN, we may revisit this in the future with other solutions, thank you! 👍

[2019-02-08 10:44] #4942 closed

[2019-02-08 10:57] ctr49 commented on #10606
Signal recently implemented link preview and they have a pretty solid approach, addressing the issues described here. See https://signal.org/blog/i-link-therefore-i-am/

[2019-02-08 11:42] manacim commented on #4297
Just found out that you have to add the --drop flag when doing mongorestore. Otherwise, you'll see nothing but duplicate key errors.

[2019-02-08 12:37] renatobecker commented on #4732
Hi @deep0892. Sorry for the late reply but we want to know if the issue you described was fixed at that time because we didn't get any other simular issue since then..
Can you please give us an update about it?

Thanks.

[2019-02-08 12:52] #7743 closed

[2019-02-08 12:58] coders-kitchen commented on #2885
Shall we open a dedicated issue for this PR and keep this issue?

It seems to tackle more than "just" the logging part for failed logins :)

[2019-02-08 13:47] ggazzo commented on #4080
hey @rasos please check that config:
![image](https://user-images.githubusercontent.com/5263975/52482029-4fc6de80-2b97-11e9-8b35-faf8e92de0db.png)

[2019-02-08 13:47] #4080 closed

[2019-02-08 13:50] #3296 closed

[2019-02-08 14:09] ggazzo commented on #9117
I just checked here, impossible to reproduce on the latest version, please open again if the problem persists :)

[2019-02-08 14:09] #9117 closed

[2019-02-08 14:14] tassoevan commented on #12323
This is by design, to avoid parsing amongst words.

I've found the root cause: the markdown parser. If you selected `Marked` instead of `Original`, it conflicts with the emoji parser.

[2019-02-08 14:26] ggazzo commented on #3886
running on 0.74 works
[code]
please any problem, reopen :)

[2019-02-08 14:26] #3886 closed

[2019-02-08 14:27] tsukiRep commented on #11230
so you removed PNG functionality
which caused all pngs to get a black background
people complained about the black background
what does the rc dev do?

1) be logical and revert the force-jpeg code
2) be logical and revert the force-jpeg code
3) be logical and revert the force-jpeg code
4) be logical and revert the force-jpeg code
5) be logical and revert the force-jpeg code
6) be logical and rever

[2019-02-08 14:30] redzioch commented on #1887
+1

[2019-02-08 14:32] jacwib commented on #11230
Hi, I am another person with an rc instance.
Like most people who don't like having our eyes hurt, we use a dark theme.
Consider adding a toggle switch or something if you cant be bothered to fix the png issue, would be a dumb fix, but it would at least be a fix... or something close to one. (Even better: just let the admin set a custom color. Not everyone uses #000 or #FFF for a background color.

[2019-02-08 14:37] ggazzo commented on #13380
I dont think the language is the problem biggest here (of course there are some benefits to use one or another language, or not).

right, just test `send messages` is a little naive sometimes, but, as a chat should be our best/performant method :x, send the message and store on db its not the problem, the problem is the number of users on the room, the notifications config, the number of users onl

[2019-02-08 14:41] Nepoxx commented on #6854
I haven't encountered it in a long time indeed, thanks for cleaning the issues!

[2019-02-08 14:41] bytepoets-mzi commented on #13380
Sure, we'll provide you our test case on monday. It's basically a simple Node.js client using the SDK and firing up multiple processes. A single machine can easily saturate our large-scale setup.

[2019-02-08 15:21] steve-todorov commented on #12323
@tassoevan I confirm - I just tried switching from `Marked` to `Original` and emojis work.

[2019-02-08 15:28] ggazzo commented on #13380
nice! we made some tests with something around 7k users (online/connected) sending 1350msg/minute, with relative success. let us know more.

[2019-02-08 15:29] carlspring commented on #12323
Yeah, but as programmers, we need to be able to use Markdown in our chats. Is there a way to get this to work for both? I mean -- emojis are not the end of the world, but it would be great to have this working! :)

[2019-02-08 15:59] #10121 closed

[2019-02-08 16:12] #10352 closed

[2019-02-08 16:14] #11252 closed

[2019-02-08 16:25] rasos commented on #4080
Ah yes, meanwhile this feature is available as a setting. Thanks for notifying and closing.

[2019-02-08 16:29] #12015 closed

[2019-02-08 16:38] ggazzo commented on #12202
@clyquan problem solved? because we are confident the stream-room-message works, could you send me the log from that subscription?

[2019-02-08 16:52] tassoevan commented on #12323
@carlspring Sure, and, honestly, I don't think we need competing markdown parsers here. We're aware of other issues in the message rendering architecture too and I believe that soon we'll raise the ultimate discussion to tackle them.

[2019-02-08 16:54] ggazzo commented on #8756
@imrealashu I'm closing this issue for inactivity, the subscriptions should be working, please, reopen if you still need some help. maybe give us more information, like RC version, libraries that you are using to make the ddp connection...

[2019-02-08 16:54] #8756 closed

[2019-02-08 16:57] ggazzo commented on #12434
@wreiske sorry about the delay, just for a small test, if you run   `docker run rocketchat/rocket.chat.preview`, let me know if the problem persists.

[2019-02-08 17:02] ggazzo commented on #12492
hey @jschirrmacher actually its not a bug, we create the broadcast as you describe, maybe change the toggle to be more "understandable" that you cant change the broadcast type... is it a problem, not be able to change the type?

[2019-02-08 17:07] ggazzo commented on #12144
closed by #13369

[2019-02-08 17:07] #12144 closed

[2019-02-08 17:10] ggazzo commented on #6843
closed by #13053

[2019-02-08 17:10] #6843 closed

[2019-02-08 17:11] mixrat commented on #13395
I just experienced a similar issue just yesterday 74.2. For some users an uploaded file would hang at 0%. Any image uploads, such as screen shots, would only show the user a extremely blurry preview of the image. If the user tried to clicked on a download, they would occasionally see an access denied screen. In one case logging out and back in solved the problem, but in another, I just clicked to

[2019-02-08 18:06] Jerome-mi commented on #13395
the problem is due to ownership of /tmp/ufs directory. when 2 or more instances of rocket.chat are installed on the same machine with differents users, the unique ufs directory become closed to other users, so only one instance of rocket.chat permits upload of file or avatars.
it's not possible to set TMP or TMPDIR as environment variable in service launching environment because the path seems to

[2019-02-08 18:36] geekgonecrazy commented on #4297
This is only necessary if you are attempting to import where the same db has already been imported.  I'd be very very certain when doing that.

[2019-02-08 18:39] manacim commented on #4297
@geekgonecrazy I had to use --drop flag from old server to new server, where new server's rocket instance was running but not setup past the wizard.

[2019-02-08 19:08] maurice-does-software commented on #10714
Then @TheNullPlayer surely it's easy to describe as well? What file needs modifying? And how? The linked documentation is incredibly sparse. @craymichael can you briefly explain how to set a different store for those who are not intimately familiar with the workings of express?

[2019-02-08 19:18] ChessSpider commented on #13271
when will this be fixed?

[2019-02-08 19:33] graywolf336 commented on #13353
It has to be active so that people who expect to use Rocket.Chat and Zapier can now just run with it without having to do any configurability. It is one less click for users and one less source of possible confusion.

[2019-02-08 21:30] stleitner commented on #11480
My opinion is that the file should not be manipulated at all. Only make manipulations on thumbnail files or make manipulations as an option (see my merge request) or rotate the image in frontend (css transform:rotate(x)). **Everybody** should know that the files are changed, to avoid searching error sources in the workflow!

[2019-02-08 22:37] geekgonecrazy commented on #4297
@manacim right important to be very cautious that doing this on the right server and that you truly want to drop the db there.  In this case makes sense cause the db is auto created by rocket.chat if doesn't exist

[2019-02-08 22:41] manacim commented on #4297
@geekgonecrazy yup. Migration was smooth. 👍

[2019-02-09 00:25] johnlund commented on #11518
I'm seeing this same issue. Using Ubuntu 18.04 Snap, Caddy, Wordpress LiveChat widget: modernmasters.org. Thanks!

[2019-02-09 05:05] Rodriq commented on #13374
Gretings @fleaz if I got you correctly,
  we can not create a user **``Example``** and another **``example``**.
 if say user **`Example`** truly exist
      then when we mention  **`example`** we don't get a tag. Whereas if mention **`Example`** we get a tag??

[2019-02-09 08:27] faust64 commented on #10714
@maurice-does-software : as a PoC, I used to create a lib allowing me to switch express session backends (https://github.com/faust64/somesession)

Assuming a store such as redis, initializing express would go like that:

[code]

AFAIU, in the case of rocketchat, you'ld want to patch around there:

https://github.com/RocketChat/Rocket.Chat/blob/6e88d4d474bdd4493222d174077e5139319668d0/packages/rock

[2019-02-09 12:05] horvan commented on #13060
I am sorry I would love to install the dev build and change the code but I do not know how to change the HTML within the software just to show you some code you can use.

So Google isn't an option anymore because of a design bug. That's sad.

[2019-02-09 12:44] juliomac commented on #9113
Yes you can. Just testes and worked with this:

          curl -H "X-Auth-Token: TAKE-YOUR-TOKEN-FROM-YOUR-LOGIN-JSON" \
          -H "X-User-Id: YOUR-USER-ID" \
          -H "Content-type:application/json" \
          http://URL-OF-YOUR-ROCKET-CHAT/api/v1/chat.postMessage \
          -d '{ "channel": "@NAME-OF-USER-TO-RECEIVE-DM", "text": "This is a direct message!" }'

In channel, just replace #

[2019-02-09 15:48] pafik13 opened #13425 "Add 'setUserActiveStatus' Method to REST API"
I need to block a user via REST. I found 'Deactivation' button in Admin panel which use 'setUserActiveStatus' Method via DDP. It would be nice to add this method to REST.

[2019-02-09 16:07] bkraul opened #13426 "Custom sounds not available on account information"
### Description:

Custom sounds  added to the system through the administration are no longer showing as options on the user's account preferences. If a custom sound was originally set, they still play but they do not show up and you can't choose another custom one. This applies to both New Room notification and new message notification.

### Steps to reproduce:

1. Update to a recent version of d

[2019-02-09 17:51] wreiske opened #13427 "messageAttachment shows December 31, 1969 7:00 PM when null"
### Description:
messageAttachment shows December 31, 1969 7:00 PM when null

### Expected behavior:

Don't show any date when time is null.

### Actual behavior:

<img width="841" alt="screen shot 2019-02-09 at 12 46 53 pm" src="https://user-images.githubusercontent.com/6295044/52524269-30988180-2c69-11e9-95ac-b44a2f3d1064.png">

### Server Setup Information:

- Version of Rocket.Chat Server: 0.7

[2019-02-09 18:28] juliomac commented on #6230
Could this version from @leonardoterrao at [https://github.com/RocketChat/Rocket.Chat/compare/develop...leonardoterrao:develop](url) with multi tenancy solve the request?

[2019-02-09 22:44] cloudsandladders commented on #12010
I changed VSP hosters and then it stopped.

[2019-02-09 22:44] #12010 closed

[2019-02-10 06:12] elcolie opened #13429 "Dififuclty when using smtp"
I request using `mailgun` as an another easy way to shoot the email.

[2019-02-10 16:48] Chessmasterrr opened #13432 "rocket.chat not working behind Apache Reverse Proxy"
I tried to set up rocket.chat as following:
[code]

Setup Apache as reverse proxy as described [here](https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/#running-behind-an-apache-ssl-reverse-proxy).
apache.conf:
[code]

When I connect to http://1.2.3.4:3000 the setup assistant appears and everything works as expected.
But when I try to connect to https://chat.d

[2019-02-10 22:11] geekgonecrazy commented on #9233
#9748 implements in the UI.. but doesn't force it at api level so mobile can carry on despite being forced

[2019-02-10 22:44] SteveUNSW commented on #13380
Following this as well!

[2019-02-11 07:14] M034B5 commented on #4297
yup all went good

[2019-02-11 07:29] frdmn opened #13431 "Unify GraphQL API endpoint to application port"
At the moment our GraphQL API listens on a separate port (`3100` by default) which in turn (usually) has to be separately proxied to be available from the outside.

Especially for our Cloud environment it's important to have the GraphQL API listen on the regular Rocket.Chat application port, to be easily available for every customer.

/cc @geekgonecrazy

[2019-02-11 07:56] pwittke commented on #9632
any updates?

[2019-02-11 08:39] lennartgrunau commented on #13317
Hi, sorry for the late reply. That seems to be a bit overkill for whats essentialy like 4 lines in coffeescript, doesn't it? Nevertheless, I'll check it out. Thanks.

[2019-02-11 08:52] jasonfah commented on #13317
The cli does all the heavy lifting by generating the app for you. You may find you only need to add just as many lines of code for the app.

I agree with you though. The internal hubot was really handy for quick simple bot scripts. It's a shame that it just stopped working. Out rocket.chat server updated over the weekend to 0.74. I haven't checked yet if it's been fixed or not.

[2019-02-11 09:26] fleaz commented on #13374
This is correct, yes :)

If you take a look at my screenshot the two users `felix` and `TestKunde` exist. But the mentioning of `@Felix` oder `@testkunde` didn't create a highlight

[2019-02-11 10:02] sampaiodiego commented on #13432
moved the issue to a better repo, as this is not a docker image issue =)

so as per your configuration, looks like the Apache is running on the same machine as the Rocket.Chat, is that correct? Since you're using `localhost:3000`:
[code]

is there anything on Apache logs? it might have useful info, as it was it who could not proxy the request.

[2019-02-11 10:04] IakovBoguslavskii opened #13433 "Cross-domain trust for LDAP authentication"
Hi everyone

Given that multiple [LDAP authentication backends](https://github.com/RocketChat/Rocket.Chat/issues/5058) feature isnt going to be added,, I wondered whether Rocket.Chat supports the cross-domain trust technology? If not, is it planned to be added later by the developers?

This feature would actually allow to use a single LDAP-server to log in users from several domains - so instead o

[2019-02-11 10:14] jschirrmacher commented on #12492
It sure is a problem if you want to change the behaviour of a channel, because there is no other way to do it. Is there anything what makes it desirable not to be able to change the broadcast type of a channel? I don't quite understand why this is not even a bug.

[2019-02-11 11:47] #13433 closed

[2019-02-11 12:00] MarcosSpessatto commented on #12488
@HackyPenguin can you please upgrade your server version again, provide us the content of `self.url` or your cURL call? Thanks.

[2019-02-11 12:06] MarcosSpessatto commented on #12482
@markathomas any news?

[2019-02-11 12:06] DaGrisa commented on #11647
Hi, i have configured it like this and i get a "502 Bad Gateway" from nginx.
Do you had to change anything in the nginx config?
![image](https://user-images.githubusercontent.com/11348169/52562076-99186780-2dfd-11e9-9ede-0ab75e433ac9.png)
![image](https://user-images.githubusercontent.com/11348169/52562110-ad5c6480-2dfd-11e9-822e-95d11e8cee6e.png)

`##
# Config from
# https://rocket.chat/docs/inst

[2019-02-11 12:22] MarcosSpessatto commented on #12802
@micfung can you please provide the content of your env variable `MONGO_OPTIONS`?

[2019-02-11 12:41] savish28 commented on #13285
@ggazzo please review #13434

[2019-02-11 13:14] aspiers commented on #5157
[**@GetGeeks**](https://github.com/GetGeeks) commented on [February 24, 2018 6:29 PM](https://github.com/RocketChat/Rocket.Chat/issues/5157#issuecomment-368248964 "2018-02-24T18:29:08Z - Replied by Github Reply Comments"):

https://gitcoin.co/ and https://www.bountysource.com/ are both good options for doing exactly this.

[2019-02-11 13:24] renatobecker commented on #11518
Hi @johnlund.
Can you please check your browser and server log when you try to close the chat on widget side?
If you notice any log/error, can you please share it here?

Thanks.

[2019-02-11 13:27] GRX opened #13438 "SlackBridge not loading messages from all channels"
### Description:
Messages posted in Slack are not all posted to Rocket Chat, AFAIK only one channel seems to come through which is a private channel, I've setup other channels with the same name as how they appear in Slack but only one channel seems to be "synced".

### Steps to reproduce:
1. Create channel with the same name as it is in Slack
2. Post message in Slack channel
3. Message not appear

[2019-02-11 13:58] reetp commented on #13429
From what I can see, mailgun supports standard SMTP so should be compatible with Rocket.

If you want to see API access in Rocket then please open a Feature Request in the forums:

https://forums.rocket.chat/

[2019-02-11 13:58] reetp commented on #13429
@rocket-cat label add "Feature: Request"

[2019-02-11 13:58] reetp commented on #13429
@rocket-cat close

[2019-02-11 13:58] #13429 closed

[2019-02-11 14:35] bytepoets-mzi commented on #13380
Hello @ggazzo, you can find our "Testsuite" here: https://github.com/eyetime-international-ltd/rocketchat_loadtest_message_listener.

If you have trouble with the setup, please do not hesistate to contact me. It is currently sufficient to run the test on a single machine, as it can easily slow down our test cluster. I've tested up to 10.000 concurrent users/connections with this script, though.

[2019-02-11 14:35] reetp commented on #13374
Can you test the search on https://open.rocket.chat/ as it seems to be case insensitive there?

I can search on both Reetp and reetp and get the same result? Both get highlighted in the message?

[2019-02-11 15:06] Rodriq commented on #13374
Yes @reetp I found out so this is what I got by trying on the #sandbox pane

![case sensitive](https://user-images.githubusercontent.com/39289592/52571978-008ee100-2e17-11e9-9e23-8b8dee9e89f2.png)

[2019-02-11 16:18] #13271 closed

[2019-02-11 16:35] Chessmasterrr commented on #13432
Thanks for your reply and sorry for posting in the wrong area!

Apache runs on the same machine as Rocket.Chat, yes. There are also other docker containers running on this machine which are accessible via the Apache reverse proxy without problems.

The Apache error.log just states:
[code]

And the other_vhosts_access.log recognizes the access:
[code]

[2019-02-11 17:13] feltra commented on #2192
This feature has been forgotten ?

[2019-02-11 17:41] savish28 commented on #13059
@tassoevan Could I work on this issue?

[2019-02-11 17:45] tassoevan commented on #13059
@savish28 Of course!

[2019-02-11 18:02] lennartgrunau commented on #13317
After reading a metric ton of documentation, unpacking dozens of already existing apps and wrapping my poor sysadmin brain around typescript I was able to recreate the coffeescript bot with the apps framework. Thanks @jasonfah for pointing me in the right direction.

The internal hubot needs to be fixed, nevertheless.

[2019-02-11 18:09] renatobecker commented on #4732
Hi @deep0892!

I'm closing this issue but feel free to open it again if you notice that the problem is still happening.
Thanks.

[2019-02-11 18:09] #4732 closed

[2019-02-11 18:17] maurice-does-software commented on #10714
@faust64 thanks for identifying the location in the RocketChat app where this can be changed. The express docs and docs for various express stores assume the `app.use` line for initializing express, so for someone less familiar with NodeJS in general, I was having a difficult time finding that.

[2019-02-11 18:46] renatobecker commented on #13141
Hi @rohitmyaim!
Please, take a look at this link -> https://github.com/RocketChat/Rocket.Chat/pull/13308.
The new endpoint I mentioned on the link above will probably do what you're looking for.

Thanks.

[2019-02-11 19:04] thayannevls commented on #13425
Is anyone working on this? Can I try to make this endpoint?

[2019-02-11 19:18] faust64 commented on #10714
Problem is, one year after first reporting that issue, no one seems to both understand how rocket works and why in-memory sessions store are not meant to be used outside of a developer's workstation.
Which says long on how mature RocketChat is.

[2019-02-11 19:25] Serjal opened #13441 "Settings for API Rate Limiter not working"
### Description:
I am trying to run a simple loadtest on Rocket.Chat using JMeter. In the test multiple users are registered , then logged in and post multiple messages to the general channel using the REST API. After registering and logging in 10 users and posting 10 messages I get the error: "Error, too many requests. Please slow down. You must wait 60 seconds before trying this endpoint again.

[2019-02-11 20:02] paulkernstock commented on #11142
Me too. And I'd like add, there is a way this could be dealt with: Threema people say they encrypt data sent over Apple's push service APNS und even manage to send no non-meta data at all over Google's Push service GCM (https://threema.ch/en/faq/privacy_push)

[2019-02-11 20:17] martinszy commented on #11142
I found this related issue that could provide an initial source for the information https://github.com/RocketChat/Rocket.Chat/issues/9027

[2019-02-11 20:17] MarcosSpessatto commented on #10742
@mbrodala unfortunately this endpoint does not support `form-data` request, if I understand correctly the client that you are using.

@yennor I tested this endpoint again, and it works with `true/false` parameters. When I changed it to `0/1` I got the same error that you are getting. Can you please try again, ou share your PHP script?

[2019-02-11 22:31] GuilleGlad commented on #13271
What solution do you recommend if I'm using a Snap but I need a temporary solution until the stable span is released? thank you.

[2019-02-12 00:54] tzar commented on #13284
Same issue here - downgrading to 0.73.2 seems to have brought the notifications back. I'm using the snap packaged version which I believe is running mongodb 3.2.x

[2019-02-12 08:07] mbrodala commented on #10742
@MarcosSpessatto I don't think the endpoint or RocketChat is at fault here. By definition basically everything in `form_data` is a string, so unless you add some heuristic to convert incoming values, errors like these can be expected. Only JSON avoids this problem.

[2019-02-12 10:38] maciek134 commented on #2192
Not by me, it's just going slowly as I don't have much free time atm.

[2019-02-12 11:15] fleaz commented on #13374
As stated in my initial description of this issue,  it only occures when you type the username by hand and **not** use the autocompletion popup which appers while you start typing.

Especially for short names (e.g. tom) it's faster to just keep writing instead of dealing with the popup and selecting the right user

[2019-02-12 11:18] ChevalierDeBalibari opened #13446 "Email doesn't work with cPanel - certificate issue"
I am unable to setup mail sender to work with our cPanel webmail server.

Mail settings are:
Incoming Server: mail.******.com IMAP Port: 993 POP3 Port: 995
Outgoing Server: | mail.******.com SMTP Port: 465
 
When I setup  smtp with given settings. connection to smtp fails. By reading the log, i assume that this is problem with certificates, domain name mismatch.

Exception in defer callback: { Err

[2019-02-12 12:04] savish28 commented on #13059
@tassoevan Please review PR #13447. It solves this issue.

[2019-02-12 12:26] LacursaJ opened #13448 "Livechat Internal server error"
Livechat show "Internal server error" when some guest write

### Steps to reproduce:

1. Activate Livechat
2. Add some backend users, no info is requested from customer (guest chat)
3. Open a browser and open a new guest chat, free operator
4. Write any word

### Expected behavior:

Start a new chat with any operator

### Actual behavior:

"Internal server error" popup; no message to operator in b

[2019-02-12 13:11] prashantyadav19 opened #13449 "System and browser are hand when room data is more then 15k"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Additional context

### Relevant logs:

[2019-02-12 13:47] JoKneeMo opened #13450 "Slack Import not completing and cannot be canceled."
### Description:

A failed Slack import cannot be canceled.

### Steps to reproduce:

1. Upload Slack zip on the import page
2. Messages are processed and some are imported
3. After a while, the server connection times out a few times (possibly overloaded)
4. Navigate back to the slack import page to check the progress

### Expected behavior:

When it says I can close the window, I would expect th

[2019-02-12 13:50] JoKneeMo commented on #13438
Are you adding your rocketchat slack bot to the other channels?

[2019-02-12 14:30] adanielvv commented on #13271
Temporary workaround for snap:
`sudo snap revert rocketchat-server`

You should always make a backup first:
[code]

[2019-02-12 14:49] Myoung54 commented on #7043
Hello, new to the site here, but this feature would really benefit my team. Is there any update on when or even if this feature will be added?

[2019-02-12 15:35] GuilleGlad commented on #13271
Thank you so much @adanielvv , is there an option to disable automatic SNAP updates?

[2019-02-12 15:46] GRX commented on #13438
I did, Re-adding them seemed to solve the issue.

[2019-02-12 15:46] #13438 closed

[2019-02-12 16:15] adanielvv commented on #13271
@GuilleGlad I looked at the [snap manpages](https://manpages.ubuntu.com/manpages/artful/man1/snap.1.html) and couldn't find a hold option.
I found a command option that shows the impending updates:
`sudo snap refresh --list`
On my system (after the revert) it comes up empty.
I guess it jumps the reverted version.

By the way, the snap revert command is listed in the [Rocket.Chat docs](https://rock

[2019-02-12 16:24] bkraul opened #13453 "Inline code creating a separate block."
### Description:

When trying to enter a piece of code or text meant to be inline in monospace, a whole block is created, breaking the paragraph. This used to work as intended.

### Steps to reproduce:

1. Type the following:
[code]
2. You will see that the word **inline** will appear by itself rather than how it appears in the following GitHub markdown:

This is supposed to be an ```inline``` cod

[2019-02-12 16:39] magicbelette opened #13454 "Unable to pin message"
### Description:

Since [#12739](https://github.com/RocketChat/Rocket.Chat/pull/12739), channel's owner can't pin message with an "not-authorized" error.

### Steps to reproduce:

1. As owner in a channel pin a message

### Expected behavior:

Message is pinned

### Actual behavior:

Error not-authorized and the message is not pinned

### Server Setup Information:

- Version of Rocket.Chat Server:

[2019-02-12 16:42] levycarneiro commented on #626
Checked #692 and apparently this was not covered there. Could you please point to how to hide email in User Info? Thanks!

[2019-02-12 16:44] MarcosSpessatto commented on #13431
@frdmn Currently the GraphQL server runs on the same port of RocketChat application, what runs separated is the subscriptions port(which is even configurable in the admin panel) :thinking: Do you think that we should change this behavior?

[2019-02-12 17:00] rkramer1964 commented on #10530
Got audio working here (across the board).  The problem lies in the lamejs.min.js (lamejs) component.  Specifically, the fill_buffer_resample in Lame.js (original source tree)  computes a fractional index (j2) into the sample buffer (like -29.5) and inbuf[j2] gives "undefined" which results in NaN values in the mp3 buffer that is sent to Rocket.Chat. And that gives silence.

I've forked the origin

[2019-02-12 18:31] MarcosSpessatto commented on #13340
@facundomedica can you please share with us the calls that you are making against API and receiving this errors?

[2019-02-12 18:38] facundomedica commented on #13340
@MarcosSpessatto how would you like me to share that? I mean, in which format or how do I get them? They are `/api/v1/commands.list` and `/api/apps` in the web UI. And using the REST API as an admin I get that error in `users.create`.

[2019-02-12 19:17] tassoevan commented on #13453
I think this the correct behavior `Original` markdown parser:

- `` `code` `` for inline code;
- `` ```code``` `` for multiline code block.

The behavior you are looking for comes from `Marked` parser. Since it "used to work as intended", is it possible the setting (`Markdown_Parser`, `Admin > Messages > Markdown > Markdown Parser`) was changed?

[2019-02-12 19:24] bkraul commented on #13453
@tassoevan I got you. And you are correct. I am using Original, indeed. I was using Marked for a long time, but the emojis do not render as well as they do on original. It is a hard decision, because Marked renders tables, whereas Original does not. I see there is #11736, but there have been no updates.

I surmise this is still not a simple issue?

[2019-02-12 19:35] tassoevan commented on #13453
Surely it is a bug, but not in the parser _per se_, as I've commented some days ago in a issue about emoji rendering: https://github.com/RocketChat/Rocket.Chat/issues/12323#issuecomment-461869000 The fact that message renderers parse HTML code instead of plain text is wrong by definition, as HTML is a non-regular markup language, therefore it's an architectural issue.

[2019-02-12 19:38] bkraul commented on #13453
I will close this issue, as it has been pointed out that the reported issue is not an issue but just a difference between Marked and Original markup setting. Thanks again @tassoevan !

[2019-02-12 19:38] #13453 closed

[2019-02-12 19:40] MarcosSpessatto commented on #13179
Hi @amelkor, sorry for the delay, but you can do this already, you must only send the **text** of message like:
`[ ](http://localhost:3000/channel/general?msg=awJJnaT3aHDciXQgm) @user.test test message` where the url is the id of the message you want reply to.

[2019-02-12 20:07] savish28 commented on #13285
@ggazzo  I have done the required changes discuused in #13434  and opened a new PR. Please review PR #13455. Thanks.

[2019-02-12 20:12] MarcosSpessatto commented on #13143
HI @tuxmartin, did you try send the message over websocket? Because the rest api `chat.sendMessage` uses the same method of websocket to send the message. The docs probably are outdated. Please let me know if you have any problem with this.

[2019-02-12 20:13] tassoevan commented on #13284
"Test notification button" is broken (thanks @oguhpereira) and I'm investigating why.

[2019-02-12 20:47] geekgonecrazy commented on #13431
@MarcosSpessatto can it be set to 3000 and actually work?  The issue is that's another port some how have to be able to proxy through an LB.

I mean either way its single threaded so do we get any real benefit from another port?

[2019-02-12 21:01] geekgonecrazy commented on #12497
@rodrigok any idea why the content length would get higher with more uploads?  Is this something we can configure?

[2019-02-12 22:09] nsdev0 opened #13459 "Livechat triggers stop working after a conversation"
### Description:
Livechat triggers stop working after visitor opened and finished his first conversation.

### Steps to reproduce:

0. Set up some trigger (runOnce -> disabled)
1. Go to the web page with embedded livechat widget
2. Start conversation
3. Finish conversation

### Expected behavior:
Livechat triggers should be working even after the visitor has successfully talked to the operator.
Ex

[2019-02-12 22:54] john-light opened #13460 "Login button difficult to find on desktop"
### Description:

When I open Rocket Chat on desktop, the page shown is the home page and there is no login button shown.

### Steps to reproduce:

1. Open Rocket Chat on desktop
2. Log out if you are logged in
3. Notice that there is no button to log back in
4. You have to poke around quite a bit (e.g. by searching the server for a channel) before you can find somewhere to login, it doesn't even

[2019-02-12 22:59] lyricalpolymath commented on #13460
more info since I had this problem too
[code]

[2019-02-13 00:35] tzar commented on #13284
It is actual notifications broken for us with 0.74.0 - I didn't try the test notification button; there were just client side javascript errors instead of notifications. So perhaps there are issues with both?

The reports above of fixing the issue by upgrading mongodb are interesting, does that mean that I need to wait for the rocketchat snap to also update mongodb past 3.2.x before upgrading agai

[2019-02-13 00:42] matthewbassett commented on #10530
Hi @tassoevan our org is wondering if this fix could make it into a minor version update so the fix can be pushed out right away. Our users are anxious for this functionality (: Thanks again for everyone's hard work on RC, its a fantastic app and we are really excited about the good things its doing for communication in our org. 👍

[2019-02-13 00:47] #10925 closed

[2019-02-13 01:51] johnlund commented on #11518
@renatobecker The only error I see anywhere is: Invalid 'X-Frame-Options' header encountered when loading 'https://chat.modernmasters.org/livechat': 'ALLOW-FROM https://modernmasters.org' is not a recognized directive. The header will be ignored. But that occurs every time I load the widget.

[2019-02-13 02:38] johnlund commented on #10747
This is happening with me too. Using wordpress miniorange OAuth server plugin.

[2019-02-13 03:54] pshute commented on #12819
We're now on version 0.74.2. The test regular expressions above now return results, but plain strings are giving unexpected results.

A search for worksaf returns results.
A search for worksa returns no results.
A search for confirme returns results.
A search for confir returns no results.
(The two expected matching words are "worksafe" and "confirmed".)

[2019-02-13 04:25] rrepolona opened #13461 "High CPU on Node app"
### Description:

Issue with members connecting to the server. Some members cannot connect (just reload) when login-in. Some members are disconnected even login for a long time. Checking by top command we see that node application hogs 100%+ CPU.  Restarting the Rocket.Chat server seems to temporarily solve the problem. But after a day or 2 we notice a very same issue, which restarting temporarily

[2019-02-13 04:34] Sing-Li commented on #13461
Please check your mongo logs and submit any observed anomalies during the hickup period.   Redact sensitive information as necessary before posting.

[2019-02-13 05:14] fifou17 commented on #2869
@vynmera can i test it ??

[2019-02-13 05:50] rrepolona commented on #13461
`## 11 AM
2019-02-13T11:25:54.947+0800 I WRITE    [conn12] update parties.rocketchat__trash command: { q: { _id: "https://xxxxxxxdomain.com/xxxxxfolder/lib/images/xxxx/entries/x/team/xxx_x005_x01352/x05.jpg" }, u: { data: { meta: {}, headers: { xAmzId2: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=", xAmzRequestId: "xxxxxxxxxxxxxxxx", date: "Sun, 13 Jan 2019 05:11:1

[2019-02-13 07:31] ggruber4711 commented on #10977
I am having a similar problem, I am getting
Refused to display 'https://chat.workflow.at/livechat' in a frame because it set multiple 'X-Frame-Options' headers with conflicting values ('SAMEORIGIN, ALLOW-FROM https://personalwolke.at'). Falling back to 'deny'.

This is really strange, as it has worked 1 week ago on our 2 production websites and now it stopped working in all browsers.

[2019-02-13 07:51] leonboot commented on #12892
I've just created a Docker based test setup for Rocket.Chat (official image) and configured it using the dutch locale. I'm experiencing this issue as well. Is this issue on the radar, yet?

[2019-02-13 08:03] shakalandy commented on #11570
Is it possible to sponsor this one? If so, how?

[2019-02-13 08:34] theundefined commented on #13427
the same problem is when no real attachment is specified. Server - docker. Example json which show problem:
[code]
Shows:
![image](https://user-images.githubusercontent.com/7404069/52697810-896e5f80-2f72-11e9-9022-57e9b60992ce.png)

[2019-02-13 08:46] Galatoni opened #13462 "hitting users.getAvatar endpoint still subject to rate limiting even after disabling"
### Description:

After upgrade to 0.74.0 even after setting the permissions for 'api-bypass-rate-limit' and switching the dev radio button in the General -> REST API section to turn off the rate limiter, the endpoint for users.getAvatar still rate limits.

### Steps to reproduce:

1. Set the above settings
2. Perform repeated API calls to the users.getAvatar end point (eg. users.getAvatar?usernam

[2019-02-13 09:16] xiefangzhenz commented on #10161
<code>npm install sharp chai webpack postcss postcss-syntax fibers<code>
I use this code solved the error。

[2019-02-13 10:20] reetp commented on #13317
"The internal hubot needs to be fixed, nevertheless."

I think the general direction of travel is to remove the internal hubot in time. So it is unlikely to get fixed.

I think the devs are trying to move as many bits as possible outside of core RocketChat functionality hence Apps etc etc. as per the comment above from @jasonfah.

[2019-02-13 10:36] Nicolas-Alain commented on #6026
Please help. I don't want to switch back to slack or go to Mattermost

[2019-02-13 10:44] reetp commented on #13432
Have a search on the interwebs for

"AH01102: error reading status line from remote server"

https://serverfault.com/questions/538086/proxyerror-ah00898-error-during-ssl-handshake-with-remote-server#612873

Just wondering if there are some updates in Apache that means the config in Docs needs updating?

First thing seems to be check all your certs.

Then might be worth trying variations with these

[2019-02-13 10:55] DenisAraujo68 commented on #10530
Hello, people!
Someone did what @rkramer1964 said to do above?
I did, but it didn't fix the problem in the desktop client version and in the web client the mic stays loading indefinitely.
I'll do some more tests and post soon more information (windows, clients and server versions), but I'm curious if @rkramer1964's file fixed the problem to someone else.

[2019-02-13 11:05] nisargkdesai opened #13464 "Go To Message"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Additional context

### Relevant logs:

[2019-02-13 11:30] sergeydeg commented on #11825
@geekgonecrazy
Still getting this double notifications:
Server 0.73.2
Android Client 3.2.0
Phone: Xiaomi Redmi Note 4 - Android 7.0

[2019-02-13 11:43] nisargkdesai commented on #13399
@duszek94  make one new web page and integrate Rocket Chat with Iframe inside this page. and write script that i frame part only should visible if user is visiting here from mobile or tablet devices.

for integrating Rocket Chat in other page through Iframe.
https://rocket.chat/docs/developer-guides/iframe-integration/

for detecting device with Javascript.
https://stackoverflow.com/questions/1138

[2019-02-13 12:38] rkramer1964 commented on #10530
@DenisAraujo68 I was experiencing the file is totally silent issue that was at the beginning of this thread.  My mic never hung loading indefinitely.  Have you tried loading in chrome, hitting F12 then ctrl-R to refresh, recording an audio and seeing what error messages there are in the console?  That might shed some light on the problem.

I'm seeing some promise-related errors, but they don't app

[2019-02-13 12:54] MarcosSpessatto commented on #13462
@Galatoni I did the flow that you described and I'm not be able to simulate this error. The only thing different that I noticed is the error status if it is an error caused by rate limiter is `429` and not `400` 🤔. Yesterday [I did a PR](https://github.com/RocketChat/Rocket.Chat/pull/13451) that change some behaviors in the API rate limiter, maybe this will fix this issue.

[2019-02-13 13:08] Galatoni commented on #13462
I'm not a developer for the project or anything, but i'll post some screenshots of how it's set up on our project:
![image](https://user-images.githubusercontent.com/3481024/52713673-d876bd80-2f8f-11e9-9b45-3bacfc91af69.png)

![image](https://user-images.githubusercontent.com/3481024/52713708-eaf0f700-2f8f-11e9-9b88-2748cc6be0e0.png)

The user thats interacting with the interface we're using is ma

[2019-02-13 13:18] #12892 closed

[2019-02-13 13:38] sinteur opened #13466 "origin-when-crossorigin should be origin-when-cross-origin"
### Description:

in this file:

https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-ui-master/server/inject.js

it says:

Inject.rawHead('noreferrer', '<meta name="referrer" content="origin-when-crossorigin">');

That's a typo. See https://lists.w3.org/Archives/Public/public-webappsec/2015May/0064.html

it should be origin-when-cross-origin

[2019-02-13 13:43] geekgonecrazy commented on #11825
Do you have more than one rocket.chat app installed?  For instance the react native one?

If so uninstall one.

If not uninstall app.  Trigger a notification and see if you still get one.  If not then reinstall the app.

[2019-02-13 14:16] Kailash0311 commented on #2192
Can I also work on it? @maciek134 , I am interested in implementing the feature.

[2019-02-13 14:27] sampaiodiego commented on #13284
@tzar desktop notifications should not be broken, even on mongo 3.0 (which is not recommended anymore).

we'll need more details to address this issue.. can you please describe step by step when you expect to receive a notification and not receiving?

[2019-02-13 14:33] Shaverdoff commented on #13284
3.0 not recommend... hm... and 3.6.8 is ok? notification works, but test notifications in 0741 do not owrks on 3.6.8 mongo in my deployment

[2019-02-13 14:38] MarcosSpessatto commented on #13462
Yes, with this permission granted to these users, yes, the rate limiter should be bypassed.

Yes, you are right. My changes just do it that you said.

I'll try to simulate this error again, this issue occurs only with this specific endpoint? Or with another ones too?

[2019-02-13 14:42] Galatoni commented on #13462
The only one i've reliably replicated this on was the users.getAvatar one. However, i've seen a number of issues regarding the users.X section in its entirety might be having issues.

[2019-02-13 14:43] sampaiodiego commented on #13284
@Shaverdoff yes, 3.6.8 is ok! `Test Notification` button is broken on 0.74.2. The fix will be released on 0.74.3.

[2019-02-13 14:44] slyk commented on #2192
wow wow, we have two minds and 4 hands on this task? this is great!
this is long awaited feature, hope you can somehow cooperate with each other, to not make same work twice. Maybe split by UI and server logic?

[2019-02-13 14:47] Shaverdoff commented on #13284
Аmen! :) will wait new release

[2019-02-13 15:35] #13341 closed

[2019-02-13 15:44] midse commented on #6750
Any news regarding this issue? 2 FA Authentication is bypassed when using LDAP auth.

[2019-02-13 16:01] antgel commented on #13071
Closing as this is the "didn't upgrade Mongo" issue and OP hasn't responded.

[2019-02-13 16:01] #13071 closed

[2019-02-13 16:48] MarcosSpessatto commented on #13462
@Galatoni can you please did another test? I'd like to see if you can disable the DDPRate Limiter and test again, just to make sure that the DDPRate Limiter does not affect the REST API Rate Limiter.

[2019-02-13 17:03] renatobecker commented on #11518
@johnlund, What happens on agent side when you try to close the chat from the widget side? Nothing? Or is the room closed and disappears there?
Can you please confirm it?

I will be waiting your feedback.
Thanks.

[2019-02-13 17:10] Galatoni commented on #13462
Ha. I'm not at my computer again until tomorrow. I'll gladly help though. Do you mind posting specific instructions to ensure I get it right? I'm not sure what you mean by DDPRate limiter for starters ;)

[2019-02-13 17:10] renatobecker commented on #13448
Hi @LacursaJ!!
It seems like there is an invalid unique index on your subscription collection(`u._id_1_name_1_t_1_code_1)`.
Did you update your server version recently?

[2019-02-13 17:22] savish28 commented on #12944
@tassoevan  Can I work on this issue?

[2019-02-13 17:22] reetp commented on #13449
You have also asked about this on open.rocket.chat.

As I advised there, you need to fill in a proper bug template with your server setup

You have so far advised:

As per my chat post:

Read this:
https://rocket.chat/docs/contributing/reporting-issues

If so then please add the relevant information to the bug.
You can use this template:
https://github.com/RocketChat/Rocket.Chat/issues/new?templat

[2019-02-13 17:29] reetp commented on #13460
@lyricalpolymath You are on an extremely old version - 0.66.2

Rocket is currently on 0.74.x Due to the fast pace of development there will be significant changes.

Standard debugging is to test on the latest version of Rocket as this:

https://rocket.chat/docs/contributing/reporting-issues

If you still have issues then please use the following template.

https://github.com/RocketChat/Rocket.Chat

[2019-02-13 17:33] MarcosSpessatto commented on #13454
@magicbelette just to make sure, the permission `pin-message` is enabled for `owner` in your server, right?

[2019-02-13 17:34] algomaster99 commented on #13460
Rocket.Chat version 1.0.0 doesn't have this issue. I think this can be closed.

[2019-02-13 17:46] MarcosSpessatto commented on #13462
@Galatoni no worries, the DDP rate limiter apply rate limiter for the connections over DDP protocol(which is used too). Under the `Rate Limiter` menu in the admin panel, you will find the DDP Rate Limiter, below the API Rate Limiter section. (`Admin -> Rate Limiter -> DDP Rate Limiter`) Please disable that setting and test again if you can. Please let me know about your tests. Feel free to contact

[2019-02-13 17:59] MarcosSpessatto commented on #13454
Also if you can update your server version to the latest, I found [this PR](https://github.com/RocketChat/Rocket.Chat/pull/13213) that maybe fix this issue. Please let me know if the problem persists.

[2019-02-13 18:08] algomaster99 commented on #13466
Can I open a pull request? I have fixed the issue!

[2019-02-13 18:34] tassoevan commented on #13460
Are you allowing anonymous access, right? There is a known bug: when logging out, the channel list is not properly updated -- still present in the current version. As a workaround, after you refresh the page, clicking at some public channel will show a button to send you to the login screen.

[2019-02-13 18:37] tassoevan commented on #13466
@algomaster99 Sure, pull requests are always welcome!

[2019-02-13 18:58] johnlund commented on #11518
@renatobecker Nothing happens on either side. The widget side shows the option the end chat, then when I click on it, the end chat popup closes and the chat appears as it did before I tried to end it. And nothing at all occurs on the agent side.

Thanks for your help!

[2019-02-13 19:08] TomaszDom commented on #13284
@sampaiodiego will notifications work with mongo 3.2?

[2019-02-13 19:56] algomaster99 commented on #13374
I am working on this. Will submit a PR soon :)

[2019-02-13 20:38] Chessmasterrr commented on #13432
After some further investigation it seems like docker is messing up with the iptables and cannot adjust them accordingly. After issuing the following command everything is working now:

`iptables -A OUTPUT -p tcp --dport 3000 -j ACCEPT`

So it was definitely a misconfiguration in my setup and nothing that has to be changed in your Docs.

Thanks for your help!

[2019-02-13 20:38] #13432 closed

[2019-02-13 22:20] nicki-klexx opened #13473 "Missing option to stop livestream"
I can stream content from youtube, but if I want to remove it only the antenna symbol at the top of the room disappears. The announcement and the breating camera symbol in the sidebar stay in their places. I can delete the announcement manually, but not the camera symbol. Even if I disable livestreaming nothing happens.

What can I do?

### Server Setup Information:

- Version of Rocket.Chat Serve

[2019-02-13 22:41] john-light commented on #13460
@reetp my server version is at the bottom of the first post. I will update and test on the latest version to see if there is a login button on the Home page; if so I will close this issue. otherwise I would keep it open because putting a login button on the home page would give direction to logged out users about where to go next if they want to login.

@tassoevan  yes we are allowing anonymous ac

[2019-02-14 00:35] tzar commented on #13284
@sampaiodiego

- I am using the packaged snap version of rocketchat server which seems to be bundled with mongo 3.2
- My users complained that they were not receiving any notifications when being mentioned or direct messaged and I verified that this was the case
- Downgrading rocketchat server to 0.73.2 caused the notifications to start working again
- There was a javascript error (minified so not

[2019-02-14 01:27] sampaiodiego commented on #13284
@TomaszDom yes, they will.

thanks for the infos @tzar .. I tried using the snap version as well, but notifications worked fine, as you can see in the video below:

![out-2](https://user-images.githubusercontent.com/8591547/52755836-77c69f80-2fe6-11e9-8584-e6158905b29b.gif)

was your test scenario like mine? what browsers (and versions) did you try?

[2019-02-14 01:55] tzar commented on #13284
@sampaiodiego hmm I only tested with chrome (71.0.3578.98) and rocketchat server is running on ubuntu LTS 16.04

The only real difference I can see is that you don't have any custom avatars set (we store ours on s3); if the issue is due to avatar loading this might mask it? If no luck I will have to find some downtime to re-upgrade it and see if I can find something more helpful.

[2019-02-14 01:59] tassoevan commented on #13284
@tzar It was the error I saw with "Test Desktop Notifications" button, fixed now by #13457. If the same error is throwed on browser's console when a notification is should be triggered then it is just a client side issue: no problem on Mongo layer at all.

[2019-02-14 02:10] Junich10 commented on #11712
Thanks for your information! I was looking all over the place.
Even I had all the ldap setting configured correctly, I could not login with any samba ad user.
I turned off the "Find user after login" setting, it all started working.

[2019-02-14 02:40] ganky96 commented on #6786
This may be a little late, but make sure to consider the Rasa framework and how it implements buttons when you do this, as many developers use Rasa as their open source Chatbot core framework!
https://rasa.com/docs/core/slots/#slots-set-by-clicking-buttons

[2019-02-14 03:42] isaipanelinha commented on #13148
Running into the same error.

[2019-02-14 03:52] maurice-does-software commented on #10714
Oops. I made my commit not seeing that there already was one. Disregard...

[2019-02-14 06:37] MatthiasHertel opened #13478 "Docker Hub Build ist not latest tagged"
https://hub.docker.com/r/rocketchat/rocket.chat/tags

the latest tag is not reffered to version `0.74.3`

i want to pull the latest version. but it hangs on version `0.74.2`

[2019-02-14 07:37] frdmn commented on #13001
#13428 will fix this which will probably included in 0.75.0

[2019-02-14 07:58] Galatoni commented on #13462
@MarcosSpessatto
![image](https://user-images.githubusercontent.com/3481024/52771545-11fe0600-302e-11e9-90bc-628843b5e3ce.png)
These are the only settings I was able to find relating to what you were talking about. Searching for DDP gave me no results in the settings search box either. There is nothing by the name of DDP Rate Limiter anywhere.

[2019-02-14 08:13] banoleb commented on #13300
HI,
Thanks you. reindexing helped me.
I used this code:

db.getCollectionNames().forEach(function(coll_name) {
  var coll = db.getCollection(coll_name);
  coll.reIndex();
});

[2019-02-14 08:31] coders-kitchen opened #13479 "Log failed login attempts"
In order to be able to use fail2ban or similar tools we need the option to see failed login attempts in the logs.

This is related at least to #2885 and #2737

[2019-02-14 08:31] DenisAraujo68 commented on #10530
Hi, @rkramer1964. First, thank you for your answer.
I did the test once more time and the problem of hung loading indefinitely happened again.
But now I collected more information. I want to resolve this problem, but I don't know if this is the better place to continue our conversation.
What you think, @rkramer1964? Can we talk about in another channel?

[2019-02-14 08:32] coders-kitchen commented on #2885
I've created a dedicated issue for our Merge Request, see here #13479

[2019-02-14 08:39] Skosche3 opened #13480 "Restore Username Field template tags to Custom OAuth Config for non-nested attributes"
### Description:

As a RC_Admin, I would like custom oauth config to accept combination of various attributes similar to LDAP implementation so that non-nested attributes can be combined to provide username (ie #{givenName}.#{sn})

https://github.com/RocketChat/Rocket.Chat/issues/9051 removed required functionality that was added with https://github.com/RocketChat/Rocket.Chat/issues/3917.

Suggest

[2019-02-14 08:51] Skosche3 commented on #13480
@geekgonecrazy You may be interested in why this code was necessary.  Hopefully we can create documentation for OAuth configuration so required use cases make sense for others to use.

@pierreozoux You may want to track this issue to ensure solution preserves your use case for nested attributes.

[2019-02-14 09:40] reetp commented on #13479
@rocket-cat label add duplicate

Please follow up on existing Issues rather than opening a duplicate.

[2019-02-14 09:40] reetp commented on #13479
@rocket-cat close
Closing as duplicate of 13387

[2019-02-14 09:41] #13479 closed

[2019-02-14 09:53] coders-kitchen commented on #2885
can someone please check the PR?

[2019-02-14 10:26] manacim commented on #13478
Same issue, here. Thought I was going crazy!

[2019-02-14 10:31] philipooo commented on #12219
We also see this issue with Rocket.Chat 0.74.2.

[2019-02-14 10:49] sampaiodiego commented on #13284
guys the version 0.74.3 was just released including the mentioned fix. can you guys test it?

[2019-02-14 10:50] sampaiodiego commented on #13300
good to hear @banoleb :rocket:

[2019-02-14 10:59] #13059 closed

[2019-02-14 11:15] frdmn commented on #13478
It's available on Docker Hub now :)

[2019-02-14 11:15] #13478 closed

[2019-02-14 11:40] domenicocosta commented on #3379
Hi,

i have installed in my local machine a server RC and i have to sincronize user via CAS, but i am obbliged to leave the checkbox "Registration with Authentication Services"  to true, because in your record user exist the services json for cas.

"services": {
		"cas": {
			"external_id": "******",
			"version": 1,
			"attrs": {}
		},
		"resume": {
			"loginTokens": [{
				"when": ISODate("2019-

[2019-02-14 11:47] domenicocosta commented on #6655
Hi,

i have installed in my local machine a server RC and i have to sincronize user via CAS, but i am obbliged to leave the checkbox "Registration with Authentication Services" to true, because in your record user exist the services json for cas.

"services": {
"cas": {
"external_id": "******",
"version": 1,
"attrs": {}
},
"resume": {
"loginTokens": [{
"when": ISODate("2019-02-13T20:12:08.473Z"),

[2019-02-14 11:48] 18739940427 commented on #13433
If you find this method, please let me know.

[2019-02-14 13:00] rkramer1964 commented on #10530
yes, I think we should.

[2019-02-14 13:19] marceloschmidt commented on #8280
We could use the messages e-mailer feature of selecting multiple messages and do some other actions too.

[2019-02-14 13:27] marceloschmidt commented on #8533
We implemented auditing on Enterprise edition. Please contact sales@rocket.chat if you would like to give it a try.

[2019-02-14 13:27] #8533 closed

[2019-02-14 13:41] marceloschmidt commented on #8764
Rocket.Chat already automatically adds the email as verified when integrating LDAP. Thank you.

[2019-02-14 13:41] #8764 closed

[2019-02-14 13:50] photoninger commented on #8764
@marceloschmidt That's right. But if you read my last comment LDAP users are confused when they check their preferences...