[2022-11-11 10:39] pauloriply opened #27238 "Users have not added from other channel"
I have many channels i9n my RC installation.
Main channel called ch1, and he has 77 users
Secondary channel called ch2, he has 63 users
When i trying to add all users from ch1 to ch2 by command `/invite-all-from #ch1` i don't receive any results, and users doesn't adding.

Steps to reproduce:
1 - Go to the destination channel
2 - Enter command `/invite-all-from #sourceChannelName`

Expected behavi

[2022-11-11 12:45] #21601 closed

[2022-11-11 12:47] dougfabris commented on #11214
Closing this stale issue, since it's already been fixed since the new message parser implementation!

[2022-11-11 12:47] #11214 closed

[2022-11-11 12:49] #20458 closed

[2022-11-11 12:49] #23759 closed

[2022-11-11 13:09] dougfabris commented on #11649
Closing this stale issue since because changed how the message works in video conferences since the latest major #25570

[2022-11-11 13:09] #11649 closed

[2022-11-11 13:59] dougfabris commented on #20099
After the implementation of the new message template using React this issue became stale.
Thanks for reporting it!

[2022-11-11 13:59] #20099 closed

[2022-11-11 14:12] yash-rajpal commented on #19110
Quotes for E2EE channels were implemented in #26303 and it will be available in 5.4.0 release.

[2022-11-11 14:12] #19110 closed

[2022-11-11 16:46] gabriellsh commented on #24358
Hey @ankar84 ! Thanks for the report. As for the other link schemes, the actual issue is not the scheme itself (eg `e1c` or `notes`), but the URL not having a `.` in the domain. We are actually working on that issue right now.

For the Custom Fields, I think we need a different fix than the one cited. I'll see what we can do.

[2022-11-11 17:26] ankar84 commented on #24358
Great news @gabriellsh
Thanks a lot for your attention!!

[2022-11-11 22:09] #23934 closed

[2022-11-11 22:09] #10349 closed

[2022-11-11 22:09] #16385 closed

[2022-11-12 11:21] QuakeIV commented on #27149
is there any way i can like put a bounty on this to speed up proceedings or something, i dont think this is a big fix if someone who actually knows react or node or whatever tackles it

[2022-11-12 12:28] 3x3cut0r opened #27249 "Message quote issue"
### Description:

If i quote a message in Rocket.Chat the message above the quote has a incorrectly formated link in front of the text which was not there before

### Steps to reproduce:

1. quote a message (test message)
2. enter your answer (test quote)
3. send the message

### Expected behavior:

the answer shoud be shown without that link

### Actual behavior:

the answer has a incorrectly for

[2022-11-12 13:22] tasksa opened #27250 "Messages not appearing after upgrading to 3.8.13 on windows"
There is an issue after upgrading to 3.8.13 on windows
when a person sends a message it appears in light grey and the receiver gets a notification but when opening the message there is no new messages

each time the sender an receiver should reload the server

[2022-11-13 05:28] ankar84 commented on #27250
2 thoughts
1. I'm not confirm that issue on new desktop client version 3.18.13 - all works perfect as it was on previous versions
2. Probably you have some backend problems (with deployment settings, database, reverse proxy or somewhere else) and that not related to new desktop client version 3.18.13

[2022-11-13 05:37] kultpro opened #27253 "Update 4.8.6 --> 5.0.0: MongoParseError: option replset is not supported"
Update 4.8.6 --> 5.0.0
MongoDB version - 4.2 or 4.4

`Rocket.Chat Version: 4.8.6                     |
|       NodeJS Version: 14.18.3 - x64             |
|      MongoDB Version: 4.2.22                    |
|       MongoDB Engine: wiredTiger                |
|             Platform: linux                     |
|         Process Port: 3000                      |
|             Site URL: ...  |
|

[2022-11-13 17:25] BugOverlord opened #27254 "File upload problem"
### Description:
I have a problem setting the file size limit on upload. I set a limit of 150 M (in bytes in the web administration GUI). And I am using nginx reverse proxy and in nginx.conf file I am setting the same client_max_body_size. But when I try to upload a file larger than 150MB, I see in whireshark an HTTP-package with 413 Response code ("entity is too large") from nginx but at the same

[2022-11-13 19:53] connected201 commented on #26632
i checked, all working fine.
https://f-droid.org/en/packages/chat.rocket.android/
is now avaiable

[2022-11-13 19:53] #26632 closed

[2022-11-14 09:04] muthu1202 commented on #27254
File is disabled
![Uploading Screenshot_2022-11-14-14-31-34-753_com.android.chrome.jpg…]()

[2022-11-14 09:06] vinogradovia commented on #25134
hi, in 5.1.4 still here.

jump from global search sends to /group/chat-name but the message is actually in /channel/chat-name

[2022-11-14 09:18] vinogradovia commented on #21659
Still an issue in 5.1.4

[2022-11-14 11:15] GloomyDay opened #27256 "Rocketchat sticky session question"
Hello,i have a qustion about rocketchat and sticky sessions ,are they still need to be enabled in large deployments ( for example in kubernetes with 16 instances ) ?

 I found multiple old posts about it ,like this  https://github.com/RocketChat/Rocket.Chat/issues/17473#issuecomment-621203370 ,or offical guide (only apache part https://docs.rocket.chat/quick-start/scaling-rocket.chat/running-multi

[2022-11-14 13:06] shevchukma opened #27257 "Problem with displaying non-FQDN links in the new message template"
### Description:

If you use the new message template, links with hostname are not displayed as links, but as text.
![image](https://user-images.githubusercontent.com/104189570/201660710-32f05e11-9e3d-48ac-acfb-7f6d17f174ba.png)
In the old message template, non-FQDN links display fine.
![image](https://user-images.githubusercontent.com/104189570/201660905-f396ccf3-8fc4-4034-ba4e-96f746e80979.png)

[2022-11-14 13:08] mjunghanns commented on #22468
It seems to be fixed.

[2022-11-14 13:08] #22468 closed

[2022-11-14 13:48] Montg0mery commented on #26476
You can get the official list of TLDs from IANA (https://www.iana.org/domains/root/db) and not auto-link unless the text ends in one of those, or fix Rocket.Chat so that auto-linking can be disabled for links which don't start with with a valid scheme such as `http://` or `https://`.

Ideally both, so that auto-linking is better by default, but can also be turned off for domains without a scheme.

[2022-11-14 14:17] hugocostadev commented on #26476
Hi @Montg0mery we already tried to check for valid TLDs, but this would bring several other issues and increase the time for parsing messages.
Also, checking for thousands of valid TLDs or limiting just to HTTP protocol would not be ideal for the majority of our users ...

[2022-11-14 16:39] nishant23122000 commented on #26723
Hui @dudanogueira Can you please go through this PR https://github.com/RocketChat/fuselage/pull/891#issuecomment-1313759737 and put your thoughts? Thanks

[2022-11-14 16:56] IbluHasan opened #27260 "Active: failed (Result: exit-code) since Mon 2022-11-14 22:42:18 +06; 6min ago Process: 2965 ExecStart=/usr/local/bin/node /opt/Rocket.Chat/main.js (code=exited, status=1/FAILURE)"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Client Setup Information

- Desktop App or Browser Version:
- Operating System:

### Additional cont

[2022-11-14 17:16] varunsh17 commented on #27235
I would like to look into this matter,
I have produced it locally and now working on it..

[2022-11-14 21:59] Sonnenfleck commented on #27172
Same here. Updated from 4.8.6 to 5.3.0 and upon entering any channel in Safari (iOS or Mac OS 13.0.1), the screen goes blank almost immediately. The log didn't show any errors (except the usual "autotranslate not available").

Firefox and Edge on Mac OS worked fine.

[2022-11-14 22:18] phriedrich commented on #27172
Still broken on 5.3.1.

<img width="1237" alt="broken promise" src="https://user-images.githubusercontent.com/470153/201779806-3cdf74ca-8a40-42ef-a068-ffcc74111d02.png">

This is the line where it fails. It seems to iterate through the user/channel list and if one is selected, it breaks.

[2022-11-15 00:05] phriedrich commented on #27172
Found something: I believe it's line 60 in `apps/meteor/client/views/room/MessageList/components/UrlPreview/PreviewList.tsx`:

[code]

This was introduced #27159 (5.3.0 release) and fails if I test it in Safari's JS console.

[2022-11-15 07:31] 3x3cut0r commented on #27253
Hi,
i had the same error. it has been renamed to 'replicaSet'. you need to change your URLs:
MONGO_URL: 'mongodb://mongo:27017/rocketchat?replicaSet=rs0'
MONGO_OPLOG_URL: 'mongodb://mongo:27017/local?replicaSet=rs0'

[2022-11-15 07:39] ankar84 commented on #27257
I guess @hugocostadev and @gabriellsh already working on that problem.

[2022-11-15 10:20] kultpro commented on #27253
Thanks, I'll check it out

[2022-11-15 15:54] Kamlesh72 opened #27266 "Register username screen stuck on "Loading suggestions""
### Steps to reproduce:

1. Go to https://open.rocket.chat
2. Register using Google account or Github account

### Expected behavior:

Screen should show usernames or move to another page.

### Actual behavior:

![Screenshot 2022-11-15 at 9 11 55 PM](https://user-images.githubusercontent.com/90441742/201962158-63288a7e-e750-490b-af78-340736b9c2c1.png)

### Client Setup Information:

- Hardware: Ma

[2022-11-15 16:05] danger-ahead opened #27267 "Error while running Rocket.Chat server locally [Windows 10] [branch: develop]"
### Description:
Error while running Rocket.Chat server locally

### Steps to reproduce:
After following the steps in [Local development](https://github.com/RocketChat/Rocket.Chat#local-development) section, running `yarn dsv` gives this error in `develop` branch.

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System: Windows 10
- Deployment Method:  yarn dsv
- Number

[2022-11-15 16:07] infuman69 commented on #27267
I am facing the same issue , tried the steps in the readme(local development) but no luck.

[2022-11-15 16:11] infuman69 commented on #27266
Yeah faced the same issue 2days ago.

[2022-11-15 16:16] sulogna2001 commented on #27267
Hey facing the same issue during the local development setup.

[2022-11-15 17:03] varunsh17 commented on #18154
The general section is not there !
How can I start dev mode now ??

[2022-11-15 17:10] Gummikavalier commented on #22832
Thanks! The fix was released in RC 5.3.1 and I tested it now.

I confirm that the issue is fixed when using email as the keyfield in two separate oauth configs.

For the record the issue still happens when the username is used as the keyfield. What I mean by this is that it still is not consistent; should the capital account having capital email get created before the other, the merge does not hap

[2022-11-15 18:34] himpierre opened #27268 "Direct Reply broken (again)"
### Description:

Hello Devs.

Direct reply via email was working at least until version 5.1.x. Now with 5.3.1 running I noticed it's broken again. Configuration is the same as with the working rocketchat version. It seems login to the IMAP Server (Dovecot) only works partially.

[code]

As you can see, the second login attempt is the username missing.

Rocketchat Log looks like this:

[code]

I'm

[2022-11-15 18:37] #27253 closed

[2022-11-15 21:30] paulchen opened #27269 "Unable to change colors of announcement"
### Description:

Using Workspace -> Settings -> Layout -> Colors it is not possible to change the colors of an announcement.

### Steps to reproduce:

1. Be a user with the role `Admin`.
2. Navigate to Workspace -> Settings -> Layout -> Colors.
3. Change the following colors and save the changes:
   - Announcement Text Color to #d30909
   - Announcement Background Color to #ffdd00
   - Announceme

[2022-11-15 21:47] paulchen opened #27270 "HTML entities not properly handled in link previews"
### Description:

The link preview uses the value of the `content` attribute of the `<meta name="description">` tag of a HTML page, if present. Sometimes, this attribute contains HTML entities. These HTML entities are not handled properly leading to HTML entities shown to the user.

### Steps to reproduce:

1. Write a message containing the link https://github.com/RocketChat/Rocket.Chat/issues/272

[2022-11-15 22:08] kassemz commented on #27134
Hi @dudanogueira  and @ujjwalban

I upgraded the server to 5.2.0 and the issue still exists. Any ideas I can try? Thanks in advance!

[2022-11-16 00:00] N00rAhmed commented on #27193
hey @hugocostadev I was able to install some of the dependencies for the server.tests.ts file which previously weren't installed and were causing errors but I couldnt figure out what was causing error to occur for proxywire and chai in that file. I have made a pull request: https://github.com/RocketChat/Rocket.Chat/pull/27272 so can you please review it.
Thanks,
Noor

[2022-11-16 01:32] looeee commented on #22832
So to clarify, if I have set up my org with Keycoak login style `username`, `password` instead of `email`, `password`, this is still an issue?

[2022-11-16 03:13] moranno opened #27273 "[question] URL cache or config I missed?"
I changed my URL chats.xxx.com to chat.xxx.com by using `snap set rocketchat-server siteurl=http://chat.xxx.com` and changed general workspace Site URL settings in administration panel.
Then I `snap restart rocketchat-server`

But when I visit the livechat, there always a old URL with port 3000 fetched, check the img below:
<img width="459" alt="iShot_2022-11-16_11 05 12" src="https://user-images.

[2022-11-16 08:07] danceganse opened #27274 "User can't mark "Direct Messages" as unread"
### Description:

When a user is marked as unread the user is marked as unread for a second if the chat is open.

### Steps to reproduce:

1. Open the chat with another user
![Screenshot from 2022-11-16 08-30-06](https://user-images.githubusercontent.com/100282838/202116158-303f63ad-7c8c-41be-bfc5-653cdcb1ea05.png)
2. Click on "Mark Unread"
![Screenshot from 2022-11-16 08-32-16](https://user-image

[2022-11-16 09:10] danceganse opened #27276 "Emojis wont'get rendered at the preview in the thread"
### Description:

The emojis won't be rendered in the preview if yout react to a message in a thread. If you you click on the button to see the thread, the emoji will appear.

### Steps to reproduce:

1. Write a message to a channel or a user.
2. Reply to the message with an emoji in a thread.

### Expected behavior:

The emoji will appear as a picture in preview.

### Actual behavior:

The text f

[2022-11-16 09:33] svenseeberg commented on #17172
That seems to be true as of 5.3.1. I tried to change the owner of a room I'm not a member of. The suggestions that come up when entering a room name consist only of rooms that I'm already a member of.

Also it seems the Mongo queries are not working anymore. If I find a solution, I'll let you know.

[2022-11-16 11:01] danceganse opened #27277 "Delay by changing the avatar"
### Description:

The old avatar is shown next to my written messages after i changed my avatar. Refreshing the site or a logout didn't help. After an hour an many refreshers the new avatar appears.

### Steps to reproduce:

1. Change the avatar.
2. Go to a chat.
3. Look at your avatar.
4. Wait.

### Expected behavior:

The avatar next to my written messages should be the new avatar and not the ol

[2022-11-16 11:52] Kot-o-pes opened #27278 "[feature] Healthcheck endpoint for rocketchat server"
### Description:

Hello, everyone. I am running two separate deployments of rocketchat in k8s in different datacenters connected to the same db and its being exposed by nginx server. Recently we had issues with one of k8s clusters however it was still reachable by network and failover didnt work. Ive started searching for a healthcheck endpoint for rocketchat to be able to perform helathcheck requ

[2022-11-16 13:00] #26145 closed

[2022-11-16 13:36] Fasal-Official commented on #25952
Is this resolved? @dudanogueira

[2022-11-16 14:02] gabriellsh commented on #27257
Yep, here's a merged PR for it: https://github.com/RocketChat/fuselage/pull/901

This will only fix when using the `[title](link)` pattern though. We have some limitations that we're currently trying to overcome regarding our parser, but we didn't want to leave this issue unattended, so we did what's possible for now.

[2022-11-16 14:32] yash-rajpal commented on #27182
Yes, we are able to reproduce the bug and we are working on it. Thanks for your help.

[2022-11-16 16:02] peter-glass commented on #27164
Hello Hugo (or whoever receives this message),
Rocket Chat has been an on-going nightmare. I had lost access for a period
of time, and after several complaints and email exchanges it was apparently
fixed, presumably by Sonal Dhingra.

However, the repair was not permanent. Once again I am locked out of the
application and unable to read messages from the REIT forum to which I
subscribe. Would you

[2022-11-16 18:58] dudanogueira commented on #27278
Hi! Have you seen this PR? it introduces a healthcheck for data stream!
https://github.com/RocketChat/Rocket.Chat/pull/27026

[2022-11-16 20:17] dudanogueira commented on #27273
Hi! Please, consider going thru this doc before opening an Issue:
https://docs.rocket.chat/getting-support/community-resources

It also helps when we know what version are you running.

This can be a cached from the browser. Have you tried reloading it or accessing with incognito mode?

I am closing this and I'll ask you to [open a thread](https://forums.rocket.chat/) or [send here a message](http

[2022-11-16 20:17] #27273 closed

[2022-11-16 21:36] web-mi opened #27285 "LastMessage incorrect after deletion if E2E is enabled and last message is removed"
### Description:

If End-to-End Encryption is enabled and you delete the last message in a room the is updated to the last message without a type (t) attribute set which will be last message before the encryption was enabled for this room or no message if no unencrypted message is available.

If you send an encrypted message the lastMessage is updated correctly but on deletion the method `Rooms.re

[2022-11-17 06:11] georgemaschke commented on #27149
I am also experiencing this issue on Rocket.Chat 5.3.1 running under Ubuntu 20.04 LTS. I hope this bug can be prioritized, as it renders my installation (and doubtless many others) essentially useless for new visitors.

[2022-11-17 06:51] staukini commented on #27249
Same issue here on my site.
Version 5.3.1
docker (official rocketchat/rocket.chat:5.3.1; MongoDB 4.4)
Host: Ubuntu 20.04

Client: Linux and Windows; Browser: Firefox (106.5) and Chrome (107.0.5304.110)

[2022-11-17 07:35] Gummikavalier commented on #22832
If you don't provision email address at all in your Keycloack config you won't be affected by this merge bug.
Or if you are using only one Oauth provision source, you will not be affected either.

The issue persist in this particular use case where all below is true:
 * You are using username as a keyfield (in RC Oauth config)
 * You are provisioning email address field from two separate Oauth sou

[2022-11-17 07:43] haobinnan opened #27288 "Mobile Notifications won't Sound"
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/4693

[2022-11-17 08:04] Neykuratick commented on #24551
same

[2022-11-17 09:06] moubctez commented on #27186
It's still broken in Server v5.3.1

[2022-11-17 09:46] #20537 closed

[2022-11-17 09:48] #26424 closed

[2022-11-17 09:48] sleeplessnight2 commented on #26424
nobody cares about this. waste of time

[2022-11-17 13:33] MauryanKansara commented on #27266
I'm also facing the same issue in Windows 11 with Chrome and Brave..........

[2022-11-17 13:59] diegolmello commented on #27288
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/4693

[2022-11-17 15:30] derpsteb commented on #26424
But why close the issue, it's not resolved? :D

[2022-11-17 16:14] Gummikavalier commented on #22832
I'd like to add that we did also test the combination:
 * Email as a keyfield
 * Two separate Oauth providers
 * User with account at both Oauth providers
 * Using email address together in both email and username fields

This combination works ok.

So far any combination works ok, as long as the Oauth config keyfield is email and not username.

[2022-11-17 16:51] MBraunshausen commented on #27112
still present in 5.3.1

[2022-11-17 16:59] Gummikavalier commented on #27269
I confirm this issue in RC 5.3.1 too.

[2022-11-17 19:39] #27185 closed

[2022-11-17 22:41] #20595 closed

[2022-11-18 01:29] looeee commented on #22832
OK, thank you for taking the time to write that up. It's a lot for me to take in as I am not an Oauth expert but I think I got the gist of it and I will refer back here if I run into issues again.

[2022-11-18 04:29] privnote42 commented on #26516
Hello,
is there an official solution to this in the meantime?

the workaround does not work for me.

At the command
db.collection('rocketchat_settings').deleteOne({ _id: 'Canned_Responses_Enable' })

I get an error message

uncaught exception: TypeError: db.collection is not a function :
@(shell):1:1

and when I use the commands from @urangsabah  then I get no output on the first command and the f

[2022-11-18 04:43] harshalkaigaonkar commented on #27276
@dudanogueira can i take a look here?

[2022-11-18 06:38] juan-ferrer-toribio commented on #6174
Here you have an small Javascript project to bulk disable users using the Rocket.Chat REST API:

- https://github.com/verdnatura/rocket-sync

[2022-11-18 07:26] tom666-debug commented on #26516
But you did a "use rocketchat" after starting mongosh, right?
And I can confirm that there is no official solution available yet, even if the root cause is known .... pretty sad.

[2022-11-18 12:15] ggazzo commented on #27172
closed by https://github.com/RocketChat/Rocket.Chat/pull/27294

[2022-11-18 12:15] #27172 closed

[2022-11-18 12:16] #27257 closed

[2022-11-18 14:22] moranno opened #27296 "[question] Cannot turn on answer charts on dashboard?"
Hi all,
I tried to turn on answer charts on dashboard, but the page displayed Not allowed, I’m wondering why, where should I do the config?

![image](https://user-images.githubusercontent.com/77610980/202726447-c7018628-217f-484f-aedb-6d73b79814c1.png)

[2022-11-18 15:32] UAnton commented on #19317
Same problem on RC 5.3.0, Ubuntu 22.04

[2022-11-18 16:11] UAnton commented on #18662
Same problem

[2022-11-18 19:10] dudanogueira opened #27298 "Badwords Filtering not working on new Message Parser"
### Description:

When you set up bad words to be filtered, it will change for *** on notifications, but not on channel.

### Steps to reproduce:

1. Enable `WORKSPACE > SETTINGS > MESSAGE > Allow Message bad words filtering`
2. `WORKSPACE > SETTINGS > MESSAGE > Add Bad Words to the Blacklist` to onebadword,otherbadword
3. Send a message to a channel: onebadword followed by otherbadword

### Expec

[2022-11-18 19:12] dudanogueira commented on #27298
For reference: https://forums.rocket.chat/t/cant-add-bad-words-to-blacklist/15363/3

[2022-11-18 19:14] dudanogueira commented on #27296
Answered here: https://forums.rocket.chat/t/question-cannot-turn-on-answer-charts-on-dashboard/15389

Please, before opening a new issue, read this:
https://docs.rocket.chat/getting-support/community-resources

[2022-11-18 20:21] #22146 closed

[2022-11-18 22:00] AlecKinnear commented on #26661
Happy to report that on RocketChat 5.3.1 this syntax (which is Markdown with a link target) does take the visitor straight to the comments section:

`[test](https://www.profootballrumors.com/2022/08/cowboys-lt-tyron-smith-tears-hamstring#comments/)`

It even shows the pretty preview properly:

![Markdown-anchor-text-works](https://user-images.githubusercontent.com/107859958/202810114-ce375855-8631

[2022-11-19 08:57] seyed-dev opened #27303 "Rocket Python Bot"
# RocketPyBot
## Python lib for create rocketchat bot with getupdate like TelegramBots
i create this lib for Making a robot in the simplest way

github : https://github.com/seyed-dev/rocketchatbot
pypi : https://pypi.org/project/pyrocketbot/

[2022-11-19 09:01] phriedrich commented on #27172
Great, it’s been fixed in 5.3.2. Thanks @filipemarins

[2022-11-19 21:07] aliseas24 commented on #20899
Has anyone found a solution for this?

@salahtobok I have it active as you indicate and it doesn't work.

[2022-11-20 04:48] kertiskz commented on #27145
I have the same problem, version RC 5.3, deleting hung sessions from the database did not help.

[2022-11-20 19:19] krenuser commented on #27118
Still not fixed in 5.3.2 ?

[2022-11-21 01:04] jaonoctus opened #27305 "arm64 Docker images"
Any plans on publishing arm64 images [here](https://hub.docker.com/r/rocketchat/rocket.chat/tags/)?

[2022-11-21 01:18] jaonoctus commented on #27305
I tried to change this line from the [Dockerfile](https://github.com/RocketChat/Docker.Official.Image/blob/2a14b3f65fecb108c1e10f39f746c5c75ca5474c/5.2/Dockerfile#L8) and then build it.

[code]

[code]

But when I tried to run the service, I got this error:
[code]

[2022-11-21 02:56] jaonoctus commented on #23722
No plans to update the snap tho?

[2022-11-21 03:20] jaonoctus commented on #27305
- Related to #23722

[2022-11-21 08:41] Kot-o-pes commented on #27278
thank you @dudanogueira this is what i was looking for!

[2022-11-21 08:41] #27278 closed

[2022-11-21 11:04] ykorzikowski commented on #21439
Confirmed, but with update to 5.3.2.

5.3.0 works fine for me.

[2022-11-21 11:13] xareyli commented on #27276
@dudanogueira please review https://github.com/RocketChat/Rocket.Chat/pull/27308

[2022-11-21 18:09] #25727 closed

[2022-11-21 18:20] LoGiSTeRr commented on #13652
Still no dark theme))

[2022-11-21 19:05] dudanogueira commented on #27303
Hi!

Thanks for that contribution!

Great places to advertise your project:
- https://forums.rocket.chat/c/community-creations/
- https://forums.rocket.chat/c/bots-special-interest-panel/11
- https://open.rocket.chat/channel/bots

Also check out this recent documentation we did on creating bots using botpress:
https://developer.rocket.chat/bots/creating-your-own-bot-from-scratch/develop-a-botpress

[2022-11-21 19:05] #27303 closed

[2022-11-21 19:16] dudanogueira commented on #27267
@infuman69 , @sulogna2001
are you also running on top of windows 10?

If that's the case, please, join this channel:
https://open.rocket.chat/channel/working-on-windows-wsl2

We have some developers there that also use windows, and may be able to help you out :)

[2022-11-21 19:35] dudanogueira commented on #27267
Also, are you using WSL?

I checked with our dev team, and this error might be due to some symlinks that there are on those files, so windows may not like that.

But that error doesn't seems to happen on WSL, the suggested way to develop on Windows.

[2022-11-21 20:27] sketch242 commented on #26388
Apparently not, as 5.3.0 is still broken.  Do we know if it will be in 5.4.0?

[2022-11-21 20:44] sketch242 commented on #26865
In addition to user expectations for people who are coming from slack or have been using rocket.chat for years, this also breaks message history for anyone using the new message template.  We have years of messages that are still visible in search, but no longer format properly.

Some users also have the legacy message template enabled and can still send messages like this, but they don't format c

[2022-11-21 20:46] sketch242 commented on #26492
This was claimed to be fixed in #26388, but it' s still not fixed as of 5.3.1.

[2022-11-21 20:52] sketch242 commented on #27118
Still not fixed in 5.3.1.  The changelog for 5.3.2 does not show anything that looks like it would solve the problem.

[2022-11-22 03:26] #22802 closed

[2022-11-22 04:40] #24358 closed

[2022-11-22 05:03] #19442 closed

[2022-11-22 05:03] #24099 closed

[2022-11-22 06:45] #20065 closed

[2022-11-22 08:52] Gummikavalier commented on #19344
I think this is again an issue in RC 5.3.2.

Even when `Allow Special Characters in Room Names` is disabled on our instance, I found out that one user had been able to create rooms with using spaces and Nordic characters (UTF-8). This has probably happened via desktop or mobile client (unconfirmed).

Any of these rooms are now invisible in the admin UI rooms search.

[2022-11-22 12:12] henit-chobisa commented on #27298
Hey there @dudanogueira,
I am looking forward to resolving the following issue.

[2022-11-22 13:48] #26837 closed

[2022-11-22 14:24] racerxdl commented on #27014
And how to disable it when the server doesnt start because of the update? :thinking:

[2022-11-22 15:20] #23593 closed

[2022-11-22 15:20] #25045 closed

[2022-11-22 15:20] #26243 closed

[2022-11-22 16:32] #22548 closed

[2022-11-23 08:05] TimmiORG commented on #27145
Same with 5.3.2.
It is working correctly if I sign out from rocket chat. But it looks like it is not timing out if I'm just closing the electron for example.

[2022-11-23 10:16] PhilippFr commented on #27014
@racerxdl
What worked for me is setting `"value": false` for the `"_id": "LDAP_Enable"` item in the `rocketchat_settings` collection.

[2022-11-23 14:13] billynoah opened #27322 "iOS App Crashes with emoji msg"
### Description:

After sending a message with certain emoji symbols, the iOS app crashes and can no longer access the channel.

### Steps to reproduce:

1. Send a message with a 🦗
2. The app crashes
3. Restart app and try to access the channel or direct message where the 🦗 was sent.  The app crashes again. Even after using the desktop app and deleting the message the app still crashes when trying

[2022-11-23 14:24] racerxdl commented on #27014
LDAP wasn't active here, but github, twitter and facebook was. Then I just removed all entries that match with the query in migration:
https://github.com/RocketChat/Rocket.Chat/blob/4.5.7/server/startup/migrations/v231.ts#L17-L19

Funny enough, I didnt had to re-enable anything.

[2022-11-23 16:57] xareyli commented on #27235
@dudanogueira please review https://github.com/RocketChat/Rocket.Chat/pull/27325

[2022-11-23 22:15] billynoah commented on #2125
@Kyogre - that doesn't work for me.  Is there something I'm missing?

[2022-11-23 23:19] Montg0mery commented on #26476
@hugocostadev: OK, I can understand not wanting to check for every possible TLD (although with a hashmap that would be fast), but I don't understand what you mean when you say that a majority of users would be annoyed if scheme-less autolinking went away.

Surely most people are not looking for things like `str.length` to be autolinked into a hyperlink, or if they accidentally miss a space off the

[2022-11-24 01:12] #26868 closed

[2022-11-24 07:15] bernitonian opened #27341 "Issue on sync delay"
Hello,

URGENT.

It takes much longer time now since few days back, to sync acrosss most users of our cloud tqcs.rocket.chat,
- it fails to send/receive message
- responses do not get sync
- timeout
-**messages are sync only during log-in.

[2022-11-24 10:06] Jormodn commented on #19245
In Version 4.5.4 same Problem:

{"level":50,"time":"2022-11-24T09:37:38.118Z","pid":8,"hostname":"467d6e23efc4","name":"System","msg":"Exception while invoking method addWebdavAccount 'Could not access webdav [could-not-access-webdav]'"}
Exception while invoking method addWebdavAccount errorClass [Error]: Could not access webdav [could-not-access-webdav]
    at app/webdav/server/methods/addWebdavA

[2022-11-24 11:21] marble-madness opened #27342 "Sound notification often doesn't work"

[2022-11-24 11:43] JohnDorianMD commented on #27145
I have the same problem after updating from 5.2.0 to 5.3.2.

[2022-11-24 13:21] tomkralidis opened #27560 "newlines not working on Mac/Windows desktop or web application"

[2022-11-24 13:25] redbasecap commented on #10465
Yes you need to press the 3 dots and scroll down. I seared very long. @Hudell
Eventually make i more viewable :)

<img width="510" alt="Screenshot 2022-11-24 at 20 24 17" src="https://user-images.githubusercontent.com/41212950/203795037-538b6e90-9789-41e6-a2a4-76f8fb6ff2eb.png">

[2022-11-24 13:50] dougfabris commented on #19245
@Jormodn could you make sure your WebDAV server credentials are correct?
I just tried it here and it's working fine in `4.5.4`!

<img widht='420px' src='https://user-images.githubusercontent.com/27704687/203800084-9cc9a50b-7d9f-482b-be4b-06434fff2d79.gif' />

[2022-11-24 15:03] hakerakn opened #27343 "Omnichannel email problems"
### Description:

Hello, I have a contact form on my site. All responses from the contact form are sent to my email address.
Also, Rocket.Chat monitors my email for new messages and generates new channels in Agent Omnichannel.
After updating to version 5.3.2 I started getting blank tickets at the agents.

![Capture](https://user-images.githubusercontent.com/5690740/203812053-71f7cc22-8762-44d6-83d

[2022-11-24 17:08] Abhi149209 commented on #27266
/assign

[2022-11-24 17:17] Abhi149209 commented on #27249
/assign

[2022-11-24 17:20] Abhi149209 commented on #27277
/assign

[2022-11-24 17:20] Abhi149209 commented on #27277
@danceganse I can solve the issue . please assign me

[2022-11-24 17:34] Abhi149209 commented on #27249
@3x3cut0r assign ME I can resolve this

[2022-11-24 19:45] Abhi149209 commented on #27268
I can solve the issue @himpierre  please assign me

[2022-11-24 19:48] Abhi149209 commented on #27269
@Gummikavalier @paulchen please assign me , I can resolve the issue

[2022-11-24 20:54] vinogradovia commented on #25918
Any updates on this?

[2022-11-24 21:00] vinogradovia commented on #25664
Any updates on this? Mentions in thread also invisible for users

[2022-11-24 21:29] 3x3cut0r commented on #27249
what do you mean? i cannot assign anyone on this project?!

[2022-11-24 21:41] himpierre commented on #27268
When the Tooth Fairy grants me a wish, I ask her to allow me to assign tickets here. :)

Am 24. November 2022 20:45:58 MEZ schrieb Abhinav sahai ***@***.***>:

[2022-11-24 21:46] paulchen opened #27346 "[5.4.0-rc.0] Administration -> Apps does not work"
### Description:

After navigating to the "Administration" page, clicking the menu item "Apps" does not work.

### Steps to reproduce:

1. Click on the kebap menu above the channel list and select "Administration".
2. Click on the menu item "Apps".

### Expected behavior:

The page `/admin/marketplace/all/list` is opened.

### Actual behavior:

Nothing happens.

Clicking on "Marketplace" in the ke

[2022-11-24 22:17] #20017 closed

[2022-11-25 02:23] ggazzo commented on #27256
General rule: yes.
This is mainly due to `ws` fallback which is done using `xhr`
if you don't allow the fallback then in theory you wouldn't need it

[2022-11-25 02:23] #27256 closed

[2022-11-25 02:25] ggazzo commented on #27238
this is odd rocket.cat should tell you the problem, could you please check the maximum number of users per room?

[2022-11-25 02:45] ggazzo commented on #27146
closed by https://github.com/RocketChat/Rocket.Chat/pull/27213

[2022-11-25 02:45] #27146 closed

[2022-11-25 02:47] ggazzo commented on #27078
fixed and working on the 5.3.x and 5.4.0-develop branch

[2022-11-25 02:55] #26879 closed

[2022-11-25 03:06] ggazzo commented on #5726
I think this is no longer an issue :)

[2022-11-25 03:06] #5726 closed

[2022-11-25 03:19] ggazzo commented on #26606
a lot of "issues" here
- yes, we changed the default colors, to a more inclusive palette (in terms of accessibility), so if you have no avatar uploaded , is normal facing a different one
- Browser caches the avatar and sometimes it takes a few to invalidate, no relation with the server version
- mobile caches the avatar's this is a bug/feature and the cache time is almost infinite, this is a littl

[2022-11-25 03:19] #26606 closed

[2022-11-25 03:37] #26029 closed

[2022-11-25 03:38] #25935 closed

[2022-11-25 03:41] ggazzo commented on #25717
closed by https://github.com/RocketChat/Rocket.Chat/pull/27117

[2022-11-25 03:41] #25717 closed

[2022-11-25 03:53] #24976 closed

[2022-11-25 03:53] #24891 closed

[2022-11-25 06:50] Abhi149209 commented on #27268
@ggazzo can you assign me

[2022-11-25 06:50] Abhi149209 commented on #27249
@ggazzo can you assign me ?

[2022-11-25 07:16] trash739 opened #27349 "critical error at Windows shutdown"
critical error at Windows shutdown appears again in RC 3.8.13, see the screenshot attached
![221125_RC_error_ret](https://user-images.githubusercontent.com/45266374/203922951-285ee690-9b72-4443-959d-f51fecf734dc.jpg)

[2022-11-25 08:02] Gummikavalier commented on #23751
Our RC 5.3.3 seems to limit the max shown amount of members to somewhere between 40 - 80 for regular users and for admins ~300.

Disabling rate limiters did not have effect. I suspect there is a hardcoded limiter to save excess load via resolving hundreds of usernames to real names.

[2022-11-25 08:30] rmaksimov commented on #26661
this still does not work (5.3.3)

[2022-11-25 08:52] LetArch opened #27356 "After update to stable version 5.3.3 avatars are missing"
### Description:

Just all avatars are missing

### Steps to reproduce:

1.Update to 5.3.3
2.Login chat
3.Avatars is missing

- Version of Rocket.Chat Server: 5.3.3
- Operating System: Ubuntu 20.04.5 LTS
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog:
- NodeJS Version: v14.18.3
- MongoDB Version:5.0.14

### Client Setup Information

- Chromium 106.0.5249.119
- Oper

[2022-11-25 09:57] LetArch commented on #27356
SOLVED
[Just need to bring back files from the upload directory](https://forums.rocket.chat/t/some-user-avatars-broke-after-manual-3-5-3-update/8216/5)
I wonder why there is not a line about this in [the official update instructions](https://docs.rocket.chat/quick-start/deploying-rocket.chat/other-deployment-methods/manual-installation/updating). If it were written at least: "Save the upload direc

[2022-11-25 09:57] #27356 closed

[2022-11-25 10:15] edyaya opened #27357 "Custom push for ios is not working"
### Description:

Custom push gateway is not working for IOS apps with "Production" == true

### Steps to reproduce:

1. Build your app  https://developer.rocket.chat/mobile-app/mobile-app-white-labelling/configuring-push-notifications
2. Send message for yourself
![image](https://user-images.githubusercontent.com/28082617/203958588-d40996ac-5206-4034-bc4f-a3cac33b27b7.png)

When Production is fal

[2022-11-25 11:19] xi67 commented on #27112
Same here in 5.3.3 with only one user.

[2022-11-25 12:14] teach404W commented on #27343
We have the same problem and opend a ticket. They told us that they confirmed the bug and will be working on it.

[2022-11-25 13:28] AlecKinnear commented on #26661
What is the use case for the underline character in a link name @rmaksimov ?

[2022-11-25 14:15] casalsgh commented on #27346
Hi @paulchen thanks for the report here.
We tried to replicate the issue, but couldn't, at least on the latest version of 5.4.0. Below gif is our view and all seems ok.
![marketplace_not_loading](https://user-images.githubusercontent.com/83978645/204003170-ea04148b-3092-454f-b204-d26b6bc74ef4.gif)

Can you try again with latest version and see if all good? if not, would you mind sharing with us in

[2022-11-25 14:46] danel1 commented on #27274
@ggazzo We have the same problem. See browser console log attached.
[27274.txt](https://github.com/RocketChat/Rocket.Chat/files/10093634/27274.txt)

[2022-11-25 16:25] magiks-hub commented on #27071
Server version 5.3.2 issue with slashes still not fixed...

[2022-11-25 16:28] ggazzo commented on #27268
no @Abhi149209 I can't :). we dont assign people outside the corp, because we dont want to prevent others to try

but dont worry you can still work on this problem and solve the issue

[2022-11-25 17:32] ulope commented on #918
It's really incomprehensible to me how such a core functionality can be left languishing for 7(!!!) years while ever more useless new "features" with more bugs are piled ontop.

[2022-11-25 17:38] ulope commented on #26738
Also related to #918

[2022-11-25 17:46] ggazzo opened #27361 "Regression: Old threads are no longer opening"
### Description:

### Steps to reproduce:
if you try to open old thread ( a thread that is not load on the main list) you will see the problem
### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Client Set

[2022-11-25 17:57] ulope commented on #26944
We've heard all this before.
This pattern (constantly add new stuff, break old features, no response to reasonable bug / feature requests or issues just being closed without good reason) has been in evidence since the very start of the project. There are multiple fundamental UX / functionality issues that have been open for years (some since 2017)!

I even once (2 - 3 years ago probably) got conta

[2022-11-25 19:17] casalsgh commented on #27346
Interesting. Ok, when you try with a fresh set let us know.
Thanks for feedback and confirming versions and steps to reproduce.

[2022-11-25 19:25] henit-chobisa commented on #27298
Hello @dudanogueira, hope you're doing well! 😄
I am passionate to work on this issue, should I make a draft PR for the same? 🚀

[2022-11-25 20:25] dudanogueira commented on #27298
Hi! Thanks! I will ask one of our developers as I don't know about it too, hehehehe

[2022-11-25 20:26] ggazzo commented on #27249
go ahead @Abhi149209

[2022-11-25 20:28] henit-chobisa commented on #27298
Thank you so much,
I made a body parser for Our Github App using Regex, here https://github.com/RocketChat/Apps.Github22/pull/32
This one also seems fun to work on! 🚀🚀🚀

[2022-11-25 20:28] ggazzo commented on #27249
btw @3x3cut0r could you try https://open.rocket.chat or just the version 5.4.0 candidate ? I cant no longer reproduce your problem

[2022-11-25 20:33] ggazzo commented on #27249
btw  the problems is related with your domain `3x3cut0r`

if you try `[3x3cut0r](https://3x3cut0r.de)` at version 5.3.0 you should see the same problem

we had an issue if domains starting with numbers

it was closed by https://github.com/RocketChat/fuselage/pull/855

[2022-11-25 20:33] #27249 closed

[2022-11-25 20:36] ggazzo opened #27366 "Regression: Quoting issue"
### Description:

Sometimes when I try to quote the message, the popup that shows the quoted message does not appear, if I send the message the quote is sent properly.
### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset

[2022-11-25 22:28] paulchen commented on #27346
I can reproduce this in a fresh installation of Rocket.Chat using Docker on Arch Linux:

1. Start MongoDB: `docker run --name mongo_test mongo:5.0.14 mongod --oplogSize 128 --replSet rs0 --storageEngine=wiredTiger`
2. Initialize the MongoDB replica set: `docker exec -it mongo_test mongo localhost/rocketchat --eval "rs.initiate({ _id: 'rs0', members: [ { _id: 0, host: 'localhost:27017' } ]})"`
3. R

[2022-11-26 04:39] codewithmitesh commented on #18264
Hey, @dudanogueira I want to work on the Issue, Can you assign it to me?

[2022-11-26 09:34] 3x3cut0r commented on #27249
yes i can confirm. on 5.4.0-rc.1 its gone and working again!
thx!

[2022-11-26 11:00] ankar84 commented on #21439
Guess this is the reason

[code]

[2022-11-26 12:08] ankar84 commented on #21439
I catch that issue right after mongo update, When I moved primary node to another server and reboot that primary (that was primary) server I get that **not authorized** error messages and grayed messages in chat. When I returned primary node to first server issue didn't fixed.
Then I restarted all Rocket.Chat instances one by one and that fixed issue to me.

Looks like on primary node change or on

[2022-11-26 12:12] xareyli commented on #27298
Oh, it seems that there is an assigned developer for this issue.
@dudanogueira Should I notify that I'm working on an issue before creating PR?

P.S.
Review https://github.com/RocketChat/Rocket.Chat/pull/27368

[2022-11-26 12:46] henit-chobisa commented on #27298
Hey @xareyli,
I was researching this issue, came to both `pre` and `post` message save callbacks, and was thinking of changing something in the message parser, but your solution of reversing the `beforeSaveMessage` callback chain seems super awesome!!! 😍😍
It would be awesome if you practice making a draft PR whenever you think of working on an issue, notifying other devs that you're working on the

[2022-11-26 12:49] henit-chobisa commented on #27366
Hey @ggazzo, I have faced similar issues like that and am keen to work on this issue, hence making a draft PR for the same.

[2022-11-26 13:08] RavuAlHemio commented on #18264
I‘ve already proposed a fix in #23990; unfortunately, it appears the dev team has not yet come around to reviewing it…

[2022-11-27 06:24] paneda1998 opened #27370 "5.3.3 release"
Hi
I need to have docker image for 5.3.3 release
but in dockerhub latest version is 5.2.0

[2022-11-27 07:26] ahmadidev commented on #26499
Thanks, @isaacvonaaron, and @pouyadarabi for the workarounds. Is there a plan to include this fix in upcoming releases?

[2022-11-27 15:25] xareyli commented on #27270
Please review https://github.com/RocketChat/Rocket.Chat/pull/27371

[2022-11-27 17:54] MarlynxLinux commented on #27370
docker pull rocketchat/rocket.chat:5.3.3

[2022-11-27 18:03] henit-chobisa commented on #27270
Hello @paulchen, I am working on the same for now.

[2022-11-27 22:43] shevchukma opened #27372 "History not loading after update to 5.3"
### Description:

After updating from version 4.8.6 to version 5.3.3, chats with a large number of messages in threads do not load history. I get the error "Error, to many requests. Please slow down..."
After that, the download circles flash, but nothing else downloads. Unable to load history.
In other chats where there are not many messages in the threads, the chat history is loaded.
I tried chan

[2022-11-28 00:54] akong77 opened #27373 "The slash can't show"
### Description:

I upgrade to 5.3.2.If I post full directory path.It's just show some slash.
The correct path is "v:\Software\Tools\Remote_Control\"
Input to rocketchat is show v:\SoftwareToolsRemote_Control\

### Steps to reproduce:

1. Input directory path
2. send it.
3. The path is miss some slash.

### Expected behavior:

It's must show correct directory path.

### Actual behavior:

![圖片](htt

[2022-11-28 02:00] akong77 opened #27374 "How to change font size?"
### Description:

I upgrade to 5.3.2.And I also use custom css.
:root {
	--input-font-size: 1.4rem;
  	--text-small-size: 1.4rem;
	--text-default-size: 1.4rem;
    --text-size: 1.4rem;
}
It's can change some font size.But message font size always no change.

### Steps to reproduce:

1. To custome css and add font css and save it.
2. Return to input message area input message and send it.
3. The me

[2022-11-28 02:37] angle5037 commented on #27254
I have the Same Problem too

[2022-11-28 04:13] WandrLust commented on #1457
I know this is super old, but can anyone please provide more details on how to do what @brakhane is referring to?

[2022-11-28 04:15] ankar84 commented on #27374
Have the same issue on 5.3.3
Font in chat history a bit small and not changed by Custom CSS

[2022-11-28 05:54] ankar84 commented on #27372
Confirm that bug.
Looks like every thread message create separate REST API request, and if amount of such messages a big, then Rate Limiter blocks it. That behavior must be fixed.
cc @dudanogueira @debdutdeb to show that issue to team.

[2022-11-28 06:33] paneda1998 commented on #27370
thanks for your answer
i have another question
is ther any difference between this two dockerhub repos?
https://hub.docker.com/r/rocketchat/rocket.chat
and
https://hub.docker.com/_/rocket-chat

are both of them official?

[2022-11-28 06:43] ankar84 commented on #27220
We upgraded to 5.3.3 and users now comply about that feature missing.
IMHO, fix should be options and on receiver side, like preference option for all threads (show all, show only  sender want to put in main chat)

[2022-11-28 08:18] shevchukma opened #27376 "Links to a third-level domain with a dash are not active"
### Description:

In the new message template, links do not become clickable if there is a third-level domain in the address, while a dash is present in the second-level domain.

### Steps to reproduce:

1. Send to chat link http://test.e-xample.com
2. The link does not become active.

### Expected behavior:

Links with dashes are converted to clickable links.

### Actual behavior:

Links to a thi

[2022-11-28 08:50] shevchukma commented on #27373
I confirm on 5.3.3 in the docker installation.

[2022-11-28 08:57] banderosss opened #27378 "Usernames are shown instead of real names in reactions"
### Description:

The setting UI_use_real_name is ignored in the desktop app and browser, usernames are always shown for reactions.
In other interface elements real names are displayed.
### Steps to reproduce:

1. Go to **Administration** - **Settings** - **Layout** - **User Interface**
2. Set **Use Real Name**

### Expected behavior:

Real names must be shown.

### Actual behavior:

![image](http

[2022-11-28 09:12] santos525 commented on #27145
Same problem here after updating from 5.1.3 to 5.3.2.

[2022-11-28 09:31] matthias4217 commented on #27376
I can confirm what's been said, on Rocket Chat 5.3.3. However, I'd like to add that `https://test.ex-ample.com` works fine.

[2022-11-28 09:34] matthias4217 commented on #27373
This is a duplicate of #27071 and #26907.

[2022-11-28 10:04] pacospace opened #27379 "Question: is there a way to remove imported files (e.g Slack)?"
HI all,

I wanted to know if there is a way to remove the imports (e.g. slack) from the UI. Or if there is a procedure to do that in general?

Thank you so much!

Thanks!

[2022-11-28 12:35] rmaksimov commented on #26661
I use it to add some specific data (marks): _dev, _test, _prod, etc
As Markdown supports this character ([github_dev](http://github.dev)) it is odd to me that RC adds some restrictions on characters in a link title

[2022-11-28 13:19] brakhane commented on #1457
It's been ages since I've used RC, but basically just remove the "create channel" permission from the "user" role. It was called "create-c" back in the day, no idea what it's called now, or if it changed.

[2022-11-28 13:30] #27370 closed

[2022-11-28 13:45] dudanogueira commented on #27298
thanks @xareyli and @henit-chobisa for the interest! I asked already our devs to review this PR!

Really appreciate it :)

[2022-11-28 14:29] christoboucher opened #27381 "Blank Grey Screen in Group / Channel using Chrome"
### Description:

Get a Blank Grey Screen Intermittently when in a Channel / Group
Similar to Issue 27294.
Also started happening when upgraded to v5.3.0

### Steps to reproduce:

1. login to rocketchat
2. click the hamburger in the top left
3. click any channel
4. Channel will displays fine for a period of time, and then screen goes Blank / Grey Background only

### Expected behavior:

Channel lo

[2022-11-28 14:47] henit-chobisa commented on #27366
Hello @ggazzo and @dudanogueira, hope you're doing awesome!
I have put made some efforts researching and finding a good solution for the above issue, hence, making a PR.
I would be more than grateful to you if this can be reviews and I can work on the suggestions from you.
Thank you so much! 😄

[2022-11-28 16:51] cordeosdev commented on #25952
This is just great... we have a dozen or so Rocket.Chat installations on CentOS 7 and ALL are stuck at version 4.2 to 4.6.  With no solution in sight.  This soooooooooo Rocket.Chat!

We have been using, supporting and contributing (testing, code and financially) to Rocket.Chat for well over 5 years now and it is a CONSTANTLY upgrade headache.  It is fantastic, solid and reliable once you've spent

[2022-11-28 19:41] dudanogueira commented on #27379
Hi!
I don't think there is, from the UI :(

If you want answer for more questions (here is more for reporting bugs), please, check this guide:
https://docs.rocket.chat/getting-support/community-resources

Thanks!

[2022-11-28 19:41] #27379 closed

[2022-11-28 19:50] dudanogueira commented on #27374
hum. You will need to be more specific with the css selectors. This worked forme at 5.3.1:

[code]

[2022-11-28 19:59] dudanogueira commented on #27373
Hi! Thanks for pointing it out!

This should be fixed in the upcoming 5.4.0 version.

You can test this both on our open server (http://open.rocket.chat) or spinning a docker instance with the [5.4.0-rc.1](https://github.com/RocketChat/Rocket.Chat/releases/tag/5.4.0-rc.1) as the image tag.

I'll be closing this issue for now, let me know if we should repoen.

[2022-11-28 19:59] #27373 closed

[2022-11-28 20:06] davidsy1 opened #27388 "ROCKET NOT SHOWING NEW MESSAGES"
NONE OF OUR USERS ARE GETTING NOTIFICATIONS.  ALSO, MANY USERS STATE THAT THEIR MESSAGES ARE NOT LOADING AND ARE STAYING 'GREYED OUT'.
WE HAVE INSTALLED AND UPDATED OUR CLIENT APPS, BUT THE PROBLEM CONTINUES.
PLEASE HELP.
THANK YOU,
DAVID
DIRECT 605 791-2403

[2022-11-28 20:13] dudanogueira commented on #27376
Related issue: https://github.com/RocketChat/Rocket.Chat/issues/27078

[2022-11-28 20:16] dudanogueira commented on #27388
Hi @davidsy1

This is not the right place to ask for help, but to point issues in Rocket.Chat.

For that you need to provide some information.

Please, check out this doc on how to ask for help and better use our Community Resources:
https://docs.rocket.chat/getting-support/community-resources

I will close this issue as it's not on the right place not has the template filled.

Please, if you have

[2022-11-28 20:16] #27388 closed

[2022-11-28 20:19] dudanogueira commented on #27341
Hi @bernitonian !

Sorry for the delay here. This is where we manage Rocket.Chat Issues.

Looks like you have our SaaS offering. In that case, please, refer to http://support.rocket.chat in order to get access to our Enterprise Level support.

I will close this issue for now. Thanks!

[2022-11-28 22:06] #27372 closed

[2022-11-28 22:18] Floflobel opened #27393 "Livechat notifications (omnicanal) do not disappear"
### Description:

Livechat notifications (omnicanal) do not disappear. Unless you send a message from the livechat.

### Steps to reproduce:

1. Send a message from RocketChat to a livechat client
2. The message is received, the livechat client opens the conversation
3. The notification badge is still there

### Expected behavior:

The notification should disappear when the chat is opened.

### Ac

[2022-11-28 22:27] Floflobel opened #27394 "Livechat: line breaks do not appear"
### Description:

In the livechat client, the line break does not appear either when sending a message or when receiving a message.

### Steps to reproduce:

1. Send a message with line breaks
2. Look in the livechat, no line breaks are displayed
3. Look in Rocketchat, line breaks are displayed

### Expected behavior:

Show line breaks in the livechat

### Actual behavior:

Livechat:
![mki7mlugYX]

[2022-11-28 22:34] Floflobel opened #27395 "Livechat: Omnichannel adminstration return a blank page"
### Description:

When we go to the omnichannel administration settings, we see a blank page with errors in the developer console.

### Steps to reproduce:

1. Administration > Workspace > Settings > Omnicanal
2. Blank page

### Expected behavior:

View the omnichannel settings page

### Actual behavior:

Blank page
![sqjTPVkgHH](https://user-images.githubusercontent.com/13889750/204395094-fd57cdb

[2022-11-29 01:00] julienchabanon commented on #15734
I can't find Message_SetNameToAliasEnabled on RocketChat 4.3.2 either.

[2022-11-29 01:20] akong77 commented on #27374
Thanks a lot.It's solved.

[2022-11-29 02:08] akong77 opened #27396 "Copy history with multi line and pasty to new message will auto add blank line."
### Description:

I have upgrade to 5.3.2.I found a bug.If I copy history message and it's message have multi line.Then I pasty to my message.It's will auto add blank line.How to fix it.

### Steps to reproduce:

1. Copy multi line history message
2. Pasty to my message.
3. It's will auto add blank line.

### Expected behavior:

The original message should be displayed

### Actual behavior:

![圖片]

[2022-11-29 02:21] akong77 commented on #25240
I upgrade 5.3.2 also disabled.

[2022-11-29 04:00] murtaza98 commented on #27395
@Floflobel Could you please check if the solution described [here](https://github.com/RocketChat/Rocket.Chat/issues/26516#issuecomment-1244173602) solves this issue?

[2022-11-29 06:54] jschirrmacher opened #27397 "Hash in Links doesn't work"
### Description:

Links containing hashes ignore hashes.

### Steps to reproduce:

Write a message like

    [Doesn't work](http://example.com#foo)

### Expected behavior:

A link should be generated, containing the complete URL `http://example.com#foo`

### Actual behavior:

A link is generated, but the hash is missing: `http://example.com`

[2022-11-29 08:04] pacospace commented on #27379
Thanks a lot @dudanogueira, sorry for spamming here. I actually asked in forums: https://forums.rocket.chat/t/delete-imports-e-g-slack-from-rocketchat/15431 :)

[2022-11-29 08:46] jsanchezba commented on #27145
We are facing the same issue after upgrading from 3.18.2 => 4.0.0 => 5.3.1, we are using LDAP.
Neither works if i log out

[2022-11-29 09:01] joeshajan commented on #27397
Hey, @jschirrmacher I would like to fix this can you assign this to me?

[2022-11-29 09:17] klepptor commented on #27145
Same here after upgrading from 5.1.2 to 5.3.3

Docker with MongoDB 5.0.14

[2022-11-29 09:35] jschirrmacher commented on #27397
@joeshajan That's great, but I cannot assign you because I'm no maintainer.

[2022-11-29 09:37] jschirrmacher commented on #27397
It seems, that ":" is also removed from URLs. They are used in paths of links e.g. links from Sharepoint. ":" are normally allowed in URL paths.

[2022-11-29 10:05] joeshajan commented on #27397
So where do you face this issue

[2022-11-29 11:08] trash739 opened #27400 "critical error in 3.8.13 - 3.8.14"
![221125_RC_error_ret](https://user-images.githubusercontent.com/45266374/204513825-ad134d84-84b2-4511-969d-a540bfbb2d7c.jpg)

[2022-11-29 11:09] trash739 commented on #27400
It happens at Windows shutdown, always.

[2022-11-29 12:57] dudanogueira commented on #27400
Hi! Thanks for pointing it out!

You already opened an [issue here](https://github.com/RocketChat/Rocket.Chat.Electron/issues/2552), and that's the best place, as this issue is more likely to be happening on the App Client side.

However, again, without following the template. :cry:

Consider that we cannot easily reproduce, and then fix this kind of errors without the information we required on t

[2022-11-29 12:57] #27400 closed

[2022-11-29 13:09] dudanogueira commented on #27397
Hi, Thanks for opening this issue!

it's ideal to always provide the information required on the template, as this helps us to reproduce the issue.

I pasted:

`[Doesn't work](http://example.com#foo)`

in release candidate 5.4.0.rc1 and in 4.8.1 and was not able to reproduce it.

Closing for now.

[2022-11-29 13:09] #27397 closed

[2022-11-29 13:11] casalsgh commented on #27346
Checking and will get back

[2022-11-29 13:30] dudanogueira commented on #27396
Hi! That's a nice catch, but not sure if a bug exactly :)

Just to clarify:
When you copy a multi line text from Rocket.Chat and paste it (tested on VSCODE), it will indeed add a blank line between lines.

Example:
123
456
789
111
222
333

When I pasted in LibreOffice, however, it didn't added the space.

This is because Rocket.Chat will render the message like this:

[code]
and not like this

[co

[2022-11-29 13:36] SaiRev0 commented on #27378
Is the issue resolved, if not I would like to work on it?

[2022-11-29 13:38] SaiRev0 commented on #26982
Is this issue resolved?? If not I would like to work on the issue

[2022-11-29 13:39] SaiRev0 commented on #26582
I wold like to work on this issue, can you please elaborate a bit more?

[2022-11-29 13:42] SaiRev0 commented on #20130
Is the issue still open i would like to work this issue

[2022-11-29 13:44] SaiRev0 commented on #24701
IS the issue still open?? I would like to work on it

[2022-11-29 13:51] dudanogueira commented on #27381
Hi! Can you reproduce this somehow on a fresh, clean install?

The hard part of catching those issues is reproducing them consistently :(

Do you see any network requests going wrong? Does the error message appear on a specific action/event?

Thanks!

[2022-11-29 15:48] ProLightingDigital opened #27403 "Version 3.8.14 bug?"
I've just updated all company users to version 3.8.14 but now some users have issues. messages are greyed out or not being sent/received. any ideas why this might be? only come through when i reload the server. thanks

[2022-11-29 16:26] #27403 closed

[2022-11-29 16:42] ProLightingDigital opened #27404 "Version 3.8.14 update"
### Description:

I've just updated all company users to version 3.8.14 but now some users have issues. messages are greyed out or not being sent/received. any ideas why this might be? only come through when i reload the server. thanks

### Steps to reproduce:

1.  rocket chat
2.  colleague to send message to
3.

### Expected behavior:

 send messages to colleagues

### Actual behavior:

 sent mes

[2022-11-29 17:24] DRLDoom commented on #22963
Problem persists in v5.0.3

[2022-11-29 19:41] graywolf336 commented on #27346
@paulchen does this happen for on all browsers? Aside from trying it on Arch, we have followed your steps exactly and haven't been able to reproduce it for some odd reason. I'm trying to nail down the differences and why this would be happening to you and not for us.

[2022-11-29 19:48] dudanogueira commented on #27372
Fix was included in 5.4.0 :)

[2022-11-29 19:53] DarraghCallaghan opened #27409 "Push notifications not working on Mobile devices."
Setup on user/admin side of Rocketchat correct.

Notifications on Iphone.
![image](https://user-images.githubusercontent.com/119449548/204633927-08e3ede1-9906-4a7b-93de-9ef300bfd8a7.png)

Default user preferences
![image](https://user-images.githubusercontent.com/119449548/204634127-3bf6cf54-78a2-488d-9e3d-4b961610aa19.png)

However, when mentions are sent to any user's Mobile devices notification

[2022-11-29 20:04] mddvul22 commented on #27112
In our testing we have discovered an additional problem related to this bug:

1. If you login in RC and set your status to available, everything is good. You are available and others see you as available, also.
2. However, when your client triggers auto-away, in your personal preferences, you become offline (not away). This is where things go really bad. When you go away, your status should change

[2022-11-29 20:29] MarlynxLinux commented on #24892
Hello i have the same problem on version 5.3.3 (docker)

[2022-11-29 20:31] ae5960e8-a6fc-491f-b252-898ecf59af95 commented on #24892
There is no fix, best option is to rollback to before the issue or move to a new installation. I did the latter.

[2022-11-29 21:40] #27361 closed

[2022-11-30 00:28] akong77 commented on #27396
Okay,Maybe it's not a bug.Could fix it?

[2022-11-30 07:54] Gummikavalier commented on #27378
I asked about the status of reaction name fixes in the community meeting few weeks ago.

The issue is complex; Showing real names requires more queries to be made and is considered too expensive (database queries) in the situations where some message has lots of reactions.
It is a common scenario that in big companies on big channels hundreds and even thousands of reactions can be shown on one sin

[2022-11-30 08:22] david-m-m commented on #27376
Seems like links with a 2nd level domain starting with a number are also affected:
* `[Test Link](https://www.1forall.com)` is *not* rendered correctly
* `[Test Link2](https://www.one-forall.com)` is rendered as a link

[2022-11-30 09:03] shevchukma opened #27412 "Unable to join a public channel in read-only mode"
### Description:

When entering a channel that is in read-only or broadcast mode, the Join button is not visible, only the inscription "This room is read only" is visible.

### Steps to reproduce:

1. A simple user enters the channel in read-only mode.
2. He cannot join the channel because there is no button to do so.

### Expected behavior:

A non-administrator user can by himself join channels i

[2022-11-30 11:14] ProLightingDigital commented on #27404
any help would be appreciated.

[2022-11-30 11:44] murtaza98 commented on #27395
The error seems to be from the mongo shell - most likely you're using a version that doesn't support `.collection()` method.

Try to use instead:
`db.rocketchat_settings.deleteOne({ _id: 'Canned_Responses_Enable'  })`

Or if you want to you use MongoDB Compass GUI editor (or any other tool of your liking) to do the same thing :wink: The end goal is to make sure that you remove that particular docu

[2022-11-30 12:59] SaiRev0 commented on #27378
Thanks for the insides @Gummikavalier. I understand the situation, and from your message, I also think that others working on this issue will not be good. So, no problem there. I hope this issue resolves soon, best of luck from my side.

If there is some other issue you think I can work on, please let me know.

ThankYou
[SaiRev](https://www.linkedin.com/in/sairev/)

[2022-11-30 13:41] banderosss commented on #27378
Thanks for your detailed answer @Gummikavalier. But I have a question. How often, even in very large companies, marital status, gender or real names of chat participants change?

[2022-11-30 15:55] xavpie opened #27415 "Retention policy does not delete old messages"
### Description:

Global retention policy doesn't delete old message after time fixed in the settings
### Steps to reproduce:

1. Apply global retention policy for prunning messages after 90 days
2. Fixe the pruning timer to 1 hour
3. Wait and look channel after 90 days

### Expected behavior:

all old messages should be deleted

### Actual behavior:

All old message (previous to 90 days) are stil

[2022-11-30 16:14] #27395 closed, assigned to nobody

[2022-11-30 16:56] Gummikavalier commented on #27378
@banderosss As a load change issue the name change is not that big question in closed systems I admit. Namely the biggest load issues would probably come from individuals in systems that allow changing ones name under profile, and someone would start constantly doing that for griefing purposes. Also such system would need to be very old with a huge message and reaction history. My example was bad