[2020-10-15 17:53] NotACreativeUsername commented on #18419
Issue is effecting my end users as well. Windows 10 enterprise, Rocket chat version 2.17.11/3.0/3.0.1 and server version Version 3.6.3

[2020-10-15 18:09] aforsythe commented on #18391
@pierre-lehnen-rc Any updates?  Seems like others can reproduce on the latest version.

[2020-10-15 18:21] frdmn commented on #19259
@kraken-coder feel free to raise a PR!

[2020-10-15 18:28] frdmn commented on #19245
Double check your log files (client and server side). If you don't see anything in the server log, you might need to increase the log level in the admin UI → Logs.

[2020-10-15 19:52] battosai30 commented on #15621
Of course !

[code]

I'm not bad about OpenLDAP but clearly not an expert of its ACL so maybe it's not a state of the art config, but as I tested it it seems to do the job (safe and not allowing too much ... ;) )

[2020-10-15 21:18] FNPCMDs commented on #18855
Same here, did you manage to install it?

[2020-10-15 21:29] zim32 commented on #18391
The same thing. Same error message with my custom openid provider. I can see that rocket chat does not take into account email_verified field from USERINFO openid endpoint. But it should. And when creating user with email_verified eq TRUE it should not ask user to verify email again.

[2020-10-15 21:46] zim32 commented on #18391
I think I found solution. You need to go to /admin/Accounts settings, then Registration tab and check Verify Email for External Accounts. Then new users will be created with email verified set to true and error is gone

[2020-10-16 00:09] #15810 closed

[2020-10-16 00:09] #15806 closed

[2020-10-16 00:57] bkraul opened #19267 "Unauthorized error when attempting to buy Zoom app"
### Description:

 On a self-hosted instance of Rocket.Chat (latest docker develop), which is joined to rocket.chat cloud, with a payment method on file, attempting to purchase the Zoom app generates an "Unauthorized" error. There is no further data in the logs or the console.

### Steps to reproduce:

1. Run latest docker develop.
2. Connect the instance to rocket.chat cloud services.
3. Add a pa

[2020-10-16 00:57] #19267 closed

[2020-10-16 03:16] nooblag opened #19268 "Can't view Threads in div.contextual-bar for a specific channel"
### Description:

Threads view does not work for a specific channel. We have imported Slack data but the issue only seems to manifest on a specific channel and none others. Channel name with issue does not have any special chars or anything, and the total number of messages is probably < 100.

### Steps to reproduce:

1. Open channel
2. Click on "Threads" view

### Expected behavior:

Threads pane

[2020-10-16 06:07] MonsieurPatate commented on #10170
Sync works fine, thanks!
But I stucked with the problem that @ybshin faced with. I have 3 custom fields and every time I open user info panel the displayable fields are different, f.e.:
I have department, post, and phone, but from time to time I see only department and post OR only phone.

**server version: 2.4.11**

[2020-10-16 06:16] frdmn commented on #19161
Regarding missing docs about E2E, security team just released this article about E2E in our docs:  https://docs.rocket.chat/guides/security/end-to-end-encryption-algorithms

[2020-10-16 07:04] Gummikavalier commented on #19161
Looks good and comprehensible to me. Exactly what was needed! Thanks! :+1:

I'm closing this issue as it was purely about the documentation. Other issues can be opened specifically to discuss about possible attack vectors such as security of AES-CBC algorithm as well as automatic handling of session keys with newly introduced or reset member keys.

[2020-10-16 07:04] #19161 closed

[2020-10-16 08:23] ankar84 commented on #18546
@engelgabriel Hi, Gabriel!
Please, take a look at this issue.

[2020-10-16 08:51] bseclier commented on #19262
Thank you for this fast fix !

[2020-10-16 09:14] cs35-owncloud commented on #19043
Hello,

well I could do the upgrade to 3.7.1 and this time no login problem but still the log errors about the translate but there are already several opened issues about it.
I tried so many settings that I can't tell exactly what went wrong and what made it work eventually : /
Anyway since the login works I'll close this issue.
Thanks for your help.

[2020-10-16 09:14] #19043 closed

[2020-10-16 09:28] ankar84 opened #19269 "[Bug] Retention Policy deletes entire Discussion if it started before prune date"
### Description:

Retention Policy **deletes entire Discussion** if it started before prune date even if that Discussion have a lot of **recent messages that not affected by Retention Policy**

@sampaiodiego please take a look at that issue.
@bseclier first informed me about that behavior [here](https://open.rocket.chat/channel/support?msg=YtD2XjjXYPsaJZtJc)

### Steps to reproduce:

1. Create Dis

[2020-10-16 09:52] bseclier commented on #19269
Thank you for the issue Anton ! I can confirm this feature/bug.

[2020-10-16 09:54] fdellwing commented on #19258
RC uses this password to connect to some WebDAV resource, right? So it needs access to the plaintext password for this. Any encryption on this value would therefore be snake oil, because RC is open source and the decrypt method would be publicly accessible.

Thinking about this, it comes to me that it may be possible to encrypt it with a/the user password. To decrypt it, the user would than have t

[2020-10-16 10:08] Furragen opened #19270 "LDAP-settings seem to be cached"
# Description:

When we change the ldap-host in RocketChat the settings is saved. And the new host seems to be set.
But when we look at the logs, we can see that often/random old settings are used.
Therefor users experience errors when logging in.

### Steps to reproduce:

1. Configure ldap and confirm that it works.
2. Change the ldap host to a different one.
3. Confirm that ldap still works.
4.

[2020-10-16 11:17] bkraul opened #19271 "Unauthorized error when attempting to buy Zoom app"
### Description:

On a self-hosted instance of Rocket.Chat (latest docker develop), which is joined to rocket.chat cloud, with a payment method on file, attempting to purchase the Zoom app generates an "Unauthorized" error. There is no further data in the logs or the console.

### Steps to reproduce:

1. Run latest docker develop.
2. Connect the instance to rocket.chat cloud services.
3. Add a pay

[2020-10-16 11:32] seppultra commented on #19258
Well i'm not a security expert but does it really needs the plaintext password? When the user entered the password and it will stored hashed in the database. RC could just compare the local hashed password with the WebDAV hashed password and it works. Not?
Another solution could be to store it locally and use Cookies or something similar.
How does Rocket.Chat itself knows it is still logged on? Ma

[2020-10-16 11:41] sampaiodiego commented on #19043
thanks for letting us know @cs35-owncloud .. good to know you were able to upgrade without any issues. pls let us know if you find any other issue.

[2020-10-16 12:17] fdellwing commented on #19271
You might get more information if you open the Developer Tools in the Desktop Client (Right click on server and Open DevTools).

[2020-10-16 12:24] protist commented on #11914
More spam to feed the bot 😕

[2020-10-16 12:28] bkraul commented on #19271
I did, as mentioned, there is no significant output on the console in Developer Tools at the time the error happens.

[2020-10-16 13:19] ankar84 commented on #17752
Looks like it fixed in 3.6.3
@sampaiodiego @pierre-lehnen-rc

[2020-10-16 13:19] #17752 closed

[2020-10-16 14:01] stuydw opened #19272 "email verification failure"
I have setup rocektchat to use a gmail address for SMTP. I can successfully send a test email from my server, but any attempts to "Resend verification email" do not succeed.

I am running a standalone server via snap install on Ubuntu 20.04.1.

Here are the log entries for the failed attempt:
[code]

[2020-10-16 14:01] #19272 closed

[2020-10-16 14:16] stuydw opened #19273 "Resend verification email failure"
### Description:

Attempts to Resend verification email fail, but I can successfully send a test email. SMTP setup using a gmail address.

### Steps to reproduce:

1. Set up SMTP server using gmail.
2. Click on "Send a test email to my user"
3. Go to Avatar-> My Account -> Profile -> Resend verification email.

### Expected behavior:

* Test email successfully sends.
* Verification email successfu

[2020-10-16 15:13] misaka00251 commented on #4455
I second this! Please update to the latest version!

[2020-10-16 17:23] geekgonecrazy commented on #19161
I think most of this is answered in better detail in the doc.  But felt like might be worth replying anyways.

Wasn’t involved in implementation or a security expert.  Just someone that has been very curious in implementation and has dug a lot in code prior to the doc.

But from what I understand:

Private and public key pair is generated client side.  Server never sees unencrypted private key.  O

[2020-10-16 17:24] tofr opened #19274 "This issue was closed because it does not use our bug report issue template."
* Steps to reproduce
Set up server, configure SMTP, test SMTP (successfully), then try to "resend verification email" from account page.
  * Expected behavior
Email appears in user inbox, with clickable link to verify.
  * Actual behavior
No email appears in inbox. SMTP relay account shows no evidence of an attempted send. RC interface flashes red banner in upper right corner: "Error trying to sen

[2020-10-16 17:27] sampaiodiego commented on #11914
sorry about that @protist .. but we really need more details on this to be able to work on a fix..

it definitely works for me in a clean installation when I try it.

maybe you can give full details of your setup and the actions you make to test the feature so we can to reproduce? like all the commands you do to install the server application, then describe the actions you do on the UI to start th

[2020-10-16 18:03] #17820 closed

[2020-10-16 18:03] #15720 closed

[2020-10-16 18:28] wreiske commented on #15720
I hate you, stalebot!!! 😠 😤

[2020-10-17 00:09] #15663 closed

[2020-10-17 00:09] #15590 closed

[2020-10-17 00:09] #15583 closed

[2020-10-17 00:09] #15562 closed

[2020-10-17 00:09] #15462 closed

[2020-10-17 00:09] #15491 closed

[2020-10-17 00:09] #15300 closed

[2020-10-17 00:09] #15241 closed

[2020-10-17 00:09] #15091 closed

[2020-10-17 00:09] #15047 closed

[2020-10-17 00:09] #15036 closed

[2020-10-17 00:09] #15043 closed

[2020-10-17 00:09] #15035 closed

[2020-10-17 00:09] #15028 closed

[2020-10-17 00:09] #15016 closed

[2020-10-17 00:09] #14999 closed

[2020-10-17 00:09] #14998 closed

[2020-10-17 00:09] #14997 closed

[2020-10-17 00:09] #14996 closed

[2020-10-17 00:09] #14991 closed

[2020-10-17 00:09] #14986 closed

[2020-10-17 00:09] #14984 closed

[2020-10-17 00:10] #14981 closed

[2020-10-17 00:10] #14975 closed

[2020-10-17 00:10] #14937 closed

[2020-10-17 00:10] wreiske commented on #15091
I hate you, stalebot.

[2020-10-17 00:14] dkoo761 commented on #17205
I'm not familiar with (or using) clever-cloud, but I can reproduce this error on 3.7.1 if I use the `--production` flag with `npm install`:

[code]

If you drop the `--production` flag and just do `npm install` then it builds fine. Since `@rocket.chat/livechat` is listed in the `devDependencies` of package.json, that's why `npm install` isn't installing it with the `--production` flag.

To me that

[2020-10-17 02:58] aleadco commented on #19046
If exactly, the interesting thing is that the problem is only in the sidebar.

[2020-10-17 03:01] 564064202 commented on #17100
May be :there is something wrong with app or cloud

[2020-10-17 05:35] ankar84 commented on #18953
Same of 3.6.3

[2020-10-17 06:03] #15551 closed

[2020-10-17 06:10] tisen23 opened #19277 "Unable to locate http server in MacOS App"
I'm able to login to rocketchat server via app but not able to login via MacOS app

[2020-10-17 06:10] #19277 closed

[2020-10-17 07:05] rasos commented on #15590
This is still a desired feature and may be very useful when assigning team related metadata to channels or groups #658.

[2020-10-17 11:55] firlevapz commented on #19250
It is working now, i cannot tell what has changed, i also see the same version 3.6.2 still, but the login works now, thanks!!

[2020-10-17 11:55] #19250 closed

[2020-10-17 12:04] #18521 closed

[2020-10-17 12:04] #15505 closed

[2020-10-17 12:04] #14928 closed

[2020-10-17 12:04] #14927 closed

[2020-10-17 12:04] #14920 closed

[2020-10-17 12:04] #14907 closed

[2020-10-17 12:04] #14883 closed

[2020-10-17 12:04] #14875 closed

[2020-10-17 12:04] #14864 closed

[2020-10-17 12:04] #14855 closed

[2020-10-17 12:04] #14840 closed

[2020-10-17 12:04] #14836 closed

[2020-10-17 12:04] #14830 closed

[2020-10-17 12:04] #14822 closed

[2020-10-17 13:05] aradhya-gupta commented on #8505
I'd like to work on this issue.

[2020-10-17 14:23] alvarow commented on #14742
I ended up writing my own gateway.

[2020-10-17 14:23] #14742 closed

[2020-10-17 14:36] alexander-potemkin commented on #2873
The problem, as I see it, is that hashtag is reserved for the channels + making efficient search requires search engine, which is still a thing in progress (in 2020)

[2020-10-17 14:46] alexander-potemkin commented on #7967
From now, when threads are there, I would call it threads organizer and still vote for it hardly - in my particular example, I need to mark daily status report with #report hashtag, to make sure I can quickly see them, instead of checking the whole events log, which is called main chat window.

[2020-10-17 20:38] Ablesius commented on #14638
Well, the problem is not resolved yet!

[2020-10-17 21:19] Exordian commented on #19258
I don't think so. It's quite common that the database is backuped and/or operated by different persons/org units. Injecting an encryption key into the application and encrypt sensitive information within the database is quite standard. Yet the encryption key shouldn't be stored in the database itself.

We're using SAML for authentication. For federated authentication this approach won't work.

[2020-10-18 08:46] georgmu commented on #14611
The issue is still present in recent versions of RocketChat.

[2020-10-18 11:38] anddomk commented on #18855
i have the same problem. is there anyone who already solved it?

[2020-10-18 17:51] BizClimb commented on #18079
Issue still exists as of 3.7.1.

[2020-10-18 18:03] #18530 closed

[2020-10-19 00:42] jdiegosierra commented on #19021
@wraith-0 are you still working on this issue, can I take it?

[2020-10-19 02:13] ankar84 commented on #17689
Still an issue in 3.6.3

[2020-10-19 02:16] ankar84 commented on #17689
@sampaiodiego and I noticed that when I set push notifications to **Mentions** - all my chat list in a Sidebar was updated - no private groups, only DMs on top (a have sort by activity).
It's really easy reproducible.

[2020-10-19 02:38] aleadco commented on #19270
A similar problem happens to us and I am going to cite it here as it may be related to this error. It is evident that when some values are modified in the LDAP configuration, everything is not updated correctly.
#19046

[2020-10-19 03:07] coolfarmer commented on #11213
+1 for this too! System message are annoying

[2020-10-19 07:29] Gummikavalier commented on #19161
Thanks for additional comments! Indeed my original assumption that all messages are encrypted using all public keys of all members on the channel was wrong. As @geekgonecrazy mentioned, this would have been very expensive on channels with lots of members. Instead E2E session key is used for that, and public keys are only used for distributing E2E session key safely.

I'm not a security expert in c

[2020-10-19 07:48] Raboo commented on #17205
Okay now that we know whats the problem, lets fix the problem instead of working around it.

[2020-10-19 08:32] anilcosar opened #19283 "Rocketchat is constantly send websocket request"
### Description:

When wait any room or somewhere. Rocketchat send requests and it pretended to relogin (online icon disappering and coming for all users). In web site top, it writes connectting.

![image](https://user-images.githubusercontent.com/22769628/96420242-eae1d980-11fd-11eb-802f-5854191f0d49.png)

### Steps to reproduce:

1. Install rocketchat 3.7.1 server and wait somewhere.

### Expect

[2020-10-19 08:32] #19283 closed

[2020-10-19 08:37] anilcosar opened #19284 "Rocketchat is constantly send websocket request"
### Description:

When wait any room or somewhere. Rocketchat send requests and it pretended to relogin (online icon disappering and coming for all users). In web site top, it writes connectting.

![image](https://user-images.githubusercontent.com/22769628/96420242-eae1d980-11fd-11eb-802f-5854191f0d49.png)

### Steps to reproduce:

1. Install rocketchat 3.7.1 server and wait somewhere.

### Expect

[2020-10-19 08:59] danel1 commented on #18894
Same problem here with 3.6.2 and the newest desktop client for macOS.

`I20201019-08:52:58.781(0) Exception in setTimeout callback: TypeError: Cannot read property 'etag' of undefined     at app/lib/server/functions/setRoomAvatar.js:34:46     at Meteor.EnvironmentVariable.EVp.withValue (packages/meteor.js:1234:12)     at packages/meteor.js:550:25     at runWithEnvironment (packages/meteor.js:1286:

[2020-10-19 09:34] wbthor opened #19285 "RocketChat v. 3.0.0. does not work on MacOS 10.14. Mojave"
Hi there,

since I upgraded to version 3.0.0. the application starts, but can no longer connect to our Chatserver ("No valid server found at the URL").

I am using MacOS 10.14.6 Mojave on a 2018 MacBook Pro.
Version prior 3.0.0. worked perfectly.  Now the client fails on connection.
Smartphone-App and https via browser still works.

Is there anything I could try to fix the problem?

Thanx in advan

[2020-10-19 09:34] #19285 closed

[2020-10-19 10:14] ulope commented on #12494
Still a problem in 3.7.1

[2020-10-19 10:22] eduardhc opened #19286 "Repeated "Still running" notification (v3.x desktop client)"
### Description:

New v3.x RocketChat desktop client repeteadly displays the "RocketChat is still running" notification when the main window is closed and minimized to tray, which is kinda annoying. This is a new behaviour in v3.x, as in previous versions it was only displayed the first time ths user closed the Window.

### Steps to reproduce:

1. Open RocketChat desktop client
2. Close main windo

[2020-10-19 10:22] #19286 closed

[2020-10-19 10:29] san- opened #19287 "Automatic update didn't work"
When the Windows 10 Rocket.Chat client starts, it suggest the updates showing new avaliable versions, but if I click to install the update it says that is downloading and will advise when is ready to install. But not happens after this.

![image](https://user-images.githubusercontent.com/3912977/96437115-85312580-11dc-11eb-9eae-14c11fe6bbb3.png)
![image](https://user-images.githubusercontent.com/3

[2020-10-19 10:29] #19287 closed

[2020-10-19 11:40] julianeisel commented on #2192
Let me second this! Such a feature would be very helpful for as at Blender ([blender.chat](https://blender.chat/)), and allow us to move more conversations to public channels.

There's lots of activity in our public channels, if I want to notify a specific team (say the core UI-team) it's a hassle to do in public channels. Hence some teams end up using lower-traffic, private team channels more, wh

[2020-10-19 11:46] Nono-m0le opened #19291 "Quoting doesn't work"
# My Setup

- Operating System: Win10
- App Version: 3.0.4
- Installation type: exe

- [x] I have tested with the latest version
- [x] I can simulate the issue easily

## Description
When I quote a text, only my additional text is visible, like a 'normal' text... no quote is working.
Could it be a server side issue ? (see https://forums.rocket.chat/t/quoting-doesnt-work/8917 )

### Current Behavio

[2020-10-19 12:04] #14817 closed

[2020-10-19 12:04] #14821 closed

[2020-10-19 12:29] msvec opened #19288 "Direct message URL is obfuscated"
### Description:

Since one of the RC updates (3.5 or one or two before) the URLs used for private chats are no longer human-readable.

Instead of https://chat.suse.de/direct/nickname (previously) this is the
URL is now something like: https://chat.suse.de/direct/Rap41bMxbf6z3J495X6B6x6Mk1f2zTju

It's inconvenient, and makes navigating between various chats difficult.
Plus one can't look easily lo

[2020-10-19 12:29] #19288 closed

[2020-10-19 12:35] msvec opened #19289 "Direct message URL is obfuscated"
### Description:

Since one of the RC updates (3.5 or one or two before) the URLs used for private chats are no longer human-readable.

Instead of https://chat.suse.de/direct/nickname (previously) this is the
URL is now something like: https://chat.suse.de/direct/Rap41bMxbf6z3J495X6B6x6Mk1f2zTju

It's inconvenient, and makes navigating between various chats difficult.
Plus one can't look easily lo

[2020-10-19 13:52] #19291 closed

[2020-10-19 13:55] gabriellsh commented on #19021
@jdiegosierra feel free to take it

[2020-10-19 14:20] mitevdev opened #19292 "No sound notifications after update 3.0.3"
No sound notifications are being played when somebody posts in channel.

[2020-10-19 14:20] #19292 closed

[2020-10-19 14:24] Nono-m0le opened #19293 "Quoting doesn't work"
### Description:

When I quote a text, only my additional text is visible, like a 'normal' text... no quote is working (see https://forums.rocket.chat/t/quoting-doesnt-work/8917 )

### Steps to reproduce:

1. Quote a text
2. Add additionnal text
3. Get only the additionnal text (not the original quote attached)

### Expected behavior:

Quoting to work

### Actual behavior:

quoting doesn't work.

[2020-10-19 15:36] Nono-m0le opened #19294 "Black Page on certain links (ie: Twitter)"
### Description:

When posting a twitter link, the "description" automatically added below contain the text, a link to the image, and the date (with its permalink url).
Clicking on the image or date link does nothing or let RocketChat in a black page (no server/room/discussion are visible anymore).

### Steps to reproduce:

1. post a twitter.com link
2. click on the date/image link
3. get a black

[2020-10-19 16:14] DHCrafty opened #19295 "Cannot upload avatar on 3.7.1"
### Description: Any user or admin cannot upload avatar on RC 3.7.1

### Steps to reproduce:

1. Go to user 'My Account' section
2. Click on upload Avatar and choose image
3. Click Open and then Save

### Expected behavior:

Avatar to upload and show as user's avatar.

### Actual behavior:

Message that profile saved but when reload page it just goes back to default avatar.

### Server Setup Infor

[2020-10-19 16:30] robertfromont opened #19296 "Feature: Decouple LDAP username from Rocket Chat username"
### Description:

Users should be able to be authenticated via LDAP without having their LDAP username the same as their Rocket Chat username.

### Steps to reproduce:

1. Enable LDAP authentication
2. Set _Administration|Accounts|Registration|Manually Approve New Users_ to *on*
3. An existing user with RC username *robertfromont* logs in using their LDAP username, which is *raf123* - (in both RC

[2020-10-19 18:04] #18541 closed

[2020-10-19 23:42] 88fingerslukee opened #19299 "Active Directory user images no longer syncing"
Description
User images in Active Directory LDAP are no longer syncing to the users in Rocket Chat. This used to work but has been slowly breaking. Not all users lost their images right away.

I have double checked that the images still exist in AD, they do.

Thoughts?

Server Setup Information
Version of Rocket.Chat Server: 3.6.2
Operating System: Ubuntu 18.04
Deployment Method: snap
Number of Ru

[2020-10-19 23:42] #19299 closed

[2020-10-19 23:54] 88fingerslukee opened #19300 "User images in Active Directory LDAP are no longer syncing to the users in Rocket Chat"
### Description
User images in Active Directory LDAP are no longer syncing to the users in Rocket Chat. This used to work but has been slowly breaking. Not all users lost their images right away.

I have double checked that the images still exist in AD, they do.

Thoughts?

###Steps to reproduce:

Hook up AD

###Expected behavior
Images sync to users

###Actual behavior
images don't sync to users

[2020-10-20 02:31] #14621 closed

[2020-10-20 04:41] Bestoloch commented on #19259
@ankar84 Hello. Please, can you share you CustomFields config? Is it synching from AD?

[2020-10-20 04:49] ankar84 commented on #19259
Yeap, It's from AD.
All details can be found here https://github.com/RocketChat/Rocket.Chat/issues/18953

[2020-10-20 06:30] antkaz opened #19302 "SMS integration "File does not match filter [invalid-file]""
### Description:
Sometimes I get an error from twilio when the user sends a message with text and file

[code]

I think it depends from https://github.com/RocketChat/Rocket.Chat/pull/18491

### Steps to reproduce:

1. Send message with file to whatsapp

### Expected behavior:

The message is received in Rocket.Chat

### Actual behavior:

Twilio reports an error

### Server Setup Information:

- Ve

[2020-10-20 06:31] ankar84 commented on #19300
We now on 3.6.3 and all avatars from AD are fine.
I suggest you to update to 3.6.3 or 3.7.1

[2020-10-20 07:17] OlafDammann opened #19304 "oAuth Users loose R.C-Role"
### Description:
R.C uses oAUTH against a WordPress running the Plugin "WP OAuth Server". Logging in works, a new user will be created in R.C.
BUT the User will not have any role AND the manually added role "user" disappears over time (maybe after they login again or after some time passed by).

### Steps to reproduce:

1. Install a WordPress and add and configure the Plugin "WP OAuth Server"
2. C

[2020-10-20 08:57] bhdung commented on #19046
Yah. Exactly. I found problem in the sidebar and in the threads conversation don't updated new name of users.

[2020-10-20 09:44] CaptWeiss commented on #1442
I support this feature be added

[2020-10-20 11:13] ankar84 opened #19307 "[BUG] Deactivate via REST API inconsistent"
### Description:

I'm using [REST API scripts](https://forums.rocket.chat/t/ldap-auth-disabled-ad-users/1715/11) to get userId and deactivate user in a moment when that user is disabled in Active Directory
I see that result of scripts using REST API is inconsistent - some users get deactivated without any issues, but sometimes script finishes with 400 error:
[code]
I try to deactivate user, that g

[2020-10-20 12:05] pierre-lehnen-rc commented on #19300
Fixed by #18994 on 3.6.3

[2020-10-20 12:05] #19300 closed

[2020-10-20 12:12] sampaiodiego commented on #17689
interesting, but definitely a different issue.

on the main issue, I find it very weird. I personally use **Mentions** as my push notification preference and it works as expected. are you sure the issue isn't related to your mobile device being in standby (fixed by https://github.com/RocketChat/Rocket.Chat/pull/19061 ) ?

[2020-10-20 12:14] sampaiodiego commented on #17100
this could happen depending on how many rocket.chat instances you have running in the cluster, it should not related to the app itself (probably happens when enabling any app).

[2020-10-20 12:15] gstlouisgit commented on #18681
after upgrading rocket chat I still get failed state once in a while.  However yesterday it happened, I restarted the service and this morning it crashed again.

same log errors
Oct 20 07:35:20 virtual.smbservices.ca systemd[1]: rocketchat.service: main process exited, code=killed, status=9/KILL
Oct 20 07:35:20 virtual.smbservices.ca systemd[1]: Unit rocketchat.service entered failed state.
Oct 20

[2020-10-20 12:16] sampaiodiego commented on #19296
just to make sure, do you know about the admin setting called `Use Real Name` under `Admin > Layout > User Interface`? with this setting turned on you shouldn't see usernames in the chat UI anymore, but you'd still need to know them to mention someone.

cc @pierre-lehnen-rc

[2020-10-20 12:22] ankar84 commented on #17559
That is a very important issue, please don't close it. Flood still here

[2020-10-20 12:25] bbrauns commented on #19296
There is also the setting "User Data Field Map" which lets you specify how the RC "name" is filled

[2020-10-20 12:26] ankar84 commented on #17689
I'm sure it's not related any doze mode or something.
Jist set push to mention and no push to DM
Set to all messages and push works again

[2020-10-20 12:26] claures commented on #19241
Hello
I think this is part of the Memory leak as well #19065

[2020-10-20 12:28] ankar84 commented on #17100
Diego, can I drop rocketchat_apps_logs collection? Is it safe? It's kind a big in our deployment right now.

[2020-10-20 13:33] antkaz commented on #19302
I found that in the 3.7.0 added a new condition in https://github.com/RocketChat/Rocket.Chat/pull/18995. Maybe it will fix it

[2020-10-20 14:12] robertfromont commented on #19296
@sampaiodiego yes, sorry I should have mentioned that we're already using that setting, and it works fairly well.

I think it appearing when you @mention someone is the primary source of annoyance, but there are still a few places where the username sneaks through, including:

Quoted messages:

![quoted-messages](https://user-images.githubusercontent.com/1911137/96597484-45de0400-12c4-11eb-886a-aa

[2020-10-20 14:15] robertfromont commented on #19296
@bbrauns Actually, that looks pretty interesting for auto-population of the LDAP username in custom fields, thanks!

[2020-10-20 14:55] robertfromont commented on #19296
I've just been exploring the way OAuth works, and it doesn't impose usernames on users.

So what I'm proposing here is to allow the possibility of configuring LDAP to work in a similar way to OAuth: provide a mechanism to authenticate users, without necessarily determining their username or other profile details.

Does that make sense?

[2020-10-20 15:13] jorueda commented on #19065
Hello, it seems that release 3.7.1 solves this problem.
[https://github.com/RocketChat/Rocket.Chat/releases/tag/3.7.1](url)

[2020-10-20 15:14] ankar84 commented on #19307
I did this -In Kibana from HAProxy logs get 400 response current time, and then checked RC logs in that time - nothing.
What can I do to debug that issue?

[2020-10-20 15:15] ankar84 commented on #19065
Yeap, I'm about to upgrade to 3.7.1

[2020-10-20 15:19] pierre-lehnen-rc commented on #15225
This seems to be working properly for custom OAuths, in what OAuth server are the roles not being synced?

[2020-10-20 15:31] OlafDammann commented on #19304
Sounds a bit like.
Is maybe deactivating the "merge roles"-option a way? what does it do?

[2020-10-20 15:32] OlafDammann commented on #17466
How come, that SUCH a critical issue is closed? This makes R.C unusable!

[2020-10-20 15:49] photoninger opened #19308 "one or more red notifications "invalid user" after logout"
### Description:

After clicking on logout when the login page is loaded, I get one or more red notifications on the upper right corner wiht "invalid user".

### Steps to reproduce:

1. rocket.chat web interface with browser (chrome, firefox, safari, does not matter)
2. login in
3. logout again
4. get one or more red notifications on the upper right corner wiht "invalid user [error-invalid-user]".

[2020-10-20 15:55] s7726 opened #19309 "Allow auto completing based on full names"
### Description:

Our organization has chosen to assign usernames at random, so it's nearly impossible to guess at someones `@` username.

Currently the only way to lookup a name is backing out of the chat you're in an going to the directory to search for it (which is also way too sensitive to capitalization etc.).

I would like to request the ability to auto complete second (potentially third) wo

[2020-10-20 16:20] sampaiodiego commented on #17100
yes you can, it is safe to remove them.

[2020-10-20 16:51] 88fingerslukee commented on #19300
Thanks! Snap hasn't updated to 3.6.3 yet so I'll wait.

[2020-10-20 17:11] dimmthewitted commented on #8324
How to remove an individual user?

LDAP integration documentation in Rocket Chat could really use some community support.

[2020-10-20 18:15] aradhya-gupta commented on #18388
I would like to work on this issue.

[2020-10-20 18:25] jjssman commented on #18855
Same problem. Any solution?

[2020-10-20 18:37] aradhya-gupta commented on #18387
I would like to work on this issue. @rodrigok

[2020-10-20 19:22] rodrigok commented on #18387
@aradhya-gupta that's great, your contribution is very welcome. 🎉

[2020-10-20 19:26] rodrigok commented on #18388
@aradhya-gupta I don't think it's the correct way to fix this. Need to understand why it's not persisting the choice first and solve this specific issue because default doesn't mean a specific option there, but the option selected in the user's preferences panel or at the admin area.

[2020-10-20 21:40] aradhya-gupta commented on #18388
Agreed! The value should persist.

[2020-10-21 00:09] #18477 closed

[2020-10-21 00:09] #18120 closed

[2020-10-21 00:09] #16611 closed

[2020-10-21 00:09] #14801 closed

[2020-10-21 00:09] #14799 closed

[2020-10-21 04:03] ankar84 commented on #17100
It wasn't so safe to remove that documents in that collection really.
[code]
And all RC instances felt in high load on CPU, RAM and Network
Only full restart of all 25 instances after collection clean was finished fixed that problem.
So, be careful!
![image](https://user-images.githubusercontent.com/4023037/96671746-3d8cd400-136b-11eb-8915-c7e97ae49ed4.png)

[2020-10-21 04:49] ankar84 commented on #19307
@pierre-lehnen-rc that issue is still reproducible on users who gets error or script deactivate.
Now I try to deactivate that users by scripts by manually launcing them with my personal admin token - and still 400 error.
First I thought maybe data for that accounts is too large for some reverse proxies on network path and cleared couple of large attributes like `keycloak` and `ldap` - no luck
Now

[2020-10-21 06:16] ankar84 commented on #19307
No

[2020-10-21 06:21] ankar84 commented on #19307
And here is a deactivate attempt in Admin UI
![image](https://user-images.githubusercontent.com/4023037/96680735-c2351d80-137e-11eb-9c63-21e76d88c5c2.png)

[2020-10-21 06:23] mynavierstokes opened #19311 "[feature: request] Organisation of channels into subgroups or folders"
It would be great to be able to organize channels into a hierarchical structure, e.g. subgroups or folders.

[2020-10-21 06:23] #19311 closed

[2020-10-21 06:26] ankar84 commented on #19307
I activate that user again in Admin UI and try to deactivate via REST API by powershell script again. And now all fine! I get true, and not 400 Bad Request.
I don't know how to fix that.
Maybe @sampaiodiego can clarify that?
Now I have about 100 problematic users like that, so I can try to fix in a various ways ;)

[2020-10-21 06:33] JakobFerdinand opened #19312 "BSONObjectTooLarge Error that causes mongo to restart after some hours"
### Description:

We have RocketChat and the mongo db in docker.
After starting the RocketChat service i get this error message in the mongo logs every minute one to two times.
`docker logs mongo`
[code]
After several ours the mongo service restarts itself but then Rocketchat doese not reconnect properly.
So in the client you can send a message but it is gray and never reaches the receiver.
(I wil

[2020-10-21 06:33] #19312 closed

[2020-10-21 06:40] JakobFerdinand opened #19313 "BSONObjectTooLarge Error that causes mongo to restart after some hours"
### Description:

We have RocketChat and the mongo db in docker.
After starting the RocketChat service i get this error message in the mongo logs every minute one to two times.
`docker logs mongo`
[code]
After several ours the mongo service restarts itself but then RocketChat does not reconnect properly.
So in the client you can send a message but it is gray and never reaches the receiver.
(I will

[2020-10-21 06:40] JakobFerdinand commented on #19312
created new with #19313

[2020-10-21 06:58] ankar84 commented on #19307
Confirmed that if I deactivate user in Admin UI then deactivate script via REST API start to work normally on another user.
How do Admin UI deactivate user? Not via REST API in fact?

[2020-10-21 07:10] ankar84 commented on #19307
Just deactivated in Admin UI another user and according mongodb document for that user changed only 2 fields: `"active"` and `"_updatedAt" ` which is really logical.
So, I'm almost 100% sure, that ussie itself not in user with it's attributes, but in all room, that user created and where he is only one owner.
In Admin UI I see this:
![image](https://user-images.githubusercontent.com/4023037/966851

[2020-10-21 07:25] antkaz commented on #19302
I checked # 18995 and it didn't fix this bug

[2020-10-21 08:05] JakobFerdinand commented on #19313
One thing I mentioned is that the `_id` changes every time I do a `docker-compose down` and `docker-compose up -d`.

[code]

[2020-10-21 09:51] GitHorst commented on #18644
This issue persists. Any confirmation, progress, etc.?
Tanks a lot and keep up the good work :)

[2020-10-21 10:08] EnCz commented on #17202
still a problem

[2020-10-21 10:09] EnCz commented on #17794
Can reproduce this issue

[2020-10-21 10:28] xbiafra commented on #19225
Same issue here  - 3.7.1

[2020-10-21 10:36] premdasvm commented on #7560
same issue i'm facing now, how did u fix it.?

[2020-10-21 11:42] tomcsi commented on #13999
Any update ?

[2020-10-21 12:25] LifeIsAParadox commented on #17929
we get this error too

[2020-10-21 12:37] GitHub-GLM opened #19315 "NOT a RocketChat BUG but a FEATURE REQUEST"
It would be really nice to include a STATUS schedule (I'm constantly forgetting to change status when I leave).  That way if I forget change my status from 'online' to 'away' I won't be thought of as being at work all night!
Thank you!

[2020-10-21 12:37] #19315 closed

[2020-10-21 12:57] pierre-lehnen-rc commented on #19307
If that was the cause you should get a 'user-last-owner' error, but I'll try to replicate the situation here.

[2020-10-21 13:40] cprice-kgi opened #19317 "ENOENT error message, user-data-downloads/cronProcessDownloads.js"
### Description:

These log messages keep appearing, and seem to be related to the user data download. We had this functionality turned on for a bit, and I think a few people may have actually attempted to use it. Eventually, we turned it off. Now, though, we still see this message repeating in the log file, which seems like the cron is trying to process a (stuck?) user data download operation ove

[2020-10-21 13:45] cprice-kgi commented on #19027
also experiencing this error in the logs with version 3.6.0.

[2020-10-21 13:51] DEREKMD1992 opened #19318 "LDAP added users from active directory can't login with their AD passwords"
**Description:**
After I add new user in Active Directory and do a sync in RC the new user is added in RC users list but cannot log in until I manually give him a password or the user reset it from the login page.

**Server Setup Information:**
Rocket.Chat Server: 3.6.2
Operating System: Linux
Node Version: v12.16.1

**Steps to Reproduce:**
1. Create a new user in AD
2. In Administration -> LDAP -

[2020-10-21 13:51] #19318 closed

[2020-10-21 13:56] MartinSchoeler commented on #18278
Could not reproduce in 3.7.0 If you still experience this issue please open a new issue with updated details. Thanks!

<img width="241" alt="Screen Shot 2020-10-21 at 10 55 45 AM" src="https://user-images.githubusercontent.com/20868078/96729990-1db9d800-138c-11eb-87cd-1ab8aa470111.png">

[2020-10-21 13:56] #18278 closed

[2020-10-21 14:11] DEREKMD1992 opened #19319 "LDAP added users from Active Directory can't login with their AD passwords"
### Description:

After I add new user in Active Directory and do a sync in RC the new user is added in RC users list but cannot log in until I manually give him a password or the user reset it from the login page.

### Steps to reproduce:

1. Create a new user in AD
2. In Administration -> LDAP -> Synchronization now
3. Try to log in using the new created user and fail to log in (until I reset pa

[2020-10-21 14:53] claures commented on #19065
Hello, I updated to 3.7.1 and used `USE_NATIVE_OPLOG=true` variable.
Unfortunately I still see the message in the logs and the instance crashes on a regular basis with the same error.

[2020-10-21 14:54] JakobFerdinand commented on #19313
I investigated further and found that the RocketChat serivce is **not required** to run.
I just started only the mongo service and i still get the same error.

[2020-10-21 15:15] DHCrafty commented on #19319
I had the same exact issue, I had to get rid of the default channel or change code in the function `addUserToDefaultChannels`

`Meteor.runAsUser(_id, function() {
    return Meteor.call('joinDefaultChannels', options.joinDefaultChannelsSilenced);
});`

[2020-10-21 15:26] ankar84 commented on #19319
Please update to 3.6.3 or 3.7.1 (better choice)
It fixed in that new versions

[2020-10-21 15:29] DHCrafty commented on #19319
It still didn't work in 3.7.1 without me disabling the default channel.

[2020-10-21 16:56] Sx3 commented on #18740
Same Issue here with snap version 3.6.2.

[2020-10-21 17:10] bkraul commented on #19271
@MartinSchoeler is there anything I could do to get this worked around or resolved? We would really be able to use the app with our newly purchased Zoom licenses.

[2020-10-21 18:03] #14798 closed

[2020-10-21 18:03] #14794 closed

[2020-10-21 18:03] #14789 closed

[2020-10-21 18:04] #14788 closed

[2020-10-21 18:04] #14786 closed

[2020-10-21 18:04] #14781 closed

[2020-10-21 18:04] #14773 closed

[2020-10-21 18:04] #14760 closed

[2020-10-21 18:04] #14771 closed

[2020-10-21 18:04] #14756 closed

[2020-10-21 18:04] #14751 closed

[2020-10-21 18:04] #14749 closed

[2020-10-21 18:49] anilcosar commented on #19284
This happening because of this request.
![sa](https://user-images.githubusercontent.com/22769628/96768855-ffcd9100-13e6-11eb-949b-01867dcb69b5.png)

After this request connecting bar appear then disappear. All users status offline then back to normal

[2020-10-21 19:00] moonwolf-github commented on #4554
Looks like in 3.5.3 it still doesn't work as it should.

[2020-10-21 21:00] sampaiodiego commented on #17100
@ankar84 oh, sry about that.. my thought was regarding breaking some functionality.. but have in mind that handling *any* big amount of data (removing, updating, inserting) will end up hammering rocket.chat servers with lots of oplog entries and that could cause that

[2020-10-22 00:09] #14748 closed

[2020-10-22 00:09] #14744 closed

[2020-10-22 02:08] ankar84 commented on #17100
Nevermind, Diego! I was asking currently about if removing that collection could cause some functionality problems, so your first answer is fully satisfied me.
But about high load of RC servers - I just will do such tasks on a weekends.

[2020-10-22 04:24] tienthanh2509 commented on #13999
Can workaround by modify CAS library directly and build rocketchat again

[code]

Demo site: https://chat.tdmu.edu.vn/

[2020-10-22 05:06] TitovIG opened #19345 "Update list of users in group/channel after delete users"
## My Setup

- Operating System: Windows 10
- App Version: last Web versions
- Installation type:

- [ y ] I have tested with the latest version
- [ y ] I can simulate the issue easily

## Description
1. Open group/channel
2. Open Members
3. Right esur name - 3 points, choose Delete fron channel
4. Take "Yes"

### Current Behavior
Members not removed. If update list, membel removed.

### Expected

[2020-10-22 05:26] ankar84 commented on #19307
Yes, please test it, it's really easy to replicate.
For now it is a bit security issue for us, because we deactivate users in RC in moment of disable user in LDAP (when user
resigns the Company). User should lost access to Rocket Chat in that moment.

[2020-10-22 05:29] DEREKMD1992 commented on #19319
to me it says that my snap "rocketchat-server" has no updates available

[2020-10-22 05:30] TimmiORG commented on #18740
This is fixed from 3.6.3 and 3.7.0

[2020-10-22 05:32] DEREKMD1992 commented on #19319
I have to change this in packages/rocketchat-ldap/server/sync.js ?

[2020-10-22 05:36] ankar84 commented on #19307
Just tested that bug in a pure docker image of version 3.7.1 in test environment
![image](https://user-images.githubusercontent.com/4023037/96829115-90d15600-1441-11eb-9a7d-281d1dcbf2c0.png)
`Удаленный сервер возвратил ошибку: (400) Недопустимый запрос.`

[2020-10-22 06:03] ankar84 commented on #19307
I think issue could be here in these two lines
https://github.com/RocketChat/Rocket.Chat/blob/287d1dcb376a4613c9c2d6f5b9c22f3699891d2e/app/api/server/v1/users.js#L471-L472

[2020-10-22 06:03] #19054 closed

[2020-10-22 06:46] ankar84 commented on #19307
Full solution for me https://forums.rocket.chat/t/ldap-auth-disabled-ad-users/1715/14
But I think, that if `users.update` have ability to deactivate user it should bi fixed.
Or it should be 2 separate functions (endpoints) - so, deactivate function must be removed from `users.update` in that case.

[2020-10-22 07:23] nadjaheitmann commented on #12148
Hi, I am still experiencing the same issue.
Platform: Linux (x64)
Electron: 7.2.4
I am using RocketChat inside Rambox (Version 0.7.7).

![Screenshot from 2020-10-22 09-17-57](https://user-images.githubusercontent.com/71487468/96838009-92058180-1447-11eb-8225-e8f32b4b5de8.png)

[2020-10-22 07:33] TitovIG opened #19323 "Update list of users in group/channel after delete users"
### Description:

### Steps to reproduce:

1. Description
2. Open group/channel
3. Open Members
4. Right esur name - 3 points, choose Delete fron channel
5. Take "Yes"

### Expected behavior:
The list is automatically updated and the member is removed

### Actual behavior:

Members not removed. If update list, membel removed.

### Server Setup Information:

- Version of Rocket.Chat Server: actual

[2020-10-22 07:53] semack commented on #19058
@pierre-lehnen-rc could you tell please, any progress on this issue? It's a blocker for many users who use LDAP to update RC to the latest version. :(

[2020-10-22 07:56] ankar84 commented on #19269
Now I'm testing Retention Policy functionality at 3.7.1 test environment and I see, that work pretty like I wanted with this settings:
![image](https://user-images.githubusercontent.com/4023037/96839661-2674e180-1452-11eb-9d60-6c5aefcb3701.png)
That settings was advised by @bseclier and they seem to work as I want.
Here is a channel with Discussion created 19 of October
![image](https://user-image

[2020-10-22 08:00] Bestoloch commented on #19259
@ankar84 I think there are same configuration but my customFields is empty :(
* LDAP map:
{"cn":"name","mail":"email","OfficePhone":"customFields.OfficePhone","Department":"customFields.Department","Title":"customFields.Title"}

* Accounts custom fileds:
[[{"OfficePhone": "#{OfficePhone}"}, {"Department": "#{Department}"}, {"Title": "#{Title}"}]

* Accounts registration custom fields:
{
  "OfficeP

[2020-10-22 08:06] SARVESHKHANDELWAL opened #19324 "Logo of Rocket.chat is not visible in community section of readme.md."
### Description:
**In Readme.md file there is bug in Community Section as the image of Rocket.chat Log is not coming there.**

[2020-10-22 08:06] #19324 closed

[2020-10-22 08:07] ankar84 commented on #19259
Do you have `cn, mail, OfficePhone, Department, Title` in attributes of your LDAP accounts?

[2020-10-22 08:08] wolfcreative opened #19325 "How do I get a sponsorship award?"
# Description:

I donated 5$ and would like to get 10K messages for my server. What do I need to do?

### Steps to reproduce:

-

### Expected behavior:

Plus 10k to the server limit

### Actual behavior:

Nothing

### Server Setup Information:

- Version of Rocket.Chat Server: 3.7.0
- Operating System: Ubuntu 20.04.1
- Deployment Method: tar
- Number of Running Instances: 1
- NodeJS Version: 12.1

[2020-10-22 08:14] aradhya-gupta commented on #18388
I've been working on this issue. I have some questions:

1) Does changing the values from the User's preferences panel changes/sets the default values or does it change/update the preferences for each channel( which seems to be happening currently)?

2) What happens in a case when we are the user and the admin sets the default as suppose "All Messages" and we set it to "Mentions" in our preference

[2020-10-22 08:20] SARVESHKHANDELWAL opened #19326 "Logo of Rocket.chat is not visible in community section of readme.md."
### Description:
**In Readme.md file there is bug in Community Section as the image of Rocket.chat Log is not coming there.**

### Steps to reproduce:

1. Go to Readme.md
2. Go to Community Section.
3. Badges of #dev and #support.

### Expected behavior:
Image in badge of #support and #dev should be visible.

### Actual behavior:

##Supported Screenshot
<img width="932" alt="3" src="https://user-i

[2020-10-22 08:20] #19326 closed

[2020-10-22 08:42] frdmn commented on #18469
A temporary workaround for now is to delete the incorrect subscriptions manually within Mongo:

### Scenario/environment

- Old username: `old.username`
- New username: `new.username`
- User changed name on LDAP backend (adjusted `sAMAccountName` attribute in AD)

### Fix

[code]

After that, please make sure to also clear cache of the affected clients so the local sidebar is rebuilt according to

[2020-10-22 08:45] aradhya-gupta commented on #1775
I would like to work on this issue.

[2020-10-22 08:56] karcsika-dev commented on #9477
Still there on 3.7.1

[2020-10-22 09:01] deucalion opened #19327 "Change sort order for better first choice in emoji auto-complete listing"
### Description:

Change the sort order of the emoji auto-complete list, to allow for a better user experience with the first-in-list suggested auto-complete choice. Currently the list of emojis is sorted strictly alphabetical, sometimes resulting counter-intuitive first choices.

### Steps to reproduce:

1. Open a chat.
2. Type in `:smil` and wait for the auto-complete pop-up.
3. Look at the emoj

[2020-10-22 09:01] RavuAlHemio opened #19328 "weight emojis so that initially suggested emojis are not too personal/awkward or negative"
### Description:

Typing a colon (`:`) in the _Message_ input box shows an autocomplete list of emoji. This is currently sorted alphabetically, which sometimes places more personal emoji (e.g. `:smil` orders `:kissing_smiling_eyes:` before `:smile:`) or negative emoji (e.g. `:thumb` orders `:thumbsdown:` before `:thumbsup:`) in a more prominent position than more commonly intended emoji.

This is

[2020-10-22 09:03] ikervagyok opened #19329 "Recommended smileys are inappropriate"
### Description:

I use smileys regularly, but a simple typo leads to the default kissing smileys by default which is bad in a workplace.

See also https://github.com/RocketChat/Rocket.Chat/issues/19105

### Steps to reproduce:

1. type `:`
2. see recommendation:
    a. `kissing_mm`
    b. `kissingcouple_mm`
3. try not to harass your coworkers while typing fast and concentrate way to much on this.

[2020-10-22 09:06] ikervagyok commented on #19329
superseded by https://github.com/RocketChat/Rocket.Chat/issues/19328

[2020-10-22 09:06] #19329 closed

[2020-10-22 09:07] Bestoloch commented on #19259
Yes, shure. "Mail" is ok for example

[2020-10-22 09:12] RosemaryOrchard commented on #19328
The Unicode Consortium has a default ordering of Emoji: https://unicode.org/emoji/charts-12.0/emoji-ordering.html

[2020-10-22 09:12] deucalion commented on #19327
Closed, in deference to #19328 🙈

[2020-10-22 09:12] #19327 closed

[2020-10-22 09:17] ankar84 commented on #19259
In that case you should see that value in email field of RC user.
Most important thing in filling RC users custom fields from LDAP users is `LDAP map`, so double check it.

[2020-10-22 09:23] antkaz opened #19330 "Removing a closed omnichannel chat doesn't delete uploads"
### Description:

Removing a closed omnichannel chat will delete data from next collections:
- messages
- subscriptions
- inquiry
- room

But if the visitor has uploaded files, they will not be deleted after the closed room is deleted. Upload data will remain in the collection, and the files will be stored on the server.

### Steps to reproduce:

1. Create livechat
2. Upload file
3. Close chat
4.

[2020-10-22 11:56] ankar84 commented on #16851
The problem is that some RC code issues leads to DDP Rate Limiter fire up.
Here is an good example https://github.com/RocketChat/Rocket.Chat/issues/19007
Just open Federation Dashboard in Admin UI and get a lot of DDP Rate limiter events.

[2020-10-22 12:04] #17914 closed

[2020-10-22 13:18] SARVESHKHANDELWAL opened #19332 "Logo of Rocket.chat is not visible in community section of readme.md on badges."
### Description:
**In Readme.md file there is bug in Community Section as the image/logo of Rocket.chat  is not coming there.**

### Steps to reproduce:

1.  Readme.md File.
2. Go to community Section.
3. Image on Badges of #dev and #support is not visible.

### Expected behavior:
Logo on the badges  should be there instead of no logo.

### Actual behavior:
Logo of Rocket.chat should be their on t

[2020-10-22 13:58] amit1rana opened #19333 "Add button to sidebar for Plugin"
#19147 : related to

**Steps to reproduce:**
Don't exist as a new feature is being requested (if it doesn't exist)

**Expected behavior:**
New button in sidebar
![image](https://user-images.githubusercontent.com/73296157/96882189-5a1a3080-147f-11eb-9c7d-5ecc3ca38287.png)

**Actual behavior:**
Don't exist as a new feature is being requested (if it doesn't exist)

**Server Setup Information:**
Versi

[2020-10-22 13:58] JohnLukeP commented on #16594
Hi, are tthere any updates on this? Problem is still present on Rocketchat 3.6.1

[2020-10-22 14:00] JohnLukeP opened #19334 "Can't send Apple keynote files through the Upload File feature (still present on 3.6.1)"
Hi,

referencing to the issue:

https://github.com/RocketChat/Rocket.Chat/issues/16594

that was automatically closed, are there any updates on this? Is it gonna be fixed? This is still a bug as of version 3.6.1.

Thanks

[2020-10-22 14:00] #19334 closed

[2020-10-22 14:18] JohnLukeP opened #19335 "Can't send Apple keynote files through the Upload File feature (still present on 3.6.1)"
# #
### Description:
##

When trying to upload a apple keynote file (.key), even though in the allowed file section this format is allowed (application/vnd.apple.keynote) The file can't be uploaded

### Steps to reproduce:

1.  add the filetype application/vnd.apple.keynote to the allowed media types for upload if not already present
2.  upload an apple keynote file with extension .key on rocketch

[2020-10-22 14:18] #19325 closed

[2020-10-22 15:04] NicolasDionB commented on #17834
I experience it a lot and it's a pain! Maybe I'll switch back to an older version, it's really frustrating. Everytime I swtich conversation, the scroll goes back up to an older message, I then have to scroll all the way down to see the new message. I don't understand that there doesn't seem to be a lot of people experiencing that. It's a major thing.

[2020-10-22 15:27] jacotec commented on #19084
In practical use and after some feedbacks from many iPhone users in an environment where many voice messages are used, this issue should not be treated as an optical only issue.

Apart from the inability to use the scrubber to jump back into a certain place in a longer voice message after interruption (i.e. incoming call during playback), the missing length often drives the voice player crazy.

Th

[2020-10-22 15:48] medelmourabite commented on #18662
+1

[2020-10-22 15:51] pierre-lehnen-rc commented on #18648
Closed by #18649

[2020-10-22 15:51] #18648 closed

[2020-10-22 15:52] bizzbyster opened #19336 "Click to Join button does not work if a user joins late"
### Description:
![image](https://user-images.githubusercontent.com/4001792/96897397-8c666680-145c-11eb-8d1b-0b5dc3bc9fe3.png)
If I join a discussion room after another user has joined and started a Jitsi video conference, and I then click the blue "Click to Join" button, I am unable to join the video conference until I type some text in the discussion room. The telephone icon in the upper right d

[2020-10-22 15:52] #19336 closed

[2020-10-22 16:46] MartinSchoeler commented on #18398
Hello can you open a new issue for this problem, might not be related at all, also be sure to upgrade to 3.8.0 when is out, we did some improvements on the avatar providers. Thanks!

[2020-10-22 16:59] yasirrose commented on #19293
+1

I am facing the same issue using 3.7.1 release.

[2020-10-22 17:00] MartinSchoeler commented on #18398
@Endareth Could you test with version 3.7.0+ Also do you get any errors on the server console? Thanks!

[2020-10-22 17:25] #9327 closed

[2020-10-22 17:25] #8728 closed

[2020-10-22 17:28] pierre-lehnen-rc commented on #14068
It was fixed on 3.6.3 by #18994

[2020-10-22 17:28] #14068 closed

[2020-10-22 17:46] cprice-kgi commented on #18785
Even with this change integrated, I'm still seeing the issue in 3.6.0 when trying to change channel avatars. However, the good news is I think I have a fix. The bad news is I've never done a PR to contribute before, so I'll give it a shot.

[2020-10-22 18:03] #18538 closed

[2020-10-22 19:49] cprice-kgi commented on #19295
integrating this should resolve your issue:
https://github.com/RocketChat/Rocket.Chat/pull/18841

[2020-10-22 19:52] cprice-kgi commented on #19066
i've uploaded a PR today that should resolve this for you:
https://github.com/RocketChat/Rocket.Chat/pull/19340

[2020-10-22 19:53] cprice-kgi commented on #18894
i've uploaded a PR today that should resolve this issue:
https://github.com/RocketChat/Rocket.Chat/pull/19340

[2020-10-23 00:09] #18089 closed

[2020-10-23 03:28] rocknr011 commented on #8324
You can remove an individual user directly from the admin panel. This is the safer way.

[2020-10-23 05:57] niklasgrewe commented on #17748
I have the same problem on a fresh docker compose installation with one user and one incoming webhook. Idk why i get the error so often...

[2020-10-23 06:27] niklasgrewe commented on #4434
I am using a linux bash script to send messages to rocket.chat. but i nothing worked for me to display break lines, instead of sending a second message. I tried this

[code]
and i will get this from server
[code]

[2020-10-23 07:45] pierreozoux commented on #9231
You can already do it, go to /admin/Accounts and check annonomous read/write.

[2020-10-23 07:46] ghost opened #19343 "Custom Emoji can be empty"
### Description:

When creating an custom emoji, only the name field is required. Not the emoji itself

### Steps to reproduce:

1. Set name for new emoji
2. save

### Expected behavior:

Maybe disallow empty emojis?
![image](https://user-images.githubusercontent.com/67187266/96970792-7c11c280-1514-11eb-9ae4-3c8b6de75406.png)

### Actual behavior:

![image](https://user-images.githubusercontent.co

[2020-10-23 07:50] pierreozoux commented on #19308
I also get this error on 3.6.x, with the anonymous read/write feature enabled.

[2020-10-23 07:54] ankar84 opened #19344 "[BUG] Non-latin search issues"
### Description:

There is a couple bugs in **Admin UI - Rooms** search (maybe in some other place too, but now I'm talking about Rooms) with non-Latin search query (Cyrillic in my case).

### Steps to reproduce:

1. Enable **UTF8 Names Validation** on **Admin UI - General**
2. Enable **Allow Special Characters in Room Names** on **Admin UI - Layout - User Interface**
3. Create channel and private

[2020-10-23 08:14] TheReal1604 commented on #4574
@MartinSchoeler @rodrigok @horstepipe We also had problems clearing old push tokens from the database. This seems to affect every version of Rocket.Chat. In regards to the hard limits on the push gateway, this is possibly a critical bug.

I resolved the issue manually, removing the old entries from the collection... based on timestamp.

[2020-10-23 09:08] geekgonecrazy commented on #4574
Failed pushes aren’t counted at push gateway towards total.

Regarding the tokens there might be a way to clear via the api

[2020-10-23 09:43] #19345 closed

[2020-10-23 09:45] tassoevan commented on #19345
@TitovIG Please update the issue description as requested by **close-issue-app**, following our [template](https://raw.githubusercontent.com/RocketChat/Rocket.Chat/develop/.github/ISSUE_TEMPLATE/bug_report.md), and reopen the issue.

[2020-10-23 10:33] AlessandroFavretto commented on #17184
I Just trying to configure a federated environment and i have same problem on TXT record. I just put:

rocketchat-public-key.chat.dominio01.com       -----BEGIN PUBLIC KEY-----XXX-----END PUBLIC KEY-----

I'm using BIND 9.11.4-P2-RedHat-9.11.4-16.P2.el7_8.6 and i replaced original key with XXX

Just for information, my SRV record has been created like:
_rocketchat._http IN SRV 1 1 80 chat.dominio0

[2020-10-23 11:38] oyxnaut opened #19346 "Messages leak to syslog"
### Description:

Sometimes, single messages, whole threads, or DMs end up in the syslog.

### Steps to reproduce:

I'm not sure how to reproduce this. Some messages end up logged, others don't, and I was unable to provoke logging.
The only thing all the leaked messages have in common is
[code]

### Expected behavior:

Messages aren't logged.

### Actual behavior:

Some messages end up in syslog.

[2020-10-23 13:53] kokotko1337 commented on #19245
I20201023-15:52:42.369(2) API ➔ debug Success {   statusCode: 200,   body: {     message: '{"msg":"result","id":"1251","error":{"isClientSafe":true,"error":"could-not-access-webdav","reason":{"method":"addWebdavAccount"},"message":"[object Object] [could-not-access-webdav]","errorType":"Meteor.Error"}}',     success: true   } }

this is in RC log when Im trying to add it ...

[2020-10-23 15:29] Vringe opened #19347 "Set user status for a given duration"
I regularly observe that I and also my colleagues set their status to "busy", "away" or "offline" and then forget to set it back to "online".

As already suggested by @marcus-no in https://github.com/RocketChat/Rocket.Chat/issues/2422#issuecomment-454668328, it would be great to have a such command.

`/away <optional time in minutes, remove away status when passed> <optional away message>`

Maybe

[2020-10-23 15:29] #19347 closed

[2020-10-23 16:12] ankar84 commented on #19344
**Admin UI - Permissions - owner - USERS IN ROLE - Choose a room** same issue
![image](https://user-images.githubusercontent.com/4023037/97027465-72fc1200-1563-11eb-9621-2b104abf7cd2.png)
But **Add User** - works perfect with Cyrillic letters
![image](https://user-images.githubusercontent.com/4023037/97027619-a8086480-1563-11eb-8007-e2e5b69bc86d.png)

[2020-10-23 16:48] dougfabris commented on #18742
@sviat9440 Your issue was missing some Server Setup Information, because of that the bot was closing the issue. I'm checking this error and I'll reply as soon as possible.

[2020-10-23 18:44] MartinSchoeler commented on #19268
@nooblag does the message that start the thread have anything in special? Since I'm not being able to reproduce this even using slack imports.

[2020-10-23 19:22] aforsythe commented on #18391
This work around *sorta* works ... on the first login attempt the user is kicked back to the login window as they always have been.  On the second, and subsequent attempts they can get in.  Obviously this is still a bug.

[2020-10-23 19:23] real-or-random commented on #16129
Another bug I can observe is that `\\( tex \\)` works but `\( tex \)` does not work. I think it's supposed to be the other way around. I believe this could be related to this bug because some processing is applied in the wrong order...

[2020-10-23 19:48] ramrami commented on #13380
@ankar84 Could you please share the size of you DB cluster ? Thanks

[2020-10-23 20:33] nooblag commented on #19268
Hi there, do you mean special characters? If so, that's a good question.

Going back to the very top/start of the channel, in the very first thread, there are asterisks (*) and left and right single quotes (‘’) used in the first message; a `:slight_smile:` emoticon; and a HTTP link. Nothing else other than that. The reply in that thread (which is the only reply) contains a HTTPS link.

The second

[2020-10-23 20:45] himpierre commented on #19346
This actually seems to be a mongodb issue. Per default mongodb is logging all slow queries.

[2020-10-23 21:27] #19262 closed

[2020-10-23 21:36] #18330 closed

[2020-10-23 21:36] #19058 closed

[2020-10-23 21:42] #18435 closed

[2020-10-23 22:12] #19260 closed

[2020-10-23 22:13] #18662 closed

[2020-10-23 22:13] #18782 closed

[2020-10-23 22:13] #19027 closed

[2020-10-24 00:11] jsalatiel commented on #18270
up

[2020-10-24 01:55] ankar84 commented on #13380
We have 2 db servers and one arbiter.
Storage engine is wiredTiger
CPU 8 cores
Ram 8 or 16 Gb (don't remember currently, can take a look on monday)

[2020-10-24 06:04] #14727 closed

[2020-10-24 06:04] #14726 closed

[2020-10-24 06:04] #14721 closed

[2020-10-24 06:04] #14725 closed

[2020-10-24 06:04] #14707 closed

[2020-10-24 06:04] #14703 closed

[2020-10-24 06:04] #14689 closed

[2020-10-24 06:04] #14673 closed

[2020-10-24 06:04] #14678 closed

[2020-10-24 06:04] #14667 closed

[2020-10-24 06:04] #14663 closed

[2020-10-24 06:04] #14652 closed

[2020-10-24 06:04] #14658 closed

[2020-10-24 08:11] geekgonecrazy commented on #19271
Can you grab server logs when you try to do this?

[2020-10-24 08:19] geekgonecrazy commented on #19346
Yes this is a mongo thing.  Try this out: https://docs.mongodb.com/manual/reference/configuration-options/#security.redactClientLogData

[2020-10-24 10:39] bkraul commented on #19271
Well that's the thing, there aren't any. Not at the server level, not at the client developer console level, either, unless I need to run on some kind of debug mode.

[2020-10-24 10:58] kms1982 opened #19353 "Rocket Chat API doesnt Work"
Hello,

we using PRTG-Networkmonitor for monitoring our systems. So i want to send warnings to our Rocket.chat from Monitoring over API.
I use Post and then the Curl
curl -H "X-Auth-Token: XXXX" \
     -H "X-User-Id: XXXX" \
     -H "Content-type:application/json" \
     http://myserver_IP_from Rocketchat:3000/api/v1/chat.postMessage \
     -d '{ "channel": "#general", "text": "This is a test!" }'

[2020-10-24 10:58] #19353 closed

[2020-10-24 11:12] kms1982 opened #19354 "API from Rocket.chat does not funktion"
### Description:

http://our_server_ip:3000/api/v1/

{"status":"error","message":"API endpoint does not exist"}

I have acitivatet CORSE in the Rocketchat REST-API settings

but it doesnt work.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

![image](https://user-images.githubusercontent.com/73387394/97080167-bdc86900-15f9-11eb-8cba-e4606d8dad60.png)

### Server S

[2020-10-24 12:04] #14670 closed

[2020-10-24 12:04] #14650 closed

[2020-10-24 12:04] #14642 closed

[2020-10-24 14:59] ramrami commented on #13380
@ankar84 Thank you

[2020-10-24 16:29] DrLou opened #19355 "Rocket.Chat client cannot connect on Ubuntu 20.10 to server..."
No valid server found at the URL.

Our server address is http://192.168.42.78:3000

other data:
This is a local test server only - for the time being - so it has not been https-secured.
server pings - not a network issue
in fact, connection from browser to same server : AOK.
significant?: Have just updated Ubuntu to 20.10 - from 20.04
rocketchat-desktop has been removed and re-installed...

[2020-10-24 16:29] #19355 closed

[2020-10-24 21:58] shamar112 opened #19356 "live chat agent chat reply not showing in live widget"
live chat agent chat reply not showing in live widget. the agent can see visitor messages but the visitor cannot see agent messages when sent in live chat

[2020-10-24 22:37] zagura opened #19357 "Users logged with CustomOAuth cannot login when username and name are different"
### Description:

I have RocketChat deployed, where users' name field is set to their real names. After update to newest version (3.7.1), they are unable to login and getting message "User with username <username> already exists". Unfortunately, update was from 1.0.3 and there there was no problem.
It turns out, that user can be passed only if fileds: `name` and `services.<OAuthName>.name` are the

[2020-10-25 00:52] #19139 closed

[2020-10-25 01:00] #18157 closed

[2020-10-25 01:00] #18654 closed

[2020-10-25 01:00] #18655 closed

[2020-10-25 09:48] samrae7 commented on #19328
I'd like to have a go at this

[2020-10-25 23:30] vishur98 commented on #4432
Hey @Meloman-zz, thanks for the help but I am using rocket chat with docker now. Could you please help me with the same in docker? as my primary disk is full & I am adding a new one for media storage.

[2020-10-26 02:59] ankar84 commented on #19269
Now I have very interesting statistics in 3.7.1
![image](https://user-images.githubusercontent.com/4023037/97129618-6852a000-1750-11eb-909f-a4a925915703.png)

[2020-10-26 04:31] feliqueres commented on #19343
Hey!
Can you assign me this issue?

[2020-10-26 08:22] NishantChandla commented on #11213
Can i work on this issue?

[2020-10-26 10:21] ankar84 commented on #18939
@pierre-lehnen-rc @sampaiodiego please add **security** tag to that issue

[2020-10-26 10:48] jthomae1 commented on #18270
The issue still exists in RC Version 3.7.1

[2020-10-26 11:43] gioppoluca opened #19362 "chatbot not able to answer to livechat"
# Description:
I have a RASA bot and configured following the documentation.
It works on the #general channel
If I try to use it in the omnichannel-livechat it is not invoked.
It seems that the outer webhook do not listen to queues created with livechat.
I've tryed to configure to listen to all public channel, to all DM with no luck.
Any hints on what to configure because in the rasa logs it is no

[2020-10-26 13:27] harryshepard opened #19365 "I can no longer paste screenshots into chat"
I'm on Windows so I'm not sure if the issue is /tmp rather than the Windows\Temp directory but I get the following error

ENOENT: no such file or directory, open '/tmp/ufs/JFRsE26Yay3wsxasS'

[2020-10-26 13:27] #19365 closed

[2020-10-26 14:09] oyxnaut commented on #19346
Thank you, but unfortunately that's only available for mongo enterprise customers.

If I can figure out what's causing the slow queries, I'll add another comment to this issue, sharing my solution.
In any case, I think it's fair to say it's not an issue with rocket.chat per so, so I'll close this issue.

[2020-10-26 14:09] #19346 closed

[2020-10-26 14:46] alexherdt opened #19367 "No translation of Live-Chat widget using a snap-installation"
### Description:

### Steps to reproduce:

1. Install latest version of Rocket Chat from [https://snapcraft.io/rocketchat-server]
2. Choose another language (in my case german).
3. Apply Live-Chat Widget on a Website.
4. Language of Live-Chat widget ist not translated (still english).

### Expected behavior:

The Live-Chat Widget should also be translated into the chosen system language.

### Actu

[2020-10-26 18:18] michaelalemu commented on #12301
+1
I had the same issue, took me some time to figure out the problem. I accidentally enabled it but without URL resulting in not being able login anymore. This prevented me to revert the setting. I had to dig through mongodb > rocketchat_settings > Accounts_iframe_enabled and set the value to false, then reboot.

[2020-10-26 18:35] phlbrz commented on #18398
Hello @MartinSchoeler , @ggazzo reopened https://github.com/RocketChat/Rocket.Chat/issues/17819, I'm ok with the description, also linked both issues. Thank you!

[2020-10-26 18:53] MartinSchoeler commented on #18657
@pbenkoe can you test again with the 3.7.0 or higher version? We did some heavy work on the avatar displays lately and this issue could be fixed. Thanks!

[2020-10-26 19:08] MartinSchoeler commented on #18620
Yep confirmed on latest Develop branch

[2020-10-26 19:20] #14497 closed

[2020-10-26 19:21] MartinSchoeler commented on #14497
Should be fixed by #14717 if you experience this again, please open an issue with updated details. Thanks!

[2020-10-26 19:49] Jan-NiklasB commented on #11877
I'm expiriencing the same issue, added the domain to the list, but still it doesn't seems to work

[2020-10-26 22:33] tiagoevanp opened #19369 "Broken links in "Search Messages""
### Description:

The link in "Search Messages" open to a 404 page.
The URL is opened with \<mark\> tags.

### Steps to reproduce:

1. Click in lookup icon to open "Search Messages" box in chat.
2. Find some link in chat.
3. Click to open the highlighted link.

### Expected behavior:

Link opens correctly.

### Actual behavior:

Link opens a 404 page.

### Server Setup Information:

- Version of R

[2020-10-26 23:15] ykavalenka opened #19370 "[future] Calling reminder"
We launched the application for the test and cannot found one very irreplaceable thing for us - call scheduling. As in the "famous" application.
There are calls, there are videos, but no reminders. Will be comfortable. Moreover, with a notification in N time.

[2020-10-26 23:15] #19370 closed

[2020-10-27 01:38] DrLou opened #19371 "Cannot login to RocketChat local server with any (non-web) client"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: 1.3.2

OS Type: linux
platform/arch: arm
OS Release: 5.4.72-v7+
Node version: v8.11.4
Mongo Version: 3.2.15
Mongo Storage Engine: mmapv1

### Client Setup Information

- Desktop App or Browser Version: App version 3.0.3
- Operating Syste

[2020-10-27 02:13] bkraul opened #19372 "Self DM contact not showing online after New Sidebar Layout"
### Description:

After the new Sidebar Layout change done with 3.8.0-develop (commit edda351), the status for self on the DM list does not reflect the status on the top bar or the DM channel.

### Steps to reproduce:

1. Update to 3.8.0-develop (commit edda351)
2. Make sure your own name shows up on the list of DMs by searching for it.

### Expected behavior:

The DM self contact should reflect t

[2020-10-27 03:09] cmdares opened #19373 "Need to support Minio distributed storage engine"

[2020-10-27 03:09] #19373 closed

[2020-10-27 03:16] cmdares opened #19374 "integration with RASA 2.x"
Hope to upgrade and integration with  RASA 2.x Chatbot platform.
https://github.com/RasaHQ/rasa/releases
thanks.

[2020-10-27 03:16] #19374 closed

[2020-10-27 04:22] ankar84 commented on #19056
Upper layer above any video conferencing system (Jitsi and BBB for now) is right way to evaluate.
But now both systems so deferent in possibilities, so it could be not do easy.
So, first step would be like @djorkaeffalexandre noted is just common for all clients URL generation routine.

[2020-10-27 08:03] ankar84 commented on #19372
Confirm that issue https://open.rocket.chat/channel/support/thread/yzyn9rWHpb2xFc7Ao

[2020-10-27 09:08] zsoltduzmath opened #19375 "Unread thread notification at left side"
Please put a notification at the left side above the discussions about unread threads. It would be useful to check only one side of the window for unread messages. (slack does so) Thank you, we like your product, carry on.

[2020-10-27 09:09] #19375 closed

[2020-10-27 10:07] #4385 closed

[2020-10-27 10:07] #4946 closed

[2020-10-27 11:14] bringmetheaugust opened #19376 "cannot set "default-url-scheme-handler" setting to invalid value "rocketchat""
### Description:

App crashed during the opening.

### Steps to reproduce:

Open the app by terminal using `rocketchat-desktop` command.

### Actual behavior:

![Screenshot from 2020-10-27 13-00-14](https://user-images.githubusercontent.com/40362626/97293404-4b53c500-1855-11eb-960f-0189b10ecdea.png)

### Client Setup Information

- Desktop App: **3.0.1**
- Operating System: **Ubuntu 20.04.1 LTS**

[2020-10-27 11:14] #19376 closed

[2020-10-27 11:24] ankar84 opened #19377 "[Bug] Show unread threads filter issue"
### Description:

Unread filter in Threads could not show really unread threads

### Steps to reproduce:

1. Threads in some chat
2. Set filter to **Unread**
3. Get an unread message in chat
4. Get no unread in that filter

### Expected behavior:

Unread filter shows only unread threads

### Actual behavior:

![image](https://user-images.githubusercontent.com/4023037/97294595-3ed46a00-185f-11eb-86

[2020-10-27 11:33] ankar84 opened #19378 "[Improve] Focus should be in search fields or in input text box of modal windows"
### Description:

After user go to Directory now focus is not on search field and one more move is necessary.
In general - if any new window appeared with search field or new modal window with input text box - focus should be there

### Steps to reproduce:

1. Go to Directory
2. Start type search query
3. Nothing happens because focus is not in search field

### Expected behavior:

Focus should be

[2020-10-27 11:53] jthomae1 commented on #11914
I can only repeat my comment from 1. October 2018:

No email was send. Even not after a couple of hours. On three different servers!
In between I testet it with a lot of earlier versions. The export never worked.

Server Setup Information:

Version of Rocket.Chat Server: 3.7.1
Operating System: Ubuntu 16.04.7 LTS
Number of Running Instances: 1 (4 and 18 on 2 other servers)
NodeJS Version: v12.18.4

[2020-10-27 12:31] baz1414 commented on #6609
I can't stress how much I want this feature. I'm getting close to moving off of the platform in favour of something else and I really don't want to :(

[2020-10-27 12:40] tassoevan commented on #18165
Closing in favor of https://github.com/RocketChat/Rocket.Chat.Livechat/issues/403

[2020-10-27 12:40] #18165 closed

[2020-10-27 14:20] wolfcreative commented on #19378
Do the same, but only for the description field when a person uploads (for example) an image

![image](https://user-images.githubusercontent.com/29209797/97314267-558fb680-1889-11eb-88e0-85bd5d1bbc89.png)

[2020-10-27 15:18] hugopeixoto commented on #19007
I upgraded from 2.4.11 to 3.6.3 and have the same problem.

After taking a look at the code, and knowing that the error occurs in calls to `federation:getOverviewData` and `federation:getServers`, I think that the problem may be in `client/contexts/ServerContext.ts:usePolledMethodData`, as this function is only used for these two calls.

I don't have a local build that I can test this on, but coul

[2020-10-27 16:24] gabriellsh commented on #19084
Hi @jacotec, this is due to the encoding of the mobile app (aac). Due to being a streamed audio format, it does not contain any header information about time duration, so duration is calculated from the file size, which, as proven by your issue, can be inaccurate.

https://stackoverflow.com/questions/47960743/html-audio-object-reporting-wrong-file-duration

I'll be moving this too the reactnative

[2020-10-27 17:41] #19372 closed

[2020-10-27 18:09] ricknjacky commented on #19378
hey @ankar84 , I want to contribute to this issue, however the /components folders doesn't exist on the version of the repository I have cloned

I am new to the codebase, can you tell me where did i commit mistake

ps:- the screenshot with valid proof here,
![Screenshot (247)](https://user-images.githubusercontent.com/50985033/97343264-4884be80-18ad-11eb-8947-cd454459fce0.png)

and i cloned using

[2020-10-27 18:13] gitthedonkey commented on #14502
Any progress on setting this up in RChat under Administrator Settings?  Do I need "encoder server" snipit posted above?

I have obs streaming to Youtube studio.  Have the stream key.
I also registered youtube api and have client ID, secret, and api key.

Tried variety of settings in Administrator-->Livestreaming/Broadcast.

I cannot broadcast stream.

When I select broadcast in web rchat, a popup

[2020-10-27 18:49] robertfromont commented on #19296
I've been investigating the code, and have discovered that I can get almost all the way to what I need without changing anything.

It turns out that the *LDAP_Username_Field* setting (LDAP|Sync/Import|"Username Field") is what links the RC username to the LDAP username.  By default this is set to `sAMAccountName`, but if it's blanked out, then the RC username is not synced to the LDAP one (the fir

[2020-10-27 23:54] pbenkoe commented on #18657
hey @MartinSchoeler, i ended up deleting this rocket.chat instance and setting up a new one, there was no other way to fix this issue. I changed my avatar sync behavior now, unfortunately there is no way to test this now, sorry - thank you for getting back to me though!

[2020-10-28 00:14] hugopeixoto commented on #19007
After some local debugging, I think I found the issue. I opened a PR with the fix: #19386

[2020-10-28 05:07] ankar84 commented on #19269
More impressive screenshot
![image](https://user-images.githubusercontent.com/4023037/97394807-94a72180-18f4-11eb-8442-e2c63bfdaa59.png)

[2020-10-28 05:59] ricknjacky commented on #19378
![Screenshot (248)_LI](https://user-images.githubusercontent.com/50985033/97397753-02ad1200-1910-11eb-8b47-0bb6864194b7.jpg)
as i was trying to find my mistake, i skimmed through the previous commits, i found this, apparently the components folder isn't there in the "develop" branch we clone upon cloning

further proof:-
![Screenshot (250)](https://user-images.githubusercontent.com/50985033/973981

[2020-10-28 06:06] wolfcreative opened #19389 "[Improve] Allow you to edit a message whenever you want (when you write to yourself)"
### Description:

In Slack, you can edit messages whenever you want when you write to yourself. Convenient to use for notes.

### Steps to reproduce:

1. Open a conversation with yourself
2. Wait 10 minutes

### Expected behavior:

You can edit the message

### Actual behavior:

You can't edit the message

### Server Setup Information:

- Version of Rocket.Chat Server: 3.7.0
- Operating System: Ub

[2020-10-28 07:46] fdellwing commented on #19371
As far as I'm aware of, the Electron client in verson 3.x does not support RC server < 3.x. Please take your issue there: https://github.com/RocketChat/Rocket.Chat.Electron

[2020-10-28 09:13] fdellwing commented on #19389
If this is an option for you, you can disable this behavior in Administration -> Settings -> Message. But this is global.

[2020-10-28 09:15] fdellwing commented on #19376
https://github.com/RocketChat/Rocket.Chat.Electron

[2020-10-28 09:28] wolfcreative commented on #19389
@fdellwing This option is not suitable. As you correctly noted, this is global

[2020-10-28 11:05] hanmorris opened #19393 "Change title of voice/audio notes and add description/title"
When you record audio, it sends as 'audiorecord.mp3'. Is it possible to rename the file name and add in a caption? Currently, it seems the only way to do that is to send the note, then go in and edit and add a caption/title/description.

[2020-10-28 11:05] #19393 closed

[2020-10-28 11:53] col-panic opened #19394 "Connecting to self hosted jitsi crashes native app"
We recently set up an own jitsi server and connected it to Rocketchat 3.7.1.

Now every time we start a video call, rocketchat native app goes gray and shows the following error:

![grafik](https://user-images.githubusercontent.com/1679857/97432509-5aea1100-191c-11eb-9dd8-b412a59fd427.png)

Restarting the App fixes the problem, the call however is lost.

[2020-10-28 11:53] #19394 closed

[2020-10-28 11:56] col-panic opened #19395 "Connecting to self hosted jitsi crashes native app"
### Description:

We recently set up an own jitsi server and connected it to Rocketchat 3.7.1.

Now every time we start a video call, rocketchat native app goes gray and shows the following error:

![grafik](https://user-images.githubusercontent.com/1679857/97432683-a43a6080-191c-11eb-9aaa-9b087cdbd6c2.png)

Restarting the App fixes the problem, the call however is lost.

### Steps to reproduce:

[2020-10-28 12:03] col-panic commented on #19395
It only fails in the native app, using a browser everything works as expected.

[2020-10-28 12:19] bringmetheaugust commented on #19376
@fdellwing, damn..
thanks!!!

[2020-10-28 13:30] gioppoluca opened #19396 "login to rocket.chat cloud do not work"
Want to try the RASA application so registered to rocket cloud.
Followed the flow to register the workspace that result to be correctly registered
I have to login to the cloud from the admin settings (since it pretends to have a login to make the install in the marketplace)
Click the button, land in the login of the cloud, enter the login data, for a brief moment an "autorization" blue button appe

[2020-10-28 16:08] aradhya-gupta opened #19399 "Button to scroll to the last message on a channel"
### Description:
This is a feature request for a button which when clicked, takes the user to the latest message. When we scroll up to some previous message in the channel, we have to scroll back down to reach the last message in the channel. A button instead would improve user experience.

Eg-> WhatsApp has this feature
![scrollToLast](https://user-images.githubusercontent.com/55157178/97462903-3

[2020-10-28 16:43] Sx3 commented on #18740
Now it is on version 2.4.11 too ??

[2020-10-28 16:47] TimmiORG commented on #18740
With 2.4.11 you are referring to the client right?
This is independent from the client as the server will render it.

The issue is fixed in rocket.chat server version 3.6.3 and higher.

[2020-10-28 17:07] Sx3 commented on #18740
the issue is with server v2.4.11..so is that mean we need to switch the v2 channel to v3 in order to get the pdf thumbnail working ?

[2020-10-28 17:12] TimmiORG commented on #18740
Yes correct.
But your post (https://github.com/RocketChat/Rocket.Chat/issues/18740#issuecomment-713716209) is saying you are using 3.6.2.

[2020-10-28 17:21] Sx3 commented on #18740
we have several servers running rocket chat..one of them is on v3 channel and others are on v2 Channel..so we use both versions.
as we are using snap install we still don't have the v3.6.3 for snap ,only the v3.6.2

[2020-10-28 17:49] geekgonecrazy commented on #19396
@gioppoluca this typically happens when you are attempting to login to an account different then the one the workspace is registered to.

The login is required so that you can authorize purchases on your account for that workspace.  So if you logged in with another account you would not have authority to purchase an app for that workspace since it doesn't belong to that account.

Another possibili

[2020-10-28 19:36] gioppoluca commented on #19396
You mean that the mail address of the admin of the rocketchat site have to be the same as the one used in the cloud?

[2020-10-28 19:50] gioppoluca commented on #19396
I've created an account in cloud and registered the workspace with the same account.
I've also changed the admin mail to be the same as the account (even if should not be necessary in my opinion)
I used both the offline and online method, but same results.
I login and see the "authorization" blue button for a fraction of second and than redirected to login.
Really have difficulty in understanding

[2020-10-28 21:15] geekgonecrazy commented on #19396
No this is for sure not needed.  Its only about which email you used to register on cloud.  If only a single account then this isn't the issue.

Could there be some other "http" left around?

This is more than likely the issue.  Like I said hit sync in connectivity services and that should solve that one.

Yes we are working to make it deliver more clear alerts here.  Hopefully will update it soon

[2020-10-28 21:24] UmitAltun opened #19403 "CAS : no matching login attempt found"
Hello, I'm trying to login with my drupal website via cas server. But I am getting the following errors. Can I get information about the solution to this problem?

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System: Ubuntu 20.04
- Deployment Method: snap
- Number of Running Instances: 1
- DB Replicaset Oplog:
- NodeJS Version: 12.16.1 - x64
- MongoDB Version: 3.6.14

[2020-10-28 21:24] #19403 closed

[2020-10-28 21:26] UmitAltun opened #19404 "CAS : no matching login attempt found"
Hello, I'm trying to login with my drupal website via cas server. But I am getting the following errors. Can I get information about the solution to this problem?

**Server Setup Information:**

Version of Rocket.Chat Server:
Operating System: Ubuntu 20.04
Deployment Method: snap
Number of Running Instances: 1
DB Replicaset Oplog:
NodeJS Version: 12.16.1 - x64
MongoDB Version: 3.6.14

**The error

[2020-10-28 21:26] #19404 closed

[2020-10-29 04:03] ankar84 commented on #19399
There is such button, but in RC it's work when you search something in chat history and get far from last chat message
![image](https://user-images.githubusercontent.com/4023037/97523957-8d474d00-19b4-11eb-9c2a-3507d3bb4b45.png)
And yes, I agree that button behave like WhatsApp or Telegram when that button appeared when you just moved up from last message would be a good improvement to RC.

[2020-10-29 04:22] 88fingerslukee commented on #14562
How epically terrible must a response to an issue be when a guy has to write a script to do this? I mean, this script took longer to write than the pull request to fix the error FFS.

[2020-10-29 06:57] geekgonecrazy commented on #19346
Dedicated mongo node following mongo recommendations are where I would start.  If you haven't already.  Check disk IO and make sure it's not a bottleneck also

[2020-10-29 07:08] geekgonecrazy commented on #18477
I know the bot closed.  But between the PR to change the priority on notifications and our change to the gateway this should also be resolved

[2020-10-29 08:17] gioppoluca commented on #19396
I did press the synch button and it stated that synch was correct, but when I press the login to cloud I get redirected to the cloud login page, enter the credentials, credentials get accepted, i see the "authorize" button for a moment and than be redirected to the login page.
No message whatsoever.
Is like there is some wrong session information around, like it is not happy with some data on its

[2020-10-29 08:19] gioppoluca commented on #19362
Any advices on this?
Is the queue from the omnichanned managed the same way as the normal channed, because it seems that the outgoing webhook  is not engaged for queues

[2020-10-29 08:58] geekgonecrazy commented on #3361
Going to close this.  As has actually been implemented when e2e is on.  And if using enterprise will also do for non e2e rooms

[2020-10-29 10:39] sandrotanner commented on #19395
Probably a duplicate of https://github.com/RocketChat/Rocket.Chat.Electron/issues/1819

[2020-10-29 10:56] TBG-FR opened #19405 "Last lines of Custom CSS are deleted"
### Description:

The custom CSS you can provide in Administration Panel (`/admin/Layout`) is cut at the end, and so some CSS rules are broken.

### Steps to reproduce:

1. Go to Administration > Layout > Custom CSS
2. Provide the following CSS content
3. Save
4. Refresh, open console (F12) and go to Style Editor to check the `theme.css` content

[code]

### Expected behavior:

The `theme.css` fil

[2020-10-29 11:01] Hossayno opened #19406 "User search keeps loading when trying to add user to group or channel"
### Description:

When adding new users to new or existing private groups or channel, it keeps on showing  "Loading." But works well when trying to create new Direct Messages

### Steps to reproduce:

1. Create New
2. Channel
3. Type something in Invite Users
4. It only shows "Loading."

### Expected behavior:

Show list of users like when I try to DM someone:
![image](https://user-images.githubus

[2020-10-29 11:17] Hossayno commented on #19406
![image](https://user-images.githubusercontent.com/73643180/97561418-6d2d8300-19e0-11eb-9cb8-6eb8a95441c0.png)
in LDAP configuration with these checked, it works well. If "NAME" is empty in user profile, loading will show indefinitly while that user is in the search.

[2020-10-29 11:42] guinhares commented on #12709
I have the same problem

[2020-10-29 13:07] yasirrose commented on #19111
@ggazzo any update on this. It will be fixed in next release?

[2020-10-29 13:44] dabitdev opened #19408 "Private messages not shown in the left panel"
### Description:

I do not see discussions / private messages in the left panel in mac version 3.0.5. bug not found in mobile client

### Steps to reproduce:

1.  Opening the app

### Expected behavior:

all list of channels should be on the left private and group

### Actual behavior:

only group are showing

<img width="450" alt="bug" src="https://user-images.githubusercontent.com/142539/9758120

[2020-10-29 13:44] #19408 closed

[2020-10-29 15:36] hugopeixoto commented on #19007
For anyone not following the PR comments, it seems that this had already been fixed in https://github.com/RocketChat/Rocket.Chat/pull/18520, so I guess it will be included in the next release.

[2020-10-29 16:16] avatar1024 commented on #2049
+1 for this too! It would be very useful. It also feels that we should be able to sort discussions as sub channels (since they are created within a channel). So it seems like a three level tree would be best:
Room: top level which is just used to group channels > can give it a description but not for people to post messages
Channels: top layer for people to chat
Discussions: specific topic within

[2020-10-30 08:19] jacotec opened #19415 "eMail "Your account was approved" not using template and is not configurable"
### Description:

In Administrator / eMail you can configure eMail notifications sent to users as well as the email header and footer, which gives pretty well looking emails to users, i.e. in the registration process.

But the confirmation which is sent to a user when an admin has approved his account, is not configurable. Neither it's using the header and footer. Here the user just gets a simple,

[2020-10-30 08:40] piotrkochan commented on #13916
same today on v3.6.3

[2020-10-30 11:05] yalanyali commented on #15435
I agree. It doesn't make sense that an admin is not allowed to call certain API endpoints. In an integration scenario you could want the users to be able to create but not delete private groups and delete them through the app backend as THE admin. With the current design we don't really have an "admin" account that we can use on a backend so that everything is done through the backend.

The admin

[2020-10-30 17:50] narayanansampath opened #19417 "Blank screen on private chat"
### Description:

only group chats are working, private chat shows blank screen and when sending messages in private chat,it's greyed out.
### Steps to reproduce:

1.
Rocket chat desktop app

2.
any private chat

3.

### Expected behavior:

Show chat with all messages.

### Actual behavior:
Blank screen with no messages.

![bug report ](https://user-images.githubusercontent.com/19869271/97739033-9

[2020-10-30 20:51] bizzbyster opened #19420 "Click to Join button does not work if a user joins late"
### Description:

If I join a discussion room after another user has joined and started a Jitsi video conference, and I then click the blue "Click to Join" button, I am unable to join the video conference until I type some text in the discussion room. The telephone icon in the upper right does not have this problem.

### Steps to reproduce:

1. User 1 create a discussion and then launch a video co

[2020-10-30 22:28] Exordian commented on #16802
the option seems to be missing since 3.5.x completly

[2020-10-31 14:09] stecko1980 opened #19422 "Rocket.Chat Meet"
If i activate WEBRTC, there aren't button call.
Ubuntu 20.04 from snapstore

[2020-10-31 14:09] #19422 closed

[2020-10-31 16:45] bellegarde-c commented on #19012
Deleting users in Universities is a real need. We have many new users every years and many just leave.

[2020-10-31 16:56] bellegarde-c opened #19424 "LDAP importer crash when group map is too big"
### Description:

When running a sync with a real big group map (more than 500 lines), the LDAP sync fails.

With a smaller map, all is working as expected.

### Steps to reproduce:

Not sure if it's an error with Samba4 closing the connection because of the flood. The strange part is the encryption error message (see logs below).

BTW, the group mapping code looks not optimal. It should get group

[2020-10-31 16:56] #19424 closed

[2020-10-31 16:59] bellegarde-c opened #19425 "LDAP Group Channel Map: crash if too large"
### Description:

When running a sync with a real large channel map (more than 500 lines), the LDAP sync fails.
With a smaller map, all is working as expected.

### Steps to reproduce:

- Groups filter: (&(cn=#{groupName})(member=CN=#{username},OU=*))

1. Add a real big LDAP Group Channel Map
2.  Run sync

### Expected behavior:

Do not crash

### Actual behavior:

Crash

### Server Setup Informat

[2020-10-31 17:01] bellegarde-c commented on #19425
BTW, the channel mapping code looks not optimal. It should get groups content on start and then compare this for every available user.

Actually, looks like it is doing one LDAP request per user and per group.

But I may be wrong as I guess this based on the logs.

[2020-10-31 17:16] bellegarde-c commented on #17855
Similar issue with LDAP importer.

[code]

[2020-10-31 17:37] bellegarde-c commented on #19425
Tried to do a sync with a smaller version of the map (and it worked) and then added the rest of the map, but now I have another issue :-(

[code]

[2020-10-31 21:46] bellegarde-c commented on #19425
Another variant

[code]

[2020-10-31 23:24] bellegarde-c commented on #19425
Ok, moving from STARTTLS 389 to TLS/SSL 636 fixed the issue. Any reason ?

[2020-10-31 23:45] bellegarde-c opened #19426 "CursorNotFound on LDAP import"
### Description:

LDAP import fails to finish

### Steps to reproduce:

1. Run LDAP import

### Expected behavior:

No crash

### Actual behavior:

Crash

### Server Setup Information:

- Version of Rocket.Chat Server: 3.7.1
- Operating System: Debian 10
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog:  ??
- NodeJS Version: 12.18.1-1nodesource1
- MongoDB Version: 4.

[2020-11-01 07:13] ankar84 commented on #19065
No, I see this events all the time at 3.7.1 version now...
@sampaiodiego Diego, can you take a look at this?

[2020-11-01 09:17] samrae7 commented on #19328
I had a look and I couldn't work out how the message box was being populated with a list of emojis, and why that was different to the list the emojiPicker gets. So not proceeding with this.

[2020-11-01 13:49] dipanshparmar commented on #13557
Can I work on this?

[2020-11-01 16:16] bellegarde-c commented on #19426
Looks like an issue with groups name length.

Failing channel map:
[code]
After renaming the group, it works without the CursorNotFound issue.
[code]

[2020-11-01 16:56] murtaza98 commented on #19362
Hey @gioppoluca For using Rasa with omnichannel/livechat u can make use of the `RASA` app which is available on Rocket.Chat marketplace.
To install it, login with admin user and goto Setting -> Marketplace -> Search `rasa`.
For futher configurations you can refer to [this](https://github.com/RocketChat/Apps.Rasa) docs

[2020-11-01 19:31] bellegarde-c commented on #19426
Related to this ?

https://docs.mongodb.com/manual/reference/method/cursor.noCursorTimeout/#cursor.noCursorTimeout

[2020-11-01 20:50] dkoo761 commented on #18243
This bug is still happening in 3.7.1, however there is no longer an error in the console log.

[2020-11-01 21:34] bellegarde-c commented on #19426
This have fixed my issue:

`db.adminCommand( { setParameter: 1, cursorTimeoutMillis: 3600000 } )`

[2020-11-01 21:48] dkoo761 commented on #18243
It appears that 2 headers are overlapping each other with the incorrect header appearing on top.

A simple workaround for now is to hide the 2nd header on mobile screen sizes:

[code]

[2020-11-01 21:52] SebastGG commented on #18999
Hi all, i've the same problem. Does anyone know how to fix this?

[2020-11-02 03:15] lly1996 opened #19428 "[Improvement] Search messages"
**Description:**
Searching messages is really cumbersome.If iwant to search message,i have to open  the message window,and ckick search button

**Steps to reproduce:**
**Expected behavior:**
I want to put the searching message together with the search user module.It is uniformly placed on the left side of the interface.
Then i can choose search message or user easily
**Actual behavior:**
**Server

[2020-11-02 05:25] ankar84 commented on #19377
3.7.1 - bug persist

[2020-11-02 06:33] bellegarde-c opened #19430 "[Improvement] Slow LDAP scanner"
### Description:

LDAP import is really slow for large organizations

### Steps to reproduce:

1. Run LDAP import with:
* Around 5000 users
* Around 400 groups

Due to LDAP_Sync_User_Data_Groups_Filter, Rocket.chat importer is doing per user:
* A LDAP request per entry in LDAP_Sync_User_Data_GroupsMap
* A LDAP request per entry in LDAP_Sync_User_Data_Groups_AutoChannelsMap

This is needed for nest

[2020-11-02 08:35] Nono-m0le commented on #19294
still true on Client version 3.0.5

[2020-11-02 08:36] Nono-m0le commented on #19293
still true with client 3.0.5

[2020-11-02 08:38] Nono-m0le commented on #19165
Hi @frdmn any news on this ? I'm still getting those quite often.

[2020-11-02 08:41] ankar84 commented on #19080
I'm on 3.7.1 now.
Joined to Jitsi conf in one room and continue to working in RC in other chats, so, yes.
Replication method is really easy:
1. Join Jitsi call
2. Open any Thread in any chat
3. Thy to close Thread window
Here is a gif
![thread-jitsi](https://user-images.githubusercontent.com/4023037/97847205-4af97500-1d00-11eb-8360-34a9598fb0dd.gif)

[2020-11-02 08:52] ankar84 commented on #18894
Fixed on open.rocket.chat which on version 3.8-rc0

[2020-11-02 09:50] ankar84 commented on #19225
Some more info about that issue.
You get duplicate in search only users, that you have conversations with.
If you a search user that you have not chat before - that user appears once, no duplicate.
So, I guess - one entry is from servers search result, and one entry from local cache.
@ggazzo @tassoevan please take a look at that issue.

[2020-11-02 09:58] sternenseemann commented on #5353
Looks like you are looking for is a CAS (see <https://docs.rocket.chat/guides/administrator-guides/authentication/cas>). What you want shouldn't be possible with LDAP Bind authentication.

[2020-11-02 09:59] sternenseemann commented on #7780
See also #11580.

[2020-11-02 10:17] ankar84 commented on #16905
@ggazzo @sampaiodiego Hello!
That issue really resolved (I don't see any Click to Join buttons in RO channels), but now on 3.7.1 I see in server logs a lot of this:

[code]

[2020-11-02 10:49] mfahad19 opened #19431 "Live chat widget unresponsive after pop out mode"
### Description:

After expanding the live chat widget and then closing the pop out window. The live chat icon is available on the page but is not responsive. Open incognito window and it works, pop out window there and close it and stops working there as well.

### Steps to reproduce:

1. Live chat page, open live chat widget
2. Click on expand chat
3. close the popped out window
4. Now click on

[2020-11-02 11:57] JoJo2406 opened #19432 "Hubot not compatible with 3.8.0-rc.2"
### Description:

Since upgrading Rocket Chat from 3.7.1 to 3.8.0-rc.2 the integration between rocket chat and our hubot instance no longer works. Every time the bot receives a message the following exception is thrown `ERROR TypeError: Cannot read property '_id' of undefined` (see below).

### Steps to reproduce
I have replicated this by creating a new basic project with only the dependencies bel

[2020-11-02 12:10] JoJo2406 opened #19433 "Hubot not compatible with versions >= 3.8.0"
### Description:

Since upgrading Rocket Chat from 3.7.1 to 3.8.0-rc.2 the integration between rocket chat and our hubot instance no longer works. Every time the bot receives a message the following exception is thrown ERROR TypeError: Cannot read property '_id' of undefined (see below).

I have replicated this by creating a new basic project with only the dependencies below and run the command hu

[2020-11-02 13:43] mfahad19 commented on #19431
If I duplicate the tab that has livechat widget opne (open a new tab and open the same url), the widget starts working in both tabs.

[2020-11-02 14:47] shridharke commented on #19332
I have solved the bug and opened a pull request.
#19434

[2020-11-02 15:07] GrazynaRichter opened #19436 "delete channel"

[2020-11-02 15:07] #19436 closed

[2020-11-02 17:05] RohitKumar-200 opened #19437 "Leave room popup don't close automatically on leaving room"
### Description:

After clicking "Leave" on alert popup after leaving room, popup don't close automatically

### Steps to reproduce:

1. Go to open.rocket.chat
2. Leave any room by clicking on option menu
3. Click Leave on popup

![gif](https://user-images.githubusercontent.com/55583961/97895161-6cd31600-1d59-11eb-8ba3-fa48557855f6.gif)

### Expected behavior:

Popup should close automatically on

[2020-11-02 18:28] dusatvoj opened #19438 "People shown multiple times in completion when mentioning them in chat"
### Description:

When typing a message and trying to mention somebody is everybody shown multiple times in autocompletion.

### Steps to reproduce:

1. Write a message
2. Start typing `@` and some characters of somebody's username
3. Sometimes are users shown multiple times

### Expected behavior:

Everybody are shown only once in completion

### Actual behavior:
- Sometimes is it like this: ![im

[2020-11-02 19:07] geekgonecrazy commented on #19432
@JoJo2406 can you add the steps to reproduce?

[2020-11-02 19:42] JoJo2406 commented on #19433
To replicate use the sample project from https://github.com/RocketChat/hubot-rocketchat-boilerplate but I can confirm that my previous setup was working fine until 3.8.0

[2020-11-02 19:45] JoJo2406 commented on #19432
@geekgonecrazy I create a new issue
https://github.com/RocketChat/Rocket.Chat/issues/19433 but I can confirm was previous setup was working fine until 3.8.0

[2020-11-02 21:00] ktims commented on #6374
Please avoid overriding existing global browser shortcuts like Ctrl-F and Ctrl-K. It's quite irritating having to choose between blacklisting the app's ability to override shortcuts or losing one shortcut or the other.

[2020-11-02 22:55] scrivna commented on #19438
Came here to report this, having the same issue with 3.7.1

[2020-11-03 02:17] ankar84 commented on #19438
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/19225

[2020-11-03 02:36] skermiebroTech commented on #16659
I have this problem too

[2020-11-03 02:56] ankar84 opened #19441 "[Improvement] Some errors in RC logs looks like unhandled"
### Description:

I see a lot of entries in logs near some errors, e.g. `server.js:204 System ➔ error Error starting video call: Error: You_have_been_muted`  and it looks like that is unhandled error

### Steps to reproduce:

1. Mute user in some chat
2. Try to start Jitsi call as muted user
3. Get a lot of entries in RC logs

### Expected behavior:

Get only one entry:
`server.js:204 System ➔ err

[2020-11-03 03:14] ankar84 opened #19442 "[Bug] Integration History is broken in Admin UI"
### Description:

Integration History is broken in Admin UI

### Steps to reproduce:

1. Go to Admin UI - Integration
2. Choose any Outgoing integration
3. Click History button
4. Get blank screen

### Expected behavior:

Integration History is opened and I can clear it.

### Actual behavior:

![integr](https://user-images.githubusercontent.com/4023037/97946145-88124580-1d9a-11eb-8b63-761ae3ace255

[2020-11-03 06:14] ankar84 commented on #19137
No, it's not fixed in latest
https://github.com/RocketChat/Rocket.Chat/issues/19442

[2020-11-03 07:01] ankar84 commented on #18939
@pierre-lehnen-rc  And another one thing.
We are using KeyCloak to authenticate LDAP users in RC. It give us SSO on domain joined computers.
When I did logoff on such domain computer in Chrome 86 I get this error in RC logs:
`Failed login detected - Username[unknown] ClientAddress[172.18.106.100] ForwardedFor[192.168.15.237, 172.18.106.100] XRealIp[undefined] UserAgent[Mozilla/5.0 (Windows NT 10.0

[2020-11-03 08:14] hmn566 opened #19444 "Android app there is no optio to jump to message in search"
In Android app when i search it shows related content but i can't jump to it.
in desktop and web ther is option "jump to messages"

[2020-11-03 08:14] #19444 closed

[2020-11-03 09:30] bbrauns commented on #18469
@frdmn How do we clear caches of RC desktop clients? Thanks in advance!

[2020-11-03 09:35] bombaata commented on #18789
Indeed, if the user's display name isn't blank, you can find him.

bug seems related to issue #19406

[2020-11-03 10:24] ankar84 commented on #19441
And this

[code]

[2020-11-03 10:26] Corinari commented on #19431
We are also affected by this Bug - RC Version 3.7.1
OS: node:12.18-slim (Docker)

[2020-11-03 10:54] JoJo2406 commented on #19433
It seems that the message passed to reactToMessages is now an array causing the issue I've managed to work around this by adding `message = message.slice(0,1).shift();` which seems to have resolved the issue but obviously this is not a valid solution.

@rocket.chat\sdk\dist\lib\driver.js

[code]

[2020-11-03 11:37] sampaiodiego commented on #19065
you guys don't need to worry about this message.. it is just Node trying to tell us something **could** be wrong.. but in this case it is not.. we know there is a memory leak in rocket.chat but this specific message is not about it.

recently we've manually increased this limit to stop showing the message as you can see here:
https://github.com/RocketChat/Rocket.Chat/blob/02f6e2b2a252249ba040733ee

[2020-11-03 11:39] sampaiodiego commented on #19241
closing this in favor of old issues regarding the same subject, such as  #16586 #13602

[2020-11-03 11:39] #19241 closed

[2020-11-03 12:07] g-voelker commented on #11377
I found the same problem trying to connect to the chat.gwdg.de instance. I can pull test data with Zapier but can't activate the Zap finding the described error:
`The app returned "[not_authorized]".`
From the above discussion it's not clear to me whether this error is based on the requests Zapier is sending out or the Rocket.Chat config on the server. The fact that Zapier seems to correctly pull

[2020-11-03 12:26] nemhods opened #19445 "Push notifications possibly sent twice"
### Description:
Push notification gateway usage is unexpectedly high, and we suspect double sending of pushes.

### Expected behavior:

Push notifications are only sent once, and debug logging would show so.

### Actual behavior:

Push notification debug logs show that pushes are sent twice (push IDs anonymized):
[code]

On end devices however, push notifications appear only once.

### Server Set

[2020-11-03 12:26] #19445 closed

[2020-11-03 12:28] nemhods opened #19446 "Push notifications possibly sent twice"
### Description:

Push notification gateway usage is unexpectedly high, and we suspect double sending of pushes.

### Steps to reproduce:

Unknown

### Expected behavior:

Push notifications are only sent once.

### Actual behavior:

Push notification debug logs show that pushes are sent twice (push IDs anonymized):
[code]

On end devices however, push notifications appear only once.

### Server S

[2020-11-03 14:04] domhacking commented on #17170
Hi @pierre-lehnen-rc Were you able to look into this issue? If so when do you think it will be resolved. Thank you for your help!

[2020-11-03 15:35] gstlouisgit commented on #18969
I think I might have found a solution I read about was to disable the cat user.  However I still got a message the other day, but I feel that its less frequent?  I don't know...

[2020-11-03 15:37] gstlouisgit commented on #18681
this is still a problem.  And this CentOS instance work well with everything with lots of unused RAM and space.  I have to log in and restart the service every time.

Nov 03 08:15:06 virtual.machine rocketchat[17506]: at Object.post (app/api/server/v1/misc.js:262:26)
Nov 03 08:15:06 virtual.machine rocketchat[17506]: at app/api/server/api.js:388:82
Nov 03 08:15:06 virtual.machine rocketchat[17506]

[2020-11-03 16:38] eragras opened #19447 "Jitsi - administrator/moderator"
Hi,

When i am in jitsi room and set access after acceptation (lobby). Not only me can accept new users. Why?
How can i set one of users a moderator or/and administrator of the room?
Rest of people should be normal user.

Thanks,
Best Regards,

[2020-11-03 16:38] #19447 closed

[2020-11-03 17:02] MartinSchoeler commented on #19438
As @ankar84 mentioned this is a duplicate of #19225 Please continue the discussion there. Thanks!

[2020-11-03 17:02] #19438 closed

[2020-11-03 17:03] MartinSchoeler commented on #19432
Moving discussion to #19433

[2020-11-03 17:03] #19432 closed

[2020-11-03 18:35] vigneshwarveluchamy commented on #13380
Hi @ankar84, @sampaiodiego, @ggazzo
We are looking to scale rocketchat for about 20000 users joining in for a live event.
What was the best number which you have achieved in terms of messages/minute ?
Do we have any recommendations on the setup to meet this requirement ?

Thanks in advance

[2020-11-03 19:43] tauame commented on #19225
Same here (v3.7.1). Sometimes the user shows 3 or 4 times on private group mentions.
My guess for the sources of duplication would be:

- From recent messages
- From DM conversation
- From the private group user list
- From global user list

[2020-11-03 19:57] hugorn commented on #396
Currently only Share as link is available, but cannot Forward message to other room/user.

[2020-11-03 20:28] gabriellsh commented on #19442
Hi @ankar84! Are you sure that integration has history? I just tested with one of mine, and it works:

![image](https://user-images.githubusercontent.com/40830821/98037061-c8ed7700-1df9-11eb-9f06-f68e7ebe264f.png)

Can you try to get them via the api endpoint `integrations.history`? https://docs.rocket.chat/api/rest-api/methods/integration/history#example-call

Waiting for your return, thanks!

[2020-11-04 05:19] kiwinesian opened #19452 "OAuth2 Graph API Azure AD / Microsoft 365 / Office 365"
### Description:

Hi Rocket.Chat,

Not sure if this is a bug or misconfiguration. I have configured Custom OAuth with Azure AD and looks like I have set everything correctly but it returned the following error:
`Exception while invoking method 'login' MongoError: E11000 duplicate key error collection: rocketchat.users index: services.microsoft.id_1 dup key`

This is with `Merge user` enabled.

Loo

[2020-11-04 08:21] kiwinesian commented on #19452
Somehow, OAuth created a new user for me hence the duplicate.

Deleted the user didn't remove it from the DB, so I had to manually delete it from the DB.

[2020-11-04 08:21] #19452 closed

[2020-11-04 08:26] noyome123 opened #19453 "The uploaded file type is incorrect"
### Description:

The uploaded file type is incorrect

### Steps to reproduce:

1.Upload CSV file
2.File type is "application/vnd.ms-excel" instead of "text/csv"

### Actual behavior:
![mongod_filetype](https://user-images.githubusercontent.com/48504965/98087009-dc184980-1ec2-11eb-8d42-ef9992ef74d4.PNG)

### Server Setup Information:

- Version of Rocket.Chat Server: 3.7.0
- Operating System: Ubun

[2020-11-04 08:26] #19453 closed

[2020-11-04 08:29] noyome123 opened #19454 "The uploaded file type is incorrect"
### Description:

The uploaded file type is incorrect

### Steps to reproduce:

1. Upload CSV file
2. File type is "application/vnd.ms-excel" instead of "text/csv"

### Expected behavior:

### Actual behavior:

![mongod_filetype](https://user-images.githubusercontent.com/48504965/98087248-25689900-1ec3-11eb-831a-a84013a8c676.PNG)

### Server Setup Information:

- Version of Rocket.Chat Server: 3.7

[2020-11-04 10:45] trauBENmus opened #19455 "linux: application start issues + blank chats"
I am using pop os! (debian based) and rocketchat version 3.0.5.

- when I start the application, there is only a blue screen. I have to Disable GPU from the File Menu to make it work.
- when I disabled GPU I have to login again everytime I start RocketChat
- some chats are completely emty. when i try to send messages to the chat member it is greyed out

[2020-11-04 10:45] #19455 closed

[2020-11-04 10:45] trauBENmus commented on #19455
also ... I am using a RTX 2070 Super from NVIDIA

[2020-11-04 11:08] theanhvo opened #19456 "method livechat:changeLivechatStatus Error: Not allowed 2 [error-not-allowed]"
Hi team,
I'm stick enable Omnichannel show 'Not allowed'
with logs:
[code]

[2020-11-04 11:08] #19456 closed

[2020-11-04 11:47] sampaiodiego commented on #18894
right.. fix on latest 3.8 release.

[2020-11-04 11:47] #18894 closed

[2020-11-04 12:36] bkraul commented on #19372
Seems a subsequent commit has partially re-introduced this issue:

![image](https://user-images.githubusercontent.com/14616851/98112567-0c7eca00-1e68-11eb-9b91-7b76b324dc6a.png)

This is with commit aacbdd9 (latest develop)

[2020-11-04 13:57] rodrigok commented on #13380
@vigneshwarveluchamy this scale would be achieved via micro services version only. It's an enterprise feature, please contact sales@rocket.chat for more information.

[2020-11-04 14:37] UAnton commented on #16586
3.7.1 - 32GB Memory leak

[2020-11-04 14:49] watchtiger commented on #11570
any update on this? It's still not working in version 3.7.0.
That's a critical bug in an company environment

[2020-11-04 15:27] JakobFerdinand commented on #19313
## Solved

I solved the issue by connecting to the database with
[code]

and then in the mongo shell I executed a database repair
[code]
that took some minutes, the error didn´t appear after that.

[2020-11-04 15:27] #19313 closed

[2020-11-04 15:56] mariusiscoding commented on #14550
Problem is still there Ubuntu 18 and latest Rocketchat version...

[2020-11-04 17:22] kaugummiheld commented on #18644
Hey,
I happened to have the same issue and assumed this is a bug due to the recent Android version (11) since I got a Pixel 4a (stock Android). I need RocketChat for work and finally found that the PlayStore version does not have this bug. It also has a way different intro screen:
![RocketChat PlayStore version](https://user-images.githubusercontent.com/61326100/98143796-d96d2280-1ec9-11eb-82b8-ab

[2020-11-04 17:45] mheistermann commented on #17531
Visible HTML still occurs for
[code]
![rocketchat-asterisk-trouble2](https://user-images.githubusercontent.com/1302738/98149671-ceb48c80-1ecd-11eb-8de9-e970e87c8cb0.png)

[2020-11-04 17:51] JoJo2406 commented on #19454
Can confirm I have the same issue but just haven't had the time to look into and report

[2020-11-04 20:37] g-thome commented on #17844
Hi, @ankar84
Does it still happens to you using the latest release? We've tested the scenario described in the description but we ended up with the expected result.

[2020-11-04 21:28] Emaelqc commented on #2869
Hello! I am an employee. I read this topic and it explains a lot to me. I left my companie's rocketchat never to return and I want te let you know that reading private messages is really really wrong.

Yall assholes. =)

[2020-11-04 21:42] stleitner commented on #19417
We have the same issue:

Rocket.Chat
Version	3.6.2
Apps Engine Version	1.17.0
OS Type	Linux
OS Platform	linux
OS Arch	x64
OS Release	4.15.0-122-generic
Node Version	v12.16.1
Mongo Version	3.6.14

Client:
Mac App Store Version 3.0.3

[2020-11-04 21:43] bkraul commented on #2869
@Emaelqc what exactly is your point? A company's rocketchat server is the property of the company. Contractually they have every right to audit for very real legal reasons. An employee is always free to either use OTR or not engage on personal conversations outside of what pertains to business matters. You really don't seem to understand business auditing.

Also, rather unhelpful attitude.

[2020-11-04 21:45] Emaelqc commented on #2869
You are right. But we are in 2020, and I win, not you. Treat your employees like your clients. Thats what my point is. The company cannot afford losing me at all, and I am not using the chat anymore. So what is your point? The purpose of the chat is not reached if employees do not use it. You have no respect.

[2020-11-04 21:48] Nepoxx commented on #2869
I mean, you just called people names...

@bkraul The laws are not the same everywhere. Some countries allow employees to have a reasonable expectation of privacy, so these are really muddy waters...

@Emaelqc Arrête d'agir comme un enfant. C'est vrai que c'est cave de vouloir lire les messages privés de ses employés, mais tes commentaires n'aident pas.

[2020-11-04 21:51] clemoan commented on #14144
It's a real problem in my organization. Is there a workaround ?

[2020-11-04 21:53] Emaelqc commented on #2869
Je suis d'accord que c'est plutôt une discussion pour LinkedIn que pour GitHub, et à cet effet, j'admets ne pas être au bon endroit.

[2020-11-04 21:55] bkraul commented on #2869
@Nepoxx I understand the laws are not the same. I speak for US law. And again, it is all on how the chat server is deployed. Obviously if I deploy a chat in my company, contractually granting employees an assurance of expectation of privacy and I breach such agreement, my company could be in deep waters. It's all about the disclosure.

[2020-11-04 22:01] Nepoxx commented on #2869
Let's just make one thing abundantly clear: a rocketchat admin **can already read the private messages** of its users.

There's no user-friendly way right now, but if you know your way around a database or an API, you most certainly can read privates messages (unless using E2E encryption).

[2020-11-04 22:03] Emaelqc commented on #2869
So let's make something else clear : I will never use this product again. You can count on your right hand people who do what I do in Canada, so unfortunatly for employers... Anyway, I will drop this. I just had the need to express my feelings about such a functionality.

Have a good life,

[2020-11-04 22:10] Darkestlyrics commented on #2869
let's say around 75% of the messaging platforms you use will have a way for the messages to be retrieved unless you self host them. Are you going to stop using each and every single one of those?

Also, did you create a github profile just to complain about this?

[2020-11-04 22:10] rmundel commented on #2869
No one is irreplaceable. You're not the client. Just don't use it.

[2020-11-04 22:15] Emaelqc commented on #2869
Naa I had a git hub profile for a while, email was not activated. Anyway, you are also right, everybody can be replace, but that is not entirely true in the current state of events... lol. Anyway. like I said... im out ;P both from here and rocketchat.

[2020-11-05 05:02] Benshi commented on #19454
Most Windows 10 client may not have included `HKEY_CLASSES_ROOT\MIME\Database\Content Type\text/csv` on registry.
And if Excel was installed on it, the value of `HKEY_CLASSES_ROOT\.csv\Content Type` may have been registered as `application/vnd.ms-excel` .
Will the file type you upload change if you change these registry entries?

[2020-11-05 05:27] noyome123 commented on #19454
`HKEY_CLASSES_ROOT\MIME\Database\Content Type\text/csv ` did not exist
`HKEY_CLASSES_ROOT\.csv\Content Type` is ` application/vnd.ms-excel`

add `text/csv`,
and change ContentType to `text/csv`
but Changing the settings didn't fix it

As a test 1....
1. add  ` /var/www/aaaa.csv`
2. go to `https://hogehoge/aaaa.csv`
3. `aaa.csv` has been downloaded

As a test 2 ....
1. upload `aaaa.csv` to `RocketC

[2020-11-05 06:00] Furragen opened #19461 "LDAP-Group-Sync not working and breaking login"
### Description:

When we enabled the LDAP-Group-Sync in our RocketChat to map ldap-groups to rocketchat-groups/channels it does not work.
We also got reports of users not being able to login anymore until we disable the feature.

### Steps to reproduce:
1. Setup working LDAP-Auth
2. Enable LDAP-Group-Sync
3. See that it is not working
4. Have users report that they cannot login anymore

### Expec

[2020-11-05 06:22] everlasting-neverness opened #19462 "Incorrect data-state"
### Description:

Hello!
I found a bug with an incorrect data-state on rocketchat-widget div.

### Steps to reproduce:

1. When the page with rocketchat is loaded open it up. In localStorage there be next values:
[code]
2. Press "Expand chat" button. Values in LS:
[code]
3. Close opened window with chat.  Values in LS:
[code]
4. Reload the page with F5. Values in LS:
[code]

### Expected behavior:

[2020-11-05 06:51] MrEscaGreenwing commented on #18759
Hi, we have the same problem on our site with an Apache setup.

[2020-11-05 08:18] theanhvo opened #19463 "[ERROR] livechat:changeLivechatStatus Error: Not allowed [error-not-allowed]"
**Description:**
Show error "Not allowed" when click enbale button"Omnichannel"  on url "http://host.com/channel/general"
<img width="1434" alt="Screen Shot 2020-11-05 at 15 17 37" src="https://user-images.githubusercontent.com/22842153/98215224-201a5580-1f7a-11eb-8a61-c03ee6268de2.png">

**Steps to reproduce:**
Go to url "http://host.com/channel/general"
Click enable  button"Omnichannel"
Show pop

[2020-11-05 08:18] #19463 closed

[2020-11-05 08:21] ankar84 commented on #17844
Hi, @g-thome
Yeap, just checked that issue on most recent 3.7.1 server version, and yes - no desktop notification on DM and no push notification on DM when desktop is offline.
BUT!
If DM has mention me with `@` - push and desktop notification works fine.
But it's insane in DM mention user that only one in that conversation with `@`
DM itself should be like mention.

@g-thome just follow steps to r

[2020-11-05 08:47] ankar84 commented on #19442
Hi, @gabriellsh
Just checked history for one of our outgoing integrations, here is bottom of answer:
[code]

So yeah, there is a history, a lot of history, and I want to clear it in proper way, but can't - it shows blank page instead of history.

[2020-11-05 09:01] ankar84 commented on #17844
On Windows 10 computer same behavior is on Web client (user Chrome 86 for that) as a desktop client version 3.0.5

Here is a desktop screens
![image](https://user-images.githubusercontent.com/4023037/98219445-1125aa00-1f5e-11eb-8537-7033a1f5d4d9.png)
And next gif illustrate that issue.
First I sent just `test` message - no any notification.
Then I sent `@karlanaa test` and there is a notification

[2020-11-05 09:07] ankar84 commented on #17844
And again - once I changes Notifications settings - there is a lot of updates in my sidebar appears. Looks like my subscriptions are recalculate or something.

[2020-11-05 09:14] danel1 commented on #19225
Same here..
- Server: v3.7.1
- Client: v3.0.3 (Mac App Store)

[2020-11-05 12:57] dsisysteme commented on #6174
This will be a important feature for us too. Have you plan this for next release?
Thanx

[2020-11-05 13:15] dsisysteme opened #19465 "Desactive non existing LDAP users when synchronize LDAP"
This will be a important feature for us to automatically desactivate users removed in LDAP with the sync.
We have a lot of users account created and deleted over the year. So it's painfull to do it manually.

Thanx

[2020-11-05 13:15] #19465 closed

[2020-11-05 13:22] dsisysteme opened #19466 "Desactive non existing LDAP users when synchronize LDAP"
### Description:

This will be a important feature for us to automatically desactivate users removed in LDAP with the sync.
We have a lot of users account created and deleted over the year. So it's painfull to do it manually.

Thanx

### Steps to reproduce:

1. Sync LDAP
2. Delete entry in LDAP
3. No effect on Rocket

### Expected behavior:

Desactivate account removed in LDAP

### Actual behavior

[2020-11-05 23:14] ramrami commented on #11288
Hi, we're trying to support 4k active users with RocketChat, but we are unable to go above 1k for now.

We are using RocketChat v3.6.3
10 instances (2CPU & 2GB RAM each) on AWS Fargate
3 nodes MongoDB v4.2 cluster (8vCPU & 32GB RAM) on Atlas

We are using selenium with headless chrome on the cloud to perform the load test.
All users are connected to the same public channel, and wait a random amoun

[2020-11-05 23:37] HRJG commented on #7440
Hey I'm having this issue as well, where I'm only be able to get a result of 5 same names, if I had 10 Jessica it will only display 5 Jessica

[2020-11-05 23:56] HRJG opened #19469 "5 Results limited to global search, change limits of search results on 3.7.1"
### Description: change limits of search results to random amount.

 When searching for user Jessica I'm only be able to get a result of 5 same names Jessicas, if I had 10 Jessica it will only display 5 Jessica.
### Steps to reproduce: in global search the return result is returned only by 5.

1.
2.
3.

### Expected behavior:

### Actual behavior: edit the setting and have unlimited results?

###

[2020-11-06 06:27] patelaryan7751 commented on #19415
Hello @jacotec  i want to work on this issue can you give some more info on it how to get started?

[2020-11-06 07:07] ankar84 commented on #19469
It would be nice if that amount of result was configurable by RC admin.

[2020-11-06 08:32] Crocmagnon commented on #13352
Duplicate of #11637 ?

[2020-11-06 08:45] jacotec commented on #19415
@patelaryan7751 I'm not into RC programming, so technically I can't help you unfortunately (if I would be able to, I'd have fixed it already ;-) )

But you should easily reproduce it with the mentioned steps above.

[2020-11-06 10:37] kaiiiiiiiii commented on #19446
I see the double amount of notifications in the cloud panel as well. This is a joke! You enforce a 5k limit, but still are not able to provide any real usage data  nor a valid offer to buy more notifications ...

[2020-11-06 11:49] mfahad19 commented on #19231
Having the same issue, @serwokc did you find a work around?

[2020-11-06 12:41] mfahad19 opened #19470 "Closed omnichannel chats are being removed/deleted even though user doesn't have permission"
### Description:

Closed omnichannel chats are being removed/deleted even though no one has been assigned permission "Remove Closed Omnichannel Rooms"

### Steps to reproduce:

1. Go to permissions
2. Uncheck all roles for permission "Remove Closed Omnichannel Rooms"
3. Go to Omnichannel-> Current Chats, click remove on any closed chat

### Expected behavior:

Doesn't let you delete the chat

###

[2020-11-06 14:16] gabriellsh commented on #19442
I've made this PR not too long ago: #19114. It isn't in a release yet though, and I cannot assure it's gonna fix this too.

I really couldn't reproduce this yet. I'd ask for you to place a few logs, but I figured you're probably in a production env, so that's not so straight forward.

Would you be able to test that PR or maybe run that database or a copy of it in a dev environment? If so, please t

[2020-11-06 15:42] dlecan commented on #11344
Any news?

[2020-11-06 16:26] Nenillo opened #19471 "notifyUser or notifyRoom don't show a notification message"
### Description:

notifyUser and notifyRoom calls from a RocketChat App don't work anymore. Those functions should display a message that only the user can see.

### Steps to reproduce:

1. Create a rocket chat app and define a command
2. Run the following code:

[code]
### Expected behavior:

Should display a message that only the user can see.

### Actual behavior:

Displays the following messag

[2020-11-06 18:54] dkoo761 commented on #18984
Having the same issue. The problem appears to be that node-sprite-generator depends on an old version of canvas which doesn't seem compatible with newer versions of node. I tried using the latest version of node-sprite-generator (npm installing from their Github master branch) and the error is still there even though their master branch is using a slightly newer version of canvas. node-sprite-gene

[2020-11-07 02:29] olafleur opened #19476 "Setup wizard (page 1) : when correcting wrong username, it still show an error"
### Description:

On the first page of the setup wizard, when you enter a wrong username, you have a validation error (good!). But if after that you correct the username, the form won't let you submit.

### Steps to reproduce:

1. Enter informations in setup wizard, but wrong username
2. Click on Continue button
3. There is an error
4. Fix the wrong username
5. Click on Continue button
6. There is

[2020-11-07 06:56] Abhirup-99 commented on #19188
@sampaiodiego I would like to work on this issue.

[2020-11-07 12:36] nemhods commented on #3451
So with the change from `meteor-slugify` to `limax` and therefore `speakingurl`, what  @hhenkel  asked for is now the case. However, this breaks LDAP Syncing.

This is an issue in at least 3.7.0. Consider a username `Max.Müstermann`. I have the username attribute set to sAMAccountName. For sAMAccountName "max.müstermann", Rocketchat accepts Logins with

- `max.mustermann`
- `max.müstermann`
- `max

[2020-11-07 17:20] HRJG commented on #19469
Found the solution, I was able to accomplish the result by changing the settings under  **Administrator - Layout - Number of users' autocomplete suggestions** change that amount to get results.

[2020-11-08 17:38] ggazzo commented on #19083
closed by https://github.com/RocketChat/Rocket.Chat/pull/19132

[2020-11-08 17:38] #19083 closed

[2020-11-09 01:12] protist commented on #11914
@sampaiodiego I realised that because I'm running a 32-bit server, I'm stuck on an old version of Rocket.chat (1.3.2) so I'm not sure how useful troubleshooting will be. Nevertheless, it was a pretty standard install via snap. I can give you more details and logs if my version isn't too old for you to comment on.

[2020-11-09 08:32] frlan commented on #18990
@brtptrs  @Weuxel  We found a possible reason introduced with https://github.com/RocketChat/Rocket.Chat/blob/d01b83a16b1dad8b4ca4c65514d30505d5280757/app/api/server/lib/users.js#L7

[2020-11-09 08:46] Dave-zl commented on #19446
We have 55k pushes with little more users, its absolutely impossible...

+ when people are active on desktop, they are getting pushes to mobile phones, why? In the past, it wasnt working this way.

[2020-11-09 08:50] Nono-m0le commented on #19165
It seems that (among others), removing a message also generate this kind of unsupported syslog messages:
[code]

[2020-11-09 09:10] TBG-FR commented on #18770
Still waiting on an answer (about missing results) on #18913 and then I'll be able to finish the pull request and put it to review, it'll fix issues we discussed here

[2020-11-09 09:17] microsoft-sucks commented on #18770
Rocket.chat is so buggy, this one bug does not change much. They don't even want to help you fixing problems

[2020-11-09 09:22] frdmn commented on #19245
... `could-not-access-webdav`: looks like it can not access your webdav backend for some reason.

Can you also enable the `Show package` option in the Logs section of the admin UI? _Maybe_ it'll expand the `[object Object]`, with a bit more descriptive root cause.

[2020-11-09 09:30] frdmn commented on #19466
Seems to be a duplicate of:
- https://github.com/RocketChat/Rocket.Chat/issues/6174 (for removing)
- https://github.com/RocketChat/Rocket.Chat/issues/7235 (for disabling)

[2020-11-09 09:30] #19466 closed

[2020-11-09 10:05] inforviotech opened #19479 "Rocket Chat SSL Redirection"
Hello there,

I unable to find the "**rocketchat.conf**" configuration file,  I need to redirect my rocket chat URL http to https. can anyone help us to find the rocketchat.conf file location?

[2020-11-09 10:05] #19479 closed

[2020-11-09 10:25] Nono-m0le commented on #19293
still true with client 3.0.6

[2020-11-09 11:36] zdumitru commented on #19446
Yes, same here. It is using double the amount of notifications because of that. It used to not send notifications to mobile when the app/web-version is opened.

[2020-11-09 12:00] sampaiodiego commented on #11914
hi @protist .. version 1.3.2 is definitely too old now, a lot of work have been done on this feature since then.

I didn't know we had different version for 32 and 64 bits of the snaps.. is that still a thing @LuluGO @geekgonecrazy ? @protist can you maybe try using a different snap channel? see https://forums.rocket.chat/t/introducing-snap-tracks/5890
if doing anything with sensitive data, please

[2020-11-09 12:34] laliluna opened #19481 "On tablet/phone browser open JITSI video in new window fails"
### Description:

We use the setting to open a Jitsi conference always in a new window. Mainly because there is no way to resize the small Video window.    (Administration > Video Conference > Jitsi > Always Open in New Window)

Currently this fails on Tabletts/Smartphones using the browser. It does not open the new window. It does nothing at all.

### Steps to reproduce:

1. Enable the setting
2.

[2020-11-09 12:34] #19481 closed

[2020-11-09 14:05] mddvul22 opened #19482 "Need to be able to track Mobile Push notifications, by user"
### Description:

We can currently track how many mobile push notifications we are using at cloud.rocket.chat.  However, this only gives us usage statistics by month/day, for the entire organization.  Our organization needs to be also be able to track stats by individual user.

### Steps to reproduce:

1. Log into https://cloud.rocket.chat.
2. Click on workspace
3. We are provided an option to sel

[2020-11-09 15:58] BrendanBerkley opened #19483 "Omnichannel end users can't download files unless we disable frame-src CSP or whilelist all of s3"
### Description:

If we're chatting with a customer via omnichannel and we upload a txt file, that file's URL redirects to a s3.amazonaws.com URL, which gets blocked due to CSP rules.

Workarounds are to

- disable frame-src CSP
- whitelist s3.amazonaws.com
- instruct customer to right click the link and paste it into a new tab to get the file

### Steps to reproduce:

1. Set up live chat in an en

[2020-11-09 16:16] MartinSchoeler commented on #15793
Closing this due lack of response, if you still face this issue please reopen this. Thanks!

[2020-11-09 16:16] #15793 closed

[2020-11-09 16:19] MartinSchoeler commented on #18398
We did a ton of work to fix these blank pages on the user info, if any of you still face this issue with the latest develop version (or the upcoming release) please let me know. Thanks for all the feedback!

[2020-11-09 18:14] chaperonRose commented on #13967
Is the release of this feature planned ?
There is many issues about this and seeing who is owner or moderator of a room would be very useful for users.
Thanks by advance

[2020-11-09 22:29] dkoo761 commented on #17170
+1

It appears that after signing out, the Minimongo "users" collection on the client is not emptied:

Meteor.users.find().count() // === 1 after signing out

So when the user then tries to login again, Meteor tries to insert their user into the "users" collection, but it's already there.

I think a simple solution would be to remove all documents from the "users" collection on sign out? But maybe

[2020-11-10 01:25] tamatsuna opened #19490 "Where is msi package?"
I want to install 3.7.1 on my Windows PC by msi package, but I can't find the files.
I saw there were those files before.

[2020-11-10 01:25] #19490 closed

[2020-11-10 02:30] protist commented on #11914
Yep, unfortunately 32-bit is stuck at 1.3.2: https://github.com/RocketChat/Rocket.Chat.Embedded.armhf

[2020-11-10 05:32] qazero commented on #13950
Any update on this? Is there any button or way I can scroll to the top of a really long chat?

[2020-11-10 08:03] cgm-test commented on #6107
Would be nice if you could add a @owner tag to address the owner directly without knowing who it is.

[2020-11-10 10:18] bseclier opened #19492 "Desktop notifications and sounds not working with multiple rocket instances/nodes"
### Description:

Hello,
We have 12 rocketchat docker instances (behind an apache reverse proxy, all linked with one mongodb docker instance). The 12 instances are well shown in the admin menu (Exécution d'instances : 12 ; Oplog : Enabled).

We are using the sticky session method in order for a user to always be redirected to the same instance. This is done by a cookie (ex : route.1 or route.12).

[2020-11-10 11:27] sampaiodiego commented on #11914
oh, you're running on arm 🤔  @Sing-Li is there anything you help us here?

[2020-11-10 11:57] damian-centrone commented on #10900
This bug in no longer reproducible.

[2020-11-10 11:57] #10900 closed

[2020-11-10 11:59] damian-centrone commented on #13694
This bug is no longer reproducible

[2020-11-10 11:59] #13694 closed

[2020-11-10 11:59] damian-centrone commented on #10897
this bug is no longer reproducible

[2020-11-10 11:59] #10897 closed

[2020-11-10 12:00] damian-centrone commented on #10685
this issue is now working as expected.

[2020-11-10 12:00] #10685 closed

[2020-11-10 12:03] damian-centrone commented on #16264
This is working fine, there's a message displayed when no agent is available, and when it does, you can see the agent.

[2020-11-10 12:03] #16264 closed

[2020-11-10 12:08] damian-centrone commented on #9415
This is now working as expected

[2020-11-10 12:08] #9415 closed

[2020-11-10 12:10] emikolajczak commented on #19492
HI,
Do you have set `http_proxy`, `https_proxy` and `no_proxy` variables in docker containers?
If yes, it could be potentially an issue.

[2020-11-10 12:27] TheGreatRefrigerator commented on #9415
Hi @damian-centrone,

thanks for the update!
could you let me know, in which version this is fixed? We are running on 3.7.0. Would an update to 3.7.1 already fix this or should we wait for 3.8 ?

[2020-11-10 12:43] bseclier commented on #19492
Hi, I don't have any of it, here is my docker-compose file :

And here is my variables in a docker container :

[2020-11-10 12:46] damian-centrone commented on #9415
Im testing on 3.8.0-rc.8

[2020-11-10 12:46] emikolajczak commented on #19492
Check in `Admin -> Info` panel if in `Brodcasr Connected Instances`
![image](https://user-images.githubusercontent.com/50440047/98675884-1ff3ce80-235b-11eb-9057-cfd0a5665000.png)
for all instances.

[2020-11-10 12:57] bseclier commented on #19492
I don't have this part in the Admin / Info panel.
My guess is this is not shown because I don't have "extra_hosts:" in my docker-compose file. Am I correct ?
I thought this extra_hosts docker variable was not necessary because the 12 rocketchat instances are on the same VM.

[2020-11-10 13:54] Ishrat1401 commented on #17834
This issue can't be reproduced in the current version of Rocket chat. Now when you switch between the conversations, the scroll goes to the latest message at the bottom and you have an option to scroll to the first unread message at the top.

[2020-11-10 13:54] #17834 closed

[2020-11-10 14:54] foss- commented on #16264
@damian-centrone thanks for responding. Could you explain how it is possible to [automatically hide the chat when no agent is available](https://github.com/RocketChat/Rocket.Chat/issues/16264#issuecomment-658232403) please?

[2020-11-10 15:09] damian-centrone commented on #16264
The actual behaviour is showing the chat as inactive (grey) and if you click on that, you can leave an offline message, which I believe is a good practice. Hide the chat when no agent is available would be a new feature to discuss, maybe in another ticket.

greets!

[2020-11-10 16:01] foss- commented on #16264
I am aware of the offline mode, but it is not what I am requesting. Have filed [Feature Request #417](https://github.com/RocketChat/feature-requests/issues/417).

[2020-11-10 18:46] stleitner opened #19497 "Jitsi always open in new window opens multiple windows or reloads every 15 seconds"
### Description:

Jitsi video conference  "always open in new window" opens multiple windows or reloads every 15 seconds when clicking on phone symbol in direct chat

### Steps to reproduce:

1. activate video conference ; Jitsi ; domain: meet.jit.si or local ; URL room prefix: somecustomxyz; SSL: true; Always Open in New Window: true; URL room suffix: (empty) ; Enable in channels: true
2. open di

[2020-11-10 20:51] k-ahn commented on #18891
Any update on this?

[2020-11-10 21:01] immaro commented on #18769
Same here, the problem still persists in v 3.7.1

[2020-11-10 21:31] immaro commented on #19167
Same here (v 3.7.1).

Reverse case is also "valid" :
1. Unset "Send to Channel" globally;
2. Unset "Send to Channel" individually;
3. Start a new thread. The checkbox is still in place, the first message is sent to the thread anyway.

[2020-11-11 01:01] pbenkoe commented on #19225
Same here.

- Server: 3.7.1
- Client: any

[2020-11-11 05:20] Ishrat1401 commented on #14604
This issue is not valid now as the functionality has been updated.

[2020-11-11 05:20] #14604 closed

[2020-11-11 07:12] Ishrat1401 commented on #9174
Tested - this issue can't be replicated now. I assume this is fixed, hence closing it.

[2020-11-11 07:12] #9174 closed

[2020-11-11 07:19] ankar84 commented on #19492
@bseclier you need to set **INSTANCE_IP** for every instance
https://docs.rocket.chat/installation/manual-installation/multiple-instances-to-improve-performance#ensure-nodes-can-communicate

[2020-11-11 07:26] johnypeterson opened #19503 "Admin Panel is unreachable from mobile devices"
### Description:
After the server version update, when trying to open the Admin Panel from a mobile device, it switches to the weird-looking interface which resembles the desktop version. And it is impossible to do anything as admin.

### Steps to reproduce:

1. Log into your server via an Android app (being an Admin on this server).
2. Open the left-side menu.
3. Сlick on Admin Panel
4. Try to op

[2020-11-11 07:48] Ishrat1401 commented on #13715
This issue can't be replicated. It is not valid anymore as users can't log in with multiple accounts in the same browser.

[2020-11-11 07:48] #13715 closed

[2020-11-11 08:28] tmace85 opened #19504 "Exception while invoking method autoTranslate.getSupportedLanguages"
Good Morning Guys,

**Description:**

once in a while this error message appears in the log.

`Auto-Translate is not allowed [error-action-not-allowed]`

The feature is disabled and i removed it form  the authorisation page of the admin. The Error still apperas. The RocketChat applikation is running fine.

**Steps to reproduce:**

I can not exactly say.

**Expected behavior:**

The message did not

[2020-11-11 08:28] #19504 closed

[2020-11-11 09:51] fasttrackhost commented on #13715
@Ishrat1401 it was wrongly closed. nothing solved.

[2020-11-11 10:08] tmace85 commented on #19504
Hi,

I´ve updated the ticket with the relevant Template. Can you please open the issue again.

Thanks.

Cheers

Tim

[2020-11-11 10:26] ShreyasZare commented on #17748
same issue latest version:
![image](https://user-images.githubusercontent.com/10008172/98799606-5867db00-2435-11eb-99d2-4692ef51b30a.png)

Issue started after uploading a file. Apparently user here has to wait for 5 hours to send another message. User is able to send files though but gets `too-mant-requests` error for sending messages.

This issue does not always reproduce and affects only select

[2020-11-11 11:02] UAnton commented on #12587
RC 3.7.1

[code]

[2020-11-11 12:24] damian-centrone commented on #9233
This is already implemented. Tested on IOS and windows

[2020-11-11 12:24] #9233 closed

[2020-11-11 12:27] damian-centrone commented on #13715
Hello, maybe you can provide a recording of your screen using two different accounts in the same browser and actually sending messages with both of them. We tested on IOS and Windows and we couldn't reproduce.

thanks

[2020-11-11 12:33] ankar84 commented on #19209
@ggazzo @MartinSchoeler @gabriellsh
That issue still persist on open.rocket.chat on a 3.8.0-rc.9
![image](https://user-images.githubusercontent.com/4023037/98811839-84ce2800-2432-11eb-8333-10b83c40d6be.png)
![image](https://user-images.githubusercontent.com/4023037/98811862-8ef02680-2432-11eb-9749-40e8b755966d.png)
![image](https://user-images.githubusercontent.com/4023037/98812071-e7272880-2432-1

[2020-11-11 13:18] JohnLukeP opened #19505 "Rocketchat App window becomes blank after opening a Jitsi Conference"
### Description:

When opening a videocall from the Rocketchat windows desktop app (tested on 3.0.2 and 3.0.6), having "always open on a new windows" option enabled for video calls, the server/chat windows becomes blank  (grey) and unusable.
This happens since I've updated Jitsi Docker from 4857 (working properly) to 5142 (having this bug).
No problems, instead, if I use Rocketchat from web browse

[2020-11-11 13:23] JohnLukeP opened #19506 "Windows desktop app automatic updates not working"
Rocketchat app correctly notifies the user for a new version available, but when chosing to update it, nothing happens.
Same situation by trying to update from Help -> About Rocketchat.

### Steps to reproduce:

1. Choose to update the Windows desktop app when the update available notification appears OR from the "About Rocketchat"
section

### Expected behavior:

The app is automatically updated

[2020-11-11 13:34] tmace85 opened #19507 "Exception while invoking method autoTranslate.getSupportedLanguages"
Good Morning Guys,

### Description:

once in a while this error message appears in the log.

`Auto-Translate is not allowed [error-action-not-allowed]`

The feature is disabled and i removed it form  the authorisation page of the admin. The Error still apperas. The RocketChat applikation is running fine.

### Steps to reproduce:

I can not exactly say.

### Expected behavior:

The message did not

[2020-11-11 13:34] #19507 closed

[2020-11-11 13:44] JohnLukeP commented on #19335
Update: tested on Rocketchat server 3.7.1 and the bug for Apple Keynote (.key) files is still present.

[2020-11-11 13:53] ankar84 commented on #19506
Duplicate of https://github.com/RocketChat/Rocket.Chat.Electron/issues/1670

[2020-11-11 13:55] ankar84 commented on #19505
Duplicate of https://github.com/RocketChat/Rocket.Chat.Electron/issues/1841

[2020-11-11 14:38] johnypeterson commented on #19503
@d-gubert @ggazzo is there a chance that this will be fixed in the next release? You can read about this in the previously opened issue https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2532

[2020-11-11 19:25] haarbrandt commented on #10797
Hey Rocket.Chat. I also want to vote for this feature. With a medium sized company but many channels and chats it's essential to be able to memorize messages to read and/or answer them later. And it's a must have to have an overview about the starred messages on all channels. It's like your mail inbox where you can leave the read messages or label or flag the or whatever.

As other people already

[2020-11-11 20:07] MartinSchoeler commented on #19506
🔝

[2020-11-11 20:07] #19506 closed

[2020-11-11 20:10] MartinSchoeler commented on #19505
🔝

[2020-11-11 20:10] #19505 closed

[2020-11-11 20:11] MartinSchoeler commented on #19503
@johnypeterson are you using the Rocket.Chat app or accessing via browser? Thanks!

[2020-11-11 22:10] co340 commented on #18855
same prob here...

[2020-11-12 06:38] Ishrat-Manzoor commented on #15031
Hey Brendan
The behavior you are expecting here - "The best match (the first in the list) is selected when Enter is pressed" is valid only when the option is focused(highlighted), and in this case it is not so it won't be selected. You first need to set the focus to the specific option in the list using keyboard Up/Down keys.
When you press Enter it selects the option which happens to be under the

[2020-11-12 06:56] brendanheywood commented on #15031
No that's not what the behavior actually is. I've just retested it again and can replicate it at least on version | 3.0.7

Lets say I'm talking with `@peter` and we are going backwards and forwards mentioning each other. If I type quickly and press `@p` and then press tab it autocompletes to `@peter` and I keep typing. This is correct. If I repeat the exact same keyboard strokes and my mouse happe

[2020-11-12 07:20] johnypeterson commented on #19503
@MartinSchoeler I use Rocket.Chat app

[2020-11-12 08:43] Sx3 commented on #18737
Same issue here with version 3.6.2

[2020-11-12 10:38] bseclier commented on #19492
Thank you @ankar84, our problem seems to be that our nodes can't communicate each other, indeed, even if they are on the same host. We have any of these events working (Two different events are fired: 1. The user (you) is typing 2. Notify user (friend)).
We'll try to modify our docker infrastructure and let you know.
Thank you for your help.

[2020-11-12 10:48] ankar84 commented on #19492
Indeed that is. We had same issue when we only start using RC and `INSTANCE_IP` fixed that problem

[2020-11-12 10:57] ankar84 commented on #19209
@MartinSchoeler looks like https://github.com/RocketChat/Rocket.Chat/pull/19474 totally fixed that issue in 3.0.8-rc.10
I checked all users in my sidebar and all statuses are same in sidebar and chat header.
Let's take a look for statuses for next couple days, and if all fine, we can be sure that issue is gone.

[2020-11-12 10:58] dumka opened #19515 "Cannot read property 'getFilter' of undefined during file uploading"
### Description:

A file can't be uploaded. The header with the text "Cannot read property 'getFilter' of undefined" appears at the top of a chat.
The same error appears in both desktop and web clients. Several weeks after updating the server it has been working fine then this error appeared. Reboot didn't help.

### Steps to reproduce:

1. Drag and drop a file to a chat.
2. Press "Send" in the ap

[2020-11-12 11:07] ankar84 commented on #19442
Hi, @gabriellsh and thanks for your help!
For sure I can give you needed logs (maybe with some corrections in names and addresses) despite my env is a production env.

Actually I can do that in a near future when we enable Retention Policy and DB size will decrease, that I can try it in test env.

[2020-11-12 11:44] sampaiodiego commented on #16905
for some reason the UI is still trying to send the messages with the "click to join" button.. @ggazzo may you can take a look on this?

[2020-11-12 13:52] damian-centrone commented on #19315
hello, would you please open this request on https://github.com/RocketChat/feature-requests/issues
thanks

[2020-11-12 14:33] damian-centrone commented on #19308
This is already fixed. Tested on 3.8.0

[2020-11-12 14:33] #19308 closed

[2020-11-12 14:43] damian-centrone commented on #19417
This is already fixed. Tested on 3.8.0

[2020-11-12 14:43] #19417 closed

[2020-11-12 14:48] damian-centrone commented on #19406
This is already fixed. Tested on 3.8.0

[2020-11-12 14:48] #19406 closed

[2020-11-12 14:51] damian-centrone commented on #18789
Already fixed. Tested on 3.8.0

[2020-11-12 14:56] #19356 closed

[2020-11-12 15:00] damian-centrone commented on #19344
This issue is already fixed, you can now search for non latin characters. Tested on 3.8.0

[2020-11-12 15:15] damian-centrone commented on #19469
This is already fixed. tested on 3.8.0

[2020-11-12 15:15] #19469 closed

[2020-11-12 15:18] damian-centrone commented on #19437
this is already fixed. tested on 3.8.0

[2020-11-12 15:18] #19437 closed

[2020-11-12 15:35] narayanansampath commented on #19417
Do you mean 3.7.0? I do not see 3.8.0, the latest release was 3 days ago but I still have the same issue.

[2020-11-12 15:39] narayanansampath commented on #19417
This issue should not be closed, I still have this issue.

[2020-11-12 15:42] damian-centrone commented on #19417
It solved on the next version, 3.8.0. It will be available in a few days

[2020-11-12 16:23] ankar84 commented on #19344
@damian-centrone hey!
It would be nice if you let me check if that issue is solved or not by myself.

[2020-11-12 17:26] damian-centrone commented on #19344
Hello, this was tested on the next release available in a few days. I close the ticket for internal control purposes. When 3.8.0 is deployed and if you have the same issue, I can reopen.

[2020-11-12 17:58] BrettIUGO commented on #15031
Can confirm still happening on latest for us also. Just chiming in in case anyone's feeling like the whole thing is moot because the bug reporter switched chat software. :)

To put it simply, the mouse is changing the keyboard focus, even if not moved. It normally defaults to the 'best' option, but because of the location of the mouse pointer, will not. As mentioned above, it's weird for the mouse

[2020-11-12 18:54] dcorrigangoempyrean commented on #9611
I just encountered an issue where I need to set an announcement per our company policy to all channels and private groups.
Unfortunately, even though I am an admin, and can list all channels and private groups, I can't do anything with the private group without being a member. In my opinion, this is crippling the Admin role. I vote +1 for this issue!

[2020-11-12 22:22] lightweight commented on #19021
Yes, the complete lack of feedback on the form is very off-putting. And it doesn't appear to be sending the emails in my instance's case (3.7.1) either...

[2020-11-12 22:53] LazyBoot opened #19520 "Sending attachment fails"
Sending attachment fails with this error

![image](https://user-images.githubusercontent.com/3827482/99006088-3314c300-2542-11eb-82fb-035925470837.png)

[2020-11-12 22:53] #19520 closed

[2020-11-12 23:01] LazyBoot opened #19521 "Sending attachment fails"
### Description:

Sending attachment fails with references to temp files

### Steps to reproduce:

1. attempt to upload file (drag and drop or + followed by "add from computer"
2. click send

### Expected behavior:

Message with attachment gets sent

### Actual behavior:

After a quick processing this error appears, and no message is sent
![image](https://user-images.githubusercontent.com/3827482/

[2020-11-12 23:05] GulliblePsychologist opened #19522 "Built-in role descriptions reset"
# Description:
If you would be so kind as to _not_ keep resetting the Description of the built-in roles every time the RocketChat server reboots, that'd be great, thanks.

### Steps to reproduce:

1. Start RocketChat. Login to RocketChat. Go to Permissions and change the "Description" field of the "admin" role to an empty string. Click "Save" to save your changes.
2. The role description is now em

[2020-11-12 23:07] GulliblePsychologist commented on #14144
I have run into the same problem. I ended up emptying out the "Accepted Media Types" field under "File Uploads" in the settings, but even after repeated restarts, this does nothing.

Renaming my file to ".py.txt" allows me to upload it, but I would like to see this fixed ASAP so I don't have to use this workaround.

[2020-11-13 02:52] geekgonecrazy commented on #14349
I believe this now caps at 50.  Closing

[2020-11-13 02:52] #14349 closed

[2020-11-13 07:49] karatzanis commented on #18939
Both LDAP and Google OAuth reproduce the same behavior.
I cannot offer my users the possibility to log in without creating one more set of credentials for rocket.chat.
Is there any information (or solution) to this matter?

[2020-11-13 10:38] bseclier commented on #19492
You're right, it solved our problem !
Thank you both for your help :)
Cheers.

[2020-11-13 10:38] #19492 closed

[2020-11-13 11:48] JoJo2406 commented on #19433
Tested against 3.8.0-rc.11 and issue still remains

[2020-11-13 12:39] UniPAYNINJA commented on #13426
same issue

[2020-11-13 13:03] desser-code opened #19523 "Wrong IP address logging"
### Description:
Because rocket chat itself unfortunately does not yet offer the possibility to view blocked IP addresses and to unblock them manually, I tried to write my own script for it.
I noticed that the wrong IP address for login attempts is being logged in the server logs.

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

Show the real external ip address from user

### Actual be

[2020-11-13 22:57] sarvasvaKhare commented on #19522
I would like to work on it.

[2020-11-13 23:06] AdityaSamantaroy opened #19530 "Links for Project Dependencies and devDependencies Status not working in README.md"
### Description:

The links for _Project Dependencies_ and _devDependencies Status_  at the top of README.md file are not working.
### Steps to reproduce:

1. Go to README.md
2. Click on the links for _Project Dependencies_ and _devDependencies Status_, under the rocket.chat logo at the top.
3. The images aren't visible and the links aren't working.

### Expected behavior:

The links should direct

[2020-11-14 09:00] MichaelSluydts opened #19535 "Failure to start rocketchat 3.8 after update"
I tried updating rocketchat today and it failed to start with the new version, downgrading fixed it again. Is there some kind of package incompatibility?

Nov 14 03:54:53 ip0.ip-51-178-4.eu rocketchat[4845]: /opt/Rocket.Chat/programs/server/node_modules/fibers/future.js:280
Nov 14 03:54:53 ip0.ip-51-178-4.eu rocketchat[4845]:                                                 throw(ex);
Nov 14 03:54:

[2020-11-14 09:00] #19535 closed

[2020-11-14 09:05] MichaelSluydts opened #19536 "Rocketchat failing to start after 3.8 update"
#### Operating System / Version / Architecture:
CentOS 8 64 bit
#### Browser type and version, including any add-ons. :
server-side issue
#### Rocket.Chat version:
upgrading 3.7.2 to 3.8
#### Expected behavior:
rocketchat starting
#### Actual behavior:
rocketchat failing to start

#### Can the bug consistently be reproduced? If so, how?
Yes, I use the following code:
#! /bin/bash
sudo systemctl st

[2020-11-14 09:06] #19536 closed

[2020-11-14 09:09] MichaelSluydts opened #19537 "Rocketchat not starting when upgrading from 3.7.2 to 3.8.0"
### Description:

Rocketchat fails to start after updating from 3.7.2 to 3.8.

### Steps to reproduce:

sudo systemctl stop rocketchat
sudo rm -rf /opt/Rocket.Chat
curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
tar -xzf /tmp/rocket.chat.tgz -C /tmp
cd /tmp/bundle/programs/server && npm install
sudo mv /tmp/bundle /opt/Rocket.Chat
sudo chown -R rocketchat:rocketchat /o

[2020-11-14 09:34] Slupi commented on #19537
I had the same issue. A node update to version 12.18.4 fixed the problem for me.

[2020-11-14 10:29] bombaata commented on #18789
Tested on 3.8.0, still happens if user didn't fill his Name in profile.

[2020-11-14 12:16] PlusaN commented on #19461
I see the same problem on versions 3.7.1 and 3.8.0. I tried to synchronize users on the test server by enabling LDAP-Group-Sync and realized what the problem was.
After synchronization, the user was created successfully, but when trying to log in, the chat was loaded endlessly:
![image](https://user-images.githubusercontent.com/61884717/99146670-54cd9180-268b-11eb-8081-c2b3c014cda2.png)
I got nume

[2020-11-14 13:00] jacotec commented on #19535
Had the same issue, update node to 12.18.4!

[2020-11-14 13:08] jacotec opened #19538 "Push messages to own whitelabel app fully broke in 3.8.0"
### Description:

After updating RocketChat from 3.7.1 to 3.8.0, Push messages to my own whitelabel-app fully stopped working. Need to revert to 3.7.1 due to this major issue.

### Steps to reproduce:

1. Server with 3.7.1 and own whitelabeled app 4.12.0 working perfectly
2. Update server to 3.8.0
3. Push messages fully stopped working (at least to IOS devices)

### Expected behavior:

Push messag

[2020-11-14 13:13] fallen commented on #2292
Still an issue for me on Debian Stretch 9.13
[code]

[2020-11-14 13:13] jacotec commented on #19537
Confirm @Slupi , made the same experience.

[2020-11-14 13:22] fallen commented on #19537
Same issue here with node 12.19.0

[2020-11-14 13:40] irgendwie commented on #19537
Maybe some of you fell into the same pit as me (manual installation on Ubuntu 20.04) - Rocket.Chat doesn't seem to use the system's version of node but instead relies on the `n` managed version (compare https://docs.rocket.chat/installation/manual-installation/ubuntu).

Check the output of:
`/usr/local/bin/node --version`
and:
`/usr/bin/node --version`

As a solution I ended up with symlinking the

[2020-11-14 13:43] MichaelSluydts commented on #19537
I confirm installing the specific version of 12.18.4 through n fixes the problem, which I guess is indeed the listed version. Not sure if we expect compatibility with any other versions. Should I close this or leave it for further investigation?

[2020-11-14 13:53] fallen commented on #19537
I'm on Debian Stretch 9.13, what fixed my issue was installing node 12.18.4 using 'n' by doing:
[code]

By default, following the install documentation ( https://docs.rocket.chat/installation/manual-installation/debian/ ) had me install NodeJS 12.19.0

[2020-11-14 14:01] irgendwie commented on #19537
Yes and no - it install 12.19.0 (current version of node-js supplied through the debian package). Later in the guide the specific version 12.14.0 gets installed (under /usr/local/bin/ - higher preference in the PATH):

As 12.14.0 doesn't seem to be current enough anymore you can either install 12.18.4 (as many did) but 12.19.0 (supplied through the debian package) seems to also be fine:

Nov 14 14

[2020-11-14 14:04] binarydad commented on #19537
Worked for Ubuntu 18.04 as well.

[2020-11-14 14:49] rodrigok commented on #19538
@jacotec thanks for the report, we are investigating the reason and we will release a fix ASAP.

[2020-11-14 15:29] PlusaN opened #19539 "Endless chat loading when LDAP-Group-Sync is enabled"
### Description:

Endless chat loading when LDAP-Group-Sync is enabled.

### Steps to reproduce:

1. Update from 3.6.2 to 3.7.1
2. Add new user in ActiveDirectory
3. Execute Synchronization

### Expected behavior:

Granting rights based on LDAP groups

### Actual behavior:

![99147001-3e750500-268e-11eb-9820-c9b741b86a3e](https://user-images.githubusercontent.com/61884717/99150509-32953d00-26a6-11

[2020-11-14 15:32] cassiojj commented on #19319
Hello, in my case was resolved, uncheckeding the value **Find user after login**, in LDAP Configurations.

[2020-11-14 16:02] PlusaN commented on #5900
This problem is observed only with new users, old users that were created in version 3.6.2 work fine.

[2020-11-14 16:02] PlusaN commented on #19539
This problem is observed only with new users, old users that were created in version 3.6.2 work fine.

[2020-11-14 16:08] andylin2004 opened #19540 "Menu bar icon for rocket.chat is incorrect color in light mode"
### Description:

### Steps to reproduce:

1. Go launch Rocket.Chat from either the launchpad, dock, or finder.
2. Rocket.Chat menu bar item should appear in the menu bar

### Expected behavior:

Rocket.Chat outline icon to appear in white outline on menu bar

### Actual behavior:

Rocket.Chat outline icon to appear in black outline on menu bar
<img width="1440" alt="Screen Shot 2020-11-14 at 11 0

[2020-11-14 16:08] #19540 closed

[2020-11-14 16:11] andylin2004 opened #19541 "Rocket.Chat menu bar icon should have a white outline, not a black outline in light mode"
### Description:

Rocket.Chat icon in light mode shows up as Rocket.Chat icon with black outline

### Steps to reproduce:

1. Set appearance system-wide to light mode.
2. Go launch Rocket.Chat from either the launchpad, dock, or finder.
3. Rocket.Chat menu bar item should appear in the menu bar

### Expected behavior:

Rocket.Chat outline icon to appear in white outline on menu bar in light mode.

[2020-11-14 16:29] #19539 closed

[2020-11-14 16:49] bellegarde-c opened #19542 "Avatar missing from status menu since 3.8.0"
### Description:

Avatar is missing in status menu

### Steps to reproduce:

Open Console

### Expected behavior:

No error

### Actual behavior:

GET https://www.*****-**********.********-*************.fr/avatar/***********-c?etag=La5RY5pr4qZLbR9EZ 404 (Not Found)

Tried without revaccess, same issue.

Changing avatar works, the avatar is changed in conversations but not in status menu.

### Serv

[2020-11-14 17:55] mr-bobdobalina commented on #19537
Confirming for CentOS 7 running:
sudo n install 12.18.4

Then following the standard manual upgrade procedure fixed the issue.

[2020-11-14 21:47] nooblag commented on #19268
This issue still persists in 3.7.1.

[2020-11-14 21:49] nooblag commented on #18983
Any ideas?

[2020-11-14 21:53] nooblag commented on #18983
Issue persists in 3.7.1, but error message appears as "[undefined]" and not "Internal Server Error [500]" as before.

[2020-11-14 22:56] #17981 closed

[2020-11-15 02:38] zenjabba commented on #19065
Showing up again in 3.8.0

[2020-11-15 07:01] poorhoseini commented on #17124
Any good news for call notification?

[2020-11-15 09:26] python-megapixel commented on #18855
I am having the same problem... this issue has been open for more than 3 months at this point and nobody has responded with a fix...

At the very least the Heroku deploy button should be removed from the README until such time as a solution can be found.

[2020-11-15 11:52] rusty1281 opened #19544 "Sidebar channel and user menu dropdown not working in 3.8"
### Description:

Since version 3.8, in the main channel sidebar (left side) I am unable to call the channel or PM dropdown menu using the 3 dots

### Steps to reproduce:

1. clicking on the channel/user/discussion menu icon in the sidebar

### Expected behavior:

Menu with actions (Hide, leave, etc)

### Actual behavior:

Clicking on the menu icon nothing happens (multiple browsers, including the

[2020-11-15 15:56] BizClimb opened #19545 "RocketChat fails to start after upgrading from 3.7.1 to 3.8.0."
### Description:

Followed the standard upgrade procedure I use, manually each time on my server. Usually on first startup there are some migrating outputs, but this time it just immediately failed to start.

### Steps to reproduce:

Start with 3.7.1 server, then manually upgrade by using the following commands:
1. curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
2. tar

[2020-11-15 15:58] BizClimb commented on #19545
Might be a duplicate of #19537 but I will check.

[2020-11-15 16:25] Safemode commented on #19545
I was also on 3.7.1 with NodeJS at version 12.14.0. I've also had this server install since Jan2019, and have just been continually upgrading without any issues previously. After doing a specific node install to v12.18.4 from the referenced issue above, everything started right up for me.

[2020-11-15 16:58] Redleks commented on #19545
Check node version:

`/usr/local/bin/node -v`

It's should be 12.18.4

[2020-11-15 19:41] amahbadi opened #19546 "Only the last new message is visible"
### Description:

When the number of messages sent to a user exceeds 1 message, only the last one is displayed in the mobile application. This problem is not seen in the web application.

### Steps to reproduce:

1. Notification arrives
2. Open Mobile app
3. Find user and and open chat with this user

### Expected behavior:

 All new messages from this user loaded and shown

### Actual behavior:

[2020-11-15 20:26] bezerker opened #19547 "Helm Repository deprecated? Any newer upstream repo?"
Hey all,

Looks like as of Friday the stable chart is deprecated and I notice it's a bit out of date as a result. Is there a new location for this chart?

[2020-11-15 20:26] #19547 closed

[2020-11-15 20:47] fallen commented on #19537
You're actually right, one would need to edit the tutorial I guess.

[2020-11-15 21:00] fallen commented on #19537
I've proposed a PR to update the manual install doc => https://github.com/RocketChat/docs/pull/1826

[2020-11-16 03:58] pty819 opened #19548 "One key deployment on heroku not working"
mongolab has been removed from heroku so the one key deployment script wont work until something instead has been applied. please fix it

[2020-11-16 03:58] #19548 closed

[2020-11-16 04:20] bhdung commented on #18469
Same error without LDAP

[2020-11-16 04:37] ya332 commented on #18855
`mlab` add on is discontinued starting from November 10th, 2020. Manual migration is needed. I found some info [here](https://docs.mlab.com/shutdown-of-heroku-add-on/#what-action-is-required-how-can-i-keep-my-application-running)

[2020-11-16 06:11] #19523 closed

[2020-11-16 06:13] desser-code commented on #19545
`sudo n install 12.18.4` worked for me

[2020-11-16 06:19] bhdung commented on #19544
Same error

[2020-11-16 06:25] abartl commented on #17223
Have you been able to solve this in the end? I have the same issue

[2020-11-16 07:38] stefanandres opened #19549 "deployment - kubernetes helm chart in the stable repo is now deprecated"
### Description:

Since Nov 13. 2020 the stable/rocketchat repo and helm chart is deprecated and cannot be used for further updates to the helm chart.

https://github.com/helm/charts/tree/master/stable/rocketchat#%EF%B8%8F-repo-archive-notice
https://github.com/helm/charts#%EF%B8%8F-deprecation-and-archive-notice

### Expected behavior:

Find a new space for the helm chart and document it.

### Ac

[2020-11-16 07:38] #19549 closed

[2020-11-16 07:41] stefanandres opened #19550 "deployment - kubernetes helm chart in the stable repo is now deprecated"
### Description:

Since Nov 13. 2020 the stable/rocketchat repo and helm chart is deprecated and cannot be used for further updates to the helm chart.

https://github.com/helm/charts/tree/master/stable/rocketchat#%EF%B8%8F-repo-archive-notice
https://github.com/helm/charts#%EF%B8%8F-deprecation-and-archive-notice

### Steps to reproduce:

1. Install rocketchat via the official helm chart
2. Find o

[2020-11-16 07:59] dumka commented on #19515
Update to 3.8.0 didn't help.

[2020-11-16 08:00] emikolajczak opened #19551 "Question - MongoDB version"
### Description:

Hi, I have a question about supported MongoDB versions.
In docs you recommend 3.6.9 version but this version is EOL next april.
We have 4.0.14 and working with it without any issues.
Do you tested and recommend newer version 4.2 or 4.4 or we should stay with 4.0?

### Steps to reproduce:

1. Check MongoDB version.

### Expected behavior:

n/a

### Actual behavior:

n/a

### Serve

[2020-11-16 08:30] maxfiedler commented on #17371
We are facing the same issue on encrypted channels.
We are using both Firefox and Chrome browser applications as well as iOS and Ubuntu 20.04 desktop apps

[2020-11-16 08:42] bjozet opened #19552 "https://releases.rocket.chat/3.8.0/downloads sends version 3.7.2"
### Description:

Our deployscript tries to download specific versions of rocket.chat when deploying. When we want to upgrade to 3.8.0, we try to get the latest .tar.gz from https://releases.rocket.chat/3.8.0/downloads, however this redirects to version 3.7.2.

### Steps to reproduce:
[code]
### Expected behavior:

I expect to receive version 3.8.0 from that url.

### Actual behavior:

Server send

[2020-11-16 08:42] #19552 closed

[2020-11-16 08:45] bjozet opened #19553 "https://releases.rocket.chat/3.8.0/download sends version 3.7.2."
### Description:
Our deployscript tries to download specific versions of rocket.chat when deploying. When we want to upgrade to 3.8.0, we try to get the latest .tar.gz from https://releases.rocket.chat/3.8.0/download, however this redirects to version 3.7.2.

### Steps to reproduce:
[code]

### Expected behavior:
I expect to receive version 3.8.0 from that url.

### Actual behavior:
Server sends 3

[2020-11-16 09:32] maxfiedler commented on #17371
when i try to type sth myself i get `can not read property 'slice' of undefined`

[2020-11-16 09:59] maxfiedler commented on #17371
this happens currently on the browser application for me

[2020-11-16 10:15] Bengrunt commented on #19550
Hi, I just opened an issue related to this in the repo that seems to be supposed to host the chart at some point.

https://github.com/RocketChat/helm-chart/issues/2

In the meantime, you can follow these instructions to fix the `stable` chart repository in helm and use the proper tag to deply, i.e. `helm upgrade my-relase stable/rocketchat --set image.tag=3.8.0`.

Just used this to upgrade our roc

[2020-11-16 10:26] phriedrich commented on #19541
This ticket should probably be moved to: https://github.com/RocketChat/Rocket.Chat.Electron

[2020-11-16 10:42] commando957 opened #19554 "messege box"
When i resize rocketchat APP on Windows messege box just disappear and when i press again resize messege box appear again can someone help me with this

[2020-11-16 10:42] #19554 closed

[2020-11-16 11:00] commando957 opened #19555 "Rocket chat (messege box)"
When resizing rocket chat APP messege box disappearing and when doing it again just pop up can someone help me

[2020-11-16 11:00] #19555 closed

[2020-11-16 11:06] DEREKMD1992 commented on #19319
I have update my server to 3.7.1 and the problem was resolved

[2020-11-16 11:06] #19319 closed

[2020-11-16 11:19] damian-centrone commented on #19293
This is already fixed. tested on 3.8.0

[2020-11-16 11:19] #19293 closed

[2020-11-16 11:25] poVoq commented on #3661
https://github.com/Johni0702/mumble-web/tree/webrtc
Is an implementation of Mumble over webRTC. Could probably be adapted for rocket.chat.

[2020-11-16 11:25] damian-centrone commented on #18805
already fixed. tested on 3.8.0

[2020-11-16 11:25] #18805 closed

[2020-11-16 11:30] damian-centrone commented on #18680
Nothing to fixe here, tested memory usage on 3.8.0 and its normal.

[2020-11-16 11:30] #18680 closed

[2020-11-16 11:46] damian-centrone commented on #18529
already fixed. Tested on 3.8.0

[2020-11-16 11:46] #18529 closed

[2020-11-16 11:53] damian-centrone commented on #19111
this is already fixed. Tested on 3.8.0

[2020-11-16 11:58] damian-centrone commented on #19112
This is already fixed. Tested on 3.8.0

[2020-11-16 11:58] #19112 closed

[2020-11-16 12:27] faab007 opened #19556 "Can delete google account"
When a user logs in with google they can't delete there account.
To confirm it asks for the username but the input box is a password box and when submitted it gives an error.
_Invalid username [error-invalid-username]_

### Server setup

- Version of Rocket.Chat Server: 3.6.2
- Operating System: Ubuntu 20.04
- Deployment Method: snap
- Number of Running Instances: 1
- NodeJS Version: 12.16.1
- Mon

[2020-11-16 12:27] #19556 closed

[2020-11-16 12:31] faab007 opened #19557 "Can delete google account"
### Description:

When a user logs in with google they can't delete there account.
To confirm it asks for the username but the input box is a password box and when submitted it gives an error.
I used snaps to install Rocket.chat

**Error:** _Invalid username [error-invalid-username]_

### Steps to reproduce:

1. Account settings
2. Delete account
3. Enter info
4. click button
5. get error

### Exp

[2020-11-16 13:05] andylin2004 commented on #19541
Ok, thank you. This will be closed and moved.

[2020-11-16 13:05] #19541 closed

[2020-11-16 13:33] no-nice-username commented on #16148
Bump for the thread. The issue still exists, but is closed for no reason.

[2020-11-16 14:14] #19476 closed

[2020-11-16 14:25] MartinSchoeler commented on #19545
Yep it is, please use that issue for discussion. Thanks!

[2020-11-16 14:25] #19545 closed

[2020-11-16 14:26] MartinSchoeler commented on #19551
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2020-11-16 14:26] #19551 closed

[2020-11-16 14:29] MartinSchoeler commented on #19542
@bellegarde-c how did you set up your avatar initially? Link, Gravatar or upload? Thanks!

[2020-11-16 14:30] bellegarde-c commented on #19542
Was uploaded. If I upload another avatar, it is shown in conversations but not in menu.

[2020-11-16 14:31] bellegarde-c commented on #19542
It's a clone of our RocketChat server (for testing) so the server name changed, can it be the issue ?

[2020-11-16 14:33] damian-centrone commented on #19544
couldn't reproduce, tested on  macOS 11 Big sur, desktop and browser app

[2020-11-16 14:37] damian-centrone commented on #19521
couldnt reproduce, tested with 3.8.0 browser and dektop app versions.

[2020-11-16 14:37] #19521 closed

[2020-11-16 14:41] MartinSchoeler commented on #19542
Can you check the image url via inspector, both the ones on the conversation and sidebar? This way we can see if the name changes something in its url. Thanks!

[2020-11-16 14:41] dumka commented on #19515
For some reason Storage Type changed to Google Cloud by itself. Having changed it back resolved the issue. Closed.

[2020-11-16 14:41] #19515 closed

[2020-11-16 14:46] damian-centrone commented on #19396
couldnt reproduce the issue, tested on 3.8.0 cloud app version

[2020-11-16 14:46] #19396 closed

[2020-11-16 15:21] wadouk opened #19558 "Emoji in firefox very slow to show"
### Description:
When clicking on emoji selector, it's quite slow, the tab is freezing

### Steps to reproduce:

1. Compose a message
2. Add an emoticon/emoji
3. Wait for displaying it

### Expected behavior:

Instantly shown

### Actual behavior:

10s to display it

### Server Setup Information:

- Version of Rocket.Chat Server: 3.8.0 (was OK 3 versions behind)
- Operating System: Debian
- Deploy

[2020-11-16 15:36] adrianovieira commented on #19553
Same behaviour here

[2020-11-16 16:50] dlecan commented on #17786
thank you @pazande, I had the same issue, but only on Brave browser (see https://github.com/RocketChat/Rocket.Chat.Livechat/issues/531).
I have disabled the option "Restrict access inside any Iframe" and have refreshed the page with my widget and it works fine now.

[2020-11-16 16:57] #16658 closed

[2020-11-16 17:15] NOLANKANGYI opened #19559 "Origin https://yoursite.com is not allowed by Access-Control-Allow-Origin."
### Description:

### Steps to reproduce:

1. deploy rocket chat by helm
2. upload file

### Expected behavior:

File uploaded

### Actual behavior:

Every type of file can be uploaded except .pdf file

### Server Setup Information:

![IMG_5911](https://user-images.githubusercontent.com/42437228/99285252-99962b80-2837-11eb-85a5-45fc8287d98c.JPG)

[2020-11-16 17:15] #19559 closed

[2020-11-16 17:20] kangyili opened #19560 "Origin https://exemple.com is not allowed by Access-Control-Allow-Origin."
### Description:

### Steps to reproduce:

1. deploy rocket chat by helm
2. upload file

### Expected behavior:

file uploaded

### Actual behavior:

every type of file can be uploaded except .pdf file

### Server Setup Information:

- Version of Rocket.Chat Server: 3.6.3
- Operating System: Linux
- Deployment Method: helm
- Number of Running Instances: 2
- DB Replicaset Oplog: 2 replicasets
- Nod

[2020-11-16 18:46] pty819 opened #19562 "Heroku one click script cant work"
### Description:
after click the one click heroku button:

Something went wrong:
The addon "mongolab" does not exist. Please ensure that the addon is spelled correctly.

### Steps to reproduce:

click the one-click heroku install button

### Expected behavior:

rocket chat can be installed well

### Actual behavior:

mongolab has been removed from heroku so the installation cant continue.

### Ser

[2020-11-16 19:29] bkraul opened #19563 "Image not displayed when clicking thumbnail preview"
### Description:

When an image is attached to a message, clicking on the image thumbnail preview does not display the image. The console returns the following error:

[code]
### Steps to reproduce:

1. Update to latest develop image (3.9.0) (2ab1a10)
2. Attempt to attach an image to a message.
3. Once the image uploads, try clicking on it to view it.

### Expected behavior:

Larger image should b

[2020-11-16 20:20] aleadco commented on #19046
This issue is not yet resolved with the 3.8.0 update

[2020-11-17 00:10] stleitner commented on #19497
If "Enable room name hash" is enabled, only one video conference window opens as expected. Seems to be a problem when opening without the hash, then three or more windows are opened.

Workaround: use ugly hashed room name in the title.

[2020-11-17 02:33] meomay503 commented on #19553
`docker pull rocket.chat:latest` returns version 3.7.2 as well

[2020-11-17 02:55] geekgonecrazy commented on #19396
also a note.. if happens again it should give much more clear reason as to why it didn't work or at the very least a requestid that we can reference to find out what happened

[2020-11-17 06:38] stenrose commented on #19065
Also having this showing up in 3.8.0. Have not seen before.

[2020-11-17 07:32] onigoetz commented on #19065
Same here in 3.8.0. Instances (3) seem to work fine though

[2020-11-17 08:03] EnCz commented on #19542
Same issue I think:
![image](https://user-images.githubusercontent.com/7642122/99362292-980a4900-28b3-11eb-81f1-76420fa1a88f.png)

Sidebar:
![image](https://user-images.githubusercontent.com/7642122/99362344-a8222880-28b3-11eb-8087-a570c6ec5b4b.png)

Channel-Header:
![image](https://user-images.githubusercontent.com/7642122/99362463-d273e600-28b3-11eb-95dc-3a2b114adf0a.png)

[2020-11-17 08:08] bellegarde-c commented on #19542
Not the same...

Here, the status menu is missing my rocketchat subfolder /rocket !

![Capture d’écran du 2020-11-17 09-05-29](https://user-images.githubusercontent.com/57196916/99362909-5fb73a80-28b4-11eb-850f-88e5429bbfae.png)

Channel  is using /rocket:

![Capture d’écran du 2020-11-17 09-05-52](https://user-images.githubusercontent.com/57196916/99362943-6b0a6600-28b4-11eb-8f24-1cb42df6fa76.png

[2020-11-17 08:28] HoffErik-JohnerInst opened #19566 "Bbot isn't working anymore"
### Description:

My Bbot boilerplate-bot isn't working anymore since 3.8. Even the example-commands aren't working anymore. The bot tries to retrieve the roomID and the messageID, both are now "undefined" as well as the userID.

### Steps to reproduce:

1. Start the bot "npm start" for ex.
2. Send a valid command through Rocket, "hi" for ex.

### Expected behavior:

The bot should answer with "he

[2020-11-17 08:43] prenner0 commented on #13003
Same problem here with Rocket.Chat 3.7.1.

[2020-11-17 08:46] Nono-m0le commented on #19293
@damian-centrone do you know when this will be available for snap install ?

[2020-11-17 08:53] ImaCrea commented on #18486
Hello, would be great to have some news here please.

We're stuck on our side and can't find a way to properly embed RC :/

[2020-11-17 10:18] JoJo2406 commented on #19433
Tested against 3.8.0 release and its still the same.

[2020-11-17 10:19] JoJo2406 commented on #19566
Same issue with Hubot https://github.com/RocketChat/Rocket.Chat/issues/19433 looks like 3.8.0 has broken all bot integrations

[2020-11-17 10:20] ataraxus opened #19567 "Hubot is breaks with rocket: 3.8.0"
### Description:

Hubot of us crashes when receiving message, worked from 2.x up until 3.8.0

### Steps to reproduce:

Subscribe to channel
receive message

### Expected behavior:

no crash

### Actual behavior:

Crashes

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
-

[2020-11-17 10:21] ataraxus commented on #19566
jep... quick and dirty fix and analysis here: #19567

[2020-11-17 10:22] ataraxus commented on #19433
Can confirm issue(#19567)... impacts production systems of ours...

[2020-11-17 10:33] desser-code commented on #19544
Why do you close this? This error isn't solved. I've the same problem with multiple system since server update to 3.8.0.

[2020-11-17 10:38] desser-code commented on #19537
`sudo n install 12.18.4` worked for me too. I think this can be closed.

[2020-11-17 10:43] ankar84 commented on #16851
3.7.1 DDP work in general, but anyway can stop all RC stuff
![image](https://user-images.githubusercontent.com/4023037/99380204-af106180-28da-11eb-8d8b-d8c30d411b8f.png)
![image](https://user-images.githubusercontent.com/4023037/99380266-c51e2200-28da-11eb-976e-045cd7669f14.png)
![image](https://user-images.githubusercontent.com/4023037/99380326-d9621f00-28da-11eb-8746-853963b3469b.png)
![image](h

[2020-11-17 10:54] phriedrich commented on #19544
@desser-code I too can't reproduce this problem. Do you maybe have something set in "Layout → Custom CSS"?

I had another problem with high load on idle in Safari, and while searching for a solution, I noticed that when I set `transition: none;` for the wrong class, this menu stopped working.

[2020-11-17 11:06] cortex3 commented on #19446
To add my own experiences here:

We're a company with 100-200 active users per day.
Within those I'm guessing we have maybe ~30 people using the app.
And from my experience I get ~10 push notifications on a WORK day.
So if i calculate 30 apps * 10 messages * 31 days. It would only be around 9300 push notifications.

Yet in september the Graph showed 143.000 push notifications.
This seems impossibl

[2020-11-17 11:08] mosesdd commented on #18398
Still the same problem with 3.8.0

[2020-11-17 11:09] phriedrich opened #19568 "High CPU usage in Safari caused by status bullets in sidebar"
### Description:

Happens only in Safai not in Firefox on same system, maybe a bug in the browser. In this case we can leave it, but a workaround is noted below.

### Steps to reproduce:

1. open Rocket.Chat
2. wait and do nothing
3. high CPU usage (increases with number of contacts in the sidebar)

### Expected behavior:

Low CPU usage.

### Actual behavior:

![High load](https://user-images.gith

[2020-11-17 12:00] desser-code commented on #19544
There are custom css entries. However, I removed it and the problem still occurs. I have noticed that the event flag is not set on a system when it is clicked and the required function is not performed.
Function:
onTransitionEnd

function() {
  for (var e, n = [], r = 0; r < arguments.length; r++) n[r] = arguments[r];
  return (e = t.current).call.apply(e, v([void 0], n))
}

[2020-11-17 12:07] rusty1281 commented on #19544
I have also tried that even before opening this issue, but the problem remains. To make things more strange, other users of the same server (also with BigSur for example) using the same desktop and/or web clients have no problems at all.

Option to leave or hide the channel on mobile (iOS) with the same server, works fine and the result is immediately visible. So really not sure what to make of th

[2020-11-17 12:30] damian-centrone commented on #19369
could not reproduce the issue, tested on 3.8.0

[2020-11-17 12:30] #19369 closed

[2020-11-17 12:34] damian-centrone commented on #19086
Could not reproduce the issue, tested on 3.8.0

[2020-11-17 12:36] sampaiodiego commented on #19538
hi @jacotec .. did you got any error during server initialization regarding APN configuration? it should appear in the form of:
[code]

I'm asking because I couldn't reproduce the error.. Once everything is configured, the push worked just fine.

[2020-11-17 12:36] damian-centrone commented on #18925
could not reproduce the issue. Tested on 3.8.0

[2020-11-17 12:36] #18925 closed

[2020-11-17 13:22] yasirrose commented on #19293
@damian-centrone it is not fixed. I have tested with 3.8.0.
Screencast: https://drive.google.com/file/d/1CybjV_D1G0GEUBfdI-hM5YuppaRiRCke/view?usp=sharing

@Nono-m0le

[2020-11-17 13:26] yasirrose commented on #19111
@damian-centrone

It still has some issue. Please see screencast: https://drive.google.com/file/d/1zt3CmzAX3r6VTBvuURjAzx1mLzlMO7wH/view?usp=sharing

[2020-11-17 13:41] jacotec commented on #19538
Hi @sampaiodiego
not that I was aware. Are we talking about the GUI, or error in the logs? I definitely checked the APN certs, they looked good.
I can retry the update later today (need to look a bit to the "when" as it's my production server) ... what do I need to have a look at?

[2020-11-17 13:45] bkraul commented on #19563
Commit 48af214 does not seem to have this problem.

[2020-11-17 13:50] sampaiodiego commented on #19538
sry, keep a look on server logs during start up.. you can also increase the log verbosity by going into Admin > Logs > Log Level, and set to `2 - Errors, Information and Debug`..

btw I'm looking into update the settings to allow an easy way to configure the certificates using the `.p8` file..

[2020-11-17 13:51] damian-centrone commented on #19111
can you share more info of your setup? because I still cant reproduce this. I tested on win, mac, desktop app and browser

[2020-11-17 13:52] sleeplessnight2 commented on #4427
It's working perfekt since 3.7.1
But only on desktop Clients or the Browser.

The Mobile Client seems use another css-style "command" or it's fixed at the app itselfs. Does someone knows wich? Would be helpful for all others...

Would be nice for a reopening the case. Or just delete the whole Custom-Emoji section. There's no point in having a custom emoji if you can't recognize it.

[2020-11-17 13:58] jacotec commented on #19538
Wouldn't using the APN key be a still more easy method? Like Firebase does for sending messages via Apple?

[2020-11-17 14:27] sampaiodiego commented on #19538
sry I'm not that about the naming.. looking at documentation of the lib we use, they call it as "Provider Authentication Tokens" (see docs at https://www.npmjs.com/package/apn#connecting)

in this case you'd need to inform a token key, a key Id and a team Id.

[2020-11-17 14:40] micleclickme commented on #15787
Same here on v. 3.7.0
Account registration from account services is disabled. I have to set empty list for default roles via oauth.
![image](https://user-images.githubusercontent.com/7793751/99403812-ee02df00-28fb-11eb-9f92-72b4050ccb25.png)
But user still able to login.
![image](https://user-images.githubusercontent.com/7793751/99403871-02df7280-28fc-11eb-904a-1d155a69bedd.png)

[2020-11-17 15:05] yasirrose commented on #19111
@damian-centrone My server setup is on Centos 7. I followed this link for setup: https://docs.rocket.chat/installation/manual-installation/centos but with latest node, mongo version. Please see screenshot below for Runtime Environment
![image](https://user-images.githubusercontent.com/5586359/99401470-0548c900-290a-11eb-9ded-8bc0cf890897.png)

[2020-11-17 15:58] jacotec commented on #19538
@sampaiodiego I tried the update again and this time the push messages are working. Very strage! Should we close this issue for now?

Side question: When I write something from a test user in the web client to myself, I'm getting the push notification immediately (as it should be). When I start a Jitsi video call from the same test user, the push message notification about the video call is always

[2020-11-17 16:04] jacotec commented on #19538
The only difference in the messages which I've discovered:

- The normal message push has a parameter "name:" in the "sender:" field
- The Jitsi call push has a "messageType: 'jitsi_call_started'" which the normal push does not have
- The normal push uses "badge: 2", the Jitsi push "badge: 1"

[2020-11-17 17:01] sampaiodiego commented on #19538
that's good to know.. I guess we can close it, indeed.

regarding the jitsi push delayed, it *might* be only coincidence.. they both should have the same priority and be sent right away..

[2020-11-17 17:03] jacotec commented on #19538
The jitsi push message delay is always reproducible ... ;-)

[2020-11-17 17:04] sampaiodiego commented on #19538
oh, interesting.. let me take a deeper look on it.

[2020-11-17 17:09] adam-bapm commented on #18967
I am also having his issue.  I have noticed that using the /archive command in the room does work as expected however the toggle is still greyed out.

[2020-11-17 18:07] urosino opened #19573 "Sidebar - unread button is gone since the upgrade"
### Description:
Prior to the upgrade (3.8.0), there was a blue button indicator to show you have unread messages and you need to scroll up/down to see them.

### Steps to reproduce:
1. Scroll down in the sidebar
2. Let someone write a message on some channel, out of your view window
3. You have no idea there is a new message there

### Expected behavior:
1. The blue button should appear like it u

[2020-11-17 18:16] teak421 opened #19574 "Minor Sort Bug"
### Description:

Sorting Issue on USERS page

### Steps to reproduce:

1. Go to admin
2. Click on USERS
3. Click on STATUS (or any column)

### Expected behavior:

Items are sorted correctly.

### Actual behavior:

![image](https://user-images.githubusercontent.com/13898029/99430050-ad847080-28bd-11eb-93ef-df26a04c6122.png)

### Server Setup Information:

- Version of Rocket.Chat Server: 3.8.0
-

[2020-11-17 18:20] felipetomm commented on #19566
Hello, another point is in driver.js, line 306, function reactToMessages. My SDK version i 0.2.9-2. The SDK log an undefined room id:
[code]
This is solved add an second call to 0 pos in args, like this:
[code]
But i think this is not the correctly solution.
**Note:** this undefined message not breaks the app, but, in the same time, it's not an ideal behavior

[2020-11-17 18:52] brunobertoldi commented on #19433
Can confirm.
It was working with `3.7.X` and stopped working after the `3.8.0` upgrade.

[2020-11-17 19:40] Nono-m0le commented on #19293
Thanks for having checked @yasirrose !

[2020-11-17 19:41] Nono-m0le commented on #19293
@tassoevan maybe you could reopen this?

[2020-11-17 21:26] sloan58 opened #19578 "Can't save user avatars when running Rocket Chat with systemctl"
### Description:

When running Rocket.Chat with systemctl, avatars are not saving.  When running main.js directly with node, they do save.

### Steps to reproduce:

1. systemctl start rocketchat
2. go to any Rocket Chat UI (web, mobile, desktop) and change your avatar pic

### Expected behavior:

Your avatar pic will be updated

### Actual behavior:

Your avatar pic does not update and an error hi

[2020-11-17 21:59] vinceogne commented on #19573
I see this issue as well.

[2020-11-17 22:14] gabriellsh commented on #15720
Hey @wreiske, on the latest release we introduced the new sidebar written in react, and this should be fixed now. Sorry for stalebot being so persistent :p

[2020-11-17 22:15] wreiske commented on #15720
@gabriellsh it looks beautiful!
![image](https://user-images.githubusercontent.com/6295044/99457138-b853fb00-28e7-11eb-9fce-df8f17b8a450.png)

Thank you :)

[2020-11-17 22:17] wreiske commented on #18382
This is no longer an issue on the latest react sidebar implementation :)

[2020-11-17 22:17] #18382 closed

[2020-11-17 23:00] gabriellsh commented on #18382
Thanks for checking @wreiske ! 🚀

[2020-11-17 23:01] gabriellsh commented on #15720
I'm glad you liked it, I'll tag @ggazzo so he can read the compliment too!

[2020-11-17 23:27] ggazzo commented on #15720
:v:

[2020-11-18 00:56] hpvb commented on #19225
This is still happening in 3.8.0

[2020-11-18 01:04] chaim-chv commented on #19562
Duplicate of  #18855

[2020-11-18 04:45] luixxiul commented on #18967
@adam-bapm Thanks for confirming the version. The issue still persists on 3.7.x on my side too. Haven't tested 3.8.x yet.

[2020-11-18 05:57] ankar84 opened #19584 "[Improvement] Update only changed user avatars on LDAP sync"
### Description:

We have LDAP set and avatar synchronization enabled with update of existing users.
All avatars for our users are from LDAP. User not able to set own avatar.
Users avatars are changed very rare (almost never). I believe, that many organizations have similar avatar regulation.
Now on a synchronization process if user in LDAP have photo - it will be updated in RC user account withou