[2018-02-21 14:41] TwizzyDizzy commented on #8396
@rocket-cat close

And that's why I'm closing it right now. If anybody wants to contribute meaningful feedback, feel free. I'll happily reopen if there's something to investigate...

Cheers
Thomas

[2018-02-21 14:41] #8396 closed

[2018-02-21 14:54] Wouter0100 commented on #9794
Hmm - thanks for testing! I also find this really strange, as at first it did work properly, but since some months ago stopped working properly (in earlier versions of Rocket.Chat, but I'm not sure which).

When looking into the DB it seems to be stored as a binary.

Could this also maybe related to the notifications issues we're seeing in #9755? Where for example a worker crashes when sending e-m

[2018-02-21 15:00] bibimarujp opened #9806 "Break layout in Firefox"
### Description:

move to the channel where the search message sidebar with search results was opened, the layout will be break.
![search2](https://user-images.githubusercontent.com/24547736/36486621-3efcbe16-1762-11e8-838d-0b232cd99982.gif)

### Server Setup Information:

* Version of Rocket.Chat Server: demo (0.62.0-rc.0)
* Browser: Firefox 58.0.2 (Windows 10), Firefox ESR 52.6.0 (CentOS 7)

###

[2018-02-21 15:04] renatobecker commented on #9760
We started working on that issue and I guess we will fix it by the end of today.

[2018-02-21 15:10] TwizzyDizzy commented on #9794
Are you sure? Usually the address is not of type `binData` but of type string (see my screenshot). Also what where seeing in your screenshot is not binary. Terminology is important here.

![image](https://user-images.githubusercontent.com/179595/36487399-0f977b3e-1721-11e8-930c-ebae6d42b696.png)

As for #9755 and just from my gut feeling: I don't think so.

Cheers
Thomas

[2018-02-21 15:24] TwizzyDizzy commented on #9232
@rocket-cat close

Hi @BlessBau

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing. Here's why:

* help with build errors is best given over at: https://forums.rocket.chat/c/community-support

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have th

[2018-02-21 15:24] #9232 closed

[2018-02-21 15:28] TwizzyDizzy commented on #9713
@rocket-cat close

Hi @ezioauditore0101

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing. Here's why:

* help with build errors is best given over at: https://forums.rocket.chat/c/community-support (I'm sorry, I should have closed this issue right from the start because of this)

We use Github mainly for discussing bugs though. We understand

[2018-02-21 15:28] #9713 closed

[2018-02-21 15:33] TwizzyDizzy commented on #9782
@rocket-cat close

Hi @Otiel

no, this is currently not possible. `Custom Emoji Filesystem` only refers to the place where custom emojis are saved. For custom emoji sets, please refer to other issues, for example: #1838.

Cheers
Thomas

[2018-02-21 15:33] #9782 closed

[2018-02-21 15:38] geekgonecrazy opened #9808 "collapsed menu text unaligned in admin"
### Description:

![image](https://user-images.githubusercontent.com/51996/36489141-e5a2d8ae-16ea-11e8-9f9a-97899c4dc113.png)

When reducing window size so the nav collapses text in admin shows up like this.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0

[2018-02-21 15:39] MIKNOTAURO commented on #9760
We've been waiting for this fix for a while... LiveChat is a killer feature for us... thanks guys!
and btw... nowdays, everybody use a circle as a chat button also, I think it fits better for mobile devices.
Have you considered a UI refactor ?
Thanks in advance ;)

[2018-02-21 15:46] TwizzyDizzy opened #9809 "Search returns unexpected results that don't contain the search query"
### Description:

Searching for `b` (or other chars or also combinations) returns results that do not contain the search query (at least not in the channel/username)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0
* Operating System: Oracle Linux 7
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: -
* Node Version: 8.

[2018-02-21 15:57] TwizzyDizzy commented on #9794
Could you, by any chance, add the actual email address (or parts of it) of that user? I have the gut feeling that those numbers might be some ascii representation of those characters. See here for example:

![ASCII table](http://www.asciitable.com/index/asciifull.gif "ASCII table")

Cheers
Thomas

[2018-02-21 16:10] bibimarujp opened #9810 "Timestamp link of expanded permalink does not work"
### Description:
link to different channel does not work.

![link](https://user-images.githubusercontent.com/24547736/36489199-bcd300a6-1768-11e8-9500-dea4d99c3a04.gif)

### Server Setup Information:

* Version of Rocket.Chat Server: demo(0.62.0-rc.0), 0.61.0
* Browser: Firefox 58.0.2(Windows 10), Firefox ESR 52.6.0 (CentOS 7), Chrome 64(Windows 10)

### Steps to Reproduce:

1. move to #general.
2

[2018-02-21 16:19] vitorblz commented on #9791
@TwizzyDizzy The configured authentication method must be Iframe

[2018-02-21 16:36] renatobecker commented on #9760
@MIKNOTAURO We are planning the Livechat roadmap and the redesign is one of the next features.

[2018-02-21 16:47] geekgonecrazy opened #9812 "clicking channel action collapses sidebar"
### Description:
They say a picture is worth a thousand words, so a gif is worth several thousand?

![menu-break2](https://user-images.githubusercontent.com/51996/36493271-d2d58e10-16f4-11e8-9f4d-b8f6f345ab75.gif)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0

### Steps to Reproduce:

1. reduce screen width
2. open nav
3. click channel action on another channel

###

[2018-02-21 16:49] graywolf336 commented on #262
@justUmen Not quite yet, once the Rocket.Chat Apps get to a point to where they support the Contextual Bar then there will be. :)

[2018-02-21 17:05] geekgonecrazy opened #9813 "Channel list view extended - livechat queue misaligned"
### Description:
![image](https://user-images.githubusercontent.com/51996/36494176-efd1610e-16f6-11e8-83e1-b82177eb58a5.png)

Set view mode to extended and be a livechat manager and then you'll see this :top:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0

[2018-02-21 17:08] geekgonecrazy opened #9814 "clicking search covers part of avatar"
### Description:

Per new design i'm not sure if its supposed to have covered it all the way or be beside it.  Either case this isn't right :)

![image](https://user-images.githubusercontent.com/51996/36494370-7db076a4-16f7-11e8-94e0-58f7dfd8d3fa.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0

[2018-02-21 17:13] geekgonecrazy commented on #9809
seems to maybe have been a longer standing issue

[2018-02-21 17:27] geekgonecrazy opened #9815 "Discovery says search messages instead of search channels"
### Description:
![image](https://user-images.githubusercontent.com/51996/36495155-01db637e-16fa-11e8-838a-1a6a2a2e4adf.png)

Says search messages, shouldn't it say search channels?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0

[2018-02-21 17:32] geekgonecrazy opened #9817 "Discovery sort ui doesnt update"
### Description:

![discovery-sort](https://user-images.githubusercontent.com/51996/36495391-a32dea30-16fa-11e8-97a1-fff1c6c5f8f3.gif)

Clicking sort in the sort doesn't update the UI to reflect the sort order.

Also does not seem to work properly?  This is on community server, I know for a fact there are rooms that should have showed up when flipping user count.  Like general/support

### Server

[2018-02-21 18:07] kb0304 commented on #9815
Should it update on selecting `Users` in the adjacent select option?
Or else we could keep it just `Search`?

[2018-02-21 18:10] geekgonecrazy commented on #9710
To re-iterate on the PR.  Basically this PR removed the button.  It needs to be there if the users email isn't verified.  The only thing that should change is it should trigger the send email verification when the email address changes

[2018-02-21 18:12] geekgonecrazy commented on #9815
That or be just generic enough that covers both :smile:

[2018-02-21 18:24] ShakedBu commented on #4501
I have this issue with piwik 2.17

[2018-02-21 18:42] doctorwho92 commented on #9661
I would love to see this. It's one of the big hurdles in getting people to use less email and use RocketChat more.

[2018-02-21 18:58] holoGDM commented on #9099
Same here on cloud trial and desktop client (linux, windows). Because of it and "global search" (which should be added in the newest version) manger doubting on spending money for cloud rocket.chat service. IT guys now how to make walk around with browser and link but it wont go with "normal" users whose need just to "click" and work.

[2018-02-21 19:11] lunitic commented on #9800
To rule out the cordova m, I just tested using reaction with the regular web browser both on Android and IOS. Both failes with the reaction. None of them sends away the event.

[2018-02-21 19:24] TwizzyDizzy commented on #9800
@rocket-cat open

Alright, then I agree with you, that it's probably a server issue. I will reopen this issue. Please add the information requested in the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (in your initial post) and rename the so that it reflects that it's not about the app.

Thank you
Thomas

[2018-02-21 19:47] lunitic commented on #9800
@TwizzyDizzy done

[2018-02-21 20:23] geekgonecrazy opened #9820 "user status missing on user info"
### Description:

![image](https://user-images.githubusercontent.com/51996/36503416-aca27e42-1712-11e8-9a55-8995aa2fd9ef.png)
I frequently click a user in a channel to start a conversation or see if they are online.  Now it seems to be gone?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0

[2018-02-21 20:26] RichardFoxworthy commented on #9817
Maybe a separate issue, but on my small test deployment it did not show the
'general' channel at all...

On Thu, Feb 22, 2018, 4:32 AM Aaron Ogle <notifications@github.com> wrote:

--
--
*Richard Foxworthy*
Co-founder, CEO
4th Party
+61 447 367 915
www.4thparty.com.au
richard.foxworthy@4thparty.com.au
PGP: http://www.4thparty.com.au/pgp

[2018-02-21 20:58] engelgabriel commented on #4918
I thought that it is not implemented

[2018-02-21 20:59] sampaiodiego opened #9822 "Cannot /invite users to a livechat"
### Description:

If you `/invite` someone to a livechat session, if that person is not a livechat agent or livechat manager, it will not see anything. But it he is, it will see a link to the room but will be able to open it.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.2
* Operating System: Any
* Deployment Method(snap/docker/tar/etc): Any
* Number of Running Instances: 1

[2018-02-21 21:07] TwizzyDizzy commented on #4918
But you agree it is, do you? :)

Cheers
Thomas

[2018-02-21 21:40] Wouter0100 commented on #9794
Thanks for looking into this! Yes - it seems to be the ISCII indeed, because the first characters seems to match. It has been some time ago when I looked into this, so I was not completely sure about the binary part, but it is:

![image](https://user-images.githubusercontent.com/864520/36506838-0cf66bc4-1758-11e8-89ab-b45e301a307d.png)

So as far as we currently conclude: it's stored in binary (at

[2018-02-21 21:44] Wouter0100 commented on #9794
When receiving the binary from Mongo, it's returned as follows:

```{ "$binary" : "d3XXXXXXXXXXXXVdQ==", "$type" : "00" },```

X'es replaced, but it's base64. Not sure if that's Mongo's way of returning data, but when decoding the base64 to text it matches my e-mailadress.

[2018-02-21 22:03] twardnw commented on #9792
also reported in #9577

[2018-02-21 22:05] ramrami opened #9823 "Exception in delivering result of invoking 'loadMissedMessages': TypeError: Cannot convert undefined or null to object"
### Description:

If I open a room in RocketChat and go to other website and stay idle for some time. When I return to RocketChat I get a white screen with exception in console. In our case, this exception only occurs in a production environment.

### Server Setup Information:

* NodeJS Version: 8.9.4 - x64
* Version of Rocket.Chat Server: 0.61.0
* Operating System: linux
* Deployment Method(snap/

[2018-02-21 22:41] TwizzyDizzy commented on #9794
Hi @Wouter0100 ...

this is intersting indeed. I would first like you to add your MongoDB version (as will I tomorrow). As I see it, there are - in theory and assuming that my setup is the correct(er) one because for me it works - those possibilities:

* your address field shouldn't or mustn't be binary
* your address field can be binary and Rocket.Chat did decide to put that field type into place

[2018-02-21 22:44] #9760 closed

[2018-02-21 23:06] nemaniarjun commented on #9708
I would like to take this up :)

[2018-02-21 23:10] nemaniarjun commented on #9708
Wait, looks like its already supported? https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-markdown/settings.js#L30

[2018-02-21 23:18] arminfelder commented on #9349
@himpich We are also planing to move the files out of gridfs, I going to write a small python application for that as soon, as I find some time for it

[2018-02-21 23:38] engelgabriel commented on #4957
Closed via https://github.com/RocketChat/Rocket.Chat/pull/9717

[2018-02-21 23:38] #4957 closed

[2018-02-22 02:20] mmarif4u opened #9825 "[0.62.rc] Message box disappear"
Reproducible on https://open.rocket.chat.
Browser: FF 60
RC version : `0.62.0-rc.0` or whatever version is on open.rocket.chat as of now(22-02). :)

Clicking on `Member List`, `Pinned Messages` and `Files List` the message box disappear.

![selection_002](https://user-images.githubusercontent.com/1280585/36516643-0310be68-17ba-11e8-8c15-0e612e854b50.png)

[2018-02-22 02:23] mmarif4u opened #9826 "[0.62.rc] Scroll missing again in FF"
Reproducible on https://open.rocket.chat.
Browser : FF 60

**EDIT:**
Cannot scroll the user list and any other list in FF anymore.

![selection_003](https://user-images.githubusercontent.com/1280585/36516719-583f7fb4-17ba-11e8-8db0-f14eeef0e19c.png)

[2018-02-22 04:06] seanf commented on #4776
That's an excellent question, @cdhowie. I'd love to know the answer. @graywolf336 ?

[2018-02-22 04:11] graywolf336 commented on #4776
As mentioned earlier, yes currently calls are synchronously called and there is not a way to do an asynchronously do an HTTP call via the integration scripts. @seanf

[2018-02-22 04:35] seanf commented on #4776
@graywolf336 For those of us unfamiliar with the server implementation, do these synchronous calls (and indeed any rogue webhook script which busy-waits) block the entire Rocket server?

[2018-02-22 04:59] graywolf336 commented on #4776
@seanf yes, when I say it is synchronous I mean that it waits until that http request returns before continuing the execution of the rest of the integration and therefore the rest of that instance of the Rocket.Chat server. However, there is a timeout applied to the execution of the integration scripts but I am not sure if HTTP calls are included in that execution counter or not.

[2018-02-22 05:05] graywolf336 commented on #9792
Duplicate of #9577

[2018-02-22 05:05] #9792 closed

[2018-02-22 05:32] Endareth commented on #9099
I've manually applied the patch from https://github.com/RocketChat/Rocket.Chat.Electron/pull/505, and now have a working screensharing client again. Hopefully this will stop our team from using alternative products.

[2018-02-22 06:27] geekgonecrazy commented on #9817
As you can see this one didn't either.  At first I thought it was membership.  But I'm not in #general I don't think

[2018-02-22 06:54] Wouter0100 commented on #9794
Hey @TwizzyDizzy, thanks. I'm running Mongo 3.6.2 in a Docker container, setup by a docker compose file - which in theory should be compatible, I guess.

As far as I currently understand Mongo, the field type is determined by Rocket and not explicitly set like a RDBMS. Because if this, as far I understand, the error is most likely to come from Rocket.JS or my LDAP which may serve the passwords in

[2018-02-22 06:57] JSzaszvari commented on #9798
@rocket.cat label enhancement

[2018-02-22 06:57] JSzaszvari commented on #9798
@rocket-cat label enhancement

[2018-02-22 06:59] JSzaszvari commented on #9798
@rocket-cat label enhancement

[2018-02-22 07:01] JSzaszvari commented on #9798
@rocket-cat label add enhancement

[2018-02-22 07:39] schirrmie commented on #9708
How to set these settings? I don't find such a settings.js file in our ubuntu snap installation?

[2018-02-22 09:10] Skymit commented on #9276
And I also have this problem:

[code]

[2018-02-22 09:31] RubenZombiastic opened #9828 "Options missing on desktop Google Chrome"
### Description:

sup everyone, pin and edit options for messages are missing from the desktop version on google chrome

### Steps to Reproduce:

1. Install google chrome duh
2. idk it's pretty obvious

### Expected behavior:

those options to show

### Actual behavior:

currently hiring CSI to investigate the missing of two items

### Bonus

bye

[2018-02-22 09:42] TwizzyDizzy commented on #9825
Hi @mmarif4u

I cannot reproduce your issue on the latest **stable** of Firefox, which is 58.0.2. Also, please adhere to the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) and provide all the information requested there.

Cheers
Thomas

[2018-02-22 09:45] fcoppolani opened #9829 "[0.62.rc] CentOS7 `CXXABI_1.3.8' not found for Sharp module"
Hi,

I tried to install the last version 0.62.0-rc.1 but I got an error :

`Exception in callback of async function: Error: /lib64/libstdc++.so.6: version CXXABI_1.3.8 not found (required by /opt/rocketchat/rocket.chat.0.62.0 rc.1/programs/server/npm/node_modules/sharp/build/Release/sharp.node)`

And indeed, this lib is not included within Centos7 :
[code]

I believe this is linked to #9711 where

[2018-02-22 09:49] kaos opened #9830 "Add hidden option for User Roles"
### Description:

We would like to be able to select which roles are displayed when we set "Display Roles" to true in the User Interface section of the Layout settings.

This way, we are in control of which set of roles are displayed, without disclosing or advertising admins, moderators, owners and other default and needed user roles.

### Steps to Reproduce:

1. Edit role, check/uncheck hidden fl

[2018-02-22 09:55] TwizzyDizzy commented on #9825
EDIT: it seems like, in general, the message box disappears if you resize your browser window (`window.innerHeight`) to roughly < 580px... the smaller window gets, the more the message box gets pushed down and, eventually, out of sight.

This doesn't happen on Chromium, only on FF (`58.0.2`).

Cheers
Thomas

[2018-02-22 09:57] TwizzyDizzy commented on #9826
Hi @mmarif4u

I can reproduce your issue on the latest stable of Firefox, which is 58.0.2 on Rocket.Chat 0.62.0-rc.0.

That being said, please adhere to the issue template and provide all the information requested there.

Cheers
Thomas

[2018-02-22 10:02] TwizzyDizzy commented on #9828
@rocket-cat close

Hi @RubenZombiastic

I am temporarily closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your issue and your setup

[2018-02-22 10:02] #9828 closed

[2018-02-22 10:09] TwizzyDizzy commented on #9794
If that's the case ("field type is determined by Rocket"), then I agree with your assessment.

My MongoDB version is 2.6.12.

Cheers
Thomas

[2018-02-22 10:17] mmarif4u commented on #9825
@TwizzyDizzy thanks for confirming. As i already mentioned this happens on open.rocket.chat, so i cant help more in providing extra information.

In my case, browser window resize does not have any effect on this, but clicking Members List have.

[2018-02-22 10:20] mmarif4u commented on #9826
It happens on open.rocket.chat server, so i believe it will be easy to get more info from that instance/server.

[2018-02-22 10:24] TwizzyDizzy opened #9831 "Error in rocketchat_logger.js on startup, after "Checking for version updates""
### Description:

On starting up, Rocket.Chat throws an exception right after it says "Checking for version updates". Since there is a 404 involved and given that context, I would assume, that you implemented some kind of version check to show something like "Your version of Rocket.Chat is outdated!!11", but the file on the Rocket.Chat infrastructure that provides the current version is not yet de

[2018-02-22 10:30] TwizzyDizzy commented on #9825
I see. Then please add at least the version of open.rocket.chat to your initial post, which is `0.62.0-rc.0`, and mention the fact that it happens on that instance :)

Cheers & Thanks
Thomas

[2018-02-22 10:44] mmarif4u commented on #9825
Actually i mentioned that in the 1st line, `Reproducible on https://open.rocket.chat.`. :)

[2018-02-22 10:46] TwizzyDizzy commented on #9825
Yes, but when in X days/weeks somebody looks at this issue and we will be at 0.62.0-rc.5 or whatever, nobody will know, that at this point in time `0.62.0-rc.0` was running on open.rocket.chat. So it's rather important to state which exact version this is.

Cheers
Thomas

[2018-02-22 10:51] mmarif4u commented on #9825
I can't say which version open.rocket.server is on now, is it rc.0 or build directly against develop or master branch. But i will add `0.62.0-rc.0` to OP. :)

[2018-02-22 11:01] LifeIsAParadox commented on #9632
same.

[2018-02-22 11:04] LifeIsAParadox commented on #8325
+1

[2018-02-22 11:37] madcry opened #9832 "sync password for users LDAP AD"
Hello.
I'm setup LDAP sync between AD user and rocket.chat, but password i need to add manually, after sync.
Password in LDAP saved in field "description". How can i sync password automatically when sycn with AD?

[2018-02-22 11:45] kartoffelheld opened #9833 "No room counter when activity-based sorting is active"
### Description:

Room counters aren't displayed in the new sidebar when using the activity-based sorting. They are displayed just fine when sorting in alphabetical order. I'm on a completely fresh installation of Rocket.Chat. I've seen this behaviour in Chome 64, Firefox 58 and Rocket.Chat Electron 2.10.5.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0-rc.0
* Operating Sy

[2018-02-22 12:31] sampaiodiego commented on #9809
`spotlight` searches on multiple fields.. it searches on fields defined by a setting called `Accounts_SearchFields` , which by default is `username, name, emails.address`..

so yes, this can lead to weird results, since we do not display all the fields we look for, but it is also useful at sometimes.

I think the point is we need to prioritize the results better and maybe display all the informati

[2018-02-22 12:38] cardoso commented on #9809
What do you think @TwizzyDizzy ? :top:

Maybe we should rename this issue to: "Prioritize spotlight results by first matched fields"

So we end up with users with matched usernames at the top, and the ones that matches only secondary fields like name and email at the bottom

Maybe we have to take in mind servers with "Show real name" option, and prioritize real name instead, because they're probab

[2018-02-22 12:50] TwizzyDizzy commented on #9809
I see. That's in fact, what I thought happens under the hood. I think, from an UX perspective, the paramount goal should be, that the **user that is searching** understands, why a result is shown.

I am not sure whether I want to jump on the "make it a profile preference"-train, so every user can determine for themselves which fields to match. For sure, you should prioritize by **what the average

[2018-02-22 12:51] TwizzyDizzy commented on #9832
@rocket-cat close

Hi @madcry

I am temporarily closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your issue and your setup as good

[2018-02-22 12:51] #9832 closed

[2018-02-22 12:53] sampaiodiego commented on #9809
if not official, it was the its first name and still the endpoint name 😉

[2018-02-22 13:08] madcry opened #9834 "LDAP password sync with Active Directory"
### Description:

Hello.
I'm setup LDAP sync between AD user and rocket.chat, but password i need to add manually, after sync.
Password in LDAP saved in field "description". How can i sync password automatically when sycn with AD?

### Server Setup Information:

* Version of Rocket.Chat Server:  0.61.0
* Operating System:  1 Gb
* Deployment Method(snap/docker/tar/etc):  snap
* Number of Running In

[2018-02-22 13:12] alincalinciuc commented on #6809
@JannikZed if you need to setup email as Username you can use `upn` or any of the fields of the JWT token found here : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-protocols-oauth-code#jwt-token-claims

[2018-02-22 13:27] ruKurz commented on #2171
https://github.com/assistify/Rocket.Chat/issues/47

[2018-02-22 13:36] janrudolph opened #9835 "[UX in Livechat] Look & feel of a forwarded conversation"
### Description:

Livechat agents can forward conversations to other livechat agents. This could lead to two implications on the customer side:
1. Customer will be notified about the forwarding. The customer will get an approriate message
2. Customer will not be notified about the forwarding and think she/he is still talking with the same person

Currently, the notification (1) is pretty ugly and

[2018-02-22 13:47] tezukzai commented on #7057
Is anybody working on an integration with smooch.io?

[2018-02-22 14:01] marbetschar commented on #7057
@tezukzai I don‘t think so unfortunately. I don‘t have time either. Highly appreciate if you want to give this a shot though :)

[2018-02-22 14:17] jpasantos opened #9836 "Changes on database aren't reflected on Rocket.Chat"
### Description:

Changing values on mongoDb doesn't update information on Rocket.Chat

### Server Setup Information:

* Version of Rocket.Chat Server:  0.59.4
* Operating System: Ubuntu 17.10
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances: 1
* DB Replicaset Oplog: disabled
* Node Version:  4.8.7
* mongoDB Version: 3.0.15

### Steps to Reproduce:

1. Stop Rocket
2. Change

[2018-02-22 14:24] TwizzyDizzy commented on #9836
Hi @jpasantos

My first question would be: why do you do things directly in MongoDB?

And maybe reason for that is something that might classify as a bug, yet I think what you describe is nothing that should be done. Do it via the UI, if it's not possible via the UI it is not supposed to be done.

If you disagree, please clarify :)

Cheers
Thomas

[2018-02-22 14:33] jpasantos commented on #9836
Hi @TwizzyDizzy I want to deploy several instances of Rocket.Chat and I don't want to manually do steps using the interface to do the initial configuration as this can be tedious and cannot be scaled properly. I tried using the rest api but it doesn't allow me to do everything I need

[2018-02-22 14:41] TwizzyDizzy commented on #9836
Hi again,

I sympathize. Yet if the API is missing that possibility, it should be extended. I'd rather see the effort going in that direction, if it's an addition that would also benefit most users and not only you.

Cheers
Thomas

[2018-02-22 14:46] jpasantos commented on #9836
i'm totally down with extending the API it really is the best option but I still wonder if something is happening in the background that is preventing me from doing this. What makes Rocket ignore changes on the database is bothering me.

Best regards

[2018-02-22 14:51] TwizzyDizzy commented on #9836
Let's turn this around and let's have MongoDB/Rocket.Chat speak to us:

;)

Cheers
Thomas

[2018-02-22 15:08] ruKurz opened #9838 "Auto deactivation of inactive users"
According to an organization's security requirements, user accounts must be automatically disabled after a specified period of inactivity. The period of inactivity should be configurable in Rocket. chat.

[2018-02-22 16:49] tezukzai commented on #7057
@marbetschar non-developer unfortunately 😞 , but will be happy to add to a bounty for it if anybody wants to work on it!

[2018-02-22 17:13] ruKurz opened #9840 "Limit the validity of passwords"
For security reasons, Rocket. chat should force users to change their password after a configurable period of time has elapsed.

This Issue includes to prevent re-use passwords in case of password changes: A password history prevents at least the re-use of passwords in case of password changes.
The number of passwords should be configurable.

[2018-02-22 17:47] ruKurz opened #9841 "Prevent re-use passwords in case of password changes"
A password history prevents at least the re-use of passwords in case of password changes.
The number of passwords should be configurable.

[2018-02-22 17:54] ruKurz opened #9842 "The initial passwords of users registered by admins should be reset"
Currently, the initial password of local users created by an admin but never attempting to log on is valid indefinitely.

Initial passwords of users created by an administrator are to lose their validity after a configurable period of time.

[2018-02-22 18:33] ruKurz commented on #8808
But then the user can never login.

[2018-02-22 18:50] TwizzyDizzy commented on #9840
Hi @ruKurz

forcing regular password changes decreases overall security: https://www.ncsc.gov.uk/articles/problems-forcing-regular-password-expiry

Cheers
Thomas

[2018-02-22 18:51] TwizzyDizzy commented on #9841
@rocket-cat close

please add this as an aspect of #9840, if you like, I'm closing this one.

Cheers & Thanks
Thomas

[2018-02-22 18:52] TwizzyDizzy commented on #9842
Hi @ruKurz

could you please elaborate on why that should be the case?

Cheers
Thomas

[2018-02-22 19:03] geekgonecrazy commented on #9577
Seeing a few more cases of this.

[2018-02-22 19:09] twardnw commented on #9577
Yes, I am being stuck by this currently, logs look the same as those above, but happy to provide if you would like

[2018-02-22 19:12] ruKurz commented on #9840
@TwizzyDizzy I totally agree. But now we have it documented ;-)

[2018-02-22 19:14] TwizzyDizzy commented on #9840
I don't get that. Could you elaborate?

Cheers
Thomas

[2018-02-22 19:22] ruKurz commented on #9840
As described in your referenced article, enforcing password changes no longer corresponds to the current state of security recommendations. Through this issue documents the deliberate decision to implement Rocket. chat, enforcing password changes for good reasons not to implement.

[2018-02-22 19:36] ruKurz commented on #9842
As far as I know, invalidating initial passwords after a shorter period of time (compared to the period for locking inactive users) helps security. Among other things, because the misuse is not actively detected by the user. If a user account has been created that is not being used, the brute-force attack vector increases slightly (by the number of user accounts that could potentially be attacked)

[2018-02-22 20:08] geekgonecrazy commented on #9814
closed by: #9839

[2018-02-22 20:08] #9814 closed

[2018-02-22 20:12] TwizzyDizzy commented on #9840
@rocket-cat close

OK, then I got you right in the first place. And I have to disagree not on what you're trying to do, but with the means you're using. Here are some thoughts:

* who am I? I am no member of the Rocket.Chat team and cannot speak for the software or the history of their decisions. Would you accept my answer as valid documentation?
* maybe RC has not decided actively against it, but

[2018-02-22 20:12] #9840 closed

[2018-02-22 20:38] theorenck opened #9847 "Continuous notification (beep) for new live chats"
### Description

- [x] add continuous notification (beep) for new live chats
- [x] create a setting to enable/disable the feature (disabled by default)

[2018-02-22 20:44] theorenck opened #9848 "Livechat translation review"
### Description:
- [x] Review the translation (mainly for the widget)
- [x] Ensure that the browser's default language will automatically used
- [x] Review the translation of Livechat admin
- [x] Review the translation of Livechat settings

[2018-02-22 20:47] TwizzyDizzy commented on #9842
Hi @ruKurz

I see. To be honest, I don't know about best practice regarding this very topic, yet I would assume, that if

* the password is sent with the initial registration mail it should of course be changed, as it may (or may not) have been exposed to intermediary smtp relays

The admin itselfs seems to be no consideration as an attacker because, quite obviously, he could get the password from

[2018-02-22 20:59] TwizzyDizzy commented on #9836
@rocket-cat close

So I think I'll close this issue. But feel free to open a new feature request to extend the API with what you're thinking would make sense (not only to you but) for a broader audience.

Cheers
Thomas

[2018-02-22 20:59] #9836 closed

[2018-02-22 21:14] tezukzai commented on #7791
+1 for all of this functionality! NextCloud+RocketChat would be very powerful.

[2018-02-22 21:16] robertwessen opened #9849 ""Safe Ports" feature cannot restrict port 80 or 443 (or any other implicit port derived from the scheme of a URL)"
### Description:

The Safe Ports setting is to limit the ports an embedded link preview might try to load. This feature relies on `URL.parse().port` which will be `null` for all implicit ports derived from a URL scheme. This makes it impossible to prevent resources from being loaded from port 80 or 443 if those ports are not explicitly set in the URL typed in by the user (which no one ever does).

[2018-02-22 21:43] ruKurz commented on #9842
Encrypting the message content could help here. This solution is then outside of RC.

That's the keyword: Like you, I'm not exactly familiar with it, so it's hard for me to evaluate the probability of occurrence (single account vs. whole system). I would be happy to hear an expert statement about this.

Thank you for your feedback and sharing your thoughts.

[2018-02-22 21:49] ruKurz commented on #9838
@TwizzyDizzy Do you agree, that user deactivation after a period of inactivity increases the security?

[2018-02-22 21:55] JSzaszvari commented on #9838
@ruKurz it's just best practice to disable the accounts. Depending on the environment the security impact could be different but should be done regardless

[2018-02-22 21:56] JSzaszvari commented on #9838
@rocket-cat label add enhancement

[2018-02-22 21:58] KevSta91 commented on #9830
@rocket-cat add label enhancement

[2018-02-22 21:59] JSzaszvari commented on #9830
@rocket-cat label add enhancement

[2018-02-22 22:04] ruKurz commented on #9840
@TwizzyDizzy Like you, I am convinced that for this discussion at github the auditors do not care. The article (https://www.ncsc.gov.uk/articles/problems-forcing-regular-password-expiry) you have shared not only coincides with my assessment, but provides a relevant source of argument for deliberate decision to take a risk. So thank you again for sharing your thoughts and knowledge.

[2018-02-22 22:26] theorenck opened #9853 "Add the navigation history into the messages box"
### Description
Add the navigation history into the messages box (to give more context for the attendee)
- [x] migrate navigation history to messages collection
- [x] send it as a message to the attendee as rocketcat
- [x] create a setting to manage it (enabled by default)

[2018-02-22 22:35] TwizzyDizzy commented on #9838
I think it should be the decision of the admin whether (and if so, when) inactive accounts shall be disabled. Personally I see some security benefit in it, yes.

Yet I think this is a rather huge task for non-local accounts (LDAP/AD sync, oauth and so forth). You would have to consider the implicatiins there, too.

Cheers
Thomas

[2018-02-22 23:17] DeanVanGreunen opened #9854 "Big/Small Markdown Display Bug (could contain a great new feature)"
### Description:

When typing the following:
 Any Message which is then Wrapped in Code, StrikeThrough, Italics and bold as below real-world example/preview which is also marked as a multi-line.

[![Example Preview of Chat textbox][1]][1]

when sending/posting it in the chat, it will display as follows. (note: only name and date/time is marked out, due to company specs, hosted locally on internal

[2018-02-23 01:59] akuma commented on #9550
![2018-02-23 9 54 25](https://user-images.githubusercontent.com/237677/36574325-256ead1e-1880-11e8-8c13-c5dde45bbaed.png)

[2018-02-23 05:12] rdnn opened #9856 "Sidebar Item Message Cropping"
### Description:

Commit [7771ea199c91f726525ef808fec39dabb2e8849f](https://github.com/RocketChat/Rocket.Chat/commit/7771ea199c91f726525ef808fec39dabb2e8849f#diff-ea821dc65bfa3b6375ef900a43be3de2R178) added a -3px margin to .sidebar-item__message which is causing cropping of item messages in the sidebar of the administration view.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.

[2018-02-23 07:01] janrudolph opened #9859 "[Bug] svg avatar is not displayed"
### Description:

Users can upload avatars in their profile. It is also possible to upload svgs as avatar. However an uploaded svg is not displayed. The user will find a blank avater after upload.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61

### Steps to Reproduce:

1. Login and go to the edit profile page
2. Upload an svg as avatar, for example this one: https://dev.w3.o

[2018-02-23 07:38] Otiel commented on #9498
I'm also having this issue with Rocket.Chat version 0.61.0.

[2018-02-23 07:41] Otiel commented on #9351
I think this is the same issue as #9498.

[2018-02-23 07:46] Dirk23 commented on #9498
Emojis are not correctly replaced in ALL messages, even when the only thing in the line is `;)`. Like i mentioned above: the only way to have them replaced is to put a blank space in front and after `;)`

[2018-02-23 07:51] Otiel commented on #9498
I read #9351 too fast, you're right it's not exactly the same case.

Did you try upgrading to 0.61.2 (I didn't yet)? It looks like it could be fixed by #9776.

[2018-02-23 07:53] dhruvdutt commented on #628
I would like to take this up. :hand:

[2018-02-23 07:53] 0x6c commented on #8835
Same for me. As avatars from ldap are looking terrible, and size of thumbNail photo is not customizable for example in AD.

[2018-02-23 07:54] dhruvdutt commented on #70
I would like to take this up. :hand:

[2018-02-23 07:55] Dirk23 commented on #9498
my snaps didnt update, i'm on 0.61.0

[2018-02-23 08:17] kaiiiiiiiii commented on #9856
Already fixed in PR #9845

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-23 08:55] janrudolph opened #9861 "[Bug] Sending invitation mails not possible although permissions are correct"
### Description:

Admins / Managers are able to send invitation mails. Currently this is just possible for full admins. Users who have the permission `bulk register user` are not able to do so.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61

### Steps to Reproduce:

1. Create a role which entails the permission `bulk register user`
2. Assign the new role to a user.
3. The us

[2018-02-23 09:15] a11anarete commented on #3883
Hi, I am getting the same url error after a password reset.

The email below shows the link but this link goes straight to the login page.

**However, I found by removing the hash # on the link it takes you to the correct page.**

Where can I change the URL and remove this # hash on the reset password?

###

_Hello,

To reset your password, simply click the link below.

https://[hostname]/#/reset-

[2018-02-23 10:26] xlbs-rm opened #9862 "REST API cleanhistory dont work"
### Description:
Logged in as Admin with Admin Default rights, various Options of latest, oldest, nothing happen success everytime true.

https://rocket.chat/docs/developer-guides/rest-api/channels/cleanhistory/

### Server Setup Information:

* Version of Rocket.Chat Server:  0.61.0
* Operating System:
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1
* DB Replicas

[2018-02-23 10:31] a11anarete opened #9863 "Password reset URL is wrong"
### Description:

Password reset URL is going to the login page.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: CentOS 7
* Deployment Method(snap/docker/tar/etc): RPM
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v8.9.3
* mongoDB Version: 2.6.12

### Steps to Reproduce:

1. When a user clicks on re-set password.
2. Use

[2018-02-23 11:01] TwizzyDizzy commented on #9803
@rocket-cat close

I have verified, that this is fixed by https://github.com/RocketChat/Rocket.Chat/pull/9843.

Cheers
Thomas

[2018-02-23 11:01] #9803 closed

[2018-02-23 11:05] TwizzyDizzy commented on #9856
@rocket-cat close

Hi @rdnn

we believe that the issue you reported has already been reported by somebody else. Please have a look at #9808 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-02-23 11:05] #9856 closed

[2018-02-23 11:05] TwizzyDizzy commented on #9856
@rocket-cat label add duplicate

[2018-02-23 11:08] TwizzyDizzy commented on #9863
@rocket-cat close

Hi @a11anarete

we believe that the issue you reported has already been reported by somebody else. Please have a look at #3883 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-02-23 11:08] #9863 closed

[2018-02-23 11:09] TwizzyDizzy commented on #9863
@rocket-cat label add duplicate

[2018-02-23 11:15] TwizzyDizzy commented on #8650
@rocket-cat close

Hi @geekgonecrazy

we believe that the issue you reported has already been reported by somebody else. Please have a look at #3883 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-02-23 11:15] #8650 closed

[2018-02-23 11:15] TwizzyDizzy commented on #8650
@rocket-cat label add duplicate

[2018-02-23 11:39] a11anarete commented on #9863
Hi @TwizzyDizzy thank you for your reply.

This is different, as I explained on my message #3883 is a separate issue.
So I would like to keep this open unless you know where this URL is set?

Cheers.

[2018-02-23 12:31] TwizzyDizzy commented on #9863
Please do correct me, if I am wrong, but I still believe what you're describing is the result of #3883.

The URL in the `text/plain` part of the mail is generated incorrectly (containing the hash sign where it should not be: `/#/reset-password/`) which leads to getting redirected to the login page.

If you don't agree, please show me where exactly your issue is different.

Cheers
Thomas

[2018-02-23 12:47] a11anarete commented on #9863
Hi, apologies it is the same result.

Do you know where this code is specified?

Cheers.

[2018-02-23 12:58] rdnn commented on #9856
@TwizzyDizzy Yeah, definitely a duplicate. I tried searching before submitting but didn't find the original issue.

All looks good!

Thanks!

[2018-02-23 12:59] TwizzyDizzy commented on #9863
Unfortunately, I don't, as I'm no dev. Sorry.

Cheers
Thomas

[2018-02-23 13:12] gdamaskos86 commented on #6317
Has anybody managed to get Rocketchat authenticating with SAML through testshib.org ?
It should be made clear if this is an unsupported feature.
When I try, after I get a metadata file from rocketchat, testshib on upload says: "The file you are attempting to upload is not valid metadata. Please correct any errors and try again."

[2018-02-23 13:16] a11anarete commented on #9863
ok no worries. thanks again.

[2018-02-23 13:21] a11anarete commented on #9863
Just for information, I was looking at the `app.js` which had this line and thought this was the problem.  I removed the `#/` and restarted the service but still the same error.

...
				Accounts.emailTemplates.resetPassword.html = function (userModel, url) {
					url = url.replace('/#/', '/');
					return html.replace(/\[Forgot_Password_Url]/g, url);
				};
...

[2018-02-23 13:22] TwizzyDizzy commented on #9863
Hi there,

please, whatever you find, add it in #3883 now :)

Cheers & Thanks
Thomas

[2018-02-23 13:23] a11anarete commented on #9863
Ah of course, this is close :)

[2018-02-23 13:23] a11anarete commented on #3883
Just for information, I was looking at the `app.js` which had this line and thought this was the problem.  I removed the `#/` and restarted the service but still the same error.

...
				Accounts.emailTemplates.resetPassword.html = function (userModel, url) {
					url = url.replace('/#/', '/');
					return html.replace(/\[Forgot_Password_Url]/g, url);
				};
...

[2018-02-23 13:24] lucasromanomr opened #9864 "Everyday the service drops"
### Description:

Every day the service drops, it arrives at a certain time the service simply falls, then I have to give a restart in it so that it works again.

Error:

<img width="1566" alt="captura de tela 2018-02-23 as 09 29 55" src="https://user-images.githubusercontent.com/3859282/36596276-df575da4-1883-11e8-9713-e90886775f82.png">

### Server Setup Information:

* Version of Rocket.Chat Se

[2018-02-23 13:31] TwizzyDizzy opened #9865 "User context menu doesn't contain "Administration" anymore, nor does the "three-dots" menu"
### Description:

I have given the `[manage-emoji]` permission to normal users. This lead to them having an "Administration" menu with only one option: to add custom emojis.

With the new discovery menu, this option is not contained in the Status menu and it is not available as extended options in the menu ("three-dots menu" - which isn't even present, only the add channel [+]).

So currently it i

[2018-02-23 13:31] JSzaszvari commented on #9864
Can you please provide more of there isn't enough output above to see what is causing the problem.

[2018-02-23 13:43] TwizzyDizzy commented on #9864
Also, please provide the FULL information requested in the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md). Thanks!

Cheers
Thomas

[2018-02-23 13:50] lucasromanomr commented on #9864
I put it as text information I was missing. I also put two images, a link to the error that made the service stop and do the service status after I rebooted.

I did a whole in-feed manually, grabbed the tar, unzipped and followed the Rocket documentation

[2018-02-23 13:55] TwizzyDizzy commented on #9864
The error in your first image does not show the full error trace, only the end of it. Please get it from either /var/log/messages or /var/log/syslog (I think it's the latter on Ubuntu).

Cheers
Thomas

[2018-02-23 14:02] fcoppolani commented on #9834
Hi,
Why do you do that ? You don't want the same passwords for your users between ldap and rocket.chat, it would be so much easier for you and them that way ? Anyway I believe the only possibility is to write a script and use the REST api of rocket.chat .

[2018-02-23 14:02] lucasromanomr commented on #9864
I took a look at the log (below) and I think there's something about slackBrigde, but I'm not sure about that.
[code]

[2018-02-23 14:10] #9831 closed

[2018-02-23 14:19] fcoppolani commented on #9838
Hi,

there is #6174 also. I believe it should be good practice to be abble to disable users from a field in LDAP (coming from OTAUTH or SAML too). This feature could help (if a user is deactivated from an AD he won't login, so it is a way of automatically disable these users, after a period of time).

[2018-02-23 14:27] #9808 closed

[2018-02-23 14:45] timkinnane commented on #9390
Edit to above solutions. The empty email doesn't work, because I found there's also a **unique** index on the email field by default when using the Meteor Accounts package. So it requires actually dropping the email indexes on the model after accounts package has set them.

[2018-02-23 15:08] richgansa commented on #9862
I am experiencing the same with 0.61.1. Trying to clear the general room.

[2018-02-23 15:11] fcoppolani commented on #9834
Password will not be stored in Rocket.Chat (as far as I know), each time a user login, rocket.Chat will send credentials to ldap to check them.

[2018-02-23 15:13] madcry commented on #9834
Hmm, but when i try to log in i have error about login or password wrong, but in account section this account appear.

[2018-02-23 15:16] JSzaszvari commented on #9834
In the LDAP settings do you have "Merge Existing Users" set to True or False?

If it's false , try setting it to true and forcing another sync with the directory

[2018-02-23 15:18] JSzaszvari commented on #9834
Actually.sorry just saw your screenshot.

Can you try removing the User Filter and see if that helps ?

[2018-02-23 15:18] madcry commented on #9834
http://joxi.ru/KAxLR6lH4lNZgA
already set to true

[2018-02-23 15:21] madcry commented on #9834
logs, when try to login
http://joxi.ru/82QK3G9t1ony6r

[2018-02-23 15:33] madcry commented on #9834
When i'm delete,after sync some of accounts add to Users in R.C, but not all. And nothing change error stay same, user not found or incorrect password

[2018-02-23 15:34] fcoppolani commented on #9834
The error concerns CROWD, did you activate it (ATlassion crowd) ? If so you should deactivate it.

[2018-02-23 15:39] madcry commented on #9834
Yes this option is enabled, now disable and trying again

[2018-02-23 15:48] madcry commented on #9834
Now connection is ok, and RC trying to connect over LDAP, but again with error.

http://joxi.ru/krDMenBS0YaxJm

[2018-02-23 15:50] madcry commented on #9834
Guys really big thanks) But in future i'm wanna to use attlasian for JIRA, this will be problematic?

[2018-02-23 15:54] fcoppolani commented on #9834
About the error: it cannot find the user pechen_e, as said above remove your filter to test, you might need to check and tune the parameters, they can change for each different AD (I can't help you more on this).
About having CROWD and LDAP, I believe you cannot have both at the same time, its CROWD or LDAP. Godd luck

[2018-02-23 15:58] madcry commented on #9834
I'm typing wrong password, all work now like clock... Atlassian crowd didn't get to connect with AD server

[2018-02-23 16:07] madcry commented on #9834
Thanks!

[2018-02-23 16:14] robbyoconnor opened #9867 "[FEATURE REQUEST] Warn users when using @all and @here how many people they will notify"
### Description:

Users should be warned when they use `@all` and `@here` -- similar to how Slack does it. It's a pet peeve of mine when people use `@all` and `@here`.

[2018-02-23 16:21] emmanuelchampagne commented on #9829
Same here.

[2018-02-23 16:27] JSzaszvari commented on #9867
@rocket-cat label add enhancement

[2018-02-23 16:29] richgansa commented on #9611
The ability to add/remove users from private groups as an admin while not being a member would be extremely helpful. Our current solution is for the admin to be the owner with all notifications disabled and the room hidden.

[2018-02-23 16:29] JSzaszvari commented on #9834
@rocket-cat close

Glad you got it working. Thanks so much!

[2018-02-23 16:29] #9834 closed

[2018-02-23 16:33] leoluk opened #9868 "Client crashes when posting ```x-:"
### Description:

The Rocket Chat client crashes when someone posts this:

[code]

[2018-02-23 16:36] TwizzyDizzy commented on #9867
@rocket-cat close

Hi @robbyoconnor

we believe that the issue you reported has already been reported by somebody else. Please have a look at #5157 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-02-23 16:36] #9867 closed

[2018-02-23 16:36] TwizzyDizzy commented on #9867
@rocket-cat label remove enhancement

[2018-02-23 16:37] TwizzyDizzy commented on #9867
@rocket-cat label add duplicate

[2018-02-23 16:41] TwizzyDizzy commented on #9868
@rocket-cat close

Hi @leoluk

I cannot confirm this on the latest stable version of Rocket.Chat (which is `0.61.2`) testing with Chromium `64.0.3282.167`. Please update your version of Rocket.Chat and try to reproduce the error there.

If you can reproduce it on the latest stable, I will happily reopen this issue :)

Cheers
Thomas

[2018-02-23 16:41] #9868 closed

[2018-02-23 17:02] der-eismann opened #9869 "[BUG] Can't leave a channel/room - getting Error 400"
### Description:

Whenever I try to leave a room/channel a small red overlay is popping up in the upper red corner saying "400". So I need to remove myself from the channel. Here is the log output:
[code]

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1

### Steps

[2018-02-23 17:18] robbyoconnor commented on #5157
Please make this a thing -- Why people don't realize this is beyond me...

[2018-02-23 17:20] ruKurz opened #9871 "[UX] user interaction setting new local passwords with activated policy"
# Motivation

PR https://github.com/RocketChat/Rocket.Chat/pull/9857 implements a local password policy. This has an effect on the user interface when a new password has to be assigned. The implementation of this issue is intended to make it as easy as possible for users to set the password policy when assigning a new password.

From the user perspective it would be great to see the constraints wh

[2018-02-23 17:25] ruKurz commented on #9871
@arthurgiustina do you need further thoughts on that? Maybe we can have a look at a software that has a nice solution already? WDYT?

[2018-02-23 18:28] theorenck opened #9873 "Allow customization of the "conversation finished" state on the livechat widget"
### Description
Allow customization of **conversation finished** screen on the livechat widget
- [x] Remove the sweet alert
- [x] add a text box setting for the customized message to be displayed
- [x] add it to setting's preview

[2018-02-23 18:38] ruKurz commented on #2737
+1

[2018-02-23 18:45] theorenck opened #9874 "Allow navigation history to be send to the CRM along with other requests"
### Description
Add a setting to control if the navigation history will be sent to the CRM along with other requests
- [x] add a setting
- [x] add it to the request payload

[2018-02-23 20:30] xvonabur opened #9875 "Livechat Realtime API doc page is outdate"
### Description:

Hello! It seems that `Livechat Realtime API` [doc page](https://rocket.chat/docs/developer-guides/realtime-api/livechat-api/) is outdate, because current livechat implementation does not use some methods and some responses are different. For example, I don't see token in response for `livechat:registerGuest`. Response contains `userId` only.

And no calling `login` method on `htt

[2018-02-23 20:44] engelgabriel commented on #9875
Closed in favor of https://github.com/RocketChat/docs/issues/603

[2018-02-23 20:44] #9875 closed

[2018-02-23 20:57] xenithorb commented on #9657
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/9632

[2018-02-23 20:58] xenithorb commented on #9632
This should be probably retitled:

"WebRTC Administration options left behind after feature removal"

[2018-02-23 21:26] rafaelks opened #9878 "[DOCS & BUG] API to upload files accepts "title_file_download" as String"
@MartinSchoeler Our docs is showing an example on `chat.postMessage` that the property `title_file_download` is an String. That needs to be changed.

@MarcosSpessatto Can you change this API to validate that the properties are following the correct types? The issue right now is that `title_file_download` accepts any type of value. We need to ensure all types are validated.

[2018-02-24 00:15] dmkjr commented on #9682
Anyone else have this problem?

[2018-02-24 01:00] RichardFoxworthy commented on #9155
These problems are still present in v0.62 ... does no-one else use translation?

[2018-02-24 01:24] RichardFoxworthy opened #9880 "Bad Words filter seems to be catching 'Hello'"
### Description:

The bad words filter seems to now be triggering on partial matches - eg it wll not filter out the work 'hello', presumably because it includes the word 'hell'. Which I dont consider to be a bad word any way, but whatevs ....

### Server Setup Information:

* Version of Rocket.Chat Server: v0.62.0-develop
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): Heroku o

[2018-02-24 01:36] RichardFoxworthy commented on #9817
Also, the actual list of channels displayed is not sorted correctly either... This screen shot shows the channels list after I've told it to sort by number of users. I had though maybe it was sorting only by first digit, but something weirder than that is happening...
<img width="845" alt="rocket_chat_" src="https://user-images.githubusercontent.com/1432373/36624077-f6f85842-195e-11e8-9887-9aac641

[2018-02-24 04:45] nemaniarjun commented on #9880
For me the word `hello` is rendered as `*****`

[2018-02-24 04:53] nemaniarjun commented on #9880
I looked into this issue, seems like its a problem with the package we are using.
https://github.com/web-mech/badwords/issues/25

[2018-02-24 05:00] nemaniarjun commented on #9880
We can either switch to a different package, or fix this issue in the upstream.

[2018-02-24 05:30] nemaniarjun commented on #9880
I looked into the library, and to filter words like `shitshit`, it looks for bad words anywhere in the given word.
This causes a lot more problems as words like `document` and `title` also get filtered.
I think its better to have exact matching of bad words.

[2018-02-24 07:20] amonemian opened #9881 "Multiple instances are not synced"
When using multiple instances of RC, everything is Ok but the sessions in different servers are not sync. I mean, when one message is seen in one room, it is not marked as read in another browser who is watching that room. The read message is still unread!

[2018-02-24 07:33] tdcpepsi commented on #4318
kginstructor, can I pay you to activate the single sign on for my website? I want my members to be able to log into my website but at the same time they are also logging into the chat room. My email address: tdcpepsi@yahoo.com | please reply asap....

[2018-02-24 09:57] kaiiiiiiiii opened #9882 "Misplaced language dropdown in user preferences panel"
![screen shot 2018-02-24 at 09 38 29](https://user-images.githubusercontent.com/4711233/36627712-32b75468-1947-11e8-9266-6cd0f108aba4.png)

Misplaced language dropdown in user preferences panel (My Account -> Preferences).

Error only occurs in 0.62.0-rc releases.

I'll take this one over.

[2018-02-24 12:01] xbolshe commented on #9619
If a channel is private (see step #2 above), need to use `groups.setType` with `c` instead of `channels.setType`.

`channels.setType` cannot find a group room (aka a private channel) and returns HTTP 400. A response with HTTP 400 shall have a payload like `{"success":false,"error":"The required \"roomId\" or \"roomName\" param provided does not match any channel [error-room-not-found]","errorType"

[2018-02-24 12:10] dezzzus opened #9885 "[BUG] Android Push notification is not working"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System:
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: 6.4
* mongoDB Version: 3.2

### Steps to Reproduce:

1. Sign in by using android phone.
2. close rocket chat app
3. send message from desktop

### Expected behavior:

It sho

[2018-02-24 12:35] xbolshe commented on #8665
Direct Messages Room has no name as described [here](https://rocket.chat/docs/developer-guides/schema-definition/)

```Room Name (t:d -> empty)```

[2018-02-24 12:41] ggrish commented on #9885
I think android push notification problem can be fixed by using another raix:push version.

[2018-02-24 15:35] kaiiiiiiiii opened #9886 "[UI] Misplaced "Save Changes" button in user account panel due to hardcoded max-width."
Version of Rocket.Chat Server: 0.62-develop

Misplaced "Save Changes" button in user account panel due to hardcoded max-width. Looks different than the buttons in the admin ui.

![screen shot 2018-02-24 at 16 31 12](https://user-images.githubusercontent.com/4711233/36631985-b431d3cc-1980-11e8-8d9e-7e0eed226d93.png)

[2018-02-24 17:34] Hugo14453 commented on #1888
Any tips on creating a file that _does_ work?

[2018-02-24 17:37] xbolshe commented on #9411
A problem is related with an incorrect request. curl does not use parameters after `&` in case of no quotes. A correct request shall be like:

curl -H "X-Auth-Token: token" -H "X-User-Id: id" "address/api/v1/channels.history?roomId=GENERAL&count=5"

[2018-02-24 18:23] Supermathie commented on #1888
Not really; the file does work it's the software that's broken.

[2018-02-24 18:23] xbolshe commented on #8400
[rfc 7493  The I-JSON Message Format](https://tools.ietf.org/html/rfc7493)

[code]

[2018-02-24 18:29] GetGeeks commented on #5157
If everyone who thinks this is a disruption put their 2 cents into a bounty this might not be a issue at all.

[2018-02-24 21:30] robbyoconnor commented on #5157
If I had the cash to do so -- I would.

[2018-02-24 23:37] xbolshe commented on #9862
It seems that a time period in the request is incorrect: latest < oldest
[code]

[Docs](https://rocket.chat/docs/developer-guides/rest-api/channels/cleanhistory/) describes that

[code]

[2018-02-25 00:27] emmanuelchampagne commented on #9829
like in [#9167 ](https://github.com/RocketChat/Rocket.Chat/issues/9167), recompiling sharp node resolve the thing...

[2018-02-25 01:42] dmkjr commented on #9682
Perhaps after visiting some of the open issues within the integration github for the OSTicket, this should be removed unless someone else wants to maintain it.  It's not functioning.

[2018-02-25 09:51] xbolshe commented on #9801
An expected behavior shown above is related with a private group (`"t": "p"`), but IM (`"t": "d"`) has differences:
- no name as described [here](https://rocket.chat/docs/developer-guides/schema-definition/) - Room Name (t:d -> empty)
- another `_id` because of a concatination of user ids
- limited quantity of room members (2 users)

[2018-02-25 10:11] ci2014 commented on #8220
@engelgabriel In the settings Rocket.Chat asks for OmniChannel API data. Where to obtain them? I googled for omnichannel facebook, but I think I am missing something at the moment.

Thank you very much.

[2018-02-25 10:17] JSzaszvari commented on #8220
@ci2014  send a email to omni@rocket.chat and they will get you

[2018-02-25 11:13] idanielblake opened #9890 "Show name instead of username in invite form"
### Description:

Hello, First of all thanks for you great work.
When you want to invite users to channels or private groups after search list will show users' avatar and usernames but we want to show real names instead of usernames.
Thanks in advanced :)

### Server Setup Information:

* Version of Rocket.Chat Server: 61.2
* Operating System: Centos 7
* Number of Running Instances: 4
* DB Replica

[2018-02-25 15:48] ci2014 commented on #8220
@JSzaszvari Thank you. I can see, that there is a note below the fields. I was wondering, where this API data is coming from. Which API is meant, when we talk about the OmniChannel API data? Who provides that API?

[2018-02-25 16:32] JSzaszvari commented on #8220
Paging @sampaiodiego for more info

[2018-02-25 17:50] jfml commented on #9480
@c0fe Yeah, I was just thinking the same thing: Signal can read messages from different devices (I have no ideas how messages are stored), so what happened to the plan of implementing the Signal Protocol?

[2018-02-25 20:33] TwizzyDizzy commented on #2436
Hi @Julianoe

sorry, took me a while to reply, but here we go :)

I heavily disagree with this argument. Not the spirit of it, because I myself to promote FOSS and encourage others to do so, too, but: running a software on the net is a security risk. Given the nature of the software and assuming that those chats should stay private, I advocate for running a secure server. To do that, you have to h

[2018-02-25 21:36] arminfelder commented on #9413
this should be implemented in https://github.com/steffow/meteor-accounts-saml first

[2018-02-25 22:10] FibreFoX commented on #2436
Just my thoughts: RocketChat still lacks a proper instruction/way to creating some backup.

But as this was about just exporting some users, this might be closed and should get followed with another ticket specificly being about "a rocket way of having a proper and solid backup" (even including uploaded files and other stuff not sitting inside the MongoDB).

[2018-02-25 23:28] aspiers commented on #9744
We upgraded and this problem seems to have been fixed.

[2018-02-25 23:28] #9744 closed

[2018-02-25 23:30] aspiers commented on #9743
We upgraded and I still see this problem.

[2018-02-25 23:40] TwizzyDizzy commented on #9744
Splendid, that's good to hear. Thanks for going the extra mile!

Cheers
Thomas

[2018-02-26 07:36] Otiel opened #9891 "Segoe UI: character descender not correctly rendered"
### Description:

While using the font Segoe UI, the characters descender (the part of a character (g, j, p, q, y) that descends below the baseline) are not correctly rendered: they are "cut", as you can see on the screenshot below.

![image](https://user-images.githubusercontent.com/3851902/36658220-dab08f20-1acf-11e8-9338-6fad52669744.png)

It happens on the left sidebar, the top header bar, the

[2018-02-26 08:11] NIghtCell opened #9892 "Remove user while invite users when creating a new channel"
I experienced the issue, that always the first user of the userlist is removed, when I click on the x sign near to the username. This problem only appears when I want to create a new channel. If I just click on the username (not the x), then everything works fine and the current selected user is removed.

![issue9892](https://user-images.githubusercontent.com/30755444/36659769-dc276f9e-1ad5-11e8-8

[2018-02-26 08:12] kaiiiiiiiii commented on #9892
Can you please fill out the issue report? (Version, deployment, ...)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-26 08:20] fcoppolani commented on #9829
Indeed, I tried it a first time but I thought I got the same errorin fact I was misleaded by the error to version updates. Thanks for the update ! (to make it clear a simple node-gyp rebuild is enough, no need to copy the .node anywhere else).
Anyway there is still a problem, for now fibers recompil correctly throught a simple npm install but sharp does not.

[2018-02-26 08:48] Csiffy opened #9893 "TLS/SSL connection between Rocket.Chat and MongoDB"
### Description:

I did not find solution TLS/SSL connection between the rocket.chat and MongoDB.
MongoDB working with SSL, but how can I create SSL connection with the rocket.chat?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: CentOS
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: min. 2
* DB Replicaset Oplog: -
* Node

[2018-02-26 09:35] savikko opened #9894 "Unread status on channel list"
Version 0.62.rc-2.

Seems that default channel list does not show channel unread-status (by emphasizing it). All channels seem to be on "all read" -mode.
Channel search shows that correctly.

[2018-02-26 10:49] der-eismann opened #9895 "[BUG] Permissions not applied correctly / can't list channels with bot user"
### Description:

I currently try to write a small Shell "library" to send messages to Rocket.Chat instead of E-Mails, however I am unable to list all existing channels on the server with a new bot user I created.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1

[2018-02-26 12:13] aniketsingh03 opened #9896 "[QUESTION] Api endpoint for forgot password"
I wanted to know the api endpoint to use for getting instructions through email to reset the password in case a user forgets his password. I searched the api docs but was unable to find any relevant information.
Can someone help me with this?

[2018-02-26 12:42] jfml commented on #9480
@c0fe Yeah, I was just thinking the same thing: Signal can read messages from different devices (I have no ideas how messages are stored), so what happened to the plan of implementing the Signal Protocol?

[2018-02-26 12:50] TwizzyDizzy commented on #9893
@rocket-cat close

Hi @Csiffy

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing. Here's why:

* this is nothing Rocket.Chat is responsible for. You have to adjust your `MONGO_URL` to achieve TLS encryption between RC and MongoDB. Here's an example: `MONGO_URL=mongodb://user:pass@mongodb.host:27017/rocketchat_database?ssl=true`

We use Github

[2018-02-26 12:50] #9893 closed

[2018-02-26 12:52] sampaiodiego commented on #8220
@ci2014 we have a service called `omni.rocket.chat` which acts as a gateway/middleware for Facebook Messenger. So a Rocket.Chat server communicates with `omni.rocket.chat` that communicates with Facebook.

[2018-02-26 12:54] TwizzyDizzy commented on #9892
@rocket-cat close

Hi @NIghtCell ... as @kaiiiiiiiii says:

I am temporarily closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your

[2018-02-26 13:05] TwizzyDizzy commented on #9896
Hi @aniketsingh03

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing. Here's why:

* please consult the community support forum (see below)

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortu

[2018-02-26 13:05] #9896 closed

[2018-02-26 13:09] ci2014 commented on #8220
@sampaiodiego Understood! Thank you very much.

[2018-02-26 13:12] aniketsingh03 commented on #9896
Fine, thanks @TwizzyDizzy . I was just working on the android app and was looking for the endpoint. I'll switch over to support section :smile:

[2018-02-26 13:14] TwizzyDizzy commented on #9891
Referencing #8129 and #8289 for historical context.

[2018-02-26 13:21] Otiel opened #9898 "Only propose emojis for default tone while typing a colon ( : )"
While typing a colon character (`:`), it can be a bit overwhelming and hard to find the emoji you're looking for because of all the emoji variants that exist:
* :emoji:
* :emoji_tone1:
* :emoji_tone2:
* :emoji_tone3:
* :emoji_tone4:
* :emoji_tone5:

![image](https://user-images.githubusercontent.com/3851902/36672566-05e7fd4c-1b00-11e8-983d-7ec260c24a05.png)

How about we'd propose only the emoji c

[2018-02-26 13:42] fog1992 opened #9899 "file upload filename"
### Description:

Is it possible to upload a file to Rocket.Chat and keep the filename? In our projects we use a samba-server to share files. I set up Rocket.Chat to store files in the samba shar folder. But they are unusable because Rocket.Chat changes the filename to a string like 7AE8tXkji7P53QAJP.  (same with minio and the filename filed in GridFS) I kown this is to have a unique id.

### Serv

[2018-02-26 14:31] kginstructor commented on #4318
@tdcpepsi Shot you an email. For those in this thread though, what system are you looking to integrate into? If possible, I'd like to help you in here so everyone can benefit from it and hopefully others can get their integration going as well.

[2018-02-26 14:39] madcry commented on #5368
have same problem with IOS App

[2018-02-26 15:57] TwizzyDizzy commented on #8920
@rocket-cat close

Hi @asshewale

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing. Here's why:

* not enough information (see [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md))
* probably no Bug but rather a deployment issue

We use Github mainly for discussing bugs though. We understand, that

[2018-02-26 15:57] #8920 closed

[2018-02-26 16:01] rsimai commented on #9743
I tried this with Chrome 64.0.3282.186 (current build from Google) on a few channels but couldn't duplicate, same as with Chromium 64.0.3282.167 (current build from SUSE). For me the "Jump to recent messages" link instantly disappears when I click it.

[2018-02-26 16:06] TwizzyDizzy commented on #8379
@rocket-cat close

[2018-02-26 16:06] #8379 closed

[2018-02-26 16:13] TwizzyDizzy commented on #6020
@rocket-cat close

Closing, as this is probably related to
![image](https://user-images.githubusercontent.com/179595/36681166-2548596c-1b18-11e8-94e3-87c455e101bc.png)

... and the lack of information doesn't permit to analyze further. Please try to reproduce this on current stable (`0.61.2`) and follow the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPL

[2018-02-26 16:17] TwizzyDizzy commented on #5292
@rocket-cat close

Closing this in favour of #7268.

Cheers
Thomas

[2018-02-26 16:17] #5292 closed

[2018-02-26 16:23] TwizzyDizzy commented on #6208
@rocket-cat close

Closing this. If it is still an issue, please get back to us. Latest version is `0.61.2`.

Cheers
Thomas

[2018-02-26 16:23] #6208 closed

[2018-02-26 16:47] OtavioCapila opened #9900 "LDAP not syncing password"
### Description:

When i try to sync new users to Rocket.Chat,it only sync the user,but not the password,so i have to set a new password in Administration > Users > "Select User" > Edit and Change password.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.2
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 4
* DB Replicas

[2018-02-26 16:55] TwizzyDizzy commented on #2562
@rocket-cat close

If anybody disagrees, please get back to me. Reasons for closing:

* it is not the task of a consumer of an SSO-Login, to make available the option to change the password. In fact, I think that in most environments it wouldn't even be possible because most SSO/AD systems require you to set your password via a very distinct procedure that is most probably not available for use by

[2018-02-26 16:58] TwizzyDizzy commented on #4445
@rocket-cat close

Closing this. If this is still an issue, please reconfirm it against the current stable of RC (`0.61.2`) and follow the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md). Thanks!

Cheers
Thomas

[2018-02-26 17:16] #9886 closed

[2018-02-26 17:27] #9854 closed

[2018-02-26 19:23] MarcosSpessatto opened #9904 "[NEW] Rest API endpoint to retrive message read receipts"
Create an endpoint that returns `getReadReceipts` Meteor method results via REST

[2018-02-26 19:30] bpabel commented on #9619
Thanks.  Yes, using `groups.setType` allows me to set the room type back to channel (`c`).

It's a bit confusing since using `channel.setType` when setting the channel to private *returns* a channel dictionary, even though it's no longer possible to access that same channel through the `channels` api.

I will close this ticket, as it appears the api is working as intended.  I don't know enough abo

[2018-02-26 19:30] #9619 closed

[2018-02-26 21:45] andpiazza commented on #2556
Hello @mphslaats - I ran recently on the same problem.
Long story short, it seems that **to develop a custom theme you need to tailor RC with custom CSS code**, and there's **very little to no documentation on it**.

Would be curious how my two conclusions above compare / contrast from the community.

[2018-02-26 21:48] andpiazza commented on #1972
Hello @tvld, curious how you personalized the RC+ app to the screenshots that opened this thread.

And what's the alternative you suggest to the Hamburger icon. Thanks!

[2018-02-26 23:55] tvld commented on #1972
@andpiazza  The alternative would have been the bigger buttons at the top/bottom as you can see in the mockup. We never got to the real implementation on Rocker though, so sorry but cant help you much there...

[2018-02-27 00:50] kenton-r opened #9909 "Display user custom field in the message author section after roles."
It would be nice to be able to display some other user info in the message author section. If some custom fields could be displayed there is would be appreciated. Similar to the user info panel.
![image](https://user-images.githubusercontent.com/26011584/36704430-294b432e-1b15-11e8-84bc-eee8ff118e0f.png)

[2018-02-27 01:10] sanudatta11 commented on #9890
Can I work on it?

[2018-02-27 02:00] sciborg commented on #9648
Yes.. Please consider moving the pinned messages icon alongside the others not hidden in that dropdown thats on far right

[2018-02-27 02:21] kumarnitj commented on #9909
you want a pop up there as info fields?

[2018-02-27 02:26] kumarnitj commented on #9904
is it closed now?

[2018-02-27 02:35] kenton-r commented on #9909
There are times when it would be good to displayed custom user info for each user (kind of like the roles are displayed). Such things like their department, location, or affiliation. Not as a popup, but as a label.

[2018-02-27 03:59] kumarnitj commented on #8869
as an update, you should have npm meteor curl node preinstalled

[2018-02-27 08:04] thakilla commented on #6119
Old Setup:
- Manual setup of rocketchat on debian 8
- Manual setup of mongodb on debian 8

New Setup
- Ubuntu 14.04
- rocketchat with snap

That worked for me:
- stop rocketchat
- "mongodump --out rocketdump"
- stop mongodb
- copy "rocketdump" folder to new server

Switching to new ubuntu server
- "snap install rocketchat-server"
- "sudo service snap.rocketchat-server.rocketchat-server stop"
- "su

[2018-02-27 08:40] antgel opened #9911 "User's push token mysteriously disappears"
### Description:

Our push notifications stopped working,

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0

### Steps to Reproduce:

1. Send a message whilst someone is offline.

### Expected behavior:

They get a push notification.

### Actual behavior:

1. No push is received (email is).
2. If the push was a test one from the admin interface, the green success bubble appea

[2018-02-27 09:19] Darkestlyrics commented on #2869
All Messages are logged in the logs as debug events.

You will have to change you logging level from Error only to Error, Information and Debug.

This will then allow you to get the following from the logs

`[34mI20180227-08:59:05.806(0) rocketchat_logger.js:278 [34mIntegrations ➔ Outgoing WebHook.debug Got the event arguments for the event: sendMessage { event: 'sendMessage',   message:     { _

[2018-02-27 09:28] a11anarete commented on #3883
@graywolf336 -- Just wondering if you could look at this issue as it is still outstanding since 2016?  I notice you looked at the same code block with issue #5914

code block:

https://github.com/RocketChat/Rocket.Chat/blob/develop/server/methods/sendForgotPasswordEmail.js#L14

Thanks in advance.
Allan

[2018-02-27 09:30] antgel commented on #9911
I just got a single push notification! So weird! But when I clicked test, I didn't get another one. I haven't done anything except log into Mongo, where I was considering deleting push tokens, but haven't yet.

[2018-02-27 09:32] ubarsaiyan opened #9912 "Preview the message that the user is replying to"
### Description:
When replying to the message we only see the URL of the message, not the actual message itself. The actual message can only be seen after the reply is sent. The message that the user is replying to should float just above the input field as in WhatsApp.

[2018-02-27 09:32] ubarsaiyan commented on #9912
I am willing to work on this.

[2018-02-27 09:34] derkoe commented on #2642
@hartois you have to add the mapping `"mail":"emails"` to the "User Data Field Map"

[2018-02-27 09:36] der-eismann commented on #9632
I just noticed that I can start audio & video calls, but only in private rooms. In open channels and direct messages the option is missing.

[2018-02-27 09:55] TwizzyDizzy commented on #9909
@rocket-cat close

Hi @kenton-r,

we believe that the issue you reported has already been reported by somebody else. Please have a look at #9536 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-02-27 09:55] TwizzyDizzy commented on #9909
@rocket-cat label add duplicate

[2018-02-27 10:01] antgel commented on #9911
Okay, it looks like the user's push token was deleted according to `db.getCollection("_raix_push_app_tokens").find({userId:"6JJXojrwYHDjHiHc4"});`. He logged out of and into the app, and it now works for him. If anyone knows how this could have happened, I'd love to know.

For my part, maybe my pushes weren't working because I had two push tokens stored for my user, after reinstalling my phone a f

[2018-02-27 10:01] #9911 closed

[2018-02-27 10:01] evaletolab commented on #4318
@tdcpepsi I'm also strongly waiting for a simple SSO integration to our opensource food marketplace & distribution project [karibou.ch](https://github.com/karibou-ch/karibou-api).
Our system is node/express.js + mongodb.
Here the code of our integration for disqus SSO:
https://github.com/karibou-ch/karibou-api/blob/master/models/users.js#L316
It would be perfect to have a similar solution. What sh

[2018-02-27 10:02] a11anarete commented on #3883
Right I got around the problem by adding a place holder for the reset password URL.

[code]
The only issue I have with this is this `sha256` part,  I attempted to use the URL with just `https://hostname/reset-password/` but the page hangs.

Can this be changed somehow, without the `/sha256` part?

Allan

[2018-02-27 10:42] xenithorb commented on #9632
@der-eismann That sounds more like the `meet.jit.si` integration?

Does the button say "Video Chat?", if so that's the jitsi integration.

The symptom of this bug for me is that if I disable that functionality from the admin panel via `Administration -> Video Conference - Enabled: False` then the menu for any conversation whether private, direct, or public looks like so:

![image](https://user-ima

[2018-02-27 10:50] der-eismann commented on #9632
No, I have jitsi and video conferences disabled and enabled WebRTC everywhere. But the audio & video calls are still missing from direct messages.

[2018-02-27 11:11] mysiar opened #9913 "Forgot your password fails to send email"
### Description:

Email settings are set and tested. Can send test email, can send messages by email
Reset password doesn't work.
Typing registered email error is: **_cant send email all recipients were rejected_**
Typing dummy not existing email message is: **_If this email is registered we'll send instructions..._**

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operat

[2018-02-27 12:24] kaiiiiiiiii commented on #9913
#1766 #2077

I don't think this is a bug in Rocket.Chat. It sounds more like a misconfiguration of your SMTP settings or mail server.

[2018-02-27 12:48] mysiar commented on #9913
@kaiiiiiiiii thanks for the hint
this line fixed it

export MAIL_URL=smtp://USERNAME:PASSWORD@HOST:PORT/

[2018-02-27 12:48] #9913 closed

[2018-02-27 13:17] #9882 closed

[2018-02-27 13:27] chgarling opened #9916 "Active Directory users are not handled as expected"
### Description:

The user handling with Active Directory accounts works not as exepected. If a user was disabled in or removed from the Active Directory, he can still log on to Rocket.Chat. A (manual) LDAP sync does not change anything.

A password change of an Active directory user results in two available logins. The user can log on to Rocket.Chat with the current and the last password. If the

[2018-02-27 13:27] rafaelks commented on #9878
@MartinSchoeler This one is really important ^^.

[2018-02-27 13:28] TwizzyDizzy commented on #9669
@rocket-cat close

Closing this, as you didn't provide any further information. If you still think this is a Rocket.Chat error, please get back to me and provide additional information on why you think this is a bug. We'll then consider re-opening this issue.

Cheers
Thomas

[2018-02-27 13:28] #9669 closed

[2018-02-27 13:33] robindijkhof commented on #9801
@xbolshe thanks. From the devWarning in the groups/channels and from the source code I found how to get the users.

[2018-02-27 13:33] #9801 closed

[2018-02-27 13:38] dulman commented on #8103
@MartinSchoeler
We also have allowed useres to change their username. But useres aren't able to change their username.
"Your rocketchat administrator has disabled the changing of usernames."

![image](https://user-images.githubusercontent.com/20679842/36731683-b49e0568-1bcb-11e8-8c2d-51033eb26890.png)

[2018-02-27 13:42] robindijkhof opened #9917 "Realtime Api does not return ID"
### Description:

When using stream-room-messages I get some response but the actual id is "id"

### Server Setup Information:

 * Version of Rocket.Chat Server: 0.61.1
 * Operating System: Ubuntu 16.04 LTS
 * Deployment Method(snap/docker/tar/etc): Manual install
 * Number of Running Instances: 1
 * DB Replicaset Oplog:
 * Node Version: 8.9.4

### Steps to Reproduce:

Using the realtime api subsc

[2018-02-27 13:43] rodrigok commented on #9916
@chgarling Thanks by this report.

You can disable the password fallback to prevent that behavior for now. We can't sync the user password since LDAP does not provide that information, we save the user's password after a successful login on LDAP server to enable the `password fallback`.

We have plans to improve that ASAP, I hope we could do that to next version (0.63)

[2018-02-27 14:04] xenithorb commented on #9632
Indeed, I found it too:

![screenshot](https://user-images.githubusercontent.com/10273878/36732927-1d345ab6-1b9d-11e8-8be9-d7024621bd77.png)

Man that's in a really unintuitive spot.

[2018-02-27 14:14] xenithorb commented on #9632
Also, It's true that User<->User rooms don't have this... And to make things work the icon is overloaded:

![image](https://user-images.githubusercontent.com/10273878/36733437-a511e2ae-1b9e-11e8-89e4-ca0d9c03904c.png)

[2018-02-27 14:30] rodrigok commented on #9900
The LDAP server does not allow us to get the user's password but when the user login the auth process happens against the LDAP server and should allow the login, you probably configured your LDAP settings wrong and the auth is not happening so the server tries to fallback to local password that you set to the user (you can disable that fallback)

For the fallback we store the user's password when

[2018-02-27 14:33] er0k opened #9918 "Cannot start RocketChat client on debian: failed to map segment from shared object"
### Description:

[code]
I just downloaded and installed 2.10.5, but I get this error when trying to run rocketchat:

[code]
### Steps to Reproduce:

1. run `rocketchat`

### Expected behavior:

rocketchat client should start

### Actual behavior:

rocketchat client does not start

[2018-02-27 14:45] TwizzyDizzy commented on #9918
@rocket-cat close

It seems like you're describing an issue in Rocket.Chat.Electron. But you opened this issue in the server application repo. Please head over to https://github.com/RocketChat/Rocket.Chat.Electron and report the issue there while adhering to the [issue template](https://github.com/RocketChat/Rocket.Chat.Electron/blob/develop/.github/ISSUE_TEMPLATE.md).

Cheers & Thanks
Thomas

[2018-02-27 14:46] #9918 closed

[2018-02-27 14:56] OtavioCapila commented on #9900
I've made a user in AD to test,but still not working
![capturar](https://user-images.githubusercontent.com/29285724/36735492-1f863e02-1bb5-11e8-8a66-6009ab016631.JPG)
![capturar2](https://user-images.githubusercontent.com/29285724/36735498-238f45d4-1bb5-11e8-9096-f5ab5662ab01.JPG)
![capturar3](https://user-images.githubusercontent.com/29285724/36735524-2f884b60-1bb5-11e8-8838-5cb484a32553.JPG)

[2018-02-27 15:18] bizzbyster commented on #2181
It would also be nice if Rocket.chat could access the local contacts when inviting. Is that a possibility? Seems like an important way to spread Rocket.chat.

[2018-02-27 15:20] bizzbyster opened #9919 "Invite new users via contacts/SMS"
There is already this issue https://github.com/RocketChat/Rocket.Chat/issues/2181 which describes inviting a new user via the "/invite" command. But it would also be great if users could be invited via contacts and including via sending the invite via SMS. This is a standard feature on many other chat applications.

[2018-02-27 15:20] geekgonecrazy commented on #3883
Copying links over from my duplicate issue #8650

Here is where the email is constructed it looks like: https://github.com/meteor/meteor/blob/devel/packages/accounts-password/email_templates.js#L7

Here is where the url is built: https://github.com/meteor/meteor/blob/devel/packages/accounts-base/url_server.js#L7

[2018-02-27 15:28] OtavioCapila commented on #9900
Is there something wrong with LDAP config in my RC?

![ldap1](https://user-images.githubusercontent.com/29285724/36737355-a0ed6886-1bb9-11e8-8574-db14c43a609b.JPG)
![ldap2](https://user-images.githubusercontent.com/29285724/36737356-a10d0b46-1bb9-11e8-8c26-e6a8c58b806d.JPG)
![ldap3](https://user-images.githubusercontent.com/29285724/36737357-a1331156-1bb9-11e8-8940-5c5d71fe7849.JPG)
![ldap4](https

[2018-02-27 16:13] chgarling commented on #9916
It would be a good idea to implement LDAP the right way and do a bind with the user that tries to authenticate. Using a dedicated bind user is always a bad idea.

Regards, Christian

Von meinem iPhone gesendet

[2018-02-27 16:23] er0k commented on #9918
Oops, sorry about that.

[2018-02-27 16:31] rodrigok commented on #9900
Can you set your log level to `Debug`, try to login again a paste the server logs here?

[2018-02-27 16:39] OtavioCapila commented on #9900
![ldap7](https://user-images.githubusercontent.com/29285724/36741352-9e502258-1bc3-11e8-9734-d0bfe289511d.JPG)

[2018-02-27 16:41] rodrigok commented on #9900
@OtavioCapila Did you see the error? `User not in valid group`

[2018-02-27 16:43] OtavioCapila commented on #9900
@rodrigok I created that test user in the same OU where is my common user.
But,if i change manually the password of that users,it will logon without problem.

[2018-02-27 16:43] OtavioCapila commented on #9900
![ldap8](https://user-images.githubusercontent.com/29285724/36741547-2cc4e776-1bc4-11e8-8ad3-be39571073cb.JPG)
![ldap9](https://user-images.githubusercontent.com/29285724/36741548-2ce4da86-1bc4-11e8-9581-9a24d30d7905.JPG)

[2018-02-27 16:45] OtavioCapila commented on #9900
So i've changed the password,and there's no error
![ldap10](https://user-images.githubusercontent.com/29285724/36741649-67910038-1bc4-11e8-9f0a-8bab1ab0d79a.JPG)

[2018-02-27 16:46] OtavioCapila commented on #9900
I've changed the user password,and logged in normally(with the same error "User not in valid group")
![ldap10](https://user-images.githubusercontent.com/29285724/36741694-8627a5ce-1bc4-11e8-8a4d-dddf17a19b48.JPG)

[2018-02-27 16:50] Avalarion commented on #6786
This is now nearly a year old and for two projects a very big plus, is there some way to support this feature?

[2018-02-27 17:13] TwizzyDizzy commented on #9909
@rocket-cat open

Ah, now I get you! I'll happily reopen.

Cheers
Thomas

[2018-02-27 17:13] OtavioCapila commented on #9900
Could be the version of NodeJS?

[2018-02-27 17:14] TwizzyDizzy commented on #9909
@rocket-cat label remove duplicate

[2018-02-27 17:18] jpasantos opened #9920 "Custom OAuth isn't removed when pressing remove"
### Description:

Removing custom oauth record isn't working on a freshly deployed Rocket Chat. Issue wasn't happening with 0.59 if I'm not mistaken

### Server Setup Information:

* Version of Rocket.Chat Server:  0.61.2 (0.61.0 for snap)
* Operating System: linux
* Deployment Method(snap/docker/tar/etc): tar and snap (tried both)
* Number of Running Instances: 1
* DB Replicaset Oplog: disabled
*

[2018-02-27 17:29] bizzbyster commented on #3694
I'm unable to find the close button. Can you explain where it is? Tabbar info page?

[2018-02-27 17:30] bizzbyster commented on #3694
found it

[2018-02-27 17:52] bizzbyster opened #9921 "Livechat is not forwarding an outbound SMS message to twilio"
I am using LiveChat and SMS with a Twilio account doing the SMS messaging for me. I am able to receive SMS and it shows up as a new 1-on-1 chat in Rocket.chat as expected. But when I reply to that message the SMS client does not see the response.

I'm able to confirm that Twilio is successfully sending SMS messages using my Twilio account. So I think the problem is that Rocket.chat is not forwardi

[2018-02-27 18:18] tomneedham commented on #9562
This is cool! We've been working on bring these two platforms together already: https://twitter.com/tomneedham/status/965606548968964101 Hit me up if you need a hand here :)

[2018-02-27 18:20] MarcosSpessatto commented on #9878
@rafaelks, #9922.

[2018-02-27 18:50] gdelavald opened #9923 "reset password url is redirecting to the login page."
@a11anarete commented on [Tue Feb 27 2018](https://github.com/RocketChat/Rocket.Chat.Electron/issues/674)

### Description:

Password reset URL is going to the login page.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: CentOS 7
* Deployment Method(snap/docker/tar/etc): RPM
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version:

[2018-02-27 19:09] rafaelks opened #9924 "[BUG] Emoji is showing original and from Emojione into the message"
### Description:

The message is displaying both unicode & Emojione emoji image.

![screen shot 2018-02-27 at 15 53 10](https://user-images.githubusercontent.com/551004/36749000-469f27c4-1bd8-11e8-91b5-9a49b1c678d0.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.
* Operating System: Linux

### Steps to Reproduce:

Here's the HTML generated for the message:

[code]

**It'

[2018-02-27 19:09] rafaelks opened #9925 "[IMPROVEMENT] Browser should never auto-fill values when editing another's user profile"
### Description:

We should not provide auto-fill values when editing another's user profile.

![screen shot 2018-02-27 at 16 02 05](https://user-images.githubusercontent.com/551004/36748928-14dac234-1bd8-11e8-807e-22593fffc2a6.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.
* Operating System: Linux

### Steps to Reproduce:

1. Open admin with Safari
2. Edit a user's p

[2018-02-27 19:09] rafaelks commented on #9925
@karlprieb Added to you, but not really sure to who I should assign this.

[2018-02-27 19:09] rafaelks commented on #9924
@karlprieb Added to you, but not really sure to who I should assign this.

[2018-02-27 19:14] rafaelks opened #9926 "[BUG] When server is slow, if I send a message it appears like the other users sent it"
### Description:

![screen shot 2018-02-27 at 16 11 19](https://user-images.githubusercontent.com/551004/36749309-283c01d4-1bd9-11e8-9007-3bfcced775ea.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62
* Operating System: Linux

### Steps to Reproduce:

1. Server is slow;
2. Send messages in sequence with other user;

### Expected behavior:

It should separate messages to e

[2018-02-27 19:14] rafaelks commented on #9926
@karlprieb Assigned to you, but not really should who should be assigned.

[2018-02-27 19:22] arakon5 opened #9927 "Permission for Delete Private Channels does not work"
### Description:

The permission "Delete Private Channels[delete-p]" seemed to be originally intended to allow private rooms to be deleted by their owners.  Changing this no longer seems to have any effect, due to the template having "canDeleteRoom" button commented out completely (packages/rocketchat-channel-settings/client/views/channelSettings.html)

Possibly due to commit:
https://github.com/R

[2018-02-27 19:24] kaiiiiiiiii commented on #9925
@rafaelks I’ll take this one, if it’s ok for you guys :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-27 19:38] karlprieb commented on #9925
Go ahead @kaiiiiiiiii :) Thank you!

[2018-02-27 19:39] karlprieb commented on #9926
Thank you for this report @rafaelks We already know that issue but we didn't created an issue for that. I'll investigate that.

[2018-02-27 19:40] karlprieb commented on #9924
@rafaelks do you know exactly when both emojis are displayed? It's just this message?

[2018-02-27 19:45] a11anarete commented on #9923
@gdelavald is it me or is this going in a loop, #674 then #9923 and so on...

Do you have a solution?

[2018-02-27 19:46] renatobecker commented on #9853
Hi @theorenck and @sampaiodiego !

I started this issue today and I've talked to @theorenck about this because I had some doubts.
The main point is how the message will be displayed to the agents, for example, we'll display the page title and page link of the visitor's page or simply send a message with the link to Rocket.Chat and the message will appear the same way the links are displayed, conta

[2018-02-27 20:46] benoneb opened #9929 "<div class="room-container"></div> is empty after reload page in Chrome"
What happens?
<div class="room-container"></div> is empty after reload page in Chrome.
Ubuntu 16.04 w/ Gnome
Chrome Version 64.0.3282.167 (Official Build) (64-bit)
We test with different Ubuntu versions and Chrome version and same behavior happen after reload window.
Only the room where the <CTRL + R> was executed get empty, other rooms work normally, including rooms that was blank/empty before by

[2018-02-27 21:32] rafaelks commented on #9878
Docs update: https://github.com/RocketChat/docs/pull/612.

@graywolf336 I think we're also using this field as String in our RocketChat Apps changes. Can you take a look? The type of the field is *Boolean*.

[2018-02-27 21:34] kaiiiiiiiii opened #9930 "[BUG] Blank panel after renaming user"
I only get a green "saved" badge in the upper right corner, but no content at all in the side panel.

* Version of Rocket.Chat Server: 0.62.0-develop
* Operating System: osx

### Steps to Reproduce:

1. Go to users in admin panel
2. Edit an users username
3. Click save
4. See nothing than a blank panel

### Expected behavior:

An updated view of the user info page.

### Actual behavior:

![test](h

[2018-02-27 22:28] aphilsmith opened #9933 "Provide JOIN group/channel invitation URL"
A huge improvement would be to generate admin URL to invite users to join a group/channel. This is a powerful feature on Telegram that Rocket Chat sorely needs.

[2018-02-28 00:37] rafaelks commented on #9924
@karlprieb I saw happening with this message and a few times on the left-sidebar. I didn't find a way to  reproduce it yet.

[2018-02-28 02:28] renxuqiang opened #9936 "Dependency error when deploy multiple RC instances with Mongo replica set"
I deploy two RC instances on two machine,  like RC-server-A, mongodb-A  on machine-A,
RC-server-B, mongodb-B  on machine-B, and a nginx server to do proxy.
 mongodb-A and mongodb-B are replica set, every work well, and the data can sync between DBs correctly.

my problem is when mongodb-A and mongodb-B are replica set, the RC server can not run with only one DB is running , like if I start mongodb

[2018-02-28 02:52] #9825 closed

[2018-02-28 02:52] #9826 closed

[2018-02-28 03:02] twardnw commented on #7990
This would be very helpful to us too

[2018-02-28 05:19] twardnw opened #9937 "Feature request: botkit connector"
It seems that Hubot is practically abandoned by Github at this point, there is a small community effort to try and keep it alive, but that is not progressing very well. [botkit](/howdyai/botkit) has a very substantial following and very active development. It would be quite nice if RocketChat could build a connector for botkit ( per howdyai/botkit#1126 they request that the platform wanting the co

[2018-02-28 07:30] sharenz commented on #8992
+1

[2018-02-28 08:26] NIghtCell commented on #9892
Sorry, I had to find out details about the deployment. I hope that this is enough information. Please open the issue again

[2018-02-28 08:27] hartois commented on #2642
@derkoe Do I have to specify the "mail" attribute twice? Or just specify mail -> emails only mapping?

[2018-02-28 08:38] PhpXp commented on #9885
In my testing, it works in Firefox but not in Chrome.
OS: Android 8.0.
Chrome version: Beta 65.0.3325.85
Firefox version: 58.0.2

[2018-02-28 09:15] avignat commented on #8664
Still here 0.62.0

[2018-02-28 09:18] gogosofta opened #9938 "incorrect file path in "Deploying Rocket.Chat Server Binaries on a FreeBSD system" manual at https://rocket.chat/docs/installation/manual-installation/freebsd/universal/"
fetch: https://download.rocket.chat/build/rocket.chat-freebsd-develop.tgz: Not Found

[2018-02-28 09:27] gogosofta commented on #1477
Hello,

As per https://rocket.chat/docs/installation/manual-installation/freebsd/universal/

I get this:
fetch: https://download.rocket.chat/build/rocket.chat-freebsd-develop.tgz: Not Found

Can anyone point the correct file location?

[2018-02-28 09:36] himpich opened #9939 "No more 'unread room mode' for Sidebar Channel List Mode"
### Description:

The Personal option "Sidebar Channel List Mode" is missing in 0.62.0 - no more unread room mode

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Operating System: linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 4
* DB Replicaset Oplog: yes
* Node Version: -
* mongoDB Version: 3.2.9

### Expected behavior:

I have the

[2018-02-28 09:43] derkoe commented on #2642
@hartois good question - we have both and it works. When looking at the code it could also work with only `{"mail":"emails"}`

[2018-02-28 10:24] lostdesign commented on #9939
![screenshot](https://i.imgur.com/B2XScWu.png)
As you can see in https://open.rocket.chat, its hidden underneath the global icon in the left sidebar.

[2018-02-28 10:27] gogosofta commented on #2993
I wonder where the https://download.rocket.chat/build/rocket.chat-freebsd-develop.tgz has gone?

[2018-02-28 10:31] himpich commented on #9939
Thanks for clarifying the new location of that option (found it and it's working).

In that case we lost the previous setting...

[2018-02-28 10:32] TwizzyDizzy commented on #9939
So this is no actual issue, then, right? :) Still good to clarify, yet if there is no bug I'd like to close this issue :)

Cheers
Thomas

[2018-02-28 10:35] himpich commented on #9939
Issue closed to to "no bug"

Preserving old settings and maybe leave a hint in the old options would have been nice, but it's ok :)

[2018-02-28 10:35] #9939 closed

[2018-02-28 11:14] TwizzyDizzy opened #9940 "[BUG] Create new channel dialogue disappears below sidebar"
### Description:

If you resize the window, at some point the "Create new channel" UI disappears below the sidebar. I think the width of the sidebar is not taken into account, as at some point the disappearance of the sidebar (in favour of "the burger menu") still triggers. See the GIF below for further details.

This happens on Firefox 58.0.2 as well as Chromium 64.0.3282.167.

### Server Setup I

[2018-02-28 11:20] TwizzyDizzy commented on #9865
This is still present in 0.62.0

[2018-02-28 12:13] TheReal1604 opened #9941 "Create admin-settings for the new view settings in the sidebar"
### Description:

I couldnt find any admin setting where I can set a default for the new view options on the sidebar.

![image](https://user-images.githubusercontent.com/5877910/36786981-b341707a-1c88-11e8-9690-59054c5d79d9.png)

This view settings should have an admin setting to set this view in a default state for all users which not adjusted this setting yet (or for new users).

https://github.

[2018-02-28 13:22] timkinnane commented on #7990
I only just discovered, within the adapter there's a `.customMessage` method, which allows you to set a `bot` bool property. Not super helpful unless the instances where bot's are responding to each other are known specific sends, which you could replace with the customMessage and let the other bot check for the property. That's a way to solve it with existing packages, but I'm mostly saying this

[2018-02-28 13:34] markwooff commented on #9339
+1

[2018-02-28 13:38] rafaelks opened #9942 "[BUG] Markdown parsing code adds a new line and parse image URLs"
### Description:

This issue is about two things in our Markdown parsing:

1. It adds a new line to the markdown processed HTML;
2. It renders the images of the links that are inside of the code block;

![screen shot 2018-02-28 at 10 00 16](https://user-images.githubusercontent.com/551004/36790325-2ec1b590-1c73-11e8-9ad6-67368efbd918.png)

### Server Setup Information:

* Version of Rocket.Chat Se

[2018-02-28 13:38] rafaelks commented on #9942
@karlprieb Assigned to you, but not really sure who needs to be assigned.

[2018-02-28 15:21] reetp opened #9943 "node module sharp fails install on CentOS 6"
### Description:

After installation of rocket.chat 0.62.0 on CentOS 6 the installation failed to run. This is due to the 'sharp' module requiring a higher version of glibc than I have installed (required glibc 2.14 - installed glibc 2.12)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Operating System: CentOS 6
* Deployment Method(snap/docker/tar/etc): tarball into rpm

[2018-02-28 15:32] christianh814 opened #9944 "Cannot pull image registry.connect.redhat.com/rocketchat/rocketchat"
### Description:
Deploying template into openshift fails because it cannot pull registry.connect.redhat.com/rocketchat/rocketchat

### Server Setup Information:

Irrelevant as I can't get the image

### Steps to Reproduce:

1. `oc new-app -f https://raw.githubusercontent.com/RocketChat/Rocket.Chat/develop/.openshift/rocket-chat-persistent.json`
2. It doesn't pull
3. No one gets to chat

### Expect

[2018-02-28 18:26] sumedh123 commented on #9942
@rafaelks If you don't mind, may I send a pull request?

[2018-02-28 18:39] karlprieb commented on #9942
@sumedh123 go ahead :)

[2018-02-28 18:59] c0dzilla commented on #9940
Taking this up.

[2018-02-28 19:21] nemaniarjun commented on #9933
I am interested in taking this up, but seems like a huge improvement, would like if someone broke it down into smaller issues.

[2018-02-28 19:32] nemaniarjun commented on #9924
@mrinaldhar I think we noticed this too?

[2018-02-28 21:07] rajsardhara opened #9948 "Multiple SlackBridge"
Hello,

Is there a way I can integrate with multiple Slack same time?, We've few clients using Slack And I want to integrate with all of them but with current setup it allows only one, Can I use WebHook instead? Anyone got working script?

[2018-02-28 21:42] TwizzyDizzy commented on #9948
@rocket-cat close

Hi @rajsardhara

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing.

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitation of time. If it should t

[2018-02-28 21:42] #9948 closed

[2018-02-28 21:49] karlprieb commented on #9817
So guys, we already fixed the missing general and all default channels, but we still have to fix the sort thing :) Thank you for your feedback!

[2018-02-28 22:05] karlprieb commented on #9894
Hey @savikko thank your for your report. Can you add a screenshot, it will be easier to us to identify this bug.

[2018-02-28 22:11] karlprieb commented on #9657
We will work on the #9632 issue. @ecoitsolutions thank your for your feedback.

[2018-02-28 22:11] #9657 closed

[2018-02-28 22:15] karlprieb commented on #9632
Hey guys, thank you all your reports!

@arthurgiustina will work on a better way to display this options (icons + label, or just icons, idk) and I will investigate that to make it work again!

[2018-02-28 22:24] karlprieb commented on #9498
Hey @Dirk23 I can't reproduce this behavior on 0.62, can you upgrade your RC version and try again?

Thank you!

[2018-02-28 22:29] karlprieb commented on #9351
Hey @vnkmpf thank you for your report! I tried here and you're right. We'll keep track of it, but it's not our priority to fix that right now.

[2018-02-28 22:39] karlprieb commented on #9859
Hey @janrudolph in fact using svg as avatar is not allowed, but our file upload button are not working as it should.

[2018-02-28 22:39] vnkmpf commented on #9351
Sure, I knew broken emojis are not top priority :)
I was even wondering, if it can be some emoji library bug - not rocketchat's. But didn't give any research to it.

[2018-02-28 22:45] karlprieb commented on #9550
@akuma can you give as a real link so can we reproduce the issue? And if possible sent how did you wrote that message too.

[2018-02-28 22:47] karlprieb commented on #9869
@der-eismann can you try that on the 0.62 release? I can't reproduce that here.

[2018-02-28 23:00] karlprieb commented on #9895
@MarcosSpessatto it's an api problem? Can you take a look on that?

[2018-03-01 02:14] akuma commented on #9550
The link is a git project link.

[2018-03-01 02:20] gigawhitlocks commented on #9829
For whatever unlucky soul finds this from Google like I did, just a little clarification to clear up the guessing I had to do to work around this:

Install node-gyp like in #9167 but then cd into `programs/server/npm/node_modules/sharp/build` and call node-gyp rebuild, then (maybe unnecessary) call `npm install` again from `programs/server` and you should be good to go.

[2018-03-01 04:32] renxuqiang commented on #9936
after some research, I find the reason, it's because the mongoDB should have at least 3 instances to  survive from  an accident, and the remain instances must more than 50% of total (the majority), so it can vote from a new PRIMARY. see mongoDB Replica Set Elections doc for more info.

[2018-03-01 04:32] #9936 closed

[2018-03-01 05:38] geekgonecrazy commented on #9561
This *_might_* be Cordova only.

[2018-03-01 06:36] Gummikavalier opened #9951 "Directory view does not scroll in Firefox"
### Description:

Directory view does not scroll nor does it have visible scrollbar in Firefox 58.0.2.
Scrolling and scrollbar works on Chrome and Firefox ESR 52.6.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 5
* DB Replicaset Oplog: Enabled
* Node Version: v.8.9.4

### Steps to Reproduce:

1. Ma

[2018-03-01 08:21] johnyb0y commented on #9941
Thanks for creating the issue. We will skip 0.62.0 because the rather huge change in UX would throw off many of my users.

[2018-03-01 08:29] c0dzilla commented on #9940
@karlprieb while viewing a channel, the channel width reduces on reducing window width, with the sidenav's width not changing at all upto a certain width, after which sidenav retracts. In create channel view, is the same behaviour desired or sidenav should retract from the beginning as suggested in the issue?

[2018-03-01 08:43] der-eismann commented on #9869
I can try when you release 0.62 as a snap 😄 When I look back to the 0.61 release it should come in the next few days, right?
We are still testing features before planning a bigger deployment.

[2018-03-01 09:33] TwizzyDizzy commented on #9738
With this assertion, I totally agree ;)

Cheers
Thomas

[2018-03-01 09:44] ramrami commented on #8325
I've created a PR to solve this issue : #9953

[2018-03-01 09:55] kyrogue commented on #1975
its not a must to rename it to Rocket.Chat right?

[2018-03-01 10:04] danila-kovalev opened #9954 "Windows client: Unable to download files from channel file list"
### Description:

It is not possible to download files from "files list" of the channel.
This is valid for win-client only
Using web-browser as a client or apple-mobile-app - there are no such problem

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: linux-x64-4.4.0-112-generic
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1

[2018-03-01 10:42] rw4lll commented on #9954
Also encountered with this bug. Download button inside chat is working but in dedicated channel filelist is not workint.

[2018-03-01 11:05] rudineirk commented on #9869
I had this problem on version 0.61, yesterday I updated to 0.62 and looks like the problem is fixed

fyi: I'm running the application using Docker

[2018-03-01 11:52] renxuqiang opened #9955 "Can Rocket.Chat use less hardware dependent libs ?"
After I upgrade RC to 0.62,  it fails to deploy on CentOS 6,  and I guess plenty servers use this os. I fell a little sad about this.

when use Node.js, most of us think about cross platform,  but RC use more and more libs require build on specific machine,  to have deploy RC 0.61,  I have to install a GCC v4.8 ( fibers can not install with gcc v4.4)
I know some import libs require hardware relate

[2018-03-01 11:55] reetp commented on #9955
Yup - see this

https://github.com/RocketChat/Rocket.Chat/issues/9943

[2018-03-01 12:00] reetp commented on #9955
FWIW you can install it on docker..... I have a test one set up, though 'latest' is 61.2 so not sure what will happen when they update to 0.62

[2018-03-01 12:06] TwizzyDizzy commented on #9892
@rocket-cat open

Well your information still doesn't include everything that we asked for, yet since I could just reproduce it on 0.61.2 (no access to a 0.62.0 currently) I will reopen this issue.

Cheers
Thomas

[2018-03-01 12:16] TwizzyDizzy commented on #9955
@rocket-cat close

I see your point here, yet this seems to be a topic that is best discussed in the forums. That's why I'm closing this issue and refer you to https://forums.rocket.chat.

The actual issue of the sharp dependency is, as @reetp suggested, handled in #9943.

Cheers
Thomas

[2018-03-01 12:49] ajcollett commented on #6655
Hey,

Just want to chime in here.

There are a few use cases for this.

For example, I use this as a chat server for my university (I am a tech officer here) and the CS department is making great use of RocketChat.

I have started to use the server for course announcements, which sometimes means creating users before they have logged in, so that I can add them to a course via api.

If I create a u

[2018-03-01 13:40] karlprieb commented on #9859
@janrudolph we will use this issue.

[2018-03-01 13:49] karlprieb commented on #9550
@akuma What do you wrote on message box? something like this? `[ ](http://gitlab.example.com/foo/bar)`?

[2018-03-01 13:52] karlprieb commented on #9941
@johnyb0y When we fix that and add an default view mode on admin you'll be able to hide the button on sidebar using custom css or maybe we can add an option on admin to decide which buttons will be visible for users.

[2018-03-01 13:54] karlprieb commented on #9940
@c0dzilla we are still thinking about it... so we didn't decide which is best for the UI, but we will fix this issue :)

[2018-03-01 13:57] karlprieb commented on #9869
Thank you for your feedback @rudineirk.

@der-eismann I'll talk with our snap guy :) and see when this will be released, so you can try that too and we can close this issue or do the fix.

[2018-03-01 14:03] karlprieb commented on #9743
Hey guys, we are tracking these performance issues and will make some improvements to fix that in the next releases.

[2018-03-01 14:11] karlprieb commented on #9923
@a11anarete this is a Rocket.Chat web client issue and not a Rocket.Chat Desktop App issue, that's why @gdelavald brought #674 issue to this repository.

[2018-03-01 14:17] karlprieb commented on #9923
@a11anarete Sorry i looked at #3883 just now. I'll close this issue and we can keep that thread.

Duplicated of #3883

[2018-03-01 14:17] #9923 closed

[2018-03-01 14:29] karlprieb commented on #9890
Hey @idanielblake as you can search for names on that list already, we will add the Name on the results when you turn on the "Use Real Name" option on admin, ok? So the result will return `Name @username` as we already do on messages.
![image](https://user-images.githubusercontent.com/9200155/36849807-c3967612-1d43-11e8-86ad-ec8b97450b02.png)

[2018-03-01 14:30] karlprieb commented on #9890
@sanudatta11 you can work on that fix if you want. Talk with me on open.rocket.chat if you need any help to understand what we want for this fix.

[2018-03-01 14:34] shakalandy commented on #6750
Possible to sponsor this one? Maybe via Bountysource?

[2018-03-01 14:40] johnyb0y commented on #9941
Thanks for your response and work. I dont' want to miss the added buttons and new functionality, they are great!

What i need to prevent is a sudden change in UI, because that would break the usage of Rocketchat in my company instantly :/

what would be very convenient for admins with non-tech-savvy users like me:
A way to define a **default view** which is enabled by default, but can still be cha

[2018-03-01 15:09] fcoppolani commented on #9900
If it can help : #9834

[2018-03-01 15:16] OtavioCapila commented on #9900
@fcoppolani Atlassian crowd are disabled.

[2018-03-01 15:16] OtavioCapila commented on #9900
Anyone?

[2018-03-01 15:17] OtavioCapila commented on #9834
I'm with the same problem,Atlassian crowd is set to false,but still not syncing passwords when i create a new user in LDAP, so i have to set manually a new password to the user in Rocket.Chat.

[2018-03-01 15:33] ajcollett commented on #6655
Okay so I saw you can add customFields in the RESTFul API.

I was all excited and did a few tests. Unfortunately, it seems the custom fields argument is not what I wanted. Instead of adding the CAS to the services, it just ignores the input, creating a user with no cas.

I then read some more of the docs and now understand why my custom fields expectation was unreasonable.

So I guess then the nex

[2018-03-01 16:13] der-eismann commented on #9869
Perfect! So while I wait another funny detail:
I'm unable to leave a room via the room info page:
![unbenannt](https://user-images.githubusercontent.com/10406217/36855430-b33bb37e-1d73-11e8-948d-966953e3b7ca.PNG)
But it's no problem to leave it via the room list on the left:
![unbenannt](https://user-images.githubusercontent.com/10406217/36855452-c7e686c8-1d73-11e8-9608-38188134ac94.PNG)
Let's see

[2018-03-01 16:19] karlprieb commented on #9941
@johnyb0y I get it, you can set the sort/filter settings on admin already and we'll add an option to set the sidebar view mode default on admin, ok?

[2018-03-01 16:20] johnyb0y commented on #9941
Sounds great 👍

[2018-03-01 16:21] karlprieb commented on #9869
Ok, thank you for bringing more information!

[2018-03-01 16:31] mphslaats commented on #2556
Hi @andpiazza Thanks for your reply, After lots of searching I could not find the best practice indeed. Like you pointed out I could hardly find any documentation.
I solved my issue by going to Administration - Layout - Custom CSS. Here I am able to add custom CSS, however I have no idea if this is the best practice.

[2018-03-01 16:40] reetp opened #9957 "0.62.0 LDAP - Exception while invoking method 'deleteUser'"
### Description:

Trying to delete a user from Rocket it throws this error

Exception while invoking method 'deleteUser'

MongoError: '$pull' is empty. You must specify a field like so: {$mod: {<field>: ...}}
    at Function.MongoError.create (/app/bundle/programs/server/npm/node_modules/meteor/npm-mongo/node_modules/mongodb-core/lib/error.js:31:11)
    at toError (/app/bundle/programs/server/npm/

[2018-03-01 17:32] xWyatt commented on #9404
I have users that are experiencing a similar issue where they get a notification that a new message has arrived (mainly on the Rocket.Chat app for Windows) yet no message shows in the room.

Restarting the application, or refreshing it with Ctrl+R Seems to show the new message. Do you think this is related to the issue you are having @crsCR? If not, I will open a new Issue.

[2018-03-01 17:33] kaiiiiiiiii opened #9958 "[BUG] Hidden menu icons in admin interface when "Hide Avatars" is activated"
### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 2
* DB Replicaset Oplog: yes
* Node Version: 8.9.4
* mongoDB Version:

### Steps to Reproduce:

1. Activate "Hide Avatars" in sidebar (view mode).
2. Go to the administration interface

### Expected behavior:

Vis

[2018-03-01 17:42] TheReal1604 commented on #9941
@karlprieb thanks!

[2018-03-01 17:46] leonardoap commented on #2869
+ 1!!!

[2018-03-01 18:53] emmanuelchampagne commented on #9829
You don't have to call ```npm install``` gain.

[2018-03-01 19:10] rafaelks opened #9961 "[NEW] Directory REST APIs"

[2018-03-01 19:21] twardnw opened #9962 "Feature Request : allow bots to post 'system' messages"
It would be useful to allow bots/webhooks to post system messages to a channel, which are only visible to a specific user.

https://open.rocket.chat/channel/support?msg=eqb2h4ekbGimZAtp5

Our use-case, we have a bot which welcomes new users in a general channel. We prefer this to not be a noisy thing, nor a direct message, so on slack we use a 'whisper' to post the welcome to that new user into th

[2018-03-01 20:02] karlprieb commented on #9758
Closed by #9884

[2018-03-01 20:02] #9758 closed

[2018-03-01 20:14] karlprieb opened #9963 "Feature: Setup wizard"
- [x] Route, page sequence and make this route show on first access
- [x] Layout
	- [x] Page template
	- [x] Input file layout
	- [x] Select with icons layout
	- [x] Checkbox layout
	- [x] Agreement on mandatory fields
	- [x] Agreement on wizard steps and flow
 	- [x] Agreement and definition about wording and i18n translations (default language detection)
	- [x] Review forms and pages
- [x] Serve

[2018-03-01 20:43] karlprieb commented on #5514
Seems that we already fixed that. I can't reproduce that anymore on my phone.

@TheReal1604 @RichardFoxworthy can you guys test again?

[2018-03-01 21:01] xurizaemon commented on #3283
Seems on topic to remind that notifications work on Github too: the usernames mentioned above (except @shittypeople!) are real people / orgs now getting notified about this issue. I believe we can prevent triggering notifications for randomly mentioned people using backticks: `@here` etc.

:thumbsup: for this proposal too!

[2018-03-01 21:05] karlprieb commented on #5414
It was already fixed.

[2018-03-01 21:05] #5414 closed

[2018-03-01 21:06] karlprieb commented on #5188
We decide to move this to the bottom of message box, so I will close this issue.

[2018-03-01 21:06] #5188 closed

[2018-03-01 21:06] karlprieb commented on #5486
Already fixed.

[2018-03-01 21:06] #5486 closed

[2018-03-01 21:07] karlprieb commented on #5513
We already fixed that with our new modal.

[2018-03-01 21:07] #5513 closed

[2018-03-01 21:10] karlprieb commented on #5609
It's already fixed

[2018-03-01 21:10] #5609 closed

[2018-03-01 21:10] karlprieb commented on #5564
Already fixed

[2018-03-01 21:10] #5564 closed

[2018-03-01 21:25] rafaelks commented on #5413
@snaiperskaya96 I’m sorry for the delay in our response and thanks for asking. We’re dropping support on new features and improvements in our Cordova application, since we are now investing everything in our native apps.

If you still need this feature being implemented in Cordova, I suggest that someone from the community (or you?) develop it and submit a pull-request to our project.

If you want

[2018-03-01 21:25] #5413 closed

[2018-03-01 22:10] c0fe opened #9964 "Installation Fails"
### Description:

Installation fails, using the instructions here:

https://rocket.chat/docs/installation/manual-installation/ubuntu/

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1. do

[2018-03-01 22:17] c0fe commented on #9964
Also, g++ build-essential are installed:

`root@talk:/tmp/Rocket.Chat/programs/server# apt-get install g++ build-essential -y
Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.1ubuntu2).
g++ is already the newest version (4:5.3.1-1ubuntu1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
`

[2018-03-01 22:18] richardwlu opened #9965 "Add Sound Notifications To Highlighted Words"
### Description:
Feature request to add a sound notification when a "Highlighted Word" has been triggered.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.2

[2018-03-01 22:23] renatobecker commented on #9848
I added 2 more items related to translation, because I found several keys used without translation to Portuguese. So, because of this, I spent more time translating these keys and checking for other missing translations.
I made some tests like changing the language of the browser and the language of the OS and I checked if the translation was correct.
Now the translation of widget, administrative

[2018-03-01 22:26] lostdesign commented on #9964
Seems like your node version is not matching with the required version for rocket.chat.
What does `node -v` say?

[2018-03-01 22:30] c0fe commented on #9964
@lostdesign 4.2.6

[2018-03-01 22:41] kaiiiiiiiii commented on #9964
Please install at least Node version 8.9.3

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-01 23:04] shopglobal commented on #5912
I need authentication with MongoDB, and the snap is using no auth enabled. Please point me in the right direction as to using the secured mongodb with the snap. This has been brought up in #ubunu-snap and has remained unanswered and unsupported.

[2018-03-01 23:05] #9964 closed

[2018-03-01 23:19] geekgonecrazy opened #9967 "SNAP: Ability to add password to mongo"
Add ability to snap installs to set a username/password on mongo

[2018-03-01 23:39] faziloub opened #9968 "rocket.chat UI Broken in iOS Safari browser"
### Description:
rocket.chat doesn't load in ios

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62
* Operating System: ubuntu
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog: yes
* Node Version:
* mongoDB Version:

![9f6c791b-0603-43c4-959f-ef34c5b29775](https://user-images.githubusercontent.com/16228448/36875802-fe295826-1db1-11e8

[2018-03-02 01:30] crsCR commented on #9404
Yes, restarting/refreshing sometimes (not always) brings them back.

[2018-03-02 02:00] akuma commented on #9550
@karlprieb yes.

[2018-03-02 03:11] pzgz commented on #9319
Also can reproduce in 0.62.0-develop, commit hash: b288eeb86a76360ee8069dbfc9103cc8886e1a56, I am using develop branch.

The unread messages line won't disappear unless you send message in that channel.

[2018-03-02 04:53] lvnilesh commented on #7438
Same here.

[2018-03-02 06:23] alexey-boyko commented on #9968
Same stuff after upgrade to 0.62,  on  android  app  same

[2018-03-02 06:52] pasmon opened #9970 "HTML code in GitLab Slack notification integration"
### Description:

Opening merge request in GitLab displays HTML code in Rocket.Chat.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.2
* Operating System: RHEL 7.4
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: 8.9.4
* mongoDB Version: 3.4.10

### Steps to Reproduce:

1. Configure incoming webh

[2018-03-02 07:36] janrudolph opened #9971 "[Bug] SSO login error message not localized"
### Description:

Single Sign-on users cannot access a team, if `Accounts_ManuallyApproveNewUsers = true`. If users try to access the team, they get an error message. However, the error message is not localized.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61

### Steps to Reproduce:

1. Set `Accounts_ManuallyApproveNewUsers = true`
2. Try to login with SSO
3. Get error messa

[2018-03-02 07:38] pasmon commented on #9970
HTML code visible also in case of merging the merge request.

[2018-03-02 08:24] benjyiw commented on #9735
I was having the same issue with HTTPS. Turns out the problem was caused by my ssl_certificate did not contain my cert and my CA bundle. Odd thing is, no browser complained, neither the desktop or iOS app. Only the Android app.

My config was:
[code]

So the fix:
[code]

[2018-03-02 08:42] lostdesign commented on #9968
Logs? I just updated yesterday and working fine for me on 0.62.0 same system.

[2018-03-02 08:51] himito commented on #7527
Hi all !
I have the same problem with the android app of RocketChat because it deletes the trailing slash  :(

[2018-03-02 09:07] alexey-boyko commented on #9968
I don't have any useful logs on server and problem only on ios and some android devices

[2018-03-02 09:23] antnat opened #9973 "request: @$grouptags"
This ticket is inspired by own needs and request #3283

As @christianreiss wrote there:
"Killer feature: Allow users to set tags for themselves in their profile, like "webdesigner", "admin", "intern". This would make "Hey @admins, the server is down" possible, notifying all who have that tag."

It would greatly simplified communication between two teams, in one location, finding people with the sa

[2018-03-02 09:24] antnat commented on #3283
As this ticket is closed I've raised #9973 for mentioning by tags feature.

[2018-03-02 11:08] TwizzyDizzy commented on #9970
@rocket-cat close

Hi @pasmon

we believe that the issue you reported has already been reported by somebody else. Please have a look at #8332 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-03-02 11:08] #9970 closed

[2018-03-02 11:08] TwizzyDizzy commented on #9970
@rocket-cat label add duplicate

[2018-03-02 11:12] TwizzyDizzy commented on #9489
@rocket-cat close

Hi @georg94

I'm not totally sure whether this is the same issue, but it sure looks pretty much the same, is it concerns the sanitizing of webhook-input. Please have a look at #8332 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
T

[2018-03-02 11:27] vodkhang commented on #658
@geekgonecrazy I need multiple org to utilize resources somehow, but even a modified version of Multi Team per Org may also work.  I have been modifying rocket.chat for a while to help with my new product. I understand the Meteor and NodeJS to some extent.

@geekgonecrazy : how can I help, and how is the process?

[2018-03-02 11:33] JSzaszvari commented on #9973
@rocket-cat label add enhancement

[2018-03-02 11:34] JSzaszvari commented on #9965
@rocket-cat label add enhancement

[2018-03-02 11:34] janrudolph opened #9974 "[Bug] Guests do not see channels in the left sidebar"
### Description:

Teams can invite guests in order to collaborate with non-team members. In the past, this works pretty fine. Since 0.61 guests do not see their channels in the left sidebar anymore (web app). In mobile it works as expected.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61

### Steps to Reproduce:

1. Add user and assign `guest` role
2. Invite guest to new chan

[2018-03-02 11:34] JSzaszvari commented on #9937
@rocket-cat label add enhancement

[2018-03-02 11:38] madcry opened #9975 "Can't connect to server via IOS/Android app from intenet."
### Description:

Can't connect from mobile app, from intenet

### Server Setup Information:

* Version of Rocket.Chat Server:  0.61.0
* Operating System:  1 Gb
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: lates
* Node Version: v8.9.3
* mongoDB Version: lates

### Steps to Reproduce:

1. when i'm trying to connect from ios/adndroid app from

[2018-03-02 12:07] ExTechOp opened #9976 "Apostrophe-containing URL misparsed"
### Description:

Pasted URLs mistakenly get truncated at apostrophes, although this is a valid character in an URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Operating System: CentOS Linux release 7.4.1708 (Core)
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 5
* DB Replicaset

[2018-03-02 12:15] pasmon commented on #9970
Thanks @TwizzyDizzy, this might indeed be same issue - I'll follow up on that one instead.

[2018-03-02 12:25] iamank1t opened #9977 "When keyboard opens in app in landscape screen it add extra white space under every screen and whole app layout messed up in landscape screen mode."
#### Expected behavior
Whenever i open keyboard in app in landscape screen to type something, the layout of screen or placement of elements needs to be remain consistence. And one more major thing is if app supports landscape and portrait mode then app layout needs to be consistence on both modes, no button, image or view needs to cut or overlap each other.

#### Actual behavior
Whenever i open ke

[2018-03-02 13:19] zeysh commented on #1685
+1

[2018-03-02 14:35] Ulrar commented on #7003
Is that still a problem in latest versions ? We haven't updated in a while, I'd like to know if it's worth the trouble or if this wasn't fixed

[2018-03-02 14:36] MartinSchoeler commented on #9977
This issue is a Rocket.Chat android app one, thus should be reopened [here](https://github.com/RocketChat/Rocket.Chat.Android)

[2018-03-02 14:36] #9977 closed

[2018-03-02 14:37] AmShaegar13 commented on #8992
I created #9978 to address this problem. Personally, I don't need to configure suggestions. I think, there are too many confusing options already.

#9978 changes that default options are displayed always and suggestions are just shown when available.

[2018-03-02 14:38] MartinSchoeler commented on #9975
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-02 14:38] #9975 closed

[2018-03-02 14:39] rafaelks opened #9979 "[IMPROVEMENT] Remove all markdown from Push Notification"
### Description:

It doesn't make any sense to have markdown tags in our push notification message, if we remove it would be much cleaner and easier do read.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.
* Operating System: Linux

[2018-03-02 14:40] rafaelks commented on #9979
@theorenck Not sure who should be assigned here, but this one is very important for us in order to have a better experience on the mobile apps.

[2018-03-02 14:40] MartinSchoeler commented on #9974
@janrudolph Could you test this against the latest version, since we had a lot of changes on the sidebar on version 0.62. Thanks!

[2018-03-02 14:42] TwizzyDizzy commented on #9975
Mhhhhh... it depends: if, for example, the mobile client doesn't take the port numbers into consideration (and put it in every request that communicates with the server) it might very well be an issue (yet in the mobile client).

[2018-03-02 14:49] MartinSchoeler commented on #9951
This issue was already fixed on the latest develop version. You can go to open.rocket.chat and test it on your current firefox. Thanks!

[2018-03-02 14:49] #9951 closed

[2018-03-02 14:50] MartinSchoeler commented on #9954
Please reopen this [here](https://github.com/RocketChat/Rocket.Chat.Electron)

[2018-03-02 14:50] #9954 closed

[2018-03-02 14:58] Gummikavalier commented on #9951
Thanks. Interesting... At first it didn't (at open.rocket.chat either), but then I resized my Firefox window once a bit smaller, and that triggered the scroll bar it and scrolling started working.

This same worked now on our 0.62 installation too.

[2018-03-02 15:03] kaiiiiiiiii commented on #7003
Still a thing in 0.62.0

[2018-03-02 15:08] kaiiiiiiiii commented on #9974
I can't reproduce the error in 0.62.0.

![2018-03-02 16_06_27- 16 netorium chat](https://user-images.githubusercontent.com/4711233/36905542-f03d4c7c-1e33-11e8-849d-5e16e0d63cf8.png)

[2018-03-02 15:18] Gummikavalier commented on #9951
How to reproduce: Make the Firefox browser screen small. Press F5. Go to Directory view. Note that scroll bar is visible. Do *not scroll*.

![screenshot from 2018-03-02 17-15-48](https://user-images.githubusercontent.com/6958942/36906010-7ae3981e-1e3d-11e8-89ce-5d09bf71a98c.png)

Increase the windows size until the scrollbar vanishes and see lots of white on the bottom. Try to scroll with mousewhe

[2018-03-02 15:35] Abraka opened #9980 "LDAP wont automatically login users"
Version of Rocket.Chat Server: 0.61

Hello, I have problem with LDAP login. My users login into rocket chat with a same username/password as they have for login to their computers. But they must type username/password every time, when they open rocket chat site in their browser. How to setup rocket chat, so that they will get logged in automatically, when they open rocket chat site? Thx.

[2018-03-02 15:36] MartinSchoeler commented on #9974
@janrudolph also you should check your permissions page, see if the guest has the appropriate `view` permissions

[2018-03-02 15:39] iMowgli commented on #5005
+1

You can delete the snippet by deleting the original message.

It will be better to can delete only the "Snippets Object", and maybe adding a button to add snippet directly and not from an existing message.
Moreover there is no documention for Snippets message in the official doc.

[2018-03-02 16:18] OtavioCapila commented on #9980
Look for `Login Expiration in Days` inside Administration > Accounts.
![image](https://user-images.githubusercontent.com/29285724/36909197-2685ac92-1e1c-11e8-99dc-0dd133099b7a.png)

[2018-03-02 16:23] OtavioCapila commented on #9980
Are you using Nginx?Here we had the same problem when using Docker+Nginx.

[2018-03-02 16:34] kalmufti commented on #7438
Just wanted to report that I fixed my issue, I was using catatnight docker image. I just installed postfix, configured the certs paths and it's all good now.

[2018-03-02 16:55] TwizzyDizzy commented on #9980
@rocket-cat close

Hi @Abraka

as @OtavioCapila said: you can try raising the Login Expiration. As for what I think I'm reading between the lines: please keep in mind, that **LDAP is no Single-Sign-On** mechanism. It's for authentication only.

Therefore I'm closing this issue, as I think no bug is involved. If you think otherwise, please say why and remember the adhere to the [issue template](htt

[2018-03-02 16:55] #9980 closed

[2018-03-02 17:10] MartinSchoeler commented on #9929
@benoneb  Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information. We need to know at least the version of the server, since this could've been fixed in a new release. Thanks

[2018-03-02 18:29] Abraka commented on #9980
So, how can I make LDAP working with Single-Sign-On mechanism for my rocket chat users?

[2018-03-02 18:42] kaiiiiiiiii commented on #9980
That's something you should bring up in the rocket.chat forum, not as an issue on github.

https://forums.rocket.chat/

[2018-03-02 18:44] SebastienGauthierSVI commented on #9735
thank you i will try that!

[2018-03-02 19:00] arminfelder opened #9983 "[BUG] blocked rooms, do allow jitsi calls"
### Description:
jitsi meet calls do not respect the blocked attribute of a channel
### Server Setup Information:

* Version of Rocket.Chat Server: 0.60 and 0.62.2

### Steps to Reproduce:

1. block a channel
2. start anew video call in this channel

### Expected behavior:

should be refused by the server

### Actual behavior:

block is ignored

[2018-03-02 19:07] MartinSchoeler commented on #9899
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-02 19:07] #9899 closed

[2018-03-02 19:27] MartinSchoeler commented on #9881
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2018-03-02 19:27] #9881 closed

[2018-03-02 19:32] fifou17 commented on #9968
in android its works fine for me only in ios

[2018-03-02 20:17] c0dzilla commented on #9979
Taking this up.

[2018-03-02 20:28] karlprieb commented on #9550
Sorry @akuma but I can't reproduce that on 0.62
![image](https://user-images.githubusercontent.com/9200155/36920334-2d8302c4-1e3f-11e8-894a-c445d003a4a9.png)

[2018-03-02 20:45] diegoluisi commented on #2759
+1

[2018-03-02 21:19] luciofm opened #9987 "[BUG] Wrong pagination information on /api/v1/channels.members"
`/api/v1/channels.members` is returning the wrong number of items returned by the call.

`{"members":[...members list...],"count":50,"offset":0,"total":168869,"success":true}`
Its `count` field says it has 50 items, while the `members` array actually has only 49 items

Running on `{"version":"0.62.0","success":true}`

[2018-03-02 21:24] c0dzilla commented on #9979
@rafaelks needed some clarification on urls. What should be done with something like [text](url), removed completely or only show text/url?

[2018-03-02 23:26] TwizzyDizzy commented on #9864
@rocke-cat close

I will temporarily close this issue, as you failed to provide relevant information. If you decide to provide them and it then seems like that this is an actual issue, I'll happily reopen this issue.

Cheers
Thomas

[2018-03-02 23:26] #9864 closed

[2018-03-03 00:45] #9940 closed

[2018-03-03 01:02] sampaiodiego commented on #9987
following up an internal discussion, this issue seems to be on server's cache. hitting this same endpoint multiple times gave me different results, I assume because it was hitting different instances with different cache states.

[2018-03-03 02:39] justinribeiro opened #9990 "[BUG] Web App Manifest origin incorrect, icon images reference wrong path"
### Description:

Currently the web app manifest definition located at `public/images/manifest.json` contains two errors as reported by Google Chrome DevTools:

1. Manifest: property 'start_url' ignored, should be same origin as document.
2. Icon downloaded from the manifest was empty or corrupted

### Expected behavior:

The manifest should allow the application to be added to the home screen on

[2018-03-03 09:39] muhv7 opened #9992 "0.62 snap release"
Any plans to push the last update to snap? Seems the update has been out for 4-5 days now and snap is still on 0,61

[2018-03-03 14:10] esolix commented on #9829
Doesn't work on my end when trying to run node-gyp
Any pointer guys? Cant seems to upgrade to 0.62 from 0.61

Got Exception in callback of async function: Error: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /opt/Rocket.Chat/programs/server/npm/node_modules/sharp/build/Release/sharp.node)

and following @gigawhitlocks I wasnt able to run bode-gyp rebuild either even after in

[2018-03-03 14:31] TwizzyDizzy commented on #9422
@rocket-cat close

[2018-03-03 14:31] #9422 closed

[2018-03-03 14:46] TwizzyDizzy commented on #5935
@rocket-cat close

Has obviously been transferred to https://github.com/RocketChat/Rocket.Chat.Electron/issues/355 by @lsavio. Closing.

Cheers
Thomas

[2018-03-03 14:46] #5935 closed

[2018-03-03 14:49] TwizzyDizzy commented on #5868
@rocket-cat close

IIRC the users collection now flags the avatar source in MongoDB. I'm closing this. If you can still reproduce this o 0.62.1, please get back to me and I'll happily reopen.

Cheers
Thomas

[2018-03-03 14:49] #5868 closed

[2018-03-03 14:51] #5848 closed

[2018-03-03 15:00] TwizzyDizzy commented on #5484
@rocket-cat close

I know of no such web standard that implements this and could be leveraged. In my understanding though, this would be needed. Also I don't really see the benefit of only having this in non-browser clients.

I will close this issue. If you feel you still want this, please do provide some ideas on how to implement this :) I'll happily reopen then...

Cheers
Thomas

[2018-03-03 15:00] #5484 closed

[2018-03-03 15:03] TwizzyDizzy commented on #5417
@rocket-cat close

I cannot reproduce this on latest stable with the information you provided. Please provide more detail, if this is still present for you on current stable (0.62.1). I'll reopen then.

Cheers
Thomas

[2018-03-03 15:03] #5417 closed

[2018-03-03 15:12] TwizzyDizzy commented on #5341
Could you please have a look at the latest stable? There have been a lot of changes regarding the sorting stuff.

Cheers
Thomas

[2018-03-03 15:15] TwizzyDizzy commented on #5293
Can anybody reproduce this in latest stable (0.62.1)?

Cheers
Thomas

[2018-03-03 15:18] TwizzyDizzy commented on #5232
@rocket-cat close

Closing this, as I cannot reproduce it on 0.62.0. If you still see this, please provide more details so I can try to reproduce.

Cheers
Thomas

[2018-03-03 15:18] #5232 closed

[2018-03-03 15:26] TwizzyDizzy commented on #5069
@rocket-cat close

Hi @manjotsingh108

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing.

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitation of time. If it shoul

[2018-03-03 15:26] #5069 closed

[2018-03-03 15:30] TwizzyDizzy commented on #5145
@rocket-cat close

Closing this in favour of: https://github.com/RocketChat/Rocket.Chat/issues/9319. If you think this is something different and you can still produce your issue on the latest stable version of Rocket.Chat, please get back to me!

Cheers
Thomas

[2018-03-03 15:30] #5145 closed

[2018-03-03 15:33] TwizzyDizzy commented on #4893
@rocket-cat close

Closing this. Please report this issue in the Repository for the Windows Client: https://github.com/RocketChat/Rocket.Chat.Electron/issues/355

Cheers
Thomas

[2018-03-03 15:33] #4893 closed

[2018-03-03 15:35] JhonatanPereira opened #9993 "docker-compose auto start files not working on ubuntu 16.04"
### Description:

I'm unable to auto start RocketChat with docker-compose on Ubuntu 16.04 because it don't use Upstart
There are any plans to update rocketchat_app.conf and rocketchat_mongo.conf to Systemd?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): docker-compose

### Steps to Reproduce:

1. Cr

[2018-03-03 15:37] TwizzyDizzy commented on #4851
@rocket-cat close

Closing this as there are far too less information to even try to reproduce your issue. Please add additional logs and adhere to the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) if this issue is still present for you in the latest stable version of Rocket.Chat.

Cheers
Thomas

[2018-03-03 15:37] #4851 closed

[2018-03-03 15:39] TwizzyDizzy commented on #4816
@rocket-cat close

I agree with @JSzaszvari here, that's why I'm closing this. If you still feel this is important to you, please elaborate extensively, what's the value of this for the general audience.

Cheers
Thomas

[2018-03-03 15:39] #4816 closed

[2018-03-03 15:50] TwizzyDizzy commented on #4635
@rocket-cat close

Closing this due to lack of feedback. Is this is still an issue, please do get back to me!

Cheers
Thomas

[2018-03-03 15:50] #4635 closed

[2018-03-03 15:52] TwizzyDizzy commented on #4585
@rocket-cat close

Folks, this issue is a mess as it describes at least two or more bugs. Also the UI has changed dramatically so I would like to ask each of you to reproduce their issue on the latest stable version of Rocket.Chat (0.62.1) and then report it as a new issue **if it is still present there**.

Cheers
Thomas

[2018-03-03 15:52] #4585 closed

[2018-03-03 16:05] TwizzyDizzy commented on #4427
@rocket-cat close

I'm closing this. This would break the UI / UX and is simply achieved/hacked by custom CSS. If you disagree, please elaborate on why this would be important for a larger amount of people and please also elaborate on how one should solve the ramifications for the UI (emoji-reactions being different in size, sidebar last message emojis and so on).

Cheers
Thomas

[2018-03-03 16:05] #4427 closed

[2018-03-03 16:15] TwizzyDizzy commented on #4423
@rocket-cat close

Could not reproduce this anymore on latest stable (0.62.1)

Cheers
Thomas

[2018-03-03 16:15] #4423 closed

[2018-03-03 16:19] TwizzyDizzy commented on #4227
@rocket-cat close

Closing this, since the whole UI changed. Please get back to me, if you think the overall issue is still present (I think it is not).

Cheers
Thomas

[2018-03-03 16:19] #4227 closed

[2018-03-03 16:25] TwizzyDizzy commented on #4171
@rocket-cat close

I'll  close this issue as the request is to have custom emoji-**sets** which is currently not possible. Please have a look at #1838 for this and use this issue from now on.

Cheers
Thomas

[2018-03-03 16:25] #4171 closed

[2018-03-03 16:26] TwizzyDizzy commented on #4125
@rocket-cat close

By now, it's possible to mark a whole room as read from the "three-dot" context menu in the sidebar.

Cheers
Thomas

[2018-03-03 16:26] #4125 closed

[2018-03-03 16:28] TwizzyDizzy commented on #4111
@rocket-cat close

I am closing this, as this contains multiple feature requests. If you still want to see some of this implemented, please open seperate issues for each.

Cheers
Thomas

[2018-03-03 16:28] #4111 closed

[2018-03-03 16:31] TwizzyDizzy commented on #4065
@rocket-cat close

Closing this. Showing different information in the user profile is a bigger issue... there are dozens of those issues here on Github and I think they will be consolidated at some point in the future.

As for you request to make a username a link to an external page, this would break UX and is not desired.

Cheers
Thomas

[2018-03-03 16:31] #4065 closed

[2018-03-03 16:35] TwizzyDizzy commented on #4002
@rocket-cat close

Not relevant anymore, there is no sidebar on the right anymore, as all of this went up into the top bar.

Cheers
Thomas

[2018-03-03 16:35] #4002 closed

[2018-03-03 16:38] TwizzyDizzy commented on #3991
Still relevant in 0.62.0

Cheers
Thomas

[2018-03-03 16:39] TwizzyDizzy commented on #3923
@rocket-cat close

If this is still relevant, please report it in this repository: https://github.com/RocketChat/Rocket.Chat.iOS.

Thank you!

Cheers
Thomas

[2018-03-03 16:39] #3923 closed

[2018-03-03 16:43] Xarkam opened #9994 "docker-compose access to mongodb server from another local computer"
Hello,

how to access the mongodb server from another station ?

I wish I could do the administration of my base rocket.chat but I can not connect to the instance mongodb with robo3t.

A `docker-compose ps` does not show that mongodb is bind on 0.0.0.0

Thank you.

[2018-03-03 16:45] TwizzyDizzy commented on #3903
@rocket-cat close

IIRC, this has been fixed in some of the last releases. If you can still reproduce this on current stable (0.62.1) please let me know and I'll reopen.

Cheers
Thomas

[2018-03-03 16:45] #3903 closed

[2018-03-03 16:55] TwizzyDizzy commented on #3753
Is this still relevant in 0.62.1? If so, please let me know, otherwise I'll close this issue.

Cheers
Thomas

[2018-03-03 16:57] TwizzyDizzy commented on #3708
@rocket-cat close

It's not very likely that this is still an issue. If so, just reopen :)

Cheers
Thomas

[2018-03-03 16:57] #3708 closed

[2018-03-03 16:58] TwizzyDizzy commented on #3676
@rocket-cat close

As @logankoester said: duplicate.

Cheers
Thomas

[2018-03-03 16:58] #3676 closed

[2018-03-03 16:58] TwizzyDizzy commented on #3676
@rocket-cat label add duplicate

[2018-03-03 17:00] TwizzyDizzy commented on #3647
@rocket-cat close

This seems to refer to the Electron Client? Or the Android or iOS app. If this is still present, please report this in the appropriate repository.

Cheers
Thomas

[2018-03-03 17:03] TwizzyDizzy commented on #3615
@rocket-cat close

Closing this in favour of #4102, as it's the same overall topic.

Cheers
Thomas

[2018-03-03 17:03] #3615 closed

[2018-03-03 17:08] TwizzyDizzy commented on #9994
@rocket-cat close

Hi @Xarkam

I am closing this issue because we think there is no actual bug in Rocket.Chat in what you're describing.

We use Github mainly for discussing bugs though. We understand, that setting up and operating a Rocket.Chat server is not trivial, yet we do not have the woman/man-power to help everybody. That is unfortunate, but simply a limitation of time. If it should turn o

[2018-03-03 17:08] #9994 closed

[2018-03-03 17:13] geekgonecrazy commented on #9992
Yes definitely coming.  Some changes in our dependencies seems to be causing the snap to get caught in a review cycle. So I'm trying to figure out why, and how to keep it from needing manual review.

Seems to be related to the sharp package.  If anyone has ideas I'm all ears.  But that's all that's holding it up.

Snap builds, just getting bounced by snap store until it can pass the automated secu

[2018-03-03 20:02] c0fe opened #9996 "[BUG] command issues unclear error"
### Description:

When running command "node main.js" an unclear error is thrown, this command is issued based on the commands provided in Rocket.Chat installation:

https://rocket.chat/docs/installation/manual-installation/ubuntu/

### Server Setup Information:

* Version of Rocket.Chat Server: Latest
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): tar
* Number of R

[2018-03-03 20:23] kaiiiiiiiii commented on #9996
Versions >= 0.60.0 require node 8.9.3 LTS. Please upgrade your node version and try again.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-03 20:35] c0fe commented on #9996
@kaiiiiiiiii still throwing out errors. Even though I did set the export commands, unless I am supposed to edit a particular file?

`root@chat:/tmp/Rocket.Chat# node main.js
/tmp/Rocket.Chat/programs/server/node_modules/fibers/future.js:280
                                                throw(ex);
                                                ^

Error: MONGO_URL must be set in environment
    a

[2018-03-03 21:40] kaiiiiiiiii commented on #9996
Doesn’t look like your export VARS have been set correctly (‘Error: MONGO_URL must be set in environment’).

Can you provide me the shell commands you executed before ‘node main.js’?

[2018-03-03 21:56] vodkhang commented on #658
@geekgonecrazy: you mean even the second one, "Multi Team per Org" still hasn't started? I can code with your team for about 10 hours / week for 3-4 months, and then depending on the situations, have a dedicated developers work with your team for 2-3 months. That is only for the "Multi Team per Org", right?

[2018-03-03 22:18] TwizzyDizzy commented on #7640
Still present in 0.62.1?

Cheers
Thomas

[2018-03-03 22:32] monty241 commented on #7796
Might be fixed by #9802.

[2018-03-03 22:33] c0fe commented on #9996
@kaiiiiiiiii not sure what the issue was but it is running now but only after running "node main.js" and it doesn't start automatically/persistent. Not sure what is going wrong. But here are my commands:

`apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 2930ADAE8CAF5059EE73BB4B58712A2291FA4AD5 && echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.6

[2018-03-03 22:48] kaiiiiiiiii commented on #9996
You need to create a service or use something like pm2 to run it persistent.

Have a look at:
https://rocket.chat/docs/installation/manual-installation/pm2-systemd-upstart/

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-03 22:55] c0fe commented on #9996
@kaiiiiiiiii i feel like that link should include at the bottom. but this resolves everything. Thanks a lot!

[2018-03-03 22:55] #9996 closed

[2018-03-04 10:37] Xarkam commented on #9994
Hello,
Yes it is not a bug. It is a legislative problem. The laws in my country say that I must be able to provide direct access to the database if asked.

I will go on the community chat to ask my questions.

Thank you.

[2018-03-04 12:09] monty241 opened #9997 "Fibers native library missing linux-x64-59, node-gyp complains on graceful-fs."
### Description:

After upgrade from 0.59.3 to 0.62.1, RocketChat log shows the following error:

[code]

The native library in `linux-x64-59` folder of fibers is not present.

Running node-gyp to build it:

[code]

Hwoever, graceful-fs is installed in both /opt/Rocket.Chat/programs/server/node_modules/graceful-fs and /usr/local/lib/node_modules.

### Server Setup Information:

* Version of Rocket

[2018-03-04 12:18] monty241 commented on #9997
Strace reveals:

[code]
When I've created node_modules in /usr/share/node-gyp and installed graceful-fs, the following error occurred on node-gyp execution:
[code]
It seems that node-gyp does not look in /usr/local/lib/node_modules.

[2018-03-04 12:43] monty241 commented on #9997
But running `node-gyp rebuild` did not create a new file. I had to run `nodejs build` from the folder /opt/Rocket.Chat/programs/server/node_modules/fibers.

After this the fibers error on missing native library was gone. Probably a bad solution, but for now it helps. Next time we will next to drop rocketchat server and create a new one from scratch.

[2018-03-04 12:44] #9997 closed

[2018-03-04 13:17] gertmenke commented on #4427
@TwizzyDizzy Please explain how I can use custom CSS to make my custom emoji appear with their original size (as defined in the PNG). I had the impression that the inability to do just that was the whole point of this issue.

[2018-03-04 17:11] c0fe opened #9999 "[IMPROVEMENT] End to End Encryption"
I would like to suggest adding support for end to end encryption and overall improving the security of Rocket.Chat including storing all message logs in encrypted format. I am a bit surprised that this isn't done already by the project but security is important. I would also like to recommend adding a guide to secure MongoDB as well since there have already been a few articles published about comp

[2018-03-04 17:21] 912d opened #10000 "[Email-notifications] Do not allow to flood user inbox with emails"
### Description:
Currently every single message to offline users results in separate email.
It's the same when writing message in room with offline users.

By pressing any single letter and enter several times, we can result in multiple several emails to offline user. It is a issue when offline user have non-gmail email inbox, for instance like me at work, which cannot display all emails in one ro

[2018-03-04 17:24] c0fe commented on #10000
**Suggestion:** There should be one email (with ability to turn off entirely) that notifies the particular user that there are missed messages. It should not accumulate messages at all since more messages can come after that email has been sent.

[2018-03-04 18:24] Drangleic opened #10001 "User Preferences are not saving when editing "Display Roles" preference"
### Description:

No users are able to save their preferences when going to My Account --> Preferences. The save button does not seem to trigger any action, and preference changes are reverted upon reloading the page. This is experienced with both regular users and Admins.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu Server 16.04 LTS
* Deployme

[2018-03-04 19:21] djschilling commented on #3582
I also would like to have the opportunity to add avatars/images to channels.
Currently the channels are really collerful and i cannot distinguish good enough the different channels.

Choosing an channel avatar would really improve that.

[2018-03-04 20:36] notnamed commented on #8495
I found the option. Admin -> Accounts -> Default User Preferences. What works best for me was setting Audio Notifications Default Alert to Nothing and setting Notifications sound volume to 0.

[2018-03-04 21:34] TwizzyDizzy commented on #10001
Hi @Drangleic

I cannot confirm this on 0.62.1 (as on https://open.rocket.chat) on `Chromium 64.0.3282.119` ...

What browser are you using?

Cheers
Thomas

[2018-03-04 22:25] rdnn commented on #10001
I was able to duplicate this on 0.62.1 in Safari and Chrome.

If showRoles is not set, the hideRoles option is not displayed (along with associated form controls), but JSON.parse() is still being run against a non-existant form control.

https://github.com/RocketChat/Rocket.Chat/commit/b5e9c9c09d4c42eeb4655bebe5a6ec43578c9ab9#diff-b354e00a2baf2ca14af0351934a440aeR150

https://github.com/RocketChat

[2018-03-04 22:38] mrplow opened #10002 "SlackBridge - Slack -> RC File Attachments not working"
### Description:

Uploading a file from a synced private channel in slack isn't working. Messages sync 2-way fine

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Debian 8.10 64bit
* Deployment Method(snap/docker/tar/etc): docker-compose
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: 8.9.3
* mongoDB Version: 3.4.13

### St

[2018-03-04 22:44] rdnn commented on #10001
I was able to duplicate this on 0.62.1 in Safari and Chrome.

If "Display Roles" is set to false (Administration > Layout > User Interface), the hideRoles option is not displayed (along with associated form controls), but JSON.parse() is still being run against a non-existant form control.

https://github.com/RocketChat/Rocket.Chat/commit/b5e9c9c09d4c42eeb4655bebe5a6ec43578c9ab9#diff-b354e00a2baf2

[2018-03-04 23:35] joshuaspence commented on #9174
Any update on this issue?

[2018-03-05 00:15] vishwakperera commented on #9820
Oh I thought even after that PR it's still unresolved. My bad 😅

[2018-03-05 01:23] Drangleic commented on #10001
Hi @TwizzyDizzy , I'm using `Chrome 64.0.3282.186`. This issue has been confirmed by many of our users.

[2018-03-05 01:27] Drangleic commented on #10001
@rdnn Thanks!! I switched Display Roles to true and now I am able to save user preferences.

[2018-03-05 01:41] esolix commented on #9943
You need to rebuild the sharp library before running npm install, that will solve it

[2018-03-05 03:17] timkinnane opened #10003 "Cannot reload app in Firefox"
### Description:

I've had this issue a couple times in open.rocket.chat since I think the 0.62 update.
Today it happened after my sidebar rooms list disappeared (which has also happened in Android), I tried to reload the app and client errors prevent it from loading, even opening a new tab doesn't bring it back. The only way I've found to resolve it is use Chrome for a while, until Firefox forget

[2018-03-05 06:37] timkinnane commented on #10003
Yes, white screen, with the logged errors in console. Firefox 58.0.2

[2018-03-05 07:24] spinza commented on #3753
Meteor 1.4.1.1 seems to include the fix that adds a Date header if none are present when Meteor sends an email. (This PR:https://github.com/meteor/meteor/pull/6916)

So this is essentially fixed :) as Rocket used that or a more recent version of Meteor.

[2018-03-05 07:32] janrudolph opened #10004 "[Improvment] Sorting in private message list"
### Description:

If you sort your private messages alphabetically, the sorting is not correct. Capital letters are ranked higher, as the following example shows.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1

### Steps to Reproduce:

1. Create two users: `aabc` and `Abc`
2. Start private conversations with them
3. Have a look in the left sidebar

### Expected behavior:

[2018-03-05 08:15] akuma commented on #9550
@karlprieb The error link is the gitlab logo link，not the project name link.

[2018-03-05 09:18] witlox opened #10005 "SAML Shibboleth Invalid Response"
### Description:

We are trying to setup SAML in combination with Shibboleth. The certificates have been setup, parameters have been set on the IdP side and on the chat system side. Once the login request is directed back to the chat system, Invalid signature is reported.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.0
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Met

[2018-03-05 09:32] rafaelks commented on #9979
@c0dzilla Good question. In this case, showing only the text. Basically, the text of the push notification needs to be the same text that user will read, without any "special" format (links included).

[2018-03-05 10:06] reetp commented on #9943
Thanks, but it doesn't:

sudo npm install -g node-gyp
cd programs/server/npm/node_modules/sharp
node-gyp configure
node-gyp rebuild

../src/common.h:33:2: error: #error GCC version 4.6+ is required for C++11 features - see sharp.pixelplumbing.com/page/install#prerequisites

CentOS 6 does not have a high enough version of GCC. So it is basically obsoleted for Rocket.Chat

[2018-03-05 10:07] TheReal1604 commented on #8038
@geekgonecrazy some news to this issue.

We had a neutron cluster restart where the rocket-chat containers lost their network connectivity for several seconds. The normal "push messages are not send" happend and after some time the cpu load of the node processes inside the containers is rising heavily.

This could be seen on this graph:

![image](https://user-images.githubusercontent.com/5877910/3

[2018-03-05 10:51] himbeere opened #10006 "Users not able to save changes made to "My Account" [LDAP Setup]"
Hello Devs.

Rocketchat 0.62.1. NodeJS 8.9.4. Oplog. Yes.

Since the upgrade to 0.62.1 users are not able anymore to save changes made to their personal settings under "My Account".  User are authorized via LDAP.  I'm saying this, because my other server does not have that problem and the only diff is the LDAP setup.

Any ideas on that?

thanks and cheers

[2018-03-05 11:06] JSzaszvari commented on #10006
Hello @himbeere

This issue has already been logged and is currently being looked at.

There is a potential work around in this post here that might help untill it's fixed - https://github.com/RocketChat/Rocket.Chat/issues/10001

I'm going to close this issue off so we don't end up with duplicates and keeps all correspondence around this patricular issue in one GitHub issue.

If I am mistaken and

[2018-03-05 11:06] JSzaszvari commented on #10006
@rocket-cat close

[2018-03-05 11:06] #10006 closed

[2018-03-05 11:19] gabrielloberg commented on #9661
+1

[2018-03-05 11:32] himbeere commented on #10001
Ok. Switching "Display Roles" to true works for me too for now.

[2018-03-05 11:50] michaelkrog commented on #8624
The same in 0.62.0

[2018-03-05 11:51] koma85 commented on #5085
+1

[2018-03-05 11:54] TwizzyDizzy commented on #10005
IIRC, @localguru uses Shibboleth and compiles himself, maybe he has sth. to contribute.

Cheers
Thomas

[2018-03-05 12:20] danila-kovalev commented on #9954
Reopened here:
https://github.com/RocketChat/Rocket.Chat.Electron/issues/678
as suggested by MartinSchoeler

[2018-03-05 12:23] sampaiodiego commented on #9853
the first idea was to use a regular message with history URL included on its body, even if sent by `rocket.cat` it could be stored on DB.. but as you described, I think the main problem would be how to avoid showing them to visitor.

based on that I would suggest then to create a new message type (e.g.: `livechat-history`) and show the message like a system message.

[2018-03-05 12:34] bbrauns commented on #9993
You don't need systemd to auto restart your container. The docker daemon will take care of starting the services. See https://docs.docker.com/compose/compose-file/#restart for specifying a restart policy within your docker-compose.yml

Example:
[code]

[2018-03-05 12:49] gabrielloberg commented on #10001
+1. Display roles trick worked. I hid them again with custom CSS

[code]

[2018-03-05 12:54] Azam53 opened #10007 "Why there is no option to set the status of a user"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2018-03-05 13:52] MartinSchoeler commented on #10007
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2018-03-05 13:52] #10007 closed

[2018-03-05 14:56] MarcosSpessatto commented on #9895
@karlprieb, see #10009.
@der-eismann you need set `view-c-room` to be able to return all public channels.

[2018-03-05 15:07] huyanping commented on #9829
Upgrade gcc version to 5.4.0, and run:
[code]

[2018-03-05 15:21] der-eismann commented on #9895
Thanks for the quick fix! Can someone say if it will be merged into a hotfix? Or does it have to wait until 0.63?

[2018-03-05 15:24] martinvonwittich commented on #9617
`db.rocketchat_integration_history.remove({})` worked fine. I've put that into a cronjob:

[code]

[2018-03-05 15:32] der-eismann commented on #9869
@karlprieb were you able to talk to your snap guy? Maybe we should switch to Docker since the last update was released a month ago.

[2018-03-05 16:15] Rumbles opened #26480 "Feature request - A quick way to close direct messages"

[2018-03-05 17:06] karlprieb commented on #9895
Hey @der-eismann @rodrigok can answer that!

@MarcosSpessatto thanks for the fix :D

[2018-03-05 17:07] karlprieb commented on #9869
@geekgonecrazy do you know when the new snap package will be available?

[2018-03-05 17:37] Drangleic opened #10010 "Documented Jira integration is not working"
### Description:

We've set up an incoming webhook for our Jira as per https://rocket.chat/docs/administrator-guides/integrations/jira/

We've configured it to send messages for everyone issue action in Jira, but none of them are making it to the channel. No log output is seen within the admin console logs that is related to this integration.

### Server Setup Information:

* Version of Rocket.Cha

[2018-03-05 18:00] Drangleic commented on #10010
I figured out what the problem was: our NGINX proxy's SSL settings were too strict. Jira cloud apparently only supports up to TLS v1.1.

[2018-03-05 18:21] kajisaap commented on #9926
We are planning to upgrade to the latest release - should we hold back?

@rafaelks - how is your server resource wise? What triggers the resource depletion for the server? No. of connected users and their interaction?

@karlprieb - since when have we known about his issue? We are at 0.59.X

[2018-03-05 18:24] karlprieb commented on #9926
@kajisaap before 0.59 for sure, but it only happens on open.rocket.chat that is a huge server.

[2018-03-05 18:34] ubarsaiyan opened #10013 "Loading animation"
### Description:
There seems to be no loading animation once the browser shows that it has completed loading the page. There is a delay of about 2-3 seconds when nothing happens then suddenly the app renders. The user should know that the app is being rendered otherwise he/she may think that the page didn't load properly.

[2018-03-05 19:39] raymondfeliz commented on #5520
Heres a copy of my service for my rocketchat for clustering.  I have 3 copies of this service, one on port 3000, then 3001, then 3002 all pointing at a mongo cluster. Hopefully this helps some. Assuming you have the mongo cluster. this is assuming you have a cluster on the localhost, and the cluster is called rs0

[Unit]
Description=Rocket.Chat Server
After=syslog.target
After=network.target

[Ser

[2018-03-05 21:10] ryjones commented on #10001
This is impacting https://chat.hyperledger.org/ as well. 0.62.0

[2018-03-05 21:15] ryjones opened #10014 "[BUG] A user is alerted to all at-mentions of all users, regardless of username"
### Description:

A specific user of https://chat.hyperledger.org is alerted to every at-mention of every user in every channel.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): https://galaxy.ansible.com/RocketChat/Server/
* Number of Running Instances: 1
* DB Replicaset Oplog: mongodb://127.0.0.1:27017/roc

[2018-03-05 21:27] kaiiiiiiiii commented on #10014
What are the users notification preferences?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-05 21:46] AFrangopoulosUpdox commented on #9920
Looks like in rocket-ui-admin/client/admin.js got busted on line: 456
Code looks like this: `click .rc-header__section-button .remove-custom-oauth'() {`

In the past it was this and verified it works:
`'click .submit .remove-custom-oauth'() { `

I am new to open source and have some local issues so I can't setup a PR right now. Maybe someone else will add this into their PR to push it?

[2018-03-05 21:57] denyeart commented on #10014
Hello, I am the user getting notifications whenever a user mentions another user (other than me).
I believe I have default Notification settings:

<img width="618" alt="image" src="https://user-images.githubusercontent.com/20165681/37001979-35040b84-2096-11e8-9baa-1401f1a7e762.png">

[2018-03-05 22:09] AFrangopoulosUpdox commented on #9920
UPDATE: I am not sure if this is a separate bug or part of this bug.
**Steps to Reproduce:**
- Login and go to administration
- Create a new custom OAuth
- Enable it and press Save
- Remove the custom OAuth you just created and then press save

**Expected Behavior:**
- Go to login page and the delete custom oauth should not be present

**Actual Behavior:**
- Go to Login page and this oauth button

[2018-03-05 22:10] denyeart commented on #10014
I've tried to correlate the notifications the last few hours.  It doesn't appear to be related to mentions actually, just some coincidences I think where I'm getting more notifications than expected (it just happened to be about the same number of mentions).  I will clear all the channel notifications, reset my notification settings, and see if the counts go back as expected.

[2018-03-05 23:16] raymondfeliz commented on #6926
the issue for me at least was 2 things.

One was the GridFS being turned on. The 2nd one is the default docker-compose file doesnt have a field for INSTANCE_IP, so the multiple instances are not aware of each other and end up showing as undefined:3000.

Just adding the below line for each instance in the environment: section

      - INSTANCE_IP=<YOUR IP>

Hopefully this helps some people with the

[2018-03-06 00:34] morrison23 commented on #6814
Just thought I'd comment - ran into this issue today and the above helped me resolve.  My instance is running inside a docker container here are the specific steps I used:

docker exec -it <mongoContainer> mongo
<the above launches the mongo shell from inside docker>
show databases;
use rocketchat
db.rocketchat_message.find().sort({ ts: -1 });
<the above will list new messages starting with the ne

[2018-03-06 01:02] denyeart commented on #10014
Ok, after resetting the counts and my notification settings, I watched the channel responses closely.  I received one notification on each of two channels, and in each case the channel had one @ mention to a user besides me.  So it appears the problem in the original Description above is still happening.

[2018-03-06 01:35] denyeart commented on #10014
Ok, I figured out the issue.  I had "ledger" as a highlight word, and after the latest rocket.chat server upgrade words like "Hyperledger" started triggering the extra notifications, whereas this never triggered notifications in prior rocket.chat versions.   There were also some @ mentions that I was getting notified on without the text "ledger" anywhere in it, which is what threw me off.  Perhaps

[2018-03-06 01:36] #10014 closed

[2018-03-06 02:29] reetp commented on #9943
Finally found that this was broken due to this:
https://github.com/RocketChat/Rocket.Chat/pull/9711

"It now makes use of a nodejs module to handle the resizing called sharp. Personally not intimately familiar with it.. but from what I can tell it's written in rust."

[2018-03-06 03:15] Joe-mcgee commented on #9898
@Otiel Howdy I sent a PR up, while it doesn't set the default tone to the default emoji panel, it does clear up the search, if one then types :handball_t, (or :handball_to, :handball_ton, etc) the tones appear, so one can get the tones without taking hands off the keyboard

[2018-03-06 03:17] vishwakperera commented on #9891
Shall I look into this issue?

[2018-03-06 04:24] vishwakperera commented on #10004
Can I get this issue assigned to me?

[2018-03-06 05:05] vishwakperera commented on #9930
Can I get this assigned to me?

[2018-03-06 05:30] JSzaszvari commented on #10004
You don't assign issues in GitHub. Just let people know you are working on it and then submit a PR.

[2018-03-06 05:31] JSzaszvari commented on #9930
You don't assign issues in GitHub. Just let people know you are working on it and then submit a PR.

[2018-03-06 05:40] #10010 closed

[2018-03-06 07:23] reza899 opened #10018 "menu not show correctly in RTL languages"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1

### Expected behavior:

normally show menu of user in RTL

### Actual behavior:
in mobile size open correctly in bottom of the page. but in large size screen it opens behind and right side of screen that

[2018-03-06 08:01] hartois opened #10020 "No user status icon in chats list when username is long"
### Description:
If the username is long and does not fit into the left panel, it overrides the status icon to the left of itself.

### Server Setup Information:
* Version of Rocket.Chat Server: 0.62.1
* Operating System: CentOS 7 x86_64
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v8.9.3
* mongoDB Version: 2.6.12

#

[2018-03-06 08:12] Jannibal opened #10021 "Cannot mention other users after newline in message"
### Description:

Cannot mention other users after newline in message

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.8.1
* mongoDB Version: ?

### Steps to Reproduce:
1. Start writing message in channel
2.

[2018-03-06 08:46] vishwakperera commented on #10004
okay! I'm gonna start working on this issue

[2018-03-06 08:52] cmonjeau opened #10022 "New unread livechat no longer appear in the LiveChat queue"
### Description:

Since version 0.62.0, new unread livechat no longer appear in the LiveChat queue. Livechat notification is only visible when' Unread on top' is enabled and it is not queued.

In the 0.63-develop version, I don't observe that so I'm confused.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: CentOS
* Deployment Method(snap/docker/tar/etc):

[2018-03-06 08:59] amonemian opened #10023 "Outgoing Webhook of User Created not working"
Hi,

I am trying to set webhooks for my rocketchat, but I can trigger that for "User Created" mode. (all other types are ok).

I think it might be related to the "Target Room" setting, which I tried different states (@Admin, #general , ...)
but unfortunately I could not get the webhook message.

Thank you for your help.
![image](https://user-images.githubusercontent.com/32976368/37023057-00767a74-

[2018-03-06 09:27] Jannibal opened #10024 "Directory channel listing has incorrect behaviour in high Y resolutions"
### Description:
Directory does not list all channels when placing Rocket.Chat on a monitor in portrait mode (resolution based).

### Server Setup Information:
* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.8.1
* mongoDB Version: ?

### S

[2018-03-06 10:14] maxdwit commented on #6535
Well, the user logged in / out several times over several versions.
Just verified with 0.62.1
User is still broken.
Would be helpfull to now how I can remove the User contrains @rodrigok  or have a script that fixes the user ID.

[2018-03-06 10:34] nickbroon commented on #9992
The snap now appears to be available, so this can be closed.

[2018-03-06 12:10] charli3cta commented on #7100
+1

[2018-03-06 12:47] sumedh123 commented on #10024
@Jannibal Can you provide screenshots or gif? It would be really be helpful to visualize things. Thanks.

[2018-03-06 13:07] sampaiodiego opened #10025 "Support additional phone fields for livechat agents"
### Description:

Currently phone numbers are supported only on `customFields`, we should also support it on `phone` field, this way being retro-compatible with Konecty.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62
* Operating System: Any
* Deployment Method(snap/docker/tar/etc): Any
* Number of Running Instances: 1
* DB Replicaset Oplog: yes

### Steps to Reproduce:

1. S

[2018-03-06 13:16] sampaiodiego opened #10026 "Cannot answer to a livechat as a manager if agent has not answered yet"
### Description:

A livechat manager would like to respond to a livechat if the designated agent has not answered in time (or for whatever reason), but currently nothing happens.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62
* Operating System: Any
* Deployment Method(snap/docker/tar/etc): Any
* Number of Running Instances: 1
* DB Replicaset Oplog: yes

### Steps to Reprodu

[2018-03-06 13:18] der-eismann commented on #9869
Okay, the snap was updated yesterday evening. The problem is fixed, I can leave every room however I want. Thanks! :)

[2018-03-06 13:18] #9869 closed

[2018-03-06 13:39] der-eismann opened #10027 "[BUG] Leaving channel as last owner is bugged"
### Description:

Sorry for the title, but I didn't know how to describe it better. After the update to 0.62.1 I experienced a new bug when trying to leave a channel as the last owner. Maybe you can try to reproduce it with the steps noted below.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): snap
*

[2018-03-06 13:45] Wicloz commented on #8818
This bug seems to have been resolved somewhere between v0.59.3 and v0.62.1.

[2018-03-06 13:45] #8818 closed

[2018-03-06 13:48] amonemian commented on #9315
Thank you @graywolf336

I am trying to set webhooks for my rocketchat, but I can trigger that for "User Created" mode. (all other types are ok).

I think it might be related to the "Target Room" setting, which I tried different states (@admin, #general , ...)
but unfortunately I could not get the webhook message.

[2018-03-06 14:00] karlprieb commented on #9869
Thank you for the feedback @der-eismann

[2018-03-06 14:16] bibimarujp commented on #9806
It worked correctly in version 0.62.1 (https://open.rocket.chat/)

[2018-03-06 14:16] #9806 closed

[2018-03-06 14:25] megamaced commented on #9545
Upgraded from 0.61.0 to 0.62.1.. Now my SAML auth is broken.. Config didn't change

RC configured to connect to Microsoft ADFS 2.0

I now get error

Sorry, an annoying error occured
TypeError: profile.nameIDFormat.indexOf is not a function

[2018-03-06 14:42] MartinSchoeler commented on #10027
Duplicate of #5358

[2018-03-06 14:42] #10027 closed

[2018-03-06 15:46] Jannibal commented on #10024
You can see the same directory view on two different monitors below.
In the landscape one, it works as intended, with a scroll bar on the right side which allows the user to scroll down and see all the channels
![landscape](https://user-images.githubusercontent.com/2311513/37041789-4ed55032-215d-11e8-9667-7862e9fb756f.png)

In the portrait version (with the same resolution, but other orientation)

[2018-03-06 16:09] bizzbyster opened #10030 "Web Channels"
I'd like to be able to create a channel that is essentially just a webview/iframe of a given page identified by a URL that would be specified by the channel creator in this dialog:

<img src="https://user-images.githubusercontent.com/4001792/37043173-0079ad4a-212e-11e8-9533-47c4b1867f71.png" width="300">

The idea is that instead of clicking a link to view a team wiki or google doc I'd like to be

[2018-03-06 16:40] marc-bouvier opened #10031 "Is it possible to unsubscribe room messages with real time API?"
**Description**
Hi
I am currently using Rocket.Chat with real time API.
I can subscribe to room messages and notifications.

Is it possible to unsubscribe room message or room notifications?

**Server Setup information**

- Version of Rocket.Chat Server: 0.62
- Operating System: Any
- Deployment Method(snap/docker/tar/etc): Any
- Number of Running Instances: 1
- DB Replicaset Oplog: yes

**Steps t

[2018-03-06 16:41] #9992 closed

[2018-03-06 16:42] geekgonecrazy commented on #9992
Yes this is now resolved. The linked PR #10015 fixes for future releases

[2018-03-06 17:03] fititnt opened #10032 "Define and encourage standards GitHub Topics for non-official repositories related to Rocket.Chat"
**TL;DR: Rocket.Chat is a powerhouse on GitHub, but it's adapters/bridges/integrations could have some basic marketing help on how to promote they using [GitHub Topics](https://help.github.com/articles/about-topics/); for example, HuBot uses [hubot-adapter](https://github.com/topics/hubot-adapter) topic, but most repositories related to Rocket.Chat depends on less efficient and unreliable string s

[2018-03-06 17:21] graywolf336 commented on #9961
Can you explain what you mean by this?

[2018-03-06 17:23] rafaelks commented on #9961
@graywolf336 Sorry... I added it in the middle of a meeting and forgot to add more information. For the new "Directory" feature, is there any API available for us to develop in the mobile clients? If not, we'll need that. It's basically an API that list the users/channels, with the ability to sort and search on it.

[2018-03-06 17:32] graywolf336 commented on #9961
Ah right, I completely forgot we went with that name for the explore/discovery feature.

If I am not mistaken, @ggazzo can correct me if I am wrong, but that feature simply uses the spotlight feature?

[2018-03-06 17:32] MartinSchoeler commented on #10031
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-06 17:32] #10031 closed

[2018-03-06 17:38] madguy02 commented on #8353
@MartinSchoeler can you please reopen this issue?

[2018-03-06 17:41] itsthejoker opened #10033 "Feature Request: "Unread Messages" scroll notification"
### Description:

In all clients, there is no banner or notification that there are unreads in the channel list if the channel list is longer than the window size. Both Slack and Discord have this feature.

I have heard from users that the lack of this particular feature is making it difficult to track down where new messages are coming from, especially with notification issues in the React Native

[2018-03-06 17:44] graywolf336 commented on #5732
@soundstorm I know this is old, but for anyone else wondering a regular outgoing webhook can listen on every channel type - public, private, and direct messages. :)

[2018-03-06 17:55] Buliwyfa commented on #8220
is omni.rocket.chat available for self-host Rocket.Chat solutions?

[2018-03-06 18:13] IQ2022 commented on #877
is there an easy way to add webhooks to have twitter feed into a channel? from a specific user or mulitple users?

[2018-03-06 18:31] raldjr commented on #513
Adding on to this idea, would be great to have a on/off setting for this. Either pinned channels be dictated by admin or users get to have their own pinned channels that are important to them. So each user has their own list of pinned channels.

[2018-03-06 18:34] c0dzilla commented on #9976
Taking this up.

[2018-03-06 18:50] sampaiodiego commented on #8624
we have different problems to consider on this issue..

the most important one I think is, why do you want to receive a push notification if to be able to receive a livechat you need to be online? what's the purpose on receiving a push notification when you are online?

[2018-03-06 18:50] sampaiodiego commented on #8220
yes it is @Buliwyfa .. you just need an API key and secret

[2018-03-06 18:56] jaspertouchet commented on #8624
I use it on the app as a backup to my team in the office. Unless I'm constantly checking the app, there is no way for me to know that there is a live chat incoming. It's the first live chat that I have ever experienced without push on incoming.

[2018-03-06 18:58] Avalarion commented on #8624
We have RocketChat online in Background all the day, but if a potential customer writes us we should be able to react instant.

[2018-03-06 19:49] whande1992 opened #10034 "Implementar recurso (Visualizado por) semelhante a do WhatsApp"
Criar uma funcionalidade onde seja possível ver quem visualizou as mensagens enviadas em um grupo,  algo semelhante a que o WhatsApp tem hoje.

[2018-03-06 20:02] MartinSchoeler commented on #10034
This feature has already been developed, and its currently being tested. Check #9717

[2018-03-06 20:02] #10034 closed

[2018-03-06 20:48] MartinSchoeler commented on #10032
@fititnt Could you reopen this in https://forums.rocket.chat/ ? We aim to keep github for bugs and feature request only. Thanks!

[2018-03-06 20:48] #10032 closed

[2018-03-06 21:09] fititnt commented on #10032
@MartinSchoeler sure! Good to know about this. Done at forums  **_feedback_** category. As soon as approved will update here with the direct link.

[2018-03-06 21:15] sampaiodiego commented on #8624
by definition rocket.chat only sends push notifications if you're completely offline (not connect to the server by any means).

I can see the importance of sending push notifications for incoming livechats, but it might be hard to define when a push notification should be sent or not. sending to everyone, including those who are actively using the interface might be frustrating.

[2018-03-06 21:19] jaspertouchet commented on #8624
Really? I get push notifications even when changing screens on my iPhone in the middle of an active conversation. I stay online and active all day. Without push notifications, I wouldn't know that a message came through. Push works as it should on everything except live chat notifications.

[2018-03-06 21:23] Avalarion commented on #8624
I am talking about Firefox / Chrome Pushes, don't know if this makes a difference for you. But having some kind of alerting would be really nice, just to get informed that someone you can't call back, because you don't know him, is trying to reach you or your team.

[2018-03-06 21:26] sampaiodiego commented on #8624
that makes a huge difference @Avalarion =)

push notifications are notifications sent to mobile phones.

the ones showed by web browsers are called desktop notifications 😉

[2018-03-06 21:30] michaelkrog commented on #8624
If I log out of everything and start a live chat I don’t get any push notifications. I have to open the app to check.

[2018-03-06 22:36] coreyman commented on #8624
@sampaiodiego I don't know why it would be hard to define if a push notification should be sent or not. Push notifications should always be sent when you are away or offline for mentions in any channel that is not being viewed on desktop, this includes new private messages to you(live chat).

There could also be a drop down setting for "Trigger push notifications when." where users can configure w

[2018-03-06 22:48] TwizzyDizzy commented on #4436
@rocket-cat close

Closing this, since the way to go here is oAuth ... in whatever direction. The issue at hand is too cluttered so if you still want to see this, please head over to the forums first and discuss this matter: https://forums.rocket.chat

Cheers
Thomas

[2018-03-06 22:48] #4436 closed

[2018-03-06 22:53] TwizzyDizzy commented on #3753
@rocket-cat close

Thanks for your feedback! :)

Cheers
Thomas

[2018-03-06 22:53] #3753 closed

[2018-03-06 22:53] geekgonecrazy commented on #10032
Not sure why it got caught up needing approved.  But i've approved:

https://forums.rocket.chat/t/define-and-encourage-standards-github-topics-for-non-official-repositories-related-to-rocket-chat/316

[2018-03-06 23:01] irdet2 commented on #7013
I am having the same issue on v.0.62.0 and cannot find the file "WebRTCClass.js".

What I have as a file that contains "rtc" is only the following:

/Rocket.Chat/programs/server/packages/rocketchat_webrtc.js

but doesn't have any of the aforementioned lines.

Any ideas?

[2018-03-06 23:03] fititnt commented on #10032
Thanks for updating with the link, @geekgonecrazy. For who is interested, we discuss there.

---

I'm my opinion was a good default that the discuss platform required approval. Think that my account had been created and email-confirmed for something like less than 3 min and I copy pasted this full post with links for remote domain (github) and with images (github CDN). So this is not a bug, but a

[2018-03-07 02:21] cr22rc opened #10037 "Android Keyboard pop up when entering a channel"
### Description:
Android Rocket.Chat 2.7.0 when I enter a channel the cursor is put in the message box. This seems to pop up the keyboard which is REALLY annoying since it then covers half the screen when all you want to do read messages first before you going to respond to anything.  Always have to dismiss it.
This just started happening when our server go upgraded and I also was asked to downloa

[2018-03-07 02:39] cr22rc commented on #10037
https://streamable.com/62nc2

[2018-03-07 02:44] cr22rc commented on #10037
I've seen someone on the an iPhone do this and that doesn't happen.

[2018-03-07 03:53] 0markill commented on #9791
Seems to be a few faulty checks in the iframe login package.
in iframe_client.js the 'callLoginMethod' is left unchecked and gets called whether 'tokenData.token' value exists or not.
iframe_server.js only checks if 'result.iframe' exists but not if 'result.token' does which makes it always pass if iframe login is enabled, and since the findOne query in mongo has optional parameters i guess it jus

[2018-03-07 04:31] itsthejoker commented on #10037
Wouldn't this need to go in the Android repo?

[2018-03-07 04:33] geekgonecrazy commented on #6926
Yes multi instances INSTANCE_IP is very important for a lot of things 🙂

[2018-03-07 04:39] geekgonecrazy commented on #9174
I believe is likely resolved in the latest update.  Changes were made to that in 0.62.0. So I'd recommend giving 0.62.1 a try

[2018-03-07 04:40] geekgonecrazy commented on #9174
Please give that a try and we can re-open if persists

[2018-03-07 05:16] geekgonecrazy commented on #6814
Thanks for sharing the tips!

[2018-03-07 05:42] joshuaspence opened #10038 "Error upgrading to 0.62.1"
I am trying to upgrade from 0.61.2 to 0.62.1, but am seeing the following error when the service starts:

[code]

* Version of Rocket.Chat Server: 0.61.2
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): TAR
* Number of Running Instances: 3
* DB Replicaset Oplog: Enabled
* Node Version: 8.9.4
* mongoDB Version: 3.4.13

[2018-03-07 06:13] geekgonecrazy commented on #9869
#9992 tracks permanent resolution of the issue that kept the update back.  But has been patched in place

[2018-03-07 06:20] geekgonecrazy commented on #10038
Are you attempting to start all nodes at once? Or how are these being started?

[2018-03-07 06:23] joshuaspence commented on #10038
Originally I did, yes. But then I stopped two nodes and attempted to start only one of them, but I got the same error.

[2018-03-07 06:27] geekgonecrazy commented on #9944
Taking a look at this and the PR.  Thanks for that btw.

Talking with redhat guys to see what we can do here.

[2018-03-07 06:35] geekgonecrazy commented on #9943
@rodrigok looks like this effects Centos6

Supposedly they have precompiled modules so you shouldn't be having to build.from source.  Obviously that's not the case

[2018-03-07 06:36] geekgonecrazy commented on #9943
@reetp is this a 32bit install or 64bit?

[2018-03-07 06:38] geekgonecrazy commented on #9938
The build was too old and vulnerable it had to be taken down.  Opened an issue on docs repo

[2018-03-07 06:38] #9938 closed

[2018-03-07 07:08] janrudolph commented on #8769
@graywolf336 I think that I was able to find the root of the problem.

This error occurs, if the password contains a backslash. In this case I get the response `bad request`.

[2018-03-07 08:06] marc-bouvier commented on #10031
Hi,
thank you for the feedback. I made this issue a feature request.

[2018-03-07 08:14] DanielRuf opened #10039 "text-overflow in sidebar does not work"
The `text-overflow: ellipsis` does not work due to the `display: flex` and the structure in general (which can be improved in many places and has many issues).

![bildschirmfoto 2018-03-07 um 08 59 40](https://user-images.githubusercontent.com/827205/37080866-e13757c4-21e7-11e8-8066-5e8157644b5a.png)

[2018-03-07 08:27] DanielRuf commented on #10039
Should be similar to this
![bildschirmfoto 2018-03-07 um 09 26 42](https://user-images.githubusercontent.com/827205/37081437-bbe2cdbc-21e9-11e8-88be-70ffd3baea9e.png)
: