[2022-09-12 19:28] billynoah commented on #26516
@KevLehman - thanks that worked!

[2022-09-12 20:01] 0FiRE0 opened #26857 "Flipped RTL Text When Mixed with LTR Text"
### Search before asking

- [X] I had searched in the [issues](https://github.com/RocketChat/Rocket.Chat.Electron/issues?q=is%3Aissue) and found no similar issues.

### Operating System

- [ ] macOS
- [X] Windows
- [ ] Linux

### Operating System Version

Windows 10

### It happens on the web browser too?

Yes, it happens on the web browser too

### Rocket.Chat Desktop App Version

3.8.9

### Rock

[2022-09-12 21:05] LevyCosta commented on #26801
Hey @Gummikavalier .
I'm part of the Quality Assurance team here at Rocket, nice meeting you.
I'm trying to replicate some of the issues you listed but I have some questions. If you could please give me some more info so I can properly reproduce the issues, I may be able to advocate adding them to our Development Cycle. :)

1. What exactly is the issue here? Are you saying the sizes are simply "di

[2022-09-12 21:21] iKnowJavaScript opened #26854 "Fields Query Parameters not working on Group Members list endpoint"
### Description:
Fields Query Parameters not working on Group Members list endpoint

### Steps to reproduce:

1. Send a get request with query parameter on endpoint '/api/v1/groups.members' i.e `/api/v1/groups.members?roomId='pGEtuyxaKJrrxmS8j'&query={'name':{'$regex':${search},'$options':'i'}}`
2. Returns an error
`data: {
      success: false,
      error: `Invalid query parameter provided: "{'n

[2022-09-12 23:32] artmatv opened #26856 "MongoServerSelectionError: connection timed out"
My server is down after adding new user to DB or making someone an admin. Reboot helps to work it again. I've installed rocketchat via snap and set up nginx on 127.0.0.1 because connection didn't happen without nginx.
Here's my last 1000 lines from logs
[rocketchatlogs.txt](https://github.com/RocketChat/Rocket.Chat/files/9552401/rocketchatlogs.txt)

[2022-09-13 01:12] urangsabah commented on #26516
@KevLehman - the [workaround](https://github.com/RocketChat/Rocket.Chat/issues/26516#issuecomment-1244173602) works - thank you!

here's what we did:

[code]

then...

* Clear browser cache/storage
  * Chrome > Dev Tools > Application > Storage > Clear site data
  * Firefox > Lock Icon (URL bar) > Clear cookies and site data...
* Login again and check on Administration > Settings > Omnichannel > O

[2022-09-13 04:58] paulharris commented on #26365
Is there a plan to fix this bug properly?  Or at least compute a better manual query fix?
ie so threads don't just show "only one participant" ?

[2022-09-13 05:47] xmedeko commented on #26801
@LevyCosta Details of issues are described elsewhere, just search all issues from 5.0 release. For a not-complete list see my comment above. (Note, the comment is not list of just two issues, but links to list of issues elsewhere.)

[2022-09-13 06:20] paulharris commented on #26365
I've fixed it "more properly" by computing the replies properly.

I did it via python... so install pip,
ie on debian, `apt install python-pip`
and then install pymongo `python -m pip install pymongo` or probably just `pip install pymongo`

And then in python
[code]

[2022-09-13 06:41] sperlab commented on #26777
Well ..., markdown rendering seems not only broken for tables. Lists and even links do not render properly (dokuwiki links for example).

Is there a way to test a downgrade from **5.1.1** to **4.8.6** to get it back to normal ?

[2022-09-13 11:25] fabiosurrage commented on #26516
Thanks a lot ! Worked!

[2022-09-13 11:39] svrnwnsch commented on #26798
I can confirm the same behavior for ignored urls I still see now a white rectangular preview space after the message:
![grafik](https://user-images.githubusercontent.com/1852828/189891668-0c6fdb9d-dbdf-4541-b7bc-fbdeb6b884ab.png)

[2022-09-13 12:36] ArthurJahn commented on #26807
Hey! Sorry for late reply. The logs do not show any error. The version of the Zoom App is 1.0.1
[code]

[2022-09-13 12:51] dudanogueira commented on #26856
Hi!

Ps: the problem you have is not related to the software, but to it's usage.

Please, checkout our [Community Resources](https://docs.rocket.chat/getting-support/community-resources) before opening a bug.

And when/if opening an issue, please, follow the template with requested infos as It really helps debugging it! :smile:

Closing for now.

[2022-09-13 12:51] #26856 closed

[2022-09-13 12:52] dotty37 commented on #26365
I finally had the chance to work on it today. I just had to do mongo --port 27017 and bang, inside the db. Typed the query hack and everything works now. Tested across reboots too. :-)

[2022-09-13 12:54] dudanogueira commented on #26847
Hello Rayam!

Please, feel free to reach me at duda.nogueira@rocket.chat or our community team at community@rocket.chat
or at our open server:  [https://open.rocket.chat/direct/duda.nogueira](https://open.rocket.chat/direct/duda.nogueira)

Thanks!

[2022-09-13 12:54] #26847 closed

[2022-09-13 13:13] sandrotanner commented on #26505
@debdutdeb any news from the team on this?

[2022-09-13 13:25] dudanogueira commented on #26854
Hi!

This is the API DOC for reference:
https://developer.rocket.chat/reference/api/rest-api/endpoints/core-endpoints/groups-endpoints/members

It only states that it has **offset, count and sort**. Of those, sort is not working.

Here is the code:
https://github.com/RocketChat/Rocket.Chat/blob/ddd1e87cd142eb2bcbdcb7c1e8f237462ef5d477/apps/meteor/app/api/server/v1/groups.js#L638

[2022-09-13 13:58] jml4903 commented on #18150
I concur.  I've been a member of a SeekingAlpha Group which uses RocketChat and it does force you to click a down arrow next to "New Messages" to scroll.

Would be beyond lovely if there was a simple option would, indeed, just scroll it automatically with new messages.

[2022-09-13 14:04] Azenet commented on #26804
Getting a similar error, although 5.1.0 was running fine and then stopped working. I have upgraded to 5.1.2 and it did not fix the issue, following log is from 5.1.2. I am using MongoDB 4.4.11.
[code]

[2022-09-13 14:59] hugocostadev commented on #26799
Not related with #26800

[2022-09-13 15:02] hugocostadev commented on #26777
Hi Guys, we are working to fix those issues.
@sperlab you don't need to downgrade, just go to My Account and enable the Old message parser option

[2022-09-13 15:05] iKnowJavaScript commented on #26854
@dudanogueira missed that the endpoint doesn't support Query.
Weird one.

I will close this. Thanks.

[2022-09-13 15:05] #26854 closed

[2022-09-13 15:49] frostbtn commented on #26777
Thanks **[hugocostadev](https://github.com/hugocostadev)**! You probably meant the _My Account_ -> _Preferences_ -> _Global_ -> _Use legacy message template_ setting. It definitely returns Markdown tables and link formatting! Unfortunately it's a per-user setting. At least it is something to wait the fix with.

[2022-09-13 15:54] Gummikavalier opened #26861 "Global 'Also send to channel' admin switch does not change the default setting for users"
### Description:

This is partly related to earlier design decision discussed at https://github.com/RocketChat/Rocket.Chat/issues/26651

As a consequence of change of visibility options in the thread messages we chose to enforce `Also send to channel` switch `on` for all our users. This was to get some predictability into how the messages are shown on the channels in general. (So someone who chose

[2022-09-13 16:20] sperlab commented on #26777
Perfect, now only need to dig into a mongodb query to batch update that pref for all already created users.
ThX @hugocostadev

[2022-09-13 16:29] hugocostadev commented on #26555
It is already fixed by https://github.com/RocketChat/fuselage/pull/800

[2022-09-13 16:29] #26555 closed

[2022-09-13 16:30] hugocostadev commented on #26485
Fixed by: https://github.com/RocketChat/fuselage/pull/800/files

[2022-09-13 16:30] #26485 closed

[2022-09-13 16:31] hugocostadev commented on #26475
Fixed by: https://github.com/RocketChat/fuselage/pull/800/files

[2022-09-13 16:31] #26475 closed

[2022-09-13 16:33] hugocostadev commented on #26405
duplicated of: https://github.com/RocketChat/Rocket.Chat/issues/26661

[2022-09-13 16:33] #26405 closed

[2022-09-13 16:35] boxofdeath commented on #9349
Same..

[2022-09-13 16:36] hugocostadev commented on #26388
Fixed by https://github.com/RocketChat/fuselage/pull/739

[2022-09-13 16:36] #26388 closed

[2022-09-13 16:41] dudanogueira commented on #22602
This one was fixed in https://github.com/RocketChat/Rocket.Chat/pull/25471

We really appreciate the time you took into exploring and pointing the issue 🙌🏼

[2022-09-13 16:41] #22602 closed

[2022-09-13 16:49] LevyCosta commented on #26801
@xmedeko
I'll take a look at it. Thanks! :)

[2022-09-13 16:51] broferek commented on #26817
All these URL parameters overload anything you may have set up in your own Jitsi config which is really annoying if we can't control the default behaviour we want to get in Rocket Chat Jitsi App.

[2022-09-13 16:51] Gummikavalier commented on #26801
Hi!

The issue 1: This seems to have been fixed by now. The issue was that the size of single emojis in a message differed in the new template in the web client depending on whether the single emoji message had been sent with the phone client versus web client.

The issue 2. of "resolving usernames into the real names in reactions". Because of this bug every single reaction to message shows only t

[2022-09-13 16:57] #26777 closed

[2022-09-13 17:27] shaymdev commented on #26479
@DarinDev1000 I tried your workaround and things said they successfully imported. But in both the windows app and the web app all but two conversations/channels fail to load.

![image](https://user-images.githubusercontent.com/3431219/189968241-58b1b0e2-6719-440f-9889-0bd9be045698.png)
The error in the console isn't terribly helpful with the minified code either:
TypeError: Cannot read properties

[2022-09-13 17:40] billynoah commented on #24858
I am having this issue.  If I update the CSS in the settings panel it does get saved but the file theme.css (or css-theme.css) is not updated and still shows my old custom css.

[code]

[2022-09-13 17:52] Sx3 commented on #9349
if you are using snap this is because mongo db do not have login credentials
so modify the line 97 into
`return MongoClient('mongodb://localhost:27017/parties?retryWrites=False&directconnection=True&connect=False')[self.db]`

[2022-09-13 18:06] hugocostadev commented on #26777
You are welcome!

We are considering supporting table on the new message parser by the way...

[2022-09-13 20:02] DarinDev1000 commented on #26479
I don't think I have that issue.

[2022-09-13 20:35] dudanogueira commented on #26778
Hi! We have found the problem for this issue!!

Sorry for the delay, it was a hard one to reproduce.

Please, check this message for a workaround while we fix it on a later patch:
https://github.com/RocketChat/Rocket.Chat/issues/26516#issuecomment-1244173602

I will close this for now in favor of: https://github.com/RocketChat/Rocket.Chat/issues/26516

[2022-09-13 20:35] #26778 closed

[2022-09-13 21:15] #26479 closed

[2022-09-13 21:33] DarinDev1000 opened #26865 "Discussion: Inline code block disabled"
Currently, to make a code block in a message, the 3 backticks on each end have to be on a new line.
I don't mind it being that way but when importing messages from slack, slack supports inline code blocks and they do not convert correctly.
Is this an intended feature?
Maybe inline full code blocks should be supported?

Example:
[code]

[2022-09-13 22:26] wishx commented on #26553
Would someone be kind enough to show us how to do this? I have the user.json open in VS Codium, but I don't see anywhere to add `user["profile"]["email"]` or even any actual email addresses from Slack users (no @something anywhere).
Thanks in advance!

[2022-09-13 23:25] wishx commented on #26553
How did you do it exactly? I can't get it to work in 5.0.3.

[2022-09-13 23:36] thrakks commented on #26777
@hugocostadev @frostbtn Thanks for that! Fixes our problems for now. Definitely would love Tables being supported in the new message parser too of course but this keeps us working and able to update Rocketchat

[2022-09-14 04:53] ankar84 commented on #26861
Definitely that setting should be managed via Admin UI. I personally plan to set that option to `Never`, so threads always stay separately from main chat until user manually set `Also send to channel` check mark.

[2022-09-14 06:54] DarinDev1000 commented on #26553
I added email like you have but fill in the value with a dummy email:
[code]

[2022-09-14 07:10] korneil commented on #26804
A hack temporarily: disabling prometheus scraping (`prometheusScraping.enabed` to `false` in helm config) solved it for me. Scraping causes `OVERWRITE_SETTING_Prometheus_Enabled` and `OVERWRITE_SETTING_Prometheus_Port` environment variables set which then triggers the spooky mongo update when initializing settings.

[2022-09-14 07:13] atharvapatil46 commented on #26595
Hello @MartinSchoeler Sir, I am interested in solving this issue. Can you please assign this issue?

[2022-09-14 08:07] wishx commented on #26553
Thanks. I replaced the actual user email addresses with their real email addresses (exported from the Slack user CSV) and the bots with their bot emails, but no luck. It still craps out. I might just have to wait for 5.10.0 on the Cloud server.
If you have any other tips, I'm all ears.

[2022-09-14 09:35] danielfamiyeh commented on #25706
@maudrid - Did you manage to find a solution?

[2022-09-14 10:27] mmattel commented on #26661
Any timleine to fix this? we use a lot of anchors when refrencing and this is an important issue for us.

[2022-09-14 10:38] comander192 commented on #26817
It seems like us skipping the Prejoin page in Jitsi is the root cause here. Before the Rocketchat update we always enabled this page in our Jitsi settings and everything went fine even with over 40 participants. We changed nothing in our Jitsi config nor made an update there and after the Rocketchat update  the Jitsi calls were broken.

Please give us the option in the Jitsi App Settings to enable

[2022-09-14 10:41] comander192 commented on #26818
It is possible that our Jitsi is not working 100% correctly. It is a very complex system and setup. But before the Rocketchat update it worked fine with 3.16.x and 3.18.7 Rocketchat. We havent touched the Jitsi config nor updated it. We only updated Rocketchat and installed the Jitsi app there and after that the Jitsi calls still have there problems.

It could be related to the now skipped Jitsi P

[2022-09-14 10:54] xmedeko commented on #26661
@mmattel Workaround is to Use legacy message template see https://github.com/RocketChat/Rocket.Chat/issues/26736#issuecomment-1235373856 (read all discussion to avoid some pitfals). Also note you must have 5.1.1 at least to avoid #26801 .

[2022-09-14 11:41] Gummikavalier opened #26868 "User email address does not change when provisioned by Oauth"
### Description:

Email address changes happen quite often when the users' marital status changes.

The issue is that while the email address of the user changes at the Oauth provider and gets transferred into RC in the database, the new email address does no become the main email address in RC. Only the old one is visible in the directory and any other UI elements.

### Steps to reproduce:

1. Co

[2022-09-14 12:34] Gummikavalier opened #26869 "The new message template cannot resolve pointer usernames that contain @ character"
### Description:

The new message template cannot "resolve" user names in the message pointers should they contain @ character in the target's username.

Especially the systems that use emails as their main username attribute suffer from the issue. Also those Oauth enabled instances that get the user names in format such as `username@example.com`.

In this issue example the username is called `099

[2022-09-14 12:37] Gummikavalier commented on #26801
@LevyCosta One more issue in the new template showing the names that contain @-character in the usernames:
https://github.com/RocketChat/Rocket.Chat/issues/26869

[2022-09-14 13:41] comander192 commented on #26817
I just compiled the app myself and uploaded it to Rocketchat via Apps Engine CLI. Works fine so far with 12 participants, I will post an update tomorrow after a bigger meeting.

[2022-09-14 13:48] dudanogueira commented on #26506
Hi!

Indeed, I could also reproduce it in latest 5.1.2

Our team is aware of this one, and should fix it soon.

 Thanks for pointing it out.

[2022-09-14 14:02] dudanogueira commented on #26865
Hi! Thanks for pointing it out.

I marking here for discussion. I believe that the way it's working at with new parser follows a more strict approach, considering that right after the initial 3 back ticks, a convention is to define the name of the programming language to be rendered above., like so

replacing ` for ':

''' python
def populate_config(self):
    pass
'''

[2022-09-14 15:04] binodyadav6119 opened #26872 "Not able to see buttons in whatsapp client"
I have integrated whatsapp in the rocketchat. I need to send buttons to whatsapp clients but when i am creating buttons from rasa app, I am not able to get buttons in whatsapp. I am able to get text messages.
Is there any prefer way of sending those buttons and some extra message attachments as well?
I tried searching if any way is there but didnt get that?

[2022-09-14 16:09] pierre-lehnen-rc commented on #26365
Fixed by #26652

[2022-09-14 16:09] #26365 closed

[2022-09-14 16:11] wreiske commented on #26838
https://github.com/RocketChat/Rocket.Chat/issues/20546

[2022-09-14 16:39] shaymdev commented on #26365
Thanks, you rock.

[2022-09-14 18:09] dudanogueira commented on #24858
Hi.

Some steps to help troubleshoot this:

Try the following css snippet in [ADMIN > LAYOUT > CUSTOM CSS:](http://localhost:3000/admin/settings/Layout)

[code]
this will set a yellow background to your own messages. :smile:

Can you see the same css content on this file?
http://localhost:3000/css-theme.css

if you hard reload your browser (ctrl+shit+r), you should see your own messages like this:

[2022-09-14 18:17] DarinDev1000 commented on #26553
Looks like you're need to wait for the 5.1.0 update

[2022-09-14 18:23] DarinDev1000 commented on #26553
Looks like you're need to wait for the 5.1.0 update. I used 5.1.2
As long as the PR that closed #26479 works, this should be fine to close

[2022-09-14 18:53] billynoah commented on #24858
@dudanogueira - in my case this does not work.  I am able to successfully save the CSS to the settings but the theme css does not get updated.  If I curl `http://localhost:3000/css-theme.css` from a terminal I can still see my old CSS but the changes are not present.

[2022-09-14 19:49] gitd3v commented on #26857
possible duplicate of https://github.com/RocketChat/Rocket.Chat/issues/26499

[2022-09-14 20:08] KulshresthJangid commented on #26872
To use buttons, you need to submit a template that contains the buttons to your vendor. So is your template approved by your vendor??

[2022-09-14 23:45] sketch242 commented on #26388
Just updated to 5.1.2, which does not fix this.

Here's a screenshot example:  first block is three backticks, foo, three backticks.  Second block is three backticks, newline, foo, newline, three backticks.

With the new message template:

![image](https://user-images.githubusercontent.com/5010790/190280508-e3f721b8-fc0a-488c-ae3c-4c00eb8ee2c4.png)

With the legacy message template, both code bloc

[2022-09-15 05:57] binodyadav6119 commented on #26872
Using a template will be API call. I was trying to send buttons using standard way that RASA has followed. But it is not reflected to whatsapp client.

[2022-09-15 07:09] ankar84 commented on #23593
@dudanogueira old issue and still not fixed. Please address that to product team.

[2022-09-15 07:11] ankar84 commented on #23593
5.1.0
still an issue
![image](https://user-images.githubusercontent.com/4023037/190338719-fe2d7763-486c-4f71-8ade-8d6177eeffba.png)

[2022-09-15 08:57] urosino commented on #26798
I really hope someone from the dev team can look at this problem.

[2022-09-15 10:06] didacroyo opened #26878 "Omnichannel > Contact Chat History not working (after upgrading to version 5)"
### Description:

As a LiveChat Agent, the option "Contact Chat History" (clock icon) is not displaying the history of the visitor_id

I tried with the API REST endpoint (https://developer.rocket.chat/reference/api/rest-api/endpoints/omnichannel/omnichannel-endpoints/omnichannel-visitors/get-livechat-visitors-chat-history) for the same visitor_id and the same room_id and the history is there! so t

[2022-09-15 11:17] didacroyo commented on #20152
The solution is to take the conversation and only then close the same

[2022-09-15 11:25] yulais4 commented on #25051
I have the same issue after upgrade.

My setup:
 CPU: Common KVM
 Kernel: 4.15.0-166-generic
 OS: Ubuntu 18.04.6 LTS x86_64
 Snap version: 2.57.1
 Rocket-server version: 4.8.3   rev:  1523 tracking:  4.x/stable

[2022-09-15 12:21] dudanogueira commented on #26872
Hi!

The Bot connector App is the one answering incoming chats, Right?

So the Connector App needs to "translate" the bot payload to [button items](https://developer.rocket.chat/apps-engine/adding-features/uikit/uikit-building-blocks#button), and then the Whatsapp/Instagram/Other connector should translate it to the to channel specifications.

I don't know about the Rasa Connector, but I am sure t

[2022-09-15 12:24] dudanogueira commented on #24858
Closing.

I contacted @billynoah and after removing/editing the css contents and saving it again, it worked.

As this was not reproducible issue, we'll need a not working environment to analyze it.

[2022-09-15 12:24] #24858 closed

[2022-09-15 13:14] dudanogueira commented on #26878
Hi!

While I was able to reproduce this in 5.1.2, on latest code (develop branch) I was not.

Can you try this functionality on a staging environment with develop code? We have a always updated [docker tag for develop branch here](https://hub.docker.com/r/rocketchat/rocket.chat/tags?page=1&name=develop)

[2022-09-15 13:54] mddvul22 opened #26879 "Rocket Chat 5.0.7 tar file missing from https://cdn-download.rocket.chat/build/"
### Description:

Rocket Chat 5.0.7 tgz file (released on 9/12/2022 with a security hotfix) is missing from https://cdn-download.rocket.chat/build/ server.

### Steps to reproduce:

1. Run "wget https://cdn-download.rocket.chat/build/rocket.chat-5.0.7.tgz"
2. Get 404 Not Found Error
3. Panic!

### Expected behavior:

I should be able to download the file so that I can install it and upgrade from 5

[2022-09-15 14:09] eidze1 commented on #6107
I have to use this software for some information exchange. Really, really politely said, it's somewhat disappointing, that this seemingly very basic thing to implement won't get anywhere.

[2022-09-15 16:50] engelgabriel commented on #26815
Duplicate to https://github.com/RocketChat/Rocket.Chat/issues/26661

[2022-09-15 17:32] florisvangeel commented on #26879
Thanks for the notification, you can find the releases [here](https://github.com/RocketChat/Rocket.Chat/releases) in both tar.gz as zip format including the latest version.

[2022-09-15 17:59] dudanogueira commented on #26878
too soon. I kind of reproduced it on latest codebase.

There is indeed something going on here.

[2022-09-15 18:29] AlecKinnear commented on #26661
This is a pretty awkward workaround. How about fixing a core feature instead in core?

[2022-09-15 18:35] engelgabriel commented on #25047
I believe this has been fixed on the latest version of rocketchatctl

[2022-09-15 18:35] #25047 closed

[2022-09-15 19:05] dudanogueira commented on #26804
Hi @hakerakn ! Thanks for pointing it out!

@debdutdeb has just sent a PR for that. Nice catch!

[2022-09-15 19:07] debdutdeb commented on #26804
Good catch @korneil !
The best workaround for now is to unset **all** `OVERWRITE_SETTING` environment variables.

[2022-09-15 19:46] didacroyo commented on #26878
Hi duda, after migrating to develop the issue seems to be resolved!
Tomorrow with production load the users will confirm. Any new input I'll let you know!
Thanks a lot!

[2022-09-15 20:57] #26878 closed

[2022-09-16 00:53] #26409 closed

[2022-09-16 01:47] mddvul22 commented on #26879
Thanks @florisvangeel but that does not appear to be the same type of package.  The tar.gz files you are mentioning appear to be complete source code releases.  The file I'm trying to download, after you untar it, has one folder in it, called "bundle", and everything is inside that folder.  These appear to be two different things.

[2022-09-16 02:57] cshijiel opened #26885 "Whether CallKit is supported?"
RT

[2022-09-16 05:10] cuongnn-smartosc opened #26887 "Could not build from source code"
### Description:

I tried to build and package the Rocket.Chat from  the source code but it was failed. Can someone guide me how to build and package from the source?

### Steps to reproduce:

1. Checkout code from master branch
2. Execute `apps/meteor/.example-build-run.sh`
3. Show error at  `meteor npm install`

`meteor npm install
npm ERR! code EUNSUPPORTEDPROTOCOL
npm ERR! Unsupported URL Type

[2022-09-16 05:55] bipsBro commented on #25004
I can reproduce this issue

[2022-09-16 07:02] b90g opened #26888 "sorting channel list in directory by activity broken"
### Description:

 Feature introduced in PR #16604 is either not verbose anymore or not working

### Steps to reproduce:

1. goto `directory/channels`
2. Click on Last Message ("Letzte Nachricht")

### Expected behavior:

Channels are sorted by most recent/lest recent message AND the date is shown.

### Actual behavior:

Channels are in non conclusive order date is shown some times:
![image](https

[2022-09-16 07:04] saschafoerster opened #26889 "Message rendering of links containing : is still broken"
We use Google Alert for monitoring.
With version 5.0 we had problems with this links not being rendered at all, instead we saw emojis.

Now, after updating to 5.2.1 we don't see the emoji anymore, but the link is not clickable to the full length. it goes to the second ... &url=https and stops here ://ga.

<img width="484" alt="Bildschirmfoto 2022-09-15 um 11 23 20" src="https://user-images.githubu

[2022-09-16 07:06] saschafoerster commented on #26889
@engelgabriel Another issue for the tag subj:message-rendering

[2022-09-16 10:28] HrHeun commented on #26820
I did some further testing about this issue.
I previously ran multiple instances which seems to get an enterprise only feature in the future (https://docs.rocket.chat/quick-start/scaling-rocket.chat/running-multiple-instances note the Enterprise Tag).
So I switched back to one instance, but the refresh problem still occurred.

Then I removed the replicaSet information in the env-variables for mong

[2022-09-16 12:18] Rollbacke commented on #24894
The thing that is weird is that it says "Room modified", but when you go back there, nothing has changed.
If the retention time of the channel is greater than the global one, it does not change anything.
On the other hand, shorter, it works (tested in 3.18.3 and 5.1.2).

[2022-09-16 19:50] dudanogueira commented on #26889
Hi! Thanks for pointing it out!

[2022-09-16 20:00] mddvul22 commented on #26046
We gave up waiting and moved to Rocky 8.  The upgrade worked on Rocky 8.

[2022-09-16 20:00] mddvul22 commented on #25952
We gave up waiting and moved to Rocky 8.  The upgrade worked on Rocky 8.

[2022-09-16 20:10] dudanogueira commented on #26888
Hi! Thanks for pointing it out.

This is the actual code, for reference:
https://github.com/RocketChat/Rocket.Chat/blob/fe26bcebae334168d6e1e2f8fd0bfe9a85d1a8d3/apps/meteor/app/api/server/v1/misc.ts#L347

[2022-09-16 20:15] dudanogueira commented on #26887
Hi! This is not a bug :confused:

If you want to run de development environment - and specially on a mac - please, check out this channel where the mac developers hang out:
https://open.rocket.chat/channel/working-on-linux-or-mac

Also, please, check out this doc on how to get started on mac environment:
https://developer.rocket.chat/rocket.chat/rocket-chat-environment-setup/mac-osx

[2022-09-16 20:15] #26887 closed

[2022-09-16 20:15] #26885 closed

[2022-09-16 20:36] dudanogueira commented on #26489
Ok, it's now planned for 5.2.0 release:

https://github.com/RocketChat/Rocket.Chat/milestone/301

[2022-09-16 20:39] dudanogueira commented on #26489
@urosino I will close this now, as I can't related this issue to the PR, that was merged already.

Please, if possible, test it upon release, and if not fixed, repoen :)

Thanks!

[2022-09-16 20:39] #26489 closed

[2022-09-18 05:24] aliubaidsaifi commented on #24917
Hello @matthias4217 I would like to work on this issue please assign it to me.

[2022-09-18 07:00] matthias4217 commented on #24917
Hello, I am not a RocketChat maintainer. Feel free to contribute. @kotwani2883 has already opened the PR #25131 but it hasn't been reviewed yet.

[2022-09-19 02:30] Salmankhan033 commented on #19813
I have the same issue how to slow it ?
In my Customize app did not receive any notification but when put my server URl in rocket.chat app then it's working.

{

"level":50,

"time":"2022-09-15T132520.615Z",

"pid":1027,

"hostname":"connect",

"name":"Push",

"msg":"Error sending push to gateway (5 try) -> {"response":{"statusCode":400,"content":\"{"code":108,"error":\"bad request sent to apn","re

[2022-09-19 09:07] cyberb opened #26897 "Selenium black screen after login (> 4.6.4)"
I am using selenium to test RocketChat install/upgrade process in Syncloud Store. Selenium was working fine until v4.6.4 any newer version from 4.7 shows login screen but after successful login main screen shows for a sec and dissapears. Tryed different browsers (firefox, chrome) behavior is the same.

Outside of selenium it is all good.

Selenium docker standalone: v4.4

Is this a well known issu

[2022-09-19 09:39] nmagedman commented on #26830
I have confirmation of what @emikolajczak and @Gummikavalier hypothesized above.  I wrote RC Tech Support about this issue and was told:

[2022-09-19 10:33] emikolajczak commented on #26830
Interesting.
Sad there is no in advance communication from Rocket.chat about plans.
When scaling will not be available in CE version this solution will be totally not usable for installations greater than several dozen active users.

[2022-09-19 12:02] nmagedman opened #26898 "Feature Request: Improve UX when Accounts_AllowUserProfileChange is false"
### Description:

PR #25632 (commit 813883181) shows the NotAuthorizedPage if Accounts_AllowUserProfileChange is false.  This leads to an awkward user experience, as the user thinks he does not have access to any of his preferences:

<img width="671" alt="Screen Shot 2022-09-19 at 14 30 27" src="https://user-images.githubusercontent.com/1042298/191007884-2be13fa1-098d-49db-8411-b8efb42fe28a.png">

[2022-09-19 12:11] Elintondm opened #26899 "Livechat Realtime API: livechat:getInitialData method not found"
After update RC to 5.0.4 the Realtime API method is gone: livechat:getInitialData

Logs:

```Send message failed: {"isClientSafe":true,"error":404.0,"reason":"Method \u0027livechat:getInitialData\u0027 not found","message":"Method \u0027livechat:getInitialData\u0027 not found [404]","errorType":"Meteor.Error"}```

[2022-09-19 12:41] dudanogueira commented on #26898
Hi! Thanks for the suggestion!

[2022-09-19 13:13] engelgabriel commented on #25828
Just for future reference: The index issue is not impactful on later versions of Rocket.Chat. The instance starts successfully and everything will work normally. To remove the index warnings you have cleared the index errors manually for now.

[2022-09-19 13:14] engelgabriel commented on #26046
Just for future reference: The index issue is not impactful on later versions of Rocket.Chat. The instance starts successfully and everything will work normally. To remove the index warnings you have cleared the index errors manually for now.

[2022-09-19 15:10] Gummikavalier commented on #26830
We are getting the error message on RC 5.1.2 now with native oplog enabled on and Enterprise instance. So the toaster seems to be point blank for everybody currently.

I'm worried too about what kind of setups are possible in the future with the Enterprise, and whether the setups are enforced to use microservices for instance. Which makes things more complex IMHO until on-premises world actually i

[2022-09-19 16:18] cyberb commented on #26897
I think the problem was related to an old user agent in mobile mode as desktop was fine, so I dropped mobile for now.
[code]

[2022-09-19 16:18] #26897 closed

[2022-09-19 17:07] sampaiodiego commented on #20027
this has been fixed by https://github.com/RocketChat/Rocket.Chat/pull/26336 and released on version `5.0.1`..

actually `USE_NATIVE_OPTLOG` is now broken on 5.x .. waiting on this issue to be closed: https://github.com/meteor/meteor/issues/11993 it has been already fixed on latest mongodb nodejs driver, just needs a new release from Meteor.

[2022-09-19 17:07] #20027 closed

[2022-09-19 19:58] sampaiodiego commented on #26899
it was removed with breaking changes on 5.0: https://github.com/RocketChat/Rocket.Chat/pull/25889

cc @KevLehman @murtaza98

[2022-09-19 19:58] #26899 closed

[2022-09-19 20:01] sampaiodiego commented on #26615
any news from them?

[2022-09-19 20:20] sampaiodiego commented on #26615
oh, you can opt-out on using change streams.. just make sure to provide the following env vars to rocket.chat:
[code]

[2022-09-19 20:23] #13003 closed

[2022-09-19 20:29] Elintondm commented on #26899
Thanks!!!

We use this method of Realtime API to see if the given client is already with an open chat and to discover the current chat department.

Please how to discover these things using realtime API now?

[2022-09-19 20:30] Elintondm commented on #26899
Is it possible to downgrade the RC version of a cloud version?

[2022-09-19 21:40] pierre-lehnen-rc commented on #13511
Fixed by the new videoconf system.

[2022-09-19 21:40] #13511 closed

[2022-09-19 21:41] pierre-lehnen-rc commented on #12052
Closing as no longer relevant.

[2022-09-19 21:41] #12052 closed

[2022-09-19 22:09] dval opened #26901 "Assets labels not showing"
### Description:

I just installed rocketchat-server via snap package on Ubuntu 22.04.
I setup Apache as a proxy all following[ guide on rocketchat](https://docs.rocket.chat/quick-start/environment-configuration/configuring-ssl-reverse-proxy) site.
Everything connects as expected. I have no errors in Apache logs.

When I navigate to Administration -> Settings -> Assets  the form is just repeating

[2022-09-20 01:25] billynoah opened #26902 "Livechat WIdget API error in pageVisited Method"
### Description:

`pageVisited()` API method fires on page load but throw a TypeError since `rid` is not defined if there is not yet an existing chat.

[code]

Relevant code:
[code]

### Steps to reproduce:
1. Copy / Paste livechat widget js onto a webpage.
2. Load the page.

### Expected behavior:

In the past `pageVisted()` would fire on page load and when a customer initiates a new chat, the ch

[2022-09-20 04:41] murtaza98 commented on #26899
Hi @Elintondm Can you check if any of these endpoints fit your use-case
1. [/livechat/room](https://developer.rocket.chat/reference/api/rest-api/endpoints/omnichannel/livechat-endpoints/livechat-room/livechat-room-info) - This allows you to query a single room using visitor's token & from that response you should get the corresponding department ID
2. [/livechat/rooms](https://developer.rocket.cha

[2022-09-20 04:42] murtaza98 commented on #26899
I'm not really sure about this. Can you please reach out to the support team to check about SaaS https://desk.rocket.chat

[2022-09-20 06:16] ankar84 commented on #26901
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/26502

[2022-09-20 06:16] #26901 closed

[2022-09-20 06:17] ankar84 commented on #26502
fix https://github.com/RocketChat/Rocket.Chat/pull/26755

[2022-09-20 07:01] whitetiger264 opened #26903 "5.1.2 Failing with Meteor.Error & Server selection timed out"
I Installed the latest 5.1.2 on a brand new Rocky Linux 8 VPS and I am running into issues with `Meteor.Error` and also `Server selection timed out after 30000 ms`.

- Version of Rocket.Chat Server: 5.1.2
- Operating System: Rocky Linux 8
- Deployment Method: Manual
- Number of Running Instances: 1
- NodeJS Version: 14.18
- MongoDB Version: 4.4

When starting the RC service, I get the following er

[2022-09-20 09:08] Atinjanki opened #26906 "Application is not muted even when the machine is muted!"
I am using RocketChat application on Debian 10.

Even when I mute my machine I keep hearing sound of RocketChat messages!

Why doesn't the application get muted as well?

[2022-09-20 09:27] ankar84 commented on #26906
@dudanogueira looks like that issue is for Electron repo.

[2022-09-20 13:10] dudanogueira commented on #13003
@dotty37 Can you try in our development version? This should be included there already.

You can test it using the docker tag **development**, instead of **latest** or a specific version.

if you want to help us as a beta tester, please, consider joining our [Beta Testers Channel](https://open.rocket.chat/channel/beta-testers)

Thanks!

[2022-09-20 13:19] oyxnaut opened #26907 "Backslashes in messages don't show without escaping"
### Description:

Unescaped backslashes are removed from messages, _unless_ there is no other character after the \.

### Steps to reproduce:

1. Write `\a`
2. Write `\\a`
3. Write `\`
5. Write `\\`

Note: This needs to be a "normal" message. Inside backticks, a single backslash doesn't disappear.

### Expected behavior:

The messages should read:
1. `\a`
2. `\\a`
3. `\`
4. `\\`

### Actual behavi

[2022-09-20 15:09] himpierre opened #26908 "5.1.2 Crash with: error: TypeError: subscriptions.find is not a function"
### Description:

We run rocketchat with four replicas in a k8s cluster. Since upgrading to 5.1 (from 4.8) we have a lot of pod crashing. A problem which makes that even worse is the fact that the variable "EXIT_UNHANDLEDPROMISEREJECTION" does not seem to work anymore so one has to kill the pod by hand.

### Steps to reproduce:

1. Let rocketchat run for a while
2. Rocketchat gets unresponsive
3.

[2022-09-20 16:36] dudanogueira commented on #21578
This was fixed. Tested in 5.2-develop.

Please, let us know if you confirm. Closing for now. Thanks!

[2022-09-20 16:50] dudanogueira commented on #21585
Thanks for your contribution! This is fixed in latest 5.2-develop. Closing for now.

[2022-09-20 16:50] #21585 closed

[2022-09-20 17:07] #21108 closed

[2022-09-20 17:11] dudanogueira commented on #17871
Hi!
This feature is already present on latest version (tested in 5.2-develop).
Thanks for your contribution!

[2022-09-20 17:11] #17871 closed

[2022-09-20 19:00] sandrotanner commented on #17871
cool thanks

[2022-09-20 19:12] dazoot commented on #26679
This is the most annoying bug EVER. Not being able to paste code. I die a bit every day :) Any hopes to get one of the devs check this out ?

[2022-09-21 03:29] ankar84 commented on #26679
I don't know what you talking about if even when you using code button it paste proper ` ``` ` code and cursor between, you just need to paste code there.
I mean this:

[code]
your code
[code]

[2022-09-21 06:31] EBG-DEV opened #26910 "Rocket Chat with MongoDB cluster"
Community Edition.
OS Rocky 8.6
5.0.12 MongoDB / WiredTiber (oplog Enabled).
Rocket Chat 5.1.2
HaProxy 2.4

In daily operation - no issues.

When MongoDB cluster nodes update and restart one-by one in 1h increments RocketChat start to have issues.

1) In Info page "You are operating multiple instances.. some features will not behave as designed." message ?
![image](https://user-images.githubuserco

[2022-09-21 07:03] rksingh2001 commented on #26898
Can I take up this issue @dudanogueira @nmagedman ?

[2022-09-21 08:02] bndrgroup commented on #18635
Seems to do the trick! Thanks

[2022-09-21 08:37] Vaarlion commented on #26879
Funny enough ... https://releases.rocket.chat/5.0.7/download return https://cdn-download.rocket.chat/build/rocket.chat-5.0.6.tgz?6debca4f134f774406b979780767ebb1-26

And https://releases.rocket.chat/5.0.8/download don't work so it's not a "is not found get last version" type of issue ...
Who slipped ? and why is it not automated :sweat_smile:

[2022-09-21 16:05] xcskier56 commented on #21941
I am having this issue as well.

1. I enabled 2FA
2. I created a user and then realized that 2FA was required
3. I disabled 2FA in admin panel
4. I created a new user
5. New user still prompted for 2FA after login & REST API request

[2022-09-21 16:28] xcskier56 commented on #21941
After updating to 4.8.4 this has resolved for me

[2022-09-21 17:44] wahdatjan opened #26913 "Rocketchat aws deployment error"
Tried 21 times. Waiting 5 secs...
rocketchat_1          | /app/bundle/programs/server/node_modules/fibers/future.js:313
rocketchat_1          | 						throw(ex);
rocketchat_1          | 						^
rocketchat_1          |
rocketchat_1          | MongoServerSelectionError: getaddrinfo ENOTFOUND mongo
rocketchat_1          |     at Timeout._onTimeout (/app/bundle/programs/server/npm/node_modules/meteor/n

[2022-09-21 17:46] paulhibbitts commented on #26902
+1

[2022-09-21 18:33] dudanogueira commented on #26913
Hi! Please, follow the issue template so we can help you.

By the look of this log, rocketchat doesn't seems to be able to reach for the mongo.

Please, check this doc before opening an issue:
https://docs.rocket.chat/getting-support/community-resources

Thanks!

[2022-09-21 18:33] #26913 closed

[2022-09-21 19:01] krenuser commented on #26639
Still here in 5.1.2

[2022-09-21 22:57] scrivna commented on #26615
Thanks for providing that en var - I tried this out and managed to get the 5.x branch running... however it came with a lot of issues, I think the biggest one was that when settings were updated they went to the DB but didn't update in memory, so I had to keep restarting the server to get it to pick up the updated settings, so sounds like a memory cache or something, also new messages wouldn't dis

[2022-09-21 22:57] #26615 closed

[2022-09-21 23:32] #26908 closed

[2022-09-22 03:11] #25529 closed

[2022-09-22 03:53] wahdatjan opened #26918 "Exception in setInterval callback: MongoServerSelectionError: connection timed out while Deploying on AWS"
i am deploying the rocketchat on aws ec2 instance . DOcker images are running but when i check the logs i am getting this error

### Server Setup Information:

- Version of Rocket.Chat Server: 5.0.3
- Operating System: linux
- Deployment Method: docker
- DB Replicaset Oplog: - MONGO_OPLOG_URL=mongodb://mongo:27017/local
- NodeJS Version: 14.19.3 - x64
- MongoDB Version:4.0.28

### Client Setup Inf

[2022-09-22 06:56] wreiske commented on #26506
Also - the flickering is reproducible on the storybook fuselage! https://rocketchat.github.io/fuselage/fuselage/master/?path=/story/navigation-dropdown--default

[2022-09-22 10:10] sandrotanner commented on #6107
@rodrigok this issue has the flag "planned". could you let us know for which release it is planned?

[2022-09-22 11:03] nmagedman opened #26920 ""Hide System Messages" not honored by stream-room-messages"
### Description:

Certain events create messages which are displayed in the chat conversation along with user-generated messages, e.g. "User Alice added by Bob".  The settings page /admin/settings/Message has a section **Hide System Messages**, with a multiselect of _Hide “Foo” messages_.  When we set, for example, _Hide "User Added" messages_,  those messages still exist in the database (and perh

[2022-09-22 12:17] fahrnbergerg commented on #16885
This thread is old but the desired features is still missing.

[2022-09-22 12:40] vinogradovia commented on #14466
any news here?

[2022-09-22 13:52] dudanogueira commented on #26918
Hi! Did you followed this doc?
https://docs.rocket.chat/quick-start/deploying-rocket.chat/cloud-deployments/aws

if positive, it's outdated :grimacing: We will fix this any time soon.
Please, follow this doc for the updated docker compose version:
https://docs.rocket.chat/quick-start/deploying-rocket.chat/rapid-deployment-methods/docker-and-docker-compose

[2022-09-22 14:04] kapcod opened #26922 "No timeout for "<user> is recording..." message"
### Description:

"<user> is recording..." message has no timeout.
We had a user who were shown as recording for many hours. We believe he had some other tab with chat open with this ongoing recording that he forgot about, but he couldn't find it.
In the end we "fixed" it by deactivating and reactivating the user - the message disappeared.

Having timeout of, let's say, 1 minute on this notificati

[2022-09-22 14:38] amsnek opened #26923 "Rest API / some users.setPreferences cannot be set anymore in Rocket.Chat 5.x"
### Description:

The following settings cannot be set anymore since 5.0 with the rest API in `/api/v1/users.setPreferences`

- idleTimeLimit
- desktopNotificationDuration

see: https://forums.rocket.chat/t/api-changes-in-5-0-unable-to-set-users-setpreferences/14979

### Steps to reproduce:
`
curl --request POST \
  --url http://localhost:3000/api/v1/users.setPreferences \
  --header 'Content-Type

[2022-09-22 21:22] chotaire opened #26927 "/me action is no longer working in v5.1"
### Description:

The /me action is no longer working. Instead a normal message gets constructed with appending "\_ " and prepending "\_" characters.

### Steps to reproduce:

1. Send message `/me is testing.`

### Expected behavior:

It should display a so called action:

_`Chotaire is testing.`_

### Actual behavior:

Instead it shows a normal message with appending "\_ " and prepending "\_" cha

[2022-09-23 02:32] cctvccav commented on #26907
I meet the same problem.

[2022-09-23 03:15] jacobgkau commented on #26089
4.8.3 and 5.x are both released to stable, so I'm closing this as completed.

[2022-09-23 03:15] #26089 closed

[2022-09-23 07:15] himpierre commented on #26908
@debdutdeb Our systems crash twice a day. Can we have a release please?

[2022-09-23 10:41] FlutterFraz commented on #26505
I am suffering from the same problem

[2022-09-23 12:17] binodyadav6119 opened #26933 "Want to add different language in livechat rocketchat"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Client Setup Information

- Desktop App or Browser Version:
- Operating System:

### Additional cont

[2022-09-23 12:19] binodyadav6119 commented on #26933
I want different language other than english while chatting in livechat. How to achieve?

[2022-09-23 12:34] dudanogueira commented on #26927
Hi! Thanks for pointing it out!

/me will not work if you have the legacy message template turned on in My Account > Preferences > Global

For the new message template it's working as expected.

This will probably not get fixed, as this module is being deprecated.

[2022-09-23 15:46] ata-star commented on #1887
no dark mode in the end of 2022

Obviously retarded

[2022-09-23 15:49] ata-star commented on #6405
Rocket chat sucks, the devs dont know CSS

[2022-09-23 18:59] pablozandona commented on #23642
Still reproducible as of 5.0.3

[2022-09-23 19:55] rolandougalde commented on #25080
Hello, It works for me, go to Administrator > Permissions > click on [guest or user], then click, "Users in role "; I'm able to add or remove users from here.

Hope it helps.
![rocket](https://user-images.githubusercontent.com/46721519/192046998-38c0cb32-77f6-42c1-8f5d-dd42259e6fb4.png)

[2022-09-23 20:16] #26804 closed

[2022-09-23 21:31] lestercoyoyjr commented on #26505
Hello everyone,

Depending on your deployment but at least for those who are in docker, can you try this:

1. first back up your DB and take everything down via: docker-compose down
2. Then, start them up one by one in this order:
    - docker-compose up -d mongo - give it a minute or two to start
    - docker-compose up -d mongo-init-replica - give this one a minute to start as well.
3. Then fina

[2022-09-24 15:11] himpierre opened #26941 "5.1.2 start video conference on direct message to self Status 400 Bad Request (EE only?)"
### Description:

When I try to start a video conference by clicking on the call icon in direct message channel to myself the video window does not open. The Client hangs and needs to be reloaded. The browser console shows "Status 400 Bad request". Interestingly enough: that only happens on our EE instance. The free edition does not show this behaviour.

Also interesting: Using /jitsi and clicking

[2022-09-24 16:57] paulchen opened #26942 "D: becomes :fearfulc:"
### Description:

When typing `D:` in a chat, this part of the message is rendered as `:fearfulc:`.

### Steps to reproduce:

1. Type `D:`.

### Expected behavior:

The text is rendered as `D:`.

### Actual behavior:

The text is rendered as `:fearfulc:`.

![image](https://user-images.githubusercontent.com/404840/192109681-a093bef3-e4a8-420e-b04d-4e4fe5f30402.png)

In edit mode:

![image](https://

[2022-09-24 18:21] rajanshresth commented on #26933
I want to work on this issue..
Can you assign me this issue?

[2022-09-24 18:50] debdutdeb commented on #26903
That is only for our old docker compose users. Not applicable here.

You have not initialized a replicaset. Do so with this command
[code]
in the mongo shell

restart rocketchat

[2022-09-24 20:43] minemos opened #26943 "[IOS - Safari, Chrome] Cannot enter chat room"
### Description:

On Iphone cannot enter chat room (only mobile)
Android is fine

### Steps to reproduce:

1. Go to direct room list
2. Click room to enter
3. Come back to list or show blank screen

### Expected behavior:

1. Go to direct room list
2. Click room to enter
3. Show room

### Actual behavior:

https://user-images.githubusercontent.com/24834933/192118023-f3faa11c-b955-4010-ac70-35e80d7

[2022-09-24 23:15] jslsolucoes commented on #25732
@jackmorena2222 this bug still causing problem ? i have checked for your bounty and im interesting

[2022-09-25 10:53] urosino opened #26944 "Discussion: Fixing bugs or adding new features, priorities?"
It's clear that the Rocket.chat team is working hard to help people have a better experience using their platform.

However, with the latest releases, we can see that new bugs sometimes appear.

Instead of fixing them in the further releases, we keep seeing more features instead.

I understand that not all issues/bugs can be taken care of, but occasionally, I get a mixed feeling about priorities b

[2022-09-25 14:05] Vaxter commented on #26844
Same problem here on 5.1.3 both Electron and in browsers.

[2022-09-25 16:03] HrHeun commented on #26505
The same problem may bei causing the issues #26820 and #26844

[2022-09-25 19:31] sandeep13122002 commented on #26723
is anyone working on this issue?

[2022-09-25 19:41] sandeep13122002 commented on #26889
I want to contribute to this repository,I am a newbie in opensource

[2022-09-26 04:53] avenger2005 opened #26946 "According to the official guide, the server hangs up after the lateste update"
docker pull registry.rocket.chat/rocketchat/rocket.chat:latest
docker-compose stop rocketchat
docker-compose rm rocketchat
docker-compose up -d rocketchat

https://docs.rocket.chat/quick-start/upgrading-rocket.chat

[2022-09-26 05:43] mr-karan commented on #26944
Every Rocketchat update unfortunately is a breaking and disappointing UX. There's no point in reporting issues anymore because they don't even get acknowledged (Like how I was asked to create a separate issue for [this](https://github.com/RocketChat/Rocket.Chat/issues/23638#issuecomment-1014587279) and it's been 8 months, yet to see someone [ack it](https://github.com/RocketChat/Rocket.Chat/issues

[2022-09-26 06:18] Avsynthe opened #26947 "Unable to log in to Rocket.Chat Cloud via the Connectivity Services setting"
### Description:

Hey guys!

I can't log in to Rocket.Chat cloud via my instance.

Sync says it’s working when I press the button, which may be true, but when I click the Login to Rocket.Chat Cloud button, it takes me to the Authorization screen, where I receive the “error-invalid-state” error when I press the Authorize button

This means I can't use apps and other things that rely on this.

There

[2022-09-26 06:45] sandeep13122002 commented on #26946
I want to work on this issue can you assgin me?

[2022-09-26 10:41] toomaslepik commented on #26907
We have same problem!
server  Rocket.Chat: 5.1.3

[2022-09-26 11:48] sampaiodiego commented on #26908
hey @himpierre , version [5.1.3](https://github.com/RocketChat/Rocket.Chat/releases/tag/5.1.3) was published with a fix for this issue.

[2022-09-26 12:43] dudanogueira commented on #26933
hi @binodyadav6119 You can change the Widget language by using it's API.

Check here for more on that:
https://developer.rocket.chat/reference/api/livechat-api#set-language-for-widget

The supported languages, as of today, lives here (the link is outdated in doc after the monorepo change, it should be fixed soon):
https://github.com/RocketChat/Rocket.Chat/tree/develop/packages/livechat/src/i18n

I

[2022-09-26 12:43] #26933 closed

[2022-09-26 13:31] ata-star commented on #1887
true

[2022-09-26 13:53] pierreozoux commented on #1887
@fumin and @ata-star I'm sure you are smarter than monkeys, so feel free to propose it :upside_down_face:

[2022-09-26 14:10] himpierre commented on #26908
Hi @sampaiodiego Thanks! Already installed!

[2022-09-26 16:29] dudanogueira commented on #26947
Have you tried with latest versions, for instance, 5.1.3, as of now.

[2022-09-26 20:02] dudanogueira commented on #26946
Hi! We will need more details on whats going on here.

But this is not a software issue, but a deployment issue

Please, check out this community resources before opening an issue and how to get proper help:
https://docs.rocket.chat/getting-support/community-resources

Also, state what version you are upgrading to and try to get more logs with relevant errors:
docker-compose logs

Bear in mind abo

[2022-09-26 20:02] #26946 closed

[2022-09-26 20:05] dudanogueira commented on #26943
Hi!

Have you tried this in latest 5.1.3 version? Did you get the same outcome?

[2022-09-26 20:14] dudanogueira commented on #26942
[I think I found the mistype](https://github.com/RocketChat/fuselage/blob/dc71a45cf8c5d9945a54e765c3c8632c7feb8c5d/packages/message-parser/src/grammar.pegjs#L611). it should be translated to `:fearfull:` or :fearful:

Nice catch, @paulchen!  Thanks!

[2022-09-26 22:26] Avsynthe commented on #26947
Hey mate! Thanks for your response. I've DM'd you over on open chat as you requested in the other thread. You're "teste-dudanogueira" over there, correct?

I tried to respond on the thread but I only now just learnt there's a 3 post limit per topic for new users

[2022-09-26 22:46] skadefro commented on #26505
It has been one and a half month with this bug, plaguing several users. Is there a fix in the works or does this not have priority?

[2022-09-27 05:28] tamatsuna opened #26952 "Rocket.Chat can't start after update from 4.6.3 to 5.1.3."
### Error:

[code]

### MongoDB:
[code]

---

What should I do?

[2022-09-27 07:44] tamatsuna commented on #26952
I upgraded MongoDB to 4.4.16 and it solved the problem. Sorry.

[2022-09-27 07:44] #26952 closed

[2022-09-27 07:53] dusatvoj opened #26954 "Can't login with LDAP with "unclosed paren" error"
### Description:

### Steps to reproduce:

1. Try to login via LDAP as it has been working in v3.18.x

### Expected behavior:

Login Successful

### Actual behavior:

Bad password or user not found error

### Server Setup Information:

- Version of Rocket.Chat Server: 5.1.3 (broken also in 5.0.x ; tried upgrade but not fixed)
- Operating System: Debian
- Deployment Method: tar
- Number of Running

[2022-09-27 08:15] danel1 commented on #24978
@engelgabriel @ggazzo This is still a problem in 5.1.3....

[2022-09-27 08:15] danel1 commented on #26538
@engelgabriel @ggazzo This is still a problem in 5.1.3....

[2022-09-27 09:41] Si-Richards opened #26955 "Livechat widget fails Invalid Mime Types"
### Description:

Livechat widget fails to render

Refused to execute script from 'https://mydomain/livechat/livechat/0.chunk.f8d50.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.

### Steps to reproduce:

1. Enable omnichannel
2. embed widget code
3. view page

### Expected behavior:

Rendering of livechat widget

### Actual behavior:

Widget f

[2022-09-27 09:43] sandrotanner commented on #9611
It is so annoying that they always tag issues as "triaged" but they never do this publicly but instead probably in some external tool so we are left guessing when (if at all) the issue will be tackled. Not really the nice FLOSS way of doing things if you ask me...
If it is out of scope just say it and move on so we know what to expect.
(end of rant :smile: )

[2022-09-27 10:34] Si-Richards commented on #26955
Upon looking again i can see that its making calls to an invalid URL with a double 'livechat' 'https://mydomain/**livechat/livechat**/0.chunk.f8d50.js' becaus

[2022-09-27 11:34] DasFroDo opened #27051 "Lightbox / Black Overlay visible when switching chats under certain window width"
### Search before asking

- [X] I had searched in the [issues](https://github.com/RocketChat/Rocket.Chat.Electron/issues?q=is%3Aissue) and found no similar issues.

### Operating System

- [ ] macOS
- [x] Windows
- [ ] Linux

### Operating System Version

Windows 10 19044.2006

### It happens on the web browser too?

Yes, it happens on the web browser too

### Rocket.Chat Desktop App Version

3.8.

[2022-09-27 11:47] urosino commented on #26944
I get similar feelings. We are an enterprise paying customer, and it looks like some newly appeared bugs are just ignored, such as:

https://github.com/RocketChat/Rocket.Chat/issues/26798

[2022-09-27 12:29] dudanogueira commented on #26947
hi! That's a test account, hehehe

This is my DM:
https://open.rocket.chat/direct/duda.nogueira

Tks!

[2022-09-27 13:01] dudanogueira commented on #26955
Hi! By any chance are you running something like

http://mydomain.com/chat
instead of
http://chat.mydomain.com?
?

Running Rocket.Chat in subpath in your domain is not supported, if that's the case.

[2022-09-27 13:06] dazoot commented on #26679
@ankar84 before the upgrade it was not required to have the 3 \`\`\` on a separate line.

This makes pasting code in the chat box mega annoying, i have to type 3 \`\`\` then press Shift Enter, then paste the code, then press again Shift Enter then type the 3 \`\`\` (thus dying inside every day cause of it).

Please read all the coments in this issue.

[2022-09-27 13:21] amsnek commented on #26679
you can also use the multine insert button on the bottom of the screen
![image](https://user-images.githubusercontent.com/73526449/192537715-9a99e861-9974-4db5-bd34-e9865e25a2dc.png)

but yeah, its a mouse click and not as comfortable

[2022-09-27 15:37] banoleb commented on #24099
the same  issue in 5.* . Some old or now webhooks failed with code 400. It happened after update from 3* to 4 version.

`{"level":35,"time":"2022-09-27T15:19:36.301Z","pid":1,"hostname":"9669479ea658","name":"API","method":"POST","url":"/hooks/6*********a99fbe118fd/HzZ*****************************************vJ","userAgent":"Java/1.8.0_332","length":"1912","host":"chat-domen.com","remoteIP":"192.1

[2022-09-27 15:39] hugocostadev commented on #26944
Hi @urosino , thank you for your feedback.

We have been on a mission to improve code quality and stability by refactoring so many components into TypeScript and the focus for the next quarters is all about QA, code test coverage, and Quality.

We understand and we are so sorry for your frustrations! We are working hard to improve the product quality and deliver the fixes for all pending issues. W

[2022-09-27 15:39] #26944 closed

[2022-09-27 16:01] KyleK1782 commented on #2950
Somehow this is still an issue where the setting doesn't work in Administration > SETTINGS > Layout >  User Interface -> Display Roles (off). The updated CSS tag is `rcx-message-header__roles` based on 5.0.6.

Adding the below to Administration > SETTINGS > Layout > Custom CSS will remove the role tags in messages.
[code]

[2022-09-27 16:11] himpierre commented on #26941
Obvious a strange cash problem or something. After deleting and re-creating the DM to myself there is no call icon anymore. I was told that's like it should be. Makes sense actually.

[2022-09-27 17:15] diegocarlesso opened #26959 "Erro ao carregar imagens após atualização"
![image](https://user-images.githubusercontent.com/75617157/192592491-41044f1f-70ef-45a0-9f0b-e436b98a2065.png)
Hoje, após atualizar o RocketChat para a última versão disponível, as imagens enviadas e recebidas diretamente no programa não carregam.

[2022-09-27 18:04] ulope commented on #24375
I'm sorry but this is not acceptable.
Users can't and shouldn't be aware that they need to invite a bot user.

This is entirely an implementation detail.

[2022-09-27 18:44] geekgonecrazy commented on #26944
@mr-karan

Does this happen on mobile too or just the web client?

My gut feeling here is you have an issue with either web sockets.  Or you need to check your permissions in mongo and make sure it has proper permissions for change streams to work properly.

https://docs.rocket.chat/quick-start/deploying-rocket.chat/rapid-deployment-methods/docker-and-docker-compose/docker-containers/high-availabi

[2022-09-27 19:06] dudanogueira commented on #26959
Oi!

Em geral este erro aparece quando a url do Rocket.Chat está errada, em ADMIN > SETTINGS > GENERAL > SITE URL

Por favor, preenche o template para abrir uma nova issue e leia esta doc antes de abrir um issue:
https://docs.rocket.chat/getting-support/community-resources

[2022-09-27 19:06] #26959 closed

[2022-09-27 19:14] Vaxter commented on #26505
Looks like not enough of us are affected, so this has no priority whatsoever.
I'll give it another week or so and then I am migrating away from Rocket.Chat.

[2022-09-27 19:28] dudanogueira commented on #26502
Closing this as 5.2 is in RC phase and you can test it already.
Help us test in https://open.rocket.chat/channel/beta-testers

[2022-09-27 19:35] #25775 closed

[2022-09-27 20:04] wreiske commented on #26505
I am running:
[code]

With 4 instances of Rocket.Chat, nginx as a proxy in front, and I have not had this issue recently across almost 100 users.

Has anyone had this issue on 5.1.2? I'm wondering if it's related to a rate-limiting issue?

![image](https://user-images.githubusercontent.com/6295044/192624223-ae795543-6422-4bf4-a949-a22e7ad82fe6.png)

I have all rate limits turned OFF. Maybe check y

[2022-09-27 20:33] Vaxter commented on #26505
@wreiske I don't think that this has anything to do with limits.
I have checked messages that arrive on socket, and they are empty.
I wrote this on Rocket.Chat forum.

I did try to deactivate limits, just to play safe, but no help there.

Checked permission, checked logs, etc. and no errors there.

The only error in RC logs is about connecting to RC cloud about invalid state.
It was also reported,

[2022-09-28 01:24] Julianoe commented on #1929
Just wanted to refresh this topic. I have been hosting a server since 2017 with 3 to 10 users regularly interacting and sharing a lot of links and this would really be a life improvement.

The `<https://example.com>` would be a really good way of allowing us to not trash a channel with dozens of embeds when we don't want to. This could be added in the little toolbar of shortcuts under the message

[2022-09-28 01:31] Julianoe commented on #1929
The proposed hacks are not satisfying solutions :
- adding a comma by @xmedeko : does not work for a lot of urls
- or removing `https` by @geekq : you can't use this trick with markdown links because markdown renderer needs https or http to know it's a link and output it like one.

[2022-09-28 06:37] mikesrus commented on #25600
still not working 4.8.3

[2022-09-28 09:23] Si-Richards commented on #396
seems bizarre this isnt here yet !

[2022-09-28 09:52] Si-Richards commented on #26955
My domain is simply chat.mydomain.io

[2022-09-28 10:58] TedsCabin opened #26967 "Real Name is not used in message headers when viewing on mobile browsers"
### Description:

Message headers do not follow the UI_Use_Real_Name setting when on mobile browser (<768px width), therefore only usernames are shown on mobile.  If the goal is to reduce the width

### Steps to reproduce:

1. Set server setting `Use Real Name` to `Enabled`
2. Use a browser with a width <768px
3. All message headers will now use the username

### Expected behavior:

Message header

[2022-09-28 11:21] hugocostadev commented on #26661
Fixed on [Release 5.1.0](https://github.com/RocketChat/Rocket.Chat/releases/tag/5.1.0) But I recommend keeping the product updated with the last stable release.

[2022-09-28 11:21] #26661 closed

[2022-09-28 11:22] hugocostadev commented on #26736
Fixed on [Release 5.1.0](https://github.com/RocketChat/Rocket.Chat/releases/tag/5.1.0) But I recommend keeping the product updated with the last stable release.

[2022-09-28 11:22] #26736 closed

[2022-09-28 11:22] hugocostadev commented on #26648
Fixed on [Release 5.1.0](https://github.com/RocketChat/Rocket.Chat/releases/tag/5.1.0) But I recommend keeping the product updated with the last stable release.

[2022-09-28 11:22] #26648 closed

[2022-09-28 11:26] hugocostadev commented on #26624
Fixed on [Release 5.1.0](https://github.com/RocketChat/Rocket.Chat/releases/tag/5.1.0) But I recommend keeping the product updated with the last stable release.

[2022-09-28 11:26] #26624 closed

[2022-09-28 11:47] hugocostadev commented on #25760
All issues mentioned here are fixed in last releases ;D

[2022-09-28 11:47] #25760 closed

[2022-09-28 11:55] hugocostadev commented on #26865
I agree with @dudanogueira , I tried to write the same code that you send in the issue here and it does not reproduce the mentioned output:

This can generate a lot of issues, in my opinion, we should follow the current implementation.

**Input:**
[code]

**Outputs:**
[code]

[2022-09-28 12:00] hugocostadev commented on #5453
As commented in this PR, the `(y)` is supported and its already working, closing it. Thanks 👍
https://github.com/RocketChat/Rocket.Chat/pull/16559#pullrequestreview-369771131

[2022-09-28 12:00] #5453 closed

[2022-09-28 12:08] hugocostadev commented on #26869
Hi @Gummikavalier , thanks for your concern.

Let me ask you a question, do you even got it to create a username with an email pattern?
When I tried to replicate this issue I got an error:
<img width="683" alt="image" src="https://user-images.githubusercontent.com/20212776/192774559-a94fefac-0b01-49fd-8ac7-f4b6f6f7c89f.png">

[2022-09-28 12:09] hugocostadev commented on #26680
This was added in our radar, and we will discuss this internally to see the impact that this change could have. THanks !

[2022-09-28 12:24] dusatvoj commented on #26954
Even LDAP sync is broken with same error.
[code]

[2022-09-28 12:25] dusatvoj commented on #26954
Even LDAP sync ...
[code]

[2022-09-28 13:34] dudanogueira commented on #26955
Can I take a close look on this deployment?
If possible, ping me at https://open.rocket.chat/direct/duda.nogueira

Tks!

[2022-09-28 14:33] MrPoint1400 commented on #396
+1

[2022-09-28 16:16] ata-star commented on #1887
Every other chat solution has a darkmode so why bother with retard.chat

[2022-09-28 18:07] #26942 closed

[2022-09-28 20:58] mluex commented on #26803
I am experiencing the same issue and can confirm that it is present with snap deployment on Ubuntu 22. Same issue when deploying with Docker.

[2022-09-29 06:42] mmattel commented on #26661
Hmmm, we are running 5.1.0, but having a `#` in the anchor makes rendering fail.
Mind to give this in your instance a try befor closing?

[2022-09-29 06:42] Gummikavalier commented on #26869
@hugocostadev Yes. In our case the usernames get created by Oauth provisioning and we also have allowed @ character in the UTF-8 slugify options. Like this:

[code]

Sorry that I forgot to add that into the original issue.

[2022-09-29 06:53] xoxys commented on #26661
@hugocostadev can you please reference the exact commit that is intended to fix this? Even on 5.1.3 this issue is still not fixed.

[2022-09-29 08:55] m-hew commented on #23593
I'm pretty sure it is related to the code in [userActionIndicator.html](https://github.com/RocketChat/Rocket.Chat/blob/develop/apps/meteor/app/ui-message/client/messageBox/userActionIndicator.html).

The line:
`{{_ "is" }}&nbsp;{{_ action}}{{#unless end}},{{/unless}}`
seems to add a translation of "is" in front of the action. I couldn't find any language file that considers this or added a transla

[2022-09-29 09:17] cortopy commented on #17748
Disabling all rate limiting or allowing "send many messages" doesn't work for me. Still getting blocked all the time

[2022-09-29 09:26] AlecKinnear commented on #26661
Exciting that a fix is in. An exact commit/release number for the public open source version would be useful for us as well.

[2022-09-29 11:05] hugocostadev commented on #26661
@mmattel we are aware of this issue and there is already an open PR to fix this!

PR: https://github.com/RocketChat/fuselage/pull/855

[2022-09-29 11:22] 3ronco commented on #26505
@wreiske thx man that was it! ... This issue plagued us for weeks now.
The reason was our _mongodb_ instance migration to _V5_ and already existing users didn't have the necessary **clusterMonitor** role. Instead of recreating we granted the role from the mongo shell to our _rocketchat_ and _oplog_ user:
[code]
After that the info page of the rocketchat admin settings shows:
[code]

[2022-09-29 11:27] hugocostadev commented on #26661
Hi guys, I think that this fix was introduced in Release Candidate `5.2.0-rc.0`,  by an update in dependencies for `message-parser`.

PR: https://github.com/RocketChat/Rocket.Chat/pull/26876
COMMIT: https://github.com/RocketChat/Rocket.Chat/commit/f4b56815c1caff5febce85f479319aa0be39d6b7

@xoxys and @AlecKinnear I ran a test in open.rocket.chat and gave me this output:
<img width="591" alt="image"

[2022-09-29 11:31] hugocostadev commented on #26869
Got it @Gummikavalier ! Thank you for your feedback, I'll address this issue internally!

[2022-09-29 11:55] mmattel commented on #26661
@hugocostadev can you also try
`[installation](https://github.com/RocketChat/Rocket.Chat#installation)`
to see if url's with anchors (`#`) render correct?

[2022-09-29 11:59] xoxys commented on #26661
It is really confusing how RocketChat handles issues:
- This one was closed https://github.com/RocketChat/Rocket.Chat/issues/26815 as duplicate of this one even if it was talking about HTML anchors using `#` and not `;`
- this issue was closed, and release 5.1.0 was named as fixed release
- the PR https://github.com/RocketChat/fuselage/pull/855 was linked that should contain a fix, but this PR is

[2022-09-29 13:08] TBG-FR commented on #23593
Thanks for the investigation ! I'll take a look at this, how do you think we should handle that ? Totally remove `{{_ "is" }}` ? Find a more appropriate combination ?

[2022-09-29 13:37] sandrotanner commented on #26505
I am anxiously waiting to upgrade to 5.x versions of Rocket.Chat because of this issue (never tried it myself), but soon - when 5.2 releases - I have to upgrade no matter what, which worrys me a bit.

Can anyone 100% confirm that they are having this issue and NOT seeing this line in their logs (right after startup) `Change Stream is available for your installation, give admin permissions to your

[2022-09-29 13:45] kim2048 commented on #26580
I have done a few other tests from which I expected a different result (eg `*` and `_` behave differently at word boundaries):

![grafik](https://user-images.githubusercontent.com/78477156/193047564-916f6602-46f9-45ad-a5ed-ddc7b57787d7.png)

[2022-09-29 14:14] calebjacobson commented on #26605
I am still occasionally experiencing this error. any news on this?

[2022-09-29 14:20] hugocostadev commented on #26815
Reopening since it's not a duplicate to #26661

This issue is being addressed in this PR: https://github.com/RocketChat/fuselage/pull/855

[2022-09-29 14:25] hugocostadev commented on #26661
Hi @xoxys , sorry, maybe I didn't express myself in the best way.

**A:** About this, you are correct, I'll reopen it! Thanks for letting me know

---

**A:** I got confused, this issue is closed due to the last Release Candidate 5.2.0.rc-0

And about the other points I mentioned the PR https://github.com/RocketChat/fuselage/pull/855 to answer @mmattel comment (https://github.com/RocketChat/Rocket

[2022-09-29 14:57] Vaxter commented on #26505
Ok, I have managed to fix it on my side, after a while...
The issue was in oplog connectivity, but Rocket logs and info were falsely showing that everything is ok.
My issue was that my MongoDB server was in standalone mode, and oplog events are not thrown in MongoDB standalone mode, only in replica sets.
I have just converted my mongo into a replica set and everything works now.

[2022-09-29 14:59] dkatsariotis commented on #26505
Greetings,

None of the suggestions make any difference so far. Oplog works and appears at info. All steps mentioned about the database users are not needed if you have no auth in MONGO_URL and MONGO_OPLOG_URL.

Today I took a look at websocket messages which actually seems to work just fine. Every message you sent from the client, creates the message in websocket. For some reason the server doesn

[2022-09-29 15:03] dkatsariotis commented on #26505
I have a single node mongo installation and using RepSet. rs.status() returns ok but message update still has the same issue. I noticed that it is not only the message update, if you go to Administration Panel and make changes they never appear until you refresh the page.

[2022-09-29 15:04] kalsan commented on #26505
@Vaxter thanks for the info, this might be an important clue. I think I'm affected by the exact same problem as you (perhaps we all are). While under 4.x I was using three containers (RC, Mongo and Mongo replica init), I followed [1] when upgrading to 5.0. [1] no longer describes a replica init container.

[1] https://github.com/RocketChat/Docker.Official.Image/blob/master/compose.yml

Perhaps thi

[2022-09-29 15:08] dkatsariotis commented on #26505
This is my startup log. No errors at all

LocalStore: store created at
Thu, Sep 29 2022 5:55:12 pm | MessageType.render is deprecated. Use MessageType.message instead. livechat_webrtc_video_call
Thu, Sep 29 2022 5:55:12 pm | {"level":40,"time":"2022-09-29T14:55:12.892Z","pid":1,"hostname":"rocketchat-srv-867f8575b9-6w97z","name":"VoIPService","msg":"Voip is not enabled. Cant start the service"}
Th

[2022-09-29 15:16] Vaxter commented on #26505
I had exactly the same behaviour, and due to this I was also not able to connect to Rocket.Chat Cloud.
Info says that oplog is enabled, no errors in logs, no anything, just not working.
Then I remembered that there is no oplog notification without replica set, converted, and it's working now.

[2022-09-29 15:28] dkatsariotis commented on #26505
I have repset configured and enabled in mongo's side. It has nothing to do with the node number. You can have 2 or more nodes for the replica but end up with only one if the others fail. So, replica set is enabled and issue persists.

[2022-09-29 16:19] ngdbao commented on #26505
this only happens to Docker install and single Mongodb. Snap install works properly. If you're so new, just switch to snap install.

[2022-09-29 16:23] skadefro commented on #26505
That is interesting, since rocket chat is silent, and you seem to have information, could you bring some light on where they are on a update ? Do they acknowledge there is a bug ? Have they located where it is, how to reproduce it and how to fix it ? If so, is there an ETA on an update with a fix ?

[2022-09-29 16:23] dkatsariotis commented on #26505
It currently runs in kubernetes cluster. Two different pods, one for server and one for mongo. I will give it a try using Helm chart.

[2022-09-29 16:27] dkatsariotis commented on #26505
Snap is on version 5.0.6 I think. So this is why it works 8 believe

[2022-09-29 16:46] Mugros commented on #23593
I think #23597 isn't a good fix though, since as the first comment says, not all languages feature that tense. Present Progressive is something from English grammar, likely not featured in all languages. At least in German you can construct a fitting sentence, but it sounds worse. ("ist/sind am Schreiben"). But it looks like no one checked all other languages if this construction makes even sense.

[2022-09-29 17:17] ngdbao commented on #26505
I don't think It's a bug. Because, Replica set has been required since long time ago. Version 1.x I guess

From version 5, although single Mongodb can be attached, but doesn't work so well you know.

[2022-09-29 17:22] skadefro commented on #26505
Are you just trolling or did you not bother to read what multiple people have written ?
So, please elaborate; For us with a replica, oplogs correctly configured, that is constantly having massive problem, are the developer looking into that, or where you just guessing about that too ?

[2022-09-29 17:55] paulchen opened #26979 "Custom emojis all have the same fixed size"
### Description:

All custom emojis have a fixed width of 2.75rem and a fixed height of 2.75rem which is set via CSS.

### Steps to reproduce:

1. Add a custom emoji which has a different size than 2.75rem x 2.75rem.
2. Write a message containing this emoji.

### Expected behavior:

The custom emoji is not resized:

![image](https://user-images.githubusercontent.com/404840/193106496-75c6fe3e-0458-

[2022-09-29 18:01] paulchen opened #26980 "Cannot modify custom emoji without re-uploading it"
### Description:

When editing a custom emoji without uploading a new file, the error message "No file uploaded" appears when clicking the "Save" button and the changes will not be saved.

### Steps to reproduce:

1. Add a custom emoji in case you don't already have one.
2. Select a custom emoji for editing.
3. Edit its name or aliases.
4. Click the "Save" button.

### Expected behavior:

The chan

[2022-09-29 18:03] paulchen commented on #18264
Today I investigated into several problems regarding custom emojis (cf. https://github.com/RocketChat/Rocket.Chat/issues/26979, https://github.com/RocketChat/Rocket.Chat/issues/26980).

In that process, I stumbled upon the problem described in this issue as well which still persists in Rocket.Chat 5.1.4.

[2022-09-29 18:04] paulchen commented on #18494
Today I investigated into several problems regarding custom emojis (cf. https://github.com/RocketChat/Rocket.Chat/issues/26979, https://github.com/RocketChat/Rocket.Chat/issues/26980).

In that process, I stumbled upon the problem described in this issue as well which still persists in Rocket.Chat 5.1.4:

![image](https://user-images.githubusercontent.com/404840/193108424-427a1084-2b90-4cc3-a71e-a

[2022-09-29 18:22] paulchen opened #26982 "SVG favicon not always used in Chrome"
### Description:

My Rocket.Chat instance has SVG favicons enabled and an SVG favicon has been uploaded:

![image](https://user-images.githubusercontent.com/404840/193110977-09d216b3-27ff-4647-85cc-db46f246beb2.png)

(Field descriptions are currently missing due to https://github.com/RocketChat/Rocket.Chat/issues/26502).

However, when opening Rocket.Chat in Google Chrome or Chromium, the favicon

[2022-09-29 19:35] dudanogueira commented on #1887
Hey guys, not sure what to say here :confused:

But first, calm down!
it helps when we are able to gently discuss things here. Otherwise it's not worth it.

For those that are not able to contribute with good vibes, critics and positive contributions, you don't understand what open source is all about and are not even helping!

So, as you can probably see, we are refactoring a lot of code, and pay

[2022-09-29 20:05] dudanogueira commented on #26979
Hi @paulchen!  Thanks for your input.

I have tested this in 5.2.0-rc1 and it was not resized to 2.75rem x 2.75rem. Can you confirm this?

Renaming the name or alias required to upload an image again, and after uploading, it was indeed broken.  So it was needed to remove the emoji and add it again.

This is indeed a nice suggestion.

[2022-09-29 20:23] paulchen commented on #26979
Hi @dudanogueira! Thanks for for reply.

I just fired up version `5.2.0-rc.1` from Docker Hub. I experienced the same behaviour as described above.

I uploaded this GIF as a custom emoji named "mb2": https://chat-dev.rueckgr.at/emoji-custom/mb2.gif

It is still resized to 2.75rem x 2.75rem. In the DevTools I can clearly see why this happens:

![image](https://user-images.githubusercontent.com/4048

[2022-09-30 08:17] TBG-FR commented on #16746
I used to have a setup using the official Docker-Compose and a modified Dockerfile that just needed a `npm run ...` to start a "dev" RocketChat, but it's been a while and I can't find it / make it again with the changes done (file structure changed, docker related files too, and you're "forced" to use `yarn`)

Here is what I used recently

`Dockerfile`
[code]

`Docker-Compose` from [RocketChat/Doc

[2022-09-30 09:42] dusatvoj commented on #26954
There has to be one more parenthesis in filters...

`(&(objectClass=*)!(pager=false))` -> `(&(objectClass=*)(!(pager=false)))`

[2022-09-30 13:36] dudanogueira commented on #26979
Oh, I am sorry. You are right! It's still an issue.

[2022-09-30 16:33] AisukoWasTaken commented on #23027
Same problem here. Cannot delete workspace on cloud console.

[2022-09-30 17:34] gabriellsh commented on #26680
Hi @xmedeko!

First thing, thanks for your contribution!

What happened is that we recently rewrote the whole message template, and dropped support for different parsers. Previously we had a couple of different parsing settings, and one of them indeed uses `*` for italic, but the `Original` (that's the default setting option) always used `*` for bold.

This new template was under a flag before 5.0

[2022-09-30 17:34] #26680 closed

[2022-09-30 18:19] xmedeko commented on #26680
@gabriellsh Yes, I have switched to the legacy template already. It's hard to understand to me, why you do not follow common Markdown syntax and develop some own flavour. It's very inconvenient. E.g. see my link above or check the Github, it makes `*italic*` as really *italic*, not bold. IMO with writing new parser, it's time to drop such oddities and align with common Markdown implementations.

[2022-10-01 02:39] Micheal-Earl commented on #26696
I was able to successfully delete my account by entering my password in the dialog box that asks for my username as per this post.

Issue still exists, dialog should ask for password instead of username (or maybe it is supposed to take username and it is mistakenly taking password?)

[2022-10-01 05:38] BluePrintRandom opened #26989 "would love to be able to click on a 'notification number' and have it open 'all mentions'"
would love to be able to click on a 'notification number' and have it open 'all mentions'

right now it's not easy to find who / when they mentioned you.

[2022-10-01 11:43] rksingh2001 commented on #26898
@debdutdeb Can you add the hacktoberfest label on this issue?

[2022-10-01 14:22] debdutdeb commented on #26898
We'll start with the labels next week.

IIUC, this request needs to be assess by product first.

[2022-10-01 14:31] bitinn opened #26990 "Safari doesn't stick to current scroll position when loading older chat messages"
### Description:

As title suggests, with Safari 16 and 15, scroll position remains at the top when older chat messages are loaded, triggering another message load immediately and/or content scroll multiple times.

Here is a video demostrating the behavior, reproducible on [`blender.chat`](https://blender.chat) and [chat.godotengine.org](https://chat.godotengine.org/channel/general), both using ro

[2022-10-01 20:28] melakhvision opened #26991 "Customization from web app not showing on mobile"
Hello,

I have added some customization on the web app but they are not showing on the mobile app version.

Where can we make customization for the mobile app version

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:  Ubuntu 20.4
- Deployment Method: Docker
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Client Setu

[2022-10-02 08:27] luison commented on #24780
Hi again. Can someone clarify or point me to any documentation. Thanks.

[2022-10-03 06:37] mattiasarner commented on #23027
I solved it by using mongo shell and removed it by `db.rocketchat_settings.remove( {"_id": /Cloud_/} )`

[2022-10-03 11:03] TBG-FR commented on #25720
The only thing working is using `meteor yarn install` instead of `meteor npm install`

But it looks like yarn doesn't build all modules then... In many of them the `dist` folder is missing and I need to manually do a `npm install` in them 😵

Examples
[code]

I will update this issue if I find a better way to handle this

[2022-10-03 11:51] kholoshnia commented on #25600
We are running into the same issue when trying to use Rocket.Chat 5.0.4 inside iOS [WKWebView](https://developer.apple.com/documentation/webkit/wkwebview).

When the meteor is started from the `apps/meteor` directory with the `yarn start` command, we can see the unminified missing function name:

<img width="500" alt="screenshot" src="https://user-images.githubusercontent.com/52531614/193567792-a8

[2022-10-03 12:46] dudanogueira commented on #26991
Hi!
They are different codebases.

The Mobile App is a App itself that consumes the server APIs.

Here you have the code for the mobile app:
https://github.com/RocketChat/Rocket.Chat.ReactNative

[2022-10-03 12:46] #26991 closed

[2022-10-03 12:47] dudanogueira commented on #26989
Hi! Thanks for your suggestion.
I will move it to the appropriate repo.

[2022-10-03 14:23] knokio commented on #1929
Can you check my PR and demo and see if this a desired behaviour?
If so, I can finish the PR, improve the details and submit it

PR: https://github.com/RocketChat/Rocket.Chat/pull/21065
Demo: https://streamable.com/p0cxfj

[2022-10-03 15:58] florisvangeel commented on #26980
https://user-images.githubusercontent.com/1267925/193622341-fb8e8183-6d51-4816-bf02-a80c37452b69.mp4

Confirmed this does not work in 5.1.4

[2022-10-03 16:48] zhujer opened #26993 "App.JSON Error: RocketChat does not work with Heroku"
### Description:

When visiting this website: https://elements.heroku.com/buttons/rocketchat/rocket.chat
and clicking on "Deploy to heroku," it does not work
### Steps to reproduce:

1. Visit https://elements.heroku.com/buttons/rocketchat/rocket.chat
2. Click on "Deploy to Heroku"
3. Error shows up

### Expected behavior:

Clicking on the button should deploy it to heroku

### Actual behavior:
![h

[2022-10-04 03:27] liv1n9 opened #26996 "Can not search outside users in mobile app"
### Description:
User with user role (View Outside Room permission activated) gets empty result when searching for outside users in mobile app

### Steps to reproduce:

1. Create two groups A and B using endpoint `POST /api/v1/groups.create`
2. Create two users user1 and user2 using endpoint `POST /api/v1/users.create`
3. Add user1 to group A and user2 to group B using endpoint `POST /api/v1/group

[2022-10-04 04:27] harshalkaigaonkar commented on #19056
is it still open?

[2022-10-04 04:33] ankar84 commented on #19056
Yeap. guess @harshalkaigaonkar is right.
With new Video Conf system implemented in 4.29 mobile version and 5.0 server version, that issue could be closed.
@diegolmello what do you think?

[2022-10-04 04:38] harshalkaigaonkar commented on #19056
Hey @ankar84 , can you suggest me some initial issues to resolve?

[2022-10-04 04:41] ankar84 commented on #19056
Actually I'm not a part of Rocket.Chat team.
But I think that `Good first issue` is a good tag to start.
And also [that](https://developer.rocket.chat/rocket.chat/contribute-to-rocket.chat) is a great start point.

[2022-10-04 07:39] #23443 closed

[2022-10-04 08:49] charlyrock opened #26997 "Channel/Teams - Counter missing"
### Description:

### Steps to reproduce:

1. Open a Channel or Team
2. Write a message in this Channel or Team
3. a member in this channel or team only get a point at the icon but not a counter at the Channel/Team

### Expected behavior:

See a number how many messages in the chat
![image](https://user-images.githubusercontent.com/67680741/193776586-5d003d7c-22e5-415e-ad3d-b3e6b90d65b7.png)

###

[2022-10-04 09:46] ankar84 commented on #26982
In my case Enabling SVG favicon - broke favicon functionality on FireFox.
I disable SVG favicon and FireFox shows proper Rocket.Chat favicon from Admin UI - Assets.
So, some SVG favicon problem exists.

[2022-10-04 11:22] diegolmello commented on #19056
I think this issue can be closed.

[2022-10-04 13:11] hugocostadev commented on #26838
Hi @chotaire thank you for your feedback!

We are addressing a lot of Message Parser Issues, and this one Is being worked on by me in the current cycle.

You should expect a fix soon, once I have a Pull Request that fixes this issue I gonna mention this issue there.

Thanks

[2022-10-04 13:37] chotaire commented on #26838
@hugocostadev Thanks for letting us know about the current status. It is much appreciated.

[2022-10-04 15:59] IKrendelev commented on #26861
At some moment in the past I had to patch `app.js` RC source file to set `message.tshow` parameter of validateMessage function to always be `false` (like "Also send to chat" is always unchecked).

[2022-10-05 09:49] PvUtrix commented on #19077
Still seeing this error in user messages, clicking "mark read" doesn't help to clear thread notification.
Filtering the threads by unread returns empty.
version 4.8.3
![image](https://user-images.githubusercontent.com/32957084/194032388-27c35fec-8705-41f0-bbd2-2365a2cdf0cc.png)
![image](https://user-images.githubusercontent.com/32957084/194032477-5c2447ce-c108-40af-bb62-49fc1a65297b.png)

[2022-10-05 09:53] PvUtrix commented on #20657
same here for desktop and web also

[2022-10-05 09:56] stefanandres commented on #26800
In fact. Also it seems every single backslash is removed. E.g. `\o/` becomes `o/` as well.

[2022-10-05 15:13] ahmedelsafty7 opened #27006 "Pass word"
My name is ahmed elsafty,
My email addresss is aelsafty@sgss.com
 I forget my password

[2022-10-05 15:13] ahmedelsafty7 commented on #27006
my phone is 5715029345

[2022-10-05 15:44] Znoy108x opened #27007 "Navbar Issue"
i can solve the navbar issue .

[2022-10-05 19:43] francoataffarel opened #27010 "Docker as root"
Its simple, how can i access docker image from rocket.chat as root?

[2022-10-05 20:01] arjunlubana commented on #27007
What's the issue? Please elaborate?

[2022-10-05 20:12] dudanogueira commented on #27010
Hi!

Sorry, This is really not the place to ask this. here is only for issues on software.

Please, take a look on this resources if you are looking for help:
https://docs.rocket.chat/getting-support/community-resources

It is also a good idea to state what you are trying to do.
There should be no reason why you would want that :thinking:

[2022-10-05 20:12] #27010 closed

[2022-10-05 20:20] #27007 closed

[2022-10-05 20:20] dudanogueira commented on #27006
Sorry, this is not the place for this kind of support =\

[2022-10-05 20:20] #27006 closed

[2022-10-05 20:34] francoataffarel commented on #27010
So @dudanogueira i want insert some features inside docker

[2022-10-05 23:27] fuminori-ido-m opened #27014 "migration v231 fails after 2022-09-27"
### Description:

migration v231 fails after 2022-09-27

#### Comment

I guess [the migration](https://github.com/RocketChat/Rocket.Chat/blob/4.5.7/server/startup/migrations/v231.ts) set 2022-09-27 as expiration datetime and it causes validation error of LDAPBanner model, this leads migration of v231 fails.

I am not sure why this expireAt is really needed or not.  The workaround is to disable all

[2022-10-06 00:01] fuminori-ido-m opened #27015 "migration v216 fails when migrating from 3.11.6 to 4.4.1"
### Description:

migration v216 fails when migrating from 3.11.6 to 4.4.1

#### Comment

I guess [the migration](https://github.com/RocketChat/Rocket.Chat/blob/4.5.7/server/startup/migrations/v216.js) uses `Settings` module but it fails with rocketchat v4.x code.

My workaround is to upgrade to 3.18.7 (latest of 3.x) and then to 4.x.  Basically, [document](https://docs.rocket.chat/quick-start/upg

[2022-10-06 02:48] Znoy108x commented on #27007
![image](https://user-images.githubusercontent.com/75539409/194202623-9db1f6dd-03c6-4ac1-81f5-76922b89455a.png)
![image](https://user-images.githubusercontent.com/75539409/194202731-fe711096-206f-4de1-bc75-10995787b5c8.png)

The navbar is visible all the time after clicking it
and if the user wants to remove it then he had to click the outside the navbar dropdown list
what i can do is i can make i

[2022-10-06 08:30] sandrotanner commented on #26505
@skadefro Would it be possible for you to try if the issue persists after downgrading mongodb (not rocket) to 5.0? https://www.mongodb.com/docs/manual/release-notes/6.0-downgrade-replica-set/#std-label-6.0-downgrade-replica-set

[2022-10-06 09:03] #14541 closed

[2022-10-06 09:09] HrHeun commented on #27011
Related to #26505

[2022-10-06 11:13] ahmedelsafty7 opened #27018 "reset my password"
ahmed elsafty from SGSS  needs to reset his password

[2022-10-06 12:25] comander192 commented on #4427
I would like to open this issue again.

Since Rocketchat 5.x this workaround with .emoji.big doesnt seem to be working anymore. We tried to make our custom emojis bigger today and nothing happens.

Please give us an option for that or another custom CSS to fix this. Most custom emojis are unrecognizable the way it is now as default.

[2022-10-06 13:56] gelpiu-developers commented on #26688
Hi... Any news?

[2022-10-06 14:08] dudanogueira commented on #27018
Hi! This is certainly not the place for this kind of support.

please, contact your system administrator to reset passwords in your Rocket.Chat.

Also, check this resources if you need community help:
https://docs.rocket.chat/getting-support/community-resources

[2022-10-06 14:08] #27018 closed

[2022-10-06 16:55] bobfh opened #27021 "Problem - than i trying del the file from chat windows"
### Description:

### Steps to reproduce:

1. Open chat windows
2. Click on clip
3. Click on del - and after check file is deleted or not

### Expected behavior:

Deleted file
### Actual behavior:

1)
![изображение](https://user-images.githubusercontent.com/88323396/194372786-1d9173ad-fd8f-43e7-a4a3-3fe25ffe2712.png)
2)
![изображение](https://user-images.githubusercontent.com/88323396/194372833-48

[2022-10-06 18:06] dudanogueira commented on #27021
Hi!

I have tested this on 4.8.6 and 5.2.0-rc.4 and it's working as expected.

Can you state your server version?

[2022-10-07 06:51] cn0xn opened #27028 "gray banner at the top of rocketchat window"
### Description:

- After the update rockechat to 5.1.1 new users have a gray banner at the top of the page which cannot be closed.

### Expected behavior:

- Normal top of window

### Actual behavior:

![Screenshot 2022-10-06 182315](https://user-images.githubusercontent.com/51883532/194484949-b1fd5883-7c41-4ef7-9224-2ed164fa4d03.png)

### Server Setup Information:

- Version of Rocket.Chat Serve

[2022-10-07 07:04] himpierre commented on #27021
I have that problem too with S3 storage for files. Pruning messages works for files too tho. There is a support ticket open for this. We are EE customers.
cheers, t.

[2022-10-07 08:22] DevTomilola-OS commented on #27028
I would like to work on this, kindly assign to me.

[2022-10-07 11:09] AkimoA commented on #26524
Same problem on Server with 5.1.4 same error log as well .

[2022-10-07 12:58] prasanthmurugasamy commented on #27028
I would like to try and work it on it., can you send me the existing top banner design ?

[2022-10-07 13:45] Julianoe commented on #1929
For me that's one good UX take on that issue 👍

[2022-10-07 13:48] dougfabris commented on #23934
@aakash-gitdev We already have a proper solution for the issue.
But we still do have a bunch of opened issues, feel free to help us and thank you 😄

[2022-10-07 19:40] nmella commented on #11344
Any update ?

[2022-10-07 20:14] dudanogueira commented on #18678
Hi, closing this as it's working in 5.2.0-rc4

If necessary, we can repoen this.

[2022-10-07 20:14] #18678 closed

[2022-10-07 20:18] leikoilja commented on #26947
I have been having the exact same issue, on version 5.1.4, @dudanogueira. The error message is not really helpful, any ideas where to look?

[2022-10-08 08:06] liv1n9 opened #27031 "Author name of quoted message is set to username instead of real name although "Use Real Name" is turned on"
### Description:
Author name of quoted message is still username instead of real name although "Use Real Name" setting is turned on

### Steps to reproduce:

1.  Setup new Rocket.Chat server
2.  Go to Settings > Layout > User Interfaces >  Turn on "Use Real Name"
3.  Create new user and group and join user to group. Send the first message in group and then quote this message

### Expected behavior

[2022-10-08 08:11] liv1n9 commented on #26996
Fixed here: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/4527
Also should update mobile app to new version

[2022-10-08 08:11] #26996 closed

[2022-10-08 08:58] liv1n9 commented on #27031
The last message stored in MongoDB:
[code]

[2022-10-08 10:52] Adityasaini10012001 commented on #27028
assign this to me

[2022-10-08 11:02] sshivam12 commented on #27028
I would like to work on this issue, kindly assign to me

[2022-10-08 17:07] ChrisJBurns commented on #2233
The best I've got is specifying the below in my Flux release for RocketChat

[code]

[2022-10-08 20:44] jacobgkau opened #27032 "Highlight markers between every word after upgrade to 5.x"
### Description:

In the web (+ desktop app) UI, every word has a `<mark class="highlight-text"></mark>` line between it, resulting in a mess:

![Screenshot_20221008_143906](https://user-images.githubusercontent.com/7199422/194727030-dc9d834a-33e4-4d7a-b455-228c4753b13a.png)

I don't see anything wrong when accessing via the mobile app, so I don't think the messages are actually malformed in the d

[2022-10-09 03:39] adityajangir commented on #24917
Hello @matthias4217 , Could you please assign this issue to me.

[2022-10-09 05:36] KulshresthJangid opened #27033 "Do rocketchat has functionality of showing that a message has been seen or delivered to the user?"

[2022-10-09 05:53] debdutdeb commented on #27033
Yes, we have read receipts https://docs.rocket.chat/guides/administration/admin-panel/settings/message

Closing since not a bug.

[2022-10-09 05:53] #27033 closed

[2022-10-09 06:09] debdutdeb commented on #27028
No need to assign, if anyone want to work on it, please go ahead.

[2022-10-09 11:42] matthias4217 commented on #24917
Hello, I am not a RocketChat maintainer. I cannot assign anyone to it, you're absolutely free to open a Pull Request to work on this issue !

[2022-10-09 20:27] huberte opened #27034 "3.18.7 - Custom Fields - DefaultValue not working"
### Description:

### Steps to reproduce:

1.

Account --> Register --> Custom Fields

Add the page example :

`{ "role": { "type": "select", "defaultValue": "student", "options": ["teacher", "student"], "required": true, "modifyRecordField": { "array": true, "field": "roles" } }, "twitter": { "type": "text", "required": true, "minLength": 2, "maxLength": 10 } }`

### Expected behavior:

See stude

[2022-10-10 06:26] ivan-perl commented on #26947
+1 Having this issue with 5.0.3 created from most recent official docker image. I do not see 5.1.3 available on  docker hub here:
https://hub.docker.com/_/rocket-chat
Site says that 5.0.3 was released there 5 days ago. When it is planned to roll out 5.1.3 as an official image?

[2022-10-10 06:52] Avsynthe commented on #26947
Hey all. Sorry I've been busy but I did end up having that chat with @dudanogueira. Great guy btw!

The solution was to use the docker compose stack that installs rocket.chat and mongodb together. If you're on unRAID like me, you'll need to look at getting Docker Compose enabled first, yes it's a thing and it works great.

For everyone else, here is the compose file:

`volumes:
  mongodb_data: { d

[2022-10-10 09:45] fxmanu commented on #27014
I'm having the exact same issue.

[2022-10-10 10:49] kuemmi commented on #26800
Yes, all backslashes are getting removed, see also: #26907

[2022-10-10 10:57] mrsimpson opened #27036 "Typing indicator translation flawed"
### Description:

The information about a user typing is passed as text below the message box [(-> Code)](https://github.com/RocketChat/Rocket.Chat/blob/0da143cd1359d5dcd19f5d62df9e27506e2475a2/app/ui-message/client/messageBox/userActionIndicator.html)

However, due to the way it's implemented, the translation is not easily possible: Earlier, there were dedicated texts for each activity, which eve

[2022-10-10 11:09] mrsimpson commented on #27036
Workaround: A custom translation
[code]

[2022-10-10 14:40] pacospace opened #27039 "Question: is there a way to export settings/configuration from the UI?"
HI all,

I hope is ok to ask questions here. If not, apologies in advance.

My question is in the title.

Thanks!

[2022-10-10 17:00] tidusete opened #27041 "API Role Create Random '_id' Inconsistency"
### Description:

When we are creating a new role calling `/api/v1/roles.create` the `_id` that returns is a random number and is not the same as the name like it used to be on old rocketchat versions 3.xx and 4.xx.
Also on the documentation `_id` and `name` are the same.
https://developer.rocket.chat/reference/api/rest-api/endpoints/core-endpoints/roles-endpoints/create

### Steps to reproduce:

[2022-10-10 17:41] Labevue commented on #24444
Hello,

It's not working with
![image](https://user-images.githubusercontent.com/49780995/194923770-f2cd2eee-87d7-44b0-a7cf-bbdc9824dfeb.png)

And the mail is :
`<h2>Bienvenue dans [Site_Name]</h2>
<p>Suivez ce lien pour vous inscrire : </p>
<p>[Site_URL]/register/[secret_hash]</span></p>
<a class="btn" href="[Site_URL]">Connexion</a>

Help please

`

[2022-10-10 17:51] Labevue commented on #24444
Hello,

It's not working with :
![image](https://user-images.githubusercontent.com/49780995/194925276-8fa17f16-73af-4692-a7ac-4bba7b0c50e0.png)

Register settings :
![image](https://user-images.githubusercontent.com/49780995/194925388-4f414e7c-f552-4974-a295-8e21dbe5c54a.png)

Mail template :
![image](https://user-images.githubusercontent.com/49780995/194925469-3d6a31d6-d215-4d60-9603-3036001942ce

[2022-10-10 17:54] dudanogueira commented on #27039
Hi!

You can both export the settings and set them by using Rocket.Chat's REST APIs:
https://developer.rocket.chat/reference/api/rest-api/endpoints/core-endpoints/settings-endpoints

Here is the place to point issues at Rocket.Chat platform

If you want to ask questions (and help us answer them, hehehe), or help as [beta tester](https://open.rocket.chat/channel/beta-testers) there are other places

[2022-10-10 19:33] paulchen commented on #27036
There is already an issue for this problem: https://github.com/RocketChat/Rocket.Chat/issues/23593

There is also work ongoing in order to fix it: https://github.com/RocketChat/Rocket.Chat/pull/27004

[2022-10-10 19:35] paulchen commented on #26907
@toomaslepik please see https://github.com/RocketChat/Rocket.Chat/issues/26799 for the problem regarding missing colons in timestamps

[2022-10-10 19:45] mrsimpson commented on #27036
Thanks for the heads up, @paulchen
Closing in favor of #23593

[2022-10-10 19:45] #27036 closed

[2022-10-10 21:16] imedia3 commented on #23569
Same problem, 4.8, 5.0, 5.0.4, 5.1.4, 5.2rc4, with all these versions we have the same issue.

1) When logging in via SAML, Rocketchat loads blank screen, after refreshing the page (F5) - everything renders.
2) If you log in via standard login form - the page renders with first load.
3) No specific logs in Keycloak or Rocketchat.
4) Google Chrome console logs:
![image](https://user-images.githubus

[2022-10-10 21:49] dudanogueira commented on #27034
Hi, thanks for pointing out!

I just tested this on latest candidate 5.2.0-rc.6 and it works as expected.

3.X will only receive security patches. In fact, it already reached the end of life, according to here:
https://docs.rocket.chat/getting-support/enterprise-support

You should consider upgrading.

[2022-10-10 21:49] #27034 closed

[2022-10-10 21:58] dudanogueira commented on #27032
Hi! Thanks for pointing it out.

I was not able to reproduce this on docker =\

I tried, however, to set a space as a highlighted text, but also I was not able. Setting this option to something like
`this, ,test`

will render it as
[code]
after saving

can you check what you have configured as your highlight config? also, can you try changing it and see if the issue go away? Maybe some migration a

[2022-10-10 22:01] dudanogueira commented on #27031
I can confirm. Tested with old parser and new parser.

[2022-10-10 22:03] dudanogueira commented on #27031
Added it to Message Parser project, but not sure if it's rendering, ans the attachment has 22000086 as a value for author_name
:thinking:

[2022-10-11 04:03] thrakks commented on #26505
I still sporadically have this issue:
Running RC (5.1.2) as a docker container that connects out to MongoDB running locally on the host system.

![image](https://user-images.githubusercontent.com/7259522/194994279-8273cc06-4df7-4bf5-b0f6-91996e3d2cb3.png)

Perhaps abit of an unorthodox install but works well except for this bug. Current only workaround is to restart the docker container daily.

An

[2022-10-11 06:17] #26943 closed

[2022-10-11 06:34] pacospace commented on #27039
Thanks a lot @dudanogueira! I will join there then for more questions (and hopefully answers :D)

[2022-10-11 07:26] victorcassel commented on #25800
Should mention that this happened in a remote desktop session...

I found a solution myself: to move the taskbar from bottom to right side, then the rocket window got enough space to display the standard  window size buttons on the far top right.
Victor

Hämta Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: ankar84 ***@***.***>
Sent: Wednesday, June 8, 2022 8:56:

[2022-10-11 08:23] PedroChimenes commented on #25236
Acontece na versão desktop.

É a última versão. Não sei onde consigo visualizar a versão. Mas já identifiquei que hoje a situação foi normalizada.

Obrigado!

Pedro Henrique Santos Chimenes

Relacionamento com Cliente

Telefone: (27) 3767-4047 | Ramal: 4902 | WhatsApp: (27) 99959-7830

De: Duda Nogueira ***@***.***>
Enviada em: quarta-feira, 20 de abril de 2022 09:11
Para: RocketChat/Rocket.Chat *

[2022-10-11 12:49] pouyadarabi commented on #26499
Thanks to @isaacvonaaron

I created an optimized way using Mutation Observer

Custom Script:

[code]
This will set `dir=auto` for messages and input box.

----

If you want to keep messages in left and just fixing RTL issue, add this

Custom CSS:

[code]

[2022-10-11 14:21] KellyR55 opened #27049 "Reported Messages Retrieval"

[2022-10-11 14:29] d3hof commented on #21439
up

[2022-10-11 17:51] yatounoneko commented on #26500
yes... 4.30 audio is fixed but video problem persist.

![IMG-20220928-WA0000](https://user-images.githubusercontent.com/22129910/192661042-6f284eb3-5511-4a56-86ca-446d4e39ce48.jpg)

[2022-10-11 19:47] molaeiali commented on #26499
Same issue on 3.8.12 on Linux

I think this and https://github.com/RocketChat/Rocket.Chat/issues/26857 are issues related to https://github.com/RocketChat/Rocket.Chat.Electron project though, will open an issue there, mentioning these issues here

[2022-10-11 20:07] jeanfbrito commented on #26499
Just to tell you that this is a server issue and not an Electron one, that's why I closed the issue there. Ok?
We are aware of this already @debdutdeb ?

[2022-10-12 05:47] jacobgkau commented on #27032
I found the setting you were talking about (user-level setting in My Account -> Preferences):
![image](https://user-images.githubusercontent.com/7199422/195259941-a9a23d58-525b-42dd-98cc-b851556e458b.png)
Above is what I had configured before (there was nothing in the box, as I'd never configured anything.) I tried setting the option to "test" and saved, and the issue went away. I then removed eve

[2022-10-12 09:01] norimakiHKS commented on #19454
Hi.

This issue is now reproduced in my environment.
・Rocket Chat ver5.1.4

Anyone have a solution for this symptom?

[2022-10-12 09:05] photoninger opened #27057 "add user by invite link to team is broken"
### Description:

If I add users by invite link to a team:
1. They don't autojoin in team channels which are marked with "autojoin"
2. They cannot see the public channels of the team in "Team Channels"
3. They are only member of the team itself
4. The team owner cannot remove them: error not a member
5. After adding the user via "add member" it can be removed again by the team owner

### Steps to

[2022-10-12 10:10] cschockaert commented on #21013
hello @rodrigok could that be related to the changestream usage?

[2022-10-12 11:56] cschockaert commented on #21013
FYI tested with IGNORE_CHANGE_STREAM : true
it's doesnt work after a primary re-election.

Then tested with USE_NATIVE_OPLOG (meteor oplog) and... it seems that its working fine after a re election messages are not grayed.

So it appears that changestream implementation and custom oplog implementation are not taking in count a topology change in the mongodb replicatset (master re election for exam

[2022-10-12 11:56] cschockaert commented on #21764
Hello, after some tests detailled here https://github.com/RocketChat/Rocket.Chat/issues/21013 i got the same results

[2022-10-12 12:12] cschockaert commented on #19905
Hello @dkoo761 you talked about adding readPreference=primaryPreferred on your oplog uri + keep changestream mode. Does that help with mongo altas?

[2022-10-12 12:49] arpsyapathy opened #27058 "Incorrect display name showing when open PM with user"
Hi!

Incorrect display name showing when open PM with user.
In card user have normal display name and in DB. But in PM and in search incorrect.
What it is? Cache on server? Help me please

Thank you advanced

[2022-10-12 16:43] lestercoyoyjr commented on #26815
Hi @mmattel can you add a "/" at the end of the url? That should work. See example:

[User GDPR Requests](https://doc.owncloud.com/server/next/admin_manual/configuration/user/user_management.html#user-gdpr-requests/)

[2022-10-12 16:50] lestercoyoyjr commented on #26661
Hi @engelgabriel @xmedeko @rmaksimov @mmattel @xoxys when you have an anchor, proceed with this:

This doesn't work
[test](https://www.profootballrumors.com/2022/08/cowboys-lt-tyron-smith-tears-hamstring#comments)

but if you add slash '/' at the end it will work:
[test](https://www.profootballrumors.com/2022/08/cowboys-lt-tyron-smith-tears-hamstring#comments/)

now with the ';' issue, this stills

[2022-10-13 06:06] Feuermurmel commented on #25399
I'm not going to try to prevent this issue from being closed anymore after this. The Rocket.Chat native UI feels finicky and buggy. I'm trying to help improve things one step at a time here.

But having to fight with a bot instead of getting a definitive response from a human makes means I'm wasting my time. It would feel much better if someone came along here and said e.g. "No, we're not going wo

[2022-10-13 06:58] jeanfbrito commented on #25399
Update the server to a newer version to see if this is fixed. It doesn't happens to me on open.rocket.chat.
You can always open a pull request with the fix to help improve.

[2022-10-13 08:09] d3hof commented on #20925
Still broken with imap on 4.8.6 and works with pop thanks to @nonno-cicala for the tip.

[2022-10-13 09:19] d3hof commented on #23590
up

[2022-10-13 09:45] mikesrus commented on #25600
for me workaround is replace user agent on nginx reverse proxy for users

[2022-10-13 12:09] IKrendelev commented on #25600
Ugly, bad and generally non-recommended, but 100%-guaranteed workaround about Yandex.Browser:
![image](https://user-images.githubusercontent.com/103184392/195592261-c4ff5f0f-4b7e-43ea-bca9-6c8ba93515b5.png)

[2022-10-13 12:50] dudanogueira commented on #26741
Hi! Thanks for pointing out. Another user also pointed it here:
https://forums.rocket.chat/t/various-settings-not-saved-after-rc-server-upgrade/15075/17

i will raise awareness internally. THanks!

[2022-10-13 12:51] dudanogueira commented on #26967
Thanks for pointing out the issue **AND** sending the PR
:heart:

[2022-10-13 13:42] hugocostadev commented on #9708
The new message-parser already supports other protocols

[2022-10-13 13:42] #9708 closed

[2022-10-13 13:42] hugocostadev commented on #26889
It was already fixed and there is already a Release Candidate. Soon we will be released the official Release.

[2022-10-13 13:42] #26889 closed

[2022-10-13 13:44] hugocostadev commented on #26799
It was already fixed and there is already a Release Candidate. Soon we will be released the official Release.

[2022-10-13 13:44] #26799 closed

[2022-10-13 13:45] #23020 closed

[2022-10-13 13:45] hugocostadev commented on #26771
It was already fixed and there is already a Release Candidate. Soon we will be released the official Release.

[2022-10-13 13:45] #26771 closed

[2022-10-13 13:50] hugocostadev commented on #26469
It was already fixed and there is already a Release Candidate. Soon we will be released the official Release.

[2022-10-13 13:50] #26469 closed

[2022-10-13 13:52] hugocostadev commented on #18747
It was already fixed

[2022-10-13 13:52] #18747 closed

[2022-10-13 13:58] hugocostadev commented on #22280
The most important issues mentioned here were already fixed in the past releases, because of this I'm closing this issue.

If you find any other issues, please, create a separate issue to make it easier to track. Thank you so much!

[2022-10-13 13:58] #22280 closed

[2022-10-13 13:59] hugocostadev commented on #20268
It was already fixed and there is already a Release Candidate. Soon we will be released the official Release.

[2022-10-13 13:59] #20268 closed

[2022-10-13 14:06] mmattel commented on #26815
You should close when the release is published and not when the release is somewhere on the road - or you link to the PR that fixes the issue... How else can we track?

[2022-10-13 15:57] hugocostadev commented on #22280
That issue it's fixed too, the new message parser is protocol agnostic :)

[2022-10-13 16:56] kartikbh6614 commented on #26980
firstly create an emojis you want ADD then edit to them with help of typescript then get to server and add to them emojis or single symbol list

[2022-10-13 18:09] dudanogueira commented on #27058
Hi! You will need to explain it better, also stating some settings you might have changed.

And follow the Issue template :)

Please, before opening an issue, read thru
https://docs.rocket.chat/getting-support/community-resources

Tks!

[2022-10-13 18:09] #27058 closed

[2022-10-13 18:11] dudanogueira commented on #27057
Hi! Thanks for pointing it out.

Are you able to reproduce this on latest 5.X version?

A lot has changed since 4.X due the refactoring, so this may be fixed already.

If you want help on testing on later environments, or want to help tests, we hang out here: https://open.rocket.chat/channel/beta-testers

[2022-10-13 18:22] dudanogueira commented on #27041
Interesting. I also noticed this as kind of a "hidden" feature.

This behavior is still true in 5.X for [department registration](https://developer.rocket.chat/reference/api/rest-api/endpoints/omnichannel/omnichannel-endpoints/department/register-a-new-department) as well as for [messages](https://developer.rocket.chat/reference/api/rest-api/endpoints/core-endpoints/chat-endpoints/postmessage), fo

[2022-10-13 23:26] fuminori-ido-m opened #27064 "migration v254 warns: Error creating index: users -> { bio: 1 } { unique: 1 } MongoError: E11000 duplicate key error collection: rocketchat.users index: bio_1 dup key: { bio: null }"
### Description:

migration v254 warns  'users.bio' uniqueness validation error as follows:

This happens at the following fragment of apps/meteor/server/startup/migrations/v254.ts :

`Users.tryEnsureIndex({ bio: 1 }, { unique: 1 });`

What 'warn' means here is that index creation is failed while the error is ignored (by **try**EnsureIndex).

### Steps to reproduce:

1. prepare rocketchat < v4.4.1

[2022-10-14 00:39] ankar84 commented on #22280
Guess you didn't get the main point of that issue. Please read that actual whole issue to get it.

[2022-10-14 00:44] hugocostadev commented on #22280
Sorry, I didn't realized that the path didn't have the URI structure.

Could you open a separated issue for that please? Appreciate it.

I'll bring this issue internally and see if we can support it.

[2022-10-14 01:02] ankar84 commented on #22280
Sure! I will do it today, and leave here a link.
Thank you!!

[2022-10-14 01:16] ankar84 opened #27065 "Markdown Support Schemes for Link option doesn't work with new parser template"
### Description:

Markdown Support Schemes for Link option works perfect with legacy parser template, but not work with new message parser.

### Steps to reproduce:

1. Go to Admin UI - Message - Markdown Support Schemes for Link and add `notes` scheme protocol.
2. Write in any chat this line `[notes link](notes://Server/C3257116002CAD60/0/CCAF6BE2824A1F49432588D2001FA73E)`
3. With legacy message

[2022-10-14 01:17] ankar84 commented on #22280
Here it is @hugocostadev
https://github.com/RocketChat/Rocket.Chat/issues/27065
I eill add some details in a few hours.

[2022-10-14 01:51] xcpdq opened #27066 "5.2.0 Upgrade not working on docker"
Just tried to upgrade to 5.2.0 and I'm getting this error:

[code]

[2022-10-14 06:58] Gummikavalier commented on #24894
My last test with 5.1.3 I was able to set the retention time from global 30 days to 3 days on a specific channel only by turning the global retention time off. Then the setting gets saved on the channel. But after turning the global retention time back on, the channel specific retention time is not respected and any messages linger there all that 30 days.

[2022-10-14 07:05] xmedeko commented on #26815
@hugocostadev @mmattel  I think it sufficient to write the release exact number e.g. 5.2.0 and everybody may check if it has been released or not. It's useful e.g. when a release is delayed.

[2022-10-14 07:44] debdutdeb commented on #27066
Should be available now :)

[2022-10-14 07:44] #27066 closed

[2022-10-14 08:22] photoninger commented on #27057
I tested with the new 5.2.0 release. Issue is gone. 😄

[2022-10-14 08:22] #27057 closed

[2022-10-14 08:25] d3hof commented on #26314
Up

[2022-10-14 10:34] hugocostadev commented on #26815
Sorry, the release is the 5.2: https://github.com/RocketChat/Rocket.Chat/releases/tag/5.2.0

[2022-10-14 11:26] Alexey-I commented on #26538
5.1.4, the problem is still there and we are quite used to it. I miss this feature very much.

[2022-10-14 14:03] drewch34 commented on #26741
@dudanogueira  - Howdy - I wouldn't mind working on this issue if it hasn't been assigned. :)

[2022-10-14 17:35] #26681 closed

[2022-10-14 18:24] ShaunR opened #27071 "Repeated backslashes missing"
When you write repeated backslashes only the first is shown and the rest removed.  This happens in both a channel and direct chat. View screenshot below for example of the problem.

Version
5.2.0-rc.6

Apps Engine Version
1.35.0-alpha.46

![image](https://user-images.githubusercontent.com/1671445/195915354-05bfa3a0-73ad-470f-a7cc-2d9792eb48e1.png)

[2022-10-14 18:25] ShaunR commented on #27071
When you edit the message the slashes show up so they are being stored, they appear to removed during the display process.

[2022-10-14 18:40] paulchen opened #27073 "Microphone icon misaligned on mobile devices"
### Description:

Apparently, in Rocket.Chat 5.2.0 the microphone icon for recording voice messages was moved around. If the screen width is smaller than a certain threshold, it now seems to be misaligned.

### Steps to reproduce:

On a mobile device:

1. Open Rocket.Chat on a mobile device.
2. Look at the input area for composing messages.

In a desktop browser:

1. Open Rocket.Chat.
2. Enable th

[2022-10-14 18:45] paulchen commented on #27071
I guess this is the same problem as reported in https://github.com/RocketChat/Rocket.Chat/issues/26907. Also, https://github.com/RocketChat/Rocket.Chat/issues/26800 is presumably a symptom of the very same problem.

[2022-10-14 19:03] ShaunR commented on #27071
Just upgraded from 5.2.0-rc.6 to 5.2.0 and the issue looks to be fixed.

[2022-10-14 19:04] ShaunR commented on #27071
Sorry, issue is not fixed in 5.2.0

[2022-10-14 21:51] ziorufus opened #27077 "Send notify.ephemeralMessage via API"
Is it possible to send a notification message to a user in a channel using the API?
What I need to do is to send a message to a particular user in a particular channel, so that only that user can see that message. Looking at the code, it seems that `notify.ephemeralMessage` does this, but the API (`/api/v1/notify.ephemeralMessage`) seems not to exist.

[2022-10-15 07:44] rasos commented on #23287
Since RC 3.13, retrieving direct replies via IMAP(S) is broken (we've tested on several instances without success). However POP3 with TLS on port 995 is working fine. See https://github.com/RocketChat/Rocket.Chat/issues/20925

[2022-10-15 13:08] paulchen opened #27078 "Links to www.n-tv.de not clickable"
### Description:

The link https://www.n-tv.de/ is not clickable when being part of a message. However, a link preview is generated which can be clicked.

This seems to happen with all URLs that match `\.[a-z]\-`.

### Steps to reproduce:

1. Write a message containing https://www.n-tv.de/.
2. Desperately click on the non-clickable link.

### Expected behavior:

The link is clickable.

### Actual

[2022-10-15 23:25] dotty37 opened #27079 "cannot update with rocketchatctl update"
### Description:

I have an AWS EC2 instance originally deployed with AMI Marketplace official Rocket image.
Ive alway use rocketchatctl update to update to the latest Rocket.chat.
Im on 5.1.4 and Im trying to update to 5.2.0 and I get:

myip:~$ sudo rocketchatctl update
Updates could be risky, you can use the backup option # rocketchatctl backup, to create a backup of the rocketchat database firs

[2022-10-16 09:04] georgemaschke commented on #27079
I am experiencing the same problem on my Rocket.Chat installation installed via [the official DigitalOcean marketplace package](https://marketplace.digitalocean.com/apps/rocket-chat).

[2022-10-16 09:55] debdutdeb commented on #27079
Please try updating the script to the latest found in RocketChat/install.sh repository.

[2022-10-16 09:56] krenuser opened #27081 "Administration > Workspace is visible for usual users"
### Description:

`Administration > Workspace` menu item is visible and available for usual users, though contents of this page are not loading:

![image](https://user-images.githubusercontent.com/32645945/196028762-99611686-b767-4af4-867c-f113b84b238f.png)

### Steps to reproduce:

1. Login as usual user on RC 5.2.0
2. Open `Administration > Workspace` menu item

### Expected behavior:

Neither `

[2022-10-16 10:13] georgemaschke commented on #27079
How does one do that? I executed the bash command [here](https://github.com/RocketChat/install.sh), but it simply states "You already have rocketchatctl installed, use rocketchatctl to manage your RocketChat installation.
Run rocketchatctl help for more info."

[2022-10-16 13:03] dotty37 commented on #27079
Same here.

[2022-10-16 22:26] kjordan2001 commented on #26903
Also, as a note for anyone with an already initialized rs, it didn't work for me no matter what I tried with any 5 version until I removed replicaSet=rs01 from my URL.

[2022-10-17 06:20] Gummikavalier commented on #24417
Confirmed working in RC 5.2.0.

[2022-10-17 07:20] dkatsariotis commented on #26505
Hi, any update to this issue?

Rocket 5.2.0 with RepSet using 2 Mongo nodes (5.0.12) doesn't work either.

[2022-10-17 12:31] dudanogueira commented on #27078
Hi! We had some discussion about this at this thread:

https://forums.rocket.chat/t/message-quote-issue/15115/6

[2022-10-17 14:25] IKrendelev commented on #27081
![image](https://user-images.githubusercontent.com/103184392/196198722-e8f01d9f-178d-40dd-a320-8f5f58b7130f.png)
Found out that this behavior was caused by "Omnichannel settings" menu availability, due to `livechat-manager` role that user actually has. This item makes [ ⁞ ] ("Administration") button visible along with "Workspace" item (that shouldn't be visible).

[2022-10-17 14:53] matthias4217 commented on #23437
I can use the proper (but not intuitive) way in `4.8.6` on my instance. As I've never used this feature before, I don't know how long it's been fixed.

Not directly related to this, but the Owner of a room displayed in Administration > Rooms is not the same (and can even be deactivated member), and this is confusing. I suppose what I see in Rooms is the creator of the room ?

[2022-10-17 17:00] dudanogueira commented on #27071
Closing in favor of https://github.com/RocketChat/Rocket.Chat/issues/26907

[2022-10-17 17:00] #27071 closed

[2022-10-17 18:26] VasuDevrani commented on #27073
Is anyone working on this issue?

[2022-10-17 19:33] Kieranwest opened #27085 "First time login hang using OAuth SSO Provider"
### Description:

Logging in for the first time as SSO user causes a hang with just the 3 dot animation until webpage refresh where the page will load correctly each time after.
Very similar behavior to what was described here: https://github.com/RocketChat/Rocket.Chat/issues/18652

### Steps to reproduce:

Azure SSO configured with OAuth2.
First time login with SSO user.

### Expected behavior:

[2022-10-17 20:10] dotty37 commented on #27079
Any news about this?

[2022-10-18 04:41] mercy-thuyle commented on #27014
Hello @fuminori-ido-m  @fxmanu
I have the same too, did you solved it?

[2022-10-18 05:58] fxmanu commented on #27014
@mercy-thuyle as the author of this issue stated, the workaround is, to disabled LDAP, etc...

For me, disabling LDAP, updating and reenabling worked.

[2022-10-18 06:41] georgemaschke commented on #27079
User Upendra on the Rocket.Chat #support channel says they had the same problem and suggests running the following code (which I have not yet done):

`export NVM_DIR=~/.nvm
. .nvm/nvm.sh`

Upendra includes the following message thread as a reference:

https://stackoverflow.com/questions/23747242/getting-mkdir-cannot-create-directory-while-installing-using-nvm-node-js

[2022-10-18 07:07] MrTw1s7er opened #27090 "This Workspace has Expired"
### Description:

<Hello, bug This Workspace has Expired. We use this space , Our url - vetfriendswork. what should we do?>

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version

[2022-10-18 07:37] fuminori-ido-m commented on #27014
Hi @mercy-thuyle,   yes, as @fxmanu saied above, and I also mention the workaround at my first post, the following is the workaround:

1. disabling all of LDAP, SAML, and CustomOauth
2. update rocketchat
3. enable them again

(I hope some update of the migration document for this issue).

[2022-10-18 09:08] krenuser commented on #27081
No, I haven't set up fully functional dev environment for that yet.
Maybe, I can take some of my future bug reports.

[2022-10-18 10:36] dirksan28 commented on #1442
After reading this thread - I guess there is still no such feature implemented right now... right?

[2022-10-18 11:19] nishant23122000 commented on #27081
ok, can I work on that?

[2022-10-18 11:51] debdutdeb commented on #27079
Hi!

You can update the script by running `sudo curl -O $(which rocketchatctl) https://raw.githubusercontent.com/RocketChat/install.sh/master/rocketchatctl`

Please let me know if the updated script fixes the issue or not.

Thanks!

[2022-10-18 12:25] dotty37 commented on #27079
sudo curl -O $(which rocketchatctl)
curl: (3) URL using bad/illegal format or missing URL

Does not work either

On Tue, Oct 18, 2022 at 7:51 AM Debdut Chakraborty ***@***.***>
wrote:

[2022-10-18 12:26] dotty37 commented on #27079
Sorry, forgot to include the URL.
But didnt work either,, I just see the contents of the script scrolling.

On Tue, Oct 18, 2022 at 8:25 AM Manny Mora ***@***.***> wrote:

[2022-10-18 12:27] debdutdeb commented on #27079
Sorry, wdym?

[2022-10-18 12:49] #23630 closed

[2022-10-18 13:56] calebjacobson commented on #26605
This error is still occurring in our system. Our only recourse now is to catch this error and retry once. That way the second try will use the room already created. This is not a great solution since err-not-allowed can notify of more than this error. Have you found any solution yet?

[2022-10-18 16:50] milton-rucks commented on #23080
Fixed

[2022-10-18 18:09] dudanogueira commented on #26723
@vorbrodt and @sandeep13122002, thanks for the interest!!

Please, instead of asking if there is anyone already working on the issue, you can go ahead and fix it.

If you have any doubts about how to achieve that, you ask at https://open.rocket.chat/channel/hacktoberfest

Thanks!

[2022-10-18 18:18] dudanogueira commented on #25300
Closing this issue, if needed, please, reopen :)

[2022-10-18 18:18] #25300 closed

[2022-10-18 18:20] dudanogueira commented on #24146
closing, if needed, please, repoen :)

[2022-10-18 18:20] #24146 closed

[2022-10-18 22:06] vedant-z commented on #27073
Hey @paulchen May I try this ?

[2022-10-18 22:12] paulchen commented on #27073
@vedant-z I'm not affiliated with Rocket.Chat, so I'm not in the position to make any decisions about who may work on which issue. I'm just running an instance of Rocket.Chat. In case I stumble upon something that doesn't look right, I create an issue on GitHub.

[2022-10-19 07:11] djonrid opened #27097 "The background bug"
In night mode, the background of forwarded messages is white (previously it was black)
RocketChart Version 3.8.12
OS Windows 11

[2022-10-19 09:43] ldm0330 opened #27098 "About 5.2.0 VideoConference Messages UI"
I have updated it. About 5.2.0 VideoConference Messages UI is the same as before in 5.2.0. Do you need to configure it?

[2022-10-19 09:55] thompsonataccso opened #27099 "Translations with DeepL - Causing issues"
![image](https://user-images.githubusercontent.com/109274105/196659529-3d203e44-3b07-467f-8182-73cd41a05229.png)

[2022-10-19 13:39] x-mentat opened #27101 "Possibility to restrict/decrease TOTP lengh - cureent 52"
Hi, there

### Description:

We want to use NFC programming tokens - max 32 chars. But current setting seems to be 52 (hardcoded)
### Steps to reproduce:

1. user setting
2. enable 2FA

### Expected behavior:

Expected TOTP created

### Actual behavior:
Created TOTP with 52 chars
### Additional context
We tried to change code in program/server/app/app.js to something like speakeasy.generateSecret(

[2022-10-19 14:15] #26838 closed

[2022-10-19 16:02] nmagedman commented on #26920
I’ve looked through `$ git diff 4.8.4..5.1.2` and could not find why these messages are no longer filtered out of the event stream.  Some leads on relevant files:

* apps/meteor/app/ui/client/views/app/lib/roomHelpers.ts
[code]
* apps/meteor/app/lib/server/lib/getHiddenSystemMessages.ts
  * Defines `getHiddenSystemMessages` (misnomered) : returns the _types_ that should be hidden
  * if `room.sysM

[2022-10-19 17:01] engelgabriel commented on #27102
@ggazzo can we do that with the new message parser?

[2022-10-19 19:33] #27098 closed

[2022-10-19 19:35] dudanogueira commented on #27097
Hi, please, fill the Issue template.

Here a guide on how to better use our Community Resources:
https://docs.rocket.chat/getting-support/community-resources

1 - 3.8.12 is a really old version
2 - We do not have a dark mode as of now
3 - You can probably change all that using CSS in ADMIN > Layout > Custom CSS

Thanks!

[2022-10-19 19:35] #27097 closed

[2022-10-19 20:13] borysmarceloherrera commented on #26505
Hello folks!

For those who are trying to solve this I successfully resolved this issue by adding the following roles do my user that connects to MongoDB external intance

Create a user called oploguser with rights on local oplog database:
db.createUser({user: "oploguser", pwd: "password", roles: [{role: "read", db: "local"}, {role: "clusterMonitor", db: "admin"}]}).

Create rocket user to authent

[2022-10-20 04:07] Simplici opened #27108 "is there a way to customize the content of offline message emails?"
Hello,

from the [documentation](https://docs.rocket.chat/guides/administration/admin-panel/settings/email/editing-emails-content#offline-message), I know that we can customize the subject and body of many emails. But strangely, it is not possible to customize the body of the offline message email.

i integrate rocketchat in an iframe of my application, so I want to replace the default link in ema

[2022-10-20 05:17] dkatsariotis commented on #26505
Greetings,

Already tried what you suggested and nothing changed

[2022-10-20 09:40] finaldzn commented on #26505
The solution given by @borysmarceloherrera worked, we had a problem with the configuration for the mongodb url, adding the right users with the good role fixed the issue

[2022-10-20 10:19] dkatsariotis commented on #26505
Can you provide the exact steps you took and the correct urls that work for you?

[2022-10-20 10:23] finaldzn commented on #26505
I followed the link
https://docs.rocket.chat/quick-start/deploying-rocket.chat/rapid-deployment-methods/docker-and-docker-compose/docker-containers/high-availability-install#install-mongodb-replicaset

1. I created new users with the appropriate roles on the admin database
2. I updated my mongodburl with the apprioriate users for oplog and regular database

[code]

Because I don't have any replica

[2022-10-20 10:32] dkatsariotis commented on #26505
This is the exact config i have. Problem with message update still there. Messages are being send, but no indicators or message display under user avatar until refresh with Ctrl+R

MONGO_URL = mongodb://rocket:password@rocketchat-db:27017,rocketchat-db-node2:27017/rocketchat?authSource=admin&replicaSet=rs0&w=majority

MONGO_OPLOG_URL = mongodb://oploguser:password@rocketchat-db:27017,rocketchat-db

[2022-10-20 10:57] ankar84 commented on #27102
@engelgabriel @ggazzo it definitely make sense!! All that issue with many comments and reactions a good illustration of fact, community need that important improvement a lot!

[2022-10-20 11:25] borysmarceloherrera commented on #26505
Please, provide the full log after connecting to your database

rs.status()

The replicaSet name is given by the tag

  set: '<replica set name>',

So, in your case, you must change replicaSet=rs0 to the same value of "set" tag.

MONGO_URL = mongodb://rocket:password@rocketchat-db:27017,rocketchat-db-node2:27017/rocketchat?authSource=admin&replicaSet=<replica set name>&w=majority

MONGO_OPLOG_URL

[2022-10-20 11:27] dkatsariotis commented on #26505
Replica set is correct.

rs.status() returns:

"set" : "rs0"

[2022-10-20 11:31] borysmarceloherrera commented on #26505
Please provide Server Info under: Administration > Workspace > Information

In my case:

Versão
5.2.0
ID da Implantação
cdfsfdsfsd332432
Versão do mecanismo de aplicativos
1.35.0
Versão do nó
v14.19.3
Migração do banco de dados
281 (19 de Outubro de 2022 às 22:44)
MongoDB
5.0.13 / wiredTiger (oplog Ativado)
Detalhes do Commit
HEAD: (08f03cc9d)
Branch: HEAD
PID
43

[2022-10-20 11:32] dkatsariotis commented on #26505
Version
5.2.0
Deployment ID
***hidden***
Apps Engine Version
1.35.0
Node Version
v14.19.3
Database Migration
281 (Οκτώβριος 20, 2022 13:42)
MongoDB
5.0.0 / wiredTiger (oplog Enabled)
Commit Details
HEAD: (08f03cc9d)
Branch: HEAD
PID
1

I had mongo 5.0.13 as you but changed it a few mins ago to see if it has something to do with my issue

[2022-10-20 11:38] borysmarceloherrera commented on #26505
Please, try the following URL format

export MONGO_URL = mongodb+srv://rocket:password@rocketchat-db:27017/rocketchat?replicaSet=rs0
export MONGO_OPLOG_URL = mongodb+srv://oploguser:password@rocketchat-db:27017/local?replicaSet=rs0

[2022-10-20 11:48] dkatsariotis commented on #26505
__

Nothing changed. Same issue

[2022-10-20 11:49] finaldzn commented on #26505
@dkatsariotis  can you try without replicaSet=rs0 in your URL ?

[2022-10-20 11:51] dkatsariotis commented on #26505
Same

[2022-10-20 11:52] finaldzn commented on #26505
@dkatsariotis  i assumme you are indeed restarting the instance between each try?

[2022-10-20 11:53] dkatsariotis commented on #26505
Yeap, restarting MongoDB pod and then restarting Rocket pod

[2022-10-20 11:57] borysmarceloherrera commented on #26505
Another thing I did was DISABLING message reading confirmation, under: Administration > Configuration > Messages > Reading Confirmation

Try to disable and restart altogether again

[2022-10-20 12:02] dkatsariotis commented on #26505
Do not have such option. Administration > Settings > ......
I have Administration > Settings > Message > Show Read Receipts and Detailed Read Receipts allready disabled

[2022-10-20 12:27] borysmarceloherrera commented on #26505
Well, as a last tip, for MONGO_URL and MONGO_OPLOG_URL provides the same URL setting same user:

export MONGO_URL = mongodb+srv://rocket:password@rocketchat-db:27017/rocketchat?replicaSet=rs0
export MONGO_OPLOG_URL = mongodb+srv://rocket:password@rocketchat-db:27017/rocketchat?replicaSet=rs0

offcourse, user rocket should have permission to the local database and clusterMonitor

{role: "read", db:

[2022-10-20 13:56] abruening-iwt opened #27112 "Users logging in default to Offline/Invisible status"
### Description:

When a user logs into Rocket.Chat with a browser that does not have any cookies from a previous sign-in, their status is set to Offline (invisible).

### Steps to reproduce:

1. Log into Rocket.Chat and set your status to Online
2. Log back out
3. Clear cookies and offline data or open a new private session
4. Log into Rocket.Chat
5. User status will be set to Offline

### Expect

[2022-10-20 21:16] huberte commented on #27034
Hi, I did upgrade on 5.0.6

The problem still there. Do you really see the default entry ? I still see teacher on my side

[2022-10-21 01:36] cooljeanius commented on #24355
Downstream issue on the MacPorts Trac: https://trac.macports.org/ticket/65937

[2022-10-21 04:19] thrakks opened #27118 "5.2.0 Has erratic jittering behaviour as new messages appear"
### Description:

After updating to 5.2.0 the chat will jitter and bounce around as it erratic refreshes whilst new messages appear. (See attached GIFs for examples)

### Steps to reproduce:

1. Have a similar setup to me?
2. Update to 5.2.0
3. Post messages in a chat channel or direct to a person

### Expected behavior:

Messages appear without the erratic jittering bouncing around behavior

![rc

[2022-10-21 05:30] dkatsariotis commented on #26505
Greetings,

Sorry for the dealy. Tried, nothing changed.

[2022-10-21 07:37] dkatsariotis commented on #26505
I also deployed a brand new installation or MongoDB and Rocketchat with empty db and check to see if problem is there. Well, the problem remains to new isntallation also.

[2022-10-21 07:41] IKrendelev commented on #27118
I've noticed that since 5.2.0 some chats are opened at the middle of chat history and continue loading and jittering at the same time. Don't know if it's possible to provide any debug info on this issue...

[2022-10-21 09:28] matthias4217 commented on #23437
Oh, it seems I was wrong. Only five channels appear in the search, some public, some private, but the rest isn't there.

[2022-10-21 11:53] jeanfbrito commented on #14146
@tassoevan just found this and tested. It's working. Could we close the issue?

[2022-10-21 12:01] #27021 closed

[2022-10-21 12:17] #14146 closed

[2022-10-21 12:20] TheWrongGuy commented on #26143
I think this won't be fixed anymore. Since I was over 15 Version behind now, I migrated the whole system from CentOS7 to Ubuntu Server 20.04 LTS (Don't use 22.04 LTS MongoDB won't work there). Why the change to Ubuntu? "do-release-upgrade" for the future upgrades to later LTS releases. The new RedHad distros like AlmaLinux and Rocky offer upgrade tools too now, but I was annoyed by the upgrade wal

[2022-10-22 07:51] debdutdeb commented on #27077
Hi, there is no way, as you pointed out, neither do we have plans for something like that.

But, you can implement this via an app and its endpoint. An app can send an ephemeral message.
Ex.

[code]

[2022-10-22 07:51] #27077 closed

[2022-10-22 14:07] mani-rsg commented on #27073
HI @dudanogueira, since last message was 4 days ago and no one got assigned, I started to work on it and fixed it, I hope it's fine.

[2022-10-22 14:17] mani-rsg commented on #27078
Hi @dudanogueira , would like to work on this issue, can you assign this to me?

[2022-10-22 14:17] mani-rsg commented on #27081
Hi @nishant23122000 , is this issue being worked on? if not I could work on it, please confirm

[2022-10-22 15:22] PvUtrix commented on #19077
Rocket chat got updated to 5.2.0 and I still can't clear this stuck thread notification :(

[2022-10-22 17:31] ritikBhandari commented on #27112
Hi @abruening-iwt ,
Are you still facing this issue?

[2022-10-23 07:35] #20687 closed

[2022-10-23 07:52] waseemjeelani commented on #27028
@prasanthmurugasamy

[2022-10-23 08:53] nmagedman commented on #26920
I've implemented am ugly workaround by filtering it out client-side in `apps/meteor/app/ui-utils/client/lib/RoomManager.ts`.

[code]

It's ugly for three reasons:
1. I'm just hardcoding the message types to filter, rather than using the actual Settings, so this is just code as a workaround.
2. It seems to me that we should be filtering it _server-side_ rather than having separate implementations o

[2022-10-23 09:47] MostafaBarkhordari opened #27124 "problem about right-to-left for Persian languages"
hello i have problem about text standard for example I cant merge 2 language english/persian
see this :
با عرض سلام و وقت بخیر این ip من است ====== that is right
but in program I receive message like this
من است ip با عرض سلام و وقت بخیر این ====== this is wrong

![bug report](https://user-images.githubusercontent.com/116487975/197385340-944133b4-41e9-4327-9e82-420b47c1d58d.png)

@engelgabriel

[2022-10-23 17:55] N00rAhmed opened #27125 "Failed to install @babel/core"

[2022-10-23 23:12] thrakks commented on #27118
I'm glad it's a reproducible bug and not some strange occurrence only on my hodge podge setup.

[2022-10-24 03:00] ankar84 commented on #27118
Guess it's all about new and legacy parser.
New parser looks much better here, old parser have that jittering.

@dudanogueira can you test that?

[2022-10-24 03:10] ankar84 commented on #27081
Regular user with only `user` role don't have any administrations menu.
Guess that menu comes from `bot` or one of `livechat` roles, which is bug definitely.

[2022-10-24 03:55] thrakks commented on #27118
I require legacy parser due to my company's deep seeded reliance in rendering Tables in certain team channels. Has that rendering been fixed at all in the new parser?

[2022-10-24 05:56] ankar84 commented on #27118
Actually I stuck with old parser as you because of https://github.com/RocketChat/Rocket.Chat/issues/27065

[2022-10-24 06:23] tobiasreinhard commented on #27112
Facing the same issue on 5.2 (Docker). Also my users can't change their profile pictures.
Switched back to 5.1.4, still can't change the status but profile picture upload works.

[2022-10-24 06:58] dkatsariotis commented on #26505
Greetings,

It finaly works.

Deployment is under Kubernetes cluster. Created a deployment with 2 containers at same deploy. One for mongodb and one for rocket. I configured mongodb rep as rep0 using only one host and localhost as its hostname.
Then, followed the instructions from:

https://docs.rocket.chat/quick-start/deploying-rocket.chat/rapid-deployment-methods/docker-and-docker-compose/docker

[2022-10-24 07:13] liv1n9 opened #27126 "Turn off "Allow Username Change" doesn't work with custom OAuth on Mobile"
### Description:
Login with custom OAuth stuck at enter new username step when turning off "Allow Username Change". Login with the same OAuth works with Web client

### Steps to reproduce:

1. Create a custom OAuth
2. Turn off "Allow Username Change" setting
3. Login with custom OAuth from mobile app
4. Enter new username and save

### Expected behavior:
Save the new username successfully

### Act

[2022-10-24 08:39] ankar84 opened #27128 "Two calls in short period of time generates two separate calls"
### Description:

Lets imagine situation where group chat have 10-20 users. And a call is planned in that group. But there is no one person, who must start call, so it can be started by everyone. Meeting time is coming and two (or more) users start call in that group chat. And **two (or more) separate group calls are created!** Users don't see all other users - they divided to separate calls. And

[2022-10-24 09:00] abruening-iwt commented on #27112
Yes

[2022-10-24 09:01] abruening-iwt commented on #27112
To clarify: Changing the status works fine, this is just about the status being automatically set to offline/invisible after logging in.

[2022-10-24 12:01] seregasoft commented on #22865
Similar behavior /api/v1/groups.members
Version of Rocket.Chat Server: 5.1.2

[2022-10-24 12:38] seregasoft commented on #12943
Hi @mbrodala ! Please tell me how you get members by "groups.members"? I have a issue https://github.com/RocketChat/Rocket.Chat/issues/22865

groups.list response fine, but groups.members fails remotely and locally with a "room-not-found" unless user of token that i use via API are also in this group. Role of this user is Admin with all checkboxes in Permission settings

[2022-10-24 16:10] Gummikavalier commented on #27112
I confirm this too on RC 5.2.0. User provisioning with Oauth too.

[2022-10-24 16:37] Gummikavalier opened #27130 "Oauth user provisioning does not allow changing of username"
### Description:

Already existing Oauth provisioned users do not change the username on subsequent logins after the Oauth username attribute has been changed.

### Steps to reproduce:

1. Set up a custom oauth login
2. In the custom oauth config set the users to be defined by username ID, keyfield username and email to use email attribute
3. Login and logout once as a test user
4. Change custom o

[2022-10-24 18:11] swalter972 opened #27131 "5.2.0 - Custom Fields - DefaultValue not working"
### Description:

Custom fileds DefaultValue not shown (I did post there on a previous version : [https://github.com/RocketChat/Rocket.Chat/issues/27034](https://github.com/RocketChat/Rocket.Chat/issues/27034
)
### Steps to reproduce:

1.

Account --> Register --> Custom Fields

Add the page example :

`{ "role": { "type": "select", "defaultValue": "student", "options": ["teacher", "student"], "re

[2022-10-25 11:05] laurentkde opened #27132 "rest api saveUserPreferences.js doesn't have receiveLoginDetectionEmail argument"
In https://github.com/RocketChat/Rocket.Chat/pull/26831 you added a method for "Setting for login email notifications"
But you missed to update saveUserPreferences.js, so this method doesn"t know receiveLoginDetectionEmail argument.

So RESTAPI doesn't work. It returns invalid argument.

I use this rest api in ruqola apps.
But I can't for the moment as it doesn't have this argument.

Regards

[2022-10-25 11:17] FrankDaze opened #27133 "Push notification bug on IOS"
### Description:

![image](https://user-images.githubusercontent.com/22960630/197757979-3c5f7543-c9fd-4acf-b50c-9d4ff0379ed6.png)

If you activate the switch to receive the whole message text in the push notification settings, then you receive only a notification, that you got a message, but no text.
If you turn it off like on my screenshot, then you get the notification and the message text.

###

[2022-10-25 11:56] tuxcrafter commented on #25201
Has there been a followup on this from rocket.chat developers? I would like to see this "feature" being removed or fixed as well.

[2022-10-25 16:19] darkpixel commented on #26794
Logs from container:

[code]

I notice 'ratelimiter' is in there...
The user I'm trying to change was blocked because she forgot her password and locked herself out.  Is it possible the rate limiter is causing problems for admins when a user is locked out?

[2022-10-25 17:57] #27125 closed

[2022-10-25 19:01] darkpixel commented on #26794
It's not the rate limiter.  I can't create or edit accounts.

[2022-10-25 21:24] kassemz opened #27134 "Channels that start with a number in it fails to link"
### Description:

Channels that start with a number in it fails to link

### Steps to reproduce:

1. Create a channel with a name that starts with a number like 1test
2. Send a message in another channel with #1test in it.
3. #1test isn't turning into a link and stays as text.

### Expected behavior:

The #1test to turn into a link.

### Actual behavior:

![image](https://user-images.githubusercon

[2022-10-25 23:26] coreybx opened #27135 "No Administration > Messages > AutoLinker Settings working since updating to 5.0.3"
### Description:
Administration > Messages > AutoLinker.
No settings here work correctly since updating to version 5.0.3. The default settings work as intended but any changes here do not apply.

### Steps to reproduce:
Go to Administration > Messages > AutoLinker
Set 'Enable' to False
Save changes
Post a message like https://google.com

### Expected behavior:
The text is NOT turned into a hyperli

[2022-10-26 02:59] #23080 closed

[2022-10-26 05:11] ankar84 commented on #27133
Duplicate of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/4199
But maybe some backend changes a required, so that issue could be useful.

[2022-10-26 09:19] tidusete commented on #27041
Any news on that?

[2022-10-26 10:59] sleeplessnight2 commented on #26424
Version 5.2.0 has completely destroyed the function.

Now the buttons to login or write anonymously don't even go...

The browser console is full of error messages.
Should a developer look at this here, I'll give more info.

[2022-10-26 13:32] journeym commented on #14466
Not working anymore

[2022-10-26 20:08] dudanogueira commented on #27134
@ujjwalban thanks!!

Indeed, I was not able to reproduce this in 5.3.0-rc.2. This is was probably fixed with recent message parser fixes.

Closing. Thanks @kassemz for pointing it out!

[2022-10-26 20:08] #27134 closed

[2022-10-26 20:11] dudanogueira commented on #27131
hi @huberte!!

Our super @debdutdeb just sent a PR for that!! Superb!

 thanks for pointing it out.

[2022-10-26 20:13] tassoevan commented on #9813
Stale.

[2022-10-26 20:13] #9813 closed

[2022-10-26 20:13] tassoevan commented on #9812
Stale.

[2022-10-26 20:13] #9812 closed

[2022-10-26 20:39] debdutdeb commented on #27131
Guess what Duda
<img width="1440" alt="Screenshot 2022-10-27 at 2 08 27 AM" src="https://user-images.githubusercontent.com/76006232/198132698-35062b84-8036-431a-8f57-9b529dea9f60.png">
;)

[2022-10-27 09:50] Racer84 opened #27140 "Ubuntu 22.04 - system notiffications do not work"
Installed version: https://github.com/RocketChat/Rocket.Chat.Electron/releases/download/3.8.12/rocketchat-3.8.12-linux-amd64.deb

System notifications for rocket are on, notifications settings settings in rocket are on. The only notification I get is red dot on systray icon.

[2022-10-27 10:04] ankar84 commented on #27140
@dudanogueira @debdutdeb please transfer to Electron repo

[2022-10-27 10:34] nmagedman opened #27141 "AutoLinker Phone overly aggressive"
### Description:
The AutoLinker Phone code matches any plus sign (`+`) followed by one or more digits, regardless whether it is a valid phone number.

### Steps to reproduce:

1. Go to `/admin/Settings/Message` > AutoLinker and ensure that **Enabled** and **AutoLinker Phone** are both enabled.
2. In a chat, enter the text `1+1=2`

### Expected behavior:

The chat message should not contain any hyp

[2022-10-27 13:21] ujjwalban opened #27142 "Emoji text without space not Converting to Emoji"
### Description:

For use of emojis, you have to add a space after the text, then the emoji text gets converted to emoji. Before that, if you don't add space emoji text does not convert to emoji.

### Steps to reproduce:

1. Go to the message section in the chat
2. Write some text then without adding space  click on the emoji section and use some emoji
3. click on send.

### Expected behavior:

em

[2022-10-28 00:03] #26997 closed

[2022-10-28 02:08] jacobgkau commented on #27032
I've confirmed with one of my server's other users that they are not experiencing this issue. I'm not sure why it would have happened for only my account, but my account would have the most history out of everyone on the server, as I've used it to make YouTube videos about RocketChat in the past (and I might have demonstrated various settings while doing that.)

I'll close this issue for the time

[2022-10-28 02:08] #27032 closed

[2022-10-28 08:28] maluhub opened #27145 "Incorrect presence (everyone is present)"
### Description:

Since last update, everyone is present 24/7.
When someone changes his status it works well, but when it comes to logging off Rocketchat or turning off the computer, the presence doesn't get updated.

### Steps to reproduce:

1. Go to members list:

### Expected behavior:

This is deep nigth, only few of members should show green icon.

### Actual behavior:

Everyone is green:
![i

[2022-10-28 09:43] Kot-o-pes opened #27146 "Grey screen on adding users to channel in channel create mode"
### Description:

Getting a grey screen when adding users to newly created chanel
### Steps to reproduce:

1. Click create new channel
2. add users to channel
3. press enter to add needed user

### Expected behavior:

user is added

### Actual behavior:

grey screen

### Server Setup Information:

- Version of Rocket.Chat Server: 5.1.4
- Operating System: linux
- Deployment Method: k8s
- Number of

[2022-10-28 10:18] pierreozoux commented on #26997
I spend time to document and report a bug.

I'm fine that I have no contract with RC team, so I'm not expecting any delay of response, I can't expect anything actually, and I'm aware of that, and fine as well.

But I think that the time spent to report the bug shouldn't be "deleted" by this bot.

I'm not tempted to report bugs any more if the bot closes them, before any human look at it? Why am I

[2022-10-28 12:02] MarlynxLinux commented on #26910
i have a similar problem, my mongo has the right roles

[code]

[code]

I described it in detail here today:
https://forums.rocket.chat/t/running-multiple-instances-error-you-are-operating-multiple-instances-some-features-will-not-behave-as/15251

[2022-10-28 14:37] tagilchanin opened #27147 "problem with fresh install to 5"
**Description:**

When installing the latest version of rocket chat, there is an error.

Oct 28 17:10:54 localhost systemd[1]: Started The Rocket.Chat server.
Oct 28 17:10:59 localhost rocketchat[28286]: strict mode: use allowUnionTypes to allow union type keyword at "#/properties/value" (strictTypes)
Oct 28 17:11:00 localhost systemd[1]: rocketchat.service: main process exited, code=killed, statu

[2022-10-28 17:07] Gummikavalier commented on #27145
I cannot replicate this issue in our test environment with RC 5.2.0. I also tried with native oplog on and off.
RHEL8 with tar installation, two nodes setup.

[2022-10-28 17:12] debdutdeb commented on #27147
Hi, looking at the signal, this is a known issue in centos7 with manual install. We recommend you use docker in this case.

[2022-10-28 17:13] debdutdeb commented on #27146
Hi, please share the browser console logs :)

[2022-10-28 17:16] debdutdeb commented on #27132
https://github.com/RocketChat/Rocket.Chat/pull/26951 should fix this too.

[2022-10-28 19:00] Kot-o-pes commented on #27146
Hi @debdutdeb
console log from chrome
`ea9e86d7e3257f2bf616fd7cb00c992e9982c903.js?meteor_js_resource=true:1562 MessageType.render is deprecated. Use MessageType.message instead. livechat_webrtc_video_call
registerType @ ea9e86d7e3257f2bf616fd7cb00c992e9982c903.js?meteor_js_resource=true:1562
n @ ea9e86d7e3257f2bf616fd7cb00c992e9982c903.js?meteor_js_resource=true:1562
g @ ea9e86d7e3257f2bf616fd7cb

[2022-10-28 19:03] Kot-o-pes commented on #27146
https://user-images.githubusercontent.com/33171510/198712779-4cf5cd95-d4b5-47ef-8d40-38c69f9f2f30.mp4

[2022-10-29 04:59] dkoo761 commented on #19905
@cschockaert If I remember right, I don't think readPreference=primaryPreferred made any difference. My workaround of setting USE_NATIVE_OPLOG=true actually turns off the newer oplog processing that uses change streams.

[2022-10-29 08:16] majidh1 commented on #27118
this problem has a bad effect on the users experience, is there no temporary solution???

[2022-10-30 05:53] QuakeIV opened #27149 "anonymous message writing does not work"
### Description:

Anonymous message writing doesn't work, because the 'Sign in to start talking' and 'Or talk as anonymous' buttons dont do anything.

### Steps to reproduce:
Enable anonymous read/write under settings/accounts
Access server while logged out
Navigate to a public and default room
Click the 'Sign in to start talking' and 'Or talk as anonymous' buttons

### Expected behavior:
'Sign in

[2022-10-30 08:09] ritikBhandari commented on #27112
@dudanogueira should I work on this?

[2022-10-30 08:29] mhkarimi1383 commented on #21439
We have the same problem in our desktop clients (App and Web)
Running inside K8s

### Version
4.7.4

### MongoDB
4.4.15 / unknown (oplog Enabled)

[2022-10-31 07:22] MrPoint1400 commented on #18662
+1

[2022-10-31 10:55] MarlynxLinux commented on #26505
Hello, I have a similar situation, i connect the second instance, an error appears in the log of the first instance.
[Percona Server for MongoDB 5.0.13-11 (oplog Enable) running on a virtual machine]
I tried using Official MongoDB Community Edition, but the result is the same
I created two users with the required roles
[code]
and
[code]
RocketChat connects to the database via docker
[code]
as soon

[2022-10-31 12:44] NoxInmortus commented on #26518
Same issue with 5.1.4

[2022-10-31 12:48] NoxInmortus commented on #26505
Same issue with RocketChat 5.1.4 and MongoDB 5.0.13 on Docker.

[2022-10-31 12:53] NoxInmortus commented on #23028
Issue still present on 5.1.4

[2022-10-31 12:54] NoxInmortus commented on #23027
On 5.1.4 `db.rocketchat_settings.remove( {"_id": /Cloud_/} )` returns 0 deleted items, still stuck.

[2022-10-31 16:46] #27073 closed

[2022-10-31 18:12] dusatvoj opened #27154 "Hide / Mark disabled users in DM list"
Hello,
I have something around 2 screens of DMs in a list of DMs but there are around 1/3 or 1/2 of people which is disabled now _(probably permanently, bcs they left our company)_.

Is there any option to hide or mark these DMs with disabled accounts somehow? If not, this issue could be marked as feature request :grinning:

[2022-10-31 22:24] vinogradovia commented on #19442
Still on Version 5.1.4

Apps Engine Version 1.34.0
Node Version v14.19.3
Database Migration 281 (October 31, 2022 10:55 PM)
MongoDB 5.0.13-mdb-26cf0d36 / wiredTiger (oplog Enabled)

I also have one integration with broken history. Others are ok. I have 199 rows in collection  db.rocketchat_integration_history.  I think there is problematic data in the fields, such as characters or field size

[2022-11-01 07:48] xFuture603 commented on #18662
+1 for me. This error occurs every couple of minutes.

[2022-11-01 10:17] Fasal-Official commented on #25952
Any update on this case @dudanogueira

[2022-11-01 11:13] CHerSun commented on #25996
Same problem for me in Desktop (Windows) version. Mobile version properly decodes messages.

[2022-11-01 12:52] magiks-hub commented on #27071
Version 5.2.0 issue still exists too...
![image](https://user-images.githubusercontent.com/78742513/199236271-5690f96a-6165-4592-8edc-0934075c9b62.png)
![image](https://user-images.githubusercontent.com/78742513/199236343-9b7211a2-728c-4f5a-a2c2-c805d2f7b1fc.png)

[2022-11-01 13:37] DDR12 commented on #25918
Any updates on this? is it a bug is it a feature or what's the reasoning behind it?

[2022-11-01 15:36] parannoide commented on #26538
Is there a workaround? We are pretty used to have that feature...

[2022-11-01 16:25] peter-glass opened #27164 "Rocket.chat problem"
This is the second time I have reported this problem with rocket.chat. I am unable to open the app from the web and my desktop. I enter my credentials on the signon screen and receive a "please wait..." message. The app does not open.

[2022-11-01 18:00] peter-glass commented on #27164
I updated my password as advised by email about an hour ago. I subsequently received email informing me that my password update was successful. However, I am still unable to gain access to the rocket chat session for my subscription to the Soctt.Kennedy REIT forum. I paid a substantial fee to gain access to this forum and I am being denied access. This is very frustrating.

I did visit https://git

[2022-11-01 19:28] #15470 closed

[2022-11-01 19:28] #22903 closed

[2022-11-01 19:28] #26677 closed

[2022-11-01 19:32] pauloriply commented on #14577
Same behaviour for deactivated user

Version
5.3.0
Apps Engine Version
1.35.0
Node Version
v14.14.0
Database Migration
281 (November 1, 2022 18:53)
MongoDB
5.0.8 / wiredTiger (oplog Enabled)
Commit Details
HEAD: (eb122008e)
Branch: HEAD

[2022-11-01 20:29] terR0Q commented on #27118
Same thing but:
- changing or disabling markdown parser has no effect
- message history completely reloads after new message or hitting reply button

[2022-11-02 00:25] #24422 closed

[2022-11-02 00:32] #26967 closed

[2022-11-02 02:10] #20453 closed

[2022-11-02 02:19] #20902 closed

[2022-11-02 02:27] #20571 closed

[2022-11-02 02:29] #21111 closed

[2022-11-02 02:35] #21118 closed

[2022-11-02 02:36] #21102 closed

[2022-11-02 02:45] #21516 closed

[2022-11-02 03:06] #21740 closed

[2022-11-02 03:30] ShaunR opened #27169 "New version notification remains after updating RocketChat"
The blue notification at the top that tells you that version x.x.x is out remains even after upgrading.  Clicking the close box does dismiss the notification and it does not appear to return but the admin/user should not have to do this.

Issue existed when upgrading from 5.2.0 to 5.3.0

[2022-11-02 04:32] Ousret commented on #25732
I have addressed this issue in #27168
Pending reviews.

[2022-11-02 07:51] majidh1 commented on #27118
@terR0Q thanks
We had to downgrading version 😔

[2022-11-02 08:09] ankar84 commented on #27118
@dudanogueira Hey, Duda!
Looks like it is one of the most critical problem of recent 5.2.0 and 5.3.0
Can you highlight it to Front-End team?

[2022-11-02 08:39] ankar84 commented on #24358
@dudanogueira @ggazzo hey!
I tested https://github.com/RocketChat/Rocket.Chat/pull/26697 on my side and it works perfect!
![image](https://user-images.githubusercontent.com/4023037/199440409-85525d12-4cae-4b8c-9e35-a32dfbba564a.png)

Can you review that PR, please.

[2022-11-02 10:58] ankar84 commented on #27065
5.3.0 still not fixed

[2022-11-02 12:28] PvUtrix commented on #19077
Dear Rocket Chat team, this issue is over 2 years old and still present 2 major releases later. Any plans to fix this?

This is terribly annoying to see a notification and not being able to clear it. I'm on version 5.2.0 now and it's still there

[2022-11-02 13:28] TLINDEN opened #27171 "Translation of "are_typing" is wrong (at least in german)"
### Description:

When in a chat with one or more people, you can see something like this in the status line while someone else is currently writing:

**userx is writing...**

We are using the german translation, which is defined in `de*.i18n.json` as:
[code]

and displayed as: **userx is schreiben...**

But this is not correct german, which should read: **userx schreibt...**

- that is, the **is*

[2022-11-02 14:26] bbrauns commented on #27171
duplicate https://github.com/RocketChat/Rocket.Chat/issues/23593

[2022-11-02 15:07] tstafford opened #27172 "Grey screen after joining channel when using Safari on IOS"
### Description:

Grey screen after joining channel when using Safari on IOS

### Steps to reproduce:

1.  login to rocketchat
2.  click the hamburger in the top left
3.  click any channel

### Expected behavior:

the channel loads and is visible

### Actual behavior:

the channel momentarily appears and then the entire screen is grey

### Server Setup Information:

- Version of Rocket.Chat Server

[2022-11-02 15:39] umar142 opened #27173 "Rockt is not working on home wifi but working on mobile data"
Rockt is not working on home wifi but working on mobile data. I also try to load web version & desktop app both not work

[2022-11-02 16:54] phriedrich commented on #27172
Same here on macOS 13.0 with Safari 16.1 and on iPad OS 16.

[2022-11-02 17:58] vinogradovia commented on #26524
Same problem for new upload. Old sounds  play without error.

[2022-11-02 20:46] tstafford commented on #27172
Console from testing on IOS device...
![image](https://user-images.githubusercontent.com/960359/199599158-cda5f738-9731-458f-ab2b-27e19b7f9e6f.png)

[2022-11-02 20:48] paulchen opened #27174 "No link preview when quoting a message"
### Description:

When quoting a message, no preview will be generated for any link in the reply.

### Steps to reproduce:

1. Write a message.
2. Quote this message and insert a link into the reply.

### Expected behavior:

A preview for the link is shown.

### Actual behavior:

No preview is shown.

![image](https://user-images.githubusercontent.com/404840/199599427-b2f6fbd5-ca86-4da1-8c2b-b8caf

[2022-11-03 08:10] tobiasreinhard commented on #27145
We have a similiar issue, but instead of online some of our users stay "offline" even when they are active.

![grafik](https://user-images.githubusercontent.com/10668507/199672841-281c19ec-2a5c-4075-b7fe-2095b421dae1.png)

Our RC instance (single instance, Docker):

![grafik](https://user-images.githubusercontent.com/10668507/199672931-acfef746-46e6-4291-a439-1b7351e58880.png)

[2022-11-03 08:14] KavinduAkash commented on #17698
Is there any way to create an anonymous user?

[2022-11-03 09:03] skeleton55 commented on #27118
Just upgraded to 5.3 and we are seeing the same behavior, it seems to be related to the legacy parser.

[2022-11-03 11:39] TLINDEN commented on #27171
oh, thx.

[2022-11-03 11:39] #27171 closed

[2022-11-03 13:14] MaxWaldorf commented on #27172
confirmed for iOS users here as well...

[2022-11-03 14:13] krumelmonster opened #27175 "Security vulnerabilities remain unaddressed"
The Rocketchat Security Policy on github says

I wrote an email to security[at]rocket[dot]chat describing a high severity vulnerability in the Rocketchat Desktop Apps but only got an automated reply asking to submit the report to https://hackerone.com/rocket_chat

There, I created a detailed report of the vulnerability over five months ago. I was asked to give a more detailed walkthrough of how to

[2022-11-03 14:22] calebjacobson commented on #26605
Any more news on this?

[2022-11-03 15:56] FF-Ibb-PD commented on #27172
Confirmed for my users also. It also seems to be a Problem on Firefox on Iphone.

[2022-11-03 16:16] phriedrich commented on #27172
@FF-Ibb-PD Firefox on iOS uses Webkit as required by Apple's policies. So it's probably an issue with Webkit.

[2022-11-03 16:39] mddvul22 commented on #27112
We are having this issue since upgrading to 5.2.0.  We are using the package available at:
https://cdn-download.rocket.chat/build/rocket.chat-5.2.0.tgz

[2022-11-03 18:06] dougfabris commented on #21664
Recently we did some refactoring in this section (#25128) and we added validation for the empty file as well.
Thanks a lot for your help @PriyaBihani

[2022-11-03 18:06] #21664 closed

[2022-11-03 21:08] pauloriply commented on #26820
For what you removed replicaSet from connection string?
I see strange behaviour after we delete one of two instance of rocket chat (because it’s Enterprise feature only) and have not idea why(

[2022-11-03 22:07] #20703 closed

[2022-11-03 22:21] nmagedman opened #27182 "[BUG] Ignoring/Unignoring user doesn't hide/unhide messages until refresh"
### Description:

This is another **_nextgen_** Message Template vs. **_Legacy_** Message Template issue.  Things work nicely with the Legacy implementation, but are broken under the new implementation.

Under the **_Legacy_** Message Template, if you enter a room and see a message you don't like, if you then ignore the user who posted it, it immediately collapses the message (in fact, all message

[2022-11-03 23:50] thrakks commented on #27118
I too upgraded to to 5.3 and noticed it was gone. (Entirely forgetting I had disabled the legacy parser and I'm an idiot)

So I too can confirm problem still exists in 5.3

[2022-11-04 00:03] #19038 closed

[2022-11-04 00:03] #21388 closed

[2022-11-04 00:24] nmagedman opened #27185 "[BUG] Files pane sorted by date ASC, but infinity scrolls them by date DESC"
### Description:

There is a mismatch between the sorting of files while rendering the Files list and the sorting of files for loading them in infinity-scroll batches.  This mismatch leads to a frustrating UX.

In older versions of RC, the Files pane listed the most recent files in **_reverse_** chronological order (i.e. newest first).  When you scroll all the way down to the bottom, it infinity-s

[2022-11-04 05:39] AkimoA commented on #26524
so i updated to the latest dev (5.4.0)  but the above mentioned Error stays the same it uploads fine but it wont play the actual sound, tested on 3 different Browsers here is all i could find from the logs ->

[code]

[2022-11-04 08:45] sreimann81 opened #27186 "Dark Mode unusable on MacOS"
Hello,

darkmode is somehow broken. The titlebar is white even in dark mode. I cleared the cache to make sure there is no outdated CSS in place, but likely this is broken upstream. Dark mode is not usable like this (because of the input bar).

MacOS 13
Client: 3.8.12
Server: 5.3.0

BR
Sebastian
![Bildschirm­foto 2022-11-04 um 09 43 02](https://user-images.githubusercontent.com/96955994/199930554-c

[2022-11-04 08:59] pauloriply opened #27187 "Deactivating a user will keep the account status online"
At first time we had two instance installation with separetaed DB on DigitalOcean.
After we found out about that multiple installation became only for EE, we have just removed one instance.
It behaves strangely after we delete one of two instance.
We authorize our users over Active Directory.

### Description:

When an employee is fired, we go to AD and lock him there.
After that we go to RC admin

[2022-11-04 09:15] foss- commented on #27186
Is there dark mode support in Rocket Chat now? Did I miss something in the changelog?

[2022-11-04 09:16] #27186 closed

[2022-11-04 09:16] sreimann81 commented on #27186
Works again

[2022-11-04 10:14] rksingh2001 commented on #27081
Can I take up this issue?

[2022-11-04 14:40] #21920 closed

[2022-11-04 15:35] pauloriply commented on #27187
Confirmed.
Not all account has affected by this behaviour but lot of them.
Some accounts, after disabling changed status.

[2022-11-04 16:17] maluhub commented on #27187
@pauloriply We've manged to solve this issue by clearing usersSessions collection in mongoDB. Login to ssh and do the following:
`rocketchat-server.mongo
use parties
db.usersSessions.deleteManu({})
`

[2022-11-04 16:37] maluhub commented on #27187
Additionally you can clear current status of all online users by executing:
[code]

[2022-11-04 17:50] N00rAhmed opened #27193 "Cannot find module 'chai'"
### Description:

In server.test.ts there is an error message on the import package 'chai' and it says: Cannot find module 'chai' or its corresponding type declarations. This is occuring as the package doesnt seem to be installed for typescript.
### Steps to reproduce:

1. Go to 'Unit'
2. Click on 'App'
3. Click on 'Meteor'
4. Click on 'server.tests.ts'

### Expected behavior:
The expected behavio

[2022-11-04 17:55] maluhub commented on #27145
Problem solved by deleting stuck sessions from RocketChat DB: https://github.com/RocketChat/Rocket.Chat/issues/27187#issuecomment-1303826402

[2022-11-04 20:56] wreiske commented on #25720
I was missing a `yarn build` before trying to start the server.

Documentation here: https://developer.rocket.chat/rocket.chat/rocket-chat-environment-setup/mac-osx

[code]

[2022-11-05 00:48] #24604 closed

[2022-11-05 12:03] burkass commented on #8446
Actually it's good idea for other scenario. Example: when new chat comming when all user offline it means, chat will be gone so my system is make it pending and store in redis. When user login, it will better there is feature to trigger custom api that our system can create new chat based on the pending message.

[2022-11-05 20:13] Cauen opened #27200 "[BUG] Slash Commands only show 50 (increase limit or delete default slash commands?)"
I’ve created a **Rocketchat app** that includes **~45** new **Slash Commands**
But, on the frontend, the result is limited at **50**…
There are ~25 default slash commands that we dont use…
There is a way to increase the size of result or delete all default slash commands?

Note: new requests to fetch new commands are not sent as we type different commands

Server Setup Information
Version of Rocke

[2022-11-05 21:00] terR0Q commented on #27118
How legacy parser can be disabled?

[2022-11-06 14:43] Gandalf-the-Grey commented on #26221
Any updates on that? Like seriously, anything that it's acknowledged by the team would help, especially that it seems that it seems that the fix is there: https://github.com/RocketChat/Rocket.Chat/pull/22438 waiting to be handled.

[2022-11-06 16:37] als999 commented on #26907
In threads, all backslashes are displayed. The bug is only in the main chat window.

[2022-11-06 20:16] Gandalf-the-Grey commented on #27085
I can confirm same issue for a different (custom) OAuth.

[2022-11-06 22:05] thrakks commented on #27118
Administration -> Settings -> Accounts-> Default User Preferences -> Use legacy message template (Disable the toggle)

Then hard refresh/reload cache your browser/chat app. The Awful super jitter refresh should go away, but you'll lose the ability to used markdown Tables and other such cool features.

[2022-11-06 22:14] #20323 closed

[2022-11-06 22:18] #19606 closed

[2022-11-06 22:20] psy commented on #25562
We are having the same issue. The problem is that rocketchat is awaiting content (as mentioned in the logs), see https://github.com/RocketChat/Rocket.Chat/blob/3b35f8bee550d6936a73e601146af7fb0c5739b8/apps/meteor/app/integrations/server/lib/triggerHandler.js#L782. To my knowledge this is in contrast to all standards. Webhooks should not be required to return any content.

[2022-11-06 22:22] #21676 closed

[2022-11-06 23:56] #21704 closed

[2022-11-06 23:56] #24360 closed

[2022-11-07 09:43] teach404W commented on #27172
+1 same problem here

[2022-11-07 09:43] nmagedman commented on #27182
I can see that the problem relates to the lack of detection of a change to the `ISubscription.ignored` property so it's not triggering a re-render.  But I'm not sure where exactly to make the change.

Relevant files:

* `apps/meteor/client/views/room/MessageList/components/Message.tsx`
* `packages/core-typings/src/ISubscription.ts`
* `apps/meteor/client/views/room/hooks/useUserInfoActions/actions/

[2022-11-07 11:06] vidlb commented on #26518
I was able to fix this by removing the linked instance from my account and restarting the Cloud Console connexion process from the beginning.

[2022-11-07 11:55] tobiasreinhard commented on #27145
I've tried your suggestion, but it does not work in our environment.

[2022-11-07 12:34] felipemachado12 commented on #21439
We have the same problem using RC 5.3.0 version and MongoDB 4.4.11

[2022-11-07 14:12] mddvul22 commented on #27112
To be clear, regarding why this bug is so problematic.  When you login, your own status shows as green/online.  However, everybody else sees that same person as offline/invisible.  To fix this, you have to manually set your status to online, even though it looks to yourself like you are already online.

[2022-11-07 14:14] hugocostadev commented on #27193
Hi @N00rAhmed thank you for your issue!

Try to install all the dependencies and check your node_modules, because the `"@types/chai"` it's already declared [here](https://github.com/RocketChat/Rocket.Chat/blob/develop/apps/meteor/package.json#L89).

For now I'll close the Issue and PR, but if you are not able to fix it, comment here, please.

[2022-11-07 15:28] hugocostadev commented on #27164
Hi, @peter-glass any updates on that?

Sorry, could you give us more information about the version of the Rocket.Chat that you are using, host, operational system, browser, and everything else that could help us investigate? Thank you

I test it here with the last release and the password update feature is working as expected.

If you confirm that you are still facing the issue and provide us with

[2022-11-07 15:28] #27164 closed

[2022-11-07 15:42] hugocostadev commented on #27182
Hi, @nmagedman thank you for reporting this issue, we will address this internally and provide an improvement.

[2022-11-07 16:13] peter-glass commented on #27164
Hugo,
Thanks for your reply. It appears that Sonal Dhingra fixed this problem
last Friday. You can close the ticket.

Take care, 再见，  Peter Glass
Old Crazy Fool: https://s.disco.ac/mpnmesfdjdxd

On Mon, Nov 7, 2022 at 7:28 AM Hugo Costa ***@***.***> wrote:

[2022-11-07 16:19] hugocostadev commented on #26679
Hi guys, we are following the standards for multi-line code blocks from other players, like here, for example.

We decided to not let the multiline code blocks open in the same line as the code itself because of the code highlighting.

e.g
[code]

We are working on a new message composer that will easier to write and format texts.

Since this is a matter of specification, I'll close this issue for

[2022-11-07 16:19] #26679 closed

[2022-11-07 16:25] hugocostadev commented on #27141
Hi, @nmagedman thank you for your time! We will address this internally and improve in our message-parser package this behavior

[2022-11-07 16:46] wonderfulspam commented on #26538
Also hit by this after our SaaS provider bumped us to the latest version. Interestingly, issue tracker links seem to work fine in threads.

Technically, you can click the "Reply in Thread" button and access the tracker link through there. Not sure if this qualifies as an actual workaround ...

[2022-11-07 16:57] hugocostadev commented on #27135
Thank you @coreybx we are addressing this issue internally.

[2022-11-07 17:02] hugocostadev commented on #26476
Hi, @Montg0mery we are investigating a good fix for that.

Since there are a lot of valid TLD (Top Layer Domains) like `.com` `.net`, `.chat`, and thousands of others it is impossible to guarantee that the written URL is a valid one, but we are studying a good fix and we are working to [fix the AutoLinker feature](https://github.com/RocketChat/Rocket.Chat/issues/27135) to make the text formatting

[2022-11-07 17:12] hugocostadev commented on #27135
The AutoLinker settings only work with the Legacy Message Template.
In the next major release, (6.x) this setting along with others and the Legacy Message Parser will be removed.

[2022-11-07 17:12] #27135 closed

[2022-11-07 17:19] hugocostadev commented on #27174
Hi @paulchen thanks for submitting the issue.

This behavior is expected, if we show the link preview and quoted message the layout would be very messy, because of that we only allow link previews on messages that do not contain any other type of attachments (quotes, images, files ....)

[2022-11-07 17:19] #27174 closed

[2022-11-07 17:21] hugocostadev commented on #27173
Hi @umar142 , this is not a Rocket.Chat Issue, sometimes this could be because of your DNS host/configuration. Try to change it for google or Cloudflare DNS.

[2022-11-07 17:21] #27173 closed

[2022-11-07 17:27] hugocostadev commented on #27142
Hi @ujjwalban thank you for submitting this issue.

Unfortunately, we cannot change this rule, otherwise could lead us to a lot of other issues.

We cannot make assumptions about the message that was sent. The message/text could have a similar pattern that is being used as an emoji, because of that we require a space.

I'll close this issue for now, if you have another idea, suggestion or point of

[2022-11-07 17:40] hugocostadev commented on #27108
Hi @Simplici, today is not possible to edit the default link, it gets from your client host.

[2022-11-07 17:40] #27108 closed

[2022-11-07 17:44] hugocostadev commented on #26920
Hi @nmagedman thank you for submitting the issue.

We fixed this Pull Request: https://github.com/RocketChat/Rocket.Chat/pull/27151 and will be released in the next release.

Thank you!

[2022-11-07 17:44] #26920 closed

[2022-11-07 18:12] #22832 closed

[2022-11-07 18:26] Gummikavalier commented on #22832
:partying_face: :heart:

[2022-11-07 18:29] #24042 closed

[2022-11-07 18:51] dudanogueira commented on #27175
hi @krumelmonster !

Thanks for pointing out. Already sent this issue to our sec team.

Thanks!

[2022-11-07 19:07] brunobcestari commented on #27175
Hello @krumelmonster!

I'm from Rocket.Chat security team. I'm really sorry for the late reply in your H1 report. Our Vulnerability management program is under changes and it may affect the triage process.

Could you share the H1 report link? So I can check with the team about the progress and give you updates as soon as possible.

Thanks for reporting to us and helping to make Rocket.Chat more se

[2022-11-07 20:25] dudanogueira commented on #27154
Hi!

In fact, I don't see a way for doing this using the UI alone.

You can probably do it using API's.. but would need to interact with each of the subscription in order to check user status.

@hugocostadev a nice place to add this feature is the ctrl+esc action:

![image](https://user-images.githubusercontent.com/1761174/200407916-d34105c7-e18e-4257-a981-1521cc63c84e.png)

[2022-11-07 20:52] dudanogueira commented on #27200
Hi there, @Cauen !!

The [commands list comes from this endpoint](https://developer.rocket.chat/reference/api/rest-api/endpoints/core-endpoints/commands-endpoints/list), which leads to [this lines in codebase](https://github.com/RocketChat/Rocket.Chat/blob/3f5254d8a7a42f86bef9e945014d5c0dd3720c34/apps/meteor/app/api/server/v1/commands.ts#L138):

If you go down the path of searching for the getPagi

[2022-11-07 21:24] nmagedman opened #27206 "Message_QuoteChainLimit has off-by-one error"
### Description:
Commit 5afe5ceb72888f0a0d51544d89fe1b4567ff5e85 ("Chore: Migrate oembed to ts (#25622)", released in RC v5.0.0) introduced a regression in the recursive processing of `Message_QuoteChainLimit`.  The change creates an off-by-one error, cutting off the quote chain at the wrong point.

So, for example, if Message_QuoteChainLimit is at its default value of 2 and I quote a message that

[2022-11-07 22:26] nmagedman opened #27207 "Link to Original Post doesn't work on 5.x Message Template"
### Description:
The React-based Message Template introduced in RC 5.0 (as opposed to the Legacy Message Template) does not render threaded replies properly.

When someone posts a threaded reply to an earlier message, the main chat flow gets (under certain conditions) two messages posted to it in a small font:

- the original post (in blue)
- the reply (in black)

In the following screenshot, we s

[2022-11-07 22:46] SamirSaidani commented on #22114
A workaround is to create a random name (e.g azefiuhazfeiuhzef) then rename it to the target name.

[2022-11-07 23:28] terR0Q commented on #27118
Other than loosing useful markdown features this way seems pretty inconvinient as has to be performed under every user in a system. I'll leave it be with 5.1.4 for a couple of months with way you described as last resort. Thank you anyway!

[2022-11-07 23:31] thrakks commented on #27118
By change the default user preference via Administration, it applies to all users. At least it did for my 30 or so users. They just had to hard refresh/invalidate cache their browser/chat app and it works.

[2022-11-08 00:24] citynetcomputing opened #27208 "Notifications"
Please add in the ability to get notifications via directly connected android/ios app instead of routing through google or apple push.

[2022-11-08 02:26] Simplici commented on #27108
@hugocostadev do you have any plan to support this?

[2022-11-08 10:44] tobiasreinhard commented on #27112
This bug is very annoying. So many users are reporting inconsistens online/offline states. Please fix this asap!

[2022-11-08 12:10] hugocostadev commented on #27065
Hi @ankar84 your new parser is too permissive, you can use any protocol and domain.

I think that  your problem is not because of the setting not being honored (that indeed it is not), I tested here and figure out that your issue it's because of that you are using a File Path instead of a URI inside the Link markdown `[Link Label](URI_HERE)`

Several settings only work with the legacy parser, we w

[2022-11-08 13:54] ankar84 commented on #27065
Hey, @hugocostadev and thank you for your and team attention to that issue (really critical for us)

Wow! I really can use **any** protocol scheme?
Can you desribe **rules** to any link of any protocol parsed correctly with new parser?
Because [accounting software 1C](https://1c.ru/) protocol scheme `e1c` do not work with new message parser (we use that too, but not so critical as Lotus Notes link

[2022-11-08 14:21] ruseecz opened #27211 "Snap server install, same message duplicities Realtime API"
### Description:

Hello,

I have an issue using Realtime API when installing Rocket server with Snap and connecting to WebSocket endpoint wss://[ABC.DOMAIN.COM]/websocket of the server it sends duplicates of the same message and even some old messages that have been already sent before. For example, I am listening for private messages of some user and i am getting the same message with the same ID

[2022-11-08 14:52] xxxmadxxx commented on #27175
Hi @krumelmonster, as you didn't sent the open ticket in hackerone we were not able to have precision in our answer so based in your description we have detected this ticket: https://hackerone.com/reports/1586249 and we already answer you regarding the current status.

As a public disclaimer we have detected a process flaw where we were not aware of some researchers questions in our hackerone prog

[2022-11-08 14:52] #27175 closed

[2022-11-08 16:45] citynetcomputing commented on #26573
+1

[2022-11-08 19:33] #23740 closed

[2022-11-08 22:46] JoshMcCullough commented on #15472
Related to:
- https://github.com/RocketChat/Rocket.Chat/issues/14144
- https://github.com/RocketChat/Rocket.Chat/issues/14120
- https://github.com/RocketChat/Rocket.Chat/issues/12836
- https://github.com/RocketChat/Rocket.Chat/issues/8816
- https://github.com/RocketChat/Rocket.Chat/issues/6736
- https://github.com/RocketChat/Rocket.Chat/issues/6629
- https://github.com/RocketChat/Rocket.Chat/issue

[2022-11-09 04:22] ankar84 commented on #27065
Actually my problem is solved by @hugocostadev [reply](https://github.com/RocketChat/Rocket.Chat/issues/27065#issuecomment-1307109360) and my tests.
Results:
1. Lotus Notes links should work changing local annotation `Server` to FQDN style like `server.com`
2. 1S links will not work with new parser unfortunately because of it's proprietary protocol scheme specification (but we have `https` alterna

[2022-11-09 04:22] #27065 closed

[2022-11-09 06:43] miguelmcmc commented on #26505
This worked for us RocketChat 5.2.0 and MongoDB 5.0.13 on Atlas.

Thanks

[2022-11-09 08:34] ankar84 commented on #23617
@tassoevan hey Tasso!
You think it is not a bug but normal behavior?

[2022-11-09 09:19] rrmt23 opened #27217 "The file extension is not displayed in the program when downloading on Windows client"
**Description:**

When downloading a file from a chat on a Windows client, the file extension is not added. (see screenshot)
For example:
People 1 send to chat file "document.pdf"
on chat we have "document.pdf"
People 2 try to download this document via desktop app "Save as" - "document" without .pdf. Same problem on two machine with Windows 10, on MacOS is OK.

**Steps to reproduce:**

1. People

[2022-11-09 09:25] rrmt23 commented on #27208
Don't you think that this is a limitation at the Apple or Android policy level?

[2022-11-09 09:40] b90g opened #27218 "Notification state between weblogin and mobile app."
### Description:

read messages are still displayed or sent as push notifications to mobile apps which leads to double mental load of unread messages.

### Steps to reproduce:

1. receive a message in RC
2. read it in the webinterface

### Expected behavior:

push notification gets invalidated/disappears ?

### Actual behavior:

 message is still displayed as push notification

### Server Setup In

[2022-11-09 09:40] rrmt23 commented on #27217
File storage - File system.

[2022-11-09 10:37] vinogradovia commented on #19442
I reduced the number of entries in the history collection to 49 and the log is working , can anyone check this?

[2022-11-09 11:55] Neykuratick opened #27219 "This is not a Rocket.Chat server."
### Server Setup Information:

- Version of Rocket.Chat Server: 5.3.0
- Operating System: ubuntu server, ubuntu reverse proxy (different servers)
- Deployment Method: docker
- Number of Running Instances: 1
- DB Replicaset Oplog: /
- NodeJS Version: /
- MongoDB Version: latest

### Client Setup Information

- Desktop App or Browser Version: Desktop
- Operating System: Android
- Distribution: Ofici

[2022-11-09 12:07] Neykuratick commented on #27219
I fixed the issue

1. I was connecting to the server by `https://domain.tld/home`, when I should've used `https://domain.tld`
2. I set the ROOT_URL in docker-compose to `ROOT_URL: ${ROOT_URL:-http://localhost:${HOST_PORT:-3000}}`, when I should've set it to `ROOT_URL: ${ROOT_URL:-https://mydomain.tld}`

[2022-11-09 12:15] tassoevan commented on #23617
@ankar84 for sure it's an odd behavior, but I'm puzzled on why the notifications preferences and the sidebar's room list are tied together. Let me check the code and see what I can find.

[2022-11-09 12:29] rrmt23 commented on #27217
If, when saving, we do not touch the file name, then the loss of the extension does not occur.
But if we change the file name, then when we save we lose the extension (for ex. pdf)

[2022-11-09 12:30] iMiKED commented on #23617
@tassoevan thanks! @ankar84 wrote to you on my behalf about strange issue I've got today:
I've got a conversation today with one of my contacts.

After alt+tabbing from Chrome back to RocketChat I've discovered that order of my private chats messed up - instead of my recent conversations, old or inactive conversation moved to top. Recent conversations moved to bottom of contact list.

Strange thin

[2022-11-09 12:35] SaintedSheep opened #27220 "[5.0 Regression][Usability] No longer possible to decide to view all thread messages in main channel from the receiver-side"
### Description:

This feature got removed with 5.0,
change: https://github.com/RocketChat/Rocket.Chat/pull/26002

### Expected behavior:

The decision to show all thread messages in the main channel should be choosable for each client, even if the author of a message decided to not send it to the main channel explicitely (via the checkmark).

You can have people that always see all thread message

[2022-11-09 14:02] tassoevan commented on #23617
Sorting by activity means sorting by `rocketchat_subscriptions._updatedAt` (thanks @sampaiodiego) and this field is also updated when notification preferences are stored in the room subscription, which means the concept of "activity" is broken... I'll try to find an alternative for it.

[2022-11-09 14:33] aceArt-GmbH commented on #26651
This also affects notifications.
Previously all messages were shown in main thread but only if you actively followed a thread or participated you got a notification

[2022-11-09 14:34] aceArt-GmbH commented on #27220
This also affects notifications.
Previously all messages were shown in main thread but only if you actively followed a thread or participated you got a notification

[2022-11-09 16:14] mddvul22 commented on #27112
We are on 5.2.0.  Can anybody confirm whether this bug is also present in 5.3.0?

[2022-11-09 17:12] xFuture603 commented on #21439
I can confirm this problem with RC 5.3.0 and MongoDB 6.0.2 running in a docker-compose stack on Ubuntu 20.04.5 LTS.

[2022-11-09 17:33] hugocostadev commented on #27065
@ankar84 you are welcome, this fix is already on our radar!

[2022-11-09 17:34] hugocostadev commented on #27065
You are welcome @ankar84!

[2022-11-09 17:43] meganoob1337 commented on #27218
You get notifications on Mobile? :O

[2022-11-09 17:49] ankar84 commented on #23617
Interesting thing - mobile client doesn't have that problem! Chat list on mobile remain properly sorted while messon Web client.

[2022-11-09 17:56] tassoevan commented on #23617
@ankar84 Never mind... We are rightfully ordering it via `rocketchat_room.lm`, _but_ at some point the value is reset incorrectly to the current timestamp. Do you mind confirming if messing with the ordering at the web client reflects in the order at the mobile client?

[2022-11-09 21:35] AvivBenShoham opened #27224 "[BUG] Desktop notifications when application closed not working"
### Description:

When the application is closed and the user received a message, the desktop notification does not show up.

### Steps to reproduce:

1. Download the application in your windows computer (maybe linux too?)
2. Send a message to the logged in user there
3. Check if the notification appear in a desktop popup

### Expected behavior:

Desktop notification will appear

### Actual behavi

[2022-11-10 01:02] ankar84 commented on #23617
No. Not confirm that.

# Steps to reproduce:
1. Go to `My Account - Preferences - Notifications`
2. Change `Show Desktop Notifications For` from `Default` to `Nothing`
3. Check chats in Sidebar on Web client - it's mess (current actual contacts moved away and some old accounts appeared on top)
4. Check chats in Sidebar on Mobile client - all good (current actual contacts remain on top as it should

[2022-11-10 02:01] ankar84 commented on #27218
I general on my side push notification do not on already read messages.
One exception - last message on opened thread - sometimes I get push notification on that message (even when it is right on my screen on Web client)

[2022-11-10 07:41] talss89 commented on #9611
@dougfabris Would it be possible to have some info on when this will be implemented, or even if it will? It does seem like pretty important functionality for a lot of people, us included.

Just trying to figure out if it's worth building a standalone tool to do this via the API.

[2022-11-10 09:36] pomil opened #27227 "Rocket Chat v. 3.8.6 - Upload issue"
When uploading fails, then for the others it seems that uploading is continuing. It stops when I upload successfully a new file.

[2022-11-10 09:57] dj4oC opened #27228 "mention in unjoint channel subthread does not notify mentioned user"
### Description:
If a user is mentioned within a subthread of a channel of which he isn's member, no notification is pushed to user.

### Steps to reproduce:
1. open channel
2. open open new subthread
3. mention a user which is no member of the channel

### Expected behavior:
since user mention of channel nonmembers is pushed to user, I would expect the same if user mention happens within a subthr

[2022-11-10 13:05] hugocostadev commented on #27224
Hi there!

Sorry, this error does not happen on the latest releases.
Rocket.Chat provides support for 6 months to the latest releases of each major version.

I would suggest you update your Rocket.Chat version to the latest stable version, which you can find it here: https://github.com/RocketChat/Rocket.Chat/releases

For more information about your support: https://docs.rocket.chat/getting-suppor

[2022-11-10 13:05] #27224 closed

[2022-11-10 13:32] hugocostadev commented on #27227
Hi there!

Sorry, this error does not happen on the latest releases.
Rocket.Chat provides support for 6 months to the latest releases of each major version.

I would suggest you update your Rocket.Chat version to the latest stable version, which you can find it here: https://github.com/RocketChat/Rocket.Chat/releases

For more information about your support: https://docs.rocket.chat/getting-suppor

[2022-11-10 13:32] #27227 closed

[2022-11-10 13:53] dudanogueira commented on #27200
The thing is: that command list API request is obeying that limiting setting.

And it shouldn't. It shouldn't iterate and get all items in all command item pages.

I think we can keep this open and maybe go for a fix on that.

Otherwise workspaces with 50+ commands will be broken with default settings.

[2022-11-10 16:07] limpep opened #27231 "Files are not deleted from mobile app"
### Description:
When a user deletes a media from the desktop app/website and access it via the mobile app. The file is still there and available on the users device

### Steps to reproduce:

Upload a file
Delete it on the desktop/web
Open up the mobile app
Click on files in the Room that the media was deleted in
You can still see the file there

### Expected behavior:

Files should be deleted on

[2022-11-10 19:17] paulchen opened #27235 "No preview for links without schema"
### Description:

Links without schema are clickable, but no preview is generated.

### Steps to reproduce:

1. Write a message containing a link without schema (e.g. [github.com/RocketChat/Rocket.Chat/](https://github.com/RocketChat/Rocket.Chat/) ).

### Expected behavior:

A link preview is generated as it is the case when the link contains a schema:

![image](https://user-images.githubuserconte

[2022-11-10 21:30] #26907 closed

[2022-11-10 21:30] #26800 closed

[2022-11-11 08:13] benedikt-wegmann commented on #27220
In channels with mixed topics this new behavior has actually degraded communication and negatively effected everybody. It is not simply a styling change. People are actually missing out on communication.