[2018-12-05 12:40] TomaszDom commented on #12781
Guys, your own documentation suggests using a number for the replicaset name https://rocket.chat/docs/installation/manual-installation/mongo-replicas/

We would all appreciate a word of warning somewhere on the release page, every time I plan on upgrading our instance I have to trawl through dozens of reports to find a potential blocker like this one, not cool.

[2018-12-05 12:59] jonathan-liss commented on #12854
We have this same issue at Seeking Alpha on occasion

[2018-12-05 12:59] renatobecker commented on #11427
Hi @alf-FS!

The IP address has been stored inside the `visitors` collection, only.
We're discussing internally aiming to provide a better solution for this case.
What I can say now is that it's a WIP, already.

Thanks.

[2018-12-05 13:32] stephane- opened #12862 "0.72.1 GDPR / Policy retention : Message not removed."
### Description:

### Steps to reproduce:

1. Add policy retention for channels or private groups
2. Wait
3. Wait
4. Message are not removed

### Expected behavior:

Message shoud be removed.

### Actual behavior:

Policy retention was configured since 1 month ago, so should by good for crons. I can see this log in my log file:
`[34mI20181205-09:15:21.027(1) rocketchat_logger rocketchat_logger.js:

[2018-12-05 13:48] #12720 closed

[2018-12-05 13:49] #9155 closed

[2018-12-05 13:54] #12849 closed

[2018-12-05 13:55] #8996 closed

[2018-12-05 14:11] hupptechnologies commented on #11130
Yes we are facing the same issue.

[2018-12-05 14:17] hypery2k commented on #12243
@rafaelks Any suggestion on this approach?

[2018-12-05 14:48] geekgonecrazy commented on #12781
@TomaszDom We've updated the documentation to use the replicaset we normally recommend using.  Also have added to release notes.  Hopefully the upstream release happens soon so we can release a fix. Thanks for your patience!

[2018-12-05 15:09] rafaelks commented on #12243
@hypery2k I'm honestly not the most appropriate person to ask this question. If your approach is working, I would say for you to open a pull-request and propose it to be merged in Rocket.Chat so other can review it. 👍

[2018-12-05 15:19] rhtenhove opened #12863 "Connection to SMTP server ignores proxy environment variables (http_proxy, etc.)"
### Description:

Connection to SMTP server ignores proxy environment variables (http_proxy, etc.), and as such fails to connect.

### Steps to reproduce:

1. Have Rocket.Chat running behind a (corporate) proxy
2. Setup SMTP to some external server
3. Send test e-mail

### Expected behavior:

SMTP connection succeeding.

### Actual behavior:

SMTP connection getting refused.
[code]

### Server Set

[2018-12-05 15:35] Alucard616 commented on #12836
On my local machine it's:
- test.ptk:  text/xml
- test.xjdf: text/xml

and on the RC-Server it's:
-test.ptk:  application/xml
-test.xjdf: application/xml

neither of them are working.
Funny thing: After saving and closing the admin-tab, they are removed again from "accepted media types"

[2018-12-05 16:23] edurenye opened #12864 "Livechat widget error in ie11"
### Description:

When I enter a page with the livechat widget active in ie11, I get the following error:
SCRIPT1002: Syntax error
File: livechat.js, Line: 27, Column: 289

I went to that line and expanded it, it contains the following:
[code]

[2018-12-05 16:41] reffu42 commented on #12576
I can confirm that the issue also occurs when putting two multi-line codeblocks separated by only a newline (screenshots from open.rocket.chat)
![image](https://user-images.githubusercontent.com/1823982/49528741-97bd4280-f882-11e8-88f9-21ec53f1897b.png)
![image](https://user-images.githubusercontent.com/1823982/49528762-a4419b00-f882-11e8-9ca7-8b9310b7d748.png)

[2018-12-05 16:56] reyalpsirc commented on #10592
Nevermind, I also spoke on the chat and found out that I needed to change the behaviour of unreads in Administration => General => Unread Count

[2018-12-05 23:40] tassoevan commented on #11130
**If it doesn't happen accessing Rocket.Chat on web browser**, this issue is related to the desktop client. Please reopen it in the [desktop app repository](https://github.com/RocketChat/Rocket.Chat.Electron). Thanks!

[2018-12-05 23:40] #11130 closed

[2018-12-06 07:51] RogerSik commented on #7586
With Rocket Chat Version 0.71.1 still an issue.

[2018-12-06 08:53] Benji81 opened #12868 "Cannot reset password"
Hello,

I sent an invitation to a new user, he received a welcome mail with a link to join.
On the join link the only option he can use is the reset password as he has no user / password information.
The click on the reset password (with a correct email) is confirmed by a popup but he does not receive any mail to reset its password.

The log shows:
Exception while invoking method 'resetPassword' E

[2018-12-06 10:38] edurenye commented on #12864
I think this might be related to this other issue in meteor: [https://github.com/meteor/meteor/issues/10274](https://github.com/meteor/meteor/issues/10274)

[2018-12-06 10:40] jhmk commented on #12497
@geekgonecrazy Any news about this issue?
If you need a Beta Tester just tell the the branch

[2018-12-06 11:24] RogerSik opened #12869 "Snap not on newest version"
Snap  is not on the newest version (since 8 days) and other installation method like Dockers are.

[2018-12-06 11:37] alexbartsch commented on #11792
@tassoevan I also started to work on this issue. Not sure if it's still in progress, so maybe someone could give an update. I also was wondering if there is another issue for "Jump to Message" and "Delete file" requests or do we handle these within this issue?

[2018-12-06 11:44] tassoevan commented on #11792
@alexbartsch Thanks! I'll check if there are similar issues.

[2018-12-06 11:52] tassoevan commented on #12869
@RogerSik I agree. Could you file an issue on [the documentation repository](https://github.com/RocketChat/docs/issues), please?

[2018-12-06 11:54] #12752 closed

[2018-12-06 11:57] edurenye commented on #12864
I found the root of the problem, but I don't know how to fix it.
In IE11 is using this file:
.meteor/local/build/programs/web.browser/packages/webapp.js
when it should use:
.meteor/local/build/programs/web.browser.legacy/packages/webapp.js

[2018-12-06 12:03] tassoevan commented on #12853
Just opened a PR: https://github.com/RocketChat/rocketchat.github.io/pull/609
Thanks a lot!

[2018-12-06 12:03] #12853 closed

[2018-12-06 12:08] tassoevan commented on #11970
@exts Could you please check if this issue still holds at the latest version? I couldn't reproduce it.

[2018-12-06 12:17] AlexVonB commented on #12836
That is weird, the setting should at least get saved. Have you tried to empty the input field? Check if this gets saved, try to upload a file and then reset it with the red button.

Best

[2018-12-06 12:17] tassoevan commented on #12668
@fabien4455 I'm closing this in favor of #8540. It's a really old issue and we need to act on it ASAP.

[2018-12-06 12:17] #12668 closed

[2018-12-06 12:22] tassoevan commented on #5726
Does anyone in this thread notice the same behavior after #12677 was merged (version 0.72.0)?

[2018-12-06 12:30] Alucard616 commented on #12836
Now it is saved, but it is still not working.

If the input field is empty, it works perfectly fine.

Regards

[2018-12-06 12:46] fabien4455 commented on #8540
Please see #12668 I've writed a lot of things about this problem.

With some screenshots etc

[2018-12-06 12:51] hari319 opened #12870 "API-Call subscriptions.getOne doesn't return subscriptions object."
Hi,
I am trying to get owner of private channels by room id(Private Channel) or room Name using rest api endpoints, but it doesn't return me.  For Authentication, I am using admin Token and Id.

**Documentation**
https://rocket.chat/docs/developer-guides/rest-api/channels/roles/
https://rocket.chat/docs/developer-guides/rest-api/subscriptions/getone/
https://rocket.chat/docs/developer-guides/rest-

[2018-12-06 15:02] mbrodala opened #12872 "Create user without password for OAuth2 login"
Is there a way to create users via the REST API (`users.create`) without password? These users need to be able to log in via a custom OAuth2 provider which doesn't work if a user has a password set.

I know that users are created implicitly upon first login via OAuth2 but in this scenario I don't get the user ID from RocketChat which I need to trigger updates from a foreign system later.

[2018-12-06 15:06] exts commented on #11970
looks like this is fixed

[2018-12-06 15:06] #11970 closed

[2018-12-06 15:11] edurenye commented on #12864
I also have this error on Safari 5.1
There it says:
`
SyntaxError: Unexpected token ')'
SYNTAX_ERR: DOM Exception 12: An invalid or illegal string was specified.
`
Pointing to the same line on the same file.

[2018-12-06 16:10] wreiske commented on #12438
![image](https://user-images.githubusercontent.com/6295044/49596095-85f1a300-f947-11e8-9a57-d2d3e48dbc66.png)

[2018-12-06 16:13] fabien4455 opened #12873 "CAS - Improvement Suggestion"
### Description:

CAS is a tool for authenticating users on an application. Actually on Rocket.Chat it's also used for creating accounts, but, there is a problem. We have users on Rocket.Chat.

We want to use CAS for authentificate existing users, so, I have added to users the object CAS in service object like this :

 ![image](https://user-images.githubusercontent.com/22091839/49595794-1694a700-f

[2018-12-06 16:18] tassoevan commented on #11970
Thanks a lot!

[2018-12-06 17:11] odsingh opened #12876 "Suggestion for new feature: global search across all channels and chats"
### Description:
Allow for a global search across all chats and channels

### Additional context

Currently, the search icon only allows for a search within the channel or chat you are currently in

[2018-12-06 17:43] rodrigok commented on #12438
@wreiske can you post here the API responses when you get both behaviors?

[2018-12-06 17:46] wreiske commented on #12438
![image](https://user-images.githubusercontent.com/6295044/49601824-e0ddc700-f954-11e8-87e2-8954356ef56d.png)
![image](https://user-images.githubusercontent.com/6295044/49601836-e89d6b80-f954-11e8-97e4-e097769fe8b7.png)

API response looks the same.

[2018-12-06 17:50] wreiske commented on #12438
@rodrigok This is what it looks like when it's broken.
![image](https://user-images.githubusercontent.com/6295044/49602062-8a24bd00-f955-11e8-8b96-dc9a4d8fbcef.png)

[2018-12-06 18:14] jeffreyvanbarneveld commented on #9632
Is this gonna be solved?

[2018-12-06 18:16] Shaverdoff commented on #9632
Nope. Still no any progress

Отправлено с iPhone

6 дек. 2018 г., в 22:15, Jeffrey van Barneveld <notifications@github.com<mailto:notifications@github.com>> написал(а):

Is this gonna be solved?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/RocketChat/Rocket.Chat/issues/9632#issuecomment-444973569>, or mute the thread<https://gi

[2018-12-06 18:48] libussa commented on #12267
update: mentions work on a single line if you don't include a space after it; type @all, type ESC to escape the completion pop up, and enters, mention works.

This is still happening in 0.72.1

[2018-12-06 19:34] slyk commented on #2192
Maybe someone will add some more coins to bounty? And then comunity and devs will understand how this important?)

Waiting it for a long time.

[2018-12-06 20:09] Venomen commented on #12781
Is this repaired in 0.72.1 allready?

[2018-12-06 20:22] geekgonecrazy commented on #12781
It is not. Apparently we are the only meteor project that had users create starting with a number.  As soon as they do we'll try to cut a release.  At the very least hopefully its fixed by 0.73.0

@rodrigok @sampaiodiego do either of you know if we can update the mongo library in just our project?  Or would that have too many unknown consequences?

[2018-12-06 20:34] #4971 closed

[2018-12-06 20:34] #5311 closed

[2018-12-06 20:36] geekgonecrazy commented on #4780
#12351 will allow setting of environment variables so any that will be possible with non-snap will now also be possible to set there.  Will be released with 0.73.0

[2018-12-06 20:36] #4780 closed

[2018-12-06 20:37] geekgonecrazy commented on #12876
Global search is already implemented.  Please see search section of admin to link one of the two beta options

[2018-12-06 20:37] #12876 closed

[2018-12-06 20:39] geekgonecrazy commented on #12869
This is not a bug.  Feel free to open a bug as mentioned above.  0.72.1 will be released in a few hours

[2018-12-06 20:39] #12869 closed

[2018-12-06 23:05] rodrigok commented on #12781
@geekgonecrazy that is a good question. I [asked](https://github.com/meteor/meteor/issues/10362#issuecomment-445062762) the meteor developer again, lets see.

[2018-12-07 04:50] geekgonecrazy commented on #1112
https://github.com/RocketChat/Rocket.Chat/pull/11803#issuecomment-445110477

A small update of possible UI using that PR as base.

[2018-12-07 06:57] geekgonecrazy commented on #11692
@sampaiodiego @rodrigok any idea what is causing this?  I suspected it was reading from a secondary with delayed data or something.  But connection string and replicaset all looks fine

[2018-12-07 07:32] winterstefan commented on #5130
**I can confirm this issue, too.**

@sampaiodiego May I ask whether there's a plan on fixing this? Or do you have tip on how to bypass this issue?

Since we have a custom chat implementation by using REST & Realtime API, we currently try to sync user data (e.g. username) from our primary data source to Rocket.Chat.

As for the initial sync command, we ran into the mentioned rate limit. Although we

[2018-12-07 10:20] edurenye commented on #12864
Related issue: https://github.com/meteor/meteor/issues/9818

[2018-12-07 10:26] julienvey opened #12880 "Memory leak after upgrading from 0.70.4 to 0.72.1"
### Description:

We recently upgraded our rocketchat instance from version 0.70.4 to 0.72.1. Since then, we are experiencing memory leaks on daytime (when people are using it).

I'm not sure what kind of info I can give you to help understand the issue, so please let me know

### Actual behavior:

During daytime, when people are using it, memory is leaking from the rocketchat docker instance (mem

[2018-12-07 11:31] himpierre commented on #12880
No memory leak on my systems. Running rocketchat 0.72.1 on 4 machines. Gentoo and Ubuntu. But i do not use docker or kubernetes. So i suppose it's related to that.

[2018-12-07 14:24] sjoerdmaessen commented on #12880
This might be related to an issue I'm having although I'm not sure: https://forums.rocket.chat/t/sudden-100-cpu-usage-causing-non-responsive-chat-till-service-restart/2631 but I have seen a lot of issues with the Node version we are both currently running regards memory. v8.12 should be a lot better.

[2018-12-07 14:53] nlapshin commented on #11692
Hm... Maybe this behavior because the instances are run concurrently? Each instance worked with database.

[2018-12-07 18:01] tassoevan commented on #12854
I believe this issue was partially mitigated on the recent versions.

@jonathan-liss Could you provide more info, please? https://rocket.chat/docs/contributing/reporting-issues https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2018-12-07 18:03] tassoevan commented on #12852
This issue is related to the desktop client. Please reopen it in the [desktop app repository](https://github.com/RocketChat/Rocket.Chat.Electron). Thanks!

[2018-12-07 18:03] #12852 closed

[2018-12-07 21:14] jacwib opened #12885 "limit does not work in api function rooms.cleanHistory"
Im trying to create a "remove latest messages" function for a bot, which uses rooms.cleanHistory in conjunction with the limit argument to only remove the latest x messages.
However, limit is seemingly not working properly.
Having it set to a string throws `{"success":false,"error":"Match error: Failed Match.OneOf, Match.Maybe or Match.Optional validation"}`, which is probably intended, but trying

[2018-12-07 23:49] vynmera commented on #12885
The `limit` field is only to be used by clients that wish to break the deletion down into multiple requests. (The web client does this as well, it sets a limit of 2500 so you can track progress on large channels) - sorry this was not yet obvious (frankly, it's a bug).

On my defense, I wrote the documentation for `limit` while it was still in development (and the `limit` field would work as you de

[2018-12-08 00:49] vynmera commented on #12862
If you send a message in the channel and wait a day or so for the deletion to run, will that delete the message? If so, this is because of @ggazzo's changes that make the script only run if the channel contents have changed. A temporary workaround would be to send a message to every channel once a day.... sorry :/

[2018-12-08 06:43] timkinnane commented on #12574
No @Cyberwizzard I closed that PR because it didn't work. There's no solution for this, I've raised it directly with members of the core team, but no one has commented.
@rodrigok @engelgabriel - AFAIK the current develop branch will break all bot compatibility. Possibly already broken in v72 as well.

[2018-12-08 08:17] stephane- commented on #12862
Hello,

Yes, we have all days new messages in this channel, but no deletion.
The RC instance run 24/24, and rebbot every weeks for maintenance. Maybe bug whis migrations ?

[2018-12-08 10:34] Cyberwizzard commented on #12574
Comfirmed - broken in 0.72.1, working in 0.71.1

[2018-12-08 11:06] ideoignus commented on #12226
71.1 also has same issue with IE11

[2018-12-08 14:40] smoehrle opened #12889 "Use Real Name does not affect reactions"
### Description:

As stated in the title the setting "Use Real Name" does not affect reactions. A message object only contains a list of usernames for each emoji.

### Steps to reproduce:

Hover over a message reaction (the reaction must be from someone else than "You")
or
Query a message with a reaction via the api

### Expected behavior:

Return a list of users (id, username, name)

### Actual b

[2018-12-08 17:43] rafaelks opened #12890 "[BUG] PNG avatars are using a different font family"
![img_7916](https://user-images.githubusercontent.com/551004/49688884-fe9b5f80-faff-11e8-83d4-d35e6d04d75f.jpeg)

[2018-12-09 14:59] faust64 commented on #10714
somewhat related: https://github.com/keystonejs/keystone/issues/3478#issuecomment-333564259

[2018-12-09 18:20] NikhilM98 commented on #12765
I'm not that familiar with Rocket.Chat codebase enough, but I think that adding `collapsed-status` to the message model would not be the best choice. We don't want the collapse-status of a person to be stored in the server or to affect the collapse-status of another client.

Collapse-status should be stored on the client side and the client should decide that whether to `collapseMediaByDefault` or

[2018-12-09 21:57] rokr commented on #12176
Siri at MacOS is actually doing this. Even if you don't reply to notification mails the mail client will start suggesting rocket@rompany.tld (or whatever address is set) as peoples mailto address when composing new e-mails.

[2018-12-10 07:49] winterstefan commented on #11367
Happening on `0.72.0` as well. Could there be some kind of workaround?

[2018-12-10 09:23] mzqwe opened #12892 ""__token __" instead "__token__" in rocketchat_i18n.js"
### Description:

"__token __" and "__userId __" instead "\_\_token\_\_" and "\_\_userId\_\_"
in programs/server/packages/rocketchat_i18n.js

### Steps to reproduce:

1. Go to "http://rocketchat_host/account/tokens"
2. Fill "Personal access tokens to REST API"
3. Click on "Add"
4. You can see: ''Token: __token __ Your user Id: __userId __" instead of real token and userId.

### Expected behavior:

[2018-12-10 09:40] sharkmax88 opened #12893 "Messages are automatically deleted in the mobile application"
### Description:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server:
- Operating System:
- Deployment Method:
- Number of Running Instances:
- DB Replicaset Oplog:
- NodeJS Version:
- MongoDB Version:

### Additional context

### Relevant logs:

[2018-12-10 09:40] #12893 closed

[2018-12-10 09:47] julienvey commented on #12880
We tried to update to the following configuration, but the problem still remains

### Server Setup Information:
Operating System: Debian Stretch
NodeJS Version: v8.14.0

[2018-12-10 10:07] sharkmax88 commented on #12750
I join the question, since the search works only by user login, and I would like the search to also work on the "name" field specified during registration.

[2018-12-10 10:12] nikashitsa opened #12894 "sendForgotPasswordEmail (security issue)"
[code]
returns user info with reset link
[code]
I think issue is here https://github.com/RocketChat/Rocket.Chat/blob/develop/server/methods/sendForgotPasswordEmail.js#L51

Looks like it's a huge security hole. Please fix it.

[2018-12-10 10:16] sharkmax88 commented on #12693
Greetings, we had such a problem when there was a shortage of RAM, in this case SWAP began to be used, and its volume was too small initially, and when it ended the rocket was frozen. First, I discovered a pattern that this happens when you enter the administration panel from a mobile device. And then it turned out that this was due to a lack of RAM. After rasherieniya ram and swap everything beca

[2018-12-10 10:36] himpierre commented on #12894
Why is this exactly a security issue you think? Because the user_id is being send along?

[2018-12-10 10:38] nikashitsa commented on #12894
Because you can send any existing email in DB and get Reset link.

[2018-12-10 10:42] nikashitsa commented on #12894
Just need to make
[code]
instead of
[code]

[2018-12-10 10:53] eagle-te commented on #4688
@sampaiodiego
reason?

@bkraul
You mean the sidebar replacement with the mobile burger menu style? It's an alternative but not a good substitution to a reduced sidebar layout and introduces an unnecessary step for switching channels. I currently need to change the css width values via the dev console, in order to have an average chat experience with the browser occupying half a screen. The default

[2018-12-10 12:09] mbrodala commented on #12872
As a workaround I now manually connect to the MongoDB database of RocketChat and modify the `services` field of the newly created user. With JavaScript this would look like this:

[code]

(`user.id` is the internal user ID within RocketChat, `user.username` is the ID as returned by my custom OAuth2 service.)

[2018-12-10 12:52] maxdwit commented on #11692
I was curios and fired some containers up to see for myself:

rocket.chat 0.71.1 (three docker instances)
one mongodb (another docker) with enabled replSet rs0:

`(node:1) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection

[2018-12-10 13:19] fleaz commented on #12820
This also happens in 0.72.1

[2018-12-10 15:52] sampaiodiego commented on #4688
@thiagosanchz may you give @eagle-te a reason for not implementing that? thx

[2018-12-10 15:57] pfunk1978 opened #12897 "Auto hide Channels and DMs older than X days"
As a standard user I want my list of channels and DMs to auto hide if they are older than X configurable days.

* Hidden conversations/rooms should still be searchable from global search
* Hidden rooms may be selected as excluded on global search when the query is made
* There should exist an easy way to manually hide/unhide conversations/rooms based on the X configuration

[2018-12-10 18:10] rodrigok commented on #12894
thanks @nikashitsa, we are taking a look

[2018-12-10 18:25] ealbers opened #12899 "URL.createObjectURL with media streams is removed as of Chrome 71. Video chat no longer works."
### Description:

The WebRTC API has changed, URL.createObjectURL with media streams is removed as of Chrome 71. Video chat no longer works.

### Steps to reproduce:

Run Chrome v71 or above and try to start a video call

### Expected behavior:

Video Call should work

### Actual behavior:

Video call does not start

[2018-12-10 18:55] #12758 closed

[2018-12-10 19:23] TkTech opened #12902 "lazyloadtick is set as a window resize handler before being defined."
## Description

The rocketchat-lazy-load package sets `window.lazyloadtick` as a window resize event handler before it's defined.

https://github.com/RocketChat/Rocket.Chat/blob/7ab100007b992737942c598936f0a2b71d9798b3/packages/rocketchat-lazy-load/client/index.js#L58

On most browsers, passing null/undefined to `window.addEventListener` is a NOP, but on the LTS version of Edge it'll raise an erro

[2018-12-10 21:25] smoehrle opened #12906 "SendMessage ignores archive-flag"
### Description:
It is possible to send messages even if a room is archived. The client shows a 'This room is read only' message but via the api it is still possible to send messages because there is no backend check. Even some of the clients were still able to write messages because they did not receive an update for the room(?)/did not reload.

### Steps to reproduce:

1. Archive an existing roo

[2018-12-10 21:54] soundstorm opened #12907 "Update 0.71.2 to 0.72.2 stops working"
I upgraded from 0.71.1 to 0.71.2 (using tar archive) which worked quiet well. Then I tried to update to 0.72.2, but when trying to run RC, there is no output on the console like normal (even when starting with export + direct command instead of using systemd).

[2018-12-10 22:42] vynmera commented on #11916
:(

[2018-12-10 22:43] vynmera commented on #12906
this also happens with readonly rooms or rooms you've been muted in

:cold_sweat: don't let the vandals know...

[2018-12-10 23:10] zofe commented on #12794
solved using explicit type in the curl call:

    ' -F "file=@/path/of/my/audio.mp3;type=audio/mp3"'.

please consider to update the doc sample to save time, thanks guys

[2018-12-10 23:10] #12794 closed

[2018-12-11 02:52] zenjabba commented on #12907
I had a database upgrade fail on 0.72.2 so had to revert back to 0.71.2

[2018-12-11 06:20] maxdwit commented on #12386
@sawo is it save to delete the cron_history on a live environment?

[2018-12-11 06:53] CahidTopkaraoglu opened #12908 "Live Chat: Hide live agent name and profile picture"
Hello,

We are using Rocketchat for live support and we need to hide the name and profile image of live chat agents for our employee privacy. Is there a way to hide the name and profile image of live chat agents? If you don't currently have this feature, can you add it to your roadmap, please?

[2018-12-11 08:37] perchibald opened #12909 "menu items"
Description:

Menu items are not displayed in the web interface.

no extended
![bug1](https://user-images.githubusercontent.com/847633/49787741-4bbe4200-fd49-11e8-9c1a-6f2e263681a5.png)

no video message (in the settings all included)
![bug2](https://user-images.githubusercontent.com/847633/49787752-52e55000-fd49-11e8-876e-2d1dc3db7176.png)

Server Setup Information:

- Version of Rocket.Chat Serv

[2018-12-11 08:47] cloudsandladders commented on #6791
I am getting this error as well.  "Invalid file type image/x-icon"

[2018-12-11 08:48] sawo commented on #12386
@maxdwit to be frank with you, I do not know, what happens behind the scenes, when you truncate the rocketchat_cron_history table, but at least the app starts properly when the table is truncated before the app is started. I believe it is just for having some audit logs, or similar. I am not a developer of Rocket.Chat, so the workaround I mentioned above is not official, but I do it frequently in

[2018-12-11 10:42] piotrkochan opened #12910 "/invite user with @ in username does not work"
### Description:

I want to invite an user to a group. We use emails as username (because of CROWD...) so I type:

[code]

And the response is:

[code]

So the _at_ symbol is truncated. Backslash \@ does not work either.

### Steps to reproduce:

1. Just as description

### Expected behavior:

User `some.user@domain.com` is invited to the room.

### Actual behavior:

RocketChat can't find this use

[2018-12-11 11:47] manuelbliemel commented on #11355
I'm stuck with the same problem.
Even without attachments the import does not work.
Has anybody managed to solve the issue?

[2018-12-11 12:02] sviridan opened #12911 "Refinement by groups.members API"
Question by method
https://rocket.chat/docs/developer-guides/rest-api/groups/members/
Administrators need to see the list of members in groups. With groups where admin is not joined I get:

`{
   "success":false,
   "error":"The required \"roomId\" or \"roomName\" param provided does not match any group [error-room-not-found]",
   "errorType":"error-room-not-found"
}`

Tell me, please, Is this a b

[2018-12-11 13:27] vozerov opened #12912 "ios app can't connect to server"
### Description:

ios mobile app can't connect to server. The message is "Oops, can't connect to server"

### Steps to reproduce:

Try to connect to rc.inmyroom.ru

### Expected behavior:

### Server Setup Information:

Rocket chat is deployed using docker.
Server version is 0.72.2
Ubuntu 16.04
Nginx 1.15.7

### Additional context

Nginx is setup as reverse proxy with letsencrypt ssl certificate i

[2018-12-11 14:00] tassoevan commented on #12912
@RocketChat/ios

[2018-12-11 15:03] edurenye commented on #12864
Looks like this was due to this PR #12468 they actually updated livechat meteor to 1.9.2

[2018-12-11 16:10] marceloschmidt commented on #12912
Issue moved to [RocketChat/Rocket.Chat.iOS #2418](https://github.com/RocketChat/Rocket.Chat.iOS/issues/2418) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-11 16:10] #12912 closed

[2018-12-11 17:04] ohmonster commented on #12907
Have you checked the logfile itself? For example, I use Ubuntu, and snagged the default values when creating my .service files for systemd, so rocketchat is logging to syslog (/var/log/syslog).

you can also ask systemd for status after a start/stop, though it will tail an arbitrary number of lines from the log. Could be too much or too little.

[2018-12-11 17:32] marceloschmidt commented on #12910
Sounds like an easy fix if someone has the time to implement and properly test, then create a Pull Request

This [line](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-slashcommands-invite/server/server.js#L18) should be replaced by `const usernames = params.split(/[\s,]/).map((username) => username.replace(/^@/, '')).filter((a) => a !== '');`

[2018-12-11 17:39] ggazzo commented on #12574
please look here #12914, I created this fix just as a temporary solution, until we define/explain why are removing this extra data, I swear its not just a bug or naive breakchange or negligence, but we have to prepare ourselves to adapt the driver(s) to work without that field. We are writing a doc with some whys and to receive suggestions.

[2018-12-11 17:41] 3ruce commented on #8220
Are the guys at omni@rocket.chat still providing api keys? I emailed on the 4th Dec which isn't too long ago but I'm curious if you guys still support this...

[2018-12-11 17:41] zenjabba commented on #12907
The error I got was unable to find `migration 136` and then "blam"

[2018-12-11 17:51] marceloschmidt commented on #12909
The condition for showing the Extended option is to have the "Store Last Message" option enabled in Administration -> General.

![image](https://user-images.githubusercontent.com/1986378/49819332-474f5480-fd5c-11e8-95c5-76bd32c6b391.png)

The conditions for video message to be displayed are: browser must support it, video recorder must be enabled in Administration -> Message, file uploads must be

[2018-12-11 17:51] #12909 closed

[2018-12-11 19:04] ifohancroft opened #12915 "Tray Icon doesn't differ between mention and private message"
The tray icon used to show a number that indicates how many unread private messages you had and just change color when you are mentioned in a channel.

Now it no longer shows a number and it just changes color when you get a message. This makes it indestinguishable.

Client version: 2.14.1 on Fedora 29 64bit

Server Version: 0.66.3

[2018-12-11 19:12] ifohancroft opened #12916 "Notifications setting are too ambigious"
The notification settings are too ambigious and lacking of features.
I am trying to do the following and it is either not possible or I don't know how to do it because the notification settings are very ambigious and confusing:

I want to disable notifications (the sound and tray icon change) for all messages in a channel that are not mention (both mentions by @nickname and @wildcard should work)

[2018-12-11 19:13] ifohancroft commented on #6670
Me and all my co-workers can't download any files either but only when using a desktop client.

Server version: 0.66.3

[2018-12-11 19:37] ggazzo commented on #11681
thanks @reetp to understand our situation... but sometimes we made some fix too (:
actually, we were trying to send each message that got the username changed, its very very very expensive and as you can see the server/client hangs. after that change https://github.com/RocketChat/Rocket.Chat/pull/12800 I think we "fixed"(there are better ways, but ... maybe in the future :) )
@xvilo you are welcom

[2018-12-11 20:58] jimDKE opened #12917 "Pidgin Plugin Users Receive Messages from All Chat Channels"
### Description:

Our users on Pidgin began receiving messages from all public chat channels as direct messages once our RocketChat server snap updated from 71.1 to 72.1.

### Steps to reproduce:

1. Start with a RocketChat server running v71.1
2. Have a user on the Pidgin client (with purple-rocketchat) log into chat.
3. Have a second user log into chat through their web browser, create a public

[2018-12-11 21:15] tassoevan commented on #12915
This issue is related to the desktop client. Please reopen it in the [desktop app repository](https://github.com/RocketChat/Rocket.Chat.Electron). Thanks!

[2018-12-11 21:15] #12915 closed

[2018-12-11 21:59] andyhoffman12 commented on #2759
So typically at my business employees are given AD Security groups that dictate their access to some system or file share. Typically a user is a member of corp-SG-Engineering or corp-SG-Sales.
In some cases i'll make custom security groups for an app like corp-SG-RocketChat-Allowed or corp-SG-RocketChat-Engineering, corp-SG-RocketChat-Announce, corp-SG-RocketChat-Office, corp-SG-RocketChat-Shop

I

[2018-12-11 23:25] ncedomir opened #12918 "Upload got slow from Android Legacy Rocket.Chat client"
Hello,

After an upgrade from 0.69.0 to 0.72.1 upload from cell phones became extremely slow.
We are hosting it on same server, same resources, only thing that changed was the upgrade. Please let me know if this is duplicating for others or it's just for me and I need to share more info.
Thanks

[2018-12-11 23:37] timkinnane commented on #12574
Thanks @ggazzo - the fix is appreciated.

I think the problem is there's no process to prevent issues for integrations that rely on the message stream. Developers find the changes only when something breaks, then after reporting it might be two or three releases later for a fix. So there's no stability and it takes a lot of research to know which versions are reliable.

This change was known to ca

[2018-12-12 04:35] horamTT opened #12928 "Validation Toast Truncating Content"
## My Setup
- Operating System: Windows 10
- App Version: 2.14.6
- Installation type:  exe

- [X] I have tested with the latest version
- [X] I can simulate the issue easily

## Description
Validation messages are being cut short, without communicating to the user that there are absent characters.

### Current Behavior
The layout for the validation message toast seems to be two equal columns, whic

[2018-12-12 05:37] tarator opened #12919 "Docker-container's "latest"-tag is set on point releases of older major-version."
### Description:

I'm using the official Rocket.Chat Docker-container `rocketchat/rocket.chat:latest` (with docker-compose). After the version `72.1` was released, a bugfix release of an older major version (`70.5`) was released. In the time (in this case only a few hours) between the release of version `70.5` and `72.2` the `latest`-Tag of the Docker container was set on version `70.5`. This caus

[2018-12-12 05:37] geekgonecrazy opened #12920 "Support oauth/openid discovery endpoint"
https://accounts.google.com/.well-known/openid-configuration

For example this includes all of the endpoints no need to manually input any of them.

[2018-12-12 05:39] geekgonecrazy opened #12921 "Support oauth/openid revoke for logout"
https://accounts.google.com/.well-known/openid-configuration An example of an endpoint can be found here.

Idea is when you logout in Rocket.Chat this would be hit.  Otherwise when you come back and click the oauth you are still logged in upstream and so automatically logged in

[2018-12-12 05:44] tarator commented on #12907
@zenjabba I had the same problem. Do you use the Docker image? Then this might have been your problem: https://github.com/RocketChat/Rocket.Chat/issues/12919

I used the `latest`-tag on the docker container which fetched the version `0.70.5` instead of `0.72.2`.
I reimported a backup of mongo db and don't use concrete version in my `docker-compose.yml` now instead of the `latest` tag.

[2018-12-12 05:58] igorr-stc commented on #12750
It works by name, it just does not work with this name.

[2018-12-12 06:10] sharkmax88 commented on #12750
Yes, I agree, today, after prophylaxis on the server after a reboot, I noticed that the rocket was updated before the release of 0.72.1 and the search started working as it should. The question is removed!

[2018-12-12 06:11] pranay414 commented on #11482
@rssilva @tassoevan If you're not working on this, may I take this up?

[2018-12-12 06:51] ajjumehra opened #12922 "OTR Chat should be Removed on OTR session end"
https://github.com/RocketChat/Rocket.Chat.Electron/issues/1033#issue-388052327

Please have a look at this

[2018-12-12 08:40] kb0304 opened #12923 "Meteor method sendInvitationEmail always returns an empty list."
### Description:

Meteor method `sendInvitationEmail` always returns an empty list.

### Steps to reproduce:

Call meteor method :
`Meteor.call('sendInvitationMethod', ['availemail@gmail.com'], function(x,y){
   console.log(y);
})`
`y` is always an empty list, despite the email being valid. (The email is sent out)

(I have not set an SMTP server though, it might or might not work with that configu

[2018-12-12 09:04] alper opened #12924 "Twitter URL expansion"
Our instance does not unfurl Twitter URLs at all. What could be the matter here and where do I point our admins to fix this?

[2018-12-12 10:45] reetp commented on #12359
Now on 0.72 and I can see that the system is trying to access the market place, but is being blocked by my server.

That causes they system to hang, and I cannot disable the marketplace access.

Any suggestions on how to do that? There must be a database switch somewhere - if it can be enabled we should be able to disable it.

Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
marketplace.rocket.

[2018-12-12 10:47] bigler commented on #12574
Sorry for stupid question. How to update  the rocketchat-server to 0.72.3 version via snap?

[2018-12-12 11:42] brunosquadros opened #12925 "LiveChat QA -"
### Improvements:

1. Why should we need a small buttons and inputs version? (If it must have, we need to review his paddings becouse is too tight):
[https://rocket.chat/Rocket.Chat.Livechat/?knob-description=user%20description&knob-text=Powered%20by%20Rocket.Chat&knob-loading=true&knob-value=&knob-placeholder=Insert%20your%20text%20here&knob-small=true&selectedKind=Components%7CButton&selectedSto

[2018-12-12 12:20] ngulden commented on #10194
Confirmed with Rocket.Chat 0.71.1. I used the above workaround for the proxy redirect and it did the job.

[2018-12-12 13:04] renatobecker commented on #12925
Hi @brunosquadros!

Do you mind creating this issue in our new Livechat repository?
https://github.com/RocketChat/Rocket.Chat.Livechat

Thanks.

[2018-12-12 13:12] tassoevan commented on #11482
@pranay414 Please, go ahead. You can reach me anytime if you need some help. 👍

[2018-12-12 13:22] #12925 closed

[2018-12-12 13:40] pranay414 commented on #11482
@tassoevan May I know what are the files which deal with this issue?

[2018-12-12 13:40] alper commented on #12924
Something like this? I'm looking for pointers as to what could cause this because I understand that RocketChat should do some link expansion at least.

### Description:

Twitter links are not expanded.

### Steps to reproduce:

* Go to a private group
* Paste a twitter link in the channel
* The channel displays only the text of the URL

### Expected behavior:

I expect the body of the tweet with t

[2018-12-12 13:51] lucascalion commented on #10821
Having same issue. In my case it also requests 'api/apps/languages'

[2018-12-12 14:10] smoehrle commented on #12906
How did you manage to get this to work with readonly rooms and rooms you've been muted in?

For a room were I have been muted, I get something like this:
`ddp_asyncio.exceptions.RemoteMethodError: [You can't send messages because you have been muted]`
And when I set a room to readonly all users get automatically muted, even the owner. Only with admin privileges I'm still able to write.

[2018-12-12 14:10] piotrkochan opened #12929 "CROWD sync should not be interrupted when user not found"
### Description:

Users in CROWD sometimes changes. That's being said, if for example user get new E-Mail address then CROWD Sync fails and next accounts are not synced.

### Steps to reproduce:

1. Hard because you need to have Crowd server
2. You may temporary throw exception as in https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-crowd/server/crowd.js#L159 for example i

[2018-12-12 14:36] piotrkochan commented on #12924
It should work, at least it works on my RC instance:

![](https://i.imgur.com/q6wjwYa.png)

Please verify that `Message -> Embed Link Previews` option is enabled, also try `Clear Cache Now` button.

[2018-12-12 15:12] sampaiodiego commented on #12919
sry for the trouble.. yes, for a few amount of time (around 50 minutes), with the `0.70.5` release, the `latest` Docker tag was wrongly pointing to it.

as soon the `0.72.2` was released the `latest` Docker tag was then update to `0.72.2` which is the correct version.

[2018-12-12 15:12] #12919 closed

[2018-12-12 16:07] vynmera commented on #12906
try the other API? theres 2 @smoehrle

[2018-12-12 16:22] gueeme opened #12931 "Failed to restore Rocket.Chat server with Snaps"
### Server Setup Information:

- Version of Rocket.Chat Server: 0.72.1
- Operating System: Ubuntu Server 18.04 LTS
- Deployment Method:  snap

### Additional context

Hello,
I am trying to migrate a Rocket.Chat installation to another server.
The two installations are in Ubuntu Servers created with Snaps.
I did the backup as recommended by your documentation but when I restore on the other server

[2018-12-12 16:38] #12931 closed

[2018-12-12 17:30] #12762 closed

[2018-12-12 17:30] #12820 closed

[2018-12-12 17:30] #12868 closed

[2018-12-12 17:31] #12574 closed

[2018-12-12 17:38] #12656 closed

[2018-12-12 17:41] #11286 closed

[2018-12-12 17:47] tarator commented on #12919
Yes, but what happens if it is necessary to release a bugfix-release for an older point-versio (e.g. `71.6`) but not for the latest point versions (`72.2`) because the latest version is not affected by that bug? The `latest` tag could stay for days or weeks on the wrong release.

[2018-12-12 17:59] #11916 closed

[2018-12-12 18:00] sampaiodiego commented on #12919
this is was a mistake.. I'll make sure it will no happen again.

[2018-12-12 18:02] tarator commented on #12919
Ah ok! Thanks for the information!
Keep up the great work! :beer:

[2018-12-12 18:04] #12929 closed

[2018-12-12 18:04] #10838 closed

[2018-12-12 19:04] shubuzhi opened #12933 "Add new icon to left side toolbar"
I want to add a new icon to the top left toolbar and after click on it, a new view page should appear like clicking directory. Any comments on which files I should modify would be really helpful. Thanks

[2018-12-12 19:56] MartinSchoeler commented on #12918
@ncedomir Unfortunately we do not support the legacy app anymore, if you need support with it, your best bet would be going to https://forums.rocket.chat/ and asking help from the community.

We strongly suggest to move to our more recent and updated [Native Apps](https://rocket.chat/install)  as seen that the legacy app will be removed from the app store in the near future.

Thanks!

[2018-12-12 19:56] #12918 closed

[2018-12-12 20:01] MartinSchoeler commented on #12907
Please move this topic to https://forums.rocket.chat/ as there could be various variables on how the server was installed that could cause a issue.

If after some debugging you find out this issue is being caused by a bug, please reopen this and add information following our [Issue Guidelines](https://rocket.chat/docs/contributing/reporting-issues/)

Thanks!

[2018-12-12 20:01] #12907 closed

[2018-12-12 20:02] MartinSchoeler commented on #12933
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-12-12 20:02] #12933 closed

[2018-12-12 20:36] ggazzo commented on #12093
sorry guys I was/am working with another issues, this week I will fix :)

[2018-12-12 21:34] tsukiRep opened #12936 "what the actual fuck is this"
yes good idea check a key and then check whether it can even exist
hgoood job!!!!!! :+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1:+1:::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1:+1::+1::+:+1:1::+1::+1::+1:::+1:1111!!!!!!!!!!!+1::+:+1:1:+1:::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+:+1:!!!1::+1::+1::+1

[2018-12-12 21:35] tsukiRep commented on #12936
https://github.com/RocketChat/Rocket.Chat/blob/750e217c35b99dede74b07a9bceecda5b000f9e8/packages/rocketchat-channel-settings/server/methods/saveRoomSettings.js#L49
thanks gitgit for eating the url

[2018-12-12 21:36] tsukiRep commented on #10721
@reetp when a singular troll finds out about this they can fuck your cool server real fast
it is very difficult to maintain an open rocketchat server due to this mentality

[2018-12-12 21:36] tsukiRep commented on #10721
but haha making a nyan cat in the rocketchat cli is more important haha am i right

[2018-12-12 21:38] tsukiRep commented on #10721
(https://github.com/RocketChat/Rocket.Chat/pull/11684)

[2018-12-13 03:22] tntho opened #12938 "Unread bar not showing for livechat room"
### Description:
The unread bar is not shown when the first unread message out of the screen.

### Steps to reproduce:
Visitor send a lot messages.

### Expected behavior:
Unread bar (Mark as read bar) should be shown like this
![unread-bar-shown](https://user-images.githubusercontent.com/6253075/49979820-595f0c00-ff83-11e8-84cf-a8f64de3f14b.png)

### Actual behavior:
Unread bar (Mark as read bar)

[2018-12-13 04:17] timkinnane opened #12939 "Livechat room stream documentation incorrect and errors unreported"
_Rocket.Chat v0.71.1_

I found the docs and codebase are out of sync regarding expected arguments for subscribing to a livechat room stream via DDP.

Also, it doesn't throw an error to catch or debug the subscription attempt, seems to just silently return false.

[See docs.](https://rocket.chat/docs/developer-guides/realtime-api/livechat-api/streamlivechatroom/)

Code:

https://github.com/RocketCh

[2018-12-13 07:09] Maqsyo commented on #9426
I think this is a wontfix and special for phabricator :/

[2018-12-13 07:09] #9426 closed

[2018-12-13 07:40] shirosaki commented on #6899
I need this feature. Different URL is used with intra site and internet site.
file-upload URL is absolute path using ROOT_URL. Relative path would be nice.

[2018-12-13 09:10] exequos commented on #12908
The question is what will be visible for customer then - maybe there can be feature / additional profile field to attach which label/name will be visible in which livechat department?

[2018-12-13 12:04] reyalpsirc commented on #12906
I just found this too on my side. The channels I archived which were still appearing to my other users (since I'm not updating the data about archived channels yet in realtime) allowed the messages that were sent after archive.

In my case I'm using `chat.postMessage` to send the messages and `channels.archive` to archive a channel

[2018-12-13 13:38] filipedelimabrito commented on #12066
Moved to  https://forums.rocket.chat/t/resize-sidebar-web-app/2680

[2018-12-13 14:21] mddvul22 opened #12941 "Add Auto-Submitted: auto-generated header to email notifications"
### Description:

Emails from Rocket Chat should include an Auto-Submitted email header

### Steps to reproduce:

1. Receive an email notification from Rocket Chat
2. View the full list of email headers for that notification
3. There is no Auto-Submitted header in the email.

### Expected behavior:

In order to play nicely with email systems, it is best practice to set the following header:

Auto-

[2018-12-13 14:30] theorenck commented on #6803
Hi @reformstudios we have a partial solution to your problems built in the prune messages feature (a filter for pinned messages). We don't plan to add a filter for starred messages cause it was a "per user" selection.

[2018-12-13 14:30] #6803 closed

[2018-12-13 14:34] theorenck commented on #6810
Hi @albenstein, having some sort of theme customization or being able to publish theme packs on our marketplace is part of our future plans.

[2018-12-13 14:35] theorenck commented on #6645
Hey @lw-schick, we have it for email but for the phone you could use a custom field. Thanks!

[2018-12-13 14:39] theorenck commented on #6685
Hi @Valiantiam we are planning a big overhaul regarding layout & colors customization for the long-term. Right now PRs are welcomed. Thanks for your contributions!

[2018-12-13 14:43] theorenck commented on #6744
Hey @Nemra1, we have some of your ideas implemented by now namely the style shortcuts but about the color customization we don't see it the same way (mostly because of accessibility issues). Thanks for your ideas!

[2018-12-13 14:43] #6744 closed

[2018-12-13 14:47] theorenck commented on #6746
Hi @designgurudotorg, just for you to know that nowadays we have an email alternative to this flow. @renatobecker could you evaluate the requests of Quasim to understand if it can fit in our livechat roadmap?

[2018-12-13 15:00] renatobecker commented on #6746
Hi @theorenck!
Yes, I'll take a look on this issue very soon.

[2018-12-13 15:30] mbrodala opened #12943 "Add userId argument to "groups.list" REST API call"
The [`groups.list` API call](https://rocket.chat/docs/developer-guides/rest-api/groups/list/) lists all private groups of the current user.

It would be very useful to retrieve the list of private groups for a given user, similar to the [`groups.counters` API call](https://rocket.chat/docs/developer-guides/rest-api/groups/counters/). This could be achieved similarly by adding a `userId` argument.

[2018-12-13 15:39] mbrodala commented on #12943
Notice that #12029 requested something similar.

[2018-12-13 15:41] himpierre opened #12944 "Cannot choose myself to mail messages to."
### Description:

I just tried to mail a few messages to myself. Seems I cannot choose myself as a destimation. Other users are visible but not me. Adding my mail to "to additional emails" solves the problem for now.

### Steps to reproduce:

1. Click on "Mail Messages"
2. Try to add yourself under "To Users"
3. Not possible

### Expected behavior:

Add myself to the recipients under "To Users"

#

[2018-12-13 16:43] tassoevan commented on #12369
I've just found a global not tracked: `AudioRecorder`, from `rocketchat-ui`.

[2018-12-13 16:44] Hudell commented on #11653
We are planning to add this feature as an app, but for that to happen we still need to implement some features on our app platform (access to the scheduler, so that the notifications can be triggered properly at the right time).

Even then, it would only be accessible through a slash command until we implement interface elements on the app platform. This means that it's very unlikely that the feat

[2018-12-13 16:45] vitocarpentieri opened #12945 "Multi Instance Deployment - notification missing"
Hi, I'm testing a Rocket Chat multi-instance deployment on single node.
Everything run on the same server (http Server, RC instances and mongodb replica set).
I know that my deployment solution is not compliant to standard, but it works!
The only mistake that I observe is the instances synchronization ( "is typing...:" notification is missing).

**Scenario that produces the mistake:**
User A is co

[2018-12-13 16:57] wreiske commented on #12924
You can also add the "Search" app from the marketplace to display the latest status messages from any Twitter user.

https://rocket.chat/marketplace

[2018-12-13 17:43] tassoevan commented on #10122
I'm closing this issue because it is stale. Current video recording implementation relies on MediaRecorder API, unsupported on Safari. A future redesign of WebRTC in Rocket.Chat have been discussed and can be used as an alternative for video recording on Safari.

[2018-12-13 17:43] #10122 closed

[2018-12-13 19:04] reetp commented on #12945
Closing notabug.

This seems to be a setup/support issue and notva spevific issue with Rocket.Chat.

Please ask in the forums https://forums.rocket.chat/ or # support at https://open.rocket.chat/

[2018-12-13 19:06] reetp commented on #12938
Can you please test the on latest 0.72.3

[2018-12-13 19:08] reetp commented on #12916
You are on a version 6 months out of date.
Rocket moves fast. Please test on the latest 0.72.4

[2018-12-13 19:18] reetp commented on #12897
Thank you for your comment.
Please note that all new feature requests should now be opened in the forums:
https://forums.rocket.chat/

[2018-12-13 19:19] reetp commented on #12897
@rocket-cat close

[2018-12-13 19:19] #12897 closed

[2018-12-13 19:21] reetp commented on #12873
Thank you for your comment.
Please note that all new feature requests should now be opened in the forums:
https://forums.rocket.chat/

[2018-12-13 19:21] reetp commented on #12873
@rocket-cat close

[2018-12-13 19:21] #12873 closed

[2018-12-13 19:35] reetp commented on #12854
Similar question was raised in open.rocket.chat just recently.

How many rooms are we talking about, and if it is a large volume why have them all in one browser as it is unlikely a human operator can't handle thousands of concurrent rooms?

[2018-12-13 19:37] reetp commented on #12836
The OP was using 0.68.3 which is 4 months and a lot of fixes out of date.
Please test on the latest currently 0.72.3

[2018-12-13 19:39] reetp commented on #12819
You are 6 months out of date with 0.66.x
Please follow the bug reporting guide and test on the latest version which is currently 0.72.3
Thank you.

[2018-12-13 19:43] aurora commented on #625
I am not sure, why this issue is closed - as far as i can see #2537 just adds features to address #625. But there is still no possibility to unhide hidden channels.

[2018-12-13 19:45] geekgonecrazy commented on #625
all channels you are part of are searched when you do ctrl+k or click search at the top of the channel list

[2018-12-13 19:46] reetp commented on #12789
I know this has been labelled a feature request, but it isn't, it's a bug, and for many it is a serious and potentially enormously costly legal issue.

Rocket claims to delete data according to GDPR.

It clearly does not.

I'd imagine retrospectively clearing old data may well be problematic.... if a chat has been deleted as per current settings, but data remains in the db, then admins have a big

[2018-12-13 19:48] aurora commented on #625
Thanks! Seems i searched in the wrong place - "Directories" ( i am new to rocket chat :-) ).

[2018-12-13 19:52] reetp commented on #12769
Thank you for your comment.
Please note that all new feature requests should now be opened in the forums:
https://forums.rocket.chat/

Pull requests are always welcome :-)

Thank you

[2018-12-13 19:53] reetp commented on #12769
@rocket-cat close

[2018-12-13 19:53] #12769 closed

[2018-12-13 19:56] reetp commented on #12693
Can people advise what amount of RAM they are talking about please?

[2018-12-13 19:59] MathiasGmeiner commented on #12693
I had one with 2GB, with that one Rocket.chat was frozen 1x a week. Now it's running on 4GB, seems fine since the last 10 days.

[2018-12-13 20:00] renatobecker commented on #12789
Actually, this is a feature request. When you delete a chat the data is removed from the database. What remains in the database is the visitor data, so when we have this feature done, the Livechat managers will be able to remove the visitor data as well as we'll provide more tools to facilitate this process.

[2018-12-13 20:16] renatobecker commented on #12938
Hi @IITNTII.

I'm on our latest version and everything seems to work fine.

<img width="268" alt="screen shot 2018-12-13 at 18 15 13" src="https://user-images.githubusercontent.com/2067649/49965019-283ef700-ff03-11e8-95bc-7aaa798a5b30.png">

[2018-12-13 21:12] ubarsaiyan opened #12950 "Settings in Admin Panel not showing the changed value after reopening"
### Description:

Settings in Admin Panel are not showing the changed value after saving and reopening the Admin Panel without refreshing.

### Steps to reproduce:

1. Go to http://localhost:3000/admin/Layout (for example)
2. Turn the "Use Real Name" setting on (again for example)
3. Click on "save changes".
4. A green confirmation appears that the setting is saved.
5. Close the Admin Panel withou

[2018-12-13 23:33] reetp commented on #12789
It is retaining visitor data that makes it non GDPR compliant.....
All they have to do is contact you and say 'please remove all my personal data from the chat yesterday', we can't because it is in the database, and we end up with a large fine.
So it is a bug.

[2018-12-13 23:52] localguru commented on #12950
Might be a duplicate of #12144

[2018-12-14 02:41] IITNTII commented on #12938
I updated issue with picture, what I mean was the unread bar (Mark as read bar) which shown in to top of room. Thanks

[2018-12-14 03:16] sharkmax88 commented on #12693
The situation is exactly the same as in the previous commentator, with a 2 GB rocket, it was stably frozen once a week, with 4 GB everything is OK!

[2018-12-14 07:00] ubarsaiyan commented on #12950
@localguru yes it is. Sorry, didn't see that before. Closing the issue.

[2018-12-14 07:00] #12950 closed

[2018-12-14 09:56] mkalkbrenner commented on #3830
+1
This is the top (and often the only) issue, our users are complaining about!

Most of our users are using the macOS dektop client and you can configure Rocket.Chat's notifications in the macOS' sytem poreferences. But you can't distinguish between text messages and Video Calls there.

[2018-12-14 10:10] mkalkbrenner commented on #3830
see #3416

[2018-12-14 10:14] jankogaga commented on #12693
I must stress out that my Rocket running in docker has a lot of available RAM on the host node.
However, I don't know how to make Rocket to use it.
Does any configuration exist for Rocket in order to determine how much RAM to use?

[2018-12-14 11:38] reyalpsirc commented on #10714
This is open since May and no one from Rocket Chat answered it?

[2018-12-14 11:41] lecooliver opened #12953 "Usuário não encontrado ou senha incorreta"
Estou recebendo a mensagem `Usuário não encontrado ou senha incorreta` quando tento logar, mesmo tendo certeza de que a senha está correta. Esse problema está acontecendo com a empresa inteira.
Quando tento alterar a senha, recebo a o token no e-mail e quanto informo a nova senha, aparece a mensagem `Erro ao alterar senha`

- Version of Rocket.Chat Server: 0.72.1
- Operating System: Ubuntu 16.04 (

[2018-12-14 13:16] #12953 closed

[2018-12-14 14:12] l8nites commented on #12493
Agreed

[2018-12-14 18:35] cardoso opened #12956 "[NEW] Send 'mutable-content = 1' in APN payload"
This will allow us to support end-to-end encrypted notifications & also remove markdown in the client side.

https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/ModifyingNotifications.html

[2018-12-15 07:17] geekgonecrazy commented on #12497
i'm afraid not.

Best bet at this point is to make sure you have sticky sessions on so all traffic hits same instance

[2018-12-15 10:20] CahidTopkaraoglu commented on #12908
Exactly @exequos ,
Because of our customers can see the picture and name of our employees, it is not suitable for our KVKK (like GDPR) rules. It seems there is no feature that provides our request. We try to solve this issue in our locale.
Thanks for taking care for this issue.

[2018-12-15 11:45] eidermar opened #12962 "Jitsi (self hosted) not using provided configurations"
I have RC setup via Snaps on Ubuntu 18 and a self hosted Jitsi server. Now when I point the domain in RC's Settings -> Video Conference to my Jitsi domain it works but it seems not to obey to the config settings like in the browser.

I can only assume, but the reason I believe so is that I can see the standard Jitsi logo as watermark while this is replaced with a company logo on my installation. S

[2018-12-15 16:39] eidermar opened #12963 "Hand Rocket.Chat avatars over to Jitsi"
This a suggestion or a feature request if you will. Only cosmetic but I think it would make a lot of sense actually.

People have their avatars in RC but when a Jitsi conference is started we are stuck with the random avatars that Jitsi serves us. It would be nice to have the RC avatars handed over to Jitsi. For guests the random avatars are fine.

[2018-12-15 19:23] valmar opened #12964 "Registering user hangs forever with "Please wait" message"
### Description:

If a user tries to register, at the moment when the use clicks the "Register new account" button, the message "Please wait" appears, and the whole system hangs there, without ever moving forward.

If I log in as administrator, I see that the user has actually been created.

### Steps to reproduce:

1. Try to register as a new user
2. Click on "Register a new account"

### Expecte

[2018-12-15 20:25] msporny opened #12965 "IRC bridge fails on user leaving"
### Description:

RocketChat's IRC bridge loses the ability to relay messages due to an unhandled promise rejection. Specifically, it has an unhandled promise rejection when calling the IRC Bridge.handleQUIT method due to  RocketChat.models.Rooms.removeUsernameFromAll not being a known function.

### Steps to reproduce:

1. Setup a working IRC Bridge in RocketChat.
2. Verify that messages going bo

[2018-12-15 23:39] alexbartsch commented on #8835
@MartinSchoeler What do you think. Maybe old, but still a legitimate request. And, furthermore, only a small change.

[2018-12-16 04:23] horvan opened #12966 "No Account data in user data export"
Hi folks,

I've exported my user data from a RC-instance and the archive doesn't contain some information about my account jet

What's my user Name
Whats my E-Mail?
Which Oauth Providers I am using?
What data have I saved to custom fields?

All that stuff is *not* in the GDPR-Data Export

A additional.html would be really helpful to solve this issue,

The Archive contains 1 html-file per channel a

[2018-12-16 05:40] Aterfax commented on #9205
Also confirming this as a bit of an issue. Can't see an option or how to implement this with current.

[2018-12-16 11:56] ArjonBu commented on #1920
Is this issue going anywhere? There are a lot of interested people willing to work on this.

[2018-12-17 08:46] tuxmartin commented on #11653
@Hudell Ok, I understand it.

Do you have any time estimate? 0.75, 0.76, ...?

If you add this feature to any upcomming milestone the chance to resolve will increase. I hope :-)

[2018-12-17 08:50] Genzer opened #12967 "Feature Request: Tracking changes (audit) to Rocket.Chat Settings"
Hi guys

Our company is using Rocket.Chat internally and we would be very happy if Rocket.Chat could track changes made to Rocket.Chat's Settings.

We have several administrators and some of them may make changes to the Rocket.Chat's Settings without notifying the others. There were also times we would like to know who was the last person making the change and/or what was the previous value before

[2018-12-17 09:16] fabien4455 commented on #12873
Where can I open a feature request ? ...

[2018-12-17 10:44] fbuchmeier commented on #7586
We are facing the same issue with the following special character:
[code]

Is there anything we can do to help debug this issue?

[2018-12-17 10:48] arminlinzbauer commented on #12749
@tassoevan Why is such a major (but probably quite easily fixable) UX issue not taken care of? Tell me where to look and I'll try fixing it myself and do a pull request. Since my work requires me to send and receive links very frequently, this makes the whole RC experience very unpleasant for me.

[2018-12-17 12:17] rafaelks opened #12968 "Labels aren't aligned in Safari Web Client"
### Description:

Username & message label aren't aligned in Safari Web Client. I tested in Chrome and it looks good to me.

![screen shot 2018-12-13 at 08 32 48](https://user-images.githubusercontent.com/551004/50086687-f7054600-01e4-11e9-9b5c-52c780fcae3a.png)

[2018-12-17 13:56] tassoevan commented on #12749
@arminlinzbauer Currently, Rocket.Chat runs a series of transformations to the message text (if I remember well, via `RocketChat.callbacks.run('renderMessage', message)`) that sometimes conflict with each other because they were supposed to run over HTML code; there are similar issues for Markdown, KaTeX etc. It's a hard technical debt to solve... Your specific issue is related to https://github.c

[2018-12-17 14:48] mathiasblc commented on #533
Do someone at @RocketChatApp care about this? The bug report is open since 2015 and yet, 0 progress have been made. 👎

I find it a bit sad but my company, the NGO I volunteer for, friends I give counsel to, will stay on Mattermost (https://mattermost.com) for the time being.

[2018-12-17 15:30] suchkultur commented on #11649
Same issue using the docker container:

- Rocket.Chat Version: 0.72.0
- NodeJS Version: 8.11.3 - x64
- Platform: linux
- Process Port: 3000
- Site URL: https://rocket.tld
- ReplicaSet OpLog: Disabled
- Commit Hash: abe1f41202
- Commit Branch: HEAD

[2018-12-17 15:49] jhmk commented on #12497
The x-instance-id when I'm uploading a file is always the same.
When you know another method to test it let me know

[2018-12-17 15:50] tsukiRep commented on #12936
@ggazzo you are literally physically *checking whether a property exists before you check whether the entire thing exists* you brazilian fuckfuck
how do Code??
![2018-12-15_19-18-20](https://user-images.githubusercontent.com/39634109/50098190-bb39a300-021b-11e9-9e7d-f928b888002d.gif)

[2018-12-17 15:57] tsukiRep opened #12969 "Yes Do an And instead of an Or"
https://github.com/RocketChat/Rocket.Chat/blob/0d30a52487d8a47951a9b3aad735d839a12675f6/packages/rocketchat-lib/server/methods/getSingleMessage.js#L14

You guys I keep getting Exceptions in my Exceptions Channel because of you fuckfucks having an issue while Thinky the Head Procesas. Please change it thanks

[2018-12-17 16:01] tsukiRep commented on #12969
For example: One can hit the Three Dots button on a Message.
Then, someone else or the same person deleted the message,
Then you press Get Permalink.
Whoopsie Doopsie Error Ploopsie xDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD

[2018-12-17 16:05] tsukiRep commented on #12969
Same if you Trying to reply to a Deleted mEssage xd..
It's like 2 characters of code you fuckfucvks

[2018-12-17 16:58] piotrkochan commented on #533
@mathiasblc this is not a bug

[2018-12-17 17:57] mmgoilf opened #12974 "When changing avatar, avatar reverts back to old avatar after reload"
When changing avatars, sometimes there is a bug that if you reload the server the avatar reverts back to the old one. The new avatar will however show up when I open rocketchat in browser (after changing avatar in client), and the new avatar shows up for other people. According to someone this problem happens for him in browser too, so it is not client exclusive. I was asked to reopen the issue he

[2018-12-17 19:40] geekgonecrazy commented on #12890
One thing to be super cautious about is what ever font family chose here needs to be in the snap and docker images.

[2018-12-18 04:12] geekgonecrazy commented on #12969
Watch your language.  Edited to remove..

[2018-12-18 09:24] snoopotic commented on #6545
Hi. It seems the migration-problem still occurrs in 0.72.3

[34mI20181218-09:17:03.427(0) rocketchat_logger rocketchat_logger.js:299 [34mCROWD ➔ info Init CROWD login myuser
[34mI20181218-09:17:03.429(0) rocketchat_logger rocketchat_logger.js:299 [34mCROWD ➔ info Going to crowd: myuser
[34mI20181218-09:17:04.017(0) rocketchat_logger rocketchat_logger.js:299 [31mCROWD ➔ error Error creating n

[2018-12-18 10:51] panta82 opened #12976 "When user doesn't have any preferences, users.getPreferences fails with "Cannot set property 'language' of undefined""
### Description:

When user doesn't have preferences, the REST API call https://rocket.chat/docs/developer-guides/rest-api/users/get-preferences/ fails with `{"success":false,"error":"Cannot set property 'language' of undefined"}`.

The problem is in this line: https://github.com/RocketChat/Rocket.Chat/blob/3dacacc8ca300b56a7b43ab1265c75450109ae51/packages/rocketchat-api/server/v1/users.js#L376

T

[2018-12-18 11:26] camilaestela opened #12977 "502 Bad Gateway"
I have one issue with rocketchat-server
Everyday the rocket gives the problem 502 bad gateway
https://github.com/RocketChat/Rocket.Chat/issues/7402
Sometimes revert and refresh snap works, but today it is not

sudo systemctl status snap.rocketchat-server.rocketchat-server.service
● snap.rocketchat-server.rocketchat-server.service - Service for snap application rocketchat-server.rocketchat-server

[2018-12-18 11:52] #12977 closed

[2018-12-18 11:53] camilaestela commented on #12977
systemctl start snap.rocketchat-server.rocketchat-server.service

 snap refresh rocketchat-server

[2018-12-18 12:56] dmoldovan123 opened #12978 "Deleting the user who owns a private channel"
### Description:
I do not have permission to delete a user who owns a private channel.

### Actual behavior:

Is there any way to delete a user who owns a private channel by moving random owner to a user in that private channel?

### Server Setup Information:

- Version of Rocket.Chat Server: 0.70.4
- Operating System: ubuntu 16.04
- Deployment Method: tar
- Number of Running Instances: 10
- DB Re

[2018-12-18 13:01] twi123 commented on #12349
Replace ":" symbol in file name

Try  this patch:

[code]

[2018-12-18 16:32] steerben opened #12979 "Allow custom rocketchat username for crowd users and enable login via email/crowd_username"
### Description:

Currently the CROWD Plugin does working correct when allowing custom usernames (read: Allow users to change username) via their Rocketchat user settings. It is quite a common feature to use this custom name as a mention name.

Additionally the crowd plugin does not allow to login via email (even if the login UI suggests it would work), nor specifically the crowd_username (if the

[2018-12-18 16:43] boldwade commented on #878
@albjeremias , did you ever figure this out? It's a mystery to me as well on how I would set this up.

[2018-12-18 18:14] graywolf336 commented on #12906
@MarcosSpessatto fyi

[2018-12-18 18:51] marceloschmidt opened #12986 "Allow privileged user to be invisible in members list"
I'd like privileged users to be able to join a channel (or have an admin add them) in an invisible mode, meaning their join/leave messages won't be displayed and they will also not appear on the members list.

[2018-12-18 19:18] dpunk3 opened #12987 "Can't start MongoDB"
I am running Ubuntu 14.04 LTS on a VM and trying to install Rocket.Chat. I have gotten to the last point where I need to run the MongoDB service through systemctl and every time I get a "Failed to issue method call: No such file or directory".

I am really new to all this so after troubleshooting for 5+ hours I've turned up pretty much nothing. Thought maybe someone here could help?

[2018-12-18 23:01] #4653 closed

[2018-12-19 02:06] fuminori-ido commented on #8031
https://rocket.chat/docs/developer-guides/quick-start/ following part looks incorrect:

It should be as follows, right?

[2018-12-19 03:30] poka-IT commented on #6000
New like for this doc: https://rocket.chat/docs/developer-guides/rest-api/rooms/cleanhistory/

[2018-12-19 09:14] exhuma opened #12990 "Allow to add reaction buttons without actually adding a reaction (for simple polls)"
We sometimes use rocket-chat for quick-polls and are using the reactions for this.

It would be really nice to be able to "prefill" the possible reactions (f. ex. a thumbs-up and thumbs-down). This way, the people responding to the poll don't need to look-up an appropriate emoji.

Example:

In the image below, there is currently only a thumbs-up emoji present. If someone wants to downvote the prop

[2018-12-19 09:15] TheMythPT commented on #11604
same issue in 0.72.3

[2018-12-19 09:21] Shaverdoff commented on #11604
that issues i think becouse rocketchat client is Electron. if on web-client the same bug - desktop client have the same

[2018-12-19 10:55] fabien4455 commented on #12873
But that's also a bug.. not only a feature request. CAS is not used correctly in rocket chat...

[2018-12-19 10:59] fabien4455 opened #12991 "Users can edit messages when they are muted"
### Steps to reproduce:

Mute user
Try to edit message with the muted user

### Expected behavior:

User cant edit old messages...

### Actual behavior:

Muted user can edit messages...

### Server Setup Information:

- Version of Rocket.Chat Server: 0.71.1
- Operating System: Ubuntu 18.04
- Deployment Method: docker ( docker-compose.yml )
- Number of Running Instances: 1
- DB Replicaset Oplog:
-

[2018-12-19 11:58] sandys commented on #12110
Any update on this ?

[2018-12-19 12:14] TomaszDom commented on #12781
Looking at how meteor development cycles go, I think we have a few months without upgrades to go.

[2018-12-19 12:20] vlasenko opened #12993 "End to end encryption, insufficient iterations when deriving master key"
Hi There,

Right now according to this code, 1000 iterations is used for PBKDF2 to derive master key for encrypting private RSA key of the user and storing it to the DB:
https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-e2e/client/helper.js#L86
Please correct me if I am looking to the wrong place. This weakens protection from offline attacks when adversary has stolen the d

[2018-12-19 12:32] reetp commented on #12987
This is most likely a support issue rather than bug in Rocketchat.

You haven't really provided enough information either. No details on installation type, logs, what you have done, guides you have followed etc.

Please ask in the forums https://forums.rocket.chat/ or in the chat here https://open.rocket.chat/channel/support

Read this first:
http://rocketchat.github.io/docs/contributing/reporting

[2018-12-19 12:33] reetp commented on #12987
@rocket-cat close

Please reopen or create a new issue if you actually find a bug.

[2018-12-19 12:33] #12987 closed

[2018-12-19 12:43] reetp commented on #12978
Please always check on the latest version first as your issue may have been fixed. Current is 0.72.3

It's item no 2 on the list here:

https://rocket.chat/docs/contributing/reporting-issues

I also can't remember for sure but think this may have been reported already - can you please have a good search in the Issues, including closed ones please.

[2018-12-19 12:44] reetp commented on #12978
This may also be related

https://github.com/RocketChat/Rocket.Chat/issues/12870

[2018-12-19 13:21] visur98 commented on #7132
getting the same issue i installed rocketchat by snap in ubuntu 16.04 LTS

[2018-12-19 15:03] OwenCalvin commented on #12864
Same issue here

[2018-12-19 16:49] BlackFenix2 commented on #11308
Is there any update on this? i still cannot disable messages in notifications on my rocket.chat cloud instance

[2018-12-19 16:56] geekgonecrazy commented on #12956
Looks like in raix/push it would be modified around here: https://github.com/raix/push/blob/master/lib/common/notifications.js#L30 . Just would need to make sure that its an int here instead of boolean

As well as around here: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/server/lib/PushNotification.js#L19

Not sure exactly where the logic is that talks to push gat

[2018-12-19 18:26] the4ndy opened #12996 "4 back ticks + a space + 4 back ticks creates a random string"
### Description:

In the rocket chat windows desktop app, if you type 4 back ticks a space and then 4 more back ticks and hit enter, it will generate a random string similar to this =!=hAdJBWXo6kaAnw688=!=

### Steps to reproduce:

1. In any chat, type "```` ````" (without quotes) and hit enter

### Expected behavior:

i would expect that the 3 back ticks would create a code block, escaped by the

[2018-12-19 18:54] #12504 closed

[2018-12-19 20:20] Hudell commented on #12996
The parser is picking the internal three backticks first and converting it into a token, then picking the outer backticks with the token inside, which is then not being parsed properly.

PR #12998 fixes the parsing to recognize it as two different code blocks, but that still isn't the expected output.

![image](https://user-images.githubusercontent.com/2692247/50245854-bf4ff700-03ba-11e9-8300-078a

[2018-12-19 22:52] NgCongMinh opened #13000 "Customize ui is not possible"
Hi guys,

I only want to add a custom button next to the send button and add attachment button to add some cool feature.
I thought I have to edit in /packages/rocketchat-ui-message some files and build it again with docker-compose up. But the changes does not appears.

Is it not possible to edit the ui that way?

Btw I am not that good in the whole frontend stuff and docker. Just trying to do some

[2018-12-20 00:58] chatnl commented on #5020
More than two years have past after the first post in this topic. Does somebody know if there is any progress regarding the development of the option to switch the status option off? I really can not use Rocket Chat at this moment as a chat platform because of people lurking in the background and staying hidden...

[2018-12-20 01:48] chatnl commented on #5020
Ok, because of the lack of a proper solution I have just nukes my invisible status option by entering the following at "custom css" in the layout section:

li.rc-popover__item.rc-popover__item--offline.js-action {
display: none !important;
}

Now I can atleast start using it...

[2018-12-20 04:38] IITNTII commented on #13000
Hi @NgCongMinh,

First of all, `docker-compose.yml` in Rocket.Chat was configured to get `rocketchat/rocket.chat:latest` image from docker hub. It's not possible for you to make it work that way. You have to build Rocket.Chat project first by execute `meteor build` ( you have to build it in linux ) to get the bundle `rocket.chat.tar.gz`. And then build your own docker image and run it. Here is Doc

[2018-12-20 08:36] tsr-caubry opened #13001 "ts fied automaticaly added when author_name is used in webhook attachments"
### Description:

When using the author_name field in attachments posted through webhook the ts field is automatically added with a wrong value (seems unixtime 1).

### Steps to reproduce:

1. Creation a webhook (without or with a script enabled)
2. Send a message with attachment that contain the author_name field through the webhook
3. Verifying the result on the channel where the webhook post th

[2018-12-20 09:08] NgCongMinh commented on #13000
Thank you for your fast answer. I really appreciate that.

No I never worked with Meteor. I only worked on Java based projects.

So basically this is what I have to do

1. change the actual HTML/JS file

2. modify or write a new docker-compose.yml with Meteor build integrated

3. run the app

Am I wrong?

[2018-12-20 09:10] edurenye commented on #12864
IMHO, I don't think is really a solution to use legacy always, I think it should chose one or the other depending on the browser, isn't it? Maybe I'm wrong.

[2018-12-20 09:16] nodje opened #13002 "FR: give the option to paste unformatted instead of sending a picture"
When users try to paste some complex/not supported formatted text, they are shown the option of sending a "picture" of their copied document.  (As far as I can see this happens especially with MS Word documents)

This is nice but isn't always the most desirable solution.
Having the possibility to paste the copied content as "text" even unformatted would be an improvement I believe.

[2018-12-20 09:51] tntho commented on #13000
You can not go to step 2, 3 if you don't have an environment which can run Meteor project.
You can start which this tutorial https://rocket.chat/docs/developer-guides/quick-start/.
So basically
1. Install Meteor
2. Try to run Rocket.Chat by execute `meteor npm start`
--> For docker
3. Bundle Rocket.Chat by execute `meteor build /path/to/build`, you will have `rocket.chat.tar.gz` Reference: https:/

[2018-12-20 10:32] piotrkochan commented on #12974
Probably Rocket.Chat.Electron issue but similar bug appears in the regular browser.

[2018-12-20 11:52] marceloschmidt commented on #12986
Hmmm I guess you're right :P moved it to the [forums](https://forums.rocket.chat/t/allow-privileged-user-to-be-invisible-in-members-list/2749). Thanks.

[2018-12-20 11:52] #12986 closed

[2018-12-20 11:57] rodrigok commented on #12864
@edurenye we are developing a new [livechat frontend](https://github.com/RocketChat/Rocket.Chat.Livechat) and we hope it will be ready next month (January 2019). It will use webpack as build system and React as UI framework, and will fully replace the current one, that's why I don't think you need to worry about this workaround.

[2018-12-20 13:09] tassoevan commented on #13002
Is the issue with MS Office docs happening for Windows users too? I've seen reports only for MacOS.

[2018-12-20 13:13] tassoevan commented on #12974
@piotrkochan It was posted there before: https://github.com/RocketChat/Rocket.Chat.Electron/issues/1037

[2018-12-20 13:21] bugnotmenow commented on #10328
Still the same issue with version 0.72.3. Nobody fixed it.

[2018-12-20 13:33] tassoevan commented on #10530
The next release will bring some general bugs fixes for media recording (#12948).

@octanefilms This is going to be fixed too; however Safari doesn't support the MediaRecorder API yet, which means no video recording for a while too.

[2018-12-20 13:47] tassoevan commented on #4637
@sampaiodiego @rodrigok This is blocked by #11180.

[2018-12-20 13:56] RuslanMar4enko commented on #12911
This question also interests me!!!!

[2018-12-20 14:22] esolitos commented on #11356
I can confirm, still happening on: `0.72.3`

[2018-12-20 14:32] nedbase-jesse commented on #11356
@geekgonecrazy is this on your radar?

[2018-12-20 14:43] geekgonecrazy commented on #11356
Not mine specifically.. I don’t do much with importers.

@Hudell maybe on yours?

[2018-12-20 14:48] Shaverdoff commented on #12203
Short-term is wonderfull but is any progress about this case?

[2018-12-20 15:20] tiagoefreitas commented on #12417
Public only means its accessible by all users of the server, it has nothing to do with security.
If we want security for all users and all conversations, then E2E should be used for everything by default, like Whatsapp and Signal do.
Encryption should be as much invisible to the users as possible.

[2018-12-20 15:44] Hugo-Trentesaux commented on #4297
assertion: 17369 Backing up users and roles is only supported for clusters with auth schema versions 1 or 3, found: 5

[2018-12-20 16:19] tiagoefreitas opened #13003 "File upload with Nextcloud Webdav creating empty files"
I always get empty files (0 bytes) with random filenames created in nextcloud webdav when uploading...no error in rocket.chat it just doesn't upload properly.

[2018-12-20 17:18] cardoso commented on #12956
@geekgonecrazy are we not using https://github.com/RocketChat/push now in place of raix?

[2018-12-20 17:34] #12753 closed

[2018-12-20 17:37] #12660 closed

[2018-12-20 18:18] cryptify opened #13006 "Messages pruned on web browser do not delete in mobile"
As title says, when Admin prunes messages on web browser, android users retain messages locally. Any way to force prune for all users?

[2018-12-20 18:48] cameracker opened #13007 "Sending URLS that contain a fragment identifier matching a channel name (#<roomname>) breaks the URL paste"
### Description:

If a user sends a URL that has a fragment identifier that happens to match the name of an existing channel, the URL paste will break and apply a malformed message to the chat when sent.

### Steps to reproduce:

1. Paste a URL that contains a fragment identifier matching an existing rocketchat channel
    Example: http://link.to.thing?#general
2. Send the message
3. Observe that

[2018-12-20 21:18] j2l opened #13012 "DynamicCss is not defined"
### Description:

Can't change any Color.
Leaving and re-entering Admin > Layout shows emptied CSS and stock content.

### Steps to reproduce:

1.Admin Panel > Layout > Custom CSS > Colors
Content =(color) #C2FFC0

### Expected behavior:

change background color

### Actual behavior:

No change, #fff is still applied.

### Server Setup Information:

- Version of Rocket.Chat Server: 0.72.3

### Add

[2018-12-20 22:38] #11656 closed

[2018-12-20 22:41] geekgonecrazy commented on #12956
You're right we are: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-api/server/v1/push.js#L4

I think we did while waiting on them to include a patch.  I think they have since merged it... so not sure if the fork is still necessary or not.  @sampaiodiego would be able to tell us for sure :)

[2018-12-20 22:43] geekgonecrazy commented on #4297
this is referring to mongo level users and roles not Rocket.Chat users and roles.  For what that's worth

[2018-12-20 22:47] #11792 closed

[2018-12-20 22:48] #12716 closed

[2018-12-20 22:52] #12476 closed

[2018-12-20 23:37] #12155 closed

[2018-12-20 23:38] #12845 closed

[2018-12-20 23:39] #12787 closed

[2018-12-20 23:49] #12419 closed

[2018-12-21 00:31] #12535 closed

[2018-12-21 00:37] #7275 closed

[2018-12-21 00:49] #11248 closed

[2018-12-21 02:12] rodrigok opened #13015 "Release 0.73.0"
# Release 0.73.0
We are releasing a new version, this issue will keep track of the progress between the first release candidate (20th of each month) to the final release (27th of each month).

Beginning on the 20th of each month, we will start the release process which ends 7 days later (the 27th). During this period of time, we will enter a "Feature Freeze". This Feature Freeze means that we will

[2018-12-21 08:10] esolitos commented on #9021
On macOS (`10.13.6 (17G5006)`) this seem to be working fine, I can type any character and combination of characters without issues with US-int kayboard.

[2018-12-21 08:21] nish7898 commented on #12976
Hello,
Could you please attach an example citing when does this happen,
.Whenever an user is created, the preference is set by default as
"preferences":{"sidebarViewMode":"extended"}

Thank you

[2018-12-21 08:32] j2l commented on #13012
Alright,

I think I found why CSS and Colors are not applied / updated after a change in Layout for some users, like me:
Do you use a CDN, like Cloudflare?
If so, you must dump its cache before seeing changes too, not just your browser.
That's why sometimes, you see changes applied after "some time" (cache expiration).

In Cloudflare admin panel, click on the highlighted spots:
![image](https://us

[2018-12-21 08:32] #13012 closed

[2018-12-21 09:12] YoungLinkar opened #13017 "Bot does not respond to direct messages (setReaction Error)"
HI?
I am using a bot and i'm facing some problems.
The Bot is online, receives the messages but does not respond to them. It throws the following error:
error: [setReaction] error:

And nothing more
Is there any help, please?

[2018-12-21 11:51] esolitos opened #13018 "Live chat failing on Chrome 68.0.3"
### Description:

Deploying LiveChat doesn't seems to be working properly while on Chrome (Tested version: 68.0.3440.106), throws a couple of exceptions in the console (see details below) and doesn't show anything.

Seems to be working fine on Firefox (Tested: 62.0.3) and Safari (Tested: 12.0 / 14606.1.36.1.9)

### Steps to reproduce:

1. Enable and do basic configuration of the "Live Chat" featur

[2018-12-21 12:21] renatobecker commented on #13018
Hi @esolitos.
The error you reported is not related to Livechat itself, please take a look at here:
https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document

Feel free to leave a feedback here after reading the instruction on the link I just posted above.
Thanks.

[2018-12-21 12:21] #13018 closed

[2018-12-21 12:23] tassoevan commented on #12864
@edurenye It is at another repo at the moment: https://github.com/RocketChat/Rocket.Chat.Livechat

[2018-12-21 12:59] esolitos commented on #13018
Hi @renatobecker, thanks for the quick reply. :)
Shouldn't LiveChat work even without localStorage? I understand that this depends on the "block 3rd party cookies and data", but I regularly use several other "live chat" services and they all work with this setting, so it should be possible to have this working as well with reduced functionality perhaps.
This behaviour is also suggested also by the

[2018-12-21 12:59] pascal-t commented on #9021
When I reported the bug I was primarily using the Client. I just tested it again:
It works fine in Firefox and Chrome (I don't know if that has been the case when I reported the bug)
However it does not work in the Desktop App.

[2018-12-21 13:31] cadetmsv opened #13019 "Add the field "Full name" to manually fill in the "fname" when creating the channel"
We use a lot of channels in our work. When creating new channels we faced a problem in the channel names. In the channel name you can use only English letters, numbers and symbols "-", "_". It is impossible to create a channel with a name in the native language (Russian). The "UI_Allow_room_names_with_special_chars" parameter in "true" does not solve the problem.

I have already reported about thi

[2018-12-21 13:48] julian70400 commented on #10530
Same here. Problem with Chrome and client. But it works with Firefox.

[2018-12-21 16:20] tassoevan commented on #10530
@julian70400 If you are running Chrome 71, is a known issue (#12899).

[2018-12-21 23:20] geekgonecrazy commented on #12781
For any of those here experiencing it feel free to thumbs up the meteor issue.  Maybe we can make a bit of noise and get it to happen a bit quicker.

[2018-12-22 00:43] Frank-hfj opened #13022 "Android 7.1 / 8 and Iphone X IOS12 can't get notification on mobile desktop"
Hi RocketChat
Here I got some problem on my RC server. The Server version is 0.69.2 and I have test tow clients， one is Nexus6 on Android 7.1
the other is iphone6 on IOS11.3 .
1. The iphone6 connect to server can get notification when the app run in backgroud But the Nexus6 can't (no notification on mobile desktop)
and I have already open all the privileges on Nexus6 for rocketchat app。
2.  More t

[2018-12-22 17:11] jseong309 opened #13023 "Mobile app for video chat"
The mobile app never gets the "join video chat" message.
I would have to open my web browser and login to rocket.chat and click on the link to jitsi.
It's essentially just a link to jitsi. Can this be added to the mobile app? Without having to do this extra step that's just a link to another app?

[2018-12-23 12:54] rezakamalifard commented on #10714
+1

[2018-12-23 17:15] marz71 opened #13024 "Edge does not refresh/update page in v0.72.3"
Rocket.Chat Version: 0.72.3
Ubuntu 18.04: 4.15.0-32-generic

It's possible to log inn with Edge and everything seems OK. But it's not possible to see new messages. The only way to see new messages is to hit F5.

Easy to reproduce, bug appears every time:

1) Start Chrome, enter chat, enter any room (also private group or direct messages)
2) Start Edge and enter the same room.
3) Write message in C

[2018-12-23 18:42] lorek123 commented on #13023
Seems that you need to wait a moment: https://forums.rocket.chat/t/2019-q1-mobile-team/2695

[2018-12-24 03:32] khegiw opened #13025 "Livechat CRM integration triggers and webhooks not working on chat close and visitors message event"
### Description:

Livechat Send Request on Chat Close and Send Request on Visitor Messages event not send POST request to CRM webhooks, but working for Send Request on Offline Messages event.

### Server Setup Information:

- Version of Rocket.Chat Server: 0.72.3
- Operating System: Ubuntu 16.04.4 LTS
- Deployment Method: snap

[2018-12-24 12:58] SDAdham commented on #12301
Sorry @reetp for the delayed reply. I looked up the **journalctl** but there was not much of information about this issue. But thanks for following it up with the enhancement.

[2018-12-24 16:59] #11696 closed

[2018-12-24 16:59] #10967 closed

[2018-12-25 08:00] ged-nn commented on #11503
Need key autostart for silent install "/autostart"

[2018-12-25 08:04] ged-nn opened #13028 "Add key /autostart for install"
Need key autostart for silent install "/autostart".

[2018-12-25 10:59] Alaa-23 commented on #1765
Where are these saved on the server?

[2018-12-25 14:38] tassoevan commented on #13028
This issue is related to the desktop client, which is based at another repository. Please take a look at its README section: https://github.com/RocketChat/Rocket.Chat.Electron#windows-options

[2018-12-25 14:38] #13028 closed

[2018-12-25 15:29] chtsngn opened #13029 "Real-time API 'rooms/get' is not filtered"
Hi,

I want to filter the real-time API by custom fields.

#### Using VueJS:
[code]
#### I'm trying this:
[code]

But it's giving me all the rooms. I reviewed the codes shown below. I think it's only possible to filter by date.

https://github.com/RocketChat/Rocket.Chat/blob/6151a895c88e93c2fbc74e75954f28a8d412c38a/server/publications/room.js#L53-L78

Is there another way or should this be correct

[2018-12-26 08:32] vidoshsahu commented on #12854
In one of our use case, I am using RC as a agent messaging platform. Now we have a big customer base and hence the number of channels. Is there any possibility in the current roadmap to implement this functionality? Just for a suggestion please find the below screen shot.

![3372d901-b227-43c9-a4cb-4ed950959a9a](https://user-images.githubusercontent.com/1298244/50439112-ce80f880-0916-11e9-8bdc-0e8

[2018-12-26 11:17] rafaelks opened #13030 "Create an API that implements "jitsi:updateTimeout" Meteor method"
Would like to have an API that implements this Meteor method so we can use it from the mobile apps.

https://github.com/RocketChat/Rocket.Chat/blob/db9ff047bedc5027c8dc2db43b4fdb48274d653c/packages/rocketchat-videobridge/server/methods/jitsiSetTimeout.js#L5-L37

[2018-12-26 12:39] sampaiodiego commented on #1765
they're sent to stdout..

[2018-12-26 12:41] Alaa-23 commented on #1765
Thanks for your reply! How can I save them, though?

[2018-12-26 12:48] sampaiodiego commented on #1765
it's up to you.. it depends entirely on how your set up is..

if you run just `node`, you could do for example: `node main.js > saved-logs.txt` got it?

[2018-12-26 21:31] RussianJohny commented on #10046
### When ??? ???

[2018-12-27 09:07] fabien4455 commented on #12668
@tassoevan Closing this issue will help ? If I hopened a new issue it's because the old one was opened over 12 months ago and it's a big issue when you upload files without extension or some file.a file.c file.b.....

[2018-12-27 13:04] #6645 closed

[2018-12-27 13:32] marceloschmidt commented on #6824
The read marker should go away when you've read the messages. If it doesn't, you could also hit "ESC" to make it go away. If that's not happening, this is most likely a bug. Please advise.

[2018-12-27 13:36] marceloschmidt commented on #6872
You can e-mail messages from a specific channel or download all your data if you go to your profile settings. If you need a download functionality on rooms, please request on the [forums](https://forums.rocket.chat) and let's discuss it.

[2018-12-27 13:36] #6872 closed

[2018-12-27 13:40] tassoevan commented on #12668
@fabien4455 We don't discriminate between old and new issues. However, I noticed that I forgot to allocate #8540 into a milestone for planning and I fixed that.

[2018-12-27 13:42] marceloschmidt commented on #6882
This depends on performance changes to better deal with streams.

[2018-12-27 14:12] sampaiodiego commented on #6888
just adding a screenshot to show how others do this:
![image](https://user-images.githubusercontent.com/8591547/50482937-6bec3300-09d0-11e9-9f1a-7428aa29284e.png)

it's also very simple to use and manage.. you create a "category" then drag and drop channels into it. or you can use the "+" icon to create a channel inside of a category

[2018-12-27 14:55] fabien4455 commented on #12668
@tassoevan Hi

Thank's for the reply and please tell me by closing the old thread when it's fixed... Maybe in 0.74.0 and then I'll update 👍

[2018-12-27 15:03] Sing-Li commented on #6888
With scaled server configurations, the ability to create and manage subgroups will become basic requirement just to maintain usability.   johnmberger and his group is one of our earliest community members deploying scaled configurations - and their solution as a PR has been referenced above  -
 #8873

[2018-12-27 16:01] tassoevan commented on #6026
@Hudell and @rodrigok: While triaging #8540, I discovered the `FileUpload.addExtensionTo(file)` method. Is it mandatory?

[2018-12-27 17:04] barak-haviv commented on #8251
is that really work to someone?
It doesn't work for me

[2018-12-27 18:47] marceloschmidt commented on #6878
Moved this to the [forums](https://forums.rocket.chat/t/allow-selecting-which-channels-should-be-synced-in-in-slackbridge-issue-6878/2780) for discussion.

[2018-12-27 18:47] #6878 closed

[2018-12-27 19:03] #8540 closed

[2018-12-28 03:31] wreiske opened #13041 "getUsersOfRoom broken in 0.73.0"
### Description:

After updating to 0.73.0, I can no longer see the members list in a group

### Steps to reproduce:

1. Upgrade to 0.73.0
2. Click on member's list in a group

### Expected behavior:

Show the group member list.

### Actual behavior:

## CLIENT
[code]

![screen shot 2018-12-27 at 10 12 24 pm](https://user-images.githubusercontent.com/6295044/50501526-d16b0e80-0a26-11e9-8a22-f562df

[2018-12-28 04:10] Antairez commented on #4780
@geekgonecrazy Thanks for the info, are you saying that setting proxy the way just like @holgerdell did (by running `sudo systemctl edit snap.rocketchat-server.rocketchat-server.service`)will be possible after the release of 0.73.0 for snap users?

[code]

Or is there a recommended way to set it properly and make sure it persists across snap refreshes?

[2018-12-28 04:37] geekgonecrazy commented on #13041
@rodrigok @sampaiodiego 🔝

[2018-12-28 04:49] geekgonecrazy commented on #13041
Posting here for completeness.  Updating to mongo 3.4 will resolve.

https://docs.mongodb.com/manual/reference/operator/aggregation/replaceRoot/ Docs with note of required version.  Will need to update docs or bug fix to remove

[2018-12-28 05:12] geekgonecrazy commented on #4780
After the snap is released for 0.73.0 you will be able to set any environment variable for the snap by dropping a .env file in the common folder.  I believe the docs will be updated soon.  It will be a few days as usual before the snap release is available.

[2018-12-28 05:42] immanuelfodor opened #13042 "RocketChat 0.73.0 won't start"
### Description:

After upgrading the server from 0.72.1 to 0.73.0, it won't start and an exception is printed to syslog. Restoring the folder to the backup is running again fine.

### Steps to reproduce:

Acting as root:

[code]

### Expected behavior:

0.73.0 starts up fine without errors.

### Actual behavior:

An error is printed to syslog and 0.73.0 won't start up, server inaccessible from An

[2018-12-28 06:04] immanuelfodor commented on #13042
Refs Release 0.73.0 #13040

[2018-12-28 06:20] immanuelfodor commented on #13042
I guess the problem lies somewhere here in this relatively new file (7 days ago): https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-importer/server/startup/store.js
I have no `~/uploads` folder (never had).

[2018-12-28 09:13] Pitstopper commented on #13042
@immanuelfodor same problem

[2018-12-28 09:16] adalenv opened #13043 "How to prevent message deletion or prune for a role?"

[2018-12-28 10:13] ochbob opened #13044 "Rocket.Chat 0.73 hang up Updating process.env.MAIL_URL"
### Description:

Since update to 0.73, when I start the server, it hang up to:  Updating process.env.MAIL_URL
No issue with 0.72.3.

### Steps to reproduce:

 Starting the server with 0.73 version.

### Server Setup Information:

- Version of Rocket.Chat Server: 0.73
- Operating System: Debian Stretch 9.6
- Deployment Method: Manual
- Number of Running Instances: 1
- DB Replicaset Oplog:
- NodeJS

[2018-12-28 10:42] himpierre commented on #13044
`Dec 28 09:58:30 rocketchat[21510]: Exception in callback of async function: { Error: EACCES: permission denied, mkdir '/home/rocketchat'
`

Maybe thats the problem?

[2018-12-28 11:15] ochbob commented on #13044
I don't know to be honest, I did not change anything from 0.72.3 to 0.73, but maybe you right.

My user "rocketchat" is a system user with home directory:  "/home/rocketchat"

[2018-12-28 12:16] linuxmangr commented on #1675
Hello,
I have the same Problem and I try to set
`image/*,audio/*,video/*,application/zip,application/pdf,text/plain, text/csv,application/ms-powerpoint,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.oasis.opendocument.s

[2018-12-28 12:35] TomaszDom commented on #13041
Guys, first replicaset number prefix breaks installations with no warning, now a core dependency is changed without a warning? And why does it matter that the mongodb release reached EOL, but you still require an unpatched nodejs version from September 2018. Again, not cool!

[2018-12-28 12:48] sampaiodiego commented on #13042
thanks @immanuelfodor for the very detailed report.. I'll work on a fix for this ASAP

[2018-12-28 13:01] ochbob commented on #9632
Any news ?

[2018-12-28 13:01] sampaiodiego commented on #13041
sry @TomaszDom you're right. we didn't take enough care about this one, but as you noticed, we released 0.73.0 last night and are already working to make it land fine to as many users as we can..

the other issues you mentioned are out of our control though:

* meteor is not updating the nodejs version as you can [see here](https://github.com/meteor/meteor/blob/devel/History.md#changes-2)

* the r

[2018-12-28 13:13] tassoevan commented on #9632
The whole bunch of WebRTC support relied over the deprecated `URL.createObjectURL()` API which was removed for Google Chrome 71. AFAIK some browser-specific bugs and changes in the front-end team contributed for the postponing too. I'm still checking the amount of rework required to get this feature back on track.

[2018-12-28 13:17] Shaverdoff commented on #9632
So not all users netsurfing on Gh, some of them use ff;) like me:) This is only opinion, no claims

--
Gerasim Shaverdov | Deputy CTO | Altarix
Mobile: +7 937 070 66 84<tel:+7%20937%20070%2066%2084> | Skype/email: gerasim@altarix.ru<mailto:gerasim@altarix.ru>
Lenina av.25, Samara, Russia, 443068

28 дек. 2018 г., в 17:13, Tasso Evangelista <notifications@github.com<mailto:notifications@github.com>

[2018-12-28 13:19] Alaa-23 commented on #1765
Yes, that worked for me, many thanks! :)

[2018-12-28 14:02] dctheee opened #13046 "ENOTFOUND marketplace.rocket.chat"
![capture](https://user-images.githubusercontent.com/46223006/50517694-128b0f00-0a77-11e9-9294-713329450e63.JPG)

Description:

Hey all! Relatively new to Rocketchat. Whenever I attempt to install a new app, either via the Marketplace (by clicking on the "+"), I get the following error:

"getaddrinfo ENOTFOUND marketplace.rocket.chat marketplace.rocket.chat:443"

It shows up as a big red box in th

[2018-12-28 14:34] TheMythPT commented on #13046
Are you proxying your snap installation?
Which webserver are you running in your server?

[2018-12-28 14:37] dctheee commented on #13046
No proxy.
They webserver should just be the default configured when installing the snap. Literally nothing else has changed.

[2018-12-28 14:43] TheMythPT commented on #13046
I've never used Caddy to proxy the Rocket.chat instance.
I'd probably advise you to install Apache and then proxy it.
I can help you if you want.
Also, would you want SSL/TLS in your instance?
Can you `add/delete` DNS records?

[2018-12-28 14:45] dctheee commented on #13046
I'll eventually do SSL. Currently just in testing mode until fully deployed.

Haven't yet configured the domain. Just intending to run through dynamic dns and redirect traffic to port 3000. Currently just accessing through public IP and port 3000.

[2018-12-28 14:49] TheMythPT commented on #13046
At a 1st glance, the problem rely in the fact that the domain isn't found (that means no DNS record).
Configuring a DNS record, installing Apache and proxying the instance via Apache would solve that quickly

[2018-12-28 14:55] TheMythPT commented on #13046
Or it can be a problem in their end (I need to test later in my instance to be sure)

[2018-12-28 15:07] ParkHost opened #13047 "NTPD loop after update to 0.73; "Operation not permitted""
### Description:

NTPD loop after update to 0.73; "Operation not permitted"

### Server Setup Information:

- Version of Rocket.Chat Server: 0.73
- Operating System: Debian
- Deployment Method: LXD
- Number of Running Instances: 1

Dec 28 15:59:53   ntpd[217]: adj_systime: Operation not permitted
Dec 28 15:59:54   ntpd[217]: adj_systime: Operation not permitted
Dec 28 15:59:55   ntpd[217]: adj_sys

[2018-12-28 15:45] MrHpower commented on #13047
btw reversed back to 0.72.1, everything is up and running again.

[2018-12-28 15:59] #13046 closed

[2018-12-28 16:42] reetp commented on #12967
Thank you for your comment.
Please note that all new feature requests should now be opened in the forums:
https://forums.rocket.chat/

[2018-12-28 16:42] reetp commented on #12967
@rocket-cat close

[2018-12-28 16:42] #12967 closed

[2018-12-28 16:46] reetp commented on #13019
For New Feature Requests you should keep discussions in the forums and not here.
If they are popular the developers will consider them, but it does depend on their priorities. Please don't keep asking though. It won't get your request looked at any quicker.
Thank you.

[2018-12-28 16:47] reetp commented on #13019
@rocket-cat close
Duplicate of #12638

[2018-12-28 16:47] #13019 closed

[2018-12-28 16:48] reetp commented on #12990
Thank you for your comment.
Please note that all new feature requests should now be opened in the forums:
https://forums.rocket.chat/

[2018-12-28 16:49] reetp commented on #12990
@rocket-cat close

[2018-12-28 16:49] #12990 closed

[2018-12-28 17:23] sidneiweber opened #13048 "Incomming webhook from Jira service"
I have integration with Jira to receive messages, and today it has simply stopped working without anyone making any changes. Anyone else with this problem?

- Version of Rocket.Chat Server: 0.70.4
- Operating System: Linux x64
- Deployment Method: Docker
- Number of Running Instances: 1

Instructions used for integration
https://rocket.chat/docs/administrator-guides/integrations/jira/

### Logs
si

[2018-12-28 18:20] wreiske commented on #13048
Have you tried the new Jira Cloud / Jira Server apps available in the [marketplace](https://rocket.chat/marketplace)?

[2018-12-28 18:37] sidneiweber commented on #13048
It is not compatible with the version I am using, it was the error that generated me:
`Error: Deployment error: Invalid Version: ^ 1.3.0
`
I tried to test the newer version on another host but I did not understand how to configure these new apps.

[2018-12-28 18:40] wreiske commented on #13048
You may need to upgrade your rocket.chat instance to support the newer apps. The 1.30 I think is related to the [apps-engine](https://github.com/RocketChat/Rocket.Chat.Apps-engine). Your version of rocket.chat doesn't have the newer apps engine in it.

Try upgrading your Rocket.Chat instance (make a backup first) and see if the Jira app works for you.

[2018-12-28 18:46] sidneiweber commented on #13048
How is this new app set up? No option appears in the menus...

[2018-12-28 18:49] wreiske commented on #13048
Go into any channel and start typing /jira-server or /jira-cloud. If you have issues with it, post them to

https://github.com/RocketChat/Apps.Atlassian.Jira.Server
or
https://github.com/RocketChat/Apps.Atlassian.Jira

[2018-12-28 20:13] sampaiodiego commented on #13044
right.. closing as this is a duplicate of #13042

[2018-12-28 20:13] #13044 closed

[2018-12-28 20:32] #13042 closed

[2018-12-29 04:16] immanuelfodor commented on #13042
Thanks @sampaiodiego it's now working fine after the update to 0.73.1 :clap:

[2018-12-29 04:58] esivres commented on #3787
How to do that? I can`t find such option in admin panel

[2018-12-29 15:47] j2l commented on #11890
Same issue for me.
I tried with "user" then "username", both are ignored.

[2018-12-29 17:50] mediatomcat opened #13054 "Error: Must pass options.rootUrl or set ROOT_URL in the server environment"
Hi,

I have created a new Centos 7 box and followed the step laid out in the getting started guide, line by line.
https://rocket.chat/docs/installation/manual-installation/centos/

When I try and run the app I get the following error.  Mongo is running, I checked the config file and the ROOT_URL is set.  Any ideas what might be wrong?

(I should add I get no errors when setting up the server or fo

[2018-12-29 18:02] mediatomcat commented on #13054
Resolved.  Some reason you have to export the paths:

    export ROOT_URL=http://your-server_IP:3000/
    export MONGO_URL=mongodb://localhost:27017/rocketchat
    export PORT=3000

[2018-12-30 21:10] wreiske opened #13055 "OEmbed.getUrlMeta not properly respecting meta fragment"
### Description:

When posting links in Rocket.Chat, the Oembed.getUrlMeta does not currently send the `_escaped_fragment_` query parameter. There is [some code for it](https://github.com/RocketChat/Rocket.Chat/commit/1e443da137bebb22ea992e9fde938ced97c66a83#diff-8dd56a07745817bdb8ca0f701ae2598bR139), but the request is not formatted correctly.

### Steps to reproduce:

1. Post any link containing

[2018-12-31 06:08] maxdwit commented on #12683
@rodrigok
0.72.3 isn't at docker hub:
` Ensure the image was sent to Docker Hub`

[2018-12-31 09:31] stephane- commented on #12862
Hello,

I try the manual prune message button for delete messages < 2018-02-01 ans that's work.
But auto prune don't work. My RocketChat version is now 0.73.1.

I have the notice that messages older than 3 months will be deleted, but my olders messages is dated 04 february 2018

[2018-12-31 09:41] #12446 closed

[2018-12-31 10:14] fabien4455 commented on #12668
Hello I tried the 0.73.1 it's fixed for extensionless files thank's it's so cool.....

However, You didn't fixed the bug with file.a type.. or file.b...

When you upload file.x ( where X is a letter from A to Z ) it upload like file.x but when you download it file you have file.x.bin.... That's not right

[2018-12-31 10:18] #13048 closed

[2018-12-31 12:13] rodrigok commented on #12683
@maxdwit we don't have control over official docker hub image, please use our own image from our won repository here https://hub.docker.com/r/rocketchat/rocket.chat/tags/ where we keep the images updated by the frase `Ensure the image was sent to Docker Hub`

[2018-12-31 14:01] tassoevan commented on #12668
@fabien4455 I'm waiting for a response here: https://github.com/RocketChat/Rocket.Chat/issues/6026#issuecomment-450178921

[2018-12-31 14:47] fabien4455 commented on #12668
Ok thank's

[2018-12-31 16:15] renatobecker commented on #6746
Hi @marceloschmidt  and @theorenck!

I agree that we need to improve the SMS integration, currently we can't handle the messages that arrives when there're no online agents.
For web client we have the `offline form`, which allows the livechat users to send an e-mail with their personal data as well as a specific message(setting) is displayed on the offline form.

In my opinion, we can replace the

[2018-12-31 16:38] wicadmin commented on #10142
what does this really mean and where are these tokens?

`"There are no tokens for this user"`

[2019-01-01 00:33] sunjam opened #13057 "Slack import problems"
_Rocketchat Stable docker release 0.70_ is having difficulty importing 43mb zip containing around 700,000 channels/messages.  I recommend breaking the Slack exports into no more than a few megabytes or they will crash browser tabs in Chrome or Firefox.  Can confirm browser tabs crashed on different computers attempted with different browsers.

- Slack data import failures happen with no notificati

[2019-01-01 01:59] lookatmypinky commented on #10821
Just deployed 0.73.1 using the image from RCs Docker repo and getting same results.  Both 'api/apps/languages' and '/api/v1/commands.list' are frequently/consistently throwing 404s followed by 'Uncaught (in promise) Error: Not Found'

[2019-01-01 15:53] anqtran opened #13058 "CSS Conflicts when loading elements from npm packages"
Hi everyone,

I am trying to load fullcalendar from npm and I ran into some css conflicts which can not be resolved. The css from the element is conflict with the main css of rocketchat. I wonder if there is any way to solve this.

Here is the code from the files.

[code]

[code]

[2019-01-01 20:52] alexbartsch commented on #6305
@sampaiodiego Duplicate of #12696. See also pull request #12858.

[2019-01-01 21:24] BenWiederhake opened #13059 "Emote detection fails around linebreaks"
### Description:

Emote detection fails around linebreaks.

### Steps to reproduce:

1. Open a chat, for example a direct message to yourself.
2. Send the following single, multi-line message, which contains no trailing or leading whitespace:

       :D foo :D bar :D baz :D quux :D
       :D this :D is :D a simple :D test :D
       without :D leading :D or :D trailing :D emote
       :D hello :D w

[2019-01-01 21:47] TomaszDom commented on #12781
@geekgonecrazy would you consider the suggestion by @sebakerckhof in that report?

[2019-01-01 22:17] horvan opened #13060 "Rocketchat Google SSO Button doesnt fit googles branding guidlines"
Tried to veryfy googles oauth screen today and get an intersting note about Branding guidelins. It seems thelayout of the sso button doesnt fit their guidelines anymore.

Here is what I've got

Google Sign-In BrandingThe Google sign-in button on your project's homepage URL is not compliant with the Google sign-in branding guidelines. Please update the Google sign-in button on your website accordin

[2019-01-01 23:57] wizofaus commented on #6770
Sharepoint links often contain ":x:" which RC interprets as a cross. If you use ` ` it's not a clickable link.

[2019-01-02 02:59] geekgonecrazy commented on #12781
As I mentioned above the concern is it may have unknown consequences.  The mongo driver and the meteor collections and other things are pretty directly related.  Definitely not something we would want to jump to.

[2019-01-02 07:41] chtsngn commented on #13029
Hello again,

I took all the channels and filtered it. But that's a bad idea. That's why I have to filter the channels without taking it from mongoDB.

I use Rocket.Chat in a comprehensive application. So I need to filter by custom field. I'd appreciate it if you could help.

Have a nice day.

[2019-01-02 10:38] hypery2k commented on #12243
@rafaelks Who would review my PR?

[2019-01-02 11:03] Hudell commented on #12243
Thank you for your contribution, @hypery2k. I'll check it out.

[2019-01-02 12:47] sampaiodiego commented on #6305
thanks @alexbartsch .. I'll actually close the other one, as this is older.

[2019-01-02 12:48] sampaiodiego commented on #12696
closing as duplicate of https://github.com/RocketChat/Rocket.Chat/issues/6305

[2019-01-02 12:48] #12696 closed

[2019-01-02 14:53] himpierre opened #13061 "cannot create integration (incoming webhook)"
### Description:

Hi Devs. I'm unable to create a specific incoming webhook. Error message is "invalid channel". The channel i choose to send the messages too is #noc. The channel exists *and* there is even another integration which posts to this channel. This is rather confusing to me. Choosing #noc-notify works. Any idea whats going on here? I set the log to debug but no messages.

Strange thing

[2019-01-02 15:51] nopynoop opened #13062 "Search messages - make autofocus for the search field"
## My Setup
- Chat Version: 0.73.0

## Description
Immediate Autofucus on the search field.

### Current Behavior
When a user clicks on the search messages icon he needs to click again to the search field before he can start typing.

### Expected Behavior
When a user clicks on the icon he should be able to start searching immediately. This is most likely his only intention.

![2019-01-02_16-53-52]

[2019-01-02 15:52] horvan commented on #13060
Get a followup mail from google. They said. That they willl not confirm the processing screen if the login button doesnt match their guidelines. For rocketchat users that means, they can not serve google sso until this bug is fixed. It should be fixed as soon as possible and go into the next update.

Unfortunately Google sign-in button on your app’s homepage

is still not compliant with the Google

[2019-01-02 15:54] horvan commented on #13060
Sorry for the table it is just copied from the mail and the login is attatched as screenshot
If you can tell me how to replace the login button temporarely I would be really happy.

[2019-01-02 16:04] tassoevan commented on #13060
/cc @thiagosanchz @brunosquadros

[2019-01-02 16:33] sunjam commented on #13057
https://gist.github.com/sunjam/b180e9f224f349e18823632eff41c874

Here is a Gist of my Rocket.chat error log when attempting to import Slack data into Rocketchat 0.73.1 docker release with mongo:latest

[2019-01-02 18:08] reetp commented on #13057
This follows questions on #support

I have mentioned that node only runs single threaded and you may want to look at PM2

I also asked about your laptop connection. Hard wired, wireless, speed etc. Please advise.

[2019-01-02 18:51] sunjam commented on #13057
Laptop connections were tested on a few different machines running Qubes, Lubuntu, and MacOS.  Browsers tested are Firefox stable and Chromium.  Internet connections tested are point-to-point-gigabit laser along with domestic dsl (~10mb upload)

[2019-01-02 19:47] maxdwit commented on #12683
Perfect. Didn't know that these are two different repositories. Will change
to this one. Thank you.

Am Mo., 31. Dez. 2018 um 13:13 Uhr schrieb Rodrigo Nascimento <
notifications@github.com>:

[2019-01-02 20:12] vynmera opened #13063 "Ban users from channel (what is "ban-user"?)"
We currently have a `ban-user` permission, but it is never used. Should we remove the permission, or create a proper ban-from-channel feature?

[2019-01-03 08:40] ZackLeonardo opened #13065 "upload image such as sendFileMessage func, image file cannot open"
`  const result = await _ufsCreate.call(this, fileInfo);

    let formData = new FormData();
    let file = {
      uri: fileInfo.path,
      type: "image/JPEG",
      name: fileInfo.name
    }; //

    formData.append("file", file);

    let options = {};
    options.method = "POST";
    options.headers = { "Content-Type": "multipart/form-data" };
    options.body = formData;

    await fetch(res

[2019-01-03 13:06] marceloschmidt commented on #6906
You could add markdown links to the channel description and topic. Let us know if this is not what you intended.

[2019-01-03 13:06] #6906 closed

[2019-01-03 13:12] marceloschmidt commented on #6929
Admins may already choose which channels are default, meaning users will join those channels when registered on the server. Favorites are personal choice, including how they are displayed.

[2019-01-03 13:18] marceloschmidt commented on #6929
We'll leave this open if someone wants to give it a try.

[2019-01-03 13:38] marceloschmidt commented on #7002
@theorenck could we evaluate the implementation of this feature? Let's talk about it.

[2019-01-03 13:47] marceloschmidt commented on #7016
This is an interesting suggestion. We'll keep it on our backlog and do it sometime in the future. We'll accept pull requests :)

[2019-01-03 13:49] #7019 closed

[2019-01-03 14:38] Eichi commented on #12073
The autocomplete searches in the name AND nick, so mentioning is sometimes a little bit annoying, especially because it is slow and laggy.
So here is a example which is annoying every day what I think could/should be improvised:

There are two different users with the names "Max Mustermann" (@mm) and "Fred Famming" (@ff).
When I want to mention Max with @m... Rocket.Chat autocompletes it to @ff be

[2019-01-03 15:56] marceloschmidt commented on #6924
Moved it to the [forums](https://forums.rocket.chat/t/support-sasl-for-irc/2813) for discussion.

[2019-01-03 15:56] #6924 closed

[2019-01-03 19:18] mddvul22 opened #13068 "Need Ability to Require a Minimum Version of Mobile Apps"
### Description:

Now that the legacy (non-native) mobile apps have been deprecated, we would like to be able to prevent people from logging into our Rocket Chat instance when using those older versions.  From what I can see, there is no way, currently, to detect and restrict those older mobile app versions from logging into the Rocket Chat server.

### Steps to reproduce:

Log into Rocket Chat in

[2019-01-03 22:58] ohmonster opened #13069 "LDAP Existing user data not updated on Background Sync"
### Description:
We use LDAP exclusively for user data and authentication. When an existing user logs in, any changes on the LDAP side (avatars and data we map to custom fields), get updated. When we perform a background sync -- manually from Administration or from the cron job -- new users are added. However, users that already exist do not have their data updated.

### Steps to reproduce:
1. Ide

[2019-01-03 23:11] ohmonster commented on #13069
FYI, I have a commit pending for this -- I just have to sort out my fork's branches.

[2019-01-04 00:36] fcecagno commented on #11713
https://forums.rocket.chat/t/how-to-change-icon-for-server-list/589

[2019-01-04 00:37] reetp commented on #13069
What a perfect bug report.
This should be used as an example to others.

[2019-01-04 00:40] reetp commented on #13065
Can you please help the developers by filling out a proper bug report? They can't really help without this information
Use this link: https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

Here is an example of how to do.it properly.
 https://github.com/RocketChat/Rocket.Chat/issues/13069

[2019-01-04 00:59] reetp commented on #11482
Duplicates here which I will close in favour of this one.

https://github.com/RocketChat/Rocket.Chat/issues/12361
https://github.com/RocketChat/Rocket.Chat/issues/13062

[2019-01-04 01:00] reetp commented on #12361
@rocket-cat close

Closing in favour of
https://github.com/RocketChat/Rocket.Chat/issues/11482

[2019-01-04 01:00] #12361 closed

[2019-01-04 01:01] reetp commented on #13062
@rocket-cat close

Please check for duplicates before opening an new one. This is the third report.

Closing in favour of
https://github.com/RocketChat/Rocket.Chat/issues/11482

[2019-01-04 01:01] #13062 closed

[2019-01-04 01:10] reetp commented on #13022
Your server is already 4 months and a lot of fixes out of date. Please follow the issue reporting guidelines and always test on the latest version of Rocket - currently 0.73.1 (and have a good read in the documentation as well)

Read the links here
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md
https://rocket.chat/docs/contributing/reporting-issues

You can also test o

[2019-01-04 01:13] reetp commented on #12963
Please note that feature requests should now be posted in the forums for discussion. Please open a thread there.

Thanks

[2019-01-04 01:14] reetp commented on #12963
@rocket-cat close

[2019-01-04 01:14] #12963 closed

[2019-01-04 01:17] reetp commented on #13023
@rocket-cat close

There are a number of open bugs on video and audio messaging already and you can see the road map.

[2019-01-04 01:17] #13023 closed

[2019-01-04 01:22] reetp commented on #13054
You are trying to run rocket natively and not via a systemd unit file as per the documentation from the looks of things. You should not have to run it with 'node main.js'

Please go back and reads the section:
"Configure the Rocket.Chat service"
https://rocket.chat/docs/installation/manual-installation/centos/

If that doesn't work correctly then please tell us what happened. If it works as expect

[2019-01-04 01:32] reetp commented on #13017
You haven't given anywhere enough information for anyone too be able to help you.

Read these please.
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md
https://rocket.chat/docs/contributing/reporting-issues

Most likely your issue is with configuration. You may be better asking for help in the forums or in here:
https://open.rocket.chat/channel/bots

[2019-01-04 01:36] geekgonecrazy commented on #6979
Still relevant.  We added support to set environment variables for Rocket.chat primarily as well as a few config things in that PR.

So this is still something we need to look at

[2019-01-04 01:39] reetp commented on #13006
@rocket-cat close

This is an Android issue and is already covered by

https://github.com/RocketChat/Rocket.Chat.Android/issues/1617
https://github.com/RocketChat/Rocket.Chat.Android/issues/1754

Please follow up there

[2019-01-04 01:39] #13006 closed

[2019-01-04 01:41] reetp commented on #13043
Have you looked at Permissions ?
https://rocket.chat/docs/administrator-guides/permissions/

[2019-01-04 01:43] reetp commented on #12996
There are a number of parse error Issues already kicking about that should be grouped together I think,

Worth a search - I can think of at least two I have seen.

[2019-01-04 01:45] reetp commented on #12916
@rocket-cat close

Closing as no further info

[2019-01-04 01:45] #12916 closed

[2019-01-04 02:53] ohmonster commented on #13069
@reetp I wrote it backwards. I identified the code, fixed it, and then wrote the bug report. I put the references to the lines of code in the PR to make the issue more readable, to increase the chance a less technical person could recognize their own situation.

I don’t consider it a stellar bug report example precisely because I wrote it with hindsight on my side and the code ready to go. I knew

[2019-01-04 08:18] ayushnawal commented on #12667
@localguru is this issue still open ?

[2019-01-04 10:01] xcpdq opened #13071 "Room Member list not working"
Since the last update (I think) the member list of any room doesn't work. Nothing shows up. I upgraded to 0.73.1 but the error is present in this version as well. The error I see in the console is:

rocketchat_1  | Exception while invoking method 'getUsersOfRoom' { MongoError: exception: Unrecognized pipeline stage name: '$lookup'
rocketchat_1  |     at queryCallback (/app/bundle/programs/server/n

[2019-01-04 10:10] ayushnawal commented on #12592
@rafaelks i am a beginner here . Don't know much about the code base of rocket chat but can i take this issue ?

[2019-01-04 10:54] gpoudrel commented on #2885
I agree with OP. We need a feature (with a switch so can be disabled) to have IP address logged if legal action is required. Login time, IP/Username associated.

[2019-01-04 11:55] zdumitru commented on #1112
@geekgonecrazy Can you, please, add this issue to January 2019 Projects board? Since it's planned to be released in 0.74 and it's already a PR ready for it. Thanks.

[2019-01-04 12:35] Shaverdoff commented on #12203
I fink this is good decision

[2019-01-04 13:49] soundstorm opened #13072 "[IMPROVEMENT] Forbidden mention of @all/@here deletes message"
If you mention `@all` or `@here` in a channel with more members than allowed for those mentions, there is just a bot message
`Group mentions @all and @here have been disabled for rooms with more than X members.`
The sent message is lost.
Maybe a check of the limit and an alert to force the user to change the message would be helpful. Or an issue on Rocket.Chat to just disable the mention but send

[2019-01-04 13:49] rafaelks commented on #13072
@soundstorm Nevermind just moved the issue.

[2019-01-04 16:46] horvan commented on #9838
This should be done soon so + 1

[2019-01-04 17:36] tassoevan commented on #12203
@supra08 Go ahead! 🚀

[2019-01-04 19:43] tassoevan opened #13075 "Message to save E2E passwords persists after switching users"
### Description:

The header message

<img width="419" alt="captura de tela 2019-01-04 as 17 38 49" src="https://user-images.githubusercontent.com/2263066/50707343-ae081b00-1047-11e9-9a2c-e2040b5b470a.png">

is shown for a user containing a valid E2E password if a previous user haven't save it.

### Steps to reproduce:

1. Enable E2E encryption.
2. Create/Have users A and B.
3. Login with A, click

[2019-01-04 21:56] MrHpower commented on #13047
Thanks, 0.73.1 solved my issue! this threat may be closed.

[2019-01-04 22:20] supra08 commented on #8500
@ggazzo, is anyone working on this? If not, can I take this up?

[2019-01-04 23:03] Tayyaba03 commented on #10046
@MartinSchoeler Any update on this?

[2019-01-05 09:51] MrHpower opened #13079 "Internal Server Error with WebDav upload (Error: delete is not implemented)"
### Description:

Internal Server Error [500] with Webdav File upload.

### Steps to reproduce:

Enable webdav
Config Webdav
Check config, username password and URL

### Expected behavior:

Upload the file to the webdav lovation

### Actual behavior:

[I20190105-10:26:01.936(1) Exception in callback of async function: TypeError: Webdav is not a constructor     at new WebdavStore (packages/rocketch

[2019-01-05 16:34] cchbr opened #13080 "Invalid registration URL"
I'm having the same issue as:
https://github.com/RocketChat/Rocket.Chat/issues/1585#issue-120756816

Version: 0.72.1

I have entered a string for the URL but it can't be accessed through https://site/register/string

What I'm trying to accomplish is to simly link to the registration page.

[2019-01-05 20:18] reetp commented on #13080
Unless you can show that there is actually a bug in Rocket ( read this please - https://rocket.chat/docs/contributing/reporting-issues supply some proper logs and information etc) then this is a support/configuration issue and you should refer to the forums or open.rocket.chat for help

If your issue really IS the same as 1585 you should follow up there.

Thank you.

[2019-01-05 20:21] reetp commented on #13071
Read this first:
https://rocket.chat/docs/contributing/reporting-issues

Then fill out these details properly and paste here thank you:
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md

[2019-01-05 20:30] alexbartsch commented on #6305
thanks @sampaiodiego. But what happens with the open pull request for the older issue? It will also fix this issue. How can we link it? https://github.com/RocketChat/Rocket.Chat/pull/12858

[2019-01-05 20:32] reetp commented on #13068
@rocket-cat close

[2019-01-05 20:32] #13068 closed

[2019-01-05 21:34] robwent commented on #5948
This is possible with nextcloud using the removable media plugin.

https://github.com/nextcloud/nextcloud-snap/blob/master/README.md#removable-media

Allows access to anything mounted to /media

Possible to reopen this issue?

I like using snaps but my main drive is a small ssd so it's good to be able to store data somewhere else.

[2019-01-06 10:42] vcmor commented on #12781
Is it possible to rename RC's replicaset name 001-rs safely?

[2019-01-06 10:47] horvan commented on #13080
There is a misspelling in the given url. Use register instead of registration and close this issue, please.

[2019-01-06 11:20] cchbr commented on #13080
I used register, I have updated the original post here now. I have read through the documentation, set the token and used it in the URL as described.

Here's the logged output:

[34mI20190106-11:16:30.299(0) [34mMeteor ➔ publish null -> userId: null , arguments:  []
[34mI20190106-11:16:30.301(0) [34mMeteor ➔ method public-settings/get -> userId: null , arguments:  []
[34mI20190106-11:16:30.32

[2019-01-06 12:32] horvan commented on #13080
I use nginx and a manual debian/ubuntu installation of Rocketchat. and everyting workt fine in 7.2 as it does for 0.7.3 by now. Either you use the snap version and there is a bug with snap or your server is simply missconfigured.

What is the output of the web browser if you enter https://yoursite,tdl/register/[the hash that is given on the account page] It should bring up the login dialog if ever

[2019-01-06 16:07] horvan opened #13081 "CSA-Compalience for Rocketchat"
Rocketchat is in an early devekopment state. We shuld make sure, that rocketchat is technically csa Campalliant See Checklist

https://certified-senders.org/wp-content/uploads/2017/07/CSA_criteria_checklist.pdf

Find out more

https://certified-senders.org/certification-process/

[2019-01-06 16:15] horvan commented on #13079
Same here. tried to use next cloud as backend no luck with the given version This is broken since I updated rocketchat and has worked in the past.

[2019-01-06 19:25] hacklab01 opened #13082 "Snap not updating to latest version?"
Hi, I understand the update might be on hold but just to report that my RocketChat version 0.72.3 isn't updating to  0.73.1

[code]
Is this to be expected or is something wrong with the upgrade process?

Thanks!

[2019-01-07 00:03] geekgonecrazy commented on #12781
https://stackoverflow.com/a/33400608 this might be of use.  Note I have not tried... I would make sure to backup before doing it.

If its a single node mongo cluster... it might be easier to do a backup.  Wipe the mongo db re-initialize with new replicaset name... and then re-import your data.

[2019-01-07 06:06] Xuhao commented on #11692
Just faced with this error on our kubernetes cluster with multiple replicas.
Note that this error occurred only when run multiple instances concurrently.
So I think it's from migration execution when multiple instance start in the same time.

For the error message`ns not found` is from this line:
https://github.com/mongodb/mongo/blob/acd196d77043d007b07b48b6e2c4fb13cfa5b938/src/mongo/db/catalog/dr

[2019-01-07 09:03] reyalpsirc commented on #12906
@MarcosSpessatto any news on this?

[2019-01-07 09:11] altinukshini opened #13084 "Standuply alternative and circleci notifications"
1. Does anyone know a good rocketchat alternative to slack's standuply bot?
2. How do you handle circleci build notifications to rocketchat? I assume I should be writing a custom script that calls the rocketchat webhook, is there any example I can look at?

Thanks in advance for your help!

[2019-01-07 10:04] barak-haviv commented on #11869
Hey danieljhochman
Can you share please which version you are using that works well with Microsoft Edge.
The current one v0.72.3 is not working.
I.e messages are not delivered

[2019-01-07 10:50] rsimai opened #13085 "Docker image for Rocket 0.73.1 not consistent, node 8.11.3 instead of 8.11.4"
### Description:

The latest/current image from Dockerhub reports as

Rocket.Chat Version: 0.73.1
NodeJS Version: 8.11.3 - x64

within the log after start while according to the release information

https://github.com/RocketChat/Rocket.Chat/releases/tag/0.73.1

it should be Node: 8.11.4.

### Steps to reproduce:

docker pull the image, start, see the log.

### Expected behavior:

Consistency, pref

[2019-01-07 12:56] vynmera commented on #12906
Would, too, like to hear a status update. This is a bomb waiting to blow for every team.. (especially factoring in the readonly/muted)

[2019-01-07 12:59] promofu commented on #13079
uupsi... tried to activate nextcloud webdav with the same issue
- nextCloud v14.0.3
- rocket.chat v0.73.1
both as Dockers

also the webdav url acc. to. https://rocket.chat/docs/administrator-guides/integrations/nextcloud-and-webdav/ is incorrect. for me this should be:
https://<server>/remote.php/webdav/
not
https://<server>[/nextcloud]/remote.php/dav/files/USERNAME/

[2019-01-07 13:21] d-gubert commented on #11692
Hello @Xuhao ! Nice that you found a fix :) Care to open a PR with the solution? :D

[2019-01-07 14:40] oldpiano opened #13087 "Improve translations of Korean"
I'm a member of Lingo translation project.
I want to make pull request for Korean i18n files.
It based on 0.73.1

How can I create branch and new pull request?

[2019-01-07 14:47] sampaiodiego commented on #6305
saw you update the comment referencing this issue @alexbartsch .. so everything is fine =)

[2019-01-07 15:16] SecKarma commented on #4297
@geekgonecrazy I've tried asking this question many times on the support channel but no one ever answered back.
I get it and i know how to backup mongo, but when i restore it, all the private messages will just disappear.

is there a way to backup private messages before moving into a dockerized environemtn or a new server? i can't stay on an old version, and i need to update it and dockerize it w

[2019-01-07 16:33] tassoevan commented on #13087
I believe this is automated and requires an admin account since the PRs are made using @engelgabriel's user.

[2019-01-07 19:54] lucassmacedo opened #13088 "Problem with Translate"
Hello! I have a rocket chat app installed on my cloud and with translate set to PT_BR, but some texts dont have translate.. in navbar userStatus is showing "away" instead "Ausente".

How to fix this?

[2019-01-07 20:03] hacklab01 commented on #13082
Figures. thanks! :)

[2019-01-07 20:03] #13082 closed

[2019-01-07 22:08] terrorpup opened #13089 "curl not pulling latest release"
When running the curl to pull the latest file, a file of 21 bytes is pulled looks like the server is having issues.

[2019-01-07 22:12] terrorpup commented on #13089
I am trying to pull the latest release and when I run this

curl -L https://releases.rocket.chat/latest/download -o /tmp/rocket.chat.tgz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    21  100    21    0     0    123      0 --:--:-- --:--:-- --:--:--   125

The file is only 21 bytes

[2019-01-07 22:58] oldpiano commented on #13087
He made roll back I translated words!!

[2019-01-08 00:01] ura14h commented on #13087
@oldpiano I witnessed my translations also rolled back.
Perhaps, I think there is a problem with the automation to synchronize with the repository.

[2019-01-08 01:03] tassoevan commented on #13087
Hmm, I'm going to check it, folks. @ura14h, do your translations remain OK on Lingohub or they rolled back there too?

[2019-01-08 01:19] oldpiano commented on #13087
@ura14h Do you know how get back recently works?
@tassoevan please let me be a contributor, how can I apply?

[2019-01-08 01:53] ura14h commented on #13087
@tassoevan I work on Japanese translation. The problem for Example: #4010 "Audio Message Bit Rate", #4108 "Period of time until status changes to away. Value needs to be in seconds.". See translation's history. I have not checked all, but there are others.

@oldpiano Excuse me, I have no idea.

[2019-01-08 03:25] piepie314 opened #13095 "Generate a jpeg-format avatar"
- Your Rocket.Chat app version: 3.20
- Your Rocket.Chat server version: 0.73
- Device (or Simulator) you're running with: iOS 12
we can generate a jpeg-format avatar in a server which deployed on ubuntu(not docker),but we can not generate a jpeg-format avatar in a server which deployed in docker

[2019-01-08 04:16] Xuhao commented on #11692
@d-gubert Sure! I will do this today.

[2019-01-08 06:31] rohitmyaim commented on #853
I am running Rocketchat .73 version and facing this issue for only one user  but permanantly on his system.
User is using Windows 10 and have tried on both Chrome and IE browser.
Anyone fixed this issue ?

[2019-01-08 07:36] Zuko opened #13090 "Rocket.Chat vulnerabilities"
### Description:

After update `npm` inform about 4 moderate vulnerabilities.

[code]

### Steps to reproduce:

1. Install or update Rocket.Chat

### Expected behavior:

No known vulnerabilities ;-)

### Actual behavior:

### Server Setup Information:

- Version of Rocket.Chat Server: **0.73.2**
- Operating System: **CentOS 7.6**
- Deployment Method: **tar**
- Number of Running Instances: **1**
-

[2019-01-08 08:14] dkatheininger commented on #3996
+1

[2019-01-08 08:21] john171 opened #13092 "Media Types not accepted"
Hi,

Unable to upload following filetypes

*.rpt
*.vb

Error - Media types not accepted

According to logs it comes under application/octet-stream.Tried exempting the file types using *.rpt,application/octet-stream

OS Type - 0.66v2

[2019-01-08 08:42] jankogaga commented on #12693
Do we have any recommendation from Rocket Chat team?

[2019-01-08 09:14] pipozzz commented on #6588
Hello,
I dropped that cache collection and now embed preview is not working for me at all. Could you help me out with this somehow ? I started debug logging but I see nothing suspicious.

Thanks a lot !

[2019-01-08 09:41] pipozzz commented on #6669
Hi, when I dropped rocketchat_oembed_cache , embed preview is not working. Can you advise me some workaround ?

Thanks in advance.

[2019-01-08 11:16] Omaha2002 opened #13093 "Exception while invoking method 'addWebdavAccount' TypeError: Webdav is not a constructor"
Steps to produce:

1) After a clean install of Rocketchat 0.73.1 and enabling Webdav integration I try to add a Webdav Nextcloud by clicking on the + and fill in the correct details.

2) click on add server i get a "Internal Server Error"

Webdav is setup correctly on Nextcloud 15 and tested.

Rocketchat and Nextcloud both SSL enabled and accessible on domainname.

Log file of Rocketchat says:
[34

[2019-01-08 11:19] barak-haviv commented on #13024
I check also the new version 0.73.1 and edge is not working there also

[2019-01-08 12:51] MarcosSpessatto commented on #12906
Sorry for the long delay, I'll fix it for the next release. Thanks for let us know. :+1:

[2019-01-08 13:05] horvan commented on #11593
There is an Issue with snap that prevents sending emails if everything is configured correctly. So it will be good to know if you are using the snap Version or did a manual Installation.

[2019-01-08 13:58] chatnl commented on #11593
What kind of SMTP settings are you using? I am using our own external SMTP service and have no problems at this moment. I am also using snap.

[2019-01-08 14:59] adalenv commented on #13043
yes
but isnt for own messages

[2019-01-08 16:58] #11692 closed

[2019-01-08 19:21] ulisesjt commented on #9167
Hi @stalley Many thanks for your contributions, I have executed the commands step by step and now I receive the error that I show below:

`node main.js
module.js:664
return process.dlopen(module, path._makeLong(filename));
^

Error: The module '/opt/Rocket.Chat/programs/server/node_modules/fibers/bin/linux-x64-57/fibers.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSI

[2019-01-08 23:36] geekgonecrazy opened #13099 "REST API for inserting custom emoji"
We have a route for listing custom emoji: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-api/server/v1/emoji-custom.js#L5

But would be amazing for people that have 600 emoji or more to be able to write a script to insert emoji via rest api

[2019-01-09 08:07] ruslan528 opened #13100 "[bug][ui] sidebar-item--active css class is dissapeared"
sidebar-item--active css class is dissapeared from active <li> item in contacts list when I open unreaded chat and chat is become readed. "Unreaded on top" option is on.

Also I think that will be much better if item will not moves from unreaded list immediatelly after read, but only after leaving this chat.

65747ce814b11a9e539dd3dcc26d5fa83288cc02
-- | --
Wed Dec 12 18:15:48 2018 -0200
HEAD
0.72

[2019-01-09 08:17] vidoshsahu commented on #12854
Looking for urgent help and suggestions.

thanks,
vidosh

[2019-01-09 09:03] marcinkorzycki commented on #11355
Bump - the same issue here.

[2019-01-09 09:16] pkolmann opened #13101 "Push token from android updates wrong userid in rocket chat"
### Description:

On our production instance of rocket.chat I have an issue with the android app of rocket chat (3.1.1): It can't receive Push notifications.

I have now enabled push debug and I see the following for my user:

Jan 09 09:50:16 web-d-1 RocketChat[14287]: Push: Got push token from app: { id: '9C2N2wcPo95Ch5zEn',
Jan 09 09:50:16 web-d-1 RocketChat[14287]:   token:
Jan 09 09:50:16 web-

[2019-01-09 09:33] 21let commented on #13054
According to the manual, I did so too, and the problem is probably at this step:

`
echo -e "[Unit]\nDescription=The Rocket.Chat server\nAfter=network.target remote-fs.target nss-lookup.target nginx.target mongod.target\n[Service]\nExecStart=/usr/local/bin/node /opt/Rocket.Chat/main.js\nStandardOutput=syslog\nStandardError=syslog\nSyslogIdentifier=rocketchat\nUser=rocketchat\nEnvironment=LD_PRELOA

[2019-01-09 09:45] 21let commented on #13054
[root@komunikace ~]# /usr/local/bin/node /opt/Rocket.Chat/bundle/main.js
/opt/Rocket.Chat/bundle/programs/server/boot.js:475
}).run();
   ^

Error: Must pass options.rootUrl or set ROOT_URL in the server environment
    at Object.Meteor.absoluteUrl (packages/meteor.js:1448:11)
    at runWebAppServer (packages/webapp/webapp_server.js:762:18)
    at webapp_server.js (packages/webapp/webapp_server.js

[2019-01-09 09:57] overfl0 commented on #12324
I have noticed that this was probably because of the variable `embeddedVersion` variable not being set correctly when using the `go` command to switch channels.

From what I can see, in some places it's basically equal to `RocketChat.Layout.isEmbedded()`, and in one place, it equals to `embedded-view` if `RocketChat.Layout.isEmbedded()` equals to true (is the different behavior for the same variab

[2019-01-09 10:08] 21let commented on #13054
This is function solution:

there is still a need to add mongod.service otherwise the service does not start because of the uninstalled mongodb service.

[Unit]
Description=The Rocket.Chat server
After=network.target remote-fs.target nss-lookup.target mongod.target **mongod.service**
[Service]
ExecStart=/usr/local/bin/node /opt/Rocket.Chat/bundle/main.js
StandardOutput=syslog
StandardError=syslog

[2019-01-09 10:49] Shaverdoff commented on #13090
As far as I can see, these vulnerabilities do not apply to the Rocketchat server itself. No one bothers you to upgrade these packages tihs **#npm audit fix**.

[2019-01-09 11:38] pierreozoux commented on #7043
(Can you just avoid +1, this is useless, we are in 2019, and it has been years that you can +1 the top comment)

An other interesting feature would be to be able to mention channel owners.

I'm am supporting people in a group. And usually you have 2 groups, the owner which are roughly th support team and the users. Sure we hope users can help each other, but if they can't then, we would like the u

[2019-01-09 12:22] lucassmacedo commented on #13088
#13096

[2019-01-09 12:33] gpoudrel commented on #2192
Great feature it would be.

[2019-01-09 12:47] maslbl4 opened #13102 "Tray icon is very ugly in Windows 7"
Hi!

I upgrade Rocket.Chat from 2.13.3 to 2.14.5 and found that the tray icon has changed.
On Windows 7 it looks very ugly. In the old release, the display was normal.

Please bring back the old icon

Examples new look:
![2019-01-09 15_35_45-rocket chat](https://user-images.githubusercontent.com/1502824/50900131-3d854380-1425-11e9-9f5e-575c55b90bb9.png)
![2019-01-09 15_36_24-](https://user-images.

[2019-01-09 13:20] pombaer opened #13103 "Cannot create incoming webhook to user channel"
### Description:
I have set permission "manage-own-integrations" to "user" and "owner" to be able to create incoming webhooks as normal user, what works if i create a webhook for a public/private channel.
When trying to create an incoming webhook to a user channel i get "Invalid channel", i tried to set "@myusername" at "Post go channel" setting. Creating the webhook as admin works as expected.

W

[2019-01-09 13:39] #13088 closed

[2019-01-09 14:38] rsimai commented on #13085
Same for the now current 0.73.2.

[2019-01-09 15:03] horvan commented on #11593
I am using modoba with SSL and snap wouldn't send mails even if the settings Port,E-Mail,Password are correct. While the manual installation works fine with Port 587 and user crediterials for a email address given in the SMTP settings.

[2019-01-09 15:34] Adam212 commented on #13079
Hello,

I have the same problem after upgrade from 0.72.3 to 0.73.1

Regards,
Adam

[2019-01-09 15:50] wreiske opened #13104 "rocketchat-livechat.min.js breaks on IE10 (contains const keyword)"
### Description:

rocketchat-livechat.min.js breaks on IE10 (contains const keyword). A simple solution would be to change whatever minifies rocketchat-livechat.js to use babel.

See https://caniuse.com/#feat=const

Some of our clients are in environments where they can not upgrade their browser from IE 10. We fixed our own rocketchat-livechat.js by running it through https://babeljs.io/

### Serv

[2019-01-09 16:08] rtarantelli opened #13106 "When I reply to a message in the mobile app, only mentions are made."
It would be interesting if instead of just making mention, copy the content of the original message. Tests were done on iPhone and Android.

[2019-01-09 16:16] chatnl commented on #11593
And did you try to send emails without ssl? Or do they not support it?  I am also using port 587 with credentials but without SSL and that works ok. Just to determine if SSL is the problem in the snap version.

[2019-01-09 16:45] piotrkochan commented on #11355
@marcinkorzycki RocketChat 0.73.0 introduced some Hipchat Enterprise importer improvements (https://github.com/RocketChat/Rocket.Chat/pull/12985), did You tried it?

[2019-01-10 01:43] geekgonecrazy commented on #13106
@rtarantelli when you do reply I assume long pressing and tapping reply?  If so that should quote the original message as well as mention the person you reply to.

If yours isn't doing that then something might be wrong with your install

[2019-01-10 01:47] geekgonecrazy commented on #13090
These are packages we should probably update if we can.  But yes this isn't really a bug.  You'll see most of those are actually bugs in dependencies of dependencies

[2019-01-10 01:48] geekgonecrazy commented on #13089
This was a service error.  It was resolved a bit later that same day.  Closing

[2019-01-10 01:48] #13089 closed

[2019-01-10 01:55] geekgonecrazy commented on #13085
https://github.com/RocketChat/Docker.Base.Image/blob/master/Dockerfile#L24 looks like the base image just wasn't updated.  I've updated it so the next build should now use 8.11.4

@sampaiodiego should we close and the next one will use the right version?  Or do we want to rebuild the current one?

[2019-01-10 02:00] geekgonecrazy commented on #13084
I personally just created an integration and posted it as a question in a channel.  I have a cron job that triggers it on week days.

I don't know of any alternatives yet.  Definitely take a look at Rocket.Chat apps framework.  https://forum.rocket.chat is a good resource for that.

I'd love to see an app like this created for this.

Regarding circleci notification goto integrations page and it wi

[2019-01-10 02:00] #13084 closed

[2019-01-10 02:04] geekgonecrazy commented on #12993
@rocketchat/core what do you guys think?  Any reason not to increase iterations?

[2019-01-10 02:18] geekgonecrazy commented on #13101
Its unclear here.  Are you using push gateway or your own?  A self built app or our official app?

Also self built Rocket.Chat or an official build?

[2019-01-10 06:09] TomaszDom commented on #12781
FWIW, I decided to change the replicaset name according to that solution and it worked fine, then upgraded from 0.69.x to 0.72.2 without issues.

[2019-01-10 06:38] SteveUNSW opened #13109 "Verification Email"
Version 0.73.2 for RocketChat breaks verification emails.

Steve

[2019-01-10 07:15] Tayyaba03 commented on #823
Hi, I have a question where do you see user info if `view-full-other-user-info` is turned on. As for me, I don't see the last login details of the user on user info.

[2019-01-10 07:20] himpierre commented on #13103
This is kind of similar to my problem. https://github.com/RocketChat/Rocket.Chat/issues/13061

[2019-01-10 08:12] Gaspar1992 commented on #10046
@MartinSchoeler Please!!! I need it!

[2019-01-10 08:32] Otiel commented on #10046
Bothering everyone with such comments isn't going to change anything. Use GitHub reactions 👍  is enough, or start a PR if you want to contribute.

[2019-01-10 10:03] lucbas commented on #658
Hi all

We would also like to contribute to realize this feature!

What do you think of the viability to orchestrate multiple/separate rocket.chat containers? Yes the users won't be able to switch between instances, but a server could be used more efficiently.

[2019-01-10 10:33] barak-haviv opened #13110 "Rocket chat is not working on Edge"
### Description:

On Microsoft Edge, it is not getting new messages only after refresh.
I.e WebSockets not working

### Steps to reproduce:

1. https://open.rocket.chat/ on Edge
2. open rocket chat on any other browser
3. write a new text message
4. message isn't received

### Server Setup Information:

- Version of Rocket.Chat Server: 0.72.3 / 0.73.1 - test on both versions
- Operating System: ub

[2019-01-10 11:15] supra08 commented on #8021
@ggazzo, can I take this up?

[2019-01-10 11:35] josep112 commented on #10855
Hi,
I was able to send text and in case I want to send image as it would be?

[2019-01-10 11:41] rodrigok commented on #12993
@vlasenko thanks for your report.

But that is not the case, the password is not stored in anyplace, even encrypted, we only store the private key encrypted using the encrypted password, in that case an attacker don't have access to the encrypted password to try to discover the password.

Does this makes sense?

[2019-01-10 11:55] vlasenko commented on #12993
@rodrigok Yes, and iterations count matters for this case. I have described the attack for this case, when you store private key encrypted on the derived master key in the first post of this issue

[2019-01-10 11:59] rodrigok commented on #12993
@vlasenko I missed some parts. Ok, I'll take this in consideration.

[2019-01-10 12:00] vlasenko commented on #12993
@rodrigok Thank you!

[2019-01-10 12:03] rodrigok commented on #12993
Just describing a possible solution to migrate the ones using 1k iterations:

- Start saving all the keys using 10k
- Try to decrypt the key using 10k when loading from database
  - If not possible try to decrypt using 1k and if successful encrypt it again using 10k and save to the database

[2019-01-10 12:31] BSuraj93 opened #13113 "Frequent outage of Rocket chat"
Lately, we are facing frequent outages of rocket chat. We have our chat console configured at chat.zencode.guru. However, in both web app and desktop app, it shows connecting, trying in <n> seconds. Before three days, it was a rare occurrence, however the outage frequency has increased and it is now almost 2-3 times a day for a long time (more than 10-15 minutes). Is it occurring due to a global i

[2019-01-10 13:04] pkolmann commented on #13101
I am using the provided gateway and regular rocket chat app from google play store.

[2019-01-10 13:05] pkolmann commented on #13101
I have a self-built rocket chat because I need additional SAML attributes. (see #12347)

[2019-01-10 13:16] brunosquadros commented on #13060
We are working on to fix it. The main problem is we have more than Google integration in the same screen. Then we must solve it having in mind in all services available and not just Google.

<img width="728" alt="screen shot 2019-01-08 at 11 57 01" src="https://user-images.githubusercontent.com/4096458/50970547-d3be7580-14c8-11e9-83ee-117a95e9dff7.png">

[2019-01-10 13:16] tars21 commented on #12781
Just fyi: The ReplicaSet renaming worked for me, too.

[2019-01-10 14:01] rodrigok commented on #7122
We don't have plans to allow database backup from rocket.chat interface, but we have plans to allow admins to export and restore data #758

[2019-01-10 14:01] #7122 closed

[2019-01-10 14:04] rodrigok commented on #7113
The timestamping of logs is something you could do in your system

[2019-01-10 14:04] #7113 closed

[2019-01-10 14:04] horvan commented on #13060
I see your point. Would it be possible to do a mock-up according to the Google design guidelines and work up from there. The mobile client has the correct button. So there for sure is a way.

[2019-01-10 14:07] rodrigok commented on #6993
We are not planning to have this in our roadmap, the technical implications are high since we don't track anonymous users, please start a discussion in our [forums](https://forums.rocket.chat) if you want to continue this thread.

[2019-01-10 14:07] #6993 closed

[2019-01-10 14:10] rodrigok commented on #7026
Related to https://github.com/RocketChat/Rocket.Chat/issues/8005

[2019-01-10 14:33] horvan commented on #13060
[signin-assets.zip](https://github.com/RocketChat/Rocket.Chat/files/2745689/signin-assets.zip)
The file attached is the official file from Google. According to their design guidelines there are two main things if you create your own button

- Use their official logo and colors.
- Use Call to action text  sign in with Google.

The Image and Text size for sure could be changed to fit in.

So first w

[2019-01-10 14:37] danielslyman commented on #12093
+1

[2019-01-10 15:54] avarinot opened #13116 "Api getPersonalAccessTokens failed"
### Description:
Using Rocket chat api,
getPersonalAccessTokens return 400 error when no access token in configured

users.js:
L514 => const getPersonalAccessTokens = () => loginTokens.services.resume.loginTokens

### Steps to reproduce:

Opening postman to use Rocket chat api,

 - call ws /api/v1/login with usrname/pwd
 - call ws /api/v1/users.getPersonalAccessTokens with X-Auth-Token and X-User-

[2019-01-10 20:37] geekgonecrazy opened #13121 "Notification Permission Not Obtained on non-home pages"
If you have anonymous mode on or some how manage to login ignoring the notification request and then never hit home page again.  You aren't asked for permission to send notifications.

Example hit channel page of: https://chat.inkscape.org/channel/general

It never asks for notifications.

However if I click the home page it immediately asks.

@RocketChat/frontend

[2019-01-10 20:46] geekgonecrazy commented on #13101
if you completely close the android app.  Making sure its killed from background too.  Then start it up again it should register the push token again.

Using your steps to reproduce unfortunately are basically the normal flow we would use and I can't reproduce.  So lets see if we can get your tokens loaded back up.

Also in mongo if you run:

[code]

Might help us identify a setting related cause.

[2019-01-10 20:56] ravirajcm commented on #12931
Having the same problem.
It says

[!] Failed to extract backup files to /var/snap/rocketchat-server/common/restore!
[*] Check /var/snap/rocketchat-server/common/restore/extraction.log for details.
[-] Restore aborted!

I did check. my file backup.tgz is there and when I extract it, files exists.

Extraction.log says very less
tar (child): backup.tgz: Cannot open: No such file or directory
tar (chi

[2019-01-11 03:31] Antairez commented on #4780
@geekgonecrazy Now that 0.73 is out, would you mind pointing me to some instructions on how to set-up proxy using the new way? Thank you.

[2019-01-11 04:34] johnbrown-yoti opened #13124 "bcrypt_lib.node: undefined symbol"
### Description:

After upgrading from 0.70.4 to 0.73.2, logging as a known working user crashes the server with an error "symbol lookup error: /rocketchat/bundle/programs/server/npm/node_modules/bcrypt/lib/binding/bcrypt_lib.node:". Users that are already logged in seem to be working fine.

### Steps to reproduce:

1. Start server
2. Open login page in browser and fill in credentials.
3. Click lo

[2019-01-11 04:49] johnbrown-yoti commented on #13124
Upgrading my Node engine from 8.9.0 to 8.12.0 solved the problem.

[2019-01-11 04:50] #13124 closed

[2019-01-11 05:10] himanish-star commented on #12765
@tassoevan could I work on this issue?

[2019-01-11 07:37] jandeger commented on #11355
I have the same problem when trying to import from Stride. I have a tar,gz file that I can see all users, rooms etc. I can select the file and in the GUI I see all users and rooms but the buttons doesn't work. Please try to fix this ASAP since only a few weeks left before HipChat/Stride is closed and Slack is not an option for us.
I've updated to latest version 0.73.2 but still the same problem.

[2019-01-11 07:55] pkolmann commented on #13101
Hi @geekgonecrazy

thanks for your hints. I stopped the app via the settings and started it up again.

I saw in the logfile the registration of my token again:

[code]

If you check closely the userid in the received JSON is different to the userid in the updated JSON array. For other users I see the same userid in both JSON arrays.

I also only have this problem in our production environment. In

[2019-01-11 08:08] martbart commented on #9319
Same here. Running 0.72.3 as Ubuntu snap on Ubuntu 18.04, using Firefox 64.
The red unread bar only disappears when I respond. Changing the room and coming back again has no effect

[2019-01-11 08:14] altafub commented on #12110
@rodrigok is there an update on this? Could you please post the thread link here for the benefit of all? As the end of life for HipChat is near, this would help many like us.

[2019-01-11 08:40] ura14h commented on #4352
The date format in the directory page and the message timestamp in the sidebar with extended mode have the ame issue too.

[2019-01-11 08:41] martbart commented on #9319
What's interesting is that the unread sign (1) next to the channel name on the left and in the tab title disappears when I read the message. What remains is the read line in the chat window as posted by ghost above.
Btw, it's a direct chat with another user if that changes anything

[2019-01-11 09:46] uncledent opened #13125 "Create Token"
Hello, I have a question regarding this api:

https://rocket.chat/docs/developer-guides/rest-api/users/createtoken/

First of all, why is this api listed under Livechat in docs?

Second of all is there a difference with a normal auth token?

How to invalidate it?

How long is it valid?

Thank you!

I can update the docs if you answer this questions.

[2019-01-11 10:27] rmjstn opened #13126 "Broadcast Connected Instances - Incorrect setting"
Hi,

### Description:

We are running a multi-instances of Rocket.Chat.
INSTANCE_IP and extra_hosts are set in the Docker Compose file.
Through tcpdump we see traffic between the two servers (port 3000, in the both ways).

Extract of one Docker Compose file :

[code]

Notifications and users status doesn’t work properly. As you can see on the screenshots below, in the “Broadcast Connected Instance

[2019-01-11 10:36] #13043 closed

[2019-01-11 11:22] slawekp commented on #12110
@altafub Sorry, can't add anything new. We've given up and moved to Slack. Hope you'll succeed with your migration!

[2019-01-11 12:39] morozRed commented on #2194
Hi, I want to work on it.
Do we need to set permission for the role or a specific user?

[2019-01-11 13:41] altafub opened #13127 "HipChat Cloud ZIP import fails"
### Description:

HipChat cloud zip file import fails with error - "Invalid CEN header (bad signature)"

### Steps to reproduce:

1. Login to rocketchat
2. Open https://<rocketchat.com>/admin/import
3. Start HIPCHAT (ZIP) import process by uploading the Zip file exported from HipChat Cloud.

### Expected behavior:

The import process should complete successfully.

### Actual behavior:

Fails with

[2019-01-11 13:44] sloslo4 opened #13128 "Snap not updating (still 0.72.3)"
tracking:     edge
refresh-date: 28 days ago, at 17:33 UTC
channels:
  stable:    0.72.3 (1356) 224MB -
  candidate: 0.72.3 (1356) 224MB -
  beta:      ↑
  edge:      0.72.3 (1355) 224MB -
installed:   0.72.3 (1355) 224MB -

### Description:
Perhaps you forgot to upgrade to the latest version, because 28 days have passed and there is not even an in edge.

Please update snap version

[2019-01-11 15:18] robertwessen commented on #13110
Same symptoms here.

[2019-01-11 15:29] minterior opened #13130 "Permalink to the pinned message is not copied to the clipboard"
### Description:

The permalink of a **pinned message** is not copied to the clipboard when the message is far away (old).

### Steps to reproduce:

1. Go to a channel with a pin pointing to an old message (i.e. it is not displayed).
1. Open the Pinned message right menu.
2. Click on the pin options menu (with options "Unpin Message", "Jump to message"*, "Permalink").
3. Click on the option "Perma

[2019-01-11 16:20] tassoevan commented on #13128
Duplicate of #13082.

[2019-01-11 16:20] #13128 closed

[2019-01-11 16:36] tassoevan commented on #13087
@ura14h I've restored the translations you mentioned.
@oldpiano I don't have much control over Lingohub, maybe @rodrigok can help us.

[2019-01-11 17:23] tlhonmey commented on #12880
This also seems to be a problem on CentOS with node version v8.14.0.  Leak rate seems to correlate with message volume, but that could be a coincidence.

[2019-01-11 18:35] Pratyush1197 commented on #13025
I want to work on this issue. Can you please specify the exact problem and how it is expected to work.

[2019-01-11 19:25] hmagarotto opened #13134 "[BUG] Livechat: Least amount routing method isn't counting open chats"
### Description:

The Least amount routing method is counting overall agent chats.
The counter is not the number of currently opened chats.
If one agent is out for a period (example: vacation), when he comes back, he will receive all chats until reach the count of other agents.

### Steps to reproduce:

1. Configure 2 livechat agents
2. Login with agent 1 and finish 5 chats
3. Login with agent 1 a

[2019-01-11 19:39] BlackFenix2 commented on #11647
ay yo @Hudell. any update on this open issue? i'd like to get in on some of that Office365 SSO goodness!

[2019-01-11 21:06] derniwi commented on #12628
Also happens with other languages. The user may change one setting, i.e. notification volume, and the language is changed to english until the web page is completley reloaded or the desktop application or the mobile app is restarted.

[2019-01-11 22:24] bkraul opened #13138 "Invalid streamRoom eventName error after last develop update"
### Description:

After the last develop update (commit a3fceae7d919274346b8451ee60cf21e41e12202), existing dm rooms do not properly load, and the log displays the following message(s):
[code]
### Steps to reproduce:

1. Update to latest develop.
2. Try to click on any dm session.
3. Room will sit loading but not showing any data, the log messages will appear.

### Expected behavior:
Room messages

[2019-01-11 22:52] bkraul commented on #13138
This  issue persists in commit 807e340049.

[2019-01-12 04:47] Julianoe commented on #2292
It seems i have the same issue (i think ?!) when trying to install RocketChat latest version 0.73.2 on Raspbian 9.6 Stretch with Node 8.11.4 i stumble to this issue
I did the manual installation for Debian and now when i try to start the service it seems to fail because of this:
`/opt/Rocket.Chat/programs/server/node_modules/fibers/future.js:313`

The logs of the systemd service

[code]

Any idea

[2019-01-12 19:38] tassoevan commented on #9495
Duplicate of #4586.

[2019-01-12 19:38] #9495 closed

[2019-01-12 22:46] BenWiederhake commented on #10311
Apparently this is fixed in or before `0.73.1`.  I feel like this bugtracker is useless.

[2019-01-12 22:46] #10311 closed

[2019-01-13 06:51] rockneverdies55 opened #13139 "choose what icons are displayed on top right corner"
I know this is a little one. But... It would be nice if users could choose which icons to be displayed next to the menu (more) icon that opens the dropdown in top right corner icons.

For example I almost never use Add User button nor Room Info button. However I use File List and Video Chat buttons very often. It would be convenient for me if I could replace those 2 that I use with never or very r

[2019-01-13 09:39] grandizzy commented on #13113
Same here, this started to become a real problem for our production env,  RC logs indicates problem with loading missed messages, see below

Server version installed from snap
Rocket.Chat Version: 0.72.3
NodeJS Version: 8.11.3 - x64
ReplicaSet OpLog: Enabled
Commit Hash: 65747ce814
Commit Branch: HEAD

Thanks

Exception while invoking method 'loadMissedMessages' { MongoError: Cursor not found, cur

[2019-01-13 09:47] grandizzy opened #13140 "Rocketchat freeze couple of times per day"
Hi All,

this started to exhibit lately (one to no more than 2 weeks) and it is a real problem for our production env, any help really appreciated

Server version installed from snap
Rocket.Chat Version: 0.72.3
NodeJS Version: 8.11.3 - x64
ReplicaSet OpLog: Enabled
Commit Hash: 65747ce
Commit Branch: HEAD
MongoDB: 3.2.7

RC logs indicates problem with loading missed messages:

Exception while invo

[2019-01-13 09:57] calgromi commented on #12931
I have the same error as in the original post. Any ideas to solve the problem?

[2019-01-13 12:49] barak-haviv commented on #13110
I check the versions it is working on version 0.71.2
And as I said before not working 0.72.3
Looking at the diff not make so much sense.
I hope someone can take a look and give us any input.

https://github.com/RocketChat/Rocket.Chat/compare/0.72.3...release-0.71.2

[2019-01-13 13:49] rohitmyaim opened #13141 "Live Room transfer Rest API to transfer it to user"
There is a Rest API to transfer the room to a department.
https://rocket.chat/docs/developer-guides/rest-api/livechat/room/index.html#transfer-livechat-room

As I check the code, it can support room transfer to a user with some basic modification in code.

Rocket.Chat/packages/rocketchat-livechat/server/api/v1/room.js:96
Just need to take one more parameter in API and then link up the code.

[2019-01-13 18:08] Julianoe commented on #13079
Hello

I use 0.72.3 with Nextcloud 14 and i have the same issue.
I tried to configure Nextcloud to be the file server for the rocketchat instance

[2019-01-13 20:48] Fred-grais commented on #7579
still an issue on the latest version

[2019-01-13 21:47] bkraul commented on #13138
@MarcosSpessatto any thoughts on this? I see these are your commits.

[2019-01-13 21:59] tuxmartin opened #13143 "WebSocket sendMessage - cannot set custom emoji (missing field). REST API has emoji field."
I'm trying WebSocket API and it works great. But I need to set custom emoji for chat message.

REST-API have optional argument for emoji:
[code]
https://rocket.chat/docs/developer-guides/rest-api/chat/sendmessage/

But `Message` object in realtime-api doesn't have `emoji` filed:
https://rocket.chat/docs/developer-guides/realtime-api/the-message-object/

In realtime-api only `emoji` field is missin

[2019-01-13 23:55] tassoevan commented on #13110
It is well known that upgrading Meteor caused this, because Meteor 1.8 introduced a mechanism to provide smaller javascript bundles for modern browsers that don't need some polyfills. I'm not sure which ones, but I've seen that some Edge versions handle things wrongly. @barak-haviv @robertwessen Could you add this info, Edge version?

[2019-01-14 01:19] DBReinitialized opened #13144 "Rocket Chat has a lot of problems"
Hiya Rocket Chat Community!
First off, I want to start out saying amazing work on getting this piece of software together. Based on many search attempts, I don't think there is any good alternative open source chat system such as this. However ... We have some problems :(

One of the biggest things that has kept me away from using Rocket Chat beyond a testing environment is the sheer amount of iss

[2019-01-14 06:48] TomaszDom commented on #12691
I can confirm this bug in 0.73.2, it used to work in 0.69.x, it's a regression. Doesn't look like a particularly crucial thing, but for us it is.

[2019-01-14 09:39] TomaszDom commented on #13144
FWIW, we've been using rocketchat for about 2 years in an enterprise environment with >100 users and have not had any downtime, only a few minutes for upgrades. The real issues is cowboy administrators automatically upgrading their instances each time there's a new release and enabling beta features with no thought given to planning, testing and deployment strategy. If you don't spend the time to

[2019-01-14 10:30] TomaszDom commented on #12691
Another example which worked in 0.69.x:

[code]

[2019-01-14 11:34] DBReinitialized commented on #13144
Although I could be wrong since I don't contribute often, considering the open source nature and the use of GitHub, I figured Issues would be the best place to discuss with the community and keep track of potential ways to solve this.

As for solutions, an LTS would be a fantastic way to handle this. Maybe divise a team of contributors who focus more toward stabilizing the codebase than implementi

[2019-01-14 12:00] barak-haviv commented on #13110
Microsoft Edge 44.17763.1.0
Microsoft EdgeHTML 18.17763

[2019-01-14 12:46] renatobecker commented on #13141
Hi @rohitmyaim.

I didn't understand your requirement.
Please, change the issue's description according our guide for opening issues.
Please take a look at here: https://rocket.chat/docs/contributing/reporting-issues

Thanks.

[2019-01-14 14:10] reetp commented on #13144
If you notice Rocket is still at < 1.0 and should therefore be considered Alpha. IOW don't expect too much, and expect rapid changes.

However it seems that there are a lot of users with stable setups and no issues. Those that do experience them report them here, but note the biggest problem with an issue tracker is you ONLY see the problems and not the success stories. Also note that snap install

[2019-01-14 14:10] reetp commented on #13144
@rocket-cat close

Please open a thread in the forums to discuss further.

[2019-01-14 14:10] #13144 closed

[2019-01-14 14:15] robertwessen commented on #13110
44.17763 here as well.

[2019-01-14 15:16] stoficek opened #13147 "Rocketchat crashes after login attempt"
### Description:

After upgrading mongodb to 3.4.18 and rocketchat to 0.73.2 every time when I try to login a server crashes and I have to manually start it again. We use LDAP as a login mechanism.

### Steps to reproduce:

1.  Upgrade mongodb to 3.4.18
2.  Upgrade rocketchat to 0.73.2
3.  Restart rocketchat (via systemctl in my case)
4. Try to log in via webpage

### Expected behavior:

I am able

[2019-01-14 15:18] sloslo4 opened #13148 "Trying to update snap to latest version (candidate 0.73.2)"
### Description:
Trying to update snap to latest version (candidate)

### Steps to reproduce:

sudo snap refresh rocketchat-server --candidate

### Expected behavior:

Success refresh

### Actual behavior:

error: cannot perform the following tasks:
- Run configure hook of "rocketchat-server" snap if present (run hook "configure": "((enable)|(disable))" is not a valid, set to enable or disable)

#

[2019-01-14 16:34] MarcosSpessatto commented on #13138
Hey @bkraul, sorry for the long delay. I think [this PR](https://github.com/RocketChat/Rocket.Chat/pull/13146) fix your issue. Please let me know if the problem persists.

[2019-01-14 16:52] #13138 closed

[2019-01-14 17:01] AmShaegar13 commented on #9611
May I add changing user roles here too? Regularly, the last owner of a channels leaves the company. I need to pass ownership by request. I could not find a way to do so without setting it in the database directly.

[2019-01-14 18:45] ghuser opened #13149 "Markdown links with parentheses are not rendered correctly"
### Description:

### Steps to reproduce:

Open a chat window and write the following text:

`[Disambiguation](https://en.wikipedia.org/wiki/Disambiguation_(disambiguation))`

### Expected behavior:

Link should be rendered correctly and link to correct page.  In github / VSCode / stackoverflow it works. See how github renders it: [Disambiguation](https://en.wikipedia.org/wiki/Disambiguation_(disa

[2019-01-14 18:49] piotrkochan commented on #9611
Sure you can manage roles and add role to the user. Just edit user.

pon., 14 sty 2019, 18:02 użytkownik Finn Glöe <notifications@github.com>
napisał:

[2019-01-14 21:01] DBReinitialized commented on #13144
Apologies, I didn't know there was a forum as it's linked only on the website after clicking on Community and not the GitHub. I'll definitely move this over there knowing that now

[2019-01-14 22:50] Hudell opened #13151 "Add setting to configure default role for user on manual registration"
Rocket.Chat currently has a setting to determine the initial role for users who login using an authentication service (such as OAuth, LDAP or SAML), but there's no setting to configure the initial role of new registered users.

It always assigns the 'user' role to those users. We need a new setting to change this behavior.

[2019-01-15 06:07] esolix commented on #13147
Update: I upgraded to NPM 6.4.1 and it works now

[2019-01-15 07:36] stoficek commented on #13147
Mine version of NPM is 6.5.0

[2019-01-15 07:38] esolix commented on #13147
Try 6.4.1

[2019-01-15 08:11] igeorgie commented on #11570
We have the same problem! We really need this option for production.
Great product b.t.w. Thanks!

[2019-01-15 08:37] stoficek commented on #13147
6.4.1 didnt help in my case

[2019-01-15 09:10] vsestranny commented on #1196
@engelgabriel I see you've set up a bounty for this, and you're a team member, a head honcho even, but is there a point in applying? I could've done this issue back in '17 when I first noticed it, as I've collected enough LDAP knowledge, but then I got cold feet seeing some 50+ PRs unattended for months. Fast forward a year, and the amount of stale PRs more than doubled. Sooo should I keep RC in m

[2019-01-15 09:19] DiederikvandenB commented on #11015
Did you ever find a solution to your problem? We are experiencing the same issue.

[2019-01-15 11:32] lazyants opened #13155 "Uploading of a file with 53 MB fails due reached the maximum of the sort operation"
### Description:

Trying to upload a zip file, 53 MB and getting internal server error

### Steps to reproduce:

1. Open group or channel
2. Upload file of this size

### Expected behavior:

File is uploaded

### Server Setup Information:

- Version of Rocket.Chat Server: 0.72.3
- Operating System: Ubuntu 16.04
- Deployment Method: snap
- Number of Running Instances: 1
- DB Replicaset Oplog:
- Nod

[2019-01-15 11:42] Shaverdoff commented on #12962
i install self hosted jitsi to and enter domain in configuration on Video conference. but every time than i make video - and other in dm or pg click to join Rc tell me that Call is already ended... if copypaste url from button - call in progress.... is a bug on some misconfiguration? and about Chrome Extension ID... where i can get it? i must enter a new one?

[2019-01-15 11:55] MarcosSpessatto commented on #13125
Hello @uncledent.

There's no reason to that endpoint  to be listed under Livechat docs, probably it seems that the endpoint has the same link of some endpoint of livechat.

Is the same session token, but can be generated by admin or someone with the necessary permission.

Like a session token, you can call the logout endpoint and the token will be invalidated.

There is a settings in the admin pa

[2019-01-15 11:58] MarcosSpessatto commented on #13109
Hello @SteveUNSW can you please provide some logs or more informations about it?

[2019-01-15 12:43] dmoldovan123 commented on #12978
Hello, I check on server with roccketchat version 0.72.3 same probleme.

[2019-01-15 13:01] barak-haviv opened #13156 "Send buttons is not shown on IE11"
### Description:

Send Icon is not shown on smaller screen less than 500px

- Version of Rocket.Chat Server: 0.72.3
- Operating System: windows 10

I was Manage to solve it by adding custom CSS

/* IE11 bug send button is not shown */
@media only screen and (max-width: 500px) {
  .rc-message-box__send {
    flex-basis: 45px
  }
}

Extra: cursor is not defined for send button
.rc-message-box__send

[2019-01-15 15:18] hari319 commented on #12870
any Update Please ??

[2019-01-15 16:16] FaizanZahid commented on #2046
atleast a bio or about me section must exist for each user profile page, this will let users write and introduce each other.

[2019-01-15 16:57] oliversturm commented on #1112
I'm not sure if I'm adding anything really useful to the conversation, but I have found the threading in Microsoft Teams to be quite useful. As many others have said, it helps group messages in one channel by conversation, but it's not intrusive and doesn't require extra work (by the user) to get right. I'm not familiar with many of the other solutions mentioned in this issue, but I find my (quite

[2019-01-16 03:20] rapcal opened #13161 "Reply to offline livechat message"
In previous versions, we could directly reply to livechat offline messages - the sender was set to the inbound user email.

Now it’s set to the default Rocket.Chat install email.

Can we revert to the previous behaviour?

[2019-01-16 04:51] SteveUNSW commented on #13109
When clicking on the verification link, a 500 error occurs:

Exception while invoking method 'verifyEmail' Error: Can't call setUserId in a method after calling unblock     at MethodInvocation.setUserId (/app/bundle/programs/server/packages/ddp-common.js:367:13)     at AccountsServer._loginUser (/app/bundle/programs/server/packages/accounts-base.js:700:22)     at AccountsServer._attemptLogin (/app

[2019-01-16 06:34] marcus-no commented on #2422
/away <optional time in minutes, remove away status when passed> <optional away message> would be sweet.

[2019-01-16 08:04] alonelion1987 opened #13162 "Make previews for PDF files (server side rendering)"
Hello!

The current implementation of pdf viewing is not very convenient. It would be more convenient to create a representation for pdf files on the server and send them to the client for display. For example in iframe (browser) and open new window in electron app (with special lib)

[2019-01-16 08:18] sloslo4 commented on #13148
today snap refreshed ok, so closeup

[2019-01-16 08:18] #13148 closed

[2019-01-16 08:22] fabien4455 commented on #6026
The problem is still present please fix it.

I have this problem with a lot of files.

[2019-01-16 08:39] guidozuc commented on #1838
Any update on the ETA for this feature?

[2019-01-16 10:55] zpavlig opened #13164 "network load every 5 minutes"
Hello.

Install mongodb replicaset 4.0.3 (3 nodes) + rocket.chat release 0.68.4 (3 nodes).
Every 5 minutes first node network load outgoing 150mbps and second node incoming network load 150mbps.
At this time on two nodes process node main.js load cpu 50%.

[2019-01-16 12:22] skrantz2000 opened #13166 "Google Vision gets TypeError: this.storageClient.bucket is not a function"
### Description:

Enable Google Vision per documentation and when called gets:

Exception in defer callback: TypeError: this.storageClient.bucket is not a function
    at GoogleVision.annotate (packages/rocketchat:google-vision/server/googlevision.js:113:40)
    at packages/rocketchat:lib/lib/callbacks.js:100:26
    at Array.reduce (<anonymous>)
    at Object.RocketChat.callbacks.run (packages/roc

[2019-01-16 12:38] r1walz commented on #13151
@Hudell : I'd like to work on this issue

[2019-01-16 13:36] horvan commented on #13060
What about a Modal styled dialogue with the O-Auth buttons von the left and the user name password fields on the right. The buttons could than have all a call to action named Sign in with X. The Mobile app has such a dialogue already so we all know it isn't that much hard to do.

[2019-01-16 15:57] Hudell commented on #13151
Thanks, @r1walz ! Let me know if you need any help or extra information.

[2019-01-16 16:23] MarcosSpessatto commented on #12911
Hey @sviridan, sorry for the long delay. About your question, this is not a bug, the admin or any other user calling this endpoint, or any other endpoint under `groups.` must be part of the group.

[2019-01-16 16:34] istatwat commented on #5020
i can't get thiscode working  do i need to put somthing before li.?

[2019-01-16 17:50] MarcosSpessatto commented on #12796
Hello @lucassmacedo, can you please update your server to the latest version and try again? I think this problem has been solved. If the problem persists, please let us know.

[2019-01-16 19:09] r1walz commented on #13151
@Hudell : any help or information are most welcomed. Basically, I have to add a setting in the admin panel so that every new user is automatically assigned the selected role, right? Correct me if I am wrong, give me leads if you have any. Thanks!

[2019-01-16 19:41] #11427 closed

[2019-01-16 19:41] #12789 closed

[2019-01-16 20:06] yann-gael commented on #7132
Hi,
I have the same problem with:

{"version":"0.72.3","success":true}

What should I do?
Best,
Yann

[2019-01-16 20:12] geekgonecrazy opened #13171 "Apps call to commands.list breaks on subdir"
### Description:

when using a subdirectory calls to commands.list and others break

### Expected behavior:

Get 200 response

### Actual behavior:

Calls incorrect address

### Server Setup Information:

- Version of Rocket.Chat Server: 0.73.2

### Additional context

https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/client/lib/RestApiClient.js#L47

Using window.locat

[2019-01-16 20:58] #13104 closed

[2019-01-16 20:59] #12910 closed

[2019-01-16 21:03] #13079 closed

[2019-01-16 21:03] #13093 closed

[2019-01-16 21:15] rodrigok commented on #13069
@ohmonster did you marked the setting `Background Sync Update Existing Users` as true?

[2019-01-16 21:18] ohmonster commented on #13069
Yes

[2019-01-16 21:52] geekgonecrazy commented on #13171
Talked with @d-gubert and document.baseURI might do the trick.  This file is pretty meteor command free if we want to keep it that way might use that.  Otherwise could probably use something like Meteor.absoluteUrl ?

[2019-01-16 22:35] MalloryThomas opened #13189 "Uploading Error"
- Your Rocket.Chat app version: 2.14.7
- Your Rocket.Chat server version: 0.57.1
- Device (or Simulator) you're running with: Windows App (on PC)

Since the new year, no one on my team has been able to upload any files/photos. None of the settings in the Admin account have changed from last year when we were able to send them.

This is what happens and it never progresses:

![image](https://user-i

[2019-01-16 22:56] BenTaylorPublic opened #13172 "MongoDB High CPU usage after a backup, using snap"
I use Rocketchat at work with around 15 active users. We run a server locally, because of slow internet speeds, and have used it for the ~9 months.
Recently I had to back up the server for a replacement (upgrade). The new server is the same OS (Ubuntu Server 18.04), and the snap versions haven't changed (still 0.72.3 stable).
Please note I've tried this process twice now, both with fresh OS instal

[2019-01-17 00:45] SteveUNSW commented on #5506
Any updates from this?

[2019-01-17 02:23] grantholle opened #13173 "Can only enable encryption for DM's if have edit-room permission"
Love E2EE capabilities.

The downside is that if I want to allow my users to enable this feature in DM's, I have to give them the `edit-room` permission. This also means they can edit private and public rooms as well 😬.

Would love perhaps a separate permission for DM room settings, or even just a permission to enable encryption in DM's.

[2019-01-17 03:44] l8nites commented on #13147
Similar issue here. We don't use LDAP, crashes seem to occur around user administration.

[2019-01-17 07:30] zpavlig opened #13174 "Cannot read property 'getReadStream' of undefined"
Hello

I updated rocket.chat to 0.73.2, try upload file for webdav

error:

[code]

thx

[2019-01-17 07:54] ngulden commented on #13171
I reported the issue directly to the Rocket.Chat team. I was using the official Rocket.Chat Docker container in version 0.71.1.

[2019-01-17 08:03] piroxiljin opened #13175 "Settings for Shift+Enter action"
There was the #5673 issue, which makes Ctrl+Enter inserts a new line. So now, the Enter button with any modifers perform the same action (send message or insert a new line, depends on settings).
But I prefer to use Shift+Enter to insert a new line and Ctrl+Enter to send the message.

Could we get some setting which makes it possible?

[2019-01-17 08:03] vl-code commented on #7132
Hi!
I also have the same version and problem.

[2019-01-17 09:57] tctovsli commented on #13147
I have the same issue. We use LDAP.

Is there a way to downgrade? When I tried spinning up the previous image, I got a `Can't find migration version 137`

[2019-01-17 10:20] juice99 commented on #2084
I totally agree with flaviovs suggestions and we have similar problem, this issue should be re-opened or new one created

[2019-01-17 10:46] sampaiodiego commented on #13085
I'll try rebuild the current. thx guys

[2019-01-17 10:53] kuluev commented on #13147
Try to update your NodeJS. Mine worked after v8.11.4 update.

[2019-01-17 10:55] sampaiodiego commented on #12993
looks good.. I'll schedule this to the next release.

[2019-01-17 10:57] tctovsli commented on #13147
Will do.
Also, found this: https://github.com/kelektiv/node.bcrypt.js/issues/656
I think perhaps this dependency update might have caused this issue: #12624 since bcrypt is updated from v2 to 3.

[2019-01-17 11:43] sampaiodiego commented on #13085
done!

[2019-01-17 11:43] #13085 closed

[2019-01-17 12:05] rsimai commented on #13085
pulled, started and verified, all is good now. You guys rock, thanks! :-)

[2019-01-17 12:36] tassoevan commented on #13175
On `Account > Preferences`, under the section `Messages`, there is a setting called `Enter key Behaviour` which must be what you are looking for.

[2019-01-17 12:36] liushuang00o opened #13178 "Mongodb Replica Set doesn’t work properly"
Hi,

### Description:

We are running a multi-instances of Rocket.Chat. Use Mongodb  Replica Set

Extract of one Docker Compose file :
<pre>
rocketchat:
    image: rocketchat/rocket.chat:latest
    environment:
        - PORT=3000
        - ROOT_URL=http://localhost
        - MONGO_URL=mongodb://rocket:password@rocket-1:27017,rocket-2:27017,rocket-3:27017/rocketchat?authSource=admin&replicaSet=tes

[2019-01-17 13:08] taenzerme commented on #2422
What's the current status on this? We're considering moving to Rocket Chat but would need a custom user status feature. Is this implemented already?

[2019-01-17 13:13] sampaiodiego commented on #7127
you mean you want to mention a team or maybe starting a thread with only this few people?

[2019-01-17 13:15] sampaiodiego commented on #7138
you can write your own app now :tada:

if that is not what you want, please let me know

[2019-01-17 13:15] #7138 closed

[2019-01-17 13:38] c-to-the-l commented on #12321
A temporary workaround for this bug is to replace any `:`s in links with `&#58;`, which will stop the emoji from being inserted into the link.

Of course, this means hand-editing any messages that have this issue.

[2019-01-17 13:46] amelkor opened #13179 "Quote a message via REST API postMessage"
Currently I do not see any possibilities to quote or reply a message with REST API functions. Is this possible or do I miss something? Such a feature really wanted.

[2019-01-17 13:53] Marx1st commented on #12911
So, joining the group, listing its members and leaving it again would be the suggested method?

[2019-01-17 14:04] sampaiodiego commented on #7266
on the directory page you have a way to find new channels you're not joined.

we'll add an icon there to show the ones you're already joined and also add an action column with actions like join or leave (pretty much the same as you have already on side nav)

[2019-01-17 14:17] yuritoledo commented on #8256
+1

[2019-01-17 17:23] renatobecker commented on #11427
Hi @wreiske.
Yeah, it's an optional feature as you can see below.
Thanks.

![screen shot 2019-01-17 at 15 22 36](https://user-images.githubusercontent.com/2067649/51336490-cc204300-1a6b-11e9-86a2-651ae93bcae9.png)

[2019-01-17 17:34] krispayne commented on #2422
It is not, as far as I know. I work remote so having a status is really necessary. Especially with the ability to mute notifications.

[2019-01-17 18:14] rodrigok commented on #13095
@geekgonecrazy and @sampaiodiego any ideas?

[2019-01-17 18:42] sampaiodiego commented on #7162
we have a prune messages feature already, does that solves your issue? you can define for how long messages will be saved, and you can define different params for public channels, private channels and DMs

[2019-01-17 19:38] sampaiodiego commented on #7150
we don't see rocket.chat as having a proactive way of engaging customers. we plan having many omni channels integrations though.

[2019-01-17 20:09] MarcosSpessatto commented on #12870
Hi @hari319, sorry for the delay, I'm not sure if I understand your question, are you trying to get the owner of a private group? If so, are you part of this group?

[2019-01-17 23:55] mixrat commented on #7150
Seems like a fairly easy implementation given the fact that I can change the number of an incoming SMS and initiate an SMS to the new number. In other words the functionality already exists and based on comments here people really want this - to the point hey are ready to pay for implementation. If you are not looking to engage customers, what is the purpose of LiveChat anyway?

[2019-01-18 02:32] DoM1niC commented on #13147
I had the same Problem, Update NodeJS using NVM to switch between the Versions :+1:

[2019-01-18 05:45] aexonicarindam opened #13185 "Running Issue"
I had clone the code and want to run on my localhost. But there are some error.

=> Errors prevented startup:

   While reading package from `/var/www/Rocket.Chat/packages/rocketchat-katex`:
   fs.js:904:18: ENOENT: no such file or directory, scandir
   'packages/rocketchat-katex/node_modules/katex/dist/fonts/'
   at Object.fs.readdirSync (fs.js:904:18)
   at package.js:22:29

Anyone can you pleas

[2019-01-18 06:13] piroxiljin commented on #13175
I'm sorry. Probably I have described my issue not clearly.

I have tried different value for the `Enter key Behaviour` settings.
There are:

- "Normal mode (Send with Enter)"
- "Alternative mode (Send with Enter + Ctrl/Alt/Shift/CMD)"
- "Desktop mode (Only sends With Enter On Desktop)"

But I think, it would be great to have another one:
- "Send with Enter + Ctrl/CMD/Alt"

In other words, I think

[2019-01-18 08:59] sviridan commented on #12911
We tried to implement the variant with join to the group.
But there was a problem with notifications about  join/leave group.
It is also impossible to turn off notifications for a while - when turning on notifications, they appear again.

I would be very grateful if someone will help solve the problem of viewing group members, without notifications.

[2019-01-18 09:22] hari319 commented on #12870
@MarcosSpessatto ya!! you are right i wanted to have owner name of private groups. No i am not the part of that group. But I am using the admin token to access the private group details. wanted to have list of all channel(private and open) in our rocket-chat and also the owner's name. Listing part works perfect, just can see the roles of Private Groups. So how can i access that owner details ?

[2019-01-18 09:41] fabien4455 opened #13186 "[SlackBridge] " SlackBridge Out All " --> " Off " NOT WORKING"
### Description:

If I choose Off setting to only enable slackbridge on one or two channels, the messages sent from slack will be displayed on Rocket but the opposite ( message sent from Rocket wont be displayed in Slack )

### Steps to reproduce:

1 - Select 'SlackBridge' in the Administration menu
2 - Type the name of the Channel into 'SlackBridge Out Channels' and select it
3 - Click 'Save Chan

[2019-01-18 09:52] nova168168 commented on #10142
have same issue here !!!  mobile can't receive any notification !

Rocket.Chat version 0.73.2

OS Type | Linux
linux
x64
4.4.0-87-generic
v8.11.3

[2019-01-18 10:00] fabien4455 commented on #12873
Could you please add a ticket like on the other issues in GitHub and open again this thread ? : feature-request

Thank's

[2019-01-18 10:38] reetp commented on #13164
Please follow these guides:
https://github.com/RocketChat/Rocket.Chat/issues/new?template=bug_report.md
http://rocketchat.github.io/docs/contributing/reporting-issues/

Your version is 5 months out of date and there have been a lot of changes since then.

Your first step is to test on the latest version as your Issue may have already been fixed.

[2019-01-18 10:39] reetp commented on #1112
Please follow this bug (there is a test version you can try)

https://github.com/RocketChat/Rocket.Chat/pull/11803

[2019-01-18 10:51] yahesh opened #13187 "Partially formatting words does only work at the beginning of the word"
You can format text with Markdown-esque syntax like `*blafasel*` which results in "**blafasel**". It is even possible to only format the beginning of a word with `*bla*fasel` which result in "**bla**fasel". It is however **NOT** possible to format the end of a word or the middle of a word like `bla*fasel*` or `bl*afa*sel` which result in "bla\*fasel\*" and "bl\*afa\*sel" instead of "bla**fasel**"

[2019-01-18 11:15] MarcosSpessatto commented on #12870
@hari319 Unfortunately you can't get information of the owner of a private group  unless you are part of the private group. This endpoint and all others `groups.` needs the user be part of the group to be able to retrieve informations about private groups, even so the user is administrator, he must be part of the group.