[2017-07-23 01:04] #4527 closed

[2017-07-23 01:06] geekgonecrazy commented on #4534
just to follow up here it would be: `db.rocketchat_settings.update({_id:"Force_SSL"}, {$set: {value: false}})`

[2017-07-23 01:06] #4534 closed

[2017-07-23 01:09] geekgonecrazy commented on #4583
Can you try this on a recent version?  If this still happens feel free to re-open.

[2017-07-23 01:09] #4583 closed

[2017-07-23 01:10] geekgonecrazy commented on #4626
Yes sounds like the issue here for most is ssl.  You must be accessing over https for this to work.

Going to go ahead and close since most messages are old.

[2017-07-23 01:10] #4626 closed

[2017-07-23 01:12] geekgonecrazy commented on #4635
I'm not sure if this is still an issue.  @Jamie-Owen if it is we definitely would accept any PR's

[2017-07-23 01:17] geekgonecrazy commented on #4657
I know this issue is old.  But just to clarify.  If you are using our apps from the app store make sure you are using our gateway on your server.

If you have built or sideloaded your own, you will need to get tokens and set all of that up.

[2017-07-23 01:17] #4657 closed

[2017-07-23 01:17] #4702 closed

[2017-07-23 01:19] geekgonecrazy commented on #4707
Please try newer version of Rocket.Chat It hasn't been reported since, so it seems like it must have been fixed.

If not please re-open

[2017-07-23 01:19] #4707 closed

[2017-07-23 01:22] geekgonecrazy commented on #4784
Please try on a newer version of Rocket.Chat and if still persists hop on our community server or one of our other support methods https://rocket.chat/docs/getting-support

[2017-07-23 01:22] #4784 closed

[2017-07-23 01:23] geekgonecrazy commented on #4826
We revamped this please try in our latest release. If still having issues feel free to re-open

[2017-07-23 01:23] #4826 closed

[2017-07-23 01:25] geekgonecrazy commented on #4830
I use `<br>` in webhooks all the time.  Try in text field, also make sure to give this a shot in a newer version of Rocket.Chat.  Its possible we solved the issue you were having.

[2017-07-23 01:25] #4830 closed

[2017-07-23 01:26] geekgonecrazy commented on #4874
Exactly as said above :top:

[2017-07-23 01:26] #4874 closed

[2017-07-23 01:26] geekgonecrazy commented on #4838
Duplicate of https://github.com/RocketChat/Rocket.Chat.Cordova/issues/104

[2017-07-23 01:26] #4838 closed

[2017-07-23 01:28] #5151 closed

[2017-07-23 01:30] geekgonecrazy commented on #5151
Closing due to inactivity feel free to hop on our community server and we can provide advice

[2017-07-23 01:31] geekgonecrazy commented on #5127
Can you try this with a newer version of Rocket.Chat? Please re-open if still happening

[2017-07-23 01:31] #5127 closed

[2017-07-23 01:32] geekgonecrazy commented on #5122
Going to go ahead and close this.  Please re-open if still facing this

[2017-07-23 01:32] #5122 closed

[2017-07-23 01:35] geekgonecrazy commented on #4896
if you get stuck with this use: `rocketchat-server.mongo`  and then `use parties` and finally `db.rocketchat_settings.update({_id: "Force_SSL"}, {$set: {value: false}})`

[2017-07-23 01:35] #4896 closed

[2017-07-23 01:38] geekgonecrazy commented on #4890
are you guys still experiencing this? If so please re-open

[2017-07-23 01:38] #4890 closed

[2017-07-23 01:39] geekgonecrazy commented on #5385
I believe this is fixed on newer versions.  Please re-open if not the case

[2017-07-23 01:39] #5385 closed

[2017-07-23 01:43] geekgonecrazy commented on #7421
Please feel free to stop by [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) on our community server if you would like to dig into this further.  Going ahead and closing this issue as its support related and not a bug or feature request.

[2017-07-23 01:43] #7421 closed

[2017-07-23 04:07] flantascience opened #7547 "Sidebar is blank on mobile"
### Description:

Just made a new install of RocketChat and have an issue that the sidebar shows up as blank on mobile devices.  I realize this is also happening at demo.rocket.chat !    Anyone else have this?

(My site)   https://punchattool.peerunschooling.net

![img_5610](https://user-images.githubusercontent.com/12577122/28496473-409b6784-6f21-11e7-84d8-e5bd8667485d.jpg)

### Server Setup Info

[2017-07-23 12:02] JannikZed commented on #6809
I don't know what I'm doing wrong, but it's still not working for me. I'm using exactly the settings you where screenshotting, but no success. It would be so nice to have o365 as an officially tested oauth provider in rocketchat.

		TRIEB.WORK | DISRUPTIVE IT SOLUTIONS
Jannik Zinkl
Geschäftsleitung
+49 151 51183272 (mobil)
Email: jannik.zinkl@trieb.work

Diese E-Mail ist ausschließlich für den ang

[2017-07-23 12:14] bluenevus commented on #6809
The problem is you are in localhost on http vs a domain or up on https port 443

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: JZinkl <notifications@github.com>
Sent: Sunday, July 23, 2017 8:02:29 AM
To: RocketChat/Rocket.Chat
Cc: Frank Tucker; Mention
Subject: Re: [RocketChat/Rocket.Chat] Is RocketChat not compatible with OAuth2 and Office365? (#6809)

I d

[2017-07-23 13:34] KoAi commented on #6809
Still not working for me too with same config and https with domain.
I will give others tries next week

[2017-07-23 13:43] drasbeck opened #7548 "ctrl + tab not working on Brave browser"
### Description:

When using RC via brave browser, ctrl + tab does not work as intended.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Deployment Method: Tested on demo.rocket.chat and my own rpi snap server

### Steps to Reproduce:

1. Run the RC-client from Brave browser versions 17.19 and 18.9beta on macOS 10.12.6
2. Enter a channel or a direct message, i.e. not 'Adm

[2017-07-23 14:42] lukasreichart commented on #4832
I have exactly the same issue running rocket.chat in Docker:
OS: Ubuntu 16.04
rocket.chat version: 0.57.2

If I set ROOT_URL to `http://localhost:8080/chat` everything works perfectly fine except a the file upload. Checking the developer console on my browser I get the following error when trying to upload a file:
[code]

[2017-07-23 17:31] teamsoo commented on #7547
@flantascience There is nothing wrong on my mobile. Have you try restarting your phone? Can you check your network connectivity?

[2017-07-23 18:11] Davide95 opened #7549 "Alias not changing when messages are sent without receiving other messages between"
### Alias not changing when messages are sent without receiving other messages between.
The alias of the user doesn't change in the web client in this scenario:

### Steps to Reproduce:

1. A send a message A1 and set his alias (e.g. "Rob")
2. B send a message B1
3. A send a message A2 and set his alias (e.g. "Mum")

In this case everything is ok. But the bug appear if
1. A send a message A1 and s

[2017-07-23 18:55] stacybot123 commented on #7545
Resolved. Thank you for this great product!!

[2017-07-23 18:55] #7545 closed

[2017-07-23 21:39] stuurgurs commented on #6365
@rajitgarg2  did you have successes in you question? i have the same issue

[2017-07-24 04:31] rajitgarg2 commented on #6365
No @stuurgurs , I have not found any solution and due to that i switched from this and leave this

[2017-07-24 05:12] designgurudotorg opened #7550 "Add internal hubot to private chats by default"
What's the easiest way to do this guys and gals? Ideally it would be a default admin setting to toggle on or off (if on the hubot could repond to requests in every private chat until it's been removed from the chat.)

[2017-07-24 06:41] N4IR0 commented on #5005
Tested with 0.52.1 still not editable or deletable.

[2017-07-24 09:21] negram opened #7551 "Emojis are not rendering"
### Description:

After last update to commit ea5a319a5e we lost smiles in the chats. They are unseen in both chats as replaced ":)" and reactions to messages.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.0-develop
* Operating System:
* Deployment Method(snap/docker/tar/etc): etc
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:

### Steps to Reproduce:

[2017-07-24 09:48] danieljhochman opened #7552 "Custom CSS not being applied right away"
We are having an issue that the custom CSS is sometimes taking a few seconds to be applied and other times, is never applied on initial load and only shows up after switching rooms.

[2017-07-24 10:07] JohnBFrm opened #7553 "Disable logging of certain rooms, such as direct messages"
### Description:

Currently all messages from all rooms are being logged to the database (MongoDB). We'd like to disable the logging of direct messages, so they are kept completely private.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.1
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1

### Expected behavior:

[2017-07-24 11:27] sampaiodiego commented on #6537
Thank you all, I'll close this since the opener didn't answer. If support is still needed please try one of our other support methods https://rocket.chat/docs/getting-support

[2017-07-24 11:27] #6537 closed

[2017-07-24 12:13] reetp commented on #7550
This was reported here :+1:

[2017-07-24 12:23] MartinSchoeler commented on #5559
Fixed by #7195

[2017-07-24 12:23] #5559 closed

[2017-07-24 12:27] MartinSchoeler commented on #7551
Confirmed on latest develop version

[2017-07-24 13:05] MartinSchoeler commented on #7547
@flantascience @teamsoo I couldn't reproduce this either on android using chrome and desktop chrome on a small resolution. I don't have a IOS device to test this though.

[2017-07-24 13:14] MartinSchoeler commented on #7553
Maybe you are looking for something like [Off The Record Messaging](https://rocket.chat/docs/user-guides/off-the-record#off-the-record)

[2017-07-24 13:19] JohnBFrm commented on #7553
Hi Martin,

We've checked OTR, but it sadly doesn't fit the full criteria. We would love to be able to disable direct message logging entirely, so none of them end up in the database/saved.

[2017-07-24 13:26] MartinSchoeler commented on #7548
This only happens when the message input have focus

[2017-07-24 13:28] MartinSchoeler commented on #3132
@reetp please create a new issue following our new issue guidelines. Thanks!

[2017-07-24 16:06] geekgonecrazy commented on #7385
@Horgix please try 0.57.2 as it contains an additional bug fix specifically for avatars

[2017-07-24 16:20] MartinSchoeler opened #7558 "Clicking a quote link breaks the channel"
### Description:

When a quote has a link like this `[ quote ](http://localhost:3000/channel/quote?msg=92F6DaM4Xnik5Q8K9) ` and that link is clicked the channel becomes empty.

### Steps to Reproduce:

1. quote a message and add text between the link brackets.
2. click the link on that messages 2 times

### Relevant logs:
Browser:
<details>

[code]

[2017-07-24 16:28] reetp commented on #3132
Someone else already has:
https://github.com/RocketChat/Rocket.Chat/issues/7550

[2017-07-24 16:29] reetp commented on #7550
I am experiencing this or similar on v0.57.2 - CentOS 6, Node 4.8.x

If I create a Public channel I can add and chat to the internal hubot.
If I convert it to Private the bot does not respond
Convert back it Public and it works again

[2017-07-24 19:11] designgurudotorg commented on #7020
Looks good to me too! :)

[2017-07-24 19:23] canphaz commented on #1888
Hi, I am still having this issue with 0.57.2.
Whatever type of .ico file I upload, I get the same error about "Invalid file type : image/vnd.microsoft.icon".
<img width="418" alt="screen shot 2017-07-24 at 21 22 33" src="https://user-images.githubusercontent.com/203897/28540614-44c3916a-70b6-11e7-9852-28f6675d73c4.png">

What am I doing wrong?
Thanks,

Ralph

[2017-07-24 19:32] HewittJC opened #7560 "Cannot Redefine URL of RocketChat"
### Description:

Setting up server with docker I should be able to set rocket chat to be visible at https://example.com/chat-url

According to my searches I only need to change the ROOT_URL in the docker compose file. This has led to an "unknown path" error message.

### Server Setup Information:

* Version of Rocket.Chat Server: Latest (as of this post date)
* Operating System: Ubuntu Server 16.

[2017-07-24 19:38] HewittJC commented on #7560
The issue was that I needed to explicitly pass the "/chat-url/" in my proxy_pass line in my nginx config...

[2017-07-24 19:38] #7560 closed

[2017-07-24 20:15] HewittJC opened #7563 "Websocket"
### Description:

File upload doesn't work. Image upload, video send, voice send, and avatar image upload.

### Server Setup Information:

* Version of Rocket.Chat Server: latest (as of this post)
* Operating System: Ubuntu Server 16.04
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1

### Steps to Reproduce:

1. Login
2. Go to upload avatar and select image
3. Cli

[2017-07-25 00:35] WebSavvyGuy commented on #7553
This would also help to reduce unnecessary load on the server.   This is a good suggestion and something we are looking for as well and if we had it as optional, that would be even better.  We would like to see them completely deleted upon users closing their browser window and not stored anywhere.

[2017-07-25 01:07] danilomiranda commented on #3756
How about that guys?
![reaction](https://user-images.githubusercontent.com/1092454/28551038-9adc8390-70bb-11e7-984e-f16e8419ac1c.gif)

[2017-07-25 02:19] teamsoo commented on #7547
@MartinSchoeler Both my server and demo server work fine on my iPhone. Can't test on iPad cuz I can't afford one.

[2017-07-25 04:44] flantascience commented on #7551
+1 Got the same thing happening for me

[2017-07-25 05:33] davidsiaw commented on #6791
It is an issue. I cannot upload a favicon too

[2017-07-25 07:51] mborhade commented on #7551
some emojis are working after running `meteor add qnub:emojione` ,
but still some are not working there...
![emojis](https://user-images.githubusercontent.com/10369619/28561395-d94be690-713b-11e7-9c27-d3ced1b3d90c.png)

[2017-07-25 08:34] Horgix commented on #7385
@geekgonecrazy : just updated to `0.57.2`, and it looks like it actually made it worse:

[code]

So nothing has been migrated anyway, but now it's not even possible to update avatars:

[code]

No idea why it's not trying to look for files directly in `/`, but it didn't do that before and I have trouble understanding why user avatars would ever be stored in the root directory

[2017-07-25 09:08] drasbeck commented on #7548
I can confirm this.

[2017-07-25 10:26] fahad198 opened #7567 "Issues when starting the Rocket Chat for Development"
Hi .

I am getting an just after after I run the command meteor npm start

Trying to develop the Rocket chat on Windows 8.1 and I am getting the following error... I am copying the log

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Users\\fif\\AppData\\Local\\.meteor\\packages\\meteor-tool\\1.5.1\\mt-os.windows.x86_32\\dev_bundle\\bin\\node.exe',
1 verbose cli   'C:\\Users\\fif\\AppData

[2017-07-25 10:29] Igloczek commented on #5341
@MartinSchoeler any updates on this? It's really painful 😢
Even when we enable real names, the list is still sorted by nicknames.

[2017-07-25 12:17] MartinSchoeler commented on #7563
Duplicate of #4832

[2017-07-25 12:17] #7563 closed

[2017-07-25 12:21] zahaim opened #7568 "Unread Favicon not being added on direct message"
### Description:

Users accessing RocketChat with browsers are not aware of direct messages. Adding a notification with a count of unread direct messages like in gmail would be beneficial. Something like `(1)` before the name of RocketChat instance on the browser tab.

### Server Setup Information:

Any versions actually.

### Steps to Reproduce:

1. Use browser to reach RocketChat
2. Get direct m

[2017-07-25 13:23] HewittJC opened #7570 "Video Calls Don't End On Logout"
### Description:

If you are in a video call with someone and you click logout, the video call continues as long as the page is up.

### Server Setup Information:

* Version of Rocket.Chat Server: Latest as of this issue date.
* Operating System: Ubuntu Server 16.04
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1

### Steps to Reproduce:

1. Login
2. Initiate Vide

[2017-07-25 13:25] MartinSchoeler commented on #7568
Confirmed on latest develop branch, but strangely enough it work as intended on our demo server

[2017-07-25 14:03] #7551 closed

[2017-07-25 14:14] designgurudotorg commented on #7367
Looks like all the action on this is here: https://github.com/RocketChat/Rocket.Chat/pull/7350

[2017-07-25 15:54] chrisaudet commented on #3421
Just completed our Windows 10 RocketChat deployment, used a GPO which ran the "rocketchat-setup-2.8.0.exe /S" command at user login.

I assume when deploying patches down the road we'll have to run the ""C:\Users\[user]\AppData\Local\Programs\rocketchat\Uninstall Rocket.Chat+.exe" /currentuser" command followed by "rocketchat-setup-2.9.0.exe /S" at login to update existing RocketChat installs.

Pl

[2017-07-25 16:13] MartinSchoeler commented on #2990
If you have any further questions please join our community server in the [#support](https://demo.rocket.chat/channel/support) channel or ask your question on stackoverflow with the [rocket.chat tag](https://stackoverflow.com/questions/tagged/rocket.chat)

[2017-07-25 16:13] #2990 closed

[2017-07-25 16:24] MartinSchoeler commented on #4793
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-25 16:24] #4793 closed

[2017-07-25 16:25] MartinSchoeler commented on #4811
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-25 16:25] #4811 closed

[2017-07-25 16:26] MartinSchoeler commented on #4865
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-07-25 16:26] #4865 closed

[2017-07-25 16:59] chrisaudet opened #7573 "RocketChat+ mobile app displays Active Directory "sAMAccountName" rather than "name", unlike other clients"
### Description: RocketChat+ mobile app displays AD user logon name rather than [Firstname Lastname]

We use LDAP authentication to allow employees to log into RocketChat using their Active Directory credentials.  Our issue is, that our AD account logon names are employee numbers.

When using the RocketChat desktop client, the web ui, or the RocketChat (non +) mobile clients, user names are shown

[2017-07-25 17:21] amaranto commented on #5136
+1

[2017-07-25 17:23] Irker opened #7574 "Messages not visible in Safari"
### Description:

Chat messages not displayed in Safari (10.1.1 (12603.2.4))
![safari](https://user-images.githubusercontent.com/925247/28584719-695a6af6-7176-11e7-82fd-4d5c02ec2436.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.0-develop (de849e556a22ce613578561a63fcc53a517f5a28)
* Operating System: Darwin
* Deployment Method(snap/docker/tar/etc): etc
* Number of Runni

[2017-07-25 18:18] geekgonecrazy commented on #7573
The rocket.chat+ app currently does not support the showing of first name / last name yet.

I've opened an issue there on the correct repo: https://github.com/RocketChat/Rocket.Chat.Android/issues/363 Please track there

[2017-07-25 18:18] #7573 closed

[2017-07-25 19:23] MartinSchoeler commented on #7574
Confirmed on latest develop, but on our demo server i could not reproduce.

There was errors on the browser console too

<details>

[code]

[2017-07-25 19:26] pettitto commented on #7489
I actually quite like the fact you can @ other people in a private room. If you're talking about someone specifically, it's good to be able to show someone who you're talking about so the other person you're talking to can click on that linked persons profile, for example and grab their e-mail address/details.

[2017-07-25 19:43] pascalrobert opened #7575 "New feature: allow extensions to gear bar"
### Description:

It would be great to be able to extend the gear bar to add custom actions in it. For example, let's say you want to push a post to a ticket in JIRA, we could add an icon with an action in the gear bar to do so.

[2017-07-25 19:51] dyoungdevfactory commented on #2181
I know this thread is over a year old, but, just to clarify: Rocket.Chat still does not support users inviting other users to join a team or a specific channel OOTB?

[2017-07-25 21:53] kgbm3 commented on #7162
o/ guys, just looking for a way to close (not hide!) a Direct Message on the Android 6.0 client.

I had been directed here from #support but it seems that this is a different kind of thread; nevertheless, is this possible?..

Tap-and-hold produces the little "eye" icon to hide the Direct Message, however it has been opened by mistake - and it's not needed! :)

Screenshot @https://image.ibb.co/myPm

[2017-07-25 22:00] #7144 closed

[2017-07-25 22:01] #7008 closed

[2017-07-25 22:03] #7302 closed

[2017-07-25 22:04] #7333 closed

[2017-07-25 22:05] #7534 closed

[2017-07-25 22:36] geekgonecrazy commented on #7385
@sampaiodiego @rodrigok you guys have ideas here?

[2017-07-25 22:43] geekgonecrazy commented on #7575
This functionality is actually currently in process of being added via rocketlets.

[2017-07-25 22:46] arungalva commented on #1746
Hey guys, I am new to rocket.chat and I would like to work on / spend time time looking at this issue / feature. @Prakharsvnit wouldn't using local storage solve this only for the web since its going to be stored on the browser?

Also, @mccambridge when you say state, do you mean just the last channel I visited before closing it or the state of the channel as well, like what message you were looki

[2017-07-26 10:14] danieljhochman commented on #7489
@ing other people is fine. Showing members in the auto-complete who are not in the private room, is not correct. Look how Slack does it.

[2017-07-26 11:08] ottomMT opened #7576 "Add WeChat Oauth"
Could we have a WeChat login, so we could use it in China,thanks a lot

[2017-07-26 11:09] ottomMT commented on #7536
Could we have a WeChat login, so we could use it in China

[2017-07-26 11:10] ottomMT commented on #7536
or, how i config it with WeChat login? no docs

[2017-07-26 11:13] ottomMT commented on #7418
Could we have a WeChat login, so we could use it in China,thanks a lot

[2017-07-26 12:26] iternovskyi opened #7577 "Resend Verification Email from Account"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:  0.57.1 / 0.57.2
* Operating System: Debian 8
* Deployment Method(snap/docker/tar/etc): via Ansible and manually
* Number of Running Instances:  1
* DB Replicaset Oplog: Enabled / Disabled
* Node Version: 4.5.0

### Steps to Reproduce:

1. wget https://rocket.chat/releases/0.57.1/download -o rocket.chat-0.57.1.tgz an

[2017-07-26 13:42] spfautz opened #7579 "iFrame click events not firing"
### Description:

Click events are not triggered from Rocket.Chat when iFrame integration is enabled.

* click-user-card-message
* click-mention-link
* click-message-link
* click-action-link

The other events (notification, room-opened, new-message, etc.) work as expected.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Linux (x64)
* Deployment Method(sn

[2017-07-26 14:25] hExPY commented on #4542
@Garen we haven't changed anything yet. ^^
But yeah, lucky for us 👍

[2017-07-26 15:05] jszaszvari commented on #1746
A field in mongodb that gets updated every time you change change channel like 'lastroom' or something would be the safest option

You cant do local storage as a lot of us run this in docker and don't have persistent storage

[2017-07-26 16:00] ravimallya commented on #241
Hi.

I'm also having the same issue with heroku CLI. I followed the procedure mentioned at: https://rocket.chat/docs/installation/paas-deployments/heroku/ . Here is the log:

[code]
Is this the issue related to Rocket.Chat or Heroku itself?

[2017-07-26 17:44] arungalva commented on #1746
@jszaszvari I started working on it. I added a setting in the user preferences where they can set if they want to enable this feature. And I was able to redirect the user to the channel that is read from the db. I am having trouble trying to figure out where to actually set the value in the database. I was thinking every time they visit a channel that is not equal to the current 'lastroom', lastro

[2017-07-26 18:09] #7370 closed

[2017-07-26 20:17] Nosferous commented on #7258
Also having this issue

Rocket.Chat Version: 0.55.0
Running Instances: 1
OpLog: Enabled
Node Version: 4.8.0
Server: Ubuntu 16.04 LTS

We are using LDAP authentication to our Windows AD server, has been this way since the beginning. There have been no changes to our AD config or this user. And it has seemingly been working perfectly fine.

One user specifically is having issues chatting with variou

[2017-07-26 23:57] #7169 closed

[2017-07-27 00:48] #3756 closed

[2017-07-27 03:39] jangmarker opened #7581 "Include alias in reply to bot message with alias"
### Description:
When replying to a message with an alias that is a valid user's name or id (e.g. sent by hubot using `customMessage`) the reply is targeted at the bot only, but not to the alias.

### Server Setup Information:
* Version of Rocket.Chat Server: 0.55.1
* Operating System: linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Di

[2017-07-27 08:25] multiwave commented on #7577
I can confirm this bug, happens also in Chrome, seems to be a javascript only issue, as sending emails works fine, just this resend button UI is broken.

[2017-07-27 08:48] ravimallya opened #7583 "Heroku Error: promise_server.js:190"
Hi.

Trying to deploy Rocket.Chat in Heroku using both CLI and OneClick install. Both time it's getting failed. Here's the log when I use the CLI to push.

Searched all the bugs here and did all as what they suggested. But still can't install. Exact error might because of this: Not sure how to fix. Please suggest/assist.

[code]

<details>

[code]

[2017-07-27 09:45] ravimallya commented on #6444
Same error even after changing the NODE_ENV to development.

Trying to deploy Rocket.Chat in Heroku using both CLI and OneClick install. Both time it's getting failed. Here's the log when I use the CLI to push.

Searched all the bugs here and did all as what they suggested. But still can't install. Exact error might because of this: Not sure how to fix. Please suggest/assist.

[code]

[2017-07-27 11:19] Davide95 opened #7584 "DDP slingshot/uploadRequest returns "The directive rocketchat-uploads does not seem to exist""
### Description:

In order to send an attachment on Rocket.Chat following [docs](https://rocket.chat/docs/developer-guides/realtime-api/method-calls/send-message) I have to send a slingshot/uploadRequest request, but it returns an error message: "The directive rocketchat-uploads does not seem to exist".

### Server Setup Information:
* GridFS for storage

### Actual behavior:

The request is:
[cod

[2017-07-27 11:20] ryan-plz opened #7585 "LDAP authentication not working!"
Rocket.Chat Version: 0.57.2
Running Instances: 1
DB Replicaset OpLog: disabled
Node Version: 4.5

Hi everyone. I'm a Newbie.

I've installed and set up LDAP authentication, Test Connection Success, Sync User Success. But When log in returns "User not found or incorrect password".
I'm using below setting.

LDAP Enable: True
Login Fallback: False

Domain Base: dc=xx,dc=xxxx
Domain Search Filter: mem

[2017-07-27 11:30] Archer4l commented on #7585
Hi. Try set  Sync User Avatar: False and check login again.

[2017-07-27 11:55] schorsch3000 opened #7586 "Login impossible with umlauts im password via crowd integration"
### Description:

Crowd integration fails with umlauts in password
### Server Setup Information:

* Version of Rocket.Chat Server:
0.57.2
* Operating System:
Ubuntu 14.04, but i'm running the docker-container
* Deployment Method(snap/docker/tar/etc):
docker
* Number of Running Instances:
1
* DB Replicaset Oplog:
none, running on a single db (while evaluating)
* Node Version:
what ever is shipped i

[2017-07-27 12:17] fmuecke commented on #1149
Problem still exists with v0.57. :(

The provided *solution* is just a nasty *workaround* - shouldn't the problem still be fixed?
I am not sure how to apply this at all. Isn't there some other way that does not involve messing with the datastore?
[code]

[2017-07-27 12:19] fmuecke commented on #6535
Problem still exists with v0.57. :(

The provided *solution* is just a nasty *workaround* - shouldn't the problem still be fixed?
I am not sure how to apply this at all. Is there some other way that does not involve messing with the datastore?
[code]

[2017-07-27 12:20] MartinSchoeler commented on #7585
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-27 12:20] #7585 closed

[2017-07-27 13:11] MartinSchoeler commented on #7583
@ravimallya Please follow our [issues guidelines](https://rocket.chat/docs/contributing/reporting-issues) and our issue templating as we need more info to confirm it is a bug. Thanks!

[2017-07-27 13:30] sacOO7 opened #7587 "Visibility of scrollbar on left side of Navigation Drawer"
![screenshot from 2017-07-27 18 55 43](https://user-images.githubusercontent.com/16723785/28672779-5213e23a-72fe-11e7-836f-a6b42dda0243.png)

I have lot's of favorite channels on the left side. Initially I thought no scrollbar was available to scroll through all of them. But, on proper observation it was available with very small width and color matching background. Is there any setting to change

[2017-07-27 13:47] bobvaselaar commented on #7250
I had the exact same issue. Deleting and re-adding the chat server works. Thanks for the tip @JackNWeems!

[2017-07-27 13:49] glebtv commented on #7233
Disabling Iframe integration worked for me, thanks!

[2017-07-27 14:03] danieljhochman opened #7588 ""New Messages" banner showing when flex-tab is accessed"
I was able to reproduce this on https://demo.rocket.chat/

Steps to reproduce:
1. Scroll up to somewhere other than the last message in the chat room
2. Click "Starred Messages" flex-tab OR click "Search" flex-tab and perform a search
3. You will see the blue "New Messages" banner show even though there are no new messages.

![image](https://user-images.githubusercontent.com/23452628/28674200-66fd

[2017-07-27 14:42] #2593 closed

[2017-07-27 17:23] idevit commented on #6360
Tested; working,
updated documentation in pull request.

[2017-07-27 17:31] rodrigok commented on #7385
@Horgix are you using filesystem to store avatars? Can you show me the configuration?

[2017-07-27 18:10] geekgonecrazy commented on #7536
@ottomMT your question is very off topic.. But you will need to implement custom oauth.. more info here: http://open.wechat.com/cgi-bin/newreadtemplate?t=overseas_open/docs/web/login/login

[2017-07-27 18:11] geekgonecrazy commented on #7536
Going to go ahead and close this.  @jy2008 please re-open or follow up with one of our support methods

[2017-07-27 18:11] #7536 closed

[2017-07-27 18:13] geekgonecrazy commented on #7489
Here it seems like privacy by default would be best.  Maybe allow it to be overrode to show all via permission

[2017-07-27 18:13] #6087 closed

[2017-07-27 18:16] achen04 commented on #1664
Hi all, I've been trying to work on this and I was able to get /collapse to set "Collapse embedded media by default" to true in the preferences. But it seems like we will need to refresh in the chat page to reflect this change. Any advise for implementing the refresh aspect?

[2017-07-27 19:41] danieljhochman commented on #7489
@geekgonecrazy - what's the use-case for showing non-members in a private room? Why even make it a setting?

[2017-07-27 19:43] lindoelio commented on #2995
Hi Guys!

I've working on it. I spent a lot of time thinking about this feature as commented on this thread, and then I've resolved to suggest the implementation that I'm sharing on PR #7591 (in progress).

In this PR I've included a global settings for store the preference of frequency that the admins will to receive email with password change history, that can be: nothing/disabled, immediately (

[2017-07-27 20:04] #7323 closed

[2017-07-27 20:37] #1629 closed

[2017-07-27 20:37] #3656 closed

[2017-07-27 20:37] #3867 closed

[2017-07-27 23:42] Garen commented on #6206
Since this issue was filed in March 1, not sure if the "User Data Field Map" feature was yet available, which can now be used to help display more distinctive info about users.

@a-abella sAMAccountName is only unique within a single domain.  For example, you might have "domain1\jsmith" and "domain2\jsmith" - each of which corresponds to a different person, but both have the sAMAccountName of "jsm

[2017-07-28 01:07] danilomiranda commented on #7505
Assign that to me o/

[2017-07-28 03:20] beeing commented on #5528
+1 - Yes, also applies to starred messages too.

[2017-07-28 07:59] kiamgrebgnur opened #7592 "Can't pm a user - internal server error"
Hi,

### Description:

one user (christian) had an Issue with his account. He wasn't able to login so I removed the user.
Since we are using ldap for authentication the user was created again after he logged in.
But after that we have some serious trouble with the user account. I'm unable to direct message him.
If I click on the user an choose the direct message option in the menu I get "Internal

[2017-07-28 08:33] lukasreichart opened #7593 "Setting Domain_Search_Object_Category to empty string"
### Description:
I am using open LDAP with rocket.chat. Therefore I need to set the `Domain Search Object Category` to `""`. It's not possible to configure this setting via environment variables, because Nodejs doesn't set environment variables which are equal to the empty string in the `process.env` object.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System

[2017-07-28 08:55] lukasreichart commented on #659
@stepek are there any updates from you side?
Just asking, because I would love to see this feature implemented and would be willing to help you out.

[2017-07-28 11:57] jszaszvari commented on #659
There are literally hundreds of hubot scripts which do exactly this.. The devs should be working on core features and bug fixes, not reinventing something that is already out there.

[2017-07-28 11:59] fmuecke commented on #7592
Duplicate of #6535, #7592, #7364 ?

[2017-07-28 12:05] kiamgrebgnur commented on #7592
Ok if he creates a new ad account and logs in with it everything works.
So I think there is an error with the delete user account function.
Any chance to clean/repair the database?

[2017-07-28 12:06] jszaszvari commented on #7488
I dislike the idea. What chat apps allow this? Just serves to confuse people and helps make room names inconsistent

[2017-07-28 12:19] kiamgrebgnur commented on #7592
@fmuecke you are right
I did the remove from mongo db part but not the restart. Will give it a try later.

[2017-07-28 12:21] MartinSchoeler commented on #7592
Yes, this is a duplicate, please continue the discussion on the original issue. Thanks!

[2017-07-28 12:21] #7592 closed

[2017-07-28 12:33] MartinSchoeler commented on #7364
Duplicate of #6535

[2017-07-28 12:33] #7364 closed

[2017-07-28 13:14] joshuahaber commented on #909
Is it possible to disable the @all functionality completely?  If someone tries to send to @all, it doesn't do anything?

[2017-07-28 16:26] MartinSchoeler commented on #909
@johanekhager you can remove the `mention-all` permission from all users

[2017-07-28 16:32] geekgonecrazy commented on #7489
The main use case would be so that people that like to refer to people outside the room still can.  But by default it wouldn't be possible.

Also wouldn't be a setting.  Lets say for instance the permission is on admin.  Admin could see and mention anyone.

If you decided to set your server up so your staff can see others on the server but guests you invite in (lets say clients) are not.  You woul

[2017-07-28 17:38] jszaszvari commented on #7489
Why not just seperate the list into

----
Users of this channel
----
x
x
x
x

----
Users not in this channel
---
x
x
x
x

And have the priority autocomplete be the people in the room.

[2017-07-28 17:41] jourdanrodrigues commented on #6990
Same issue with `NODE_ENV` set to `development`.

[2017-07-28 17:49] sampaiodiego commented on #1832
what you thought about https://github.com/RocketChat/Rocket.Chat/pull/7589?

[2017-07-28 18:44] jourdanrodrigues commented on #6452
I changed the branch to be installed to `develop` and it FINALLY worked!

The link I used was:

https://heroku.com/deploy?template=https://github.com/RocketChat/Rocket.Chat/tree/develop

[2017-07-28 18:56] rodrigok commented on #3862
Closed by https://github.com/RocketChat/Rocket.Chat/pull/7479

[2017-07-28 18:56] #3862 closed

[2017-07-28 18:56] rodrigok commented on #5867
Closed by https://github.com/RocketChat/Rocket.Chat/pull/7479

[2017-07-28 18:56] #5867 closed

[2017-07-28 19:16] jourdanrodrigues commented on #6115
+1

[2017-07-28 21:44] geekgonecrazy commented on #7489
@jszaszvari because of privacy primarily.  :)  The few i've talked to that want this want to invite their clients to a private group and them not be able to use autocomplete and accidentally see other clients.

[2017-07-28 21:50] #892 closed

[2017-07-28 21:50] #7488 closed

[2017-07-28 23:40] JannikZed commented on #6809
Hi,
@bluenevus that's not right. I'm a different person :D we are using https on a FQDN. This is what my config looks like:
![bildschirmfoto 2017-07-29 um 01 37 58](https://user-images.githubusercontent.com/7526174/28739842-c706b60c-73fe-11e7-927f-8edc3f643bdb.png)
![bildschirmfoto 2017-07-29 um 01 37 43](https://user-images.githubusercontent.com/7526174/28739843-c72f39b0-73fe-11e7-8ae7-c530306fab

[2017-07-29 01:17] simonv3 opened #7596 "Ability for admin to add notes to a specific user (for example, why they were deactivated)"
### Description:

When you have some turn-over in admin staff on a server, or just a large user base, it might not be obvious what the history is with certain users. For many reasons it might be nice for admin to keep track of notes for a particular user.

### Server Setup Information:

N/A

### Steps to Reproduce:

Access a user's side panel and see no notes.

### Expected behavior:

Access a use

[2017-07-29 04:00] ottomMT opened #7597 "In a readonly channel, the Owner could not sent messages"
In a readonly channel, the Owner could not sent messages, and just the admin could.

I think its unreasonable.

[2017-07-29 04:06] ottomMT opened #7598 "About the "rocket.chat" bot, renamed,and come out again!"
In the admin panel, the users,I have rename the bot called "rocket.chat".

But when I was muted, there was a bot called "rocket.chat" remind me "you were muted...balabala"

So,my question is ,where from this "rocket.chat" bot.

Thanks!

[2017-07-29 07:53] FTDJerry opened #7599 "Sometimes it cannot return channel info via the rest API after create channel success."
### Description:

I have created channel via the rest API '/api/v1/channels.create'.
It is success, but the response doesn't have channel info sometimes:
[code]
Correct return is:
[code]
But when I use the Administrator user, it returns  channel info every time.
Anybody know why?
Thanks!
### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Ubuntu 14.04
* Deplo

[2017-07-29 12:50] mnlbox commented on #6390
+1 I need this feature too.

[2017-07-29 19:23] moisesmcardona opened #7600 "URL issues"
Whenever I add a link that contains @myusername, the message would be converted to this:

`@moisesmcardona/app-para-el-chat-steemhispanos-chat-chat-oficial-de-mi-witness-para-la-comunidad-hispana" target="_blank" rel="noopener noreferrer">https://steemit.com/spanish/@moisesmcardona/app-para-el-chat-steemhispanos-chat-chat-oficial-de-mi-witness-para-la-comunidad-hispana`

Instead of showing the cor

[2017-07-29 20:43] jszaszvari commented on #7598
That's not the bot that's a setting under

Admin -> Messages -> Hide "User Muted / Unmuted" messages

[2017-07-29 20:44] jszaszvari commented on #7597
That defeats the purpose of a 'Read Only' channel. They should be used for notifications or incoming webhooks

[2017-07-30 01:58] flantascience commented on #7551
@mborhade    is that something I can run on Heroku easily?  I have only run commands on my local system like that

[2017-07-30 07:26] ottomMT commented on #7597
Ok,thank you!

I have guessed:the owner say, others just listen~

[2017-07-30 07:26] ottomMT commented on #7598
Thank you very much!

[2017-07-30 11:42] danieljhochman commented on #7436
@gdelavald @rodrigok  - This only seems to be working when you click their name from within the chat area. If you click their name from the members list or in a linked @ version of their name from within the chat, it still goes to the profile.

[2017-07-30 14:13] iamcmnut commented on #7339
I also have this issue.

[2017-07-30 15:21] danieljhochman opened #7601 "Reply to chat from email notifications"
Allow users to reply to missed direct message notifications via email.

The reply address would be a unique identifier @ the domain and the email message would be converted into a direct message reply.

This could theoretically be implemented for rooms/channels as well but may be a bit more complex.

[2017-07-30 15:24] danieljhochman opened #7602 "Improve load time"
Version: 0.57.2

The current load time is around 10-12 seconds. It would be great to get that down to 3-5 seconds.

[2017-07-30 15:25] pkgodara commented on #7601
WIP #7342 .

[2017-07-30 18:01] YehualashetGit opened #7603 "Accessing the database in Rocket chat"
I have deploy Rocket chat using Docker hub and integrate it to GitHub and it works perfectly, but I cannot Access the mongo shell to update and see user and also to do some staff .so can any one help me how to access it Thank you!!!

[2017-07-30 19:13] zipper2110 opened #7604 "Need to see the list of all users"
It would be really helpful to see the list of all chat users somewhere instead of searching users using the search textfield.

If you click on the search textfield you almost get that list, but it doesn't display all users, just a subset.

There is about 30 users in our chat, and there is a strong need to see the list of all users somewhere around, one click away at most (it could be an "all users

[2017-07-30 19:34] marco-aa opened #7605 "If FileUpload is disabled it removes video chat button"
### Description:

If i disable under admin/fielupload the file upload - users lose the button for video chat.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Ubuntu 16.0.4 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:

### Steps to Reproduce:

1. disable under admin/fielupload t

[2017-07-30 20:18] flantascience commented on #7547
Well I am in a bad place now... I checked with a few other people who claimed no issue, so I assumed it was an issue for my own device.   I did the upgrade.   Now I've got a user complaining they have this same issue.   Is it really just me and one of my users?

[2017-07-31 04:07] ravimallya commented on #7583
I'm using Windows 10 Pro with NodeJs version 4.4.3 with git version 2.5.3.windows.1 and trying to deploy the app to Heroku by following the steps mentioned in your documentation at: https://rocket.chat/docs/installation/paas-deployments/heroku . I tried to use "One-Click Deploy" button as well, but I received the similar error.

Also, tried to change the BuildPacks as mentioned in documentation. T

[2017-07-31 07:22] aventrax commented on #6777
Sorry but I had this issue on 0.56 too, so I updated to 0.57.2 and the issue is still there.
I have no button to edit the default channel, @geekgonecrazy if the commit fixed the issue editing ChannelSettings.js, I haven't any file named like this on my installation, so.... I do not understand!

[2017-07-31 09:36] Davide95 opened #7606 "Improvement on message readability"
### Description:
Messages are formatted with markdown (e.g. `*message*` or `_message_`) but there isn't a way to sanitize the text.
E.g. the message `\*message\*` should be rendered as `*message*`

Examples:
`*message*` -> **message**
`*\*message\**` -> **\*message\***
`\*message\*` -> \*message\*

[2017-07-31 10:14] Cu57arD commented on #309
Anybody willing to upgrade the bounty, I just added $200

http://email.bountysource.com/wf/click?upn=1WyPmI0SFiQG-2FL-2F9aR0iG46RJvP2ksUyVrCNJHh-2FmCj8liKFThBVkEaCmOK5m8bxi-2FQeUMFrhGNPRkcEfx-2Bhueiw9b6Ol4itibDHGkYvOpgbq4ye3K-2BHypOIzQTc9-2F1e_tjxfR1eTvAoLWEs3mHkNQefGzThH0fkwslG8AV-2BcW9GFVJcV68G2AO7yxy-2BxcUqzuOPQiL2yNCg-2FwHigPJVrIDQMYNuS63Ucjjuyh9qg1gVltrjjYo8OcNxvxmwPTlrYjZCo5LefKv-2F6m1VtKatO

[2017-07-31 10:16] Cu57arD commented on #1615
Anybody else willing to upgrade the bounty, I just added $200 - https://www.bountysource.com/issues/28998888-global-search-across-channels

[2017-07-31 10:49] YehualashetGit commented on #2713
I have the same issu in accessing the database is there anyone try to  help me

[2017-07-31 11:29] marco-aa opened #7607 "Customfields not displayed"
Dear Community,

i'm running rocket.chat 0.57.2 via snap on Ubuntu 16 LTS.

I added a customfield via REST-API and i can see it in mongodb.

The customfield is not displayed to other users i added view-full-other-user-info to users and guest roles.

looks like the last comments in #2304

[2017-07-31 12:16] MartinSchoeler commented on #7597
@ottomMT this behavior can be changed by adding or removing the `post-read-only` permission. If you add this permissions to the `owner` they will be able to post in read only channels

[2017-07-31 12:16] #7597 closed

[2017-07-31 12:18] #7598 closed

[2017-07-31 12:23] MartinSchoeler commented on #7603
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-31 12:23] #7603 closed

[2017-07-31 12:32] MartinSchoeler commented on #7607
We're sorry, but your issue doesn't follow our issue guidelines and templating. Please, [double-check](https://rocket.chat/docs/contributing/reporting-issues) and re-open if you believe this needs further discussion.

[2017-07-31 12:32] #7607 closed

[2017-07-31 12:37] YehualashetGit commented on #7603
ok but, I am asking not reporting a bug if u know, how to access the database in docker server please answer me now !!

[2017-07-31 13:08] rodrigok commented on #7436
@danieljhochman Thanks by the review, I've created a new PR adding this missing parts (https://github.com/RocketChat/Rocket.Chat/pull/7608)

[2017-07-31 13:35] danieljhochman commented on #7436
Thanks @rodrigok !

[2017-07-31 13:52] kepkap opened #7609 "meteor build fails with %% Failed to install 'cordova-plugin-googleplus':Error: Variable(s) missing: REVERSED_CLIENT_ID"
Hi, guys,

I am getting error while building RocketChat from master branch. (tried other branches too, same result)

Please assist, as this is already 2-days blocker for us. We are evaluating RocketChat for customization, and cannot build customized bundle.

Thank you.

[code]

[2017-07-31 13:54] mnlbox commented on #3870
@MartinSchoeler any news about this?

[2017-07-31 14:07] marco-aa opened #7610 "Customfield not displayed"
### Description:

customFields added via REST-API are not displayed to other users
It is related to issue #2304

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Ubuntu 16.0.4 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:

### Steps to Reproduce:

1. add under Administrator the js

[2017-07-31 14:14] ctel opened #7611 "Jitsi-meet login credentials"
We attempt to integrate jitsi (with prosody) more tightly into rocket-chat: Is there a simple way to pass the user credentials to jitsi-meet? If configuring jitsi to only allow authenticated users, users always see the user-password popup within jitsi (due to its iframic/xmpp-ish nature). Is that the intended way or did I configure something horribly wrong?
Alternatively I thought about integratin

[2017-07-31 15:39] rasos commented on #6365
@stuurgurs what exactly do you need for customization?

[2017-07-31 18:00] MartinSchoeler commented on #7609
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-07-31 18:00] #7609 closed

[2017-07-31 19:14] MartinSchoeler opened #7618 "Custom fields wrong roles"
### Description:

If a custom field add a role to a user, when entering the user account, the custom field will always default to the first item on the list, since it looks for a custom field and not a role. And if you try to change the role it will create a new role when it should only replace the role.

<img width="881" alt="screen shot 2017-07-31 at 4 12 49 pm" src="https://user-images.githubus

[2017-07-31 19:18] marco-aa commented on #7605
@MartinSchoeler thanks for your posting.
Yes i mean this button - i guess than it's not a bug ;) and you can close this issue

[2017-07-31 19:19] MartinSchoeler commented on #7618
@ggazzo

[2017-07-31 20:17] marco-aa commented on #7553
@JohnBFrm i think it a usefull feature, too
at the moment i use a work around inspired by #795 by the way the want a similar feature

[code]
mabye you have to change ts:1 to ts:XXX - and i have disabled fileupload and users can only edit / delete messages for 60 seconds this should prevent side effects. If you login later the messages are deleted by the expireAfterSeconds inside the mongoDB

[2017-07-31 20:19] flantascience opened #7619 "Chats and DMs not displaying on iOS"
DESCRIPTION:
I run a digital community for self-directed teens that don't go to school called the [Peer Unschooling Network](https://peerunschooling.net). We  just upgraded from RocketChat 0.53 to 0.57.

On my own iPhone, I have issues where the sidebar doesn't display.  I assume this is only on my phone because I'm running a very old iOS and it's jailbroken and a mess.  This was mostly addressed

[2017-07-31 20:25] #7605 closed

[2017-07-31 20:37] marco-aa commented on #7619
@flantascience i'm not sure but i guess you posted a password in DB Replicaset. If so you should edit your posting / change password.

[2017-07-31 21:17] WebSavvyGuy commented on #7553
@marco-aa

Hi thanks for pointing to that link.

Do you have any idea of this error?   If i use another value such as "ts":100 it works, but not sure what this all means.  What does the "ts" represent?   Can this "script" be deleted?

[code]

[2017-07-31 22:45] marco-aa commented on #7553
Dear @WebSavvyGuy i'm new to mongodb - what i read was you define this way a index. The index { "ts": 1 } was created befor i guess at creation time of the collection or via a migration. If you use { "ts": 100  } you create a new index. The expire defines the time how long mongo will hold the entry in the collection for rocket_message. It's a like in memcache the database engine will remove the da

[2017-07-31 22:59] marco-aa commented on #7602
Hi @danieljhochman :)

Related to which system / setup / config ?
I have measured a base-line from the smallest Digital Ocean Droplet with 512 Ram running a new installed 0.57.2 rocket.chat on Ubuntu 16.0.4 located in FFM - this takes 3-5 seconds to load the login screen.

[2017-07-31 23:07] graywolf336 commented on #7599
Closing as I can't reproduce. I tested with both an administrator and a regular user, both times the resulting object contained the `success` along with `channel`. Please open again should you determine how to reproduce this...

[2017-07-31 23:22] graywolf336 commented on #7581
@jangmarker can you post a screenshot to provide some visual aid of what the current behavior is versus what you are expecting?

[2017-07-31 23:23] graywolf336 commented on #7619
Duplicate of #7574

[2017-07-31 23:23] #7619 closed

[2017-07-31 23:24] graywolf336 commented on #7575
Will be included with #6890 :)

[2017-07-31 23:29] graywolf336 commented on #7548
I this should be an issue with Brave and not Rocket.Chat. Can you reproduce this in Chrome or Firefox? If not, then it's an issue with Brave and if we start creating "fixes/workarounds" for browser issues then I don't think that is good.

@RocketChat/core I am going to close this, however feel free to open it again should you feel I am in the wrong here.

[2017-07-31 23:29] #7548 closed

[2017-07-31 23:31] graywolf336 commented on #7531
@arminfelder The changes will always be listed on https://github.com/RocketChat/Rocket.Chat/blob/develop/HISTORY.md along with https://github.com/RocketChat/Rocket.Chat/releases

[2017-07-31 23:36] graywolf336 commented on #7470
@rodrigok this is an issue with the file upload changes.

[2017-07-31 23:38] geekgonecrazy commented on #7470
@tholu @wohali can you guys both try 0.57.2 as it contains fixes related to this. Please let us know if this is still an issue with 0.57.2

[2017-07-31 23:49] flantascience commented on #7619
Thanks @marco-aa    I thought I was supposed to because its a read-only replicaset.  Probably still unwise of me!

[2017-08-01 00:08] #7509 closed

[2017-08-01 00:08] #7574 closed

[2017-08-01 00:09] #7436 closed

[2017-08-01 00:20] graywolf336 commented on #7413
@VasudhaMathur can you link to the message/screenshot of the conversation on the support channel? We support oAuth on the desktop client which uses the real time api which means ideally it should be possible however I am curious the reasons they gave you as to why not.

[2017-08-01 00:22] graywolf336 commented on #7382
Closing this as I can't seem to reproduce. Can you provide extremely basic steps to reproduce on a brand new instance when you open this issue again? Thanks!

[2017-08-01 00:22] #7382 closed

[2017-08-01 00:26] graywolf336 commented on #7368
Closing as #7205 has been merged. Please test with the latest `develop` version and open this issue again if you run into problems again.

[2017-08-01 00:26] #7368 closed

[2017-08-01 00:32] #7462 closed

[2017-08-01 01:55] #7459 closed

[2017-08-01 04:12] kepkap commented on #7609
@MartinSchoeler,
Martin,I disagree with your rationale to close this issue. How is that not a bug, if I cannot build the application following official instructions, i.e. (example-build.sh)

Please, take a look at stack-trace and the command invoked, the build fails on cordova stuff.
I was able to build this with option --server-only, if that's the must_have_option - I agree to close this as not a

[2017-08-01 04:56] wohali commented on #7470
@geekgonecrazy We are on 0.57.2 and the problem persists, exactly as originally reported. The "Use Uploaded Avatar" button in the desktop client does nothing. With the web client, running under Chrome, I get the green "Avatar changed successfully" notification, but the avatar does not change.

No change.

[2017-08-01 05:25] geekgonecrazy commented on #7470
@rodrigok sounds like we have another edge case.  I'm not sure what info you'd need to track this one down

[2017-08-01 07:37] tholu commented on #7470
The avatar issue was not solved with 0.57.2 for us (avatars were not displayed, did not do much more testing though - we switched to Gravatar for all users).

[2017-08-01 08:54] maxdwit commented on #7405
@KervyN  Your daily workaround is now mandatory here, until this is fixed.

[2017-08-01 09:21] mborhade commented on #5854
cant able to login using curl , I have written above script in external site and then after running this script, when I checked Rocket chat its still showing login form.
script successfully returns token.

[2017-08-01 09:30] Horgix commented on #7385
@rodrigok yes I am!

I'm using the official Docker image with the default configuration that is provided inside it. For reference, here is the `docker-compose` part that I'm using to run the container:

[code]

[2017-08-01 11:09] klatys commented on #4712
This is related to #736

[2017-08-01 11:50] k0nsl commented on #7411
S3 file upload (with Minio, to be clear) is now working with latest version (i.e `0.57.2`) but all avatars were missing and the users had to re-upload them. Other than that...well, it is working fine ;)

Thanks, team!

[2017-08-01 12:15] pwilkin commented on #5878
Had the same - restarting the server fixed the problem of the missing "From" header.

[2017-08-01 13:12] VasudhaMathur commented on #7413
Here is the series of sreenshot-

![screenshot_20170801_182105](https://user-images.githubusercontent.com/14920676/28826774-e750705a-76e8-11e7-88ce-557e245b418d.png)

![screenshot_20170801_182227](https://user-images.githubusercontent.com/14920676/28826784-ee22669a-76e8-11e7-91fa-3ecf21fa5e29.png)

![screenshot_20170801_182302](https://user-images.githubusercontent.com/14920676/28826791-f3ab211a-7

[2017-08-01 14:03] mnlbox opened #7626 "What is the best and simplest way to deploy fork version in production"
I'm a little new in RC and done some play with it as a fork. Now I want to deploy my customized version to an Ubuntu VPS. I saw that most of the deploy method use `https://rocket.chat/releases/latest/download` so I want to know what is the best way to deploy RC to an Ubuntu VPS with high reliable state (for example with PM2 cluster and Mongo ReplicaSet)
Have anyone can help me about it?
I can't fi

[2017-08-01 14:11] reetp commented on #7550
Any thoughts on this form the rocket devs ?
Having the ability to have the internal hubot on Private chats would be very useful (and currently you are allowed to add it to a Private chat so you assume it will work, but it won't respond which is confusing)

[2017-08-01 15:39] jpotts-IIL opened #7627 "How to change MongoDB port?"
### Description:

I have another service that is running an instance of MongoDB, as such the port is already being used and RocketChat cant run.

The RocketChat Server is running, but ther RocketChat Mongo is not. Is it possible to change the port for rocketchats instance of MongoDB

This is the error in the log file for Mongo:
`snap[12175]: 2017-08-01T14:46:34.788+0100 E NETWORK  [initandlisten]

[2017-08-01 16:17] drasbeck commented on #7548
As this issue is Brave only, I have opened an issue with them.

[2017-08-01 17:03] jszaszvari commented on #3790
@geekgonecrazy Is this still the case, I'm unable to get any custom HTML to render when putting it in the text property.

Sorry for posting in a old issue.

[2017-08-01 17:51] mestaritonttu commented on #7470
Which version is https://demo.rocket.chat/ running? I was not able to change my avatar from the auto-fetched gravatar to a file upload. It gave the "avatar changed successfully", but it didn't change. Avatar from url worked.

[2017-08-01 18:28] MartinSchoeler commented on #7627
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-01 18:28] #7627 closed

[2017-08-01 18:29] MartinSchoeler commented on #7626
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-01 18:29] #7626 closed

[2017-08-01 19:06] #7552 closed

[2017-08-01 19:49] danieljhochman commented on #7588
I can no longer reproduce this. Strange.

[2017-08-01 20:03] danieljhochman commented on #7602
@marco-aa - what about when you are already logged in? My console in chrome shows a waterfall of about 10 seconds.

[2017-08-01 20:34] marco-aa commented on #7602
@danieljhochman i gave it a try and logged in ;) what a did while i was logged in ->>i did a page-reload and used in the "developer console" the "performance" tab and i pressed "start profiling and reload page"
I did this 3-4 times and it took at max 4500 ms

[2017-08-01 21:28] ryjones opened #7631 "Feature request: permission mention-here which is an analog of mention-all"
I would like a permission as previously implemented as mention-all, called mention-here with the same abilities to restrict use of the @ here alias

[2017-08-01 22:33] JohnnyKing94 opened #7632 "Issue with text message container"
* Version of Rocket.Chat Server: 0.58.0-rc.0
* Operating System: Ubuntu Linux 16.04.1 LTS
* Deployment Method: snap
* Nove Version: 8.1.3
* NPM Version: 5.1.0

With the new update of rocketchat 0.58.0-rc.0, the text message container gets broken when a long text is submitted... as you can see the box gets overflowed in the page...

![](http://i.imgur.com/suaj3EC.jpg)

[2017-08-01 23:09] jszaszvari commented on #7602
. Mine is less than 5 seconds. Sound like the hardware you are running it on is causing the delays.

[2017-08-02 00:07] marco-aa commented on #7602
@jszaszvari of course this is a good point ;)
I would recommend to have a test against the same server so we have the same base line
I tested against https://demo.rocket.chat/direct/-D-Ray ... a empty dialog for 3-4 time it took around 6,5 seconds.
I would recommend @danieljhochman do give some details about his setup and how we could measure in a (more) reproducible way

[2017-08-02 00:23] marco-aa commented on #7587
@sacOO7 maybe i'm wrong but you could use chrome develtop toolbar and use the inspector to get the element / id-name and set a color - if this works you can use custom-css in the admininterface for custom-css. This could be a work around. If you only a User you could find some browser plugin wich is overwrting the css as a work around, too ;)

[2017-08-02 03:16] lindoelio commented on #7267
Hi! I'm motivated to work on this feature out. As soon as possible I'll send a PR with my implements suggestion.

Anyone have any more ideas about how it should be, besides what has already been commented?

[2017-08-02 03:18] sagarshah8814 opened #7633 "Change Default Notification"
Hello,

I want to set default notification automatically as all messages for desktop and mobile, currently it is mentions. Can anyone tell me how this can be done?

[2017-08-02 03:27] jangmarker commented on #7581
I've added graphics, is it clearer now?

[2017-08-02 03:32] ccfang commented on #7494
This user preference is used to close the opening flex tabs when clicking message main view.
Maybe misunderstanding something?

[2017-08-02 07:53] bott0r commented on #5460
any news on the updated UX

[2017-08-02 07:54] bott0r commented on #277
any news on the whole UX review

[2017-08-02 09:31] pkgodara commented on #3056
Email text can be forwarded, so it will not have older styles, no html. Is that ok. As far as I understand, some dedicated email to which you can forward emails & can post messages to rooms. Is that what you want??

[2017-08-02 10:04] MayraDesai opened #7637 "how to pass RoomName or RoomID to WebRTC or jitsi video bridege"
<div>
    <h2 id="meet">Jitsi</h2>

</div>
@section Scripts {
<script src="https://meet.jit.si/external_api.js"></script>
<script type="text/javascript">
    var domain = "demo.rocket.chat/";
    var options = {
        roomName: "direct/Jaydeep",
        width: 700,
        height: 700,
        parentNode: document.querySelector('#meet')
    }
    var api = new JitsiMeetExternalAPI(domain, option

[2017-08-02 10:16] ShalokShalom commented on #36
Seems like we can build up on this? https://github.com/RocketChat/Rocket.Chat/blob/master/packages/rocketchat-otr/client/rocketchat.otr.room.js

[2017-08-02 10:17] ShalokShalom commented on #601
There is also https://github.com/pingcap/tidb

[2017-08-02 11:19] nitinjiniguru commented on #7056
I am facing same problem so my i know

what _db.model mean in your answer ??

as i am also facing the same problem using your solution

Thanks

[2017-08-02 11:51] niellz123 commented on #6265
Are there any news regarding this issue? I am really interested in tagging respectively labeling messages with different priorities.

[2017-08-02 12:30] MartinSchoeler commented on #7637
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 12:30] #7637 closed

[2017-08-02 12:40] MartinSchoeler commented on #7632
fixed by #7629

[2017-08-02 12:40] #7632 closed

[2017-08-02 12:49] MartinSchoeler commented on #7633
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 12:49] #7633 closed

[2017-08-02 12:56] goiaba commented on #7610
@marco-aa I'm working on this issue and will make a PR soon. I have two questions:

1 - All custom fields should be shown? By now, I've created an admin field (Accounts => Custom Fields to Show in User Info) that must be filled with a list of custom fields to show. I'd like to hear people's opinion about it.

2 - I'm not sure how useful would be to have the possibility to render a label just befor

[2017-08-02 13:33] #7414 closed

[2017-08-02 13:35] MartinSchoeler commented on #7331
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 13:35] #7331 closed

[2017-08-02 13:36] MartinSchoeler commented on #7406
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 13:36] #7406 closed

[2017-08-02 13:39] MartinSchoeler commented on #7097
This issue was already fixed, please update to the latest version and try again. Thanks!

[2017-08-02 13:39] #7097 closed

[2017-08-02 13:40] MartinSchoeler commented on #7135
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 13:40] #7135 closed

[2017-08-02 13:40] MartinSchoeler commented on #7142
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 13:40] #7142 closed

[2017-08-02 13:44] MartinSchoeler commented on #6841
@reza6610 you have to use the command `meteor npm install` instead of `npm install`

[2017-08-02 13:44] #6841 closed

[2017-08-02 13:49] MartinSchoeler commented on #6838
@qeesung you have to call [this](https://rocket.chat/docs/developer-guides/rest-api/chat/postmessage) passing the wanted user id on the channel field.

[2017-08-02 13:49] #6838 closed

[2017-08-02 13:50] MartinSchoeler commented on #6832
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 13:50] #6832 closed

[2017-08-02 13:56] MartinSchoeler commented on #6764
Closing this due lack of response.

[2017-08-02 13:56] #6764 closed

[2017-08-02 14:14] marco-aa commented on #7610
Dear @goiaba thanks for your information,

at 1) I think its great / good if we can diside wich field will be shown - example we store some private infromation and a public finfromation in customFields - so we can deside wich we will show, It's more flexible in this way.
It came into my mind - how the custom field content will be view/rendered - example text vs exmail vs url. Url, Email should be

[2017-08-02 14:20] marco-aa commented on #7610
@MartinSchoeler should we add new-feature label ? not sure because of the discussion with @goiaba about how to implement his functions...

[2017-08-02 14:24] lohmuller commented on #6061
Exists a endpoint for livechat API for "findInquiry", "listQueue" or  "TakeInquiry"?
I need... but I dont found :(
https://rocket.chat/docs/developer-guides/rest-api/livechat

[2017-08-02 14:43] Nasr2013 commented on #6230
Hello Friends,
That's a great news, I would like to share my thought for how this implementation may look like
[RC-Imp.docx](https://github.com/RocketChat/Rocket.Chat/files/1194225/RC-Imp.docx)
Thank You

[2017-08-02 14:44] MartinSchoeler commented on #3398
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-02 14:44] #3398 closed

[2017-08-02 15:20] Dogyunjeong commented on #7056
You may can see models of rocketchat.  I guess rocket chat inherit the mongo connnector and put into as RocketChat.models.
RocketChat also allow to use mongo connectro which is inherited.  You can access it with RocketChat.models[your target]._db.model[you could use  aggregate,find or etc].
For example, if I want to use user model aggregate. It sould be RocketChat.models.Users._db.model.aggregate(

[2017-08-02 15:35] goiaba commented on #7610
@marco-aa For simplicity, my idea was to follow the other fields behavior that are all rendered as text (emails, for instance).

[2017-08-02 15:47] marco-aa commented on #7610
@goiaba of course - maybe in a second step we can change this to some kind of formating ...
I ask myself - what will happen if inside the text we add html-tags this could be a kind of ugly work around for the first step ;)

[2017-08-02 16:19] stalley opened #7640 "Direct Messages ignoring mentions only notification settings. 57.1 - 58.rc0"
### Description:

Direct messages will notify on all messages regardless of mobile or desktop preferences for all messages
or mentions only. Setting to no notifications for desktop or mobile DOES work.

Channels seem to be working properly.

### Server Setup Information:

* Version of Rocket.Chat Server: Tested on 57.1,57.2 and 58.rc0
* Operating System: CentOS 7
* Deployment Method(snap/docker/ta

[2017-08-02 16:50] AceSlash opened #7642 "API login doesn't work with an LDAP user when "Login Fallback" parameter is False"
### Description:
Configure LDAP auth with "Login Fallback" parameter to False.

Log yourself with a valid user normally to validate that the user/pass is valid.

Use the same user/pass to perform an API authentication:
[code]
Change the "Login Fallback" parameter to True, then log yourself again on the web interface with the same user to store the password in the local database, you then set the "

[2017-08-02 17:42] AceSlash commented on #7642
I can't reproduce this on an other instance... I think that the issue is that I did use the "Sync Users" Button with "Import LDAP users" before trying to log in with the user on the API.

[2017-08-02 18:30] mlanner commented on #6526
I have a similar problem, I think. I'm running 0.57.2.

I start the OTR, use it, close the OTR session. The messages stay visible until I restart the RC app.

[2017-08-02 19:29] cr22rc commented on #7631
+1

[2017-08-02 19:47] MartinSchoeler commented on #5642
fixed by #7309

[2017-08-02 19:47] #5642 closed

[2017-08-03 04:19] nitinjiniguru commented on #7056
@Dogyunjeong  I have RocketChat.models.Users but what should _db??

and model??

if i directly apply RocketChat.models.Users._db.model.aggregate() still it gives same error

thanks

[2017-08-03 05:04] rdnn opened #7645 ""File Uploaded" in chat.postMessage API Calls"
### Description:

Commit b84d06817f695e4c59acc75075e275fc06b5d1c9 modified packages/rocketchat-message-attachments/client/messageAttachment.html which prepends i18n "Attachment_File_Uploaded" to the title of chat.postMessage API calls which do not necessarily have actual file attachments.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.59.0-develop
* Operating System: FreeBSD 11

[2017-08-03 05:50] shreeshagundmi opened #7646 "How to integrate Rocket.chat in drupal 7 ?"
Hi team,

I am new to Rocket.chat drupal module.

i am using drupal 7 and trying to install rocket.chat module.

can any one please help me how to integrate rocket live chat in drupal 7?

[2017-08-03 06:12] steven-tib commented on #6759
Hi, any news on this? Are there any plans of using dynamic imports for Rocket.chat now that it's available?

[2017-08-03 07:07] nitinjiniguru commented on #7265
i found the solution for this RocketChat.models.collectionName.model.aggregate()

but now i want to use aggregate in client side?

[2017-08-03 07:44] YehualashetGit commented on #7603
Hello,agin, please tell me how to access the database of rocketchat , I
deployed using docker and I am un able to access, so can u give me some
directions to access it tank u!!!

On Mon, Jul 31, 2017 at 3:24 PM, Martin Schoeler <notifications@github.com>
wrote:

[2017-08-03 08:17] FTDJerry commented on #7599
Sorry, I can't find how to reproduce this, but it appeared every several times when I had called the create channel service. So I tried to add log in this API.

First, channel created success in fact. So I thought in the return method:

channel.js
[code]
_Base.js
[code]

I had found that it used the cache to get the result default. Then I added log to see the result:
[code]
The log as follow when

[2017-08-03 08:43] 7obywankenobi opened #7647 "entering multi line messages does not expand text area in 0.58.0-rc.0"
### Description:

Regression in Rocket.Chat Server 0.58.0-rc.0 (works in 0.57.2):

Entering a multi line message does not expand area and renders all lines >= 4 below the fold and not readable at all.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.0-rc.0
* Operating System: CentOS 7.3
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: ?
* DB Replica

[2017-08-03 09:00] Dogyunjeong commented on #7056
I have no idea about it. You might can search about mini mongo aggregate.

[2017-08-03 09:44] zahaim opened #7648 "Do not scroll header when scrolling permissions is set"
### Description:

When scrolling Permissions down it's hard to know which columns goes for which role.
Is it possible to "freeze" header line of this table for easily identify matching role?

### Server Setup Information:

* Version of Rocket.Chat Server: any
* Operating System: any
* Deployment Method(snap/docker/tar/etc): any
* Number of Running Instances: any
* DB Replicaset Oplog: n/a
* Node V

[2017-08-03 09:58] mnlbox commented on #4103
@timkinnane Any news about this?

[2017-08-03 10:15] RELD commented on #6778
Hey there,
first of all, brilliant work!

I am having issues importing data from slack too.
The importer stops for me half ways..
it is really not much. 1.5 MB.

I get this error message.
![screen shot 2017-08-03 at 12 05 55](https://user-images.githubusercontent.com/2292575/28916965-42891d80-7844-11e7-872b-bfdba2347e99.png)

Here the exception log:

`[34mI20170803-09:59:23.993(0) Exception in def

[2017-08-03 10:19] mnlbox opened #7649 "[BUG] Localization problem"
I can't find where we can translate this message:
[code]

It seems it's hard coded in RocketChat.
How we can fix this?

### Server Setup Information:
[code]

[2017-08-03 11:02] mnlbox commented on #5592
@rodrigok I have same issue.
RocketChat returns to default language sometimes then I go to `My Account` and set language to `English` and then set to my favorite language and then it's fix.

@engelgabriel please reopen this issue until fix completely.

[2017-08-03 11:28] sasakura-sora opened #7650 "Avatar URL is not escaped"
### Description:

Avatar URLs for the CSS URL property are written without any quotes, any names which contain brackets do not render their avatar.

Profile names are created through OAuth and are not subject to the validation rules on the registration or change name pages.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.56.0
* Operating System: Ubuntu
* Deployment Method(snap/d

[2017-08-03 11:54] MartinSchoeler commented on #7647
fixed by #7629

[2017-08-03 11:54] #7647 closed

[2017-08-03 11:54] MartinSchoeler commented on #7646
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-03 11:54] #7646 closed

[2017-08-03 12:16] n30ngruu3n commented on #6508
I would really appreciate it, if it will be possible to set an expiration date for the accounts. In our term, we're using RC at our university and we've got a huge amount of employee turnovers on the student side (sometimes they leave us after 6 months..) and it will be really helpful not to manual delete every unused account.

Regards
neongruuen

[2017-08-03 12:26] niellz123 opened #7651 "Tagging Messages for prioritizing of News"
### Description:

When sending a message like news i want to push to the users in a specific channel, I have no opportunity to tag or label them with a specific priority. I want my user to easily see, if there is some crucial information pushed to a certain channel. Is there anyone working on a feature to tag specific messages or does anyone of you have another idea to provide this?

I know there

[2017-08-03 12:33] timkinnane commented on #4103
I haven't done anything about it, but I'm not up to date with changes in release. Personally I'd rather see rocket.cat and the idea of any default user or bot removed from core entirely and have all system notices use a consistent UI that is devoid of personality and doesn't appear to be user in any way.

[2017-08-03 12:34] sampaiodiego commented on #7543
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/3686

[2017-08-03 12:34] #7543 closed

[2017-08-03 12:38] sampaiodiego commented on #3044
closing this since no feedback was provided

[2017-08-03 12:38] #3044 closed

[2017-08-03 14:03] gdelavald commented on #7243
Fixed! Thanks for pointing that out.

[2017-08-03 14:03] #7243 closed

[2017-08-03 14:04] gdelavald commented on #3319
This was fixed in previous versions. Thanks!

[2017-08-03 14:04] #3319 closed

[2017-08-03 14:13] gdelavald commented on #2984
Fixed in previous versions.

[2017-08-03 14:13] #2984 closed

[2017-08-03 14:14] gdelavald commented on #6199
The issue has been fixed in the current version.

[2017-08-03 14:14] #6199 closed

[2017-08-03 14:18] danieljhochman commented on #7588
@engelgabriel - we are able to reproduce this.

1. Go to room
2. Scroll up from bottom of chat
3. Someone sends a new message
4. You see blue "New messages" banner
5. Scroll down to bottom of chat, it disappears
6. Scroll back up to chat room history
7. Now go to perform a search - the "New messages" banner shows again

A related bug is that when the chat  is in small iFrame mode, the Z-index on t

[2017-08-03 15:36] tiredofit commented on #6524
I have a working Alpine Image using an older version of Node JS. While not official, it works, I'll post back shortly with a URL for you to build from.

[2017-08-03 15:44] tiredofit opened #7653 "Rocketchat throws exception when Hubot listens to all rooms"
### Description:

I have RC running under docker, and then also a hubot container as well set to listen to all rooms. When I attempt to request information from the bot (ie help) Rocketchat issues an exception.

### Server Setup Information:

* Version of Rocket.Chat Server: 58.rc.0 - Also occurs 57.2
* Operating System: Alpine Linux
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Run

[2017-08-03 15:46] gdelavald commented on #3047
I'll close this ticket since it's related to the desktop app, please continue discussion on RocketChat/Rocket.Chat.Electron/issues/334

[2017-08-03 15:46] #3047 closed

[2017-08-03 15:49] gdelavald commented on #4705
The issue has been fixed in the current version.

[2017-08-03 15:49] #4705 closed

[2017-08-03 15:50] #4948 closed

[2017-08-03 16:27] ajshukury commented on #533
+1, Postgres is the way to go I believe.  We a re on AWS and mongo has been a pain lately.

[2017-08-03 16:43] graywolf336 commented on #7599
I am assigning this one to @rodrigok since it is a cache related issue.

[2017-08-03 16:44] graywolf336 commented on #6778
@RELD thanks, let us know if you end up finding out what it is.

[2017-08-03 16:48] MartinSchoeler commented on #7649
This text comes from [this package](https://github.com/francocatena/meteor-status) it probably don't have your language for localization.
This can be reopened in their repository with the wanted language
Thanks for your feedback!

[2017-08-03 16:48] #7649 closed

[2017-08-03 17:02] ajshukury opened #7654 "Connect to different database based on subdomain"
We have hosted RocketChat on AWS and I have two questions and not sure if possible. Couldn't find anything on the docs.

- Separate database and application servers
- Connect to a specific database based on the subdomain in URL

Any thoughts?

Cheers

[2017-08-03 17:05] MartinSchoeler commented on #7654
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-03 17:05] #7654 closed

[2017-08-03 17:10] MartinSchoeler commented on #6131
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-03 17:10] #6131 closed

[2017-08-03 17:12] MartinSchoeler commented on #6133
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-03 17:12] #6133 closed

[2017-08-03 17:18] MartinSchoeler commented on #6098
Closing this since its not really a bug but is a change of ui.

[2017-08-03 17:18] #6098 closed

[2017-08-03 17:19] MartinSchoeler commented on #6080
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-08-03 17:19] #6080 closed

[2017-08-03 19:32] ToeiRei commented on #6508
I'm thinking of something like 'not logged in since X days, delete the account'

[2017-08-04 01:52] geekgonecrazy commented on #7653
This looks very much like an issue specifically with hubot and your script and when it tries to send a message to rocket.chat.

To help you with this we will need to see some of your code used

[2017-08-04 02:01] tiredofit commented on #7653
I can't even get it to give me a "bot help" output in any other rooms... I get the same exception..

[2017-08-04 02:15] geekgonecrazy commented on #7653
So no scripts have been added by you and you are using the latest hubot container?  Doing docker pull `rocketchat/hubot-rocketchat` does anything come down?

[2017-08-04 03:33] tiredofit commented on #7653
Latest images from Docker Hub - I was previously running my own Alpine Linux build and decided to make sure that wasn't the problem.
Tried a fresh install (via my own image) getting the same issue.
Tried a fresh install (via rocketchat/rocket.chat) getting the same issue..

Attempted to even just execute a `bot help` in #general and still throws the exception.
Only thing that I have configured is

[2017-08-04 03:57] tiredofit commented on #7653
Just for reference I went back to 0.56 and still the same issue. My only hope is that you can see if there is an issue in my docker-compose that would be triggering this problem.

[2017-08-04 06:15] ramanamatya opened #7655 "Username Not found in Direct Message"
### Description:
- Username Not found in Direct Message

### Server Setup Information:

* Version of Rocket.Chat Server: 0.53.0
* Operating System: Windows
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v4.7.3

### Expected behavior:

### Actual behavior:

### Relevant logs:

```Exception while invoking method 'creat

[2017-08-04 08:37] n30ngruu3n commented on #6508
Something like this will also fit our needs. :-)

[2017-08-04 10:09] Ablesius commented on #7280
@xzag your comment [310970926](https://github.com/RocketChat/Rocket.Chat/issues/7280#issuecomment-310970926) does not mean that the issue is resolved, only that the whitespace in the regex is in fact the problem. Is my understanding correct?

[2017-08-04 10:14] xzag commented on #7280
@Ablesius yes, you are correct

[2017-08-04 12:13] MartinSchoeler commented on #7655
Hey @ramanamatya could you give us the steps to reproduce this bug? And did you had a user with the same username as your deleted in the past? Thinking this could be related to #5938

[2017-08-04 12:47] vivekmunde commented on #7609
TRY THIS

Create `mobile-config.js` at the root level of project with following configuration

[code]

Note: You might get error for installation of `phonegap-plugin-push` as well. Thats where the second config comes in picture.

[2017-08-04 12:52] ghaskins commented on #7631
+1

[2017-08-04 13:12] janat08 commented on #6759
Arguebly it being single page applicationg the endeavour is somewhat
pointless, and then lazy loading may actually be slower since.

On Thu, Aug 3, 2017 at 12:12 PM, Steven Maurin <notifications@github.com>
wrote:

[2017-08-04 14:46] jdashn opened #7657 "Installing RocketChat Server on Suse Leap 42.3 - Steps, Suggestions, Hints, etc"
Hello,

I am going to be attempting to install RC Server onto openSuse Leap 42.3 I just wanted to see if there were any other folks out there who've done this, if there has been success, what steps were taken, any hints, things to watch out for?

Thanks!

Jdashn

[2017-08-04 18:37] xaionaro commented on #6249
Just a notice:

Added support of disabling the popup window for meteor: https://github.com/xaionaro/meteor-accounts-cas

[2017-08-04 19:43] MartinSchoeler commented on #7657
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-04 19:43] #7657 closed

[2017-08-05 12:19] designgurudotorg opened #7659 "Open external links in browser"
The native mobile apps open links within a browser that can be closed easily but with Cordova you get locked into an embedded browser that can't be closed when opened by clicking a link in any chat - anyone working on fixing that?  I'd love to see a default or config setting to open links in new tabs/the default browser automatically.

[2017-08-05 14:29] WebSavvyGuy opened #7660 "Userlist does not show up in Safari"
### Description:

When clicking the userlist in Safari, it does not show.   It works fine when tested on Chrome.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.rc0
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:

### Steps to Reproduce:

1. Use Safari browser
2. Click the userlist

### Expect

[2017-08-06 01:12] jszaszvari commented on #7659
There's a PR that hopefully will come out with next release that fixes that. It's already approved.

[2017-08-06 01:16] jszaszvari commented on #7659
This is the one https://github.com/RocketChat/Rocket.Chat/issues/7368

[2017-08-06 08:39] danieljhochman opened #7662 "Move to og:image instead of msapplication-tileimage for links"
Version:  0.57.2

When you paste a link from a website, it pulls in the msapplication-tileimage. Many times this shows a plain white image because the site uses CSS to color it (which is common). Instead, use the og:image which most other chat apps use.

Example of bad msapplication-tileimage

![image](https://user-images.githubusercontent.com/23452628/29001747-c3f57036-7a9b-11e7-9ada-ddec0d201b09

[2017-08-06 09:09] danieljhochman commented on #7602
@marco-aa @jszaszvari  - I'm also testing with https://demo.rocket.chat . The first load in a fresh browser can take over 10 seconds. Subsequent loads take around 6-8 seconds.

[2017-08-06 09:10] jszaszvari commented on #7602
Keep in mind though the demo server most likely has 10s of thousands of
users

On Aug 6, 2017 7:09 PM, "danieljhochman" <notifications@github.com> wrote:

[2017-08-06 09:12] danieljhochman commented on #7602
OK, but that's bad design. It shouldn't load all the users until they are needed. We plan to use RC with 5 million users loaded in very soon.

[2017-08-06 09:57] drasbeck opened #7663 "New users not automatically added to default channel"
### Description:

New users are not added to a servers default channel.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Rasbian
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: 1
* Node Version: 4.8.2

### Steps to Reproduce:

1. New user registers.
2. Logs in.

### Expected behavior:

The new user is

[2017-08-06 15:12] jszaszvari commented on #7602
It doesn't load them all until needed, but more a case of its a demo server that's used to test and play for things.

5 million? Really? That seems a bit infeasible considering the largest and most active chat networks in in the world don't even top 100k active users at once..

freenode – around 99k users at peak hours.

IRCNet – around 44k users at peak hours.

QuakeNet – around 36k users at peak

[2017-08-06 15:14] danieljhochman commented on #7602
We won't have anywhere near that number of users concurrently. I was referring to total number of users in the DB who I can choose to possibly direct message. That's how many we have.

[2017-08-06 15:22] marco-aa commented on #7602
Well @jszaszvari  i agree at your numbers.
@danieljhochman - i have a look at rocket.chat because we have up to 100k Users and at peak 250-500 in Chat - what i plan to do, is  to embed RC with REST-Api thats means i'll not fill up the system with 100k Users - the users will be added at login and removed over timer including the messages. Maybe this could be usefull for you too (if in your use-case

[2017-08-06 18:34] wargamesqcf commented on #7653
I am also encountering this issue with .57.2, it was fine in .56

[2017-08-06 20:20] vnkmpf commented on #7640
Same problem. I would like to add it happened even in v 0.59 / develop.

Also when in DM you check Right panel -> Notifications -> Disable notifications,
both desktop notifications and sound notifications are always active.

[2017-08-07 00:13] davidmason commented on #2422
This is particularly needed in the browser because my status is automatically set to `Away` when I do not have that tab focused. I would prefer that the client not claim I am away unless I lock my screen, but if it does happen I need my team to be able to distinguish between when I am on a different tab and when I am actually AFK.

I can post in every channel every time I get up, but that informat

[2017-08-07 05:14] ramanamatya commented on #7655
@MartinSchoeler , No we didn't has any same username deleted in the past.

[2017-08-07 08:42] rndmh3ro opened #7674 "Crowd Login - password always stored in plaintext in mongo and logged"
### Description:

When using Atlassian Crowd to let users login to Rocket.Chat, the password of the user is always stored in plaintext in the mongo database. This does not happen when using LDAP.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Ubuntu 16.04.3 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances:  1
* DB Replica

[2017-08-07 08:53] Lawri-van-Buel commented on #7577
I got Rocketchat 0.58.0-rc.0

From The browser [Firefox 54.0 (64-bit)] Log (replaced my URL with demo.rocket.chat)
[code]
Aug 07 08:37:28 Rocketchat1 RocketChat[1367]: rocketchat_logger rocketchat_logger.js:376 Meteor ➔ method saveUserProfile -> userId: <<USER ID REDACTED>> , arguments:  { '0':
Aug 07 08:37:28 Rocketchat1 RocketChat[1367]:    { typedPassword: '<<SUPER SECRET PASSWORD TOKEN>>',
Aug

[2017-08-07 09:11] dmoldovan123 commented on #6886
Hello,

`
1. mongodump
2. cd dump/
3. mv parties rocketchat
4. cd /dump/rocketchat
5. nano rocketchat_message.metadata.json
6. change textIndexVersion : 3 in 1
7. change 2dsphereIndexVersion : 3 in 1
8. mongorestore /dump
`

[2017-08-07 09:20] pettomorosanu commented on #3919
Hello,
Have Rocket.chat installed and local meet.jit.si. I can start the video conference but screen sharing doesn't work :
'Permission denied Failed to installed desktop sharinf extension". The extension is installed in chrome.

[2017-08-07 09:32] dmoldovan123 commented on #6218
+1

[2017-08-07 10:03] dmoldovan123 commented on #7611
+1

[2017-08-07 10:08] rndmh3ro commented on #7674
I guess the syncing happens because of https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-crowd/server/crowd.js#L128 and https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-crowd/server/crowd.js#L152.
The sync seems to happen no matter if `CROWD_Sync_User_Data` is set or not.

However I could be totally wrong here.

[2017-08-07 11:33] bbrauns commented on #7385
We just updated our instance from 0.56 to 0.57.2. I can see some migration steps taking place in the logs. But afterwards for users who had an uploaded avatar it shows a blank image:
![image](https://user-images.githubusercontent.com/6813310/29024998-f225ad2a-7b74-11e7-92b9-c3b64abd8471.png)

Startup Logs: https://pastebin.com/raw/vagNu3sH

[2017-08-07 11:36] kiamgrebgnur commented on #6535
Hi,

I removed the user account, every subscription and then restarted everything.
Same problem. I can't dm the user. Anything else I can do?

I'm using 0.57.2

[2017-08-07 12:01] MartinSchoeler commented on #7663
@drasbeck I could not reproduce this issue. Could you give us more info on what are you doing? Like the steps how you add the channel to the default ones? Thanks!

[2017-08-07 12:03] MartinSchoeler commented on #7659
fixed by #7205

[2017-08-07 12:03] #7659 closed

[2017-08-07 12:45] mnlbox commented on #7649
@MartinSchoeler I think it's better to add this keys to RocketChat localization files until fix from `francocatena:status` package:
[code]

[2017-08-07 15:38] furkanmustafa commented on #7143
I'm having the same issue since I have upgraded to `0.57.2` (note that I may have jumped some versions when upgrading), this is not just about livechat. It's happening on usual channels and DMs too.

So far I can relate this with the following scenario; I close my browser (when rocket chat tab was open). I open my browser back again and it restores my tabs, rocket.chat is not able to show the last

[2017-08-07 18:19] drasbeck commented on #7663
The channel is, if I recollect correctly, the original #general which has been renamed. Thus it's default status has not been altered.

[2017-08-07 18:44] geekgonecrazy commented on #6886
This is off topic.  I'm not sure what the request is here, but try joining our [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) channel to discuss it.

[2017-08-07 19:25] geekgonecrazy commented on #7653
Can you do a docker pull on the hubot-rocketchat image and see if the latest improves things?

[2017-08-07 19:30] geekgonecrazy commented on #7470
@mestaritonttu we are currently on 0.58.0-rc.0 on the community server.

[2017-08-07 20:09] rcgottlieb opened #7680 "Camera can sometimes stay active after a video chat has stopped"
### Description:

I started a video chat that failed as the other person never saw my request (that's a different bug though). This bug is about the fact that after I hit stop, my camera (on my Thunderbolt display) stayed active! I couldn't reproduce after I restarted Rocket.Chat so this is an intermittent bug unfortunately!

### Server Setup Information:

* Version of Rocket.Chat Server: 2.6.0 (2

[2017-08-07 20:11] geekgonecrazy opened #7681 "Livechat user ends chat doesn't offer to send transcript"
### Description:

With option enabled to send chat transcripts enabled.  When a user ends the chat, it doesn't offer them to send an email.

But it does when the agent closes the conversation.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.0-rc.0
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances:  4
* DB Replicaset Oplog

[2017-08-07 20:15] geekgonecrazy commented on #7680
Was this a jitsi conversation or webrtc?

[2017-08-07 22:00] wargamesqcf commented on #7653
I did docker pull hubot-rocketchat, and it claims I am on the latest.

[2017-08-07 22:26] jgtoriginal opened #7682 "javascript focus method not working on messages-box textarea"
### Description:

The `focus` method doesn't work on the messages-box textarea
If you open the developer tools and try to do `$('textarea').first().focus()` for focusing the user on the textarea on the main chat screen, it will not focus on the textarea at all.

This impacts on the functioning of textarea, because it turns out that if you want to programatically focus on it, it wouldn't be possibl

[2017-08-07 22:34] fifou17 opened #7683 "messages"
its nice to have a bubble message it will look more modern and more beautifull

[2017-08-08 00:02] geekgonecrazy commented on #7653
One way to ensure is to do: `rocketchat/hubot-rocketchat:v1.0.11`

[2017-08-08 02:27] pshute commented on #2300
I'd like this too, for the same reasons as above (people posting to wrong channel, including me).

What do we do when someone posts to the wrong channel, and people reply there? Move them all? How do we identify everything that needs to move? Certainly we could move messages that link to the message we want to move.

Do we want to move them and leave their dates intact, as bios-ben suggests? If th

[2017-08-08 06:57] xasx commented on #7143
I have found a slightly different workaround:

Navigate to the base URL of the Rocket.Chat instance after the browser restored (to a blank page),i.e. remove any `channel/…` stuff from the navbar. Then go back to the channel.

[2017-08-08 07:09] furkanmustafa commented on #7143
I can confirm that @xasx 's solution works.

[2017-08-08 07:45] marcingodlewski commented on #7291
It's been 7 weeks since this issue was originally posted and there is no follow-up from the maintenance team - not even labeled as bug, which it obviously is, quite a serious one.
There should be no doubt about labeling as this is easily reproducible, even at demo.rocket.chat today.
I understand that you cannot guarantee immediate resolutions for all bugs, but no label at this point is concerning.

[2017-08-08 07:50] maeserati commented on #5166
Yes, come on Rocketchat, older chat systems like Chatblzer let admins/mods see a user's IP address for years now. This would be a great feature.

[2017-08-08 07:51] kang298 opened #7684 "Embed RocketChat as iFrame's tutorial"
I want to intergrate Rocketchat into my system with the same account so when registering an account, I use REST api to register 1 user in RocketChat also.

Now I want to show RocketChat as a part in my system in a iframe but skip log-in step.
I have read this post
https://rocket.chat/docs/developer-guides/iframe-integration/authentication
but almost does not understand :(.
This is how it look.
<im

[2017-08-08 08:28] wargamesqcf commented on #7653
forced 1.0.11 and same issue

[34mI20170808-08:26:05.501(0) Exception while invoking method 'sendMessage' TypeError: Cannot read property 'blocker' of undefined   at [object Object].Meteor.methods.sendMessage (/app/bundle/programs/server/packages/rocketchat_lib.js:14077:59)   at [object Object].methodsMap.(anonymous function) (/app/bundle/programs/server/packages/rocketchat_lib.js:1028:26)   at [

[2017-08-08 09:12] keeprock opened #7685 "Message box not scrolling to follow additional multilines added on Mac OS X client 2.8.0"
### Description:

Multi line message becomes hidden as I type new lines into it. Like, someone turns off a scrolling, which was working perfectly before.

Window resizing doesn't solve it either.

Reloading and restarting entire system doesn't help.

I can confirm at least one more use case with the same issues I'm having. So, it is not my system messed it up somehow.

![image](https://user-images

[2017-08-08 09:25] TomaszDom opened #7686 "Parse Slack-style URLs as links"
### Description:

Parse Slack-style URLs as links.

`<http://something.something/something/|Link name>`

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Ubuntu Server 16.04.2
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 2
* DB Replicaset Oplog: true
* Node Version: 4.5

### Steps to Reproduce:

1. Use SlackBridge to mirror

[2017-08-08 09:38] fcoppolani commented on #6610
Hi,

I am just starting to receive complains from users with the same issue. We use 0.56.0 . We may have some crash, I would have to check. Could you provide :
a) a screen in rocket.chat to manage user sessions (and so disconnect them and delete from collection if needed)
b) a 'safe' script to detect and delete stucked userSessions collection (I'm a bit afraid of doing something wrong here)?
Thank

[2017-08-08 09:44] jszaszvari commented on #7686
This works when using a incoming integration but not in the chat clients

[2017-08-08 09:59] kau210 commented on #6610
No script, but my work around was to log into the machine hosting rocketchat and from the mongo shell list all user sessions and select the ones to remove. You'll also need the user id of each user you wish to remove the session.

Specifically - I'm on a debian machine:

[code]

show all collections
[code]

find all users sessions
`> db.usersSessions.find()`
[side note, when you list all the user

[2017-08-08 10:03] rndmh3ro commented on #7674
ping @rufushonour, hope you're still working with rocket.chat! :)

[2017-08-08 10:15] fadanner commented on #5078
+1 for this because if LDAP integration is used, username is mostly sAMAccountName which is most time a "cryptic" username and not the real name of the user.

[2017-08-08 10:41] Zaraka commented on #1888
0.57.2 linux chrome, firefox, desktop client with same result
invalid file type

[2017-08-08 12:12] dmoldovan123 commented on #1615
+1

[2017-08-08 13:09] MartinSchoeler commented on #7684
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 13:09] #7684 closed

[2017-08-08 13:10] MartinSchoeler commented on #7685
This issue was already fixed and it will be available on the next release #7629

[2017-08-08 13:10] #7685 closed

[2017-08-08 13:11] GCHPX commented on #6115
+1

[2017-08-08 13:28] MartinSchoeler commented on #7686
Maybe convert it to markdown on during the import?

[2017-08-08 13:41] Lemmmy commented on #31
I've noticed that this issue is much more prominent than Firefox than Chrome - in Chrome it is almost entirely a non-issue.

Is there any effort to put forward an implementation of this?

Are you looking to keep the scrollbar consistent when loading/unloading messages?

If so, the best way would be to keep a certain amount of messages beyond the viewport loaded, and then to keep the scrollbar cons

[2017-08-08 14:09] Lemmmy commented on #3480
Can we increase the priority on this issue? It's a pretty abusable security issue.

[2017-08-08 14:10] jgtoriginal commented on #3480
@Lemmmy not sure about that, but you can always put a bounty on it.
https://www.bountysource.com/issues/34942815-avatar-endpoint-accessible-without-authentication

[2017-08-08 14:10] Lemmmy commented on #3480
Good call, thank you.

[2017-08-08 14:46] jgtoriginal commented on #2192
Actually I'd go for dynamic tags, for as many roles an admin creates on his instance.
It would be something like, getting a list of available roles on a room, and create the specific tags for that room.
Not sure how the tag command works though.

[2017-08-08 15:00] rogueslerv21 commented on #6106
I too get invalid coce on 57.2 when users try to join password protected channel. They are not prompted anywhere for the pw

[2017-08-08 16:12] bermanmaxim commented on #7682
Actually under chrome at least, the console keeps focus even with a focus() instruction.

See this [stackoverflow question](https://stackoverflow.com/questions/14783585/jquery-focus-command-doesnt-work-from-chrome-command-line).

Did you have a problem also with a focus() instruction that was not fired in the console?

[2017-08-08 16:55] wcgcoder commented on #7470
@geekgonecrazy Checking in here saying on `0.57.2` we have the problem in Safari _for sure_, but Chrome works fine, today.
JS Error in Safari when clicking "Use uploaded Avatar":
[code]

[2017-08-08 17:00] MartinSchoeler commented on #4998
I am going to close this issue due to the lack of any update for so long and the rapid speed of changes that has happened with Rocket.Chat. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-08-08 17:00] #4998 closed

[2017-08-08 17:02] MartinSchoeler commented on #5308
Closing this due lack of response

[2017-08-08 17:02] #5308 closed

[2017-08-08 17:04] geekgonecrazy commented on #7653
is this a private group or is this a public channel?

Looks like the error happened here: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/server/methods/sendMessage.js#L40 which means it couldn't find the room for some reason.

Also is the bot user actually in the room?

[2017-08-08 17:04] tiredofit commented on #7653
Still the same issue as well on my end.
My rooms have a `-` in them e.g. `it-support`. Hubot shows that it's listening to all rooms, but doesn't appear in the room listing. In the rooms that have a `-` is where the exception gets thrown. Regardless, even in a room like `#general` hubot doesn't respond, even though in the logs it says it does..

[2017-08-08 17:10] geekgonecrazy commented on #7653
Can you try actually adding hubot to the rooms to see what difference that makes.

[2017-08-08 17:11] geekgonecrazy commented on #7653
Also please consider hopping in [#hubot](https://demo.rocket.chat/channel/hubot) where we can troubleshoot in more real time..

[2017-08-08 17:41] MartinSchoeler commented on #6188
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 17:41] #6188 closed

[2017-08-08 17:41] MartinSchoeler commented on #6240
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 17:41] #6240 closed

[2017-08-08 17:42] MartinSchoeler commented on #6271
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 17:42] #6271 closed

[2017-08-08 17:45] MartinSchoeler commented on #6330
Not enough information provided.  Please check our [issue guidelines](https://rocket.chat/docs/contributing/reporting-issues) again for help on providing additional information.

[2017-08-08 17:45] #6330 closed

[2017-08-08 17:46] MartinSchoeler commented on #6396
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 17:46] #6396 closed

[2017-08-08 17:48] MartinSchoeler commented on #6538
Closing this due lack of updates. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-08-08 17:48] #6538 closed

[2017-08-08 17:53] #7645 closed

[2017-08-08 17:57] tiredofit commented on #7653
Joined -

With the following settings the bot actually joins the channels. If I change `LISTEN_ON_ALL_PUBLIC` to `true` it will never join and which is where the problems start occuring. It would be tedious to add the comma seperated list of all channels (which change regularly) to ROCKETCHAT_ROOM.

[code]

[2017-08-08 18:14] MartinSchoeler commented on #6414
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 18:14] #6414 closed

[2017-08-08 18:14] MartinSchoeler commented on #6382
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 18:14] #6382 closed

[2017-08-08 18:15] MartinSchoeler commented on #6518
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 18:15] #6518 closed

[2017-08-08 18:18] danieljhochman commented on #7588
I can also reproduce this anytime I click on a message URL ?msg=csv-example-1-1457707558000 and that message it not at the bottom of the chat history. Meaning, sometimes when you do an action (search, jump to message, which brings the messages to older messages, that blue banner is showing.

[2017-08-08 18:55] MartinSchoeler commented on #6434
Closing this due lack of updates. If you happen to experience this with the latest version, please feel free to open it again with updated details. Thanks

[2017-08-08 18:55] #6434 closed

[2017-08-08 18:57] MartinSchoeler commented on #6559
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 18:57] #6559 closed

[2017-08-08 19:00] MartinSchoeler commented on #6067
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 19:00] #6067 closed

[2017-08-08 19:12] ShalokShalom commented on #7683
+1

[2017-08-08 19:13] MartinSchoeler commented on #6952
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 19:13] #6952 closed

[2017-08-08 19:15] MartinSchoeler commented on #6261
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-08 19:15] #6261 closed

[2017-08-08 19:16] geekgonecrazy commented on #7653
Alright to the bottom of this issue.  So if you talk to your bot via: `@botusername command` its gonna work just fine.  Because when you mention a user it brings the user into the channel before the message fully sends, which makes the necessary subscriptions needed be populated when hubot goes to respond.

But... if you talk to the bot via: `botname command` and the bot user is not actually a mem

[2017-08-08 19:16] #7653 closed

[2017-08-08 19:43] caioogata commented on #5460
@bott0r https://app.zeplin.io/project/58890b673c1ac9e62f9ea4db
Here are some screens. Rocket team are now coding.

[2017-08-08 19:45] fifou17 opened #7691 "all urls are dofollow"
all urls in rocket.chat are dofollow is there any way to change it to nofollow? becaus its harm seo

[2017-08-08 20:14] Cikcak opened #7692 "Anonymous still see deleted room general"
I enabled anonymous, deleted general room, set another room to default, but when I open my rocket.chat and automaticaly I'm anonymous (untill I log in), I still see room general, which cannot be opened.

### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.3
* Operating System: Debian stretch/sid
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running

[2017-08-08 21:48] AdamBLevine opened #7693 "Feature Request: Token Controlled Access Chat Channels"
Distributed blockchain technology offers a game-changing shift in how we can think of, and interact with ownership on the internet.  We'd like to add the optional ability for access to specific chat channels be gated by what blockchain-tokens a user possesses.

The Tokenpass API is an OAUTH2 provider which offers users the ability to use "offchain" tokens without maintaining a wallet, and also to

[2017-08-09 01:49] timkinnane commented on #5460
@caioogata that link requires a login.

[2017-08-09 07:20] setrend commented on #6230
@sampaiodiego any update on the date for this feature ?

Thanks.

[2017-08-09 09:00] bott0r commented on #5460
@caioogata  thx!

[2017-08-09 09:02] srihas619 commented on #6341
inorder to run two instances of rocket chat on two VMs (web1 and web2) and with a loadbalancer infront of them (haproxy1), do I need to take care of setting up a shared storage for the session info. I have a seperate mongo DB replica setup with another three Vms: so if the session info stored in mongo; I dont need any shared storage I suppopse; please suggest me how I should move from this point

[2017-08-09 09:28] aditya19496 commented on #7683
Can I start working on it?

[2017-08-09 09:36] jszaszvari commented on #5460
https://github.com/RocketChat/Rocket.Chat/pull/7643

[2017-08-09 09:42] jszaszvari commented on #7683
This would be suited to a customer theme, not core functionality.

I feel most people would think it's tacky/a gimmick.

Could all be done in the custom CSS section of the admin area I would think.

[2017-08-09 09:55] aditya19496 commented on #7683
you wish to have an option to select theme, just like youtube?

[2017-08-09 10:46] DalePayman opened #7694 "Some LDAP-Users can't login"
### Description:

We had a issue on our RC-Instance so we had to restore our mongodb-files from an backup.
After this the System was running fine again BUT a lot of users can't login again.
RC is throwing this "error":

LDAP Test-Connection and Sync seems to be positive.
The Users are in the System - you can see them in the DB also in the Admin-Interface.

So we're thought it'll be a session probl

[2017-08-09 10:57] lindoelio commented on #6945
HI! I'm motivated to work on this feature.

[2017-08-09 11:00] danieljhochman opened #7695 "Load more in flex tabs not working"
Reproducible in 0.57.2 and release-candidate in demo.rocket.chat

Steps to reproduce (search):
1. Perform a search in the flex tab which returns lots of results
2. Scroll down to load more results
3. Doesn't load

Steps to reproduce (members):
1. Go to a room with 100s of online member
2. Go to Members List flex tab
3. Scroll down the list to load more members
4. Doesn't load

[2017-08-09 11:10] danieljhochman opened #7696 "Add setting to allow audio notifications for All Messages"
Just like we have for Desktop, Email, & Push - allow the user to select the trigger for audio notifications. Currently, it only triggers for Mentions. Allow the user to choose "Mentions" or "All Messages". Not sure we need the third option of "Nothing" as that's already available under "Audio"->"None".

This setting should be shown in the "Notifications" flex tab in every Room/DM as the other opti

[2017-08-09 11:36] xurizaemon commented on #4478
Good question @LiraNuna - I see de90a2d2 but no UI to set it, nor whether you can set it as a user / role default or just per-user.

I was in a rush so used an Nginx rewrite:

        rewrite ^/home$ https://chat.example.org/channel/general last;

[2017-08-09 12:22] Mjons commented on #7693
Such a good idea...

[2017-08-09 13:01] fcoppolani commented on #6610
Thanks for your help, indeed it came from a crash. I see that usersSessions are linked to instanceId, a lapsing date on isntance Id and thus to usersSessions should be a good idea.
Anyway here is the command lines I used to clean up the mess :
[code]

[2017-08-09 13:23] janrudolph opened #7698 "Misleading behavior while deleting a livechat message"
### Description:

If an agent deletes a message of an ongoing livechat conversation, the message is not deleted in the customer's livechat inteface. However, this might be a feature: Since the message was already sent to the customer, a deletion might not make sense. The customer already read the message.
Regarding the current implementation, an agent might think the mesasge was deleted and is not

[2017-08-09 13:25] maxdwit commented on #7405
Problem persists in 0.57.3 turning "Sync Profile Pictures / Profilbilder synchronisieren" on.
`validateLogin ->  ....  message: 'Forbidden [forbidden]',      errorType: 'Meteor.Error' ....`

[2017-08-09 13:29] TwizzyDizzy commented on #7405
Problem was not supposed to be fixed in 0.57.3 (see changelog). Issue #7472 is scheduled for 0.58.0 (currently there are RC versions available, see https://github.com/RocketChat/Rocket.Chat/releases).

Cheers
Thomas

[2017-08-09 13:36] steve-a-ihtsdo commented on #2422
+1

[2017-08-09 13:59] MatthiasHertel commented on #4434
its curious, if u put the new-line-tag `\n` at the end without any character afterwards - it won't will work.

eg.
***works not***

[code]

***works***

[code]

**furthermore:**

in the pretext of a field:

nothing works
either `\n` or `\r` or anything else

eg.

[code]

[2017-08-09 14:06] danieljhochman opened #7699 "RocketChat doesn't load properly in Safari 8"
Version 0.57.2

It can't handle the "calc" in the height style of the message box

Here's what users see:
![image](https://user-images.githubusercontent.com/23452628/29125679-11daeffc-7d25-11e7-9e3a-461d894dff11.png)

[2017-08-09 14:14] caioogata commented on #5460
@timkinnane You need to create a user on zeplin and then we need to invite you to the board project.

Just post your user here.

Thanks.

[2017-08-09 14:34] danieljhochman commented on #7602
@marco-aa - we will have around 100-200 chat rooms each having between 5-200 concurrent users. Then, we will also use RC as a direct messaging system (as you described) for a userbase of 5M, but not anywhere near that number of concurrent users. Probably somewhere in the 100s or 1000s of concurrent.

Anyways, this is getting off-topic from the main issue here which is load time. No idea why https:

[2017-08-09 14:48] dmoldovan123 commented on #2422
+1

[2017-08-09 15:19] janrudolph opened #7700 "Smilies / Emoticons are not displayed correctly in Livechat Widget"
### Description:

If an agent uses a smilie / emoticon like ";-)" or ":rocket:",  it is not converted in a graphic in the livechat widget.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.56.0
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): AWS
* Number of Running Instances: 2
* Node Version: v4.8.2

### Steps to Reproduce:
1. Start a livechat conversation by

[2017-08-09 15:21] hhenkel commented on #5091
We are seeing the same issue as is described initially and it seems it might be related to password changes within the active directory - we are running version 0.56.0.

Here is what we see in the logs:
[code]

[2017-08-09 15:35] fifou17 opened #7701 "general room doesnt load"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.3
* Operating System:ubuntu
* Deployment Method(snap/docker/tar/etc): no
* Number of Running Instances: 1
* DB Replicaset Oplog: yes
* Node Version:4.8.0

rocket.chat rooms doesnt load its load blank

[2017-08-09 16:42] hardlydavis commented on #7701
Same here, and after quitting a direct user->user message I was unable to re-load it. Let me know if I can offer any testing or sanitised logs

[2017-08-09 16:58] aditya19496 commented on #7696
Can I start working on it?

[2017-08-09 17:58] cturcich-catasys commented on #6535
Any progress on this?

[2017-08-09 18:39] geekgonecrazy commented on #4434
@graywolf336 any ideas on the pretext field?

As to why text at the end won't allow you to do a new line.  I think it strips them off at the end. Which I think is probably intentional.

[2017-08-09 18:45] sampaiodiego commented on #7699
@danieljhochman can you please verify if this is the same issue as https://github.com/RocketChat/Rocket.Chat/issues/7574? it was already fixed on `release-candidate` branch.

[2017-08-09 18:58] danieljhochman commented on #7699
@sampaiodiego looks the same. Sorry, we only searched open issues. We will search closed issues next time as well :)

[2017-08-09 19:10] jgtoriginal commented on #4478
@xurizaemon I'm not sure if there's a config on the admin dashboard, but from the code you can write your own redirection logic here https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-ui/client/views/app/home.js
using `FlowRouter.go` method.

[2017-08-09 21:10] sacOO7 opened #7702 "Receiving members of a room, socket hungup"
get users of room : only online
["{\"msg\":\"method\",\"method\":\"getUsersOfRoom\",\"params\":[\"Lgm3b8q4KPALupSYm\",false],\"id\":\"18\"}"]
get users of room : all users
["{\"msg\":\"method\",\"method\":\"getUsersOfRoom\",\"params\":[\"Lgm3b8q4KPALupSYm\",true],\"id\":\"19\"}"]

In both cases if users are lot more than expected, it results into socket hungup. (in case of general group, there are

[2017-08-09 21:15] rafaelks commented on #7702
@rodrigok ^^

[2017-08-09 23:15] apiontek commented on #2648
I'm having a similar, but distinct issue. I just set up both minio and rocket.chat, the latter in a snap running on a linode VPS at brap.73k.us, the former running on a home server at ac3.73k.us. Both are running behind separate nginx SSL proxies.

The minio service works, I can get to my subdomain ac3.73k.us with both cli, browser, and on windows, S3 Browser. I can upload from cli, browser, and S

[2017-08-09 23:31] apiontek commented on #2648
on the minio nginx proxy I'm seeing a bunch of

[code]

on PUT requests from the rocket.chat server. So odd though since uploads work from other clients.

[2017-08-10 00:22] apiontek commented on #2648
Nevermind. Works without minio/ on the Bucket URL. I blame my lack of familiarity with Amazon S3.

[2017-08-10 01:36] jy2008 opened #7703 "502 Bad Gateway"
i did the snap install, so my RC is always auto updated to most updated version.
yesterday i was changing hubot script and then all of sudden i cannot access my rchat website, gave me error : 502 Bad Gateway. Even after i deleted whatever change i made, still couldn't access.

Interestingly, the website will always go back to normal in a couple hours, then if i started to use it in admin settings

[2017-08-10 02:20] apiontek commented on #5771
Is there an update on this? I'm unclear how to do this on 0.57.3

I created a folder /var/snap/rocketchat-server/common/scripts and placed an "example.coffee" in there that should respond to "test" I think.

If I put "example.script" in the scripts field, and then try "test" in a channel with the bot, or @thebot, nothing happens. If I @thebot help I get the basic help text.

If I specify "Folder t

[2017-08-10 02:33] timkinnane commented on #5460
@caioogata - username: **teeks** - thanks!

[2017-08-10 02:51] Fazil93 opened #7704 "rocket.chat avatar file system"
* Version of Rocket.Chat Server: 0.57.3
* Operating System: ubuntu
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances: 1
* DB Replicaset Oplog: yes
* Node Version: 4.8.0

rocket .chat avatars doesnt load after uploading em and there is no option to change avatars to file system

[2017-08-10 02:57] trungducnet commented on #7704
me too :(

[2017-08-10 03:12] scottie commented on #1414
i see no confirmation that this has been done?? Whats the news? I see some guy saying he is doing it, but then nothing else?

[2017-08-10 06:47] sugo23 commented on #5166
Need this too.

[2017-08-10 07:48] KPelto commented on #1112
I guess this is not progressing? This is blocker for us.

[2017-08-10 08:02] #7694 closed

[2017-08-10 08:24] salamachinas commented on #7704
Same here.
 After update 0.56 -> 0.57.3 change file system settings
[code]
After setting it back to File system - avatars coems back

[2017-08-10 09:37] nyddogghr opened #7705 "Blank channel when coming directly from url"
### Description:

Channel is blank when coming directly from an URL like https://demo.rocket.chat/channel/support.
This doesn't happen on the demo rocketchat, only our own internal one
### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.2
* Operating System: Unknown
* Deployment Method(snap/docker/tar/etc): Unknown
* Number of Running Instances: Unknown
* DB Replicaset Oplog: Unkn

[2017-08-10 10:06] salamachinas commented on #7524
* Version of Rocket.Chat Server: 0.57.3
* Deployment Method: docker
* Number of Running Instances: 4
* DB Replicaset Oplog: Yes
* Node Version: 4.8.2

Upload slow or don't working at all with more than one instance.

Error from logs
[code]

[2017-08-10 11:06] salamachinas opened #7706 "Upload don't working"
Upload don't working after migration to 0.57.3 with more than one instance.

* Version of Rocket.Chat Server: 0.57.3
* Deployment Method: docker
* Number of Running Instances: 4
* DB Replicaset Oplog: Yes
* Node Version: 4.8.2
* Storage Type: GridFS
* System Path: /tmp/ufs
* Setup: https://github.com/paysera/chat-environment

Error from logs
[code]

[2017-08-10 11:45] pettitto commented on #7701
Got the same issue here too, but on Debian Stretch, same version of Rocket Chat (0.57.3).

I managed to resolve the issue by clearing my local db cache within the browser.

In Chrome: Inspect Element > Application tab > Clear site data (at the bottom of the page). I'm wondering if there's an issue with corrupt caching or given that the room has a large number of messages in it, that it's trying to

[2017-08-10 12:11] reetp commented on #7550
@MartinSchoeler
You closed #3132. You asked me to open another bug, but one was opened at the same time so I added to it rather than create new.
Are the devs looking at it ?

[2017-08-10 12:14] hardlydavis commented on #7701
My scenario was on a fresh install so very little chat history had been generated. I also found that clearing cache/cookies or incognito resolved, but didn't take long to recur..

[2017-08-10 12:27] MartinSchoeler commented on #7699
fixed by #7621

[2017-08-10 12:34] morremeyer opened #7707 "Extra new line inserted in markdown code block"
### Description:

Until recent versions (I don't remember which one, sorry), code markup could be done as follows:

\`\`\`
Text
\`\`\`

which displayed as

[code]

This behviour changed, as

\`\`\`
Text
\`\`\`

now displays as

[code]

and you need

\`\`\`Text
\`\`\`

for

[code]

This is really annoying as all other markdown implementations (at least known to me), e.g. GitHubs own ignore that new

[2017-08-10 12:48] MartinSchoeler commented on #7704
@fifou17 could you explain a little better ? Cant you see the file system under administration -> File Upload -> Storage Type setting?

[2017-08-10 12:50] MartinSchoeler commented on #7705
Probably fixed by #7687

[2017-08-10 12:50] #7705 closed

[2017-08-10 12:50] fifou17 commented on #7704
no @MartinSchoeler  yes i see it and it set to file system but all the avatars goes to the database and its get not stored in the file system like the avatars was stored in the file when i upgraded all avatars got wiped from the file and got moved to the database

[2017-08-10 12:52] fifou17 commented on #7704
@MartinSchoeler
![capture d ecran 158](https://user-images.githubusercontent.com/16228448/29171067-14aba402-7dd3-11e7-85d2-094d3ade10ef.png)

[2017-08-10 12:57] MartinSchoeler commented on #7701
@fifou17 @pettitto @hardlydavis I think it could be related to the bug fixed in this pr #7687 , could you guys test out with the latest develop version? Thanks!

[2017-08-10 13:01] MartinSchoeler commented on #7706
@salamachinas Could be related to this #7704 , could you double check your file upload settings to see if everything is in order?

[2017-08-10 13:03] fifou17 commented on #7701
@MartinSchoeler i will test the latest dev version

[2017-08-10 13:21] MartinSchoeler commented on #7357
This bug has been fixed in the latest version

[2017-08-10 13:21] #7357 closed

[2017-08-10 13:28] chrisaudet commented on #7258
We've run into this issue as well.  Like Nosferous, we've been using LDAP exclusively.  The issue is with one specific user who's account was deleted.  Later he logged in with the same credentials, and the issue began occurring.  I assume logging in with LDAP credentials re-created his rocketchat account.

The issue only occurs when messaging this user on the Cordova mobile app.  When using Electr

[2017-08-10 13:36] Fazil93 opened #7709 "Subscriptions aren't removed when a room is deleted"
* Version of Rocket.Chat Server: 0.57.3
* Operating System: ubuntu
* Deployment Method(snap/docker/tar/etc): none
* Number of Running Instances: 1
* DB Replicaset Oplog:  enabled
* Node Version: 4.8.0

deleting room general or any other room it doesnt not delete its subscription and same for users its give empty room subscription error

[2017-08-10 14:19] jszaszvari commented on #5460
@timkinnane If you could add **jszaszvari** as well that would be much appreciated

Thanks!

[2017-08-10 14:19] fifou17 opened #7713 "hubot intern doesnt load the folder scripts"
* Version of Rocket.Chat Server: 0.57.3
* Operating System: ubuntu
* Deployment Method(snap/docker/tar/etc):none
* Number of Running Instances:  1
* DB Replicaset Oplog: enabled
* Node Version: 4.8.0

hubot intern doesnt load the scripts from the folder

[2017-08-10 14:25] technut371 commented on #7258
I'm also experiencing the same problem. We're authenticating to Crowd. A user account was deleted from RC. The user then logged in to RC and we could see that the account had been re-associated to the deleted account as the avatar still existed. DM to this user fails with 'No user with username "..." was found!.

We're also on rocketchat 0.57.3

[2017-08-10 14:54] salamachinas commented on #7706
All settings seems correct, getting same error with GridFS and FileSystem stogare.

![a](https://user-images.githubusercontent.com/731651/29176586-e9895c70-7df4-11e7-8fa8-2d6e573be4b0.png)
![b](https://user-images.githubusercontent.com/731651/29176602-f1d67278-7df4-11e7-8957-0bffb0f2535c.png)

[2017-08-10 15:21] menvil opened #7714 "Oneclick deployment not working for heroku"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System:
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:
* DB Replicaset Oplog:
* Node Version:

### Steps to Reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Relevant logs:

[2017-08-10 15:47] sacOO7 opened #7715 "search message (adding offset and limit for searching)"
Currently API for searching messages in a room is as follow

//request
["{\"msg\":\"method\",\"method\":\"messageSearch\",\"params\":[\"hey\",\"Lgm3b8q4KPALupSYm\",20],\"id\":\"22\"}"]

As you can see 20 is the limit, but when I try to load more messages, browser just shows progress but no data is sent to the server. I think offset and limit can be added in messageSearch functionality, same as get

[2017-08-10 16:00] trungducnet opened #7716 "File upload AmazonS3 Error: "AccessDenied""
### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.3
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 2
* DB Replicaset Oplog: Enabled
* File Upload: Amazon S3

After upgrading to version 0.57.3, my rocket.chat has problems with upload and download files.

- Amazon S3 notice has access.
- The bucket I assigned to the IAM and

[2017-08-10 17:41] kchristidis commented on #7631
+100

[2017-08-10 17:54] jyellick commented on #7631
+1

[2017-08-10 18:21] sacOO7 opened #7717 "Creating new room with deleted room name"
Room created with a roomName, deleted again and created with same name, it was creating a problem for me. Newly created room wasn't supposed to contain any messages, but still I can see them. I was unable to add members to the new room.

[2017-08-10 19:04] rcgottlieb commented on #7680
I'm not sure. I'd guess webrtc as I don't think we would have used anything beyond defaults.

[2017-08-10 20:06] geekgonecrazy commented on #7703
@jy2008 make sure you have at least a gig of ram.

Also sounds like something else might be going on.  Please hop over to [#ubuntu-snap](https://demo.rocket.chat/channel/ubuntu-snap) so we can try to help you with this support.

Since this is not a bug more more of a support item, i'm going to go ahead and close this ticket.

[2017-08-10 20:06] #7703 closed

[2017-08-10 20:07] geekgonecrazy commented on #7680
This is what I would assume.  Thanks!

[2017-08-10 20:09] geekgonecrazy commented on #7683
yes I would suggest doing this via administration->layout-> custom css

I don't think this belongs as a core feature.

[2017-08-10 20:09] #7683 closed

[2017-08-10 20:12] geekgonecrazy commented on #7663
if you try removing those and adding on a couple of other channels and then register do you see any changed behaviour?

[2017-08-10 20:14] geekgonecrazy commented on #7611
I don't believe we have a way to do that currently.

[2017-08-10 20:34] localguru commented on #7717
Which version?

[2017-08-10 20:35] localguru commented on #7715
Which version?

[2017-08-10 20:36] sacOO7 commented on #7717
Current version of demo app

[2017-08-10 20:37] tboerger commented on #7357
Awesome, thanks!

[2017-08-10 20:55] ruberVulpes commented on #7717
try refreshing the browser once creating the channel

[2017-08-10 21:07] ruberVulpes opened #7718 "Bots are not tagged as bots when using the REST API"
### Description:

I have a bot to use outgoing webhooks. When it processed the outgoing response it's properly tagged as a bot and I can filter by that to prevent a loop. However when I post a message to the same channel saying that the message was processed at the server the bot is no longer tagged as a bot and I can no longer filter by it causing a loop.

### Server Setup Information:

* Version

[2017-08-11 09:08] amateo opened #7719 "Rocket.Chat support channel notifications"
Since last Tuesday (8/9) I'm receiving a lot f emails notifying me that I've been mentioned in the support channel of the demo chat, but I haven't.
Because there are a lot, I configured my account to not receiving email notifications, but I continue receiving them.

[2017-08-11 10:22] janrudolph opened #7720 "User Admin is able to delete / lock out system admin"
### Description:

We added a role called user admin. The user admin is allowed to administrate users (e.g. adding new ones, activation, editing) and to administrate channels. The user admin should not have access to other system options. He should do the basic daily work. The user admin has the following rights:

- add-user-to-any-c-room
- archive-room
- ban-user
- bulk-register-user
- create-user

[2017-08-11 11:44] janrudolph opened #7722 "Livechat Widget does not display markdown correctly"
### Description:

When a live chat agent uses markdown in order to structure and beautify its replys, the customer who uses the livechat widget will see the markdown syntax.

### Actual behavior:

Examples:

- Bold text will be displayed with stars (*) at the widget side
- Italic text will be displayed with underscores (_) at the widget side
- ....

The biggest problem with this issue is, that the

[2017-08-11 11:49] arminfelder opened #7723 "saml module incompatible with pysqml2"
the meteor saml implementation used by RocketChat does not support, the ns0 an ns1 namespaces used in e.g. pysaml2 responses

[2017-08-11 11:49] Zaraka commented on #4405
Still present in 0.57.2

[2017-08-11 12:02] HumphRey123 opened #7724 "Upgrade node.js to 4.8.4 or above"
### Description:
Hi,

node.js below 4.8.4 has security problems. Look here: https://nodejs.org/en/blog/vulnerability/july-2017-security-releases/ . Is RC latest compatible with node.js 4.8.4. Your support asked me to open an issue here.

regards
Humph

[2017-08-11 12:04] janrudolph opened #7725 "Decouple livechat visitors from regular users"
### Description:

Customers who like to use the livechat widget have to insert an username and email address. Afterwards, they are able to chat with an agent.

### Actual behavior:

If the customer knows the URL of the Rocket.Chat application, the customer is able to join the application. There, the customer is able to edit its profile, set its status and input search terms.

The Rocket.Chat appli

[2017-08-11 12:12] nicolasdezena opened #7726 "Tradução customizada não funciona"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: v0.57.3

Estou tentando traduzir algumas palavras porém não está funcionando, segue meu JSON:

`{
 "en": {
  "Channels": "Rooms"
 },
 "pt": {
  	"Read_Only_Channel": "Apenas leitura",
        "Read Only Channel": "Apenas leitura",
 },
 "pt-BR": {
  	"Read_Only_Channel": "Apenas leitura"
         "Read Only Channel":

[2017-08-11 12:25] janrudolph commented on #6327
@Szomy I added a issue recently which might be same as yours, is it https://github.com/RocketChat/Rocket.Chat/issues/7725 ??

[2017-08-11 13:01] bakhtizin commented on #7418
After several attempt, I've finally found a solution to my issue.

 Thus, the problem was _(of course)_ my misconfiguration and _(of course)_ it was already answered! In order to get the things working following should be set:

1. Token Path: `/realms/{realm_name}/protocol/openid-connect/token`
2. Identity Path: `/realms/{realm_name}/protocol/openid-connect/userinfo`
3. Authorize Path: `/realms/{r

[2017-08-11 13:01] #7418 closed

[2017-08-11 13:21] kaicode commented on #4256
👍 Another vote here for this feature.
Something used as often as a messaging application should be capable of keyboard navigation!
Thanks for such a great product 🥇

[2017-08-11 13:47] caioogata commented on #5460
dammit, gonna need your email @timkinnane
@jszaszvari add.

thanks

[2017-08-11 14:04] MartinSchoeler commented on #6327
Giving preference to #7725 since it has more info

[2017-08-11 14:04] #6327 closed

[2017-08-11 14:16] MartinSchoeler commented on #7720
Maybe create a new permission like `Manage Admin Users` or make it so that only people with the `view-privileged-setting` permission can handle other admin users

[2017-08-11 14:44] jonaskello commented on #418
The docs does not seem complete: https://rocket.chat/docs/user-guides/screensharing

I'm tying to find a way to test screen sharing at the demo site but I cannot find anyway to do it.

[2017-08-11 14:58] tiredofit commented on #6448
Being able to choose the Department via an API Call or Argument to the URL while limiting the users from being able to switch departments after the fact (However, an Agent being able to transfer would be useful) would give other live chat services a serious contender for competition. Eagerly Awaiting to see what comes out of this.

[2017-08-11 15:00] jhonatanmorais commented on #6535
Same problem here :\

Any progress on this?

[2017-08-11 15:04] edubrites opened #7727 "Integração com Moodle"
Olá,

Estou trabalhando em um projeto com o moodle, e preciso saber se é possivel efetuar uma integração do rocket.chat para trabalhar junto com o moodle.

Vou explicar um pouco sobre o projeto.

Esse é um projeto de mentoria, onde existem alguns usuários Mentores e outros Mentorandos, os mentores terão um grupo para conversar entre eles e o seu mentorando, e os mentorandos só poderão conversar co

[2017-08-11 15:06] jonaskello commented on #418
Found it, it is in the video conference feature so you need to start that first, then do screen sharing from there.

[2017-08-11 16:04] pixtac commented on #6713
@raelsan, how to solve your problem with rocketchat livechat-guests, to example guest-xx as username?
thx for your awnser and best Regards

[2017-08-11 16:05] pixtac commented on #6713
I mean instead of guest-xx the usernamen spend

[2017-08-11 17:22] MartinSchoeler commented on #7719
Have you tried to change the notification setting on the room?
<img width="433" alt="screen shot 2017-08-11 at 2 21 44 pm" src="https://user-images.githubusercontent.com/20868078/29224373-6e5d9a28-7ea0-11e7-92f4-1b0585656666.png">

[2017-08-11 17:45] amateo commented on #7719
Running Linux client, I can't use right icons, its window is not open.
I have disabled push notifications on my account, but I'm still receiving them.
It's happening since Tuesday.

[2017-08-11 18:28] MartinSchoeler commented on #7719
Those settings are the default ones if you change the notifications on a channel they will be overwritten. Can't you access our demo server on the browser? https://demo.rocket.chat/ . Thanks!

[2017-08-11 21:15] purp commented on #2520
@engelgabriel any update here? We're nearly 18 months later than the new docs site, and it's not clear where to find this info.

[2017-08-11 21:18] erikyuzwa commented on #7701
Is `localforage` a typo or on purpose? Just triggers my OCD is all. :)

I haven't been able to access #General for about a week or so, and deleting the browser database was the fix. Thanks!

[2017-08-11 22:14] timkinnane commented on #5460
@caioogata timkinnane@gmail.com ;) thanks agin.

[2017-08-11 22:36] jszaszvari commented on #5460
Thanks! Looking good :)

On Aug 11, 2017 11:47 PM, "caioogata" <notifications@github.com> wrote:

[2017-08-11 22:36] jszaszvari commented on #2520
@graywolf336 is working on this.

[2017-08-11 22:38] jszaszvari commented on #2520
@purp see here for more specifics https://github.com/RocketChat/Rocket.Chat/issues/6890

[2017-08-12 04:42] LeapingDragon commented on #1112
[Twist](https://twistapp.com/) from creators of Todoist uses the very interesting concept of **[threaded channels](https://www.youtube.com/watch?v=LRUpSYm9Db4)**:

![](http://i.imgur.com/wThuosw.png)

In these channels every message **must** be in a thread, and it makes conversations much more organised than a continuous stream of messages.

I agree with others who don't like Slack's threading imp

[2017-08-12 09:23] aditya19496 commented on #7696
Its almost complete.

[2017-08-12 12:56] arminfelder commented on #7501
I think this is related to #7723

[2017-08-12 15:12] Dracozny commented on #1112
Looks like a clone to Zulip. This is more the direction I want to go but
still need the IRC backend for my die-hard users.

On Aug 11, 2017 9:42 PM, "Aaron" <notifications@github.com> wrote:

Twist <https://twistapp.com/> from creators of Todoist uses the very
interesting concept of *threaded channels
<https://www.youtube.com/watch?v=LRUpSYm9Db4>*:

<https://camo.githubusercontent.com/fd73872455c7

[2017-08-12 15:38] localguru commented on #7724
+1

[2017-08-12 17:40] localguru commented on #7507
Still in 0.57.3 :/

[2017-08-12 18:01] localguru commented on #7241
Still possible in 0.57.3

[2017-08-12 21:18] aditya19496 commented on #7696
Its complete.

[2017-08-12 21:53] pfunks opened #7729 "Add option to limit account name length"
### Description:

The Accounts/Registration subpanel could use a setting to limit account name lengths. As it is, people can register disruptively long names by default. These names can be changed but it would be ideal if they could not be made in the first place.

[2017-08-13 04:13] tuananhhedspibk commented on #1815
How can i start rocketchat/rocket.chat images ? Thanks, when i run it by command
docker run --name rocketchat -p 8000:3000 --env ROOT_URL=http://localhost --link db -d rocketchat/rocket.chat

-> it's suddenly exited
Thanks you very much

[2017-08-13 08:18] tuananhhedspibk opened #7731 "How can I use RocketChat API in React App"

[2017-08-13 13:39] neurobe opened #7732 "Admin & MyAccount FlexNavs should not revert to listCombinedFlex (ie Rooms NavFlex) when exited"
Account Box has facility to register additional menu fields. (accountBox.html line21)
These may well be used to implement several related menus. So when exiting MyAccount or any other flexNav, your should be returned to this AccountBox menu, not the Rooms NavFlex which it currently does.

cheers

[2017-08-13 14:25] spb commented on #7501
Yes, it's the same bug. pysaml2 is actually the same library I was using when I filed this issue.

[2017-08-13 15:23] WebSavvyGuy opened #7733 "Design Bugs"
### Description:

There are all sorts of design bugs.   For example:  Userlist is not showing up on certain browser sizes.  Full width in browsers are ok (userlist shows) but as you move the browser window smaller the userlist doesn't show anymore.   Another issue is some padding problems on the "Register or Chat Anonymously" buttons.  They sit too low on the browser.  Another issue is the box whe

[2017-08-13 15:31] jszaszvari commented on #7733
| as you move the browser window smaller the userlist doesn't show anymore

I'm pretty sure that's by design, it switches to the mobile interface when the size of your browser reaches a certain size as to still be able to chat to people and you can press the hamburger menu that appears in the top left to bring the sidebar back. Although I'm just guessing that what is happening without screenshots

[2017-08-13 15:32] jszaszvari commented on #7733
Until that's done,  you can fix some of the Ui problems by using the Override CSS functionality in the admin sexton

[2017-08-13 15:52] aditya19496 commented on #7729
I will work on it.

[2017-08-13 15:58] localguru opened #7734 "[Feature] Embed Link Previews by channel"
Turning on and off "Embed Link Previews" by channel/room configuration would be nice. We post different RSS feeds to channels and on some channels a link preview is a kind of overhead.

[2017-08-13 16:07] WebSavvyGuy commented on #7733
@jszaszvari    What do you mean the override CSS functionality?

Also, as the browser window goes smaller it should still be able to show the userlist if you click it but it simply doesn't appear at all in mobile devices.

[2017-08-13 16:12] savikko commented on #1615
I have somehow-working solution on my fork (https://github.com/savikko/Rocket.Chat.git), please clone and test and share your experiences with that.
Comments to PR #7628.

[2017-08-13 16:53] jszaszvari commented on #7733
See gifs below, Is this what you are having a issue with?

Mobile:
![c](https://user-images.githubusercontent.com/872463/29251607-fb524694-809a-11e7-9528-a728cf9a65be.gif)

![size](https://user-images.githubusercontent.com/872463/29251623-5c300302-809b-11e7-9e70-38d218d80184.gif)

By custom css, I was talking about how you can modify the CSS application wide in the settings like this - So if a but

[2017-08-13 18:44] WebSavvyGuy commented on #7733
@jszaszvari Thanks alot for your nice gifs.   I need to figure out how to do that to show you guys.

But my issue is when i press the "userlist" icon (the two heads) normally in mobile or smaller browsers it should still open up the list so i can actually see whos in the room.  However, it is no longer doing that.

[2017-08-14 06:38] distlibs opened #7735 "When tried login with jQuery Ajax request, error occured 500 Internal Server Error [Enable CORS = true]"
I tried send request using jQuery Ajax and login in Rocket Chat server:
[code]
When send similar request with PHP works fine.
Cors enabled:
![cors](https://user-images.githubusercontent.com/30928251/29260591-75a51682-80d3-11e7-866f-74fd1e6943f8.png)
Error displayed in browser console:
`Response for preflight has invalid HTTP status code 500`

![error](https://user-images.githubusercontent.com/3092

[2017-08-14 07:19] mborhade commented on #6328
same here ,
getting error on https://demo.rocket.chat/account/profile

`Uncaught TypeError: o.emails[0].address is not a function
    at Object.click #resend-verification-email (4d4b58854c84965ea483e4d2fad7f07f0915cb3d.js?meteor_js_resource=true:239)
    at 4d4b58854c84965ea483e4d2fad7f07f0915cb3d.js?meteor_js_resource=true:79
    at Function.e._withTemplateInstanceFunc (4d4b58854c84965ea483e4d2fa

[2017-08-14 08:13] lesyk commented on #5772
there is some try here: https://github.com/labzone/botpress-rocketchat

[2017-08-14 08:32] pandada8 commented on #7733
![image](https://user-images.githubusercontent.com/3305174/29263921-97ee16dc-810d-11e7-8cdf-8a74e539ce48.png)

this is an example from official demo, where I clicked the button in sidebar and nothing showed,
adding `height: 100%` to `@media (max-width: 1100px) .flex-tab-container.opened .flex-tab` can sort of fix the problem.

![image](https://user-images.githubusercontent.com/3305174/29264021-025

[2017-08-14 10:38] marco-aa commented on #7602
Dear @danieljhochman,

i checked my average ping time - it's around 120 ms to demo.rocket.chat.

I added a screen chrome incognito non cache sorted by time - it's around 4 second. Maybe you can do the same to compare. 1 Did the uncached reload a round 10 time max. was 6.5 seconds - average around 4.5 seconds for around 24 requests.

![perf-test-2017-08-13 22_38_14-rocket chat](https://user-images.

[2017-08-14 11:08] hExPY commented on #2355
+1 for automatically deleting

[2017-08-14 11:16] danieljhochman commented on #7602
@marco-aa  - can you do the same thing when logged in and on a first time load (incognito) ?

[2017-08-14 11:31] sampaiodiego commented on #6708
this was fixed by https://github.com/RocketChat/Rocket.Chat/pull/5201

[2017-08-14 11:31] #6708 closed

[2017-08-14 12:29] mborhade commented on #6328
I have modified some code and its working now for me...

[2017-08-14 12:32] MartinSchoeler commented on #7731
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-14 12:32] #7731 closed

[2017-08-14 12:35] MartinSchoeler commented on #7729
Duplicate of #3192

[2017-08-14 12:35] #7729 closed

[2017-08-14 12:35] MartinSchoeler commented on #7735
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-14 12:35] #7735 closed

[2017-08-14 12:56] hardlydavis commented on #7701
Happy to try, but I'm a bit new to snap (but followed that path when installing).

Does dev  version translate into the snap verbiage below at all?

       --edge Install from the edge channel
       --beta Install from the beta channel
       --candidate
              Install from the candidate channel
       --stable
              Install from the stable channel

[2017-08-14 13:34] caioogata commented on #5460
Done!

[2017-08-14 13:45] bott0r commented on #5460
invite spam0r

[2017-08-14 13:50] m2rt commented on #5946
Shouldn't rocketchat be slack API compatible? If that is the goal, then this should be an issue.

[2017-08-14 13:57] MartinSchoeler commented on #7315
Closing this due lack of response

[2017-08-14 13:57] #7315 closed

[2017-08-14 13:58] MartinSchoeler commented on #7300
Closing this due lack of response

[2017-08-14 13:58] #7300 closed

[2017-08-14 13:59] MartinSchoeler commented on #4282
Closing this due lack of response

[2017-08-14 13:59] #4282 closed

[2017-08-14 14:02] #3143 closed

[2017-08-14 14:03] MartinSchoeler commented on #2718
Closing this due lack of updates

[2017-08-14 14:03] #2718 closed

[2017-08-14 15:46] amaranto commented on #2759
+1

[2017-08-14 16:49] teknogeek commented on #1112
Absolutely +1 for adding threads. Threads make sub-conversations and topic-related tangents much much MUCH easier to follow and prevent added clutter to channels. This is one of the largest drawbacks of using rocket vs slack and something that is clearly holding a lot of people back.

[2017-08-14 16:55] tuananhhedspibk opened #7736 "Get error when use logout API"
I use `axios.get(`) to logout with rocket chat logout API - in React APP
Here is my code:

[code]

[code]

I had check auth-token and user-id, every things is ok but i got "500 error" with logout API
Can anyone help me? Thanks you a lots guy

[2017-08-14 18:09] pokapow opened #7737 "Docker instance can't resolve socket"
I'm using docker with last rocket chat official image on debian 8.
I'm using nginx as a reverse proxy to access the container listened port.

This is how I install rocket chat:
`docker run --name db -d mongo:3.0 --smallfiles`
`docker run --name chat_exp -p 10040:3000 --env ROOT_URL=https://chat.exemple.com --link db -d rocket.chat`

This is my nginx configuration for rocket chat:
[code]

When I tr

[2017-08-14 18:38] pokapow commented on #7737
I got exactly the same issue with a docker compose:

[code]

[2017-08-14 19:45] WebSavvyGuy commented on #7733
@pandada8

Do you mind to share where you made those changes please

[2017-08-14 20:35] marco-aa commented on #7602
Hi @danieljhochman i did a login and did a reload https://demo.rocket.chat/home with cleard cache.

![perf-test-2nd-2017-08-13 22_38_14-rocket chat](https://user-images.githubusercontent.com/8101156/29290575-dee11c46-8140-11e7-9b31-ea5f7085a315.png)

[2017-08-14 20:55] WebSavvyGuy commented on #7733
I added the following into Layout>Custom CSS

`@media(max-width:1100px) {
 .flex-tab-container.opened .flex-tab {
  position:absolute;
   right:40px;
   border-width:0 0 0 1px;
   z-index:100;
   height:90%
  }
}`

Because without seeing the userlist, nobody was able to PM anyone else.
It fixed the user list issue in mobile but now people are complaining the avatars are so big and taking the whole

[2017-08-14 21:18] neurobe opened #7740 "wanted: Rocketchat._dummy package. Add-on developers start here!"
A package which is a start point for developers wanting to expand RC.
Rocket._dummy would:
. register two entries in Admin NavFlex: Dummy 1 and Dummy 2
. selecting Dummy 1/2 would bring up DummyFlex1/2, each having links to PageDummy1A/1B, 2A/2B
. selecting PageDummy1A etc would invoke Template_PageDummy1A

. register same for FlexTabs
. register Settings_Dummy1/2: setting1, setting 2 (they may ch

[2017-08-14 21:59] engelgabriel commented on #7732
@karlprieb in the new design, this is a dropdown menu, so I am not sure this is still a valid request?

[2017-08-14 22:08] pshute commented on #1112
I prefer that style of threading myself, but for some reason a lot of people can't stand it. I think they like to be able to just see all the messages, and that's why so many services like Rocket.Chat have evolved without any threading at all.

I think full threading as you suggest is not going to get enough support to ever happen. It's going to have to be a compromise.

[2017-08-14 23:17] neurobe commented on #7732
Fixed by new UI. Tks

[2017-08-14 23:17] #7732 closed

[2017-08-15 01:29] LeapingDragon commented on #1112
There doesn't have to be any compromise at all. There just needs to be the option to have threaded channels for those who want the organisation, as well as non-threaded channels for those who want to see all messages in one stream.

On 14 August 2017 23:08:51 BST, pshute <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-15 02:42] pshute commented on #1112
I'm not sure. We could have a button that switches between threaded and flat view, but that won't necessarily make everyone happy.

One "advantage" of a flat view is that everyone sees everything, so no one can say they didn't see a reply, like they could if it was hidden in a threaded view where you don't see replies unless you open the thread.

It's quite common for threads to drift off topic, a

[2017-08-15 02:57] Munzy commented on #6738
This is affecting me as well. I used an API call to login each time, as I wasn't easily able to store the login hash for extended periods.

[2017-08-15 03:05] cmachler commented on #1112
@pshute I think a good option with your tape drive example would be if rocket.chat had a User Group feature like Slack where you could call out for example `@backups_team` in the reply thread so that the backups team who is responsible for the tape drives are notified that they are mention in the reply thread.

[2017-08-15 03:15] pshute commented on #1112
@cmachler Our team is too small for that, so the already existing option to tag a single user is sufficient. But your suggestion probably highlights the problem - the person making the tape drive comment needs to bother to tag someone, and that's not reliable.

Probably the advantages of a flat view over a fully threaded view (visibility vs clutter) vary with the size of teams. Our small team is f

[2017-08-15 03:41] pandada8 opened #7741 "incorrect markdown format with bold in named link"
### Description:

markdown content are incorrectly formated

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.0-rc.1
* Operating System: linux
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: true
* Node Version: 4.8.4

### Steps to Reproduce:

![image](https://user-images.githubusercontent.com/3305174/29301320-ddd4a58a-81

[2017-08-15 03:42] satchipanda opened #7742 "Enable email and Auto-translation integtration"
I'm new to using Github and Rocket.Chat community, so please tell me if there's a problem of how to write this new feature request.

## Description:
I want to have an email/live chat support system with auto-translating function.

What I'm thinking is I think basically integrating these: #7342 and #6110.
However, I've noticed that auto-translating function only works for channels communications, b

[2017-08-15 06:56] mjovanovic0 opened #7743 "[Feature] User avatars from external source"
We have internal service for employee images and in that service we have API for fetching user image.

We would like to be able to set user avatar as URL to that service so that avatar is not downloaded into Rocket.Chat configured storage.

Example:
For user `test` service URL would be `https://acme.com/api/v1/test` and service call returns PNG/JPEG image (depending on what type of image user uplo

[2017-08-15 07:38] okaufmann commented on #4580
After setting both env vars `HTTP_PROXY=http://chat.mydomain.com` and `HTTP_PROXY=https://chat.mydomain.com` it's still not working. Any other suggestions?

[2017-08-15 08:24] bbrauns commented on #7737
maybe the sample config is helpful: https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy especially the: proxy_set_header Upgrade $http_upgrade;

[2017-08-15 10:23] pokapow commented on #7737
Ok, that just solved my problem! `proxy_set_header Upgrade $http_upgrade;` didn't changed anything, but the rest of `proxy_set_header` solved it. But I would like to understand what happened exactly ...

[2017-08-15 13:00] localguru opened #7745 "[BUG] login via API doesn't update User Status, Created at and Last login"
### Description:

A login via API doesn't update User Status, "Created at" and "Last login" (view-full-other-user-info)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.3
* Operating System: Linux, Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): github checkout, self build bundle
* Number of Running Instances: 1
* DB Replicaset Oplog: yes
* Node Version: v4.5.0

###

[2017-08-15 13:25] igisho commented on #6230
any update on this feature?

[2017-08-15 14:03] mnlbox opened #7746 "[BUG] joinRoom.js localization problems"
Hi guys,
[joinRoom.js](https://github.com/RocketChat/Rocket.Chat/blob/2e6434c76e3dfb28478903b426f1dc1160ca0a9a/packages/rocketchat-lib/server/methods/joinRoom.js) error message not localized in current version. For example:
[code]

[2017-08-15 14:34] teknogeek commented on #1112
@cmachler @pshute I come from a team with about 700 people in it where this is very important to have conversation organizational tools such as this. a thread-only channel approach is not the correct way to go about this if you ask me, and the reason for that is we use threads to have tangent conversations. For example, someone posts a news story -- all of that conversation relating to that happen

[2017-08-15 14:42] tuananhhedspibk opened #7747 "CORS broken: OPTIONS requests returns 500 Internal Server Error"
[code]

In this code, I sent `GET` request with a header, But the call that is failing really is `OPTIONS ` that the browser sends before this request. This request is not even being sent and I got "500 Internal Server Error"

[2017-08-15 15:58] localguru commented on #7743
Good idea. On thing to keep in mind with external content: If the remote service doesn't offer https you will get SSL warnings in your browser's status bar, same as with non ssl link previews, see #7490

[2017-08-15 16:04] localguru commented on #7736
What happens if you try just curl:

[code]

[2017-08-15 16:39] jszaszvari commented on #1112
Please don't go down the route of thread only channels. Just have a setting that can be turned on or off for threads in a channel, that would be ideal

Twist that @LeapingDragon is nothing more than what forums were in the 90s, it's nothing new. That app is just a real time "forum" with a new name.

[2017-08-15 17:00] wemu opened #7749 "Member cannot open "general" channel (TypeError: Cannot read property 'split' of undefined)"
### Description:

when members open the chat-windows (google chrome) they cannot open the general channel, but other channels work.

There is an exception in the browser console: see below.

deleting the local index db from chrome and refreshing the page solves the issue temporarily. After a while the issue comes back and one has to delete the local db again.

### Server Setup Information:

* Vers

[2017-08-15 17:21] tuananhhedspibk commented on #7736
It's OK with terminal but when i use GET method with headers, normally it will send OPTION method before but when OPTION method was sent, i get ''500 error''

[2017-08-15 19:36] MartinSchoeler commented on #7733
Apparently #7643 fixed this, please reopen if the problem persists. Thanks

[2017-08-15 19:36] #7733 closed

[2017-08-15 19:38] MartinSchoeler commented on #5347
Closing this since #7643 changed this part of the ui. Please reopen this if the problem persists. Thanks!

[2017-08-15 19:38] #5347 closed

[2017-08-15 19:39] MartinSchoeler commented on #2755
Done in #7643

[2017-08-15 19:39] #2755 closed

[2017-08-15 19:40] MartinSchoeler commented on #4377
This feature was added in this pr #7643 go to my account -> preferences -> Sidebar channel list mode setting

[2017-08-15 19:40] #4377 closed

[2017-08-15 19:41] MartinSchoeler commented on #5937
@flayks #7643 Closes this

[2017-08-15 19:41] #5937 closed

[2017-08-15 19:42] danieljhochman commented on #7749
We had this 1.5 weeks ago when Chrome released their latest version. The fix is this:

https://github.com/RocketChat/Rocket.Chat/pull/7687

[2017-08-15 19:44] MartinSchoeler commented on #7737
Since the problem was solved i will close this.

[2017-08-15 19:44] #7737 closed

[2017-08-15 19:48] flayks commented on #5937
Wow cool, can't wait to see it released! Thanks for updating

[2017-08-15 19:59] wemu commented on #7749
Ah I see. Thanks for the pointer! I'll wait for 0.58.0 then :-)

[2017-08-15 19:59] #7749 closed

[2017-08-15 20:04] metalcated commented on #7100
+1 here as well. Thanks

[2017-08-15 21:08] teknogeek commented on #1112
I agree with @jszaszvari. The current way that you have to handle threading in Rocket.Chat is to quote the message being referred to (or link it) and then make your comment. This is *exactly* the same as a forum approach, not a chat approach. If you consider how a forum is similar to this, there are boards (servers) with topics (channels) and posts (messages) from members (users). However, the adv

[2017-08-15 21:47] pshute commented on #1112
@teknogeek, can you please clarify your opinion of Slack's implementation of threads? My opinion is that they tried to compromise between a flat and a threaded approach, and the end result is nearly unusable - the strangest threading I've ever seen. Very hard to work out how it works without doing a few tests. (I haven't looked at it for a few months, so it may have imnproved.)

We moved from Slac

[2017-08-15 22:04] pshute commented on #1112
If I was to have a go at implementing this (which I can't), I would experiment first with different views of the existing message structures. We already have a reply button, which inserts the URL of the message being replied to. The actual text of that message is only added as a quote at display time (I believe). The presence of that URL marks the message as being part of a thread, and could be us

[2017-08-15 22:08] jszaszvari commented on #1112
@pshute i don't understand. That's exactly what slacks threading allows you to do. See messages in different conversations.

Can you explain specifically what makes it unusable? You say it's difficult to work out how it works..yet every single one of your complaints could be solved with a simple user setting.

[2017-08-15 22:53] pokapow commented on #7412
Same question: How to use IRC protocole with rocket chat ? I enebled the plugin, I use rizon network, but then ? No answer about it ...

[2017-08-15 23:20] pshute commented on #1112
@jszaszvari, it's stretching my memory, but I think our main problem was that if someone replied to a thread, it wasn't obvious that they'd done so, at least not to everyone. To help with this, we started ticking the box to also send to the channel. That brought back the clutter, and also confused people about where the actual reply was.

The reply it sent to the channel, from memory, had a reply

[2017-08-15 23:25] geekgonecrazy commented on #7524
@salamachinas it sounds like your instances are not able to talk to each other.  Are you using INSTANCE_IP env variable with your containers?

[2017-08-16 01:20] jszaszvari commented on #1112
@pshute I think you should take a look again, they improved a lot since the initial implementation. The count does update in real time now and is not a snapshot.

You should also get a notification if someone replies to a thread that you were involved in.

I actually hated it when it first came out but it's been improved upon a little bit so its actually usable.

[2017-08-16 05:13] miltonfuller commented on #7724
+1

[2017-08-16 05:38] TomaszDom commented on #7686
How can I convert it to markdown during import?

[2017-08-16 06:08] gempir commented on #4377
Is this already in a release? If so which version?

[2017-08-16 07:28] brylie commented on #1112
On reading through this discussion again, I would like to make the following observations.

# Threading should be optional (consensus reached?)
We seem to have reached consensus that threading should be optional. In effect, users should be able to send messages that are not part of a thread. It might be possible for a message to be added to a thread after it has been submitted, in order to keep th

[2017-08-16 07:51] brylie commented on #1112
# Common ground
One thing the threading options have in common is the **reply button**. There may be, if we agree, a small step to take forward right away.

# Current situation
The Rocket.Chat reply button is currently 'hidden' under a message actions widget:

![peek 2017-08-16 10-21](https://user-images.githubusercontent.com/17307/29352056-fb84890e-826d-11e7-8a65-dc43a04ba063.gif)

# Proposed cha

[2017-08-16 08:39] localguru commented on #7724
Anything new on this? Is node.js 4.5.0 a "must" or can we upgrade to >= 4.8.4 ?  :smile_cat:

[2017-08-16 08:45] localguru commented on #7724
The docs still say node.js 4.5.0, see https://rocket.chat/docs/installation/manual-installation/ubuntu . Is this official or just old docs?

[2017-08-16 09:19] janat08 opened #7751 "cannot spawn sh fatal"
### Description:
Quite simply can't start local version.

### Server Setup Information:

* Version of Rocket.Chat Server:  doesn't start, 57.3
* Operating System: windows 10
* Deployment Method(snap/docker/tar/etc): none
* Node Version: -

### Steps to Reproduce:

Reinstalled everything several times. Don't know what I did previously.

### Expected behavior:

Can't quick start on local with window

[2017-08-16 10:14] mborhade commented on #7013
same here

[2017-08-16 10:55] mborhade commented on #418
In my case audio not working after sharing screen.

[2017-08-16 12:25] MartinSchoeler commented on #7751
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-16 12:25] #7751 closed

[2017-08-16 13:38] ankit213 opened #7753 "WebSocket is already in CLOSING or CLOSED state."
### I have used your library in my project, I'm facing on a problem.so please help me out.

### Description:

I have used send message method as below, Here I am added condition "**this. sock. readyState!== WebSocket. OPEN**". For check websocket connected or not. If I didn't use this condition it will throw the error in send message method "WebSocket is already in CLOSING or CLOSED state."

[code

[2017-08-16 13:57] Asara commented on #7631
Please implement this!  It would be highly appreciated.

[2017-08-16 14:51] graywolf336 commented on #7745
I think this is working as intended since the rest api is only meant to be gathering data from and not treating it like an actual login system. @RocketChat/core thoughts?

[2017-08-16 14:53] graywolf336 commented on #7740
Related to #6890 since you're just wanting to extend Rocket.Chat and there is work in progress to do this without forking the code.

[2017-08-16 14:55] dmoldovan123 commented on #7724
+1

[2017-08-16 14:56] graywolf336 commented on #7718
The `bot` property is working as intended, it only marks the integration messages as bots with the `i` property being the integration. Bot accounts are typically marked with the role `bot` and then filtered that way.

@RocketChat/core Do we actually want to mark each individual message as `bot` when a user with the role `bot` sends a message?

[2017-08-16 15:04] jszaszvari commented on #7718
@graywolf336 out of curiosity, is there a way to Override the i tag on a message using the incoming webhooks to remove the bot tag.

I think there used to be a way as I remember making the tag go away but I've forgotten.

[2017-08-16 16:46] graywolf336 commented on #7718
@jszaszvari I am not sure, I actually only recently found out about that tag so I don't know much about it.

[2017-08-16 17:03] jszaszvari opened #7756 ""Hide right side bar with click" setting breaks the flex tab"
### Description:

After updating to 0.58.0 I am no longer to open the right sidebar in any browser, Clicking the icons do nothing.  Am getting no errors in the browser console either.

![image](https://user-images.githubusercontent.com/872463/29375446-5b591d7e-82f8-11e7-81fa-8e3a7df11750.png)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.0
* Operating System: OS X and Widno

[2017-08-16 17:04] jszaszvari commented on #7756
Not working either in the Electron client.

[2017-08-16 17:11] jszaszvari commented on #7756
Tested on iOS and Android browser just now - Same issue

[2017-08-16 17:14] jszaszvari commented on #7756
I can confirm that rolling back to 0.57.3 has made the sidebar start working again. Just did it now.

[2017-08-16 17:17] Gummikavalier commented on #7756
This happens on desktop browsers (Chrome, Firefox at least) too when personal profile option
**Hide right side bar with click**
is enabled (with RC 0.58.0).

[2017-08-16 17:18] PowaBanga opened #7757 "Is there a place where is the list with all emoji and all theyr code ?"
Hi all,
I look for a place where are listed all emoji and theyr codes, because I am trying to create a them for pidgin client....

Cheers

[2017-08-16 17:21] jszaszvari commented on #7756
@Gummikavalier  Good Find!

That indeed does make it start working again, Only issue is the rest of the users now. Might need to find a way to turn that off for everyone.

[2017-08-16 17:27] Gummikavalier commented on #7756
@jszaszvari I think it is off by default.

I had enabled it by myself in personal profile, so there might be an option in the Admin-settings if it's on in your setup by default.

[2017-08-16 18:11] fifou17 commented on #7701
@MartinSchoeler its works fine in other builds so you can close this thread i have tested the rc release its worked fine thanks

[2017-08-16 19:48] simonv3 commented on #7757
@PowaBanga do you mean all standard Unicode emojis?

The standard:
http://www.unicode.org/reports/tr51/

And I think this is probably a good place to start:
http://unicode.org/Public/emoji/5.0/emoji-data.txt

[2017-08-16 20:54] neurobe commented on #7740
Covered by #6890.

[2017-08-16 20:54] #7740 closed

[2017-08-16 21:34] PowaBanga commented on #7757
me, what i look for is a list of your special code like `:smile:` but thanks for your links, they will be usefull for me

[2017-08-16 21:38] neurobe commented on #6890
My Use Case might open up broader horizons for RC....
My in-development app uses Meteor and RC-streamer to monitor and control medical devices. It allows a practitioner real-time access to the data output by the device and adjust its settings if necessary.
To go along with this app we would like the practitioner text/voice/video access to the client. There would also be a use for group chats.
Our

[2017-08-16 21:41] mook-as opened #7759 "@-mentions should not trigger inside inline code / blocks"
### Description:

When sending a message, `` `@all` `` triggers mentions for everybody, instead of letting me communicate the idea of mentioning everybody.  Note that the auto complete thing does _not_ trigger, and the output does not look like a mention, making me think it was not pinging everybody on the server.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.3
(I do not ha

[2017-08-16 22:02] simonv3 commented on #7757
Maybe this will help? https://github.com/RocketChat/Rocket.Chat/blob/a729aaa2baffea9338e1b0443cbac1780813bdd6/packages/rocketchat-emoji-emojione/emojiPicker.js

[2017-08-16 22:25] rafaelks opened #7760 "[REST API] Members list"
We need an API (paginated) that will list all the members of some channel or group.

[2017-08-16 22:26] rafaelks opened #7761 "[REST API] Files list"
We need an API (paginated) that will list all the files of some channel or group.

[2017-08-16 22:26] rafaelks opened #7762 "[REST API] Starred messages list"
We need an API (paginated) that will list all the starred messages of some channel or group.

[2017-08-16 22:27] rafaelks opened #7763 "[REST API] Pinned messages list"
We need an API (paginated) that will list all the pinned messages of some channel or group.

[2017-08-16 22:27] rafaelks opened #7764 "[REST API] Star a message"
We need an API to be able to star some message.

[2017-08-16 22:28] rafaelks opened #7765 "[REST API] Pin a message"
We need an API to pin a message.

[2017-08-16 22:29] rafaelks opened #7766 "[REST API] Authentication with Facebook"
We need an API that will allow the mobile apps to use the Facebook SDK to authenticate the user, without using the oAuth methods currently being used.

[code]

[2017-08-16 22:30] rafaelks opened #7767 "[REST API] Authentication with Twitter"
We need an API that will allow the mobile apps to use the Twitter SDK to authenticate the user, without using the oAuth methods currently being used.

Information:

[code]

You can use as reference our Google authentication.

[2017-08-16 22:31] rafaelks opened #7768 "[REST API] Authentication with Google"
We need an API that will allow the mobile apps to use the Google SDK to authenticate the user, without using the oAuth methods currently being used.

[2017-08-16 22:41] pshute commented on #1112
Sounds good to me. Why are any of those buttons hidden anyway? There's plenty of space to display them.

[2017-08-16 22:57] pshute commented on #1112
@brylie, there is a third type - the Flowdock style where all messages are displayed chronologically. Threads are only identified by colouring messages of the same thread the same colour. Ie to read the previous messages of a red coloured message, you have to scroll up looking for other red ones.

It's a compromise that should make threading haters happy, and it's much more usable than it was for

[2017-08-16 23:48] bb010g commented on #1112
I'd be fine with Flowdock's style as long as you had some sort of way to easily jump back to the previous message, preferably with a preview for messages further back.

IRC has always handled conversations overflowing the normal channel with just hopping over to a new channel (e.g. `#foo-overflow` for general semi-relevant tangents for `#foo`), which isn't too bad and doesn't require implementing

[2017-08-17 04:30] pshute commented on #1112
@bb010g commented 4 hours ago

I don't think we need any new data structures for the types of threading being proposed. The Reply button inserts the URL of the message being replied to, and that could be enough to allow messages to be linked into threads, therefore displayed as threads.

Our team needs all replies to be somehow visible in the originating channel, so creating new channels won't wor

[2017-08-17 05:52] Suman360 commented on #1920
I am a student our team have developed an awesome social network using wordpress but our network is lacking a Facebook like chat system so I want to know to can I integrate rocket chat with Buddy press so it only show the online friends only online friends if I could get help regarding this we could launch the social network please help us.

[2017-08-17 05:53] Suman360 commented on #1920
My email is wrightabd@gmail.com please reply here

[2017-08-17 05:54] geekgonecrazy commented on #7756
@rodrigok

@diegodorgam I know you saw this.  Do you have the:

Option in your preferences?

[2017-08-17 05:58] szluohua opened #7769 "delete channel, the cache is not updated"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: demo.rocket.chat

### Steps to Reproduce:

1. deleted channel
2. 'rooms' has not changed, need to refresh my browser before responding
3. 'ChatRoom' has not changed, which results in some errors

![error](https://user-images.githubusercontent.com/18567056/29397927-06c4c18a-8354-11e7-8596-583b2165bf5b.png)

[2017-08-17 06:37] fmuecke opened #7770 "Webhook: process_incoming_request: unable to skip/ignore requests without error (400) (#7374 re-open)"
*Reopening #7374 as it was closed without having a proper solution as the proposed solution only works for **outgoing** webhooks*

But I still don't see how this is going to work with **incoming** WebHooks.

Rocket.Chat Version: 0.58.0
Running Instances: 1
DB Replicaset OpLog: Enabled
Node Version: 	v4.8.3

**The situation:**

- We need to process an incoming webrequest from MS Team Foundation Ser

[2017-08-17 06:50] brylie commented on #1112
Thanks for the clarification @pshute. My apologies for the omission. I probably didn't understand Flowdock threading correctly, when I was summarizing this thread.

[2017-08-17 06:50] PowaBanga commented on #7757
yes, thank you ! i think that i have to do the rest of the work myself now :)

[2017-08-17 07:13] fifou17 opened #7771 "Avatar Upload Doesn't Work"
* Version of Rocket.Chat Server: 0.58.0
* Operating System: ubuntu
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:  1
* DB Replicaset Oplog: yes
* Node Version: 4.8.3

avatar doesnt change while tryna change the avatar its upload but no change

[2017-08-17 07:17] fifou17 opened #7772 "rocket.chat doesnt load on mobile"
* Version of Rocket.Chat Server: 0.58.0
* Operating System: ubuntu
* Deployment Method(snap/docker/tar/etc):
* Number of Running Instances:  1
* DB Replicaset Oplog: yes
* Node Version: 4.8.3

rocket .chat doesnt load on mobile isnt responsive

![telechargement](https://user-images.githubusercontent.com/16228448/29401122-d653e502-8327-11e7-8dff-ea22a23df66d.png)

[2017-08-17 07:20] KervyN opened #7773 "LDAP Login does not work if LDAP profile picture sync is enabled."
Welcome to the house of fun.

### Description:
If you enable the LDAP profile picture sync, people are not able to login with their LDAP credentials. Ironically syncing the LDAP profile pictures does work if you enable it and click "Sync LDAP".

### Server Setup Information:
* Version of Rocket.Chat Server:
   0.58.0
* Operating System:
   Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc):

[2017-08-17 07:25] simon-doerflinger commented on #2049
Are there any news to this topic? It would be a great Feature and could help us a lot 😁

[2017-08-17 08:25] enriquecornago opened #7774 "[intermittent] [session timeout] Can't see new messages in channels"
### Description:
Only seen some days and only by some users (running either the desktop app or the browser, in Windows 10).
The channel name will go bold and notifications will come through, a sign of new messages. But when going to the channel, there will be no new messages.
If the user then logs out and logs back in, everything will be back to normal, ie the new messages will be there in the cha

[2017-08-17 08:29] ankit213 opened #7775 "Get unread message via rest api for Rocket.chat"
### Description:

Hello I have used this https://rocket.chat/docs/developer-guides/rest-api/im/history for get unread message via rest API. Rocket.chat server version is 0.57.3 .

**Example Call**
1) https://rcserver.rocket.chat/api/v1/im.history?roomId=ByehQjC44FwMeiLbX?&unreads=true
2) https://rcserver.rocket.chat/api/v1/im.history?roomId=ByehQjC44FwMeiLbX?&unreads=”+true

### Code

[code]
I hav

[2017-08-17 09:11] ArchimedesFM commented on #7772
I have the same Problem with Rocket.Chat Server 0.58 and iOS-App Rocket.Chat 2.5.0 (iPhone SE).
In some cases you can see the right menue, but not in all channels. In Landscape Mode you can see all elements. The Problem does not exist with Rocket.Chat+.

[2017-08-17 10:15] MarPiRK commented on #7773
The same issue (version 0.58.0, Docker image).

[2017-08-17 11:48] digitalfrood commented on #1654
Any updates on this issue? Slack handles notification settings for `@all` and `@here` really well.

[2017-08-17 12:22] MartinSchoeler commented on #7775
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-17 12:25] Berndinox commented on #4738
GlusterFS + Docker Storage Plugin "local-perist" did it for me on a multi-node swarm cluster.

[2017-08-17 12:31] MartinSchoeler commented on #7757
We aim to keep our Github issues for bugs and feature requests. This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2017-08-17 12:31] #7757 closed

[2017-08-17 12:54] MartinSchoeler commented on #7771
The problem seems to be with the upload avatar feature, since i can change my avatar via url just fine

[2017-08-17 12:58] MartinSchoeler commented on #7771
Actually, #7643 fixes this

[2017-08-17 12:58] #7771 closed

[2017-08-17 12:58] soundstorm opened #7776 "Long channel topic leads to over-wide window"
Just updated to 0.58.0, the channels with longer topics show following behaviour:

Top bar (#channelname topic...) resizes to fit topic (single row). The message-UI also resizes to match top bar. Both run out of the browser window and the overflowing content is hidden; you can't scroll horizontally, other problem is, that you can only change the topic from the Rocket.Chat App, as the sidebar disap

[2017-08-17 13:00] soundstorm commented on #7772
Seems like this is because of #7776

[2017-08-17 13:35] jekuno commented on #2268
Providing the mailgun credentials in the RocketChat email settings works

[2017-08-17 14:00] stalley commented on #7776
You can mostly fix this temporarily by putting the below in Layout-> Custom CSS

`.fixed-title h2 {
    width: 100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    flex: 1;
}`

[2017-08-17 14:36] Gobliins commented on #7173
`meteor npm install phantomjs-prebuilt@2.1.13 --ignore-scripts`
fixed it for me.

@inkWave thx.

[2017-08-17 14:47] gregs007 commented on #7776
Confirmed here as well, 0.58.0. Persists on all browsers-- especially evident on mobile browsers

[2017-08-17 15:10] enriquecornago commented on #7774
We are seeing this in the logs, not sure if it is relevant or not:
`[34mI20170817-16:09:19.249(1) [34mMeteor ➔ method UserPresence:online -> userId: null , arguments:  {} `

[2017-08-17 15:11] gregs007 commented on #5446
Still exists in 0.58.0.

Works for Admin group just fine, so might be an issue only with permissions of "room" scope

[2017-08-17 15:14] enriquecornago commented on #7774
and further down... (I had to sanitize userId and username)

` [34mI20170817-16:11:47.741(1) [34mMeteor ➔ publish fullUserData -> userId: XXXXXX , arguments:  { '0': 'name-of-user', '1': 1 }
[34mI20170817-16:11:47.746(1) [34mBaseCache ➔ debug users Falling back _publishCursor to model with query: { username: 'name-of-user' }`

[2017-08-17 15:28] localguru opened #7777 "[Feature] "Logout from other logged in locations" button should be accessible even if "Allow User Profile Change" is set to False"
### Description:

We have disabled

 - ```Allow User Profile Change```
 - ```Allow Username Change```
 - ```Allow Email Change```
 - ```Allow Password Change```

because attributes like ```Name```, ```Username```, ```EMail``` are fully set by SAML/Shibboleth login.

With this configuration(```Allow User Profile Change``` set to False) it's no longer possible to use the ```Logout from other logged

[2017-08-17 16:12] localguru opened #7780 "Accept "Terms of Service" and "Privacy Policy" before login?"
Hi,

is there a way to let a user accept "Terms of Service" and "Privacy Policy" by using a checkbox before login? It's required by law here.

Ciao!

[2017-08-17 16:43] geekgonecrazy commented on #7745
I think it should be treated as an actual login. Especially with some of the other changes in play that increases importance of rest api.

[2017-08-17 17:09] pokapow commented on #7192
Hi,

Some news about this problem ? The script of @gdelavald is ok, but no option in admin page to disable the quote loop, or just disable quote ?

[2017-08-17 19:26] graywolf336 commented on #7262
This has been requested a few more times and will be implemented once a pull request gets merged that is coming up.

[2017-08-17 19:44] geekgonecrazy commented on #6610
We are working on improving this.  Hopefully the changes will land in 0.59.0

[2017-08-17 20:19] arminfelder opened #7783 "Why is there a bcrypt hash involved when using method spotlight"
["{\"msg\":\"method\",\"method\":\"spotlight\",\"params\":[\"max\",[{\"_id\":\"TBf6pmyAFo4Nz6tyx\",\"services\":{\"password\":{\"bcrypt\":\"$2a$10xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"}},\"username\":\"max.mustermann\",\"status\":\"away\",\"active\":true,\"roles\":[\"admin\"],\"name\":\"Max Mustermann\",\"statusConnection\":\"online\",\"utcOffset\":2,\"requirePasswordChange\":false,\"avat

[2017-08-17 21:15] WebSavvyGuy commented on #7192
@pokapow
<img width="1653" alt="screen shot 2017-08-17 at 5 14 41 pm" src="https://user-images.githubusercontent.com/24284360/29434100-aace56cc-836f-11e7-8dc6-bd779d34b0d1.png">

It is located in the Administration panel under Settings > Messages

[2017-08-17 21:47] geekgonecrazy commented on #7409
The crashing reported here should be resolved.  Going ahead and closing.

[2017-08-17 21:47] #7409 closed

[2017-08-17 22:13] graywolf336 commented on #6665
Closing as sending a direct message to someone is a two step process via the real time api:

1. Call `createDirectMessage` as the user who is creating and then passing in the username of the person you want to create a direct message room with.
2. Use the returned room id to then send a direct message.

[2017-08-17 22:13] #6665 closed

[2017-08-17 22:16] graywolf336 commented on #6890
@neurobe That's a good use case for a Rocketlet. :) Do you have a username on our demo/community server (demo.rocket.chat)? As I will probably want to contact you in the near future to ask a few questions about your project is doing and what some possible requirements you might have for the Rocketlets to be able to use them instead of keeping a fork of Rocket.Chat maintained.

[2017-08-17 22:17] graywolf336 commented on #7775
Reopening as this is actually a bug with the current `channels.history` api endpoint, the value is never being returned to the clients.

[2017-08-17 22:23] pokapow commented on #7192
... I'm sorry, maybe I'm stupid but I don't find this setting. Just in message ? Not under an expand menu ?
I'm using 0.57.3 version.

[2017-08-17 23:12] soundstorm commented on #7776
@MartinSchoeler the "Closes" keyword does not trigger a close of the mentioned *multiple* issues when merged. You have to write it down as `Closes #7756, closes #7776, closes #7772` [GitHub Reference](https://help.github.com/articles/closing-issues-using-keywords/)
Otherwise the issues will remain open until manually closing.

 Closing this manually.

[2017-08-17 23:12] #7776 closed

[2017-08-17 23:18] soundstorm opened #7784 "Bug: Click on user opens user sidebar tab"
When clicking on a username, the default is to store the username in a variable and when clicking on the users tab in the sidebar using this to show info about that user.
I'd like to click on a user and see the tab immediately.

The `view all >` could be aligned top left instead of bottom right as it's more a "go back" action.

[2017-08-17 23:23] soundstorm opened #7785 "Bot users without email and password"
Using different bots and users requires an account for each bot-user. This has to have an email and password (you could possibly set any random value) but as bots should not be used to log in, why do they need those values?

[2017-08-17 23:35] WebSavvyGuy commented on #7192
Its above the "Hide User Join Messages"
<img width="1706" alt="screen shot 2017-08-17 at 7 34 41 pm" src="https://user-images.githubusercontent.com/24284360/29438209-2f54f352-8383-11e7-8256-8d764607d61d.png">

[2017-08-18 02:00] zhangsong012 opened #7786 "WebSocket closed:Normal closure code:1000"
I have a problem about SocketRocket  Connenting to Rocket.Chat Server,
Opening Connection... is Normal,but  when I send connect message  seconds  later, the WebSocket auto closed。
I used SocketRocet 0.5.1
*************************************************************************
The log is:
*************************************************************************
2017-08-18 09:34:10.754 [976:17989]

[2017-08-18 03:05] fifou17 commented on #7771
@MartinSchoeler thank you

[2017-08-18 03:19] fengsaofly opened #7787 "Start server failed"
Dear all,
I'm fresh for this project.My server is Ubuntu 14.04.5 LTS.
when I run the command:
` sudo snap install rocketchat-server`
 I got this:

PS:I run my server as a Root.I login snap as a new Ubuntu SSO account.

could anyone do me a favor? thanks in advance.

[2017-08-18 03:40] nitinbhadauria commented on #6535
Same Here, below error on 0.58.0 on Docker with Oplog enabled:

[code]

[2017-08-18 04:57] Gummikavalier commented on #7756
Works now in 0.58.1. Tested Chrome, Firefox and app. Thanks! 👍

[2017-08-18 05:33] wargamesqcf opened #7788 "Favicon alert not there."
### Description:

I am in the default room of general, but I do not have rocket chat focus, it is just a background tab, when some post a message i no longer have an alert update in the favicon of rocketchat's tab saying hey someone posted a message in the room you are in.

Only happened when I updated from 57 to 58

### Server Setup Information:

* Version of Rocket.Chat Server: 58.1
* Operating

[2017-08-18 06:07] simon-doerflinger opened #7789 "Couldn't find Website in Internet Explorer 11.0.43"
Hey everyone,

I have the Problem that my Rocket.Chat Website isn't loading in the Internetexplorer. This only don't work on on Version 11.0.43 in 11.0.44 it's all fine.

I would appreciate any help on this

Thanks in advance

Simon

### Server Setup Information:

* Version of Rocket.Chat Server: 0.57.3
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running

[2017-08-18 06:36] jmordica commented on #658
Following!

[2017-08-18 07:42] mborhade opened #7790 "Audio call not working after sharing screen"
Hi All,

Audio not working after screen sharing, - If user A make audio call to user B and after that user A click on share screen button then user B cant able to here user A.
This issue occurs in https://demo.rocket.chat as well.
Note: My rocket chat site is https (with ssl)

Thanks,
Mangesh

[2017-08-18 07:45] MarPiRK opened #7791 "NextCloud integration"
In our company we use extensively NextCloud as our cloud service and Rocket.Chat to communicate with each other. Sometimes there is need to share some file on chat and what we do is copy link to cloud and paste in chat, but it isn't pretty solution, as Rocket doesn't know what is behind login-wall.

Ways of integration:

1. Create NextCloud app, so that Rocket is available directly from NextCloud

[2017-08-18 07:55] SkinkaCru opened #7792 "RocketChat / RocketChat+ Google / Facebook Mobile O-auth Authentication issues"
Three issues here related to the same subject, oauth authentication through mobile apps

**Google oauth issues  :**

 * You can't connect from the RocketChat mobile app using Google account. You get an error unknown. It's working using the RocketChat+ app.
 * On RocketChat+, it doesn't use your Google mobile account, you have to connect through a web login interface.

**Facebook oauth issue :**

[2017-08-18 08:26] simon-doerflinger commented on #7789
So I set IE back to Default and it worked. I don't know what was wrong but now it's fine

[2017-08-18 08:27] simon-doerflinger commented on #7789
Close #7789

[2017-08-18 08:46] G00mbah commented on #7292
The strange thing is, you do get a visual notification when the chat has ended. Why not when the chat is requested?

[2017-08-18 08:48] zorenleo opened #7794 "Right side bar menu on general channel disappeared when the page width min of 768px"
### Description:

Right side bar menu on general channel disappeared when the page width min of 768px.
<img src="https://image.ibb.co/ifLK1a/ezgif_com_crop.gif">

### Server Setup Information:

* Version of Rocket.Chat Server: 0.58.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 2
* DB Replicaset Oplog: Enabled
* Node Version: v4.8.3