[2016-04-09 04:27] andreas-bulling commented on #2607
+1

[2016-04-09 04:32] andreas-bulling commented on #2822
related to #810

[2016-04-09 04:33] andreas-bulling commented on #2822
related to #810

[2016-04-09 06:08] pavankumarkatakam commented on #2766
Hey its my fault to mention this before, im actually using gitlab built in one not an custom one.

[2016-04-09 06:12] pavankumarkatakam commented on #2766
![selection_001](https://cloud.githubusercontent.com/assets/6078669/14402134/31c44708-fe48-11e5-9c50-6dcb3b805983.png)

[2016-04-09 10:09] lunitic commented on #2655
I just tried this in 0.25 and I cant get it to work.. I have set  my ROOT_URL=https://localhost:3000/chat

Getting the following errors in the console.. The system is a totaly clean install of rocket.chat 0.25

![image](https://cloud.githubusercontent.com/assets/17207375/14403117/cae82cb2-fe4b-11e5-9ae7-35843eeed300.png)

[2016-04-09 11:28] pavankumarkatakam commented on #2319
Its still not working for me Im using the latest one, but getting the another error

[code]

[2016-04-09 11:56] jkdale opened #2823 "Reactions not displaying properly in after upgrade to v25"
We just upgraded from v23 to v25.

Our team loves Rocket Chat and when we saw that emoji reactions we added to v24, it became very important for us to upgrade from v23.

So when I upgraded our server things seems to go OK. There were a couple errors I noticed when launching, but they seemed unrelated:
rocketchat_theme server.coffee:102 rocketchat:theme ➔ stop_rendering 896
{ [Error: variable @mess

[2016-04-09 12:23] griiot commented on #2030
same here  @florian-shellfire (galaxy S6)
it's crazy how it just eats the battery.

[2016-04-09 14:29] ChanningMorris commented on #2816
What version are you on?  I've only played with 0.24 and 0.25, but pretty much everything you've listed there is something I'm doing with it already.

[2016-04-09 18:34] pierreozoux commented on #2200
In the mean time, you can download directly from there: https://github.com/RocketChat/Rocket.Chat.Cordova/releases

I guess it is a better idea to open the issue there.

[2016-04-09 19:40] pandel commented on #2816
I'm on current git version. How do you do it???

[2016-04-09 23:07] Flitterkill commented on #1434
Old bump, might be resolved or discussed elsewhere but I didn't find anything else other than this.

Centos 7, Docker, Nginx Proxy. The default footer images link wouldn't pull in any of the uploaded logos. Pretty much the problem referenced above.

This should be in the docs I guess but the workaround is stunningly easy. After you upload a logo asset  the admin panel immediately provides you with

[2016-04-10 00:09] mrkrumhausen commented on #2170
I get an Internal server error message when I try to login a second time with the same guest e-mail

[2016-04-10 00:13] mrkrumhausen commented on #2480
Would be more helpful to save a cookie or similar so the chat session could continue indefinitely. This is the approach taken by intercom

[2016-04-10 00:20] mrkrumhausen opened #2824 "Leverage guest name in live chat channel title."
Your Rocket.Chat version: 0.25

If guest register his/her name, the live chat channel title should leverage that name.

[2016-04-10 00:27] mrkrumhausen commented on #1864
I'm getting an a _Internal server error_ when registering with previously used user credentials

[2016-04-10 00:37] flantascience commented on #2613
Here's what I've got:

[code]

[2016-04-10 01:07] lochiiconnectivity opened #2825 "Limit @all notifications in large channel"
Your Rocket.Chat version: 0.25.0

Feature to limit  @all notifications in large channels, based on channel size (number of users). PR incoming...

[2016-04-10 01:15] Laisky opened #2827 "Why not display the "name" rather than "username" in Channels"
Your Rocket.Chat version: v0.25

There are two names in account profile:

  - `username`: be used to login. In my case they are synchronize from ldap account.
  - `name`: should be used to display, let another people know who you are.

![rocket](https://cloud.githubusercontent.com/assets/4532436/14407442/c223d120-fefb-11e5-87c7-a6e4bdecf2cf.jpg)

But name do not display in channel.

![srceen_shot

[2016-04-10 05:53] lunitic commented on #2655
ping @rodrigok does not seem to work...

[2016-04-10 08:58] vaggosifa commented on #2784
Full end to end encryption everywhere in group chats and direct chats.Something like Telegram's encryption.

[2016-04-10 09:37] oott123 commented on #2827
+1 for "name".

It's important when you have many non-english speaking users.

[2016-04-10 10:54] lunitic commented on #2827
I rather have the username showed. since the usernames are unique.. Names are not.. How do you tag a person with when there are multiple persons with the same name?

[2016-04-10 11:25] lunitic commented on #2378
@bott0r i have it rather in the message "flow" . Don't think is good from a user experience to need to open up a user list and have to search for the persons name to see what kind of user it is.

[2016-04-10 11:29] lunitic commented on #2378
Also colors are already used in username list.  Color depends on status.

[2016-04-10 11:37] oott123 commented on #2827
Normally we need two names, one for identify the speaker and another for friendly purpose. Otherwise, you shall not design the field 'name' since it's ambiguous. You allow the user to set their 'name', yet it can be seen nowhere but his very profile. Isn't it strange?

I think showing "Name" may be a good idea, optionally followed by a "@username".

[2016-04-10 11:38] Laisky commented on #2827
Nobody will use same "nicknames" in one group(or one channel), so you absolutely can distinguish people by their `name`.

By the way, many people will use an unusual `username` to avoid duplication of account, so it's much more difficult to identify people by their `username`.

[2016-04-10 11:49] lunitic commented on #2827
@Laisky It depends on how many users you have. For small deployment you are right,  but when it comes  to large deployment I Forse the name will problem.  If this is changed by RC make it as an option.  Since it change the user experience.

[2016-04-10 13:00] rodrigok commented on #2655
@lunitic can you test with our latest develop version?

[2016-04-10 13:15] engelgabriel commented on #2827
Hi guys, this is a duplicate of #324

[2016-04-10 13:15] #2827 closed

[2016-04-10 13:19] engelgabriel commented on #2655
@lunitic you can't use `https` unless you have a reverse proxy on your setup.

[2016-04-10 13:20] Laisky commented on #324
👍I really need this.

[2016-04-10 13:25] lunitic commented on #2655
I stripped down the nginx configuration to minimal...  and still i get the sock.js error

`server {
    listen 82;
    server_name www.example.com;
    error_log /var/log/nginx/rocketchat.access.log;

    location / {
        proxy_pass http://www.example.com/;

    }

     location /chat/ {
        proxy_pass http://localhost:3000/chat/;

    }

}`

[2016-04-10 13:26] rodrigok commented on #2613
@flantascience seems that your problem is the `Enrollment Email` empty, can you try with some HTML?

[2016-04-10 13:29] engelgabriel commented on #2655
it is in the wrong order... the first `location` will catch the request.

You can't use `ROOT_URL=https://localhost:3000/chat`

The `HTTPS` only exists in your port `82`

So you can either have

`ROOT_URL=http://localhost:3000/chat`

or

`ROOT_URL=https://localhost:82/chat`

[2016-04-10 13:33] lunitic commented on #2655
@engelgabriel Will make totally new files for testing and comeback.. Pretty sure i tested every single combinations..

[2016-04-10 14:16] engelgabriel commented on #2613
@rodrigok should we test for this?

[2016-04-10 14:29] #2825 closed

[2016-04-10 14:36] #2801 closed

[2016-04-10 14:51] lunitic commented on #2655
@engelgabriel My problem seems to be with NGINX and not the RC:. If i takeaway the NGINX then everyworks.. Must be something with the location parameters.. I just disable the nginx front end and then www.domain.com/chat works..

[2016-04-10 15:03] engelgabriel commented on #2319
Have you compiled your own mobile clients as well? They also need to be build with your own ID

[2016-04-10 17:24] WhiteHatTux commented on #1548
Thanks @rodrigok Works like a charm.

[2016-04-10 17:58] #1548 closed

[2016-04-10 18:02] engelgabriel commented on #2766
It is working on the develop branch, and will be release tomorrow on version 0.26.0

[2016-04-10 19:32] muke5hy opened #2828 "Server stopped working after adding value into Amazon S3 acl"
Your Rocket.Chat version: (make sure you are running the latest)
I added wrong acl info mistakenly in the `Amazon S3 acl` since then app has stopped working I'm getting following error in log

[code]

How do I rectify it, Can I change value directly in mongo if yes how?

[2016-04-10 21:01] Flitterkill opened #2829 "Add Block Message Deleting After (n) Minutes option"
We already have that option for editing messages:

`Block Message Editing After (n) Minutes`

Adding the same option for deleting messages would be welcome as well.

[2016-04-10 23:34] dvmorris opened #2830 "Error deploying to Heroku"
I just tried using the one click Heroku deployment (https://heroku.com/deploy?template=https://github.com/RocketChat/Rocket.Chat/tree/master), and I received the following error:

[code]

[2016-04-11 01:08] Flitterkill commented on #2829
Beautiful. Thanks!

[2016-04-11 02:02] pavankumarkatakam commented on #2319
I didn't understand building with own ID. please explain ,,,,I'm using the app in play store and added my server address

[2016-04-11 02:03] pavankumarkatakam commented on #2766
ok

[2016-04-11 02:06] engelgabriel commented on #2319
If you are using our mobile app form the play store, the only way to make push notifications work, is using the pre-configured gateway.

[2016-04-11 02:06] #2319 closed

[2016-04-11 04:12] graywolf336 commented on #1861
@RichardFoxworthy That's a whole other issue and not really related to this issue, mind creating a new one if there isn't another out there for that? Thanks!

[2016-04-11 04:15] graywolf336 commented on #2013
@barnardm How's the pull request coming along?

[2016-04-11 05:44] rogerpfaff commented on #1607
To repurpose the issue I would like to mention all those people lacking in visual ability by age alone.

The visibiliy on a smartphone below 5 inch is really poor in standard settings and to convince my coworkers with glasses in different forms and shapes it would be a selling point to direct them to the settings page for better readability.

I'm sure any work done into this issue will be worth a

[2016-04-11 07:10] nobeans commented on #2646
I'm facing the same problem.

The internal value `__meteor_runtime_config__.ROOT_URL` re-assigned by Rocket.Chat seems wrong.
If you give `ROOT_URL=http://my-domain/foo/bar`, `__meteor_runtime_config__.ROOT_URL` should be `http://my-domain/foo/bar` and `__meteor_runtime_config__.ROOT_URL_PATH_PREFIX` should be `/foo/bar`. But currently `http://my-domain` is set to `__meteor_runtime_config__.ROOT_U

[2016-04-11 07:12] rhysxevans opened #2831 "User Directory"
Your Rocket.Chat version: 0.24.0

Hi

The ability to have a user directory would be great. So instead of having to search the user user list we could just select the user name. This may give more details about the user if hovering over the name, potentially listing the email address etc

We have some people who's names are spelt a bit oddly and or the user name may not match the actual users name

[2016-04-11 07:15] rhysxevans opened #2832 "Unread Rooms/Channels list order"
Your Rocket.Chat version: 0.24.0

Hi

Is there away we could make unread channels/rooms move to the top of the lists ? so if we have 20 channels and they all don't fit into the scroll-able screen the currently "active" ones always appear at the top of their respective sections.

I hope that makes sense

Thanks

[2016-04-11 09:33] bott0r commented on #324
maybe a compromise along these lines
![capture](https://cloud.githubusercontent.com/assets/17119942/14422778/c2cfbf52-ffd8-11e5-8681-2991a109785d.JPG)

IMHO: A decent way would be to have an extensive customization panel in the admin section and a simple user customization tab, where the individual user can change some things.
As discussed https://github.com/RocketChat/Rocket.Chat/pull/1377

[2016-04-11 10:00] muke5hy commented on #2828
I got temporary fix to this problem by removing entry from settings collection, removed ```FileUpload_S3_Acl``` _id

[2016-04-11 10:48] denisfadeev opened #2833 "Link previews are not removed when the link is edited out"
When I edit my sent message and remove a link from it, the link preview stays in the chat.
Mac App Version 1.3.1 (15)

[2016-04-11 11:11] cbajohr opened #2834 "Allow to clear channel history manually und timed"
Your Rocket.Chat version: 0.25.0

Like Hipchat, it should be possible for administrators to clear the history of a channel and/or to set an optional and relative time limit for keeping messages, like 1 month.

[2016-04-11 11:16] cbajohr commented on #2832
There's an option for that in your personal user config "unread rooms mode"

[2016-04-11 11:22] rhysxevans commented on #2832
Perfect, will let my users know

thanks for your help

[2016-04-11 12:26] engelgabriel commented on #2832
Thanks @cbajohr, and I hope it is what you need @rhysxevans

[2016-04-11 12:26] #2832 closed

[2016-04-11 12:46] ChanningMorris commented on #2816
In our LDAP, the unique key is employee number which is in our LDAP as sAMAccountName, but employee number is virtually useless to anyone besides that employee.  It's only used for login.

So in the LDAP settings, I have sAMAccountName for "Domain Search User ID".  For the LDAP setting "Username Field", I have #{givenName}.#{lastName} - this generates everyone's user name (the one displayed in cha

[2016-04-11 12:53] pandel commented on #2816
Wow! Many thanks! I did not know that something like "#{givenName}.#{lastName}" is possible. Is there some kind of documentation somewhere, where I can see how to build these field combinations?

[2016-04-11 12:54] ChanningMorris commented on #2816
Honestly, I only know you can do that because right under the text box for the "Username Field" setting it says

Which field will be used as *username* for new users. Leave empty to use the username informed on longin page.
You can use template tags too, like `#{givenName}.#{sn}`.
Default value is `sAMAccountName`.

[2016-04-11 12:57] pandel commented on #2816
Ah ok! My german translation doesn't include these information.

Right at the moment I tried the following, but it doesn't work:

{#{givenName}.#{sn}:"name", "mail":"email"}

How did you write the field content exactly?

[2016-04-11 13:02] ChanningMorris commented on #2816
I believe the syntax is just #{ldapFieldName} with whatever punctuation you want around it.

So if you want the LDAP field "givenName" and the LDAP field "sn", it would just be "#{givenName}.#{sn}" and you can replace the "." between them with whatever you wish.

[2016-04-11 13:03] pandel commented on #2816
Yes, thanks! As I thought, this is only possible in the username field, but not valid for the user data mapping field.

[2016-04-11 13:04] pescobar commented on #2785
this was working in previous versions but since version 0.25.0 I have also noticed that autocomplete stopped working on "name" and only matches "username"

it would be nice to get the previous behaviour back when autocomplete works for bot "name" and "username"

[2016-04-11 13:05] ChanningMorris commented on #2816
If it helps, here's the "User Data Field Map" help text:

Configure how user account fields (like email) are populated from a record in LDAP (once found).
As an example, `{"cn":"name", "mail":"email"}` will choose a person's human readable name from the cn attribute, and their email from the mail attribute.
Available fields include `name`, and `email`.

[2016-04-11 13:08] pandel commented on #2816
Thanks again!

What I did not know is that the username you actually use for the login page is somewhat different from the _username field_. So what I did now was to configure sAMAccountName for login user search and #{givenName}.#{sn} for the _username field_!

Works absolutely great! Many thanks for pushing me in thew right direction!

[2016-04-11 13:08] #2816 closed

[2016-04-11 13:12] prohde commented on #2834
+1

[2016-04-11 13:59] flashguy22 opened #2835 "Microsoft Botframework Integration"
Hey guys, any current plans to get integrated into Microsofts new Bot Framework? I just wrote my first Bot there and there is a Slack integration but unfortunately no custom oauth option. Maybe you should get in contact?

[2016-04-11 14:06] tanc commented on #1728
Just bringing this one back up @engelgabriel and hoping you can help? I've just realised that it would be great to be able to paste in gitlab commits and have the diff show in rocket.chat. Any way of achieving this with the current webhooks?

[2016-04-11 14:29] engelgabriel commented on #1728
You can parse the payload in anyway you like, how would you display the diff if it was a big commit? Do you have a design in mind? Or using the right tabs?

[2016-04-11 14:32] tanc commented on #1728
To be honest I hadn't thought it through, I was just wondering how the outbound hooks work really. My original request was to be able to show a preview of the Taiga issue when someone pastes a link to it in the chat. You said you'd help once outbound hooks had landed so I thought I'd bring this back up again!

[2016-04-11 14:47] engelgabriel opened #2837 "Add integration name to error log"

[2016-04-11 14:51] engelgabriel opened #2838 "Send direct message from Rocket.Cat to the admins on server error"
This should be configurable on the log section of the admin panel, allowing turn  on/off and to specify users or rooms.

[2016-04-11 15:02] flashguy22 commented on #2835
Maybe something like this could get us going: https://github.com/wballard/botbuilder-hipchat

[2016-04-11 17:01] lvh1 commented on #2813
The same happens when scrolling up by clicking your mouse wheel and dragging down. Each time more messages are loaded, it scrolls back to the bottom.

[2016-04-11 19:02] ulope opened #2839 "Don't send offline email notifications if push messages are working"
Your Rocket.Chat version: 0.25.0

It would be great if the "offline email notifications" would only be sent if (mobile) push notifications are not getting through to the user.

As it is now I get two notifications for every message on my smartphone: one push from RC and one email.

[2016-04-11 19:19] Mad-Onion commented on #1209
This feature is very important for us too.

[2016-04-11 21:16] genesplicer commented on #2613
First of all, this is a fantastic webapp! Thanks devs!

I have the same issue. I get the "Internal server error" while trying to register new users and also cannot send verification emails. I get "Error sending confirmation email" while trying to "Resend confirmation email". I have tried all possible solutions. Our site is deployed on "Ubuntu 14.04 without docker" and integrated with CAS.

<code>

[2016-04-11 21:44] engelgabriel commented on #2312
What SMTP settings are you using?

[2016-04-11 21:52] engelgabriel commented on #2613
Have you done this? https://support.google.com/accounts/answer/6010255?hl=en

[2016-04-11 21:53] engelgabriel commented on #2613
Se allo:
GMail starts to block less secure apps: how to enable access again
http://www.ghacks.net/2014/07/21/gmail-starts-block-less-secure-apps-enable-access/

[2016-04-11 22:18] engelgabriel commented on #2746
Thanks for the info @Lochemage

[2016-04-11 22:30] engelgabriel commented on #2757
Can you please test it again with the version release today?

[2016-04-11 22:35] flantascience commented on #2613
@rodrigok rodrigok  Would this just be adding [email] to designate it goes to someone's email address.... or would I be adding an actual message.  It seems like "Enrollment" means a Welcome Message of sorts.  But it's located in this 'Invitation' section.

[2016-04-11 22:44] #2584 closed

[2016-04-11 23:48] genesplicer commented on #2613
@engelgabriel I actually allowed "less secure" access to the gmail account and following the conversation in the ticket, I have some message in the enrollment section. I still get the "Internal server error"

![capture](https://cloud.githubusercontent.com/assets/18407318/14445841/f9153de8-0015-11e6-8f85-cc37b2df3c6d.PNG)

[2016-04-12 00:10] henryk opened #2841 "E-mail address validation regex for ADMIN_EMAIL in initialData is wrong"
Your Rocket.Chat version: 0.25.0.

# Steps to reproduce
1. Try to create an initial admin with any of a number of uncommon, but valid e-mail address syntaxes. E.g.
[code]
(Note: I'm using `mydomain.example` to prevent spam-harvestable e-mail addresses here. In reality I've been using an actual domain name.)

# Actual results
[code]

# Expected results

Should have used the e-mail address I have pr

[2016-04-12 03:22] dvmorris opened #2843 "Calendar Plugin"
Is there a calendar plugin for Rocket.Chat?

I'm looking for something akin to what GroupMe supports (http://blog.groupme.com/post/110564177859/introducing-calendar-we-are-thrilled-to-announce), or Glip (https://glip.zendesk.com/hc/en-us/articles/202321744-Calendar-App)

[2016-04-12 04:58] nobeans commented on #2646
It works well for me so far, though I'm not sure whether MOBILE_ROOT_URL, MOBILE_DDP_URL, etc. should be changed.
https://github.com/nobeans/Rocket.Chat/commit/25fd75375630d15a6d478702147403a2aad61e08

[2016-04-12 05:02] nobeans commented on #2646
`.sandstorm-credentials`, _`timesync` and `tap-i18n/ja.json` are still on the wrong root path like `http://my-domain/.sandstorm-credentials` instead of `http://my-domain/foo/bar.sandstorm-credentials`.

This is my workaround using reverse-proxy:
[code]

[2016-04-12 05:45] bott0r commented on #2378
I am all for a message display customization panel.

[2016-04-12 07:39] hvma commented on #1112
+1 for threads. implement and you will get higherED institutions on board - hurry before they give in to Slack or Mattermost :)

[2016-04-12 07:42] corecache opened #2844 "Add version number as GIT Tags"
Your Rocket.Chat version: any

Can we please add GIT tags with the version number referencing the version bump commits?
e.g:
* 0.26.0 --> 8852ca36cd0618469d96f6eb6fa1f6ab1fff2c97
* 0.25.0 --> ec9aa61ee3d31408f91346ae916dca0076e97d85
* 0.24.0 --> a530b1a07ced62f954f690c6238b7c8904f4265a
* ...

[2016-04-12 07:43] corecache commented on #2844
Ahh ... pull/fetch was missing "--tags" ... silly me - can be closed

[2016-04-12 07:47] hvma commented on #1615
+1

[2016-04-12 07:47] rkje commented on #1615
+1

[2016-04-12 07:48] hvma commented on #1325
+1

[2016-04-12 09:22] synotna commented on #2195
Tested with 0.26.0, still not working, sorry!

[2016-04-12 10:06] giray opened #2845 "Feature: Status Message"
Your Rocket.Chat version: 0.26.0

Would be nice if it would be possible to add a status message, definable by the user.  Allow
users to set what they are working on .... why they are "Busy" or where they are working from
(home, office 1 , office 2...)

[2016-04-12 11:56] marceloschmidt commented on #1808
Can you please try with the latest version? Thanks.

[2016-04-12 12:31] andreas-bulling commented on #2718
The user has - still doesn't work...

[2016-04-12 12:39] #1061 closed

[2016-04-12 12:42] engelgabriel commented on #2845
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/2422

[2016-04-12 12:42] #2845 closed

[2016-04-12 12:50] engelgabriel commented on #2841
Can you submit a PR for that?

[2016-04-12 12:58] engelgabriel commented on #2834
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/1861
Related to https://github.com/RocketChat/Rocket.Chat/issues/2196

[2016-04-12 12:58] #2834 closed

[2016-04-12 13:46] punkrock opened #2847 "Show all @all-messages of a channel"
Is it possible to have an show all @all-messages of a channel? This would be much helpful to catch important messages.

[2016-04-12 13:53] graywolf336 commented on #2847
Do they show up in the mentions tab on the right hand side?

On Tue, Apr 12, 2016, 8:46 AM punkrock <notifications@github.com> wrote:

[2016-04-12 14:02] punkrock commented on #2847
Nope, unfortunately not.

[2016-04-12 14:05] graywolf336 commented on #2847
Do you think that would be a good enough place to put them?

On Tue, Apr 12, 2016, 9:02 AM punkrock <notifications@github.com> wrote:

[2016-04-12 14:15] punkrock commented on #2847
Hmm, not really. But a seperate button seems to me too much. Maybe as a link on the top within the slide-window which opens, if you click on the mentions-button. S.th. like "Show all mentions" (including the @all's) and beside this link "Show only @all's". That would be very cool.

[2016-04-12 14:24] edwardmuel opened #2848 "Message Timestamps - Improvement"
Your Rocket.Chat version: 0.25.0 (36f23ce4528a302cc927c8bfc4166ce875202b46)

Messages grouped within a specific time period have no timestamps visible to the user (other than the first message in the group)
When looking through message history, how is a user supposed to know exactly when a specific message was sent?
Slack shows timestamps for grouped messages when hovering over the message. Slack

[2016-04-12 14:24] punkrock commented on #2535
We are using 0.25.0 and I've still problems, using OTR. If I start an OTR-conversation with an user who is online, I only get timeouts. In some cases he could accept the conversation and wrote encrypted messages to me, but I couldn't read them, because I only get timeouts. And some requests about starting an OTR-conversation end up in nirvana, means my chat partner doesn't even see the request bec

[2016-04-12 14:26] edwardmuel opened #2849 "Message Edit Information - Disappears on Sequential Messages"
Your Rocket.Chat version: 0.25.0 (36f23ce4528a302cc927c8bfc4166ce875202b46)

Timestamps are displayed when hovering over the "edited by user" text using a span title.
When a message in a message group is edited, the message timestamp cannot be viewed. Instead, when the message is hovered over, the edit information disappears.

![image](https://cloud.githubusercontent.com/assets/15653318/14463413/7

[2016-04-12 14:39] engelgabriel commented on #2822
I believe this is now fixed as mentioned above. Please reopen otherwise.

[2016-04-12 14:39] #2822 closed

[2016-04-12 14:41] pescobar commented on #2785
is there any plan to get this feature back?

[2016-04-12 14:42] engelgabriel commented on #2849
We have hidden ir because of the space is not always enough for the information in all languages.
Since sequential messages are only grouped in a 5 minutes timeframe, we thought that this is not a big deal. We welcome design suggestions to fix this problem

[2016-04-12 14:46] edwardmuel commented on #2849
Would adding another button to the cog menu for displaying the information be a good solution?

[2016-04-12 14:48] engelgabriel commented on #2849
Thats our idea too. We just haven't done because the priority for this is currently low.

[2016-04-12 14:49] IQ2022 opened #2850 "Chat Admin App"
People may choose to run thier app on any server, AWS, digital ocean, local servers etc.. would it be possible to have an admin interface dashboard to enable loading new APP builds or rolling back, access to DB to manage?  this is really useful for quick solution and specially if you have issue running command lines..

Heroku has this feature

![image](https://cloud.githubusercontent.com/assets/12

[2016-04-12 15:22] #2746 closed

[2016-04-12 15:28] rockneverdies55 commented on #404
[Let's Chat](https://github.com/sdelements/lets-chat) has already integrated xmpp xupport. So I don't think it's too hard to have it in the core.

[2016-04-12 15:50] engelgabriel commented on #2850
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/2618

[2016-04-12 15:50] #2850 closed

[2016-04-12 15:54] IQ2022 commented on #2618
I ran into an issue today with Heroku chat upgrade to new Release, and with one click was able to roll back from the admin interface, also was able to download mongodb DB - backup.. separate UI instance to manage the build would be really good..

[2016-04-12 16:23] #2844 closed

[2016-04-12 16:59] #2708 closed

[2016-04-12 19:49] sampaiodiego commented on #2678
I can't reproduce :disappointed:

@netdevfighter can you please update your rocket.chat and see if it still happens?

[2016-04-12 20:48] fduraibi commented on #1934
Fixed :+1:

[2016-04-12 20:48] #1934 closed

[2016-04-12 20:50] shtefcs opened #2856 "Mark as Unread"
I think this feature will come really handy.

I find myself multiple times where I read message, but forget to replay. If I don't put it as unread, its gone, and probably missing to replay to person.

What you think ?

[2016-04-12 20:54] twhiting opened #2857 "New permission request to restrict users from viewing other channels"
Your Rocket.Chat version: 0.26.0

Hey guys, we have a pretty important feature request / bug here (for us and how we use rocketchat).  We use rocket.chat to talk to some of our privileged customers.  We do this by creating a "customer" role and setting a user to that role.  The only permission we allow them is the "view c-room" permission:
![settings](https://cloud.githubusercontent.com/assets/107

[2016-04-12 21:35] lvh1 commented on #2847
In the meantime you could use the search function to search for `mention:all`

[2016-04-12 21:54] dandv commented on #271
Sorry @Sing-Li, missed the notifications because of the typo in "@danv". Great to see the progress!

[2016-04-13 00:17] #2378 closed

[2016-04-13 02:02] mylesw-luma commented on #2127
+1 This seems like an oversight to not have

[2016-04-13 02:45] mylesw-luma commented on #2127
This seems to be fixed in 0.26

[2016-04-13 03:04] flantascience commented on #2613
What is the relevance of the Gmail in this case?  I believe I'm using
mailgun...

On Mon, Apr 11, 2016 at 4:49 PM, genesplicer <notifications@github.com>
wrote:

[2016-04-13 03:55] liqiaoneng opened #2860 "Error deploying to centos6.5"
Your Rocket.Chat version: (make sure you are running the latest)
`[root@bogon Rocket.Chat]# node main.js
{ [MongoError: text search not enabled] stack: [Getter] }
Updating process.env.MAIL_URL
ufs: store created at

/root/Rocket.Chat/programs/server/node_modules/fibers/future.js:278
						throw(ex);
						      ^
MongoError: Mod on _id not allowed
    at Object.Future.wait (/root/Rocket.Chat/progr

[2016-04-13 04:48] dangkiena3 commented on #2655
I use a nginx Reverse Proxy and add Rocket Chat server like:

`location /chat {
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_redirect   off;
            proxy_pass       http://10.0.25.137:3000;
        }
`

But when I access https://mydomain.com/chat, a white screen appear:

Please help me.

Thank you!

[2016-04-13 05:11] mickeyclausen commented on #2802
+1

[2016-04-13 05:12] mickeyclausen commented on #2588
+1

[2016-04-13 06:16] JackDragon opened #2861 "Default Room"
Your Rocket.Chat version: 0.26.0

There should be an option to make a room the default room instead of the welcome screen.

This is an alternative option to #1746. It can also coexist along with #1746 if we make it so that, if no default room is selected, Rocket.Chat will automatically load the last room the user was at before the user closed the application.

[2016-04-13 08:26] netdevfighter commented on #2678
Yes, I have already the latest rocket version of this week. But the problem still exists.

You can see the null value on the usernames property:

`001-rs:PRIMARY> db.rocketchat_room.find( { _id : "GENERAL" })`
`{ "_id" : "GENERAL", "ts" : ISODate("2016-03-18T22:39:31.545Z"), "t" : "c", "name" : "helpdesk", "usernames" : [ "jboehler", "arunk", "hubot", null, "tlindenmann", "khirschfeld", "ddraper"

[2016-04-13 09:44] lunitic opened #2862 "Username is not trimmed on login page"
Your Rocket.Chat version: 0.25

If I try to login with "lunitic@example.com " with a space in the end ..
RC will give wrong username password.

If i remove the space it works. The space needs to be trimmed away.

Very annoying since most phones have auto add space.

[2016-04-13 10:00] samhocevar commented on #1990
This is tagged security, but there is no description of the bug. How does this affect users?

[2016-04-13 10:53] buhino opened #2863 "Guess chat"
Hi, good morning. Im testing rocket chat in my company and i have a question. It's possible to create a private channel with clients that dont need to register in the server??. We want to have in one hand the company chat and in the other hand the chat with the clients (without password).

Is possible?? You can say to me other alternatives to do this. One user in the demo chat suggest me https://g

[2016-04-13 10:55] SimonSarazin commented on #2807
We have exactly the same issue on the rocket.chat we installed for the nuitdebout mouvement in France (http://chat.nuitdebout.fr)

[2016-04-13 11:16] bott0r commented on #2863
The live chat implementation does something like that.

[2016-04-13 12:30] buhino commented on #2863
I have a docker-compose implementation with the rocketchat/rocket.chat:latest image. Reading the docs of live chat appears this "Livechat package is only on develop builds at the moment" in
https://rocket.chat/docs/master/server-management-livechat . In the latest image appears the feature of live chat but dont works. Should I throw the containers with the rocketchat/rocket.chat:develop image?? An

[2016-04-13 13:10] ChanningMorris commented on #2807
Upgraded our install to 0.26 last night and the issue is still present.

[2016-04-13 13:22] engelgabriel commented on #1990
If you have a web service running on the same machine as Rocket.Chat, that does't have password, and a user sends a message with a URL like https://localhost:3000 the system will do a HTTP GET on that address and display the title of the response.

[2016-04-13 13:30] Sing-Li commented on #1990
👍    or for the security researcher types ....

vulnerability :   bot port scanner against the underlying server or virtualization host

[2016-04-13 13:37] engelgabriel commented on #2860
What version of NodeJS are you using? Meteor only runs on 0.10 still.

[2016-04-13 14:13] goobersmooch opened #2867 "Offline Email Notifications - Add option to only notify user and not email the contents of the message."
Rocket.Chat version: 0.26.0

Our organization is looking into using rocketchat as an internal communication tool. Some of the direct messages to users may contain confidential information. If a user is offline and receives a direct message containing confidential information, the email that gets sent to the user contains the contents of the message. It would be really helpful to have an option to

[2016-04-13 14:22] sampaiodiego commented on #2678
@netdevfighter I couldn't reproduce the `null` value using the system.

anyway, I put a `null` value directly in the database and the empty line did not show to me.

[2016-04-13 14:49] netdevfighter commented on #2678
Ok, I understand that's not easy to find out.

This is the html snippet of the user list:
`<ul class="list clearfix lines">

							<li class="user-image user-card-room status-online">
								<a data-username="tlindenmann" tabindex="0" title="tlindenmann">
									<div class="avatar">
		<div class="avatar-image" style="background-image:url(/avatar/tlindenmann.jpg?_dc=0);"></div>
	</div>

[2016-04-13 17:07] lvh1 commented on #2863
That's not true, it now ships with the normal image since a couple of months. All you need to do is activate it on the /admin/Livechat page

[2016-04-13 17:44] twhiting commented on #2857
I found a solution for us.  Instead of adding our customers into public channels we simply moved them over to private channels instead.  Setting our customer role to _view-p-room_ only allows a customer to see channels they are apart of and nothing else.

I'm not going to close this issue though because I think that permission may still be useful, I'll leave that up to you guys though.

[2016-04-13 18:39] gt50 opened #2869 "Admin ability to view history for all channels, direct messages and private channels"
Your Rocket.Chat version: 0.26.0

I would like to be able to view  all conversations that have occurred on the RocketChat server. I would like to use it in an work environment. There is no expectation of privacy and the information would be accessed when needed for auditing purposes.

I imagine this either being added to the history area, or allowing an admin to view a room, or add themselves to a

[2016-04-13 20:08] netdevfighter commented on #2678
I could not also longer reproduce the behavior.

If it occurs again, I will open this ticket again.

Thanks

[2016-04-13 20:08] #2678 closed

[2016-04-13 20:11] schnutz commented on #2860
The MongoDB Version is too old and causing the error. You have to Update MongoDB then it should work.

[2016-04-13 20:46] engelgabriel commented on #2860
OK, please reopen if the problem persists.

[2016-04-13 20:46] #2860 closed

[2016-04-13 20:46] engelgabriel commented on #2678
Thanks @netdevfighter

[2016-04-13 20:51] mccambridge commented on #533
Just for clarification (I'm a little confused): 1. How far along is the R.C side of this issue, and 2. How far along is Meteor towards implementing Postgres/RDBMS? Thanks!

[2016-04-13 20:58] jclabaugh commented on #2707
put a little thought into this and propose initially something between what R.C has now and what Slack has, there is a happy 'middle-ground'

Do Not Disturb

- ability to mute all notifications (desktop, push/mobile, email, audio) at the application level and/or the individual channel level (public, private, DM)
- Like Slack, provide a simple one-click icon near user's name to mute/un-mute notific

[2016-04-13 21:26] lucasvanhalst opened #2872 "Exception when editing a message that hasn't been received by the server yet"
So basically to reproduce this edge case:
- Have slow internet (or set it to something really slow in dev tools) or have the server be slow due to it being overloaded
- Send a message
- Edit it (using the arrow-up shortcut) while it's not been send yet (aka it is displayed gray-ish)
- The following error will occur:

rocketchat_1 | Exception while invoking method 'sendMessage' MongoError: E11000 d

[2016-04-13 21:32] #1319 closed

[2016-04-13 21:32] #2701 closed

[2016-04-14 01:13] geekgonecrazy commented on #2791
This should be fixed with the latest release.  Let us know if not.

[2016-04-14 01:13] #2791 closed

[2016-04-14 01:20] Sing-Li commented on #533
I can provide some info on item 2.

Meteor will start to support Postgresql (and RDBMS in general) with the apollo project.  The team is in place.  Find out about the project here:

https://www.youtube.com/watch?v=fLjtFHgSrSI

And here:

https://github.com/apollostack/apollo

You can track the progress of apollo in the Meteor forums (https://forums.meteor.com/), and through release announcements.

[2016-04-14 01:46] wrought opened #2873 "Make Hashtags"
version: latest

It would be great if users could create hashtags. Everybody else is doing it, so users I've communicated with get confused about the `#channel` features because they expect those to be hashtags.

[2016-04-14 01:47] watermelonjuice opened #2874 "User is asked in mobile client to install a desktop extension when selecting screen sharing"
Your Rocket.Chat version: demo site
The user is asked in mobile client to install a desktop extension when selecting screen sharing in video chat.

[2016-04-14 01:49] watermelonjuice opened #2875 "Video keeps recording after video chat ended"
Your Rocket.Chat version: Demo
Browser: Chrome

The video keeps recording after I have ended the video chat. A page reload is needed to stop the recording.

[2016-04-14 02:02] dangkiena3 opened #2876 "Running Rocket Chat from sub directory behind nginx reverse proxy (nginx in another server)"
Nothing to comment. How to delete it?

[2016-04-14 02:32] Sing-Li commented on #271
@tvid  and   @dandv   -  today's update by @geekgonecrazy added a `<rocketchat-connection>` web component and enables login to an actual Rocket.Chat server and fetches messages into a list !!

https://github.com/RocketChat/Rocket.Chat.PWA/blob/develop/README.md

Obviously still very early stage yet, but it will improve.   Please feel free to play and PR 😃

[2016-04-14 06:48] Dutzu opened #2877 "File Upload API"
Your Rocket.Chat version: 0.26.0

It would be great to be able to upload files via the rest API or directly via the webhooks.

In the end what i would like to be able to do is to use Webhooks to push an image and then push a message that uses that image inside of the message body via the attachment image_url.

So either a way that you can have webhooks that accept certain mime_types and a binary p

[2016-04-14 07:07] javaning opened #2878 "have the ability of "send or share to the specified channel" manually ?"
Your Rocket.Chat version: (0.25.0)

when i find some resources interesting (useful), so I want share to my team ...   like fb feed dialog

if not, is there a plan on this feature ?

thanks

[2016-04-14 07:17] flashguy22 commented on #2835
Also an integration of wit.ai Bot Engine would be awesome. Maybe this can be done via hubot?
https://wit.ai/blog/2016/04/12/bot-engine

[2016-04-14 07:30] bechlin opened #2879 "Its not possible to find the room id (rid) from the Api which is needed for most of the api calls"
Your Rocket.Chat version: 0.25.0

With reference to this...

https://rocket.chat/docs/master/developer-guides-4-rest-api

It explains how to login and get a list of public rooms with these end points...

http://localhost:3000/api/login
http://localhost:3000/api/publicRooms

Then the api doc explains that in the subsequent calls you need to start using a rid (room id) in the end point urls..

http:

[2016-04-14 07:31] tvld commented on #271
I must say, I was already considering floating away from Rocket Chat, being too Meteor centric e.g. build times,  convoluted. But now I feel you guys are pulling me back :)

I am not experienced enough yet with this technology to see where you aim to be going with this. Could you explain what it is that you try to achieve? Just proof of technology? Full production solution? ... ?

[2016-04-14 07:42] jhiswin opened #2880 "Windows Firewall blocking Conferencing without errors"
Your Rocket.Chat version: (make sure you are running the latest)
//demo.rocket.chat

I've had this replicated on a couple new computers (in China).
Most likely due to 360safe enforcing strict firewall rules.

No errors are shown, and no incoming conferencing requests pop up.
If you initiate a group conference, you only see yourself and nobody else can connect to you (although others will see the r

[2016-04-14 08:11] Sing-Li commented on #271
@tvid -  Please see my answer to same question two posts back.

[2016-04-14 08:18] bott0r opened #2881 "Display of Messages"
I'd like to see a user field under preferences where you can stylize the message display! maybe someone could achieve something along the lines of the posted screenshots!
Where:
![defaultmessagecustomization](https://cloud.githubusercontent.com/assets/17119942/14521553/14ae8684-022a-11e6-8ec1-0e35dcea3924.JPG)
Leads to:
![defaultmsg](https://cloud.githubusercontent.com/assets/17119942/14521557/177

[2016-04-14 08:25] tvld commented on #271
yes, ok, but you wrote "more details to come" ... so I was thinking you already could give some. Then sorry, my bad.

[2016-04-14 08:42] Sing-Li commented on #271
Ah.  Sorry for the logistics delay.  Yes, we're currently waiting for our special project partner to complete their project website (and give it a name) before publicizing it further.

[2016-04-14 08:51] michieriffic opened #2882 "One-click Deploy Issue on Heroku, wrong environment key name MONGODB_URI provided."
Error: MONGO_URL must be set in environment

Initial key set in the environment: MONGODB_URI
Should be MONGO_URL

So just change it to MONGO_URL for others who are having this issue. Thanks :)

[2016-04-14 09:50] pachox opened #2884 "webRTC stability"
we run RC 0.26, but we tested the public demo too, with similar results.
Calls and video calls are not working in a complete affordable way, sometimes they work, sometimes don't.
it happens that:
- userA places a call to userB but userB doesn't receive any notification
- userA places a call to userB but userA screen remains blank
- userA places a call to userB but nothing happens when userA clicks

[2016-04-14 10:08] buhino commented on #2863
Yes, i have activated the livechat from the admin panel but i dont know what are the step of start a livechat. Can you resume pls?

Thx

[2016-04-14 11:28] pkaluzacog commented on #36
Since the advantages of the Axolotl ratchet in a more-than-desktop-chat world have been mentioned already, count me among the supporters. At the same time I'd like to give a shout out to the [OMEMO](https://conversations.im/omemo/) ratchet and protocol, which brings even more security and user convenience.

[2016-04-14 11:35] xa-bi opened #2885 "Store users IPs and ability to ban IPs"
I have a chat where sometimes trolls come to mess with users. It would be nice to store user IPs and the ability to ban users from same IP.

It also be nice to have the option to make a chat public for non registered users ("readonly mode")
Yes I know there is an open issue #604 ,but just trying to bump it :)

Thanks in advance.

[2016-04-14 11:37] hvma opened #2886 "preformatted as tooltip"
the `preformatted` feature is kind of hidden. It would be neat if it showed alongside the other tool tips.... The Slack way, for reference purpose:
![preformatted](https://cloud.githubusercontent.com/assets/18415187/14526754/d478d7ce-0245-11e6-8355-54b60cfd7663.png)

Your Rocket.Chat version: 0.26

[2016-04-14 11:51] karmacoma commented on #2728
We are running https://lisk.chat with approx. 1300+ users, and 80+ actively online. Our number of users has grown quite rapidly, and performance is beginning to be a problem.

Currently the instance is running on one CPU core. Does anyone have any pointers on how to proceed with configuring my deployment to take advantage of multiple cores?

Can https://github.com/meteorhacks/cluster be used in th

[2016-04-14 12:15] lunitic commented on #2885
Regarding this.. What about the idea to be able to "attach" a md5 or something similar of the IP beside the user posts.. Makes it possible to identify trolls posting from multiple accounts..

Lunitic  IP: E03AE33EE8417CE2C9785274217636E0

Preferable some other scheme ...

[2016-04-14 12:34] #2862 closed

[2016-04-14 12:36] pavankumarkatakam opened #2887 "Support for GET method in @integrations"
Your Rocket.Chat version: (make sure you are running the latest)
Yes, im running the develop branch of docker container.

Some services like http://sms.ssdindia.com/ sending the delivery report as get request, so im thinking to have an option for Http Method selection in integrations for incoming webhooks.

[2016-04-14 13:23] marceloschmidt commented on #2727
We should define some standards, such as what error to throw when user is not logged in, or when the operation is not allowed because the user lacks permission, or when the user doesn't belong to the room, etc.

So, I vote for:

1. User is not logged in: `error-user-logged-out: The user is logged out`
2. Operation is not allowed: `error-not-allowed: Not allowed` (instead of not-authorized)
3. Not

[2016-04-14 13:25] elboletaire opened #2889 "Group shared links in the sidebar, like with files."
Your Rocket.Chat version: 0.26.0

I've been searching for this issue in the issue list, but could not find it (if it exists, sorry!).

We use rocket chat in our work (like probably a lot more people) and we miss a feature that we think is very basic for our business: group the shared links in a tab, like it happens with files, starred or pinned posts.

[2016-04-14 13:37] marceloschmidt commented on #2727
Or maybe using proper error codes could be better.
So, instead of `throw new Meteor.Error('error-user-logged-out', 'The user is logged out', { method: 'methodName' });`, we could call `throw new Meteor.Error(403, 'Forbidden', { method: 'methodName' });

That would also be the case for not being allowed or not belonging to room... in whichever case, the user is **forbidden** to do that action. Any

[2016-04-14 14:14] heppstux commented on #1615
+1

[2016-04-14 14:21] engelgabriel commented on #2727
I dont think http error codes are clear enough for our use cases.

[2016-04-14 14:51] engelgabriel commented on #2885
Maybe we could show the real IPs on of connected users on the admin panel?
And show last 8 characters of the hashed IP on the user profile tap.

[2016-04-14 15:03] murder666 opened #2891 "Video call issue"
Rocket.Chat version 0.25.0: (make sure you are running the latest)
When I click on the video call button, I see a black screen appears with the "Connection" inscription, then this screen disappears, and I can only see my screen.
May be it`s NAT issue ?

[2016-04-14 15:19] engelgabriel commented on #2882
I am not sure I understand where do you think we have "MONGODB_URI"?

[2016-04-14 15:22] engelgabriel commented on #2728
@karmacoma what version of RC are you using? We have just release a new refactoring on the streams on the develop branch that improves the CPU load significantly. But we have a much bigger improvement coming soon.

Are you using Nginx with PM2?

[2016-04-14 15:33] michieriffic commented on #2882
Heroku generated that env var with key name MONGODB_URI instead of MONGO_URL when i've used the one-click deploy resulting to error: MONGO_URL must be set in environment.

![screen shot 2016-04-14 at 11 30 22 pm](https://cloud.githubusercontent.com/assets/12575688/14533753/f7cc0734-0298-11e6-88ba-244507e6809e.png)

[2016-04-14 15:34] woakes070048 commented on #1824
@sampaiodiego just wondering if the is ready to be used at all?

[2016-04-14 15:42] karmacoma commented on #2728
@engelgabriel We are currently using 0.25.0. Yes, we are using Nginx and PM2.

[2016-04-14 15:51] richardwlu commented on #2879
In that doc there is a Get list of public rooms via REST API call

[code]

[2016-04-14 16:06] richardwlu opened #2892 "Show User's First and Last Name During Searches"
Your Rocket.Chat version: .26

Is it possible to append the user's first and last name during a search. The usernames on our system (connected to LDAP) are obscure and finding other users to mention or direct message while only knowing their first and last name makes it somewhat challenging. Maybe something like `user123 - John Doe`

[2016-04-14 16:43] bechlin commented on #2879
Ah, brilliant. That's working.

I thought I'd tried that but turns out I only tried it using the rid=GENERAL with the "join" end point. And you get an error with that...

REQUEST

GET http://ec2-54-201-180-143.us-west-2.compute.amazonaws.com:3000/api/rooms/GENERAL/join

Request Headers:
Connection: keep-alive
Accept-Encoding: gzip, deflate
X-User-Id: 6eJ6cZG6azfLj24QX
X-Auth-Token: Pr0LETAKk6BDzL9

[2016-04-14 16:43] #2879 closed

[2016-04-14 17:08] engelgabriel commented on #2728
If you set up your PM2 config json like the example:
https://github.com/RocketChat/Rocket.Chat/blob/develop/example-pm2.json
You can configure you NGINX like:
[code]

[2016-04-14 17:46] #2841 closed

[2016-04-14 17:48] karmacoma commented on #2728
@engelgabriel Thank you! Very much appreciated 👍

[2016-04-14 17:53] lvh1 commented on #2863
you first gotta install it on your website (url is /livechat-manager/installation)

[2016-04-14 18:13] matthijs2704 commented on #1283
@capensisma have you figured out yet how to do this?

[2016-04-14 18:15] capensisma commented on #1283
@matthijs2704 @xj721386 sorry I was sleeping  :D do you want me to do a PR right now for this? I have many contribution on hold lol just lazy :'(

[2016-04-14 18:18] matthijs2704 commented on #1283
whoops did I wake you? But if you can do a PR, yes please! :smile:

[2016-04-14 18:28] sampaiodiego commented on #1824
hi @woakes070048

we know a few people using the live chat feature.

we are using on our website btw (https://rocket.chat)

[2016-04-14 18:42] capensisma commented on #1283
@matthijs2704 ok I am Officially awake now :D Thanks

Let's do this! :+1:

[2016-04-14 18:46] mccambridge commented on #1859
+1 on this guy. Until this happens, is there any other way to extend functionality besides hacking on the source and working with the API/webhooks?

[2016-04-14 18:50] richardwlu opened #2894 "What Is The Default API Auth Token Expiration?"
Your Rocket.Chat version: 0.26

I've just started working with the API and I was wondering what the default auth token expiration time is? The doc mentions to implement our own, but I was just wondering if there was any default one implemented or if the one that is generated does not expire.

[2016-04-14 19:02] engelgabriel commented on #1859
@mccambridge you can create packages and install them without hacking on the source. This way you wont need to merge to keep updated. This is how most of customisations have been done.

[2016-04-14 19:05] #2533 closed

[2016-04-14 19:27] engelgabriel commented on #2882
I've updated https://github.com/RocketChat/heroku-buildpack-meteor.git so the One-click Deploy is working again. I've just did a quick test myself.

[2016-04-14 19:27] #2882 closed

[2016-04-14 19:33] ywecur commented on #1859
@engelgabriel To what extent can these packages modify the core?

[2016-04-14 19:45] engelgabriel commented on #1859
Most of Rocket.Chat is built with packages, they can access all internal methods and APIs. We are build the system using packages as building blocks exactly so you should be able to do everything you need with packages.

[2016-04-14 20:07] shtefcs commented on #277
As @Sing-Li said it will open whole new mini marketplace for RC themes.

I really cant wait to see that coming out, but I guess its pretty early yet to working on theme engine.

Anyway, when this happen, I would be glad to create unqiue theme for RC and share with community.

Peace,

[2016-04-14 20:16] ywecur commented on #1859
@engelgabriel Wow, that's amazing that you architected the software in such a modular way right from the get go! Astonishing work!

[2016-04-14 21:07] Sing-Li opened #2895 "Email domain check for admin user causes problem with automated installs"
Currently, an email address is validated by the system during registration (by validating the domain portion).

If DNS is not available, is alternative implementation, or firewalled - the call fails and we consider the domain invalid.   Admin user cannot be created.

This is also complicated by a regex bug #2841  that exists within the current release 0.26.0

It is possible to turn off this option

[2016-04-14 21:34] maxsdw opened #2896 "S3 URL includes inner protocol for folder name."
Your Rocket.Chat version: 0.26.0

When using S3 as file storage service, the protocol should be striped out before using it for a folder name. Currently I'm getting this when retrieving a resource inside a channel:

https://corporativeapp-testchatbucket.s3.amazonaws.com/https://testchat.corporativeapp.com/Dv...

and it should be:

https://corporativeapp-testchatbucket.s3.amazonaws.com/testchat.cor

[2016-04-14 22:45] doctorlard opened #2897 "Secret URL Registration: logo is missing"
Latest stable tgz. I suspect the defaultUrl for logo.svg should have a leading slash (currently missing), in programs/server/packages/rocketchat_assets.js
Or, there needs to be an allowance that the registration page is not always one level from the root (so assets with relative URLs won't work as expected), or that the asset URLs need to be absolute paths rather than relative.

[2016-04-14 23:12] doctorlard commented on #2897
Example: https://rocketchat.myserver.com/register/<randomhash>/

[2016-04-14 23:17] engelgabriel commented on #2896
This was just fixed on the develop branch. We will create a migration script but you will have to move the folder on your S3 bucket manually.

[2016-04-14 23:19] engelgabriel commented on #2895
Set admin email set via ENV VARs is not affected anymore.

[2016-04-14 23:21] engelgabriel commented on #2895
You can set this `Accounts_UseDNSDomainCheck` config to `false` via ENV VARs on your initial setup if you are sure your server is blocked from outside world.

[2016-04-14 23:26] mrplow commented on #2728
Darn I was hoping for a docker-compose variation... But thanks for that!!

[2016-04-14 23:28] engelgabriel commented on #2728
@vikaskedia is your DB running in ReplicaSET mode?
THIS IS THE MOST IMPORTANT REQUERIMENT

[2016-04-14 23:30] engelgabriel opened #2898 "Adding new users via admin panel is broken"
Your Rocket.Chat version: develop

[code]

[2016-04-14 23:49] rodrigok commented on #2897
Was fixed in develop by https://github.com/RocketChat/Rocket.Chat/commit/0721d48ca3b23749ca1b95b5a2e566aedffec2dd, since we are always using the tag `base` we should keep the relative path without the leading slash to keep working for subfolder installations like `http://myserver.com/chat/`

This fix will be public available as stable on the next release.

[2016-04-14 23:49] #2897 closed

[2016-04-15 00:29] RichardFoxworthy opened #2899 "Make Role Tags optional and configurable"
Your Rocket.Chat version: (make sure you are running the latest) 0.26

Can we make Role Tags #2858 optional, and the tag text content configurable?

It adds visual clutter to the message view, having every regular user marked with a 'Users' tag is unnecessary

I'd like to be able to:

- turn this feature off completely
- use this feature only for certain roles (eg show the 'Admin' Tag on an admin

[2016-04-15 00:35] lochiiconnectivity opened #2900 "Create role to manage own integrations only"
Your Rocket.Chat version: 0.26.0

As an administrator, I'd like to grant right of administration over a user's own created integrations, ensuring they don't interfere with anybody else's. This means creation of a new role, such as 'manage-own-integrations', which limits the user to the scope of their own integrations in terms of viewing, modifying and deleting.

[2016-04-15 00:43] RichardFoxworthy commented on #2899
Ah! I figured it out. Can modify role description field in Admin and control this. So all good...

[2016-04-15 00:43] #2899 closed

[2016-04-15 02:52] mccambridge commented on #2807
Just discovered that `RocketChat.authz.hasRole(Meteor.userId(), 'owner', Session.get('openedRoom'))` evaluates to `false` in private groups for the owner, whereas it's confirmed `true` in public groups. I'm going to file a separate bug for this, but I wonder if it's related to buggy permissions with this issue.

[2016-04-15 06:59] ngokylan commented on #2705
Hi Vetash, can you give me the example of this variable $webhooklink. Im having trouble in making direct sending msg too. this is the only api syntax that is used to send msg http://chat.server.com/api/rooms/$roomid/send

[2016-04-15 07:11] lunitic opened #2902 "Make it possible to select active languages"
Your Rocket.Chat version: 0.26

I am not aware of any setting to specify which languages that should be active on the server.
Many of the translations are incomplete (trying to keep the Swedish one alive)

I would  be nice if there was a setting where you could specify active languages on the server.

[2016-04-15 07:16] vetash commented on #2705
@ngokylan You need to Administration page -> integrations -> create incoming webhook. Then you need to copy Webhook URL into your code. Also on page of IW you can see curl example.

[2016-04-15 07:34] ngokylan commented on #2705
@vetash Woa, this is amazing. Many thanks to you

[2016-04-15 08:31] TheReal1604 commented on #2895
It is possible to define the Env-VAR in the docker-compose file or it is only for manual installations without docker?

[2016-04-15 11:48] flashguy22 commented on #2835
I was able to hook up our rocket.chat via hubot to the new wit.ai with it's amazing stories feature.
You can see how I did it here: http://stackoverflow.com/questions/36621406/wit-ai-bot-engine-stories-connected-to-hubot/36646263#36646263
Please bear with me for the approach as I'm not a very skilled JS developer. This is more like a hack but it works for now to experiment with these new amazing f

[2016-04-15 11:58] edonit-moitend opened #2903 "Outgoing webhook response not working"
Rocket.Chat version: 0.26.0

I am sending outgoing webhook and the API receives it fine, and tries to return a response in JSON but the message does not show and I got this error on Logs:

`Exception in callback of async function: Error: [methods] joinRoom -> Not allowed [403]     at [object Object].Meteor.methods.joinRoom (server/methods/joinRoom.coffee:10:14)     at [object Object].methodsMap.(a

[2016-04-15 12:13] engelgabriel commented on #2895
AFAIK you can set ANY config of Rocket.Chat with ENV VAR. Juts use the same name as their _id on the settings collection. Also, it will only work on the initial setup, they will be ignored if they already have a value in the settings collection.

[2016-04-15 12:22] TheReal1604 commented on #2895
@engelgabriel how to do it correct on first setup?
Tried it like this:

[code]

After recreating the docker containers it seems that this is not working. Or did i need a new mongodb container, too?

[2016-04-15 12:26] engelgabriel commented on #2895
That should work, but only on a fresh install.

[2016-04-15 12:28] TheReal1604 commented on #2895
Fresh install means delete all docker container with

[code]
.. and recreate with ` docker-compose up -d` ?

[2016-04-15 12:30] engelgabriel commented on #2895
I guess, since you are not using volumes, yes.

[2016-04-15 12:38] askielboe opened #2904 "Slack import fails when importing pinned images"
Your Rocket.Chat version: 0.26.0

I get the following trace when trying to import my Slack history:

[code]

This is the relevant code (https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-importer-slack/server.coffee):

[code]

Seems that it expects an `attachment` field which doesn't exist for `pinned_item` containing images.

This is the JSON it fails on:

[code]

[2016-04-15 13:05] #2898 closed

[2016-04-15 13:30] graywolf336 commented on #2904
Looks like they may have changed their format, I'll take a look today.

On Fri, Apr 15, 2016, 7:39 AM Andreas Skielboe <notifications@github.com>
wrote:

[2016-04-15 14:13] Michuelnik commented on #1929
+1
A white-/blacklist for links that are (or aren't) to be previewed could be another approach.

[2016-04-15 14:21] samhocevar commented on #2301
I can reproduce the problem on Chromium (Linux) and Google Chrome (Windows 10).

[2016-04-15 15:05] goobersmooch commented on #1853
Same problem here. In the iOS app the call and video call buttons do not work. When you click them nothing happens.

[2016-04-15 15:19] zxweed opened #2905 "Horizontally stack the previews if urls are in one message"
Your Rocket.Chat version: 0.31

It would be great to compact the space of previews by stacking pictures (only pictures, not pages links) horizontally if their urls are in one or sequential messages:

![image](https://cloud.githubusercontent.com/assets/16319433/14566053/8ae95100-0336-11e6-8a5e-6a39ee407e73.png)

[2016-04-15 15:32] goobersmooch commented on #1118
I am very much looking forward to seeing this implemented in Rocket.Chat. Specifically iOS and Android devices.

[2016-04-15 15:36] zxweed opened #2906 "Make the "compact mode" really compact"
Your Rocket.Chat version: 0.26

The "compact mode" must be more compact to fit the small netbook's screens (1366*768). So it would be nice to hide avatars, show smaller previews (80px height), make the interline space smaller and so on:

![image](https://cloud.githubusercontent.com/assets/16319433/14566636/05ca7fbe-0339-11e6-9a12-abd4c7cdaf9e.png)

[2016-04-15 15:45] notsoluckycharm commented on #2001
Hey @IQ2022

You embedded it in an iframe, but did you master SSO? Or you didn't bother? I'm trying to integrate it into an iframe within my site, but I'd like to bypass the user login portion of it because I'll already have a user I can use.

What was your approach?

[2016-04-15 16:37] twhiting opened #2907 "File uploads / Downloads broken"
Your Rocket.Chat version: 0.26.0

We are seeing an issue with file uploads & downloads.  I can't reproduce it every time but I think it's associated w/ copy/pasting clipboard images. (which we do frequently for messaging bugs in our UI or system)

How it shows up on my end.
![capture3](https://cloud.githubusercontent.com/assets/10718586/14568377/c138405e-02f5-11e6-828a-eab010d3eb50.JPG)

On the ot

[2016-04-15 16:49] lvh1 commented on #2906
You could use this as custom css to make it more compact:
https://gist.github.com/lvh1/3b9c77b2bef7401010bec4250e9d5ba9
this would make it look like this: ![](https://i.imgur.com/eCENlgf.png)

[2016-04-15 17:29] zxweed commented on #2906
@lvh1, thank you, this css style looks great.

May be devteam make it default in the compact mode? The difference between styles are very insensible now...

[2016-04-15 17:32] IQ2022 commented on #2001
Yes i did embedded it, however given my website is running on http (shared www.bluehost.com/track/iqlinx/bluehost ).. so voice/video wont be working as it require https.. so probably in the end we need to have the SSO or wordpress login integrated with rocket.chat -I will be working on getting that setup.. here is how it looks so far, i welcome any feedback.. seekingoptions.com

[2016-04-15 18:07] IQ2022 commented on #2001
maybe one strategy if we don't use iframe is to have the session closes once someone log out or close browser and must come back to site to login?

[2016-04-15 19:01] lvh1 commented on #2906
Maybe they could add a third, 'ultra compact' mode so people have more choice, that would be great :)

[2016-04-15 20:05] engelgabriel commented on #2907
What file storage are you using?

[2016-04-15 20:06] engelgabriel commented on #2906
Can you do a PR with this?

[2016-04-15 20:10] twhiting commented on #2907
Default: GridFS

It's finicky, hopefully you guys can repro because it isn't always broken for us. Just a couple times today

[2016-04-15 20:13] engelgabriel commented on #2907
Does it have anything to do with filenames?
Why dont you guys move to S3? It is far more stable.

[2016-04-15 20:36] lvh1 commented on #2906
Sure thing.

[2016-04-15 20:43] engelgabriel commented on #2906
Lets make it as a extra option, and I'd put the cogs and time stamps on the far right

[2016-04-15 21:24] edonit-moitend commented on #2903
I do not know how but it started to work, maybe after I restart the RocketChat service.

[2016-04-15 21:24] #2903 closed

[2016-04-16 04:49] IQ2022 commented on #2873
also Cashtags $

[2016-04-16 06:02] twhiting commented on #2907
@engelgabriel We will do that and i'll report here.  I have no experience with any of it so let me see if that helps and i'll report back here.

[2016-04-16 07:49] lunitic commented on #2907
Seeing the same thing with clipboards.  Will do more investigation.  We use snippet tool in Windows a lot to do screens hots.  The user who did the upload don't see it until he so a refresh in browser.  Griefs here to

[2016-04-16 07:54] lunitic commented on #2907
Extra information.  I run 3 instances on the machine at.  If it could have something with load balancing to do?

[2016-04-16 08:43] lunitic opened #2912 "Disable SITE_URL popup when admin logs in"
Your Rocket.Chat version: 0.26

I understand the purpose of the SITE_URL popup but it can make some serious issue if the person who gets it doesn't know what it means. The human behavior is to click yes which can make the server unreachable.

My workaround is that I have made a 2nd admin role with the same permission as admin. But I think a "lock" site url would be much better.

[2016-04-16 09:49] geekq commented on #1929
If you really annoyed by this feature (like me), as a quick hack, you can replace

    return getDescription(this)? or getTitle(this)?

in the `show` method of
https://github.com/RocketChat/Rocket.Chat/blob/69b3c81840b246e74b2041dfd0f212612fd23d22/packages/rocketchat-oembed/client/oembedUrlWidget.coffee#L40

by

    return false

so the oembedUrlWidget never shows up.

Or you can try making the co

[2016-04-16 10:40] k0nsl commented on #2912
Yes, agreed. This can be rather confusing for some administrators and one has to complete a "debriefing" on that issue for new administrators, or else we'll find ourselves in trouble.

I have my instance on a normal domain and also on Tor (.onion) so when somebody accesses the instance via the .onion URL they'll get that popup you mention..

[2016-04-16 12:00] bott0r commented on #2906
yes please see also https://github.com/RocketChat/Rocket.Chat/issues/2881 and https://github.com/RocketChat/Rocket.Chat/pull/1377

[2016-04-16 15:34] engelgabriel commented on #2907
GridFS can be very CPU intensive, and sometimes causes the process to HALT while is serving the file to multiple users. I works ok for small teams, but if you are building a services to scale, move away from GridFS, it is not meant for that.

[2016-04-16 18:00] zxweed opened #2914 "terminate called after throwing an instance of 'std::bad_alloc'"
Your Rocket.Chat version: 0.26-0.31

The node.js killed after restart with message:
[code]
On dmesg:
[code]
I have 1 Gb of memory on my VPS. The "used memory size" for node.js process is increased continiously. If I enabled the swap - the server was slow down and then process are killed too.

Where can I get the callstack or some other debug info?

[2016-04-16 21:28] #2881 closed

[2016-04-17 02:51] wubin1989 opened #2916 "exception occurs when switch language"
Your Rocket.Chat version: 0.26.0
When I change language from default to Chinese, exception occurs as below.

=> Meteor server restarted
I20160417-10:46:00.288(8)? Exception in setTimeout callback: TypeError: Cannot read property 'version' of undefined
I20160417-10:46:00.289(8)?     at server/startup/serverRunning.coffee:4:36
I20160417-10:46:00.289(8)?     at [object Object]._.extend.withValue (pac

[2016-04-17 03:03] capensisma commented on #1283
@matthijs2704 better add a bounty to this and I will send a PR

[2016-04-17 06:26] zxweed commented on #2876
you should just close issue

[2016-04-17 08:23] corecache commented on #2254
Waiting for 1.3 with for CAS 2.0 support as described in #2325

[2016-04-17 08:45] lunitic commented on #2907
The you suggest local storage?

[2016-04-17 11:10] toupeira commented on #2807
I ran into the same issue on channels, the channel owner (normal user) can't rename it and gets a "Not allowed" error, while the admin can edit it just fine.

[2016-04-17 13:47] erniesg opened #2917 "ReferenceError: Tinytest is not defined"
Your Rocket.Chat version: (make sure you are running the latest)
Latest because I cloned this project before running 1 hour ago

I cannot build the app. This is the output on my Terminal window -

[[[[[ ~/Rocket.Chat ]]]]]

=> Meteor 1.3.1 is available. Update this project with 'meteor update'.
=> Started MongoDB.
   Linking                                   |
WARNING: The output directory is unde

[2016-04-17 20:34] wtsarchive opened #2920 "Custom OAuth not working properly"
Your Rocket.Chat version: 0.26.0

There are two issues with Custom OAuth currently:
* "Token Sent Via" = "header" doesn't work, it always sends data as payload
* Reddit expects you to use HTTP Basic Auth when retrieveng access token, but we're not doing so

I made a pull request that fixes those two issues.

[2016-04-17 21:19] toupeira opened #2922 "Add personal preference for 12/24h time"
My Rocket.Chat version: 0.26.0

From what I gather (#1959, #1960) the time format depends on the moment.js locale, which depends on the Rocket.Chat UI language. The thing is, I'd like to use English but also 24h format since I live in Europe, one way to offer that would be to expose the `en-*` locales from moment.js so I can just use `en-gb` to get 24h times. Another option might be to have a dedi

[2016-04-17 21:41] DymCx opened #2923 ":rocket: .chat"
[🚀.chat](https://🚀.chat) (https://xn--158h.chat)

\*drops mic\*

[2016-04-17 21:59] DymCx commented on #2923
<turns out> github doesnt support [_all_](http://www.emoji-cheat-sheet.com) the text-emojis, and ditches actual emoji in the issues-list

[2016-04-17 23:46] M4v3R commented on #2907
@twhiting Can you check if it always works the first time you try, but fails on subsequent tries. And then if you hit refresh in the browser it works again (for one time)? Because that's what was happening for me.

[2016-04-17 23:47] wtsarchive commented on #2907
@twhiting Can you check if it always works the first time you try, but fails on subsequent tries. And then if you hit refresh in the browser it works again (for one time)? Because that's what was happening for me.

[2016-04-18 05:01] mrkrumhausen opened #2924 "FB Messenger api integration."
How hard would it be to build something like Zendesk Messenger for Rocket Chat? Customs integrations could be FB Messenger, Kik, Telegram, etc.

https://www.zendesk.com/blog/customer-messaging-introducing-zendesk-message/

[2016-04-18 06:39] rore commented on #1615
Seems like a pretty important feature... I'm surprised it doesn't exist.

[2016-04-18 08:05] ngokylan commented on #2705
Hi Vetash, How can I implement the client Webhook to link to Rocket.chat and be able to send direct message from user to user? Im quite new in Webhook technology. I previously use Socket.io technology for my current chat application.

[2016-04-18 08:16] ngokylan commented on #2705
Also, I have some other questions:

is there anyway that from the client side to keep the connection to the rocket.chat server like socket.io create a websocket connection to the socket.io server and keep the pooling connection to listen to the incoming msgs?

how can we create new user + channel via the API from the rocket.chat server?

when sending a direct message from a user to a user, should

[2016-04-18 08:26] jjzhangg commented on #1610
+1

[2016-04-18 08:30] bott0r commented on #2924
I integrated telegram within rocket chat it works fairly nicely. However it has some limitations but you can check it out here https://rocket.chat/docs/master/server-management-1-integration-and-webhooks-telegram

[2016-04-18 09:34] Angl0r commented on #637
I hope this topic is still activ, i loved to see jira integration in Rocket.Chat

[2016-04-18 10:19] david-strejc commented on #519
Will there be such a functionality like "triggers" and other cool things like Zopim has? Whole backend management for handling customer who is online on your web page?

Thanks for info. Great product!

[2016-04-18 11:44] sta-szek opened #2925 "Support for copy to clipboard"
Your Rocket.Chat version: 0.26

I think there is no option (or I can't find it) for copying to clipboard (especially code blocks), which may be a very nice feature.

When you want to select a long block of code, the selection is very uncomfortable...

[2016-04-18 11:45] sampaiodiego commented on #519
yes @david-strejc .. please follow the issue #1824

[2016-04-18 12:40] lunitic commented on #2907
@engelgabriel This happens on my Lab server with 5 ppl.

[2016-04-18 13:01] #2920 closed

[2016-04-18 13:21] marceloschmidt commented on #2925
If anyone wants to make a PR for this one, it shouldn't be too hard:

Add a button [copy to clipboard] somewhere in the code block with a `clipboard` class and a `data-clipboard-target` that points to the code block, eg.:

`<a class="clipboard" data-clipboard-target=".message#message_id code">{{_ "COPY_TO_CLIPBOARD"}}</a>`

Needs testing, but that should be about it...

[2016-04-18 13:24] engelgabriel commented on #2923
Nice try :)

[2016-04-18 13:24] #2923 closed

[2016-04-18 13:28] engelgabriel commented on #2907
From what @wtsarchive have described, we may have two different issues here.
1. There may be a permission but if it only works the first time. Can you give more log info?
2. GridFS is not meant for scale, you should use the Local File System (with shared volume if using multiple dockers) or you should  use S3, Google Cloud Storage or Rackspace Cloud Files.

[2016-04-18 14:01] lobocode opened #2928 "Problem with SMTP service"
Problem with SMTP service. I'm trying to change the e-mail address in the admin area in SMTP and I can't. In form changes, however, in practice No. It would be some sort of cache?

I suspect that the same is occurring with webhooks. I use rocketchat with docker and in the latest version. In an appropriate time, I will stop and start again the container.

[2016-04-18 14:04] rodrigok commented on #2646
@klimkowd @nobeans can you follow this guide? https://rocket.chat/docs/master/user-guides-running-in-a-sub-folder

[2016-04-18 14:08] engelgabriel commented on #2646
Please reopen the issue if the guide does not work.

[2016-04-18 14:21] engelgabriel commented on #2922
Have you seen this PR https://github.com/RocketChat/Rocket.Chat/pull/2852 ?

[2016-04-18 14:25] toupeira commented on #2922
I did not, thanks! That looks like it solves my issue. Though if that's only an admin-level setting, you still might want to consider adding it as a user option or adding the missing locales, for servers with an international userbase.

[2016-04-18 15:19] gtribut commented on #1206
@crazyshot did you find a solution for this ?
I have the exact same needs and didn't find yet how to achieve this.

[2016-04-18 15:39] gtribut commented on #2401
@ivesbai can you explain how do you manage the autologin system from your wordpress ?

[2016-04-18 15:50] klimkowd commented on #2646
I appears the link is dead. Let me know when it's up and i'll give it a try.

On Mon, Apr 18, 2016 at 10:04 AM, Rodrigo Nascimento <
notifications@github.com> wrote:

[2016-04-18 16:06] mrkrumhausen commented on #2924
@bott0r The links doesn't work for me :/

The new Messenger api looks fairly well documented. Do you have any idea on how would I go about integrating it? https://developers.facebook.com/docs/messenger-platform/quickstart

[2016-04-18 16:50] engelgabriel commented on #2646
URL updated

[2016-04-18 17:11] lobocode commented on #2928
[Solved] Correct the problem by restarting the service. ;)

[2016-04-18 17:17] #2895 closed

[2016-04-18 17:44] klimkowd commented on #2646
Launching it does "work" now but then promptly setting the site url back
to just the domain under Admin->General doesn't make sense to me. (i set it
for the giggles, and yeah it breaks it again.)

Still fails to load _timesync and .sandstorm as expected.

On Mon, Apr 18, 2016 at 12:50 PM, Gabriel Engel <notifications@github.com>
wrote:

[2016-04-18 17:51] engelgabriel commented on #2646
this is a restriction on the order the framework initiates, so the settings must be done on the environment variables level in order to loaded in time.

[2016-04-18 17:53] engelgabriel commented on #2646
@rodrigok ideas?

[2016-04-18 17:55] #2757 closed

[2016-04-18 18:00] manuelbachl commented on #637
It is, just need to renew JIRA plan, then I'm getting back on this

[2016-04-18 18:23] #2887 closed

[2016-04-18 18:26] rodrigok commented on #2646
@klimkowd is everything working if you use the environment variable and keep the Site URL as `http://your.domain/path/?

[2016-04-18 18:30] engelgabriel commented on #2725
@JakeDEvans did you manage to make it work or test with a simpler text?
Please reopen if the problem persists.

[2016-04-18 18:30] #2725 closed

[2016-04-18 18:32] klimkowd commented on #2646
For the most part, yes. except for _timesync and .sandstorm. What are the
impacts with those not working?  Also, on a side note.  Do you know what
would cause the following problems?

1.) whenever a new message is displayed is causes the whole chat view to
rerender causing a gross flicker.
2.) whenever I click on a users name to private messag them i get rerouted
to https://domain.com/chat/home

O

[2016-04-18 18:36] engelgabriel commented on #2646
Can you please try the `develop` branch?

[2016-04-18 18:36] rodrigok commented on #2646
`.sandstorm` isn't a problem.
`_timesync` isn't a problem too, but this we should try to fix, it helps to keep messages in correct order.

for 1 and 2, you should try our develop branch or wait the stable release today.

[2016-04-18 18:50] #2829 closed

[2016-04-18 19:13] lobocode opened #2935 "Mantis webhook"
In the slack, there is an addon/plugin for integration with the Mantis bug tracker. It would be interesting to something similar in the rocket.  https://github.com/mantisbt-plugins/Slack

[2016-04-18 20:41] rore opened #2938 "Search not working on post attachments"
Your Rocket.Chat version: 0.26

Search seems to be working only on the text of the post and not on anything inside an attachment.
This is quite a limitation when using integrations (e.g. - posting form gitlab on an alerting system. You want to use attachment to format the post in a readable way, using fields to better structure the data. But search does not work on the attachment so you can't sear

[2016-04-18 20:45] bott0r commented on #2922
HH:mm:ss

[2016-04-18 20:52] mccambridge commented on #2551
Looks like this is fixed in 0.26?

[2016-04-18 20:59] mccambridge commented on #2153
I liked the convenience at first, but then I see the issue: accidentally nuking your edits. Since you can still edit messages via the gear icon, I'm reluctantly a +1 on this.

[2016-04-18 22:59] lkraider commented on #1340
The whole cloud deploy system is broken because of this:
https://github.com/RocketChat/Deploy.to.Cloud/issues/36

[2016-04-19 00:01] DymCx commented on #2923
D:

T_T

[2016-04-19 00:12] #2385 closed

[2016-04-19 00:12] #2726 closed

[2016-04-19 01:08] capensisma commented on #1283
It's working :D OMG
lemme send a PR after I clean up the code a little lol :D

[2016-04-19 01:38] ivesbai commented on #2401
@gtribut my solution is somehow a dirty hack way for quick demonstration.
1. make rocket.chat under the same domain of wordpress
2. use wordpress plugin to add user into rocket.chat by writing mongodb redirectly, a bad practice.
3. use wordpress plugin to insert authToken into mongodb, also a bad practice.
4. make authToken available for rocket.chat. just write authToken into javascript localStora

[2016-04-19 04:13] capensisma commented on #1283
@matthijs2704 @xj721386 @mchilson @djeber @MyPod  **It's DONE**
https://github.com/RocketChat/Rocket.Chat/pull/2940

[2016-04-19 05:36] lunitic opened #2941 "Pressing enter in Search Channels leaves search"
Your Rocket.Chat version: 0.26

When entering a search term in the "Search Channels" it feels natural to press the enter key.

If Enter key is pressed you will be redirected back to the channel, this is an annoying experience.

An Enter press should result in nothing.

[2016-04-19 06:32] vetash commented on #2705
Hi! @ngokylan
`How can I implement the client Webhook to link to Rocket.chat and be able to send direct message from user to user?`
I'm sure this is imposible with webhooks.
`is there anyway that from the client side to keep the connection to the rocket.chat server like socket.io create a websocket connection to the socket.io server and keep the pooling connection to listen to the incoming msgs�?`

[2016-04-19 06:41] bott0r commented on #2924
dunno where the 1 came from ! but its fixed now

[2016-04-19 06:53] netdevfighter opened #2942 "User Info page error"
I get the following error if I click on the User Info tab:

`Exception from Tracker recompute function:
2f0aa3e….js?meteor_js_resource=true:3 Error: {{#each}} currently only accepts arrays, cursors or falsey values.
    at s (2f0aa3e….js?meteor_js_resource=true:79)
    at 2f0aa3e….js?meteor_js_resource=true:79
    at Object.t.nonreactive (2f0aa3e….js?meteor_js_resource=true:35)
    at 2f0aa3e….js?

[2016-04-19 07:03] jots opened #2943 "admin user created via env var does not show up on users list"
version 0.27

admin user created via env var does not show up on users list.
all other users show up and Rocket.Cat user shows up, just not admin user.

[2016-04-19 09:53] netdevfighter commented on #2942
Was the latest version 0.27.0

[2016-04-19 10:25] gtribut commented on #2401
@ivesbai thanks for the infos.
I don't use wordpress, I will try to do something like you say for "a right way".
But still interesting to know what you will achieve in the futur.

My problem is that I've never use meteor, so for the moment i'm a little bit lost, to find a starting point :) I will search on how is made existing rocket.chat oauth system.

[2016-04-19 10:48] zxweed commented on #2899
@RichardFoxworthy, where this admin panel are? I need to to mark only admins and moderators, not users...

[2016-04-19 10:58] zxweed opened #2944 "After approve the registration user does not receive confirmation email"
Your Rocket.Chat version: 0.28

..user receives only email-verification message, not the approve notice.

[2016-04-19 11:08] zxweed opened #2945 "[bug] The "goto message" button in Starred post list are not shown"
Your Rocket.Chat version: 0.27

![image](https://cloud.githubusercontent.com/assets/16319433/14637112/e5d4e616-0637-11e6-83e7-5c062eec3a6a.png)

In the Mentions list all ok, but in Starred and Pinned list the gear button doesn't work

The version 0.26 does not have this bug

[2016-04-19 11:13] zxweed opened #2946 "ZIP attach are not possible"
Your Rocket.Chat version: 0.27

I have enabled the **application/zip** MIME-type, but cannot attach the zip files:

![image](https://cloud.githubusercontent.com/assets/16319433/14637244/c2c8c60a-0638-11e6-8264-8f038c52ea2a.png)

![image](https://cloud.githubusercontent.com/assets/16319433/14637261/e494e494-0638-11e6-9bcb-b36c9ad11b49.png)

[2016-04-19 12:12] iojeda commented on #404
Hi guys thanks all dev's for your great work with Rocket.Chat i love it. Dont really know if there is the place to ask this but dont know any better one so forgive me if im wrong and please tell me where to go instead. I whould like to know if i can integrate Rocket.Chat with Openfire I mean to get Rocket.Chat use xmpp capabilities and user authentication etc.. through Openfire. Is it possible rig

[2016-04-19 12:17] zxweed opened #2947 "[feature] Let users a way to specify some about info.."
Your Rocket.Chat version: 0.31

..It may be a tag line only. And will be great to search (or filter userlist) by this info.

[2016-04-19 12:20] thiemol commented on #2747
I20160419-14:14:23.167(2) (migrations.js:114) Migrations: Migrating from version 42 -> 43
I20160419-14:14:23.172(2) (migrations.js:114) Migrations: Running up() on version 43
I20160419-14:14:23.180(2) (migrations.js:114) Migrations: Finished migrating.

I20160419-14:14:35.428(2) ➔ |       Version: 0.27.0                                       |

I20160419-14:14:58.226(2) Exception while invoking me

[2016-04-19 12:29] benlangfeld commented on #404
That is not possible @iojeda.

[2016-04-19 12:30] edman545 commented on #2869
I agree, there is some expectation from upper management that all electronic communication is being logged somewhere.  Even if if it just dumped every message sent to a log file somewhere, that would be enough for our purposes.  It is very rare that I have to dig into such information, but sometimes there is good reason.

[2016-04-19 12:35] tholu commented on #2869
Could be implemented in the admin rooms view (where all direct messages are already listed as well), when clicking on the room to show the logs of it. Or in a separate audit view.

[2016-04-19 13:04] subhog opened #2948 "Allow non-latin letters in room names"
Rocket.Chat version: 0.27.0

When I'm trying to open a room with non-latin letters I've got an error stating that I should only use letters, numbers and dashes. This is a serious shortcoming for internationalization.

[2016-04-19 13:16] RichardFoxworthy commented on #2899
Hi zxweed it is under Administration / Permissions menu. You can customise
the text for Role description or leave it blank. Cheers

On Tue, 19 Apr 2016, 8:48 PM zxweed <notifications@github.com> wrote:

--
--
*Richard Foxworthy*
Co-founder, CEO
4th Party
+61 447 367 915
www.4thparty.com.au
richard.foxworthy@4thparty.com.au
PGP: http://www.4thparty.com.au/pgp

[2016-04-19 13:41] iojeda commented on #404
Hi @benlangfeld thanks for your fast answer ;) Thats a pity :(

[2016-04-19 14:20] engelgabriel commented on #2946
Did you try restarting the server or refreshing the page?

[2016-04-19 14:24] zxweed commented on #2946
@engelgabriel, yes, I have restarted and updated the server many times. I see this bug at four last releases..

[2016-04-19 14:28] mccambridge commented on #2143
+1 for per channel notifications

[2016-04-19 14:29] engelgabriel commented on #2946
Have you seen this? http://stackoverflow.com/questions/6977544/rar-zip-files-mime-type

Maybe try `application/zip, application/octet-stream` ?

[2016-04-19 14:36] klimkowd commented on #2646
Okay, I migrated to 0.27. Issue 2 resolved but Issue 1 still exists for me.
I also found that when i start to customize and load new assets the links
are not relative for assets

On Mon, Apr 18, 2016 at 2:37 PM, Rodrigo Nascimento <
notifications@github.com> wrote:

[2016-04-19 14:43] jclabaugh commented on #2946
We use `application/zip,application/x-compressed-zip` and can upload.zip files ok.

[2016-04-19 14:44] FlowsenAusMonotown opened #2949 "No audio or video call from iPhone app"
Your Rocket.Chat app version: (2.3.1)
It's not possible to call someone from  iOS app. The buttons for audio or video call has no effect. Also you cant't answer audio or video calls.

[2016-04-19 14:44] taybin opened #2950 "Create global and personal settings to hide user role labels"
Your Rocket.Chat version: 0.27.0
In a small group like mine, the user role labels are distracting and unnecessary.  Is there a way to hide them?

[2016-04-19 14:45] engelgabriel commented on #2946
thanks @jclabaugh

[2016-04-19 14:45] engelgabriel commented on #2946
@zxweed please reopen if the recommended setting doens't work.

[2016-04-19 14:45] #2946 closed

[2016-04-19 14:47] tmanternach commented on #2950
It looks like you can manually remove the labels in Admin->Permissions. https://github.com/RocketChat/Rocket.Chat/pull/2858#issuecomment-211884750

[2016-04-19 14:51] jclabaugh commented on #2143
See overlap with #2707

[2016-04-19 15:00] tuxBurner commented on #2949
+1

[2016-04-19 15:14] klimkowd commented on #2646
In addition, emojis are also out of action.

On Tue, Apr 19, 2016 at 10:36 AM, Dan Klimkowski <klimkowd@gmail.com> wrote:

[2016-04-19 15:33] dekelev commented on #2028
Fixed broken flow when running inside Cordova's InAppBrowser plugin's window.
Tested successfully on Android & iOS devices.

I've opened a pull request to the **"meteor-accounts-saml"** repository:
https://github.com/nate-strauser/meteor-accounts-saml/pull/10

[2016-04-19 15:45] twhiting opened #2951 "Deleting a file without deleting the whole post"
Your Rocket.Chat version: 0.27.0

_**Improvement**_
When you delete a picture/file from your post it deletes the whole post (including valuable data like messages).  This should be improved to only remove the file/image itself and not the whole post.

[2016-04-19 15:54] zxweed commented on #2946
@engelgabriel, nope, I have specified all media types, but cannon attach zip files (pictures and pdfs are ok):

![image](https://cloud.githubusercontent.com/assets/16319433/14645880/155d8a64-0660-11e6-8961-8bcac1f1220b.png)

[2016-04-19 16:16] lkraider opened #2952 "Migrate local user to LDAP"
Your Rocket.Chat version: 0.27.0

I just imported Slack history with users, and now I am trying to setup LDAP auth. It seems that the imported users cannot be updated to use LDAP auth? Any pointers?

[2016-04-19 16:35] goobersmooch commented on #2949
+1

[2016-04-19 17:00] lkraider commented on #2952
Just ran this from the mongo client:
```db.users.update({type: "user"}, {$set: {ldap: true}}, {multi: true})```

Seems to work fine.

[2016-04-19 17:03] lvh1 commented on #2950
or you could use some custom css to hide it for everyone :p
`.role-tag{display:none !important;}`

[2016-04-19 17:11] agentirons commented on #2950
Just ran into this too, it's true that you can workaround it for the time being by going to Admin->Permissions, clicking the edit button next to a user type (column headers) and deleting the Description field.

[2016-04-19 17:55] #1990 closed

[2016-04-19 17:58] dekelev commented on #2028
PR was merged and released with meteor-accounts-saml version 0.1.3

https://github.com/nate-strauser/meteor-accounts-saml/issues/8

[2016-04-19 18:01] engelgabriel commented on #2028
I am not sure this is the same package we are using here.

The source code points to https://github.com/steffow/meteor-accounts-saml.git

Have anyone tried using this new one?

[2016-04-19 18:17] #2952 closed

[2016-04-19 18:40] #2928 closed

[2016-04-19 19:46] #2165 closed

[2016-04-19 19:46] dekelev commented on #2028
OK @engelgabriel , I've just opened the same PR in steffow/meteor-accounts-saml

https://github.com/steffow/meteor-accounts-saml/pull/1

[2016-04-19 19:53] engelgabriel commented on #2028
you are awesome @dekelev !

[2016-04-19 19:57] Molle500 opened #2956 "2 translate buggs"
I found 2 issues with your translate system.

1. When you edit a message you have "esc to" and "cancel". It seems like there is only one cancel text to translate. In our language (Swedish) we use two different words for cancel and would be nice if you could add a separate translate for this cancel i have marked in the picture.

2. "users" under memberlist do not react to the translated text for "u

[2016-04-19 20:11] marceloschmidt commented on #2956
We use the word "cancel" in so many places. Is this the only place where it needs to be a different word?
As for the "users" word, I don't know what is it that you're requesting... this sentence comes from the `Showing_online_users` translation key.

[2016-04-19 20:32] #1808 closed

[2016-04-19 21:59] wbrodie commented on #637
This would be a major selling point in convincing the rest of the team to go for rolling this out to the rest of the company

[2016-04-19 22:08] Molle500 commented on #2956
@marceloschmidt Yes it's the only place where it needs to be different :)

Ah yes nice find :) i was confused becouse the previous translator forgot to change "user" so the first part was in swedish and user was in english so i thought "users" were separate :). However the "users"  is fixed. If you could add the cancel i would really appreciate it!

// Mokke

[2016-04-19 22:31] cedemore opened #2959 "Ability to remove joined / left channel text"
I would love if you added an option in the administration panel where you can choose to display when a user joined/left a room. Atleast the users on my server find this distracting / unnecessary.

I think this option would be great to have.

Thanks in advance /Cedemore

[2016-04-20 01:28] rodrigok commented on #2646
The problems with assets was fixed by https://github.com/RocketChat/Rocket.Chat/commit/6e9a7f7725c284707a1cb9d2fec20e2d0b131d1b

[2016-04-20 01:33] rodrigok commented on #2646
The problem with emoji was fixed by https://github.com/RocketChat/Rocket.Chat/commit/7c81e6d2cbe0b8846a117151001e85ceed985362

[2016-04-20 01:35] rodrigok commented on #2646
@klimkowd I still can't reproduce the view rerender, can you send us one video?

[2016-04-20 04:02] mickeyclausen commented on #2949
+1

[2016-04-20 05:03] andreas-bulling commented on #2950
There should IMHO be an option to switch these off globally - I was searching for exactly that after upgrading to 0.27.0

[2016-04-20 05:06] andreas-bulling commented on #2907
maybe related to #2718

Upload doesn't always fail - sometimes it does work, which sounds similar to what @lunitic and @twhiting have described

[2016-04-20 05:08] andreas-bulling opened #2961 "Autolinker shows page title automatically"
Your Rocket.Chat version: 0.27.0

Not sure if the Autolinker is the right module for this but it'd be nice if Rocket.Chat would automatically fetch and insert the corresponding page title if a URL is pasted into the chat, maybe with a format like $title: $URL

[2016-04-20 05:25] mylesw-luma commented on #2950
+1 - the tags add clutter.

[2016-04-20 06:17] jimt commented on #2950
As a workaround, adding
`.role-tag {display: none;}`
to your `Administration > SETTINGS > Layout > Custom CSS` will hide the tags.

[2016-04-20 06:18] zxweed commented on #2945
http://demo.rocket.chat has the same problem

[2016-04-20 06:34] Sing-Li commented on #2950
@jimt   Brilliant!    Do you mind creating a "Pro tips" section in our doc and adding this?  It will be very useful for others for sure!   TIA

PR against this would be appreciated:

https://github.com/RocketChat/Rocket.Chat.Docs/tree/master/6.%20Developer%20Guides

[2016-04-20 07:40] miscs commented on #2907
what we see with 0.26 and 0.27 is that file-uplaods works the first time for a file but not later on when trying to upload the same file again. we use file-system as storage.

easy to reproduce: upload a large image. cancel while uploading. try again -> nothing happens.

[2016-04-20 09:45] Shikaka opened #2962 "Channel search find only exact words"
Rocket.Chat version: 0.26.0

![test](https://cloud.githubusercontent.com/assets/1724195/14669397/56674f40-06f1-11e6-9e4a-2ceaaa6a41a2.gif)

maybe i miss some config to turn on really text search?

[2016-04-20 09:57] andreas-bulling commented on #2907
I observe the same thing

[2016-04-20 12:50] genesplicer opened #2963 "Email verification not working with CAS"
Hi,

I have installed Rocket.Chat on "[Ubuntu without docker](https://github.com/RocketChat/Rocket.Chat/issues/2613#issuecomment-208565326)". I am currently on release 0.27. I fixed the SMTP issue mentioned in #2613. However, I still have email verification issues. We use CAS to authenticate users, where user id is the email id with the domain name added. Under my profile, if I click "Resend confi

[2016-04-20 12:54] marceloschmidt commented on #2747
@thiemol how much RAM do you have?

[2016-04-20 13:08] #2956 closed

[2016-04-20 13:11] marceloschmidt commented on #2956
@Molle500 I've added a new key for translating that specific 'cancel' word. The key is `Cancel_message_input`

[2016-04-20 13:55] marceloschmidt commented on #2961
If you have Embed turned on, it will fetch the website information:

![image](https://cloud.githubusercontent.com/assets/1986378/14677060/5345aaec-06e6-11e6-9e98-e0d8542a7b95.png)

[2016-04-20 14:21] dupree972 opened #2964 "High Availability Documentation"
Your Rocket.Chat version: .027

I would like to setup Rocket.Chat in a HA fashion. Is this possible and are their any documentation or guidance for doing so..
Thanks...

[2016-04-20 14:36] netdevfighter commented on #2942
In case of this issue the loading of the user page is never stoppng:

![screen shot 2016-04-20 at 4 34 51 pm](https://cloud.githubusercontent.com/assets/4456399/14678458/0758df8e-0716-11e6-9e48-d65c9ae29b28.png)

[2016-04-20 14:54] giray opened #2966 "emoji's not showing after upgrade to 0.27"
Your Rocket.Chat version: 0.27.0

After the upgrade from 0.26 to 0.27 emojis are not displayed anymore

![image](https://cloud.githubusercontent.com/assets/316284/14678984/47566c1c-0718-11e6-88c6-d2606b820bd1.png)

Looking at the HTML source its there.
[code]
however is not visible on either chrome, or the electron client

[2016-04-20 14:59] giray opened #2967 "webrtc screensharing / video not fullscreen"
Your Rocket.Chat version: 0.27

During video chat and most noticeably when sharing screens, when going "full-screen" the video stream does not scale to fullscreen, but has lots of black area.

While acceptable during video conferencing, is quite annoying when sharing a screen / presentation.

![image](https://cloud.githubusercontent.com/assets/316284/14679155/fa5d3ea8-0718-11e6-8e28-ec86b61bd574.p

[2016-04-20 15:17] Molle500 commented on #2959
+1

[2016-04-20 15:41] thiemol commented on #2747
free 6.581MB

[2016-04-20 16:18] twhiting commented on #2907
Yea we are still having the problem,  @engelgabriel suggested we use S3 and I would except for our company doesn't want to pay for amazon services if we don't have to.  We would like to stick with storing our data locally.

[2016-04-20 16:20] Molle500 commented on #2956
Great, thanks!

[2016-04-20 16:31] engelgabriel commented on #2907
@twhiting did you try using Local File System?

[2016-04-20 16:51] twhiting commented on #2907
Yep, also broken.

If I use the snipping tool on windows to copy and image, paste it into slack, hit upload.
1. With GridFS the file is unviewable / broken
2. With local filesystem. the upload won't ever upload, the progress bar goes up to about 75% then drops back down to zero percent:
![file](https://cloud.githubusercontent.com/assets/10718586/14683039/e50d6380-06e5-11e6-9940-c0df6b81cf99.JPG)

[2016-04-20 17:00] engelgabriel commented on #2907
Are you  using version 0.27.0?
Are you using NGINX?
Can you turn DEBUG mode in admin panel and see  go to View Logs?
We will do some more here with you info.

[2016-04-20 17:10] twhiting commented on #2907
0.27.0, NGINX via Proxy/ReverseProxy

When I uploaded some clipboard screenshots via the client, then logged in via Chrome, The messages are un-viewable (They don't seem to load in the browser, or the the client if another person is viewing).
![thumb](https://cloud.githubusercontent.com/assets/10718586/14683521/602dc88c-06e8-11e6-938e-dd252bda24de.JPG)

Then when I click the download button, this

[2016-04-20 18:09] andreas-bulling commented on #2961
That's good to know - thanks!

[2016-04-20 18:09] #2961 closed

[2016-04-20 19:08] lunitic opened #2970 "Possible to swipe flex-tab-bar"
Your Rocket.Chat version: 0.26

On a mobile UI the flex-tab-bar takes up a lot of space..
Has there been any thought to make it "swipe-able"

I guess that not many users uses it that frequently..

[2016-04-20 19:16] giray opened #2971 "Feature: Status Message"
Your Rocket.Chat version: 0.27

Would be nice to have a User Status Message, such as "at office", "at home", "call met at xyz'.
Hovering over user avatar would show the status message, as well as clicking on the user...

[2016-04-20 19:47] giray commented on #2044
:+1:

[2016-04-20 19:52] hlgr360 opened #2972 "Ability to control user badges"
Version 0.27.0

The latest version added user badges which a lot of my team find cluttering and distracting. Is there a way to disable those. Why would I care if someone is an User or an Admin in a chat. My folks suggested location badges instead .. but short of that I prefer to be able to disable them all together.

[2016-04-20 19:53] bott0r commented on #2924
https://rocket.chat/docs/master/server-management/integration-and-webhooks/telegram

[2016-04-20 19:54] Molle500 commented on #2970
Could have similar to Slack. When you press the triple dots the bar appear. The bar takes up too much space on mobile units.

![example](https://cloud.githubusercontent.com/assets/17712562/14688357/835e7dce-0742-11e6-8732-14916bbcdd57.png)

[2016-04-20 20:25] lvh1 commented on #2972
You can either:
* Remove the 'description' of all permission groups under /admin/permissions
* add this custom css to /admin/Layout -> custom css `.message .info .role-tag{	display:none!important;}`

to achieve that

[2016-04-20 20:31] hlgr360 commented on #2972
Perfect. Thank you. Do you want me to close this issue to keep it open to track an permissions toggle.

[2016-04-20 20:49] Molle500 commented on #2780
:+1:

[2016-04-20 21:48] engelgabriel commented on #2943
@sampaiodiego maybe we are forgetting to add some user type?

[2016-04-21 01:11] etcy opened #2974 "Help with username and name issues for non-english users"
Hi,

My team (about 150 members) has been testing mattermost for a few weeks but respond is not so good because they have no japanese localizations. Before this we were testing some XMPP chat server/clients.

I found rocket.chat and I think its a great piece of work. It has multi-language support out of the box and most of the features we are looking for.

However, after testing locally, I could n

[2016-04-21 01:13] etcy commented on #2935
While we are at this, can we get a redmine webhook as well?

[2016-04-21 04:42] laomouzi commented on #2254
Any plan to upgrade to Meteor 1.3? Thanks!

[2016-04-21 05:15] shtefcs opened #2976 "OpenGraph, Twitter Card"
I really think that is time to implement this basic feature of every app and website.

When I share my chat on social, only url is correct. The title is wrong (Rocket.Chat), description is missing, thumbnail/image is missing.

Check it out:

 ![](http://content.screencast.com/users/shtefcs/folders/Jing/media/38d4139d-f344-4574-9b87-b82ac1cee3b8/2016-04-21_0708.png)

What you think @engelgabriel  ?

[2016-04-21 05:45] shtefcs opened #2977 "Fail to setup SMTP & Email"
Your Rocket.Chat version: (make sure you are running the latest)  **0.26.0**

I  have this problem for long time. I can't make emails work at all.  Tested many SMTP settings, but didn't manage to do it.

Even users fail to register via email and password form. It's say "Please wait".
In admin, the user is registered, but he don't get username created, check screenshot below:

![](http://content.sc

[2016-04-21 05:48] laomouzi commented on #1680
Any update on porting RC to meteor 1.3? thanks!

[2016-04-21 06:50] zxweed opened #2978 "[feature] Bind the "@" symbol (mention list) on F2 key"
Your Rocket.Chat version: 0.27

In some local keyboard layouts the "@" symbol does not exist, so I need to switch to international layout, press the "@" and switch back to post the message. This is very disappointed, so I would ask to bind mention list on nearest key - F2 also

[2016-04-21 07:19] lvh1 commented on #2972
You can close it since there's another issue about this already
https://github.com/RocketChat/Rocket.Chat/issues/2950

[2016-04-21 08:40] corecache commented on #2963
Do you have an example user id and example email address? What do they look like?

CAS version 1.0 only supports importing usernames from the SSO service, there is no E-mail beeing imported from the SSO service version CAS 1.0

Basically what happens is your patch tries to send emails for users which have no E-mail set, which of course won't work.

Importing user attributes, such as Email addresse

[2016-04-21 08:46] sadeva commented on #2977
Hi @shtefcs,

I got the same issue too, and after a few days, I got the solution. It's caused by the SMTP port is being blocked by the server/provider. If you're on DigitalOcean, try changing the port to 2525.

Hope that helps.

[2016-04-21 08:47] sadeva commented on #2971
+1 for this.

[2016-04-21 08:53] shtefcs commented on #2977
@sadeva

Tnx for replay mate.

Yes I am on Digital Ocean, and my port of server is not default one, its changed to 7532.

Do you think that part should work ?

[2016-04-21 09:06] fascinatedcow opened #2979 "context-sensitive username autocompletion"
Your Rocket.Chat version: 0.27.0

If I am in a channel and there is one person whose name starts with a "j", I would expect to be able to type "j" followed by <tab> and to have the person tagged. Instead it autocompletes the alphabetical first (I think) user beginning with "j", even though that user is not in my channel.

[2016-04-21 09:12] fascinatedcow opened #2980 "username autocomplete next guess"
Your Rocket.Chat version: 0.27.0

When using <tab> to autocomplete a user, I would expect that after the first guess, I could press <tab> again to choose the next matching user. This doesn't happen. Instead you have to delete the whole user and try again. When you have a lot of users, you basically have to type out the entire username in order to tag them.

This is related to #2979.

[2016-04-21 09:21] #2972 closed

[2016-04-21 09:26] zxweed opened #2981 "Add "ReplyTo" button to the local message menu"
Your Rocket.Chat version: 0.29

Now there are many unnecessary clicks needs to quote post and reply message.

[2016-04-21 10:08] tuxBurner commented on #2673
+1

[2016-04-21 10:27] rore commented on #2889
We recently started using rocket.chat and I just had the same thing in mind! Really missing it.

[2016-04-21 11:12] jaimathur commented on #759
Hi Sing-Li,
I want to integrate Rocket.Chat into GitLab so that when a user comes to home page of GitLab they should see the small rocket.chat window and the users can chat with each other. Kindly guide with the procedure of how to integrate rocket.chat with gitlab.

[2016-04-21 11:34] Instinct64 opened #2982 "Win32 App shows 'black screen' when focused after being out of focus for a few minutes"
Your Rocket.Chat version: 1.2.0 (win32)

**Summary:** When the rocket chat desktop app is left minimised or out of focus connection to the server is lost. If re-focused within a minute or so you see the status message at the top of the client "Connection failed, retrying in X seconds". If left minimised long enough the web area is just black and never recovers.

This issue has been witnessed on tw

[2016-04-21 11:48] lunitic commented on #2982
I have also notice this issue on one PC. The PC is a Win 10 64bit.

The PC has dual graphic cards
GTX 960 and a onboardIntel graphic card.

[2016-04-21 12:20] bott0r commented on #2981
I think that would be a great idea, i am also wondering if there is an interest in threaded comments??

![untitled-1](https://cloud.githubusercontent.com/assets/17119942/14708599/3919c9aa-07cc-11e6-8e75-0aa6bdde19d0.png)

[2016-04-21 12:29] Instinct64 commented on #2982
This has been observed on Windows 10 64-bit and on machines with both just on-board (Intel), and on-board as well as discrete (Nvidia GTX960M) graphics.

[2016-04-21 12:30] jkot commented on #930
👍

[2016-04-21 13:03] sadeva commented on #2977
I don't know mate. Check it from your console (SSH) using telnet.

[2016-04-21 15:22] stevenhfotofix commented on #2982
Reported on the repo for the app itself:

https://github.com/RocketChat/Rocket.Chat.Electron/issues/150

We have been eagerly waiting for a fix.

[2016-04-21 15:33] BackIsBachus commented on #2184
I would see that as the "big red font" part. For example with bots and integrations: if you have a monitoring service speaking through a web-hook you may like to color its messages (service/server down in red, warning in orange, good in green, etc).
Again for bots it could help differentiate when a bot is speaking among regular users.
Lastly if you have to leave a message as an admin/moderator you

[2016-04-21 16:24] Amigo77 opened #2984 "Desktop Notifications doesn't work in Desktop Windows Applications Rocket.Chat+ 1.3.1"
Your Rocket.Chat version: 1.3.1

Actual Result: Any Notifications from Windows desktop application doesn't work.
Expected Result: Notifications like Slack-notifications should work fine.

Steps to reproduce:
1. Open Rocket.Chat Windows Application
2. Send any message to any recipient or try to receive it form other
3. See that recepient should not receive any notification (except red light on icon

[2016-04-21 17:05] mguspero opened #2985 "Disable Direct Message functionality for Users"
Your Rocket.Chat version: 027.0
Hi, is possible to block direct messages from some users or to all the users and only permit the use of private groups?
Thanks & Regards!

[2016-04-21 17:38] twhiting commented on #2982
This has been posted multiple times on the Electron project (Over two weeks ago), for some reason the development on that has stagnated a bit.

I actually spent the time to build a release for 1.3.1 myself and this issue went away for me and all the people in our company, I followed the docs for how to build a release.  I'm not entirely sure why the issue went away but maybe it will work for you g

[2016-04-21 17:42] Sing-Li commented on #2982
If you or your company is experiencing this problem, and have not made a comment yet - but waiting for its resolution.   Please add a comment !

Open source projects like Rocket.Chat depends on community feedback to gauge priority of work.

[2016-04-21 17:47] DavidDyran commented on #2982
I have the same issue, but it also happens during active use. There is no real pattern to this. Sometimes I can use it for 10 minutes, sometimes it doesn't even survive 1 minute after the application reload. I did not try the new version, just the current release.

[2016-04-21 17:53] stevenhfotofix commented on #2982
Our company is staying on 1.1.0 - since that one has no problems at this time.  The problem was introduced in 1.2.0, and continues in 1.3.0 and 1.3.1

[2016-04-21 18:53] mccambridge opened #2986 "Search Tab Doesn't Close When Search on Mobile"
On a mobile device, both via Safari and a Cordova app, on a search result, if I click the gear icon and see the dropdown-menu (which is almost impossible to do, but that's another issue), when I click on the right hand icon, the page does not respond.

The expected behavior would be for the search panel to close and the page navigate to the message I clicked in the search results.

[2016-04-21 19:01] mccambridge opened #2987 "Gear icon is almost impossible to click on mobile, especially in search"
Your Rocket.Chat version: 0.27.0

On mobile, I find it virtually impossible to click the gear icon in a search result. It isn't easy on regular room messages, either.

[2016-04-21 19:22] mccambridge opened #2988 "Multiple DOM nodes using the same id"
Your Rocket.Chat version: 0.27.0

There are occasions when two nodes with the same `id` appear in the document.

For example, if I search for a message that currently appears on the page, the message with a given `id`, e.g. `xsAHQ6gGjKZToZikW` and the search result for that message both appear in the document at the same time. Both have identical `id`'s

DOM element `id`'s should be unique and nev

[2016-04-21 19:26] Sing-Li commented on #2982
Main ticket on this issue is RocketChat/Rocket.Chat.Electron#173  and MANY OTHER similar tickets on the Rocket.Chat.Electron project repository.

[2016-04-21 19:42] RobertPratico commented on #1209
+1

[2016-04-21 20:00] richardwlu opened #2989 "LDAP Bot User Login Error After Removing User Account"
Your Rocket.Chat version: 0.26

I have a hubot user named R2Z2 which we created using the default registration form a long time ago because, at the time, bots were unable to authenticate through LDAP. Now that we are able to do that, I deleted the R2Z2 user from the Administration page so I could recreate him as an LDAP user. I set the env `"ROCKETCHAT_AUTH":"ldap"` and attempted to login but I am

[2016-04-21 20:03] richardwlu commented on #2989
Just found out someone had used the email address for another test user. Oops.

[2016-04-21 20:03] #2989 closed

[2016-04-21 20:39] gcassel commented on #2030
This is an important issue:  can any devs comment please?

[2016-04-21 21:27] richardwlu opened #2990 "How To Apply Highlights To Every User"
Your Rocket.Chat version: 0.26

I noticed that there is not a way for an administrator to globally set specific words to be highlighted for every user. I was hoping I could get some advice on the approach in writing a mongo shell script to do this. I see inside the file `saveUserPreferences.coffee` that contains the method `RocketChat.models.Users.setPreferences Meteor.userId(), preferences` and a

[2016-04-21 21:51] paulproteus commented on #1352
For those who are curious: @jparyani has been spending some time in the last few days seeing how to address this.

[2016-04-21 22:21] Sing-Li commented on #1352
:+1: it'll be a major win - instant mobile chat/messenger server ... rentable by the minute.

Can't wait. Go @jparyani , go !

[2016-04-21 23:43] lkraider commented on #637
Here's a script I created to parse the Jira webhook JSON in a manner similar to what the Slack integration service does:

[code]

[2016-04-22 01:30] rodrigok commented on #2979
@fascinatedcow can you post a video explaining your problem? Maybe the problem is because we are matching the text with the entire username and not with the begining of the username?

[2016-04-22 03:23] shtefcs commented on #1118
How is going with development guys ?

I was wondering is it possible to use Google Hangout API and integrate it on RC ?

https://developers.google.com/+/hangouts/

Or this:
https://github.com/algesten/hangupsjs
https://github.com/google/instant-hangouts

[2016-04-22 03:53] Sing-Li commented on #1118
@shtefcs thanks for the links. We were struggling with the 10 users limit on google hangout ourselves and hope to integrate a superor solution from an infrastructure provider very soon.

[2016-04-22 04:07] shtefcs commented on #1118
Ok, great to hear that.

Really excited to see it.

[2016-04-22 04:13] k0nsl opened #2992 "Customization of "role tags""
Your Rocket.Chat version: 0.27.0

Hi. I just upgraded from 0.26.0 to 0.27.0 and I am seeing some minor but pleasant changes to the UI. However, I've got one question. Can we allow for customization of the "role tags" next to a user's name.
See, here is a screenshot of my user:
https://screen.img-cdn.ru/chrome_2016-04-22_06-05-39.png

It says "Rocket.Chat Admin", "Users" and "Room Owner". Allowing

[2016-04-22 05:25] dprandzioch opened #2993 "npm-bcrypt error in Rocket chat on FreeBSD"
Your Rocket.Chat version: Latest git master

After installing RocketChat using the following document:

https://rocket.chat/docs/master/installing-and-updating/deployment-options/freebsd

I get the following error:

Already tried the suggested command "cp -R ~/meteor/packages/non-core/npm-bcrypt ~/Rocket.Chat/packages/*" with no success.

[2016-04-22 05:30] Sing-Li commented on #2993
@dprandzioch  Thanks for the report.

Please bear with us for a few days.  FreeBSD community member @rawzone is working on new instructions on deploying on FreeBSD that will work on 10.2 with ALL our latest Rocket.Chat stable releases.

You may want to visit https://demo.rocket.chat/channel/freebsd-compat  if you want a glimpse of the process sooner.

[2016-04-22 05:41] dprandzioch commented on #2993
@Sing-Li Thanks for the information. @rawzone already posted a Gist containing the extact same problem I experience:

https://gist.github.com/rawzone/506aae90fb78f49e89552b4bac374f1d

So maybe this might get fixed/documented soon.

[2016-04-22 06:45] Micjoyce opened #2994 "How can I make autoupdate at cordova?"
Myself deployed a rocket. Chat server, and build to an android app, but I how to use do autoupdate at android, I look at the Rocekt. Chat in the autoupdate found cordova part of the packages are commented out, is this why?How can I do it like a Rocket. Chat official app, when the user opens the app automatically update server with updated files?
Hope some one can help me!

[2016-04-22 06:55] gramakri commented on #2992
I came to report the same issue. I too feel the role tags are cluttering the otherwise clean Rocket.Chat UI. Is there a way to disable it? Thanks!

[2016-04-22 07:01] dmidmi84 opened #2995 "Notify admin on user password change"
Hi!
It would be great that admin receives an e-mail or notification from rocket.cat that someone change his password.

P.S.: I can see it in Logs, but it would be great to receive it automatically.

TY!

Your Rocket.Chat version: (0.26.0)

[2016-04-22 07:17] GritsanY opened #2996 "SMTP Internal Server Error"
Your Rocket.Chat version: (make sure you are running the latest)
0.26.0
Rocket.Chat is deployed on Ubuntu VM.
SMTP stop working. SMTP user is active, was configured right after deployment, but now i get "Internal Server Error" after trying to send test mail to my user.
Where can I get more details/logs on this issue? Or maybe the solution is known.

[2016-04-22 07:21] shek8034 commented on #1855
I am still facing the issue on firefox with bootstrap modal. Can someone confirm ?
I have posted the details in the main thread
https://github.com/zenorocha/clipboard.js/issues/155

[2016-04-22 07:34] Angl0r commented on #637
This Script Works fine!!! But it seems that Rocket.Chat ignores the Alias and the avatar of the bot. It keeps posting it under my credantials. Thank you for this nice script

[2016-04-22 08:31] danielcandea commented on #2982
It happens to me on two different machines and some colleagues as well, all on Windows 10 64 bit.
I can't reproduce it as it seems to happen randomly.

[2016-04-22 08:35] manuelbachl commented on #637
@lkraider is this script parsing all possible payloads from JIRA? In other words, is it complete? If not, I'll start working on this intergration on monday, may I use your Script as a base?

[2016-04-22 08:36] pqvindesland opened #2997 "Import hipchat enterprise data"
Your Rocket.Chat version: 0.27.0

When importing data from a hipchat server to Rocket chat, rocket chat requires the file to be compressed in a zip format but on hipchat 1.3.9 (2016.03.24.210917) the file is in a tar.gz.aes format which the rocket chat importer does not recognise.

I decrypt the file with openssl aes-256-cbc -d -in hipchat-2016-04-21_17-22-52.tar.gz.aes -out hipchat-2016-04-21_17-

[2016-04-22 08:45] Molle500 opened #2998 "Hover BUG"
I dont know if anyone else have noticed this but whenever you hover over any (blue)button in your chat or any of the channels in the left panel  ANY colored text  (links for an example) in the chat blinks??

It isn't that visible when it's a light background but try adding a dark background and you will see it immediately

[2016-04-22 08:49] Molle500 commented on #2998
![examplee](https://cloud.githubusercontent.com/assets/17712562/14736506/d88defe2-0877-11e6-9c40-cf9edaf68ac7.png)

If you hover your mouse over the channels (marked with red). The links (marked with green) will blink like crazy

[2016-04-22 09:24] #2996 closed

[2016-04-22 09:24] GritsanY commented on #2996
Rebooted a server and problem was solved.

[2016-04-22 10:59] Angl0r commented on #637
After a littlebit of Scripting i finaly managed to overwrite the credentials under wich the bot posts your Jira Tickets. You need to modify the following entrys:
  1. user_login -> I changed it to 'JiraBot'
  2. avatar_url ->  Ichanged it to 'some_url_of_a_pic'.

With these changes the Webhook bot has a difrent name and avatar :)

[2016-04-22 11:15] corecache commented on #637
Make sure to include version/feature compatibility checks

[2016-04-22 13:04] #2807 closed

[2016-04-22 13:53] schucan opened #3000 "iOS native app bug after update"
Rocket.Chat version: iOS app version 2.3.1

I had a "there is a new version of the app files" popover when I started the app on my iPhone 6s. I tapped on "yes, update". It loaded the "3" files, and now I have the loading throbber. Even if I get out of the app, kill it, and restart. It stays there.

Interestingly, notifications continue to work!

The workaround: If I uninstall rocket from the devic

[2016-04-22 14:15] Sing-Li commented on #3000
I observe the same problem on the iPad.  Actually if you wait for half an hour or longer, eventually it may load the chat.

[2016-04-22 14:27] engelgabriel opened #3001 "Improve adding user via admin panel"
- [x] Option to send welcome email with login details and password
- [x] Option to mark emails as verified or send email verification
- [x] Option to auto join the user on default channels
- [x] Buttons to generate random password
- [x] Make password change on login default to YES
- [x] Remove autocomplete form the FORM

![image](https://cloud.githubusercontent.com/assets/1000217/14744199/25435d28

[2016-04-22 14:36] klimkowd commented on #2646
Here <https://i.gyazo.com/504eeaf5976acfb0374540921a834983.gif> is a video
of the rerender
I also found another subdirectory link failure:  /file-upload

On Tue, Apr 19, 2016 at 9:35 PM, Rodrigo Nascimento <
notifications@github.com> wrote:

[2016-04-22 14:39] achraf-jeday commented on #2772
@sampaiodiego @engelgabriel This issue is no longer valid I was not able to reproduce it on the latest Rocket.Chat version so I think it should be closed.
Thank you.

[2016-04-22 14:42] #2772 closed

[2016-04-22 14:54] engelgabriel commented on #2646
![image](https://cloud.githubusercontent.com/assets/1000217/14745252/da92c93a-0880-11e6-99fe-d8979f41fa9d.png)

Can you stop on the frame of the blink?

[2016-04-22 14:56] jclabaugh commented on #2839
Could this be configurable?

[2016-04-22 14:57] maxsdw opened #3002 "Favicon is being marked as when pending messages, but there is any."
Your Rocket.Chat version: 0.26.0

We have noticed even though we have no unread messages (not even the ever lasting un-read message) the tab still indicates there are unread messages.

[2016-04-22 15:02] engelgabriel commented on #2646
![image](https://cloud.githubusercontent.com/assets/1000217/14745490/f196a2a4-0881-11e6-9d93-0698f7340d31.png)

The problem seems to be that something is generating an invalid date on the client side.. maybe the offset is getting an invalid value and when applied to the date, it generates an invalid date.

[2016-04-22 15:07] Againstreality opened #3003 "check_mk notifications within RocketChat"
Hi we liked to have an check_mk integration within Rocket.Chat. So we got our monitoring frontend within Rocket. So we build one based on an Bashscript.

So we did it: https://github.com/Againstreality/Rocket.Chat.check_mk-integration
You can use it if you want.

[2016-04-22 15:24] Againstreality commented on #637
The Script from @lkraider together with the mdoifikation from @Angl0r work fine for a start-

[2016-04-22 16:17] cedemore commented on #3002
Same problem here

[2016-04-22 16:24] klimkowd commented on #2646
[image: Inline image 1]

On Fri, Apr 22, 2016 at 11:02 AM, Gabriel Engel <notifications@github.com>
wrote:

[2016-04-22 16:27] klimkowd commented on #2646
Tell me where i can set a break point and i'll let you know.

[2016-04-22 17:18] engelgabriel commented on #2646
@klimkowd do you still see the _timesync error on the console?
@rodrigok how can we test this theory? How can we check the value of _timesync?

[2016-04-22 17:21] engelgabriel commented on #3003
Awesome @Againstreality ! Thanks fro sharing. We will add this to the docs.

[2016-04-22 17:24] engelgabriel commented on #3003
I have created https://github.com/RocketChat/Rocket.Chat.Docs/issues/23

[2016-04-22 17:24] #3003 closed

[2016-04-22 17:26] klimkowd commented on #2646
yes the _timesync 404s are still present

[2016-04-22 17:39] engelgabriel commented on #2646
So they are definitely related.

[2016-04-22 17:51] #3001 closed

[2016-04-22 18:08] gabrielcsapo commented on #1195
closing because #1163 seems to solve this issue.

[2016-04-22 18:08] #1195 closed

[2016-04-22 19:50] rodrigok commented on #2646
@klimkowd can you test the latest develop version? I fixed the timesync problem as you can see here https://github.com/RocketChat/Rocket.Chat/commit/96f392c475cf013d8a6ff2cdbd0cafb0fce07ae7 and here https://github.com/RocketChat/Rocket.Chat/commit/bac8c78a4c6c3f7d846ca3dd7c793294bbacc170

[2016-04-22 20:04] rawzone commented on #2993
@dprandzioch I added a pull request on the documentation about deploying Rocket.chat on FreeBSD. Lets hope it get merged in...

But until then you can have a look at my version here:
https://github.com/rawzone/Rocket.Chat.Docs/blob/master/3.%20Installing%20and%20Updating/2.%20Deployment%20Options/FreeBSD.md

Hope it helps.

[2016-04-22 20:27] twhiting opened #3006 "rocketchat hubot on windows"
I cannot seem to set the various needed information so the rocketchat adapter can work..

On windows how would I set the _ROCKETCHAT_URL_ param? (or any of them, for that matter)

I was under the impression that when I ran the _yo hubot_ command and set the adapter to _rocketchat_ it would then ask me for this information.. it doesn't

Ive set the environment variables in windows as well.  Cannot

[2016-04-22 20:45] engelgabriel commented on #2971
duplicate of https://github.com/RocketChat/Rocket.Chat/issues/2422

[2016-04-22 20:45] #2971 closed

[2016-04-22 21:23] #3006 closed

[2016-04-22 21:34] twhiting opened #3008 "Create a bot editing UI"
Your Rocket.Chat version: latest

I edited the Rocket.Cat account and changed the name of it, now I can not seem to change it back.  it's causing the right menu to behave funky. It won't allow me to edit the account in admin either

![capture](https://cloud.githubusercontent.com/assets/10718586/14755453/a5a9022e-089f-11e6-804a-bb883d9d9ede.JPG)

I would like to change the name back, can't seem to

[2016-04-22 21:39] rhires opened #3009 "Release numbers vs version numbers"
I don't see anything that correlates the release number (.25, for example) to the version number (1.3.1, for example)...

How do I know what goes with what?

[2016-04-22 21:46] NoleHealth commented on #1209
+9001

[2016-04-22 22:06] buzzmn opened #3010 "New feature: Collaborative text/code editor"
As a user that has tested Slack in the past, that was one of my favorite features. The ability to work in a common document was very practical.

https://get.slack.help/hc/en-us/articles/203950418-Composing-a-Post

(My first issue, sorry if i did something wrong or if it's not the right place)

[2016-04-22 23:31] jeffreywescott opened #3011 "rocketchat-ui: RoomManager fails to properly listen for `onUser` notifications"
Your Rocket.Chat version: `develop` branch

Greetings. Thanks again for this awesome software!

We are running Rocket.Chat in production on Heroku. Most things work well, but we've run into an _intermittent_ bug where sometimes [these lines of code in `RoomManager.coffee`](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-ui/lib/RoomManager.coffee#L41-L46) aren't working.

[2016-04-22 23:39] jeffreywescott commented on #3011
A bit more info on this ...

I failed to mention in the original bug report that we _do_ have a custom sign-in system (one that completely bypasses the Rocket.Chat sign-in system). This bug seems to be a race condition between:

- when the (custom) sign-in process completes
- when the aforementioned code in `RoomManager.coffee` is run

I know this because I put another console.log statement _above

[2016-04-23 00:25] geekgonecrazy commented on #3009
@rhires are you talking the version number and how it relates to other version numbers?

I don't completely understand what you mean.

[2016-04-23 00:28] geekgonecrazy commented on #3002
@maxsdw does this happen with 0.27.0 as well?  Also have you noticed anything in particular clearing that away?

[2016-04-23 00:30] geekgonecrazy commented on #2997
@pqvindesland do you know if it still gives .zip on non-encrypted export?

[2016-04-23 00:32] geekgonecrazy commented on #2998
I'm not able to replicate this.  Looks like you're in chrome?  Also what version of Rocket.Chat are you on?

[2016-04-23 00:35] geekgonecrazy commented on #2995
I would for sure want this to be toggle-able.   Also perhaps this would belong with an audit log view?

[2016-04-23 00:37] geekgonecrazy commented on #2994
@Micjoyce have you built and compiled your own version of the app?  If you're using our app your app should automatically prompt for an update for your server.

[2016-04-23 00:37] Sing-Li commented on #2998
Do you see the attributes in dev tools changing values?  If not, it might be a graphics driver level problem.

[2016-04-23 00:40] geekgonecrazy commented on #2992
@k0nsl we need to be a little more clear with this... But if you goto roles and edit the description this controls what is shown in the tag.

If you click here:
![image](https://cloud.githubusercontent.com/assets/51996/14758165/df5356c4-08c1-11e6-9da3-10cbb5863f9c.png)

What ever is shown here:

![image](https://cloud.githubusercontent.com/assets/51996/14758171/f51fb4ca-08c1-11e6-9415-db49ec205e5b

[2016-04-23 00:52] rhires commented on #3009
So when I go to download from your page, I get version 1.3.1 (https://itunes.apple.com/app/rocket.chat/id1086818840). But when I look at the releases section (https://rocket.chat/releases), it's numbered .26 or whatever. Does .26 = 1.3.1? Or how would I know what release number = what version number?

[2016-04-23 01:23] k0nsl commented on #2992
@geekgonecrazy: thanks, that did the trick!

[2016-04-23 01:23] #2992 closed

[2016-04-23 01:25] geekgonecrazy commented on #2992
Awesome!

@gramakri if this doesn't do the trick for you.  Please feel free to open a ticket requesting the changes in behavior.

[2016-04-23 01:29] geekgonecrazy commented on #3009
@rhires ah!

Ok so the version in the app store is for the mobile app its self.

The version on the release page has to do with the actual server piece.

Mobile apps: version 1.3.1
Server: version 0.26.0

So the release numbers are for two different components.  Both completely valid to their perspective pieces

[2016-04-23 01:29] #3009 closed

[2016-04-23 01:37] geekgonecrazy commented on #2980
@fascinatedcow you can use the arrows when that autocomplete pops up to choose which one you want.

So you're saying if I tab complete @fascinatedcow but I wanted the next one down I'd hit tab again and it'd cycle through them?

[2016-04-23 01:39] geekgonecrazy commented on #2978
So you'd like to tag/mention someone without having to type @?  Would some graphical way of mentioning help as well?

[2016-04-23 01:39] rhires commented on #3009
There should be some mention of that on the releases page, I would think. Also, some links to where the mobile apps can be downloaded from - the main (non-techie) website doesn't let the user know that there are these different components, and it can be confusing. Anyway, thanks for the clarification.

[2016-04-23 05:31] shtefcs commented on #1824
I am using it as well on http://vanila.io and I can tell you guys, it increased my communication with potential customers to the next level.

What I am currently missing is https://github.com/RocketChat/Rocket.Chat/pull/1818#issuecomment-213667025.

Also, I noticed an bug, when live chat visitor, try to register on real chat. It's cause some mixing with his profile, username, avatar etc.

[2016-04-23 06:17] zxweed commented on #2978
No, I just want to access mentions menu by pressing F2, the same way as pressing "@". Or (yet another and better way) I want to put mention reference by mouseclick on the nickname instead on calling user menu.

The key point - I need to type mentions faster, now there are too many clicks (with double switch keyboard layout) to accomplish it.

[2016-04-23 06:33] edoniti opened #3012 "Notification sound at LiveChat customer panel"
It would be great to have a notification sound to notify the customers when the chat agent replies on their LiveChat. I really like this feature when I use online chat support on different systems, because many times chat agents take some time to check the issue and than get back, so the customer does not have to check time by time if they got a reply but they will hear the notification sound.

[2016-04-23 08:20] Molle500 commented on #2998
@geekgonecrazy @Sing-Li
The demo is on your chat so it's the latest version, but this has occured on all the versions atleast i have tried.

I've found out it only happends on Google chrome, not any other browser. I have tried on three different computers all with different graphic brands. Same problem on all three computers when using chrome.

I recorded it on my desktop to show you, if you enter

[2016-04-23 09:46] pqvindesland commented on #2997
No it does not give any options of selecting what compressed file type or if to encrypt it or not.

[2016-04-23 11:52] lvh1 commented on #2998
I know what you mean, but I think this is a bug with chrome itself as I have seen it happen on other websites as well, but not so often.

[2016-04-23 12:08] shtefcs opened #3013 "Sorting & Filters in Admin > Users"
I find it very useful to have some kind of sorting feature in `Admin > User` page.

At least by **registration date** .

![](http://content.screencast.com/users/shtefcs/folders/Jing/media/669b6080-63a1-4b17-b868-760ccb95c737/2016-04-23_1406.png)

[2016-04-23 14:31] lvh1 commented on #3013
You might want to blank out those emails, just for the sake of privacy.

[2016-04-23 14:39] kdahmani commented on #2869
I also think that from a compliance point of view it would be very important to be able to access all chats on the server

[2016-04-23 16:42] gcassel commented on #1723
Since Rocket Chat has emoji now-- thanks so much!--  how about adding a custom emoji function?

Some people in my teams would especially love that!

Any word from devs would be greatly appreciated.  :)

[2016-04-23 17:58] allytech opened #3015 "Feature Request - Time away next to name"
Your Rocket.Chat version: 1.2.0

I have quite a few production deploys and we typically replace Lync with Rocket.Chat.  The feature most requested by almost every single convert is a time away feature.  Something to tell you how long someone has been inactive or away.  I have created a rough screenshot of what I am requesting to try and clarify this request.  Love the product, it is a HUGE hit wit

[2016-04-23 18:18] bazarnew commented on #1723
very good tnx
<a href="http://doorgoo.chat">دورگو</a>

[2016-04-23 19:11] frdmn commented on #352
`ramin` from the RocketChat demo instance requested the same feature:

![](http://up.frd.mn/grWE3vwu9x.png)

If this ever gets implemented it would be nice if we could let him know 😁

[2016-04-23 19:24] AdrianoCahete commented on #3015
Just a tip: Every feature regards a user privacy, needs to be an user option. To be a more consistent, it's a two-way option (if user disable, he can't see from other user).

Something like WhatsApp's last seen, for example.

[2016-04-23 19:26] AdrianoCahete commented on #2998
Use [ScreenToGif](https://screentogif.codeplex.com/) to create a gif with just selected area (instead full screen) to show better.

[2016-04-23 19:34] AdrianoCahete commented on #2995
It's a entry for audit log, not email. If you have a huge user database, sendmail will have a lot of work (and admin email too).

[2016-04-23 19:50] allytech commented on #3015
In an enterprise environment there needs to be a way for only the admin to turn the feature on and off and not let the user have a choice.  Maybe have 3 options.  Admin all on, Admin all off and User choice.  That way it could fill the needs of more types of deploys.  The types of deploys we do where we replace Lync there is typically a company policy defining that people are subject to monitoring

[2016-04-23 20:29] AdrianoCahete commented on #3015
Yes, i completely forget that scenario, sorry.

This will fit all needs.

[2016-04-23 21:05] SoubaK commented on #1459
Hi
I'm re-opening this issue because I started using rocket.chat and a Windows Phone app is missing.
I want to create this app but I need help cause I'm not ver experimented in codin for windows phone.
If anyone is intrested, contact me :)
SoubaK, a newbie willing to help

[2016-04-23 22:08] Sing-Li commented on #3015
What about the 3 phones, 2 laptops,  and 5 tablets that the user has logged into rocket.chat with the same account?

When should a user  be deemed AWAY from a tablet or a phone or a TV box and how will you detect it?

[2016-04-23 22:11] shtefcs commented on #3013
Well, I was thinking about it, but that's 4 guys are people i know and i know that their emails are public visible on many sites.

You are mostly right, I wanted, but made quick calculation in my head, that I am not doing anything bad. Actually they would be probably glad if someone say hi to them :P

[2016-04-23 22:32] allytech commented on #3015
Good question, ideally each access point (tablet, phone, computer) would ping a central timer.  When a phone or tablet go to sleep they no longer ping the timer.  When the computer detects no activity it also stops pinging the central timer.  In an enterprise situation it would be difficult for an employee to be more than one place at a time.  If they were online with any device then the managers

[2016-04-23 22:35] AdrianoCahete commented on #3015
A more simple approach: Use the latest time.

[2016-04-23 23:19] allytech commented on #3015
People will chat in multiple channels, private groups or with individuals so we never really know the latest time someone replied as we cannot all see every place they chat.  The timer next to their names would simplify knowing how long someone has been out of touch.  It is also important to know how long someone has been away from their computer not just the last time they sent a message.  That i

[2016-04-23 23:24] Sing-Li commented on #3015
Phone, tablet and notebooks all runs on batteries. The concept of or ability to periodically ping anything remote when idling ... did not exist since PC desktop design days.

[2016-04-23 23:40] allytech commented on #3015
Exactly... if a laptop, phone or tablet go dark (idle, off) then the offline timer starts and lets everyone know how long the person has been away.  I do not know the best way to update a central idle timer but you have something like that in place now.  When a phone goes dark the @ symbol next to a users name in direct chat changes to yellow.  Even if the time away only showed in the direct chat

[2016-04-24 00:08] xPrcek opened #3018 "Hubot, incorrect password, ROCKETCHAT_AUTH=password"
Rocket.Chat latest build.
no SSL (not on port 3000)
export ROCKETCHAT_AUTH=password
local installation (no docker)
user/password is correct from web login
#general is lower case

Any suggestion please?

[code]

[2016-04-24 00:23] xPrcek commented on #3018
Mea culpa, it works. The password was really bad.

[2016-04-24 00:23] #3018 closed

[2016-04-24 05:01] allytech commented on #3015
I just re-read the last post and I think I may not have been clear.  I think that if the various apps send an 'im alive' ping only when they are active then the server would know to start the timer only when there is no contact from any active clients.  The Windows, Mac, Linux clients would stop sending the alive pings only when the mouse/keyboard have been inactive for a set period of time.  The

[2016-04-24 06:33] lunitic opened #3019 "Make a class per Roletag"
Today its not possible to do custom css per role. There is only one tag.

I would suggest the following change in packages/rocketchat-ui-message/message/message.html

[code]

Then every role will have a unique tag.

[2016-04-24 14:16] netdevfighter opened #3020 "Avatars can not be store on filesystem"
Your Rocket.Chat version: 0.27.0

The storage typ is:
FileSystem

The storage path is:
/srv/rocket.chat/avatars/ (directory has as owner rocketchat)

With the attachments works this without problems.

[2016-04-24 14:41] netdevfighter commented on #3020
After restarting the service ....it works .. ..but it was very clear that it requires a restart ...

[2016-04-24 19:58] pescobar commented on #2950
+1 for adding this as a global setting and user setting

[2016-04-24 20:06] pescobar commented on #2785
@engelgabriel is there any plan to get this feature back? It was working with previous releases and it was really convenient

[2016-04-25 07:16] sadeva commented on #3008
Hi @twhiting, you can edit it via the mongo console.

[2016-04-25 07:21] himbeere opened #3021 ""message too long" error"
Rocketchat Version 0.26.

Hello Devs.

When i try to paste a very long text in the chat window i get the error message: "message too long". What is the limitation here?

thanks and best regards
t.

[2016-04-25 07:40] twoutlook commented on #1209
In Chinese environment, users have much sense on their Chinese name, display name, instead of username.

[2016-04-25 09:05] SamiPussinen opened #3023 "Livechat feature: Tell the customer if there are no agents available"
0.26.0

The customer should be told about missing agents BEFORE he types a message not after the first attempt. Is this possible to be implemented?

[2016-04-25 09:27] zxweed commented on #2945
@geekgonecrazy, can you check this bug, please?

[2016-04-25 10:47] PavelVanecek commented on #2620
Current version of RocketChat already does this:

![image](https://cloud.githubusercontent.com/assets/1100170/14781591/c82fc6e8-0ae3-11e6-84e5-c9a19a7465aa.png)

It seems this was implemented in https://github.com/RocketChat/Rocket.Chat/issues/1245

[2016-04-25 12:15] marceloschmidt commented on #3021
The message length is limited by an administration setting under Administration / Message / Maximum Allowed Message Size. In the demo, this is set to 5000 characters.

![image](https://cloud.githubusercontent.com/assets/1986378/14783467/2bc0b820-0ac6-11e6-908f-ff9b0a97d92d.png)

[2016-04-25 12:15] #3021 closed

[2016-04-25 12:17] marceloschmidt commented on #3020
Let's make a note on issue #1492. I'll close this one in favor of that.

[2016-04-25 12:17] #3020 closed

[2016-04-25 12:17] marceloschmidt commented on #1492
As per #3020 it looks like changing Storage Type needs a restart as well

[2016-04-25 12:23] marceloschmidt commented on #3019
Instead of `class="role-tag-{{.}}"` we opted for `data-role="{{.}}` which can also be accessed in CSS and we won't have problems with spaces in role description.

[2016-04-25 12:23] #2620 closed

[2016-04-25 12:25] sampaiodiego commented on #1492
Just the avatar storage type @marceloschmidt ;)
the file upload storage type doesn't need a restart

[2016-04-25 12:57] lkraider commented on #637
@manuelbachl The script is a start, I tried to replicate what Slack provides for Jira Issue updates. This could definitely be expanded to have all types of events handled and maybe have some form of configuration options.

[2016-04-25 13:01] lunitic commented on #3019
@marceloschmidt Works too :+1:

[2016-04-25 13:01] #3019 closed

[2016-04-25 13:49] lkraider commented on #637
Here are some anonymized Jira webhook JSON data so people can identify other fields to extract:
https://gist.github.com/lkraider/c0eccf6677ce5372e5528dba7274763d

They are the output for issue updates only, including Resolved, Reopened, Worklog and Assignee change.

[2016-04-25 13:57] lkraider commented on #637
@Angl0r You can remove `icon_url` and `alias` from the `content`, like this:
[code]
This will make the message use the Bot details configured in the Rocket integration webhook settings.

[2016-04-25 14:17] rebeld opened #3026 "Jump to post from Search not working"
Your Rocket.Chat version: 0.27.0 (and demo.rocket.chat)

In the search results, clicking on the gear does not invoke the context menu so it's impossible to jump to the specific post.

Occurs in desktop app and web. Mobile (iOS) has different issues (I'll file as a separate ticket).

[2016-04-25 14:23] #2950 closed

[2016-04-25 14:26] #2675 closed

[2016-04-25 14:33] geekgonecrazy commented on #2945
@rocketchat/core any ideas why this stopped working?

[2016-04-25 14:35] sampaiodiego commented on #2945
I'm looking into it right now.
no idea why it stoped working though

[2016-04-25 14:47] marboxvel opened #3027 "Android App Doesn't connect to my newly created rocketchat server"
Rocket.Chat version: 0.26.0
Android app version: 2.3.1
I've installed the RocketChat server on my RPi2 arch arm distribution following this guide https://volumelabs.net/rocket-chat-raspberry-pi-2/
I configured apache with reverse proxy so I can access the server through https. By now, I had it working on firefox, windows desktop app and android web browsers. The problem is when I try to connect to

[2016-04-25 14:49] sampaiodiego commented on #3026
duplicate of #2945

[2016-04-25 14:49] #3026 closed

[2016-04-25 14:49] sampaiodiego commented on #2945
as metioned in #3026 it doesn't working on searches too

[2016-04-25 14:57] MrDragon commented on #2982
We have the same issue (posting because if Sing-Li's comment) - and I've almost convinced everyone to drop that Sl*ck thing... :(
I'm trying to use twhiting's approach in following the "build your own" instructions as to appease the relevant people where I work - possibly with killing the spellcheck libraries off (if i figure out how to do that)

[2016-04-25 15:27] jseadragon commented on #1593
+1, I'd love to see this get improved. Being a C++ developer,  I second everything that @joshkel said about the C / C++ syntax highlighting.

[2016-04-25 15:29] twhiting commented on #3008
Can you give me a quick walkthrough of how i'd do that?

[2016-04-25 15:30] jseadragon commented on #277
Is there any chance this will also skin the chat window background? I'd like to eventually create a dark theme for the whole window, not just the sidebar

[2016-04-25 15:31] engelgabriel commented on #1593
@rodrigok now that we have codemirror, should we use it for the Syntax highlighting?

[2016-04-25 15:32] twhiting commented on #2982
@MrDragon I didn't disable spellcheck, just built my own build and its working great for us.  Still wish we could get an official fix though its been weeks since the last release

[2016-04-25 16:28] #2945 closed

[2016-04-25 16:42] gramakri commented on #2992
@geekgonecrazy Removing description does indeed get back the old UI but IMHO this seems to be a workaround. I will open another ticket.

[2016-04-25 16:46] gramakri opened #3028 "Customize display of role tags"
Your Rocket.Chat version: 0.27.0

Each of user's role is displayed as a tag in the chat. This gets quite distracting (and very repetitive). Would be great to have this turn this display on/off.

The workaround in https://github.com/RocketChat/Rocket.Chat/issues/2992 is to remove the description. While that does the trick, the description should not be used to turn off role tags (after all it's the

[2016-04-25 16:47] graywolf336 commented on #3028
Feature was just added via #3025. :)

[2016-04-25 16:47] #3028 closed

[2016-04-25 16:56] engelgabriel commented on #277
Yes, 100% of the colours used on the UI will be configurable.

[2016-04-25 17:14] MrDragon commented on #2982
Sorry, the spellcheck idea was from a different ticket. But yes, I did manage to fumble my way through creating my own installer and, well, if I continue the sentence I'll jinx it. But so far I'd say I owe you a beverage for your tip ;)

[2016-04-25 17:19] pa-de-solminihac commented on #2737
👍

I intended to secure it with fail2ban but I did not find where these failed login attempts are logged. I am using https://github.com/RocketChat/Deploy.to.Cloud/tree/master/GenericLinux to deploy, with this `docker-compose.yml`:
[code]

Anyway, _5 per second_ is a much too high limit for my needs (and it does not seem to work, maybe I missed something?).

[2016-04-25 17:30] geekgonecrazy commented on #2982
@MrDragon so removing the spellcheck stuff seems to have helped?

[2016-04-25 17:33] #2943 closed

[2016-04-25 17:35] Sing-Li commented on #2982
Very likely to be a problem of Chromium compositor GPU optimization.

Can we please report some information on the Video Card hardware and Video driver version on the system(s) that have this problem. Thanks.

[2016-04-25 17:37] stevenhfotofix commented on #2982
Nvidia Quadro K620 - Driver version: 10.18.13.5382

[2016-04-25 17:44] giray commented on #2422
:+1:

[2016-04-25 17:51] sampaiodiego commented on #2896
If you want to move your file on S3, you can run the script above in your MongoDB to keep the files accessible from Rocket.Chat:
[code]

[2016-04-25 17:51] #2896 closed

[2016-04-25 18:03] sampaiodiego commented on #2747
@thiemol how big is your instance? how many users, messages and rooms?

also, do you have access to the database? if so, can you please run the following script and post here the response? thanks:

[code]

[2016-04-25 18:08] sampaiodiego commented on #3023
Yes, it is possible.

We are thinking on at least two possibilities:
* Do not show the livechat widget if there is no agents online;
* If there is no agent online, show a form to the customer send an email.

What is the expected behavior to you? Thanks

[2016-04-25 18:08] maxsdw commented on #3002
I have tested it only on 0.26.0. Refreshing or pressing ESC key helps to clear it away, but not always.

[2016-04-25 20:09] geekgonecrazy commented on #2995
@AdrianoCahete that's kinda what I was thinking.  An Audit log I think would be something enterprise types will for sure want.

[2016-04-25 20:11] geekgonecrazy commented on #1723
@gcassel custom emoji will require a bit more work.  We'll for sure keep it in mind.   If you'd like to open a Pull Request to add this functionality, it would get done faster :)

[2016-04-25 20:15] netdevfighter commented on #3027
The problem is your self-signed certs ... ;)

[2016-04-25 20:25] lunitic opened #3033 "Update the "Mobile Notifications Gateway Configuration" docs"
Android
To configure mobile notifications using the rocket.chat gateway:

Go to https://console.developers.google.com/ and create a project there.
Go to API Manager, and enable “Google Cloud Messaging for Android”
In API Manager, open the “Credentials” tab, click 'New credentials -> API key. In the window that pops up, choose “Server key”
Fill in the correct IP address from your server and Click “

[2016-04-25 20:54] sampaiodiego commented on #2127
Any user with the `add-user-to-room` permission (room owners and room moderators by default) can add an user to a room.

[2016-04-25 20:54] #2127 closed

[2016-04-25 21:06] lucasvanhalst commented on #3033
Actually I was mistaken, when using the gateway (and rocketchat app from the appstore/playstore) you don't need to do any of this and it should work by just turning push notifications on.

[2016-04-25 21:08] lunitic commented on #3033
This is what you need to do if you compile an own client.

[2016-04-25 21:10] lunitic commented on #3033
Your instruction worked to 95% :)

[2016-04-25 22:41] engelgabriel commented on #3008
What is the error on the browser console?

[2016-04-25 22:45] engelgabriel commented on #2646
Please reopen if the problem persists.

[2016-04-25 22:45] #2646 closed

[2016-04-26 04:35] twhiting commented on #2982
@geekgonecrazy Don't have to disable spellcheck.  Seems building a build myself fixed the issue, looks like it worked for @MrDragon as well

[2016-04-26 04:42] twhiting commented on #3008
@engelgabriel when I open the sidebar on my bot I get all this: (with sensitive info I left out about my domain)

[code]

[2016-04-26 07:54] stavros-liaskos commented on #1968
Same problem here, after enabling "Force SSL", I was locked out. I use Docker for both Mongo db and Rocketchat and Nginx for SSL. All these in a Vagrant box

[2016-04-26 08:49] zxy30 commented on #2001
I have the same problem: I already have a userid and password in my site, I'd like to skip the login portion.

[2016-04-26 08:52] iojeda opened #3034 "Send message from command line"
Hi Im writing here cause i dont know any better place to do it, please if this is not the place tell me where to post this question.

I want to send notifications to Rocket.Chat channels from a computer shell command line with a xmpp client or something like that.
How can I accomplish this? I mean... what protocol or way of connection do I have available in Rocket.Chat to do that? It's xmpp or any

[2016-04-26 09:02] zxy30 commented on #1206
@gtribut

@crazyshot did you find a solution for this ?
I have the exact same needs and didn't find yet how to achieve this.

me too!

[2016-04-26 09:02] zxy30 commented on #1206
@gtribut

@crazyshot did you find a solution for this ?
I have the exact same needs and didn't find yet how to achieve this.

me too!

[2016-04-26 09:21] pa-de-solminihac commented on #919
I am facing the same problem.

I have solved a similar issue when testing gitlab's embedded mattermost with gitlab as OAuth.

My (legitimate) certificate' authority (RapidSSL) was not in their _embedded_ cacert.pem file. I did not find a proper way of fixing this so I changed gitlab's cacert.pem file with this ugly trick:
[code]

[2016-04-26 11:15] SamiPussinen commented on #3023
The latter solution sounds better to me, because this way we would get a lead from that customer and they are left with a feeling that somebody will get back to them.

Great project, by the way.

[2016-04-26 11:26] giray commented on #2966
Fixed in 0.28.0

[2016-04-26 11:26] #2966 closed

[2016-04-26 12:05] rodrigok commented on #1968
Now we have a warning below the input field saying that you should not use that option if you are using a reverse proxy (apache, nginx, etc)

![image](https://cloud.githubusercontent.com/assets/234261/14817489/03a9590a-0b8e-11e6-850e-ba8a50f91189.png)

[2016-04-26 12:18] yoimbert commented on #3027
same probleme with Android with Let's Encrypt certificate.

[2016-04-26 12:34] flypenguin commented on #2966
btw - is there any point where you blog / publish / tweet / etc. information about new releases? :)

[2016-04-26 12:35] Sing-Li commented on #2966
https://github.com/RocketChat/Rocket.Chat/releases

[2016-04-26 12:38] Sing-Li commented on #3027
we do not support self-signed certs

[2016-04-26 12:39] #3027 closed

[2016-04-26 12:41] flypenguin commented on #2966
that's too easy (read: could have thought of that myself ;) . thanks!

[2016-04-26 12:48] Sing-Li commented on #3008
For security reasons, rocket.cat is a system-internal bot user that does not have email or password and can never login.  It should never be edited via the sidebar  (perhaps we should disable that for rocket.cat?).

If you need custom integration "bot user", please create a new normal user and assign it bot roles.

[2016-04-26 13:08] engelgabriel commented on #3008
We should care for this special case, we are build a bot editing interface.

[2016-04-26 13:29] Sing-Li commented on #3008
👍

[2016-04-26 13:30] davison commented on #637
with the script above (including lkraider's modification to the return content) I get the following error in the chat server logs:

```20160426-14:11:57.612(1) rocketchat_integrations api.coffee:165 Integrations ➔ Incoming WebHook.error   function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }      va

[2016-04-26 13:38] lkraider commented on #637
Not sure about the error, I am on 0.27 also.

Some Script examples can be found in the docs:
https://rocket.chat/docs/master/server-management/integration-and-webhooks/github
https://rocket.chat/docs/master/server-management/integration-and-webhooks/gitlab
https://rocket.chat/docs/master/server-management/integration-and-webhooks/sentry
https://rocket.chat/docs/master/server-management/integration

[2016-04-26 13:42] manuelbachl commented on #637
yes, those integrations mentioned by @lkraider are just examples. But those are quite easy to expand to full functionality if the payloads are documented good enough. We switched from Jira and Bitbucket to Gitlab a few days agow and also want to have the full integration. So if no1 is faster than us, Gitlab will be the next Integration right after completing JIRA which is already in progress ;-)

[2016-04-26 13:56] buhino commented on #2863
The problem was in the version of rocketchat, the livechat was in my panel but doesnt work. After to update 0.27 version works. Close issue

[2016-04-26 13:56] #2863 closed

[2016-04-26 14:22] davison commented on #637
strange, I simplified the script down to a hardcoded returned content block and still got the same error, then it suddenly started working, then after re-instating the original script it worked.  Do scripts get cached quite aggressively maybe?  Whatever, it seems to be OK for now, so thanks for the efforts on this - looks like it will be really useful for us. :)

[2016-04-26 14:57] bt opened #3035 "Code blocks deletes first word if without space"
Your Rocket.Chat version: 0.27.0

Hey guys,

Just have a minor bug in which, when I post a code block like such:

![screen shot 2016-04-27 at 12 56 22 am](https://cloud.githubusercontent.com/assets/1100843/14822680/e4b79176-0c12-11e6-8e26-1795b535fccb.png)

The chat message sent only shows the following:

![screen shot 2016-04-27 at 12 55 16 am](https://cloud.githubusercontent.com/assets/1100843/1

[2016-04-26 14:58] bt commented on #3035
Just noticed it happens on any word that is directly after the quotes.

[2016-04-26 15:01] graywolf336 commented on #3035
It expects the first word to be the language of the code being posted.

On Tue, Apr 26, 2016, 9:58 AM Bertram Truong <notifications@github.com>
wrote:

[2016-04-26 15:01] bt commented on #3034
I would suggest you create a new integration, then using something like cURL to make the request.

From **Administration > Integrations**

Create a new **Incoming Webhook**

Fill in the information, and at the end, it should give you an example cURL command line.

[2016-04-26 15:04] bt commented on #3035
Oh is that so?

I wonder if there would be a way to make it guess intelligently?

[2016-04-26 15:12] graywolf336 commented on #2532
Should we opt to not import the channel or should we make the channel creator the admin or rocket.cat?

[2016-04-26 15:18] graywolf336 commented on #2441
The issue turned out to be `Error: NamewithUmlauts is not a valid username, use only letters, numbers, dots and dashes [username-invalid]`.

[2016-04-26 16:12] yoimbert commented on #3027
I m sorry. But with my full certif not working on android.
Failed to connect to server abort.

[2016-04-26 16:13] yoimbert opened #3036 "connect own server with android tablet"
Your Rocket.Chat version: (make sure you are running the latest)

@Sing-Li
I m sorry. But with my full certif not working on android.
Failed to connect to server abort.

On ios all is ok. I think it can come from the port used. For me i used port 3000 with nginx reverse ...

I try on port 443 ... When i try with
http://url:3000 it's downloading file server but not display user / password for conne

[2016-04-26 16:32] Sing-Li commented on #3027
@yoimbert  that's a different problem.  Someone can help you if you come over to    https://demo.rocket.chat/channel/support

[2016-04-26 16:51] lucasvanhalst commented on #3035
It's like that on almost all services who implement this kind of markdown (for example here on github as well), so I would not change that behaviour.

[2016-04-26 17:03] lucasvanhalst commented on #1775
@engelgabriel I wouldn't close this issue just yet, you cannot close/disable URL previews yet, only images/embedded media.
The OP wanted to disable this:
![ ](https://i.imgur.com/Zx3Omcr.png)

[2016-04-26 17:03] twhiting commented on #3008
Is there anyway I can return rocket cat to its previous state or delete it all together?

[2016-04-26 17:04] engelgabriel commented on #3008
If you delete and restart the server.. it will be recreated.

Gabriel Engel

On 26 April 2016 at 14:03, Trent <notifications@github.com> wrote:

[2016-04-26 17:07] #2551 closed

[2016-04-26 17:11] Molle500 opened #3037 "Message bar Bug"
There are 2 bugs with your message bar.

1. If you write multiple lines of text and press on the send button(paper airplane) instead of pressing enter to send the message the bar will remain the same size and not reset. This also occurs on the phones no matter if you press (the send button (paper airplane), done button OR the return button). All three choices leaves the bar the same size as it was

[2016-04-26 17:45] lucasvanhalst commented on #277
for those that do not want to wait for this and would like a night theme, you could use this css and javascript to add a button to the flex tab bar which turns on a night theme:
CSS: https://gist.github.com/lucasvanhalst/1aff04d33a826afd2600696332c1c5ee
JS: https://gist.github.com/lucasvanhalst/35dcffa5cbfd704825debc4e83a2e30f
It's far from perfect but it's usable for now :stuck_out_tongue:

[2016-04-26 17:56] #2727 closed

[2016-04-26 19:25] shtefcs commented on #277
This is really nice :). gj

[2016-04-26 20:03] twhiting commented on #3008
@engelgabriel how would I delete the bot if I can't even access the edit menu? from the console?  Could you walk me through how to do that?  thanks

[2016-04-26 20:21] engelgabriel commented on #3008
What server version are you using?

[2016-04-26 20:49] mccambridge commented on #1746
+1 - I think the user wants to come back to the state they last left across the board. For instance, as a user, if I go out to lunch and have a room open on my desktop, when i open the app on my phone I would like the app to go straight to that room so I can maintain context. As a user, if I leave my work computer and pick up at my home computer, I would like the channel I had open at work to now

[2016-04-26 20:55] sampaiodiego commented on #2532
Maybe we could set as owner the user who is importing.

[2016-04-26 20:57] graywolf336 commented on #2532
Ah yeah, that'll work best.

[2016-04-26 21:28] graywolf336 commented on #2997
@pqvindesland Are you using the free version or the enterprise version?

[2016-04-26 21:31] graywolf336 commented on #2997
@RocketChat/core After doing some research and talking with someone else, it appears there are two different HipChat instances which we will need to support. The first one is the one which is currently there and working, the hipchat cloud. The second one is the one which is currently not there, the hipchat enterprise edition. Sadly though, this is a little more difficult to work with since it requ

[2016-04-26 22:15] yoimbert commented on #3036
Hi,

I have a problem with my Cert Intermediate CA.

Concatenate the SSL and Intermediate CA Certificate

You need to combine the ssl_certificate.crt file and the IntermediateCA.crt into a single concatenated file
To get a single concatenated file out of the Intermediate CA and the SSL Certificate run the following command:

cat IntermediateCA.crt >> ssl_certificate.crt

Rocket.chat on Android wor

[2016-04-26 22:15] #3036 closed

[2016-04-26 22:31] Kietil opened #3043 "When canceling an upload or paste text in:"
When a drag-into-window upload is performed but canceled, the window remains with the overlay on top. Switching channel, will not cancel the gray overlay "Drop to upload file".

Editing text outside the chat, and paste it in, will not format into rocket.chat standard. From win notepad into rocket.chat creates extra empty line after each line break.

Also. Editing large walls of text requires a pre

[2016-04-27 01:58] jlgore commented on #2238
Wondering this as well.

[2016-04-27 02:54] gaodoo opened #3044 "reverse proxy rocket.chat at other port"
Your Rocket.Chat version: 0.27
when i run a rocket.chat by docker behind nginx at other port.
there's something wrong with live-chat module .
when visitor post a message , the livechat ui echo 'token already used'

[2016-04-27 03:15] ndarilek opened #3045 "Please replace empty link hrefs"
I see the following in your changelog:

[code]

Please revert this commit. Empty link hrefs like the ones in packages/rocketchat-ui-sidenav/side-nav make my life as a screen reader user hell. They don't get keyboard focus, can't be interacted with and are sometimes invisible. I pretty much can't use a link with a missing href, so if you could revert this commit and add `href` to any links missing

[2016-04-27 03:25] ndarilek commented on #3045
To be more specific, my Sandstorm rocket.chat instance just updated. As a blind screen reader user, the following is now completely unusable to me via all of the following methods:

 * Tab to control, press Enter
 * Route mouse pointer to control via screen reader, simulate click
 * Use screen reader to search for clickable items and simulate click that way. None of the below are detected as click

[2016-04-27 03:45] engelgabriel commented on #3045
Hi @ndarilek and we are really sorry about that. We will fix it.
If the HREF the only way around this? He have many other buttons with actions, may we use the button role for this?

[2016-04-27 03:48] engelgabriel commented on #3045
Ref: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_link_role

[2016-04-27 03:50] ndarilek commented on #3045
If by role you mean tag, sure, you can make them button elements. Just
please don't leave them as links with extra hrefs, use divs, etc.
Buttons come with keyboard interactivity baked in and work great.

Thanks.

[2016-04-27 03:55] ndarilek commented on #3045
ARIA roles for these elements aren't the best idea. If you use a role
rather than a native element, you generally have to implement correct
keyboard interactivity (focus, respond to keypresses, etc.) manually.
The docs/specs say that you should get keyboard interactivity, but that
support isn't always present in browsers/screen readers.

Basically, if you want a link, then include a href. If you w

[2016-04-27 04:09] engelgabriel commented on #2895
You can change it directly on the DB using the following:
[code]

[2016-04-27 05:40] sadeva commented on #3008
Hi @twhiting, are you trying on your local environment or on a docker container?

[2016-04-27 06:07] engelgabriel commented on #2997
Maybe I can buy the starter licence of the enterprise edition? They used to offer for 10 USD for the first 10 users. Can you check?

[2016-04-27 06:40] pqvindesland commented on #2997
We are using the enterprise version, if you need an export then I can always setup a new server push some data into it and export it and send it to you if that would help.

[2016-04-27 06:41] gaodoo commented on #3044
the chrome-devtools console show : 'Error invoking Method 'stream-typing ':method not found.

[2016-04-27 06:51] engelgabriel commented on #2785
Yes, we will bring the full names back as an option to be used across the whole system, to display everywhere instead of usernames.

[2016-04-27 06:57] pescobar commented on #2785
thanks @engelgabriel . This would be really useful for us.

In our rocket chat instance we use ldap for authentication and we automatically assign the ldap uid as rocketchat username. The problem is that ldap uid is not always descriptive enough to know who is who in the rocketchat channels. Being able to autocomplete also on name (which we also get automatically from ldap) is really convenient in

[2016-04-27 07:05] engelgabriel commented on #2997
@pqvindesland This would really help!

[2016-04-27 07:05] cyberinvasion commented on #2032
Supporting this, we have a use case that would need a public archive available without having to join the chat, having a JSON export option (Preferably with a schedule and export to S3 bucket if I was being greedy) would make me a very happy person!

[2016-04-27 07:17] engelgabriel commented on #2084
Shall we close this issue?

[2016-04-27 08:15] flypenguin opened #3047 "Feature - in-app screenshot tool"
Your Rocket.Chat version: 0.28
I found that the possibility to make and send a screenshot from a messaging app is really useful in companies. I know that I can press "shift-print", select my area, open file manager, drag and drop it in rocketchat, but "click - select - enter" is way better IMO :)

[2016-04-27 09:03] jykae opened #3048 "Question: About meteor-accounts-saml differences"
We have difficulty getting SAML signature validation passing with steffow version that you have possibly forked. You have commented out some parts as well as these parameters, https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/meteor-accounts-saml/saml_utils.js#L240

Does that validate or what happens (hopefully not any skipping)?
It would be important to know that what happens as the

[2016-04-27 09:09] MichaelSavin opened #3049 "Permalink preview"
URL snippet referring to a message from the chat (permalink) should contain a text message. Now it looks like:
![snippet](https://cloud.githubusercontent.com/assets/1640229/14847346/94928088-0c81-11e6-8f06-dccf00786d4a.png)

[2016-04-27 09:28] zxweed opened #3050 "Slack import does not recognize the source file"
Your Rocket.Chat version: 0.31

The slack export bundle contains JSON-files only, but the servers returns "invalid import file type" error.

![image](https://cloud.githubusercontent.com/assets/16319433/14847839/77cb279c-0c73-11e6-950d-c4fe684fc3da.png)

[2016-04-27 10:16] marboxvel commented on #3027
And can you tell us why you don't support self-signed certs with android app and do support them with browsers?

[2016-04-27 10:19] yoimbert commented on #3027
I think the self signed there is no CA Intermediate. But I could be wrong. ( let's encrypt for example )

[2016-04-27 10:49] marboxvel commented on #3027
But they could program the app to work the same as the browsers. If they don't fix the android app to work with self-signed certs, I will have no interest in RocketChat since the android app is all I need.

[2016-04-27 10:53] lunitic commented on #2959
Ugly solution:
Could it be possible to hide them via CSS..
I see they have a class..

class="message  system uj"
class="message  system ul"

[2016-04-27 11:59] #3049 closed

[2016-04-27 12:04] bgupta commented on #2084
At the end of the day it will be very difficult to block a (sys)admin from seeing the details of something he manages. I like the confirmation dialog, as it does help, but at the end of the day, one needs to trust the admins, and they should have a way to deal with this. e.g. - I could see in some orgs where admins put people in their appropriate groups without being member of the groups themselve

[2016-04-27 12:07] marceloschmidt commented on #2084
We have decided to keep admins from getting into private groups (and direct messages). This issue solves the question about assigning a new room owner before the last owner leaves a room. Thanks @bgupta.

[2016-04-27 12:07] #2084 closed

[2016-04-27 12:09] thiemol commented on #2747
sure:

`> db['rocketchat_message'].getIndexes();
[
	{
		"v" : 1,
		"key" : {
			"_id" : 1
		},
		"name" : "_id_",
		"ns" : "rocketchat.rocketchat_message"
	},
	{
		"v" : 1,
		"key" : {
			"rid" : 1,
			"ts" : 1
		},
		"name" : "rid_1_ts_1",
		"ns" : "rocketchat.rocketchat_message"
	},
	{
		"v" : 1,
		"key" : {
			"editedAt" : 1
		},
		"name" : "editedAt_1",
		"ns" : "rocketchat.rocketchat_message"

[2016-04-27 12:35] Ron537 opened #3052 "Automatic login using external authentication service"
Hi there!

I've implemented SAML authentication in my Rocket.Chat application.
When a user wants to login, he have to click a separate button (for the SAML authentication) and only then (after clicking) he is redirected to the SAML provider service which is taking care of the authentication.

I think it would be great if you add an option to "automatic redirect" the user to the authentication serv

[2016-04-27 12:37] Ron537 commented on #3052
This all process is instead of waiting for the user to click the 'SAML LOGIN' button (in my case)

[2016-04-27 12:46] kruczjak commented on #3052
:+1: (in Custom OAuth)

[2016-04-27 13:12] lobocode commented on #2367
One way improvised by a parser, would be to use any RSS reader application (example, the newsbeuter), pick up one or more RSS each gitlab project (preferably master branch), make a DIFF between RSS reader and the downloaded file (to check for update , commits etc...), and generate an output of with Curl for the rocket. chat. It's a bad idea?

[2016-04-27 14:16] Sing-Li commented on #2982
Good news.    Please help test this version with GPU optimization disabled.

Please uninstall existing version, install this one, and run it for a few days on problematic system(s).

Please let us know if it solves the problem on those systems.

[installer for test solution to black squares problem](https://cdn-download.rocket.chat/build/rocketchat-v1.3.1-nogputest-win32-ia32.exe)

[2016-04-27 14:22] dupree972 opened #3053 "Cluster or HA setup"
Your Rocket.Chat version: 0.28

Has anyone set this up in a redundant or HA manner/clustered or have any guidance on how to do so.. Any help would be much appreciated. This is a critical requirement for us to deploy rocket.chat and I can't find any really docs or examples of what that would look like....

[2016-04-27 14:41] graywolf336 commented on #2997
@pqvindesland Yes, that would be extremely helpful!

[2016-04-27 14:44] pqvindesland commented on #2997
I will get it done this week and upload the export.

[2016-04-27 14:46] engelgabriel commented on #2367
@rodrigok can you help here?

[2016-04-27 14:50] rodrigok commented on #2367
@sandish2222 are you editing and saving the script via the admin page?

[2016-04-27 14:50] graywolf336 commented on #2997
Awesome, looking forward to it! :+1:

[2016-04-27 15:31] twhiting commented on #3008
I'm on version 0.28.0 and using a docker container

[2016-04-27 16:16] IQ2022 opened #3054 "Ability to show where logged from"
Is there a way to track where users are connecting from mobile vs desktop? can we show it under their name as connected from where?
example in facebook messenger it  shows that
Your Rocket.Chat version: (0.27)

![image](https://cloud.githubusercontent.com/assets/12454319/14859388/ef292566-0c71-11e6-98e3-0094df5487f5.png)

[2016-04-27 16:17] sampaiodiego commented on #2747
@thiemol ok, seems you have all indexes needed.
I'm still investigating what could be the problem.

how big is your instance? how many users, messages and rooms do you have?

our [demo server](https://demo.rocket.chat/) is one of the biggest servers I've known and we don't have such issue:
users: 58000+
rooms: 20000+
msgs: 450000+

[2016-04-27 16:41] clementchiew95 opened #3055 "Can't login"
Your Rocket.Chat version: (make sure you are running the latest)
0.28.0

It asks me to login from top right corner even though I am already logged in.

[2016-04-27 16:43] IQ2022 opened #3056 "email to post into a chat room"
if someone receive news letter, or alerts via emails in their inbox, is there a way to have those emails sent of forwarded into a dedicated room (keeping their rich text or have their own style) ??

[2016-04-27 17:08] IQ2022 opened #3057 "Show more user details in admin -> users"
can we show date registered/last seen in the user table ? also anyway to download the list?

also on top show total currently Logged, and ROLES.

![image](https://cloud.githubusercontent.com/assets/12454319/14860945/13851b2a-0c79-11e6-8d1b-fb92ddb1475b.png)

Your Rocket.Chat version: (make sure you are running the latest)

[2016-04-27 18:14] engelgabriel commented on #3008
@sampaiodiego can you understand why this error may be happening? Can we add some testes to prevent the script from braking because of a missing property?

[2016-04-27 19:16] tharude opened #3058 "Nick anti-impersonation"
Your Rocket.Chat version: 0.25
Let me suggest you to add an "anti-impersonation module" to Rocket Chat.
Once an user registers a nick name like J0el, all variances of this nick like JOel, JoeI etc. to became unavailable for registration.

[2016-04-27 19:34] sampaiodiego commented on #3008
the query we were using to set user's email was creating an object if the user hasn't an email before (fixed in e6b58eb99ce51b2248bb70ab1fce7491a38dbe27)

I just added some tests to the case mentioned above (see 1b8f98fcd58b9ec733107b67bfab77f069d21686).. but it can happens in many other places..

[2016-04-27 19:43] punkrock commented on #3058
Especially the problem with uppercase "i" and lowercase "L" is important, because joeI =/= joel

[2016-04-27 20:33] mrdomino commented on #3055
I had a user on my (Sandstorm-based) rocket.chat mention this as well. He could log in with chrome, but not firefox. This didn't show up until after the 0.28.0 upgrade afaict.

[2016-04-27 20:36] IQ2022 opened #3059 "SMS out of Rooms"
I see we have SMS in live chat, can this be setup for a room to post alerts to mobile numbers - users need to subscribe with numbers

[2016-04-27 23:47] cbrummitt opened #3060 "Indicate level of activity within channels when browsing the list of public channels"
I'd like to see **indicators of how active public channels are** when browsing the list of public channels. This would make it easier to find active, lively channels, especially in a large community with dozens of public channels.

After clicking "More channels..." we currently see a list of channels that we can sort by name or by number of messages:
![image](https://cloud.githubusercontent.com/as

[2016-04-28 01:09] sandish2222 commented on #2367
@rodrigok i solved this issue. Just treat rocket chat as slack for gitlab instead of using webhook script.

it works well.

[2016-04-28 01:18] flarehl commented on #1180
I'm new to open source but was assigned a project to contribute to one, I'd be interested in seeing if I can manage to get it working.

[2016-04-28 03:24] #2900 closed

[2016-04-28 03:30] engelgabriel commented on #3047
What OS are you using?

[2016-04-28 03:32] engelgabriel commented on #3047
Can't you take a screen capture into clipboard and just paste on Rocket.Chat? I do it on the Mac all the time.

[2016-04-28 06:20] zxweed commented on #3050
Hello, @graywolf336, @geekgonecrazy. Tell me, please, is there a way to import slack history in it's current format (only json-files)?

[2016-04-28 06:59] flypenguin commented on #3047
sure I can. And Win, or Linux? And the people who don't know CMD-CTRL-Shift-4, or don't have Macs, which is about everyone else in my company and most of the ones before? ;) You're completely right that most OSs have this built in, I just think as a shared team solution it might be convenient ("nice to have" fits pretty well) to those people who don't know how to quickly access this, which is "mos

[2016-04-28 08:30] toupeira opened #3061 "Add role for external users"
My Rocket.Chat version: 0.28

I'm trying to add a new "guest" role for external users, they should only be able to see channels they were explicitly added to by internal users, and have normal access to DMs/private groups. If the role doesn't have any permissions at all, I can view channels I'm a member of by their direct URL, but they don't show up in the sidebar. If I give the `view-c-room` perm

[2016-04-28 08:58] RichardFoxworthy commented on #825
While waiting for Read Only channels to become officially supported, is it possible to set up a default channel, then create a bot or some other API implementation that can auto-mute every new user that registers in the chat service and is enrolled into that channel? That would effectively create a read-only channel that all users would be subscribed to, right?

[2016-04-28 09:42] iojeda commented on #3034
Thank you very much for your kind help. This was of great help and solved the issue.

[2016-04-28 09:42] #3034 closed

[2016-04-28 10:32] bt commented on #3035
Sorry for the late reply.

So on GitHub, using the same example would yield the following:

[code]

Compared to if I prefix it with `javascript` then it will perform syntax highlighting, like so:

[code]

[2016-04-28 11:56] shtefcs commented on #2977
As @sadeva  said, it was blocked port on Digital Ocean.

Thank you mate for pointing me out.

I will close this issue now.

[2016-04-28 11:56] #2977 closed

[2016-04-28 11:59] shtefcs commented on #1118
@Sing-Li not sure about 10 user limit, didn't use hangout myself, but was part of some high traffic broadcast, it was worked without problems.

I just talked with the guys from https://www.designveloper.com/, they integrated Hangout OnAir API into streaming platform they just built with meteor https://www.crowdr.tv/

[2016-04-28 12:01] shtefcs commented on #2157
Registration problem solved with fixing DO port for emails

[2016-04-28 12:01] #2157 closed

[2016-04-28 12:02] shtefcs commented on #2856
This would be really handy, i repeat, really handy :D

[2016-04-28 12:08] lobocode commented on #2367
@sandish2222 can you explain how you did it?

[2016-04-28 12:27] zxweed opened #3062 "Add a permalink button to the Pinned/Starred menu"
Your Rocket.Chat version: 0.29

![image](https://cloud.githubusercontent.com/assets/16319433/14885732/be099f44-0d55-11e6-9a9d-100b274cca02.png)

[2016-04-28 13:00] engelgabriel commented on #3047
I agree, it is definitely a nice to have. We would welcome contributors for that.

Do you know if this work on windows?
http://windows.microsoft.com/en-us/windows/take-screen-capture-print-screen#take-screen-capture-print-screen=windows-8

Maybe as a stopgap, we could have this command on a quick help button.

[2016-04-28 13:03] quinox opened #3064 "Message search is affected by text markup"
Your Rocket.Chat version: 0.28.0

Current behaviour:
- Write a message in a room: `/me foo bar baz`
- Search the room for `baz`, you'll get 0 results
- Search the room for `baz_`, you'll get your line back

Expected behaviour:
- The user should not have to specify _ to search for words from `/me` sentences

[2016-04-28 13:09] genesplicer commented on #2963
This is my current placeholder solution, until you guys will eventually provide elegant code.

At my institution, CAS id is user email (Ex: `user_id@texas.edu`). So I added a setting to provide CAS mail domain and then I auto verify email address since user can "only" login with CAS login ID where we are and since I keep getting "Error sending confirmation email" from "My Account => Profile".

`th

[2016-04-28 13:40] corecache commented on #2963
Basically that's an ugly workaround to support importing email addresses under CAS 1.0 which only works in your very special case. This workaround will not be upstreamed as it completely circumvents the CAS protocol, but feel free to maintain it as a personal patch to re-apply after version upgrades.

[2016-04-28 14:12] quinox opened #3065 "Convert Hipchat special messages to native format"
Your Rocket.Chat version: I ran the migration a while ago on 0.25

After importing users and chat from a Hipchat dump all the "special" messages were shown as regular text in Rocket.chat. I had to fix the following:
- Hipchat's `/code foo\\nbar` should be replaced by `'''\nfoo\nbar'''`
- Hipchat's `/me foo bar` should be replaced by `_foo bar_`
- Hipchat's `/quote foo\\nbar` should be replaced by

[2016-04-28 14:49] thiemol commented on #2747
@sampaiodiego  as i said, it is a small instance :)
users: 17
rooms: 23
msgs: 1200+

All other functions are working perfect, so if i find the cause of the issue, i'll post it here.

[2016-04-28 14:50] kiwano commented on #3055
I am the user mrdomino mentioned, and on iceweasel 38.7.1, I get the message:

"You must login to Sandstorm (on the top right) in order to access this chat." when already logged-in (I can see my username in the top right corner; my account for that particular sandstorm instance uses my gihub credentials).

The errors in my console at this time are (most of them seem to be repetition of the same er

[2016-04-28 15:10] Sing-Li commented on #2747
@thiemol  - thanks!

As @marceloschmidt  requested earlier - it will be helpful if you can tell us what machine or VPS configuration you are running on -   number of cores?  size of memory?  size of disk?  OS?

Just "free mem available" is not meaningful.

[2016-04-28 15:13] sampaiodiego commented on #2747
oh, this error on a small instances is even worse .. :disappointed:

[2016-04-28 16:16] thiemol commented on #2747
@Sing-Li @marceloschmidt
VPS: 3.13.0-042stab112.15 Ubuntu 14.04 minimal
RAM 8GB Free 7GB
Disk 286GB Free 281GB
Cores: 4

[2016-04-28 16:35] lobocode opened #3067 "Gitlab webhook doc"
I put the javascript that is the rocket documentation.chat to generate hooks for gitlab, and is giving this error message:

`rocketchat_integrations api.coffee:165 Integrations ➔ Incoming WebHook.error   function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError('Cannot call a class as a function'); } }      /*jshint  esnext:true*/   // see http

[2016-04-28 16:43] genesplicer commented on #2963
Yes. I know it is an ugly workaround as I mentioned but it gets the work done for time being.

[2016-04-28 17:06] Sing-Li commented on #2747
@thiemol   thanks again.

Can you also let us know:

1) your mongo server version
2) the CLI (command line) switches/flags you used when starting mongo
3) if you are running the mongod on the same VPS server
4) if you are running other app that uses mongo against the mongo db server

[2016-04-28 17:15] thiemol commented on #2747
@Sing-Li Thanks for the support
1) db version v3.0.11
2) export MONGO_URL=mongodb://localhost:27017/rocketchat
3) yes
4) no

[2016-04-28 17:19] frenchsquared commented on #1824
The current routing of sending new chat to agent with lowest count is not usable in a business environment.

Agent A and Agent B both answer 20 chats on Monday. Agent B takes off Tuesday so Agent A answers 40 chats. On Tuesday Agent B will get the first 40 chats while Agent A does nothing

Agent A starts work at 10 am and works for 1 hour taking 25 chats. Agent B starts at 11 am. Agent B will get

[2016-04-28 17:22] geekgonecrazy commented on #825
@RichardFoxworthy that sounds like a very plausible solution. We have a way for the bot to call methods on the server.  So you would just need to give the bot user the privileges required to mute.

Also possibly would need the bot to be able to subscribe to the channels user list so it can see when people are added.  A functionality we don't currently have.  But wouldn't be too complicated to add.

[2016-04-28 17:23] geekgonecrazy commented on #3050
@zxweed the import expects the zip file that is given to you by a slack export

[2016-04-28 17:23] frenchsquared commented on #1824
What happens when an agent leaves a room and the customer comes back?

As of now... a customer returns to the chat weeks later and they are in the same room. The agent left this room weeks ago. Agents have to leave rooms. They cannot have hundreds of rooms listed in there navigation. Now.. the customer is sitting in the room alone asking for help and no one will ever know. That will cause very unh

[2016-04-28 17:25] geekgonecrazy commented on #1180
@flarehl we welcome pull requests.  Feel free to take a crack at it :+1:

[2016-04-28 17:29] geekgonecrazy commented on #2982
@twhiting I think which ever computer was used to build had the spellcheck module left over from a previous npm install.   Because I noticed building my self I also didn't have this problem.

[2016-04-28 18:01] twhiting commented on #2982
@geekgonecrazy glad we found a fix :+1:

[2016-04-28 18:15] zxweed commented on #3050
@geekgonecrazy, I have tried the zip file too with same results:
![image](https://cloud.githubusercontent.com/assets/16319433/14896408/44df3f62-0d86-11e6-8267-c58f04bf2d55.png)

[2016-04-28 18:49] engelgabriel commented on #2747
Is your MongoDB running in replica set mode?

--
Sent from Mobile

[2016-04-28 19:21] geekgonecrazy commented on #2982
Going to close this issue in favor of: https://github.com/RocketChat/Rocket.Chat.Electron/issues/150  I think this is resolved, but lets consolidate so we can update one issue.

Thanks!

[2016-04-28 19:21] #2982 closed

[2016-04-28 20:48] Sing-Li commented on #2747
@thiemol  No problem.  For item (2)

Please let us know how you startup your Mongo SERVER (not the client).  What command line switches and flags are you using to start-up the server?

A mongo server can take up to 1 GB or RAM by itself when starting up. Curious to see you have both RC and mongo server running and still have 7 GB out of  8GB free.

Thanks again.

[2016-04-28 20:48] rsvdl opened #3069 "Question: Debug log showing plain text LDAP credentials"
Your Rocket.Chat version: 0.28.0 Docker

Hi Github,

No clue if this is working as expected or if it is something more serious:
When enabling debug logging under "Administration -> Logs -> Log Level 2" all succesful LDAP login usernames and passwords are logged in plain text under the "View Logs" option.

Is there any way to hide this information when enabling debug logging?

Thanks a bunch!

Exam

[2016-04-28 22:54] flarehl commented on #862
Switching issue from other feature request of images opening as download. I'll take my name off the other one in a bit.

[2016-04-28 23:09] RichardFoxworthy commented on #825
Hey @geekgonecrazy that sounds hopeful - could you point me toward any doc or example of how to get a bot to call methods on server?

I already have a Hubot script that can detect when a new user joins the channel, and send them a welcome message.

I am thinking I could extend this functionality to also /mute each new user in the default 'Announcements' channel that I want to support.

[2016-04-28 23:22] paulproteus commented on #3055
Hey @jparyani does this mean something to you? :)

[2016-04-28 23:22] paulproteus commented on #3055
Hey @jparyani does this mean something to you? :)

[2016-04-28 23:34] paulproteus commented on #3055
Hey @jparyani does this mean something to you? :)

[2016-04-28 23:47] paulproteus commented on #3055
(UPDATE: An extremely laggy connection resulted in me submitting the same thing 3 times. Sorry about that.)

[2016-04-29 00:50] ChristianFusco commented on #2786
#3072 I think I made a decent fix for this.  I'm not sure if it's in the file you want it to be in, but I'll move it wherever you'd like.

[2016-04-29 01:20] geekgonecrazy commented on #825
@RichardFoxworthy You can call methods on Rocket.Chat from the bot like this:

[code]

so something like this:

[code]

[2016-04-29 05:30] #2994 closed

[2016-04-29 06:56] hoanpv3993 opened #3073 "Error when upload file to Rocket Chat in subfolder"
Your Rocket.Chat version: 0.28 (make sure you are running the latest)

Hi,
I have some problem with Rocket Chat in subfolder
- I can chat via web but can't access via App on Mobile
- When I upload any file, it can't display with Image, text,.. and I can't download it too.
Can you help me resolv them ?

This is error when i upload a photo.
![1](https://cloud.githubusercontent.com/assets/18733189/14

[2016-04-29 07:01] Laisky commented on #2509
+1 important for company

[2016-04-29 07:05] Laisky opened #3074 "New Feature: screenshot"
Your Rocket.Chat version: v0.28

It could be very useful if user can take a screenshots in chats(channels or private groups).

for example, add a screenshot button near the "file upload button". after click the screenshot button, people can drag and capture the region they choosed.

[2016-04-29 07:06] Laisky commented on #3074
click submit by accident...

[2016-04-29 07:43] ramedlawH opened #3075 "No Desktop Notifications on Linux/Gnome"
Your Rocket.Chat version:0.27
Rocket.Chat Client: 1.2.0
OS: Linux / Gnome

I cannot receive any desktop notifications from the client, although its enabled.
If I run a "Test Desktop Notifications" inside the client, it works.

I don't receive any notifications if someone mention my name or inside direct messages.

[2016-04-29 11:37] thiemol commented on #2747
It is not runnung in replicat set mode.
I follow the tutorial, so i starts mongo with the default configuration.

The content of mongod.conf is
[code]

[2016-04-29 11:53] sadeva commented on #3074
Hi @Laisky, I don't think if we need this feature. You can do that using `PrintScreen` utility on your OS, or use a browser extension.

[2016-04-29 12:12] #2628 closed

[2016-04-29 12:12] #2962 closed

[2016-04-29 12:18] #2786 closed

[2016-04-29 12:28] marceloschmidt opened #3078 "Create a bot editing UI"
Started conversation at #3008. We need a UI to edit the bot, including the ability to add picture, set name, etc.

[2016-04-29 12:28] marceloschmidt commented on #3008
This will be closed as a bug. Just opened #3078 for the new UI issue.

[2016-04-29 12:28] #3008 closed

[2016-04-29 12:46] irmela commented on #2903
I'm getting the same error with the RocketGif Integration. It worked at first and then stopped working and creating this error. Restart Server didn't work.
Version: 0.28.0

`Exception in callback of async function: Error: [methods] joinRoom -> Not allowed [403]     at [object Object].Meteor.methods.joinRoom (server/methods/joinRoom.coffee:10:14)     at [object Object].methodsMap.(anonymous functio

[2016-04-29 13:29] #782 closed

[2016-04-29 15:04] diegoprates commented on #2925
Hi, I would like to start contribing to this project, I will submit a PR for this.

[2016-04-29 15:09] Sing-Li commented on #2925
@diegoprates  it is yours now :)  please reference this ticket in your PR when ready.  thanks

[2016-04-29 16:17] ksuquix commented on #3052
+1 (for CAS in my case, but same thing)

[2016-04-29 17:12] twhiting commented on #3008
No my issue hasn't been resolved, I'm trying to find a method of deleting rocket.cat once the name has been changed

[2016-04-29 17:58] marceloschmidt commented on #782
Fixed in https://github.com/RocketChat/Rocket.Chat/commit/7d180866b98142211d09b0ed0da768edeb48ba1b

[2016-04-29 18:00] thiemol commented on #2747
Ok after installing a second instance and import the last backup i get the same issues. So i imported the collections one by one and the failure only appears, when i import the rocketchat_statistics collection.
So i tested in the second instance to drop the collection and after the refresh the failure was gone.
I did the same on the first instance and it worked as well.

Solution: Drop and rebuild

[2016-04-29 18:00] #2747 closed

[2016-04-29 18:13] flarehl commented on #2925
@Sin-Li I know I forgot to submit a post here, but I did manage to get a basic copy to clickboard functionality added to code blocks, the commit can be seen above diegoprates comment. I already submitted a pull request for this issue, I don't know if that will change anything.

[2016-04-29 18:26] sampaiodiego commented on #2747
@thiemol thanks for the information =)

because of it we found the problem.. I just fixed it in 567ea3a
so, it shouldn't be a problem (to anyone) any more.

thank you

[2016-04-29 18:36] geekgonecrazy commented on #2982
Just to close the loop:  Please download the new Windows installer from the release page: [here](https://github.com/RocketChat/Rocket.Chat.Electron/releases/tag/1.3.1)

If you're seeing graphical glitches other then just full blackout try out the build @Sing-Li Posted: [GPU-Accel Disabled Windows Build](https://cdn-download.rocket.chat/build/rocketchat-v1.3.1-nogputest-win32-ia32.exe)

In the futu

[2016-04-29 18:42] marceloschmidt commented on #3074
I agree with @sadeva
Why would you need such a thing, @Laisky ?

[2016-04-29 18:54] marceloschmidt commented on #3073
What are your file upload settings?

[2016-04-29 19:30] TheReal1604 opened #3081 "Lowercase rule for channel name not obeyed when updating a channel"
Rocket.Chat 0.62.0 ensures new channels are always created with a lowercase name but when the channel is edited the lowercase rule is not applied and uppercase letters can be used in the name.

[2016-04-29 19:47] marceloschmidt commented on #3035
Github will not render if it's in the same line...

[code]

But if you want to make a PR that will accept this as
[code]
and identify if the first word is a language, it would be great...

[2016-04-29 19:51] marceloschmidt commented on #3033
Would you be so kind and create a PR for us in https://github.com/RocketChat/Rocket.Chat.Docs/ ? That would be great! Thanks!

[2016-04-29 19:56] marceloschmidt commented on #2993
It's been merged. Has this been solved?

[2016-04-29 19:59] marceloschmidt commented on #2990
It should be OK to update user preferences, but exactly how are you going to do this? Are you going to update all users once, or is it going to be something to be run on every new registration? What's the use case? Thanks.

[2016-04-29 20:33] twhiting commented on #1615
+1

[2016-04-29 20:41] twhiting commented on #3074
@Laisky if you on windows use the *snipping tool* its exactly what your looking for

[2016-04-29 20:48] twhiting commented on #3047
@flypenguin On windows use the "Snipping tool" its awsome.

[2016-04-29 21:41] hooramin opened #3082 "Download Manger try to download contents automatically !"
( even in last version of demo )
Hi
i faced with this problem every time , after that i login to main chat page ,my download manager (i use IDM) try to download some content from page ...
is there any way to block them from detecting downloadable contents ?
some URL s that every time detected :
https://demo.rocket.chat/sounds/notify.ogg
https://demo.rocket.chat/sounds/door_chime.mp3

i should say