[2018-03-15 03:28] fifou17 commented on #10068
thank you @karlprieb @theorenck

[2018-03-15 06:12] TomaszDom commented on #10114
FWIW, I'm running 0.62.2 dual instance with oplog enabled and latest node lts version (8.10.0) with no issues.

[2018-03-15 07:45] yuri-sakharov commented on #9652
I got the same on webpack dev server that not relates to rocket chat

[2018-03-15 08:37] ecoitsolutions commented on #10142
I confirm the issue, no mobile push notifications and also "send a push to my user" button produces the following error: "There are no tokens for this user"

[2018-03-15 08:43] bbrauns commented on #10114
@sampaiodiego oplog has always been activated:
[code]

[2018-03-15 09:04] 26prajval98 commented on #5453
Is this issue fixed  ??

[2018-03-15 10:13] subesokun opened #10147 "User status indicator layout issue"
### Description:

When users have a long user name then the status indicator in the Direct Messages lists are not getting rendered correctly.

![screen shot 2018-03-15 at 11 06 49](https://user-images.githubusercontent.com/6920421/37457101-53e54bc8-2841-11e8-8b15-35416a54ea49.png)

Especially if the avatars are visible the space for the user name gets even smaller so for most of our users the stat

[2018-03-15 11:04] AltGr commented on #404
With Slack dropping XMPP support, this would be a huge argument in favor of Rocket.chat for me.

[2018-03-15 11:09] hduarte commented on #3551
Still affects 0.62.1

[2018-03-15 11:22] robindijkhof opened #10149 "Email not verified by clicking verification link"
### Description:

After clicking the verification link the user is redirected to the login page. When the user tries to login it gets a message saying the user is not found or the password is incorrect. When checking as admin, the user is still unverified.

### Server Setup Information:

* Server Setup Information:
* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu 16.04 LTS
* Depl

[2018-03-15 11:45] robindijkhof commented on #10149
Workaround for now is to fill in the password forgotten form.

[2018-03-15 12:40] danymanya commented on #7244
@rafaelks not problem, this issue not happening now. With a fresh installation and new rules in my firewall solved that. Thanks a lot.

[2018-03-15 13:43] brtptrs commented on #10114
We had a similar problem which seems to have disappeared after downgrading to node 8.9.4.

[2018-03-15 14:44] pauloriply commented on #10114
Same problem with installeed rocket.chat via snap... I have no idea what can be done to raise the server

[2018-03-15 14:55] rafaelks commented on #7244
Amazing! Closing it for now 👍

[2018-03-15 14:55] #7244 closed

[2018-03-15 15:27] Darktimr commented on #9543
It would be great, if other users in this channel get an popup on the side by entering the channel.

[2018-03-15 15:50] laptopdude90 opened #10150 "List of settings where external servers are involved by default?"
I dislike having my server communicate with other servers. As such I'd like to disable that anywhere I can find it. For example, the STUN/TURN servers under WebRTC, and the gateway server under Push. Is there anywhere else that external servers are referenced?

[2018-03-15 16:19] reetp commented on #9943
@rodrigok Thanks for looking !

I'm currently away on business so can't do much until I get back this weekend. I'll have a look as soon as I am back.

[2018-03-15 16:20] AleksanderGrzybowski commented on #10114
Same here, I wanted to try this out, but it crashes on the first restart, for now I'll pick older docker image, but would really like to see it fixed :)

[2018-03-15 18:32] #6859 closed

[2018-03-15 18:35] #7844 closed

[2018-03-15 18:35] rodrigok commented on #4552
Closed via https://github.com/RocketChat/Rocket.Chat/pull/9726

[2018-03-15 18:35] #4552 closed

[2018-03-15 18:39] #9548 closed

[2018-03-15 19:23] #8336 closed

[2018-03-15 19:29] #9941 closed

[2018-03-15 19:30] #8519 closed

[2018-03-15 19:46] theorenck commented on #10126
Hi @pinguinpfleger thanks for bring it to our attention. Sadly its not on our top priorities right now BUT we gladly accept PR for this one.

[2018-03-15 20:42] rodrigok commented on #10140
@guidowojke I wasn't able to reproduce your issue, can you remove all files related to Rocket.Chat and try again from scratch?

[2018-03-15 21:04] gdelavald commented on #9543
@Darktimr we are looking into a better way to notify users that a channel has an active broadcast, right now the users has to be actively looking for it to find it and we don't feel like this is the best UX right now.
Thanks for your suggestion, this is something we are aiming to improve in the future.

[2018-03-15 21:54] cinderblock opened #10153 "Custom Integration content_raw possible regression"
### Description:

Custom Integration `request.content_raw` does not contain request.

Maybe I'm doing something stupid but I can't figure this out.

I'm trying to create a simple custom integration that accepts `text/plain` content. I cannot get raw request information as expected in `content_raw`. I seem to get a `String` with value `[object Object]`.

My first thought was that it was some comple

[2018-03-15 22:18] theorenck commented on #10135
Hi @DanielRuf we currently only support plain text/markdown, for that reason to paste directly form word/office does not work. I agree that maybe we should have a better error handling for that but right now it was not on our roadmap to do that. We gladly accept PRs for that issue if you're willing to do so. Thanks for reporting it anyway.

[2018-03-15 22:18] #10135 closed

[2018-03-15 22:28] theorenck commented on #10136
Hi @gcommit, thanks for bring it to our attention. Can you check if the problem persists on the 0.62.2 version?

[2018-03-15 22:29] theorenck commented on #10137
Thanks for reporting it to us @kaiiiiiiiii.

[2018-03-15 22:31] theorenck commented on #10142
Thanks for reporting it to us @Drangleic. Hey @sampaiodiego, can you take a look in to this one?

[2018-03-15 22:37] theorenck commented on #10143
Hi @ubarsaiyan thanks for the suggestion. How about submit a PR to us with your idea? 😃

[2018-03-15 22:46] sampaiodiego commented on #10142
we have changed push gateway DNS recently. can you guys please confirm `gateway.rocket.chat` is resolving to `104.196.189.8` on your serves?

[2018-03-15 22:49] rafaelks commented on #10145
Closing it, will send the question internally for you @MarcosSpessatto.

[2018-03-15 22:49] #10145 closed

[2018-03-16 02:48] szluohua commented on #10070
ok,thank you

[2018-03-16 02:48] #10070 closed

[2018-03-16 06:51] aberkvam opened #10155 "Rocket.Chat won't load when being run out of a sub folder"
### Description:

Rocket.Chat won't load when being run from a sub folder in Apache (as per https://rocket.chat/docs/installation/manual-installation/running-in-a-sub-folder/ ).  This seems to be because assets are being specified with absolute references.

There are two categories of errors.  The first category is simple static URLs that start with a slash.  I was able to work around these with t

[2018-03-16 07:40] golimer opened #10156 "error when trying to start trial"
Internal Server Error. If issue persists please contact support

[2018-03-16 08:05] gcommit commented on #10136
Hi :)
Unfortunatly it does. It appears on 0.62.x

[2018-03-16 08:33] Darktimr commented on #9543
@gdelavald good :)

You could add something like a playbar before the rouminformation icon.

Like this or something similar: [playbar](https://www.google.de/search?q=musik+play+bar&source=lnms&tbm=isch&sa=X&ved=0ahUKEwic3Iv5tvDZAhVL_aQKHT0aDG4Q_AUICygC&biw=1920&bih=1069#imgrc=l7M9gOuSTqEOAM:)

[2018-03-16 09:41] ubarsaiyan commented on #10143
@theorenck I will be happy to work on this issue :)

[2018-03-16 11:00] gabrielloberg commented on #9112
Still an issue on 0.62.1

[2018-03-16 12:27] maxdang365 opened #10157 "Create channels, but can't display full chinese text error"
Rocket.Chat version: (snap 0.62.1)
Client version: Rocker.Chat+2.10.5

When I want to create a channel, inputting Chinese through the Chinese input method will display all the Chinese character roots. In fact, after all the roots are determined, the last Chinese character will be displayed. This problem only occurs in the channel text field of the generated channel. With user name text field.

E.g

[2018-03-16 13:12] guilhermecfviana opened #10158 "[BUG] Allow reactions missing translation"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Linux x64 (ubuntu)
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.9.4

### Steps to Reproduce:

![permissio room](https://user-images.githubusercontent.com/17053653/37522183-f2a3ea56-2901-11e8-9d67-814ca0dba6

[2018-03-16 13:13] guilhermecfviana commented on #10088
@theorenck Unfortunately I do not have anything else to help you. "/

[2018-03-16 13:34] tranduyhung commented on #10149
I just installed Rocket.chat via Docker and got the same issue.

[code]

[2018-03-16 17:46] dandingol03 opened #10161 "Cannot find module '../build/Release/sharp.node'"
Hi
   When i use `meteor npm start` command, it throw exception in callback of async function: Error: Cannot find module '../build/Release/sharp.node'.Here is my log:
[code]

[2018-03-16 18:06] JoeatMJ commented on #10043
I am having the same problem. Same info as the first post. Same config with SNAP. Any updates?

[2018-03-16 18:16] mddvul22 commented on #10024
This is happening for me on the Rocket Chat demo server, using either firefox or Chrome in landscape mode.  The below screenshot is from Firefox 52 ESR.

![screenshot-1521224059](https://user-images.githubusercontent.com/6833993/37537631-310bd596-291c-11e8-8f8b-f6f800176744.png)

[2018-03-17 01:36] #10107 closed

[2018-03-17 01:49] gigawhitlocks commented on #10107
I think this is covered by #33211

[2018-03-17 02:08] chrisbennight commented on #9968
Clicking on another channel (which will also be blank) - then clucking back to the original channel restores text (for the original channel) iOS ipad and iphone, latest safari

[2018-03-17 12:44] reetp commented on #10161
You have not filled out all the information required for a bug so no one can really help you.

If you had searched for issues relating to the sharp module you may have found this first which may assist:

https://github.com/RocketChat/Rocket.Chat/issues/9943

[2018-03-17 13:26] reetp commented on #9943
Tried to run this on my CentOS 6 build server but still get gcc not high enough version.

node-gyp rebuild

make: Entering directory `/home/john/git/rocketRPMbuilder/bundle/programs/server/npm/node_modules/sharp/build'
  TOUCH Release/obj.target/libvips-cpp.stamp
  CXX(target) Release/obj.target/sharp/src/common.o
In file included from ../src/common.cc:24:
../../nan/nan.h:47:3: error: #error This

[2018-03-17 16:28] neokeld commented on #1299
@louisemessage I don't see a 2.10.5 version

[2018-03-17 16:30] neokeld commented on #2049
Similar issue : #1299

[2018-03-17 16:47] dejalab opened #10162 "How to hide users in search results"
Anyone know if is possible to hide users by role or by other way in the search results?
We need to implement a solution in our college to let anyone to find teachers (to talk to), but not other students.

Many thanks for your help

JR*

[2018-03-17 17:34] c0dzilla commented on #10098
Seems like this only happens when the url has a trailing forward slash. I'll have a look.

[2018-03-17 17:48] ashutoshk133 commented on #2995
I would like to Work on it

[2018-03-17 21:11] vitormattos commented on #9628
What you make to change color? In mongodb has another attribute to define the type of color.

[2018-03-18 07:42] bennlich commented on #9997
After upgrading to 0.62.2 from 0.61.0, I also saw:
[code]
The fix for me was to install gcc 4.9 as described [here](https://stackoverflow.com/a/37628537), and then manually specify the lib path in my rocket chat start script:
[code]

[2018-03-18 11:41] eriock commented on #7438
@kalmufti hi is this what fix your problem? https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-postfix-on-ubuntu-16-04

[2018-03-18 12:44] canove opened #10164 "Pass server URL on installation script"
### Description:

Is there a way to install client with a "server url" already configured?

I am using this startup script to deploy clients:

reg query "hklm\software\9b73a9fb-f1d5-59ee-b41e-e1dd393a748a" >NUL && exit
copy \\my.domain\netlogon\rocketchat\rocketchat-setup-2.10.5.exe %TEMP%\rocketchat-setup-2.10.5.exe
%TEMP%\rocketchat-setup-2.10.5.exe /S /allusers

It's working well, but after ins

[2018-03-18 14:34] eriock commented on #7438
What if I'm using Google as my email do i still need to install postfix? anyone?

[2018-03-18 16:11] eriock opened #10166 "SMTP Settings Test Email: ( Error trying to send email: Invalid login) Ver. 0.62.2"
Just downloaded the new version Ver. 0.62.2,
configured and tested my SMTP settings, the test e-mail errors out (Invalid login).
Using a Gmail account with SMTP settings:
Host: smtp.gmail.com
Port: 587
IgnoreTLS: False
Pool: False

Server: 2 GB Memory / 50 GB Disk / SGP1 - Ubuntu Docker 17.12.0~ce on 16.04

Rocket.Chat logs don't produce anything unusual:
`Meteor ➔ method sendSMTPTestEmail -> user

[2018-03-18 17:34] horvan opened #10167 "Advanced Profile information"
I'd love to have the abillity to tell people something about me in RockeChat-Profile Something like a Bio filed and a Link filed to a Website would be great.

[2018-03-18 17:48] kaiiiiiiiii commented on #10167
You can already do that by using custom user fields. There's still no official documentation, but you can have a look at one of my other issue comments where I explained everything:

https://github.com/RocketChat/Rocket.Chat/issues/9763#issuecomment-366533538

[2018-03-18 20:46] kaiiiiiiiii commented on #10156
Hi @golimer,

please contact rocket.chat through there [contact page](https://rocket.chat/contact) as this seems to be an issue with the rocket.chat cloud registration process, not with the products code.

Thanks

[2018-03-18 21:01] NickStallman commented on #10056
Is there any progress with this issue? It looks like the pull request needs a review.

I've also discovered that manually editing a snap is an absolute pain, and downgrading to the previous rocket chat version likes to spew out database schema errors making this a very inconvenient and disruptive breakage.

[2018-03-19 01:27] TheMythPT commented on #7162
Well, hope this helps someone.
on the DM:
[code]
And done!

[2018-03-19 01:59] Phuzzy112 commented on #9632
Hi all,
I'm about 90% done with putting RC into prod here, but am getting pressured about this. Any ETA that I could pass along?

PS love that mockup

[2018-03-19 03:40] #10166 closed

[2018-03-19 04:12] JSzaszvari commented on #10167
Hi @horvan

I'm going to close this issue as the functionality is already implemented with custom user fields.

The documentation is still being worked on but what you are looking for can be implemented with this

@rocket-cat close

[2018-03-19 04:13] JSzaszvari commented on #10167
@rocket-cat close

[2018-03-19 04:13] #10167 closed

[2018-03-19 06:55] reece8765 opened #10168 "Error with file upload when using Google SafeSearch"
### Description:

Google SafeSearch when switched to Enabled and Block Adult Images causes an error. Files are uploaded but do not display in the chat window whilst this is active.

Log information:
I20180318-21:12:44.488(0) Exception while invoking method 'sendFileMessage' TypeError: this.storageClient.bucket is not a function     at GoogleVision.blockUnsafeImages (/app/bundle/programs/server/pac

[2018-03-19 07:33] mnlbox commented on #7858
@engelgabriel Any news about new Account Package. This old issue causes bad UX for users :thinking:

[2018-03-19 07:37] mnlbox commented on #7916
Any news about this?

[2018-03-19 07:39] gabrielloberg commented on #2787
+1

[2018-03-19 07:42] mnlbox commented on #8223
@gdelavald @engelgabriel any news about this old issue?

[2018-03-19 08:29] error418 commented on #8811
I am experiencing the same issue with following setup:
- Rocket.Chat 0.62.2
- Authentication via GitHub OAuth

The described error does not happen to all users on the server. I tested it with Chorme (also the Electron app), Firefox and Internet Explorer.
1. Click on "My Account"
2. Click on "Profile"

After clicking on "Profile" a JavaScript error is thrown on the DevConsole and nothing more happe

[2018-03-19 08:39] ilyamsts opened #10169 "Which agents are online in Livechat now?"
Hi. How to get the list of online agents that are currently in Livechat

[2018-03-19 08:59] JSzaszvari commented on #10164
Hi There

Your question would be better suited to the Electron Application GitHub Repo. This repository is for the server side of things. But I'll go ahead and answer this one for you.

You can find the proper repository here: https://github.com/RocketChat/Rocket.Chat.Electron

You'll want to look at the README section titled "Default servers"  regarding the servers.json file that can be bundled w

[2018-03-19 09:00] JSzaszvari commented on #10164
@rocket-cat close

[2018-03-19 09:10] JSzaszvari commented on #10156
Hi @golimer

As @kaiiiiiiiii said, Please contact support through the contact us page on the official Rocket.Chat site.

I'm going to close this as it's not related to this repository/Rocket.Chat server component but rather the registration process on the public website.

Thanks
John Szaszvari

[2018-03-19 09:10] JSzaszvari commented on #10156
@rocket-cat close

[2018-03-19 09:10] #10156 closed

[2018-03-19 09:20] kaiiiiiiiii commented on #10169
@rocket-cat close

[2018-03-19 09:36] maxdang365 opened #10170 "Map LDAP fields to user custom fields"
Your Rocket.Chat version: (0.62.1)

My settings are as follows：LDAP>User Data Field Map
{"#{company}":"customFields.company", " #{title}":"customFields.title", "#{initials}":"customFields.initials"}

When I logged in for the first time , MongoDB as follows
`....
    "requirePasswordChange" : false,
    "customFields" : {
        "initials" : "50058"
    }
}`

When I log in the second time:
`....

[2018-03-19 10:38] c0dzilla commented on #8665
Following @xbolshe 's comment, I think this can be closed now as it is expected behaviour?

[2018-03-19 12:10] canove commented on #10164
Sorry for my inattention!

It worked! Thanks!

[2018-03-19 12:16] rasos commented on #10162
Yes, having a role to be listed in search results seems important to any data protection sensible environment. In the European Union, a new regulation will be valid from 25th May 2018 which requires providers not to publish any personal data.

[2018-03-19 12:38] kaiiiiiiiii commented on #10162
Hi @dejalab ,

Rocket.Chat uses Github mainly for discussing bugs though.

I would therefore like to point you to some places where you can try asking for help or suggest feature requests. Usually, some friendly human being has time for you and your request:

The Rocket.Chat Community Support Channel: https://open.rocket.chat/channel/support
The Rocket.Chat Community Support Forum: https://forums.

[2018-03-19 13:04] gcommit commented on #10136
Hi, any news here?

[2018-03-19 13:04] error418 commented on #8811
Hi again,

I took a look into the database and found the root of the issue. All users, who had the problem were missing following block in their `users` document:

[code]

after adding the block the user was able to access their profile edit page again. It seems that sometimes the email data is not created when registering a user via OAuth.

[2018-03-19 16:21] Drangleic commented on #10142
@sampaiodiego I checked and verified that gateway.rocket.chat is resolving to the address you listed in your comment.

[2018-03-19 17:52] benjamn commented on #10060
We (@abernix and I) believe we've identified the problem, and have recommended a solution to Node/V8: https://github.com/nodejs/node/issues/19274#issuecomment-374298732

[2018-03-19 18:22] flaviovs commented on #2153
Is it possible to disable this feature?

Current UX is not good, as the UI clues that one is editing an already sent message is too subtle, and the mode switch from "post a new message" to "edit an old message" happens without any feedback.

This cause problems when users copy and paste a message to tweak and resend, accidentally press <kbd>↑</kbd>, select the message with the same content, edit,

[2018-03-19 18:52] jeanfpoulin commented on #10146
Looks related to the SAML issue affecting everyone since 0.62.2 update: https://github.com/RocketChat/Rocket.Chat/issues/10056

[2018-03-19 19:21] Drangleic commented on #10142
@sampaiodiego @theorenck Wanted to let you know that rebooting each of the servers in our rocketchat setup fixed the problem. After rebooting the first server, everyone received a slew of notifications for past messages, almost like RocketChat had been saving them up.

Does RocketChat resolve gateway.rocket.chat on the only on the start of the app? The only thing I can think of is that it was stor

[2018-03-19 19:42] rasos commented on #10056
We can not confirm that 0.62.2 has broken SAML after an upgrade 5 days ago yet (maybe all tokens are still alive). We are using NodeJS v8.9.3, though.

[2018-03-19 20:54] inksis commented on #10146
@jeanfpoulin Thanks for your reply.

I've tried but I got an error 500 with this log :
[code]

Except that it works before update and according to "SAML tracer" the different SAML assertion are well send :

[code]

[2018-03-19 20:58] inksis commented on #10056
@rasos it seems to persist according to my issue #10146
After add `.value` I've got a error 500 about "SAML Profile did not contain an email address" but I do… (cf my issue for details)

[2018-03-19 23:10] cinderblock commented on #10153
I'm trying to look into this more on my own.

I copied `0.62.2`'s folder and added a single line to help debug this:

[code]

(This seems to cause Rocket.Chat to crash on certain changes to the Integration script. Not sure why, but restarting Rocket.Chat makes it come back with the new integration. A little annoying but not preventing exploring these issues.)

With that added line, I can inspect t

[2018-03-19 23:28] TwizzyDizzy commented on #10161
@rocket-cat close

Hi @dandingol03
I am **temporarily** closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your issue and your setup

[2018-03-19 23:28] #10161 closed

[2018-03-19 23:37] TwizzyDizzy commented on #10155
@rocket-cat close

Hi @aberkvam

we believe that the issue you reported has already been reported by somebody else. Please have a look at #3092 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-03-19 23:37] #10155 closed

[2018-03-19 23:52] TwizzyDizzy commented on #3357
@geekgonecrazy is this still an issue on latest stable?

Cheers
Thomas

[2018-03-20 01:15] geekgonecrazy commented on #3357
I think the new design probably fixes 👍

[2018-03-20 01:15] #3357 closed

[2018-03-20 02:31] timkinnane commented on #8025
Have put this on the Bots Roadmap update, but there's also a range of issues that would involve updates to the internal hubot, so I think the documentation will stay in the backlog until there's more clarity there, otherwise it's effort wasted.

[2018-03-20 02:50] internalfx opened #10172 "A livechat agent is still available after they close the browser."
### Description:

A livechat agent is still available after they close the browser.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Linux
* Deployment Method(snap/docker/tar/etc): tar
* Number of Running Instances: 1
* DB Replicaset Oplog: Disabled
* Node Version: v8.9.4

### Steps to Reproduce:

1. Toggle the livechat switch
2. Close browser
3. Livechat

[2018-03-20 03:05] aberkvam commented on #10155
#3092 looks like it was fixed with commit ff1ba34 over a year ago.  My issue certainly seems to be related but involves different files.

[2018-03-20 03:12] timkinnane commented on #7990
@twardnw I'm closing and moving this issue to the hubot adapter. Can you please open a new issue requesting support for a new property on the Rocket.Chat message object that would be set true for any message originating from webhooks/integrations. I'd do it but I don't use that feature so I'm not sure what would specifically help you.

[2018-03-20 03:12] #7990 closed

[2018-03-20 03:18] timkinnane commented on #7125
Have put this on the Bots Project roadmap to evolve it. This isn't so much a new feature as a range of enhancements to both the user creation logic and the admin UX. It will also hopefully be progressed by the Rocket.Chat apps project and GSOC proposals. Once we have a unified vision for how to handle bot account creation in balance with a range of requirements, we can create distinct feature issu

[2018-03-20 03:32] timkinnane commented on #6957
@geekgonecrazy was this resolved? Looks like it but I'm not sure if there's changes required to the internal hubot?

[2018-03-20 03:39] timkinnane commented on #6030
@sampaiodiego @geekgonecrazy - can either of you confirm if this is closed? The PR was merged, but does it need testing?

[2018-03-20 03:43] timkinnane commented on #5952
Duplicated by #6640 - closing this one because the other has more specific history.

[2018-03-20 03:43] #5952 closed

[2018-03-20 03:52] timkinnane commented on #5771
Will close this because the referenced PR has been merged and any further updates to the internal hubot script loading can be tracked under #6640.

[2018-03-20 03:52] #5771 closed

[2018-03-20 03:53] timkinnane commented on #5768
Duplicated by #8025, closing this because the other issue has more specific discussion.

[2018-03-20 03:53] #5768 closed

[2018-03-20 03:59] timkinnane commented on #1086
This can be progressed with new updates to the new js.SDK that will be used in the next version of the Hubot adapter.

I would propose adding a method in the adapter/SDK like `registerCommand` that would run on startup against all the commands within a Hubot instance (drawn from each scripts inline header docs - existing functionality in Hubot), that would call a counterpart server method to popul

[2018-03-20 04:21] timkinnane commented on #9177
I will add this to the new SDK and next release of the Hubot adapter. Adding a `sendNotifcation` method that is similar to `sendMessage`, but only sends the private non-persistent update as suggested by @graywolf336. In Hubot that would be invoked something like `res.sendNotification` - would be very handy for some instances such as an unauthorized or unrecognized command response. Instead of floo

[2018-03-20 04:26] timkinnane commented on #8483
Adding this to the Bots project road map for further discussion. It would be a good feature and can be achieved quite simply as proof of concept, but would benefit from a bit more discussion on approach.

[2018-03-20 04:30] timkinnane commented on #3818
Closing this in favor of #7125 to deal with the validation issue as part of more general update to bot user creation that may end up not requiring an email at all.

[2018-03-20 04:30] #3818 closed

[2018-03-20 04:33] timkinnane commented on #3574
Is this resolved by PR #8933 / Issue #5191 - or does it relate to external hubots instances as well?

[2018-03-20 05:41] timkinnane commented on #6786
There is a current project to address this in GSOC. I will add to the bots roadmap for discussion.

[2018-03-20 05:43] timkinnane commented on #6786
GSOC project description is also useful context for the proposed approach:

[2018-03-20 05:49] timkinnane commented on #4287
Hey @diegodorgam or @JSzaszvari - do you know if this would still be worth doing? I looked for the Cog docs and it's all 404s now. The repo has a bit of activity though. Happy to put it on the roadmap if there's still an appetite.

[2018-03-20 05:58] timkinnane commented on #2531
Seems like some very broad issues being discussed here that would not be addressed in this repo. @engelgabriel should we close or re-purpose this issue? It might be actionable to support a Dialogflow adapter, other than that I think the larger issue of creating an interface for conversation design would be something specific to each bot platform/framework. I don't see it being possible to provide

[2018-03-20 06:08] timkinnane commented on #8425
Duplicated by #8617, closing because the other has been tagged and discussed by team.

[2018-03-20 06:08] #8425 closed

[2018-03-20 06:18] timkinnane commented on #7990
@twardnw I just found a discussion on issue #7718 showing I was wrong about the bot param. Any message created by a bot or webhook integration should have the `bot` property, which is an object, not a boolean as I stated. The bot object should include an `i` property with the ID of the integration that called the API endpoint. Hopefully that can help your situation and if it doesn't, at least you

[2018-03-20 06:36] TwizzyDizzy commented on #5293
@rocket-cat close

Closing this. If this is still reproducible with the latest versions of the mobile clients and the latest server: please get back to me :)

Cheers
Thomas

[2018-03-20 06:37] #5293 closed

[2018-03-20 06:44] TwizzyDizzy commented on #5192
@rocket-cat close

Closing this due to inactivty. If this is still an issue on latest stable, please get back to me :)

Cheers
Thomas

[2018-03-20 06:44] #5192 closed

[2018-03-20 06:47] timkinnane commented on #7718
Closing this because it works as intended. Message sent by bot are visually marked by setting the user role to Bot. The only issue would be if an integration is sending messages using a user's account, where that message should be specifically tagged, but I don't know if that's a thing anyone needs. If so, please comment and we can re-open.

[2018-03-20 06:47] #7718 closed

[2018-03-20 08:08] m2u-84 commented on #2422
+1

[2018-03-20 08:21] mbrgm commented on #2422
**Please** use the thumbs-up button on the original post instead of filling peoples' inboxes with '+1' emails. Github added this feature for that reason.

If you have additional use cases to share and/or want to elaborate on why this feature would be useful, that's a reason for a comment. If you just want to say 'I want this', please use the thumbs-up button. Thank you!

[2018-03-20 09:14] Dalben96 commented on #10158
I don't think this would be a good idea.
In my Opinion there is a clear system. On the right side there are the options to forbid somebody to do something. On the left sight there are the options to allow other users to do something.

[2018-03-20 09:18] marc-bouvier commented on #10121
After some more tries. It seems to work when I provide the same ID used when subscribing to the stream initially.

It was not easy to guess since it is not documented yet.

[2018-03-20 09:21] chisisi commented on #6435
Would anyone know the websocket configuration settings required for this on a Windows IIS 8.0 Server?

[2018-03-20 10:28] timkinnane commented on #7581
This is not any clearer to me. I'm trying to figure out what the desired behavior is, but the references are confusing. I don't understand why the Hubot is using a user's name as an alias, and it seems like you're asking for a system change that would modify the text of a message sent **to** hubot, by the user. I don't think there's ever a situation where we would want to be automatically editing

[2018-03-20 10:28] #7581 closed

[2018-03-20 10:36] timkinnane commented on #6925
I think this would be best solved by just having specific rooms for integration messages, where there's no other discussion - if the objective is just to see a stream of messages / notifications etc from a specific integration. That's the way it's commonly handled, e.g. to have a room for GitHub issue updates etc.
Having a new sidebar tab for particular message streams sounds like an over-complica

[2018-03-20 10:49] timkinnane commented on #6871
I just tried to replicate this on the current build, but couldn't see any problem:
1. Set a description on the `bot` role as "BOT"
2. Bot's messages display with [BOT] label
3. Created a new role `botty` with the same permissions as `bot` role.
4. Set the description on the new role to "BOTTY"
5. Edited a bot's account, removed the `bot` role added the `botty` role.
6. Reloaded the client and all

[2018-03-20 11:00] timkinnane commented on #5382
Duplicates #4016 - closing this one because that and other related tickets have more detail.

[2018-03-20 11:00] #5382 closed

[2018-03-20 11:02] jankogaga opened #10173 "Rocket chat doesn't send notification after the recent upgrade to 0.62.2"
Rocket chat doesn't send notification after the recent upgrade to 0.62.2
The noticed error is:

[34mI20180319-16:34:07.756(1) Exception in defer callback: Error: Greeting never received at SMTPConnection._formatError (/opt/Rocket.Chat/programs/server/npm/node_modules/meteor/email/node_modules/node4mailer/lib/smtp-connection/index.js:558:19) at SMTPConnection._onError (/opt/Rocket.Chat/programs/ser

[2018-03-20 11:34] timkinnane opened #10174 "Demonstrate bot integrations"
I have found a number of issues related to requests for either integrating existing bots or suggestions for new bot scripts that could be used in Hubot or webhook integrations.

These are all outside the scope of either bug or feature requests for Rocket.Chat, but I don't want to just carpet bomb the enthusiasm for bots on the platform, so I've created this issue to house the meta discussion for w

[2018-03-20 11:36] timkinnane commented on #10174
From @maxpen

[2018-03-20 11:39] timkinnane commented on #8455
Specific bot requests are out of scope for these issues, but we collect them under one issue related to general bots features here: #10174

[2018-03-20 11:39] #8455 closed

[2018-03-20 11:41] timkinnane commented on #8074
@marbetschar @anthonylavado is this issue resolved if it's a GitLab bug, or is further action required on the Rocket.Chat side?

[2018-03-20 11:50] timkinnane commented on #6218
This is an old issue and my impression is that it's not a common requirement and people might even be annoyed by a UI feature that bugged them to read messages. There are visual indications that channels have unread messages (somewhat improved since this was created) and there's been more recent enhancements to add read-receipts on #3411.

I will however take your suggestion for a custom bot scrip

[2018-03-20 11:50] #6218 closed

[2018-03-20 11:51] timkinnane commented on #10174
From @nickolasdeluca

[2018-03-20 11:53] Montel opened #10175 "RESTAPI: change topic doesn't work on private channel"
### Description:

When I use RESTAPI for changing topic it doesn't work on private channel
RC: 0.62.0
when I read code I saw:
--
//Returns the channel IF found otherwise it will return the failure of why it didn't. Check the `statusCode` property
function findChannelByIdOrName({ params, checkedArchived = true, returnUsernames = false }) {
        if ((!params.roomId || !params.roomId.trim()) && (!

[2018-03-20 11:57] timkinnane commented on #10174
From @arkayz

and @rasos

[2018-03-20 11:57] timkinnane commented on #4102
I'm going to close this with the suggestion that it really would be best handled as a bot or slash command integration, which is outside the scope for these issues, but we collect them under one issue related to general bots features here: #10174

[2018-03-20 11:57] #4102 closed

[2018-03-20 11:58] timkinnane commented on #10174
From @teamfighter

[2018-03-20 11:59] timkinnane commented on #3671
I'm closing this because it looks like it might have already been resolved and bot requests are out of scope for these issues, but we collect them under one issue related to general bots features here: #10174

[2018-03-20 11:59] #3671 closed

[2018-03-20 12:02] timkinnane commented on #10174
From @IQ2022

[2018-03-20 12:02] timkinnane commented on #3601
Added this as a proposal on #10174

[2018-03-20 12:02] #3601 closed

[2018-03-20 12:04] timkinnane commented on #10174
From @Molle500

[2018-03-20 12:04] timkinnane commented on #3514
Added this as a proposal on #10174

[2018-03-20 12:06] timkinnane commented on #10174
From @IQ2022

and @designgurudotorg

[2018-03-20 12:08] timkinnane commented on #3059
I don't think this is in scope as a core platform feature, but would be a good proposal for a new integration or bot. I'll close this ticket and add it as a proposal with a collection of others on issue #10174 - If I'm wrong and you feel strongly this should be a core feature, please comment and reopen.

[2018-03-20 12:08] #3059 closed

[2018-03-20 12:10] timkinnane commented on #10174
From @bott0r

[2018-03-20 12:10] timkinnane commented on #2631
Specific bot requests are out of scope for these issues, but we collect them under one issue related to general bots features here: #10174

[2018-03-20 12:10] #2631 closed

[2018-03-20 12:12] timkinnane commented on #10174
From @Sing-Li

[2018-03-20 12:12] timkinnane commented on #2349
Added as a proposal on #10174

[2018-03-20 12:14] timkinnane commented on #1308
Duplicates #1308, closing because the other ticket has more recent context.

[2018-03-20 12:14] #1308 closed

[2018-03-20 12:16] timkinnane commented on #10174
From @Sing-Li

[2018-03-20 12:17] timkinnane commented on #830
Closing this issue to clean backlog of bot/integration suggestions, collected now under #10174

[2018-03-20 12:17] #830 closed

[2018-03-20 12:19] timkinnane commented on #10174
From @graywolf336

[2018-03-20 12:19] timkinnane commented on #659
Added this as a proposal to #10174 - as suggested, it's a solved issue, but might make a good bot building tutorial case.

[2018-03-20 12:22] timkinnane commented on #10174
From @dennis-f

[2018-03-20 12:23] timkinnane commented on #637
@JSzaszvari I'd like to close this as I've been doing with other bot suggestions and you've done to a few too, because they're out of scope. But this one seems to have a lot of history. If you think it's OK to handle from here as part of the collection of proposals for discussion / voting under #10174, please go ahead and close.

[2018-03-20 12:47] rasos commented on #10174
The proposed Telegram bot integration https://rocket.chat/docs/administrator-guides/integrations/telegram/  needs some improvement, it has a problem with emoji or sticker handling, see our notes: https://git.fairkom.net/chat/fairchat/issues/61 . And it does not support attachments yet.

[2018-03-20 12:52] JSzaszvari commented on #4287
@timkinnane whilst cog is a awesome idea the project has had minimal updates and seems well on its way too being abandoned unfortunately. I would say this can probably be closed off as it's not worth someone's time  due to the slowdown of cogs developer over the past year

[2018-03-20 12:57] JSzaszvari commented on #637
@rocket-cat close

@timkinnane 100% agree. This is already handled with incoming integrations, existing Hubot functionality and when released Rocket.Chat Apps will allow a much more intergrated if needed.

[2018-03-20 12:57] #637 closed

[2018-03-20 13:11] Seba4588 commented on #2787
I confirm, in connection with the forthcoming legal regulations, currently the only problem that prevents us from implementing Rocketchat in the company is the lack of encryption of messages stored in the database.

[2018-03-20 13:48] exhuma commented on #1832
I just found this in the "General" tab of the settings:

![image](https://user-images.githubusercontent.com/65717/37658376-ab8fb84e-2c4d-11e8-9ad6-efe6e948a256.png)

Does that solve this issue? If yes, I suppose this issue could be closed?

[2018-03-20 14:21] graywolf336 commented on #9177
This has been added to the Rocket.Chat Apps project as well and the pull request adding it has been merged into `develop` branch.

[2018-03-20 14:37] abdelrahmanahmed commented on #8236
I got the exact error , is this a bug?

[2018-03-20 14:47] pcbarbassa commented on #9682
Yeah. I've same problem.

[2018-03-20 14:59] abdelrahmanahmed opened #10177 "Audio and emoji are not displayed to guests"
### Description:

I am trying to enable Emoji and audio

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Linux (CentOS)
* Deployment Method(snap/docker/tar/etc):  [Manual: installing on CentOS](https://rocket.chat/docs/installation/manual-installation/centos/)
* Number of Running Instances: 1
* DB Replicaset Oplog: ?
* Node Version: v8.9.3
* mongoDB Versi

[2018-03-20 16:06] zetahoq commented on #9408
Same issue here as well

[2018-03-20 16:56] robindijkhof opened #10178 "Permissions REST api Request header field X-Auth-Token is not allowed by Access-Control-Allow-Headers in preflight response."
### Description:

Request header field X-Auth-Token is not allowed by Access-Control-Allow-Headers in preflight response for Permissions REST api.

### Server Setup Information:

* Server Setup Information:
* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu 16.04 LTS
* Deployment Method(snap/docker/tar/etc): Manual install
* Number of Running Instances: 1
* DB Replicaset Oplog:
* N

[2018-03-20 17:01] Pratyum commented on #10178
Hey there! I am new to this but I think I would like to contribute to the issue. Please let me know if I can work on this?

[2018-03-20 17:46] bott0r commented on #10174
@rasos
Hey Roland, i wrote the terrible telegram bot/script, with 0 prior knowledge, which hasn't changed. however i made some updates to deal with some stuff.

Incoming:
[code]
it fixes stickies and similes and posts messages when someone uploads a video or picture like so.
I tried to update the wiki but wasn't allowed. I am also sure if someone of the RC crew would look at this we'd have a kick

[2018-03-20 19:12] rasos commented on #10056
@inksis sorry, we use oauth (with keycloak), which still works. I mixed up the SSO method, sorry for the confusion.

But I was told by @arminfelder that he improved the parsing in the SAML meteor library. So better look there instead of patching here.

[2018-03-20 20:34] xbolshe commented on #10175
`channels.*` methods perform a search of public channels only. There are `groups.*` methods for private channels. So, a correct method to change a topic for private channel is `groups.setTopic` - see [here](https://rocket.chat/docs/developer-guides/rest-api/groups/settopic/)

[2018-03-20 21:40] graywolf336 commented on #10175
Closing due to what @xbolshe said, any of the api endpoints prefixed with `channels.` is for public channels and `groups.` for private groups.

[2018-03-20 21:40] #10175 closed

[2018-03-20 21:52] graywolf336 commented on #10178
Closing as this is currently working as intended. Currently there is an option to allow/disallow the `options` endpoint:

https://github.com/RocketChat/Rocket.Chat/blob/79b4526cfc5f08fcd4a0909fe29556a06368c467/packages/rocketchat-api/server/api.js#L34-L51

[2018-03-20 21:52] #10178 closed

[2018-03-20 22:35] graywolf336 commented on #10124
@karlprieb I honestly believe it should show the pinned message's attachment, otherwise what's the point of attaching an attachment and pinning that message if it isn't going to be displayed? :)

[2018-03-20 22:52] graywolf336 commented on #10062
Quite honestly, this is not directly correlated to the integrations. This currently happens anytime the server goes slow (too many examples to list while the integrations are the easiest to demonstrate) and the client tries to send a message that was already received and inserted into the database. As a result, this happens because the web client provides it's own id to the message and when it fai

[2018-03-20 23:00] graywolf336 commented on #10023
@amonemian did you create it with a custom script? Did you use a url for your webhook?

Hopefully you answer soon, otherwise we will have to close this due to inactivity. :(

[2018-03-20 23:02] graywolf336 commented on #9983
@arminfelder can you explain further what you mean? As I can not follow what exactly you mean by "blocked attribute"...

[2018-03-20 23:18] arminfelder commented on #9983
@graywolf336 with attribute I was referring to the JSON object attribute "blocked" from the room object.
The problem is, if you block a user, the corresponding channel with that user is marked blocked and therefor readonly.
This readonly is not respected by the jitis video call functionality-> you can start new video calls inside a blocked channel.

[2018-03-20 23:47] graywolf336 commented on #9983
So, a user who is blocked in the channel `#testing` can start a video call inside the `#testing` channel?

[2018-03-20 23:53] arminfelder commented on #9983
yes

[2018-03-21 00:12] myson1515 opened #10181 "How Do I check the name of a logged in user programmatically?"
I am kind of new to node.js and I was looking through the Rocket.chat source files and I can't figure out where in the code it picks up the user info and brings it to the running rocket.chat instance. In short I am looking for a way to get user information on login.  I am not sure if I should include the URL of my server, so I won't until I hear otherwise.  Thanks!

[2018-03-21 01:21] jshupptechnologies commented on #10116
@theorenck  You may take this as a feature request, since what I'm trying to inquire is whether or not is it possible to automate backup to S3 storage ?
1. If this support is not available currently, then you may flag this as a feature request. else
2. It's a question for me to know where do I find it.

[2018-03-21 03:30] timkinnane commented on #10174
@bott0r You probably tried before the docs were moved to GitHub, now I think you should be able to edit that directly here: https://github.com/RocketChat/docs/blob/master/administrator-guides/integrations/telegram/README.md

Just hit the ✏️  and paste in that code, commit changes and it will submit a pull request so you'll be credited with the contribution.

[2018-03-21 04:58] leizard commented on #3202
Hi @geekgonecrazy @sirius2013 do you guys work out the issue ? It seems like it still exist with the Cordova app, I can't make the camera/video work on Android

[2018-03-21 05:10] #4287 closed

[2018-03-21 05:14] timkinnane commented on #9177
Thanks for the update @graywolf336 - The ability to send notifications is still a core server method though right? So a bot adapter could still send notifications the way they currently send standard messages (i.e. through Asteroid DDP method call)? If that's not the case and they need to operate via a Rocket.Chat app for this functionality, can you explain that architecture.

[2018-03-21 05:32] furukawa3 commented on #8642
I tried building RocketChat in my home environment and embedded successfully.  So, I think this problem was almost due to proxy server.

[2018-03-21 05:32] #8642 closed

[2018-03-21 05:34] jberberick commented on #2355
I have programmed a quick fix for those that are waiting for the official feature.

I used the REST API in a php script.  It can be ran manually or by chron.

Basically you create a new user and invite them to whatever channels you want to be cleaned.  You sethow long you want messages to last for.  Right now it is set for 24 hours ("-1 days").

It goes through all the channels (public and private

[2018-03-21 06:33] winterstefan commented on #10062
Ah, I understand. tyvm @graywolf336

May I ask if it should only affect the **standard Rocket.Chat web client**? Indeed, I did manage to reproduce that error by using the Rocket.Chat UI. But most of the cases happened by using the self-made integration with REST / Realtime API (e.g. Realtime -> `sendMessage`). Then, the WebSocket commonly showed a lot of new outgoing frames, but none of them have

[2018-03-21 06:55] anthonylavado commented on #8074
@timkinnane I personally vote to close, it was fixed in GitLab for me with an upgrade.

[2018-03-21 07:14] JSzaszvari commented on #8074
Agreed

It's fixed in newer gitlab builds. Closing this .

[2018-03-21 07:14] JSzaszvari commented on #8074
@rocket-cat close

[2018-03-21 07:14] #8074 closed

[2018-03-21 07:52] Dalben96 opened #10182 "LDAP-Import: Rocket.Chat creates Channel #General even when the Channel was deleted"
### Description:
If you delete the Channel #General and start your LDAP Userimport Rocket.Chat will create the Channel #General again and every new User becommes a member of these Channel.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: OpenSuse
* Deployment Method(snap/docker/tar/etc):  tar
* Number of Running Instances:  1
* Node Version: v8.9.4

### S

[2018-03-21 08:31] subesokun commented on #10147
Fixed it now locally by overwriting the CSS style for the status indicator (set `min-width: 6px`)but an official fix would be appreciated.

[2018-03-21 08:32] 42robots commented on #658
Could this be managed only on a groups/permission level?
Wouldn't it be "enough" (as a first step) to "group" channels? So you could define an Org as a Group.
This can come in handy if you have a lot of channels running.

Just to mention a possible usecase:

You have a channel for organizing let's say an association - there you have different groups responsible for different tasks inside that asso

[2018-03-21 09:56] maxdwit commented on #9834
Same her.
User changed his AD Password.
Rocket.Chat still wants the old LDAP Password.
Change was two days ago.

[2018-03-21 09:59] WillHirsch commented on #8816
Since Rocket.Chat uses [`mime-type`](https://www.npmjs.com/package/mime-type) for MIME type resolution, why not allow a list of custom mappings between file extensions and MIME types to be added using `mime.define`? Leaving files that have whitelisted extensions with undefined MIME type means any other reliance on the MIME type besides whitelisting for attachments will still be broken.

[2018-03-21 10:26] dan2k3k4 opened #10183 "Password reset does not work with 2FA enabled"
### Description:

If you enable two-factor authentication for your account, you will not be able to reset your password via the forgot password link.

This needs to be fixed to enable the 2FA pop-up modal check after entering a new password on the reset password link OR bypass 2FA (bad) for the reset password link.

### Steps to Reproduce:

1. Enable 2FA for your account
2. Logout and click forgot

[2018-03-21 10:32] bizzbyster opened #10184 "[BUG] Username suggestions in private channel should only consider members of private channel"
If I am in a private group with UserA and UserB then if I type "@U" I would expect username suggestions to be only UserA and UserB but current rocket chat (including web client at https://open.rocket.chat) seems to pull suggestions from the global user list.

[2018-03-21 10:32] SecKarma commented on #4427
@gertmenke  lol check @c-ampferer answer....
its just right above Twizzy's one...

[2018-03-21 10:39] gertmenke commented on #4427
@SecKarma Nope, that sets **one** size for **all** custom emoji.

[2018-03-21 10:43] Frankstar commented on #4427
@gertmenke thats the way to go.
feel free to improve it and post a patch

[2018-03-21 11:07] gertmenke commented on #4427
@Frankstar Since I have very little JS/CSS experience and know nothing about Meteor, could you give me a pointer in the right direction? I imagine somewhere in the code it enforces fixed image dimensions, where it shouldn't. Just removing that should cause the Browser to render the image with its original dimensions, right? Feels like it sould be a one-line-fix - the thing is, I have no idea where

[2018-03-21 12:10] Molle500 opened #10185 ""Computer" text is not available for translate"
This text "Computer" is only available in english and there is no input on lingohub to translate it.
![image](https://user-images.githubusercontent.com/17712562/37709073-4a48e33c-2d09-11e8-9457-90abbd96fa53.png)

[2018-03-21 14:37] Drangleic commented on #10142
I may have spoken too soon on the above. It would appear that push notifications are once again no longer working a couple days after having rebooted the servers.

[2018-03-21 15:22] SupRavII commented on #868
(y)

[2018-03-21 16:29] robindijkhof commented on #10178
@graywolf336 are you sure? As I enabled CORS under General -> REST api. Also, the other endpoints are working correctly.

[2018-03-21 17:20] TwizzyDizzy commented on #9420
As discussed at the summit: please add a label "feature-needs-review" label.

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:20] TwizzyDizzy commented on #9230
As discussed at the summit: please add a label "feature-needs-review" label.

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:21] TwizzyDizzy commented on #6018
As discussed at the summit: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:23] TwizzyDizzy commented on #6013
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:23] TwizzyDizzy commented on #6012
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:23] TwizzyDizzy commented on #5291
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:24] TwizzyDizzy commented on #4296
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:24] TwizzyDizzy commented on #4094
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:24] TwizzyDizzy commented on #3948
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:24] TwizzyDizzy commented on #2571
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:25] TwizzyDizzy commented on #2531
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:28] TwizzyDizzy commented on #918
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 17:28] rquinquis opened #10186 "rocketchat_1 exited with code 1"
### Description:

Hello all,

After a reboot, rocketchat is not starting correctly :

`rocketchatdevelop_rocketchat_1 exited with code 1`

I stopped all mongo process and start mongo, same result.

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: Debian 7.11
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog:
*

[2018-03-21 18:09] miguelmota opened #10187 "nodejs error: spawn ENOENT"
### Description:

Get error `nodejs error: spawn ENOENT` when install modules

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0-develop
* Operating System: Ubuntu 17.10
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog: 0
* Node Version: 9.5.0
* mongoDB Version: v3.4.10

### Steps to Reproduce:

1. cd /app/bundle/programs/

[2018-03-21 18:14] TwizzyDizzy commented on #533
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 18:27] TwizzyDizzy commented on #6015
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 18:28] TwizzyDizzy commented on #974
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 18:28] bizzbyster opened #10188 "[BUG] notification indicator should not signal when group messages are unread"
On every other chat application I use, I only see this type of "unread messages" indicator...

![image](https://user-images.githubusercontent.com/4001792/37729572-b98b200c-2d13-11e8-9a64-fd6480609507.png)

When either I have a message in a 1-on-1 chat or if someone does "@myusername" in group chat. But in Rocket.chat desktop, I see the above indicator any time there are unread messages in any chan

[2018-03-21 18:29] TwizzyDizzy commented on #1920
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 18:29] TwizzyDizzy commented on #1921
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 18:40] TwizzyDizzy commented on #10177
@rocket-cat close

Hi @abdelrahmanahmed

we believe that the issue you reported has already been reported by somebody else. Please have a look at #8236 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-03-21 18:40] #10177 closed

[2018-03-21 18:40] TwizzyDizzy commented on #10177
@rocket-cat label add duplicate

[2018-03-21 18:50] TwizzyDizzy commented on #10000
@rocket-cat close

Closing this in favour of #6079 as the sentiment is the same.

Cheers
Thomas

[2018-03-21 18:50] #10000 closed

[2018-03-21 19:02] TwizzyDizzy commented on #8664
@rocket-cat close

Closing this in favour of #6535.

Cheers
Thomas

[2018-03-21 19:02] #8664 closed

[2018-03-21 19:06] TwizzyDizzy commented on #9236
@rocket-cat close

Can please try to reproduce this on latest stable and check, whether it might be related to #6535? I think there are already several issues talking about `E11000 duplicate key error index` so a search for error might also bring up some other things to try for you. I'll happily reopen if you find this to be different (and if so, in what way) than all the other E11000 errors :)

C

[2018-03-21 19:06] #9236 closed

[2018-03-21 19:08] TwizzyDizzy commented on #8351
@rocket-cat close

Can please try to reproduce this on latest stable and check, whether it might be related to #6535? I think there are already several issues talking about `E11000 duplicate key error index` so a search for error might also bring up some other things to try for you. I'll happily reopen if you find this to be different (and if so, in what way) than all the other E11000 errors :)

C

[2018-03-21 19:08] #8351 closed

[2018-03-21 19:08] TwizzyDizzy commented on #6545
@rocket-cat close

Can please try to reproduce this on latest stable and check, whether it might be related to #6535? I think there are already several issues talking about `E11000 duplicate key error index` so a search for error might also bring up some other things to try for you. I'll happily reopen if you find this to be different (and if so, in what way) than all the other E11000 errors :)

C

[2018-03-21 19:08] #6545 closed

[2018-03-21 19:10] TwizzyDizzy commented on #7655
@rocket-cat close

Can please try to reproduce this on latest stable and check, whether it might be related to #6535? I think there are already several issues talking about `E11000 duplicate key error index` so a search for error might also bring up some other things to try for you. I'll happily reopen if you find this to be different (and if so, in what way) than all the other E11000 errors :)

C

[2018-03-21 19:10] #7655 closed

[2018-03-21 19:15] TwizzyDizzy commented on #939
@rocket-cat close

Closing this. The link mentioned in the first post, by now, pulls the image from imgur and shows it. There also exists an option for "click to load" for images. If you think I got something wrong, please get back to me :)

Cheers
Thomas

[2018-03-21 19:15] #939 closed

[2018-03-21 19:20] TwizzyDizzy commented on #3660
@rocket-cat close

Can you please try to reproduce this on latest stable? You might also have a look at #890 if it's related. If the issue at hand is still there and different than the issue mentioned before, please get back to me, I'll happily reopen :)

Cheers
Thomas

[2018-03-21 19:20] #3660 closed

[2018-03-21 19:22] TwizzyDizzy commented on #891
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 19:22] TwizzyDizzy commented on #638
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 19:23] TwizzyDizzy commented on #633
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 19:27] TwizzyDizzy commented on #1120
@rocket-cat close

Closing this in favour of #1988. Please get back to me if you disagree with my assessment.

Cheers
Thomas

[2018-03-21 19:27] #1120 closed

[2018-03-21 19:28] TwizzyDizzy commented on #1938
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 19:33] Nosferous commented on #3551
This is becoming a hot issue where I have RocketChat deployed.
It's been an issue for awhile, but not as hot as it is now.

We are currently running RocketChat-Server: 0.62.1
It's hosted on Ubuntu 16.04 LTS

[2018-03-21 19:40] TwizzyDizzy commented on #2292
Is this still an issue in 0.62.2?

Cheers
Thomas

[2018-03-21 19:46] TwizzyDizzy commented on #2370
@rocket-cat close

I am closing this this issue as there are far too many things involved here. It might by worth for you, to open issues for each of your aspects, yet I think most parts won't be implemented.

I think at least number 5 is highly unlikely).

Cheers
Thomas

[2018-03-21 19:46] #2370 closed

[2018-03-21 19:47] vesvalo commented on #7498
Still actual in 0.62.2.

[2018-03-21 19:47] TwizzyDizzy commented on #2317
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 19:53] TwizzyDizzy commented on #5436
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 20:01] TwizzyDizzy commented on #2536
@rocket-cat close

So if I get this right, this can be closed then? If not, please get back to me :)

Cheers
Thomas

[2018-03-21 20:01] #2536 closed

[2018-03-21 20:03] TwizzyDizzy commented on #2787
As discussed: please add a label "feature-needs-review".

/cc @SeanPackham

Cheers
Thomas

[2018-03-21 20:03] guilhermecfviana commented on #10158
You right ! I understand you and now I agree about this.
Maybe fix the text on right side (No_reactions) ?

[2018-03-21 20:12] TwizzyDizzy commented on #6228
@rocket-cat close

Closing this due to not enough information. There are already other issues that concern themselves with some of the "bridges" requested here. Please state exactly what you want, if this is still importan to you. I'll happily reopen the issue then.

Cheers
Thomas

[2018-03-21 20:12] #6228 closed

[2018-03-21 20:16] TwizzyDizzy commented on #6152
@rocket-cat close

Closing this in favour of #2737. If you think this is not correct, please get back to me :)

Cheers
Thomas

[2018-03-21 20:16] #6152 closed

[2018-03-21 21:10] mixrat commented on #7150
I still really need this. Any plans to work on it?

[2018-03-21 21:19] wdimd commented on #2355
@jberberick thanks, works great, really useful!

[2018-03-21 21:40] FibreFoX commented on #2355
Even having some WORKAROUND, this should be part of the application itself :(

[2018-03-21 21:43] jberberick commented on #2355
I'd be more than happy to work on this issue, but I'm not sure how to set up a development environment.  If someone could point me to some documentation or guide.

[2018-03-21 21:59] kaiiiiiiiii commented on #2355
@jberberick https://github.com/RocketChat/Rocket.Chat#development

[2018-03-21 22:26] kaiiiiiiiii commented on #10185
I've created a PR for that. I hope "Dator" is the right translation though :)

[2018-03-21 22:48] Molle500 commented on #10185
Thx Kai! Yes dator would be the correct word in swedish

[2018-03-21 23:00] cinderblock commented on #10153
I've setup a development copy of Rocket.Chat to test this more.

It looks like the core of the problem, imho, is that Restivus does not attempt to parse data when the request has an unsupported `Content-Type`. In particular, if the `Content-Type` is `text/plain`, I would expect `this.bodyParams` to contain the decoded string which would also make Rocket.Chat work as expected.

I also see discussio

[2018-03-21 23:08] TwizzyDizzy commented on #6949
@rocket-cat close

Closing this, as the above is not enough information to even try replicating this. Please have a look at https://github.com/RocketChat/Rocket.Chat/issues/6930 for a way to approach this. If you come up with additional information (and have tested whether there is still an issue on the latest stable version of Rocket.Chat) I'll happily reopen.

Cheers
Thomas

[2018-03-21 23:08] #6949 closed

[2018-03-21 23:29] TwizzyDizzy commented on #6719
@rocket-cat close

Closibg this, as I cannot reproduce this on latest stable version (0.62.2). Please get back to me with additional details if you think this is still the case and I'll happily reopen :)

Cheers
Thomas

[2018-03-21 23:37] TwizzyDizzy commented on #5268
@rocket-cat close

Closing then...

Cheers
Thomas

[2018-03-21 23:37] #5268 closed

[2018-03-21 23:40] TwizzyDizzy commented on #5118
@rocket-cat close

Closing this, as the logs don't indicate a Rocket.Chat bug. Could be a firewall or something else (ECONNRESET) on a network level.

If think otherwise, please let me know and I'll reopen :)

Cheers
Thomas

[2018-03-21 23:40] #5118 closed

[2018-03-21 23:58] richieri opened #10190 "Livechat library for react native apps"
I want to suggest you guys to develop a react native library for easily embed a Livechat in any mobile app that requires live chat :)

[2018-03-22 01:50] leminhtuan2015 commented on #10161
I have the same problem, Please help me.

### Description:

Get errors:
* Exception in callback of async function: Error: Cannot find module '../build/Release/sharp.node'

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0-develop
* Operating System: MacBook Pro 10.12.6
* Deployment Method(snap/docker/tar/etc): meteor
* Number of Running Instances: 1
* DB Replicaset Oplog: 0
*

[2018-03-22 01:52] leminhtuan2015 opened #10191 "Cannot find module '../build/Release/sharp.node'"
### Description:

Get errors:

Exception in callback of async function: Error: Cannot find module '../build/Release/sharp.node'

### Server Setup Information:

Version of Rocket.Chat Server: 0.63.0-develop
Operating System: MacBook Pro 10.12.6
Deployment Method(snap/docker/tar/etc): meteor
Number of Running Instances: 1
DB Replicaset Oplog: 0
Node Version: v9.3.0
mongoDB Version: v3.4.10
Steps to

[2018-03-22 07:54] CJoons opened #10192 "File upload speed and can not be canceled"
Good morning.

I am using Rocketchat version 0.62.2.

When uploading a file, it takes a long time to load one file.

And clicking cancel button does not cancel.

The current file upload uses the Filesystem method and uses Apache Proxy for SSL application.

Is this problem confirmed?
Is there a solution?

[2018-03-22 10:51] c-schwamborn opened #10194 "issue with the trailing slash when rocketchat runs with a url prefix"
### Description:

This issue doen't appear, if rocketchat runs directly at the url root i.e. http://192.168.1.2:3000
But having a url prefix (http://192.168.1.2:3000/chat) seems to cause issues with the desktop app.
It isn't an issue with the proxy configuration, as it occurs by accessing rc both ways, via proxy and direct.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
*

[2018-03-22 11:04] comander192 opened #10195 "Image Upload with Resizing causes Filesystem overflow"
### Description:

When we upload an image that needs to be resized the upload hangs at 0% in the UI and our filesystem fills itself to 100% because of a broken file descriptor it seems. The issue was persistent when GraphicsMagick was used and we hoped it would be fixed when switching to the sharp module but it is still happening. We are using StorageType FileSystem for the uploads and Avatar resi

[2018-03-22 11:58] AntMarras commented on #9568
Is it any way to customize the content of the email removing the message content?

[2018-03-22 12:00] AntMarras commented on #2564
Does anyone have an idea how to  to sanitize email content ?

[2018-03-22 12:28] subesokun opened #10196 "Allow @ symbol in user name"
### Description:

Unlucky all of our user names are in the form of `myusername@mycompany.com` which leads to an form validation error in the user profile page. This error prevents the user to change his name, avatar or e-mail address as the `Save changes` button is disabled.

A quick fix would be appreciated as this is a blocker for us.

### Server Setup Information:

* Version of Rocket.Chat Serv

[2018-03-22 12:33] sebbekarlsson commented on #4482
this makes rocketchat proprietary since the software is controlling the user, users cannot create custom emojis and are `forced` to use a specific set of emojis.

[2018-03-22 13:34] AlxndrPsclt commented on #7967
+1 Business chats a tools to organize information, this would be super useful (seems expected?).

[2018-03-22 13:47] #10173 closed

[2018-03-22 14:45] Nosferous commented on #9317
Yes please!!! My staff is needing more attachment demand in terms of max file size allowed, the compromise is I'm going to set a policy to delete their attachments after X days. It would be fantastic to have these features to automatically do this in a best practice routine.

[2018-03-22 15:02] jberberick opened #10198 "Memory Leak when uploading files"
### Description:

The server will hang and users will be unable to connect for about 20-40 mins.  This happens a couple times throughout the day.  When this happens, system memory maxes and out, and I even have trouble getting enough memory allocated to write the logs to a file.  It seems to be triggered by uploading files to the server but does not happen every time a file is uploaded.

There are

[2018-03-22 15:04] cremfert commented on #9999
Hi @mrinaldhar ,

thanks a lot for your work! When do you expect the package to be available in Rocket.Chat?

Best regards,
Chris

[2018-03-22 15:24] kaiiiiiiiii commented on #10198
Please provide the FULL information requested in the [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md). Otherwise your issue will be closed.

[2018-03-22 15:26] abdelrahmanahmed opened #10199 "Rocket Chat Rest Api Login error (Server error.)"
### Description:
I am trying to Send a [login](https://rocket.chat/docs/developer-guides/rest-api/authentication/login/) request using Rest Api to obtain token and user id .

### Server Setup Information:

Version of Rocket.Chat Server: 0.62.2
Operating System: Linux (CentOS)
Deployment Method(snap/docker/tar/etc): Manual: installing on CentOS
Number of Running Instances: 1
DB Replicaset Oplog: ?

[2018-03-22 15:31] jberberick commented on #10198
My apologies.  I updated the issue with the FULL informaton.

[2018-03-22 15:34] TheReal1604 opened #10200 "No indication that a user is not permitted to create public channels"
### Description:

I revoked the permission to create public channels for certain user groups. The issue with this is, that there is no indicator that the user is not permitted to create a new public channel, the button is just not clickable. (and nothing happens)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu Server 16.04.4 LTS
* Deployment Metho

[2018-03-22 17:02] float1 opened #10201 "Mongo is not available, can't start"
### Description:

After rebooting server rocket chat not available in the web browser. Used to work ok, but suddenly stopped. I have to kill mongod process and restart mongo and rocket chat services, than chat is available.

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: ubuntu server 16.04 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running

[2018-03-22 17:54] #10201 closed

[2018-03-22 18:15] TwizzyDizzy commented on #4318
@rocket-cat close

Folks, we're doing a bit cleaning up in the Github issues and by now there is so much content in this issue that it's not really possible anymore to extract what should be done.

Would you be so kind as to continue this discussion in the forums? https://forums.rocket.chat ... when it has become clear in the forum discussion what it actually is that should be implemented, feel fr

[2018-03-22 18:16] #4318 closed

[2018-03-22 18:35] float1 commented on #10201
Thank you for your help :)

I think I solved it by removing mongodb-server from server because i think i had two of them installed, i guess one with snaf installation and maybe I installed mongodb-server later, now it works

[2018-03-22 18:50] TwizzyDizzy commented on #10201
Hey Zoran!

Nice that you solved it, maybe you could also mark you topic in the forums as solved and maybe just copy your text from here there? Thanks in advance :)

Cheers
Thomas

[2018-03-22 20:43] pshute commented on #1615
I just tried the beta, seems to work ok, but our team is small, so not likely to have performance issues. Thank you for doing this, @savikko .

[2018-03-22 22:27] pshute commented on #1615
@savikko Bug: If I scroll through the list of global search results, if I scroll to the very end, the list suddenly reverts to the current channel only.

[2018-03-22 22:30] pshute commented on #1615
@savikko Feature: The search results are updated as I type the search string. Should they also update if I tick or untick the Global Search option?

[2018-03-23 02:09] lightweight commented on #10149
I'm seeing this, too, after upgrading to 0.62.2 from 0.61.4 - note, on mongo pinned to 3.4 because a previous upgrade of all my Docker containers (using docker-compose) that moved mongo beyond 3.4 failed...

[2018-03-23 05:35] RedRocketCat commented on #277
@engelgabriel actually why don't you leave it open?  everything i've come across with respect (or lack thereof) to rocketchat UI/UX is related to people wanting, trying, clamoring, and begging for something that looks better than AOL layered with modskin2018 and has a more functional UX than compuserve.  this is the face of your development, which is judged by the same standard as slack by those w

[2018-03-23 06:19] savikko commented on #1615
@pshute : I'm not alone here doing this, thanks @cyberhck for starting this and @rodrigok for getting it running.
I have tried this on our rather small environment (about 100 users, 200k total messages), performance hasn't been an issue.

Search update (un)ticking option is not implemented at the moment, it should be done at the same time as layout of the checkbox would be changed. I wouldn't mind

[2018-03-23 08:01] sergeydeg commented on #10149
Me to.
Rct: 0.62.2
Node: v8.9.3
MongoDB: 3.6

[2018-03-23 08:02] JSzaszvari commented on #10196
Just use a different attribute if your using LDAP sync. If it's active directory the use the sAMAccountName attribute and not userPrincipalName

This would not be too easy as @ is used for mentions.

I don't know of any directory that allows a @ in the actual username unless it's the email address or full UPN in AD. @ is a delimiter and traditionally can't be part of a username.

[2018-03-23 08:14] subesokun commented on #10196
Actually we're using Oauth and we're using there the `unique_name` attribute. Sadly there is no other attribute for the user name in our case. Do you know if RC allows to strip/replace the `@` symbol during sync?

[2018-03-23 08:56] ManasN commented on #1442
Any update? thanks

[2018-03-23 13:56] lukegracie opened #10202 "Suppress system generated messages in rooms ["user" set moderator by "user", room topic changed to]"
### Description:
[for Private Groups and Channels]
When you change/set a users status/level (owner, leader, moderator) you can't control the system conversation message that shows. You always see "user" was set moderator by "user"

When you change the the Room Topic a message is also displayed.

You should have a way to suppress, or turn these off, like the "user" has joined and "user" has left me

[2018-03-23 14:13] sampaiodiego commented on #10142
That might be a NodeJS DNS cache issue, maybe.

[2018-03-23 14:14] sampaiodiego commented on #10142
I'll close the issue since it seems solved 😃

[2018-03-23 14:14] #10142 closed

[2018-03-23 14:28] sampaiodiego commented on #7916
@mnlbox we don't have any news about this currently. I'm not sure as well how this affects the back end. Does MongoDB need to support this as well?

[2018-03-23 14:40] pageb018 commented on #10056
Any idea when this will be pushed and a new version released? We are waiting to deploy RocketChat, but can't without SAML working.

[2018-03-23 14:43] sampaiodiego commented on #10062
from what I saw from @Hudell tests, it was like described from @winterstefan , a single local instance with no load and only the slow webhook.

So I would think that the issue is indeed with our webhook scripts `vm`. not sure how we can deal with it currently though 😞

[2018-03-23 14:45] HammyHavoc commented on #6405
Found this earlier today: https://github.com/0x0049/Rocket.Chat.Dark
Something similar as an option per-user would be great.

[2018-03-23 14:45] HammyHavoc commented on #10149
Yep, seeing this too.

[2018-03-23 14:51] winterstefan commented on #10062
@sampaiodiego Full ACK on your point, just one quick remark:

Yep, that was my primary use case. But I (unfortunately) had that issue (twice, IIRC) on a medium sized 3 node system (with no load either), too. 😇

_(so not only a problem when running Rocket.Chat on a dev VM locally)_

[2018-03-23 14:55] mrsimpson commented on #9628
in rocketchat-api/server/v1/settings.js, `post()`:

[code]
There are other types of settings which could use special handling.
@graywolf336 Any objections solving this in the API-layer: https://github.com/assistify/Rocket.Chat/blob/d3f881d0938c3192f15d70d12571ec89ca542d6d/packages/rocketchat-api/server/v1/settings.js#L76

[2018-03-23 15:31] ftoledo opened #10203 "Desktop client: permanent notifications"
I research if is possible to get more "intrusive" notificacions for the desktop client (at windows OS for now).

* Permanent/Sticky popup notifications.. (just stay visible until user get click)
* Flash icon / on bottom panel/toolbar
* Popup the main window?

Or some else.

The idea is to ensure to user must be notified even if leave and back from the computer for some little time.
thanks!

[2018-03-23 16:29] bambus1980 commented on #839
Whaiting too much! is is working now?

[2018-03-23 17:22] AntMarras opened #10204 "Directory menu allows to see list of users even if the creation of channels is disabled"
### Description:
I revoked the permission to create public and private channels for certain user groups. The issue with this is, that from the Main Menu -> Directory is it still possible to try to create a channel (without success).
The problem is that such user can see the list of all users of the chat!

### Server Setup Information:

version of Rocket.Chat Server: 0.62.2
Operating System: Ubuntu

[2018-03-23 17:26] renatobecker commented on #9874
To continue this feature I have to wait for this review #10151.

[2018-03-23 17:28] AntMarras commented on #10184
:+1:

[2018-03-23 17:30] AntMarras commented on #10149
me too
 rocket chat version: 0.62.2

[2018-03-23 17:34] thedonquixotic commented on #277
Also I think I might have said this elsewhere but I'd be willing to donate my time to help out RocketChat as a professional UX Designer. I've been wanting to get involved in more Open Source projects but my dev skills are not yet up to the level where I'd be very useful. I can however help a good deal with UX,but I'm not sure how to plug in on that.

I'll link my website here to just prove I'm a g

[2018-03-23 17:58] TwizzyDizzy commented on #10204
@rocket-cat close

Hi @AntMarras

we believe that the issue you reported has already been reported by somebody else. Please have a look at #10200 for further information. If you believe we closed your issue in error and your issue is, in fact, not the same as the one mentioned before, feel free to get back to us here and tell us why.

Cheers
Thomas

[2018-03-23 17:58] #10204 closed

[2018-03-23 18:04] TwizzyDizzy commented on #10196
@rocket-cat close

Folks, if it's OK with you, I'd like to direct you to the [community forums](https://forums.rocket.chat/c/community-support) to discuss this, as I see no immediate bug involved here that could be fixed in Rocket.Chat. If you disagree or if in your discussion some different angle comes up that will make this a bug, please get back to me :) Concerning your issue though, I totally

[2018-03-23 18:04] #10196 closed

[2018-03-23 18:13] AntMarras commented on #10204
@TwizzyDizzy

I think is related but not the same:

if I disable the creation of channels for some user group, the button to create the channel is not present in the main menu but it is still present in the Directory menu allowing a user to try to create the channel (but failing) and (worse for me) to see the entire list of users.  I hope I explained it better.

[2018-03-23 18:16] AntMarras commented on #10204
I think that in the issue you linked the guy still has the create channel button in the main menu for the private channels but he want to disable the public channels. In my case is that the button is still present in the Direcotry even if I disabled the creation of Public AND Private channels.

Cheers

[2018-03-23 18:23] TwizzyDizzy commented on #10200
Remark: the button to add a channel from directory view also seems to be impacted.

[2018-03-23 18:26] TwizzyDizzy commented on #10204
Mhhh... but still I think you're mixing two things here. Seeing users in the list has got nothing to do with the permission to create whatever channel, or am I getting something very wrong here? If somebody will tackle the other issue, I think she or he can then have a look at this whole topic.

I've added this passage to the other issue:

Cheers
Thomas

[2018-03-23 19:21] AntMarras commented on #10204
:+1:  for me. Thanks

[2018-03-23 19:46] saenzramiro commented on #6633
Same here!

[2018-03-23 20:11] markwooff commented on #9408
Same on this end. When can we expect a fix?

[2018-03-23 21:58] ChameleonScales commented on #956
@thef1sh if adding a space as a valid character breaks the autocomplete, then space should simply be a forbidden character when creating your nickname.

[2018-03-24 04:46] arminfelder commented on #10056
@pageb018 just created a pull request  #10206, which fixes the issue in a clean way,
you could also test the fix by checking out my fork: https://github.com/arminfelder/Rocket.Chat/tree/0.62.2-samlhotfix
or download the package: https://cloud.felder-edv.at/index.php/s/xjWH8SJNNQJEi3F

[2018-03-24 07:28] srgcdev commented on #9357
Same problem here. I don't receive notifications in channels despite notifications are configured for all messages.

[2018-03-24 08:05] askya commented on #839
Hello bambus1980.
No, it is not working. I still using the LDAP authentication encrypted with TLS certificate.
Do you want to suggest me something? I am open.
Thanks.

[2018-03-24 09:02] askya commented on #839
I am back to great developers who are working on Rocket.Chat project. I hope they will setup Kerberos authentication in Rocket.Chat very soon at our benefice.
Thank you for your WORK. It is great.

[2018-03-24 10:10] jankogaga commented on #10173
SMTP port was changed, so I assume somehow an update set it to some default value.

[2018-03-24 10:11] acrixl opened #10208 "Android client microphone and camera not work"
### Description:

Android client microphone and camera not work

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: debian 9.4
* Deployment Method: manual
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: 8.9.4
* mongoDB Version:

### Steps to Reproduce:

### Expected behavior:

### Actual behavior:

Android 7.1.2

Android client microp

[2018-03-24 16:51] beankylla commented on #7791
+ 1 for this, would come really handy

[2018-03-24 17:10] AntMarras opened #10213 "Rocket.chat startup exceeds Heroku Boot Timeout"
### Description:

I update from 0.60.4 to 0.62.2 and I started to have
Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch
in heroku when heroku restart the dyno (every 24h). I am running RC in a stardard dyno.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System:
* Deployment Method(snap/docker/tar/etc):  heroku
* Mongo

[2018-03-24 18:00] PavelZhe commented on #10149
me too
Rocket 0.62.2
Node 8.9.3
MongoDB 2.6.12
CentOS 7

[2018-03-24 20:57] bizzbyster commented on #2181
I think the best implementation is just the "share" action that you find in your web browser. I think it is a system level action. But at least on Android it results in a list of the apps on your phone that you can share to...

![image](https://user-images.githubusercontent.com/4001792/37868874-56276d5e-2f84-11e8-8d42-65d8aefe2682.png)

And then there would be a pre-formatted message that would in

[2018-03-24 22:25] kaiiiiiiiii commented on #10203
Hi @ftoledo,

can you please open an issue in the [Rocket.Chat.Electron](https://github.com/RocketChat/Rocket.Chat.Electron) repository for that?

This repository is mainly for the server component.

Thanks,
Kai

[2018-03-25 03:55] acrixl commented on #10208
i don't think it related to android native also know as rocket.chat+
rocket.chat+ just work

it related to cordova based rocket.chat

it work on adnroid 7.1.2 but no audio, video

on android 4.4.4  it just hang after login with white screen

[2018-03-25 07:13] kaiiiiiiiii commented on #10208
There’s one for the Cordova app as well :)

https://github.com/RocketChat/Rocket.Chat.Cordova

Cheers,
Kai

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-25 08:26] jack17529 commented on #4573
@JSzaszvari is it solved now ?

[2018-03-25 09:44] acrixl commented on #10208
cordova way currently is preferred i think

this is note from main README.md
Note: currently the native apps doesn't support all the features that web does. If you're looking for it, you should download the Cordova apps.

project Rocket.Chat.Cordova is cordova wrapper, but web app itself is part of this project i think

so issues with web app support level cover both projects

i thing currently in

[2018-03-25 11:11] hassanayoub85 opened #10215 "Pass Parameter to rocket chat to auto logging without the need to write the credentials"
Dear,
I want to integrate rocket chat in my website, i succcessfully set it up on my linux server 14.04, without any isues, and i made simple api to connect with mongodb, so when user sigunp in my site, an account with same credentials created in rocketchat, and when user edited his parameters in my website, parameters are synced with rocketchat, however i still have 1 problem which is autologging

[2018-03-25 13:11] TwizzyDizzy commented on #10215
@rocket-cat close

Rocket.Chat has several possibilities to authenticate users (oAuth, SAML, AD). What you're describing / trying to implement is SSO.

Please open a topic in the forums and see if somebody can help you there: https://forums.rocket.chat/c/community-support

I am closing this, as there seems to be no bug in Rocket.Chat here.

Cheers
Thomas

[2018-03-25 13:11] #10215 closed

[2018-03-25 13:53] arminfelder commented on #9545
@engelgabriel I updated the steffow meteor-saml package, to hotfix the broken SAML since 0.62:

#10212 -> fix for release candidate
#10210 -> fix for develop
#10209 -> fix for master

[2018-03-25 18:38] kneufeld commented on #6588
This is still an issue in 0.62.2, just change the Admin.Message.Embed Cache Expiration Days and watch memory spike until crash. Running in docker container if that matters.

[2018-03-26 05:36] JmMa commented on #8986
me too,Why now "No releases for windows server currently available".

[2018-03-26 06:45] NIghtCell commented on #9892
Hello guys, sorry for my late answer. Today I found out the whole deployment information. I hope that you now have everything that you asked for.

[2018-03-26 08:48] 42robots commented on #2511
is there any update on this? Especially the Custom Scripts Sections sounds interesting.
I guess that would be a place for neat little custom features, like adding a popup on incoming calls or something ... Is there any little getting started hint on this?

[2018-03-26 09:46] Wirone opened #10216 "Configurable Internal Hubot's alias"
### Description:

I'm requesting for possibility to configure internal Hubot's alias. In our organization we would like to use fancy alias (use hubot without need to mention configured bot's username or `bot` alias).

### Current behavior:

Currently internal Hubot is hard-aliased with `bot`: see [current develop](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-internal-

[2018-03-26 11:07] SeanPackham commented on #4482
We will work on a more user friendly way to add custom emojis in the future but it is not planned for the next couple of releases which will focus on stability and performance.

[2018-03-26 12:01] ramanamatya commented on #1112
+1

[2018-03-26 12:15] #10057 closed

[2018-03-26 12:38] versavius commented on #9632
Also in the drop down menu next to a user in the attached screenshot we have the "Video Chat" button if this was changed to two buttons "Audio Call" and "Video Call" as well as arthurgiustina suggestion that would make it so much easier to make audio/video calls.

![image](https://user-images.githubusercontent.com/11394779/37906668-c3ef2ab2-30fa-11e8-9701-9229d2790946.png)

[2018-03-26 13:24] #9800 closed

[2018-03-26 13:28] #9912 closed

[2018-03-26 13:29] #9789 closed

[2018-03-26 13:33] #9485 closed

[2018-03-26 13:33] #9976 closed

[2018-03-26 13:37] #9547 closed

[2018-03-26 13:40] #9671 closed

[2018-03-26 13:46] #9820 closed

[2018-03-26 13:48] Hudell commented on #5913
PR #10217 adds a setting to enable/disable slackbridge reactions.

[2018-03-26 13:49] #1721 closed

[2018-03-26 13:51] renatobecker commented on #10074
We have identified why this bug is occurring and we are working to fix this issue as soon as possible.

[2018-03-26 14:06] MartinSchoeler commented on #10203
Please, follow @kaiiiiiiiii suggestion Thanks!

[2018-03-26 14:06] #10203 closed

[2018-03-26 14:10] ftoledo commented on #10203
My apologies. i will forward to that repo!
thanks!

[2018-03-26 14:18] MartinSchoeler commented on #10199
Not enough information provided. We need more information on how to reproduce this consistently since this could be result of lots of different problems (like a problem when installing, or the server freezing). Try asking on our [forums](https://forums.rocket.chat/)  or [community support channel](https://open.rocket.chat/channel/support) maybe someone can help you debug this further. Thanks!

[2018-03-26 14:18] #10199 closed

[2018-03-26 14:21] abdelrahmanahmed commented on #10199
Thank you for your reply , anyway i found this in my server log

[code]

[2018-03-26 14:39] pageb018 commented on #10056
@arminfelder I deploy via docker-compose. Not sure if I can use your hot fix that way. Is it in a docker repository?

[2018-03-26 14:55] MartinSchoeler commented on #10186
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-26 14:55] #10186 closed

[2018-03-26 14:55] MartinSchoeler commented on #10187
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-26 14:55] #10187 closed

[2018-03-26 14:56] MartinSchoeler commented on #10181
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-26 14:56] #10181 closed

[2018-03-26 14:57] MartinSchoeler commented on #10191
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-26 14:57] #10191 closed

[2018-03-26 15:06] theorenck commented on #10146
Hi @inksis, thanks for report the problem to us. @rodrigok can you confirm that this issue duplicates #10056? If so, can you close this?

[2018-03-26 15:10] MartinSchoeler commented on #10150
We aim to keep our Github issues for bugs and feature requests.  This does not fit that criteria.
Please see our [guidelines for support](https://rocket.chat/docs/getting-support).  If you feel like we are closing in error, please re-open and add additional details about the bug or feature request.

[2018-03-26 15:10] #10150 closed

[2018-03-26 15:14] theorenck commented on #10149
Hi @robindijkhof, thanks let us know of the problem.

[2018-03-26 15:20] arminfelder commented on #10056
@pageb018 not its not, just take the Dockerfile from .docker/Dockerfile, place it in the same folder as the tar.gz and replace the first RUN with ADD rc0.62.2-samlhotfix.tar.gz /app/

[2018-03-26 15:49] comander192 commented on #10195
EDIT: There was a Rocketchat Version which always set the Fileupload Path to default /tmp/ufs and it didnt matter what we set this path to. Our workaround was then to create a system in the filesystem /tmp/ufs -> /var/rc_fileupload which worked fine. This seems to brake the newer Rocketchat Uploads.

Scenario that breaks the upload and fills the filesystem:
Fileupload Storage Type: Filesystem
File

[2018-03-26 16:07] jberberick commented on #10198
I upgraded the VPS's memory to 2gb, and I have not had any issues for 3 days.  This may have solved this.

[2018-03-26 16:31] rafaelks opened #10219 "[BUG] "New messages" banner appears on reacting to an older message"
### Description:

Even when there's no new message, if you go to older messages and react to any message, the "New messages" blue banner in to bottom will appear, just like the GIF:

![2018-03-26 13 27 51](https://user-images.githubusercontent.com/551004/37919269-cd9160f4-30f9-11e8-82f0-e5a20f2becc7.gif)

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Li

[2018-03-26 18:09] sketch242 commented on #8811
I am also experiencing the same issue with Rocket.Chat 0.62.2 using Custom OAuth against Office 365.

[2018-03-26 18:20] MartinSchoeler commented on #10158
Renaming the issue to reflect the latest opinion

[2018-03-26 18:24] #10169 closed

[2018-03-26 18:43] MartinSchoeler commented on #10190
Please reopen this in the [React Native App Repo](https://github.com/RocketChat/Rocket.Chat.ReactNative) Thanks!

[2018-03-26 18:43] #10190 closed

[2018-03-26 18:59] theorenck commented on #10169
@kaiiiiiiiii, as we could see by your reaction, you seems to be confused about the use of rocket-cat bot. You either need to be the owner of the issue or white listed. So in this issue you don't have actual permission. Just for you to understand.

[2018-03-26 19:12] rodrigok commented on #9943
@reetp can we talk in chat? Please ping me at https://open.rocket.chat/direct/rodrigo.nascimento

[2018-03-26 19:16] #9766 closed

[2018-03-26 19:23] jadolg opened #10223 "Add documentation for im.create"
### Description:
Add documentation for `im.create` endpoint on the REST API

[2018-03-26 19:27] pageb018 commented on #10056
@arminfelder thank you! Let me give it a shot.

[2018-03-26 19:31] MarcosSpessatto commented on #10223
Moved to [docs](https://github.com/RocketChat/docs/issues/647) repo.

[2018-03-26 19:31] #10223 closed

[2018-03-26 20:40] renatobecker commented on #10022
Hi @cmonjeau!
I'm testing this problem, can you give more details about it?
When you describe the `notification`, what exactly do you mean by `notification`?
I'm waiting for your feedback.

[2018-03-26 23:13] jarro2783 commented on #9467
I think this is fixed. We're running 0.62.1 now and it appears to work. Not sure if someone wants to link up the commits or just close it.

[2018-03-26 23:58] Horgix commented on #7385
Updated to `0.62.2` today and the issue seems to be fixed: avatars are back!

[2018-03-27 06:50] thinkeridea commented on #8640
I find that the latest edition has been solved, and it should be closed to inform all the people concerned.  version:0.62.2

[2018-03-27 06:55] mc opened #10226 "integrations unreachable in Admin Menu"
I have given permission for manage-own-integrations (and manage-integrations) to the users group, but the users dont seem to be able to see the context-menu for Administration (the three vertical dots), so while they probably have permissions to manage integrations, they are not able to get to the page to manage the integrations.

### Server Setup Information:

* Version of Rocket.Chat Server: cur

[2018-03-27 07:14] arungalva commented on #1746
I have made the requested changes a while ago but had a hard time getting any maintainer to review it.

[2018-03-27 07:16] cinderblock commented on #9580
I believe I have the same issue on 0.62.2

My rocket.chat instance recently crashed and I went to restart it. Upon restart, it failed like above. Here are my logs:

[code]

[2018-03-27 07:30] cmonjeau commented on #10022
Hi @renatobecker,

notification is the "unread" discussion that does not appear in the livechat queue.

[2018-03-27 08:54] Horgix commented on #9265
Same issue here: total whitescreen after update, the Android application is totally unusable because of this :(

* Android version: `4.4.3`
* RocketChat version: `0.62.2`
* RocketChat mobile version : `2.7.0`

[2018-03-27 09:09] ajcollett opened #10227 "KaTeX "\operatorname" and "\implies" not supported"
### Description:

It seems that the KaTeX engine cannot handle some of the functions given in the KaTeX spec at https://khan.github.io/KaTeX/function-support.html.

In particular, we have tried using \operatorname and \implies, but they just give parsing errors.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating System: Linux Ubuntu
* Deployment Method(snap/docker/

[2018-03-27 09:59] Shaners42 opened #10228 "Laptop and external display monitor"
Hello,

I dock my laptop in work which has an external screen. Moving the Rocket Chat app to the external screen then undocking seems to save its position in the window-state-main.json. This means the window won't display when trying to open it undocked unless the json file is modified. There must be a better way to handle that?

OS: Windows 10 1709 x64 with latest RocketChat+ 2.10.5

[2018-03-27 10:13] ajcollett opened #10229 "Feature request: Personal pref to disable read receipts"
Just had a look at  #3411 and, personally, I love this!

However, there are some people in my organization who would like to not have the fact that they have read a message seen by others.

So, this feature request is for users to be able to turn off read receipts for themselves, so whether they have seen a message or not is not reported to others.

[2018-03-27 10:30] ampj007 opened #10230 "Incoming webhook not woking"
I created new incoming webhook using rocket chat.

curl -X POST -H 'Content-Type: application/json' --data '{"username":"Ship Reporter","text":"Example message","attachments":[{"title":"Rocket.Chat","title_link":"https://rocket.chat","text":"Rocket.Chat, the best open source chat","image_url":"https://rocket.chat/images/mockup.png","color":"#764FA5"}]}' https://chat.lintcloud.com/hooks/xxxxxxxxx/y

[2018-03-27 11:11] flayks opened #10231 "Permissions error with FileSystem on Docker: "LocalStore: cannot set store permissions 0744""
### Description:

I'm trying to migrate my Rocket.chat server from a Debian Stretch manual install to a Docker container, and get this error when using FileSystem (I was on GridFS by default but want to switch to FS due to a large MongoDB database size):

This is my `docker-compose.yml`:
[code]

On the admin the FileSystem path is set to `/app/uploads` so it should work.
I tried different things b

[2018-03-27 11:40] flayks commented on #10231
Looks like the permissions on my local folder were set to root, setting it to 99999 (the rocketchat UID on the docker container) fixes the problem and I can now use FileSystem! Yoohoo

[2018-03-27 12:15] TwizzyDizzy commented on #10228
@rockey-cat close

Reasons:

* you reported an issue for the Electron client in the Rocket.Chat server repo
* your issue has already been reported there: https://github.com/RocketChat/Rocket.Chat.Electron/issues/380

Cheers
Thomas

[2018-03-27 12:16] #10228 closed

[2018-03-27 12:29] TwizzyDizzy commented on #10213
Mhhh... but your server comes up? Or is there any bug that you think might be responsible for that behaviour?

Otherwise I would deem this issue too broad as "starting the server faster" is not just one thing that can be tackled... I suggest that, if you can, raise your timeout.

Cheers
Thomas

[2018-03-27 12:35] ChessSpider commented on #10056
👍  please fix this guys, i want to use RocketChat again

[2018-03-27 12:39] AntMarras commented on #10213
It comes up eventually, by chance after  10-12 reboot.. But Heroku restart the app once a day facing the issue and make the app unavailable.
It is not possible to raise the timeout, Heroku do not allow it.
As result the  deploy on heroku via button is not currently working and Rocket Chat cannot be deployed on Heroku. So I would suggest to remove the deployment on Heroku option if fixing this in n

[2018-03-27 12:40] cadetmsv opened #10232 "CustomFields: Internal Server Error when changing user profile settings"
### Description:

When saving any changes to my profile (e.g. CustomFields.Phones) Rocket Chat displays an "Internal server error". But can save any changes. Some of the users on my server are affected but not all of them only old. New users do not have this error.
We installed Rocket.Chat ubuntu-snap 0.61. Then upgraded to 0.62.1 and 0.62.2. Were set up CustomFields. Old users created before the

[2018-03-27 13:03] janrudolph opened #10233 "Message count in statistics is strange"
### Description:

In the admin info panel Rocket.chat displays usage statistics. However, it seems that the message count is not correct.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.61.1

### Actual behavior:

![usage-count](https://user-images.githubusercontent.com/3596824/37968868-9c1e2f94-31cf-11e8-96f9-e341c4b08f77.png)

=> as you see, the sum of all message is not corre

[2018-03-27 13:14] AtzDyna opened #10235 "mailparser license"
Rocket.Chat  uses "mailparser" in version "2.2.0" as a dependency. Mailparser uses the the European Union Public License 1.1 (EUPL v1.1)[https://github.com/nodemailer/mailparser/blob/master/LICENSE](https://github.com/nodemailer/mailparser/blob/master/LICENSE).

I am no expert in software licenses and therefore I was wondering if the MIT License used by Rocket.Chat is compatible with this European

[2018-03-27 13:16] rodrigok opened #10236 "Release 0.63.0"
# Release 0.63.0
We are releasing a new version, this issue will keep track of the progress between the first release candidate (27th of this month, march) to the final release (3rd of next month, april).

After the 27th of this month we start the release process that ends 7 days after, during that period we enter a Feature Freeze. While in the Feature Freeze we do not merge new features or non cr

[2018-03-27 13:39] #10129 closed

[2018-03-27 13:43] #10147 closed

[2018-03-27 14:01] error418 commented on #8811
I think this line could be one of the culprits, since read access for email addresses can be revoked when registering an account via OAuth. In this case no email addresses are stored in the user data. This causes the profile page to make a reference to a `undefined` `emails` array.

https://github.com/RocketChat/Rocket.Chat/blob/53416b8323d63b7200d01950e23e5c6bc8bafee2/packages/rocketchat-ui-accou

[2018-03-27 16:18] Hudell commented on #9357
I've been trying to replicate the issue here, but the notifications showed up properly every time (except when my status is busy, but that is by design).

[2018-03-27 17:29] flayks commented on #9349
@arminfelder I'm looking forward to a solution for migrating files uploaded on GridFS to FileSystem. Did you got any progress about it? Can't find anything online. Also `mongofiles` on my database doesn't give me anything.

[2018-03-27 17:45] sketch242 commented on #8811
@error418 I found you don't have to manually add the block, you can also add an email address to the user via the admin interface, which probably does the same thing.

[2018-03-27 17:53] sketch242 commented on #956
@ChameleonScales With Custom OAuth and Office 365, your only options for user names are "Full Name" or "user@email.domain", both of which break mentions.  Not sure if I should open another ticket for having an @ in the username breaking mentions as well, or just mention it here.

[2018-03-27 17:54] guilhermecfviana opened #10238 "[BUG][Chrome APP] When the internet is down, my user stays online"
### Description:

On Chrome App when the internet is down, my user stays online.

I tested on firefox and chrome browser (not app) and this worked perfectly.

* My livechat is enabled.

### Server Setup Information:

* Version of Rocket.Chat Server:  0.62.1
* Operating System: Linux (Ubuntu) 16.04 x64
* Deployment Method(snap/docker/tar/etc):  snap
* Number of Running Instances: 1
* DB Replicaset

[2018-03-27 18:02] srgcdev commented on #9357
@Hudell The problem I commented occurs on windows in the channels chats.
I receive the notification (and I can see it during 2 seconds because I configure it this way) but if I missed the notification I can't notice if there are pending message on channels to read because the unread count in the system try icon is not updated and the window in the task bar doesn't blink despite I configure the cha

[2018-03-27 18:11] geekgonecrazy commented on #10198
About how many connected users when you were previously getting this?  It does seem like a ram related issue though.  Uploading a file definitely increased amount of used memory for a brief period.

[2018-03-27 18:13] geekgonecrazy commented on #1581
I think we now have the evergreen case covered.  Snaps auto update.  We also now have update available alerts for admins.  So I think this can be closed

[2018-03-27 18:13] #1581 closed

[2018-03-27 18:18] #9904 closed

[2018-03-27 18:18] sketch242 commented on #9920
Still happens in 0.62.2

[2018-03-27 18:34] rodrigok commented on #8926
Closed by https://github.com/RocketChat/Rocket.Chat/pull/9726

[2018-03-27 18:34] #8926 closed

[2018-03-27 18:39] geekgonecrazy commented on #2001
Not much discussion on this one in a while.  We are moving all discussions over to the forums where discussions are more appropriately suited.  Please feel free to resume there:  https://forums.rocket.chat

[2018-03-27 18:39] #2001 closed

[2018-03-27 18:41] HammyHavoc commented on #8926
@rodrigok This is recording voice messages. My "voice chat" thing was more about recording calls.

[2018-03-27 18:41] geekgonecrazy commented on #2292
This is a pretty old issue.  Going to go ahead and close this.  Please re-open if it still occurs

[2018-03-27 18:41] #2292 closed

[2018-03-27 18:43] geekgonecrazy commented on #3541
I'm going to go ahead and close this.  I don't think we ended up deprecating anything.  Please as always keep tuned to release notes before upgrading.  We will do our best to warn there if we are deprecating anything.

[2018-03-27 18:43] #3541 closed

[2018-03-27 18:47] geekgonecrazy commented on #3989
Going to go ahead and close this one out.  This is possible, it will get even easier with Rocket.Chat apps.

[2018-03-27 18:47] #3989 closed

[2018-03-27 18:59] mc commented on #10226
probably a duplicate of #9865, sorry, didnt find that one earlier.

[2018-03-27 19:37] sketch242 commented on #6809
@alincalinciuc I used upn, but according to ticket #10196 @ is not an allowed character in usernames.

I did find that you can also use "name", which returns the user's full name with a space, however, then mentions are broken (see ticket #7280).

I figured I would mention it here in case anyone didn't realize that you can actually leave the username field blank, and RocketChat will prompt the use

[2018-03-27 19:41] geekgonecrazy commented on #9100
@mrsimpson thanks for posting this.  :smile: discussions seem to get lost here on our issue tracker.

We've recently started making better use of our forum.  Others from the community have started making use of it to deliver feedback: https://forums.rocket.chat/t/the-good-the-bad-and-the-ugly-my-personal-assessment-of-the-rocket-chat-github-state/264

Rocket.Chat Apps are extremely important to us

[2018-03-27 19:41] #9100 closed

[2018-03-27 19:42] geekgonecrazy commented on #8208
Since this isn't specifically related to Rocket.Chat i'd recommend making use of our forums to discuss this: https://forums.rocket.chat

Going to go ahead and close

[2018-03-27 19:42] #8208 closed

[2018-03-27 19:44] geekgonecrazy commented on #7531
Release notes are definitely the best place to look.  Going to go ahead and close this.  Feel free to also open a discussion on our forums to go in a more depth discussion.  Its a bit more fitting there since not directly related to a feature or bug related to Rocket.Chat the server.  :smile:

[2018-03-27 19:44] #7531 closed

[2018-03-27 19:45] geekgonecrazy commented on #6687
This is possible now.  For some reason we had it off, but its available now.

Closing as off-topic for the project, and also resolved :)

[2018-03-27 19:45] #6687 closed

[2018-03-27 19:49] geekgonecrazy commented on #5831
Going to go ahead and close.  This is more a matter of messaging in response :)

[2018-03-27 19:49] #5831 closed

[2018-03-27 19:52] rjeria opened #10241 "How to connect to MongoDB for insert users though API REST?"
First, I added an user with this command:

use admin
db.createUser( { user: "adm", pwd: "adm", roles: [ { role: "userAdminAnyDatabase", db: "admin" } ] } )

After, I'm trying to connect though Robo3T and Mongobooster with this URL: mongodb://admin:pass@192.168.1.5:27017I  but I haven't response.

I need to add an user in the database because I'm trying to doing an iframe login but I can't to acces

[2018-03-27 20:10] geekgonecrazy commented on #9349
This is more of a conversation then a bug.  So ported conversation to the forum: https://forums.rocket.chat/t/howto-migrate-the-files-from-gridfs-to-filesystem/409 please resume there.

[2018-03-27 20:10] #9349 closed

[2018-03-27 20:30] phlegx commented on #6610
Happening to me still on `0.60.2`: One user is shown as `always online` Restarting the server solves it (for now)

[2018-03-27 20:32] arminfelder commented on #9349
@flayks I just published a POC: https://github.com/arminfelder/gridfsmigrate, haven't fully tested it yet

[2018-03-27 20:37] jberberick commented on #10198
There is never anymore than 20 online at a time, and this has happened with like 5 connected users.

[2018-03-27 20:43] geekgonecrazy commented on #1859
@engelgabriel @graywolf336 what do you guys think? Should we go ahead and close in favor of #6890 since that is our chosen route to solve this problem here?

[2018-03-27 21:21] reetp commented on #10140
@mic7000 I think you should be on the latest version of CentOS 6 - current version is 6.9

You may experience other issues regardless:

https://github.com/RocketChat/Rocket.Chat/issues/9943

[2018-03-27 21:44] #9734 closed

[2018-03-27 21:48] geekgonecrazy commented on #10241
Please post help request on our community forum: https://forum.rocket.chat

Github is for bugs and planned features.

Closing

[2018-03-27 21:48] #10241 closed

[2018-03-27 21:50] geekgonecrazy commented on #10238
Can you please explain what this chrome app you mention is?

[2018-03-27 21:55] geekgonecrazy commented on #10235
Rocket.Chat does not have a version 2.2.0  Our latest is 0.62.0 can you clarify a bit more which exact version you are referring to?

Also being more of a question then a bug or feature request i'd refer you to our forum(https://forums.rocket.chat) where such questions are a bit better suited.  This way we can keep our github clean for bugs and feature requests.

Thanks,

[2018-03-27 21:55] #10235 closed

[2018-03-27 21:57] geekgonecrazy commented on #10198
How big of files are you uploading?  Just trying to get a picture of what could be taking so much memory

Also can you look at top or something of the like to see if memory usage climbs and then goes back down after the file finishes uploading?

[2018-03-27 22:07] joshuaspence opened #10244 "Push notifications are being sent to deactivated users"
### Description:

We had an employee notify us that they were still receiving push notifications on their mobile device from our RocketChat installation. This was surprising to us because their RocketChat account had been deactivated. I tested this in our staging environment and was able to reproduce the issue.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.1
* Operating Sys

[2018-03-27 22:32] crowdstar5566 opened #10245 "Livechat "Closing Chat Comment" box loses cursor"
### Description:

When trying to close a live chat it asks you to type a comment.
(Personally, I don't really want to leave a comment and would like an option to just close the chat.)
But when you select the text field to type your comment the cursor is stolen and drops to the message box in the grayed background.  It lets you type and send a message instead of typing your comment.
I can get a let

[2018-03-27 22:40] ChameleonScales commented on #956
but just why even allow a character that breaks a feature ?
When you put a slash / in a filename inside a folder, you get a popup telling you that you can't do that, and you have to change the name. To me that's how it should behave.

[2018-03-28 00:37] TwizzyDizzy commented on #10213
I see your point... yet I think it's just not possible within one bug to "make the server start faster" ... yes, Rocket.Chat takes its time to come up... but I don't see anything that could be done fast to solve this. My server usually comes up far faster than 60 seconds, thought it's also not in the order of 5 seconds. You're writing, that you're on a shared mongodb cluster. This might also have

[2018-03-28 01:00] #9124 closed

[2018-03-28 01:09] geekgonecrazy commented on #10213
Depending on the amount of channels, users and subscriptions (users in channels) it can take a bit to start.  Let's take for instance open.rocket.chat.  it can take up to 5 minutes ;)

This is very dependant on server size, mongo and server speed.  If it takes even longer because of slow mongo to populate the cache then also nothing we can really do.

I'd agree issue wise.  Nothing here to really

[2018-03-28 01:09] #10213 closed

[2018-03-28 02:29] jberberick commented on #10198
The max file size is 8mb, but most files are are <4mb and maybe like 4 to 5 max simultaneous uploads.

I just uploaded a file and saw the memory usage (for node) jump from 39% to 41%, then drop to 36% after the upload completed.

[2018-03-28 06:39] robindijkhof commented on #10178
@graywolf336 any response please?

[2018-03-28 07:25] Roman-K opened #10247 "Cannot import ldap user when he has more than one email"
`# ldapsearch -LLL -x -d 256 -h ldap1 -b dc=testdc,dc=ru '(uid=romank)' mail
request done: ld 0x83f3878 msgid 1
dn: uid=romank,ou=People,dc=testdc,dc=ru
mail: r.kravtzov@testdc.ru
mail: r.kravtsov@testdc.ru
mail: romank@testdc.ru
request done: ld 0x83f3878 msgid 2
#
`

 20180328-07:12:37.099(0) [34mLDAPHandler ➔ info Init LDAP login romank
[20180328-07:12:37.099(0) [34mLDAP ➔ Connection.info Init

[2018-03-28 08:53] honzasram opened #10248 "Desktop app woking, web app not."
### Description:

As per title, I've met problem with latest image after recreating whole setup. Web applications is not responding. Proxy response is 504 Gateway Time-out. Same when i try go directly to server.
Desktop app is working like a charm.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Debian jessie
* Deployment Method(snap/docker/tar/etc): doc

[2018-03-28 11:27] yh1224 commented on #8929
Same here on version 0.62.2.

[2018-03-28 12:21] rafaelks commented on #9080
This one duplicates #5358.

[2018-03-28 12:22] rafaelks commented on #5358
On **0.63.0-develop**, there's another bug on this UI: the "OK" button now is "Send", but doesn't makes sense.

![screen shot 2018-03-28 at 09 19 54](https://user-images.githubusercontent.com/551004/38028503-799e58f0-3269-11e8-9f53-ee78a49e970c.png)

[2018-03-28 12:31] rafaelks opened #10249 "[BUG] User details view is different depending on the context from the same starting point"
### Description:

I'm trying to delete an user, I go to "Administration -> Users -> Select the user". The view that will appear on the right, will show different variations of buttons depending on my previous context before entering the admin page. Here's a GIF that demonstrate from `#general` room and from the DM with the user.

![2018-03-28 09 27 43](https://user-images.githubusercontent.com/551

[2018-03-28 12:44] Omrigan commented on #1112
+1

[2018-03-28 13:10] tboerger commented on #10106
If somebody can confirm the `options` just needs to be replaced by `user` I can prepare a PR to solve that.

[2018-03-28 13:13] filipedelimabrito opened #10250 "[IMPROVEMENT][LAYOUT] Better Admin/OAuth page"
Currently there isn't any way to see if an OAuth service is active without expanding it.
Adding a view showing if a service is active or not would be nice.

[2018-03-28 13:32] iangilfillan commented on #6895
Confirming this is still an issue in 0.62.2

[2018-03-28 13:33] iangilfillan commented on #7003
Still an issue in 0.62.2 - duplicate of #6895

[2018-03-28 14:05] geekgonecrazy commented on #10198
Please keep an eye on it and let us know if you find a pattern.  In it's current state not enough info for any of the devs to really chase this down.

Feel free to re-open if you find a consistent pattern

[2018-03-28 14:05] #10198 closed

[2018-03-28 14:09] Eiken commented on #8876
I get a lot of users complaining about this as well.

The Discovery page is nice but it lacks pagination so it only shows 10 channels at a time.

[2018-03-28 14:17] Eiken commented on #10024
Same here. It seems to be related to running a monitor with such high resolution that the scrollbar is never initialized. If I zoom in to make the scrollbar appear it starts to work.

[2018-03-28 14:19] renatobecker commented on #10022
Hi @cmonjeau,

Have you tried this in version `0.63.0`?
I'm running this version and the behavior is like below:

Option `Unread on top` is activated:
<img width="170" alt="screen shot 2018-03-28 at 11 05 17 am" src="https://user-images.githubusercontent.com/2067649/38034323-6944fa0e-3278-11e8-8021-bdb566b2a184.png">

The new unread Livechat appears both in the Livechat queue and in the unread gro

[2018-03-28 14:34] renatobecker commented on #10088
Hi @guilhermecfviana,

Have you tried this in version `0.63.0`?
I'm running this version and the behavior is like below:

![mar-28-2018 11-16-04](https://user-images.githubusercontent.com/2067649/38035681-4b6e0734-327b-11e8-9c97-f4beaf5783df.gif)

[2018-03-28 14:48] cmonjeau commented on #10022
Hi @renatobecker ,

Yeah, I tried it with 0.63.0 version and there was no problem. The problem appears with the 0.62.0 on my production server (deployed with docker). I am in the 0.62.2 version and this problem persists.

[2018-03-28 14:50] renatobecker commented on #10245
Hi @crowdstar5566,

Have you tried this in version 0.63.0?
I'm running this version and the behavior is like below:

![mar-28-2018 11-47-02](https://user-images.githubusercontent.com/2067649/38036820-f781554c-327d-11e8-816a-40ceb1428e87.gif)

[2018-03-28 15:13] javeedrahman opened #10251 "Have installed in ubuntu 16.04 LTS, but when open localhost:3000 is not loading"
Hi,
When I start node main.js as per the documents, I got the following output in the terminal, When I open the browser and type http://localhost:3000 it is not loading.

I am using Ubuntu 16.04 LTS,
Node: v8.10.0
Mongodb: 3.4

I don't know what i am doing wrong, please help

Will load cache for users
1 records load from users
Will load cache for rocketchat_room
1 records load from rocketchat_room

[2018-03-28 15:20] kaiiiiiiiii commented on #10251
Hi @javeedrahman,

please have a look at the following page to get support:
https://rocket.chat/docs/getting-support/

The GitHub issue board is mainly used for bugs and feature requests. Your issue looks more like a support case to me :)

Cheers,
Kai

[2018-03-28 15:37] guilhermecfviana commented on #10238
Hi ! @geekgonecrazy

On Windows, you can get rocket.chat chrome app through:

- https://github.com/RocketChat/Rocket.Chat.Electron/releases/download/2.10.5/rocketchat-setup-2.10.5.exe

[2018-03-28 15:43] guilhermecfviana commented on #10088
Hi @renatobecker

Acessando o seu perfil eu vi que você é brasileiro.
A minha versão é a 0.62.1 e eu utilizo o snap.
Isto ocorreu com um usuário do livechat e de lá pra cá não ocorreu novamente, eu não consegui mais reproduzir isto.

[2018-03-28 16:58] renatobecker commented on #10088
Ok @guilhermecfviana, I'll close this issue.
If you notice that this behavior is occurring again, please leave a new comment here.
Thanks.

[2018-03-28 16:58] #10088 closed

[2018-03-28 17:06] renatobecker commented on #10022
Ok @cmonjeau.
A new release(0.63.0) is coming in a few days, so I suggest you to wait this new version.
This issue will probably not appears again, but if you notice that this behavior is occurring, please leave a new comment here.
Thanks.

[2018-03-28 17:12] cmonjeau commented on #10022
No problems.

Thanks

[2018-03-28 17:50] ryjones commented on #9501
Even something as simple as being able to have the contents of public channels available read-only via the web would work for Hyperledger.

[2018-03-28 17:54] ryjones opened #10253 "BUG: users with a space in the name cannot be at-mentioned"
### Description:

We allow the use of social logins. Users may come in from GitHub, or Google+, for instance and put a space in the username when they sign up. I am unable to at-mention these users.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.0

### Steps to Reproduce:

1. create user with space in name
2. join user to channel
3. attempt to at-mention user
4. User appears

[2018-03-28 18:09] graywolf336 commented on #1859
@geekgonecrazy yes I agree. Closing this in favor of #6890.

[2018-03-28 18:09] #1859 closed

[2018-03-28 18:10] graywolf336 commented on #7575
Closing this in favor of #6890

[2018-03-28 18:10] #7575 closed

[2018-03-28 18:11] sampaiodiego opened #10254 "Bottom scroll bar showing on channels page"
### Description:
This was happening on other pages before (like my account and admin pages), but now somehow it is happening on room page as well.

This is related a [negative margin](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-theme/client/imports/components/header.css#L19) on `#header` component without a container.

### Server Setup Information:

* Version of Rock

[2018-03-28 18:14] graywolf336 commented on #262
Closing this in favor of it becoming a Rocket.Chat App. Please provide some feedback on our forums as I created a post to correlate to this: https://forums.rocket.chat/t/todo-list-application/423

[2018-03-28 18:14] #262 closed

[2018-03-28 18:43] GavinHanson opened #10255 "Segmentation fault (core dumped) on 2nd start up."
### Description:

When attempting to run the main.js file (after a restart) it doesn't give any logs or error output but gives a core dumped error.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0-deve;lop
* Operating System: Ubuntu Xenial
* Deployment Method(snap/docker/tar/etc): docker
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version: 8.10.0
* mongoDB

[2018-03-28 18:48] graywolf336 commented on #9177
@timkinnane No. There is no "meteor method" which is defined for the send notifications, it's a function inside the server code.

As for whether a bot should work inside an App, that was something we discussed at our Summit. The answer decided was that right now, no it won't but as soon as we start working on the market place for the Apps we will readdress the topic and proceed to figure out how b

[2018-03-28 19:12] AFrangopoulos commented on #9118
@theodorDiaconu I am trying (and failing) to get redis-oplog to work on my RC Instance.  Is rocket chat's current infrastructure blocking the ability to use redis-oplog?  I was able to easily add redisOplog to a simple app I made to test it out, but not able to do so for my RC app.

[2018-03-28 19:37] sampaiodiego commented on #7143
are you guys still having this issue?

[2018-03-28 20:14] cinderblock commented on #9580
This happened to me again. The server crashed at `Mar 27 13:30:17` with no warning on console.

I then modified systemd configuration and made Rocket.Chat restart automatically if it ever crashes or exits and started it again. It worked for a few minutes, then crashed and proceeded to restart 5 times in quick succession before successfully starting.

Of note, I'm playing with some integration scri

[2018-03-28 20:32] garynobles opened #10256 "invalid file width when uploading png asset"
### Description:

### Server Setup Information:

* Version of Rocket.Chat Server: installed 28/03/2018 using sudo snap install rocketchat-server
* Operating System: Ubuntu
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances: 1
* DB Replicaset Oplog:
* Node Version:
* mongoDB Version:

### Steps to Reproduce:

1. navigate to admin--> assets
2. try to upload png with exact d

[2018-03-28 20:54] dominikmauritz commented on #658
I'm also interested in hosting different companies on the same server.

Organizing users in different teams and making sure that a user only sees conversations and other users of teams to which he was invited would be sufficient for my use case.

[2018-03-28 22:31] GoetheG opened #10261 "Connect with Nextcloud/Nextcloud Talk in order to build a strong communication platform"
The way I see it Rocket.Chat is missing functions from Nextcloud and the other way around. Maybe it would be interesting to combine both projects or at least build a bridge? That would be a definite win for the community,

[2018-03-28 22:41] timkinnane commented on #9177
OK thanks @graywolf336. I actually just caught up on the context a couple days ago. As I understand it though, the new apps-as-bots architecture will still live alongside other external hosted bots, as it would have to in order to allow bots with other frameworks and bot platform providers.
I need to start another discussion on that issue to work out a clear vision because it will help clarify lot

[2018-03-28 23:21] crowdstar5566 commented on #10245
Since it's installed as a snap I can't get to version 63.0.
62.2 seems to be the current and "snap refresh rocketchat-server --channel=edge" installed an even older version.

[2018-03-28 23:24] furkanmustafa commented on #7143
Nope, mine is okay in newer versions.

[2018-03-28 23:48] ryjones commented on #10253
@milesflo valid usernames may have spaces, though

[2018-03-29 02:11] sampaiodiego commented on #7143
closing then since seems to be fixed.

please let me know if someone still having this.

[2018-03-29 02:11] #7143 closed

[2018-03-29 05:15] chandrahasan commented on #5450
Hi Team, I am getting this error
Failed to start Service for snap application rocketchat-server.rocketchat-mongo
when i tried to check mongo  db status

[2018-03-29 05:52] joshuaboniface opened #10263 "File uploads from Android RocketChat+ cause "unix error: Too many open files" on server"
### Description:

When uploading a mid-sized (~2-3MB) image file from RocketChat+ on Android, the server throws an error. The upload fails with some sort of "timeout"/"Your connection seems off..."/"Authenticating" loop on the client, and the server goes into a socket error loop.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2 (stable)
* Operating System: Debian 9.3
* Deplo

[2018-03-29 06:11] 24601 opened #10264 "Inactive Account Emails Are Hardcoded"
### Description:

When a user is created as inactive they are sent an email by Rocket.Chat.

### Server Setup Information:

* Version of Rocket.Chat Server:  0.62.2
* Operating System: Ubuntu Xenail
* Deployment Method(snap/docker/tar/etc): Docker
* Number of Running Instances: 1
* DB Replicaset Oplog: Yes
* Node Version: 8.9.4
* mongoDB Version: 3.4

### Steps to Reproduce:

1. Create a user via

[2018-03-29 06:18] geekgonecrazy commented on #10263
This could be problematic.

Let's say Instance A is the one that gets this, and Instance B is the one you are connected to via a websocket.  If it were to post a file... If that path goes to Instance A it will be proxied server side over to Instance B to handle since that's where you are connected.

On the new beta version of the Rocket.Chat+ app this is no longer the case and it'll upload all fil

[2018-03-29 06:19] geekgonecrazy commented on #10263
Might be worth giving the beta a try, though you will loose your connection info when you upgrade to the beta version.  You'll have to re-input it.

[2018-03-29 06:21] #10263 closed

[2018-03-29 06:25] joshuaboniface commented on #10263
Thanks @geekgonecrazy that does make sense. Just to clarify though, the problem seems to occur behind load balancing regardless of the force-to-A rule (I had it off for the last few weeks, and added it because of this issue - it works at least 25% of the time with the rule, and 0% of the time without), but I added it back as a test. I'll give the beta app a try though!

[2018-03-29 06:29] geekgonecrazy commented on #4154
Going to go ahead and close this.

Please move discussion to [forum](https://forums.rocket.chat) in the community support or feature request category

[2018-03-29 06:29] #4154 closed

[2018-03-29 06:31] geekgonecrazy commented on #4221
This one is a bit old and we have gone through a few releases since then.  Please feel free to re-open if still and issue.

[2018-03-29 06:31] #4221 closed

[2018-03-29 06:32] geekgonecrazy commented on #4580
Going to go ahead and close this.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support or feature request category

[2018-03-29 06:32] #4580 closed

[2018-03-29 06:33] geekgonecrazy commented on #4923
This one is getting a bit old now.

Going to go ahead and close this.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support or feature request category

[2018-03-29 06:33] #4923 closed

[2018-03-29 06:36] geekgonecrazy commented on #4234
This one hasn't received any posts for a while. Going to go ahead and close this.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support category

[2018-03-29 06:36] #4234 closed

[2018-03-29 06:38] geekgonecrazy commented on #6116
Windows server isn't officially supported

Going to go ahead and close this.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support.  Also take a look at community guides.

[2018-03-29 06:38] #6116 closed

[2018-03-29 06:38] geekgonecrazy commented on #6182
Going to go ahead and close this.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support category

[2018-03-29 06:38] #6182 closed

[2018-03-29 06:40] geekgonecrazy commented on #6289
Please let us know if you find a reproducable bug.

Going to go ahead and close this.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support category

[2018-03-29 06:40] #6289 closed

[2018-03-29 06:42] geekgonecrazy commented on #6625
I believe this is now fixed.

Going to go ahead and close this.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support category

[2018-03-29 06:42] #6625 closed

[2018-03-29 06:46] geekgonecrazy commented on #5608
Going to go ahead and close this.  Kinda old with no new posts.

Would be interested to hear what else you found.

Feel free to move discussion to [forum](https://forums.rocket.chat) in the community support category

[2018-03-29 06:46] #5608 closed

[2018-03-29 06:47] geekgonecrazy commented on #7166
This one hasn't received activity in a while.  Going to go ahead and close.

[2018-03-29 06:47] #7166 closed

[2018-03-29 06:50] geekgonecrazy commented on #6341
Solution here is definitely setting INSTANCE_IP

Needed to communicate and deliver notifications between instances

[2018-03-29 06:50] #6341 closed

[2018-03-29 06:51] geekgonecrazy commented on #9294
Closing due to no response

[2018-03-29 06:51] #9294 closed

[2018-03-29 06:52] geekgonecrazy commented on #6507
Shouldn't be an issue any more especially if using our dockerfile

[2018-03-29 06:52] #6507 closed

[2018-03-29 06:55] 24601 commented on #3183
It seems that the PR merged in 91b4f0 didn't extend this new logic to S3-based file uploads. Can anyone verify this or explain why this didn't happen? We are considering doing the work and will source it back, but wanted to check to see if there was any wisdom around excluding S3.

[2018-03-29 06:57] geekgonecrazy commented on #6633
Going to go ahead and close this. Please feel free to open a topic on our [forum](https://forums.rocket.chat) in the community support category

[2018-03-29 06:57] #6633 closed

[2018-03-29 06:58] phantom603 commented on #3582
+1

[2018-03-29 07:00] geekgonecrazy commented on #6312
Please feel free to reach out via our [forum](https://forums.rocket.chat) or our [community server](https://open.rocket.chat) to discuss.

Going to close due inactivity

[2018-03-29 07:00] #6312 closed

[2018-03-29 07:02] geekgonecrazy commented on #5503
Please feel free to reach out via our [forum](https://forums.rocket.chat) or our [community server](https://open.rocket.chat) to discuss.

Going to go ahead and due to non response by author.

[2018-03-29 07:02] #5503 closed

[2018-03-29 07:04] geekgonecrazy commented on #4834
Please feel free to reach out via our [forum](https://forums.rocket.chat) or our [community server](https://open.rocket.chat) to discuss.

Forum would be a bit more appropriate to continue. That way we keep this for bugs and planned features

[2018-03-29 07:04] #4834 closed

[2018-03-29 07:07] geekgonecrazy commented on #7050
Please feel free to reach out via our [forum](https://forums.rocket.chat) or our [community server](https://open.rocket.chat) to discuss.

From the looks this is support, if we narrow it down to a bug please open a new issue.  But to keep our issue log for bugs and planned features, I'm going to go ahead and close

[2018-03-29 07:07] #7050 closed

[2018-03-29 07:09] geekgonecrazy commented on #6120
That file doesn't exist.  Must be custom code base?  Going to go ahead and close.

Old issue and nothing actionable for the team.

[2018-03-29 07:09] #6120 closed

[2018-03-29 07:10] geekgonecrazy commented on #7437
Going to go ahead and close this.  Have walked several more people through this successfully so seems to work ok

[2018-03-29 07:10] #7437 closed

[2018-03-29 07:15] geekgonecrazy commented on #10238
Ah!  Our Rocket.Chat+ app.  Does it show the bar across the top that it's trying to reconnect?

[2018-03-29 07:33] dqcanh commented on #9649
@graywolf336
I have the same question. The answer you mentioned in above link is not the correct one for this question (here, I want to get unread messages. Not the messages not shown by the query). I figured out that the "unreads=true" in APIs channels.history, groups.history and im.history is for another purpose instead of pulling unread messages. I found it from here https://stackoverflow.com/q

[2018-03-29 07:43] himbeere commented on #10255
nodejs-8.10.0 is broken. take a look at https://github.com/RocketChat/Rocket.Chat/issues/10060#issuecomment-374305553

[2018-03-29 07:47] CorentinDy commented on #6120
Don't worry we have already moved on Discord, little late to answer ;)

[2018-03-29 08:04] theodorDiaconu commented on #9118
@AFrangopoulos what're the errors ?

[2018-03-29 08:31] GavinHanson commented on #10255
Thanks, Looks like the fix from lower down in that page worked, installed 8.9.4 and it seems to be working again.

[2018-03-29 08:31] #10255 closed

[2018-03-29 08:39] alexleosumy commented on #6791
I have the same issue
RocketChat v 0.62.2

[2018-03-29 08:59] chandrahasan opened #10265 "Unable to take backup rocketchat server - /var/lib/snapd has 'other' write 40777"
Rocket chat server is installed as Snap a month ago in Ubuntu 16.04 and now it is down due to snapd.service got failure. I tried to restart this service again but still not restarted.

So I tried to backup the Rocketchat server using following command,
sudo snap run rocketchat-server.backupdb
getting following error
/var/lib/snapd has 'other' write 40777

[2018-03-29 09:07] megamaced commented on #10142
Please reopen, this is not a new issue, it has been happening for months. After about a week of uptime, push notifications seem to stop getting sent out, and then when RC is restarted, the backlog is spat out to all users

[2018-03-29 09:08] sefter25 opened #10266 "snap auto-refresh overwrite my Caddyfile"
### Description:

After snap auto-refresh rocket-chat yesterday night, it was not possible to access our rocket chat server, because the "Caddyfile" was overwritten by auto-refresh. It´s normal? How we can stop/disable the auto-refresh?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: OpenSuse Leap 42.3
* Deployment Method(snap/docker/tar/etc): snap
* Num

[2018-03-29 09:20] Wirone opened #10267 "HUBOT_HELP_REPLY_IN_PRIVATE does not work for Internal Hubot"
### Description:

We want to use Internal Hubot with `HUBOT_HELP_REPLY_IN_PRIVATE` set to `true`. Bot is responding on the channel where it's invoked (with `replied to you in private!`), but direct message does not arrive to user.

We have `Enable for Direct Messages` set to `Yes` in Internal Hubot's configuration.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating

[2018-03-29 09:24] reetp commented on #9943
Have done so but no response from you :-)

[2018-03-29 09:37] ricardojrgpimentel opened #10268 "Fail to start rocket.chat snap"
I'm having trouble starting my instance of rocket.chat, i'm running ubuntu 16.04 with a snap of rocket.chat and noticed this morning that the chat wasn't running, here are the logs:

`systemctl status snap.rocketchat-server.rocketchat-server.service` is running without errors

` systemctl status snap.rocketchat-server.rocketchat-mongo.service` is running without errors

`systemctl status snap.rock

[2018-03-29 11:19] sbonnegent commented on #2355
As a work around, we use this shell script in crontab to delete all old messages (one month). However, this does not work on channel messages (we don't know where messages are store in mongo).

[code]

[2018-03-29 12:54] ArchimedesFM commented on #6535
The problem still occurs on 0.62.2
The user schmidt.katha was deleted 3 month ago.

I20180329-14:46:16.932(2) Empty Room for Subscription { _id: 'riw2zx3fZBDPDyXBE',   rid: 'rv2SY6R78kQK5p9PftBtnrt5pk4MQnKnA3',   ts: 2017-05-22T09:20:24.288Z,   ls: 2017-05-22T09:23:14.485Z,   open: false,   _updatedAt: 2018-03-29T12:17:40.868Z,   name: 'schmidt.katha',   t: 'd',   alert: false,   unread: 0,   u: {

[2018-03-29 13:02] Nepoxx commented on #10268
`example.com.crt` certainly looks like an invalid certificate. Based on https://github.com/RocketChat/Rocket.Chat/issues/10266 it seems like the Caddyfile was overwritten by the default one, you might have to edit it to point to your certificate?

[2018-03-29 13:05] mrsimpson commented on #1112
for those desperately looking for some threading ability: In [Assistify](https://youtu.be/zX5tFyq6se8), which includes a fork of Rocket.Chat, we decided to go for a very heavy threading: Each thread is a room (a custom room type which can have an end). In order to be somewhat compatible also with the mobile apps, we didn't implement any further hierarchical display.
Check [this video](https://yout

[2018-03-29 13:09] sampaiodiego commented on #10142
@megamaced do you ming opening a new issue describing what you are facing? it does not seem related to this one

[2018-03-29 13:15] craig commented on #1112
@mrsimpson, that was probably not a big change? Maybe we could try getting it into mainline?  [](https://github.com/assistify/Rocket.Chat/commits/develop )

[2018-03-29 13:29] mrsimpson commented on #1112
@craig well, one could think so. And the actual changes aren't that huge. With a bit of rework, we could separate it from the rest of our modifications.
However, I've been in touch with the Rocket.Chat-guys for a, [looooooong time](https://github.com/RocketChat/Rocket.Chat/issues/6888). I know they've got an own idea how it should work - but it seems they don't make much progress with that, since

[2018-03-29 13:38] craig commented on #1112
"Done" is better than perfect. ;) Let's hope something happens, I guess otherwise it's time to check out your code. Thanks for the explanation!

[2018-03-29 13:56] Hudell commented on #10230
Are you using a script in this webhook? Can you share your webhook configuration?

[2018-03-29 14:22] rodrigok commented on #8382
Already implemented. I'll close this issue, please reopen if you need.

[2018-03-29 14:22] #8382 closed

[2018-03-29 14:33] geekgonecrazy commented on #633
Going to go ahead and close this.  OSX is not currently among our supported platforms for installation.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 14:33] #633 closed

[2018-03-29 14:34] geekgonecrazy commented on #632
Going to go ahead and close this.  Windows is not currently among our supported platforms for installation.  This might change in the future.  We have a few community contributors working to make it work.  But its not currently among our supported set.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature

[2018-03-29 14:34] #632 closed

[2018-03-29 14:36] sampaiodiego commented on #251
we have this already
![image](https://user-images.githubusercontent.com/8591547/38094877-6bb91ab8-3345-11e8-8593-09273ee9b6bd.png)

[2018-03-29 14:36] #251 closed

[2018-03-29 14:37] sampaiodiego commented on #1832
thanks @exhuma .. I think it solves the issue.

[2018-03-29 14:37] #1832 closed

[2018-03-29 14:38] sampaiodiego commented on #3350
is the slash commands `/invite-all-from` and `/invite-all-to` enough?

[2018-03-29 14:38] geekgonecrazy commented on #638
This would make for a great Rocket.Chat App.  But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 14:38] #638 closed

[2018-03-29 14:38] sampaiodiego commented on #3812
thanks @Rohlik . closing

[2018-03-29 14:38] #3812 closed

[2018-03-29 14:39] geekgonecrazy commented on #877
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 14:39] #877 closed

[2018-03-29 14:40] sampaiodiego commented on #5278
you can do this using the `AutoTranslate` feature. It is under `Admin > Message` menu.

[2018-03-29 14:40] #5278 closed

[2018-03-29 14:41] roberdaniel commented on #10268
Same problem here.
Caddy can't find certificates on path ...acme-v02.api.letsencrypt.org/sites... folder is empty.
Acme V02 certificates are not currently being created?

[2018-03-29 14:42] geekgonecrazy commented on #1459
This is not something we currently plan to do.  This could change.  It also does not necessarily pertain to this code base.  Instead actually proposing a project.

This might be a bit better suited for [our forum](https://forums.rocket.chat) in the feature request category. Then a proper issue can be spun off from there if we ever decide to work on it.

Thanks,

[2018-03-29 14:42] #1459 closed

[2018-03-29 14:43] geekgonecrazy commented on #1669
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 14:43] #1669 closed

[2018-03-29 14:46] geekgonecrazy commented on #1996
This is actually possible via iframe.  You can use the layout query param to restrict to embedded which wouldn't have the channel list, instead just the channel

[2018-03-29 14:46] #1996 closed

[2018-03-29 14:46] sampaiodiego commented on #5496
you can enable it under `Admin > Layout > User Interface`

[2018-03-29 14:47] #5496 closed

[2018-03-29 14:50] geekgonecrazy commented on #2364
Going to go ahead and close this.  We have cloud and a few other partners providing 100% effortless creation of server.  Then we now have snap, docker and sandstorm for minimal effort and quick installs

[2018-03-29 14:50] #2364 closed

[2018-03-29 14:51] geekgonecrazy commented on #2935
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 14:51] #2935 closed

[2018-03-29 14:53] geekgonecrazy commented on #3350
I think this ties into the groups or teams functionality like github has with `@rocketchat/core`

[2018-03-29 14:55] sampaiodiego commented on #6114
[looks like](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-lib/server/lib/sendNotificationsOnMessage.js#L60) we are doing this right now, so closing this =)

[2018-03-29 14:55] #6114 closed

[2018-03-29 14:59] geekgonecrazy commented on #4717
I think we actually do sluggify now.  Going to go ahead and close

[2018-03-29 14:59] #4717 closed

[2018-03-29 14:59] geekgonecrazy commented on #4797
This would make for a great Rocket.Chat App or external integration. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 14:59] #4797 closed

[2018-03-29 15:00] ampj007 commented on #10230
yes.
script:
class Script {
  /**
   * @params {object} request
   */
  process_incoming_request({ request }) {
    // request.url.hash
    // request.url.search
    // request.url.query
    // request.url.pathname
    // request.url.path
    // request.url_raw
    // request.url_params
    // request.headers
    // request.user._id
    // request.user.name
    // request.user.username
    // requ

[2018-03-29 15:01] TwizzyDizzy commented on #10266
@rocket-cat close

Seems to be a dupe of #10268, no? Copying your description there though, because it is more precise.

Cheers
Thomas

[2018-03-29 15:01] #10266 closed

[2018-03-29 15:01] sampaiodiego commented on #6638
we have implemented a `Directory` feature for this..

[2018-03-29 15:01] #6638 closed

[2018-03-29 15:01] geekgonecrazy commented on #4814
I think this feature request is a bit too broad and not detailed enough for anyone to really work on.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:01] #4814 closed

[2018-03-29 15:02] TwizzyDizzy commented on #10268
@sefter25 in #10266 for better description:

Cheers
Thomas

[2018-03-29 15:03] AFrangopoulos commented on #9118
Application starts successfully, and it does a bunch of dummy collection sub/unsubs.
Once I try to go to the application URL (localhost:3000), i get this trace (and app crashes):
[code]

[2018-03-29 15:10] geekgonecrazy commented on #5527
Its possible now to start a conversation with your self.

This would also make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:10] #5527 closed

[2018-03-29 15:11] geekgonecrazy commented on #6102
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:11] #6102 closed

[2018-03-29 15:11] geekgonecrazy commented on #6111
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:11] #6111 closed

[2018-03-29 15:12] sampaiodiego commented on #7604
you can see that on `Directory` page =)

[2018-03-29 15:12] #7604 closed

[2018-03-29 15:13] Hudell commented on #10230
It worked fine for me even with your script. What version of Rocket.Chat are you using?

[2018-03-29 15:16] ampj007 commented on #10230
![screen shot 2018-03-29 at 8 45 21 pm](https://user-images.githubusercontent.com/8987881/38097159-3ccd9e3e-3392-11e8-9ace-4e4cd7dfbedd.png)
I added the version with few details

[2018-03-29 15:20] geekgonecrazy commented on #6440
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:20] #6440 closed

[2018-03-29 15:21] geekgonecrazy commented on #6513
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:21] #6513 closed

[2018-03-29 15:22] geekgonecrazy commented on #6484
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:22] #6484 closed

[2018-03-29 15:25] geekgonecrazy commented on #6656
The redesign moved all of these.  Going to go ahead and close :)

[2018-03-29 15:25] #6656 closed

[2018-03-29 15:25] geekgonecrazy commented on #6769
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:25] #6769 closed

[2018-03-29 15:26] geekgonecrazy commented on #6852
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

Actually the one working on the Rocket.Chat App framework has already started creating this app.  @graywolf336

[2018-03-29 15:26] #6852 closed

[2018-03-29 15:28] geekgonecrazy commented on #7197
@graywolf336 I think the Rocket.Chat Apps framework probably makes this request not needed any more?  Thoughts?

[2018-03-29 15:29] geekgonecrazy commented on #7289
I believe this has actually been implemented.  @MarcosSpessatto or @graywolf336 do either of you know how this works?

[2018-03-29 15:30] geekgonecrazy commented on #7422
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:30] #7422 closed

[2018-03-29 15:30] geekgonecrazy commented on #7946
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:30] #7946 closed

[2018-03-29 15:32] geekgonecrazy commented on #8131
I believe we have actually replaced with our own implementation.  Going to go ahead and close

[2018-03-29 15:32] #8131 closed

[2018-03-29 15:32] geekgonecrazy commented on #8285
This would make for a great Rocket.Chat App. But not something we necessarily would want to add to our core code base.

If any want to discuss or propose this feature in detail please feel free to open a post on [our forum](https://forums.rocket.chat) in the feature request category.

Thanks,

[2018-03-29 15:32] #8285 closed

[2018-03-29 15:34] geekgonecrazy commented on #8638
With the new redesign that has actually been changed up.  So this should not longer be an issue.  Please let me know if it still is

[2018-03-29 15:34] #8638 closed

[2018-03-29 15:35] geekgonecrazy commented on #8798
This is specific to the desktop client.  Feel free to open an issue there: https://github.com/rocketchat/rocket.chat.electron  but I don't think its something we plan to do

[2018-03-29 15:35] #8798 closed

[2018-03-29 15:37] geekgonecrazy commented on #9962
I think this was implemented in the Rocket.Chat App framework.  So may be that would solve your use case?

[2018-03-29 15:38] rasos commented on #8798
@arminfelder can we achieve this with the RC compatible fairchat Qt mobile client, if we optimize it for desktop?

[2018-03-29 15:39] guilhermecfviana commented on #10238
Yes, you did reproduce this?

When my internet is down, my user stay online for others users.

[2018-03-29 15:55] graywolf336 commented on #6852
Here's the pull request to add it: https://github.com/RocketChat/Rocket.Chat.Apps-dev-environment/pull/7

[2018-03-29 16:00] graywolf336 commented on #10208
Closing this as the notice on the Cordova project states that after the end of March it will be deprecated and no longer supported. https://github.com/RocketChat/Rocket.Chat.Cordova#important-notice

[2018-03-29 16:00] #10208 closed

[2018-03-29 16:08] graywolf336 commented on #10202
We have a setting for this, but it seems the redesign accidentally removed the ability to save it: https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-channel-settings/server/methods/saveRoomSettings.js#L115

[2018-03-29 16:12] graywolf336 commented on #7289
Yes and no. There is the ability to generate a user token, however it appears to have been removed from the UI and is no longer accessible unless interacted with via code.

[2018-03-29 16:14] graywolf336 commented on #7197
@geekgonecrazy honestly, I think we need this on the Apps side as well. The ability to sort and easily find the Apps. But since the Integrations won't be going anywhere anytime soon, it would still be a nice thing to have as the integrations list page is terrible once you have more than five.

[2018-03-29 16:31] arminfelder commented on #8798
@rasos yes of course

[2018-03-29 16:37] theodorDiaconu commented on #9118
You did not add it as the first package as the instructions said.

[2018-03-29 16:42] kaiiiiiiiii commented on #8798
There’s no need for an extra application, you can archive that with the already existing Rocket.Chat Electron app (run electron-builder with portable as target format).

And as @geekgonecrazy already mentioned, please open an issue in the electron app repository for that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-29 16:58] geekgonecrazy commented on #1086
https://github.com/RocketChat/hubot-rocketchat/pull/71/files I started to do that here.  Doing exactly as you said. :)

Rocket.Chat apps are now able to do this so the commands should actually all be ready here in the rest and real time api.  Its all up to the bot side now :)

[2018-03-29 17:01] geekgonecrazy commented on #2651
Closing in favor of #9017

[2018-03-29 17:01] #2651 closed

[2018-03-29 17:34] AFrangopoulos commented on #9118
🤦‍♂️ Ah I forgot about that in the notes.  After doing that I get another Exception.  App isn't "crashed" but when accessing the application it just spins forever.
[code]
Inject.js:26 is:
[code]

[2018-03-29 17:35] mrsimpson commented on #1112
@sampaiodiego Feature:planned?

[2018-03-29 17:44] theodorDiaconu commented on #9118
Oh... never thought about this usecase of a regex id. Pls file an issue on redisoplog thnx

Regards,
Theodor

[2018-03-29 17:47] sampaiodiego commented on #1112
yep. we plan to have it =)

[2018-03-29 17:51] AFrangopoulos commented on #9118
Created issue.  Thanks for your help Theodor!

[2018-03-29 18:08] mrsimpson commented on #1112
And you'll be assigning a milestone to it?

[2018-03-29 18:20] sampaiodiego opened #10271 "Livechat room icon missing"
### Description:

Livechat room icon on side nav is missing.

![image](https://user-images.githubusercontent.com/8591547/38106222-b46b5216-3364-11e8-8859-8017c6a54e42.png)

[2018-03-29 18:24] Hudell commented on #10256
Do you mind sharing the png file you're trying to upload? I tested with some random pictures and it seemed to be working fine.

[2018-03-29 18:53] Hudell commented on #10120
This was fixed on #10051, which is included on version [0.63](https://github.com/RocketChat/rocketchat.github.io/issues/162)

[2018-03-29 19:32] lkraider commented on #633
Just wanted to add, we are running on macOS hosts using docker with good results.

[2018-03-29 20:46] xzag commented on #956
@ChameleonScales @sketch242 Current "Names Validation" regexp is also used for channels and groups. Therefore you either have mentions working and no spaces, dots, commas, etc.. in usernames, groups and channels. Or you ignore mentions and everything else is working.

I'm not sure if mentions for complex usernames will ever be implemented but at least maybe it is possible to separate those regexes

[2018-03-29 20:47] kics82 opened #10275 "Hubot does not load anything but help"
I have installed Rocket Chat using Docker on Ubuntu 16.04 and everything is up and running but even I add to external scripts they do not load into the chat at all. When I enter the bot help command i just get:

even thought I have many more in the EXTERNAL_SCRIPTS.

Any ideas?

[2018-03-29 22:18] ricardojrgpimentel commented on #10268
@geekgonecrazy I have less files in the 1232 directory then the current directory

[2018-03-29 22:40] pshute commented on #1112
@mrsimpson Thank you for the video, although I have to admit I found it difficult to follow properly with the messages in German because I couldnt remember which text I had seen threaded and not threaded.

My feeling is that this is not the kind of threading we want. It appears to hide the threaded conversation from the rest of the messages in the channel. For us, this will lead to some channel me

[2018-03-29 22:56] pshute commented on #1112
@sampaiodiego can you please explain what you meant there? Do you mean that you intend for Rocket.Chat to have some kind of threading, or that you intend for it to have the threading from Assistify?

[2018-03-29 23:15] HammyHavoc commented on #1112
@mrsimpson I think it looks brilliant!

Works as I would expect it would. @pshute, if you can cite an example of how threading would work in an ideal world, I'd love to see what your team does want because it may genuinely be superior.

Assistly has a brilliant looking threading feature ready for integration with RocketChat's main repository. Don't like it? Disable it or don't enable it. Simple. M

[2018-03-29 23:19] HammyHavoc commented on #10261
This would be amazingly cool.

[2018-03-30 00:40] pshute commented on #1112
@HammyHavoc please have a read through the messages above for some of the arguments for and against the various styles of threading. In particular the criticisms of Slack’s threading.

But there doesn’t have to be just one way. @mrsimpson would the data structure you’ve used for your implementation support a Flowdock style of thread presentation? There are screenshots towards the start of this iss

[2018-03-30 04:09] geekgonecrazy commented on #10238
If other users see you as online it's a bug.  The status will show your chosen status not your current status... So that's not a bug.  The only exception is away.

Going to go ahead and close

[2018-03-30 04:09] #10238 closed

[2018-03-30 04:22] geekgonecrazy commented on #513
Please feel free to open a topic on our forum in the feature request section to properly detail this proposed feature.

[2018-03-30 04:29] geekgonecrazy commented on #500
I think this was basically #9556

[2018-03-30 04:39] geekgonecrazy commented on #8038
Did it ever drop?  If not sounds like we are holding on to variables not being used after the disconnect 🤔

[2018-03-30 04:42] geekgonecrazy commented on #9321
Loki is our cache layer.

I'm going to suggest this would be more appropriately discussed in the forum. https://forums.rocket.chat especially since this isn't a bug.

Going to go ahead and close.

[2018-03-30 04:42] #9321 closed

[2018-03-30 04:44] geekgonecrazy commented on #1570
Feel free to propose in detail on our [forums](https://forums.rocket.chat) for future consideration as a feature

[2018-03-30 04:47] geekgonecrazy commented on #712
I think this is something that might be possible via rocket.chat apps.

Feel free to propose in detail on our [forums](https://forums.rocket.chat) for future consideration as a feature

[2018-03-30 04:50] geekgonecrazy commented on #1794
I believe this is also possible with 0.62.0

[2018-03-30 04:52] geekgonecrazy commented on #525
These would make for some great app features.

Maybe we should propose some of these features individually that are missing from the apps functionality?

[2018-03-30 04:55] geekgonecrazy commented on #10263
I've had it happen with a single instance also.  Uploading via the real time api is just painful.  :). Please make sure to let the mobile team know what you think.  They have been working hard on it 😁

[2018-03-30 04:59] geekgonecrazy commented on #6588
How many days did you change to?  How many oembed messages?  For sure need more details

[2018-03-30 05:04] geekgonecrazy commented on #1307
@shtefcs see: https://forums.rocket.chat/t/about-the-feature-requests-category for explaination of our process.

We want to make it easier for the community to see what we actually plan to work on.  Also to encourage more well thought out and discussed features.

Right now our github is a hot mess of good ideas, terrible ideas, good ideas that we really shouldnt add to our core, good ideas that co

[2018-03-30 05:11] geekgonecrazy commented on #3355
I believe so.  I think we just need to add a link to click and go to the DM

[2018-03-30 05:13] geekgonecrazy commented on #6030
@timkinnane my experience with internal hubot is very limited.  😁 I think should work with that PR though

[2018-03-30 05:14] geekgonecrazy commented on #3574
Technically you can add hubot to room.

We actually use hubot to answer and transfer to humans

[2018-03-30 05:14] #3574 closed

[2018-03-30 05:16] geekgonecrazy commented on #7470
Please try on newer version.  A lot has changed related to avatars.  Actually 0.63 will be released soon, and it has even more fixes

[2018-03-30 05:16] #7470 closed

[2018-03-30 05:18] geekgonecrazy commented on #10268
Still likely worth a try to copy them over

[2018-03-30 05:20] #2571 closed

[2018-03-30 05:22] geekgonecrazy commented on #7385
Going to go ahead and close.  Should be resolved for everyone

[2018-03-30 05:22] #7385 closed

[2018-03-30 05:53] mayankstg opened #10276 "not able to install rocket chat manually on my ubuntu machine"
Hi
     I am following all the steps given in Rocket chat installation guide, but when i am making environment variables after that when i am calling step
node main.js

getting the error

/home/manishk/Rocket.Chat/programs/server/node_modules/fibers/future.js:280
                                                throw(ex);
                                                ^

Error: MONGO_URL must be s

[2018-03-30 05:56] sbonnegent commented on #2355
Correction, it is working also on channels, but there must have probably a little cache on the client.

[2018-03-30 06:31] eeldwin commented on #10276
You need export the environment variable by using these commands:

export ROOT_URL=http://your-host-name.com-as-accessed-from-internet:3000/
export MONGO_URL=mongodb://localhost:27017/rocketchat
export PORT=3000

[2018-03-30 06:50] kernicPanel commented on #1086
I don't use Rocket.Chat anymore, but I'm really happy to see this coming.
Thanks @geekgonecrazy for your work :)

[2018-03-30 07:32] geekgonecrazy commented on #10268
Related:https://caddy.community/t/rocketchat-works-only-in-self-signed-mode/3595/2

[2018-03-30 07:34] GoetheG commented on #10261
@HammyHavoc: Take a look here, thry actually plan a chat support:
https://github.com/nextcloud/spreed/issues/687

[2018-03-30 07:50] mayankstg commented on #10276
Hi eeldwin
 thanks for the response but i already did same
echo $MONGO_URL
mongodb://localhost:27017/rocketchat

echo $PORT
3000

echo $ROOT_URL is also giving me the required port but still manual installation not working but if i tried using snap this is working totally fine but my requirement is to do the task manually

[2018-03-30 10:05] TheReal1604 commented on #8038
@geekgonecrazy it just drops after a complete container restart.

[2018-03-30 10:26] maitriT opened #10277 "direct message procedure"
please guide me about direct messages flow and how to get list of direct messages **room wise or user wise**

[2018-03-30 10:47] ricardojrgpimentel commented on #10268
Still doesn't work, the logs show that its trying to look for
`/root/snap/rocketchat-server/1238/.caddy/acme/acme-v02.api.letsencrypt.org/sites/example.com/example.com.crt`

Non of the folders inside `/root/snap/rocketchat-server/` have the v02 folder

[2018-03-30 12:44] kneufeld commented on #6588
I think it was 5 days? I'm not sure it matters how many days I changed it to, just changing the value causes the cache clearing functionality to run which causes the memory leak which causes a crash.

As for number of oembed messages, no idea. Where does it say? We have 120,000 messages total.

[2018-03-30 13:22] mddvul22 commented on #2355
@sbonnegent Thanks for the update.  We are doing the same thing, for content older than a week (except that we aren't removing rooms or subscriptions).  And yes, in our experience, if a user leaves their RC application open, then older content will remain in their client window, even though it is gone from the server.

[2018-03-30 13:28] stevelacerda opened #10278 "Images imported from slack are not showing the preview."
### Description:

When trying to import Slack messages, I got the following error:

[code]
It's similar to a previous issue, but with -1 instead for 0 in file size.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu 16.04
* Deployment Method(snap/docker/tar/etc): Docker with MongoDB outside the container
* Number of Running Instances: 1
* DB Replicas

[2018-03-30 13:54] ChameleonScales commented on #956
@sketch242 I'm not talking about removing a character or mangling any data. My request is that when you click OK when creating your username, before actually validating, some script would first check if there's a space in your name and if there is, it would not validate and show a message telling you why.
do you think this would be doable ?

[2018-03-30 14:02] pageb018 commented on #10056
Will the fix be in .63? Or anytime soon?

[2018-03-30 14:11] jvacek commented on #2759
+1

[2018-03-30 14:57] MasterGroosha opened #10279 "Search doesn't work for formatted text"
### Description:

For example, if I send a message `_test_`, then I cannot find it in channel using `test` search query, but I can find it using `_test_`. Shouldn't formatting be ignored?

### Server Setup Information:

* Version of Rocket.Chat Server: 0.62.2
* Operating System: Ubuntu 16.04.4 LTS
* Deployment Method(snap/docker/tar/etc): snap
* Number of Running Instances:  1
* DB Replicaset Oplo

[2018-03-30 15:16] jberberick commented on #2355
Based on my experience, deleting messages via REST API causes the client side to update automatically, so their is no issue with cached messages.

[2018-03-30 16:15] adipose commented on #4733
MP4 does play MOV and WMV both do not.  Any chance of more video formats?

[2018-03-30 16:28] anicoa commented on #10056
can not confirm that #10209 fixes SAML login. Had to apply changes of #10084 (append .value two times) which "solved" the problem.

[2018-03-30 16:31] ChessSpider commented on #10056
Automatic test cases are useful.

Op vr 30 mrt. 2018 18:29 schreef anicoa <notifications@github.com>:

[2018-03-30 16:33] arminfelder commented on #10056
@anicoa sounds strange, as the new meteor-accounts-saml package, which is used in my fix is using a different XML parsing code, are you shure, you checked out the correct code, @pageb018 does my version work for you?

[2018-03-30 16:35] arminfelder commented on #10056
@ChessSpider fully agree

[2018-03-30 16:35] pageb018 commented on #10056
@arminfelder I had a few issues running the docker file you sent over, then I got pulled to a different project. Plan is jump back in on Monday. I will post the error I am getting, I am sure it's my lack of docker knowledge.

[2018-03-30 17:03] anicoa commented on #10056
@arminfelder you are right, sorry. First checked only last modified timestamp of files which showed me the changes; checking the files' content showed me that the pr wasn't applied. will try again later and report...

[2018-03-30 17:37] geekgonecrazy commented on #6588
I think you'd have to hop into database to get the oembed count.

I assume CPU peaks along side the memory usage?

How hard is mongo getting pegged at this time?

Is it eating through all system memory before crashing?  Or how much memory does Rocket.Chat its self use when it crashes?  Does mongo memory usage increase too?

Also if you feel up to it.. would be great to see if there are long runnin

[2018-03-30 17:57] geekgonecrazy commented on #10268
ok time for a bit of work around with the snap system.  We need to basically follow the suggestion from there in the forum and get the log file.  To do so we need to run something like:
[code]

Should crash like normal... But now take and get contents of /tmp/caddy.log

Lets see what that yields us :)

[2018-03-30 18:00] kneufeld commented on #6588
My knowledge of JS and Mongo is virtually zero.

Memory goes up and up until RC crashes and/or something kills it. If I recall CPU is also maxed out. I'm not sure what mongo was doing at the time.

[2018-03-30 18:13] rtahmasbi opened #10280 "Dollar sign in the inline code"
### Description:
Typing `$` in the `inline code` causes to generate LaTex format, while I expected to see the actual $ sign. Please see the following example.

### Server Setup Information:

* Version of Rocket.Chat Server: 2.10.5
* Operating System: MacOS

### Steps to Reproduce:

         `echo $x$y`

### Expected behavior:

          echo $x$y

### Actual behavior:

echo _x_ y

[2018-03-30 18:30] ricardojrgpimentel commented on #10268
It doesn't say much

`2018/03/30 18:29:00 [INFO][example.com] acme: Obtaining bundled SAN certificate
2018/03/30 18:29:01 [INFO][] Certificate written to disk: /root/snap/rocketchat-server/current/.caddy/acme/acme-v02.api.letsencrypt.org/sites/.crt`

the sites folder is empty

[2018-03-30 19:12] geekgonecrazy commented on #6588
right so if both Rocket.Chat and mongo are on the same host there can be two culprits.  One we do too heavy of a query on mongo.  Mongo eats all memory while it does its thing.  Or... we do something Rocket.Chat side that leaks memory.  So just would be good to know more what the questions above tell us :slightly_smiling_face:

[2018-03-30 19:13] geekgonecrazy commented on #10268
It really says `/sites/.crt` with no site name? :thinking:

[2018-03-30 19:15] geekgonecrazy commented on #8038
Ok so something is definitely up here.  We should look into it closer. At least it reconnects.. but if it reconnects wastes memory and push notifications don't work... Its not super useful for it to auto-recover the connection to mongo

[2018-03-30 19:16] geekgonecrazy commented on #10277
Please ask in the appropriate location for support: https://rocket.chat/docs/getting-support/

[2018-03-30 19:16] #10277 closed

[2018-03-30 19:19] geekgonecrazy commented on #10276
to ensure it you can even do:
`MONGO_URL=mongodb://localhost:27017/rocketchat ROOT_URL=http://yoursite node main.js`

My guess is your setting, and then maybe running via sudo or something of the sort.  Meaning Rocket.Chat doesn't have access at time of actually running the process.

In the future please see appropriate places for support requests: https://rocket.chat/docs/getting-support/

[2018-03-30 19:19] #10276 closed

[2018-03-30 19:20] ricardojrgpimentel commented on #10268
Yes

[2018-03-30 19:22] geekgonecrazy commented on #10261
This would be very cool.  I think maybe an option is even supporting rocket.chat on their side to integrate in.  Obviously a two way street. Maybe even Rocket.Chat Apps could be built to help facilitate it.

Maybe open a feature request on our [forum](https://forums.rocket.chat) detailing how you would propose such an integration working. Going to go ahead and close here as we are reserving this f

[2018-03-30 19:22] #10261 closed

[2018-03-30 19:24] geekgonecrazy commented on #10268
I hope the caddy guys can give more insight.  Because that doesn't make much sense to me.  We may need to roll back to a previous caddy version :thinking:

[2018-03-30 20:08] anicoa commented on #10056
@arminfelder I applied #10210 to branch develop configured saml and now I get the following error: TypeError: values is not iterable; if i change in line 430 in saml_utils.js the

`for (const attributeValue of values) {`
to
`for (const attributeValue in values) {`

it seems to work as expected.

[2018-03-30 20:21] ondrejtichacek commented on #8565
Still not working properly with the version 0.62.2. The conversion from ASCII to Emoji is inconsistent withing a single message -- see print screen below:
![message snapshot](https://puu.sh/zSOI7/134115b928.png)

[2018-03-30 20:29] c0dzilla commented on #3582
Taking this up :smiley:

[2018-03-30 22:45] kneufeld commented on #6588
Definitely rocket.chat leaking memory as it was running in its own container. Mongo was in a different one.

[2018-03-31 01:45] arminfelder commented on #10056
@anicoa thx for checking, I replaced the for of with an regular for loop

[2018-03-31 02:15] Shailesh351 opened #10281 "Add API to get favourite rooms"
### Description:
There is no API for getting favourite rooms and no field for favourite in Room object. This is needed to add grouping feature to Android Client https://github.com/RocketChat/Rocket.Chat.Android/issues/988

### Expected behaviour:
- We can add favourite as field of Room Object
`"f" : true/false`

- Or  add rest API to get all the favourite rooms
`rooms.favourites`

### Actual behav

[2018-03-31 02:51] tim-soft commented on #7140
Has there been any movement on the live chat widget customization front?

Decoupling it's UI from rocket chat source seems pretty desirable

[2018-03-31 04:30] nipunamsi commented on #4297
Hi Guys,
I'm trying to move ubuntu 16 to 14 and i getting the below issue.

/lib/x86_64-linux-gnu/libcrypto.so.1.0.0: version `OPENSSL_1.0.2' not found

anyone can please help me out. :(

[2018-03-31 10:18] 24601 commented on #10140
Am also experiencing this on a Debian Stretch box.

[code]

[2018-03-31 13:48] sampaiodiego commented on #1112
sry guys, just to explain, we're now using the label `Feature: Planned` for feature requests we really plan to have. So issues of feature requests we don't plan to have on main product will be closed.

we don't have a clear milestone for it yet. but once we have I'll update you guys.

[2018-03-31 15:56] taeven opened #10284 "Change Optionname "Hide Room" to "Hide Channel""
Description:

New users might get confused with the terms "Channel" and "Room".
If you try to create a channel, the option that shows up is "Create a new Channel" but when you hide the channel, you have to use the option "Hide Room".
same issue as #10283

Steps to Reproduce:
Try to hide a Channel

Expected behaviour:
Use the term "Channel".

Actual behaviour:
Uses both the terms.

[2018-03-31 15:57] taeven commented on #10133
Submitted a PR to fix the issue.

[2018-03-31 16:00] #10284 closed

[2018-03-31 16:01] taeven commented on #10284
issue already mentioned, nvrmnd

[2018-03-31 18:06] cchbr opened #10285 "Excluded from Google index"
My Rocket Chat installation seems to be excluded from Google's index because it (according to them) contains a redirect. Since the chat is not open to anonymous user the only page to crawl is the login page, which Google excludes.

Has anyone else experienced this and how can it be solved? Could it be because the login page directs the user to /home even though the user isn't logged in?

[2018-03-31 18:16] TwizzyDizzy commented on #10285
@rocket-cat close

Closing this. Please let me refer you to the Community Support Forum, which is a better place for this as there's no bug involved here: https://forums.rocket.chat/c/community-support

Thank you for understanding.

Cheers
Thomas

[2018-03-31 18:16] #10285 closed

[2018-03-31 18:19] 24601 commented on #10140
We are experimenting with building our own custom Docker image to run k8s and this was our workaround to get the current develop branch to build and run as a Docker image.

There are "fixes" (uh, more like workarounds) for other obnoxious build/packaging related items, so keep that in mind. Namely that node v8.10+ is broken and sharp native libs don't get rebuilt for real with npm rebuild.

Yes, t

[2018-03-31 20:02] TwizzyDizzy commented on #10226
@rocket-cat close

Hi @mc

I am **temporarily** closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your issue and your setup as good

[2018-03-31 20:02] #10226 closed

[2018-03-31 20:19] TwizzyDizzy commented on #9553
Seems to be working for me by now on https://open.rocket.chat ... can you confirm this? :)

Cheers
Thomas

[2018-03-31 20:29] TwizzyDizzy commented on #9501
@Sing-Li: please put this into the review process for new features. If this is something that will be implemented (just FYI: which I think it shouldn't be) then there would have to be some way around authentication for thoses search engines or for some channels.

I see where you are coming from with this, but currently this feature request is actually not specific enough on how this should be impl

[2018-03-31 20:36] TwizzyDizzy commented on #9480
@rocket-cat close

Hi folks! Please don't be mad at me, but I'm going to close this as there is no bug involved. Also, for a feature request (use Protocol X) it is not refined enough. But I kindly refer you to the feature request category in the forums: https://forums.rocket.chat/c/feature-requests

Please describe there what you want to be implemented and we'll see what the community is coming up

[2018-03-31 20:36] #9480 closed

[2018-03-31 20:39] TwizzyDizzy commented on #9471
@rocket-cat close

Erm... then I'm going to go ahead and close this? If not, please get back to me!

Cheers
Thomas

[2018-03-31 20:39] #9471 closed

[2018-03-31 20:46] TwizzyDizzy commented on #9431
@rocket-cat close

Closing this then...

Cheers
Twizzy

[2018-03-31 20:46] #9431 closed

[2018-03-31 20:58] TwizzyDizzy commented on #9409
Please try to reproduce this on the latest stable (maybe even wait for 0.63.0 (du to be released on April 3rd).

Had this too for a short time but it's been gone since.

Cheers
Thomas

[2018-03-31 21:04] TwizzyDizzy commented on #9407
Hi @soundstorm

I disagree with differentiating between "password wrong" and "user doesn't exist" (which would enable a user to check whether a username already wxists which could be a peivacy issue).

Yet I agree with you that the wording is rather unfortunate.

I'd suggest something along the lines of

Cheers
Twizzy

[2018-03-31 21:09] soundstorm commented on #9407
@twizzydizzy meant "User not found or password wrong", regular frontend login retuns a message like this, but when using the API like in our apps it just retuns that the user is nonexisting, which is confusing. So we just need to match those phrases or replace it with the sentence you recommended.

[2018-03-31 21:10] TwizzyDizzy commented on #9406
@rocket-cat close

Closing this. Node 5.7 is not supported. Node 8 is the new LTS and should be used since (I think) 0.62.0.

As for other issues with installing on Centos (especially sharp and fibers libraries) please search the issues, there are already open issues for that. They may help you. If you disagree, please let me know :)

Cheers
Twizzy

[2018-03-31 21:10] #9406 closed

[2018-03-31 21:12] TwizzyDizzy commented on #9382
Is this still an issue? I'm asking because #8175 is closed by now...

Cheers
Twizzy

[2018-03-31 21:18] TwizzyDizzy commented on #9370
@rocket-cat close

Hi @nicolasdezena

I'm closing this as this is probably not a bug but rather some other error. Also: if this still persists on the latest Rocket.Chat version, please add additional logs so we can see what's going wrong.

Cheers
Twizzy

[2018-03-31 21:18] #9370 closed

[2018-03-31 21:22] TwizzyDizzy commented on #9352
@rocket-cat close

Closing this, as I fail completely to understand what you're asking. Please also respect the issue template. If you're requesting a feature, please head over to thee forums: https://forums.rocket.chat/c/feature-requests

Cheers
Twizzy

[2018-03-31 21:22] #9352 closed

[2018-03-31 21:29] TwizzyDizzy commented on #9333
@rocket-cat close

Hey @rawsh

I'm closing this as I'm pretty sure that this is not gonna come anytime soon, if at all.

Also: if you are still interested in this please head over to the feature request category: https://forums.rocket.chat/c/feature-requests

If this turns out to be a hot topic, we might reconsider this feature.

Cheers
Twizzy

[2018-03-31 21:29] #9333 closed

[2018-03-31 21:32] TwizzyDizzy commented on #9331
@rocket-cat close

Hi @DiegooMM

I am **temporarily** closing this issue as you have not used our [issue template](https://github.com/RocketChat/Rocket.Chat/blob/develop/.github/ISSUE_TEMPLATE.md) (the text that is already filled in automatically, when you open a new issue). Please understand, that in order to solve your issue as fast as possible, we need to understand your issue and your setup as

[2018-03-31 21:32] #9331 closed

[2018-03-31 21:33] rafaelks commented on #10281
@Shailesh351 Have you checked the API `subscriptions.get`? AFAIK it's returning the field `f`. The room object is not per-user, that's why you don't have this property on this request's result. I'm gonna close the issue for now, if you find any issue let's reopen it. 👍

[2018-03-31 21:33] #10281 closed

[2018-03-31 23:16] soundstorm commented on #9357
@Hudell as mentioned, the `rid`s on those channels  differ from the normal auto-generated string as they are plain text. Don't know if this applies to your installation as well.

[2018-04-01 00:33] rafaelks opened #10286 "[BUG] API chat.react is not working anymore"
### Description:

The API `v1/chat.react` was being used in the development of the Android v2 and we're migrating our React method also to iOS. In 0.63.0-rc.1 it doesn't work anymore.

### Server Setup Information:

* Version of Rocket.Chat Server: 0.63.0-rc.1
* Operating System: Linux

### Logs (trying to react with :blush: emoji):

[code]

### Logs (trying to react with :rocket: emoji):

[code]

[2018-04-01 00:34] rafaelks commented on #10286
@theorenck @rodrigok @MarcosSpessatto Added to 0.63 because it looks like a regression.

[2018-04-01 00:36] rafaelks commented on #10286
@MarcosSpessatto Possibly this commit caused this regression: https://github.com/RocketChat/Rocket.Chat/commit/6bb1734959639217c2a64c467624bb412cbcc486.

[2018-04-01 02:33] mholt commented on #10268
There is a bug in the acmev2 branch of xenolf/lego, which is what Caddy uses for certificates, that apparently causes it to not report an error when there is one, or in any case, returns an empty Certificate and a nil error. I'm sure it will be resolved before too long. In the meantime, I've [worked around it](https://github.com/mholt/caddy/blob/73b61af58d31d88763c865ef85377eccf1b9bb22/caddytls/cl

[2018-04-01 02:48] isaipanelinha opened #10287 "Full disk usage after RocketChat snap installation."
### Description:

After I installed the RocketChat Snap package, on my Digital Ocean Droplet, I received an ISPConfig alert about full disk.
See the print:

Why did not the snap install go to the right location?
What to do?

### Server Setup Information:

* Operating System: Debian 9.4 x64
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1

![print-log](https://user-im

[2018-04-01 06:20] smcracraft opened #10288 "Rocket Chat fine with most browsers EXCEPT Safari (11.1 and 11.0.3, examples)"
### Description:

Continual retries in browser connected to www.cloudstuart.com:3000 serving Rocket Chat snapped upon an Ubuntu issue on AWS.

Error is "A problem repeatedly occurred with "www.cloudstuart.com:30000/channel/general"

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: Ubuntu 16
* Deployment Method(snap/docker/tar/etc): snack
* Number of Running Insta

[2018-04-01 11:48] TwizzyDizzy commented on #9363
Sooo... some questions

1) the hyphen in the software is no problem?
2) I take it your package build process is automated, so couldn't you just replace the `-rc.` with `.rc.` or whatever suits your needs?

PS: please also let us know whether you will publish the  resulting packages :)

Cheers
Thomas

[2018-04-01 12:15] TwizzyDizzy commented on #9276
@rocket-cat close

Folks! A "me too" doesn't really help anybody, please use the thumbs-up for that. :)

As for the problem: without further logs (or with a higher debug level) this is something that is not really reproducible for us. At first this looks to me like a firewall timeout as the connection (at least in the one logfile above) error appears exactly 3 minutes after the connect.

Maybe str

[2018-04-01 12:15] #9276 closed

[2018-04-01 12:18] TwizzyDizzy commented on #9313
@vchrombie if you're still interested, maybe @geekgonecrazy can assign this to you :)

Cheers
Twizzy

[2018-04-01 12:21] TwizzyDizzy commented on #9307
@rocket-cat close

I do not think that this is going to happen. Websockets are paramount for the function of Rocket.Chat and having a fallback would probably require the implementation of client-side polling..

@geekgonecrazy: if there are plans to have some polling fallback, please reopen or forward to the frontend guys :)

Cheers
Twizzy

[2018-04-01 12:21] #9307 closed

[2018-04-01 12:27] TwizzyDizzy commented on #9261
Now that #9275 got solved, any news on that on the current stable version? :)

Cheers
Twizzy

[2018-04-01 12:31] TwizzyDizzy commented on #9252
@rocket-cat close

Closing this, as it is no Rocket.Chat bug. If you disagree, please let me know! :)

Cheers
Twizzy

[2018-04-01 12:31] #9252 closed

[2018-04-01 12:33] TwizzyDizzy commented on #9220
So is this still present on current stable?

Cheers
Twizzy

[2018-04-01 12:46] TwizzyDizzy commented on #9028
@rocket-cat close

Closing this, since you can set the validity of the session in days in admin area. Also there somewhere is an issue to make it possible to not only use days, but hour or a smaller unit.

Cheers
Thomas

[2018-04-01 12:46] #9028 closed

[2018-04-01 12:48] TwizzyDizzy commented on #9025
@rocket-cat close

Closing this due to lack of activity. Also the above error only shows a DNS error and nothing else.

Cheers
Thomas

[2018-04-01 12:48] #9025 closed

[2018-04-01 12:51] TwizzyDizzy commented on #8993
@rocket-cat close

Closing this. Cannot reproduce on open.rocket.chat. If this still doesn't work for you on latest stable version, please get back to me!

Cheers
Twizzy

[2018-04-01 12:51] #8993 closed

[2018-04-01 12:52] TwizzyDizzy commented on #8980
@theorenck has this issue still any real value, or can it be closed? :)

Cheers
Twizzy

[2018-04-01 12:53] shionphan commented on #8898
https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/
[code]

[2018-04-01 13:44] isaipanelinha commented on #10287
OK! I've read that this is normal as they are read-only files. So I can conclude that there is no problem with the RocketChat snap package. Rocket chat is fantastic, but the only thing I have not been able to do is run on SSL with NGINX. I already followed the official Rocket tutorials, but it did not work out for me. :(

[2018-04-01 14:34] Lawri-van-Buel commented on #10287
What steps did you take to get ssl working?
What confit did you put in the nginx config file?

Did you read up on ssl and nginx?

[2018-04-01 16:44] Sentinelrv commented on #9220
I think it has been fixed, just tried it and didn’t notice it anymore.

[2018-04-01 17:14] TwizzyDizzy commented on #9220
@rocket-cat close

Thanks for the feedback! :)

Cheers
Thomas

[2018-04-01 17:14] #9220 closed

[2018-04-01 20:12] logancodes opened #10289 "Error handling AmazonS3.js"
### Description:
There is no error handling for the callback in get function(see line number 10 in AmazonS3.js)

**File location:** Rocket.Chat/packages/rocketchat-file-upload/server/config/AmazonS3.js

The code present in this file is duplicated from Googlestorage.js (Rocket.Chat/packages/rocketchat-file-upload/server/config/GoogleStorage.js).

It is important to include error handling implementa

[2018-04-01 20:19] TwizzyDizzy commented on #10287
@rocket-cat close

Don't mean to be rude, folks, but since there is no actual bug involved here, I'm closing this... BUT may I refer you, @isaipanelinha, to the community support forum regarding your SSL/NGINX topic: https://forums.rocket.chat/c/community-support

... I'm sure that it's in very good hands over there :)

Cheers & thanks for understanding
Thomas

[2018-04-01 20:19] #10287 closed

[2018-04-01 20:26] TwizzyDizzy commented on #10279
I can confirm this on https://open.rocket.chat and agree: this is not expected or intuitive behaviour and should be fixed.

Cheers
Thomas

[2018-04-01 20:28] TwizzyDizzy commented on #10280
I cannot confirm this on open.rocket.chat. Neither on the web version nor the Electron Client on Ubuntu 16.04 (as your version number seems to indicate your referring to the Electron client):
![image](https://user-images.githubusercontent.com/179595/38177128-c1d557d2-35fb-11e8-8336-c816eb4dde5e.png)

Can you provide additional information about your setup or can anyone confirm this on the Electron

[2018-04-01 20:53] taeven opened #10292 "Search cancel icon(x) and search text overlap on overflow"
Description :
The search text and the cancel icon (i.e. X) overlap when the search text is too long.

Steps to reproduce :
1. click on the search icon on left to search for a username or channel.
2. type a long text so that the searchbar overflows.

Expected behaviour:
It should not overlap.
![screenshot from 2018-04-02 02-12-47](https://user-images.githubusercontent.com/17789028/38177294-b2fda86a

[2018-04-01 21:11] geekgonecrazy commented on #9307
We actually do fall back in web.  Mobile doesn't.. maybe open request on those repo's to fall back to polling.

But we will always need websocket or something real time to let us get events in real time.  Otherwise you have to wait until the next poll to see new messages.

We may not always push everything back and forth over the websocket.  In fact mobile now only uses for events.  But we can't r

[2018-04-01 21:12] geekgonecrazy commented on #9313
We will gladly take PR's most important thing here is we need to cache.  **But** if it's updated it needs to bust that cache

[2018-04-01 21:19] geekgonecrazy commented on #1112
To keep from derailing conversation please see: https://forums.rocket.chat/t/about-the-feature-requests-category/127 for explaination on process change.

[2018-04-01 21:21] geekgonecrazy commented on #4297
https://rocket.chat/docs/getting-support/#getting-support

[2018-04-01 21:24] geekgonecrazy commented on #6588
Containers alone do not mean anything in this situation.  Containers are just process isolation.  Unless the container is limiting memory.. for this question the effect would be the same as if you installed it manually.

If you run something like `top` when it happens you should be able to see the processes and their memory usage.

[2018-04-01 21:33] kaiiiiiiiii commented on #10280
I cannot reproduce the issues behaviour either on macOS with the latest electron client version.

**0.62.2**
![screen shot 2018-04-01 at 23 29 43](https://user-images.githubusercontent.com/4711233/38177644-e8c3bca4-3604-11e8-897f-06ef296d6157.png)

**0.63.0-rc.1**
![screen shot 2018-04-01 at 23 30 05](https://user-images.githubusercontent.com/4711233/38177646-f3bf6612-3604-11e8-8be1-33c995aad381.p

[2018-04-01 21:38] rtahmasbi commented on #10280
Hello, Thanks for your reply.
I just typed `$x^2$y`

Please find the attached file.

Best,
Rasool

[2018-04-01 21:40] kaiiiiiiiii commented on #10292
Can you please provide the required issue template? I can't reproduce this error in 0.62.2 and you didn't provide any version number or any further details.

![screen shot 2018-04-01 at 23 39 17](https://user-images.githubusercontent.com/4711233/38177724-efda4886-3605-11e8-8964-c13cd14c5d14.png)

Cheers

[2018-04-01 21:48] taeven opened #10295 "Add some files to the gitignore file"
### Description:

Add the following files to `.gitignore` file. When I made some changes and added them to the staging area, the following files were automatically added and got commited and pushed to PR #10293 . As these are npm files which need not be pushed, so adding them to gitignore makes sense.
[code]

### Expected behaviour:

NPM files should be added in gitignore to avoid pushing extra un

[2018-04-01 21:52] kaiiiiiiiii commented on #10280
I have no problem at all even with katex conversion enabled. What rocket.chat version are you running on (server, not client version!)?

**0.62.2**
![screen shot 2018-04-01 at 23 49 26](https://user-images.githubusercontent.com/4711233/38177868-92eae552-3607-11e8-892e-ce737a350c04.png)

[2018-04-01 21:54] rtahmasbi commented on #10280
Could you tell me how I can check the server version?

[2018-04-01 21:55] kaiiiiiiiii commented on #10280
You'll find it on the info screen of the administration panel.

[2018-04-01 21:57] rtahmasbi commented on #10280
I don't have access to administration panel. I will ask the administrator.
But do you think it is just because of old version installed on sever?

[2018-04-01 22:05] kaiiiiiiiii commented on #10280
That could be the issue, but I can't guarantee anything.

[2018-04-01 22:25] taeven commented on #10292
@kaiiiiiiiii
Even in your screenshot too, you can see clearly the cancel icon i.e. 'X' overlaps with 's' (last letter of your search text)
![issue](https://user-images.githubusercontent.com/17789028/38178126-a01f978c-3629-11e8-8cb5-51cbd3545ca5.png)

[2018-04-01 22:43] kaiiiiiiiii commented on #10292
I’m sorry, I miss understood the issue 😅

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-01 23:34] graywolf336 commented on #10295
Those aren't build files, those are actual npm files that help speed up local development along with builds.

[2018-04-02 02:39] TwizzyDizzy commented on #9307
That's what I thought, so I guess we gonna leave this closed. Thanks for your feedback on this.

Cheers
Thomas

[2018-04-02 02:47] HammyHavoc opened #10297 "Edited messages don't appear for other users"
### Description:

Edited messages don't appear as edited for others, only for the author.

### Server Setup Information:

* Version of Rocket.Chat Server:
* Operating System: Ubuntu Server (4.4.0-109-generic)
* Deployment Method(snap/docker/tar/etc): Snap
* Number of Running Instances: 1
* DB Replicaset Oplog: Enabled
* Node Version: v8.8.1
* mongoDB Version:

### Steps to Reproduce:

1. Edit a me

[2018-04-02 12:24] TwizzyDizzy commented on #10280
Please go to https://replaceyourservername/api/info

You should find the server version there.

Cheers
Thomas

[2018-04-02 13:25] MarcosSpessatto opened #10298 "Add flag to indicate if service is custom in the endpoint settings.oauth"
Add flag( `custom: true` ) to indicate if service is custom in the REST endpoint settings.oauth.

[2018-04-02 13:50] sampaiodiego commented on #7140
@tim-soft yes, we have plans to re-write the widget in react and with that add some more customizations. but this is for a mid-term milestone

[2018-04-02 13:51] KrystalMoore16 commented on #2192
Any update? Thanks!

[2018-04-02 14:50] AFrangopoulos commented on #9118
@theodorDiaconu Any luck with having some time?

@geekgonecrazy Have any RC devs tried integrating redisOplog instead of using oplog tailing?

[2018-04-02 15:29] milesflo commented on #10253
@ryjones No, when I say trim, I mean removing from either end of the string, not filtering whitespace out entirely... Like literally just call [`trim()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trim) as the first step of validating a username before setting it.