[2017-01-06 16:21] lucasvanhalst commented on #5452
4.6.1 is the one you should use

[2017-01-06 16:24] admin-crowd-iugo commented on #5293
also sometimes on android it seems to get stuck on updating files inifinitely.
also on ios it goes white screen and hangs.

[2017-01-06 16:25] admin-crowd-iugo commented on #5293
we are now on 0.48.2 with 7 nodes behind nginx in HTTPS mode. mongodb with replset. node 4.7.0.

[2017-01-06 16:40] admin-crowd-iugo commented on #5293
maybe just add a ignore assets if there is something wrong / unable to display check ? that would take care of the issue i think....assuming that is what it is related to.

[2017-01-06 16:59] MartinSchoeler commented on #5451
@maxKK you can block users from using '@all' in the permission grid in admin view
![selection_018](https://cloud.githubusercontent.com/assets/20868078/21725705/bf6e5da6-d420-11e6-8eaa-162e6e0bcd12.png)

[2017-01-06 17:01] Satotripe commented on #5450
We have to do `dist-upgrade` for update ubuntu-core for fix it and restart your service or your VM.

[2017-01-06 17:02] jy2008 opened #5455 "Register with invalid email allowed"
When i register on RC with invalid email address, RC still allows it. How does the email part working in RC registration?

[2017-01-06 17:03] MartinSchoeler commented on #5452
@himbeere does this solve your question?

[2017-01-06 17:10] jy2008 opened #5456 "After registration, won't direct to chat page unless click back button"
After i register, I hit register button, then the page just keeps buffering, won't go to the chat page, unless i hit back button on browser, then it will direct itself to the chat page, why is this happening?

[2017-01-06 17:43] p-try opened #5457 "No push notifications on Android when simultaneously logged in in browser"
Your Rocket.Chat version: 0.48.2

Hi,
Push notifications on Android work fine out of the box using the default configuration with gateway.rocket.chat. However, my Android does not receive any notifications when my user is simultaneously logged in on a desktop browser. As soon as I close the browser window on the desktop, notifications on the mobile device continue. Is this a bug or a feature? I wo

[2017-01-06 17:56] maxidor opened #5458 "Snap fails to start on fresh install"
Your Rocket.Chat version: 0.48.2 (latest snap release at time of writing)

Wanting to give Rocket.chat a spin, I did a fresh install but the server is simply not starting.
There are few recent issues that suggest to do an apt-get dist-upgrade. but everything is already installed here.
I followed the snap instruction on the Download page: `snap install rocketchat-server`

Logs of the server:
[code]

[2017-01-06 17:59] Satotripe commented on #5458
You have `dist-upgrade` your distribution ?

[2017-01-06 18:00] engelgabriel opened #5459 "Move Room Panels under the Room Header"
@RocketChat/huia

## Current

Our current Room Panels (called Flex-Tab) is under the Room Header, confusing.

![image](https://cloud.githubusercontent.com/assets/1000217/21727775/0ad8aee6-d42a-11e6-879c-235260816c4e.png)

We need to put the panels under the room header to make clear it is a subsection of the room.

The navigation between panels can also be improved. Maybe use a dropdown menu?

##

[2017-01-06 18:02] maxidor commented on #5458
Yes, I alse have provided the output in the OP.

[2017-01-06 18:19] FibreFoX commented on #5453
Would be nice to configure this globally, this kind of feature is kinda annoying, because you don't expect some URLs or code-snippets to have EMOJIS inside them. (I really got annoyed by this with Skype)

[2017-01-06 18:21] engelgabriel opened #5460 "Create Master Layout Wireframe"
![draw](https://cloud.githubusercontent.com/assets/1000217/21728162/f04876f4-d42b-11e6-802d-65e4ec8f5239.png)

Some more samples created by @timkinnane

[rc-color-files.zip](https://github.com/RocketChat/Rocket.Chat/files/690512/rc-color-files.zip)

[2017-01-06 18:25] MartinSchoeler commented on #5456
@jy2008 winch version are you using?

[2017-01-06 18:47] morbidpete commented on #3050
@graywolf336
   I am running the snap container, is there a way to use the dev in snap or do I need to wait?

[2017-01-06 19:01] himbeere commented on #5452
@MartinSchoeler well sort of. :-) A lot of things remain in the dark. Do I have to use 4.6.1? Or can I use 4.6.0 also? And what is with 4.7.1 or even one of the 6 series? What I am looking for is a list of recommended nodejs versions. Something like:

0.12.17 does not work
4.6.0 works
4.6.1 works
4.7.1 works
6.* does not work

and so on.

thanks and cheers

[2017-01-06 19:08] graywolf336 commented on #3050
@geekgonecrazy can you answer the above question?

[2017-01-06 19:16] engelgabriel opened #5461 "Create UX Style Guide"
Use http://semantic-ui.com as starting point.

- Typography
- Form Elements
- Data Tables
- Buttons
- Colors

Icons list:
[fontello.zip](https://github.com/RocketChat/Rocket.Chat/files/690581/fontello.zip)

Show it applied on the #general channels and its room panels.

[2017-01-06 19:19] FibreFoX commented on #5436
Previous state might be difficult, because "previous" might be misinterpreted. Maybe some "backup my permission-settings"-feature would help here, makes it able to create "snapshots" for this BEFORE messing around.

[2017-01-06 19:21] geekgonecrazy commented on #3050
@morbidpete if you are in a production environment don't try this.  There are a lot of things changing between 0.48.2 and what will be 0.49.0.

Run the following in your dev environment:
`sudo snap install rocketchat-server --channel edge`

[2017-01-06 19:26] morbidpete commented on #3050
@geekgonecrazy No production yet, Just seeing if this is a viable option to replace slack for our use. Thank you for the quick reply.

[2017-01-06 19:37] morbidpete commented on #3050
Worked great, thank you all so much for fixing this!

[2017-01-06 19:39] graywolf336 commented on #3050
Awesome, thank you for trying it out and reporting back! @morbidpete

[2017-01-06 19:44] jy2008 commented on #5456
0.42

[2017-01-06 20:18] engelgabriel opened #5462 "Improve Message Form"
The current message form is a bit messy

## Current

![image](https://cloud.githubusercontent.com/assets/1000217/21730127/6a99f03c-d435-11e6-904c-78913286dd15.png)

- Replace the several buttons with a single PLUS button that opens a popup
- Make the border prettier
- Remove help message from underneath
- Create reply/quote area (thread)

## Refs

![image](https://cloud.githubusercontent.com/asset

[2017-01-06 20:33] graywolf336 commented on #5316
You can now search the `.list` items, so if you wanted to get one user and you have their id:

`http://localhost:3000/api/v1/users.list?query={ "_id": "R4jgcQaQhvvK6K3iY" }&fields={ "username": 1 }&count=1`

Would then return the following:
[code]

[2017-01-06 20:44] Lucky21110 commented on #5457
Hello,

Please read this : https://github.com/RocketChat/Rocket.Chat/issues/1602

You can change the code to allow notification to all locations

[2017-01-06 21:18] Nemra1 commented on #5462
nice work
any future to add font color?

[2017-01-06 21:28] Nemra1 commented on #5459
wow...its amazing

[2017-01-06 21:31] #5447 closed

[2017-01-06 21:32] engelgabriel commented on #1602
We need to turn this into a setting

[2017-01-06 21:33] engelgabriel commented on #5457
This was a design decision, we did not think people would like to receive push notification when they already in front of their computer. But should turn this into a setting as in the discussion #1602

[2017-01-06 21:33] #5457 closed

[2017-01-06 21:36] engelgabriel commented on #5452
@himbeere please see https://github.com/RocketChat/Rocket.Chat/releases

[2017-01-06 21:36] #5452 closed

[2017-01-06 21:37] engelgabriel commented on #5452
Or you can search for `nodejs` at our https://github.com/RocketChat/Rocket.Chat/blob/develop/HISTORY.md

[2017-01-06 21:51] Fab1en commented on #5316
Thanks @graywolf336 for those new enhancements, that's cool ! I will test it as soon as possible.

[2017-01-06 22:26] admin-crowd-iugo commented on #5293
@engelgabriel I have emailed your our private url. you can visit with any mobile client and see the issue right away without logging on. it throws the clients into a update now loop or hangs them.

[2017-01-06 22:28] Fab1en commented on #5316
OK, the permission that makes a difference between REST API and webapp access when you post a message to a channel is not `post-readonly` but `view-c-room`. When `view-c-room` is not checked, you can post via the webapp, but you can't via the REST API.

[2017-01-06 22:47] geekgonecrazy commented on #5458
How much available memory do you have?

[2017-01-06 22:51] geekgonecrazy commented on #5450
@saigop was @satotripe 's advice helpful?

How much free ram?

Is it on a new version from what it was last time you checked?
Was this unconnected to the internet / off for a while?  0.48.2 has been out for a while, so shouldn't have just freshly landed on yours.  So I don't think it is a change in code base.

[2017-01-06 22:52] geekgonecrazy commented on #5441
Can you give a screenshot of what its doing to you?  I have noticed some bad UI things happening, but the audio video worked just fine.

[2017-01-06 22:56] kentonv commented on #5426
We'll need the rocket.chat team to submit a new build to the app market so that people can update. Thanks!

[2017-01-06 23:00] Molle500 commented on #5462
Please make the list customizable of which options we want to be in there like be able to remove google drive and onedriv etc.. :)

[2017-01-06 23:18] engelgabriel opened #5464 "Improve Message Actions"
## Current

![jan-06-2017 21-07-05](https://cloud.githubusercontent.com/assets/1000217/21735933/52d60746-d454-11e6-9ebf-87edaba01a81.gif)

The cog is too small, and since is hides ALL actions, it requires an extra click to do ANYTHING, even frequent actions like add reaction or reply.

It also does not work well on narrow screens.

# Refs

### Slack

![jan-06-2017 21-10-32](https://cloud.githubuse

[2017-01-06 23:21] engelgabriel commented on #5426
I can send it tonight.

[2017-01-06 23:23] floor12 commented on #4342
I`m using custom oauth but there is no way to set up user picture from custom provider 8( i was trying to add a different prop names in json (picture, avatar...) that provider  send to rocket chat with person data... but rocket chat ignore it...

[2017-01-06 23:25] maxidor commented on #5458
4GB

[code]

[2017-01-07 00:28] engelgabriel commented on #5461
I like the tables form https://material.io/guidelines/components/data-tables.html#data-tables-interaction

[2017-01-07 00:39] mbcote1111 commented on #5441
This is very strange. I found the solution. For some reason I needed to
delete the rooms / channels and then re-create them for jitsi to start
working again.

Any idea what would cause this ?

I also upgraded to the newest version but the UI is much worse than
previous versions. The video is very small and awkwardly placed. Are
efforts being made to improve this ?

Thanks

Matt

On Jan 6, 2017 6:5

[2017-01-07 00:42] geekgonecrazy commented on #5441
This sounds like a recent migration might have failed.  @RocketChat/core anyone have thoughts on that?

As to the UI yes we are aware.  A lot of CSS changes are being made, unfortunately effecting that.

What version of Rocket.Chat are you on currently?

[2017-01-07 00:45] geekgonecrazy commented on #5458
I did just notice this appears to be Linux Mint?  Which version of mint? can you give the version of snap using: `snap --version` or `snap version` ?

[2017-01-07 01:02] maxidor commented on #5458
I had the same thoughts... For the sake of clarity, here is the version of Mint I am using:
[code]

And output of `snap --version` :
[code]

[2017-01-07 01:07] geekgonecrazy commented on #5458
Your snap version is even newer then mine.  I would think that would be fine.

What do you get from: `snap list` ?  Specifically care about the ubuntu-core version and rocketchat-server version.  Just trying to see what doesn't match.

Did you already give removing the snap and re-adding it a shot?

[2017-01-07 01:13] maxidor commented on #5458
[code]

Yes I tried to reinstall, reboot, reboot and reinstall, no change.

Looking at the journalctl command output, I see one interesting line (also present in my previous ocmments):
`Jan 07 02:11:00 max-laptop-linux snap[4823]: cannot change profile for the next exec call: No such file or directory`
Is that expected?

[2017-01-07 01:38] geekgonecrazy commented on #5458
@maxidor interesting.. Couple of things.

1. Here is what I have for those:
[code]
I'll reach out to the snap developers and see if ubuntu-core and core are equivalent.  I would assume so.

2. yours says devmode in the notes.  How are you starting / installing it?

Never seen that error... but sounds like something related.

[2017-01-07 01:49] maxidor commented on #5458
I'm installing following the instructions on the Downloads page of the website, and this is the output after install:
[code]

[2017-01-07 02:18] geekgonecrazy commented on #5458
@maxidor the fact that its showing devmode leads me to believe there might be something not completely working on linux mint.  Because we compile with strict confinement.  Only time it would not be strict is if the OS is missing something.

I assume in production you probably wouldn't be installing linux mint.  I would suggest trying on regular Ubuntu maybe via a VM.  Maybe we can get the Ubuntu g

[2017-01-07 12:48] naguchennai opened #5465 "Centos 6 systemctl: command not found"
How configure Rocket.Chat to start as a service.?
if run
`systemctl enable rocketchat.service`
-bash: systemctl: command not found

Rocket.Chat centos6 not support?

[2017-01-07 14:00] maxidor commented on #5458
Works out of the box on a Ubuntu server core 16.04 VM, so it seems the issue is with Mint indeed.
My production system is Debian Jessie so I'll give a go to the docker container now - I'll open a new issue if it doesn't work.
Thank you very much for your support and for the awesome looking product! I'm gonna give it a spin on this Ubuntu VM now.

[2017-01-07 15:39] keypair commented on #1352
Users are asking how they can log-in into the mobile rocket.chat app without username and password? Please provide instructions.

[2017-01-07 16:57] graywolf336 commented on #5316
Okay, can you open a new issue for that? As that is a little more complex and I'd like to track it separately..thanks

[2017-01-07 23:46] DaBlitzStein commented on #4580
+1
rocketchat_1          | {"line":"428","file":"oauth.js","message":"Error in OAuth Server: Failed to complete OAuth handshake with Google. tunneling socket could not be established, statusCode=400","time":{"$date":1483832682761},"level":"warn"}
rocketchat_1          | Exception while invoking method 'login' Error: Failed to complete OAuth handshake with Google. tunneling socket could not be esta

[2017-01-08 00:09] Superhearing commented on #604
I will put $100 towards this bounty :)

[2017-01-08 01:27] reetp commented on #5465
Works perfectly on CentOS 6 but you cannot use a systemd service file as you have no systemd (Yay... !!)

You need to use the forever-service installer which will generate a init.d service script.

Take look here for an idea of how to install and use the forever-service:

https://wiki.contribs.org/Rocket_Chat

Note that once you have generated the init file you can keep yourself a copy and do not

[2017-01-08 01:40] reetp commented on #5452
Looks like it will be 4.7.1 shortly

https://github.com/RocketChat/Rocket.Chat/commit/e4c34638c879bf15edfb1851866ef1e57f7fbce0

[2017-01-08 02:27] Superhearing commented on #604
Just added $100 to the bounty ;)

[2017-01-08 05:33] graywolf336 commented on #5316
@Fab1en Please checkout my pull request and test out the changes, all of the items which can be changed have been added. :+1: Let me know your thoughts after testing them! Documentation on our docs will be added shortly after the release comes out. :)

[2017-01-08 10:27] AndreyAntipov commented on #1615
I'd like to implement that feature, that bounty is still relevant?

https://www.bountysource.com/issues/28998888-global-search-across-channels

[2017-01-08 10:58] p-try commented on #1602
Thank you very much for this patch. Here are the updated line numbers for version 0.48.2:
1611 and 1732.

I agree that this should be configurable. In our case users will frequently leave their desk to visit clients without logging out and they will want to get push notifications anyway.

[2017-01-08 12:06] naguchennai opened #5466 "Rest api Auth-Token where i get it?"
Your Rocket.Chat version: (make sure you are running the latest)
User Create
`curl -H "X-Auth-Token: 9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq" \
     -H "X-User-Id: aobEdbYhXfu5hkeqG" \
     -H "Content-type:application/json" \
     http://localhost:3000/api/v1/users.create \
     -d '{"name": "name", "email": "email@user.tld", "password": "anypassyouwant", "username": "uniqueusername", "custom

[2017-01-08 13:18] graingert commented on #36
Mention notifications can be done by sending a DM with special markup to the mentioned users

[2017-01-08 13:20] graingert commented on #36
Eg the client that sends the mentioned tagged message in a grpup uses the DM channels to push notifications

[2017-01-08 14:02] Sing-Li commented on #5466
@naguchennai

Please see the documentation:

https://rocket.chat/docs/developer-guides/rest-api/authentication/#rest-api-authentication

[2017-01-08 14:03] #5466 closed

[2017-01-08 14:43] naguchennai opened #5467 "Rest api what is signup/ register?"
Your Rocket.Chat version: (make sure you are running the latest)
How can register user with rest api? there is no api https://someServer.com/api/bulk/register

[2017-01-08 14:55] naguchennai commented on #5466
/api/v1/login this is for login
/api/v1/logout this is for logout
/api/v1/me this is for get info after login

How can user register?
/api/v1/users.create this one ask User-Id ..  i think old user can creat new user? why is this?

where is sign-up api?

[2017-01-08 18:51] flantascience commented on #2815
So this actually is working now. It is not exactly what I desired but I think it's what you are after @wargamesqcf

The main thing causing a problem was that I used a self-signed SSL certificate.  I got this because I just wanted to test things out.  I got a real SSL and it worked.  I also maybe did an adjustment on my checkboxes, so let me post what I've got.

The trouble I still had... i actuall

[2017-01-08 19:26] thiesschneider commented on #5361
So I figured out how to get rocket.chat up and running with systemd

I really want to encourage someone to answer my first questions:

Here are my working setup with systemd files. Please be aware that I use an automated [Nginx Proxy](https://github.com/jwilder/nginx-proxy) and an automated [Letsencrypt generator](https://github.com/alastaircoote/docker-letsencrypt-nginx-proxy-companion)

First yo

[2017-01-08 19:26] #5361 closed

[2017-01-08 19:28] thiesschneider commented on #5361
#5465

[2017-01-08 20:55] TheReal1604 opened #5468 "Mobile URL Preview inconsistent"
Your Rocket.Chat version: 0.48.2

Since some days (I think since the Cordova app update) the url preview is a bit inconsistent. Depending which URL is clicked (the posted one, or the preview url added from rocket.chat) the link is opened in mobile Safari or in the app itself.

You can reproduce it with the following steps:

- Connect to your server with the mobile app (Cordova)
- Open Channel with

[2017-01-08 20:55] wargamesqcf commented on #2815
Just doesn't work on the non-pro verison.

[2017-01-08 23:05] crackcomm commented on #604
Hey! @mitar @Superhearing @butaman @flantascience

I'm trying to come up with a solution for this issue.

There was a discussion about using [guest accounts](https://atmospherejs.com/artwells/accounts-guest). I understand both points of view and trade-offs of both (maybe not all of them).

Main issue with having guest accounts from my point of view is amount of the data and it can be solved like t

[2017-01-08 23:15] saram-kon opened #5469 "Add user session specific class or attribute to manipulate with custom css"
Your Rocket.Chat version: 48.1

This is a feature request. It is already possible to alter the style of messages from specific users with the attribute selector for the data-username attribute. It would be really awesome, if it would additionally be possible to alter the css just for specific users, by adding a session specific class or attribute to be used with selectors. I don't know if this is

[2017-01-08 23:26] mbcote1111 commented on #5441
This is getting really frustrating. It just happened again. I need to
delete channels and then create new ones for jitsi to continue working...

Can anyone help me?

On Fri, Jan 6, 2017 at 8:42 PM, Aaron Ogle <notifications@github.com> wrote:

[2017-01-08 23:28] geekgonecrazy commented on #5441
@mbcote1111 in the initial post you did not very version of Rocket.Chat you are running.  Which version are you running?

[2017-01-08 23:38] mbcote1111 commented on #5441
0.48.2

On Sun, Jan 8, 2017 at 7:28 PM, Aaron Ogle <notifications@github.com> wrote:

[2017-01-09 02:18] flantascience commented on #604
I understood the goal was to allow non-members to view the channels without
axtualy posting anything.  By nexessarily making a guest account but just
viewing capability to non-users.

On Sunday, January 8, 2017, Łukasz Kurowski <notifications@github.com>
wrote:

--
Jim Flannery

jim-flannery.com
p. 860-212-8862
e. jim@jim-flannery.com
s. jim_flannery

[2017-01-09 02:19] crackcomm commented on #604
@flantascience that was helpful, thanks.

[2017-01-09 02:23] MicahZoltu commented on #1775
A feature with slack that I find quite valuable is the ability for the message author to be able to delete the preview.  This lets the author of the message make a judgement call as to whether the link preview is useful or not, rather than having every user have to make a global decision on the matter.

[2017-01-09 02:40] pedro-nonfree commented on #604
Sorry if I'm distracting. But I did not know that at the beginning was the idea to only see public channels.

I liked what achieved riot.im/app

You can enter as guest, and it says this message:
"You are Rioting as a guest. Register or sign in to access more rooms and features."

You can enter a channel to see what they say. You can join as guest, and speak. Seems that you cannot create new channe

[2017-01-09 03:00] seanxlliu commented on #4252
sorry for late response.
root url was set to "http://192.168.3.11:3000". the sever works just fine
Thank you!

[2017-01-09 03:59] mitar commented on #604
@crackcomm, my proposal for this issue is that you do not even have a quest account. It is just that data/channels are publicly readable. So that anyone can go around and read them (including robots like Google). You cannot really do anything with content and post, but you can read. One does not have to get a guest account. That would be the first step.

Then the next step would be that users can

[2017-01-09 04:13] a-abella commented on #5085
This is the one feature I dream of for our enterprise deployment. At the moment we default users to the most restrictive role and must manually assign roles to our "elevated" users with room creation rights. In a very large organization, this can be annoying. Mapping to LDAP groups would be fantastic.

[2017-01-09 05:38] naguchennai commented on #5467
[https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-api/server/v1/users.js](url)

`RocketChat.API.v1.addRoute('users.create', { authRequired: true }, {`

Create user need authRequired?
where is register user api?

[2017-01-09 08:53] dopykuh opened #5470 "Scrolling lags"
Your Rocket.Chat version: 0.48.2

After pushing a lot of messages to any channel, this channel / window will start lagging during scroll events. Possibly this is caused by just appending messages. After reloading the window all seems fine.
Tested browsers (latest firefox and chromium)

[2017-01-09 09:07] spweigand commented on #4735
Thanks for the reply.

What you described is the same what i ended up making. But it feels more like a workaround and not the final solution. I thought there was a more "comfortable" way through the custom fields in the Accounts section.

[2017-01-09 09:08] ydixken commented on #2355
+1

[2017-01-09 10:27] lucasvanhalst commented on #5470
See #31

[2017-01-09 10:46] dopykuh commented on #5470
Oh ok ;)

[2017-01-09 10:46] #5470 closed

[2017-01-09 11:04] naguchennai opened #5471 "Rest Api users.getAvatar"
SetAvatar /api/v1/users.setAvatar working fine..
How can i GetAvatar? and setCustumField? getCustumField? and no gender filed?
i think this is all are basics in chat... right?

[2017-01-09 11:54] jooola commented on #5104
I got a 404 too on the logo at connexion screen and at the bottom of the sidebar !

Subdir is written in the URL but a "/" is missing !

HTTPS://host.dn/chatassets/logo.png
 Ans should be :
HTTPS://host.dn/chat/assets/logo.png

Well i really don't know where to look to change those settings !

[2017-01-09 13:34] antgel commented on #2355
Dear +1ers, you can just click on the first post and add your thumbs-up there. :)

Regarding the feature, I think it would be extremely useful to be able to choose between 1) delete permanently, or 2) archive (perhaps to S3?) then delete.

[2017-01-09 13:57] mehdiyahyaoui opened #5472 "SSL problem - site non accessible - Ubuntu SNAP"
Your Rocket.Chat version: 0.48.2
OS : Ubuntu
Snap

Help plz - Urgent -I just activated the ssl option on my Admin settings in the Section general - the server is gone off - nobody can acces the page although the service status is OK

![image](https://cloud.githubusercontent.com/assets/23338414/21768789/c9835104-d67b-11e6-8386-e129935da074.png)

 is there a way to undo the ssl setting
the site is i

[2017-01-09 13:58] codyaray commented on #2292
Is this fibers issue ever going to be resolved? Just tried updating to 0.48.2 and seeing the same issue. (n==2.1.0, node==v4.5.0)

[2017-01-09 14:07] jGleitz opened #5473 "501 Bad sender syntax for password reset emails."
Your Rocket.Chat version: 0.48.2 (installed with `snap`)

When a user attempts to reset their password in the Login form, it results in the error message

![mailerror](https://cloud.githubusercontent.com/assets/4305652/21769032/030d08ba-d67d-11e6-95a7-63d7cac4fae1.png)

Sending emails works in other cases, though, for example when

 * adding a new user through the admin interface
 * testing the em

[2017-01-09 14:18] MartinSchoeler commented on #5467
@naguchennai have already read the documentation on the api? Here: https://rocket.chat/docs/developer-guides/rest-api

[2017-01-09 14:28] mehdiyahyaoui commented on #5472
How can I manually delete the setting from the mongo database with shell comands ?

[2017-01-09 16:55] drq883 commented on #3374
Separate windows for channels would be a nice feature.

Has there been any traction on this since requested?

[2017-01-09 17:13] #5472 closed

[2017-01-09 18:08] mixrat commented on #2355
Yes but it wouldn't keep this thread alive nearly as well :)

[2017-01-09 18:18] FibreFoX commented on #2355
Thats no real reason, because it makes this thread just noisy.

As this project is pull-request friendly, maybe someone can create a PR instead of just +1-ing? I'm currently not (yet) able to develop, but I'm preparing to. Maybe I will fast enough to develop this feature (but I doubt it, because I'm not used to develop meteor-driven apps)

[2017-01-09 19:04] TheRealMisterFix opened #5476 "mud"
Your Rocket.Chat version: (make sure you are running the latest)

[2017-01-09 19:05] TheRealMisterFix commented on #5476
Sorry, erroneous keystrokes!

[2017-01-09 19:05] #5476 closed

[2017-01-09 22:18] Fab1en commented on #5316
I tested your pull request @graywolf336 . Great work !
I can now use `username` parameter instead of `userId`. I can change the owner of a channel. I can delete channels and groups completely.  I can list all the settings (433 so far !).

I found an issue with the `users.list?query` method : I get the following error "app is crashed", and the response even doesn't have any `success` or `status` fi

[2017-01-09 22:22] Fab1en opened #5477 "REST API : inconsistencies in rights management"
Your Rocket.Chat version: 0.49.0-develop

I cannot post a message into a channel via the rest API if I'm logged-in as a user that does not have the `view-c-room` permission. The error message is "Not allowed [error-not-allowed]"
However, the same user with the same permissions can post to the same channel via the web app interface.

[2017-01-09 22:23] Fab1en commented on #5316
I created a new issue (#5477) for the "cannot post a message into a channel via the rest API if I'm logged-in as a non-admin user." item

[2017-01-09 22:26] graywolf336 commented on #5316
Thanks for testing it! 👍

There had to be an error when that happened, can you get the logs for that along with the entire url you used that way I can try to reproduce it.

Please test with a new url and the develop branch to see if that is an issue with these changes or something in develop. As we introduced a cache layer recently, so we just need to verify it isn't my branch and that we can repr

[2017-01-10 00:19] saram-kon commented on #5469
I found a solution and created a pull request. This is my first pull request ever so don't judge too harshly 😄

[2017-01-10 01:03] RichardFoxworthy commented on #5406
I've just experienced this same bug - pics taken on mobile phone silently failed to upload.

We've increased the max filesize to 5MB mitigate the problem. Newly taken pics do now upload successfully, but the original image files that failed to upload the first time still cannot be uploaded from the phone's file library.

Any ideas how to enable upload for those previously failed files?

[2017-01-10 05:18] janakamarasena commented on #4318
@kginstructor is it possible to try this same method to bypass the login screen from in an in-app browser for ios or android (using ui webview). I can get the token but no luck in bypassing the login screen using the above method.

[2017-01-10 10:00] snaiperskaya96 commented on #1279
Hello, i've honestly did not notice that the issue was closed since now ( Coming from https://www.bountysource.com/issues/27781984-have-option-to-name-and-edit-when-upload 😛  ) perhaps I developed a solution to add a description (and to alter the name) of an uploaded file.

If you want to have a look check it out here https://github.com/snaiperskaya96/Rocket.Chat/tree/Add-upload-file-description
o

[2017-01-10 10:31] snaiperskaya96 commented on #1279
A few examples:
![screen shot 2017-01-10 at 10 31 01 am](https://cloud.githubusercontent.com/assets/5279281/21802994/f43000f6-d71f-11e6-8586-a9c11092d4e1.png)
![screen shot 2017-01-10 at 10 31 09 am](https://cloud.githubusercontent.com/assets/5279281/21802998/f663240c-d71f-11e6-9ab3-64ab31d3ff07.png)

[2017-01-10 10:45] timandovo commented on #1615
I would be happy to pay a bounty of $200 to get this feature implemented.

[2017-01-10 11:20] rasos commented on #2693
"Users" is not clearly saying that it means what is now the "Private chat".

We propose as a new wording:
Channels: for public channels and private groups
Chats: private 1:1 chats

[2017-01-10 11:22] martindale opened #5479 "Support for `/msg`"
It'd be extremely convenient to simply type `/msg <username>` to open the private chat with a user, and `/msg <username> <message...>` to send them a specific message.  Most chat clients support this, so to lose it when migrating to Rocket is an impediment to workflow.

[2017-01-10 12:21] engelgabriel commented on #5456
@jy2008 can you please update to the lates version?

[2017-01-10 13:13] DaBlitzStein commented on #369
google drive?

[2017-01-10 13:41] areichmann76 opened #5481 "Unable to delete closed Livechat"
Your Rocket.Chat version: 0.48.2

Could not delete closed Livechats, in room list a room with empty name is displayed (also could not delete this).

[2017-01-10 13:44] stefanandres opened #5482 "Using \[ in Hook API causes server errors"
[code]

just returns `Server error.`

[ without backslash works.

[2017-01-10 15:18] geekgonecrazy commented on #5458
:+1: i'll go ahead and close this.  We can revisit this in the future if we need to.  But I don't see many production deployments being mint.

[2017-01-10 15:18] #5458 closed

[2017-01-10 15:54] saram-kon opened #5484 "Enable SSH or PGP key login"
Your Rocket.Chat version: 49.0 develop

This is a feature request. To make the user authentication more secure and at the same time ease the login process, it would be nice, if it would be possible to login with an SSH or PGP key, where a public key is stored on the server. While it is probably not possible to implement this in the browser versions, it should be implementable with the client appli

[2017-01-10 16:24] mvo5 commented on #5450
@Satotripe if a `apt dist-upgrade` fixed the issue for you, could you please attach the /var/log/apt/{history.log,term.log} files (feel free to edit and only include the relevant parts that include the snapd upgrade). This might give us some clues why hte upgrade fixed the issue.

[2017-01-10 16:25] mvo5 commented on #5450
The `systemctl status -l ` output of the failed unit(s) would also be super helpful :)

[2017-01-10 16:41] jszaszvari commented on #5481
+1

[2017-01-10 16:59] #1279 closed

[2017-01-10 17:05] Mte90 opened #5485 "Channel argument or description?"
Your Rocket.Chat version: 0.48
I see that there are this 2  value in every channel but only argument get written on the top of the chan itself.
So what is the purpose of description? Before understand the difference (the fact of the top) i mixed and now I am changing all the text in all the channel.
Maybe a label about the behaviour of both the field will be useful.

[2017-01-10 17:22] #5427 closed

[2017-01-10 17:50] MartinSchoeler opened #5486 "File upload tab issue"
When the name field is highlighted and tab is pressed the focus goes to the message bar instead of the file description

[2017-01-10 18:34] MartinSchoeler opened #5488 "Codemirror style issue"
In Admin>Layout>Content the codemirror textarea is like that
![screenshot from 2017-01-10 16-32-31](https://cloud.githubusercontent.com/assets/20868078/21819402/a8f78c0c-d752-11e6-9f7e-18ad4f2bdeb7.png)

[2017-01-10 18:41] seanloosier commented on #2355
Added some thumbs up per suggestions :)

[2017-01-10 19:45] mddvul22 commented on #2355
That seems to be only for channels, right?  I believe this is for deleting other stuff, as well.

[2017-01-10 19:50] mbcote1111 commented on #5441
Any update here? I have't heard anything in days.  Jitsi is no longer working in the new channels that I created.

[2017-01-10 20:01] #5270 closed

[2017-01-10 20:01] #5316 closed

[2017-01-10 20:04] FibreFoX commented on #2355
@mddvul22 looking at the sourcecode, it only is for channels:
https://github.com/RocketChat/Rocket.Chat/blob/bf65a13978e2dd165b1b4978597f6a90cba7666e/packages/rocketchat-api/server/v1/channels.js#L62

[2017-01-10 20:57] kajisaap commented on #2587
@engelgabriel @Sing-Li can you guys share the build script used currently to generated compiled in releases that are downloadable from https://rocket.chat/releases

[2017-01-10 22:08] Sing-Li opened #5491 "User password change fails (by admin) and triggers rate-limiter message"
Your Rocket.Chat version: 0.49-develop

Also happens on 0.48.2

To reproduce:

As an admin, select an existing user, choose EDIT,  change her/his password.

The password change fails and a "toast" from rate-limiter popsup, warning of too many calls made in too  short a time.

[2017-01-10 22:15] graywolf336 commented on #5467
There is no rest api for a user to register their own account, the users.create allows users with permission to create other users. I am not sure if we even want to allow user registrations via the rest api..

[2017-01-10 22:40] bnornholm opened #5492 "REST API for direct messages"
Your Rocket.Chat version: 0.48.2

Is there a way to have an API call for all direct messages for the server that will show the direct messages (to:from) and the content of those messages?

[2017-01-11 04:31] neyre commented on #5376
I'm experiencing the same issue on 0.48.2. New members created via Oauth (custom provider) don't get added to any default channels.

[2017-01-11 05:01] naguchennai commented on #5467
If this is my chat site "https://chat.rocket.chat" there is a link to register option. But if i want develop my mobile app or insert in to workpress joomla for my site No API for register? really? Lol

[2017-01-11 05:13] fazilou commented on #5462
will be amaizing

[2017-01-11 05:16] fazilou commented on #5459
coooooooool

[2017-01-11 06:08] fazilou commented on #4816
thats great feature

[2017-01-11 06:26] maxdwit commented on #5318
Thank you. adding create-d to the permissiongroup "bot" worked like a charm.

[2017-01-11 07:29] rasos opened #5494 "REST API login with encrypted password"
We are developing a native App for Rocket.Chat for Android, iOS & WP and make heavily use of the REST API and DDP calls. At login, we can send the password in 0.48.2 in plain text only:
https://rocket.chat/docs/developer-guides/rest-api/authentication/login
However, we do not want to store it in plain text on the mobile device.
Could we have an option to login with a sha256 password?

[2017-01-11 08:45] footplus commented on #3321
Up ? This is still happening on 2.1.0...

[2017-01-11 08:49] tanc commented on #5350
You need to install using npm version 3: https://github.com/RocketChat/Rocket.Chat/issues/5210
`npm install -g npm@3`

[2017-01-11 09:10] saigop commented on #5450
Sorry for my late reply, am not able to recover the old machine, so all i did is the following,

1. Installed new Ubuntu 16.04 in a new VM Instance
2. Installed latest RocketChat application via snap
3. Took the backup of the tar file of the old RC, which i used to capture daily to my NAS
4. Restored it in the common directory
4. Finally the app got UP and running

[2017-01-11 09:12] saigop commented on #5450
@geekgonecrazy for your query, its been in 0.48.2, and there is no issue on internet connectivity for that instance. All was fine, all of sudden this happened.

[2017-01-11 09:15] jszaszvari commented on #5455
Can you elaborate furhter on  "invalid" ?

Does it let  you register with "id0a9jaJ0ejem0@soakfw" - Or just an email address that does not actually exist.

If i try and use gibberish it fails, these address will not work:

dadjnnd313@qej3294j20  (Invalid email)

ij2494234c  (Invalid email)

iin34@kd0j2j4.3132 (Invalid email)

iin34@kd0j2j4.com (Invalid domain)

But something like.. bob@cheesejy200

[2017-01-11 09:23] Satotripe commented on #5450
Ok, I'm in Ubuntu 16.04 server, here my log :

From /var/log/apt/history.log

`Start-Date: 2017-01-06  10:24:50
Commandline: apt-get dist-upgrade
Requested-By: myuser (XXXX)
Install: snap-confine:amd64 (1.0.43-0ubuntu1~16.04.1, automatic)
Upgrade: snapd:amd64 (2.0.10, 2.17.1ubuntu1), ubuntu-core-launcher:amd64 (1.0.27.1, 1.0.43-0ubuntu1~16.04.1)
End-Date: 2017-01-06  10:24:58`

From /var/log/apt/t

[2017-01-11 09:49] mvo5 commented on #5450
@Satotripe Thanks a lot! This looks all normal.

I tried to reproduce this with snapd 2.17.1ubuntu1, ubuntu-core r423 and then upgrading ubuntu-core to r1357. However I did not see the rocketchat-mongo.service failing. I also rebooted and it kept working. A apt full-upgrade also worked (across reboots too). Would love to get to the bottom of the issue, maybe someone can dig out an old log which mi

[2017-01-11 10:07] maethor commented on #2184
@engelgabriel I'm looking for the same feature than @NickBusey for my supervision bot.

Attachements are beautiful, but they are not embedding in the desktop notifications, so we can't the at the first glance what the notification is about.

[2017-01-11 10:24] tanc commented on #3321
I'm also seeing this issue with animated gifs (not as Avatars) on the OS X client. I haven't tested in browsers.

[2017-01-11 10:43] maethor opened #5495 "Disable link preview when message is send by a bot"
Your Rocket.Chat version: 0.48.2

Hi,

Is there an equivalent to the Slack attributes `unfurl_link` and `unfurl_media`? On slack, `unfurl_link` is False by default, so when a bot post a link, Slack doesn't try to display a preview.

Or is there any way to simply post a link with a bot without having Rocket Chat displaying a preview?

Thanks

[2017-01-11 10:49] hussamEddinAlhendi opened #5496 "displayName for groups and channels"
Can we make the display name different of the unique channel name by adding a display name field for groups and support it in rest api

[2017-01-11 10:52] shrynx opened #5497 "saml authentication doesn't doesn't work with Native clients"
Because of atom not displaying authentication dialog box (or even alerts) required for signing into ldap server , saml login doesn't work.
Any work arounds ?

[2017-01-11 11:58] maethor commented on #5495
By the way, if anyone is looking for a way to disable preview on a message send by a bot, I found a (quite ugly) workaround. Previews are auto-attachments. So if you put an attachment, or even if you force `"attachments": [{}]`, preview will not show up.

But I think it would really be better to add `unfurl_link` and `unfurl_media` variables :smile:

[2017-01-11 12:11] anappleapp commented on #1043
Hi @steedos ,

I download the plugin in Rocket.chat Cordova but it doesnt work..
Did you find some solution, Thanks in advance.

[2017-01-11 13:35] SplittyDev opened #5498 "Some download links are broken on the website"
Downloads links for Windows and Linux are broken: https://rocket.chat/download
Not sure if this belongs here, I couldn't find a repository for the website.

[2017-01-11 14:17] Rohlik commented on #3151
Slack already have this integration (with Google drive).

[2017-01-11 14:32] tomasz-nowak opened #5499 "Login with LDAP via Iframe"
Hi,
I have a Rocket.Chat instance on my server with standalone LDAP server. Iframe.contentWindow.PostMessage with login-with-token event works great for logging users, but only for those previously logged in with Meteor.loginWithLDAP method. Is there a way to login users with LDAP via Iframe (or API) ? Or just run Meteor.loginWithLDAP from iframe parent window?

[2017-01-11 14:42] MartinSchoeler commented on #5437
@feraudet have you solved the issue?

[2017-01-11 14:51] Sing-Li opened #5500 "Feature request: Webinar delivery"
Customize / enhance current Video Chat panel (Jitsi) for broadcast webinar.
Allowing participants to continue text chat concurrently with video broadcast.

Perhaps:
*  moderated chat stream (channel)
*  announcement of ongoing event (as toasts?)
*  ability to "go away" and return quickly
*  functional on mobile  (requires careful design but big differentiator)
*  membership / attendee management a

[2017-01-11 14:55] MartinSchoeler commented on #5495
@maethor have you tried to add the bot username in Disable Embed for Users setting in administration->Message?
![screenshot from 2017-01-11 12-54-24](https://cloud.githubusercontent.com/assets/20868078/21853159/1c9a0702-d7fd-11e6-9c8d-dbe097b9d321.png)

[2017-01-11 15:01] MartinSchoeler commented on #5498
@SplittyDev for me they are working fine, is this still happening to you?

[2017-01-11 15:09] kginstructor commented on #4318
I would assume so, @janakamarasena , they are after all browser pages. But I haven't done so myself yet.

[2017-01-11 15:29] MartinSchoeler commented on #5498
@SplittyDev sorry I was looking at the wrong links, you are right they are broken.

[2017-01-11 15:31] engelgabriel opened #5501 "Remove "_normal" and "_bigger" from Twitter Avatar URL"
The Twitter oAuth gives us

https://pbs.twimg.com/profile_images/633362741735096320/tCSKtjoq_normal.png

We should use

https://pbs.twimg.com/profile_images/633362741735096320/tCSKtjoq.png

[2017-01-11 15:54] scj643 commented on #4575
Kinda like discord

[2017-01-11 16:23] hussamEddinAlhendi opened #5503 "Register gcm token at rocket.chat"
I have a custom mobile android app I want to register gcm token on my rocket.chat server How I can do that Is there any restful api to add/update tokens

[2017-01-11 16:27] janakamarasena commented on #4318
@kginstructor I tried it and several other ways including passing using headers but no luck. If you find a proper solution please let me know. Thank You.

[2017-01-11 16:52] Mte90 commented on #216
Uhm there is a way to move a specific channel to another one inside rocketchat?

[2017-01-11 17:38] sampaiodiego commented on #5503
You have to send the following DDP messages:

- on connect, call method `raix:push-update` - data:
[code]

- on user login, call method `raix:push-setuser` - data:
[code]

[2017-01-11 18:04] Kiran-Rao opened #5506 "Feature: Static HTML Pages"
For my project, I need to build in Rooms containing containing static html (editable by admins). They need the same functionality as regular channels (add/remove users, sidenav, etc).

1. Would this feature be useful to RocketChat?
1. What is the best way to implement this?

I've looked at how livechat is implemented and I like the approach of keeping everything in a self-contained module.

Any su

[2017-01-11 19:40] howellsd opened #5507 "Security Vulnerability: Allow Password Change admin setting doesn't work"
Your Rocket.Chat version: 0.48.2

Setting the administration setting "Allow Password Change" to false under Administration -> Accounts does not prevent users from resetting their password under My Account -> Profile -> New Password.  The only effect of setting "Allow Password Change" to false appears to adding a comment to the text field element:

<input type="password" name="password" id="passwor

[2017-01-11 21:06] maethor commented on #5495
I didn't. I prefer a way that don't completely forbid it (because the same bot is used by hubot to display pictures).

But you are right, it is always possible to make two bot account, one allowed to embed preview, and another who is not. With that said, I  still prefer my "attachments" :)

If you don't think it would be usefull to implement `unfurl_media` and `unfurl_links`, you can close this is

[2017-01-11 21:15] robbyoconnor commented on #5287
HI there:
The following worked for me @Againstreality:
[code]

[2017-01-11 21:33] geekgonecrazy commented on #5450
@Satotripe going to re-open so we can track until we know this is gone.

https://demo.rocket.chat/channel/ubuntu-snap?msg=HRz4H7hocA8RJw5ik some related info possibly available here when debugging another issue.

[2017-01-11 22:05] robbyoconnor commented on #5287
HI there:
The following worked for me @Againstreality:
[code]

[2017-01-11 22:09] engelgabriel commented on #5437
@feraudet please reopen if the problem persists.

[2017-01-11 22:09] #5437 closed

[2017-01-11 22:21] robbyoconnor commented on #5287
PR made https://github.com/RocketChat/Rocket.Chat.Docs/pull/174/files

[2017-01-11 23:07] engelgabriel commented on #5410
We can create a REST api/meteor method which returns the redirected URL for a given relative URL, but you'd need to be logged in to access it, so I am not sure if that would help?

@sampaiodiego can we create this REST api?

[2017-01-11 23:10] engelgabriel commented on #5312
@Abraka can you please try it out with the new version 0.49.0?

[2017-01-11 23:12] engelgabriel commented on #5293
@admin-crowd-iugo can you try the new version 0.49.0?

[2017-01-11 23:14] engelgabriel commented on #5376
@neyre can you please try with the new version 0.49.0 ?

[2017-01-11 23:19] engelgabriel commented on #5313
We have the fix, now we just need to merge into develop and test it for a few days, so it can be included on the next release.

[2017-01-12 00:15] jakimfett opened #5508 "Login page has no input elements after enabling oath"
Rocket.Chat version: 0.48.2

After setting up Google OAth (following the instructions [here](https://rocket.chat/docs/administrator-guides/authentication/oauth#setup-1)), I can't log in to my rocketchat instance (no username/password prompt is available):
![image](https://cloud.githubusercontent.com/assets/2565176/21871722/e446fbf0-d818-11e6-8cd1-34429432cbe6.png)

See https://chat.redthread.tech

[2017-01-12 00:31] Perksls commented on #5508
i think you can login, in the console paste

Meteor.loginWithPassword('your-admin-username', 'your-password');

[2017-01-12 00:34] KonradTUM commented on #4701
anyone?

[2017-01-12 00:51] jakimfett commented on #5508
Thanks, that got me in.

[2017-01-12 00:51] #5508 closed

[2017-01-12 00:57] jy2008 commented on #5455
an email address that doesn't exist.

[2017-01-12 01:06] soundstorm opened #5509 "Feature: Return = line break/send setting"
While on desktop you can easily insert a line break by shift+return, on mobile a messsge is send immediately when return is hit.
Would be great to add possibility to set "send on return" on/desktop only/off

[2017-01-12 01:22] soundstorm opened #5510 "UI: Message option menu hides behind sidebar"
![img_9449](https://cloud.githubusercontent.com/assets/193273/21873199/488d987c-d86d-11e6-9784-59dba9bfcae7.PNG)
Running 0.48.2, the menu (when hitting the gear next to a message) is placed behind the users name, therefor occasionally offscreen (mainly handheld, image shows full screen width, only cropped height). Placing it above the message would solve the problem.
I try to check, if I can fix i

[2017-01-12 01:24] engelgabriel commented on #5510
Thanks for the report. We already have plans to change this.
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/5464

[2017-01-12 01:24] #5510 closed

[2017-01-12 01:25] jakimfett opened #5511 "OAuth fails with "redirect_uri_mismatch" error"
Rocket.Chat version: 0.49.0

After configuring OAuth in admin/OAuth, I can see the "Google Login" button, but attempting to log in using the Google OAuth method results in the following application error:

<pre>
{"line":"428","file":"oauth.js","message":"Error in OAuth Server: Failed to complete OAuth handshake with Google. failed [400] {   \"error\" : \"redirect_uri_mismatch\" }","time":{"$date":

[2017-01-12 01:26] soundstorm commented on #5510
Ah, just missed that issue!

[2017-01-12 04:46] makeitcount opened #5512 ""Bad Request-400" : File upload through Amazon S3 not working"
Your Rocket.Chat version: v0.48.2

I changed file storage from gridFS to amazon S3 following the [guide](https://rocket.chat/docs/administrator-guides/file-upload/amazon-s3). Before doing that I had created a user in amazon s3, giving permission to read and write on s3. In rocket chat admin, I had saved s3 bucket name, accesskey, secret id for this user. Now file upload is not working. When I uplo

[2017-01-12 06:00] Ingwersaft commented on #5090
Still broken in 0.49.0, but now I don't se exceptions at all :/
Curl-ing the image from inside the docker image still works

[2017-01-12 06:40] dbmLeon commented on #4701
Yes. Sir.

On Wed, Jan 11, 2017 at 6:34 PM, KonradTUM <notifications@github.com> wrote:

[2017-01-12 06:49] Ingwersaft commented on #5090
After some further investigation, it seems quotation marks around the proxy env variable are the issue.

[code]
didn't work, but
[code]
did.

Curl, wget and other tools don't have problems with this (also every http_proxy howto uses quotation marks).

[2017-01-12 07:02] TheReal1604 opened #5513 "Uploaded file renaming - keyboard overlaps fields on mobile"
Your Rocket.Chat version: 0.49.0

Hey Guys,

thanks for implementing this feature! But i get a very annoying issue on mobile with this.

If i try to upload a picture from my iPhone all seems fine:

![2017-01-12 07-47-44 3768](https://cloud.githubusercontent.com/assets/5877910/21880053/246a257a-d89d-11e6-9c84-418d657c979d.png)

Until I try to rename the file upload.. then the keyboard overlaps the

[2017-01-12 07:10] TheReal1604 opened #5514 "Resizing of the app after image upload not correct"
Your Rocket.Chat version: 0.49.0

The cordova app not resizing properly with the size of my phone, you can see this in the screenshot below:

![image](https://cloud.githubusercontent.com/assets/5877910/21880283/6a6f6188-d89e-11e6-88eb-645bfe784606.png)

In the red square the UI is not properly aligned.

You can reproduce this if you make a picture and upload it, after taking the picture and the up

[2017-01-12 07:17] TheReal1604 opened #5515 "Logo in left corner not displayed properly in administration menu"
Your Rocket.Chat version: 0.49.0

Since the update if i go to the administration menu the logo in the lower left corner is not displayed correctly. It seems that there is a little blue box that swipe in front of that logo.

![image](https://cloud.githubusercontent.com/assets/5877910/21880467/6b5dc50c-d89f-11e6-84ea-4a8c3c58eadb.png)

There should be the rocket.chat logo :-) (or any other logo that

[2017-01-12 07:20] maethor commented on #2238
Sadly, I cannot do that, because I really need the new room notification for the livechat.
Do you have another way to fix this bug?

[2017-01-12 08:16] salamachinas commented on #4738
+

[2017-01-12 08:31] esolix opened #5516 "Facebook OAuth not working after upgrade to 0.49"
Your Rocket.Chat version: 0.49.0

Upgraded from 0.48.2 to latest, and login with FB OAuth stop working with Internal Server Error

From Log

Exception while invoking method 'login' TypeError: fun is not a function at Resultset.find (/opt/Rocket.Chat/programs/server/npm/node_modules/meteor/rocketchat_lib/node_modules/lokijs/src/lokijs.js:2197:17)   at Resultset.findAnd (/opt/Rocket.Chat/programs/se

[2017-01-12 08:37] ktt9117 opened #5517 "Problems occur when refreshing the Internet browser."
Your Rocket.Chat version: 0.48.2

I created a VM on the Azure Cloud and manually installed the last release version of Rocket.Chat.

I tried two different browsers (Chrome, Safari) on one computer and logged in as a different user and it worked fine.

However, if one of the browsers is refreshed and re-tested, there is a problem that the message can not be sent or received in real time.

[2017-01-12 08:44] CONFORM-IT commented on #4684
+1

Either the transcript is sent to a static address that the admin can configure, or the agent has to put in the destination address himself. The transcript should contain not only the messenges but also the timestamps.

[2017-01-12 08:53] stevepurkiss commented on #1921
Just noticed @jelhouss sandbox is now a full project:

https://www.drupal.org/project/rocket_chat

[2017-01-12 08:57] pushpdeep commented on #759
@Sing-Li Hey, so can you share the way you could do it for a local project within CE . i am eager to try this out.

[2017-01-12 09:10] hussamEddinAlhendi opened #5518 "Arabic group names support"
Is there a way to name group in arabic letters not just english

[2017-01-12 09:17] Perksls opened #5519 "Custom oAuth stoped working after upgrade to 0.49"
Your Rocket.Chat version: (0,49), after upgrade to the 0,49 the custom oAuth stoped working
`Exception while invoking method 'login' TypeError: fun is not a function   at Resultset.find (/opt/Rocket.Chat/programs/server/npm/node_modules/meteor/rocketchat_lib/node_modules/lokijs/src/lokijs.js:2197:17)   at Resultset.findAnd (/opt/Rocket.Chat/programs/server/npm/node_modules/meteor/rocketchat_lib/no

[2017-01-12 09:26] galrotem1993 opened #5520 "clustering Rocket.Chat"
Your Rocket.Chat version: 0.49.0

Hi,
how should i install Rocket.Chat across multiple servers?

thanks

[2017-01-12 09:30] jelhouss commented on #1921
Yup. I made the first initial commit for the project for version 8 of Drupal. Pushed it on drupal.org and since then it seems ppl are contributing. It still has the same github repo link https://github.com/jelhouss/rocket_chat

Drupal community will make it more good I hope.
I guess Lawri on the Drupal module project made a version for Drupal 7!

[2017-01-12 09:33] stevepurkiss commented on #1921
@jelhouss awesome, thanks for your work and getting the ball rolling!

[2017-01-12 09:39] logycon opened #5521 "Use Rest API with oAuth Logins"
Your Rocket.Chat version: 0.48.2

We are trying to integrate RocketChat into our application via a Polymer component.

Our application uses single signon OAuth provider. RocketChat is configured to use the same OAuth provider (Keycloak) and forms-based authentication is disabled.

How can the user login to the API given this scenario?

[2017-01-12 09:43] jelhouss commented on #1921
Also thanks to Angry Cactus (Drupal Startup) for pushing me to do it!

[2017-01-12 09:46] juanwolf commented on #5520
Hi,

Please have a look at @TheReal1604 tutorial:
https://github.com/RocketChat/Rocket.Chat.Docs/issues/87

[2017-01-12 09:46] nadirlc opened #5522 "Error when trying to upload file"
Your Rocket.Chat version: 0.48.2

Hi,

I get an error when I try to upload an image file. The file size is less than 100 Kb. The attached screenshot shows the error message.

Regards,
Nadir Latif

![screenshot from 2017-01-12 14 44 53](https://cloud.githubusercontent.com/assets/20923812/21884697/3693ad32-d8d6-11e6-9ef5-2a5f8d65e064.png)

[2017-01-12 09:57] ivanovaleksey commented on #4395
Hi guys!
Sorry for the question but how can I enable this plugin in my Rocket.Chat installation?

[2017-01-12 10:13] Againstreality commented on #5287
you are awsome !! Thx have you found a way to transfer attachments?

[2017-01-12 10:21] nadirlc commented on #5522
The file upload works in the latest version which is 0.49. Thanks.

[2017-01-12 10:21] #5522 closed

[2017-01-12 10:29] juanwolf commented on #4395
Hi!

If you are running the latest version of RC, you should be able to enable this feature in the administration panel -> Messages -> "Allow message snipetting", it should be one of the latest option.

Hope it helps.

[2017-01-12 10:30] a-t101 commented on #3607
https://github.com/jitsi/jitsi-android/issues/52
I post the issue too,  :-D
Did anyone do something interesting and let us know what he did?
I really appreciate.

[2017-01-12 10:31] robbyoconnor commented on #5287
@Againstreality if you look at the [sample code](https://rocket.chat/docs/administrator-guides/integrations/telegram#simple-telegram-bot-),  I updated it to what I'm using right now.

[2017-01-12 11:11] spathare21 opened #5523 "Gmail and any other mail system calender sync up with rocket chat."
Your Rocket.Chat version: (make sure you are running the latest)

As we have an option to login with gmail/configure rocket chat to allow login using gmail credentials.
can we integrate/sync up our gmail calendar with  rocket chat. so that whenever we have a meeting our rocket chat profile status automatically will change to "In Meeting", also if meeting ends/canceled it should have to change to "

[2017-01-12 11:15] spathare21 opened #5524 "More status option's like Do not disturb and In Meeting."
Your Rocket.Chat version: (make sure you are running the latest)

We have a status like online,away,busy. will be good if we have status like do not disturb and in meeting.

[2017-01-12 11:20] ivanovaleksey commented on #4395
Thanks @juanwolf, I have found it a few minutes ago.
As I understand I should sent snippet text via regular message and then create a snippet from that message (in message menu)?

[2017-01-12 11:44] Fscape commented on #3709
This is no longer causing the OS to freeze for me in the new client version 2.2.0 (Thanks!)
A block of 1300 characters of plain text now takes +-10 seconds to appear when pasting into chat, but it gets there.
During this time, the CPU jumps to 100%, and the RAM hardly even changes.
(Once the pasted text appears, the spellcheck works well too)

[2017-01-12 11:47] juanwolf commented on #4395
Yeah exactly, once done, the message will be formatted and will have syntax highlighting auto detected by highlight.js. After that, you should be able to find your snippet into the panel on the right of your channel.

Feel free to enhance this plugin, it is at its early stage and needs improvement.

[2017-01-12 11:49] engelgabriel commented on #4659
dup https://github.com/RocketChat/Rocket.Chat/issues/2422

[2017-01-12 11:49] #4659 closed

[2017-01-12 11:49] engelgabriel commented on #5524
dup https://github.com/RocketChat/Rocket.Chat/issues/2422

[2017-01-12 11:49] #5524 closed

[2017-01-12 11:57] engelgabriel commented on #5516
Dup https://github.com/RocketChat/Rocket.Chat/issues/5511

[2017-01-12 11:57] #5516 closed

[2017-01-12 11:57] engelgabriel commented on #5519
Dup https://github.com/RocketChat/Rocket.Chat/issues/5511

[2017-01-12 11:57] #5519 closed

[2017-01-12 12:01] engelgabriel commented on #5238
Please reopen if the problem persist.

[2017-01-12 12:01] #5238 closed

[2017-01-12 12:03] rodrigok commented on #5511
@jakimfett Can you paste here the url of the opened popup for login? And your `Site Url` setting?

[2017-01-12 12:03] engelgabriel commented on #5368
@viniciogomez89 please talk to me at https://demo.rocket.chat if the problem persists.

[2017-01-12 12:03] #5368 closed

[2017-01-12 12:10] engelgabriel commented on #5498
Fixed

[2017-01-12 12:10] #5498 closed

[2017-01-12 12:52] viniciogomez89 commented on #5368
Yeah, I still with problem

[2017-01-12 13:03] ST-KW opened #5525 "Windows Desktop App - Launch app on login feature"
Rocket.Chat version: 2.2.0

As a Windows user, I want a "Launch app on login" option so that Rocket.Chat is always online / available and I can't overpass messages.

[2017-01-12 13:12] christianreiss opened #5526 "Idea: Administration -> Layout -> Colors"
Hey folks,

Idea. For Administration -> Layout -> Colors make 'defaults' buttons so if one (like me) screws up, there is always a way back.

Cheers!
-Chris.

[2017-01-12 13:21] AufGehts opened #5527 "Feature - personal notepad"
A useful extension in the section "private messages" would be the possibility for an user to create a private message at himself.
The user could use this as a personal notepad to save important informations within the system. Therein a user could save quick notes or to-do lists, which can be updated or deleted by the edit-function. The content of the own private messages would simply be searchable

[2017-01-12 14:03] jsumners commented on #4417
Same issue on 0.48.

The client should be downloading files directly instead of opening them in a separate browser process.

[2017-01-12 14:21] codyaray commented on #3929
Ran into this bug again today. I disabled avatar storage in gridfs and I'm seeing far fewer of these exceptions in the logs. Avatars still aren't showing up though, just the default of user-initials.

(We're using LDAP so avatars refresh periodically, might affect the issue with gridfs storage)

[2017-01-12 14:22] ksb4ever opened #5528 "Mark pinned messages button if messages exist"
Your Rocket.Chat version: 1.3.1 (15)
Mark pinned messages button in chat, if at least one pinned message exists.

[2017-01-12 14:24] rekeds commented on #5528
+1,
this could be great, to notify the user of changes in pinned messages "tab", without opening the side menu.

a red color pin if somethings new/unread :>

[2017-01-12 14:33] fadanner commented on #5313
So this is included in 0.49? or in version 0.50?
 Btw. is there any documentation about the release plan for ubuntu snap packets. We want to use Rocket.chat hosted as snap package in our company. But it is hard for me to argument for rolling out rocket.chat without a working ie11 version and without a defined date to have it work. Like Abraka said, such things are crucial for corporate environment

[2017-01-12 14:54] bgomelsky commented on #5525
This can be implemented using [auto-launch](https://www.npmjs.com/package/auto-launch ) package.

[2017-01-12 15:17] corecache opened #5529 "RC rendered unusable - browser errors after upgrade from 48.2 to 49.0/50-develop"
Your Rocket.Chat version: 49.0 / 50-develop (8e15592f64bddc70336f6a1d87263410d044f7bc)

No errors or warnings in the server log - enabled "Log_Level" in Settings documents by setting its value to 2 - it is already fully showing whats going on - seems like everything is fine server-side.

I've checked my browser console and it shows a few errors:

![rc49](https://cloud.githubusercontent.com/assets/

[2017-01-12 15:50] christianreiss commented on #5526
Actually it seem this has already been done. At least I just updated to 0.49... (which I didnt seem was published).

Kudos!

[2017-01-12 15:50] #5526 closed

[2017-01-12 16:03] engelgabriel commented on #5529
I guess you are running the Rocket.Chat via the `meteor` command, right?

You need to do a `meteor npm i` before running `meteor` or even before `meteor build`.

Please reopen if the problem persist.

[2017-01-12 16:03] #5529 closed

[2017-01-12 16:03] geekgonecrazy commented on #3709
Glad to see there has been improvements. With Katex there really is no getting around there being a spike in processing.  But ideally this could be improved even more.

[2017-01-12 16:04] laggedHero commented on #5413
@engelgabriel The iOS native and the iOS Cordova versions are completely different beasts. Doing on the native does not mean it will be easier to do on the Cordova later. There's no direct relation.

@bleomycin I'll see it open again in the same channel you left. Would that work?

[2017-01-12 16:05] engelgabriel commented on #2255
I think this is not really an issue since meteor 1.4, as it compiles ONLY the changes packages and the rebuild is much faster. Can we close this?

[2017-01-12 16:31] engelgabriel commented on #5525
I'll close this issue here and refer the new isso on the desktop app project.

https://github.com/RocketChat/Rocket.Chat.Electron/issues/292

[2017-01-12 16:31] #5525 closed

[2017-01-12 17:04] dwrensha opened #5530 ".meteor-css-not-found-error on first load"
I'm running Rocket.Chat 0.49 on Sandstorm. Approximately 1 in every 5 times when I create a new Rocket.Chat grain, the page loads with broken css, like this:

<img width="1414" alt="rocketchat-styling" src="https://cloud.githubusercontent.com/assets/495768/21899265/a432d692-d8bd-11e6-8946-16700cd8d956.png">

The problem seems to have to do with a particular request for `/10f4a42de1fcf4b27834d5d6d2

[2017-01-12 17:39] engelgabriel commented on #5530
Thanks @dwrensh we will investigate that.

[2017-01-12 18:08] engelgabriel commented on #4543
@LiraNuna can you please suggest the changes with a PR to https://github.com/RocketChat/Rocket.Chat.Docs/tree/master/3.%20Installation/4.%20Manual%20Installation/CentOS ?

[2017-01-12 18:21] Velociround commented on #4780
I don't know what he wants, but my Rocket Chat server uses the internet via a corporate proxy. I need RocketChat to use the same proxy as the system, or to setup proxy inside RocketChat so that it can connect to the internet. My server does wget and yum install fine through proxy but RocketChat gets

`[34mI20170112-15:56:56.633(-2) app.js:471 [31mSystem ➔ error Error sending push to gateway (6 t

[2017-01-12 18:42] drickerusa commented on #726
I recently have been asked by our product teams about this very subject. Any updates are plans to do this in the future?

[2017-01-12 19:03] lucasvanhalst commented on #5527
You can already do this, just start a conversation with rocket.cat.

[2017-01-12 19:18] #5313 closed

[2017-01-12 20:46] LeDistordu commented on #3402
Still no solution

[2017-01-12 20:54] deogracia commented on #5350
Thanks @tanc

Just read #5210 : I totally didn't see this when I upgraded to 0.48.1 :/
And, since I always reopen rocket.chat's doc following debian setup/update, in case I miss something, it should be stated, for example, that after "npm install -g n", we have to use npm 3.

But since I use debian and nodesource repo (like docs says), it's really weird to says to use 'n' to set nodejs version to

[2017-01-12 21:32] codyaray opened #5535 "Screen Share is incorrectly flipped"
Your Rocket.Chat version: 0.48.2

Screen sharing is flipped.

Screen Share (Flipped)
![drake](https://cloud.githubusercontent.com/assets/44062/21909142/4027fdfc-d8dc-11e6-9e4e-ba2c063d83a6.jpg)

Looks like this was unintentional from the PR #3384

[2017-01-12 21:48] adeviadoug opened #5536 "Oauth Exception while invoking method 'login'"
Your Rocket.Chat version: 0.49

Error message:

[code]

[2017-01-12 21:57] engelgabriel commented on #5527
Indeed @lucasvanhalst but it would be good to be able to start a conversation with oneself, for Slack import compatibility :)

[2017-01-12 21:59] engelgabriel commented on #3325
Fixed

[2017-01-12 21:59] #3325 closed

[2017-01-12 22:16] #5401 closed

[2017-01-12 23:06] TheRealMisterFix commented on #3421
It appears this may have been regressed in 2.2.0.  I'm no longer able to install silently, and it installs to the user's appdata\programs directory instead of to C:\Program Files(x86) now.

[2017-01-12 23:08] geekgonecrazy commented on #5536
Also happens with Facebook.  Seems to be related to trying to hit a method not present in the caching layer.

More detailed log.  Though the above was probably enough :)
[code]

[2017-01-12 23:14] geekgonecrazy opened #5537 "Channel list empty"
Your Rocket.Chat version: 0.49.0

Channels list did not show instead showed:
![image](https://cloud.githubusercontent.com/assets/51996/21911557/eba1db58-d8e6-11e6-8063-60a4e3fc3b87.png)

After popping open javascript console and putting: `RocketChat.CachedCollectionManager.clearAllCache()` and refreshing that problem was resolved.  I assume doing even a browser cache clearing would have also worke

[2017-01-12 23:16] geekgonecrazy opened #5538 "Missing Direct messages in Admin Room list"
Your Rocket.Chat version: 0.49.0

If you goto Admin-> Rooms and click direct messages.  There are none.  It doesn't seem they have disappeared... but they are not discoverable here.

New ones after the upgrade to 0.49.0 are showing there.  But their names are gone.

![image](https://cloud.githubusercontent.com/assets/51996/21916977/c87663ce-d909-11e6-9f57-8971e2aff5e4.png)

Assuming related to lok

[2017-01-12 23:30] steven-tib opened #5539 "Edit channel settings impossible (when admin)"
Your Rocket.Chat version: (0.49)

It's not possible to edit channel settings anymore, the "pencil" button is not showing.
see picture below:

![image](https://cloud.githubusercontent.com/assets/18457235/21912542/ef51d858-d926-11e6-890e-a21df077476d.png)

[2017-01-12 23:35] steven-tib opened #5540 "wrong translation (French) - accounts settings"
Your Rocket.Chat version: (0.49)

Wrong translation in the accounts settings:  "do not remember session..." -->

![image](https://cloud.githubusercontent.com/assets/18457235/21912666/aa5a62fa-d927-11e6-8444-a66271723759.png)

should be :
"**Ne pas se souvenir de la *session* utilisateur lors de la fermeture de la fenêtre**"

Cheers

[2017-01-13 00:33] timkinnane commented on #2255
Happy to close for those reasons, but I'm still disabling many of the packages we don't need just for simplicity - which may reduce initial build time, but also avoids exposing some of the less polished components in the UI and admin pages (probably also side-steps some minor bugs).

@engelgabriel, I remember you mentioned changing rocketchat-lib to rocketchat-core and possibly moving some code fr

[2017-01-13 00:34] kentonv opened #5541 "Migrations failing on Sandstorm in 0.49.0"
Your Rocket.Chat version: 0.49.0

The latest Rocket.Chat package is unable to migrate grains that are a few versions old. It looks like migrations from the most-recent version work, but migrations from 0.45.0 do NOT work. Specifically, migrations seem to fail at "version 67".

[Here is a grain backup which demonstrates the problem.](https://github.com/RocketChat/Rocket.Chat/files/703234/Test.migra

[2017-01-13 00:38] kentonv opened #5542 "After migration failure, Rocket.Chat complains "control is locked""
Your Rocket.Chat version: 0.49.0

In #5541 I documented a migration failure. Another issue surfaces after the failure: If I restart the grain, Rocket.Chat seems to get stuck claiming that "control is locked". There is only one instance of Rocket.Chat running, but it seems the database is somehow marked "locked" in a way that doesn't resolve automatically. Is this intentional? I would expect Rocket

[2017-01-13 00:42] kentonv commented on #5426
The new Rocket.Chat build is now available in the app market's "experimental" section:

https://apps.sandstorm.io/?experimental=true

Unfortunately, we identified a bug which breaks migrations from a few versions ago (#5541). Because of this I don't think we should release this version.

However, people who are currently on 0.48.2 (the most recent released version) should be able to upgrade to 0.4

[2017-01-13 01:09] esolix commented on #5536
#5516 #5519 same issues reported - was refered to #5511

[2017-01-13 01:14] geekgonecrazy commented on #5511
@rodrigok just a heads up

Looks like we have two seperate issues going on.  Both related to oauth.  #5516 / #5519 that were referred here both have a `Exception while invoking method 'login'`.

This one seems to be related just to the redirect URI.

Going to keep #5536 open to track this second issue and refer the other two there.

[2017-01-13 01:16] geekgonecrazy commented on #5519
Going to go ahead and keep #5536 as to tracking this specific issue, as #5511 seems to be redirect URI.

[2017-01-13 01:16] geekgonecrazy commented on #5516
Going to go ahead and keep #5536 as to tracking this specific issue, as #5511 seems to be redirect URI.

[2017-01-13 01:17] geekgonecrazy commented on #5536
@esolix thanks for pointing that out.  Yeah actually 2 different errors. :smile: Might be able to be consolidated i'm not sure

[2017-01-13 01:26] geekgonecrazy commented on #5536
@rodrigok on this one i've tried removing the Google oauth, rebooting and then re-adding.  Thought maybe it was a migration gone bad.  But didn't work.  Verified on several hosts if you need one ping me, let me know and I can give you credentials to login and poke around.

[2017-01-13 01:35] geekgonecrazy commented on #5441
@mbcote1111 unfortunately this one did not get resolved in time for this new release.  I would suggest how ever checking out the open in new window feature.

Goto: Admin->Video Conference
![image](https://cloud.githubusercontent.com/assets/51996/21915239/2bd1b812-d8fe-11e6-9462-d446f14a904b.png)

Toggle this to True.  Now when you click it, it'll just pop it out into a new window.  We'll get this

[2017-01-13 01:45] geekgonecrazy commented on #5441
@karlprieb Just an extra visual to show the problem in a different stage:
![image](https://cloud.githubusercontent.com/assets/51996/21915465/980f9782-d8ff-11e6-93a6-e8edc187a476.png)

[2017-01-13 01:57] IQ2022 opened #5543 "SMTP doesnt send emails (provider BLUEHOST)"
Your Rocket.Chat version: (0.49.0)

i have setup SMTP using bluehost information, however no email notification ?? can you please help with the setup??
this has worked before..

![image](https://cloud.githubusercontent.com/assets/12454319/21915705/bcd3d7ea-d909-11e6-9b73-3c6000f1eae4.png)

[2017-01-13 02:07] geekgonecrazy opened #5544 "Favicon lost after update to 0.49.0"
Your Rocket.Chat version: 0.49.0

Guessing this is a migration issue?

[2017-01-13 02:09] geekgonecrazy commented on #5543
This doesn't seem to be all SMTP as our demo server still works.  But i've verified in his case the information is valid.  Also worked just prior to the update when on 0.48.1

[2017-01-13 03:03] IQ2022 opened #5545 "unable to log in via mobile"
okay this is probably related to SSO, as am not able to login with google/facebook ..
issue:
using RC IOS app to login to my server (which was previously logged in),  click update to new version - > new files get updated> then it try to login to rooms - nothing happen but the 3 dots of waiting ...
unable to use double finger swap to change server ..

i am still getting phone notifications.. - whic

[2017-01-13 03:18] IQ2022 opened #5546 "ability for an admin to assign email notifications for users"
Can an admin or moderator, assign email notifications to users for a specific channel?
this could good to apply to an individual user or all users..
Your Rocket.Chat version: (49.01)

[2017-01-13 03:20] spathare21 commented on #2422
+1

[2017-01-13 03:25] karlprieb commented on #5544
@geekgonecrazy Which favicon? We have a lot of options in the admin. Thanks!

[2017-01-13 03:32] IQ2022 commented on #5544
assuming any, it was fine in all previous upgrades that i have done, this last one did something different.. this is what i have now..

![image](https://cloud.githubusercontent.com/assets/12454319/21917599/f1975436-d916-11e6-9722-f12c28062c01.png)

i will be happy if you guide me somewhere to create better looking favicon :)

[2017-01-13 03:39] zorenleo opened #5547 "Missing Direct Messages in Admin Livechat Manager"
Rocket.Chat version: (0.49.0)
Missing direct messages in admin livechat manager when selecting the `Current Chats` menu then selecting one of message in the lists.
<img src="https://i.imgsafe.org/849baaadc2.png" alt="Mountain View" style="width:304px;height:228px;">

[2017-01-13 03:45] karlprieb commented on #5544
Hey @IQ2022 thanks for your feedback 😄  👍

We removed several favicon sizes (precisely 64x64, 96x96, 128x128 and 256x256) and we added another sizes and iOS/Android specific images.

So your Assets page should have these options:
- logo (svg, png, jpg)
- favicon (ico)
- favicon (svg)
- favicon 16x16 (png)
- favicon 32x32 (png)
- android-chrome 192x192 (png)
- android-chrome 512x512 (png)
- apple-t

[2017-01-13 03:51] geekgonecrazy commented on #5544
@karlprieb I'm not sure which is shown in the tab in chrome.  But for example https://rocket.ubuntu.com had their favicon and then when snap auto updated it reverted to the Rocket.Chat favicon

[2017-01-13 03:52] IQ2022 opened #5548 "selecting from tools over right some of the message"
When you click the setting wheel to edit or use one of the options, it goes over the text.

NOTE This issue only with Direct Messages, it seems to be fine in general Channel...!!!!!!!!!
![image](https://cloud.githubusercontent.com/assets/12454319/21917921/c18cfba8-d919-11e6-86ab-e4446af793ef.png)

Your Rocket.Chat version: (49.0)

[2017-01-13 03:52] johnlund commented on #5542
I'm having this same issue (`Not migrating, control is locked.`) with a snap on Ubuntu 16 starting about 3 hours ago. I'm getting a 502 Bad Gateway on the home page.

[2017-01-13 03:59] karlprieb commented on #5544
@geekgonecrazy I know.
After upgrade you will need to upload 16x16 and 32x32 favicons.
Now ico favicon is used as fallback to png.

[2017-01-13 04:02] geekgonecrazy commented on #5544
@karlprieb OK cool!  I'll go ahead and close this since this is expected. 👍

[2017-01-13 04:05] karlprieb commented on #5544
@geekgonecrazy Thanks! Maybe we just need to make this information more explicit in 0.49.0 changelog.

[2017-01-13 04:07] karlprieb commented on #5539
We fixed this bug here #5395

![image](https://cloud.githubusercontent.com/assets/9200155/21918058/1b2a6258-d934-11e6-818d-8a40af9dbd3d.png)

Its working in develop branch.
Can you build develop branch and test?

Thanks!

[2017-01-13 04:09] karlprieb commented on #5548
Thanks for your report @IQ2022 👍

Im fixing this right now!

[2017-01-13 04:28] IQ2022 commented on #5544
okay thanks, any app u recommend to create favicon?

[2017-01-13 04:29] IQ2022 commented on #5544
wait they are all PNG so what is the issue?

[2017-01-13 04:29] IQ2022 commented on #5548
no problem ...:)

[2017-01-13 04:33] karlprieb commented on #5544
No, they are PNG, SVG and ICO.

I believe that [realfavicongenerator](https://realfavicongenerator.net/) is one of the best favicon generators.

[2017-01-13 04:41] Nemra1 commented on #5518
[0-9a-zA-Z-_.-ي-ا]+
![2017-01-13_064018](https://cloud.githubusercontent.com/assets/22897987/21918578/55648846-d95b-11e6-8c48-7440c5e047c7.png)

[2017-01-13 04:44] eirua commented on #4154
Hey no worries. I never did get an invite or a discussion about it. Still interested.

[2017-01-13 04:45] IQ2022 commented on #5544
thank you,.. yes thats a great one :)...

however it seems not workign still i loaded the ones you suggested - not all of them.. which one for the chrome browser?

![image](https://cloud.githubusercontent.com/assets/12454319/21918625/2c4594e4-d921-11e6-92cf-6efa7fedf3dd.png)

[2017-01-13 04:55] karlprieb commented on #5544
Which favicon is chrome loading?

Chrome should load 16x16 or 32x32 png.

Can you open chrome devtools in network tab, reload and search for favicon and post the results?
Like this:
![image](https://cloud.githubusercontent.com/assets/9200155/21918739/b80c3a54-d93b-11e6-9a34-b08593e7ea8c.png)

[2017-01-13 05:00] IQ2022 commented on #5544
![image](https://cloud.githubusercontent.com/assets/12454319/21918818/4894b6dc-d923-11e6-97ee-fb8c64d06bf9.png)

[2017-01-13 05:06] karlprieb commented on #5544
Ok, can you do a force reload (ctrl + F5 or cmd + shift + R). It can be a cache problem.

[2017-01-13 05:09] IQ2022 commented on #5544
same thing nothing happened

[2017-01-13 05:29] karlprieb commented on #5544
We tried to clear the server and browser cache and didn't work, so I will reopen this issue to keep tracking of it.

[2017-01-13 07:36] KervyN commented on #5545
I can confirm this issue.
iPhone SE
iOS 10.2

[2017-01-13 07:45] KervyN opened #5551 "Unable to scroll upwards on iOS devices"
Your Rocket.Chat version: 0.49.0

We have the issue that we can not scroll upwards on iPhones (tested with iPhone SE 10.2, iPhone 7 10.2).
You need to hold the screen, scroll some pixels downwards and then you are able to scroll upwards.

[2017-01-13 07:57] forkless commented on #5542
Having the same issue as well, after unlocking the db in mongo I will get the follow error in journal

cannot read property 'username' of undefined

and db locked at version 76, target version 79

[2017-01-13 08:26] arty-name commented on #5544
Should I open a separate issue for "Firefox shows low-res favicon despite SVG being provided"?

[2017-01-13 08:57] admin-crowd-iugo commented on #5293
we have upgraded to 0.49 and hit the image refresh button. Looks like some assets disappeared but we can reupload them. The infinite updating loop is gone in the mobile apps but it still logs the user out with invalid user message after the user quits the app and restarts it. good progress, 90% there. hopefully the next version will fix it completely and allow the user to stay logged in after clos

[2017-01-13 08:58] admin-crowd-iugo commented on #5293
i should add the invalid user message also appears on the rocketchat desktop windows client as well now.

[2017-01-13 09:09] fcoppolani commented on #5376
@engelgabriel I tried out the 0.49.0 today and it is still the same.

[2017-01-13 09:10] mmarif4u opened #5552 "SSO logins broken once again with 0.49 update"
Your Rocket.Chat version: 0.49.0

We are using SSO with our own hosted GitLab instance and once again logins are broken. It happened with 0.48.x and fixed in 0.48.2 and now again broken in 0.49.0.

Here is the access log error :

`[34mI20170113-17:02:34.311(8) Exception while invoking method 'login' TypeError: fun is not a function   at Resultset.find (/snap/rocketchat-server/385/programs/server/n

[2017-01-13 09:51] MichalStaruch commented on #4650
@attritionorg How about adding [CSP](https://en.wikipedia.org/wiki/Content_Security_Policy) header to block inline scripting? Something like
`Content-Security-Policy: default-src 'self'`
or
`Content-Security-Policy: script-src 'self'; object-src 'none'`
for a starter - it would improve Rocket.Chat security a lot.

[2017-01-13 10:10] danpospisil opened #5553 "Outgoing integrations stopped working in all_direct_messages since 0.49"
Your Rocket.Chat version: 0.49

We use Giphy integration (https://rocket.chat/docs/administrator-guides/integrations/giphy) with following Channel settings:
all_public_channels,all_private_groups,all_direct_messages

It works for public channels, private groups but since 0.49 it doesn't work for direct messages.

[2017-01-13 10:29] maxdwit commented on #3196
still an issue in Version 0.49:
Guest User role ( no permission set at all )
can see all non private channels / can join all non private channels

[2017-01-13 10:38] DalePayman opened #5554 "Direct-Download from Client"
Your Rocket.Chat version: 0.46.0

First thank you for adding further of my feature-requests to rocketchat!
See:
https://github.com/RocketChat/Rocket.Chat/issues/5141
https://github.com/RocketChat/Rocket.Chat/issues/5124

In the chatclient is another bug:
You can't download a shared file directly from the client - he try's to open a new browser window/tab and will download the file there.
In some c

[2017-01-13 10:42] DalePayman opened #5555 "Pack unsupportet Filetypes for sharing"
Your Rocket.Chat version: 0.46.0

Hi There!

Some useful filetypes do have no support for sharing them within rocketchat...
For example:
xlsx
pptx
or "Apple" Files for keynotes etc.

Can you support those types?
If you can't / you won't maybe another idea:
pack them! If someone want's to share a file with an unsupportet filetype the server can pack it (zip) and it's downloadable...

Thanks!

[2017-01-13 11:21] jszaszvari commented on #5441
@geekgonecrazy  - Is that 'Always open in new window' a feature of the upcoming 49.0 release?

That would be super helpful for us as we really want to use jitsi, But I cant see it in ours (Running 48.2)

Thanks 👍

[2017-01-13 12:02] rodrigok commented on #5536
@geekgonecrazy I can't reproduce this error locally. Can you help me?

[2017-01-13 12:09] sampaiodiego commented on #5441
guys since https://github.com/RocketChat/Rocket.Chat/pull/5394 was merged, the bug should be fixed.

[2017-01-13 12:12] maxdwit opened #5556 "Roles are ignored when creating new users via admin"
rocket.chat Version used: snap package / ubuntu 16.04:
rocketchat-server  0.49.0   385  rocketchat  -
Your Rocket.Chat version: 0.49

The default "guest" role without any permission enabled, lacks a few security related things.
(Not a single option in the permission role "guest" has been set.)

We need to have a "guest" role, that is  permitted
 - to login
 - to be invited to a channel and/or priv

[2017-01-13 12:13] mbcote1111 commented on #5441
So if we upgrade to 0.49 it should be fixed?

On Jan 13, 2017 8:10 AM, "Diego Sampaio" <notifications@github.com> wrote:

[2017-01-13 12:14] sampaiodiego commented on #5441
@mbcote1111 no. #5394 fix is only on `develop` branch

[2017-01-13 12:15] #5548 closed

[2017-01-13 12:21] engelgabriel commented on #5426
We are working on a 0.49.1 version now.

[2017-01-13 12:23] #5515 closed

[2017-01-13 12:27] IQ2022 commented on #5536
i have this issue on my instance.. it has worked perfectly until i upgraded from 48.1

[2017-01-13 12:28] engelgabriel commented on #5555
Hi, you can configure the file type on the admin panel:

Administration -> Uploads -> Accepted Media Types -> File Upload

[2017-01-13 12:28] #5555 closed

[2017-01-13 12:32] engelgabriel commented on #5536
@IQ2022 what is the URL for us to test?

[2017-01-13 12:37] IQ2022 opened #5557 "ability to roll back"
I have been using rocket chat pretty much from the beginning - i think from version 0.06 or so, and have been upgrading every time there is a new version with ability to go back, I think there should be an ability to roll back safely even if there is a major change, i find it hard to believe that I can't roll back, easily this time... :(
 Your Rocket.Chat version: (0.49.0)

[2017-01-13 12:38] IQ2022 commented on #5556
just create a new roll "name it member" give it the current users (default) roles, then modify users roles to basic.. sorry i dont know if i understood your question..

[2017-01-13 12:43] engelgabriel commented on #5543
Any error on the logs?

[2017-01-13 12:44] engelgabriel commented on #5544
@arty-name I think it is related, so post the info here.

[2017-01-13 12:44] IQ2022 commented on #5536
i will private message it to you..

[2017-01-13 12:48] engelgabriel commented on #5551
Can you test on the demo server? I think we have already fixed it. If it work on the demo server, we will include the fix on the 0.49.1 release.

[2017-01-13 12:54] KervyN commented on #5551
Looks good on the demo server.

[2017-01-13 12:55] engelgabriel commented on #5551
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/5531

[2017-01-13 12:55] #5551 closed

[2017-01-13 12:58] engelgabriel commented on #3843
This was fixed long time ago :)

Also improved by #5531

[2017-01-13 12:58] #3843 closed

[2017-01-13 12:59] engelgabriel commented on #485
@karlprieb please verify if the problem still exists?

[2017-01-13 13:00] engelgabriel commented on #2278
@karlprieb is already working on this.

[2017-01-13 13:02] sampaiodiego commented on #5547
I'm unable to reproduce it.

@zorenleo can you provide us more details?

- can you send a print with the URL included?
- what are the user's roles? is he admin or just a livechat manager?
- is there any errors on the browser console?

[2017-01-13 13:02] Molle500 commented on #2278
@engelgabriel now you got 2 of the same issue on 0.50 maybe close one of them? :)
#5123

[2017-01-13 13:02] IQ2022 commented on #5536
I should also add that Twitter still works, two that have failed google and facebook.. oddly enough facebook worked only once with a first time registration, then was unable to login again..

[2017-01-13 13:04] IQ2022 commented on #5536
can we please put some work on this one asap, i think we will have many users will be locked out..  am sure this is not just impacting my instance.. a lot of users use SSO for ease of sign up..

[2017-01-13 13:20] arty-name commented on #5544
Even when logged out, Firefox on a HiDPI system does not request svg and instead requests `favicon-16x16.png`, while HTML contains following:

[code]

[2017-01-13 13:34] engelgabriel commented on #5123
closed in favor of https://github.com/RocketChat/Rocket.Chat/issues/2278

[2017-01-13 13:34] #5123 closed

[2017-01-13 13:42] exceed73 commented on #5547
Same problem here, no problem with the functionnality before 0.49:

- url type is : https://chat.domain.tld/live/25
- Some of them (I found 1 old discussion) are OK, but most are not.
- User is admin and livechat manager (tried to remove and  add role, same issue)
- Another user with same credentials (admin rocket + livechat) has no problem
- No error in console

I tried
- to modify root url in co

[2017-01-13 13:50] engelgabriel commented on #5554
We have fixed a few of those problem with download on the lates versions. Can you please try with our demo server an let us know if the problem you are talking about persists?

[2017-01-13 13:55] engelgabriel commented on #5540
@steven-tib do you want to join our translation team? We use Lingohub.com

[2017-01-13 14:01] steven-tib commented on #5540
Sure if I can help!
I've just created an account with this same username (steven-tib) waiting for your invite.

[2017-01-13 14:09] negrusti commented on #5542
Having the same issue

[2017-01-13 14:09] engelgabriel commented on #5557
Indeed. We should work on that.

[2017-01-13 14:11] Perksls commented on #5536
just adding that my custom oAuth also stopped working with the same error #5519

[2017-01-13 14:12] engelgabriel commented on #5518
Maybe we should add some more indo on the description

[2017-01-13 14:16] engelgabriel commented on #5540
I think I need you  email

![image](https://cloud.githubusercontent.com/assets/1000217/21932905/0c32de64-d98a-11e6-80c0-107bc2e4ae6b.png)

[2017-01-13 14:19] IQ2022 commented on #5557
thank you Gabriel 👍 you got the best team !!

[2017-01-13 14:19] mddvul22 opened #5558 "Missing/Hidden Direct Messages in 0.49"
Your Rocket.Chat version: 0.49

We upgraded from 0.48.2 to 0.49 yesterday morning in our company.  It didn't take long before we started receiving reports of people not seeing direct messages.  The reports were all the same: their client (both desktop clients and browsers) would notify them of a new direct message, but the message wouldn't be there.  It was almost as if the message was hidden.  Lo

[2017-01-13 14:21] engelgabriel commented on #5558
We believe we have a issue with the new version of the cache engine. We are working on that now.

[2017-01-13 14:22] engelgabriel commented on #5540
Invitation sent :) Please fix the translation there.

[2017-01-13 14:22] #5540 closed

[2017-01-13 14:23] steven-tib commented on #5540
thanks, I will do that now.

[2017-01-13 14:25] engelgabriel commented on #5556
@marceloschmidt can you please test this?

[2017-01-13 14:29] engelgabriel commented on #5556
What you described was the idea for the guest user indeed.

- only talk when invited to channels or private conversations
- can't join any other channel on their own without invite
- is per default not assigned to any channel

[2017-01-13 14:32] engelgabriel commented on #5520
We will turn that into a howto in our doc.

[2017-01-13 14:32] #5520 closed

[2017-01-13 14:32] Molle500 opened #5559 "Emoji titles translation not working"
Your Rocket.Chat version: (0.49)
![bsehartgsmpoab6tg](https://cloud.githubusercontent.com/assets/17712562/21933433/b00c9082-d9a5-11e6-857d-4ddbbfeb59e9.png)

![image](https://cloud.githubusercontent.com/assets/17712562/21933438/b383b98e-d9a5-11e6-89ff-95a29150d938.png)

[2017-01-13 14:37] engelgabriel commented on #5517
Can you give as a link to your test environment?

[2017-01-13 14:50] engelgabriel commented on #5512
can you share your configuration and URL with our team privately so we can investigate?

[2017-01-13 14:56] engelgabriel commented on #5556
The permissions are right, the problem seems to be that it is ignoring the ROLES when creating new users via admin.

[2017-01-13 14:59] exceed73 commented on #5547
Precision: it seems to be an ACL problem if liveChat admin is also liveChat operator.
In my case, we are 2 livechat admin **and** operator.
I can't see chats opened by my friend, and he can't see mine.

[2017-01-13 15:04] MartinSchoeler commented on #5556
@maxdwit for now you can remove the users permission from these guest users and add them to the guest permissions, you can add and remove users from a role by clicking in the role name
![selection_019](https://cloud.githubusercontent.com/assets/20868078/21934511/cbd4a062-d990-11e6-9da4-3d0454cf57ae.png)
![selection_020](https://cloud.githubusercontent.com/assets/20868078/21934515/cfbbf3ba-d990-11e

[2017-01-13 15:06] IQ2022 opened #5562 "Users when log out, they still show under online"
I noticed when user logout, their name come to the bottom of the online list and then once i refresh page they disappear..

Your Rocket.Chat version: (0.49.0)
![image](https://cloud.githubusercontent.com/assets/12454319/21934590/f725e442-d977-11e6-9d96-e267213664a0.png)

[2017-01-13 15:10] adeviadoug commented on #5536
fwiw, I submitted this ticket because our users are now locked out if they logout from their instance.

[2017-01-13 15:18] IQ2022 commented on #5536
its bad i know.. :( sorry

[2017-01-13 15:25] engelgabriel opened #5563 "Send image preview as small base64 50x50 pictures embedded on the msg object"
Refs:

https://code.facebook.com/posts/991252547593574/the-technology-behind-preview-photos/

[2017-01-13 15:35] DalePayman commented on #5554
Hey @engelgabriel,

yep, it's working! The client itself serves a download-window.
Perfect! Thx!

[2017-01-13 15:38] IQ2022 opened #5564 "Jump to New message"
after you search and go to older messages from archive, hitting "jump to new message" doesnt do the job..

Your Rocket.Chat version: (0.49.0)

[2017-01-13 15:40] engelgabriel commented on #5562
We must also update the list with the join channel message so it shows the new users when they join

[2017-01-13 15:43] admin-crowd-iugo commented on #5293
Here is the debug log when i relaunch the windows app -
rocketchat_lib rocketchat_lib.js:1046 Meteor ➔ publish null -> userId: null , arguments:  {}
rocketchat_lib rocketchat_lib.js:1046 Meteor ➔ publish stream-notify-user -> userId: null , arguments:  { '0': '4KwzfgfFnJocsMLET/message', '1': false }
rocketchat_lib rocketchat_lib.js:1046 Meteor ➔ publish roles -> userId: null , arguments:  {}
rock

[2017-01-13 15:45] #5554 closed

[2017-01-13 15:55] TheReal1604 commented on #5010
Also happens on 0.49.0 - that is really UGLY.

[2017-01-13 15:56] IQ2022 commented on #5558
how did you downgrade?

[2017-01-13 16:02] DalePayman commented on #5555
@engelgabriel
Thanks for your Support but...

If i clean the List(should enable share of ANY type) i can't share eg XMLX
a window will show up, it says:

if i append
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
to allowed mediatypes it doesn't work...

[2017-01-13 16:04] mddvul22 commented on #5558
@IQ2022

1. Shutdown all Rocket.Chat instances.
2. Access mongoDB directly, open the migrations collection and changed the version of the control record to version as it was in 0.48.2.  In this particular case, the command to update the collection was:
`db.migrations.update({"version":79},{"version":71.1})`
4. Move Rocket.Chat directory to Rocket.Chat.0.49
5. Move Rocket.Chat.0.48.2 to Rocket.Chat

[2017-01-13 16:06] sampaiodiego commented on #5547
thanks @exceed73 .. I'm able to reproduce it now..

the problem is you cannot see livechat rooms from another livechat agent.

[2017-01-13 17:05] engelgabriel commented on #5542
@kentonv can you give us access to a instance currently having this problem? It would help to speedup the fix.

[2017-01-13 17:16] IQ2022 opened #5566 "Jitsi fails on 49.0"
it was working prior upgrades, now jitsi got issue with recognizing camera and desktop sharing..

Your Rocket.Chat version: (49.0)

[2017-01-13 17:19] rodrigok commented on #5552
Duplicated of #5536

[2017-01-13 17:19] #5552 closed

[2017-01-13 17:37] rodrigok commented on #5542
I guess the error was here https://github.com/RocketChat/Rocket.Chat/blob/develop/server/startup/migrations/v077.js#L16

Trying to use some user that was not found.

Can someone find the exception when the migration was locked at the first time?

[2017-01-13 17:38] rodrigok commented on #5542
@kentonv @johnlund @forkless @negrusti are you guys using the `livechat` feature?

[2017-01-13 17:56] #5536 closed

[2017-01-13 17:59] #5547 closed

[2017-01-13 18:13] jy2008 opened #5569 "Does new version change with the view of video chat; Is Ubuntu 14 preferred over 16 for RC?"
I am using RC v 0.42 and i am iframe RC in other website. so the window is smaller, then when i do video chat, there is a big blank space on the right of video chat window and window is blocked partially. Is the newer version still the same in terms of this feature?

I followed tutorial on Digital Ocean on how to deploy RC on Ubuntu 14. Is there a tutorial for deploying RC on Ubuntu 16? is Ubuntu

[2017-01-13 18:36] negrusti commented on #5542
Yes, we were using livechat. Unfortunately can't test anything anymore - had to start with clean database

[2017-01-13 18:42] Flickster42490 commented on #2422
+1

[2017-01-13 18:46] engelgabriel commented on #5542
@sampaiodiego can/should we test for the existence of username on that migration?

[2017-01-13 18:54] karlprieb commented on #5530
Hey @dwrensha I tried version 0.49 on sandstorm and couldn't reproduce this bug, can you post the build log from the broked grain?

Thanks 😄

[2017-01-13 18:56] #5544 closed

[2017-01-13 18:57] engelgabriel commented on #5544
@IQ2022 @arty-name can you please try the develop branch?

[2017-01-13 19:01] johnlund commented on #5542
@rodrigok Yes, we're also using Livechat.

[2017-01-13 19:08] ygini opened #5570 "Support for name as SAML claim"
Your Rocket.Chat version: 0.49.0

When using SAML authentication, it could be interesting to grab name from SAML claim info.

At this time, email is grabbed from the claim and both name AND username are set to cn or username claim field.

Having the opportunity to set a proper display name as name with SAML could be a great improvement.

[2017-01-13 19:13] ygini opened #5571 "User profile from SSO must not have password change option"
Your Rocket.Chat version: 0.49.0

Using SAML as user authentication source, user profile are created and presented as local profile.

This mean user is able to change the password and admin to reset it.

And when they do this, username + new password work at login time as local user, bypassing all security feature linked to SAML.

[2017-01-13 19:31] admin-crowd-iugo opened #5572 "Database broken with 0.49"
Your Rocket.Chat version: (make sure you are running the latest)
0.49

We upgraded last night and this morning we had tons of missing/lost messages. Tried to revert to 0.48.2 and rocket chat failed to come up saying database was locked. tried clearing lock manually by setting variable from mongo directly but it kept locking and not coming up. we are running mongo 3.2 with nodejs 4.7 and 7 node ins

[2017-01-13 19:32] IQ2022 commented on #5543
No error logs, email simply stopped working.. am using now 1and1 hosting email from a friend.. not sure why bluehost got the issue. now/ ??

[2017-01-13 19:36] lucasvanhalst commented on #5557
Docker is your friend in this case... upgrading/downgrading is just changing a version number in a file. But that would leave the database locked though in case the newer version had a migration so it's not exactly flawless

[2017-01-13 19:38] admin-crowd-iugo commented on #5293
we lost around 500+ messages reverting back to 0.48.2.
0.49 is very buggy.

[2017-01-13 20:05] wandonye opened #5573 "Stream "notify-room-users" is missing in the document"
Your Rocket.Chat version: (48.2)

The document mentioned 4 streams:
stream-notify-all
stream-notify-user
stream-notify-room
stream-room-messages

I found 'notify-room-users' used [here](https://github.com/RocketChat/Rocket.Chat/blob/9de71af4b44a204d607f272c7eefd63116b5f88d/packages/rocketchat-lib/client/Notifications.coffee), but is not mentioned at all.
Does it function the same way as the above

[2017-01-13 20:12] wandonye commented on #5410
@engelgabriel Yes, that will solve the problem. Then I can wrap an Image/Video/etc component with the api/method and pass the redirected URL to the Image/Video/etc component. With this approach, an s3_url property for Message class is not needed. I can cache the media file locally and only invoke the redirecting api when local cached file is not available.

[2017-01-13 20:13] wandonye commented on #5410
Meteor method will be better since it is faster than REST api.

[2017-01-13 20:30] AlecTroemel commented on #4898
When it is the closing time, it simply switches all livechat agents to `Not available`. Agents can still set themselves to available again after leaving office hours. It is more like a safeguard against people leaving the office with chat still up.. Perhaps a stronger setting of office hours could be created always show the offline chat form when out of office hours.

[2017-01-13 21:38] geekgonecrazy commented on #5441
I believe will be in 0.49.1 though.  Which won't be too long

[2017-01-13 21:41] mbcote1111 commented on #5441
Seems to be working in open in new window mode which is great in 0.49.0

On Jan 13, 2017 5:38 PM, "Aaron Ogle" <notifications@github.com> wrote:

[2017-01-13 22:45] Jannibal commented on #5545
I can confirm the issue, as well as the fix @KervyN suggested. Worked for both Android and iOS

[2017-01-13 23:04] geekgonecrazy commented on #5566
Is there actually an issue with the camera working?  Or is the UI messed up?  Screenshots please?  Because I've seen the UI messed up.  But still starts camera and remote end can still see me

[2017-01-13 23:07] geekgonecrazy commented on #5557
I think code wise in most cases is easy enough to roll back.  But the issue here is schema changes during DB migrations.  So if you roll back you introduce bugs into your system because fields have changed in the DB.

[2017-01-13 23:09] jaschadub commented on #865
In 0.46.0 release this functionality seems to not be working.

[2017-01-13 23:10] geekgonecrazy commented on #5573
Which document did you find these in? Check out our real time documentation: https://rocket.chat/docs

[2017-01-13 23:14] arty-name commented on #5544
I can’t unfortunately, I am not an administrator of the server.

[2017-01-13 23:15] dwrensha commented on #5530
Here is a grain log from a run where the problem occurred:
[code]

As far as I can tell, it is indistinguishable from logs where the problem does not occur.

[2017-01-13 23:31] #5542 closed

[2017-01-13 23:33] rodrigok commented on #5542
Sorry for that guys.

I did the fix on develop branch now, we will ship the solution within release 49.1 ASAP.

You can unlock your database if you have access to it using:
[code]

[2017-01-13 23:38] rodrigok commented on #5541
@kentonv can you check the logs to find the exception that was thrown when migration was locked?

[2017-01-13 23:40] rodrigok commented on #5530
@dwrensha What happens when you refresh the browser?

[2017-01-14 00:07] rodrigok commented on #5553
@danpospisil Was it working for direct messages before?

Can you show me an example? How replies the message?

[2017-01-14 00:10] rodrigok commented on #5553
It works for me if I'm talking with the user who was set to reply or for all direct messages if I set `Impersonate User: true` in integration options to post the gif with the username of the user who called.

[2017-01-14 00:14] kentonv commented on #5541
@rodrigok Which logs? I'm only aware of the log I pasted above, which is what is printed to stdout/stderr.

[2017-01-14 00:18] kentonv commented on #5541
@rodrigok Maybe e1992152ebdd30238db06d9cb83896fb664cde82 fixes this problem?

[2017-01-14 00:22] kentonv commented on #5542
@rodrigok It looks like you fixed #5541 -- the migration failing. Thanks!

But this issue, #5542, is about what happens after a migration fails. On Sandstorm, users can't easily log into a Mongo shell to unlock their database -- and as Sandstorm is designed for non-technical users, we'd prefer that they not have to. Why does Rocket.Chat "lock" the database like this at all? Wouldn't it be better f

[2017-01-14 00:57] engelgabriel commented on #5573
@rodrigok do we need to update the docs?

[2017-01-14 00:57] engelgabriel commented on #5503
Did it work @hussamEddinAlhendi ?

[2017-01-14 00:59] engelgabriel commented on #5506
That can be interesting.. can you describe the use case better so we can suggest the best approach?

[2017-01-14 01:00] engelgabriel commented on #5570
Can you help we develop this?

[2017-01-14 01:02] engelgabriel commented on #5571
@rodrigok do we have a setting to disable password change for SAML, LDAP, etc users?

[2017-01-14 01:08] engelgabriel commented on #5467
@graywolf336 I understand @naguchennai use case. Indeed any REST client that allows for registration would need such API, so lets wrap the Method into a REST API like the others?

[2017-01-14 01:09] engelgabriel commented on #5468
@rodrigok can you help @laggedHero with this one? I was a bit lost when I tried to debug this.

[2017-01-14 01:11] engelgabriel commented on #5482
@stefanandres why is this a issue?  Is the "\" expected? Seems like the parser don't need/expect it.

[2017-01-14 01:43] wandonye commented on #5573
@geekgonecrazy The streams were mentioned in [the real time documentation](https://rocket.chat/docs/developer-guides/realtime-api/subscriptions).

[2017-01-14 03:02] kentonv commented on #1352
It looks like the app works! (Tested on Android.)

Here's what to do:

1. On your phone **in a browser** open Sandstorm and open the Rocket.Chat grain.
2. Open the hamburger menu (upper-left) and choose "Get Webkey". (On the desktop view, you would click the key icon in the topbar.)
3. Optionally enter a label (e.g. "phone") and then click "create".
4. You'll be presented with a URL, aka a "webkey

[2017-01-14 03:40] kentonv commented on #5541
Looks like this is still broken in 0.49.1, which includes e1992152ebdd30238db06d9cb83896fb664cde82. :(

[2017-01-14 03:41] dwrensha commented on #5530
Refreshing the page makes the problem go away.

[2017-01-14 03:42] dwrensha commented on #5530
I just now managed to reproduce this on v0.49.1. It took me upwards of 15 tries to get it to happen, so maybe it's more rare than I had originally feared.

[2017-01-14 03:57] memento commented on #1352
Epic
You're a hero

[2017-01-14 04:15] johnlund commented on #5542
Agreed. Ubuntu Snaps are not easy to get into the backend of. My snap isn't refreshing to 49.1 either. Not sure if it has been pushed to the Snap server or not. Thanks for the quick response!

[2017-01-14 05:31] bleomycin commented on #5413
@laggedHero sure same channel is fine as long as that behavior also applies to direct messages? I spend an awful lot of time in direct messages as opposed to public channels.

[2017-01-14 07:21] madhusudan commented on #2327
+1, this feature is required.. has anyone succeeded with this type redirect..?

[2017-01-14 07:33] jszaszvari commented on #5557
@lucasvanhalst  - Agreed.

You should be backing the database up anyway before a upgrade.

Just as with any database update/migration you should be taking a full backup before hand.

The "Ability to roll back" should be you maintaining proper backups.

[2017-01-14 07:45] ygini commented on #5571
I the global setting I've disabled the password change option (but this mean I can't have both local users and SSO provided one [usecase: SSO for employee, local account for external users]).

This seems to block the password change for the end user, even the password change field is still available and say the password change is OK.

But this does not block the password reset for the admin.

Rega

[2017-01-14 07:46] ygini commented on #5571
Small note, I use SAML and you tagged the issue related to SAML auth, but this apply to all kind of SSO.

[2017-01-14 08:00] ygini commented on #5570
Of course. In SAML you've a claim system that allow you to set user's infos in the consuming service.

In Rock.Chat+ user profile are made with name, username, e-mail, avatar and password.

When you use SAML, password is not needed (and never known), but other fields can be provided by the SAML server.

So IT team can set the SAML server to fill the name with de display name of the directory user,

[2017-01-14 11:19] Perksls commented on #5571
That's true, but this has an advantage, for instance i have login form disabled, and when I updated to 0.49.0 the SSO broke, but my users were still capable of login trough console with Meteor.LoginWithPassword() with a generic password I've set them, then they changed it. Other advantage it's that The upcoming android app doesn't have SSO to custom oAuth, but the users can still login with it usi

[2017-01-14 11:37] rodrigok commented on #5558
@mddvul22 Are you running multiple instances of RocketChat? Are you using mongodb with replicaset enabled?

[2017-01-14 11:52] rodrigok commented on #5541
@kentonv Yeap, that was a fix for another issue with migrations.
I submitted a [new PR](https://github.com/RocketChat/Rocket.Chat/pull/5575) with a fix for this issue

[2017-01-14 12:07] ygini commented on #5571
@Perksls I'm sorry for you but what you describe isn't SSO, you use a bug as a feature and should really find an other way. Any other service without this implementation error won't allow you to work that way.

Also, SSO (and more over SAML/OAuth) is made for high level security. Third part service never get access to end user password, plus any third part service can be really secure with two fac

[2017-01-14 12:29] Perksls commented on #5571
I know you're right, but that's why I was asking to make it a setting, like under custom oauth a setting to allow user set a local password. Unfortunately I can't use ldap as the board I'm using to authenticate users against it  doesn't have that feature

[2017-01-14 14:09] IQ2022 commented on #5562
![image](https://cloud.githubusercontent.com/assets/12454319/21955435/316b44f0-da39-11e6-843c-ec55c7c781ea.png)

[2017-01-14 14:15] IQ2022 opened #5576 "Adding Channel go hides logo portion"
When you click on (+) to add channel it hides the logo section..

![image](https://cloud.githubusercontent.com/assets/12454319/21955485/069816b2-da3a-11e6-9e2b-a4ceee1613c1.png)

Your Rocket.Chat version: (49.1)

[2017-01-14 16:40] Abraka commented on #5312
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.0.17: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})
npm ERR! Linux 3.10.0-514.2.2.el7.x86_64
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install"
npm ERR! node v6.9.1
npm ERR!

[2017-01-14 17:12] a-abella opened #5577 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory"
Version 48.1

All I have available to share is the below log output:

[code]

The server has 4GB of RAM/4GB swap and there are currently no active rocketchat users so load shouldn't be high.

[2017-01-14 17:29] engelgabriel commented on #5577
Can you give us some more info?
How many users?
Home many chat process?
Is the MongoDB running on the same machine?
Is the MongoDB running in ReplicaSet mode?
Can you backup your data and try with the version 0.49.1?

[2017-01-14 17:31] engelgabriel commented on #5572
Can you give us some more info?
How many users?
Home many chat process?
Is the MongoDB running on the same machine?
Is the MongoDB running in ReplicaSet mode?
Can you backup your data and try with the version 0.49.1?

[2017-01-14 18:07] a-abella commented on #5577
17 registered users but 0 active--it's in preproduction.
Single process.
Mongodb on same machine, yes.
No replicaset.
I can update but I can't reproduce the crash conditions. It just crashed in the early morning, no one was using it.

[2017-01-14 18:08] graywolf336 opened #5578 "Can't Unarchive Group via Rest API"
Your Rocket.Chat version: 0.49.1

The unarchive group rest api checks if the group is archived and if so, returns out - that doesn't need to happen.

[2017-01-14 18:38] graywolf336 commented on #4154
@eirua We're still working on the REST APIs needed to get this working, which just landed in the latest version so I will resume working on Zapier this week and get you an invite. :+1:

[2017-01-14 19:13] engelgabriel commented on #5577
Can you turn ReplicaSET mode on?Meteor works better with it, in general. It will reduce the amount of CPU and memory used to keep in sync with the DB.

[2017-01-14 19:14] engelgabriel commented on #5530
More rare, but still an issue. We are working on the LESS compilation, so maybe this problem will go away once it is refactored. Let's keep this issue open to track it.

[2017-01-14 19:23] Nemra1 opened #5579 "Side Nav Bug : Big space between Side Nav and main-content v0.49.1"
Your Rocket.Chat version: (0.50.0)
Today i catch this error in all browser
![2017-01-14_211918](https://cloud.githubusercontent.com/assets/22897987/21957479/960b245a-da9f-11e6-8bb3-48454e2b363b.png)
i think this is in css ! any fix?

[2017-01-14 20:04] #5541 closed

[2017-01-14 20:07] engelgabriel commented on #5579
How can we replicate it? Do you have some custom CSS?

[2017-01-14 20:15] jakimfett commented on #4239
I'd be very interested in seeing this work completed. I can't contribute personally, but my company can donate a bit if/when this is completed.

[2017-01-14 20:42] Nemra1 commented on #5579
yup but not contain .side-nav or .main-content class

[2017-01-14 21:14] engelgabriel commented on #5579
We can only help if we see the server... as this is not happening in any other server.

[2017-01-14 21:15] Nemra1 commented on #5579
okey ..how i can give u My Data?

[2017-01-14 22:23] mohamedhagag commented on #5122
still with latest build of docker:
`app.js:471 System ➔ error Error sending push to gateway (4 try) -> { [Error: tunneling socket could not be established, statusCode=302] code: 'ECONNRESET' }`

Any solution ?

[2017-01-14 22:37] hsingfoo commented on #5305
Bump. Webrtc issues are effecting the usefulness of RC massively. Basic 1 on 1 or 1 on n should work flawlessly if RC would make a chance to be a winner in that area.

Is chat working> yes
Is audio working across all platforms> no
Is video working across all platforms > no

No details report required here, simply look at the open bugs and user reports and user experience.

[2017-01-14 23:01] engelgabriel commented on #5579
on the demo server

[2017-01-14 23:08] Nemra1 commented on #5579
Okey im come

[2017-01-14 23:22] engelgabriel commented on #1352
This is awesome! @Sing-Li can you help add this to our Docs?

How could we solve the "clunkyness"? Maybe he the URL with a QR code?

@kentonv can the Rocket.Chat instance on Sandstorm use our own central notification relay?

What is the status on the Desktop app?

[2017-01-14 23:24] engelgabriel commented on #4455
@TheDavidJohnson have you followed the steps from https://github.com/RocketChat/Rocket.Chat/issues/1352#issuecomment-272596874 ?

[2017-01-14 23:29] Sing-Li commented on #1352
Wow - awesome work indeed!!
@engelgabriel   sure - I'll add the instructions to the mobile app page.

[2017-01-15 01:27] jszaszvari commented on #4239
@graywolf336  Sorry I missed your last message on here, If you still need anything I am more than happy to do what I can.

[2017-01-15 01:40] IQ2022 opened #5580 "UI on iphone app is not working properly"
I have iphone 5s, IOS 10.2

![image](https://cloud.githubusercontent.com/assets/12454319/21959578/7ecbbc88-da99-11e6-9b21-b038b2eebb93.png)
![image](https://cloud.githubusercontent.com/assets/12454319/21959583/9a55f734-da99-11e6-959d-7778a32b126f.png)

![image](https://cloud.githubusercontent.com/assets/12454319/21959581/8eeee4d2-da99-11e6-9b27-2829daea7706.png)

Your Rocket.Chat version: (49.1)

[2017-01-15 02:07] johnlund commented on #5572
@engelgabriel, in reference to this issue: https://github.com/RocketChat/Rocket.Chat/issues/5542, my database is still locked and my chat site is still down. I'm using Rocketchat through Ubuntu Snap. 1) 49.1 doesn't appear to have hit the Snap server yet (no updates available using `refresh`), and 2) it's not easy for me to manually access my DB and unlock it on a Snap - will it automatically unlo

[2017-01-15 02:44] geekgonecrazy commented on #5122
@mohamedhagag seems something is wrong with your setup.  I'm not sure what it is.  Like I said before, for sure not an issue with our docker container.  It's being used all over the place and notifications work fine.

Can you try the docker image on another machine on your network?  Maybe with a different operating system?

[2017-01-15 02:54] Nemra1 opened #5581 "user list is very slow after update"
Your Rocket.Chat version: ( latest)
Before update to 49.1 evrything wass fine
after update from 0.44.0 to .0.49
get some issu like this
![2017-01-15_044913](https://cloud.githubusercontent.com/assets/22897987/21959899/7508f18a-dade-11e6-968b-a3ba5d61363e.png)
take from 3 Sec to 5 sec
it wass faster before update ! any way to fix that or back to old version?

[2017-01-15 02:56] Nemra1 commented on #5580
same thing her and more !

[2017-01-15 03:35] a-abella commented on #5577
I've turned ReplicaSet on and updated to latest.

I'll be sure to keep an eye on it and report back if anything happens. The server's been in preproduction for nearly three months without a crash so I don't know what circumstances could have led to this one.

[2017-01-15 04:24] attritionorg commented on #4650
I am not a developer for this project. Just trying to determine if the issue was acknowledged and/or fixed.

[2017-01-15 08:20] kentonv commented on #1352
@engelgabriel Solving the clunkiness is pretty straightforward. We need to add a clickable link somewhere in Rocket.Chat's web UI which will auto-configure the app. So then the process will be:

1. Install the app, but don't open it.
2. In a browser, open Sandstorm, and open the Rocket.Chat grain.
3. Click the magic link, which will be handled by the app.
4. The app opens and auto-configures itsel

[2017-01-15 08:26] kentonv commented on #1352
One possibility is that if the user opens Rocket.Chat in a mobile browser, it could display a full-page interstitial with two options: "Continue in browser", "Open in app".

[2017-01-15 09:12] galrotem1993 commented on #5520
i didn't unerstand how to do that
i am running the app (after i run 'meteor build') on ubuntu 14.04 with the following commang with upstart:
    export MONGO_URL=mongodb://ip
    export ROOT_URL=https://myApp
    export PORT=3000
    exec node Rocket.Chat/main.js

thanks for helping

[2017-01-15 11:03] hussamEddinAlhendi commented on #5503
We are working on other tasks, I will inform you if it is work or not.

[2017-01-15 12:19] mddvul22 commented on #5558
@rodrigok Two instances of rocketchat. Answer to replicaset is: no.

[2017-01-15 13:56] engelgabriel commented on #5580
@IQ2022 @Nemra1 what version of the server are you using now?

[2017-01-15 13:56] engelgabriel commented on #5580
Just seen on the bottom...

[2017-01-15 14:35] IQ2022 commented on #5580
@engelgabriel sorry that was a typo, its 49.1...

[2017-01-15 14:54] hussamEddinAlhendi opened #5582 "error in unarchive private group"
I'm trying to unarchive a group
<img width="726" alt="screen shot 2017-01-15 at 4 51 32 pm" src="https://cloud.githubusercontent.com/assets/19620859/21963431/49c67780-db43-11e6-81f9-3dc5fd4369a1.png">

[2017-01-15 15:06] engelgabriel commented on #5581
@rodrigok maybe we can send the list of users for small channels?

[2017-01-15 15:08] engelgabriel commented on #5572
1) I'll verify why.
2) Yes.

[2017-01-15 15:11] engelgabriel commented on #5572
@geekgonecrazy can you verify why 0.49.1 doesn't appear to have hit the Snap server yet?

[2017-01-15 15:12] engelgabriel commented on #5572
https://travis-ci.org/RocketChat/Rocket.Chat/builds/191813269 completed just fine..

[2017-01-15 15:13] engelgabriel commented on #5572
Hummm...

![image](https://cloud.githubusercontent.com/assets/1000217/21963562/6872e868-db24-11e6-9370-07654f02c5c6.png)

@rodrigok have you changed the password back?

[2017-01-15 15:19] graywolf336 commented on #5582
Duplicate of #5578

[2017-01-15 15:19] #5582 closed

[2017-01-15 15:45] Nemra1 commented on #5581
@rodrigok look at v44.0  more faster

[2017-01-15 18:48] geekgonecrazy commented on #5572
@engelgabriel I'll get it sorted back out.  Manually pushing 0.49.1 now

[2017-01-15 19:15] engelgabriel commented on #5572
@geekgonecrazy do we  know why did they stop?

[2017-01-15 19:18] geekgonecrazy commented on #5572
@johnlund Sorry about that.  0.49.1 Revision 386 is now available.  It should automatically roll out, but if you want it sooner try: `snap refresh rocketchat-server`

@engelgabriel the macroon/token stored by snapcraft expired.  The code we have there is supposed to be refreshing it.  Either its not working, or someone signed out all other users via the ubuntu console.  At either rate i'm dropping

[2017-01-15 19:22] engelgabriel commented on #5572
I think @rodrigok signed out all other users, because he tried changing the password to test the electron build. He changed the password back to the original value, but chances are this cased signed out all other users.

[2017-01-15 19:52] Sing-Li commented on #5542
@engelgabriel it seems this issue was closed without addressing the concerns about database locking brought up by both the Sandstorm and Snap users' community.

In practice, can we say that the 'fixes' for migration problems (in later versions) will always unlock the db and update the scheme correctly - as long as all versions are updated in sequence? Thanks.

[2017-01-15 20:13] engelgabriel commented on #5542
I'll read the https://github.com/RocketChat/Rocket.Chat/blob/ad650a36f2a5cb19641ec573499f517f4c157cc9/packages/rocketchat-migrations/migrations.js again and I'll explain it better how it works here.

[2017-01-15 21:27] geekgonecrazy commented on #5543
@IQ2022 lets sync on the demo server maybe tomorrow.  And try these settings again in and old environment just to check once again that it really stopped working because of Rocket.Chat and not because of something on bluehost's end.

[2017-01-15 21:46] megabit-computing commented on #2869
This functionality is vital before we can consider using rocket Chat hosted version!

[2017-01-15 22:14] rasos commented on #5494
Meanwhile we managed to login via DDP only, handing over token in cookieJar, so we do not store the password anymore in the App.

[2017-01-15 22:29] Kiran-Rao commented on #5506
@engelgabriel
We're designing a learning platform with RocketChat as the base.

A requirement is having instructional content accessible to students (videos, text, links, etc.). We also need the ability to create/delete pages and invite/kick people from these pages. Currently, we're using read-only channels, but they are fairly ugly and unintuitive for our purposes.

We need a separate sidebar con

[2017-01-15 22:38] johnlund commented on #5572
Working now. Thanks @engelgabriel, and the rest of the Rocketchat team!

[2017-01-16 00:14] lightweight commented on #5542
I got a Rocket.Chat instance upgraded by doing the following - in my log (which I found by running docker inspect [id] | grep "log" and then I ran less +F [logfile] to watch it) I found that my database was stuck on version 66 (and was meant to be updated to 79), so I used rodrigok's suggestion, but added a bit found here: https://rocket.chat/docs/administrator-guides/database-migration/ - I ran
`

[2017-01-16 00:25] ktt9117 commented on #5517
@engelgabriel Sorry for the delay

You can test here : http://mobilechatweb1.japanwest.cloudapp.azure.com:3000
if you need administrator, use it : admin / admin

I started the main.js using pm2.

[2017-01-16 00:55] danpospisil commented on #5553
I tried to upgrade to 0.49.1 but the issue is still there.
It was definitely working before - we used to use them with my colleague a lot in our direct messages. I tried to delete the integration and set it up again but no luck.

I set debug to Info and there is this exception:
[code]

[2017-01-16 01:53] Sing-Li commented on #5572
@johnlund ... awesome!  Glad you're back in action.

For our information --  did you just do a `snap refresh` and it started working again, or did you have to do any other special procedures (such as accessing mongodb manually) ?    Thanks for the info.

[2017-01-16 03:19] Nemra1 opened #5583 "direct room names disappear from Dashboard after update"
Your Rocket.Chat version: ( latest)
After update to 49.1 icant get any direct room
![2017-01-15_053647](https://cloud.githubusercontent.com/assets/22897987/21970043/94bb6e18-dbab-11e6-883c-f8f752c60d39.png)

[2017-01-16 05:13] spathare21 opened #5584 "Can we have a capturing minutes of meeting or running meeting functionalilty in rocket chat."
Your Rocket.Chat version: (make sure you are running the latest)

As we have a functionality for running meeting in IRC chat using meetbot [](https://wiki.debian.org/MeetBot
). do we have such functionality for rocket chat. so that we can start meeting and capture the details/minutes of meetings in below format and we can send mail directly to anyone with details.

format :

#Channel Name.

Meetin

[2017-01-16 05:47] timkinnane commented on #3766
+1. I've made a series of beautiful png avatars for my bots with transparency, but they all inherit an ugly white background on upload. :(

[2017-01-16 06:54] maxdwit commented on #5556
@MartinSchoeler thank you, that worked fine.
And yes, the WebGUI ignores the selected role "guest".
Looking forward to 0.49.2.

[2017-01-16 07:59] stefanandres commented on #5482
What do you mean by is the "" expected? I'd expect \[ to be a literal \[ and not cause a server error :-)

[2017-01-16 08:51] megabit-computing commented on #3363
I can only use the call feature if this is implemented! Any ideas when development may start?

[2017-01-16 09:50] maxdwit commented on #4223
+1 for owncloud and seafile

[2017-01-16 10:25] klatys opened #5585 "Mobile Apps stuck at loading screen after files update"
Your Rocket.Chat version: 0.49.1
After updating from 0.49.0 most of our users report that updating files in mobile app causes them to get stuck on loading screen (blue fullscreen with three dots). Reinstalling the entire app (from appstore) helped to solve this issue. Anyone with same issue?
Any idea what might cause this or how to prevent it in future?

[2017-01-16 10:27] subesokun opened #5586 "User rename via admin panel throws internal server error"
Your Rocket.Chat version: 0.49.1

Seems like the username rename feature is broken again. Now some users are in an inconsistent state e.g. messages are showing the new name but direct messages channels still the old one :(

[code]

[2017-01-16 12:37] ygini commented on #5571
@Perksls I some way, your scenario isn't that bad. Some service already use OAuth as a prefill solution. It's not a really good user experience but could be OK.

Maybe Rocket.Chat+ could allow the admin to set the SSO as a source of identity and let the authentication part optional. That could fit the needs for both scenario.

[2017-01-16 12:56] engelgabriel opened #5591 "Missing error messages when uploading files of unauthorised size or type on S3"
Your Rocket.Chat version: 0.49.1

[2017-01-16 13:00] engelgabriel commented on #5583
Duplicate of https://github.com/RocketChat/Rocket.Chat/issues/5538

[2017-01-16 13:00] #5583 closed

[2017-01-16 13:01] engelgabriel commented on #5584
Maybe we can add the meetbot integration script?

[2017-01-16 13:02] engelgabriel commented on #5584
@spathare21 can you share the link to the meetbot document?

[2017-01-16 13:03] danersc opened #5592 "RocketChat returns to default language after browser refresh"
Your Rocket.Chat version: 0.48.2

RocketChat returns to the default language after selecting "pt" in the admin panel.
The error does not appear immediately, only after the user refreshes the browser.
In this way all translated terms and also labels are placed in English.

Before refresh
![screen_pt_before_refresh](https://cloud.githubusercontent.com/assets/1556959/21984067/495cd274-dbdb-11e6-9e09-

[2017-01-16 13:08] MartinSchoeler commented on #5579
Maybe related to #5225 ?

[2017-01-16 13:09] engelgabriel commented on #5585
Thanks @klatys we will investigate it.

[2017-01-16 13:10] Nemra1 commented on #5225
Yup also in demo site...

[2017-01-16 13:13] engelgabriel commented on #5579
If this only happens on screen resize, this is a duplicate of https://github.com/RocketChat/Rocket.Chat/issues/5225

[2017-01-16 13:13] #5579 closed

[2017-01-16 13:51] engelgabriel commented on #2238
@maethor please open an new issue asking for this feature.

[2017-01-16 13:51] Nemra1 commented on #5576
This is problem with z-index..u need to up number from 3 to 10

[2017-01-16 14:02] Nemra1 commented on #5572
This somthing happened with manual setup in centos6 when update my db is locked and icant get back online again but i was have backup and back to older version

[2017-01-16 14:16] graywolf336 commented on #5403
This was implemented in 0.49, the `users.list` takes a query parameter with json search. Documentation is to come.

[2017-01-16 14:16] #5403 closed

[2017-01-16 14:18] hussamEddinAlhendi commented on #5403
yeah thank you today I figure it out I'm trying to implement get info of private group by name now

[2017-01-16 14:20] graywolf336 commented on #5403
`groups.list?query={ "name": { "$regex": "g" } }` You could do something like that

[2017-01-16 14:21] Syirrus opened #5594 "Routes NOT loading in 0.49.2?"
Your Rocket.Chat version: (make sure you are running the latest)

Cannot load any route other than channels (channels load just fine). For instance, if I try to go to: /home I get the following error:

TypeError: RocketChat.TabBar.showGroup is not a function
    at v.action [as _action] (259977a….js?meteor_js_resource=true:555)
    at v.callAction (259977a….js?meteor_js_resource=true:210)
    at 2

[2017-01-16 14:23] hussamEddinAlhendi commented on #5403
I'm trying to do groups.info?roomName=testing

[2017-01-16 14:24] graywolf336 commented on #5403
Any of the `.info` require the `roomId` to be passed in.

[2017-01-16 14:29] hussamEddinAlhendi commented on #5403
yes I know

[2017-01-16 14:31] hussamEddinAlhendi commented on #5403
I did it

[2017-01-16 14:32] hussamEddinAlhendi commented on #5403
I will make my first pull request to rocket.chat

[2017-01-16 14:33] graywolf336 commented on #5403
Looking forward to it :+1:

[2017-01-16 14:56] IQ2022 commented on #5580
fyi same issue happen with running demo.rocket.chat on my phone it doesnt fit screen and UI is all over the place..

[2017-01-16 15:05] nitram opened #5596 "replace sound"
PLEASE! replace that really bad sound when joining a channel! PLEASE!

[2017-01-16 15:08] thebennos commented on #1921
And there is also a Drupal 7 version now.  Cool and thanks to Angry Cactus.

[2017-01-16 15:22] Nemra1 commented on #5580
Its same thing with last version

[2017-01-16 15:26] graywolf336 commented on #5596
Duplicate of #71 and will be resolved with #5366

[2017-01-16 15:26] #5596 closed

[2017-01-16 15:30] #5578 closed

[2017-01-16 15:35] megabit-computing commented on #3862
+1

[2017-01-16 15:44] graywolf336 commented on #5553
@danielbush Question for you. Would the giphy show up in your converstation with someone else or would it show up from `rocket.cat` user?

[2017-01-16 15:53] danpospisil commented on #5553
@graywolf336 - it would show up as the user who has send the "!gif" message. In the history I see there is a "BOT" label near the username on post with the actual gif image.

[2017-01-16 16:00] jszaszvari commented on #5441
Thanks @geekgonecrazy - it's working perfect in 0.49.2 with the new window functionality 👍 🥇

[2017-01-16 16:29] geekgonecrazy commented on #5441
@mbcote1111 / @jszaszvari can either of you confirm it works like you expect in the traditional mode also?

[2017-01-16 17:04] graywolf336 commented on #5553
@danpospisil This should be fixed in the release `v0.49.2` which will come out in a few days.

[2017-01-16 17:15] snaiperskaya96 commented on #876
Getting closed by #5597

[2017-01-16 17:16] engelgabriel commented on #5553
We decided to release `0.49.2` today, and leave what is not finished for `0.49.3`in a few days.

[2017-01-16 17:17] #5443 closed

[2017-01-16 17:45] #5576 closed

[2017-01-16 19:04] engelgabriel commented on #5594
Can you give more info? It is working on our demo server.. so I am not sure how to reproduce.

[2017-01-16 19:05] #5556 closed

[2017-01-16 19:16] graywolf336 commented on #5586
I just tested this locally, and it worked...

[2017-01-16 19:17] engelgabriel commented on #5586
@subesokun what version of MongoDB are you using?
If you try to rename again, does the problem persists?

[2017-01-16 19:21] admin-crowd-iugo commented on #5572
How many users? Approx 200+
Home many chat process? 7
Is the MongoDB running on the same machine? Yes
Is the MongoDB running in ReplicaSet mode? Yes
Can you backup your data and try with the version 0.49.1? We will likely wait until a couple of builds have passed before upgrading again.

[2017-01-16 19:23] rodrigok commented on #5558
@mddvul22 Ok, so you should enable the replicaset, we are not supporting multiple instances without replicaset enabled.

@engelgabriel We should add this warning to our change log.

[2017-01-16 19:24] admin-crowd-iugo commented on #5585
we had broken displays/CSS after updating in the mobile apps. We have downgraded now from an old backup to 0.48.2
.

[2017-01-16 19:27] graywolf336 commented on #5572
v0.49.2 is going to be released later today and it includes several bug fixes. So, if you're still on 0.49 then I recommend upgrading to that version when it comes out.

[2017-01-16 19:41] engelgabriel commented on #5558
@rodrigok agreed.

[2017-01-16 19:42] engelgabriel commented on #5558
@rodrigok can we put a warning on the ADMIN INFO?

Since we know how many process are running and we also know if the DB is on ReplicaSET mode.

[2017-01-16 19:46] rodrigok commented on #5558
@engelgabriel Yes, but what do you think about a warning on top of the application? Like the reconnect warning.

[2017-01-16 19:47] #5537 closed

[2017-01-16 19:52] johnlund commented on #5572
@Sing-Li I didn't do anything. I checked my server about an hour after the Snap push and Snap had automatically pulled 49.1 and restarted the server. Everything was working.

[2017-01-16 19:53] engelgabriel commented on #5572
We lock the database when any migration fails, and it will remain locked until a new release is installed with a possible new fix or after 5 minutes to give time for a DBA to try to fix the problem manually.

[code]

[2017-01-16 19:53] #5572 closed

[2017-01-16 19:57] engelgabriel commented on #5558
Ok if ONLY for admins... and we need to consider the process restarting flow, when it may appear as there are 2 instances when actually it is just 1 restarting.

[2017-01-16 19:57] engelgabriel commented on #5591
related to https://github.com/RocketChat/Rocket.Chat/pull/5588

[2017-01-16 20:36] tulip0 opened #5605 "Katex formatting plugin can clobber a URL in the DOM"
URLs that contain formatting which looks like TeX can cause the HTML to be overwritten by the the formatting renderer, causing a nonsense message in the channel.

`[xxx](https://xx\(spacecraft\)%23)`

![ss1](https://cloud.githubusercontent.com/assets/15009664/21998078/a907065c-dbe7-11e6-9371-d3c0b2ebbbfe.png)

![dom](https://cloud.githubusercontent.com/assets/15009664/21998163/fe3dad88-dbe7-11e6-8

[2017-01-16 20:48] #5580 closed

[2017-01-16 21:33] engelgabriel commented on #5530
@dwrensha @kentonv how does Sandstorm gets alerted that the build has finished?

[2017-01-16 21:56] rasos commented on #5566
Jitsi frame is messed up in 0.49.1
![jitsi_rc0 49 1](https://cloud.githubusercontent.com/assets/485723/22000361/faab2a04-dc3e-11e6-9a38-fcfd3503fcae.png)

[2017-01-16 23:39] rodrigok commented on #5586
I tested on my machine and it's working.

[2017-01-17 00:57] #5553 closed

[2017-01-17 03:10] littlep13 opened #5608 "Max number of Active Socket Connections"
Rocket.Chat version: 0.34.0

I'm writing a scalability tool (in C# using Net.DDP.Client) that would create more than 1000 ddp connections in a short time window in order to test the behaviour of Rocket.Chat under huge loading.

In the testing, after connecting about 1000 ddp clients (e.g. creating 1100 clients), I found that the rest of ddp clients wouldn't be able to connect anymore.

If I try to

[2017-01-17 03:59] zorenleo opened #5609 "online counter isn't not updated till the page reloads"
Rocket.Chat version: (latest version)
<img src="https://i.imgsafe.org/d94fc12b86.gif" alt="Mountain View" style="width:304px;height:228px;">

[2017-01-17 05:00] engelgabriel commented on #1921
@Sing-Li can you please add info about all this into our Docs?

[2017-01-17 05:11] Sing-Li commented on #1921
Gladly.  This is exciting development!   Thanks @jelhouss and Angry Cactus!

[2017-01-17 06:23] TheReal1604 opened #5612 "Sidebar broken on cordova / mobile"
Your Rocket.Chat version: 0.49.2

After the update to 0.49.2 the sidebar is broken for me on cordova, you can reproduce this with the following steps:

- open room
- click on any of the icons of the right sidebar
-> Sidebar is hiding

(this also happens on demo!!!)

Screenshots:

before the click:

![2017-01-17 07-21-40 3772](https://cloud.githubusercontent.com/assets/5877910/22009802/bb1d673e-dc8

[2017-01-17 06:58] ktt9117 commented on #5517
@engelgabriel The problem has not coming up at the moment. If the problem happens again, I'll report it. Thanks for your help.

[2017-01-17 07:15] zorenleo opened #5613 "ctrl+p cmd searching will display guest-* that came from the livechat client"
Rocket.Chat version: (latest version)
<img src="https://i.imgsafe.org/dc316c7ebd.png" alt="Mountain View" style="width:304px;height:228px;">

[2017-01-17 07:26] subesokun commented on #5586
@engelgabriel I'm using MongoDB version 3.2.6

Mhhh seems like then this feature is working on a clean instance of Rocket.Chat but our instance is running already quite some time and hence we've performed already many updates of Rocket.Chat. Maybe over the time some user data has been corrupted or some DB migrations after an update have failed :/ Is there some way to perform a sanity check on the

[2017-01-17 07:57] spathare21 commented on #5584
@engelgabriel  find meetbot details here [](https://wiki.debian.org/MeetBot) did't found any link about its integration with other chat applications.

[2017-01-17 09:44] KindOf opened #5614 "URL preview is broken in some cases."
Your Rocket.Chat version: 0.48.2

Preview images are broken for some urls which report metadata in a wrong way.
e.g. https://www.hooters.com - og:image meta tag content is wrong. Is there any possible way to get preview image from msapplication-Tileimage meta? Or just render message without preview image in this case.

[2017-01-17 10:08] axeloz opened #5615 "Slack import fails"
Hello at all,

I'm running Rocket.chat latest version on a brand new Ubuntu box using snaps.
The Slack import doesn't work, it freezes quite quickly. It imports 7 users, sometimes 6, sometimes 0 channel, sometimes 1 channel.
When changing page, I get an error message saying :
`The importer wasn't defined properly, it's missing the Import class`
I tried many times but no luck.

Thanks a lot,

Axel

[2017-01-17 10:16] DalePayman opened #5616 "Docs Link broken (Vagrant)"
Hi,

this one is broken: https://rocket.chat/docs/installation/automation-tools/vagrant/
maybe you can fix it.

Thx!

[2017-01-17 10:17] vpetersson commented on #1112
+1

[2017-01-17 12:06] klatys commented on #5585
FYI after updating server from 0.49.1 to 0.49.2, updating in mobile client today did not reproduce this - confirmed by multiple users.

[2017-01-17 12:10] graywolf336 commented on #5615
Please view the logs and let me know what errors occur.

[2017-01-17 12:21] Nemra1 commented on #5612
Same thing her 0.49.1+0.49.2

[2017-01-17 12:29] Nemra1 commented on #5609
Yup..same thing her

[2017-01-17 12:50] sampaiodiego commented on #4517
Livechat managers can see it by default :wink:

[2017-01-17 12:50] #4517 closed

[2017-01-17 13:30] engelgabriel commented on #5612
Sorry @TheReal1604 the code for the Cordova is the one and the same of the web app. We tested on many responsive windows, but for some reason the Cordova was differente.

@karlprieb, please prioritise this issue here.

[2017-01-17 13:58] rodrigok commented on #5586
@subesokun Can you access you database, execute a query and paste the result?

[code]

[2017-01-17 14:10] engelgabriel opened #5618 "Finish removing minicolors"
https://github.com/RocketChat/Rocket.Chat/search?utf8=%E2%9C%93&q=minicolors

I still get an error on some parts of the LiveChat module:

[code]

[2017-01-17 14:21] engelgabriel commented on #5613
@sampaiodiego not sure it is by design or a bug?

[2017-01-17 14:22] lepetitjan commented on #1808
I run the latest version and also have this problem. Can someone point me where to check?

[2017-01-17 14:23] rodrigok commented on #5586
@subesokun Sorry, that was a wrong query, the correct one is:

[code]

[2017-01-17 14:40] mddvul22 commented on #5558
Might I also suggest that something be added to https://rocket.chat/docs/installation/manual-installation/multiple-instances-to-improve-performance/  because these were the instructions I used for running multiple instances.  I don't see anything there, either, about replica set being required.

[2017-01-17 15:04] engelgabriel opened #5619 "Getting Cannot set property 'input' of undefined on demo server when changing channels"
[code]

[2017-01-17 15:24] alxrcs commented on #5166
It'd be great to be able to know at least the last IP address someone logged in from. This would allow us to deal with some kind of spammers we're having.

[2017-01-17 15:27] Sing-Li commented on #5619
I have similar exception on latest Chrome.  Trace below with some cache trace context.....

[code]

[2017-01-17 15:29] axeloz commented on #5615
Hello,

Here's what I get in journalctl when I start a migration

`
Jan 17 16:28:02 chat snap[28664]: Exception in defer callback: Error: [error-invalid-domain]
Jan 17 16:28:02 chat snap[28664]:   at /snap/rocketchat-server/398/programs/server/app/app.js:255:13
Jan 17 16:28:02 chat snap[28664]:   at /snap/rocketchat-server/398/programs/server/packages/accounts-base.js:1730:10
Jan 17 16:28:02 chat

[2017-01-17 15:35] rbasore opened #5620 "Message Count is not displaying in Rooms Tab"
Your Rocket.Chat version: (make sure you are running the latest)
The message count is not showing in the administration console. There use to be a message count for each group, room, private message etc.

[2017-01-17 15:35] graywolf336 commented on #5615
@axeloz Seems like you have domain validation enabled, as the import is failing because of `[error-invalid-domain]`. Turn it off and try again.

[2017-01-17 15:46] sampaiodiego commented on #5613
it's by design.

[2017-01-17 15:53] axeloz commented on #5615
Nice thanks. Could you please tell me how to disable domain validation?

[2017-01-17 15:53] subesokun commented on #5586
@rodrigok The query returns no records hence I think the message collection is ok.

`MongoError: The positional operator did not find the match needed from the query. Unexpanded update: mentions.$.username`

I've tried to debug it and if I run the exact same update query (see [here](https://github.com/RocketChat/Rocket.Chat/blob/c02efa2738067b3c94bd6ef6e52dd559252d68c2/packages/rocketchat-lib/serv

[2017-01-17 15:55] graywolf336 commented on #5615
Try to go to `Admin -> Accounts` and then scroll down and set `Use Default Blocked Domains List` to false and see if the import works?

[2017-01-17 15:56] axeloz commented on #5615
Yes sorry, just found it. I didn't get it was about the email domain validation. This error is a little bit misleading. Thank you for pointing me to the right direction.

[2017-01-17 15:58] soundstorm opened #5621 "Auto-delete files with zero links"
If deleting a message including a file, the file won't vanish from filesystem (in GridFS not noticeable, as you don't access it normally), even if the message is the last occurrence of a link to the file. It does no longer show up in attachment overview on the right bar, too.
So an "easy" check for number of links to a file when deleting a message would save space (especially for AWS) and may redu

[2017-01-17 16:26] rodrigok commented on #5586
The message RC is trying to update is `CvRYKmTPn8Qo8nKTe`? Can you paste the content here?

[2017-01-17 17:13] engelgabriel commented on #5615
@graywolf336 how can we make the error more clear? Or should the import by-pass the domain validation? (my opinion is that it should).

[2017-01-17 17:17] #5619 closed

[2017-01-17 17:18] #876 closed

[2017-01-17 17:44] #5612 closed

[2017-01-17 18:11] TheReal1604 commented on #5612
@engelgabriel @karlprieb thanks for the real fast fix. Until the cordova app is in heavy usage it should be better tested. :(

[2017-01-17 19:15] #5618 closed

[2017-01-17 20:34] #5558 closed

[2017-01-17 20:41] geekgonecrazy commented on #5566
@rasos this should be fixed in 0.49.2 can you try it?

[2017-01-17 20:58] engelgabriel commented on #1808
What version to you run @lepetitjan ?

[2017-01-17 21:03] lepetitjan commented on #1808
0.49.2

[2017-01-17 21:10] kajisaap opened #5628 "RocketChat currently lacks serious context/aesthetics to an email"
As much as we like staying online all the time in rocket chat and things are happening only in rocketchat windows, there are always some residual interaction that happens asynchronously in emails (_as there is valid case of email notification that goes out when somebody does @all or 1-1 message to you and you have email notification turned on_ ). Although residual, email communication should also

[2017-01-17 21:13] engelgabriel commented on #1808
What is the error in the logs?

[2017-01-17 21:15] engelgabriel commented on #5628
What would be an expected delay to group messages?

[2017-01-17 21:40] kajisaap commented on #5628
@engelgabriel I would say 5-10 minutes; because as soon as something has hit the email, it means it has become asynchronous( and the person prolly is outside of internet world ) and there is no need to do it in haste.

Grouping messages is one thing which I think also builds a context in the scenario of direct messaging but what if you are summoned in the middle of something important in a channel

[2017-01-17 22:13] engelgabriel commented on #1352
Is the Desktop app working via the same way?

[2017-01-17 22:38] Syirrus commented on #5594
It is working on the DEMO server. I have been upgrading my instance since 0.17 so things might be FUBAR'ed

I'm also getting this error:

on start up

`I20170117-17:35:29.572(-5)? Exception in defer callback: WriteError({"code":11000,"index":0,"errmsg":"E11000 duplicate key error collection: meteor.rocketchat_room index: name_1 dup key: { : \"general\" }","op":{"_id":"GENERAL","ts":"2017-01-17T22:

[2017-01-17 23:13] engelgabriel commented on #5594
@Syirrus how are you running your server? Downloading our compiled version? Docker image? What version of the DB? Is it on replicaset mode? Please share as much info as you can for use to try to help you.

[2017-01-17 23:36] Syirrus commented on #5594
@engelgabriel Sorry for the previous posts being that they were vague.
I'm running a standard heroku install of Rocket.Chat. The backend is on MLAB with oplog enabled.

When I try to run the instance on heroku all is well, but when I go to /home I just get the load screen. After about a minute or so, the left side bar will load, but the load screen is still there. If I go to a channel things load

[2017-01-17 23:59] rodrigok commented on #5594
@Syirrus Which Rocket.Chat version are you using?

[2017-01-18 00:04] engelgabriel commented on #5545
It is fixed on the after version 0.49.2

[2017-01-18 00:04] #5545 closed

[2017-01-18 00:28] zorenleo commented on #5613
@sampaiodiego I think it's by design for the `Livechat Agent` on the `Livechat Manager` on the admin side co'z it can create a direct message when I clicked those guests but I did not set an agent for this account. I thought it would be shown only if the current user is on the Livechat Agent. But correct me if I'm wrong Sir. Thank you.

[2017-01-18 00:28] engelgabriel commented on #5511
@jakimfett can you confirm if the problem was solved on version `0.49.2`?

[2017-01-18 00:36] #5620 closed

[2017-01-18 00:37] rodrigok commented on #5538
Closed via https://github.com/RocketChat/Rocket.Chat/commit/f2978b37ba09986f6552595b6ad5346275d359b1

[2017-01-18 00:37] #5538 closed

[2017-01-18 00:50] rodrigok commented on #5592
Can you help us to reproduce the error?

The user who see the error is the same that changed the admin setting? What was the personal language preference of that user? It was set?

[2017-01-18 01:32] #5592 closed

[2017-01-18 02:30] engelgabriel commented on #5166
We need to create this with a setting, and probably a discloser message on the login page.

[2017-01-18 02:33] #5591 closed

[2017-01-18 02:51] kentonv commented on #1352
@engelgabriel I don't think the desktop app was ever updated in the same way the mobile apps were. :/

[2017-01-18 03:43] spathare21 opened #5632 "Video calling and screen/session sharing functionality."
Your Rocket.Chat version: (make sure you are running the latest)

ca we have video calling and screen sharing functionality with rocket chat, like hangout call. as rocket chat is quite similar to slack channel and i think slack do not have calling and screen sharing functionality.
if we add that in rocket chat it will be an added advantage. and will help to increase the users.

this funtionality s

[2017-01-18 03:56] Nemra1 commented on #5632
we need too add call ringtone first
to now we dont have call ringtone

[2017-01-18 03:56] #2812 closed

[2017-01-18 03:59] engelgabriel commented on #1352
@kentonv we have been working a lot on getting the Electron apps built and publish more widely, maybe is a good time to focus on fixing the issues? What do you recommend @rodrigok to do so it works as the Cordova apps do?

[2017-01-18 04:41] wandonye opened #5633 "Method "rooms/get" doesn't exist"
Your Rocket.Chat version: (48.2)

The method listed here doesn't exist:
https://rocket.chat/docs/developer-guides/realtime-api/method-calls/get-rooms

The doc is outdated.
However I can get what I wanted with "subscriptions/get".

[2017-01-18 04:51] timkinnane commented on #2255
Found another one. `rocketchat-ui-master` calls a package method of `rocketchat-iframe-login` which may be disabled. Have submitted PR to resolve with package enabled conditional. PR #5634

[2017-01-18 06:05] zorenleo opened #5635 "Error warning on the admin info page"
Rocket.Chat version: (latest)
After upgrading to 0.49.3 I've got this error on the admin info page.
<img src="https://i.imgsafe.org/f04f89caa5.png" alt="Mountain View" style="width:304px;height:228px;">

[2017-01-18 06:07] subesokun commented on #5586
[code]

But I think the content is ok. Maybe something is broken with our MongoDB instance, code-wise everything looks ok so far.

[2017-01-18 06:43] Nemra1 opened #5636 "i cant start setup developer version !"
Your Rocket.Chat version: ( latest)

start to clone
git clone https://github.com/RocketChat/Rocket.Chat.git
cd Rocket.Chat
meteor npm start
===================================
 meteor --allow-superuser

`Even with METEOR_ALLOW_SUPERUSER or --allow-superuser, permissions in your app
directory will be incorrect if you ever attempt to perform any Meteor tasks as
a normal user. If you need to fix your

[2017-01-18 07:29] hExPY opened #5637 "Oplog Error even its enabled"
Your Rocket.Chat version: 0.49.3

Hey guys,

since updating to version 0.49.3 the Info page tells me that oplog in replica set is disabled even its enabled.
[code]

Do you maybe know whats wrong there?

Kind regards,

[2017-01-18 07:39] subesokun commented on #5586
Migrated DB onto an other MongoDB running version 3.2.10 but still having the same problem.

[2017-01-18 07:55] subesokun commented on #5586
@rodrigok Does the following work for you on your local instance?

1.) Create new user someuser
2.) Login as someuser
3.) Create a room "test" and invite someuser + your admin user into it
4.) Write a message from admin user to someuser in the test room e.g.
   `@someuser Hello World`
5.) Try to rename someuser to someotheruser

This throws for me also the same mongo update.

[2017-01-18 07:59] maethor commented on #2238
So… I need to open a new issue with exactly the same subject, instead of reopening this one? OK :smile:

[2017-01-18 08:06] rasos commented on #5566
Yes I can confirm that Jitsi frame integration is fixed in 0.49.2. The fix was not in the release notes, though.

[2017-01-18 08:09] maethor opened #5638 "Allow users to disable "away" and "no longer away" sounds"
To quote @ulope in #2238

The solution proposed in this issue was to disable « new room notifications », but we cannot do that, because we really need the new room notification for the livechat. So it would be really nice to be able to really disable "away" and "no longer away" sounds, or maybe to disable the "automatic away" feature. In fact, I am never away, I'm just running my chat in the backg

[2017-01-18 08:43] DalePayman opened #5640 "GitLab Integration failes with "body-empty" error"
Your Rocket.Chat version: 0.46.0

Hi,

i want to have GitLab Integration in RocketChat - so i followed your documentation here:
https://rocket.chat/docs/administrator-guides/integrations/gitlab
there are two scripts. One directly on the site and one in github.

I tryed both - but i get the same error.

If i start the curl-call from the Example i get this error message back:
`{"success":false,"erro

[2017-01-18 10:19] axeloz commented on #5615
@engelgabriel agreed, this setting should be ignored

[2017-01-18 10:22] axeloz opened #5642 "Change user role"
Hello,

Using Rocket latest version : when you create a new user, the field "role" appears in the form. However, this field doesn't appear when editing a user.
So my question is : how do you change an existing user's role?

Thanks

[2017-01-18 11:13] engelgabriel commented on #5635
Do you have multiple instances of Rocket.Chat running?
Is your MongoDB configured on ReplicaSET mode?

[2017-01-18 11:17] sampaiodiego commented on #5638
@maethor as I said on #2238 rocket.chat doesn't have "away" and "no longer away" sounds.

if you are facing it, it's a bug I cannot reproduce.. can you please give us more detail?

[2017-01-18 11:17] engelgabriel commented on #5642
This is a known issue. Since the user can have multiple roles, it the only UI built so far os inside each role ou can add and remove users from it. This is far from ideal, and it is planed to be fixed.

[2017-01-18 11:18] antgel opened #5643 "Per-user settings for role tags"
Your Rocket.Chat version: 0.48.1

We've disabled role tags site wide as per #2950. However, the pull request added the setting globally, even though its title was "Create global and personal settings". So this is a feature request to allow per-user overrides. Thanks in advance.

[2017-01-18 11:25] sampaiodiego commented on #5613
agreed, it should show only to livechat agents and managers.

I'll change the issue title accordingly.

[2017-01-18 12:23] maethor commented on #5638
OK, that's funny :smile:

So, it's quite simple. After some time of inactivity (I don't know, maybe 5 minutes?), my account automatically pass "away" (orange label, etc.). When it happens, I get a sound.

When I get the focus back on the window, my account automatically pass "connected" (green label), and I get this sound again.

The sound seems to be the same as the "new room" sound.

I'm using t

[2017-01-18 12:25] #5635 closed

[2017-01-18 12:48] sampaiodiego commented on #5638
ok.. can you contact me on demo server? looks like you have some inconsistency on your subscription data. please use this link to contact me: https://demo.rocket.chat/direct/diego.sampaio

[2017-01-18 12:49] maethor commented on #5638
I just talk about this with some coworkers, and it seems I have another unexpected ding dong that they don't have. When I close the rocket chat tab, and reopen it, I have the same ding dong just after the loading.

OK, I am coming on demo.rocket.chat.

[2017-01-18 12:52] ulope commented on #5638
Just to weigh in @sampaiodiego helped me resolve this back in #2238.

In my case the culprit was somehow broken subscription data.

Running the following command in the browser console:
`JSON.stringify(ChatSubscription.find({open:true, ls:{$exists:false}}).fetch(), null, '  ')`
should return an empty list. If it doesn't exit and re-join the room(s) it lists and the bug should be gone.

[2017-01-18 13:02] #5416 closed

[2017-01-18 13:11] maethor opened #5645 "Stucking livechat inquiry"
After trying the livechat while being logged in another tab of the same brother, one of the livechat get stucked in "incoming livechat". I was the only one seeing it (my coworkers didn't), and I was unable to close it.

The only solution was to find it and remove it directly in mongodb. Thanks gain @sampaiodiego for this fix :smile:

{ "_id" : "qxj632HQHEy6tHnKy", "rid" : "xZLRsbDxd8XS3QjnM", "mes

[2017-01-18 13:12] reetp commented on #5422
FYI it is still there in 0.49.3

[2017-01-18 13:13] maethor commented on #5638
Doesn't seems to be the same problem @ulope. But thanks :smile:

Big thanks to @sampaiodiego who solved it. I open a new issue #5645.

[2017-01-18 13:13] #5638 closed

[2017-01-18 13:22] snaiperskaya96 commented on #604
Hi!
I've come out with a solution (see referenced issue).
The idea is basically to create a guest user automatically (We need a physical user due to the massive user checks), assign him guest role and eventually delete it when the session is over.

Again, we actually need to make an account for the anonymous user, cannot avoid it, there are too many checks.

Let me know 😄

[2017-01-18 13:56] graywolf336 commented on #5636
Use a different user other than root to build.

[2017-01-18 13:56] #5636 closed

[2017-01-18 13:57] Nemra1 commented on #5636
idont have any another user..just root account

[2017-01-18 13:59] graywolf336 commented on #5636
Then create one, meteor doesn't allow you to build and run as root.

[2017-01-18 14:02] Nemra1 commented on #5636
@graywolf336 Thx u.. im trying now

[2017-01-18 14:48] dwrensha commented on #5530
@engelgabriel could you clarify what you mean by "build"?

When a grain is started up, [`sandstorm-http-bridge` repeatedly tries to `connect()`](https://github.com/sandstorm-io/sandstorm/blob/v0.199/src/sandstorm/sandstorm-http-bridge.c%2B%2B#L2226-L2256) to the [Meteor process](https://github.com/sandstorm-io/meteor-spk/blob/1f8b77f2c2dd82e42705247ea5eaa485bbb77367/start.js#L94-L100), enqueuing a

[2017-01-18 15:30] jszaszvari commented on #5632
There is screen sharing and video calling through the JITSI solution which is working well as of the latest release (for the desktop clients)

The only thing that would make it a  'call' would be if you could change the message sound for the video call to be something different rather than the default message sound.

[2017-01-18 16:04] elfrinjo opened #5648 "Room admin panel broken"
Your Rocket.Chat version: 0.49.2

For a channel or message an admin is not member of, the attached panel will be shown in the room-list.
It seems to be a default panel without delete button and the customization for direct-messages (removal of topic, type, etc.)

This was still ok in 0.48.2

![image](https://cloud.githubusercontent.com/assets/25196347/22071623/04c67cac-dda0-11e6-9f8b-82e6a7ac012c.

[2017-01-18 16:19] karlprieb commented on #5125
Hi @VedranOP This is still happening?

[2017-01-18 16:33] Nemra1 commented on #5636
another error

=> Started proxy.
=> Started MongoDB.
=> Exited from signal: SIGKILL
=> Exited from signal: SIGKILL
=> Exited from signal: SIGKILL
=> Your application is crashing. Waiting for file change.
Unexpected mongo exit code null. Restarting.
sh: line 1: 29870 Killed                  meteor

npm ERR! Linux 2.6.32-042stab105.14
npm ERR! argv "/home/livenemra1/.meteor/packages/meteor-tool/.1.4

[2017-01-18 16:50] graywolf336 opened #5650 "Server Side File Uploads"
Right now the only way to upload files to the server's configured upload system (s3, file system, or database) is via the client, however we now have requirements to upload files via the server to whatever is configured for the server from features such as the importers, rest api, and slack bridge.

[2017-01-18 16:50] graywolf336 commented on #2877
Depends on #5650

[2017-01-18 17:33] graywolf336 commented on #5471
`users.getAvatar` will be added, however if you want to get the customFields then you will need to do a `users.info` and if you want to update their customFields then you will need to update the user and add that information.

[2017-01-18 17:34] MikeDaniel18 commented on #658
I'm slightly confused, this seemed to have a lot of attention from the Rocket.Chat team in late 2015, but it doesn't seem to have been implemented. Has it?

[2017-01-18 17:52] flantascience commented on #604
Does that mean that we can only have a single guest on the site at a time?
Or is a new user created each time?  Will this leads to a huge and growing
list of guest users or will they be removed after a certain point?

Jim Flannery

jim-flannery.com
p. 860-212-8862
e. jim@jim-flannery.com
s. jim_flannery

On Wed, Jan 18, 2017 at 8:22 AM, Jury Verrigni <notifications@github.com>
wrote:

[2017-01-18 18:07] #5225 closed

[2017-01-18 18:09] snaiperskaya96 commented on #604
No, of course you can have multiple guests at the same time, and the guest account will get deleted once logged out

[2017-01-18 18:33] engelgabriel commented on #5648
Please upgrade to version `0.49.3`

[2017-01-18 18:36] engelgabriel commented on #5637
Did you set the environment variable `MONGO_OPLOG_URL`?

Meteor won't be able to use the OpLog without it.

[2017-01-18 18:37] lepetitjan commented on #1808
Nothing...no errors...You mean at /admin/view-logs right?

[2017-01-18 18:37] engelgabriel commented on #5637
@hExPY please reopen if this is not the case.

[2017-01-18 18:37] #5637 closed

[2017-01-18 18:42] engelgabriel commented on #5648
Please reopen if the problem still exists for you on version `0.49.3`

[2017-01-18 18:42] #5648 closed

[2017-01-18 18:51] Nemra1 commented on #5650
i hope to add upload to external ftp server like cdn server with ftp:ip@port:21@username:@password

[2017-01-18 18:58] Nemra1 commented on #5635
its same thing is her i have only one rc not many
![2017-01-18_205716](https://cloud.githubusercontent.com/assets/22897987/22078498/cc366d40-ddc0-11e6-8150-9cb3991fe129.png)

[2017-01-18 19:12] rodrigok commented on #5306
@RomanKisilenko Can you update your server to the latest RC version (0.49.3 currently) and see if the issue still occurs?

[2017-01-18 19:18] elfrinjo commented on #5648
Ups, sorry. That was a typo in my original post. Actually I am on 0.49.3.

The update from 0.49.2 to 0.49.3 solved the issue that the rooms table did not show "foreign" rooms but the admin panel still has some issue.

[2017-01-18 19:25] elfrinjo opened #5652 "Room admin panel broken"
Your Rocket.Chat version: 0.49.3

For a channel or message an admin is not member of, the attached panel will be shown in the room-list.
It seems to be a default panel without delete button and the customization for direct-messages (removal of topic, type, etc.)

This was still ok in 0.48.2 and broke with 0.49.0 or later.

(Reopening #5648)
Ups, sorry. That was a typo in my original post. Actually

[2017-01-18 19:28] engelgabriel commented on #3402
Can you please test with version `0.49.3`?

[2017-01-18 19:28] graywolf336 commented on #5633
That method is only valid in version 0.49 and later ones.

[2017-01-18 19:28] #5633 closed

[2017-01-18 19:30] engelgabriel commented on #167
MOst of the features have been done, the missing part is indeed #1112

[2017-01-18 19:30] #167 closed

[2017-01-18 19:40] engelgabriel commented on #1112
https://slackhq.com/threaded-messaging-comes-to-slack-417ffba054bd#.jseyendl4

![image](https://cloud.githubusercontent.com/assets/1000217/22080039/335cbdd8-dda5-11e6-9ec9-2e495eb19537.png)

[2017-01-18 19:49] engelgabriel commented on #45
We decided to go another direction, where people add Rocket.Chat as a IFRAME and control it via APIs, so I think we should close this issue.

[2017-01-18 19:49] #45 closed

[2017-01-18 19:49] engelgabriel commented on #5462
See https://github.com/RocketChat/Rocket.Chat/issues/346 too.

[2017-01-18 19:51] engelgabriel commented on #632
@rodrigok can we use https://ci.appveyor.com/project/RocketChat/rocket-chat for this?

[2017-01-18 20:12] graywolf336 commented on #5507
@howellsd What browser are you using? As with Chrome, I'm not able to even click in the new password field.

[2017-01-18 20:16] rodrigok commented on #5482
@stefanandres only `[` is working for me and `\\[` is working too.

[code]

Why do you to pass `\[`?

[2017-01-18 20:17] rodrigok commented on #5482
@stefanandres only `[` is working for me and `\\[` is working too.

[code]

Why do you to pass `\[`?

[2017-01-18 20:20] engelgabriel commented on #322
@Sentinelrv did you achieve what you wanted with oAuth?

[2017-01-18 20:24] howellsd commented on #5507
I’m using Chrome 55.0.2883.95 (64-bit) and testing with RocketChat 0.48.2.  I can definitely click in the password field, modify it and save it.

[cid:411B1F46-0F55-40F3-A243-3A916B098E64@udev.six3]

[cid:B2A33904-0448-4E21-8336-8C36D3871720@udev.six3]

On Jan 18, 2017, at 1:12 PM, Bradley Hilton <notifications@github.com<mailto:notifications@github.com>> wrote:

@howellsd<https://github.com/howel

[2017-01-18 20:25] engelgabriel commented on #1680
Some links:
https://github.com/mitar/vue-test
https://github.com/meteor/blaze/issues/131
https://github.com/Akryum/vue-meteor-tracker/issues/3
https://vue-loader.vuejs.org/en/configurations/pre-processors.html

[2017-01-18 20:30] #5376 closed

[2017-01-18 20:37] graywolf336 commented on #5507
![image](https://cloud.githubusercontent.com/assets/850391/22082000/14842362-ddad-11e6-9a97-95522db2c8ed.png)
That will now be shown and the server won't allow it as well when #5655 is merged.

[2017-01-18 20:37] rodrigok commented on #5293
The problem of this issue was resolved?

[2017-01-18 20:40] rodrigok commented on #5312
@Abraka Are your processes running in the same machine?
Are you using docker to run each process?
Are you using ports 3001 and 3002?

[2017-01-18 20:40] #5586 closed

[2017-01-18 20:49] #5501 closed

[2017-01-18 20:51] #4396 closed

[2017-01-18 21:03] #5507 closed

[2017-01-18 21:05] #5614 closed

[2017-01-18 21:12] engelgabriel commented on #5615
@RocketChat/core should this setting be ignored?

[2017-01-18 21:17] Abraka commented on #5312
Are your processes running in the same machine? - yes
Are you using docker to run each process? - no, Im running "MONGO_URL=mongodb://localhost:27017/rocketchat MONGO_OPLOG_URL=mongodb://localhost:27017/local?replicaSet=001-rs ROOT_URL=http://localhost/ PORT=3001 /usr/bin/node /opt/Rocket.Chat/main.js &" 2x with different port, just like in documentation
Are you using ports 3001 and 3002? - yes

[2017-01-18 21:27] subesokun commented on #5586
Awesome, thanks for fix :)!

[2017-01-18 21:59] rodrigok commented on #5312
@Abraka Strange, can we talk via chat? Call me at https://demo.rocket.chat/direct/rodrigo.nascimento

[2017-01-18 21:59] geekgonecrazy commented on #5615
That or try to alert them that there are some with invalid domains ahead of time.

[2017-01-18 22:26] IQ2022 commented on #5566
this is broken.. doesnt work
![image](https://cloud.githubusercontent.com/assets/12454319/22085713/4608fbec-dda3-11e6-99eb-9c0f1eab51f6.png)

No MIc, no Camera no Desktop sharing
Rocket chat 49.2

[2017-01-18 22:29] rodrigok commented on #5581
@Nemra1 Yeap, we are not sending the user list within the room's information, we are getting that list only when users open the users tab. That turns the load of channels faster.

We can think in a solution, maybe send the first 20 users, or send users when the list is not large, etc. Or we can get the user's list after getting the room's data, then users can start chatting while we are downloadin

[2017-01-19 00:00] rasathus opened #5659 "Cannot find module 'fibers' after 0.48.2 -> 0.49.3"
Whilst attempting to upgrade from 0.48.2 to 0.49.3, I've run into an issue where rocket chat will not start, and simply outputs the following ...

[code]

I was keen to upgrade as the current 0.48.2 install is very slow, with both instances permanently pinned at 100%.

There seem to be a number of tickets refering to issues with 'fibers', but most recommend upgrading to a version older than the cu

[2017-01-19 00:27] zorenleo commented on #5613
@sampaiodiego Alright Sir thank you, you're amazing.

[2017-01-19 00:51] garg commented on #604
Thanks! I'll try this out soon. Looks promising!

[2017-01-19 01:39] Nemra1 commented on #5581
@rodrigok blv me when i said im trying evry rocket chat version. .and specific version 44.0 its more faster for video call ..switch between  rooms..get userlist..specifc userlist...no mistake in this version .....but..some options not work like add custom emojj or restart server button. ..to now this options not fixed after all updates ...blv me i need to update for new add ones in higher versions

[2017-01-19 02:41] Sing-Li opened #5661 "Upload via GridFS broken"
Your Rocket.Chat version: 0.50.0-develop  latest

Can no longer upload images via drag and drop
![screen shot 2017-01-18 at 9 32 43 pm](https://cloud.githubusercontent.com/assets/122633/22091776/bfce42e8-ddc6-11e6-9ae8-30e2fcaa99d8.png)
, see screen capture:

[2017-01-19 03:47] Sing-Li commented on #5661
This might be the problem - `localhost` :

![screen shot 2017-01-18 at 10 45 18 pm](https://cloud.githubusercontent.com/assets/122633/22092999/fa3d361a-ddcf-11e6-986a-ef9335c6fa02.png)

[2017-01-19 04:09] Sing-Li commented on #5661
Tested on 0.49.3 - same problem.

[2017-01-19 05:24] akachapati commented on #5585
I'm getting same problem with 0.49.3. Anybody else?

[2017-01-19 05:28] akachapati opened #5662 "Cannot mention users"
Your Rocket.Chat version: 0.49.3

In the latest version of Rocket.Chat, I am getting a strange issue where I cannot mention some members in a room. When I type in a person's username, it doesn't appear in search. But if I correctly type in the full name, in the chat message it appears like a mention.
Didn't see anything in permissions that influence this. Could this be a bug with the latest releas

[2017-01-19 06:54] maxdwit opened #5663 "Room Info's "Private" Toggle is Incorrect on Load/Refresh"
Your Rocket.Chat version: 0.49.3

Create a private channel as user in the web gui with the "Channel  (+)" symbol on the top right.
Open up the "(i)" icon on the top right in this channel.
Look at the "private" setting. It isn't on.
Flip the private switch.
As administrator look at the room list for this chat ( look in private channels and normal channels ).
When you find it, select it.
On the righ

[2017-01-19 07:23] TheReal1604 commented on #5661
Its working for me on my 2 Setups with 0.49.3 but i get the same as shown above from @Sing-Li

![image](https://cloud.githubusercontent.com/assets/5877910/22097237/52b421fa-de20-11e6-8fdf-caa79dd69eb1.png)

[2017-01-19 07:36] Momie opened #5664 "Correct bug in REST API when try to update group settings"
After update setting of target group some endpoint try to find room by bad _id to put it in response

[2017-01-19 07:43] TheReal1604 commented on #5585
On my multinode deployment 0.49.3 all went fine. Updating the mobile clients works as expected..

[2017-01-19 07:50] himbeere opened #5665 "Error: OpLog (ReplicaSet) should be enabled when running multiple instances"
Your Rocket.Chat version: 0.49.3

Hello Devs. I get "Error: OpLog (ReplicaSet) should be enabled when running multiple instances" after upgrading to 0.49.3 on info page. Should i be worried?

![bildschirmfoto 2017-01-19 um 08 47 46](https://cloud.githubusercontent.com/assets/631865/22097945/0b781806-de24-11e6-81d2-8977add4d660.png)

[2017-01-19 07:51] himbeere commented on #5665
Oh. For your information. There is only one instance running currently.

[2017-01-19 08:32] stefanandres commented on #5482
I don't "need" to pass it, but still a server should not throw errors for this input, IMHO

[2017-01-19 09:58] elfrinjo commented on #5665
In my case, this vanished after a the first restart of mongo and rocketchat.

[2017-01-19 10:08] hkmoon commented on #4223
+1 for owncloud!

[2017-01-19 10:09] antgel opened #5667 "Stick with initial username for OAuth registration"
Your Rocket.Chat version: 0.48.1

Hi,

We allow login exclusively by Google OAuth, and don't allow users to change their usernames. So user Joe Smith gets username joe.smith by default. However upon registration, the user is given a chance to change the username - not having read our internal RC docs, some users do this, which causes logistical problems later. It would be great to have an option,

[2017-01-19 10:39] himbeere commented on #5665
Just tried on my test machine. You are right. One have to restart mongodb. But i think this still qualifies as bug, no?

thanks and cheers

[2017-01-19 10:49] hExPY commented on #5637
HI @engelgabriel,

i just added the Environment="MONGO_OPLOG_URL=mongodb://USERNAME:PASSWORD@SERVER:27017/admin?replicaSet=001-rs" to the systemd file. The problem here is that we're using seperate server for DB and rocket chat.
We secured the DB to only accept connections from authorized users. Therefor i tried to create a user for the local db but mongodb does not accept creating users in the lo

[2017-01-19 11:00] #5652 closed

[2017-01-19 11:06] #5383 closed

[2017-01-19 11:48] Mte90 commented on #5564
yes is very annoying

[2017-01-19 12:04] Mte90 commented on #5665
I confirm the problem but after a reload of mongo and rocketchat I continue to have that error.
I used `service stop mongod` and start. Any suggestions?

[2017-01-19 12:04] urbanpt commented on #658
No it hasn't. I haven't found anything besides [this commit](https://github.com/jaypanares/Partitioned-Rocket.Chat/commit/2b04cc488a8f655b3309da0b1c630585858ee794) mentioned in #630.

[2017-01-19 12:30] himbeere commented on #5665
I had to try a few times start and stop mongodb and rocketchat. At some point the error eventually disappeared.

[2017-01-19 12:32] Mte90 commented on #5665
I done twice, before killing the process and next with the service.
It was a process running from 70 days was a big unpleasure command :-(

[2017-01-19 13:05] Sing-Li commented on #5661
Fixed on the latest HEAD (edge snap).   So I'm closing this for now.  If anyone else see this problem, please reopen or post follow-ups.

[2017-01-19 13:05] #5661 closed

[2017-01-19 13:24] rpieszko commented on #1268
Hello,

When did you think that this feature will be released ?
We use Rocket.Chat in our company and most of people are looking for setting as default all notifications on every chat rooms.
Thanks in advance.

[2017-01-19 13:26] graywolf336 commented on #4154
We are now ready to test out Zapier, so if someone is interested in testing it [consider yourself invited](https://zapier.com/developer/invite/32270/7c3feadc825db6ae9023ea2983e88875).

[2017-01-19 13:44] graywolf336 commented on #5664
Please expound on what you mean with examples.

[2017-01-19 13:48] graywolf336 commented on #5665
@rodrigok

[2017-01-19 14:01] graywolf336 commented on #5471
@naguchennai What's the expected result when calling `users.getAvatar`?

[2017-01-19 14:14] #5664 closed

[2017-01-19 14:16] naguchennai commented on #5471
Sorry we not going to use Rocket chat.. Rest api missing lot of function even register user also.. thank u.. i will back after one year .. then i will see what u added .. sorry to say this bye

[2017-01-19 14:23] VedranOP commented on #5125
@karlprieb everything works fine! Sorry for delayed answer.

[2017-01-19 14:23] #5125 closed

[2017-01-19 14:24] hExPY opened #5669 "OPLog Option with external DB Server and Auth in Mongodb"
Your Rocket.Chat version: 0.49.3

(Reopens #5637)

HI @engelgabriel,

i just added the Environment="MONGO_OPLOG_URL=mongodb://USERNAME:PASSWORD@SERVER:27017/admin?replicaSet=001-rs" to the systemd file. The problem here is that we're using seperate server for DB and rocket chat.
We secured the DB to only accept connections from authorized users. Therefor i tried to create a user for the local db b

[2017-01-19 14:24] IQ2022 commented on #5609
issue persist after upgrading 49.3 user list doesn't update... its actually frustrating.. i dont know who is online or not.. i'd say this is important..

[2017-01-19 15:12] graywolf336 commented on #5471
@naguchennai Do you mind still answering my question? What is the expected return value that you would expect when calling `/api/v1/users.getAvatar`?

[2017-01-19 15:19] karlprieb commented on #5662
Hi @akachapati did you have erros on your console?

[2017-01-19 15:20] naguchennai commented on #5471
Lol .. When u use this /api/v1/users.setAvatar  we need /api/v1/users.getAvatar right?
i expect what i Set using users.setAvatar i need get return value with users.setAvatar.. or what?

[2017-01-19 15:32] akachapati commented on #5662
Here are a few things I noticed.
If I am logged in as an administrator, I am able pull up everyone in the room when mentioning someone. So for example @username pulls up all matching users as I fill in the term.
When I am logged in to the same room as a normal user, I am not able to tag some of the users. But strangely, once they come online, I am able to search, tag them again.

Could this be rel

[2017-01-19 15:35] tntobias commented on #5659
@rasathus This is usually due to some failure with npm dependencies. I'd start with an `npm cache clean` followed by a `npm install` in the pathToRC/programs/server directory. Make sure you're at NodeJS 4.7.1 (a new requirement for 0.49+) and npm 3 or better.

[2017-01-19 15:45] engelgabriel commented on #5558
Sorry for not being clear.

The resolution is that if you have multiple process, you must use OpLog, otherwise the system will go out of sync.

But we also fixed some minor bugs for the cache on single instances without OpLog :)

[2017-01-19 15:46] graywolf336 commented on #5471
So, you expect the value to not be `json` but instead be an actual image? If so, then that is avaiable via `/avatar/graywolf336` and should *not* be part of the rest api.

[2017-01-19 16:24] Doctor-Who commented on #533
Same here, I gonna kick Office 365 for internal communication and use RocketChat because it's the best features of what we could expected.
But security fail and unresolvable crash of MongoDB just make me choose Mattermost in the future :(
I hope this project will be achieved and allow me to reconsiderate my choice.

[2017-01-19 16:32] telmich commented on #533
I think what would be helpful for all users, if the developers of Rocketchat could comment on a possible timeline for this feature.

[2017-01-19 16:45] mddvul22 commented on #5558
Got it, thanks!

[2017-01-19 17:29] MartinSchoeler opened #5672 "Extract individual API tests to separate files"

[2017-01-19 17:32] al1k commented on #4891
Same problem in 0.49.3

[2017-01-19 17:37] jdashn commented on #324
I too would like to see this changed. Is there any chance of this moving forward soon? With our org using LDAP, and our usernames being what they are.. this would allow us to move from testing RocketChat to USING RocketChat -- Would a bounty help?

[2017-01-19 17:38] engelgabriel opened #5673 "Ctrl-Enter doesn't insert a newline in post"
Shift+enter works.. we just need to allow Ctrl+enter too.

[2017-01-19 17:38] pachox opened #5674 "Mocha failed"
Version: 0.50.0-develop
i'm running TEST_MODE=true meteor, then in another shell meteor npm run chimp-test

it fails with:
  242 passing (4m)
  65 pending
  15 failing
Mocha failed

npm ERR! Linux 3.16.0-4-686-pae
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "chimp-test"
npm ERR! node v4.5.0
npm ERR! npm  v2.15.9
npm ERR! code ELIFECYCLE
npm ERR! Rocket.Chat@0.50.0-develop chimp-

[2017-01-19 18:07] MartinSchoeler commented on #5674
@pachox could you show me the tests that failed? The errors with numbers, like this :
[code]

[2017-01-19 18:14] engelgabriel commented on #5667
We can have a setting for that, but not just on the registration, we should be on the profile too.

[2017-01-19 18:17] MartinSchoeler opened #5676 "Ensure that each API group only contains one end point (eg. /chat API should not be in groups - use before to setup groups instead for each test)"

[2017-01-19 18:29] pachox commented on #5674
here you go.
thanks a lot.

 1) Main Elements Render side nav bar render should show the new channel button:
     AssertionError: expected false to be true

  2) Main Elements Render side nav bar render should show the plus icon:
     AssertionError: expected false to be true

  3) Main Elements Render side nav bar render should show the new direct message button:
     AssertionError: expected fal

[2017-01-19 18:30] MartinSchoeler opened #5677 "Remove references to browser from 'it' blocks"
All browser refs should be in helpers/pageobjects.

[2017-01-19 18:32] pachox commented on #5674
here you can find a travis session too:
https://travis-ci.org/pachox/Rocket.Chat/builds/193206070

[2017-01-19 18:38] engelgabriel commented on #5674
@pachox you have removed the env variables

[code]

So you are using the Meteor internal DB, and it is being cached between builds...

You need to put the variables back, or do a `meteor reset` before starting your tests.

[2017-01-19 18:38] #5674 closed

[2017-01-19 18:41] MartinSchoeler opened #5678 "Reset permissions after testing"
Sometimes when you finish a test the permissions dont go back to their default state thus making some of the next tests fail

[2017-01-19 18:42] engelgabriel commented on #5669
How many instances Rocket.Chat says that are running on the Admin -> Info page?

[2017-01-19 18:45] engelgabriel commented on #5669
@rodrigok can we improve the message to explain that:

[2017-01-19 18:48] engelgabriel commented on #5665
https://github.com/RocketChat/Rocket.Chat/commit/3217739a9d5a5a6c02c9186dd0d99af3c37a4c84 was meant to improve this.

[2017-01-19 18:52] engelgabriel commented on #5665
FYI, is you DO have more than 1 instance, yes, you MUST have OpLog configured.

The issue is that when you restart the instance, it takes a while to detected that the previews instance is actually gone, so it shows 2... we fixed that for the next version.

[2017-01-19 18:52] #5665 closed

[2017-01-19 18:58] pachox commented on #5674
they are there, look:
**From Travis:**
 "global_env": "DISPLAY=:99.0 CXX=g++-4.8 HrPOM5sBibYkMcf9aeQThYPCDiXeLkg0Xgv0HvH88/ku/gphDpNEjHNReHZM3cyfm9y3RhHpVdD+Zzy38S2goKyewRzpXJsuyerOYkjND0v3tivhs9CAX8PAUxj1U5zllTyH4bgW2ZwRtNnwnmtIM/JJlnySMpKVDqIZBpbhn3ph9bJ2J+BW3D3Jw8meQ1vCX8szIibyJK/5QX6HG2RBFXJGYoQ8DmR8jQv0aJQvT1Az5DO4yImk8tX4NP95qOc19Jywr1DsbaSBZeJ8lFJAmBpIGx7KAmUVCcxSxfbXGRhs2K4iEYb3rJ/dU6KiyPs

[2017-01-19 18:58] pachox commented on #5674
I've tried a meteor reset too, still no joy:

109 passing (8m)
  63 pending
  40 failing

  1) User Creation create user:
     Error: An element could not be located on the page using the given search parameters.
      at LoginPage.gotToRegister (tests/pageobjects/login.page.js:26:23)
      at Context.<anonymous> (tests/steps/03-user-creation.js:49:13)
      at node_modules/chimp/dist/lib/utils/fi

[2017-01-19 19:07] engelgabriel commented on #5577
Thanks @a-abella please open a new issue if the problem happens again. I'll close this one as we have already to many to track ourselves. 😄

[2017-01-19 19:07] #5577 closed

[2017-01-19 19:17] engelgabriel commented on #3929
@codyaray when you switch storage options, the avatar ar not moved from one to the other (yet). What version of the server are you using now?

@jeffreywescott can you help us fix this with more into about your deployment? That is how we make open source become better to compete with proprietary solutions :)

[2017-01-19 19:20] engelgabriel commented on #5530
Yes, sorry.. I meant IS UP. Seems that the request for the CSS happens before Meteor had the chance to add it to static assets.

[2017-01-19 19:22] engelgabriel commented on #4738
@rodrigok is the documentation for this ready?

[2017-01-19 19:34] engelgabriel commented on #2728
This information on this thread is already added to our docs. Thanks for your contributions!

[2017-01-19 19:34] #2728 closed

[2017-01-19 19:41] engelgabriel commented on #3929
This don't seem to be a Rocket.Chat specific issue:

https://jira.mongodb.org/browse/NODE-281

[2017-01-19 19:50] rodrigok commented on #5482
There is no way to return a better message. That is a limitation of the library we are using now, for that we need to change the library or submit a PR with some changes, unfortunately the project does not had much changes recently.

There is a PR implementing the feature needed here https://github.com/kahmali/meteor-restivus/pull/225

[2017-01-19 20:16] engelgabriel opened #5679 "Renaming rocketchat:lib to rocketchat:core"
Possibly moving some code from packages into that so its more obvious which code is absolutely core vs optional add-ons. Only the `rocketchat:core` should be required and it should have all its dependencies, and all the other packages should be optional.

[2017-01-19 20:17] engelgabriel commented on #2255
@timkinnane let's create a new issue for it: https://github.com/RocketChat/Rocket.Chat/issues/5679

[2017-01-19 20:17] #2255 closed

[2017-01-19 22:08] rodrigok commented on #5662
@akachapati Can you send us a screen shoot of your permissions page?

[2017-01-19 22:09] rodrigok commented on #5662
I tried locally and can't reproduce this behavior

[2017-01-19 22:12] rodrigok commented on #5669
@engelgabriel the current message is:
[code]

What about this one?
[code]

[2017-01-20 00:27] Nemra1 opened #5680 "what is command line to build from developer version !"
Your Rocket.Chat version: (lastest)
Today  finaly i'm finished from edit Custom Rocket Chat Version and iwant release The Finaly Version but idont know how !
 Example : http://192.168.1.10:3000
how to build ?

[2017-01-20 01:09] engelgabriel commented on #5669
**Error: Oplog tailing is required when running multiple instances.**
*Please verify if ReplicaSet is enabled on your MongoDB and MONGO_OPLOG_URL environment variable is defined correctly on the application server.*

[2017-01-20 01:23] butaman commented on #604
@snaiperskaya96 Thanks a lot.

Just an idea, it would be nice if there is option to set display name at login screen for guest user.
because we may get confusing if a lot of guest-xxxx users join at the same time.

[2017-01-20 01:51] Kiran-Rao opened #5681 "Test: Require Password Confirmation set to false breaks login tests"
Your Rocket.Chat version: 0.50.0-develop

When Require Password Confirmation is set to false in the DB, almost all the tests fail. We can write a work-around, but that's a band-aid solution. We really should be using mocks for our database in test mode.

Are there specific mocks packages we should use with mocha/jasmine?

[2017-01-20 01:53] #5681 closed

[2017-01-20 01:56] Kiran-Rao commented on #5678
The real solution to this would be setting up db mocks for each test. That way, each test will operate with a mock database containing only the components required. It will not only solve this problem, but this whole class of problems in the future.

[2017-01-20 03:24] zorenleo opened #5682 "can't delete uploaded file even if Admin side"
Rocket.Chat version: (latest)
<img src="https://i.imgsafe.org/18225cf68f.gif">

[2017-01-20 03:44] akachapati commented on #5662
@rodrigok Thank you for looking into this. Screenshot is attached.

Please try following steps to recreate the issue
1) Add a new user to your server, set email as verified. Add said user to a room
2) Log in as a regular user, go to same room
3) Try to mention the newly added user who's yet to log in. When you hit @[username] the search box doesn't pop up with suggestions
<img width="450" alt="per

[2017-01-20 03:47] akachapati commented on #2588
+1

[2017-01-20 03:54] Kiran-Rao commented on #5682
What are your current permission settings?

[2017-01-20 04:08] garg commented on #604
@butaman Shouldn't they just register for an account if they want a username?

@snaiperskaya96 I fetched the pull request to a newly cloned rocket.chat project:

And then ran the allow-anonymous-access branch with 'meteor npm start', but I get the following:

[code]

Checking out and running the master or develop branches works just fine though. Is this a bug or have I patched the code incorrectly

[2017-01-20 05:05] butaman commented on #604
@garg ah,  I quite forgot that main purpose of this issue is not guest access but anonymous access. changing username is not very important thing here.

However, my idea was from @rodrigok's suggestion

and Skype guest access.

https://support.skype.com/en/faq/FA34572/how-do-i-join-a-skype-conversation-using-the-link-i-received

In addition, I simply think it may looks ugly if there were a lot of

[2017-01-20 05:40] timkinnane opened #5683 "Don't require user exist in a public room to add other users"
0.49.3

Question for core team, mostly @marceloschmidt - Is there a strong reason for requiring that a user calling `addUserToRoom` *must* be a member of the room.

I have two uses cases I'm writing, 1st: automated workflows were a bot will drop people in a room at the end of an interaction. 2nd: provisioning scripts for new instances that will create rooms and add users according to a pre-defined

[2017-01-20 05:43] zorenleo commented on #5682
@Kiran-Rao this is my current permission settings
<img src="https://i.imgsafe.org/1a2ecd148a.png">

[2017-01-20 05:46] timkinnane commented on #5683
Actually, in the case where the user calling the method is an admin, would it be bad to allow adding users to private rooms too (where the admin is not a member)? I think I need that for the provisioning scenario. I can just do that on my fork without a PR though if it's not desired in core.

[2017-01-20 05:50] timkinnane commented on #5683
F.M.I There's also an uncaught exception on that line when there's no users in the room...
`Exception while invoking method 'addUserToRoom' TypeError: Cannot read property 'indexOf' of undefined` - Will hopefully fix that with same PR.

[2017-01-20 06:05] crackcomm commented on #604
@butaman guests can be hidden later on

[2017-01-20 07:49] hExPY commented on #5669
HI @engelgabriel

rocket chat is telling me that two instances are running.
Btw: i got this exception
[code]

Which is fine for me. So iam not able to configure oplog with my conditions? (external db with auth only)

[2017-01-20 07:50] snaiperskaya96 commented on #604
@butaman you won't be able to see that a guest has joined the default channels, also they cannot write so the normal user cannot see lots of "guest-xx" has joined or has wrote.
Anyway I could just add an option to let guests show their name, no problem I think

[2017-01-20 07:52] snaiperskaya96 commented on #604
@garg that happened to me a few times but it's not branch related. Can you test it in a brand new installation?

[2017-01-20 07:59] snaiperskaya96 commented on #604
Sorry for the comment spam but looks like I cannot edit comments from my phone.
Try with `git clone https://github.com/snaiperskaya96/Rocket.Chat` and `git checkout allow-anonymous-access`

[2017-01-20 08:18] himbeere opened #5684 "nodejs 6.9.2"
Your Rocket.Chat version: 0.49.3

Hello Devs.

To my big surprise rocketchat is running fine with nodejs 6.9.2. Do you recommend running rocketchat with that nodejs version?

thanks and cheers

[2017-01-20 09:56] vallabh-linux opened #5685 "This is not working"
Your Rocket.Chat version: (make sure you are running the latest)
Trying to setup with camera logitech C310 but on production (Ubuntu 16) Rocketchat meteor command is not working.Its not showing option to setup or install after login through monitoring user in location room at installed camera machine.

[2017-01-20 10:39] snaiperskaya96 commented on #1615
@timandovo Feel free to increment the bounty :)
I'm looking forward to work on this

[2017-01-20 11:09] graywolf336 commented on #5685
Sorry, but I don't understand the problem. If you need support for Rocket.Chat's usage, please join us on the community server's [#support channel](https://demo.rocket.chat/channel/support).

[2017-01-20 11:09] #5685 closed

[2017-01-20 11:15] graywolf336 commented on #5683
I would say that a new permission `add-user-to-room-always` or something of that sort would be a good addition and then use that to check, as I agree with you it would be nice to have for admins and privileged users like staff.

[2017-01-20 11:17] graywolf336 commented on #5680
Checkout out [.travis.yml](https://github.com/RocketChat/Rocket.Chat/blob/develop/.travis.yml) or look at [meteor's documentation](https://docs.meteor.com/commandline.html#meteorbuild).

[2017-01-20 11:17] #5680 closed

[2017-01-20 11:19] graywolf336 commented on #5682
Is that your own message or someone else's?

[2017-01-20 11:21] timandovo commented on #1615
Is there anybody else in this thread willing to contribute towards the bounty?
There are a huge number of us who see this as a vital feature, let's get it sorted!!!

[2017-01-20 11:24] rccerezuela opened #5686 "iOS & Android App not refreshing channels until you close and reopen de App"
Your Rocket.Chat version: (make sure you are running the latest)

[2017-01-20 11:35] engelgabriel commented on #5684
Hi, we need to follow Meteor JS recommendation, as this is the framework we use, so `4.7.0` 😄

[2017-01-20 11:35] #5684 closed

[2017-01-20 12:11] graywolf336 commented on #5682
The fix has been submitted as a pull request. This was only happening when trying to delete others messages which contained files. It would delete the message but would error out at removing the file.

[2017-01-20 12:21] engelgabriel commented on #5686
Hi @rccerezuela, when opening an issues, you need to give more info, as it is working for the rest of us, so without any info we won't be able to help you.

You must list the server version, number of instances, mongodb version, replicaset mode, mobile app platform and version too.

[2017-01-20 12:21] #5686 closed

[2017-01-20 12:27] Rohlik commented on #3127
ImageMagick is not distribute with Rocket.chat so I think that everyone can update their ImageMagick by themselves.

[2017-01-20 12:30] engelgabriel commented on #5678
@Kiran-Rao we are creating the mock data for the new unit tests, but the end-to-end test we want to run on a empty db as a fresh install.

[2017-01-20 12:41] graywolf336 commented on #5663
Basically the information pane on a private group doesn't show the correct value for the "Private" toggle. Can be seen on the demo server in any private group you're in. The private toggle is not "true" when it should be due to the value it is checking is actually a string and not a boolean.

[2017-01-20 12:48] graywolf336 commented on #5621
Deleting the message which the file was uploaded at does delete the file, however if an error occurred while deleting the message then the file could have not been deleted. Would a check to see if the message the file was posted with and the channel it was posted in exists to qualify deleting the file?

[2017-01-20 12:52] rasos commented on #3413
Group Video with WebRTC still not working in 0.49.2.
1-1 works, also Jitsi works, but the latter is difficult to install.

[2017-01-20 12:56] graywolf336 commented on #726
@drickerusa Not currently, but we would love to have pull request to enabled this.

[2017-01-20 13:01] engelgabriel commented on #5659
How are you deploying? Are you building from source?  @rasathus is right, this is usually a NPM install or update missing.

[2017-01-20 13:08] engelgabriel commented on #5609
@zorenleo @Nemra1 @IQ2022 we are working on this, but you don't need to refresh the page, you can simple close/open the members list.

[2017-01-20 13:24] oliver-bowman opened #5688 "Zoom Resets."
Rocket.Chat server version: (0.49.3)
Number of instances: (4)
MongoDB in Replicaset mode: (yes)

The issue in question is a bug when a user zoom out to make the text smaller so that they can fit more text on screen utilising screen space better, this is fine for every channel apart from the general channel, if a user visits the general channel their zoom level resets to its original value. I can r

[2017-01-20 13:25] rasathus commented on #5659
I've just updated npm to 4.0.5 , purged the npm cache and it seems to have deployed successfully.

[code]

And rocket chat now runs up.  I've still got the 100% cpu issues I was see'ing before, but I'll join the other ticket for that.

Thanks for the help